[2020-08-03 16:05] kthyng commented on #2501
Hi @thejasvibr. Thank you for your submission. However, while your software does indeed look useful research software, the JOSS editorial board has determined that it does not meet the bar of [_substantial scholarly effort_](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

If you continue to develop this work, we would be happy to reconsider it as a submission

[2020-08-03 16:05] kthyng commented on #2501
@whedon reject

[2020-08-03 16:05] whedon commented on #2501
Paper rejected.

[2020-08-03 16:05] #2501 closed

[2020-08-03 16:07] danielskatz commented on #2351
@whedon accept

[2020-08-03 16:07] whedon commented on #2351
[code]

[2020-08-03 16:08] whedon commented on #2351
[code]

[2020-08-03 16:08] whedon commented on #2351
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1616

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1616, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 16:09] danielskatz commented on #2351
@whedon accept deposit=true

[2020-08-03 16:09] whedon commented on #2351
[code]

[2020-08-03 16:09] kthyng commented on #2508
Hi @minaskar. Thank you for your submission. However, the JOSS editorial board has determined that it does not meet the bar of [_substantial scholarly effort_](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

If you continue to develop this work, we would be happy to reconsider it as a submission in the future.

[2020-08-03 16:09] kthyng commented on #2508
@whedon reject

[2020-08-03 16:09] whedon commented on #2508
Paper rejected.

[2020-08-03 16:09] #2508 closed

[2020-08-03 16:09] whedon commented on #2351
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1290319006134665217) 👈 🐦🐦🐦

[2020-08-03 16:09] whedon commented on #2351
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1617
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02351](https://doi.org/10.21105/joss.02351)
2. If everything looks g

[2020-08-03 16:10] danielskatz commented on #2394
@whedon accept

[2020-08-03 16:10] whedon commented on #2394
[code]

[2020-08-03 16:11] whedon commented on #2394
[code]

[2020-08-03 16:11] whedon commented on #2394
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1618

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1618, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 16:11] kthyng commented on #2518
Hi @wouterbeukema. Thank you for your submission. However, the JOSS editorial board has determined that it does not meet the bar of [_substantial scholarly effort_](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).
If you continue to develop this work, we would be happy to reconsider it as a submission in the future.

[2020-08-03 16:11] kthyng commented on #2518
@whedon reject

[2020-08-03 16:11] whedon commented on #2518
Paper rejected.

[2020-08-03 16:11] #2518 closed

[2020-08-03 16:12] danielskatz commented on #2351
Thanks to @dghoshal-lbl & @uellue for reviewing!

Congratulations to @muhrin (Martin Uhrin) and co-author!

[2020-08-03 16:12] danielskatz commented on #2351
@openjournals/dev - the DOI works but the PDF doesn't seem to load - can you check?

[2020-08-03 16:14] danielskatz commented on #2394
@whedon accept deposit=true

[2020-08-03 16:14] whedon commented on #2394
[code]

[2020-08-03 16:15] whedon commented on #2394
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1290320308856119296) 👈 🐦🐦🐦

[2020-08-03 16:15] whedon commented on #2394
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1619
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02394](https://doi.org/10.21105/joss.02394)
2. If everything looks g

[2020-08-03 16:16] KristinaRiemer commented on #2424
I agree with both of the reviewers that the community guidelines could use some improvement. Adding a CONTRIBUTING such as the one you linked to above @kullrich would be useful. Do note that contribution guidelines are separate, though complementary, to a code of conduct like the Contributor Covenant.

[2020-08-03 16:18] danielskatz commented on #2394
Thanks to @eirini-zormpa & @wjakethompson & @jflournoy for reviewing and @oliviaguest for editing!

Congratulations @OttaviaE (Ottavia M. Epifania) and co-authors!!

[2020-08-03 16:18] danielskatz commented on #2394
@openjournals/dev  - while the DOI is resolving, the PDF does not seem to load - can you check?

[2020-08-03 16:19] minaskar commented on #2508
Hi @kthyng thank you for reviewing our work. Could you please elaborate exactly which requirement it does not meet?

According to the docs that you mentioned:

hank is almost 500% faster than existing methods, significantly easier to use, and  trivially simple to configure. An analysis that would usually take a few hours to complete can be done in a matter of minutes using hankl. Furthermore, the

[2020-08-03 16:21] labarba commented on #2394
GitHub pages sometimes has delays refreshing. This is normal.

[2020-08-03 16:26] whedon commented on #2497
:wave: @chadagreene, please update us on how your review is going.

[2020-08-03 16:27] mbobra commented on #2349
@openjournals/joss-eics This paper is ready for final processing!

[2020-08-03 16:31] kthyng commented on #2123
Thanks @josephhardinee! Sounds great!

[2020-08-03 16:42] kthyng commented on #2508
Hi @minaskar. A JOSS submission needs to be a substantial scholarly effort, as in, the equivalent effort of a traditionally publishable unit in research and/or academics. The link I posted gives guidelines, for example:

Your submission has 321 lines of Python code, which is just above the desk reject level but still very small for a JOSS submission. Note that there are other great ways to publish

[2020-08-03 16:43] alexjonesphd commented on #2523
Hi all,

I installed the package fine via pip on a clean conda environment (3.7; Mac OS Mojave), got all the dependencies, but was seeing some import errors surrounding XGBoost, possibly due to OpenMP runtime. I've raised an issue on the code repo -[https://github.com/ronikobrosly/causal-curve/issues/15].

I've no experience of working with homebrew but my own poking around leads me to believe Ope

[2020-08-03 16:45] danielskatz commented on #2522
👋 @brunaw - after discussion between the JOSS editors, we've come to a consensus that your submission, while being research software, is not a sufficient enough contribution for JOSS - see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort.  We encourage you to consider JOSS at a later time if more effort and code goes into this software, or alternatively, consider

[2020-08-03 16:45] danielskatz commented on #2522
@whedon reject

[2020-08-03 16:45] whedon commented on #2522
Paper rejected.

[2020-08-03 16:45] #2522 closed

[2020-08-03 16:53] blsqr commented on #2316
@arfon We can't seem to reach @lorenanicole via this channel. As far as I see, we would need to get her feedback on the manuscript before we can proceed to make a release and upload a snapshot of dantro to zenodo.

[2020-08-03 16:54] ronikobrosly commented on #2523
Hi @alexjonesphd , thanks for raising this. The XGBoost package does require OpenMP: https://xgboost.readthedocs.io/en/latest/build.html#building-on-osx

I'm of two minds on this. On one hand XGBoost is a really nice ML package that is pretty widely used, but on the other hand maybe better to stick to a ML approach here that doesn't have that requirement you raised. I guess there are a couple opti

[2020-08-03 17:07] danielskatz commented on #2524
@joliencremers - after some editor discussion, we have decided that this submission is not a large enough contribution for JOSS to review it - see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. We encourage you to consider JOSS at a later time if more effort and code goes into this software, or alternatively, consider publishing the software to Zenodo to get a

[2020-08-03 17:07] danielskatz commented on #2524
@whedon reject

[2020-08-03 17:07] whedon commented on #2524
Paper rejected.

[2020-08-03 17:07] #2524 closed

[2020-08-03 17:09] danielskatz commented on #2525
@quishqa - after some editor discussion, we have decided that this submission is not a large enough contribution for JOSS to review it - see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. We encourage you to consider JOSS at a later time if more effort and code goes into this software, or alternatively, consider publishing the software to Zenodo to get a DOI th

[2020-08-03 17:09] danielskatz commented on #2525
@whedon reject

[2020-08-03 17:09] whedon commented on #2525
Paper rejected.

[2020-08-03 17:09] #2525 closed

[2020-08-03 17:14] danielskatz commented on #2492
I'm going to mark this as rejected based on the discussion above.

[2020-08-03 17:15] danielskatz commented on #2492
@whedon reject

[2020-08-03 17:15] whedon commented on #2492
Paper rejected.

[2020-08-03 17:15] #2492 closed

[2020-08-03 17:16] alexjonesphd commented on #2523
Hey @ronikobrosly, no problem, sorry to raise the issue, the package looks great and was excited to play with it!

My own take would be as follows, though feel free to disagree:
 - I think that the use of a less tricky to install gradient boosting implementation would make the package more widely accessible to the community. Typically I think most users would want something that installs easily wi

[2020-08-03 17:27] ronikobrosly commented on #2523
It's no problem at all to raise this @alexjonesphd . I hear you. I'll go ahead and try swapping out XGBoost for `sklearn`'s boosting algorithm.

Is this completely blocking your installation and the rest of your review? If it is, I'll try to get to this ASAP (but it might be next weekend).

If you're able to install this and complete the review, is it okay if I hold off on revisions until I get th

[2020-08-03 17:41] alexjonesphd commented on #2523
Afraid so @ronikobrosly - I got the XGBoost error on line 1, e.g.

`from causal_curve import GPS` throws the error. I don't know how much the package relies on XGBoost, I can tweak the code to prevent it importing and review the materials if required. Otherwise, happy to wait, and maybe @cmparlettpelleriti has other points!

[2020-08-03 17:52] danielskatz commented on #2429
@janash - sorry for the delay - after some editor discussion, we have decided that this submission is not a large enough contribution for JOSS to review it - see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. We encourage you to consider JOSS at a later time if more effort and code goes into this software, or alternatively, consider publishing the software to Z

[2020-08-03 17:52] danielskatz commented on #2429
@whedon reject

[2020-08-03 17:52] whedon commented on #2429
Paper rejected.

[2020-08-03 17:53] ronikobrosly commented on #2523
Ok in that case no worries @alexjonesphd , I'll swap out XGBoost soon and will keep you updated 👍

[2020-08-03 17:54] danielskatz commented on #2539
I'm instead going to mark this as withdrawn, but feel free to resubmit once you have a repo and paper complete.  Submit with the repo that contains the paper, please.

[2020-08-03 17:54] danielskatz commented on #2539
@whedon withdraw

[2020-08-03 17:54] whedon commented on #2539
Paper withdrawn.

[2020-08-03 17:54] #2539 closed

[2020-08-03 17:55] danielskatz commented on #2469
@whedon reject

given no response from the authors

But feel free to resubmit if you make the requested changes in the future.

[2020-08-03 17:55] whedon commented on #2469
Paper rejected.

[2020-08-03 17:55] #2469 closed

[2020-08-03 17:58] danielskatz commented on #2452
@vahid-sb - given 25 days with no response from you, I am going to mark this as rejected.

Feel free to resubmit after fixing the problem - If you do so, please mention this issue when you resubmit

[2020-08-03 17:58] danielskatz commented on #2452
@whedon reject

[2020-08-03 17:58] whedon commented on #2452
Paper rejected.

[2020-08-03 17:58] #2452 closed

[2020-08-03 17:59] danielskatz commented on #2466
@vahid-sb - I'm also rejecting this for the same reason - no response in 24 days...

[2020-08-03 18:00] danielskatz commented on #2466
@whedon reject

[2020-08-03 18:00] whedon commented on #2466
Paper rejected.

[2020-08-03 18:00] #2466 closed

[2020-08-03 18:02] danielskatz commented on #2488
@tbrown122387  - I'm going to mark this as withdrawn, but please feel free to resubmit once you have made the changes discussed above.

[2020-08-03 18:02] danielskatz commented on #2488
@whedon withdraw

[2020-08-03 18:02] whedon commented on #2488
Paper withdrawn.

[2020-08-03 18:02] #2488 closed

[2020-08-03 18:25] erinyoung commented on #2334
@lskatz ,

I'm actually still having issues downloading sneakernet.

I second the opinion to move everything to docker (https://github.com/lskatz/SneakerNet/issues/41)

There are too many hidden dependencies for the source install. I tried `make test`, and first encountered that I was missing `Config/Simple.pm`, then `Bio/FeatureIO/gff.pm`, then it couldn't find the path to mlst and a few other to

[2020-08-03 18:26] jonwong12 commented on #2372
@rram84 Sorry. I was trying to use DVRlib of a sample un-optimiezd mesh I have lying around a few weeks ago. I got a little distracted, but I should be able to verify in the next 2 to 3 days.

[2020-08-03 19:44] VivianePons commented on #2515
@whedon re-invite as reviewer

[2020-08-03 19:44] whedon commented on #2515
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-03 19:44] VivianePons commented on #2515
@whedon re-invite @fruzsinaagocs as reviewer

[2020-08-03 19:44] whedon commented on #2515
OK, the reviewer has been re-invited.

@fruzsinaagocs please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-03 20:16] teamPSG commented on #2377
Thank you very much @trisbek!
And thanks @oliviaguest for keeping an eye on things!

[2020-08-03 20:21] pibion commented on #2363
@whedon generate pdf

[2020-08-03 20:21] whedon commented on #2363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02363/joss.02363/10.21105.joss.02363.pdf)

[2020-08-03 20:33] csoneson commented on #1992
@richardjgowers - do you have any additional comments for @Sulstice? Thanks!

[2020-08-03 20:37] chainsawriot commented on #2521
@whedon generate pdf

[2020-08-03 20:37] whedon commented on #2521
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02521/joss.02521/10.21105.joss.02521.pdf)

[2020-08-03 20:51] chainsawriot commented on #2521
Thank you so much for the revision, @mdsteiner. Both the paper and the software look fine to me now.

Back to you @fboehm .

[2020-08-03 20:56] danielskatz commented on #2351
now it's there.

[2020-08-03 20:56] #2351 closed

[2020-08-03 20:56] whedon commented on #2351
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02351/status.svg)](https://doi.org/10.21105/joss.02351)

**We need your help!**

Journal of Open Source Softwa

[2020-08-03 20:57] danielskatz commented on #2394
It's now there!

[2020-08-03 20:57] #2394 closed

[2020-08-03 20:57] whedon commented on #2394
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02394/status.svg)](https://doi.org/10.21105/joss.02394)

**We need your help!**

Journal of Open Source Softwa

[2020-08-03 20:57] danielskatz commented on #2472
This is now there!

[2020-08-03 20:57] #2472 closed

[2020-08-03 20:57] whedon commented on #2472
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02472/status.svg)](https://doi.org/10.21105/joss.02472)

**We need your help!**

Journal of Open Source Softwa

[2020-08-03 20:58] danielskatz commented on #2349
@whedon accept

[2020-08-03 20:58] whedon commented on #2349
[code]

[2020-08-03 20:59] whedon commented on #2349
[code]

[2020-08-03 20:59] whedon commented on #2349
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1620

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1620, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 21:06] danielskatz commented on #2349
@mdmurbach - I notice the zenodo software author list has more people than the JOSS paper author list - is this intentional?  normally, we expect them to be the same, but this is not required.

[2020-08-03 21:07] danielskatz commented on #2349
@mdmurbach - can you also add countries to your affiliations in the author list?

[2020-08-03 21:10] danielskatz commented on #2349
@mdmurbach - in the paper:
- The journal for Hunter should be Computing in Science & Engineering (the & is missing)
- for Rodrigues et al. Should A.C. be in caps in the title?

[2020-08-03 21:18] muhrin commented on #2351
Dear @danielskatz , @dghoshal-lbl , and @uellue , thank you so much for your contributions to getting this work published, you have helped to improve not only the manuscript but the kiwiPy itself.  All the very best,
-Martin

[2020-08-03 21:35] mdmurbach commented on #2349
@danielskatz great catch on these. Thanks! 😄

- I've added the `&` to the Hunter paper
- a.c. is not capitalized in the original [Rodrigues reference](https://www.sciencedirect.com/science/article/abs/pii/S0378775399003511?via%3Dihub), so I left that as is
- added the countries to the author list
- Fixed the Zenodo affiliations to match

[2020-08-03 21:38] arfon commented on #2347
@whedon set 10.5281/zenodo.3970854 as archive

[2020-08-03 21:38] whedon commented on #2347
OK. <a href="https://doi.org/10.5281/zenodo.3970854" target="_blank">10.5281/zenodo.3970854</a> is the archive.

[2020-08-03 21:39] arfon commented on #2347
@whedon set v0.1.0 as version

[2020-08-03 21:39] whedon commented on #2347
OK. v0.1.0 is the version.

[2020-08-03 21:40] arfon commented on #2347
@whedon accept

[2020-08-03 21:40] whedon commented on #2347
[code]

[2020-08-03 21:40] whedon commented on #2347
[code]

[2020-08-03 21:40] whedon commented on #2347
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1621

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1621, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 21:42] arfon commented on #2347
@openjournals/joss-eics - this paper is ready to publish once we have the AAS DOI.

/ cc @crawfordsm

[2020-08-03 21:54] lnferris commented on #2497
@kthyng Just to confirm I don't need to be doing anything on my end, correct?

[2020-08-03 22:07] astrom-tom commented on #2308
I will do it this week.

[2020-08-03 22:12] ronikobrosly commented on #2523
@alexjonesphd , I just merged a PR that removes XGBoost as a dependency. We're now using `sklearn`'s `GradientBoostingClassifier` and `GradientBoostingRegressor`. It's a tad slower but the results look basically the same. It should also be easier to install this now 👍 👍

Feel free to pip install the latest version (now it's 0.3.4)

[2020-08-03 22:18] kbarnhart commented on #2292
@whedon remove @dickinsonre as reviewer

[2020-08-03 22:18] whedon commented on #2292
OK, @dickinsonre is no longer a reviewer

[2020-08-03 22:18] kbarnhart commented on #2292
@whedon generate pdf

[2020-08-03 22:18] kbarnhart commented on #2292
@whedon check references

[2020-08-03 22:18] whedon commented on #2292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02292/joss.02292/10.21105.joss.02292.pdf)

[2020-08-03 22:19] whedon commented on #2292
[code]

[2020-08-03 22:22] alexjonesphd commented on #2523
That was fast @ronikobrosly! The no-rest-until-code-is-fixed bug, I know it well! Just clean installed it and importing `GPS` worked fine. I'll go through the examples tomorrow (in the UK!). Thanks for fixing so quickly, though sorry to hear its a little slower!

[2020-08-03 22:26] kthyng commented on #2497
@lnferris Looks like you've addressed the comments that have come in, so just wait for more input from the reviewers once they get going.

Friendly ping to @chadagreene and @castelao about this review.

[2020-08-03 22:33] fboehm commented on #2521
Thank you, @chainsawriot ! Just to verify - are you content with the documentation around community guidelines?

Thanks again!

[2020-08-03 22:35] fboehm commented on #2521
@jacobsoj - please let me know if you have any questions during your review. Thanks again!

[2020-08-03 22:37] janash commented on #2429
Hi @danielskatz and @richardjgowers  - Thank you for your consideration on this paper.  In your requirements for publication, I see that you have guidelines about code length. I understand that in general a smaller number of lines of code may represent less effort. However, for this project, a small(er) number of lines indicates careful consideration and design (or effort).

I disagree that the nu

[2020-08-03 22:52] kbarnhart commented on #2292
@katmratliff - we are now at the final stage of the JOSS process. PySWMM is a fantastic contribution to surface water modeling and I am excited to see it published in JOSS.

Attached is a PDF with some inline comments. [10.21105.joss.02292_barnhart_edits.pdf](https://github.com/openjournals/joss-reviews/files/5019179/10.21105.joss.02292_barnhart_edits.pdf) Edits/comments pertain to copyediting, re

[2020-08-03 22:56] kbarnhart commented on #2361
@tylunel I wanted to check in again and see if you were planning on revising `pvpumpingsystem` for review at JOSS.

[2020-08-03 22:58] kbarnhart commented on #2276
@KevinShook I wanted to check in and see how things were going with addressing the issues raised by reviewers. Know that JOSS doesn't have a required timeline for revisions, but it would be helpful for me to know an approximate time frame.

[2020-08-03 23:02] kbarnhart commented on #2407
@sadielbartholomew thanks for the update and these comments. No worries about timeframe, you and @rabernat have been very punctual with your reviews (JOSS also is striving to be realistic and understanding about how COVID-19 has impacted reviewer and author availability).

[2020-08-03 23:04] chainsawriot commented on #2521
@fboehm The documentation around community guidelines looks fine to me. Really sorry that I have forgotten to check the box. The box is now checked. Thank you very much!

[2020-08-03 23:19] danielskatz commented on #2349
@whedon accept

[2020-08-03 23:19] whedon commented on #2349
[code]

[2020-08-03 23:20] whedon commented on #2349
[code]

[2020-08-03 23:20] whedon commented on #2349
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1622

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1622, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 23:21] danielskatz commented on #2349
@whedon accept deposit=true

[2020-08-03 23:21] whedon commented on #2349
[code]

[2020-08-03 23:22] whedon commented on #2349
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1290427908738166785) 👈 🐦🐦🐦

[2020-08-03 23:22] whedon commented on #2349
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1623
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02349](https://doi.org/10.21105/joss.02349)
2. If everything looks g

[2020-08-03 23:29] danielskatz commented on #2349
Thanks to @ma-sadeghi, @EricaEgg for reviewing, and @mbobra for editing!

Congratulations to @mdmurbach (Matthew D. Murbach) and co-authors!!

(I will close this issue once the PDF appears, which has been taking a little longer than normal lately)

[2020-08-03 23:36] stemangiola commented on #2472
Thanks a lot to everybody for the efforts and time spent here! I will surely add my name to the reviewer list.

[2020-08-03 23:42] KevinShook commented on #2276
Thanks very much for keeping in touch.
We have almost completed the conversion of the GUI from Python 2 to 3.
Once the tested is complete then the rest of the issues should be fairly simple to address.
I have started editing the paper itself, and the requested clarifications seem to be relatively easily addressed.
Barring unforeseen issues, I would anticipate completion sometime this month.

[2020-08-04 00:09] mdmurbach commented on #2349
Wonderful! Big thanks again for all of your time, @ma-sadeghi, @EricaEgg, @mbobra and @danielskatz! This was an awesome review process all around :smile:

:confetti_ball:  congrats @BGerwe, @nealde, and @lktsui!! :tada:

[2020-08-04 00:15] KMountris commented on #2543
@whedon generate pdf

On Mon, Aug 3, 2020 at 5:24 PM whedon <notifications@github.com> wrote:

--
*Konstantinos* *∴ Mountris, Ph.D.* <https://www.mountris.org>

*Personal Website:  www.mountris.org <https://www.mountris.org>
<https://www.mountris.org>*

*Position:*   Post-Doctoral Fellow at BSICoS GROUP
                   Biomedical Signal Interpretation and Computational
Simulation
*Team:*

[2020-08-04 00:16] whedon commented on #2543
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02543/joss.02543/10.21105.joss.02543.pdf)

[2020-08-04 00:57] #2349 closed

[2020-08-04 00:57] whedon commented on #2349
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02349/status.svg)](https://doi.org/10.21105/joss.02349)

**We need your help!**

Journal of Open Source Softwa

[2020-08-04 01:09] sara-02 commented on #2507
Hye @xillig there is no fixed process, you can keep incorporating the changes as they are suggested or wait for other reviewers to chime in as well. However, if we incorporate the changes on the go, then it will be easier for others when they start reviewing it, they will start from the improved version.

[2020-08-04 01:37] jkanche commented on #2410
Hi @lpantano , I opened an issue on the Vilme repo, once they are figured/answered, I can get back to the review

[2020-08-04 02:24] Xunius commented on #2407
Thanks, I'll think about these. Do you mind if I copy your comments to a new issue in the IPART repo, just to make it easier for me get back to them later?
Regarding Point 3. The major reason for using the time, lev, lat, lon ordering is that the reanalyses seem to follow this (e.g. the sample ERA-I data included in the notebooks, and the MERRA2 which the ARTMIP community tries to make a standard

[2020-08-04 02:35] leouieda commented on #2236
@d-chambers thank you for implementing the changes. I'll search for a second reviewer a little longer still. Unfortunately, I'll be out of office until September but will resume as soon as I get back. I appreciate your patience these past months.

@anowacki thank you for the quick response 👍

[2020-08-04 02:37] leouieda commented on #2236
/ooo August 4 until September 7

[2020-08-04 04:24] Xunius commented on #2407
* I have made the change from `CDAT` to `netCDF` in joss paper in [this commit](3a4a6fc303b65468f78051ae82d864ec1d7c5e65). I guess we should call the bot to rebuild the PDF?

@whedon generate pdf

* Those missing API documentation pages are not back: https://ipart.readthedocs.io/en/latest/AR_detector.html.
* Thanks for your PR regarding the joss paper fixes. I've merged it.

[2020-08-04 06:50] JamesPaynter commented on #2536
@grburgess That is very interesting! I know you are working mostly with Fermi, but do you know / can you comment if that (spectral-folding) would have been done by the BATSE team during the creation of the bfits light-curves? For example, when I was first playing with the time-tagged photon data for a burst I am interested in, I binned it (summing 3 triggered detectors) with the time bins of the c

[2020-08-04 06:56] JamesPaynter commented on #2536
Looking at your tutorials, I am at the stage of
`# We can check the count spectrum of the detectors, e.g.`
`det_sl['n5'].view_count_spectrum();`
in this tutorial
https://github.com/grburgess/gbm_drm_gen/blob/master/examples/tte_balrog_tutorial.ipynb
with three triggered detectors.

[2020-08-04 07:34] mancellin commented on #2018
Overall, this is a very nice package. The documentation is extensive, the package is easy to install and works as expected.

I have some issues running simulations on GPU, but I believe it to be due to my own setup and not to the package itself. I'll give it another try in the next days and open an issue if I need help.

One minor issue: the review check-list requires the authors to compare their

[2020-08-04 07:41] yuxiang-gao commented on #2494
@pdebuyl @xuqiancheng Thank you for the review and I apologize that I couldn't address the comments until now. I have made the following changes to address @xuqiancheng 's concerns:
* For the first major comment and the first minor comment, I have added a more detailed explanation of the configuration file and added a sample file with comments explaning the parameters.
* For the second major comme

[2020-08-04 07:48] grburgess commented on #2536
So, I am not sure how to divide this up into parts that are constructive for the repository at hand.

You can think of both BATSE and GBM as the same detector technology as both are non-imagining spectrometers suffering from significant energy dispersion. Thus, one must always model in latent space, fold through the detectors, etc to combine information across detectors. If you want to work in a s

[2020-08-04 08:04] aj2duncan commented on #2282
@danielskatz question for you.

I think a statement of need is missing from the github repo but is present in the paper and @jcolomb has linked the paper from the first section of the README. Could you please comment on whether anything additional is required?

Thanks.

[2020-08-04 08:38] grburgess commented on #2536
ah sorry, i'm going to move this to an issue in the target repo.

[2020-08-04 09:47] JamesPaynter commented on #2536
Sorry for going off-topic!
I can shoot you an email  if that is a better place to talk? I would greatly appreciate some help in this regard (point 4). But I will have a look through your tutorial and work over your other suggestions so we can have a more informed discussion.

As for the current code, I am happy with it at the moment. I am just always thinking of improvements.
Thanks again!

[2020-08-04 10:26] grburgess commented on #2536
email is fine!

[2020-08-04 11:04] joannawolthuis commented on #2410
Hi @lpantano! Same as @jkanche, have opened some issues. One question - for the 'installation' checkmark, does that still count if this aimed to be a webserver? If so I need to ask them to clarify their installation procedure..

[2020-08-04 11:29] ali-ramadhan commented on #2018
Thank you for the review and the kind words @mancellin!

Apologies about this. We discovered a major bug concerning running GPU simulations that we fixed in Oceananigans v0.32.0 last week, so maybe try a more recent version if you were trying an older one. Otherwise we'd love to hear more about the issue so we can fix it.

Thank you for bringing this up. I will update the software paper with a dis

[2020-08-04 11:53] katmratliff commented on #2292
@whedon generate pdf

[2020-08-04 11:53] valeriewelborn commented on #2429
Hi all,

I would like to second Jessica's comments and I would also argue that it follows the rule of thumb "no less than 3 months of work for an individual" (which translates to different real time depending on the skills of the coders - a good graduate student would have taken at least 6 months to produce a working code but likely not of the same quality). I also want to emphasize, as Jessica me

[2020-08-04 11:56] whedon commented on #2292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02292/joss.02292/10.21105.joss.02292.pdf)

[2020-08-04 12:22] paul-buerkner commented on #2535
Thanks! Looks good to me.

[2020-08-04 12:31] danielskatz commented on #2429
Let's make sure we are talking about the same thing.  In this repository, I see
 - https://github.com/WelbornGroup/ELECTRIC/tree/master/ELECTRIC (a new contribution here)
 - https://github.com/WelbornGroup/ELECTRIC/tree/master/ELECTRIC/mdi (which seems to be a copy of https://github.com/MolSSI-MDI/MDI_Library)

What did you intend to submit for review?

[2020-08-04 12:43] danielskatz commented on #2282
It would probably be good to include some of this statement in the README directly.

[2020-08-04 13:34] zingale commented on #2536
I'm happy with this once the contributor guidelines are updated (issue tagged above ^).

I'll leave the technical details about working with GRB data to the other reviewer, as that is not my expertise.

[2020-08-04 13:39] kbarnhart commented on #2276
@KevinShook Thanks for the update. If issues come up that I can assist with, please let me know.

[2020-08-04 13:52] kbarnhart commented on #2407
@Xunius its definitely fine to copy (with attribution) @sadielbartholomew 's comments into an in-repo issue. I would recommend doing that.

Also, in order for whedon the command must be the first part of the comment.

[2020-08-04 13:52] joglekara commented on #2182
@TomGoffrey , ^^.

[2020-08-04 13:52] kbarnhart commented on #2407
@whedon generate pdf

[2020-08-04 13:52] whedon commented on #2407
PDF failed to compile for issue #2407 with the following error:

 Error reading bibliography ./paper.bib (line 9, column 3):
unexpected "u"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-08-04 14:09] tylunel commented on #2361
@kbarnhart Definitely! Sorry for the delay, the last three weeks haven't given me as much time as I expected to deal with it, but I start to work on it tomorrow. `pvpumpingsystem` should be ready for a second review by the end of this week.

[2020-08-04 14:15] arfon commented on #2519
@whedon assign me as editor

[2020-08-04 14:15] whedon commented on #2519
OK, the editor is @arfon

[2020-08-04 14:33] arfon commented on #2519
@s-goldman - thanks for providing the additional context. Could you suggest a few people that might be able to give this package a good review? Please try to avoid tagging them by username, e.g. `@arfon` rather than @arfon.

This spreadsheet of volunteers might be useful too: https://bit.ly/joss-reviewers

[2020-08-04 14:46] teamPSG commented on #2377
@oliviaguest in the meanwhile: is there a solution for how to properly format "Current affiliation" of authors (pls. see comments from 11 days ago)?

[2020-08-04 14:56] s-goldman commented on #2519
@arfon Given their background in stellar physics I would suggest `@TomGoffrey, @Deech08, or @zpace`.

[2020-08-04 15:19] katmratliff commented on #2292
@whedon generate pdf

[2020-08-04 15:19] whedon commented on #2292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02292/joss.02292/10.21105.joss.02292.pdf)

[2020-08-04 15:21] aozorahime commented on #2507
Hi @xillig I also agree with @sara-02 about referring some works regarding twitter data visualization and there's no mention about installation process and describe how this software compares to other commonly-used packages. You may read or look for some JOSS papers which has been published so you can revise the paper directly.

[2020-08-04 15:22] geekysquirrel commented on #2537
Sorry @hugoledoux the notifications did not work for me.

One use case where my team is currently using BigX is to publish preliminary results online for other people on the project to use.

I am aware there's the QGIS cloud but
a) it's not clear where exactly the data is stored which is a problem for data that contains personal information (GDPR!) and
b) restricting access to QGIS Cloud maps seem

[2020-08-04 15:22] katmratliff commented on #2292
PySWMM [v0.6.1](https://github.com/OpenWaterAnalytics/pyswmm/releases/tag/v0.6.1) has now been released

[2020-08-04 15:23] sadielbartholomew commented on #2407
Thanks @Xunius.

Please do. Sorry, maybe it would have been better for me to have put them in an Issue originally.

Ah I see; since there's already a more specific standard you are following, it's of course best to leave it as-is. So long as you have actively thought about the best order, ideally abiding by some formal or informal community standard, I think it is fine.

This is certainly the best

[2020-08-04 15:26] sadielbartholomew commented on #2407
Possibly my PR on the text broke the formatting somehow. If so, my apologies. Though from the note on https://github.com/openjournals/joss-reviews/issues/2407#issuecomment-668609394 it appears to stem from the BibTeX/bibliography so it may be a different change. Either way, let me know if I can help to fix it.

[2020-08-04 15:36] katmratliff commented on #2292
The reviewed version has now been archived at [10.5281/zenodo.3972126](https://zenodo.org/record/3972126)

[2020-08-04 15:38] katmratliff commented on #2292
@kbarnhart a new release has been made of the reviewed code and it has been archived at Zenodo. I think we are good to go!

[2020-08-04 15:57] whedon opened #2544 "[PRE REVIEW]: GenGrab: A python toolkit for acquiring gene segments from genomes"
**Submitting author:** @vikaszsi77 (<a href="http://orcid.org/0000-0002-0215-0120">Vikas Kumar</a>)
**Repository:** <a href="https://github.com/avvypaks/GenGrab" target ="_blank">https://github.com/avvypaks/GenGrab</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2020-08-04 15:57] whedon commented on #2544
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-04 15:57] whedon opened #2545 "[PRE REVIEW]: DYCO: A Python package to dynamically detect and compensate for time lags in ecosystem time series"
**Submitting author:** @holukas (<a href="http://orcid.org/0000-0002-5569-0761">Lukas Hörtnagl</a>)
**Repository:** <a href="https://gitlab.ethz.ch/holukas/dyco-dynamic-lag-compensation" target ="_blank">https://gitlab.ethz.ch/holukas/dyco-dynamic-lag-compensation</a>
**Version:** v1.0.1
**Editor:** @KristinaRiemer
**Reviewers:** @mccabete, @r-barnes
**Managing EiC:** Daniel S. Katz

**:warning: J

[2020-08-04 15:57] whedon commented on #2545
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-04 15:57] whedon commented on #2544
Failed to discover a `Statement of need` section in paper

[2020-08-04 15:57] whedon commented on #2544
[code]

[2020-08-04 15:57] whedon opened #2546 "[PRE REVIEW]: s4rdm3x: A Tool Suite to Explore Code to Architecture Mapping Techniques"
**Submitting author:** @tobias-dv-lnu (<a href="http://orcid.org/0000-0003-1154-5308">Tobias Olsson</a>)
**Repository:** <a href="https://github.com/tobias-dv-lnu/s4rdm3x" target ="_blank">https://github.com/tobias-dv-lnu/s4rdm3x</a>
**Version:** 1.2
**Editor:** @gkthiruvathukal
**Reviewers:** @kinow, @xirdneh
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due

[2020-08-04 15:57] whedon commented on #2546
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-04 15:58] whedon commented on #2544
[code]

[2020-08-04 15:58] whedon opened #2547 "[PRE REVIEW]: ioProc: A light-weight workflow manager in Python"
**Submitting author:** @dlrbf (<a href="http://orcid.org/0000-0002-7820-851X">Benjamin Fuchs</a>)
**Repository:** <a href="https://gitlab.com/dlr-ve/ioproc" target ="_blank">https://gitlab.com/dlr-ve/ioproc</a>
**Version:** v 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pan

[2020-08-04 15:58] whedon commented on #2547
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-04 15:58] whedon commented on #2544
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02544/joss.02544/10.21105.joss.02544.pdf)

[2020-08-04 15:58] whedon commented on #2545
[code]

[2020-08-04 15:58] whedon commented on #2545
[code]

[2020-08-04 15:58] whedon commented on #2546
PDF failed to compile for issue #2546 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2546 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-3c447da9bd61/lib/whedo

[2020-08-04 15:58] whedon commented on #2545
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02545/joss.02545/10.21105.joss.02545.pdf)

[2020-08-04 15:58] whedon commented on #2547
Failed to discover a `Statement of need` section in paper

[2020-08-04 15:58] whedon commented on #2547
[code]

[2020-08-04 15:58] whedon commented on #2547
PDF failed to compile for issue #2547 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2547/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 21 column 18 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325

[2020-08-04 16:00] danielskatz commented on #2547
👋 @dlrbf - note that there is some problem with building your paper (apparently an unexpected tab) - please make changes and then use ```@whedon generate pdf``` as a new comment here to try to build the PDF again - iterate until success

[2020-08-04 16:02] danielskatz commented on #2547
Also, we require a Statement of Need section in the paper -- this should illustrates the research purpose of the software.

[2020-08-04 16:02] danielskatz commented on #2547
@whedon query scope

[2020-08-04 16:02] whedon commented on #2547
Submission flagged for editorial review.

[2020-08-04 16:05] danielskatz commented on #2546
note that I've manually changed the submitted repo to the repo (it was a link down to the paper)

[2020-08-04 16:05] danielskatz commented on #2546
@whedon generate pdf

[2020-08-04 16:06] whedon commented on #2546
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02546/joss.02546/10.21105.joss.02546.pdf)

[2020-08-04 16:06] danielskatz commented on #2546
@whedon check repository

[2020-08-04 16:06] whedon commented on #2546
[code]

[2020-08-04 16:08] danielskatz commented on #2546
@gkthiruvathukal - would you be able to edit this submission? (If your plate is full with other reviews, that's fine too.)

[2020-08-04 16:09] danielskatz commented on #2546
@whedon invite @gkthiruvathukal as reviewer

[2020-08-04 16:09] whedon commented on #2546
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-04 16:12] danielskatz commented on #2545
👋 @KristinaRiemer - would you be able to edit this submission?

[2020-08-04 16:12] danielskatz commented on #2545
@whedon invite @KristinaRiemer as editor

[2020-08-04 16:12] whedon commented on #2545
@KristinaRiemer has been invited to edit this submission.

[2020-08-04 16:15] danielskatz commented on #2544
@vikaszsi77  - Unfortunately, this software is not packaged for reuse and is quite small.  It does not meet the JOSS [Substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion

[2020-08-04 16:15] danielskatz commented on #2544
@whedon reject

[2020-08-04 16:15] whedon commented on #2544
Paper rejected.

[2020-08-04 16:15] #2544 closed

[2020-08-04 16:23] danielskatz commented on #2421
@hugoledoux - would you be willing to edit this submission?

[2020-08-04 16:23] danielskatz commented on #2421
@whedon invite @hugoledoux as editor

[2020-08-04 16:23] whedon commented on #2421
@hugoledoux has been invited to edit this submission.

[2020-08-04 16:29] danielskatz commented on #2475
@sjpfenninger - would you be able to edit this submission?

[2020-08-04 16:29] danielskatz commented on #2475
@whedon invite @sjpfenninger as editor

[2020-08-04 16:29] whedon commented on #2475
@sjpfenninger has been invited to edit this submission.

[2020-08-04 16:34] KristinaRiemer commented on #2545
@danielskatz yes I can.

[2020-08-04 16:35] KristinaRiemer commented on #2545
@whedon assign me as editor

[2020-08-04 16:35] whedon commented on #2545
OK, the editor is @KristinaRiemer

[2020-08-04 16:36] danielskatz commented on #2511
👋 @jni - would you be willing to edit this submission for JOSS?

[2020-08-04 16:36] danielskatz commented on #2511
@whedon invite @jni as editor

[2020-08-04 16:36] whedon commented on #2511
@jni has been invited to edit this submission.

[2020-08-04 17:01] katmratliff commented on #2292
PySWMM [v0.6.2](https://github.com/OpenWaterAnalytics/pyswmm/releases/tag/v0.6.2) has now been released

[2020-08-04 17:08] katmratliff commented on #2292
The reviewed software has now been archived on Zenodo: [10.5281/zenodo.3972214](https://zenodo.org/record/3972214)

[2020-08-04 17:09] danielskatz commented on #2532
@xuanxu - would you be able to edit this submission?

[2020-08-04 17:09] danielskatz commented on #2532
@whedon invite @xuanxu as editor

[2020-08-04 17:09] whedon commented on #2532
@xuanxu has been invited to edit this submission.

[2020-08-04 17:09] katmratliff commented on #2292
@kbarnhart a new release has been made and the reviewed software has been archived. I think we are good to go!

[2020-08-04 18:28] gkthiruvathukal commented on #2546
@danielskatz Yes,  I can take this one on. This might be the last I can take on for a couple of weeks as I have to record a bunch of lectures for my upcoming classes this term.  I won't go into OOO mode as I plan to see all submissions through, but I am going to need to pause on new ones just for a short time.  By the way, I am assuming you meant to invite me as an editor, right?

[2020-08-04 18:37] arfon commented on #2347
@afeinstein20 I just heard from AAS that your DOI will be `10.3847/1538-3881/abac0a`. Could you add this to your `paper.md`?

[2020-08-04 18:47] arfon commented on #2519
@schristophe @TomGoffrey @Deech08 - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-08-04 19:01] danielskatz commented on #2546
Thanks, and yes, as editor - my fingers were moving independently of my brain :)

[2020-08-04 19:02] danielskatz commented on #2546
@whedon assign @gkthiruvathukal as editor

[2020-08-04 19:02] whedon commented on #2546
OK, the editor is @gkthiruvathukal

[2020-08-04 19:11] Deech08 commented on #2519
This looks really interesting, but I am defending my thesis next week and don't have the time right away to put into this. If a timeline of me starting to review in 1.5-2 weeks from now is okay, then I can. Otherwise it may be best to look for someone else.

[2020-08-04 19:18] danielskatz commented on #2530
@whedon invite @lorenanicole as editor

a different type of ping

[2020-08-04 19:18] whedon commented on #2530
@lorenanicole has been invited to edit this submission.

[2020-08-04 19:18] arfon commented on #2519
Absolutely! We generally ask for reviews to be complete within six weeks. If that sounds OK, I'll go ahead and add you as a reviewer (there will be two or more reviewers) and then check in with you a little later on.

Also, good luck!

[2020-08-04 19:22] Xunius commented on #2407
@whedon generate pdf

Should just be my incorrect bib file formatting.

[2020-08-04 19:23] whedon commented on #2407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf)

[2020-08-04 19:29] joethorley commented on #2447
@nhejazi - I just want to make sure you haven't forgotten about this issue https://github.com/nhejazi/txshift/issues/59

[2020-08-04 19:38] alexjonesphd commented on #2523
Thanks again for editing the codebase so quickly. I've now had a chance to work with the package and it seems great. The API is nicely modelled on `sklearn` so the instantiating a class and calling `fit` was second nature. All the examples worked well for me, I was able to reproduce them easily.

Perhaps my only comment would be expansion of the software paper or documentation to make it a little

[2020-08-04 19:44] karthik commented on #2482
:wave: @adamgdobrakowski

Thank you for submitting your software to JOSS. After considering the comments of the two reviewers and discussion with the EICs, I have decided to reject this submission in the current form.

We are rejecting this submission because:

-  It currently does not meet our criteria for a substantial scholarly effort
- There isn't sufficient indication that your software is wi

[2020-08-04 19:50] danielskatz commented on #2482
@whedon reject

[2020-08-04 19:50] whedon commented on #2482
Paper rejected.

[2020-08-04 19:50] #2482 closed

[2020-08-04 19:50] Deech08 commented on #2519
Great, thanks! In that case you can assign me to this!

[2020-08-04 20:32] ronikobrosly commented on #2523
Thanks for the kind words @alexjonesphd ! Sure thing, I can add a bit more text in the paper and/or documentation about causal inference and why they would want to use it. I'll add this in after I hear back from @cmparlettpelleriti .

[2020-08-04 21:37] nwu63 commented on #2490
Hi @poulson, just wondering if the paper can be moved to the review phase, or if it's waiting for some action from me.

[2020-08-04 22:01] sadielbartholomew commented on #2407
Thanks @Xunius, and for your patience. I will return to my review tomorrow evening  (I am a bit later than hoped last week given I have been asked to work on a new project at short notice). Hopefully I can finish the review then, if not many days after tomorrow. In general, I am further along than my checkmarks on the criteria list suggest, since I have started looking into unchecked items and in

[2020-08-04 22:22] galessiorob commented on #2449
Hey @LukasAdamowicz wanted to check in, do you have any questions, is there anything I can do to help get your paper across the finish line?

[2020-08-04 22:24] arfon commented on #2519
@whedon add @Deech08 as reviewer

[2020-08-04 22:24] whedon commented on #2519
OK, @Deech08 is now a reviewer

[2020-08-04 22:24] arfon commented on #2519
Wonderful, thanks!

[2020-08-04 23:16] kbarnhart commented on #2292
@whedon generate pdf

[2020-08-04 23:16] whedon commented on #2292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02292/joss.02292/10.21105.joss.02292.pdf)

[2020-08-04 23:21] kbarnhart commented on #2292
@whedon set 10.5281/zenodo.3972214 as archive

[2020-08-04 23:21] whedon commented on #2292
OK. <a href="https://doi.org/10.5281/zenodo.3972214" target="_blank">10.5281/zenodo.3972214</a> is the archive.

[2020-08-04 23:21] kbarnhart commented on #2292
@whedon set v0.6.2 as version

[2020-08-04 23:21] whedon commented on #2292
OK. v0.6.2 is the version.

[2020-08-04 23:21] kbarnhart commented on #2292
@whedon generate pdf

[2020-08-04 23:22] whedon commented on #2292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02292/joss.02292/10.21105.joss.02292.pdf)

[2020-08-04 23:24] kbarnhart commented on #2292
@whedon accept

@katmratliff thanks for making those changes and completing these last few steps. I've now marked this as ready for final processing by the handling Editor in Chief.

@nickrsan @jrkasprzyk thank you for your reviews.

[2020-08-04 23:24] whedon commented on #2292
[code]

[2020-08-04 23:24] whedon commented on #2292
[code]

[2020-08-04 23:24] whedon commented on #2292
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1624

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1624, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-04 23:38] danielskatz commented on #2292
@whedon accept deposit=true

[2020-08-04 23:38] whedon commented on #2292
[code]

[2020-08-04 23:39] whedon commented on #2292
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1290794527997952001) 👈 🐦🐦🐦

[2020-08-04 23:39] whedon commented on #2292
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1625
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02292](https://doi.org/10.21105/joss.02292)
2. If everything looks g

[2020-08-04 23:41] katmratliff commented on #2292
@kbarnhart thank you!!!!

[2020-08-04 23:44] arfon commented on #2245
:wave: @PhillyVanilly9119 - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-08-04 23:45] danielskatz commented on #2292
Thanks to @nickrsan and @jrkasprzyk for reviewing and @kbarnhart for editing!

Congratulations to @katmratliff (Katherine Ratliff) and co-authors!!

[2020-08-04 23:45] #2292 closed

[2020-08-04 23:45] whedon commented on #2292
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02292/status.svg)](https://doi.org/10.21105/joss.02292)

**We need your help!**

Journal of Open Source Softwa

[2020-08-04 23:53] danielskatz commented on #2174
@whedon generate pdf

[2020-08-04 23:53] whedon commented on #2174
PDF failed to compile for issue #2174 with the following error:

 Can't find any papers to compile :-(

[2020-08-04 23:54] danielskatz commented on #2174
@whedon generate pdf from branch joss-paper

[2020-08-04 23:54] whedon commented on #2174
[code]

[2020-08-04 23:54] whedon commented on #2174
PDF failed to compile for issue #2174 with the following error:

 error: pathspec 'joss-paper' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-08-04 23:54] NicolasHug commented on #2174
@whedon generate pdf from branch joss_paper

[2020-08-04 23:55] whedon commented on #2174
[code]

[2020-08-04 23:55] whedon commented on #2174
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02174/joss.02174/10.21105.joss.02174.pdf)

[2020-08-04 23:55] danielskatz commented on #2174
👋 @Kevin-Mattheus-Moerman - is this ready to go?

[2020-08-05 00:00] danielskatz commented on #2174
@NicolasHug - in the references, I think "ECML pkdd workshop" should be "ECML PKDD Workshop" Similarly the booktitle for Gantner should be changed to title case (by protecting it in the .bib file with {}s
Guo is missing something
Some caps need to be fixed in Harper
Same for Kula 2015
And Lee
And McKinney
and Yang

After these are fixed, please regenerate the pdf

[2020-08-05 00:12] Xunius commented on #2407
@sadielbartholomew No problem, you have all been very helpful and I appreciate your time and efforts in improving this project.

[2020-08-05 00:57] arfon commented on #2135
@whedon accept

[2020-08-05 00:57] whedon commented on #2135
[code]

[2020-08-05 00:58] whedon commented on #2135
[code]

[2020-08-05 00:58] whedon commented on #2135
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1626

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1626, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-05 01:14] danielskatz commented on #2135
@whedon accept deposit=true

[2020-08-05 01:14] whedon commented on #2135
[code]

[2020-08-05 01:14] whedon commented on #2135
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1290818540426203136) 👈 🐦🐦🐦

[2020-08-05 01:14] whedon commented on #2135
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1627
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02135](https://doi.org/10.21105/joss.02135)
2. If everything looks g

[2020-08-05 01:23] jkanche commented on #2410
I agree with @joannawolthuis, I would also like to see more detailed installation instructions. I am confused on how one can setup an instance Viime for their datasets.

May be provide a docker container or instructions on how one can set everything up will be good.

[2020-08-05 01:24] danielskatz commented on #2135
Thanks to @mulhod and @faroit reviewing, and @terrytangyuan for editing!

Congratulations to @ynop (Matthias Büchi) and co-author!!

[2020-08-05 01:24] #2135 closed

[2020-08-05 01:24] whedon commented on #2135
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02135/status.svg)](https://doi.org/10.21105/joss.02135)

**We need your help!**

Journal of Open Source Softwa

[2020-08-05 01:34] diehlpk commented on #2291
@ilyasst Thanks for finishing the review. You are done with the review. You will get a notification once we paper is published.

[2020-08-05 01:36] diehlpk commented on #2403
Hi @sritchie have you addressed the remarks of @arokem in the review?

[2020-08-05 03:03] pibion commented on #2363
@whedon check references

[2020-08-05 03:04] whedon commented on #2363
[code]

[2020-08-05 03:09] pibion commented on #2363
@sambit-giri the pdf looks great.  I have one requested change: the last sentence in the second paragraph isn't immediately clear.

I would recommend splitting this sentence into two to make it clearer that Tools21cm takes the simulation outputs as its inputs.  Maybe something like, " Much of the functionality of Tools21cm is focused
on the construction and analysis of mock 21 cm observations in t

[2020-08-05 03:11] pibion commented on #2484
👋🏼 @dghoshal-lbl @colbrydi @cmbiwer, I'm just checking in on when you expect to be able to begin taking a look at this repository and the reviewer checklist.

If you know you won't be able to start until a particular date, we can set a timer to remind you to take a look at the review.

[2020-08-05 04:24] thelfer commented on #2369
@whedon commands

[2020-08-05 04:24] whedon commented on #2369
Here are some things you can ask me to do:

[code]

[2020-08-05 04:26] thelfer commented on #2369
@meg-simula I finished the review. I recommend the paper publication in its current form. Thanks to the authors for the work the y have done to fullfil my various requests !

[2020-08-05 05:11] JamesPaynter commented on #2536
@grburgess "It would also help if you could detail in the documentation things like how the background is modeled, what likelihood you are using, etc"

I updated the documentation (priors, background, likelihood, rates), but I wasn't sure how much information is encapsulated by the 'etc'.
https://pygrb.readthedocs.io/en/latest/user/sampling.html

[2020-08-05 05:57] sambit-giri commented on #2363
@whedon generate pdf

[2020-08-05 05:57] whedon commented on #2363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02363/joss.02363/10.21105.joss.02363.pdf)

[2020-08-05 05:58] sambit-giri commented on #2363
@pibion Thanks for the recommendation. I have changed the sentence to the following:

"Much of the functionality of Tools21cm is focused on the construction and analysis of mock 21 cm observations in the context of current and upcoming radio telescopes, such as the Low Frequency Array (LOFAR; Haarlem et al., 2013), the Murchison Widefield Array (MWA; Tingay et al., 2013; Wayth et al., 2018), Hydro

[2020-08-05 06:11] CFGrote commented on #2436
thanks for the reviews. responses are in preparation.

On 8/3/20 11:17 AM, Pierre de Buyl wrote:

[2020-08-05 06:56] skapfer commented on #2300
Cool, it seems this is resolved, thank you!

Let me know if there's more we can do.

Happy holidays,

Sebastian

On Fri, Jul 31, 2020 at 04:31:10AM -0700, Hugo Ledoux wrote:

--
Best regards,               | Theoretische Physik 1, 02.573
  Sebastian Kapfer          | FAU Erlangen
                            | Staudtstr. 7, 91058 Erlangen, Germany
                            | Phone: +49.160.9577.6

[2020-08-05 07:56] hertzsprung commented on #2479
In my view, Alarconpy fails to represent a substantial scholarly effort because it comprises numerous utility functions that are already provided by existing libraries, including:

* interpolation functions already provided by scipy
* statistics functions and haversine function already provided by scikit-learn
* unit conversion already provided by [Unum](https://github.com/trzemecki/Unum)

It woul

[2020-08-05 08:57] PhillyVanilly9119 commented on #2245
Hey guys!
First of all, thank you guys for considering me as a possible reviewer (@arfon ). However, I think I might be too biased, since my research is on a very related topic (as @spectralcode mentioned). I like to think I'm not but in the interest of fact based reviewing, I agree that someone else would proably be a more suitable candidate.
I think guys from Jo Izatt group, like Christian Viehl

[2020-08-05 10:24] Kevin-Mattheus-Moerman commented on #2174
@danielskatz yes this looks good to me. I see you raised a minor issue :point_up:, once that is resolved it looks good to go. You can process acceptance if you like or let me know if you want me to.

[2020-08-05 10:27] Kevin-Mattheus-Moerman commented on #2431
@romainmartinez can you give an update on progress in relation to responding to the issues raised?

[2020-08-05 10:28] Kevin-Mattheus-Moerman commented on #2478
@ritagnunes can you provide an update on progress in relation to responding to the issues raised?

[2020-08-05 10:29] jni commented on #2511
@whedon assign me as editor

[2020-08-05 10:29] whedon commented on #2511
OK, the editor is @jni

[2020-08-05 10:31] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu can you update on progress? Have the DOI issues been resolved? Have you commented on/resolved all reviewer issues? Feel free to regenerate the pdf (`@whedon generate pdf`) here and also to check for references (`@whedon check references`).

[2020-08-05 10:33] Kevin-Mattheus-Moerman commented on #2274
I'll start the review process now to avoid further delay.

[2020-08-05 10:33] Kevin-Mattheus-Moerman commented on #2274
@whedon start review

[2020-08-05 10:33] whedon opened #2548 "[REVIEW]: ALVA: An adaptive MATLAB package for layered viscoelastic analysis"
**Submitting author:** @asmusskar (<a href="http://orcid.org/0000-0003-3176-791X">Asmus Skar</a>)
**Repository:** <a href="https://github.com/asmusskar/ALVA" target ="_blank">https://github.com/asmusskar/ALVA</a>
**Version:** v1.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @AnaWaldila, @CBenghi
**Archive:** <a href="https://doi.org/10.5281/zenodo.4289275" target="_blank">10.5281/zenodo.4289

[2020-08-05 10:33] whedon commented on #2274
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2548.

[2020-08-05 10:33] #2274 closed

[2020-08-05 10:33] whedon commented on #2548
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AnaWaldila, @CBenghi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-08-05 10:34] whedon commented on #2548
[code]

[2020-08-05 10:34] whedon commented on #2548
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02548/joss.02548/10.21105.joss.02548.pdf)

[2020-08-05 10:34] Kevin-Mattheus-Moerman commented on #2274
@mdelcambre @satish-annigeri @abhiramm7  please consider my reviewer invitation :point_up:. If you are able to help that would be great and I can add you as a reviewer over at #2548

[2020-08-05 10:37] Kevin-Mattheus-Moerman commented on #2047
@nicoguaro just checking in. How are you getting on? Let me know when you have those developments done and want us to resume. I hope your lecturing went well and that you enjoyed your summer.

[2020-08-05 10:39] Kevin-Mattheus-Moerman commented on #2527
@DARSakthi, @grlee77, @ritagnunes this is just a friendly check in. I know some of you are busy on other reviews too. Could you give an update on when you expect to work on this review?

[2020-08-05 10:44] arfon commented on #2245
:zap: thanks @PhillyVanilly9119! If you are willing to contact them that would be great! Feel free to copy me (arfon.smith@gmail.com) on the email thread.

[2020-08-05 10:52] Kevin-Mattheus-Moerman commented on #2520
@PetrKryslUCSD, @TeroFrondelius, @KristofferC could you give a brief update on where this stands? It looks like @fverdugo resolved some of the issues pointed out. :point_up:, perhaps you can check those out.

@TeroFrondelius, @KristofferC can you start working on those checkboxes?

Thanks for all your help!

[2020-08-05 11:13] xuanxu commented on #2532
@danielskatz I can't take it, I don't have bandwidth right now.

[2020-08-05 11:25] lpantano commented on #2410
Thank you for the updates @joannawolthuis, @jkanche. Yes, the installation needs to be addressed as well for servers. It is a very good point.

[2020-08-05 11:30] spectralcode commented on #2245
@PhillyVanilly9119 : thanks!
Regarding octnews: A link to Arfon's tweet already was on [octnews](http://www.octnews.org/articles/9866790/the-journal-of-open-source-software-is-looking-for/) but it doesn't seem to have helped much.

@arfon : I think you have already contacted Christian Viehland (see [your post](https://github.com/openjournals/joss-reviews/issues/2245#issuecomment-658701574) ) but p

[2020-08-05 11:33] ritagnunes commented on #2527
@Kevin-Mattheus-Moerman, most likely I will only be able to work on this
after the end of the ISMRM conference, i.e. the week after next...

On Wed, Aug 5, 2020 at 11:40 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-08-05 11:36] Kevin-Mattheus-Moerman commented on #2527
Right, sorry I forgot about the ISMRM. Enjoy the conference!

[2020-08-05 11:52] agahkarakuzu commented on #2343
@Kevin-Mattheus-Moerman I resolved all the reviewer issues, just pushed a bug fix, waiting for CI tests, then going to merge `joss_rev2` branch into the `master` today and follow your instructions.

[2020-08-05 12:03] florian-huber commented on #2411
Thanks @arfon and in particular @bittremieux and @kaibioinfo for reviewing.
The raised comments were very valuable and helped us improve the package.

We generally agree with the feedback we received, and think that we could address most issues.
The main exception is making matchms a pip installable package (https://github.com/matchms/matchms/issues/100), which is complicated because matchms relie

[2020-08-05 13:10] danielskatz commented on #2174
I'll do it once this issue is resolved - thanks

[2020-08-05 13:13] grburgess commented on #2536
docs look great now

[2020-08-05 13:15] zingale commented on #2536
I didn't test the automated tests, but I see there is a travis file, and a test coverage link and tests/ directory.  So I am happy with that.

[2020-08-05 13:15] zingale commented on #2536
I'm done with my review.  All good by me.

[2020-08-05 13:23] whedon opened #2549 "[PRE REVIEW]: qgs: A flexible Python framework of reduced-order multiscale climate models"
**Submitting author:** @jodemaey (<a href="http://orcid.org/0000-0002-5098-404X">Jonathan Demaeyer</a>)
**Repository:** <a href="https://github.com/Climdyn/qgs" target ="_blank">https://github.com/Climdyn/qgs</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2020-08-05 13:23] whedon commented on #2549
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-05 13:24] whedon commented on #2549
PDF failed to compile for issue #2549 with the following error:

 Can't find any papers to compile :-(

[2020-08-05 13:27] danielskatz commented on #2549
@whedeon check repository from branch joss

[2020-08-05 13:27] danielskatz commented on #2549
@whedon generate pdf from branch joss

[2020-08-05 13:27] whedon commented on #2549
[code]

[2020-08-05 13:28] whedon commented on #2549
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02549/joss.02549/10.21105.joss.02549.pdf)

[2020-08-05 13:29] danielskatz commented on #2549
@whedon check references from branch joss

[2020-08-05 13:29] whedon commented on #2549
[code]

[2020-08-05 13:29] whedon commented on #2549
[code]

[2020-08-05 13:30] danielskatz commented on #2549
@whedon check repository

[2020-08-05 13:30] whedon commented on #2549
[code]

[2020-08-05 13:32] danielskatz commented on #2549
👋 @jodemaey

 - please check the DOIs as mentioned in a previous comment - whedon is not always right, but makes suggestions.  If you make changes in your bib, enter the whedon commands I used above to regenerate the PDF and recheck the references
 - In the paper, in the state of the field section, please explain how your work is different/related

[2020-08-05 13:38] danielskatz commented on #2549
👋 @harpolea - The authors suggested you as the editor - are you willing to take on another submission?

[2020-08-05 13:39] danielskatz commented on #2549
@whedon invited @harpolea as editor

[2020-08-05 13:39] whedon commented on #2549
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-05 13:41] danielskatz commented on #2532
@whedon assign me as editor

[2020-08-05 13:41] whedon commented on #2532
OK, the editor is @danielskatz

[2020-08-05 13:43] danielskatz commented on #2532
👋 @biboyd - please add an explicit section title Statement of Need to the paper - see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

Once you have done this, please enter ```@whedon generate pdf``` as a new command here to regenerate the pdf.

[2020-08-05 13:44] danielskatz commented on #2532
Also, please suggest potential reviewers by mentioning them here in this thread (without tagging them with an @). [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list), or you may know of others in this field.  I will also check for reviewers through some other channels.

[2020-08-05 13:54] harpolea commented on #2549
@danielskatz I'd be happy to edit this submission!

[2020-08-05 13:54] harpolea commented on #2549
@whedon assign me as editor

[2020-08-05 13:54] whedon commented on #2549
OK, the editor is @harpolea

[2020-08-05 14:03] harpolea commented on #2549
@jodemaey do you have any suggestions for potential reviewers?  If so, then please mention them here in this thread (without tagging them with an @). This [list of people ](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-08-05 14:11] LukasAdamowicz commented on #2449
Only some clarification for now - for the third point - is that documentation in the paper, or as part of the package documentation?

[2020-08-05 14:35] hope-data-science commented on #2388
The unit tests have been completed, see updates in <https://github.com/hope-data-science/tidyfst/issues/4>.

Thanks.

[2020-08-05 14:39] stulacy commented on #2528
This was an interesting read and the software looks to be useful in helping extract measures of interest from ARDL models using simulation. My comments are:

- Can you briefly summarise in the paper how the `dynamac` package compares to other available software, such as `ARDL` or `dlagM`, which are both also available on CRAN
- Figure 1 in the paper shows all the 6 available plots that the `dynard

[2020-08-05 14:42] jodemaey commented on #2549
We suggest Eviatar Bach (eviatarbach) and Ryan Abernathey (rabernat).

[2020-08-05 14:44] danielskatz commented on #2532
👋 @chummels & @brittonsmith - would one of you be willing to review this submission to JOSS?  I am aware you are acknowledged in the paper, but I also think this is likely not a COI. Let me know what you think.

If you're not familiar with JOSS's review style/guidelines, we are basically checklist driven and use GitHub, where reviewers, editors, and authors work openly and iteratively to ideally i

[2020-08-05 14:47] harpolea commented on #2549
@jodemaey thanks!

:wave: @eviatarbach & @rabernat, would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-08-05 14:47] romainmartinez commented on #2431
Sorry for the delay @Kevin-Mattheus-Moerman , I plan to address the issues raised before the end of the week.

I'll update the status of the issues here:

- :heavy_check_mark: [Done in PR [#136](https://github.com/pyomeca/ezc3d/pull/136)] [Make install requires sudo (Linux) for copying Python bindings](https://github.com/pyomeca/ezc3d/issues/108) by @mitkof6
- :white_check_mark: [Waiting for [PR #

[2020-08-05 14:54] eviatarbach commented on #2549
Yes, I would be happy to review!

[2020-08-05 14:56] harpolea commented on #2549
Great, thanks @eviatarbach!

[2020-08-05 14:56] harpolea commented on #2549
@whedon assign @eviatarbach as reviewer

[2020-08-05 14:56] whedon commented on #2549
OK, @eviatarbach is now a reviewer

[2020-08-05 15:11] djmitche commented on #2124
(feel free to reassign me when this is again in motion -- un-assigning to remove it from my github dashboards)

[2020-08-05 15:17] pibion commented on #2363
@whedon check references

[2020-08-05 15:17] whedon commented on #2363
[code]

[2020-08-05 15:19] pibion commented on #2363
@sambit-giri this looks excellent, thank you!

I'll need you to make a tagged release and archive, and report the version number and archive DOI in this review thread.

Zenodo, Figshare, and OSF are good options.  I like to use Zenodo because you can set it up to automatically create a new DOI every time you add a new tag to your repository.

[2020-08-05 15:41] NicolasHug commented on #2174
@whedon generate pdf from branch joss_paper

[2020-08-05 15:41] whedon commented on #2174
[code]

[2020-08-05 15:42] whedon commented on #2174
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02174/joss.02174/10.21105.joss.02174.pdf)

[2020-08-05 15:42] NicolasHug commented on #2174
Thanks @danielskatz , capitalization is hopefully fixed now

[2020-08-05 15:44] sjpfenninger commented on #2171
@whedon add @ludee as reviewer

[2020-08-05 15:44] whedon commented on #2171
OK, @ludee is now a reviewer

[2020-08-05 15:45] sjpfenninger commented on #2171
I have invited a third reviewer so we can move forward here and hopefully wrap this up soon. Thanks for jumping in @ludee! @gschivley @ludee can you get your reviews done in the near future based on the https://github.com/NREL/OpenOA/tree/develop branch? @jordanperr can you clarify if you expect any major changes to the paper itself?

[2020-08-05 15:47] sjpfenninger commented on #2171
@coroa since we have not heard from you at all, I am assuming you've dropped out here, but you are of course still welcome to complete your review.

[2020-08-05 15:48] danielskatz commented on #2174
@whedon accept

[2020-08-05 15:48] whedon commented on #2174
[code]

[2020-08-05 15:49] whedon commented on #2174
PDF failed to compile for issue #2174 with the following error:

 Can't find any papers to compile :-(

[2020-08-05 15:49] sjpfenninger commented on #2480
Thanks @kegiljarhus, let's wait for the reviews to come in. @antviro @rafmudaf Are you able to complete your reviews within the next 1-2 weeks so we can move this forward? Thanks!

[2020-08-05 15:49] danielskatz commented on #2174
@whedon accept from branch joss_paper

[2020-08-05 15:49] whedon commented on #2174
[code]

[2020-08-05 15:50] whedon commented on #2174
[code]

[2020-08-05 15:50] whedon commented on #2174
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1628

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1628, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-05 15:51] sjpfenninger commented on #2475
@danielskatz Yes, I can edit this

[2020-08-05 15:51] sjpfenninger commented on #2475
@whedon assign @sjpfenninger as editor

[2020-08-05 15:51] whedon commented on #2475
OK, the editor is @sjpfenninger

[2020-08-05 15:56] danielskatz commented on #2174
@whedon accept deposit=true from branch joss_paper

[2020-08-05 15:56] whedon commented on #2174
[code]

[2020-08-05 15:57] whedon commented on #2174
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1291040716009996289) 👈 🐦🐦🐦

[2020-08-05 15:57] whedon commented on #2174
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1629
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02174](https://doi.org/10.21105/joss.02174)
2. If everything looks g

[2020-08-05 16:00] danielskatz commented on #2174
Thanks to @sara-02 and @ejhigson for reviewing and @terrytangyuan for editing!

Congratulations to @NicolasHug (Nicolas Hug)!!

[2020-08-05 16:00] whedon commented on #2174
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02174/status.svg)](https://doi.org/10.21105/joss.02174)

**We need your help!**

Journal of Open Source Softwa

[2020-08-05 16:01] NicolasHug commented on #2174
Thank you so much everyone! :tada:

[2020-08-05 16:13] sjpfenninger commented on #2475
@mlxd and @marouenbg would you be willing to review this submission for JOSS?

[2020-08-05 16:43] ritagnunes commented on #2478
We are working towards solving these issues asap.

Regarding the contribution of each author, here is the answer to
@mathieuboudreau <https://github.com/mathieuboudreau> 's question:

@ritagnunes - joint implementation of write_*py sequence files,
implementation and tests for some of the auxiliary diffusion functions,
implementation and testing of basic reconstruction functions, joint project
supe

[2020-08-05 17:00] biboyd commented on #2532
@whedon generate pdf

[2020-08-05 17:01] whedon commented on #2532
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02532/joss.02532/10.21105.joss.02532.pdf)

[2020-08-05 18:27] sbenthall commented on #2528
Thanks for reviewing, @stulacy

[2020-08-05 20:06] biboyd commented on #2532
A couple of names on the list that could be good reviewers might be eteq or olebole

[2020-08-05 20:13] dfm commented on #2516
@eteq has also agree to review. Thanks Erik!

[2020-08-05 20:13] dfm commented on #2516
@whedon add @eteq as reviewer

[2020-08-05 20:13] whedon commented on #2516
OK, @eteq is now a reviewer

[2020-08-05 20:13] dfm commented on #2516
@whedon start review

[2020-08-05 20:13] whedon opened #2550 "[REVIEW]: PyAutoFit`: A Classy Probabilistic Programming Language for Model Composition and Fitting"
**Submitting author:** @Jammy2211 (<a href="http://orcid.org/0000-0002-8987-7401">James Nightingale</a>)
**Repository:** <a href="https://github.com/rhayes777/PyAutoFit" target ="_blank">https://github.com/rhayes777/PyAutoFit</a>
**Version:** v0.72.2
**Editor:** @dfm
**Reviewers:** @arm61, @karllark
**Archive:** <a href="https://doi.org/10.5281/zenodo.4497861" target="_blank">10.5281/zenodo.449786

[2020-08-05 20:13] whedon commented on #2516
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2550.

[2020-08-05 20:13] #2516 closed

[2020-08-05 20:14] whedon commented on #2550
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arm61, @eteq it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jo

[2020-08-05 20:14] whedon commented on #2550
[code]

[2020-08-05 20:14] whedon commented on #2550
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02550/joss.02550/10.21105.joss.02550.pdf)

[2020-08-05 20:15] dfm commented on #2516
@arm61, @eteq, @Jammy2211: We can now head over to #2550 to get the review started. Let me know if any of you have questions as we proceed!

[2020-08-05 20:17] dfm commented on #2550
@Jammy2211: Please address Kevin's comments from the pre-review (copied here):

[2020-08-05 20:17] ManniDasMammut commented on #2538
@whedon generate pdf from branch joss

[2020-08-05 20:17] whedon commented on #2538
[code]

[2020-08-05 20:18] whedon commented on #2538
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02538/joss.02538/10.21105.joss.02538.pdf)

[2020-08-05 20:28] danielskatz commented on #2532
👋 eteq & olebole - would one of you be willing to review this JOSS submission?

[2020-08-05 20:30] danielskatz commented on #2532
@biboyd - I also notice that a number of your references seem to be missing journals - which in our style, makes them incomplete.  Please add the journals or conferences for all references.

[2020-08-05 20:44] whedon opened #2551 "[PRE REVIEW]: TheMatrix: An automated cross-platform benchmarking suite"
**Submitting author:** @rhodrin (<a href="http://orcid.org/0000-0003-2768-5735">Rhodri Nelson</a>)
**Repository:** <a href="https://github.com/devitocodes/thematrix" target ="_blank">https://github.com/devitocodes/thematrix</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-08-05 20:44] whedon commented on #2551
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-05 20:44] whedon commented on #2551
Failed to discover a `Statement of need` section in paper

[2020-08-05 20:44] whedon opened #2552 "[PRE REVIEW]: DARE Platform: a Developer-Friendly and Self-Optimising Workflows-as-a-Service Framework for e-Science on the Cloud"
**Submitting author:** @iaklampanos (<a href="http://orcid.org/0000-0003-0478-4300">Iraklis Klampanos</a>)
**Repository:** <a href="https://gitlab.com/project-dare/dare-platform" target ="_blank">https://gitlab.com/project-dare/dare-platform</a>
**Version:** 3.4
**Editor:** @danielskatz
**Reviewers:** @rafaelfsilva, @Himscipy
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode

[2020-08-05 20:44] whedon commented on #2551
[code]

[2020-08-05 20:44] whedon commented on #2551
Failed to discover a valid open source license.

[2020-08-05 20:44] whedon commented on #2552
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-05 20:45] whedon commented on #2551
[code]

[2020-08-05 20:45] whedon commented on #2552
Failed to discover a `Statement of need` section in paper

[2020-08-05 20:45] whedon commented on #2552
[code]

[2020-08-05 20:45] whedon commented on #2551
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02551/joss.02551/10.21105.joss.02551.pdf)

[2020-08-05 20:45] whedon commented on #2552
[code]

[2020-08-05 20:45] whedon commented on #2552
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02552/joss.02552/10.21105.joss.02552.pdf)

[2020-08-05 20:54] grlee77 commented on #2527
@kerkelae, can you briefly describe the contributions of the coauthors your included? I could only verify your name directly in the commit history, but understand that there are other ways to contribute.

[2020-08-05 20:54] danielskatz commented on #2551
👋 @rhodrin - please add an explicit statement of need to the paper - see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2020-08-05 20:54] danielskatz commented on #2551
@whedon query-scope

[2020-08-05 20:54] whedon commented on #2551
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-05 20:55] danielskatz commented on #2551
@whedon query scope

[2020-08-05 20:55] whedon commented on #2551
Submission flagged for editorial review.

[2020-08-05 21:03] DARSakthi commented on #2527
@Kevin-Mattheus-Moerman Thanks for the reminder -- some other deadlines had dragged my attention away -- will have it done by Monday, latest. Cheers

[2020-08-05 21:07] danielskatz commented on #2552
@iaklampanos - Can you explain what is the code that you are submitting?  I only see a very small amount of Python, and a bit more shell script, but I'm having difficulty understanding the structure of this repository.

In addition, we need an explicit statement of need section in the paper - see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

Finally, you might

[2020-08-05 21:12] grlee77 commented on #2527
regarding the following review criteria:

Is the script that produced Fig. 1 available anywhere? I find the result believable, but did not try to install Camino to verify. I can confirm that all of the examples in the Jupyter notebook in the repository ran quickly on an NVIDIA GTX-1080 Ti card.
@Kevin-Mattheus-Moerman: Is this adequate verification for JOSS?

[2020-08-05 21:40] mlxd commented on #2475
@sjpfenninger Sorry, but I do not have access to a MATLAB license on a CUDA-capable machine, and so would be unable to properly review this.

[2020-08-05 21:50] grlee77 commented on #2527
Overall the manuscript and software look good to me and I have only some minor suggestions.

**minor points to address**

1.) In the NumPy reference, the first author should be "van der Walt, S." rather than "Walt, S. van der"

2.) In the second sentence under features, I recommend the following grammatical change:
"generated in massively parallel on" -> "generated in a massively parallel fashion

[2020-08-06 01:04] djmitche commented on #2124
Well, so much for that idea...

[2020-08-06 02:50] majensen commented on #2510
@jonalv - Would you be willing to review [this work](#2510) for the [Journal of Open Source Software](https://joss.theoj.org)? Your expertise in Bioeclipse would be extremely valuable here. An overview of reviewing for the journal (performed openly on Github) is [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). I appreciate your consideration very much --@majensen

[2020-08-06 05:48] sambit-giri commented on #2363
@pibion I have put it up on Zenodo. The link is https://zenodo.org/badge/latestdoi/88035801

[2020-08-06 07:32] fnery commented on #2527
Hi @grlee77, thanks for the feedback. Just a quick comment in terms of direct commits to the repo itself I didn't make a lot of them and they are no longer visible because we cleaned up the commit history for submission (made an orphan branch). They are still visible as [closed PRs](https://github.com/kerkelae/disimpy/pulls?q=is%3Apr+is%3Aclosed). In any case I will let @kerkelae clarify the descr

[2020-08-06 07:47] kerkelae commented on #2527
Good point @grlee77. I am the main author and have written most of the code and of the manuscript. Fabio Nery has helped by implementing various algorithms, making decisions on how to package the code, and testing. Matt Hall and Chris Clark have contributed to the software by being very involved in the planning and development phase of much of the code that the final package consists of.

[2020-08-06 08:41] oliviaguest commented on #2394
Congratulations @OttaviaE! 🥳

Massive thanks to @eirini-zormpa, @wjakethompson, @jflournoy, for their useful and constructive feedback! 👏

[2020-08-06 09:01] eirini-zormpa commented on #2394
Congratulations @OttaviaE 🎉

[2020-08-06 09:12] OttaviaE commented on #2394
@danielskatz thank you!

And also, thank you @eirini-zormpa, @jflournoy, and @wjakethompson for your kind and useful comments, you all definetly helped in improving my package =)
Of course, thank you @oliviaguest for being such a great editor!

[2020-08-06 09:27] xillig commented on #2507
Hi @aozorahime
Thanks for the feedback. We will include the suggestions asap.

[2020-08-06 09:28] iaklampanos commented on #2552
Dear Daniel,

Thanks for the quick response.

This is the integrating repository for a number of open source components listed in the overall gitlab group (https://gitlab.com/project-dare <https://gitlab.com/project-dare>) and in the paper. The DARE platform has multiple facets but the emphasis here is on its WaaS functionality and the dynamic loading of execution contexts. In order to use this on

[2020-08-06 10:10] bblodfon commented on #2534
Hi @mikldk,

Just a kindly remainder that there has been no response from the potential reviewers regarding this paper submission (maybe they are on vacations :)
Should we try to contact them again or try finding others?

[2020-08-06 11:14] TeroFrondelius commented on #2520
@whedon generate pdf from branch joss

[2020-08-06 11:14] whedon commented on #2520
[code]

[2020-08-06 11:15] whedon commented on #2520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02520/joss.02520/10.21105.joss.02520.pdf)

[2020-08-06 11:55] mikldk commented on #2534
Indeed, @bblodfon - I was actually going to attend to this today.

[2020-08-06 11:56] mikldk commented on #2534
@mariacuellar, @sahilseth: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-08-06 11:57] jenzopr commented on #2534
Actually, I had left this unread, but then forgot to give feedback. Unfortunately, I'll not be able to conduct the review.

[2020-08-06 11:59] mikldk commented on #2526
@daviddewhurst, please let me or @nhejazi know if there's anything we can do. (This is not meant as a "please hurry", merely as a friendly comment that we are here to help if you need anything.)

[2020-08-06 12:15] will-rowe commented on #2473
Hey @ramadatta - can you let me know how you are getting on please? No pressure, just chasing up!

[2020-08-06 12:15] will-rowe commented on #2451
Hey @mjsull. Just checking in to see how you are doing with this submission? Cheers.

[2020-08-06 12:41] jodemaey commented on #2549
Here whedon is not right about the missing DOIs. The one for the reference to the Lorenz 96 paper points in fact to a re-edition of it in 2006 and I want to point to the original 1996 paper which has no doi. The one about Isca is also wrong. To my knowledge, the Isca model doesn't have a DOI yet.

About the DOI that whedon claims to be wrong, if I click on all of them they lead me to the correct a

[2020-08-06 13:06] danielskatz commented on #2552
Hi,

I'm still a bit confused, since https://gitlab.com/project-dare has absolutely no text or explanation, and is just a set of links to repositories. Maybe this is where https://project-dare.gitlab.io/dare-platform/ comes in?  But even in this, the closest I can find to a map for what software comprises Dare is https://project-dare.gitlab.io/dare-platform/features/ which mentions six components,

[2020-08-06 13:06] mariacuellar commented on #2534
I cannot at this time. Thank you for asking.

All the best,
Maria

On Thu, Aug 6, 2020 at 7:57 AM Jens Preußner <notifications@github.com>
wrote:

--
Maria Cuellar, PhD
Assistant Professor
Criminology Department
University of Pennsylvania
http://web.sas.upenn.edu/mcuellar/

[2020-08-06 13:07] whedon opened #2553 "[PRE REVIEW]: LMAPper – Where Scanning Probe Microscopy and Molecular Visualisation Meet"
**Submitting author:** @perdigao1 (<a href="http://orcid.org/0000-0002-0534-1512">Luis Miguel Alves Perdigao</a>)
**Repository:** <a href="https://git.code.sf.net/p/spm-and-mol-viewer/git" target ="_blank"> https://git.code.sf.net/p/spm-and-mol-viewer/git</a>
**Version:** v52e
**Editor:** @usethedata
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :war

[2020-08-06 13:07] whedon commented on #2553
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-06 13:07] whedon commented on #2553
PDF failed to compile for issue #2553 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2553 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e09ec0a48e3/lib/whedo

[2020-08-06 13:14] danielskatz commented on #2553
@perdigao1 - Where is the git repository containing the software and the paper?
You submitted https://lmaperdigao@git.code.sf.net/p/spm-and-mol-viewer/git but this just seems to be empty to me.  Is this perhaps a private repository?  I guess this is on sourceforge, which I don't think I've used in a long time, so I'm a little confused about how to find the source code in this case.

[2020-08-06 13:17] ramadatta commented on #2473
Thanks @will-rowe - I am almost done with the comments on functionality from both the authors. I am working on installation portion.

[2020-08-06 13:29] cmbiwer commented on #2484
I'll begin looking at it within a week.

[2020-08-06 13:37] mjsull commented on #2451
Hi Will,

Sorry about missing your earlier email. Definitely very helpful, working
through the comments now. Will finish over the weekend.

Best,

Mitch

On Thu, 6 Aug 2020 at 22:16, Will Rowe <notifications@github.com> wrote:

[2020-08-06 13:38] DARSakthi commented on #2527
Overall the paper is well done. The tutorial section of the documentation is a nice touch, and the mathematical specification in the final section of the paper is also appreciated. Having a colab notebook would be an excellent idea.

I echo the suggestions of @grlee77, in particular verification of the performance claims. I do question the use of the word synthesising in the title -- while 'to syn

[2020-08-06 13:43] sritchie commented on #2403
@whedon generate pdf

[2020-08-06 13:44] whedon commented on #2403
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02403/joss.02403/10.21105.joss.02403.pdf)

[2020-08-06 13:45] schristophe commented on #2519
Hello @arfon. I am afraid I will not be able to review this submission as I already have lots of things to prepare for early September. Sorry!

[2020-08-06 13:46] sritchie commented on #2403
@whedon generate pdf

[2020-08-06 13:47] whedon commented on #2403
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02403/joss.02403/10.21105.joss.02403.pdf)

[2020-08-06 13:48] sritchie commented on #2403
@whedon generate pdf

[2020-08-06 13:49] afeinstein20 commented on #2347
@arfon Done!

[2020-08-06 13:49] whedon commented on #2403
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02403/joss.02403/10.21105.joss.02403.pdf)

[2020-08-06 13:49] iaklampanos commented on #2552
Hello, thank you for your very helpful comments. We will try to address all of them and get back to you.

Iraklis

[2020-08-06 13:50] homonecloco commented on #2402
In general, I like the extensions to ggplot to display the plates. I can see this plots useful by themselves. It is nice to have some functions that force the structure of the data to the input of the plots, but I don’t think it is completely necessary for a user proficient in R.

- There is a contradiction when comparing the software with DRfit. I would remove the comparison, as DRfit is designed

[2020-08-06 13:56] sritchie commented on #2403
@arokem and @diehlpk , this should cover the review by @arokem . Thanks to you both, and please let me know what else I can address.

[2020-08-06 13:56] TomGoffrey commented on #2519
@arfon Sure happy to help out. I'm ~ a day from finishing another review then I can start on this.

I do have a couple of thoughts on the discussion above, but perhaps it's best I wait until the reviewing process formally starts?

[2020-08-06 14:11] janash commented on #2429
The ELECTRIC repository is what we intended to submit for review.

https://github.com/WelbornGroup/ELECTRIC/tree/master/ELECTRIC/mdi is a copy of https://github.com/MolSSI-MDI/MDI_Library. We do not intend for this to be considered in the review.

The parts of the repository specific to the ELECTRIC driver in this directory (https://github.com/WelbornGroup/ELECTRIC/tree/master/ELECTRIC), excluding

[2020-08-06 15:01] perdigao1 commented on #2553
Hi Dr Katz,
Sorry for this confusion.
The software is being hosted in a sourceforce website. The versioning system is subversion.https://sourceforge.net/projects/spm-and-mol-viewer/
There is a way to download the whole code there.

The website also supports git, but I only put the article there. The link you probably received will not work in a browser, but if you do git clone, it should workhttps

[2020-08-06 15:05] arfon commented on #2347
@whedon accept

[2020-08-06 15:05] whedon commented on #2347
[code]

[2020-08-06 15:06] whedon commented on #2347
[code]

[2020-08-06 15:06] whedon commented on #2347
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1630

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1630, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-06 15:06] arfon commented on #2519
:zap: thanks @TomGoffrey! I'll go ahead and set up the review now. Looking forward to your feedback during the review.

[2020-08-06 15:07] arfon commented on #2519
@whedon add @TomGoffrey as reviewer

[2020-08-06 15:07] whedon commented on #2519
OK, @TomGoffrey is now a reviewer

[2020-08-06 15:07] arfon commented on #2519
@whedon start review

[2020-08-06 15:07] whedon opened #2554 "[REVIEW]: The Dusty Evolved Star Kit (DESK): A Python package for fitting the Spectral Energy Distribution of Evolved Stars"
**Submitting author:** @s-goldman (<a href="http://orcid.org/0000-0002-8937-3844">Steve Goldman</a>)
**Repository:** <a href="https://github.com/s-goldman/Dusty-Evolved-Star-Kit" target ="_blank">https://github.com/s-goldman/Dusty-Evolved-Star-Kit</a>
**Version:** v1.7.0
**Editor:** @arfon
**Reviewer:** @Deech08, @TomGoffrey
**Archive:** <a href="https://doi.org/10.5281/zenodo.4064241" target="_bl

[2020-08-06 15:07] whedon commented on #2519
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2554.

[2020-08-06 15:07] #2519 closed

[2020-08-06 15:07] whedon commented on #2554
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Deech08, @TomGoffrey it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-08-06 15:07] arfon commented on #2519
@Deech08, @TomGoffrey, @s-goldman - see you all over in #2554 where the actual review will take place.

[2020-08-06 15:07] whedon commented on #2554
[code]

[2020-08-06 15:08] arfon commented on #2554
@Deech08, @TomGoffrey - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-08-06 15:08] whedon commented on #2554
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02554/joss.02554/10.21105.joss.02554.pdf)

[2020-08-06 15:24] eviatarbach commented on #2549
Just a comment regarding Isca: there is [a paper about it published in _Geoscientific Model Development_](https://doi.org/10.5194/gmd-11-843-2018) that should be cited.

[2020-08-06 15:34] crangelsmith commented on #2483
👋Hi @arbennett , thank you for your comments and issues, they are very relevant and some where already in our to-do list! @nbarlowATI  and I will be working through these issues in the next couple of weeks and keep you updated.

[2020-08-06 15:40] arfon commented on #2347
@whedon accept deposit=true

[2020-08-06 15:40] whedon commented on #2347
[code]

[2020-08-06 15:41] whedon commented on #2347
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1291399038013669379) 👈 🐦🐦🐦

[2020-08-06 15:41] whedon commented on #2347
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1631
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02347](https://doi.org/10.21105/joss.02347)
2. If everything looks g

[2020-08-06 15:49] arfon commented on #2347
@pearsonkyle, @astrobel, @ekaterinailin - many thanks for your reviews here ✨

@afeinstein20 - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-08-06 15:49] #2347 closed

[2020-08-06 15:49] whedon commented on #2347
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02347/status.svg)](https://doi.org/10.21105/joss.02347)

**We need your help!**

Journal of Open Source Softwa

[2020-08-06 15:52] justinwang97 commented on #2541
@whedon <https://github.com/whedon> commands

On Mon, Aug 3, 2020 at 8:21 AM whedon <notifications@github.com> wrote:

[2020-08-06 15:52] whedon commented on #2541
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-06 15:53] justinwang97 commented on #2541
@whedon <https://github.com/whedon> commands

On Thu, Aug 6, 2020 at 8:52 AM whedon <notifications@github.com> wrote:

[2020-08-06 15:53] whedon commented on #2541
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-06 15:54] afeinstein20 commented on #2347
That was so fast! Thanks @arfon @pearsonkyle @astrobel @ekaterinailin for all of your help and paper/code comments!! You all made this such a fun and enjoyable experience 😄

[2020-08-06 15:54] justinwang97 commented on #2541
@whedon <https://github.com/whedon> generate pdf

On Thu, Aug 6, 2020 at 8:53 AM Zigui Wang <zigwang97@gmail.com> wrote:

[2020-08-06 15:54] whedon commented on #2541
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-06 15:56] justinwang97 commented on #2541
@whedon generate pdf

On Thu, Aug 6, 2020 at 8:54 AM whedon <notifications@github.com> wrote:

[2020-08-06 15:56] whedon commented on #2541
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02541/joss.02541/10.21105.joss.02541.pdf)

[2020-08-06 15:59] danielskatz commented on #2553
See https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

I'm going to try putting https://sourceforge.net/p/spm-and-mol-viewer/git/ as the repository and see if whedon will be able to use this to build the paper.

When I look at https://sourceforge.net/projects/spm-and-mol-viewer/, I don't see any source code.  How will reviewers find and view the source code?

[2020-08-06 16:00] danielskatz commented on #2553
@whedon generate pdf

[2020-08-06 16:00] whedon commented on #2553
PDF failed to compile for issue #2553 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2553 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e09ec0a48e3/lib/whedo

[2020-08-06 16:01] danielskatz commented on #2553
👋 @arfon - can you help here?

[2020-08-06 16:02] danielskatz commented on #2541
@justinwang97 - you will probably find whedon much easier to work with via the github web interface, rather than via the email interface.

[2020-08-06 16:04] arfon commented on #2553
@whedon check repository

[2020-08-06 16:06] justinwang97 commented on #2541
Hi:
I see, thanks for the clarification!

Best,
Zigui Wang

On Thu, Aug 6, 2020 at 9:03 AM Daniel S. Katz <notifications@github.com>
wrote:

[2020-08-06 16:06] TomGoffrey commented on #2182
Sorry, I'm still stuck on the sign issue. You appear to have changed both the sign of the electric field term and the wording of the normalisation. You're now stating (in the description of the normalisation) `and e is the fundamental charge` - what exactly do you mean by `fundamental charge` here? I'd read this as being the same as `elementary charge` i.e. + 1.6e-19 C.

In summary combinations I

[2020-08-06 16:07] agahkarakuzu commented on #2343
@whedon generate pdf

[2020-08-06 16:07] agahkarakuzu commented on #2343
@whedon check references

[2020-08-06 16:08] whedon commented on #2343
PDF failed to compile for issue #2343 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e09ec0a48e3/lib/whedon/compilers.rb:158:in `initialize': No such file or directory @ rb_sysopen - tmp/2343/markdown-metadata.yaml (Errno::ENOENT)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e09ec0a48e3/lib/whedon/compilers.rb:158:in `open'
	from /app/vendor/bundle/ruby/

[2020-08-06 16:08] whedon commented on #2343
[code]

[2020-08-06 16:10] arfon commented on #2553
@perdigao1 - I don't think our bot (Whedon) can handle Git repository addresses with spaces in them e.g. `https://git.code.sf.net/p/spm-and-mol-viewer/git spm-and-mol-viewer-git`.

Is this something you are able to configure?

[2020-08-06 16:18] perdigao1 commented on #2553
Hi,
Thank you for checking this.
The address you should to compile the paper use is the one that I provided when I submitted the paper (without the thing after the space). I tried it and it compiled
 https://git.code.sf.net/p/spm-and-mol-viewer/git

I hope this helps
RegardsLuis

 On Thursday, 6 August 2020, 17:10:20 BST, Arfon Smith <notifications@github.com> wrote:

@perdigao1 - I don't think ou

[2020-08-06 16:20] perdigao1 commented on #2553
Hi Dr. Katz,
To check the code, just click the tab that says 'Code'.https://sourceforge.net/p/spm-and-mol-viewer/code/HEAD/tree/

I hope this helps
RegardsLuis

    On Thursday, 6 August 2020, 16:59:53 BST, Daniel S. Katz <notifications@github.com> wrote:

See https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

   - Your paper (paper.md and BibTeX files, plus any figures

[2020-08-06 16:25] taylor-a-barnes commented on #2429
@danielskatz Thank you very much for the time you’ve devoted to clarifying the nature of this submission. As the above discussion suggests, the boundaries defining exactly what constitutes this submission are not entirely trivial. To be clear, any calculation involving the ELECTRIC code involves participation of the following components:

1. The ELECTRIC code, which we originally submitted for rev

[2020-08-06 16:32] KristinaRiemer commented on #2545
@whedon assign @mccabete as reviewer

[2020-08-06 16:33] whedon commented on #2545
OK, @mccabete is now a reviewer

[2020-08-06 16:43] joglekara commented on #2182
Hi @TomGoffrey , thanks for this, no reason to apologize! All part of the process in my opinion!

I think that we have to leave the positive sign in `$ ... + E df / dv$` with the `elementary charge = +1.6e-19.` (Changed to elementary because that is more accurate terminology). The reason is because we can't ignore the stationary ion background i.e. `\nabla E = \rho_i + \rho_e`. My understanding is

[2020-08-06 16:46] danielskatz commented on #2553
@whedon generate pdf

[2020-08-06 16:46] KristinaRiemer commented on #2545
@camillescott @r-barnes @dirmeier would any of you be able to review this submission?

[2020-08-06 16:46] whedon commented on #2553
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02553/joss.02553/10.21105.joss.02553.pdf)

[2020-08-06 16:47] danielskatz commented on #2553
Ok, the paper now builds!

[2020-08-06 16:47] danielskatz commented on #2553
@whedon check references

[2020-08-06 16:47] whedon commented on #2553
[code]

[2020-08-06 16:55] perdigao1 commented on #2553
Hi Dr. Katz,
Yes, the code is in Visual Basic. Probably not popular for open source, but works well.
RegardsLuis Perdigao
    On Thursday, 6 August 2020, 17:51:21 BST, Daniel S. Katz <notifications@github.com> wrote:

I now agree that the code is available from the Code tab on https://sourceforge.net/p/spm-and-mol-viewer/code/HEAD/tree/

It looks like the code is in visual basic?

—
You are receiv

[2020-08-06 16:59] danielskatz commented on #2553
Ok - A last comment before we move forward is that the paper is probably too long.

As described in https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain:

[2020-08-06 17:14] TomGoffrey commented on #2554
Some comments from my first quick run through you might want to consider:

1. Consider replacing 'BSD License' with '3-clause BSD License' or 'BSD-3-Clause' or something a little more specific in the `LICENSE` file.
2. Is there a complete example contained within the repository anywhere? I see lots of comments similar to `--source='target_name.csv'` in the docs. Could such a csv file be include?
3

[2020-08-06 17:32] danielskatz commented on #2429
You have convinced me (and other editors involved in the discussion).  I've reopened this and am turning it back over to @richardjgowers, who had previously agreed to edit it.

And specifically:

yes

The reviewers will have to identify and understand what those contributions are. A PR would be one way to do this, but this is up to you, I think.

yes

[2020-08-06 17:36] danielskatz commented on #2552
Thanks - I'll marked this as paused for now.  please mention @openjournals/jose-eics (rather than me) when you are ready to start again, as we rotate each week.

[2020-08-06 17:39] janash commented on #2429
Thank you very much!

[2020-08-06 17:40] danielskatz commented on #2553
👋 @usethedata - would you be able to edit this submission?

[2020-08-06 17:41] danielskatz commented on #2553
@whedon invite @usethedata as editor

[2020-08-06 17:41] whedon commented on #2553
@usethedata has been invited to edit this submission.

[2020-08-06 18:01] s-goldman commented on #2554
@TomGoffrey Thanks for the comments, and so quickly.

1. Can do
2. I can be more explicit in the documentation, but running the code `desk fit` runs the code using the 3 examples sources in the `put_target_data_here` directory.
3. That should be updated to say just to use pytest. Style checks are done by Codacy after a pull request. Thank you for catching that.

All really helpful comments, and I

[2020-08-06 19:03] TomGoffrey commented on #2182
@joglekara I'm going to discuss the normalisation, in a belated effort to keep this thread clean.

@dpsanders Just to note, whilst I have finished my checklist I'd like to see this point clarified before signing off on it. Hope that's OK.

[2020-08-06 19:32] lskatz commented on #2334
Hi @erinyoung , we are in process of a larger reply to the comments above from both you and @lfaller .  However for right now one solution might be to unset $SINGULARITY_TMPDIR so that the system default takes hold.

@erinyoung and @lfaller For the latest container (again, we are making a much larger reply to address the comments in full), we removed the Kraken database and provided instructions o

[2020-08-06 20:02] adam-m-jcbs commented on #2260
Quick update here (more can be seen in the issues above): func review only has a discrepency in example output to resolve.

doc review is complete.

paper review needs some more accessible context in intro, but otherwise strongly satisfies JOSS criteria.

[2020-08-06 20:17] eloisabentivegna commented on #2517
@whedon add @gouarin as reviewer

[2020-08-06 20:18] whedon commented on #2517
OK, @gouarin is now a reviewer

[2020-08-06 20:18] eloisabentivegna commented on #2517
@whedon start review

[2020-08-06 20:18] whedon opened #2555 "[REVIEW]: gLBM: A GPU enabled Lattice Boltzmann Method Library"
**Submitting author:** @rclipp (<a href="http://orcid.org/0000-0001-6077-978X">Rachel Clipp</a>)
**Repository:** <a href="https://gitlab.kitware.com/LBM/lattice-boltzmann-solver" target ="_blank">https://gitlab.kitware.com/LBM/lattice-boltzmann-solver</a>
**Version:** JOSS
**Editor:** @eloisabentivegna
**Reviewer:** @ianhinder, @gouarin
**Archive:** <a href="https://doi.org/10.5281/zenodo.6076998"

[2020-08-06 20:18] whedon commented on #2517
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2555.

[2020-08-06 20:18] #2517 closed

[2020-08-06 20:18] whedon commented on #2555
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ianhinder, @gouarin it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-08-06 20:19] whedon commented on #2555
[code]

[2020-08-06 20:19] whedon commented on #2555
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02555/joss.02555/10.21105.joss.02555.pdf)

[2020-08-06 20:28] taylor-a-barnes commented on #2429
Indeed, thank you very much for your consideration.

[2020-08-06 21:39] pibion commented on #2363
@sambit-giri could you add Hannes Jensen to the author list on your Zenodo archive?

[2020-08-06 21:40] pibion commented on #2484
@cmbiwer thanks for the update!

[2020-08-06 22:06] adam-m-jcbs commented on #2260
@whedon generate pdf from branch joss-paper

[2020-08-06 22:06] whedon commented on #2260
[code]

[2020-08-06 22:07] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-08-06 22:13] adam-m-jcbs commented on #2260
@whedon check references from branch joss-paper

[2020-08-06 22:13] whedon commented on #2260
[code]

[2020-08-06 22:14] whedon commented on #2260
[code]

[2020-08-06 22:22] adam-m-jcbs commented on #2260
fyi, @pratikvn , see missing DOI above.

[2020-08-06 22:40] anwarbio commented on #2402
Hi @homonecloco,

Thank you for the comments. I have made correction as suggested. Details are given below.

1.  In general, I like the extensions to ggplot to display the plates. I can see this plots useful by themselves. It is nice to have some functions that force the structure of the data to the input of the plots, but I don’t think it is completely necessary for a user proficient in R.
**Repl

[2020-08-06 23:48] TomGoffrey commented on #2554
Thanks @s-goldman. For some reason I didn't think to look in `put_target_data_here`, hopefully I'll have time to start running the code tomorrow.

For collected minor comments like the above I'll just post them here. If I think it's more major/will require extended discussion I'll open up issues. Hope that works for you.

Oh, @Deech08, I forgot to say earlier, best of luck with your defence!

[2020-08-06 23:54] majensen commented on #2503
@whedon start review

[2020-08-06 23:54] whedon opened #2556 "[REVIEW]: SeroTools: a Python package for Salmonella serotype data analysis"
**Submitting author:** @jdbaugher (<a href="http://orcid.org/0000-0003-2466-3047">Joseph D Baugher</a>)
**Repository:** <a href="https://github.com/CFSAN-Biostatistics/SeroTools" target ="_blank">https://github.com/CFSAN-Biostatistics/SeroTools</a>
**Version:** 0.2.1
**Editor:** @majensen
**Reviewer:** @amoeba, @Maghnuso
**Archive:** <a href="https://doi.org/10.5281/zenodo.4015335" target="_blank"

[2020-08-06 23:54] whedon commented on #2503
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2556.

[2020-08-06 23:54] #2503 closed

[2020-08-06 23:55] whedon commented on #2556
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amoeba, @Maghnuso it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-08-06 23:55] whedon commented on #2556
[code]

[2020-08-06 23:55] whedon commented on #2556
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02556/joss.02556/10.21105.joss.02556.pdf)

[2020-08-06 23:55] majensen commented on #2503
@jdbaugher @amoeba @Maghnuso see you over at #2556 for the official review - thanks all

[2020-08-07 00:50] sadielbartholomew commented on #2407
The references are very comprehensive & appropriately cited, which is great. @Xunius there are two small points (too minor for a dedicated Issue I think) I would like addressed before I tick the 'software paper -> references' item, though:

* two of the links seem to be broken, or at least they do not work for me right now:
    * Ralph2011 (https://github.com/ihesp/IPART/blob/0ef1561a7fe23db4723bb

[2020-08-07 01:27] jonwong12 commented on #2372
@rram84 Do the `tutorial` still compile? Not sure if the instructions need to be updated.

[2020-08-07 02:36] galessiorob commented on #2448
@cicirello thanks for working out the install and run instructions with @mbdemoraes!

@mbdemoraes thank you so much for your review, the only [item to check-off](https://github.com/openjournals/joss-reviews/issues/2448#issue-652769899) is `Performance`, which based on the article you can check because there are no performance claims.

@nnadeau thank you too for your review, the only missing items

[2020-08-07 02:38] galessiorob commented on #2449
@LukasAdamowicz on the paper, thanks for asking!

[2020-08-07 02:39] barentsen commented on #2382
In relation to the automated tests: I do believe it is a blocking issue that the package ships with a `catwoman.tests.test()` function which fails when I run it. Although automated tests are only strongly encouraged rather than required per JOSS guidelines, I do believe that if a package decides to ship with a `tests.test()` function then that function should succeed and be documented.

More detai

[2020-08-07 02:45] galessiorob commented on #2449
@gweissman I noticed that you haven't checked off the `State of the field` item from your list, the paper states that "_to the author's knowledge there are no commonly used open-source, and easy to use and configure, implementations of sit-to-stand algorithms available_", do you think this needs to be expanded?

[2020-08-07 05:11] rram84 commented on #2372
@jonwong12
Hi Jonathan,
To verify that the examples in `tutorial/` compile & run, I added a few additional steps in bitbucket-pipelines.yml.
You can examine the build results for the latest commit: https://bitbucket.org/rram/dvrlib/addon/pipelines/home#!/results/32

Could you check that `make install` did in fact install DVRlib?
If you provided a custom install location with `-DCMAKE_INSTALL_PREFI

[2020-08-07 06:00] cMadan commented on #2535
@paul-buerkner, thanks for reviewing this submission!

@ejhigson, how are things going?

[2020-08-07 06:01] cMadan commented on #2506
@gcdeshpande, just thought I'd check in, how are things going?

[2020-08-07 06:17] sambit-giri commented on #2363
@pibion Done!

[2020-08-07 07:03] jodemaey commented on #2549
Huh ! Yes, we have completely overlooked this one, thank you.

[2020-08-07 07:59] jonalv commented on #2510
Hi I can not get your link to work but from the title I see this is about
Bacting, since I know Egon Willighagen is behind a project with that name I
am hesitant as to whether I really am impartial. I have worked closely with
him, co-authoring a book with him and helped him move twice :)

// Jonathan

On Thu, 6 Aug 2020 at 04:50, Mark Jensen <notifications@github.com> wrote:

[2020-08-07 08:22] ejhigson commented on #2535
Hi @cMadan - sorry for not being as quick as @paul-buerkner! I am a bit tied up right now but will ensure I review this in the next two weeks

[2020-08-07 09:06] dirmeier commented on #2545
Hi @KristinaRiemer , I am sorry I don't have time right now. Cheers, Simon

[2020-08-07 09:11] Xunius commented on #2407
@whedon generate pdf

@sadielbartholomew Please checkout [this commit](https://github.com/ihesp/IPART/commit/9d6ea1887cefd7e95078756542c53dbbaf61c6d5):

* I used the citation of matplotlib you provided.
* Added the `url` field to the pandas reference.
* Regarding the `Ralph2011` citation. I double checked the DOI (10.1175/2010MWR3596.1) which seems to be correct, see [here](https://connect.unavco.

[2020-08-07 09:12] whedon commented on #2407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf)

[2020-08-07 09:47] pratikvn commented on #2260
@whedon generate pdf from branch joss-paper

[2020-08-07 09:47] whedon commented on #2260
[code]

[2020-08-07 09:48] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-08-07 09:49] pratikvn commented on #2260
@whedon check references from branch joss-paper

[2020-08-07 09:49] whedon commented on #2260
[code]

[2020-08-07 09:50] whedon commented on #2260
[code]

[2020-08-07 09:53] pratikvn commented on #2260
@whedon check references from branch joss-paper

[2020-08-07 09:53] whedon commented on #2260
[code]

[2020-08-07 09:54] whedon commented on #2260
[code]

[2020-08-07 09:55] pratikvn commented on #2260
@whedon generate pdf from branch joss-paper

[2020-08-07 09:55] whedon commented on #2260
[code]

[2020-08-07 09:57] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-08-07 12:03] csoneson commented on #1992
ping @richardjgowers

[2020-08-07 12:41] rcannood commented on #2388
The changes made by @hope-data-science address all of my comments.

@hope-data-science, could you ask whedon to regenerate the pdf?

[2020-08-07 13:22] davidhassell commented on #2531
@usethedata I'm happy to suggest a reviewer if that helps - just let me know, thanks.

[2020-08-07 13:31] pdebuyl commented on #2494
Thank you @yuxiang-gao for the reply.

[2020-08-07 13:32] pdebuyl commented on #2494
@ixjlyons can you proceed to the review?

[2020-08-07 13:49] gweissman commented on #2449
I will check it off. I think that is sufficient although I am not knowledgeable in this field to know how true that statement is. A quick web search seems to confirm that while numerous algorithms have been published, the software does not seem to be readily available.

[2020-08-07 14:11] whedon opened #2557 "[PRE REVIEW]: Rindcalc: A Python Library For Spectral Index Raster Calculations & Remote Sensing Image Processing"
**Submitting author:** @ocsmit (<a href="http://orcid.org/0000-0002-4740-2985">Owen Smith</a>)
**Repository:** <a href="https://github.com/ocsmit/rindcalc" target ="_blank">https://github.com/ocsmit/rindcalc</a>
**Version:** v3.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pan

[2020-08-07 14:11] whedon commented on #2557
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-07 14:12] whedon commented on #2557
Failed to discover a `Statement of need` section in paper

[2020-08-07 14:12] whedon commented on #2557
[code]

[2020-08-07 14:12] whedon commented on #2557
[code]

[2020-08-07 14:12] whedon commented on #2557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02557/joss.02557/10.21105.joss.02557.pdf)

[2020-08-07 14:14] danielskatz commented on #2557
@ocsmit  - please add a section to your paper titled "Statement of need"

[2020-08-07 14:16] danielskatz commented on #2557
@whedon query scope

[2020-08-07 14:16] whedon commented on #2557
Submission flagged for editorial review.

[2020-08-07 14:24] tylunel commented on #2361
@kbarnhart I revised my package and added documentation with readthedocs.
Actually I still plan to expand a bit the _installation_ part next week (I must tell that I am not yet a real IT guy so I must dig a bit deeper into the subject to be able to give clear instructions to install pvpumpingsystem and its dependencies on different OS). So far the instruction are relevant only if the users have An

[2020-08-07 14:58] cadop commented on #2404
Hi @kthyng , Since you helped in pre-review, I was wondering if you could help move this along. I assume COVID has been taking up peoples time.

[2020-08-07 15:04] ixjlyons commented on #2494
@pdebuyl yes, apologies for the delay. I'm planning to complete my review in the next few days and I'll take the recent updates into account (I had noticed a couple of the same issues already pointed out).

[2020-08-07 15:27] sadielbartholomew commented on #2407
Hi @kbarnhart, do you have any advice on procedure regarding citations with links that are correct but don't seem to work for some unknown reason? Is it okay to keep those in the paper, or should the URL be removed for safety in case in generally does not work as opposed to temporarily being down:

Other than this query, I am very happy with the references so can check that item off the review lis

[2020-08-07 15:44] majensen commented on #2510
@jonalv  - I understand, having helped @egonw move might bias your review negatively  😄
For me, your expertise is very important since it deals very directly with the application, and you have not directly contributed code to Bacting. Since you have declared possible conflict, I can take that into account.

@Kevin-Mattheus-Moerman - can you please comment here from the AIC point of view?

[2020-08-07 15:56] danielskatz commented on #2510
If the co-authoring has been recent (last 4 years), that's another conflict.  My impression is that we should find alternative reviewers unless there is no other choice, or if @jonalv does review, then have at least 2 other reviewers.

[2020-08-07 16:00] ocsmit commented on #2557
@danielskatz I have added a "Statement of need" section. Thank you.

[2020-08-07 16:10] danielskatz commented on #2557
@whedon generate pdf

[2020-08-07 16:11] whedon commented on #2557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02557/joss.02557/10.21105.joss.02557.pdf)

[2020-08-07 16:13] majensen commented on #2510
Ok @danielskatz .

Thanks for your consideration @jonalv - If you or @egonw can possibly recommend someone with Bioeclipse experience but without close collaboration, that would great. Difficult I'm sure.

[2020-08-07 16:24] hope-data-science commented on #2388
@whedon generate pdf

[2020-08-07 16:25] whedon commented on #2388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02388/joss.02388/10.21105.joss.02388.pdf)

[2020-08-07 16:26] egonw commented on #2510
@majensen, reviewers do not need Bioclipse experience. The build system is a regular Maven installation. Anyone with Maven experience can build, test, and use this adaption of Bioclipse.

Please see also my original list at https://github.com/openjournals/joss-reviews/issues/2510#issuecomment-663096346 (but plz exclude Luke).

[2020-08-07 16:33] danielskatz commented on #2557
@whedon check references

[2020-08-07 16:34] whedon commented on #2557
[code]

[2020-08-07 16:36] danielskatz commented on #2557
@ocsmit - please also check your references, and add DOIs where possible - the suggestions above from whedon are suggestions only.  When you have done this, you can use the same commands I used to recheck the references, and regenerate the PDF (with one whedon command per comment, please)

[2020-08-07 16:53] ocsmit commented on #2557
@whedon generate pdf

[2020-08-07 16:54] whedon commented on #2557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02557/joss.02557/10.21105.joss.02557.pdf)

[2020-08-07 16:55] ocsmit commented on #2557
@whedon check references

[2020-08-07 16:55] whedon commented on #2557
[code]

[2020-08-07 17:00] ocsmit commented on #2557
@whedon generate pdf

[2020-08-07 17:01] whedon commented on #2557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02557/joss.02557/10.21105.joss.02557.pdf)

[2020-08-07 17:01] ocsmit commented on #2557
@whedon check references

[2020-08-07 17:01] whedon commented on #2557
[code]

[2020-08-07 17:04] ocsmit commented on #2557
@danielskatz - DOIs have been fixed.

[2020-08-07 17:14] danielskatz commented on #2557
Thanks - the next step is a check on scope by a group of editors since this contribution is fairly small. This will happen in the few days.

[2020-08-07 17:33] mitkof6 commented on #2431
@whedon generate pdf

[2020-08-07 17:34] whedon commented on #2431
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02431/joss.02431/10.21105.joss.02431.pdf)

[2020-08-07 17:37] jeffcsauer commented on #2450
@jaeyk

I have [created a vignette](https://github.com/jeffcsauer/arcos_arcospy_information/tree/master/docs) that does provides side-by-side comparison for installing the package, a quick start example, and a more involved example use case. I also highlight key considerations for users of the data (as highlighted in the paper) and provide some additional useful links. The vignette resides on the

[2020-08-07 17:55] ocsmit commented on #2557
Okay, sounds good.

[2020-08-07 18:46] jaeyk commented on #2450
@jeffcsauer The vignette looks great. I'm done with the functionality test. Thanks for the quick incorporation of the previous feedback!

[2020-08-07 19:06] grlee77 commented on #2478
See comment https://github.com/ritagnunes/PulseqDiffusion/issues/4#issuecomment-670660507 regarding how this package is a mixture of python and Matlab scripts and not a traditional, installable software library . Given, that, why did the team decide to use the Python-based pypulseq, but keep the other scripts in Matlab?

For example, `recon_img.m` looks like it would be easy to convert from Matlab

[2020-08-07 19:22] majensen commented on #2510
Thanks @egonw - that makes sense.

[2020-08-07 19:59] pibion commented on #2363
@sambit-giri thanks!  I'll start the final part of the process now!

[2020-08-07 20:00] pibion commented on #2363
@whedon set 10.5281/zenodo.3973542 as archive

[2020-08-07 20:00] whedon commented on #2363
OK. <a href="https://doi.org/10.5281/zenodo.3973542" target="_blank">10.5281/zenodo.3973542</a> is the archive.

[2020-08-07 20:01] pibion commented on #2363
@whedon set v2.1 as version

[2020-08-07 20:01] whedon commented on #2363
OK. v2.1 is the version.

[2020-08-07 20:01] pibion commented on #2363
@whedon accept

[2020-08-07 20:01] whedon commented on #2363
[code]

[2020-08-07 20:01] whedon commented on #2363
[code]

[2020-08-07 20:02] whedon commented on #2363
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1632

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1632, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-07 20:28] danielskatz commented on #2363
👋 @aureliocarnero - I notice you did not check off the performance box as part of your review.  Is there a problem with this item?

[2020-08-07 20:34] danielskatz commented on #2363
@sambit-giri - when "21 cm" is used as an adjective, as in "21 cm signal", it should be hyphenated to "21-cm signal".  Can you change this in your paper and in the title?  You might also want to change the title of the zenodo archive to match.  Actually, I now see that you need to change the title of the Zenodo archive in any event, as it's the default title from the repo.

[2020-08-07 21:00] majensen commented on #2510
@arcuri82, would you consider reviewing this work (https://github.com/openjournals/joss-reviews/issues/2510) for [the Journal of Open Source Software](https://joss.theo4j.org)? Your java expertise would be greatly appreciated. Guidelines for reviewing are [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).
Thanks very much for considering! --@majensen

[2020-08-07 21:38] majensen commented on #2556
@whedon commands

[2020-08-07 21:38] whedon commented on #2556
Here are some things you can ask me to do:

[code]

[2020-08-07 21:56] majensen commented on #2556
@Maghnuso do you read me, over?

[2020-08-07 22:01] majensen commented on #2556
@Maghnuso one more time

[2020-08-07 22:02] Maghnuso commented on #2556
Loud and clear

[2020-08-07 22:04] kbarnhart commented on #2407
@sadielbartholomew @Xunius It does appear that the DOI link is broken on the Monthly Weather Review site. I'll consult with the JOSS editorial board about what the best approach to handling this is.

[2020-08-07 22:49] arcuri82 commented on #2510
@majensen: Hi, yes, I can review it. Busy period (start of teaching semester)... so I do not think I ll have time to start the review before at least 2 weeks, but should be able to complete within the given 6 weeks

[2020-08-07 22:51] bstabler commented on #2409
@lydialucchesi - no hurry, the pace is up to you

[2020-08-07 22:53] bstabler commented on #2409
@nuest wrote "The first author @lydialucchesi has primarily contributed to the JOSS paper - at least judging from the commits. Major code contributions were made by @pkuhnert. The third author has not made any contribution to the software himself, but I assume there is a significant contribution in algorithm design and the idea behind the package. I assume the contributors discussed this, but IMO

[2020-08-08 01:07] hope-data-science commented on #2388
@whedon generate pdf

[2020-08-08 01:10] whedon commented on #2388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02388/joss.02388/10.21105.joss.02388.pdf)

[2020-08-08 03:16] majensen commented on #2510
@arcuri82 thanks so much; that will be fine. Very much appreciated

[2020-08-08 05:44] kinow commented on #2506
Followed new build instructions written by @pmkruyen , successfully built and executed DearScholar locally. Other users should be able to reproduce it, given they follow the instructions and there are no packages removed from NPM/DockerHub. :+1: thanks @pmkruyen !

[2020-08-08 09:03] mikldk commented on #2388
@tomsing1 What is the status for your review?

[2020-08-08 09:14] richardjgowers commented on #1992
@csoneson yes I'm happy now, thanks for your patience!

[2020-08-08 11:02] hope-data-science commented on #2388
Make new revision on the reference part. @whedon generate pdf

[2020-08-08 12:31] whedon commented on #2388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02388/joss.02388/10.21105.joss.02388.pdf)

[2020-08-08 14:07] dfm commented on #2505
@EiffL, @cranmer: I just wanted to check in with you guys to keep this review on your radar. Let me know if you have any questions!

[2020-08-08 14:17] dfm commented on #2502
@steven-murray: Quick update here: I'm still working on finding reviewers and I'll keep you posted. Thanks for your patience!

[2020-08-08 18:18] nnadeau commented on #2448
done

[2020-08-08 21:48] mbdemoraes commented on #2448
Hello! I've finished my review. Everything checked now.

[2020-08-09 01:34] arfon commented on #2316
👍 thanks for the ping @blsqr - I just emailed @lorenanicole to ask her to check in soon.

[2020-08-09 01:41] majensen commented on #2510
@whedon add @arcuri82 as reviewer

[2020-08-09 01:41] whedon commented on #2510
OK, @arcuri82 is now a reviewer

[2020-08-09 01:41] majensen commented on #2510
@whedon start review

[2020-08-09 01:41] whedon opened #2558 "[REVIEW]: Bacting: a next generation, command line version of Bioclipse"
**Submitting author:** @egonw (<a href="http://orcid.org/0000-0001-7542-0286">Egon Willighagen</a>)
**Repository:** <a href="https://github.com/egonw/bacting" target ="_blank">https://github.com/egonw/bacting</a>
**Version:** paper-v3
**Editor:** @majensen
**Reviewer:** @Zethson, @arcuri82
**Archive:** <a href="https://doi.org/10.5281/zenodo.4942022" target="_blank">10.5281/zenodo.4942022</a>

**:

[2020-08-09 01:41] whedon commented on #2510
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2558.

[2020-08-09 01:41] #2510 closed

[2020-08-09 01:41] whedon commented on #2558
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Zethson, @arcuri82 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-08-09 01:41] whedon commented on #2558
PDF failed to compile for issue #2558 with the following error:

 Can't find any papers to compile :-(

[2020-08-09 01:42] majensen commented on #2510
@egonw @arcuri82 @Zethson we will perform the review over in #2558 - thanks!

[2020-08-09 01:44] majensen commented on #2558
@whedon generate pdf from branch devel/0.0.13

[2020-08-09 01:44] whedon commented on #2558
[code]

[2020-08-09 01:44] whedon commented on #2558
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02558/joss.02558/10.21105.joss.02558.pdf)

[2020-08-09 02:13] MikeHeiber commented on #2307
I've made a significant update to the user manual and paper itself. As before, the latest version can be seen here:
https://github.com/MikeHeiber/Excimontec/tree/joss-paper-update

To the paper, I've added additional information about what KMC simulations can be used for and specifically what types of simulation tests come with v1.0.  I also direct readers interested in more details to the user ma

[2020-08-09 06:11] csoneson commented on #1992
@whedon generate pdf

[2020-08-09 06:12] whedon commented on #1992
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01992/joss.01992/10.21105.joss.01992.pdf)

[2020-08-09 06:17] csoneson commented on #1992
@whedon check references

[2020-08-09 06:17] whedon commented on #1992
[code]

[2020-08-09 07:54] csoneson commented on #1992
👋 @Sulstice - I have made a pull request to your repository with a few small fixes to the paper and the bib file. Could you please check that they look ok, that I didn't misinterpret anything, and merge it. Please also clarify this sentence in the introduction, I'm not quite sure how to interpret it:

[2020-08-09 13:17] ritagnunes commented on #2478
Dear @mathieuboudreau <https://github.com/mathieuboudreau>, @grlee77
<https://github.com/grlee77> ,

Many thanks for your constructive feedback.
We have made some modifications to the code to address the issues you
raised.
I have also added a comment regarding the mixed use of Matlab and Python.

Let me know if you need any further information to proceed with the
revision.

On Fri, Aug 7, 2020 at

[2020-08-09 14:51] whedon opened #2559 "[PRE REVIEW]: A Short Introduction to PF: A C++ Library for Particle Filtering"
**Submitting author:** @tbrown122387 (<a href="http://orcid.org/0000-0003-4972-6251">Taylor Brown</a>)
**Repository:** <a href="https://github.com/tbrown122387/pf" target ="_blank">https://github.com/tbrown122387/pf</a>
**Version:** v1.0.1
**Editor:** @diehlpk
**Reviewers:** @ziotom78, @andremrsantos
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-08-09 14:51] whedon commented on #2559
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-09 14:51] whedon opened #2560 "[PRE REVIEW]: zalpha: an R package for the identification of regions of the genome under selection"
**Submitting author:** @chorscroft (<a href="http://orcid.org/0000-0001-5679-5912">Clare Horscroft</a>)
**Repository:** <a href="https://github.com/chorscroft/zalpha" target ="_blank">https://github.com/chorscroft/zalpha</a>
**Version:** v0.2.0
**Editor:** @lpantano
**Reviewers:** @juanvillada
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-08-09 14:51] whedon commented on #2560
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-09 14:52] whedon opened #2561 "[PRE REVIEW]: Damona: a Singularity environment manager for reproducible analysis"
**Submitting author:** @cokelaer (<a href="http://orcid.org/0000-0001-6286-1138">Thomas Cokelaer</a>)
**Repository:** <a href="https://github.com/cokelaer/damona" target ="_blank">https://github.com/cokelaer/damona</a>
**Version:** 0.4.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2020-08-09 14:52] whedon commented on #2561
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-09 14:52] whedon commented on #2559
[code]

[2020-08-09 14:52] whedon commented on #2561
Failed to discover a `Statement of need` section in paper

[2020-08-09 14:52] whedon commented on #2559
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02559/joss.02559/10.21105.joss.02559.pdf)

[2020-08-09 14:52] whedon commented on #2561
[code]

[2020-08-09 14:52] whedon commented on #2560
PDF failed to compile for issue #2560 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2560 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e09ec0a48e3/lib/whedo

[2020-08-09 14:52] whedon commented on #2561
Failed to discover a valid open source license.

[2020-08-09 14:52] whedon commented on #2561
[code]

[2020-08-09 14:53] whedon commented on #2561
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02561/joss.02561/10.21105.joss.02561.pdf)

[2020-08-09 14:53] danielskatz commented on #2561
@whedon query scope

[2020-08-09 14:54] whedon commented on #2561
Submission flagged for editorial review.

[2020-08-09 14:55] danielskatz commented on #2561
@cokelaer - an OSI-approved license is required for JOSS to consider this submission - see https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

[2020-08-09 14:56] danielskatz commented on #2561
Additionally, your paper needs to have a section entitled "Statement of Need" - see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2020-08-09 14:57] danielskatz commented on #2561
Finally, note that there is a DOI fix needed, and perhaps a missing DOI to be added

[2020-08-09 14:58] danielskatz commented on #2559
@whedon check repository

[2020-08-09 14:58] whedon commented on #2559
[code]

[2020-08-09 15:00] danielskatz commented on #2560
@whedon generate pdf

[2020-08-09 15:01] whedon commented on #2560
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02560/joss.02560/10.21105.joss.02560.pdf)

[2020-08-09 15:02] danielskatz commented on #2560
@whedon check references

[2020-08-09 15:02] whedon commented on #2560
[code]

[2020-08-09 15:02] danielskatz commented on #2560
@whedon check repository

[2020-08-09 15:03] whedon commented on #2560
[code]

[2020-08-09 16:48] gkthiruvathukal commented on #2546
@tobias-dv-lnu I am ready to start review on this submission. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-08-09 16:54] gkthiruvathukal commented on #2153
@arcuri82  Based on the open issue raised by @mado89, I assume you are still working to bring it to closure.

@mado89 and @UTH-Tuan,  please respond when you are ready to move forward with this submission. I will be nudging everyone every week or so.

[2020-08-09 16:58] gkthiruvathukal commented on #2459
@vincentberenz Thank you for suggesting possible reviewers.

[2020-08-09 16:59] gkthiruvathukal commented on #2459
@giodegas and @stevemacenski, would you be willing to contribute a review for this JOSS submission?

[2020-08-09 17:00] gkthiruvathukal commented on #2362
@kthyng Thanks for helping to sort this out!

@e-dub Can you let us know when you are able to complete your review?

[2020-08-09 17:07] sp94 commented on #2239
Hi @dpsanders,

I've added the test sets and according to coveralls.io I'm at 62% coverage. The remaining percentage is from the plotting functions. Do you have any recommendations in this case?

Thanks for your time

[2020-08-09 17:54] diehlpk commented on #2559
@danielskatz I would like to edit this paper.

[2020-08-09 17:55] diehlpk commented on #2559
@whedon assign @diehlpk as editor

[2020-08-09 17:55] whedon commented on #2559
OK, the editor is @diehlpk

[2020-08-09 17:59] diehlpk commented on #2559
@tbrown122387 Can you please add the missing DOIs to the paper?

[2020-08-09 18:03] diehlpk commented on #2559
@hkaiser @NK-Nikunj @brycelelbach @sithhell @biddisco @gentryx would anyone be interested to review this paper?

[2020-08-09 19:05] tbrown122387 commented on #2559
@diehlpk done :)

[2020-08-09 20:17] giodegas commented on #2459
@gkthiruvathukal ok I can try, if the deadline is not too close. Where can I get the paper?
(I never done it before here, so be patient :-) )

[2020-08-10 00:14] danielskatz commented on #2560
👋 @lpantano - would you be able to edit this submission?

[2020-08-10 00:14] danielskatz commented on #2560
@whedon invite @lpantano as editor

[2020-08-10 00:14] whedon commented on #2560
@lpantano has been invited to edit this submission.

[2020-08-10 00:17] danielskatz commented on #2352
👋 @bhatele  - note that the authors are waiting for your response

[2020-08-10 00:18] danielskatz commented on #2352
👋 @davidbeckingsale

How is this coming along?

[2020-08-10 00:20] danielskatz commented on #2282
👋 @jcolomb - how are you coming on the open issues?

[2020-08-10 00:22] danielskatz commented on #2532
👋 @chummels & @brittonsmith - just checking with you again, and hoping that one of you will be willing to do this.

[2020-08-10 00:22] danielskatz commented on #2532
👋 eteq & olebole - just checking with you again, and hoping that one of you will be willing to do this.

[2020-08-10 00:23] danielskatz commented on #2532
👋 @eteq & @olebole - would one of you be willing to review this JOSS submission?

[2020-08-10 00:58] diehlpk commented on #2559
@whedon generate pdf

[2020-08-10 00:58] whedon commented on #2559
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02559/joss.02559/10.21105.joss.02559.pdf)

[2020-08-10 03:35] ixjlyons commented on #2494
My review:

PySocialForce is an extension and improvement upon [svenkreiss/socialforce](https://github.com/svenkreiss/socialforce), implementing the social force model with the addition of group forces. The interface for setting up simulations is straightforward and the modeling appears to be easily extended, enabling further research in the field.

I have a few comments below, but otherwise I rec

[2020-08-10 05:24] mado89 commented on #2153
Yes we are trying to resolve some issues I have with the software

[2020-08-10 06:18] antviro commented on #2480
Yes I will try to finish mine during the next week. Sorry for the delay!

[2020-08-10 07:10] lydialucchesi commented on #2409
@nuest @bstabler great, I will make sure to add information about contributions as I complete the package revisions.

[2020-08-10 07:17] jni commented on #2511
@whedon assign @puolival as reviewer

[2020-08-10 07:17] whedon commented on #2511
OK, @puolival is now a reviewer

[2020-08-10 07:37] sambit-giri commented on #2363
@whedon generate pdf

[2020-08-10 07:38] whedon commented on #2363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02363/joss.02363/10.21105.joss.02363.pdf)

[2020-08-10 07:46] sambit-giri commented on #2363
Dear @danielskatz

I have edited "21 cm" in the paper wherever needed. I have also changed the title of the zenodo archive.

Best,
Sambit

[2020-08-10 09:17] jcolomb commented on #2282
I need some extra time. Sorry I can't be more reactive on this and thank you for the reminder !

[2020-08-10 09:18] giodegas commented on #2459
Ok, I got the paper.

[2020-08-10 09:20] tobias-dv-lnu commented on #2546
Great! I have no real suggestions but I went through the list from the bottom and compiled a list of reviewers that could be suitable (basically checking the preferred language to be Java, and some interest in software engineering).

Super short list:
bzz, chrisma

Short list:
kinow, shanamatthews, UTH-Tuan, bzz, chrisma, mado89, neurons, dghoshal-lbl, sonal-raj, jaynanavati, hainesr, arcuri82, xi

[2020-08-10 09:25] trallard commented on #2350
@whedon start review

[2020-08-10 09:25] whedon opened #2562 "[REVIEW]: biorbd: A C++, Python and MATLAB library to analyze and simulate the human body biomechanics"
**Submitting author:** @pariterre (<a href="http://orcid.org/0000-0002-5031-1048">Benjamin Michaud</a>)
**Repository:** <a href="https://github.com/pyomeca/biorbd" target ="_blank">https://github.com/pyomeca/biorbd</a>
**Version:** 1.3.2
**Editor:** @trallard
**Reviewer:** @trallard, @abhishektha
**Archive:** <a href="https://doi.org/10.5281/zenodo.4450303" target="_blank">10.5281/zenodo.4450303</

[2020-08-10 09:25] whedon commented on #2350
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2562.

[2020-08-10 09:25] #2350 closed

[2020-08-10 09:25] whedon commented on #2562
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard, @abhishektha it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-08-10 09:26] whedon commented on #2562
[code]

[2020-08-10 09:26] whedon commented on #2562
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02562/joss.02562/10.21105.joss.02562.pdf)

[2020-08-10 09:42] thorvere commented on #2353
dms-view is a well-designed visualization tool allowing to interactively analyze DMS data in the context of protein structures.  Upon addressing some minor modifications for which I opened issues, I think it is a very useful contribution for the scientific community. Thus, I can recommend it for publication.

[2020-08-10 09:43] mikldk commented on #2534
@tgerke, @sahilseth, @JonathanReardon, @trinker: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-08-10 09:46] mikldk commented on #2526
@daviddewhurst, can you please let me know how your review is progressing?

[2020-08-10 10:09] csoneson commented on #2353
Thanks @thorvere!

@afrubin - could you update us on the status of your review?

@andrefaure - I think the authors added a comment on the state of the field. Could you see if that satisfies your concerns above?

[2020-08-10 10:09] csoneson commented on #2353
@whedon generate pdf

[2020-08-10 10:09] whedon commented on #2353
PDF failed to compile for issue #2353 with the following error:

 Syntax Warning: May not be a PDF file (continuing anyway)
Syntax Error: Couldn't find trailer dictionary
Syntax Error: Couldn't find trailer dictionary
Syntax Error: Couldn't read xref table
Syntax Warning: May not be a PDF file (continuing anyway)
Syntax Error: Couldn't find trailer dictionary
Syntax Error: Couldn't find trailer di

[2020-08-10 10:21] KathrynJones1 commented on #2382
@whedon generate pdf

[2020-08-10 10:21] csoneson commented on #2353
@openjournals/dev - any idea what could cause this compilation issue? 🤔

[2020-08-10 10:22] whedon commented on #2382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02382/joss.02382/10.21105.joss.02382.pdf)

[2020-08-10 10:24] iaklampanos commented on #2552
Dear editors, @openjournals/jose-eics,

We have made the following updates:

* The DARE group (https://gitlab.com/project-dare) now contains a short description pointing to the dare-platform repository as the integrating one and for more information
* ReadMe.md (https://gitlab.com/project-dare/dare-platform/-/blob/master/ReadMe.md) of the dare-platform repository has been significantly updated. It

[2020-08-10 10:25] brittonsmith commented on #2532
@danielskatz, sorry for the delay in getting back to you. I work quite closely with the authors and attend regular meetings with them. I'm not sure if that is too close, but I am really drowning this summer. I just can't spare the time. My apologies. I can think of a couple people who would do an excellent job at this: neutrinoceros and cphyc. I hope they can help.

[2020-08-10 10:42] xuanxu commented on #2353
It seems there's a problem rendering the `dms.pdf` file.

https://github.com/dms-view/dms-view.github.io/blob/master/paper/dms.pdf

Maybe it's not a well formatted pdf?

[2020-08-10 11:03] csoneson commented on #2353
@skhilton - could you check this?

https://github.com/dms-view/dms-view.github.io/blob/master/paper/dms.pdf
Maybe it's not a well formatted pdf?

[2020-08-10 11:44] pdebuyl commented on #2494
Thank you @ixjlyons for the review!

Comments/replies to the review's questions:

1. Installation via pip should proceed successfully.
2. Packaging the files via the "data files" of the package is good practice. We encourage to follow the best practices of the language for the project.
3. The documentation of the API should be available as well. Provided the docstrings are there already, this shou

[2020-08-10 11:53] cMadan commented on #2535
@ejhigson, sounds good, thanks for the update!

[2020-08-10 11:59] danielskatz commented on #2532
👋  @neutrinoceros and @cphyc - would one of you be willing to review this submission to JOSS? If you're not familiar with JOSS's review style/guidelines, we are basically checklist driven and use GitHub, where reviewers, editors, and authors work openly and iteratively to ideally improve submissions to the point where they can be accepted. See https://joss.readthedocs.io/en/latest/reviewer_guideli

[2020-08-10 12:03] danielskatz commented on #2363
Now we just need @aureliocarnero to check off the performance box as part of his review.

[2020-08-10 12:23] cphyc commented on #2532
@danielskatz, I would be willing to review this submission but won't be able to do so until the beginning of September.

[2020-08-10 12:27] daviddewhurst commented on #2526
@mikldk I've been completing it and not updating the above page. It'll be finished on Friday.

[2020-08-10 12:35] pdebuyl commented on #2307
Thank you @MikeHeiber for the reply.

@mdavezac and @Luthaf , the process is back in your hands.

[2020-08-10 12:38] ronikobrosly commented on #2523
Hi @oliviaguest 👋 , I havent heard back from @cmparlettpelleriti . What would you recommend?

[2020-08-10 12:38] danielskatz commented on #2532
Thanks @cphyc - let's see if we can find 2 reviewers before then, but if not, I will take you up on your offer.

[2020-08-10 12:42] neutrinoceros commented on #2532
@danielskatz I don't think I'll have time for this in the foreseeable future unfortunately, but feel free to ping me again in a month if you're still looking, things might change !

[2020-08-10 13:00] olebole commented on #2532
I could do it next week. Would that be ok?

[2020-08-10 13:06] aureliocarnero commented on #2363
@danielskatz done!

[2020-08-10 13:13] cokelaer commented on #2561
Dear Daniel, I've now uploaded a license file and created the DOI on zenodo (and updatedthe README of the repository itself). I have updated the paper to have a summary section and statement of need section, which should ease the reading and comply with JOSS requirements. I have not found instructions to include the DOI in the paper.md file itself. I noted the DOI and authors in the footnote of th

[2020-08-10 13:22] usethedata commented on #2553
@whedon assign @usethedata as editor

[2020-08-10 13:22] whedon commented on #2553
OK, the editor is @usethedata

[2020-08-10 13:22] danielskatz commented on #2363
@whedon accept

[2020-08-10 13:22] whedon commented on #2363
[code]

[2020-08-10 13:22] whedon commented on #2363
[code]

[2020-08-10 13:23] whedon commented on #2363
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1633

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1633, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-10 13:24] danielskatz commented on #2363
@whedon accept deposit=true

[2020-08-10 13:24] whedon commented on #2363
[code]

[2020-08-10 13:25] whedon commented on #2363
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1292814283982671874) 👈 🐦🐦🐦

[2020-08-10 13:25] whedon commented on #2363
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1634
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02363](https://doi.org/10.21105/joss.02363)
2. If everything looks g

[2020-08-10 13:28] danielskatz commented on #2363
Thanks to @nicholebarry & @aureliocarnero & @ziotom78 for reviewing, and @pibion for editing!

Congratulations to @sambit-giri (Sambit Kumar Giri) and co-authors!!

[2020-08-10 13:28] #2363 closed

[2020-08-10 13:28] whedon commented on #2363
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02363/status.svg)](https://doi.org/10.21105/joss.02363)

**We need your help!**

Journal of Open Source Softwa

[2020-08-10 13:29] danielskatz commented on #2532
thanks @olebole  - I'll add you as a reviewer, but we won't start the review until I also find a second reviewer.

[2020-08-10 13:29] danielskatz commented on #2532
@whedon assign @olebole as reviewer

[2020-08-10 13:29] whedon commented on #2532
OK, @olebole is now a reviewer

[2020-08-10 13:31] danielskatz commented on #2561
@whedon generate pdf

[2020-08-10 13:32] whedon commented on #2561
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02561/joss.02561/10.21105.joss.02561.pdf)

[2020-08-10 13:33] danielskatz commented on #2561
@cokelaer - you didn't need to create the DOI on zenodo - if there are changes in the software due to the review, a new version of the software will need to be archived.  By the missing DOI, I meant what was suggested in

[2020-08-10 13:34] danielskatz commented on #2561
@whedon check references

[2020-08-10 13:34] whedon commented on #2561
[code]

[2020-08-10 13:34] danielskatz commented on #2561
Note that you can issue the whedon commands to regenerate the pdf and check the references that I am doing.

[2020-08-10 13:36] danielskatz commented on #2561
Also, if you have items in your .bib file that are not being used as references, please remove them. This is a failing of whedon.

[2020-08-10 13:40] trallard commented on #2404
Apologies for the delay @cadop  I will jump into the issue and will make sure to speed this review on my end

[2020-08-10 13:43] cokelaer commented on #2561
@whedon check references

[2020-08-10 13:44] whedon commented on #2561
[code]

[2020-08-10 13:44] cokelaer commented on #2561
@whedon generate pdf

[2020-08-10 13:45] whedon commented on #2561
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02561/joss.02561/10.21105.joss.02561.pdf)

[2020-08-10 13:47] cokelaer commented on #2561
@danielskatz DOI corrected as well as bib file. PDF looks good to me; This at whedon is great by the way

[2020-08-10 14:02] cmparlettpelleriti commented on #2523
hello! Sorry for the delay, I'm slowly working my way through the checklist 🙂

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Roni Kobrosly <notifications@github.com>
Sent: Monday, August 10, 2020 5:38:19 AM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Parlett, Chelsea (Student) <parlett@chapman.edu>; Mention <mention@noreply.github.com>
Su

[2020-08-10 14:24] danielskatz commented on #2532
👋 @namurphy - would you be willing to review this submission to JOSS? You were suggested by a colleague at CfA.

If you're not familiar with JOSS's review style/guidelines, we are basically checklist driven and use GitHub, where reviewers, editors, and authors work openly and iteratively to ideally improve submissions to the point where they can be accepted. See https://joss.readthedocs.io/en/late

[2020-08-10 14:33] diehlpk commented on #2291
Hi @johntfoster could you please estimate when you intend to finish the review?

[2020-08-10 14:34] diehlpk commented on #2403
Hey @arokem and @lukasheinrich how is your review going?

[2020-08-10 14:35] diehlpk commented on #2559
@tbrown122387 Could you please recommend some reviewers? You can name them here using their GitHub handle without the @ at the beginning.

[2020-08-10 14:39] diehlpk commented on #2559
Hi @wrathematics @betatim @jochym @dvalters @jwuttke @leios would you be interested in reviewing this paper for JOSS?

[2020-08-10 14:44] jwuttke commented on #2559
no capacity right now, sorry.

[2020-08-10 14:52] majensen commented on #2331
Hi @dawbarton - just following up; are you still able to review as you anticipated? Thanks

[2020-08-10 14:54] Sulstice commented on #1992
@csoneson All merged in!

[2020-08-10 14:56] Kevin-Mattheus-Moerman commented on #2520
@KristofferC thanks for your help here. When can we expect your review contributions?

[2020-08-10 15:18] KristofferC commented on #2520
Hello again and sorry for the late replies. I will give my comments so they are available here within 24 hours. I hope that is OK.

[2020-08-10 15:26] steven-murray commented on #2502
@dfm thanks for the update!

[2020-08-10 15:36] PetrKryslUCSD commented on #2520
I note that the typesetting of the code is not resolved yet.

[2020-08-10 15:47] astrom-tom commented on #2308
Hi @harpolea
I am reviewing this software, it seems that there is no paper.md in the repository. Is that normal?

[2020-08-10 15:50] harpolea commented on #2308
Hi @astrom-tom – sometimes authors choose to put their paper in a different branch of the repository so as not to clutter the main repository. For this repo, the paper is in the `joss-paper-branch` branch: https://github.com/pypeit/PypeIt/tree/joss-paper-branch/paper

[2020-08-10 15:51] teuben commented on #2559
Not reviewing, but I'm offering one comment. I have no clue from the README.md first paragraph what this is about. Is a particle an object at some position with lots of attributes and you filter one that? If so ,say that.

[2020-08-10 15:51] astrom-tom commented on #2308
ooh alright, thanks!

[2020-08-10 16:03] CFGrote commented on #2436
ok, we addressed all issues, but let me check the pdf before marking as "resubmitted". btw, am i supposed/allowed to mark those checkboxes in the review reports or will the reviewers do that as they see fit?

[2020-08-10 16:03] CFGrote commented on #2436
@whedon generate pdf

[2020-08-10 16:04] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-08-10 16:55] csoneson commented on #1992
@whedon generate pdf

[2020-08-10 16:55] whedon commented on #1992
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01992/joss.01992/10.21105.joss.01992.pdf)

[2020-08-10 16:59] csoneson commented on #1992
@whedon check references

[2020-08-10 17:00] whedon commented on #1992
[code]

[2020-08-10 17:07] csoneson commented on #1992
@Sulstice - the paper looks good! Here are the next steps:

- [ ] Create a tagged release of the software, and report back the version tag here
- [ ] Archive the release in Zenodo
- [ ] Check that the Zenodo archive has the same title and author list as the paper.
- [ ] Report back the Zenodo DOI here

[2020-08-10 17:22] skhilton commented on #2353
@csoneson: This should be fixed now! One of the pdfs was not formatted correctly. The version on the master branch complies nicely using https://whedon.theoj.org/ for me. Let me know if there is trouble on your end

[2020-08-10 17:22] skhilton commented on #2353
@whedon generate pdf

[2020-08-10 17:23] whedon commented on #2353
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02353/joss.02353/10.21105.joss.02353.pdf)

[2020-08-10 18:09] kbarnhart commented on #2361
@tylunel thanks for making these improvements to pvpumpingsystem. However, there is still a bit more work that needs to be done before the package can move on to the review process.

Specifically, I think that the documentation and examples still need improvement.
- _Narrative documentation_: I think the Package Overview section you've written is a wonderful addition to the documentation, but woul

[2020-08-10 18:21] csoneson commented on #2353
Looks like it worked! 😃

[2020-08-10 18:39] lpantano commented on #2560
@whedon assign @lpantano as editor

[2020-08-10 18:39] whedon commented on #2560
OK, the editor is @lpantano

[2020-08-10 19:05] Luthaf commented on #2307
I'm currently on holidays until the 24th, I'll see if I can find some time before that but I can't make any promise

[2020-08-10 19:19] SteveMacenski commented on #2459
I don't think I'm suited to this paper, I'm a robotics expert.

[2020-08-10 19:27] astrom-tom commented on #2308
@harpolea ,

Sorry to bug you, this is the first time I am reviewing for JOSS.
- For each identified problem/remarks I need to open an issue on the repo right?
- Once I am done with the review, what should I do?

[2020-08-10 19:39] harpolea commented on #2308
@astrom-tom that's totally fine – feel free to ask about anything you're unsure of!

Yes, if you identify any problems or have any suggestions, then please open an issue in the original repo. It's normally useful for the repo maintainers if you include 'JOSS' in the issue title so they can easily identify what the issue relates to, but obviously different organisations handle this in different way

[2020-08-10 19:45] oliviaguest commented on #2523
@ronikobrosly feel free to organise how you want to revise stuff any way you like. It can be either before or after @cmparlettpelleriti gets back to you. ✨

[2020-08-10 19:57] oliviaguest commented on #2377
@teamPSG ah, sorry, I must have thought I replied but did not — thanks for reminding me. AFAIK what you have done is totally fine. 😺

[2020-08-10 21:06] eloisabentivegna commented on #2338
@dgoldri25, do you concur with @jangmys' suggestions regarding a comparison with the state of the art? Is this why you have left the corresponding box unticked?

[2020-08-10 21:36] mjsottile commented on #2260
Looks like good progress is being made on the review over in the issues within the Ginkgo repository.  I've been periodically clicking through them to see the progress on the review.

To make sure things go fast once those are all completed, make sure to post a message in this issue thread to indicate that the review is complete.

In the meantime, @zeroset - I am going to assume based on your chec

[2020-08-10 21:46] jessie-dotson commented on #2382
Please add minimum version#s of dependencies.  See discussion in https://github.com/KathrynJones1/catwoman/issues/10

[2020-08-10 22:05] astrom-tom commented on #2308
Dear @kthyng, @harpolea

I went throught the software and documentation, you can find my review below. Please let know if there is something missing. I am going to open issue for each of the 4 points highlighted below:

**1-Paper**
The paper is nicely written. I have a single remark about it: it could be useful to mention that pypeit is a set of commands design to perform the reduction (i.e. no ne

[2020-08-10 22:38] arokem commented on #2403
I just checked the remaining boxes. From my point of view, this paper is ready to be accepted.

[2020-08-10 22:52] jessie-dotson commented on #2382
@KathrynJones1 -- thanks for the hint to use timeit!  I re-ran the performance test using timeit.  I still can't reproduce the quoted 300seconds, but get 400seconds instead.  I naively would've thought that my laptop (2.6 GHz Intel Core i7) would've been faster than the one quoted in the paper, but perhaps that's a naive expectation.  I also tried on an older processor (1.2 GHz Intel Core m5) and

[2020-08-11 00:27] jgostick commented on #2381
Hi  @merrygoat, did you notice the comments from @mikapfl above?  He has a few 'unchecked' boxes for you to address, but this is almost over the finish line!

[2020-08-11 00:30] jgostick commented on #2529
I'm still looking for a 2nd reviewer, but I will start this so that @mkhorton can get started.

[2020-08-11 00:30] jgostick commented on #2529
@whedon start review

[2020-08-11 00:30] whedon opened #2563 "[REVIEW]: matador: a Python library for analysing, curating and performing high-throughput density-functional theory calculations"
**Submitting author:** @ml-evs (<a href="http://orcid.org/0000-0002-1182-9098">Matthew L Evans</a>)
**Repository:** <a href="https://github.com/ml-evs/matador" target ="_blank">https://github.com/ml-evs/matador</a>
**Version:** 0.9.9
**Editor:** @jgostick
**Reviewers:** @mkhorton, @srmnitc
**Archive:** <a href="https://doi.org/10.5281/zenodo.4095078" target="_blank">10.5281/zenodo.4095078</a>

**:

[2020-08-11 00:30] whedon commented on #2529
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2563.

[2020-08-11 00:30] #2529 closed

[2020-08-11 00:30] whedon commented on #2563
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mkhorton it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-08-11 00:31] whedon commented on #2563
PDF failed to compile for issue #2563 with the following error:

 Can't find any papers to compile :-(

[2020-08-11 00:56] victorvalgenti commented on #2183
I have reviewed some of the new code and confirmed that the instructions allow the source to be installed and built and the tests run and pass. I am continuing to examine the documents, however I have one request.

I am glad to see the examples directory, but I would really appreciate some text for running the examples along with enough context to get a feel for what is occurring. Without it, it i

[2020-08-11 01:37] galessiorob commented on #2448
@whedon generate pdf

[2020-08-11 01:38] whedon commented on #2448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02448/joss.02448/10.21105.joss.02448.pdf)

[2020-08-11 01:45] galessiorob commented on #2448
@whedon accept deposit=true

[2020-08-11 01:45] whedon commented on #2448
I'm sorry @galessiorob, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-08-11 01:49] galessiorob commented on #2448
@whedon check references

[2020-08-11 01:49] whedon commented on #2448
[code]

[2020-08-11 01:53] galessiorob commented on #2448
@cicirello we're almost ready to publish! Could you please deposit your software in Zenodo and post the DOI here?

After that, we can set the final version and accept the paper 🎉

@mbdemoraes and @nnadeau thank you both so much for your time and expertise ✨

[2020-08-11 02:09] jonwong12 commented on #2372
Hmm. So I have used a specific `CMAKE_INSTALL_PREFIX`.

I added a `build-install` directory in the repository root and installed to that location.

[code]

[2020-08-11 02:56] cicirello commented on #2448
@galessiorob the Zenodo doi for all versions is https://doi.org/10.5281/zenodo.3959773 . I think that is probably the one you want. It looks like zenodo also generates a doi for each release, so if you want the one that goes to a specific release then it is https://doi.org/10.5281/zenodo.3974614 .

[2020-08-11 02:59] cicirello commented on #2448
@nnadeau and @mbdemoraes thank you both for your time, expertise, and very helpful feedback in your reviews.

[2020-08-11 04:31] rram84 commented on #2372
@jonwong12
Hi Jonathan,
I couldn't reproduce the issue you encountered on my machine.
I followed these steps to mimic your workflow using bitbucket pipelines:

[code]

You will find this sequence of steps reproduced verbatim in bitbucket-pipelines.yml.
The successful build report is here: https://bitbucket.org/rram/dvrlib/addon/pipelines/home#!/results/33

Could there be some issue in where you bu

[2020-08-11 04:31] rram84 commented on #2372
@jonwong12
Hi Jonathan,
I couldn't reproduce the issue you encountered on my machine.
I followed these steps to mimic your workflow using bitbucket pipelines:

[code]

You will find this sequence of steps reproduced verbatim in bitbucket-pipelines.yml.
The successful build report is here: https://bitbucket.org/rram/dvrlib/addon/pipelines/home#!/results/33

Could there be some issue in where you bu

[2020-08-11 04:56] amoeba commented on #2556
Hey @majensen & @jdbaugher: I sat down to start my review and ran into two things I think it'd be good to address before I get farther in:

1) The submission is _not_ licensed using an OSI-approved license but is licensed with a fairly permission but custom license. @jdbaugher Is my assessment right and is there any chance you have the ability to change the licensing here given the origin of the w

[2020-08-11 06:55] mikldk commented on #2388
When hope-data-science/tidyfst#7 is closed we should be close to finishing the review.

[2020-08-11 07:36] pdebuyl commented on #2436
@CFGrote the review checkboxes are for the reviewers of course.

[2020-08-11 07:51] CFGrote commented on #2436
sorry for not being specific:
i meant the checkboxes in the lists of review comments in  https://github.com/mpievolbio-scicomp/cancer_sim/issues/16 and  https://github.com/mpievolbio-scicomp/cancer_sim/issues/11 .

[2020-08-11 07:59] CFGrote commented on #2436
@whedon generate pdf

[2020-08-11 08:00] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-08-11 08:03] ml-evs commented on #2563
@whedon generate pdf from branch joss

[2020-08-11 08:03] whedon commented on #2563
[code]

[2020-08-11 08:04] whedon commented on #2563
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02563/joss.02563/10.21105.joss.02563.pdf)

[2020-08-11 08:06] ml-evs commented on #2563
@whedon commands

[2020-08-11 08:06] whedon commented on #2563
Here are some things you can ask me to do:

[code]

[2020-08-11 08:08] ml-evs commented on #2563
Thanks for initiating this review! I've been implementing a few more features since I submitted, so the version to review should be changed to v0.9.8. Is that a problem?

[2020-08-11 08:41] CFGrote commented on #2436
@whedon generate pdf

[2020-08-11 08:41] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-08-11 08:45] CFGrote commented on #2436
@whedon commands

[2020-08-11 08:45] whedon commented on #2436
Here are some things you can ask me to do:

[code]

[2020-08-11 08:45] CFGrote commented on #2436
@whedon check references

[2020-08-11 08:46] whedon commented on #2436
[code]

[2020-08-11 08:48] TeroFrondelius commented on #2520
@whedon generate pdf from branch joss

[2020-08-11 08:48] whedon commented on #2520
[code]

[2020-08-11 08:49] whedon commented on #2520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02520/joss.02520/10.21105.joss.02520.pdf)

[2020-08-11 08:56] torressa commented on #2408
@kakiac @bstabler Quick question, is it possible to add a new co-author at this stage?

We'd like to include @Halvaros as he's done a lot of work over the summer including some new hyper-heuristic selection functionality that picks the pricing heuristics on the fly.

[2020-08-11 09:10] andrefaure commented on #2353
Yes thanks - all my concerns are now satisfied and I have checked the corresponding checkbox above.

[2020-08-11 09:13] Kuifje02 commented on #2408
@kakiac @bstabler While we are at it, another question. We have taken into account all of the comments for the paper, but the resulting paper is longer than the 1000 word limit (~ 1300 words). Is the 1000 word limit strict ?

[2020-08-11 09:23] TeroFrondelius commented on #2520
That's cool. However, I don't have suitable rights to assign milestones to the issues.

[2020-08-11 09:25] fverdugo commented on #2520
Don't worry, I am doing it.

[2020-08-11 09:56] CFGrote commented on #2436
@whedon generate pdf

[2020-08-11 09:56] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-08-11 10:07] CFGrote commented on #2436
@whedon generate pdf

[2020-08-11 10:08] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-08-11 10:53] trallard commented on #2404
@whedon check references

[2020-08-11 10:53] whedon commented on #2404
[code]

[2020-08-11 10:54] trallard commented on #2404
@whedon generate pdf

[2020-08-11 10:54] whedon commented on #2404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02404/joss.02404/10.21105.joss.02404.pdf)

[2020-08-11 11:06] trallard commented on #2404
@cadop I have created a [PR](https://github.com/cadop/seg1d/pull/10) to make some minor edits to the paper for acceptance.

@AKuederle if you're happy with the authoring resolution can you complete your checklist, please?

[2020-08-11 12:44] mdoucet commented on #2529
@jgostick I can be the second reviewer if you still need someone.

[2020-08-11 12:51] KristofferC commented on #2520
@Kevin-Mattheus-Moerman my invitation expired so I cannot check the boxes, I'll be doing it in this comment in the meantime:

---------------

Review checklist for @KristofferC
Conflict of interest

    I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this r

[2020-08-11 12:56] danielskatz commented on #2520
@whedon re-invite @KristofferC as reviewer

[2020-08-11 12:56] whedon commented on #2520
OK, the reviewer has been re-invited.

@kristofferc please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-11 12:57] CFGrote commented on #2436
@whedon generate pdf

[2020-08-11 12:58] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-08-11 13:15] dgoldri25 commented on #2338
@eloisabentivegna I second @jangmys' suggestion. While I found the paper to be high quality overall, the review of the state of the art should be expanded.

[2020-08-11 13:21] jgostick commented on #2563
@whedon add @srmnitc as reviewer

[2020-08-11 13:21] whedon commented on #2563
OK, @srmnitc is now a reviewer

[2020-08-11 13:23] pdebuyl commented on #2436
@CFGrote even though these are issues in your repository, I think that it makes sense for the reviewers to check them. They will go through their remarks anyway while assessing the changes.

[2020-08-11 13:39] danielskatz commented on #2532
👍 @marcocamma - would you be willing to review this JOSS submission?

[2020-08-11 13:40] AKuederle commented on #2404
@trallard done :)

[2020-08-11 13:47] gkthiruvathukal commented on #2459
@giodegas If you scroll up, you can see the "Check article proof" link.

@SteveMacenski Thank you for responding.

[2020-08-11 13:48] gkthiruvathukal commented on #2459
@giodegas You had asked about the review process and criteria. Here are some helpful links from our journal docs:

Here are the reviewer guidelines:
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

And here is a bit more detail about the review criteria:
https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-08-11 13:49] gkthiruvathukal commented on #2459
@traversaro, Are you willing to contribute a review for this JOSS submission? I need two reviewers before I can proceed.

[2020-08-11 13:49] giodegas commented on #2459
Great, thank you @gkthiruvathukal  .

[2020-08-11 13:49] gkthiruvathukal commented on #2459
@whedon assign @giodegas as reviewer

[2020-08-11 13:49] whedon commented on #2459
OK, @giodegas is now a reviewer

[2020-08-11 13:49] diehlpk commented on #2559
@tbrown122387 Could you please update the README.md accordingly?

[2020-08-11 13:51] KristofferC commented on #2520
With the exception of the typesetting of the code part (which confused me for a while), I think this paper/software is well written and I have checked all the boxes (and thus recommend accepting this paper).

[2020-08-11 13:56] fverdugo commented on #2520
@Kevin-Mattheus-Moerman Have you asked to the whedon technical staff if it is possible to hook these lines
[code]

Into your pandoc template so that the nabla operators are displayed correctly ?

[2020-08-11 13:59] cokelaer commented on #2561
@whedon commands

[2020-08-11 13:59] whedon commented on #2561
Here are some things you can ask me to do:

[code]

[2020-08-11 14:13] tbrown122387 commented on #2559
@diehlpk To include the definition of a particle? Or the definition of “particle filter?” Regarding the first one, @teuben has it right—they are just samples targeting a distribution, and the distribution could indeed describe unobserved “positions.”

[2020-08-11 14:14] tomsing1 commented on #2388
Looks all good to me!

[2020-08-11 14:32] diehlpk commented on #2559
@tbrown122387 I think it would be good to add the definition of particle, since different scientific fields have different meanings for particles. So I think it would be beneficial to make clear what you define as particles. I think also adding the term particle filter would help, because here different scientific fields have different interpreataions.

[2020-08-11 15:11] trallard commented on #2404
@AKuederle  and @ejhigson  thank you very much for your contribution as reviewers for JOSS. Your time and contributions are much appreciated 🙌🏼

[2020-08-11 15:12] trallard commented on #2404
@cadop since both reviewers have completed their duties and not flagged any major issues we are ready to move forward.

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., i

[2020-08-11 15:23] poulson commented on #2490
Hi @vissarion -- I will reach out to more potential reviewers. Ideally we can get three -- we currently have one more confirmed. If we don't find at least one more by the end of August I will circle back.

[2020-08-11 15:23] poulson commented on #2490
@whedon add @jgoldfar as reviewer

[2020-08-11 15:24] whedon commented on #2490
OK, @jgoldfar is now a reviewer

[2020-08-11 15:24] cokelaer commented on #2561
@whedon list editors

[2020-08-11 15:24] whedon commented on #2561
Current editors:

[code]

[2020-08-11 15:25] poulson commented on #2490
This is on me. Thank you for your patience on this!

[2020-08-11 15:31] poulson commented on #2490
Hi Severin (@sevberg) :wave: -- Given your expertise in Python and optimization, you would seem to be a great candidate for reviewing this submission on large-scale nonlinear optimization (in Python).

[FWIW: It seems that your username is incorrectly listed in the JOSS reviewer spreadsheet as @dsryberg]

[2020-08-11 15:34] kbarnhart commented on #2407
@whedon check references

[2020-08-11 15:34] whedon commented on #2407
[code]

[2020-08-11 15:34] poulson commented on #2490
Hi David (@torressa) :wave: -- Given your expertise in Linear Programming and python, you seem like a great candidate for reviewing this submission on large-scale nonlinear optimization in Python.

Please let us know if you have the capacity and interest to review this software and paper.

[2020-08-11 15:34] cokelaer commented on #2561
@danielskatz In the first part of the thread, I've been asked for suggesting potential reviewers. Here is aa short list: lorenanicole, jni, will-rowe,  drvinceknight

[2020-08-11 15:38] matbesancon commented on #2490
hi, I would be available to review the paper and project but likely not before september

[2020-08-11 15:39] poulson commented on #2131
Hi Tristan (@tkonolige) :wave: -- As you can see, we are having issues with reviewer and editor capacity for obvious reasons. Are there any reviewers that you would recommend as being capable, impartial, and responsive for this submission?

[2020-08-11 15:40] ali-ramadhan commented on #2018
@whedon generate pdf from branch joss-paper

[2020-08-11 15:40] whedon commented on #2018
[code]

[2020-08-11 15:40] whedon commented on #2018
PDF failed to compile for issue #2018 with the following error:

 Error reading bibliography ./paper.bib (line 64, column 3):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-08-11 15:40] poulson commented on #2490
Thank you for the fast response, Mathieu. Both you and Vissarion (@vissarion) have the same constraint and would make a complete set of reviewers if added. I lean towards adding you both as reviewers and kicking off the review under the knowledge that the review won't start until September.

[2020-08-11 15:40] poulson commented on #2490
@whedon add @vissarion as reviewer