[2021-01-24 17:15] whedon commented on #2699
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02699/status.svg)](https://doi.org/10.21105/joss.02699)

**We need your help!**

Journal of Open Source Softwa

[2021-01-24 20:31] jbuisine commented on #2812
Hi @toressa,

Thank you very mush for your answer.

## Code

Regarding the code, I really appreciate your comments. I can indeed propose a more complex example (or even several).

I can use QAP (quadratic assignment problem) or UBQP (unconstrained binary quadratic programming) instances. Instances are proposed on [mocobench](http://mocobench.sourceforge.net/), but I may stay for the examples in a

[2021-01-24 20:43] jbuisine commented on #2812
@whedon generate pdf

[2021-01-24 20:43] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-01-24 21:40] fneum commented on #2677
Well done! Both repository and documentation look much tidier now! Also the EnergyPlus installation in a custom directory worked without problems for me now. Excellent! Almost all aspects from my initial review were adequately addressed. In addition to @sjpfenninger's remarks, only the following aspects still need your attention before we can wrap-up:

### Re-integration of examples directory (lin

[2021-01-24 21:48] jgostick commented on #2984
@whedon assign @jgostick as editor

[2021-01-24 21:48] whedon commented on #2984
OK, the editor is @jgostick

[2021-01-24 21:53] charleygros commented on #2868
@cMadan: We are ready for the next step I think :-)

[2021-01-24 23:26] sbenthall commented on #2855
https://copro.readthedocs.io/en/latest/examples/nb02_XY_data.ipynb.html
4.2.2.2. "Assing" -> "Assign"

[2021-01-25 00:04] majensen commented on #2913
Thanks @somefunAgba.
@jsgalan thanks for your consideration!

[2021-01-25 01:16] sbenthall commented on #2855
I see your example notebooks use `%matplotlib inline`. I believe more recent versions of Jupyter have made this unnecessary.

[2021-01-25 01:17] sbenthall commented on #2966
Yes, I can edit this one :)

[2021-01-25 01:28] danielskatz commented on #2966
@sbenthall  - you can ```@whedon assign me as editor``` whenever you are invited and agree, though I'll do it for you this time

[2021-01-25 01:28] danielskatz commented on #2966
@whedon assign @sbenthall as editor

[2021-01-25 01:28] whedon commented on #2966
OK, the editor is @sbenthall

[2021-01-25 02:49] sbenthall commented on #2855
As you direct users to use your Jupyter notebook examples, it would be helpful if you referred them to instructions for setting up their Jupyter notebooks to be able to use the conda environment as a kernel. e.g.

https://medium.com/@nrk25693/how-to-add-your-conda-environment-to-your-jupyter-notebook-in-just-4-steps-abeab8b8d084

[2021-01-25 03:04] sbenthall commented on #2855
nb01 cell [5] I'm getting the following error:

`conflict_gdf, extent_gdf, selected_polygons_gdf, global_df = selection.select(config, out_dir, root_dir)`
https://gist.github.com/sbenthall/24da689b34fef8fc2ef9e16b99027215

nb02 cell 3 I'm getting the following error:
`conflict_gdf = gpd.read_file('conflicts.shp')
selected_polygons_gdf = gpd.read_file('polygons.shp')`
https://gist.github.com/sbenth

[2021-01-25 05:01] castelao commented on #2913
Interesting package @somefunAgba . I apologize but I can't commit to this at the moment. Good luck!

[2021-01-25 07:25] JannisHoch commented on #2855
hi @sbenthall ,

thanks for your comments. Regarding the first three, I will change them asap.

Regarding the last, few commetns from my side.

-  seems like you don't have the package `rtree` installed. I checked the `environment.yml` file and it is indeed missing there. but thus far i was under the impression that this was installed along `rasterio` - maybe your initial installation issues can e

[2021-01-25 07:52] mmartin-lagarde commented on #2287
Hi @kevin218, Thank you for your feedback.
@arfon I'm doing this today or tomorrow, thank you

[2021-01-25 08:48] lscalfi commented on #2824
@whedon generate pdf

[2021-01-25 08:49] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-01-25 09:38] ManuelaS commented on #2913
It looks like a very interesting package @somefunAgba . However, I only have access to Matlab 2014b with a limited set of packages? What Matlab version and what packages does your package need?

[2021-01-25 09:44] timtroendle commented on #2969
@whedon re-invite @sabinomaggi as reviewer

[2021-01-25 09:44] whedon commented on #2969
OK, the reviewer has been re-invited.

@sabinomaggi please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-25 09:44] timtroendle commented on #2969
@whedon re-invite @Chilipp as reviewer

[2021-01-25 09:44] whedon commented on #2969
OK, the reviewer has been re-invited.

@chilipp please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-25 09:45] timtroendle commented on #2969
@sabinomaggi, @Chilipp I've just re-invited you to this review to make sure you have full access.

[2021-01-25 10:42] EtienneCmb commented on #2977
Hi @AJQuinn,

Some minor comments about the draft :
- Caption figure 2 : "cycle-maximum"
- Caption figure 3 : "an an" amplitude
- Caption figure 4 : a suggestion, you could add some details about which frequencies composed the simulated signal. This would then be easier for the reader to retrieve the informations especially for the holospectrum. In addition, I would increase the fontsize of x/y la

[2021-01-25 10:55] EtienneCmb commented on #2977
You could also add one sentence to the manuscript to highlight that some computations can be accelerated though multi-processing. This is a nice feature that doesn't seems to be present over all other EMD packages

[2021-01-25 10:55] iammix commented on #2939
Hopefully, by the end of the week, I will have finished with the review!

[2021-01-25 11:32] marcosvital commented on #2848
Thanks for the reminder, @sebdalgarno! Everything seems to be ok, so I'll take the next steps.

[2021-01-25 11:40] marcosvital commented on #2848
@whedon set v0.0.3 as version

[2021-01-25 11:40] whedon commented on #2848
OK. v0.0.3 is the version.

[2021-01-25 11:41] marcosvital commented on #2848
@whedon set 10.5281/zenodo.4448253 as archive

[2021-01-25 11:41] whedon commented on #2848
OK. <a href="https://doi.org/10.5281/zenodo.4448253" target="_blank">10.5281/zenodo.4448253</a> is the archive.

[2021-01-25 11:41] marcosvital commented on #2848
@whedon accept

[2021-01-25 11:41] whedon commented on #2848
[code]

[2021-01-25 11:42] whedon commented on #2848
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2047

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2047, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-25 11:42] whedon commented on #2848
[code]

[2021-01-25 11:49] CatarauCorina commented on #2891
@markusrobertjonsson , thank you for your response !

1. 10.14.5 is the version I have
2. Thank you for adding that to the documentation, is clear now , I have tested and it is working fine.
3. Ok, it's not a urgent issue, as I was saying in script mode is working fine, plus if I'm not mistaken usually in this type of experiments larger number of subjects are used.
4. That's fine - I might have mi

[2021-01-25 12:11] sabinomaggi commented on #2914
@whedon commands

[2021-01-25 12:12] sabinomaggi commented on #2914
@whedon generate pdf

[2021-01-25 12:12] whedon commented on #2914
PDF failed to compile for issue #2914 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773

[2021-01-25 12:19] sabinomaggi commented on #2969
Review accepted. It seems I cannot compile te paper due to a missing date in the paper yaml header. May I edit the
data_slicer/paper/paper.md file myself or only the author is supposed to do these changes?

[2021-01-25 12:22] alexdma commented on #2731
Hi - Does the Softyware paper section of the review checklist refer to the article as found here: https://github.com/openjournals/joss-papers/blob/joss.02731/joss.02731/10.21105.joss.02731.pdf ?

Thanks

[2021-01-25 12:32] kuadrat commented on #2969
Hi, and thanks in advance for taking the time to review my submission.
I just took the liberty of putting today's date in the header (I assume the date should be adjusted at a later time?).
Does it compile for you now?
Sorry about the inconvenience. The paper did compile when I tested it with [the github action](https://github.com/kuadrat/data_slicer/actions/runs/509304889) before submission.

[2021-01-25 12:42] marcosvital commented on #2900
Hi, @bommert, thank you for the suggestions. I'll start to contact some of the possible reviewers soon.

In the meantime, do you think you could wok on your summary in order to include a brief description of the methods for a wider audience? As stated at [JOSS documentantion](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), the paper should include:

[2021-01-25 12:43] marcosvital commented on #2900
@whedon check references

[2021-01-25 12:43] wkirgsn commented on #2498
The error still persisted so I discarded the draft changes and retyped everything again (copy&pasted).
Had to save as another draft, and then the publishing worked like a charm.

@Kevin-Mattheus-Moerman it is finally done - sorry for the delay.

[2021-01-25 12:45] whedon commented on #2900
[code]

[2021-01-25 12:47] marcosvital commented on #2900
@bommert, please also look into the possible missing DOI above, ok?

[2021-01-25 12:47] sabinomaggi commented on #2969
@whedon generate pdf

[2021-01-25 12:48] whedon commented on #2969
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02969/joss.02969/10.21105.joss.02969.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02969/joss.02969/10.21105.joss.02969.pdf) :page_facing_up: :point_left:

[2021-01-25 12:51] sabinomaggi commented on #2969
@kuadrat Hi, yes as you can see the paper compiles fine now. In the meantime I was able to get a decent version of the paper with all references by using pandoc and xelatex, but this automatic compilation is way better than a manual approach.
I am really eager to read the paper and test the package in full.

[2021-01-25 12:54] marcosvital commented on #2900
Dear @nhejazi, @prdm0 and @mcavs, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not

[2021-01-25 13:07] mcavs commented on #2900
Dear @marcosvital, I would!

[2021-01-25 13:14] arfon commented on #2731
Yes, that's correct @alexdma

[2021-01-25 13:25] dfm commented on #2920
@kadglass Following up on @kthyng's comment above (https://github.com/openjournals/joss-reviews/issues/2920#issuecomment-748178437): this package still needs substantial work on the documentation, packaging, and testing to bring it up to the standards expected for JOSS (see the [JOSS docs](https://joss.readthedocs.io/en/latest/review_criteria.html) for more info). Can you give us a timeline for wh

[2021-01-25 13:28] danielskatz commented on #2848
@marcosvital - I notice that @meenakshi-kushwaha didn't check 2 boxes.  Can you comment on this?

[2021-01-25 13:29] neuromusic commented on #2440
Thanks, I'll provide an update on the outstanding item shortly.

On Fri, Jan 22, 2021, 07:04 Charlotte Soneson <notifications@github.com>
wrote:

[2021-01-25 13:31] meenakshi-kushwaha commented on #2848
I just checked off the boxes. all good. thank you for the reminder.

[2021-01-25 13:33] fboehm commented on #2743
@dwinter - I hope that the review is coming along. Is there something that I can do to assist you?

Thanks again!

[2021-01-25 13:33] nnadeau commented on #2913
@majensen if MATLAB is a requirement, then it would be best if someone else reviews it.

@somefunAgba, as a pre-review comment I would recommend updating the README with [a robust requirements section](https://joss.readthedocs.io/en/latest/review_checklist.html#functionality) such that reviews (and future users) know exactly what MATLAB version(s), toolboxes, and other dependencies are needed. Thi

[2021-01-25 13:34] danielskatz commented on #2848
@sebdalgarno  - I've suggested two small changes in https://github.com/bcgov/shinyssdtools/pull/68 - please merge this when you get a chance

[2021-01-25 13:52] torressa commented on #2812
Thanks for the fast corrections.

That sounds good, would be a great addition!

[2021-01-25 13:55] pdebuyl commented on #2828
@jordanperr gentle reminder

[2021-01-25 14:04] arfon commented on #2882
@whedon assign me as editor

[2021-01-25 14:04] whedon commented on #2882
OK, the editor is @arfon

[2021-01-25 14:06] arfon commented on #2882
@ctodd26labs - apologies for the delay here in getting this submission moving.

Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission? (Please list their GitHub handles without a `@` when listing them here so as avoid accidentally pinging a bunch of people).

[2021-01-25 14:09] JannisHoch commented on #2855
I have added `rtree` and `ipykernel` to the `environment.yml` file, so hope that a) writing the files in nb01 works now, and b) adding the copro-environmen to your jupyter kernel is possible.

Also, I have fixed the typo, added info about the `download_example_data.sh` file in `README.md`, and placed contextual info on the execution of the notebooks there as well.

[2021-01-25 14:17] ctodd26labs commented on #2882
Hello @arfon thanks for responding. I took a look through the reviewers file you sent, here are 5 I think fit the bill.

Possible Reviewers:
    - fabianomenegidio
    - kellieotto
    - dvysardana
    - Suman-d
    - nidhog

I tried to find people who have
    - Python
    - Docker
    - data science/data engineering

Thanks for your help; please let me know if there is anything more needed from

[2021-01-25 14:54] robfalck commented on #2809
I have a fix for this, should be up shortly.

[2021-01-25 15:04] KristinaRiemer commented on #2872
@whedon generate pdf

[2021-01-25 15:05] whedon commented on #2872
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02872/joss.02872/10.21105.joss.02872.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02872/joss.02872/10.21105.joss.02872.pdf) :page_facing_up: :point_left:

[2021-01-25 15:11] alexdma commented on #2731
Thank you @arfon - if I have any recommendation regarding that paper, should the issue be filed with the GRLC code repository or somewhere else?

[2021-01-25 15:36] KristinaRiemer commented on #2872
Thanks for the confirmations, @marcjwilliams1 & @dglmoore!

@gabrieldansereau I went through the article proof to check for reference formatting, typos, etc., and found a few things to improve:

- line 53: remove "an"
- lines 129-131: change verbs to clip, coarsen, and perform
- Chamberlain et al., 2020 should have rgbif in title lower case
- add links to software references, e.g., [the suggested

[2021-01-25 15:43] arfon commented on #2865
@whedon assign @arfon as editor

[2021-01-25 15:43] whedon commented on #2865
OK, the editor is @arfon

[2021-01-25 15:43] arfon commented on #2865
:wave: @hadware - apologies for taking so long to get this moving. I'll be editing this paper going forward.

[2021-01-25 15:45] arfon commented on #2865
:wave: @jjatria & @faroit - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is _pygamma-agreement: Gamma measure for inter/intra-annotator agreement in Python_, with the Python-based software here: h

[2021-01-25 15:47] robfalck commented on #2809
@whedon generate pdf

[2021-01-25 15:48] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-01-25 15:49] arfon commented on #2802
@whedon assign me as editor

[2021-01-25 15:49] whedon commented on #2802
OK, the editor is @arfon

[2021-01-25 15:49] arfon commented on #2802
:wave: @adi3 - are you still available to review this submission?

[2021-01-25 15:54] arfon commented on #2802
@gabrielspadon @sonal-raj @Shathra @sudarshansudarshan - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission is _netrd: A library for network reconstruction and graph distances_, and the software is primarily written

[2021-01-25 15:57] arfon commented on #2731
@alexdma - please open issues on the associated repository (https://github.com/CLARIAH/grlc) and mention this issue when doing so (https://github.com/openjournals/joss-reviews/issues/2731), that way they will be cross-linked.

[2021-01-25 16:06] robfalck commented on #2809
@dpsanders fixed

[2021-01-25 16:15] goerz commented on #2809
I'll read through it by the end of the week. At first glance, it looks very much improved. I immediately saw some typos, though (like, 3rd paragraph, 1st sentence: missing "as"), so you might want to proof-read again.

[2021-01-25 16:15] hadware commented on #2865
:wave: @arfon , thanks for stepping in as editor for our paper! No troubles for the delay, we (me and @rachine) understand that you must be working under a fair amount of constraints. We'll also be staying tuned for any questions or suggestions from you. If any of the suggested reviewers isn't available, we can also suggest others.

[2021-01-25 16:40] wesleyburr commented on #2694
Great, thanks. I'll make sure to make it clear where my contributions lie, personally - the first round of repo commits were all done by our lead author (and student supervisee), so all of my code writing and editing and such was funneled through her, and she integrated it into her personal repo, which eventually migrated to GitHub. Which isn't great for credit tracking! So for all the edits, we'l

[2021-01-25 16:43] faroit commented on #2865
@arfon I'm happy to review this contribution. I will have the bandwidth to do it rather soon. Thanks for considering me, the package sounds really interesting and useful!

[2021-01-25 16:52] danielskatz commented on #2962
👋 @kevinlewi, @ivmaykov - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-01-25 17:15] hugoledoux commented on #2866
@arfon what you asked for:

  - DOI: http://dx.doi.org/10.5281/zenodo.4461324
  - it's for v1.3.1

[2021-01-25 17:20] mosteo commented on #2783
I'm back on track, sorry for the delay. @arfon, in regard to the verification of the functionality/performance, this is intended to be verified by the reviewers? Or would evidence of usage by third parties be enough?

[2021-01-25 17:23] torressa commented on #2812
@whedon commands

[2021-01-25 17:24] whedon commented on #2812
Here are some things you can ask me to do:

[code]

[2021-01-25 17:24] torressa commented on #2812
@whedon check references

[2021-01-25 17:25] whedon commented on #2812
[code]

[2021-01-25 17:57] bommert commented on #2900
@whedon generate pdf
@whedon check references

[2021-01-25 17:58] whedon commented on #2900
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02900/joss.02900/10.21105.joss.02900.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02900/joss.02900/10.21105.joss.02900.pdf) :page_facing_up: :point_left:

[2021-01-25 18:10] gabrieldansereau commented on #2872
@whedon generate pdf

[2021-01-25 18:10] whedon commented on #2872
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02872/joss.02872/10.21105.joss.02872.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02872/joss.02872/10.21105.joss.02872.pdf) :page_facing_up: :point_left:

[2021-01-25 18:21] gabrieldansereau commented on #2872
@KristinaRiemer Thank you for pointing these out.

I made the changes you requested, along with a few minor ones while re-reading. @tpoisot and I are now happy with the PDF.

[2021-01-25 18:43] SteveMacenski commented on #2783
A few examples from people that aren't me and I've had no contact with (googled and found for reference) if that helps
- https://www.youtube.com/watch?v=ftfMsA-UykQ / https://www.notion.so/Tutorial-SLAM-toolbox-aac021ec21d24f898ce230c19def3b7b
- https://www.youtube.com/watch?v=s16269kol5M
- https://www.youtube.com/watch?v=Cgcl3LcFnEs
- http://www.robotandchisel.com/2020/08/19/slam-in-ros2/ (though

[2021-01-25 19:10] rmorgan10 commented on #2854
Hi All,

I just wanted to give an update that I've finished responding to the initial reviews. Please let me know when you have feedback for my responses

[2021-01-25 19:26] sebdalgarno commented on #2848
merged. Thanks @danielskatz!

[2021-01-25 19:27] KristinaRiemer commented on #2872
@whedon check references

[2021-01-25 19:38] KristinaRiemer commented on #2872
Great, thank you for doing that @gabrieldansereau. The next steps are to: 1) create a new tagged release on GitHub and 2) archive the code (on Zenodo, figshare, institutional repository, etc.) to generate a DOI. If you can post a link to the DOI here when you're done please.

[2021-01-25 19:39] danielskatz commented on #2848
@whedon accept

[2021-01-25 19:39] whedon commented on #2848
[code]

[2021-01-25 19:39] whedon commented on #2848
[code]

[2021-01-25 19:40] whedon commented on #2848
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2048

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2048, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-25 19:42] danielskatz commented on #2848
@whedon accept deposit=true

[2021-01-25 19:42] whedon commented on #2848
[code]

[2021-01-25 19:43] whedon commented on #2848
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1353790708608593920) 👈 🐦🐦🐦

[2021-01-25 19:43] whedon commented on #2848
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2049
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02848](https://doi.org/10.21105/joss.02848)
2. If everything looks g

[2021-01-25 19:48] danielskatz commented on #2848
Congratulations to @sebdalgarno (Sebastian Dalgarno)!!

And thanks to @elimillera & @meenakshi-kushwaha & @nanhung for reviewing, and @marcosvital for editing!

[2021-01-25 19:48] #2848 closed

[2021-01-25 19:48] whedon commented on #2848
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02848/status.svg)](https://doi.org/10.21105/joss.02848)

**We need your help!**

Journal of Open Source Softwa

[2021-01-25 19:52] mikldk commented on #2929
@whedon check references from branch joss

[2021-01-25 19:52] whedon commented on #2929
[code]

[2021-01-25 19:54] whedon commented on #2929
[code]

[2021-01-25 19:55] mikldk commented on #2929
@whedon generate pdf from branch joss

[2021-01-25 19:55] whedon commented on #2929
[code]

[2021-01-25 19:55] whedon commented on #2929
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02929/joss.02929/10.21105.joss.02929.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02929/joss.02929/10.21105.joss.02929.pdf) :page_facing_up: :point_left:

[2021-01-25 19:58] mikldk commented on #2929
@alemermartinez Thanks. Please check which references you actually use from `refs.bib` in the paper, and be sure that only those are included in the file and that they all have a DOI.

[2021-01-25 19:58] whedon opened #2986 "[PRE REVIEW]: covid19.analytics: An R Package to Obtain, Analyze and Visualize Data from the 2019 Corona Virus Disease Pandemic"
**Submitting author:** @mponce0 (<a href="http://orcid.org/0000-0001-5850-7240">Marcelo Ponce</a>)
**Repository:** <a href="https://github.com/mponce0/covid19.analytics/" target ="_blank">https://github.com/mponce0/covid19.analytics/</a>
**Version:** v2.0
**Editor:** @fboehm
**Reviewers:** @LogIN-, @JDRomano2
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due

[2021-01-25 19:58] whedon commented on #2986
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-25 19:59] whedon opened #2987 "[PRE REVIEW]: Virgo: A Versatile Spectrometer for Radio Astronomy"
**Submitting author:** @0xCoto (<a href="http://orcid.org/0000-0001-6928-6877">Apostolos Spanakis-Misirlis</a>)
**Repository:** <a href="https://github.com/0xCoto/Virgo" target ="_blank">https://github.com/0xCoto/Virgo</a>
**Version:** v3.6.0
**Editor:** @xuanxu
**Reviewers:** @astrom-tom , @ygrange
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-01-25 19:59] whedon commented on #2987
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-25 19:59] whedon opened #2988 "[PRE REVIEW]: lineartestr: An R package for testing the linear specification of a model"
**Submitting author:** @FedericoGarza (<a href="http://orcid.org/0000-0001-7015-8186">Federico Garza Ramírez</a>)
**Repository:** <a href="https://github.com/FedericoGarza/lineartestr" target ="_blank">https://github.com/FedericoGarza/lineartestr</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Du

[2021-01-25 19:59] whedon commented on #2988
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-25 20:01] whedon commented on #2987
[code]

[2021-01-25 20:01] whedon commented on #2987
[code]

[2021-01-25 20:02] whedon commented on #2988
[code]

[2021-01-25 20:02] whedon commented on #2988
[code]

[2021-01-25 20:02] whedon commented on #2987
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02987/joss.02987/10.21105.joss.02987.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02987/joss.02987/10.21105.joss.02987.pdf) :page_facing_up: :point_left:

[2021-01-25 20:03] whedon commented on #2988
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02988/joss.02988/10.21105.joss.02988.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02988/joss.02988/10.21105.joss.02988.pdf) :page_facing_up: :point_left:

[2021-01-25 20:10] leotrs commented on #2952
In trying to install the package, I ran into some problems reported [here](https://github.com/jonschwenk/RivGraph/issues/38). I will continue my review pending the fix.

[2021-01-25 20:16] mponce0 commented on #2986
@whedon generate pdf

[2021-01-25 20:19] whedon commented on #2986
PDF failed to compile for issue #2986 with the following error:

 Can't find any papers to compile :-(

[2021-01-25 20:21] mponce0 commented on #2986
@whedon generate pdf from branch literature

[2021-01-25 20:21] whedon commented on #2986
[code]

[2021-01-25 20:24] whedon commented on #2986
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02986/joss.02986/10.21105.joss.02986.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02986/joss.02986/10.21105.joss.02986.pdf) :page_facing_up: :point_left:

[2021-01-25 20:51] melissawm commented on #2829
At this point could you:
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository) with the correct version
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on it). You m

[2021-01-25 20:54] melissawm commented on #2812
Hello @stsievert - would you be able to take a second look at the paper now that @jbuisine has responded to comments? Let me know if I can help in any way. Thanks!

[2021-01-25 21:00] gabrieldansereau commented on #2872
@KristinaRiemer I've released a new version (v0.3.4). The DOI for the [Zenodo archive](https://zenodo.org/record/4464943) is `10.5281/zenodo.4464943`.

[2021-01-25 21:06] danielskatz commented on #2986
@whedon check references from branch literature

[2021-01-25 21:06] whedon commented on #2986
[code]

[2021-01-25 21:08] danielskatz commented on #2988
@@FedericoGarza - unfortunately, this software is too small for us to consider - it does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for h

[2021-01-25 21:08] danielskatz commented on #2988
@whedon reject

[2021-01-25 21:08] whedon commented on #2988
Paper rejected.

[2021-01-25 21:08] #2988 closed

[2021-01-25 21:11] whedon commented on #2986
[code]

[2021-01-25 21:16] arfon commented on #2986
Cloc output from local machine:

[code]

[2021-01-25 22:16] rouson commented on #2936
@jedbrown  I just gave @jcorbino several tips to help get the MOLE repository in shape to meet the JOSS review criteria.  I also suggested that the JOSS paper.md write-up be revised so that it cites the research literature in which the submitted code has been used.  Hopefully this will demonstrate the substantial scholarly contributions of the code.

[2021-01-25 22:18] nhejazi commented on #2900
Unfortunately I'm unable to provide a review at this time due to a confluence of deadlines.

[2021-01-25 22:20] KristinaRiemer commented on #2872
It looks like there's an additional author for the Zenodo archive, should that person be included as an author for the JOSS publication?

[2021-01-25 22:20] danielskatz commented on #2986
👋  @mponce0 - if you can remove the entries in the .bib file that are not actually being used, that will help reduce the potential problems that check references found.

[2021-01-25 22:22] danielskatz commented on #2986
👋 @fboehm - you were suggested as the editor - are you able to take this on?

[2021-01-25 22:22] danielskatz commented on #2986
@whedon invite @fboehm as editor

[2021-01-25 22:22] whedon commented on #2986
@fboehm has been invited to edit this submission.

[2021-01-25 22:24] danielskatz commented on #2987
The previous version of this paper (which was not reviewed as being too small) is https://github.com/openjournals/joss-reviews/issues/2758

[2021-01-25 22:29] danielskatz commented on #2987
@0xCoto - thanks for this submission - as it's still on the borderline in terms of effort, the editors will discuss it and get back to sometime next week about next steps

[2021-01-25 22:29] danielskatz commented on #2987
@whedon query scope

[2021-01-25 22:29] whedon commented on #2987
Submission flagged for editorial review.

[2021-01-25 22:30] jedbrown commented on #2936
Many thanks, @rouson! I hope you're well, and I look forward to moving forward to review once it's ready.

[2021-01-25 22:32] adi3 commented on #2802
@arfon yes, I can review this one

[2021-01-25 22:34] fboehm commented on #2986
I'd be delighted :)

[2021-01-25 22:34] fboehm commented on #2986
@whedon assign @fboehm as editor

[2021-01-25 22:34] whedon commented on #2986
OK, the editor is @fboehm

[2021-01-25 22:38] danielskatz commented on #2981
@whedon invite @poulson as editor

just another ping to @poulson on this...

[2021-01-25 22:38] whedon commented on #2981
@poulson has been invited to edit this submission.

[2021-01-25 22:39] danielskatz commented on #2971
@devosmitachatterjee2018 - we've decided the scope is ok, so we will now work on finding a editor

[2021-01-25 22:48] danielskatz commented on #2971
👋 @galessiorob - would you be willing to edit this submission?

[2021-01-25 22:48] danielskatz commented on #2971
@whedon invited @galessiorob as editor

[2021-01-25 22:48] whedon commented on #2971
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-25 22:49] danielskatz commented on #2971
@whedon invite @galessiorob as editor

[2021-01-25 22:49] whedon commented on #2971
@galessiorob has been invited to edit this submission.

[2021-01-25 23:05] gabrieldansereau commented on #2872
@KristinaRiemer No, although he is an important contributor to the EcoJulia organization, he was not involved in this submission to JOSS and his contribution to this specific package was very minor.

I believe he was listed automatically on Zenodo for 2 minor commits in 2019 (one small syntax and one default parameter change).

[2021-01-25 23:13] danielskatz commented on #2985
We'll go ahead with the review

[2021-01-25 23:13] danielskatz commented on #2985
@whedon assign @luizirber as editor

thanks @luizirber !!

[2021-01-25 23:13] whedon commented on #2985
OK, the editor is @luizirber

[2021-01-26 00:33] esteinig commented on #2985
Thanks @danielskatz for going ahead with review and @luizirber for editing. I'm not too familiar with the reviewers, but suppose anyone with `Rust` and bioinformatics background might be helpful?

* holtgrewe
* will-rowe
* lskatz
* natir
* k3yavi
* Gab0
* kblin
* martinmodrak
* bovee
* HadrienG

[2021-01-26 00:49] luizirber commented on #2985
Thanks for the reviewers suggestions, @esteinig!

I'll start by pinging @bovee (as author of needletail) and @natir (since I know he has experimented with nanopore data before). Are you two willing to review `nanoq`?

[2021-01-26 01:17] vlandau commented on #2829
Alright, it should all be [here](https://doi.org/10.5281/zenodo.4466323). The DOI is 10.5281/zenodo.4466323

Thank you!

[2021-01-26 01:47] esteinig commented on #2985
Thanks for that, please let me know if there is anything that can be improved / optimised. It was our first foray into Rust, and the processing speed of the libaries is exceptional, even without much optimisation.

NB: Mean error function for read scores is costly at each iteration, but couldn't think of any faster way to implement it.

[2021-01-26 01:55] galessiorob commented on #2971
Thanks for the invite, I'd be happy to edit this paper 🎉

@devosmitachatterjee2018 I'll start looking for reviewers on my end, but feel free to suggest and invite others that you think are close to the tools and language. You can @ them here or invite them via email.

Thanks!

[2021-01-26 02:05] danielskatz commented on #2971
Thanks @galessiorob  - you can do the next step yourself in the future, by using either command I use or ```@whedon assign me as editor```

[2021-01-26 02:05] danielskatz commented on #2971
@whedon assign @galessiorob as editor

[2021-01-26 02:06] whedon commented on #2971
OK, the editor is @galessiorob

[2021-01-26 03:39] mponce0 commented on #2986
@whedon generate pdf from branch literature
@whedon check references from branch literature

[2021-01-26 03:39] whedon commented on #2986
[code]

[2021-01-26 03:43] whedon commented on #2986
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02986/joss.02986/10.21105.joss.02986.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02986/joss.02986/10.21105.joss.02986.pdf) :page_facing_up: :point_left:

[2021-01-26 03:47] mponce0 commented on #2986
@whedon check references from branch literature

[2021-01-26 03:47] whedon commented on #2986
[code]

[2021-01-26 03:52] whedon commented on #2986
[code]

[2021-01-26 04:33] jedbrown commented on #2981
I can take this if Jack is conflicted (though I can't promise to be fast -- I'm pretty swamped).

@andreasmang I don't see any automated tests and the docs seem hard to navigate (though I'm not the target audience) to understand how to prepare data, assess quality, and contribute. Please consider adding GitHub Actions or other automated tests, as well as [recommended community docs](https://github

[2021-01-26 05:17] mponce0 commented on #2986
@whedon check references from branch literature

[2021-01-26 05:17] whedon commented on #2986
[code]

[2021-01-26 05:17] mponce0 commented on #2986
@whedon generate pdf from branch literature

[2021-01-26 05:17] whedon commented on #2986
[code]

[2021-01-26 05:23] whedon commented on #2986
[code]

[2021-01-26 05:23] whedon commented on #2986
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02986/joss.02986/10.21105.joss.02986.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02986/joss.02986/10.21105.joss.02986.pdf) :page_facing_up: :point_left:

[2021-01-26 05:38] mponce0 commented on #2986
@whedon check references from branch literature

[2021-01-26 05:38] whedon commented on #2986
[code]

[2021-01-26 05:41] whedon commented on #2986
[code]

[2021-01-26 05:43] somefunAgba commented on #2913
Thanks @nnadeau. I have modified the README with your comments.

[2021-01-26 05:48] somefunAgba commented on #2913
@ManuelaS because the optimization workflow used in the package is a _problem-based_, as opposed to a _solver-based_ one, **R2017b** and above is needed.
No external dependencies needed, other than the presence of Matlab's
- Optimization Toolbox, and
- Statistics and Machine Learning Toolbox.

[2021-01-26 05:52] mponce0 commented on #2986
@danielskatz Thanks! I fixed all the issues with the DOIs and removed unused items from the .bib file

[2021-01-26 08:04] bommert commented on #2900
@whedon check references

[2021-01-26 08:04] whedon commented on #2900
[code]

[2021-01-26 08:41] arfon commented on #2882
👋 @nidhog @fabianomenegidio @dvysardana - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is a Python package: [_Magicwand: A platform to provide high-quality, reliable, and reproducible data

[2021-01-26 08:42] arfon commented on #2865
@whedon add @faroit as reviewer

[2021-01-26 08:42] whedon commented on #2865
OK, @faroit is now a reviewer

[2021-01-26 08:42] arfon commented on #2865
@whedon start review

[2021-01-26 08:42] whedon opened #2989 "[REVIEW]: pygamma-agreement: Gamma measure for inter/intra-annotator agreement in Python"
**Submitting author:** @hadware (<a href="http://orcid.org/0000-0002-8511-1644">Hadrien Titeux</a>)
**Repository:** <a href="https://github.com/bootphon/pygamma-agreement/" target ="_blank">https://github.com/bootphon/pygamma-agreement/</a>
**Version:** v0.1.6
**Editor:** @arfon
**Reviewer:** @faroit, @apiad
**Archive:** <a href="https://doi.org/10.5281/zenodo.4917244" target="_blank">10.5281/zeno

[2021-01-26 08:42] whedon commented on #2865
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2989.

[2021-01-26 08:42] #2865 closed

[2021-01-26 08:42] whedon commented on #2989
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @faroit it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2021-01-26 08:43] arfon commented on #2865
@faroit @hadware - I'll go ahead and start the review now and keep looking for a second reviewer in the meantime. See you over in #2989 for the actual review.

[2021-01-26 08:43] whedon commented on #2989
[code]

[2021-01-26 08:44] arfon commented on #2989
@faroit - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are als

[2021-01-26 08:44] whedon commented on #2989
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02989/joss.02989/10.21105.joss.02989.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02989/joss.02989/10.21105.joss.02989.pdf) :page_facing_up: :point_left:

[2021-01-26 08:44] arfon commented on #2866
@whedon set 10.5281/zenodo.4461324 as archive

[2021-01-26 08:44] whedon commented on #2866
OK. <a href="https://doi.org/10.5281/zenodo.4461324" target="_blank">10.5281/zenodo.4461324</a> is the archive.

[2021-01-26 08:45] arfon commented on #2866
@whedon set v1.3.1 as version

[2021-01-26 08:45] whedon commented on #2866
OK. v1.3.1 is the version.

[2021-01-26 08:45] arfon commented on #2866
@whedon accept

[2021-01-26 08:45] whedon commented on #2866
[code]

[2021-01-26 08:46] whedon commented on #2866
[code]

[2021-01-26 08:47] whedon commented on #2866
PDF failed to compile for issue #2866 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/bibtex_parser.rb:82:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/bibtex_parser.rb:64:in `make_citation'
	from /app/vendor/bundle/ruby/2.6.0/bundler

[2021-01-26 08:47] matthewfeickert commented on #2823
@suchitakulkarni @eloisabentivegna I just wanted to check in again and see if there was any further comments or questions on our responses.

[2021-01-26 08:48] arfon commented on #2783
We would definitely prefer both reviewers to verify the functionality claims (performance is sometimes more challenging for folks).

[2021-01-26 08:48] arfon commented on #2802
@whedon add @adi3 as reviewer

[2021-01-26 08:48] whedon commented on #2802
OK, @adi3 is now a reviewer

[2021-01-26 08:49] arfon commented on #2802
⚡ thanks @adi3. I'll wait another few days to find a second reviewer before moving this to the full review if that's OK with you?

[2021-01-26 08:55] arfon commented on #2866
@hugoledoux - can you merge this PR? There's an issue with one of your DOIs: https://github.com/tudelft3d/3dfier/pull/124

[2021-01-26 09:02] hugoledoux commented on #2866
done.

I should re-issue/update v1.3.1 now, right?

[2021-01-26 09:08] natir commented on #2985
Hello everyone, thanks @luizirber to suggest me as reviewer. I accept review this paper.

[2021-01-26 09:12] arfon commented on #2866
No, we don't need an update for something as small as this.

[2021-01-26 09:12] arfon commented on #2866
@whedon accept

[2021-01-26 09:12] whedon commented on #2866
[code]

[2021-01-26 09:13] whedon commented on #2866
[code]

[2021-01-26 09:14] whedon commented on #2866
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2050

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2050, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-26 09:40] mosteo commented on #2783
Understood. Then, I'm going to throw a ball to @SteveMacenski : I don't currently have access to my labs robots due to covid. Also, I'm exclusively using ROS2 these days. This brings me back to the issue of beginner tutorials. If I go to https://navigation.ros.org/tutorials/docs/navigation2_with_slam.html, I read:

I would really like to see there, instead of "replace with suitable", something lik

[2021-01-26 10:16] sonal-raj commented on #2802
@arfon, I can review this.

[2021-01-26 10:32] arfon commented on #2866
One more small set of changes @hugoledoux: https://github.com/tudelft3d/3dfier/pull/125

[2021-01-26 10:33] arfon commented on #2802
@whedon add @sonal-raj as reviewer

[2021-01-26 10:33] whedon commented on #2802
OK, @sonal-raj is now a reviewer

[2021-01-26 10:33] arfon commented on #2802
@whedon start review

[2021-01-26 10:33] whedon opened #2990 "[REVIEW]: netrd: A library for network reconstruction and graph distances"
**Submitting author:** @sdmccabe (<a href="http://orcid.org/0000-0002-7180-145X">Stefan McCabe</a>)
**Repository:** <a href="https://github.com/netsiphd/netrd" target ="_blank">https://github.com/netsiphd/netrd</a>
**Version:** v0.3
**Editor:** @arfon
**Reviewer:** @adi3, @sonal-raj
**Archive:** <a href="https://doi.org/10.5281/zenodo.4885375" target="_blank">10.5281/zenodo.4885375</a>

**:warning

[2021-01-26 10:33] whedon commented on #2802
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2990.

[2021-01-26 10:33] #2802 closed

[2021-01-26 10:33] whedon commented on #2990
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adi3, @sonal-raj it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-01-26 10:33] arfon commented on #2802
@adi3, @sonal-raj - many thanks for agreeing to review here! See you over in #2990 where the actual review will take place.

[2021-01-26 10:34] arfon commented on #2990
@adi3, @sonal-raj - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. The

[2021-01-26 10:34] whedon commented on #2990
[code]

[2021-01-26 10:35] whedon commented on #2990
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02990/joss.02990/10.21105.joss.02990.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02990/joss.02990/10.21105.joss.02990.pdf) :page_facing_up: :point_left:

[2021-01-26 10:41] arfon commented on #2641
:wave: @gusbeane @zackdraper - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review here is [_astrosource: automating optical astronomy measurement, calibration and analysis for variable stellar sources

[2021-01-26 11:03] arfon commented on #2866
@whedon accept

[2021-01-26 11:03] whedon commented on #2866
[code]

[2021-01-26 11:03] whedon commented on #2866
[code]

[2021-01-26 11:04] whedon commented on #2866
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2051

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2051, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-26 11:10] arfon commented on #2866
@whedon accept deposit=true

[2021-01-26 11:10] whedon commented on #2866
[code]

[2021-01-26 11:13] whedon commented on #2866
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1354024550682533890) 👈 🐦🐦🐦

[2021-01-26 11:13] whedon commented on #2866
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2052
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02866](https://doi.org/10.21105/joss.02866)
2. If everything looks g

[2021-01-26 11:15] arfon commented on #2866
@GANys, @chenkianwee - many thanks for your reviews here. JOSS relies upon the volunteer efforts of folks like yourself and we simply wouldn't be able to do this without you! :sparkles:

@hugoledoux - your paper is now accepted into JOSS :zap::rocket::boom:

[2021-01-26 11:15] #2866 closed

[2021-01-26 11:15] whedon commented on #2866
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02866/status.svg)](https://doi.org/10.21105/joss.02866)

**We need your help!**

Journal of Open Source Softwa

[2021-01-26 11:39] suchitakulkarni commented on #2823
Hi,

apologies, I think am good! Thanks for making the changes and I agree that it will be non-trivial to provide python file as an example with the distribution.

Sorry for delay again!

[2021-01-26 13:43] KristinaRiemer commented on #2872
@whedon set 10.5281/zenodo.4464943 as archive

[2021-01-26 13:43] whedon commented on #2872
OK. <a href="https://doi.org/10.5281/zenodo.4464943" target="_blank">10.5281/zenodo.4464943</a> is the archive.

[2021-01-26 13:44] KristinaRiemer commented on #2872
@whedon set v0.3.4 as version

[2021-01-26 13:44] whedon commented on #2872
OK. v0.3.4 is the version.

[2021-01-26 13:44] KristinaRiemer commented on #2872
@whedon accept

[2021-01-26 13:44] whedon commented on #2872
[code]

[2021-01-26 13:47] whedon commented on #2872
PDF failed to compile for issue #2872 with the following error:

 [WARNING] Missing character: There is no ⋮ (U+22EE) in font [lmmono10-regular]:!
[WARNING] Missing character: There is no ⋱ (U+22F1) in font [lmmono10-regular]:!
/app/vendor/bundle/ruby/2.6.0/gems/bibtex-ruby-5.1.6/lib/bibtex/bibliography.rb:50:in `read': No such file or directory @ rb_sysopen - 72810ef458cb6ab33ef3e4fd/joss/["paper

[2021-01-26 13:56] ayush-1506 commented on #2972
@danielskatz There were some issues ([here](https://github.com/openmainframeproject/ade/pull/70#issuecomment-760617398) : CLA wasn't registering the contributors) with pushing new commits to master branch in the ADE repository, hence all development was being done and reviewed in the _logs_ branch temporarily. However, the issues with CLA have been resolved now and all changes have been merged to

[2021-01-26 14:03] gabrieldansereau commented on #2872
@KristinaRiemer I believe this is because of the `⋮` and `⋱` symbols on line 161 of the markdown file. I just realized they are not in the PDF either (line 86 of that file).

I'll try removing them as they are not really needed.

[2021-01-26 14:04] danielskatz commented on #2823
I'm assuming that this was closed in error

[2021-01-26 14:06] danielskatz commented on #2972
So is all of the content in the main branch the JOSS submission?

[2021-01-26 14:06] danielskatz commented on #2972
@whedon check repository

[2021-01-26 14:07] whedon commented on #2972
[code]

[2021-01-26 14:17] gabrieldansereau commented on #2872
Just removed on `master` in [this commit](https://github.com/EcoJulia/SimpleSDMLayers.jl/commit/5cc32ca5241c77a1681ddd07273c75c5dc5fe903).

Do I need to release a new version too?

[2021-01-26 14:27] ayush-1506 commented on #2972
@danielskatz Yes: all changes were merged yesterday.

[2021-01-26 14:38] danielskatz commented on #2972
👋 @gkthiruvathukal - Any chance you could take on one more submission for JOSS?

[2021-01-26 14:38] danielskatz commented on #2972
@whedon invite @gkthiruvathukal as editor

[2021-01-26 14:38] whedon commented on #2972
@gkthiruvathukal has been invited to edit this submission.

[2021-01-26 14:39] danielskatz commented on #2981
Thanks for volunteering @jedbrown - let's see what @poulson says

[2021-01-26 14:41] danielskatz commented on #2921
👋 @tliu68 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2021-01-26 14:41] danielskatz commented on #2921
@whedon reject

[2021-01-26 14:41] whedon commented on #2921
Paper rejected.

[2021-01-26 14:41] #2921 closed

[2021-01-26 14:43] danielskatz commented on #2982
👋 @lucasmccabe - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-p

[2021-01-26 14:43] danielskatz commented on #2982
@whedon reject

[2021-01-26 14:43] whedon commented on #2982
Paper rejected.

[2021-01-26 14:43] #2982 closed

[2021-01-26 14:59] KristinaRiemer commented on #2872
I'm not sure, I haven't dealt with this sort of issue before. @kthyng would you be able to help with this?

[2021-01-26 15:11] danielskatz commented on #2872
@KristinaRiemer - feel free to ask @openjournals/joss-eics about things like this, so that you get whichever one of us is currently on-duty (me, this week).

No, a new release is not needed for small changes in the paper.  Just run the accept again...

[2021-01-26 15:12] alemermartinez commented on #2929
@whedon check references from branch joss

________________________________
De: Mikkel Meyer Andersen <notifications@github.com>
Enviado: lunes, 25 de enero de 2021 16:58
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Alejandra Martinez <ale_m_martinez@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [openjournals/joss-reviews] [PRE REVIEW]: RBF: An R package t

[2021-01-26 15:12] whedon commented on #2929
[code]

[2021-01-26 15:12] gkthiruvathukal commented on #2972
@danielskatz Yes, I will be happy to handle this submission. Assigning self.

[2021-01-26 15:12] whedon commented on #2929
[code]

[2021-01-26 15:12] gkthiruvathukal commented on #2972
@whedon assign @gkthiruvathukal as editor

[2021-01-26 15:12] whedon commented on #2972
OK, the editor is @gkthiruvathukal

[2021-01-26 15:15] gkthiruvathukal commented on #2972
@ayush-1506  Can you please suggest some possible reviewers (without the at symbol) from the list of reviewers? See author instructions at the beginning of this issue thread.

[2021-01-26 15:21] robfalck commented on #2809
@whedon generate pdf

[2021-01-26 15:22] alemermartinez commented on #2929
Dear Mikkel,

I have just deleted all unnecessary references from the refs.bib file and added the missing DOI.

Kind regards,

Alejandra

________________________________
De: whedon <notifications@github.com>
Enviado: martes, 26 de enero de 2021 12:13
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Alejandra Martinez <ale_m_martinez@hotmail.com>; Mention <mention@noreply.gith

[2021-01-26 15:23] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-01-26 15:59] kapsakcj commented on #2334
Hi @erinyoung , I will demo the steps to analyzing a MiSeq run using the same docker image that you are using for SneakerNet.
I have tried to replicate your computing environment as best as I can. Hopefully this will help you run SneakerNet on your own data, but @lskatz  and I are available for a troubleshooting and screensharing session if necessary. Please let us know if you have questions or if

[2021-01-26 16:12] luizirber commented on #2985
@whedon assign @natir as reviewer

[2021-01-26 16:12] whedon commented on #2985
OK, @natir is now a reviewer

[2021-01-26 16:30] mmartin-lagarde commented on #2287
Dear @kevin218,

I addressed the last comments, thank you again.
However, your comment on `Planets "orbit" around a star, not "rotate".` was probably referring to the paper in the master branch (as the mistake is real there), but I could not find it in the review_JOSS branch. Am I missing something?

I reintroduced the MIRISim scripts in the repository.

[2021-01-26 17:12] KristinaRiemer commented on #2872
Ah, okay. Thanks @danielskatz!

[2021-01-26 17:13] KristinaRiemer commented on #2872
@whedon accept

[2021-01-26 17:13] whedon commented on #2872
[code]

[2021-01-26 17:14] whedon commented on #2872
PDF failed to compile for issue #2872 with the following error:

 /app/vendor/bundle/ruby/2.6.0/gems/bibtex-ruby-5.1.6/lib/bibtex/bibliography.rb:50:in `read': No such file or directory @ rb_sysopen - b42433e841a9ec14519387a7/joss/["paper.bib"] (Errno::ENOENT)
	from /app/vendor/bundle/ruby/2.6.0/gems/bibtex-ruby-5.1.6/lib/bibtex/bibliography.rb:50:in `open'
	from /app/vendor/bundle/ruby/2.6.0/gems

[2021-01-26 17:41] SteveMacenski commented on #2783
Ok, makes sense - do you have a ROS2 bag file you can run it over? I'd be happy to share with you a ROS(1) bag file I have for the purposes of review and a set of instructions to reproduce, but unfortunately I don't have any ROS2 bag files (as you're aware until exceptionally recently, ROS2 bag has been very flaky). ROS 1 would be easier to see everything since that's what this article was written

[2021-01-26 17:46] bommert commented on #2900
@marcosvital We have added an explanatory example in the beginning of our summary section. Do you think that this makes the high-level description of our methods understandable better for a wider audience?

[2021-01-26 18:21] marcosvital commented on #2900
Thank you, @mcavs! We will wait as we gather one or two more reviewers before starting the review process, ok?

No problem, @nhejazi, and thanks for the quick reply.

[2021-01-26 18:22] marcosvital commented on #2900
@whedon generate pdf

[2021-01-26 18:22] dsurujon commented on #2913
I appreciate the invite, but I have to apologize that I cannot commit to reviewing this at the moment

[2021-01-26 18:22] whedon commented on #2900
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02900/joss.02900/10.21105.joss.02900.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02900/joss.02900/10.21105.joss.02900.pdf) :page_facing_up: :point_left:

[2021-01-26 18:23] marcosvital commented on #2900
Yes, seems good to me, @bommert!

[2021-01-26 18:27] marcosvital commented on #2900
@bommert, as we wait for reviewers, please take a look at some of JOSS requirements for the package's documentation: https://joss.readthedocs.io/en/latest/review_checklist.html#documentation

Specifically, I think you'll need to add some information at the repository related to the community guidelines:

[2021-01-26 18:30] marcosvital commented on #2900
Dear @clauswilke, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review,

[2021-01-26 19:07] clauswilke commented on #2900
Sure.

[2021-01-26 19:12] devosmitachatterjee2018 commented on #2971
@galessiorob Thank you for accepting to handle the submission as an editor.
From the given list, I suggest the following reviewers.
* ManuelaS
* trallard
* sdelandtsheer
* fernandoandreotti
* rewbenio

Thank you.
Devosmita Chatterjee

[2021-01-26 19:19] gabrieldansereau commented on #2872
Could the error happen because I had `bibliography: [paper.bib]` instead of `bibliography: paper.bib` in the markdown header? I made the change [here](https://github.com/EcoJulia/SimpleSDMLayers.jl/commit/789e8134de5c2a90ffba8d0a1343d7045fba48ee), maybe we should try again? (It still works with the JOSS preview service)

[2021-01-26 20:29] arfon commented on #2872
`bibliography: paper.bib` should fix the paper compilation issue here.

[2021-01-26 20:49] sebkopf commented on #2878
Thank you @r-barnes for going through this. A few quick questions for clarification

Thank you for checking. The `LICENSE` is in the Joss branch at https://github.com/isoverse/isoreader/tree/joss, waiting for all edits from the review process to merge.

Could you copy which dependencies it is having trouble with? I'm testing on Windows, Linux and Mac OS with GitHub actions but could not find issue

[2021-01-26 21:28] jbuisine commented on #2812
Hello @stsievert, @torressa,

I made some updates:

- I updated the paper by naming my thesis supervisors.
- I have added some examples with generated QAP and UBQP instances. They are available in the "Some examples" section of the documentation.
- I have updated the CONTRIBUTING document to make it lighter and more understandable.

Do not hesitate to let me know if I need to change anything about

[2021-01-26 21:53] stsievert commented on #2812
Thanks for the edits @jbuisine. The documentation is certainly much more descriptive. My comments this time are much smaller; in general, my comments are mostly suggestions. However, I have one blocking comments:

* **Community guidelines** in the recent update, there's no information on users looking to "seek support" (not to my reading at least).
    * Also, CONTRIBUTING not rendered as plain te

[2021-01-26 22:18] kadglass commented on #2920
@dfm Absolutely!  We have looked at the JOSS docs, and we thought that we had checked all of the boxes.  Could you give us more detail on what you would like to see?  Thank you!

[2021-01-26 23:55] 1313e commented on #2983
@fboehm If needed, I would be willing to review this submission.

[2021-01-27 00:05] dfm commented on #2920
@kadglass: The main issues are _documentation_ and _testing_.

1. *Documentation*: As far as I can tell (and as noted by @kthyng) there seems to be no documentation beyond the two readmes in the subpackages. The argument could perhaps be made that this nearly reaches the bare minimum required to check the "Installation instructions" and "Example usage" boxes, but I don't find it to be sufficient.

[2021-01-27 00:40] kratsg commented on #2823
@danielskatz i think it was closed by accident. I'm a bit confused on next steps. It seems both reviewers have given the 👍 . Does this go to @eloisabentivegna ?

[2021-01-27 01:10] danielskatz commented on #2823
@eloisabentivegna is the editor and is in charge of the process at this point.

Also, there are still some items left for @suchitakulkarni to check.

[2021-01-27 03:52] matthewfeickert commented on #2823
I think both of those unchecked boxes in the Documentation section of the Review checklist were addressed in the most recent set of comments, so I think they just need to be filled in now.

[2021-01-27 04:05] majensen commented on #2913
@castelao @dsurujon thanks for your responses and consideration!

[2021-01-27 04:18] majensen commented on #2913
@agahkarakuzu - We at [JOSS](https://joss.theoj.org) could use your MATLAB expertise on [this work](#2913). Heads up that it requires a minimum version of R2017b. Appreciate your consideration - --@majensen

[2021-01-27 05:04] bovee commented on #2985
Hi, also happy to review!

[2021-01-27 05:16] bovee commented on #2919
Sorry, I've been a bit behind on my notifications. I also have limited bandwidth right now, but I can review on a slower timescale (i.e. weeks) if you can't find other reviewers.

[2021-01-27 05:16] suchitakulkarni commented on #2823
Okay, filled! Sorry, I am turning out to be a very messy reviewer indeed. Thank you for reminding me.

[2021-01-27 05:19] luizirber commented on #2985
@whedon add @bovee as reviewer

[2021-01-27 05:19] whedon commented on #2985
OK, @bovee is now a reviewer

[2021-01-27 05:19] luizirber commented on #2985
Great, let's get this party started!

[2021-01-27 05:19] luizirber commented on #2985
@whedon start review

[2021-01-27 05:19] whedon opened #2991 "[REVIEW]: Nanoq: fast quality control for nanopore reads"
**Submitting author:** @esteinig (<a href="http://orcid.org/0000-0001-5399-5353">Eike J. Steinig</a>)
**Repository:** <a href="https://github.com/esteinig/nanoq" target ="_blank">https://github.com/esteinig/nanoq</a>
**Version:** v0.8.3
**Editor:** @luizirber
**Reviewer:** @natir, @bovee
**Archive:** <a href="https://doi.org/10.5281/zenodo.5816183" target="_blank">10.5281/zenodo.5816183</a>

**:wa

[2021-01-27 05:19] whedon commented on #2985
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2991.

[2021-01-27 05:19] #2985 closed

[2021-01-27 05:19] whedon commented on #2991
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @natir, @bovee it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.j

[2021-01-27 05:20] whedon commented on #2991
[code]

[2021-01-27 05:26] whedon commented on #2991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02991/joss.02991/10.21105.joss.02991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02991/joss.02991/10.21105.joss.02991.pdf) :page_facing_up: :point_left:

[2021-01-27 05:45] ayush-1506 commented on #2972
@gkthiruvathukal Upon skimming over the list of reviewers, I'd say @ {hausen and mosteo} could be possible reviewers here.

[2021-01-27 08:33] pdebuyl commented on #2854
Thank you for the notification @rmorgan10

@shreyasbapat @jiwoncpark can you go over the changes and update the opened issues at deeplenstronomy's repo and the checkboxes here?

[2021-01-27 08:34] eloisabentivegna commented on #2823
@bradkav, @suchitakulkarni, many thanks for your help and comments. Based on your recommendation, I will start the prepublication phase for this submission.

[2021-01-27 08:35] eloisabentivegna commented on #2823
@whedon generate pdf from branch docs/add-JOSS-paper

[2021-01-27 08:35] whedon commented on #2823
[code]

[2021-01-27 08:36] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2021-01-27 08:36] eloisabentivegna commented on #2823
@whedon check references from branch docs/add-JOSS-paper

[2021-01-27 08:36] whedon commented on #2823
[code]

[2021-01-27 08:37] whedon commented on #2823
[code]

[2021-01-27 08:51] matthewfeickert commented on #2823
Yes, many thanks to @bradkav and @suchitakulkarni not only for their review but also for helping to make `pyhf` better! We truly do appreciate it and your time and effort. :bow:

Ah it seems that [Reinterpretation of LHC Results for New Physics: Status and Recommendations after Run 2](https://inspirehep.net/literature/1785921) now has an updated DOI of [0.21468/SciPostPhys.9.2.022](https://doi.org

[2021-01-27 08:55] matthewfeickert commented on #2823
@whedon generate pdf from branch docs/add-JOSS-paper

[2021-01-27 08:55] whedon commented on #2823
[code]

[2021-01-27 08:55] eloisabentivegna commented on #2823
The proof reads fine to me!

@matthewfeickert, @kratsg, we'll also need a tagged release and a code archive for your submission (see https://joss.readthedocs.io/en/latest/submitting.html#the-review-process). I see that a Zenodo archive already exists, but I believe this does not match the current version. The archive title should also match the submission title.

[2021-01-27 08:56] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2021-01-27 08:57] matthewfeickert commented on #2823
@whedon check references from branch docs/add-JOSS-paper

[2021-01-27 08:57] whedon commented on #2823
[code]

[2021-01-27 08:58] lscalfi commented on #2824
Hi @symmy596,
Your answers look good to me, however your repository seems to have some troubles (the CI failed at your last commit). Could you fix this?

[2021-01-27 08:58] whedon commented on #2823
[code]

[2021-01-27 08:58] matthewfeickert commented on #2823
Sounds good :+1: . I'll get on that in the morning my time (US) and then update here as soon as that's taken care of.

[2021-01-27 10:35] bommert commented on #2900
We have added the information in the readme file.

[2021-01-27 11:31] mikldk commented on #2929
@fabian-s, @kellieotto: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-01-27 11:58] jni commented on #2818
@Oftatkofta after some fruitless pursuit of alternate reviewers, @rfezzani finally helped me to track down @aplyer, who had been busier than usual but was able to finish the review — and has also recommended acceptance! 🎉 There's going to be some final checks now, and if all goes well your paper will be out in the next few hours/days!

[2021-01-27 11:58] jni commented on #2818
@whedon generate pdf

[2021-01-27 11:59] whedon commented on #2818
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02818/joss.02818/10.21105.joss.02818.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02818/joss.02818/10.21105.joss.02818.pdf) :page_facing_up: :point_left:

[2021-01-27 12:23] fabian-s commented on #2929
sorry, too much else on my plate ATM :(

[2021-01-27 12:30] mikldk commented on #2929
@mcavs: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-01-27 14:12] gabrieldansereau commented on #2872
@KristinaRiemer The header should be fixed now. Anything else I need to do?

[2021-01-27 14:21] KristinaRiemer commented on #2872
@gabrieldansereau let's see if that worked!

[2021-01-27 14:21] KristinaRiemer commented on #2872
@whedon accept

[2021-01-27 14:22] whedon commented on #2872
[code]

[2021-01-27 14:23] whedon commented on #2872
[code]

[2021-01-27 14:23] whedon commented on #2872
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2053

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2053, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-27 14:24] KristinaRiemer commented on #2872
It worked! Now one of the EiCs will take care of the last bit.

[2021-01-27 14:26] gabrieldansereau commented on #2872
Awesome, thank you very much!

[2021-01-27 14:35] tobias-dv-lnu commented on #2791
@xirdneh: Thanks, it seems to have worked! :)

[2021-01-27 14:36] danielskatz commented on #2872
@gabrieldansereau - the zenodo archive has a different title and authors than the paper. Usually, these should be the same. Can you change the zenodo metadata or explain why these are different?

[2021-01-27 14:45] danielskatz commented on #2872
You can (and I think should) change the zenodo metadata to match the paper - you don't have to keep the automatically compiled metadata.

[2021-01-27 14:45] dmey commented on #2863
@oliviaguest would you have any updates on the status of the second review please?

[2021-01-27 14:48] tpoisot commented on #2872
@danielskatz - I think the contributions to the code and paper can be kept different, and I would not be comfortable changing the metadata on zenodo.

[2021-01-27 14:48] danielskatz commented on #2872
I've also suggesting changing some cases in the paper text: https://github.com/EcoJulia/SimpleSDMLayers.jl/pull/46

[2021-01-27 14:49] tpoisot commented on #2872
the casing changes have been merged

[2021-01-27 14:50] danielskatz commented on #2872
Why not? This is a normal thing that is done by JOSS authors. We really would like you to change the title, at least, as the automatically generated title is not very descriptive, though maybe leaving the authors as it is makes sense in this case.

[2021-01-27 14:51] tpoisot commented on #2872
I'm sorry can you clarify which title? The paper is in the repo of _one_ package, but describes _two_ packages. Changing the title of the zenodo repo would make the _package_ title less descriptive.

[2021-01-27 14:58] danielskatz commented on #2872
The paper title is: SimpleSDMLayers.jl and GBIF.jl: A Framework for Species Distribution Modeling in Julia
We normally expect that for a JOSS paper there is an archive that contains a snapshot of the software that was reviewed, and the title of that archive entry matches the title of paper.

In the paper draft, I see a link to a zenodo archive title with the title: EcoJulia/SimpleSDMLayers.jl: v0.

[2021-01-27 15:04] tpoisot commented on #2872
The dual archive would not work with Julia packaging system, which requires the packages be kept in separate repos. There is, of course, a second zenodo archive for GBIF.jl - https://zenodo.org/record/4293898#.YBGAZtZyYew - making a single archive for the two of them would lead to duplication of content and ensure that the joint archive is not kept up to date, and it's not me being obtuse, I just

[2021-01-27 15:07] tpoisot commented on #2872
(as a side note a re-tagged version of the package is on its way with a changed title)

[2021-01-27 15:09] danielskatz commented on #2872
In a JOSS paper, there is a single link that should point to an archive of all the reviewed software.
(This archive is a permanent record of the reviewed software, not a live version.)

In this case, the link does not - it only points to part of the reviewed software. To me, this is a problem.
But it's easy to fix, by creating an archive (in zenodo, figshare, etc.) that contains both packages - ag

[2021-01-27 15:11] danielskatz commented on #2872
This doesn't need to be kept up to date, and it's not for users.  It's for the scholarly record associated with this paper, and is a one-time need for the paper.

[2021-01-27 15:13] matthewfeickert commented on #2823
@whedon generate pdf from branch master

[2021-01-27 15:13] whedon commented on #2823
[code]

[2021-01-27 15:14] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2021-01-27 15:15] tpoisot commented on #2872
Is it better than linking both DOIs? I can do a one-time archive with both. if this is a _requirement_ from the editorial board, althought I don't see the point. Just tell me which title you think it should have and I will get it done.

[2021-01-27 15:18] danielskatz commented on #2872
Linking both DOIs would be better in some ways, but the JOSS paper template doesn't support it.  There is a requirement to link to the reviewed software, and I think because of the JOSS template, we need a single archive that contains it.

[2021-01-27 15:20] matthewfeickert commented on #2823
@eloisabentivegna We have merged the branch and have cut a [release on GitHub with tag `JOSS-paper`](https://github.com/scikit-hep/pyhf/releases/tag/JOSS-paper) which now exists on Zenodo as DOI [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4472736.svg)](https://doi.org/10.5281/zenodo.4472736).

The Zenodo title is that of the paper, "pyhf: pure-Python implementation of HistFactory statistic

[2021-01-27 15:29] wkirgsn commented on #2498
@Kevin-Mattheus-Moerman This article can be processed now.
Zenodo badge:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4355691.svg)](https://doi.org/10.5281/zenodo.4355691)
with version v3.1.0

[2021-01-27 15:30] tpoisot commented on #2872
Here is an archive with the two zips of both packages: `10.5281/zenodo.4472905 `

[2021-01-27 15:31] danielskatz commented on #2872
@whedon set 10.5281/zenodo.4472905 as archive

[2021-01-27 15:31] whedon commented on #2872
OK. <a href="https://doi.org/10.5281/zenodo.4472905" target="_blank">10.5281/zenodo.4472905</a> is the archive.

[2021-01-27 15:32] danielskatz commented on #2872
hmmm - that doesn't resolve for me right now.  Can you also share the direct URL for me to check?

[2021-01-27 15:35] gabrieldansereau commented on #2872
https://zenodo.org/record/4472905

[2021-01-27 15:39] danielskatz commented on #2872
@whedon accept

[2021-01-27 15:39] whedon commented on #2872
[code]

[2021-01-27 15:40] whedon commented on #2872
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2054

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2054, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-27 15:45] danielskatz commented on #2872
@whedon accept deposit=true

[2021-01-27 15:45] whedon commented on #2872
[code]

[2021-01-27 15:47] whedon commented on #2872
PDF failed to compile for issue #2872 with the following error:

 /app/vendor/bundle/ruby/2.6.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/JuliaCon/proceedings-review/issues/2872: 404 - Not Found // See: https://docs.github.com/rest/reference/issues#get-an-issue (Octokit::NotFound)
	from /app/vendor/bundle/ruby/2.6.0/gems/faraday-0.

[2021-01-27 15:48] danielskatz commented on #2872
@whedon accept deposit=true

[2021-01-27 15:48] whedon commented on #2872
[code]

[2021-01-27 15:50] whedon commented on #2872
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1354456684375244804) 👈 🐦🐦🐦

[2021-01-27 15:50] whedon commented on #2872
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2055
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02872](https://doi.org/10.21105/joss.02872)
2. If everything looks g

[2021-01-27 15:54] KristinaRiemer commented on #2872
Looks like whedon was a little slow, does [this](https://github.com/openjournals/joss-reviews/issues/2872#issuecomment-768377632) need to be dealt with?

[2021-01-27 15:57] danielskatz commented on #2872
@openjournals/dev  - please notice [this transient problem](https://github.com/openjournals/joss-reviews/issues/2872#issuecomment-768377632) which I worked around by just re-running the comment

[2021-01-27 15:58] danielskatz commented on #2872
Congratulations to @gabrieldansereau and @tpoisot!!

And thanks to @dglmoore and @marcjwilliams1 for reviewing, and @KristinaRiemer for editing!

[2021-01-27 15:58] #2872 closed

[2021-01-27 15:58] whedon commented on #2872
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02872/status.svg)](https://doi.org/10.21105/joss.02872)

**We need your help!**

Journal of Open Source Softwa

[2021-01-27 16:01] gabrieldansereau commented on #2872
Thank you very much @danielskatz @KristinaRiemer @dglmoore @marcjwilliams1!

[2021-01-27 16:08] arfon commented on #2872
:wave: folks - just popping in here to say that currently this is the only way for JOSS to handle submissions like this. I would like us to be able to link to multiple software archives (and repositories) but the current model for JOSS is one review per software repository.

[2021-01-27 16:26] agahkarakuzu commented on #2913
@majensen I have the required toolbox & versions, happy to help out.

[2021-01-27 16:27] KristinaRiemer commented on #2872
Thanks everyone!

[2021-01-27 16:28] majensen commented on #2913
Awesome @agahkarakuzu , will add you as reviewer

[2021-01-27 16:28] majensen commented on #2913
@whedon assign @agahkarakuzu as reviewer

[2021-01-27 16:29] whedon commented on #2913
OK, @agahkarakuzu is now a reviewer

[2021-01-27 16:41] lucasmccabe commented on #2982
Understood. Thank you for your time and consideration.

On Tue, Jan 26, 2021 at 9:43 AM Daniel S. Katz <notifications@github.com>
wrote:

[2021-01-27 16:52] gusbeane commented on #2641
Hi @arfon - thanks for the ping. Unfortunately the topic of this code is way out of my ballpark, and I'm a bit oversubscribed this semester (lots of coursework!). In the future I'd be willing to help review other code.

Good luck!

[2021-01-27 17:05] gkthiruvathukal commented on #2972
@whedon commands

[2021-01-27 17:05] whedon commented on #2972
Here are some things you can ask me to do:

[code]

[2021-01-27 17:07] gkthiruvathukal commented on #2972
@hausen and @mosteo, are you willing to contribute a review for this JOSS submission?

[2021-01-27 17:08] gkthiruvathukal commented on #2980
@yc015 Can you please look through the list of reviewers and suggest 3-4 IDs? (without the @ symbol, please)

[2021-01-27 17:09] gkthiruvathukal commented on #2935
@FreddieV4 and @natpt, would you be willing to contribute a review for this JOSS submission?

[2021-01-27 17:12] gkthiruvathukal commented on #2791
@tobias-dv-lnu We are close! I will follow up with a final checklist as soon as I get a response to the following.

@xirdneh  Can you please confirm for us that you have no further issues to raise regarding this submission? I would like to move toward acceptance and give final instructions.

[2021-01-27 17:46] gkthiruvathukal commented on #2752
@vincentberenz So can you give us a sense how long you'll need to make these changes? I can nudge everyone in a couple of weeks.

[2021-01-27 17:49] gkthiruvathukal commented on #2362
@AlexMikes I am ready to move toward acceptance. Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only

[2021-01-27 17:51] jbuisine commented on #2812
Hello @stsievert,

Thank you very much for your remarks. I updated the package consequently, here my answers on each suggested points:

## Blocking comments

**[RV]**
- Community guidelines in the recent update, there's no information on users looking to "seek support" (not to my reading at least).
    Also, CONTRIBUTING not rendered as plain text on GitHub (renaming to CONTRIBUTING.md will fix th

[2021-01-27 18:03] xirdneh commented on #2791
@gkthiruvathukal
Yes, the submission is complete.

[2021-01-27 18:06] gkthiruvathukal commented on #2791
Thanks, @xirdneh

@tobias-dv-lnu Ok, I am ready now! Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who

[2021-01-27 18:18] pvermees commented on #2919
I am confused. Have I been formally invited to review this paper, or have I simply been added to the GitHub page as an observer? I must confess that I am not very familiar with JOSS. Is it common for this journal to publish 2-page papers? Does such a short paper even require peer review? From [https://github.com/openjournals/joss](https://github.com/openjournals/joss) it appears that the review pr

[2021-01-27 18:21] whedon commented on #2952
:wave: @eriknes, please update us on how your review is going.

[2021-01-27 18:21] whedon commented on #2952
:wave: @leotrs, please update us on how your review is going.

[2021-01-27 18:27] danielskatz commented on #2919
👋 @pvermees - @jirhiker suggested you as a potential reviewer (which he should have done without the `@` so that you wouldn't have been notified). The next step is for the editor (@richardjgowers in this case) to invite you (and/or others).

Re: JOSS review criteria, see https://joss.readthedocs.io/en/latest/review_criteria.html.  In brief, the review is of the software as much as or more than the

[2021-01-27 18:30] yc015 commented on #2980
@gkthiruvathukal Hello Prof. Thiruvathukal! My suggested reviewers are Editor Arfon Smith (arfon), Juan Nunez-Iglesias (jni), and Lorena Mesa (lorenanicole). The reviewers' GitHub IDs are in the parentheses.

Thank you so much for checking these!

[2021-01-27 18:33] gkthiruvathukal commented on #2980
@yc015, thanks for the nice greeting! Can I ask you to add a couple more who are not on the editorial board or EICs?  I'm only asking that because our board in general is facing heavy workload now. (I personally am interested in this topic, since it has a nice overlap with Digital Humanities, one of my areas of interest.

[2021-01-27 18:51] adi3 commented on #2949
@lukapecnik I'm reviewing your installation instructions.

- I recommend you specify supported OS that your software has been tested on and is confirmed to work. For instance, I was able to do pip installation just fine on Ubuntu, but ran into hurdles installing it on RHEL.
- The conda installation is failing at my end. I'm opening an issue on your repo so you can debug and look into it.

Please l

[2021-01-27 18:56] yc015 commented on #2980
@gkthiruvathukal That's very understandable, and thank you for your interest in our topic! The additional reviewers that I would suggest are stsievert, tuelwer, Atif-Anwer, and thomakra. They are not on the editorial board or EICs. Thanks again!

[2021-01-27 20:08] pvermees commented on #2919
@danielskatz Thanks for the clarification. I would be happy to provide a review, but I won't be able to do so until three weeks from now when I get a short break from teaching.

[2021-01-27 20:54] Hazboun6 commented on #2757
@mbobra  we have completed the changes to the code suggested by @JBorrow and @arjunsavel.

We branched the code and just merged all of the changes in this [PR](https://github.com/PsrSigSim/PsrSigSim/pull/187).

Thank you for your patience in how long this took us to do!

[2021-01-27 22:12] hpparvi commented on #2287
Dear @mmartin-lagarde, @arfon,

I'm now happy to sign off the submission. The only thing left I could find is the issue with "transient exoplanetary system" vs "transiting exoplanetary system" (both in the docs and the readme), but this is very minor.

Great work, @mmartin-lagarde, and good luck!

[2021-01-27 22:31] kbarnhart commented on #2952
@eriknes and @leotrs, we have an automatic reminder two weeks into the review. Feel free to provide an update if you have one.

@leotrs making an issue in the main repo and linking it here is perfect. Thank you! If you paste `openjournals/joss-reviews/issues/2952` into the issue then GitHub links the issues nicely.

[2021-01-27 22:46] eloisabentivegna commented on #2823
Thanks, @matthewfeickert. Do you want to change the reference in the main text to point to this new archive?

[2021-01-27 22:47] eloisabentivegna commented on #2823
@whedon set JOSS-paper as version

[2021-01-27 22:47] whedon commented on #2823
OK. JOSS-paper is the version.

[2021-01-27 22:47] eloisabentivegna commented on #2823
@whedon set 10.5281/zenodo.4472736 as archive

[2021-01-27 22:47] whedon commented on #2823
OK. <a href="https://doi.org/10.5281/zenodo.4472736" target="_blank">10.5281/zenodo.4472736</a> is the archive.

[2021-01-27 23:13] symmy596 commented on #2824
@lscalfi Thanks for pointing that out, I had missed it. Build is now fixed.

[2021-01-27 23:15] jcorbino commented on #2936
Thanks @rouson for your feedback. @jedbrown , I've updated the following:

- *doc_MATLAB* (generated documentation about the MATLAB implementation of MOLE)
- *README.md* (added some extra details to make installation process clear)
- Updated references

[2021-01-27 23:57] jni commented on #2818
@whedon check references

[2021-01-28 00:06] jni commented on #2818
@Oftatkofta could you please add that DOI to that reference? Whedon appears to be accurate here. =)

Once that's added, could you please also make a new tagged release and Zenodo archive, and report back here the version number and the Zenodo DOI?

[2021-01-28 00:40] zackdraper commented on #2641
Sure, I'll give it a go over the weekend.  Haven't done a JOSS review before but it looks straightforward.

[2021-01-28 00:55] matthewfeickert commented on #2823
@eloisabentivegna Does this show up anywhere other than this Issue? If so, and it shows up in the paper then if we could have version `v0.5.4`, [which is the release that the code reviewed corresponds to](https://github.com/openjournals/joss-reviews/issues/2823#issuecomment-743950999), that would be better. If it is just for bookkeeping then it is fine to keep it as `JOSS-paper`.

[2021-01-28 01:40] hmacdope commented on #2824
@symmy596 All good on my end also :+1:

[2021-01-28 02:07] FreddieWitherden commented on #2945
Done, issued opened as appropriate.

[2021-01-28 02:11] karthik commented on #2944
👋 @LangeJens
I'll start to look for reviewers. Do you have suggestions for any independent reviewers that might be able to evaluate your submission? thanks.

[2021-01-28 02:29] diehlpk commented on #2898
@Kevin-Mattheus-Moerman Should I recommend more reviewers?

[2021-01-28 02:38] stsievert commented on #2812
My replies are below. The documentation is looking a lot better.

Thank you. It's a lot better now. It'd be nice to have a specific example of a use case (but that's not critical).

One example: I mean that I can't easily navigate from [macop.algorithms.mono.HillClimberFirstImprovment][1] to [macop.evaluators.base][2], even thought it's a returned by `HillClimberFirstImprovment.evaluator`.
<img wi

[2021-01-28 02:58] kenohori commented on #2869
Hello!

Just finished testing the software. As far as I can tell, every function in the software works. All unit tests are okay and the functionality in the tutorials seems to work fine.

However, there are some minor issues in the tutorials in v0.2.0, which I guess are due to name changes in code refactoring.
* In semivariogram regularization: calculate_semivariance.calculate_semivariance -> calc

[2021-01-28 03:51] kellieotto commented on #2929
@mikldk sorry, unfortunately I don't have the time after work to commit to doing a review right now. I hope to get back to doing reviews soon.

[2021-01-28 04:39] kevin218 commented on #2287
@mmartin-lagarde You're probably right about the orbit/rotate comment.  I can't find it either in the new branch.

[2021-01-28 05:26] sebhaan commented on #2690
Hi @kthyng
thanks for fixing the typos. The changes are now merged with master. I've also checked and corrected the capitalization in the references and added the preservation of the original title capitalization by using {}. The words "Bayesian" and "Gaussian" are capitalized as eponyms. Thanks again for cross-checking.

[2021-01-28 05:27] sebhaan commented on #2690
@whedon generate pdf

[2021-01-28 05:28] whedon commented on #2690
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: :point_left:

[2021-01-28 05:37] sebhaan commented on #2690
@whedon generate pdf

[2021-01-28 05:37] whedon commented on #2690
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: :point_left:

[2021-01-28 05:39] sebhaan commented on #2690
@whedon accept deposit=true

[2021-01-28 05:39] whedon commented on #2690
I'm sorry @sebhaan, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-01-28 06:42] mikldk commented on #2929
@mmrabe: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-01-28 06:47] mcavs commented on #2929
@mikldk sure!

[2021-01-28 06:52] mikldk commented on #2929
@whedon add @mcavs as reviewer

[2021-01-28 06:52] whedon commented on #2929
OK, @mcavs is now a reviewer

[2021-01-28 07:01] LangeJens commented on #2944
@karthik
Hi! Thanks for getting the process started. Here are two persons who I think could serve as reviewers: Payton Jones (payton_jones@g.harvard.edu; github: paytonjjones) and Giulio Costantini (giulio.costantini@unimib.it; github: GiulioCostantini).

[2021-01-28 07:09] arfon commented on #2287
@kevin218 - given that I *think* you're approving of this submission moving forward to acceptance at this point, would you mind updating your review checklist above to reflect this?

Many thanks!

[2021-01-28 07:10] arfon commented on #2641
@whedon re-invite @zackdraper as reviewer

[2021-01-28 07:10] whedon commented on #2641
OK, the reviewer has been re-invited.

@zackdraper please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-28 07:12] arfon commented on #2641
⚡ thank you so much @zackdraper! Please review [the instructions above](https://github.com/openjournals/joss-reviews/issues/2641#issuecomment-687649852), and work through the checklist at the top of the issue (you'll need to accept the repository invite above from Whedon before you can update the checklist).

Any questions, don't hesitate to ask!

[2021-01-28 07:18] kanishkan91 commented on #2890
@dhhagan @sahilseth Hope you are doing well. Any updates related to this by chance? Please do let us know if you need anything from our side.

[2021-01-28 07:37] mmartin-lagarde commented on #2287
@kevin218 @hpparvi thank you both for your feedbacks.
The was a 'transient' remaining in the readme, that I just corrected. For the documentation however, it was already addressed.

But the link in the README takes you to the doc of the 'master' branch which contains none of the corrections made in the review process here. Make sure to check this one (in the 'review_JOSS' branch  : https://gitlab.

[2021-01-28 08:00] mscroggs commented on #2879
@ramisetti @jamtrott Thanks for the reviews. I've just finished making changes to the paper and documentation (summary of changes at bempp/bempp-cl#94)

[2021-01-28 08:08] vincentberenz commented on #2752
@gkthiruvathukal I'd say around 2 weeks. I will ping this thread once up and running

[2021-01-28 08:08] Oftatkofta commented on #2818
I'm on it!

[2021-01-28 09:20] mmrabe commented on #2929
@mikldk I'd be happy to review this one.

[2021-01-28 09:23] mikldk commented on #2929
@whedon add @mmrabe as reviewer

[2021-01-28 09:23] whedon commented on #2929
OK, @mmrabe is now a reviewer

[2021-01-28 09:24] mikldk commented on #2929
@whedon start review

[2021-01-28 09:24] whedon opened #2992 "[REVIEW]: RBF: An R package to compute a robust backfitting estimator for additive models"
**Submitting author:** @alemermartinez (<a href="http://orcid.org/0000-0002-1893-2039">Alejandra Martínez</a>)
**Repository:** <a href="https://github.com/msalibian/RBF" target ="_blank">https://github.com/msalibian/RBF</a>
**Version:** v2.1.0
**Editor:** @mikldk
**Reviewer:** @mcavs, @mmrabe
**Archive:** <a href="https://doi.org/10.5281/zenodo.4637759" target="_blank">10.5281/zenodo.4637759</a>

[2021-01-28 09:24] whedon commented on #2929
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2992.

[2021-01-28 09:24] #2929 closed

[2021-01-28 09:24] whedon commented on #2992
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mcavs, @mmrabe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-01-28 09:24] whedon commented on #2992
PDF failed to compile for issue #2992 with the following error:

 Can't find any papers to compile :-(

[2021-01-28 09:25] mikldk commented on #2992
@whedon check references from branch joss

[2021-01-28 09:25] whedon commented on #2992
[code]

[2021-01-28 09:27] whedon commented on #2992
[code]

[2021-01-28 09:28] mikldk commented on #2992
@whedon generate pdf from branch joss

[2021-01-28 09:28] whedon commented on #2992
[code]

[2021-01-28 09:29] whedon commented on #2992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: :point_left:

[2021-01-28 09:29] mikldk commented on #2992
@mcavs, @mmrabe: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review thre

[2021-01-28 09:33] whedon commented on #2954
:wave: @ChrisRackauckas, please update us on how your review is going.

[2021-01-28 09:33] whedon commented on #2954
:wave: @ranocha, please update us on how your review is going.

[2021-01-28 09:38] ranocha commented on #2954
I already posted some review comments above. When these are taken into account by modifying the package/docs/paper and @michakraus notifies me about this, I will finish the review.

[2021-01-28 09:44] VivianePons commented on #2954
Sorry, this is an automated message from whedon. I am not sure how to deactivate it.

@ChrisRackauckas Have you had time to start looking at the paper / software ? Thank you very much

[2021-01-28 09:54] JBorrow commented on #2757
Happy to take another look at things soon if you think there are no other changes to be made @Hazboun6

[2021-01-28 10:17] Oftatkofta commented on #2818
@whedon generate pdf

[2021-01-28 10:18] whedon commented on #2818
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02818/joss.02818/10.21105.joss.02818.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02818/joss.02818/10.21105.joss.02818.pdf) :page_facing_up: :point_left:

[2021-01-28 10:19] Oftatkofta commented on #2818
@whedon check references

[2021-01-28 10:20] whedon commented on #2818
[code]

[2021-01-28 10:29] Oftatkofta commented on #2818
@jni The new release has version 1.0.1, is submitted to Zendo and given the DOI 10.5281/zenodo.4475442 whedon seems satisfied with the DOI added to the reference.

On a personal note I would like thank you, the reviewers, and JOSS for a modern and smooth submission & review process.

[2021-01-28 11:05] jjatria commented on #2865
@arfon I'm not sure I'll have the time to review this. I'd love to help, but I don't know if I can commit, which means it's probably better for me to decline.

Do let me know if you have trouble finding someone else to do it, and I'll try to make some time. :bow:

[2021-01-28 11:15] jbuisine commented on #2812
Hi @stsievert ,

Thanks for your quick answer and advices. I have made some updates:

---

Inside README.md file, I include a quick explanation why Macop is used inside an other project. It has also been added inside the paper.md file.

I use `` :class:`~macop.XXXX.XXXX` `` inside API documentation. It is true that this makes browsing more pleasant. Thanks for the advice.

I use `@property` for sp

[2021-01-28 11:15] jbuisine commented on #2812
@whedon generate pdf

[2021-01-28 11:16] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-01-28 11:49] MikaelSellin commented on #2818
Thanks @jni and the reviewers also from my side for your efforts and the transparent review process.

[2021-01-28 12:05] tobias-dv-lnu commented on #2791
- [x] Make a tagged release of your software, and list the version tag of the archived version here.
release version tag: v1.3_archive
URL: https://github.com/tobias-dv-lnu/s4rdm3x/tree/v1.3_archive
- [x] Archive the reviewed software in Zenodo
- [x]  Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is cor

[2021-01-28 12:12] arfon commented on #2865
:wave: @apiad @pzelasko @ajoer - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is _pygamma-agreement: Gamma measure for inter/intra-annotator agreement in Python_, with the Python-based software he

[2021-01-28 12:16] shreyasbapat commented on #2854
Looks good from my side

[2021-01-28 12:38] pdebuyl commented on #2854
Hi @shreyasbapat thanks for finishing the review!

Can the issue https://github.com/deepskies/deeplenstronomy/issues/42 be closed?

[2021-01-28 12:41] jni commented on #2818
@whedon set 10.5281/zenodo.4475442 as archive

[2021-01-28 12:41] whedon commented on #2818
OK. <a href="https://doi.org/10.5281/zenodo.4475442" target="_blank">10.5281/zenodo.4475442</a> is the archive.

[2021-01-28 12:41] jni commented on #2818
@whedon set v1.0.1 as version

[2021-01-28 12:41] whedon commented on #2818
OK. v1.0.1 is the version.

[2021-01-28 12:41] jni commented on #2818
@whedon accept

[2021-01-28 12:41] whedon commented on #2818
[code]

[2021-01-28 12:42] whedon commented on #2818
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2056

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2056, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-28 12:45] danielskatz commented on #2690
@whedon accept

[2021-01-28 12:45] whedon commented on #2690
[code]

[2021-01-28 12:46] whedon commented on #2690
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2057

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2057, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-28 12:49] danielskatz commented on #2690
@sebhaan - in the .bib file, please spell out IJCAI. Once this is done, we can publish

[2021-01-28 13:03] whedon commented on #2957
:wave: @preetida, please update us on how your review is going.

[2021-01-28 13:06] pdebuyl commented on #2842
Hi @scivision do you need a delay with the submission? If yes, it could be paused.

[2021-01-28 13:36] danielskatz commented on #2818
I've suggested some minor changes in https://github.com/Oftatkofta/cellocity/pull/21 - please merge this or let me know what you disagree with

[2021-01-28 13:43] danielskatz commented on #2981
@jedbrown - if you are still willing to edit, can you assign yourself, or let me know and I will do so

[2021-01-28 13:44] whedon opened #2993 "[PRE REVIEW]: BACPHLIP: Predicting bacteriophage lifestyle from conserved protein domains"
**Submitting author:** @adamhockenberry (<a href="http://orcid.org/0000-0001-9476-0104">Adam Hockenberry</a>)
**Repository:** <a href="https://github.com/adamhockenberry/bacphlip" target ="_blank">https://github.com/adamhockenberry/bacphlip</a>
**Version:** v0.9.6
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-01-28 13:44] whedon commented on #2993
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-28 13:44] whedon opened #2994 "[PRE REVIEW]: PyFstat: a Python package for continuous gravitational-wave data analysis"
**Submitting author:** @dbkeitel (<a href="http://orcid.org/0000-0002-2824-626X">David Keitel</a>)
**Repository:** <a href="https://github.com/PyFstat/PyFstat/" target ="_blank">https://github.com/PyFstat/PyFstat/</a>
**Version:** v1.11.1
**Editor:** @danielskatz
**Reviewers:** @khanx169, @RobertRosca
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-01-28 13:44] whedon commented on #2994
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-28 13:44] whedon commented on #2993
[code]

[2021-01-28 13:45] whedon commented on #2994
[code]

[2021-01-28 13:45] whedon commented on #2993
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02993/joss.02993/10.21105.joss.02993.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02993/joss.02993/10.21105.joss.02993.pdf) :page_facing_up: :point_left:

[2021-01-28 13:46] whedon commented on #2994
PDF failed to compile for issue #2994 with the following error:

 Can't find any papers to compile :-(

[2021-01-28 13:46] whedon commented on #2993
[code]

[2021-01-28 13:46] danielskatz commented on #2993
@adamhockenberry - due to the small size of this submission, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. You should hear back in about a week.

[2021-01-28 13:46] danielskatz commented on #2993
@whedon query scope

[2021-01-28 13:46] whedon commented on #2993
Submission flagged for editorial review.

[2021-01-28 13:47] danielskatz commented on #2994
@whedon generate pdf from branch joss

[2021-01-28 13:47] whedon commented on #2994
[code]

[2021-01-28 13:47] whedon commented on #2994
PDF failed to compile for issue #2994 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:577:in `initialize': No such file or directory @ rb_sysopen - af475834051feb14868d9a04/joss-paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:577:in `open'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:577:in `load_file'
	from /app/vendor/bundle

[2021-01-28 13:48] danielskatz commented on #2994
@whedon check references from branch joss

[2021-01-28 13:48] whedon commented on #2994
[code]

[2021-01-28 13:48] whedon commented on #2994
[code]

[2021-01-28 13:48] Oftatkofta commented on #2818
@danielskatz Thanks for the proof read, I have merged the edits.

[2021-01-28 13:49] danielskatz commented on #2994
@whedon generate pdf from branch joss

[2021-01-28 13:49] whedon commented on #2994
[code]

[2021-01-28 13:50] whedon commented on #2994
PDF failed to compile for issue #2994 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:577:in `initialize': No such file or directory @ rb_sysopen - d08b089bfd93fdba0f8da8b4/joss-paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:577:in `open'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:577:in `load_file'
	from /app/vendor/bundle

[2021-01-28 13:50] danielskatz commented on #2994
👋 @openjournals/dev  - can you help with this compilation error?  I don't see anything in the error message that I can use to diagnose the problem

[2021-01-28 13:53] danielskatz commented on #2818
@whedon accept

[2021-01-28 13:53] whedon commented on #2818
[code]

[2021-01-28 13:54] whedon commented on #2818
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2058

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2058, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-28 13:55] whedon commented on #2818
[code]

[2021-01-28 13:55] danielskatz commented on #2818
@whedon accept deposit=true

[2021-01-28 13:55] whedon commented on #2818
[code]

[2021-01-28 13:56] whedon commented on #2818
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1354790436813070338) 👈 🐦🐦🐦

[2021-01-28 13:56] whedon commented on #2818
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2059
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02818](https://doi.org/10.21105/joss.02818)
2. If everything looks g

[2021-01-28 14:00] danielskatz commented on #2818
Congratulations to @Oftatkofta (Jens Eriksson) and co-authors!!

And thanks to @rfezzani and @aplyer for reviewing, and @jni for editing!

[2021-01-28 14:00] #2818 closed

[2021-01-28 14:00] whedon commented on #2818
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02818/status.svg)](https://doi.org/10.21105/joss.02818)

**We need your help!**

Journal of Open Source Softwa

[2021-01-28 14:03] arfon commented on #2994
I think the presence of a `paper.tex` file is confusing Whedon: https://github.com/PyFstat/PyFstat/blob/joss/joss-paper/paper.tex

I would suggest removing this and trying again.

[2021-01-28 14:51] danielskatz commented on #2994
👋 @dbkeitel  - can you remove paper.tex from the repo, and then try the compilation, by putting ```@whedon generate pdf from branch joss``` in a new comment here?  I'm going to mark this as paused for the minute

[2021-01-28 15:03] dbkeitel commented on #2994
@whedon generate pdf from branch joss

[2021-01-28 15:03] whedon commented on #2994
[code]

[2021-01-28 15:04] whedon commented on #2994
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02994/joss.02994/10.21105.joss.02994.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02994/joss.02994/10.21105.joss.02994.pdf) :page_facing_up: :point_left:

[2021-01-28 15:08] dbkeitel commented on #2994
Thanks  @danielskatz @arfon that has fixed it! And thanks for getting thing started, too.

[2021-01-28 15:17] fboehm commented on #2986
@whedon assign @LogIN- as reviewer

[2021-01-28 15:17] whedon commented on #2986
OK, @LogIN- is now a reviewer

[2021-01-28 15:35] danielskatz commented on #2994
@whedon assign me as editor

[2021-01-28 15:35] whedon commented on #2994
OK, the editor is @danielskatz

[2021-01-28 15:36] kevin218 commented on #2287
@arfon Checklist updated.  Paper approved.

[2021-01-28 15:36] danielskatz commented on #2994
@dbkeitel - do you have any suggestions for potential reviewers? Please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-01-28 15:45] Hazboun6 commented on #2757
@JBorrow please standby. I just realized that the docs did not build on `readthedocs`. The were of course building locally. How embarrassing... My work day starts in an hour and I'll fix ASAP. Sorry

[2021-01-28 15:49] oalii commented on #2831
Hi @Kevin-Mattheus-Moerman and @IgorBaratta ,

Any update on your side ?

[2021-01-28 15:52] danielskatz commented on #2994
👋 @khanx169, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html  (You were suggested by @eliu23)

[2021-01-28 15:55] danielskatz commented on #2994
👋 @svigeland - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-01-28 16:00] dbkeitel commented on #2994
If those first wo people you asked aren't available, cmbiwer would be a great choice (GW analyst with experience developing similar packages, but no direct contact with this project).

Some more likely-looking people (with python & astro listed as language/field) going up from the bottom of the table would be e.g.: RobertRosca arjunsavel sibirrer JBorrow cavestruz .

[2021-01-28 16:15] danielskatz commented on #2994
👋 @cmbiwer - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-01-28 16:59] arfon commented on #2287
@mmartin-lagarde - please go ahead and merge these branches together now as it looks like both of the reviewers have signed off.

[2021-01-28 17:26] jiwoncpark commented on #2854
The text and code look really good to me, @rmorgan10! I've checked off the boxes. Super minor suggestions/comments:

- In line 43, I believe the package name ```SLSprinkler``` doesn't have a space and how about "imputes" --> "adds?" I'm also confirming the correct citation for the package, but this shouldn't hold you back in the JOSS review.
- Just FYI, you can choose what files to ignore in test

[2021-01-28 17:30] khanx169 commented on #2994
@danielskatz yes I'd be happy to review.

[2021-01-28 17:33] rmorgan10 commented on #2854
Thanks @jiwoncpark! I've implemented your line 43 changes. Please let me know if there is a better citation for `SLSprinkler` or `baobab`. I am considering setting up GitHub actions for CI at some point, but that will be slightly down the road.

[2021-01-28 17:43] mmartin-lagarde commented on #2287
@arfon I just merged the branches

[2021-01-28 17:54] danielskatz commented on #2994
@khanx169 - thanks.  I'll assign you now, but we won't actually start the review until we get at least one more reviewer as well

[2021-01-28 17:54] danielskatz commented on #2994
@whedon assign @khanx169 as reviewer

[2021-01-28 17:54] whedon commented on #2994
OK, @khanx169 is now a reviewer

[2021-01-28 17:58] adamhockenberry commented on #2993
@danielskatz Many thanks! Two quick notes, if it's helpful.

As for the text of the paper, I purposefully kept it quite limited but have a several page ".pdf" included in the repository ("paper/BACPHLIP_supplement.pdf") that is meant for better describing the scholarly research aims, model development, and validation. Was unsure of whether this was necessary/appropriate/best practice.

Also, I hav

[2021-01-28 18:03] bradyrx commented on #2781
@darothen, I understand that this slipped by with everything going on. I appreciate you following up and hope all is well for you, man! We'll talk soon. Thanks @samjsilva91 for picking this up!

[2021-01-28 18:30] danielskatz commented on #2993
The main issue is going to be the quite small size of the codebase. It's about 500 lines of Python, and we typically desk-reject anything under 300 lines, and have editor discussion of anything under or near 1000...

[2021-01-28 18:35] svigeland commented on #2994
Apologies, but I'm unable to review now.

[2021-01-28 19:15] eloisabentivegna commented on #2823
@matthewfeickert, thanks for the explanation, I didn't realize the top-level DOI now points to the JOSS version. Does this mean that once new versions are added to the archive, the DOI in the paper will point to them instead of the version corresponding to the JOSS submission? I think this would be acceptable, but I would perhaps recommend making it clearer in the text (e.g. adding "The version co

[2021-01-28 19:22] fboehm commented on #2986
@whedon add @JDRomano2 as reviewer

[2021-01-28 19:22] whedon commented on #2986
OK, @JDRomano2 is now a reviewer

[2021-01-28 19:23] fboehm commented on #2986
@whedon start review

[2021-01-28 19:23] whedon opened #2995 "[REVIEW]: covid19.analytics: An R Package to Obtain, Analyze and Visualize Data from the 2019 Corona Virus Disease Pandemic"
**Submitting author:** @mponce0 (<a href="http://orcid.org/0000-0001-5850-7240">Marcelo Ponce</a>)
**Repository:** <a href="https://github.com/mponce0/covid19.analytics/" target ="_blank">https://github.com/mponce0/covid19.analytics/</a>
**Version:** 2.1.0
**Editor:** @fboehm
**Reviewer:** @LogIN-, @JDRomano2
**Archive:** <a href="https://doi.org/10.5281/zenodo.4640307" target="_blank">10.5281/zen

[2021-01-28 19:23] whedon commented on #2986
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2995.

[2021-01-28 19:23] #2986 closed

[2021-01-28 19:23] whedon commented on #2995
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @LogIN-, @JDRomano2 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-01-28 19:25] whedon commented on #2995
PDF failed to compile for issue #2995 with the following error:

 Can't find any papers to compile :-(

[2021-01-28 20:06] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-01-28 20:26] matthewfeickert commented on #2823
Yes, the [preferred BibTeX entry for citation that we include in our README and docs](https://scikit-hep.org/pyhf/citations.html#citation) gets bumped automatically by our workflow when we make new releases to PyPI. The version number gets bumped, and the DOI stays the same. We use what Zenodo refers to as the "cite all versions" DOI for `pyhf` [`10.5281/zenodo.1169739`](https://doi.org/10.5281/ze

[2021-01-28 20:54] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-01-28 20:54] whedon commented on #2995
[code]

[2021-01-28 20:58] whedon commented on #2823
[code]

[2021-01-28 20:59] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2021-01-28 21:04] matthewfeickert commented on #2823
@eloisabentivegna I've incorporated the release number into the paper text now. :+1: If the preview that whedon built (above) looks okay I'll merge [`pyhf` PR 1280](https://github.com/scikit-hep/pyhf/pull/1280) to bring the changes in and then have whedon rebuild off `pyhf`'s `master` branch.

[2021-01-28 21:41] sebhaan commented on #2690
@danielskatz - .bib file updated. IJCAI replaced with International Joint Conference on Artificial Intelligence

[2021-01-28 22:05] danielskatz commented on #2690
@whedon accept

[2021-01-28 22:05] whedon commented on #2690
[code]

[2021-01-28 22:05] whedon commented on #2690
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2060

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2060, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-28 22:06] whedon commented on #2690
[code]

[2021-01-28 22:07] stsievert commented on #2812
Nit: https://jbuisine.github.io/macop/_build/html/macop/macop.policies.classicals.html does not completely describe the API for `RandomPolicy`: it's missing the `setAlgo` and `apply` methods.

It looks like this package has two packs: the discrete algorithms/operators/etc, and the data flow that allows customization. Maybe it'd be better to have that separation on the docs? i.e., have all the base

[2021-01-28 22:08] danielskatz commented on #2690
@whedon accept deposit=true

[2021-01-28 22:08] whedon commented on #2690
[code]

[2021-01-28 22:09] whedon commented on #2690
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1354914400696729601) 👈 🐦🐦🐦

[2021-01-28 22:09] whedon commented on #2690
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2061
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02690](https://doi.org/10.21105/joss.02690)
2. If everything looks g

[2021-01-28 22:13] danielskatz commented on #2690
Congratulations to @sebhaan (Sebastian Haan)!!

And thanks to @npetra and @sgkang for reviewing, and @hugoledoux for editing!

[2021-01-28 22:13] #2690 closed

[2021-01-28 22:13] whedon commented on #2690
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02690/status.svg)](https://doi.org/10.21105/joss.02690)

**We need your help!**

Journal of Open Source Softwa

[2021-01-28 22:41] arfon commented on #2287
@whedon generate pdf

[2021-01-28 22:41] whedon commented on #2287
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02287/joss.02287/10.21105.joss.02287.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02287/joss.02287/10.21105.joss.02287.pdf) :page_facing_up: :point_left:

[2021-01-28 22:46] arfon commented on #2287
@mmartin-lagarde - this is looking pretty good and I think we're ready to proceed to accept and publish here. One quick question: Has the paper in the AAS journal been accepted yet? If so, we should include the DOI in the `paper.md` file now to cross-link the papers. If not, we can either 1) Hold this paper as `paused` or 2) Publish now and update it once you have the AAS DOI.

Do you have a prefe

[2021-01-29 01:39] kfhiga commented on #2744
Hi @melissawm <https://github.com/melissawm>, I apologize for the delay. I
spoke with our licensing people, and they gave me permission to be more
flexible with the license file. So I've removed one file. And rather than
creating soft links, I've changed the documentation generation scripts to
generate the license and copyright pages from the other files in the
repository when they're needed.

I'v

[2021-01-29 08:34] pdebuyl commented on #2854
Thank you @jiwoncpark for the review!

@rmorgan10 I'll now proceed to some editorial checks before handing out the paper to the editor-in-chief (see https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance ).

[2021-01-29 08:35] pdebuyl commented on #2854
@whedon check references

[2021-01-29 08:35] pdebuyl commented on #2854
@whedon generate pdf

[2021-01-29 08:35] whedon commented on #2854
[code]

[2021-01-29 08:35] whedon commented on #2854
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02854/joss.02854/10.21105.joss.02854.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02854/joss.02854/10.21105.joss.02854.pdf) :page_facing_up: :point_left:

[2021-01-29 08:49] jbuisine commented on #2812
Thans for your answers.

Here my relative updates:

- Display of inheritance classes and members inside API for each class (using `'inherited-members', 'show-inheritance'` keywords for autosummary)

- API documentation page is now divided in 4 sections:
   - Modules description
   - Common and base modules
   - Discrete Optimisation
   - Continuous Optimisation (with some explanations why and guid

[2021-01-29 09:38] tramarobin commented on #2839
@cMadan & @kthyng,  is there something I can do as I don't have any answers ?

[2021-01-29 10:23] mmartin-lagarde commented on #2287
@arfon Yes, it has been accepted, they went forward with the publication. https://ui.adsabs.harvard.edu/abs/2020AJ....160..197M/abstract
I just included the DOI in the paper and checked that bibliography.

[2021-01-29 10:26] ChrisRackauckas commented on #2954
Not yet, I had planned it for Feb 11.

[2021-01-29 10:29] VivianePons commented on #2954
No problem, thank you for the update!

[2021-01-29 10:52] arfon commented on #2287
@mmartin-lagarde - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That t

[2021-01-29 10:59] arfon commented on #2395
@whedon assign @arfon as editor

[2021-01-29 11:00] arfon commented on #2395
:wave: folks. @bmcfee is unable to continue editing this paper at the moment so I'm going to pick it up from here.

@W4ngatang, @thomwolf - please update me when you can on your progress. It would be good to get this submission wrapped up in the next month if possible.

[2021-01-29 11:26] thomwolf commented on #2395
I will have to defer this to someone else in my team unfortunately.
It just seems totally not possible for me to do it in the coming 2 months at least with all the managements stuff I need to handle. And it's just keep getting bigger and bigger so no real solution in the very short term.

Otherwise if you prefer to ask another reviewer that you would chose yourself, I'm happy to recommend names.

[2021-01-29 11:30] Jammy2211 commented on #2550
@whedon generate pdf

[2021-01-29 11:31] whedon commented on #2550
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02550/joss.02550/10.21105.joss.02550.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02550/joss.02550/10.21105.joss.02550.pdf) :page_facing_up: :point_left:

[2021-01-29 11:36] arfon commented on #2395
Thanks for the update @thomwolf. I think it might be best to seek out a new reviewer here. Any recommendations you might have would be very welcome!

[2021-01-29 11:41] thomwolf commented on #2395
For instance I think both @nreimers and @JoPfeiff combine deep knowledge of OSS, NLP and science.

[2021-01-29 11:55] Jammy2211 commented on #2550
@whedon generate pdf

[2021-01-29 11:56] whedon commented on #2550
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02550/joss.02550/10.21105.joss.02550.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02550/joss.02550/10.21105.joss.02550.pdf) :page_facing_up: :point_left:

[2021-01-29 12:07] Jammy2211 commented on #2550
We will go with autofit v0.72.2.

I made a couple of changes to the manuscript, primarily typos and adding Binder links (and removing a couple of older links).

[2021-01-29 12:15] mmartin-lagarde commented on #2287
@arfon I just uploaded the release under: 10.5281/zenodo.4478762

[2021-01-29 14:41] rmorgan10 commented on #2854
I don't think this doi is correct, so I'm not too worried about it appearing under the "Missing DOIs" section

[2021-01-29 14:43] melissawm commented on #2829
Thank you, @vlandau ! Just checking - there is a small typo on the summary for Zenodo:

Also you mention References but there is only one paper listed - is this intentional?

[2021-01-29 15:25] pdebuyl commented on #2854
Hi @rmorgan10 don't worry about the DOI. I do a manual check of the DOIs, the automatic feature of whedon is a helpful starting point but not the source of truth :-)

[2021-01-29 15:32] kthyng commented on #2839
Hi @tramarobin! Do you mean with respect to reviewers to suggest? We do ask submitting authors to look through the [list](https://bit.ly/joss-reviewers) of volunteers to find matches for your submission since you know your code best, and then list them here without using "@" so they aren't preemptively pinged. I see you've found 2. Can you find a handful more? You may also know people from your ow

[2021-01-29 16:14] rtfisher commented on #2807
Apologies again! Between the AAS meeting and the start of the semester, I was booked solid. This is now at the top of my queue.

[2021-01-29 16:19] jiwoncpark commented on #2854
Hi, please use this citation for `baobab`:
[code]

[2021-01-29 16:22] vlandau commented on #2829
@melissawm thanks I'll fix that typo! That was the only paper I cited so it was the only one listed in references.

[2021-01-29 16:22] rmorgan10 commented on #2854
Updated! Thanks!

[2021-01-29 16:29] melissawm commented on #2829
@whedon set 10.5281/zenodo.4466323 as archive

[2021-01-29 16:29] whedon commented on #2829
OK. <a href="https://doi.org/10.5281/zenodo.4466323" target="_blank">10.5281/zenodo.4466323</a> is the archive.

[2021-01-29 16:31] melissawm commented on #2829
Hello @openjournals/joss-eics , I believe this is ready for publishing.

Thanks again @vlandau, @juliohm and @tpoisot !

[2021-01-29 16:45] rmorgan10 commented on #2854
@pdebuyl Here is the version number and archive DOI for the updated release of deeplenstronomy:

Version: v0.0.1.2
DOI: 10.5281/zenodo.4479712

[2021-01-29 16:48] whedon commented on #2829
[code]

[2021-01-29 16:49] whedon commented on #2829
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2062

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2062, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-29 17:23] kfhiga commented on #2744
Hello @melissawm <https://github.com/melissawm>,

I thought so too, but was relieved to see that we had our license variant
approved:
https://opensource.org/BSD-3-Clause-LBNL

I've made the updates and pushed the changes. If you already know the
article citation details, I can add them to the citation page of the
documentation, but I'll otherwise just leave the link to JOSS in place.

Thank you!
K

[2021-01-29 17:28] danielskatz commented on #2829
@whedon accept deposit=true

[2021-01-29 17:28] whedon commented on #2829
[code]

[2021-01-29 17:30] whedon commented on #2829
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1355206577918242817) 👈 🐦🐦🐦

[2021-01-29 17:30] whedon commented on #2829
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2063
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02829](https://doi.org/10.21105/joss.02829)
2. If everything looks g

[2021-01-29 17:52] danielskatz commented on #2829
Congratulations to @vlandau (Vincent Landau) and co-authors!!

And thanks to @juliohm @tpoisot for reviewing, and @melissawm for editing!

[2021-01-29 17:52] #2829 closed

[2021-01-29 17:52] whedon commented on #2829
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02829/status.svg)](https://doi.org/10.21105/joss.02829)

**We need your help!**

Journal of Open Source Softwa

[2021-01-29 18:21] kyleniemeyer commented on #2095
@whedon re-invite @olgadoronina as reviewer

[2021-01-29 18:21] whedon commented on #2095
OK, the reviewer has been re-invited.

@olgadoronina please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-29 18:31] preetida commented on #2957
Hi  @lpantano,
I must have missed the checklist part.
It wouldn't allow me now and says the invitation expired.
Can you pls resend it.
Also, this is my first time reviewing for this journal,
for the issue with the tool, just open a new issue on their GitHub or report it here?
Thanks,
Preeti

[2021-01-29 18:38] lpantano commented on #2957
@whedon add @preetida as reviewer

[2021-01-29 18:38] whedon commented on #2957
OK, @preetida is now a reviewer

[2021-01-29 18:39] lpantano commented on #2957
Thank @preetida, I would use this for general discussion, and create an issue in their GitHub and mentioned here so we see what is going on. Let me know if you get the new invitation after trying to add you as reviewer again. Thanks!

[2021-01-29 18:44] danielskatz commented on #2957
@lpantano the better command to use in this instance is 👇

[2021-01-29 18:45] danielskatz commented on #2957
@whedon re-invite @preetida as reviewer

[2021-01-29 18:45] whedon commented on #2957
@preetida already has access.

[2021-01-29 19:27] preetida commented on #2957
@lpantano thank you, that worked this time.

[2021-01-29 20:13] whedon commented on #2964
:wave: @munkm, please update us on how your review is going.

[2021-01-29 20:13] whedon commented on #2964
:wave: @qpmnguyen, please update us on how your review is going.

[2021-01-29 20:14] whedon commented on #2965
:wave: @laijingtao, please update us on how your review is going.

[2021-01-29 20:14] whedon commented on #2965
:wave: @amanaster2, please update us on how your review is going.

[2021-01-29 20:14] whedon commented on #2965
:wave: @cheginit, please update us on how your review is going.

[2021-01-30 01:48] jiwoncpark commented on #2854
If it's not too late, here is the Zenodo for `SLSprinkler`: http://doi.org/10.5281/zenodo.4480392

[2021-01-30 01:49] whedon opened #2996 "[PRE REVIEW]: GeophysicalFlows.jl: Solvers for geophysical fluid dynamics problems in periodic domains on CPUs & GPUs"
**Submitting author:** @navidcy (<a href="http://orcid.org/0000-0002-8149-4094">Navid C. Constantinou</a>)
**Repository:** <a href="https://github.com/FourierFlows/GeophysicalFlows.jl" target ="_blank">https://github.com/FourierFlows/GeophysicalFlows.jl</a>
**Version:** v0.11.3
**Editor:** @pdebuyl
**Reviewers:** @ranocha, @eviatarbach
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced ser

[2021-01-30 01:50] whedon commented on #2996
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-30 01:50] whedon opened #2997 "[PRE REVIEW]: seaborn: statistical data visualization"
**Submitting author:** @mwaskom (<a href="http://orcid.org/0000-0002-9817-6869">Michael Waskom</a>)
**Repository:** <a href="https://github.com/mwaskom/seaborn" target ="_blank">https://github.com/mwaskom/seaborn</a>
**Version:** v0.11.1
**Editor:** @lpantano
**Reviewers:** @dangeles, @Sara-ShiHo
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-01-30 01:50] whedon commented on #2997
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-30 01:50] whedon opened #2998 "[PRE REVIEW]: Generating fragment density plots in R/Bioconductor with VplotR"
**Submitting author:** @js2264 (<a href="http://orcid.org/0000-0002-4295-0624">Jacques Serizay</a>)
**Repository:** <a href="https://github.com/js2264/VplotR/" target ="_blank">https://github.com/js2264/VplotR/</a>
**Version:** v1.1.0
**Editor:** @csoneson
**Reviewers:** @henrykironde, @fgeier
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-01-30 01:50] whedon commented on #2998
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-30 01:50] whedon opened #2999 "[PRE REVIEW]: TAT.py: Tropospheric Analysis Tools in Python"
**Submitting author:** @marcozennaro (<a href="http://orcid.org/0000-0002-0578-0830">Marco Zennaro</a>)
**Repository:** <a href="https://github.com/marcozennaro/tropo_paper" target ="_blank">https://github.com/marcozennaro/tropo_paper</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-01-30 01:50] whedon commented on #2999
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-30 01:50] whedon commented on #2996
[code]

[2021-01-30 01:50] whedon commented on #2996
PDF failed to compile for issue #2996 with the following error:

 Can't find any papers to compile :-(

[2021-01-30 01:51] danielskatz commented on #2994
👋 @RobertRosca - would you be willing to review this submission for JOSS?

[2021-01-30 01:51] whedon commented on #2997
[code]

[2021-01-30 01:52] whedon commented on #2997
PDF failed to compile for issue #2997 with the following error:

 Can't find any papers to compile :-(

[2021-01-30 01:52] whedon commented on #2998
[code]

[2021-01-30 01:52] whedon commented on #2998
Failed to discover a valid open source license.

[2021-01-30 01:53] whedon commented on #2998
PDF failed to compile for issue #2998 with the following error:

 Can't find any papers to compile :-(

[2021-01-30 01:53] whedon commented on #2999
Failed to discover a `Statement of need` section in paper

[2021-01-30 01:53] whedon commented on #2999
[code]

[2021-01-30 01:53] whedon commented on #2999
Failed to discover a valid open source license.

[2021-01-30 01:53] whedon commented on #2999
[code]

[2021-01-30 01:54] whedon commented on #2999
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02999/joss.02999/10.21105.joss.02999.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02999/joss.02999/10.21105.joss.02999.pdf) :page_facing_up: :point_left:

[2021-01-30 02:12] danielskatz commented on #2996
@whedon generate pdf from branch joss-paper

[2021-01-30 02:12] whedon commented on #2996
[code]

[2021-01-30 02:12] whedon commented on #2996
PDF failed to compile for issue #2996 with the following error:

 Can't find any papers to compile :-(

[2021-01-30 02:13] danielskatz commented on #2997
@whedon generate pdf from branch joss_paper

[2021-01-30 02:13] whedon commented on #2997
[code]

[2021-01-30 02:14] whedon commented on #2997
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02997/joss.02997/10.21105.joss.02997.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02997/joss.02997/10.21105.joss.02997.pdf) :page_facing_up: :point_left:

[2021-01-30 02:14] danielskatz commented on #2998
@js2264 - I see a mention of a license in your readme, but I don't see a license file in the repository

[2021-01-30 02:15] danielskatz commented on #2998
@whedon generate pdf from branch JOSS

[2021-01-30 02:15] whedon commented on #2998
[code]

[2021-01-30 02:15] danielskatz commented on #2997
@whedon check references from branch joss-paper

[2021-01-30 02:15] whedon commented on #2997
[code]

[2021-01-30 02:15] navidcy commented on #2996
@whedon generate pdf from branch JOSS-paper

[2021-01-30 02:15] danielskatz commented on #2997
@whedon check references from branch joss_paper

[2021-01-30 02:15] whedon commented on #2996
[code]

[2021-01-30 02:15] whedon commented on #2997
[code]

[2021-01-30 02:17] whedon commented on #2997
[code]

[2021-01-30 02:17] whedon commented on #2998
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02998/joss.02998/10.21105.joss.02998.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02998/joss.02998/10.21105.joss.02998.pdf) :page_facing_up: :point_left:

[2021-01-30 02:17] navidcy commented on #2996
potential reviewers: rabernat, francispoulin, datseris, kburns, cesar-rocha

[2021-01-30 02:17] danielskatz commented on #2999
@marcozennaro - this repository seems to only contain a paper.  For JOSS, we expect the submitted repository to contain the software to be reviewed, plus the paper.  See https://joss.readthedocs.io/en/latest/submitting.html

[2021-01-30 02:17] whedon commented on #2996
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02996/joss.02996/10.21105.joss.02996.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02996/joss.02996/10.21105.joss.02996.pdf) :page_facing_up: :point_left:

[2021-01-30 02:18] danielskatz commented on #2998
@whedon check references from branch JOSS

[2021-01-30 02:18] whedon commented on #2998
[code]

[2021-01-30 02:18] whedon commented on #2998
[code]

[2021-01-30 02:19] danielskatz commented on #2997
@mwaskom - there is at least one reference that needs to be fixed, and the missing DOIs also might be correct. Please feel free to fix them, then use the @whedon commands I used to regenerate the PDF and recheck the references.

[2021-01-30 02:20] danielskatz commented on #2996
@whedon check references from branch JOSS-paper

[2021-01-30 02:20] whedon commented on #2996
[code]

[2021-01-30 02:20] whedon commented on #2996
[code]

[2021-01-30 02:22] danielskatz commented on #2996
👋 @leouieda - would you be able to edit this submission?

[2021-01-30 02:22] danielskatz commented on #2996
@whedon invite @leouieda as editor

[2021-01-30 02:22] whedon commented on #2996
@leouieda has been invited to edit this submission.

[2021-01-30 02:24] danielskatz commented on #2997
👋 @lpantano - would you be willing to edit this submission?

[2021-01-30 02:24] danielskatz commented on #2997
@whedon invite @lpantano as editor

[2021-01-30 02:24] whedon commented on #2997
@lpantano has been invited to edit this submission.

[2021-01-30 02:28] danielskatz commented on #2998
👋 @csoneson - would you be able to edit this submission?

[2021-01-30 02:28] danielskatz commented on #2998
@whedon invite @csoneson as editor

[2021-01-30 02:28] whedon commented on #2998
@csoneson has been invited to edit this submission.

[2021-01-30 03:34] navidcy commented on #2996
extended list of potential reviewers:
rabernat, francispoulin, datseris, kburns,
cesar-rocha, gasagna, johnfgibson,

[2021-01-30 04:52] Hazboun6 commented on #2757
@JBorrow and @arjunsavel We are now ready for you both to have another look!

[2021-01-30 06:58] tramarobin commented on #2839
@kthyng, thanks for your answer, i didn't get the nuance of "without @"

@cMadan, I suggest EtienneCmb, katschueler, daviddewhurst, marcoapintoo
Outside the list, I can suggest 0todd0000 who create the statistical analysis which is employed in my function.

[2021-01-30 07:48] arfon commented on #2287
@whedon set 10.5281/zenodo.4478762 as archive

[2021-01-30 07:49] whedon commented on #2287
OK. <a href="https://doi.org/10.5281/zenodo.4478762" target="_blank">10.5281/zenodo.4478762</a> is the archive.

[2021-01-30 07:49] arfon commented on #2287
@whedon accept

[2021-01-30 07:49] whedon commented on #2287
[code]

[2021-01-30 07:49] whedon commented on #2287
[code]

[2021-01-30 07:50] whedon commented on #2287
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2064

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2064, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-30 07:53] arfon commented on #2287
@whedon accept deposit=true

[2021-01-30 07:53] whedon commented on #2287
[code]

[2021-01-30 07:55] whedon commented on #2287
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1355424278783684610) 👈 🐦🐦🐦

[2021-01-30 07:55] whedon commented on #2287
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2065
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02287](https://doi.org/10.21105/joss.02287)
2. If everything looks g

[2021-01-30 07:57] arfon commented on #2287
@hpparvi, @kevin218 - many thanks for your reviews here! JOSS relies upon the volunteer efforts of folks like yourselves, and we simply wouldn't be able to do this without you ✨

@mmartin-lagarde - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-30 07:57] #2287 closed

[2021-01-30 07:57] whedon commented on #2287
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02287/status.svg)](https://doi.org/10.21105/joss.02287)

**We need your help!**

Journal of Open Source Softwa

[2021-01-30 10:56] jbuisine commented on #2812
@whedon generate pdf

[2021-01-30 10:57] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-01-30 12:03] js2264 commented on #2998
Thanks for spotting it. Not sure why it was absent, but should be fixed now (both in JOSS and master branch)!

[2021-01-30 14:34] mwaskom commented on #2997
@whedon generate pdf from branch joss_paper

[2021-01-30 14:34] whedon commented on #2997
[code]

[2021-01-30 14:34] whedon commented on #2997
PDF failed to compile for issue #2997 with the following error:

 Error reading bibliography file paper.bib:
(line 58, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Looks like we failed to compile the PDF

[2021-01-30 14:35] mwaskom commented on #2997
@whedon generate pdf from branch joss_paper

[2021-01-30 14:35] whedon commented on #2997
[code]

[2021-01-30 14:36] whedon commented on #2997
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02997/joss.02997/10.21105.joss.02997.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02997/joss.02997/10.21105.joss.02997.pdf) :page_facing_up: :point_left:

[2021-01-30 14:39] mwaskom commented on #2997
@whedon check references from branch joss_paper

[2021-01-30 14:39] whedon commented on #2997
[code]

[2021-01-30 14:40] whedon commented on #2997
[code]

[2021-01-30 14:41] mwaskom commented on #2997
@danielskatz  broken references are now fixed ... Exploratory Data Analysis is a book from the 1970s so I don't think it has a DOI?

[2021-01-30 16:15] majensen commented on #2913
@kakearney would you have time and interest to review [this work](#2913) for [JOSS](https://joss.theoj.org)? We could use your MATLAB expertise. Please let me know in this thread or at maj - dot - fortinbras - at - gmail - dot - com. I appreciate your consideration! --@majensen

[2021-01-30 16:17] majensen commented on #2558
@egonw - checking in - thanks

[2021-01-30 16:29] egonw commented on #2558
Sorry, I'm very close. Most is addressed, but need to check and write a rebuttal. But last three weeks were darn busy again :(

[2021-01-30 16:35] kbarnhart commented on #2965
@laijingtao, @amanaster2, @cheginit, we have an automatic reminder two weeks into the review. Feel free to provide an update if you have one.

[2021-01-30 16:57] dhhagan commented on #2781
No worries @darothen - I'll ping you in the future 😜

[2021-01-30 16:58] dhhagan commented on #2890
Hey @kanishkan91 - sorry about the delay, the past few weeks have been...busy. I'll try finalizing a new reviewer in the next few days.

[2021-01-30 17:04] dhhagan commented on #2890
👋  @trashbirdecology - it seems like you would be a good fit to review this paper. Would be interested and have the time to do so?

[2021-01-30 17:42] danielskatz commented on #2726
If we don't get feedback about the process of addressing the reviewer comments on the submission in another 3 weeks, we will reject it

[2021-01-30 17:44] danielskatz commented on #2997
Right - whedon found a book chapter with that same name, but it's clearly not the same, so feel free to ignore this one.

[2021-01-30 19:39] eloisabentivegna commented on #2823
Thanks, @matthewfeickert! The spirit of having a tagger release quoted with the paper is that it will allow readers to track down which version exactly was reviewed as part of the JOSS procedure. If `JOSS-paper` is significantly different from what @bradkav and @suchitakulkarni have reviewed, then it cannot be the release associated with the submission. Could you (and @bradkav and @suchitakulkarni

[2021-01-30 19:41] eloisabentivegna commented on #2495
Update: the author has been busy with some personal matters and is catching up with this submission.

[2021-01-30 19:42] eloisabentivegna commented on #2555
@aaron-bray, @rclipp, are you happy for the reviewers to take a look at your new version now?

[2021-01-30 19:44] eloisabentivegna commented on #2862
@mengaldo, do you have an update regarding the reviewers requests, and especially when you expect to be able to respond?

[2021-01-30 19:50] navidcy commented on #2996
@whedon generate pdf from branch JOSS-paper

[2021-01-30 19:50] whedon commented on #2996
[code]

[2021-01-30 19:51] whedon commented on #2996
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02996/joss.02996/10.21105.joss.02996.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02996/joss.02996/10.21105.joss.02996.pdf) :page_facing_up: :point_left:

[2021-01-30 19:56] aaron-bray commented on #2555
From a code perspective, yes
I believe that it should easier to build and run now.

On Sat, Jan 30, 2021, 2:42 PM Eloisa Bentivegna <notifications@github.com>
wrote:

[2021-01-30 19:59] eloisabentivegna commented on #2555
@ianhinder, @gouarin, are you satisfied with the current version?

[2021-01-30 23:10] AlexMikes commented on #2362
@gkthiruvathukal this is great news, thank you for all of your work in this process!

- [x]  Make a tagged release of your software, and list the version tag of the archived version here.
 **v0.3.1**
- [x]  Archive the reviewed software in Zenodo
- [x]  Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is c

[2021-01-30 23:38] matthewfeickert commented on #2823
@eloisabentivegna Thanks for the clarification. This should be fine then to use `v0.5.4`. In this case then the only thing that matters is the public API and the documentation. We only support officially released versions of `pyhf`, so as long as the public API is stable for the checks used for the review then continued development work shouldn't matter. There will be additions to the public API f

[2021-01-30 23:55] matthewfeickert commented on #2823
@whedon generate pdf from branch master

[2021-01-30 23:55] whedon commented on #2823
[code]

[2021-01-30 23:56] gkthiruvathukal commented on #2362
@whedon set 10.5281/zenodo.4482795 as archive

[2021-01-30 23:56] whedon commented on #2362
OK. <a href="https://doi.org/10.5281/zenodo.4482795" target="_blank">10.5281/zenodo.4482795</a> is the archive.

[2021-01-30 23:56] gkthiruvathukal commented on #2362
@whedon set v0.3.1 as version

[2021-01-30 23:56] whedon commented on #2362
OK. v0.3.1 is the version.

[2021-01-30 23:56] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2021-01-30 23:58] gkthiruvathukal commented on #2362
@whedon generate pdf

[2021-01-30 23:58] whedon commented on #2362
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02362/joss.02362/10.21105.joss.02362.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02362/joss.02362/10.21105.joss.02362.pdf) :page_facing_up: :point_left:

[2021-01-31 00:00] gkthiruvathukal commented on #2362
@AlexMikes My pleasure. *Thank you, too!* for all of your work and patience with us during COVID-19. I'm moving to acceptance now!

[2021-01-31 00:01] gkthiruvathukal commented on #2362
@whedon accept

[2021-01-31 00:01] whedon commented on #2362
[code]

[2021-01-31 00:01] whedon commented on #2362
[code]

[2021-01-31 00:02] whedon commented on #2362
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2066

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2066, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-31 05:48] arokem commented on #2827
Hello @vahid-sb : have you had a chance to address the comments made by the reviewers? Thanks!

[2021-01-31 07:49] mengaldo commented on #2862
@eloisabentivegna I am planning to work on it second half of February.

[2021-01-31 08:09] RobertRosca commented on #2994
Hey, sure I'd be happy to review! I can read through the guidelines and get started Monday.

[2021-01-31 08:17] hmacdope commented on #2824
@richardjgowers pending confirmation from @lscalfi this review is possibly finished?

[2021-01-31 11:50] ayush-1506 commented on #2972
@gkthiruvathukal Should I propose as few more reviewers (in case mosteo and hausen aren't available) ?

[2021-01-31 13:03] csoneson commented on #2998
@whedon assign @csoneson as editor

[2021-01-31 13:03] whedon commented on #2998
OK, the editor is @csoneson

[2021-01-31 14:04] danielskatz commented on #2994
Thanks - I'll assign you and we'll start the review in a new issue

[2021-01-31 14:04] danielskatz commented on #2994
@whedon add @RobertRosca as reviewer

[2021-01-31 14:04] whedon commented on #2994
OK, @RobertRosca is now a reviewer

[2021-01-31 14:04] danielskatz commented on #2994
@whedon start review

[2021-01-31 14:04] whedon opened #3000 "[REVIEW]: PyFstat: a Python package for continuous gravitational-wave data analysis"
**Submitting author:** @dbkeitel (<a href="http://orcid.org/0000-0002-2824-626X">David Keitel</a>)
**Repository:** <a href="https://github.com/PyFstat/PyFstat/" target ="_blank">https://github.com/PyFstat/PyFstat/</a>
**Version:** v1.11.5
**Editor:** @danielskatz
**Reviewer:** @khanx169, @RobertRosca
**Archive:** <a href="https://doi.org/10.5281/zenodo.4660591" target="_blank">10.5281/zenodo.46605

[2021-01-31 14:04] whedon commented on #2994
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3000.

[2021-01-31 14:04] #2994 closed

[2021-01-31 14:04] whedon commented on #3000
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @khanx169, @RobertRosca it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-01-31 14:05] whedon commented on #3000
PDF failed to compile for issue #3000 with the following error:

 Can't find any papers to compile :-(

[2021-01-31 14:05] danielskatz commented on #3000
@whedon generate pdf from branch joss

[2021-01-31 14:05] whedon commented on #3000
[code]

[2021-01-31 14:06] whedon commented on #3000
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03000/joss.03000/10.21105.joss.03000.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03000/joss.03000/10.21105.joss.03000.pdf) :page_facing_up: :point_left:

[2021-01-31 14:10] danielskatz commented on #3000
@khanx169 and @RobertRosca - Thanks for agreeing to review this submission.

This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guideline

[2021-01-31 16:08] dhhagan commented on #2479
@whedon accept

[2021-01-31 16:08] whedon commented on #2479
No archive DOI set. Exiting...

[2021-01-31 16:09] marcozennaro commented on #2999
@danielskatz thanks! I hope I have solved all the issues. The software + paper are now here:
https://github.com/STI-ICTP/TropPOLoRaTools
Is there a way to provide a new github repository?
Thanks! Marco

[2021-01-31 16:49] ysohn commented on #2708
@kakiac Dear editor, Happy new year. We are working to resolve the multimodality problem raised by one of the reviewers. It takes longer than expected as we have to experiment several candidates for identification of the MCMC samples. It'd be great if we could have more time to revise the package.

[2021-01-31 17:29] hausen commented on #2972
@gkthiruvathukal sorry, I won't be able to review this submission.

[2021-01-31 19:40] martinmodrak commented on #2708
@ysohn: if that's in response to my review,  I reiterate that I would find it sufficient for publication in JOSS if the package provided diagnostics and clearly documented how a user can verify that the results can be trusted - or which parts of the results should be taken seriously (e.g. if the `U` parameters are not interpretable). My hunch is that for general datasets, the identification issues

[2021-01-31 20:07] lukapecnik commented on #2949
@adi3 Thank you.

- We have specified the OS we have tested the NiaAML package on.
- Good point, we have switched pip to pip3 as you suggested.
- Thank you for pointing out the `conda` failure. We surely will fix this option in the near future, but the investigation may take some time as after a few days we still have not found the reason why it is not working. That is why we decided to temporaril

[2021-01-31 20:24] neuromusic commented on #2440
quick update: I've got screenshot rendering working locally. I just need to get it working on CI & readthedocs. Hoping to get that taken care of this week.

[2021-01-31 20:30] rtfisher commented on #2807
I'm done with the review of most of the items. Overall I am impressed with the code framework, test suite, and documentation. I have just two issues.

One is that I do not have access to IDL, and so cannot directly confirm the graphical output presented for the test case. I'm not sure how much of an issue that is for JOSS.

Additionally, I don't agree with the statement, "While some SPH and PPM co

[2021-01-31 20:49] lpantano commented on #2997
@whedon assign me as editor

[2021-01-31 20:49] whedon commented on #2997
OK, the editor is @lpantano

[2021-01-31 20:56] eloisabentivegna commented on #2823
@matthewfeickert, it's all clear now. Thanks!

I will switch the version to `v0.5.4` and proceed.

Thanks for your submission and interactions, and thanks @bradkav and @suchitakulkarni for finding the time for the review in this extraordinarily challenging moment.

Congratulations! 🎉

[2021-01-31 20:56] eloisabentivegna commented on #2823
@whedon set v0.5.4 as version

[2021-01-31 20:56] whedon commented on #2823
OK. v0.5.4 is the version.

[2021-01-31 20:59] eloisabentivegna commented on #2823
@whedon generate pdf

[2021-01-31 20:59] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2021-01-31 21:10] eloisabentivegna commented on #2823
@whedon check references

[2021-01-31 21:10] whedon commented on #2823
[code]

[2021-01-31 21:11] eloisabentivegna commented on #2823
@whedon accept

[2021-01-31 21:11] whedon commented on #2823
[code]

[2021-01-31 21:12] whedon commented on #2823
[code]

[2021-01-31 21:12] whedon commented on #2823
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2067

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2067, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-31 21:17] eloisabentivegna commented on #2862
@mengaldo, that's OK. Please keep us posted if you encounter any issues with the requests.

[2021-02-01 00:38] kadglass commented on #2920
Great, thank you @dfm!  This will probably take us a couple of weeks to put together, so I will let you know when we are ready for you to take a look.

[2021-02-01 01:21] dfm commented on #2920
@kadglass: Sounds good. I'm going to add the `paused` label. Ping me when you're ready!

[2021-02-01 02:22] matthewfeickert commented on #2823
Thank you so much @eloisabentivegna! You have been a fantastic editor and we very much appreciate getting to work with you on this and for how helpful you have been the whole way. :smile:

One final question: At the moment the archive is:

which is the `JOSS-paper` tag of `pyhf` _before_ I put in the clarifying sentence RE: the `v0.5.4` version number. Would it be better to have the archive have t

[2021-02-01 02:33] matthewfeickert commented on #2823
@whedon set 10.5281/zenodo.4484948 as archive

[2021-02-01 02:33] whedon commented on #2823
I'm sorry @matthewfeickert, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-02-01 02:35] trashbirdecology commented on #2890
I don’t have the capacity this month to do a timely review.

On Sat, Jan 30, 2021 at 10:05 AM David H Hagan <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2021-02-01 04:01] andreasmang commented on #2981
@kthying Sorry for the late response. I was assuming I get notified by email once there is any action required. I have fixed the references in the CLAIRE repo.

[2021-02-01 04:03] andreasmang commented on #2981
@jedbrown Thanks for your recommendation. I will look into your suggestions and update the documentation. I'll ping you once I believe we have addressed everything you have brought to my attention...

[2021-02-01 05:19] arjunsavel commented on #2757
@whedon generate pdf

[2021-02-01 05:20] whedon commented on #2757
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: :point_left:

[2021-02-01 05:43] arjunsavel commented on #2757
Hi @Hazboun6 — I've completed my second pass, and I only have a few more minor comments:

- https://github.com/PsrSigSim/PsrSigSim/issues/189
- https://github.com/PsrSigSim/PsrSigSim/issues/190

Other than these, things look great!

[2021-02-01 05:57] vahid-sb commented on #2827
Dear @JonathanReardon. Thanks for your suggestions. About the issues on the paper text, I have made a number of changes and corrections to the file, including removing or correcting the issues you highlighted. And I added CONTRIBUTING.md addressing how people can contribute.

[2021-02-01 05:59] vahid-sb commented on #2827
Dear @arokem, thanks again for accepting to be the editor for this paper. With the changes, I just made to the code and the documentation, I have addressed all the issues reviewers raised. Dear @emdupre and @JonathanReardon, my sincere thanks again for your help in making this library better and more useful.

[2021-02-01 06:15] goerz commented on #2809
I've re-read the manuscript in its current, updated version. I'm happy to see that the authors substantially revised the text, resulting in a much more accessible publication. I have no fundamental objections to seeing the manuscript published in its current form.

However, the writing is sloppy, and further editing will be required before publication. A thorough proof-reading should have caught m

[2021-02-01 06:41] timtroendle commented on #2769
Hi @jgoldfar, did you have the time to look at this submission?

[2021-02-01 07:06] jni commented on #2578
@emilljungberg any comment on @Mmj94's questions above?

[2021-02-01 07:56] lscalfi commented on #2824
Oh sorry I am happy with the modifications yes

[2021-02-01 09:03] melund commented on #2911
@Kevin-Mattheus-Moerman, I have finished my review and I am happy to accept the paper. The paper and the project fulfill all requirements for a JOSS publication.

The ezc3d is a valuable contribution which is already used in many projects. I believe it will receive many citations in the future.
I haven’t been able to assess the functionality of the C++ API but I have used the Python interface exte

[2021-02-01 09:04] Jammy2211 commented on #2550
The Zenodo will be sorted Wednesday, unfortunately only the repo owner can do that and my co developer isn't available until then!

[2021-02-01 09:05] brynpickering commented on #2171
Great, all looks good to me now.

@sjpfenninger I've completed my checklist.

[2021-02-01 09:42] JanCBrammer commented on #2977
@whedon re-invite @JanCBrammer as reviewer

[2021-02-01 09:42] whedon commented on #2977
I'm sorry @JanCBrammer, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-02-01 09:44] JanCBrammer commented on #2977
@dpsanders, could you re-invite me (invitation has expired)?

[2021-02-01 09:44] arfon commented on #2823
@whedon set 10.5281/zenodo.4484948 as archive

[2021-02-01 09:44] whedon commented on #2823
OK. <a href="https://doi.org/10.5281/zenodo.4484948" target="_blank">10.5281/zenodo.4484948</a> is the archive.

[2021-02-01 09:44] arfon commented on #2823
@whedon accept

[2021-02-01 09:44] whedon commented on #2823
[code]

[2021-02-01 09:45] whedon commented on #2823
[code]

[2021-02-01 09:45] whedon commented on #2823
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2068

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2068, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-01 09:54] matthewfeickert commented on #2823
Thanks for updating the archive, @arfon. :+1: This all looks good to me from the `pyhf` team side now. :slightly_smiling_face:

[2021-02-01 09:57] mosteo commented on #2972
@gkthiruvathukal, I'm unfortunately overstretched with reviews, besides not being much involved with unsupervised learning.

[2021-02-01 11:29] fduchatea commented on #2805
New bugs have been corrected this week:
- fix CSS footer issue
- fix error when using the example predictive algorithm MyOwnClassifier (implemented basic code to solve this issue)
- fix error "object internal error" when predicting in a popup using MyOwnClassifier
- fix the error 404 when displaying more-details page (for bird-migration dataset)
- fix issue with the number of splits in the testing

[2021-02-01 12:05] danielskatz commented on #2977
@whedon re-invite @JanCBrammer as reviewer

[2021-02-01 12:05] whedon commented on #2977
OK, the reviewer has been re-invited.

@jancbrammer please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-01 13:09] danielskatz commented on #2282
Sorry I missed this somehow and am just catching up

[2021-02-01 13:10] danielskatz commented on #2282
👋 @mikerspencer - when you get a chance, can you take a look at [the new PR](https://github.com/jcolomb/HCS_analysis/pull/35) from @jcolomb?

[2021-02-01 13:11] danielskatz commented on #2962
Sorry for the delay here...  Let me try again, and also can you potentially suggest any other reviewers?

[2021-02-01 13:12] danielskatz commented on #2962
👋 @trp07, @ceb8, @Brnikat, @olade014, @kevinlewi, @ivmaykov - would one of you be willing to review this submission for JOSS?  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-02-01 13:17] JonathanReardon commented on #2827
Thank you for making those changes @vahid-sb. I've now completed my part of the review. Congratulations for the project, I'm happy to suggest this for publication. Cheers!

[2021-02-01 14:05] gkthiruvathukal commented on #2972
@ayush-1506 Can you suggest a few more possibilities? Both @mosteo and @hausen are not able to review this submission.

[2021-02-01 14:16] lpantano commented on #2334
Hi @lskatz, thank you for the detailed explanation. I have made this work with some other files as well. @erinyoung, if this is ok with you, I think this is functional, and it may need some docker knowledge or sys admin to install it easily in some systems. Are you ok with publishing this since other people can run a real miseq data finally? if so, can you check the last item in the list under fun

[2021-02-01 14:19] arokem commented on #2827
Thanks @JonathanReardon.

@emdupre : have your concerns been properly addressed in the revision? Can https://github.com/vahid-sb/MiTfAT/issues/1, https://github.com/vahid-sb/MiTfAT/issues/2 and https://github.com/vahid-sb/MiTfAT/issues/3 be closed?

[2021-02-01 14:21] lpantano commented on #2334
@lskatz , last question. I did get an error during this step `SneakerNet.roRun.pl` if FASTQ files were labeled as `_1/2` for the paired files, and it worked well when I renamed to `_R1/2`. Is this a known requirements? I will mention that in the quick start if it is. If this should work, I am happy to send the commands to reproduce it. thanks!

[2021-02-01 14:28] lpantano commented on #2997
@whedon assign @dangeles as reviewer

[2021-02-01 14:28] whedon commented on #2997
OK, @dangeles is now a reviewer

[2021-02-01 14:50] fboehm commented on #2743
@dwinter - How is the review going? Is there something that I can to do assist you?

[2021-02-01 16:05] rmorgan10 commented on #2854
@jiwoncpark I've updated the bibliography entry for SLSprinkler, thanks for the DOI :)

[2021-02-01 16:43] sjpfenninger commented on #2171
@gschivley Can you also confirm that all your comments have been addressed?

[2021-02-01 16:43] sjpfenninger commented on #2171
@whedon generate pdf from branch joss-review

[2021-02-01 16:43] whedon commented on #2171
[code]

[2021-02-01 16:44] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2021-02-01 16:44] ianhinder commented on #2555
I'll take another look at it this week.  Thanks, @aaron-bray, for addressing the issues!

[2021-02-01 16:45] sjpfenninger commented on #2171
@whedon check references from branch joss-review

[2021-02-01 16:45] whedon commented on #2171
[code]

[2021-02-01 16:45] whedon commented on #2171
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "}" (RBRACE) [#<BibTeX::Bibliography data=[11]>, "@", #<BibTeX::Entry >, {:title=>["Open OA, FKA: Wind Plant Performance Project (WP3) Benchmarking"], :author=>["Perr-Sauer, Jordan and Fields, Michael and Craig, Anna and Optis, Michael and Kemper, Travis and Sheng, Shuangwen and Meissner, John and Philli

[2021-02-01 17:17] fboehm commented on #2983
@whedon add @ziatdinovmax as reviewer

[2021-02-01 17:17] whedon commented on #2983
OK, @ziatdinovmax is now a reviewer

[2021-02-01 17:18] fboehm commented on #2983
@whedon start review

[2021-02-01 17:18] whedon opened #3001 "[REVIEW]: UltraNest - a robust, general purpose Bayesian inference engine"
**Submitting author:** @JohannesBuchner (<a href="http://orcid.org/0000-0003-0426-6634">Johannes Buchner</a>)
**Repository:** <a href="https://github.com/JohannesBuchner/UltraNest/" target ="_blank">https://github.com/JohannesBuchner/UltraNest/</a>
**Version:** v3.2.0
**Editor:** @fboehm
**Reviewer:** @mattpitkin, @ziatdinovmax
**Archive:** <a href="https://doi.org/10.5281/zenodo.4653423" target="

[2021-02-01 17:18] whedon commented on #2983
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3001.

[2021-02-01 17:18] #2983 closed

[2021-02-01 17:18] whedon commented on #3001
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mattpitkin, @ziatdinovmax it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-02-01 17:19] whedon commented on #3001
PDF failed to compile for issue #3001 with the following error:

 Can't find any papers to compile :-(

[2021-02-01 17:32] mattpitkin commented on #3001
@JohannesBuchner for the conda installation instructions in the documentation can you add that you need to explicitly specify the `conda-forge` channel, e.g., either:

[code]

or

[code]

[2021-02-01 18:21] kakearney commented on #2913
I would only be able to review this work from a technical (i.e. Matlab) standpoint.  The topic itself is well outside my research focus, so I will have to accept the summary paper at face value, and assume the authors have properly described the state of the field, this entry's place in it, and that the chosen fitting techniques are appropriate.  If that is okay, I should be able to provide a revi

[2021-02-01 19:37] whedon commented on #2968
:wave: @GregoryAshton, please update us on how your review is going.

[2021-02-01 19:37] whedon commented on #2968
:wave: @katiebreivik, please update us on how your review is going.

[2021-02-01 19:44] dfm commented on #2968
@GregoryAshton, @katiebreivik: Note that the messages from @whedon are automated, and I am following along with issues that you have already opened. No need for more details here. Let me know if you have any questions as the reviews proceed!

[2021-02-01 19:45] ctdegroot commented on #2898
Normally I would say yes, but I have another JOSS review in progress at this time, so I can't commit to finishing this in a timely manner. Best of luck!

[2021-02-01 19:48] dwinter commented on #2743
Hi all,

Sincere apologies, we had some unexpected news here over the summer. Thankfully all resovled now, but picking up the pieces I dropped in that time is taking a while. I will aim to get to this later in the week, but might make sense to plan for next week for comments from me.

[2021-02-01 19:49] fboehm commented on #2743
Thank you, @dwinter! Please let me know if I can assist with anything.

[2021-02-01 19:56] meg-simula commented on #2879
Thanks @mscroggs, well done!

So, it looks like all the boxes are checked, except one regarding State of the art. @ramisetti is this still an issue?

@jamtrott @ramisetti Are you satisfied with the revisions and changes made by @mscroggs, and have all your points been addressed?

[2021-02-01 20:23] leotrs commented on #2952
I have finished the review checklist and it is my opinion that the software and manuscript meet JOSS standards.

Issues in target repository associated to my review:
+ https://github.com/jonschwenk/RivGraph/issues/38
+ https://github.com/jonschwenk/RivGraph/issues/40
+ https://github.com/jonschwenk/RivGraph/issues/41
+ https://github.com/jonschwenk/RivGraph/issues/42

[2021-02-01 21:48] sbenthall commented on #2855
Ok, just tried the `.sh` scripts version of working README.

I ran `sh run_script_reference.sh` no problem.

Then with `sh run_script_projections.sh` I got this error:

https://gist.github.com/sbenthall/11fdd17af6f690c13933383e504eac50

[2021-02-01 21:50] sbenthall commented on #2966
@jamesdamillington would you be able to review this work?

[2021-02-01 21:51] sbenthall commented on #2966
@fdroessler would you be able to review this work?

[2021-02-01 22:40] lydialucchesi commented on #2409
Thank you for reviewing Vizumap, @GISerDaiShaoqing.

We reviewed the proofs and made a few small edits.

- Capitalised all instances of "figure"
- Changed Sub-figure B to Figure 2(B) (likewise for Figure 2(A))
- Added "for the second author" in acknowledgements
- Changed "uncertainty" to "uncertainties" in two places

@bstabler, what are the next steps in the review process?

King regards,
Lydia

[2021-02-02 01:08] hmacdope commented on #2824
Sorry wasn't meaning to be a pain :)

[2021-02-02 01:21] majensen commented on #2913
@kakearney that would be fine. I will weigh in on the aspects you mention.
I really appreciate your help.

[2021-02-02 01:24] majensen commented on #2913
btw @kakearney it goes without saying (but I am saying it anyway) that any scientific or methodological issues you raise will be fair game and very welcome

[2021-02-02 01:24] majensen commented on #2913
@whedon add @kakearney as reviewer

[2021-02-02 01:24] whedon commented on #2913
OK, @kakearney is now a reviewer

[2021-02-02 01:27] majensen commented on #2913
@ManuelaS thanks so much for your interest!

[2021-02-02 01:27] majensen commented on #2913
@whedon start review

[2021-02-02 01:27] whedon opened #3002 "[REVIEW]: NLSIG-COVID19Lab"
**Submitting author:** @somefunagba (<a href="http://orcid.org/0000-0002-5171-8026">Oluwasegun Somefun</a>)
**Repository:** <a href="https://github.com/somefunAgba/NLSIG-COVID19Lab" target ="_blank">https://github.com/somefunAgba/NLSIG-COVID19Lab</a>
**Version:** 2.1.1
**Editor:** @majensen
**Reviewer:** @agahkarakuzu, @kakearney
**Archive:** <a href="https://doi.org/10.5281/zenodo.4662275" target

[2021-02-02 01:27] whedon commented on #2913
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3002.

[2021-02-02 01:27] #2913 closed

[2021-02-02 01:27] whedon commented on #3002
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @agahkarakuzu, @kakearney it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-02-02 01:29] whedon commented on #3002
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: :point_left:

[2021-02-02 01:29] whedon commented on #3002
[code]

[2021-02-02 02:00] emdupre commented on #2827
I've closed vahid-sb/MiTfAT#1 and vahid-sb/MiTfAT#3, but I still have two concerns that I've pointed to in vahid-sb/MiTfAT#2 ! If those are addressed then I'd be happy to recommend the package for publication.

Also, although i don't think this should hold up the software, I did want to point to two potential improvements re: package testing and contributing guidelines.

1. Currently, the testing

[2021-02-02 02:08] zackdraper commented on #2641
@whedon generate pdf

[2021-02-02 02:09] whedon commented on #2641
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02641/joss.02641/10.21105.joss.02641.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02641/joss.02641/10.21105.joss.02641.pdf) :page_facing_up: :point_left:

[2021-02-02 02:36] kyleniemeyer commented on #2479
Hi @apalarcon, can you please archive your software repo on Zenodo/Figshare, and provide the DOi here?

cc @dhhagan

[2021-02-02 04:08] gschivley commented on #2171
@sjpfenninger yes it looks like all of my comments were addressed.

[2021-02-02 05:42] gouarin commented on #2555
Thanks @aaron-bray for this update. I'll try to give my feedback next week.

[2021-02-02 08:29] jamesdamillington commented on #2966
@sbenthall yes, happy to review this

[2021-02-02 09:12] devosmitachatterjee2018 commented on #2971
@galessiorob Sorry. I got a bit confused. In my last comment, I suggested some possible reviewers (without @) from the given list of reviewers. Should I now use the sign @ to invite them?

Thank you.
Devosmita Chatterjee

[2021-02-02 09:16] mattpitkin commented on #3001
@johannesbuchner can you merge the `joss-paper` branch of the ultranest repo into master so that the paper can be compiled?

[2021-02-02 09:25] JohannesBuchner commented on #3001
I'd rather not, I understood I can use a branch https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

[2021-02-02 09:26] JohannesBuchner commented on #3001
@whedon generate pdf from branch joss-paper

[2021-02-02 09:26] whedon commented on #3001
[code]

[2021-02-02 09:27] whedon commented on #3001
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03001/joss.03001/10.21105.joss.03001.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03001/joss.03001/10.21105.joss.03001.pdf) :page_facing_up: :point_left:

[2021-02-02 09:28] mattpitkin commented on #3001
@johannesbuchner thanks for regenerating. I hadn't realised there was a method to generate it from a different branch!

[2021-02-02 09:54] nuest commented on #2805
@fduchatea Are you currently actively developing and fixing bugs? I don't want to play catch with the developments for the review. (AFAIK, the JOSS submission should happen for rather stable pieces of software.)

[2021-02-02 10:08] SergeDmi commented on #2973
# Review
## Software structure and installation
I have actually little to say about the software. It is open source, well documented, easy to install with conda (although conda may have its pitfalls, it worked at first try for me).

## Scholar effort
I think tyssue is a fantastic effort that really fills a need for well defined, reproducible physical models in the field, while allowing a lot of fr

[2021-02-02 10:42] fduchatea commented on #2805
@nuest No we are not in active development. We refactored the code 2 weeks ago to facilitate the use of new datasets (code merged around Jan 20th) and we are not developing anymore.
Last week we noticed a few bugs so we corrected them, but the application is usable.

[2021-02-02 10:44] JannisHoch commented on #2855
hi @sbenthall,
I am again stligthly puzzled about the errror you get.
If I run the scripts in the 'joss_review' branch (which is the one under review I guess?), I don't get any issues at all.
Also, I get different console output than you.

sure you use the right branch?

[2021-02-02 11:41] apalarcon commented on #2479
Hi @kyleniemeyer

Here de DOI in Zenodo
http://doi.org/10.5281/zenodo.4493257

[2021-02-02 11:50] oliviaguest commented on #2863
@dmey I'm sorry this is taking a while, but we need to be aware that this is a very tough period for a lot of people. Hopefully, this will get reviewed soon enough — and I apologize that it might be causing you stress!

[2021-02-02 11:53] oliviaguest commented on #2923
@whedon generate pdf

[2021-02-02 11:54] oliviaguest commented on #2953
@sdparsons here is fine (thank you!) as long as you don't tag their username on GitHub with an @.

[2021-02-02 11:54] whedon commented on #2923
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02923/joss.02923/10.21105.joss.02923.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02923/joss.02923/10.21105.joss.02923.pdf) :page_facing_up: :point_left:

[2021-02-02 12:03] oliviaguest commented on #2891
@markusrobertjonsson feel free to make edits (as needed) before the other reviewers take a look.

[2021-02-02 12:10] dmey commented on #2863
@oliviaguest this is not causing me any stress -- my question was simply about being able to estimate some time for completion as I need to cite this work in 2 papers. However if this is not possible, that's no problems and I will deposit the summary paper on arXiv for the meantime...

[2021-02-02 12:36] markusrobertjonsson commented on #2891
@oliviaguest I have no additional edits to make at this point. I am looking forward to addressing possible further issues in the continued review process.

[2021-02-02 12:59] ayush-1506 commented on #2972
@gkthiruvathukal Suggesting a few more possible reviewers : @{xirdneh, arcuri8, nnadeau}

[2021-02-02 13:04] whedon commented on #2970
:wave: @liberostelios, please update us on how your review is going.

[2021-02-02 13:08] vigji commented on #2923
For the sake of keeping this conversation updated, I started the review through issues in the considered repo, as to my understanding that is the way of proceeding right? My plan would be to report here after the points there have been addressed

[2021-02-02 14:19] pdebuyl commented on #2973
@SergeDmi thank you very much for the review.

@glyg you can choose to address directly @SergeDmi 's review or to wait for @fcooper8472 's review. Let us know how you wish to proceed.

[2021-02-02 14:20] gkthiruvathukal commented on #2972
@ayush-1506 I have leaned on all 3 of those somewhat recently. However, I know Andrea Acuri often is willing. If you can suggest a couple more names, that would be helpful.

@arcuri82, are you willing to contribute a review for this JOSS submission?

[2021-02-02 14:33] glyg commented on #2973
Hi @pdebuyl and @SergeDmi

Thank you a lot for your review Serge. @sophietheis and I are giving a workshop on tyssue next week, which will allow to test in the field a better tutorial.

If this is ok with you, we will answer Serge's remarks only after that (within the next 2 weeks).

[2021-02-02 15:37] kthyng commented on #2981
You'll just be getting github pings, so I'd recommend changing your github email notifications so that you are emailed when you are pinged here.

[2021-02-02 15:38] kthyng commented on #2971
@devosmitachatterjee2018 Actually it's preferable to do it the way you did, so thanks! That way we help keep the pings to people who may not end up reviewing to a minimum.

@galessiorob See above, we do try to not ping people in these issues unless necessary since it can add to their email pile quite a bit.

[2021-02-02 15:53] ysohn commented on #2708
@martinmodrak  Thank you so much for your reply. I understand your point now. Without artificial constraints, factorized estimates in general have degrees of freedom coming from rotation and scaling. In our model, the sum of outer products of the estimates are meant to produce matrices that are eventually used in the model whereas the factorized estimates themselves are instrumental for this recov

[2021-02-02 16:19] andreasmang commented on #2981
@kthyng Thanks for pointing this out. The problem was that notifications went to the address of my old affiliation (which is no longer active). No I should be good to go...

[2021-02-02 16:22] jsoishi commented on #2963
Thanks @dpsanders for your comments.

First, we have updated the documentation to provide specific links to Jupyter notebooks outlining all the features of eigentools. You can see those efforts in either the main branch of the repository or on [readthedocs](https://eigentools.readthedocs.io/en/latest/).

Second, Dedalus is already in `requirements.txt` for eigentools, so pip will attempt to instal

[2021-02-02 17:15] preetida commented on #2857
Hello,
Thank you for submitting your software. I had a chance to test the pipeline.
Docker set up works fine, and example works as demonstrated.
However, for running the pipeline on an HPC that does not support docker, following the instruction, running tools gives error for missing dependency.
For e.g. below
[code]

[2021-02-02 17:46] sdparsons commented on #2953
Great! I've gathered the details for five potential reviewers and also noted relevant expertise. I hope this helps, and I can think of more people if needed too.

James Bartlett (bartle16@uni.coventry.ac.uk) – has used the package before (I’m not sure if this constitutes a COI for JOSS – though I will note that we have worked together on a separate project before also) and also done work with task

[2021-02-02 18:32] kyleniemeyer commented on #2479
@whedon set 10.5281/zenodo.4493257 as archive

[2021-02-02 18:32] whedon commented on #2479
OK. <a href="https://doi.org/10.5281/zenodo.4493257" target="_blank">10.5281/zenodo.4493257</a> is the archive.

[2021-02-02 18:55] kyleniemeyer commented on #2479
@whedon accept

[2021-02-02 18:55] whedon commented on #2479
[code]

[2021-02-02 18:56] whedon commented on #2479
[code]

[2021-02-02 18:57] whedon commented on #2479
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2069

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2069, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]