[2021-12-20 09:58] mnwright commented on #3780
Thanks for the extensive revision. It looks fine except one thing: I still cannot find the comments in the `.cpp` files.

[2021-12-20 10:20] timtroendle commented on #3596
@whedon check references

[2021-12-20 10:22] timtroendle commented on #3596
@whedon generate pdf from branch joss-paper

[2021-12-20 10:22] whedon commented on #3596
[code]

[2021-12-20 10:23] whedon commented on #3596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: :point_left:

[2021-12-20 10:23] timtroendle commented on #3596
@whedon  check references from branch joss-paper

[2021-12-20 10:23] whedon commented on #3596
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-20 10:24] hugoledoux commented on #4011
@whedon assign @Subho07 as reviewer

[2021-12-20 10:24] whedon commented on #4011
OK, @Subho07 is now a reviewer

[2021-12-20 10:25] whedon commented on #3596
[code]

[2021-12-20 10:30] ajstewartlang commented on #3739
@whedon generate pdf from branch joss-submission

[2021-12-20 10:30] whedon commented on #3739
[code]

[2021-12-20 10:31] whedon commented on #3739
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: :point_left:

[2021-12-20 10:41] timtroendle commented on #3596
Thanks a lot @noah80 and @robinroche for your reviews!

We can now move on with the acceptance process. I had a quick read of the paper and found three small issues:

1. There is a typo in line 15: "the end of 5 the minute dispatch".
2. There are typos in line 2 and 3 of the legend in figure 1: "gernic constraints".
3. Whedon spotted 5 missing DOIs.

@nick-gorman , could you at this point please:

[2021-12-20 10:46] ajstewartlang commented on #3739
Many thanks @andrewheiss and @vaneseltine for your detailed and helpful reviews - it's very much appreciated. And many thanks @sfsinger19103 for a great submission!

I've made a couple of very minor suggestions on the paper via a pull request. If you could address those @sfsinger19103 and then do the following please, that would be great:

- Make a [tagged release](https://docs.github.com/en/githu

[2021-12-20 10:53] PTierz commented on #3649
Dear @meghanrjones and @elbeejay,

Thank you so very much for your messages and for all the work that you have dedicated to reviewing our `PyVOLCANS` software and manuscript. This has resulted in significant improvements to `PyVOLCANS` and we are greatly thankful for that.

Many thanks for your additional suggestions too. We will commit to start working on them after the Christmas break.

I have n

[2021-12-20 10:57] hadware commented on #3958
This is fantastic, thanks a lot for accepting our work :)

[2021-12-20 11:04] chartgerink commented on #3741
@mbod indicated in an email they'd work on reviewing this. We'll await the review for this to round out - pardon the lengthy process @dustinstoltz!

[2021-12-20 11:21] AleksiNummelin commented on #3947
Okay, I've finally gone through the review and submitted an issue related to this at https://github.com/ocean-eddy-cpt/gcm-filters/issues/124

I think it is fine to publish the paper before that issue is fully resolved since those are rather minor points, although @NoraLoose might want to give a quick try solving the issue with filtering on a tripolar grid.

[2021-12-20 11:25] whedon opened #4013 "[PRE REVIEW]: pyExoRaMa: an interactive tool to investigate the radius-mass diagram for exoplanets"
**Submitting author:** @francescoa97outlook (<a href="http://orcid.org/0000-0003-1316-1033">Francesco Amadori</a>)
**Repository:** <a href="https://github.com/francescoa97outlook/pyExoRaMa" target ="_blank">https://github.com/francescoa97outlook/pyExoRaMa</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2021-12-20 11:25] whedon commented on #4013
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-20 11:25] whedon commented on #4013
Failed to discover a `Statement of need` section in paper

[2021-12-20 11:25] whedon commented on #4013
Wordcount for `paper.md` is 1670

[2021-12-20 11:25] whedon commented on #4013
[code]

[2021-12-20 11:25] whedon commented on #4013
[code]

[2021-12-20 11:26] whedon commented on #4013
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04013/joss.04013/10.21105.joss.04013.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04013/joss.04013/10.21105.joss.04013.pdf) :page_facing_up: :point_left:

[2021-12-20 11:35] arfon commented on #4013
@francescoa97outlook – thanks for your submission to JOSS. Before I look for an editor to handle this submission, I'd like to better understand what has already been published here.

- Your first citation to `Zeng:2021` seems to link to a different publication (see here: https://github.com/francescoa97outlook/pyExoRaMa/blob/main/paper/paper.bib#L2). Please correct this to the actual URL.
- Please

[2021-12-20 11:40] arfon commented on #3998
@whedon generate pdf from branch joss

[2021-12-20 11:40] whedon commented on #3998
[code]

[2021-12-20 11:40] whedon commented on #3998
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03998/joss.03998/10.21105.joss.03998.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03998/joss.03998/10.21105.joss.03998.pdf) :page_facing_up: :point_left:

[2021-12-20 11:45] arfon commented on #4006
@falexwolf – please don't use the affiliation block like this. You can see how to include footnotes associated with authors in the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

[code]

[2021-12-20 11:50] arfon commented on #2708
Many thanks @martinmodrak. I'll check back in with you in the new year.

[2021-12-20 11:52] ArkajyotiSaha commented on #3780
@mnwright Extremely sorry! Thanks so much for pointing this out. I have somehow missed updating the version of RFGLS.cpp in the GitHub with the commented version. I have now updated the version. The new comments can be found in the updated version of RFGLS.cpp. For your convenience, I am also adding a link to the latest edit history, which highlights the comments at https://github.com/ArkajyotiSah

[2021-12-20 11:56] lucydot commented on #3898
@dalonsoa @jgoldfar @tcaduser please note that I am setting my out of office for the next two weeks over Christmas. I will check in once a week, but my responses might be slower than usual for the next fortnight.

@jgoldfar please let me know if you are still having problems with the tick-boxes, there is an invite link just above this message.

[2021-12-20 11:56] lucydot commented on #3898
/ooo December 20 until January 3

[2021-12-20 11:58] lucydot commented on #3742
@nasserma @bonh @WilkAndy please note that I am setting my out of office for the next two weeks over Christmas. I will check in once a week, but my responses might be slower than usual for the next fortnight.

[2021-12-20 11:58] lucydot commented on #3742
/ooo December 20 until January 3

[2021-12-20 12:10] lucydot commented on #3993
@altavir @villaa @matthewfeickert I am setting my out of office for the next two week Christmas / New Year period. I will check back in next week to see progress, but a heads up that I may not respond to messages within the typical 3 day period.

RE: updating the software version number for review. I can manually update the version number in the review thread at the top, but first will double chec

[2021-12-20 12:10] lucydot commented on #3993
/ooo December 20 until January 3

[2021-12-20 12:14] lucydot commented on #3742
@openjournals/devs - pinging you here as we are having problems compiling the paper with the command `@whedon generate pdf from branch publications`. Compiling using the link [https://whedon.theoj.org/](https://whedon.theoj.org/) with `https://github.com/uw-comphys/opencmp/` as the repo and `publications` as the branch is working.

[2021-12-20 12:14] whedon commented on #3742
[code]

[2021-12-20 12:15] whedon commented on #3742
PDF failed to compile for issue #3742 with the following error:
[code]

[2021-12-20 12:21] lucydot commented on #3985
@awvwgk excellent! I'll assign you now.

[2021-12-20 12:27] lucydot commented on #3985
@whedon assign @awvwgk as reviewer

[2021-12-20 12:27] whedon commented on #3985
OK, @awvwgk is now a reviewer

[2021-12-20 12:34] lucydot commented on #3985
@awvwgk @dandavies99 @jstse it looks like we are ready to start the review! ✨

I'll now ask our bot Whedon to start a review issue thread (this is the pre-review thread).

Please email me or (preferred) ping me in the new review thread with any questions you have about the process. There are review guidelines and a checklist at the top of the new thread (the link will appear below), and there is f

[2021-12-20 12:34] Mkoopm commented on #3727
@shahmoradi, thank you for the thorough checking. We will include a nicer error message with an installation suggestion in the next update. Did you follow the instructions in `tests.md`, or did you just try to run `run_tests.py`? If the instructions don't work on your systems I will look into the installation method as well.

[2021-12-20 12:34] lucydot commented on #3985
@whedon start review

[2021-12-20 12:34] whedon opened #4014 "[REVIEW]: SurfinPy 2.0: A Phase Diagram Generator for Surfaces and Bulk Phases"
**Submitting author:** @jstse (<a href="http://orcid.org/0000-0002-1320-557X">Joshua Tse</a>)
**Repository:** https://github.com/symmy596/SurfinPy
**Branch with paper.md** (empty if default branch):
**Version:** v2.0.2
**Editor:** @lucydot
**Reviewers:** @awvwgk, @dandavies99
**Archive:** 10.5281/zenodo.6250513

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-12-20 12:34] whedon commented on #3985
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4014.

[2021-12-20 12:34] #3985 closed

[2021-12-20 12:34] whedon commented on #4014
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @awvwgk it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2021-12-20 12:34] whedon commented on #4014
Wordcount for `paper.md` is 686

[2021-12-20 12:34] whedon commented on #4014
[code]

[2021-12-20 12:34] whedon commented on #4014
[code]

[2021-12-20 12:35] whedon commented on #4014
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04014/joss.04014/10.21105.joss.04014.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04014/joss.04014/10.21105.joss.04014.pdf) :page_facing_up: :point_left:

[2021-12-20 12:38] rrrlw commented on #3979
[Minor issue](https://github.com/nhejazi/medoutcon/issues/32) - after this and @erikcs's [issue](https://github.com/nhejazi/medoutcon/issues/31) are resolved, looks good to go. Thank you for this contribution, @nhejazi!

[2021-12-20 12:39] fabian-s commented on #3652
@whedon generate pdf

[2021-12-20 12:39] fabian-s commented on #3652
@whedon check references

[2021-12-20 12:39] whedon commented on #3652
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03652/joss.03652/10.21105.joss.03652.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03652/joss.03652/10.21105.joss.03652.pdf) :page_facing_up: :point_left:

[2021-12-20 12:41] whedon commented on #3652
[code]

[2021-12-20 12:59] fabian-s commented on #3652
Wonderful, we might be able to get this done before the holidays. Thank you all for working on this submission.

@WildfireXIII  - final requested changes for style & spelling:

- [ ] please add missing DOIs to your references (see also bot above)
- [ ] please add the missing software references for `ipywidget` and `Sphinx`
- [ ] please correct formatting of references for "Black" (esp. in-line ref

[2021-12-20 13:00] fabian-s commented on #3780
@whedon generate pdf

[2021-12-20 13:00] fabian-s commented on #3780
@whedon check references

[2021-12-20 13:01] whedon commented on #3780
[code]

[2021-12-20 13:11] maczokni commented on #3972
Sure, happy to!

[2021-12-20 13:14] lucydot commented on #4014
Hi @jstse @awvwgk @dandavies99 just a heads up that I will be on annual leave for the next fortnight (until 3rd January). I will check in next week, but my response time will be slower than usual during this period.

@dandavies99 for some reason you weren't assigned as a reviewer on this thread but I will add your tick list manually now.

[2021-12-20 13:14] lucydot commented on #4014
/ooo December 20 until January 3

[2021-12-20 13:16] lucydot commented on #4014
@whedon add @dandavies99 as reviewer

[2021-12-20 13:16] whedon commented on #4014
OK, @dandavies99 is now a reviewer

[2021-12-20 13:20] #3346 closed

[2021-12-20 13:21] fabian-s commented on #3780
@ArkajyotiSaha
It seems both reviewers are now satisified with the software and the paper, thank you for taking on these revisions.

However, JOSS submissions are typically 500-1000 words, while your article currently has >3000 words. Please shorten as much as you can.
Especially l. 180 - 260 contain much more technical and mathematical detail than we expect for a JOSS paper, please remove anythin

[2021-12-20 13:32] hugoledoux commented on #3972
@whedon add @maczokni as reviewer

[2021-12-20 13:32] whedon commented on #3972
OK, @maczokni is now a reviewer

[2021-12-20 13:36] roderickmackenzie commented on #3727
In my last review I asked you to “...to see if you can reverse bias your device to say -2V then apply a laser pulse and then from the transient extract say a 100meV Urbach energy as done here https://doi.org/10.1021/jp4010828. This is the acid test of a transient model.” But you have not done this, so have done it for you using the graph you provided above. The results are below.  The graph plots

[2021-12-20 14:02] arfon commented on #3449
@RodDalBen, @spitschan, @takuma929, @da5nsy, @fredericgosselin, @ajstewartlang – many thanks for your efforts here. Sorry this submission didn't work out.

[2021-12-20 14:03] arfon commented on #3449
@whedon reject

[2021-12-20 14:03] whedon commented on #3449
Paper rejected.

[2021-12-20 14:03] #3449 closed

[2021-12-20 14:27] dhhagan commented on #3219
@slayoo Great to see all of the improvements. @darothen how does it look? Are you ready to check off the last few boxes?

[2021-12-20 14:38] bgyori commented on #4002
@whedon check references

[2021-12-20 14:39] whedon commented on #4002
[code]

[2021-12-20 14:42] gkthiruvathukal commented on #3999
@whedon assign @gkthiruvathukal as editor

[2021-12-20 14:42] whedon commented on #3999
OK, the editor is @gkthiruvathukal

[2021-12-20 14:44] gkthiruvathukal commented on #3999
@kyleniemeyer Yes, I will edit this submission. Thanks to @askuric for suggesting some prospective reviewers.
I will try to get this moving before the holidays but am going to be having some much-needed downtime (soon).

[2021-12-20 15:05] diehlpk commented on #3465
@whedon generate pdf

[2021-12-20 15:06] whedon commented on #3465
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: :point_left:

[2021-12-20 15:10] WildfireXIII commented on #3652
@fabian-s requested changes made and pushed!

[2021-12-20 15:10] diehlpk commented on #3465
@elwinter Thanks, the added text provided some benefit to the paper and I can recommend accepting it. Before, I can do that

- [ ] Please let me know the final version, including all changes during the JOSS review.
- [ ] Please upload this version to Zenodo or FigShare and post the DOI here. Note that the title and the author(s) have to match exactly with the papers.

[2021-12-20 15:12] hugoledoux commented on #3972
@whedon start review

[2021-12-20 15:12] whedon opened #4015 "[REVIEW]: rmap: An R package to plot and compare tabular data on customizable maps across scenarios and time"
**Submitting author:** @zarrarkhan (<a href="http://orcid.org/0000-0002-8147-8553">Zarrar Khan</a>)
**Repository:** https://github.com/JGCRI/rmap
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.5
**Editor:** @hugoledoux
**Reviewers:** @CamilleMorlighem, @maczokni
**Archive:** 10.5281/zenodo.7085969

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-12-20 15:12] whedon commented on #3972
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4015.

[2021-12-20 15:12] #3972 closed

[2021-12-20 15:12] whedon commented on #4015
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @CamilleMorlighem, @maczokni it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-12-20 15:12] whedon commented on #4015
Wordcount for `paper.md` is 1074

[2021-12-20 15:13] whedon commented on #4015
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04015/joss.04015/10.21105.joss.04015.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04015/joss.04015/10.21105.joss.04015.pdf) :page_facing_up: :point_left:

[2021-12-20 15:14] whedon commented on #4015
[code]

[2021-12-20 15:14] hugoledoux commented on #3972
I've got 2 reviewers so I'll start the review now, but if one of you wants to the 3rd one let me know I'll add you, first-come-first-served.

@jhollist @mikejohnson51 @jayrobwilliams @GISerDaiShaoqing

[2021-12-20 15:26] telatin commented on #3839
I noticed that @Ebedthan also suggested improving the community guidelines (see quote).
I'm happy with the "Contributing" file you added in the repo root, from my side.

[2021-12-20 15:34] francescoa97outlook commented on #4013
Dear Mr. Arfon Smith
I answer point by point:

  *   Your first citation to Zeng:2021 seems to link to a different publication (see here: https://github.com/francescoa97outlook/pyExoRaMa/blob/main/paper/paper.bib#L2<https://emea01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Ffrancescoa97outlook%2FpyExoRaMa%2Fblob%2Fmain%2Fpaper%2Fpaper.bib%23L2&data=04%7C01%7C%7C7f91cb599f23480

[2021-12-20 15:36] Ebedthan commented on #3839
Hi @telatin,
Thank for the comment. Sorry @hcdenbakker I haven't seen the contributing file in the repo. I'm good with that and do not require it to be mentioned in the README, especially with the new github features which add a button to find it it easily.
Thanks.

[2021-12-20 15:42] justusschock commented on #4008
Other possible reviewers could include (obviously not an exhaustive list):
 - fepegar
 - sergioburdisso
 - vimalthilak
 - richrobe
 - inpefess
 - smith42

[2021-12-20 15:52] whedon commented on #3981
OK, the reviewer has been re-invited.

@geraldjwang please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-20 15:52] jgostick commented on #4000
Hi @kyleniemeyer , I forgot to mention you in my query above.  Am in eligible to edit this one?

[2021-12-20 15:53] rkurchin commented on #3981
@whedon re-invite @zadehsey as reviewer

[2021-12-20 15:53] whedon commented on #3981
OK, the reviewer has been re-invited.

@zadehsey please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-20 16:33] maczokni opened #4016 "I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review."

[2021-12-20 16:33] whedon commented on #4016
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-12-20 17:38] jhollist commented on #3972
I have to pass on this one, @hugoledoux.  But thanks for the invite and happy holidays, all!

[2021-12-20 17:54] mcs07 commented on #3951
Sorry for the delay - I have now finished my review, and I am also happy to recommend acceptance.

[2021-12-20 19:09] christinahedges commented on #3922
@whedon assign @pmli as reviewer

[2021-12-20 19:09] whedon commented on #3922
OK, @pmli is now a reviewer

[2021-12-20 19:10] christinahedges commented on #3892
@whedon add @DougBurke as reviewer

[2021-12-20 19:10] whedon commented on #3892
OK, @DougBurke is now a reviewer

[2021-12-20 19:12] christinahedges commented on #3892
Hello all, thank you so much for being part of the JOSS review process. I'm now going to start the review. I understand because of the holidays, many of us won't be responsive to this review for a little while. That's totally ok!

[2021-12-20 19:12] christinahedges commented on #3892
@whedon start review

[2021-12-20 19:12] whedon opened #4017 "[REVIEW]: PySPI: A python analysis framework for INTEGRAL/SPI"
**Submitting author:** @BjoernBiltzinger (<a href="http://orcid.org/0000-0003-3381-0985">Björn Biltzinger</a>)
**Repository:** https://github.com/BjoernBiltzinger/pyspi
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @christinahedges
**Reviewers:** @tohuvavohu, @dfm
**Archive:** 10.5281/zenodo.6376003

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-12-20 19:12] whedon commented on #3892
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4017.

[2021-12-20 19:12] #3892 closed

[2021-12-20 19:12] whedon commented on #4017
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tohuvavohu, @DougBurke it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-12-20 19:13] whedon commented on #4017
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04017/joss.04017/10.21105.joss.04017.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04017/joss.04017/10.21105.joss.04017.pdf) :page_facing_up: :point_left:

[2021-12-20 19:13] whedon commented on #4017
[code]

[2021-12-20 19:13] whedon commented on #4017
[code]

[2021-12-20 19:20] christinahedges commented on #4017
@BjoernBiltzinger, @Tohuvavohu, @DougBurke - Thank you so much for being part of the JOSS review process! This is the review thread for the paper. Please don't hesitate to message me here if you have questions.

Please read the "Reviewer instructions & questions" in the first comment above to get started. If you get lost, you can also see the reviewer guidelines.

Both reviewers have checklists at

[2021-12-20 19:22] christinahedges commented on #3838
@ilyamandel we're so very close. I know we're also very close to a holiday! Whenever you are able, if you update the references in your paper I'll recommend this for acceptance.

[2021-12-20 19:38] galessiorob commented on #3971
@whedon assign @galessiorob as editor

[2021-12-20 19:38] whedon commented on #3971
OK, the editor is @galessiorob

[2021-12-20 19:40] galessiorob commented on #3971
👋 Hi @chchch!

I am in the process of assigning reviewers to this submission, if you have any suggestions please let me know and feel free to mention them here.

[2021-12-20 19:40] galessiorob commented on #3971
@whedon check repository

[2021-12-20 19:40] whedon commented on #3971
[code]

[2021-12-20 20:16] jeffriley commented on #3838
@christinahedges @ilyamandel is on holiday at the moment with little or no internet access.  I'll see what I can do with the references in the next day or so.

[2021-12-20 20:34] chchch commented on #3971
Hello,

Starting from the bottom of the list, I suggested JacksonMaxfield or chrisbrickhouse, but I'm new to this so I'm not sure what the relevant criteria are. I know this submission might seem a bit out of the ordinary — Sanskrit philology in Haskell and Javascript!

[2021-12-20 20:35] galessiorob commented on #3971
Thanks for the suggestions, I'll send them invite emails ASAP. As for the topic, it's specific but luckily we have many volunteers that might be a good fit!

[2021-12-20 20:40] francescoa97outlook commented on #4013
I suggest @jessie-dotson due to the fact he is related to exoplanets

I suggest jessie-dotson from your list due to the fact he is related to exoplanets

[2021-12-20 20:47] KristinaRiemer commented on #4010
Yes, you are right @kyleniemeyer. I can be editor for this submission.

[2021-12-20 20:47] KristinaRiemer commented on #4010
@whedon assign me as editor

[2021-12-20 20:47] whedon commented on #4010
OK, the editor is @KristinaRiemer

[2021-12-20 20:55] KristinaRiemer commented on #3978
@kyleniemeyer I can edit this submission.

[2021-12-20 20:56] KristinaRiemer commented on #3978
@whedon assign me as editor

[2021-12-20 20:56] whedon commented on #3978
OK, the editor is @KristinaRiemer

[2021-12-20 22:22] lpantano commented on #3722
Thank you, @friedue. @bebatut, let me know if you think this is ready according to you. Thanks!

[2021-12-20 23:56] alexrockhill commented on #3897
@whedon generate pdf from branch joss-ecog-gui

[2021-12-20 23:56] whedon commented on #3897
[code]

[2021-12-20 23:57] whedon commented on #3897
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: :point_left:

[2021-12-21 00:02] alexrockhill commented on #3897
Okay, I have incorporated the comments from your review @TomDonoghue, thanks so much, that was really helpful!

[2021-12-21 02:19] marwahaha commented on #3915
1. I think it is sufficient to explain that "affine = linear + constant offset".
2. Including simple examples works; and possibly a statement saying these examples are a walkthrough. It was most frustrating when I copy-paste a cell and I need to import packages myself.
3. It would be nice to include a short statement saying that PICOS is for any practitioner of numerical optimization (in the docs)

[2021-12-21 06:00] dalonsoa commented on #3898
@tcaduser , now this looks really, relaly good, both the paper and the new README. Many thanks for taking the time to implementing the changes.

All good from my side. After merging the JOSS branch, **I recomend accepting the work for its publication in JOSS**.

[2021-12-21 06:25] sandrinecharles commented on #4010
@KristinaRiemer Dear Kristina, I do not know yet if I will really submit this new paper to JOSS as from now on it does not fulfil the publication rules requirements; the paper is far too long so that it cannot be compiled automatically. I am currently discussing with my co-authors.

[2021-12-21 06:51] whedon commented on #3979
:wave: @rrrlw, please update us on how your review is going (this is an automated reminder).

[2021-12-21 08:46] adi3 commented on #3490
@heath-henninger yes, the DOI will be published in the manuscript. I believe I have everything from your side now to push this to publication.

[2021-12-21 08:47] adi3 commented on #3490
@whedon set 10.5281/zenodo.5781772 as archive

[2021-12-21 08:47] whedon commented on #3490
OK. <a href="https://doi.org/10.5281/zenodo.5781772" target="_blank">10.5281/zenodo.5781772</a> is the archive.

[2021-12-21 08:47] adi3 commented on #3490
@whedon set v0.2.0 as version

[2021-12-21 08:47] whedon commented on #3490
OK. v0.2.0 is the version.

[2021-12-21 08:49] adi3 commented on #3490
@whedon recommend-accept

[2021-12-21 08:50] whedon commented on #3490
[code]

[2021-12-21 08:50] whedon commented on #3490
PDF failed to compile for issue #3490 with the following error:
[code]

[2021-12-21 08:50] adi3 commented on #3490
@whedon recommend-accept from branch joos

[2021-12-21 08:50] whedon commented on #3490
[code]

[2021-12-21 08:51] whedon commented on #3490
[code]

[2021-12-21 08:51] whedon commented on #3490
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2838

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2838, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-21 09:54] whedon commented on #3980
:wave: @corentin-dev, please update us on how your review is going (this is an automated reminder).

[2021-12-21 09:54] whedon commented on #3980
:wave: @nicoguaro, please update us on how your review is going (this is an automated reminder).

[2021-12-21 10:03] craddm commented on #3887
Same, all done here!

[2021-12-21 10:13] dominiquesydow commented on #3951
Thank you, @ojeda-e, @andrewtarzia, and @mcs07, for all your input on the manuscript and the documentation!

I have updated the documentation "Statement of need" with the updated manuscript version - and merged PR https://github.com/volkamerlab/opencadd/pull/135.

Will generate the manuscript one more time from the master branch now, to check if everything works after the merge.

[2021-12-21 10:14] dominiquesydow commented on #3951
@whedon generate pdf

[2021-12-21 10:14] whedon commented on #3951
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03951/joss.03951/10.21105.joss.03951.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03951/joss.03951/10.21105.joss.03951.pdf) :page_facing_up: :point_left:

[2021-12-21 10:17] csoneson commented on #3887
Perfect, thanks @craddm!

@jorittmo - I will also take a quick look through the submission, and get back to you shortly with the next steps.

[2021-12-21 10:26] whedon opened #4018 "[PRE REVIEW]: OfflineMOT: A Python Package for multiple objects detection and tracking from bird view stationary drone videos"
**Submitting author:** @engyasin (<a href="http://orcid.org/0000-0002-5282-7259">Yasin Yousif</a>)
**Repository:** <a href="https://github.com/engyasin/Offline_MOT" target ="_blank">https://github.com/engyasin/Offline_MOT</a>
**Version:** v1.0.0
**Editor:** @hugoledoux
**Reviewers:** @Shiming94, @lucaferranti
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-12-21 10:26] whedon commented on #4018
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-21 10:27] whedon opened #4019 "[PRE REVIEW]: nsink: An R package for flow path nitrogen removal estimation"
**Submitting author:** @jhollist (<a href="http://orcid.org/0000-0002-9254-9740">Jeffrey W Hollister</a>)
**Repository:** <a href="https://github.com/USEPA/nsink" target ="_blank">https://github.com/USEPA/nsink</a>
**Version:** v1.1.0
**Editor:** @crvernon
**Reviewers:** @jmp75, @ldecicco-USGS
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-12-21 10:27] whedon commented on #4019
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-21 10:27] whedon commented on #4018
Wordcount for `paper.md` is 1251

[2021-12-21 10:27] whedon commented on #4018
[code]

[2021-12-21 10:27] whedon opened #4020 "[PRE REVIEW]: NeuralHydrology --- A Python library for Deep Learning research in hydrology"
**Submitting author:** @kratzert (<a href="http://orcid.org/0000-0002-8897-7689">Frederik Kratzert</a>)
**Repository:** <a href="https://github.com/neuralhydrology/neuralhydrology" target ="_blank">https://github.com/neuralhydrology/neuralhydrology</a>
**Version:** v.1.1.0
**Editor:** @elbeejay
**Reviewers:** @ammilten, @chuckaustin, @jhamman
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced

[2021-12-21 10:27] whedon commented on #4019
Wordcount for `paper.md` is 979

[2021-12-21 10:27] whedon commented on #4020
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-21 10:27] whedon commented on #4019
[code]

[2021-12-21 10:27] whedon commented on #4018
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04018/joss.04018/10.21105.joss.04018.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04018/joss.04018/10.21105.joss.04018.pdf) :page_facing_up: :point_left:

[2021-12-21 10:28] whedon commented on #4019
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04019/joss.04019/10.21105.joss.04019.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04019/joss.04019/10.21105.joss.04019.pdf) :page_facing_up: :point_left:

[2021-12-21 10:28] whedon commented on #4020
[code]

[2021-12-21 10:28] arfon commented on #2991
@esteinig – just checking if you've managed to make these changes yet?

[2021-12-21 10:28] whedon commented on #4020
PDF failed to compile for issue #4020 with the following error:
[code]

[2021-12-21 10:29] whedon commented on #4018
[code]

[2021-12-21 10:32] whedon commented on #4019
[code]

[2021-12-21 10:32] fabian-s commented on #3652
@whedon generate pdf

[2021-12-21 10:32] fabian-s commented on #3652
@whedon check references

[2021-12-21 10:32] arfon commented on #3490
@whedon accept deposit=true from branch joos

[2021-12-21 10:32] whedon commented on #3490
[code]

[2021-12-21 10:33] whedon commented on #3652
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03652/joss.03652/10.21105.joss.03652.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03652/joss.03652/10.21105.joss.03652.pdf) :page_facing_up: :point_left:

[2021-12-21 10:33] whedon commented on #3490
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1473240216462925824) 👈 🐦🐦🐦

[2021-12-21 10:33] whedon commented on #3490
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2839
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03490](https://doi.org/10.21105/joss.03490)
2. If everything look

[2021-12-21 10:34] whedon commented on #3652
[code]

[2021-12-21 10:34] arfon commented on #3538
@whedon accept deposit=true

[2021-12-21 10:34] whedon commented on #3538
[code]

[2021-12-21 10:35] whedon commented on #3538
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1473240695301459970) 👈 🐦🐦🐦

[2021-12-21 10:35] whedon commented on #3538
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2840
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03538](https://doi.org/10.21105/joss.03538)
2. If everything look

[2021-12-21 10:36] #3860 closed

[2021-12-21 10:36] whedon commented on #3860
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03860/status.svg)](https://doi.org/10.21105/joss.03860)

**We need your help!**

Journal of Open Source Softwa

[2021-12-21 10:37] arfon commented on #3490
@destogl, @nnadeau – many thanks for your reviews here and to @adi3 for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@heath-henninger – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-21 10:37] #3490 closed

[2021-12-21 10:37] whedon commented on #3490
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03490/status.svg)](https://doi.org/10.21105/joss.03490)

**We need your help!**

Journal of Open Source Softwa

[2021-12-21 10:38] arfon commented on #3538
@cjbarrie, @geraintpalmer – many thanks for your reviews here and to @Nikoleta-v3 for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Hegghammer – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-21 10:38] #3538 closed

[2021-12-21 10:38] whedon commented on #3538
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03538/status.svg)](https://doi.org/10.21105/joss.03538)

**We need your help!**

Journal of Open Source Softwa

[2021-12-21 10:39] kratzert commented on #4020
@whedon commands

[2021-12-21 10:39] whedon commented on #4020
Here are some things you can ask me to do:

[code]

[2021-12-21 10:39] arfon commented on #4020
@whedon generate pdf from branch paper

[2021-12-21 10:39] whedon commented on #4020
[code]

[2021-12-21 10:39] kratzert commented on #4020
@whedon generate pdf from branch paper

[2021-12-21 10:39] whedon commented on #4020
[code]

[2021-12-21 10:40] whedon commented on #4020
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04020/joss.04020/10.21105.joss.04020.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04020/joss.04020/10.21105.joss.04020.pdf) :page_facing_up: :point_left:

[2021-12-21 10:40] kratzert commented on #4020
Thanks @arfon was just about to do the same. I haven't seen an option to add an alternative branch while submitting the paper.

[2021-12-21 10:47] fabian-s commented on #3652
Great, ty @WildfireXIII !

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) an

[2021-12-21 10:51] AlexanderMacL commented on #3732
Hi @vissarion and @astanziola

My apologies - I have just realised that the repository submitted with the paper wasn't my personal one, so I've not been seeing notifications. Thanks so much for your help with the review. It looks to me like there's only one issue from astanziola on the repository on MorgansLab (yes, good idea, I'll list fsolve as a dependency in the paper). The issue text implied

[2021-12-21 11:16] nhejazi commented on #3979
The points of improvement brought up in issues 31, 32, and 33 have been addressed in PR 34. Thanks very much @erikcs and @rrrlw for your timely and diligent reviews!

@mikldk I’ve left PR 34 open in case you might have any final revision comments. If not (or if everything looks in order), I’ll go ahead and merge that PR.

[2021-12-21 11:27] arfon commented on #4013
OK, thanks for the additional information @francescoa97outlook.

I would like to better understand the nature of the Mathematica codebase and this one before proceeding with sending this submission out for review. The question I'm trying to understand is whether or not this submission meets our threshold for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#subst

[2021-12-21 11:53] kostergroup commented on #3727
@roderickmackenzie
In my last review I asked you to “...to see if you can reverse bias your device to say -2V then apply a laser pulse and then from the transient extract say a 100meV Urbach energy as done here https://doi.org/10.1021/jp4010828. This is the acid test of a transient model.” But you have not done this, so have done it for you using the graph you provided above.

ANS
We did not do th

[2021-12-21 11:53] mikldk commented on #3979
@nhejazi I think you can just go ahead and merge. I see that you have updated the package title. Is the title of the paper also updated (if necessary)?

[2021-12-21 12:57] UMTti commented on #3504
Hi @GaurangTandon, I added the latest version of the paper [here](https://github.com/hsci-r/finnish-media-scrapers/blob/master/paper_21_12.pdf).

[2021-12-21 13:55] anitagraser commented on #3986
I haven't had chance to look at the code yet. Concerning the paper, I think there is one point in the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) that is currently not addressed:

[2021-12-21 14:01] jGaboardi commented on #3986
Has the paper already been moved from 'pre-review' to 'review'? Are we meant to have started reviewing already?

[2021-12-21 14:11] KristinaRiemer commented on #4010
Okay, just let me know what you decide @sandrinecharles.

[2021-12-21 14:35] bgyori commented on #4002
Hi @kyleniemeyer, thanks for starting this off! I fixed the DOIs for the references in the paper.

[2021-12-21 14:48] Viech commented on #3915
Thank you for the clarification!

---

I added the following to the [Tutorial](https://picos-api.gitlab.io/picos/tutorial.html#affine-expressions):

---

I've added a [Quick examples](https://picos-api.gitlab.io/picos/quick.html) section with three new short examples (least norm, robust optimization, integer programming) that are fully contained in independent listings, including all imports and a

[2021-12-21 15:15] martinfleis commented on #3986
@whedon start review

[2021-12-21 15:16] whedon opened #4021 "[REVIEW]: TransBigData: A Python package for transportation spatio-temporal big data processing, analysis and visualization"
**Submitting author:** @ni1o1 (<a href="http://orcid.org/0000-0003-2513-2969">Qing Yu</a>)
**Repository:** https://github.com/ni1o1/transbigdata
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.7
**Editor:** @martinfleis
**Reviewers:** @jGaboardi, @anitagraser
**Archive:** 10.5281/zenodo.6236507

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2021-12-21 15:16] whedon commented on #3986
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4021.

[2021-12-21 15:16] #3986 closed

[2021-12-21 15:16] whedon commented on #4021
Wordcount for `paper.md` is 630

[2021-12-21 15:16] whedon commented on #4021
[code]

[2021-12-21 15:16] whedon commented on #4021
[code]

[2021-12-21 15:17] whedon commented on #4021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: :point_left:

[2021-12-21 15:18] martinfleis commented on #4021
👋🏼 @ni1o1 @anitagraser @jGaboardi  this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2021-12-21 15:19] martinfleis commented on #4021
Moving here a comment by @anitagraser from the pre-review (https://github.com/openjournals/joss-reviews/issues/3986#issuecomment-998799093)

[2021-12-21 15:25] marwahaha commented on #3915
This all looks great to me! Thanks.

[2021-12-21 15:29] matthieuaussal commented on #3965
@whedon generate pdf

[2021-12-21 15:29] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-21 15:33] matthieuaussal commented on #3965
@mkitti:
First of all, we sincerely want to thank you for the quality of your review and the time you spend on it.

We added a point on the backslash operator after the example of the linear algebra part. The linsolve function that we propose is close to backslash, except that we do not deal specifically for triangular or symmetrical cases.

We agree with your remarks on setting up a conda package

[2021-12-21 15:34] WildfireXIII commented on #3652
Release tag: v1.0.0
Zenodo DOI: 10.5281/zenodo.5796089

[2021-12-21 15:42] dandavies99 commented on #4014
Hi @jstse - The code, docs and examples are looking really good to me. I've just got a few points for improvement:

## Installation
I think the installation instructions probably need another pass, largely because of complications caused by pymatgen versions. I opened a [separate issue](https://github.com/symmy596/SurfinPy/issues/23) for this because it may need a bit of extra discussion.

## Func

[2021-12-21 15:44] mkitti commented on #3965
Thank you for clarifying the blas instructions. I will make another compilation attempt on Windows and Ubuntu later today.

[2021-12-21 15:45] galessiorob commented on #3971
@whedon add @kinow as reviewer

[2021-12-21 15:45] whedon commented on #3971
OK, @kinow is now a reviewer

[2021-12-21 15:47] fabian-s commented on #3652
@whedon set 10.5281/zenodo.5796089

[2021-12-21 15:47] whedon commented on #3652
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-21 15:48] fabian-s commented on #3652
@whedon set 10.5281/zenodo.5796089 as archive

[2021-12-21 15:48] whedon commented on #3652
OK. <a href="https://doi.org/10.5281/zenodo.5796089" target="_blank">10.5281/zenodo.5796089</a> is the archive.

[2021-12-21 15:49] fabian-s commented on #3652
@whedon set v1.0.0 as version

[2021-12-21 15:49] whedon commented on #3652
OK. v1.0.0 is the version.

[2021-12-21 15:49] fabian-s commented on #3652
@whedon recommend-accept

[2021-12-21 15:49] whedon commented on #3652
[code]

[2021-12-21 15:50] whedon commented on #3652
[code]

[2021-12-21 15:50] whedon commented on #3652
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2841

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2841, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-21 15:51] Viech commented on #3915
Thank you for taking the time to review!

[2021-12-21 15:56] galessiorob commented on #3971
@whedon add @scheiblr as reviewer

[2021-12-21 15:56] whedon commented on #3971
OK, @scheiblr is now a reviewer

[2021-12-21 15:59] galessiorob commented on #3971
🎉 Thanks for volunteering to be reviewers @kinow and @scheiblr!

I'll generate a "review issue" that will contain individual checklists to go through, feel free to get started at your earliest convenience, don't hesitate to ask if you need clarification or help - you can @mention me directly on the issue.

[2021-12-21 15:59] galessiorob commented on #3971
@whedon start review

[2021-12-21 15:59] whedon opened #4022 "[REVIEW]: helayo: Reconstructing Sanskrit texts from manuscript witnesses"
**Submitting author:** @chchch (<a href="http://orcid.org/0000-0001-8247-9374">Charles Li</a>)
**Repository:** https://github.com/chchch/sanskrit-alignment/
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.55
**Editor:** @galessiorob
**Reviewers:** @kinow, @xiaohk
**Archive:** 10.5281/zenodo.6334073

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-12-21 15:59] whedon commented on #3971
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4022.

[2021-12-21 15:59] whedon commented on #4022
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kinow, @scheiblr it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-12-21 16:00] whedon commented on #4022
[code]

[2021-12-21 16:00] whedon commented on #4022
PDF failed to compile for issue #4022 with the following error:
[code]

[2021-12-21 16:09] GaurangTandon commented on #3504
@UMTti Thank you for the updated link! I read it briefly and it does answer all my questions ✅  Most of its content seems very similar to the repo readme which I'd already read.

@ajstewartlang My review is now complete. Thank you all for the review opportunity, and I wish the team good luck :-)

[2021-12-21 16:20] galessiorob commented on #4022
@whedon generate pdf from branch joss-paper

[2021-12-21 16:20] whedon commented on #4022
[code]

[2021-12-21 16:20] ajstewartlang commented on #3504
@UMTti Can you confirm that the latest version of the paper is this one please? https://github.com/hsci-r/finnish-media-scrapers/blob/master/paper.md

[2021-12-21 16:20] whedon commented on #4022
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: :point_left:

[2021-12-21 16:25] francescoa97outlook commented on #4013
Dear Arfon
[ManipulatePlanetCode_zeng20211021.nb.zip](https://github.com/openjournals/joss-reviews/files/7756722/ManipulatePlanetCode_zeng20211021.nb.zip)

I attach here the version of the Mathematica code given to me by Li Zeng.
This version contains features that are not present in the official release, due to the fact that Li has added later other parts before sending us, to implement them in P

[2021-12-21 16:41] jiemakel commented on #3504
@ajstewartlang it is.

[2021-12-21 16:47] ajstewartlang commented on #3504
@whedon generate pdf

[2021-12-21 16:47] ajstewartlang commented on #3504
@whedon check references

[2021-12-21 16:47] whedon commented on #3504
[code]

[2021-12-21 16:47] whedon commented on #3504
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03504/joss.03504/10.21105.joss.03504.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03504/joss.03504/10.21105.joss.03504.pdf) :page_facing_up: :point_left:

[2021-12-21 16:49] ajstewartlang commented on #3504
@whedon remove @pmyteh as reviewer

[2021-12-21 16:49] whedon commented on #3504
OK, @pmyteh is no longer a reviewer

[2021-12-21 16:49] ajstewartlang commented on #3504
@whedon generate pdf

[2021-12-21 16:50] whedon commented on #3504
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03504/joss.03504/10.21105.joss.03504.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03504/joss.03504/10.21105.joss.03504.pdf) :page_facing_up: :point_left:

[2021-12-21 16:52] ajstewartlang commented on #3504
Many thanks for your helpful and detailed reviews, @Sara-ShiHo and @GaurangTandon - and for a great submission @UMTti

If you could now do the following please, that would be great:

- Make a [tagged release](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-releases-in-a-repository) of the software.
- Archive the reviewed software in Zenodo or a si

[2021-12-21 17:10] whedon opened #4023 "[PRE REVIEW]: SenAOReFoc: A Closed-Loop Sensorbased Adaptive Optics and Remote Focusing Control Software"
**Submitting author:** @jiahecui (<a href="http://orcid.org/0000-0003-2122-5754">Jiahe Cui</a>)
**Repository:** <a href="https://github.com/jiahecui/SenAOReFoc" target ="_blank">https://github.com/jiahecui/SenAOReFoc</a>
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @abhilash12iec002
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-12-21 17:10] whedon commented on #4023
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-21 17:11] whedon commented on #4023
Wordcount for `paper.md` is 1615

[2021-12-21 17:11] whedon commented on #4023
[code]

[2021-12-21 17:11] whedon commented on #4023
[code]

[2021-12-21 17:12] whedon commented on #4023
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04023/joss.04023/10.21105.joss.04023.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04023/joss.04023/10.21105.joss.04023.pdf) :page_facing_up: :point_left:

[2021-12-21 17:17] arfon commented on #3652
@whedon accept deposit=true

[2021-12-21 17:17] whedon commented on #3652
[code]

[2021-12-21 17:18] whedon commented on #3652
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1473342034874408962) 👈 🐦🐦🐦

[2021-12-21 17:18] whedon commented on #3652
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2842
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03652](https://doi.org/10.21105/joss.03652)
2. If everything look

[2021-12-21 17:26] arfon commented on #3652
@assenmacher-mat, @deniederhut – many thanks for your reviews here and to @fabian-s for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@WildfireXIII – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-21 17:26] #3652 closed

[2021-12-21 17:26] whedon commented on #3652
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03652/status.svg)](https://doi.org/10.21105/joss.03652)

**We need your help!**

Journal of Open Source Softwa

[2021-12-21 17:30] astanziola commented on #3732
Hi @AlexanderMacL ! I didn't raise other issues as I wasn't sure if this was stale, but will do it asap.

[2021-12-21 17:31] christinahedges commented on #3838
Hi @jeffriley, that's great. If we don't get to this till after the holiday that's totally fine, I think that's the last piece before I can recommend it for acceptance 👍

[2021-12-21 17:52] WildfireXIII commented on #3652
Thanks everyone!

[2021-12-21 18:29] jiemakel commented on #3504
DOI: 10.5281/zenodo.5796453
[![DOI](https://zenodo.org/badge/335605978.svg)](https://zenodo.org/badge/latestdoi/335605978)

[2021-12-21 18:38] NoraLoose commented on #3947
Hi all!

Thanks for your comments and identifying issues - GCM-Filters is already seeing a lot of improvement thanks to your reviews! Most of our developers have already unplugged for the winter break, so I would like to resolve the outstanding issues and PRs in the first week of January.

I'm tracking the issues that you have raised and that still need to be resolved [here](https://github.com/oce

[2021-12-21 18:46] emdupre commented on #3964
Hi again everyone,

Since both @aquilesC and @ziatdinovmax have agreed to review, I'm going to go ahead and open a dedicated review issue to get this process started :rocket:

. @caldarolamartin @jonatanalvelid @emmanuelle, thank you again for your consideration :sunflower:

[2021-12-21 18:46] emdupre commented on #3964
@whedon start review

[2021-12-21 18:47] whedon opened #4024 "[REVIEW]: PiSCAT: A Python Package for Interferometric Scattering Microscopy"
**Submitting author:** @po60nani (<a href="http://orcid.org/0000-0002-0724-3158">Houman Mirzaalian Dastjerdi</a>)
**Repository:** <a href="https://github.com/SandoghdarLab/PiSCAT" target ="_blank">https://github.com/SandoghdarLab/PiSCAT</a>
**Version:** 0.1.20
**Editor:** @emdupre
**Reviewer:** @ziatdinovmax, @aquilesC
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-12-21 18:47] whedon commented on #3964
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4024.

[2021-12-21 18:47] #3964 closed

[2021-12-21 18:47] whedon commented on #4024
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ziatdinovmax, @aquilesC it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-12-21 18:47] whedon commented on #4024
PDF failed to compile for issue #4024 with the following error:
[code]

[2021-12-21 18:47] whedon commented on #4024
[code]

[2021-12-21 18:47] emdupre commented on #4024
@whedon generate pdf from branch JOSS-paper

[2021-12-21 18:47] whedon commented on #4024
[code]

[2021-12-21 18:48] whedon commented on #4024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: :point_left:

[2021-12-21 18:48] emdupre commented on #4024
@whedon check references from branch JOSS-paper

[2021-12-21 18:48] whedon commented on #4024
[code]

[2021-12-21 18:48] whedon commented on #4024
[code]

[2021-12-21 18:49] jbytecode commented on #3965
@matthieuaussal - the section name `statement of field` would be better if it was `state of the field`

[2021-12-21 18:50] emdupre commented on #4024
Hi everyone :wave: Thanks again @ziatdinovmax and @aquilesC for agreeing to review this submission ! The review will take place in this issue.

Whenever possible, please open relevant issues on the linked software repository (and cross-link them with this issue) rather than discussing them here. This helps to make sure that feedback is translated into actionable items to improve the software. If y

[2021-12-21 18:51] jbytecode commented on #3895
@richrobe - could you please update us on how is your review going? many thanks.

[2021-12-21 18:54] emdupre commented on #4024
@po60nani a few initial points on the JOSS paper itself, rather than the software :
- [ ] The [manuscript](https://github.com/openjournals/joss-papers/blob/joss.04024/joss.04024/10.21105.joss.04024.pdf) does not yet have a 'Statement of Need' section. You can find more information in the [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) on

[2021-12-21 18:59] callumrollo commented on #3947
Thanks Nora, great effort! I'm off on a cruise in a couple of weeks. I won't be contactable, but I'm happy for this to be approved for publication once the linked issues are resolved.

[2021-12-21 19:05] klevis-a commented on #3490
Thank you @arfon and thank you @adi3! Working through the review process for JOSS has been cool. I very much enjoyed the transparency and automation. I am thankful for the acceptance and for all the hard work everyone has put into the journal.

@destogl, @nnadeau thank you for taking the time to review the manuscript and software, and for your feedback!

[2021-12-21 19:42] ibarraespinosa commented on #3820
hello @dhhagan, I think the manuscript and software are good enough to be accepted. I have tested all the functions and the @jonsampedro  has incorporated many of my suggestions. Then I recommend acceptance of rfasst for publication at JOSS.

Merry Christmas!  🎅 🎄 🎶

[2021-12-21 19:58] nanhung commented on #3820
Hi everyone, I would also recommend accepting the manuscript and the software since there is no issue that needs to be fixed and updated.

Happy holiday:)

[2021-12-21 19:59] ilyamandel commented on #3838
I think these are bib file references that aren't actually used in the JOSS
paper.  Jeff, perhaps you could simply extract only the necessary
references into a downselected bib file.  Or ask Simon to do that.
Ilya, trying to send a GitHub comment via email from my phone from Eden
(Eden, New South Wales ;-) ).

On Wed, Dec 22, 2021, 4:31 AM Christina Hedges ***@***.***>
wrote:

[2021-12-21 20:07] jonsampedro commented on #3820
Thank you @ibarraespinosa and @nanhung for your very constructive reviews, which have significantly improved both the tool and the manuscript.

Happy Holidays!

[2021-12-21 20:11] nhejazi commented on #3979
Great! Thanks for the quick confirmation @mikldk. I just merged the PR and can take other steps (e.g., minting a release DOI) as needed. I've only shortened the package title and would like to keep the paper title a bit more general, so I think that can stay as is. I did also introduce a minor version bump 0.1.5 -> 0.1.6, and I think the version of the package referenced in the opening comment of

[2021-12-21 20:53] deniederhut commented on #3652
🎉 congratulations!

[2021-12-21 20:56] kbarnhart commented on #3658
@wsavran based on looking at the checklist, I suspect that at this point, both reviewers have raised all the issues that remain.

Once you have completed addressing these issues, let me know. At that point we should be able to move into the final stages of the review process. Thanks for your patience.

(FYI, I'll be out of the office Dec 24-Jan 2).

[2021-12-21 20:57] kbarnhart commented on #3689
@mdhurst1 just a quick ping to see what the status of this is.

[2021-12-21 21:13] ArkajyotiSaha commented on #3780
Thank you so much @fabian-s . I am working on the article to shorten it such that it doesn't take anything away from a high-level summary, but does away with the intricate technical and mathematical details by referring to existing associated literature in package vignettes/methodological paper/github repo description of the package.  Will update you once I am done with the update, thanks!

[2021-12-21 22:20] justinshenk commented on #3992
Hi @sambitdash,
Thank you for your valuable suggestions and improvements. The PR has been merged and a note added in https://github.com/delve-team/delve/commit/811756520cbfd8dce4427c53203ac193f61a94d1 regarding the scope of further work.

[2021-12-21 22:20] justinshenk commented on #3992
@whedon generate pdf

[2021-12-21 22:21] whedon commented on #3992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: :point_left:

[2021-12-21 23:41] mkitti commented on #3965
Under MSys2, `cmake` has trouble finding `vtkIOOggTheora` while following the directions here:
https://leprojetcastor.gitlab.labos.polytechnique.fr/castor/installation.html

[code]

It appears this MSys2 commit may be relevant.
https://github.com/msys2/MINGW-packages/commit/08315cafe4dbd247b8ffb05182bc07cffe33f408#diff-dd2d765f56143d7820e2f73c88c2146aa0f0975fca62028d5421b2a49a5f2aaaL112

Notably,

[2021-12-22 00:16] elbeejay commented on #4020
@whedon assign me as editor

[2021-12-22 00:16] whedon commented on #4020
OK, the editor is @elbeejay

[2021-12-22 00:20] elbeejay commented on #4020
@kratzert I am going to poke around in the repository and the code over the next few days before we sent this out for review, but in the meantime, do you mind suggesting some potential reviewers?

Per the post up top, JOSS does have a [list](https://bit.ly/joss-reviewers) of folks who have indicated they are willing to review submissions, so that may be a good starting point (although that is cert

[2021-12-22 00:20] elbeejay commented on #3649
@whedon generate pdf from branch JOSS_paper

[2021-12-22 00:20] whedon commented on #3649
[code]

[2021-12-22 00:21] whedon commented on #3649
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: :point_left:

[2021-12-22 00:44] mkitti commented on #3965
If I disable VTK, I can get past the above errors. Then I run into errors such as these
[code]

This suggests that `gfortran` is not getting linked correctly or at all. `demo/CMakeFiles/demo_linalg.dir/build.make:157` is as follows:

[code]

If I manually append `-lgfortran` to the above line, then it compiles fine. I have not figured out how to convince CMake to do this for me. Adding `gfortran`

[2021-12-22 00:45] mkitti commented on #3965
When running `perf_hmat.exe`, I got a segmentation fault the first time I ran it:

[code]

On a subsequent execution it worked.

[code]

[2021-12-22 00:54] mkitti commented on #3965
If I alter `castor/CMakeLists.txt` by commenting out the `vtkIOOggTheora` line,
[code]

then I get the following output:

[code]

I am not sure if `vtk_module_autoinit` is available with VTK 8.2.

[2021-12-22 01:05] fernandomayer commented on #3901
@mikldk I've finished my review. Is there anything else I need to do?

[2021-12-22 01:20] mkitti commented on #3965
I note that examples for MATLAB and Julia do not have a "warmup" step for the timings, which is necessary for a fair comparison because both languages use a form of just-in-time compilation. Julia is using [ORCv2 JIT from LLVM](https://llvm.org/docs/ORCv2.html). Perhaps the alternative would be adding a timing step to measure compilation time with Castor?

In the Julia case, this is quite obvious

[2021-12-22 01:29] elbeejay commented on #3649
@whedon check references from branch JOSS_paper

[2021-12-22 01:29] whedon commented on #3649
[code]

[2021-12-22 01:30] whedon commented on #3649
[code]

[2021-12-22 01:37] mkitti commented on #3965
Another point is that the authors discuss MATLAB and Julia as interpreted languages. However, both languages do employ some form of just-in-time compilation. [The MATLAB Execution Engine has been part of MATLAB since R2015B](https://www.mathworks.com/products/matlab/matlab-execution-engine.html). Julia uses LLVM ORCv2 JIT as mentioned above. The machine code for Julia can be printed as follows.

[

[2021-12-22 01:42] elbeejay commented on #3649
@PTierz and co-authors, I've opened up a [small PR](https://github.com/BritishGeologicalSurvey/pyvolcans/pull/23) to modify a bit of formatting in the `.bib` file. I also made some suggestions for minor edits to the paper itself. The removal of non-DOI links in particular is something I think is important and will help the paper remain durable in the future. The PR should also help resolve some of

[2021-12-22 01:44] elbeejay commented on #3947
@NoraLoose this sounds great, we will plan to revisit the submission in January in this case. Thanks @isgiddy,  @AleksiNummelin, and @callumrollo, it seems like this review process has been reasonably smooth.

[2021-12-22 02:09] mkitti commented on #3965
Similarly, for Python/NumPy there is Numba which also uses LLVM for compilation.

The distinction therefore is not as simple as interpreted versus compiled now. The current dichotomy is that MATLAB, Julia, and Numba are designed for dynamic just-in-time compilation versus static ahead-of-time compilation for C++/Castor, at least in the normal mode of operation. There are definite advantages to sta

[2021-12-22 02:14] mkitti commented on #3965
"C++ Development With Conda" is outlined by Antoine Prouvost in the following blog post.
https://www.prouvost.dev/post/2021/c-development-with-conda/

[2021-12-22 02:42] odow commented on #3991
This link might be better: https://docs.julialang.org/en/v1/manual/documentation/

[2021-12-22 03:39] kyleniemeyer commented on #4000
Thanks @jgostick, I think we would prefer to avoid the conflict of interest here, and wait until someone else becomes available to edit.

@TomTranter Thanks for the reviewer suggestions! Your submission will be on our waitlist, until someone else becomes available to edit soon.

[2021-12-22 05:10] mjsottile commented on #3735
@whedon generate pdf

[2021-12-22 05:10] mjsottile commented on #3735
@whedon check references

[2021-12-22 05:11] whedon commented on #3735
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03735/joss.03735/10.21105.joss.03735.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03735/joss.03735/10.21105.joss.03735.pdf) :page_facing_up: :point_left:

[2021-12-22 05:11] whedon commented on #3735
[code]

[2021-12-22 05:30] mjsottile commented on #3735
@lungsi I've finished my review and it looks like you have addressed the reviewers.  I have the following final task for you to complete for us to push the submission to the final phase for acceptance.

The paper has a few very minor typos to correct:

- line 6 : dimensional formula -> dimensional formulas
- line 6 : dimensional equation -> dimensional equations
- line 10 : performs -> perform
- l

[2021-12-22 08:54] LMMorgan commented on #3747
Good morning. I was just wondering if there was any update on this? Many thanks.

[2021-12-22 09:00] eloisabentivegna commented on #3908
Further update: @ziotom78 has accepted to review the paper (thanks!), so long as a second reviewer with deeper expertise in line intensity mapping (or cosmological power spectrum analysis in general) addresses these aspects. @sgeorge91, @changhoonhahn, @alaingdl, can any of you help here?

[2021-12-22 09:47] will-rowe commented on #3839
Sorry for the delay in response.

I'm afraid you need to update the zenodo archive @hcdenbakker as the author list is not correct. Please have the names appear as in your paper.

[2021-12-22 10:10] ajstewartlang commented on #3504
@whedon set 10.5281/zenodo.5796453 as archive

[2021-12-22 10:10] whedon commented on #3504
OK. <a href="https://doi.org/10.5281/zenodo.5796453" target="_blank">10.5281/zenodo.5796453</a> is the archive.

[2021-12-22 10:11] ajstewartlang commented on #3504
@whedon set v1.1.1 as version

[2021-12-22 10:11] whedon commented on #3504
OK. v1.1.1 is the version.

[2021-12-22 10:13] ajstewartlang commented on #3504
@whedon recommend-accept

[2021-12-22 10:13] whedon commented on #3504
[code]

[2021-12-22 10:14] whedon commented on #3504
[code]

[2021-12-22 10:14] whedon commented on #3504
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2843

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2843, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-22 10:29] Zitzeronion commented on #3728
@dpsanders is it okay to put an authors contribution section into the paper?

By the way, happy holidays and a merry Christmas if you are already on vacation

[2021-12-22 11:18] hcdenbakker commented on #3839
Hi @will-rowe,

Sorry about that! I fixed the author names in the zenodo archive.

is there anything else I need to do?

Thanks
-Henk

[2021-12-22 11:26] will-rowe commented on #3839
@whedon set 10.5281/zenodo.5787248 as archive

[2021-12-22 11:26] whedon commented on #3839
OK. <a href="https://doi.org/10.5281/zenodo.5787248" target="_blank">10.5281/zenodo.5787248</a> is the archive.

[2021-12-22 11:26] will-rowe commented on #3839
@whedon set v1.0.1 as version

[2021-12-22 11:26] whedon commented on #3839
OK. v1.0.1 is the version.

[2021-12-22 11:26] whedon commented on #3839
[code]

[2021-12-22 11:26] whedon commented on #3839
PDF failed to compile for issue #3839 with the following error:
[code]

[2021-12-22 11:27] will-rowe commented on #3839
@whedon recommend-accept from branch joss

[2021-12-22 11:27] whedon commented on #3839
[code]

[2021-12-22 11:27] whedon commented on #3839
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "doi" (NAME) ["@", #<BibTeX::Entry >, {:title=>["Improved metagenomic analysis with Kraken 2"], :author=>["Wood, Derrick E and Lu, Jennifer and Langmead, Ben"], :journal=>["Genome biology"], :volume=>["20"], :number=>["1"], :pages=>["1--13"], :year=>["2019"], :publisher=>["Springer"]}]

[2021-12-22 11:27] whedon commented on #3839
PDF failed to compile for issue #3839 with the following error:
[code]

[2021-12-22 11:30] will-rowe commented on #3839
Hi @hcdenbakker

Sorry - just need the PDF to compile again now the DOI was fixed. Looks like a missing comma at line 10? The EICs have been notified that the paper is ready for acceptance, they will come and do the final checks.

[2021-12-22 11:37] arfon commented on #3504
@whedon accept deposit=true

[2021-12-22 11:37] whedon commented on #3504
[code]

[2021-12-22 11:38] whedon commented on #3504
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1473618979885305865) 👈 🐦🐦🐦

[2021-12-22 11:38] whedon commented on #3504
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2844
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03504](https://doi.org/10.21105/joss.03504)
2. If everything look

[2021-12-22 11:50] martejulie commented on #4012
Hi! Very nice work!

I support the publication of this software with minor revisions.

Here comes a few questions and some (minor) suggestions for improvement.

**Functionality**
- Please see issue [#4](https://github.com/ngltr/sinaps/issues/4) in the source code repo.

**Documentation**
- Please see issue [#6](https://github.com/ngltr/sinaps/issues/6), [#7](https://github.com/ngltr/sinaps/issues/

[2021-12-22 11:51] arfon commented on #3504
@Sara-ShiHo, @GaurangTandon – many thanks for your reviews here and to @ajstewartlang for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jiemakel – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-22 11:51] #3504 closed

[2021-12-22 11:51] whedon commented on #3504
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03504/status.svg)](https://doi.org/10.21105/joss.03504)

**We need your help!**

Journal of Open Source Softwa

[2021-12-22 11:59] UMTti commented on #3504
Thanks to all the reviewers and editors for your helpful comments in improving this project!

[2021-12-22 12:15] hcdenbakker commented on #3839
Hi @will-rowe,

OK, I should have caught the missing commas in the bibtex file. It is fixed now.

Thanks,
-Henk

[2021-12-22 12:30] will-rowe commented on #3839
@whedon recommend-accept from branch joss

[2021-12-22 12:30] whedon commented on #3839
[code]

[2021-12-22 12:30] whedon commented on #3839
[code]

[2021-12-22 12:31] whedon commented on #3839
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2845

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2845, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-22 12:41] matthieuaussal commented on #3965
@mkitti :
We will gradually modify the installation procedure so that it is more robust on all OS. We will solve the majority of the problems by offering a Conda package. We will try to do it asap.

Indeed, the purpose of the timings is not benchmarking but semantics. Is it really necessary to specify it explicitly in the article, insofar as the matrices involved are of minimal size?

For the rest

[2021-12-22 13:24] whedon commented on #3982
:wave: @tisaac, please update us on how your review is going (this is an automated reminder).

[2021-12-22 13:24] whedon commented on #3982
:wave: @wence-, please update us on how your review is going (this is an automated reminder).

[2021-12-22 13:41] hugoledoux commented on #3061
@whedon re-invite @aothms as reviewer

[2021-12-22 13:41] whedon commented on #3061
The reviewer already has a pending invite.

@aothms please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-22 13:47] hugoledoux commented on #3061
@whedon invite @aothms as reviewer

[2021-12-22 13:47] whedon commented on #3061
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-22 13:47] hugoledoux commented on #3061
@whedon add @aothms as reviewer

[2021-12-22 13:47] whedon commented on #3061
OK, @aothms is now a reviewer

[2021-12-22 13:58] aothms commented on #3061
Dear authors, thank you for your efforts here, I think the paper + repo improved substantially. I just have the following two points that are a bit hard to check off in the current state:

I still find the following really minimal (if any):

*  State of the field: Do the authors describe how this software compares to other commonly-used packages?

For:

*  Automated tests: Are there automated test

[2021-12-22 14:00] hongyuanjia commented on #3942
@KristinaRiemer Any updates on the reviewing process? Thanks

[2021-12-22 14:09] dionhaefner commented on #3992
Hey @justinshenk, congratulations on the nice library you and your collaborators have built!

I opened some issues related to the code and docs. On top of that, here are some points I had regarding the paper:

- I think you do a good job of summarizing the status quo, but what I find missing is a clear statement on what delve is trying to be. Is delve a tool to monitor layer saturation? Is it a ge

[2021-12-22 14:47] marshallmcdonnell commented on #3747
@LMMorgan thank you for the reminder!
I do apologize.
I am still in the middle of working through my review but have had to take breaks while working through it.
I will try to finish up and provide my feedback as soon as possible.

[2021-12-22 15:52] KristinaRiemer commented on #3942
Hi @hongyuanjia, thanks for checking in. I've reached out to some folks with more domain expertise, but haven't had much luck. I've also contacted the possible reviewers you've suggested above and am waiting to hear back from them. I'll keep you up to date!

Just so you know, I'm going to be on vacation December 23 to January 2, but I'll continue to work on finding reviewers and getting the review

[2021-12-22 15:54] hongyuanjia commented on #3942
Thanks @KristinaRiemer . Much appreciated!

[2021-12-22 15:56] jbytecode commented on #3965
thank you for the changes.

there is no need to ping anybody right now, the reviewing process is already active.

[2021-12-22 15:59] csoneson commented on #3887
@whedon generate pdf

[2021-12-22 16:00] whedon commented on #3887
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03887/joss.03887/10.21105.joss.03887.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03887/joss.03887/10.21105.joss.03887.pdf) :page_facing_up: :point_left:

[2021-12-22 16:00] csoneson commented on #3887
@whedon check references

[2021-12-22 16:01] whedon commented on #3887
[code]

[2021-12-22 16:54] osorensen commented on #3832
@whedon set doi as 10.5281/zenodo.5787520

[2021-12-22 16:54] whedon commented on #3832
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-22 16:54] osorensen commented on #3832
@whedon set 10.5281/zenodo.5787520 as archive

[2021-12-22 16:54] whedon commented on #3832
OK. <a href="https://doi.org/10.5281/zenodo.5787520" target="_blank">10.5281/zenodo.5787520</a> is the archive.

[2021-12-22 16:55] osorensen commented on #3832
@whedon set v0.2.2 as version

[2021-12-22 16:55] whedon commented on #3832
OK. v0.2.2 is the version.

[2021-12-22 16:58] osorensen commented on #3832
@LegrandNico, the title, author list, and version of the Zenodo archive match those of the submission, so I'm ready to recommend accept here. Is this ok with you?

[2021-12-22 16:59] csoneson commented on #3887
👋🏻 @jorittmo - I went through the submission and it looks good! Only a small question on Mitchell et al (2020): could you provide some form of link/DOI to this reference (I was not able to find it by googling)? (Our policy is that cited papers should be available for readers to view).

[2021-12-22 18:14] KristinaRiemer commented on #3978
Thank you for providing the list of possible reviewers who have both software development and domain experience, @rickhelmus!

@lgatto @wesleyburr @hechth would any of you be able and willing to review this JOSS submission of an R package for mass spectrometry analysis? You can view the software at the repo linked in the first comment.

[2021-12-22 18:24] ptmerz commented on #3981
Thank you @geraldjwang and @zadehsey, I appreciate your time reviewing this!

Hi @rkurchin, it seems that all reviewers completed their checklists! What are the next steps?

[2021-12-22 18:34] zadehsey commented on #3981
I really enjoyed the idea behind the work and believe many would benefit from it. Going over the documentation and example files, I had a number of minor suggestions:

Integrator_validation

- The cutoff radius of the LJ potential is given as “1 nm”. I believe that it will be more generalizable if the values are non-dimensionalized with respect to the parameters of the interatomic potential. The s

[2021-12-22 18:54] KristinaRiemer commented on #3942
@whedon assign @mitmat as reviewer

[2021-12-22 18:54] whedon commented on #3942
OK, @mitmat is now a reviewer

[2021-12-22 19:06] LegrandNico commented on #3832
Yes we made all the changes I think we are ready

[2021-12-22 19:14] wesleyburr commented on #3978
@KristinaRiemer: sure, so long as you're ok if I don't touch it until Jan 4+, when I return to work.

[2021-12-22 19:34] KristinaRiemer commented on #3978
@wesleyburr yup! That's totally fine. Thank you for agreeing to review!

[2021-12-22 19:35] KristinaRiemer commented on #3978
@whedon assign @wesleyburr as reviewer

[2021-12-22 19:35] whedon commented on #3978
OK, @wesleyburr is now a reviewer

[2021-12-22 19:42] po60nani commented on #4024
@whedon generate pdf from branch JOSS-paper

[2021-12-22 19:42] whedon commented on #4024
[code]

[2021-12-22 19:42] whedon commented on #4024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: :point_left:

[2021-12-22 19:44] mkitti commented on #3965
I will be more specific. My specific question is if we can call MATLAB and Julia **interpreted** languages as implied in the following two paragraphs. Python/NumPy is perhaps the only interpreted language out of the three at the moment within its standard execution environment.

Specifically, I do not think that the use of "interpreted" in the following paragraphs is an accurate or true statement

[2021-12-22 19:46] po60nani commented on #4024
@whedon check references from branch JOSS-paper

[2021-12-22 19:46] whedon commented on #4024
[code]

[2021-12-22 19:46] whedon commented on #4024
[code]

[2021-12-22 20:05] osorensen commented on #3832
@whedon recommend-accept

[2021-12-22 20:05] whedon commented on #3832
[code]

[2021-12-22 20:05] whedon commented on #3832
[code]

[2021-12-22 20:06] whedon commented on #3832
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2847

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2847, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-22 20:23] po60nani commented on #4024
@whedon generate pdf from branch JOSS-paper

[2021-12-22 20:23] whedon commented on #4024
[code]

[2021-12-22 20:24] whedon commented on #4024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: :point_left:

[2021-12-22 20:50] po60nani commented on #4024
@emdupre Thank you for taking the time to provide comments. We made changes to the manuscript in response to your comments.

- [ ] The manuscript does not yet have a 'Statement of Need' section. You can find more information in the submission guidelines on what the statement of need section should contain

- _The new section called 'Statement of Need' was added to the manuscript._

- [ ] Several r

[2021-12-22 21:02] kratzert commented on #4020
Hi @elbeejay

thank you for serving as editor.

Here are some reviewer suggestions from the JOSS reviewer list:
- Andrew Bennett (arbennett): Actually, I think he is/was even working with our library, so he might have some comments/insights from the user perspective already.
- Daniel Buscombe (dbuscombe-usgs): from his fields of expertise, he should be a good match, as he lists hydrology and deep

[2021-12-22 21:36] tmigot commented on #3991
@jbytecode @odow Thanks for the suggestion. I opened a PR that improve the documentation of the main functions.
Would that answer your question?

[2021-12-22 21:42] jbytecode commented on #3991
looks better. thank you for adding documentation. but I think there is still some room to improve the documentation. you can add
- function definition
- arguments, their types, and a description
- a minimal example or more
- references

to each function. if you need help please have a look at the popular repos, if you still need help I can suggest some.

thanks.

[2021-12-22 21:46] tmigot commented on #3991
Ok, I updated only the external functions in the [PR 74](https://github.com/JuliaSmoothOptimizers/DCISolver.jl/pull/74). I will also update the internal functions in the same way.

[2021-12-22 21:48] ptmerz commented on #3981
Thank you for your comments @zadehsey!

I agree that from a theoretical perspective, using simulation parameters which are depending on interaction or other system parameters makes a lot of sense. In the scope of the physical validation analysis tool, I do however think that it is more useful to have examples that use the type of parameters that users are required to set. In many biomolecular simu

[2021-12-22 21:53] thurber commented on #3824
@crvernon - with @cc-a's latest updates that provide an end-to-end testing environment, I am satisfied with my review. Nice work!

[2021-12-22 21:53] jbytecode commented on #3991
here is an example:

https://github.com/jbytecode/LinRegOutliers/blob/master/src/hs93.jl

[2021-12-22 23:36] cgurrr commented on #4012
Hi @martejulie,
Many thanks for all your suugestions/comments. We will take care of this as soon as possible.

[2021-12-22 23:56] kmichael08 commented on #3934
I will do it the first week of January. Unfortunately, can't do it any faster

[2021-12-23 02:23] gkthiruvathukal commented on #3919
@siara-cc Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on it); you m

[2021-12-23 02:23] gkthiruvathukal commented on #3919
/ooo

[2021-12-23 02:27] gkthiruvathukal commented on #3919
/ooo December 23 until January 4

[2021-12-23 03:27] siara-cc commented on #3919
@gkthiruvathukal Thanks and I have done all of the above.  The tagged release version is `1.0.2` and Zenodo DOI is `10.5281/zenodo.5800408`.
Wish you merry Christmas and Happy New Year 2022.

[2021-12-23 04:43] akaptano commented on #3994
Hi @henrykironde and @tuelwer, thanks again for being willing to review this work! Just letting you know we are working on a the pde_optimization branch (now open as a pull request on the repo) that speeds up the PDE and weak form PDE functionality in the code by a factor of 10 or more by replacing for loops with a lot of numpy vectorization tricks. Feel free to check that out if you're interested

[2021-12-23 06:32] arfon commented on #4013
@whedon query scope

@francescoa97outlook – many thanks for sharing this. I'm flagging the scope of this submission to bring it to the attention of a few other editors. We'll be back with a decision in the next couple of weeks.

[2021-12-23 06:32] whedon commented on #4013
Submission flagged for editorial review.

[2021-12-23 07:09] francescoa97outlook commented on #4013
Many thanks!

[2021-12-23 07:21] timtroendle commented on #3596
/ooo December 24 until January 2

[2021-12-23 08:03] kinow commented on #4022
Hi @chchch

I've added a few issues in your sanskrit-alignment and linked to this issue. We must keep the discussion over there to avoid lengthy discussions on this issue :+1:

However, there is one review issue that isn't related to the code there, so I thought we could discuss it here.

In the paper draft I believe you mention that while the techniques used in helayo is similar to those used in

[2021-12-23 09:02] mikldk commented on #3979
@whedon set v0.1.6 as version

[2021-12-23 09:03] whedon commented on #3979
OK. v0.1.6 is the version.

[2021-12-23 09:04] mikldk commented on #3979
@rrrlw Can you confirm that the license issue has been resolved (and check the corresponding box at the top of this issue)?

[2021-12-23 09:05] mikldk commented on #3901
@fernandomayer Thanks. I still see a box not checked. Can you please check if you are happy with that one, too - and if so, check it?

[2021-12-23 09:10] jbytecode commented on #3991
one more thing:

Why are there some functions in test case, e.g., [here](https://github.com/JuliaSmoothOptimizers/DCISolver.jl/blob/e1dddf1c0b5bc8be2b4070b18290e4070a194aa5/test/runtests.jl#L101)

we can use nested test cases like

[code]

so you don't need to wrap more than one `testcase` in a function and then call this function manually in test environments. This is unusual. Please tell me if t

[2021-12-23 09:20] jbytecode commented on #3965
@whedon generate pdf

[2021-12-23 09:20] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-23 09:38] jbytecode commented on #3965
Dear @matthieuaussal, @mkitti

After a long conversation, I feel I need to get in the area, and could you please clarify why do you insist that Julia is an interpreted language in the paper? As well as known, Julia is a dynamic and a compiled language with a special multiple dispatch feature. Nowadays, the distinction between the terms 'compiled' and 'interpreted' are a little bit different (Compi

[2021-12-23 09:41] d-eggert commented on #4009
Hi, I got the software DOIs from my institute:

One, as an umbrella for the entire framework: https://doi.org/10.5880/GFZ.1.4.2021.004
and three for the individual parts/repositories:
https://doi.org/10.5880/GFZ.1.4.2021.005, https://doi.org/10.5880/GFZ.1.4.2021.006, https://doi.org/10.5880/GFZ.1.4.2021.007

What is your preferred way of referencing them in the paper?

[2021-12-23 10:18] jschlenger commented on #3061
Hi @aothms,

thank you for your comments!

We kept the comparison with other software very minimal since the papers by Hecht & Jaud (2019) and Valero et al. (2020) did a thorough comparison with various software tools. We directly mention them as source of information about OIP compared to other software.

I just added a new section to the documentation about unit tests and how to run them (see gi

[2021-12-23 10:21] aothms commented on #3061
Ok. thanks for clarifying. Good enough for me @hugoledoux

[2021-12-23 10:40] matthieuaussal commented on #3965
Dear @jbytecode,
Dear @mkitti,

Thank you for the clarification.

In the first paragraph, we removed the keyword "interpreted" so as not to confuse dynamic and static compilation.

In the second paragraph, we removed the elements subject to debate by refocusing the discussion on the need. Indeed, beyond the questions of which language is the best (each one having their own opinion), the fact that

[2021-12-23 10:41] matthieuaussal commented on #3965
@whedon generate pdf

[2021-12-23 10:42] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-23 11:52] PTierz commented on #3649
Hi @elbeejay,

Thank you so very much for all your help and support.

I proceeded with merging [your suggested PR](https://github.com/BritishGeologicalSurvey/pyvolcans/pull/23) into the [`JOSS_paper` branch](https://github.com/BritishGeologicalSurvey/pyvolcans/tree/JOSS_paper). I also added a couple of commits to the branch. I will wait for your confirmation that these changes look reasonable befo

[2021-12-23 12:40] CBenghi commented on #3061
Hello all,
Just a quick note from me about the timing of the review.
I'm currently on leave and will be able to review the update just after
Xmas.
Happy holidays,
Claudio

Il Gio 23 Dic 2021, 11:18 jschlenger ***@***.***> ha scritto:

[2021-12-23 13:25] zadehsey commented on #3981
Thank you for your response @ptmerz.
Regarding the first point, I do not have a strong objection and understand why you would want to have the values presented in the current format. However, as the example used is specifically LJ, I believe that at least mentioning the length-scale and energy-scale there as a reference would be helpful for those who prefer to think in non-dimensional terms

[2021-12-23 13:33] martinfleis commented on #4009
@d-eggert We will use the umbrella DOI as an archived version attached to the paper once the review is over. I would suggest using those for individual parts as a reference instead of the links to Gitlab.

[2021-12-23 15:12] ddeehere commented on #3851
@danielskatz I got someone who's willing to review it. He's asking if there are examples of other reviews he can look at to give him some guidance on what he has to do. Can you point me to some reviews of other submissions? Thanks and Happy Holidays!

[2021-12-23 15:16] tmigot commented on #3991
Thanks for the suggestion, there was indeed no specific reason for that. I opened a PR to fix this.

[2021-12-23 15:17] hugoledoux commented on #4011
@visr or @Huite : would you be interested in doing this review?

[2021-12-23 15:51] jbytecode commented on #3965
of course, you don't have to perform serious benchmarking unless you don't have any performance claims.

If Castor really reduces the development time, yes this can be considered as a contribution from my side.

I am passing my turn and giving back the rudder to the reviewers.

[2021-12-23 15:55] jbytecode commented on #3991
thank you for the improvements, the software is in a better form by now on.

I am now passing my turn and giving the rubber back to the reviewers @jbcaillau

[2021-12-23 17:26] TomDonoghue commented on #3897
@alexrockhill - I read the updated papers, and checked the updates in the linked PRs, and everything looks good to me!

I've checked of my remaining checks in the review, as far as I'm concerned, my review is finished, and from my end, this paper is good to go!

[2021-12-23 18:25] danielskatz commented on #3851
@ddeehere - every published paper from JOSS (https://joss.theoj.org/papers/published) has a link on the right side for Paper review.  In addition, https://joss.readthedocs.io/en/latest/reviewer_guidelines.html provides general guidelines.

[2021-12-23 19:00] ptmerz commented on #3981
That is a good point @zadehsey. Adding some information on the LJ parameters used and setting the cutoff in relation to that adds value to the example. I have done that in https://github.com/shirtsgroup/physical_validation/pull/202 and it is now reflected in the documentation on https://physical-validation.readthedocs.io/en/latest/examples/integrator_validation.html.

Thanks again for your suggest

[2021-12-23 21:12] fernandomayer commented on #3901
@mikldk Sorry, I had misunderstood that item. It is checked now. Thanks.

[2021-12-23 22:24] deepakri201 commented on #3920
Hi @antoinevacavant, I believe there are a few things to be checked for the paper:

- [ ] A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is? --> I believe this section in the paper should be rewritten, as it does not address the statement of need, and includes information more relevant to the use of the extension.
- [ ]

[2021-12-24 04:07] sfsinger19103 commented on #3739
https://zenodo.org/record/5802556#.YcVHWS-B1pQ

[2021-12-24 15:50] elbeejay commented on #3649
@whedon generate pdf from branch JOSS_paper

[2021-12-24 15:50] whedon commented on #3649
[code]

[2021-12-24 15:50] elbeejay commented on #3649
@whedon check references from branch JOSS_paper

[2021-12-24 15:50] whedon commented on #3649
[code]

[2021-12-24 15:50] whedon commented on #3649
[code]

[2021-12-24 15:51] whedon commented on #3649
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: :point_left:

[2021-12-24 16:03] elbeejay commented on #3649
@PTierz this looks good to me. At this time I'd say go ahead and merge the paper into the main branch and then proceed to complete the items on that checklist I provided above. If you notice something or want to make minor changes to the paper feel free to go ahead and do so, I'd just ask that you use the whedon commands (like those above) to regenerate the PDF and check the references to ensure n

[2021-12-24 16:36] arfon commented on #3832
@LegrandNico – could you please make sure to cite Scipy, Numpy, Pandas and any other package you mention in your paper please?

[2021-12-24 16:38] arfon commented on #3839
@whedon accept deposit=true from branch joss

[2021-12-24 16:38] whedon commented on #3839
[code]

[2021-12-24 16:39] whedon commented on #3839
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1474419465689444358) 👈 🐦🐦🐦

[2021-12-24 16:39] whedon commented on #3839
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2848
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03839](https://doi.org/10.21105/joss.03839)
2. If everything look

[2021-12-24 16:42] arfon commented on #3839
@Ebedthan, @telatin – many thanks for your reviews here and to @will-rowe for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@hcdenbakker – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-24 16:42] #3839 closed

[2021-12-24 16:42] whedon commented on #3839
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03839/status.svg)](https://doi.org/10.21105/joss.03839)

**We need your help!**

Journal of Open Source Softwa

[2021-12-24 19:18] goerz commented on #3711
So this is ready for another/final round of review?

If yes, I'll have a look at it first thing in the new year, when I get back from the holidays.

In the meantime, Merry Christmas!

[2021-12-25 00:42] richrobe commented on #3895
Dear @csinva and @jbytecode. I am very sorry about the late reply, I was on vacation and had GitHub notifications turned off. I was able to finally complete my review now. In summary, I think `VeridicalFlow` seems to be a very nice and useful package! Most checkboxes could be checked off right away but some (small) issues still remain.

Below is the summary of some points that - in my opinion - mi

[2021-12-25 09:04] antoinevacavant commented on #3920
Hi @deepakri201 thanks a lot for your feedback.
@Kevin-Mattheus-Moerman should I revise the paper now, or wait for any other review?

[2021-12-26 11:59] chchch commented on #4022
@whedon generate pdf from branch joss-paper

[2021-12-26 11:59] whedon commented on #4022
[code]

[2021-12-26 11:59] whedon commented on #4022
PDF failed to compile for issue #4022 with the following error:
[code]

[2021-12-26 12:00] chchch commented on #4022
@whedon generate pdf from branch joss-paper

[2021-12-26 12:00] whedon commented on #4022
[code]

[2021-12-26 12:00] whedon commented on #4022
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: :point_left:

[2021-12-26 12:21] chchch commented on #4022
@whedon generate pdf from branch joss-paper

[2021-12-26 12:21] whedon commented on #4022
[code]

[2021-12-26 12:21] whedon commented on #4022
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: :point_left:

[2021-12-26 12:24] chchch commented on #4022
Really sorry about the issue spam — I finally learned to use the preview service to get it right first!

I've added a discussion section at the end, to talk about working with different languages, and what it means to create alignments of different kinds of sequences. I tried to keep it focused on the software, but I had to bring in a bit of theory — I'm still not totally sure if I have the tone r

[2021-12-26 14:54] elbeejay commented on #4020
@kratzert,

Thank you for the suggestions. I've had a chance to take a look at the package and have a few questions and several suggestions (mostly documentation related) for you before we send this out for review.

- What are the system requirements for someone to train, test, and apply models using this package? I'm guessing a nvidia GPU is required although the documentation does not make this

[2021-12-26 23:48] rrrlw commented on #3979
Looks good, done. Thanks for your contribution, @nhejazi!/

[2021-12-27 01:07] fartist commented on #3901
Please find my review at https://github.com/alexander-pastukhov/bistablehistory/issues/3 - solid work!

[2021-12-27 04:00] kinow commented on #4022
@galessiorob I think I'm done with the review for now. The paper is short but very well written (great job @chchch :clap: ).

The code repository is also well organized, and it's easy to locate the parts of the software mentioned in the paper. There are no performance claims in the paper, so I left the box unchecked.

I reviewed all the other items. The Automated Tests part, I think it would be an

[2021-12-27 08:19] whedon opened #4025 "[PRE REVIEW]: Interface to high-performance periodic coupled-cluster theory calculations with atom-centered, localized basis functions"
**Submitting author:** @Evmoerman (<a href="http://orcid.org/0000-0002-9725-612X">Evgeny Moerman</a>)
**Repository:** <a href="https://gitlab.com/moerman1/fhi-cc4s" target ="_blank">https://gitlab.com/moerman1/fhi-cc4s</a>
**Version:** v1.0.0
**Editor:** @rkurchin
**Reviewers:** @awvwgk, @wcwitt
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-12-27 08:19] whedon commented on #4025
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-27 08:19] whedon commented on #4025
Wordcount for `paper.md` is 1061

[2021-12-27 08:19] whedon commented on #4025
[code]

[2021-12-27 08:19] whedon commented on #4025
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04025/joss.04025/10.21105.joss.04025.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04025/joss.04025/10.21105.joss.04025.pdf) :page_facing_up: :point_left:

[2021-12-27 08:19] whedon commented on #4025
[code]

[2021-12-27 09:02] adi3 commented on #3804
@larkz the ball is in @TimKam 's court right now.

@TimKam - Hopefully your calendar is a bit freer at the beginning of the year. Would you be able to finish this review in the next couple of weeks?

[2021-12-27 09:42] inpefess commented on #3849
@whedon generate pdf from branch joss-paper

[2021-12-27 09:42] whedon commented on #3849
[code]

[2021-12-27 09:43] whedon commented on #3849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: :point_left:

[2021-12-27 09:49] whedon commented on #3990
:wave: @jspaezp, please update us on how your review is going (this is an automated reminder).

[2021-12-27 09:49] whedon commented on #3990
:wave: @MKoesters, please update us on how your review is going (this is an automated reminder).

[2021-12-27 12:17] Evmoerman commented on #4025
@whedon commands

[2021-12-27 12:17] whedon commented on #4025
Here are some things you can ask me to do:

[code]

[2021-12-27 15:53] dfm commented on #3771
@whedon check references

[2021-12-27 15:53] whedon commented on #3771
[code]

[2021-12-27 15:54] dfm commented on #3771
@whedon set 10.5281/zenodo.5791188 as archive

[2021-12-27 15:54] whedon commented on #3771
OK. <a href="https://doi.org/10.5281/zenodo.5791188" target="_blank">10.5281/zenodo.5791188</a> is the archive.

[2021-12-27 15:54] dfm commented on #3771
@whedon set 1.0 as version

[2021-12-27 15:54] whedon commented on #3771
OK. 1.0 is the version.

[2021-12-27 15:54] dfm commented on #3771
@whedon recommend-accept

[2021-12-27 15:54] whedon commented on #3771
[code]

[2021-12-27 15:54] whedon commented on #3771
[code]

[2021-12-27 15:55] whedon commented on #3771
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2849

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2849, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-27 15:56] dfm commented on #3771
@soffner Looks great - thanks for your patience! I've handed this off to the EiC team to handle the final processing. They may have some last small edits before publication, but then we'll be all set. Thanks again for your submission and your participation in this process.

[2021-12-27 15:58] dfm commented on #3675
@whedon check references

[2021-12-27 15:58] whedon commented on #3675
[code]

[2021-12-27 15:58] dfm commented on #3675
@whedon generate pdf

[2021-12-27 15:59] whedon commented on #3675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03675/joss.03675/10.21105.joss.03675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03675/joss.03675/10.21105.joss.03675.pdf) :page_facing_up: :point_left:

[2021-12-27 16:23] dfm commented on #3675
@mikegrudic I've just opened [a small PR](https://github.com/mikegrudic/pytreegrav/pull/13) over on your repo. Once you've checked that out and merged, here are a few last steps for you, then we'll be ready to go!

1. Comment `@whedon generate pdf`, then take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially the author name

[2021-12-27 16:34] soffner commented on #3771
Great, thanks @dfm!

On Mon, Dec 27, 2021 at 9:56 AM Dan Foreman-Mackey ***@***.***>
wrote:

[2021-12-27 17:33] ixjlyons commented on #4001
I can review

[2021-12-27 19:21] TimKam commented on #3804
Apologies for getting back to this late. I thank the authors for addressing my comments. As mentioned initially, I am somewhat on the fence w.r.t. *substantial scholarly effort* because the MC tree-search is AI 'from the textbook'. Still, there is probably some value in the work and I have enjoyed trying it out a bit. I have no further feedback or change requests.

[2021-12-27 19:30] dimitridarras commented on #3197
Apologies for the late response, I need to bow out from the review as well, but thought I'd add some comments from my initial build  almost a year ago that may or may not be relevant.   Please take with a huge grain of salt as this was written a while back while flying blind!   I do not have a scientific background  - IT and web.

Installation comments:

Be explicit in Installation instructions -

[2021-12-27 19:50] Evmoerman commented on #4025
awvwgk

[2021-12-27 19:53] Evmoerman commented on #4025
@whedon list reviewers

[2021-12-27 19:53] whedon commented on #4025
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-12-27 20:57] UTH-Tuan commented on #3727
@rkurchin,

There was an earlier comment by @shahmoradi about the automation test. I want to confirm if that has been updated.

While this domain not my field of expertise, @roderickmackenzie has raised some substantive points that need to be addressed.

[2021-12-27 21:16] ddeehere commented on #3851
@danielskatz I found a reviewer. His Github handle is: jhancock4d

Let me know if there is something he or I need to do for him to proceed. Thank you.

[2021-12-27 21:32] danielskatz commented on #3851
Thanks @ddeehere - we do also need to find one more reviewer - JOSS requires two.

[2021-12-27 21:33] danielskatz commented on #3851
👋 @jhancock4d - @ddeehere has said you are willing to review this. Please confirm, and I will assign you, but we will not actually start the review until we also find one more reviewer.

[2021-12-27 22:40] villaa commented on #3993
@altavir @matthewfeickert @lucydot @gerudo7  -- the version `v1.3.0` has now been released. This is the best version for your further reviews and comments. There are some issues left from the pre-review but they were both explicitly said to be not required for the review (adding code coverage and using doxygen to auto-generate docs).

We have upgraded so that OSX 10.14, 10.15 are now working on Tr

[2021-12-28 09:06] whedon commented on #3991
:wave: @jbcaillau, please update us on how your review is going (this is an automated reminder).

[2021-12-28 09:45] jorittmo commented on #3887
Hi @csoneson! Sorry for the delay. I've now included a DOI to the Mitchell et al. (2020) paper!

[2021-12-28 12:05] nmoran commented on #3711
Yes @goerz it is ready for review.

Happy holidays also!

[2021-12-28 12:58] hechth commented on #3978
Hi, yeah, I can do the review :)

[2021-12-28 14:36] jhancock4d commented on #3851
@danielskatz Confirmed!

[2021-12-28 14:40] TomTranter commented on #4000
@kyleniemeyer I don't really see that there will be a conflict. I haven't worked with @jgostick for 3 years and I know that he would be more than fair. How long do you expect that I have to wait?

[2021-12-28 15:51] arfon commented on #3771
@whedon accept deposit=true

[2021-12-28 15:51] whedon commented on #3771
[code]

[2021-12-28 15:51] majensen commented on #3940
@keichi - can you please address the points made by @Fil and @GaurangTandon in comments above? In particular,
* Performance claims: either explain the basis of the claims or temper the claims made in the MS
* Create a CONTRIBUTING.md or other means of addressing community guidelines in the repo
* Highlight maybe more clearly the contrast between the state of the field and the contribution that bin

[2021-12-28 15:52] whedon commented on #3771
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1475857103847837705) 👈 🐦🐦🐦

[2021-12-28 15:52] whedon commented on #3771
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2850
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03771](https://doi.org/10.21105/joss.03771)
2. If everything look

[2021-12-28 15:53] majensen commented on #3431
Happy new year all - let's try to make the big push over the line in January!

[2021-12-28 15:55] majensen commented on #3914
@acolum @chryswoods so sorry for being AWOL these few weeks. Thanks so much for the completed review. @klmedeiros : how is your review coming along? Can we expect it in January?

[2021-12-28 15:57] danielskatz commented on #3851
@whedon assign @jhancock4d as reviewer

again, we won't start the actual review until we find one more reviewer

[2021-12-28 15:57] arfon commented on #3771
@zingale, @changgoo – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@soffner – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-28 15:57] #3771 closed

[2021-12-28 15:57] whedon commented on #3851
OK, @jhancock4d is now a reviewer

[2021-12-28 15:57] whedon commented on #3771
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03771/status.svg)](https://doi.org/10.21105/joss.03771)

**We need your help!**

Journal of Open Source Softwa

[2021-12-28 15:57] majensen commented on #3197
@dimitridarras thanks so much for these detailed comments. @felipeZ is there interest in restarting this work? Happy new year to all.

[2021-12-28 16:04] whedon commented on #3992
:wave: @sambitdash, please update us on how your review is going (this is an automated reminder).

[2021-12-28 16:04] whedon commented on #3992
:wave: @dionhaefner, please update us on how your review is going (this is an automated reminder).

[2021-12-28 16:12] majensen commented on #4002
Looks pretty cool!

[2021-12-28 16:13] majensen commented on #4002
@whedon assign me as editor

[2021-12-28 16:13] whedon commented on #4002
OK, the editor is @majensen

[2021-12-28 16:13] majensen commented on #4002
@jni would you be willing to review [this work](#4002)?

[2021-12-28 16:36] klmedeiros commented on #3914
@majensen will be done by eow, thanks for checking in!

[2021-12-28 18:36] mikegrudic commented on #3675
@whedon generate pdf

[2021-12-28 18:37] whedon commented on #3675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03675/joss.03675/10.21105.joss.03675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03675/joss.03675/10.21105.joss.03675.pdf) :page_facing_up: :point_left:

[2021-12-28 19:02] mikegrudic commented on #3675
@dfm thanks for your work on this. I have incremented the version to 1.0.0, and have uploaded the version to zenodo: 10.5281/zenodo.5807909

[2021-12-28 19:31] larkz commented on #3804
thanks @TimKam for you review notes. Much appreciated!

To reiterate our main goal from doing this project was
a) Provide a stable and proven implementation of MCTS for the JVM ecosystem.
b) Provide a ready software platform, where researchers can already have the tooling to experiment with new MCTS modifications.
c) Provide key software design principles, specifically for MCTS, where under such d

[2021-12-28 20:00] dfm commented on #3675
@whedon set 1.0.0 as version

[2021-12-28 20:00] whedon commented on #3675
OK. 1.0.0 is the version.

[2021-12-28 20:00] dfm commented on #3675
@whedon set 10.5281/zenodo.5807909 as archive

[2021-12-28 20:00] whedon commented on #3675
OK. <a href="https://doi.org/10.5281/zenodo.5807909" target="_blank">10.5281/zenodo.5807909</a> is the archive.

[2021-12-28 20:01] dfm commented on #3675
@whedon recommend-accept

[2021-12-28 20:01] whedon commented on #3675
[code]

[2021-12-28 20:01] whedon commented on #3675
[code]

[2021-12-28 20:01] whedon commented on #3675
PDF failed to compile for issue #3675 with the following error:
[code]

[2021-12-28 20:05] dfm commented on #3675
@whedon generate pdf

[2021-12-28 20:05] whedon commented on #3675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03675/joss.03675/10.21105.joss.03675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03675/joss.03675/10.21105.joss.03675.pdf) :page_facing_up: :point_left:

[2021-12-28 20:07] dfm commented on #3675
@whedon recommend-accept

[2021-12-28 20:07] whedon commented on #3675
[code]

[2021-12-28 20:07] whedon commented on #3675
[code]

[2021-12-28 20:07] whedon commented on #3675
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2851

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2851, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-28 20:09] dfm commented on #3675
@mikegrudic: Thanks for all your work here! I've handed this off to the EiC team who may have some final edits before processing for publication. Thanks for your submission and your participation in this process!!

@adrn, @maxwelltsai: I really appreciate the time that you volunteered here, and for your thorough and constructive reviews. We couldn't do this without you, so thanks so much for your

[2021-12-28 20:10] mikegrudic commented on #3675
Thanks again everyone!

[2021-12-28 20:18] whedon commented on #3993
:wave: @matthewfeickert, please update us on how your review is going (this is an automated reminder).

[2021-12-28 20:18] whedon commented on #3993
:wave: @altavir, please update us on how your review is going (this is an automated reminder).

[2021-12-28 20:24] whedon commented on #3994
:wave: @tuelwer, please update us on how your review is going (this is an automated reminder).

[2021-12-28 20:24] whedon commented on #3994
:wave: @henrykironde, please update us on how your review is going (this is an automated reminder).

[2021-12-28 20:46] arfon commented on #3675
@whedon accept deposit=true

[2021-12-28 20:46] whedon commented on #3675
[code]

[2021-12-28 20:47] whedon commented on #3675
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1475931427585863680) 👈 🐦🐦🐦

[2021-12-28 20:47] whedon commented on #3675
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2852
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03675](https://doi.org/10.21105/joss.03675)
2. If everything look

[2021-12-28 20:51] arfon commented on #3675
@adrn, @maxwelltsai – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@mikegrudic – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-28 20:51] #3675 closed

[2021-12-28 20:52] whedon commented on #3675
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03675/status.svg)](https://doi.org/10.21105/joss.03675)

**We need your help!**

Journal of Open Source Softwa

[2021-12-28 23:42] Spartanzhao commented on #3916
@whedon re-invite @elliothershberg as reviewer

[2021-12-28 23:43] whedon commented on #3916
I'm sorry @Spartanzhao, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-12-28 23:49] Spartanzhao commented on #3916
@pkerpedjiev please inform me what I should do now, some of my test data is too big, I can't upload it to github, So I gived a link that you can download it from that link. The link information is in data/required_data.txt

[2021-12-28 23:52] Spartanzhao commented on #3916
I think the invitation link is expired, could you resend me a link? @elliothershberg

[2021-12-28 23:55] danielskatz commented on #3916
@whedon re-invite @elliothershberg as reviewer

[2021-12-28 23:55] whedon commented on #3916
@elliothershberg already has access.

[2021-12-28 23:55] danielskatz commented on #3916
@Spartanzhao - what's the problem with the invitation you are trying to solve?

[2021-12-29 01:02] leosunpsy commented on #3897
@alexrockhill @TomDonoghue The GUI resize problem has been fixed in my pull request ( #9633).

[2021-12-29 07:46] csoneson commented on #3887
@whedon check references

[2021-12-29 07:46] whedon commented on #3887
[code]

[2021-12-29 07:47] csoneson commented on #3887
@whedon generate pdf

[2021-12-29 07:47] whedon commented on #3887
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03887/joss.03887/10.21105.joss.03887.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03887/joss.03887/10.21105.joss.03887.pdf) :page_facing_up: :point_left:

[2021-12-29 07:51] csoneson commented on #3887
Great! The next steps then are as follows:

- [ ] Make a tagged release of the software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service
- [ ] Check that the archival deposit (e.g., in Zenodo) has the correct metadata. In particular, the title and author list should be identical to those of the paper. You can also add the au

[2021-12-29 08:17] arfon commented on #4008
@whedon invite @galessiorob as editor

👋 @galessiorob – would you be able to edit this submission for us?

[2021-12-29 08:17] whedon commented on #4008
@galessiorob has been invited to edit this submission.

[2021-12-29 08:19] arfon commented on #4018
@engyasin – many thanks for your submission to JOSS. While I look for a possible editor, if you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use the following commands (one at a time, as the first line of a new comment) to regenerate the PDF and check the references.

@whedon generate pdf
@whedon check references

[2021-12-29 08:20] arfon commented on #4018
@whedon invite @jni as editor

:wave: @jni – would you be able to handle this submission for us?

[2021-12-29 08:20] whedon commented on #4018
@jni has been invited to edit this submission.

[2021-12-29 08:21] arfon commented on #4019
:wave: @jhollist – many thanks for your submission to JOSS! While I look for an editor to handle your submission if you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use the following commands (one at a time, as the first line of a new comment) to regenerate the PDF and check the references.

@whedon generate pdf
@whedon check references

[2021-12-29 08:22] arfon commented on #4019
@whedon invite @Bisaloo as editor

:wave: @Bisaloo – would you be willing to edit this submission for JOSS?

[2021-12-29 08:22] whedon commented on #4019
@Bisaloo has been invited to edit this submission.

[2021-12-29 08:25] arfon commented on #4023
:wave: @jiahecui – many thanks for your submission to JOSS. While I look for an editor to handle your submission if you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use the following commands (one at a time, as the first line of a new comment) to regenerate the PDF and check the references.

@whedon generate pdf
@whedon check references

[2021-12-29 08:25] arfon commented on #4023
@whedon invite @jni as editor

:wave: @jni – would you be able to edit this submission for JOSS? Many thanks!

[2021-12-29 08:25] whedon commented on #4023
@jni has been invited to edit this submission.

[2021-12-29 08:31] arfon commented on #4025
:wave: @Evmoerman – many thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

If you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use

[2021-12-29 08:32] arfon commented on #4025
For future JOSS EiCs on rotation, `@lucydot`, `@jarvist`, or `@richardjgowers` would be good editors here.

[2021-12-29 08:33] whedon opened #4026 "[PRE REVIEW]: SimuPy Flight Vehicle Toolkit"
**Submitting author:** @ixjlyons (<a href="http://orcid.org/0000-0002-9143-8459">Kenneth Lyons</a>)
**Repository:** https://github.com/nasa/simupy-flight
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.1
**Editor:** @prashjha
**Reviewers:** @athulpg007, @aliaksei135
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2021-12-29 08:33] whedon commented on #4026
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-29 08:33] whedon commented on #4026
Failed to discover a `Statement of need` section in paper

[2021-12-29 08:33] whedon commented on #4026
Wordcount for `paper.md` is 378

[2021-12-29 08:33] whedon commented on #4026
[code]

[2021-12-29 08:33] whedon commented on #4026
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04026/joss.04026/10.21105.joss.04026.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04026/joss.04026/10.21105.joss.04026.pdf) :page_facing_up: :point_left:

[2021-12-29 08:34] whedon commented on #4026
[code]

[2021-12-29 08:40] whedon opened #4027 "[PRE REVIEW]: NLFFF: A Python package for a 3D non-linear force-free magnetic field extrapolation in cartesian coordinate system"
**Submitting author:** @liusnaoc (<a href="http://orcid.org/0000-0002-1396-7603">Suo Liu</a>)
**Repository:** <a href="https://github.com/liusnaoc/NLFFF_opti.git" target ="_blank">https://github.com/liusnaoc/NLFFF_opti.git</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-12-29 08:40] whedon commented on #4027
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-29 08:40] whedon commented on #4027
Wordcount for `paper.md` is 856

[2021-12-29 08:40] whedon commented on #4027
[code]

[2021-12-29 08:40] whedon commented on #4027
[code]

[2021-12-29 08:40] whedon opened #4028 "[PRE REVIEW]: mixR: An R package for Finite Mixture Modeling for Both Raw and Binned Data"
**Submitting author:** @GaryBAYLOR (<a href="http://orcid.org/0000-0003-0519-9605">Youjiao Yu</a>)
**Repository:** <a href="https://github.com/GaryBAYLOR/mixR.git" target ="_blank">https://github.com/GaryBAYLOR/mixR.git</a>
**Version:** 0.2.0
**Editor:** @fboehm
**Reviewers:** @welch16, @soodoku
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-12-29 08:40] whedon commented on #4028
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-29 08:40] whedon commented on #4028
Wordcount for `paper.md` is 1138

[2021-12-29 08:40] whedon commented on #4028
[code]

[2021-12-29 08:40] whedon commented on #4027
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04027/joss.04027/10.21105.joss.04027.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04027/joss.04027/10.21105.joss.04027.pdf) :page_facing_up: :point_left:

[2021-12-29 08:41] whedon commented on #4028
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04028/joss.04028/10.21105.joss.04028.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04028/joss.04028/10.21105.joss.04028.pdf) :page_facing_up: :point_left:

[2021-12-29 08:41] arfon commented on #4027
@whedon query scope

@liusnaoc – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-12-29 08:41] whedon commented on #4027
Submission flagged for editorial review.

[2021-12-29 08:41] whedon commented on #4028
[code]

[2021-12-29 08:43] arfon commented on #4028
@whedon invite @fboehm as editor

:wave: @fboehm – would you be willing to edit this submission for JOSS?

[2021-12-29 08:43] whedon commented on #4028
@fboehm has been invited to edit this submission.

[2021-12-29 08:44] arfon commented on #4028
@GaryBAYLOR – many thanks for your submission to JOSS. While we look for an editor, if you want to fix the DOIs (noting that whedon's suggestions are not always right), you can, then use the following commands (one at a time, as the first line of a new comment) to regenerate the PDF and check the references.

@whedon generate pdf
@whedon check references

[2021-12-29 08:46] arfon commented on #4026
@ixjlyons – many thanks for your submission to JOSS. While we look for an editor to handle this submission, if you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use the following commands (one at a time, as the first line of a new comment) to regenerate the PDF and check the references.

@whedon generate pdf
@whedon check references

[2021-12-29 08:49] arfon commented on #4026
@ixjlyons – I also see that your software is licensed under the NOSA agreement. Could you please update the PDF license to be a plain text file named `LICENSE` in your repository (with the [NOSA agreement language](https://opensource.org/licenses/NASA-1.3)).

[2021-12-29 09:29] MLRichter commented on #3992
Hello,
sorry for the delayed answer during Christmastime.
Hope you all had a great holiday season!
Thank you for your feedback, I have compiled some answers to your remarks:

1. What is delve trying to be?
It is primarily a tool for monitoring saturation and derived information like the intrinsic dimensionality and some visualizations, and this is its primary goal.
It CAN be used for experiment co

[2021-12-29 09:55] jbytecode commented on #3965
Dear reviewers @mkitti and @pitsianis

The author(s) made some corrections/additions and the paper has been a little bit changed. Are you agreed with these changes?

Could you please continue to review?

Thank you in advance and have a nice new year! 🎈🙃

[2021-12-29 10:00] jbytecode commented on #3895
Dear @csinva

Please consider the review and make the corrections if you agree with the comments. After you have done with them, please ping us here to let us to check the entire staff.

Thank you (both reviewers and the authors) in advance and have a nice new year! 🎈🙃

fyi: @kmichael08  @richrobe

[2021-12-29 10:05] CamilleMorlighem commented on #4015
Hello ! I started the review. I have a few comments already:
1. About the software paper, I think everything is there. I just noticed a spelling mistake line 17 in the summary (in the article proof) "rmap is desgined" and there are also the few missing/invalid DOIs already noticed by whedon in a previous comment.
2. I can see in the user guide that the type of license is BSD_2_clause but it does n

[2021-12-29 10:33] jorittmo commented on #3887
Hi @csoneson!

I've now made a tagged release ([v0.1.4](https://github.com/jorittmo/singcar/tree/v0.1.4)) and archived this version at Zenodo with DOI: [10.5281/zenodo.5808757](https://doi.org/10.5281/zenodo.5808757).

Best

[2021-12-29 10:35] csoneson commented on #3887
@whedon set 10.5281/zenodo.5808757 as archive

[2021-12-29 10:35] whedon commented on #3887
OK. <a href="https://doi.org/10.5281/zenodo.5808757" target="_blank">10.5281/zenodo.5808757</a> is the archive.

[2021-12-29 10:36] csoneson commented on #3887
@whedon set 0.1.4 as version

[2021-12-29 10:36] whedon commented on #3887
OK. 0.1.4 is the version.

[2021-12-29 10:36] csoneson commented on #3887
Excellent - I'm going to hand over to an associate EiC now for the final steps.

[2021-12-29 10:37] csoneson commented on #3887
@whedon recommend-accept

[2021-12-29 10:37] whedon commented on #3887
[code]

[2021-12-29 10:37] whedon commented on #3887
[code]

[2021-12-29 10:37] whedon commented on #3887
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2853

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2853, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-29 11:22] liusnaoc commented on #4027
@arfon  I integrate some complex algorithms into one program, which may be relatively small, but it needs a lot of programming and related testing work.

[2021-12-29 12:00] mkitti commented on #3965
1. Could the authors clarify how others may make contributions to the software?
2. There are missing references for NumPy and Julia.
3. Can we clarify if we expect the VTK version 8.2 dependency to work via Msys on Windows?
4. On Ubuntu, I am not clear how to install openblas other than `sudo apt install libopenblas-dev`. What version is required?

[2021-12-29 12:09] mkitti commented on #3965
I currently have libopenblas-dev 0.2.20+ds-4 from  https://packages.ubuntu.com/bionic/libopenblas-dev.

I suspect that the authors tested against libopenblas-dev 0.3.8+ds-1 https://packages.ubuntu.com/focal/libopenblas-dev

It looks like the fix is in https://github.com/xianyi/OpenBLAS/pull/1347 so at least version libopenblas-dev 0.3 is required by Castor. Could the authors confirm this is the ca

[2021-12-29 12:19] mkitti commented on #3965
Could the authors specify what the version of all the dependencies they tested again are?

Specify the versions of the following:
1. cmake
2. vtk
3. openblas
4. Ubuntu
5. brew
6. MSYS2
7. freeglut3-dev
8. base-devel
9. mingw-w64-x86_64-gcc
10. mingw-w64-x86_64-cmake
11. mingw-w64-x86_64-openblas
12. mingw-w64-x86_64-vtk

[2021-12-29 12:22] mkitti commented on #3965
Also specify the versions of MATLAB and Julia used for the State of the Field code.

[2021-12-29 13:32] PTierz commented on #3649
Dear @elbeejay,

Thank you very much once again for all your support and assistance during the entire review process.

I have just merged the `JOSS_paper` branch into `main` and released version [`v1.3.2`](https://github.com/BritishGeologicalSurvey/pyvolcans/releases/tag/v1.3.2).

I have also archived [this version on Zenodo](https://zenodo.org/record/5809105#.Ycxiwdso85k) and obtained the followi

[2021-12-29 13:45] jhollist commented on #4019
@arfon Thanks for the Whedon tips.  I have looked at those suggested DOIs and will run the checks shortly.

[2021-12-29 13:45] jhollist commented on #4019
@whedon generate pdf

[2021-12-29 13:45] jhollist commented on #4019
@whedon check references

[2021-12-29 13:45] whedon commented on #4019
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04019/joss.04019/10.21105.joss.04019.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04019/joss.04019/10.21105.joss.04019.pdf) :page_facing_up: :point_left:

[2021-12-29 13:45] whedon commented on #4019
[code]

[2021-12-29 13:47] jhollist commented on #4019
@arfon those two invalid DOIs are correct as far as I can tell.  The resolve with https://doi.org/ so I will leave them as is.

[2021-12-29 13:49] mikldk commented on #3979
@nhejazi :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/lates

[2021-12-29 14:21] SeascapeScience commented on #3594
Yes, it looks like I'll have to start on this in the new year. Thanks again for your patience.

[2021-12-29 14:44] whedon commented on #3996
:wave: @videlec, please update us on how your review is going (this is an automated reminder).

[2021-12-29 15:06] fboehm commented on #4028
@whedon assign @fboehm as editor

[2021-12-29 15:06] whedon commented on #4028
OK, the editor is @fboehm

[2021-12-29 15:07] fboehm commented on #4028
@arfon - yes, I'm happy to edit this submission. I'll start looking for reviewers. Thanks!

[2021-12-29 15:09] francescoa97outlook commented on #4013
Dear Arfon! I hope everything is fine!
I have good news, I updated the bibliography with the right reference of Li Zeng article, his paper has just been published!
Thanks for your time,
I wish you a happy new year,
Francesco

[2021-12-29 15:59] zarrarkhan commented on #4015
Hi @CamilleMorlighem,

Thanks for the very useful feedback and comments. Here are the responses to your points:

1. We fixed the typo on line 17 and also fixed the Missing and incorrect DOIs. The updated document can be found here: http://res.cloudinary.com/hkvhhndao/image/upload/v1640793026/zeldl1tq79mt9xnk82us.pdf or in the repo: https://github.com/JGCRI/rmap/tree/main/paper
2. We updated the BS

[2021-12-29 17:05] videlec commented on #3996
I opened 4 PR regarding the basic setup configuration of the project (fredstro/hilbertmodgroup#4, fredstro/hilbertmodgroup#5, fredstro/hilbertmodgroup#6, fredstro/hilbertmodgroup#7). I am starting my reading of the source code now.

[2021-12-29 17:06] videlec commented on #3996
@fredstro : if you need help to implement any one of the issue feel free to ping me in the corresponding issue discussions.

[2021-12-29 17:14] kratzert commented on #4020
@elbeejay thanks for your quick comments and sorry for my delayed reply:

1) No special system requirements for using our package. Training one of the models on any more or less modern pc/laptop should work and complete within (less than a) minute(s). Sure, training larger models on larger datasets (which we do mostly) benefits heavily from an CUDA-capable GPU but I think that is no requirement fo

[2021-12-29 18:56] nhejazi commented on #3979
@whedon generate pdf

[2021-12-29 18:57] whedon commented on #3979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: :point_left:

[2021-12-29 19:24] GaryBAYLOR commented on #4028
@whedon generate pdf

[2021-12-29 19:24] whedon commented on #4028
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04028/joss.04028/10.21105.joss.04028.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04028/joss.04028/10.21105.joss.04028.pdf) :page_facing_up: :point_left:

[2021-12-29 19:24] GaryBAYLOR commented on #4028
@whedon check references

[2021-12-29 19:24] whedon commented on #4028
[code]

[2021-12-29 19:28] GaryBAYLOR commented on #4028
@whedon check references

[2021-12-29 19:28] whedon commented on #4028
[code]

[2021-12-29 19:29] GaryBAYLOR commented on #4028
Thanks! @arfon @fboehm I just added DOIs to all references.

[2021-12-29 20:06] nhejazi commented on #3979
Thanks, @mikldk -- I've completed a final pass through the paper and package documentation, making minor fixes throughout. The PDF created by whedon looks good to me, so I went ahead and created a GitHub release (https://github.com/nhejazi/medoutcon/releases/tag/joss) and archived that release via Zenodo (https://zenodo.org/record/5809520). The archived package is v0.1.6 with DOI 10.5281/zenodo.58

[2021-12-29 21:08] nhejazi commented on #3979
@whedon generate pdf

[2021-12-29 21:09] whedon commented on #3979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: :point_left:

[2021-12-29 23:54] nhejazi commented on #3979
alright, all LGTM after that last pass through the materials

[2021-12-30 11:24] arfon commented on #3887
@whedon accept deposit=true

[2021-12-30 11:24] whedon commented on #3887
[code]

[2021-12-30 11:25] whedon commented on #3887
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1476514734379839492) 👈 🐦🐦🐦

[2021-12-30 11:25] whedon commented on #3887
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2854
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03887](https://doi.org/10.21105/joss.03887)
2. If everything look

[2021-12-30 11:36] arfon commented on #3675
Also, I meant to say that this was JOSS' 1500th published paper! 🎉

[2021-12-30 15:48] fboehm commented on #4028
@whedon list reviewers

[2021-12-30 15:48] whedon commented on #4028
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-12-30 15:52] fboehm commented on #4028
@paragkulkarni11, @ChristopherLucas, @Medewitt, @soodoku - would any of you be willing to review this submission for JOSS? Thanks!

[2021-12-30 15:52] mikldk commented on #3979
@whedon set 10.5281/zenodo.5809520 as archive

[2021-12-30 15:52] whedon commented on #3979
OK. <a href="https://doi.org/10.5281/zenodo.5809520" target="_blank">10.5281/zenodo.5809520</a> is the archive.

[2021-12-30 15:53] mikldk commented on #3979
@whedon check references

[2021-12-30 15:53] mikldk commented on #3979
@whedon generate pdf

[2021-12-30 15:53] whedon commented on #3979
[code]

[2021-12-30 15:54] whedon commented on #3979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: :point_left:

[2021-12-30 16:04] mikldk commented on #3979
@nhejazi Can you add countries to the affiliations in the paper?

[2021-12-30 17:22] arfon commented on #3887
@craddm, @lindemann09 – many thanks for your reviews here and to @csoneson for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jorittmo – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-30 17:22] #3887 closed

[2021-12-30 17:22] whedon commented on #3887
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03887/status.svg)](https://doi.org/10.21105/joss.03887)

**We need your help!**

Journal of Open Source Softwa

[2021-12-30 17:35] jorittmo commented on #3887
Thank you all, I appreciate your work!

[2021-12-30 18:28] nhejazi commented on #3979
Sure @mikldk, just added them [here](https://github.com/nhejazi/medoutcon/commit/1082b5babb96ae862f290b6621d1c6c2dcbcea1f).

@whedon generate pdf

[2021-12-30 18:30] nhejazi commented on #3979
@whedon generate pdf

[2021-12-30 18:31] whedon commented on #3979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: :point_left:

[2021-12-30 19:21] fboehm commented on #4028
@whedon assign @welch16 as reviewer

[2021-12-30 19:21] whedon commented on #4028
OK, @welch16 is now a reviewer

[2021-12-30 21:22] geraldjwang commented on #3981
@ptmerz and team: I wanted to, above all else, congratulate you on a thoughtful (and delightful (and sorely needed)) package, which has really been an end-of-a year treat to look through! (Seriously!) I appreciate the thoughtful iterations w.r.t. points raised by @zadehsey and @tonigi. Our community needs this kind of work. As far as the formal review process, I have nothing further to request: Ev

[2021-12-30 21:24] rkurchin commented on #3981
Thanks everyone! @ptmerz, I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch (if you haven't already) and **issue a new version tag**. _(If you want to merge in the paper itself, you may, but it is not required that the actual manuscript live into the repo in

[2021-12-30 21:25] rkurchin commented on #3981
@whedon generate pdf from branch joss-paper

[2021-12-30 21:25] whedon commented on #3981
[code]

[2021-12-30 21:25] whedon commented on #3981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: :point_left:

[2021-12-30 21:44] rkurchin commented on #3981
Minor editorial suggestions:
* line 12: change to "...simulations depend on the validity..."
* 22: pluralize "base"
* 23: "have led" should be "has led" (subject is singular, "popularity"), also suggest deleting comma at end of line
* 29: pluralize "liquid"
* 31: rephrase to  "`physical_validation` tackles the problem..."
* 32: hyphenate "end-user" (it's being used as a compound adjective)
* 62: r

[2021-12-30 21:45] villaa commented on #3993
@lucydot @matthewfeickert @altavir --  one last update. We have released  [`v1.3.1` ](https://github.com/villano-lab/nrCascadeSim/releases/tag/v1.3.1)and all issues from the previous review and pre-review are  addressed. We have test coverage of around 80%.

If you have not started the review this is the best version to use. If you started on `v1.3.0` the only differences are upgraded documentatio

[2021-12-30 23:24] elbeejay commented on #3649
@whedon set v1.3.2 as version

[2021-12-30 23:24] whedon commented on #3649
OK. v1.3.2 is the version.

[2021-12-30 23:24] elbeejay commented on #3649
@whedon check references

[2021-12-30 23:24] whedon commented on #3649
[code]

[2021-12-30 23:24] elbeejay commented on #3649
@whedon generate pdf

[2021-12-30 23:25] whedon commented on #3649
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: :point_left:

[2021-12-30 23:27] elbeejay commented on #3649
@whedon set 10.5281/zenodo.5809105 as archive

[2021-12-30 23:27] whedon commented on #3649
OK. <a href="https://doi.org/10.5281/zenodo.5809105" target="_blank">10.5281/zenodo.5809105</a> is the archive.

[2021-12-30 23:31] elbeejay commented on #3649
Cool, everything looks good to me. Big thanks again to @meghanrjones and @jifarquharson for providing constructive and helpful reviews.

@PTierz and co-authors: At this point I will recommend PyVOLCANS for publication in JOSS. Next an Editor-in-Chief will review the submission and review thread here to double-check that we haven't missed anything and will either notify you of any minor changes nee

[2021-12-30 23:31] elbeejay commented on #3649
@whedon recommend-accept

[2021-12-30 23:31] whedon commented on #3649
[code]

[2021-12-30 23:31] whedon commented on #3649
[code]

[2021-12-30 23:32] whedon commented on #3649
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2855

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2855, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-30 23:33] elbeejay commented on #4020
Hi @kratzert this is no problem. The answer to item 1 was really the important piece I wanted to clear up before looking for reviewers.

[2021-12-30 23:43] elbeejay commented on #4020
:wave: @dbuscombe-usgs, @jhamman, and @chuckaustin would you be interested in reviewing this submission, "NeuralHydrology --- A Python library for Deep Learning research in hydrology," for JOSS? My understanding is that you all have experience working with either Python or deep learning (or both). At JOSS we have an open checklist-driven review process that takes place through issues on GitHub; re

[2021-12-30 23:57] Spartanzhao commented on #3916
@danielskatz I think the invitation link had been expired, When I open it, It shows nothing.

[2021-12-30 23:58] danielskatz commented on #3916
@Spartanzhao - you are not a reviewer, so I'm unsure why you are trying to open the reviewer invitation

[2021-12-30 23:59] danielskatz commented on #3916
Both reviewers have checked off items on their checklists, indicating that they have accepted their invitations.  I don't see a problem

[2021-12-31 00:18] elliothershberg commented on #3916
Correct, I have also opened issues in your repository @Spartanzhao .

[2021-12-31 01:32] dbuscombe-usgs commented on #4020
Thanks this looks interesting, but I'm on vacation now and a little slammed when I'm back so I'll skip, but I should be able to help next time

[2021-12-31 03:22] whedon commented on #3997
:wave: @PetrKryslUCSD, please update us on how your review is going (this is an automated reminder).

[2021-12-31 03:22] whedon commented on #3997
:wave: @Kevin-Mattheus-Moerman, please update us on how your review is going (this is an automated reminder).

[2021-12-31 04:58] PetrKryslUCSD commented on #3997
Waiting on responses to my suggestions/questions.

[2021-12-31 09:58] engyasin commented on #4018
@arfon  Thanks for the instructions

[2021-12-31 09:58] engyasin commented on #4018
@whedon generate pdf

[2021-12-31 09:59] whedon commented on #4018
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04018/joss.04018/10.21105.joss.04018.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04018/joss.04018/10.21105.joss.04018.pdf) :page_facing_up: :point_left:

[2021-12-31 09:59] engyasin commented on #4018
@whedon check references

[2021-12-31 09:59] whedon commented on #4018
[code]

[2021-12-31 10:32] arfon commented on #3649
@whedon accept deposit=true

[2021-12-31 10:32] whedon commented on #3649
[code]

[2021-12-31 10:33] whedon commented on #3649
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1476864079709020189) 👈 🐦🐦🐦

[2021-12-31 10:33] whedon commented on #3649
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2856
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03649](https://doi.org/10.21105/joss.03649)
2. If everything look

[2021-12-31 10:36] arfon commented on #3649
@jifarquharson, @meghanrjones – many thanks for your thoughtful and detailed reviews here and to @elbeejay for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@PTierz – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-31 10:36] #3649 closed

[2021-12-31 10:36] whedon commented on #3649
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03649/status.svg)](https://doi.org/10.21105/joss.03649)

**We need your help!**

Journal of Open Source Softwa

[2021-12-31 11:56] martejulie commented on #4012
@whedon generate pdf

[2021-12-31 11:57] whedon commented on #4012
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: :point_left:

[2021-12-31 12:11] whedon commented on #3998
:wave: @cmbiwer, please update us on how your review is going (this is an automated reminder).

[2021-12-31 12:11] whedon commented on #3998
:wave: @dbkeitel, please update us on how your review is going (this is an automated reminder).

[2021-12-31 12:31] Bisaloo commented on #4019
Hi, I'm currently on leave with a limited internet access until January 20. I think it's better if you are able to find another editor for this submission.

[2021-12-31 14:52] CamilleMorlighem commented on #4015
Hi @zarrarkhan,

Thank you for your responses !

I have tested the documentation and functionality of the package. The documentation is very clear and structured and very user friendly! I just have the following comments for improvement:
1. The information link (https://confluence.pnnl.gov/confluence/display/JGCRI/GCAM+Shape+Files) in the help section of the maps `mapGCAMBasins` and `mapGCAMReg32`

[2021-12-31 20:35] soodoku commented on #4028
hey @GaryBAYLOR: can you say more about the diff. w/ mixtools? what does your package do that mixtools doesn't?

[2021-12-31 20:37] KristinaRiemer commented on #3978
Hi @hechth, thank you so much for being able to do this review!

[2021-12-31 20:38] KristinaRiemer commented on #3978
@whedon add @hechth as reviewer

[2021-12-31 20:38] whedon commented on #3978
OK, @hechth is now a reviewer

[2021-12-31 20:39] KristinaRiemer commented on #3978
@whedon start review

[2021-12-31 20:39] whedon opened #4029 "[REVIEW]: patRoon 2.0: Improved non-target analysis workflows including automated transformation product screening"
**Submitting author:** @rickhelmus (<a href="http://orcid.org/0000-0001-9401-3133">Rick Helmus</a>)
**Repository:** https://github.com/rickhelmus/patRoon
**Branch with paper.md** (empty if default branch): paper20
**Version:** v2.0.1
**Editor:** @KristinaRiemer
**Reviewers:** @wesleyburr, @hechth
**Archive:** 10.5281/zenodo.6337883

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-12-31 20:39] whedon commented on #3978
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4029.

[2021-12-31 20:39] #3978 closed

[2021-12-31 20:39] whedon commented on #4029
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wesleyburr, @hechth it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-12-31 20:39] whedon commented on #4029
PDF failed to compile for issue #4029 with the following error:
[code]

[2021-12-31 20:40] whedon commented on #4029
[code]

[2021-12-31 20:40] KristinaRiemer commented on #3978
Okay, @wesleyburr & @hechth, the review will happen in the GitHub issue linked to in the previous message from whedon. Instructions and your checklists for the review are located there in the top comment. Let me know over there if you have questions for me or the author!

[2021-12-31 20:48] KristinaRiemer commented on #3942
@whedon add @bczernecki as reviewer

[2021-12-31 20:48] whedon commented on #3942
OK, @bczernecki is now a reviewer

[2021-12-31 20:49] KristinaRiemer commented on #3942
@whedon start review

[2021-12-31 20:49] whedon opened #4030 "[REVIEW]: epwshiftr: Create future EnergyPlus Weather files using CMIP6 data"
**Submitting author:** @hongyuanjia (<a href="http://orcid.org/0000-0002-0075-8183">Hongyuan Jia</a>)
**Repository:** https://github.com/ideas-lab-nus/epwshiftr
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.3
**Editor:** @KristinaRiemer
**Reviewers:** @mitmat, @bczernecki
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2021-12-31 20:49] whedon commented on #3942
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4030.

[2021-12-31 20:49] #3942 closed

[2021-12-31 20:49] whedon commented on #4030
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mitmat, @bczernecki it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-12-31 20:49] whedon commented on #4030
Failed to discover a `Statement of need` section in paper

[2021-12-31 20:49] whedon commented on #4030
Wordcount for `paper.md` is 709

[2021-12-31 20:49] whedon commented on #4030
[code]

[2021-12-31 20:49] whedon commented on #4030
[code]

[2021-12-31 20:49] whedon commented on #4030
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04030/joss.04030/10.21105.joss.04030.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04030/joss.04030/10.21105.joss.04030.pdf) :page_facing_up: :point_left:

[2021-12-31 20:50] KristinaRiemer commented on #3942
Hi @mitmat and @bczernecki! Thank you again for agreeing to review this JOSS submission. The review itself will happen in the GitHub issue linked to above. Feel free to let me know if you have questions about this process or the submission there.

[2021-12-31 22:21] dmikushin commented on #3896
Hi @slayoo , is there a performance comparison between Numba-based PyMPDATA and any other native code implementations of your choice? That would be really interesting to see!

[2021-12-31 23:22] GaryBAYLOR commented on #4028
Hi @soodoku, Thanks for the question. The main features in mixR but not in mixtools package are
(a) `mixR` can fit mixtures models for both raw data and binned data, while `mixtools` is only for raw data (which might not be a very precise summary as `mixtools` provides functions to analyze discrete data such as Poisson data, multinomial data, as well as allowing censored data. But since mixR focus

[2022-01-01 08:38] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant best wishes for 2022! :tada:

You can start addressing issues as they come in and as you see fit.

[2022-01-01 10:01] lucydot commented on #3993
Thanks for the update @villaa and Happy New Year ✨

I'll update the version number now. Usually we update the version number at the end of the review process - in this case, I'll update now to avoid any confusion as to which version is under review.

[2022-01-01 10:01] lucydot commented on #3993
@whedon set version as v1.3.1

[2022-01-01 10:01] whedon commented on #3993
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-01 10:02] lucydot commented on #3993
@whedon set v1.3.1 as version

[2022-01-01 10:02] whedon commented on #3993
OK. v1.3.1 is the version.

[2022-01-01 10:25] lucydot commented on #4014
Hi @dandavies99 thank-you for your quick and timely review 👍

Hi @jstse - RE: the paper. I agree with the suggestions @dandavies99 makes above, in addition:
- "in order to improve performance": this is a little vague. Is this a speed-up compared to the previous software release(s)?
- "Similarly, to the surface module,": the wording here doesn't sound right: perhaps re-phrased to "Similar to the th

[2022-01-01 19:13] soodoku commented on #4028
thanks for the summary @GaryBAYLOR.  i also read the paper.  @fboehm happy to review.

[2022-01-01 23:49] diehlpk commented on #3465
@elwinter Happy New Year. It would be great if you could finish the above tasks soon, so we can publish your paper.

[2022-01-01 23:51] diehlpk commented on #3724
hi @kylebeggs how is your review going?

[2022-01-01 23:51] diehlpk commented on #3959
Hi @vijaysm and @krober10nd how is your review going?

[2022-01-02 00:02] krober10nd commented on #3959
Hey @diehlpk im on a holiday until the 6 of January then will continue where we left off. I tried a number of ways to install the package to no avail on my personal laptop. I can try with another OS and see if I have better luck. I’ve posted issues on the repository.

[2022-01-02 03:11] fboehm commented on #4028
@whedon add @soodoku as reviewer

[2022-01-02 03:11] whedon commented on #4028
OK, @soodoku is now a reviewer

[2022-01-02 03:11] fboehm commented on #4028
@whedon begin review

[2022-01-02 03:11] whedon commented on #4028
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-02 03:11] fboehm commented on #4028
@whedon start review

[2022-01-02 03:11] whedon opened #4031 "[REVIEW]: mixR: An R package for Finite Mixture Modeling for Both Raw and Binned Data"
**Submitting author:** @GaryBAYLOR (<a href="http://orcid.org/0000-0003-0519-9605">Youjiao Yu</a>)
**Repository:** <a href="https://github.com/GaryBAYLOR/mixR.git" target ="_blank">https://github.com/GaryBAYLOR/mixR.git</a>
**Version:** v0.2.1
**Editor:** @fboehm
**Reviewer:** @welch16, @soodoku
**Archive:** <a href="https://doi.org/10.5281/zenodo.5842096" target="_blank">10.5281/zenodo.5842096</a

[2022-01-02 03:11] whedon commented on #4028
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4031.

[2022-01-02 03:11] #4028 closed

[2022-01-02 03:11] whedon commented on #4031
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @welch16, @soodoku it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2022-01-02 03:12] whedon commented on #4031
Wordcount for `paper.md` is 1120

[2022-01-02 03:12] whedon commented on #4031
[code]

[2022-01-02 03:12] whedon commented on #4031
[code]

[2022-01-02 03:12] whedon commented on #4031
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04031/joss.04031/10.21105.joss.04031.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04031/joss.04031/10.21105.joss.04031.pdf) :page_facing_up: :point_left:

[2022-01-02 04:21] jeffriley commented on #3838
I'll try to get to this - or ask Simon if he's around - in the next few days.  I've been out of action for the past week...

[2022-01-02 13:47] MLRichter commented on #3992
Happy New Year everyone,
This pull request, contains the reworked text Eigendecomposition:
https://github.com/delve-team/delve/pull/60
Please let me know if this is sufficient!

[2022-01-02 13:48] majensen commented on #4002
@bgyori - Have you got any recommendations for reviewers? You can have a look at https://bit.ly/joss-reviewers. If there are any that make sense, please respond here, but don't "@" them (so they don't get pinged). Thanks!

[2022-01-02 14:06] bgyori commented on #4002
Hi @majensen, yes, I looked at the list starting from the bottom and think the following potential reviewers have relevant expertise:
- rvhonorato
- woolfeh
- ayaanhossain

Outside the JOSS list, the following people have relevant expertise:
- leonweber
- nturaga
- dtenenba
- dhimmel

[2022-01-02 16:48] antoinevacavant commented on #3920
@Kevin-Mattheus-Moerman thanks a lot, all my best wishes for 2022! ;)
I will address those issues asap.

[2022-01-02 17:06] kylebeggs commented on #3724
@diehlpk going good, haven't made much progress lately due to holiday season. Will be finishing this next week.

[2022-01-02 19:40] MLRichter commented on #3992
@whedon generate pdf

[2022-01-02 19:40] whedon commented on #3992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: :point_left:

[2022-01-02 20:21] sfsinger19103 commented on #3739
@ajstewartlang paper in `joss-submission` branch in the repo has the changes you suggested (except for that comma). It's good to go as far as I'm concerned.

Thanks again for the great feedback.

[2022-01-03 00:51] slayoo commented on #3896
@dmikushin Thanks for feedback. Very good point on including a performance comparison with other implementations,

We have so far:
- looked at wall times for these tests which have direct counterparts in libmpdata++ (Github Actions used in both projects - times on similar virtual machines are available for each CI build, but these include compilation times in the case of PyMPDATA, hence not straig

[2022-01-03 07:15] kellertuer commented on #3866
@dpsanders good morning and happy new year. May I ask what the next steps are here?

[2022-01-03 07:31] hugoledoux commented on #4011
@whedon add @Narayana-Rao as reviewer

[2022-01-03 07:31] whedon commented on #4011
OK, @Narayana-Rao is now a reviewer

[2022-01-03 07:31] hugoledoux commented on #4011
@whedon start review

[2022-01-03 07:31] whedon opened #4032 "[REVIEW]: CGC: a scalable Python package for co- and tri-clustering of geo-data cubes"
**Submitting author:** @fnattino (<a href="http://orcid.org/0000-0003-3286-0139">Francesco Nattino</a>)
**Repository:** https://github.com/phenology/cgc
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v0.6.2
**Editor:** @hugoledoux
**Reviewers:** @Subho07, @Narayana-Rao
**Archive:** 10.5281/zenodo.6342263

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2022-01-03 07:31] whedon commented on #4011
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4032.

[2022-01-03 07:31] #4011 closed

[2022-01-03 07:31] whedon commented on #4032
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Subho07, @Narayana-Rao it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2022-01-03 07:32] whedon commented on #4032
[code]

[2022-01-03 07:32] whedon commented on #4032
PDF failed to compile for issue #4032 with the following error:
[code]

[2022-01-03 07:45] mikldk commented on #3979
@whedon check references

[2022-01-03 07:46] whedon commented on #3979
[code]

[2022-01-03 07:47] mikldk commented on #3979
@whedon generate pdf

[2022-01-03 07:47] whedon commented on #3979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: :point_left:

[2022-01-03 07:49] mikldk commented on #3979
@whedon recommend-accept

[2022-01-03 07:49] whedon commented on #3979
[code]

[2022-01-03 07:50] whedon commented on #3979
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2857

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2857, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-03 07:50] whedon commented on #3979
[code]

[2022-01-03 07:53] mikldk commented on #3941
@holtgrewe, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2022-01-03 09:01] whedon commented on #4012
:wave: @blbentley, please update us on how your review is going (this is an automated reminder).

[2022-01-03 09:01] whedon commented on #4012
:wave: @martejulie, please update us on how your review is going (this is an automated reminder).

[2022-01-03 09:02] rougier commented on #3974
Here are some temporary comments on the submission since I'm waiting for an [issue](https://github.com/tiagoseq/NeuralFieldEq.jl/issues/29) to be solved before going further.

1. Repository is way too big (36Mo) due mostly to the presence of gif animations in the imag and doc directories. Problem is that the doc directories containes the build website for no obvious reason. I would advise to clean

[2022-01-03 09:51] dionhaefner commented on #3992
Thanks @MLRichter, the section is much better now!

The remaining to-do list from my side is this:

- [ ] Clarify in the paper what Delve is trying to be, i.e.

- [ ] Address the issues on the Delve repository.
- [ ] I noticed quite a few typos in the new section, so please run the manuscript through a spell checker or ask a colleague to provide some copy-editing.

After that we're good to go!

[2022-01-03 10:28] altavir commented on #3993
Happy new year to everyone. I've finally found some time to review the code and the paper and open [some issues](https://github.com/villano-lab/nrCascadeSim/issues/created_by/altavir). Not all of them are critical though. What I think is the most important is [this one](https://github.com/villano-lab/nrCascadeSim/issues/75). The lack of comparison of results with other tools as well as regression

[2022-01-03 10:55] ajstewartlang commented on #3739
@whedon generate pdf from branch joss-submission

[2022-01-03 10:56] whedon commented on #3739
[code]

[2022-01-03 10:56] whedon commented on #3739
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: :point_left:

[2022-01-03 10:57] ajstewartlang commented on #3739
@whedon check references from branch joss-submission

[2022-01-03 10:57] whedon commented on #3739
[code]

[2022-01-03 10:57] whedon commented on #3739
[code]

[2022-01-03 10:58] ajstewartlang commented on #3739
@whedon set v2.0.1 as version

[2022-01-03 10:58] whedon commented on #3739
OK. v2.0.1 is the version.

[2022-01-03 10:59] ajstewartlang commented on #3739
@whedon set 10.5281/zenodo.5802556 as archive

[2022-01-03 10:59] whedon commented on #3739
OK. <a href="https://doi.org/10.5281/zenodo.5802556" target="_blank">10.5281/zenodo.5802556</a> is the archive.

[2022-01-03 11:01] bonh commented on #3742
On documentation: uw-comphys/opencmp#18

[2022-01-03 11:04] ajstewartlang commented on #3739
@whedon recommend-accept

[2022-01-03 11:04] whedon commented on #3739
[code]

[2022-01-03 11:04] whedon commented on #3739
PDF failed to compile for issue #3739 with the following error:
[code]

[2022-01-03 11:05] ajstewartlang commented on #3739
@whedon recommend-accept from branch joss-submission

[2022-01-03 11:05] whedon commented on #3739
[code]

[2022-01-03 11:05] whedon commented on #3739
[code]

[2022-01-03 11:05] whedon commented on #3739
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2858

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2858, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-03 11:45] tiagoseq commented on #3974
Hello,

I can answer some of the comments:

1. Indeed the repo is too big due to the animations present in the docs section. I'll see what I can do to solve this problem, I guess I will take your advice and create a new repository for the docs, or re-write "lighter" documentation without too many animations.
I have to address this question carefully, I'll give updates on this soon.

2. The name of

[2022-01-03 12:33] sambitdash commented on #3992
Thanks a lot for all the updates. I shall be reviewing the next round over the weekend and providing my feedback.

[2022-01-03 12:34] whedon commented on #4014
:wave: @awvwgk, please update us on how your review is going (this is an automated reminder).

[2022-01-03 12:52] hechth commented on #4029
@whedon generate pdf from branch paper20

[2022-01-03 12:52] whedon commented on #4029
[code]

[2022-01-03 12:53] whedon commented on #4029
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04029/joss.04029/10.21105.joss.04029.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04029/joss.04029/10.21105.joss.04029.pdf) :page_facing_up: :point_left:

[2022-01-03 14:34] danielskatz commented on #3970
@LeonidPryadko - I've been on vacation the last two weeks and will still be this week, but we do need to find reviewers, and for you to create a README that meets the JOSS requirements.

[2022-01-03 14:35] danielskatz commented on #3967
HI @bmagyar and @SeungBack - I've been on vacation, and continue to be for another week, but also want to check on the status of this review.  I'll check again on the 10th when I'm back at work.

[2022-01-03 14:36] danielskatz commented on #3851
@ddeehere (and @jhancock4d) - I've been on vacation the last two weeks and am also this week, but I'll start looking for another reviewer again on the 10th.  If you have any suggestions, please also make them here.

[2022-01-03 15:03] adi3 commented on #4003
@whedon assign @adi3 as editor

[2022-01-03 15:03] whedon commented on #4003
OK, the editor is @adi3

[2022-01-03 15:04] adi3 commented on #4003
@Rehablab - I'll be the editor for this review. To get things going, could you please suggest 5-6 reviewers from this list that you consider appropriate to vet this paper? While selecting, you should confirm that the domain expertise of the reviewer matches the subject matter of your paper and software.

Thank you!

[2022-01-03 15:12] whedon commented on #4015
:wave: @maczokni, please update us on how your review is going (this is an automated reminder).

[2022-01-03 15:12] whedon commented on #4015
:wave: @CamilleMorlighem, please update us on how your review is going (this is an automated reminder).

[2022-01-03 16:09] ptmerz commented on #3981
Thank you for your time and your thoughtful review @geraldjwang. It am very happy to hear that you find our work useful - reading your comment was indeed a nice way to start the new year :)

As for your suggestions for additional tests, please do not hesitate to get in touch either via the GitHub issue tracker, or directly via e-mail. We would love to add new functionality that is useful to the co

[2022-01-03 16:14] zhanghe9704 commented on #3665
Happy new year to everyone!
Just want to follow up on the review progress of this submission. Is there
anything I could/should do to help? Thanks.

Best regards,

He Zhang
Computational Accelerator Physicist
Center for Advanced Science of Accelerators
Jefferson Lab
(O) 757-269-6657
www.hezhang.us

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_conte

[2022-01-03 16:25] villaa commented on #3993
@altavir Happy New Year! Thank you very much for your review,  I see the issues on our issue tracker and the team will address them and comment here when they're finished.

Do you know what style of Linux WSL uses? We haven't tested on Windows but could try to match the system.

@gerudo7 do you run WSL?

[2022-01-03 16:39] ax3l commented on #3665
Hi, I am sorry that I fully missed the ping earlier in the thread. I have a big backlog on GitHub notifications (about 400), I am sorry for that.

I pinged Robert Ryne and David Sagan on your request, but don't know their schedules. I also asked other people on our team if they can help out.

With the topic of the submission, I might be able to do the technical review but would have to read into t

[2022-01-03 17:03] sfsinger19103 commented on #3739
Just noticed a sentence fragment in the summary. If it's not too late, how can we correct it per: https://github.com/openjournals/joss-papers/pull/2858#issuecomment-1004226020

[2022-01-03 17:05] d-eggert commented on #4009
Thanks for your feedback, @martinfleis. I expected it to be possible as soon as I set the visibility to 'public', which is obviously not the case. :man_shrugging:

@cfgmr is it possible to enable issue creation for anonymous users at the geomar gitlab instance or shall/can we create accounts for the reviewers?

[2022-01-03 17:08] d-eggert commented on #4009
@martinfleis, I fixed the typo, thanks.

@whedon generate pdf from branch joss-submission

[2022-01-03 17:11] gerudo7 commented on #3993
Yes! I've been doing all my work with nrCascadeSim in WSL. I know for certain that it works for me with root version 6.22/00 installed via conda, but I just tried it with the latest precompiled binary for version 6.24 and nrCascadeSim won't make. I'm guessing that the problem is with using the precompiled binaries in WSL, but I'm still testing that theory. (I will work on adding whatever I find to

[2022-01-03 17:14] martinfleis commented on #4009
Thanks!

It is not a question of reviewers as much as normal users of your software. Manual creation of accounts for selected people doesn't qualify, I am afraid.

[2022-01-03 17:14] martinfleis commented on #4009
@whedon generate pdf from branch joss-submission

[2022-01-03 17:14] whedon commented on #4009
[code]

[2022-01-03 17:14] whedon commented on #4009
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04009/joss.04009/10.21105.joss.04009.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04009/joss.04009/10.21105.joss.04009.pdf) :page_facing_up: :point_left:

[2022-01-03 17:16] altavir commented on #3993
I am using Root 6.24.0 installed via nix-env. I think it is better to continue the discussion in your repository, You can open an issue and we can discuss it there.

[2022-01-03 17:23] vijaysm commented on #3959
@diehlpk Happy new year! I got caught up with some holiday travel as well. I'll document the installation and usage procedures and start an issue page as needed this coming week. Will try to finish up the review in the next two weeks.

[2022-01-03 17:30] d-eggert commented on #4009
Ok, so it's somewhat trickier than anticipated. Let's see what the Geomar Git administrator can offer.

[2022-01-03 17:31] arokem commented on #3124
Hello @nsaunier : have you had a chance to take another look at this? I see that several check-boxes are unchecked in your list. Could you provide some more comments, that the authors can address these issues? Thanks!

@jorgedch : have you had a chance to address the issues raised by @szkafander?

[2022-01-03 17:49] ptmerz commented on #3981
Thank you for your editorial suggestions @rkurchin, they are much appreciated!

All of the reviewers' suggestions have been merged. I have also included your editorial suggestions in the manuscript, and merged the manuscript into the main branch.

I created a new version including all the latest changes:
* Version tag: v1.0.4.
* DOI: 10.5281/zenodo.5815657
* Zenodo link: https://zenodo.org/record/

[2022-01-03 17:49] ptmerz commented on #3981
@whedon generate pdf

[2022-01-03 17:50] whedon commented on #3981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: :point_left:

[2022-01-03 18:05] ajstewartlang commented on #3739
@arfon can you merge this PR please? I don't think I can.

[2022-01-03 18:10] jorgedch commented on #3124
Hi @arokem. Yes, I made the changes the same day of my previous reply. The setup file now specifies that the intended OS is Linux only: `Operating System :: POSIX :: Linux`. Concerning the comment about the accuracy, it is also clarified why the provided model is not performing accurately with some images. Last time we heard from one of the reviewers was almost half a year ago. What is the journal

[2022-01-03 18:23] zarrarkhan commented on #4015
@CamilleMorlighem Thanks for the detailed review and very helpful comments. Addressed as follows:

**Improvements**
1. All data sources referring to the restricted (https://confluence.pnnl.gov/confluence/display/JGCRI/GCAM+Shape+Files) have been updated to point to the publicly available zenodo link: https://zenodo.org/record/4688451#.YdMNTmjMJPY
2. We added statement of need to the repo and user

[2022-01-03 19:12] whedon commented on #4017
:wave: @tohuvavohu, please update us on how your review is going (this is an automated reminder).

[2022-01-03 19:12] whedon commented on #4017
:wave: @DougBurke, please update us on how your review is going (this is an automated reminder).

[2022-01-03 19:20] dfm commented on #3963
@whedon add @dstansby as reviewer

Thanks for agreeing to review, David! I'm still working on finding a second reviewer and, as soon as I do, we'll get this show on the road.

[2022-01-03 19:20] whedon commented on #3963
OK, @dstansby is now a reviewer

[2022-01-03 19:22] gdetor commented on #3974
Here are my comments on the manuscript. I'll provide my comments on the source code later.

Text Comments
-----------------

1. Memory, perception, and other functions of the human brain do not occur only in the cerebral cortex. Please rephrase the sentences in lines 7 - 10.

2. It would be better to rewrite equation 1 in a more general way. For instance, the kernel function K(x, t) is not always

[2022-01-03 19:34] awvwgk commented on #4014
### Installation

- the license file is currently not included with in the main distribution channel (PyPI)
  - https://github.com/symmy596/SurfinPy/issues/21
- the package has more dependencies than needed for the user
  - https://github.com/symmy596/SurfinPy/issues/20
  - https://github.com/symmy596/SurfinPy/issues/22
- the main distribution channel lists different version compared to the repo

[2022-01-03 19:42] martinfleis commented on #3623
Hi @nsviel,

Since I wasn't able to reach you since September and there was no activity in the original repository where the reviewers left their comments, I will be forced to formally reject this submission on January 17, 2022 (two weeks from now), if we won't hear from you by then. I am really sorry to make this announcement but it is not feasible to keep the review open for such a long time wit

[2022-01-03 20:10] highlando commented on #3896
Sorry for my late reply. This is not exactly my area of expertise and I'm well occupied with other reviews right now. So I would prefer to skip this one. Please let me know, if there is an urgent need for a comment. :)

[2022-01-03 20:31] elbeejay commented on #4020
@ammilten please confirm that you are able and willing to review this submission for JOSS. Thank you!

[2022-01-03 20:50] ammilten commented on #4020
Yes, I can review this submission.

[2022-01-03 20:55] elbeejay commented on #4020
@whedon add @ammilten as reviewer

[2022-01-03 20:55] whedon commented on #4020
OK, @ammilten is now a reviewer

[2022-01-03 21:52] rkurchin commented on #3727
Happy New Year everyone! @kostergroup, just a friendly reminder to update on this when you've decided your next course of action. I recognize some folks are still on holiday this week, and that as you said, it may require substantial thought. Depending on how long you want, I can also "pause" this review for a few weeks if you like.

[2022-01-03 21:54] rkurchin commented on #3981
@whedon set v1.0.4 as version

[2022-01-03 21:54] whedon commented on #3981
OK. v1.0.4 is the version.

[2022-01-03 21:54] rkurchin commented on #3981
@whedon set 10.5281/zenodo.5815657 as archive

[2022-01-03 21:54] whedon commented on #3981
OK. <a href="https://doi.org/10.5281/zenodo.5815657" target="_blank">10.5281/zenodo.5815657</a> is the archive.

[2022-01-03 21:55] rkurchin commented on #3981
@whedon check references

[2022-01-03 21:55] whedon commented on #3981
[code]

[2022-01-03 21:56] rkurchin commented on #3981
@ptmerz, nearly ready now! Can you just fix that one invalid DOI?

[2022-01-03 21:58] rkurchin commented on #3935
Emailed Dr. Olds.

[2022-01-03 21:58] esteinig commented on #2991
@arfon yes thanks so much for your patience, the end of last year was a bit hectic for us. please see the new version pushed:

* Zenodo data updated
* oxford commas added throughout manuscript
* spelling checked and fixed

[2022-01-03 22:12] ptmerz commented on #3981
@whedon generate pdf

[2022-01-03 22:13] whedon commented on #3981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: :point_left:

[2022-01-03 22:13] rkurchin commented on #3981
@whedon check references

[2022-01-03 22:13] whedon commented on #3981
[code]

[2022-01-03 22:14] rkurchin commented on #3981
@whedon recommend-accept

[2022-01-03 22:14] whedon commented on #3981
[code]

[2022-01-03 22:15] whedon commented on #3981
[code]

[2022-01-03 22:15] whedon commented on #3981
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2859

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2859, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-03 22:57] mkitti commented on #3965
Hello again. I hope everyone had a happy new years and holidays. As we emerge from the break, I think the fastest solution I have to verify the software is to spin up some virtual machines.

It would be great to know more about the author's computing environment(s), such as the software versions used, so that I can configure those virtual machines to match theirs.

[2022-01-04 00:53] Spartanzhao commented on #3916
Which open issue specifically?  You mean you can't open the whole repository? I had set <Change repository visibility> is Make public. @elliothershberg

[2022-01-04 01:03] pibion commented on #3665
@ax3l thank you for responding!  If @zhanghe9704 could comment here - would it be useful to have someone do the technical review, somewhat separate from the domain science?

That could be nice, as that could potentially reduce the work someone would need to do.

[2022-01-04 01:05] pibion commented on #3665
@zhanghe9704 apologies for the long delay - I'm sending emails again to find reviewers now that people are coming back from the holidays somewhat.

[2022-01-04 04:05] welch16 commented on #4031
Hey @fboehm, this is my first time reviewing for JOSS, so I was wondering if I can comment on the package vignette and such?

[2022-01-04 06:17] soodoku commented on #4031
@fboehm ---all clear from my end. @GaryBAYLOR made all the recommended changes.

[2022-01-04 06:21] Rehablab commented on #4003
Thanks @adi3 .
For reviewers, could I please suggest the following from the list:
- federeghe
- sneakers-the-rat
- vmatos
- AustinTSchaffer
- destogl
- ekorudiawan

[2022-01-04 08:56] jiahecui commented on #4023
@whedon generate pdf

[2022-01-04 08:58] whedon commented on #4023
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04023/joss.04023/10.21105.joss.04023.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04023/joss.04023/10.21105.joss.04023.pdf) :page_facing_up: :point_left:

[2022-01-04 09:11] jiahecui commented on #4023
@whedon check references

[2022-01-04 09:13] whedon commented on #4023
[code]

[2022-01-04 09:59] magedhelmy1 commented on #3431
Happy New Year to you too! Yes, I agree. Hopefully, I will have my comments ready by the end of this week.

[2022-01-04 10:05] benjaminbolling commented on #3431
Thanks and happy new year to you all!

[2022-01-04 10:09] dbkeitel commented on #3998
Getting started on the checklist, a first set of notes for the early items (basically the metadata):

Yes. See https://github.com/TeamLEGWORK/LEGWORK/issues/60 for a quick check on which authors it should list.

According to whedon's analytics posted above, @TomWagg and @katiebreivik have roughly similar contributions to the source code. The third author of the paper, Selma de Mink, does not appea

[2022-01-04 11:33] dbkeitel commented on #3998
On the JOSS manuscript itself: overall I think it's in great shape, so I've checked off the first 4 items already. Just the references need a little extra work.

Main comments:
- [ ] As discussed in pre-review, the JOSS manuscript should be updated to explicitly point the reader to the ApJ companion paper for more details.
- [ ] The current reference list seems long to me by JOSS standards, with t