[2020-06-14 21:12] Himscipy commented on #2203
@poulson thank you for thinking about me..  I will be happy to take the role of reviewer for the submission. Let me know what the planned timelines for the feedback and review to complete. Thank you.

[2020-06-14 21:25] borishejblum commented on #2222
Unfortunately, I am no able to perform this review at this time.

[2020-06-14 21:49] poulson commented on #2203
@whedon add @Himscipy as reviewer

[2020-06-14 21:49] whedon commented on #2203
OK, @Himscipy is now a reviewer

[2020-06-14 21:53] poulson commented on #2203
Thank you for being willing to help review this submission, Himanshu (@Himscipy)!

Ideally we could get your initial review feedback within the next two weeks.

Please feel free to also review the guide for reviewing for JOSS here:
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-14 22:10] blthayer commented on #2289
@robinroche - we have a fix coming your way in ESA version `1.0.5`. I'll comment here when that's officially released.

If you would prefer to get started right away, adding the following to the _very top_ of your script should fix the issue for version `1.0.4`:

[code]

[2020-06-14 22:36] karthik commented on #2273
@@whedon assign @karthik as editor

[2020-06-14 22:36] karthik commented on #2273
@whedon assign @karthik as editor

[2020-06-14 22:36] whedon commented on #2273
OK, the editor is @karthik

[2020-06-15 00:04] coljac commented on #2180
@gkthiruvathukal - just checking on the next step here from my end. Since both reviewers signed off, should I create an archive of the repository and get a DOI or is that premature?

[2020-06-15 00:15] jgostick commented on #2324
I'm doing one already and it's not going too smoothly, so I think I'd best pass on this.

[2020-06-15 00:20] jgostick commented on #2240
@whedon invite @KedoKudo as reviewer

[2020-06-15 00:20] whedon commented on #2240
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-15 04:36] gkthiruvathukal commented on #2153
Thanks, @s0nata!  Please signal me when ready!

[2020-06-15 04:37] gkthiruvathukal commented on #2235
Thanks, @AlexMikes, especially for your patience as I get the review going.

[2020-06-15 04:38] gkthiruvathukal commented on #2235
@whedon invite @cmscomb as reviewer

[2020-06-15 04:38] whedon commented on #2235
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-15 04:38] gkthiruvathukal commented on #2235
@whedon commands

[2020-06-15 04:38] whedon commented on #2235
Here are some things you can ask me to do:

[code]

[2020-06-15 04:40] gkthiruvathukal commented on #2235
@cmccomb and @e-dub, Would you be willing to contribute a review for this JOSS submission?

[2020-06-15 04:41] gkthiruvathukal commented on #2270
@bzz and @kokan, would you be willing to serve as reviewers for this JOSS submission?

[2020-06-15 04:43] gkthiruvathukal commented on #2180
Hi @coljac, thanks for your patience! We are ready to move to the next steps. Can you please do the following?

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure th

[2020-06-15 06:10] coljac commented on #2180
Hi @gkthiruvathukal,

[Done!](https://zenodo.org/record/3894083) Here's the DOI: `10.5281/zenodo.3894083`

Thanks!

[2020-06-15 06:53] ihrke commented on #2269
Thanks @oliviaguest for handling the submission! Surprised and glad to see @samhforbes 's PupillometryR - looks like there are finally some good tools emerging for pupillometry! Looking forward to the review process!

[2020-06-15 07:24] robinroche commented on #2289
@blthayer It worked, thanks. I continue the tests.

[2020-06-15 07:36] CFGrote commented on #2252
MIT License added to master

[2020-06-15 08:27] CFGrote commented on #2293
@whedon check repository

[2020-06-15 08:27] whedon commented on #2293
[code]

[2020-06-15 09:07] CFGrote commented on #2293
Can't run the example. See https://github.com/BartoszBartmanski/StoSpa2/issues/8 .

[2020-06-15 09:14] salanne commented on #2324
No problem! Maybe I can suggest @richardjgowers ?

[2020-06-15 09:16] richardjgowers commented on #2324
@Whedon assign @richardjgowers as editor

[2020-06-15 09:16] whedon commented on #2324
OK, the editor is @richardjgowers

[2020-06-15 09:21] CFGrote commented on #2293
The target audience is not clearly mentioned (neither in README nor in the documentation).

[2020-06-15 09:25] CFGrote commented on #2293
I suggest to add short sections on how to contribute and how to seek support (i.e. link to gh issues) to the README.

[2020-06-15 09:26] MrMinimal64 commented on #2224
Are there any suggestions?

[2020-06-15 09:41] CFGrote commented on #2293
Some references in the manuscript are not correctly rendered in the autogenerated pdf but this may be a conversion problem. Please check the page number in Osborne et al 2017) and Isaacson 2009.

[2020-06-15 09:45] CFGrote commented on #2293
Installation instructions:
Only after reading the manuscript, I understood that it is not required to compile the c++ code if one is only using the python interface. This should maybe be stated more clearly in the online installation instructions in README and docs.

[2020-06-15 09:49] eloisabentivegna commented on #2310
@whedon start review

[2020-06-15 09:49] whedon opened #2338 "[REVIEW]: A parallel global multiobjective framework for optimization: pagmo"
**Submitting author:** @bluescarni (<a href="http://orcid.org/0000-0002-3491-1828">Francesco Biscani</a>)
**Repository:** <a href="https://github.com/esa/pagmo2-paper" target ="_blank">https://github.com/esa/pagmo2-paper</a>
**Version:** v2.15.0
**Editor:** @eloisabentivegna
**Reviewer:** @dgoldri25, @jangmys
**Archive:** <a href="https://doi.org/10.5281/zenodo.4013250" target="_blank">10.5281/zen

[2020-06-15 09:49] whedon commented on #2310
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2338.

[2020-06-15 09:49] #2310 closed

[2020-06-15 09:49] whedon commented on #2338
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dgoldri25, @jangmys it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-06-15 09:49] whedon commented on #2338
[code]

[2020-06-15 09:49] whedon commented on #2338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02338/joss.02338/10.21105.joss.02338.pdf)

[2020-06-15 09:50] salanne commented on #2324
I have updated the missing DOIs in the paper.bib file

[2020-06-15 09:59] eloisabentivegna commented on #2338
Dear @dgoldri25 and @jangmys, thanks for agreeing to review this submission! As you can see, I have started the review process, whereby the original issue has been closed and a new (this) one has been opened, with further directions for you. Please take a moment to go over the instructions and checklists above, and let me know if anything is unclear.

Please notice that this is a slightly unusual

[2020-06-15 10:18] oliviaguest commented on #2269
@ihrke do you have any ideas for reviewers? I have a few in mind but people are (understandably) very busy these days — so the more names to try the merrier!

[2020-06-15 10:44] oliviaguest commented on #2227
Hi @humanfactors, if you can post some suggestions for reviewers that would be very useful — thanks! ☺️

[2020-06-15 10:47] oliviaguest commented on #2227
Sorry, @humanfactors (deleted previous as I forgot you had some suggestions) but I just realised you suggested some from the list, which I think I have tried (will double check). In general, I've been having no luck. Do you think you might know anybody outside the JOSS list?

[2020-06-15 11:14] pdebuyl commented on #2293
@mbkumar Thank you for the review (email sent).

[2020-06-15 11:45] humanfactors commented on #2227
Hi @oliviaguest, thanks for efforts reaching out to potential reviewers. I might have some ideas, the issue of course is finding individuals with overlapping subject matter familiarity/expertise as well as R expertise. I assume we need both?

Depending on flexibility with expertise areas, I might have some more suggestions. In any case, I'll conduct a broader search for suggestions.

Cheers.

[2020-06-15 11:52] oliviaguest commented on #2227
@whedon add @craddm as reviewer

[2020-06-15 11:52] whedon commented on #2227
OK, @craddm is now a reviewer

[2020-06-15 11:52] oliviaguest commented on #2227
@humanfactors thank you so much — I will reach out to more people too but excited (and grateful!) to say @craddm is happy to be part of this. 🥳

[2020-06-15 11:59] cmccomb commented on #2235
Sure, count me in @gkthiruvathukal!

[2020-06-15 12:10] oliviaguest commented on #2254
@whedon add @Emptymalei as reviewer

[2020-06-15 12:10] whedon commented on #2254
OK, @Emptymalei is now a reviewer

[2020-06-15 12:11] oliviaguest commented on #2254
Fantastic news we have @Emptymalei as one of the reviewers. Thank you so much @Emptymalei. Please just sit tight until we find a 2nd person — so: nothing to do just yet. ☺️

[2020-06-15 12:52] jenniferthompson commented on #2222
Apologies, but I wouldn't be able to do a timely review at this time.

[2020-06-15 13:06] ihrke commented on #2269
Ignace Hooge perhaps? He is an expert in eyetracking/pupillometry but I don't know how good his Python is: https://www.uu.nl/staff/ihooge/Contact

[2020-06-15 13:10] e-dub commented on #2235
I am in!

[2020-06-15 13:30] Kevin-Mattheus-Moerman commented on #2187
@rram84 I'd like to find an additional reviewer. Can you recommend any reviewers that I've missed? Thanks.

[2020-06-15 13:32] ali-ramadhan commented on #2034
Thanks @YoungFaithful for addressing the issues I opened. I closed them as they've been resolved.

Still can't check the boxes in the review checklist. I'm logged into the correct account and tried clicking on the invitation link but got this message:

so maybe the invitation expired or something? I had no issues ticking the boxes on a previous review but maybe a new invitation is needed for each

[2020-06-15 13:38] BartoszBartmanski commented on #2293
@CFGrote thank you for these comments. I just pushed two commits to the repository for StoSpa2, which hopefully address all of the above mentioned points.

[2020-06-15 13:39] BartoszBartmanski commented on #2293
@whedon generate pdf

[2020-06-15 13:40] whedon commented on #2293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02293/joss.02293/10.21105.joss.02293.pdf)

[2020-06-15 13:46] rram84 commented on #2187
@Kevin-Mattheus-Moerman
I would like to recommend jonwong12
Dr Jonathan Wong at Lawrence Livermore National Labs:
(https://www.linkedin.com/in/jonathan-wong-2ab79729/)

I will send a few more suggestions asap.

[2020-06-15 13:47] oliviaguest commented on #2254
@whedon add @mstimberg as reviewer

[2020-06-15 13:48] whedon commented on #2254
OK, @mstimberg is now a reviewer

[2020-06-15 13:48] oliviaguest commented on #2254
I spoke too soon! We are all set to get ready to review! 🎉

[2020-06-15 13:49] oliviaguest commented on #2254
@whedon start review

[2020-06-15 13:49] whedon opened #2339 "[REVIEW]: MorphoPy: A python package for feature extraction of neural morphologies."
**Submitting author:** @visdoom (<a href="http://orcid.org/0000-0001-9532-788X">Sophie Laturnus</a>)
**Repository:** <a href="https://github.com/berenslab/MorphoPy" target ="_blank">https://github.com/berenslab/MorphoPy</a>
**Version:** v0.71
**Editor:** @oliviaguest
**Reviewer:** @Emptymalei, @mstimberg
**Archive:** <a href="https://doi.org/10.5281/zenodo.3956644" target="_blank">10.5281/zenodo.3

[2020-06-15 13:49] whedon commented on #2254
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2339.

[2020-06-15 13:49] #2254 closed

[2020-06-15 13:49] whedon commented on #2339
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Emptymalei, @mstimberg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-06-15 13:49] whedon commented on #2339
[code]

[2020-06-15 13:49] whedon commented on #2339
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02339/joss.02339/10.21105.joss.02339.pdf)

[2020-06-15 13:50] oliviaguest commented on #2254
Please all (@Visdoom, @emptymalei, @mstimberg) move to #2339 to get this party started. 😄

[2020-06-15 13:53] oliviaguest commented on #2339
👋 👋 👋

Hi everybody!

@Visdoom, @emptymalei, @mstimberg — welcome to where the review itself is going to be.

Any questions please ask me. Any *very* code-related issues use the repo of the code and open an issue and link to it from here. All other issues, feedback, questions for me or the author, please use this issue. Anything you need, check above first as there is a lot of into up there, but a

[2020-06-15 14:05] warrickball commented on #2332
Hi @arfon, I'm afraid I won't be able to review this submission. Sorry!

[2020-06-15 14:09] BartoszBartmanski commented on #2293
@whedon generate pdf

[2020-06-15 14:10] whedon commented on #2293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02293/joss.02293/10.21105.joss.02293.pdf)

[2020-06-15 14:13] diehlpk commented on #2335
@whedon generate pdf from branch hpx/joss

[2020-06-15 14:13] whedon commented on #2335
[code]

[2020-06-15 14:16] diehlpk commented on #2335
@whedon generate pdf from branch joss

[2020-06-15 14:16] whedon commented on #2335
[code]

[2020-06-15 14:17] whedon commented on #2335
PDF failed to compile for issue #2335 with the following error:

 error: pathspec 'joss' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-06-15 14:20] diehlpk commented on #2335
We have the paper in the following branch https://github.com/STEllAR-GROUP/hpx/tree/JOSS, since we want to keep the paper aligned with the latest stable release.

[2020-06-15 14:29] oliviaguest commented on #2201
@teamPSG I have emailed a few and will wait for now and then (if required) try more next week. Thank you! 👍

[2020-06-15 14:35] oliviaguest commented on #2285
Hey all! 👋 @paulinepalma, @Athanasiamo, @samhforbes! Thank you to everybody for doing such a great job so far.

👉 Specifically for the reviewers, when they get a chance, check if their issues have been addressed and those that have are checked/ticked off above? 🌸

👉 For Sam, can you let me know which bits you are working on — again when you have the chance, no pressure. 🌼

[2020-06-15 14:35] oliviaguest commented on #2285
PS: If all is done, BTW, just let me know so we can start preparing it for publication. 💯

[2020-06-15 14:39] Nikoleta-v3 commented on #2315
Hello @yangkcatiu 👋 I am one of the reviewers. I am currently completing the **Documentation** checklist. I opened the following issues:

- https://github.com/BrianAronson/birankr/issues/19
- https://github.com/BrianAronson/birankr/issues/20
- https://github.com/BrianAronson/birankr/issues/21

Please comment on the issues if you have any questions.

[2020-06-15 14:45] yangkcatiu commented on #2315
@Nikoleta-v3 Thank you for the feedback, we really appreciate it! We will start to address these issues.

[2020-06-15 14:48] Athanasiamo commented on #2285
All my points are ticked off :) So I'm happy with this.

[2020-06-15 14:51] afeinstein20 commented on #2332
Hi @arfon Monica Bobra may also be a good potential reviewer

[2020-06-15 14:52] yangkcatiu commented on #2315
👋 @gvegayon thank you for agreeing to review for our work, we really appreciate it and low forward to your feedback!

[2020-06-15 14:54] diehlpk commented on #2335
@whedon generate pdf from branch JOSS

[2020-06-15 14:54] whedon commented on #2335
[code]

[2020-06-15 14:55] whedon commented on #2335
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02335/joss.02335/10.21105.joss.02335.pdf)

[2020-06-15 15:07] maedat commented on #2336
This is a list of potential reviewers,
mberacochea     mbc@ebi.ac.uk
Yasukazu Nakamura.    ORCID 0000-0002-6782-5715
Hidemasa Bono.    ORCID  0000-0003-4413-0651

[2020-06-15 15:13] oliviaguest commented on #2201
@whedon add @sbuergers as reviewer

[2020-06-15 15:13] whedon commented on #2201
OK, @sbuergers is now a reviewer

[2020-06-15 15:15] oliviaguest commented on #2201
👋 Hi, @sbuergers and thank you for agreeing to review this. Just sit tight and I will let you all know when we're going to start the review. If you have any questions before then — please let me know. ☺️

[2020-06-15 15:32] arfon commented on #2332
Got it. Thanks for letting me know @warrickball.

[2020-06-15 15:35] oliviaguest commented on #2227
@whedon add @anibalsolon as reviewer

[2020-06-15 15:35] whedon commented on #2227
OK, @anibalsolon is now a reviewer

[2020-06-15 15:35] kbarnhart commented on #2197
@whedon generate pdf

[2020-06-15 15:36] whedon commented on #2197
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02197/joss.02197/10.21105.joss.02197.pdf)

[2020-06-15 15:38] oliviaguest commented on #2227
@whedon start review

[2020-06-15 15:39] whedon opened #2340 "[REVIEW]: FIPS: An R Package for Biomathematical Modelling of Human Fatigue Related Impairment"
**Submitting author:** @humanfactors (<a href="http://orcid.org/0000-0003-4143-7308">Michael David Wilson</a>)
**Repository:** <a href="https://github.com/humanfactors/FIPS" target ="_blank">https://github.com/humanfactors/FIPS</a>
**Version:** v0.1.1
**Editor:** @oliviaguest
**Reviewer:** @craddm, @anibalsolon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3945615" target="_blank">10.5281/z

[2020-06-15 15:39] whedon commented on #2227
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2340.

[2020-06-15 15:39] #2227 closed

[2020-06-15 15:39] whedon commented on #2340
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @craddm, @anibalsolon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-06-15 15:39] whedon commented on #2340
PDF failed to compile for issue #2340 with the following error:

 Can't find any papers to compile :-(

[2020-06-15 15:39] oliviaguest commented on #2227
Hi all! 👋 @humanfactors, @craddm, @anibalsolon — please head on to the review issue: #2340!

[2020-06-15 15:41] kbarnhart commented on #1969
:wave: @brendonhall @JesperDramsch a quick ping to see if you could revisit your reviews and (potentially) complete the JOSS review checklist.

[2020-06-15 15:45] oliviaguest commented on #2340
Hey everybody! @craddm, @anibalsolon, @humanfactors welcome to where the review itself is going to be!

First off, thank you so much to the reviewers for agreeing and generally being so speedy and excited to get this paper and code reviewed. ☺️

If you have any very code-related issues use the repo of the code and open an issue and link to it from here. All other issues, feedback, questions for me

[2020-06-15 15:46] oliviaguest commented on #2340
@whedon generate pdf

[2020-06-15 15:46] whedon commented on #2340
PDF failed to compile for issue #2340 with the following error:

 Can't find any papers to compile :-(

[2020-06-15 15:47] oliviaguest commented on #2340
@whedon generate pdf from branch joss-paper

[2020-06-15 15:47] whedon commented on #2340
[code]

[2020-06-15 15:48] whedon commented on #2340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02340/joss.02340/10.21105.joss.02340.pdf)

[2020-06-15 15:58] lorenanicole commented on #2220
@JanWielemaker @essepuntato just wanted to check in to see if there was anything further you may need?

[2020-06-15 15:59] samhforbes commented on #2285
I've just closed the last issue on the repository, which was to launch a pkgdown website as recommended by @Athanasiamo.

I've also updated the Geller reference as I've seen the paper has now come out in full, and Whedon preview suggests it compiles OK.

[2020-06-15 16:00] essepuntato commented on #2220
Hi @lorenanicole, apologies – I'm just back from holidays right now. I'll work on as soon as possible. Would it be possible for me to work on it next week or it is too late?

Have a nice day :-)

[2020-06-15 16:02] Kevin-Mattheus-Moerman commented on #1867
@PGomes92 @hooman650 if you are still able to help with this review please indicate this to us now.
If I do not hear from you within the next 2 days I will proceed to unfortunately remove you as reviewers for this submission.

[2020-06-15 16:03] Kevin-Mattheus-Moerman commented on #1867
@whedon generate pdf

[2020-06-15 16:04] whedon commented on #1867
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01867/joss.01867/10.21105.joss.01867.pdf)

[2020-06-15 16:04] Kevin-Mattheus-Moerman commented on #2187
@jonwong12 @avaxman @fwilliams @alecjacobson @keenancrane @sgsellan @nicoguaro @ranahanocka would you be interested in reviewing this work for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org)?

Submission: _DVRlib: A C++ library for geometric mesh improvement using Directional Vertex Relaxation_

The review process focuses on the software:
https://bitbucket.org/rram/dvrlib/src/

[2020-06-15 16:05] Kevin-Mattheus-Moerman commented on #2089
Thanks @chennachaos for your help here!!!!

[2020-06-15 16:08] kthyng commented on #2199
Hi @zsylvester and @ebgoldstein: awesome! I will start the review issue and close this one — the rest of the action should take place in the review issue. Please reach out if you have questions on the process. The JOSS docs have information, and it can also help to look through old submissions to see how things work. Thanks!!

[2020-06-15 16:08] kthyng commented on #2199
@whedon assign @zsylvester as reviewer

[2020-06-15 16:08] whedon commented on #2199
OK, @zsylvester is now a reviewer

[2020-06-15 16:08] kthyng commented on #2199
@whedon add @ebgoldstein as reviewer

[2020-06-15 16:08] whedon commented on #2199
OK, @ebgoldstein is now a reviewer

[2020-06-15 16:08] kthyng commented on #2199
@whedon start review

[2020-06-15 16:08] whedon opened #2341 "[REVIEW]: NetworkSedimentTransporter: A Landlab submodule for bed material transport through river networks"
**Submitting author:** @pfeiffea (<a href="http://orcid.org/0000-0002-3974-132X">Allison Pfeiffer</a>)
**Repository:** <a href="https://github.com/landlab/landlab" target ="_blank">https://github.com/landlab/landlab</a>
**Version:** v2.2.0
**Editor:** @kthyng
**Reviewer:** @zsylvester, @ebgoldstein
**Archive:** <a href="https://doi.org/10.5281/zenodo.4044683" target="_blank">10.5281/zenodo.4044683

[2020-06-15 16:08] whedon commented on #2199
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2341.

[2020-06-15 16:08] #2199 closed

[2020-06-15 16:08] whedon commented on #2341
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zsylvester, @ebgoldstein it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-06-15 16:09] whedon commented on #2341
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02341/joss.02341/10.21105.joss.02341.pdf)

[2020-06-15 16:13] Kevin-Mattheus-Moerman commented on #2089
@whedon generate pdf

[2020-06-15 16:13] whedon commented on #2089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02089/joss.02089/10.21105.joss.02089.pdf)

[2020-06-15 16:15] blthayer commented on #2289
@robinroche - excellent, thank you!

Also note that version `1.0.5` is now available if you'd like to upgrade. There's a very small bug fix in `1.0.5` in addition to adding the aforementioned `locale` lines to `saw.py`, but I don't think the bug affects any of the examples.

[2020-06-15 16:16] nathanquinlan commented on #2089
Dear all,
Sorry I haven't been able to contribute to the review process to date.  I don't want to delay the process further so I have no objection if the editors would like to proceed without my review.
Regards
Nathan

[2020-06-15 16:38] kbarnhart commented on #2197
@Xunius Thank you for updating me to these changes. I think the added text related to ARTMIP substantially improves the paper.

Regarding the installation, your Option 1 does not actually install IPART. This linked pull request makes some recommended changes to your setup.py file and readme.md. ihesp/IPART/pull/1

Regarding your installation Options 2 and 3 (which I have removed in the PR), I note

[2020-06-15 16:42] gvegayon commented on #2315
Sure! Happy to help. I won't start working on this until the end of this
month since I'm defending my Ph.D. soon (sorry!). I'll start with the
review ASAP.

George
<https://ggvy.cl>

On Mon, Jun 15, 2020 at 7:53 AM Kaicheng(Kevin) Yang <
notifications@github.com> wrote:

[2020-06-15 16:44] klmedeiros commented on #2222
I am available and could review this submission.

[2020-06-15 17:23] robinroche commented on #2289
@blthayer Thanks, I upgraded to the latest version.
I'm now testing the "Add Lines to Case" example.
I'm getting the following:
[code]
Lines 33-34 in the script are:
[code]
I don't know if this is another locale issue, so just in case, I tried adding the following to the script, but the result remains the same:
[code]

[2020-06-15 17:29] yangkcatiu commented on #2315
@gvegayon good luck with the defense!

[2020-06-15 17:46] kblin commented on #2117
Sorry again for all the delays. I've just gotten started with the review. I take the latest version of the manuscript is the PDF from April 14?

[2020-06-15 18:28] oliviaguest commented on #2297
Happy to take this on, if OK?

[2020-06-15 18:30] OttaviaE commented on #2297
Hey @oliviaguest that would be great, thank you!

[2020-06-15 18:31] blthayer commented on #2289
@robinroche - thank you! I'll file an issue in the ESA repository, and work on this issue this evening (Pacific time, West coast of USA).

I do suspect this is at least tangentially related to the locale issue, as I ran this example on my local machine and it works. So, I'll likely be giving you commands to execute so that I can get your output and reproduce on my end (like we did last time).

Tha

[2020-06-15 18:31] oliviaguest commented on #2297
@whedon generate pdf

[2020-06-15 18:31] whedon commented on #2297
PDF failed to compile for issue #2297 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2297 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedo

[2020-06-15 18:36] oliviaguest commented on #2297
I have no idea what is wrong with building the PDF? I assume this is a bug? @kyleniemeyer and @openjournals/dev are aware so I'll leave it for now, unless you have ideas, @OttaviaE?

But anyway while we wait, can you fix the Travis build badge, please here: https://github.com/OttaviaE/implicitMeasures/blob/master/README.md?

[2020-06-15 18:54] oliviaguest commented on #2297
PS: See: https://github.com/OttaviaE/implicitMeasures/pull/1

[2020-06-15 18:56] oliviaguest commented on #2297
@whedon assign me as editor

[2020-06-15 18:56] whedon commented on #2297
OK, the editor is @oliviaguest

[2020-06-15 18:57] arfon commented on #2240
@jgostick - Whedon doesn't know how to invite reviewers like this yet sorry. If you want to invite @KedoKudo as a reviewer you can either do that in an email (e.g. [like this](https://joss.readthedocs.io/en/latest/editing.html#sample-email-to-potential-reviewers)) or just by mentioning them here.

[2020-06-15 19:15] danielskatz commented on #2297
The repository was incorrectly specified as https://github.com/OttaviaE/implicitMeasures/tree/master/inst rather than https://github.com/OttaviaE/implicitMeasures

I've changed it in this issue - but I'm not sure if it needs to be changed in database as well. cc @openjournals/dev

[2020-06-15 19:15] danielskatz commented on #2297
@whedon generate pdf

[2020-06-15 19:15] whedon commented on #2297
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02297/joss.02297/10.21105.joss.02297.pdf)

[2020-06-15 19:16] danielskatz commented on #2297
looks like that fixed it.

Also, @oliviaguest, I removed the waitlisted label, which you should do when you grab a submission of the list to edit in the future.

[2020-06-15 19:18] danielskatz commented on #2297
@whedon check references

[2020-06-15 19:18] whedon commented on #2297
[code]

[2020-06-15 19:18] danielskatz commented on #2297
@whedon check repository

[2020-06-15 19:18] whedon commented on #2297
[code]

[2020-06-15 19:21] oliviaguest commented on #2297
@danielskatz great, didn't know that! Thank you so much for all the help as usual! 😊

[2020-06-15 19:23] marcosvital commented on #2222
Thank you, @klmedeiros. We'll let you know when the reviewing process start, as soon as we have one or two more reviewers.

@nhejazi, thanks for listing the potential reviewers. Let's wait a few more days as more of them might reply.

[2020-06-15 19:23] OttaviaE commented on #2297
Hey @oliviaguest I think I solved the Travis issue, glad to see that also the pdf generation went well, thanks @danielskatz

[2020-06-15 19:24] mbobra commented on #2125
@danhey I know this has been a long process -- thanks for hanging in there. I've contacted @DingXuefeng via e-mail.

[2020-06-15 19:26] marcosvital commented on #2202
Thank you @synchon!

We now have three reviewers, so we can move on and start the reviewing process. A new issue will be created for this soon.

[2020-06-15 19:30] oliviaguest commented on #2297
@OttaviaE fabulous! 🌼

[2020-06-15 19:30] marcosvital commented on #2202
@whedon assign @jdbrunner as reviewer

[2020-06-15 19:30] whedon commented on #2202
OK, @jdbrunner is now a reviewer

[2020-06-15 19:31] marcosvital commented on #2202
@whedon add @pstjohn as reviewer

[2020-06-15 19:31] sebdalgarno commented on #2319
@whedon commands

[2020-06-15 19:31] whedon commented on #2202
OK, @pstjohn is now a reviewer

[2020-06-15 19:31] whedon commented on #2319
Here are some things you can ask me to do:

[code]

[2020-06-15 19:32] marcosvital commented on #2202
@whedon add @synchon as reviewer

[2020-06-15 19:32] whedon commented on #2202
OK, @synchon is now a reviewer

[2020-06-15 19:32] marcosvital commented on #2202
@whedon start review

[2020-06-15 19:32] whedon opened #2342 "[REVIEW]: dfba: Software for efficient simulation of dynamic flux-balance analysis models in Python"
**Submitting author:** @davidtourigny (<a href="http://orcid.org/0000-0002-3987-8078">David Tourigny</a>)
**Repository:** <a href="https://gitlab.com/davidtourigny/dynamic-fba" target ="_blank">https://gitlab.com/davidtourigny/dynamic-fba</a>
**Version:** v0.1.8
**Editor:** @marcosvital
**Reviewer:** @jdbrunner, @pstjohn, @synchon
**Archive:** <a href="https://doi.org/10.5281/zenodo.4009224" targe

[2020-06-15 19:32] whedon commented on #2202
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2342.

[2020-06-15 19:32] #2202 closed

[2020-06-15 19:32] whedon commented on #2342
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jdbrunner, @pstjohn, @synchon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2020-06-15 19:33] whedon commented on #2342
[code]

[2020-06-15 19:33] whedon commented on #2342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02342/joss.02342/10.21105.joss.02342.pdf)

[2020-06-15 19:34] sebdalgarno commented on #2319
meenakshi-kushwaha may be a suitable reviewer

[2020-06-15 19:35] marcosvital commented on #2342
Dear @davidtourigny, @Midnighter and @carrascomj: your manuscript will be reviewed in this issue, and you can reply any comments and suggestions that the reviewers might address right here. Please take a last look at the manuscript proof above, since this is the version they will use to start the review.

[2020-06-15 19:39] davidtourigny commented on #2342
Thanks, the proof looks OK to me but welcome suggested improvements from the reviewers.

[2020-06-15 19:40] skhilton commented on #2288
👋 @labarba: I've re-arranged our repos. Now the code and the paper are both in the repo https://github.com/dms-view/dms-view.github.io. Is there another place I should update the repo url or will this comment suffice? Thanks!

[2020-06-15 19:40] marcosvital commented on #2342
@jdbrunner, @pstjohn, @synchon, thank you all for for accepting review this submission for JOSS.
Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under Reviewer instructions & questions and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let me know if you need

[2020-06-15 19:52] kblin commented on #2117
I've found two minor issues during the review:
* When installing into a folder that that's not on the same filesystem as `/tmp`, downloading the example data fails. I've filed a bug: https://github.com/cosmo-epfl/chemiscope/issues/47
* Manuscript page 2, 2nd paragraph. Citation for Bartók, 2010 isn't resolved properly

[2020-06-15 19:52] labarba commented on #2288
@whedon check repository

[2020-06-15 19:53] whedon commented on #2288
[code]

[2020-06-15 19:58] jgostick commented on #2240
This email template is what I needed.  Will send asap.  It'd be sweet if Whedon could send this though!

[2020-06-15 19:58] labarba commented on #2288
@whedon generate pdf

[2020-06-15 19:59] whedon commented on #2288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02288/joss.02288/10.21105.joss.02288.pdf)

[2020-06-15 20:05] mjsottile commented on #2260
:wave: @sivaramambikasaran, @adam-m-jcbs, @zeroset - I just wanted to check in and see if you were making progress on the review.  Let me know if you need any assistance while you proceed.

[2020-06-15 20:09] Kevin-Mattheus-Moerman commented on #2089
@whedon remove @nathanquinlan as reviewer

[2020-06-15 20:09] whedon commented on #2089
OK, @nathanquinlan is no longer a reviewer

[2020-06-15 20:11] mjsottile commented on #2259
:wave: @phckopper, @jizecn - I just wanted to check in and see if you were making progress on the review. I see the activity in the linked comment above for @SirSharpest review, so that seems to be proceeding well.  Feel free to let me know if you need any assistance in conducting the review.

[2020-06-15 20:27] Kevin-Mattheus-Moerman commented on #2089
@whedon check references

[2020-06-15 20:28] whedon commented on #2089
[code]

[2020-06-15 20:30] robinroche commented on #2289
@blthayer So I tried all examples (see below). The good news is that only 2 examples are not working in my case, and the problem seems to be the same for both.

 - Install: OK
 - Quick start: OK (with 1.0.5)
 - Increase loading in case: error #1
 - Add lines to case: error #2
 - Create simple graph model: OK
 - Create graph model with edges weighted bu branch impedance: unable to test due to PWS17

[2020-06-15 20:36] Kevin-Mattheus-Moerman commented on #2089
Thanks @chennachaos @JaroslavHron for your review efforts! We will now process this work for acceptance in JOSS

[2020-06-15 20:51] Kevin-Mattheus-Moerman commented on #2089
@albansouche I will process your paper for acceptance.

Here are some comments on your paper:
- [ ] Replace `rely` with `relies` in: `The turtleFSI solver rely on a fully monolithic approach...`
- [ ] in this sentence `We implemented and evaluated four different mesh lifting operators, ranging from simple and efficient 2nd order Laplace equation, most suitable for small deformations, to more sophi

[2020-06-15 20:53] Kevin-Mattheus-Moerman commented on #2188
@whedon add @62442katieb as reviewer

[2020-06-15 20:53] whedon commented on #2188
OK, @62442katieb is now a reviewer

[2020-06-15 20:54] Kevin-Mattheus-Moerman commented on #2188
@whedon start review

[2020-06-15 20:54] whedon opened #2343 "[REVIEW]: qMRLab: Quantitative MRI Analysis, under one umbrella"
**Submitting author:** @agahkarakuzu (<a href="http://orcid.org/0000-0001-7283-271X">Agah Karakuzu</a>)
**Repository:** <a href="https://github.com/qMRLab/qMRLab" target ="_blank">https://github.com/qMRLab/qMRLab</a>
**Version:** v.2.4.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @grlee77, @mfroeling, @62442katieb
**Archive:** <a href="https://doi.org/10.5281/zenodo.4012104" target="_blank"

[2020-06-15 20:54] whedon commented on #2188
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2343.

[2020-06-15 20:54] #2188 closed

[2020-06-15 20:54] whedon commented on #2343
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @grlee77, @mfroeling, @62442katieb it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2020-06-15 20:54] Kevin-Mattheus-Moerman commented on #2343
@whedon generate pdf

[2020-06-15 20:54] whedon commented on #2343
PDF failed to compile for issue #2343 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02343.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-06-15 20:55] whedon commented on #2343
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02343/joss.02343/10.21105.joss.02343.pdf)

[2020-06-15 20:56] Kevin-Mattheus-Moerman commented on #2343
@whedon check references

[2020-06-15 20:56] whedon commented on #2343
[code]

[2020-06-15 21:00] Kevin-Mattheus-Moerman commented on #2343
@grlee77, @mfroeling, @62442katieb this is where the review takes place. Please read the above instructions :point_up: (including suggestions on preventing unwanted GitHub notifications).

You each have a set of checkboxes to guide you through the review process. It would be great if you could review this work in about 2 weeks. Although we can be flexible regarding review time (especially during t

[2020-06-15 21:12] Kevin-Mattheus-Moerman commented on #2256
@sjpfenninger can you handle this submission?

[2020-06-15 21:18] Kevin-Mattheus-Moerman commented on #2016
@drwaseemsheikh :point_up: did you see @arfon's instructions on next steps? Let us know if you have questions.

[2020-06-15 21:22] Kevin-Mattheus-Moerman commented on #1720
@sam-greenwood your paper is ready for processing and acceptance in JOSS. Please complete the steps outline above :point_up: let us know if you have any questions.

[2020-06-15 21:23] whedon opened #2344 "[PRE REVIEW]: xai2cloud: the R package for automated cloud deployment of machine learning models with XAI REST API"
**Submitting author:** @Adamoso (<a href="http://orcid.org/0000-0002-4805-9015">Adam Rydelek</a>)
**Repository:** <a href="https://github.com/ModelOriented/xai2cloud" target ="_blank">https://github.com/ModelOriented/xai2cloud</a>
**Version:** v1.0.0
**Editor:** @bmcfee
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-06-15 21:23] whedon commented on #2344
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-15 21:23] whedon commented on #2344
[code]

[2020-06-15 21:24] whedon commented on #2344
[code]

[2020-06-15 21:24] whedon commented on #2344
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02344/joss.02344/10.21105.joss.02344.pdf)

[2020-06-15 21:31] Kevin-Mattheus-Moerman commented on #2344
@bmcfee @mjsottile @danielskatz could one of you handle this submission?

[2020-06-15 21:34] whedon opened #2345 "[PRE REVIEW]: Hydro Explorer: An interactive web app to investigatechanges in runoff seasonality and runoff timing all overthe world"
**Submitting author:** @ERottler (<a href="http://orcid.org/0000-0003-3072-2189">Erwin Rottler</a>)
**Repository:** <a href="https://github.com/ERottler/meltimr" target ="_blank">https://github.com/ERottler/meltimr</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2020-06-15 21:34] whedon commented on #2345
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-15 21:34] whedon commented on #2345
[code]

[2020-06-15 21:35] whedon commented on #2345
[code]

[2020-06-15 21:35] whedon commented on #2345
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02345/joss.02345/10.21105.joss.02345.pdf)

[2020-06-15 21:48] whedon opened #2346 "[PRE REVIEW]: PyMMS: Implementation of a non-numeric spacetime model with the Minkowski metric"
**Submitting author:** @vgurianov (<a href="http://orcid.org/0000-0003-2667-4241">Vasyliy Gurianov</a>)
**Repository:** <a href="https://github.com/vgurianov/srt" target ="_blank">https://github.com/vgurianov/srt</a>
**Version:** v1.0.9
**Editor:** @eloisabentivegna
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-06-15 21:48] whedon commented on #2346
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-15 21:48] whedon commented on #2346
[code]

[2020-06-15 21:49] whedon commented on #2346
[code]

[2020-06-15 21:49] whedon commented on #2346
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02346/joss.02346/10.21105.joss.02346.pdf)

[2020-06-15 21:50] Kevin-Mattheus-Moerman commented on #2346
@eloisabentivegna @xuanxu @dfm @harpolea could one of you handle this submission? Thanks

[2020-06-15 21:54] Kevin-Mattheus-Moerman commented on #2333
@kbarnhart @leouieda @jedbrown could one of you handle this submission? Thanks

[2020-06-15 21:57] Kevin-Mattheus-Moerman commented on #2329
@harpolea @dfm @xuanxu @mbobra can one of you handle this submission? Thanks

[2020-06-15 21:59] Kevin-Mattheus-Moerman commented on #2323
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-06-15 21:59] whedon commented on #2323
OK, the editor is @Kevin-Mattheus-Moerman

[2020-06-15 22:01] Kevin-Mattheus-Moerman commented on #2252
@whedon check repository

[2020-06-15 22:01] whedon commented on #2252
[code]

[2020-06-15 22:08] Kevin-Mattheus-Moerman commented on #2252
@meg-simula @pdebuyl could one of you handle this submission? Also I recommend MathCancer (Paul Macklin, https://github.com/MathCancer) as a potential reviewer

[2020-06-15 22:19] mbobra commented on #2219
@whedon assign @ma-sadeghi as reviewer

[2020-06-15 22:19] whedon commented on #2219
OK, @ma-sadeghi is now a reviewer

[2020-06-15 22:23] lpantano commented on #2170
@whedon generate pdf

[2020-06-15 22:24] whedon commented on #2170
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02170/joss.02170/10.21105.joss.02170.pdf)

[2020-06-15 22:24] lpantano commented on #2170
@whedon check references

[2020-06-15 22:25] afeinstein20 commented on #2332
Hi @arfon  some good reviewers would be Kyle Pearson, Hugh Osborn, Krisztián Vida, or Jason Dittman

[2020-06-15 22:27] lpantano commented on #2170
@HajkD, can you make a Zenodo archive and send me the link. The title and the authors should match the paper information. I think you can sync Zenodo with the releases and it will create one archive link for each release. Thanks!

[2020-06-16 00:08] jgostick commented on #2240
@whedon assign @KedoKudo as reviewer

[2020-06-16 00:08] whedon commented on #2240
OK, @KedoKudo is now a reviewer

[2020-06-16 00:45] Xunius commented on #2197
@kbarnhart Thanks. The PR has been merged.
The conda package came with dependencies in my previous fix, except that for py3, the cdms2 and cdutil dependencies don't work out of the box ([one related issue I'm having](https://github.com/CDAT/cdat/issues/2252#issuecomment-644428720)), that's why I added manual install instructions if that one doesn't work. For py2 it works as expected, installing `i

[2020-06-16 01:03] arfon commented on #2332
:wave: @pearsonkyle @hposborn @vidakris - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-16 01:12] pearsonkyle commented on #2332
I'm happy to review it.

[2020-06-16 01:38] diehlpk commented on #2317
Hi @yangbai90 thanks for your effort supporting JOSS :)

[2020-06-16 01:55] arfon commented on #2332
Great, thanks @pearsonkyle! I'll add you to the review here but the actual review process won't start for real until there's a second reviewer (which hopefully won't be too long).

[2020-06-16 01:55] arfon commented on #2332
@whedon add @pearsonkyle as reviewer

[2020-06-16 01:55] whedon commented on #2332
OK, @pearsonkyle is now a reviewer

[2020-06-16 02:40] majensen commented on #2168
(This is super cool.)

[2020-06-16 03:39] aslakbergersen commented on #2089
@whedon generate pdf

[2020-06-16 03:39] whedon commented on #2089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02089/joss.02089/10.21105.joss.02089.pdf)

[2020-06-16 03:51] aslakbergersen commented on #2089
@whedon generate pdf

[2020-06-16 03:51] whedon commented on #2089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02089/joss.02089/10.21105.joss.02089.pdf)

[2020-06-16 04:23] aslakbergersen commented on #2089
@Kevin-Mattheus-Moerman thank you for your comments. I have implemented all your comments and checked for typos.

10.5281/zenodo.3895443

To include the changes in the review to the distributed version on conda-forge I bumped the version number to 1.4. Do I need to edit this somewhere else? The DOI refers to the v1.4

[2020-06-16 04:26] blthayer commented on #2289
@robinroche - thanks for your update, and thanks for the details.

We have a new release that _should_ address these issues: `v1.0.6`. If you could upgrade ESA and try those examples again, I'm hopeful that they'll work for you now.

Thanks again for your time and willingness to volunteer and help.

[2020-06-16 04:30] rram84 commented on #2187
@Kevin-Mattheus-Moerman
Suggested reviewer: popersson
Prof Per-Olof Persson, UC Berkeley
http://persson.berkeley.edu/
https://popersson.github.io/distmesh/

[2020-06-16 05:27] avik-pal commented on #2262
Hi @terrytangyuan, after going through the list, here is a list of potential reviewers:
1.  `urbanophile`
2. `lee-seon-woo`
3. `Paul92`

[2020-06-16 08:47] Luthaf commented on #2117
@whedon generate pdf

[2020-06-16 08:48] whedon commented on #2117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02117/joss.02117/10.21105.joss.02117.pdf)

[2020-06-16 08:59] edwardando commented on #2286
@jwbuurlage @Shuang-Plum Everything under control?
I've noticed there's another DIC software we should mention in the paper, can I add it in the paper branch?

[2020-06-16 09:03] HajkD commented on #2170
Dear @lpantano

I just created a LTRpred release for the GitHub repo and created a Zenodo archive.

The corresponding link is as follows:

https://doi.org/10.5281/zenodo.3895754

Thank you very much for arranging the next steps!

With very best wishes,
Hajk

[2020-06-16 09:04] kblin commented on #2117
Both issues are fixed now, thanks.
@cMadan, I think all reviews are in now. Again my apologies for the delay.

[2020-06-16 09:30] robinroche commented on #2289
@blthayer I upgraded to 1.0.6 and all examples now work, thanks!

 - Install: OK
 - Quick start: OK
 - Increase loading in case: OK
 - Add lines to case: OK
 - Create simple graph model: OK
 - Create graph model with edges weighted by branch impedance: unable to test due to PWS17
 - Plot histogram of line flows with matplotlib: OK

[2020-06-16 09:41] peanutfun commented on #2313
@pratikvn, thank you for your quick feedback!

The last author Ole Klein made contributions to both project directions and code. He developed the initial version of the essential Richards DG local operator (see [`dune/dorie/models/richards/local_operator_DG.hh`](https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie/-/blob/master/dune/dorie/model/richards/local_operator_DG.hh)) and he provided contin

[2020-06-16 09:43] mdavezac commented on #2307
@pdebuyl, I missed the invitation to the reviewer group and it time out. Could you please send it back?

[2020-06-16 09:57] pdebuyl commented on #2307
@arfon is it possible for me to restart an invitation to the reviewer group?

[2020-06-16 09:59] pdebuyl commented on #2293
@BartoszBartmanski Some references still don't appear correctly, as you can only use one bib reference per square brackets. Can you fix that?

[2020-06-16 10:08] BartoszBartmanski commented on #2293
Sorry, I did not realise that it was one reference per square brackets. I just updated the repository with those changes. Thank you for clarifying that.

@whedon generate pdf

[2020-06-16 10:37] richardjgowers commented on #2324
@bjmorgan @hmacdope @luthaf are you free to review this?

[2020-06-16 10:40] YoungFaithful commented on #2034
@ali-ramadhan, thanks for your response and closing the issues. I have no idea about the issues with the boxes. @katyhuff, do you have an idea what we could do to activate the boxes?

[2020-06-16 10:43] YoungFaithful commented on #2034
@sjpfenninger, I hope you're doing fine. I saw that there are some unchecked boxes remaining from your review. Did the last commits already solve the open aspects or is there anything else that we should improve?

[2020-06-16 10:46] hmacdope commented on #2324
@richardjgowers happy to review. :)

[2020-06-16 10:47] arfon commented on #2307
It is, you can do `@whedon re-invite @reviewer as reviewer`

[2020-06-16 10:49] pdebuyl commented on #2307
@whedon re-invite @mdavezac  as reviewer

[2020-06-16 10:49] whedon commented on #2307
OK, the reviewer has been re-invited.

@mdavezac  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-16 10:49] pdebuyl commented on #2307
@arfon thanks

[2020-06-16 10:50] RuthAngus commented on #2332
@arfon I'm happy to review this too!

[2020-06-16 10:57] mattpitkin commented on #2281
@ivalaginja The installation instructions work well. I'd just recommend explicitly adding how to activate the conda environment before running setup.py:
[code]

[2020-06-16 11:00] arfon commented on #2332
@whedon add @RuthAngus as reviewer

[2020-06-16 11:00] whedon commented on #2332
OK, @RuthAngus is now a reviewer

[2020-06-16 11:00] arfon commented on #2332
@whedon start review

[2020-06-16 11:00] whedon opened #2347 "[REVIEW]: stella: Convolutional Neural Networks for Flare Identification in TESS"
**Submitting author:** @afeinstein20 (<a href="http://orcid.org/0000-0002-9464-8101">Adina Feinstein</a>)
**Repository:** <a href="https://github.com/afeinstein20/stella" target ="_blank">https://github.com/afeinstein20/stella</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewers:** @pearsonkyle, @astrobel, @ekaterinailin
**Archive:** <a href="https://doi.org/10.5281/zenodo.3970854" target="_blan

[2020-06-16 11:00] whedon commented on #2332
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2347.

[2020-06-16 11:00] #2332 closed

[2020-06-16 11:00] whedon commented on #2347
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pearsonkyle, @RuthAngus it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-06-16 11:00] whedon commented on #2347
[code]

[2020-06-16 11:01] arfon commented on #2332
@pearsonkyle, @RuthAngus - thanks so much for agree to review this submission. See you over in #2347 where the actual review will take place.

[2020-06-16 11:01] whedon commented on #2347
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02347/joss.02347/10.21105.joss.02347.pdf)

[2020-06-16 11:02] mattpitkin commented on #2281
This isn't a requirement, but are there plans to have continuous integration (e.g., through [Travis](https://travis-ci.org/)) that can run your test suite? Do you know how much of the main functionality of the code the current test suite covers?

[2020-06-16 11:03] arfon commented on #2347
@pearsonkyle, @RuthAngus - One thing I forgot to mention when inviting you both to review is that this JOSS submission/paper is a joint publication with AAS Journals, i.e. this JOSS paper will be published together with another paper in one of the AAS journals. As part of this collaboration, AAS publishing makes a small donation to the running costs of JOSS.

If this is unacceptable to you, please

[2020-06-16 11:13] Kevin-Mattheus-Moerman commented on #2089
@whedon set 10.5281/zenodo.3895443 as archive

[2020-06-16 11:13] whedon commented on #2089
OK. <a href="https://doi.org/10.5281/zenodo.3895443" target="_blank">10.5281/zenodo.3895443</a> is the archive.

[2020-06-16 11:14] Kevin-Mattheus-Moerman commented on #2089
@whedon set v1.4 as version

[2020-06-16 11:14] whedon commented on #2089
OK. v1.4 is the version.

[2020-06-16 11:14] danhey commented on #2125
No problem, I understand everyone's busy so I appreciate the review :)

[2020-06-16 11:16] Kevin-Mattheus-Moerman commented on #2089
@whedon accept

[2020-06-16 11:16] whedon commented on #2089
[code]

[2020-06-16 11:16] whedon commented on #2089
[code]

[2020-06-16 11:16] whedon commented on #2089
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1490

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1490, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-16 11:17] Kevin-Mattheus-Moerman commented on #2089
@whedon accept deposit=true

[2020-06-16 11:17] whedon commented on #2089
[code]

[2020-06-16 11:17] dfm commented on #2329
I'm happy to edit!

[2020-06-16 11:18] dfm commented on #2329
@whedon assign @dfm as editor

[2020-06-16 11:18] whedon commented on #2329
OK, the editor is @dfm

[2020-06-16 11:18] whedon commented on #2089
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1272851068339314696) 👈 🐦🐦🐦

[2020-06-16 11:18] whedon commented on #2089
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1491
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02089](https://doi.org/10.21105/joss.02089)
2. If everything looks g

[2020-06-16 11:20] #2089 closed

[2020-06-16 11:20] whedon commented on #2089
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02089/status.svg)](https://doi.org/10.21105/joss.02089)

**We need your help!**

Journal of Open Source Softwa

[2020-06-16 11:27] oliviaguest commented on #2297
@OttaviaE I have sent off some invitations but it would be great if you have some ideas too. So far no luck, but I of course will keep trying. Any names you have will be highly useful in finding a good set of skilled reviewers since IATs are quite tricky to evaluate, I think? Anyway, either way: names would be much appreciated. 😊

[2020-06-16 11:29] oliviaguest commented on #2269
Really down on our luck here with many relevant people being busy, @ihrke — of course I will keep trying and any new names you think of... please pop them in this thread so I can try them. ☺️

[2020-06-16 11:29] Kevin-Mattheus-Moerman commented on #2256
@sjpfenninger @KristinaRiemer @usethedata could one of you edit this submission? Thanks

[2020-06-16 11:31] Kevin-Mattheus-Moerman commented on #2258
@labarba :point_up: can you follow up on these changes? Thanks

[2020-06-16 11:36] Kevin-Mattheus-Moerman commented on #2258
@KristinaRiemer @usethedata @marcosvital @will-rowe @lpantano could one of you handle this submission?

[2020-06-16 11:37] mattpitkin commented on #2281
For some references they don't seem to render the journal. I think this is due to the `paper.bib` file containing the AAS macros (e.g., `\mnras`, `\aap`) for several papers - these macros should be replaced with the full or abbreviated journal name.

There are also a couple that need the DOI added:
 * [Claret, A](https://ui.adsabs.harvard.edu/abs/2000A%26A...363.1081C/abstract)
 * [McKinnet, W](ht

[2020-06-16 11:40] Kevin-Mattheus-Moerman commented on #2264
@KristinaRiemer @usethedata @marcosvital @will-rowe could one of you handle this submission?

[2020-06-16 11:43] Kevin-Mattheus-Moerman commented on #2288
@lpantano @will-rowe @csoneson could one of you handle this submission?

[2020-06-16 11:52] OttaviaE commented on #2297
Hey @oliviaguest thank you for your work! Yeah I know the struggle, I had problems finding reviewers also when I submitted a paper for a shiny app always related to the IAT... Anyways, I think I found some names, should I mention directly them here?
Thanks again =)

[2020-06-16 11:57] oliviaguest commented on #2297
@OttaviaE Yes please! ✨

[2020-06-16 11:58] mattpitkin commented on #2281
The functionality of the code, and required inputs in the configuration file, are well documented in the tutorial notebook, so I have ticked the **Functionality documentation** check box. There is no specific documentation for the API, so in the future I would recommend there is an autogenerated doc page that does contain the API, but this is not required for this review.

[2020-06-16 11:59] ihrke commented on #2269
I looked at the list of JOSS reviewers and found the following people that I think competent to review this submission (in - very rough - order of perceived goodness-of-fit based on their description):

szorowi1
sappelhoff
marcoapintoo
agricolab
lukassnoek
jsheunis
faroit
SebastianoF

let me know if you need more names...

[2020-06-16 12:06] mattpitkin commented on #2281
Once the references are fixed I'm happy to sign-off the review.

Just to summarise and slightly add to what I've written above, I've a couple of general recommendations but these are **not** requirements for the review:

 * add some continuous integration for the tests (maybe run the described example as a test and compare the output to the *expected* output)
 * add some autogenerated documentatio

[2020-06-16 12:11] OttaviaE commented on #2297
Hey @mikerspencer and @mmrabe, @oliviaguest  and I were wondering whether you wanted to review my R package for computing implicit measures scores and its related paper....? Thanks!

[2020-06-16 12:20] danielskatz commented on #2293
Hi
1 - you can have multiple references inside one set of square brackets, but they need to separated with ;s, not ,s - they may also not support a space after the ; but I am not sure.  Try [@a;@b] for example.
2 - commands to whedon need to be the very start of a comment

[2020-06-16 12:21] oliviaguest commented on #2297
Ah, sorry. I should have said not to tag them (see top):

I apologise — my fault for not being clear and not reminding you. No worries though. I am sure they are understanding and aware of how to unsubscribe. Sorry.

If you have any other names that are not on that list, also feel free to mention them. I think it might be good to find IAT experts who might be less (explicitly) expert in R per se.

[2020-06-16 12:25] danielskatz commented on #2297
Just to make it clear - Choosing, inviting, and assigning reviewers is part of the job of the editor, though it's typical that she asks the author for suggestions, which may or may not be used. The authors can suggest potential reviewers, but should not ask them to review.

[2020-06-16 12:27] oliviaguest commented on #2297
My fault @danielskatz because I didn't realise/think of the ambiguity between tag and mention — I was hoping just for emails/[user]names.

[2020-06-16 12:28] OttaviaE commented on #2297
Sorry @danielskatz and @oliviaguest, this is my bad cause I forgot what was written on the first thread regarding the mentioning/tag of the reviewers. I apologise for that.

[2020-06-16 12:29] oliviaguest commented on #2297
Do not worry! It's a non-issue, totally an innocent mistake.

[2020-06-16 12:36] pdebuyl commented on #2252
@whedon commands

[2020-06-16 12:36] whedon commented on #2252
Here are some things you can ask me to do:

[code]

[2020-06-16 12:36] pdebuyl commented on #2252
@whedon assign me as editor

[2020-06-16 12:36] whedon commented on #2252
OK, the editor is @pdebuyl

[2020-06-16 12:38] OttaviaE commented on #2297
@oliviaguest I was thinking maybe we can ask again to one of the reviewer that reviewed my Shiny app... worst case sceanario he can mention someone pretty familiar with the IAT & R. Sorry again

[2020-06-16 12:39] oliviaguest commented on #2297
FWIW if either or both of them want to review this, I think that's a good idea BTW. So I am happy to hear from them if they do check this thread. Otherwise, I will email them soon — I have already sent quite a few emails today for this, so maybe people will get back to us.

Drop their details here (ideally their website?) please! Good idea!

[2020-06-16 12:40] pdebuyl commented on #2252
@jenzopr , @hannahbrucemacdonald , @blakeaw could you review the manuscript "CancerSim: A python3 package for stochastic cancer simulation in 2D" for the Journal of Open Source Software? (two reviewers needed).

[2020-06-16 12:41] pdebuyl commented on #2293
Thank you @danielskatz

Sorry @BartoszBartmanski , it is indeed better to have the grouped citations as originally intended.

[2020-06-16 12:43] OttaviaE commented on #2297
@oliviaguest okay just to clear the air and prevent me from doing any other silly mistakes... can I just write it down his e-mail adrees here? he is in the list of the JOSS reviewers

[2020-06-16 12:56] oliviaguest commented on #2297
@OttaviaE you can write anything except actually @-tagging, get me? See this as "safe" example: https://github.com/openjournals/joss-reviews/issues/2269#issuecomment-644718399

[2020-06-16 12:58] BartoszBartmanski commented on #2293
Thank you @danielskatz for both suggestions

@danielskatz I just updated the citations in the repository. Let's see whether it's fixed

[2020-06-16 12:58] BartoszBartmanski commented on #2293
@whedon generate pdf

[2020-06-16 13:00] whedon commented on #2293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02293/joss.02293/10.21105.joss.02293.pdf)

[2020-06-16 13:01] OttaviaE commented on #2297
@oliviaguest got you, thanks. tomfaulkenberry and benmarwick were the reviewers for my shiny app, they looked pretty familiar with both R and the IAT. Maybe they are available or they can suggest someone.

[2020-06-16 13:03] BartoszBartmanski commented on #2293
@pdebuyl That seems to have fixed that issue

[2020-06-16 13:11] jenzopr commented on #2252
Thanks @pdebuyl ! Unfortunately, I won't have enough resources in the next weeks. However, its a very interesting topic and at any other point in time I would have agreed to review.

[2020-06-16 13:13] Kevin-Mattheus-Moerman commented on #2252
@jenzopr thanks for your reply here. FYI we can be extra flexible during these challenging times. If you can review but need more than the usual 2 week window we can likely accommodate. If given this you'd be interested please reconsider. Thanks either way.

[2020-06-16 13:21] waseemasheikh commented on #2016
You have the wrong email address. My name is Waseem but I have no idea what this is about, and I’m unable to unsubscribe from github.

Sent from my iPhone

[2020-06-16 13:34] Kevin-Mattheus-Moerman commented on #2016
Apologies @waseemasheikh it seems @arfon tagged you by accident since your name is close to the author's name.

[2020-06-16 13:37] wdduncan commented on #2168
The documentation is looking good!

[2020-06-16 13:39] oliviaguest commented on #2269
@whedon add @szorowi1 as reviewer

[2020-06-16 13:39] whedon commented on #2269
OK, @szorowi1 is now a reviewer

[2020-06-16 13:39] blakeaw commented on #2252
Hi @pdebuyl, sure, I can review it.

[2020-06-16 13:50] oliviaguest commented on #2269
Wow, two Sams! I should probably change my name to Sam as should @whedon and @ihrke to avoid confusion. Anyway, fantastic to have all these Sams on board — thank you all!

Let's get the review started!

[2020-06-16 13:50] oliviaguest commented on #2269
@whedon start review

[2020-06-16 13:50] whedon opened #2348 "[REVIEW]: pypillometry: A Python package for pupillometric analyses"
**Submitting author:** @ihrke (<a href="http://orcid.org/0000-0003-0205-7353">Matthias Mittner</a>)
**Repository:** <a href="https://github.com/ihrke/pypillometry" target ="_blank">https://github.com/ihrke/pypillometry</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewers:** @samhforbes, @szorowi1, @tjmahr
**Archive:** <a href="https://doi.org/10.5281/zenodo.3925528" target="_blank">10.5281

[2020-06-16 13:50] whedon commented on #2269
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2348.

[2020-06-16 13:50] #2269 closed

[2020-06-16 13:50] whedon commented on #2348
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @samhforbes, @szorowi1 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-06-16 13:51] whedon commented on #2348
[code]

[2020-06-16 13:51] whedon commented on #2348
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02348/joss.02348/10.21105.joss.02348.pdf)

[2020-06-16 13:52] terrytangyuan commented on #2262
@urbanophile @lee-seon-woo @Paul92 If you would like to review for this submission, please let us know here! We need at least two reviewers.

[2020-06-16 13:54] oliviaguest commented on #2348
Hi all! 👋  Thank you so much, @samhforbes, @szorowi1, for accepting to review this software package and paper by @ihrke! 😊

Any questions, feedback on the paper, etc., please post here. Any *very* code-specific questions, suggestions, etc., please use the issues in the code repo and link to them from this thread so we can all keep track of them. 🌸

Thank you again, Sams!

[2020-06-16 13:54] oliviaguest commented on #2269
Head on over to #2348 to start the process. 😸

[2020-06-16 14:16] KristinaRiemer commented on #2264
I'm not sure that I know enough about this statistical approach to be a good editor? Also, I don't know if the Stata version is included with this submission, but I have no experience with Stata.

[2020-06-16 14:26] Paul92 commented on #2262
@terrytangyuan Sure, happy to do it.

[2020-06-16 14:33] paulinepalma commented on #2285
Yes! All of my comments have been addressed.

Le lun. 15 juin 2020, à 12 h 06, Olivia Guest <notifications@github.com> a
écrit :

--
Sent from my ouija board

[2020-06-16 14:36] dpsanders commented on #2224
Sorry for the delay, I will be available again at the end of the week.

[2020-06-16 14:38] oliviaguest commented on #2285
Wooooo!!!! @paulinepalma @Athanasiamo!!! Thank you both so much for your valuable and timely feedback on improving @samhforbes code and paper! 🎉

[2020-06-16 14:38] oliviaguest commented on #2285
@whedon check references

[2020-06-16 14:39] whedon commented on #2285
[code]

[2020-06-16 14:39] oliviaguest commented on #2285
@samhforbes can you create an archive (on Zenodo, figshare, or other) and post the archive DOI  here, please? 😃

[2020-06-16 14:40] oliviaguest commented on #2285
@whedon compile pdf

[2020-06-16 14:40] whedon commented on #2285
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-16 14:40] oliviaguest commented on #2285
@whedon generate pdf

[2020-06-16 14:41] whedon commented on #2285
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02285/joss.02285/10.21105.joss.02285.pdf)

[2020-06-16 14:44] KristinaRiemer commented on #2258
I can take this submission if @labarba thinks it's ready.

[2020-06-16 14:48] arfon commented on #2347
@RuthAngus - thanks for raising your potential conflict of interest here as a collaborator with @afeinstein20. As a result, I'd like to find an alternative reviewer - I'm sure it won't be too long before I ask you again 😉

:wave: @ekaterinailin & @astrobel - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow

[2020-06-16 14:49] edwardoughton commented on #2266
Thank you for the review feedback @garrettj403 and @gorlapraveen, we're working to turn these corrections around.

[2020-06-16 14:51] pdebuyl commented on #2252
Thank you @blakeaw !

[2020-06-16 14:51] pdebuyl commented on #2252
@jenzopr thank you for the quick reply. As @Kevin-Mattheus-Moerman writes, we indeed accept longer delays currently.

[2020-06-16 14:57] kbarnhart commented on #2197
@Xunius you can import a python module _when you are in the code's directory_ without running setup.py develop. That is why option 1 appeared to have installed ipart. If you are in another directory, however, it won't import.

Regarding conda forge: Just in case I'm not being clear enough, what I mean by _manage all dependencies_ is that one might expect the following to install ipart and all of i

[2020-06-16 15:18] bmcfee commented on #2344
I've got a bit of a full plate right now, but could pick it up if nobody else can.

[2020-06-16 15:22] pearsonkyle commented on #2187
Thank you for the consideration but unfortunately, I can not review it at this time.

[2020-06-16 15:24] samhforbes commented on #2285
Yes thank you both so much @paulinepalma and @Athanasiamo - I'm really grateful for your input, it's a neater and sleeker package for your input.

[2020-06-16 15:28] blthayer commented on #2289
@robinroche - excellent, I'm glad to hear it! Thanks for bearing with us as we addressed those locale issues.

As you go through the JOSS checklist, we'd love to hear further suggestions for improving ESA. Please don't hesitate to file issues over in our repository, even if it's as simple as "Section X of the documentation is confusing and should be revised."

[2020-06-16 15:29] oliviaguest commented on #2348
@whedon add @tjmahr as reviewer

[2020-06-16 15:29] whedon commented on #2348
OK, @tjmahr is now a reviewer

[2020-06-16 15:33] katyhuff commented on #2034
Sorry for the delay in responding.
@ali-ramadhan I'm not sure what's happened with your permissions, but I believe that it may be due to non-responsiveness earlier. I have checked all the boxes that you have affirmed as completed in your review. So, all are now checked except the confirmations of Conflict of interest and reading the JOSS code of conduct. Can you confirm @ali-ramadhan in a comment

[2020-06-16 15:34] katyhuff commented on #2034
@YoungFaithful I will look over this paper one more time over the next few days and make my own comments if I find anything still needs attention after your two thorough reviews. Thank you for your patience.

[2020-06-16 15:46] Xunius commented on #2197
@kbarnhart I'm able to create and install `ipart` all in one line, but only in py2. Doing this in separate steps seems much harder. For py3 it the conda install doesn't work. I'll have to look into that later.

For suggested reviews, perhaps:
- ajdawson
- doutriaux1
- jwblin

[2020-06-16 15:57] samhforbes commented on #2285
@oliviaguest Up on Zenodo now: 10.5281/zenodo.3897291

[2020-06-16 15:59] popersson commented on #2187
Sorry, too much behind on everything else.

Per

On Tue, Jun 16, 2020 at 4:11 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-06-16 16:06] oliviaguest commented on #2285
@whedon set 10.5281/zenodo.3897291 as archive

[2020-06-16 16:06] whedon commented on #2285
OK. <a href="https://doi.org/10.5281/zenodo.3897291" target="_blank">10.5281/zenodo.3897291</a> is the archive.

[2020-06-16 16:06] oliviaguest commented on #2285
@whedon generate pdf

[2020-06-16 16:07] whedon commented on #2285
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02285/joss.02285/10.21105.joss.02285.pdf)

[2020-06-16 16:07] oliviaguest commented on #2285
@samhforbes thank you can you check the PDF is fine and sign that off for me, please?

[2020-06-16 16:14] Kevin-Mattheus-Moerman commented on #2294
@whedon invite @lorenanicole as editor

[2020-06-16 16:14] whedon commented on #2294
@lorenanicole has been invited to edit this submission.

[2020-06-16 16:19] jwbuurlage commented on #2286
Hi @edwardando, I will try to find some time this week to start working on the review process. Thanks!

[2020-06-16 16:25] Kevin-Mattheus-Moerman commented on #2295
@poulson @harpolea @dpsanders could one of you handle this submission? Thanks

[2020-06-16 16:29] samhforbes commented on #2285
@whedon generate pdf

[2020-06-16 16:30] whedon commented on #2285
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02285/joss.02285/10.21105.joss.02285.pdf)

[2020-06-16 16:36] samhforbes commented on #2285
@whedon generate pdf

[2020-06-16 16:37] whedon commented on #2285
PDF failed to compile for issue #2285 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/rest-client-2.1.0/lib/restclient/abstract_response.rb:249:in `exception_with_response': 503 Service Unavailable (RestClient::ServiceUnavailable)
	from /app/vendor/bundle/ruby/2.4.0/gems/rest-client-2.1.0/lib/restclient/abstract_response.rb:129:in `return!'
	from /app/vendor/bundle/ruby/2.4.0/gems/r

[2020-06-16 16:38] oliviaguest commented on #2285
@whedon generate pdf

[2020-06-16 16:38] Kevin-Mattheus-Moerman commented on #2298
@kbarnhart @leouieda could one of you handle this submission? Thanks

[2020-06-16 16:39] whedon commented on #2285
PDF failed to compile for issue #2285 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/rest-client-2.1.0/lib/restclient/abstract_response.rb:249:in `exception_with_response': 503 Service Unavailable (RestClient::ServiceUnavailable)
	from /app/vendor/bundle/ruby/2.4.0/gems/rest-client-2.1.0/lib/restclient/abstract_response.rb:129:in `return!'
	from /app/vendor/bundle/ruby/2.4.0/gems/r

[2020-06-16 16:41] oliviaguest commented on #2285
@openjournals/dev I'm not sure if this is the right tag to use for this help, but what is going wrong here? 🆘

[2020-06-16 16:45] danielskatz commented on #2285
that is the right tag :)

[2020-06-16 16:52] xuanxu commented on #2285
looks like a temporary conflict in the server, let's try again

[2020-06-16 16:52] xuanxu commented on #2285
@whedon generate pdf

[2020-06-16 16:52] whedon commented on #2285
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02285/joss.02285/10.21105.joss.02285.pdf)

[2020-06-16 16:54] oliviaguest commented on #2285
Thank you, @xuanxu! ✨

[2020-06-16 17:01] oliviaguest commented on #2285
@xuanxu something is very weird... the link to zenodo isn't in the PDF.

[2020-06-16 17:02] oliviaguest commented on #2285
@whedon generate pdf

[2020-06-16 17:03] whedon commented on #2285
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02285/joss.02285/10.21105.joss.02285.pdf)

[2020-06-16 17:05] oliviaguest commented on #2285
@openjournals/dev I set the DOI for the archive normally like this

and then recompiled the PDF (a bunch of times by now) but the new generated PDF doesn't link to the "Archive" where it should (left column of first page). I assume this is a new/related bug? 😱

[2020-06-16 17:53] mjsottile commented on #2344
I cannot: I’m saturated for the next month or so.

[2020-06-16 18:01] oliviaguest commented on #2297
@whedon add @eirini-zormpa as reviewer

[2020-06-16 18:01] whedon commented on #2297
OK, @eirini-zormpa is now a reviewer

[2020-06-16 18:15] lpantano commented on #2334
@lskatz, can you try to fix the issue for the compilation?

[2020-06-16 18:16] lpantano commented on #2334
@whedon generate pdf

[2020-06-16 18:17] whedon commented on #2334
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02334/joss.02334/10.21105.joss.02334.pdf)

[2020-06-16 18:18] lpantano commented on #2334
@lfaller saw the issue was a reviewer typo in the description of this issue. Now there is a PDF for the paper. Thanks!

[2020-06-16 18:20] oliviaguest commented on #2285
@whedon accept

[2020-06-16 18:20] whedon commented on #2285
[code]

[2020-06-16 18:20] whedon commented on #2285
[code]

[2020-06-16 18:21] whedon commented on #2285
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1492

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1492, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-16 18:25] xuanxu commented on #2285
@oliviaguest the `generate pdf` command prepares a preview of the pdf without adding the archive DOI. I think that is only done when compiling the final version after acceptance.

[2020-06-16 18:28] oliviaguest commented on #2285
Yeah — sorry! I got paranoid. 😑
Apologies, @xuanxu!

[2020-06-16 18:31] oliviaguest commented on #2285
@samhforbes if you are OK with the final proofs, I will ask to get this properly published ASAP. 🥳

[2020-06-16 18:39] lskatz commented on #2334
Thank you for catching that, @lpantano! I'm not sure I would have been able to find that so fast!

[2020-06-16 18:43] kbarnhart commented on #2333
@Kevin-Mattheus-Moerman I can't take on another paper right now. If no one can take this on between now the end of next week. I should be able to take on another one or two papers then.

[2020-06-16 18:43] kbarnhart commented on #2298
@Kevin-Mattheus-Moerman I can't take on another paper right now. If no one can take this on between now the end of next week. I should be able to take on another one or two papers then.

[2020-06-16 18:50] samhforbes commented on #2285
@oliviaguest this looks good!

[2020-06-16 18:58] oliviaguest commented on #2285
@openjournals/joss-editors please publish this! 😸

[2020-06-16 19:01] oliviaguest commented on #2285
@openjournals/joss-eics please publish this! 😸

[2020-06-16 19:08] labarba commented on #2258
I'm going to leave the assessment of the paper to the handling editor and reviewers, moving forward.

[2020-06-16 19:32] KristinaRiemer commented on #2258
@whedon assign me as editor

[2020-06-16 19:32] whedon commented on #2258
OK, the editor is @KristinaRiemer

[2020-06-16 19:38] kullrich commented on #2258
Travis CI fails at the moment for R-devel, R-release compiles without any warnings. I have already opene an issue on Bioconductor: https://support.bioconductor.org/p/131811/ regarding this issue.
Should I remove R-devel from travis.yml for the time of review?

[2020-06-16 19:46] robinroche commented on #2289
@blthayer I have finished the review. Congratulations on this software, I wish it had existed when I needed it during my PhD! It is a much needed addition to PWS/SimAuto, simple to use and well documented.

Here are some minor improvement suggestions:
- In the documentation landing page, briefly explain what is SimAuto and what it can do (e.g., a few simple examples).
- Make a link to SimAuto's do

[2020-06-16 20:02] danielskatz commented on #2289
Thanks @robinroche!
@blthayer - please go ahead and make the changes suggested by @robinroche, or let us know what you disagree with.
Once this is done, we can move forward on the acceptance of the submission.

[2020-06-16 20:03] arbennett commented on #2241
Hypothesize is a well designed library with a clear and well defined scope as well as functionality that does not appear to exist in other Python packages. I think this is a good contribution and a good fit to be published in JOSS after some minor modifications.

I really enjoyed how clean the documentation and structure of the code is. I had almost no trouble installing and getting started with h

[2020-06-16 20:06] danielskatz commented on #2282
👋 @jcolomb - it looks like there's an issue blocking @mikerspencer ..

 @aj2duncan & @mikerspencer - how are your reviews coming along otherwise?

[2020-06-16 20:08] danielskatz commented on #2295
I'll take this one

[2020-06-16 20:08] danielskatz commented on #2295
@whedon assign me as editor

[2020-06-16 20:08] whedon commented on #2295
OK, the editor is @danielskatz

[2020-06-16 20:08] blthayer commented on #2289
@robinroche - thank you! I appreciate your suggestions, and we'll get those worked in shortly.

@danielskatz, @mzy2240 - I'll plan to address @robinroche's comments tomorrow, either in the morning before work or in the evening afterwards.

[2020-06-16 20:09] danielskatz commented on #2295
👋 @muhrin - if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).  I will also think about potential reviewers...

[2020-06-16 20:11] danielskatz commented on #2295
Also, the repository you entered when submitting (as shown at the top of the issue is https://github.com/aiidateam/kiwipy.git - I'm going to change this to https://github.com/aiidateam/kiwipy unless you object...)

[2020-06-16 20:30] danielskatz commented on #2335
@whedon assign me as editor

[2020-06-16 20:30] whedon commented on #2335
OK, the editor is @danielskatz

[2020-06-16 20:31] danielskatz commented on #2335
👋 @diehlpk - do you have suggestions for potential reviewers? If so, please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-06-16 20:37] nhejazi commented on #2222
Thank you for agreeing to review, @klmedeiros. No problem in waiting a bit longer, @marcosvital.

[2020-06-16 21:09] jminnier commented on #2222
Sorry, I'm not available to review at this time.

[2020-06-16 21:15] ali-ramadhan commented on #2034
Thank you @katyhuff.

I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

I confirm that I read and will adhere to the JOSS code of conduct.

[2020-06-16 21:20] katyhuff commented on #2034
Thank you. I will do my final checks in the next couple of days and hopefully we can move this one forward. Thank you for your patience.

[2020-06-16 21:30] diehlpk commented on #2335
@danielskatz People working on AMT as well: crtrott and ibaned (Kokkos), stwhite91 and bhatele (Charm++)

[2020-06-16 21:33] diehlpk commented on #2335
@hkaiser @parsa @sithhell @zkhatami88 @khuck @biddisco @stevenrbrandt Can you help to identify potential reviewers? Please add them to my previous comment.

[2020-06-16 21:34] muhrin commented on #2295
Thanks Daniel.  No objection re: repo change, this was a mistake.

I'll have a look at the list tomorrow and get back with some suitable candidates.

[2020-06-16 21:38] danielskatz commented on #2335
To the people mentioned in the previous comment - please do not tag potential reviewers, just provide their github usernames or some other contact info

[2020-06-16 21:39] danielskatz commented on #2335
👋 @crtrott and @ibaned - would one of you be willing to review this submission?

[2020-06-16 21:39] danielskatz commented on #2335
👋 @stwhite91 and @bhatele  - would one of you be willing to review this submission?

[2020-06-16 21:40] diehlpk commented on #2335
These are my co-authors and I asked them for help to suggest reviewers.

[2020-06-16 21:41] danielskatz commented on #2335
Yes. I was saying this to them, not to you

[2020-06-16 21:56] pratikvn commented on #2313
@peanutfun ,

I believe active project direction and contributions to the code are sufficient. I don't think an "Author Contributions" section is necessary. Thanks for clarifying this.

Yes, this was just a suggestion. One of the main reasons I suggest adding a spack package is that HPC users can install it on their cluster themselves (which they do not have root access to and hence cannot use doc

[2020-06-16 22:05] bhatele commented on #2335
@danielskatz I'd be happy to review this submission.

[2020-06-16 22:32] mbobra commented on #2219
@whedon add @EricaEgg as reviewer

[2020-06-16 22:32] lpantano commented on #2170
thank you. But I think we need an archive without tar the content. It should look like this: https://zenodo.org/record/3755304

[2020-06-16 22:32] whedon commented on #2219
OK, @EricaEgg is now a reviewer

[2020-06-16 22:32] mbobra commented on #2219
@whedon start review

[2020-06-16 22:32] whedon opened #2349 "[REVIEW]: impedance.py: A Python package for electrochemical impedance analysis"
**Submitting author:** @mdmurbach (<a href="http://orcid.org/0000-0002-6583-5995">Matthew D. Murbach</a>)
**Repository:** <a href="https://github.com/ECSHackWeek/impedance.py" target ="_blank">https://github.com/ECSHackWeek/impedance.py</a>
**Version:** v1.0.1
**Editor:** @mbobra
**Reviewer:** @ma-sadeghi, @EricaEgg
**Archive:** <a href="https://doi.org/10.5281/zenodo.3955199" target="_blank">10.5

[2020-06-16 22:32] whedon commented on #2219
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2349.

[2020-06-16 22:32] #2219 closed

[2020-06-16 22:32] whedon commented on #2349
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ma-sadeghi, @EricaEgg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-06-16 22:32] whedon commented on #2349
[code]

[2020-06-16 22:32] whedon commented on #2349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02349/joss.02349/10.21105.joss.02349.pdf)

[2020-06-16 22:34] mbobra commented on #2349
Thank you so much for reviewing this submission, @ma-sadeghi and @EricaEgg! If you have any questions, please feel free to ask -- I'm always here to help ☀️

[2020-06-16 22:52] danielskatz commented on #2335
Thanks @bhatele - I'll add you to the system now, but we won't start the review until there's at least one more reviewer as well.

[2020-06-16 22:53] danielskatz commented on #2335
@whedon assign @bhatele as reviewer

[2020-06-16 22:53] whedon commented on #2335
OK, @bhatele is now a reviewer

[2020-06-16 23:27] kbarnhart commented on #2197
@whedon generate pdf

[2020-06-16 23:28] whedon commented on #2197
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02197/joss.02197/10.21105.joss.02197.pdf)

[2020-06-16 23:36] kbarnhart commented on #2276
@KevinShook, @r-barnes, @awickert, @KCallaghan

I wanted to check in and see how things were going with this review, and to answer any questions if you have them. As mentioned above, JOSS is presently requesting reviewers complete their reviews in six weeks (a bit more than three weeks from now).

@KCallaghan thanks for linking all of your issues to this one 👍 🎉

[2020-06-17 00:19] KevinShook commented on #2276
There are still some outstanding issues with the program, particularly in terms of the installation.
This may be because the code has not been looked at for over 6 years.
We are attempting to fix the issues.

[2020-06-17 02:04] Xunius commented on #2197
@kbarnhart PDF good.

[2020-06-17 02:38] awickert commented on #2276
@kbarnhart The review is in the schedule! It should reach the top of the queue in 1.5 weeks.

[2020-06-17 02:45] hope-data-science commented on #2294
TODO list:
1. Miss the citation of the package fst, add it in next correction.
2. Cite "R Core Team" correctly.

[2020-06-17 03:20] maedat commented on #2336
@whedon check references

[2020-06-17 03:20] whedon commented on #2336
[code]

[2020-06-17 03:21] maedat commented on #2336
@whedon check repository

[2020-06-17 03:21] whedon commented on #2336
[code]

[2020-06-17 03:21] whedon commented on #2336
Failed to discover a valid open source license.

[2020-06-17 03:24] majensen commented on #2006
Well, the archives for the project LiberTEM have a [history of consistent naming](https://zenodo.org/search?page=1&size=20&q=conceptrecid:%221477847%22&sort=-version&all_versions=True). If I were to give a reason as an advocate for the author, I would say that the JOSS paper is a unique event in its history as a project, associated with the latest version of LiberTEM. Independently of this event,

[2020-06-17 03:29] majensen commented on #2331
@whedon remind @majensen in 5 days

[2020-06-17 03:29] whedon commented on #2331
Reminder set for @majensen in 5 days

[2020-06-17 03:33] majensen commented on #1942
Hi @pythonpanda2 - I hope the new job is going well. Do you have a sense of when you might have the opportunity to look at @benjaminbolling 's work? Thanks very much  -- @majensen

[2020-06-17 03:33] majensen commented on #2161
Hi @TomKellyGenetics - how are things progressing?

[2020-06-17 03:36] majensen commented on #2044
@wrathematics - please let me know if you are unable to review at this time. No harm done if so. thanks --@majensen

[2020-06-17 03:38] majensen commented on #2331
@arfon - should I remind @whedon to remind me? 😄

[2020-06-17 03:52] CFGrote commented on #2293
still missing the target audience.

[2020-06-17 03:54] CFGrote commented on #2293
Indentation in the README is off at "## Example"

[2020-06-17 04:03] astrobel commented on #2347
Hi @arfon, thanks for the mention! I would be happy to help out and review the submission. Can I ask what the timeline is like for this review?

[2020-06-17 06:18] ekaterinailin commented on #2347
@arfon Yes, if still needed!

[2020-06-17 06:29] adithirgis commented on #2250
@whedon generate pdf

[2020-06-17 06:30] whedon commented on #2250
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02250/joss.02250/10.21105.joss.02250.pdf)

[2020-06-17 06:47] Kevin-Mattheus-Moerman commented on #2333
Okay thanks @kbarnhart. It may come to that actually but that is fine. Thanks again.

[2020-06-17 06:51] Kevin-Mattheus-Moerman commented on #2298
Thanks @kbarnhart understood, that is fine. @leouieda would you be able to take on this one?

[2020-06-17 06:55] mikldk commented on #2306
@markhwhiteii, @mmrabe: Can I ask what the status of the review is? Let me know if you need any help.

[2020-06-17 07:04] Kevin-Mattheus-Moerman commented on #2300
@skapfer thanks for your submission. I will be looking for editors to handle this submission. In the mean time I recommend that you based on our [guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) you make some changes to your paper. In particular can you work on:

In relation to the `statement of need`, can you more clearly describe the research applic

[2020-06-17 07:05] Kevin-Mattheus-Moerman commented on #2300
@hugoledoux this looks like your :coffee: (cup of tea), could you handle this submission?

[2020-06-17 07:06] Kevin-Mattheus-Moerman commented on #2300
@whedon invite @hugoledoux as editor

[2020-06-17 07:06] whedon commented on #2300
@hugoledoux has been invited to edit this submission.

[2020-06-17 07:17] BartoszBartmanski commented on #2293
@whedon generate pdf

[2020-06-17 07:17] csoneson commented on #2163
👋  @MetabolomicsAustralia-Bioinformatics - just checking in to clarify where we are here. Do I interpret the message above correctly in that you plan to add the test suite as well before the reviewers should take a second look at the submission?

[2020-06-17 07:17] whedon commented on #2293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02293/joss.02293/10.21105.joss.02293.pdf)

[2020-06-17 07:20] BartoszBartmanski commented on #2293
@CFGrote Thank you for spotting Examples section misalignment. A typo in the README caused this section title to be interpreted as a code block. I also added target audience to both the README and the docs in the most recent commit.

[2020-06-17 07:25] csoneson commented on #1992
Ping @greglandrum

[2020-06-17 07:26] csoneson commented on #2241
Thank you @arbennett!

[2020-06-17 07:27] Kevin-Mattheus-Moerman commented on #2311
@kegiljarhus I have some brief comments on your paper. While we are looking for an editor to handle this submission I recommend that you look at the following.
1. Work on fixing references which do no render properly in the paper. Also add DOI's for all references that have them.
2. Consider citing papers that actually use this theory in design, to clarify importance of this work to research.
3. C

[2020-06-17 07:29] Kevin-Mattheus-Moerman commented on #2311
@sjpfenninger can you handle this submission?
Alternatively, @kyleniemeyer you are handling quite a few submissions already but is this something you may be interested in handling?
Thanks.

[2020-06-17 07:36] Kevin-Mattheus-Moerman commented on #2180
@gkthiruvathukal let me know if this submission is ready for processing

[2020-06-17 07:37] Kevin-Mattheus-Moerman commented on #2180
@whedon set 10.5281/zenodo.3894083 as archive

[2020-06-17 07:37] whedon commented on #2180
OK. <a href="https://doi.org/10.5281/zenodo.3894083" target="_blank">10.5281/zenodo.3894083</a> is the archive.

[2020-06-17 07:38] Kevin-Mattheus-Moerman commented on #2180
@whedon set v1.0.0 as version

[2020-06-17 07:38] whedon commented on #2180
OK. v1.0.0 is the version.

[2020-06-17 07:40] Kevin-Mattheus-Moerman commented on #2180
@gkthiruvathukal I've assigned the archive DOI and also update the version label (pumped to v1.0.0). I also check the DOI metadata which seems okay. If you are happy to tick your boxes :point_up: and proceed, let me know. Thanks.

[2020-06-17 07:47] Kevin-Mattheus-Moerman commented on #2320
@hugoledoux is this something you could handle as editor? @bmcfee I know you are quite busy but if this is still available at a later point perhaps you can consider this one too.

[2020-06-17 08:08] muhrin commented on #2295
Here are some usernames that came up that I feel could be suitable reviewers:

colbrydi
cmbiwer
uellue
alvarolopez
dghoshal-lbl

My main criteria were looking for reviewers with python as a preferred language, then some experience of big-data/HPC/workflows (which is the main application for kiwiPy) followed by those who had HPC/cloud/distributed systems expertise.

[2020-06-17 08:42] vgurianov commented on #2346
@whedon generate pdf

[2020-06-17 08:43] whedon commented on #2346
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02346/joss.02346/10.21105.joss.02346.pdf)

[2020-06-17 08:43] CFGrote commented on #2293
@BartoszBartmanski, very good. I'm happy with the repo now and recommend publication as is.

[2020-06-17 08:43] CFGrote commented on #2293
@whedon commands

[2020-06-17 08:43] whedon commented on #2293
Here are some things you can ask me to do:

[code]

[2020-06-17 08:45] CFGrote commented on #2293
@pdebuyl I'm done with the review, my recommendation is: publish as is. Thanks for the experience, this was my first JOSS review.

[2020-06-17 08:46] pdebuyl commented on #2293
@CFGrote thank you for the review and the feedback!

I will take care of the paper for publication after going through the editor's checklist.

[2020-06-17 08:47] vgurianov commented on #2346
@whedon generate pdf

[2020-06-17 08:47] whedon commented on #2346
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02346/joss.02346/10.21105.joss.02346.pdf)

[2020-06-17 08:53] pdebuyl commented on #2293
@whedon generate pdf

[2020-06-17 08:53] pdebuyl commented on #2293
@whedon check references

[2020-06-17 08:54] whedon commented on #2293
PDF failed to compile for issue #2293 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02293.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-06-17 08:54] whedon commented on #2293
[code]

[2020-06-17 09:10] csoneson commented on #2288
@Kevin-Mattheus-Moerman - I can handle this one.

[2020-06-17 09:10] csoneson commented on #2288
@whedon assign @csoneson as editor

[2020-06-17 09:10] whedon commented on #2288
OK, the editor is @csoneson

[2020-06-17 09:10] csoneson commented on #2288
@whedon check references

[2020-06-17 09:11] whedon commented on #2288
[code]

[2020-06-17 09:14] csoneson commented on #2288
👋 @skhilton - I will handle your submission, and start by engaging some reviewers! In the meantime, could you please add DOIs to your references?

[2020-06-17 09:24] kegiljarhus commented on #2311
Thank you for the comments, @Kevin-Mattheus-Moerman, I will make some changes to the paper to better highlight the relevance of the package. Regarding the graphical summary, do you think adding the [two validation examples](https://pybemt.readthedocs.io/en/latest/validation.html) from the documentation would be appropriate, or were you more thinking about design examples?

[2020-06-17 09:41] pdebuyl commented on #2293
@whedon generate pdf

[2020-06-17 09:41] whedon commented on #2293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02293/joss.02293/10.21105.joss.02293.pdf)

[2020-06-17 09:52] mikldk commented on #2294
@whedon assign me as editor

[2020-06-17 09:52] whedon commented on #2294
OK, the editor is @mikldk

[2020-06-17 09:59] arfon commented on #2331
:-) we'll see...

[2020-06-17 10:16] mmrabe commented on #2306
@mikldk, thanks for assigning me as a reviewer and sorry for not responding since then. I'm still perfectly happy with reviewing this paper but won't be able to do so before 29-06-2020 as mentioned in the pre-review issue. I'm planning to complete the review by the end of this month if that is acceptable. Sorry for the delay!

[2020-06-17 10:43] peanutfun commented on #2313
@pratikvn, I'm glad we could resolve the author issue and that you had no trouble building and running DORiE.

Thank you for elaborating on the use cases of spack. I realize that missing root privileges is an issue we have not considered much. Supporting such a setup would be a nice addition. At your discretion, however, we would consider the associated issue [dorie#195](https://ts-gitlab.iup.uni-

[2020-06-17 10:44] HajkD commented on #2170
Dear Lorena,

Thank you very much for making me aware of this.

In my last JOSS paper I also submitted a `*.tar.gz` file, since this is the source format for R packages:

https://zenodo.org/record/1286221#.XunyeZ4zahc

Would it be possible to check wether there is a way to use `*.tar.gz` files in JOSS, because the Zenodo policy states:

`Note: File addition, removal or modification are not allowed

[2020-06-17 10:59] pdebuyl commented on #2293
@BartoszBartmanski can you add the doi for all references in the bib file?

[2020-06-17 11:03] mikldk commented on #2306
@mmrabe Thanks. Yes, that will do. Thank you.

[2020-06-17 12:03] danielskatz commented on #2295
👋 @dghoshal-lbl - would you be willing to review this submission for JOSS?

[2020-06-17 12:08] danielskatz commented on #2295
👋 @uellue - would you be willing to review this submission for JOSS?

[2020-06-17 12:09] danielskatz commented on #2295
👋 @cmbiwer - would you be willing to review this submission for JOSS?

[2020-06-17 12:51] Nikoleta-v3 commented on #2315
👋 @yangkcatiu.  I am now completing the **Software paper** checklist. I opened the following issues:

- https://github.com/BrianAronson/birankr/issues/23
- https://github.com/BrianAronson/birankr/issues/24

Please comment on the issues if you have any questions.

[2020-06-17 13:04] BartoszBartmanski commented on #2293
@whedon generate pdf

[2020-06-17 13:05] BartoszBartmanski commented on #2293
@whedon check references

[2020-06-17 13:05] whedon commented on #2293
[code]

[2020-06-17 13:05] whedon commented on #2293
PDF failed to compile for issue #2293 with the following error:

 sh: 0: getcwd() failed: No such file or directory
sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02293.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-06-17 13:05] BartoszBartmanski commented on #2293
@whedon generate pdf

[2020-06-17 13:06] whedon commented on #2293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02293/joss.02293/10.21105.joss.02293.pdf)

[2020-06-17 13:06] BartoszBartmanski commented on #2293
@pdebuyl I've just updated the reference file with doi

[2020-06-17 13:11] dghoshal-lbl commented on #2295
@danielskatz sure. I can review this submission.

[2020-06-17 13:15] pratikvn commented on #2313
@peanutfun,

Yes, sure. I don't believe that it is essential for this review.

This sounds reasonable to me. The new installation process does look a lot more simpler. Thanks.

[2020-06-17 13:25] danielskatz commented on #2295
Thanks @dghoshal-lbl - I'll assign you, but the review won't start until we get one more reviewer as well.

[2020-06-17 13:25] danielskatz commented on #2295
@whedon assign @dghoshal-lbl as reviewer

[2020-06-17 13:25] whedon commented on #2295
OK, @dghoshal-lbl is now a reviewer

[2020-06-17 13:42] Alcampopiano commented on #2241
@whedon generate pdf

[2020-06-17 13:42] maedat commented on #2336
@whedon check repository

[2020-06-17 13:42] whedon commented on #2336
[code]

[2020-06-17 13:43] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-17 13:48] Alcampopiano commented on #2241
@whedon generate pdf

[2020-06-17 13:49] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-17 13:51] JonasMoss commented on #2265
@kloppen Here is the report! Please don't hesitate to ask for details or make comments!

This package is thorough in its documentation and testing and has a clearly laid out reason to exist. I'm impressed by the authors' devotion to showing agreement with CMH-17-1G in almost every function. I deeply appreciate comments such as "The results of this function have been validated against published val

[2020-06-17 13:57] maedat commented on #2336
@whedon check repository

[2020-06-17 13:57] whedon commented on #2336
[code]

[2020-06-17 13:57] maedat commented on #2336
@whedon check references

[2020-06-17 13:58] whedon commented on #2336
[code]

[2020-06-17 13:58] jwbuurlage commented on #2286
I have concluded my review. I would say overall the software package, documentation, and article meet the JOSS requirements, but I do have some minor comments that I would like to see addressed.

[2020-06-17 14:04] whedon opened #2350 "[PRE REVIEW]: biorbd: A C++, Python and MATLAB library to analyze and simulate the human body biomechanics"
**Submitting author:** @pariterre (<a href="http://orcid.org/0000-0002-5031-1048">Benjamin Michaud</a>)
**Repository:** <a href="https://github.com/pyomeca/biorbd" target ="_blank">https://github.com/pyomeca/biorbd</a>
**Version:** 1.3.2
**Editor:** @trallard
**Reviewers:** @trallard, @abhishektha
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-06-17 14:04] whedon commented on #2350
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-17 14:05] whedon commented on #2350
[code]

[2020-06-17 14:05] whedon commented on #2350
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02350/joss.02350/10.21105.joss.02350.pdf)

[2020-06-17 14:07] Kevin-Mattheus-Moerman commented on #2350
@trallard can you handle this one? If not I can.

[2020-06-17 14:09] gkthiruvathukal commented on #2180
@Kevin-Mattheus-Moerman Thanks for your help here! This submission is definitely ready to go. Thanks, @coljac for completing all final steps.

Thanks to @omshinde and @ejhigson for your work as reviewers.

[2020-06-17 14:10] Kevin-Mattheus-Moerman commented on #2350
@pariterre we are currently looking for an editor for this submission. It may take us a bit longer than usual (see post referred to above).
In the mean time you can work on refining your paper. In particular fix those missing DOI's detected here :point_up:.  You can run `@whedon generate pdf` to update the paper and use `@whedon check references` to check the references.

[2020-06-17 14:10] Kevin-Mattheus-Moerman commented on #2350
@whedon invite @trallard as editor

[2020-06-17 14:10] whedon commented on #2350
@trallard has been invited to edit this submission.

[2020-06-17 14:17] edwardando commented on #2286
Thanks very much for your time, they are all reasonable and we'll handle them now.
@usethedata is it OK if we make these changes starting from now?

[2020-06-17 14:46] kloppen commented on #2265
@JonasMoss Thank you very much for your comments. You clearly spent considerable effort in conducting a thorough review of the paper and the package. I really appreciate it!

I'll start addressing your comments and will let you know when I'm done. You were quite clear in what you thought should be changed, so I don't anticipate that I'll need any clarification of your comments, but if something co

[2020-06-17 14:47] fwilliams commented on #2187
I'm really sorry but I won't be able to do this. I'm very busy with other projects at the moment.

[2020-06-17 15:11] arfon commented on #2330
:wave: @KathrynJones1, thanks for your submission to JOSS. Before we find an editor to handle this submission I wanted to ask a few questions.

This looks to be an evolution of the [`batman`](https://github.com/lkreidberg/batman) project, with the changes specific to `catwoman` here: https://github.com/lkreidberg/batman/compare/master...KathrynJones1:master . Could you say a little about the longe

[2020-06-17 15:12] arfon commented on #2245
:wave: @mlxd - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-17 15:27] arfon commented on #2347
✨ thanks @astrobel and @ekaterinailin! I think it would be great to have you both as reviewers here.

In the past we've asked for reviews to be completed in two weeks, but in our [_reduced service mode_](https://blog.joss.theoj.org/2020/05/reopening-joss) we're asking for reviews to be completed within six weeks instead.

[2020-06-17 15:27] arfon commented on #2347
@whedon add @astrobel as reviewer

[2020-06-17 15:27] whedon commented on #2347
OK, @astrobel is now a reviewer

[2020-06-17 15:28] whedon commented on #2347
OK, @ekaterinailin is now a reviewer

[2020-06-17 15:28] arfon commented on #2347
@whedon remove @RuthAngus as reviewer

[2020-06-17 15:28] whedon commented on #2347
OK, @RuthAngus is no longer a reviewer

[2020-06-17 15:30] arfon commented on #2347
@pearsonkyle, @astrobel, @ekaterinailin - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

Finally, as mentioned earlier in this thread, this JOSS submission/paper is a joint publication

[2020-06-17 15:45] omshinde commented on #2180
@gkthiruvathukal
Most Welcome! Indeed, it was a great pleasure. Thanks for giving this opportunity.

[2020-06-17 16:09] csoneson commented on #2241
@Alcampopiano - I see that you have closed the issues raised by @arbennett above, and there was a confirmation from @arbennett in at least one of them. Could you both please confirm if you consider these issues to be satisfactorily addressed and we should go ahead with accepting the submission, or if there are still open issues? Thanks!

[2020-06-17 16:14] lorenanicole commented on #2220
@essepuntato not too late at all! Just wanted to circle back in case we needed to find another editor. Thank you for following up! This comment will be of use to you 👇  https://github.com/openjournals/joss-reviews/issues/2220#issuecomment-641390482

[2020-06-17 16:16] arbennett commented on #2241
@Alcampopiano thanks for the quick responses!

@csoneson in my view this is ready to be accepted!

[2020-06-17 16:29] csoneson commented on #2288
👋  @afrubin, @andrefaure - would you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)?

Software repository: https://github.com/dms-view/dms-view.github.io
Accompanying paper: https://github.com/openjournals/joss-papers/blob/joss.02288/joss.02288/10.21105.joss.02288.pdf

JOSS reviewer guidelines and more information about the process: https://joss.readthedo

[2020-06-17 16:35] Alcampopiano commented on #2241
@csoneson I believe that the reviewers and myself have addressed all of the issues at this point.

[2020-06-17 16:37] csoneson commented on #2241
Great, thanks to all of you! I will have a quick look through the paper and get back to you shortly with the next steps.

[2020-06-17 16:44] lorenanicole commented on #2294
Thanks @Kevin-Mattheus-Moerman for that! I already have 2 papers assigned to me so glad we settled on @mikldk as editor.

[2020-06-17 16:59] mlxd commented on #2245
Hi @arfon as much as I would like to help, due to current restrictions here I won't have access to capable hardware to evaluate this for another 3 months or so. Apologies, but I will need to pass for now.

If no progress is made by then please feel free to get back to me.

[2020-06-17 17:03] blthayer commented on #2289
@robinroche, @danielskatz: I have addressed the documentation suggestions.

- Added new [About SimAuto](https://mzy2240.github.io/ESA/html/welcome.html#about-simauto) page and added text with links to the [table of contents/landing page](https://mzy2240.github.io/ESA/html/index.html)
- Links to SimAuto's documentation are available via the previously mentioned links
- All [examples](https://mzy224

[2020-06-17 17:07] danielskatz commented on #2289
Thanks - @robinroche, please let us know how this seems to you when you get a chance.

[2020-06-17 17:12] pibion commented on #2312
@whedon add @nicholeberry as reviewer

[2020-06-17 17:12] whedon commented on #2312
OK, @nicholeberry is now a reviewer

[2020-06-17 17:12] arfon commented on #2245
:wave: @adam-m-jcbs - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-17 17:14] robinroche commented on #2289
@blthayer @danielskatz All suggestions have been addressed. This matches what I had in mind, thanks.

[2020-06-17 17:31] pibion commented on #2312
@whedon remove @nicholeberry as reviewer

[2020-06-17 17:31] whedon commented on #2312
OK, @nicholeberry is no longer a reviewer

[2020-06-17 17:31] pibion commented on #2312
@whedon add @nicholebarry as reviewer

[2020-06-17 17:31] whedon commented on #2312
OK, @nicholebarry is now a reviewer

[2020-06-17 17:31] arfon commented on #2312
Is everything working OK here now @pibion?

[2020-06-17 17:32] pibion commented on #2312
@whedon list reviewers

[2020-06-17 17:32] whedon commented on #2312
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-06-17 17:33] pibion commented on #2312
@arfon I'm not sure whedon has successfully added @nicholebarry as a reviewer.

[2020-06-17 17:35] uellue commented on #2295
Yes, sure! :-)

[2020-06-17 17:36] pibion commented on #2312
@whedon list reviewers

[2020-06-17 17:36] whedon commented on #2312
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-06-17 17:37] pibion commented on #2312
@arfon never mind, this looks good!

[2020-06-17 17:40] pibion commented on #2312
@sambit-giri we've now got one reviewer; we need one more and then we can begin the review process.

[2020-06-17 17:43] uellue commented on #2006
@labarba Is this a requirement that there's a 1:1 match with the Zenodo title? It seems that I overlooked it.

The title of the Zenodo deposition is the default one if GitHub integration for releases is activated. We can also call the paper `LiberTEM/LiberTEM: 0.5.0` if you prefer. A more descriptive title would just be more appealing, I figured.

As @majensen wrote, we already have quite a number

[2020-06-17 17:43] Alcampopiano commented on #2241
@whedon generate pdf

[2020-06-17 17:44] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-17 17:56] danielskatz commented on #2289
@whedon generate pdf

[2020-06-17 17:57] danielskatz commented on #2289
@whedon check references

[2020-06-17 17:57] whedon commented on #2289
PDF failed to compile for issue #2289 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedon/compilers.rb:158:in `initialize': No such file or directory @ rb_sysopen - tmp/2289/docs/joss/markdown-metadata.yaml (Errno::ENOENT)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedon/compilers.rb:158:in `open'
	from /app/vendor/bu

[2020-06-17 17:57] whedon commented on #2289
[code]

[2020-06-17 17:57] danielskatz commented on #2289
@whedon generate pdf

[2020-06-17 17:58] whedon commented on #2289
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02289/joss.02289/10.21105.joss.02289.pdf)

[2020-06-17 18:09] blthayer commented on #2289
@danielskatz - the pdf looks great to me! I didn't find any issues.

[2020-06-17 18:14] danielskatz commented on #2289
Can you merge the changes in https://github.com/mzy2240/ESA/pull/63 or let me know what you disagree with?

[2020-06-17 18:16] danielskatz commented on #2289
Then the next steps are for you to:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and author list (m

[2020-06-17 18:16] danielskatz commented on #2295
Thank - I'll add you and we can get started

[2020-06-17 18:16] danielskatz commented on #2295
@whedon add @uellue as reviewer

[2020-06-17 18:17] whedon commented on #2295
OK, @uellue is now a reviewer

[2020-06-17 18:17] danielskatz commented on #2295
@whedon start review

[2020-06-17 18:17] whedon opened #2351 "[REVIEW]: kiwiPy: Robust, high-volume, messaging for big-data and computational science workflows"
**Submitting author:** @muhrin (<a href="http://orcid.org/0000-0001-6902-1289">Martin Uhrin</a>)
**Repository:** <a href="https://github.com/aiidateam/kiwipy" target ="_blank">https://github.com/aiidateam/kiwipy</a>
**Version:** v0.6.1
**Editor:** @danielskatz
**Reviewer:** @dghoshal-lbl, @uellue
**Archive:** <a href="https://doi.org/10.5281/zenodo.3970461" target="_blank">10.5281/zenodo.3970461</

[2020-06-17 18:17] whedon commented on #2295
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2351.

[2020-06-17 18:17] #2295 closed

[2020-06-17 18:17] whedon commented on #2351
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dghoshal-lbl, @uellue it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-06-17 18:17] whedon commented on #2351
[code]

[2020-06-17 18:17] whedon commented on #2351
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02351/joss.02351/10.21105.joss.02351.pdf)

[2020-06-17 18:18] danielskatz commented on #2351
👋 @dghoshal-lbl & @uellue - thanks for agreeing to review this submission. Please be sure to read the comments above, and let me know if you have any questions. Basically, your job is to check the article proof and repository and check items off your checklist above. (And note that you will have to accept the invitation before you will be able to do so.)

If you see small problems that need to be

[2020-06-17 18:21] labarba commented on #2006
We have a (soft) policy of asking authors to manually edit the metadata of the Zenodo deposit after the release has done its thing, so the titles and author list matches the paper. Of course we don't want you to change the title of the _paper_ to match the repo name. Look, I'm not insisting. That's what we regularly do. If you have your reasons, do as you wish.

[2020-06-17 18:22] danielskatz commented on #2344
@bmcfee - if you are comfortable with this, please take it.  I'm not really an R person...

[2020-06-17 18:33] danielskatz commented on #2335
👋 @G-071, @davidbeckingsale - Would one of of you be willing to review this submission for JOSS?  We openly review both the short paper and the software in a GitHub issue, based on a [checklist](https://joss.readthedocs.io/en/latest/review_criteria.html#review-items)

[2020-06-17 18:46] csoneson commented on #2241
@whedon check references

[2020-06-17 18:46] whedon commented on #2241
[code]

[2020-06-17 19:02] Alcampopiano commented on #2241
Hello @csoneson,

Are you able to check the references again when you have a chance (I don't believe I can ask Whedon to do that)? I have attempted to fix the missing DOIs.

[2020-06-17 19:05] csoneson commented on #2241
@whedon check references

[2020-06-17 19:05] whedon commented on #2241
[code]

[2020-06-17 19:10] davidbeckingsale commented on #2335
@danielskatz - yes, I would be happy to review this.

[2020-06-17 19:10] Alcampopiano commented on #2241
@csoneson Thank you. I could not get the last one to resolve in an online DOI checker, so I added the full URL. That is invalid, which makes sense.

Okay, I've added the DOI as Whedon has suggested and I hope that will work.

[2020-06-17 19:13] danielskatz commented on #2335
Thanks - I'll add you and we can start the review

[2020-06-17 19:13] danielskatz commented on #2335
@whedon add @davidbeckingsale as reviewer

[2020-06-17 19:13] whedon commented on #2335
OK, @davidbeckingsale is now a reviewer

[2020-06-17 19:13] danielskatz commented on #2335
@whedon start review

[2020-06-17 19:13] whedon opened #2352 "[REVIEW]: HPX - The C++ Standard Library for Parallelism and Concurrency"
**Submitting author:** @diehlpk (<a href="http://orcid.org/0000-0003-3922-8419">Patrick Diehl</a>)
**Repository:** <a href="https://github.com/STEllAR-GROUP/hpx" target ="_blank">https://github.com/STEllAR-GROUP/hpx</a>
**Version:** 1.5.0
**Editor:** @danielskatz
**Reviewer:** @bhatele, @davidbeckingsale
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.12907034" target="_blank">10.6084/m9

[2020-06-17 19:13] whedon commented on #2335
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2352.

[2020-06-17 19:13] #2335 closed

[2020-06-17 19:13] whedon commented on #2352
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bhatele, @davidbeckingsale it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2020-06-17 19:14] whedon commented on #2352
PDF failed to compile for issue #2352 with the following error:

 Can't find any papers to compile :-(

[2020-06-17 19:14] danielskatz commented on #2352
@whedon generate pdf from branch JOSS

[2020-06-17 19:14] whedon commented on #2352
[code]

[2020-06-17 19:15] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-06-17 19:15] danielskatz commented on #2352
@whedon check references from branch JOSS

[2020-06-17 19:15] whedon commented on #2352
[code]

[2020-06-17 19:16] csoneson commented on #2241
@whedon check references

[2020-06-17 19:17] whedon commented on #2241
[code]

[2020-06-17 19:17] whedon commented on #2352
[code]

[2020-06-17 19:17] danielskatz commented on #2352
👋 @bhatele & @davidbeckingsale - thanks for agreeing to review this submission. Please be sure to read the comments above, and let me know if you have any questions. Basically, your job is to check the [article proof](https://github.com/openjournals/joss-papers/blob/joss.02352/joss.02352/10.21105.joss.02352.pdf) and [repository](https://github.com/STEllAR-GROUP/hpx) and check items off your checkl

[2020-06-17 19:17] csoneson commented on #2241
@whedon generate pdf

[2020-06-17 19:18] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-17 19:18] danielskatz commented on #2352
👋 @diehlpk - note that whedon suggests changes in your references too, though whedon is not always correct, so please check and make the appropriate changes.

[2020-06-17 19:20] oliviaguest commented on #2297
@whedon add @wjakethompson as reviewer

[2020-06-17 19:20] whedon commented on #2297
OK, @wjakethompson is now a reviewer

[2020-06-17 19:22] lorenanicole commented on #2220
@whedon invite @essepuntato as reviewer

[2020-06-17 19:22] whedon commented on #2220
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-17 19:22] lorenanicole commented on #2220
@whedon commands

[2020-06-17 19:22] whedon commented on #2220
Here are some things you can ask me to do:

[code]

[2020-06-17 19:23] lorenanicole commented on #2220
@whedon add @essepuntato as reviewer

[2020-06-17 19:23] whedon commented on #2220
OK, @essepuntato is now a reviewer

[2020-06-17 19:26] lorenanicole commented on #2220
Just waiting to see if @JanWielemaker is able to review!

[2020-06-17 19:32] csoneson commented on #2241
@Alcampopiano - Could you make the following small fixes to the references:
* the DOI for Benjamini & Hochberg (1995) should not contain `doi.org/`
* Benjamini & Hochberg (1995) is missing an "i" in Benjamini
* There seem to be spaces in the DOIs for Ho et al (2019), McKinney (2010), Seabold & Perktold (2010), Wilcox (1998) and Wilcox (2013)
* Hochberg (1988) and Rom (1990) need case protection in

[2020-06-17 19:34] pdebuyl commented on #2293
@whedon generate pdf

[2020-06-17 19:34] whedon commented on #2293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02293/joss.02293/10.21105.joss.02293.pdf)

[2020-06-17 19:36] marcosvital commented on #2264
Hi, @Kevin-Mattheus-Moerman! Sorry, I'm having some huge time constraints during the pandemic, so I don't feel like I could handle another submission right now.

[2020-06-17 19:40] pdebuyl commented on #2293
@BartoszBartmanski thank you for the merges.

Could you make a tagged release and archive it (on Zenodo). When you've done that, report the version number and archive DOI here please. Please make sure the archive deposit has the correct metadata (title and author list) to match the paper.

If you could also confirm the version number, it's currently v2.0.27 but was updated to 2.0.29

[2020-06-17 19:44] davidbeckingsale commented on #2352
@diehlpk - can you offer a quick bit of rationale behind author selection? A couple of contributors are not on the author list, but have more contributions (in terms of commits/loc) than some of the other authors.

[2020-06-17 19:50] diehlpk commented on #2352
@davidbeckingsale We sent some an email and one reminder to our mailing lists and invited people to contribute to the paper before the deadline. The current list of authors followed the invitation and contributed to the paper. However, we could not contact over 100 contributors in person.

[2020-06-17 19:51] davidbeckingsale commented on #2352
Perfect. Sorry for being pedantic, I am just trying to make sure that the rationale for each of the checklist points is document somewhere 😄

[2020-06-17 19:54] blthayer commented on #2289
@danielskatz:

- tag; `v1.0.6
- Zenodo DOI: `10.5281/zenodo.3899462`

[2020-06-17 19:57] danielskatz commented on #2289
@whedon set v1.0.6 as version

[2020-06-17 19:57] whedon commented on #2289
OK. v1.0.6 is the version.

[2020-06-17 19:57] danielskatz commented on #2289
@whedon set 10.5281/zenodo.3899462 as archive

[2020-06-17 19:57] whedon commented on #2289
OK. <a href="https://doi.org/10.5281/zenodo.3899462" target="_blank">10.5281/zenodo.3899462</a> is the archive.

[2020-06-17 19:58] danielskatz commented on #2289
@whedon accept

[2020-06-17 19:58] whedon commented on #2289
[code]

[2020-06-17 19:59] whedon commented on #2289
[code]

[2020-06-17 20:00] whedon commented on #2289
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1493

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1493, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-17 20:01] danielskatz commented on #2289
@whedon accept deposit=true

[2020-06-17 20:01] whedon commented on #2289
[code]

[2020-06-17 20:02] diehlpk commented on #2352
@whedon check references from branch JOSS

[2020-06-17 20:02] whedon commented on #2352
[code]

[2020-06-17 20:03] whedon commented on #2289
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1273345478088892416) 👈 🐦🐦🐦

[2020-06-17 20:03] whedon commented on #2289
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1494
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02289](https://doi.org/10.21105/joss.02289)
2. If everything looks g

[2020-06-17 20:03] whedon commented on #2352
[code]

[2020-06-17 20:04] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-06-17 20:04] whedon commented on #2352
[code]

[2020-06-17 20:05] diehlpk commented on #2352
Attempting to check references... from custom branch JOSS

[2020-06-17 20:06] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-06-17 20:07] danielskatz commented on #2289
Thanks to @robinroche & @tonyelhabr for reviewing!

And congratulations to @blthayer (Brandon Thayer) and co-authors!

[2020-06-17 20:07] #2289 closed

[2020-06-17 20:07] whedon commented on #2289
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02289/status.svg)](https://doi.org/10.21105/joss.02289)

**We need your help!**

Journal of Open Source Softwa

[2020-06-17 20:08] crtrott commented on #2335
I have a conflict of interest with the HPX folks is my guess.

[2020-06-17 20:08] BartoszBartmanski commented on #2293
@pdebuyl The version number is 2.0.29 and DOI is 10.5281/zenodo.3899466

[2020-06-17 20:10] danielskatz commented on #2335
Thanks for letting us know, though we've now found sufficient reviewers and started the review.

[2020-06-17 20:13] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-06-17 20:14] whedon commented on #2352
[code]

[2020-06-17 20:15] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-06-17 20:17] pdebuyl commented on #2293
@whedon set 2.0.29 as version

[2020-06-17 20:18] whedon commented on #2293
OK. 2.0.29 is the version.

[2020-06-17 20:18] pdebuyl commented on #2293
@whedon set 10.5281/zenodo.3899466 as version

[2020-06-17 20:18] whedon commented on #2293
OK. 10.5281/zenodo.3899466 is the version.

[2020-06-17 20:21] pdebuyl commented on #2293
@whedon accept

[2020-06-17 20:21] whedon commented on #2293
No archive DOI set. Exiting...

[2020-06-17 20:21] pdebuyl commented on #2293
@whedon set 10.5281/zenodo.3899466 as archive

[2020-06-17 20:21] whedon commented on #2293
OK. <a href="https://doi.org/10.5281/zenodo.3899466" target="_blank">10.5281/zenodo.3899466</a> is the archive.

[2020-06-17 20:21] pdebuyl commented on #2293
@whedon set 2.0.29 as version

[2020-06-17 20:21] whedon commented on #2293
OK. 2.0.29 is the version.

[2020-06-17 20:22] pdebuyl commented on #2293
@whedon accept

[2020-06-17 20:22] whedon commented on #2293
[code]

[2020-06-17 20:23] whedon commented on #2293
[code]

[2020-06-17 20:24] whedon commented on #2293
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1495

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1495, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-17 20:32] Alcampopiano commented on #2241
@whedon generate pdf

[2020-06-17 20:33] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-17 20:37] Alcampopiano commented on #2241
@whedon generate pdf

[2020-06-17 20:37] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-17 20:41] Alcampopiano commented on #2241
@whedon generate pdf

[2020-06-17 20:41] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-17 20:45] Alcampopiano commented on #2241
@csoneson Thank you for pointing out the various things to fix and check in the reference section.

I believe I have addressed each of the points listed above (and I have verified that each DOI is valid by clicking on them in the proof).

[2020-06-17 21:44] bstewart commented on #2181
Hi all, my apologies for the long delay in my review.  I have posted a few issues in the target repo around the [paper](https://github.com/JonasRieger/ldaPrototype/issues/5), the need to [document defaults](https://github.com/JonasRieger/ldaPrototype/issues/6) and a small issue in the [README](https://github.com/JonasRieger/ldaPrototype/issues/4).

I have a broader philosophical question about the

[2020-06-17 21:55] karthik commented on #2181
I think this is useful and it would be good for the authors to address it, even briefly in the paper.

[2020-06-17 21:56] karthik commented on #2181
JonasRieger Can you take a look at Brandon's comments above and address those concerns?

[2020-06-17 21:59] tacaswell commented on #1989
@whedon generate pdf

[2020-06-17 21:59] whedon commented on #1989
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01989/joss.01989/10.21105.joss.01989.pdf)

[2020-06-17 22:02] tacaswell commented on #1989
I approve for publication.

[2020-06-17 23:28] bstewart commented on #2181
Okay the last thing I wanted to check finished running.  A core claim here is that the estimation is more stable under the proposed procedure.  I wanted to examine the evidence for that claim.  I ran the default dataset for 100 seeds with 100 topics (essentially all default settings).  I then did it again with a different set of seeds.  The question is how similar are the two sets of results?

Aft

[2020-06-18 00:23] majensen commented on #2168
As I indicated to @wdduncan on another channel - just wanted to let all know that, as productive as it may be,  the review process _can_ be completed: When the reviewers finish their work, please check all the boxes in the review sheets and give us a heads-up with a comment here in the thread.

[2020-06-18 01:21] markhwhiteii commented on #2306
[correlation_review_mhwii.txt](https://github.com/openjournals/joss-reviews/files/4795775/correlation_review_mhwii.txt)

[2020-06-18 01:22] markhwhiteii commented on #2306
- There's no reference to or explanation of Figure 1 in the text.
    It is a little confusing, as it is a barplot with a scatterplot
    layered over it. Given the length of the document, I would
    suggest perhaps removing Figure 1.
- The print output of calls to `correlation()` run off the edge of
    the page. Is there a way to shrink the text size or to cut off
    the columns that run wider

[2020-06-18 01:54] usethedata commented on #2286
@edwardando  -- yes, feel free to make the changes.

[2020-06-18 01:55] usethedata commented on #2286
Yes.

[2020-06-18 01:57] usethedata commented on #2264
While I'd love to help, the stats domain for this package and the things they're doing in R are pretty far outside my areas of expertise.

[2020-06-18 05:22] afrubin commented on #2288
@csoneson I am happy to review this manuscript.

[2020-06-18 05:35] uellue commented on #2006
@labarba Thank you for the clarification! If possible, I'd like to leave it as it is.  Since both paper title and archive contain the unique name "LiberTEM", I think that readers will understand that the two are referring to each other even if the titles don't match 100%. :-)

[2020-06-18 05:39] hugoledoux commented on #2300
@whedon assign @hugoledoux as editor

[2020-06-18 05:39] whedon commented on #2300
OK, the editor is @hugoledoux

[2020-06-18 05:42] hugoledoux commented on #2320
I already have 4 running and I'm afraid I won't be able to do them all, sorry.

[2020-06-18 05:51] TomKellyGenetics commented on #2161
Hi @majensen, thanks for following up. I've been busy with other projects but I've got another round of revisions almost ready push to GitHub. This should address the remaining [issues](https://github.com/TomKellyGenetics/graphsim/issues/) on the [graphsim](https://github.com/TomKellyGenetics/graphsim) package repository.

I've reached out to my coauthor (former supervisor) for a second opinion be

[2020-06-18 06:02] whedon commented on #2336
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02336/joss.02336/10.21105.joss.02336.pdf)

[2020-06-18 06:24] BartoszBartmanski commented on #2293
Thank you @pdebuyl @CFGrote @mbkumar for your time and your comments.

This was my first submission to JOSS and it was a very pleasant experience submitting a paper.

[2020-06-18 06:31] BartoszBartmanski commented on #2293
@pdebuyl Can I ask who has to run the command "whedon accept deposit=true" for the pull request to be merged with joss (https://github.com/openjournals/joss-papers/pull/1495)?

[2020-06-18 07:20] pdebuyl commented on #2293
@BartoszBartmanski it is also my experience that JOSS reviews are nicer than typical ones :-) Thank you for the feedback.

You don't have to perform any task, nor do I. The "deposit=true"  action is for someone from @openjournals/joss-eics

[2020-06-18 08:22] aj2duncan commented on #2282
@danielskatz now @jcolomb has [confirmed](https://github.com/jcolomb/HCS_analysis/issues/18) a particular part of the installation isn't necessary I will push on with the review.

[2020-06-18 08:26] darioizzo commented on #2290
@Ohjeah @shah314 I realize community guidelines are not very visible at the moment, should I add a specific section in the readme file in the github repository?

[2020-06-18 08:51] Ohjeah commented on #2290
Yes you should mention (or link) them in the readme file. Maybe you can have a look into [issue templates](https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository) as well.

[2020-06-18 09:43] JonasRieger commented on #2181
@whedon generate pdf

[2020-06-18 09:44] whedon commented on #2181
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02181/joss.02181/10.21105.joss.02181.pdf)

[2020-06-18 09:45] JonasRieger commented on #2181
Thanks for all the feedback. I updated the default parametrization (no default for K) and fixed the bug in the readMe. I also improved the mentioned points in the paper. I hope this way the contribution will be clearer.

[2020-06-18 09:52] Kevin-Mattheus-Moerman commented on #2344
@bmcfee I'll assign you as editor. We've clarified to authors that the review process will take longer than usual (see post linked to above) so this submission can wait until you are able to pick it up once your "plate" has cleared up a bit.

[2020-06-18 09:52] Kevin-Mattheus-Moerman commented on #2344
@whedon assign @bmcfee as editor

[2020-06-18 09:52] whedon commented on #2344
OK, the editor is @bmcfee

[2020-06-18 09:56] Kevin-Mattheus-Moerman commented on #2344
@Adamoso as mentioned above JOSS is operating in a reduced service mode. It has been challenging for us to find reviewers/editors and operate at our usual efficiency. We apologize for the inconvenience. The handling editor @bmcfee will pick this up once they are able to.

In the mean time it would be helpful if you could suggest reviewers. You also have time to review our guidelines to and update

[2020-06-18 09:58] Kevin-Mattheus-Moerman commented on #2346
@eloisabentivegna @xuanxu @dfm @harpolea could one of you handle this submission? Thanks

[2020-06-18 09:58] Kevin-Mattheus-Moerman commented on #2346
@whedon invite @eloisabentivegna as editor

[2020-06-18 09:58] whedon commented on #2346
@eloisabentivegna has been invited to edit this submission.

[2020-06-18 10:01] Kevin-Mattheus-Moerman commented on #2333
@kbarnhart would you be okay with me assigning this paper to you now, but that it is okay that you pick this up once you have time e.g. in 1-2 weeks? It is acceptable that we are slower handling things given our "reduced service mode", so we can wait until you are ready.

[2020-06-18 10:02] Kevin-Mattheus-Moerman commented on #2256
@sjpfenninger @KristinaRiemer @usethedata could one of you edit this submission? Thanks

[2020-06-18 10:03] Kevin-Mattheus-Moerman commented on #2264
@whedon invite @will-rowe as editor

[2020-06-18 10:03] whedon commented on #2264
@will-rowe has been invited to edit this submission.

[2020-06-18 10:05] Kevin-Mattheus-Moerman commented on #2298
@whedon invite @leouieda as editor

[2020-06-18 10:05] whedon commented on #2298
@leouieda has been invited to edit this submission.

[2020-06-18 10:08] Kevin-Mattheus-Moerman commented on #2320
@hugoledoux that is okay. However given our "reduced service mode" (explained above) it is okay if we are slower dealing with the submission. If this work is in your domain it would be great to assign this to you now. However you can just get to it and deal with this work once you have time for it? Does that sound okay? If you'd rather not right now that is fine too. Thanks either way.

[2020-06-18 10:10] Kevin-Mattheus-Moerman commented on #2320
@jbuisine While we are working to assign an editor, perhaps you can make some changes to your paper in the mean time. Our system is showing you might be missing DOI's in your citations. Can you work on adding them? You can call `@whedon generate pdf` and also `@whedon check references` here to see if they pass the test after making changes.

[2020-06-18 10:10] andrefaure commented on #2288
@csoneson I am also happy to review the manuscript.

[2020-06-18 10:17] Kevin-Mattheus-Moerman commented on #2325
@kyleniemeyer could you handle this submission? Alternatively @arfon, perhaps this could be a good first issue for @kakiac to handle (despite it being off topic perhaps)?

[2020-06-18 10:22] Kevin-Mattheus-Moerman commented on #2326
@anwarbio I cannot see the license yet. I recommend that you add a plain LICENSE file to your main repository folder. This also means that GitHub "discovers" it so it renders a clear license badge e.g. as circled in blue below.
![Screenshot from 2020-06-18 11-18-40](https://user-images.githubusercontent.com/8392709/85008994-a6620680-b155-11ea-9a04-72454ec98ada.png)
Furthermore I recommend referrin

[2020-06-18 10:23] eloisabentivegna commented on #2346
@whedon assign @eloisabentivegna as editor

@Kevin-Mattheus-Moerman Yes, I can handle this.

[2020-06-18 10:23] whedon commented on #2346
OK, the editor is @eloisabentivegna

[2020-06-18 10:27] Kevin-Mattheus-Moerman commented on #2326
@anwarbio this is not a requirement but I recommend that you change the title to:
`Bioassays: a new package in R for analyzing cellular assays`
i.e. to remove the "special characters"  `'` and `;`. My comment is just to improve accuracy of potential citations to your work in the future.

[2020-06-18 10:28] jbuisine commented on #2320
@Kevin-Mattheus-Moerman Thanks for your advice, I'll update the paper quickly with the changes.

[2020-06-18 10:33] Kevin-Mattheus-Moerman commented on #2326
@arfon could this be a good first submission for @fboehm to handle? Alternatively perhaps @mikldk could consider this one?

[2020-06-18 10:39] jbuisine commented on #2320
@whedon check references

[2020-06-18 10:39] whedon commented on #2320
[code]

[2020-06-18 10:40] Kevin-Mattheus-Moerman commented on #2327
@Yomguithereal we are currently trying to find an editor to handle this submission. In the meantime please check our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) and amend your paper where needed. In particular you should cite "A list of key references, including to other software addressing related needs".
With sentences in your paper li

[2020-06-18 10:40] jbuisine commented on #2320
@whedon generate pdf

[2020-06-18 10:41] whedon commented on #2320
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02320/joss.02320/10.21105.joss.02320.pdf)

[2020-06-18 10:42] Kevin-Mattheus-Moerman commented on #2327
@mjsottile @VivianePons @jedbrown @gkthiruvathukal could one of you handle this submission? Thanks

[2020-06-18 10:51] hugoledoux commented on #2320
If it's really impossible to find someone else I could do it, but it might be slow... I don't really know that field though...

[2020-06-18 10:54] Kevin-Mattheus-Moerman commented on #2320
@hugoledoux okay. No worries, thanks. I'll look for others to help and will ping you if I get stuck.

[2020-06-18 10:57] Kevin-Mattheus-Moerman commented on #2180
@whedon generate pdf

[2020-06-18 10:58] whedon commented on #2180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02180/joss.02180/10.21105.joss.02180.pdf)

[2020-06-18 10:59] Kevin-Mattheus-Moerman commented on #2180
@whedon check references

[2020-06-18 11:00] whedon commented on #2180
[code]

[2020-06-18 11:01] arfon commented on #2325
What do you think @kakiac?

[2020-06-18 11:03] arfon commented on #2326
@whedon invite @fboehm as editor

👍 @Kevin-Mattheus-Moerman - this looks like it could be a great first submission for @fboehm.

[2020-06-18 11:03] whedon commented on #2326
@fboehm has been invited to edit this submission.

[2020-06-18 11:06] csoneson commented on #2288
@afrubin, @andrefaure - brilliant, thanks so much! I'll formally add you as reviewers and open the review issue.

[2020-06-18 11:07] csoneson commented on #2288
@whedon add @afrubin as reviewer

[2020-06-18 11:07] whedon commented on #2288
OK, @afrubin is now a reviewer

[2020-06-18 11:07] csoneson commented on #2288
@whedon add @andrefaure as reviewer

[2020-06-18 11:07] Kevin-Mattheus-Moerman commented on #2180
@coljac some editorial comments on the paper:

- [ ] Check/fix double occurrence of `directly` in: `Some well-known methods for visualising and interpreting the outputs of DNNs include directly inspecting the learned features of a model directly`
- [ ] Please define the acronym ANN (or should it be DNN?)
- [ ] If the software you cite in footnotes has papers to cite please do add them.
- [ ] The p

[2020-06-18 11:07] whedon commented on #2288
OK, @andrefaure is now a reviewer

[2020-06-18 11:07] csoneson commented on #2288
@whedon add @ thorvere as reviewer

[2020-06-18 11:08] whedon commented on #2288
OK, @ thorvere is now a reviewer

[2020-06-18 11:08] csoneson commented on #2288
@whedon remove @ thorvere as reviewer

[2020-06-18 11:08] whedon commented on #2288
OK, @ thorvere is no longer a reviewer

[2020-06-18 11:08] csoneson commented on #2288
@whedon add @thorvere as reviewer

[2020-06-18 11:08] whedon commented on #2288
OK, @thorvere is now a reviewer

[2020-06-18 11:09] will-rowe commented on #2271
Hi @mbod - just pinging you again to see if you can review. If no reply, I'll find some additional reviewers

[2020-06-18 11:11] will-rowe commented on #2271
Hi @linuxscout and @MDebasish - are either of you able to review this submission to JOSS please?

[2020-06-18 11:15] csoneson commented on #2288
@whedon start review

[2020-06-18 11:15] whedon opened #2353 "[REVIEW]: dms-view: Interactive visualization tool for deep mutational scanning data"
**Submitting author:** @skhilton (<a href="http://orcid.org/0000-0001-9278-3644">Sarah K. Hilton</a>)
**Repository:** <a href="https://github.com/dms-view/dms-view.github.io" target ="_blank">https://github.com/dms-view/dms-view.github.io</a>
**Version:** v1.1.0
**Editor:** @csoneson
**Reviewer:** @afrubin, @andrefaure, @thorvere
**Archive:** <a href="https://doi.org/10.5281/zenodo.3986155" target

[2020-06-18 11:15] whedon commented on #2288
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2353.

[2020-06-18 11:15] #2288 closed

[2020-06-18 11:15] whedon commented on #2353
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @afrubin, @andrefaure, @thorvere it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2020-06-18 11:16] whedon commented on #2353
[code]

[2020-06-18 11:16] whedon commented on #2353
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02353/joss.02353/10.21105.joss.02353.pdf)

[2020-06-18 11:16] csoneson commented on #2353
@afrubin, @andrefaure, @thorvere - thanks for accepting to review this submission! This issue is where the review happens. You will find your respective checklist, and some additional instructions, in the post above. Don't hesitate to ping me if you have any questions!

[2020-06-18 11:18] csoneson commented on #2353
@skhilton - I'll move my comment from the pre-review issue here so it doesn't get lost: when you get a chance, please add DOIs to the references in your paper (you can then ask whedon to generate a new article proof with `@whedon generate pdf`)

[2020-06-18 11:44] csoneson commented on #2241
@Alcampopiano - great, thanks for making those edits! I found one more detail - in "Bradley & Tibshirani (1993)", Bradley Efron's first name and surname have been swapped - it should be "Efron & Tibshirani (1993)". Could you fix that too?

The next steps:
- [ ] Make a tagged release of the software and list the version tag of the archived version here.
- [ ] Archive the software in Zenodo.
- [ ] C

[2020-06-18 11:44] jedbrown commented on #2333
I could take this.

[2020-06-18 11:46] linuxscout commented on #2271
Ok.

[2020-06-18 11:53] danielskatz commented on #2282
Thanks - please make sure the documentation matches what you learn

[2020-06-18 11:57] will-rowe commented on #2271
Great - thanks very much @linuxscout. We're still waiting on one more reviewer before I start the review process. I'll ping you again when we're ready.

[2020-06-18 11:58] will-rowe commented on #2271
@whedon assign @linuxscout as reviewer

[2020-06-18 11:58] whedon commented on #2271
OK, @linuxscout is now a reviewer

[2020-06-18 12:07] Adamoso commented on #2344
@Kevin-Mattheus-Moerman thank you for the response. I'm aware of the situation and restrictions associated with it, so I was prepared for a longer waiting time and this is not an issue.
I've checked the JOSS document for suitable reviewers and would like to suggest martinju, expectopatronum, ja-thomas, and acolum.

[2020-06-18 12:19] Kevin-Mattheus-Moerman commented on #2333
@whedon assign @jedbrown as editor

[2020-06-18 12:20] whedon commented on #2333
OK, the editor is @jedbrown

[2020-06-18 12:22] whedon opened #2354 "[PRE REVIEW]: DearScholar: A mobile application to conduct qualitative and quantitative diary research"
**Submitting author:** @pmkruyen (<a href="http://orcid.org/0000-0003-0109-1744">Peter Kruyen</a>)
**Repository:** <a href="https://github.com/pmkruyen/dearscholar" target ="_blank">https://github.com/pmkruyen/dearscholar</a>
**Version:** 1.48
**Editor:** @cMadan
**Reviewers:** @gcdeshpande, @kinow
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-06-18 12:22] whedon commented on #2354
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 12:23] whedon opened #2355 "[PRE REVIEW]: set6: R6 Mathematical Sets Interface"
**Submitting author:** @RaphaelS1 (<a href="http://orcid.org/0000-0001-9225-4654">Raphael E. B. Sonabend</a>)
**Repository:** <a href="https://github.com/xoopR/set6" target ="_blank">https://github.com/xoopR/set6</a>
**Version:** v0.1.4
**Editor:** @dpsanders
**Reviewers:** @dmbates, davidjohannesmeyer, @davidjohannesmeyer
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :

[2020-06-18 12:23] whedon commented on #2355
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 12:24] whedon commented on #2355
[code]

[2020-06-18 12:24] whedon opened #2356 "[PRE REVIEW]: textnets: A Python package for text analysis with networks"
**Submitting author:** @jboynyc (<a href="http://orcid.org/0000-0003-2118-4702">John Boy</a>)
**Repository:** <a href="https://github.com/jboynyc/textnets" target ="_blank">https://github.com/jboynyc/textnets</a>
**Version:** v.0.4.2
**Editor:** @gkthiruvathukal
**Reviewers:** @sara-02, @tresoldi
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-06-18 12:24] whedon commented on #2356
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 12:24] whedon opened #2357 "[PRE REVIEW]: linea: Fast linear detrending for CHEOPS photometry"
**Submitting author:** @bmorris3 (<a href="http://orcid.org/0000-0003-2528-3409">Brett Morris</a>)
**Repository:** <a href="https://github.com/bmorris3/linea" target ="_blank">https://github.com/bmorris3/linea</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandem

[2020-06-18 12:24] whedon commented on #2355
[code]

[2020-06-18 12:24] whedon commented on #2357
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 12:24] whedon commented on #2354
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02354/joss.02354/10.21105.joss.02354.pdf)

[2020-06-18 12:25] whedon opened #2358 "[PRE REVIEW]: Viime: Visualization and Integration of Metabolomics Experiments"
**Submitting author:** @waxlamp (<a href="http://orcid.org/0000-0003-3898-4626">Roni Choudhury</a>)
**Repository:** <a href="https://github.com/girder/viime" target ="_blank">https://github.com/girder/viime</a>
**Version:** v0.1.0
**Editor:** @lpantano
**Reviewers:** @joannawolthuis, @rowlandm
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-06-18 12:25] whedon commented on #2358
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 12:25] whedon commented on #2356
[code]

[2020-06-18 12:25] danielskatz commented on #2303
👋 @samharrison7 - The editors have decided that this is out of scope for JOSS, as not "research software" but more infrastructure software.  This says nothing about its value, just that JOSS is not the right place to publish it.  We are therefore going to reject it.

[2020-06-18 12:25] danielskatz commented on #2303
@whedon reject

[2020-06-18 12:25] whedon commented on #2303
Paper rejected.

[2020-06-18 12:25] whedon opened #2359 "[PRE REVIEW]: toughio: Pre- and post-processing Python library for TOUGH"
**Submitting author:** @keurfonluu (<a href="http://orcid.org/0000-0001-7927-0019">Keurfon Luu</a>)
**Repository:** <a href="https://github.com/keurfonluu/toughio" target ="_blank">https://github.com/keurfonluu/toughio</a>
**Version:** v1.3.0
**Editor:** @jgostick
**Reviewers:** @rreinecke
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-06-18 12:25] #2303 closed

[2020-06-18 12:25] whedon commented on #2359
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 12:25] arfon commented on #2357
:wave: @bmorris3 - thanks for your submission to JOSS. Can you tell me if this submission accompanies a paper in a AAS journal?

[2020-06-18 12:26] whedon opened #2360 "[PRE REVIEW]: htmldate: A Python package to extract publication dates from web pages"
**Submitting author:** @adbar (<a href="http://orcid.org/0000-0002-8079-8694">Adrien Barbaresi</a>)
**Repository:** <a href="https://github.com/adbar/htmldate" target ="_blank">https://github.com/adbar/htmldate</a>
**Version:** v0.6.3
**Editor:** @danielskatz
**Reviewers:** @geoffbacon, @proycon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-06-18 12:26] whedon commented on #2360
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 12:27] whedon commented on #2355
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02355/joss.02355/10.21105.joss.02355.pdf)

[2020-06-18 12:27] whedon commented on #2356
PDF failed to compile for issue #2356 with the following error:

 Can't find any papers to compile :-(

[2020-06-18 12:27] whedon commented on #2357
[code]

[2020-06-18 12:27] whedon commented on #2357
Failed to discover a valid open source license.

[2020-06-18 12:28] whedon commented on #2357
[code]

[2020-06-18 12:28] arfon commented on #2360
:wave: @adbar - thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section

[2020-06-18 12:28] whedon commented on #2358
[code]

[2020-06-18 12:29] whedon commented on #2357
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02357/joss.02357/10.21105.joss.02357.pdf)

[2020-06-18 12:30] whedon commented on #2360
[code]

[2020-06-18 12:30] whedon commented on #2359
[code]

[2020-06-18 12:31] whedon commented on #2359
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02359/joss.02359/10.21105.joss.02359.pdf)

[2020-06-18 12:31] whedon commented on #2360
[code]

[2020-06-18 12:31] whedon commented on #2360
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02360/joss.02360/10.21105.joss.02360.pdf)

[2020-06-18 12:32] Kevin-Mattheus-Moerman commented on #2345
@ERottler thank you for your submission. The editorial board has decided this work is not in scope for JOSS (see also our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) and statements on "Minor ‘utility’ packages, including ‘thin’ API clients, and single-function packages").
Of course this conclusion says nothing about the value/usefulness

[2020-06-18 12:32] Kevin-Mattheus-Moerman commented on #2345
@whedon reject

[2020-06-18 12:32] whedon commented on #2345
Paper rejected.

[2020-06-18 12:32] #2345 closed

[2020-06-18 12:34] Kevin-Mattheus-Moerman commented on #2304
@grindhold thank you for your submission. The editorial board has decided this work is not in scope for JOSS (see also our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) and statements on "Minor ‘utility’ packages, including ‘thin’ API clients, and single-function packages").  Of course this conclusion says nothing about the value/usefulnes

[2020-06-18 12:34] Kevin-Mattheus-Moerman commented on #2304
@whedon reject

[2020-06-18 12:35] whedon commented on #2304
Paper rejected.

[2020-06-18 12:35] #2304 closed

[2020-06-18 12:36] arfon commented on #2354
👋 @pmkruyen - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had a very large number of papers submitted and as such, yours has

[2020-06-18 12:37] Kevin-Mattheus-Moerman commented on #2319
@sebdalgarno thank you for your submission. The editorial board has decided this work is unfortunately not in scope for JOSS (see also our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) and statements on "Minor ‘utility’ packages, including ‘thin’ API clients, and single-function packages").  Of course this conclusion says nothing about the

[2020-06-18 12:37] arfon commented on #2355
👋 @RaphaelS1 - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had a very large number of papers submitted and as such, yours ha

[2020-06-18 12:37] Kevin-Mattheus-Moerman commented on #2319
@whedon reject

[2020-06-18 12:37] whedon commented on #2319
Paper rejected.

[2020-06-18 12:38] arfon commented on #2356
@whedon generate pdf from branch joss

[2020-06-18 12:38] whedon commented on #2356
[code]

[2020-06-18 12:38] whedon commented on #2356
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02356/joss.02356/10.21105.joss.02356.pdf)

[2020-06-18 12:39] arfon commented on #2356
👋 @jboynyc - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had a very large number of papers submitted and as such, yours has

[2020-06-18 12:40] arfon commented on #2358
@whedon generate pdf from branch joss-paper

[2020-06-18 12:40] whedon commented on #2358
[code]

[2020-06-18 12:41] arfon commented on #2358
👋 @waxlamp - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had a very large number of papers submitted and as such, yours has

[2020-06-18 12:41] whedon commented on #2358
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02358/joss.02358/10.21105.joss.02358.pdf)

[2020-06-18 12:41] arfon commented on #2359
@whedon check repository

[2020-06-18 12:41] arfon commented on #2359
👋 @keurfonluu - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had a very large number of papers submitted and as such, yours h

[2020-06-18 12:42] whedon commented on #2359
[code]

[2020-06-18 12:44] pmkruyen commented on #2354
Thanks @arfon for your message. Completely understand. Your bot Whedon is asking me to suggest reviews in the first message above, should I do this or wait till further notice?

Regards,
Peter

[2020-06-18 12:46] arfon commented on #2354
Feel free to suggest some reviewers now (please avoid mentioning them directly to avoid unnecessary GitHub notifications for folks) which will help when an editor is assigned.

[2020-06-18 12:51] bmcfee commented on #2344
Ok, no problem. Things should clear up for me after next week.

[2020-06-18 12:54] kullrich commented on #2258
Travis CI now builds also for R-devel without any errors. Needed to change the travis.yml as indicated here https://support.bioconductor.org/p/131811/.

[2020-06-18 12:56] arfon commented on #2264
@Kevin-Mattheus-Moerman - this might be a good first submission for @sbenthall who is currently in the process of joining the JOSS editorial team.

[2020-06-18 12:57] arfon commented on #2267
:wave: @richardjgowers - this looks like it's ready to move forward to review?

[2020-06-18 12:59] RaphaelS1 commented on #2355
Thanks for the update!

[2020-06-18 12:59] hugoledoux commented on #2300
@whedon assign @kenohori as reviewer

[2020-06-18 12:59] whedon commented on #2300
OK, @kenohori is now a reviewer

[2020-06-18 13:01] arfon commented on #2296
Closing this as a duplicate of https://github.com/openjournals/joss-reviews/issues/2346

[2020-06-18 13:01] arfon commented on #2296
@whedon reject

[2020-06-18 13:01] #2296 closed

[2020-06-18 13:01] whedon commented on #2296
Paper rejected.

[2020-06-18 13:02] arfon commented on #2298
@whedon invite @bstabler as editor

This also might be a good submission for @bstabler to get started with.

[2020-06-18 13:02] whedon commented on #2298
@bstabler has been invited to edit this submission.

[2020-06-18 13:09] arfon commented on #2325
This might also be a good fit for @bstabler?

[2020-06-18 13:11] arfon commented on #2327
@kakiac might also be a good fit as an editor here.

[2020-06-18 13:15] richardjgowers commented on #2267
Yeah I was waiting to see if one of the earlier invitees with GPU knowledge
wanted to step in but we can proceed with the current reviewers.

On Thu, Jun 18, 2020 at 13:57, Arfon Smith <notifications@github.com> wrote:

[2020-06-18 13:36] whedon opened #2361 "[PRE REVIEW]: pvpumpingsystem: a python package for modeling and sizing photovoltaic water pumping systems"
**Submitting author:** @tylunel (<a href="http://orcid.org/0000-0003-3008-1422">Tanguy Lunel</a>)
**Repository:** <a href="https://github.com/tylunel/pvpumpingsystem" target ="_blank">https://github.com/tylunel/pvpumpingsystem</a>
**Version:** v1.0
**Editor:** @kbarnhart
**Reviewers:** @samuelduchesne, @robinroche
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2020-06-18 13:36] whedon commented on #2361
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 13:36] whedon commented on #2361
[code]

[2020-06-18 13:37] whedon commented on #2361
[code]

[2020-06-18 13:37] arfon commented on #2361
👋 @tylunel - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, yours has

[2020-06-18 13:37] whedon commented on #2361
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02361/joss.02361/10.21105.joss.02361.pdf)

[2020-06-18 13:39] bmorris3 commented on #2357
👋 @arfon – this submission does not accompany a AAS journals paper.

[2020-06-18 13:49] FlorianRhiem commented on #2107
@whedon generate pdf

[2020-06-18 13:50] whedon commented on #2107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02107/joss.02107/10.21105.joss.02107.pdf)

[2020-06-18 13:59] FlorianRhiem commented on #2107
I have created an Administrator Guide with a new [Getting Started](https://scientific-it-systems.iffgit.fz-juelich.de/SampleDB/administrator_guide/getting_started.html) guide, which walks readers through the first steps. I hope this solves the functionality and documentation issues for setting up SampleDB. If information on a particular step is still missing or too vague, please let me know!

I ha

[2020-06-18 14:01] kbarnhart commented on #2276
All- Thanks for the updates. Please let me know if I can do anything to support the review process.

[2020-06-18 14:04] kbarnhart commented on #1969
👋 @brendonhall @JesperDramsch another quick ping to see if you could revisit your reviews and (potentially) complete the JOSS review checklist.

[2020-06-18 14:05] gkthiruvathukal commented on #2235
@whedon assign @cmccomb as reviewer

[2020-06-18 14:05] whedon commented on #2235
OK, @cmccomb is now a reviewer

[2020-06-18 14:05] gkthiruvathukal commented on #2235
@whedon add @e-dub as reviewer

[2020-06-18 14:06] whedon commented on #2235
OK, @e-dub is now a reviewer

[2020-06-18 14:06] gkthiruvathukal commented on #2235
@whedon start review

[2020-06-18 14:06] whedon opened #2362 "[REVIEW]: AutoFunc: A Python package for automating and verifying functional modeling"
**Submitting author:** @AlexMikes (<a href="http://orcid.org/0000-0002-7873-5758">Alex Mikes</a>)
**Repository:** <a href="https://github.com/AlexMikes/AutoFunc" target ="_blank">https://github.com/AlexMikes/AutoFunc</a>
**Version:** v0.3.1
**Editor:** @gkthiruvathukal
**Reviewers:** @cmccomb, @e-dub, @srmnitc
**Archive:** <a href="https://doi.org/10.5281/zenodo.4482795" target="_blank">10.5281/ze

[2020-06-18 14:06] whedon commented on #2235
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2362.

[2020-06-18 14:06] #2235 closed

[2020-06-18 14:06] whedon commented on #2362
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmccomb, @e-dub it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-06-18 14:06] whedon commented on #2362
[code]

[2020-06-18 14:07] whedon commented on #2362
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02362/joss.02362/10.21105.joss.02362.pdf)

[2020-06-18 14:14] gkthiruvathukal commented on #2270
@rljacobson and smattr, would you be willing to serve as reviewers for this JOSS submission?

[2020-06-18 14:15] gkthiruvathukal commented on #2270
@smattr, oops, I forgot the mention symbol...  would you be willing to serve as reviewers for this JOSS submission?

[2020-06-18 14:19] arfon commented on #2357
Got it, thanks @bmorris3. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, yours has been put in our backlo

[2020-06-18 14:24] anwarbio commented on #2326
Hi,
I have made all the suggested edits. Details are given below.
1) LICENSE file is added to the repository folder.
2) LICENSE file is  linked to your README document
3) Changed the title as Bioassays: a new package in R for analyzing cellular assays

Regards,
Anwar

[2020-06-18 14:27] KathrynJones1 commented on #2330
tagging @nespinoza as co-author

[2020-06-18 14:31] Alcampopiano commented on #2241
Hello @csoneson,

Thank you very much for your incredibly careful eye on the paper. I have fixed the citation so that the name appears correctly.

In addition:

- I have made a tagged release: `v1.1.0`
- I have archived that release in Zenodo
- The title and authors in the paper match Zenodo's corresponding metatdata exactly
- Zenodo DOI: http://doi.org/10.5281/zenodo.3900100

Please let me know i

[2020-06-18 14:41] csoneson commented on #2241
@whedon generate pdf

[2020-06-18 14:42] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-06-18 14:43] csoneson commented on #2241
@whedon check references

[2020-06-18 14:43] whedon commented on #2241
[code]

[2020-06-18 14:46] csoneson commented on #2241
@whedon set 10.5281/zenodo.3900100 as archive

[2020-06-18 14:46] whedon commented on #2241
OK. <a href="https://doi.org/10.5281/zenodo.3900100" target="_blank">10.5281/zenodo.3900100</a> is the archive.

[2020-06-18 14:46] csoneson commented on #2241
@whedon set v1.1.0 as version

[2020-06-18 14:46] whedon commented on #2241
OK. v1.1.0 is the version.

[2020-06-18 14:47] csoneson commented on #2241
@whedon accept

[2020-06-18 14:47] whedon commented on #2241
[code]

[2020-06-18 14:47] whedon commented on #2241
[code]

[2020-06-18 14:47] whedon commented on #2241
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1496

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1496, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-18 14:50] csoneson commented on #2241
@Alcampopiano - thanks for making these changes. The Associate Editor-in-Chief on duty this week will take over from here!

[2020-06-18 14:51] Alcampopiano commented on #2241
@csoneson I really appreciate all of your hard work in general and on this paper. Take care.

[2020-06-18 14:54] brendonhall commented on #1969
Hi @kbarnhart, @rgmyr, I have completed my review of corebreakout.  The authors have done a great job of addressing the questions I had, and I feel this is ready for publication. The documentation and notebooks provide the background necessary to use the library.  I feel that this is an important contribution to digital subsurface science, and I plan on applying this library to some of my own work

[2020-06-18 14:56] jboynyc commented on #2356
Sounds good, thanks! Possible reviewers include contributors to [cbail/textnets](https://github.com/cbail/textnets), alexhanna, cmaimone, tresoldi, and nniiicc. I'll update this comment if I find any more.

[2020-06-18 15:06] pibion commented on #2312
@whedon add @aureliocarnero as reviewer

[2020-06-18 15:06] whedon commented on #2312
OK, @aureliocarnero is now a reviewer

[2020-06-18 15:08] pat-s commented on #2278
# Review of DriveML

The package is practically a bundle several wrapper scripts around existing functionality conducting opinionated preprocessing and model selection steps.
Further it has a questionable value for other users because the motivations for many choices are missing.
The main motivation proofing that this package performs better than other packages is flawed because the scope of the p

[2020-06-18 15:16] kbarnhart commented on #1969
Thanks for the update @brendonhall and for your input throughout the review process. It is much appreciated!

[2020-06-18 15:17] ThomasMGeo commented on #1969
Hi @brendonhall , Is there a reference that we need to add or update?

[2020-06-18 15:22] kakiac commented on #2327
Happy to be assigned as the editor!

[2020-06-18 15:24] kakiac commented on #2327
@whedon assign @kakiac as editor

[2020-06-18 15:24] RainierBarrett commented on #2245
Hi @arfon, I'm afraid I'm gearing up to defend my PhD thesis in the next couple months, so I don't think I'll have time to dedicate to a review for the time being.

[2020-06-18 15:24] whedon commented on #2327
OK, the editor is @kakiac

[2020-06-18 15:36] brendonhall commented on #1969
no, sorry that should have been checked off.  I'm actually not aware of any other published works that deal with this extracting core images like this.  There was the Get 2 the Core challenge a couple of years ago (https://www.youtube.com/watch?v=N8CvQUE3L0c) but I didn't hear anything about that after it started.

[2020-06-18 15:43] arfon commented on #2312
@pibion - now you have two reviewers in place, if you're ready, you can move this forward to review with `@whedon start review`

[2020-06-18 15:43] arfon commented on #2245
NP, thanks for letting us know @RainierBarrett. Also good luck!

[2020-06-18 15:44] pmkruyen commented on #2354
My suggestions for reviewers based on their expertise:

- gcdeshpande (mobile apps)
- olade014 (android)
- alletsee (survey research and longitudinal data collection)
- darthpathos (survey research and longitudinal data collection)
- andytwoods  (javascript, psychology, online research)

[2020-06-18 15:52] pibion commented on #2312
@whedon start review

[2020-06-18 15:52] whedon opened #2363 "[REVIEW]: Tools21cm: A python package to analyse the large-scale 21-cm signal from the Epoch of Reionization and Cosmic Dawn"
**Submitting author:** @sambit-giri (<a href="http://orcid.org/0000-0002-2560-536X">Sambit Kumar Giri</a>)
**Repository:** <a href="https://github.com/sambit-giri/tools21cm" target ="_blank">https://github.com/sambit-giri/tools21cm</a>
**Version:** v2.1
**Editor:** @pibion
**Reviewers:** @nicholebarry, @aureliocarnero, @ziotom78
**Archive:** <a href="https://doi.org/10.5281/zenodo.3973542" target=

[2020-06-18 15:52] whedon commented on #2312
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2363.

[2020-06-18 15:52] #2312 closed

[2020-06-18 15:52] whedon commented on #2363
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nicholebarry, @aureliocarnero it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2020-06-18 15:52] bstewart commented on #2181
@JonasRieger - No problem, happy to help.
I still disagree with the characterization of two things in the draft.  I don't feel like these things need to change, but let me try to convince you.

1. I still think the language "This contradicts basically good scientific practice" is too strong.  Referencing the latter part of the sentence seems fine to me (i.e. obviously searching to fit your hypothe

[2020-06-18 15:52] whedon commented on #2363
[code]

[2020-06-18 15:53] nespinoza commented on #2330
Hi @arfon, I can chime in here as we were worried by your last point even before starting this project.

To answer your first question: no, `batman` is not deprecated. People still use it, and Laura Kreidberg (the lead developer) answers to questions and comments about the code to this day. It is heavily used in the exoplanet community in fact, and it will keep being this way for a while I believe

[2020-06-18 15:53] whedon commented on #2363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02363/joss.02363/10.21105.joss.02363.pdf)

[2020-06-18 15:53] kyleniemeyer commented on #2325
If @bstabler is already overloaded, then I could, but this does seem like a better fit for him.

[2020-06-18 15:54] kyleniemeyer commented on #2325
@whedon invite @bstabler as editor

[2020-06-18 15:54] whedon commented on #2325
@bstabler has been invited to edit this submission.

[2020-06-18 15:58] pibion commented on #2363
👋🏼 @sambit-giri @nicholebarry @aureliocarnero this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is differen

[2020-06-18 16:12] JesperDramsch commented on #1969
Is it possible that someone accidentally checked off my checklist?

I was just finishing up my review of the software and always made sure not to check off anything I hadn't done yet, but just returned to a full checklist...

Nevertheless, I have also completed my work and think the library is at an acceptable state with some really cool work I'm happy the authors have published. Thanks for the ad

[2020-06-18 16:13] JonasRieger commented on #2181
The statement actually refers mainly to the method of consciously choosing such models that correspond to the hypothesis. I have changed the specific wording to make this clear. @whedon generate pdf

The weakness of averaging is merely that not all facets of the model can be considered, or, as the case may be, it may become significantly more complex. The token specific assignments cannot be speci

[2020-06-18 16:19] JonasRieger commented on #2181
@whedon generate pdf

[2020-06-18 16:19] whedon commented on #2181
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02181/joss.02181/10.21105.joss.02181.pdf)

[2020-06-18 16:19] blthayer commented on #2289
@danielskatz - thank you for your time and effort! Publishing in JOSS was a great experience, and I'll be paying it forward by signing up as a reviewer.

[2020-06-18 16:20] kbarnhart commented on #1969
@JesperDramsch thanks for the update. I'm not sure how to see a record of the checklist (or if its saved...) so I can't tell when/how your checklist was edited. It looked incomplete to me this morning when I pinged.

Either way, it sounds like you think the software merits a full checklist from you (please let me know if I'm mistaken).

[2020-06-18 16:21] bstewart commented on #2181
Glad you found it helpful.  Re: averaging- I take your point that the assignments are not concrete, but in fairness their concreteness is an illusion.  What you call concrete is just the particular realization of the Gibbs sampler on the draw you happened to stop things.

In my field of study (and most I know of), people are either examining theta (the documents by topics) or beta (words by topics

[2020-06-18 16:23] JonasRieger commented on #2181
I completely agree with that.

[2020-06-18 16:23] kbarnhart commented on #1969
@rgmyr and co-authors I'll be able to do my final checks by the end of tomorrow and then expect to move this forward to the final steps of the JOSS process. At most you may see a request from me with some paper copy editing or a PR with these edits.

Thanks to all three of the reviewers @jessepisel @brendonhall and @JesperDramsch for providing feedback and working with the authors over multiple it

[2020-06-18 16:34] lpantano commented on #2170
@whedon set 10.5281/zenodo.3895754 as archive

[2020-06-18 16:34] whedon commented on #2170
OK. <a href="https://doi.org/10.5281/zenodo.3895754" target="_blank">10.5281/zenodo.3895754</a> is the archive.

[2020-06-18 16:34] lpantano commented on #2170
@whedon accept

[2020-06-18 16:34] whedon commented on #2170
[code]

[2020-06-18 16:35] whedon commented on #2170
PDF failed to compile for issue #2170 with the following error:

 E, [2020-06-18 16:35:28#1452] ERROR -- : Failed to parse BibTeX on value "," (COMMA) [#<BibTeX::Bibliography data=[16]>, "@", #<BibTeX::Entry >, {:title=>["Transposon age and non-CG methylation"], :author=>["Wang, Zhengming and Baulcombe, David"], :abstract=>["Silencing of transposable elements (TEs) is established by small RNA-dire

[2020-06-18 16:35] lpantano commented on #2170
Only thing to double-check whether the archive is valid being an tar file by the board of editors.

[2020-06-18 16:37] lpantano commented on #2170
oh oh @HajkD, did you change something? it rendered well a couple of days before. Let us know if you don't know how to fix this.

[2020-06-18 16:39] kbarnhart commented on #1969
@whedon generate pdf

[2020-06-18 16:40] whedon commented on #1969
[code]

[2020-06-18 17:08] arfon commented on #2170
@HajkD - this PR should fix the issue with your paper: https://github.com/HajkD/LTRpred/pull/19

[2020-06-18 17:14] HajkD commented on #2170
@arfon - brilliant! Thanks so much! I just merged your pull request.

[2020-06-18 17:22] ThomasMGeo commented on #1969
@whedon generate pdf

[2020-06-18 17:24] whedon commented on #1969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01969/joss.01969/10.21105.joss.01969.pdf)

[2020-06-18 17:37] EricaEgg commented on #2349
@mbobra, I have a question regarding the COI guidelines. One of the authors (Brian Gerwe) and I are both PhD students within UW ChemE, therefore "employed at the same institution". However, we are NOT in the same lab group, so is that acceptable? Just want to make sure we are within the regulations. Thanks!

[2020-06-18 17:49] arfon commented on #2170
@whedon accept

[2020-06-18 17:49] whedon commented on #2170
[code]

[2020-06-18 17:50] whedon commented on #2170
[code]

[2020-06-18 17:50] whedon commented on #2170
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1497

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1497, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-18 17:50] lkreidberg commented on #2330
Thanks for checking on this! It's totally fine with me to proceed with the JOSS paper as written. I didn't contribute at all to the new additions in `catwoman`, so I don't feel any need to be included as a coauthor - an acknowledgement would be fine.

Congrats @KathrynJones1 and @nespinoza for getting this written up!

[2020-06-18 17:51] kbarnhart commented on #1969
Thanks for fixing the pdf build @ThomasMGeo !

[2020-06-18 17:54] arfon commented on #2170
@HajkD - looks like most of your references need a `doi` field added. Can you check the suggestions from Whedon above and if they are correct add them?

Also, just as a heads-up, these should be formatted without the `https://doi.org/` bit, i.e. the BibTeX field should look like:

[code]

[2020-06-18 18:34] csoneson commented on #2353
@whedon generate pdf

[2020-06-18 18:35] whedon commented on #2353
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02353/joss.02353/10.21105.joss.02353.pdf)

[2020-06-18 18:35] csoneson commented on #2353
Whedon needs its instructions in a separate comment :)

[2020-06-18 18:35] csoneson commented on #2353
@whedon check references

[2020-06-18 18:36] whedon commented on #2353
[code]

[2020-06-18 18:39] csoneson commented on #2353
Hm, it seems that the link to the repository (which was changed in the pre-review issue) did not follow over to the review issue.

[2020-06-18 18:41] csoneson commented on #2353
@whedon check references

[2020-06-18 18:41] whedon commented on #2353
[code]

[2020-06-18 18:41] csoneson commented on #2353
@whedon generate pdf

[2020-06-18 18:42] whedon opened #2364 "[PRE REVIEW]: pyveg: A Python package for analysing the time evolution of patterned vegetation using Google Earth Engine"
**Submitting author:** @samvanstroud (<a href="http://orcid.org/0000-0002-7969-0301">Samuel Van Stroud</a>)
**Repository:** <a href="https://github.com/alan-turing-institute/monitoring-ecosystem-resilience" target ="_blank">https://github.com/alan-turing-institute/monitoring-ecosystem-resilience</a>
**Version:** v1.0.0
**Editor:** @usethedata
**Reviewers:** @arbennett
**Managing EiC:** Arfon Smith

[2020-06-18 18:42] whedon commented on #2364
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 18:42] whedon commented on #2353
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02353/joss.02353/10.21105.joss.02353.pdf)

[2020-06-18 18:42] whedon commented on #2364
[code]

[2020-06-18 18:42] whedon commented on #2364
[code]

[2020-06-18 18:42] whedon commented on #2364
Failed to discover a valid open source license.

[2020-06-18 18:42] whedon commented on #2364
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02364/joss.02364/10.21105.joss.02364.pdf)

[2020-06-18 18:44] danielskatz commented on #2353
Is this ok now?

[2020-06-18 18:45] csoneson commented on #2353
@danielskatz - I manually changed the link in the first issue above.

[2020-06-18 18:56] HajkD commented on #2170
Dear @arfon

I now added `doi` fields to all references in the `bib` file and tested all the doi links. They are all correct and after checking with http://whedon.theoj.org it seems like the manuscript is in excellent shape.

Thank you very much for catching these issues!

[2020-06-18 18:57] mikerspencer commented on #2297
Thanks for the invite. I'm reviewing another submission at the moment, which is all I've time for. Best of luck.

[2020-06-18 19:01] arfon commented on #2170
@whedon accept

[2020-06-18 19:01] whedon commented on #2170
[code]

[2020-06-18 19:02] whedon commented on #2170
[code]

[2020-06-18 19:02] whedon commented on #2170
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1498

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1498, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-18 19:21] whedon opened #2365 "[PRE REVIEW]: BigX: A geographical dataset visualisation tool"
**Submitting author:** @geekysquirrel (<a href="http://orcid.org/0000-0003-3030-9853">Stefanie Wiegand</a>)
**Repository:** <a href="https://gitlab.com/geekysquirrel/bigx" target ="_blank">https://gitlab.com/geekysquirrel/bigx</a>
**Version:** 2.1
**Editor:** @hugoledoux
**Reviewers:** @liberostelios, @jvdkwast
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due t

[2020-06-18 19:21] whedon commented on #2365
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-18 19:21] whedon commented on #2365
[code]

[2020-06-18 19:22] whedon commented on #2365
[code]

[2020-06-18 19:22] whedon commented on #2365
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02365/joss.02365/10.21105.joss.02365.pdf)

[2020-06-18 19:24] arfon commented on #2365
:wave: @geekysquirrel - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such

[2020-06-18 20:38] kbarnhart commented on #2197
:wave: @ajdawson @doutriaux1 @jwblin @muszyna25 would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This submission is "IPART: A Python Package for Image-Processing based Atmospheric River Tracking" by Guangzhi Xu, Xiaohui Ma and Ping Chang

[2020-06-18 20:46] kbarnhart commented on #1969
@rgmyr there are four issues in the CoreBreakout repository that are associated with this review and still open. If they have been addressed, will you close them?

[2020-06-18 21:16] diehlpk commented on #2352
@whedon check references from branch JOSS

[2020-06-18 21:16] whedon commented on #2352
[code]

[2020-06-18 21:18] whedon commented on #2352
[code]

[2020-06-18 21:28] kbarnhart commented on #1969
@whedon generate pdf

[2020-06-18 21:29] whedon commented on #1969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01969/joss.01969/10.21105.joss.01969.pdf)

[2020-06-18 21:41] kbarnhart commented on #1969
@whedon check references