[2019-11-22 22:19] MLHale commented on #1620
@kthyng - Thanks!

[2019-11-22 22:20] whedon opened #1913 "[PRE REVIEW]: SAILS: Spectral Analysis In Linear Systems"
**Submitting author:** @ajquinn (<a href="http://orcid.org/0000-0003-2267-9897">Andrew Quinn</a>)
**Repository:** <a href="https://vcs.ynic.york.ac.uk/analysis/sails" target ="_blank">https://vcs.ynic.york.ac.uk/analysis/sails</a>
**Version:** v0.1.1
**Editor:** @mjsottile
**Reviewers:** @szorowi1, @mnarayan

**Author instructions**

Thanks for submitting your paper to JOSS @ajquinn. **Currently,

[2019-11-22 22:21] whedon commented on #1913
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-22 22:21] whedon commented on #1913
[code]

[2019-11-22 22:21] whedon commented on #1913
[code]

[2019-11-22 22:21] whedon commented on #1913
PDF failed to compile for issue #1913 with the following error:

 Can't find any papers to compile :-(

[2019-11-22 22:23] whedon commented on #1913
[code]

[2019-11-22 22:23] kthyng commented on #1913
@whedon generate pdf

[2019-11-22 22:23] whedon commented on #1913
[code]

[2019-11-22 22:24] whedon commented on #1913
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01913/joss.01913/10.21105.joss.01913.pdf)

[2019-11-22 22:24] kthyng commented on #1902
@whedon add @akeshavan as editor

[2019-11-22 22:25] kthyng commented on #1902
@arfon is @akeshavan properly in the system? Can't seem to add her as editor here.

[2019-11-22 22:28] kthyng commented on #1913
Hi @mjsottile! Would you edit this submission?

[2019-11-23 00:41] whedon commented on #1831
[code]

[2019-11-23 00:50] paudetseis commented on #1818
@kbarnhart @seisman @brmather @andreww

Thank you all very much for taking time to review and improve Telewavesim! This was a great learning experience for me and I appreciate the valuable comments and suggestions.

I have completed the tasks listed above.

- I edited the paper and fixed affiliation 3
- The version tag of the archived version is 0.2.0
- The package on PyPi was also updated to 0.2.

[2019-11-23 03:35] offray commented on #720
Thanks @kthyng . Any news on the Scopus issue would be greatly appreciated. I'm now trying to find and write a new publication for my research related articles, but I really would like to use the ones already submitted in JOSS to fulfill my degree requirements.

JOSS is on equal foot as any journal on Scopus and pushing the boundaries about academic/research peer review process and artifacts.

[2019-11-23 06:47] arfon commented on #1811
They're been generated when we create the Crossref metadata (which we don't do until towards the end of the process).

[2019-11-23 06:50] arfon commented on #1902
@whedon assign @akeshavan as editor

[2019-11-23 06:50] whedon commented on #1902
OK, the editor is @akeshavan

[2019-11-23 06:51] arfon commented on #1902
@kthyng it's `assign` not `add` for the editor. Sorry for any confusion caused.

[2019-11-23 07:23] MaaniBeigy commented on #1863
Hi @JonasMoss @arfon
Great job,
Thank you for your explanations.

Your `CONTRIBUTING.md` sounds great :+1: . You can also add the contents of [Adding New Densities](https://github.com/JonasMoss/univariateML/wiki/Adding-New-Densities) there. It may be a bit difficult for the future contributors to find them in the wiki.  Again, it is just a suggestion.

Regarding the issue of the plain-text LICENSE

[2019-11-23 09:42] kirui93 commented on #1912
@whedon generate pdf

[2019-11-23 09:42] whedon commented on #1912
[code]

[2019-11-23 09:43] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2019-11-23 09:51] csoneson commented on #1762
@whedon generate pdf

[2019-11-23 09:51] whedon commented on #1762
[code]

[2019-11-23 09:52] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-11-23 12:54] arfon commented on #1863
OK thanks @JonasMoss. This has sort of come up before but I feel like this might have been for a GPL-licensed piece of software and the requirements were (as you note) somewhat different.

Let's just stick with what you have now.

[2019-11-23 13:42] kthyng commented on #1811
@arfon got it, makes sense. I know better what to look for when this happens in the future.

[2019-11-23 13:44] kthyng commented on #1902
@arfon Oh my goodness. Sorry about that! I almost always copy and paste the whedon commands to be sure they're correct but apparently these times I was sure I was correct! :) Thanks for helping.

[2019-11-23 14:01] arfon commented on #1902
😁no worries!

[2019-11-23 16:36] toph-allen commented on #1766
@kthyng Thanks for checking in. I've made some minor progress, but some unexpected work deadlines have meant that making changes to Yenpathy have had to take a back burner. I'll do my best to have some commits pushed this week.

[2019-11-23 17:39] aureliocarnero commented on #1881
Hello @brittonsmith Im trying to download the data from here: https://ytree.readthedocs.io/en/latest/Data.html trying both the manual download and the one using the girder-cl app and it failed in both cases.
Could you please check that the data is correct? Maybe it is just me, but it would be good to know.
Cheers

[2019-11-23 17:45] aureliocarnero commented on #1881
Also, in terms of documentation, I think more information should be given in the landing page of the github. In my opinion, you do not explain well what are the application of the trees. May I suggest you explain the context is used, in terms of cosmological simulations. If it can be used for other applications than that, please explain as well

[2019-11-23 17:59] aureliocarnero commented on #1881
You should also explain better what this mean, please:

-    loading merger-tree data from the Amiga Halo Finder, Consistent-Trees, Rockstar, LHaloTree, and treefarm formats
-    on-demand loading of trees and fields
-    symbolic units, derived fields, and alias fields
-    saving trees to a universal format

Plus you have a typo, correct the following error:  see the full ytree documenation.

Ch

[2019-11-23 18:35] kbarnhart commented on #1818
@whedon generate pdf

[2019-11-23 18:35] whedon commented on #1818
[code]

[2019-11-23 18:35] whedon commented on #1818
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01818/joss.01818/10.21105.joss.01818.pdf)

[2019-11-23 18:43] kbarnhart commented on #1818
@whedon set v0.2.0 as version

[2019-11-23 18:43] whedon commented on #1818
OK. v0.2.0 is the version.

[2019-11-23 18:46] kbarnhart commented on #1818
@paudetseis I found that the DOI you mentioned here is not resolved (https://doi.org/10.5281/zenodo.203551250).

Following the link on the readme I find: http://doi.org/10.5281/zenodo.3551258

Can you confirm the DOI?

[2019-11-23 19:01] vitorsr commented on #1822
@whedon generate pdf

[2019-11-23 19:01] whedon commented on #1822
[code]

[2019-11-23 19:02] whedon commented on #1822
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01822/joss.01822/10.21105.joss.01822.pdf)

[2019-11-23 19:06] vitorsr commented on #1822
Yes! I have pushed changes that implemented all feedback given by @Atif-Anwer. Since it also had suggestions regarding the paper, I have re-generated a new proof.

[2019-11-23 20:04] lohedges commented on #1831
Thanks, everyone. This whole process has been a real breath of fresh air. Have a good weekend!

[2019-11-23 23:46] zingale commented on #1884
My main comment was address and I was able to follow the analysis to do the example analysis and visualization.  I am happy to accept.

[2019-11-24 05:46] kbarnhart commented on #1818
/ooo November 24 until November 28

[2019-11-24 05:47] kbarnhart commented on #1890
/ooo November 24 until November 28

[2019-11-24 07:07] paudetseis commented on #1818
@kbarnhart I am confused about the DOI that you cite (https://doi.org/10.5281/zenodo.203551250), as I have not mentioned that DOI previously nor can I find any reference to it on this page, in the repo, README or API. The one mentioned above is the correct one (10.5281/zenodo.3551250),which is the same that appears on the README.

Perhaps I misunderstood your final check box about the zenodo DOI:

[2019-11-24 08:09] kbarnhart commented on #1818
@paudetseis My apologies. I had meant to type https://doi.org/10.5281/zenodo.3551250
instead of https://doi.org/10.5281/zenodo.203551250. I mistyped and added a "20".

However, I do not find the DO https://doi.org/10.5281/zenodo.3551250 as resolved.

When I try to go to it I get the following screen.

<img width="200" alt="Screen Shot 2019-11-24 at 9 02 21 PM" src="https://user-images.githubuserco

[2019-11-24 12:01] aureliocarnero commented on #1881
In term of the paper, it would be good to give it a last review on the text to improve readability.

[2019-11-24 12:36] nevrome commented on #1899
@labarba The text is fine now. What are the next steps?

[2019-11-24 13:53] arfon commented on #1899
@whedon assign @arfon as editor

[2019-11-24 13:53] whedon commented on #1899
OK, the editor is @arfon

[2019-11-24 13:53] arfon commented on #1899
@whedon assign @arfon as reviewer

[2019-11-24 13:53] whedon commented on #1899
OK, the reviewer is @arfon

[2019-11-24 13:53] arfon commented on #1899
@whedon start review

[2019-11-24 13:53] #1899 closed

[2019-11-24 13:53] whedon opened #1914 "[REVIEW]: c14bazAAR: An R package for downloading and preparing C14 dates from different source databases"
**Submitting author:** @nevrome (<a href="http://orcid.org/0000-0003-3448-5715">Clemens Schmid</a>)
**Repository:** <a href="https://github.com/ropensci/c14bazAAR" target ="_blank">https://github.com/ropensci/c14bazAAR</a>
**Version:** 1.1.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.17605/OSF.IO/3DS6A" target="_blank">10.17605/OSF.IO/3DS6A</a>

## Status

[![

[2019-11-24 13:53] whedon commented on #1899
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1914. Feel free to close this issue now!

[2019-11-24 13:53] whedon commented on #1914
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watch

[2019-11-24 13:53] whedon commented on #1914
[code]

[2019-11-24 13:53] whedon commented on #1914
[code]

[2019-11-24 13:53] whedon commented on #1914
PDF failed to compile for issue #1914 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1914 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedo

[2019-11-24 13:54] whedon commented on #1914
[code]

[2019-11-24 13:55] arfon commented on #1914
Accepting because of https://github.com/ropensci/software-review/issues/333

[2019-11-24 13:56] arfon commented on #1914
@whedon generate pdf

[2019-11-24 13:56] whedon commented on #1914
[code]

[2019-11-24 13:56] arfon commented on #1914
@whedon set 10.17605/OSF.IO/3DS6A as archive

[2019-11-24 13:56] whedon commented on #1914
OK. <a href="https://doi.org/10.17605/OSF.IO/3DS6A" target="_blank">10.17605/OSF.IO/3DS6A</a> is the archive.

[2019-11-24 13:57] whedon commented on #1914
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01914/joss.01914/10.21105.joss.01914.pdf)

[2019-11-24 13:58] arfon commented on #1914
@nevrome - could you update the archive record to have the same authors as the paper please?

[2019-11-24 14:01] nevrome commented on #1914
What's the archive record? OSF contributors?

[2019-11-24 14:17] arfon commented on #1914
Yes, sorry for not being more clear.

[2019-11-24 14:21] nevrome commented on #1914
@MartinHinz Could you please create an OSF account or tell me your handle if you already have one? I was able to find @dirkseidensticker (https://osf.io/7rmq4).

[2019-11-24 15:30] usethedata commented on #1685
@fblavoie checking in -- did you have a chance to look at the the pull request I submitted on your repo to correct the bibliography?  Thanks.

[2019-11-24 15:31] usethedata commented on #1608
@Ji-Zhang what are your thoughts about the question in point 3 above?

[2019-11-24 19:14] vbaliga commented on #1863
Hi @JonasMoss and @arfon,

Thanks for giving me extra time to review this. I'm generally very impressed with `univariateML` and I can see myself using it. I'd say the vast majority of my comments are geared towards enhancing clarity of presentation, especially for anyone new to the package. Checklist above has been updated, with some in-line feedback.

I have a few more comments that don't exactly

[2019-11-24 19:59] arfon commented on #1819
Hi @RobinHankin - firstly my apologies for taking so long to get to this. I've consulted with the JOSS editorial team and we've concluded that this submission is not in scope for JOSS as it falls into our 'minor utility' category.

Thanks again for your interest in JOSS.

[2019-11-24 19:59] #1819 closed

[2019-11-24 20:02] arfon commented on #1800
@elektrobohemian - could you give us an ETA on your review?

[2019-11-24 20:17] RobinHankin commented on #1819
OK Arfon, thanks for this.

I'm not trying to be difficult here, and I'm not querying the decision,
but  can I have some feedback on this please?    The package is an
efficient, coherent and documented numerical environment for working with
the Lorentz transform that has research applications over a wide range of
physical and mathematical applications.  JOSS publishes similar R packages
for physic

[2019-11-24 20:38] matthewturk commented on #1884
Same!

[2019-11-24 22:40] arfon commented on #1819
Sure thing. I'll work with the other editors to get you a more formal response in the next couple of days.

[2019-11-24 22:43] afrubin commented on #1905
@will-rowe Sorry for the late reply to this. I'm happy to review if you still need someone.

[2019-11-25 00:24] kyleniemeyer commented on #1833
Hi @samuelduchesne, just wanted to check in and see how your work was going.

[2019-11-25 02:54] tonggehua commented on #1637
@kthyng Here is the DOI : 10.5281/zenodo.3550315

[2019-11-25 03:26] Atif-Anwer commented on #1822
I've gone through the updated manuscript as well as the changes committed in the repo. All the suggestions I mentioned via issue [#11](https://github.com/vitorsr/SIHR/issues/11) have been addressed to. I've also completed the review checklist above since all the issues have been verified at my end. Is there any other thing required regarding the review process from my side now? @Kevin-Mattheus-Moe

[2019-11-25 07:07] paudetseis commented on #1818
@kbarnhart My apologies too - the DOI that I typed here previously (https://doi.org/10.5281/zenodo.3551250) had a typo in the last digit. It should be https://doi.org/10.5281/zenodo.3551258. Sorry for the confusion.

[2019-11-25 09:03] MartinHinz commented on #1914
@nevrome: my account is

https://osf.io/k8yjx

Is that all you need?

[2019-11-25 09:13] nevrome commented on #1914
@MartinHinz Thank you!

@arfon Done.

[2019-11-25 09:14] oliviaguest commented on #1900
@nicksexton and @russellpierce let me know if anything is not clear and on a possible ETA? Thanks! :smile:

[2019-11-25 09:15] oliviaguest commented on #1866
@pachamaltese excellent!

@rickecon what's a realistic ETA here? :smile:

[2019-11-25 09:15] oliviaguest commented on #1821
@whedon generate pdf

[2019-11-25 09:15] whedon commented on #1821
[code]

[2019-11-25 09:16] whedon commented on #1821
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01821/joss.01821/10.21105.joss.01821.pdf)

[2019-11-25 09:17] oliviaguest commented on #1821
@nfrerebeau please check the article and let me know if everything looks good to you. :smile:

[2019-11-25 09:31] will-rowe commented on #1905
Great - thank you @afrubin!

[2019-11-25 09:31] will-rowe commented on #1905
@whedon add @afrubin as reviewer

[2019-11-25 09:31] whedon commented on #1905
OK, @afrubin is now a reviewer

[2019-11-25 09:31] will-rowe commented on #1905
Let's move this into review!

[2019-11-25 09:31] will-rowe commented on #1905
@whedon start review

[2019-11-25 09:32] whedon opened #1915 "[REVIEW]: alignparse: A Python package for parsing complex features from high-throughput long-read sequencing"
**Submitting author:** @jbloom (<a href="http://orcid.org/0000-0003-1267-3408">Jesse Bloom</a>)
**Repository:** <a href="https://github.com/jbloomlab/alignparse" target ="_blank">https://github.com/jbloomlab/alignparse</a>
**Version:** 0.1.1
**Editor:** @will-rowe
**Reviewer:** @bede, @afrubin
**Archive:** <a href="https://doi.org/10.5281/zenodo.3569587" target="_blank">10.5281/zenodo.3569587</a>

[2019-11-25 09:32] whedon commented on #1905
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1915. Feel free to close this issue now!

[2019-11-25 09:32] whedon commented on #1915
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bede, @afrubin it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2019-11-25 09:32] whedon commented on #1915
[code]

[2019-11-25 09:32] whedon commented on #1915
[code]

[2019-11-25 09:32] #1905 closed

[2019-11-25 09:32] whedon commented on #1915
[code]

[2019-11-25 09:32] whedon commented on #1915
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01915/joss.01915/10.21105.joss.01915.pdf)

[2019-11-25 10:11] whedon opened #1916 "[PRE REVIEW]: Cocktail Shaker: An open source drug expansion and enumeration library for peptides"
**Submitting author:** @Sulstice (<a href="http://orcid.org/0000-0002-1342-9258">Suliman Sharif</a>)
**Repository:** <a href="https://github.com/Sulstice/cocktail-shaker" target ="_blank">https://github.com/Sulstice/cocktail-shaker</a>
**Version:** v1.1.0
**Editor:** @csoneson
**Reviewers:** @floux, @olivertomic

**Author instructions**

Thanks for submitting your paper to JOSS @Sulstice. **Curren

[2019-11-25 10:11] whedon commented on #1916
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-25 10:11] whedon commented on #1916
[code]

[2019-11-25 10:11] whedon commented on #1916
[code]

[2019-11-25 10:11] whedon commented on #1916
PDF failed to compile for issue #1916 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedon.rb:145:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df

[2019-11-25 10:11] whedon commented on #1916
[code]

[2019-11-25 10:14] Kevin-Mattheus-Moerman commented on #1822
@Atif-Anwer no all set from your end. Thanks a lot for your help! :tada:

[2019-11-25 10:20] Kevin-Mattheus-Moerman commented on #1822
@thomakra thanks also for your review efforts. You have a couple of boxes unchecked. Have you clarified to @vitorsr what the main issues are? Thanks.

[2019-11-25 10:22] arfon commented on #1914
@whedon accept

[2019-11-25 10:22] whedon commented on #1914
[code]

[2019-11-25 10:22] whedon commented on #1914
[code]

[2019-11-25 10:23] Kevin-Mattheus-Moerman commented on #1916
@Sulstice your paper seems to be missing some fields (e.g. affiliations).

Have a look here:
https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles

You can test compile your paper here:
https://whedon.theoj.org/

[2019-11-25 10:23] whedon commented on #1914
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1127

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1127, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-25 10:24] arfon commented on #1914
@whedon accept deposit=true

[2019-11-25 10:24] whedon commented on #1914
[code]

[2019-11-25 10:24] whedon commented on #1914
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1198910437687005185) 👈 🐦🐦🐦

[2019-11-25 10:24] whedon commented on #1914
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1128
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01914](https://doi.org/10.21105/joss.01914)
2. If everything looks g

[2019-11-25 10:30] arfon commented on #1914
@nevrome - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-11-25 10:30] #1914 closed

[2019-11-25 10:30] whedon commented on #1914
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01914/status.svg)](https://doi.org/10.21105/joss.01914)

**We need your help!**

Journal of Open Source Softwa

[2019-11-25 11:25] dfm commented on #1884
@whedon generate pdf

[2019-11-25 11:25] whedon commented on #1884
[code]

[2019-11-25 11:26] whedon commented on #1884
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01884/joss.01884/10.21105.joss.01884.pdf)

[2019-11-25 11:26] dfm commented on #1884
@whedon check references

[2019-11-25 11:26] whedon commented on #1884
[code]

[2019-11-25 11:26] whedon commented on #1884
[code]

[2019-11-25 11:46] xuanxu commented on #1771
@whedon check references

[2019-11-25 11:46] whedon commented on #1771
[code]

[2019-11-25 11:46] whedon commented on #1771
[code]

[2019-11-25 12:00] csherwood-usgs commented on #1890
Dear Bot and Katy,
Thanks for the opportunity to review this useful contribution. I have
submitted some issues to the repo and checked all of the boxes on the
review, but there is no indication that my part of the process is complete,
so I am sending this email into the void to let you know.
Regards, Chris

On Sun, Nov 24, 2019 at 8:02 PM whedon <notifications@github.com> wrote:

--
*Christopher R

[2019-11-25 12:26] dfm commented on #1884
@dmentipl: Looking good! Can you make the following small changes:

- Update the scikit-image reference to the preferred citation as described here: https://scikit-image.org/
- Update the scipy and numpy references as requested here: https://www.scipy.org/citing.html
- Add the DOI for the Jupyter reference: [10.3233/978-1-61499-649-1-87](http://ebooks.iospress.nl/publication/42900)
- Add a capital

[2019-11-25 12:28] thomakra commented on #1822
I've had a look at the latest changes and they seem to address the provided suggestions.
I was a bit unsure about what to answer under *State of the field* as I don't think the author describes how this software compares to other commonly-used packages although the paper references relevant literature on the subject, hence I have left this unchecked.

Other than that I have no further suggestions.

[2019-11-25 13:01] leouieda commented on #1720
:wave: hi @sam-greenwood @banesullivan @malmans2 just checking on the review. What is the progress on @banesullivan and @malmans2 questions?

I agree with @banesullivan on this. It would be good to mention (and cite) any software that does something similar, if it exists. If not, then a statement about the lack of software would also make a compelling case.

[2019-11-25 13:02] leouieda commented on #1808
:wave: Hi @ThomasLecocq just checking in to see how the review if progressing. Let me know if I can help in any way.

[2019-11-25 13:10] leouieda commented on #1882
Hi @martinfleis @ResidentMario thank you for your reviews! :tada:

@ResidentMario that is a good point about the tutorial coverage and I agree that it's not a requirement for JOSS to have full coverage of tutorials. However, the citation/linking of statistical concepts is highly encouraged as I see scientific software documentation (particularly for JOSS) as a major part of the scholarship. @slumn

[2019-11-25 13:33] Shibabrat commented on #1693
@kthyng I've gone through the recent version of the software and it satisfies all the requirements, as far as I can access. The only remaining item is the community guidelines issue.

[2019-11-25 13:41] vitorsr commented on #1822
@Kevin-Mattheus-Moerman I'd like to note that I have pushed some [changes](https://github.com/vitorsr/SIHR/commit/397534a3c1c866a09dc9eba66424a4eb0aa217f4) aimed at addressing the concerns in the issues raised by @thomakra.

@thomakra I believe I address this in the [README.md](https://github.com/vitorsr/SIHR#raison-d%C3%AAtre) through the raison d'être (French equivalent to “statement of purpose”

[2019-11-25 14:09] ornlpmcp commented on #1656
@zhampel Thanks for your review. I updated the README file accordingly.
Also, if you activated the ascends anaconda environment and if you have done installing via 'pip install ascends-toolkit' all of those packages should have been installed.

You need to install those packages separately if you run the server without activating the Anaconda environment. I added this explanation in the README fil

[2019-11-25 14:09] thomakra commented on #1822
I apologize, @vitorsr. I agree, this is well addressed in the readme file. I have checked the final box.

[2019-11-25 14:13] terrytangyuan commented on #1656
@ornlpmcp I think @jrbourbeau's point is that the software needs to be **automatically** and **continuously** tested in services like [Travis CI](https://travis-ci.com/) or [CircleCI](https://circleci.com/) whenever a new code change is introduced. A notebook would not be sufficient.

[2019-11-25 14:18] terrytangyuan commented on #1746
@sbrugman @EduPH @casperdcl Could you take another look at the updated paper when you get a chance?

[2019-11-25 14:46] EduPH commented on #1746
sure!

[2019-11-25 14:54] lpantano commented on #1731
Hi @hagberg, did you end up opening the issues to ask the authors to change issues you saw during the review? If yes, can you link them here? Thanks!

[2019-11-25 15:17] kthyng commented on #1656
@terrytangyuan Automatic/continuous testing is not a requirement — recommended but not required. Some way to verify that the code is running correctly is required. If a notebook is provided and the way to verify that the notebook results are correct is clearly included, then that should be sufficient.

[2019-11-25 15:22] terrytangyuan commented on #1656
@kthyng Thanks for the clarification. Sorry my point is not that this is required but to clarify the reviewer's feedback. In the meantime, @ornlpmcp it would be good to document the manual testing instructions.

[2019-11-25 15:24] kthyng commented on #1766
@toph-allen Ok. If you want to keep working now, great. Another option is that we can pause this submission for now and then you can ping here when you're ready to pick it back up again. Let us know either way, please.

[2019-11-25 15:28] kthyng commented on #1637
@whedon set 10.5281/zenodo.3550315 as archive

[2019-11-25 15:28] whedon commented on #1637
OK. <a href="https://doi.org/10.5281/zenodo.3550315" target="_blank">10.5281/zenodo.3550315</a> is the archive.

[2019-11-25 15:29] kthyng commented on #1637
@whedon accept

[2019-11-25 15:29] whedon commented on #1637
[code]

[2019-11-25 15:29] whedon commented on #1637
[code]

[2019-11-25 15:30] whedon commented on #1637
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1129

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1129, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-25 15:35] kthyng commented on #1637
@imr-framework, @tonggehua I have added the doi stated as missing in the previous references check in PR [43](https://github.com/imr-framework/virtual-scanner/pull/43) if you want to merge

[2019-11-25 15:41] kthyng commented on #1908
@marcosvital confirmed by email

[2019-11-25 15:41] kthyng commented on #1908
@whedon assign @marcosvital as editor

[2019-11-25 15:41] whedon commented on #1908
OK, the editor is @marcosvital

[2019-11-25 15:45] kthyng commented on #1693
Thanks for your review @Shibabrat!

@LRydin looks to me like you have just a few last things to address.

[2019-11-25 16:02] guillaume-irstea commented on #1901
@whedon generate pdf

[2019-11-25 16:02] whedon commented on #1901
[code]

[2019-11-25 16:03] whedon commented on #1901
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01901/joss.01901/10.21105.joss.01901.pdf)

[2019-11-25 16:14] guillaume-irstea commented on #1901
@whedon generate pdf

[2019-11-25 16:14] whedon commented on #1901
[code]

[2019-11-25 16:15] whedon commented on #1901
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01901/joss.01901/10.21105.joss.01901.pdf)

[2019-11-25 16:30] guillaume-irstea commented on #1901
@whedon generate pdf

[2019-11-25 16:30] whedon commented on #1901
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01901/joss.01901/10.21105.joss.01901.pdf)

[2019-11-25 16:36] guillaume-irstea commented on #1901
Hi @kthyng

I replaced all the .docx files with .md files as suggested, thanks.
In addition, the figure is now better included in the paper.

Finally, regarding the installation of the tool, it is a bit more tricky. I assume that installing R and the related packages as well as postgreSQL is no issue.
However, there is indeed one thing to somehow "root-install": the architecture of the SQL databas

[2019-11-25 16:49] tonggehua commented on #1637
@kthyng Thank you! I merged it.

[2019-11-25 16:56] arfon commented on #1819
After consulting with two experts in the field of relativity, this software was deemed minor (i.e. it carries out relatively simply matrix-vector multiplication) and fell short of another [criteria we use for JOSS submissions](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements), related to being a 'significant contribution to the available open source software' in this a

[2019-11-25 17:26] sarats commented on #1839
@whedon generate pdf

[2019-11-25 17:26] whedon commented on #1839
[code]

[2019-11-25 17:27] whedon commented on #1839
PDF failed to compile for issue #1839 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1839/paper.md): did not find expected alphabetic or numeric character while scanning an alias at line 18 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:32

[2019-11-25 17:28] kthyng commented on #1637
@whedon generate pdf

[2019-11-25 17:28] whedon commented on #1637
[code]

[2019-11-25 17:29] whedon commented on #1637
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01637/joss.01637/10.21105.joss.01637.pdf)

[2019-11-25 17:33] gdetor commented on #1839
@sarats We fixed the problem with the current figure and we added three more figures indicating the performance for both the Island Model using POSIX threads and MPI processes. We tested different population sizes and different number of threads/proccesses.

[2019-11-25 17:37] sarats commented on #1839
@whedon generate pdf

[2019-11-25 17:37] whedon commented on #1839
[code]

[2019-11-25 17:38] whedon commented on #1839
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01839/joss.01839/10.21105.joss.01839.pdf)

[2019-11-25 17:40] nfrerebeau commented on #1821
@oliviaguest I fixed a small typo, everything else is OK!

[2019-11-25 17:41] kthyng commented on #1637
@whedon accept

[2019-11-25 17:41] whedon commented on #1637
[code]

[2019-11-25 17:42] whedon commented on #1637
[code]

[2019-11-25 17:42] whedon commented on #1637
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1130

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1130, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-25 17:44] kthyng commented on #1637
@whedon accept deposit=true

[2019-11-25 17:44] whedon commented on #1637
[code]

[2019-11-25 17:45] whedon commented on #1637
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1199021221163216902) 👈 🐦🐦🐦

[2019-11-25 17:45] whedon commented on #1637
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1131
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01637](https://doi.org/10.21105/joss.01637)
2. If everything looks g

[2019-11-25 17:47] kthyng commented on #1637
Congratulations to @imr-framework, @tonggehua on your new paper!!

Thanks to @arokem for editing and @nstikov, @vsoch, @mathieuboudreau for reviewing... this wouldn't be possible without your time and expertise! 🎉 🎉

[2019-11-25 17:47] #1637 closed

[2019-11-25 17:47] whedon commented on #1637
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01637/status.svg)](https://doi.org/10.21105/joss.01637)

**We need your help!**

Journal of Open Source Softwa

[2019-11-25 17:49] vsoch commented on #1637
Congrats @imr-framework, @tonggehua you guys worked hard on this!

[2019-11-25 18:03] mathieuboudreau commented on #1637
Congrats - well done!

[2019-11-25 18:03] oliviaguest commented on #1821
@whedon accept

[2019-11-25 18:03] whedon commented on #1821
No archive DOI set. Exiting...

[2019-11-25 18:05] oliviaguest commented on #1821
@nfrerebeau oh, forgot to ask you to archive this using a DOI service you want, e.g., Zenodo, figshare, etc. Post the DOI back so I or you can run:

[code]

[2019-11-25 18:19] nfrerebeau commented on #1821
I don't know what number you need:

* DOI of version 1.4.0 (including changes made during the review): 10.5281/zenodo.3552904
* DOI for all versions: 10.5281/zenodo.1489944

[2019-11-25 18:27] oliviaguest commented on #1821
@nfrerebeau ah, I need the one of the software that is the most updated and with the edits you made during the review.

[2019-11-25 18:29] ornlpmcp commented on #1656
@terrytangyuan The readme file includes the tutorial that users can follow step by step to verify if everything works correctly, I will also mention the jupyter notebook in the readme file so that users can use it for testing

[2019-11-25 18:33] nfrerebeau commented on #1821
@oliviaguest this one: 10.5281/zenodo.3552904

[2019-11-25 18:47] marouenbg commented on #1363
@kyleniemeyer @arfon I just realized I had small typo in the title. First, a dash is missing in `gpu accelerated`. Second the title line ends with a full stop, which gives me references with two full stops. Is it possible to amend the title? Otherwise it is fine like it is.

[2019-11-25 18:48] oliviaguest commented on #1821
@whedon set 10.5281/zenodo.3552904 as archive

[2019-11-25 18:48] whedon commented on #1821
OK. <a href="https://doi.org/10.5281/zenodo.3552904" target="_blank">10.5281/zenodo.3552904</a> is the archive.

[2019-11-25 18:48] oliviaguest commented on #1821
@whedon accept

[2019-11-25 18:48] whedon commented on #1821
[code]

[2019-11-25 18:48] whedon commented on #1821
[code]

[2019-11-25 18:49] whedon commented on #1821
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1132

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1132, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-25 18:51] oliviaguest commented on #1821
@nfrerebeau can you check the final proof and add any missing DOIs that apply, please? 😊

[2019-11-25 19:13] arfon commented on #1363
@marouenbg - can you make your changes to the `paper.md` file and I can then update the paper.

[2019-11-25 19:43] nfrerebeau commented on #1821
@oliviaguest only one of the two references had a DOI missing. I just added it!

[2019-11-25 19:57] oliviaguest commented on #1821
@whedon accept

[2019-11-25 19:57] whedon commented on #1821
[code]

[2019-11-25 19:57] whedon commented on #1821
[code]

[2019-11-25 19:57] whedon commented on #1821
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1133

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1133, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-25 19:58] oliviaguest commented on #1821
@openjournals/joss-eics can somebody please accept this? Thank you. :smile_cat:

[2019-11-25 19:59] oliviaguest commented on #1821
@nfrerebeau is that other missing one a false alarm?

[2019-11-25 20:03] nfrerebeau commented on #1821
@oliviaguest yes, the suggested DOI points to a review of the article and not the original publication. As far as I know, this reference does not have a DOI.

[2019-11-25 20:28] samuelduchesne commented on #1833
Hi @kyleniemeyer, we are making good progress! We received valuable comments and are addressing them. Thanks for checking with us!

[2019-11-25 20:29] samuelduchesne commented on #1833
@whedon generate pdf from branch develop

[2019-11-25 20:29] whedon commented on #1833
[code]

[2019-11-25 20:30] whedon commented on #1833
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01833/joss.01833/10.21105.joss.01833.pdf)

[2019-11-25 20:33] samuelduchesne commented on #1833
@whedon generate pdf from branch develop

[2019-11-25 20:33] whedon commented on #1833
[code]

[2019-11-25 20:34] whedon commented on #1833
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01833/joss.01833/10.21105.joss.01833.pdf)

[2019-11-25 20:50] LRydin commented on #1693
Dear @kthyng ,

great news :). I will once more go over the paper, bib, etc, and I will revised with my former and present supervisor which funding applies (I believe as is should be correct, but I want to double check).

I still want to add some docs before the publication is out (as in readthedocs), if that is okay with you. If you feel the publication can be made available before, that is of co

[2019-11-25 21:50] kthyng commented on #1693
@LRydin sounds good to me! Let me know when you're ready to proceed.

[2019-11-25 21:55] potterzot commented on #1911
I filed a detailed review as an [issue on the cdcam repository](https://github.com/nismod/cdcam/issues/14) and have updated my checklist. Overall the library is very nicely put together. I suggest a couple of minor revisions having to do with providing non-conda installation instructions, a clear real-world example and providing information on contributing, seeking additional help, and filing issu

[2019-11-25 22:26] mjsottile commented on #1913
Sure - I can do that.

[2019-11-25 23:30] amoeba commented on #1796
@majensen my review is now an _Accept_ after @cimentadaj 's recent change to the paper, removing the examples, as per https://github.com/cimentadaj/perccalc/issues/2#issuecomment-558031545.

[2019-11-26 05:39] dmentipl commented on #1884
Hi @dfm, I've made all changes requested. See this [commit](https://github.com/dmentipl/plonk/commit/9b7a943e9fcd4bfc506ca5be726a4ba14b7fdb6c).

Hopefully the changes I've made to the last paragraph in the main body cover the last two points above.

@matthewturk I hope my changes convey the state of yt with regards to the demeshening.

[2019-11-26 06:17] sarats commented on #1839
Thanks @gdetor for including detailed performance analysis.

Besides couple of minor suggestions below, this is good to go.
- The x-axis label for sub-figures B and C is better off as Number of Threads/Tasks for clarity.
- In sub-figure B: It's a bit surprising to see that much overhead with OpenMPI vs. POSIX threads, perhaps that MPI implementation needs tuning.

[2019-11-26 07:38] briatte commented on #1796
Same here, I'm also Accept at that stage.

[2019-11-26 10:22] jgonggrijp commented on #1800
@arfon I'm a bit delayed. I'm trying to finish upcoming Friday, 29. November.

[2019-11-26 12:13] dfm commented on #1884
@whedon generate pdf

[2019-11-26 12:13] whedon commented on #1884
[code]

[2019-11-26 12:13] whedon commented on #1884
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01884/joss.01884/10.21105.joss.01884.pdf)

[2019-11-26 12:13] dfm commented on #1884
@whedon check references

[2019-11-26 12:13] whedon commented on #1884
[code]

[2019-11-26 12:14] whedon commented on #1884
[code]

[2019-11-26 12:19] dfm commented on #1884
@dmentipl: Looks good to me! Can you update generate a new Zenodo archive with a title and author list that match the manuscript? Once you do that, report the new DOI here.

[2019-11-26 12:53] AJQuinn commented on #1913
Hello, thanks for your time with our submission.

Here are some suggestions for reviewers based on the list above. These are people with listed experience in either time-series analysis or M/EEG (or both) who might be appropriate reviewers. This was from a quick skim through the list, I'm sure there are others.

mnarayan, agricolab, szorowi1, lukassnoek, breznak, ejolly

Please let me know if ther

[2019-11-26 14:06] ethanwhite commented on #1768
@TrashBirdEcology - apologies for the difficulties with `rdataretriever` (don't see them in this issue any more, but got a email notification about them). The `retriculate` package that we rely on for talking to Python has introduced a number of bugs and we're in the midst of trying to mitigate these issues through improved installation instructions until they get them fixed. You current mention o

[2019-11-26 15:16] Sulstice commented on #1916
Hi @Kevin-Mattheus-Moerman I just updated the affiliations to "No affiliations" since I currently have none. Does that suffice or is there another protocol I should follow?

[2019-11-26 15:19] TrashBirdEcology commented on #1768
Thanks, @ethanwhite!

Jessica L. Burnett

GitHub <http://github.com/trashbirdecology>
CV/Resume
<https://github.com/TrashBirdEcology/cv/blob/master/burnett_extendedCV.pdf>
ORC ID: 0000-0002-0896-5099 <https://orcid.org/0000-0002-0896-5099>

On Tue, Nov 26, 2019 at 7:06 AM Ethan White <notifications@github.com>
wrote:

[2019-11-26 15:31] arfon commented on #1916
@Sulstice - you can add an affiliation of 'None' but this need to be in the `affiliations` block as described in the example paper: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2019-11-26 17:04] jsta commented on #1768
Looks good to me. The issues I raised with the initial review have all been addressed. Only thing I see remaining is that the paper still mentions the `feather` file format even though this functionality has been removed?

[2019-11-26 17:23] TrashBirdEcology commented on #1768
@whedon generate pdf

[2019-11-26 17:23] whedon commented on #1768
[code]

[2019-11-26 17:23] TrashBirdEcology commented on #1768
Yikes -- I guess I didn't push that edit.

This has been resolved @jsta.

Jessica L. Burnett

GitHub <http://github.com/trashbirdecology>
CV/Resume
<https://github.com/TrashBirdEcology/cv/blob/master/burnett_extendedCV.pdf>
ORC ID: 0000-0002-0896-5099 <https://orcid.org/0000-0002-0896-5099>

On Tue, Nov 26, 2019 at 10:04 AM Joseph Stachelek <notifications@github.com>
wrote:

[2019-11-26 17:24] whedon commented on #1768
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01768/joss.01768/10.21105.joss.01768.pdf)

[2019-11-26 17:32] TrashBirdEcology commented on #1768
@whedon  generate pdf

[2019-11-26 17:46] TrashBirdEcology commented on #1768
Sorry people and Whedon!

Fixed a typo....
@whedon generate pdf

[2019-11-26 18:31] seanpue commented on #1717
Hi @gkthiruvathukal  I think this is all set!

[2019-11-26 18:32] gdetor commented on #1839
@sarats Thank you for the comments. The problem was that the optimization flags were disabled for the MPI. We are going to correct the figure.

[2019-11-26 19:47] pssachdeva commented on #1799
Hi @puolival,

Thanks for your comments.

**Checklist**

As you stated, the Python version may be the source of the errors you encountered. We have opted to not support Python 2.7 since it is losing support in 2020. However, we do not explicitly state this in either the documentation or the README. We have made it explicit in the documentation and README that PyUoI is tested and supported for Pyth

[2019-11-26 19:47] pssachdeva commented on #1799
@whedon generate pdf

[2019-11-26 19:47] whedon commented on #1799
[code]

[2019-11-26 19:48] whedon commented on #1799
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01799/joss.01799/10.21105.joss.01799.pdf)

[2019-11-26 20:05] arokem commented on #1785
@dirmeier, @HaoZeke : have you had a chance to take a look at this paper/software?

[2019-11-26 20:11] HaoZeke commented on #1785
@arokem and @BIPL-HORIE, sorry for the delay, I had a bit of a sudden move two weeks ago. I will have this done over the weekend as it seems there have been quite a few modifications. Thanks for the reminder!

[2019-11-26 21:04] elyiorgos commented on #1663
Hi all, just checking in to see if there's anything missing or anything I can clear up. Thanks again for taking the time. For those of you celebrating Thanksgiving soon I hope you enjoy the break!

Best,
Yiorgos

[2019-11-26 21:07] eskofier commented on #1663
Dear other reviewers and editor,

I did ask about the version issue - if the others don‘t see this as problematic, Ineould be OK with accepting overall.

Best regards,
Bjoern

-sent from mobile office-

[2019-11-26 21:30] wjakethompson commented on #1908
I would also be happy to review. I haven't worked with these models specifically, but I've done some work on closely related models, also in R.

[2019-11-26 22:10] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-26 22:11] whedon commented on #1772
[code]

[2019-11-26 22:11] russellpierce commented on #1900
#fyi I'm probably not going to be able to pick this up until Tuesday next week (at the earliest) - sorry!

[2019-11-26 22:11] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-26 22:41] gkthiruvathukal commented on #1717
@seanpue Thanks so much to you and our wonderful reviewers @rlskoeser and @vc1492a.

@openjournals/joss-eics I am ready to move on accepting this contribution!

[2019-11-26 23:36] kthyng commented on #1913
@whedon assign @mjsottile as editor

[2019-11-26 23:36] whedon commented on #1913
OK, the editor is @mjsottile

[2019-11-26 23:38] kthyng commented on #1768
Great! I see the go-ahead from @ethanwhite.

@jsta can you confirm that the recent change has resolved your last concern?

[2019-11-27 00:52] marouenbg commented on #1363
@arfon I just corrected the title in `paper.md`. Thanks!

[2019-11-27 01:12] dmentipl commented on #1884
@dfm: The Zenodo archive DOI is 10.5281/zenodo.3554568

Also, I updated the Plonk version to v0.2.1.

The Zenodo archive automatically generated from the GitHub release included Matthew as an author, as he contributed a pull request adding a reference to yt in the manuscript. However, I removed him from the Zenodo archive author list. I hope that's appropriate?

[2019-11-27 02:25] arfon commented on #1363
OK that's now updated. The changes might take a few hours to update as there's caching in place on the JOSS site.

[2019-11-27 02:42] matthewturk commented on #1884
Hi!  For what it's worth, I definitely think it's appropriate for me not to
be an author.

On Tue, Nov 26, 2019 at 7:12 PM Daniel Mentiplay <notifications@github.com>
wrote:

[2019-11-27 04:05] gdetor commented on #1839
Hi @sarats We have updated the figure basde on your comments. Thank you.

[2019-11-27 04:51] 0todd0000 commented on #1870
Dear Reviewers (@melund,@demotu), I'm very sorry to chase you again about this, but I'd like to request an expedited review. If at all possible, please submit your reviews this week. (It has now been over 6 weeks since submission, and for administrative reasons I really need review results before 1 December.) Thank you for considering this request.

[2019-11-27 06:47] sarats commented on #1839
@whedon generate pdf

[2019-11-27 06:47] whedon commented on #1839
[code]

[2019-11-27 06:48] whedon commented on #1839
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01839/joss.01839/10.21105.joss.01839.pdf)

[2019-11-27 08:20] melund commented on #1870
@0todd0000 I am OK with this. Did you see my comments this weekend. They are created as issues on [mwarp1d's issue tracker](https://github.com/0todd0000/mwarp1d/issues)

[2019-11-27 08:25] 0todd0000 commented on #1870
@melund Oops!  I didn't see the issues, thank you for pointing them out. Will get on them now.

[2019-11-27 08:42] melund commented on #1870
No problem. I am in general positive about your tool. I have a little difficult seeing the use case for the the full manual warping. Maybe I am missing something. Is it possible to warp multiple segments along the curve or is it only one setting for the whole curve?  In what cases would you use it yourself?

I do, however, think that a nice GUI tool for making landmark based warping could be reall

[2019-11-27 09:25] 0todd0000 commented on #1870
Thanks very much for the feedback!

(I've just responded to the three repository issues, including the Sphinx source code and automation. I had notifications turned off for some reason, so didn't see the issues before today, sorry about that!)

For landmark warping, the warp resolution (and indirectly: warp quality) is directly related to the number of landmarks. The manual mode permits high-resol

[2019-11-27 09:33] agricolab commented on #1910
Authors submitted a well-written manuscript for a well-documented toolbox on drift correction for oscillations generated by ground reaction force measurements. There are only four aspects that imho require action, the rest of my comments can be considered mere recommendations. These aspects are

- [ ] [discuss performance claims](#pf)
- [ ] [add tests](#at)
- [ ] [pin panda dependency](#pd)
- [ ]

[2019-11-27 10:25] LRydin commented on #1693
Dear @kthyng ,

I've commented on the open issue [#7](https://github.com/LRydin/KramersMoyal/issues/7), added a Conduct of Fairness, and address a bit more the Contributions. I don't know if this suffices thought.

In the meanwhile I have one (kind'a silly) question: We referred to this package so far as Python KM, but have used more extensively `KramersMoyal`. I was wondering if it would make sen

[2019-11-27 10:33] arfon commented on #1883
@whedon assign @akeshavan as editor

[2019-11-27 10:33] whedon commented on #1883
OK, the editor is @akeshavan

[2019-11-27 11:06] trallard commented on #1680
I will be taking on as the second reviewer to move this forward

[2019-11-27 11:06] trallard commented on #1680
@whedon  add @trallard as reviewer

[2019-11-27 11:07] trallard commented on #1680
@whedon add @trallard as reviewer

[2019-11-27 11:07] whedon commented on #1680
OK, @trallard is now a reviewer

[2019-11-27 11:07] trallard commented on #1680
@whedon start review

[2019-11-27 11:07] whedon opened #1917 "[REVIEW]: tabulog: A Language-Agnostic Template System for Parsing Log Files"
**Submitting author:** @austinnar (<a href="http://orcid.org/0000-0002-5319-9805">Austin Nar</a>)
**Repository:** <a href="https://github.com/AustinNar/tabulog" target ="_blank">https://github.com/AustinNar/tabulog</a>
**Version:** 0.1.1
**Editor:** @trallard
**Reviewer:** @alexanderfurnas, @trallard
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/4c1713bdabfca57b582a4b26

[2019-11-27 11:07] whedon commented on #1680
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1917. Feel free to close this issue now!

[2019-11-27 11:07] whedon commented on #1917
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexanderfurnas, @trallard it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-11-27 11:07] whedon commented on #1917
[code]

[2019-11-27 11:07] whedon commented on #1917
[code]

[2019-11-27 11:08] #1680 closed

[2019-11-27 11:09] trallard commented on #1917
Hey @alexanderfurnas I have started the review. Your checklist can be found at the top of this issue.

If you encounter any problems feel free to ping me

[2019-11-27 11:09] whedon commented on #1917
[code]

[2019-11-27 11:10] whedon commented on #1917
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01917/joss.01917/10.21105.joss.01917.pdf)

[2019-11-27 11:31] labarba commented on #1684
👋  @dpsanders — Your last comment from Oct. 17 says:

Do note that JOSS review criteria regarding [tests](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) is that "Authors are strongly encouraged to include an automated test suite…" but "Documented manual steps that can be followed to objectively check the expected functionality of the software" are OK.

Given this, and that this

[2019-11-27 11:40] dfm commented on #1884
@dmentipl: That's right! Thanks this looks good.

[2019-11-27 11:40] dfm commented on #1884
@whedon set 10.5281/zenodo.3554568 as archive

[2019-11-27 11:40] whedon commented on #1884
OK. <a href="https://doi.org/10.5281/zenodo.3554568" target="_blank">10.5281/zenodo.3554568</a> is the archive.

[2019-11-27 11:40] dfm commented on #1884
@whedon set 0.2.1 as version

[2019-11-27 11:40] whedon commented on #1884
OK. 0.2.1 is the version.

[2019-11-27 11:41] dfm commented on #1884
@whedon generate pdf

[2019-11-27 11:41] whedon commented on #1884
[code]

[2019-11-27 11:41] whedon commented on #1884
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01884/joss.01884/10.21105.joss.01884.pdf)

[2019-11-27 11:43] dfm commented on #1884
This looks good to go for me! Pinging @openjournals/joss-eics for final processing.

[2019-11-27 11:48] dfm commented on #1889
@zonca, @pqrs6: I just wanted to check in to see how things are going with this review. Let me know if you have any questions!

[2019-11-27 11:50] dfm commented on #1868
@mdoucet: Any updates on this? Please let me know if you have any questions!

[2019-11-27 11:52] labarba commented on #1783
👋  @aokad — You have listed visualization as your topic for reviewing... would you be willing to review this submission for JOSS?
**pylustrator: code generation for reproducible figures for publication**
https://github.com/rgerum/pylustrator

[2019-11-27 11:53] labarba commented on #1783
👋  @fil — I'm looking for reviewers for this JOSS submission... could you have a look and see if you may want to contribute a review?
**pylustrator: code generation for reproducible figures for publication**
https://github.com/rgerum/pylustrator

[2019-11-27 12:01] labarba commented on #1783
👋  @alexanderfurnas — I notice you listed visualization as one of your review topics... would you be interested in contributing a JOSS review for this submission?
**pylustrator: code generation for reproducible figures for publication**
https://github.com/rgerum/pylustrator

(BTW, I found that you entered your handle as `zfurnas`, your Twitter handle rather than GitHub, which is probably why you h

[2019-11-27 12:09] csoneson commented on #1762
@lskatz - since we have two thorough finalized reviews I'm going to move on with the processing of this paper for acceptance. As discussed previously, it is a bit long for JOSS (currently ~2,000 words, while the typical JOSS paper should be between 250 and 1,000 words). Could you try to make it a bit more concise? Please see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-pape

[2019-11-27 12:27] labarba commented on #1555
👋 @rouson — how are you getting on with this review? Please give us an update.

[2019-11-27 13:23] jsta commented on #1768
Looks good. :+1:

[2019-11-27 13:48] Amudtogal commented on #1326
Hi,
we are almost done, I guess we will be finished just before Christmas!
It is on our list, we just have another project to tackle first... :/
I will update you soon!

[2019-11-27 13:49] Amudtogal commented on #1326
@whedon remind @Amudtogal in 2 weeks

[2019-11-27 13:49] whedon commented on #1326
I'm sorry @Amudtogal, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-11-27 13:52] gkthiruvathukal commented on #1326
@whedon remind @Amudtogal in 2 weeks

[2019-11-27 13:52] whedon commented on #1326
Reminder set for @Amudtogal in 2 weeks

[2019-11-27 14:01] mdoucet commented on #1868
I'm just done with my review. Sorry for the delay.

[2019-11-27 14:09] meg-simula commented on #1848
I've consulted with the editorial board and the main points are as follows:

(1) As the previous papers are published in Software "tracks" e.g. PLOS Computational Biology: Software and a special issue of Computer Physics Communications focused on high quality software and indeed focus on software aspects of the project, these papers do indeed document the Chaste software.

(2) A JOSS paper is admi

[2019-11-27 14:59] VivianePons commented on #1814
@gradvohl Where are we on this, did you ask this potential reviewer?

[2019-11-27 15:23] gradvohl commented on #1814
Hello @VivianePons! Yes, we're trying to reach him by e-mail, but we haven't yet. We'll try one last time.

[2019-11-27 15:27] dpsanders commented on #1684
There has definitely been a lot of progress, but as @JoshKarpel comments above, there are still some fundamental issues that the authors have not fully addressed, such as docs.

Also, I do not see any tests where something

[2019-11-27 16:03] dfm commented on #1868
@whedon generate pdf

[2019-11-27 16:03] whedon commented on #1868
[code]

[2019-11-27 16:04] whedon commented on #1868
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01868/joss.01868/10.21105.joss.01868.pdf)

[2019-11-27 16:10] dfm commented on #1868
@whedon check references

[2019-11-27 16:10] whedon commented on #1868
[code]

[2019-11-27 16:10] whedon commented on #1868
[code]

[2019-11-27 16:14] dfm commented on #1868
@kjappelbaum, @mdoucet: I see that you have completed the checklist - thanks!! Do you have anything else you would like to add or any final recommendations?

@1mikegrn: Looking good! I can't seem to track down that Naito (1969) reference. Is it available online anywhere? Either way, can you now generate a new Zenodo release where the title and author list match this submission. Once you do that, c

[2019-11-27 16:15] dfm commented on #1868
Also: can you all take a last quick look at the paper to make sure that the current version looks good?

[2019-11-27 16:47] 1mikegrn commented on #1868
Ya it took me about a month to track it down myself, ended up finding it though a university in Tel Aviv who sent me a pdf of their copy; it's the original paper the mathematics is legible, but the text is in Japanese.

[About the thickness of the ferrite absorption wall - Naito.pdf](https://github.com/openjournals/joss-reviews/files/3897903/About.the.thickness.of.the.ferrite.absorption.wall.-.Nai

[2019-11-27 17:35] dfm commented on #1868
Thanks! The archive should be a snapshot of the full source. The easiest way to do it is following this guide: https://guides.github.com/activities/citable-code/

[2019-11-27 18:06] 1mikegrn commented on #1868
Thanks, that really helped :)

Here's the DOI:

10.5281/zenodo.3555457

[2019-11-27 18:15] dfm commented on #1868
@whedon set 10.5281/zenodo.3555457 as archive

[2019-11-27 18:15] whedon commented on #1868
OK. <a href="https://doi.org/10.5281/zenodo.3555457" target="_blank">10.5281/zenodo.3555457</a> is the archive.

[2019-11-27 18:16] dfm commented on #1868
@whedon set v1.1.0 as version

[2019-11-27 18:16] whedon commented on #1868
OK. v1.1.0 is the version.

[2019-11-27 19:39] marcosvital commented on #1908
Hi, @cddesja , I'm Marcos, and I'll be the editor of your submission.

Since we already have three reviewers, we are almost ready to move from pre-review to review, so please confirm if everything is okay with the article proof and we'll move on.

@wjakethompson , @jrosen48 and @markhwhiteii , thank you all for accepting review this submission. You will all get the detailed reviewing instructions

[2019-11-27 19:39] marcosvital commented on #1908
@whedon generate pdf

[2019-11-27 19:39] whedon commented on #1908
[code]

[2019-11-27 19:40] whedon commented on #1908
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01908/joss.01908/10.21105.joss.01908.pdf)

[2019-11-27 19:41] marcosvital commented on #1908
@whedon add @wjakethompson as reviewer

[2019-11-27 19:41] whedon commented on #1908
OK, @wjakethompson is now a reviewer

[2019-11-27 19:42] marcosvital commented on #1908
@whedon add @jrosen48 as reviewer

[2019-11-27 19:42] whedon commented on #1908
OK, @jrosen48 is now a reviewer

[2019-11-27 19:43] marcosvital commented on #1908
@whedon add @markhwhiteii  as reviewer

[2019-11-27 19:43] whedon commented on #1908
OK, @markhwhiteii  is now a reviewer

[2019-11-27 20:23] kaashif commented on #1835
The massive corporate bureacracy has churned and I have been told there are no IP concerns in this project! I'll make the changes and push them on the weekend. By that I mean the test fixes @alex-konovalov pointed out I need and the missing/jumbled docs @falque pointed out.

From now on, any delay is my fault :)

[2019-11-27 20:25] danielskatz commented on #1844
👋 @jjmortensen - note that there are some questions/actions for you here.

[2019-11-27 20:26] danielskatz commented on #1844
👋 @marksantcroos - Can you let us know how your review is proceeding? Are you stuck on anything?

[2019-11-27 20:27] danielskatz commented on #1845
👋 @mado89 - How is your review proceeding? Specifically, what is blocking you at this point?

[2019-11-27 20:28] danielskatz commented on #1845
👋 @ctsilva - Have you been able to start your review?  I don't see any checked boxes in your checklist.

[2019-11-27 21:02] Ji-Zhang commented on #1608
@usethedata I am working on simplifying the package such that the dependencies can become not this heavy. The light version should have been released before the weekend.

[2019-11-27 22:07] zonca commented on #1889
@dfm I am at "Installation", https://bitbucket.org/hammurabicode/hamx/issues/8/joss-install-instructions
is there an expected time-frame to have the review completed?

[2019-11-27 22:47] dmentipl commented on #1884
@dfm The proof looks good to me. Let me know if there's anything left to do.

[2019-11-27 23:39] brainstorm commented on #1708
Thanks @gbader for your input, we are still waiting for @GullyAPCBurns... shall we regard him as missing reviewer at this point as he's not replying?

[2019-11-27 23:43] akeshavan commented on #1883
@whedon assign @ati-ozgur as reviewer

[2019-11-27 23:43] whedon commented on #1883
OK, the reviewer is @ati-ozgur

[2019-11-27 23:45] akeshavan commented on #1902
👋 @serine, @sonal-raj, and @vc1492a -- would you be willing to review this paper for JOSS?

[2019-11-28 00:04] jedbrown commented on #1879
@whedon add dhhagan as reviewer

[2019-11-28 00:04] whedon commented on #1879
OK, dhhagan is now a reviewer

[2019-11-28 00:04] jedbrown commented on #1879
@whedon add andreas-h as reviewer

[2019-11-28 00:04] whedon commented on #1879
OK, andreas-h is now a reviewer

[2019-11-28 00:04] jedbrown commented on #1879
@whedon start review

[2019-11-28 00:04] whedon opened #1918 "[REVIEW]: PyCHAM: CHemistry with Aerosol Microphysics in Python"
**Submitting author:** @simonom (<a href="http://orcid.org/0000-0001-7197-0651">Simon O&#39;Meara</a>)
**Repository:** <a href="https://github.com/simonom/PyCHAM" target ="_blank">https://github.com/simonom/PyCHAM</a>
**Version:** v0.2.4
**Editor:** @jedbrown
**Reviewers:** @dhhagan, @samjsilva91
**Archive:** <a href="https://doi.org/10.5281/zenodo.3752677" target="_blank">10.5281/zenodo.3752677</

[2019-11-28 00:04] whedon commented on #1879
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1918. Feel free to close this issue now!

[2019-11-28 00:04] whedon commented on #1918
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dhhagan, @andreas-h it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-11-28 00:04] whedon commented on #1918
[code]

[2019-11-28 00:04] whedon commented on #1918
[code]

[2019-11-28 00:05] whedon commented on #1918
[code]

[2019-11-28 00:05] whedon commented on #1918
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01918/joss.01918/10.21105.joss.01918.pdf)

[2019-11-28 00:08] jedbrown commented on #1918
@dhhagan @andreas-h :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [PyCHAM repository](https://github.com/simonom/PyCHAM)). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the auth

[2019-11-28 00:08] #1879 closed

[2019-11-28 00:10] mbdemoraes commented on #1814
Guys, we talked to Andrés and unfortunately he isn't available to review.
Other professionals we know have a strong conflict of interest and are not
suitable for this process. So we'll need your assistance with this task.

Em qua., 27 de nov. de 2019 às 12:23, André Leon S. Gradvohl <
notifications@github.com> escreveu:

[2019-11-28 01:14] lskatz commented on #1762
Thank you @csoneson! I will gladly shorten the paper! Can I aim for 1500 words? And separately, would it be okay if I made some sort of supplemental if I need to keep some text?

[2019-11-28 01:17] pachamaltese commented on #1866
Hi
I pushed changes to the documentation as John asked.

On Mon, Nov 25, 2019, 6:15 AM Olivia Guest <notifications@github.com> wrote:

[2019-11-28 01:57] yzhao062 commented on #1799
I just read the manuscript and it looks good to me. The author also addresses my previous concern in the post above. As a result, I am happy to recommend the paper for acceptance at JOSS :)
@pssachdeva @terrytangyuan

[2019-11-28 02:25] kbarnhart commented on #1818
@whedon set 10.5281/zenodo.3551258 as archive

[2019-11-28 02:25] whedon commented on #1818
OK. <a href="https://doi.org/10.5281/zenodo.3551258" target="_blank">10.5281/zenodo.3551258</a> is the archive.

[2019-11-28 02:25] kbarnhart commented on #1818
@openjournals/joss-eics this is ready for final processing.

[2019-11-28 02:29] serine commented on #1902
This looks interesting. I should be able to take a look at it next week, if I can get a hold of raw/example data. Image analysis isn't my field so I wouldn't know where to source the data from.

One super minor thing, but it feels rather weird to call the repository (repo) `ornet-JOSS`. I'm assuming **JOSS** suffix in the name referres to the fact that the tool will be submitted to JOSS for review

[2019-11-28 02:36] kbarnhart commented on #1890
@csherwood-usgs thanks for making your review as issues in the main repo. I've linked them here (just by including a hyperlink). This helps create the record of what issues and/or changes in the main repo were made as part of this review.

@ncohn @edlazarus let me know if you have any questions as you proceed with your reviews. If you make any issues in the main repo, just link them with this issu

[2019-11-28 02:37] kbarnhart commented on #1890
/ooo December 1 until December 4

[2019-11-28 02:58] majensen commented on #1796
@amoeba and @briatte thanks very much; and thanks @cimentadaj for your hard work and responsiveness.
@briatte, can you review your checklist and make sure everything is checked off; there are a couple of ticks necessary and I don't want to assume.

I will perform my final proofreading tasks - might lead to a PR - and then will make the formal recommendation.

[2019-11-28 03:02] majensen commented on #1796
(right after @cimentadaj merges the review branch...)

[2019-11-28 03:05] majensen commented on #1839
@sarats and @sjvrijn -- thanks very much for taking on this article, and @gdetor for the improvements. This will be a nice addition to the scope of the journal.

I will perform a final proofread - may result in a PR - and then I'll follow up with a request for archiving and the final recommendation.

[2019-11-28 03:13] majensen commented on #1839
@whedon check references

[2019-11-28 03:13] whedon commented on #1839
[code]

[2019-11-28 03:13] whedon commented on #1839
[code]

[2019-11-28 03:43] demotu commented on #1870
Hi Todd
The application is very interesting and potentially useful.
It's unfortunate that you don't have mwarp1d for Linux in your conda channel yet. So, you could mention that in your installation page and just tell the user what he/she already knows: install with python setup.py install.
The user manual and the example in overview.ipynb are helpful and clear.
The application is very complete and

[2019-11-28 06:02] afrubin commented on #1915
@jbloom @khdusenbury This is a really nice tool that I could see using for my own work. The manuscript is well written and I found the notebook-style documentation to be quite clear.

I've submitted a PR with some minor suggested edits to the text (https://github.com/jbloomlab/alignparse/pull/57) and opened four issues. Support for new input file formats requested in https://github.com/jbloomlab/a

[2019-11-28 07:59] melund commented on #1870
Thanks @0todd0000. I missed that when I played with the program.

[2019-11-28 08:50] drvinceknight commented on #1815
@Akash-Nag any update on this?

[2019-11-28 08:53] drvinceknight commented on #1859
@lheagy @dawbarton mancellin would you be able to review this paper for JOSS? Your specified areas of interest include differential equations which this is a tool for so hopefully you'll find it interesting. It implements solving differential equations using neural networks.

If you haven't reviewed for JOSS before, there is information about what that involves here: https://joss.readthedocs.io/en

[2019-11-28 08:58] jjmortensen commented on #1844
We are looking into it ... in the meantime, @gonsie I added a small section on the web-page describing how to work with many jobs:

https://myqueue.readthedocs.io/en/latest/workflows.html#handling-very-many-tasks

[2019-11-28 08:58] rreinecke commented on #1815
@drvinceknight I've asked him the same last week and it seems that he is very busy and currently not able to complete the suggested chnages. I've suggested a resubmission to him but advised him to ask the handling editor (aka you) about how to handle this.

[2019-11-28 09:03] will-rowe commented on #1915
Brilliant - thanks for your prompt and thorough review @afrubin!

[2019-11-28 09:04] drvinceknight commented on #1815
Thanks, I'll wait to hear from them to confirm before I close this.

@openjournals/jose-eics can I confirm the process for closing ("rejecting for now") a submission? Is it as simple as closing this issue or is there some @whedon magic I should use instead?

[2019-11-28 09:09] SuperKam91 commented on #1809
Hi @mbobra @zhampel any updates on this? Please see my above posts which I hope address your comments to a satisfactory level.

[2019-11-28 09:29] dawbarton commented on #1859
Yes, I can do a review. It'll be about 2 weeks before I can get to it though.

[2019-11-28 11:00] drvinceknight commented on #1859
No problem, thanks @dawbarton :+1:

[2019-11-28 11:01] drvinceknight commented on #1859
@whedon assign @dawbarton as reviewer

[2019-11-28 11:01] whedon commented on #1859
OK, the reviewer is @dawbarton

[2019-11-28 11:08] melund commented on #1870
@0todd0000 has handled or answered all of my important comments:

https://github.com/0todd0000/mwarp1d/issues/1
https://github.com/0todd0000/mwarp1d/issues/2
https://github.com/0todd0000/mwarp1d/issues/3

@trallard I can also recommend this for publication.

[2019-11-28 11:44] Shibabrat commented on #1684
thank you @labarba

@dpsanders and @JoshKarpel the package documentation is under progress (https://uposham.readthedocs.io/en/latest/#) since the recent PR contains the updated docstrings and changes to calling the scripts from the command line.

Test (comparing the analytical and numerical solution) in the form of a notebook will also reflect these changes.

[2019-11-28 12:39] dfm commented on #1889
@zonca: whoops! Sorry - didn't realize there was a conversation going on over there (I'm used to them being on GitHub). We don't have a specific time line here, but we don't like things to go quiet for more than a week - that's why I was checking in. I'll keep an eye on the issues over there.

[2019-11-28 12:51] StephanStock commented on #1771
@xuanxu we are a bit worried that @wtgee did not respond to any message since September 30th.

How should we proceed?

[2019-11-28 13:44] Fil commented on #1783
I'm sorry I don't have the bandwidth and have to decline. I've watched the
demo video and it seems like a fine and useful tool.

[2019-11-28 14:05] csoneson commented on #1762
Rather than focusing on the exact number of words to target, I'd suggest to:
* summarize the existing approaches a bit more concisely
* put a short, high-level statement (1-2 sentences perhaps) of what Mashtree does/the purpose of the software earlier in the Summary. Right now, one has to read more than one page before it is mentioned.
* focus on the research purpose and functionality of Mashtree.

[2019-11-28 14:16] osorensen commented on #1850
@whedon generate pdf

[2019-11-28 14:16] whedon commented on #1850
[code]

[2019-11-28 14:16] whedon commented on #1850
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01850/joss.01850/10.21105.joss.01850.pdf)

[2019-11-28 14:45] labarba commented on #1783
To potential reviewers that said you are unable to review: please unsubscribe to this thread to save your inbox!
@aokad : I just noticed that I pinged you twice, after you noted your unavailability... Oops, disregard!

@tacaswell, @alexanderfurnas — let us know if you might be able to contribute a review for this JOSS submission. Thanks!

[2019-11-28 15:00] labarba commented on #1815
You can add the "paused" label

[2019-11-28 15:29] rreinecke commented on #1815
@drvinceknight  for tracking completed reviews via e.g. publons this labeling is not really satisfying. If this project is never revived this does not count as a review. I'm very happy to review for JOSS anytime but it would be nice if you guys would appreciate that work with a completed review mail that at least allows to track that effort.

[2019-11-28 15:32] pqrs6 commented on #1889
I'm on the install stage as well, although have a bit less experience with
C++ installations so have some difficulties. Sorry for the delay.

On Thu, Nov 28, 2019 at 7:39 AM Dan Foreman-Mackey <notifications@github.com>
wrote:

[2019-11-28 16:40] majensen commented on #1839
@gdetor I have made very minor suggestions and launched a merge request at https://gitlab.com/gdetor/genetic_alg/merge_requests/1
thanks

[2019-11-28 16:41] majensen commented on #1796
@whedon generate pdf

[2019-11-28 16:41] whedon commented on #1796
[code]

[2019-11-28 16:42] whedon commented on #1796
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01796/joss.01796/10.21105.joss.01796.pdf)

[2019-11-28 17:15] majensen commented on #1796
@cimentadaj : created https://github.com/cimentadaj/perccalc/pull/7 with some minor edits

[2019-11-28 19:24] gdetor commented on #1839
@majensen Thank you for the editing. I just merged your edits.

[2019-11-28 19:34] majensen commented on #1839
@whedon generate pdf

[2019-11-28 19:34] whedon commented on #1839
[code]

[2019-11-28 19:34] whedon commented on #1839
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01839/joss.01839/10.21105.joss.01839.pdf)

[2019-11-28 21:03] Kevin-Mattheus-Moerman commented on #1916
@brainstorm @csoneson @will-rowe @majensen @mgymrek could one of you edit this submission? thanks

[2019-11-28 21:20] whedon opened #1919 "[PRE REVIEW]: MatD3: A Database and Online Presentation Package for Research Data Supporting Materials Discovery, Design, and Dissemination"
**Submitting author:** @raullaasner (<a href="http://orcid.org/0000-0002-9714-1189">Raul Laasner</a>)
**Repository:** <a href="https://github.com/HybriD3-database/MatD3" target ="_blank">https://github.com/HybriD3-database/MatD3</a>
**Version:** 1.0.0
**Editor:** @majensen
**Reviewers:** @dgasmith, @mkhorton

**Author instructions**

Thanks for submitting your paper to JOSS @raullaasner. **Current

[2019-11-28 21:20] whedon commented on #1919
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-28 21:20] whedon commented on #1919
[code]

[2019-11-28 21:20] whedon commented on #1919
[code]

[2019-11-28 21:21] whedon commented on #1919
PDF failed to compile for issue #1919 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedon/author.rb:68:in `block in build_affiliation_string': Problem with affiliations for Xiaochen Du, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedon/author.rb:67:in `each'

[2019-11-28 21:21] whedon commented on #1919
[code]

[2019-11-28 21:27] Kevin-Mattheus-Moerman commented on #1919
@openjournals/dev can you see what is wrong here? The affiliation index does use quotes.

[2019-11-28 21:28] Kevin-Mattheus-Moerman commented on #1919
@raullaasner while trouble shooting this you can try compiling your paper here too: https://whedon.theoj.org/
If it is compiling you can run `@whedon generate pdf` here

[2019-11-28 21:29] afrubin commented on #1915
@whedon generate pdf

[2019-11-28 21:29] whedon commented on #1915
[code]

[2019-11-28 21:29] whedon commented on #1915
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01915/joss.01915/10.21105.joss.01915.pdf)

[2019-11-28 21:33] nicksexton commented on #1900
Hey, sorry to be slow to reply.

I'm also aiming to get this done by Tuesday next week.

On Mon, 25 Nov 2019, 09:14 Olivia Guest, <notifications@github.com> wrote:

[2019-11-28 21:36] Kevin-Mattheus-Moerman commented on #1811
@whedon generate pdf

[2019-11-28 21:36] whedon commented on #1811
[code]

[2019-11-28 21:36] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-28 21:37] Kevin-Mattheus-Moerman commented on #1811
@kthyng did you want to finish processing this one?

[2019-11-28 21:38] whedon opened #1920 "[PRE REVIEW]: whampy: Python Package to Interact with, Visualize, and Analyze the Wisconsin H-Alpha Mapper - Sky Survey"
**Submitting author:** @Deech08 (<a href="http://orcid.org/0000-0002-7955-7359">Dhanesh Krishnarao</a>)
**Repository:** <a href="https://github.com/Deech08/whampy" target ="_blank">https://github.com/Deech08/whampy</a>
**Version:** v0.1.0a5
**Editor:** @xuanxu
**Reviewers:** @Gabriel-p, @HeloiseS

**Author instructions**

Thanks for submitting your paper to JOSS @Deech08. **Currently, there isn't

[2019-11-28 21:38] whedon commented on #1920
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-28 21:38] whedon commented on #1920
[code]

[2019-11-28 21:38] whedon commented on #1920
[code]

[2019-11-28 21:38] whedon commented on #1920
[code]

[2019-11-28 21:38] whedon commented on #1920
Failed to discover a valid open source license.

[2019-11-28 21:38] whedon commented on #1920
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01920/joss.01920/10.21105.joss.01920.pdf)

[2019-11-28 21:52] Kevin-Mattheus-Moerman commented on #1920
@Deech08 thanks for your submission. It looks like you have a BSD license but it is stowed away in a folder along with several other files. I recommend that you create a plain text LICENSE file in your main repository folder. This way GitHub will pick up on the license and render a license badge at the top. Also whedon (our journal system bot) and our reviewers will find it easier to find the lice

[2019-11-28 21:57] Kevin-Mattheus-Moerman commented on #1920
@xuanxu @mbobra @dfm @leouieda could one of you edit this submission?

[2019-11-28 21:59] whedon opened #1921 "[PRE REVIEW]: Pyglmnet: Python implementation of elastic-net regularized generalized linear models"
**Submitting author:** @jasmainak (<a href="http://orcid.org/0000-0002-3199-9027">Mainak Jas</a>)
**Repository:** <a href="https://github.com/glm-tools/pyglmnet/" target ="_blank">https://github.com/glm-tools/pyglmnet/</a>
**Version:** v1.1
**Editor:** @arokem
**Reviewers:** professoralkmin, ryEllison

**Author instructions**

Thanks for submitting your paper to JOSS @jasmainak. **Currently, there

[2019-11-28 21:59] whedon commented on #1921
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-28 21:59] whedon commented on #1921
[code]

[2019-11-28 21:59] whedon commented on #1921
[code]

[2019-11-28 21:59] whedon commented on #1921
[code]

[2019-11-28 21:59] whedon commented on #1921
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01921/joss.01921/10.21105.joss.01921.pdf)

[2019-11-28 22:01] Kevin-Mattheus-Moerman commented on #1921
@jasmainak thanks for your submission. Can you check those missing DOI's? :point_up:

[2019-11-28 22:04] Kevin-Mattheus-Moerman commented on #1921
@arokem @akeshavan @mbobra can one of you edit this submission? Thanks

[2019-11-28 22:06] whedon opened #1922 "[PRE REVIEW]: WulffPack: A Python package for Wulff constructions"
**Submitting author:** @magnusrahm (<a href="http://orcid.org/0000-0002-6777-0371">Magnus Rahm</a>)
**Repository:** <a href="https://gitlab.com/materials-modeling/wulffpack" target ="_blank">https://gitlab.com/materials-modeling/wulffpack</a>
**Version:** 1.0
**Editor:** @drvinceknight
**Reviewers:** @EduPH, @mzszym, @corybrunson

**Author instructions**

Thanks for submitting your paper to JOSS @

[2019-11-28 22:06] whedon commented on #1922
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-28 22:06] whedon commented on #1922
[code]

[2019-11-28 22:06] whedon commented on #1922
[code]

[2019-11-28 22:07] whedon commented on #1922
PDF failed to compile for issue #1922 with the following error:

 Can't find any papers to compile :-(

[2019-11-28 22:07] Kevin-Mattheus-Moerman commented on #1922
@openjournals/dev can you help resolve this error :point_up:

[2019-11-28 22:08] Kevin-Mattheus-Moerman commented on #1922
@magnusrahm where is your `paper.md` file located?

[2019-11-28 22:25] slumnitz commented on #1882
@martinfleis @ResidentMario @leouieda thank you for your thorough review, comments and great suggestions! I will implement them in the next couple of weeks or as soon as I can and let you know when everything is done.

[2019-11-29 00:55] Akash-Nag commented on #1815
@drvinceknight kindly advise regarding the process of resubmission. I'm sorry for not being able to make the necessary changes right now as I am very busy with too many unforeseen assignments. I apologize for the inconvenience caused. Please advise whether I should withdraw the paper (from JOSS website) and then resubmit later? Or, can/should this review be just paused, etc. in some way?

[2019-11-29 04:29] sivaramambikasaran commented on #1906
@melissawm @kyleniemeyer Wanted to check if MATLAB code is okay under JOSS guidelines given that the underlying ecosystem for the code is neither free nor open source? (My MATLAB license expired today and prompted this question).

[2019-11-29 05:09] pqrs6 commented on #1889
I've been able to install and run Hammurabi X and recommend publication with a few minor issues.

1. There is a bug in the `python` wrapper. The executable path should not need to be set by default, but I found that I had to call the code as follows;
`sim = hpx.Hampyx(xml_path=xmlpath, exe_path=exe_path)`
where `exe_path` was set to my own `hamx` executable.
2. A potentially related issue related

[2019-11-29 05:13] magnusrahm commented on #1922
@whedon commands

[2019-11-29 05:13] whedon commented on #1922
Here are some things you can ask me to do:

[code]

[2019-11-29 05:14] magnusrahm commented on #1922
@whedon generate pdf from branch joss-paper

[2019-11-29 05:14] whedon commented on #1922
[code]

[2019-11-29 05:14] whedon commented on #1922
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01922/joss.01922/10.21105.joss.01922.pdf)

[2019-11-29 05:18] magnusrahm commented on #1922
@Kevin-Mattheus-Moerman The paper is currently in a a custom branch (joss-paper). Sorry for the confusion!

[2019-11-29 05:30] whedon commented on #1922
[code]

[2019-11-29 09:53] xuanxu commented on #1920
@Kevin-Mattheus-Moerman I can edit this

[2019-11-29 09:53] xuanxu commented on #1920
@whedon assign @xuanxu as editor

[2019-11-29 09:53] whedon commented on #1920
OK, the editor is @xuanxu

[2019-11-29 10:02] VivianePons commented on #1814
No problem, I'll keep looking. My problem so far is that most people just NEVER answered me. This is what is causing the delay, I don't get negative answers, I get no answer at all...

[2019-11-29 10:24] VivianePons commented on #1814
Hey :wave: @xirdneh would you be willing to review this submission?. I tried to send you an email but it seems like your address at u texas does dot work...

[2019-11-29 10:25] VivianePons commented on #1835
Good to know :) Glad that we are back on track!

[2019-11-29 11:37] Kevin-Mattheus-Moerman commented on #1922
@kbarnhart @brainstorm @meg-simula @drvinceknight could one of you edit this submission?

[2019-11-29 11:57] mortengjerding commented on #1844
@whedon generate pdf

[2019-11-29 11:57] whedon commented on #1844
[code]

[2019-11-29 11:58] whedon commented on #1844
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01844/joss.01844/10.21105.joss.01844.pdf)

[2019-11-29 12:04] mortengjerding commented on #1844
We have now added a section describing the state of the field, where we compare MyQueue to AiiDA and Fireworks, trying to emphasize what MyQueue can/cannot do. Let us know if you have suggestions for further improvements.

[2019-11-29 12:15] marksantcroos commented on #1844
I've worked some more with the software and got something out of it. Will go over the new pdf and report my findings.

[2019-11-29 16:47] Deech08 commented on #1920
Thanks for agreeing to edit this @xuanxu - I just pushed an update to my whampy repo with the LICENSE.rst file in the main folder.

[2019-11-29 17:05] edlazarus commented on #1890
My checklist is checked – the write-up is very clean & clear – I think this is a great py-tool contribution.

[2019-11-29 17:15] melissawm commented on #1906
@sivaramambikasaran this is ok (especially since, in this case, the code is octave-compatible according to the authors)

[2019-11-29 17:25] alcantarar commented on #1910
Thank you @agricolab for your review!

@DARSakthi  and @mwptrsn, commit https://github.com/alcantarar/dryft/commit/4e56b8693a86b371b335bc3d674d8d4fce3f3314 is the latest and greatest.

[2019-11-29 17:50] kbarnhart commented on #1922
I’m on holiday until December 7, so I’d prefer not to.

[2019-11-29 17:55] majensen commented on #1796
@whedon generate pdf

[2019-11-29 17:55] whedon commented on #1796
[code]

[2019-11-29 17:56] whedon commented on #1796
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01796/joss.01796/10.21105.joss.01796.pdf)

[2019-11-29 18:03] majensen commented on #1796
@cimentadaj - Here are the final steps. Can I get you to create a tag for the latest master, and then archive that tag with [Zenodo](https://zenodo.org/) or similar? Then please provide the DOI from the archive in this thread. I will push the recommendation from there to the editors-in-chief.
Thanks!!

[2019-11-29 18:09] majensen commented on #1839
@whedon generate pdf

[2019-11-29 18:09] whedon commented on #1839
[code]

[2019-11-29 18:09] whedon commented on #1839
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01839/joss.01839/10.21105.joss.01839.pdf)

[2019-11-29 18:15] majensen commented on #1839
Hi @gdetor - There's a little typo in my merge, a space between \[Schwefel...\] and \(..link..\) (see screenshot). I made a merge request, but it's probably easier if you could go in and delete that space. Once that is achieved, can I ask you to create a new tag from the master, and then archive that tag with [Zenodo][https://zenodo.org/] or similar service? Then please provide the archive DOI in

[2019-11-29 18:25] majensen commented on #1916
@whedon generate pdf

[2019-11-29 18:25] whedon commented on #1916
[code]

[2019-11-29 18:26] whedon commented on #1916
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01916/joss.01916/10.21105.joss.01916.pdf)

[2019-11-29 20:06] pitsianis commented on #1906
I also agree that there is no issue with the use of MATLAB, even if it were not compatible with Octave (I did not verify such a claim).

The issue I have is with the name of the project, because the title/acronym refers to a much more general subject and as an acronym it is very close to this project

https://www.cs.utexas.edu/~flame

The submitter should select a title and acronym that reflects m

[2019-11-29 21:41] kirui93 commented on #1912
@whedon generate pdf

[2019-11-29 21:41] whedon commented on #1912
[code]

[2019-11-29 21:41] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2019-11-29 21:53] Ji-Zhang commented on #1608
@jjmcnelis @kellieotto I have deprecated the feature of detecting feature data type using the Bayesian method as too many dependencies there. I created a new clean virtual environment to test it and it works well. I hope it can work on your end successfully as well . Thank you.

[2019-11-29 22:01] josh146 commented on #1705
Thanks @katyhuff! What is the next step in the process :slightly_smiling_face:

[2019-11-29 22:24] Kevin-Mattheus-Moerman commented on #1717
@vc1492a it looks like you are happy with this submission, can you tick those last boxes?

[2019-11-29 22:26] Kevin-Mattheus-Moerman commented on #1717
@whedon check references

[2019-11-29 22:26] whedon commented on #1717
[code]

[2019-11-29 22:26] whedon commented on #1717
[code]

[2019-11-29 22:36] Kevin-Mattheus-Moerman commented on #1717
@seanpue can you check those DOI's :point_up:

[2019-11-29 23:07] Kevin-Mattheus-Moerman commented on #1717
@seanpue this work is about to be processed for acceptance. Can you give the paper a final check yourself as well (in particular the author names and affiliations)?

[2019-11-29 23:11] Kevin-Mattheus-Moerman commented on #1717
@seanpue once you fixed/checked the above can you post an archived version of the software on Zenodo and report back the DOI of the archived version?

[2019-11-30 00:36] gdetor commented on #1839
Hi, @majensen I corrected the typo. Thanks for spotting that. Do you need any specific tag on the master branch? Do you have any specific instructions for archiving on Zenodo? Thank you in advance.

[2019-11-30 01:45] seanpue commented on #1717
@whedon check references

[2019-11-30 01:45] whedon commented on #1717
[code]

[2019-11-30 01:45] whedon commented on #1717
[code]

[2019-11-30 01:47] seanpue commented on #1717
@whedon generate pdf

[2019-11-30 01:47] whedon commented on #1717
[code]

[2019-11-30 01:47] whedon commented on #1717
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01717/joss.01717/10.21105.joss.01717.pdf)

[2019-11-30 02:08] seanpue commented on #1717
@whedon check references

[2019-11-30 02:08] whedon commented on #1717
[code]

[2019-11-30 02:08] whedon commented on #1717
[code]

[2019-11-30 02:20] seanpue commented on #1717
@Kevin-Mattheus-Moerman The PDF is not showing my initials in the footer, but otherwise it looks good. I have uploaded to Zenodo and the DOI is: 10.5281/zenodo.3558365 Thanks!

[2019-11-30 03:26] vc1492a commented on #1717
@Kevin-Mattheus-Moerman sure thing, and done!

[2019-11-30 08:11] Kevin-Mattheus-Moerman commented on #1717
@whedon set 10.5281/zenodo.3558365 as archive

[2019-11-30 08:11] whedon commented on #1717
OK. <a href="https://doi.org/10.5281/zenodo.3558365" target="_blank">10.5281/zenodo.3558365</a> is the archive.

[2019-11-30 08:13] Kevin-Mattheus-Moerman commented on #1717
@whedon set version as v1.0.1

[2019-11-30 08:16] Kevin-Mattheus-Moerman commented on #1717
@whedon set v1.0.1 as version

[2019-11-30 08:16] whedon commented on #1717
OK. v1.0.1 is the version.

[2019-11-30 08:18] Kevin-Mattheus-Moerman commented on #1717
@seanpue can you please change the Zenodo archive metadata such that the title and author list matches your paper?
Can you confirm the version is now v1.0.1?

[2019-11-30 09:08] hvgazula commented on #1847
I haven't heard from @mbod in a while. I am afraid this work is going down the pecking order compared to the rate at which other works are being reviewed. How about @felixhenninger Can you please spare some time to review this work? I'd really appreciate that.

[2019-11-30 10:16] drvinceknight commented on #1815
@rreinecke I understand completely. Thank you again for your time and work reviewing the paper. It's greatly appreciated.

@rreinecke and @Akash-Nag I am just clarifying the process myself via email, I will get back to you here as soon as I'm confident in the correct path forward.

[2019-11-30 10:30] drvinceknight commented on #1922
I'm happy to pick it up :+1:

[2019-11-30 10:56] xuanxu commented on #1919
@Kevin-Mattheus-Moerman, @raullaasner: There was an error with the indexing of the affiliations, [this PR](https://github.com/HybriD3-database/MatD3/pull/2) should fix the compiling error.

[2019-11-30 11:18] Kevin-Mattheus-Moerman commented on #1922
@whedon assign @drvinceknight as editor

[2019-11-30 11:18] whedon commented on #1922
OK, the editor is @drvinceknight

[2019-11-30 11:19] Kevin-Mattheus-Moerman commented on #1919
Thanks @xuanxu !

[2019-11-30 11:20] Kevin-Mattheus-Moerman commented on #1919
@raullaasner can you check the above fix by @xuanxu ?

[2019-11-30 11:29] ramiyaari commented on #1850
@whedon generate pdf

[2019-11-30 11:29] whedon commented on #1850
[code]

[2019-11-30 11:29] whedon commented on #1850
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01850/joss.01850/10.21105.joss.01850.pdf)

[2019-11-30 14:40] kaashif commented on #1835
Changes I have made due to comments by @falque:

* Copied the comment about the state of the field to the paper.md. The comment is just that no open source software exists to do this but methods are well-known, so it's quite short.

* Added installation instructions to README and a link to the README in the first section of the documentation

From comments by @alex-konovalov:

* Fixed tests. The e

[2019-11-30 17:18] FelixHenninger commented on #1847
Hej @hvgazula, thanks a lot for thinking of me! Yours looks to be a fantastic (if absolutely massive) project, and I love your distributed implementation via CouchDB — I'm going to have to pass on a review too, however, because I'm not familiar with the neuroimaging part; like Vanessa, I haven't worked with this kind of data data for years now, and as much as I would love to, I can't offer the ban

[2019-11-30 18:08] raullaasner commented on #1919
@Kevin-Mattheus-Moerman Yes, sorry for the delay. This is fixed now.

[2019-11-30 19:45] Kevin-Mattheus-Moerman commented on #1919
@whedon generate pdf

[2019-11-30 19:46] whedon commented on #1919
[code]

[2019-11-30 19:46] whedon commented on #1919
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01919/joss.01919/10.21105.joss.01919.pdf)

[2019-11-30 19:54] seanpue commented on #1717
@whedon set v1.0.4 as version

[2019-11-30 19:54] whedon commented on #1717
I'm sorry @seanpue, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-11-30 19:54] seanpue commented on #1717
@whedon generate pdf

[2019-11-30 19:54] whedon commented on #1717
[code]

[2019-11-30 19:55] whedon commented on #1717
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01717/joss.01717/10.21105.joss.01717.pdf)

[2019-11-30 20:01] seanpue commented on #1717
@Kevin-Mattheus-Moerman I have fixed the Zenodo metadata. Please update the version to 1.0.4 Thanks!

[2019-12-01 03:37] majensen commented on #1839
@gdetor - don't need a specific tag, but just a persistent marker to the version of the software that was reviewed and recommended. Re: Zenodo, it's pretty easy - create an account at https://zenodo.org/ , you can use GitHub or ORCID to log in. You upload a tarball of your repo (ideally) at the tag.
Here's a quick run through: at the upload screen, select the tar.gz (or what have you) file from yo

[2019-12-01 03:39] majensen commented on #1796
(BTW, here's an overview for Zenodo, if you haven't used it before: https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729)

[2019-12-01 06:32] oliviaguest commented on #1900
@whedon remind @nicksexton in two days

[2019-12-01 06:32] whedon commented on #1900
Reminder set for @nicksexton in two days

[2019-12-01 06:32] oliviaguest commented on #1900
@whedon remind @russellpierce in twp days

[2019-12-01 06:32] whedon commented on #1900
I don't recognize this description of time 'twp' 'days'.

[2019-12-01 06:33] oliviaguest commented on #1900
@whedon remind @russellpierce in two days

[2019-12-01 06:33] whedon commented on #1900
Reminder set for @russellpierce in two days

[2019-12-01 06:36] oliviaguest commented on #1821
@labarba :wave: I assumed tagging @openjournals/joss-eics above is enough to get this accepted... What am I missing?

[2019-12-01 06:56] gdetor commented on #1839
Hi, @majensen The reserved Zenodo DOI is: 10.5281/zenodo.3558829
The tarball is uploaded on Zenodo as well.

[2019-12-01 07:26] oliviaguest commented on #1900
OK, both — I set a reminder for you on Tuesday. This should not take long and I'd like to get the ball rolling. 😄

[2019-12-01 07:40] rouson commented on #1555
@labarba I have added two issues that need to be addressed in order for me to complete my review.  In addition, I am concerned about the appropriateness of releasing new software based on a language version that is very nearly three decades old (Fortran 90) and using a parallel programming model that is over two decades old (MPI-1).  The Fortran standard has undergone 4 revisions since Fortran 90,

[2019-12-01 09:07] Kevin-Mattheus-Moerman commented on #1717
@whedon set v1.0.4 as version

[2019-12-01 09:08] whedon commented on #1717
OK. v1.0.4 is the version.

[2019-12-01 09:11] Kevin-Mattheus-Moerman commented on #1717
@whedon accept

[2019-12-01 09:11] whedon commented on #1717
[code]

[2019-12-01 09:12] whedon commented on #1717
[code]

[2019-12-01 09:12] whedon commented on #1717
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1134

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1134, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-01 09:18] Kevin-Mattheus-Moerman commented on #1717
This is normal

[2019-12-01 09:19] Kevin-Mattheus-Moerman commented on #1717
@whedon accept deposit=true

[2019-12-01 09:19] whedon commented on #1717
[code]

[2019-12-01 09:20] whedon commented on #1717
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201068464192000000) 👈 🐦🐦🐦

[2019-12-01 09:20] whedon commented on #1717
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1135
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01717](https://doi.org/10.21105/joss.01717)
2. If everything looks g

[2019-12-01 09:22] Kevin-Mattheus-Moerman commented on #1919
@raullaasner can you also work on those missing DOI's? You can run `@whedon check references` and `@whedon generate pdf` here too to check things.

[2019-12-01 09:26] Kevin-Mattheus-Moerman commented on #1919
@trallard @csoneson @majensen @akeshavan could one of you edit this submission? Thanks!

[2019-12-01 09:37] rouson commented on #1555
@labarba @danielskatz  I just added [another issue] on this submissions repository with an 10-item list of modernization suggestions.  Despite the list's length, it is surely not exhaustive as I've only reviewed a few files.  I'd like your guidance on whether archaic use of the language is a relevant review criterion.  I can't see where it fits into any of the items in my reviewer checklist, but a

[2019-12-01 11:36] osorensen commented on #1903
@mllg, the paper is very well written. My only suggestion is to correct the spelling of the word _techniques_ in the sentence:

[2019-12-01 11:43] Kevin-Mattheus-Moerman commented on #1821
@oliviaguest No further steps required. It is my turn this week. Apologies for the delay I'll get to it later this evening.

[2019-12-01 12:34] aureliocarnero commented on #1881
So @brittonsmith please read comments above.
Some changes in the documentation front needs to be done before I give green light for the publication.
Still I need to mark:
1) A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?
Please improve the landing page introduction stating clearly what the program is for.
2) Quality

[2019-12-01 13:19] majensen commented on #1919
@whedon assign @majensen as editor

[2019-12-01 13:19] whedon commented on #1919
OK, the editor is @majensen

[2019-12-01 13:39] majensen commented on #1839
@whedon set 10.5281/zenodo.3558829 as archive

[2019-12-01 13:39] whedon commented on #1839
OK. <a href="https://doi.org/10.5281/zenodo.3558829" target="_blank">10.5281/zenodo.3558829</a> is the archive.

[2019-12-01 13:40] majensen commented on #1839
@whedon set v1.0.0 as version

[2019-12-01 13:40] whedon commented on #1839
OK. v1.0.0 is the version.

[2019-12-01 13:41] majensen commented on #1839
@openjournals/joss-eics this paper is recommended for publication and ready for final check - thanks!

[2019-12-01 13:42] majensen commented on #1839
@whedon generate pdf

[2019-12-01 13:42] whedon commented on #1839
[code]

[2019-12-01 13:43] whedon commented on #1839
PDF failed to compile for issue #1839 with the following error:

 Error producing PDF.
! Argument of \caption@ydblarg has an extra }.
<inserted text>
                \par
l.473 test function.}

Looks like we failed to compile the PDF

[2019-12-01 13:47] majensen commented on #1839
@gdetor uhoh - there is a problem with pdf compile that must be due to that link for the Schwefel fn. I should have checked the proof before. Could you have a look-- maybe we can simply include the url in parens without making it a hyperlink.
Apologies for that

[2019-12-01 13:47] majensen commented on #1839
@openjournals/joss-eics please stand by until the compile issue in https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560110325 is fixed - thanks

[2019-12-01 14:11] mllg commented on #1903
Thanks, fixed in https://github.com/mlr-org/mlr3/commit/bd32569c234a88a2bb740e26975adaa487eb0de2.

[2019-12-01 14:26] oliviaguest commented on #1821
@Kevin-Mattheus-Moerman ah, thanks! I tagged Lorena because she is helping me out. Sorry for the extra pressure (none intended) — was more worried I did something wrong. Thanks again!

[2019-12-01 17:46] alexhanna commented on #1591
:wave: @taqtiqa-mark -- have you been able to have a look at these changes?

[2019-12-01 18:07] raullaasner commented on #1919
@Kevin-Mattheus-Moerman I added DOIs to the paper references except for the SpringerMaterials citation, which is only a web link. It seems there is no better way to cite it at this point.

[2019-12-01 18:13] raullaasner commented on #1919
Regarding the proof, would it possible have "3" as a superscript in MatD<sup>3</sup>? In the paper, I had written `MatD<sup>3</sup>` everywhere but this formatting seems not to be present in the proof.

[2019-12-01 19:01] ThomasPak commented on #1716
further concerns.

Hi @gonsie @jmlarson1, have you had time to look into this?

[2019-12-01 19:47] Kevin-Mattheus-Moerman commented on #1919
@whedon generate pdf

[2019-12-01 19:47] whedon commented on #1919
[code]

[2019-12-01 19:47] whedon commented on #1919
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01919/joss.01919/10.21105.joss.01919.pdf)

[2019-12-01 19:52] Kevin-Mattheus-Moerman commented on #1919
@openjournals/dev do you know how to use superscript in the text as the author requests?

[2019-12-01 19:53] Kevin-Mattheus-Moerman commented on #1919
@raullaasner the editor handling this from here on is @majensen

[2019-12-01 19:54] Kevin-Mattheus-Moerman commented on #1821
@whedon set v1.4.0 as version

[2019-12-01 19:54] whedon commented on #1821
OK. v1.4.0 is the version.

[2019-12-01 19:55] Kevin-Mattheus-Moerman commented on #1821
@whedon generate pdf

[2019-12-01 19:55] whedon commented on #1821
[code]

[2019-12-01 19:55] whedon commented on #1821
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01821/joss.01821/10.21105.joss.01821.pdf)

[2019-12-01 20:16] brittonsmith commented on #1881
@aureliocarnero, sorry I was absolutely swamped last week and also wasn't sure if I should wait for a second review. Thank you for your comments. I'm happy to clarify the text on the landing page as per all of your suggestions there. I will take care of everything this week.

As to your second comment above, I'm not sure I understand what you would like to see improved about the paper itself. Coul

[2019-12-01 20:57] Kevin-Mattheus-Moerman commented on #1821
@nfrerebeau below are some suggested changes for your paper:

- [ ] The paper contains 1 instance of `...allowed the...` and 3 instances of `...allow the...`. Please consider adding `for`, i.e. so it reads `... allowed for the...`, and `... allow for the...` (or change to use `enabled`, `enables`).
- [ ] In this sentence the referencing can be improved `It may use a priori information, e.g., absol

[2019-12-01 20:59] Kevin-Mattheus-Moerman commented on #1821
@nfrerebeau
- [ ] Please amend the meta data for the Zenodo archived version such that the title and the author set matches that of the paper.
- [ ] The archived version lists version v1.4.0 (which I've updated here already), can you confirm this is correct (and that this is the version of the reviewed and archived software)?

[2019-12-01 21:09] Kevin-Mattheus-Moerman commented on #1818
@paudetseis can you please work on the following:

- [ ] Can you amend the meta data for the archive on Zenodo such that the title and authors match the JOSS paper?
- [ ] The paper contains two instances of `allows`, I suggest using `allows the` instead.
- [ ] The acronym OBS is defined in the text but never used. Perhaps you can omit the use of the acronym altogether.
- [ ] In the following: `...

[2019-12-01 21:18] Kevin-Mattheus-Moerman commented on #1884
I checked the paper and Zenodo archive as well and all looks good.

[2019-12-01 21:18] Kevin-Mattheus-Moerman commented on #1884
@whedon accept

[2019-12-01 21:18] whedon commented on #1884
[code]

[2019-12-01 21:18] whedon commented on #1884
[code]

[2019-12-01 21:19] whedon commented on #1884
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1136

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1136, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-01 21:22] Kevin-Mattheus-Moerman commented on #1884
@whedon accept deposit=true

[2019-12-01 21:22] whedon commented on #1884
[code]

[2019-12-01 21:22] whedon commented on #1884
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201250357243981824) 👈 🐦🐦🐦

[2019-12-01 21:22] whedon commented on #1884
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1137
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01884](https://doi.org/10.21105/joss.01884)
2. If everything looks g

[2019-12-01 21:23] Kevin-Mattheus-Moerman commented on #1717
@openjournals/dev  Can you check why this DOI is still not resolving?

[2019-12-01 21:28] 0todd0000 commented on #1870
@trallard I think both reviewers have recommended publication. Is there anything else I or the reviewers need to do for the review process?

[2019-12-01 21:28] rouson commented on #1555
I just added yet another [issue] as well as a lengthy comment on a previous issue.  The more I look at the code, the more confident I am in recommending rejection.  I'm certain this code addresses an important problem and is therefore useful, but it really needs a major revision to come up to the standards of what I would expect for any modern open-source package.

[issue]: https://github.com/FEST

[2019-12-01 21:30] Kevin-Mattheus-Moerman commented on #1811
I checked the archive on Zenodo and the paper and all looks good.

[2019-12-01 21:32] Kevin-Mattheus-Moerman commented on #1811
@whedon accept

[2019-12-01 21:32] whedon commented on #1811
[code]

[2019-12-01 21:32] whedon commented on #1811
PDF failed to compile for issue #1811 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedon/bibtex_parser.rb:74:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-df8b50fe58b8/lib/whedon/bibtex_parser.rb:61:in `make_citation'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2019-12-01 21:32] whedon commented on #1811
[code]

[2019-12-01 21:34] Kevin-Mattheus-Moerman commented on #1811
@tobydriscoll it looks like you still need to merge this PR https://github.com/complexvariables/ComplexRegions.jl/pull/7. Let me know when you are ready to proceed.

[2019-12-01 21:37] whedon opened #1923 "[PRE REVIEW]: Annotation Sniffer: A tool to Extract Code Annotations Metrics"
**Submitting author:** @phillima (<a href="http://orcid.org/0000-0002-8358-4405">Phyllipe Lima</a>)
**Repository:** <a href="https://github.com/phillima/asniffer/" target ="_blank">https://github.com/phillima/asniffer/</a>
**Version:** v2.0.0
**Editor:** @gkthiruvathukal
**Reviewers:** @arcuri82, @danieledipompeo

**Author instructions**

Thanks for submitting your paper to JOSS @phillima. **Curre

[2019-12-01 21:37] whedon commented on #1923
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-01 21:38] whedon commented on #1923
[code]

[2019-12-01 21:38] whedon commented on #1923
[code]

[2019-12-01 21:38] whedon commented on #1923
[code]

[2019-12-01 21:38] whedon commented on #1923
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01923/joss.01923/10.21105.joss.01923.pdf)

[2019-12-01 21:39] whedon opened #1924 "[PRE REVIEW]: OpenTripPlanner for R"
**Submitting author:** @mem48 (<a href="http://orcid.org/0000-0002-9488-9183">Malcolm Morgan</a>)
**Repository:** <a href="https://github.com/ropensci/opentripplanner" target ="_blank">https://github.com/ropensci/opentripplanner</a>
**Version:** v0.2.0
**Editor:** @danielskatz
**Reviewers:** @danielskatz

**Author instructions**

Thanks for submitting your paper to JOSS @mem48. **Currently, there

[2019-12-01 21:39] whedon commented on #1924
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-01 21:39] whedon commented on #1924
[code]

[2019-12-01 21:39] whedon commented on #1924
[code]

[2019-12-01 21:39] whedon commented on #1924
[code]

[2019-12-01 21:39] whedon commented on #1924
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01924/joss.01924/10.21105.joss.01924.pdf)

[2019-12-01 21:42] Kevin-Mattheus-Moerman commented on #1923
@gkthiruvathukal @mjsottile @VivianePons @drvinceknight can one of you edit this one?

[2019-12-01 21:43] Kevin-Mattheus-Moerman commented on #1924
@mem48 can you check that missing DOI :point_up:

[2019-12-01 21:47] Kevin-Mattheus-Moerman commented on #1924
@csoneson @danielskatz @kbarnhart could one of you edit this submission? Thanks.

[2019-12-01 21:47] dfm commented on #1884
@dmentipl: congrats - your paper is now published! 🎉

@zingale, @matthewturk: thanks 💯 for your constructive reviews!

[2019-12-01 21:49] whedon opened #1925 "[PRE REVIEW]: Analyzing D-Wave Quantum Macro Assembler Security"
**Submitting author:** @5998 (<a href="http://orcid.org/0000-0003-0884-3566">Hesham H.Alsaadi</a>)
**Repository:** <a href="https://github.com/5998/Quantum-Security/" target ="_blank">https://github.com/5998/Quantum-Security/</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @5998. **Currently, there isn't an JOSS edi

[2019-12-01 21:49] whedon commented on #1925
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-01 21:49] whedon commented on #1925
[code]

[2019-12-01 21:49] whedon commented on #1925
[code]

[2019-12-01 21:49] whedon commented on #1925
Failed to discover a valid open source license.

[2019-12-01 21:50] whedon commented on #1925
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01925/joss.01925/10.21105.joss.01925.pdf)

[2019-12-01 21:50] whedon commented on #1925
[code]

[2019-12-01 21:55] Kevin-Mattheus-Moerman commented on #1862
@arokem can you check progress here?

[2019-12-01 21:58] Kevin-Mattheus-Moerman commented on #1812
@rljacobson, @dagit, can you give an update on review progress? Thanks.

[2019-12-01 22:03] dmentipl commented on #1884
Thank you @dfm for editing, and thank you @zingale and @matthewturk for reviewing!

[2019-12-01 22:14] arokem commented on #1862
@janfreyberg : I see that you've checked off a couple of items. Any progress on the other items?

@neuroimaginador : have you had a chance to take a look?

[2019-12-01 22:31] gkthiruvathukal commented on #1923
@Kevin-Mattheus-Moerman Yes, please assign to me!

[2019-12-01 23:45] Kevin-Mattheus-Moerman commented on #1923
@whedon assign @gkthiruvathukal as editor

[2019-12-01 23:45] whedon commented on #1923
OK, the editor is @gkthiruvathukal

[2019-12-02 00:16] mjsottile commented on #1850
It looks like we only have a couple boxes to check in the review checklists above.  @cscherrer  and @jgoldfar - can you take a look at the remaining items on your checklists to see if they have been addressed to your satisfaction?

[2019-12-02 00:19] mjsottile commented on #1812
@Kevin-Mattheus-Moerman I'm likely going to have to recruit an additional reviewer as the existing reviewers have gone non-responsive.  Any ideas before I sift through the spreadsheet again to try to recruit one?  (Would you be interested?)

[2019-12-02 00:23] mjsottile commented on #1913
Thanks for the reviewer suggestions @ajquinn.

@mnarayan, @agricolab, @szorowi1, @lukassnoek, @breznak, @ejolly : you have been identified as potential reviewers for this JOSS submission.  Please let me know if you are interested in reviewing this submission and I will add you so we can start the review process.

[2019-12-02 01:00] cddesja commented on #1908
Here's a couple strange things in the PDF.

- It looks like the paragraph below the first Figure no longer says Figure
1.
- Right before the second Figure it should say (see Figure 2).

On Wed, Nov 27, 2019 at 2:39 PM Marcos Vital (LEQ-UFAL) <
notifications@github.com> wrote:

[2019-12-02 01:06] taqtiqa-mark commented on #1591
The install instructions now appear to work.  I haven't had time to check the remaning items.  Expect to this weekend.

[2019-12-02 04:06] gdetor commented on #1839
Hi, @majensen The link has been fixed as you indicated. It should be fine now.

[2019-12-02 07:00] mado89 commented on #1845
For me its the general structure of the project. For now it looks more like a utility script that needs to be copied. Although there is a defunct "setup.py" on a different branch. The missing LICENSE file is also on a different branch. So the review would need to consider different branches with different problems.

[2019-12-02 07:31] drvinceknight commented on #1859
@marcharper this is the paper I mentioned on email, would you be interested in reviewing it?

If you haven't reviewed for JOSS before, there is information about what that involves here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and I'm super happy to answer any questions you may have.

[2019-12-02 07:49] paudetseis commented on #1818
@Kevin-Mattheus-Moerman Thank you for the suggestions.

- I edited the title and authors on Zenodo to match the JOSS paper.
- The two instances of `allows` are not followed by `the`  but rather by a noun and a gerund, respectively, which I believe is correct grammar.
- I removed the acronym OBS.
- I amended the sentence and removed `, etc.` at the end of the sentence.

[2019-12-02 08:19] drvinceknight commented on #1815
Hi @rreinecke and @Akash-Nag.

Thank you for your patience.

I completely realise the effort and need for recognition of said effort of reviewers @rreinecke so once again; thank you and hopefully I can explain the options available so that we can choose the best one that importantly works for @Akash-Nag and the paper.

Option 1: The paper is withdrawn. This is the best option if @Akash-Nag is unli

[2019-12-02 08:41] Kevin-Mattheus-Moerman commented on #1818
@whedon generate pdf

[2019-12-02 08:41] whedon commented on #1818
[code]

[2019-12-02 08:41] whedon commented on #1818
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01818/joss.01818/10.21105.joss.01818.pdf)

[2019-12-02 08:42] Kevin-Mattheus-Moerman commented on #1884
@openjournals/dev this DOI is not resolving yet, can you check?

[2019-12-02 08:44] Kevin-Mattheus-Moerman commented on #1818
@whedon accept

[2019-12-02 08:44] whedon commented on #1818
[code]

[2019-12-02 08:44] whedon commented on #1818
[code]

[2019-12-02 08:44] whedon commented on #1818
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1138

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1138, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-02 09:13] lukassnoek commented on #1913
I don't think I have the domain knowledge (spectral analysis) to evaluate this project, but it looks quite nice!

[2019-12-02 09:41] nmstreethran commented on #1911
I've completed my review and left my comments in

[2019-12-02 09:42] nmstreethran commented on #1911
My apologies for accidentally closing the issue. I've completed my review and left my comments in https://github.com/nismod/cdcam/issues/15.

[2019-12-02 09:50] csoneson commented on #1924
Looks like this submission was [reviewed and accepted by rOpenSci](https://github.com/ropensci/software-review/issues/295).

[2019-12-02 09:52] csoneson commented on #1916
@whedon assign @csoneson as editor

[2019-12-02 09:52] whedon commented on #1916
OK, the editor is @csoneson

[2019-12-02 09:53] oliviaguest commented on #1866
@pachamaltese perfect, thanks. Hopefully @rickecon can give us a realistic time-frame for his feedback too. I'll drop him an email now.

[2019-12-02 10:01] csoneson commented on #1916
Hi @Sulstice - could you check Figure 1 in your paper? It doesn't seem to show up.

[2019-12-02 10:03] nfrerebeau commented on #1821
@Kevin-Mattheus-Moerman I made the changes you suggested. Thank you for taking the time to improve my text.

I modified the title of the Zenodo archive. The author set in the meta data already matches that of the paper, or am I missing something?

I confirm that v1.4.0 is the version of the reviewed and archived software.

[2019-12-02 10:04] oliviaguest commented on #1821
@nfrerebeau if you can tick them off, that will help — thanks! :smile:

[2019-12-02 10:41] xuanxu commented on #1881
@mgckind: How is your review going?

[2019-12-02 10:44] bede commented on #1915
A very well crafted tool and accompanying paper. All the bases have been well covered, and multiple use cases have been elegantly demonstrated through rich notebooks with lovely visualisations. The paper is clear and well written. I see that you have recently added contribution guidelines. @afrubin has already covered some other points.

I did encounter a minor installation issue that was easily w

[2019-12-02 11:03] xuanxu commented on #1771
@StephanStock

That's OK. I'll ask you for it when needed.

OK, if automated tests are not in place, some form of manual procedure to test the functionality of the software should be included. Please document that (in the README is OK, in a separate file linked from the README is also OK).

I've contacted him via email, I hope he'll provide an update soon.

[2019-12-02 11:24] xuanxu commented on #1920
:wave: @Gabriel-p would you be willing to review this submission for JOSS? I think your knowledge of Python and Astronomy makes you a good fit for this submission.

[2019-12-02 11:26] xuanxu commented on #1920
:wave: @ngoldbaum would you be willing to review this submission for JOSS? I think your knowledge of Python and Astrophysics makes you a good fit for this submission.

[2019-12-02 11:53] arfon commented on #1916
@Sulstice - you'll need to link to the image URL like this rather than the relative path you're currently using:

[code]

[2019-12-02 12:04] melissawm commented on #1911
Thank you, @nmstreethran and @potterzot ! When you are satisfied with the revision by @tomalrussell please let me know.

[2019-12-02 12:15] Kevin-Mattheus-Moerman commented on #1818
@whedon accept deposit=true

[2019-12-02 12:15] whedon commented on #1818
[code]

[2019-12-02 12:15] whedon commented on #1818
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201475049473167360) 👈 🐦🐦🐦

[2019-12-02 12:15] whedon commented on #1818
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1139
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01818](https://doi.org/10.21105/joss.01818)
2. If everything looks g

[2019-12-02 12:19] Kevin-Mattheus-Moerman commented on #1821
@whedon generate pdf

[2019-12-02 12:19] whedon commented on #1821
[code]

[2019-12-02 12:20] whedon commented on #1821
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01821/joss.01821/10.21105.joss.01821.pdf)

[2019-12-02 12:24] Kevin-Mattheus-Moerman commented on #1821
@nfrerebeau nearly there. I left one box unchecked. You introduced `[a]` but I meant for you to introduce `a`, so please remove the square brackets. You can call `@whedon generate pdf` here when you are done. Thanks.

[2019-12-02 12:29] Kevin-Mattheus-Moerman commented on #1812
@mjsottile I do not have time at the moment unfortunately. Perhaps try to ping the reviewers again and try to email them (if possible) if they remain unresponsive.

[2019-12-02 12:37] nfrerebeau commented on #1821
I was a little too fast on this one :sweat_smile:

[2019-12-02 12:37] nfrerebeau commented on #1821
@whedon generate pdf

[2019-12-02 12:37] whedon commented on #1821
[code]

[2019-12-02 12:38] whedon commented on #1821
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01821/joss.01821/10.21105.joss.01821.pdf)

[2019-12-02 12:41] majensen commented on #1839
@whedon generate pdf

[2019-12-02 12:41] whedon commented on #1839
[code]

[2019-12-02 12:42] whedon commented on #1839
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01839/joss.01839/10.21105.joss.01839.pdf)

[2019-12-02 13:27] mem48 commented on #1924
Hi @csoneson yes your right This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/295, @ropensci/editors

@Kevin-Mattheus-Moerman I've just updated the .bib file with the missing DOI

[2019-12-02 13:32] Gabriel-p commented on #1920
@xuanxu I'll check it out as soon as I have a few minutes.

[2019-12-02 13:43] cimentadaj commented on #1796
Thanks, the DOI is 10.5281/zenodo.3559855 and can be found [here](https://zenodo.org/record/3559855).

[2019-12-02 13:44] danielskatz commented on #1924
I'll go ahead and move this through the expedited process this morning.

[2019-12-02 13:44] danielskatz commented on #1924
@whedon assign @danielskatz as editor

[2019-12-02 13:44] whedon commented on #1924
OK, the editor is @danielskatz

[2019-12-02 13:53] danielskatz commented on #1845
What do you suggest for the author to do to improve this?
Can this be reviewed in its current state? (An option is to pause the review until some changes are made.)

[2019-12-02 13:54] danielskatz commented on #1884
The DOI resolves for me, and the paper looks fine.

[2019-12-02 14:12] arfon commented on #1811
@whedon accept

[2019-12-02 14:12] whedon commented on #1811
[code]

[2019-12-02 14:12] whedon commented on #1811
[code]

[2019-12-02 14:13] whedon commented on #1811
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1140

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1140, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-02 14:14] majensen commented on #1796
@openjournals/joss-eics, I recommend this paper for publication and ask that you begin the final steps. Thanks!

[2019-12-02 14:15] danielskatz commented on #1796
Thanks - will do shortly

[2019-12-02 14:15] majensen commented on #1839
@openjournals/joss-eics, proof issues have been resolved. Please begin final check for publication. Thanks!

[2019-12-02 14:16] danielskatz commented on #1796
@majensen - if you can tell whedon the archive and version, that helps the AEiC...  (See https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance)

[2019-12-02 14:17] majensen commented on #1796
Thanks @danielskatz will do

[2019-12-02 14:17] majensen commented on #1796
@whedon set 10.5281/zenodo.3559855 as archive

[2019-12-02 14:17] whedon commented on #1796
OK. <a href="https://doi.org/10.5281/zenodo.3559855" target="_blank">10.5281/zenodo.3559855</a> is the archive.

[2019-12-02 14:18] majensen commented on #1796
@whedon set v1.0.5 as version

[2019-12-02 14:18] whedon commented on #1796
OK. v1.0.5 is the version.

[2019-12-02 14:19] dphansti commented on #1742
Great.  Thank you all for your work on this.  @mgymrek what happens next? Do we need to take any action?

[2019-12-02 14:25] dphansti commented on #1837
@daissi, @stulacy, @majensen We have added unit tests using the `testthat` package for key functions, as well as an application-level test using the `shinytest` package that emulates simple tasks in the user interface and compares with pre-validated results. We also configured Travis CI to automatically run these tests with every change and report failures.

[2019-12-02 14:25] Kevin-Mattheus-Moerman commented on #1821
@whedon accept

[2019-12-02 14:25] whedon commented on #1821
[code]

[2019-12-02 14:25] whedon commented on #1821
[code]

[2019-12-02 14:25] whedon commented on #1821
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1141

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1141, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-02 14:26] #1884 closed

[2019-12-02 14:26] whedon commented on #1884
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01884/status.svg)](https://doi.org/10.21105/joss.01884)

**We need your help!**

Journal of Open Source Softwa

[2019-12-02 14:27] Kevin-Mattheus-Moerman commented on #1821
@whedon accept deposit=true

[2019-12-02 14:27] whedon commented on #1821
[code]

[2019-12-02 14:27] whedon commented on #1821
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201508283275776000) 👈 🐦🐦🐦

[2019-12-02 14:27] whedon commented on #1821
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1142
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01821](https://doi.org/10.21105/joss.01821)
2. If everything looks g

[2019-12-02 14:28] #1818 closed

[2019-12-02 14:28] whedon commented on #1818
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01818/status.svg)](https://doi.org/10.21105/joss.01818)

**We need your help!**

Journal of Open Source Softwa

[2019-12-02 14:28] #1821 closed

[2019-12-02 14:28] whedon commented on #1821
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01821/status.svg)](https://doi.org/10.21105/joss.01821)

**We need your help!**

Journal of Open Source Softwa

[2019-12-02 14:30] Kevin-Mattheus-Moerman commented on #1811
@whedon accept deposit=true

[2019-12-02 14:30] whedon commented on #1811
[code]

[2019-12-02 14:31] whedon commented on #1811
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201509158400471047) 👈 🐦🐦🐦

[2019-12-02 14:31] whedon commented on #1811
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1143
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01811](https://doi.org/10.21105/joss.01811)
2. If everything looks g

[2019-12-02 14:32] #1811 closed

[2019-12-02 14:32] whedon commented on #1811
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01811/status.svg)](https://doi.org/10.21105/joss.01811)

**We need your help!**

Journal of Open Source Softwa

[2019-12-02 14:36] danielskatz commented on #1796
@whedon generate pdf

[2019-12-02 14:36] whedon commented on #1796
[code]

[2019-12-02 14:37] whedon commented on #1796
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01796/joss.01796/10.21105.joss.01796.pdf)

[2019-12-02 14:37] danielskatz commented on #1796
@whedon check references

[2019-12-02 14:37] whedon commented on #1796
[code]

[2019-12-02 14:37] whedon commented on #1796
[code]

[2019-12-02 14:43] danielskatz commented on #1796
👋 @cimentadaj - please add the DOI (https://doi.org/10.18637/jss.v045.i03) for the van Buuren paper to you bib file.  Also, should there be some link for the reference to Ordinal?

[2019-12-02 14:44] danielskatz commented on #1924
@whedon assign @danielskatz as reviewer

[2019-12-02 14:44] whedon commented on #1924
OK, the reviewer is @danielskatz

[2019-12-02 14:46] danielskatz commented on #1924
@whedon start review

[2019-12-02 14:46] whedon opened #1926 "[REVIEW]: OpenTripPlanner for R"
**Submitting author:** @mem48 (<a href="http://orcid.org/0000-0002-9488-9183">Malcolm Morgan</a>)
**Repository:** <a href="https://github.com/ropensci/opentripplanner" target ="_blank">https://github.com/ropensci/opentripplanner</a>
**Version:** v0.2.0
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3558311" target="_blank">10.5281/zenodo.35

[2019-12-02 14:46] whedon commented on #1924
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1926. Feel free to close this issue now!

[2019-12-02 14:46] whedon commented on #1926
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2019-12-02 14:46] whedon commented on #1926
[code]

[2019-12-02 14:46] whedon commented on #1926
[code]

[2019-12-02 14:47] #1924 closed

[2019-12-02 14:47] whedon commented on #1926
[code]

[2019-12-02 14:47] whedon commented on #1926
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01926/joss.01926/10.21105.joss.01926.pdf)

[2019-12-02 14:48] danielskatz commented on #1926
Note that this submission has been accepted by rOpenSci (https://github.com/ropensci/software-review/issues/295), so this JOSS process is just checking to ensure that JOSS criteria are met.

[2019-12-02 14:50] kthyng commented on #1901
Thanks @guillaume-irstea.

@kbarnhart Would you be willing to be editor for this paper?

[2019-12-02 14:53] kthyng commented on #1693
@LRydin I've pinged @Shibabrat on your issue to look at your work.

You can change the name of your package if you would like, including in the title of the paper, etc. Just go ahead and make all the changes if you want to do so.

[2019-12-02 14:54] danielskatz commented on #1926
👋 @mem48 - please merge the changes in https://github.com/ropensci/opentripplanner/pull/41 or let me know which you disagree with.

[2019-12-02 14:54] kthyng commented on #1768
Great! We can begin the final acceptance process then.

[2019-12-02 14:55] danielskatz commented on #1926
Also in the second reference in the bib file, I see
```booktitle = {Algorithms ? {ESA} 2010},```

The ```?``` seems incorrect.  Can you check/fix this?

[2019-12-02 14:55] alcantarar commented on #1910
@mwptrsn "Automated Tests" is unchecked in your review checklist; did you have any issues with the testing suite?

[2019-12-02 14:57] kthyng commented on #1768
@whedon generate pdf

[2019-12-02 14:57] whedon commented on #1768
[code]

[2019-12-02 14:57] mwptrsn commented on #1910
I may have missed that/unchecked it by accident. I was able to get the package up and running with no issues.

[2019-12-02 14:57] whedon commented on #1768
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01768/joss.01768/10.21105.joss.01768.pdf)

[2019-12-02 14:59] lskatz commented on #1762
Thank you!  One more question:  How do I avoid the syntax happening right now in the figure legends?  For example:

[2019-12-02 15:01] danielskatz commented on #1839
👋 @gdetor - I will shortly generate some PRs for the paper and bib - please merge them or let me know what you don't agree with...

[2019-12-02 15:01] csoneson commented on #1762
I think you can remove the `Figure 1. ` part from your figure legend in the .md file.

[2019-12-02 15:04] kthyng commented on #1768
I read through the paper and made a few small fixed in [this PR](https://github.com/TrashBirdEcology/bbsAssistant/pull/85) if you want to merge.

[2019-12-02 15:04] kthyng commented on #1768
@whedon check references

[2019-12-02 15:04] whedon commented on #1768
[code]

[2019-12-02 15:04] whedon commented on #1768
[code]

[2019-12-02 15:06] danielskatz commented on #1839
bib PR: https://gitlab.com/gdetor/genetic_alg/merge_requests/3

[2019-12-02 15:08] mwptrsn commented on #1910
The author describes a software package for removing drift in ground force measurements caused by environmental or other factors. The software is well-documented, with both examples and API documentation for both the Python and MATLAB code. The use of a Jupyter Notebook to highlight the use was appreciated. The Python code was easier to set up and get running, but that’s due to the nature of the t

[2019-12-02 15:09] kthyng commented on #1768
Forgot to look through your references before I made that PR so here is another: https://github.com/TrashBirdEcology/bbsAssistant/pull/86

[2019-12-02 15:09] nfrerebeau commented on #1821
@izaromanowska, @soodoku, @oliviaguest and @Kevin-Mattheus-Moerman many thanks!!

[2019-12-02 15:10] kthyng commented on #1768
@TrashBirdEcology Can you make a tagged release and archive, and report the version number and archive DOI in this review thread?

[2019-12-02 15:10] kthyng commented on #1768
Sorry I should have been more specific, by "archive" I mean to submit your JOSS submission to Zenodo or similar for a DOI.

[2019-12-02 15:12] TrashBirdEcology commented on #1768
@kthyng, yes, I will archive on USGS, but that might take a few days. I will ping you as soon as this is complete.

[2019-12-02 15:13] danielskatz commented on #1839
paper PR: https://gitlab.com/gdetor/genetic_alg/merge_requests/4

[2019-12-02 15:15] kthyng commented on #1768
When you archive with USGS will it be the code and paper like you would with Zenodo? And you get a DOI?

Also in case it was lost in the mix, please do make a tagged release and we'll set that as the new version. Your original version number is ok but it should match a tagged release in github.

[2019-12-02 15:20] TrashBirdEcology commented on #1768
Yes, similar to Zenodo, including a DOI.

Not sure what is meant by 'tagged' release, however?

Jessica L. Burnett

GitHub <http://github.com/trashbirdecology>
CV/Resume
<https://github.com/TrashBirdEcology/cv/blob/master/burnett_extendedCV.pdf>
ORC ID: 0000-0002-0896-5099 <https://orcid.org/0000-0002-0896-5099>

On Mon, Dec 2, 2019 at 8:15 AM Kristen Thyng <notifications@github.com>
wrote:

[2019-12-02 15:39] LRydin commented on #1693
Dear @kthyng,

wonderful, I'll make the changes then. I'm rereading the paper to ensure everything is okay. I'll commit the corrected version with the "new" name as soon as it is ready.

Best,
Leonardo Rydin
@fmeirinhos

[2019-12-02 15:46] kthyng commented on #1768
@TrashBirdEcology I'm following editor guidelines here: https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

And here is some information about making releases in github: https://help.github.com/en/github/administering-a-repository/creating-releases

[2019-12-02 15:47] kthyng commented on #1768
@whedon generate pdf

[2019-12-02 15:47] whedon commented on #1768
[code]

[2019-12-02 15:48] whedon commented on #1768
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01768/joss.01768/10.21105.joss.01768.pdf)

[2019-12-02 15:51] kthyng commented on #1768
@TrashBirdEcology Looks like the changes to the references haven't made it through?

[2019-12-02 16:04] danasolav commented on #1849
I have installed and ran the demo successfully. I would like to run my own data which was not acquired using DLC. Therefore I have raised an issue ([#7](https://github.com/SwathiSheshadri/pose3d/issues/7)) regarding the instructions for creating the csv file which is used as input.

[2019-12-02 16:40] TrashBirdEcology commented on #1768
@whedon generate pdf

[2019-12-02 16:40] whedon commented on #1768
[code]

[2019-12-02 16:41] whedon commented on #1768
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01768/joss.01768/10.21105.joss.01768.pdf)

[2019-12-02 17:28] DARSakthi commented on #1910
The author presents a novel method for correcting non-linear error in measurements of ground reaction force, and an accompanying software package. The author submits a well written paper reporting necessity, novelty, function, and applicability. I echo the previous reviewers responses, especially in regards to test cases, which I think would be received well if maintained in this repository. Based

[2019-12-02 17:32] TrashBirdEcology commented on #1768
@kthyng  the
__DOI__:  10.5066/P93W0EAW (will take a couple of hours to be public).
__Version release__: https://github.com/TrashBirdEcology/bbsAssistant/releases/tag/v1.0

DOI: 10.5066/P93W0EAW

[2019-12-02 18:21] alcantarar commented on #1910
@mwptrsn and @DARSakthi thanks for the review and suggestions.

@mwptrsn could you elaborate on your second point in an [issue](https://github.com/alcantarar/dryft/issues)?

[2019-12-02 18:55] jasmainak commented on #1921
Thanks to @geektoni, the missing DOIs should be fixed now!

[2019-12-02 19:00] mem48 commented on #1926
@danielskatz I've fixed the `?` and I also fixed the  formatting of the code blocks

[2019-12-02 19:10] gdetor commented on #1839
Hi, @danielskatz We merged the PRs you made. Thank you.

[2019-12-02 19:26] danielskatz commented on #1926
@whedon generate pdf

[2019-12-02 19:26] whedon commented on #1926
[code]

[2019-12-02 19:26] whedon commented on #1926
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01926/joss.01926/10.21105.joss.01926.pdf)

[2019-12-02 19:30] danielskatz commented on #1926
The next steps are to make an archive of the code somewhere, potentially using Zenodo (as described [here](https://guides.github.com/activities/citable-code/)) or another archive, then let me know both the doi of the archive and the version number of the code, if it has changed.  Please also be sure the title and author metadata associated with the archive matches the paper title and authors.

[2019-12-02 19:31] danielskatz commented on #1839
@whedon generate pdf

[2019-12-02 19:31] whedon commented on #1839
[code]

[2019-12-02 19:31] arokem commented on #1921
Sure. I can take this one.

[2019-12-02 19:31] arokem commented on #1921
@whedon assign arokem as editor

[2019-12-02 19:31] whedon commented on #1839
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01839/joss.01839/10.21105.joss.01839.pdf)

[2019-12-02 19:31] whedon commented on #1921
OK, the editor is arokem

[2019-12-02 19:32] danielskatz commented on #1839
@whedon accept

[2019-12-02 19:32] whedon commented on #1839
[code]

[2019-12-02 19:33] whedon commented on #1839
[code]

[2019-12-02 19:33] whedon commented on #1839
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1144

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1144, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-02 19:34] arokem commented on #1921
👋 ryEllison : would you be willing to review this paper for JOSS?

[2019-12-02 19:34] arokem commented on #1921
👋 @b-freitas : would you be willing to review this article for JOSS?

[2019-12-02 19:35] arokem commented on #1921
👋 @ryEllison : would you be willing to review this  article for JOSS?

[2019-12-02 19:35] danielskatz commented on #1839
👋 @gdetor - please update the title metadata in the zenodo archive to match the title of the paper

[2019-12-02 19:37] arokem commented on #1921
@whedon generate pdf

[2019-12-02 19:37] whedon commented on #1921
[code]

[2019-12-02 19:37] whedon commented on #1921
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01921/joss.01921/10.21105.joss.01921.pdf)

[2019-12-02 19:42] mbobra commented on #1809
@zhampel Does this submission pass your review? If so, can you please approve this for publication (tick all the checkboxes) or let @SuperKam91 know what issues still remain?

[2019-12-02 20:23] stulacy commented on #1837
Great, thanks @dphansti . I've completed my review.

[2019-12-02 20:45] gdetor commented on #1839
@danielskatz The title has been updated.

[2019-12-02 20:55] lskatz commented on #1762
@whedon generate pdf

[2019-12-02 20:55] whedon commented on #1762
[code]

[2019-12-02 20:56] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-12-02 20:56] danielskatz commented on #1839
@whedon accept deposit=true

[2019-12-02 20:56] whedon commented on #1839
[code]

[2019-12-02 20:56] lskatz commented on #1762
Thank you for all of your suggestions @csoneson !  I am generating the PDF for my coauthors to see and will let you know when the dust settles.  Do these changes sufficiently address your comments?  I cut down a lot of the introduction and the algorithm discussion, but I kept the figures.

[2019-12-02 20:57] whedon commented on #1839
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201606262695354368) 👈 🐦🐦🐦

[2019-12-02 20:57] whedon commented on #1839
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1145
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01839](https://doi.org/10.21105/joss.01839)
2. If everything looks g

[2019-12-02 21:01] danielskatz commented on #1839
Thanks to @sjvrijn & @sarats for reviewing and @majensen for editing!
And congratulations to @gdetor (and co-author)!

[2019-12-02 21:01] #1839 closed

[2019-12-02 21:01] whedon commented on #1839
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01839/status.svg)](https://doi.org/10.21105/joss.01839)

**We need your help!**

Journal of Open Source Softwa

[2019-12-02 21:08] danielskatz commented on #1895
@CostRagno - is this paper ready to be moved on to review in your opinion?  In other words, have you finished what you intended when you wrote the following?

[2019-12-02 21:10] mem48 commented on #1926
The DOI of the archive is    10.5281/zenodo.3558311

I've check the title and authors match

[2019-12-02 21:11] danielskatz commented on #1717
This DOI resolves, so I'm going to close this issue
Thanks to @gkthiruvathukal for editing and @rlskoeser & @vc1492a for reviewing, and congratulations to @seanpue

[2019-12-02 21:11] #1717 closed

[2019-12-02 21:11] whedon commented on #1717
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01717/status.svg)](https://doi.org/10.21105/joss.01717)

**We need your help!**

Journal of Open Source Softwa

[2019-12-02 21:11] mem48 commented on #1926
And both the paper and the archive are version 0.2

[2019-12-02 21:12] danielskatz commented on #1901
@whendon remind @danielskatz in 2 days

[2019-12-02 21:12] danielskatz commented on #1901
@whedon remind @danielskatz in 2 days

[2019-12-02 21:12] whedon commented on #1901
@danielskatz doesn't seem to be a reviewer or author for this submission.

[2019-12-02 21:15] danielskatz commented on #1907
I'm going to mark this as paused for now - @michael-hartmann, please let us know when you have addressed the previous points.

[2019-12-02 21:16] whedon opened #1927 "[PRE REVIEW]: rgsp: An R Package for Quality Control Charts under Repetitive Group Sampling Plan based on Cpk"
**Submitting author:** @myaseen208 (<a href="http://orcid.org/0000-0002-5923-1714">Muhammad Yaseen</a>)
**Repository:** <a href="https://github.com/myaseen208/rgsp_article" target ="_blank">https://github.com/myaseen208/rgsp_article</a>
**Version:** 0.2.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @myaseen208. **Currently, there isn

[2019-12-02 21:16] whedon commented on #1927
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-02 21:16] whedon commented on #1927
[code]

[2019-12-02 21:16] whedon commented on #1927
[code]

[2019-12-02 21:16] whedon commented on #1927
Failed to discover a valid open source license.

[2019-12-02 21:16] whedon commented on #1927
[code]

[2019-12-02 21:16] whedon commented on #1927
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01927/joss.01927/10.21105.joss.01927.pdf)

[2019-12-02 21:18] danielskatz commented on #1927
👋 @myaseen208 - I don't see any software to be reviewed in the repository you indicated.  Where is the software?  You've also submitted .pdf and .log files for paper, which don't need to be in the repository.

[2019-12-02 21:18] whedon opened #1928 "[PRE REVIEW]: Pooch: A friend to fetch your data files"
**Submitting author:** @leouieda (<a href="http://orcid.org/0000-0001-6123-9515">Uieda, L</a>)
**Repository:** <a href="https://github.com/fatiando/pooch" target ="_blank">https://github.com/fatiando/pooch</a>
**Version:** v0.7.0
**Editor:** @danielskatz
**Reviewers:** @hmaarrfk, @martindurant

**Author instructions**

Thanks for submitting your paper to JOSS @leouieda. **Currently, there isn't an

[2019-12-02 21:18] whedon commented on #1928
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-02 21:18] whedon commented on #1928
[code]

[2019-12-02 21:18] whedon commented on #1928
[code]

[2019-12-02 21:18] whedon commented on #1928
[code]

[2019-12-02 21:19] whedon commented on #1928
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01928/joss.01928/10.21105.joss.01928.pdf)

[2019-12-02 21:20] danielskatz commented on #1928
@whedon assign @danielskatz as editor

[2019-12-02 21:20] whedon commented on #1928
OK, the editor is @danielskatz

[2019-12-02 21:20] danielskatz commented on #1928
@leouieda - can you suggest some reviewers for this submission?

[2019-12-02 21:22] danielskatz commented on #1926
@whedon set 10.5281/zenodo.3558311 as archive

[2019-12-02 21:22] whedon commented on #1926
OK. <a href="https://doi.org/10.5281/zenodo.3558311" target="_blank">10.5281/zenodo.3558311</a> is the archive.

[2019-12-02 21:22] danielskatz commented on #1926
@whedon accept

[2019-12-02 21:22] whedon commented on #1926
[code]

[2019-12-02 21:23] whedon commented on #1926
[code]

[2019-12-02 21:23] whedon commented on #1926
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1146

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1146, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-02 21:26] danielskatz commented on #1926
@whedon accept deposit=true

[2019-12-02 21:26] whedon commented on #1926
[code]

[2019-12-02 21:27] whedon commented on #1926
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201613981246472193) 👈 🐦🐦🐦

[2019-12-02 21:27] whedon commented on #1926
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1147
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01926](https://doi.org/10.21105/joss.01926)
2. If everything looks g

[2019-12-02 21:28] ejolly commented on #1913
Unfortunately, I don't think I have sufficient expertise for being a reviewer for this submission. I'll also be unavailable due to travel to ensure a timely review.

The submission looks really interesting though!

[2019-12-02 21:29] danielskatz commented on #1926
Congratulations to @mem48!

[2019-12-02 21:29] #1926 closed

[2019-12-02 21:29] whedon commented on #1926
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01926/status.svg)](https://doi.org/10.21105/joss.01926)

**We need your help!**

Journal of Open Source Softwa

[2019-12-02 21:30] whedon opened #1929 "[PRE REVIEW]: ROSS - Rotordynamic Open Source Software"
**Submitting author:** @raphaeltimbo (<a href="http://orcid.org/0000-0001-7689-5486">Raphael Silva</a>)
**Repository:** <a href="https://github.com/ross-rotordynamics/ross" target ="_blank">https://github.com/ross-rotordynamics/ross</a>
**Version:** v0.2.0
**Editor:** @meg-simula
**Reviewers:** @srmnitc, @nnadeau

**Author instructions**

Thanks for submitting your paper to JOSS @raphaeltimbo. **C

[2019-12-02 21:30] whedon commented on #1929
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-02 21:30] whedon commented on #1929
[code]

[2019-12-02 21:30] whedon commented on #1929
[code]

[2019-12-02 21:30] whedon commented on #1929
[code]

[2019-12-02 21:31] whedon commented on #1929
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01929/joss.01929/10.21105.joss.01929.pdf)

[2019-12-02 21:34] danielskatz commented on #1929
👋 @raphaeltimbo - note that whedon found 2 DOIs that should be added to your paper. Also, please check the references to make sure the cases (upper vs lower) are correct, and add {}s in the .bib file where needed to protect cases. Once you have made changes, enter a new comment in this issue with ```@whedon generate pdf``` to regenerate the pdf to make sure it looks right.

[2019-12-02 21:35] danielskatz commented on #1929
I also see a number of spelling mistakes in the paper - please check this as well and make needed fixes.  e.g. softares, comercial, ...

[2019-12-02 21:37] danielskatz commented on #1929
👋 @meg-simula - would you be willing to edit this submission?

[2019-12-02 21:37] whedon opened #1930 "[PRE REVIEW]: WEPPCLIFF: A command-line tool to process climate inputs for soil loss models"
**Submitting author:** @ryanpmcg (<a href="http://orcid.org/0000-0003-0464-9774">Ryan McGehee</a>)
**Repository:** <a href="https://github.com/ryanpmcg/WEPPCLIFF" target ="_blank">https://github.com/ryanpmcg/WEPPCLIFF</a>
**Version:** 1.4
**Editor:** @kbarnhart
**Reviewers:** @frengers, @stoor001, @khaors

**Author instructions**

Thanks for submitting your paper to JOSS @ryanpmcg. The JOSS editor

[2019-12-02 21:37] whedon commented on #1930
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a

[2019-12-02 21:37] whedon commented on #1930
[code]

[2019-12-02 21:37] whedon commented on #1930
[code]

[2019-12-02 21:38] whedon commented on #1930
[code]

[2019-12-02 21:38] whedon commented on #1930
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01930/joss.01930/10.21105.joss.01930.pdf)

[2019-12-02 21:39] danielskatz commented on #1930
👋 @lheagy - sorry, I didn't mean to assign this to you as editor - Since I don't think @whedon will let me unassign it, I'm going to assign it to me for the minute while I find an appropriate editor

[2019-12-02 21:39] danielskatz commented on #1930
@whedon assign @danielskatz as editor

[2019-12-02 21:39] whedon commented on #1930
OK, the editor is @danielskatz

[2019-12-02 21:42] danielskatz commented on #1930
👋 @kbarnhart - would you be willing to edit this submission?

[2019-12-02 21:42] danielskatz commented on #1930
@whedon remind @danielskatz in 2 days

[2019-12-02 21:42] whedon commented on #1930
Sorry, I can't set reminders on PRE-REVIEW issues.

[2019-12-02 21:42] danielskatz commented on #1930
@whedon - what are you good for?

[2019-12-02 21:46] danielskatz commented on #1925
👋 @5998 - This submission appears out of scope for JOSS.

It appears to be a notebook to accompany a full paper, making some visualizations in the paper more reproducible, rather than reusable, contributable, citeable open source software.

Given this, the authors are encouraged to deposit the notebook and associated metadata on Figshare (or a similar archival repository) and get a DOI. You then c

[2019-12-02 21:48] danielskatz commented on #1925
I have marked it as rejected.

[2019-12-02 21:49] danielskatz commented on #1925
If you want to submit a future version to JOSS, you would need to do so with open source software (usually in the form of a library) that others can use, cite, and contribute to.  A notebook could be a good tutorial for such software.

[2019-12-02 21:49] #1925 closed

[2019-12-02 21:52] csoneson commented on #1762
Yes, I think this structure is good! Just a small comment: In the first paragraph, instead of "nucleotides of length k", perhaps use something like "nucleotide {stretches/sequences/...} of length k".

[2019-12-02 21:52] csoneson commented on #1762
@whedon check references

[2019-12-02 21:52] whedon commented on #1762
[code]

[2019-12-02 21:52] whedon commented on #1762
[code]

[2019-12-02 21:54] csoneson commented on #1762
Also, please add the missing DOI above

[2019-12-02 22:08] ncohn commented on #1890
Echoing much of what Chris and Eli have said - this is a nice contribution that is likely to benefit many in the coastal process field. I personally expect to use this for my work since having a rapid approach for characterizing the dune toe via multiple approaches is incredibly useful.

As part of this review, I tested against profiles from the U.S. Pacific Northwest (PNW) which the commonly used

[2019-12-02 22:23] mem48 commented on #1926
Thanks @danielskatz

[2019-12-02 22:28] KayleighRutherford commented on #1774
Hi @lpantano, I've completed this and wrote to the authors to address the remaining issues, but am now unable to edit my checklist? Can you advise on how to fix this (I am logged in and obviously accepted the invite as outlined but have since lost the ability to edit for some reason). Please let me know and I'll close this out. Thanks for waiting on me! Sorry this took some time

[2019-12-02 23:11] 1mikegrn commented on #1868
Just a follow-up, but is there anything else that needs to be done before pushing this to production?

[2019-12-02 23:15] danielskatz commented on #1868
Once @dfm tells @openjournals/jose-eics that this is ready to publish, one of us (this week, me) will perform the final steps.

[2019-12-02 23:56] petebachant commented on #1885
@whedon generate pdf

[2019-12-02 23:56] whedon commented on #1885
[code]

[2019-12-02 23:57] whedon commented on #1885
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01885/joss.01885/10.21105.joss.01885.pdf)

[2019-12-03 00:01] dfm commented on #1868
@kjappelbaum, @mdoucet: Can you please confirm that you are satisfied with the changes and recommend this submission for acceptance? Thanks!

[2019-12-03 00:07] dfm commented on #1889
@pqrs6 The citations look fine to me - can you give a specific example of what is inconsistent? Thanks!

[2019-12-03 01:31] TomDonoghue commented on #1896
I'm going to put comments on the JOSS paper itself here:

#### Content Notes

Broadly, the paper looks good, though I feel like it presumes a fairly high level of familiarity / knowledge of the BIDS and MNE worlds, and so I'm not so sure that the paper is as self-sufficient as one might want to introduce the key ideas to a relatively naive reader. I've added a few notes on things that came to mind

[2019-12-03 02:04] pqrs6 commented on #1889
@dfm I think I'm confused by the last bullet point in the author checklist:

[2019-12-03 02:11] mdoucet commented on #1868
@dfm all good!

[2019-12-03 02:32] Akash-Nag commented on #1815
Hi,

Personally I would have liked to go with Option 1 at this stage
because I do not want to make a commitment I am not sure I can keep,
considering my present engagements. However, as @rreinecke put forward
an important point regarding his review efforts, I do not want to
undermine that. Therefore, I would like to go with Option 2 and kindly
ask @DrVinceKnight to mark this review as paused, and

[2019-12-03 03:44] jrbourbeau commented on #1656
Thanks @ornlpmcp, I've opened up a few issues in the ASCENDS issue tracker with my review comments and have provided a brief outline here. Please let me know if anything in my comments is unclear or if you have any additional questions

#### Software version

- [ ] Publish a v0.4.0 release on GitHub (https://github.com/ornlpmcp/ASCENDS/issues/3)

#### Installation

- [ ] I am getting a `gcc` compi

[2019-12-03 03:51] TomDonoghue commented on #1896
Okay, I have done my main review. In my review, I looked through the code and repository, installed the software, and ran some of the examples. Everything looks good to me, and I think this is a really nice tool, and well developed and useful.

In terms of comments on the repository and code, I have made issues on the main repository, with some notes / ideas on general project thoughts (https://gi

[2019-12-03 04:01] myaseen208 commented on #1927
@danielskatz - software is here [https://github.com/myaseen208/rgsp](url). Should I keep both software and paper in the same repository.

[2019-12-03 04:10] dfm commented on #1889
@pqrs6: The square brackets need to be in [the markdown file](https://bitbucket.org/hammurabicode/hamx/src/master/joss/paper.md) but those are automatically converted to the ones you see in the proof when the pdf is generated.

[2019-12-03 04:18] marcharper commented on #1859
Yes, I can review. It may be a couple of weeks before I can do so, but I should be able to complete a review by ~EoY.

[2019-12-03 05:46] kjappelbaum commented on #1868
@dfm I'm also fine with it.

[2019-12-03 06:32] whedon commented on #1900
:wave: @nicksexton, please update us on how your review is going.

[2019-12-03 06:33] whedon commented on #1900
:wave: @russellpierce, please update us on how your review is going.

[2019-12-03 06:44] meg-simula commented on #1929
Yes, absolutely.

On Mon, Dec 2, 2019, 22:37 Daniel S. Katz <notifications@github.com> wrote:

[2019-12-03 06:51] mgckind commented on #1881
Hi @xuanxu , I got it installed and started looking at the documentation  (and getting some data bbut that went too slow which I'll revisit ) and reading @aureliocarnero comments. I've been traveling more than I planned to. I'll get this done as soon as I can, thanks!

[2019-12-03 09:15] cimentadaj commented on #1796
Thanks @danielskatz, should be fixed now for the van Buuren paper and the Agresti book.

[2019-12-03 09:36] JonasKemmer commented on #1771
Hello @xuanxu and @Juanlu001,
thanks for your comments. Instructions for manual testing are now included in the README.

[2019-12-03 09:45] Juanlu001 commented on #1771
Looks good to me!

[2019-12-03 11:55] SwathiSheshadri commented on #1849
@sreschechtko, please see our responses on the issues you raised at pose3d (#[1-6](https://github.com/SwathiSheshadri/pose3d/issues)). We have addressed the issues and have updated the repository to reflect the changes. Please use the latest release of pose3d v2.0.0 to see the changes done to pose3d as per your comments. We found your feedback and detailed comments very helpful for us in refining

[2019-12-03 12:04] SwathiSheshadri commented on #1849
@danasolav, we developed pose3d using our 2D tracked data from DLC and we are very happy to hear that you have 2D tracked data outside of DLC framework as this will help us get your  perspective on our code for this particular use-case. In our latest release of pose3d (v2.0.0), we have updated the readme file (addressing issue [#7](https://github.com/SwathiSheshadri/pose3d/issues/7) to include det

[2019-12-03 12:06] JonasMoss commented on #1863
@MaaniBegi

Sounds reasonable. I've changed `CONTRIBUTING.md` accordingly.

[2019-12-03 12:08] JonasMoss commented on #1863
Hi @vbaliga and thanks for your comments!

I've responded to your suggestions below, implementing all except the two under the additional comments header. I hope the paper is satisfactory too.

## Checklist

Thanks! I had no idea this could be a problem.  I copied your solution in https://github.com/JonasMoss/univariateML/commit/0c993bd7293c5e961c0de6b336f615e59ed18ec0

I added an example with the

[2019-12-03 12:34] phillima commented on #1923
@whedon generate pdf

[2019-12-03 12:34] whedon commented on #1923
[code]

[2019-12-03 12:35] whedon commented on #1923
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01923/joss.01923/10.21105.joss.01923.pdf)

[2019-12-03 12:37] raphaeltimbo commented on #1929
@danielskatz, thanks for the comments!
I have changed the paper here ross-rotordynamics/ross#398 to fix the issues.

[2019-12-03 12:38] raphaeltimbo commented on #1929
@whedon generate pdf

[2019-12-03 12:38] whedon commented on #1929
[code]

[2019-12-03 12:38] whedon commented on #1929
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01929/joss.01929/10.21105.joss.01929.pdf)

[2019-12-03 12:38] raphaeltimbo commented on #1929
@whedon check references

[2019-12-03 12:38] whedon commented on #1929
[code]

[2019-12-03 12:39] whedon commented on #1929
[code]

[2019-12-03 12:40] phillima commented on #1923
Checking the list for potential reviewers, perhaps @xirdneh and @arcuri82 ?

[2019-12-03 13:11] danielskatz commented on #1929
@whedon assign @meg-simula as editor

[2019-12-03 13:11] whedon commented on #1929
OK, the editor is @meg-simula

[2019-12-03 13:25] danielskatz commented on #1927
Yes - you should probably withdraw this submission, and add the paper (.md and .bib files only) to the repo that contains the software, then make a new submission with the repo that will then contain both the software and the paper.

In addition, I see some issues when I look at the source repo: https://github.com/myaseen208/rgsp

* There is no LICENSE file
* The README doesn't contain enough cont

[2019-12-03 13:26] drvinceknight commented on #1859
Thanks @marcharper that's great.

[2019-12-03 13:27] danielskatz commented on #1796
@whedon generate pdf

[2019-12-03 13:27] whedon commented on #1796
[code]

[2019-12-03 13:27] drvinceknight commented on #1859
@whedon add @marcharper as reviewer

[2019-12-03 13:27] whedon commented on #1859
OK, @marcharper is now a reviewer

[2019-12-03 13:27] drvinceknight commented on #1859
@whedon start review

[2019-12-03 13:27] whedon opened #1931 "[REVIEW]: NeuroDiffEq: A Python package for solving differential equations with neural networks"
**Submitting author:** @feiyu-chen96 (<a href="http://orcid.org/0000-0002-0476-9998">Feiyu Chen</a>)
**Repository:** <a href="https://github.com/odegym/neurodiffeq" target ="_blank">https://github.com/odegym/neurodiffeq</a>
**Version:** 1.0.0
**Editor:** @drvinceknight
**Reviewer:** @dawbarton, @marcharper
**Archive:** <a href="https://doi.org/10.5281/zenodo.3676028" target="_blank">10.5281/zenodo

[2019-12-03 13:27] whedon commented on #1859
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1931. Feel free to close this issue now!

[2019-12-03 13:27] whedon commented on #1931
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dawbarton, @marcharper it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-12-03 13:27] whedon commented on #1931
[code]

[2019-12-03 13:27] whedon commented on #1931
[code]

[2019-12-03 13:27] whedon commented on #1796
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01796/joss.01796/10.21105.joss.01796.pdf)

[2019-12-03 13:28] whedon commented on #1931
[code]

[2019-12-03 13:28] whedon commented on #1931
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01931/joss.01931/10.21105.joss.01931.pdf)

[2019-12-03 13:31] danielskatz commented on #1796
@whedon check references

[2019-12-03 13:31] whedon commented on #1796
[code]

[2019-12-03 13:32] whedon commented on #1796
[code]

[2019-12-03 13:41] danielskatz commented on #1796
There are a number of other small changes, which I've suggested fixes for in https://github.com/cimentadaj/perccalc/pull/8 - please merge, or let me know which you disagree with.

[2019-12-03 13:57] danielskatz commented on #1796
👋 @briatte - There are a number of checkboxes that you didn't check.  Can you check them please, or explain why they can't yet be checked?

[2019-12-03 13:57] danielskatz commented on #1796
@whedon generate pdf

[2019-12-03 13:57] whedon commented on #1796
[code]

[2019-12-03 13:58] whedon commented on #1796
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01796/joss.01796/10.21105.joss.01796.pdf)

[2019-12-03 14:01] myaseen208 commented on #1927
@danielskatz - Thanks for your guidance. Followed the instructions and needful done.

[2019-12-03 14:08] #1927 closed

[2019-12-03 14:14] whedon opened #1932 "[PRE REVIEW]: rgsp: An R Package for Quality Control Charts under Repetitive Group Sampling Plan based on Cpk"
**Submitting author:** @myaseen208 (<a href="http://orcid.org/0000-0002-5923-1714">Muhammad Yaseen</a>)
**Repository:** <a href="https://github.com/myaseen208/rgsp" target ="_blank">https://github.com/myaseen208/rgsp</a>
**Version:** 0.2.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @myaseen208. **Currently, there isn't an JOSS edito

[2019-12-03 14:15] whedon commented on #1932
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-03 14:15] whedon commented on #1932
[code]

[2019-12-03 14:15] whedon commented on #1932
[code]

[2019-12-03 14:15] whedon commented on #1932
PDF failed to compile for issue #1932 with the following error:

 Can't find any papers to compile :-(

[2019-12-03 14:15] danielskatz commented on #1932
@whedon generate pdf

[2019-12-03 14:15] whedon commented on #1932
[code]

[2019-12-03 14:16] whedon commented on #1932
PDF failed to compile for issue #1932 with the following error:

 Can't find any papers to compile :-(

[2019-12-03 14:18] danielskatz commented on #1932
@arfon - sometimes @whedon is ok with paper.Rmd (see the previous version of this submission in https://github.com/openjournals/joss-reviews/issues/1927 and https://github.com/myaseen208/rgsp_article), but here it's not.  Do you know why not?

[2019-12-03 14:19] myaseen208 commented on #1932
@whedon  Added apa.csl which was missing.

[2019-12-03 14:20] myaseen208 commented on #1932
@danielskatz  Added apa.csl which was missing.

[2019-12-03 14:21] gkthiruvathukal commented on #1923
Thanks, @phillima. I'll get to work on this submission in the next couple of days. It is a busy week at the university, but I will get on it as soon as possible.

[2019-12-03 14:22] lskatz commented on #1762
@whedon check references

[2019-12-03 14:22] whedon commented on #1762
[code]

[2019-12-03 14:22] whedon commented on #1762
[code]

[2019-12-03 14:25] lskatz commented on #1762
@whedon generate pdf

[2019-12-03 14:25] whedon commented on #1762
[code]

[2019-12-03 14:26] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-12-03 14:27] lskatz commented on #1762
@whedon check references

[2019-12-03 14:27] whedon commented on #1762
[code]

[2019-12-03 14:27] whedon commented on #1762
[code]

[2019-12-03 14:33] majensen commented on #1837
@dphansti thanks very much for that additional work. Thanks @stulacy and @daissi for the review!
Next step is to create a public archive of the software with a DOI. @dphansti, you can use [Zenodo](zenodo.org) for this purpose, or other service you prefer. If you're unfamiliar with this process, have a look at https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729 for a bri

[2019-12-03 14:33] danielskatz commented on #1932
@whedon generate pdf

[2019-12-03 14:33] whedon commented on #1932
[code]

[2019-12-03 14:33] whedon commented on #1932
PDF failed to compile for issue #1932 with the following error:

 Can't find any papers to compile :-(

[2019-12-03 14:34] danielskatz commented on #1932
@myaseen208 - @whedon should only need the .md and .bib files...

[2019-12-03 14:36] majensen commented on #1858
@whedon assign majensen as editor

[2019-12-03 14:36] whedon commented on #1858
OK, the editor is majensen

[2019-12-03 14:38] majensen commented on #1919
@raullaasner thanks for the submission. If you have thoughts about possible reviewers, please let me know in the thread.

[2019-12-03 14:39] majensen commented on #1858
@benjaminbolling thanks for your submission. If you have thoughts about possible reviewers, please let me know in the thread. (They don't have to be on Github)

[2019-12-03 14:40] lpantano commented on #1774
Thanks!, don't worry about the checklist, I can wait for  @munkm to make changes, and you will need to agree on those. Then I can accept the paper. Is there an issue for the changes? or was it an email? @munkm, just tell me when you are done with the changes.

[2019-12-03 14:58] drvinceknight commented on #1859
#1931 is where the review will take place, let me know if there's anything I can assist with. Thank you again @marcharper and @dawbarton for your time and effort.

[2019-12-03 14:58] #1859 closed

[2019-12-03 15:09] jgoldfar commented on #1850
Done

[2019-12-03 15:21] Sulstice commented on #1916
@csoneson @arfon Made the change!

[2019-12-03 15:26] whedon opened #1933 "[PRE REVIEW]: GroundwaterDupuitPercolator: A Landlab component for groundwater flow"
**Submitting author:** @davidlitwin (<a href="http://orcid.org/0000-0002-8097-4029">David Litwin</a>)
**Repository:** <a href="https://github.com/landlab/landlab" target ="_blank">https://github.com/landlab/landlab</a>
**Version:** v.1.11
**Editor:** @kthyng
**Reviewers:** @dvalters, @nicgaspar

**Author instructions**

Thanks for submitting your paper to JOSS @davidlitwin. The JOSS editor @kthyng

[2019-12-03 15:26] whedon commented on #1933
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a

[2019-12-03 15:26] whedon commented on #1933
[code]

[2019-12-03 15:26] whedon commented on #1933
[code]

[2019-12-03 15:26] whedon commented on #1933
PDF failed to compile for issue #1933 with the following error:

 Can't find any papers to compile :-(

[2019-12-03 15:27] danielskatz commented on #1933
👋 @kthyng - again, sorry to have assigned this to you accidentally...

[2019-12-03 15:27] danielskatz commented on #1933
@whedon assign @danielskatz as editor

[2019-12-03 15:27] whedon commented on #1933
OK, the editor is @danielskatz

[2019-12-03 15:28] whedon commented on #1933
[code]

[2019-12-03 15:32] danielskatz commented on #1933
👋 @kthyng - would you be willing to edit this submission?

[2019-12-03 15:35] dphansti commented on #1837
@majensen Done.  Here is the doi 10.5281/zenodo.3560845

[2019-12-03 16:25] majensen commented on #1837
@whedon set 10.5281/zenodo.3560845 as archive

[2019-12-03 16:25] whedon commented on #1837
OK. <a href="https://doi.org/10.5281/zenodo.3560845" target="_blank">10.5281/zenodo.3560845</a> is the archive.

[2019-12-03 16:25] majensen commented on #1837
@whedon set v1.0.1 as version

[2019-12-03 16:25] whedon commented on #1837
OK. v1.0.1 is the version.

[2019-12-03 16:25] majensen commented on #1837
@whedon generate pdf

[2019-12-03 16:26] whedon commented on #1837
[code]

[2019-12-03 16:26] whedon commented on #1837
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01837/joss.01837/10.21105.joss.01837.pdf)

[2019-12-03 16:28] majensen commented on #1837
@openjournals/joss-eics this paper is recommended for publication. Please initiate final checks- thanks!

[2019-12-03 16:47] arfon commented on #1863
Thanks for the detailed response @JonasMoss!

@MaaniBeigy & @vbaliga - when you get a moment, could you please review @JonasMoss' response and update your review checklists accordingly?

[2019-12-03 16:51] arfon commented on #1932
Whedon is never OK with a `paper.Rmd` file. In #1927, there was also a `paper.md` file which Whedon was using to compile the paper.

In this submission, the author needs to rename the `paper.Rmd` to `paper.md`

[2019-12-03 16:52] arfon commented on #1916
@whedon generate pdf

[2019-12-03 16:52] whedon commented on #1916
[code]

[2019-12-03 16:53] whedon commented on #1916
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01916/joss.01916/10.21105.joss.01916.pdf)

[2019-12-03 16:56] arfon commented on #1916
@Sulstice - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2019-12-03 16:58] EduPH commented on #1746
The API and the paper have improved a lot since the beginning of the review. Just some typos or minor corrections in the paper:

real valued -> real-valued
networks in industry -> networks in the industry
facilitate research to resolve -> facilitate researchers to resolve
libaries -> libraries
commmon -> common
though in absence of a commmon API> though, in absence of a common API

[2019-12-03 17:01] myaseen208 commented on #1932
@arfon @danielskatz : Added `paper.md`.

[2019-12-03 17:12] MaaniBeigy commented on #1863
Sure, ASAP.

On Tue, 3 Dec 2019, 20:17 Arfon Smith, <notifications@github.com> wrote:

[2019-12-03 17:17] brittonsmith commented on #1881
@aureliocarnero, I've issued a [pull request](https://github.com/ytree-project/ytree/pull/34) to address your comments on the landing page. I chose to remove the bullet point list of features and to replace it with a short code demo as that seemed more illustrative.

Can you provide some more specific comments on how you'd like to see the paper improved?

[2019-12-03 17:21] arfon commented on #1932
@whedon generate pdf

[2019-12-03 17:21] whedon commented on #1932
[code]

[2019-12-03 17:22] whedon commented on #1932
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01932/joss.01932/10.21105.joss.01932.pdf)

[2019-12-03 17:34] aureliocarnero commented on #1881
I answered through github I think. The README is much better, thanks. I
will send you comments about the paper shortly.

El mar., 3 dic. 2019 a las 18:17, Britton Smith (<notifications@github.com>)
escribió:

[2019-12-03 18:05] kthyng commented on #1768
@whedon set v1.0 as version

[2019-12-03 18:05] whedon commented on #1768
OK. v1.0 is the version.

[2019-12-03 18:05] kthyng commented on #1768
@whedon set 10.5066/P93W0EAW as archive

[2019-12-03 18:05] whedon commented on #1768
OK. <a href="https://doi.org/10.5066/P93W0EAW" target="_blank">10.5066/P93W0EAW</a> is the archive.

[2019-12-03 18:06] kthyng commented on #1768
@TrashBirdEcology I'm not familiar with this archive setup. Normally with Zenodo I would go to the website of your submission there and make sure the title and author list match your paper. Can you do that for your archive?

[2019-12-03 18:08] kthyng commented on #1933
Yep I can do it!

[2019-12-03 18:09] kthyng commented on #1933
@whedon assign @kthyng as editor

[2019-12-03 18:09] whedon commented on #1933
OK, the editor is @kthyng

[2019-12-03 18:09] kthyng commented on #1933
@whedon generate pdf

[2019-12-03 18:09] whedon commented on #1933
[code]

[2019-12-03 18:10] whedon commented on #1933
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01933/joss.01933/10.21105.joss.01933.pdf)

[2019-12-03 18:16] kthyng commented on #1933
Hi @DavidLitwin! Can you please look through the list of volunteer reviewers and suggest about 5 who you think would be good fits? You can also recommend others that you know of even if they are not on the list.

https://bit.ly/joss-reviewers

[2019-12-03 18:17] alcantarar commented on #1910
@Kevin-Mattheus-Moerman
Tagged release v1.1.0 of reviewed software: https://github.com/alcantarar/dryft/releases/tag/v1.1.0
Archived v1.1.0 in Zenodo:  https://zenodo.org/record/3561026
Zenodo DOI: 10.5281/zenodo.3561026

[2019-12-03 18:20] drvinceknight commented on #1815
Assuming this is fine with you @rreinecke then the review is marked as pause. I will set a reminder for all of us of 3 months.

[2019-12-03 18:20] drvinceknight commented on #1815
@whedon remind @Akash-Nag in three months

[2019-12-03 18:20] whedon commented on #1815
Reminder set for @Akash-Nag in three months

[2019-12-03 18:20] drvinceknight commented on #1815
@whedon remind @rreinecke  in three months

[2019-12-03 18:20] whedon commented on #1815
Reminder set for @rreinecke  in three months

[2019-12-03 18:21] drvinceknight commented on #1815
@whedon remind @drvinceknight in three months

[2019-12-03 18:21] whedon commented on #1815
Reminder set for @drvinceknight in three months

[2019-12-03 18:35] LRydin commented on #1693
@whedon generate pdf

[2019-12-03 18:35] whedon commented on #1693
[code]

[2019-12-03 18:36] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-12-03 18:41] vbaliga commented on #1863
Hi @JonasMoss and @arfon,

I took a look through all the changes and Jonas' responses -- very happy with what I see! I just checked off all the items on the review list to reflect that I'm happy with the current state and have no further feedback. I did leave my original review comments in; please let me know if they should be removed.

Congrats, Jonas ✨:tada: -- it's all nicely put together and l

[2019-12-03 18:51] whedon commented on #1932
[code]

[2019-12-03 19:01] dfm commented on #1868
@kjappelbaum, @mdoucet: Great. Thank you for your contributions to this review!!

[2019-12-03 19:01] dfm commented on #1868
Pinging @openjournals/jose-eics to say that this is ready for the final processing.

[2019-12-03 19:01] dfm commented on #1868
Pinging @openjournals/joss-eics to say that this is ready for the final processing.

[2019-12-03 19:50] Kevin-Mattheus-Moerman commented on #1910
@agricolab, @DARSakthi, @mwptrsn thanks for your review work here! It seems all boxes have been ticked and you have each "given your blessing".

[2019-12-03 19:51] Kevin-Mattheus-Moerman commented on #1910
@whedon generate pdf

[2019-12-03 19:51] whedon commented on #1910
[code]

[2019-12-03 19:52] whedon commented on #1910
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01910/joss.01910/10.21105.joss.01910.pdf)

[2019-12-03 19:57] Kevin-Mattheus-Moerman commented on #1910
@whedon set v1.1.0 as version

[2019-12-03 19:57] whedon commented on #1910
OK. v1.1.0 is the version.

[2019-12-03 19:57] Kevin-Mattheus-Moerman commented on #1910
@whedon set 10.5281/zenodo.3561026 as archive

[2019-12-03 19:57] whedon commented on #1910
OK. <a href="https://doi.org/10.5281/zenodo.3561026" target="_blank">10.5281/zenodo.3561026</a> is the archive.

[2019-12-03 20:00] Kevin-Mattheus-Moerman commented on #1910
@alcantarar I have checked the Zenodo archive and its meta-data, and have reread the paper. All looks good so i will now proceed to recommend acceptance in JOSS. I suggest you take this moment to double-check your paper yourself too prior to final acceptance.

[2019-12-03 20:00] Kevin-Mattheus-Moerman commented on #1910
@openjournals/jose-eics I recommend that this work is accepted

[2019-12-03 20:07] TrashBirdEcology commented on #1768
@kthyng I apologies for being a difficult customer here, but I am not sure what you mean by this?  The DOI archive (https://doi.org/10.5066/P93W0EAW) contains a .zip file of the V1.0 release instance of the package.

[2019-12-03 20:19] alcantarar commented on #1910
I'll do a double check later today and let you know!

[2019-12-03 20:37] danielskatz commented on #1837
@whedon accept

[2019-12-03 20:37] whedon commented on #1837
[code]

[2019-12-03 20:38] whedon commented on #1837
[code]

[2019-12-03 20:39] whedon commented on #1837
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1148

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1148, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-03 20:39] lgeiger commented on #1746
Thanks a lot for the corrections, I updated the paper :+1:

[2019-12-03 20:39] lgeiger commented on #1746
@whedon generate pdf

[2019-12-03 20:39] whedon commented on #1746
[code]

[2019-12-03 20:40] danielskatz commented on #1910
Thanks @alcantarar
@Kevin-Mattheus-Moerman - if you want to do the processing yourself, that's fine.  Otherwise, it will be tomorrow morning until I can.

[2019-12-03 20:40] whedon commented on #1746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01746/joss.01746/10.21105.joss.01746.pdf)

[2019-12-03 20:42] danielskatz commented on #1837
@whedon accept deposit=true

[2019-12-03 20:42] whedon commented on #1837
[code]

[2019-12-03 20:44] whedon commented on #1837
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201965436428079105) 👈 🐦🐦🐦

[2019-12-03 20:44] whedon commented on #1837
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1149
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01837](https://doi.org/10.21105/joss.01837)
2. If everything looks g

[2019-12-03 20:47] alcantarar commented on #1910
Actually, I don't think I'll be able to do a double check today. I will let you know when I give it the thumbs up! Thanks!

[2019-12-03 20:47] danielskatz commented on #1837
Thanks to @daissi & @stulacy for reviewing, and @majensen for editing, and congratulations to  @dphansti and co-authors!

[2019-12-03 20:48] #1837 closed

[2019-12-03 20:48] whedon commented on #1837
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01837/status.svg)](https://doi.org/10.21105/joss.01837)

**We need your help!**

Journal of Open Source Softwa

[2019-12-03 20:50] DavidLitwin commented on #1933
Hi @kthyng, I would recommend @nathanlyons, @nicgaspar, @dvalters, @rreinecke, and @margauxmouchene.

[2019-12-03 20:52] danielskatz commented on #1868
@whedon generate pdf

[2019-12-03 20:52] whedon commented on #1868
[code]

[2019-12-03 20:53] whedon commented on #1868
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01868/joss.01868/10.21105.joss.01868.pdf)

[2019-12-03 20:54] danielskatz commented on #1868
@whedon accept

[2019-12-03 20:54] whedon commented on #1868
[code]

[2019-12-03 20:54] whedon commented on #1868
[code]

[2019-12-03 20:54] whedon commented on #1868
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1150

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1150, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-03 20:55] danielskatz commented on #1868
@whedon accept deposit=true

[2019-12-03 20:55] whedon commented on #1868
[code]

[2019-12-03 20:56] whedon commented on #1868
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1201968380003201027) 👈 🐦🐦🐦