[2021-12-04 21:27] danielskatz commented on #3975
Thanks!

[2021-12-04 21:28] danielskatz commented on #3975
@whedon assign @jmschrei as editor

[2021-12-04 21:28] whedon commented on #3975
OK, the editor is @jmschrei

[2021-12-04 22:56] mdbartos commented on #3852
I should be able to get through the checklist items this weekend, although there are some issues with the installation depending on which branch/python version I am using.

To be clear, should I be reviewing the `develop` branch of the current github repo?

[2021-12-05 00:59] danielskatz commented on #3856
Thanks @sergioburdisso - but we've found enough reviewers and started the reviewer - maybe next time

[2021-12-05 07:43] arfon commented on #3860
The listed DOI in the draft is the DOI that this submission will eventually have yes.

[2021-12-05 07:45] arfon commented on #3828
I think this may be a limitation of how Zenodo works. As long as the software has a license file in the repository (which it will) with an OSI approved license then I think this is ok

[2021-12-05 07:48] arfon commented on #3811
This will have to be fixed post publishing sorry. Please tag me again here when the paper is published and I'll fix it up.

[2021-12-05 09:16] danclewley commented on #3337
Updates look good to me and address my comments. Happy to recommend accepting.

[2021-12-05 09:42] Kevin-Mattheus-Moerman commented on #3972
@zarrarkhan it would be helpful if you could clearly illustrate how this work has a **direct scientific research application** (beyond visualization), so how it directly influences scientific research. This should make it clear why researchers would feel the need to cite this work. Simple utility tools or visualization tools tend not to be cited since they might not have an effect on the scientifi

[2021-12-05 12:36] Bisaloo commented on #3811
Okay, so we can proceed @mhesselbarth. At this point could you:

- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are no

[2021-12-05 12:37] Bisaloo commented on #3811
@whedon set v1.3 as version

[2021-12-05 12:37] whedon commented on #3811
OK. v1.3 is the version.

[2021-12-05 13:12] zarrarkhan commented on #3972
@Kevin-Mattheus-Moerman. Thanks for the question. `rmap's` absolute and percentage difference mapping capabilities while using relatively simple algorithms are not trivial (especially for gridded time series) and definitely have a significant **direct scientific research application** in that they help researches identify changes between scenarios as well as trends across time. All the papers alre

[2021-12-05 17:22] JasonGellis commented on #3738
@Nikoleta-v3 Hello, what is the next step please?

[2021-12-05 18:01] Nikoleta-v3 commented on #3738
@JasonGellis 👋🏻  We are going to give the reviewers some time to go over your corrections. Once they are happy with how you addressed their comments and they recommend the paper for publication I will also have a final look. Then we should be good to go 👍🏻 😄

[2021-12-05 18:08] steko commented on #3738
Hi, and apologies for the delay. I still have two comments about the paper that aren't specific to any of the checks but I think would help improve the quality and clarity of the final version.

1. be more explicit not only about the input images that work well, but also about the drawing styles that don't work - in my experience a lot of lithics drawings have more details than just the outline of

[2021-12-05 19:09] pdebuyl commented on #3337
Hi @danclewley thanks for the feedback! Can you check all relevant checkboxes? This is part of the JOSS process and despite your message I don't think it would be right for me to check them :-)

[2021-12-05 20:52] whedon commented on #3940
:wave: @GaurangTandon, please update us on how your review is going (this is an automated reminder).

[2021-12-05 20:52] whedon commented on #3940
:wave: @Fil, please update us on how your review is going (this is an automated reminder).

[2021-12-05 21:21] arfon commented on #2733
Nope, you can delete it.

[2021-12-05 21:22] arfon commented on #3376
@whedon set 10.5281/zenodo.5750761 as archive

[2021-12-05 21:22] whedon commented on #3376
OK. <a href="https://doi.org/10.5281/zenodo.5750761" target="_blank">10.5281/zenodo.5750761</a> is the archive.

[2021-12-05 21:24] arfon commented on #3376
@whedon recommend-accept

[2021-12-05 21:24] whedon commented on #3376
[code]

[2021-12-05 21:24] whedon commented on #3376
[code]

[2021-12-05 21:24] arfon commented on #3925
Wonderful, thanks @dbkeitel!

[2021-12-05 21:24] whedon commented on #3376
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2794

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2794, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-05 21:25] arfon commented on #3925
@whedon add @dbkeitel as reviewer

[2021-12-05 21:25] whedon commented on #3925
OK, @dbkeitel is now a reviewer

[2021-12-05 21:25] arfon commented on #3925
@TomWagg – this isn't required, but I do think this is a good suggestion if possible.

[2021-12-05 21:30] hbaniecki commented on #3934
Overall, the `PySS3` package is mature and of high quality. It comes with extensive documentation and easy-to-follow tutorials. Over two years of development, it steadily gathered a recognizable user-base (55k downloads, 200+ stars). The core functionalities are a valuable and needed contribution to interpretable machine learning, especially in the context of model monitoring and interactive analy

[2021-12-05 21:31] arfon commented on #3925
@db87 – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is: _LEGWORK: A python package for computing the evolution and detectability of stellar-origin gravitational-wave sources with space-based dete

[2021-12-05 22:23] calum-chamberlain commented on #2565
Hi all, sorry for the late reply - @jedbrown this looks great to me. @jedbrown I'm so sorry this took so long - the tests and the coverage look great, thank you for adding that, I really hope it does help in the long-run to have your code tested.

@jedbrown I approve this revision - I think that I have ticked everything that I need to, and I have reviewed the most recent version of the manuscript.

[2021-12-05 23:42] mdbartos commented on #3852
Greetings, I've completed as much of my review as I can as of right now.

Currently I cannot install the software from the `develop` branch.

I can install from pypi and from the `master` branch. However, when I install this way, the unit tests are currently failing.

These issues need to be resolved before I can move further.

Thanks,
MDB

[2021-12-06 04:25] TomWagg commented on #3925
Agreed @arfon, thanks for the feedback @dbkeitel! We've updated the title of the ApJ paper to `Computing the evolution and detectability of stellar-origin gravitational-wave sources in space-based detectors using the LEGWORK python package` (as you can see [here](https://raw.githubusercontent.com/TeamLEGWORK/LEGWORK-paper/main-pdf/ms.pdf))

I think perhaps this could be something to add to the gui

[2021-12-06 05:29] ArkajyotiSaha commented on #3780
@fabian-s , @pdwaggoner @mnwright We thank the Editor and the reviewers for their positive feedback and thoughtful comments which have helped to improve the manuscript. We have tried to address all the reviewer comments in the software and the paper. Updated versions of the package and the paper are available in the associated GitHub repository (https://github.com/ArkajyotiSaha/RandomForestsGLS).

[2021-12-06 07:02] fabian-s commented on #3780
@whedon generate pdf

[2021-12-06 07:02] whedon commented on #3780
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: :point_left:

[2021-12-06 07:35] adi3 commented on #3490
@destogl - are you still able to finish this review? I see you only have a couple of items left, so would be great to get a response from you on when you can have them completed. Alternatively, please let me know if you are unable to continue so we can look for another reviewer. Thank you.

[2021-12-06 07:37] adi3 commented on #3527
@AP6YC good work! Please continue with fixing the issues.

@malmaud @rMassimiliano - can you please continue with your reviews in light of the latest fixes done by Sasha? Thank you!

[2021-12-06 07:38] adi3 commented on #3671
@hayesall @aaronpeikert - can you please continue with your reviews in light of the latest fixes done by Sasha? Thank you!

[2021-12-06 07:40] adi3 commented on #3804
@TimKam - can you please continue with your review and mark off the items in your checklist above? Would be great if you can have your review finished in the next two weeks. Thank you!

[2021-12-06 08:16] destogl commented on #3490
@adi3 I will finish it this week. Thanks for reaching out and for the huge patience!

[2021-12-06 09:10] mh-skjelvareid commented on #3579
@Kevin-Mattheus-Moerman I've gone through the list and tried looking for more reviewers - here are some suggestions (people with knowledge of Matlab / Octave, and physics / signal processing / acoustics / geophysics):

- ebezzam
- somefunagba
- EtienneCmb
- krystophny
- suyashkumar
- ajmalkoti
- vitorsr
- ulvgard
- declanol
- matael
- kylemath
- michaelberks

[2021-12-06 09:16] pdebuyl commented on #3755
Hi @ziotom78 would you review the article "QuasinormalModes.jl: A Julia package for computing1 discrete eigenvalues of second order ODEs" for the Journal of Open Source Software?

[2021-12-06 09:27] jorainer commented on #3954
Sorry for my late reply - super busy at present. Thus I'll also not have time to review at present - besides, I'm not a python developer, so I can't provide usefull feedback on the actual implementation.

[2021-12-06 09:39] Kevin-Mattheus-Moerman commented on #2991
@esteinig could you give an update on work on this :point_up:. Let us know if you have any questions.

[2021-12-06 09:47] florian-huber commented on #3954
I could review the manuscript!

One disclaimer though: I did collaborate with one of the authors (Simon Rogers), including a publication that was finished >1 year ago. The collaboration was on a very different project and I was not involved in any way in the project presented here. So, I believe that I can make an impartial assessment of the work, but that's up to you to decide @csoneson .

[2021-12-06 09:54] Kevin-Mattheus-Moerman commented on #3828
@whedon accept deposit=true

[2021-12-06 09:54] whedon commented on #3828
[code]

[2021-12-06 09:55] whedon commented on #3828
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1467794726250332164) 👈 🐦🐦🐦

[2021-12-06 09:55] whedon commented on #3828
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2795
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03828](https://doi.org/10.21105/joss.03828)
2. If everything look

[2021-12-06 10:07] wtraylor commented on #3631
@whedon generate pdf from branch joss-paper

[2021-12-06 10:07] whedon commented on #3631
[code]

[2021-12-06 10:08] whedon commented on #3631
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: :point_left:

[2021-12-06 10:12] Peter-Vermeiren commented on #3200
@sandrinecharles Thank you for carefully considering each of my comments.
@KristinaRiemer I am satisfied with the revisions. I think this package and paper will be interesting for both scientists and regulators. Best of luck, Peter

[2021-12-06 10:17] koenderks commented on #2733
Thank you for the info @drvinceknight @arfon!

[2021-12-06 10:20] Kevin-Mattheus-Moerman commented on #3828
@ahoshiyar congratulations on getting this work published in JOSS!

Thanks @fartist, @FranjoIM, @mingzehuang for you review efforts, and thank you @osorensen for editing this work!

[2021-12-06 10:20] #3828 closed

[2021-12-06 10:20] whedon commented on #3828
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03828/status.svg)](https://doi.org/10.21105/joss.03828)

**We need your help!**

Journal of Open Source Softwa

[2021-12-06 10:31] wtraylor commented on #3631
@diehlpk I have added a footnote pointing to the example instruction files in the code.

I am currently debugging the CI for the documentation so I can create a release afterwards. I guess it makes sense to have the version that’s published in JOSS identifiable with a release tag.

[2021-12-06 10:45] faroit commented on #3347
@whedon generate pdf

[2021-12-06 10:46] whedon commented on #3347
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03347/joss.03347/10.21105.joss.03347.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03347/joss.03347/10.21105.joss.03347.pdf) :page_facing_up: :point_left:

[2021-12-06 10:46] faroit commented on #3347
@whedon check references

[2021-12-06 10:47] faroit commented on #3347
@whedon check repository

[2021-12-06 10:47] whedon commented on #3347
[code]

[2021-12-06 10:47] whedon commented on #3347
Wordcount for `paper.md` is 1536

[2021-12-06 10:47] whedon commented on #3347
[code]

[2021-12-06 10:54] ziotom78 commented on #3755
Hi @pdebuyl, as I wrote above, my domain is instrumental astronomy, so theoretical models of Schwartzschild black holes is a bit outside my domain. I can co-referee this paper if I am sided by somebody with a more theoretical background.

[2021-12-06 11:47] aaronpeikert commented on #3671
I'll have a look.

[2021-12-06 11:48] whedon commented on #3941
:wave: @k3yavi, please update us on how your review is going (this is an automated reminder).

[2021-12-06 11:48] whedon commented on #3941
:wave: @holtgrewe, please update us on how your review is going (this is an automated reminder).

[2021-12-06 12:43] melissawm commented on #3915
Hello, folks! Just as a reminder, if you have any questions or need to update the status of the review, please do so here. Thanks!

[2021-12-06 12:43] melissawm commented on #2974
Hello folks, any updates on this? Thanks!

[2021-12-06 12:54] geoffreyp commented on #2974
Hello @melissawm,
Not really, we still have 2 issues to close :
- https://github.com/moead-framework/framework/issues/71
- https://github.com/moead-framework/framework/issues/70

[2021-12-06 12:56] ViniciusBRodrigues commented on #3220
Sure!

[2021-12-06 13:22] arfon commented on #3376
@MamadouSDiallo – is there any way you can tweak the layout of your equations to stop the text falling into the margins...

![Uploading Screenshot 2021-12-06 at 13.19.08.png…]()

[2021-12-06 13:24] mhesselbarth commented on #3811
https://doi.org/10.5281/zenodo.5761583

[2021-12-06 13:35] Kevin-Mattheus-Moerman commented on #3860
@whedon recommend accept

[2021-12-06 13:35] whedon commented on #3860
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-06 13:35] Kevin-Mattheus-Moerman commented on #3860
@whedon recommend-accept

[2021-12-06 13:35] whedon commented on #3860
No archive DOI set. Exiting...

[2021-12-06 13:37] whedon commented on #3860
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03860/joss.03860/10.21105.joss.03860.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03860/joss.03860/10.21105.joss.03860.pdf) :page_facing_up: :point_left:

[2021-12-06 13:41] chkoar commented on #2974
@melissawm almost there

[2021-12-06 13:44] Kevin-Mattheus-Moerman commented on #3860
@AndreWeiner this looks ready to proceed to acceptance, congratulations. I proofread the paper too and it mostly looks fine. There are a few minor steps before we proceed:

- [ ] Minor comment on paper. You refer to `Jupyter labs`, did you mean to refer to `Jupyter notebooks`? Please check. You can update the paper here if needed.
- [ ] Once you are happy with the paper, can you archive a copy of

[2021-12-06 13:45] Kevin-Mattheus-Moerman commented on #3736
@fibreglass2 :wave: :point_up:

[2021-12-06 13:46] Kevin-Mattheus-Moerman commented on #3869
@jomorlier @ahojukka5 @azzeddinetiba @ilyasst @diehlpk @yangbai90 @corentin-dev would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org):
 "_RECOLO: A Python package for the reconstruction of surface pressure loads from kinematic fields using the virtual fields method_".

The [smooth review process](https://joss.readthedocs.io/en/lates

[2021-12-06 13:59] corentin-dev commented on #3869
@Kevin-Mattheus-Moerman I am willing to review this paper.
Regards,
Corentin

[2021-12-06 13:59] nluetts commented on #3526
Dear @kyleniemeyer, is there a possibility to squeeze in a sentence in the acknowledgement, now that the paper is already published?

[2021-12-06 14:15] whedon commented on #3869
OK, @corentin-dev is now a reviewer

[2021-12-06 14:18] pdebuyl commented on #3755
Woops, sorry @ziotom78 I was just assigned this submission and did not scroll up to read about previous contact attempts. Indeed, the search for Julia-aware relativist is not trivial :-) I'll try to find someone else in priority.

@lucass-carneiro for information I also carry out my reviewer search by email. I'll update you here when appropriate.

[2021-12-06 14:32] jgostick commented on #3957
@nanthony21 the new paper looks much nicer.  The reviewers will drop in to begin playing with the software, but be patient.  This process could take a few months given the holiday shut-down will slow things.

[2021-12-06 14:37] mikldk commented on #3911
@whedon assign @erikcs as reviewer

[2021-12-06 14:37] whedon commented on #3911
OK, @erikcs is now a reviewer

[2021-12-06 14:39] diehlpk commented on #3631
@wtraylor Yes, please make a new version which has to include all the changes, you made during the JOSS review.

Please do the following

- [ ] Post the new version here.
- [ ] Upload this version to Zenodo or FigShare and post the corresponding DOI here. Note that the title and the authors have to match with the PDF.

[2021-12-06 14:45] chainsawriot commented on #3938
@whedon generate pdf

[2021-12-06 14:46] whedon commented on #3938
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03938/joss.03938/10.21105.joss.03938.pdf) :page_facing_up: :point_left:

[2021-12-06 14:52] faroit commented on #3347
@alicia-ziying-yang  sorry again for the waiting time. The submission looks good now and we can finally move forward 👏   I just did check the paper again for grammar and spellings and created a pull request that you can merge if you like.

[2021-12-06 15:04] faroit commented on #3347
@alicia-ziying-yang when the paper is ready, please then please make a new release of the main repo that includes all of the changes that have resulted from the review. Please report the version number here.

Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the archive version, please make sure that:

- The title

[2021-12-06 15:05] faroit commented on #3391
@keunwoochoi can you give us an update here if the remaining checkbox can be checked to proceed with the review?

[2021-12-06 15:05] hayesall commented on #3671
Yes! I've checked off items as they've come in.

I'll review functionality again (there was some discussion on assumptions in https://github.com/AP6YC/AdaptiveResonance.jl/issues/42 that have now been clarified).

[2021-12-06 15:14] faroit commented on #3740
@nils-werner @hagenw Thanks for you excellent technical feedback on the submission, to me it looks like the package has already greatly improved...can you please have another look at the review checklist and update it if appropriate to move forward with the review?

[2021-12-06 15:21] carpenitoThomas commented on #3911
@mikldk I cannot in good faith review this submission as one of the authors (Mark J. van der Laan) was my thesis advisor. Would love to be considered for future software regarding missing data, though!

[2021-12-06 15:31] hagenw commented on #3740
There is only one issue left for me: https://github.com/thejasvibr/bat_beamshapes/issues/19
It's officially closed, but I do not think that the solution is sufficient.

[2021-12-06 15:31] hagenw commented on #3740
There is only one issue left for me: https://github.com/thejasvibr/bat_beamshapes/issues/19
It's officially closed, but I do not think that the solution is sufficient.

[2021-12-06 15:44] rrrlw commented on #3911
@mikldk I have no expertise in the topic and, thus, would not be useful in reviewing that aspect of the submission. However, I would be willing to review the R package itself (documentation, etc.) if another reviewer who is an expert in this area would be willing to evaluate the functionality/validity.

I can start the review as early as 13-Dec-2021 (1 week from today). Let me know if this works,

[2021-12-06 15:44] kthyng commented on #3865
@gkthiruvathukal The checklist is present at the top of this issue, but the reviewer doesn't have permission to edit it (to check off the boxes) until they accept the reviewer invitation, which expires after I think 2 weeks.

[2021-12-06 15:45] kthyng commented on #3976
@cgrudz Thank you!

[2021-12-06 16:28] kyleniemeyer commented on #3526
@nluetts It is possible to update the paper if something was missing, but it's a bit unusual to add an acknowledgment so long after the fact.

cc @arfon

[2021-12-06 16:28] noah80 commented on #3596
Still having some issues with running the examples in a clean enviroment due to missing dependencies in the package. This is not critical for the functionality but bad for the usability of your software in my opinion and I would suggest fixing this.

[2021-12-06 16:32] rkurchin commented on #3969
@whedon assign @rkurchin as editor

[2021-12-06 16:33] whedon commented on #3969
OK, the editor is @rkurchin

[2021-12-06 16:38] Bisaloo commented on #3811
Run @whedon set 10.5281/zenodo.5761583 as archive.

[2021-12-06 16:38] Bisaloo commented on #3811
@whedon set 10.5281/zenodo.5761583 as archive

[2021-12-06 16:38] whedon commented on #3811
OK. <a href="https://doi.org/10.5281/zenodo.5761583" target="_blank">10.5281/zenodo.5761583</a> is the archive.

[2021-12-06 16:39] Bisaloo commented on #3811
@whedon recommend-accept

[2021-12-06 16:39] whedon commented on #3811
[code]

[2021-12-06 16:40] whedon commented on #3811
[code]

[2021-12-06 16:40] whedon commented on #3811
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2796

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2796, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-06 16:40] rkurchin commented on #3969
👋  @KEIPERTK and @tonigi, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-12-06 16:58] tonigi commented on #3969
Yes, I'm available. (y)

[2021-12-06 17:03] rkurchin commented on #3969
@whedon dd @tonigi as reviewer

[2021-12-06 17:03] rkurchin commented on #3969
@whedon add @tonigi as reviewer

[2021-12-06 17:03] whedon commented on #3969
OK, @tonigi is now a reviewer

[2021-12-06 17:03] whedon commented on #3969
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-06 17:11] pdwaggoner commented on #3780
Satisfied. Well done!

[2021-12-06 17:24] ebezzam commented on #3944
hi @jmschrei sorry won't be available for this one!

[2021-12-06 17:26] SimonMolinsky commented on #2869
Hi @sdesabbata ,

I've found why the error map is wrong - and it affects much more than errors only. It is related to the function that picks the closest neighbors:

[code]

This function takes n-closest neighbors instead of **the closest** neighbors based on the spatial distance. I've performed a few experiments and obtained results similar to `gstat`. I'll update the package and paper example ac

[2021-12-06 17:39] danielskatz commented on #3811
@whedon accept deposit=true

looks good!

[2021-12-06 17:39] whedon commented on #3811
[code]

[2021-12-06 17:40] whedon commented on #3811
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1467911765979967488) 👈 🐦🐦🐦

[2021-12-06 17:40] whedon commented on #3811
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2797
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03811](https://doi.org/10.21105/joss.03811)
2. If everything look

[2021-12-06 17:41] Bisaloo commented on #3811
Congratulations @mhesselbarth! And thank you so much again for your time and your valuable insight @tretherington and @lionel68!

[2021-12-06 17:50] mhesselbarth commented on #3811
Thanks everyone! 🥳

[2021-12-06 17:51] danielskatz commented on #3811
Congratulations to @mhesselbarth (Maximilian H.K. Hesselbarth)!!

And thanks to @Bisaloo for editing, and @lionel68 and @tretherington for reviewing!
We couldn't do this without you

[2021-12-06 17:51] #3811 closed

[2021-12-06 17:51] whedon commented on #3811
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03811/status.svg)](https://doi.org/10.21105/joss.03811)

**We need your help!**

Journal of Open Source Softwa

[2021-12-06 17:53] cwentland0 commented on #3428
Hi all, just wanted to give an update. I have put together a fairly thorough testing framework of unit, integration, and regression tests which can be found in the `tests/` directory. Instructions for manually running the tests have been included in the `README`. Additionally, I have added continuous integration via GitHub Actions, which automatically executes unit and integration tests and report

[2021-12-06 17:53] cwentland0 commented on #3428
@whedon generate pdf from branch paper

[2021-12-06 17:53] whedon commented on #3428
[code]

[2021-12-06 17:54] whedon commented on #3428
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03428/joss.03428/10.21105.joss.03428.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03428/joss.03428/10.21105.joss.03428.pdf) :page_facing_up: :point_left:

[2021-12-06 18:04] gkthiruvathukal commented on #3865
Thanks, @kthyng! @jameschapman19 Can you let us know if you see the invitation on the link 3 comments up?

[2021-12-06 18:26] keunwoochoi commented on #3391
Hi @faroit, I agree that we can proceed with this submission.

[2021-12-06 18:27] lootie commented on #3766
Hi, is there any way to add @vishwas1984 to the watchlist for this thread?

[2021-12-06 18:29] faroit commented on #3391
@whedon generate pdf

[2021-12-06 18:29] faroit commented on #3391
@whedon check repository

[2021-12-06 18:29] faroit commented on #3391
@whedon check references

[2021-12-06 18:29] whedon commented on #3391
Wordcount for `paper.md` is 1117

[2021-12-06 18:30] whedon commented on #3391
[code]

[2021-12-06 18:30] whedon commented on #3391
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03391/joss.03391/10.21105.joss.03391.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03391/joss.03391/10.21105.joss.03391.pdf) :page_facing_up: :point_left:

[2021-12-06 18:30] whedon commented on #3391
[code]

[2021-12-06 18:38] malmaud commented on #3527
It's not clear to me from @AP6YC 's comment about partial progress if Sasha is saying all my comments have been addressed and they're ready for another round of reviewing - can you confirm, Sasha?

[2021-12-06 18:39] kthyng commented on #3594
Hi @SeascapeScience! I know this is a busy time of year — do you think you can get to your review before the new year?

[2021-12-06 18:45] christinahedges commented on #3892
@whedon assign @tohuvavohu as reviewer

[2021-12-06 18:45] whedon commented on #3892
OK, @tohuvavohu is now a reviewer

[2021-12-06 18:46] christinahedges commented on #3892
Hi @@tohuvavohu and @BjoernBiltzinger, we have one reviewer, unfortunately there was a second reviewer but we've found a conflict of interest, and so I need some more time to find a second reviewer. Watch this space!

[2021-12-06 18:53] rkurchin commented on #3812
@synthaze, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-12-06 18:55] rkurchin commented on #3935
👋 @stuartcampbell, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-12-06 19:00] kthyng commented on #3659
@KimBaldry Are you finished with your review? Is the submission acceptable?

[2021-12-06 19:18] AP6YC commented on #3527
@malmaud Partial progress has been made, though I wouldn't consider the entire project ready for another round of reviewing in the interest of respecting your time. I tried atomizing your comments into issues on the project's page to tackle one-by-one, and the ones that I close with a successful PR are ready for your review to make sure that they are to your satisfaction.

[2021-12-06 19:36] fboehm commented on #3879
@tbrown122387 - It turns out that we need another reviewer for this submission. Would you be willing to review it for JOSS over the next 4 to 6 weeks? Thanks again!

[2021-12-06 19:42] csoneson commented on #3954
Thank you @florian-huber!  Unfortunately, I think this is still a bit too recent for our CoI policy ("recent (past four years) collaborators in funded research or work that is published"). I hope we can get back to you for another submission in the future!

[2021-12-06 19:44] tbrown122387 commented on #3879
@fboehm yeah sure I can help out

[2021-12-06 19:49] csoneson commented on #3954
👋🏻 @hechth, @jspaezp - would you be interested in reviewing this submission for JOSS?

[2021-12-06 19:51] csoneson commented on #3887
Just to say that I have been in touch with @lindemann09 offline, and he's on board and should get to review this shortly.

[2021-12-06 19:57] mdbartos commented on #3852
Welp, I was trying to install on a mac. So now it makes sense why the unit tests were failing on master.

Which branch does the JOSS release correspond to? Assuming it's `develop`, would it not make more sense to wait until an official release of flopy 3.3.5 is uploaded to pypi before publishing? Ideally, the installation procedure should be seamless for the end user. Especially if you are formall

[2021-12-06 20:36] nhejazi commented on #3911
Just to add a bit of background, @rrrlw and @mikldk, the statistical methodology need not be the subject of the review (though comments are welcome), since this package is an implementation that accompanied work that has already been peer reviewed and published (https://doi.org/10.1093/biomet/asaa085). The primary purpose of this submission is a review of the software.

[2021-12-06 21:46] jlarsen-usgs commented on #3852
@mdbartos

Instead of waiting until the next release of FloPy (which is most likely going to be sometime in late February), I went ahead and made some changes to `develop` that provide support for both FloPy 3.3.4 (current release) and FloPy's 3.3.5 develop version.

[2021-12-06 22:12] emdupre commented on #3964
Sorry for my slow response ! I'll admit that the scientific content is quite far from my expertise, but I can edit if you think I'm the best available fit :)

[2021-12-06 22:13] emdupre commented on #3823
@whedon generate pdf

[2021-12-06 22:14] whedon commented on #3823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03823/joss.03823/10.21105.joss.03823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03823/joss.03823/10.21105.joss.03823.pdf) :page_facing_up: :point_left:

[2021-12-06 22:19] emdupre commented on #3823
Thank you, @jameschapman19 !

@hugorichard and @robbisg I want to check with you explicitly since you have a few unchecked items on your reviewer checklist : do the provided revisions (as discussed in the cross-linked issues) address your previous concerns ? Of course, @ejolly, please also let us know if there's anything that you don't consider resolved !

[2021-12-06 22:48] rkurchin commented on #3969
@whedon add @geraldjwang and @zadehsey as reviewers

(I have separately discussed this with them, @zadehsey is @geraldjwang's student and they will complete one review checklist together)

[2021-12-06 22:48] whedon commented on #3969
OK, @geraldjwang and @zadehsey is now a reviewer

[2021-12-06 22:52] danielskatz commented on #3964
Given your willingness, I will go ahead and assign you - feel free to reach out to other JOSS editors for suggestions, if needed.   Thanks!!

[2021-12-06 22:52] danielskatz commented on #3964
@whedon assign @emdupre as editor

[2021-12-06 22:53] whedon commented on #3964
OK, the editor is @emdupre

[2021-12-06 23:04] Balaje commented on #3668
Hi @prashjha, I have completed the review. I am ticking off all the boxes. Thanks.

[2021-12-06 23:38] jmschrei commented on #3944
No problem. @Subho07 would you be able to review this submission?

[2021-12-06 23:43] jmschrei commented on #3975
@aaronpeikert are you able to review this submission? The GitHub is mostly in Python but the tool seems to not involve programming that much.

@julianpistorius are you able to review this submission?

[2021-12-06 23:49] KimBaldry commented on #3659
Yes, it is complete and acceptable! Thank you for the opportunity to do this, and being understanding of my lack of time. Congratulations @paleolimbot  !!!

Kim

[2021-12-07 00:10] nick-gorman commented on #3596
@noah80, good point, I've tried to address as per UNSW-CEEM/nempy#5

[2021-12-07 01:01] alicia-ziying-yang commented on #3347
Hi @faroit
Thanks for editing! Have merged the pull request, and uploaded the latest version to [10.5281/zenodo.5762642](10.5281/zenodo.5762642)
Please let me know if there is any issue. Cheers.

[2021-12-07 01:10] acolum commented on #3914
I've completed my review. Overall, I enjoyed reading this submission and particularly liked how the project used tutorial-driven development.

[2021-12-07 02:17] MamadouSDiallo commented on #3376
Somehow the editor was witching _ to *
I hope it's fixed now. Let me know.

[2021-12-07 03:57] ejolly commented on #3823
Looks good to me!

[2021-12-07 06:01] briochemc commented on #3814
@whedon generate pdf from branch JOSSpaper

[2021-12-07 06:01] whedon commented on #3814
[code]

[2021-12-07 06:03] whedon commented on #3814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: :point_left:

[2021-12-07 06:04] briochemc commented on #3814
@whedon generate pdf from branch JOSSpaper

[2021-12-07 06:04] whedon commented on #3814
[code]

[2021-12-07 06:05] whedon commented on #3814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: :point_left:

[2021-12-07 06:20] Subho07 commented on #3944
Hi @jmschrei I am sorry I do not have expertise in this area of research

[2021-12-07 06:50] mikldk commented on #3911
@whedon add @rrrlw as reviewer

[2021-12-07 06:50] whedon commented on #3911
OK, @rrrlw is now a reviewer

[2021-12-07 06:51] mikldk commented on #3911
@rrrlw: As @nhejazi mentions it is perfectly fine to review the package itself, so I have added you as a reviewer. Thanks.

[2021-12-07 06:51] mikldk commented on #3911
@whedon start review

[2021-12-07 06:51] whedon opened #3979 "[REVIEW]: medoutcon: Nonparametric efficient causal mediation analysis with machine learning in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/nhejazi/medoutcon" target ="_blank">https://github.com/nhejazi/medoutcon</a>
**Version:** v0.1.6
**Editor:** @mikldk
**Reviewer:** @erikcs, @rrrlw
**Archive:** <a href="https://doi.org/10.5281/zenodo.5809520" target="_blank">10.5281/zenodo.5809520</a>

**:war

[2021-12-07 06:51] whedon commented on #3911
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3979.

[2021-12-07 06:51] #3911 closed

[2021-12-07 06:51] whedon commented on #3979
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @erikcs, @rrrlw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-12-07 06:51] whedon commented on #3979
Failed to discover a `Statement of need` section in paper

[2021-12-07 06:51] whedon commented on #3979
Wordcount for `paper.md` is 1810

[2021-12-07 06:51] whedon commented on #3979
[code]

[2021-12-07 06:52] whedon commented on #3979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: :point_left:

[2021-12-07 06:53] whedon commented on #3979
[code]

[2021-12-07 06:53] mikldk commented on #3979
@nhejazi, I think it is fine to rename "Background and Statement of Need" to just "Statement of Need" for consistency purposes.

[2021-12-07 06:54] mikldk commented on #3979
@nhejazi Please fix these missing DOIs and let us know when you are ready for the review to start.

[2021-12-07 06:55] mikldk commented on #3979
@erikcs, @rrrlw: Thanks for agreeing to review. As you can see above, there are a few things I would like to get sorted out before you start your review. I will let you know when you can begin.

[2021-12-07 07:11] briochemc commented on #3814
@whedon generate pdf from branch JOSSpaper

[2021-12-07 07:11] whedon commented on #3814
[code]

[2021-12-07 07:12] whedon commented on #3814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: :point_left:

[2021-12-07 07:25] briochemc commented on #3814
@whedon generate pdf from branch JOSSpaper

[2021-12-07 07:25] whedon commented on #3814
[code]

[2021-12-07 07:27] whedon commented on #3814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: :point_left:

[2021-12-07 07:41] faroit commented on #3347
@whedon set 10.5281/zenodo.5762642 as archive

[2021-12-07 07:41] whedon commented on #3347
OK. <a href="https://doi.org/10.5281/zenodo.5762642" target="_blank">10.5281/zenodo.5762642</a> is the archive.

[2021-12-07 07:42] faroit commented on #3347
@alicia-ziying-yang please also create a tagged release on github from that version you uploaded to zenodo and send me a linkt to the version number here

[2021-12-07 07:45] nluetts commented on #3526
Yes, I admit that this is a bit awkward.

Although I was not funded by it, a research training group which I am associated with was part of the motivation for me to develop the package (they require thorough uncertainty analysis.)

It was pointed out to me that the publication can be included in the research training group's publication list, but this requires that the RTG is mentioned in the ackn

[2021-12-07 08:24] faroit commented on #3391
@BreezeWhite The submission looks good now and we can finally move forward 👏 I just did check the paper again for grammar and spellings and created a pull request that you can merge in if you like.

Furthermore I found some inconsistencies in the bibliography that should be fixed as well. (see https://github.com/Music-and-Culture-Technology-Lab/omnizart/issues/49)

When these changes are made, the

[2021-12-07 09:17] Kevin-Mattheus-Moerman commented on #3869
@corentin-dev thanks for agreeing to help with this review! Is it correct that this is you: https://lmrs.univ-rouen.fr/fr/persopage/corentin-lothode, it would be good to confirm (and as a suggestion to perhaps add your full name and affiliation to your GitHub profile).

[2021-12-07 09:32] corentin-dev commented on #3869
@Kevin-Mattheus-Moerman done

[2021-12-07 09:36] arfon commented on #3376
@whedon recommend-accept

[2021-12-07 09:36] whedon commented on #3376
[code]

[2021-12-07 09:36] whedon commented on #3376
[code]

[2021-12-07 09:36] whedon commented on #3376
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2798

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2798, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-07 09:54] Kevin-Mattheus-Moerman commented on #3869
@whedon start review

[2021-12-07 09:54] whedon opened #3980 "[REVIEW]: RECOLO: A Python package for the reconstruction of surface pressure loads from kinematic fields using the virtual fields method"
**Submitting author:** @PolymerGuy (<a href="http://orcid.org/0000-0002-9981-4041">Sindre Nordmark Olufsen</a>)
**Repository:** https://github.com/PolymerGuy/recolo
**Branch with paper.md** (empty if default branch): JOSS-review
**Version:** v1.0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @nicoguaro, @corentin-dev
**Archive:** 10.5281/zenodo.6324870

**:warning: JOSS reduced service mode

[2021-12-07 09:54] whedon commented on #3869
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3980.

[2021-12-07 09:54] #3869 closed

[2021-12-07 09:54] whedon commented on #3980
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nicoguaro, @corentin-dev it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-12-07 09:54] whedon commented on #3980
Wordcount for `paper.md` is 589

[2021-12-07 09:54] whedon commented on #3980
[code]

[2021-12-07 09:54] whedon commented on #3980
[code]

[2021-12-07 09:54] whedon commented on #3980
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03980/joss.03980/10.21105.joss.03980.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03980/joss.03980/10.21105.joss.03980.pdf) :page_facing_up: :point_left:

[2021-12-07 09:55] Kevin-Mattheus-Moerman commented on #3980
@nicoguaro, @corentin-dev this is where the review takes place. As you can see there are tickboxes at the top that will guide you through the review process. Let me know if you have any questions. Thanks again for your help!

[2021-12-07 10:02] Kevin-Mattheus-Moerman commented on #3579
@michaelberks @kylemath @ajmalkoti would you be interested in reviewing this work (a MATLAB/octave toolbox for ultrasound imaging) for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
The smooth [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub, and focuses on the [software](https://github.com/mh-skjelvareid/synaptus) as wel

[2021-12-07 10:33] jspaezp commented on #3954
@csoneson would be glad to.

[2021-12-07 10:51] hechth commented on #3954
@csoneson Hi, when would you need me to confirm this? I'd like to first investigate the repository a bit to get a grasp on the complexity and time effort for a proper review :)

[2021-12-07 11:02] PTierz commented on #3649
Dear @meghanrjones, @jifarquharson and @elbeejay,

I hope this message finds you well.

I just wanted to inform you that I have added two recent, but very relevant, citations to our JOSS manuscript, which further show the future potential and applicability of VOLCANS/`PyVOLCANS` to the field of volcanic hazard assessment (please see commits [04095ff](https://github.com/BritishGeologicalSurvey/pyvo

[2021-12-07 11:45] dominiquesydow commented on #3951
@whedon generate pdf

[2021-12-07 11:45] arfon commented on #3526
Yes, I can do this. Please let me know when the paper is updated in your repository.

[2021-12-07 11:45] whedon commented on #3951
PDF failed to compile for issue #3951 with the following error:
[code]

[2021-12-07 11:58] dominiquesydow commented on #3907
Hi @afron, my apologies for circling back to the previous Whedon issue. We may have a same problem again in the review PR:
https://github.com/openjournals/joss-reviews/issues/3951

We have now on `opencadd`'s master the following files (FYI the merged PR https://github.com/volkamerlab/opencadd/pull/121):
[code]
Generating the PDF from the `master` branch does not work (see the fail in the review P

[2021-12-07 12:04] csoneson commented on #3954
@hechth - it would be great if you could come back to me before the end of the week so that, if needed, I can look for another reviewer without too much delay. If you would like some more information about reviewing for JOSS, including the review criteria and checklist, see [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) - of course, I'm happy to answer any questions as well

[2021-12-07 12:06] csoneson commented on #3954
Thank you @jspaezp! I will assign you as a reviewer now, and once we have also a second one I will open the actual review issue where you will then find your review checklist etc.

[2021-12-07 12:06] csoneson commented on #3954
@whedon assign @jspaezp as reviewer

[2021-12-07 12:06] whedon commented on #3954
OK, @jspaezp is now a reviewer

[2021-12-07 14:43] nluetts commented on #3526
Thank you very much, @arfon!

I updated the paper in my repository.

[2021-12-07 15:30] hugoledoux commented on #3061
👋 @CBenghi @aothms @abdoulayediak

the author fixed the issues you discussed, and modified the paper. Could you please have another look and let us know here if you're happy (also by clicking in the tickboxes above)?

[2021-12-07 15:44] k3yavi commented on #3941
Hi @mikldk , according to JOSS guidelines, I think the paper and the tool passes all the criteria mentioned in the checklist.

I do have some minor points to mention, is it Ok to mention them here or the review is strictly checklist based ?

[2021-12-07 16:05] fboehm commented on #3888
@whedon add @tbrown122387 as reviewer

[2021-12-07 16:05] whedon commented on #3888
OK, @tbrown122387 is now a reviewer

[2021-12-07 16:06] fboehm commented on #3888
@whedon remove @eirenjacobson as reviewer

[2021-12-07 16:06] whedon commented on #3888
OK, @eirenjacobson is no longer a reviewer

[2021-12-07 16:09] fboehm commented on #3879
Thank you, @tbrown122387 ! I've now added you as a reviewer in the "review" issue, https://github.com/openjournals/joss-reviews/issues/3888. You should find a checklist to guide your review there.

[2021-12-07 16:16] emdupre commented on #3964
Great, thanks @danielskatz @kthyng !

:wave: Hi @po60nani, and thank you for your submission to JOSS !

If you have any suggestions for potential reviewers, please let me know by listing their names or GitHub handles (without the @, so they don't receive a notification) here. You can suggest reviewers from any relevant project, though we often recommend starting with [this list of people](https://

[2021-12-07 16:37] whedon commented on #3947
:wave: @AleksiNummelin, please update us on how your review is going (this is an automated reminder).

[2021-12-07 16:37] whedon commented on #3947
:wave: @isgiddy, please update us on how your review is going (this is an automated reminder).

[2021-12-07 16:37] whedon commented on #3947
:wave: @callumrollo, please update us on how your review is going (this is an automated reminder).

[2021-12-07 16:38] thewan05 commented on #3813
@drvinceknight Dr. Knight, I'm not sure what the review process is like at JOSS, but can you provide an update? Thank you.

[2021-12-07 16:51] kthyng commented on #3659
Ok excellent! We can proceed with the next steps then.

@paleolimbot Would you like to tag a new version of your software? I suggest jumping up to a non-beta sounding version number with this advancement. Let me know what version to associate with this JOSS submission.

Also, please archive your code with a place like Zenodo, and then report here your doi. Be sure to update the metadata in the Zen

[2021-12-07 16:52] kthyng commented on #3659
@whedon generate pdf

[2021-12-07 16:52] whedon commented on #3659
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03659/joss.03659/10.21105.joss.03659.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03659/joss.03659/10.21105.joss.03659.pdf) :page_facing_up: :point_left:

[2021-12-07 17:07] whedon commented on #3948
:wave: @TimKam, please update us on how your review is going (this is an automated reminder).

[2021-12-07 17:07] whedon commented on #3948
:wave: @emilydolson, please update us on how your review is going (this is an automated reminder).

[2021-12-07 17:15] kthyng commented on #3659
@paleolimbot Paper comments:
* Line 31: Is something missing after "chlorophyll"?
* in the references, there is an "r" that isn't capitalized, and "welcome to the tidyverse" is there twice. Please correct these and look through all references to see if there are any other errors.

[2021-12-07 17:28] chryswoods commented on #3914
Thanks for taking the time to review and for your very kind comments :-)

[2021-12-07 17:39] MKoesters commented on #3954
@csoneson I'd also be willing to do the review

[2021-12-07 18:06] vaneseltine commented on #3522
I have completed my review of this software and its documentation. This is a nicely developed and stable project that has produced, and continues to improve, a useful open source tool for qualitative social science research. The paper is well-written and, in sum, Taguette will be a great addition to _JOSS_. I recommend publication.

[2021-12-07 18:09] vijaysm commented on #3959
@diehlpk I can't seem to edit the review checkboxes. Perhaps my username didn't get authorized ? I see that there are two "@" symbols there, which is possibly causing an issue.

[2021-12-07 18:29] danielskatz commented on #3959
@whedon re-invite @vijaysm as reviewer

see if this helps

[2021-12-07 18:29] whedon commented on #3959
OK, the reviewer has been re-invited.

@vijaysm please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-07 18:33] nicoguaro commented on #3980
@PolymerGuy, I have done a first pass on the submission and have the following comments:

- There is no Statement of need on the README or the docs.
- There is a section title for an example without the example.
- There is a broken hyperlink to a reference in the README. Is this one the paper where the approach is described or is it the 2019 one?
- I think that the contribution guidelines could be

[2021-12-07 18:36] TNanukem commented on #3864
Hello @osorensen and @drj11. If there is anything I can do to make the reviewing process easier, just let me know.

[2021-12-07 18:48] vijaysm commented on #3959
@danielskatz Thanks, that worked!

[2021-12-07 18:58] jmschrei commented on #3944
No problem. @jenzopr would you be able to review this submission?

[2021-12-07 18:58] sfsinger19103 commented on #3739
@vaneseltine How might I test my fix to the encoding issue, which is in branch `issue739-windows-encoding`?

[2021-12-07 19:02] mikldk commented on #3941
@k3yavi Sounds good. Your input would be very valuable. Please create issues in the repo and mention this issue such that they are linked.

[2021-12-07 19:40] osorensen commented on #3864
@TNanukem, thanks for reaching out. I'll see if we can find another reviewer, and hopefully we can finish this.

[2021-12-07 19:43] osorensen commented on #3864
:wave: @imw, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-12-07 19:44] soffner commented on #3771
In that case, I think what we have in the release meets the requirements --
many of the test problems have python scripts that compare the output with
an expected solution and generate a fail message if agreement fails.

On Sat, Dec 4, 2021 at 11:05 AM Michael Zingale ***@***.***>
wrote:

[2021-12-07 20:11] diehlpk commented on #3959
@danielskatz Thanks for your support. I have the final exam week and was not so quick.

[2021-12-07 20:27] imw commented on #3864
Yes, happy to do so by this weekend.

[2021-12-07 20:39] po60nani commented on #3964
Hi,

Thank you for your consideration. Based on the list you sent me, I've identified the following individuals as the greatest match for our package domain.

1. jonatanalvelid
2. xaviercm94
3. pr4deepr
4. vigji
5. ziatdinovmax
6. caldarolamartin
7. uellue
8. AoifeHughes

Sincerely,
Houman Mirzaalian

[2021-12-07 21:05] osorensen commented on #3864
Thanks a lot @imw!

[2021-12-07 21:05] osorensen commented on #3864
@whedon add @imw as reviewer

[2021-12-07 21:06] whedon commented on #3864
OK, @imw is now a reviewer

[2021-12-07 21:08] osorensen commented on #3864
@imw, I have added a review checklist for you at the top of this thread, which you can use for your review. You find the reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Please let me know if you need any assistance in the process.

[2021-12-07 22:05] rkurchin commented on #3969
@whedon start review

[2021-12-07 22:05] whedon opened #3981 "[REVIEW]: physical_validation: A Python package to assess the physical validity of molecular simulation results"
**Submitting author:** @ptmerz (<a href="http://orcid.org/0000-0002-7045-8725">Pascal T. Merz</a>)
**Repository:** <a href="https://github.com/shirtsgroup/physical_validation" target ="_blank">https://github.com/shirtsgroup/physical_validation</a>
**Version:** v1.0.4
**Editor:** @rkurchin
**Reviewer:** @tonigi, @geraldjwang, @zadehsey
**Archive:** <a href="https://doi.org/10.5281/zenodo.5815657" t

[2021-12-07 22:05] whedon commented on #3969
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3981.

[2021-12-07 22:05] #3969 closed

[2021-12-07 22:05] whedon commented on #3981
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tonigi, @geraldjwang and @zadehsey it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-12-07 22:05] whedon commented on #3981
PDF failed to compile for issue #3981 with the following error:
[code]

[2021-12-07 22:05] whedon commented on #3981
[code]

[2021-12-07 22:07] rkurchin commented on #3981
@whedon generate pdf from branch joss-paper

[2021-12-07 22:07] whedon commented on #3981
[code]

[2021-12-07 22:08] whedon commented on #3981
PDF failed to compile for issue #3981 with the following error:
[code]

[2021-12-07 22:40] rkurchin commented on #3981
@whedon generate pdf from branch joss-paper

[2021-12-07 22:40] whedon commented on #3981
[code]

[2021-12-07 22:41] whedon commented on #3981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: :point_left:

[2021-12-07 22:44] rkurchin commented on #3981
Just so it's clear, @tonigi is doing one review, and @zadehsey and @geraldjwang are doing the other collaboratively.

[2021-12-07 23:08] ptmerz commented on #3981
Thank you @rkurchin for leading this, and @tonigi, @zadehsey and @geraldjwang for agreeing to review, I appreciate your time and effort and I am looking forward to your reviews! Please let me know if there is anything I can help with!

[2021-12-08 00:57] alicia-ziying-yang commented on #3347
https://github.com/alicia-ziying-yang/conTEXT-explorer/releases/tag/1.0.0
@faroit is this ok?

[2021-12-08 02:12] AP6YC commented on #3527
[PR 10](https://github.com/AP6YC/ClusterValidityIndices.jl/pull/10) addresses [Issue 4](https://github.com/AP6YC/ClusterValidityIndices.jl/issues/4) and some more direct concerns, some of which may overlap:

Concerns of @malmaud
1. Correct package installation procedures.
2. Cleaned-up documentation page in the form of an index of user-level methods and types with fleshed-out docstrings.
3. Exampl

[2021-12-08 02:36] fernandomayer commented on #3901
@mikldk I should be able to complete it in the next week.

[2021-12-08 08:48] benjaminbolling commented on #3431
@magedhelmy1 and @ShantanuDash : How is the review going? 🙂

[2021-12-08 08:53] PolymerGuy commented on #3980
@nicoguaro, thanks for the comments. I will implement the comments as soon as possible. Should I push the corrections directly to the master branch or should we use a separate revision branch for the review?

The reference in the README is a placeholder for a paper which is about to be submitted now.
For a description of the approach we use, please see the 2019 paper (https://link.springer.com/art

[2021-12-08 08:57] csoneson commented on #3954
Brilliant, thanks @MKoesters!

[2021-12-08 09:00] magedhelmy1 commented on #3431
Hi Benjamin, to be honest, I did not have the time to look at it again because when the gaps between your reviews are longer than 2months+ I have to re-read the whole paper again and remind myself of what was it about.
As you can see, you mentioned on "Sep 23" you will do the reviews, but did not do it until mid-November which is quite a significant gap.
Anyways, I will try to look at it in Januar

[2021-12-08 09:02] Kevin-Mattheus-Moerman commented on #3980
You can use any branch you like this is fully up to you. As long as we compile the paper from the correct branch, e.g. `@whedon generate pdf from branch branchName`

[2021-12-08 09:04] sandrinecharles commented on #3200
@KristinaRiemer According to reviewer's comments, we submitted the new release of our 'morse' package to the official CRAN web site two days ago.

[2021-12-08 09:11] benjaminbolling commented on #3431
Sorry again for the delay, the only excuse there is that I had lots of work and was moving. Thanks!

[2021-12-08 09:15] magedhelmy1 commented on #3431
No worries :) All the best in your work and looking forward to reading it :)

[2021-12-08 09:20] csoneson commented on #3954
@whedon add @MKoesters as reviewer

[2021-12-08 09:20] whedon commented on #3954
OK, @MKoesters is now a reviewer

[2021-12-08 09:21] Fil commented on #3940
The software works as advertised, and is certainly useful. To complete my review I need help to find the _paper_, _community guidelines_ and _code of conduct_, and more details to see the connection to research purposes (an example of usage in data science would be helpful in that regard). Also I am surprised with https://github.com/keichi/binary-parser/issues/149 and would like to know what the p

[2021-12-08 09:31] faroit commented on #3347
@whedon set 1.0.0 as version

[2021-12-08 09:31] whedon commented on #3347
OK. 1.0.0 is the version.

[2021-12-08 09:31] faroit commented on #3347
@whedon recommend-accept

[2021-12-08 09:31] whedon commented on #3347
[code]

[2021-12-08 09:32] whedon commented on #3347
[code]

[2021-12-08 09:56] arfon commented on #3376
@whedon accept deposit=true

[2021-12-08 09:56] whedon commented on #3376
[code]

[2021-12-08 09:57] whedon commented on #3376
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1468520025527042049) 👈 🐦🐦🐦

[2021-12-08 09:57] whedon commented on #3376
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2800
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03376](https://doi.org/10.21105/joss.03376)
2. If everything look

[2021-12-08 10:11] Nikoleta-v3 commented on #3522
Thank you very much @vaneseltine for your review and for your time! 🙏🏻 @remram44 I will aim to have a final look over the submission by the latest tomorrow and then we should be good to go 🎉

[2021-12-08 10:11] arfon commented on #3376
@rchew, @soodoku – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@MamadouSDiallo  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-12-08 10:11] #3376 closed

[2021-12-08 10:11] whedon commented on #3376
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03376/status.svg)](https://doi.org/10.21105/joss.03376)

**We need your help!**

Journal of Open Source Softwa

[2021-12-08 10:21] drj11 commented on #3864
tbh this dropped off my radar. I'm happy to complete the review today (GMT) if you still want, but it looks like you've found another reviewer.

To be honest there is one concrete thing that you can change to improve the process slightly: put the review deadline either at the top, at the bottom, or in any of the nagging comments.

Sorry I dropped the ball on this one.

[2021-12-08 11:19] osorensen commented on #3864
Thanks for getting back to us @drj11. I've tried to ping you a few times, but I completely understand that it's easy to loose track of e-mails. It would be very much appreciated if you could complete your review, even though we have already secured a third reviewer. Having three reviewers rather than two is a good thing.

And thanks for your comment regarding deadlines. However, this might be slig

[2021-12-08 11:35] aaronpeikert commented on #3975
Looks like a great project. Judging from the first glimpse, I am comfortable enough with Python to review it.

[2021-12-08 12:04] jbytecode commented on #3965
@rosoport - This is the last call. I have not received a response from you either here or by e-mail. Please accept the invitation, if appropriate, by Saturday, December 11th. Otherwise I will have to find a new reviewer. For your information, best.

[2021-12-08 12:09] drj11 commented on #3864
@TNanukem I have opened a few issues, but only two block the review:

https://github.com/TNanukem/scikit-net/issues/35

https://github.com/TNanukem/scikit-net/issues/37

I think that these should be easy to resolve.

In the written paper I particularly appreciated the Statement of Need and the catalogue of implemented algorithms.

[2021-12-08 12:23] stammler commented on #3882
Dear  @schruste  and @lucaferranti!

Thank you for your great comments!

We added contribution guidelines, templates for bug report and feature request issues, and a template for pull requests.
We furthermore added a small explanation about the scope of the software in the README.md.

We changed the license to the more permissive BSD 3-Clause License.

We clarified in the paper and the README.md t

[2021-12-08 12:23] stammler commented on #3882
@whedon generate pdf

[2021-12-08 12:24] whedon commented on #3882
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03882/joss.03882/10.21105.joss.03882.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03882/joss.03882/10.21105.joss.03882.pdf) :page_facing_up: :point_left:

[2021-12-08 12:47] PolymerGuy commented on #3980
@nicoguaro I have now made a new branch called JOSS-review for all changes done during the review process. Improvements based on the comments above are found in commit: 26f7c97f4efc2ce93a402c5ac8b5479523883845 .

[2021-12-08 12:48] lucaferranti commented on #3882
hi @stammler 👋 ,

I'll have a closer look today or tomorrow, overall it looks very good!

One quick small comment: I noticed your workflow runs only on ubuntu, have you considering running it also on windows and macos? I think it would make the testing more robust to possible small OS dependent bugs

[2021-12-08 12:54] arfon commented on #3951
@whedon generate pdf

[2021-12-08 12:55] whedon commented on #3951
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03951/joss.03951/10.21105.joss.03951.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03951/joss.03951/10.21105.joss.03951.pdf) :page_facing_up: :point_left:

[2021-12-08 12:55] arfon commented on #3907
Yes, sorry. I forgot to fix this in the database so the problem appeared again in the review issue. Should be fixed now.

[2021-12-08 12:59] arfon commented on #3526
OK, that should be updated now. The site make take ~24 hours to update with the new paper as there is caching in place.

[2021-12-08 13:09] mithun218 commented on #3885
@peanutfun  I have addressed all the issues you referenced  [here](https://github.com/openjournals/joss-reviews/issues/3885#issuecomment-965388988) . Please review and if I have missed anything please let me know.

[2021-12-08 13:22] jedbrown commented on #3878
Thanks for your patience. We have two reviewers and can start the review.

[2021-12-08 13:23] jedbrown commented on #3878
@whedon add @tisaac as reviewer

[2021-12-08 13:23] whedon commented on #3878
OK, @tisaac is now a reviewer

[2021-12-08 13:24] jedbrown commented on #3878
@whedon add @wence- as reviewer

[2021-12-08 13:24] whedon commented on #3878
OK, @wence- is now a reviewer

[2021-12-08 13:24] jedbrown commented on #3878
@whedon start review

[2021-12-08 13:24] whedon opened #3982 "[REVIEW]: Basix: a runtime finite element basis evaluation library"
**Submitting author:** @mscroggs (<a href="http://orcid.org/0000-0002-4658-2443">Matthew Scroggs</a>)
**Repository:** <a href="https://github.com/FEniCS/basix" target ="_blank">https://github.com/FEniCS/basix</a>
**Version:** v0.3.0
**Editor:** @jedbrown
**Reviewer:** @tisaac, @wence-
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pan

[2021-12-08 13:24] whedon commented on #3878
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3982.

[2021-12-08 13:24] #3878 closed

[2021-12-08 13:24] whedon commented on #3982
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tisaac, @wence- it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2021-12-08 13:24] whedon commented on #3982
Wordcount for `paper.md` is 1189

[2021-12-08 13:24] whedon commented on #3982
[code]

[2021-12-08 13:24] whedon commented on #3982
[code]

[2021-12-08 13:25] whedon commented on #3982
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03982/joss.03982/10.21105.joss.03982.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03982/joss.03982/10.21105.joss.03982.pdf) :page_facing_up: :point_left:

[2021-12-08 13:28] jedbrown commented on #3982
Hi @tisaac @wence-, :wave: Welcome to JOSS and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [Basix repository](https://github.com/FEniCS/basix)). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the

[2021-12-08 13:31] nluetts commented on #3526
Many many thanks for making that happen! :+1:
It seems to be online already!

[2021-12-08 13:34] whedon commented on #3950
:wave: @mikemhenry, please update us on how your review is going (this is an automated reminder).

[2021-12-08 13:34] whedon commented on #3950
:wave: @rvhonorato, please update us on how your review is going (this is an automated reminder).

[2021-12-08 13:39] whedon commented on #3951
:wave: @andrewtarzia, please update us on how your review is going (this is an automated reminder).

[2021-12-08 13:39] whedon commented on #3951
:wave: @mcs07, please update us on how your review is going (this is an automated reminder).

[2021-12-08 13:47] danielskatz commented on #3347
👋 @alicia-ziying-yang - I've suggested a few small changes in the bib and md files in https://github.com/alicia-ziying-yang/conTEXT-explorer/pull/21 - Please merge this, and then be sure the change the in the md file is correct.  Let me know when you are then ready for final publication of this work.

[2021-12-08 13:49] WildfireXIII commented on #3652
@deniederhut Hey! Just wanted to leave a note that I've made an update to each of the issues, so it's ready if you want to take another pass at it.

[2021-12-08 13:55] CFGrote commented on #3905
Review comments on Documentation and Examples in https://github.com/Magritte-code/Magritte/issues/56

[2021-12-08 13:55] dominiquesydow commented on #3907
Thank you, @arfon!

[2021-12-08 13:58] CFGrote commented on #3905
@whedon generat pdf from branch joss_paper_1.0

[2021-12-08 13:58] whedon commented on #3905
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-08 13:58] CFGrote commented on #3905
@whedon generate pdf from branch joss_paper_1.0

[2021-12-08 13:58] whedon commented on #3905
[code]

[2021-12-08 14:00] whedon commented on #3905
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03905/joss.03905/10.21105.joss.03905.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03905/joss.03905/10.21105.joss.03905.pdf) :page_facing_up: :point_left:

[2021-12-08 14:05] stammler commented on #3882
Thanks!
We added Windows and MacOS to the workflow.

[2021-12-08 14:07] andrewtarzia commented on #3951
Just an update - mostly done. Aiming to read the paper and test the code on Friday, fingers crossed.

[2021-12-08 14:16] whedon opened #3983 "[PRE REVIEW]: SpatialGEV: Fast Bayesian inference for spatial extreme value models in R"
**Submitting author:** @meixichen (<a href="http://orcid.org/0000-0003-1012-5352">Meixi Chen</a>)
**Repository:** <a href="https://github.com/meixichen/SpatialGEV" target ="_blank">https://github.com/meixichen/SpatialGEV</a>
**Version:** 0.0.0.9000
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-12-08 14:16] whedon commented on #3983
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-08 14:16] whedon commented on #3983
Wordcount for `paper.md` is 1586

[2021-12-08 14:16] whedon commented on #3983
[code]

[2021-12-08 14:16] whedon commented on #3983
Failed to discover a valid open source license.

[2021-12-08 14:17] whedon commented on #3983
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03983/joss.03983/10.21105.joss.03983.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03983/joss.03983/10.21105.joss.03983.pdf) :page_facing_up: :point_left:

[2021-12-08 14:17] whedon commented on #3983
[code]

[2021-12-08 14:19] danielskatz commented on #3983
👋 @meixichen - I'm a little confused by your submission comment "The computational methods used this package and an application of it are described in a different paper (https://arxiv.org/abs/2110.07051), which has been submitted to another peer-reviewed journal."

Also, there's no open source license in the repo, which is required for JOSS review - see https://joss.readthedocs.io/en/latest/submit

[2021-12-08 14:19] danielskatz commented on #3983
@whedon query scope

[2021-12-08 14:19] whedon commented on #3983
Submission flagged for editorial review.

[2021-12-08 14:20] whedon opened #3984 "[PRE REVIEW]: DCISolver.jl: A Julia Solver for Nonlinear Optimization using Dynamic Control of Infeasibility"
**Submitting author:** @tmigot (<a href="http://orcid.org/0000-0001-7729-2513">Tangi Migot</a>)
**Repository:** <a href="https://github.com/JuliaSmoothOptimizers/DCISolver.jl" target ="_blank">https://github.com/JuliaSmoothOptimizers/DCISolver.jl</a>
**Version:** v0.2.4
**Editor:** @jbytecode
**Reviewers:** @odow, @jbcaillau
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :

[2021-12-08 14:20] whedon commented on #3984
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-08 14:20] whedon commented on #3984
[code]

[2021-12-08 14:20] whedon commented on #3984
PDF failed to compile for issue #3984 with the following error:
[code]

[2021-12-08 14:24] danielskatz commented on #3984
@whedon check references from branch joss-paper-branch

[2021-12-08 14:24] whedon commented on #3984
[code]

[2021-12-08 14:24] danielskatz commented on #3984
@whedon generate pdf from branch joss-paper-branch

[2021-12-08 14:24] whedon commented on #3984
[code]

[2021-12-08 14:24] whedon commented on #3984
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03984/joss.03984/10.21105.joss.03984.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03984/joss.03984/10.21105.joss.03984.pdf) :page_facing_up: :point_left:

[2021-12-08 14:25] whedon commented on #3984
[code]

[2021-12-08 14:30] CFGrote commented on #3905
Software paper review in https://github.com/Magritte-code/Magritte/issues/57

[2021-12-08 14:32] danielskatz commented on #3984
👋 @melissawm - you were suggested as the editor, and though I know you are at your requested limit, I wanted to see if you are willing to take this as well. If not, we will wait list until an editor in this area is available.

[2021-12-08 14:32] danielskatz commented on #3984
@whedon invite @melissawm as editor

[2021-12-08 14:32] whedon commented on #3984
@melissawm has been invited to edit this submission.

[2021-12-08 14:34] danielskatz commented on #3970
I'll edit this one

[2021-12-08 14:34] danielskatz commented on #3970
@whedon assign me as editor

[2021-12-08 14:34] whedon commented on #3970
OK, the editor is @danielskatz

[2021-12-08 14:36] danielskatz commented on #3970
👋 @LeonidPryadko - Can you suggest any potential reviewers? If so, please mention them here in this thread (without tagging them with an @). [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list), but suggestions from elsewhere are also welcome.

[2021-12-08 14:37] danielskatz commented on #3962
I'll edit this one.

[2021-12-08 14:37] danielskatz commented on #3962
@whedon assign me as editor

[2021-12-08 14:37] whedon commented on #3962
OK, the editor is @danielskatz

[2021-12-08 14:38] danielskatz commented on #3962
👋 @tbirkandan - Would you be willing to review this submission for JOSS?

[2021-12-08 14:41] danielskatz commented on #3962
👋 @JohnCremona and @slel - Would one of both of you be willing to review this submission for JOSS?  (And if not, can you recommend anyone else?)

JOSS is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!).

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and

[2021-12-08 14:43] danielskatz commented on #3978
Thanks @rickhelmus and @schymane - I'm going to ask the JOSS editors to take a look at this to decide if we will review it - you should hear back in a week or two.

[2021-12-08 14:43] danielskatz commented on #3978
@whedon query scope

[2021-12-08 14:43] whedon commented on #3978
Submission flagged for editorial review.

[2021-12-08 14:49] whedon commented on #3984
[code]

[2021-12-08 14:49] whedon commented on #3984
[code]

[2021-12-08 14:49] tmigot commented on #3984
@whedon generate pdf from branch joss-paper-branch

[2021-12-08 14:49] whedon commented on #3984
[code]

[2021-12-08 14:50] whedon commented on #3984
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03984/joss.03984/10.21105.joss.03984.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03984/joss.03984/10.21105.joss.03984.pdf) :page_facing_up: :point_left:

[2021-12-08 14:53] danielskatz commented on #3949
@MartinBAW - We've decided that JOSS will not review this submission because the technical contribution appears to be an HLL Riemann solver and a couple other closures that plug into the framework. The "library" part is about 600 LOC, plus another 400 for an example driver. It doesn't really have unit tests and could use better documentation. We're also unsure about why domain-specific QoI, bounda

[2021-12-08 14:53] danielskatz commented on #3949
@whedon reject

[2021-12-08 14:53] whedon commented on #3949
Paper rejected.

[2021-12-08 14:53] #3949 closed

[2021-12-08 14:55] fjprichard commented on #3821
Dear Vitor,

Thank you for your explanation. I did some corrections on the package to improve these points:

- I added a requirement directory where I included pip compatible requirement files (defaults and dev).
- I added a line in the setup for extras_require
- I added a README file in the tests directory to explain how to run the tests with doctest.
- I added a PyAFBF.egg-info directory where s

[2021-12-08 15:13] elbeejay commented on #3649
@whedon generate pdf from branch JOSS_paper

[2021-12-08 15:13] whedon commented on #3649
[code]

[2021-12-08 15:14] whedon commented on #3649
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: :point_left:

[2021-12-08 15:14] elbeejay commented on #3649
@PTierz just so you are aware, I will be asking you to merge the JOSS_paper branch into the main branch at the end of this process. I haven't checked if there are any merge conflicts but wanted to mention this.

[2021-12-08 15:22] danielskatz commented on #3984
Given a potential conflict with @melissawm, I withdraw my request that she edit.

[2021-12-08 15:25] danielskatz commented on #3984
👋 @jbytecode - would you be willing to edit this submission?

[2021-12-08 15:25] danielskatz commented on #3984
@whedon invite @jbytecode as editor

[2021-12-08 15:25] whedon commented on #3984
@jbytecode has been invited to edit this submission.

[2021-12-08 15:39] elbeejay commented on #3649
I will just remind you to merge it in as one of the final steps, there's no need to do so now. Just wanted you to be aware. :+1:

[2021-12-08 16:15] diehlpk commented on #3465
@elwinter could you please finish the paper this week? I really would like to get this paper out to take a new paper.

[2021-12-08 16:28] diehlpk commented on #3390
@Muhao-Chen If I do not hear back from you by December 22nd, I will withdraw your paper.

[2021-12-08 16:30] rkurchin commented on #3703
Hi @KAClough, just pinging to check in on this.

[2021-12-08 16:33] rkurchin commented on #3727
Hi @ljakoster, just pinging to check in on this.

And @roderickmackenzie, no worries about the delay, glad you're feeling better!

[2021-12-08 16:51] jbytecode commented on #3984
@whedon assign me as editor

thank you @danielskatz

[2021-12-08 16:51] whedon commented on #3984
OK, the editor is @jbytecode

[2021-12-08 18:07] jmschrei commented on #3975
@whedon invite @aaronpeikert as reviewer

[2021-12-08 18:08] whedon commented on #3975
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-08 18:08] jmschrei commented on #3975
@whedon add @aaronpeikert as reviewer

[2021-12-08 18:08] whedon commented on #3975
OK, @aaronpeikert is now a reviewer

[2021-12-08 18:30] plaplant commented on #3676
@JLBLine apologies for the delay in responding. All of my concerns have been addressed, and I have updated my reviewer checklist. Excellent work!

[2021-12-08 18:38] soffner commented on #3771
@whedon generate pdf

On Mon, Sep 27, 2021 at 2:22 PM whedon ***@***.***> wrote:

[2021-12-08 18:38] whedon commented on #3771
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: :point_left:

[2021-12-08 18:40] quynhneo commented on #3736
I am sorry guys, I ll catch up this weekend.

[2021-12-08 18:48] soffner commented on #3771
I believe we have addressed the last two issues raised by @zingale:

* We removed the mention of scaling in the JOSS paper and added a bit more
detail and citations about scaling in the MHD section of the code
documentation.
* We added a couple of sentences about how ORION2 compares to other public
codes in paper.md.

Thanks!

On Sun, Nov 28, 2021 at 5:10 PM Michael Zingale ***@***.***>
wrote:

[2021-12-08 19:07] zingale commented on #3771
thanks.  I'm happy with things now.  Thanks for merging my PRs.

[2021-12-08 19:08] zingale commented on #3771
@dfm I am happy with this and checked all my boxes.

[2021-12-08 19:58] TomWagg commented on #3925
Actually, having discussed this with my co-authors, they suggested that perhaps it isn't sensible to change the title of the ApJ paper. Since, changing the title doesn't really change the _content_ of the paper, and so it could become even more confusing if two papers with extremely similar content have different titles. Whereas having the same title can make it extremely clear that the two papers

[2021-12-08 20:06] vaneseltine commented on #3739
Hmm. What you'd like to do is have an instance of Python with a "wrong" default codec (such as 1252) attempt to run using a file encoded as UTF-8. I've been looking around for a little while this afternoon and, due to Python's increasing reluctance to allow changing of locale "defaults," I'm not sure there's a good way to create a straightforward, independent unit test.

One reasonably simple appr

[2021-12-08 20:21] KristinaRiemer commented on #3200
Great! Thank you so much @puruckertom & @Peter-Vermeiren for your reviews! Your work is greatly appreciated.

@sandrinecharles there a few more steps that we need to take care of before acceptance. First, we should both proofread the paper one last time to double check for typos, references, etc. Once that is satisfactory, you will make a release of and archive the code.

[2021-12-08 20:21] KristinaRiemer commented on #3200
@whedon generate pdf

[2021-12-08 20:21] KristinaRiemer commented on #3200
@whedon check references

[2021-12-08 20:21] whedon commented on #3200
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "," (COMMA) [#<BibTeX::Bibliography data=[4]>, "@", #<BibTeX::Entry >, {:author=>["OCDE"], :title=>["Daphnia magna Reproduction Test (OECD TG 211)"], :year=>["2018"]}, ",", "pages", "="]

[2021-12-08 20:22] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-12-08 20:32] dfm commented on #3771
Great!

@zingale, @changgoo: Thanks for your reviews!! I really appreciate the time that you have volunteered to this project.

@soffner: Thanks for all your work responding to this feedback! Give me a couple of days for some final editorial tasks, and then I'll have a few last steps for you before publication.

Thanks again for participating in this process everyone!

[2021-12-08 20:36] dfm commented on #3676
@plaplant, @mkolopanis: Thanks for your reviews!! I really appreciate the time that you have both volunteered for this.

@JLBLine: I'm sorry that we haven't been able to stick to your timeline, and I'll still need a few days for a couple of editorial tasks. After that I'll have a few things for you to do before publication, but absolutely no rush on those, especially when you're on vacation. Thank

[2021-12-08 20:37] JasonGellis commented on #3738
@steko @MichaelHoltonPrice @Nikoleta-v3 Thank you for your feedback. While differences in drawing styles are addressed in greater detail on the README.md of the repo, we agree that it belongs in the paper too, and this has been added.

We agree that that an example output of the JSON file should be included, and a new figure has been added (Figure 5). However, we feel that further discussion of ho

[2021-12-08 21:01] soffner commented on #3771
Yes, thank you very much @zingale, @changgoo for your careful reviews and
very helpful feedback!!

On Wed, Dec 8, 2021 at 2:32 PM Dan Foreman-Mackey ***@***.***>
wrote:

[2021-12-08 21:04] KristinaRiemer commented on #3200
These are the handful of typos/formatting that I was able to find in the paper:

- consistency in capitalization for TKTD full length (lines 29 & 37)
- "team in performing" to "team to perform"? (line 39-40)
- "and" between EASYGUTS and GATEAUX in model list (line 41)
- "can be either" to "can either be" (line 66)
- "the Survival probability prediction error at the end of the exposure profile (SPP

[2021-12-08 21:11] KAClough commented on #3703
Hi @rkurchin sorry for being slow - I've made the updates to the file as requested but I am just looking at the Zenodo/figshare thing and canvassing opinions on which we prefer as a team. I guess I should move the Joss paper into the main branch before I tag the release, right?

[2021-12-08 21:14] rkurchin commented on #3703
No worries!

You should definitely make sure any associated changes from the discussions here are merged. If you want the paper to live in the repo, you can definitely merge that too but it’s not required (you can always just put a badge to link to the paper that we host if you don’t feel like having the manuscript always be in the repo).
On Dec 8, 2021, 4:11 PM -0500, K Clough ***@***.***>, wrote

[2021-12-08 21:55] fredericgosselin commented on #3449
I realize that I’m arriving quite late in this rather long review process. I’m not sure why this is so but, given that I've been asked and that I’ve accepted the invitation, I’ll do my job thoroughly at the risk of setting things back…

To start with, I have three spontaneous reactions or comments to make about this submission:

1)	In the paper, SHINE_color is presented in the context of pupil dil

[2021-12-08 22:58] nhejazi commented on #3979
thanks for flagging these initial revisions @mikldk. these have been addressed as of the most recent commit, https://github.com/nhejazi/medoutcon/commit/d0e65f5df58b5f5bf9917ad0a4766e343d50599d.

[2021-12-08 23:09] jedbrown commented on #2565
Thanks for your patience. I'm sorry to have volunteered to step in and then vanished -- busy times. Let's move this forward.

[2021-12-08 23:09] jedbrown commented on #2565
@whedon generate pdf

[2021-12-08 23:09] jedbrown commented on #2565
@whedon check references

[2021-12-08 23:09] whedon commented on #2565
[code]

[2021-12-08 23:09] whedon commented on #2565
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02565/joss.02565/10.21105.joss.02565.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02565/joss.02565/10.21105.joss.02565.pdf) :page_facing_up: :point_left:

[2021-12-09 00:32] alicia-ziying-yang commented on #3347
Hi @danielskatz , thanks for the editing, have merged. And I think it is ready to go:)

[2021-12-09 00:35] danielskatz commented on #3347
@whedon recommend-accept

[2021-12-09 00:35] whedon commented on #3347
[code]

[2021-12-09 00:35] whedon commented on #3347
[code]

[2021-12-09 00:36] whedon commented on #3347
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2801

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2801, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-09 00:37] danielskatz commented on #3347
@whedon accept deposit=true

[2021-12-09 00:37] whedon commented on #3347
[code]

[2021-12-09 00:38] whedon commented on #3347
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1468741848932007936) 👈 🐦🐦🐦

[2021-12-09 00:38] whedon commented on #3347
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2802
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03347](https://doi.org/10.21105/joss.03347)
2. If everything look

[2021-12-09 00:46] danielskatz commented on #3347
Congratulations to @alicia-ziying-yang (Ziying Yang) and co-authors!!

And thanks to @faroit for editing, and @sara-02 and @baileythegreen for reviewing!
We couldn't do this without you

[2021-12-09 00:46] #3347 closed

[2021-12-09 00:46] whedon commented on #3347
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03347/status.svg)](https://doi.org/10.21105/joss.03347)

**We need your help!**

Journal of Open Source Softwa

[2021-12-09 01:31] deniederhut commented on #3652
Thanks for doing that! Also thanks for the ping. I'll take a look now.

[2021-12-09 01:33] deniederhut commented on #3652
@whedon generate pdf

[2021-12-09 01:33] whedon commented on #3652
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03652/joss.03652/10.21105.joss.03652.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03652/joss.03652/10.21105.joss.03652.pdf) :page_facing_up: :point_left:

[2021-12-09 06:20] BreezeWhite commented on #3391
Hi @faroit, thanks for the update. I've published a new version `v0.5.0` that includes all the reviewed contents. The DOI is `https://zenodo.org/record/5769022`.
I'm not sure what you mean about the *archive title*. Do you mean the release title? And where should I refer author names to the 'archive'?

[2021-12-09 07:33] faroit commented on #3391
@BreezeWhite the archive (zenodo) looks good. Please have a look at https://github.com/Music-and-Culture-Technology-Lab/omnizart/issues/49 again before we can proceed with the final accept of this paper.

[2021-12-09 07:34] faroit commented on #3391
@whedon set v0.5.0 as version

[2021-12-09 07:34] whedon commented on #3391
OK. v0.5.0 is the version.

[2021-12-09 07:35] faroit commented on #3391
@whedon set 10.5281/zenodo.5769022 as archive

[2021-12-09 07:35] whedon commented on #3391
OK. <a href="https://doi.org/10.5281/zenodo.5769022" target="_blank">10.5281/zenodo.5769022</a> is the archive.

[2021-12-09 07:39] faroit commented on #3347
@alicia-ziying-yang 👏

Thanks to again from my side to @sara-02 and @baileythegreen for the review!

[2021-12-09 07:55] jbytecode commented on #3984
Dear @tmigot

Do you have any suggestions for potential reviewers? You can also use the list [here](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822).
Please mention the GitHub users without using the @ character (just because we don't want to bother them with unnecessary notifications).

Thank you in advance.

[2021-12-09 07:56] jbytecode commented on #3984
@whedon check references from branch joss-paper-branch

[2021-12-09 07:56] whedon commented on #3984
[code]

[2021-12-09 07:59] whedon commented on #3984
[code]

[2021-12-09 07:59] jbytecode commented on #3984
@whedon generate pdf from branch joss-paper-branch

[2021-12-09 07:59] whedon commented on #3984
[code]

[2021-12-09 07:59] whedon commented on #3984
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03984/joss.03984/10.21105.joss.03984.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03984/joss.03984/10.21105.joss.03984.pdf) :page_facing_up: :point_left:

[2021-12-09 09:22] tpurcell90 commented on #3960
@ml-evs Thank you for your comments. I updated the paper in the `joss_review` branch.

I addressed all of the blocking comments and proofreading comments, except the typical problem scale which I will do in the documentation. I will also probably do another round of proofreading at the end of the submission process.

For the non-blocking comments, I agree it would be interesting/good to include th

[2021-12-09 09:22] tpurcell90 commented on #3960
@whedon generate pdf

[2021-12-09 09:22] whedon commented on #3960
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: :point_left:

[2021-12-09 09:23] tpurcell90 commented on #3960
@whedon commands

[2021-12-09 09:23] whedon commented on #3960
Here are some things you can ask me to do:

[code]

[2021-12-09 09:24] whedon commented on #3960
[code]

[2021-12-09 09:24] whedon commented on #3960
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: :point_left:

[2021-12-09 10:26] faroit commented on #3391
@whedon check references

[2021-12-09 10:27] faroit commented on #3391
@whedon generate pdf

[2021-12-09 10:28] whedon commented on #3391
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03391/joss.03391/10.21105.joss.03391.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03391/joss.03391/10.21105.joss.03391.pdf) :page_facing_up: :point_left:

[2021-12-09 10:30] faroit commented on #3391
@whedon recommend-accept

[2021-12-09 10:30] whedon commented on #3391
[code]

[2021-12-09 10:31] whedon commented on #3391
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2803

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2803, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-09 10:31] whedon commented on #3391
[code]

[2021-12-09 10:38] whedon commented on #3391
[code]

[2021-12-09 10:40] arfon commented on #3925
I do not, so let's keep things as they are.

[2021-12-09 10:42] mjsottile commented on #3896
Hi @slayoo : it appears that the reviewers who agreed to review have vanished and are unresponsive (unless you’ve heard from them outside this review thread).  This unfortunately happens sometimes.  I will identify alternative reviewers to replace them so the review doesn’t go idle.  Give me a day or so to find people to take their place.

[2021-12-09 10:49] mkitti commented on #3965
The authors present, Castor, a header-only C++ template library that emulates the high-level semantics of Matlab, a proprietary commerical product licensed by Mathworks, Inc (Natick, MA). This includes several classes to represent dense, sparse, and hierarchical matrices. They combine this with operators and functions to manipulate these matrices and perform linear algebra operations. This combina

[2021-12-09 12:00] mkitti commented on #3965
# Remarks on Summary, Statement of Need, and State of the Field

An important task for the paper and in the checklist is to establish who the audience is. As written, the paper seem mainly oriented at the MATLAB user who perhaps would like to port their code to C++. This would perhaps be motivated by seeking any of restrictions of the proprietary licensing of MATLAB.

There are several alternative

[2021-12-09 12:54] jbytecode commented on #3965
@mkitti - thank you for this comprehensive review. It is a good first round.

@matthieuaussal ‐ please follow the comments carefully and apply them, if you are not agree with the reviewer please discuss here why and why not.

[2021-12-09 13:08] tmigot commented on #3984
Dear @jbytecode ,

Checking interests in Julia programming and optimization, the following potential reviewers might be interested : matbesancon, aivodji, odow, degleris1, jbcaillau, justinsgray, mewilhel

[2021-12-09 13:20] Nikoleta-v3 commented on #3522
@whedon generate pdf from branch 2021-joss-paper

[2021-12-09 13:20] whedon commented on #3522
[code]

[2021-12-09 13:20] whedon commented on #3522
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03522/joss.03522/10.21105.joss.03522.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03522/joss.03522/10.21105.joss.03522.pdf) :page_facing_up: :point_left:

[2021-12-09 13:41] AndreWeiner commented on #3860
@whedon generate pdf

[2021-12-09 13:42] whedon commented on #3860
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03860/joss.03860/10.21105.joss.03860.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03860/joss.03860/10.21105.joss.03860.pdf) :page_facing_up: :point_left:

[2021-12-09 14:05] vissarion commented on #3732
@drewbitllama @astanziola could you please update us on the review process?

[2021-12-09 14:08] sbenthall commented on #3938
Right on. Thanks @chainsawriot

[2021-12-09 14:08] sbenthall commented on #3938
@alexhanna Would you be able to review this package?

[2021-12-09 14:10] sbenthall commented on #3845
@tuelwer Would you be able to review this submission?

[2021-12-09 14:11] sbenthall commented on #3845
@sayakpaul would you be able to review this submission?

[2021-12-09 14:20] AndreWeiner commented on #3860
Dear @Kevin-Mattheus-Moerman

- I changed labs to notebooks
- a snapshot of v1.0 is archived on Zenodo; [link](https://zenodo.org/record/5770244#.YbIPGLso9hE)
- software name, authors, orcids, etc. are the same for archive and article
- yes, the version is still *v1.0*

Best, Andre

[2021-12-09 14:34] linusseelinger commented on #3076
@pdebuyl The updated citations and all changes requested by reviewers are now part of MUQ 0.4.1. The corresponding zenodo DOI is now [10.5281/zenodo.5770267](https://doi.org/10.5281/zenodo.5770267). So, I think we should be good to go :)

[2021-12-09 14:34] WildfireXIII commented on #3652
@fabian-s hey if you get a chance, could you drop by https://github.com/ORNL/tx2/issues/1? There's some questions out of my scope.

[2021-12-09 14:44] pdebuyl commented on #3076
@whedon generate pdf

[2021-12-09 14:44] mparno commented on #3076
Thanks @linusseelinger

[2021-12-09 14:45] whedon commented on #3076
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: :point_left:

[2021-12-09 14:46] pdebuyl commented on #3076
@whedon set 0.4.1 as version

[2021-12-09 14:46] whedon commented on #3076
OK. 0.4.1 is the version.

[2021-12-09 14:47] pdebuyl commented on #3076
@whedon set  10.5281/zenodo.5770267 as archive

[2021-12-09 14:47] whedon commented on #3076
OK. <a href="https://doi.org/10.5281/zenodo.5770267" target="_blank">10.5281/zenodo.5770267</a> is the archive.

[2021-12-09 14:47] pdebuyl commented on #3076
Thanks all :-)

[2021-12-09 14:48] pdebuyl commented on #3076
@whedon recommend-accept

[2021-12-09 14:48] whedon commented on #3076
[code]

[2021-12-09 14:49] whedon commented on #3076
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2804

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2804, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-09 14:52] whedon commented on #3076
[code]

[2021-12-09 14:53] kostergroup commented on #3727
*So in the manual I think the section on trapping should be separated from the potential section (2.1.1) and given its own heading. I think in the trapping section you should explicitly call it SRH trapping/recombination – at the moment you cite the SR paper but don’t call it SRH. And possibly move the steady state SRH equation up into this section and explain the relationship between these two ap

[2021-12-09 15:16] astanziola commented on #3732
Hi @vissarion . I started to raise issues on the author's repository, but didn't have any feedback yet.

[2021-12-09 15:27] slayoo commented on #3896
Thank you, @mjsottile. (I haven't heard from the reviewers)

[2021-12-09 15:31] danielskatz commented on #3391
@BreezeWhite - I'm the AEiC who will accept and publish this, and while proofreading, I found a number of issues, addressed in https://github.com/Music-and-Culture-Technology-Lab/omnizart/pull/50 - please merge this, or let me know what you disagree with, then we can proceed.

[2021-12-09 15:32] vissarion commented on #3732
Hi @AlexanderMacL we kindly need your feedback here.

[2021-12-09 15:44] danielskatz commented on #3076
👋 @mparno - I'm the AEiC who will handle the rest of the publication process.

* Can you please remove the abstract fields from your bib entries?  For those that do not have DOIs, this is part of the XML record, and it might confuse the indexing service.
* Please also check cases of words in the bib file, and use {} to protect letters or words that should be upper case, e.g. {C}++, {S}tan {M}ath l

[2021-12-09 15:50] akaptano commented on #3845
Merged the branch into master, everything is now included in release 1.5.1, so regenerating the pdf here:

@whedon generate pdf

[2021-12-09 15:52] akaptano commented on #3845
@whedon generate pdf

[2021-12-09 15:53] whedon commented on #3845
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03845/joss.03845/10.21105.joss.03845.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03845/joss.03845/10.21105.joss.03845.pdf) :page_facing_up: :point_left:

[2021-12-09 16:00] jbytecode commented on #3984
@tmigot - thank you so much for the list, indeed, it is very helpful.

[2021-12-09 16:01] alexhanna commented on #3938
Don't have bandwidth right now, but thanks for thinking of me.

On Thu, Dec 9, 2021 at 6:09 AM Sebastian Benthall ***@***.***>
wrote:

--
Alex Hanna, PhD
alex-hanna.com
Senior Research Scientist | Google
Lecturer | UC Berkeley School of Information
Co-Chair, Sociologists for Trans Justice (s4tj.com)
Book some time with me: https://calendly.com/dr-alex-hanna

[2021-12-09 16:02] jbytecode commented on #3984
👋👋👋 Dear @matbesancon  and  @aivodji  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**DCISolver.jl: A Julia Solver for Nonlinear Optimization using Dynamic Control of Infeasibility**". You can find more information at

[2021-12-09 16:03] mhesselbarth commented on #3811
@arfon

Reminder that in the footer my name is abbreviated by "Hesselbarth, M. H. [...]", however, it should be "Hesselbarth, M. H. K. [...]".

[2021-12-09 16:05] kbenoit commented on #3938
Sure

[2021-12-09 16:06] whedon opened #3985 "[PRE REVIEW]: SurfinPy 2.0: A Phase Diagram Generator for Surfaces and Bulk Phases"
**Submitting author:** @jstse (<a href="http://orcid.org/0000-0002-1320-557X">Joshua Tse</a>)
**Repository:** <a href="https://github.com/symmy596/SurfinPy" target ="_blank">https://github.com/symmy596/SurfinPy</a>
**Version:** v2.0
**Editor:** @lucydot
**Reviewers:** @awvwgk
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-12-09 16:06] whedon commented on #3985
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-09 16:06] whedon opened #3986 "[PRE REVIEW]: TransBigData: A Python package for transportation spatio-temporal big data processing, analysis and visualization"
**Submitting author:** @ni1o1 (<a href="http://orcid.org/0000-0003-2513-2969">Qing Yu</a>)
**Repository:** <a href="https://github.com/ni1o1/transbigdata" target ="_blank">https://github.com/ni1o1/transbigdata</a>
**Version:** v0.2.7
**Editor:** @martinfleis
**Reviewers:** @jGaboardi, @anitagraser
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-12-09 16:06] whedon commented on #3986
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-09 16:06] whedon commented on #3985
[code]

[2021-12-09 16:06] whedon commented on #3985
Wordcount for `paper.md` is 686

[2021-12-09 16:06] whedon opened #3987 "[PRE REVIEW]: Calcs: A Python package for calculating stellar chromospheric activity parameters of Ca II H&K lines with LAMOST LRS spectra"
**Submitting author:** @yoxilyze (<a href="http://orcid.org/0000-0001-5299-9715">张伟涛</a>)
**Repository:** <a href="https://github.com/sadatalib/calcs" target ="_blank">https://github.com/sadatalib/calcs</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic

[2021-12-09 16:06] whedon commented on #3985
[code]

[2021-12-09 16:06] whedon commented on #3987
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-09 16:06] whedon commented on #3986
Wordcount for `paper.md` is 623

[2021-12-09 16:06] whedon commented on #3985
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03985/joss.03985/10.21105.joss.03985.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03985/joss.03985/10.21105.joss.03985.pdf) :page_facing_up: :point_left:

[2021-12-09 16:06] whedon commented on #3987
Wordcount for `paper.md` is 1007

[2021-12-09 16:06] whedon commented on #3987
[code]

[2021-12-09 16:07] whedon commented on #3987
[code]

[2021-12-09 16:07] whedon commented on #3986
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03986/joss.03986/10.21105.joss.03986.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03986/joss.03986/10.21105.joss.03986.pdf) :page_facing_up: :point_left:

[2021-12-09 16:07] whedon commented on #3987
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03987/joss.03987/10.21105.joss.03987.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03987/joss.03987/10.21105.joss.03987.pdf) :page_facing_up: :point_left:

[2021-12-09 16:07] whedon commented on #3986
[code]

[2021-12-09 16:08] danielskatz commented on #3987
👋 @yoxilyze - This paper does not meeting the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criteria for review by JOSS, so we will not be reviewing it.

[2021-12-09 16:08] danielskatz commented on #3987
@whedon reject

[2021-12-09 16:08] whedon commented on #3987
Paper rejected.

[2021-12-09 16:08] #3987 closed

[2021-12-09 16:11] danielskatz commented on #3985
@jstse - your paper does not have any references, which is very unusual. Is there no previous work that you are basing this work on, such as papers, books, software, etc.?  Please see https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography for an example of how to do this.

[2021-12-09 16:12] danielskatz commented on #3985
@whedon invite @lucydot as editor

[2021-12-09 16:12] whedon commented on #3985
@lucydot has been invited to edit this submission.

[2021-12-09 16:15] danielskatz commented on #3986
👋 @martinfleis - you've been suggested as the editor - are you able to do this?

A first step would be to do some minor proofreading of the paper and the references, including missing DOIs

[2021-12-09 16:15] danielskatz commented on #3986
@whedon invite @martinfleis as editor

[2021-12-09 16:15] whedon commented on #3986
@martinfleis has been invited to edit this submission.

[2021-12-09 16:33] martinfleis commented on #3986
@whedon assign me as editor

@danielskatz yes, I am able to edit this paper.

[2021-12-09 16:41] martinfleis commented on #3761
@whedon remove @1tylermitchell as reviewer

[2021-12-09 16:42] whedon commented on #3761
OK, @1tylermitchell is no longer a reviewer

[2021-12-09 16:44] jstse commented on #3985
@whedon generate pdf

[2021-12-09 16:44] jstse commented on #3985
Reference should now be fixed

[2021-12-09 16:44] whedon commented on #3985
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03985/joss.03985/10.21105.joss.03985.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03985/joss.03985/10.21105.joss.03985.pdf) :page_facing_up: :point_left:

[2021-12-09 17:19] MamadouSDiallo commented on #3376
Dear @whedon, @arfon, @rchew , @soodoku

Thank you very much for the review. It was really a pleasure working with you.

Best wishes to you all

[2021-12-09 17:29] sandrinecharles commented on #3200
OK I will check; this is probably due to the fact that this reference in a regulatory document not a standard article.

[2021-12-09 17:33] danielskatz commented on #3970
@LeonidPryadko - You also need a create a README in your repo.

[2021-12-09 17:40] christinahedges commented on #3838
@ilyamandel, can I prompt you to check back in with us about how you'd like to proceed with the feedback from the review?

[2021-12-09 17:40] kbarnhart commented on #3658
@nvanderelst a quick ping to answer questions in the above comment. Thanks!

[2021-12-09 17:41] sandrinecharles commented on #3200
@KristinaRiemer The paper.bib file has been updated regarding OECD TG 211 (page number and year).

[2021-12-09 17:49] linusseelinger commented on #3076
@danielskatz Thanks! I updated the references in our repo accordingly.

[2021-12-09 17:52] danielskatz commented on #3076
@whedon recommend-accept

[2021-12-09 17:52] whedon commented on #3076
[code]

[2021-12-09 17:53] sandrinecharles commented on #3200
Caps are now removed on line 29, while the abbreviation TKTD is directly used on line 37.

done

done

done

Changes as "and the Survival Probability Prediction Error (SPPE) at the end of the exposure profile.".

Additionally, line 42, "frequestist" was changed to "frequentist".

The github repository of the paper has been updated accordingly.

[2021-12-09 17:55] whedon commented on #3076
[code]

[2021-12-09 17:57] danielskatz commented on #3076
@whedon accept deposit=true

[2021-12-09 17:57] whedon commented on #3076
[code]

[2021-12-09 17:58] whedon commented on #3076
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2806
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03076](https://doi.org/10.21105/joss.03076)
2. If everything look

[2021-12-09 18:05] danielskatz commented on #3076
Congratulations to @mparno (Matthew Parno) and co-authors!!

And thanks to @martinmodrak and @georgiastuart for reviewing, and @pdebuyl for editing!
We couldn't do this without you

[2021-12-09 18:05] #3076 closed

[2021-12-09 18:05] whedon commented on #3076
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03076/status.svg)](https://doi.org/10.21105/joss.03076)

**We need your help!**

Journal of Open Source Softwa

[2021-12-09 18:11] fboehm commented on #3417
Thank you, @jponnela and @biblicabeebli ! Please report here two pieces of information: 1. the doi for the zenodo archive and 2. the version number for the release. Thanks again!

[2021-12-09 18:14] KristinaRiemer commented on #3200
@whedon generate pdf

[2021-12-09 18:14] KristinaRiemer commented on #3200
@whedon check references

[2021-12-09 18:15] whedon commented on #3200
[code]

[2021-12-09 18:15] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-12-09 18:15] jponnela commented on #3417
Hi @fboehm and @biblicabeebli! The DOI is 10.5281/zenodo.5758811. I called the version number of the release v1.0.0.

[2021-12-09 18:18] LeonidPryadko commented on #3970
Dear Daniel:

As for reviewers, I may suggest Cristophe Vuillot <
***@***.***> and Nikolas Breuckmann ***@***.***> ;
these people have used GAP and also know about quantum error correcting
codes.

Regarding the README, the distribution already has a short README.md file.
Would you like me to rename it to just README, or add details?

Thanks,

Leonid

On Thu, Dec 9, 2021 at 9:33 AM Daniel S. Katz *

[2021-12-09 18:27] danielskatz commented on #3970
@LeonidPryadko - as you can see on https://github.com/openjournals/joss-reviews/issues/3970#issuecomment-990104679, those emails didn't come across in a useful way. Can you type them into this thread, rather than replying by email?

And the README I see is https://github.com/QEC-pages/QDistRnd/blob/main/README.md  - this doesn't meet what JOSS requires in https://joss.readthedocs.io/en/latest/revi

[2021-12-09 18:28] KristinaRiemer commented on #3200
Thanks for making those edits to the text!

The references look pretty good, these were the only small errors I found:

- replace link in ref for "A Bayesian Approach to Analyzing Ecotoxicological Data" with DOI (see whedon reference check above)
- that same reference also has you listed as author twice
- the "Modelling survival under chemical stress" reference link returned that that page isn't f

[2021-12-09 18:51] cjbarrie commented on #3538
@Nikoleta-v3 may I suggest as an alternative reviewer Will Hanley (@whanley) who I know has experience of using dair and will be able to review speedily. He has told me in principle he's open to reviewing. I only suggest this as I'm conscious that this has review process has been stalling a while now since I reviewed and I wanted to help it along.

[2021-12-09 18:56] pdebuyl commented on #3076
Thanks Daniel :-)

[2021-12-09 19:01] mparno commented on #3076
Thanks @pdebuyl @danielskatz @georgiastuart and @martinmodrak .   We really appreciate all of your time.  You've definitely helped us make MUQ a better package.

[2021-12-09 19:20] jedbrown commented on #2565
@whedon generate pdf

[2021-12-09 19:20] whedon commented on #2565
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02565/joss.02565/10.21105.joss.02565.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02565/joss.02565/10.21105.joss.02565.pdf) :page_facing_up: :point_left:

[2021-12-09 19:28] RafalKucharskiPK commented on #3761
Hi,
sorry about that - I hope to give you feedback before christmas. I already run simulations and took a look at the text.
PS. Do we wait for another reviewer or does it rely on my opinion only now?

[2021-12-09 19:30] tbirkandan commented on #3962
Dear Daniel,

I am experiencing some problems with my computer. Could you give me one
more day to decide? I will try to resolve the issues.

Best regards,
Tolga Birkandan

On Wed, Dec 8, 2021 at 5:41 PM Daniel S. Katz ***@***.***>
wrote:

[2021-12-09 19:30] villaa commented on #3932
@matthewfeickert -- has there been any progress on this? I'm eager to get this paper into review.

[2021-12-09 19:33] danielskatz commented on #3962
sure @tbirkandan - thanks for considering or suggesting others

[2021-12-09 19:40] martinfleis commented on #3761
Thanks, @RafalKucharskiPK!

I am looking for another reviewer at the moment.

[2021-12-09 19:41] mcs07 commented on #3951
To update: I am currently testing the functionality. General checks, installation, documentation - all looks good. I have added some additional comments and suggestions about the manuscript in https://github.com/volkamerlab/opencadd/issues/133.

[2021-12-09 20:13] jstse commented on #3985
Possible reviewers:
- dandavies99
- mkhorton

[2021-12-09 20:19] villaa commented on #3932
@lucydot I have consulted the [reviewer spreadsheet ](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) and I think perhaps the following is a reasonable pool of reviewers to pull from: @temken, @zonca, @bradkav, @sskutnik, @williamfgc, @andrewryh/

[2021-12-09 20:30] sandrinecharles commented on #3200
DOI added

corrected

I removed the isbn number as it does not appear ont the web page. The URL is correct: https://leanpub.com/guts_book.

Yes! changed.

The github repository of the paper has been updated accordingly just few minutes ago.

[2021-12-09 20:34] KristinaRiemer commented on #3200
@whedon check references

[2021-12-09 20:34] whedon commented on #3200
[code]

[2021-12-09 20:35] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-12-09 20:38] KristinaRiemer commented on #3200
Great, thanks for making all those changes! The paper looks good now to me.

The next steps are to: 1) [create a tagged release](https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository#creating-a-release) on GitHub and 2) archive the code (on Zenodo, figshare, institutional repository, etc.) to generate a DOI. If you can post a link to the DOI here wh

[2021-12-09 21:41] sandrinecharles commented on #3200
Dear @KristinaRiemer, here is the DOI: 10.5281/zenodo.5771022
Best, Sandrine

[2021-12-09 21:49] iannesbitt commented on #2565
Hi @jedbrown, here is the tag and DOI record.

Release: [1.1.0](https://github.com/raspishake/rsudp/releases/tag/1.1.0)
Zenodo: https://zenodo.org/record/5771026
doi: [10.5281/zenodo.5771026](https://doi.org/10.5281/zenodo.5771026)

[2021-12-09 22:25] steko commented on #3738
@whedon generate pdf

[2021-12-09 22:26] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2021-12-09 22:41] zonca commented on #3932
Bad timing, can't make it

[2021-12-09 23:21] alex2cris commented on #3790
@whedon generate pdf

[2021-12-09 23:21] whedon commented on #3790
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03790/joss.03790/10.21105.joss.03790.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03790/joss.03790/10.21105.joss.03790.pdf) :page_facing_up: :point_left:

[2021-12-09 23:31] bradkav commented on #3932
Sorry - I don't think I can take anything else on before Christmas.

[2021-12-10 01:40] BreezeWhite commented on #3391
@danielskatz thanks for the proofreading, I've merged the pull request.

[2021-12-10 01:49] danielskatz commented on #3391
@whedon recommend-accept

[2021-12-10 01:49] whedon commented on #3391
[code]

[2021-12-10 01:49] whedon commented on #3391
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2807

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2807, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-10 01:51] whedon commented on #3391
[code]

[2021-12-10 01:51] danielskatz commented on #3391
@whedon accept deposit=true

[2021-12-10 01:51] whedon commented on #3391
[code]

[2021-12-10 01:52] whedon commented on #3391
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1469122755723419649) 👈 🐦🐦🐦

[2021-12-10 01:52] whedon commented on #3391
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2808
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03391](https://doi.org/10.21105/joss.03391)
2. If everything look

[2021-12-10 01:58] danielskatz commented on #3391
Congratulations to @BreezeWhite (Yu Te Wu) and co-authors!!

And thanks to @hagenw and @keunwoochoi for reviewing, and @faroit for reviewing!
We couldn't do this without you

[2021-12-10 01:58] #3391 closed

[2021-12-10 01:58] whedon commented on #3391
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03391/status.svg)](https://doi.org/10.21105/joss.03391)

**We need your help!**

Journal of Open Source Softwa

[2021-12-10 03:24] mjsottile commented on #3896
:wave: @d-chambers Would you be willing to perform a review for this submission to the Journal of Open Source Software?  I identified you based on your areas of expertise as listed on the spreadsheet of potential JOSS reviewers.  Please let me know if you would be interested.  Thank you!

[2021-12-10 03:26] mjsottile commented on #3896
👋 @highlando Would you be willing to perform a review for this submission to the Journal of Open Source Software? I identified you based on your areas of expertise as listed on the spreadsheet of potential JOSS reviewers. Please let me know if you would be interested. Thank you!

[2021-12-10 03:44] esteinig commented on #2991
@Kevin-Mattheus-Moerman thanks so much for the final suggestions, will upload the new version over the weekend! (apologies for the delay)

[2021-12-10 03:50] callumrollo commented on #3947
There is a `notebooks` folder in the top level of the repo, with a jupyter notebook enticingly named `tutorial.ipynb`. However, these appears to be a demo for a lesson on packing or similar? Not sure what it's doing here. I'd suggest removing it lest potential users mistake it for a demo of the package functionality.

The documentation contains some great examples of package functionality. Perhaps

[2021-12-10 03:59] callumrollo commented on #3947
Reading the API documentation, I am unclear on the difference between these two methods of the Filter class:

apply(self, field_or_dataset, dims):
"""Filter a field or xarray dataset with scalar Laplacian across the
dimensions specified by dims."""

apply_to_field(self, field, dims):
"""Filter a field with scalar Laplacian across the dimensions specified by dims."""

If `apply` can process a field

[2021-12-10 04:07] callumrollo commented on #3947
While not essential, the maintainers might consider copying the contributing information on the docs website to CONTRIBUTING.md in the repo so github detects it and users can find it more easily

[2021-12-10 04:10] callumrollo commented on #3947
Similarly Issue and PR templates could make it easier for people to submit bug reports/requests etc. Again not an essential recommendation, it looks like the project is already dealing well with Issues and PRs

[2021-12-10 04:12] callumrollo commented on #3947
Overall a very impressive package. Some of the workings are a bit beyond me, but I managed to run some of the example code and mess around with filter kernels. Great testing suite! Once above small issues are considered, I'm happy for this to go to publication

[2021-12-10 05:14] jedbrown commented on #2565
@whedon set 1.1.0 as version

[2021-12-10 05:14] whedon commented on #2565
OK. 1.1.0 is the version.

[2021-12-10 05:14] jedbrown commented on #2565
@whedon set 10.5281/zenodo.5771026 as archive

[2021-12-10 05:14] whedon commented on #2565
OK. <a href="https://doi.org/10.5281/zenodo.5771026" target="_blank">10.5281/zenodo.5771026</a> is the archive.

[2021-12-10 05:15] jedbrown commented on #2565
@whedon recommend-accept

[2021-12-10 05:15] whedon commented on #2565
[code]

[2021-12-10 05:15] whedon commented on #2565
[code]

[2021-12-10 05:15] whedon commented on #2565
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2809

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2809, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-10 05:16] briochemc commented on #3814
@whedon generate pdf from branch JOSSpaper

[2021-12-10 05:16] whedon commented on #3814
[code]

[2021-12-10 05:17] whedon commented on #3814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: :point_left:

[2021-12-10 05:45] briochemc commented on #3814
Dear @kthyng,

We have revised the manuscript according to @dankelley's and @zhenwu0728 's review comments in [PR #87](https://github.com/JuliaOcean/AIBECS.jl/pull/87) (for convenience: [link to the diff of the manuscript since its first submission](https://github.com/JuliaOcean/AIBECS.jl/compare/04740b960819a74f7899ab5b26f7596fe0b009df...JOSSpaper#diff-b78ae3bcb0e076c47930040ffb0e3bd3cb6a3aaa232b

[2021-12-10 08:08] mikldk commented on #3979
@whedon check references

[2021-12-10 08:13] whedon commented on #3979
[code]

[2021-12-10 08:19] eloisabentivegna commented on #3908
Update: I am still trying to identify reviewers for this submission. @amoradinejad, you're welcome to make suggestions!

[2021-12-10 08:35] matthewfeickert commented on #3932
:wave: Hi @lucydot. Sure, I ran through a mini-review tonight following my previous set of review comments. Below are my notes on [`nrCascadeSim` `v1.2.3`](https://github.com/villano-lab/nrCascadeSim/releases/tag/v1.2.3).

The TL;DR though is that the team has made lots of great improvements here since their last submission and I think that all of my comments that I would raise in the review could

[2021-12-10 08:36] TNanukem commented on #3864
Hello @drj11. Thanks for the feedback, I will solve the issues during the weekend

[2021-12-10 08:39] temken commented on #3932
Thanks for the consideration. Unfortunately, I work only part-time until early next year, and I cannot not accept more referee requests until then. Apologies!

[2021-12-10 08:44] Mkoopm commented on #3727
@whedon <https://github.com/whedon> generate pdf

On Thu, 9 Dec 2021 at 15:54, kostergroup ***@***.***> wrote:

--
Marten Koopmans (PhD student)
Zernike Institute for Advanced Materials
University of Groningen
Website <https://www.rug.nl/staff/marten.koopmans/research>

[2021-12-10 08:45] whedon commented on #3727
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-10 08:49] Mkoopm commented on #3727
@whedon generate pdf

[2021-12-10 08:50] whedon commented on #3727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: :point_left:

[2021-12-10 09:03] fabian-sp commented on #3865
@gkthiruvathukal Is there anything left to do from our side?

[2021-12-10 09:39] imw commented on #3864
@TNanukem I also opened a couple of issues.:
https://github.com/TNanukem/scikit-net/issues/39
https://github.com/TNanukem/scikit-net/issues/40
Also quite minor. Nice library!

[2021-12-10 10:39] jameschapman19 commented on #3865
@gkthiruvathukal it no longer shows up sorry I missed the window! I'm free to do anything required today and tomorrow

[2021-12-10 10:58] mikldk commented on #3979
@whedon generate pdf

[2021-12-10 10:59] whedon commented on #3979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: :point_left:

[2021-12-10 11:00] mikldk commented on #3979
@erikcs, @rrrlw: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review thre

[2021-12-10 11:02] KAClough commented on #3703
Ok, I think I've done it:

https://zenodo.org/record/5771949#.YbMzsS-l2Ak

Let me know if anything looks wrong!

[2021-12-10 11:05] williamfgc commented on #3932
I'll be happy to take a look in January, I'm taking a long break around the holidays with little computer access. Thanks also for the consideration.

[2021-12-10 11:50] fraukewiese commented on #3861
@ralphevins @samanmostafavi Could you update us on how the review is going?
Thank you.

[2021-12-10 12:54] danielskatz commented on #3865
@whedon re-invite @jameschapman19 as reviewer

[2021-12-10 12:55] whedon commented on #3865
OK, the reviewer has been re-invited.

@jameschapman19 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-10 13:00] danielskatz commented on #2565
@whedon accept deposit=true

[2021-12-10 13:00] whedon commented on #2565
[code]

[2021-12-10 13:01] whedon commented on #2565
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1469291087936241678) 👈 🐦🐦🐦

[2021-12-10 13:01] whedon commented on #2565
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2810
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02565](https://doi.org/10.21105/joss.02565)
2. If everything look

[2021-12-10 13:08] danielskatz commented on #2565
Congratulations to @iannesbitt (Ian Nesbitt) and co-authors!!

And thanks to @fwalter and @calum-chamberlain for reviewing, and @jedbrown for editing!
We couldn't do this without you

[2021-12-10 13:08] #2565 closed

[2021-12-10 13:08] whedon commented on #2565
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02565/status.svg)](https://doi.org/10.21105/joss.02565)

**We need your help!**

Journal of Open Source Softwa

[2021-12-10 13:23] JasonGellis commented on #3738
@steko @Nikoleta-v3 Great! What are the next steps  on my end?

[2021-12-10 13:47] rkurchin commented on #3703
@whedon set doi as 10.5281/zenodo.5771949

[2021-12-10 13:47] whedon commented on #3703
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-10 13:47] rkurchin commented on #3703
@whedon commands

[2021-12-10 13:48] rkurchin commented on #3703
@whedon set 10.5281/zenodo.5771949 as archive

[2021-12-10 13:48] whedon commented on #3703
OK. <a href="https://doi.org/10.5281/zenodo.5771949" target="_blank">10.5281/zenodo.5771949</a> is the archive.

[2021-12-10 13:50] rkurchin commented on #3703
Awesome! Please generate a version tag at the commit corresponding to the Zenodo deposit and reply here with the associated version number.

[2021-12-10 13:57] Nikoleta-v3 commented on #3522
@whedon check references

[2021-12-10 14:02] jameschapman19 commented on #3865
Done

[2021-12-10 14:04] Nikoleta-v3 commented on #3522
Thank you very much for your patience @remram44! Everything looks good 👍🏻

There are just two minor typos in the paper.  Line 6 `helps` instead of `help` and line `performs` instead of `perform`

After you tweak the paper could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar servic

[2021-12-10 14:04] Nikoleta-v3 commented on #3522
@whedon check references

[2021-12-10 14:05] rkurchin commented on #3703
@whedon set v1.0 as version

[2021-12-10 14:05] whedon commented on #3703
OK. v1.0 is the version.

[2021-12-10 14:05] rkurchin commented on #3703
@whedon generate pdf from branch feature/joss-paper

[2021-12-10 14:05] whedon commented on #3703
[code]

[2021-12-10 14:05] whedon commented on #3703
PDF failed to compile for issue #3703 with the following error:
[code]

[2021-12-10 14:06] rkurchin commented on #3703
@whedon generate pdf from branch feature/joss_paper

[2021-12-10 14:06] Nikoleta-v3 commented on #3522
@whedon check references from branch 2021-joss-paper

[2021-12-10 14:06] whedon commented on #3703
[code]

[2021-12-10 14:06] whedon commented on #3522
[code]

[2021-12-10 14:07] whedon commented on #3703
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03703/joss.03703/10.21105.joss.03703.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03703/joss.03703/10.21105.joss.03703.pdf) :page_facing_up: :point_left:

[2021-12-10 14:09] whedon commented on #3522
[code]

[2021-12-10 14:10] rkurchin commented on #3703
@whedon recommend-accept

🚀 🚀 🚀

Congrats again, all! And apologies if I've been inadvertently spamming your email notifications with my typos this morning as I wrap this up! 🤪

[2021-12-10 14:10] whedon commented on #3703
[code]

[2021-12-10 14:10] whedon commented on #3703
PDF failed to compile for issue #3703 with the following error:
[code]

[2021-12-10 14:14] Nikoleta-v3 commented on #3538
Hey @cjbarrie 😄  Thank you so much for your suggestion and for taking the time to suggest a second reviewer!

I have spoken with @geraintpalmer and I know that he is currently reviewing the paper. So the submission should be moving forward very soon.

I am a new editor and I hadn’t thought of asking you (or someone who has completed their review) for suggestions in case the other reviewer dropped

[2021-12-10 14:15] danielskatz commented on #3865
@whedon recommend-accept

[2021-12-10 14:15] whedon commented on #3865
[code]

[2021-12-10 14:16] whedon commented on #3865
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2811

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2811, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-10 14:16] Nikoleta-v3 commented on #3738
👋🏻 @JasonGellis. Nothing to do on your end. We are currently waiting on @MichaelHoltonPrice to also review your changes :)

[2021-12-10 14:17] whedon commented on #3865
[code]

[2021-12-10 14:18] danielskatz commented on #3703
@whedon recommend-accept from branch feature/joss_paper

@rkurchin - you need to add the branch when the paper is in one...

[2021-12-10 14:18] whedon commented on #3703
[code]

[2021-12-10 14:19] danielskatz commented on #3703
@rkurchin - let me know if this all looks ok when it finishes, then I will proofread it and move it forward

[2021-12-10 14:19] whedon commented on #3703
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2812

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2812, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-10 14:20] whedon commented on #3703
[code]

[2021-12-10 14:20] Nikoleta-v3 commented on #3743
Hey @EgorOrachyov! Any update on your progress? 😄 and @abb58, please let us know how your review is going 😄

[2021-12-10 14:21] rkurchin commented on #3703
Oops, didn't realize I needed to do it for the accept too, but that makes perfect sense, my bad!

@KAClough can you fix that one missing DOI?

[2021-12-10 14:25] fboehm commented on #3417
@whedon set 10.5281/zenodo.5758811 as archive

[2021-12-10 14:26] whedon commented on #3417
OK. <a href="https://doi.org/10.5281/zenodo.5758811" target="_blank">10.5281/zenodo.5758811</a> is the archive.

[2021-12-10 14:27] remram44 commented on #3522
Thanks @Nikoleta-v3, the latest release is [1.1.1](https://gitlab.com/remram44/taguette/-/tags/v1.1.1) and has DOI [`10.5281/zenodo.5574555`](https://doi.org/10.5281/zenodo.5574555).

I have fixed the typos in the paper.

[2021-12-10 14:27] fboehm commented on #3417
@whedon generate pdf

[2021-12-10 14:27] whedon commented on #3417
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: :point_left:

[2021-12-10 14:30] fboehm commented on #3417
@jponnela @biblicabeebli - would you please edit the title of the archive so that it matches exactly the title of the paper, Beiwe: A data collection platform for high-throughput digital phenotyping?

[2021-12-10 14:31] whedon commented on #3417
OK. v1.0.0 is the version.

[2021-12-10 14:32] iannesbitt commented on #2565
Thank you all for your contributions, and sorry it took so long!

[2021-12-10 14:34] Nikoleta-v3 commented on #3522
@remram44 sanity check: Sarah DeMott is not an author on the paper.

[2021-12-10 14:34] danielskatz commented on #3865
@fabian-sp - I've suggested a bunch of changes in https://github.com/fabian-sp/GGLasso/pull/32
Notable, if you say in the text `following [@ref]`, this should be just `following @ref` with `[@ref]` just used when the reference isn't explicit, e.g. `using the X method [@refX]`  Please merge the changes, ask whedon to regenerate the pdf (`@whedon generate pdf`) then carefully check the pdf to make s

[2021-12-10 14:35] fboehm commented on #3417
@jponnela @biblicabeebli - once the archive title is updated, the submission will then be handed off to an associate editor in chief. They'll do the final checks before publication.

[2021-12-10 14:39] danielskatz commented on #3985
@whedon check references

[2021-12-10 14:39] whedon commented on #3985
[code]

[2021-12-10 14:40] danielskatz commented on #3985
Also a note from the submission for @lucydot (or the editor, if someone else)

[2021-12-10 14:40] whedon opened #3988 "[PRE REVIEW]: text2sdg: An open-source solution to monitoring sustainable development goals from text"
**Submitting author:** @psychobas (<a href="http://orcid.org/0000-0002-3999-1388">Dominik S. Meier</a>)
**Repository:** <a href="https://github.com/dwulff/text2sdg" target ="_blank">https://github.com/dwulff/text2sdg</a>
**Version:** 0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-12-10 14:40] whedon commented on #3988
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-10 14:41] whedon commented on #3988
Failed to discover a valid open source license.

[2021-12-10 14:41] whedon commented on #3988
PDF failed to compile for issue #3988 with the following error:
[code]

[2021-12-10 14:41] danielskatz commented on #3988
@whedon generate pdf from branch joss

[2021-12-10 14:41] whedon commented on #3988
[code]

[2021-12-10 14:41] danielskatz commented on #3988
@whedon check references from branch joss

[2021-12-10 14:41] whedon commented on #3988
[code]

[2021-12-10 14:42] whedon commented on #3988
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03988/joss.03988/10.21105.joss.03988.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03988/joss.03988/10.21105.joss.03988.pdf) :page_facing_up: :point_left:

[2021-12-10 14:42] whedon commented on #3988
[code]

[2021-12-10 14:42] KAClough commented on #3703
Done! Thanks @rkurchin, and no need to apologise for the spam :-)

[2021-12-10 14:43] danielskatz commented on #3988
@psychobas - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOI that whedon suggests, but no

[2021-12-10 14:43] danielskatz commented on #3988
@whedon query scope

[2021-12-10 14:43] whedon commented on #3988
Submission flagged for editorial review.

[2021-12-10 14:43] rkurchin commented on #3703
@whedon recommend-accept from branch feature/joss_paper

[2021-12-10 14:43] whedon commented on #3703
[code]

[2021-12-10 14:44] fabian-sp commented on #3865
@whedon generate pdf

[2021-12-10 14:44] remram44 commented on #3522
I didn't know that the authors had to match exactly (I didn't see this in [the guidelines](https://joss.readthedocs.io/en/latest/submitting.html)).

Sarah provided the initial idea and is our dear friend but she has not contributed to the software so I don't think she ought to be listed as author. She is acknowledged in the paper. I could update Zenodo but there are 13 versions :sweat_smile:

[2021-12-10 14:44] whedon commented on #3703
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2813

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2813, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-10 14:44] whedon commented on #3865
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03865/joss.03865/10.21105.joss.03865.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03865/joss.03865/10.21105.joss.03865.pdf) :page_facing_up: :point_left:

[2021-12-10 14:45] whedon commented on #3703
[code]

[2021-12-10 14:47] Nikoleta-v3 commented on #3522
Thank you for you reply! Note that I tweaked my initial comment. I think though it's the preferred option it's not a hard requirement!

[2021-12-10 14:48] tiburoch commented on #3724
Thank you @srmnitc for your time and your encouraging review. I  will try to address your points by next week.

[2021-12-10 14:48] Nikoleta-v3 commented on #3522
So please ignore my [comment](https://github.com/openjournals/joss-reviews/issues/3522#issuecomment-991025948).

Re Sarah, it was just a sanity check 👍🏻

[2021-12-10 14:49] Nikoleta-v3 commented on #3522
@whedon set 10.5281/zenodo.5574555 as archive

[2021-12-10 14:49] whedon commented on #3522
OK. <a href="https://doi.org/10.5281/zenodo.5574555" target="_blank">10.5281/zenodo.5574555</a> is the archive.

[2021-12-10 14:50] Nikoleta-v3 commented on #3522
@whedon set 1.1.1 as version

[2021-12-10 14:50] whedon commented on #3522
OK. 1.1.1 is the version.

[2021-12-10 14:56] fabian-sp commented on #3865
@danielskatz Thank you for the editing suggestions, I checked the refs and they look good to me.

[2021-12-10 14:57] danielskatz commented on #3703
Hi @KAClough - the way the captions and the images fit together in the pdf isn't quite right. I wonder if you could try adding a blank link between the image and the caption, for example in line 195.  Also, some of the cases in the bib entries aren't right, for example, "Universe" in Adamek should be "universe", and Andrade should be "Violations of weak cosmic ..."

Can you make appropriate change

[2021-12-10 15:03] remram44 commented on #3522
I see! I have updated the title, let me know if there's anything else. Thank you so much!

[2021-12-10 15:13] Nikoleta-v3 commented on #3522
@whedon recommend-accept

[2021-12-10 15:13] whedon commented on #3522
[code]

[2021-12-10 15:13] whedon commented on #3522
PDF failed to compile for issue #3522 with the following error:
[code]

[2021-12-10 15:15] Nikoleta-v3 commented on #3522
@whedon recommend-accept from branch 2021-joss-paper

[2021-12-10 15:15] whedon commented on #3522
[code]

[2021-12-10 15:16] whedon commented on #3522
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2814

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2814, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-10 15:18] whedon commented on #3522
[code]

[2021-12-10 15:20] cjbarrie commented on #3538
Thanks @Nikoleta-v3! And good to hear this is progressing :)

[2021-12-10 15:23] danielskatz commented on #3865
@whedon accept deposit=true

[2021-12-10 15:23] whedon commented on #3865
[code]

[2021-12-10 15:24] whedon commented on #3865
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1469327079594471429) 👈 🐦🐦🐦

[2021-12-10 15:24] whedon commented on #3865
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2815
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03865](https://doi.org/10.21105/joss.03865)
2. If everything look

[2021-12-10 15:25] JohnCremona commented on #3962
No, I am not able to do this.

On Wed, 8 Dec 2021, 14:41 Daniel S. Katz, ***@***.***> wrote:

[2021-12-10 15:27] whedon commented on #3659
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03659/joss.03659/10.21105.joss.03659.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03659/joss.03659/10.21105.joss.03659.pdf) :page_facing_up: :point_left:

[2021-12-10 15:29] KristinaRiemer commented on #3200
Hi @sandrinecharles, could you make the Zenodo archive title match the paper title?

[2021-12-10 15:35] danielskatz commented on #3522
@remram44 - I've suggested two sets of changes, one for the paper (wording), and one for the bib (to remove abstracts that don't need to be sent to crossref)
* https://gitlab.com/remram44/taguette/-/merge_requests/105
* https://gitlab.com/remram44/taguette/-/merge_requests/106

If you can merge these, or let me know what you disagree with, then we can proceed to publication

[2021-12-10 15:35] szhorvat commented on #3968
@drvinceknight: This is my final report.

----

In the past few days, I have been thinking about how to go forward with the review. My opinion is that the submission to JOSS was premature. This package certainly shows promise, and I think it would make sense to resubmit it in the future, maybe in a year's time. However, trying to work out all the issues within the timeframe of the review does not

[2021-12-10 15:35] danielskatz commented on #3865
Congratulations to @fabian-sp (Fabian Schaipp) and co-authors!!

And thanks to @papachristoumarios and @jameschapman19 for reviewing, and @gkthiruvathukal for editing!
We couldn't do this without you

[2021-12-10 15:35] #3865 closed

[2021-12-10 15:36] whedon commented on #3865
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03865/status.svg)](https://doi.org/10.21105/joss.03865)

**We need your help!**

Journal of Open Source Softwa

[2021-12-10 15:36] KAClough commented on #3703
@danielskatz I've updated for this here:

https://github.com/GRChombo/GRChombo/commit/1e97143a644b94bfe6ec1f57017e716056344d61

Let me know if there is anything else.

[2021-12-10 15:40] danielskatz commented on #3703
Thanks - for what it's worth in the bib entries, you are using `"{entry}"` rather than just `{entry}`, which makes your entries be used literally, rather than bibtex doing the work.  As long as they right, it doesn't really matter, but in general, it would be better to let the style be figured out by the tools.

[2021-12-10 15:40] danielskatz commented on #3703
@whedon generate pdf from branch feature/joss_paper

[2021-12-10 15:40] whedon commented on #3703
[code]

[2021-12-10 15:41] whedon commented on #3703
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03703/joss.03703/10.21105.joss.03703.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03703/joss.03703/10.21105.joss.03703.pdf) :page_facing_up: :point_left:

[2021-12-10 15:41] NoraLoose commented on #3947
Thanks for your comments and suggestions, @callumrollo! The 2 PRs and 2 issues that I linked above are in response to your 4 comments. We will try to resolve these issues and PRs asap.

[2021-12-10 15:45] danielskatz commented on #3703
@whedon accept deposit=true from branch feature/joss_paper

[2021-12-10 15:45] whedon commented on #3703
[code]

[2021-12-10 15:46] whedon commented on #3703
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1469332619166949380) 👈 🐦🐦🐦

[2021-12-10 15:46] whedon commented on #3703
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2816
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03703](https://doi.org/10.21105/joss.03703)
2. If everything look

[2021-12-10 15:46] villaa commented on #3932
@lucydot I have added the following to the pool of potential reviewers that I've cultivated: @danehkar, @smsharma, @AstroBarker, @ziotom78, @manodeep, @kostunin, @aureliocarnero .

Would any of those people be available for this review?

[2021-12-10 15:50] kostunin commented on #3932
This is bit out of my expertise (will take longer to get into problem then usual), but I can recommend @altavir as a reviewer

[2021-12-10 15:53] smsharma commented on #3932
Similarly somewhat out of my scope, thank you for considering!

[2021-12-10 15:54] danielskatz commented on #3703
Congratulations to  @KAClough (Katy Clough) and many, many co-authors!!

And thanks to @Sbozzolo and @rashti-alireza for reviewing, and @rkurchin for editing!
We couldn't do this without you

[2021-12-10 15:54] #3703 closed

[2021-12-10 15:54] whedon commented on #3703
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03703/status.svg)](https://doi.org/10.21105/joss.03703)

**We need your help!**

Journal of Open Source Softwa

[2021-12-10 16:02] KAClough commented on #3703
Many thanks from all the GRChombo-ers to all at JOSS for a great review :-) !

[2021-12-10 16:16] ziotom78 commented on #3932
It's outside my domain as well, and I am currently involved in two other reviews for JOSS, so I have to skip this one, sorry…

[2021-12-10 16:24] tbirkandan commented on #3962
Dear Daniel,

I solved the issues with my computer and I can review the submission
hilbertmodgroup <https://github.com/fredstro/hilbertmodgroup>.

Best regards,
Tolga Birkandan

On Thu, Dec 9, 2021 at 10:34 PM Daniel S. Katz ***@***.***>
wrote:

[2021-12-10 16:30] sandrinecharles commented on #3200
done :-)

[2021-12-10 16:53] KristinaRiemer commented on #3200
Perfect! Thank you.

[2021-12-10 16:53] KristinaRiemer commented on #3200
@whedon set 10.5281/zenodo.5771022 as archive

[2021-12-10 16:53] whedon commented on #3200
OK. <a href="https://doi.org/10.5281/zenodo.5771022" target="_blank">10.5281/zenodo.5771022</a> is the archive.

[2021-12-10 16:54] KristinaRiemer commented on #3200
@whedon set v3.1.0 as version

[2021-12-10 16:54] whedon commented on #3200
OK. v3.1.0 is the version.

[2021-12-10 16:54] KristinaRiemer commented on #3200
@whedon recommend-accept

[2021-12-10 16:54] whedon commented on #3200
[code]

[2021-12-10 16:54] whedon commented on #3200
[code]

[2021-12-10 16:55] KristinaRiemer commented on #3200
@sandrinecharles your submission is now going to be passed along to an EiC, who will do some final checks before publication.

[2021-12-10 16:55] whedon commented on #3200
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2817

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2817, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-10 16:56] matthieuaussal commented on #3965
@mkitti Many thanks for your review. We push an update which takes into account your remarks:

 + Summary :
 - We add a mention to BLAS and VTK
 - We remove IDE
 - We remove Julia

+ Statement of need
 - We precise that no existing libraries are same to matlab semantics for matrix manipulations, algebra and visu
 - We add a word to notebook using Cling

+ Statement of the field
We are not enthusia

[2021-12-10 16:56] danielskatz commented on #3962
@tbirkandan - thanks - I'll assign you, but we won't start the actual review until we find one more reviewer as well.

[2021-12-10 16:57] danielskatz commented on #3962
@whedon assign @tbirkandan as reviewer

[2021-12-10 16:57] whedon commented on #3962
OK, @tbirkandan is now a reviewer

[2021-12-10 16:57] matthieuaussal commented on #3965
@whedon generate pdf

[2021-12-10 16:58] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-10 17:32] danielskatz commented on #3200
@sandrinecharles - I've suggested a bunch of changes in https://github.com/pveber/morse/pull/292 - please merge this (or let me know what you disagree with), then run `@whedon generate pdf` to make sure everything still looks good to you, and let me know when you are ready to proceed to publication

[2021-12-10 17:39] danielskatz commented on #3962
👋 @edgarcosta, @videlec, @saraedum, @williamstein - Would one of you be willing to review this submission for JOSS? (And if not, can you recommend anyone else?)

JOSS is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!).

The review process at JOSS is unique: it takes place in a GitHub iss

[2021-12-10 17:48] pdebuyl commented on #3755
@whedon assign @JamieBamber as reviewer

[2021-12-10 17:48] whedon commented on #3755
OK, @JamieBamber is now a reviewer

[2021-12-10 17:48] danielskatz commented on #3522
@whedon recommend-accept from branch 2021-joss-paper

[2021-12-10 17:48] whedon commented on #3522
[code]

[2021-12-10 17:49] whedon commented on #3522
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2818

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2818, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-10 17:49] whedon commented on #3522
[code]

[2021-12-10 17:51] danielskatz commented on #3522
@whedon accept deposit=true from branch 2021-joss-paper

[2021-12-10 17:51] whedon commented on #3522
[code]

[2021-12-10 17:52] whedon commented on #3522
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1469364369393958913) 👈 🐦🐦🐦

[2021-12-10 17:52] whedon commented on #3522
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2819
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03522](https://doi.org/10.21105/joss.03522)
2. If everything look

[2021-12-10 17:54] calum-chamberlain commented on #2565
Good job all, and apologies again for my part in the hold-ups. Thank you for your patience @iannesbitt

[2021-12-10 17:57] danielskatz commented on #3522
Congratulations to @remram44 (Rémi Rampin) and coauthor!!

And thanks to @cmaimone and @vaneseltine for reviewing, and @Nikoleta-v3 for editing!
We couldn't do this without you

[2021-12-10 17:57] #3522 closed

[2021-12-10 17:57] whedon commented on #3522
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03522/status.svg)](https://doi.org/10.21105/joss.03522)

**We need your help!**

Journal of Open Source Softwa

[2021-12-10 18:07] mkitti opened #3989 "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

[2021-12-10 18:07] #3989 closed

[2021-12-10 18:07] mkitti commented on #3989
oops

[2021-12-10 18:34] jedbrown commented on #2565
Indeed, thank you all for your important work and patience.

[2021-12-10 18:43] altavir commented on #3932
Hi, thanks for a vote of confidence, @kostunin. I am not a fan of the C language and I am not familiar with the review process here, but I can review code both in terms of particle physics and software design.

[2021-12-10 19:26] mkitti commented on #3965
Thank you for the revisions.

The **summary** is much clearer now, and it fully encompasses the scope of the software.

For the **statement of the need**, discuss in general why the MATLAB semantics you do implement and why those are important and perhaps sufficient because certainly you do not implement all of MATLAB's semantics. For example, as far as I can tell, you do not have the [backslash o

[2021-12-10 20:09] sandrinecharles commented on #3200
@whedon generate pdf

[2021-12-10 20:09] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-12-10 20:41] sandrinecharles commented on #3200
@danielskatz A last edit change is needed at line 127:
"We will used the reduced version" --> "We will use the reduced version"

[2021-12-10 20:42] danielskatz commented on #3200
Please go ahead and make that change, then let me know

[2021-12-10 20:46] sandrinecharles commented on #3200
done, in push to https://github.com/pveber/morse/tree/master/paper

[2021-12-10 20:47] danielskatz commented on #3200
@whedon generate pdf

[2021-12-10 20:47] sandrinecharles commented on #3200
@danielskatz argh sorry I did a big mistake!!! I used the old paper.md file :-( I am stupid. How to repare this?

[2021-12-10 20:47] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-12-10 20:49] danielskatz commented on #3200
@sandrinecharles - you can go back to https://github.com/pveber/morse/blob/a5ed566cd4d9849b2105bd9b05c757a6d2f92be1/paper/paper.md and make the appropriate edit there

[2021-12-10 20:57] hcdenbakker commented on #3839
Hi @Ebedthan

Thanks again for your quick review and helpful comments!

I believe the code will benefit (issue here) from incorporating some advises as suggested by cargo clippy.

- We changed the code to accommodate most of the suggestions provided by `cargo clippy`

The README is well written however it might benefit from a clearer installation section. The installation section should be divided

[2021-12-10 20:59] sandrinecharles commented on #3200
@danielskatz thanks, it is repaired!

[2021-12-10 21:06] danielskatz commented on #3200
@whedon generate pdf

@sandrinecharles - please confirm the results of this are correct, then we'll proceed

[2021-12-10 21:06] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-12-10 21:11] sandrinecharles commented on #3200
I confirm.

[2021-12-10 21:13] danielskatz commented on #3200
@whedon accept deposit=true

[2021-12-10 21:13] whedon commented on #3200
[code]

[2021-12-10 21:14] whedon commented on #3200
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1469415182220861450) 👈 🐦🐦🐦

[2021-12-10 21:14] whedon commented on #3200
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2820
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03200](https://doi.org/10.21105/joss.03200)
2. If everything look

[2021-12-10 21:19] danielskatz commented on #3200
Congratulations to @sandrinecharles (Sandrine CHARLES) and co-author!!

And thanks to @puruckertom and @Peter-Vermeiren for reviewing, and to @KristinaRiemer for editing!
We couldn't do this without you

[2021-12-10 21:19] #3200 closed

[2021-12-10 21:19] whedon commented on #3200
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03200/status.svg)](https://doi.org/10.21105/joss.03200)

**We need your help!**

Journal of Open Source Softwa

[2021-12-10 21:28] sandrinecharles commented on #3200
What a nice Christmas gift!
Thank you very much to all of you for making this paper published.

[2021-12-10 21:32] KristinaRiemer commented on #3200
@sandrinecharles thank you for your patience with this process, and congratulations!

[2021-12-10 22:05] Cole-Monnahan-NOAA commented on #3444
@marcosvital I'm working through this review today. Where do I submit my comments beyond the checklist? Just drop them in here? I didn't see the other reviewer comments.

[2021-12-10 22:21] matthewfeickert commented on #3932
@altavir, forgive me if I'm wrong, but it doesn't look like you are a registered JOSS reviewer. If you are interested in reviewing for JOSS (that's great!) please first read the [Reviewing for JOSS](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) overview and then [register to become a JOSS reviewer](https://joss.theoj.org/reviewer-signup.html). (Also hi from a fellow particle phys

[2021-12-10 22:50] fibreglass2 commented on #3736
@Kevin-Mattheus-Moerman I hope you are getting on well. Let us know if you have any updates.

This weekend I will be addressing multiple issues raised by the previous reviewers. It might be good for @quynhneo to hold off on a full review until I release this update to save time and reduce duplication.

[2021-12-10 22:58] quynhneo commented on #3736
Sure thanks

On Fri, Dec 10, 2021 at 17:50 fibreglass2 ***@***.***> wrote:

--
Quynh Nguyen, Physics PhD
Physics Department, New York University and
Applied Math Laboratory, Courant Institute of Mathematical Sciences
Address: Room 104, 251 Mercer Street, New York NY 10012
Phone : 1 (714) 902 7149
E-mail :  ***@***.***

[2021-12-11 00:07] TomDonoghue commented on #3897
Hey all,

Sorry my review is a bit late - I had a few unexpected things come up in the last few weeks.

Overall, I think this is a really nice extension of MNE, and a useful tool for people to use for iEEG work. I have a few small comments / suggestions (something like a minor revision), but otherwise, it all looks good to me!

### General Comments

Following up on janfreyberg’s comment, I think t

[2021-12-11 01:33] csinva commented on #3895
Thanks again for all your thoughtful feedback @kmichael08. We’ve gone through and applied all of your recommendations resulting in a much-improved package / paper!

We’ve responded to [each of the issues](https://github.com/Yu-Group/veridical-flow/issues?q=is%3Aissue+is%3Aclosed) individually in their own threads and improved the package accordingly. We’ll also mention some of the things you broug

[2021-12-11 05:58] erikcs commented on #3979
Looks good to me.

[2021-12-11 08:48] altavir commented on #3932
@matthewfeickert OK, I never knew about the opportunity before Dmitriy tagged me. I think it is an interesting idea in general - I mean the community to make better scientific software. Though I think it requires more serious measures (code quality expertise, not only documentation quality). I've sent my registration info.

[2021-12-11 09:11] edgarcosta commented on #3962
Sorry, I am not able to do this.

On Fri, Dec 10, 2021 at 5:40 PM Daniel S. Katz ***@***.***>
wrote:

[2021-12-11 09:29] robbisg commented on #3823
Looks good to me too! :+1:

[2021-12-11 09:30] destogl commented on #3490
Dear all,

Thank you for your patience and for the opportunity for his review. I am deeply sorry that my review took so long, I will work to change this in the future and check my notifications regularly.

@adi3 my review is finished.

@klevis-a and @heath-henninger congratulation for the great work! I am fully supporting acceptance of its publication.
The improvements @klevis-a did after my revie

[2021-12-11 09:47] psychobas commented on #3988
@whedon check references from branch joss

[2021-12-11 09:47] whedon commented on #3988
[code]

[2021-12-11 09:47] whedon commented on #3988
[code]

[2021-12-11 09:47] psychobas commented on #3988
@whedon generate pdf from branch joss

[2021-12-11 09:47] whedon commented on #3988
[code]

[2021-12-11 09:48] whedon commented on #3988
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03988/joss.03988/10.21105.joss.03988.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03988/joss.03988/10.21105.joss.03988.pdf) :page_facing_up: :point_left:

[2021-12-11 09:49] rosoport commented on #3965
Hi madam/sir
I really appreciate the invitation, but unfortunately I must decline it.
Best regards
Rodrigo Portugal

On Wed, Dec 8, 2021, 9:05 AM Mehmet Hakan Satman ***@***.***>
wrote:

[2021-12-11 09:50] psychobas commented on #3988
@danielskatz thanks for the fast processing! I added the missing DOI and recompiled the PDF.

[2021-12-11 10:09] jbytecode commented on #3965
@whedon remove @rosoport as reviewer

[2021-12-11 10:09] whedon commented on #3965
OK, @rosoport is no longer a reviewer

[2021-12-11 10:25] sandrinecharles commented on #3200
@KristinaRiemer Dear Kristina, we juste finalised a new paper that we would also like to submit to JOSS, on a new package developed this year: https://CRAN.R-project.org/package=rbioacc, in support of a dedicated Shiny tool available fro free online: http://lbbe-shiny.univ-lyon1.fr/mosaic-bioacc/. Would you be interested in taking care of the reviewing process for this paper. Peter Vermeiren could

[2021-12-11 10:30] jbytecode commented on #3965
Dear all,

Because of our second reviewer has resigned, I am going to find a new reviewer. I am using email for invitations to keep here clean. I am first trying to invite the suggested reviewers by the author(s). Whenever I receive an acceptance, the new reviewer will be assigned.

While I am completing these stuff, the reviewing process can continue.

Statement of Need is the required section in

[2021-12-11 10:40] Ebedthan commented on #3839
@whedon generate pdf

[2021-12-11 10:40] whedon commented on #3839
PDF failed to compile for issue #3839 with the following error:
[code]

[2021-12-11 10:40] TNanukem commented on #3864
@whedon generate pdf from branch docs/joss_paper

[2021-12-11 10:40] whedon commented on #3864
[code]

[2021-12-11 10:40] whedon commented on #3864
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03864/joss.03864/10.21105.joss.03864.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03864/joss.03864/10.21105.joss.03864.pdf) :page_facing_up: :point_left:

[2021-12-11 10:41] Ebedthan commented on #3839
@whedon generate pdf from branch joss

[2021-12-11 10:41] whedon commented on #3839
[code]

[2021-12-11 10:41] whedon commented on #3839
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03839/joss.03839/10.21105.joss.03839.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03839/joss.03839/10.21105.joss.03839.pdf) :page_facing_up: :point_left:

[2021-12-11 10:44] TNanukem commented on #3864
Hello @drj11 and @imw

First of all, thank you for your review!

I think I solved most of the issues (all the blocking ones at least). Two issues remain open but, as they are non-blocking, I will get to them next week.

If there is any other point I will be happy to work on it. Thanks.

[2021-12-11 10:47] hugorichard commented on #3823
Looks good to me too!

[2021-12-11 10:49] Ebedthan commented on #3839
Hi @hcdenbakker,

Thank you for the nice improvements made to the software, repository, and paper.
I only have one recommendation left, it is the adding of a community guideline in the README of the repository to guide people on how to contribute, seek help, or report issues. Making it clear can really be helpful especially for beginners.

Except for this last addition, I am good and recommend @wi

[2021-12-11 11:04] TNanukem commented on #3864
Hello @imw and @drj11

Thank you for your review! I think I solved most of the issues.

Only the one related to the warning on the unit tests is still open. Since it will change the expected value of the test, I will tackle it after. However, I think the blocking issues are all solved.

If there is any additional point I will be happy to work on it.

Have a good weekend everyone!

[2021-12-11 11:48] jbytecode commented on #3965
@whedon add @pitsianis as reviewer

- The suggested reviewer @pitsianis has just accepted to be a reviewer.

[2021-12-11 11:48] whedon commented on #3965
OK, @pitsianis is now a reviewer

[2021-12-11 11:53] jbytecode commented on #3965
@whedon generate pdf

[2021-12-11 11:54] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2021-12-11 12:14] telatin commented on #3839
Thanks @hcdenbakker for the changes, for the paper I'm satisfied!
I also recommend to accept the paper for publication.

I recently used Sepia and have some other comments that I will open as separate issues in the repo.
I like this addition to the acquarium ;)

[2021-12-11 12:52] ilyamandel commented on #3838
@christinahedges , @HeloiseS , @katiebreivik :

First of all, apologies for the delay in responding to some of the suggestions presented here.

Secondly, the ApJS submission of the longer accompanying COMPAS methods paper ( https://arxiv.org/abs/2109.10352 ) has now been accepted.

Thirdly, we have responded to the majority of the tasks identified here and/or added as issues on the COMPAS github p

[2021-12-11 13:02] marcosvital commented on #3444
Thank you, @Cole-Monnahan-NOAA
You can submits your comments here in this very Github issue, or create a new issues if you think it's better (for example, if you find something that could need more discussion). You can create new issues by using the 'convert to issue' function that will show up at the right of the checkbox entry.

[2021-12-11 14:11] jponnela commented on #3417
Hi @fboehm and @biblicabeebli, I've now updated the title, let me know if it looks ok!

10.5281/zenodo.5758811

[2021-12-11 14:20] klevis-a commented on #3490
@destogl thank you for the kind words and for making time to review our software. @heath-henninger and I, very much appreciate your efforts!

[2021-12-11 15:26] kmichael08 commented on #3895
@whedon generate pdf

[2021-12-11 15:26] whedon commented on #3895
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: :point_left:

[2021-12-11 16:24] isgiddy commented on #3947
I've just started working my way through the documentation. It's very explicit and I've managed to work through all the examples and haven't run into any issues so far. The package is user friendly and a great contribution.

Some minor suggestions so far:

- I would suggest adding  `%time` to a few of the example filters that take a bit longer to run.

- there are a number of references in the doc

[2021-12-11 16:40] heath-henninger commented on #3490
@destogl I echo @klevis-a's comments, thank you for the kind words and review!  We hope this platform will find wide utilization in biomechanics laboratories and courses to help learning and reinforcing kinematics concepts more intuitively.

[2021-12-11 17:09] tcaduser commented on #3898
@jgoldfar, @dalonsoa

The newest release branch ``r2.0.0`` has been merged into the ``joss`` branch.

[2021-12-11 17:45] tuelwer commented on #3845
@sbenthall Yes, I can write a review for this submission! 👍

[2021-12-11 19:38] elbeejay commented on #3947
Hi all, glad to see things are moving in a positive direction here.

A quick note to our reviewers @callumrollo, @isgiddy, and @AleksiNummelin; if you could make your comments and suggestions related to the review as issues in the [GCM-Filters repository](https://github.com/ocean-eddy-cpt/gcm-filters) itself that is our preference. This keeps those comments within the project repository should one

[2021-12-11 19:45] drj11 commented on #3864
@whedon @osorensen my review is complete and i have no further reasons to delay publication. Thank you to everyone involved!

[2021-12-11 19:45] whedon commented on #3864
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-11 21:23] osorensen commented on #3864
Thank you very much @drj11!

[2021-12-11 22:27] mtreinish commented on #3968
First, I want to thank you for your detailed look at the retworkx so far. I was hoping the paper review would serve as a chance for people with different sets of experience and viewpoints to review the library and point out gaps and all the issues you've opened will help us make a better library. One of my personal goals with retworkx recently is to expand it's usefulness for more domains includin

[2021-12-11 22:45] fibreglass2 commented on #3736
Several points have been addressed in the newest update. However part of the newly implemented features, specifically the UI, is not cross compatible with Windows. Until I can get a fully working UI for Windows, the update in the repo is for GNU/Linux only. In the interest of this review, the source code is available for inspection in the repo.

[2021-12-12 08:27] sweichwald commented on #3866
@dpsanders @kellertuer I have now also completed my review.

Some minor comments on the software paper have been addressed (cf. https://github.com/JuliaManifolds/Manopt.jl/issues/96),
software design, development, documentation, and continuous integration follow best practices,
and, in my opinion, `Manopt.jl` is a useful quality piece of research software that I recommend for publication.

[2021-12-12 09:49] lucydot commented on #3985
Hi @danielskatz @jstse - very happy to be editor for this

[2021-12-12 09:49] lucydot commented on #3985
@whedon assign @lucydot as editor

[2021-12-12 09:49] whedon commented on #3985
OK, the editor is @lucydot

[2021-12-12 11:26] tomazbregar commented on #3399
Dear all,

sorry for the late response from our side. We have overhauled our documentation site, where we also added new examples and use-cases of the whole [package](https://pyfbs.readthedocs.io/en/documentation_fix/).

The mishandled reference was corrected.

We have added a detailed _Contribute_ section within [documentation](https://pyfbs.readthedocs.io/en/documentation_fix/contribute.html).

[2021-12-12 12:52] szhorvat commented on #3968
Let me sum up my recommendation, to avoid misunderstandings.

The library shows promise, but it does not look mature enough. When trying to use it for various tasks, its limits are reached very quickly and the functionality gaps become apparent. It was easy to find bugs, which again suggests that it has not been thoroughly tested through real-world usage not related to Qiskit and its dependents. I

[2021-12-12 14:09] kmichael08 commented on #3895
Hey @csinva and @jbytecode. I'm happy to tick the remaining boxes and accept the submission.

Thanks for responding to the issues and putting the effort to improve the package.
Both paper and examples are much clearer to me now. Great to hear my suggestions were valuable.
I really like this tool and will use it in my future projects.

Now, I pointed out a few minor details in the issues (without r

[2021-12-12 15:37] fboehm commented on #3417
Thanks, @jponnela ! It looks good now.

[2021-12-12 15:38] fboehm commented on #3417
@whedon recommend-accept

[2021-12-12 15:38] whedon commented on #3417
[code]

[2021-12-12 15:38] whedon commented on #3417
[code]

[2021-12-12 15:38] whedon commented on #3417
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2821

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2821, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-12 15:51] inakleinbottle commented on #3968
@drvinceknight I don't seem to have the ability to update the checklist in the initial issue post.

I have completed my initial review of the software and paper.

# General comments
I'm glad to see Rust being used as a safe and fast back-end for serious computation, and I have no doubt that this fulfills the needs of the Qiskit project. However, I too share some of the concerns of the other review

[2021-12-12 16:11] arfon commented on #3838
FYI, I heard from AAS publishing that the DOI for that paper will be `10.3847/1538-4365/ac416c` so please add that information to the YAML header of your JOSS paper when you have a chance.

[2021-12-12 16:54] videlec commented on #3962
Dear @danielskatz, I could do the review. However, it is unlikely that I can start working on it before February 1st.

[2021-12-12 17:07] EgorOrachyov commented on #3743
@Nikoleta-v3 Hi! Thank you for you gentle reminder :) **mlxd** left a number of not critical but very importan issues to your project, so we are going to fix it in a couple of upcoming days!

[2021-12-12 17:15] Kevin-Mattheus-Moerman commented on #3860
@AndreWeiner that all looks good. Looks like we are good to proceed.

[2021-12-12 17:15] Kevin-Mattheus-Moerman commented on #3860
@whedon recommend-accept

[2021-12-12 17:15] whedon commented on #3860
No archive DOI set. Exiting...

[2021-12-12 17:22] Kevin-Mattheus-Moerman commented on #3860
@AndreWeiner one issue remains the DOI of the archived version should not match that of the paper. It looks like you made the Zenodo archive point to the JOSS DOI, please remove that and assign a separate ZENODO DOI there.

[2021-12-12 17:23] Kevin-Mattheus-Moerman commented on #3860
@openjournals/dev it looks the authors have assigned the JOSS DOI to their ZENODO archive. I'm recommending the above. Let me know if anything else (or a different approach) is needed to fix this.

[2021-12-12 17:55] fredstro commented on #3962
I’m in no hurry at the moment so if the review process takes time that’s fine.
If you have sage 9.4 installed it should be very smooth to install and run doctests etc.

[2021-12-12 18:11] danielskatz commented on #3962
Let's see if anyone else can review more quickly, but if not, particularly given the holiday break many of us will be taking soon, this is probably ok.

[2021-12-12 18:20] AndreWeiner commented on #3860
@Kevin-Mattheus-Moerman,
sorry, that was a misunderstanding on my side. I got in touch with the Zenodo support staff to chance the DOI. I'll let you know once the issue is resolved.
Best, Andre

[2021-12-12 19:12] Nikoleta-v3 commented on #3743
Great, thank you @EgorOrachyov 😃

[2021-12-12 22:12] d-chambers commented on #3896
Hi @mjsottile, unfortunately this is pretty far outside of my area of expertise. So much so, I don't think I would be able to provide any sort of useful review of the functionality of the software (but it does look like an interesting program).

[2021-12-13 00:02] emdupre commented on #3823
@whedon check references

[2021-12-13 00:03] whedon commented on #3823
[code]

[2021-12-13 00:06] emdupre commented on #3823
Thank you @ejolly @hugorichard @robbisg for your thoughtful reviews and @jameschapman19 for your impressive work on `cca-zoo` !

At this point, @jameschapman19, could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here. I see that you released version `v1.10.6` 5 days ago and have made no changes to `main` since; please let me know if yo

[2021-12-13 00:28] emdupre commented on #3964
Hello @caldarolamartin @ziatdinovmax @jonatanalvelid  @emmanuelle  :wave:

Would you be willing to review _PiSCAT: A Python Package for Interferometric Scattering Microscopy_ for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org) ?

The review takes place on GitHub and focuses on [the software](https://github.com/SandoghdarLab/PiSCAT) and this short paper: https://github.com/open

[2021-12-13 00:44] jessicatytam commented on #3776
Thanks everyone for your helpful comments! I've since updated the documentation, reorganised the functions, and fixed some of the warnings that were showing up in checks. We're currently working on adding more tests for the API.

In regards to @kamapu 's comments:
- I've replaced all the `Fetch*()` and `Count*()` functions with `Fetch()` and `Count()` to make things simpler
- the error `Bad Reques

[2021-12-13 00:48] ziatdinovmax commented on #3964
@emdupre Sure - will be to help help with a review

[2021-12-13 01:26] sfsinger19103 commented on #3739
@vaneseltine I tried a virtual environment with PYTHONIOENCODING = 1252 in the `main` branch, but couldn't get the data loading to fail the way it did on your windows system. I see from your output that the failure happened in an Alaska file. It would be useful to know which one to ensure that I tested on that one specifically.

Any chance you could try again on your system using the version in th

[2021-12-13 01:38] sfsinger19103 commented on #3739
And note @vaneseltine that I've removed some of the data from the TestingData repo, to get rid of jurisdictions (like Philadelphia) and some files (from elections before the 2020 General) that don't load correctly in the current version.

[2021-12-13 01:54] taless474 commented on #3976
@cgrudz, thank you for your submission. Would you please suggest a couple of potential reviewers?

[2021-12-13 01:58] taless474 commented on #3928
@marksantcroos,@dghoshal-lbl would you be interested in reviewing this?

[2021-12-13 02:01] taless474 commented on #3651
@georgiastuart how is the review going? Do you need any help with it?

[2021-12-13 02:59] ilyamandel commented on #3838
Thank you, @arfon -- paper.md on the JOSS branch updated with this DOI.

[2021-12-13 06:36] csoneson commented on #3954
👋🏻 @hechth - did you have a chance to check whether you would like to review this submission? Thanks.

[2021-12-13 06:40] lucaferranti commented on #3882
@whedon check references

[2021-12-13 06:42] whedon commented on #3882
[code]

[2021-12-13 06:50] lucaferranti commented on #3882
@stammler @taless474 after the latest changes I think this submission is good to go. There might be a missing doi in the reference, but after that is checked I think the paper is ready for publication.

[2021-12-13 08:28] jbytecode commented on #3895
@kmichael08 - thank you for your valuable and comprehensive review. It seems the paper and the software are in better status.

@richrobe - could you please update us on how is your review going? Thank you in advance.

[2021-12-13 08:30] jbytecode commented on #3984
👋👋👋 Dear @odow  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**DCISolver.jl: A Julia Solver for Nonlinear Optimization using Dynamic Control of Infeasibility**". You can find more information at the top of this Githu

[2021-12-13 08:32] hechth commented on #3954
@csoneson hi, sorry for not giving you an update. I thought with @MKoesters accepting there are the 2 required reviewers and since he was suggested initially by the author as a reviewer I thought it would be self explanatory that they are doing the review :)

I'm also currently pretty busy and the software is pretty complex so I'd rather leave it to them :)

Thank you very much for your considerat

[2021-12-13 08:39] fabian-s commented on #3844
@perrydv please let us know what your timeline for adressing the remaining issues is

[2021-12-13 08:41] fabian-s commented on #3780
@mnwright please let us know if you see any remaining points that need to be adressed.

[2021-12-13 08:52] stammler commented on #3882
@whedon check references

[2021-12-13 08:53] whedon commented on #3882
[code]

[2021-12-13 08:53] stammler commented on #3882
We added the missing DOIs.

[2021-12-13 09:03] pdebuyl commented on #3977
@svilsen can you add the orcid to the paper?

[2021-12-13 09:10] whedon commented on #3956
:wave: @puolival, please update us on how your review is going (this is an automated reminder).

[2021-12-13 09:48] csoneson commented on #3954
Alright! We do sometimes have more than two reviewers, so I wanted to give everyone the opportunity. Hopefully we can come back to you for another review in the future.

[2021-12-13 09:49] csoneson commented on #3954
@whedon start review

[2021-12-13 09:49] whedon opened #3990 "[REVIEW]: ViMMS 2.0: A framework to develop, test and optimise 2 fragmentation strategies in LC-MS metabolomics"
**Submitting author:** @joewandy (<a href="http://orcid.org/0000-0002-3068-4664">Joe Wandy</a>)
**Repository:** https://github.com/glasgowcompbio/vimms/
**Branch with paper.md** (empty if default branch):
**Version:** V2.0.5
**Editor:** @csoneson
**Reviewers:** @jspaezp, @MKoesters
**Archive:** 10.5281/zenodo.6395052

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-12-13 09:49] whedon commented on #3954
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3990.

[2021-12-13 09:49] #3954 closed

[2021-12-13 09:49] whedon commented on #3990
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jspaezp, @MKoesters it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-12-13 09:49] whedon commented on #3990
Wordcount for `paper.md` is 1985

[2021-12-13 09:49] whedon commented on #3990
[code]

[2021-12-13 09:49] whedon commented on #3990
[code]

[2021-12-13 09:50] whedon commented on #3990
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03990/joss.03990/10.21105.joss.03990.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03990/joss.03990/10.21105.joss.03990.pdf) :page_facing_up: :point_left: