[2018-02-08 16:36] wkearn commented on #548
Here is my review!

G³M seems like a powerful groundwater modeling framework with a lot of potential for becoming a reusable component in hydrological models at a variety of scales. My main concern is that under the current state of its documentation, it would be very challenging for a new user to start running their own models or to couple G³M to other models.

I also have a few minor concerns ab

[2018-02-08 17:02] Kevin-Mattheus-Moerman commented on #548
@wkearn  👏 Thanks for the detailed review! @rreinecke can you work on these comments?

[2018-02-08 18:32] trallard commented on #568
Currently doing the review of gramm and have a couple of things to raise:

**Documentation**

Even though the instructions allow for correct installation they might be a bit dry? cryptic? to those that have never added 3rd party code to their MATLAB path (issue [here](https://github.com/piermorel/gramm/issues/56)

I could not find any tests in the repository so I was wondering if you'd considered

[2018-02-08 18:46] drvinceknight commented on #569
I haven't reviewed for JOSS before but everything looks pretty self explanatory (I'm just sat here thinking how great the whole system is!).

I'm aiming to complete this over next couple of days.

[2018-02-08 22:13] serine commented on #576
Right, thanks guys, I wasn't sure how to include URL citation in `.bib` let work on this today.

Also what are you building with ? `pandocs`? If I can build with `pandoc` it'll be alright?

[2018-02-08 23:33] justinesarey commented on #523
Hi Thomas,

Got it; I should be able to respond soon.

-JE

--

Dr. Justin Esarey
Associate Professor of Political Science
Rice University
Voice: (678) 383-9629
Fax: (713) 348-5273
E-mail:  <justin@justinesarey.com>justin@justinesarey.com
Web: www.justinesarey.com

On Sun, Feb 4, 2018 at 10:37 AM, Thomas J. Leeper <notifications@github.com>
wrote:

[2018-02-09 01:54] mhucka commented on #574
Thanks for all that. Regarding reviewers, I don't know these people but based purely on the list of topic areas in that fantastic spreadsheet, the following appear to be most closely related:

* desilinguist
* ahurriyetoglu
* jkahn
* @kellieotto
* linuxscout
* xirdneh

[2018-02-09 06:02] rreinecke commented on #548
@wkearn Thank you very much for your very helpful feedback! @Kevin-Mattheus-Moerman yes I will approach the mentioned issues  in the next couple days.

[2018-02-09 09:37] drvinceknight commented on #569
## Installation

1. `python setup.py install` fails if `cmake` is not installed (on linux), could we add that to the `README.md` (`apt install cmake` solves this without a problem).
2. Once `cmake` is installed `python setup.py install` still fails, here's the tail of the output:

[code]

[2018-02-09 09:51] mtezzele commented on #530
@jakevdp what do I have to do now?

[2018-02-09 14:36] labarba commented on #569
@drvinceknight : The software will need to be archived on Zenodo or similar, and get a DOI. But we've relaxed the requirement to have that _before_ acceptance, because when the review elicits changes, this leads to a new release. We ask that authors deposit the accepted version.

[2018-02-09 15:02] arfon commented on #576
@whedon generate pdf

[2018-02-09 15:02] whedon commented on #576
[code]

[2018-02-09 15:02] whedon commented on #576
[code]

[2018-02-09 15:03] arfon commented on #576
@serine - thanks for debugging this. The PDF is looking better now.

[2018-02-09 16:16] Kevin-Mattheus-Moerman commented on #548
@whedon generate pdf

[2018-02-09 16:16] whedon commented on #548
[code]

[2018-02-09 16:16] whedon commented on #548
[code]

[2018-02-09 16:26] arfon commented on #548
@whedon generate pdf

[2018-02-09 16:26] whedon commented on #548
[code]

[2018-02-09 16:27] whedon commented on #548
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00548/joss.00548/10.21105.joss.00548.pdf)

[2018-02-09 16:43] ianhbell commented on #569
@drvinceknight - the build problem you had was almost certainly because you didn't do a recursive git clone - I've been bitten by that innumerable times.  I updated the docs to try to address that issue and I tried to address your other concerns as well.

What do you think now: https://github.com/usnistgov/ChebTools ?

Ready for any other review you care to offer.

[2018-02-09 16:44] ianhbell commented on #569
And yes, I have minted a doi on zenodo already, but I'll remake the release when the review is complete.

[2018-02-09 17:03] Kevin-Mattheus-Moerman commented on #548
@rreinecke sorry for spamming this thread, we were testing a new way to present the link to a paper.

[2018-02-09 17:11] drvinceknight commented on #569
@ianhbell the docs look great! Thanks for those changes.

I'm still having issues installing on my system though:

[code]

I went for the `pip install git+git://github.com/usnistgov/ChebTools.git` approach which succeeded but as you can see I still seem to have some issues with it finding some file.

[2018-02-09 17:15] ianhbell commented on #569
Sorry I forgot to answer about that import error.  That's a bug in anaconda... : https://github.com/ContinuumIO/anaconda-issues/issues/483

The short answer is : delete the libstdc++ that it references, and it will then hook your system GLIBC and it should all work fine, though you *might* want to backup your libstdc++ before you do that :)

[2018-02-09 17:18] drvinceknight commented on #569
Running `conda install libgcc` fixed it for me (is it worth including something about that in the README perhaps?).

[2018-02-09 17:19] ianhbell commented on #569
Sure, I can do that

[2018-02-09 17:21] drvinceknight commented on #569
Thanks for the changes @ianhbell! Nice piece of software and a nice paper :)

I have now ticked all boxes @labarba (except the one about the version but that all seems fine to me). Is there anything more formal I should do at this point? :)

[2018-02-09 17:24] ianhbell commented on #569
Added to the README.

[2018-02-10 00:21] steffilazerte commented on #571
Okay, I've updated the manuscript, let me know if this should be even further simplified.

[2018-02-10 09:29] rreinecke commented on #548
@wkearn concerning the libboost error. I can reproduce it with version 1.58 but not with 1.54 and I have currently no idea on what the issue actually is. Would you be so kind and open it as an issue that the build fails with that specific version and if you got the time run it down with the boost mailing list?

I've added the gtest framework now to the project build - no more need for a manual ins

[2018-02-10 10:25] labarba commented on #569
I take it your recommendation is to accept the submission, at this point, @drvinceknight ?

[2018-02-10 12:09] arokem commented on #554
@whedon assign @kellieotto as reviewer

[2018-02-10 12:09] whedon commented on #554
OK, the reviewer is @kellieotto

[2018-02-10 12:09] arokem commented on #554
@whedon start review magic-word=bananas

[2018-02-10 12:10] whedon opened #577 "[REVIEW]: TSrepr R package: Time Series Representations"
**Submitting author:** @PetoLau (<a href="http://orcid.org/0000-0002-3501-8783">Peter Laurinec</a>)
**Repository:** <a href="https://github.com/PetoLau/TSrepr" target ="_blank">https://github.com/PetoLau/TSrepr</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewer:** @kellieotto
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1195877" target="_blank">10.5281/zenodo.1195877</a>

## Status

[2018-02-10 12:10] whedon commented on #554
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/577. Feel free to close this issue now!

[2018-02-10 12:10] whedon commented on #577
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kellieotto it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-02-10 12:10] whedon commented on #577
[code]

[2018-02-10 12:10] whedon commented on #577
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00577/joss.00577/10.21105.joss.00577.pdf)

[2018-02-10 12:10] arokem commented on #554
Thanks @kellieotto : please head over to #577 for the review. I'll close this one.

[2018-02-10 12:10] #554 closed

[2018-02-10 12:11] arokem commented on #508
@vsivsi: any progress on this?

[2018-02-10 12:13] arokem commented on #524
@josephhardinee : just checking in on this. Have you had a chance to take a look at the software at all? Please let me know if you need any more guidance on how to go about this review.

[2018-02-10 14:28] PsyChiLin commented on #567
@whedon generate pdf

[2018-02-10 14:28] whedon commented on #567
[code]

[2018-02-10 14:28] whedon commented on #567
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00567/joss.00567/10.21105.joss.00567.pdf)

[2018-02-10 15:54] PsyChiLin commented on #567
@cMadan I have tackled all the points except for the CFA one, which is not directly addressed. The latest version is 1.0.1 with github release.  All the information/references in the tutorial and paper are updated (thus I re-generate the pdf file) according to the useful suggestions from the review process. Again, many thanks for all these great suggestions, @DominiqueMakowski  !!

[2018-02-11 01:50] whedon opened #578 "[PRE REVIEW]: Dassie: a database of subject terms and hierarchies in the Library of Congress Subject Headings"
**Submitting author:** @mhucka (<a href="http://orcid.org/0000-0001-9105-5960">Michael Hucka</a>)
**Repository:** <a href="https://github.com/casics/dassie" target ="_blank">https://github.com/casics/dassie</a>
**Version:** v1.0.2
**Editor:** @jasonclark
**Reviewers:** @soodoku

**Author instructions**

Thanks for submitting your paper to JOSS @mhucka. The JOSS editor (shown at the top of this iss

[2018-02-11 01:50] whedon commented on #578
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jasonclark it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-11 01:50] whedon commented on #578
[code]

[2018-02-11 01:50] whedon commented on #578
PDF failed to compile for issue #578 with the following error:

 Can't find any papers to compile :-(

[2018-02-11 01:51] arfon commented on #578
👋 @jasonclark - the submitting author suggested you as the handling editor.

[2018-02-11 01:51] arfon commented on #578
@whedon generate pdf

[2018-02-11 01:51] whedon commented on #578
[code]

[2018-02-11 01:51] whedon commented on #578
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00578/joss.00578/10.21105.joss.00578.pdf)

[2018-02-11 01:53] whedon opened #579 "[PRE REVIEW]: The vtreat R package: a statistically sound data processor for predictive modeling"
**Submitting author:** @JohnMount (<a href="http://orcid.org/0000-0002-3696-2012">John Mount</a>)
**Repository:** <a href="https://github.com/WinVector/vtreat/" target ="_blank">https://github.com/WinVector/vtreat/</a>
**Version:** 1.0.2
**Editor:** @karthik
**Reviewer:** @earino

**Author instructions**

Thanks for submitting your paper to JOSS @JohnMount. The JOSS editor (shown at the top of thi

[2018-02-11 01:53] whedon commented on #579
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-11 01:53] whedon commented on #579
[code]

[2018-02-11 01:53] whedon commented on #579
PDF failed to compile for issue #579 with the following error:

 Can't find any papers to compile :-(

[2018-02-11 01:54] arfon commented on #579
👋 @danielskatz - the submitting author suggested you as the handling editor.

[2018-02-11 01:54] arfon commented on #579
@whedon generate pdf

[2018-02-11 01:54] whedon commented on #579
[code]

[2018-02-11 01:54] whedon commented on #579
PDF failed to compile for issue #579 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2018-02-11 02:16] JohnMount commented on #579
@whedon generate pdf

[2018-02-11 02:16] whedon commented on #579
[code]

[2018-02-11 02:16] whedon commented on #579
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00579/joss.00579/10.21105.joss.00579.pdf)

[2018-02-11 02:23] danielskatz commented on #579
hmmm. I don't have any experience with R, and I'm much more of a computer scientist and computational scientist than a data scientist.  I really don't think I'm the right person to edit this one.

[2018-02-11 02:25] JohnMount commented on #579
Perhaps one or more of @milesmcbain @earino @Fusionet24 @nhejazi @trallard could review?  I was just looking through for people with a combination of interests in R, statistics, data science, and data preparation.

[2018-02-11 02:26] JohnMount commented on #579
@danielskatz sorry for the trouble.  Should I suggest another editor or is there some other way to go forward?  I just found some R people from the review list.

[2018-02-11 02:27] danielskatz commented on #579
If you can suggest another editor, I certainly would appreciate it :)

[2018-02-11 02:31] JohnMount commented on #579
Perhaps Thomas J. Leeper (@leeper).  A social scientist (they know their statistics) and CRAN contributor.

[2018-02-11 02:32] JohnMount commented on #579
And if that isn't appropriate how about Karthik Ram (@karthik), for data science?

[2018-02-11 02:32] JohnMount commented on #579
@whedon commands

[2018-02-11 02:32] whedon commented on #579
Here are some things you can ask me to do:

[code]

[2018-02-11 02:33] JohnMount commented on #579
@arfon thank for helping with this.  I assume that I do not assign editors, but have put in some suggestions.  Please let me know if I need to do something.

[2018-02-11 03:40] earino commented on #579
Hi am I needed for something?

[2018-02-11 04:07] karthik commented on #579
I’m happy to handle as editors.
Ed: would you like to review?

[2018-02-11 04:07] karthik commented on #579
@whedon assign karthik as editor

[2018-02-11 04:07] whedon commented on #579
OK, the editor is karthik

[2018-02-11 06:43] nhejazi commented on #579
Looks like @earino has already stepped up, but also happy to review should it become necessary.

[2018-02-11 11:13] DominiqueMakowski commented on #567
@cMadan @PsyChiLin I'm happy with these changes 🎉

[2018-02-11 14:27] earino commented on #579
LOL hang on, let's make sure I have any idea what I'm doing. I mostly just
asked if I was needed :-) what are the requirements for excellent reviewing?

On Sun, Feb 11, 2018, 7:43 AM Nima Hejazi <notifications@github.com> wrote:

[2018-02-11 16:16] earino commented on #579
But instinctively this sounds like something I would enjoy.

On Sun, Feb 11, 2018, 3:27 PM Eduardo Arino de la Rubia <earino@gmail.com>
wrote:

[2018-02-11 17:02] pjotrp commented on #576
@whedon assign @pjotrp as editor

[2018-02-11 17:02] whedon commented on #576
OK, the editor is @pjotrp

[2018-02-11 17:44] lheagy commented on #560
@leouieda has offered to provide input on the review as well.

[2018-02-11 17:44] lheagy commented on #560
@whedon assign @hugoledoux as reviewer

[2018-02-11 17:44] whedon commented on #560
OK, the reviewer is @hugoledoux

[2018-02-11 17:44] lheagy commented on #560
@whedon start review

[2018-02-11 17:44] whedon commented on #560
You didn't say the magic word! Try this:

[code]

[2018-02-11 17:44] lheagy commented on #560
@whedon start review magic-word=bananas

[2018-02-11 17:44] whedon opened #580 "[REVIEW]: PyMap3D: 3-D coordinate conversions for terrestrial and geospace environments"
**Submitting author:** @scivision (<a href="http://orcid.org/0000-0002-1637-6526">Michael Hirsch</a>)
**Repository:** <a href="https://github.com/scivision/pymap3d" target ="_blank">https://github.com/scivision/pymap3d</a>
**Version:** v1.6.0
**Editor:** @lheagy
**Reviewer:** @hugoledoux
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.213676" target="_blank">10.5281/zenodo.213676</a>

## St

[2018-02-11 17:44] whedon commented on #560
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/580. Feel free to close this issue now!

[2018-02-11 17:44] whedon commented on #580
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @hugoledoux it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-02-11 17:44] whedon commented on #580
[code]

[2018-02-11 17:44] #560 closed

[2018-02-11 17:45] whedon commented on #580
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00580/joss.00580/10.21105.joss.00580.pdf)

[2018-02-11 17:47] lheagy commented on #580
:wave: Hi @hugoledoux and @leouieda, here is the issue for the review. I have put 2 checklists in the top of the issue, one for each of you. Please let me know if you have any questions!

[2018-02-11 17:58] lheagy commented on #566
Hi @jarvist, I have added an issue regarding documentation based on the guidelines above (jarvist/PolaronMobility.jl#1) Please have a look and let me know if there is anything I can clarify. @yxqd may have some comments to add here as well.

[2018-02-12 02:59] serine commented on #576
@pjotrp FYI, I just tweaked the docs a little, essentially added this [link](http://bioinformatics.erc.monash.edu/home/kirill/sikTestData/) with a bit more explanation.

`RNAsik` will return `multiqc_report.html`. The other two links were done in addition to the pipeline run.

- To make [Degust](http://degust.erc.monash.edu) session you'll need upload counts file.

- IGV links were done with `mk_i

[2018-02-12 03:09] arfon commented on #530
@mtezzele - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-02-12 03:10] arfon commented on #549
@dvalters & @paulklemm - friendly reminder to get to this review when you get a chance.

[2018-02-12 03:12] arfon commented on #445
@biorelated - could you start looking for a new reviewer for this submission please?

[2018-02-12 03:18] arfon commented on #571
@whedon generate pdf

[2018-02-12 03:18] whedon commented on #571
[code]

[2018-02-12 03:19] whedon commented on #571
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00571/joss.00571/10.21105.joss.00571.pdf)

[2018-02-12 03:20] arfon commented on #571
@whedon set 10.5281/zenodo.1164301 as archive

[2018-02-12 03:20] whedon commented on #571
OK. <a href="http://dx.doi.org/10.5281/zenodo.1164301" target="_blank">10.5281/zenodo.1164301</a> is the archive.

[2018-02-12 03:23] arfon commented on #571
@steffilazerte - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00571 ⚡️ 🚀 💥

[2018-02-12 03:23] #571 closed

[2018-02-12 03:24] whedon commented on #571
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00571/status.svg)](https://doi.org/10.21105/joss.00571)

**We need your help!**

Journal of Open Source Software

[2018-02-12 07:13] nelkibs commented on #445
@biorelated and @arfon Sorry for the very slow response. I have been off radar for a while. The checkbox button are inactive on my end? Is there a setting I need to change?

[2018-02-12 07:52] drvinceknight commented on #569
Yes, my recommendation is to accept the submission.

[2018-02-12 10:05] labarba commented on #569
@ianhbell : Can you update the release, up the DOI version in Zenodo, and post the DOI right here, so we can link it to the article?

@arfon : This one is ready to publish.

[2018-02-12 12:48] ndem0 commented on #530
@arfon We have upload the package and this is the DOI for all the versions:
 [https://doi.org/10.5281/zenodo.1171787](https://doi.org/10.5281/zenodo.1171787)

[2018-02-12 14:02] steffilazerte commented on #571
Wow that was fast, thanks!

[2018-02-12 14:38] arfon commented on #445
@nelkibs - you should have permissions to edit the checklist - GitHub requires a pretty modern browser - which are you using?

[2018-02-12 15:37] cMadan commented on #567
@PsyChiLin, I think we're almost all set then! Can you archive the current code on Zenodo or FigShare and tell me the DOI?

[2018-02-12 15:39] cMadan commented on #506
@Kevin-Mattheus-Moerman, just thought I'd check in--are you still working on @wspr's suggestions? No rush, just wanted to make sure you weren't waiting on something from me :)

[2018-02-12 15:41] cMadan commented on #436
@smikhael, it looks like everything is in order! Can you archive the current code on Zenodo or FigShare and tell me the DOI?

[2018-02-12 15:43] cMadan commented on #430
@jordigh, can you take a look at the revised repository and see if you think it has been suitably improved? Thanks!

[2018-02-12 16:03] smikhael commented on #436
Excellent, thank you! @cMadan , I archived it just last week on Edinburgh DataShare at https://datashare.is.ed.ac.uk/handle/10283/3018, with the doi: 10.7488/ds/2302. Is that any good or do you prefer another archive on Zenodo/FigShare?

[2018-02-12 16:06] PsyChiLin commented on #567
@cMadan The DOI : 10.5281/zenodo.1171998
Thanks a lot !

[2018-02-12 17:01] ianhbell commented on #569
All done!

DOI: 10.5281/zenodo.1172036

[2018-02-12 18:03] arfon commented on #530
@whedon set 10.5281/zenodo.1171787 as archive

[2018-02-12 18:03] whedon commented on #530
OK. <a href="http://dx.doi.org/10.5281/zenodo.1171787" target="_blank">10.5281/zenodo.1171787</a> is the archive.

[2018-02-12 18:10] arfon commented on #530
@jkmacc-LANL - many thanks for your review here and to @jakevdp for editing this submission ✨

@ndem0 @mtezzele - your paper is now accepted in JOSS and your DOI is https://doi.org/10.21105/joss.00530 ⚡️ 🚀 💥

[2018-02-12 18:10] #530 closed

[2018-02-12 18:10] whedon commented on #530
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00530/status.svg)](https://doi.org/10.21105/joss.00530)

**We need your help!**

Journal of Open Source Software

[2018-02-12 18:11] arfon commented on #436
@whedon set 10.7488/ds/2302 as archive

[2018-02-12 18:11] whedon commented on #436
OK. <a href="http://dx.doi.org/10.7488/ds/2302" target="_blank">10.7488/ds/2302</a> is the archive.

[2018-02-12 18:21] arfon commented on #436
@Kevin-Mattheus-Moerman - many thanks for your review here and to @cMadan for editing this submission ✨

@smikhael - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00436 ⚡️ 🚀 💥

[2018-02-12 18:21] #436 closed

[2018-02-12 18:21] whedon commented on #436
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00436/status.svg)](https://doi.org/10.21105/joss.00436)

**We need your help!**

Journal of Open Source Software

[2018-02-12 18:21] arfon commented on #567
@whedon set 10.5281/zenodo.1171998 as archive

[2018-02-12 18:26] arfon commented on #567
@whedon set 10.5281/zenodo.1171998 as archive

[2018-02-12 18:27] whedon commented on #567
OK. <a href="http://dx.doi.org/10.5281/zenodo.1171998" target="_blank">10.5281/zenodo.1171998</a> is the archive.

[2018-02-12 18:32] arfon commented on #567
@DominiqueMakowski - many thanks for your review here and to @cMadan for editing this submission ✨

@PsyChiLin - your submission is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00567 ⚡️ 🚀 💥

[2018-02-12 18:32] #567 closed

[2018-02-12 18:32] whedon commented on #567
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00567/status.svg)](https://doi.org/10.21105/joss.00567)

**We need your help!**

Journal of Open Source Software

[2018-02-12 18:34] arfon commented on #569
@whedon set 10.5281/zenodo.1172036 as archive

[2018-02-12 18:35] whedon commented on #569
OK. <a href="http://dx.doi.org/10.5281/zenodo.1172036" target="_blank">10.5281/zenodo.1172036</a> is the archive.

[2018-02-12 18:37] Kevin-Mattheus-Moerman commented on #506
@whedon generate pdf

[2018-02-12 18:37] whedon commented on #506
[code]

[2018-02-12 18:41] whedon commented on #506
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00506/joss.00506/10.21105.joss.00506.pdf)

[2018-02-12 18:51] Kevin-Mattheus-Moerman commented on #506
@whedon generate pdf

[2018-02-12 18:51] whedon commented on #506
[code]

[2018-02-12 18:53] whedon commented on #506
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00506/joss.00506/10.21105.joss.00506.pdf)

[2018-02-12 18:56] arfon commented on #569
@drvinceknight - many thanks for your review here and to @labarba for editing this submission ✨

@ianhbell - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00569 ⚡️ 🚀 💥

[2018-02-12 18:56] #569 closed

[2018-02-12 18:56] whedon commented on #569
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00569/status.svg)](https://doi.org/10.21105/joss.00569)

**We need your help!**

Journal of Open Source Software

[2018-02-12 19:10] Kevin-Mattheus-Moerman commented on #506
@whedon generate pdf

[2018-02-12 19:10] whedon commented on #506
[code]

[2018-02-12 19:12] whedon commented on #506
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00506/joss.00506/10.21105.joss.00506.pdf)

[2018-02-12 19:33] Aneoshun commented on #545
Hi @dfm,
I hope you are doing well and that you managed to go through your crazy week as well as you wanted.
As discussed, this is a friendly reminder regarding this review.

Best regards,

[2018-02-12 19:48] Kevin-Mattheus-Moerman commented on #506
@whedon generate pdf

[2018-02-12 19:48] whedon commented on #506
[code]

[2018-02-12 19:50] whedon commented on #506
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00506/joss.00506/10.21105.joss.00506.pdf)

[2018-02-12 19:52] Kevin-Mattheus-Moerman commented on #506
Sorry for spamming this thread. I had some minor paper edits and things to iron out.

[2018-02-12 20:02] Kevin-Mattheus-Moerman commented on #506
@cMadan I believe I have addressed all of @siboles and @wspr comments.

@siboles and @wspr thanks for the thorough and useful review process! 🚀 🤖 🍰

FYI All functionality which was reviewed remains. I do want to report some new features which I'll highlight briefly.

* I upgraded GIBBON to also work with febio_spec 2.5 since the old functionality only covered febio_spec 2.0. New demos featuring fe

[2018-02-12 20:20] yxqd commented on #566
Thanks @lheagy. I agree with your comments. Here are some additional points:

Hi @jarvist, your software looks very interesting. There are a few things to fix but it is mostly about documentation. As a first time user, after I follow your installation instruction on your README, it is unclear to me what is the next step, and how to learn to use your software. It would be really helpful to have a d

[2018-02-12 20:23] mtezzele commented on #530
Thank you very much @jkmacc-LANL, @jakevdp, and @arfon for your time and efforts!

[2018-02-12 20:33] vsivsi commented on #508
@arokem Working on it now.  Sorry for delay, it slipped into a busy period the past few weeks, but this week is pretty clear, so it will be done by Friday.

[2018-02-12 22:15] jasonclark commented on #480
@arfon @alexhanna Yes, I think we are ready. This one got a bit caught up in the holidays cycle. Thanks for everyone's work to get us this far.

[2018-02-13 00:21] PsyChiLin commented on #567
@arfon @cMadan @DominiqueMakowski
Thanks a lot for all the processes !

[2018-02-13 06:30] aragilar commented on #575
@arfon I've updated and expanded the `paper.md`, is there any additional changes I should make?

[2018-02-13 06:37] aragilar commented on #165
@arfon @kyleniemeyer The affiliations are up to date, and @bmcage is going to do a new release with all the documentation changes. Do you want any changes to the paper or anything before we do the new release?

[2018-02-13 09:25] trallard commented on #568
### Documentation

I think the summary of the [software paper](https://github.com/openjournals/joss-papers/blob/joss.00568/joss.00568/10.21105.joss.00568.pdf) makes an excellent point on why gramm is needed and how it offers a better visualization environment for MATLAB users. This could probably be incorporated to the gramm repository (issue [here](https://github.com/piermorel/gramm/issues/59))

[2018-02-13 13:49] dvalters commented on #549
Hi @jorgeboucas, I've raised a few issues in the issue tracker in the submission's github repository (see linked issues above). My other comments so far are:

1. Documentation is a bit sparse - there is a 'man page' style usage guide in the README.md file, which I think might meet the minimum requirements for documentation (@acabunoc?) but I could not find any separate documentation linked for the

[2018-02-13 17:02] Kevin-Mattheus-Moerman commented on #506
@cMadan Reviewer 2 (@wspr) commented about the fix for this issue that was raised https://github.com/gibbonCode/GIBBON/issues/17 it appears that is working now so I closed the issue.

I also implemented the suggested changes to the paper proposed in this issue https://github.com/gibbonCode/GIBBON/issues/20. I went ahead and closed the issue but perhaps @wspr can comment if my changes are deemed su

[2018-02-13 17:20] piermorel commented on #568
Thank you for these suggestions @trallard. I just adressed all these comments  in commit https://github.com/piermorel/gramm/commit/f74c06deb4944d41509667a102f7cf9b162351eb and closed the corresponding issues. Do not hesitate to reopen them if not satisfactory. The latest commit https://github.com/piermorel/gramm/commit/efaa6f7b4a8b397532b909a581b3641ce05cd196 also adds the doi for "grammar of grap

[2018-02-13 17:26] josephhardinee commented on #524
@arokem Sorry, I got part way through then got hit with a bunch of work deadlines. I will finish this review tonight.

[2018-02-13 19:15] mhucka commented on #578
I'm not sure where to report this, so I'll try in this issue thread first: the PDF generated automatically by whedon is different from the preview I generated myself (c.f. https://github.com/openjournals/joss/issues/379#issuecomment-362362109) and I cannot figure out why. The difference is in extra whitespace showing up in what whedon produced. I've attached a marked-up PDF that I generated locall

[2018-02-13 20:17] arfon commented on #480
@howardjp - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-02-13 20:43] howardjp commented on #480
Here ya go!  https://doi.org/10.5281/zenodo.1041982

[2018-02-13 22:57] ResidentMario commented on #547
@whedon generate pdf

[2018-02-13 22:58] whedon commented on #547
[code]

[2018-02-13 22:58] whedon commented on #547
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00547/joss.00547/10.21105.joss.00547.pdf)

[2018-02-13 22:59] rhiever commented on #547
Meant to note here that all of my blockers have been resolved, so this paper has my 👍.

[2018-02-13 23:13] ResidentMario commented on #547
@Kevin-Mattheus-Moerman I've made the corrections to the paper in [missingno#43](https://github.com/ResidentMario/missingno/issues/43). I've also pushed the new version, 0.4.0 to PyPi. The version under review should be updated to 0.4.0, but I'm not sure how to do that. Let me know if there's anything else that needs doing (cc @zkamvar: the paper references have been resolved).

[2018-02-13 23:29] zkamvar commented on #547
@ResidentMario, my blockers have been resolved 👍

The only recommendation I have left would be to name the packages explicitly in text with the citation, for which I've created a PR.

[2018-02-13 23:57] jameshiebert commented on #360
Is there anything further that you guys need from me on this?

[2018-02-14 01:30] arfon commented on #360
@whedon generate pdf

[2018-02-14 01:30] whedon commented on #360
[code]

[2018-02-14 01:30] whedon commented on #360
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00360/joss.00360/10.21105.joss.00360.pdf)

[2018-02-14 01:32] arfon commented on #360
@jameshiebert - could you make sure you're citing the references in the body of your paper please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2018-02-14 01:37] arfon commented on #575
@whedon generate pdf

[2018-02-14 01:38] whedon commented on #575
[code]

[2018-02-14 01:38] whedon commented on #575
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00575/joss.00575/10.21105.joss.00575.pdf)

[2018-02-14 01:41] arfon commented on #575
Thanks. This is looking pretty good. It looks like one or more of the citations are incorrect (the `???`) in the compiled paper.

Next up is to find a reviewer...

[2018-02-14 01:41] arfon commented on #575
@whedon commands

[2018-02-14 01:41] whedon commented on #575
Here are some things you can ask me to do:

[code]

[2018-02-14 01:41] arfon commented on #575
@whedon list reviewers

[2018-02-14 01:41] whedon commented on #575
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-02-14 01:43] arfon commented on #575
@ygrange @mattpitkin would either of you be willing to review this submission for JOSS?

[2018-02-14 01:58] wspr commented on #506
I am very happy, indeed!

[2018-02-14 02:19] arfon commented on #165
@whedon generate pdf

[2018-02-14 02:19] whedon commented on #165
[code]

[2018-02-14 02:19] whedon commented on #165
PDF failed to compile for issue #165 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     50      0 --:--:-- --:--:-- --:--:--    50
[WARNING] Could no

[2018-02-14 02:23] arfon commented on #165
Looks like the image referenced at `https://github.com/bmcage/odes/blob/master/docs/ipython/Performance%20tests.png` isn't working here. @aragilar Could you take a look at that please? It's probably better to have the PNG right next to the `paper.md` file.

[2018-02-14 02:28] arfon commented on #578
Interesting. I'm not sure what's going on here exactly @mhucka. The version I produce locally (which ultimately is the version that becomes the final PDF) looks much closer to what you have:
 [10.21105.joss.00578.pdf](https://github.com/openjournals/joss-reviews/files/1722403/10.21105.joss.00578.pdf)

These are the Heroku buildpacks we use to generate the Whedon TeX environment: https://github.com

[2018-02-14 02:30] Kevin-Mattheus-Moerman commented on #547
@whedon generate pdf

[2018-02-14 02:30] whedon commented on #547
[code]

[2018-02-14 02:30] whedon commented on #547
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00547/joss.00547/10.21105.joss.00547.pdf)

[2018-02-14 02:35] Kevin-Mattheus-Moerman commented on #547
@arfon can you help with this:

[2018-02-14 02:46] Kevin-Mattheus-Moerman commented on #547
@ResidentMario can you work on @zkamvar 's [PR](https://github.com/ResidentMario/missingno/pull/64), seems like a good suggestion.

[2018-02-14 02:49] ResidentMario commented on #547
Done. :heavy_check_mark:

[2018-02-14 03:06] aragilar commented on #165
I've fixed links which were pointing to the wrong places, and copied across the png (I was going to symlink it, but I'm not sure whether the joss paper builder would support that).

[2018-02-14 09:28] smikhael commented on #436
Thank you all!  I've now added a link to the paper from the README.

[2018-02-14 10:54] mattpitkin commented on #575
Yes, I'm happy to take this.

[2018-02-14 14:05] kyleniemeyer commented on #165
@whedon generate pdf

[2018-02-14 14:05] whedon commented on #165
[code]

[2018-02-14 14:05] whedon commented on #165
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00165/joss.00165/10.21105.joss.00165.pdf)

[2018-02-14 14:09] kyleniemeyer commented on #165
@aragilar successful build!

I do see a few issues:
-  the in-text reference to and citation for SciPy says "Jones et al. 2001–2001--"
- please capitalize Python everywhere you use it
- near the end, "For user" -> "For users"
- The Hindmarsh et al. reference should include a DOI (assuming one is available)

Please correct those things, and then we should be ready to accept. Once you do that, pleas

[2018-02-14 15:23] arfon commented on #568
@whedon generate pdf

[2018-02-14 15:23] whedon commented on #568
[code]

[2018-02-14 15:23] whedon commented on #568
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00568/joss.00568/10.21105.joss.00568.pdf)

[2018-02-14 15:29] arfon commented on #575
@whedon assign @arfon as editor

[2018-02-14 15:29] whedon commented on #575
OK, the editor is @arfon

[2018-02-14 15:29] arfon commented on #575
@whedon assign @mattpitkin as reviewer

[2018-02-14 15:29] whedon commented on #575
OK, the reviewer is @mattpitkin

[2018-02-14 15:29] arfon commented on #575
@whedon start review magic-word=bananas

[2018-02-14 15:29] #575 closed

[2018-02-14 15:29] whedon opened #581 "[REVIEW]: h5preserve"
**Submitting author:** @aragilar (<a href="http://orcid.org/0000-0001-6637-6922">James Tocknell</a>)
**Repository:** <a href="https://github.com/h5preserve/h5preserve" target ="_blank">https://github.com/h5preserve/h5preserve</a>
**Version:** v0.15.0
**Editor:** @arfon
**Reviewer:** @mattpitkin
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1179292" target="_blank">10.5281/zenodo.1179292</

[2018-02-14 15:29] whedon commented on #575
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/581. Feel free to close this issue now!

[2018-02-14 15:29] whedon commented on #581
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @mattpitkin it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-02-14 15:29] whedon commented on #581
[code]

[2018-02-14 15:30] whedon commented on #581
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00581/joss.00581/10.21105.joss.00581.pdf)

[2018-02-14 15:33] arfon commented on #581
@mattpitkin - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-02-14 16:05] arfon commented on #547
👍 done

[2018-02-14 16:06] arfon commented on #480
@whedon set 10.5281/zenodo.1041982 as archive

[2018-02-14 16:06] whedon commented on #480
OK. <a href="http://dx.doi.org/10.5281/zenodo.1041982" target="_blank">10.5281/zenodo.1041982</a> is the archive.

[2018-02-14 16:07] mattpitkin commented on #581
Hi @aragilar - could you include explicit instructions for installation in the README and documentation? E.g., something like:

Could you also add a requirements file?

[2018-02-14 16:20] mattpitkin commented on #581
Having downloaded h5preserve using pip, I'm trying the example shown [here](https://h5preserve.readthedocs.io/en/latest/Usage.html), and in both Python 2.7.12 and 3.5.2 I get the following error:

[code]
If I edit it to use `with open("my_data_file.hdf5", "w") as f:` I get the following error:

[code]

Do you know what the problem could be?

[2018-02-14 16:42] rreinecke commented on #548
@wkearn

Addressed issues:
(R1): Governing equations: I've added additional descriptions concerning the equations. In general they are very similar to MODFLOW why I felt reluctant to repeat their documentation effort. I've added a link to the documentation in the description text
(R2): The simple model example: I've extended the simple model explanation - hope it is now more streamlined and helps

[2018-02-14 16:46] arfon commented on #480
@alexhanna - many thanks for your review here and to @jasonclark for editing this submission ✨

@howardjp - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00480 ⚡️ 🚀 💥

[2018-02-14 16:46] #480 closed

[2018-02-14 16:46] whedon commented on #480
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00480/status.svg)](https://doi.org/10.21105/joss.00480)

**We need your help!**

Journal of Open Source Software

[2018-02-14 18:57] whedon opened #582 "[PRE REVIEW]: FNFT: A Software Library for Computing Nonlinear Fourier Transforms"
**Submitting author:** @wahls (<a href="http://orcid.org/0000-0001-5159-0918">Sander Wahls</a>)
**Repository:** <a href="https://github.com/FastNFT/FNFT" target ="_blank">https://github.com/FastNFT/FNFT</a>
**Version:** v0.1.0
**Editor:** @kyleniemeyer
**Reviewer:** @hafermann

**Author instructions**

Thanks for submitting your paper to JOSS @wahls. The JOSS editor (shown at the top of this issue

[2018-02-14 18:57] whedon commented on #582
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-14 18:57] whedon commented on #582
[code]

[2018-02-14 18:58] whedon commented on #582
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00582/joss.00582/10.21105.joss.00582.pdf)

[2018-02-14 18:58] arfon commented on #582
👋 @kyleniemeyer - the submitting author suggested you as the handling editor.

[2018-02-14 19:18] cMadan commented on #506
@Kevin-Mattheus-Moerman, it looks like we're all set then! All that's left is the DOI for the archived code.

@siboles and @wspr, thank you again for reviewing this submission!

[2018-02-14 19:46] jameshiebert commented on #360
Sure. Is there way that I can test it out locally before committing (e.g. with pandoc or something)? What's the command that you use for the article proof?

[2018-02-14 19:47] JohnMount commented on #579
@whedon set 10.5281/zenodo.1173318 as archive

[2018-02-14 19:47] whedon commented on #579
I'm sorry @JohnMount, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-02-14 19:47] JohnMount commented on #579
Sorry, didn't mean to overstep.

[2018-02-14 20:03] arfon commented on #579
:-) no problem. There are some things only editors can do and we generally do this towards the end of the review process...

[2018-02-14 20:16] arfon commented on #360
@jameshiebert - feel free to push commits to your repository and ask @whedon to compile it for you with `@whedon generate pdf`

[2018-02-14 20:29] pjotrp commented on #576
@whedon assign @andrewyatz as reviewer

[2018-02-14 20:29] whedon commented on #576
OK, the reviewer is @andrewyatz

[2018-02-14 20:30] pjotrp commented on #576
@whedon start review magic-word=bananas

[2018-02-14 20:30] whedon opened #583 "[REVIEW]: RNAsik: A Pipeline for complete and reproducible RNA-seq analysis that runs anywhere with speed and ease"
**Submitting author:** @serine (<a href="http://orcid.org/0000-0002-9195-2626">Kirill Tsyganov</a>)
**Repository:** <a href="https://github.com/MonashBioinformaticsPlatform/RNAsik-pipe" target ="_blank">https://github.com/MonashBioinformaticsPlatform/RNAsik-pipe</a>
**Version:** 1.4.9
**Editor:** @pjotrp
**Reviewer:** @andrewyatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.1403976" target

[2018-02-14 20:30] whedon commented on #576
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/583. Feel free to close this issue now!

[2018-02-14 20:30] whedon commented on #583
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @andrewyatz it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-02-14 20:30] whedon commented on #583
[code]

[2018-02-14 20:30] #576 closed

[2018-02-14 20:30] whedon commented on #583
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00583/joss.00583/10.21105.joss.00583.pdf)

[2018-02-14 20:33] pjotrp commented on #583
Hi @serine, thanks for your interesting submission. @andrewyatz will review. To expedite the process, can you go through above checklist and make sure we ought to be able to tick the boxes? And ping us here when you are done. Thanks!

[2018-02-14 21:25] karthik commented on #579
@whedon assign @earino as reviewer

[2018-02-14 21:25] whedon commented on #579
OK, the reviewer is @earino

[2018-02-14 21:27] jameshiebert commented on #360
@whedon generate pdf

[2018-02-14 21:27] whedon commented on #360
[code]

[2018-02-14 21:27] whedon commented on #360
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00360/joss.00360/10.21105.joss.00360.pdf)

[2018-02-14 21:28] karthik commented on #579
@earino I’m just about to go offline for a week but once a new review issue is created, you’ll have instructions on what to do. I can also help if you run into problems.

[2018-02-14 21:28] karthik commented on #579
@whedon start review

[2018-02-14 21:28] whedon commented on #579
You didn't say the magic word! Try this:

[code]

[2018-02-14 21:29] karthik commented on #579
@whedon start review magic-word=bananas

[2018-02-14 21:29] whedon opened #584 "[REVIEW]: The vtreat R package: a statistically sound data processor for predictive modeling"
**Submitting author:** @JohnMount (<a href="http://orcid.org/0000-0002-3696-2012">John Mount</a>)
**Repository:** <a href="https://github.com/WinVector/vtreat/" target ="_blank">https://github.com/WinVector/vtreat/</a>
**Version:** 1.0.2
**Editor:** @karthik
**Reviewer:** @earino
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1196479" target="_blank">10.5281/zenodo.1196479</a>

## Status

[2018-02-14 21:29] whedon commented on #579
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/584. Feel free to close this issue now!

[2018-02-14 21:29] whedon commented on #584
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @earino it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-02-14 21:29] whedon commented on #584
[code]

[2018-02-14 21:29] #579 closed

[2018-02-14 21:29] whedon commented on #584
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00584/joss.00584/10.21105.joss.00584.pdf)

[2018-02-14 23:15] JohnMount commented on #584
Just a note: we have included testthat tests in the package (an R way of automating tests).

[2018-02-15 01:30] aragilar commented on #165
Fixed (the odes textbook lacks a doi apparently, even though there are ebooks...). I don't have access to make a new release, so @bmcage will make a release when he has time, and do the upload to zenodo.

[2018-02-15 06:16] aragilar commented on #581
@mattpitkin That error due to me not checking that the code runs, it should be h5open not open (I've updated the docs), that example also used an older version of the api, where dictionaries could be used (I dropped that as there were a bunch of problems with it).

[2018-02-15 07:37] biorelated commented on #536
@whedon list reviewers

[2018-02-15 07:37] whedon commented on #536
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-02-15 07:40] biorelated commented on #536
@pboesu  @Tgerke Would you be happy to kindly review this work?

[2018-02-15 10:51] mlep commented on #448
@kyleniemeyer @arfon @wkearn: Because of the merging of two laboratories, the URL of the repository has changed from http://www.univ-orleans.fr/mapmo/soft/FullSWOF/ to https://www.idpoisson.fr/fullswof/ .
Could the URL be updated on the page of the article (http://joss.theoj.org/papers/10.21105/joss.00448)?
Cheers.

Note: currently there is an automatic redirection, but we do not know for how long

[2018-02-15 10:54] kyleniemeyer commented on #448
@mlep could you update the address in the Markdown paper? that will make this easier, if possible.

[2018-02-15 15:09] mattpitkin commented on #581
Thanks for these additions. Now that you've removed explicit Python 2 support could you update the version on PyPI, so that the badge on the README page no longer lists Python 2.7?

[2018-02-15 15:18] j-faria commented on #487
Hi @barentsen, @arfon, any ETA for continuing this review? Thank you

[2018-02-15 15:31] mattpitkin commented on #581
Regarding the automated testing, I'm not really familiar with tox, but what does it mean when the output says

[code]

Is it ok/expected that 43 `xfail`?

[2018-02-15 15:41] trallard commented on #568
@cMadan I think we can consider the revision of the package completed for the JOSS submission. @piermorel  has sorted out the issues identified and I am sure this package will continue to evolve since it seems to be already well accepted by the MATLAB community.

What are the next steps to be followed?

[2018-02-15 15:56] mattpitkin commented on #581
Just a minor typo thing - the links to the repo in the ["Contributing"](https://h5preserve.readthedocs.io/en/latest/Contributing.html) doc page point to github.org rather than github.com, so they don't work.

[2018-02-15 17:27] gvegayon commented on #528
Everything looks good to me. I'm OK with the current state of the package.

[2018-02-16 02:16] aragilar commented on #581
Fixed the urls, and added a test to the CI to make sure they don't break, and uploaded a new release to PyPI (so everything should show python 3 only).

The `xfail` come from [pytest](https://docs.pytest.org/en/latest/), it means the test is expected to fail (and hence "passes"), if they passed then there'd be a problem (I think most of those xfailing are stubs for unit tests I haven't had time to

[2018-02-16 04:01] mhucka commented on #578
Thanks for looking into this @arfon – and sorry it's such a trivial issue. But if you're getting the expected output, and that's what ultimately will be used, then that's good enough for me. It might not be worth pursuing further at this time.

Thanks again!

[2018-02-16 10:52] mattpitkin commented on #581
I just have a couple more question/requests?

Is it generally the case that you would define the `registry.loader` and `registry.dumper` functions outside of the class they're referring to, or could/should you have them as methods of the class just called, e.g., `dump` and `load`? The latter seems to make more sense to me, but maybe I'm thinking of these methods in the wrong way.

Would it be poss

[2018-02-16 11:01] mattpitkin commented on #581
A couple of minor typos to fix in the `paper.md` file:
 * change "...data structures produce by some modelling..." to "...data structures produce**d** by some modelling..."
 * change "...design flaws in pickle have brought up..." to "...design flaws in pickle have **been** brought up..."

[2018-02-16 11:10] mattpitkin commented on #581
Can you add the `doi = {10.1109/MCSE.2011.37}` to the `van_der_walt_numpy_2011` reference in the `paper.bib` file?

[2018-02-16 14:34] andrewyatz commented on #583
Hi @serine I've been running your installation procedure and have two issues with it. Could you double check your installation scripts on a clean system and just make sure everything is in order please? I'd rather not be opening lots of issues on your repos if I can avoid it plus it lengthens the review process incredibly.

[2018-02-16 14:43] corybrunson commented on #557
@arfon the issues i raised have been addressed, and i recommend acceptance of the current version. Thank you!

[2018-02-16 14:43] corybrunson commented on #557
@arfon the issues i raised have been addressed, and i recommend acceptance of the current version. Thank you!

[2018-02-16 15:38] ygrange commented on #538
Very minor comment: In the usage description the word "txet" appears.

I think for the rest, the paper is good to go as far as I am concerned.

[2018-02-16 16:06] mattpitkin commented on #538
Thanks, I've fixed to typo now.

[2018-02-16 17:07] barentsen commented on #487
I apologize for the delay.  I expect to have time to continue the review on Tuesday.

[2018-02-17 10:52] aragilar commented on #581
@mattpitkin I've added the paper changes, and I've added more examples, do they make sense to you?

Whilst there's nothing stopping you from making the dumpers/loaders static methods on the class, there a few reasons not to:

1. Sometimes it's hard to add methods to classes (or where it's inconvenient to): e.g. namedtuples, or other people's classes
2. Subclasses will use the same method for loadi

[2018-02-17 13:32] arfon commented on #557
👍 great!

@julia-wrobel - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-02-17 22:38] julia-wrobel commented on #557
@arfon  the DOI is 10.5281/zenodo.1175028

[2018-02-18 01:03] arfon commented on #538
@ygrange - just confirming we're good to accept here now?

[2018-02-18 01:05] arfon commented on #557
@whedon set 10.5281/zenodo.1175028 as archive

[2018-02-18 01:05] whedon commented on #557
OK. <a href="http://dx.doi.org/10.5281/zenodo.1175028" target="_blank">10.5281/zenodo.1175028</a> is the archive.

[2018-02-18 01:10] cMadan commented on #568
@trallard, great, thank you for your thorough review!

@brian-lau, have you had a chance to test the submission?

[2018-02-18 01:24] arfon commented on #557
@whedon generate pdf

[2018-02-18 01:24] whedon commented on #557
[code]

[2018-02-18 01:24] whedon commented on #557
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00557/joss.00557/10.21105.joss.00557.pdf)

[2018-02-18 01:29] arfon commented on #557
@corybrunson - many thanks for your review here.

@julia-wrobel - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00557 ⚡️ 🚀 💥

[2018-02-18 01:29] #557 closed

[2018-02-18 01:29] whedon commented on #557
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00557/status.svg)](https://doi.org/10.21105/joss.00557)

**We need your help!**

Journal of Open Source Software

[2018-02-18 01:47] whedon opened #585 "[PRE REVIEW]: pynucastro: an interface to nuclear reaction rates and code generator for reaction network equations"
**Submitting author:** @dwillcox (<a href="http://orcid.org/0000-0003-2300-5165">Donald Willcox</a>)
**Repository:** <a href="https://github.com/pynucastro/pynucastro" target ="_blank">https://github.com/pynucastro/pynucastro</a>
**Version:** 1.0.0
**Editor:** @katyhuff
**Reviewer:** @kyleniemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @dwillcox. The JOSS editor (shown

[2018-02-18 01:47] whedon commented on #585
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-18 01:47] whedon commented on #585
[code]

[2018-02-18 01:47] whedon opened #586 "[PRE REVIEW]: MCMCvis: Tools to Visualize, Manipulate, and Summarize MCMC Output"
**Submitting author:** @caseyyoungflesh (<a href="http://orcid.org/0000-0001-6343-3311">Casey Youngflesh</a>)
**Repository:** <a href="https://github.com/caseyyoungflesh/MCMCvis" target ="_blank">https://github.com/caseyyoungflesh/MCMCvis</a>
**Version:** v0.9.4
**Editor:** @arfon
**Reviewer:** @jkarreth

**Author instructions**

Thanks for submitting your paper to JOSS @caseyyoungflesh. The JOSS

[2018-02-18 01:47] whedon commented on #586
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-18 01:47] whedon commented on #586
[code]

[2018-02-18 01:47] whedon opened #587 "[PRE REVIEW]: Flux: Seamless machine learning with Julia"
**Submitting author:** @MikeInnes (<a href="http://orcid.org/0000-0003-0788-0242">Michael Innes</a>)
**Repository:** <a href="https://github.com/FluxML/Flux.jl" target ="_blank">https://github.com/FluxML/Flux.jl</a>
**Version:** v0.4.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @ysimillides

**Author instructions**

Thanks for submitting your paper to JOSS @MikeInnes. The JOSS editor (shown

[2018-02-18 01:47] whedon commented on #585
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00585/joss.00585/10.21105.joss.00585.pdf)

[2018-02-18 01:47] whedon commented on #587
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-18 01:47] whedon commented on #587
[code]

[2018-02-18 01:47] whedon commented on #586
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00586/joss.00586/10.21105.joss.00586.pdf)

[2018-02-18 01:47] whedon commented on #587
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00587/joss.00587/10.21105.joss.00587.pdf)

[2018-02-18 01:48] corybrunson commented on #557
@arfon thanks again! It was a delightful process. @julia-wrobel the package is very cool, i'm happy to have had a chance to experiment with it.

[2018-02-18 02:00] caseyyoungflesh commented on #586
Suggested reviewers (based on 'MCMC' or 'Bayes' in Domains and 'R' in Preferred Language):

* pboesu
* mdogucu
* jkarreth
* paulgovan

[2018-02-18 02:49] dwillcox commented on #585
@whedon commands

[2018-02-18 02:49] whedon commented on #585
Here are some things you can ask me to do:

[code]

[2018-02-18 02:54] dwillcox commented on #585
@zingale This is our JOSS pre review issue.

[2018-02-18 03:41] dwillcox commented on #585
A reviewer proficient in both Python and Fortran would be best able to assess this submission.

We would like to suggest @kyleniemeyer as a potential reviewer actively working in the closely related field of chemical combustion modeling.

[2018-02-18 06:25] dwillcox commented on #585
@whedon generate pdf

[2018-02-18 06:25] whedon commented on #585
[code]

[2018-02-18 06:25] whedon commented on #585
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00585/joss.00585/10.21105.joss.00585.pdf)

[2018-02-18 06:54] dwillcox commented on #585
@whedon generate pdf

[2018-02-18 06:54] whedon commented on #585
[code]

[2018-02-18 06:54] whedon commented on #585
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00585/joss.00585/10.21105.joss.00585.pdf)

[2018-02-18 07:50] ygrange commented on #538
Yes I am! Sorry for the unclarity.

--
Y. Grange

het volgende geschreven:

[2018-02-18 12:35] MikeInnes commented on #587
@whedon commands

[2018-02-18 12:35] whedon commented on #587
Here are some things you can ask me to do:

[code]

[2018-02-18 12:40] MikeInnes commented on #587
@whedon generate pdf

[2018-02-18 12:40] whedon commented on #587
[code]

[2018-02-18 12:41] whedon commented on #587
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00587/joss.00587/10.21105.joss.00587.pdf)

[2018-02-18 13:57] julia-wrobel commented on #557
@arfon thanks!
@corybrunson thanks! and thanks for your helpful comments

[2018-02-18 20:11] dwillcox commented on #585
@whedon generate pdf

[2018-02-18 20:11] whedon commented on #585
[code]

[2018-02-18 20:11] whedon commented on #585
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00585/joss.00585/10.21105.joss.00585.pdf)

[2018-02-18 22:08] arfon commented on #538
@mattpitkin - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-02-18 22:11] arfon commented on #268
Just sent an email to @tacaswell. If we don't hear back from him in the next couple of weeks @scls19fr I think we'll have to find another reviewer.

[2018-02-18 22:22] mattpitkin commented on #538
@arfon - sure, I've created an archive on Zenodo, with the DOI 10.5281/zenodo.1175303. [![DOI](https://zenodo.org/badge/110824647.svg)](https://zenodo.org/badge/latestdoi/110824647)

[2018-02-18 22:37] wkearn commented on #548
@rreinecke This looks great!

I am happy with a link to Modflow for documentation. As you say, their documentation is a lot more comprehensive, and if G³M implements basically the same equations, there is no point in duplicating that.

The simple model walkthrough is now more clear. I would encourage you to keep updating the documentation as you and others develop more applications with G³M, inclu

[2018-02-19 01:24] arfon commented on #538
@whedon set 10.5281/zenodo.1175303 as archive

[2018-02-19 01:24] whedon commented on #538
OK. <a href="http://dx.doi.org/10.5281/zenodo.1175303" target="_blank">10.5281/zenodo.1175303</a> is the archive.

[2018-02-19 01:29] arfon commented on #538
@ygrange - many thanks for your review here ✨

@mattpitkin - your paper is now accepted in JOSS and your DOI is https://doi.org/10.21105/joss.00538 ⚡️ 🚀 💥

[2018-02-19 01:29] #538 closed

[2018-02-19 01:29] whedon commented on #538
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00538/status.svg)](https://doi.org/10.21105/joss.00538)

**We need your help!**

Journal of Open Source Software

[2018-02-19 03:26] Kevin-Mattheus-Moerman commented on #506
@cmadan great! 🎉 Here is the DOI of the archived version:
[`https://doi.org/10.5281/zenodo.1175348`](https://doi.org/10.5281/zenodo.1175348)

@arfon the software version should be updated to be **v3.0.0**

@siboles @wspr thanks for the review! 🚀

[2018-02-19 03:29] Kevin-Mattheus-Moerman commented on #299
@akhuettel unfortunately I have not been able to track down a reviewer yet for this submission. The original reviewer has disappeared off the radar it seems. Has anything changed on your end? Do you have any reviewers you can suggest? We can either close this issue for now, or leave it open while we continue our search for reviewers.

[2018-02-19 03:32] Kevin-Mattheus-Moerman commented on #528
@whedon generate pdf

[2018-02-19 03:32] whedon commented on #528
[code]

[2018-02-19 03:32] whedon commented on #528
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00528/joss.00528/10.21105.joss.00528.pdf)

[2018-02-19 03:33] Kevin-Mattheus-Moerman commented on #547
@whedon generate pdf

[2018-02-19 03:33] whedon commented on #547
[code]

[2018-02-19 03:33] whedon commented on #547
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00547/joss.00547/10.21105.joss.00547.pdf)

[2018-02-19 03:35] Kevin-Mattheus-Moerman commented on #528
@jakobbossek it looks like we are nearly there. Can you check your references for DOI's. Not all currently have DOI's, perhaps they are not available for all but please check.

[2018-02-19 03:40] Kevin-Mattheus-Moerman commented on #547
@ResidentMario looks like we are good to proceed. 🚀

Can you please make the DOI of the reviewed software available? That way we can continue to process acceptance of this submission.

[2018-02-19 03:44] Kevin-Mattheus-Moerman commented on #548
Thanks @wkearn! 🤖 Are you done with the tickboxes at the top of this issue?

@rreinecke can you make a DOI to the archived version of the reviewed software available? This is needed to process acceptance of this submission.

[2018-02-19 03:51] ResidentMario commented on #547
Apologies---what do you mean by this? A little unclear to me. :)

[2018-02-19 03:54] wkearn commented on #548
I am now

[2018-02-19 05:53] wspr commented on #506
Congrats! And thanks all, it was great to be involved… please keep me in mind if there are future reviewing opportunities.

[2018-02-19 07:39] rreinecke commented on #548
@wkearn Thank you very much for your helpful feedback!
I'm very much looking forward to share the global model results with you and the research community.

@Kevin-Mattheus-Moerman https://zenodo.org/badge/latestdoi/109667597

[2018-02-19 13:33] Kevin-Mattheus-Moerman commented on #547
Basically you have to archive your work on a repository with a DOI.

See here: http://joss.theoj.org/about#author_guidelines

I use Zenodo (but other services like figshare can be used as well) and these steps: https://guides.github.com/activities/citable-code/

Once you have a DOI link paste it here. Let me know if you need help.

[2018-02-19 13:37] jakobbossek commented on #528
@Kevin-Mattheus-Moerman I tried hard to figure out DOI's for all the cited papers. Unfortuenately there are no DOI's available for most of them.

[2018-02-19 13:43] wahls commented on #582
@arfon @kyleniemeyer Anything we can do to help at this stage?

[2018-02-19 14:03] Kevin-Mattheus-Moerman commented on #528
Okay thanks for checking. Did you fix the figure caption?

[2018-02-19 14:03] jakobbossek commented on #528
Yes. Fixed it.

[2018-02-19 14:27] Kevin-Mattheus-Moerman commented on #528
@whedon generate pdf

[2018-02-19 14:27] whedon commented on #528
[code]

[2018-02-19 14:28] whedon commented on #528
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00528/joss.00528/10.21105.joss.00528.pdf)

[2018-02-19 14:30] Kevin-Mattheus-Moerman commented on #528
Looks good. Okay. You know the drill. At this point please share the DOI for the archived version of the reviewed software. Then @arfon can take it from there.

[2018-02-19 15:38] jakobbossek commented on #528
The DOI is 10.5281/zenodo.1175943
Thanks @Kevin-Mattheus-Moerman and @gvegayon 👏

[2018-02-19 16:48] arfon commented on #528
@whedon set 10.5281/zenodo.1175943 as archive

[2018-02-19 16:48] whedon commented on #528
OK. <a href="http://dx.doi.org/10.5281/zenodo.1175943" target="_blank">10.5281/zenodo.1175943</a> is the archive.

[2018-02-19 16:53] arfon commented on #528
@gvegayon - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@jakobbossek - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00528 ⚡️:rocket: :boom:

[2018-02-19 16:53] #528 closed

[2018-02-19 16:53] whedon commented on #528
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00528/status.svg)](https://doi.org/10.21105/joss.00528)

**We need your help!**

Journal of Open Source Software

[2018-02-19 16:55] arfon commented on #506
@whedon set 10.5281/zenodo.1175348 as archive

[2018-02-19 16:55] whedon commented on #506
OK. <a href="http://dx.doi.org/10.5281/zenodo.1175348" target="_blank">10.5281/zenodo.1175348</a> is the archive.

[2018-02-19 17:11] arfon commented on #506
@wspr @siboles - many thanks for your reviews here and to @cMadan for editing this submission ✨

@Kevin-Mattheus-Moerman - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00506 ⚡️ 🚀 💥

[2018-02-19 17:11] #506 closed

[2018-02-19 17:11] whedon commented on #506
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00506/status.svg)](https://doi.org/10.21105/joss.00506)

**We need your help!**

Journal of Open Source Software

[2018-02-19 18:15] pjotrp commented on #583
Ping @serine. The reviewer needs to be able to run the software. Can you provide the documentation to do just that? Should be straightforward with JVM. If you have already done that and can tick above boxes (e.g. for contribution guidelines) spell it out for the readers. Thanks!

[2018-02-19 18:40] kyleniemeyer commented on #565
@bryanwweber I noticed a few unchecked boxes above—are those issues related to the bjodah/chempy#80 and bjodah/chempy#81 issues you filed?

[2018-02-19 18:46] kyleniemeyer commented on #558
Hi @jedbrown just wanted to check in on the status of your review. Thanks!

[2018-02-19 18:53] jedbrown commented on #558
ETA end of this week.

[2018-02-19 18:59] kyleniemeyer commented on #585
@katyhuff If you are editing this submission, I can review it

[2018-02-19 19:00] kyleniemeyer commented on #585
@katyhuff although someone else in nuclear astrophysics may be good as a second reviewer

[2018-02-19 19:01] mattpitkin commented on #581
@aragilar - thanks, the examples look good to me, so I'm happy to sign things off.

@arfon - I'm happy for this to be accepted.

[2018-02-19 19:03] bjodah commented on #565
Sorry, I haven't addressed those yet. @bryanwweber pointed out that I don't provide conda packages for all platforms (only Linux). So I have been working on trying to support all (optional) dependencies of ChemPy for both OS X and Windows, but since many of them needs to be compiled with quite recent C++ features that endeavor quickly turned into a real rabbit hole.

I think I will just do what @b

[2018-02-19 19:14] kyleniemeyer commented on #565
@bjodah ok—regarding the platform issue, that seems reasonable as long as you are clear. If you do limit the conda route to Linux, then it would be helpful to explain how the package can be installed/used on other platforms.

[2018-02-19 19:15] kyleniemeyer commented on #565
@arfon FYI, the *Repository* link above seems to have some extra junk prepended on it, not sure if that has already been fixed in whedon: `https://github.com/openjournals/joss-reviews/issues/www.github.com/bjodah/chempy` instead of `www.github.com/bjodah/chempy`

[2018-02-19 19:45] bryanwweber commented on #565
@kyleniemeyer @bjodah The two about the "Statement of Need" are addressed by my comment on this issue: https://github.com/openjournals/joss-reviews/issues/565#issuecomment-363984324 The installation instructions are covered by the two issues in the ChemPy repository (and I'm satisfied with the response to them generally, which I'll mark on those two issues). The last one is the functionality testi

[2018-02-19 20:07] arfon commented on #581
@aragilar - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-02-19 22:31] katyhuff commented on #585
@kyleniemeyer : my pings to other reviewers so far have gone unanswered. It would be great if you'd be willing to review this -- I'll add a second reviewer as soon as an appropriate one arises.

[2018-02-19 22:41] katyhuff commented on #585
@whedon set @kyleniemeyer as reviewer

[2018-02-19 22:41] katyhuff commented on #585
@whedon assign @kyleniemeyer as reviewer

[2018-02-19 22:42] whedon commented on #585
OK, the reviewer is @kyleniemeyer

[2018-02-19 22:43] katyhuff commented on #585
@whedon start review

[2018-02-19 22:43] whedon commented on #585
You didn't say the magic word! Try this:

[code]

[2018-02-19 22:43] katyhuff commented on #585
@whedon start review magic-word=bananas

[2018-02-19 22:43] whedon opened #588 "[REVIEW]: pynucastro: an interface to nuclear reaction rates and code generator for reaction network equations"
**Submitting author:** @dwillcox (<a href="http://orcid.org/0000-0003-2300-5165">Donald Willcox</a>)
**Repository:** <a href="https://github.com/pynucastro/pynucastro" target ="_blank">https://github.com/pynucastro/pynucastro</a>
**Version:** 1.1.1
**Editor:** @katyhuff
**Reviewer:** @jschwab
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1202434" target="_blank">10.5281/zenodo.1202434</a>

[2018-02-19 22:43] whedon commented on #585
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/588. Feel free to close this issue now!

[2018-02-19 22:43] whedon commented on #588
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-02-19 22:43] whedon commented on #588
[code]

[2018-02-19 22:43] #585 closed

[2018-02-19 22:43] whedon commented on #588
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00588/joss.00588/10.21105.joss.00588.pdf)

[2018-02-19 22:44] katyhuff commented on #585
@dwillcox @zingale @kyleniemeyer , the review will happen over in #588 .

[2018-02-19 23:24] kellieotto commented on #577
More detailed comments are available for the author in issues in the package's repository.

- Unit tests are absent (PetoLau/TSrepr#2)
- Community guidelines for contribution should be added (PetoLau/TSrepr#3)
- Paper needs proofreading (PetoLau/TSrepr#4)

[2018-02-20 02:07] aragilar commented on #581
Zenodo doi: https://doi.org/10.5281/zenodo.1179292
Zenodo record: https://zenodo.org/record/1179292

[2018-02-20 02:16] justinesarey commented on #523
I have completed this review. The software appears to work as advertised (at least, it matches results on identical data in Stata 15.1 -- an encouraging sign!). However, the documentation provided in R (when installed using install.packages("ivprobit", dep=T)) makes the software challenging to figure out. The basic issue is that the important information in the help files don't correspond to CRAN

[2018-02-20 08:35] leeper commented on #523
Thanks, @justinesarey! Very helpful.

@zedtaha, can you address Justin's points here and the incomplete items from the review checklist above? Please ping me here when you've had a chance to respond to all of these points.

[2018-02-20 09:56] zedtaha commented on #523
@leeper OK I will give Justin back. Thanks

[2018-02-20 11:14] arfon commented on #581
@whedon set 10.5281/zenodo.1179292 as archive

[2018-02-20 11:14] whedon commented on #581
OK. <a href="http://dx.doi.org/10.5281/zenodo.1179292" target="_blank">10.5281/zenodo.1179292</a> is the archive.

[2018-02-20 11:21] whedon opened #589 "[PRE REVIEW]: Async Modules Supporting ES5 & ES6 with Control Flow"
**Submitting author:** @IbrahimTanyalcin (<a href="http://orcid.org/0000-0003-0327-5096">Ibrahim  Tanyalcin</a>)
**Repository:** <a href="https://github.com/IbrahimTanyalcin/taskq" target ="_blank">https://github.com/IbrahimTanyalcin/taskq</a>
**Version:** v2.1.4
**Editor:** @arfon
**Reviewers:** @xirdneh

**Author instructions**

Thanks for submitting your paper to JOSS @IbrahimTanyalcin. The JOS

[2018-02-20 11:21] whedon commented on #589
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-20 11:21] whedon commented on #589
[code]

[2018-02-20 11:21] arfon commented on #589
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my paper contain'_](

[2018-02-20 11:21] whedon commented on #589
PDF failed to compile for issue #589 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0     50      0 --:--:-- --:--:-- --:--:--    50
Error producing PD

[2018-02-20 11:21] whedon opened #590 "[PRE REVIEW]: Phylen: automatic phylogenetic reconstruction using the EggNOG database"
**Submitting author:** @giraola (<a href="http://orcid.org/0000-0002-6516-3404">Gregorio Iraola</a>)
**Repository:** <a href="https://github.com/iferres/phylen" target ="_blank">https://github.com/iferres/phylen</a>
**Version:** v0.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @juanvillada

**Author instructions**

Thanks for submitting your paper to JOSS @giraola. The JOSS editor (shown a

[2018-02-20 11:22] whedon commented on #590
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-20 11:22] whedon commented on #590
[code]

[2018-02-20 11:22] whedon commented on #590
PDF failed to compile for issue #590 with the following error:

 Can't find any papers to compile :-(

[2018-02-20 11:22] whedon opened #591 "[PRE REVIEW]: A reusable tree-based web-visualization to browse EDAM ontology, and contribute to it."
**Submitting author:** @bryan-brancotte (<a href="http://orcid.org/0000-0001-8669-5525">Bryan Brancotte</a>)
**Repository:** <a href="https://github.com/IFB-ElixirFr/edam-browser" target ="_blank">https://github.com/IFB-ElixirFr/edam-browser</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewers:** @alexgarciac

**Author instructions**

Thanks for submitting your paper to JOSS @bryan-brancotte. T

[2018-02-20 11:22] whedon commented on #591
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-20 11:22] whedon commented on #591
[code]

[2018-02-20 11:22] whedon commented on #591
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00591/joss.00591/10.21105.joss.00591.pdf)

[2018-02-20 11:36] giraola commented on #590
@whedon commands

[2018-02-20 11:36] whedon commented on #590
Here are some things you can ask me to do:

[code]

[2018-02-20 11:37] giraola commented on #590
@whedon list reviewers

[2018-02-20 11:37] whedon commented on #590
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-02-20 11:51] giraola commented on #590
@whedon assign @luizirber as reviewer

[2018-02-20 11:51] whedon commented on #590
I'm sorry @giraola, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-02-20 11:52] giraola commented on #590
@whedon generate pdf

[2018-02-20 11:52] whedon commented on #590
[code]

[2018-02-20 11:52] whedon commented on #590
PDF failed to compile for issue #590 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/590/paper.md): mapping values are not allowed in this context at line 17 column 30 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vendor/ru

[2018-02-20 11:57] bryan-brancotte commented on #591
@whedon commands

[2018-02-20 11:57] whedon commented on #591
Here are some things you can ask me to do:

[code]

[2018-02-20 11:58] bryan-brancotte commented on #591
@whedon generate pdf

[2018-02-20 11:58] whedon commented on #591
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00591/joss.00591/10.21105.joss.00591.pdf)

[2018-02-20 11:59] IbrahimTanyalcin commented on #589
Hi Arfon,

Thank you very much for the inquiry. I will directly give examples from a project where I am the frontend developer:

http://deogen2.mutaframe.com/

This work has been published in Nucleic Acids Research (https://academic.oup.com/nar/article/45/W1/W201/3819233) and in a newer version we are making several calls to other databases, while having to instantiate many different modules seque

[2018-02-20 12:09] bryan-brancotte commented on #591
@whedon generate pdf

[2018-02-20 12:09] whedon commented on #591
[code]

[2018-02-20 12:10] whedon commented on #591
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00591/joss.00591/10.21105.joss.00591.pdf)

[2018-02-20 12:18] bryan-brancotte commented on #591
@whedon generate pdf

[2018-02-20 12:18] whedon commented on #591
[code]

[2018-02-20 12:19] whedon commented on #591
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00591/joss.00591/10.21105.joss.00591.pdf)

[2018-02-20 12:21] bryan-brancotte commented on #591
@whedon generate pdf

[2018-02-20 12:21] whedon commented on #591
[code]

[2018-02-20 12:31] bryan-brancotte commented on #591
@whedon generate pdf

[2018-02-20 12:31] whedon commented on #591
[code]

[2018-02-20 12:32] whedon commented on #591
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00591/joss.00591/10.21105.joss.00591.pdf)

[2018-02-20 12:37] bryan-brancotte commented on #591
@whedon generate pdf

[2018-02-20 12:37] whedon commented on #591
[code]

[2018-02-20 12:38] whedon commented on #591
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00591/joss.00591/10.21105.joss.00591.pdf)

[2018-02-20 12:42] bryan-brancotte commented on #591
Hi
The labels should be updated, Python should be removed and JavaScript added.
Best,

[2018-02-20 12:50] bryan-brancotte commented on #591
@whedon generate pdf

[2018-02-20 12:50] whedon commented on #591
[code]

[2018-02-20 12:51] whedon commented on #591
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00591/joss.00591/10.21105.joss.00591.pdf)

[2018-02-20 12:52] bryan-brancotte commented on #591
@whedon generate pdf

[2018-02-20 12:53] whedon commented on #591
[code]

[2018-02-20 12:53] whedon commented on #591
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00591/joss.00591/10.21105.joss.00591.pdf)

[2018-02-20 13:48] iferres commented on #590
@whedon compile pdf

[2018-02-20 13:48] iferres commented on #590
@whedon generate pdf

[2018-02-20 13:49] whedon commented on #590
[code]

[2018-02-20 13:49] whedon commented on #590
PDF failed to compile for issue #590 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/590/paper.md): mapping values are not allowed in this context at line 17 column 30 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vendor/ru

[2018-02-20 13:54] iferres commented on #590
@whedon generate pdf

[2018-02-20 13:54] whedon commented on #590
[code]

[2018-02-20 13:55] whedon commented on #590
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00590/joss.00590/10.21105.joss.00590.pdf)

[2018-02-20 13:59] iferres commented on #590
@whedon generate pdf

[2018-02-20 13:59] whedon commented on #590
[code]

[2018-02-20 14:00] whedon commented on #590
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00590/joss.00590/10.21105.joss.00590.pdf)

[2018-02-20 14:04] arfon commented on #581
@mattpitkin many thanks for your review here ✨

@aragilar - your paper is now accepted into JOSS and your doi is https://doi.org/10.21105/joss.00581 :zap: :rocket: :boom:

[2018-02-20 14:04] #581 closed

[2018-02-20 14:04] whedon commented on #581
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00581/status.svg)](https://doi.org/10.21105/joss.00581)

**We need your help!**

Journal of Open Source Software

[2018-02-20 14:04] iferres commented on #590
@whedon generate pdf

[2018-02-20 14:04] whedon commented on #590
[code]

[2018-02-20 14:05] whedon commented on #590
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00590/joss.00590/10.21105.joss.00590.pdf)

[2018-02-20 14:09] iferres commented on #590
@whedon start review

[2018-02-20 14:09] whedon commented on #590
I'm sorry @iferres, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-02-20 19:16] Kevin-Mattheus-Moerman commented on #548
@whedon generate pdf

[2018-02-20 19:16] whedon commented on #548
[code]

[2018-02-20 19:17] whedon commented on #548
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00548/joss.00548/10.21105.joss.00548.pdf)

[2018-02-20 19:20] Kevin-Mattheus-Moerman commented on #548
@arfon we are good to proceed with acceptance of this paper.

[2018-02-20 20:52] edoddridge commented on #498
Hi all, just wondering if there's anything you need me to do for this.

[2018-02-20 21:00] kyleniemeyer commented on #498
Hi @edoddridge sorry for the delay, I was planning to get a second reviewer with closer expertise in ocean modeling—will wrap that up shortly.

[2018-02-20 21:05] edoddridge commented on #498
No worries. I was just making sure that I wasn't causing the delay. If you haven't found anyone yet, the [stargazers](https://github.com/edoddridge/aronnax/stargazers) might be a useful list.

[2018-02-20 21:33] kyleniemeyer commented on #498
Alright so @rabernat has agreed to serve as a secondary reviewer—thanks! (https://twitter.com/rabernat/status/966062926351265792)

I will advance this to the next steps now.

[2018-02-20 21:33] kyleniemeyer commented on #498
@whedon assign @dvalters as reviewer

[2018-02-20 21:33] whedon commented on #498
OK, the reviewer is @dvalters

[2018-02-20 21:34] kyleniemeyer commented on #498
@dvalters @rabernat you will both serve as reviewers, but our system only supports one "official" reviewer right now.

[2018-02-20 21:34] kyleniemeyer commented on #498
@whedon start review magic-word=bananas

[2018-02-20 21:34] whedon opened #592 "[REVIEW]: Aronnax: An idealised isopycnal ocean model"
**Submitting author:** @edoddridge (<a href="http://orcid.org/0000-0002-6097-5729">Edward Doddridge</a>)
**Repository:** <a href="https://github.com/edoddridge/aronnax" target ="_blank">https://github.com/edoddridge/aronnax</a>
**Version:** 0.1.0
**Editor:** @kyleniemeyer
**Reviewer:** @dvalters
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1290742" target="_blank">10.5281/zenodo.1290742<

[2018-02-20 21:34] whedon commented on #498
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/592. Feel free to close this issue now!

[2018-02-20 21:34] whedon commented on #592
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @dvalters it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-02-20 21:34] whedon commented on #592
[code]

[2018-02-20 21:35] whedon commented on #592
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00592/joss.00592/10.21105.joss.00592.pdf)

[2018-02-20 21:35] kyleniemeyer commented on #592
@edoddridge @dvalters @rabernat 👋 the review actually takes place in here. Thanks!

[2018-02-20 21:35] kyleniemeyer commented on #498
Moving over to the actual review in #592 now, and closing this.

[2018-02-20 21:35] #498 closed

[2018-02-20 21:42] rabernat commented on #592
It looks like this issue is specifically for @dvalters' review. Is there a separate one for mine?

First time reviewing for JOSS, sorry for the n00b question...

[2018-02-20 21:47] kyleniemeyer commented on #592
@rabernat no worries—we haven't improved the process yet for two reviewers. We have a single review issue, so that all the interactions take place together. @dvalters will "officially" fill out the checklist, but you should also go through it and see if you agree/disagree with the points; if you do, you can just mention in in a comment.

We also encourage reviewers to file issues in the software's

[2018-02-20 22:09] arfon commented on #548
@whedon set 10.5281/zenodo.1175540 as archive

[2018-02-20 22:09] whedon commented on #548
OK. <a href="http://dx.doi.org/10.5281/zenodo.1175540" target="_blank">10.5281/zenodo.1175540</a> is the archive.

[2018-02-20 22:19] arfon commented on #548
@wkearn - many thanks for your review and to @Kevin-Mattheus-Moerman for editing this submission ✨

@rreinecke - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00548 ⚡️:rocket: :boom:

[2018-02-20 22:19] #548 closed

[2018-02-20 22:19] whedon commented on #548
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00548/status.svg)](https://doi.org/10.21105/joss.00548)

**We need your help!**

Journal of Open Source Software

[2018-02-21 12:04] serine commented on #583
@pjotrp and @andrewyatz as I've mention in my [previous comment](https://github.com/MonashBioinformaticsPlatform/RNAsik-pipe/issues/16#issuecomment-367302865) `RNAsik` depends on a lot of different tools and I some what assumed that dependencies of every tool don't need to be listed under `RNAsik`. In the case of BigDataScripit it depends on java, golang and ant, given that I said BigDataScript is

[2018-02-21 12:12] serine commented on #583
Just to follow up on previous comment above. `virtualenv` isn't strictly necessary if you already have `ansible` installed, you can skip `virtualenv` step. Every time you opening a new shell you'll need to `export` both bds and `RNAsik` again. You can put those two export lines into your `~/.bashrc` if you like. I personally don't like to pollute my `~/.bashrc` with random exports.

A general comm

[2018-02-21 13:33] iferres commented on #590
@whedon generate pdf

[2018-02-21 13:33] whedon commented on #590
[code]

[2018-02-21 13:34] whedon commented on #590
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00590/joss.00590/10.21105.joss.00590.pdf)

[2018-02-21 14:01] iferres commented on #590
@whedon generate pdf

[2018-02-21 14:01] whedon commented on #590
[code]

[2018-02-21 14:01] whedon commented on #590
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00590/joss.00590/10.21105.joss.00590.pdf)

[2018-02-21 14:04] whedon commented on #590
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00590/joss.00590/10.21105.joss.00590.pdf)

[2018-02-21 14:50] zedtaha commented on #523
Hi @justinesarey i updated the ivprobit R package close to your comment points. Hope its OK ;)

[2018-02-21 14:52] zedtaha commented on #523
Hi @leeper  i updated my code close to justin points and hope its ok ;) best

[2018-02-21 15:02] Kevin-Mattheus-Moerman commented on #590
Hi @iferres @giraola thanks for your submission. Can you help suggest potential reviewers in your field?

[2018-02-21 15:05] Kevin-Mattheus-Moerman commented on #587
@betatim is this your cup of tea :tea: or do you know any potential reviewers?

[2018-02-21 15:05] Kevin-Mattheus-Moerman commented on #572
@whedon generate pdf

[2018-02-21 15:05] whedon commented on #572
[code]

[2018-02-21 15:15] Kevin-Mattheus-Moerman commented on #572
@asmeurer @mattpap is this your cup of tea :tea: ? Would you be able to help review this [JOSS](http://joss.theoj.org/) submission? Alternatively, could you help suggest reviewers? Thanks! :rocket:

You can access the paper [here](https://github.com/openjournals/joss-papers/blob/joss.00572/joss.00572/10.21105.joss.00572.pdf).

The project is housed [here](https://github.com/HPAC/matchpy).

If you

[2018-02-21 15:16] Kevin-Mattheus-Moerman commented on #572
@betatim are you interested in this too?

[2018-02-21 15:19] justinesarey commented on #523
Is this updated on CRAN as well? I'd like to run
update.packages("ivprobit") and check out the new help files.

-JE

--

Dr. Justin Esarey
Associate Professor of Political Science
Rice University
Voice: (678) 383-9629
Fax: (713) 348-5273
E-mail:  <justin@justinesarey.com>justin@justinesarey.com
Web: www.justinesarey.com

On Wed, Feb 21, 2018 at 8:52 AM, Taha Zaghdoudi <notifications@github.com>
wr

[2018-02-21 15:22] zedtaha commented on #523
@justinesarey no just on the git but I ll do it now

[2018-02-21 15:23] justinesarey commented on #523
Thanks! I'll take a look once the new package propagates to the CRAN mirror.

-JE

--

Dr. Justin Esarey
Associate Professor of Political Science
Rice University
Voice: (678) 383-9629
Fax: (713) 348-5273
E-mail:  <justin@justinesarey.com>justin@justinesarey.com
Web: www.justinesarey.com

On Wed, Feb 21, 2018 at 9:22 AM, Taha Zaghdoudi <notifications@github.com>
wrote:

[2018-02-21 15:28] giraola commented on #590
Hi @Kevin-Mattheus-Moerman, from the list of reviewers we suggest @kortschak, @serine or @juanvillada from the list of JOSS reviewers.

[2018-02-21 15:31] Kevin-Mattheus-Moerman commented on #590
@KlausVigo would you or your co-workers be interested in reviewing this submission for JOSS (the journal of open source software)?

Review largely focuses on [the software project](https://github.com/iferres/phylen) and a [short paper](https://github.com/openjournals/joss-papers/blob/joss.00590/joss.00590/10.21105.joss.00590.pdf).

Background information:
- About [JOSS](http://joss.theoj.org/)
- [

[2018-02-21 15:31] Kevin-Mattheus-Moerman commented on #590
Thanks @giraola
@kortschak, @serine or @juanvillada you were suggested as reviewers. Are you interested/available to help with this submission?

[2018-02-21 15:32] Kevin-Mattheus-Moerman commented on #590
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-02-21 15:32] whedon commented on #590
OK, the editor is @Kevin-Mattheus-Moerman

[2018-02-21 18:33] pjotrp commented on #583
Complicated tools may have complicated setups ;). One solution would be to provide a Docker container (though I am no fan particularly).  @andrewyatz are up up for trying? Possibly a VM would be the easiest.

[2018-02-22 03:08] serine commented on #583
yeh, I'm not sold on docker yet, but I can try getting you a docker image if that's preferred. Let me know @andrewyatz

[2018-02-22 04:26] kortschak commented on #590
I can do this, though R is not a preferred language for me so if one of the others want to pick this up that may be better. Having had a brief look through the code though, I don't see any obvious automated testing.

[2018-02-22 04:59] juanvillada commented on #590
Hi there! I am available to help, count on me if still required.

[2018-02-22 05:15] serine commented on #590
I'm happy for either @juanvillada or @kortschak to take this one, mainly because because I have some work built up and won't be able to commit to this until after a week or so, but can do it later on.

Thanks,

[2018-02-22 08:34] mlep commented on #448
@kyleniemeyer The updated md file is here: https://www.univ-orleans.fr/mapmo/membres/lucas/paper.md

[2018-02-22 09:41] zedtaha commented on #523
Hi @justinesarey pckage on CRAN

[2018-02-22 09:51] leeper commented on #523
@zedtaha Great. Can you please create a DOI for your repository by archiving through [zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or a similar service - and then put the DOI in your README file and as a comment here?

[2018-02-22 13:36] Kevin-Mattheus-Moerman commented on #590
@whedon assign @juanvillada as reviewer

[2018-02-22 13:36] whedon commented on #590
OK, the reviewer is @juanvillada

[2018-02-22 13:37] Kevin-Mattheus-Moerman commented on #590
@whedon start review magic-word=bananas

[2018-02-22 13:37] whedon commented on #590
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/593. Feel free to close this issue now!

[2018-02-22 13:37] whedon opened #593 "[REVIEW]: Phylen: automatic phylogenetic reconstruction using the EggNOG database"
**Submitting author:** @giraola (<a href="http://orcid.org/0000-0002-6516-3404">Gregorio Iraola</a>)
**Repository:** <a href="https://github.com/iferres/phylen" target ="_blank">https://github.com/iferres/phylen</a>
**Version:** v0.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @juanvillada
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.6223538.v1" target="_blank">10.6084/m9.fi

[2018-02-22 13:37] whedon commented on #593
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @juanvillada it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-02-22 13:37] whedon commented on #593
[code]

[2018-02-22 13:38] whedon commented on #593
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00593/joss.00593/10.21105.joss.00593.pdf)

[2018-02-22 13:42] Kevin-Mattheus-Moerman commented on #590
Okay @giraola @iferres we've started review at #593 the first reviewer is @juanvillada. @kortschak I'll add you as a second reviewer and any comments you have are welcome. I'll also search for a 3rd reviewer, perhaps @KlausVigo

[2018-02-22 13:45] Kevin-Mattheus-Moerman commented on #593
@giraola @iferres can you comment on testing your code or point @kortschak to a "test suite"?

[2018-02-22 13:52] iferres commented on #593
Thanks @Kevin-Mattheus-Moerman. @kortschak Thanks for your comment. I'm preparing a real case example to improve the README.md, I will add some data to the repo so it can be tested.

[2018-02-22 14:02] zedtaha commented on #523
Hi @leeper done ;) DOI in Readme. Best

[2018-02-22 14:12] giraola commented on #593
Hi @kortschak, @Kevin-Mattheus-Moerman and @juanvillada, thanks for accepting the revision of our manuscript. Following your recommendations we want to include a full test situation, however we think it has no sense to upload the full genomes into the repo (genomes are also public), so do you think pointing to a download link for the test data would be ok?

[2018-02-22 14:42] bmcage commented on #165
Release done v2.3.2, with all changes included. https://zenodo.org/record/1183272
There were some internal server errors in Zenodo originally, so had to draft the release a second time on github as v2.3.2b to have Zenodo upload working. DOI not active yet at time of writing this: should be https://doi.org/10.5281/zenodo.1183272

[2018-02-22 14:57] kyleniemeyer commented on #165
@bmcage @aragilar thanks!

[2018-02-22 14:57] kyleniemeyer commented on #165
@arfon this submission is ready to accept.

[2018-02-22 15:40] leeper commented on #523
@zedtaha Can you please update the archive so it contains the current version of the software? Looks like the most recent version is from 2014.

[2018-02-22 15:40] leeper commented on #523
@whedon set 10.5281/zenodo.1109725 as archive

[2018-02-22 15:41] whedon commented on #523
OK. <a href="http://dx.doi.org/10.5281/zenodo.1109725" target="_blank">10.5281/zenodo.1109725</a> is the archive.

[2018-02-22 16:12] zedtaha commented on #523
@leeper archive updated

[2018-02-22 16:16] zedtaha commented on #523
@leeper i delated the old licence

[2018-02-22 16:17] kyleniemeyer commented on #448
@arfon is it possible to update the paper?

[2018-02-22 16:23] lheagy commented on #580
Hi @leouieda: would you be willing to do a first go on looking through the software? @hugoledoux had a lot on his plate at the moment and mentioned that he would be able to jump in near the end of the month. Please let me know if you have any questions!

[2018-02-22 17:19] andrewyatz commented on #583
I'm going to try normally. You have my upmost sympathy with respect to dependency management and bioinformatic programs.

[2018-02-22 19:37] pjotrp commented on #583
You may want to look into GNU Guix some day. I don't have any problems with the dependency graph.

[2018-02-22 19:55] KlausVigo commented on #590
@Kevin-Mattheus-Moerman I could look at it but I have no time this week. Is there any potential conflict of interest as the package uses (and luckily cites) phangorn a lot?

[2018-02-22 20:07] iferres commented on #593
@kortschak Please check the repo new README.md file. I have also attached example data, so you may have to re install the package.

[2018-02-22 20:21] Kevin-Mattheus-Moerman commented on #590
@KlausVigo thanks. This review issue will remain open for a bit so we can wait for your to join after this week. Your input would be greatly appreciated!
Thanks for raising the issue of a conflicts of interest. I do not think them citing/using your work is an issue. In fact it further illustrates that you are a suitable reviewer as this directly applied to your expertise. We also have multiple rev

[2018-02-22 20:23] Kevin-Mattheus-Moerman commented on #593
@KlausVigo I've just added a tickbox set for you as well

[2018-02-22 20:29] Kevin-Mattheus-Moerman commented on #593
@whedon assign @kortschak as reviewer

[2018-02-22 20:29] whedon commented on #593
OK, the reviewer is @kortschak

[2018-02-22 20:30] Kevin-Mattheus-Moerman commented on #593
@whedon assign @KlausVigo as reviewer

[2018-02-22 20:30] whedon commented on #593
OK, the reviewer is @KlausVigo

[2018-02-22 20:30] Kevin-Mattheus-Moerman commented on #593
@whedon assign @juanvillada as reviewer

[2018-02-22 20:30] whedon commented on #593
OK, the reviewer is @juanvillada

[2018-02-22 20:34] Kevin-Mattheus-Moerman commented on #593
@juanvillada (reviewer 1) @kortschak (reviewer 2) @KlausVigo (reviewer 3) we are good to go for the review process. Let me know if you are not able to tick the boxes at the top of this issue (be sure to accept this invite: https://github.com/openjournals/joss-reviews/invitations).
If you have questions just ping me or check out the [reviewer guidelines](http://joss.theoj.org/about#reviewer_guideli

[2018-02-22 20:53] kortschak commented on #593
@giraola Thank you for making a start on testing. I think that in the context of this tool integration testing is going to be very useful from a number of perspectives: 1) making people trust that the software behaves as advertised, 2) guards against regressions and 3) provides an idiomatic recipe for users to work from, so yes, I think that it should be OK to run a test on downloaded data (it mig

[2018-02-22 23:01] leouieda commented on #580
Hi @lheagy, I can get started on this tomorrow. I had a look at the guidelines and review questions.

It seems that there has been a new release (1.6.0) since the paper was submitted. Should @scivision update the paper/issue content to match?

[2018-02-22 23:09] lheagy commented on #580
Thanks @leouieda, yes, that is a good catch. @arfon: how do we update the version on this issue? manually? or should this be done with whedon?

[2018-02-22 23:53] arfon commented on #580
You can simply edit the comment by @whedon at the top of the issue.

[2018-02-23 03:05] giraola commented on #593
@kortschak thank you for these suggestions. We are exploring `testthat` to add unit tests to the main functions of `phylen`. In parallel, we already added a fully packaged example with step-by-step explanation to run it.

[2018-02-23 11:32] arfon commented on #165
@whedon set 10.5281/zenodo.1183272 as archive

[2018-02-23 11:32] whedon commented on #165
OK. <a href="http://dx.doi.org/10.5281/zenodo.1183272" target="_blank">10.5281/zenodo.1183272</a> is the archive.

[2018-02-23 11:33] zedtaha commented on #523
@leeper the updated archive https://doi.org/10.5281/zenodo.1183253

[2018-02-23 11:37] arfon commented on #165
@arghdos - many thanks for your review here and to @kyleniemeyer for editing this submission ✨

@bmcage @aragilar - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00165 :zap: :rocket: :boom:

[2018-02-23 11:37] #165 closed

[2018-02-23 11:37] whedon commented on #165
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00165/status.svg)](https://doi.org/10.21105/joss.00165)

**We need your help!**

Journal of Open Source Software

[2018-02-23 12:08] leeper commented on #523
@zedtaha Great. Once you accept and merge [this Pull Request](https://github.com/zedtaha/ivprobit-1.0/pull/1), then your paper will be accepted at JOSS!

[2018-02-23 12:42] leeper commented on #523
@whedon set 10.5281/zenodo.1183253 as archive

[2018-02-23 12:42] whedon commented on #523
OK. <a href="http://dx.doi.org/10.5281/zenodo.1183253" target="_blank">10.5281/zenodo.1183253</a> is the archive.

[2018-02-23 12:43] leeper commented on #523
@whedon generate pdf

[2018-02-23 12:43] whedon commented on #523
[code]

[2018-02-23 12:43] whedon commented on #523
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00523/joss.00523/10.21105.joss.00523.pdf)

[2018-02-23 14:16] arfon commented on #448
Yep. I've updated the paper with the new address. The PDF might take a few hours to update because of caching.

[2018-02-23 14:31] leeper commented on #523
@arfon This one's over to you!

[2018-02-23 14:42] arfon commented on #523
@justinesarey - many thanks for your review here and to @leeper for editing this submission ✨

@zedtaha - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00523 ⚡️🚀💥

[2018-02-23 14:42] #523 closed

[2018-02-23 14:42] whedon commented on #523
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00523/status.svg)](https://doi.org/10.21105/joss.00523)

**We need your help!**

Journal of Open Source Software

[2018-02-23 15:17] zedtaha commented on #523
@leeper @justinesarey thank you for your comments and review @arfon thank you too JOSS  and best

[2018-02-23 15:18] justinesarey commented on #523
Just FYI: the title of the package is listed as “ivporbit” but I’m pretty
sure the author meant “ivprobit.” Perhaps that can be changed?

-JE

On Fri, Feb 23, 2018 at 8:44 AM Arfon Smith <notifications@github.com>
wrote:

--
Dr. Justin Esarey
Associate Professor of Political Science
Rice University
Voice: (678) 383-9629
Fax: (713) 348-5273
E-mail: justin@justinesarey.com
Web: www.justinesarey.com

[2018-02-23 15:23] scivision commented on #580
Thanks, I updated [paper.md](https://github.com/scivision/pymap3d/commit/c07feead980407e622da9086ce11df2d4174eb96) to mention the Fortran code. The Matlab and Fortran code are completely independent standalone codes for those langauges.

[2018-02-23 15:30] arfon commented on #523
Good catch. I've just updated this.

[2018-02-23 17:10] leeper commented on #523
Thanks, @justinesarey, for that but especially for your review!

[2018-02-23 22:33] jameshiebert commented on #360
@whedon generate pdf

[2018-02-23 22:33] whedon commented on #360
[code]

[2018-02-23 22:36] jameshiebert commented on #360
@arfon References are cited in the paper and now included in the bibliography. Do you need me to great a new DOI/archive or can you work off my master branch?

[2018-02-24 04:17] kyleniemeyer commented on #582
hi @wahls, can you suggest any potential reviewers from your field that we might reach out to?

[2018-02-24 12:17] wahls commented on #582
@kyleniemeyer, Hartmut @hafermann would be a good choice if he is available. He also does research in the field and has experience with C++ open source development.

[2018-02-24 20:57] earino commented on #584
@JohnMount greeting! I was going through the review checklist, and most things are very straightforward. I should add that this is my first review for JOSS, so I please bare with me. I however couldn't verify:

- community guidelines
- all archival references that should have a DOI list one (e.g., papers, datasets, software)?

If you could help me find them, I would appreciate it!

[2018-02-24 21:07] JohnMount commented on #584
@earino Thanks for volunteering!  Please don't hesitate to ask me questions.

 * The project has not yet added explicit community guidelines.  We certainly must adhere to the https://help.github.com/articles/github-community-guidelines/ by being on GitHub and subject to their terms of service.  I'll can look into finding some explicit guidelines if that is a requirement (or is it enough to note th

[2018-02-24 21:14] JohnMount commented on #584
@whedon commands

[2018-02-24 21:14] whedon commented on #584
Here are some things you can ask me to do:

[code]

[2018-02-24 21:15] JohnMount commented on #584
@whedon generate pdf

[2018-02-24 21:15] whedon commented on #584
[code]

[2018-02-24 21:15] earino commented on #584
@JohnMount I'm happy to. I've spoken about this package in a few talks, so it seems like a good intersection of interest and aptitutde :)
 - I looked a number of other issues, and they all seem to have a CONTRIBUTING.md. Some of them are longer than others, [here](https://github.com/piermorel/gramm/blob/master/CONTRIBUTING.md)'s an example. I think that the expectation is that the expectation is e

[2018-02-24 21:15] whedon commented on #584
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00584/joss.00584/10.21105.joss.00584.pdf)

[2018-02-24 21:18] JohnMount commented on #584
I'll run down a CONTRIBUTING.md right now.  I just tried adding DOIs to paper.bib, but the re-render seemed to ignore them. If you know how to get them to render that would help a bit.  I am going to also add the DOIs to the README.md so they will be there in a little bit.

[2018-02-24 21:22] earino commented on #584
@JohnMount sadly i don't know how to get them to render. let me know if you figure out the magic? (or maybe @karthik or someone can hop in and help clarify for us.)

[2018-02-24 21:23] JohnMount commented on #584
Ah my mistake.  I needed to merge the branch in to get the DOIs in.  I now have DOIs in the paper.bib and the re-generated paper shows them. I'll add the paper one to the README.md (it doesn't make sense for the repository to refer to the code snapshot).  And I'll add a CONTRIBUTING.md .

[2018-02-24 21:45] arfon commented on #360
Ideally we'd like there to be a new release that matches what was the finalized version of the repository when accepted.

[2018-02-24 21:45] JohnMount commented on #584
Okay, I think I have it all fixed up now. DOIs in the [paper](https://github.com/openjournals/joss-papers/blob/joss.00584/joss.00584/10.21105.joss.00584.pdf) (now visible), and in [README.md](https://github.com/WinVector/vtreat/blob/master/README.md).  Now have a simple [CONTRIBUTING.md](https://github.com/WinVector/vtreat/blob/master/CONTRIBUTING.md) file.

[2018-02-24 21:58] earino commented on #584
@JohnMount looks great!
@karthik I've verified the full checklist, what's the next step?

[2018-02-25 14:05] Kevin-Mattheus-Moerman commented on #299
@whedon generate pdf

[2018-02-25 14:05] whedon commented on #299
[code]

[2018-02-25 14:05] whedon commented on #299
PDF failed to compile for issue #299 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-8307502c3aee/lib/whedon/processor.

[2018-02-25 14:12] Kevin-Mattheus-Moerman commented on #299
@akhuettel I've had contact with the reviewer @kippkitts we may be able to pick up review but can you confirm you are still interested in pursuing to publish your work in JOSS? Should we review a newer version of your work?

[2018-02-25 14:12] Kevin-Mattheus-Moerman commented on #299
@arfon, do the authors need to change the repo to this link: https://github.com/lab-measurement/Lab-Measurement and put the paper.md and paper.bib in a paper folder?

[2018-02-25 14:17] arfon commented on #299
That would certainly fix the @whedon issue here yes.

[2018-02-25 14:18] whedon opened #594 "[PRE REVIEW]: DynamicalSystems.jl: A Julia software library for chaos and nonlinear dynamics"
**Submitting author:** @Datseris (<a href="http://orcid.org/0000-0002-6427-2385">George Datserus</a>)
**Repository:** <a href="https://github.com/JuliaDynamics/DynamicalSystems.jl" target ="_blank">https://github.com/JuliaDynamics/DynamicalSystems.jl</a>
**Version:** v0.11.0
**Editor:** @kyleniemeyer
**Reviewer:** @dhhagan

**Author instructions**

Thanks for submitting your paper to JOSS @Datseri

[2018-02-25 14:18] whedon commented on #594
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-25 14:18] whedon commented on #594
[code]

[2018-02-25 14:19] whedon opened #595 "[PRE REVIEW]: LearnSAT: A SAT Solver for Education"
**Submitting author:** @motib (<a href="http://orcid.org/0000-0002-2091-5107">Mordechai Ben-Ari</a>)
**Repository:** <a href="https://github.com/motib/LearnSAT" target ="_blank">https://github.com/motib/LearnSAT</a>
**Version:** V2.0
**Editor:** @danielskatz
**Reviewer:** @audemard

**Author instructions**

Thanks for submitting your paper to JOSS @motib. The JOSS editor (shown at the top of this

[2018-02-25 14:23] Datseris commented on #594
Both packages are part of the same GitHub organization, "JuliaDynamics" and I am the author of both of them.

As far as what they do, they are not related though. One is about 2-dimensional billiards, a quite special class of chaotic systems, while the one submitted here is about studying nonlinear dynamics and chaos.

Both packages certainly fall under the same field of science (Nonlinear Dynamic

[2018-02-25 14:24] Kevin-Mattheus-Moerman commented on #540
@amjaeger17 could you help review this please if @dhhagan drops off the device at the Media Lab?

[2018-02-25 14:27] Kevin-Mattheus-Moerman commented on #547
@ResidentMario how are you doing? Have you been able to archive the reviewed software in a service like [Zenodo](https://zenodo.org/) (again these steps are handy: https://guides.github.com/activities/citable-code/). One you provide the archived version DOI we can move on to the next steps.

[2018-02-25 14:31] Kevin-Mattheus-Moerman commented on #547
@rhiever @zkamvar to wrap things up would you be able to tick the remaining boxes at the top of this issue?

[2018-02-25 15:10] motib commented on #595
Hello,

1. When you say "type @whedon commands", where do I type it??

2. I looked at the list of reviewers. No one is actually in the field of the application of logic to computer science (verification, SAT solving, logic programming, etc.), but krother and hainesr might be appropriate
because of their interest in education.

3. Sorry about the bib file, but the instructions didn't say where to p

[2018-02-25 18:19] geggo commented on #299
I apologise for the late answer: some time I forwarded the review invitation to a colleague with some experience in this field, and urged him again. But he abandoned using Perl already a couple of yeas ago, and has  no equipment with GPIB interface available for testing. Sorry, can't help with reviewing.

[2018-02-25 18:44] #590 closed

[2018-02-25 19:02] Datseris commented on #594
@ahwillia @mlxd have reviewed a previous submission of mine.

Both the reviewers and myself were pleased with how smoothly the review process went, so I am suggesting them for this submission as well.

[2018-02-25 20:27] ahwillia commented on #594
I'm happy to review another submission! I'm busy for the next 2.5 weeks but
I can do a review after that.

If you want a quicker turn around I'd suggest finding someone else...

On Feb 25, 2018 11:02 AM, "George Datseris" <notifications@github.com>
wrote:

[2018-02-25 20:33] Datseris commented on #594
I am not in any crazy hurry, but I can also suggest @Adrianzo @dhhagan @ygrange from the list of reviewers. Each one has some (maybe distant) connection with what the library offers.

[2018-02-25 21:57] rhiever commented on #547
Two of my non-blockers have yet to be addressed (still unchecked), but I approve the paper/package regardless.

[2018-02-25 23:03] kyleniemeyer commented on #594
@ahwillia that timeline is fine, thanks!

@mlxd are you available to review as well?

[2018-02-25 23:52] dhhagan commented on #594
I'm available if you need.

[2018-02-25 23:54] Datseris commented on #594
Well, if I can have any say, then of course I'd prefer the faster start on the review :)

[2018-02-25 23:55] mlxd commented on #594
I'm unavailable for about 2 more weeks so please go ahead if others are free to review.

[2018-02-26 06:41] motib commented on #595
@whedon commands

[2018-02-26 06:41] whedon commented on #595
Here are some things you can ask me to do:

[code]

[2018-02-26 06:42] motib commented on #595
@whedon generate pdf

[2018-02-26 06:42] whedon commented on #595
[code]

[2018-02-26 06:42] whedon commented on #595
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00595/joss.00595/10.21105.joss.00595.pdf)

[2018-02-26 06:54] motib commented on #595
@whedon generate pdf

[2018-02-26 06:54] whedon commented on #595
[code]

[2018-02-26 06:54] whedon commented on #595
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00595/joss.00595/10.21105.joss.00595.pdf)

[2018-02-26 09:28] mlep commented on #448
@arfon Thank you for the update.
Just a point of attention: the year, volume and number written at the bottom of the pdf file have changed. It is intended?
Before, it was:
[code]
Now it is:
[code]

[2018-02-26 11:47] MikeInnes commented on #587
I could also suggest @trallard, who I know has been involved with Julia. (Hope it's OK to ping)

[2018-02-26 17:42] jameshiebert commented on #360
@afron OK 10.5281/zenodo.1184647 is the new archive for v1.0.7.

[2018-02-26 20:50] aknutas commented on #233
Dear editor @karthik and reviewer @jankatins ,
    would it be possible to unpause the review for this submission?

Thank you in advance.

Best regards,
   Antti Knutas and Juho Salminen

[2018-02-27 00:40] arfon commented on #448
@mlep - good catch. Thanks for spotting that. (It should now be fixed)

[2018-02-27 00:52] jankatins commented on #233
I'll get to it hopefully today. Sorry for the long wait :-(

[2018-02-27 02:44] ResidentMario commented on #547
@Kevin-Mattheus-Moerman Sorry, that this took a bit to get around to. Here it is:

Here's the DOI badge: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1184723.svg)](https://doi.org/10.5281/zenodo.1184723)

[2018-02-27 03:43] Kevin-Mattheus-Moerman commented on #547
Great thanks. @arfon over to you

[2018-02-27 11:12] arfon commented on #547
@whedon set 10.5281/zenodo.1184723 as archive

[2018-02-27 11:12] whedon commented on #547
OK. <a href="http://dx.doi.org/10.5281/zenodo.1184723" target="_blank">10.5281/zenodo.1184723</a> is the archive.

[2018-02-27 11:22] arfon commented on #547
@rhiever - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this submission.

@ResidentMario - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00547 ⚡️:rocket: :boom:

[2018-02-27 11:22] #547 closed

[2018-02-27 11:22] whedon commented on #547
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00547/status.svg)](https://doi.org/10.21105/joss.00547)

**We need your help!**

Journal of Open Source Software

[2018-02-27 11:46] Kevin-Mattheus-Moerman commented on #547
@zkamvar thank you also for your review!

[2018-02-27 12:36] hafermann commented on #582
If not too urgent, I would be happy to review the software within, say, three weeks from now. I intended to try it in any case.

[2018-02-27 14:16] hugoledoux commented on #580
@scivision

I am a GIS person used to work with proj4 (pyproj), and the Python package works as advertised and is surely useful to people in that community. For a GIS person, proj4 is "standard" and everyone uses it.

I only tested the Python version, since I don't have the 1000$ to buy Matlab...

## README
I find the README a bit confusing sometimes to be honest.

## install
You state in INSTALL

[2018-02-27 16:27] arfon commented on #545
Friendly reminder to get to this sometime soonish @dfm

[2018-02-27 17:00] jakevdp commented on #574
@whedon commands

[2018-02-27 17:00] whedon commented on #574
Here are some things you can ask me to do:

[code]

[2018-02-27 17:00] jakevdp commented on #574
@whedon assign @jakevdp as editor

[2018-02-27 17:00] whedon commented on #574
OK, the editor is @jakevdp

[2018-02-27 17:01] jakevdp commented on #574
Hi @mhucka, thanks for the submission! Looks really interesting... I'm going to work on finding a reviewer or two and start this process along :smile:

[2018-02-27 18:36] jakevdp commented on #574
@whedon assign @desilinguist as reviewer

[2018-02-27 18:37] whedon commented on #574
OK, the reviewer is @desilinguist

[2018-02-27 18:37] jakevdp commented on #574
@whedon start review

[2018-02-27 18:37] whedon commented on #574
You didn't say the magic word! Try this:

[code]

[2018-02-27 18:37] jakevdp commented on #574
@whedon start review magic-word=bananas

[2018-02-27 18:37] whedon opened #596 "[REVIEW]: Nostril: A nonsense string evaluator written in Python"
**Submitting author:** @mhucka (<a href="http://orcid.org/0000-0001-9105-5960">Michael Hucka</a>)
**Repository:** <a href="https://github.com/casics/nostril" target ="_blank">https://github.com/casics/nostril</a>
**Version:** v1.0.0
**Editor:** @jakevdp
**Reviewer:** @desilinguist
**Archive:** <a href="http://dx.doi.org/10.22002/D1.935" target="_blank">10.22002/D1.935</a>

## Status

[![status](ht

[2018-02-27 18:38] whedon commented on #596
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @desilinguist it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-02-27 18:38] whedon commented on #596
[code]

[2018-02-27 18:38] #574 closed

[2018-02-27 18:38] jakevdp commented on #596
@desilinguist thanks for agreeing to review! The review will take place here in this issue – all relevant info is above. Please feel free to reach out to me if you have questions about the process!

[2018-02-27 18:38] whedon commented on #596
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00596/joss.00596/10.21105.joss.00596.pdf)

[2018-02-27 20:49] kyleniemeyer commented on #582
@hafermann ok, that works for us. Thank you!

[2018-02-27 20:50] kyleniemeyer commented on #582
@whedon assign @hafermann as reviewer

[2018-02-27 20:50] whedon commented on #582
OK, the reviewer is @hafermann

[2018-02-27 20:50] kyleniemeyer commented on #582
@whedon start review magic-word=bananas

[2018-02-27 20:51] whedon opened #597 "[REVIEW]: FNFT: A Software Library for Computing Nonlinear Fourier Transforms"
**Submitting author:** @wahls (<a href="http://orcid.org/0000-0001-5159-0918">Sander Wahls</a>)
**Repository:** <a href="https://github.com/FastNFT/FNFT" target ="_blank">https://github.com/FastNFT/FNFT</a>
**Version:** v0.1.0
**Editor:** @kyleniemeyer
**Reviewer:** @hafermann
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1210362" target="_blank">10.5281/zenodo.1210362</a>

## Status

[![

[2018-02-27 20:51] whedon commented on #582
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/597. Feel free to close this issue now!

[2018-02-27 20:51] whedon commented on #597
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @hafermann it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-02-27 20:51] whedon commented on #597
[code]

[2018-02-27 20:51] kyleniemeyer commented on #582
Hi @wahls @hafermann the actual review will take place over in #597

[2018-02-27 20:51] #582 closed

[2018-02-27 20:51] whedon commented on #597
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00597/joss.00597/10.21105.joss.00597.pdf)

[2018-02-27 20:51] kyleniemeyer commented on #597
@wahls @hafermann 👋

[2018-02-27 21:21] kyleniemeyer commented on #594
@dhhagan thanks for volunteering! We can get the review started with you, but I would also like to get some feedback from @ahwillia and/or @mlxd for a second set of eyes.

[2018-02-27 21:21] kyleniemeyer commented on #594
@whedon assign @dhhagan as reviewer

[2018-02-27 21:21] whedon commented on #594
OK, the reviewer is @dhhagan

[2018-02-27 21:24] kyleniemeyer commented on #594
@whedon start review magic-word=bananas

[2018-02-27 21:24] whedon opened #598 "[REVIEW]: DynamicalSystems.jl: A Julia software library for chaos and nonlinear dynamics"
**Submitting author:** @Datseris (<a href="http://orcid.org/0000-0002-6427-2385">George Datserus</a>)
**Repository:** <a href="https://github.com/JuliaDynamics/DynamicalSystems.jl" target ="_blank">https://github.com/JuliaDynamics/DynamicalSystems.jl</a>
**Version:** v0.11.0
**Editor:** @kyleniemeyer
**Reviewer:** @dhhagan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1198278" target="_bl

[2018-02-27 21:24] whedon commented on #594
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/598. Feel free to close this issue now!

[2018-02-27 21:24] whedon commented on #598
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @dhhagan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-02-27 21:24] whedon commented on #598
[code]

[2018-02-27 21:25] whedon commented on #598
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00598/joss.00598/10.21105.joss.00598.pdf)

[2018-02-27 21:26] kyleniemeyer commented on #598
@Datseris @dhhagan @ahwillia @mlxd 👋 the review will take place here.

@dhhagan you are the "main" reviewer, so please fill out the checklist above, but @ahwillia @mlxd please also see if you agree that those points were satisfied (or not) and comment appropriately.

Thanks!

[2018-02-27 21:26] #594 closed

[2018-02-27 23:30] jankatins commented on #233
I only looked at the issues left open in https://github.com/openjournals/joss-reviews/issues/233#issuecomment-292734519

# repository URL

This is now based on https://github.com/aknutas/nails-package, so the mentoned repository URL in the first coment is NOT correct anymore. :question:

# version

The package has a 1.0.2 release: https://github.com/aknutas/nails-package/releases/tag/1.0.2 so the

[2018-02-28 12:32] MikeInnes commented on #587
Alternatively @ysimillides may be able to review.

[2018-02-28 12:37] ysimillides commented on #587
I would be happy to perform the review.

[2018-02-28 13:01] vchuravy commented on #587
I would also be able to review but I am bit busy currently, so if @ysimillides wants to go ahead. Otherwise I will take a look later this week.

[2018-02-28 13:34] bryan-brancotte commented on #591
@whedon start review

[2018-02-28 13:34] whedon commented on #591
I'm sorry @bryan-brancotte, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-02-28 13:39] arfon commented on #591
@bryan-brancotte - we'll need to find an editor and a reviewer before we can start this review. This can sometimes find a couple of weeks.

Cheers
Arfon

[2018-02-28 13:44] bryan-brancotte commented on #591
Sorry, for the inconvenience @arfon, I though that I had to do an action to initiate the search of editor and reviewer.

Regarding the labels, Python should be removed and JavaScript added.

Cheers
Bryan

[2018-02-28 16:00] aknutas commented on #233
Thank you for the feedback, @jankatins ! Now that the refactoring is completed, we look forward to implementing additional usability and analysis features in the near future. Your comments and the examples provided will help us retarget efforts for the 1.1.0 release.

We had to change the repository, because the old structure of the R package was very nonstandard and not a package at all. Addition

[2018-02-28 20:14] arfon commented on #360
@whedon set 10.5281/zenodo.1184647 as archive

[2018-02-28 20:14] whedon commented on #360
OK. <a href="http://dx.doi.org/10.5281/zenodo.1184647" target="_blank">10.5281/zenodo.1184647</a> is the archive.

[2018-02-28 20:25] arfon commented on #360
@mdsumner - many thanks for your review here and to @karthik for editing this submission ✨

@jameshiebert - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00360 :zap: :rocket: :boom:

[2018-02-28 20:25] #360 closed

[2018-02-28 20:25] whedon commented on #360
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00360/status.svg)](https://doi.org/10.21105/joss.00360)

**We need your help!**

Journal of Open Source Software

[2018-03-01 05:37] jameshiebert commented on #360
Awesome thanks for all of your assistance, feedback and guidance! I'm really appreciative of your shepherding through the process :)

[2018-03-01 12:32] whedon opened #599 "[PRE REVIEW]: NiaPy: Python microframework for building nature-inspired algorithms"
**Submitting author:** @GregaVrbancic (<a href="http://orcid.org/0000-0003-0723-3889">Grega Vrbančič</a>)
**Repository:** <a href="https://github.com/NiaOrg/NiaPy" target ="_blank">https://github.com/NiaOrg/NiaPy</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @ljvmiranda921

**Author instructions**

Thanks for submitting your paper to JOSS @GregaVrbancic. The JOSS editor (shown at the top

[2018-03-01 12:32] whedon commented on #599
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-01 12:32] whedon commented on #599
[code]

[2018-03-01 12:32] whedon opened #600 "[PRE REVIEW]: 3D ultrasound file reading and coordinate transformations"
**Submitting author:** @plooney (<a href="http://orcid.org/0000-0002-0764-5413">Padraig Looney</a>)
**Repository:** <a href="https://github.com/plooney/kretz" target ="_blank">https://github.com/plooney/kretz</a>
**Version:** 0.01
**Editor:** @cMadan
**Reviewers:** @thewtex

**Author instructions**

Thanks for submitting your paper to JOSS @plooney. The JOSS editor (shown at the top of this issue)

[2018-03-01 12:32] whedon commented on #600
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-01 12:32] whedon commented on #600
[code]

[2018-03-01 12:32] whedon opened #601 "[PRE REVIEW]: Eixport, an R Package to export emissions to atmospheric models"
**Submitting author:** @ibarraespinosa (<a href="http://orcid.org/0000-0002-3162-1905">Sergio Ibarra</a>)
**Repository:** <a href="https://github.com/atmoschem/eixport" target ="_blank">https://github.com/atmoschem/eixport</a>
**Version:** v0.3.0
**Editor:** @leeper
**Reviewer:** @jhollist

**Author instructions**

Thanks for submitting your paper to JOSS @ibarraespinosa. The JOSS editor (shown at

[2018-03-01 12:32] whedon commented on #601
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-01 12:32] whedon commented on #601
[code]

[2018-03-01 12:32] whedon commented on #599
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00599/joss.00599/10.21105.joss.00599.pdf)

[2018-03-01 12:32] whedon commented on #601
PDF failed to compile for issue #601 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0     28      0 --:--:-- --:--:-- --:--:--    28
Error reading bibl

[2018-03-01 12:33] arfon commented on #600
👋 @cMadan - the submitting author suggested you as the handling editor.

[2018-03-01 12:33] whedon commented on #600
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00600/joss.00600/10.21105.joss.00600.pdf)

[2018-03-01 12:33] arfon commented on #601
👋 @leeper - the submitting author suggested you as the handling editor.

[2018-03-01 13:24] ibarraespinosa commented on #601
Dear @whedon @arfon @leeper  I have edited the paper.bib file. It now should compile PDF. Thanks

[2018-03-01 13:40] GregaVrbancic commented on #599
@whedon generate pdf

[2018-03-01 13:40] whedon commented on #599
[code]

[2018-03-01 13:40] whedon commented on #599
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00599/joss.00599/10.21105.joss.00599.pdf)

[2018-03-01 13:45] GregaVrbancic commented on #599
@whedon generate pdf

[2018-03-01 13:45] whedon commented on #599
[code]

[2018-03-01 13:46] whedon commented on #599
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00599/joss.00599/10.21105.joss.00599.pdf)

[2018-03-01 14:38] arfon commented on #561
Hi @bmorris3 - apologies for taking so very long to get to this submission - this looks like a very nice piece of code but unfortunately it's too small to be considered for a JOSS submission.

JOSS doesn't accept what we consider ['minor utility packages'](http://joss.theoj.org/about#submission_requirements), and single-feature code like this submission falls in that category.

We encourage you to

[2018-03-01 16:21] leeper commented on #601
@whedon commands

[2018-03-01 16:21] whedon commented on #601
Here are some things you can ask me to do:

[code]

[2018-03-01 16:22] leeper commented on #601
@whedon generate pdf

[2018-03-01 16:22] whedon commented on #601
[code]

[2018-03-01 16:22] whedon commented on #601
PDF failed to compile for issue #601 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2018-03-01 16:23] leeper commented on #601
@whedon assign @leeper as editor

[2018-03-01 16:23] whedon commented on #601
OK, the editor is @leeper

[2018-03-01 16:24] leeper commented on #601
@ibarraespinosa looks like PDF is still not compiling successfully. Please try to fix.

[2018-03-01 16:29] ibarraespinosa commented on #601
@whedon generate pdf

[2018-03-01 16:29] whedon commented on #601
[code]

[2018-03-01 16:29] whedon commented on #601
PDF failed to compile for issue #601 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0

[2018-03-01 16:32] ibarraespinosa commented on #601
@whedon generate pdf

[2018-03-01 16:32] whedon commented on #601
[code]

[2018-03-01 16:32] whedon commented on #601
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00601/joss.00601/10.21105.joss.00601.pdf)

[2018-03-01 16:47] ibarraespinosa commented on #601
@whedon generate pdf

[2018-03-01 16:47] whedon commented on #601
[code]

[2018-03-01 16:48] whedon commented on #601
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00601/joss.00601/10.21105.joss.00601.pdf)

[2018-03-01 17:58] GregaVrbancic commented on #599
@whedon generate pdf

[2018-03-01 17:58] whedon commented on #599
[code]

[2018-03-01 17:59] whedon commented on #599
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00599/joss.00599/10.21105.joss.00599.pdf)

[2018-03-01 20:53] hafermann commented on #597
@kyleniemeyer thanks for setting this up. I have the pdf and software and should be good to go.

[2018-03-01 21:40] amjaeger17 commented on #540
@Kevin-Mattheus-Moerman I can look at this next week if you have not found anyone else yet.

[2018-03-01 21:56] Kevin-Mattheus-Moerman commented on #540
@dhhagan could you drop off the device at the MIT Media Lab ​E14-274G (my office)? I'll then pass it on to @amjaeger17 who can help with review.

[2018-03-01 22:06] dhhagan commented on #540
Yup. Absolutely. Do you need a Pi as well?
On Thu, Mar 1, 2018 at 4:56 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Regards,

David H Hagan
PhD Candidate | Atmospheric Chemistry & Physics
Department of Civil & Environmental Engineering
Massachusetts Institute of Technology
Cambridge, MA 02139
707.227.6695 | dhagan@mit.edu | https://www.davidhagan.me

[2018-03-01 22:38] Kevin-Mattheus-Moerman commented on #540
We should have lots of pi's but bring yours if you think it is different.

[2018-03-02 07:32] GregaVrbancic commented on #599
@arfon our suggestion for potential reviewers:

@barentsen
@mattpitkin

[2018-03-02 22:48] kortschak commented on #593
@giraola For the general checks, the question is "Has the submitting author (@giraola) made major contributions to the software?" Interpreting this literally it is hard to say yes based on `git blame`/`git log`, but I imagine that your input has been supervisional and I should be reading the author list as a biologist. Is this correct?

@Kevin-Mattheus-Moerman Can you clarify the interpretation of

[2018-03-03 23:49] dhhagan commented on #540
Perfect. @Kevin-Mattheus-Moerman I'll drop it off Monday mid-morning.

[2018-03-04 02:53] Kevin-Mattheus-Moerman commented on #593
Hi @kortschak thanks for your question. In this case there are two contributors both of which are authors and appear to agree on their joint authorship. The check mark you mention really serves to weed out submission where somebody has for instance forked somebody else's work and submitted as main author without having made any significant contributions. Other contributors might object to such a p

[2018-03-04 05:16] kortschak commented on #593
Thanks @Kevin-Mattheus-Moerman. Maybe the question could be reworded to something like "Has the authors made major contributions to the software?"

[2018-03-04 16:37] cMadan commented on #600
Hi @plooney!

I took a quick look at your project repo, but it seems like the Readme isn't 'minimally complete' yet and the paper.md is still quite brief. While papers at JOSS are brief, they still need to sufficiently describe the project's purpose and the function it fulfills. If you haven't already, you should take a look at some recently accepted papers/projects as examples of the state they a

[2018-03-04 16:44] cMadan commented on #430
@jordigh, are you able to finish reviewing this project? Thanks!

[2018-03-04 16:47] cMadan commented on #568
@brian-lau, thank you for your interest, but I think I'll go ahead and accept the submission as-is now.

@trallard, thank you again for your review!

@piermorel, can you provide the DOI for an archived version of the project's code? (I.e., archive the current codebase on Zenodo or FigShare). After that we'll be all set to accept!

[2018-03-04 17:16] trallard commented on #568
You are very welcome @cMadan it has been an absolute pleasure to review this package

[2018-03-04 17:25] piermorel commented on #568
Thank you @cMadan, and thank you @trallard for the useful comments.

Gramm is already on Zenodo since several releases. I think Zenodo provides this DOI that allows to track new releases automatically: https://doi.org/10.5281/zenodo.594625 . If there is the need to provide the specific doi from the reviewed version, the latest release on zenodo corresponds to that.

[2018-03-04 17:51] giraola commented on #593
Hi @kortschak thanks for your question. Indeed, @iferres mainly contributed to develop the code within the repository, but both have made major contributions to the software. I am @iferres's Master thesis supervisor and my contributions were mainly conceptual.

[2018-03-04 19:20] virgesmith commented on #504
bump

[2018-03-04 19:27] leeper commented on #504
@wrathematics Would you still be interested?

[2018-03-05 01:55] dhhagan commented on #598
Hi @Datseris; everything looks great with the exception of one missing DOI as mentioned in [Issue 62](https://github.com/JuliaDynamics/DynamicalSystems.jl/issues/62). I believe this is the last minor hold-up!

[2018-03-05 01:58] Kevin-Mattheus-Moerman commented on #587
@whedon assign Kevin-Mattheus-Moerman as editor

[2018-03-05 01:58] whedon commented on #587
OK, the editor is Kevin-Mattheus-Moerman

[2018-03-05 01:59] Kevin-Mattheus-Moerman commented on #587
@whedon assign @ysimillides as reviewer

[2018-03-05 01:59] whedon commented on #587
OK, the reviewer is @ysimillides

[2018-03-05 02:01] Kevin-Mattheus-Moerman commented on #587
@vchuravy I've assigned @ysimillides as the first reviewer but I'd like to aim for 3 reviewers so your review is certainly welcome.

[2018-03-05 02:01] Kevin-Mattheus-Moerman commented on #587
@whedon start review magic-word=bananas

[2018-03-05 02:01] whedon commented on #587
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/602. Feel free to close this issue now!

[2018-03-05 02:01] whedon opened #602 "[REVIEW]: Flux: Seamless machine learning with Julia"
**Submitting author:** @MikeInnes (<a href="http://orcid.org/0000-0003-0788-0242">Michael Innes</a>)
**Repository:** <a href="https://github.com/FluxML/Flux.jl" target ="_blank">https://github.com/FluxML/Flux.jl</a>
**Version:** v0.4.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @ysimillides
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/6b550f67bdfaf97a1851c8f4bad9

[2018-03-05 02:01] whedon commented on #602
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ysimillides it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-03-05 02:01] whedon commented on #602
[code]

[2018-03-05 02:01] #587 closed

[2018-03-05 02:01] whedon commented on #602
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00602/joss.00602/10.21105.joss.00602.pdf)

[2018-03-05 02:05] Kevin-Mattheus-Moerman commented on #602
@MikeInnes this is where the review takes place.

[2018-03-05 02:08] Kevin-Mattheus-Moerman commented on #602
@ysimillides @vchuravy thanks for reviewing this submission :rocket:  I've created tick boxes for the both of you at the top of this issue. You can leave review comments here but for larger items we suggest you open an issue on the project repo and link to it here.
Here are our reviewer guidelines: http://joss.theoj.org/about#reviewer_guidelines

Let me know if you have questions.

Let the reviewi

[2018-03-05 02:17] Kevin-Mattheus-Moerman commented on #602
@davidbarber @taheris are you interested in reviewing [this submission](https://github.com/FluxML/Flux.jl) for [JOSS](http://joss.theoj.org/) as well? Review is focused largely on the software and also a [short paper :bookmark: ](https://github.com/openjournals/joss-papers/blob/joss.00602/joss.00602/10.21105.joss.00602.pdf)

[2018-03-05 02:22] Kevin-Mattheus-Moerman commented on #299
@arfon this submission looks like it has gone stale. The reviewer has gone of the radar. I pinged the authors to see if we need to revive the review process (it has been a great challenge to find suitable reviewers) but if we do not hear from the authors I feel we can assume we can withdraw this submission. Could you e-mail the authors a reminder? Thanks.

[2018-03-05 02:22] Kevin-Mattheus-Moerman commented on #299
@geggo thanks for letting us know.

[2018-03-05 02:28] Kevin-Mattheus-Moerman commented on #572
@asmeurer @mattpap @betatim pinging you again. Can you please help review this submission?

[2018-03-05 05:56] scivision commented on #580
These issues have been addressed in the latest git commits, thanks

[2018-03-05 12:42] Datseris commented on #598
Hello @dhhagan. Thank you for the kind words. I fixed your reported issue with the latest commit.

@kyleniemeyer I was wondering, whether it is possible to associate the paper with version v0.12 of the software, instead of the current one v0.11.

During the time this review was underway, a new feature was added (which is significant enough for a new version). I am asking you now, while v0.12 is st

[2018-03-05 12:55] MikeInnes commented on #602
@ChrisRackauckus also mentioned an interest in reviewing, if we're going for 3.

[2018-03-05 13:27] Kevin-Mattheus-Moerman commented on #602
Great the more the better. @ChrisRackauckas I'll create a check list for you at the top of this issue as well.

[2018-03-05 13:44] ChrisRackauckas commented on #602
The invitation seems to not have worked.

[2018-03-05 14:44] katyhuff commented on #588
@whedon assign @jschwab as reviewer

[2018-03-05 14:44] whedon commented on #588
OK, the reviewer is @jschwab

[2018-03-05 14:47] katyhuff commented on #588
@jschwab you are the second reviewer and we are hoping you can contribute your particular expertise in nuclear astrophysics to this review. See below for instructions. (please note that first reviewer @kyleniemeyer has received his own set of instructions, and checklist, above).

## Reviewer instructions & questions

@jschwab, please carry out your review in this issue by updating the checklist be

[2018-03-05 16:14] danielskatz commented on #561
Hi @arfon - I think we should now close/withdraw this submission

[2018-03-05 16:15] danielskatz commented on #572
@Kevin-Mattheus-Moerman - it looks like you are editing this one - can we assign you as the editor?

[2018-03-05 16:16] danielskatz commented on #563
@arfon - I think this is waiting on your response.

[2018-03-05 16:17] Kevin-Mattheus-Moerman commented on #572
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-03-05 16:17] whedon commented on #572
OK, the editor is @Kevin-Mattheus-Moerman

[2018-03-05 16:17] Kevin-Mattheus-Moerman commented on #572
Done. @danielskatz I usually start once I've found suitable reviewers (as others with suitable contacts could jump in and save the day instead of me) but I am fine taking this one.

[2018-03-05 16:18] Kevin-Mattheus-Moerman commented on #572
@henrik227 are you able to suggest some suitable reviewers?

[2018-03-05 16:20] danielskatz commented on #573
@louiseadennis  - can you suggest some potential reviewers, who are not conflicted but have experience in software in this area?  Note there is [a list of people](https://bit.ly/joss-reviewers) who have already agreed to review for JOSS, who might be suitable.

[2018-03-05 16:20] danielskatz commented on #573
@whedon assign @danielskatz as editor

[2018-03-05 16:20] whedon commented on #573
OK, the editor is @danielskatz

[2018-03-05 16:22] danielskatz commented on #573
also @louiseadennis where is the code?  the repo link https://git.code.sf.net/p/mcapl/mcapl_code looks like an empty page to me.

[2018-03-05 16:24] danielskatz commented on #589
@arfon - this is waiting for you to respond.

[2018-03-05 16:27] danielskatz commented on #591
@jasonclark - would you be willing to edit this submission?

[2018-03-05 16:29] henrik227 commented on #572
@Kevin-Mattheus-Moerman Can this be _anyone_ who is knowledgeable on the topic, or does the person has to be associated to JOSS in any way?

[2018-03-05 16:29] danielskatz commented on #595
@motib - do you have any suggested reviewers, even outside the list of JOSS volunteers?

[2018-03-05 16:29] danielskatz commented on #595
@whedon assign @danielskatz as editor

[2018-03-05 16:30] whedon commented on #595
OK, the editor is @danielskatz

[2018-03-05 16:41] jschwab commented on #588
Okay, just started the review.  I made it through the README and opened https://github.com/pynucastro/pynucastro/issues/30, https://github.com/pynucastro/pynucastro/issues/31, https://github.com/pynucastro/pynucastro/issues/32, https://github.com/pynucastro/pynucastro/issues/33.

[2018-03-05 17:29] Kevin-Mattheus-Moerman commented on #572
@henrik227 absolutely anybody with the required expertise, no affiliation with JOSS required.

[2018-03-05 17:29] karantibrewal commented on #30
@joshuaulrich @arfon gentle follow up on this. Please let us know your thoughts, and if there is anything else you'd like us to fix!

[2018-03-05 18:15] motib commented on #595
Matti Järvisalo?
matti.jarvisalo@helsinki.fi
https://www.cs.helsinki.fi/u/mjarvisa/

[2018-03-05 18:27] dwillcox commented on #588
Thanks Josiah! I'll make my way through these issues, I appreciate your careful feedback thus far and I look forward to your review.

[2018-03-06 00:06] lheagy commented on #580
Thanks @scivision, @hugoledoux, @leouieda: could you please take a look and see if your comments have been addressed? Thanks!

[2018-03-06 00:08] lheagy commented on #566
👋 @jarvist: just checking in to see how things are going

[2018-03-06 07:13] hugoledoux commented on #580
Everything was done, except I don't see anything for this point "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

If it's done then all good with me.

[2018-03-06 09:53] henrik227 commented on #572
Maybe @certik or @Upabjojr ?

[2018-03-06 12:52] cMadan commented on #568
@whedon set archive as 10.5281/zenodo.1188423

[2018-03-06 12:53] cMadan commented on #568
@whedon set 10.5281/zenodo.1188423 as archive

[2018-03-06 12:53] whedon commented on #568
OK. <a href="http://dx.doi.org/10.5281/zenodo.1188423" target="_blank">10.5281/zenodo.1188423</a> is the archive.

[2018-03-06 12:54] cMadan commented on #568
@piermorel, perfect, we're all set then!

@arfon, can you do the honors?

[2018-03-06 14:06] arfon commented on #568
@trallard - many thanks for your review here and to @cMadan for editing this submission ✨

@piermorel - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00568 ⚡️ 🚀 💥

[2018-03-06 14:06] #568 closed

[2018-03-06 14:06] whedon commented on #568
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00568/status.svg)](https://doi.org/10.21105/joss.00568)

**We need your help!**

Journal of Open Source Software

[2018-03-06 14:33] #561 closed

[2018-03-06 14:35] whedon opened #603 "[PRE REVIEW]: microPIECE (microRNA pipeline enhanced by CLIP experiments)"
**Submitting author:** @greatfireball (<a href="http://orcid.org/0000-0003-4166-5423">Frank Förster</a>)
**Repository:** <a href="https://github.com/microPIECE-team/microPIECE" target ="_blank">https://github.com/microPIECE-team/microPIECE</a>
**Version:** v1.1.0
**Editor:** @brainstorm
**Reviewer:** @luizirber

**Author instructions**

Thanks for submitting your paper to JOSS @greatfireball. The

[2018-03-06 14:35] whedon commented on #603
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-06 14:35] whedon commented on #603
[code]

[2018-03-06 14:35] whedon opened #604 "[PRE REVIEW]: coalitions: Coalition probabilities in multi-party democracies"
**Submitting author:** @adibender (<a href="http://orcid.org/0000-0001-5628-8611">Andreas Bender</a>)
**Repository:** <a href="https://github.com/adibender/coalitions" target ="_blank">https://github.com/adibender/coalitions</a>
**Version:** v0.6.0
**Editor:** @leeper
**Reviewer:** @fsolt

**Author instructions**

Thanks for submitting your paper to JOSS @adibender. The JOSS editor (shown at the t

[2018-03-06 14:35] whedon commented on #604
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-06 14:35] whedon commented on #604
[code]

[2018-03-06 14:36] whedon commented on #604
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00604/joss.00604/10.21105.joss.00604.pdf)

[2018-03-06 14:36] arfon commented on #604
:wave: @leeper - the submitting author suggested you as the handling editor.

[2018-03-06 14:36] whedon commented on #603
PDF failed to compile for issue #603 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     55      0 --:--:-- --:--:-- --:--:--    55
sh: 0: getcwd() fa

[2018-03-06 14:36] whedon opened #605 "[PRE REVIEW]: Temporalis: an open source software for dynamic LCA"
**Submitting author:** @cardosan (<a href="http://orcid.org/0000-0003-0442-3580">Giuseppe Cardellini</a>)
**Repository:** <a href="https://bitbucket.org/cardosan/brightway2-temporalis" target ="_blank">https://bitbucket.org/cardosan/brightway2-temporalis</a>
**Version:** 1.0
**Editor:** @arfon
**Reviewer:** @pjamesjoyce

**Author instructions**

Thanks for submitting your paper to JOSS @cardosan.

[2018-03-06 14:36] whedon commented on #605
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-06 14:36] whedon commented on #605
[code]

[2018-03-06 14:36] whedon commented on #605
PDF failed to compile for issue #605 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-8307502c3aee/lib/whedon/processor.

[2018-03-06 14:44] scivision commented on #580
Thank you this has been added in
https://github.com/scivision/pymap3d/blob/master/docs/CONTRIBUTING.md

[2018-03-06 14:50] cardosan commented on #605
HI all,
perhaps @amoeba, who already reviewed Brightway2 #236, might be an option.
Also @pjamesjoyce, which submitted Lcopt #335 and knows about LCA, might be a great candidate for this review.

[2018-03-06 15:00] DanielAmsel commented on #603
Sorry to see that the PDF compilation step failed.
We tested this with our docker container and it worked:
`greatfireball/docker_whedon_translate4joss`

Any ideas how to fix that?

[2018-03-06 15:36] DanielAmsel commented on #603
@whedon generate pdf

[2018-03-06 15:36] whedon commented on #603
[code]

[2018-03-06 15:36] whedon commented on #603
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00603/joss.00603/10.21105.joss.00603.pdf)

[2018-03-06 15:53] DanielAmsel commented on #603
Looks good to me.

[2018-03-06 16:01] leeper commented on #604
@whedon assign @fsolt as reviewer

[2018-03-06 16:01] whedon commented on #604
OK, the reviewer is @fsolt

[2018-03-06 16:01] leeper commented on #604
@whedon start review magic-word=bananas

[2018-03-06 16:01] whedon commented on #604
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/606. Feel free to close this issue now!

[2018-03-06 16:01] whedon opened #606 "[REVIEW]: coalitions: Coalition probabilities in multi-party democracies"
**Submitting author:** @adibender (<a href="http://orcid.org/0000-0001-5628-8611">Andreas Bender</a>)
**Repository:** <a href="https://github.com/adibender/coalitions" target ="_blank">https://github.com/adibender/coalitions</a>
**Version:** v0.6.0
**Editor:** @leeper
**Reviewer:** @fsolt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1195667" target="_blank">10.5281/zenodo.1195667</a>

##

[2018-03-06 16:01] whedon commented on #606
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @fsolt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-06 16:01] whedon commented on #606
[code]

[2018-03-06 16:01] whedon commented on #606
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00606/joss.00606/10.21105.joss.00606.pdf)

[2018-03-06 16:07] leeper commented on #601
@jhollist Would you be interested in reviewing this for JOSS?

[2018-03-06 16:36] plooney commented on #600
I've added to the readme and the paper. What constitutes 'minimally complete'? I've not described the CMake steps in detail. A necessary requirement to use this is to have ITK installed so familiarity with the CMake build process is fair to assume.

[2018-03-06 17:06] jhollist commented on #601
Only know a little about emissions and air quality...

That being said would be happy to review.

[2018-03-06 17:22] jschwab commented on #588
I made it through the "Software paper" and that part looks good to me (fixed a few typos in https://github.com/pynucastro/pynucastro/pull/37).

There's no DOI for [Zingale et al. 2017](http://adsabs.harvard.edu/abs/2017arXiv171106203Z) but it is on arXiv (and I'm guessing it will get a DOI in the future?).  The BibTeX entry and bib style mean that it doesn't get a hyperlink.  For now, perhaps just

[2018-03-06 17:54] leeper commented on #601
@jhollist I don't think that's critical in this case given what the package does. But please don't feel obligated to say yes!

[2018-03-06 17:57] amoeba commented on #605
Hey @cardosan thanks for thinking of me. I'm too swamped to turn this around in a prompt fashion but I'll check back here on March 12 in case you haven't found a reviewer by then.

[2018-03-06 18:48] jhollist commented on #601
No obligation!  Still happy to do it.

[2018-03-06 18:53] leeper commented on #601
Great!

[2018-03-06 18:53] #604 closed

[2018-03-06 18:54] leeper commented on #601
@whedon assign @jhollist as reviewer

[2018-03-06 18:54] whedon commented on #601
OK, the reviewer is @jhollist

[2018-03-06 18:54] leeper commented on #601
@whedon start review magic-word=bananas

[2018-03-06 18:54] whedon opened #607 "[REVIEW]: Eixport, an R Package to export emissions to atmospheric models"
**Submitting author:** @ibarraespinosa (<a href="http://orcid.org/0000-0002-3162-1905">Sergio Ibarra</a>)
**Repository:** <a href="https://github.com/atmoschem/eixport" target ="_blank">https://github.com/atmoschem/eixport</a>
**Version:** v0.3.0
**Editor:** @leeper
**Reviewer:** @jhollist
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1228955" target="_blank">10.5281/zenodo.1228955</a>

#

[2018-03-06 18:54] whedon commented on #601
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/607. Feel free to close this issue now!

[2018-03-06 18:54] whedon commented on #607
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jhollist it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-03-06 18:54] whedon commented on #607
[code]

[2018-03-06 18:54] #601 closed

[2018-03-06 18:54] whedon commented on #607
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00607/joss.00607/10.21105.joss.00607.pdf)

[2018-03-06 18:56] cMadan commented on #600
HI @plooney,

If you take a look at any of the review issues (e.g., https://github.com/openjournals/joss-reviews/issues/597), there is a list of what a reviewer will be asked to check for as part of the JOSS review. As your repo is now, many of these are currently missing or incomplete. E.g., no community guidelines, there is a test with an example input but not output, there is only a single sent

[2018-03-06 22:29] plooney commented on #600
Hi @cMadab,

I've added to the ReadMe usinf the FNFT as a sample to address these issues.

I'm not clear on the point you make on the test. There are four tests listed in the CMakeLists with various input and output. "make test" will run all four and produce output and the input is also present. A sample image is downloaded and placed into the test folder that is used in the first three tests.

[2018-03-07 10:13] joezuntz commented on #494
@jronayne - many apologies for the long delay before getting back onto this.

I think this is nearly ready, just a few more issues that I'll open on the main repo.

[2018-03-07 11:31] arfon commented on #299
OK, I've emailed the authors

[2018-03-07 13:05] PetoLau commented on #577
Hello!
Thank you very much for your feedback.
I tried to solve all problems:

 - unit tests for all functions in my project was created (codecov 93%) and Travis CI was deployed,
 - CONTRIBUTING.md file was added for the clarification of possible contributions,
 - paper was proofread.

I am looking forward for your response.

[2018-03-07 14:15] pjamesjoyce commented on #605
Hi @cardosan I'm happy to contribute to the review from a technical LCA standpoint at least. If the editor's happy with me to undertake the full review that's also fine by me.

[2018-03-07 15:59] cardosan commented on #605
@whedon commands

[2018-03-07 15:59] whedon commented on #605
Here are some things you can ask me to do:

[code]

[2018-03-07 16:19] whedon opened #608 "[PRE REVIEW]: HSImage: A Python and C++ library to allow interaction with ENVI-BIL hyperspectral images"
**Submitting author:** @DTChuck (<a href="http://orcid.org/0000-0002-3832-775X">Ryan Brown</a>)
**Repository:** <a href="https://github.com/DTChuck/HSImage" target ="_blank">https://github.com/DTChuck/HSImage</a>
**Version:** v1.2.0
**Editor:** @arfon
**Reviewer:** @abhishekbajpayee

**Author instructions**

Thanks for submitting your paper to JOSS @DTChuck. The JOSS editor (shown at the top of th

[2018-03-07 16:19] whedon commented on #608
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-07 16:19] whedon commented on #608
[code]

[2018-03-07 16:19] whedon commented on #608
PDF failed to compile for issue #608 with the following error:

 Can't find any papers to compile :-(

[2018-03-07 16:20] arfon commented on #608
@whedon generate pdf

[2018-03-07 16:20] whedon commented on #608
[code]

[2018-03-07 16:21] whedon commented on #608
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00608/joss.00608/10.21105.joss.00608.pdf)

[2018-03-07 16:42] arfon commented on #602
@ChrisRackauckas - I just re-invited you.

[2018-03-07 16:54] DTChuck commented on #608
The hyperlinks in the generated PDF are not blue. Is that expected?

[2018-03-07 20:59] arfon commented on #591
@bryan-brancotte - many thanks for your submission to JOSS. This looks like an interesting project.

The paper as it stands, is substantially longer than we usually allow for JOSS submissions. In particular, much of this content looks like it might be more appropriate for for the software documentation.

Could you please take a look at the ['What should my paper contain'](http://joss.theoj.org/abo

[2018-03-08 10:32] ljvmiranda921 commented on #599
Hi, I was also contacted by one of the authors (Dr. Iztok Fister Jr.) through e-mail  to review this submission. I'm interested to review but:
- I'll only be free by March 19; and
- I'm not part of the official reviewers of JOSS

In addition, I can also recommend @\stsievert , my reviewer during [my submission in PySwarms](https://github.com/openjournals/joss-reviews/issues/433) if that will be a

[2018-03-08 18:31] ChrisRackauckas commented on #602
I think I will need to step down after reading the conflict of interests policy. I am currently (well just started) working with @MikeInnes on a publication which utilizes Flux.jl and so someone with less experience of the software, it's community, and its authors can probably do a more impartial scientific assessment, though I will still go through and open docs PRs where I see fit.

[2018-03-08 19:28] Kevin-Mattheus-Moerman commented on #602
Thanks @ChrisRackauckas that sounds good

[2018-03-08 20:05] louiseadennis commented on #573
@danielskatz - No one on the list looks like they are in the areas of agent programming or model-checking that our software is. Some possible alternatives would be @jomifred, @koenhindriks, @BasTesterink.

[2018-03-08 20:08] louiseadennis commented on #573
@danielskatz OK weird, the git.code.sf.net URL works for cloning but not, apparently, for viewing online for which you need https://sourceforge.net/p/mcapl/mcapl_code/ci/master/tree/  (which should I list as the repository URL? )

[2018-03-08 20:12] danielskatz commented on #573
I think https://sourceforge.net/projects/mcapl/ would be better

[2018-03-08 20:13] danielskatz commented on #573
@whedon commands

[2018-03-08 20:13] whedon commented on #573
Here are some things you can ask me to do:

[code]

[2018-03-08 20:14] danielskatz commented on #573
@whedon set https://sourceforge.net/projects/mcapl/ as repository
(my guess is this won't work, but it should - @arfon, if it doesn't, can you make this change manually?)

[2018-03-08 20:24] danielskatz commented on #573
@jomifred, @koenhindriks, @BasTesterink - would one or two of you be willing to review this submission to The Journal of Open Source Software?

Please take a look at our [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines) before you answer.

[2018-03-09 02:39] kellieotto commented on #577
@PetoLau the changes you made look great.

@arokem I recommend this be accepted.

[2018-03-09 09:40] BasTesterink commented on #573
Hi Daniel,

I just read the reviewer guidelines and would be glad to support JOSS by reviewing this submission. I have scheduled next week Friday to do this.

This will be my first JOSS review. Are previous review examples publicly available?

With kind regards,

Bas Testerink

[2018-03-09 13:48] danielskatz commented on #573
@BasTesterink - thanks!

And, yes, all reviews are public, see [reviews in progress](https://github.com/openjournals/joss-reviews/issues?q=is%3Aissue+is%3Aopen+label%3Areview) and [completed reviews](https://github.com/openjournals/joss-reviews/issues?utf8=✓&q=is%3Aissue+is%3Aclosed+label%3Aaccepted).

Since I don't know this specific area very well, I also hope to get one more reviewer before we

[2018-03-09 13:50] danielskatz commented on #573
@arfon, can you do the equivalent of: @whedon set https://sourceforge.net/projects/mcapl/ as repository ?

[2018-03-09 14:50] arfon commented on #573
Done (I just edited the issue).

[2018-03-09 14:54] danielskatz commented on #573
I wasn't sure if it was that simple - thanks :)

[2018-03-09 19:54] fsolt commented on #606
Looks good to go, @leeper!

[2018-03-09 20:10] caseyyoungflesh commented on #586
@karthik  Just wanted to check in and see if anything else is needed on my end here.

[2018-03-09 20:32] fsolt commented on #606
Sorry, @arfon !  Rookie mistake...

[2018-03-09 21:00] leeper commented on #606
@fsolt Thanks for your super fast review!! And props for submitting [a PR](https://github.com/adibender/coalitions/pull/79) to make fixes.

[2018-03-09 21:10] adibender commented on #606
The whole review process was indeed super fast! Thank you all and especially @fsolt for that PR. Allready merged!

[2018-03-09 21:15] whedon opened #609 "[PRE REVIEW]: Open OnDemand: A web-based client portal for HPC centers"
**Submitting author:** @ericfranz (<a href="http://orcid.org/0000-0002-9662-412X">Eric Franz</a>)
**Repository:** <a href="https://github.com/OSC/Open-OnDemand" target ="_blank">https://github.com/OSC/Open-OnDemand</a>
**Version:** v1.2
**Editor:** @danielskatz
**Reviewer:** @marpierc

**Author instructions**

Thanks for submitting your paper to JOSS @ericfranz. The JOSS editor (shown at the top o

[2018-03-09 21:15] whedon commented on #609
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-09 21:15] whedon commented on #609
[code]

[2018-03-09 21:15] whedon opened #610 "[PRE REVIEW]: OpenEPSim: An Open Exclusion Process Simulation Tool"
**Submitting author:** @caley (<a href="http://orcid.org/0000-0001-8593-1987">Caley Finn</a>)
**Repository:** <a href="https://github.com/caley/OpenEPSim" target ="_blank">https://github.com/caley/OpenEPSim</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewers:** @stuartcampbell, @dlagrava

**Author instructions**

Thanks for submitting your paper to JOSS @caley. The JOSS editor (shown at the top

[2018-03-09 21:15] whedon commented on #610
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-09 21:15] whedon commented on #610
[code]

[2018-03-09 21:15] whedon opened #611 "[PRE REVIEW]: Optim: An optimization package for Julia"
**Submitting author:** @anriseth (<a href="http://orcid.org/0000-0002-5861-7885">Asbjørn Nilsen Riseth</a>)
**Repository:** <a href="https://github.com/JuliaNLSolvers/Optim.jl" target ="_blank">https://github.com/JuliaNLSolvers/Optim.jl</a>
**Version:** v0.14.0
**Editor:** @labarba
**Reviewer:** @ahwillia

**Author instructions**

Thanks for submitting your paper to JOSS @anriseth. The JOSS editor

[2018-03-09 21:15] whedon commented on #611
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-09 21:15] whedon commented on #611
[code]

[2018-03-09 21:16] whedon commented on #609
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00609/joss.00609/10.21105.joss.00609.pdf)

[2018-03-09 21:16] arfon commented on #611
👋 @labarba - the submitting author suggested you as the handling editor.

[2018-03-09 21:16] whedon commented on #610
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00610/joss.00610/10.21105.joss.00610.pdf)

[2018-03-09 21:16] whedon commented on #611
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00611/joss.00611/10.21105.joss.00611.pdf)

[2018-03-09 21:18] arfon commented on #238
:wave: @acabunoc 0 would you be willing to edit this submission for JOSS?

[2018-03-09 21:23] fsolt commented on #606
You're welcome.  It was fun!  Good work!

[2018-03-09 21:27] arfon commented on #536
@biorelated - I think we might need to look for some different reviewers?

[2018-03-09 21:31] arfon commented on #563
@joethorley - many thanks for the response. I agree this is similar to some other packages/submissions.

Please go ahead and modify the paper to better fit with the submission guidelines: http://joss.theoj.org/about#paper_structure

[2018-03-09 21:34] arfon commented on #603
@brainstorm @mgymrek - would either of you be willing to edit this submission for JOSS?

[2018-03-09 21:36] arfon commented on #605
@whedon assign @arfon as editor

[2018-03-09 21:36] whedon commented on #605
OK, the editor is @arfon

[2018-03-09 21:36] arfon commented on #605
@whedon assign @pjamesjoyce as reviewer

[2018-03-09 21:36] whedon commented on #605
OK, the reviewer is @pjamesjoyce

[2018-03-09 21:37] arfon commented on #605
@whedon start review magic-word=bananas

[2018-03-09 21:37] #605 closed

[2018-03-09 21:37] whedon opened #612 "[REVIEW]: Temporalis: an open source software for dynamic LCA"
**Submitting author:** @cardosan (<a href="http://orcid.org/0000-0003-0442-3580">Giuseppe Cardellini</a>)
**Repository:** <a href="https://bitbucket.org/cardosan/brightway2-temporalis" target ="_blank">https://bitbucket.org/cardosan/brightway2-temporalis</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewer:** @pjamesjoyce
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/10

[2018-03-09 21:37] whedon commented on #605
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/612. Feel free to close this issue now!

[2018-03-09 21:37] whedon commented on #612
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @pjamesjoyce it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-03-09 21:37] whedon commented on #612
[code]

[2018-03-09 21:37] whedon commented on #612
PDF failed to compile for issue #612 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-03-09 21:37] arfon commented on #605
@pjamesjoyce - many thanks for volunteering here. I've opened up the main review issue over in #612 - see you over there!

[2018-03-09 21:41] arfon commented on #612
@pjamesjoyce - here's the compiled paper: [10.21105.joss.00612.pdf](https://github.com/openjournals/joss-reviews/files/1798531/10.21105.joss.00612.pdf)

@cardosan: when compiling this paper I got the following error, could you take a look at fixing it up?:

[code]

[2018-03-09 21:44] arfon commented on #608
@DTChuck yes, I think that's normal.

Would you mind taking a look at the [list of JOSS reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) and seeing if you think there are any that could be good reviewers here?

[2018-03-09 21:45] arfon commented on #609
@danielskatz - would you be willing to edit this submission for JOSS?

[2018-03-09 21:53] cardosan commented on #612
Hi @arfon, it should be fixed now.

[2018-03-09 22:16] danielskatz commented on #609
@whedon assign danielskatz as editor

[2018-03-09 22:16] whedon commented on #609
OK, the editor is danielskatz

[2018-03-09 22:17] danielskatz commented on #609
@marpierc - would you be able to review this for us?

[2018-03-09 23:53] lheagy commented on #580
Thanks @hugoledoux and @leouieda for the review! @leouieda: there is still one outstanding check-box in the Documentation: the community guidelines. Did this just get missed?

[2018-03-10 03:16] leouieda commented on #580
@lheagy sorry, it just got missed. Checked now.

[2018-03-10 06:50] dwillcox commented on #588
@whedon commands

[2018-03-10 06:50] whedon commented on #588
Here are some things you can ask me to do:

[code]

[2018-03-10 06:50] dwillcox commented on #588
@whedon generate pdf

[2018-03-10 06:50] whedon commented on #588
[code]

[2018-03-10 06:50] whedon commented on #588
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00588/joss.00588/10.21105.joss.00588.pdf)

[2018-03-10 07:00] dwillcox commented on #588
@whedon generate pdf

[2018-03-10 07:00] whedon commented on #588
[code]

[2018-03-10 07:01] whedon commented on #588
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00588/joss.00588/10.21105.joss.00588.pdf)

[2018-03-10 07:07] leeper commented on #606
This looks good to me. @arfon over to you!

[2018-03-10 07:24] dwillcox commented on #588
Thanks @jschwab for the note about the url for the Zingale 2017 paper, which should get a DOI at some point when it is officially published. I've made the link clickable using the `url` bibtex tag as you suggested.

Thank you as well for fixing the typos you've found!

[2018-03-10 09:19] anriseth commented on #611
Of the existing reviewers, may I suggest @vchuravy and  @ahwillia? They both know Julia very well, and machine learning backgrounds may be helpful in terms of optimization.
Another person in the Julia optimization community that has a an appropriate background is @abelsiqueira.

[2018-03-10 09:28] anriseth commented on #611
The article proof looks fine. I'll also cc @pkofod

[2018-03-10 11:39] leeper commented on #504
@hausen Would you be interested in reviewing this for JOSS?

[2018-03-10 15:44] jschwab commented on #588
@katyhuff @dwillcox @zingale I'm pleased to recommend that the pynucastro paper be accepted in JOSS.  Thanks to the authors for their rapid and helpful communications during the review process.

I checked off the version checkbox, but given the tweaks that happened during review, there should probably be a new minor version released (e.g. v1.1.0) that will correspond to its accepted state.

[2018-03-10 19:18] lheagy commented on #580
@scivision: Can you confirm that this is the correct DOI for the project: 10.5281/zenodo.213676 ?

[2018-03-10 20:17] ahwillia commented on #611
I'm happy to review.

I've used this package extensively in the past and have had mostly good experiences. I haven't used it in the past year or so.

[2018-03-10 21:10] arfon commented on #606
@adibender - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-03-10 21:13] leeper commented on #606
@arfon oops, sorry - forgot that.

[2018-03-11 04:36] DTChuck commented on #608
I think that the following people are possibly good reviewers:
@abhishekbajpayee
@sgrieve
@oesteban
@abuccts
@earino

[2018-03-11 13:21] arfon commented on #599
@whedon assign @ljvmiranda921 as reviewer

[2018-03-11 13:21] whedon commented on #599
OK, the reviewer is @ljvmiranda921

[2018-03-11 13:22] arfon commented on #599
@ljvmiranda921 - excellent. Thanks!

Absolutely, there's no 'requirement' to be an official reviewer for future reviews.

[2018-03-11 13:22] arfon commented on #599
@whedon start review magic-word=bananas

[2018-03-11 13:22] #599 closed

[2018-03-11 13:22] whedon commented on #599
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/613. Feel free to close this issue now!

[2018-03-11 13:22] whedon opened #613 "[REVIEW]: NiaPy: Python microframework for building nature-inspired algorithms"
**Submitting author:** @GregaVrbancic (<a href="http://orcid.org/0000-0003-0723-3889">Grega Vrbančič</a>)
**Repository:** <a href="https://github.com/NiaOrg/NiaPy" target ="_blank">https://github.com/NiaOrg/NiaPy</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @ljvmiranda921
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/17ad9f9b7f05dcc6ab8a733c1aab319e/status.svg

[2018-03-11 13:22] whedon commented on #613
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ljvmiranda921 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-03-11 13:22] whedon commented on #613
[code]

[2018-03-11 13:22] arfon commented on #613
@ljvmiranda921 - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-03-11 13:22] whedon commented on #613
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00613/joss.00613/10.21105.joss.00613.pdf)

[2018-03-11 13:28] adibender commented on #606
@arfon  I archived on zenodo
- 10.5281/zenodo.1172594: This DOI represents all versions, and will always resolve to the latest one
- 10.5281/zenodo.1195667: This is the DOI of the current version

Not sure which one you usually use.

[2018-03-11 14:00] arfon commented on #606
@whedon set 10.5281/zenodo.1195667 as archive

[2018-03-11 14:00] whedon commented on #606
OK. <a href="http://dx.doi.org/10.5281/zenodo.1195667" target="_blank">10.5281/zenodo.1195667</a> is the archive.

[2018-03-11 14:08] arfon commented on #606
@fsolt - many thanks for your review here and to @leeper for editing this one ✨

@adibender - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00606 ⚡️:rocket: :boom:

[2018-03-11 14:08] #606 closed

[2018-03-11 14:08] whedon commented on #606
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00606/status.svg)](https://doi.org/10.21105/joss.00606)

**We need your help!**

Journal of Open Source Software

[2018-03-11 14:11] adibender commented on #606
@arfon Review process is really quick and uncomplicated :+1: Many thanks!
Already signed up as reviewer!

[2018-03-11 14:39] leeper commented on #606
@adibender Thanks for being willing to review in the future! We'll definitely call on you. Congrats on your acceptance!

[2018-03-11 15:38] whedon opened #614 "[PRE REVIEW]: EZyRB: Easy Reduced Basis method"
**Submitting author:** @mtezzele (<a href="http://orcid.org/0000-0001-9747-6328">Marco Tezzele</a>)
**Repository:** <a href="https://github.com/mathLab/EZyRB" target ="_blank">https://github.com/mathLab/EZyRB</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewers:** @dlagrava, @ziotom78

**Author instructions**

Thanks for submitting your paper to JOSS @mtezzele. The JOSS editor (shown at the top

[2018-03-11 15:38] whedon commented on #614
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-11 15:38] whedon commented on #614
[code]

[2018-03-11 15:38] whedon commented on #614
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00614/joss.00614/10.21105.joss.00614.pdf)

[2018-03-11 15:39] arfon commented on #614
:wave: @jakevdp - the submitting author suggested you as the handling editor.

[2018-03-11 17:42] arfon commented on #30
Friendly reminder to take another look at this @joshuaulrich when you get a chance 😄

[2018-03-11 17:43] arfon commented on #268
@whedon list reviewers

[2018-03-11 17:43] whedon commented on #268
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-03-11 17:43] arfon commented on #268
@scls19fr - would you mind taking a look at the reviewer list here https://bit.ly/joss-reviewers and seeing if you can identify any suitable reviewers?

[2018-03-11 17:44] arfon commented on #487
👋@barentsen - please take a look at this soon please :-)

[2018-03-11 17:45] arfon commented on #545
:wave: @dfm - any chance you can take a look at this soon?

[2018-03-11 17:55] arfon commented on #589
@IbrahimTanyalcin - thanks for the additional context. I think this is pretty close to an edge-case for us (as to whether this is research software) but given your role (and it's usage) on the http://deogen2.mutaframe.com project I'm happy to proceed with this submission.

@raganwald - :wave: hi! Would you be willing to review this submission for JOSS? You can get an idea of what this means here:

[2018-03-11 18:59] dfm commented on #545
Ugh. Sorryyyy! This all looks great, but I haven't found time to actually go through and check all the boxes and give feedback. I will make sure that I do before the end of the day on Wednesday. Sorry again!

[2018-03-11 20:03] arokem commented on #577
@PetoLau : Everything looks good!

The next step would be for you to create a new release of the software and archive it (e.g., on [Zenodo](https://zenodo.org)). Once you have done that, please post the DOI of the software here, and we will go ahead with the publication of the article (which will include this DOI).

[2018-03-11 20:04] arokem commented on #577
@kellieotto : thanks for the review!

[2018-03-11 21:07] pboesu commented on #536
@biorelated Apologies for the late reply, I've been in the field the past two weeks.

I'm happy to review this contribution.

[2018-03-11 22:20] katyhuff commented on #588
@jschwab , thank you for your prompt and thorough review!
@dwillcox @zingale thank you for promptly responding to review comments!

@kyleniemeyer , do you agree with this assessment?

[2018-03-12 06:13] kyleniemeyer commented on #588
@dwillcox @zingale a few minor comments:

- It might be helpful to add some instructions on installing the package—it could be as simple as adding a brief section in the README (even if they are pretty standard instructions)
- There are a few references in the paper with URLs that should be replaced with DOIs: Cyburt et al. 2010: 10.1088/0067-0049/189/1/240, Huang et al. 2017: 10.1088/1674-1137/41

[2018-03-12 06:18] kyleniemeyer commented on #588
Otherwise, this looks good!

[2018-03-12 06:20] kyleniemeyer commented on #588
Oh, one other comment: it might be helpful to have a link from the docs page back to the repository; I couldn't find one.

[2018-03-12 06:23] kyleniemeyer commented on #592
Hi @dvalters @rabernat just wanted to check in on the status of your reviews. Thanks!

[2018-03-12 06:24] kyleniemeyer commented on #598
@Datseris that's no problem, we expect the version to change after reviewer comments.

However, if it's a significant change, then I would ask that @dhhagan take another look, with that new feature in mind.

[2018-03-12 06:24] kyleniemeyer commented on #598
(and @ahwillia @mlxd as well!)

[2018-03-12 06:30] brainstorm commented on #603
Sure! Happy to :)

Den 10 mars 2018 8:34 fm skrev "Arfon Smith" <notifications@github.com>:

[2018-03-12 06:32] Datseris commented on #598
There is no reason for a second look, the feature was already in the
documentation before the reviewer started the review (because it comes from
another smaller package which is a dependency )

On Mar 12, 2018 7:24 AM, "Kyle Niemeyer" <notifications@github.com> wrote:

[2018-03-12 06:33] greatfireball commented on #603
Morning @arfon and @brainstorm

Thanks for agreeing to edit our submission!

In between, we updated to version v1.1.0

[2018-03-12 08:04] pjotrp commented on #583
@andrewyatz how are you doing?

[2018-03-12 09:33] PetoLau commented on #577
@arokem Thank you!

Here it is: 10.5281/zenodo.1195877

[2018-03-12 10:13] dvalters commented on #592
@kyleniemeyer thanks for the ping, will finish the review soon now.

[2018-03-12 11:33] akhuettel commented on #299
@arfon  @Kevin-Mattheus-Moerman  I'm sorry for the delay. As already stated in the e-mail we'd like to withdraw the submission. To be honest, I don't see this going anywhere.

[2018-03-12 11:59] BenjaK commented on #515
Dear @leeper, I cannot see any activity from @pragyansmita, and while waiting for this review, I have released a new (minor) version of the scanstatistics package. Should I withdraw my submission and submitt anew, so that another reviewer can be assigned, or is anyone else willing to review this submission?

[2018-03-12 12:31] scls19fr commented on #268
Being confortable with Ecology, stats, viz, system and Python programming, amoeba can probably be a suitable reviewer.

[2018-03-12 13:03] abelsiqueira commented on #611
I can review as well.

[2018-03-12 13:17] arfon commented on #299
@Kevin-Mattheus-Moerman - thanks for all of your help here. Sorry this didn't work out @akhuettel.

[2018-03-12 13:17] #299 closed

[2018-03-12 13:17] dhhagan commented on #598
@kyleniemeyer @Datseris Okay just had a last look and it appears good to go! Let me know if there is anything else I need to do?

[2018-03-12 13:19] arfon commented on #603
@whedon assign @brainstorm as editor

[2018-03-12 13:19] whedon commented on #603
OK, the editor is @brainstorm

[2018-03-12 13:20] arfon commented on #603
Great! Next step is to look for a reviewer, probably someone from here: http://bit.ly/joss-reviewers

[2018-03-12 13:21] danielskatz commented on #573
@gannimo - Would you be willing to review this submission for JOSS?

[2018-03-12 13:21] arfon commented on #577
@whedon set 10.5281/zenodo.1195877 as archive

[2018-03-12 13:21] whedon commented on #577
OK. <a href="http://dx.doi.org/10.5281/zenodo.1195877" target="_blank">10.5281/zenodo.1195877</a> is the archive.

[2018-03-12 13:32] danielskatz commented on #595
@shnarazk, @niklaseen, @alanminko - would you be willing to review this submission to JOSS?

[2018-03-12 13:37] danielskatz commented on #609
@smgallo - would you be willing to review this submission to JOSS?

[2018-03-12 13:47] arfon commented on #577
@kellieotto - many thanks for your review here and to @arokem for editing this submission.

@PetoLau - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00577 :zap: :rocket: :boom:

[2018-03-12 13:47] #577 closed

[2018-03-12 13:47] whedon commented on #577
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00577/status.svg)](https://doi.org/10.21105/joss.00577)

**We need your help!**

Journal of Open Source Software

[2018-03-12 13:49] leeper commented on #515
Hi @BenjaK sorry about this. I've been trying to track down this reviewer for a few weeks and, in the absence of a reply, have started soliciting a replacement reviewer. Please keep the issue open - I hope to have someone in place soon. Huge apologies for the atypically long time getting this package reviewed.

[2018-03-12 13:50] leeper commented on #515
@BenjaK very sorry about the delays on this. I've been trying to track down the reviewer to no avail and have already begun trying to find a replacement reviewer. Please keep the review open.

[2018-03-12 13:51] BenjaK commented on #515
Thanks, and no worries!

[2018-03-12 13:53] gannimo commented on #573
Thanks; the paper is not in my area, so I'll pass.

[2018-03-12 13:53] zingale commented on #588
I've added a link to the project github on the docs index page.

I also added install instructions (and fixed an issue in the `setup.py`) and confirmed that the example notebook runs with the library installed via `setup.py`

I'll work on the references.

[2018-03-12 14:00] danielskatz commented on #573
@gannimo - Do you have any thoughts on other potential reviewers?

[2018-03-12 14:08] zingale commented on #588
@whedon generate pdf

[2018-03-12 14:08] bryan-brancotte commented on #591
@whedon generate pdf

[2018-03-12 14:08] whedon commented on #591
[code]

[2018-03-12 14:09] whedon commented on #588
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00588/joss.00588/10.21105.joss.00588.pdf)

[2018-03-12 14:10] zingale commented on #588
okay, I think all the DOIs that are available are in place now.

[2018-03-12 14:18] jschwab commented on #588
@zingale The install instructions in https://github.com/pynucastro/pynucastro/commit/27bb810131ce4dad60ebb192150f7d01de6569f5 trail off.  "This will put the..."

[2018-03-12 14:20] zingale commented on #588
indeed they do!

a little to quick on the push.

[2018-03-12 14:20] bryan-brancotte commented on #591
@whedon generate pdf