[2018-04-26 16:49] drew-williamson commented on #705
@whedon generate pdf

[2018-04-26 16:49] whedon commented on #705
[code]

[2018-04-26 16:50] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)

[2018-04-26 16:58] drew-williamson commented on #705
@whedon generate pdf

[2018-04-26 16:58] whedon commented on #705
[code]

[2018-04-26 16:59] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)

[2018-04-26 17:02] drew-williamson commented on #705
@whedon generate pdf

[2018-04-26 17:02] whedon commented on #705
[code]

[2018-04-26 17:03] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)

[2018-04-26 17:05] drew-williamson commented on #705
@arfon After much ado with the figures, it's finally ready to go. Thank goodness for whedon.

[2018-04-26 17:14] jordibc commented on #660
Just FYI @ThomasA , I'm totally fine with doing the remarks as you go along. I'll wait for my reply until you give me a heads up though, unless you prefer it otherwise.

[2018-04-26 17:42] arfon commented on #705
Indeed!

[2018-04-26 18:35] juliohm commented on #692
Thank you @arfon :+1:

[2018-04-26 20:57] stephenturner commented on #706
@whedon commands

[2018-04-26 20:57] whedon commented on #706
Here are some things you can ask me to do:

[code]

[2018-04-26 20:57] stephenturner commented on #706
@whedon generate pdf

[2018-04-26 20:57] whedon commented on #706
[code]

[2018-04-26 20:57] whedon commented on #706
PDF failed to compile for issue #706 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-04-26 21:00] stephenturner commented on #706
@whedon add @tomsing1 as reviewer

[2018-04-26 21:00] whedon commented on #706
I'm sorry @stephenturner, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-04-26 21:00] stephenturner commented on #706
@whedon add @giraola as reviewer

[2018-04-26 21:00] whedon commented on #706
I'm sorry @stephenturner, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-04-26 21:00] stephenturner commented on #706
@whedon add @Tgerke as reviewer

[2018-04-26 21:00] whedon commented on #706
I'm sorry @stephenturner, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-04-26 21:01] stephenturner commented on #706
possible reviewers: @tgerke @giraola @tomsing1

[2018-04-26 21:01] stephenturner commented on #706
not sure why the PDF won't render. help!

[2018-04-27 05:03] mhucka commented on #596
Thank you for the review and suggestions.  Here are some replies, finally:

I have now fixed an antipattern in `setup.py` that caused dependencies not to be properly installed by Python's setuptools, which is undoubtedly what led to the comment about the need to list the dependencies.  The dependencies should now be installed automatically by `setup.py`, and the entire processs should go more smoo

[2018-04-27 05:05] mhucka commented on #596
@whedon generate pdf

[2018-04-27 05:05] whedon commented on #596
[code]

[2018-04-27 05:05] whedon commented on #596
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00596/joss.00596/10.21105.joss.00596.pdf)

[2018-04-27 05:10] mhucka commented on #596
Hmm. I don't know why Whedon isn't responding. It worked for one of my other JOSS papers ... @arfon do you have any thoughts about the command above didn't regenerate the pdf?  ([Here](https://github.com/openjournals/joss-reviews/issues/653#issuecomment-377441772]) is an example of where it worked in the context of another review.)

[2018-04-27 07:57] sebastiz commented on #701
@whedon generate pdf

[2018-04-27 07:57] whedon commented on #701
[code]

[2018-04-27 07:57] whedon commented on #701
PDF failed to compile for issue #701 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     91      0 --:--:-- --:--:-- --:--:--    91
Error reading bibl

[2018-04-27 08:06] sebastiz commented on #701
@whedon generate pdf

[2018-04-27 08:06] whedon commented on #701
[code]

[2018-04-27 08:06] whedon commented on #701
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00701/joss.00701/10.21105.joss.00701.pdf)

[2018-04-27 08:56] sebastiz commented on #701
@arfon

I have now proofed the pdf and uploaded to zenodo.
Two questions: Do I put the DOI on the ReadMe for the package
I uploaded a copy of the software from a forked version in my repository as the software is now under rOpenSci and zenodo wouldnt link to that. Is that the correct way to do it?

The DOI is:

doi.org/10.5281/zenodo.1232059

________________________________
From: Arfon Smith <not

[2018-04-27 08:57] sebastiz commented on #701
@arfon

Sorry.... My last question is how do I get the paper registered on pubmed?

Thanks
Sebastian Zeki
________________________________
From: Arfon Smith <notifications@github.com>
Sent: 25 April 2018 16:39
To: openjournals/joss-reviews
Cc: Gastroenterology Data Science; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: EndoMineR for the extraction of endoscopic and associated patholog

[2018-04-27 10:12] arfon commented on #701
@whedon set 10.5281/zenodo.1232059 as archive

[2018-04-27 10:12] whedon commented on #701
OK. <a href="http://dx.doi.org/10.5281/zenodo.1232059" target="_blank">10.5281/zenodo.1232059</a> is the archive.

[2018-04-27 10:16] arfon commented on #701
@sebastiz - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00701 ⚡️:rocket: :boom:

[2018-04-27 10:16] arfon commented on #701
I'm not sure what the current status of this. I know some of our editors were working on this over in https://github.com/openjournals/joss/issues/153

[2018-04-27 10:16] #701 closed

[2018-04-27 10:16] whedon commented on #701
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00701/status.svg)](https://doi.org/10.21105/joss.00701)

**We need your help!**

Journal of Open Source Software

[2018-04-27 10:39] economistgame commented on #697
I suggest @wrathematics and @masalmon to review the paper

[2018-04-27 12:47] stephenturner commented on #706
@whedon generate pdf

[2018-04-27 12:47] whedon commented on #706
[code]

[2018-04-27 12:47] whedon commented on #706
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00706/joss.00706/10.21105.joss.00706.pdf)

[2018-04-27 12:49] stephenturner commented on #706
Thanks @arfon. Made a minor change to the paper (fix references, moved a sentence).

Question - is there a way to render the PDF locally as it is rendered here, using pandoc?

[2018-04-27 13:07] danielskatz commented on #617
👋 @arfon - can we move this to acceptance now?

[2018-04-27 13:47] danielskatz commented on #673
@whedon assign @stevenrbrandt as reviewer

[2018-04-27 13:47] whedon commented on #673
OK, the reviewer is @stevenrbrandt

[2018-04-27 13:48] danielskatz commented on #673
@whedon start review magic-word=bananas

[2018-04-27 13:48] whedon opened #707 "[REVIEW]: OctApps: a library of Octave functions for continuous gravitational-wave data analysis"
**Submitting author:** @kwwette (<a href="http://orcid.org/0000-0002-4394-7179">Karl Wette</a>)
**Repository:** <a href="https://github.com/octapps/octapps" target ="_blank">https://github.com/octapps/octapps</a>
**Version:** v0.1
**Editor:** @danielskatz
**Reviewer:** @stevenrbrandt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1283525" target="_blank">10.5281/zenodo.1283525</a>

## Stat

[2018-04-27 13:48] whedon commented on #673
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/707. Feel free to close this issue now!

[2018-04-27 13:48] whedon commented on #707
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @stevenrbrandt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-04-27 13:48] whedon commented on #707
[code]

[2018-04-27 13:49] #673 closed

[2018-04-27 13:49] whedon commented on #707
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00707/joss.00707/10.21105.joss.00707.pdf)

[2018-04-27 13:50] danielskatz commented on #707
👋 @stevenrbrandt - thanks for agreeing to do this.
Since you've done one of these before, I'll just let you get to it.
Let me know if you have any questions or problems.

[2018-04-27 14:46] Kevin-Mattheus-Moerman commented on #691
:clap: @bblankrot Looks good thanks.

[2018-04-27 15:07] mhucka commented on #578
@jasonclark @arfon Not attempting to nag, but I was wondering how things are going, and whether there's anything I should do?

[2018-04-27 15:28] Kevin-Mattheus-Moerman commented on #681
@whedon assign @ashleefv as reviewer

[2018-04-27 15:28] whedon commented on #681
OK, the reviewer is @ashleefv

[2018-04-27 15:34] Kevin-Mattheus-Moerman commented on #681
@whedon assign @sdelandtsheer as reviewer

[2018-04-27 15:34] whedon commented on #681
OK, the reviewer is @sdelandtsheer

[2018-04-27 15:34] Kevin-Mattheus-Moerman commented on #681
@whedon commands

[2018-04-27 15:34] whedon commented on #681
Here are some things you can ask me to do:

[code]

[2018-04-27 15:35] Kevin-Mattheus-Moerman commented on #681
@whedon remove @ashleefv as reviewer

[2018-04-27 15:35] whedon commented on #681
OK, @ashleefv is no longer a reviewer

[2018-04-27 15:38] Kevin-Mattheus-Moerman commented on #681
@pboesu @giskid are you able to review this submission for [JOSS](http://joss.theoj.org/about)?

[--> Software repository :floppy_disk: : <--](https://github.com/ashleefv/BeeNestABM)

[--> Article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00681/joss.00681/10.21105.joss.00681.pdf)

[2018-04-27 20:16] ThomasA commented on #660
@arfon, how do I make it store the ticks on my check list? If I reload the page they are gone...

[2018-04-27 23:32] ryneches commented on #678
Article proof looks good to me.

[2018-04-28 00:26] siravan commented on #702
Regarding possible reviewers from the list, the following reviewers have skills that fit this project:
#50 arghdos
#133 leios
#296 mgalloy

[2018-04-28 00:55] tgerke commented on #706
@arfon - I saw the suggestion from @stephenturner for my review of this. Happy to help if needed.

[2018-04-28 02:26] mikldk commented on #694
If @mgymrek is unavailable, maybe @biorelated could be editor instead, @arfon?

[2018-04-28 11:25] arfon commented on #578
@mhucka - things are ok from my end but I realize this is going slooooowly.

@jasonclark - are you still able to edit this submission?

[2018-04-28 19:34] ThomasA commented on #660
**References**: I am not quite sure what the policy is concerning references, but 'paper.bib' contains two references that do not seem to be included in the paper. On the other hand, the references in the paper are not from the paper.bib file. Maybe this is the way it is intended to be, but in that case I do not see any reason to include 'paper.bib' in the repo.

[2018-04-28 19:36] ThomasA commented on #660
**A statement of need** (documentation): I think that the documentation (in 'readme.rst') could benefit from borrowing a few lines from the paper. The paper starts out with a bit of explanation of what the package is for. I do not find that reflected in the documentation.

[2018-04-28 19:39] ThomasA commented on #660
I think this submission meets the requirements overall and I am ready to recommend acceptance, but I would like to hear feedback on my comments on [authorship](https://github.com/openjournals/joss-reviews/issues/660#issuecomment-384677208), [references](https://github.com/openjournals/joss-reviews/issues/660#issuecomment-385200521), and [a statement of need](https://github.com/openjournals/joss-re

[2018-04-28 21:37] giraola commented on #678
@ryneches please add DOIs to all references listed in the manuscript.

[2018-04-29 02:36] whedon opened #708 "[PRE REVIEW]: PyCM: Multi class confusion matrix library in python"
**Submitting author:** @sepandhaghighi (<a href="http://orcid.org/0000-0001-9450-2375">Sepand Haghighi</a>)
**Repository:** <a href="https://github.com/sepandhaghighi/pycm" target ="_blank">https://github.com/sepandhaghighi/pycm</a>
**Version:** v0.8.1
**Editor:** @arokem
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @sepandhaghighi. The JOSS editor (show

[2018-04-29 02:36] whedon commented on #708
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-29 02:36] whedon commented on #708
[code]

[2018-04-29 02:37] whedon commented on #708
PDF failed to compile for issue #708 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     91      0 --:--:-- --:--:-- --:--:--    92
pandoc-citeproc: r

[2018-04-29 02:37] arfon commented on #708
👋@arokem - the submitting author suggested you as the editor.

[2018-04-29 02:37] whedon opened #709 "[PRE REVIEW]: dit: a Python package for discrete information theory"
**Submitting author:** @Autoplectic (<a href="http://orcid.org/0000-0003-2149-9085">Ryan G. James</a>)
**Repository:** <a href="https://github.com/dit/dit" target ="_blank">https://github.com/dit/dit</a>
**Version:** v1.2.0
**Editor:** @arfon
**Reviewers:** @kczimm, @stsievert

**Author instructions**

Thanks for submitting your paper to JOSS @Autoplectic. The JOSS editor (shown at the top of this

[2018-04-29 02:37] whedon commented on #709
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-29 02:37] whedon commented on #709
[code]

[2018-04-29 02:38] whedon commented on #709
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00709/joss.00709/10.21105.joss.00709.pdf)

[2018-04-29 02:38] arfon commented on #709
:wave: @jakevdp - the submitting author suggested you as the handling editor.

[2018-04-29 04:45] reefpicker commented on #635
@whedon commands

On Thu, Apr 26, 2018 at 11:43 AM, Claudio Benghi <notifications@github.com>
wrote:

[2018-04-29 04:45] whedon commented on #635
Here are some things you can ask me to do:

[code]

[2018-04-29 04:49] reefpicker commented on #635
@whedon list reviewers

On Sat, Apr 28, 2018 at 11:45 PM, whedon <notifications@github.com> wrote:

[2018-04-29 04:49] whedon commented on #635
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-04-29 07:11] sepandhaghighi commented on #708
@whedon generate pdf

[2018-04-29 07:11] whedon commented on #708
[code]

[2018-04-29 07:12] whedon commented on #708
PDF failed to compile for issue #708 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    163      0 --:--:-- --:--:-- --:--:--   164
Error producing PD

[2018-04-29 11:06] sepandhaghighi commented on #708
@whedon generate pdf

[2018-04-29 11:07] whedon commented on #708
[code]

[2018-04-29 11:07] whedon commented on #708
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00708/joss.00708/10.21105.joss.00708.pdf)

[2018-04-29 14:16] jordibc commented on #660
Thanks @ThomasA ! Let me try to address those:

* Authorship: you are right, I did write the code, but Amelia got the idea, saw the directions in which it could grow, made many suggestions, tested it extensively and worked with it to generate the actual 3D-printed models --thus why she is an author too.
* References: I didn't realize the references were not used, good catch. I fixed them now. As f

[2018-04-29 19:26] lheagy commented on #566
👋 Hi @jarvist: just wanted to check in and see how things are going addressing jarvist/PolaronMobility.jl#1 and jarvist/PolaronMobility.jl#2

[2018-04-29 19:37] rdrr1990 commented on #629
`humanleague` offers users the ability to quickly microsynthesize populations from marginals and (optionally) seed data. The package installs nicely for either `R` or `Python` and the extensive unit tests run without a hitch on both platforms. The software also builds on a companion paper, [Population Synthesis with Quasirandom Integer Sampling](http://jasss.soc.surrey.ac.uk/20/4/14.html) which ex

[2018-04-29 19:48] ysimillides commented on #691
Looks good! Two very minor thing's i'd suggest adding are JLD to the Require file (as you use it in the majority of the examples), and citing the Julia paper as a reference .

[2018-04-29 20:28] bblankrot commented on #691
Thank you, @ysimillides! Both good ideas, I'm merging your PR and adding a reference to the 2017 Julia paper in SIAM Review.

@whedon generate pdf

[2018-04-29 21:41] bblankrot commented on #691
@whedon generate pdf

[2018-04-29 21:41] whedon commented on #691
[code]

[2018-04-29 21:41] whedon commented on #691
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00691/joss.00691/10.21105.joss.00691.pdf)

[2018-04-29 21:57] pboesu commented on #634
@biorelated Apologies for being dreadfully slow on the review. I have started it finally, and I hope to finish it by next weekend.

[2018-04-30 03:31] Autoplectic commented on #709
@whedon commands

[2018-04-30 03:31] whedon commented on #709
Here are some things you can ask me to do:

[code]

[2018-04-30 08:31] trallard commented on #658
Hi @katyhuff apologies for the delay in replying. I would very much like to help with this. Unfortunately, I am very busy at the moment and I am afraid I cannot commit right now

[2018-04-30 10:29] arfon commented on #705
:wave: @labarba - would you be willing to edit this submission for JOSS?

[2018-04-30 10:30] arfon commented on #706
:wave: @mgymrek - would you be willing to edit this submission for JOSS?

[2018-04-30 10:32] arfon commented on #238
@acabunoc - looks like @offray might have been able to find us a reviewer ☝️

[2018-04-30 10:33] arfon commented on #684
@afrubin, @ajank - please remember to complete your review by updating the checklist above.

[2018-04-30 10:35] arfon commented on #617
This should be good.

[2018-04-30 10:35] arfon commented on #617
@whedon set 10.5281/zenodo.1237635 as archive

[2018-04-30 10:35] whedon commented on #617
OK. <a href="http://dx.doi.org/10.5281/zenodo.1237635" target="_blank">10.5281/zenodo.1237635</a> is the archive.

[2018-04-30 10:44] arfon commented on #617
@BasTesterink, @fraimondi - many thanks for your reviews here and to @danielskatz for editing this submission ✨

@louiseadennis - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00617 ⚡️:rocket: :boom:

[2018-04-30 10:44] #617 closed

[2018-04-30 10:44] whedon commented on #617
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00617/status.svg)](https://doi.org/10.21105/joss.00617)

**We need your help!**

Journal of Open Source Software

[2018-04-30 13:04] arfon commented on #702
👋 @mgalloy @leios - would you be willing to review this submission for JOSS?

[2018-04-30 13:05] arfon commented on #697
:wave: @karthik - would you be willing to edit this submission for JOSS?

[2018-04-30 13:06] arfon commented on #693
:wave: @kyleniemeyer - would you be willing to edit this submission for JOSS?

[2018-04-30 13:13] bryan-brancotte commented on #698
Hi @pjotrp, we renamed the long_paper.md and reviewed all the boxes: they should be good to check.

[2018-04-30 14:26] karthik commented on #697
@whedon assign @karthik as editor

[2018-04-30 14:26] whedon commented on #697
OK, the editor is @karthik

[2018-04-30 14:30] karthik commented on #697
@wrathematics are you able to review this one?

[2018-04-30 14:49] xirdneh commented on #589
Hi, @arfon are you still looking for reviewers?
The topic seems interesting. I've worker with javascript async capabilities before.
Also, seems like the repository has a test suite and a `package.json` for easy installation.

I'm not entirely sure how the demo project uses it (http://deogen2.mutaframe.com/) since most of the functionality is distributed in multiple files. I'm having some problems

[2018-04-30 15:04] IbrahimTanyalcin commented on #589
All async scripts at mutaframe are managed by Taskq, however it might be much easier to start from the examples posted on medium and the repo since they are more isolated. I have given the same links to Serine as well.

[2018-04-30 15:26] RuthAngus commented on #667
@arfon I submitted some issues for ACTIN almost a week ago but I am not sure whether the author has seen these. Should I try to get in touch with the author another way?

[2018-04-30 16:30] rdrr1990 commented on #629
Just checked them off... In checking the boxes, I realize I forgot to mention that the authors should add [distutils-pytest](https://pypi.org/project/distutils-pytest/) to the readme's Python dependencies. (Along with the stated `numpy` that's all I needed to build...). Otherwise happy to give my recommendation for publication. Cheers,

[2018-04-30 16:30] lfasnacht commented on #651
@whedon generate pdf

[2018-04-30 16:30] whedon commented on #651
[code]

[2018-04-30 16:31] whedon commented on #651
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00651/joss.00651/10.21105.joss.00651.pdf)

[2018-04-30 16:41] GISKid commented on #681
I cannot, although looks interesting!

On Fri, Apr 27, 2018, 11:38 AM Kevin Mattheus Moerman, <
notifications@github.com> wrote:

[2018-04-30 18:03] MikeInnes commented on #602
No luck on the DOIs, is there anything else blocking this at this point?

[2018-04-30 19:16] rcurtin commented on #703
Ok, if it is a hard requirement, we have gone ahead and merged the paper.md into the mlpack/mlpack repository.  The repository is now:

https://github.com/mlpack/mlpack

and the paper is located at:

https://github.com/mlpack/mlpack/tree/master/doc/joss_paper

Please let me know if that works, and if I didn't do it right just let me know and I can fix it.  Thanks!

[2018-04-30 20:27] virgesmith commented on #629
I've corrected requirements.txt (its numpy that's missing, not distutils-pytest), I've also corrected the documentation that a user recently pointed out was misleading (i.e. wrong), I've bumped the version and will create a new release unless theres anything else

[2018-04-30 20:52] rdrr1990 commented on #629
Oh, missed that .txt. I just meant in https://github.com/virgesmith/humanleague/blob/master/README.md "Requires Python 3, with numpy, pytest, and distutils-pytest installed" would be clearer (ofc not a big deal). Good to go as far as I'm concerned, great work on the package!

[2018-04-30 21:25] stevenrbrandt commented on #707
@kwwette, I got stuck at the "make check" phase above (though I had problems with installation because of LALSuite).
[code]
I attempted to use your code from within Docker. I used Debian jessie because that was what the instructions on the LALSuite site said to do.

Here's my install script:
[code]

[2018-05-01 01:45] ryneches commented on #678
@whedon generate pdf

[2018-05-01 01:45] whedon commented on #678
[code]

[2018-05-01 01:46] whedon commented on #678
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00678/joss.00678/10.21105.joss.00678.pdf)

[2018-05-01 02:36] ryneches commented on #678
Hmm. I'm not happy with the way the references are getting formatted. Multiple references look weird, and BibTeX is doing that thing where it turns repeated author lists into a long dash. :-/

Is there a formatting guide? I'm not so familiar with the MarkDown to LaTeX way of doing things.

[2018-05-01 03:41] lheagy commented on #674
Thanks @leouieda! In your opinion, should these issues be addressed before the paper is published?

[2018-05-01 06:37] leeper commented on #629
@rdrr1990 Excellent. Thank you, again!

@virgesmith Please update your Zenodo archive and post the new DOI here. We're nearly there!

[2018-05-01 07:17] kortschak commented on #593
Sorry for the delay. All accepted now.

[2018-05-01 07:33] leios commented on #702
@arfon I can review this, if you like.

[2018-05-01 07:42] virgesmith commented on #629
2.0.3 created DOI: 10.5281/zenodo.1238461
Thanks!

[2018-05-01 07:57] leeper commented on #629
@whedon set 10.5281/zenodo.1238461 as archive

[2018-05-01 07:57] whedon commented on #629
OK. <a href="http://dx.doi.org/10.5281/zenodo.1238461" target="_blank">10.5281/zenodo.1238461</a> is the archive.

[2018-05-01 08:00] leeper commented on #629
Okay, everything looks good. Congrats, @virgesmith, your paper is now accepted at JOSS! (Sorry for the longer-than-expected review process.)

@rdrr1990 Thank you again for your willingness to review for us!

@arfon Over to you.

[2018-05-01 09:17] fernandoandreotti commented on #671
Dear Hooman,

first of all great work implementing all these 6 QRS detectors in an object oriented way and including a GUI. The examples ran smoothly.

My concern regarding the toolbox is the fact that despite as it being advertised a toolbox for biosignals, the only implemented routines are QRS detectors. Rather than creating a new toolbox from scratch, I wonder why not add those to other toolbox

[2018-05-01 10:53] leeper commented on #677
@arfon would you like me to handle as editor?

[2018-05-01 11:45] offray commented on #238
@arfon @acabunoc, so which are the next steps if Sean DeNigris wants to join the process?

[2018-05-01 12:05] arfon commented on #662
@nuest @benmarwick - friendly reminder to complete your reviews when you get a chance :grin:

[2018-05-01 12:06] arfon commented on #651
@clemaitre58 - please complete your review when you get a chance.

[2018-05-01 12:07] arfon commented on #630
@abhishekbajpayee - please come and take a look at this review again when you have a chance.

[2018-05-01 12:08] arfon commented on #487
:wave: @nespinoza - when do you think you might be able to complete this review by?

[2018-05-01 12:09] arfon commented on #268
:wave: @scls19fr - how are you getting along here?

[2018-05-01 13:13] kyleniemeyer commented on #693
@arfon I don't think I'm the best person to edit this; someone more data-sciency might be better.

[2018-05-01 13:35] kyleniemeyer commented on #592
Hi @rabernat, have you had a chance to review this submission yet?

[2018-05-01 13:39] danielskatz commented on #622
👋 @ericfranz - please let us know when you have addressed these issues.

[2018-05-01 13:40] dvalters commented on #592
Thanks @edoddridge - I am happy with it all from my point of view as reviewer

[2018-05-01 13:40] danielskatz commented on #675
FYI, I'm currently trying to find reviewers by email

[2018-05-01 14:16] ajank commented on #684
@mikldk, you may wish to fix the typo in the description at https://github.com/mikldk/malan as well.

[2018-05-01 15:18] benmarwick commented on #662
Thanks, working on it!

[2018-05-01 15:25] jedbrown commented on #558
A couple final comments after iterating in the PetIBM repository.

* I don't know why the 2D simulation is run via `petibm-tairacolonius` while the 3D uses `petibm-decoupledibpm`. Do these need to be separate executables and are these the best names for a user?

* **Authorship** The corresponding author (@labarba) has not the author or committer of any code for this project, but has advised the au

[2018-05-01 15:51] utf commented on #682
Hi @arfon,

As @kyleniemeyer doesn't seem to be available, I wonder if @katyhuff might also be appropriate as a reviewer.

[2018-05-01 16:41] ericfranz commented on #622
I believe all issues have been addressed:

1. The 1.3 release next week will include deployment via rpm to address the complicated installation process
2. We added a set of auto-generated Rake tasks to test and verify job submission from the web node for each configured cluster (https://github.com/OSC/Open-OnDemand/issues/33 and https://github.com/OSC/ood-dashboard/pull/360) which will be included

[2018-05-01 16:48] labarba commented on #558
Contributions are not always commits. Discussions on design, code reviews, and project management are important contributions to software that may not reflect on git commits. JOSS recognizes this and it's up to the authors to determine.

[2018-05-01 17:00] jedbrown commented on #558
@labarba I didn't mean to suggest otherwise, but it's hard for a reviewer to audit when looking at the repository. Some journals ask for explicit statements describing the contribution from each author. In case of contributions that are not visible in the repository (commits and citations in commit messages are the most durable record), perhaps JOSS should request such a statement. (I have no doub

[2018-05-01 17:01] danielskatz commented on #622
If the current software meets what reviewers think is needed, we can proceed.

At this point, we need @marpierc and @smgallo to examine this again and see if they can check off all the items in their checklists.

[2018-05-01 17:07] kyleniemeyer commented on #682
@arfon sure, I can take this one

[2018-05-01 17:07] scls19fr commented on #268
I've just reply today to @amoeba in https://github.com/python-windrose/windrose/issues/77#issuecomment-385725732 to address most of his comments
Sorry for delay.

[2018-05-01 17:11] kyleniemeyer commented on #682
@whedon assign @kyleniemeyer as editor

[2018-05-01 17:11] whedon commented on #682
OK, the editor is @kyleniemeyer

[2018-05-01 18:01] kyleniemeyer commented on #658
@katyhuff I'd like to help with this, but I'm totally slammed at the moment... getting nasty emails about other reviews that are weeks overdue 😩

I may have one or two colleagues (or their grad students) who could take a look—I will ping them and let you know.

[2018-05-01 18:34] katyhuff commented on #658
Thanks @puncan @kyleniemeyer !

[2018-05-01 18:35] katyhuff commented on #658
@whedon assign @puncan as reviewer

[2018-05-01 18:35] whedon commented on #658
OK, the reviewer is @puncan

[2018-05-01 18:35] katyhuff commented on #658
@whedon generate pdf

[2018-05-01 18:35] whedon commented on #658
[code]

[2018-05-01 18:35] mgalloy commented on #702
@arfon I can also review this.

[2018-05-01 18:36] whedon commented on #658
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00658/joss.00658/10.21105.joss.00658.pdf)

[2018-05-01 18:36] katyhuff commented on #658
@whedon start review magic-word=bananas

[2018-05-01 18:44] whedon opened #710 "[REVIEW]: MCycle: A Python package for 1D sizing and analysis of thermodynamic power cycles"
**Submitting author:** @momargoh (<a href="http://orcid.org/0000-0002-6928-2187">Momar Hughes</a>)
**Repository:** <a href="https://github.com/momargoh/MCycle" target ="_blank">https://github.com/momargoh/MCycle</a>
**Version:** v0.1.2
**Editor:** @katyhuff
**Reviewers:** @Tabeel, @puncan
**Archive:** <a href="https://doi.org/10.5281/zenodo.1324221" target="_blank">10.5281/zenodo.1324221</a>

## S

[2018-05-01 18:44] whedon commented on #658
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/710. Feel free to close this issue now!

[2018-05-01 18:44] whedon commented on #710
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @puncan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-05-01 18:44] whedon commented on #710
[code]

[2018-05-01 18:51] kyleniemeyer commented on #658
@tabeel also just agreed to review, if you'd like an additional set of eyes

[2018-05-01 21:38] leouieda commented on #674
@lheagy maybe just achennu/microbenthos#6 but that's just a single word

[2018-05-01 22:52] mikldk commented on #684
@ajank , yes, indeed. Thanks for catching that.

[2018-05-01 23:08] mikldk commented on #684
@ajank , also thanks for your suggestions, they er now all addressed.

[2018-05-01 23:35] ajank commented on #684
@mikldk, it seems that instant reviewer feedback might have its downsides -- when the author addresses all the reviewer's comments, only to find out that the reviewer hasn't finished yet, and may have more comments coming a few days later. Anyway, many thanks for the prompt feedback, and sorry for the longer response time on my side!

[2018-05-01 23:38] mikldk commented on #684
@ajank , Sorry, but I don't understand what you mean. Do you mean that it would be easier for you that I had waited until you said you were finished? In that case, I am sorry. I thought it was easier to do the changes and notify you about them instantly. Sorry about that.

[2018-05-01 23:40] ajank commented on #684
@mikldk, maybe I should have added a smiley here ;) being new to JOSS, it was an experience on its own for me! No need to worry :)

[2018-05-01 23:42] mikldk commented on #684
@ajank , me too :). Thanks for your help.

[2018-05-01 23:43] ajank commented on #684
@brainstorm, it was a very nice experience to review this paper. I has some minor suggestions to clarify the documentation and code. My comments were all properly addressed. It is with pleasure that I recommend it to be accepted.

[2018-05-02 02:02] brainstorm commented on #684
Thanks @ajank, I'll wait for @afrubin to go ahead with his co-review and complete his share of checkboxes.

[2018-05-02 05:53] pjotrp commented on #698
@alexgarciac please start the review by ticking the boxes at the top of this page.

[2018-05-02 08:35] achennu commented on #674
Thanks @leouieda ! I'm glad you enjoyed it.

The ``export model`` command is used to validate an input file by the user. That command writes out the validated YAML string to stdout, which can of course be piped to a file for further use.

HDF5 is a widely used standard format for storing scientific data. It contains many useful features: it is self-documenting, supports structured metadata, can be

[2018-05-02 12:02] BenjaK commented on #515
Thank you @tgerke and @leeper. I have now

1. added a file `LICENCE.md` to clarify which license the package goes under (the licence is also found in the `DESCRIPTION` file),
2. updated the statement of need with a reference to SaTScan and exemplified what sets my package apart, and
3. added DOIs for cited articles. Note: One reference has been updated since it is now in press.

[2018-05-02 13:07] leeper commented on #515
@BenjaK Great. Thank you. Two final things:

1. I might further suggest that in the paper you situate the references in the actual paper so that it is clear why you are citing the various papers. While JOSS articles are meant to be short, they are still articles that follow a narrative structure.
2. Can you please issue a DOI for an archived version of the software using [zenodo](https://zenodo.or

[2018-05-02 13:41] hooman650 commented on #671
Thank you @fernandoandreotti and @marianux for taking the time and going over the BioSigKit.

Your comments are very accurate. I understand that currently only documented functions in BioKitSig are offering QRS detectors with the exception of the last algorithm which is a general peak detector. And this might seem like reinventing the wheel beside that a few algorithms are new.

Please note that t

[2018-05-02 13:47] danielskatz commented on #675
@whedon assign @lkosmid as editor

[2018-05-02 13:47] whedon commented on #675
OK, the editor is @lkosmid

[2018-05-02 13:47] danielskatz commented on #675
@whedon assign @lkosmid as reviewer

[2018-05-02 13:47] whedon commented on #675
OK, the reviewer is @lkosmid

[2018-05-02 13:47] danielskatz commented on #675
@whedon assign @danielskatz as editor

[2018-05-02 13:47] whedon commented on #675
OK, the editor is @danielskatz

[2018-05-02 13:48] danielskatz commented on #675
@whedon start review magic-word=bananas

[2018-05-02 13:48] whedon opened #711 "[REVIEW]: chronovise: Measurement-Based Probabilistic Timing Analysis framework"
**Submitting author:** @federeghe (<a href="http://orcid.org/0000-0002-1888-9579">FEDERICO REGHENZANI</a>)
**Repository:** <a href="https://github.com/federeghe/chronovise" target ="_blank">https://github.com/federeghe/chronovise</a>
**Version:** v1.0
**Editor:** @danielskatz
**Reviewer:** @lkosmid
**Archive:** <a href="https://doi.org/10.5281/zenodo.1404670" target="_blank">10.5281/zenodo.1404670

[2018-05-02 13:48] whedon commented on #675
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/711. Feel free to close this issue now!

[2018-05-02 13:48] whedon commented on #711
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lkosmid it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-05-02 13:48] whedon commented on #711
[code]

[2018-05-02 13:48] #675 closed

[2018-05-02 13:49] whedon commented on #711
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00711/joss.00711/10.21105.joss.00711.pdf)

[2018-05-02 13:49] danielskatz commented on #711
@lkosmid - thanks for agreeing to do this review.  You should start with the information at the top of the issue.  Please let me know if you have questions.

[2018-05-02 14:27] whedon opened #712 "[PRE REVIEW]: Calliope: a multi-scale energy systems modelling framework"
**Submitting author:** @sjpfenninger (<a href="http://orcid.org/0000-0002-8420-9498">Stefan Pfenninger</a>)
**Repository:** <a href="https://github.com/calliope-project/calliope" target ="_blank">https://github.com/calliope-project/calliope</a>
**Version:** v0.6.0
**Editor:** @jedbrown
**Reviewers:** @mdoucet, @gonsie, @ecotillasanchez

**Author instructions**

Thanks for submitting your paper to

[2018-05-02 14:27] whedon commented on #712
PDF failed to compile for issue #712 with the following error:

 Can't find any papers to compile :-(

[2018-05-02 14:27] arfon commented on #712
@whedon generate pdf

[2018-05-02 14:28] arfon commented on #712
:wave: @katyhuff - the submitting author suggested you as the handling editor.

[2018-05-02 14:28] whedon commented on #712
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00712/joss.00712/10.21105.joss.00712.pdf)

[2018-05-02 14:29] whedon opened #713 "[PRE REVIEW]: HelpMe Command Line Helper Utility"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/vsoch/helpme" target ="_blank">https://www.github.com/vsoch/helpme</a>
**Version:** 0.0.2
**Editor:** @arfon
**Reviewers:** @iljah, @rougier

**Author instructions**

Thanks for submitting your paper to JOSS @vsoch. The JOSS editor (shown at the top of t

[2018-05-02 14:29] whedon commented on #713
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-05-02 14:29] whedon commented on #713
[code]

[2018-05-02 14:29] arfon commented on #713
:wave: @karthik - the submitting author suggested you as the handling editor

[2018-05-02 14:29] whedon opened #714 "[PRE REVIEW]: quhomology: Calculation of Homology of Quandles, Racks, Biquandles and Biracks"
**Submitting author:** @ansgarwenzel (<a href="http://orcid.org/0000-0001-7154-1590">Ansgar Wenzel</a>)
**Repository:** <a href="https://github.com/ansgarwenzel/quhomology" target ="_blank">https://github.com/ansgarwenzel/quhomology</a>
**Version:** 1.1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @ansgarwenzel. The JOSS editor (sho

[2018-05-02 14:29] whedon commented on #714
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-02 14:29] whedon commented on #714
[code]

[2018-05-02 14:30] whedon opened #715 "[PRE REVIEW]: suppdata: loading SUPPlementary DATA into R"
**Submitting author:** @willpearse (<a href="http://orcid.org/0000-0002-6241-3164">William D Pearse</a>)
**Repository:** <a href="https://github.com/ropensci/suppdata" target ="_blank">https://github.com/ropensci/suppdata</a>
**Version:** v1.0-0
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @willpearse. The JOSS editor (shown at the top

[2018-05-02 14:30] whedon commented on #715
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-02 14:30] whedon commented on #715
[code]

[2018-05-02 14:30] whedon commented on #715
PDF failed to compile for issue #715 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a

[2018-05-02 14:30] whedon opened #716 "[PRE REVIEW]: Cylc: a Workflow Engine for Automating Cycling Systems"
**Submitting author:** @hjoliver (<a href="http://orcid.org/0000-0002-5715-5279">Hilary Oliver</a>)
**Repository:** <a href="https://github.com/cylc/cylc" target ="_blank">https://github.com/cylc/cylc</a>
**Version:** cylc-7.6.1
**Editor:** @arfon
**Reviewers:** @sarats, @Chilipp

**Author instructions**

Thanks for submitting your paper to JOSS @hjoliver. The JOSS editor (shown at the top of this

[2018-05-02 14:30] whedon commented on #716
[code]

[2018-05-02 14:30] whedon commented on #716
PDF failed to compile for issue #716 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0     72      0 --:--:-- --:--:-- --:--:--    72
Could not find bib

[2018-05-02 14:32] arfon commented on #715
:wave: @willpearse - please take a look at http://joss.theoj.org/about#paper_structure for the required YAML fields for `paper.md` - it looks like you're missing a `bibliography` field.

You can ask @whedon to recompile your paper with `@whedon generate pdf`

[2018-05-02 14:46] jarvist commented on #682
I'm happy to help! Though in the interest of full disclosure I know the two primary authors.

[2018-05-02 14:50] sjpfenninger commented on #712
Noticed a broken bibtex ref in the article proof and [pushed an update to fix it](https://github.com/calliope-project/calliope/commit/159664ba3623ea0134ed473836f296b4485547c8)

[2018-05-02 14:52] jarvist commented on #566
https://github.com/jarvist/PolaronMobility.jl/issues/2 is hopefully dealt with.
https://github.com/jarvist/PolaronMobility.jl/issues/1 requires a bit more work still - just need to make the time to finish a gentle refactor + ensure the documentation is current. Thanks for the reminder!

[2018-05-02 14:52] kyleniemeyer commented on #682
@jarvist great! I was actually about to email you, so thanks for volunteering. Knowing the authors is fine, as long as you don't have a formal conflict of interest based on our policy: https://github.com/openjournals/joss/blob/master/COI.md

[2018-05-02 14:52] kyleniemeyer commented on #682
@whedon add @jarvist as reviewer

[2018-05-02 14:53] whedon commented on #682
OK, @jarvist is now a reviewer

[2018-05-02 14:53] kyleniemeyer commented on #682
@whedon add @cfgoldsmith as reviewer

[2018-05-02 14:53] whedon commented on #682
OK, @cfgoldsmith is now a reviewer

[2018-05-02 14:53] kyleniemeyer commented on #682
@whedon start review magic-word=bananas

[2018-05-02 14:53] whedon opened #717 "[REVIEW]: sumo: Command-line tools for plotting and analysis of ab initio calculations"
**Submitting author:** @utf (<a href="http://orcid.org/0000-0002-4486-3321">Alex Ganose</a>)
**Repository:** <a href="https://github.com/SMTG-UCL/sumo" target ="_blank">https://github.com/SMTG-UCL/sumo</a>
**Version:** v1.0.4
**Editor:** @kyleniemeyer
**Reviewer:** @jarvist, @cfgoldsmith
**Archive:** <a href="https://doi.org/10.5281/zenodo.1338124" target="_blank">10.5281/zenodo.1338124</a>

## St

[2018-05-02 14:53] whedon commented on #682
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/717. Feel free to close this issue now!

[2018-05-02 14:53] whedon commented on #717
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jarvist, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-05-02 14:53] whedon commented on #717
[code]

[2018-05-02 14:54] kyleniemeyer commented on #682
ok @utf @jarvist @cfgoldsmith we will hold the actual review over in #717

[2018-05-02 14:54] #682 closed

[2018-05-02 14:54] whedon commented on #717
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00717/joss.00717/10.21105.joss.00717.pdf)

[2018-05-02 14:55] kyleniemeyer commented on #717
👋 @utf @jarvist @cfgoldsmith

For @jarvist & @cfgoldsmith, note that you each have a separate reviewer checklist above. Thanks for agreeing to review!

[2018-05-02 14:58] willpearse commented on #715
@whedon generate pdf

[2018-05-02 14:58] whedon commented on #715
[code]

[2018-05-02 14:59] whedon commented on #715
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00715/joss.00715/10.21105.joss.00715.pdf)

[2018-05-02 15:01] willpearse commented on #715
@arfon Thanks for spotting that, and I'm sorry to have made such a silly mistake.

In case it's gotten lost in the system, `suppdata` has been reviewed as an ROpenSci package (https://github.com/ropensci/onboarding/issues/195).

Thanks again for your time.

[2018-05-02 15:01] utf commented on #717
@kyleniemeyer: I've just had a look through the conflict of interest page you linked in the previous issue. Jarvist and David Scanlon (@scanlond), the last author on this paper, were on a paper together back in 2016: https://aip.scitation.org/doi/abs/10.1063/1.4943973

[2018-05-02 15:08] utf commented on #717
Actually, sorry for the confusion here, I was mistaken, @jarvist and @scanlond haven't actually worked on a paper together.

[2018-05-02 15:29] DTChuck commented on #630
I would very much like to move this review forward. If there is anything I can do to help, let me know.
@arfon
@abhishekbajpayee

[2018-05-02 15:30] katyhuff commented on #710
@whedon assign @Tabeel as reviewer

[2018-05-02 15:33] katyhuff commented on #710
@whedon add @puncan as reviewer

[2018-05-02 15:33] whedon commented on #710
OK, @puncan is now a reviewer

[2018-05-02 15:34] katyhuff commented on #710
Ok, both @puncan and @Tabeel will be reviewers for this submission. Each of you has a review checklist above. Please use the one with your name on it.

[2018-05-02 15:44] kyleniemeyer commented on #717
@utf thanks for checking!

[2018-05-02 15:58] jarvist commented on #717
I have however co-authored a few times with @ajjackson back when were were in the same group. If @kyleniemeyer is happy, I'm happy! I certainly do know these people, but I don't think that's any problem in terms of writing a fair and open review of these codes.

[2018-05-02 16:12] kyleniemeyer commented on #717
@jarvist I can see the partial overlap—thanks for being upfront about it. I agree that these connections should not be an issue.

[2018-05-02 16:39] vsoch commented on #713
Thanks @whedon and :wave: @arfon ! The article proof looks good!

[2018-05-02 19:26] RuthAngus commented on #667
Hi @gomezdasilva did you see the issues I raised on the ACTIN github page?

[2018-05-02 19:35] leouieda commented on #674
@achennu OK, thanks for the clarification!

@lheagy I don't have any more comments. I think this is good to go :rocket:

[2018-05-02 19:59] lheagy commented on #674
Thanks @leouieda for your review!

@achennu, could you please archive your software (eg. on [zenodo](https://zenodo.org/) or similar) and post the doi here?

[2018-05-02 20:25] giraola commented on #593
Thanks @kortschak, @juanvillada and @KlausVigo for this constructive review process. @Kevin-Mattheus-Moerman, it seems every box has been checked by the three reviewers. What's next?

[2018-05-02 21:37] hjoliver commented on #716
From the list of potential reviewers @ygrange looks good (scientific workflow management, Python).

[2018-05-02 21:41] hjoliver commented on #716
Otherwise reviewers listing "atmospheric science" or possibly "HPC" could work (these are Cylc's core application areas thus far).

[2018-05-03 00:07] karthik commented on #713
Thanks @vsoch I'll update this thread with more information once I've done some initial checks. Stay tuned.

[2018-05-03 00:07] vsoch commented on #713
Awesome thank you @karthik ! Please take the time that you need, and I look forward to our discussion.

[2018-05-03 01:31] Kevin-Mattheus-Moerman commented on #593
@whedon generate pdf

[2018-05-03 01:31] whedon commented on #593
[code]

[2018-05-03 01:31] whedon commented on #593
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00593/joss.00593/10.21105.joss.00593.pdf)

[2018-05-03 01:43] Kevin-Mattheus-Moerman commented on #593
@giraola @iferres what is next is that I will congratulate you as I will now recommend that this work is accepted! :tada: :rocket: :robot:
At this point, can you please make an archive of the final reviewed software in [Zenodo](https://zenodo.org/), or [figshare](https://figshare.com/), or another service, and update this thread with the DOI of the archive? Once we have that available we can proce

[2018-05-03 01:44] Kevin-Mattheus-Moerman commented on #593
Thanks @kortschak, @juanvillada and @KlausVigo for your review efforts! :cake:

[2018-05-03 01:52] Kevin-Mattheus-Moerman commented on #602
@MikeInnes thanks, all boxes are ticked and it looks like we are all set. I recommend acceptance of this submission.
At this point, can you please make an archive of the final reviewed software in [Zenodo](https://zenodo.org/), or [figshare](https://figshare.com/), or another service, and update this thread with the DOI of the archive? Once we have that available we can process acceptance.

[2018-05-03 01:53] Kevin-Mattheus-Moerman commented on #602
@ysimillides thanks for reviewing this submission! :rocket:

[2018-05-03 01:54] Kevin-Mattheus-Moerman commented on #681
We'll start the review process to avoid delays.

[2018-05-03 01:54] Kevin-Mattheus-Moerman commented on #681
@whedon start review magic-word=bananas

[2018-05-03 01:54] whedon opened #718 "[REVIEW]: BeeNestABM: An open-source agent-based model of spatiotemporal distribution of bumblebees in nests"
**Submitting author:** @ashleefv (<a href="http://orcid.org/0000-0001-9059-5703">Ashlee N. Ford Versypt</a>)
**Repository:** <a href="https://github.com/ashleefv/BeeNestABM" target ="_blank">https://github.com/ashleefv/BeeNestABM</a>
**Version:** 2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @sdelandtsheer
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1303422" target="_blank">10.5

[2018-05-03 01:54] whedon commented on #681
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/718. Feel free to close this issue now!

[2018-05-03 01:54] whedon commented on #718
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @sdelandtsheer it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-05-03 01:54] whedon commented on #718
[code]

[2018-05-03 01:54] #681 closed

[2018-05-03 01:54] whedon commented on #718
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00718/joss.00718/10.21105.joss.00718.pdf)

[2018-05-03 01:56] Kevin-Mattheus-Moerman commented on #718
@ashleefv this is where the review will take place. @sdelandtsheer thanks for acting as reviewer.
Let me know if you have any questions.

[2018-05-03 01:59] Kevin-Mattheus-Moerman commented on #718
@ashleefv for the `submitted` works cited in your paper, are you able to post these on a pre-print server and add the URL's or DOI's to these references? e.g. https://engrxiv.org/ (you can check your rights for individual journals [here](http://www.sherpa.ac.uk/romeo/index.php))

[2018-05-03 05:08] abhishekbajpayee commented on #630
Next comments from my end:
1. I am not sure how to check for release version because I don't see any GitHub releases in the project repo. @arfon should I be looking somewhere else?
2. Even after running `pip install virtualenvwrapper`, I don't see any script called `virtualenvwrapper.sh` in `/usr/local/bin`. I checked the official documentation for `virtualenvwrapper` at http://virtualenvwrapper.r

[2018-05-03 06:53] BenjaK commented on #515
@leeper I'm in the process of fixing your point 2. I wonder, would it be possible to update the version number of my package submitted to JOSS? It is currently v1.0.0, but I would like it to be v1.0.1. The latter is the version showed per default on the GitHub page (and likely the one reviewed), and the difference between 1.0.1 and 1.0.0 is minute.

[2018-05-03 10:33] sepandhaghighi commented on #708
@whedon generate pdf

[2018-05-03 10:33] whedon commented on #708
[code]

[2018-05-03 10:33] whedon commented on #708
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00708/joss.00708/10.21105.joss.00708.pdf)

[2018-05-03 10:37] sepandhaghighi commented on #708
Hi @arfon

Could you please tell me what is the problem of image in `paper.md` ?

Thanks ;-)

[2018-05-03 11:13] sepandhaghighi commented on #676
@whedon generate pdf

[2018-05-03 11:13] whedon commented on #676
[code]

[2018-05-03 11:13] whedon commented on #676
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00676/joss.00676/10.21105.joss.00676.pdf)

[2018-05-03 11:59] ygrange commented on #716
I'm not too familiar with the background application field (maybe I'm wrong and we could actually apply it to Astronomy; haven't really thought very deeply about it tbh) so I may mostly comment on the more technical details. Wouldn't mind having an in-depth look at it though. I will however be unavailable untill the end of next week.

[2018-05-03 13:13] Kevin-Mattheus-Moerman commented on #702
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-05-03 13:13] whedon commented on #702
OK, the editor is @Kevin-Mattheus-Moerman

[2018-05-03 13:13] Kevin-Mattheus-Moerman commented on #702
@whedon assign @mgalloy as reviewer

[2018-05-03 13:13] whedon commented on #702
OK, the reviewer is @mgalloy

[2018-05-03 13:14] Kevin-Mattheus-Moerman commented on #702
@whedon add @leios as reviewer

[2018-05-03 13:14] whedon commented on #702
OK, @leios is now a reviewer

[2018-05-03 13:14] MikeInnes commented on #602
Alright, that's up! https://zenodo.org/record/1240350

[2018-05-03 13:14] Kevin-Mattheus-Moerman commented on #702
@whedon start review magic-word=bananas

[2018-05-03 13:14] whedon opened #719 "[REVIEW]: fib-tf: A TensorFlow-based Cardiac Electrophysiology Simulator"
**Submitting author:** @siravan (<a href="http://orcid.org/0000-0003-2132-1543">Shahriar Iravanian</a>)
**Repository:** <a href="https://github.com/siravan/fib_tf" target ="_blank">https://github.com/siravan/fib_tf</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @mgalloy, @leios
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1256950" target="_blank">10.5281/zenodo

[2018-05-03 13:14] whedon commented on #702
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/719. Feel free to close this issue now!

[2018-05-03 13:14] whedon commented on #719
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @mgalloy, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-05-03 13:14] whedon commented on #719
[code]

[2018-05-03 13:14] #702 closed

[2018-05-03 13:14] whedon commented on #719
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00719/joss.00719/10.21105.joss.00719.pdf)

[2018-05-03 13:17] Kevin-Mattheus-Moerman commented on #719
@siravan this is where the review will take place. @mgalloy, @leios thanks for acting as reviewers for this submission. There are tickboxes at the top here to guide you through the review process.

Let me know if I can help.
:rocket: :robot:

[2018-05-03 13:38] Kevin-Mattheus-Moerman commented on #602
@arfon over to you. We are all set.

[2018-05-03 14:01] arfon commented on #589
@xirdneh - yes, I'd still love to get a reviewer for this. Are you able to help?

[2018-05-03 14:07] arfon commented on #703
@whedon generate pdf

[2018-05-03 14:07] whedon commented on #703
[code]

[2018-05-03 14:08] whedon commented on #703
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00703/joss.00703/10.21105.joss.00703.pdf)

[2018-05-03 14:10] arfon commented on #678
This is the standard style for our bibliography - it's because the author list of the second paper is the same as the one above it.

[2018-05-03 14:22] whedon opened #720 "[REVIEW]: Dataviz: A package of domain specific visualizations and languages for the Pharo live coding environment"
**Submitting author:** @offray (<a href="http://orcid.org/0000-0002-4640-6984">Offray Vladimir Luna Cárdenas</a>)
**Repository:** <a href="https://mutabit.com/repos.fossil/dataviz/" target ="_blank">https://mutabit.com/repos.fossil/dataviz/</a>
**Version:** 2.2.3
**Editor:** @arfon
**Reviewer:** @seandenigris
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/9b27dbce146ff072

[2018-05-03 14:57] RuthAngus commented on #667
Oops, sorry about that, @gomesdasilva!

[2018-05-03 16:57] ashleefv commented on #718
I removed the line referencing the submitted works. My co-authors preferred
this over pre-prints after the papers are in review.

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences
Center
420 Engineering North, OSU, Stillwater, OK 74078
Ph: 405-744-5280
ashleefv@oks

[2018-05-03 17:02] arfon commented on #715
Thanks @willpearse - could you take a look a reformatting the code examples in the paper so they wrap properly?

[2018-05-03 17:09] willpearse commented on #715
@whedon generate pdf

[2018-05-03 17:09] whedon commented on #715
[code]

[2018-05-03 17:09] whedon commented on #715
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00715/joss.00715/10.21105.joss.00715.pdf)

[2018-05-03 17:27] arfon commented on #602
@whedon set 10.5281/zenodo.1240350 as archive

[2018-05-03 17:27] whedon commented on #602
OK. <a href="http://dx.doi.org/10.5281/zenodo.1240350" target="_blank">10.5281/zenodo.1240350</a> is the archive.

[2018-05-03 17:34] MikeInnes commented on #602
Awesome, thanks @arfon and @Kevin-Mattheus-Moerman, and @ysimillides for the review!

[2018-05-03 17:35] whedon commented on #602
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00602/status.svg)](https://doi.org/10.21105/joss.00602)

**We need your help!**

Journal of Open Source Software

[2018-05-03 17:40] arfon commented on #693
@whedon generate pdf

[2018-05-03 17:40] whedon commented on #693
[code]

[2018-05-03 17:40] whedon commented on #693
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00693/joss.00693/10.21105.joss.00693.pdf)

[2018-05-03 17:42] whedon commented on #715
OK. <a href="http://dx.doi.org/10.5281/zenodo.1238947" target="_blank">10.5281/zenodo.1238947</a> is the archive.

[2018-05-03 17:42] whedon commented on #715
OK, the editor is @arfon

[2018-05-03 17:43] arfon commented on #715
@whedon assign @arfon as reviewer

[2018-05-03 17:43] arfon commented on #715
@whedon start review magic-word=bananas

[2018-05-03 17:43] #715 closed

[2018-05-03 17:43] whedon opened #721 "[REVIEW]: suppdata: loading SUPPlementary DATA into R"
**Submitting author:** @willpearse (<a href="http://orcid.org/0000-0002-6241-3164">William D Pearse</a>)
**Repository:** <a href="https://github.com/ropensci/suppdata" target ="_blank">https://github.com/ropensci/suppdata</a>
**Version:** v1.0-0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1238947" target="_blank">10.5281/zenodo.1238947</a>

## Sta

[2018-05-03 17:43] whedon commented on #715
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/721. Feel free to close this issue now!

[2018-05-03 17:43] whedon commented on #721
[code]

[2018-05-03 17:47] willpearse commented on #715
Fantastic. Thank you very much for your help!

[2018-05-03 17:55] arfon commented on #721
@willpearse - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00721 :zap: :rocket: :boom:

[2018-05-03 17:55] #721 closed

[2018-05-03 17:55] whedon commented on #721
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00721/status.svg)](https://doi.org/10.21105/joss.00721)

**We need your help!**

Journal of Open Source Software

[2018-05-03 18:05] willpearse commented on #721
Fantastic, thank you very much! You made that process extremely straightforward and efficient - thank you!!!

[2018-05-03 19:00] whedon commented on #677
Here are some things you can ask me to do:

[code]

[2018-05-03 19:01] leeper commented on #677
@whdon assign @leeper as editor

[2018-05-03 19:01] leeper commented on #677
@whedon assign @leeper as editor

[2018-05-03 19:01] whedon commented on #677
OK, the editor is @leeper

[2018-05-03 19:01] leeper commented on #677
@whedon assign @benmarwick as reviewer

[2018-05-03 19:01] whedon commented on #677
OK, the reviewer is @benmarwick

[2018-05-03 19:04] leeper commented on #677
@whedon start review magic-word=bananas

[2018-05-03 19:04] whedon opened #722 "[REVIEW]: KLRfome - Kernel Logistic Regression on Focal Mean Embeddings"
**Submitting author:** @mrecos (<a href="http://orcid.org/0000-0002-4627-7692">Matthew Harris</a>)
**Repository:** <a href="https://github.com/mrecos/klrfome" target ="_blank">https://github.com/mrecos/klrfome</a>
**Version:** v2.2.0
**Editor:** @arfon
**Reviewer:** @benmarwick
**Archive:** <a href="https://doi.org/10.5281/zenodo.2598673" target="_blank">10.5281/zenodo.2598673</a>

## Status

[![s

[2018-05-03 19:04] whedon commented on #677
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/722. Feel free to close this issue now!

[2018-05-03 19:04] whedon commented on #722
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @benmarwick it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-05-03 19:04] whedon commented on #722
[code]

[2018-05-03 19:04] #677 closed

[2018-05-03 19:04] whedon commented on #722
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00722/joss.00722/10.21105.joss.00722.pdf)

[2018-05-03 19:05] leeper commented on #677
@benmarwick Thanks for agreeing to review!! The review issue is now open at #722.

[2018-05-03 19:49] sepandhaghighi commented on #708
@whedon generate pdf

[2018-05-03 19:49] whedon commented on #708
[code]

[2018-05-03 19:50] whedon commented on #708
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00708/joss.00708/10.21105.joss.00708.pdf)

[2018-05-03 19:55] sepandhaghighi commented on #708
@whedon generate pdf

[2018-05-03 19:55] whedon commented on #708
[code]

[2018-05-03 19:55] whedon commented on #708
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00708/joss.00708/10.21105.joss.00708.pdf)

[2018-05-03 20:15] hjoliver commented on #716
@arfon - the error says "could not find paper.bib", but that file is in the same location as paper.md in the repostory (which is "doc/joss-paper"). The pandoc command given in whedon docs works when I run it manually in that directory.  The instruction for authors does not say a specific location is required, or have I missed something?

[2018-05-03 20:31] sepandhaghighi commented on #708
I suggest @nhejazi for review.

[2018-05-04 02:33] arfon commented on #629
@rdrr1990 - many thanks for your review here and to @leeper for editing this submission ✨

@virgesmith - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00629 :zap: :rocket: :boom:

[2018-05-04 02:33] #629 closed

[2018-05-04 02:33] whedon commented on #629
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00629/status.svg)](https://doi.org/10.21105/joss.00629)

**We need your help!**

Journal of Open Source Software

[2018-05-04 07:03] afrubin commented on #684
@mikldk Thanks for your prompt response to the build-related GitHub issues. There are a few JOSS-specific things I'd like to bring up here, as they are relate to the checklist rather than the code itself.

- The package version matches, but there is no GitHub release with that version number.
- While the installation instructions are clear and dependencies are handled by R, dependencies in the `DE

[2018-05-04 08:52] mikldk commented on #684
@afrubin Thank you very much.

* Github release: Sorry. Now, there is: <https://github.com/mikldk/malan/releases/tag/0.0.3>
* Dependencies: Added in mikl/malan@d92e8f35ca1f72b972c988ed49a335af49b60869.
* Zenodo: Sorry, now, there is:  https://zenodo.org/record/1240896 / DOI: 10.5281/zenodo.1240896 <http://doi.org/10.5281/zenodo.1240896> (DOI doesn't work, yet)

[2018-05-04 09:02] mikldk commented on #684
@brainstorm For some reason it seems like I can edit the reviewers checklists (I haven't dared trying, but the `checkbox`es are not disabled).

@afrubin Stupid question: So now that the version 0.0.3 is locked and have a DOI number. What happens if there is now any blocking changes that I need to do in this review? Do the changes, delete the Github release and create that same 0.0.3 again? And whe

[2018-05-04 09:08] achennu commented on #674
Thank you @leouieda !

@lheagy I have created an archive on zenodo: http://doi.org/10.5281/zenodo.1240940

[2018-05-04 09:27] mikldk commented on #684
@afrubin Thanks. But if I now add a badge then that change will not be in the release. But maybe it doesn't matter dor such small changes?

[2018-05-04 10:13] arfon commented on #716
@whedon generate pdf

[2018-05-04 10:13] whedon commented on #716
[code]

[2018-05-04 10:14] whedon commented on #716
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00716/joss.00716/10.21105.joss.00716.pdf)

[2018-05-04 10:16] arfon commented on #708
Great thanks.

I think this is just the LaTeX engine being weird (image placement in LaTeX is notoriously peculiar) because the paper is very short. I suggest we fix this when we've been through review.

[2018-05-04 10:17] arfon commented on #660
@whedon set 10.5281/zenodo.1240569 as archive

[2018-05-04 10:17] whedon commented on #660
OK. <a href="http://dx.doi.org/10.5281/zenodo.1240569" target="_blank">10.5281/zenodo.1240569</a> is the archive.

[2018-05-04 10:26] arfon commented on #674
@leouieda - many thanks for your review here and to @lheagy for editing this submission ✨

@achennu - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00674 :zap: :rocket: :boom:

[2018-05-04 10:26] #674 closed

[2018-05-04 10:26] whedon commented on #674
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00674/status.svg)](https://doi.org/10.21105/joss.00674)

**We need your help!**

Journal of Open Source Software

[2018-05-04 10:27] arfon commented on #684
I think it's OK for the release number we're quoting here not to have the badge in the README.

[2018-05-04 16:02] bblankrot commented on #691
@ysimillides, @Kevin-Mattheus-Moerman &ndash; anything else I should take care of on my end?

[2018-05-04 16:10] pboesu commented on #634
Hello @biorelated and @xiangfstats

I have reviewed the package now and provided a number of issues in the target repositories that, in my opinion, warrant responses from the authors.

Critically, the vignette does not compile because of an error in one of the package functions (https://github.com/xiangfstats/GenieR/issues/2), but I would also suggest a number of fairly minor changes to the docume

[2018-05-04 16:56] whedon opened #723 "[PRE REVIEW]: TrajectoryMergeAssist"
**Submitting author:** @avimanyu786 (<a href="http://orcid.org/0000-0003-4806-2238">Avimanyu Bandyopadhyay</a>)
**Repository:** <a href="https://github.com/avimanyu786/TrajectoryMergeAssist/" target ="_blank">https://github.com/avimanyu786/TrajectoryMergeAssist/</a>
**Version:** v1.1.03
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @av

[2018-05-04 16:56] whedon commented on #723
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-04 16:56] whedon commented on #723
[code]

[2018-05-04 16:56] whedon commented on #723
PDF failed to compile for issue #723 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a

[2018-05-04 16:57] whedon opened #724 "[PRE REVIEW]: pysrim: Automation, Analysis, and Plotting of SRIM Calculations"
**Submitting author:** @costrouc (<a href="http://orcid.org/0000-0002-8734-4564">Christopher Ostrouchov</a>)
**Repository:** <a href="https://gitlab.com/costrouc/pysrim" target ="_blank">https://gitlab.com/costrouc/pysrim</a>
**Version:** v0.5.3
**Editor:** @katyhuff
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @costrouc. The JOSS editor (shown at the to

[2018-05-04 16:57] whedon commented on #724
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-05-04 16:57] whedon commented on #724
[code]

[2018-05-04 16:57] whedon commented on #724
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00724/joss.00724/10.21105.joss.00724.pdf)

[2018-05-04 17:33] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-04 17:33] whedon commented on #723
[code]

[2018-05-04 17:42] avimanyu786 commented on #723
I have been trying to edit the paper.bib file. I have tried different structures but I can't get it compiled. I also tried using a single reference. Please help.

[2018-05-04 17:52] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-04 17:52] whedon commented on #723
[code]

[2018-05-04 17:52] whedon commented on #723
PDF failed to compile for issue #723 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a

[2018-05-04 17:58] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-04 17:58] whedon commented on #723
[code]

[2018-05-04 17:58] whedon commented on #723
PDF failed to compile for issue #723 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a

[2018-05-04 18:31] mesnardo commented on #558
@jedbrown, thank you for those useful comments.
Below is our reply to them.

The executables `petibm-tairacolonius` and `petibm-decoupledibpm` both work with 2D and 3D configurations.
`petibm-tairacolonius` solves the Navier-Stokes equations with an Immersed Boundary Projection Method (IBPM) proposed by Taira and Colonius (2007).
`petibm-decoupledibpm` is a variant of the IBPM, proposed by Li et a

[2018-05-04 19:10] Kevin-Mattheus-Moerman commented on #691
@ysimillides if you are happy with these edits and there are no more points, are you able to tick the last boxes? Thanks!

[2018-05-04 19:39] Kevin-Mattheus-Moerman commented on #593
Arfon, over to you, we are all set. The authors say the DOI is 10.6084/m9.figshare.6223538. Although the link has .v1 in it see here: [https://doi.org/10.6084/m9.figshare.6223538.v1](https://doi.org/10.6084/m9.figshare.6223538.v1), so make sure we'll use the correct one.

[2018-05-04 19:55] ygrange commented on #716
So in principle I'd happily do it but I will be looking at it from the direction of a different field (so I will judge the documentation on how clear it is for me as an outsider for example). I leave it to you to judge if that's an angle you want to have covered (not sure of joss allows multiple reviewers to cover different angles).

Going offline for a week now and I'll see what's expected from m

[2018-05-04 19:57] ysimillides commented on #691
Done.

[2018-05-04 20:25] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-04 20:25] whedon commented on #723
[code]

[2018-05-04 20:25] whedon commented on #723
PDF failed to compile for issue #723 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0    162      0 --:--:-- --:--:-- --:--:--   164
Error reading bibl

[2018-05-04 20:27] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-04 20:27] whedon commented on #723
[code]

[2018-05-04 20:27] whedon commented on #723
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00723/joss.00723/10.21105.joss.00723.pdf)

[2018-05-04 20:49] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-04 20:49] whedon commented on #723
[code]

[2018-05-04 20:49] whedon commented on #723
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00723/joss.00723/10.21105.joss.00723.pdf)

[2018-05-04 20:56] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-04 20:56] whedon commented on #723
[code]

[2018-05-04 20:56] whedon commented on #723
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00723/joss.00723/10.21105.joss.00723.pdf)

[2018-05-04 21:33] avimanyu786 commented on #723
I've been able to narrow down the issues and was finally been able to generate a pdf. But the references section is still showing as empty. I'm also unable to get my second affiliation to the next line. Awaiting your kind assistance. I'm really sorry about so many comments on this thread.

The references I'm trying to include are:

1. [MDTraj: A Modern Open Library for the Analysis of Molecular Dy

[2018-05-04 21:34] avimanyu786 commented on #723
@whedon assign @HadrienG as reviewer

[2018-05-04 21:34] whedon commented on #723
I'm sorry @avimanyu786, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-05-04 22:26] jedbrown commented on #558
Thanks for the explanation and improved documentation. I wonder if there could be more clarity about what needs to be done differently to run ibpm versus decoupledibpm. I see very little substantive differences (solver configuration) but lots of cosmetic differences (comments, subtly different script behavior).

[code]
This organization makes it more difficult to compare methods when it could have

[2018-05-04 23:01] arfon commented on #593
@whedon set 10.6084/m9.figshare.6223538.v1 as archive

[2018-05-04 23:01] whedon commented on #593
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.6223538.v1" target="_blank">10.6084/m9.figshare.6223538.v1</a> is the archive.

[2018-05-04 23:02] hjoliver commented on #716
Thanks @ygrange.  Regarding documentation, I don't think you'll find it too weather-specialized, except perhaps for the introductory section of the User Guide which dates back to the inception of the project. I'm not sure if this is good news or bad for reviewers, but Cylc is a reasonably large, mature application, so the User Guide is quite big.  I suggest you run through one of the presentations

[2018-05-04 23:08] arfon commented on #593
@kortschak, @juanvillada and @KlausVigo - many thanks for your reviews and to @Kevin-Mattheus-Moerman for editing this one ✨

@iferres - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00593 :zap: :rocket: :boom:

[2018-05-04 23:08] #593 closed

[2018-05-04 23:08] whedon commented on #593
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00593/status.svg)](https://doi.org/10.21105/joss.00593)

**We need your help!**

Journal of Open Source Software

[2018-05-05 01:51] Kevin-Mattheus-Moerman commented on #593
Congratulations @iferres and @giraola ! :cake:

[2018-05-05 01:56] Kevin-Mattheus-Moerman commented on #691
Great! Thanks for reviewing @ysimillides and @ziotom78 :rocket:

[2018-05-05 01:56] Kevin-Mattheus-Moerman commented on #691
@bblankrot at this point, can you please make an archive of the final reviewed software in [Zenodo](https://zenodo.org/), or [figshare](https://figshare.com/), or another service, and update this thread with the DOI of the archive? Once we have that available we can process acceptance.

[2018-05-05 01:58] Kevin-Mattheus-Moerman commented on #703
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-05-05 01:58] whedon commented on #703
OK, the editor is @Kevin-Mattheus-Moerman

[2018-05-05 02:01] Kevin-Mattheus-Moerman commented on #703
@rcurtin thanks for this submission. I'm going to start looking for reviewers. Are you able to suggest any reviewers at this point?

[2018-05-05 02:02] Kevin-Mattheus-Moerman commented on #703
@rcurtin minor point on the paper, can you please add DOI's to all references that have them. Thanks.

[2018-05-05 02:12] Kevin-Mattheus-Moerman commented on #703
Review invitation. @MikeInnes @betatim @rasbt @cxhernandez @mlgill @rhiever would you be interested in reviewing this submission?

[-->project repo :floppy_disk:  <--](https://github.com/mlpack/mlpack)
[--> Paper  :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00703/joss.00703/10.21105.joss.00703.pdf)

[2018-05-05 03:42] avimanyu786 commented on #723
Sorry I wasn't aware of that. Requesting the editors to please help me. Thank you.

[2018-05-05 08:25] bblankrot commented on #691
Is this OK, @Kevin-Mattheus-Moerman ?
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1241368.svg)](https://doi.org/10.5281/zenodo.1241368)
`[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1241368.svg)](https://doi.org/10.5281/zenodo.1241368)
`
Thanks @ziotom78 @ysimillides @Kevin-Mattheus-Moerman @arfon for the quick and smooth review!

[2018-05-05 09:05] kwwette commented on #707
Should be fixed in PR https://github.com/octapps/octapps/pull/13

@whedon generate pdf

[2018-05-05 09:07] kwwette commented on #707
@whedon commands

[2018-05-05 09:07] whedon commented on #707
Here are some things you can ask me to do:

[code]

[2018-05-05 09:07] kwwette commented on #707
@whedon generate pdf

[2018-05-05 09:07] whedon commented on #707
[code]

[2018-05-05 09:07] whedon commented on #707
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00707/joss.00707/10.21105.joss.00707.pdf)

[2018-05-05 14:33] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-05 14:33] whedon commented on #723
[code]

[2018-05-05 14:33] whedon commented on #723
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00723/joss.00723/10.21105.joss.00723.pdf)

[2018-05-05 14:55] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-05 14:55] whedon commented on #723
[code]

[2018-05-05 14:56] whedon commented on #723
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00723/joss.00723/10.21105.joss.00723.pdf)

[2018-05-05 15:00] avimanyu786 commented on #723
@whedon generate pdf

[2018-05-05 15:00] whedon commented on #723
[code]

[2018-05-05 15:01] whedon commented on #723
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00723/joss.00723/10.21105.joss.00723.pdf)

[2018-05-05 17:01] zedtaha commented on #623
Hi @JoFAM any things new?

[2018-05-05 17:09] JoFAM commented on #623
@zedtaha sorry, I had a few family issues to take care of and didn't get to this yet. Thank you for reminding me, I am going to go through it again somewhere this week. Prob Thursday or Friday.

[2018-05-05 20:04] biorelated commented on #634
Thank you very much @pboesu  for the review.
 @xiangfstats kindly respond to the raised issues.

[2018-05-05 20:28] arfon commented on #723
Hi @avimanyu786 - thanks for your submission to JOSS. Unfortunately this package doesn't meet our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, on this criteria:

The editorial team have decided that this submission falls under the 'minor utility' criteria and is therefore not acceptable to JOSS.

[2018-05-05 20:28] #723 closed

[2018-05-06 08:37] mikldk commented on #684
@afrubin I hope that I have now addressed all your remarks. I have updated the software to version 1.0.0 including `DESCRIPTION` and `codemeta.json` as well as made a new release at Github and updated `README` with the new DOI from Zenodo.

@afrubin and @ajank : Thank you both for helping me improving the software. Should you have any more comments, please let me know either here or by opening a n

[2018-05-06 08:41] mikldk commented on #684
@afrubin I hope that I have now addressed all your remarks.

I have updated the software to version 1.0.0 including `DESCRIPTION` and `codemeta.json` as well as made a new release at Github and updated `README` with the new DOI from Zenodo. I also updated `paper.md` (date and a new keyword).

@afrubin and @ajank : Thank you both for helping me improving the software. Should you have any more comme

[2018-05-06 09:14] afrubin commented on #684
@mikldk All of the major outstanding issues have been addressed and I am happy for the paper to proceed to the next stages. Thank your quick feedback and assistance with the Mac OS build issues in particular. The documentation has improved quite a lot during the review, and I hope that this will help your future users.

There are two very minor points that I think should be addressed before public

[2018-05-06 10:41] mikldk commented on #684
@afrubin You haven't checked the References part. Am I missing something there, you think? Or is it related to the versioning?

[2018-05-06 11:53] afrubin commented on #684
@mikldk I hadn't checked this because I didn't see the DOI for the package in the paper, but having looked at some published JOSS papers, it does appear that it's added automatically to the PDF. I've now checked this box.

[2018-05-06 15:46] arfon commented on #684
Thanks folks. I've gone ahead and marked the version as `v1.0.0` at the top of the issue.

@brainstorm - I think we're good to accept here?

[2018-05-06 15:47] arfon commented on #684
@whedon set 10.5281/zenodo.1241769 as archive

[2018-05-06 15:47] whedon commented on #684
OK. <a href="http://dx.doi.org/10.5281/zenodo.1241769" target="_blank">10.5281/zenodo.1241769</a> is the archive.

[2018-05-06 15:47] whedon opened #725 "[PRE REVIEW]: mbir: Magnitude-Based Inferences"
**Submitting author:** @kdpeterson51 (<a href="http://orcid.org/0000-0003-0128-5282">Kyle Peterson</a>)
**Repository:** <a href="https://github.com/kdpeterson51/mbir" target ="_blank">https://github.com/kdpeterson51/mbir</a>
**Version:** 1.3
**Editor:** @leeper
**Reviewers:** @kellieotto

**Author instructions**

Thanks for submitting your paper to JOSS @kdpeterson51. The JOSS editor (shown at the

[2018-05-06 15:47] whedon commented on #725
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-06 15:47] whedon commented on #725
[code]

[2018-05-06 15:47] whedon commented on #725
PDF failed to compile for issue #725 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: tags (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125

[2018-05-06 15:51] arfon commented on #725
@kdpeterson51 - please take a look at the guidelines for the paper structure http://joss.theoj.org/about#paper_structure and update yours accordingly.

In addition, this package doesn't look like it has a README, license etc. You might want to take a look at the [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines) to see what your package will be evaluated on.

[2018-05-06 17:29] arokem commented on #708
@whedon assign @arokem as editor

[2018-05-06 17:29] whedon commented on #708
OK, the editor is @arokem

[2018-05-06 17:31] arokem commented on #708
👋 Hey @rasbt: would you be willing to review this article for JOSS?

[2018-05-06 18:10] arfon commented on #445
:wave: @nelkibs - please take another look at this submission when you get a chance.

[2018-05-06 18:14] arfon commented on #668
Hi @lmullen - please complete your review when you get a chance.

[2018-05-06 18:15] arfon commented on #596
:wave: @desilinguist - could you take another look when you get a chance?  I think we're close to being done here.

[2018-05-06 18:29] arfon commented on #695
👋@jegpeek - friendly reminder to take a look at this review when you get a chance.

[2018-05-06 19:16] desilinguist commented on #596
LGTM 👍🏼

[2018-05-06 19:17] rasbt commented on #703
i would be happy to do that. Timeline-wise, I think I will be able to get started on that later this week or next weekend.

[2018-05-06 23:44] kdpeterson51 commented on #725
Sincere apologies, Afron.

Tags have been added  to YAML header, README and LICENSE files are now up-to-date.

[2018-05-07 00:14] Kevin-Mattheus-Moerman commented on #703
@whedon assign @rasbt as reviewer

[2018-05-07 00:14] whedon commented on #703
OK, the reviewer is @rasbt

[2018-05-07 01:48] brainstorm commented on #684
Thanks everyone! Closing the issue, everything looks fine to me, @arfon, do your DOI publishing magic ;)

[2018-05-07 01:48] whedon commented on #684
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00684/status.svg)](https://doi.org/10.21105/joss.00684)

**We need your help!**

Journal of Open Source Software

[2018-05-07 01:56] mikldk commented on #684
@arfon : I hereby remind you about #679: the footer in the pdf article proof contains the Markdown markup. Can you remove this?

[2018-05-07 02:55] abhishekbajpayee commented on #630
@arfon @DTChuck any updates?

[2018-05-07 08:02] amoeba commented on #268
Looking good! I made some comments [over there](https://github.com/python-windrose/windrose/issues/77#issuecomment-386989721) and still have a few remaining issues for the author to tackle.

[2018-05-07 09:08] MikeInnes commented on #703
I'll review (my time for it might be a bit scattered over the next couple of weeks though).

[2018-05-07 10:35] mlgill commented on #703
I can do it next week if a third is needed.

[2018-05-07 10:52] arfon commented on #596
@jakevdp - are we good to accept here?

[2018-05-07 10:54] arfon commented on #684
Thanks @brainstorm - please don't close these until I've wrapped up the last few steps. :-)

[2018-05-07 11:05] arfon commented on #684
@afrubin, @ajank - many thanks for your reviews and to @brainstorm for editing this submission ✨

@mikldk - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00684 :zap: :rocket: :boom:

[2018-05-07 11:05] #684 closed

[2018-05-07 11:05] whedon commented on #684
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00684/status.svg)](https://doi.org/10.21105/joss.00684)

**We need your help!**

Journal of Open Source Software

[2018-05-07 12:00] BenjaK commented on #515
@leeper The DOI for version 1.0.1 is 10.5281/zenodo.1242982. Points 1 and 2 are thus taken care of.

[2018-05-07 12:15] dhhagan commented on #540
Hey @Kevin-Mattheus-Moerman I dropped off the device with you, right? Could I come and grab it sometime this week - it needs to go out into the field soon. Thanks!

[2018-05-07 13:06] danielskatz commented on #622
@marpierc - can you verify that the remaining point has been addressed and check off the remaining item on your list?

[2018-05-07 13:07] danielskatz commented on #707
@stevenrbrandt - I think this is back to you now.

[2018-05-07 13:08] danielskatz commented on #711
@lkosmid - just a ping to see if everything is ok.  I think you were out last week, but perhaps you will be able to start on this review this week?

[2018-05-07 13:11] Kevin-Mattheus-Moerman commented on #540
Yes you can. Does Friday work?

[2018-05-07 13:11] lfasnacht commented on #651
@glemaitre - Any news from your side? I think I've addressed all the issues you mentioned, but I'm waiting for your feedback/confirmation to close them, and also to make the 1.0.1 release once your review is finished...

I also think you could update the checkboxes in the checklist above, since a lot of these points have been addressed meanwhile.

Thanks a lot!

[2018-05-07 13:11] Kevin-Mattheus-Moerman commented on #703
@whedon add @MikeInnes as reviewer

[2018-05-07 13:11] whedon commented on #703
OK, @MikeInnes is now a reviewer

[2018-05-07 13:12] Kevin-Mattheus-Moerman commented on #703
@whedon add @mlgill as reviewer

[2018-05-07 13:12] glemaitre commented on #651
I'll do a pass at night.

On 7 May 2018 at 15:11, Laurent Fasnacht <notifications@github.com> wrote:

--
Guillaume Lemaitre
INRIA Saclay - Parietal team
Center for Data Science Paris-Saclay
https://glemaitre.github.io/

[2018-05-07 13:12] whedon commented on #703
OK, @mlgill is now a reviewer

[2018-05-07 13:13] lfasnacht commented on #651
@glemaitre - Great, thanks!

[2018-05-07 13:13] Kevin-Mattheus-Moerman commented on #703
@whedon start review magic-word=bananas

[2018-05-07 13:13] whedon opened #726 "[REVIEW]: mlpack 3: a fast, flexible machine learning library"
**Submitting author:** @rcurtin (<a href="http://orcid.org/0000-0002-9903-8214">Ryan Curtin</a>)
**Repository:** <a href="https://github.com/mlpack/mlpack" target ="_blank">https://github.com/mlpack/mlpack</a>
**Version:** v3.0.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @rasbt, @MikeInnes, @mlgill
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1292120" target="_blank">10.5281/zeno

[2018-05-07 13:13] whedon commented on #703
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/726. Feel free to close this issue now!

[2018-05-07 13:13] whedon commented on #726
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @rasbt, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-05-07 13:13] whedon commented on #726
[code]

[2018-05-07 13:14] whedon commented on #726
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00726/joss.00726/10.21105.joss.00726.pdf)

[2018-05-07 13:15] Kevin-Mattheus-Moerman commented on #703
Okay @rcurtin @mlgill @rasbt MikeInnes I've started the review issue over at #726

[2018-05-07 13:15] #703 closed

[2018-05-07 13:17] Kevin-Mattheus-Moerman commented on #726
@rcurtin this is where the review process takes place. @mlgill @rasbt @MikeInnes you have tickboxes at the top here to guide the review process. You can leave comments here and for larger issues we encourage you to open issues on the project repository and link to them here. Let me know if you have any questions.

[2018-05-07 13:33] lkosmid commented on #711
@danielskatz - yes, indeed,  everything is ok. I think I will be able to start reviewing at the end of this week.

[2018-05-07 14:30] rcurtin commented on #726
Sounds good---do let me know if there is anything required from me during the reviews.

In openjournals/joss#406, I opened an issue about this paper.  Authors 4 and 5 (Sumedh and Yannis) should have no affiliation, but I could not figure out a way to get this behavior.

[2018-05-07 14:54] DTChuck commented on #630
Here are the answers to your questions:
1) I created a release for version 1.2.0. You should be able to see that on the repository page
2) Python best practice is to encapsulate everything in virtual environments. I'm not sure why the `virtualenvwrapper` didn't work for you, but I want to leave virtual environment instructions in the install instructions, as that is the recommended Python workflow

[2018-05-07 15:26] danielskatz commented on #622
@marpierc and @smgallo - thanks very much for your reviews

[2018-05-07 15:26] danielskatz commented on #622
👋 Arfon - over to you to continue the acceptance process

[2018-05-07 15:48] arfon commented on #622
@ericfranz - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-05-07 16:06] jakevdp commented on #596
Yes, I think we're good to go!

[2018-05-07 16:34] rasbt commented on #726
Sounds good!

@rcurtin I will try to go through the checklist chronologically throughout this and next week. If I have comments/suggestions, I will open those as issues in the mlpack GitHub repo as suggested by Joss.

[2018-05-07 16:45] economistgame commented on #697
@karthik  as we did not receive a reply to our request for @wrathematics, I assume him must be very busy or on extended travel. For this sake, we suggest new potential reviewers such as @andrewheiss or maybe @briatte

[2018-05-07 16:47] karthik commented on #697
@economistgame Thanks for the suggestions.

@andrewheiss and/or @briatte, would either of you be able to review?

[2018-05-07 16:49] rasbt commented on #708
Hi @arokem. Generally, I would be happy to do the review, but I am currently already involved in the mlpack review at JOSS, which will probably take a few weeks. As alternative reviewer with substantial expertise in that area, I would suggest @rhiever @NickleDave @jmschrei @jmwoloso

[2018-05-07 16:50] andrewheiss commented on #697
Sure! Are there official guidelines for reviewing that I should be aware of?

[2018-05-07 17:04] karthik commented on #697
Thanks @andrewheiss! Once I start the review you'll be tagged in another issue with a checklist and link to guidelines (http://joss.theoj.org/about#reviewer_guidelines). I'd be happy to answer any questions you may have about the process (email in profile).

[2018-05-07 17:04] karthik commented on #697
@whedon assign @@andrewheiss as reviewer

[2018-05-07 17:04] whedon commented on #697
OK, the reviewer is @@andrewheiss

[2018-05-07 17:05] karthik commented on #697
@whedon start review magic-word=bananas

[2018-05-07 17:05] whedon opened #727 "[REVIEW]: RcmdrPlugin.OptimClassifier: Extending the R Commander Interface to create the best train for classification models"
**Submitting author:** @economistgame (<a href="http://orcid.org/0000-0001-5658-4795">Agustín Pérez-Torregrosa</a>)
**Repository:** <a href="https://github.com/economistgame/RcmdrPlugin.OptimClassifier" target ="_blank">https://github.com/economistgame/RcmdrPlugin.OptimClassifier</a>
**Version:** v0.1.2
**Editor:** @karthik
**Reviewer:** @andrewheiss
**Archive:** Pending

## Status

[![status](htt

[2018-05-07 17:05] whedon commented on #697
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/727. Feel free to close this issue now!

[2018-05-07 17:05] whedon commented on #727
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @@andrewheiss it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-05-07 17:05] whedon commented on #727
[code]

[2018-05-07 17:05] #697 closed

[2018-05-07 17:05] whedon commented on #727
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00727/joss.00727/10.21105.joss.00727.pdf)

[2018-05-07 17:08] NickleDave commented on #708
Thanks @rasbt . Hi @arokem, I would be willing to act as a reviewer.

[2018-05-07 17:11] karthik commented on #713
@arfon @vsoch I did an initial review and it looks like this would be better suited for someone like @katyhuff or @jakevdp if they have the bandwidth.

[2018-05-07 17:31] economistgame commented on #727
@andrewheiss He post this in the prereview issue (#697) _I can't accept the repository invitation, possibly because the invitation was made with two @@ s?_

[2018-05-07 17:31] kellieotto commented on #578
@jasonclark sorry, I can't review it right now. I am swamped for the next month or so!

[2018-05-07 17:36] karthik commented on #727
@economistgame Yes we're aware and working on this.

@afron This was my typo. Can you add manually add Andrew as a collaborator so I can assign him the issue.

[2018-05-07 18:02] jmwoloso commented on #708
Very cool project @sepandhaghighi Happy to help as well with anything @rasbt @arokem

[2018-05-07 18:54] mhucka commented on #596
Thanks!

[2018-05-07 19:35] Rmadillo commented on #699
Hi @leeper,

I've finished the review and sent 2 pull requests to the master branch for paper.md and the vignette for small typos and clarifications.

I tested all code within the vignette and man page examples. I did not review the math in the code, but did do a spot check against manually-calculated values to see if they were the same (they were).

- I might like to have seen the `show.grid = T`

[2018-05-07 22:38] mgalloy commented on #719
I believe the DOI for the "Reconstruction of the action potential of ventricular myocardial fibres" article in your References is "https://doi.org/10.1113/jphysiol.1977.sp011853". I don't see a DOI for the TensorFlow reference.

[2018-05-07 23:02] ryneches commented on #678
Ah, OK. I've always thought looks weird.

[2018-05-08 01:47] siravan commented on #719
Thanks for the comments. The shebangs are fixed. I also added the doi you mentioned. The TensorFlow whitepaper does not seem to have a doi, as it is posted on the TensorFlow website.

[2018-05-08 03:34] andrewheiss commented on #727
I've been added now—all is well! Thanks!

[2018-05-08 12:50] leeper commented on #694
@tracykteal or maybe @karthik would be better editors than me for this one, I suspect.

[2018-05-08 14:29] costrouc commented on #724
@whedon commands

[2018-05-08 14:29] whedon commented on #724
Here are some things you can ask me to do:

[code]

[2018-05-08 15:50] Kevin-Mattheus-Moerman commented on #726
@whedon add @rstolyarov as reviewer

[2018-05-08 15:51] whedon commented on #726
OK, @rstolyarov is now a reviewer

[2018-05-08 16:52] kdpeterson51 commented on #725
@whedon commands

[2018-05-08 16:52] whedon commented on #725
Here are some things you can ask me to do:

[code]

[2018-05-08 16:55] kdpeterson51 commented on #725
@whedon generate pdf

[2018-05-08 16:55] whedon commented on #725
[code]

[2018-05-08 16:56] whedon commented on #725
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00725/joss.00725/10.21105.joss.00725.pdf)

[2018-05-08 16:56] labarba commented on #558
The substantive difference between running a case with ibpm versus decoupledibpm lies in the mathematical formulation, which results in different linear systems (even different number of systems) to solve. This difference reflects in the choice of solver and preconditioner that, in each case, will perform better, given the structure of the matrices. At this point, a user needs to read some papers

[2018-05-08 17:03] labarba commented on #558
Creating a pkg-config script seems like overkill for this project. Bear in mind, at this point we have no known users outside the group. I suppose if some user appeared who prefers this, we'd ask them to contribute it via PR!

[2018-05-08 17:05] piyueh commented on #558
Regarding the functions not in any namespace (i.e., local functions), we fixed this in commit [e38da005](https://github.com/barbagroup/PetIBM/commit/e38da005e0a7a91bf9128baad3f491a5ce7cec1e). We use anonymous namespace to encapsulate these local functions and force internal linkage only, so API users will not be able to use these local functions.

[2018-05-08 17:08] kyleniemeyer commented on #558
@labarba @jedbrown regarding the pkg-config point, I would argue that one of the purposes of the review here is to make recommendations to make software more user-friendly outside the immediate developers/group, so it seems like a useful suggestion to consider from that point of view.

[2018-05-08 17:15] labarba commented on #558
@kyleniemeyer Reasonable point, in general, but libtools is a perfectly acceptable solution here. No one in our group has gone through the exercise of learning pkg-config, so it would be starting from scratch with that tool.

Users of PetIBM need to also link to PETSc, which provides custom scripts for resolving its dependencies, and the user will need to learn about that anyway. PetIBM has almost

[2018-05-08 17:29] jedbrown commented on #558
PETSc provides a pkg-config. It isn't a difficult standard and is straightforward to provide from autotools: https://autotools.io/pkgconfig/file-format.html

@piyueh Thanks for that fix. I think these three symbols are still not intended to be exported in a non-petibm namespace:

[code]

@labarba On organization of examples, this is certainly not a blocking issue, but I felt it was worth pointing

[2018-05-08 17:32] jasonclark commented on #578
@kellieotto No worries. Thanks for the quick response.

[2018-05-08 17:32] jasonclark commented on #578
@soodoku Would you have time to review the Dassie software? Thanks for considering.

[2018-05-08 17:37] labarba commented on #558
PETSc does provide pkg-config, but PETSc is a 20+ year old project, with thousands of users around the world. From what we've seen the PETSc trainings and documentation explain how to use the customized makefiles (we use that). The manual mentions only in passing that pkg-config exists (section 15.13 Qt Creator Users).

It may not be a _difficult_ standard, but what is the ROI of adding that now?

[2018-05-08 18:35] abhishekbajpayee commented on #630
Thanks for creating the release version and fixing the links. Next few issues / clarifications:

1. When I was asking do you need to use `virtualenvwrapper`, I specifically meant to ask whether you need to use `virtualenvwrapper` _in addition_ to `virtualenv`. Using only `virtualenv` worked for me and I think that should work for most people. If this is the case, you do not need to mention `virtua

[2018-05-08 18:39] stevenrbrandt commented on #707
@kwwette I'm looking for examples and community guidelines for contributing above. I'm having trouble finding these two things. Can you help? Thanks.

[2018-05-08 18:40] jedbrown commented on #558
Pkg-config immediately works with CMake, plain makefiles, and any other build system. The libtool files are mainly usable only by autotools. So providing pkg-config significantly reduces the effort and improves reliability of linking for anyone who is not using autotools.

[2018-05-08 18:43] soodoku commented on #578
sure. first time so may reach out for advice.

[2018-05-08 19:18] mgalloy commented on #719
@siravan A couple questions:

- Are you going to make a release via GitHub? Currently, there are no releases.
- Do you have any guidelines for contributing? asking for support? If not, a short section in your README could probably satisfy the "Community guidelines" above.

[2018-05-08 19:43] anhoej commented on #699
Thanks alot!

1. I find that the grid only makes sense when you need to identify the x-value of  individual data points, which is only the case in case 3.

2. The source of the cabg dataset is deliberately not revealed to avoid potential identification of individual patients from the data provided.

3. I had great help from my student assistant, Timo, with qichart. He, however left to finish his s

[2018-05-08 19:57] lmullen commented on #668
@arfon I have completed my review and I am willing to come back to it once @lebebr01 has had a chance to respond to the issues posted above.

[2018-05-08 20:15] DTChuck commented on #630
Glad to hear we are getting close :)

1) I added a separate install instruction for virtualenv on its own. I like virtualenvwrapper as a module as it allows me to simply call `workon <env_name>` to jump into any virtual environment. I left the instructions for virtualenvwrapper in, but as an optional step.

2) Added a note in the README.md and the Documentation stating that OpenCV 2.x is not suppo

[2018-05-08 20:17] labarba commented on #558
You assert that pkg-config has advantages over libtool, and I hear you. It still sounds as "nice to have" and not a necessity.  Given that this submission is 3+ months in the pipeline (high for JOSS), considering also that a majority of accepted JOSS papers report software projects of smaller scale, and submitting that the functionality is already provided (only with a "lesser" tool), I respectful

[2018-05-08 22:51] piyueh commented on #558
@jedbrown Thank you for pointing out those three functions! These three functions should now be fixed in the current state of `joss-review` (from commit [9e701d](https://github.com/barbagroup/PetIBM/commit/efc110d834074ef510627cb99e3231afc5b1f7a4)).

Actually, we decided to put all YAML converters to private functions, not just the two for `PetscBool` mentioned. They are not for public API users b

[2018-05-08 23:14] kyleniemeyer commented on #558
It looks like the pkg-config option is something that would be nice for the future, but it seems is not required to build and use the software now. Do you agree @jedbrown? If so, have your other issues been resolved?

[2018-05-09 00:18] jedbrown commented on #558
Yeah, fine by me.On May 8, 2018 17:14, Kyle Niemeyer <notifications@github.com> wrote:It looks like the pkg-config option is something that would be nice for the future, but it seems is not required to build and use the software now. Do you agree @jedbrown? If so, have your other issues been resolved?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitH

[2018-05-09 02:29] kyleniemeyer commented on #558
@jedbrown great, thanks!

[2018-05-09 02:30] kyleniemeyer commented on #558
@whedon generate pdf

[2018-05-09 02:30] whedon commented on #558
[code]

[2018-05-09 02:30] whedon commented on #558
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00558/joss.00558/10.21105.joss.00558.pdf)

[2018-05-09 03:45] kyleniemeyer commented on #558
@labarba @mesnardo @piyueh a few comments on the paper before we accept:

- Can you complete your affiliations? (i.e., add city, state, country)
- Generally the first paragraph is a bit long, and can probably be broken into multiple paragraphs which are structured a bit better.
- You do not actually define IBM or GPU prior to their first use.
- The comment about pressure boundary conditions having

[2018-05-09 07:59] leeper commented on #699
Thanks, @anhoej.

@Rmadillo Are you satisfied with those responses?

[2018-05-09 08:00] leeper commented on #515
@whedon set 10.5281/zenodo.1242982 as archive

[2018-05-09 08:00] whedon commented on #515
OK. <a href="http://dx.doi.org/10.5281/zenodo.1242982" target="_blank">10.5281/zenodo.1242982</a> is the archive.

[2018-05-09 08:00] leeper commented on #515
@whedon generate pdf

[2018-05-09 08:00] whedon commented on #515
[code]

[2018-05-09 08:00] whedon commented on #515
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00515/joss.00515/10.21105.joss.00515.pdf)

[2018-05-09 08:05] leeper commented on #515
@BenjaK Great. Thank you. The archived version is 1.0.1 and that is the version we will consider to have been reviewed by JOSS. Happy to say that means your paper is now accepted for JOSS! Apologies for the longer than anticipated review timeline.

@arfon Over to you.

[2018-05-09 08:06] leeper commented on #725
@whedon assign @leeper as editor

[2018-05-09 08:06] whedon commented on #725
OK, the editor is @leeper

[2018-05-09 08:08] BenjaK commented on #515
@leeper Thank you. However, it seems that the article proof is the old version of the article; not the updated version found here: https://github.com/BenjaK/scanstatistics/blob/master/JOSS/paper.md

[2018-05-09 08:12] leeper commented on #725
Hi, @kdpeterson51. Thanks for your submission. A couple of preliminary things here before we get started:

1. Can you clarify the license for the functions mentioned in [COPYRIGHT](https://github.com/kdpeterson51/mbir/blob/master/mbir/inst/COPYRIGHT)? Do you have permission to redistribute this code from the original author? If so, under what license?

2. It looks like you are generating your R [N

[2018-05-09 13:02] jasonclark commented on #578
@soodoku Sure, not a problem. Thanks for agreeing. I'll set up next steps and we'll go from there.

[2018-05-09 13:07] jasonclark commented on #578
@soodoku The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

[2018-05-09 13:08] jasonclark commented on #578
@whedon assign @soodoku as reviewer

[2018-05-09 13:08] whedon commented on #578
OK, the reviewer is @soodoku

[2018-05-09 13:08] jasonclark commented on #578
@whedon start review magic-word=bananas

[2018-05-09 13:08] whedon commented on #578
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/728. Feel free to close this issue now!

[2018-05-09 13:08] whedon opened #728 "[REVIEW]: Dassie: a database of subject terms and hierarchies in the Library of Congress Subject Headings"
**Submitting author:** @mhucka (<a href="http://orcid.org/0000-0001-9105-5960">Michael Hucka</a>)
**Repository:** <a href="https://github.com/casics/dassie" target ="_blank">https://github.com/casics/dassie</a>
**Version:** v1.0.2
**Editor:** @jasonclark
**Reviewer:** @soodoku
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/68ed4e5e3e05718344da32f688ac841e/status.svg)](htt

[2018-05-09 13:08] whedon commented on #728
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @soodoku it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-05-09 13:08] whedon commented on #728
[code]

[2018-05-09 13:09] whedon commented on #728
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00728/joss.00728/10.21105.joss.00728.pdf)

[2018-05-09 13:48] Kevin-Mattheus-Moerman commented on #726
@arfon yep I know, told me the other day :) I have updated the checklists manually already.

[2018-05-09 14:52] arfon commented on #515
@tgerke - many thanks for your review here and to @leeper for editing this one ✨

@BenjaK - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00515 :zap: :rocket: :boom:

[2018-05-09 14:52] #515 closed

[2018-05-09 14:52] whedon commented on #515
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00515/status.svg)](https://doi.org/10.21105/joss.00515)

**We need your help!**

Journal of Open Source Software

[2018-05-09 14:56] #578 closed

[2018-05-09 16:02] lheagy commented on #566
Thanks @jarvist, please keep us posted.

[2018-05-09 16:18] kwwette commented on #707
@stevenrbrandt Examples: each Octave function has embedded tests which give some ideas as to usage. I've now updated the HTML documentation at https://octapps.github.io/ to include those examples as part of the HTML documentation. See e.g. https://octapps.github.io/cw_002doptimal_002dsearch_002dsetup.html#cw_002doptimal_002dsearch_002dsetup.

There are brief guidelines for contributing in the READ

[2018-05-09 16:20] arokem commented on #708
@whedon assign @NickleDave as reviewer

[2018-05-09 16:20] whedon commented on #708
OK, the reviewer is @NickleDave

[2018-05-09 16:22] whedon opened #729 "[REVIEW]: PyCM: Multi class confusion matrix library in python"
**Submitting author:** @sepandhaghighi (<a href="http://orcid.org/0000-0001-9450-2375">Sepand Haghighi</a>)
**Repository:** <a href="https://github.com/sepandhaghighi/pycm" target ="_blank">https://github.com/sepandhaghighi/pycm</a>
**Version:** v0.8.1
**Editor:** @arokem
**Reviewer:** @NickleDave
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1250175" target="_blank">10.5281/zenodo.125017

[2018-05-09 16:49] DTChuck commented on #630
I have added an additional example script and placed images in the README file that should display some of the capabilities of the software.

[2018-05-09 17:08] Rmadillo commented on #699
@leeper absolutely. I'd say it's _completely_ up to @anhoej, but it might be nice to have a "Source" section for `cabg` that says something like "Omitted for privacy concerns", mostly just so it doesn't look like an oversight, given that the other data sets do show a source section. Of course, I can also see reasons to leave it blank; if someone _knew_ it was real data, they could work to de-anony

[2018-05-09 17:31] anhoej commented on #699
Perfect! Thanks! Very good suggestion. I'll add "Omitted for privacy
concers" as data source for the cabg data set.

@leeper, I'm almost ready to release an update. Should I wait for the paper?

Kind regards
Jacob

2018-05-09 19:08 GMT+02:00 Rmadillo <notifications@github.com>:

--
Venlig hilsen
Jacob Anhøj

[2018-05-09 17:33] whedon opened #730 "[PRE REVIEW]: PyNomaly"
**Submitting author:** @vc1492a (<a href="http://orcid.org/0000-0002-5279-4143">Valentino Constantinou</a>)
**Repository:** <a href="https://www.github.com/vc1492a/PyNomaly" target ="_blank">https://www.github.com/vc1492a/PyNomaly</a>
**Version:** v0.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @yzhao062

**Author instructions**

Thanks for submitting your paper to JOSS @vc1492a. The JOS

[2018-05-09 17:34] whedon commented on #730
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-09 17:34] whedon commented on #730
[code]

[2018-05-09 17:34] whedon commented on #730
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00730/joss.00730/10.21105.joss.00730.pdf)

[2018-05-09 17:37] Tabeel commented on #710
Hi @katyhuff, I am unable to make changes to the review checklist. Am I am missing something?

[2018-05-09 18:48] katyhuff commented on #710
@Tabeel there's a little note about this up at the top of the issue, but it's easy to miss.

It says:

 If you cannot edit the checklist please:

1. Make sure you're logged in to your GitHub account
2. Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

[2018-05-09 18:55] Tabeel commented on #710
Thank you

[2018-05-10 02:44] siravan commented on #719
Yes, I plan to make a release by the end of the review process, when things are more stable.

Thanks for pointing to the lack of contributing guidelines in the README. I will add one soon.

I welcome contributions from a diverse background, as the man goal of fib-tf is experimentation with different ideas regarding solving ODEs with TensorFlow.

[2018-05-10 08:30] anhoej commented on #699
Thanx. Will do. It might take a while. I'm waiting for R 3.5.0 for Linux to
be released before I build and release the new package on CRAN.

2018-05-09 20:22 GMT+02:00 Thomas J. Leeper <notifications@github.com>:

--
Venlig hilsen
Jacob Anhøj

[2018-05-10 09:13] leeper commented on #699
@anhoej Sorry, just meant a [Github release](https://help.github.com/articles/creating-releases/). No need to submit to CRAN at this point.

[2018-05-10 09:14] anhoej commented on #699
OK, thanks!

2018-05-10 11:13 GMT+02:00 Thomas J. Leeper <notifications@github.com>:

--
Venlig hilsen
Jacob Anhøj

[2018-05-10 09:38] anhoej commented on #699
I'm new to this DOI thing. Is this correct?
https://github.com/anhoej/qicharts2

2018-05-10 11:14 GMT+02:00 Jacob Anhøj <jacob@anhoej.net>:

--
Venlig hilsen
Jacob Anhøj

[2018-05-10 10:01] leeper commented on #699
@whedon set 10.5281/zenodo.1244604 as archive

[2018-05-10 10:01] whedon commented on #699
OK. <a href="http://dx.doi.org/10.5281/zenodo.1244604" target="_blank">10.5281/zenodo.1244604</a> is the archive.

[2018-05-10 10:01] leeper commented on #699
@anhoej Yes. Perfect. Thanks! That's all we need.

@arfon Over to you.

[2018-05-10 10:03] leeper commented on #706
@arfon @mgymrek I can edit this one.

[2018-05-10 10:03] leeper commented on #706
@whedon assign @leeper as editor

[2018-05-10 10:03] whedon commented on #706
OK, the editor is @leeper

[2018-05-10 10:05] whedon commented on #706
OK, the reviewer is @tgerke

[2018-05-10 10:06] leeper commented on #706
@whedon start review magic-word=bananas

[2018-05-10 10:06] whedon opened #731 "[REVIEW]: qqman: an R package for visualizing GWAS results using Q-Q and manhattan plots"
**Submitting author:** @stephenturner (<a href="http://orcid.org/0000-0001-9140-9028">Stephen Turner</a>)
**Repository:** <a href="https://github.com/stephenturner/qqman/" target ="_blank">https://github.com/stephenturner/qqman/</a>
**Version:** v0.1.6
**Editor:** @leeper
**Reviewer:** @tgerke
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.591547" target="_blank">10.5281/zenodo.591547</a>

[2018-05-10 10:06] whedon commented on #706
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/731. Feel free to close this issue now!

[2018-05-10 10:06] whedon commented on #731
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @tgerke it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-05-10 10:06] whedon commented on #731
[code]

[2018-05-10 10:06] whedon commented on #731
PDF failed to compile for issue #731 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-05-10 10:06] #706 closed

[2018-05-10 10:07] leeper commented on #731
@tgerke I think you know how this works, but let me know if you have any questions along the way.

[2018-05-10 10:07] leeper commented on #731
@whedon generate pdf

[2018-05-10 10:07] whedon commented on #731
[code]

[2018-05-10 10:07] whedon commented on #731
PDF failed to compile for issue #731 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-05-10 10:13] leeper commented on #731
@stephenturner Two quick things:

1. I suspect the paper compilation issue is due to the jpeg image file. Can you convert to PNG perhaps?
2. Please add DOIs for all articles in your .bib file.

[2018-05-10 10:47] plooney commented on #600
@lassoan

[2018-05-10 11:36] louiseadennis commented on #617
I just noticed a typo in the title of the paper (an instead of and).  I've fixed in the repository.  Is there anyway this can be fixed online?

[2018-05-10 15:07] stephenturner commented on #731
@whedon generate pdf

[2018-05-10 15:07] whedon commented on #731
[code]

[2018-05-10 15:07] whedon commented on #731
PDF failed to compile for issue #731 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-05-10 15:09] stephenturner commented on #731
I think it's because the repository might be pointing to https://github.com/stephenturner/qqman/tree/master/misc/paper instead of to the top level https://github.com/stephenturner/qqman/ ? @leeper

[2018-05-10 15:11] stephenturner commented on #731
See #706 @arfon https://github.com/openjournals/joss-reviews/issues/706#issuecomment-384835018

[2018-05-10 15:11] stephenturner commented on #731
@leeper also, updated .bib with DOI.

[2018-05-10 21:00] ericfranz commented on #622
@arfon would it be sufficient to upload a zip or a tarball of the related rpms at https://yum.osc.edu/ondemand/1.3/ to figshare? (this is the latest release of OnDemand just released this week, which include suggested modifications). If not, what is your recommendation for how to package in a single tarball software that is spread across several repos and whose installation results in files being

[2018-05-11 02:52] mhucka commented on #596
@arfon and @jakevdp and @desilinguist  – Thanks!

I used Caltech's DataCite-based DOI service this time around. The DOI is now [10.22002/D1.935](http://dx.doi.org/10.22002/D1.935) and should be operational.

[2018-05-11 09:09] briatte commented on #697
@whedon – May I use this conversation to ask whether the [Google Sheets](https://bit.ly/joss-reviewers) you posted is the same as the one produced by filling in [this form](https://ropensci.org/onboarding/)? Can't remember what I filled in.

Happy to help on future reviews.

[2018-05-11 11:08] sdelandtsheer commented on #718
Hi, I have some minor remarks and a problem assessing the functionality:
- "scienfic" should be corrected in the paper and the .md
- if typical simulation times are 5-60 minutes and given bees' circadian rhythm is it correct to mention "days"?
- a number of scripts call a specific local path: _alternateParameterEstimation.m_, _Distr_RunNTumble.m_, _EstimateTransProb_Spatial.m_, _inSilicoExp.m_. Is

[2018-05-11 14:41] karthik commented on #697
@briatte No. Both forms look similar but they post to two different reviewer collections.

[2018-05-11 16:31] ashleefv commented on #718
Replying to the bullets in order

   - corrected in paper.md and README.md
   - In the experimental measurements, the bees are videotaped for 1 hour
   periods on different days. Additionally, when they are dosed with
   pesticides, the data is collected 24 hours after dosing for a one hour
   period. Thus, we deem it appropriate to mention days among in the short
   time scales.
   - The mentione

[2018-05-11 16:55] j-faria commented on #487
:wave: hi @nespinoza, a friendly reminder to take a look at this, please.

[2018-05-11 18:17] whedon opened #732 "[PRE REVIEW]: rsimsum: Summarise results from Monte Carlo simulation studies"
**Submitting author:** @ellessenne (<a href="http://orcid.org/0000-0002-8319-7624">Alessandro Gasparini</a>)
**Repository:** <a href="https://github.com/ellessenne/rsimsum/" target ="_blank">https://github.com/ellessenne/rsimsum/</a>
**Version:** 0.3.1
**Editor:** @leeper
**Reviewers:** @lebebr01

**Author instructions**

Thanks for submitting your paper to JOSS @ellessenne. The JOSS editor (shown

[2018-05-11 18:17] whedon commented on #732
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-11 18:17] whedon commented on #732
[code]

[2018-05-11 18:18] whedon commented on #732
PDF failed to compile for issue #732 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0     66      0 --:--:-- --:--:-- --:--:--    67
sh: 0: getcwd() fa

[2018-05-11 18:18] arfon commented on #732
:wave: @karthik - would you be willing to edit this submission for JOSS?

[2018-05-11 18:36] arfon commented on #596
@whedon set 10.22002/D1.935 as archive

[2018-05-11 18:36] whedon commented on #596
OK. <a href="http://dx.doi.org/10.22002/D1.935" target="_blank">10.22002/D1.935</a> is the archive.

[2018-05-11 18:58] arfon commented on #596
Thanks for your review @desilinguist and to @jakevdp for editing this one!

@mhucka - your paper is now accepted into JOSS and your DOI is http://joss.theoj.org/papers/10.21105/joss.00596

[2018-05-11 18:58] #596 closed

[2018-05-11 18:59] whedon commented on #596
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00596/status.svg)](https://doi.org/10.21105/joss.00596)

**We need your help!**

Journal of Open Source Software

[2018-05-12 13:54] briatte commented on #697
@karthik Alright, thanks.

[2018-05-12 21:58] NickleDave commented on #729
review in progress, would say "accept with minor revisions".
added issue about documenting API.
https://github.com/sepandhaghighi/pycm/issues/16

[2018-05-12 22:08] NickleDave commented on #729
added one other minor revision, asking for more specific example usages:
https://github.com/sepandhaghighi/pycm/issues/17

[2018-05-13 11:39] arfon commented on #617
I've just recompiled the paper so this should be fixed now.

[2018-05-13 16:33] danielskatz commented on #707
@stevenrbrandt - This is back to you

[2018-05-13 16:33] danielskatz commented on #711
@lkosmid - just a ping to see how the review is going

[2018-05-13 16:50] arokem commented on #729
Thanks @NickleDave !

@sepandhaghighi : please let me know here when you've had a chance to address these comments!

[2018-05-13 17:26] zedtaha commented on #623
Hi @JoFAM any new!?

[2018-05-13 20:15] sepandhaghighi commented on #729
Hi

@NickleDave Thanks again for review ;-)

@arokem I fixed first issue and working on second

[2018-05-13 20:42] cMadan commented on #600
Hi @thewetex and @lassoan, would either of you be available to review this submission?

[2018-05-13 21:15] thewtex commented on #600
I can help with a review, but it will be a few weeks before I can take it on.

[2018-05-13 22:28] NickleDave commented on #729
added two other issues, after those are closed, this should be ready to accept
https://github.com/sepandhaghighi/pycm/issues/19
https://github.com/sepandhaghighi/pycm/issues/18

[2018-05-14 00:54] whedon opened #733 "[PRE REVIEW]: NN-SVG: Publication-Ready Neural Network Architecture Schematics"
**Submitting author:** @zfrenchee (<a href="http://orcid.org/0000-0001-8173-2315">Alexander LeNail</a>)
**Repository:** <a href="https://github.com/zfrenchee/NN-SVG" target ="_blank">https://github.com/zfrenchee/NN-SVG</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewers:** @nilesh-patil, @terrytangyuan

**Author instructions**

Thanks for submitting your paper to JOSS @zfrenchee. The JOSS editor

[2018-05-14 00:54] whedon commented on #733
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-14 00:54] whedon commented on #733
[code]

[2018-05-14 00:54] whedon commented on #733
PDF failed to compile for issue #733 with the following error:

 Can't find any papers to compile :-(

[2018-05-14 00:56] arfon commented on #635
@CBenghi - I think we'd like to take you up on this offer if you're still willing?

@reefpicker - are there any other potential reviewers in the list above or people you'd recommend elsewhere on GitHub?

[2018-05-14 00:57] arfon commented on #693
@whedon list reviewers

[2018-05-14 00:57] whedon commented on #693
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-05-14 00:57] arfon commented on #693
@wandreopoulos - could you take a look at the list above ☝️and suggest some potential reviewers?

[2018-05-14 00:58] arfon commented on #694
@wrathematics & @nhejazi - would you be willing to review this submission for JOSS?

[2018-05-14 00:59] arfon commented on #704
@whedon generate pdf

[2018-05-14 00:59] whedon commented on #704
[code]

[2018-05-14 00:59] whedon commented on #704
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00704/joss.00704/10.21105.joss.00704.pdf)

[2018-05-14 01:01] arfon commented on #704
:wave: @kyleniemeyer - would you be willing to edit this submission for JOSS? I realize this is a little outside your domain but perhaps you could solicit an extra reviewer or two? :grin:

[2018-05-14 01:01] arfon commented on #705
@whedon list reviewers

[2018-05-14 01:01] whedon commented on #705
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-05-14 01:02] arfon commented on #705
@drew-williamson - could you take a look at the list of reviewers above and suggest a few potential candidates? ☝️

[2018-05-14 01:03] arfon commented on #714
:wave: @karthik - would you be willing to edit this submission for JOSS?

[2018-05-14 01:04] arfon commented on #716
@hjoliver - I'd like to get an extra reviewer for this submission. Could you take a look at this list and suggest some others? https://bit.ly/joss-reviewers

Also, if you know the GitHub handles of any other potential good reviewers feel free to mention them here.

[2018-05-14 01:06] arfon commented on #730
👋@vc1492a - it looks like you're missing references in this paper. Is there nothing you wish to cite?

[2018-05-14 01:10] arfon commented on #709
@whedon list reviewers

[2018-05-14 01:10] whedon commented on #709
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-05-14 01:10] drew-williamson commented on #705
Not sure if I should @ them directly, but perhaps fil, jmbr, nagoue, or krother?

[2018-05-14 01:10] arfon commented on #709
@Autoplectic - could you take a look at the list of reviewers above and suggest a few potential good candidates for reviewing this submission?

[2018-05-14 01:13] arfon commented on #705
@nagoue @jmbr - would you be willing to review this submission for JOSS?

[2018-05-14 01:34] vc1492a commented on #730
@arfon I was under the impression that references should be included in ```paper.bib```. The examples [linked from the JOSS website](https://github.com/arfon/fidgit/tree/master/paper) show references in ```paper.bib``` and not in ```paper.md```. Should I also add my references to ```paper.md```?

[2018-05-14 01:37] jmbr commented on #705
I’m willing.

[2018-05-14 06:56] bblankrot commented on #691
@arfon @Kevin-Mattheus-Moerman - anything else I need to do? The release with the incorporated changes is v0.0.3, archived at https://doi.org/10.5281/zenodo.1241368 .

[2018-05-14 06:57] Autoplectic commented on #709
@arfon khinsen, rougier, jmbr, kczimm, stsievert, vsoch would all probably be fine reviewers.

[2018-05-14 11:18] jarvist commented on #566
Hi everybody,
Hopefully https://github.com/jarvist/PolaronMobility.jl/issues/1 should be resolved with the latest round of commits culminating in https://github.com/jarvist/PolaronMobility.jl/commit/e4ac60d35d0b0e67efb748c5789b0245bfa897da.

Longer-term, there's definitely some refactoring + more documentation that would be good to write. However, I think that the package is usable in it's current

[2018-05-14 13:28] CBenghi commented on #635
@arfon there's been a bit of back an forth with @reefpicker on a
There was code missing in repository that prevented me from trying to convert/open in my development environment. This has been addressed a few days ago, but I've not been able to look into the updated version yet.
I should be able to determine in a couple of days.

[2018-05-14 14:13] Kevin-Mattheus-Moerman commented on #691
@bblankrot apologies for the delay. @arfon we are all good to accept here.

[2018-05-14 14:35] glemaitre commented on #651
I find the quick start on the landing page better than in the a separate page.

[2018-05-14 14:35] stevenrbrandt commented on #707
The current Dockerfile builds but does not run
[code]
That should be easy to fix.

[2018-05-14 14:44] zfrenchee commented on #733
Hello!

I added a paper.md and paper.bib file to the repo. Could you try again?

On Sun, May 13, 2018 at 8:54 PM whedon <notifications@github.com> wrote:

--
Alex Lenail
Tufts University '16

[2018-05-14 14:45] stevenrbrandt commented on #707
While the reference guide and examples seem reasonable, I would like to see a higher level introduction to how to use the software. I don't think a tutorial is required by JOSS, but it would be nice to have. This is the sort of thing I would need to check off the "Functionality documentation" check box.

[2018-05-14 15:11] lheagy commented on #566
Thanks @jarvist. @yxqd, could you please take a look at the changes when you have a chance?

[2018-05-14 15:33] DTChuck commented on #630
Just wanted to get an update on this. I have addressed all the recommendations that were mentioned above. Let me know if you need anything else from me.
@abhishekbajpayee

[2018-05-14 15:55] lfasnacht commented on #651
@clemaitre58 It was hard, but now it's done. It is indeed much better, thank you very much for the suggestion.

[2018-05-14 16:27] ericfranz commented on #622
@arfon see https://doi.org/10.6084/m9.figshare.6265514.v1

This tarball is also attached to the packaging repo https://github.com/OSC/ondemand/releases/tag/v1.3.6 and is all of the source for the core infrastructure and apps. The README.md in the tarball is markdown formatted and provides instructions for building from source, where to get help when stuck, and recommends using the RPM based instal

[2018-05-14 17:25] arfon commented on #730
@vc1492a - I think the issue is that you're not citing them directly (so they're not showing up in the compiled PDF). You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)

[2018-05-14 17:52] DTChuck commented on #630
I followed the citation information for hsdar as specified on their webpage [here](https://cran.r-project.org/web/packages/hsdar/citation.html). There was no DOI listed.

I followed the citation information for pybind11 as specified [here](https://github.com/pybind/pybind11/commit/e7d304fbc6f0aa22b6105e2b1a4807c7a294eafa). Again, no DOI listed.

The OpenCV citation information also did not contain

[2018-05-14 18:06] abhishekbajpayee commented on #630
@DTChuck last couple things:

1) Is it possible to use matplotlib instead of OpenCV for plotting in Python? If so, I would recommend using that in the example script. I just ran into some issues running the example script because of the `cv.imshow()` calls. In my experience, the OpenCV plotting backend provides very little extra functionality and often requires extra configuration.
2) Can you add

[2018-05-14 20:29] lkosmid commented on #711
@danielskatz - review it's under way, prepared a clean environment to test the software

[2018-05-14 22:26] kwwette commented on #707
@stevenrbrandt : Re. Dockerfile - thanks for spotting that, this should be fixed in the repository shortly.

Re. examples - I'll have a look at adding some more explanatory text to at least some of the examples, e.g. the ones that are gravitational-wave research focused, like the ones you referenced. I'm not sure I'll be able to do this for all the functions in OctApps though.

Re. the tutorial -

[2018-05-15 00:13] arfon commented on #705
@fil - would you be willing to review this submission for JOSS? Ideally I'd like to have two reviewers for this submission (@jmbr has already kindly volunteered)

[2018-05-15 00:14] arfon commented on #709
@kczimm, @stsievert - would you be willing to review this submission for JOSS?

[2018-05-15 00:15] arfon commented on #635
OK thanks @CBenghi - please let me know here if you think you're able to review this.

[2018-05-15 00:15] arfon commented on #691
@whedon set 10.5281/zenodo.1241368 as archive

[2018-05-15 00:15] whedon commented on #691
OK. <a href="http://dx.doi.org/10.5281/zenodo.1241368" target="_blank">10.5281/zenodo.1241368</a> is the archive.

[2018-05-15 00:28] arfon commented on #622
@marpierc, @smgallo many thanks for your reviews here and to @danielskatz for editing this submission ✨

@ericfranz - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00622 :zap: 🚀:boom:

[2018-05-15 00:28] #622 closed

[2018-05-15 00:28] whedon commented on #622
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00622/status.svg)](https://doi.org/10.21105/joss.00622)

**We need your help!**

Journal of Open Source Software

[2018-05-15 00:29] arfon commented on #630
Yes, that's fine. We only ask for a DOI if there is one available. Thanks for checking!

[2018-05-15 00:43] whedon opened #734 "[PRE REVIEW]: SpeechPy - Speech Processing and Recognition"
**Submitting author:** @astorfi (<a href="http://orcid.org/0000-0003-2282-4361">Amirsina Torfi</a>)
**Repository:** <a href="https://github.com/astorfi/speechpy" target ="_blank">https://github.com/astorfi/speechpy</a>
**Version:** 2.3
**Editor:** @arfon
**Reviewers:** @ThomasA, @jjatria

**Author instructions**

Thanks for submitting your paper to JOSS @astorfi. The JOSS editor (shown at the top

[2018-05-15 00:43] whedon commented on #734
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-15 00:43] whedon commented on #734
[code]

[2018-05-15 00:43] whedon commented on #734
PDF failed to compile for issue #734 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: affiliations, date, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bund

[2018-05-15 00:43] arfon commented on #734
@whedon list reviewers

[2018-05-15 00:43] whedon commented on #734
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-05-15 00:44] arfon commented on #734
👋@astorfi - please take a look at the submission guidelines and format your paper _exactly_ as outlined here: http://joss.theoj.org/about#paper_structure

[2018-05-15 00:55] tracykteal commented on #733
Thanks @zfrenchee. I don't see the paper.md and paper.bib in the repo. Could you check to make sure they got in to https://github.com/zfrenchee/NN-SVG? Those will also help the editors understand more about the scope and purpose of the tool.

[2018-05-15 01:05] kwwette commented on #707
Dockerfile fixed in https://github.com/octapps/octapps/commit/57df565b0119d1312b56f370337aab7ebcbbc65b

[2018-05-15 01:15] stsievert commented on #709
I'd be happy to! I've got a deadline on Friday, but I should be free after.

[2018-05-15 01:59] vc1492a commented on #730
@afron thanks for the helpful link. I've updated my citations in ```paper.md```, let me know if it looks good to you.

[2018-05-15 02:40] zfrenchee commented on #733
Hi Tracy,

Sorry, I'm a moron, and forgot to push. Check again?

I've mostly been modeling this off another repo called BioPandas
<https://github.com/rasbt/biopandas> (which is where I heard about JOSS),
so I'm modeling my submission off that repo. I'm new to JOSS, so let me
know if there are other boxes I should be checking!

Thanks,

--Alex

On Mon, May 14, 2018 at 8:55 PM Tracy Teal <notificati

[2018-05-15 07:12] Fil commented on #705
yes — will remind me of my research 25 yrs ago that was on this topic :)

[2018-05-15 08:38] dbkeitel commented on #707
@kwwette @ReinhardPrix : Sensitivity depth estimation would be a nice case for a tutorial, as it could be useful for a wider user group at least within Continuous Waves.

Though I guess with "a higher level introduction to how to use the software" @stevenrbrandt might have rather meant things like links to general octave documentation/tutorials, a description of often-used data structures within o

[2018-05-15 10:11] whedon commented on #730
[code]

[2018-05-15 10:11] whedon commented on #730
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00730/joss.00730/10.21105.joss.00730.pdf)

[2018-05-15 10:12] arfon commented on #730
@whedon list reviewers

[2018-05-15 10:12] whedon commented on #730
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-05-15 10:12] CBenghi commented on #635
@arfon,
more files missing from the initial repository.

I doubt you'll find something else using vb6 in the editor's list. It's a 15 years old technology now discontinued by Microsoft.  My plan is to try and get the code to working in a current development environment before review.

I'll keep working @reefpicker and keep you informed if/when we manage.

[2018-05-15 10:13] arfon commented on #730
@vc1492a - could you take a look at the list of potential reviewers above and suggest a few that might be appropriate for your submission? ☝️

[2018-05-15 10:13] arfon commented on #705
@whedon assign @arfon as editor

[2018-05-15 10:14] whedon commented on #705
OK, the editor is @arfon

[2018-05-15 10:14] arfon commented on #705
@whedon add @fil as reviewer

[2018-05-15 10:14] whedon commented on #705
OK, @fil is now a reviewer

[2018-05-15 10:14] arfon commented on #705
@whedon add @jmbr as reviewer

[2018-05-15 10:14] whedon commented on #705
OK, @jmbr is now a reviewer

[2018-05-15 10:14] arfon commented on #705
@whedon start review magic-word=bananas

[2018-05-15 10:14] #705 closed

[2018-05-15 10:14] whedon opened #735 "[REVIEW]: egtplot: A Python Package for Three-Strategy Evolutionary Games"
**Submitting author:** @drew-williamson (<a href="http://orcid.org/0000-0003-1745-8846">Drew Williamson</a>)
**Repository:** <a href="https://github.com/mirzaevinom/egtplot" target ="_blank">https://github.com/mirzaevinom/egtplot</a>
**Version:** v0.5
**Editor:** @arfon
**Reviewer:** @fil, @jmbr
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1291455" target="_blank">10.5281/zenodo.1291455<

[2018-05-15 10:14] whedon commented on #705
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/735. Feel free to close this issue now!

[2018-05-15 10:14] whedon commented on #735
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @fil, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently w

[2018-05-15 10:14] whedon commented on #735
[code]

[2018-05-15 10:15] arfon commented on #705
@Fil, @jmbr, @drew-williamson - see you over in #735 for the actual review.

[2018-05-15 10:15] whedon commented on #735
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00735/joss.00735/10.21105.joss.00735.pdf)

[2018-05-15 10:22] whedon opened #736 "[PRE REVIEW]: The Vascular Modeling Toolkit: A Python Library for the Analysis of Tubular Structures in Medical Images"
**Submitting author:** @rlizzo (<a href="http://orcid.org/0000-0002-0811-6513">Richard Izzo</a>)
**Repository:** <a href="https://github.com/vmtk/vmtk" target ="_blank">https://github.com/vmtk/vmtk</a>
**Version:** v1.4.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @wouterpotters, @brainstorm

**Author instructions**

Thanks for submitting your paper to JOSS @rlizzo. The JOSS editor (shown

[2018-05-15 10:28] leeper commented on #623
Hi @JoFAM, just a quick nudge.

[2018-05-15 10:32] hjoliver commented on #716
@arfon - from the list I could suggest @sarats and @Chilipp, who seem to be involved in Earth System Modeling, one of Cylc's primary use cases currently.

If they don't work out I can try to find others, but unfortunately most of my immediate contacts in the subject area are already Cylc users or developers (which is presumably not OK?)

[2018-05-15 10:54] Chilipp commented on #716
@arfon and @hjoliver - Looks interesting, I would be willing to review it

[2018-05-15 11:57] louiseadennis commented on #617
Thanks!

[2018-05-15 12:42] sepandhaghighi commented on #729
@NickleDave @arokem
Thank you for your time
The issues have been fixed. ;-)

[2018-05-15 12:43] sepandhaghighi commented on #729
@whedon generate pdf

[2018-05-15 12:43] whedon commented on #729
[code]

[2018-05-15 12:43] whedon commented on #729
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00729/joss.00729/10.21105.joss.00729.pdf)

[2018-05-15 12:47] sepandhaghighi commented on #729
@whedon generate pdf

[2018-05-15 12:47] whedon commented on #729
[code]

[2018-05-15 12:47] whedon commented on #729
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00729/joss.00729/10.21105.joss.00729.pdf)

[2018-05-15 12:53] sepandhaghighi commented on #729
@whedon generate pdf

[2018-05-15 12:53] whedon commented on #729
[code]

[2018-05-15 12:53] whedon commented on #729
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00729/joss.00729/10.21105.joss.00729.pdf)

[2018-05-15 13:17] NickleDave commented on #729
added two other issues, after those are closed, this should be ready to accept
https://github.com/sepandhaghighi/pycm/issues/19
https://github.com/sepandhaghighi/pycm/issues/18

[2018-05-15 13:18] NickleDave commented on #729
@sepandhaghighi thank you!
@arokem LGTM

[2018-05-15 14:14] DTChuck commented on #630
@abhishekbajpayee
1) I suppose you could use matplotlib for the plotting instead of OpenCV, but the images are stored in OpenCV format and are intended to be used in OpenCV functions. If the imshow() function isn't working, that indicates something has gone wrong in your environment or installation, and other OpenCV functions may also not work properly. It is fairly typical of examples leveraging

[2018-05-15 14:45] whedon commented on #729
[code]

[2018-05-15 14:45] whedon commented on #729
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00729/joss.00729/10.21105.joss.00729.pdf)

[2018-05-15 15:37] Kevin-Mattheus-Moerman commented on #736
@wouterpotters are you interested in reviewing this for [JOSS](http://joss.theoj.org/about)?

[2018-05-15 16:08] abhishekbajpayee commented on #630
@arfon any word on the references issue?

[2018-05-15 17:49] stsievert commented on #709
Here's a good list of some reviewer guidelines: http://joss.theoj.org/about#reviewer_guidelines

[2018-05-15 19:03] abhishekbajpayee commented on #630
@arfon @DTChuck all done!

[2018-05-15 20:06] vc1492a commented on #730
@arfon I took a look at the list of potential reviewers. Here are my suggestions:

- jkahn
- desilinguist
- krother

[2018-05-16 00:08] arfon commented on #716
@whedon assign @arfon as editor

[2018-05-16 00:08] whedon commented on #716
OK, the editor is @arfon

[2018-05-16 00:08] arfon commented on #716
@whedon add @sarats as reviewer

[2018-05-16 00:08] whedon commented on #716
OK, @sarats is now a reviewer

[2018-05-16 00:08] arfon commented on #716
@whedon add @Chilipp as reviewer

[2018-05-16 00:08] whedon commented on #716
OK, @Chilipp is now a reviewer

[2018-05-16 00:08] arfon commented on #716
@whedon start review magic-word=bananas

[2018-05-16 00:08] #716 closed

[2018-05-16 00:09] whedon opened #737 "[REVIEW]: Cylc: a Workflow Engine for Automating Cycling Systems"
**Submitting author:** @hjoliver (<a href="http://orcid.org/0000-0002-5715-5279">Hilary Oliver</a>)
**Repository:** <a href="https://github.com/cylc/cylc" target ="_blank">https://github.com/cylc/cylc</a>
**Version:** cylc-7.7.0
**Editor:** @arfon
**Reviewer:** @sarats, @Chilipp
**Archive:** <a href="https://doi.org/10.5281/zenodo.1251084" target="_blank">10.5281/zenodo.1251084</a>

## Status

[![

[2018-05-16 00:09] whedon commented on #716
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/737. Feel free to close this issue now!

[2018-05-16 00:09] whedon commented on #737
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @sarats, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-05-16 00:09] whedon commented on #737
[code]

[2018-05-16 00:09] arfon commented on #716
@sarats, @Chilipp - many thanks for agreeing to help out! Please head over to #737 to carry out the review.

[2018-05-16 00:09] whedon commented on #737
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00737/joss.00737/10.21105.joss.00737.pdf)

[2018-05-16 00:12] arfon commented on #709
@whedon assign @arfon as editor

[2018-05-16 00:12] whedon commented on #709
OK, the editor is @arfon

[2018-05-16 00:12] arfon commented on #709
@whedon add @kczimm as reviewer

[2018-05-16 00:12] whedon commented on #709
OK, @kczimm is now a reviewer

[2018-05-16 00:13] arfon commented on #709
@whedon add @stsievert as reviewer

[2018-05-16 00:13] whedon commented on #709
OK, @stsievert is now a reviewer

[2018-05-16 00:13] arfon commented on #709
@kczimm, @stsievert - many thanks for agreeing to review this. I'll go ahead and set up the main review issue next.

[2018-05-16 00:13] arfon commented on #709
@whedon start review magic-word=bananas

[2018-05-16 00:13] #709 closed

[2018-05-16 00:13] whedon commented on #709
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/738. Feel free to close this issue now!

[2018-05-16 00:13] whedon opened #738 "[REVIEW]: dit: a Python package for discrete information theory"
**Submitting author:** @Autoplectic (<a href="http://orcid.org/0000-0003-2149-9085">Ryan G. James</a>)
**Repository:** <a href="https://github.com/dit/dit" target ="_blank">https://github.com/dit/dit</a>
**Version:** v1.2.0
**Editor:** @arfon
**Reviewer:** @kczimm, @stsievert
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1255350" target="_blank">10.5281/zenodo.1255350</a>

## Status

[![s

[2018-05-16 00:13] whedon commented on #738
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kczimm, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-05-16 00:13] whedon commented on #738
[code]

[2018-05-16 00:14] arfon commented on #709
@kczimm, @stsievert, @Autoplectic - please head over to #738 for the actual review.

[2018-05-16 00:14] whedon commented on #738
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00738/joss.00738/10.21105.joss.00738.pdf)

[2018-05-16 00:17] hjoliver commented on #716
@sarats, @Chilipp - many thanks from me too.

[2018-05-16 01:29] Kevin-Mattheus-Moerman commented on #736
@whedon assign @wouterpotters as reviewer

[2018-05-16 01:29] whedon commented on #736
OK, the reviewer is @wouterpotters

[2018-05-16 01:31] Kevin-Mattheus-Moerman commented on #736
Thanks @wouterpotters I'll leave this pre-review issue open for a bit longer (before initiating the review process) to try to attract some more reviewers.

[2018-05-16 01:31] Kevin-Mattheus-Moerman commented on #736
@rlizzo if you have any suitable reviewers in mind, please let me know.

[2018-05-16 01:45] Kevin-Mattheus-Moerman commented on #736
It seems like this could be interesting to the simvascular folks. @osmsc @sshadden @jmerkow @alexkaiser @updega2 @gmaher @fkong7 are you interested in reviewing this [Journal of Open Source Software](http://joss.theoj.org/about) submission?
The review process is focused largely on the software and a short paper, see the [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines).

[-->

[2018-05-16 01:55] jmbr commented on #735
Accept with minor revisions: https://github.com/mirzaevinom/egtplot/issues/1

[2018-05-16 02:00] drew-williamson commented on #735
Thanks so much for taking the time to review egtplot! This is our first Python package so it's a bit rough around the edges. We'll make the revisions right away.

[2018-05-16 03:00] sarats commented on #737
@hjoliver Sure, let us know when it is ready for review.

[2018-05-16 05:40] andrewheiss commented on #727
**RcmdrPlugin.OptimClassifier** is a helpful new package that provides a menu-based interface for newer machine learning classification models. It was easy to install and use, and I only came across a few issues, noted below.

The paper has a good, succinct justification for why this library is needed, but the README doesn't. It might be helpful to include some of that justification there (noting

[2018-05-16 05:54] andrewheiss commented on #48
Has there been any progress on this? Do e-mails get sent out after reviews are completed, or does Publons accept GitHub issues as proof?

Thanks!

[2018-05-16 10:11] leeper commented on #732
@whedon assign @leeper as @editor

[2018-05-16 10:13] leeper commented on #732
@whedon assign @leeper as editor

[2018-05-16 10:13] whedon commented on #732
OK, the editor is @leeper

[2018-05-16 10:13] leeper commented on #732
@lebebr01 Would you be interested in reviewing this for JOSS?

[2018-05-16 14:37] rcurtin commented on #726
@whedon generate pdf

[2018-05-16 14:37] whedon commented on #726
[code]

[2018-05-16 14:38] whedon commented on #726
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00726/joss.00726/10.21105.joss.00726.pdf)

[2018-05-16 14:39] rcurtin commented on #726
I've redone the paper PDF to have an explicit "None" affiliation for unaffiliated authors, but if openjournals/whedon#23 is merged I will update the paper.

[2018-05-16 15:00] kdpeterson51 commented on #725
Hi @leeper. Thank you very much for your assistance.

1. The copyright was obtained by written permission to use those cited MS Excel spreadsheets.

2. Original NAMESPACE file has been deleted and replaced with `devtools` version.

3. Vignette folder is now up-to-date within `/mbir` folder.

4. We do not have any suggested reviewers at this time.

[2018-05-16 16:25] lebebr01 commented on #732
@leeper I'm happy to help.

[2018-05-16 16:36] astorfi commented on #734
@arfon @whedon I made some modifications. Please check to see if the problem is resolved. However, the [paper.md](https://github.com/astorfi/speechpy/blob/master/paper/paper.md) file is same as before. I do not know what is the issue and what should be changed because to my view it is exactly as outlined.

[2018-05-16 17:08] leeper commented on #732
@whedon assign @lebebr01 as reviewer

[2018-05-16 17:08] whedon commented on #732
OK, the reviewer is @lebebr01

[2018-05-16 18:26] whedon opened #739 "[REVIEW]: rsimsum: Summarise results from Monte Carlo simulation studies"
**Submitting author:** @ellessenne (<a href="http://orcid.org/0000-0002-8319-7624">Alessandro Gasparini</a>)
**Repository:** <a href="https://github.com/ellessenne/rsimsum/" target ="_blank">https://github.com/ellessenne/rsimsum/</a>
**Version:** 0.3.1
**Editor:** @leeper
**Reviewer:** @lebebr01
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1293527" target="_blank">10.5281/zenodo.1293527<

[2018-05-16 18:26] whedon commented on #739
[code]

[2018-05-16 18:26] whedon commented on #739
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00739/joss.00739/10.21105.joss.00739.pdf)

[2018-05-16 18:28] leeper commented on #732
@lebebr01 Great. Thank you! The review issue and instructions are open at: https://github.com/openjournals/joss-reviews/issues/739 Please follow the checklist and let me know (on that thread) if you have any questions.

[2018-05-16 18:28] #732 closed

[2018-05-16 19:25] whedon opened #740 "[PRE REVIEW]: PyUnfold: A Python Package for Iterative Unfolding"
**Submitting author:** @zhampel (<a href="http://orcid.org/0000-0003-0253-9117">Zigfried Hampel-arias</a>)
**Repository:** <a href="https://github.com/jrbourbeau/pyunfold" target ="_blank">https://github.com/jrbourbeau/pyunfold</a>
**Version:** v0.3
**Editor:** @lheagy
**Reviewers:** @juliohm, @benjaminrose

**Author instructions**

Thanks for submitting your paper to JOSS @zhampel. The JOSS edito

[2018-05-16 19:25] whedon commented on #740
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-05-16 19:25] whedon commented on #740
[code]

[2018-05-16 19:26] whedon commented on #740
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00740/joss.00740/10.21105.joss.00740.pdf)

[2018-05-16 19:26] arfon commented on #740
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-05-17 00:15] lheagy commented on #740
Thanks @arfon, I am happy to take this

[2018-05-17 00:44] arfon commented on #740
Thanks!

[2018-05-17 00:46] arfon commented on #734
Hi @astorfi.

Please compare this (yours):

[code]
with this (the documented example):

[code]

[2018-05-17 01:39] lheagy commented on #740
Hi @zhampel, thanks for your submission! Do you have any recommendations for reviewers? Ideally, we find 2.

[2018-05-17 02:51] jrbourbeau commented on #740
Perhaps @rowanc1 is interested in being a reviewer?

[2018-05-17 03:05] rowanc1 commented on #740
Thanks for the suggestion, cursory glance through things looks cool. :) Unfortunately, I won't be able to realistically look at this until late July. You might be able to find someone else, or I can aim for that time frame. Let me know!

[2018-05-17 08:37] zhampel commented on #740
Perhaps @juliohm or @benjaminrose are interested/available as reviewers?

[2018-05-17 08:46] leeper commented on #699
@arfon Just a ping that this one's ready to go.

[2018-05-17 10:19] arfon commented on #699
Many thanks for your review @Rmadillo and to @leeper for editing this submission :sparkles:

@anhoej - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00699 :zap: :rocket: :boom:

[2018-05-17 10:19] #699 closed

[2018-05-17 10:19] whedon commented on #699
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00699/status.svg)](https://doi.org/10.21105/joss.00699)

**We need your help!**

Journal of Open Source Software

[2018-05-17 14:07] tgerke commented on #731
Review complete, all boxes checked. Great package; my lab has already used it multiple times in the past year with success.

Very minor comments (that I don't think should hold back acceptance in JOSS):
-- vignette on CRAN showing zscore as part of gwasResults object before the variable is created later in the vignette.
-- this could be related to CRAN still hosting v0.1.4. The GitHub version does

[2018-05-17 15:11] kdpeterson51 commented on #725
Your suggestions are appreciated, @leeper. The [COPYRIGHT](https://github.com/kdpeterson51/mbir/blob/master/mbir/inst/COPYRIGHT) file has been updated to improve the language.

[2018-05-17 15:18] ajjackson commented on #696
Perhaps @shyamd would be interested? He has provided some very useful feedback on another Vasp-related package of ours.

@askhl when reviewers are set there is another Issue page with checklists for reviewers to use. The reviewer guidelines are located [here](https://joss.theoj.org/about#reviewer_guidelines) (< 1000 words).

@mikapfl the package does come with some sample data, but of course it wo

[2018-05-17 16:32] jrbourbeau commented on #740
@betatim also seems like a good potential reviewer. Are you interested/available to review?

[2018-05-17 17:48] stephenturner commented on #731
Thanks for the feedback, @tgerke.

I've never noticed that the vignette on CRAN shows the z-score before the object is created. I'm not sure how that even happened, unless I somehow had the object in my environment when I created the vignette without using devtools. In any case, I've ensured the vignette in 0.1.6 does not do this. I just submitted 0.1.6 to winbuilder. If that comes back okay, and

[2018-05-17 17:52] stephenturner commented on #731
@whedon generate pdf

[2018-05-17 17:52] whedon commented on #731
[code]

[2018-05-17 17:52] whedon commented on #731
PDF failed to compile for issue #731 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-05-17 17:54] stephenturner commented on #731
@whedon commands

[2018-05-17 17:54] whedon commented on #731
Here are some things you can ask me to do:

[code]

[2018-05-17 17:55] stephenturner commented on #731
Looks like it's still failing to generate the PDF because the repo points to https://github.com/stephenturner/qqman/tree/master/misc/paper instead of the top level https://github.com/stephenturner/qqman

[2018-05-17 18:49] lebebr01 commented on #668
First, a belated thank you to @jeroen for your review.

Secondly, thank you to @lmullen for your review. I have made the suggested edits related to the code and vignette issues identified above.

I also have expanded on the significance and usage of the package in research settings in the JOSS paper and README. My thoughts are that this package would be of primary interest to those doing research

[2018-05-17 20:14] arfon commented on #733
@whedon generate pdf

[2018-05-17 20:14] whedon commented on #733
[code]

[2018-05-17 20:14] whedon commented on #733
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00733/joss.00733/10.21105.joss.00733.pdf)

[2018-05-17 20:16] arfon commented on #733
@whedon list reviewers

[2018-05-17 20:16] whedon commented on #733
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-05-17 20:19] arfon commented on #733
Hi @zfrenchee - thanks for adding the paper. I had a quick review and it's a little light on detail, statement of need, links to existing research outputs using the tool etc. Could you take another look at the recommended paper structure (http://joss.theoj.org/about#paper_structure) and make some additions.

In addition, could you please take a look at the list of volunteer reviewers above and sug

[2018-05-17 20:25] arfon commented on #734
Thanks @astorfi. Could you take a look at this list of reviewers and suggest a few people who could potentially review this submission? https://bit.ly/joss-reviewers

[2018-05-17 20:26] arfon commented on #731
@whedon generate pdf

[2018-05-17 20:26] whedon commented on #731
[code]

[2018-05-17 20:27] whedon commented on #731
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00731/joss.00731/10.21105.joss.00731.pdf)

[2018-05-17 20:31] astorfi commented on #734
I think the following users can be potential reviewers considering the scientific and/or software background: @jjatria @ThomasA @kczimm @josephhardinee @krischer.

[2018-05-17 21:48] zfrenchee commented on #733
Hello Arfon,

I've added a statement of need at the top, and just a little extra detail
in the middle.

I submitted this project because someone asked to cite it and I didn't have
something to point them towards, so I suspect there will be research output
using this project in the future, but there is none as of yet. I anticipate
using it for my own purposes in the future as well.

Some potential

[2018-05-17 23:34] cMadan commented on #600
@thewtex, we don't have anyone else right now, so that's fine with me. Let me know when I should nudge you about the review and start the process.

[2018-05-17 23:34] cMadan commented on #600
@whedon assign @thewtex as reviewer

[2018-05-17 23:34] whedon commented on #600
OK, the reviewer is @thewtex

[2018-05-17 23:57] ryneches commented on #678
What's next?

[2018-05-18 08:18] zhampel commented on #740
@juliohm Yeah I think that time frame seems OK. @jrbourbeau that's good for you as well yes? @lheagy, should we still search for another reviewer or is this good to get started?

[2018-05-18 10:26] leeper commented on #731
@stephenturner Thanks for your package. Everything looks good. Can you please create a DOI for the package using, for example, figshare or zenodo and post the DOI for the archive here?

[2018-05-18 13:12] jrbourbeau commented on #740
The time frame laid out by @juliohm is totally fine with me. Thank you @lheagy and @juliohm for agreeing to be reviewers!

[2018-05-18 13:27] arfon commented on #734
@jjatria @josephhardinee would you be willing to review this submission for JOSS?

[2018-05-18 13:28] arfon commented on #733
@whedon generate pdf

[2018-05-18 13:28] whedon commented on #733
[code]

[2018-05-18 13:28] whedon commented on #733
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00733/joss.00733/10.21105.joss.00733.pdf)

[2018-05-18 13:41] stephenturner commented on #731
done https://doi.org/10.5281/zenodo.591547

[2018-05-18 14:06] leeper commented on #731
@whedon set 10.5281/zenodo.591547 as archive

[2018-05-18 14:06] whedon commented on #731
OK. <a href="http://dx.doi.org/10.5281/zenodo.591547" target="_blank">10.5281/zenodo.591547</a> is the archive.

[2018-05-18 14:07] leeper commented on #731
@stephenturner Great. That's it then - congrats on a quick review and acceptance!

[2018-05-18 14:07] leeper commented on #731
@arfon Over to you.

[2018-05-18 14:08] leeper commented on #722
@benmarwick I can see you've made some progress on this review. Can you open issues over at [the source repo](https://github.com/mrecos/klrfome/issues) for any issues you'd like to see addressed? Thanks!

[2018-05-18 14:12] leeper commented on #725
@kellieotto Would you be interested in reviewing this software for JOSS?

[2018-05-18 14:33] shyamd commented on #696
@ajjackson  I would interested , but depending on the desired timeline might not be able to. My next 3 weeks are 120% booked.

[2018-05-18 14:34] arfon commented on #733
@terrytangyuan @kellieotto - would you be willing to review this submission for JOSS?

[2018-05-18 14:38] Fil commented on #735
So far I haven't been able to install and run the demo notebook. I have struggled with incompatibilities between versions of macos, conda, geopandas, tornado, jupyter etc. (I wanted to try it in an virtual environment.)

I keep hitting those errors:
https://github.com/jupyter/notebook/issues/3407
https://github.com/geopandas/geopandas/issues/556

I might try later but not sure I'll find time.

[2018-05-18 14:43] terrytangyuan commented on #733
Yes, I am happy to do a review.

[2018-05-18 14:45] arfon commented on #678
I think we're waiting for @giraola to finish their review?

[2018-05-18 14:51] giraola commented on #678
Hi @arfon @ryneches, sorry for the delay, I will complete it within the following two of days...

[2018-05-18 15:03] benjaminrose commented on #740
Thank you @zhampel for considering me. I am also able to review this submission. I too am busy this through early next week, but I can review it on a similar time scale as @juliohm.

[2018-05-18 15:06] giraola commented on #678
@ryneches please add installation guidelines and list SuchTree dependencies in the readme file.

[2018-05-18 15:07] DTChuck commented on #630
@abhishekbajpayee
Thanks for all your help on this. I will look into using matplotlib as the base for the example script. I appreciate the work you have done on this review.

@arfon What do I need to do to get this from "under review" to "complete"? Let me know if you need anything from me.

[2018-05-18 15:41] lheagy commented on #740
Thanks @juliohm and @benjaminrose for agreeing to review!

[2018-05-18 15:41] lheagy commented on #740
@whedon commands

[2018-05-18 15:41] whedon commented on #740
Here are some things you can ask me to do:

[code]

[2018-05-18 15:42] lheagy commented on #740
@whedon assign @juliohm as reviewer

[2018-05-18 15:42] whedon commented on #740
OK, the reviewer is @juliohm

[2018-05-18 15:42] lheagy commented on #740
@whedon add @benjaminrose as reviewer

[2018-05-18 15:42] whedon commented on #740
OK, @benjaminrose is now a reviewer

[2018-05-18 15:43] lheagy commented on #740
@whedon start review

[2018-05-18 15:43] whedon commented on #740
You didn't say the magic word! Try this:

[code]

[2018-05-18 15:43] lheagy commented on #740
@whedon start review magic-word=bananas

[2018-05-18 15:43] whedon opened #741 "[REVIEW]: PyUnfold: A Python Package for Iterative Unfolding"
**Submitting author:** @zhampel (<a href="http://orcid.org/0000-0003-0253-9117">Zigfried Hampel-arias</a>)
**Repository:** <a href="https://github.com/jrbourbeau/pyunfold" target ="_blank">https://github.com/jrbourbeau/pyunfold</a>
**Version:** v0.4
**Editor:** @lheagy
**Reviewer:** @juliohm, @benjaminrose
**Archive:** <a href="https://doi.org/10.5281/zenodo.1258211">10.5281/zenodo.1258211</a>

##

[2018-05-18 15:43] whedon commented on #741
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @juliohm, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-05-18 15:43] whedon commented on #741
[code]

[2018-05-18 15:43] #740 closed

[2018-05-18 15:43] whedon commented on #741
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00741/joss.00741/10.21105.joss.00741.pdf)

[2018-05-18 15:44] lheagy commented on #741
Many thanks @juliohm and @benjaminrose for being willing to review! In the main issue thread, there is a checklist for each of you as you go through the review. Please let me know if you have any questions or if there is anything I can assist with!

[2018-05-18 15:48] lheagy commented on #566
👋 Hi @yxqd, @jarvist went through and worked on addressing jarvist/PolaronMobility.jl#1. When you have a chance, could you please take a look? Thanks!

[2018-05-18 16:15] kczimm commented on #738
@afron I am still testing the functionality of this software package. In the meantime, I've a few questions. I'm not familiar with DOI or how to answer the following question: "Do all archival references that should have a DOI list one (e.g., papers, datasets, software)?" I didn't see anything in the reviewer guidelines that could help my understanding of this question. Also, my minor feedback for

[2018-05-18 17:08] stsievert commented on #738
@Autoplectic I'm guessing @chebee7i is Christopher J. Ellison and James P. Crutchfield is your advisor. Is that correct?

[2018-05-18 18:50] benmarwick commented on #722
Righto, thanks for the tip, I've opened a few relevant issues now.

[2018-05-18 19:14] wouterpotters commented on #736
@Kevin-Mattheus-Moerman As this is my first review for JOSS, I have two questions that might be relevant already for the pre-review process:
1. I noticed some of the authors already published [this paper](https://www.ncbi.nlm.nih.gov/pubmed/19002516). This 2008 paper essentially describes all the main features, the structure and the goals of the current toolbox, the open source toolbox is also men

[2018-05-18 19:37] yxqd commented on #566
@lheagy thanks for the reminder. Just left my comments at  jarvist/PolaronMobility.jl#1. Please review

[2018-05-18 20:57] jjatria commented on #734
@arfon It seems like @josephhardinee might be more proficient than I am on Python, but I'll be happy to take a look. Does the review process normally involve a single reviewer?

I know another researcher who might be the ideal person to review this, but I'm not sure if they are available / interested...

[2018-05-19 12:14] arfon commented on #730
@whedon generate pdf

[2018-05-19 12:14] whedon commented on #730
[code]

[2018-05-19 12:14] whedon commented on #730
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00730/joss.00730/10.21105.joss.00730.pdf)

[2018-05-19 12:16] arfon commented on #730
@mlgill @sssomani - would you be willing to review this submission for JOSS?

[2018-05-19 14:00] mlgill commented on #730
@arfon sorry, I don’t have much experience with this topic.

[2018-05-19 15:05] arfon commented on #731
@tgerke - many thanks for your review here and to @leeper for editing this submission :sparkles:

@stephenturner - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00731 :zap: :rocket: :boom:

[2018-05-19 15:05] #731 closed

[2018-05-19 15:05] whedon commented on #731
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00731/status.svg)](https://doi.org/10.21105/joss.00731)

**We need your help!**

Journal of Open Source Software

[2018-05-19 16:26] rlizzo commented on #736
Thanks for the feedback @wouterpotters,

**In reference to point 1:**

- While the core functionality of the library (outlined in the 2008 paper mentioned) is largely intact, there have been major improvements to functionality, performance, and user-interface. From the [v0.9 version](https://github.com/vmtk/vmtk/tree/v0.9.0) (released in 2010), the improvements have been largely documented on the

[2018-05-19 16:32] rlizzo commented on #736
While I don't have any strong feelings on other potential reviewers, I might suggest @arokem or @brainstorm. Thank you!

[2018-05-19 18:55] nhejazi commented on #694
@arfon Happy to help if needed.

[2018-05-19 19:02] nhejazi commented on #161
@karthik Just checking in — would it make more sense for us to open a new submission issue for this package given the significant changes to it? (Re-naming, Bioconductor acceptance.) If not, please let us know whether you might need anything further from us in order to proceed with the review. Thanks for your help with this.

[2018-05-19 21:54] arfon commented on #735
Thanks for your efforts thus far. Is this something @drew-williamson could help with by being more specific about the version for the required environment?

[2018-05-19 22:19] arfon commented on #630
@DTChuck - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-05-19 23:48] brainstorm commented on #736
Happy to review this! ;)

[2018-05-20 01:07] arfon commented on #734
Sure thing. If you're comfortable, please mention them here (with their GitHub handle).

Ideally we have more than one reviewer, especially when the topic area is outside of the editor's specialism.

[2018-05-20 01:09] arfon commented on #730
@nhejazi @fritzo - would you be willing to review this submission for JOSS?

[2018-05-20 01:10] arfon commented on #694
@nhejazi - great, thanks!

[2018-05-20 01:12] arfon commented on #694
@pjotrp or @brainstorm - would you be willing to edit this submission for JOSS? @nhejazi has kindly offered to review this submission.

[2018-05-20 09:44] ryneches commented on #678
Added. 5d6ad02df29ebe4fa2c6a0652335f87b0c311e7b 4a639b16f7b9fd63809320e3e5dfc09e63cbde55

[2018-05-20 11:40] whedon opened #742 "[PRE REVIEW]: skijumpdesign: A Ski Jump Design Tool for Specified Equivalent Fall Height"
**Submitting author:** @moorepants (<a href="http://orcid.org/0000-0002-8698-6143">Jason K. Moore</a>)
**Repository:** <a href="https://gitlab.com/moorepants/skijumpdesign" target ="_blank">https://gitlab.com/moorepants/skijumpdesign</a>
**Version:** v1.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @trallard

**Author instructions**

Thanks for submitting your paper to JOSS @moorepants. T

[2018-05-20 11:40] whedon commented on #742
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-05-20 11:40] whedon commented on #742
[code]

[2018-05-20 11:40] whedon commented on #742
PDF failed to compile for issue #742 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0    139      0 --:--:-- --:--:-- --:--:--   141
Error reading bibl

[2018-05-20 11:40] arfon commented on #742
:wave: @Kevin-Mattheus-Moerman - the submitting author suggested you as the handling editor.

[2018-05-20 11:40] arfon commented on #742
@moorepants - could you take a look at the errors from the paper compilation above?

[2018-05-20 11:41] whedon opened #743 "[PRE REVIEW]: sjmisc - Data and Variable Transformation Functions"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/strengejacke/sjmisc" target ="_blank">https://github.com/strengejacke/sjmisc</a>
**Version:** 2.7.2
**Editor:** @leeper
**Reviewers:** @jrosen48, @methodds

**Author instructions**

Thanks for submitting your paper to JOSS @strengejacke. The JOSS edit

[2018-05-20 11:41] whedon commented on #743
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-20 11:41] whedon commented on #743
[code]

[2018-05-20 11:41] whedon commented on #743
PDF failed to compile for issue #743 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/743/paper.md): did not find expected '-' indicator while parsing a block collection at line 9 column 3 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'

[2018-05-20 11:41] whedon opened #744 "[PRE REVIEW]: opt_einsum: A tensor contraction order optimizer for NumPy"
**Submitting author:** @dgasmith (<a href="http://orcid.org/0000-0001-8626-0900">Daniel Smith</a>)
**Repository:** <a href="https://github.com/dgasmith/opt_einsum" target ="_blank">https://github.com/dgasmith/opt_einsum</a>
**Version:** v2.0.0
**Editor:** @pjotrp
**Reviewers:** @prasunanand

**Author instructions**

Thanks for submitting your paper to JOSS @dgasmith. The JOSS editor (shown at the

[2018-05-20 11:41] whedon commented on #744
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-20 11:41] whedon commented on #744
[code]

[2018-05-20 11:41] whedon commented on #744
PDF failed to compile for issue #744 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/744/paper/paper.md): found unexpected document indicator while scanning a quoted scalar at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `par

[2018-05-20 11:43] arfon commented on #743
@strengejacke - this PR should fix your paper metadata https://github.com/strengejacke/sjmisc/pull/85

[2018-05-20 11:44] arfon commented on #744
@dgasmith - it looks like you've got unmatched quotations on the first line of your paper:

[code]

[2018-05-20 12:16] Kevin-Mattheus-Moerman commented on #736
@whedon add @brainstorm as reviewer

[2018-05-20 12:16] whedon commented on #736
OK, @brainstorm is now a reviewer

[2018-05-20 12:27] Kevin-Mattheus-Moerman commented on #736
@rlizzo @wouterpotters the submitted work is sufficiently advanced with respect to the previous versions to warrant a potential JOSS paper. Future releases of this software, if again significantly enhanced, may also warrant a new additional JOSS paper, since in this way accurate citing and credit giving is enabled.

@wouterpotters thanks for bringing up the point of your contributions to this work

[2018-05-20 13:34] brainstorm commented on #694
Yeah, I can do that, @arfon ;)

[2018-05-20 13:34] mlgill commented on #726
Have requested dependency and installation information be added to main website, issue is [here](https://github.com/mlpack/mlpack/issues/1404).

[2018-05-20 13:52] mlgill commented on #726
@arfon @rcurtin I noticed the version on GitHub has been bumped to 3.0.1 (our checklist says 3.0.0). Is there somewhere else that I should verify that the update has been made?

[2018-05-20 13:53] strengejacke commented on #743
Thanks, I just merged the PR.

[2018-05-20 14:12] Kevin-Mattheus-Moerman commented on #726
@mlgill thanks for pointing that out. We'll request to get that fixed before acceptance. By the way please address editorial comments in this issue to me directly.

[2018-05-20 14:34] strengejacke commented on #743
I would suggest @noamross or @jrosen48 as reviewers, and have also asked someone not from this list. I will give feedback as soon as I get a response.

[2018-05-20 14:37] rasbt commented on #726
@rcurtin have begun the review and bumped into an issue with the installation instructions (https://github.com/mlpack/mlpack/issues/1406), would be nice if you could take a look at it some time. Other than that, I found a very minor issue with the copyright info in the copyright & license files being out of sync (https://github.com/mlpack/mlpack/issues/1405).

[2018-05-20 14:56] jrosen48 commented on #743
I'd be pleased to review **sjmisc**.

[2018-05-20 16:36] arokem commented on #729
@sepandhaghighi : Great! I believe your paper is ready to be accepted.

At this point, please create a new release of the software and create an archive for it (e.g., using https://zenodo.org/). Once you have that, please reply here with the DOI, so we can set that as the archive to be included in the paper.

[2018-05-20 16:51] rlizzo commented on #736
Thanks for the feedback @Kevin-Mattheus-Moerman!

[2018-05-20 16:52] rlizzo commented on #736
@whedon commands

[2018-05-20 16:52] whedon commented on #736
Here are some things you can ask me to do:

[code]

[2018-05-20 17:08] dgasmith commented on #744
Thanks, should be fixed now.

@whedon compile

[2018-05-20 18:04] leeper commented on #743
@whedon set @leeper as editor

[2018-05-20 18:04] leeper commented on #743
@whedon generate pdf

[2018-05-20 18:04] whedon commented on #743
[code]

[2018-05-20 18:04] whedon commented on #743
PDF failed to compile for issue #743 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0    139      0 --:--:-- --:--:-- --:--:--   141
Error reading bibl

[2018-05-20 18:05] leeper commented on #743
@whedon assign @leeper as editor

[2018-05-20 18:05] whedon commented on #743
OK, the editor is @leeper

[2018-05-20 18:07] leeper commented on #743
@whedon add @jrosen48 as reviewer

[2018-05-20 18:07] whedon commented on #743
OK, @jrosen48 is now a reviewer

[2018-05-20 18:08] leeper commented on #743
@methodds Can you confirm you're interested in reviewing this for JOSS?

[2018-05-20 18:08] leeper commented on #743
@strengejacke Can you merge [this PR](https://github.com/strengejacke/sjmisc/pull/87) to fix your bibliography?

[2018-05-20 18:55] leeper commented on #743
@whedon generate pdf

[2018-05-20 18:55] whedon commented on #743
[code]

[2018-05-20 18:56] whedon commented on #743
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00743/joss.00743/10.21105.joss.00743.pdf)

[2018-05-20 19:58] alexgarciac commented on #698
@pjotrp I have ticked the boxes but, a naive question: where do I hit submit?

[2018-05-20 20:00] alexgarciac commented on #698
@pjotrp also, there are typos and issues wrt the language, how do I send these to the authors?

[2018-05-20 20:06] arfon commented on #744
@whedon generate pdf

[2018-05-20 20:06] whedon commented on #744
[code]

[2018-05-20 20:06] whedon commented on #744
PDF failed to compile for issue #744 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/744/paper/paper.md): found character that cannot start any token while scanning for the next token at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:

[2018-05-20 20:09] arfon commented on #694
Perhaps one of you could review 😉

[2018-05-20 21:44] sepandhaghighi commented on #729
@arokem
Done !
10.5281/zenodo.1250175

[2018-05-20 21:44] sepandhaghighi commented on #729
@whedon generate pdf

[2018-05-20 21:44] whedon commented on #729
[code]

[2018-05-20 21:44] whedon commented on #729
PDF failed to compile for issue #729 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/729/paper/paper.md): could not find expected ':' while scanning a simple key at line 12 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from

[2018-05-20 21:50] sepandhaghighi commented on #729
@whedon generate pdf

[2018-05-20 21:50] whedon commented on #729
[code]

[2018-05-20 21:51] whedon commented on #729
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00729/joss.00729/10.21105.joss.00729.pdf)

[2018-05-20 23:41] brainstorm commented on #694
@pjotrp Would you like to review instead?

[2018-05-21 00:09] stsievert commented on #738
I've gone through this repo, and have a couple comments. This software looks good and almost ready for acceptance, but I have a couple comments.

* I didn't see a clear statement of need in the paper or in the docs. This should clearly list the problems your software solves (not just the functions it provides) and the target audience. https://github.com/dit/dit/issues/141
* I didn't see any DOIs l

[2018-05-21 00:36] Kevin-Mattheus-Moerman commented on #670
@llllllllll thanks again for being a reviewer for this submission. I believe that over at https://github.com/openjournals/joss-reviews/issues/572 you indicated you could start the review mid-May. Do you think you are ready to pick this up? Let me know how you are getting on. Thanks! :rocket:

[2018-05-21 00:39] Kevin-Mattheus-Moerman commented on #671
@marianux and @fernandoandreotti how are you getting on with the review process? Let me know if you have any questions.

[2018-05-21 00:41] Kevin-Mattheus-Moerman commented on #718
@sdelandtsheer can you comment on @ashleefv. Please let us know if there are any more issues.

[2018-05-21 00:43] Kevin-Mattheus-Moerman commented on #719
@whedon generate pdf

[2018-05-21 00:43] whedon commented on #719
[code]

[2018-05-21 00:44] whedon commented on #719
PDF failed to compile for issue #719 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     90      0 --:--:-- --:--:-- --:--:--    90
Error reading bibl

[2018-05-21 00:50] Kevin-Mattheus-Moerman commented on #719
@siravan perhaps when you pasted in the DOI you deleted a comma? Not sure if this is it but merge my pull request and we can try `@whedon generate pdf` again, btw you can ask whedon to do this too.

[2018-05-21 00:52] siravan commented on #719
Yes, I missed a comma. It is fixed now.

[2018-05-21 00:57] Kevin-Mattheus-Moerman commented on #719
@siravan, in terms of community guidelines and contributing. I would recommend adding a `CONTRIBUTING.md` file and also a `CODE_OF_CONDUCT.md` file.
You can base the latter on the Contributor Covenant, e.g. version 1.4, available at http://contributor-covenant.org/version/1/4

For more information about community guidelines: https://help.github.com/articles/github-community-guidelines/

Also this

[2018-05-21 00:57] Kevin-Mattheus-Moerman commented on #719
@whedon generate pdf

[2018-05-21 00:57] whedon commented on #719
[code]

[2018-05-21 00:57] whedon commented on #719
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00719/joss.00719/10.21105.joss.00719.pdf)

[2018-05-21 01:01] Kevin-Mattheus-Moerman commented on #719
@siravan I see you already added a CONTRIBUTING.md file. I recommend adding a code of conduct file as well.

[2018-05-21 01:03] Kevin-Mattheus-Moerman commented on #719
@mgalloy, @leios can you summarize where we stand with the review process? Thanks

[2018-05-21 01:08] Kevin-Mattheus-Moerman commented on #742
@arfon I can take this.

[2018-05-21 01:09] Kevin-Mattheus-Moerman commented on #742
@moorepants I think you just need to replace a ( by a { on line 142. I created a merge request on your repo. Just say `@whedon generate pdf` here when you are ready to test

[2018-05-21 01:10] Kevin-Mattheus-Moerman commented on #742
@moorepants any reviewers you can recommend for this work?

[2018-05-21 01:23] whedon opened #745 "[REVIEW]: The Vascular Modeling Toolkit: A Python Library for the Analysis of Tubular Structures in Medical Images"
**Submitting author:** @rlizzo (<a href="http://orcid.org/0000-0002-0811-6513">Richard Izzo</a>)
**Repository:** <a href="https://github.com/vmtk/vmtk" target ="_blank">https://github.com/vmtk/vmtk</a>
**Version:** v1.4.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @wouterpotters, @brainstorm
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1253598" target="_blank">10.5281/zenodo.12535

[2018-05-21 01:23] #736 closed, assigned to brainstorm, wouterpotters, Kevin-Mattheus-Moerman

[2018-05-21 01:26] Kevin-Mattheus-Moerman commented on #745
@rlizzo, @wouterpotters, @brainstorm this is where the review process takes place. There are sets of tickboxes for both reviewers at the top of this issue (let me know if you are unable to tick them). If you have questions please let me know. You may also want to check out the [JOSS reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines).

[2018-05-21 01:29] Kevin-Mattheus-Moerman commented on #745
@osmsc @sshadden @jmerkow @alexkaiser @updega2 @gmaher @fkong7 this is a [JOSS](http://joss.theoj.org/about) review issue for [ _The Vascular Modeling Toolkit_ ](https://github.com/vmtk/vmtk). Please let me know if you are interested in reviewing this submission.

The review process is focused largely on the software and a short paper, see the [reviewer guidelines](http://joss.theoj.org/about#revi