[2016-08-31 17:26] rasbt commented on #34
Works, nicely now! :).

Have one more question about the random state though. Where exactly is it used? Only in the cross-validator? Because I noticed that the `random_state` is set to "null" in the estimator itself

![screen shot 2016-08-31 at 1 21 02 pm](https://cloud.githubusercontent.com/assets/5618407/18139107/f51e5d8c-6f7d-11e6-958a-19b8fe4e110b.png)

The param file I was using looks as foll

[2016-08-31 17:35] rasbt commented on #34
Ah, I am having troubles with nosetests again :P
So, I ran `python setup.py develop` and it solved the `version` issue, another thing though is that somehow nosetests is not grabbing the tests.

[code]

Maybe I am doing something silly or overlooking something ... :/

[2016-08-31 17:48] cxhernandez commented on #34
Try this:

[code]
For some reason, the tests need to be run [outside of the source directory](http://msmbuilder.org/development/contributing.html#tests).

[2016-08-31 17:58] cxhernandez commented on #34
It's used [here](https://github.com/msmbuilder/osprey/blob/master/osprey/fit_estimator.py#L43) to seed NumPy's random generator But you make a good point that this should also be passed to the estimator explicitly.

[2016-08-31 17:58] jkahn commented on #34
Ok I'm self-appointing as the [review-thread police](https://github.com/openjournals/joss/issues/163) -- can @cxhernandez and @rasbt carry on this debugging on a separate issue filed on [the osprey issue tracker](https://github.com/msmbuilder/osprey/issues) please?

[2016-08-31 20:27] rasbt commented on #34
Okay, I won't go much into debugging then, I think it's fine its current state (these are just points you may want to add in future versions). I checked off all the points, and the only thing I would do then for version 1.1.0 is to add the required Python versions in the dependency list (e.g., mentioning that it works for both Python 2.7.x and 3.5)

## Software

- [x] documentation

- [x] tests

T

[2016-09-01 07:47] pjotrp commented on #53
I am not in a position to review this paper, but I would like to note this software consists of about 400 lines of code. I would like to ask the author to confirm *here* that he thinks this software is a valuable contribution to research. I want to point out that once this work has been published it will be visible forever. Adding an example of having used this tool in research would be *strongly*

[2016-09-01 18:16] cxhernandez commented on #34
@arfon, @rasbt: I've added the most recent [suggestions](https://github.com/openjournals/joss-reviews/issues/34#issuecomment-243890240) and have [v1.1.0](https://github.com/msmbuilder/osprey/pull/199) ready to be merged, pending anything else.

[2016-09-04 07:09] sbogutzky commented on #41
I did a revision.

What I couldn't provide:
- One library for all code - or a separation of the code
- Automated test suite

I made the most changes in the documentation (README.md). I provide all input values for the provided example data and a little bit more explanation. Some output files will after all differ from the example data output, because of the user interaction.

[2016-09-04 10:36] cvitolo commented on #52
Thanks @arfon! I opened an issue on the r_fuse repo. We will continue the discussion there.

[2016-09-04 15:31] arfon commented on #34
Thanks @cxhernandez. @rasbt - would you mind taking another look at this and if things look good we can move forward with accepting this into JOSS.

[2016-09-04 15:48] rasbt commented on #34
@arfon Sure no problem. This is 1.1.0 version has been the one I have been reviewing, the pull request (once merged) just changes the labels (as far as I can see based on the file changes). I would suggest changing the version tag (to 1.1.0) in the paper as well though, since this will be the one uploaded to JOSS if I understand correctly.

[2016-09-04 23:59] arfon commented on #34
Will do. So are we good to accept @rasbt?

[2016-09-05 00:04] rasbt commented on #34
Yes, it looks good to me :).

[2016-09-05 07:58] cvitolo commented on #52
@arfon I cloned the repository to [fuse](https://github.com/cvitolo/fuse) and moved the package to the root dir. That fixed all the problems with appveyor. Would it be possible to continue the review on the cloned repo?

[2016-09-05 21:54] arfon commented on #34
@cxhernandez - last thing:

At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-09-05 21:56] arfon commented on #52
@cvitolo - just to clarify. You would like to replace the repository associated with this submission from https://github.com/cvitolo/r_fuse to be https://github.com/cvitolo/fuse?

[2016-09-06 04:27] whedon opened #56 "[REVIEW]: hddtools: Hydrological Data Discovery Tools"
**Submitting author:** @cvitolo (<a href="http://orcid.org/0000-0002-4252-1176">Claudia Vitolo</a>)
**Repository:** <a href="https://github.com/ropensci/hddtools/" target ="_blank">https://github.com/ropensci/hddtools/</a>
**Version:** v0.3.0
**Editor:** Pending
**Reviewer:** Pending
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.247842" target="_blank">https://dx.doi.org/10.5281/zenodo.2

[2016-09-06 04:28] whedon opened #57 "[REVIEW]: akutils: Facilitating analyses of microbial communities through QIIME."
**Submitting author:** @alk224 (<a href="http://orcid.org/0000-0002-7057-9957">Andrew Krohn</a>)
**Repository:** <a href="https://github.com/alk224/akutils-v1.2" target ="_blank">https://github.com/alk224/akutils-v1.2</a>
**Version:** v1.2.3
**Editor:** @arfon
**Reviewer:** @serine
## Status

[![status](http://joss.theoj.org/papers/00608bdd0dcee9c442427f3d8c1c5def/status.svg)](http://joss.theoj.or

[2016-09-06 04:42] arfon commented on #56
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-09-06 04:50] arfon commented on #57
Hi @alk224 - thanks for submitting this. Before we can proceed with this submission please take a look at the author guidelines (http://joss.theoj.org/about#author_guidelines) on how to format the `paper.md` file. Specifically, the metadata needs to be formatted _exactly_ as the example shows below. In addition, the references need to be put in a separate bibtex file named `paper.bib` and citation

[2016-09-06 05:40] cvitolo commented on #52
Yes,  please.  Would that be possible? Thanks

On 5 Sep 2016 11:56 p.m., "Arfon Smith" <notifications@github.com> wrote:

[2016-09-06 14:26] arfon commented on #52
Sure thing. The review is now associated with https://github.com/cvitolo/fuse. @pragyansmita the updated paper is [10.21105.joss.00052.pdf](https://github.com/openjournals/joss-reviews/files/456925/10.21105.joss.00052.pdf)

[2016-09-07 08:26] cvitolo commented on #56
@arfon I have decided to submit to ropensci as well. @noamross suggests to pause this review and wait for the one from ropensci. Would that be possible?

[2016-09-07 15:24] labarba commented on #56
rOpenSci is not a journal. I'm not sure there is a conflict ...

[2016-09-07 15:33] noamross commented on #56
@labarba There's not a conflict, but we're piloting a system where authors go through our review process, and on acceptance we submit their package to JOSS, and editors have the option of accepting based on rOpenSci's reviews rather than re-reviewing.

[2016-09-07 15:53] arfon commented on #56
Yep it's OK to pause.

@labarba - this is something @noamross, @karthik and myself have been piloting. This review process is heavily based on the rOpenSci review process so JOSS reviews can go much faster if a package has already been through the rOpenSci review process.

[2016-09-07 15:57] cxhernandez commented on #34
Hey @arfon,

I've archived the software to http://dx.doi.org/10.5281/zenodo.61670

Thanks!

[2016-09-07 17:39] cvitolo commented on #52
@pragyansmita I don't know what prevents the fuse package to install on your system. The package seems to builds fine for [linux](https://travis-ci.org/cvitolo/fuse/builds/158181099) and [windows](https://ci.appveyor.com/project/cvitolo/fuse) systems. I have also tested various r versions and get no errors, as you can see [here](https://ci.appveyor.com/project/cvitolo/fuse). Do you mind to give it

[2016-09-08 00:54] arfon commented on #34
Thanks for the review @rasbt!

@cxhernandez your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00034 🚀 🎉 💥

[2016-09-08 00:54] #34 closed

[2016-09-08 00:56] cxhernandez commented on #34
Woo! Thanks @arfon, @labarba, and @rasbt!

[2016-09-08 00:59] rasbt commented on #34
Congrats! :). Although the review was maybe a bit tedious, I hope it also helped improving the package regarding the maybe too many suggestions I brought up ;). In any case, I am really glad to hear that the software package was accepted and that we have another good & useful open source package out there!

[2016-09-08 01:27] cxhernandez commented on #34
The software (and docs) undeniably benefitted from the review process! I look forward to submitting more stuff 😄

Thanks again!

[2016-09-08 05:25] whedon opened #58 "[REVIEW]: SEP: Source Extractor as a library"
**Submitting author:** @kbarbary (<a href="http://orcid.org/0000-0002-2532-3696">Kyle Barbary</a>)
**Repository:** <a href="https://github.com/kbarbary/sep" target ="_blank">https://github.com/kbarbary/sep</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @danielskatz
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.159035" target ="_blank">http://dx.doi.org/10.5281/zenodo.159035</a>

[2016-09-08 05:25] arfon commented on #58
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-09-08 13:10] davclark commented on #41
@sbogutzky, this is much easier for a clueless user like me to get started and know they are running the examples properly. I offer a few more comments below, but please attend in particular to "FIX" in particular.

Actual bug - figure saving dialog on mac doesn't work. It asks you to open an existing file. It should allow to specify a file, right? (should definitely FIX if you have access to a ma

[2016-09-08 13:11] davclark commented on #41
Hopefully it's clear from the above what should definitely be fixed - these things are very minor, and I offered to help with the mac issue. Please address those and anything else, and let me know. Should be quick!

[2016-09-08 14:57] danielskatz commented on #58
I will do this one.

[2016-09-08 16:36] sbogutzky commented on #41
@davclark - First thanks for reviewing again!

Unfortunately, by the zoom and printing task I'm also only a user. I use for this task the R package [zoom](https://cran.r-project.org/web/packages/zoom/zoom.pdf). I also using a mac and have the same bugs. I cannot print from XQuartz and I can also go above the borders of my data.

I meant impossible detection or no detection (fixed)

Worte (fixed);

[2016-09-08 17:10] davclark commented on #41
As I understand things, this is "good enough" for JOSS. It still lacks automated tests and clear community guidelines, though these don't appear to be necessary for publication per reviewer guidelines.

@arfon let me know if you're ready to proceed on that basis, or if further input is needed!

[2016-09-08 17:54] danielskatz commented on #58
I'm a bit uncertain about the license part.  The repo has a licenses directory that contains 3 licenses, two as .md and one as .txt.  Is the fact that some of these are in .md ok for JORS?

Also, the readme states "The license for all parts of the code derived from SExtractor is LGPLv3. The license for code not derived from SExtractor is MIT. The license for the library as a whole is therefore LGP

[2016-09-08 18:00] danielskatz commented on #58
Re versions: The repo talks about version 1.0 as not yet released, discusses 0.60 as the most recent release, and also points to a software archive that contains version 0.30.  The paper says that there is no software archive yet.

If this JOSS submission is for version 0.60, there needs to be a software archive that contains the code from version 0.60.

[2016-09-08 18:07] danielskatz commented on #58
I feel like the original reference
Bertin, E. & Arnouts, S. 1996: SExtractor: Software for source extraction, Astronomy & Astrophysics Supplement 317, 393.  (doi: 10.1051/aas:1996164)
perhaps should be included, but this is up to the submitter.

[2016-09-08 19:03] kbarbary commented on #58
Thanks for the review!

**License:** I removed the copy of the BSD license and corrected the file extensions of the MIT license to `txt`.

**versions:** I updated the link in the readme to point to the v0.6.0 zenodo archive. (v1.0.0 will be the next release of SEP which will remove deprecated features; it has not yet been released though).

**citation:** I added the Bertin & Arnouts (1996) citatio

[2016-09-08 23:19] kbarbary commented on #58
Ah, now I remember why the BSD license was there. One file `src/overlap.h` is based on BSD-licensed code. I believe this means I should keep the text of the BSD license there.

I could change MIT -> BSD to simply things overall; I just had a slight preference for MIT, so I started with that.

[2016-09-08 23:26] danielskatz commented on #58
so the readme should be changed to say this (not the details, but just that there is some BSD code too)

[2016-09-09 00:09] arfon commented on #58
@danielskatz - I currently have to do this. @whedon is gaining those super-powers soon.

[2016-09-09 00:09] arfon commented on #58
Do we need a updated paper compiling?

[2016-09-09 00:15] danielskatz commented on #58
yes please

[2016-09-09 00:48] arfon commented on #58
@danielskatz here you go: [10.21105.joss.00058.pdf](https://github.com/openjournals/joss-reviews/files/462979/10.21105.joss.00058.pdf)

[2016-09-09 04:44] arfon commented on #41
Thanks for the followup @davclark. Our reviewer guidelines are pretty clear on tests but less so on community guidelines.

On tests we say:

Looking at https://github.com/sbogutzky/PsychoPhysioPipeline#processing-steps it seems like we're coming in under the 'OK' category here - there is some example data that can be used to verify the functionality.

On community guidelines we say:

https://githu

[2016-09-09 13:26] LauraHarvey opened #59 "Notification to users when their open review is 'closed' by changes to publisher review display policy"

[2016-09-09 13:28] LauraHarvey commented on #59
@andrewtothemax, @arhpreston will be intereste in this, plus probably @pennydown and @drjohnston

[2016-09-09 13:30] kyleniemeyer commented on #59
Hi @LauraHarvey—I think you may have submitted this issue to the wrong repository. joss-reviews is only used to track progress of reviews for the Journal of Open Source Software.

Was this intended for the [main JOSS repo](https://github.com/openjournals/joss/issues)?

[2016-09-09 13:36] LauraHarvey commented on #59
Argh, sorry about that, will remove...

[2016-09-09 13:39] #59 closed

[2016-09-09 15:24] sbogutzky commented on #41
[![DOI](https://zenodo.org/badge/23671/sbogutzky/PsychoPhysioPipeline.svg)](https://zenodo.org/badge/latestdoi/23671/sbogutzky/PsychoPhysioPipeline)

Here ist the batch, the zip is uploaded, but the doi is maybe not registered!?

[2016-09-09 19:59] alk224 commented on #57
Thanks Arfon,

Will try to make the necessary changes this weekend. I appreciate the help.

--
Andrew Krohn
PhD Candidate, NAU Biological Sciences
Research Technician, EnGGen

On Mon, Sep 5, 2016 at 9:50 PM, Arfon Smith <notifications@github.com>
wrote:

[2016-09-10 00:04] arfon commented on #41
@sbogutzky thanks for updating the DOI here. @davclark many thanks for the thorough review.

@sbogutzky your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00041 🎉 🚀 💥

[2016-09-10 00:04] #41 closed

[2016-09-10 12:51] danielskatz commented on #58
re a statement of need in the paper: the repo readme probably should have a little of the paper content to explain what source extractor is and who might want to use it.  This could also potentially go in docs/index.srt

The license info in docs/index.srt might need to be updated?

It would also be useful if the docs contained a simple tutorial/test - just one input, the code needed to do an analy

[2016-09-10 12:52] danielskatz commented on #58
re Community guidelines - the answers to the following are currently no.

Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support

Perhaps some more can be added to the README?  or to a CONTRIBUTING file?

[2016-09-10 13:03] danielskatz commented on #58
Installation failed on my mac:

tmp3:~ dsk$ pip install --no-deps sep
Collecting sep
  Downloading sep-0.6.0.tar.gz (266kB)
    100% |████████████████████████████████| 276kB 114kB/s
Installing collected packages: sep
  Running setup.py install for sep ... error
    Complete output from command /usr/bin/python -u -c "import setuptools, tokenize;__file__='/private/var/folders/bp/2p2fmtrx0w100fzhrllb

[2016-09-10 19:01] jkahn commented on #58
@danielskatz this is really useful feedback, but [in my role as self-appointed derail police](https://github.com/openjournals/joss/issues/163) please consider filing a ticket against [the target repo](https://github.com/kbarbary/sep) bug tracker and linking to this issue instead of pasting the body of error messages into this thread.

[2016-09-10 19:26] danielskatz commented on #58
responding in the other issue (#163)

[2016-09-12 04:35] whedon opened #60 "[REVIEW]: hebbRNN: A Reward-Modulated Hebbian Learning Rule for Recurrent Neural Networks"
**Submitting author:** JonathanAMichaels (<a href="http://orcid.org/0000-0002-5179-3181">Jonathan A Michaels</a>)
**Repository:** <a href="https://github.com/JonathanAMichaels/hebbRNN" target ="_blank">https://github.com/JonathanAMichaels/hebbRNN</a>
**Version:** v1.2
**Editor:** @arfon
**Reviewer:** @cMadan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.154745" target="_blank">10.5281/zen

[2016-09-12 04:44] arfon commented on #60
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-09-12 04:45] cMadan commented on #60
:hand: I am reviewing this

[2016-09-12 04:47] whedon opened #61 "[REVIEW]: walkr: MCMC Sampling from Non-Negative Convex Polytopes"
**Submitting author:** @andyyao95 (<a href="http://orcid.org/0000-0003-3898-8782">Andy  Yao</a>)
**Repository:** <a href="https://github.com/andyyao95/walkr" target ="_blank">https://github.com/andyyao95/walkr</a>
**Version:** v0.3.4
**Editor:** @karthik
**Reviewer:** @dgrtwo
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.400944" target="_blank">10.5281/zenodo.400944</a>

## Status

[![sta

[2016-09-12 04:53] arfon commented on #61
Hi @andyyao95. Currently the paper doesn't compile properly as you're not actually citing any of the references in the paper. Could you actually cite the entries in your `paper.bib` (e.g. [@kannan]) in the body of the paper?

[2016-09-12 20:36] andyyao95 commented on #61
Hi Arfon,

Thank you so much, I used the reference for a longer version of the paper
instead (my bad). I just updated the paper.bib and paper.md to properly
cite all the references.

Let me know if you have any other questions. Thanks!

Andy

On Mon, Sep 12, 2016 at 12:54 AM, Arfon Smith <notifications@github.com>
wrote:

[2016-09-13 13:23] noamross commented on #51
Adding a note for reference: *rdefra* went through JOSS and rOpenSci review in parallel, having been submitted before our joint-review workflow was in place but approved after.  The rOpenSci review can be found here: https://github.com/ropensci/onboarding/issues/68

[2016-09-13 19:00] arfon commented on #61
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-09-13 19:00] whedon opened #62 "[REVIEW]: xpecgen: A program to calculate x-ray spectra generated in tungsten anodes"
**Submitting author:** @Dih5 (<a href="http://orcid.org/0000-0002-7481-5961">Guillermo Hernández</a>)
**Repository:** <a href="https://github.com/Dih5/xpecgen" target ="_blank">https://github.com/Dih5/xpecgen</a>
**Version:** v1.0.2
**Editor:** @arfon
**Reviewer:** @katyhuff
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.165764" target="_blank">https://dx.doi.org/10.5281/zenodo.165764</a>

[2016-09-13 19:03] arfon commented on #62
@Dih5 - it doesn't look like you're actually citing the reference that you have in your `paper.bib` in the paper body (`paper.md`). Could you make sure you're explicitly citing the referenced paper (e.g. with `@hernandez:2016`) so we can pick up the reference list?

[2016-09-13 19:04] ctb commented on #27
OK, I've made the changes and @luizirber has checked them twice :).

Am I correct in thinking that I should proceed by cutting a new release (v1.0) and then putting the zenodo link in here? That's it, yes? (Reading [author guidelines](http://joss.theoj.org/about#author_guidelines))

[2016-09-13 19:05] arfon commented on #27
👍 yes please @ctb

[2016-09-13 19:25] Dih5 commented on #62
My apologies, I forgot the cite. It is added now.

[2016-09-13 19:40] arfon commented on #62
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-09-13 23:09] jkahn commented on #27
sgtm! congratulations!

[2016-09-14 13:21] ctb commented on #27
[sourmash 1.0](https://github.com/dib-lab/sourmash/releases/tag/v1.0) now up! [![DOI](https://zenodo.org/badge/55858065.svg)](https://zenodo.org/badge/latestdoi/55858065)

[2016-09-14 13:22] ctb commented on #27
thanks for all your hard work @jkahn!

[2016-09-14 15:20] cvitolo commented on #52
@arfon @pragyansmita Just wanted to know whether there is anything I can do to proceed with the review?

[2016-09-14 17:17] arfon commented on #52
@pragyansmita - are you ok to start moving forwards with your review?

[2016-09-14 18:57] arfon commented on #27
Many thanks again for the review @jkahn!

@ctb your paper is now accepted in JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00027 🎉 🚀 💥

[2016-09-14 18:57] #27 closed

[2016-09-16 17:12] SebastianBocquet commented on #46
Dear All,

below you will find our response to the referee report, highlighted in
green.

Best regards,

Sebastian Bocquet

----

Authors' response:

We would like to thank Dan for carefully reviewing our software package and
paper. He points out several important issues. We have addressed each of
the raised concerns, and made changes as described below.

General checks

Version: Does the release

[2016-09-16 19:12] whedon opened #63 "[REVIEW]: rintrojs"
**Submitting author:** @carlganz (<a href="http://orcid.org/0000-0002-2973-3545">Carl Ganz</a>)
**Repository:** <a href="https://github.com/carlganz/rintrojs" target ="_blank">https://github.com/carlganz/rintrojs</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewer:** @brylie
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.160211" target ="_blank">https://dx.doi.org/10.5281/zenodo.160211<

[2016-09-16 19:23] arfon commented on #63
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-09-16 19:28] whedon opened #64 "[REVIEW]: ecopath_matlab: A Matlab-based implementation of the Ecopath food web algorithm"
**Submitting author:** kakearney (<a href="http://orcid.org/0000-0002-6152-5236">Kelly Kearney</a>)
**Repository:** <a href="https://github.com/kakearney/ecopath_matlab-pkg" target ="_blank">https://github.com/kakearney/ecopath_matlab-pkg</a>
**Version:** v2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @roliveros-ramos
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.240977" target="_

[2016-09-16 19:31] arfon commented on #64
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-09-16 19:33] whedon opened #65 "Submission: Stochastic (Combined Heat and Power) Anaerobic Digestion Economic Assessment Tool (SADEAT)"
**Submitting author:** @AbdulSalam2016 (<a href="http://orcid.org/0000-0002-5784-4576">YAKUBU ABDUL-SALAM</a>)
**Repository:** <a href="https://github.com/AbdulSalam2016/SADEAT-Stochastic-Combined-Heat-and-Power-Anaerobic-Digestion-Economic-Assessment-Tool/releases/latest" target ="_blank">https://github.com/AbdulSalam2016/SADEAT-Stochastic-Combined-Heat-and-Power-Anaerobic-Digestion-Economic-Asse

[2016-09-16 19:38] arfon commented on #65
👋 @AbdulSalam2016, thanks for your submission to JOSS.

Before we can proceed with the review there are a couple of things that need fixing up with your submission.

- Please reformat your paper (`paper.md`) to be formatted _exactly_ as shown here https://raw.githubusercontent.com/arfon/fidgit/master/paper/paper.md. In particular, the paper metadata needs to be formatted properly before we can pro

[2016-09-17 00:18] rmflight commented on #64
I'm curious if a software package that depends on a *licensed* non-free product counts as **open source software** and is within the scope of the journal?

[2016-09-17 01:34] Kevin-Mattheus-Moerman commented on #64
@rmflight yes code requiring a proprietary run-time may be eligible. See also the discussion we had on this here: https://github.com/openjournals/joss/issues/142. Following that discussion we now say the following here http://joss.theoj.org/about:

And at the reviewer guidelines:

[2016-09-17 01:36] rmflight commented on #64
I apologize, that was an oversight on my part. I should have looked at the
reviewer guidelines. Thank you for drawing my attention to that.

On Fri, Sep 16, 2016 at 9:34 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2016-09-17 02:11] arfon commented on #64
👍 no problem.

[2016-09-17 02:57] AbdulSalam2016 commented on #65
Thank you very much for considering my submission to your journal, Arfon. I have to clarify however that I do not include the source code in my submission, only the executable. I seek to maintain control of the source code although the current and future version of the software will be free. Does non-inclusion of the source code have implications for submission to your journal? Thank you very much

[2016-09-17 03:00] arfon commented on #65
Hi @AbdulSalam2016. Thanks for clarifying. Unfortunately this doesn't meet the requirements of the journal as the source code is not openly available for review. I'll close this review issue and remove the submission from the JOSS site.

If you every change your mind we'd welcome a re-submission.

[2016-09-17 03:00] #65 closed

[2016-09-17 03:03] AbdulSalam2016 commented on #65
Hi @arfon. Thank you very much. Will consider this.

[2016-09-18 10:54] dfm commented on #46
@arfon: is it possible to update the software version number and rebuild the paper?

@SebastianBocquet: thanks for the responses – it's looking much better! I have a few minor comments remaining:

1. The comment about "sigmas" has nothing to do with Gaussians. It has to do with the relationship between the contours that you draw in 2D and the quantiles that people tend to label in 1D. If you use 6

[2016-09-18 18:40] alk224 commented on #57
I believe I have fixed the issues raised here. The paper.md should be properly formatted and there is a bibtex file containing the references. I used the tool [here](http://www.snowelm.com/~t/doc/tips/makebib.en.html) to convert to bibtex and cleaned up the output manually. I also used [this tool](https://gist.github.com/arfon/478b2ed49e11f984d6fb) from the JOSS page to produce a metadata file (co

[2016-09-19 03:27] tacaswell commented on #46
It is probably too late, but mpl has  `mpl.rc_context` and `mpl.style.context`  which both provide context managers for setting and restoring rcParams.

This is actually pretty easy to do

[code]

https://github.com/matplotlib/pytest-mpl and the image comparison tests in mpl both include a way to specify rcparams as part of the test and ensure they are properly cleaned up.

[2016-09-19 03:28] tacaswell commented on #46
https://github.com/matplotlib/matplotlib/issues/7107 xref to mpl issue

[2016-09-19 04:42] whedon opened #66 "[PRE REVIEW]: GitHub's Linguist"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/github/linguist" target ="_blank">https://github.com/github/linguist</a>
**Version:** v4.8.12
**Editor:** @arfon
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS @arfon. The JOSS editor (shown at the top of this issue)

[2016-09-19 04:44] arfon commented on #66
@whedon commands

[2016-09-19 04:44] whedon commented on #66
Here are some things you can ask me to do:

[code]
:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue afterrunning a @whedon command (you might also need to refresh the page to seethe issue update).

[2016-09-19 04:45] arfon commented on #66
@whedon list editors

[2016-09-19 04:45] whedon commented on #66
Here's the current list of JOSS editors:
[code]
See full details here: https://gist.github.com/arfon/404b17728e4954f414ddb512f28a8ce0

[2016-09-19 04:45] arfon commented on #66
@whedon assign @arfon as editor

[2016-09-19 04:45] whedon commented on #66
OK @arfon is now the editor

[2016-09-19 04:45] arfon commented on #66
@whedon assign @arfonsmith as reviewer

[2016-09-19 04:45] whedon commented on #66
OK I'm assigning @arfonsmith as the reviewer

[2016-09-19 04:46] arfon commented on #66
@whedon start review

[2016-09-19 04:46] whedon commented on #66
You didn't say the magic word! Try this:
[code]

[2016-09-19 04:46] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 04:46] whedon commented on #66
Creating the review issue #[object Object]

[2016-09-19 04:47] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 04:48] whedon commented on #66
Creating the review issue #[object Object]

[2016-09-19 04:51] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 04:51] whedon commented on #66
Creating the review issue #[object Object]

[2016-09-19 04:51] whedon opened #67 "[REVIEW]: GitHub's Linguist"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/github/linguist" target ="_blank">https://github.com/github/linguist</a>
**Version:** v4.8.12
**Editor:** @arfonsmith
**Reviewer:** @arfon

## Status

[![status](http://joss.theoj.org/papers/a39563798a80b78b6e85ce475e3a155d/status.svg)](http://joss.theoj.org/pa

[2016-09-19 04:51] whedon commented on #67
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-09-19 04:55] #67 closed

[2016-09-19 04:58] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 04:58] whedon commented on #66
Creating the review issue #[object Object]

[2016-09-19 04:58] whedon opened #68 "[REVIEW]: GitHub's Linguist"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/github/linguist" target ="_blank">https://github.com/github/linguist</a>
**Version:** v4.8.12
**Editor:** @arfonsmith
**Reviewer:** @arfon

## Status

[![status](http://joss.theoj.org/papers/a39563798a80b78b6e85ce475e3a155d/status.svg)](http://joss.theoj.org/pa

[2016-09-19 05:00] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 05:00] whedon commented on #66
Creating the review issue #[object Object]

[2016-09-19 05:00] whedon opened #69 "[REVIEW]: GitHub's Linguist"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/github/linguist" target ="_blank">https://github.com/github/linguist</a>
**Version:** v4.8.12
**Editor:** @arfonsmith
**Reviewer:** @arfon

## Status

[![status](http://joss.theoj.org/papers/a39563798a80b78b6e85ce475e3a155d/status.svg)](http://joss.theoj.org/pa

[2016-09-19 05:05] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 05:05] whedon commented on #66
Creating the review issue #[object Object]

[2016-09-19 05:05] whedon opened #70 "[REVIEW]: GitHub's Linguist"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/github/linguist" target ="_blank">https://github.com/github/linguist</a>
**Version:** v4.8.12
**Editor:** @arfonsmith
**Reviewer:** @arfon

## Status

[![status](http://joss.theoj.org/papers/a39563798a80b78b6e85ce475e3a155d/status.svg)](http://joss.theoj.org/pa

[2016-09-19 05:12] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 05:12] whedon opened #71 "[REVIEW]: GitHub's Linguist"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/github/linguist" target ="_blank">https://github.com/github/linguist</a>
**Version:** v4.8.12
**Editor:** @arfonsmith
**Reviewer:** @arfon

## Status

[![status](http://joss.theoj.org/papers/a39563798a80b78b6e85ce475e3a155d/status.svg)](http://joss.theoj.org/pa

[2016-09-19 05:24] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 05:24] whedon opened #72 "[REVIEW]: GitHub's Linguist"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/github/linguist" target ="_blank">https://github.com/github/linguist</a>
**Version:** v4.8.12
**Editor:** @arfonsmith
**Reviewer:** @arfon

## Status

[![status](http://joss.theoj.org/papers/a39563798a80b78b6e85ce475e3a155d/status.svg)](http://joss.theoj.org/pa

[2016-09-19 05:26] arfon commented on #66
@whedon start review magic-word=bananas

[2016-09-19 05:26] whedon commented on #66
Creating the review issue #73

[2016-09-19 05:26] whedon opened #73 "[REVIEW]: GitHub's Linguist"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/github/linguist" target ="_blank">https://github.com/github/linguist</a>
**Version:** v4.8.12
**Editor:** @arfonsmith
**Reviewer:** @arfon

## Status

[![status](http://joss.theoj.org/papers/a39563798a80b78b6e85ce475e3a155d/status.svg)](http://joss.theoj.org/pa

[2016-09-19 05:37] whedon opened #74 "[PRE REVIEW]: ezknitr: Avoid the typical working directory pain when using 'knitr'"
**Submitting author:** @daattali (<a href="http://orcid.org/0000-0002-5645-3493">Dean Attali</a>)
**Repository:** <a href="https://github.com/ropenscilabs/ezknitr" target ="_blank">https://github.com/ropenscilabs/ezknitr</a>
**Version:** v0.5
**Editor:** @acabunoc
**Reviewer:** @acabunoc

**What this issue is for**

Thanks for submitting your paper to JOSS @daattali. The JOSS editor (shown at the

[2016-09-19 05:37] whedon commented on #74
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik, it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-09-19 05:39] arfon commented on #74
@whedon commands

[2016-09-19 05:39] whedon commented on #74
Here are some things you can ask me to do:

[code]
:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue afterrunning a @whedon command (you might also need to refresh the page to seethe issue update).

[2016-09-19 08:50] brylie commented on #63
I can review it.

[2016-09-19 08:53] brylie commented on #63
Could not locate LICENSE.txt, or equivalent (for wrapper project):

- https://github.com/carlganz/rintrojs/issues/8

[2016-09-19 08:56] brylie commented on #63
Could not locate a Github release for 0.1.0, or any release at all:

- https://github.com/carlganz/rintrojs/issues/9
- https://github.com/carlganz/rintrojs/releases

[2016-09-19 09:29] brylie commented on #63
Contributing guidelines were a bit 'thin':

- https://github.com/carlganz/rintrojs/issues/10

[2016-09-19 09:30] brylie commented on #63
There are no 'performance claims' made by this software, so leaving 'performance' checkbox unchecked.

[2016-09-19 09:32] brylie commented on #63
The **Statement of Need** for the project could be improved:

- https://github.com/carlganz/rintrojs/issues/11

In effect, the statement of need is provided in the second paragraph of the published PDF. However, the statement of need is brief, and not clearly distinguished from other content.

[2016-09-19 09:35] brylie commented on #63
**DOI References**: the paper contains two citations, neither of which has a DOI number. I am not sure how to determine whether a reference *should* have a DOI number. Assistance needed.

[2016-09-19 12:59] danielskatz commented on #63
If there are no performance claims, you can check the performance claims box, since the answer is more or less yes.

For the papers, you should be able to look them up in google or google scholar or other means, go to the place they are published or archived, and see if they do or do not have DOIs.

[2016-09-19 13:01] danielskatz commented on #63
FYI, please don't change the labels.  pending-minor-enhancements means the paper has not yet started being reviewed, while review means it has.  It can remain in review for a time while the authors deal with the issues raised by reviewers.

[2016-09-19 19:33] karthik commented on #74
@arfon Since I was one of the reviewers for this particular paper on the rOpenSci side, it would be a COI to be the handling editor on this side for this paper as well. So I am going to assign a new editor.

[2016-09-19 19:33] karthik commented on #74
@whedon assign @masalmon as editor

[2016-09-19 19:33] whedon commented on #74
OK @masalmon is now the editor

[2016-09-19 19:34] aabeveridge commented on #50
Hello, I am the second author on MassMine and I have a question:

May we suggest or invite an outside reviewer, or do you have an internal list that you prefer for JOSS?

[2016-09-19 19:43] karthik commented on #74
Sorry for the confusion. But I wanted to assign @acabunoc as editor and if she wants a reviewer suggestion, then suggest @masalmon
So I will fix this shortly.

[2016-09-19 19:43] karthik commented on #74
@whedon assign @acabunoc as editor

[2016-09-19 19:43] whedon commented on #74
OK @acabunoc is now the editor

[2016-09-19 19:52] labarba commented on #50
You can do both. For example, I'm lead author of this paper (now accepted) and I [pinged](https://twitter.com/LorenaABarba/status/756423713466318848) someone on Twitter asking for a second reviewer:
https://github.com/openjournals/joss-reviews/issues/43

[2016-09-19 19:52] karthik commented on #74
@acabunoc For context, this paper has already been through a stringent review at rOpenSci (https://github.com/ropensci/onboarding/issues/56). If this submission looks ok to you, just hit accept. No need to send out for review unless you feel something is off with the process that it has already been through.

**More detailed explanation:** We recently introduced a mechanism where someone can 'onbo

[2016-09-19 19:54] acabunoc commented on #74
Thanks! I'll take a look ✨

[2016-09-19 19:54] labarba commented on #50
To make the process transparent, do post here when you request a reviewer's help, and mention the reviewer by GitHub handle.

[2016-09-19 20:04] aabeveridge commented on #50
I just posted a message on Twitter and I provided the direct link to this page https://twitter.com/aaronbeveridge/status/777959812784984064

Thank you @labarba!

[2016-09-19 20:14] arfon commented on #74
@acabunoc great thanks. Take a look at https://github.com/ropensci/onboarding/issues/56 and see what you think. We should probably make the formal review issue anyway (even for tracking). Also I want to try out @whedon's new super-powers :grin:.

In practice this means:

1. Assigning a reviewer (`@whedon assign @username as reviewer`)
2. Starting the review (`@whedon start review`)

@whedon should

[2016-09-19 20:22] acabunoc commented on #74
Just read through https://github.com/ropensci/onboarding/issues/56 -- looks great and thorough and complies with our own review process. I'll make a formal issue with myself as a reviewer and I'll document the decision there. Let me know if I should go about this differently!

Do I have to use a new comment to to use @whedon's super powers? I'm going to try here:

@whedon assign @acabunoc as revie

[2016-09-19 20:23] acabunoc commented on #74
@whedon assign @acabunoc as reviewer

[2016-09-19 20:23] whedon commented on #74
OK I'm assigning @acabunoc as the reviewer

[2016-09-19 20:23] acabunoc commented on #74
@whedon start review

[2016-09-19 20:23] whedon commented on #74
You didn't say the magic word! Try this:
[code]

[2016-09-19 20:24] acabunoc commented on #74
bananas are gross, @whedon 🍌

[2016-09-19 20:24] acabunoc commented on #74
@whedon start review magic-word=bananas

[2016-09-19 20:24] whedon opened #75 "[REVIEW]: ezknitr: Avoid the typical working directory pain when using 'knitr'"
**Submitting author:** @daattali (<a href="http://orcid.org/0000-0002-5645-3493">Dean Attali</a>)
**Repository:** <a href="https://github.com/ropenscilabs/ezknitr" target ="_blank">https://github.com/ropenscilabs/ezknitr</a>
**Version:** v0.5
**Editor:** @acabunoc
**Reviewer:** @acabunoc
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.3545363" target="_blank">10.6084/m9.figshare.354536

[2016-09-19 20:24] whedon commented on #74
Creating the review issue #75. @acabunoc feel free to close this issue now.

[2016-09-19 20:24] #74 closed

[2016-09-19 20:26] acabunoc commented on #75
I hope it's okay that I'm both editor and reviewer!

Based on the review completed for ropensci: https://github.com/ropensci/onboarding/issues/56, I think we should accept this to JOSS

[2016-09-19 20:27] arfon commented on #75
👍 sounds good to me! Lemme just compile the paper to check things look good there. (@whedon can't do this just yet)

[2016-09-19 20:34] arfon commented on #75
@acabunoc - there was a small update required here: https://github.com/ropenscilabs/ezknitr/pull/9

@daattali - @acabunoc has recommended acceptance here. At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-09-19 20:38] whedon opened #76 "[PRE REVIEW]: Python Active-subspaces Utility Library"
**Submitting author:** @paulcon (<a href="http://orcid.org/0000-0003-3726-6307">Paul Constantine</a>)
**Repository:** <a href="https://github.com/paulcon/active_subspaces" target ="_blank">https://github.com/paulcon/active_subspaces</a>
**Version:** v 0.1
**Editor:** @kyleniemeyer
**Reviewer:** @nicoguaro

**What this issue is for**

Thanks for submitting your paper to JOSS @paulcon. The JOSS edit

[2016-09-19 20:38] whedon commented on #76
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer, it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-09-19 20:49] arfon commented on #46
@dfm - sure thing. Here's the new paper: [10.21105.joss.00046.pdf](https://github.com/openjournals/joss-reviews/files/481100/10.21105.joss.00046.pdf)

[2016-09-19 21:15] arfon commented on #57
Nope, we don't need those. Thanks for asking.

[2016-09-19 21:15] arfon commented on #57
/ cc @openjournals/joss-reviewers - would anyone be willing to review this submission?

If you would like to review this submission then please comment on this thread so that others know you're doing a review (so as not to duplicate effort). Something as simple as `:hand: I am reviewing this` will suffice.

**Reviewer instructions**

- Please work through the checklist at the start of this issue.

[2016-09-19 22:36] daattali commented on #75
rOpenSci already required us to submit to figshare: 10.6084/m9.figshare.3545363

[2016-09-20 08:27] brylie commented on #63
The citations were both links to the software websites.

[2016-09-20 11:52] danielskatz commented on #63
Then there are no DOIs for those products, and you can check the review box that this is ok.

[2016-09-20 17:49] arfon commented on #76
@whedon commands

[2016-09-20 17:49] whedon commented on #76
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 17:53] paulcon commented on #76
@whedon list reviewers

On Tue, Sep 20, 2016 at 11:49 AM, whedon <notifications@github.com> wrote:

[2016-09-20 17:53] whedon commented on #76
Here's the current list of JOSS reviewers: https://gist.github.com/arfon/5317c568cb32c7b917fea3c13958131d

[2016-09-20 19:24] arfon commented on #75
Thanks for handling this @acabunoc.

@daattali - your paper is now accepted into JOSS. Your DOI is http://joss.theoj.org/papers/10.21105/joss.00075 🎉 🚀 💥

[2016-09-20 19:24] #75 closed

[2016-09-20 20:38] arfon commented on #19
@Spencerx @meyera - how are we doing on this review?

[2016-09-20 21:15] arfon commented on #44
@whedon commands

[2016-09-20 21:15] whedon commented on #44
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 21:16] arfon commented on #44
@danielskatz - I've updated the issue metadata (in the original post at the top of this issue now). Once you've found someone to help review this issue you can do:

[code]

As there's no 'meta' issue for the reviewer assignment here you *don't* need to do the `@whedon start review` bit.

[2016-09-20 21:34] arfon commented on #35
@desilinguist - This looks like this is in reasonable shape to accept. Can you confirm?

[2016-09-20 21:36] arfon commented on #46
@whedon commands

[2016-09-20 21:36] whedon commented on #46
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 21:36] arfon commented on #46
@whedon assign @dfm as reviewer

[2016-09-20 21:36] whedon commented on #46
OK, the reviewer is @dfm

[2016-09-20 21:38] arfon commented on #49
@whedon commands

[2016-09-20 21:38] whedon commented on #49
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 21:39] arfon commented on #49
@whedon assign @arfon as editor

[2016-09-20 21:39] whedon commented on #49
OK, the editor is @arfon

[2016-09-20 21:41] arfon commented on #52
@whedon commands

[2016-09-20 21:41] whedon commented on #52
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 21:41] arfon commented on #52
@whedon assign @arfon as editor

[2016-09-20 21:41] whedon commented on #52
OK, the editor is @arfon

[2016-09-20 21:41] arfon commented on #52
@whedon assign @pragyansmita as reviewer

[2016-09-20 21:41] whedon commented on #52
OK, the reviewer is @pragyansmita

[2016-09-20 21:44] arfon commented on #58
@whedon commands

[2016-09-20 21:44] whedon commented on #58
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 21:45] arfon commented on #58
@whedon assign @danielskatz as reviewer

[2016-09-20 21:45] whedon commented on #58
OK, the reviewer is @danielskatz

[2016-09-20 21:46] arfon commented on #60
@whedon commands

[2016-09-20 21:46] whedon commented on #60
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 21:46] arfon commented on #60
@whedon assign @cMadan as reviewer

[2016-09-20 21:46] whedon commented on #60
OK, the reviewer is @cMadan

[2016-09-20 21:49] arfon commented on #55
@whedon commands

[2016-09-20 21:49] whedon commented on #55
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 21:49] arfon commented on #55
@whedon list editors

[2016-09-20 21:49] whedon commented on #55
Current JOSS editors:

[code]

[2016-09-20 21:50] arfon commented on #55
@whedon assign @cMadan editor

[2016-09-20 21:50] arfon commented on #55
@whedon assign @cMadan as editor

[2016-09-20 21:50] whedon commented on #55
OK, the editor is @cMadan

[2016-09-20 22:00] danielskatz commented on #44
@whedon assign @eschnett as reviewer

[2016-09-20 22:00] whedon commented on #44
OK, the reviewer is @eschnett

[2016-09-20 22:02] danielskatz commented on #44
@eschnett, you should now be able to do this review.  You should review the reviewer instructions on http://joss.theoj.org/about.  Let me know if you have any problems

[2016-09-20 22:08] mdnunez commented on #55
:hand: I am reviewing this

[2016-09-20 22:09] cMadan commented on #55
@whedon assign @mdnunez as reviewer

[2016-09-20 22:12] cMadan commented on #55
@mdnunez I tried to assign you as a reviewer so you can modify the checklist, but that didn't work--will sort this out, but feel free to try the package

@arfon do reviewers need to be part of the joss-reviewers list to be assign-able?

[2016-09-20 22:14] mdnunez commented on #55
Okay. Let me know. I'm not yet on a joss-reviewer list.

[2016-09-20 22:15] arfon commented on #55
@whedon assign @mdnunez as reviewer

[2016-09-20 22:15] whedon commented on #55
OK, the reviewer is @mdnunez

[2016-09-20 22:17] arfon commented on #55
@cMadan - apologies. There was a small bug with who could assign reviewers. I've fixed this now and @mdnunez you should be set up with collaborator access on this repo so you can update the checklist (you don't need to be in the `@openjournals/joss-reviewers`) team any longer.

[2016-09-20 22:19] cMadan commented on #55
@arfon - thanks for sorting that out!

@mdnunez - take a look at the reviewer guidelines here (http://joss.theoj.org/about). Let me know if you have any questions!

[2016-09-20 22:21] arfon commented on #62
@whedon commands

[2016-09-20 22:21] whedon commented on #62
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 22:21] arfon commented on #62
@whedon list editors

[2016-09-20 22:21] whedon commented on #62
Current JOSS editors:

[code]

[2016-09-20 22:21] arfon commented on #62
@whedon assign @katyhuff as editor

[2016-09-20 22:21] whedon commented on #62
OK, the editor is @katyhuff

[2016-09-20 22:36] mdnunez commented on #55
I will have some comments. Should I leave them here or make a rcppcnpy repo issue?

[2016-09-20 22:41] arfon commented on #55
@mdnunez if they are related to the review then please leave comments here for @eddelbuettel to respond to.

If they are issues with things such as installation troubles (i.e. things that would be of interest to any user of the package) then please open issues in the https://github.com/eddelbuettel/rcppcnpy repository.

[2016-09-20 22:57] eddelbuettel commented on #55
Hi @mdnunez -- thanks for volunteering to review!  I am subscribed here, so I would see them either way.

From what I gather from the other joss-reviews I have seen here, feedback in this thread seems common.   But as @arfon said, any "structural" issues in the package can go to the repo as well.

In case it helps, the package also has binaries for Windows and OS X via [its CRAN page](https://clou

[2016-09-20 23:12] arfon commented on #57
@whedon commands

[2016-09-20 23:12] tracykteal commented on #57
:hand: I am reviewing this. Thanks for your submission @alk224

[2016-09-20 23:12] whedon commented on #57
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-20 23:12] arfon commented on #57
@whedon editors

[2016-09-20 23:13] tracykteal commented on #57
:hand: I am reviewing this. @alk224 thanks for your submission!

[2016-09-20 23:14] arfon commented on #57
@whedon assign @arfon as editor

[2016-09-20 23:14] whedon commented on #57
OK, the editor is @arfon

[2016-09-20 23:15] arfon commented on #57
@whedon assign @tracykteal as reviewer

[2016-09-20 23:15] whedon commented on #57
OK, the reviewer is @tracykteal

[2016-09-20 23:56] mdnunez commented on #55
# Review of RcppCNPy: Read-Write Support for NumPy Files in R

## Reviewer questions

### Conflict of interest

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work (such as being a major contributor to the software).

### General checks

- [x] **Repository:** Is the source code for this software available at the <a target="_blank" href="https://github

[2016-09-21 12:19] pjotrp commented on #53
Hi @rodrigovrgs - I am looking for a reviewer for your submission. Do you know anyone who may be interested in reviewing and who is independent?

[2016-09-21 13:48] ctb commented on #53
I or someone in my group (@luizirber?) could take this on.

[2016-09-21 13:49] arfon commented on #47
@whedon commands

[2016-09-21 13:49] whedon commented on #47
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-21 13:49] arfon commented on #47
@whedon list editors

[2016-09-21 13:49] whedon commented on #47
Current JOSS editors:

[code]

[2016-09-21 13:53] arfon commented on #53
@whedon commands

[2016-09-21 13:53] whedon commented on #53
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-21 13:53] arfon commented on #53
@whedon assign @pjotrp as editor

[2016-09-21 13:53] whedon commented on #53
OK, the editor is @pjotrp

[2016-09-21 13:55] arfon commented on #47
@whedon assign @Kevin-Mattheus-Moerman as editor

[2016-09-21 13:55] whedon commented on #47
OK, the editor is @Kevin-Mattheus-Moerman

[2016-09-21 13:55] arfon commented on #64
@whedon assign @Kevin-Mattheus-Moerman as editor

[2016-09-21 13:55] whedon commented on #64
OK, the editor is @Kevin-Mattheus-Moerman

[2016-09-21 14:06] arfon commented on #10
@whedon assign @amoeba as reviewer

[2016-09-21 14:06] whedon commented on #10
OK, the reviewer is @amoeba

[2016-09-21 14:08] arfon commented on #19
@whedon assign @Spencerx as reviewer

[2016-09-21 14:08] whedon commented on #19
OK, the reviewer is @Spencerx

[2016-09-21 14:08] arfon commented on #19
@whedon assign @arfon as editor

[2016-09-21 14:08] whedon commented on #19
OK, the editor is @arfon

[2016-09-21 14:09] arfon commented on #30
@whedon assign @desilinguist as reviewer

[2016-09-21 14:09] whedon commented on #30
OK, the reviewer is @desilinguist

[2016-09-21 14:10] arfon commented on #46
@whedon assign @dfm as reviewer

[2016-09-21 14:10] whedon commented on #46
OK, the reviewer is @dfm

[2016-09-21 14:15] whedon opened #77 "[PRE REVIEW]: Habfuzz: A Fortran tool to calculate the instream hydraulic habitat suitability based on fuzzy logic"
**Submitting author:** @chtheodoro (<a href="http://orcid.org/0000-0002-5395-0347">Christos Theodoropoulos</a>)
**Repository:** <a href="https://github.com/chtheodoro/Habfuzz" target ="_blank">https://github.com/chtheodoro/Habfuzz</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @fonnesbeck

**What this issue is for**

Thanks for submitting your paper to JOSS @chtheodoro. The JOSS editor

[2016-09-21 14:15] whedon commented on #77
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-09-21 14:16] arfon commented on #77
@labarba - does this look like a paper you think you might be able to handle?

[2016-09-21 14:18] whedon opened #78 "[PRE REVIEW]: GFF3toEMBL: Preparing annotated assemblies for submission to EMBL"
**Submitting author:** @andrewjpage (<a href="http://orcid.org/0000-0001-6919-6062">Andrew Page</a>)
**Repository:** <a href="https://github.com/sanger-pathogens/gff3toembl.git" target ="_blank">https://github.com/sanger-pathogens/gff3toembl.git</a>
**Version:** v1.1.0
**Editor:** @arfon
**Reviewer:** @andersgs

**What this issue is for**

Thanks for submitting your paper to JOSS @andrewjpage. The

[2016-09-21 14:18] whedon commented on #78
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-09-21 14:18] arfon commented on #78
Hey @mgymrek - would you be able to edit this paper for us?

[2016-09-21 14:23] Kevin-Mattheus-Moerman commented on #64
Hi @kakearney Can the authors help to suggest reviewers for this submission?

[2016-09-21 14:25] andrewjpage commented on #78
Hey I was wondering if I could suggest @peterjc as a reviewer?

[2016-09-21 14:29] eddelbuettel commented on #55
If the above was accessible in markdown for me, it would make my reply a little easier.

For the time being I am copying-and-pasting-and-reformatting which feel very 1990s to me...

[2016-09-21 14:35] peterjc commented on #78
Potential conflict of interest: I have contributed to the tool with feedback and some small pull requests, https://github.com/sanger-pathogens/gff3toembl/issues?q=author%3Apeterjc https://github.com/sanger-pathogens/gff3toembl/graphs/contributors - does this exclude me as a potential reviewer?

[2016-09-21 15:00] Kevin-Mattheus-Moerman commented on #47
Dear authors @charalambos. Apologies for the delay with this submission. I'm in the process of finding reviewers for your submission. If you are able to suggest reviewers please do so as well. Thanks.

[2016-09-21 15:22] charalambos commented on #47
@Kevin-Mattheus-Moerman Thank you for letting us know.

[2016-09-21 15:29] mdnunez commented on #55
[review.txt](https://github.com/openjournals/joss-reviews/files/485411/review.txt)

@eddelbuettel I've attached the markdown script

[2016-09-21 15:43] eddelbuettel commented on #55
@mdnunez Very kind, thanks you -- I had already committed a [cobbled-together copy](https://github.com/eddelbuettel/rcppcnpy/blob/feature/joss/paper/joss/2016-09-20-review.md)  (NB: URL may disappear once I merge that branch).  Will probably update to yours.

[2016-09-21 15:57] luizirber commented on #53
I can review this, @pjotrp

[2016-09-21 16:17] arfon commented on #53
@whedon assign @luizirber as reviewer

[2016-09-21 16:17] whedon commented on #53
OK, the reviewer is @luizirber

[2016-09-21 16:19] arfon commented on #61
@whedon commands

[2016-09-21 16:19] whedon commented on #61
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-21 16:19] arfon commented on #61
@whedon assign @jakevdp as editor

[2016-09-21 16:19] whedon commented on #61
OK, the editor is @jakevdp

[2016-09-21 16:31] jakevdp commented on #61
I contacted Neal Thomas, author of R2OpenBUGS, to see if he's interested in reviewing.

[2016-09-21 18:27] chtheodoro commented on #77
@whedon commands

[2016-09-21 18:27] whedon commented on #77
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-21 18:28] chtheodoro commented on #77
@whedon list reviewers

[2016-09-21 18:28] whedon commented on #77
Here's the current list of JOSS reviewers: https://gist.github.com/arfon/5317c568cb32c7b917fea3c13958131d

[2016-09-21 19:27] kakearney commented on #64
What is the journal's process for suggesting reviewers?  Should I compile some suggested names and send them to you (the editor), or should I try to personally contact people and direct them to here to volunteer?

[2016-09-21 19:56] arfonsmith commented on #64
Please direct them to volunteer here

[2016-09-22 02:36] eddelbuettel commented on #55
# Reply to Review Comments on _RcppCNPy: Read-Write Support for NumPy Files in R_

Thank you for your very detailed review and comments.

The package and paper have been updated updated to reflect these suggestions, and the
additional documentation is very beneficial.

This reply contains two major section. The first is 'open issues' and addresess items
which were brought up as required improvemen

[2016-09-22 02:36] arfon commented on #78
Thanks @andrewjpage & @peterjc - I'd rather try and find an alternative reviewer for now given that Peter has contributed to this project (albeit small contributions). Do either of you have alternative reviewers in mind?

[2016-09-22 04:23] kyleniemeyer commented on #49
@whedon assign @kyleniemeyer as editor

[2016-09-22 04:23] whedon commented on #49
OK, the editor is @kyleniemeyer

[2016-09-22 04:25] kyleniemeyer commented on #49
@whedon list reviewers

[2016-09-22 04:25] whedon commented on #49
Here's the current list of JOSS reviewers: https://gist.github.com/arfon/5317c568cb32c7b917fea3c13958131d

[2016-09-22 04:27] kyleniemeyer commented on #49
Hi @nicoguaro & @khinsen: would either of you be able to review this submission?

[2016-09-22 04:28] arfon commented on #49
@kyleniemeyer heads up that you don't need to do the `@whedon start review` step on this issue as all of the review metadata is already here at the top of the thread.

[2016-09-22 04:29] kyleniemeyer commented on #76
Hi @jordigh & alex-konovalov: would either of you be able to review this submission? I've also requested a review from an external subject-area expert, so just one of you would be great.

[2016-09-22 04:30] kyleniemeyer commented on #49
@arfon ah, this one came before the new system, right? I'll just manually change the label once the review starts.

[2016-09-22 04:42] arfon commented on #49
Yep. Still do the `@whedon assign @username as reviewer` though as this gives the reviewer permissions to update the checklist on the issue.

[2016-09-22 05:47] mdnunez commented on #55
It is in my view that @eddelbuettel has fulfilled all the requirements for publication in JOSS.

I feel the author has fulfilled the **Automated Test** requirement due to matching CRAN standards. However I await guidance from @cMadan to check this box as I'm not sure if JOSS requires written text markdown or README in addition to the included test script `tests/loadFiles.R`

I also noticed there i

[2016-09-22 07:31] peterjc commented on #78
Maybe @tseemann could review https://github.com/sanger-pathogens/gff3toembl for JOSS? He is very familiar with American sister sequence archive run by the NCBI though his work on Prokka https://github.com/tseemann/prokka - even if he does not submit to the European sequence archive himself?

[2016-09-22 09:29] andrewjpage commented on #78
@andersgs has volunteered to review it if thats acceptable.

[2016-09-22 10:25] eddelbuettel commented on #55
NB: there are actually two test scripts: `tests/saveAndLoad.R`, and `tests/loadFiles.R`.

And I removed the redundant Python line `np.arrange(3.4)`; that was a copy-and-paste left over from [the package webpage](http://dirk.eddelbuettel.com/code/rcpp.cnpy.html) where I removed it too.

[2016-09-22 14:11] kyleniemeyer commented on #76
@whedon assign @mtezzele as reviewer

[2016-09-22 14:12] whedon commented on #76
OK, the reviewer is @mtezzele

[2016-09-22 14:13] kyleniemeyer commented on #76
@whedon start review

[2016-09-22 14:13] whedon commented on #76
You didn't say the magic word! Try this:

[code]

[2016-09-22 14:16] kyleniemeyer commented on #76
@whedon start review magic-word=bananas

[2016-09-22 14:46] arfon commented on #76
@whedon start review magic-word=bananas

[2016-09-22 14:46] whedon commented on #76
OK starting the review

[2016-09-22 14:46] whedon opened #79 "[REVIEW]: Python Active-subspaces Utility Library"
**Submitting author:** @paulcon (<a href="http://orcid.org/0000-0003-3726-6307">Paul Constantine</a>)
**Repository:** <a href="https://github.com/paulcon/active_subspaces" target ="_blank">https://github.com/paulcon/active_subspaces</a>
**Version:** v 0.1
**Editor:** @kyleniemeyer
**Reviewer:** @mtezzele
**Archive:** <a href="http://doi.org/10.5281/zenodo.158941" target="_blank">10.5281/zenodo.158

[2016-09-22 15:09] kyleniemeyer commented on #79
Hi @mtezzele, the actual review will be performed in here, just FYI.

[2016-09-22 15:12] arfon commented on #78
That sounds good to me.

[2016-09-22 15:12] arfon commented on #78
@whedon assign @arfon as editor

[2016-09-22 15:12] whedon commented on #78
OK, the editor is @arfon

[2016-09-22 15:18] arfon commented on #78
@whedon assign @andersgs as reviewer

[2016-09-22 15:18] whedon commented on #78
OK, the reviewer is @andersgs

[2016-09-22 15:18] arfon commented on #78
@whedon start review

[2016-09-22 15:18] whedon commented on #78
You didn't say the magic word! Try this:

[code]

[2016-09-22 15:19] arfon commented on #78
@whedon start review magic-word=bananas

[2016-09-22 15:19] whedon opened #80 "[REVIEW]: GFF3toEMBL: Preparing annotated assemblies for submission to EMBL"
**Submitting author:** @andrewjpage (<a href="http://orcid.org/0000-0001-6919-6062">Andrew Page</a>)
**Repository:** <a href="https://github.com/sanger-pathogens/gff3toembl.git" target ="_blank">https://github.com/sanger-pathogens/gff3toembl.git</a>
**Version:** v1.1.0
**Editor:** @arfon
**Reviewer:** @andersgs
**Archive:** <a href="https://dx.doi.org/10.6084/m9.figshare.3988815.v1" target ="_blan

[2016-09-22 15:20] arfon commented on #78
OK the review is open in https://github.com/openjournals/joss-reviews/issues/80 now. @andersgs @andrewjpage let's head over there.

[2016-09-22 15:20] #78 closed

[2016-09-22 18:21] eddelbuettel commented on #55
Concerning @mdnunez concern about

I went back to the [Author guidelines](http://joss.theoj.org/about#author_guidelines) which are clearer:

which we fully support in the package:
- unit tests automatic when the standard `R CMD check ....`  command is running,
- we have Travis CI connected (and all results [are available](https://travis-ci.org/eddelbuettel/rcppcnpy/builds)) to run checks on each c

[2016-09-22 19:01] mdnunez commented on #55
@eddelbuettel gave convincing enough arguments to check the **Automated Test** box. (Btw: Are the Travis CI results linked to from the repository?)

No problem! This was overall a very pleasant review process.

[2016-09-22 19:02] cMadan commented on #55
Thank you for the quick and thorough review, @mdnunez!

I have a few additional comments/suggestions before acceptance.

(1) paper.md didn't pull the author information properly (hopefully @arfon can look into that), however, the package vignette on CRAN (https://cran.r-project.org/web/packages/RcppCNPy/vignettes/RcppCNPy-intro.pdf) includes a second author, also listed in the README.md, that isn'

[2016-09-22 19:25] eddelbuettel commented on #55
Briefly

(1) I will add Wush.
(2) Yes, that occurred to me too, and I saw other JOSS submission do it. Will do.
(3) The delta is temporary and are the changes I made in the 24 hours in response to this very issue ticket / review.  I consider CRAN to be the primary and always push releases.  GitHub is my development repository.  This policy has been consistent and transparent for ten+ year across t

[2016-09-22 19:26] nicoguaro commented on #79
:hand: I can review this

[2016-09-22 19:40] kyleniemeyer commented on #76
@whedon assign @nicoguaro as reviewer

[2016-09-22 19:40] whedon commented on #76
OK, the reviewer is @nicoguaro

[2016-09-22 19:42] kyleniemeyer commented on #79
@nicoguaro thanks! Both you and @mtezzele will be reviewing; it looks like we have a @whedon bug that only lets one person be the "official" reviewer at a time. Don't worry about that for now, we'll get it fixed.

[2016-09-22 19:45] cMadan commented on #55
(3) I still think it would be good to add `install.packages("RcppCNPy")` to the README.md, to be overtly clear how the package can be installed from CRAN. This also may be useful in preventing confusion related to the case-sensitivity (also since the GitHub repo is named in all lowercase).

(5) Despite the package not using any NumPy code, it is built as a means to read-write from the NumPy data f

[2016-09-22 20:03] eddelbuettel commented on #55
(3) Yes I agree (and I edited the above commented twice). I checked, and this package does not have the short block most my other packages have -- ie preference for `install.packages()`. I will add that.

(5) Yes. No point to debate this death.  Taken further, we could also cite R and Python. But NumPy is appropriate, and cnpy even more so.  Any tips on citing 'unpublished' github repos?

[2016-09-22 21:02] eddelbuettel commented on #55
@arfon: Regarding `paper.md` and `paper.pdf`, I raise a white flag. I must be using the wrong pandoc invocation. I even compared carefully against the files in two already-published JOSS pieces.

I have used

[code]

without additional bells and whistles.  Do I need some?    Pandoc is 1.16.0.2 on Ubuntu 16.04.

[2016-09-22 22:25] cMadan commented on #55
For citing unpublished GitHub repos, take a look at this:
http://academia.stackexchange.com/a/14015

As for compiling paper.md, normally @arfon does this (not the author). After you commit these last changes, I'll be happy to accept your submission for publication in JOSS.

[2016-09-22 22:39] nicoguaro commented on #79
I installed the software in Windows 7 and ran the tests, that were successful.

I was trying to run the Jupyter notebook in the folder ``tutorials``, but it returns the following error in cell number 4.

    ---------------------------------------------------------------------------
    AttributeError                            Traceback (most recent call last)
    <ipython-input-4-1bdb1654efc5> i

[2016-09-22 23:07] cMadan commented on #60
@JonathanAMichaels - sorry for the delay in reviewing your submission.

I looked at the documentation, tried the examples, and checked over everything--your submission impressively follows the JOSS guidelines as-submitted!

I have only two minor suggestions that need to be addressed:
(1) paper.bib, references are missing DOIs.
(2) README.md, typo: "dependecies"

Pending these very minor changes, I

[2016-09-23 02:55] #76 closed

[2016-09-23 03:01] eddelbuettel commented on #55
Yes, agreed, `@Misc` or `@Manual` are good BibTeX types for that. I just updated the .bib and .pdf [once more](https://github.com/eddelbuettel/rcppcnpy/commit/7a7af0908ab6f72872e84d8e42b9254eb91ec9fd). I also added a reference for the actual package RcppCNPy.

More to come, will report back once done.

[2016-09-23 03:11] cMadan commented on #55
Sounds good!

Just since I took a look, typo "DRead" in the bib. For NumPy, it would be better to cite the suggested 2011 paper (https://www.scipy.org/citing.html), rather than the SciPy website.

[2016-09-23 03:24] eddelbuettel commented on #55
Typo fixed.  NumPy reference fixed; thanks for catching that. It's been a long day...

[2016-09-23 04:11] JonathanAMichaels commented on #60
Thank you for the very positive review!

I have corrected both errors with the exception of one reference that does not have a DOI.

[2016-09-23 04:49] cMadan commented on #60
Looks good to me!

@arfon - I am happy to recommend this submission be accepted at JOSS.

[2016-09-23 04:51] cMadan commented on #55
No worries! Let me know when I should check everything over.

[2016-09-23 06:37] mtezzele commented on #79
Minor issue regarding the version: the release is 0.1 and the installed (now) is 0.1.1.

[2016-09-23 13:11] Kevin-Mattheus-Moerman commented on #47
@simonfuhrmann @kangxue @mikhail-matrosov @daeyun @lasvegasrc @daviddoria @krm15 @kysucix is this your cup of tea? Are you willing to sign up as a [JOSS](joss.theoj.org) reviewer and review this submission?

Link to the submission in JOSS:
https://github.com/openjournals/joss-reviews/issues/47

The project GitHub repository:
https://github.com/theICTlab/3DUNDERWORLD-SLS-GPU_CPU

The paper:
https:/

[2016-09-23 13:29] daviddoria commented on #47
:hand: I will review this weekend.

[2016-09-23 13:46] jakevdp commented on #61
Neal was not interested, nor were a couple other R/Bayesian folks. Still reaching out to some...

[2016-09-23 14:02] Kevin-Mattheus-Moerman commented on #47
@charalambos Some editorial comments on  your paper.
Could all authors share the same affiliation index? (currently affiliations are copied 3 times in paper).
In your paper you mention:

Could you expand on this please. This would be very helpful for the current reviewers but also future readers. Where are the models? What of models are these? What is the "report"? Could you even say something lik

[2016-09-23 14:03] Kevin-Mattheus-Moerman commented on #47
@daviddoria Thanks! Welcome on board Sir!

[2016-09-23 14:19] Kevin-Mattheus-Moerman commented on #47
@whedon assign @daviddoria as reviewer

[2016-09-23 14:19] whedon commented on #47
I'm sorry @Kevin-Mattheus-Moerman, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2016-09-23 14:20] eddelbuettel commented on #55
I just expanded `README.md` as discussed, and with that should have addressed the points you made yesterday.   All changes are still in the [features/joss branch](https://github.com/eddelbuettel/rcppcnpy/tree/feature/joss) which I intend to merge once we have finalized the review.

[2016-09-23 14:26] Kevin-Mattheus-Moerman commented on #47
@arfon Can you check what is wrong here?

[2016-09-23 14:26] Kevin-Mattheus-Moerman commented on #47
@rougier do you know an additional reviewer at INRIA perhaps?

[2016-09-23 14:49] arfon commented on #47
@whedon list editors

[2016-09-23 14:49] whedon commented on #47
Current JOSS editors:

[code]

[2016-09-23 14:50] arfon commented on #47
@Kevin-Mattheus-Moerman you should be good to go now.

[2016-09-23 14:57] Kevin-Mattheus-Moerman commented on #47
@whedon assign @daviddoria as reviewer

[2016-09-23 15:08] arfon commented on #47
@whedon assign @daviddoria as reviewer

[2016-09-23 15:24] karthik commented on #61
@jakevdp You might ask @drgtwo if he's interested and has the time.

[2016-09-23 15:57] arfon commented on #47
@whedon assign @daviddoria as reviewer

[2016-09-23 15:57] whedon commented on #47
OK, the reviewer is @daviddoria

[2016-09-23 17:56] cMadan commented on #55
Perfect, I am happy to accept the submission in it's current form.

@arfon - for archiving the code, does CRAN count as a suitable repository or should it also be in zenodo/figshare ?

[2016-09-23 18:07] arfon commented on #55
No, it also needs to be in Zenodo or figshare.

[2016-09-23 18:25] arfon commented on #50
@whedon list editors

[2016-09-23 18:25] whedon commented on #50
Current JOSS editors:

[code]

[2016-09-23 18:25] arfon commented on #50
@whedon assign @mgymrek as editor

[2016-09-23 18:26] whedon commented on #50
OK, the editor is @mgymrek

[2016-09-23 18:27] arfon commented on #50
@mgymrek :wave: I'm happy to help edit this one with you.

[2016-09-23 19:54] Kevin-Mattheus-Moerman commented on #64
@mdietze @roliveros-ramos @jscamac @tpoisot is this your cup of tea? Would you be willing to act as reviewer for this submission?

[2016-09-23 20:05] arfon commented on #60
@cMadan thanks for turning this around quickly.

@JonathanAMichaels at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-09-23 20:11] tpoisot commented on #64
If it runs in Octave, yes.

[2016-09-23 20:18] roliveros-ramos commented on #64
It is, I'll be happy to do it.

[2016-09-23 20:19] JonathanAMichaels commented on #60
@arfon Done! Here's the archive: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.154745.svg)](https://doi.org/10.5281/zenodo.154745)

[2016-09-23 20:46] Kevin-Mattheus-Moerman commented on #64
@whedon assign @roliveros-ramos as reviewer

[2016-09-23 20:46] whedon commented on #64
OK, the reviewer is @roliveros-ramos

[2016-09-23 20:50] Kevin-Mattheus-Moerman commented on #64
@kakearney I recommend adding a statement in your paper or documentation on compatibility with Octave.

[2016-09-23 20:56] Kevin-Mattheus-Moerman commented on #64
@tpoisot Thanks for your quick response.  I've asked the authors to clarify compatibility with Octave. I have just assigned @roliveros-ramos as reviewer 1. For the moment the form at the top here handles a single reviewer (we are expanding our system to easily handle multiple reviewers). If you want to review it as well (if compatible with Octave) that would be great. For you to contribute as a se

[2016-09-23 21:20] mdietze commented on #64
Looks like you're covered, and I don't run MATLAB so I wouldn't have been helpful anyway.

[2016-09-23 21:23] kakearney commented on #64
I've never worked with Octave myself, so I'll have to download it and run
some tests.  I'll update the paper accordingly once I've had a chance to do
that.

-Kelly

On Fri, Sep 23, 2016 at 1:56 PM, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2016-09-23 21:23] Kevin-Mattheus-Moerman commented on #64
@mdietze yes, understood. Thanks for the quick reply!

[2016-09-23 21:30] Kevin-Mattheus-Moerman commented on #64
@kakearney It is likely that it is not fully compatible. A basic statement saying that compatibility has not been confirmed could suffice to. But to do a very quick check for compatibility here are some tips. Identify the most complex MATLAB functions in your submission, or functions requiring a special toolbox, or functions that seem very new in MATLAB (I sometimes, somewhat unfairly, refer to Oc

[2016-09-23 21:39] arfon commented on #60
@whedon commands

[2016-09-23 21:39] whedon commented on #60
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-09-23 21:40] arfon commented on #60
@whedon set 10.5281/zenodo.154745 as archive

[2016-09-23 21:40] whedon commented on #60
OK. <a href='http://dx.doi.org/10.5281/zenodo.154745' target='_blank'>10.5281/zenodo.154745</a> is the archive.

[2016-09-23 21:57] arfon commented on #60
@whedon set 10.5281/zenodo.154745 as archive

[2016-09-23 21:57] whedon commented on #60
OK. <a href="http://dx.doi.org/10.5281/zenodo.154745" target="_blank">10.5281/zenodo.154745</a> is the archive.

[2016-09-23 23:25] arfon commented on #60
Thanks again for the review @cMadan!

@JonathanAMichaels your paper is now accepted into JOSS. Your paper DOI is http://dx.doi.org/10.21105/joss.00060 🎉 🚀 💥

[2016-09-23 23:25] #60 closed

[2016-09-23 23:29] kbarbary commented on #58
Thanks for the excellent feedback @danielskatz!

- **Installation**

  I updated the install instructions in both the README and documentation. Here is the part relevant to your problem:

  "If you get an error about permissions, you are probably using your system Python. In this case, I recommend using [pip's "user install"](https://pip.pypa.io/en/latest/user_guide/#user-installs) option to insta

[2016-09-23 23:32] kbarbary commented on #58
Note that you should go to http://sep.readthedocs.io/en/latest to see the latest docs build. I'm planning to do a new release soon, at which point the docs changes will be visible at the default url http://sep.readthedocs.io.

[2016-09-24 02:02] paulcon commented on #79
Thanks for the help, reviewers! A few revisions:

(1) I have fixed the missing attribute errors in the notebooks. That was a consequence of a previous refactoring.
(2) I have corrected the version in setup.py to be consistent with the version release.
(3) I modified the code in utils/reponse_surfaces.py in such a way to remove the divide-by-zero RuntimeWarning.

Comments for @nicoguaro:
We have no

[2016-09-24 03:41] eddelbuettel commented on #55
I have resisted Zenodo so far because the 'one id per release' seems "wrong" -- for some active packages of mine (such as Rcpp or RcppArmadillo) we have six or more releases a year, every year.

Do you want me to set the Zenodo id up for release 0.2.5 that the submission was based on?

Also, I now have the orcid id of my coauthor so there will be one more commit.

[2016-09-24 04:00] eddelbuettel commented on #55
Now done in [this commit](https://github.com/eddelbuettel/rcppcnpy/commit/885fcda79628be85cb43f1fe059f675b9b7177a2).

[2016-09-24 08:01] cMadan commented on #55
Thanks for adding the orcid!

I would say the Zenodo archive doi should correspond to the 'current' version. I.e., version 0.2.5, or newer if you are incrementing the version number based on the changes since the initial submission.

[2016-09-24 11:30] danielskatz commented on #58
Thanks - this enables me to check another box and succeed in the install.

However, there are still some issues:

In the README "execute ./test.py" is a bit misleading.  Perhaps "execute python ./text.py" would be better.

And when I run that, I don't see any result.  No message is returned.  No files are created.  Perhaps this is because I don't have a FITS reader installed.  But even if so, this

[2016-09-24 11:31] mtezzele commented on #79
@paulcon I emailed to you an example of guidelines.

Some functions are not documented. See the last ones in the domains.py file for example.

After fixing these minor issues, to me the software is well written. Tests cover 90% of the code, documentation is clear and the examples provided explain the usage of the software well.

I suggest to accept this work on JOSS.

[2016-09-24 13:34] eddelbuettel commented on #55
Well I was planning to finalize this submission, review and publication (submitted as 0.2.5).  I would then update the package, include the paper and metadata etc pp and call that 0.2.6.

[2016-09-24 14:10] eddelbuettel commented on #55
I created a Zenodo doi:  [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.155066.svg)](https://doi.org/10.5281/zenodo.155066)

[2016-09-24 15:37] arfon commented on #55
@eddelbuettel thanks. Are you planning on making a final Zenodo release with all of the changes (such as including the ORCID of your coauthor) or does [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.155066.svg)](https://doi.org/10.5281/zenodo.155066) already include these changes?

[2016-09-24 15:40] arfon commented on #79
@mtezzele thanks for the review here :zap: @nicoguaro - do you agree?

@paulcon if you can make these final changes (and pending @nicoguaro's approval) we can move forward with accepting this. Please note, once all changes have been made we need you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive.

[2016-09-24 18:31] kbarbary commented on #58
The `py.test` executable is provided by the `pytest` package, which is required to run the tests. The README does mention this requirement ("requires the pytest package"), but it could be more prominent.

[2016-09-24 18:48] eddelbuettel commented on #55
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.155066.svg)](https://doi.org/10.5281/zenodo.155066) archives the current CRAN release 0.2.5 on which the submission was based.

I plan to release 0.2.6 once we are done here and could provide another Zenodo DOI for that.

[2016-09-24 18:57] danielskatz commented on #58
I have pytest installed (via pip). Perhaps I need to do something with my path?

[2016-09-24 19:02] danielskatz commented on #58
ok, resolved - not sure if this should be part of the docs or not.

Now that I have this working, I get 20 successes and 1 failure:

tmp3:sep dsk$ ./test.py
============================= test session starts ==============================
platform darwin -- Python 2.7.10, pytest-3.0.2, py-1.4.31, pluggy-0.3.1
rootdir: /Users/dsk/Desktop/sep, inifile:
collected 21 items

test.py F...................

[2016-09-24 19:51] kbarbary commented on #58
This is a bug that is fixed on master (you have the master version of the tests, but the release version of the library). I'm planning to release a new version with the fix soon, but want to address any remaining issues here first.

[2016-09-24 22:04] danielskatz commented on #58
Is it worth updating the paper for the new version?

I think that would be best, but if not, I will approve this one.

[2016-09-24 22:12] kbarbary commented on #58
I agree. I'll do the release and post here after the paper is updated (including a new zenodo DOI).

[2016-09-25 02:20] labarba commented on #77
@fonnesbeck — I'm a bit at a loss here to shepherd the review of this paper, as I'm unfamiliar with the methods and application mentioned in the description ... I remember that you worked in some ecological applications of stats and data science: would you be able to review this paper for JOSS, or to suggest another appropriate reviewer?
Reviewer guidelines at:
http://joss.theoj.org/about#reviewer

[2016-09-25 02:37] arfon commented on #55
@eddelbuettel - based on @cMadan's [comment](https://github.com/openjournals/joss-reviews/issues/55#issuecomment-249260290) I think we're good to accept in the current state. If you want to make the 0.2.6 release and the corresponding Zenodo archive I can move forward with accepting the submission.

[2016-09-25 02:40] cMadan commented on #55
Right, I do think 0.2.6 should be the accepted version, since that's the version that includes the changes made as part of the review.

[2016-09-25 03:34] eddelbuettel commented on #55
Sounds good, and as I recall that is also how JSS does it.  So what if any updated files (or information) do I need from you to finalize 0.2.6?

[2016-09-25 04:48] arfon commented on #55
I believe you can move forward and make the 0.2.6 release now based on the `feature/joss` branch.

[2016-09-25 04:50] eddelbuettel commented on #55
No -- I cannot reference a JOSS publication.

[2016-09-25 04:51] arfon commented on #55
Sorry, where do you need to create this reference?

[2016-09-25 04:53] eddelbuettel commented on #55
It would be part of the post-publication release and tarball, including inter alia a file `inst/CITATION` providing data for R's `citation()` function.

[2016-09-25 04:54] arfon commented on #55
Ah OK. Well, the DOI for the paper will be http://dx.doi.org/10.21105/joss.00055 (although I've not created the DOI yet). Can you just include that?

[2016-09-25 04:55] eddelbuettel commented on #55
Yes I could.  Are you saying that you want me to _blink first_ so that you can finalize, ie you need 0.26 present?

(Also see my last round of edits to prev comment)

[2016-09-25 04:58] arfon commented on #55
😀 that would be great. The thing I really need is the DOI pointing to the 0.2.6 release.

I agree this is a tad strange and we're still working through some of these issues in our editorial process. Thanks for your patience :-)

[2016-09-25 04:58] eddelbuettel commented on #55
Let me give it a look over in the morning.

[2016-09-25 05:01] arfon commented on #55
Perfect. Thanks.

[2016-09-25 08:45] chtheodoro commented on #77
If I am allowed to propose, maybe @jsta could help here as I see he has a strong ecological background. Although we need someone familiar with fuzzy logic, the submission is not hard to follow if you see the README.md. I am here also for any questions 😊

[2016-09-25 13:50] fonnesbeck commented on #77
@labarba I will have a look, and either review it myself or suggest another. I have done some stream ecology work in the past, but not these methods.

[2016-09-25 14:06] eddelbuettel commented on #55
Here is one thing I certainly need from you:  volume issue, as well as a look over.  File `inst/CITATION` currently has

[code]

Month, volume, issue are probably wrong. I hand-formated the text variant. do you want changes?

I had a `doi` entry in there, but then R chokes over it when running `citation("RcppCNPy")`.  As shown above, it works (but may need tweaks):

[code]

[2016-09-25 14:13] eddelbuettel commented on #55
Last but not least you would have to turn the publication on so that I can refer to it:

[code]

[2016-09-25 14:25] eddelbuettel commented on #55
Which would block CRAN admission:

[code]

[2016-09-25 14:43] daviddoria commented on #47
All,

Please excuse the "newbie" questions as I'm new to this process :).

I started checking boxes at the top of this issue for things that I verified. Presumably for things that I do NOT check there should be somewhere to explain why I did not check them?

I am having trouble building the project. I have listed the first two issues below - is this where I should discuss these things? Can/should

[2016-09-25 14:45] daviddoria commented on #47
@Kevin-Mattheus-Moerman FYI the link you posted in your post "is this your cup of tea? Are you willing to sign up as a JOSS reviewer and review this submission?" links to https://github.com/openjournals/joss-reviews/issues/joss.theoj.org which seems to be broken.

[2016-09-25 14:52] daviddoria commented on #47
@charalambos The link to the paper https://github.com/openjournals/joss-reviews/files/402839/10.21105.joss.00047.pdf is an extremely short document with no images, etc. However I see in your /doc folder that there are a bunch of image files. Is there a more "real" document that I'm missing?

[2016-09-25 15:00] v3c70r commented on #47
@daviddoria GLM can be installed with `sudo apt install libglm-dev` on Ubuntu.

[2016-09-25 15:02] arfon commented on #55
OK, the DOI is registered now: http://dx.doi.org/10.21105/joss.00055 but it won't resolve to the JOSS site properly yet.

Quoting from the submitted Crossref metadata:

[code]

Also, please merge [this PR](https://github.com/eddelbuettel/rcppcnpy/pull/10) into your changes before making the 0.2.6 release. The current paper metadata is malformed.

[2016-09-25 15:08] eddelbuettel commented on #55
Well, close, but not cigar:

[code]

[2016-09-25 15:28] eddelbuettel commented on #55
Volume and issue updated [in this commit to branch](https://github.com/eddelbuettel/rcppcnpy/commit/69b0d396237be15d699af2305bdc364bd72a3bbf) and now yields:

[code]

[2016-09-25 15:32] daviddoria commented on #47
I'm getting this error:
/home/doria/source/3DUNDERWORLD-SLS-GPU_CPU/src/lib/calibration/Calibrator.hpp:41: error: ‘vector’ in namespace ‘cv’ does not name a type
     static cv::vector<cv::Point2f>  manualMarkCheckBoard(cv::Mat img);
            ^

[2016-09-25 15:34] arfon commented on #55
Can you produce the archive (Zenodo/figshare) of the 0.2.6 release _before_ uploading to CRAN? That way we won't run into this:

[code]

[2016-09-25 15:36] arfon commented on #55
Also, https://github.com/eddelbuettel/rcppcnpy/pull/10 isn't required anymore. It looks like you fixed this in your `feature/joss` branch.

[2016-09-25 15:38] eddelbuettel commented on #55
Not really.   I could prepare a _candidate_ tarball, but CRAN is at least as picky as you, and there may be revisions leading to changes in the tarball invalidating the Zenodo doi.

The easiest, really, would be to point to the _exiting_ Zenodo doi for 0.2.5.  Version 0.2.6 will go out, as will (in all likelihood) versions 0.2.7, 0.2.8 and so on.  So there is always a delta.  Why not seal things n

[2016-09-25 15:41] arfon commented on #55
Ok I give up. Let's do that.

If ever there was a case for versioned DOIs this is it. 😂

[2016-09-25 15:44] daviddoria commented on #47
I saw this in Line 14 of Calibrator.hpp:

static std::condition_variable cv;

That seems really fragile given that there is the 'cv' namespace for OpenCV.

[2016-09-25 15:45] eddelbuettel commented on #55
Woot!

I have been thinking about this too.   There is a conflict between software changing and updating as it is never final -- so a DOI for the master branch or its HEAD ? -- as it would not make real sense to create, ie, six DOIs a year for the six Rcpp releases I make.   Yet the one literature reference (the original JSS paper) is really stale.   I'd love a citable reference for 'current Rcpp'

[2016-09-25 15:47] arfon commented on #55
Also, for what it's worth, I don't think it's unreasonable (or that picky) to ask authors to prepare an archive of the software that includes the changes as a result of the JOSS review but this is clearly a problem for folks (like yourself) who are submitting to CRAN.

/ cc @karthik for any ideas how to make this easier in the future.

[2016-09-25 15:48] arfon commented on #55
OK thanks. I'll move forward with accepting.

[2016-09-25 15:48] daviddoria commented on #47
It seems as though an "in source" build is expected (which is almost never recommended). I say that because:
1) The readme says "Binaries are compiled and located in the `bin` folder." which presumably is implying [sourceTree]/bin.

2) When trying to run the executable (I cloned in ~/source/underworld and built in ~/build/underworld), I get:

doria@doria-home:~/build/underworld$ ./bin/SLS
 No imag

[2016-09-25 16:32] arfon commented on #55
@mdnunez - many thanks for the review!

@eddelbuettel - your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00055 🎉 🚀 💥

[2016-09-25 16:32] #55 closed

[2016-09-25 19:52] mgymrek commented on #50
@mbfhunzaker @ptwobrussell @dnmilne is https://github.com/n3mo/massmine your cup of tea? Are you willing to sign up as a reviewer and review this submission?

[2016-09-25 22:40] paulcon commented on #79
I have made the following changes:

(1) Updated community guidelines following a helpful example from @mtezzele
(2) Expanded documentation for functions in domains.py, subpsaces.py, and utils/misc.py following the suggestions from @mtezzele. These are now updated in the latest build on ReadTheDocs.

If there anything else, please let me know. Thanks!

[2016-09-25 23:40] kyleniemeyer commented on #79
Thanks @paulcon!

@mtezzele and @nicoguaro are your concerns/questions all satisfied? I see that a few checkboxes at the top of the issue are still empty—have those issues been resolved?

[2016-09-26 00:26] Kevin-Mattheus-Moerman commented on #47
@daviddoria thanks again for reviewing this submission. To answer your questions.

Yes, please post any comments and issues you want to communicate to the authors here. This way the entire review process is open and traceable.

[2016-09-26 08:12] mtezzele commented on #79
@kyleniemeyer all my concerns are satisfied.

[2016-09-26 13:28] Kevin-Mattheus-Moerman commented on #47
@daviddoria in relation to

Papers in JOSS are deliberately short. See some of our motivation behind it here:
http://www.arfon.org/announcing-the-journal-of-open-source-software

Here are are paper content requirements: http://joss.theoj.org/about where it says

and see some examples of accepted papers here:
http://joss.theoj.org/papers/popular

So the "real" document you refer to (you probably me

[2016-09-26 13:29] Kevin-Mattheus-Moerman commented on #47
@daviddoria authors are allowed to include figures in the paper however so of course you can also recommend that if you feel it is needed.

[2016-09-26 14:11] charalambos commented on #47
@daviddoria There is also a "traditional" paper that goes along with the code and described the technique at arxiv: http://arxiv.org/abs/1406.6595

There is also a user's manual for setting up and using the software. This was written for a previous version but the setup is identical: http://www.3dunderworld.org/wp-content/uploads/2014/03/3DUNDERWORLD-SLSv3.0.pdf

[2016-09-26 14:38] daviddoria commented on #47
@charalambos
Thanks for the link to the traditional paper. The setup instructions still do not seem to list anything about prerequisites (which version of cmake/opencv/etc is required, which packages likely need to be installed on common platforms (the GLM issue I had), etc.

Did you see my comment about the assumption about an in-source build? I was going to say that is blocking me from continuin

[2016-09-26 14:43] v3c70r commented on #47
@daviddoria
Yes, I saw your comment on the code. Sorry I didn't get chance to touch the code last weekend, I'll fix it later tonight.

[2016-09-26 14:56] Kevin-Mattheus-Moerman commented on #47
@charalambos @daviddoria the paper may cite other and previous works. However the software submission for JOSS should stand-alone i.e. we cannot simply refer to another paper and old documentation from a previous version.

I would prefer if the authors did the following.
1) Expand the paper to give a more complete description of the software functionality. Consider including an overview figure to

[2016-09-26 19:33] nicoguaro commented on #79
@kyleniemeyer, I have some comments

- It works fine in Linux Mint 18 (64 bits).
- I installed Gurobi (in Linux), but I can't tell if it is being used or not. When I ran the test, the elapsed time was about the same.
- The software works under Windows, if Python 32 bits is used.

Regarding the documentation that it should include more than just the docstrings from the code. Some points that I cons

[2016-09-26 19:42] paulcon commented on #79
Thanks, @nicoguaro. These are excellent suggestions for the documentation. I can have them done by next week.

[2016-09-26 21:59] whedon opened #81 "[PRE REVIEW]: Correlation Trait Loci (CTL) mapping: phenotype network inference subject to genotype"
**Submitting author:** @DannyArends (<a href="http://orcid.org/0000-0001-8738-0162">Danny Arends</a>)
**Repository:** <a href="https://github.com/DannyArends/CTLmapping" target ="_blank">https://github.com/DannyArends/CTLmapping</a>
**Version:** v1.0.0-joss-1
**Editor:** @biorelated
**Reviewer:** @byandell

**What this issue is for**

Thanks for submitting your paper to JOSS @DannyArends. The JOSS

[2016-09-26 21:59] whedon commented on #81
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @biorelated it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-09-26 21:59] arfon commented on #81
@biorelated would you be able to play the role of editor on this submission?

[2016-09-27 10:55] fonnesbeck commented on #77
I will volunteer to review the paper.

[2016-09-27 11:02] pjotrp commented on #53
Hi @luizirber, any idea when you can do the review? Thanks.

[2016-09-27 11:51] labarba commented on #77
@whedon assign @fonnesbeck as reviewer

[2016-09-27 11:51] whedon commented on #77
OK, the reviewer is @fonnesbeck

[2016-09-27 15:22] arfon commented on #77
@whedon start review

[2016-09-27 15:22] whedon commented on #77
You didn't say the magic word! Try this:

[code]

[2016-09-27 15:22] arfon commented on #77
@whedon start review magic-word=bananas

[2016-09-27 15:22] whedon opened #82 "[REVIEW]: Habfuzz: A Fortran tool to calculate the instream hydraulic habitat suitability based on fuzzy logic"
**Submitting author:** @chtheodoro (<a href="http://orcid.org/0000-0002-5395-0347">Christos Theodoropoulos</a>)
**Repository:** <a href="https://github.com/chtheodoro/Habfuzz" target ="_blank">https://github.com/chtheodoro/Habfuzz</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @fonnesbeck
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.163291" target="_blank">https://dx.doi.org

[2016-09-27 15:24] arfon commented on #77
OK, the review is issue is over here: https://github.com/openjournals/joss-reviews/issues/82

@fonnesbeck - please take a look at that issue for completing the review.

[2016-09-27 15:24] #77 closed

[2016-09-27 18:20] brylie commented on #63
A Github release was just made:

https://github.com/carlganz/rintrojs/releases

[2016-09-27 18:21] brylie commented on #63
The project license was updated:

https://github.com/carlganz/rintrojs/commit/ae3137d2168fa8937dae1c2fb708895ce566338e

[2016-09-27 18:22] brylie commented on #63
Contribution guidelines and code of conduct were just added:

https://github.com/carlganz/rintrojs/commit/7d6bf2d662a16325618910506ff669281ce10d98

[2016-09-27 18:22] brylie commented on #63
Statement of Need was added:

https://github.com/carlganz/rintrojs/commit/d3ef95ad448bac7d63f74899fff6269c93484186

[2016-09-27 20:52] kyleniemeyer commented on #79
Great @paulcon! Please just update here when you're done, and we can wrap this up.

[2016-09-28 10:34] andersgs commented on #80
Terrific work. Nice that you provide a `Docker`. It would be nicer if it were smaller, but I understand the reasons for using the base image. I just had difficulty with the brew install on the mac (sanger-pathogens/gff3toembl#63), and noticed that the brew recipe is one version behind (sanger-pathogens/gff3toembl#62).

Anders.

[2016-09-28 14:07] whedon opened #83 "[PRE REVIEW]: VCFPy: a Python 3 library with good support for both reading and writing VCF"
**Submitting author:** @holtgrewe (<a href="http://orcid.org/0000-0002-3051-1763">Manuel Holtgrewe</a>)
**Repository:** <a href="https://github.com/bihealth/vcfpy" target ="_blank">https://github.com/bihealth/vcfpy</a>
**Version:** v0.7.0
**Editor:** @pjotrp
**Reviewer:** @chapmanb

**What this issue is for**

Thanks for submitting your paper to JOSS @holtgrewe. The JOSS editor (shown at the top o

[2016-09-28 14:07] whedon commented on #83
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-09-28 14:08] arfon commented on #83
@pjotrp - would you be able to handle this submission?

[2016-09-28 16:06] pjotrp commented on #83
@arfon sure

[2016-09-28 18:40] gymreklab commented on #83
Might I suggest @lh3 as a potential reviewer?

[2016-09-28 19:56] pjotrp commented on #83
I was thinking of asking the biopython members @peterjc, what do yo think? Heng we should reserve for something more performance related - that is unless @lh3 wants to have a go at JOSS?

[2016-09-28 20:03] peterjc commented on #83
I've not used VCF so I think that might rule me out. Perhaps @chapmanb would be a better match?

[2016-09-29 00:55] paulcon commented on #79
I have updated the documentation following @nicoguaro's helpful suggestions. The only one I did not include was the FAQ. Instead, I pointed interested readers to the Active Subspaces website and the associated SIAM book.

Please let me know if you need anything else. Thanks!

[2016-09-29 01:22] paulcon commented on #79
Oops... documentation example has a bug. One second...

[2016-09-29 01:35] paulcon commented on #79
Okay, good to go.

[2016-09-29 04:21] kyleniemeyer commented on #79
Thanks @paulcon! @nicoguaro it looks to me that your remaining issues have been satisfied, can you confirm?

If so, @paulcon the last step is for you to archive the latest version with Zenodo or figshare (e.g.), then let us know the resuting DOI here. (I'd also encourage you to add a badge to the README with the DOI.)

[2016-09-29 08:22] cvitolo commented on #52
Hi @arfon and @pragyansmita. Just wanted to know whether there is anything I can do to move forward with this submission? Many thanks

[2016-09-29 12:59] nicoguaro commented on #79
@kyleniemeyer, @paulcon, it is good to go.

As a comment to @kyleniemeyer, can the generated PDF include the affiliation of authors 1-4 just once and use the superindex 1 to all of them?

[2016-09-29 15:00] jakevdp commented on #61
Hi folks,
I'm completely striking out finding a reviewer for this. To be entirely honest, I accepted this thinking it was a Python package. I'm finding I don't have enough ties to the Rstats community to find an appropriate person/someone who knows me well enough to not blow me off.

Is there a way to re-assign this to another editor? I'm frankly out of ideas.

[2016-09-29 15:09] paulcon commented on #79
Here's the DOI:
http://doi.org/10.5281/zenodo.158941

What is the proper way to cite this, e.g., in BibTex?

[2016-09-29 16:10] arfon commented on #79
@nicoguaro - can you reformat the paper metadata to look like this?  https://raw.githubusercontent.com/msmbuilder/osprey/master/paper/paper.md

[2016-09-29 16:12] kyleniemeyer commented on #79
@arfon that should be directed at @paulcon 😄

@paulcon That is a great question—I would normally do "Author, Title + version #, year, Zenodo, DOI". Now that you have the JOSS paper though, you can cite that instead (or in addition to).

[2016-09-29 16:13] arfon commented on #79
Opps, sorry. @paulcon - can you reformat the paper metadata to look like this? https://raw.githubusercontent.com/msmbuilder/osprey/master/paper/paper.md

[2016-09-29 16:36] arfon commented on #61
@karthik - would you be able to take this one?

[2016-09-29 17:25] paulcon commented on #79
Done. Thanks!

[2016-09-29 18:02] karthik commented on #61
Sure. Assign it to me. Will handle on Friday when I'm back. 

On Thu, Sep 29, 2016 at 6:36 PM +0200, "Arfon Smith" <notifications@github.com> wrote:

@karthik - would you be able to take this one?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-09-29 18:12] arfon commented on #61
@whedon assign @karthik as editor

[2016-09-29 18:12] whedon commented on #61
OK, the editor is @karthik

[2016-09-29 19:02] arfon commented on #79
Great. If this paper looks good then I think we're good to accept? [10.21105.joss.00079.pdf](https://github.com/openjournals/joss-reviews/files/501490/10.21105.joss.00079.pdf)

[2016-09-29 19:04] paulcon commented on #79
Looks good to me!

[2016-09-29 19:05] nicoguaro commented on #79
Looks good!

[2016-09-29 19:17] arfon commented on #79
@nicoguaro @mtezzele - many thanks for your reviews here.

@paulcon your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00079 🎉 🚀 💥

[2016-09-29 19:17] #79 closed

[2016-09-29 19:39] luizirber commented on #53
I'll do it this weekend.

On 09/27, Pjotr Prins wrote:

[2016-09-29 22:28] carlganz commented on #63
Thanks for the feedback. Let me know if there is anything else you need me to do.

[2016-09-30 06:19] pragyansmita commented on #52
@cvitolo and @arfon - I will take a look. Will let you know if there are questions.

[2016-09-30 19:17] whedon opened #84 "[PRE REVIEW]: Golo - a lightweight dynamic language for the JVM"
**Submitting author:** @jponge (<a href="http://orcid.org/0000-0003-3452-9183">Julien Ponge</a>)
**Repository:** <a href="https://github.com/eclipse/golo-lang" target ="_blank">https://github.com/eclipse/golo-lang</a>
**Version:** v3.2.0
**Editor:** @danielskatz
**Reviewer:** @stevenrbrandt

**What this issue is for**

Thanks for submitting your paper to JOSS @jponge. The JOSS editor (shown at the

[2016-09-30 19:17] whedon commented on #84
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-09-30 19:17] arfon commented on #84
@danielskatz - I'm not sure who is best-placed to edit this submission. Would you be willing to take it?

[2016-10-01 01:36] danielskatz commented on #84
I don’t feel like I know anything about this area, but maybe no one else does either.

I also am not sure how well load-balanced we are - I currently am reviewing one, and have one more that I am the assigned editor for.

If it makes sense for me to do this, I will try.

Dan

--
Daniel S. Katz
Assistant Director for Scientific Software and Applications, NCSA
Research Associate Professor, ECE
Resea

[2016-10-02 11:50] chapmanb commented on #83
Thanks for the ping, happy to help with this.

[2016-10-02 12:14] pjotrp commented on #83
@whedon commands

[2016-10-02 12:14] whedon commented on #83
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-02 12:15] pjotrp commented on #83
@whedon assign @chapmanb as reviewer

[2016-10-02 12:15] whedon commented on #83
OK, the reviewer is @chapmanb

[2016-10-03 04:32] kbarbary commented on #58
I updated the repository (particularly codemeta.json) with the DOI for the new version (v1.0.0).

@arfon If you regenerate the paper, will it reflect the changes in codemeta.json?

[2016-10-03 04:50] pjotrp commented on #81
@whedon help

[2016-10-03 04:51] pjotrp commented on #81
@whedon commands

[2016-10-03 04:51] whedon commented on #81
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-03 04:52] pjotrp commented on #81
@whedon assign @biorelated as editor

[2016-10-03 04:52] whedon commented on #81
OK, the editor is @biorelated

[2016-10-03 04:56] pjotrp commented on #81
@biorelated we need to find a reviewer. Best approach is to look in our network. You can also put a call up on twitter and MLs. @byandell would you be interested to review this work? Take a look at the other reviews to see what it entails.

[2016-10-03 04:57] arfon commented on #81
@pjotrp let's leave this issue open until we have a reviewer too.

[2016-10-03 04:58] pjotrp commented on #81
It was an accident - I am challenged with the mouse and non-text UIs ;). Also note that @whedon does not respond to box updates.

[2016-10-03 05:01] arfon commented on #81
😆 no problem.

Not sure what you mean by _'box updates'_?

[2016-10-03 14:41] SebastianBocquet commented on #46
Dear All,

below you will find our response to the second referee report.

Best regards,
Sebastian Bocquet

_____

Thanks very much for the additional comments. We think our package is much
better as a result of this review and we are both glad we went through this
process. We copy the most recent comments here, and reply to them in green
text.

The comment about "sigmas" has nothing to do with Ga

[2016-10-03 17:06] biorelated commented on #81
+1 👍

[2016-10-03 17:14] dfm commented on #46
Awesome work! This is getting really close.

I installed a clean Python 2.7 (I tried making a few small changes to support Python 3 but it might take some work!) conda environment with numpy, matplotlib, pandas, and nose. I also removed my .matplotlib directory so there aren't any rcParams set. With this installation, I ran the tests with the master branch of pyGTC and got [this list of failures](

[2016-10-03 20:22] arfon commented on #58
Currently no. That would be very nice if it did 😁

Would you mind adding the DOI link to this issue too?

[2016-10-04 14:58] arfon commented on #83
@whedon start review

[2016-10-04 14:59] whedon commented on #83
You didn't say the magic word! Try this:

[code]

[2016-10-04 14:59] arfon commented on #83
@whedon start review magic-word=bananas

[2016-10-04 14:59] whedon opened #85 "[REVIEW]: VCFPy: a Python 3 library with good support for both reading and writing VCF"
**Submitting author:** @holtgrewe (<a href="http://orcid.org/0000-0002-3051-1763">Manuel Holtgrewe</a>)
**Repository:** <a href="https://github.com/bihealth/vcfpy" target ="_blank">https://github.com/bihealth/vcfpy</a>
**Version:** v0.7.0
**Editor:** @pjotrp
**Reviewer:** @chapmanb
**Archive:** <a href="https://dx.doi.org/10.6084/m9.figshare.3863583.v2" target="_blank">https://dx.doi.org/10.6084/m

[2016-10-04 14:59] whedon commented on #85
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-04 15:03] whedon commented on #83
OK, I've started the review over in https://github.com/openjournals/joss-reviews/85. Feel free to close this issue now!

[2016-10-04 15:17] whedon opened #86 "[PRE REVIEW]: Mordecai: Full Text Geoparsing and Event Geocoding"
**Submitting author:** @ahalterman (<a href="http://orcid.org/0000-0001-9716-9555">Andrew Lee Halterman</a>)
**Repository:** <a href="https://github.com/openeventdata/mordecai" target ="_blank">https://github.com/openeventdata/mordecai</a>
**Version:** v1.1.0
**Editor:** @acabunoc
**Reviewer:** @riordan

**What this issue is for**

Thanks for submitting your paper to JOSS @ahalterman. The JOSS edi

[2016-10-04 15:18] arfon commented on #86
@acabunoc would you be able to edit this submission for us 😁?

[2016-10-04 15:19] acabunoc commented on #86
Can do 👍  -- I'll take a look later this week

[2016-10-04 15:43] acabunoc commented on #86
@whedon commands

[2016-10-04 15:43] whedon commented on #86
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-04 18:29] SebastianBocquet commented on #46
Thank you very much for finding this issue! This was due to your test
environment not having scipy installed, which in turn was not correctly
handled by pygtc (it is, in fact correctly handled for the smoothing, but
it was not for drawing Gaussian prior curves). We adapted the tests
accordingly and updated the docs ("running tests" in installation section").
Thank you,
Sebastian

On Mon, Oct 3, 20

[2016-10-04 18:53] dfm commented on #46
Nope! That isn't the problem. That was an error that should be caught (as I said above) but this doesn't address the actual problem that I brought up.

[2016-10-04 18:57] SebastianBocquet commented on #46
Your bare.png is not clearly not being smoothed, as opposed to
bare-expected.png, which is due to scipy not being installed, right? I
realize my answer was not very clear. Have you pulled the latest version of
pygtc? This really should fix the problem!

On Tue, Oct 4, 2016 at 1:53 PM, Dan Foreman-Mackey <notifications@github.com

[2016-10-04 22:05] fonnesbeck commented on #82
Unless I am missing something, there is no clear specification of the platforms that the software is compatible with. It appears that it is MS-Windows-only, based on the fact that the installation instructions tell the user to "double-click habfuzz.exe to run the program".

If this is the case, I will not be able to review the paper, as I have no easy access to a Windows machine. It would be nice

[2016-10-04 22:11] kbarbary commented on #58
SEP v1.0.0 DOI: http://dx.doi.org/10.5281/zenodo.159035

[2016-10-04 22:31] arfon commented on #58
@danielskatz by the looks of the checklist I think we're good to accept here. Can you confirm?

[2016-10-04 22:35] dfm commented on #46
Oops. Sorry, I misread your comment. Looks good now. My last comment is that the tests don't close the figures. I'd change:

[code]

to:

[code]

Otherwise this looks good. The only thing that I can't sign off on is the version number. I'm not sure if you need to do something or if @arfon does.

[2016-10-04 23:18] danielskatz commented on #58
No, I want to check this new version first.

On Oct 4, 2016, at 17:31, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

@danielskatz<https://github.com/danielskatz> by the looks of the checklist I think we're good to accept here. Can you confirm?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/o

[2016-10-04 23:46] arfon commented on #46
:zap: thanks @dfm.

@SebastianBocquet if you can make the final changes suggested then I think we're good to accept.

I'll need you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive. You might want to bump the release number to reflect the changes that have been made based on this review.

[2016-10-05 02:42] pragyansmita commented on #52
@whedon start review

[2016-10-05 02:43] whedon commented on #52
I'm sorry @pragyansmita, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2016-10-05 03:09] pragyansmita commented on #52
@arfon How do I get added as an assignee? I dont have access to update the review form. Thanks!

[2016-10-05 03:22] arfon commented on #52
@whedon assign @pragyansmita as reviewer

[2016-10-05 03:22] whedon commented on #52
OK, the reviewer is @pragyansmita

[2016-10-05 03:23] arfon commented on #52
@pragyansmita - you should be able to edit the check list now 😄

[2016-10-05 05:57] chtheodoro commented on #82
'Habfuzz has been developed to run on 32-bit and 64-bit Windows operating systems, including Windows XP, Vista, 7/8 and 10'. I have now inserted the above text at the 'instalation' section.

[2016-10-05 08:20] andersgs commented on #80
I am satisfied everything works as described in the `README`.

[2016-10-05 12:11] labarba commented on #82
I am disinclined to accept in JOSS a piece of software that is Windows only. Although we (the JOSS editors) decided that open-source packages that require a proprietary runtime would be acceptable (reluctantly), that was a decision aimed at things like Matlab code. Software restricting the OS to Windows is in my opinion incompatible with the ethos of open source.

[2016-10-05 12:34] danielskatz commented on #58
I'm happy with the code now.  I see two possible issues still, however:

1 - in the paper, I see "Software Archive: PENDING"  This should be updated to http://dx.doi.org/10.5281/zenodo.159035
2 - in the metadata at the top of this issue, I see "Version: v0.6.0", which should now be 1.0.0

Otherwise, I'm happy to accept this.

[2016-10-05 12:38] chtheodoro commented on #82
I must admit I am not a software developer by profession, I am using Windows and developed this program in Windows. However, considering that the source files are read in every OS I suppose that if someone compiles the fortan files with a Linux-compatible Fortran compiler, it should work. If I am wrong and runs only in Windows then it's ok if you can't accept it.

[2016-10-05 13:18] fonnesbeck commented on #82
The gfortran commands in the `.bat` file seemed to compile just fine, but it looks like the user interface would be the piece that would require some work, if I am interpreting this correctly.

[2016-10-05 13:35] chtheodoro commented on #82
Habfuzz comes without a GUI. It inputs 3 .txt files and outputs 1 .txt file with the suitability in an array. I thought the lack of a GUI is not a problem...  is it?

[2016-10-05 13:40] fonnesbeck commented on #82
I assumed the .exe opened some sort of interface (not necessarily graphical), based on the documentation. No, there is no GUI requirement.

[2016-10-05 13:43] chtheodoro commented on #82
Thank you @fonnesbeck. Please let me know if the review is still ongoing in order to update the README.md instructions. Sorry for any inconvenience caused...

[2016-10-05 15:39] fonnesbeck commented on #82
I am not able to review this, as I do no not readily have access to a Windows machine, either at home or at work. Perhaps we can find someone who does.

[2016-10-05 16:49] arfon commented on #58
👍 I can do these two things.

🎉

[2016-10-05 16:51] arfon commented on #58
@whedon commands

[2016-10-05 16:51] whedon commented on #58
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-05 16:58] arfon commented on #58
@danielskatz many thanks for the thorough review!

@kbarbary your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00058 🎉 🚀 💥

[2016-10-05 16:58] #58 closed

[2016-10-05 17:24] chtheodoro commented on #82
I was wondering if instead of not accepting, I could have some time to test the program and make it run in Ubuntu and Mac OS, with simultaneously updating the installation Information in the README.md...

[2016-10-05 17:39] kbarbary commented on #58
Thanks @arfon and thanks @danielskatz for the review; it improved the package!

[2016-10-05 18:08] arfon commented on #82
@chtheodoro that sounds like a great idea.

[2016-10-05 22:16] arfon commented on #80
Thanks for the review @andersgs! @andrewjpage at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-10-06 01:35] SebastianBocquet commented on #46
The test decorator handles cleaning up the figures. In fact, when trying
your suggestions, nosetests skips the tests.
Please confirm that we're still good to go, and I'll create a release for
the accepted version.

Thanks,
Sebastian

On Tue, Oct 4, 2016 at 5:35 PM, Dan Foreman-Mackey <notifications@github.com

[2016-10-06 02:11] dfm commented on #46
Cool. I got a warning that too many figures were open when I ran the tests in Py3 but that must be because the figures don't get closed if the test fails – seems counter intuitive but that is all I can think of.

Looks good to me!

[2016-10-06 02:33] arfon commented on #46
@dfm - can you confirm we're good to accept at this point?

@SebastianBocquet if @dfm confirms, the next step is to make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-10-06 02:39] dfm commented on #46
👍 good to go!

[2016-10-06 02:52] pragyansmita commented on #52
@cvitolo I am getting another error on following the install steps (Windows R 3.3.1 and Rtools 3.4)

Downloading GitHub repo cvitolo/fuse@master
from URL https://api.github.com/repos/cvitolo/fuse/zipball/master
Installing fuse
"C:/R/R-33~1.1/bin/x64/R" --no-site-file --no-environ --no-save --no-restore --quiet CMD  \
  INSTALL "C:/Users/ITS  \
  Admin/AppData/Local/Temp/Rtmp44Yu27/devtools5b06f716

[2016-10-06 06:50] andrewjpage commented on #80
Thanks for all the work on this.  I've deposited the code in Figshare https://dx.doi.org/10.6084/m9.figshare.3988815.v1

[2016-10-06 14:35] Kevin-Mattheus-Moerman commented on #64
@roliveros-ramos thanks again for agreeing to review this submission. Let me know if you have any questions on the review process. Feel free to leave comments to the authors here. Do you think you can process the review within 2 weeks?

@kakearney any developments on checking compatibility with Octave? Or could you add a statement that is it likely not and has not been checked.

[2016-10-06 14:47] Kevin-Mattheus-Moerman commented on #47
@charalambos @v3c70r any progress on addressing the comments by myself and the reviewer?

@daviddoria thanks again for reviewing this submission. Could you update me on whether you are currently continuing actively reviewing content or if you are waiting for action by the authors?  Thanks.

[2016-10-06 15:02] v3c70r commented on #47
@daviddoria @Kevin-Mattheus-Moerman  Yes.
1)  Now data and configuration files are passed as parameters. The default of the parameters can be used when the bin is compiled in `[sourceTree]/bin`.
2) The readme documents has been updated to contain more information, including the purpose of the tool, an instructions of the sample code and an example of using the library.

[2016-10-06 15:26] arfon commented on #80
Thanks for the review @andersgs.

@andrewjpage your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00080 🎉 🚀 💥

[2016-10-06 15:26] #80 closed

[2016-10-06 17:27] daviddoria commented on #47
@Kevin-Mattheus-Moerman I was waiting for author action. It sounds like the things I was waiting for are now available, so I'll take another look this weekend.

[2016-10-06 17:29] arfon commented on #84
👍 ok no problem. @openjournals/joss-editors does anyone feel like they could handle this submission?

[2016-10-06 17:38] Kevin-Mattheus-Moerman commented on #47
@daviddoria great. Thanks for the update.

[2016-10-06 20:34] pjotrp commented on #81
@whedon assign @byandell as reviewer

[2016-10-06 20:34] whedon commented on #81
OK, the reviewer is @byandell

[2016-10-06 20:35] pjotrp commented on #81
@byandell will review the CTL paper in the coming weeks

[2016-10-06 21:42] danielskatz commented on #84
I am working on finding reviewers.

On Oct 7, 2016, at 03:29, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

I also am not sure how well load-balanced we are - I currently am reviewing one, and have one more that I am the assigned editor for.

👍 ok no problem. @openjournals/joss-editors<https://github.com/orgs/openjournals/teams/joss-editors> does anyone feel like

[2016-10-06 23:20] mgymrek commented on #50
@julianmcauley has agreed to review. Julian can you confirm that here?

[2016-10-06 23:23] julianmcauley commented on #50
Yes, happy to review

[2016-10-07 04:37] arfon commented on #50
@whedon commands

[2016-10-07 04:38] whedon commented on #50
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-07 04:38] arfon commented on #50
@whedon assign @julianmcauley  as reviewer

[2016-10-07 04:38] whedon commented on #50
OK, the reviewer is @julianmcauley

[2016-10-07 04:39] arfon commented on #50
:wave: @julianmcauley. Thanks for agreeing to review this submission. Please take a look at the reviewer guidelines here: http://joss.theoj.org/about#reviewer_guidelines and update the checklist at the top of the issue as you progress through your review.

[2016-10-07 04:53] arfon commented on #81
@whedon start review

[2016-10-07 04:53] whedon commented on #81
You didn't say the magic word! Try this:

[code]

[2016-10-07 04:53] arfon commented on #81
@whedon start review magic-word=bananas

[2016-10-07 04:53] whedon commented on #81
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/87. Feel free to close this issue now!

[2016-10-07 04:53] whedon opened #87 "[REVIEW]: Correlation Trait Loci (CTL) mapping: phenotype network inference subject to genotype"
**Submitting author:** @DannyArends (<a href="http://orcid.org/0000-0001-8738-0162">Danny Arends</a>)
**Repository:** <a href="https://github.com/DannyArends/CTLmapping" target ="_blank">https://github.com/DannyArends/CTLmapping</a>
**Version:** v1.0.0-joss-2
**Editor:** @biorelated
**Reviewer:** @byandell
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.163510" target="_blank">https://dx.d

[2016-10-07 04:53] whedon commented on #87
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-07 04:53] #81 closed

[2016-10-07 04:54] arfon commented on #87
@byandell this is where you should report back on your review. Please update the checklist on this issue as you proceed.

[2016-10-07 20:46] SebastianBocquet commented on #46
And here it is: DOI: 10.5281/zenodo.159225
<https://doi.org/10.5281/zenodo.159225>

Thanks,
Sebastian

On Wed, Oct 5, 2016 at 9:39 PM, Dan Foreman-Mackey <notifications@github.com

[2016-10-07 21:11] kakearney commented on #64
I added a short statement to the README.md file clarifying that this code
will not run in Octave... Octave doesn't support the modern-Matlab class
syntax, along with numerous smaller incompatibilities.

On Thu, Oct 6, 2016 at 7:35 AM, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2016-10-08 06:39] pjotrp commented on #87
The paper URL is not complete. You can find it at https://github.com/DannyArends/CTLmapping/blob/master/doc/joss/2016/paper.md

[2016-10-08 12:54] arfon commented on #87
Thanks for the reminder @pjotrp. @byandell - I've compiled the paper for your review: [10.21105.joss.00087.pdf](https://github.com/openjournals/joss-reviews/files/517691/10.21105.joss.00087.pdf)

[2016-10-08 13:28] arfon commented on #46
@dfm - many thanks for the thorough review.

@SebastianBocquet - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00046 . 🎉 🚀 💥

[2016-10-08 13:28] #46 closed

[2016-10-08 13:28] #83 closed

[2016-10-08 13:30] arfon commented on #62
👋 @katyhuff - any luck finding a reviewer for this submission?

[2016-10-08 13:31] arfon commented on #39
🎏 flagging this (and https://github.com/openjournals/joss-reviews/issues/38) as stale 🎏

[2016-10-08 13:32] arfon commented on #38
🎏 flagging this as stale 🎏

If there's no update here by @germonprez in the next month I'll assume they want this paper withdrawn.

[2016-10-08 13:32] arfon commented on #10
🎏 flagging this as stale 🎏

If there's no update here by @hrbrmstr in the next month I'll assume they want this paper withdrawn.

[2016-10-08 13:34] arfon commented on #30
@karantibrewal - could we have a status update on this submission please? Are you still working on the feedback from @desilinguist?

[2016-10-08 13:38] arfon commented on #44
@eschnett :wave: is there anything we can do to help you with this review?

[2016-10-08 13:39] arfon commented on #49
👋 @kyleniemeyer any luck finding a reviewer for this one?

[2016-10-08 13:41] arfon commented on #57
Friendly bump on this @tracykteal 😁

[2016-10-08 13:43] arfon commented on #63
@brylie - how are we doing here? Is this submission in a good state to accept now?

[2016-10-08 13:44] whedon opened #88 "[PRE REVIEW]: Pyessence - Generalised Coupled Quintessence Linear Perturbation Python Code"
**Submitting author:** @leithes (<a href="http://orcid.org/0000-0001-9593-6757">Alexander Leithes</a>)
**Repository:** <a href="https://bitbucket.org/pyessence/pyessence" target ="_blank">https://bitbucket.org/pyessence/pyessence</a>
**Version:** v2.0.1
**Editor:** @jakevdp
**Reviewer:** @joergdietrich

**What this issue is for**

Thanks for submitting your paper to JOSS @leithes. The JOSS editor

[2016-10-08 13:44] whedon commented on #88
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-10-08 13:45] arfon commented on #88
@kyleniemeyer - this looks like it's up your street. Do you think you could edit this submission for JOSS?

[2016-10-08 13:46] whedon opened #89 "[PRE REVIEW]: edarf: Exploratory Data Analysis using Random Forests"
**Submitting author:** @zmjones (<a href="http://orcid.org/0000-0002-7523-0471">Zachary Jones</a>)
**Repository:** <a href="http://github.com/zmjones/edarf/" target ="_blank">http://github.com/zmjones/edarf/</a>
**Version:** 1.0.0
**Editor:** @cMadan
**Reviewer:** @PhilippPro

**What this issue is for**

Thanks for submitting your paper to JOSS @zmjones. The JOSS editor (shown at the top of this i

[2016-10-08 13:46] whedon commented on #89
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-10-08 13:46] arfon commented on #89
@karthik - do you think you could edit this submission for us?

[2016-10-08 13:55] nicoguaro commented on #49
@kyleniemeyer, I didn't notice that you asked me on this one.

This package consists of a single Python file. I'm not saying it because that's something wrong or right. But the question rises, is there a "minimum"? Or the scientific relevance of the software is what determine it?

It does not have installation instructions, tests, nor contribution guidelines. I think that the folder structure can

[2016-10-08 14:09] pjotrp commented on #39
I think we can close this.

[2016-10-08 14:26] germonprez commented on #39
Thanks for the kick. If you can give me the week, I can finish this up.
Sorry for the delay.

Matt

On Oct 8, 2016 9:09 AM, "Pjotr Prins" <notifications@github.com> wrote:

[2016-10-08 14:48] katyhuff commented on #62
After looking it over a bit I decided I'll review it myself. It's on the
to-do list for this weekend. Thanks for the bump.

On Sat, Oct 8, 2016 at 8:30 AM, Arfon Smith <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2016-10-08 14:56] drcassar commented on #49
Hello @nicoguaro, thanks for pointing out ways to improve the submission. You see, this is my first time uploading a code to github so I'm still not familiar with all the good practices. I'll look into other accepted  JOSS submissions and check how to improve mine following your suggestions.
The statement of need is focused on differential thermoanalysis measurements. It's one of the most used cha

[2016-10-08 17:45] arfon commented on #39
👍 thanks @germonprez. Looking forward to your updates over on #38

[2016-10-08 17:45] #39 closed

[2016-10-08 17:46] arfon commented on #62
@whedon assign @arfon as editor

[2016-10-08 17:46] whedon commented on #62
OK, the editor is @arfon

[2016-10-08 17:46] arfon commented on #62
@whedon assign @katyhuff as reviewer

[2016-10-08 17:46] whedon commented on #62
OK, the reviewer is @katyhuff

[2016-10-08 18:43] kyleniemeyer commented on #88
Sure @arfon I will cover this one.

[2016-10-08 19:34] kyleniemeyer commented on #49
Hi @drcassar, this is a perfectly fine place for this discussion. I agree that you should follow @nicoguaro's suggestions about structuring the repo (especially such that it can be installed/distributed as a package); you can look at other Python packages published in JOSS as examples, or use these guidelines: http://docs.python-guide.org/en/latest/writing/structure/

In addition, there are some s

[2016-10-08 20:43] cMadan commented on #89
I can edit this one.

[2016-10-08 21:36] arfon commented on #89
@whedon assign @cMadan as editor

[2016-10-08 21:36] whedon commented on #89
OK, the editor is @cMadan

[2016-10-08 21:37] arfon commented on #89
✨ @cMadan. Once you've found a reviewer you can do:

[code]

[2016-10-08 21:44] kyleniemeyer commented on #88
Hey @arfon after a bit more research it looks like this may be more up @jakevdp's alley, since the application seems to be in astronomy/astrophysical research. I can handle if needed, but he might have more insight...

[2016-10-08 22:52] nicoguaro commented on #49
@kyleniemeyer, I agree. I just wanted to point it out, some of those points are still grey for me.

@drcassar, can the the software be used for some other measurements and not just differential thermoanalysis measurements? Let's say... some spectral techniques.

[2016-10-09 00:32] daviddoria commented on #47
@v3c70r Thanks, it seems to build now, and the summary in the readme is much much better. I tried to produce the help message, but I get:

doria@doria-home:~/build/underworld$ ./bin/SLS -h
terminate called after throwing an instance of 'std::regex_error'
  what():  regex_error
Aborted (core dumped)

[2016-10-09 00:34] daviddoria commented on #47
@v3c70r Actually, I'm getting that no matter what I try:

doria@doria-home:~/build/underworld$ ./bin/SLS
terminate called after throwing an instance of 'std::regex_error'
  what():  regex_error
Aborted (core dumped)

doria@doria-home:~/build/underworld$ ./bin/SLS -l ~/source/3DUNDERWORLD-SLS-GPU_CPU/data/alexander/leftCam/dataset1/ -L ~/source/3DUNDERWORLD-SLS-GPU_CPU/data/alexander/leftCam/calib/

[2016-10-09 00:41] v3c70r commented on #47
@daviddoria Hmm, it seems no problem on my machine. What compiler are you using?

[2016-10-09 00:43] daviddoria commented on #47
@v3c70r I commented everything in main() and the error was still there. I commented the headers one at a time and as soon as I stop including cppopts.hpp the error goes away. Might I recommend using boost::program_options instead of 1400 lines of custom parsing? (see my compiler and system in my previous comment)

[2016-10-09 00:46] v3c70r commented on #47
@daviddoria Right, I'm removing that header and use `cmdline.h` instead.

[2016-10-09 00:55] v3c70r commented on #47
@daviddoria Updated, the command line parser should work now.

[2016-10-09 01:09] daviddoria commented on #47
@v3c70r That worked. Next comment - it finally built and started to run, but I got:
--------------
Starting /home/doria/build/underworld/bin/SLS...
OpenCV Error: Unspecified error (The function is not implemented. Rebuild the library with Windows, GTK+ 2.x or Carbon support. If you are on Ubuntu or Debian, install libgtk2.0-dev and pkg-config, then re-run cmake or configure script) in cvWaitKey, f

[2016-10-09 01:14] daviddoria commented on #47
I tried to view the output .ply file in Paraview (5.1) and got:

ERROR: In /home/kitware/dashboards/buildbot/paraview-debian6dash-linux-shared-release_opengl2_qt4_superbuild/source-paraview/VTK/IO/PLY/vtkPLYReader.cxx, line 138
vtkPLYReader (0x31a7780): Cannot read geometry

It did open OK in Meshlab 1.3.2 - but I really doubt it's a bug in VTK's PLY reader, so it might be worth looking into if so

[2016-10-09 01:36] v3c70r commented on #47
@daviddoria Thank you for your input. The ply file works fine with Blender.
, I will investigate the mesh exporter and do some more tests.

[2016-10-09 01:44] daviddoria commented on #47
@v3c70r Please find some comments below. Recall this is my first review, so if these types of comments are not what we're looking for, then someone please say so :)

- There are several key functions (like Calibrate(...) in Calibrator.hpp that do not have descriptions (the class itself should also have a description).

- All of the App*.cpp files need descriptions (and probably better names - perh

[2016-10-09 03:12] arfon commented on #88
@jakevdp - can you take this one? 😁 🙏

[2016-10-09 10:42] Dih5 commented on #62
Thank you both for having a look at it.
I have prepared a small update I would like to make to the software (made it python 2 compatible), so I would like to make a new release increasing the version number. Is there any problem with that change?

[2016-10-09 14:47] arfon commented on #62
That's fine. What's the new release number (I'll update the thread with this information).

[2016-10-09 16:49] Dih5 commented on #62
The new release number is **v1.0.1**.
Thanks! :smiley:

[2016-10-10 02:32] arfon commented on #62
⚡️ thanks.

[2016-10-10 06:34] brylie commented on #63
@arfon I thought I was no longer assigned to the review, since my name was removed from the 'Assignees' field. Also, I can no longer edit the checkboxes in the task description.

What should I do to continue/finish this review?

[2016-10-10 13:01] arfon commented on #63
@whedon assign @brylie as reviewer

[2016-10-10 13:01] whedon commented on #63
OK, the reviewer is @brylie

[2016-10-10 13:02] arfon commented on #63
@brylie - my apologies. This review got caught up in some reworking of how reviews work. We'd love for you to finish up this review if you're willing. You should be able to update the checklist again now.

[2016-10-10 16:12] karantibrewal commented on #30
@desilinguist @arfon Sorry for the delay! My team has had some back and
forth with the feedback. We have decided on the following: BacktestGraphics
is not a package that explicitly forwards a topic of research, but instead,
it is a tool that researchers can use to visualize backtest data.

We think our tool could be very relevant for researchers. Financial data is
almost always presented as non-in

[2016-10-10 17:06] drcassar commented on #49
Hi @kyleniemeyer, and thanks for the info. I'll read more and update my submission, letting you guys know when I finish the update. Right now I'm studying for a very tough exam, so I'll probably not be able to fix this too quickly. Let me know if this is a problem and I can perhaps remove the submission and try again later.
Good suggestion @nicoguaro, I'll discuss with some experts in this field t

[2016-10-10 17:08] kyleniemeyer commented on #49
@drcassar no problem on a delay, we will keep this review issue open until the next version is ready. Just let us know!

[2016-10-10 17:11] germonprez commented on #38
@arfon I've uploaded the paper.md paper.bib, and codemeta.json in the paper folder:

https://github.com/DoSOCSv2/DoSOCSv2/tree/master/paper

Happy to make changes as needed. Thanks!

[2016-10-10 17:54] mlinksva commented on #38
:hand: I'll review this, thanks for ping @arfon.

I haven't investigated whether the bot only responds to certain users, but I'll try anyway:

@whedon assign @mlinksva as reviewer

[2016-10-10 17:56] arfon commented on #38
@whedon commands

[2016-10-10 17:56] whedon commented on #38
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-10 17:57] arfon commented on #38
Wonderful, many thanks @mlinksva.

Nice try @mlinksva. @whedon should have given you an error but it looks like he failed silently.

[2016-10-10 17:57] arfon commented on #38
@whedon assign @mlinksva as reviewer

[2016-10-10 17:57] whedon commented on #38
OK, the reviewer is @mlinksva

[2016-10-10 17:58] arfon commented on #38
@mlinksva - you should just be able to update the checklist on this issue as you proceed with your review.

[2016-10-11 06:25] brylie commented on #63
@arfon thanks. I will continue today.

[2016-10-11 06:28] brylie opened #90 "Consider making a new release, since there are some recent changes"
Now that we are nearly done with the review process, it would be good to make a release incorporating all recent changes. Please make one more release, so that we may finish the review.

[2016-10-11 06:28] whedon commented on #90
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-11 06:29] brylie commented on #90
Oops. Sorry, wrong repository.

[2016-10-11 06:29] #90 closed

[2016-10-11 06:30] brylie commented on #63
@arfon the review is complete, and all boxes are checked. I requested that the upstream author make one more release, to include changes from the review process:

https://github.com/carlganz/rintrojs/issues/14

[2016-10-11 14:23] cMadan commented on #89
@zmjones - I've been trying to find a reviewer but haven't been able to yet. Would you like to suggest one?

[2016-10-11 15:37] zmjones commented on #89
i asked on twitter. most people i would suggest know me personally and probably wouldn't be really objective.

that said, anybody in the https://github.com/mlr-org group would be capable of reviewing it (i work with them though). i think also anybody in https://github.com/ropensci.

similar packages include caret, ggrandomforests, mlr. those package authors might be willing.

[2016-10-11 19:06] arfon commented on #63
👍 excellent thanks.

@carlganz. Once you've addressed https://github.com/carlganz/rintrojs/issues/14 could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-10-11 19:44] carlganz commented on #63
Thanks @brylie and @arfon!

Here is the release that should close carlganz/rintrojs#14: https://github.com/carlganz/rintrojs/releases/tag/0.1.1

And here is the archive on Zenodo: https://zenodo.org/record/160211#.V_1As4QrLcs

[2016-10-11 23:19] desilinguist commented on #35
I'm happy to accept this. Sorry for the delay.

[2016-10-12 00:00] arfon commented on #35
✨ thanks for the update @desilinguist.

@jiemakel - at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-10-12 00:36] arfon commented on #63
Thanks for the review @brylie.

@carlganz - your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00063 🚀 🎉 💥

[2016-10-12 00:36] #63 closed

[2016-10-12 04:39] cMadan commented on #89
@zmjones - thanks for the suggestions!

@ehrlinger, @PhilippPro, @ja-thomas - would you be interested in being a reviewer for this package? (see http://joss.theoj.org/about for the reviewer guidelines)

[2016-10-12 06:57] jiemakel commented on #35
The DOI for the latest version is: 10.5281/zenodo.160256

[2016-10-12 07:30] PhilippPro commented on #89
I can do this, I am generally also interested in random forests.

At first glance it seems like most functionalities are already given in the packages, of course not with a unified interface. And of course they could be extended.
Moreover the ranger package is missing and party is not exact random forest. And there are much more packages that are similar to random forest (like party), see here for

[2016-10-12 09:32] chtheodoro commented on #82
Dear all,

Habfuzz has been now tested and runs on Windows, Ubuntu and OS X. I have provided the relevant instructions in the README.md. Another subroutine was also added and now the tool uses Fuzzy logic or Fuzzy Bayesian inference depending on the user's selection.
@arfon I have changed the README.md to provide only the basic information, while indicating the reader/user to consult the Habfuzz m

[2016-10-12 13:13] zmjones commented on #89
hey @PhilippPro. thanks!

do check out their [reviewing criteria](http://joss.theoj.org/about).

it appears that i didn't do a very good job of putting in a "need" bit in the paper, and although i have a vignette i don't have it linked in the readme. do you know a way to do that btw? i generated it locally and then pushed that directory, but i don't know how to get github to render it without crea

[2016-10-12 13:58] PhilippPro commented on #89
What do you mean with "need" bit?
Sorry, I think I cannot help with the rendering in github. Maybe ask @jakob-r.

I will try to do the review until the end of next week.

[2016-10-12 14:06] zmjones commented on #89
Under documentation it says
"
A statement of need

The authors should clearly state what problems the software is designed to solve and who the target audience is.
"
so this is one of the reviewing criteria.

i will sort out the vignette issue today, and submit to cran as well.

i'll look into adding support for ranger too. Arborist looks really nice. I hadn't seen that before. My reading of the r

[2016-10-12 16:24] pjotrp commented on #53
@luizirber ping

[2016-10-12 16:26] pjotrp commented on #85
@whedon commands

[2016-10-12 16:26] whedon commented on #85
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-12 16:27] pjotrp commented on #85
@whedon assign @pjotrp as editor

[2016-10-12 16:27] whedon commented on #85
OK, the editor is @pjotrp

[2016-10-12 16:28] pjotrp commented on #85
@whedon assign @chapmanb as reviewer

[2016-10-12 16:28] whedon commented on #85
OK, the reviewer is @chapmanb

[2016-10-12 16:29] pjotrp commented on #85
@holtgrewe please remind us if nothing happens. @chapmanb when do have time to review?

[2016-10-12 16:41] acabunoc commented on #86
@whedon list reviewers

[2016-10-12 16:41] whedon commented on #86
Here's the current list of JOSS reviewers: https://gist.github.com/arfon/5317c568cb32c7b917fea3c13958131d

[2016-10-12 17:01] acabunoc commented on #86
Hey @jsta any interest in reviewing this?

Also flagging @joeyklee, @auremoser, @riordan in case any of you are interested in becoming a reviewer for JOSS (it's fun!)

[2016-10-12 17:12] riordan commented on #86
Totally! I've been watching the mordecai project from afar from some time. I'd be down to be a reviewer.

I stumbled across this like a year ago when they were they first folks to start combining Word2Vec with Elasticsearch.

[2016-10-12 17:23] acabunoc commented on #86
Yay thanks @riordan 🎉 !

@arfon can let you know how to get on the official reviewers list. In the meantime, you can read the [JOSS reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines) and I'll set you as reviewer here!

[2016-10-12 17:24] acabunoc commented on #86
@whedon assign @riordan as reviewer

[2016-10-12 17:24] whedon commented on #86
OK, the reviewer is @riordan

[2016-10-12 17:26] acabunoc commented on #86
@whedon start review

[2016-10-12 17:26] whedon commented on #86
You didn't say the magic word! Try this:

[code]

[2016-10-12 17:26] acabunoc commented on #86
@whedon start review magic-word=bananas

[2016-10-12 17:26] whedon commented on #86
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/91. Feel free to close this issue now!

[2016-10-12 17:26] whedon opened #91 "[REVIEW]: Mordecai: Full Text Geoparsing and Event Geocoding"
**Submitting author:** @ahalterman (<a href="http://orcid.org/0000-0001-9716-9555">Andrew Lee Halterman</a>)
**Repository:** <a href="https://github.com/openeventdata/mordecai" target ="_blank">https://github.com/openeventdata/mordecai</a>
**Version:** v1.1.0
**Editor:** @acabunoc
**Reviewer:** @riordan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.250879" target="_blank">10.5281/zenodo.2

[2016-10-12 17:26] whedon commented on #91
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-12 17:26] acabunoc commented on #86
*sigh* bananas are still gross @whedon 🍌

[2016-10-12 17:26] #86 closed

[2016-10-12 18:06] arfon commented on #89
@whedon assign @PhilippPro as reviewer

[2016-10-12 18:06] whedon commented on #89
OK, the reviewer is @PhilippPro

[2016-10-12 18:06] arfon commented on #89
@whedon start review

[2016-10-12 18:06] whedon commented on #89
You didn't say the magic word! Try this:

[code]

[2016-10-12 18:07] arfon commented on #89
@whedon start review magic-word=bananas

[2016-10-12 18:07] whedon opened #92 "[REVIEW]: edarf: Exploratory Data Analysis using Random Forests"
**Submitting author:** @zmjones (<a href="http://orcid.org/0000-0002-7523-0471">Zachary Jones</a>)
**Repository:** <a href="http://github.com/zmjones/edarf/" target ="_blank">http://github.com/zmjones/edarf/</a>
**Version:** 1.0.0
**Editor:** @cMadan
**Reviewer:** @PhilippPro
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.162238" target="_blank">https://dx.doi.org/10.5281/zenodo.162238</a

[2016-10-12 18:07] whedon commented on #89
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/92. Feel free to close this issue now!

[2016-10-12 18:07] whedon commented on #92
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-12 18:07] arfon commented on #89
@PhilippPro @zmjones please head over to #92 for the actual review of this submission.

[2016-10-12 18:07] #89 closed

[2016-10-12 18:26] auremoser commented on #86
happy to help for round 2 @acabunoc

[2016-10-12 18:32] acabunoc commented on #91
@whedon commands

[2016-10-12 18:32] whedon commented on #91
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-12 20:34] mlinksva commented on #38
I'm not sure. It seems that "v2" here is not really a software version, but part of the name of the software, indicating that there was a previous implementation -- the v2 suffix plays the same role a neo prefix would. The current version [seems to be](https://github.com/DoSOCSv2/DoSOCSv2/blob/62f48ffbea96e7befe113ea0298691d2ccfdc96c/setup.py#L3) 0.16.1. Also the README says "dosocs2 is under heav

[2016-10-12 20:38] germonprez commented on #38
Yes, mistake on my end. The v2 in the name is the reboot of DoSOCS. We had an original version v1 that was really proof of concept. The v2 is the second iteration on DoSOCS -- a fundamental rewrite.

You read this correctly.

[2016-10-12 20:40] mlinksva commented on #38
Not really pertinent to review, but for my future reference, example of an Apache-2.0->GPL-3.0+ license change with rationale: https://github.com/DoSOCSv2/DoSOCSv2/commit/8704053fb10d3238751bba95302c4c343e0c0404#diff-9879d6db96fd29134fc802214163b95a

[2016-10-12 20:42] mlinksva commented on #38
Great, I changed the version field above to 0.16.1.

[2016-10-13 03:33] arfon commented on #35
Thanks again for the review @desilinguist!

@jiemakel your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00035 🎉 🚀 💥

[2016-10-13 03:33] #35 closed

[2016-10-13 07:56] pjotrp commented on #87
@whedon commands

[2016-10-13 07:56] whedon commented on #87
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-13 07:56] pjotrp commented on #87
@whedon assign @byandell as reviewer

[2016-10-13 07:56] whedon commented on #87
OK, the reviewer is @byandell

[2016-10-13 08:52] PhilippPro commented on #92
@whedon commands

[2016-10-13 08:53] whedon commented on #92
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-13 08:56] cMadan commented on #92
@PhilippPro - The reviewer guidelines are here: http://joss.theoj.org/about#reviewer_guidelines

For the most part you need to see if the statements above in the first post are true and check things off accordingly (as you've already started). If something isn't the case, or you otherwise have a suggestion, just post a comment to @zmjones here (or ask me) and we'll sort things out until the submis

[2016-10-13 08:59] PhilippPro commented on #92
I have posted in his issue tracker: https://github.com/zmjones/edarf/issues

I do not understand the last point, which also is not a complete sentence:

[2016-10-13 09:04] cMadan commented on #92
@PhilippPro - perfect, thank you!

As for the references, I think there's a comma missing, but it otherwise reads fine to me. For each of the references in the compiled paper (https://github.com/openjournals/joss-reviews/files/525302/10.21105.joss.00092.pdf), is there a DOI. Here there are two references, neither of which have a DOI, but I expect both of them should have DOIs, so @zmjones will nee

[2016-10-13 09:14] PhilippPro commented on #92
Ah ok, sorry I am not a native speaker and did not see "list" as verb. Thx!

[2016-10-13 10:19] cMadan commented on #92
No problem! :)

[2016-10-13 16:54] mikhail-matrosov commented on #47
Review on commit d9786db.

Greetings, everyone!

I tried to build the code, here's what i faced:
1. cmake didn't check if libglm-dev was installed.
2. make command failed probably because of wrong GCC options (btw, i have Ubuntu 15.10):
[code]
I also tried GCC 5.2.1 and 4.7.4 with the same result. Suggest that cmake should at least check compiler's version. A much better solution would be to fix t

[2016-10-13 16:55] vaheta commented on #47
I've tried to compile the code, couldn't yet do it. Getting the same error as @mikhail-matrosov. I'll try later on another PC without CUDA, meanwhile here are my thoughts on Reviewer questions:

Conflict of interest

**YES** As the reviewer I confirm that there are no conflicts of interest for me to review this work (such as being a major contributor to the software).

General checks

**YES** Repo

[2016-10-13 23:17] zmjones commented on #92
I added a doi for one article but couldn't find one for the Friedman 2001 article. I do have a jstor stable url that I could include though.

I also added two other papers which use this software, however they are unpublished. Is that ok? I see that it is necessary to talk about applications of the software to solve research problems.

[2016-10-14 06:33] cMadan commented on #92
It looks like the doi for Friedman (2001) is 10.1214/aos/1013203451 (see http://projecteuclid.org/euclid.aos/1013203451#info). The publisher is also incorrect in being listed as JSTOR.

I think it's fine to cite 'jones2015exploratory' as a conference paper, though I think the booktitle start with "Proceedings of" rather than "Prepared for". If you think there is a stable url, I would appreciate yo

[2016-10-14 07:57] roliveros-ramos commented on #64
@Kevin-Mattheus-Moerman Sorry for the late reply, I'm in a meeting and don't have MATLAB in this laptop. I will meet the deadline though.

@kakearney I used MATLAB heavily from 2005-2008, then I moved to R.  I'm very interested in a non-GUI version of EwE, this was really needed. I have MATLAB 2012 installed, do I need to get a more recent version? I think we have 2014.

[2016-10-14 13:48] chapmanb commented on #85
Thank you for the work on VCFPy. This software is open source, well documented, tested and generally pleasurable to use and contribute to. It easily passes all of the JOSS requirements listed above.

After testing, I don't have any major feature suggestions as it does work nicely for reading/writing VCFs. This is a welcome contributions, as changing VCFs is tricky with the current set of Python VC

[2016-10-14 13:56] v3c70r commented on #47
@vaheta @davclark Thank you so much for your review, they are very helpful. I'll update the code accordingly this weekend.
@vaheta @mikhail-matrosov  It looks like the nvcc c++11 is not explicitly enabled in cmake script. I will fix it.

It's a good idea, I'll add the option.

[2016-10-14 14:39] danielskatz commented on #84
@whedon commands

[2016-10-14 14:39] whedon commented on #84
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-14 14:39] danielskatz commented on #84
@whedon assign @stevenrbrandt as reviewer

[2016-10-14 14:39] whedon commented on #84
OK, the reviewer is @stevenrbrandt

[2016-10-14 14:40] danielskatz commented on #84
@whedon start review

[2016-10-14 14:40] whedon commented on #84
You didn't say the magic word! Try this:

[code]

[2016-10-14 14:40] danielskatz commented on #84
@whedon start review magic-word=bananas

[2016-10-14 14:40] whedon commented on #84
You didn't say the magic word! Try this:

[code]

[2016-10-14 14:40] danielskatz commented on #84
@whedon start review magic-word=bananas

[2016-10-14 14:40] whedon opened #93 "[REVIEW]: Golo - a lightweight dynamic language for the JVM"
**Submitting author:** @jponge (<a href="http://orcid.org/0000-0003-3452-9183">Julien Ponge</a>)
**Repository:** <a href="https://github.com/eclipse/golo-lang" target ="_blank">https://github.com/eclipse/golo-lang</a>
**Version:** v3.2.0
**Editor:** @danielskatz
**Reviewer:** @stevenrbrandt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.192097" target="_blank">10.5281/zenodo.192097</a>

##

[2016-10-14 14:40] whedon commented on #84
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/93. Feel free to close this issue now!

[2016-10-14 14:40] whedon commented on #93
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-14 14:43] danielskatz commented on #93
Thanks @stevenrbrandt for agreeing to do this - the review is this issue.

The reviewer guidelines are here: http://joss.theoj.org/about#reviewer_guidelines

For the most part you need to see if the statements above in the first post are true and check things off accordingly. If something isn't the case, or you otherwise have a suggestion, just post a comment to @jponge here (or ask me) and we'll

[2016-10-14 14:43] #84 closed

[2016-10-14 15:07] zmjones commented on #92
Thanks. Made all of those changes.

[2016-10-14 16:03] pjotrp commented on #85
Thank you @chapmanb! Note to the author that I wrote a fast parser in Ruby by processing multi-core, see https://github.com/pjotrp/bioruby-vcf. Perhaps worth looking into.

@arfon I think we can accept the paper. Is there a @whedon command for that?

[2016-10-14 16:13] byandell commented on #87
I updated the comment by arfon, which said I should put my review there. I took this literally and edited that entry to include my review. I attache below as well.
Brian

Review of Danny Arends

Would be very helpful to plot St7 against Il18r1 using plot symbols for genotype at strongest CTL signal on chr 2 at ~15Mbp. Similarly do this for Mtvr2 against C1qtnf5 on chr 19 proximal end with CTL geno

[2016-10-14 16:22] pjotrp commented on #87
Thanks @byandell! We'll amend the paper to include your suggestions.

[2016-10-14 16:38] arfon commented on #85
Not yet. I'll move it forward from here.

@holtgrewe at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-10-14 18:45] kakearney commented on #64
There are a few key Matlab features that this software relies on that limit its back-compatibility:
- class syntax: introduced in R2008a
- table arrays: introduced in R2013b
- graph/digraph objects: introduced in R2015b

The last of those will only limit the use of the ecopathmodel graph method, which is really a bonus feature, not necessary to the core calculations.  So I believe this code should

[2016-10-14 23:16] luizirber commented on #53
The software is useful and I think it should be accepted, but some points need to be addressed:

- Installation instruction can be clearer: it only talks about dependencies,
but doesn't say that the repository needs to be downloaded or where to get the
released version. Can you add a setup.py and publish the package to
PyPI? `pip` is the standard way of installing Python packages, this also
increa

[2016-10-14 23:18] luizirber commented on #53
Sorry for the delay @pjotrp. @rodrigovrgs, I can help with more details on how to address these points if you want, should I open some issues in the `cazy-parser` repo?

[2016-10-15 09:41] pjotrp commented on #53
@luizirber thanks for your review! No need to take extra action on your part.

[2016-10-15 17:22] cvitolo commented on #52
Hi @pragyansmita. I have updated the installation instructions in the README. Could you please try again? Many thanks!

[2016-10-16 11:21] chtheodoro commented on #82
@labarba and @arfon is there anything else I need to do in order for the review process to continue?

[2016-10-16 13:38] labarba commented on #82
@fonnesbeck : Are you able to review this submission on Ubuntu or OS X ?

[2016-10-16 19:00] fonnesbeck commented on #82
Yes. Will get it done in the next few days.

[2016-10-16 22:13] fonnesbeck commented on #82
First, thanks for making the code cross-platform!

Here are couple of specific notes:

- misspelled "Brooks" on p.5 of manual
- `mcompile.sh` is not executable when pulled from GitHub
- the Geany text editor is cited as a dependency. Unless I am confused, there is no way for a text editor to be a dependency.

The only major issue I see with the package is that there does not appear to be any unit

[2016-10-16 22:51] labarba commented on #82
@fonnesbeck Did you install the software, then? If installation went without problems, do check the relevant items on the checklist at the top of this issue. Are you satisfied with the statement of need? See other check items above.

[2016-10-17 01:37] fonnesbeck commented on #82
I was able to install and run the software. The outstanding issues, based on the review criteria include:

- `paper.md` seems to be incomplete. e.g. no references or author list. It appears much of the missing information could be moved from the README.
- no automated tests

[2016-10-17 08:10] chtheodoro commented on #82
Thank you @fonnesbeck for the quick reply!

I removed the 'Geany' text editor from the dependencies list. The paper.md is also updated with the reference list (the authors are already mentioned in the top box named 'authors'). Corrected 'Brookes' spelling also.

I am now working on the automated tests... I will let you know soon.

[2016-10-17 08:20] jponge commented on #93
I've made some updates, see @arfon's feedback https://github.com/eclipse/golo-lang/pull/410

[2016-10-17 18:42] arfon commented on #82
@chtheodoro - you don't need to include the references in the `References` section of `paper.md`. Instead, you just need to list them in the `paper.bib` and cite the references inline in your paper body. See this paper as an example: https://github.com/paulcon/active_subspaces/tree/master/JOSS_Paper

[2016-10-18 20:29] whedon opened #94 "[PRE REVIEW]: Confidence Intervals for Random Forests in Python"
**Submitting author:** @kpolimis (<a href="http://orcid.org/0000-0002-3498-0479">Kivan Polimis</a>)
**Repository:** <a href="https://github.com/scikit-learn-contrib/forest-confidence-interval" target ="_blank">https://github.com/scikit-learn-contrib/forest-confidence-interval</a>
**Version:** .1
**Editor:** @jakevdp
**Reviewer:** @DannyArends

**What this issue is for**

Thanks for submitting your

[2016-10-18 20:30] whedon commented on #94
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-10-18 20:30] arfon commented on #94
👋 @jakevdp - do you think you could edit this submission?

[2016-10-18 20:40] karthik commented on #61
Quick update that I am still working to find reivewers for this submission.

[2016-10-18 20:49] whedon opened #95 "[PRE REVIEW]: SALib: An open-source Python library for Sensitivity Analysis"
**Submitting author:** jdherman (<a href="http://orcid.org/0000-0002-4081-3175">Jonathan Herman</a>)
**Repository:** <a href="https://github.com/SALib/SALib" target ="_blank">https://github.com/SALib/SALib</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @stijnvanhoey

**What this issue is for**

Thanks for submitting your paper to JOSS jdherman. The JOSS editor (shown at the top of

[2016-10-18 20:49] whedon commented on #95
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-10-18 21:03] arfon commented on #95
👋 @kyleniemeyer thanks for agreeing to edit this one 💖

[2016-10-18 21:10] cMadan commented on #92
@PhilippPro - have you had a chance to take to try out the package since @zmjones has made the recent changes? Thanks again!

[2016-10-18 21:13] whedon opened #96 "[PRE REVIEW]: popeye: a population receptive field estimation tool"
**Submitting author:** @kdesimone (<a href="http://orcid.org/0000-0003-4254-9408">Kevin DeSimone</a>)
**Repository:** <a href="https://github.com/kdesimone/popeye" target ="_blank">https://github.com/kdesimone/popeye</a>
**Version:** v.1.0.0
**Editor:** @cMadan
**Reviewer:** @tknapen

**What this issue is for**

Thanks for submitting your paper to JOSS @kdesimone. The JOSS editor (shown at the top

[2016-10-18 21:13] whedon commented on #96
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-10-18 21:13] arfon commented on #96
👋 thanks @cMadan.

[2016-10-19 08:59] PhilippPro commented on #92
I will finish the review by the end of the week as mentioned in the other issue. ;)

[2016-10-19 10:51] chtheodoro commented on #82
Automated tests (unit tests) are now added in the tests folder of the program, along with a small README.md. I also updated the paper.md and paper.bib according to @arfon 's indications.

I hope I didn't miss anything... Please let me know if we are ok now.
Thank you!

[2016-10-19 14:36] cMadan commented on #92
@PhilippPro - great, thanks! I must've missed that comment.

[2016-10-19 17:22] stevenrbrandt commented on #93
@whedon commands

[2016-10-19 17:22] whedon commented on #93
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-19 17:37] danielskatz commented on #93
@stevenrbrandt , you shouldn't have to use whedon as a reviewer.  you can just check boxes, and make comments here (in the issue) for the author to respond to.

[2016-10-19 17:40] stevenrbrandt commented on #93
I'm having difficulty with the statement of need. All I see is this: "The world didn't need another JVM language. So we built yet another one. A simple one." I see a better statement of need here (http://www.javamagazine.mozaicreader.com/MarApr2016/Twitter#&pageSet=54&page=0), but I think it ought to go somewhere on the website or in the documentation.

[2016-10-20 14:34] rodrigovrgs commented on #53
@pjotrp @luizirber I'll address the issues as soon as I can, thank you very much!

[2016-10-20 15:35] PhilippPro commented on #92
Ok, I think I am done and hope that I have checked everything relevant.

[2016-10-20 19:06] cMadan commented on #96
@kdesimone - I've been trying to find a reviewer but haven't been able to yet. Would you like to suggest one?

[2016-10-20 19:11] arokem commented on #96
Maybe someone  from the psychopy community would be willing and able to do this?

cc @psychopy/psychopy

[2016-10-20 19:15] cMadan commented on #92
@PhilippPro - awesome, thank you!

@zmjones - everything looks good to me! I think the only thing left then is to archive the repository in a service such as Zenodo or figshare and let us know the associated doi.

@arfon - just pinging you to let you know that we're almost all set here!

[2016-10-20 19:31] zmjones commented on #92
done. i added a link to the zenodo doi in the readme too

 DOI: 10.5281/zenodo.162238

[2016-10-21 00:37] karantibrewal commented on #30
@desilinguist @arfon

My co-author just explained to me that I should be more clear in my explanation. Let me try again. I've addressed @desilinguist's points below:

Fixed.

Fixed.

Fixed.

Added instructions to the README.

Apologies! Do you think you can provide me with more details on this? I've tried the package on several computers and it seems to be working fine. If you can give me more inf

[2016-10-21 12:15] chtheodoro commented on #82
@labarba  and @fonnesbeck  when you are able we can continue with the review process. I applied all of @fonnesbeck 's indications.

[2016-10-21 12:57] rodrigovrgs commented on #53
@luizirber thanks for your review, I've made some changes to the code and the documentation to fit your feedback and make the code compliant to joss.

but doesn't say that the repository needs to be downloaded or where to get the
released version. Can you add a setup.py and publish the package to
PyPI? pip is the standard way of installing Python packages, this also
increases the reach of your sof

[2016-10-21 13:17] fonnesbeck commented on #82
Thanks. I will check the tests as soon as I can.

[2016-10-21 13:56] arfon commented on #92
@zmjones - it looks like there aren't any ORCID fields present in the `paper.md` metadata. We like authors to always have these if they have an academic affiliation - can you add these please?

[2016-10-21 15:04] arokem commented on #96
Another direction are members of the Nilearn team (@bthirion and his team, for example)

[2016-10-21 15:46] zmjones commented on #92
yep sure. just name the field orcid?

[2016-10-21 16:39] arfon commented on #92
:zap: thanks. Just like this:

[code]

[2016-10-21 17:12] zmjones commented on #92
ok cool, that is what we did. we are all set then!

[2016-10-21 19:48] fonnesbeck commented on #82
@chtheodoro Unfortunately, I am having trouble installing the FRUIT testing framework. I have [filed a bug report](https://sourceforge.net/p/fortranxunit/bugs/5/), but given that the last report is 2 years old, I'm not sure how soon it will get a response. If you have an idea of where things are going wrong, please let me know (I am not much of a Ruby expert).

BTW, you state that Ruby/rake are op

[2016-10-21 20:05] chtheodoro commented on #82
I had the same trouble on Windows. However, without installing FRUIT, just put the fruit.95 file from my repository together with the test file, the test driver file, the fdeclarations.f95 and the relevant subroutine to test, compile with gfortran and you should be able to run. I tried it on a Mac and it works.

[2016-10-21 20:23] chtheodoro commented on #82
If it runs only with fruit.f95 and nothing more please let me know in order to change the README file to make things easier...

[2016-10-22 07:56] pjotrp commented on #53
Great. @luizirber can you take another look?

[2016-10-23 00:24] kyleniemeyer commented on #95
Hi @bryanwweber any interest in reviewing this?

Also, @jdherman if you have any potential reviewers you could suggest (i.e., closer to the domain), that would be great. I usually like to have two reviewers.

[2016-10-23 11:45] chtheodoro commented on #82
@fonnesbeck my apologies for bothering you about this, but did you manage to run the tests by using only the fruit.f95 file according to the updated README instructions?

[2016-10-23 16:55] fonnesbeck commented on #82
Can you create a script to automate the testing? Moving individual files around is not ideal for users or developers. What is the issue with running the tests in place?

[2016-10-23 17:56] arfon commented on #30
@desilinguist - do you think you could take another look at this submission? @karantibrewal has responded to much of your feedback.

[2016-10-23 18:33] chtheodoro commented on #82
Each test calls a subroutine to test and I thought that the subroutine file should be in the same directory with the test in order to compile. But I suppose I will find some way to automate the process...

[2016-10-23 18:45] arfon commented on #92
@zmjones - your paper is now accepted into JOSS and the DOI is http://dx.doi.org/10.21105/joss.00092

@PhilippPro many thanks for reviewing this one!

[2016-10-23 18:45] #92 closed

[2016-10-23 18:58] chtheodoro commented on #82
@fonnesbeck I found a solution to automate the test through makefiles but this would require one folder per test. Is it ok with you? This means 7 subfolders in the tests folder.

[2016-10-24 13:06] fonnesbeck commented on #82
Yes, perhaps just a bash script to create a temporary directory, copy the files, run the test and clean up would be sufficient.

[2016-10-24 13:21] desilinguist commented on #30
@karantibrewal, thanks for making all the changes. I think they help make it clear exactly what the package does and the exact scenarios under which it can he useful to researchers studying financial data. One suggestion, it would be nice to explain in the README that to get more detailed documentation and background, users should run `vignette("backtestGraphics")` for people who may be new to R.

[2016-10-24 13:25] danielskatz commented on #44
Hi @eschnett - we would like to get some feedback on this, so that the authors can respond to it.

[2016-10-24 13:26] danielskatz commented on #93
@stevenrbrandt - Is this all of your feedback for the authors to respond to?  Or should they wait for more feedback?

[2016-10-24 14:40] stevenrbrandt commented on #93
@danielskatz So far, I haven't found any other problems. I'm still kicking the tires. What's the deadline?

[2016-10-24 14:57] danielskatz commented on #93
A goal is to have the reviewer's first comments in a week or so after the review starts.  Maybe you can finish by the end of this week?

[2016-10-24 14:58] stevenrbrandt commented on #93
Sure.

[2016-10-24 15:08] jdherman commented on #95
Thanks @kyleniemeyer. For reviewers, you might try asking @quaquel or @stijnvanhoey if they are available.

[2016-10-24 16:08] stevenrbrandt commented on #93
OK, here's a new issue. My command-line tests worked, but I am unable to get the Eclipse plugin to function. Not sure if that's my fault somehow. I filed an issue at https://github.com/golo-lang/gldt/issues/4

[2016-10-24 19:58] jponge commented on #93
@stevenrbrandt the Eclipse plugin is (ironically) unmaintained at this stage and is not part of the submission.

[2016-10-24 21:43] kyleniemeyer commented on #95
Ah great, thank you. @quaquel or @stijnvanhoey, would either of you be interested in reviewing this for JOSS? I will also be getting an existing JOSS reviewer that is not necessarily close to the relevant domain.

[2016-10-24 21:43] kyleniemeyer commented on #95
@whedon commands

[2016-10-24 21:43] whedon commented on #95
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-24 21:44] kyleniemeyer commented on #95
@whedon list reviewers

[2016-10-24 21:44] whedon commented on #95
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-10-24 21:47] kyleniemeyer commented on #95
Hi @khinsen @nirum @amoeba @jordigh would any of you be willing to review this? If so, you can respond with a 👋 (otherwise ignore). Thanks!

[2016-10-25 06:18] holtgrewe commented on #85
@arfon Here it is https://dx.doi.org/10.6084/m9.figshare.3863583.v2

@chapmanb I agree that improving another library would have been better but I found working with the PyVCF and pysamtools code to be harder than implementing everything from scratch and not having to be backwards compatible.

[2016-10-25 06:19] pjotrp commented on #85
@holtgrewe are you on to this?

[2016-10-25 06:24] holtgrewe commented on #85
@pjotrp What do you mean? I created a DOI when submitting and this is the version that Brad reviewed. I did not get any issue from him to address during the review.

[2016-10-25 07:05] stijnvanhoey commented on #95
Hi @kyleniemeyer, I'm willing to review the SALIB contribution.

[2016-10-25 07:07] kyleniemeyer commented on #95
Great @stijnvanhoey thanks!

@whedon assign @stijnvanhoey as reviewer

[2016-10-25 07:07] quaquel commented on #95
'll be happy to help as well

[2016-10-25 07:08] kyleniemeyer commented on #95
@whedon assign @stijnvanhoey as reviewer

[2016-10-25 07:08] whedon commented on #95
OK, the reviewer is @stijnvanhoey

[2016-10-25 07:09] kyleniemeyer commented on #95
Hi @quaquel thanks, your additional review would be great. As soon as @whedon kicks into gear, a new issue for the review itself will be created.

[2016-10-25 07:16] kyleniemeyer commented on #95
@whedon start review

[2016-10-25 07:16] whedon commented on #95
You didn't say the magic word! Try this:

[code]

[2016-10-25 07:17] kyleniemeyer commented on #95
@whedon start review magic-word=bananas

[2016-10-25 07:17] whedon commented on #95
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/97. Feel free to close this issue now!

[2016-10-25 07:17] whedon opened #97 "[REVIEW]: SALib: An open-source Python library for Sensitivity Analysis"
**Submitting author:** jdherman (<a href="http://orcid.org/0000-0002-4081-3175">Jonathan Herman</a>)
**Repository:** <a href="https://github.com/SALib/SALib" target ="_blank">https://github.com/SALib/SALib</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @stijnvanhoey
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.233103" target="_blank">10.5281/zenodo.233103</a>

## Status

[2016-10-25 07:17] whedon commented on #97
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-25 07:18] kyleniemeyer commented on #95
Alright, thanks @stijnvanhoey and @quaquel for agreeing to review! (Any of the others I pinged: you are welcome to contribute as well if you have the bandwidth.)

The review itself will take place in #97; if you haven't reviewed for JOSS before, please check out the reviewer guidelines: http://joss.theoj.org/about#reviewer_guidelines

Thanks again!

[2016-10-25 07:18] #95 closed

[2016-10-25 07:19] kyleniemeyer commented on #97
@whedon commands

[2016-10-25 07:19] whedon commented on #97
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-25 07:22] kyleniemeyer commented on #97
Hi @quaquel I can't seem to assign you, but here's the review issue.

[2016-10-25 10:19] pjotrp commented on #85
I was referring to @arfon 's 11-day old request. Glad we are moving forward.

[2016-10-25 11:57] stijnvanhoey commented on #97
Installation checked for both python 2.7 and 3.5. Able to run the minimal example in both cases.

[2016-10-25 11:59] quaquel commented on #97
on what OS did you check it? I have acces macOS, windows 7, windows 10, and if necessary windows server 2012.

[2016-10-25 12:03] chtheodoro commented on #82
@fonnesbeck I made the unit tests fully automated by using makefiles. You only need to write a specific command (see the README of the tests folder) and the test runs. Tested on both linux and os x!!

[2016-10-25 13:57] stijnvanhoey commented on #97
Installed on Ubuntu 16.04 within conda environments.

[2016-10-25 17:14] alk224 commented on #57
Someone just showed me a bug in the akutils test command. This happened as a result of a recent rewrite of the strip_primers command. The bug is fixed and the test command should function properly now.

[2016-10-25 18:19] desilinguist commented on #30
I've been swamped at work and so haven't had a chance. I'll try and take a
look tomorrow. Thanks for the reminder :)
On Sun, Oct 23, 2016 at 1:56 PM Arfon Smith <notifications@github.com>
wrote:

[2016-10-25 18:22] karantibrewal commented on #30
@desilinguist thank you for your feedback. Ill go over the issues you
outlined, and revert by begining of next week.

Appreciate the help!

On Oct 24, 2016 9:21 AM, "Nitin Madnani" <notifications@github.com> wrote:

[2016-10-25 19:00] kdesimone commented on #96
I was going to suggest nipy contributors ...

https://github.com/orgs/nipy/people

On Thu, Oct 20, 2016 at 3:11 PM, Ariel Rokem <notifications@github.com>
wrote:

[2016-10-25 22:42] fonnesbeck commented on #82
That seems to work, thanks.

The only outstanding item I see is that there are no references (with DOI) at the bottom of `paper.md`.

[2016-10-25 22:48] arfon commented on #82
@fonnesbeck - I need to compile the paper for you (this should pull in the references from `paper.bib`. I'll update the thread when I've done this.

[2016-10-25 23:43] arfon commented on #85
@chapmanb many thanks for the review here!

@holtgrewe your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00085 🎉 🚀 💥

[2016-10-25 23:43] #85 closed

[2016-10-25 23:49] arfon commented on #82
@fonnesbeck here's the PDF: [10.21105.joss.00082.pdf](https://github.com/openjournals/joss-reviews/files/552019/10.21105.joss.00082.pdf)

[2016-10-26 00:26] fonnesbeck commented on #82
Looks good to me. Thanks for your patience and diligence in addressing my comments.

@labarba Everything looks good to me now.

[2016-10-26 00:32] labarba commented on #82
Thanks ever so much, @fonnesbeck, for your diligent review. And good job, @chtheodoro, with responding to the reviewer requests.

@arfon : This submission can now be accepted in JOSS. Yay!

[2016-10-26 00:38] arfon commented on #82
✨  this is great!

@chtheodoro at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-10-26 07:30] chtheodoro commented on #82
Thank you @fonnesbeck  and @labarba !!
@arfon the zenodo DOI is 10.5281/zenodo.163291.

I've notice that in the generated PDF, only the names are displayed in the references... Is there anything I did wrong in the paper.bib file? Normally, for example it should be (Mamdani and Assilian, 1975) but it is (E.H. and S., 1975).

And, not all authors have an ORCID ID. If it is necessary, please let me k

[2016-10-26 11:27] cMadan commented on #96
@mih, @alexis-roche, @satra, @chrisfilo - would any of you be interested in reviewing this submission? (If not, any suggestions on who else we could ask?) Thanks!

[2016-10-26 14:20] pjotrp commented on #87
@byandell we modified the paper following your suggestions: https://github.com/DannyArends/CTLmapping/blob/master/doc/joss/2016/paper.md. @arfon as the software ticks all the boxes I believe we can accept the paper and go live.

[2016-10-26 22:58] katyhuff commented on #62
# Review
I have a few recommendations below.

## Conflict of interest
No conflict of interest

## General checks
### Repository
The source code for this software available at the repository url, but that url should be mentioned in the paper.
### License
GPLv3.0
### Version
The version given matches the GitHub release (v1.0.1)

## Functionality
### Installation
pip install works on my ubuntu machin

[2016-10-26 23:46] Dih5 commented on #62
Thank you very much for the review, @katyhuff.
I have added some issues with your suggestions.

On the Mac error, please consider adding an issue detailing the problem. Although I don't own a Mac and I don't plan the application to support it, perhaps it could be addressed. It would be interesting to test if a simple [hello world tkinter](https://docs.python.org/3.1/library/tkinter.html#a-simple-h

[2016-10-27 07:56] chtheodoro commented on #82
@arfon I finally managed to merge your branch with the master and everything seems ok now. Please let me know if there is anything else I should do.

[2016-10-27 11:17] arfon commented on #82
[10.21105.joss.00082.pdf](https://github.com/openjournals/joss-reviews/files/555583/10.21105.joss.00082.pdf)

@chtheodoro is this looking better in the new compiled PDF above?

[2016-10-27 11:39] whedon opened #98 "[PRE REVIEW]: acronym: An Automatic Reduction Pipeline for Astronomical Images"
**Submitting author:** @kweis (<a href="http://orcid.org/0000-0002-4639-1436">Kolby Weisenburger</a>)
**Repository:** <a href="https://github.com/kweis/acronym" target ="_blank">https://github.com/kweis/acronym</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @xuanxu

**What this issue is for**

Thanks for submitting your paper to JOSS @kweis. The JOSS editor (shown at the top of this issu

[2016-10-27 11:39] whedon commented on #98
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-10-27 11:39] arfon commented on #98
@whedon commands

[2016-10-27 11:39] whedon commented on #98
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2016-10-27 11:40] arfon commented on #98
@whedon list reviewers

[2016-10-27 11:40] whedon commented on #98
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-10-27 11:41] arfon commented on #98
👋  @xuanxu would you be interested in reviewing this submission for us?

[2016-10-27 11:43] whedon opened #99 "[PRE REVIEW]: rucrdtw: Fast time series subsequence search in R"
**Submitting author:** @pboesu (<a href="http://orcid.org/0000-0001-6723-6833">Philipp Boersch-Supan</a>)
**Repository:** <a href="https://github.com/pboesu/rucrdtw" target ="_blank">https://github.com/pboesu/rucrdtw</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewer:** @masalmon

**What this issue is for**

Thanks for submitting your paper to JOSS @pboesu. The JOSS editor (shown at the top of

[2016-10-27 11:43] whedon commented on #99
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-10-27 11:48] chtheodoro commented on #82
Everything ok!!!

[2016-10-27 12:03] arfon commented on #82
@fonnesbeck many thanks for the excellent review. @labarba ✨  for editing this one.

@chtheodoro your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00082 🚀 🎉 💥

[2016-10-27 12:03] #82 closed

[2016-10-27 12:05] arfon commented on #99
@whedon list reviewers

[2016-10-27 12:05] whedon commented on #99
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-10-27 12:06] arfon commented on #99
👋  @masalmon - would you be willing to review this submission for JOSS?

[2016-10-27 12:07] arfon commented on #87
@DannyArends - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2016-10-27 12:10] masalmon commented on #99
Ok I will! :-)

[2016-10-27 12:15] arfon commented on #99
Wonderful, thanks!

[2016-10-27 12:16] arfon commented on #99
@whedon assign @masalmon as reviewer

[2016-10-27 12:16] whedon commented on #99
OK, the reviewer is @masalmon

[2016-10-27 12:16] arfon commented on #99
@whedon start review

[2016-10-27 12:16] whedon commented on #99
You didn't say the magic word! Try this:

[code]

[2016-10-27 12:16] arfon commented on #99
@whedon start review magic-word=bananas

[2016-10-27 12:16] whedon opened #100 "[REVIEW]: rucrdtw: Fast time series subsequence search in R"
**Submitting author:** @pboesu (<a href="http://orcid.org/0000-0001-6723-6833">Philipp Boersch-Supan</a>)
**Repository:** <a href="https://github.com/pboesu/rucrdtw" target ="_blank">https://github.com/pboesu/rucrdtw</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewer:** @masalmon
**Archive:** <a href="https://dx.doi.org/10.5281/zenodo.164995" target="_blank">https://dx.doi.org/10.5281/zenodo.16

[2016-10-27 12:16] whedon commented on #99
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/100. Feel free to close this issue now!

[2016-10-27 12:16] whedon commented on #100
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-27 12:16] arfon commented on #99
@masalmon - let's continue the review over in #100

[2016-10-27 12:16] #99 closed

[2016-10-27 12:18] arfon commented on #100
@masalmon - please follow the review guidelines (http://joss.theoj.org/about#reviewer_guidelines) and complete the checklist above as you go. Any questions, please don't hesitate to ask!

[2016-10-27 12:18] masalmon commented on #100
@arfon Ok! Will try to do it this or next week :-)

[2016-10-27 12:24] whedon opened #101 "[PRE REVIEW]: ReproZip"
**Submitting author:** @remram44 (<a href="http://orcid.org/0000-0002-0524-2282">Rémi Rampin</a>)
**Repository:** <a href="https://github.com/ViDA-NYU/reprozip" target ="_blank">https://github.com/ViDA-NYU/reprozip</a>
**Version:** 1.0.8
**Editor:** @acabunoc
**Reviewer:** @stain

**What this issue is for**

Thanks for submitting your paper to JOSS @remram44. The JOSS editor (shown at the top of t

[2016-10-27 12:24] whedon commented on #101
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @acabunoc it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2016-10-27 12:24] arfon commented on #101
@whedon list reviewers

[2016-10-27 12:24] whedon commented on #101
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2016-10-27 12:26] arfon commented on #101
👋  @acabunoc - would you be able to edit this for us? It looks like `@jsta` might be a good reviewer for this one: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv#L22

[2016-10-27 12:27] masalmon commented on #100
Maybe I only accepted for getting issue number 100 ;-)

[2016-10-27 12:30] arfon commented on #100
😆

[2016-10-27 13:11] xuanxu commented on #98
Yes, I can review this, feel free to assign it to me.
(probably I won't have time for it before november 1st, in case someone wants to start reviewing right away)

[2016-10-27 13:17] arfon commented on #98
@whedon assign @xuanxu as reviewer

[2016-10-27 13:17] whedon commented on #98
OK, the reviewer is @xuanxu

[2016-10-27 13:18] arfon commented on #98
@whedon start review magic_word=bananas

[2016-10-27 13:18] whedon commented on #98
You didn't say the magic word! Try this:

[code]

[2016-10-27 13:18] arfon commented on #98
@whedon start review magic-word=bananas

[2016-10-27 13:18] whedon commented on #98
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/102. Feel free to close this issue now!

[2016-10-27 13:18] whedon opened #102 "[REVIEW]: acronym: An Automatic Reduction Pipeline for Astronomical Images"
**Submitting author:** @kweis (<a href="http://orcid.org/0000-0002-4639-1436">Kolby Weisenburger</a>)
**Repository:** <a href="https://github.com/kweis/acronym" target ="_blank">https://github.com/kweis/acronym</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @xuanxu
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.570881" target="_blank">10.5281/zenodo.570881</a>

## Status

[![stat

[2016-10-27 13:18] whedon commented on #102
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2016-10-27 13:19] arfon commented on #102
@xuanxu :wave:. Many thanks for agreeing to review this submission. Please follow the reviewer guidelines (http://joss.theoj.org/about#reviewer_guidelines) and update the issue checklist at the top of this issue as you go.