[2021-10-01 20:21] inpefess commented on #3792
@danielskatz done, thanks

[2021-10-01 20:26] inpefess commented on #3792
@whedon commands

[2021-10-01 20:26] whedon commented on #3792
Here are some things you can ask me to do:

[code]

[2021-10-01 21:25] whedon opened #3794 "[PRE REVIEW]: shar: A R package to analyze species-habitat associations using point pattern analysis"
**Submitting author:** @mhesselbarth (<a href="http://orcid.org/0000-0003-1125-9918">Maximilian H.K. Hesselbarth</a>)
**Repository:** <a href="https://github.com/r-spatialecology/shar" target ="_blank">https://github.com/r-spatialecology/shar</a>
**Version:** v1.2.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-10-01 21:25] whedon commented on #3794
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-01 21:25] whedon opened #3795 "[PRE REVIEW]: LakePy: a Python Package for Accessing and Manipulating Lacustrine Time-Series Data"
**Submitting author:** @jameshgrn (<a href="http://orcid.org/0000-0002-0115-7937">James Gearon</a>)
**Repository:** <a href="https://github.com/ESIPFed/LakePy" target ="_blank">https://github.com/ESIPFed/LakePy</a>
**Version:** 2.2.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2021-10-01 21:25] whedon commented on #3795
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-01 21:25] whedon commented on #3794
PDF failed to compile for issue #3794 with the following error:
[code]

[2021-10-01 21:25] whedon commented on #3794
[code]

[2021-10-01 21:25] whedon commented on #3795
Wordcount for `paper.md` is 643

[2021-10-01 21:25] whedon commented on #3795
[code]

[2021-10-01 21:25] whedon commented on #3795
[code]

[2021-10-01 21:26] whedon commented on #3795
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03795/joss.03795/10.21105.joss.03795.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03795/joss.03795/10.21105.joss.03795.pdf) :page_facing_up: :point_left:

[2021-10-01 21:26] danielskatz commented on #3794
@whedon generate pdf from branch joss

[2021-10-01 21:26] whedon commented on #3794
[code]

[2021-10-01 21:26] danielskatz commented on #3794
@whedon check references from branch joss

[2021-10-01 21:26] whedon commented on #3794
[code]

[2021-10-01 21:26] whedon commented on #3794
[code]

[2021-10-01 21:26] whedon commented on #3794
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03794/joss.03794/10.21105.joss.03794.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03794/joss.03794/10.21105.joss.03794.pdf) :page_facing_up: :point_left:

[2021-10-01 21:27] danielskatz commented on #3795
👋 @jameshgrn - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2021-10-01 21:27] danielskatz commented on #3795
@whedon query scope

[2021-10-01 21:27] whedon commented on #3795
Submission flagged for editorial review.

[2021-10-01 21:29] danielskatz commented on #3794
@whedon invite @Bisaloo as editor

[2021-10-01 21:29] whedon commented on #3794
@Bisaloo has been invited to edit this submission.

[2021-10-01 21:29] danielskatz commented on #3794
👋 @Bisaloo - would you be able to this submission?

[2021-10-01 22:05] jameshgrn commented on #3795
@danielskatz thanks for the reply, I would like to point you to https://github.com/ESIPFed/Global-Lake-Level-Database which houses the entire back end which supports LakePy. I should have included it in the submission but it is linked in the paper.

[2021-10-01 22:48] antviro commented on #3211
Yes, sorry for the delay and thank you for the guidance I thought I was sure that I downloaded 0.91, but I was wrong. After downloading such version I could go on and check tutorials. Everything seems to work properly. I only lack some more documentation on the functions, it would be nice to extend its use and allow others to contribute.
Nevertheless, I suggest publication on its current state.

[2021-10-01 22:59] kellyrowland commented on #3773
@whedon add @EduanWilkinson as reviewer

[2021-10-01 22:59] whedon commented on #3773
OK, @EduanWilkinson is now a reviewer

[2021-10-01 23:00] kellyrowland commented on #3773
Hi @EduanWilkinson - thanks for your interest! I've added you as a reviewer here; you've been assigned to the Github issue. I will edit the top post to create a set of checkboxes for you to work through for the paper review.

Please feel free to @ me here if you have any questions or run into any issues (I am on vacation this next week though, so my response will be delayed).

[2021-10-02 01:37] TahiriNadia opened #3796 "Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)."

[2021-10-02 01:37] whedon commented on #3796
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-10-02 01:37] #3796 closed

[2021-10-02 01:45] TahiriNadia commented on #3700
I have opened an issue in the repository for my review.

[2021-10-02 01:53] TahiriNadia opened #3797 "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

[2021-10-02 01:53] whedon commented on #3797
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-10-02 01:53] #3797 closed

[2021-10-02 02:04] TahiriNadia opened #3798 "Functionality documentation: Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?"

[2021-10-02 02:04] whedon commented on #3798
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-10-02 02:04] #3798 closed

[2021-10-02 02:14] TahiriNadia opened #3799 "Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified?"

[2021-10-02 02:14] whedon commented on #3799
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-10-02 02:14] #3799 closed

[2021-10-02 03:16] patricialarsen commented on #3783
Hi!

Installation is going fairly smoothly so far. The conda, pip and development installation work from the instructions on my home linux computer, with a fresh python3 installation.

A few minor issues though once I hit running the unit tests on these - firstly there's additional notes on this in the setup.py file. Those are useful but a little well-hidden and could be placed somewhere more visi

[2021-10-02 06:21] uecker commented on #3500
I also just filed an issue for the example repository:
https://github.com/spinicist/riesling-examples/issues/1

[2021-10-02 07:29] wvxvw commented on #3632
We don't use `pip` during development. So, if you want to use it, I could try to help you, but this might be hard... The way it would work is that you'd first build the package (we don't build source packages ourselves, so, better go with Wheel, because that's something we tried). Then, you'd install the built packages. I.e. the process is:

[code]

Make sure you have `wheel` package installed bef

[2021-10-02 07:38] wvxvw commented on #3632
Actually, I just looked into environment files for Mac:

Python 3.9:

[code]

Python 3.8

[code]

So, as you can see, they are *totally* different because of Python version. It's not just a tiny difference. These are entirely different packages.

[2021-10-02 11:13] ejikeugba commented on #3705
@wesleyburr, thanks once again for the helpful suggestions, I now have them all addressed. Let me know if there are more things to fix.

[2021-10-02 11:51] lantunes commented on #3608
@jbytecode  @szhorvat @blsqr Thank you for all the suggestions thus far. They have been very constructive, and improve the library greatly. I am continuing to address the feedback in the `cellpylib` GitHub repo. I assumed I would have been done sooner, but other commitments have required more of my time. I hope to complete addressing all the feedback over the coming week.

[2021-10-02 12:59] thomgrand commented on #3641
Hi @RobertRosca & @lucaferranti, many thanks for the review. Please find my response in-between the quotes. I tried to address most of the points in https://github.com/thomgrand/fim-python/commit/9e3a4fdb58450e1fc278f84a6f9ec4c0b738922c

# Robert Rosca

Thanks, I didn't actually know about this. I added the `pyproject.toml` with the setuptools, wheel and cython requirements.

I also added ipython

[2021-10-02 13:47] henrykironde commented on #3632
Thanks for the explanation @wvxvw, I still don't see the difference. Could you clarify that for me, please?

Also, I have looked through the development docs of core packages that you are using, and they use pip install.
pandas https://github.com/pandas-dev/pandas
numpy https://numpy.org/devdocs/dev/development_environment.html#other-build-options
matplotlib https://matplotlib.org/stable/users/ins

[2021-10-02 15:20] step21 commented on #3617
@danielskatz I think everything is fine from my side as well.

[2021-10-02 15:34] rchew commented on #3376
@arfon Apologies for the delay, would you be willing to resend an invite?

[2021-10-02 18:02] danielskatz commented on #3617
Thanks @step21!

[2021-10-02 18:03] danielskatz commented on #3617
@whedon check references in branch joss-paper

[2021-10-02 18:03] danielskatz commented on #3617
@whedon generate pdf in branch joss-paper

[2021-10-02 18:04] whedon commented on #3617
PDF failed to compile for issue #3617 with the following error:
[code]

[2021-10-02 18:04] danielskatz commented on #3617
@whedon check references from branch joss-paper

[2021-10-02 18:04] whedon commented on #3617
[code]

[2021-10-02 18:04] whedon commented on #3617
[code]

[2021-10-02 18:04] danielskatz commented on #3617
@whedon generate pdf from branch joss-paper

[2021-10-02 18:04] whedon commented on #3617
[code]

[2021-10-02 18:05] whedon commented on #3617
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: :point_left:

[2021-10-02 18:08] danielskatz commented on #3617
@mattdahl - I've now proofread the paper, and everything looks good to me.  You might want to check it again to make sure you are happy with it before we move to acceptance and publication.

The next steps are for you to:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., fig

[2021-10-02 18:08] clavigne commented on #3274
@danielskatz @diehlpk Thanks a lot for your help! I merged in the changes. I think the paper is ready for publication.

[2021-10-02 18:09] whedon opened #3800 "[PRE REVIEW]: AixCaliBuHA: Automated calibration of building and HVAC systems"
**Submitting author:** @FWuellhorst (<a href="http://orcid.org/0000-0003-3325-5707">Fabian Wüllhorst</a>)
**Repository:** <a href="https://github.com/RWTH-EBC/AixCaliBuHA" target ="_blank">https://github.com/RWTH-EBC/AixCaliBuHA</a>
**Version:** v0.2.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-10-02 18:09] whedon commented on #3800
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-02 18:09] whedon commented on #3800
Wordcount for `paper.md` is 908

[2021-10-02 18:09] whedon commented on #3800
PDF failed to compile for issue #3800 with the following error:
[code]

[2021-10-02 18:09] whedon commented on #3800
[code]

[2021-10-02 18:09] whedon commented on #3800
[code]

[2021-10-02 18:09] clavigne commented on #3274
@whedon generate pdf

[2021-10-02 18:09] whedon commented on #3274
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: :point_left:

[2021-10-02 18:11] clavigne commented on #3274
@whedon accept deposit=true

[2021-10-02 18:11] whedon commented on #3274
I'm sorry @clavigne, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-10-02 18:11] danielskatz commented on #3800
👋 @FWuellhorst - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to chec

[2021-10-02 18:12] danielskatz commented on #3274
@whedon recommend-accept

[2021-10-02 18:12] whedon commented on #3274
[code]

[2021-10-02 18:12] whedon commented on #3274
[code]

[2021-10-02 18:13] whedon commented on #3274
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2640

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2640, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-02 18:15] danielskatz commented on #3274
@clavigne - sorry, there's one more thing I missed initially and then just caught: https://github.com/aspuru-guzik-group/funsies/pull/6

[2021-10-02 18:17] clavigne commented on #3274
@danielskatz no need to apologize for making the paper better :D Thanks again!

[2021-10-02 18:22] danielskatz commented on #3274
@whedon accept deposit=true

[2021-10-02 18:22] whedon commented on #3274
[code]

[2021-10-02 18:22] whedon commented on #3274
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1444367233237585926) 👈 🐦🐦🐦

[2021-10-02 18:22] whedon commented on #3274
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2641
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03274](https://doi.org/10.21105/joss.03274)
2. If everything look

[2021-10-02 18:23] danielskatz commented on #3211
@antviro - we can't publish until your checklist is complete - so how should we handle the item

Can you state what specifically you think is needed so that the authors can work on it?

[2021-10-02 18:28] danielskatz commented on #3274
Note that at least, for me, the DOI is not yet resolving, so I'll keep this open until it does, the close the issue.

[2021-10-02 18:29] danielskatz commented on #3274
Congratulations to @clavigne (Cyrille Lavigne) and co-author!!

And thanks to @gflofst and @vijaysm for reviewing, and @diehlpk for editing!
We couldn't do this without you!

[2021-10-02 19:21] wvxvw commented on #3632
Look at the part that follows the second equals sign, it tells you the package was built for a different version of Python. Every minor version of Python has different ABI. In other words, if you link against `libpython`, you must link against a specific version of it. You cannot have a version of a package that can be loaded by either Python 3.8 or 3.9, if it has a shared library that needs to li

[2021-10-02 20:01] henrykironde commented on #3632
What I am trying to say is that there are standards in software development, these standards need to be maintained by all users for the ecosystem to have fewer dependency problems. I did not create these standards, and that is why I pointed you to the docs of the packages you are using, to have some points of reference. This will also avoid backward compatibility issues where a package does not de

[2021-10-02 20:34] whedon commented on #3736
:wave: @quynhneo, please update us on how your review is going (this is an automated reminder).

[2021-10-02 20:34] whedon commented on #3736
:wave: @timdewhirst, please update us on how your review is going (this is an automated reminder).

[2021-10-02 20:34] whedon commented on #3736
:wave: @clarka34, please update us on how your review is going (this is an automated reminder).

[2021-10-02 21:41] wvxvw commented on #3632
I'm sorry... you misinterpreted what I wrote. Please, look again at the files generated for environments using different versions of Python. It's *impossible* to have the same set of dependencies because of how Python works. It's not my choice, or the choice of Pandas or NumPy or any other package.

The development instructions they (Pandas, NumPy etc.) give you are the instructions for *a* versio

[2021-10-02 22:14] madvn commented on #3746
Hi @meg-simula , this work from @EtienneCmb et. al. looks quite interesting. While I'd be happy to review it, I'd like to first ask you what timeline you are looking at before I commit to it.

[2021-10-02 22:22] andr1976 commented on #3695
@fraukewiese , if/when you accept the paper for publication, I would like to make a new release to the python package index, which includes the improvements made by the reviewers, before the paper is published

[2021-10-02 23:22] rkurchin commented on #3781
@whedon generate pdf

Nope, that's fine! I'll just regenerate it here and you can double-check that it all looks good...

[2021-10-02 23:22] whedon commented on #3781
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: :point_left:

[2021-10-03 06:14] steko commented on #3738
@Nikoleta-v3 are the steps we have taken so far (specific issues that were addressed by the authors) the good way to move forward with the review?

[2021-10-03 08:54] wvxvw commented on #3632
Actually, the same branch also closes the bullet point 5 on your list.

As for bullet point 6: our development process doesn't require it, but I will add it anyways. If you are planning on making a contribution, please read the documentation added in `wvxvw/review-fixes`.

[2021-10-03 09:05] Balaje commented on #3668
Hi @prashjha, Sorry for the delay. I have started the review and working on it. Hope to finish by the end of next week! Thanks.

[2021-10-03 10:09] ashwinvis commented on #3418
# Minor revisions needed

<!DOCTYPE html>
<html><head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="data:text/css;base64,Ym9keSB7CgliYWNrZ3JvdW5kOiB3aGl0ZTsKfQoKYSB7Cgl0ZXh0LWRlY29yYXRpb246IHVuZGVybGluZTsKfQoKYm9keSB7CglwYWRkaW5nOiAwOwp9Cgp1bC5yZXBvcnQgbGkuaXRlbSB7Cglib3JkZXItdG9wOiA0cHggc29saWQgIzU1NTsKCXBhZGRpbmctdG9wOiAxZW0

[2021-10-03 10:13] richardjgowers commented on #3690
@KarolinaPntzt @lizadams @havalapye Hi 👋 would any of you be available to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-10-03 11:05] enricgrau commented on #3781
Thank you @rkurchin. The proof looks good!

[2021-10-03 12:28] Nikoleta-v3 commented on #3738
Yup @steko 👍🏻

Working your way through the checklist and opening issues if you think that the paper hasn't filled the requirements is exactly what we want.

If you feel that some points require more discussion  feel free to share your thoughts and comments here, and also feel free to share your overall thoughts about the paper.

I hope I have answered your question 😄

[2021-10-03 13:38] pmeier commented on #3700
I've added a bunch of issues for my review:

Automated tests and contributing

- a-ws-m/unlockNN#21
- a-ws-m/unlockNN#21
- a-ws-m/unlockNN#21
- a-ws-m/unlockNN#21
- a-ws-m/unlockNN#21
- a-ws-m/unlockNN#21

[2021-10-03 13:54] pmeier commented on #3700
I've added a bunch of issues about details for my review:

## Automated tests and contributing

- a-ws-m/unlockNN#21
- a-ws-m/unlockNN#22
- a-ws-m/unlockNN#23
- a-ws-m/unlockNN#24
- a-ws-m/unlockNN#25
- a-ws-m/unlockNN#26
- a-ws-m/unlockNN#29
- a-ws-m/unlockNN#30

## Documentation

- a-ws-m/unlockNN#20
- a-ws-m/unlockNN#31
- a-ws-m/unlockNN#32
- a-ws-m/unlockNN#33

---

In general though, I curren

[2021-10-03 13:57] pmeier commented on #3700
@TahiriNadia

It seems you have opened a bunch of issues in this repository, such as #3793. They were auto-closed by the bot and thus are hardly visible. You probably want to open them in the [repository under review](https://github.com/a-ws-m/unlockNN) instead.

[2021-10-03 15:12] osorensen commented on #3700
Thanks for noting this, @pmeier.

@TahiriNadia, I'm sorry about this confusing aspect - you're not the first reviewer who has done this. Could you please open you issues in the source repository instead as @pmeier suggests?

[2021-10-03 15:18] osorensen commented on #3700
Also, thanks a lot for all the issues you opened in the source repository, @pmeier. @a-ws-m, could you please address these issues. If you expect any of them to take more than a few weeks, please also give us an expected timeline.

[2021-10-03 15:39] zen-juen commented on #3746
Thanks for reaching out! However, I'll pass since the specificities of the methods in Frites seem to be out of my area of expertise!

[2021-10-03 15:53] osorensen commented on #3700
Regarding the issue of substantial scholarly effort, as raised by @pmeier and @Het-Shah, the [guidelines](https://joss.readthedocs.io/en/latest/submitting.html) say the following:

 individual. Some factors that may be considered by editors and reviewers when judging effort include:

Hence, it is not only an issue of number of lines of code. @pmeier, @Het-Shah, and @a-ws-m, it would be great to he

[2021-10-03 16:15] TahiriNadia commented on #3700
Thanks for the comment @osorensen, as I mentioned I am new to this article evaluation protocol. But I will look at the @pmeier comments as you mention. Thank you!

[2021-10-03 16:21] xuanxu commented on #3641
@whedon generate pdf

[2021-10-03 16:21] whedon commented on #3641
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03641/joss.03641/10.21105.joss.03641.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03641/joss.03641/10.21105.joss.03641.pdf) :page_facing_up: :point_left:

[2021-10-03 16:34] whedon commented on #3738
:wave: @MichaelHoltonPrice , please update us on how your review is going (this is an automated reminder).

[2021-10-03 16:34] whedon commented on #3738
:wave: @steko , please update us on how your review is going (this is an automated reminder).

[2021-10-03 16:38] reality commented on #3557
Hi,

I have marked all items as complete. Apologies for the delay in confirming.

Many thanks,
Luke

[2021-10-03 20:42] majensen commented on #3173
@whedon check references

[2021-10-03 20:42] whedon commented on #3173
[code]

[2021-10-03 21:17] majensen commented on #3173
Hi @tresoldi - it is looking good to me. I would still like to see a few sentences describing a typical analysis in historical linguistics and where ngesh fits in to that analysis.

Can you update your paper.bib with the DOIs found by Whedon as MISSING DOIs [above](https://github.com/openjournals/joss-reviews/issues/3173#issuecomment-933022171).

Also, can you update the reference to Harmon's book

[2021-10-04 03:30] majensen commented on #3440
@whedon check references

[2021-10-04 03:30] whedon commented on #3440
[code]

[2021-10-04 05:34] pmeier commented on #3700
@osorensen my take on https://github.com/openjournals/joss-reviews/issues/3700#issuecomment-932977470

- :green_circle: **Age of software (is this a well-established software project) / length of commit history**: first commit at July 2020
- :green_circle: **Number of commits**: ~500
- :red_circle: **Number of authors**: `git shortlog -s` reveals two authors, which I think are the same: "Alex Mori

[2021-10-04 06:13] osorensen commented on #3700
Thanks a lot for your comments, @pmeier!

[2021-10-04 06:42] FWuellhorst commented on #3800
@whedon check references

[2021-10-04 06:43] whedon commented on #3800
[code]

[2021-10-04 06:45] FWuellhorst commented on #3800
@whedon check references

[2021-10-04 06:46] whedon commented on #3800
[code]

[2021-10-04 06:47] FWuellhorst commented on #3800
@whedon generate pdf

[2021-10-04 06:47] whedon commented on #3800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03800/joss.03800/10.21105.joss.03800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03800/joss.03800/10.21105.joss.03800.pdf) :page_facing_up: :point_left:

[2021-10-04 06:55] FWuellhorst commented on #3800
@danielskatz: Thank you for the explanation and command hints. Everything seems to compile now.

[2021-10-04 07:00] FWuellhorst commented on #3800
A list of possible reviewers for this submission:
- mewilhel
- noah80
- willu47
- ralphevins
- samuelduchesne

[2021-10-04 07:18] lucydot commented on #3723
@fTurci has reported that there is a problem with editing the reviewer checklists at the top of this issue.
@govarguz have you had a similar problem?

I will try re-inviting @Fturci as reviewer and hopefully that will fix it - please let me know if it does not.

[2021-10-04 07:19] lucydot commented on #3723
@whedon add @FTurci as reviewer

[2021-10-04 07:19] whedon commented on #3723
OK, @FTurci is now a reviewer

[2021-10-04 07:48] Bisaloo commented on #3794
:wave: @danielskatz and @mhesselbarth, yes, I can edit this submission.

[2021-10-04 07:48] Bisaloo commented on #3794
@whedon assign me as editor

[2021-10-04 07:48] whedon commented on #3794
OK, the editor is @Bisaloo

[2021-10-04 07:59] Bisaloo commented on #3794
Hi @baddstats :wave:, this package appears to build upon spatstats (among other packages) to provide a more convenient/direct interface for researchers in ecology studying species-habitat associations. Would you be able to review the [paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03794/joss.03794/10.21105.joss.03794.pdf) and [R package](https://github.com/r-spatialecology/

[2021-10-04 08:00] tresoldi commented on #3173
@whedon generate pdf

[2021-10-04 08:00] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-10-04 08:05] tresoldi commented on #3173
@whedon generate pdf

[2021-10-04 08:05] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-10-04 08:06] rafaelab commented on #3725
I finished testing the code. It was easy to install and to execute. Everything worked as expected and the additional tests I did show that the package is robust. The only thing I really missed was a folder with the cpp files corresponding to the examples shown in the docs.

The last point is that there are no guidelines for people wishing to contribute to the software, as required by JOSS.

I'm ha

[2021-10-04 08:08] pdebuyl commented on #3418
Thank you @ashwinvis for the review.

I see that @JohnVolk started to reply in the issues, I'll check them but it is easier for me if the resolutions of the issues are mentioned here.

[2021-10-04 08:10] tresoldi commented on #3173
@whedon generate pdf

[2021-10-04 08:11] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-10-04 08:11] tresoldi commented on #3173
@whedon check references

[2021-10-04 08:11] whedon commented on #3173
[code]

[2021-10-04 08:14] tresoldi commented on #3173
Sorry for spamming with whedon, but there is always a tiny detail missing... This should be the last round.

[2021-10-04 08:14] tresoldi commented on #3173
@whedon generate pdf

[2021-10-04 08:15] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-10-04 08:15] tresoldi commented on #3173
@whedon check references

[2021-10-04 08:15] whedon commented on #3173
[code]

[2021-10-04 08:17] tresoldi commented on #3173
Thank you very much, @majensen ! I have updated accordingly, also with a small addition to the Statement of Need. You can compare the current source with the one you checked here: https://github.com/tresoldi/ngesh/compare/172d382..2561440

[2021-10-04 08:17] whedon commented on #3739
:wave: @andrewheiss, please update us on how your review is going (this is an automated reminder).

[2021-10-04 08:17] whedon commented on #3739
:wave: @vaneseltine, please update us on how your review is going (this is an automated reminder).

[2021-10-04 08:55] timtroendle commented on #3596
@noah80, can you please give us an indication about the progress of your review?

[2021-10-04 08:58] mikldk commented on #3539
@whedon set 10.5281/zenodo.5529932 as archive

[2021-10-04 08:58] whedon commented on #3539
OK. <a href="https://doi.org/10.5281/zenodo.5529932" target="_blank">10.5281/zenodo.5529932</a> is the archive.

[2021-10-04 08:58] mikldk commented on #3539
@whedon set v1.6 as version

[2021-10-04 08:58] whedon commented on #3539
OK. v1.6 is the version.

[2021-10-04 08:58] mikldk commented on #3539
@whedon generate pdf

[2021-10-04 08:59] whedon commented on #3539
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: :point_left:

[2021-10-04 09:00] mikldk commented on #3539
@slwu89  @giovannic: At Zenodo you write `v1.6` (right hand sidebar), but the release at Github is `v0.1.6` (from Aug 20?)? Also, the names on the paper and at Zenodo do not match, please make consistent.

[2021-10-04 09:04] khinsen commented on #3735
Review update: I am looking at the code and playing with it. Interacting with the author via [issues](https://github.com/neuralgraphs/diman/issues?q=is%3Aissue) on the code repository.

[2021-10-04 09:45] baddstats commented on #3794
Sorry, I am too busy

[2021-10-04 10:15] Bisaloo commented on #3794
I understand, thanks for your quick answer :+1:! Would you have any suggestions for alternative reviewers?

[2021-10-04 10:23] arfon commented on #3274
DOI is resolving now.

[2021-10-04 10:23] #3274 closed

[2021-10-04 10:23] whedon commented on #3274
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03274/status.svg)](https://doi.org/10.21105/joss.03274)

**We need your help!**

Journal of Open Source Softwa

[2021-10-04 10:28] giovannic commented on #3539
@mikldk Done, thanks

[2021-10-04 10:36] arfon commented on #3376
@whedon re-invite @rchew as reviewer

[2021-10-04 10:36] whedon commented on #3376
OK, the reviewer has been re-invited.

@rchew please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-10-04 10:36] arfon commented on #3376
@rchew – please try again now?

[2021-10-04 10:36] martinfleis commented on #3623
@nsviel Do you have any update on the progress? We don't have any deadline for the response but also don't want issues to go stale.

[2021-10-04 10:43] chartgerink commented on #3789
Hi @danielskatz - sorry I'm editing three other papers right now and want to complete my first one before adding to that, as a new editor in town :-)

[2021-10-04 11:07] crvernon commented on #3666
@dbuscombe-usgs and @npucino - I noticed that all tasks have been checked.  Are you still collaborating on fixes for this review or have all of your inquiries been addressed @dbuscombe-usgs ?

Also, I noticed that the following related issues are still open:

- [ ] https://github.com/npucino/sandpyper/issues/6
- [ ] https://github.com/npucino/sandpyper/issues/8

[2021-10-04 11:34] mikldk commented on #3539
@whedon set v0.1.6 as version

[2021-10-04 11:34] whedon commented on #3539
OK. v0.1.6 is the version.

[2021-10-04 11:34] mikldk commented on #3539
@giovannic Middle initial missing from Zenodo?

[2021-10-04 11:44] jarvist commented on #3711
Wonderful! Thank you both.

[2021-10-04 11:53] jarvist commented on #3711
@nmoran , have you had time to consider a response?
I appreciate that writing documentation is a large and quite open ended task, but I think the reviewer's concerns are bona fide, and that better documentation would improve the package in general.

[2021-10-04 12:01] jacobsoj commented on #3496
My father died, so I have been out of the country. If you can wait another week(Oct. 11), I can finish this review. If not, then I withdraw. I apologize, but it has been a difficult time. It was under hospice care for 2,months.
Jill

Sent from my iPhone

On Sep 20, 2021, at 7:47 AM, Sebastian Benthall ***@***.***> wrote:

﻿

@jacobsoj<https://can01.safelinks.protection.outlook.com/?url=https%3A%2F

[2021-10-04 12:03] danielskatz commented on #3274
The DOI now resolves, so we're done!!

[2021-10-04 12:14] danielskatz commented on #3789
@chartgerink - ok, thanks - @kyleniemeyer will look for another editor. Also, you might want to change your max papers on the JOSS dashboard from 4 to 3 to help AEiCs.

[2021-10-04 12:31] takuma929 commented on #3449
Thanks for your revision work, @RodDalBen. My comments were essentially addressed.
I have posted some minor additional comments so please check the link below.

https://github.com/RodDalBen/SHINE_color/issues/8#issue-1015117698

[2021-10-04 13:13] felixchenier commented on #3714
@alcantarar Thank you Ryan for your very kind comments, it is much appreciated.

[2021-10-04 13:24] jonsampedro commented on #3411
Hello @dhhagan , I just wanted to check the status of this review. Thanks!

[2021-10-04 13:35] whedon commented on #3740
:wave: @hagenw, please update us on how your review is going (this is an automated reminder).

[2021-10-04 13:35] whedon commented on #3740
:wave: @nils-werner, please update us on how your review is going (this is an automated reminder).

[2021-10-04 14:03] JohnVolk commented on #3418
Thank you @ashwinvis for the useful comments and suggestions. I've addressed most of the points related to the software paper in the last commit except at this point I cannot find another option for the Allen et al., 2005 reference. Still working on the documentation and automated test coverage. Regarding the Allen et al., 2005 report, it is specifically written around the equation and is the most

[2021-10-04 14:19] gkthiruvathukal commented on #2752
@vincentberenz  I had already recommended this for acceptance. So can you go back to my August 1st comment and make sure to provide the needed information so we can bring this submission to closure?

[2021-10-04 14:25] vaneseltine commented on #3739
Currently getting prerequisites in place (PostgreSQL, Python 3.9) Two comments while I run through setup:

1. There's a bit of inconsistency in Python version. The instructions in User_Guide.md require Python 3.9, but the main README.md only mentions 3.7 for contributions, and no version requirement is enforced (e.g. with python_requires) in setup.py.

2. This requirement in the user guide is best

[2021-10-04 14:41] bmcfee commented on #3540
@brunaw :wave: can you check @VBlesius 's response / readme updates and update your review if appropriate?  Thanks!

[2021-10-04 14:42] gkthiruvathukal commented on #2752
@vincentberenz, So there are no changes to the code based on your point about the o80 drivers, right?
Thanks for your prompt response.

[2021-10-04 14:44] JohnVolk commented on #3418
@ashwinvis, just FYI, I did a google search for the report "The ASCE Standardized Reference Evapotranspiration Equation" and the second link that comes up for me is a PDF version of [the report](https://www.mesonet.org/images/site/ASCE_Evapotranspiration_Formula.pdf).

[2021-10-04 14:46] andr1976 commented on #3695
@fraukewiese, I have made a new release (0.16.2 on github) accompanied with an updated PyPi package. The new release includes the improvments suggested by the reviewers (and some fixes here and there)  as well as another proofreding round made by the company department language secretary. So I am good to go from here if you are

[2021-10-04 15:03] trstewart212 commented on #2733
Have the outstanding items identified in the attached July 8 email been addressed?

Trevor Stewart
175 West 13th Street, Apt 19D
New York, NY 10011
+1(212)929-0321
+1(917)402-9800 iPhone
***@***.***

On Sep 30, 2021, at 07:31, fgeertman ***@***.***> wrote:

Yes, will do next week.

Thanks

From: Vince Knight ***@***.***
Sent: Monday, September 27, 2021 3:48 PM
To: openjournals/joss-reviews
Cc: Fer

[2021-10-04 15:15] JohnVolk commented on #3418
Also, just in case you are interested, I just heard back from Richard Allen, he mentioned that that report is fine to use as well as [this one](https://www.uidaho.edu/-/media/UIdaho-Responsive/Files/cals/centers/Kimberly/water-resources/ASCE-Standardized-Reference-Evapotranspiration-Equation-draft-report-without-appendices.pdf?la=en&hash=F4E3EB1290A7971E172F23A2A3B660B237D727D0) on his website. Th

[2021-10-04 15:16] vincentberenz commented on #2752
@gkthiruvathukal I confirm the only change is the update of the paper (referring to the franka panda drivers). None of the code has been changed.

[2021-10-04 15:21] michaelberks commented on #3523
I have now completed the [above tasks](https://github.com/openjournals/joss-reviews/issues/3523#issuecomment-931118934). Some more details below

## Program logs

For detailing how acquisition parameters are set from XTR files, the program logs now look something like this:

### T1 mapping

    C:\isbe\qbi\madym_testing\examples>"%MADYM_ROOT%\madym_T1" --config madym_T1_config.txt --cwd test_datas

[2021-10-04 15:22] gkthiruvathukal commented on #2752
@vincentberenz  So I can just use your v1.0 tag for the release, right?

[2021-10-04 15:23] gkthiruvathukal commented on #2752
@whedon set 10.5281/zenodo.5357876 as archive

[2021-10-04 15:23] whedon commented on #2752
OK. <a href="https://doi.org/10.5281/zenodo.5357876" target="_blank">10.5281/zenodo.5357876</a> is the archive.

[2021-10-04 15:24] gkthiruvathukal commented on #2752
@whedon set v1.0 as version

[2021-10-04 15:24] whedon commented on #2752
OK. v1.0 is the version.

[2021-10-04 15:25] vincentberenz commented on #2752
yes

[2021-10-04 15:26] gkthiruvathukal commented on #2752
@whedon accept

[2021-10-04 15:26] whedon commented on #2752
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-10-04 15:26] gkthiruvathukal commented on #2752
@whedon recommend-accept

[2021-10-04 15:26] whedon commented on #2752
[code]

[2021-10-04 15:26] whedon commented on #2752
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2642

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2642, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-04 15:29] gkthiruvathukal commented on #3292
@whedon commands

[2021-10-04 15:29] whedon commented on #3292
Here are some things you can ask me to do:

[code]

[2021-10-04 15:30] gkthiruvathukal commented on #3292
@markheckmann Is there any update? See @aj2duncan's comment above.

[2021-10-04 15:35] whedon commented on #3741
:wave: @alexanderfurnas, please update us on how your review is going (this is an automated reminder).

[2021-10-04 15:35] whedon commented on #3741
:wave: @mbod, please update us on how your review is going (this is an automated reminder).

[2021-10-04 15:44] gkthiruvathukal commented on #3291
@bshoshany  Thanks for your follow up. I apologize for the delay on my end as September is the craziest month in my academic year (on average). I'm satisfied with your responses. The number of stars on your project is impressive. It does seem like there are some who are using your library.

We do not require citations of your existing Zenodo archive. One of the goals of JOSS is to improve the like

[2021-10-04 15:58] dbuscombe-usgs commented on #3666
Hi @cvernon, I am satisfied - I approve this submission

I will still work with @npucino to help test remaining issues with conda packaging

[2021-10-04 16:14] sfsinger19103 commented on #3739
1. Thanks for flagging the version inconsistency. It should be 3.9
2. The comment about aliasing is not intended to be a requirement, but rather as a helpful hint to users who may not have much experience with python.

[2021-10-04 16:21] thewan05 commented on #3084
@drvinceknight Thank you for letting me know. I reached out through the SAS community forums, and one person agreed to review the paper. She is Lauren Rackley and her email address is lauren.g.rackley@gmail.com

[2021-10-04 16:21] noatamir commented on #3755
Thank you both!
I'm still looking for another reviewer with theoretical astronomy/physics via email, as I'm not sure everyone is reading their github notifications.. I'll keep you posted.

[2021-10-04 16:27] crvernon commented on #3666
Thanks @dbuscombe-usgs I really appreciate your thorough review and willingness to volunteer so much of your time to make this the best product it can be!

[2021-10-04 16:32] agahkarakuzu commented on #3523
@michaelberks thank you for addressing the issues I raised, I have checked all the boxes following your update. I did not know about some of the tools you mentioned in the related work section, discovering that there are more open-source qMRI projects than I knew always cheers me up!

I am glad that BIDS compatibility is now on the to-do list of your project, I hope that it will foster interoperab

[2021-10-04 16:46] WildfireXIII commented on #3652
Hey, I haven't heard anything in a while, so I just wanted to check what the status on this review was, and if there's anything else needed from me so far.

[2021-10-04 17:11] diehlpk commented on #3465
@elwinter How is your revision going?

[2021-10-04 17:11] diehlpk commented on #3465
@taless474 How is your review going?

[2021-10-04 17:16] diehlpk commented on #3631
@whedon commands

[2021-10-04 17:16] whedon commented on #3631
Here are some things you can ask me to do:

[code]

[2021-10-04 17:17] diehlpk commented on #3631
@whedon remind @dirmeier in 2 weeks

[2021-10-04 17:17] whedon commented on #3631
Reminder set for @dirmeier in 2 weeks

[2021-10-04 17:17] diehlpk commented on #3631
@whedon remind @StefanOlin  in 2 weeks

[2021-10-04 17:17] whedon commented on #3631
Reminder set for @StefanOlin  in 2 weeks

[2021-10-04 17:18] diehlpk commented on #3724
@whedon remind @srmnitc  in 2 weeks

[2021-10-04 17:18] diehlpk commented on #3724
@whedon remind @KParas  in 2 weeks

[2021-10-04 17:18] whedon commented on #3724
Reminder set for @KParas  in 2 weeks

[2021-10-04 17:30] dirmeier commented on #3631
Ciao @diehlpk, you can find my reviews here: https://github.com/wtraylor/modular_megafauna_model/issues/51, https://github.com/wtraylor/modular_megafauna_model/issues/52

Cheers, S

[2021-10-04 17:35] danielskatz commented on #2752
👋 @vincentberenz - I've suggested some minor changes in the paper in https://github.com/intelligent-soft-robots/o80/pull/11 - please merge these or let me know what you disagree with, then we can proceed to acceptance and publication.

[2021-10-04 18:16] ysohn commented on #2708
@arfon I deeply apologize for the delay. We agree to close the review if we do not complete the changes requested by the reviewers by the end of November.

[2021-10-04 19:17] pdebuyl commented on #3418
Hi @JohnVolk indeed, DOIs take precedence. Could you try a bibtex "note" field along

?

This would let readers find a freely accessible version.

[2021-10-04 20:16] roderickmackenzie commented on #3727
@whedon Waiting for blockers from first review to be resolved.

[2021-10-04 20:16] whedon commented on #3727
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-10-04 21:09] rchew commented on #3376
@arfon Received new invitation -- thanks!

[2021-10-04 21:35] taless474 commented on #3465
@diehlpk, thank you for your comment. We are waiting for @elwinter to address [#22](https://github.com/elwinter/nnde/issues/22), so I can go forward with the next round of review.

[2021-10-05 00:42] TobbeTripitaka commented on #3673
Sorry for the delay in finalizing my review. The manuscript reads much better with the updates.
I got some problems with OpenGeoSys; however, it was not related to the presented interface.

[2021-10-05 00:46] TobbeTripitaka commented on #3673
Some edits were suggested, and mostly incoperated in the manuscript. https://github.com/joergbuchwald/joss_ogs6py_VTUinterface/pull/1

[2021-10-05 02:09] npucino commented on #3666
Hi guys, **thanks again** for you extremely valuable comments and contributions!

Yesterday I was trying the .yml option with different degrees of version requirements and still getting some tests to fail.
Right now I am also testing different versions of requirements to see if I can relax at least part of the requirements and isolate the issue.

But,
using the strict version requirements, tests d

[2021-10-05 02:18] jules32 commented on #3467
Hi @Shyentist , I’ve re-reviewed and think that you have met most of the checklist required for the JOSS review at this point. You've addressed my previous comments and I think that the Handbook has improved a lot; the Example on p. 12 was especially helpful for understanding how the App could be used. The only thing that I didn’t see in the Software Paper was the “State of the Field”; perhaps htt

[2021-10-05 02:50] npucino commented on #3666
### Sorry, last quick update!

Actually, I am close to nail down this weird random generator issue.
Apparently something happened between numpy 1.20 and 1.21 with their [default  random number generator](https://numpy.org/devdocs/reference/random/upgrading-pcg64.html#upgrading-pcg64).
I really start to think that is numpy that causes my tests to fail behind the curtains, affecting sklearn KMeans f

[2021-10-05 03:41] galessiorob commented on #3774
@wlandau MIT license is just fine 👍

I've emailed several volunteers that I think are a good match for your paper, but feel free to recommend others by mentioning them here. Thanks!

[2021-10-05 03:43] galessiorob commented on #3756
@rabdill thank you so much for your review thus far. Would you mind expanding on the items that are still missing or need fixing/expanding, please?

@AlexanderPico checking in, is there anything I can help with so you can get started with your review?

[2021-10-05 03:46] rabdill commented on #3756
Hi @galessiorob, I haven't finished my review yet, sorry for the confusion. The empty checkboxes in my review are just components I haven't been able to verify yet. I'll be sure to leave a comment here once it's ready.

[2021-10-05 04:03] mattdahl commented on #3617
Thank you, @step21, for your very helpful feedback throughout this process! We appreciate you taking the time to serve as a reviewer.

@danielskatz We will complete those tasks in the coming days.

[2021-10-05 04:23] galessiorob commented on #3756
Thanks so much @rabdill

[2021-10-05 04:24] galessiorob commented on #3756
@whedon add @apcamargo as reviewer

[2021-10-05 04:24] whedon commented on #3756
OK, @apcamargo is now a reviewer

[2021-10-05 05:22] cpalenzuela commented on #3336
@bprather I can now compile and run all the tests locally, but I can not still run in the Mare Nostrum cluster, so I can not check the weak/strong scaling performance. Either I am doing something very wrong, or the code is not portable easily to other clusters/infrastructures. Maybe few more details about how to compile and run in other clusters than TACC would be useful.

[2021-10-05 06:02] arfon commented on #2606
I've asked @terrytangyuan if he's willing to provide a second review here.

@avik-pal – I'd still welcome any help you might be able to provide to identify a second reviewer here.

[2021-10-05 06:06] arfon commented on #3719
FYI I just emailed @pps121 to see when they might be able to complete their review by.

[2021-10-05 06:08] arfon commented on #3429
:wave: @g4brielvs – how are you getting on with your review here? Are you waiting on input from the author (@AndreasPhilippi) or myself at this point?

[2021-10-05 06:11] arfon commented on #3119
@CJ-Wright @sbillinge – I'm struggling to find a second reviewer for this submission. Could you take a look at [this spreadsheet](http://bit.ly/joss-reviewers) and identify some possible candidates?

Also, if there are people in your field who you think would be suitable, please mention them here too.

[2021-10-05 06:12] arfon commented on #3612
:wave: @finagle29 – just checking in here to see how you're getting on responding to the reviewer feedback?

[2021-10-05 06:39] ChrisW09 commented on #3719
Thank you @arfon! We are looking forward to your feedback @pps121.

[2021-10-05 07:34] noah80 commented on #3596
@timtroendle
@nick-gorman

Sorry for the delay. After reviewing the software too, I reached similar conclusions to Robin.

1. The code is well-documented and readable.
2. Even after reading the documentation and the paper I still don't know what the software could be used for. Why would anyone want to model the dispatch?
3. The predefined examples show how to use the software, but don't explain th

[2021-10-05 07:50] fabian-s commented on #3652
@sara-02 please do update us on how this review is going, as you know JOSS aims for quick turnaround times and we are waiting for your review to proceed.

[2021-10-05 07:55] ejikeugba commented on #3705
@Bisaloo, done!

[2021-10-05 07:55] koenderks commented on #2733
Hi all,

In the attached document ([Comments.docx](https://github.com/openjournals/joss-reviews/files/7283797/Review.JASP.-.KD.docx)) is my response to the July 8 email. Here I have tried to address the issues raised as best as possible, and have tried to explain how and where the requested information can be located online. Can this information be of any help in the review process? I would of cou

[2021-10-05 08:05] vincentberenz commented on #2752
@danielskatz Thanks for the improvements ! I merged the branch into master.

[2021-10-05 08:29] giovannic commented on #3539
@mikldk Ah, ok done 👍

[2021-10-05 08:36] cedricchevalier19 commented on #3291
Sorry for the huge delay, I was unable to test the software until recently. I catch up today and will provide some comments. Sorry again.

[2021-10-05 08:40] eferrea commented on #3638
Hi @oliviaguest , other potential reviewers are mstimberg, katschueler and vahid-sb .
Thanks.

[2021-10-05 08:47] ArtVoro commented on #3325
Hi @jarvist ,

I just wanted to check on the current status of the review. Seems like you didn't find the time yet to check the changes. I hope that we can finalize the review soon because I'm about to submit another paper where i want to reference the pyrexMD paper.

Best regards,
Arthur

[2021-10-05 08:53] mikldk commented on #3539
@whedon generate pdf

[2021-10-05 08:54] whedon commented on #3539
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: :point_left:

[2021-10-05 08:56] michaelberks commented on #3523
Thank-you again for your very helpful review comments @agahkarakuzu

[2021-10-05 09:04] robbisg commented on #3578
@whedon generate pdf

[2021-10-05 09:04] whedon commented on #3578
PDF failed to compile for issue #3578 with the following error:
[code]

[2021-10-05 09:10] whedon commented on #3742
:wave: @WilkAndy, please update us on how your review is going (this is an automated reminder).

[2021-10-05 09:10] whedon commented on #3742
:wave: @bonh, please update us on how your review is going (this is an automated reminder).

[2021-10-05 09:11] fraukewiese commented on #3695
@mefuller and @bocklund : Thank you very much for your thorough review!

[2021-10-05 09:11] fraukewiese commented on #3695
@whedon generate pdf

[2021-10-05 09:12] whedon commented on #3695
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03695/joss.03695/10.21105.joss.03695.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03695/joss.03695/10.21105.joss.03695.pdf) :page_facing_up: :point_left:

[2021-10-05 09:12] fraukewiese commented on #3695
@whedon check references

[2021-10-05 09:12] whedon commented on #3695
[code]

[2021-10-05 09:14] osorensen commented on #3578
@AKUMAR0019, it looks like there are no papers to compile in the source repository. Can you please make sure the paper is there? If you wish, it is possible to put the paper in a separate branch, and then compile it with `whedon generate pdf from branch branch-name`.

[2021-10-05 09:36] ashwinvis commented on #3418
@whedon generate pdf

[2021-10-05 09:36] whedon commented on #3418
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03418/joss.03418/10.21105.joss.03418.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03418/joss.03418/10.21105.joss.03418.pdf) :page_facing_up: :point_left:

[2021-10-05 09:44] ashwinvis commented on #3418
@JohnVolk I noticed that some of the key methods utilize a package called `refet` (https://github.com/WSWUP/RefET). I think this should be acknowledged. Also note somewhere in the software paper what quantities are calculated using `refet`.

[2021-10-05 09:45] arfon commented on #3719
I just heard back from @pps121 and they are committed to completing their review soon, but are currently busy with school/university commitments.

[2021-10-05 09:55] mikldk commented on #3539
@giovannic:

1. In the Summary section, you write "individual based models (IBMs)" - would it be appropriate to also include the term "agent based models (ABM)"?
2. Sometimes you write "individual based" and others "individual-based". Please use the same form.
3. "General R Packages" vs "Design Principles" vs "State of the field" - please either use Title Case consistently, or don't use it :smile:

[2021-10-05 09:56] ChrisW09 commented on #3719
Great, thank you both @arfon and @pps121!

[2021-10-05 10:03] matteomancini commented on #3523
@michaelberks thanks for addressing most comments. The only things currently missing are the following:

- (if feasible) make each point of the TL;DR instructions an anchor link to the related detailed section;
- guidelines for potential contributions (e.g. a `CONTRIBUTING.md` file?);
- a general reference about DCE-MRI when mentioned in the summary for the first time (if the reference list length

[2021-10-05 10:37] FTurci commented on #3723
I  have gone through the checklist, raised a few issues and @jorisparet has already addressed them. I do not know if it is customary, but I would like to briefly summarise my assessment.

The repository is well prepared, the documentation is useful, the installation is easy. The article is well written and should help any future user. The package allows for more physical ingredients to be added th

[2021-10-05 10:39] fraukewiese commented on #3695
@andr1976
Could you please correct the following in the article:
Typo in Line 56 "come" instead of "comes"
The link in this Reference does not work: API. (2014). Pressure-relieving and Depressuring Systems, API Standard 521 (API Standard 521, Sixth Edition, January). American Petroleum Institute. ISBN: 5925731107

[2021-10-05 10:41] fraukewiese commented on #3695
@andr1976
Then, could you
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure t

[2021-10-05 10:48] fraukewiese commented on #3625
@olejandro @mfleschutz : I agree that the target audience should be mentioned in the Statement of need.
Furthermore, I agree to the comment from olejandro that some more reference to similar software/projects should be made in the paper explaining which similarities and which additional/different functionalities/features/aspects exist. ("One more comment I have on the Statment of Need - for the av

[2021-10-05 10:49] govarguz commented on #3723
yes, I had the same problem could you please re-invite me?

[2021-10-05 10:50] fraukewiese commented on #3574
@szkafander : If you have any questions regarding the review, do not hesitate to ask.

[2021-10-05 11:12] crvernon commented on #3666
@npucino no problem at all.  Let me know when you have the package in the condition that you want it published in and I will proceed with my tasks.

[2021-10-05 11:29] nasserma commented on #3742
@lucydot  @WilkAndy This is our first time submitting to JOSS, I just want to confirm how we respond to reviewer comments. Should we be collating them and responding after they are complete or should we respond to each one individually? We have a response ready for @WilkAndy but it also involves revisions to the manuscript.

[2021-10-05 11:31] whedon commented on #3743
:wave: @mlxd, please update us on how your review is going (this is an automated reminder).

[2021-10-05 12:08] trstewart212 commented on #2733
Thanks Koen. Trevor

Trevor Stewart
175 West 13th Street, Apt 19D
New York, NY 10011
+1(212)929-0321
+1(917)402-9800 iPhone
***@***.***

On Oct 5, 2021, at 03:55, Koen Derks ***@***.***> wrote:

Hi all,

In the attached document (Comments.docx <https://github.com/openjournals/joss-reviews/files/7283797/Review.JASP.-.KD.docx>) is my response to the July 8 email. Here I have tried to address the iss

[2021-10-05 12:19] danielskatz commented on #2752
@whedon recommend-accept

[2021-10-05 12:19] whedon commented on #2752
[code]

[2021-10-05 12:19] whedon commented on #2752
[code]

[2021-10-05 12:19] whedon commented on #2752
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2643

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2643, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-05 12:24] danielskatz commented on #2752
@whedon accept deposit=true

[2021-10-05 12:24] whedon commented on #2752
[code]

[2021-10-05 12:25] whedon commented on #2752
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1445364477604646915) 👈 🐦🐦🐦

[2021-10-05 12:25] whedon commented on #2752
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2644
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02752](https://doi.org/10.21105/joss.02752)
2. If everything look

[2021-10-05 12:30] danielskatz commented on #2752
Congratulations to @vincentberenz (Vincent Berenz) and co-authors!!

And thanks to @traversaro and @vissarion for reviewing, and @gkthiruvathukal for editing!
We couldn't do this without you

[2021-10-05 12:30] #2752 closed

[2021-10-05 12:30] whedon commented on #2752
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02752/status.svg)](https://doi.org/10.21105/joss.02752)

**We need your help!**

Journal of Open Source Softwa

[2021-10-05 12:39] vincentberenz commented on #2752
@gkthiruvathukal @traversaro @vissarion thanks indeed !

[2021-10-05 12:52] rkurchin commented on #3781
👋 @stuartcampbell @ksunden reminder to get your reviews started!

[2021-10-05 12:54] rkurchin commented on #3727
@ljakoster, any updates on Rod's review?

@UTH-Tuan, did the response above help you to compile the code?

@shahmoradi, reminder to please start your review!

[2021-10-05 12:56] rkurchin commented on #3703
@Sbozzolo, did these responses help?

@rashti-alireza, reminder to start the remainder of your checklist!

[2021-10-05 12:56] rkurchin commented on #3546
@fgjorup, hope you had a nice trip. Here's a little reminder to respond to the comments above! :)

[2021-10-05 13:03] terrytangyuan commented on #2606
Yes, I am happy to switch to the reviewer for this submission and my review is actually going to be quick as I initially spent some time looking through this submission as an editor previously.

[2021-10-05 13:03] terrytangyuan commented on #2606
@whedon add @terrytangyuan as reviewer

[2021-10-05 13:03] whedon commented on #2606
OK, @terrytangyuan is now a reviewer

[2021-10-05 13:06] ljakoster commented on #3727
@rkurchin nope, I was kind of waiting for the reviews by the other
reviewers so we can deal with them in 1 go. However, we will start working
on Rod's comments. On a more technical note: how do I do this? do I simply
address the issues, put a rebuttal somewhere and upload a new version on
Github?

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groning

[2021-10-05 13:06] terrytangyuan commented on #2606
## Review checklist for @terrytangyuan
### Conflict of interest

- [x] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [x] I confirm that I read and will adhere

[2021-10-05 13:11] terrytangyuan commented on #2606
@avik-pal Just some small feedback:
1. There might be some papers that you cited in arXiv but have been published to somewhere more formally. Could you check and update them accordingly?
2. The paper has been here for a year and some things might have been changed, such as the feature tables for existing frameworks. Could you update those wherever necessary? If the API of TorchGAN has changed, ple

[2021-10-05 13:26] michaelberks commented on #3523
@matteomancini thank-you.

I've now:

- Added anchor links for the dependencies and summary steps of the TL;DR build instructions, both in the main [README](https://gitlab.com/manchester_qbi/manchester_qbi_public/madym_cxx/-/blob/61-joss-review-fixes/README.md) and the [build instructions](https://gitlab.com/manchester_qbi/manchester_qbi_public/madym_cxx/-/wikis/build_instructions) on the wiki.

-

[2021-10-05 13:29] andr1976 commented on #3695
@fraukewiese :

The manuscript has been revised accordingly and the ISBN no has been removed.

The latest tagged release https://github.com/andr1976/HydDown/releases/tag/v0.16.2
Achived here: https://doi.org/10.5281/zenodo.5547917
yesterday, i.e. the small corrections just made to the manuscript are not reflected, but the software is the same. I have checked metadata and removed mefuller as author

[2021-10-05 13:29] andr1976 commented on #3695
@whedon generate pdf

[2021-10-05 13:30] whedon commented on #3695
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03695/joss.03695/10.21105.joss.03695.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03695/joss.03695/10.21105.joss.03695.pdf) :page_facing_up: :point_left:

[2021-10-05 13:32] rkurchin commented on #3727
Make any updates to the code and/or manuscript that are needed to address the issues, and describe the changes here (or, if you prefer to open issues in your own repository to track things individually, that's also fine, just mention this issue in them and link to them here). If you update the manuscript, you can refresh the proof here by running `@whedon generate pdf` (note that this must be the

[2021-10-05 13:51] AKUMAR0019 commented on #3578
@osorensen @robbisg While https://github.com/incf-nidash/PyNIDM is where the code is stored, the paper is in https://github.com/AKUMAR0019/PyNIDM/blob/master/paper.md. My fellow contributors to PyNIDM wanted me to keep the paper in my personal fork of it as opposed to putting it in the main repository. I am not certain how to get whedon to compile the paper there. Can you advise? Thank you.

[2021-10-05 14:10] alesarrett commented on #3119
Sorry to be so late in replying.
Anyway, I'm not able to hep with this review, sorry.

[2021-10-05 14:12] osorensen commented on #3578
@AKUMAR0019, the [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) say:

I hence suggest that you discuss this again with your fellow contributors and see if you can add the paper to the repository.

[2021-10-05 14:17] danielskatz commented on #3578
Note that the paper was in the repo when this submission was accepted for review, and it needs to stay there, though it can be a branch, as @osorensen says.  Otherwise, we will have to reject the submission.

[2021-10-05 14:20] matteomancini commented on #3523
@michaelberks thanks for addressing those! I think that only the first anchor link in the README is misbehaving, but apart from that it looks great! Happy to recommend acceptance!

[2021-10-05 14:21] giovannic commented on #3539
👍 done

[2021-10-05 14:22] giovannic commented on #3539
@whedon generate pdf

[2021-10-05 14:22] whedon commented on #3539
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: :point_left:

[2021-10-05 14:38] agricolab commented on #3638
Sorry for the late reply. I am busy with parental leave, and moving and won't be able to review in time. Hope you find reviewers.

[2021-10-05 14:48] osorensen commented on #3578
Thanks @danielskatz. I just wanted to add that the original submission repository was the fork where the paper is saved. Thus the paper compilation succeeded in the pre review issue. However, since this fork is not the home of the software, we changed the submission repository after some discussion in the top of this thread. And since the paper has not been put in this repository, compilation now

[2021-10-05 15:10] rchew opened #3801 "Functionality: Have the functional claims of the software been confirmed?"

[2021-10-05 15:10] whedon commented on #3801
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-10-05 15:10] #3801 closed

[2021-10-05 15:16] HeatherWelch commented on #3467
Hi @Shyentist, I have also completed my 2nd review. Nice job on revisions, you have addressed all of my comments. I particularly like the in-depth Galapagos example in the handbook (really nicely done), and that the handbook is now directly embedded in the app. I have no further edits. Best, Heather

[2021-10-05 15:32] kyleniemeyer commented on #3789
👋 @mikldk could you edit this submission?

[2021-10-05 15:32] kyleniemeyer commented on #3789
@whedon invite @mikldk as editor

[2021-10-05 15:32] whedon commented on #3789
@mikldk has been invited to edit this submission.

[2021-10-05 15:36] kyleniemeyer commented on #3757
@VivianePons we can find someone else, to allow you to handle the other assignment. Good luck with the move!

@jarvist though this is a bit outside your primary areas of expertise, it seemed like you were familiar with the area—could you edit this one?

[2021-10-05 15:36] kyleniemeyer commented on #3757
@whedon invite @jarvist as editor

[2021-10-05 15:36] whedon commented on #3757
@jarvist has been invited to edit this submission.

[2021-10-05 15:38] kyleniemeyer commented on #3800
Hi @fraukewiese could you edit this submission for us?

[2021-10-05 15:38] kyleniemeyer commented on #3800
@whedon invite @fraukewiese as editor

[2021-10-05 15:38] whedon commented on #3800
@fraukewiese has been invited to edit this submission.

[2021-10-05 15:40] rchew commented on #3376
@MamadouSDiallo Apologies once again for how long this has taken to review.  Started adding some issues to your repo and wanted to tag in this thread as well.

Started with following the examples on the README using the version on pip, but it appears that the pip version is out of date with the documentation and the code on GH.  Will clone the repo locally for the time being to address the other c

[2021-10-05 15:42] kyleniemeyer commented on #3800
Hi @FWuellhorst, I noticed a few remaining (minor) issues with the paper that you could resolve while we are getting started:

- In the second paragraph, you have references with nested parentheses :"(e.g. (Blank & Deb, 2020...". You can avoid this by changing the citation to `(e.g., @2020SciPy-NMeth; @dlib09; @pymoo)`.
- In the third paragraph: "it's usage" -> "its usage"
- In the first paragraph

[2021-10-05 15:49] kyleniemeyer commented on #3791
Hello @tycheleturner, thanks for your patience. Unfortunately, upon review, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. In addition, the software appears to be one script rather than reusable software, without much documentation.

Please see ht

[2021-10-05 15:49] kyleniemeyer commented on #3791
@whedon reject

[2021-10-05 15:49] whedon commented on #3791
Paper rejected.

[2021-10-05 15:49] #3791 closed

[2021-10-05 15:53] kyleniemeyer commented on #3787
Hello @scheiblr, unfortunately after review of the JOSS editorial board, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages fo

[2021-10-05 15:53] kyleniemeyer commented on #3787
@whedon reject

[2021-10-05 15:53] whedon commented on #3787
Paper rejected.

[2021-10-05 15:53] #3787 closed

[2021-10-05 15:57] kyleniemeyer commented on #3762
Hello @reichherzerp, thanks for your patience. We have reviewed your submission, and have decided that your submission is out of scope at this time, due to not meeting the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

However, we do think that this could be reviewed by JOSS if you add tests and prop

[2021-10-05 15:57] kyleniemeyer commented on #3762
@whedon reject

[2021-10-05 15:57] whedon commented on #3762
Paper rejected.

[2021-10-05 15:57] #3762 closed

[2021-10-05 16:04] tycheleturner commented on #3791
@kyleniemeyer Thank you for your consideration of PYRUS.

[2021-10-05 16:07] whedon opened #3802 "[PRE REVIEW]: piecewise-regression (aka segmented regression) in Python"
**Submitting author:** @chasmani (<a href="http://orcid.org/0000-0002-3800-677X">Charlie Pilgrim</a>)
**Repository:** <a href="https://github.com/chasmani/piecewise-regression" target ="_blank">https://github.com/chasmani/piecewise-regression</a>
**Version:** 1.0.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-10-05 16:07] whedon commented on #3802
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-05 16:07] whedon commented on #3802
Downloading of the repository (to analyze the language) for issue #3802 failed with the following error:
[code]

[2021-10-05 16:07] whedon commented on #3802
PDF failed to compile for issue #3802 with the following error:
[code]

[2021-10-05 16:07] whedon commented on #3802
Downloading of the repository (to check the bibtex) failed for issue #3802 failed with the following error:
[code]

[2021-10-05 16:08] kyleniemeyer commented on #3802
@openjournals/dev any ideas what is going on here? I have never seen this behavior

[2021-10-05 16:13] cedricchevalier19 commented on #3291
I tend to agree with @zeroset for his concern about the "Substantial scholarly effort".

I like the fact that the library is small and self contained, however, I think the minimal "thread pool" goal is somehow missed. By providing advanced features such as `parallelize_loop`, it does more than just thread pooling and thus will be compared against `Kokkos`, `TBB`, `Sycl` or even `OpenMP`. Once we h

[2021-10-05 16:20] kyleniemeyer commented on #3802
@whedon check repository

[2021-10-05 16:20] whedon commented on #3802
Wordcount for `paper.md` is 719

[2021-10-05 16:20] whedon commented on #3802
[code]

[2021-10-05 16:20] whedon commented on #3802
Failed to discover a valid open source license.

[2021-10-05 16:20] kyleniemeyer commented on #3802
@whedon generate pdf

[2021-10-05 16:21] whedon commented on #3802
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03802/joss.03802/10.21105.joss.03802.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03802/joss.03802/10.21105.joss.03802.pdf) :page_facing_up: :point_left:

[2021-10-05 16:23] kyleniemeyer commented on #3802
Well, not sure what was going on there at first, but everything seems to be working fine now.

@chasmani we will use this issue to fine an editor and reviewers for your submission. While we are doing that, it looks like your software repository is missing an open source license, which is required for submissions to JOSS. Can you please select an [OSI-approved license](https://opensource.org/licens

[2021-10-05 16:24] kyleniemeyer commented on #3802
👋 @galessiorob could you edit this submission for us?

[2021-10-05 16:24] kyleniemeyer commented on #3802
@whedon invite @galessiorob as editor

[2021-10-05 16:24] whedon commented on #3802
@galessiorob has been invited to edit this submission.

[2021-10-05 16:34] chasmani commented on #3802
Added a License. Thank you

[2021-10-05 16:34] kbarnhart commented on #3658
@nvanderelst, @mbarall - I wanted to check in and see how your reviews were going. Please let me know if you have any questions.

[2021-10-05 16:36] rchew commented on #3376
@MamadouSDiallo Finished an initial review, and overall, this is looking in pretty good shape!  Still assessing Functionality and Documentation, but wanted to bring your attention to @soodoku 's  comments if you hadn't yet seen them:

- https://github.com/samplics-org/samplics/issues/29
- https://github.com/samplics-org/samplics/issues/30
- https://github.com/samplics-org/samplics/issues/31
- http

[2021-10-05 16:41] kbarnhart commented on #3689
@mdhurst1 I wanted to check in and see if you had any questions about my above comments. Please let me know if you plan to make these changes and what you expect the timeframe will be.

Thanks!

[2021-10-05 17:41] emdupre commented on #3523
Thank you again, @agahkarakuzu and @matteomancini for your thoughtful reviews and @michaelberks for your impressive work on `Madym` !

At this point could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the ar

[2021-10-05 17:42] emdupre commented on #3523
@whedon generate pdf

[2021-10-05 17:42] whedon commented on #3523
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03523/joss.03523/10.21105.joss.03523.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03523/joss.03523/10.21105.joss.03523.pdf) :page_facing_up: :point_left:

[2021-10-05 17:43] emdupre commented on #3523
@whedon check references

[2021-10-05 17:43] whedon commented on #3523
[code]

[2021-10-05 17:46] heath-henninger commented on #3490
@adi3 are there any remaining outstanding issues with this submission?  Looking to make sure we are not missing anything that remains to be completed.  Thanks! Heath

[2021-10-05 17:51] mikldk commented on #3539
@giovannic The title still says "[...] for individual based epidemiological models" - without hyphen?

[2021-10-05 17:54] slwu89 commented on #3539
@mikldk I've addressed that here https://github.com/mrc-ide/individual/commit/ec4f1be35e1e0e2a599db67c2a9120aea09ab630

[2021-10-05 17:54] slwu89 commented on #3539
@whedon generate pdf

[2021-10-05 17:54] bprather commented on #3336
@cpalenzuela Sorry it's proven so difficult to get working -- as it was written specifically for KNL originally, easy portability wasn't our top-tier concern for iharm3D, as this review has highlighted (and helped us to address somewhat).
Part of the reason we don't have a generic cluster tutorial, though, is because everywhere we've tried iharm3D has proven so different.  MPI stacks seem to come

[2021-10-05 17:54] whedon commented on #3539
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: :point_left:

[2021-10-05 17:59] emdupre commented on #3523
@whedon generate pdf from branch 61-joss-review-fixes

[2021-10-05 17:59] whedon commented on #3523
[code]

[2021-10-05 18:00] whedon commented on #3523
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03523/joss.03523/10.21105.joss.03523.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03523/joss.03523/10.21105.joss.03523.pdf) :page_facing_up: :point_left:

[2021-10-05 18:01] emdupre commented on #3523
@whedon check references from branch 61-joss-review-fixes

[2021-10-05 18:01] whedon commented on #3523
[code]

[2021-10-05 18:01] whedon commented on #3523
[code]

[2021-10-05 18:08] mikldk commented on #3539
@whedon recommend-accept

[2021-10-05 18:08] whedon commented on #3539
[code]

[2021-10-05 18:08] whedon commented on #3539
[code]

[2021-10-05 18:08] whedon commented on #3539
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2645

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2645, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-05 18:09] mikldk commented on #3539
@openjournals/joss-eics : Please note that the title has changed (a hyphen added to "individual-based"). I changed the issue title here, but I am not sure if it needs to be changed elsewhere, too.

[2021-10-05 18:55] VivianePons commented on #3792
@whedon set @VivianePons as editor

[2021-10-05 18:55] whedon commented on #3792
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-10-05 19:32] markheckmann commented on #3292
Hi @gkthiruvathukal , sorry for my delay. I have not found the time yet to make the changes as suggested by @aj2duncan. Thanks again @aj2duncan for your comments! Things will slow down here in 1,5 weeks and iI will submit a new version by the end of October. I hope that this is okay for everyone. Best wishes Mark

[2021-10-05 20:02] finagle29 commented on #3612
Thanks for checking in!

I've been slowly working through the review issues that @arjunsavel opened. I've been a bit stuck on how to write contributing guidelines. Regarding the authorship list, Christoffer Fremling and Mansi Kasliwal were both substantial non-code contributors. The sample_data folder is slightly misnamed, it's intentionally broken FITS files that the unit tests rely on. I have pu

[2021-10-05 21:11] nmoran commented on #3711
First I'd like to thank @obliviateandsurrender and @goerz for taking the time to review our work and provide such detailed feedback. We have been planning to write some tutorial material, but have not managed to get to it yet. Further performance testing is underway also so we expect to have some updated results shortly which we can include. We expect to be able to have both these done within the

[2021-10-05 21:37] pdebuyl commented on #3418
@JohnVolk I'll check this citation issue. I tested it locally and it seems that we should edit our style file, which requires discussion in the JOSS team. I'll let you know when I have more info.

[2021-10-05 21:48] whedon commented on #3747
:wave: @lscalfi, please update us on how your review is going (this is an automated reminder).

[2021-10-05 21:48] whedon commented on #3747
:wave: @marshallmcdonnell, please update us on how your review is going (this is an automated reminder).

[2021-10-05 23:51] gkthiruvathukal commented on #3291
@cedricchevalier19 Thank you for your detailed review. It is becoming increasingly clear that primary issues in this submission are:

- concerns about substantial scholarly effort
- concerns about the HPC claims

I must admit that I, too, struggled with the second concern (more than the first). I also concur with your and @zeroset's review that the matrix multiplication example does not amount to

[2021-10-06 00:57] JohnVolk commented on #3418
Excellent!

[2021-10-06 00:58] JohnVolk commented on #3418
This has been addressed.

[2021-10-06 01:19] majensen commented on #3173
Ok @tresoldi, I'm happy with this. We are nearly there- can you please use Zenodo, FigShare or other service to create an open archive of the repository? There is a short tutorial using Zenodo [here](https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729). JOSS prefers that the name of the archive = the name of the paper, and that the archive author list = paper author lis

[2021-10-06 02:03] rashti-alireza commented on #3703
@KAClough,
I tried to run BBH example with the parameter file provided in the folder. It seems the BHs getting stuck in a quarter of an orbit.
I attached the parameter file I used and puncture.dat output.

[bbh_GRChombo_cheap.txt](https://github.com/openjournals/joss-reviews/files/7290317/bbh_GRChombo_cheap.txt)
[punctures.dat.txt](https://github.com/openjournals/joss-reviews/files/7290318/punctur

[2021-10-06 02:04] rashti-alireza commented on #3703
@KAClough,
Please let me know whenever you have updated the software paper regarding those remarks I had. Thanks.

[2021-10-06 04:07] nick-gorman commented on #3596
@robinroche and @noah80 thank you both for your reviews, I really appreciate the feedback. I'll aim to address your comments and questions in the next couple of weeks.

[2021-10-06 06:13] fraukewiese commented on #3695
@whedon set v0.16.2 as version

[2021-10-06 06:16] fraukewiese commented on #3695
@andr1976 : The title of the archive should match the title of your paper. Please adapt that, the we can move forward :)

[2021-10-06 06:40] FWuellhorst commented on #3800
@whedon generate pdf

[2021-10-06 06:41] whedon commented on #3800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03800/joss.03800/10.21105.joss.03800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03800/joss.03800/10.21105.joss.03800.pdf) :page_facing_up: :point_left:

[2021-10-06 07:35] bonh opened #3803 "Contribution and authorship: Has the submitting author (@nasserma) made major contributions to the software? Does the full list of paper authors seem appropriate and complete?"

[2021-10-06 07:35] whedon commented on #3803
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-10-06 07:35] #3803 closed, assigned to nobody

[2021-10-06 07:36] Shyentist commented on #3467
Thank you @jules32 and @HeatherWelch for the 2nd review. I'll add an explanatory banner redirecting to the proper documentation and amend the state of the field as per suggestion. The link provided is, in fact, the one I often refer to when met with an issue with GFW data. About the documentation, thank you for Divio, I'll look into that, although I started reading [{officedown}](https://www.r-blo

[2021-10-06 07:42] pdebuyl commented on #3337
@whedon add @danclewley as reviewer

[2021-10-06 07:43] whedon commented on #3337
OK, @danclewley is now a reviewer

[2021-10-06 07:45] pdebuyl commented on #3337
@whedon remove @braunfuss as reviewer

[2021-10-06 07:45] whedon commented on #3337
OK, @braunfuss is no longer a reviewer

[2021-10-06 07:56] FWuellhorst commented on #3800
@kyleniemeyer thank you for your review!
I corrected the listed issues.
Two remarks regarding the missing information in the references of Vering et al. (2021).
1. The conference article regarding digital twins is part of the 17th IBPSA Conference, which already took place. The proceedings are not published yet. A DOI is not yet present.
2. We submitted an article to Energy Conversion and Manageme

[2021-10-06 08:14] pdebuyl commented on #3337
Hi @danclewley thank you for accepting to review. The general guidelines for reviewing are here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

In a nutshell:
- Read our [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html).
- Take a look at the package, install it, check and run the tests and examples.
- Go over your checklist (in the first message of this

[2021-10-06 08:24] Bisaloo commented on #3794
Hi @BenCretois :wave:, I saw your blog posts about spatial point processes in R, and after looking at your research interests, this seems like a very good fit for you. Would you be available to review the [paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03794/joss.03794/10.21105.joss.03794.pdf) and [R package](https://github.com/r-spatialecology/shar) for JOSS?

[2021-10-06 08:29] jbytecode commented on #3448
@koaning could you please update your status?

[2021-10-06 08:31] spinicist commented on #3500
I have addressed the problem in the example repository by updating the example into a Notebook, which now runs successfully in MyBinder (https://hub.gke2.mybinder.org/user/spinicist-riesling-examples-xaoj7os3/lab/tree/rrsg-cgsense.ipynb).

[2021-10-06 08:37] scheiblr commented on #3787
Thank you very much for looking into it and the fast reply. Just for me to know better, what is acceptable for JOSS: what exactly did not match the requirements?

[2021-10-06 09:01] johncwok commented on #3733
Thanks! I actually already fixed the ```compat```, but as bkamins stated earlier, this was not the only reason why the automatic registration was rejected by the bot. It is because my version numbering was not done according to the convention.
Do you know how to trigger the registration bot again? I don't want to open another pull request for that and create extra work for the people dealing with

[2021-10-06 09:06] jbytecode commented on #3733
how about using

`@ JuliaRegistrator register`

in the registration issue as stated in https://github.com/JuliaRegistries/Registrator.jl or using the JuliaHub?

[2021-10-06 09:09] bkamins commented on #3733
Yes - re-triggering JuliaRegistrator should work.

[2021-10-06 09:14] richrobe commented on #3702
Dear all (@osorensen, @espenhgn, @zen-juen),

I have incorporated all proposed changes into the BioPsyKit package as well as into the paper. The changes are also published in the [0.3.1](https://github.com/mad-lab-fau/BioPsyKit/releases/tag/0.3.1) release, the paper can be found in the [joss](https://github.com/mad-lab-fau/BioPsyKit/tree/joss/paper) branch.

Let me know what you think!

Best,
Robe

[2021-10-06 09:16] BenCretois commented on #3794
@Bisaloo I would have loved to review the MS but I will have to defend my thesis in about 2 weeks so I may get a bit busy these days :-)
I can suggest Jorge: jorge.sicacha@ntnu.no who is very experienced in point processes!

Good luck for finding reviewers!

[2021-10-06 09:18] uecker commented on #3500
My review is complete. All issues were resolved and I can highly recommend acceptance.

[2021-10-06 09:18] osorensen commented on #3702
@whedon generate pdf from branch joss

[2021-10-06 09:19] whedon commented on #3702
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03702/joss.03702/10.21105.joss.03702.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03702/joss.03702/10.21105.joss.03702.pdf) :page_facing_up: :point_left:

[2021-10-06 09:37] johncwok commented on #3733
I get the following message from the registrator:
Error while trying to register: "Tag with name v1.0.1 already exists and points to a different commit
I made increments of the version when I fixed various bugs but did not register them, and now I can't auto merge because I cannot use an earlier version number that would meet the guidelines.

[2021-10-06 09:53] meg-simula commented on #3721
@whedon assign @peanutfun as reviewer

[2021-10-06 09:53] whedon commented on #3721
OK, @peanutfun is now a reviewer

[2021-10-06 09:56] bkamins commented on #3733
Have you tried removing the tag? Also which exact repository you are referring to? (and could you please share the link to the commit at which you have triggered the registrator). Thank you!

[2021-10-06 10:02] johncwok commented on #3733
This is the link: https://github.com/johncwok/CategoricalTimeSeries.jl/commit/dbf270a8acfd43fa32cf531795d8358a0bc47cc4
I'll try to remove the tag (I am a bit unsure how) and see if it works.

[2021-10-06 10:56] Nikoleta-v3 commented on #3522
Hey @remram44 just to update you. I have spoken with the second reviewer 😃 They will be submitting their review soon.

[2021-10-06 10:57] Nikoleta-v3 commented on #3538
👋🏻 @shivam11  📳 Any updates on your review?

[2021-10-06 12:24] temken commented on #3725
Hi @rafaelab,
Thank you for reviewing the paper and code, the positive feedback, and the constructive suggestions. I will respond to each issue raised and summarize the changes I made. All changes have just been merged into the [main branch](https://github.com/temken/obscura).

## 1. Regarding the paper

I implemented these changes in [paper/paper.md](https://github.com/temken/obscura/blob/master/

[2021-10-06 12:37] meg-simula commented on #3746
@madvn I'm glad to hear it! A review in the course of the next month or so would be much appreciated (depending on the time to find a second reviewer...)

[2021-10-06 13:38] catsch commented on #3659
I am just starting right now , sorry for the delay

[2021-10-06 13:41] gro5-AberUni commented on #3346
@hugoledoux

Would it be possible to get an update/advice about how to proceed with the paper submission.

Thanks

Greg

[2021-10-06 14:12] emdupre commented on #3500
@whedon generate pdf

[2021-10-06 14:13] emdupre commented on #3500
@whedon check references

[2021-10-06 14:13] whedon commented on #3500
[code]

[2021-10-06 14:14] danielskatz commented on #3619
👋 @jkmacc-LANL - how is this going at this point?

[2021-10-06 14:15] danielskatz commented on #3619
👋 @chad-iris - how is this going at this point?

[2021-10-06 14:22] OlgerSiebinga commented on #3782
Hi All,

Another update from my side: I've ticked a lot of boxes today and created two more issues in the repository. Besides those issues, I have two other (small) remarks.:

1. I think the statement of need is missing from the documentation, so that should be added
2. I feel that the paper would benefit from some editing for language. I think there are some tense, punctuation, and number agreeme

[2021-10-06 14:24] scheiblr commented on #3787
Thanks for the clarification! And again, thank you very much for taking all the time!

[2021-10-06 14:24] danielskatz commented on #3782
I'll proofread this at the end of the process, so you don't need to, but if there are things you want to flag or suggest, certainly you can feel free to.

[2021-10-06 14:34] danielskatz commented on #3782
I'll go ahead and proof-read the paper now - I usually wait until the end because there can be changes made during the review process, but given your comment, maybe it's a good idea to do now

[2021-10-06 15:10] rashti-alireza commented on #3703
@whedon generate pdf from branch feature/joss_pape

[2021-10-06 15:27] rashti-alireza commented on #3703
OK, Thanks. Do you have any other parameter file example like head on collision?

[2021-10-06 15:39] mirenradia commented on #3703
@whedon generate pdf from branch feature/joss_paper

[2021-10-06 15:39] whedon commented on #3703
[code]

[2021-10-06 15:40] whedon commented on #3703
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03703/joss.03703/10.21105.joss.03703.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03703/joss.03703/10.21105.joss.03703.pdf) :page_facing_up: :point_left:

[2021-10-06 15:51] fgjorup commented on #3546
Thank you @rkurchin , we had a very productive trip to Sweden, where we managed to do some very exciting science at the new DanMAX beamline.

Inspired by both @cmbiwer  and @mikapfl, I have updated the paper.md, so it now includes a figure of the interface, a flowchart-figure, and a figure comparing other visualization option in the field. I have also expanded on the _Statement of Need_ and added

[2021-10-06 16:01] johncwok commented on #3733
I deleted the release tag but still get the same message... I will try the julia slack.

[2021-10-06 16:08] lucydot commented on #3723
@FTurci that's great! Your summary is very welcome, thank you. I can see that you raised issues [here](https://github.com/jorisparet/partycls/issues/4), [here](https://github.com/jorisparet/partycls/issues/3) and [here](https://github.com/jorisparet/partycls/issues/2) and they are all closed (linking them from here so easier to trace back).

[2021-10-06 16:13] fboehm commented on #3417
@biblicabeebli, @erik-whiting and @Tam-Pham - I just wanted to check in to see how the review is going. I saw that there was some discussion in the issues that @erik-whiting opened. Is there anything that I might help with?

[2021-10-06 16:31] whedon commented on #3695
OK. <a href="https://doi.org/10.5281/zenodo.5547917" target="_blank">10.5281/zenodo.5547917</a> is the archive.

[2021-10-06 16:32] Zitzeronion commented on #3728
Hey just wanted to ask if there is something I can or should do?
It seems that so far no reviewer has been assinged. I don't mind waiting just wanted to check.

[2021-10-06 16:33] fraukewiese commented on #3695
@whedon recommend-accept

[2021-10-06 16:33] whedon commented on #3695
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2646

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2646, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-06 16:34] christinahedges commented on #3778
Hi @richteague! I'm hunting down some reviewers for this submission, let me know if you have any suggestions of reviewers you think I should be considering. For example, I see this tool is based on the algorithm discussed [here](https://ui.adsabs.harvard.edu/abs/2018A%26A...609A..47P/abstract), would any of the authors make good reviewers of this tool? Otherwise I will keep searching for good revi

[2021-10-06 16:47] whedon commented on #3500
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03500/joss.03500/10.21105.joss.03500.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03500/joss.03500/10.21105.joss.03500.pdf) :page_facing_up: :point_left:

[2021-10-06 17:17] kyleniemeyer commented on #3695
Hi @andr1976, I am doing some final checks before accepting.

In the third paragraph and in the Acknowledgments section, you have a few instances of consecutive citations. In cases like this, please use the citation format like `[@author1:2001; @author2:2001]` to have them combined in a single citation like "(Author1 et al., 2001; Author2 et al., 2002)".

You also have one or two instances where t

[2021-10-06 18:06] VivianePons commented on #3792
@whedon assign @VivianePons as editor

[2021-10-06 18:53] michaeltouati commented on #3618
Dear all,
it seems to me I finished today to improve the code and the paper in order to answer all very useful corrections / suggestions / additions of @tclune and @TomGoffrey.
I hope it will be sufficient.

[2021-10-06 19:07] VivianePons commented on #3792
@inpefess do you have some suggestion of reviewers? especially based on our list here: https://bit.ly/joss-reviewers (But you can also suggest people outside this list)
Please, if they are on github don't @ them directly, just copy their handle to avoid them getting extra notifications

[2021-10-06 19:22] johncwok commented on #3733
@bkamins The registering is done!

[2021-10-06 19:43] andr1976 commented on #3695
@kyleniemeyer thanks for improving the reference style of the paper, much appreciated. I did a final proof-reading myself, but don't have anything to add/correct.  Also a big thanks to editor @fraukewiese, reviewers @mefuller and @bocklund 👍 you rock!, and another big thanks to @arfon and entire team behind joss - I think this model for reviewing papers could be adapted by other journals (although

[2021-10-06 20:05] KanishAnand commented on #3782
Hi @danielskatz

Regarding checkpoint "_A statement of need: Does the paper have a section titled 'Statement of Need' that clearly states what problems the software is designed to solve and who the target audience is?_"
I think more about the target audience is mentioned in the **Overview** section of the paper instead of **Statement of Need** section, so should that be an issue?

[2021-10-06 20:07] danielskatz commented on #3782
As long as the information is in the paper, I think it's ok.

[2021-10-06 20:09] kyleniemeyer commented on #3695
@whedon generate pdf

[2021-10-06 20:10] emdupre commented on #3500
Thank you, @spinicist !

To quickly confirm : the Zenodo metadata lists the authors as Tobias Wood; Emil Ljungberg; Martin Krämer while the repository README (and paper) lists the authors as Tobias C Wood, Emil Ljungberg, Florian Wiesinger.

Can we ensure that Florian Wiesinger is included as an author in the Zenodo archive, given his authorship on the paper ? Separately, can you confirm that you

[2021-10-06 20:11] whedon commented on #3695
[code]

[2021-10-06 20:12] whedon commented on #3695
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2647
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03695](https://doi.org/10.21105/joss.03695)
2. If everything look

[2021-10-06 20:19] kyleniemeyer commented on #3695
Congrats @andr1976 on your article's publication in JOSS!

Many thanks to @mefuller and @bocklund for reviewing this, and @fraukewiese for editing.

[2021-10-06 20:19] #3695 closed

[2021-10-06 21:21] whedon commented on #3173
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-10-06 21:22] whedon commented on #3173
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-10-06 21:22] majensen commented on #3173
@whedon recommend-accept

[2021-10-06 21:22] whedon commented on #3173
[code]

[2021-10-06 23:34] gkthiruvathukal commented on #3291
@cedricchevalier19 Thank you for this follow-up. I also was thinking a sparse-matrix computation is the way to go. I'm pretty sure it would not be difficult to rig up this example. I'd like to hear from @zeroset, too, but hope that my suggestions carve a path forward to get to acceptance.

[2021-10-07 00:06] pibion commented on #3310
Thanks @fjprichard !

[2021-10-07 02:32] zen-juen commented on #3702
Hi @richrobe!

Thanks for addressing the comments raised! My thoughts sectioned as follows:

- **Code/Documentation**
The guidelines you've added for contributing/PR/raising issues in the repo look really thorough and comprehensive, great job! I can load and run the example datasets nicely now, with the exception of `bp.example_data.get_condition_list_example()` in the saliva example notebook. It

[2021-10-07 03:58] WilkAndy commented on #3314
Hi @volpatto , The revised article may be seen by going to https://whedon.theoj.org/ and using repo https://github.com/WilkAndy/moose and branch joss_volpatto_18610 .  The revisions will take a while to merge into MOOSE: the PR is at https://github.com/idaholab/moose/pull/19030 .   To answer all your points above:

1. _"... the geochemistry module has 126 tests when running run_tests in the geoche

[2021-10-07 04:20] whedon commented on #3756
:wave: @rabdill, please update us on how your review is going (this is an automated reminder).

[2021-10-07 04:52] WilkAndy commented on #3742
Just trying to install and use.  Please add instructions for getting "NGSolve version 6.2.2101" to your "IO" docs

[2021-10-07 05:06] jcorbino commented on #3380
Here's a one page document with steps to install MOLE on MacOS. [https://www.dropbox.com/s/0u7x9rrqy1onvst/MOLE%20installation%20on%20MacOS.pdf?dl=0](url) . Basically, for the average Mac user, the way to go is by using Eigen and not SuperLU. The document has also been uploaded to the root directory of the repo.

Kind regards,

[2021-10-07 06:52] helgee commented on #3710
Quick note @athulpg007: I have verified that the Linux installation instructions are valid for macOS as well.

[2021-10-07 08:52] mfleschutz commented on #3625
Thank you, @olejandro and @fraukewiese, for your fruitful comments. I respond by topics:

## Readme (`get_residual_load` and `get_el_national_generation`)

I added a table describing functions that provide pre-processed data, see [this commit](https://github.com/DrafProject/elmada/commit/c97610f60cde620707f7e3ef013ffaade18d949b).

## Geographic scope

Going through the question of geographic scope

[2021-10-07 08:53] xuanxu commented on #3641
@lucaferranti @RobertRosca any update on your reviews after [latest changes/comments](https://github.com/openjournals/joss-reviews/issues/3641#issuecomment-932748322) from @thomgrand?

[2021-10-07 09:10] arianesasso commented on #3679
Just wanted to quickly check if there are any other open points. Thank you :).

[2021-10-07 10:25] adi3 commented on #3587
Folks, thank you for your patience. Let's move forward with this!

@slim-patchy thank you for volunteering to review. @TimKam appreciate your bias for action and getting a headstart on the review!

[2021-10-07 10:26] adi3 commented on #3587
@whedon add @slim-patchy as reviewer

[2021-10-07 10:26] whedon opened #3804 "[REVIEW]: mctreesearch4j: A Monte Carlo Tree Search Implementation for the JVM"
**Submitting author:** @larkz (<a href="http://orcid.org/0000-0002-9375-1035">Larkin Liu</a>)
**Repository:** <a href="https://github.com/JunTaoLuo/mctreesearch4j" target ="_blank">https://github.com/JunTaoLuo/mctreesearch4j</a>
**Version:** 0.0.4
**Editor:** @adi3
**Reviewer:** @TimKam, @slim-patchy
**Archive:** <a href="https://doi.org/10.5281/zenodo.5975821" target="_blank">10.5281/zenodo.59758

[2021-10-07 10:55] danielskatz commented on #3617
@mattdahl - We expect the archival deposit to be of the full repository, not just selected files.  For example, the tutorial is not in the repository.  The easiest way to do this is to clone the repository somewhere, then tar and gzip it, or just deposit the full cloned repository as a set of files in directories.

[2021-10-07 10:55] danielskatz commented on #3617
@whedon set v2.3.0 as version

[2021-10-07 10:55] whedon commented on #3617
OK. v2.3.0 is the version.

[2021-10-07 12:44] nasserma commented on #3742
We have relaxed the language in the revised manuscript, as suggested. Our intention was never to diminish other software packages' utility, but rather differentiate OpenCMP's purpose. Our core mandate is to enable users who are familiar with the command-line interface to perform simulations without having to do any programming whatsoever, while simultaneously empowering developers to contribute ne

[2021-10-07 12:46] nasserma commented on #3742
Based on the JOSS requirements for submissions, "the paper should be between 250-1000 words" and the submitted manuscript is at the upper limit. We could add more details into the paper, but it would be at the expense of other text, most of which has been added to meet the requirements of what the paper should include from the JOSS website,

https://joss.readthedocs.io/en/latest/submitting.html#su

[2021-10-07 13:41] bkamins commented on #3733
These files are shipped along with the package installation, so I think it is OK to use them.

[2021-10-07 13:42] Alex-Vasile commented on #3742
First, a note about code contributions to the project. The project began on a private internal repo, with commits being periodically being rolled up and copied into the GitHub repo. This results in actual code contributions being unintentionally obscured on the GitHub repo. Future commits will better reflect authorship as development branches are switched from internal repos to GitHub.

To address

[2021-10-07 13:43] bkamins commented on #3733
It should be stated in the documentation. If you do `using SerialDependence` you have to install SerialDependence.jl earlier. So either do not do `using SerialDependence` or instruct the user that it should be installed. I would prefer that `using CategoricalTimeSeries` should be enough and it should re-export all functionalities provided by dependencies, but it is of course up to you how you desi

[2021-10-07 13:49] olejandro commented on #3625
Thank you, @mfleschutz. I don't have any further comments.
@fraukewiese, I've completed my check list. Is there anything else I need to e. g. click?

[2021-10-07 15:34] whedon commented on #3500
OK. v0.6 is the version.

[2021-10-07 15:35] emdupre commented on #3500
@whedon set 10.5281/zenodo.5552973 as archive

[2021-10-07 15:36] whedon commented on #3500
[code]

[2021-10-07 15:43] emdupre commented on #3523
Thank you, @michaelberks !

One confirmation on the Zenodo metadata : The archive (_Madym: quantitative analysis software for perfusion-MRI_) and the JOSS software paper (_Madym: A C++ toolkit for quantitative DCE-MRI analysis_) have two slightly different titles. Would it be possible to harmonize these ?

[2021-10-07 15:56] kyleniemeyer commented on #3543
OK, everything looks fine to me. @oneilsh, can you please do the following?

- [ ] confirm the final reviewed version number here
- [ ] archive your repository on Zenodo or Figshare and provide the DOI here

[2021-10-07 16:03] kyleniemeyer commented on #3539
@whedon accept deposit=true

[2021-10-07 16:08] kyleniemeyer commented on #3539
Congratulations @giovannic on your article's publication in JOSS!

Many thanks to @strengejacke and @SteRoe for reviewing this, and @mikldk for editing it.

[2021-10-07 16:08] #3539 closed

[2021-10-07 16:09] whedon opened #3805 "[PRE REVIEW]: Systole: A python package for cardiac signal synchrony and analysis"
**Submitting author:** @LegrandNico (<a href="http://orcid.org/0000-0002-2651-4929">Nicolas Legrand</a>)
**Repository:** <a href="https://github.com/embodied-computation-group/systole/" target ="_blank">https://github.com/embodied-computation-group/systole/</a>
**Version:** v0.2.0
**Editor:** @osorensen
**Reviewers:** @axel-loewe
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mo

[2021-10-07 16:16] whedon opened #3806 "[PRE REVIEW]: cca-zoo"
**Submitting author:** @jameschapman19 (<a href="http://orcid.org/0000-0002-9364-8118">James Chapman</a>)
**Repository:** <a href="https://github.com/jameschapman19/cca_zoo" target ="_blank">https://github.com/jameschapman19/cca_zoo</a>
**Version:** v.1.9.0
**Editor:** @emdupre
**Reviewers:** @robbisg, @hugorichard, @ejolly
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :wa

[2021-10-07 16:16] whedon commented on #3805
[code]

[2021-10-07 16:17] whedon commented on #3806
[code]

[2021-10-07 16:17] whedon commented on #3806
[code]

[2021-10-07 16:22] whedon commented on #3523
OK. <a href="https://doi.org/10.5281/zenodo.5554771" target="_blank">10.5281/zenodo.5554771</a> is the archive.

[2021-10-07 16:31] pibion commented on #3310
@vitorsr wonderful, thank you!  We need one more reviewer and then we'll get started with the review.

[2021-10-07 16:48] kyleniemeyer commented on #3806
Hi @emdupre, could you edit this submission?

[2021-10-07 16:48] whedon commented on #3806
@emdupre has been invited to edit this submission.

[2021-10-07 16:49] kyleniemeyer commented on #3523
@whedon accept deposit=true

[2021-10-07 16:50] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-10-07 16:53] kyleniemeyer commented on #3523
Congratulations @michaelberks on your article's publication in JOSS!

Many thanks to @agahkarakuzu and @matteomancini for reviewing this, and @emdupre for editing.

[2021-10-07 16:53] whedon commented on #3523
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03523/status.svg)](https://doi.org/10.21105/joss.03523)

**We need your help!**

Journal of Open Source Softwa

[2021-10-07 16:54] whedon commented on #3173
[code]

[2021-10-07 16:54] whedon opened #3807 "[PRE REVIEW]: The 3D Slicer RVXLiverSegmentation plug-in for interactive liver anatomy reconstruction from medical images"
**Submitting author:** @antoinevacavant (<a href="http://orcid.org/0000-0001-9616-3282">Antoine Vacavant</a>)
**Repository:** <a href="https://github.com/R-Vessel-X/SlicerRVXLiverSegmentation" target ="_blank">https://github.com/R-Vessel-X/SlicerRVXLiverSegmentation</a>
**Version:** 1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @lassoan, @deepakri201
**Managing EiC:** Kyle Niemeyer

**:

[2021-10-07 16:55] whedon commented on #3173
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1446157169326448643) 👈 🐦🐦🐦

[2021-10-07 16:55] kyleniemeyer commented on #3807
@whedon query scope

[2021-10-07 16:55] whedon commented on #3807
Submission flagged for editorial review.

[2021-10-07 16:56] whedon opened #3808 "[PRE REVIEW]: LaboRecommender: A crazy-easy to use Python-based recommender system for laboratory tests"
**Submitting author:** @fvillena (<a href="http://orcid.org/0000-0002-8759-466X">Fabián Villena</a>)
**Repository:** <a href="https://github.com/fvillena/laborecommender" target ="_blank">https://github.com/fvillena/laborecommender</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-10-07 16:56] whedon commented on #3808
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-07 16:56] whedon commented on #3808
[code]

[2021-10-07 16:56] whedon commented on #3808
[code]

[2021-10-07 17:00] kyleniemeyer commented on #3808
Hello @fvillena, thanks for your interest in JOSS. Unfortunately, because of the relatively small size of your submission (<300 source lines of code), this does not meet our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). (This is not meant to say that your work is not useful)

If you expand the software, we would

[2021-10-07 17:00] whedon commented on #3808
Paper rejected.

[2021-10-07 17:00] #3808 closed, assigned to nobody

[2021-10-07 17:01] whedon opened #3809 "[PRE REVIEW]: AutoMapDB: automagically mapping of Postgres database schema into a Python abstraction"
**Submitting author:** @scheiblr (<a href="http://orcid.org/0000-0003-2067-5569">Raphael Scheible</a>)
**Repository:** <a href="https://gitlab.com/mds-imbi-freiburg/automapdb" target ="_blank">https://gitlab.com/mds-imbi-freiburg/automapdb</a>
**Version:** 0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-10-07 17:03] kyleniemeyer commented on #3809
Hello @scheiblr, thanks for your interest in JOSS. Because of the relatively small size of your submission in terms of lines of code, we are going to review it for scope prior to assigning editors/reviewers. We should get back to you within a week or two, thank you for your patience.

[2021-10-07 17:38] bkamins commented on #3733
you have `dirname` twice in `joinpath(dirname(dirname(pathof(CategoricalTimeSeries))), "test", "pewee.txt")`

[2021-10-07 18:19] johncwok commented on #3733
I was using the old version since I thought that the new one hadn't been merged yet. I changed the Plots.jl compat entry,  now the package can be installed from the url without error.

[2021-10-07 18:54] bkamins commented on #3733
The easiest thing to do is to change `algorithm` into a keyword argument. Then all will be clean. Such a change is breaking so you would need to go for 0.2 release then.

[2021-10-07 19:32] whedon commented on #3738
OK, the reviewer has been re-invited.

@michaelholtonprice please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-10-07 20:01] kyleniemeyer commented on #3806
@emdupre yes, I think that is fine—thanks for the heads up though!

[2021-10-07 20:02] KristianNelson commented on #3383
@KristinaRiemer Yes I will. I will be pushing up a development branch into main that has the proposed changes and I will link here. I should have this by today or tomorrow.

[2021-10-07 20:04] rkurchin commented on #3546
Thanks @mikapfl for your thorough and thoughtful review! Just to explicitly confirm, are you now happy to accept this submission as it currently stands?

@cmbiwer, how are things looking on your end?

[2021-10-07 20:11] emdupre commented on #3806
:wave: Hi @jameschapman19, and thank you for your submission to JOSS !

If you have any suggestions for potential reviewers, please let me know by listing their names or GitHub handles (without the @, so they don't receive a notification) here.

[2021-10-07 21:11] oneilsh commented on #3543
Ok, v1.0.0 created with minor doc improvements and DOI 10.5281/zenodo.5555276. Thank you again!

[2021-10-07 22:17] diehlpk commented on #3631
@wtraylor please have a look at these comments. Please ping the reviewer once you are done.

[2021-10-07 22:18] diehlpk commented on #3465
@elwinter Could you please fix the issues so Bita can proceed with the review?

[2021-10-07 22:19] cpalenzuela commented on #3336
@bprather  I have been able to perform the scaling test and they look reasonable. I do not have any further issues with the code or with the paper.

[2021-10-07 22:35] whedon commented on #3761
:wave: @RafalKucharskiPK, please update us on how your review is going (this is an automated reminder).

[2021-10-07 22:35] whedon commented on #3761
:wave: @1tylermitchell, please update us on how your review is going (this is an automated reminder).

[2021-10-07 22:52] djmitche commented on #3679
Is there a button I should push for that?

[2021-10-07 23:56] whedon commented on #3578
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03578/joss.03578/10.21105.joss.03578.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03578/joss.03578/10.21105.joss.03578.pdf) :page_facing_up: :point_left:

[2021-10-07 23:57] AKUMAR0019 commented on #3578
@osorensen @robbisg @htwangtw Thank you for your patience. The paper is now available at https://github.com/incf-nidash/PyNIDM/tree/master/docs/manuscripts/linreg_joss, and it is compiling.

[2021-10-08 00:30] jameshgrn commented on #3795
@kyleniemeyer Thank you for the feedback. I'll be sure to build out the package and put some thought into the recommendations the editors gave and how to implement them, cheers.

[2021-10-08 00:32] kyleniemeyer commented on #3795
Great! Like I said, we would definitely reconsider your work in the future.

[2021-10-08 00:33] whedon commented on #3543
OK. <a href="https://doi.org/10.5281/zenodo.5555276" target="_blank">10.5281/zenodo.5555276</a> is the archive.

[2021-10-08 00:33] kyleniemeyer commented on #3543
@whedon accept

[2021-10-08 00:33] kyleniemeyer commented on #3543
@whedon recommend-accept

[2021-10-08 00:35] whedon commented on #3543
[code]

[2021-10-08 00:38] kyleniemeyer commented on #3543
Congratulations @oneilsh on your article's publication in JOSS!

Many thanks to @nhejazi and @omid-s for reviewing this submission, and @taless474 for editing.

[2021-10-08 00:38] #3543 closed

[2021-10-08 00:38] whedon commented on #3543
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03543/status.svg)](https://doi.org/10.21105/joss.03543)

**We need your help!**

Journal of Open Source Softwa

[2021-10-08 01:04] madvn commented on #3746
Sounds good. I can do it!

[2021-10-08 01:41] jules32 commented on #3467
Looks good to me @Shyentist , great job 🥳

Cheers,
Julie

[2021-10-08 06:17] Bisaloo commented on #3794
Thanks, I sent an email!

[2021-10-08 06:42] Bisaloo commented on #3794
@mhesselbarth, this package is slightly outside my area of expertise and I don't have personal contacts with anyone working on these topic. Would you have suggestions of people potentially interested in reviewing this submission? Feel free to have a look at our [list of people that volunteered to review for JOSS](https://bit.ly/joss-reviewers) for inspiration.

[2021-10-08 08:02] catsch commented on #3659
@kthyng If I raised some issues for example regarding the statement of need should I check the lines in the checklist or should I wait before checking an answer from the author ?

[2021-10-08 08:50] jameschapman19 commented on #3806
Hi @emdupre - new to the process here so do you mean scroll through the same list where I found you during submission? Or could they be anyone?

[2021-10-08 09:32] mikapfl commented on #3546
yes

[2021-10-08 11:44] crvernon commented on #3666
@npucino just curious to see if you are ready to move forward with this or if you are still making some final modifications?

[2021-10-08 11:59] csoneson commented on #3392
Thank you @tngTUDOR!

[2021-10-08 12:18] whedon commented on #3617
[code]

[2021-10-08 12:18] whedon commented on #3617
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2657

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2657, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-08 12:19] csoneson commented on #3392
@whedon check references

[2021-10-08 12:19] whedon commented on #3392
[code]

[2021-10-08 12:25] danielskatz commented on #3617
Congratulations to @mattdahl (Matthew Dahl) and co-authors!!

And thanks to @cmaimone and @step21 for reviewing!
We couldn't do this without you

[2021-10-08 12:25] #3617 closed

[2021-10-08 12:28] whedon commented on #3809
[code]

[2021-10-08 12:28] whedon commented on #3809
[code]

[2021-10-08 12:34] osorensen commented on #3700
@a-ws-m, can you please give us an estimate of how long it will take to address the issues raised by the reviewers? Comments to the points are also welcome.

[2021-10-08 12:35] luciorq commented on #3679
@whedon commands

[2021-10-08 12:35] whedon commented on #3679
Here are some things you can ask me to do:

[code]

[2021-10-08 12:42] krystophny commented on #3530
You are right, the review usually doesn't start until all reviewers are secured. This is why the process has not yet been initiated. @dpsanders any more suggestions for more reviewers?

[2021-10-08 12:47] sbenthall commented on #3496
@jacobsoj Please accept my sincere condolences for your hardship and loss. I believe this review can wait another week.

[2021-10-08 12:47] luciorq commented on #3679
Dear @prashjha & @arianesasso ,

I just reviewed all commits and closed the relevant issues.
I agree with @djmitche, there aren't any additional considerations. Also, the regenerated manuscript looks good to me.

Therefore, I highly recommend this work for publication.

[2021-10-08 12:56] Bisaloo commented on #3794
Thanks for the quick answer and the suggestion!

:wave: @jeffreyevans, would you be available to review the [paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03794/joss.03794/10.21105.joss.03794.pdf) and [R package](https://github.com/r-spatialecology/shar) for JOSS?

[2021-10-08 12:56] KristinaRiemer commented on #3200
@puruckertom has done their review, but I don't think has posted the comments yet, just filled out the checklist. I haven't heard anything from @BrandonEdwards in a while, so I was looking for another reviewer. All three folks you suggested have now gotten back to me, and none feel they have sufficient skills to review this. If you have suggestions for other reviewers who would feel able to review

[2021-10-08 13:10] prashjha commented on #3679
Super thanks, @luciorq and @djmitche. I will do few checks and then hand it to EiC.

[2021-10-08 13:12] stammler commented on #3628
Since we haven't heard anything since the last message, we just wanted to quickly ask if there is anything we have to do right now or is everything set?

[2021-10-08 13:31] KristinaRiemer commented on #3467
Excellent! Thanks so much to @jules32 and @HeatherWelch for your thoughtful reviews!

@Shyentist, for next steps, I'll be proofreading and checking references of the paper (which you should feel free to do so also). After that looks good, we'll have you archive the code.

[2021-10-08 13:31] KristinaRiemer commented on #3467
@whedon generate pdf

[2021-10-08 13:55] KristinaRiemer commented on #3467
@whedon check references

[2021-10-08 14:22] majensen commented on #3173
@tresoldi congratulations! Thanks very much to @DavidNickle and @rvosa for your reviews.

[2021-10-08 14:37] kyleniemeyer commented on #3628
@whedon add @schruste as reviewer

[2021-10-08 14:37] whedon commented on #3628
OK, @schruste is now a reviewer

[2021-10-08 15:14] danielskatz commented on #3617
great!

[2021-10-08 15:21] Shyentist commented on #3467
Apparently, the curly brackets within curly brackets keeps the elements as they are, so I also have to edit the author fields for Tyler Clavelle and Mayorga. They are cited in text by full name and, in the references, are in alphabetical order by name rather than surname.

[2021-10-08 15:51] emdupre commented on #3806
You can suggest reviewers from any relevant project, though we often recommend starting with [this list of people](https://bit.ly/joss-reviewers) as they have already agreed to review for JOSS (please start at the bottom of the list).

[2021-10-08 16:48] noatamir commented on #3777
I'm in a similar position to @Bisaloo I'm afraid..

[2021-10-08 18:30] whedon commented on #3392
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03392/joss.03392/10.21105.joss.03392.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03392/joss.03392/10.21105.joss.03392.pdf) :page_facing_up: :point_left:

[2021-10-08 19:19] bprather commented on #3336
It sounds like this can conclude the review -- the remaining checklist item was discussed above I think?

@arfon is there anything further I can do to move this forward?

[2021-10-08 19:22] michaeltouati commented on #3618
@whedon generate pdf

[2021-10-08 19:25] danielskatz commented on #3618
👋 @rouson - we're now about 7 weeks into the process. How is it going?

[2021-10-08 19:51] prashjha commented on #3679
@whedon check references

[2021-10-08 19:51] whedon commented on #3679
[code]

[2021-10-08 20:27] bl-young commented on #3392
Tagged release: https://github.com/USEPA/LCIAformatter/releases/tag/v1.0.2

[2021-10-08 21:59] msalibian commented on #3786
@mikldk I'm happy with the submission (documentation & repository are good to go, as far as I can see). For the paper I have a few suggestions below.

The issue of length is a tricky one: yes, the paper is long, but the two examples illustrate different functionality of the software. One way around this could be to reduce the text output of the examples in the paper (e.g. remove the estimated regr

[2021-10-08 22:25] taless474 commented on #3628
@ctdegroot Are you interested in reviewing this?

[2021-10-08 23:35] AlexanderPico commented on #3756
- Haven't been successful in getting it installed and running via docker or npm yet. Still working on it...
  - Current error: `http://localhost:9200/groundingsearch => connect ECONNREFUSED 127.0.0.1:9200`
- Disclosing COI: I'm a co-author with Max Franz on a consortium paper that has been submitted for review. We are two of many, many authors representing our distinct contributions to Cytoscape.

[2021-10-09 02:36] npucino commented on #3666
Hi @crvernon , sorry my late reply! I am now fixing one last bit and then I am happy for you to proceed with the reviewing process. I am working at it right now, I might be done today, I let you know here very soon, thanks!

[2021-10-09 04:46] osorensen commented on #3805
@LegrandNico, before we start the review, I also suggest you fix the following small issues iin the paper:

- Please make sure Python is spelled consistently. Currently both 'python' and 'Python' are being used.
- Lines 23-24: The sentence 'Similarly, rising interest in understanding how heart-rate variability relates to ...' is not completely. You can, e.g., rewrite to 'Similarly, there is a risi

[2021-10-09 04:52] osorensen commented on #3805
@siravan @axel-loewe @agricolab @neuromusic @mih @JonathanReardon would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-10-09 07:30] whedon commented on #3764
:wave: @lorenzo-rovigatti, please update us on how your review is going (this is an automated reminder).

[2021-10-09 07:30] whedon commented on #3764
:wave: @zbeekman, please update us on how your review is going (this is an automated reminder).

[2021-10-09 08:57] jbytecode commented on #3733
I reinstalled the package from the repository using

[code]

and at least one test doesn't pass:

[code]

[2021-10-09 09:11] omshinde commented on #3709
Hi @crvernon
Thanks for the reminder. I have commenced my review and I plan to complete it over the weekend. Kind regards.

[2021-10-09 09:19] jbytecode commented on #3733
Addition: Your tests are somehow verbose as it prints

[code]

and I think it comes from `IntegerIB.jl `

[code]

It seems it is for debugging, but I think throwing errors or using `@info`, `@error`, `@warn` is more convenient if you really want inform the user. Since it is not really essential at this time and maybe you would be willing to change it in forward releases.

[2021-10-09 10:16] sandrinecharles commented on #3200
@KristinaRiemer I can propose to contact:
-  Peter Vermeiren (P.Vermeiren@science.ru.nl), post-doc in the Netherlands
- Another idea would be to contact Alessio IPPOLITTO from EFSA (Alessio.IPPOLITO@efsa.europa.eu)
- Marie TRIJAU (marie.trijau@ibacon.com) or Benoît GOUSSEN (Benoit.Goussen@ibacon.com), both from the Ibacon company, could also accept.
- else Stephan REICHENBERGER from Knell company

[2021-10-09 10:37] RobertRosca commented on #3641
Sweet, everything looks good to me. Thanks for the changes @thomgrand!

[2021-10-09 11:03] lucaferranti commented on #3641
hups apologies for the delay. @xuanxu  After the latest changes I think everything looks good and I recommend for publication! Great work @thomgrand!

[2021-10-09 13:45] csoneson commented on #3392
@whedon set 10.5281/zenodo.5557895 as archive

[2021-10-09 13:46] whedon commented on #3392
OK. v1.0.2 is the version.

[2021-10-09 13:47] csoneson commented on #3392
Thanks @WesIngwersen and @bl-young! This looks good - I'm going to send off to the associate EiC on duty for the final steps.

[2021-10-09 13:47] csoneson commented on #3392
@whedon recommend-accept

[2021-10-09 16:30] brunaw commented on #3540
Thanks @bmcfee and @VBlesius, all good now, I've checked my remaining box

[2021-10-09 18:11] michaeltouati commented on #3618
@whedon generate pdf

[2021-10-09 18:12] whedon commented on #3618
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: :point_left:

[2021-10-09 21:01] rouson commented on #3618
@danielskatz the most recent invitation has expired.

[2021-10-09 23:17] danielskatz commented on #3618
@whedon re-invite @rouson as reviewer

[2021-10-09 23:39] KimBaldry commented on #3659
@kthyng I am having trouble editing the checklist directly. My initial review covered everything but functionality. I note a lack of community guidelines for contributing to the software and submitting issues (@paleolimbot an extra paragraph in the read me will suffice). I will test functionality in the next 1-2 weeks and finalise my review.

[2021-10-10 00:13] rouson commented on #3618
@danielskatz thanks for the new invitation.  I just accepted it.   My initial thoughts are below.  I'll submit these as issues on the repository and will offer pull requests in some cases.  Let me know if I should delete the text below once I've added the corresponding issues on pull requests on the submitted repository.

1. In a [comment] above, @michaeltouati mentions having "made the code Fortr

[2021-10-10 01:18] michaeltouati commented on #3618
Dear Damian @rouson,
Thank you very much for your first initial thoughts :
1. I just recently switch to 95 because I wanted to use the intrinsic cpu_time fortran timer that were not Fortran 90 standard compliant
2. I'll investigate about fpm. It is true that the makefile can become very large if the number of tests further increase. One simpler solution would be to delete some tests or try to make

[2021-10-10 02:22] erik-whiting commented on #3417
hi @fboehm, sorry for taking so long to respond. Eli responded to all my comments on the documentation issues, I will retest those items tomorrow (10/9) and update accordingly.

Regarding issues related to the paper (documented [here](https://github.com/onnela-lab/beiwe-backend/issues/208)), I don't think the person responsible for fixing those issues has seen my notes. Eli commented on that issue

[2021-10-10 11:39] johncwok commented on #3733
I have updated the documentation, the docstring for ```bootstrap_CI``` as well as the ```plot_motif``` example.  I also ran again every example to make sure the output and the example show the same thing.

[2021-10-10 12:29] Balaje opened #3810 "Installation: Does installation proceed as outlined in the documentation?"

[2021-10-10 12:29] #3810 closed

[2021-10-10 13:23] ejikeugba commented on #3705
@bernardsilenou, thank you for the helpful suggestions. The issues mentioned have all been addressed.

Perhaps, it would make sense to re-generate the pdf once again, since changes are made in it. Thanks!

[2021-10-10 14:30] bkamins commented on #3733
@jbytecode - I have finished the review in the first comment above (I guess this is what is required).

@johncwok some issues I would recommend to resolve in the future (they are non-blocking):
* still you use specification of types as `Array{any, 1}` (incorrect), `Array{Float, 1}` (incorrect), or `Array{Any, 1}` (correct but for sure not what you meant) in the documentation;
* the testset for the

[2021-10-10 14:38] a-ws-m commented on #3700
Thank you all for the detailed review comments! I'm going to start addressing them this week and I'll hopefully be able to provide an estimate as to how long that'll take over the next few days. Sorry for the delay, I've just been settling into a new postgrad position.

[2021-10-10 15:21] fboehm commented on #3417
Thanks @erik-whiting ! I just sent an email, and I'll paste the text of it here:

Hi, JP,

I'm writing with regards to the JOSS submission, Beiwe: A data collection platform for high-throughput digital phenotyping.

Your collaborator Eli has worked towards resolving the software issues that our reviewers have raised. There is an additional collection of issues that the reviewers raised about the p

[2021-10-10 15:40] arjunsavel commented on #3612
Hi @finagle29 — thank you for addressing my issues, things are looking great! I've closed all the completed issues.

With regard to community guidelines, you could use the emcee package's [`CONTRIBUTING.md`](https://github.com/dfm/emcee/blob/main/CONTRIBUTING.md) file as an example. In short, you'll need sections describing how to contribute to your package, how to report issues/bugs, and how to g

[2021-10-10 19:08] pps121 commented on #3719
When I ran the code:  from nltk.corpus import reuters

it gave me LookupError as below :
**********************************************************************
  Resource reuters not found.
  Please use the NLTK Downloader to obtain the resource:

[2021-10-10 19:12] puruckertom commented on #3200
I think this is a very useful R package and a well-written manuscript. I have added issues to the morse_paper repo relevant to the checklist items that are part of JOSS’ peer review process. I commend the authors for their code contribution and the extent of the available documentation for learning how to use the package.

List of issues

-	https://github.com/sandrinecharles/morse_paper/issues/1
-

[2021-10-10 19:18] pps121 commented on #3719
For the above LookUpError Below code gives a fix:

It downloads a reuters zip inside /nltk_data/corpora, then reloads to execute the cell will proceed to next step.

[2021-10-10 19:22] pps121 commented on #3719
Before executing the line
preprocessed_target = audo.text_cleaning(data=data, column="text")

We need to load wordnet as below otherwise there will be a module not found runtime error

[2021-10-10 21:29] whedon commented on #3668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: :point_left:

[2021-10-10 21:53] QibangLiu commented on #3668
@Balaje BTW, we first proposed the coupled PDLSM-FEM model, and I don't think there are some similar software packages.

[2021-10-10 22:31] whedon commented on #3392
[code]

[2021-10-10 22:37] kyleniemeyer commented on #3392
Congratulations @WesIngwersen on your article's publication in JOSS!

Many thanks to @tngTUDOR and @mfastudillo for reviewing this submission, and @csoneson for editing.

[2021-10-10 22:37] #3392 closed

[2021-10-10 22:37] whedon commented on #3392
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03392/status.svg)](https://doi.org/10.21105/joss.03392)

**We need your help!**

Journal of Open Source Softwa

[2021-10-11 00:17] jmschrei commented on #3446
Hi @n3011. Can you please provide an update on how your revisions are going? If you are not interested in pursuing this, also please let us know. If we don't hear back from you, we'll have to reject the submission.

[2021-10-11 01:22] majensen commented on #3440
@vaneseltine This is looking very good. I would make two editorial changes:

- Line 26 of proof: ‘okina is actually spelled with an ‘okina (https://en.wikipedia.org/wiki/%CA%BBOkina); also in README.md
- Line 81: I would credit [DataMade](https://datamade.us/) rather than the AJC for probablepeople, since it looks like they did the coding. Up to you.

Just FYI, not for the paper:
A basic "nox" lea

[2021-10-11 04:28] WilkAndy commented on #3314
@jedbrown - i believe the review process is completed.  What is the next step?

[2021-10-11 05:24] kanishkan91 commented on #3709
Hi @crvernon. My apologies. I had to complete some sudden deadlines. I just jumped back to the review today. Will try to complete this week.

[2021-10-11 05:56] Bisaloo commented on #3794
@tretherington, great. We then have 2 reviewers and we can start the review!

[2021-10-11 05:56] Bisaloo commented on #3794
@whedon add @tretherington as reviewer

[2021-10-11 05:56] whedon commented on #3794
OK, @tretherington is now a reviewer

[2021-10-11 05:58] Bisaloo commented on #3794
@whedon start review

[2021-10-11 05:59] whedon opened #3811 "[REVIEW]: shar: A R package to analyze species-habitat associations using point pattern analysis"
**Submitting author:** @mhesselbarth (<a href="http://orcid.org/0000-0003-1125-9918">Maximilian H.K. Hesselbarth</a>)
**Repository:** <a href="https://github.com/r-spatialecology/shar" target ="_blank">https://github.com/r-spatialecology/shar</a>
**Version:** v1.3
**Editor:** @Bisaloo
**Reviewer:** @lionel68, @tretherington
**Archive:** <a href="https://doi.org/10.5281/zenodo.5761583" target="_bla

[2021-10-11 06:09] Bisaloo commented on #3811
:wave: :wave: :wave: @mhesselbarth @lionel68 @tretherington this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS revi

[2021-10-11 06:58] tpurcell90 commented on #3788
Any update on the status of the review?

[2021-10-11 07:09] fraukewiese commented on #3574
@whedon remove @samuelduchesne as reviewer

[2021-10-11 07:12] whedon commented on #3574
The reviewer already has a pending invite.

@szkafander please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-10-11 07:34] whedon opened #3812 "[PRE REVIEW]: Delve: Neural Network Feature Variance Analysis"
**Submitting author:** @justinshenk (<a href="http://orcid.org/0000-0002-0664-7337">Justin Shenk</a>)
**Repository:** <a href="https://github.com/delve-team/delve" target ="_blank">https://github.com/delve-team/delve</a>
**Version:** v0.1.48
**Editor:** @rkurchin
**Reviewers:** @sambitdash, @dionhaefner
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-10-11 07:35] whedon commented on #3812
Wordcount for `paper.md` is 1107

[2021-10-11 07:35] whedon commented on #3812
[code]

[2021-10-11 07:35] whedon commented on #3812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03812/joss.03812/10.21105.joss.03812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03812/joss.03812/10.21105.joss.03812.pdf) :page_facing_up: :point_left:

[2021-10-11 07:55] mikldk commented on #3677
@whedon re-invite @kblin as reviewer

[2021-10-11 07:56] whedon commented on #3677
OK, the reviewer has been re-invited.

@kblin please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-10-11 08:27] kblin commented on #3677
Thanks, I'll work on this today.

[2021-10-11 08:39] ChrisW09 commented on #3719
@pps121 thank you very much for the comments! We will get back to you as soon as possible.

[2021-10-11 09:08] oliviaguest commented on #3669
@whedon recommend-accept

[2021-10-11 09:11] oliviaguest commented on #3638
@mstimberg, @katschueler, and/or @vahid-sb: do any of you three have the time and expertise to review this submission for JOSS? 😊

[2021-10-11 10:29] bmcfee commented on #3540
@whedon check references

[2021-10-11 12:05] whedon commented on #3766
:wave: @wkearn, please update us on how your review is going (this is an automated reminder).

[2021-10-11 12:05] whedon commented on #3766
:wave: @eviatarbach, please update us on how your review is going (this is an automated reminder).

[2021-10-11 12:19] drvinceknight commented on #3084
@whedon add @lrackley as reviewer

[2021-10-11 12:20] whedon commented on #3084
OK, @lrackley is now a reviewer

[2021-10-11 12:21] whedon opened #3813 "[REVIEW]: %PT_GSDesign: A SAS Macro for Group Sequential Designs with Time-to-event Data using the Concept of Proportional Time"
**Submitting author:** @thewan05 (<a href="http://orcid.org/0000-0002-9306-2619">Nadeesha Thewarapperuma</a>)
**Repository:** https://github.com/thewan05/GSD_SAS_Macro
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @drvinceknight
**Reviewers:** @uagla, @lrackley
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-10-11 12:21] whedon commented on #3813
[code]

[2021-10-11 12:49] whedon commented on #3666
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03666/joss.03666/10.21105.joss.03666.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03666/joss.03666/10.21105.joss.03666.pdf) :page_facing_up: :point_left:

[2021-10-11 13:29] Sara-ShiHo commented on #3504
The last round of changes look good to me. I'll have time tomorrow to do a final review.

[2021-10-11 14:38] richrobe commented on #3702
Hi all, thank you for the reviews! With your help, we were able to significantly (p<0.05 😉) improve our library and make it more useful for the community. @osorensen can you please tell me what the next steps would be for me?

[2021-10-11 14:43] nmstreethran commented on #3625
Hi @mfleschutz @fraukewiese, I have completed my review and have a few minor comments, which you can find below. Overall, this is a very useful software package and I am happy to recommend to accept once these comments are addressed. I do apologise for the delay, and please let me know if any of my comments are unclear.

## environment.yml

- `entsoe-py` appears twice; the one under pip requiremen

[2021-10-11 14:47] dhhagan commented on #3411
👋  @ibarraespinosa @meenakshi-kushwaha are either of you free/interested in reviewing this manuscript? Thanks!

[2021-10-11 14:50] whedon commented on #3812
[code]

[2021-10-11 15:28] kthyng commented on #3175
Hi @arbennett and thank you so much for agreeing to take over this review (especially when you already had one to do!). When will you be able to start your review?

[2021-10-11 15:44] kthyng commented on #3758
Hi @gregbritten! Are you interested in reviewing this submission for the Journal of Open Source Software? The reviews are done openly in github via issues in the software and a summary in a review issue. You can read more about the process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). We are asking for reviews to be finished in 4-6 weeks, but suggest you start sooner than

[2021-10-11 15:58] kthyng commented on #3344
Hi @mcflugen. I haven't been able to get ahold of @PythonCHB recently about this review. I think it is time to find a replacement reviewer. I'm sorry about the time that has passed but I will try to get this moving again.

[2021-10-11 16:00] ralphevins commented on #3800
Sure I can take a look.

Ralph

On Mon, 11 Oct 2021, 00:22 fraukewiese, ***@***.***> wrote:

[2021-10-11 16:16] dankelley commented on #3758
@kthyng yes, I can look at it.  (I didn't see a whedon instruction to say that, so sorry for making an extra step for you.) Dan.

[2021-10-11 16:20] kyleniemeyer commented on #3777
@whedon assign @majensen as editor

[2021-10-11 16:20] whedon commented on #3777
OK, the editor is @majensen

[2021-10-11 16:42] dankelley commented on #3758
Yes, I can review it.  (I've already started and will likely finish this afternoon.  It's a holiday here, and I have a break from term but only for a day.)

[2021-10-11 16:50] whedon commented on #3440
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03440/joss.03440/10.21105.joss.03440.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03440/joss.03440/10.21105.joss.03440.pdf) :page_facing_up: :point_left:

[2021-10-11 16:51] whedon commented on #3758
It looks like you don't have an editor and reviewer assigned yet so I can't start the review. Try one or more of these commands:

[code]

[2021-10-11 16:51] kthyng commented on #3758
@whedon assign @dankelley  as reviewer

[2021-10-11 16:52] whedon opened #3814 "[REVIEW]: AIBECS.jl: The ideal tool for exploring global marine biogeochemical cycles."
**Submitting author:** @briochemc (<a href="http://orcid.org/0000-0002-3838-5976">Benoit Pasquier</a>)
**Repository:** <a href="https://github.com/JuliaOcean/AIBECS.jl" target ="_blank">https://github.com/JuliaOcean/AIBECS.jl</a>
**Version:** v0.11.2
**Editor:** @kthyng
**Reviewers:** @dankelley, @zhenwu0728
**Archive:** <a href="https://doi.org/10.5281/zenodo.5787531" target="_blank">10.5281/zeno

[2021-10-11 16:53] whedon commented on #3814
[code]

[2021-10-11 16:53] whedon commented on #3814
PDF failed to compile for issue #3814 with the following error:
[code]

[2021-10-11 16:54] kthyng commented on #3758
Just to be clear, I am still looking for a second reviewer and @gregbritten if you are interested or not please let me know! I have started the review so @dankelley can get to working on their review.

[2021-10-11 16:55] kthyng commented on #3814
@whedon generate pdf from branch JOSSpaper

[2021-10-11 16:56] vaneseltine commented on #3440
Hrm, looks like the the ʻokina (U+02BB) does not end up properly rendered in the PDF.
![image](https://user-images.githubusercontent.com/20784848/136826990-bd01e00d-094e-48b2-98d4-6ceb075e15d9.png)

[2021-10-11 17:19] majensen commented on #3440
Shoot. Well, I guess we can fake it with U+2018 (left single quotation mark).

[2021-10-11 17:20] majensen commented on #3440
@whedon set 1.1.0 as version

[2021-10-11 17:22] zbeekman commented on #3764
going well, should be wrapped up by the end of the week

[2021-10-11 17:32] vaneseltine commented on #3440
@whedon generate pdf

[2021-10-11 18:10] whedon commented on #3440
[code]

[2021-10-11 18:29] michaeltouati commented on #3618
@whedon generate pdf

[2021-10-11 18:30] whedon commented on #3618
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: :point_left:

[2021-10-11 19:22] whedon commented on #3771
:wave: @zingale, please update us on how your review is going (this is an automated reminder).

[2021-10-11 19:30] ashwinvis commented on #3418
@whedon generate pdf

[2021-10-11 20:31] bonh commented on #3742
Hi @nasserma!

I am assessing the scholar effort of your code. In my opinion the performance of simulation codes is a very important feature (the most sophisticated implementation of a wonderful physical model will not have a wider impact if the solution time is unacceptable). About the performance of your code (haven't tested it yet): Is it possible to run your code in parallel? In the paper you

[2021-10-11 20:46] ashwinvis commented on #3418
Thanks @pdebuyl, that's a relief. @JohnVolk, thank you for your patience. The code appears to be well documented and properly organized. This software paper would be a nice complement to it.

@pdebuyl, I recommend that the paper can be accepted.

[2021-10-11 21:35] JohnVolk commented on #3418
Thank you @ashwinvis, I just updated those all caps titles in the bibliography. Not sure about incorrect names in the Pastorello et al. (2020), there are special characters that the bibtex doesn't handle well but those names do not show up in the preprint, but I might be missing something.

[2021-10-11 22:14] kthyng commented on #3814
Sounds great, thanks for your fast responses and review @dankelley!

[2021-10-11 22:27] crvernon commented on #3666
@whedon generate pdf

[2021-10-12 01:40] aalfons commented on #3786
@mikldk @msalibian @valentint - I created a revised version of the manuscript which is reduced in length and fits on 5 pages. I'll give detailed responses to each reviewer in separate comments below.

[2021-10-12 01:45] apcamargo commented on #3756
I finished my review. On top of the (lack of) ticks, my only minor comment is that the species names in the manuscript are not italicized.

[2021-10-12 02:03] aalfons commented on #3786
Reply to @msalibian:

Thanks again for your helpful suggestions on reducing the length. I decided to keep the output on the regression coefficients, but for `sparseLTS()` I excluded the output regarding the cross-validation.  This also avoided a discussion on the raw and reweighted estimators (see also my reply to one of the comments below). Moreover, I followed your suggestion and removed Figure

[2021-10-12 02:16] szkafander commented on #3574
@fraukewiese Clicked it, I got "This invitation has expired.". Still can't edit. This happened to me before, not sure what I'm doing wrong...

[2021-10-12 03:20] rabdill commented on #3756
I apologize for being the last one to finish my review—I will be able to complete my review by Thursday night.

[2021-10-12 07:48] Shyentist commented on #3467
@whedon check references

[2021-10-12 07:49] whedon commented on #3467
[code]

[2021-10-12 08:03] whedon commented on #3669
[code]

[2021-10-12 08:03] whedon commented on #3669
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2663
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03669](https://doi.org/10.21105/joss.03669)
2. If everything look

[2021-10-12 08:16] #3809 closed

[2021-10-12 08:16] arfon commented on #3809
@whedon reject

[2021-10-12 08:17] whedon commented on #3809
Paper rejected.

[2021-10-12 08:26] whedon opened #3815 "[PRE REVIEW]: CHAMP is an HPC Access and Metadata Portal"
**Submitting author:** @cc-a (<a href="http://orcid.org/0000-0003-0942-8030">Christopher Cave-Ayland</a>)
**Repository:** <a href="https://github.com/ImperialCollegeLondon/champ" target ="_blank">https://github.com/ImperialCollegeLondon/champ</a>
**Version:** v2.0.0
**Editor:** @crvernon
**Reviewers:** @thurber, @acrlakshman
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :war

[2021-10-12 08:26] whedon commented on #3815
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-12 08:27] whedon opened #3816 "[PRE REVIEW]: COMPAS: A rapid binary population synthesis suite"
**Submitting author:** @ilyamandel (<a href="http://orcid.org/0000-0002-6134-8946">Ilya Mandel</a>)
**Repository:** <a href="https://github.com/TeamCOMPAS/methods_paper_markdown" target ="_blank">https://github.com/TeamCOMPAS/methods_paper_markdown</a>
**Version:** v02.21.00
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2021-10-12 08:27] whedon commented on #3816
Wordcount for `paper.md` is 1078

[2021-10-12 08:27] whedon commented on #3815
[code]

[2021-10-12 08:27] arfon commented on #3815
@whedon check repository from branch joss

[2021-10-12 08:27] whedon commented on #3815
Wordcount for `paper.md` is 777

[2021-10-12 08:31] arfon commented on #3816
👋 @ilyamandel, many thanks for your submission to JOSS. It looks like this paper is associated with this software repository https://github.com/TeamCOMPAS/COMPAS?

If that's correct, please resubmit to JOSS, with the `paper.md` (and associated files) in the https://github.com/TeamCOMPAS/COMPAS repository, rather than a standalone one here. Note, the paper doesn't need to ever be merged into the co

[2021-10-12 08:58] ilyamandel commented on #3816
@arfon -- Fixed.  Though I note that I followed the instructions of creating an auto-compilation action in the repo, and that produced a PDF, with appropriate affiliations, without any issues...

[2021-10-12 09:14] ilyamandel commented on #3816
@arfon -- I created a branch with the requested files, as suggested:
https://github.com/TeamCOMPAS/COMPAS/tree/JOSS
and resubmitted.

[2021-10-12 09:15] ilyamandel commented on #3816
Suggested editor -- dfm.

[2021-10-12 09:18] whedon commented on #3669
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03669/status.svg)](https://doi.org/10.21105/joss.03669)

**We need your help!**

Journal of Open Source Softwa

[2021-10-12 10:40] whedon commented on #3702
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03702/joss.03702/10.21105.joss.03702.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03702/joss.03702/10.21105.joss.03702.pdf) :page_facing_up: :point_left:

[2021-10-12 10:42] osorensen commented on #3702
Thanks a lot for your quick response @richrobe, and many thanks to @zen-juen and @espenhgn for your reviews!

[2021-10-12 10:47] whedon commented on #3702
I'm sorry @richrobe, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-10-12 11:12] fraukewiese commented on #3574
@szkafander Sorry for that, I will try to find out what is wrong...

[2021-10-12 11:14] fraukewiese commented on #3800
@whedon assign @ralphevins as reviewer

[2021-10-12 13:36] josephhardinee commented on #3219
I've completed the review (Sorry it took so long, the package was quite comprehensive). Everything looks good with possibly one exception. The API level documentation is lacking detail once you get below the top level with most methods having no documentation, especially on inputs/outputs (See image below for instance). However, the authors have a fairly robust set of example notebooks that I woul

[2021-10-12 15:22] whedon opened #3817 "[PRE REVIEW]: COMPAS: A rapid binary population synthesis suite"
**Submitting author:** @ilyamandel (<a href="http://orcid.org/0000-0002-6134-8946">Ilya Mandel</a>)
**Repository:** <a href="https://github.com/TeamCOMPAS/COMPAS" target ="_blank">https://github.com/TeamCOMPAS/COMPAS</a>
**Version:** v02.21.00
**Editor:** @christinahedges
**Reviewers:** @katiebreivik, @HeloiseS
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-10-12 15:24] #3816 closed

[2021-10-12 15:24] whedon opened #3818 "[PRE REVIEW]: singcar: Comparing single cases to small samples in R"
**Submitting author:** @jorittmo (<a href="http://orcid.org/0000-0001-5075-0166">Jonathan Ö. Rittmo</a>)
**Repository:** <a href="https://github.com/jorittmo/singcar" target ="_blank">https://github.com/jorittmo/singcar</a>
**Version:** v.0.1.3
**Editor:** @csoneson
**Reviewers:** @craddm, @lindemann09
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-10-12 15:24] whedon commented on #3818
[code]

[2021-10-12 15:25] whedon opened #3819 "[PRE REVIEW]: ordPens: An R package for Selection, Smoothing and Principal Components Analysis for Ordinal Variables"
**Submitting author:** @ahoshiyar (<a href="http://orcid.org/0000-0002-5702-130X">Aisouda Hoshiyar</a>)
**Repository:** <a href="https://github.com/ahoshiyar/ordPens" target ="_blank">https://github.com/ahoshiyar/ordPens</a>
**Version:** 1.0.0
**Editor:** @osorensen
**Reviewers:** @fartist, @FranjoIM, @mingzehuang
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2021-10-12 15:25] whedon commented on #3819
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-12 15:26] whedon commented on #3819
Wordcount for `paper.md` is 1310

[2021-10-12 15:26] whedon commented on #3819
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03819/joss.03819/10.21105.joss.03819.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03819/joss.03819/10.21105.joss.03819.pdf) :page_facing_up: :point_left:

[2021-10-12 15:29] arfon commented on #3817
@whedon check references from branch JOSS

[2021-10-12 15:43] joaomcteixeira commented on #3646
@chartgerink

I have proposed @martin3141 installations instructions for Anaconda. Read here: https://github.com/martin3141/spant/issues/9

I think @martin3141 can add those instructions to the package. However, for me it is not a problem if Martin decides not to add them. This should not hinder publication, however it would considerably enhance the dissemination of the project. Answering the ques

[2021-10-12 16:06] arfon commented on #3702
@zen-juen, @espenhgn – many thanks for your reviews here and to @osorensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@richrobe  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-10-12 16:06] #3702 closed

[2021-10-12 16:20] JohnVolk commented on #3418
Thank you @ashwinvis and @dgketchum  for your reviews, and thank you @pdebuyl for everything you have done. This was a good experience.

[2021-10-12 17:15] Shyentist commented on #3467
@whedon generate pdf

[2021-10-12 18:54] whedon opened #3820 "[REVIEW]: rfasst: An R tool to estimate air pollution impacts on health and agriculture"
**Submitting author:** @jonsampedro (<a href="http://orcid.org/0000-0002-2277-1530">Jon Sampedro</a>)
**Repository:** <a href="https://github.com/JGCRI/rfasst" target ="_blank">https://github.com/JGCRI/rfasst</a>
**Version:** v1.2
**Editor:** @dhhagan
**Reviewer:** @nanhung, @ibarraespinosa
**Archive:** <a href="https://doi.org/10.5281/zenodo.5838361" target="_blank">10.5281/zenodo.5838361</a>

**

[2021-10-12 18:54] #3411 closed

[2021-10-12 18:54] whedon commented on #3820
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nanhung, @ibarraespinosa it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-10-12 18:54] whedon commented on #3820
Wordcount for `paper.md` is 1281

[2021-10-12 19:18] DavidNickle commented on #3773
I've completed my review 14 days ago - See above.  Is there an error in the way I've submitted it?

[2021-10-12 19:25] felixchenier commented on #3714
@whedon generate pdf from branch JOSS

[2021-10-12 19:34] whedon commented on #3714
[code]

[2021-10-12 19:34] ibarraespinosa commented on #3411
Cool Cool! I will make a fair review and not be guided by the infamous [reviewer 2](https://twitter.com/grumpyreviewer2?lang=pt).

[2021-10-12 20:26] valentint commented on #3786
@mikldk First of all I would like to recommend the revised paper for publishing.
The technical issues I had mentioned before could be discussed out of this review.

@aalfons Installation: yes, it seems that it is my local problem, but it occurs on all my PCs :) and I still cannot find a way out of it. Since I have had the issue with other R packages, it is clear that it does not concern robustHD.

[2021-10-12 21:18] kevinlibuit commented on #3773
@davekinkead I think that we are supposed to provide feedback by modifying the checklist above. [Here is an example of a JOSS review completed by a colleague of mine](https://github.com/openjournals/joss-reviews/issues/1390).

Though I'm still unable to update the checklist. @kellyrowland is it alright if I proceed with my review in a similar way as David, i.e. provide text response to each item i

[2021-10-12 21:33] majensen commented on #3440
Congrats @vaneseltine ! Very useful piece of software.

[2021-10-12 21:57] ilyamandel commented on #3817
@arfon -- Correct.  A full methods paper been submitted to ApJS and is under review.  The AAS editor is on board with our submitting it to JOSS under the JOSS/AAS collaboration.

[2021-10-12 22:13] whedon opened #3821 "[REVIEW]: PyAFBF: a Python library to sample image textures from the anisotropic fractional Brownian field."
**Submitting author:** @fjprichard (<a href="http://orcid.org/0000-0001-5146-9894">Frédéric Richard</a>)
**Repository:** https://github.com/fjprichard/PyAFBF/
**Branch with paper.md** (empty if default branch): main
**Version:** v0.1.5
**Editor:** @pibion
**Reviewers:** @vitorsr, @janmandel
**Archive:** 10.5281/zenodo.6860333

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-10-12 22:17] pibion commented on #3821
@fjprichard, @arfon do you have any thoughts about why the pdf compilation is failing?  Is the pdf in a non-standard location?

[2021-10-12 22:34] msalibian commented on #3786
@valentint This is intriguing. Below I copy my Surface system information, and here's the output of the first part of your script. I don't know what may explain the difference.

[code]

![image](https://user-images.githubusercontent.com/5422467/137037223-ed340322-5071-4082-9cd1-52e60ed245e6.png)

[2021-10-12 22:54] crvernon commented on #3666
🎉  @npucino thanks for putting together a really nice software product! Thanks to @dbuscombe-usgs and @chrisleaman for a constructive and timely review!

I am recommending that your submission be accepted. An EIC will review this shortly and confirm final publication if all goes well.

[2021-10-12 22:54] crvernon commented on #3666
@whedon recommend-accept

[2021-10-12 22:54] whedon commented on #3666
[code]

[2021-10-12 23:15] sjcrs commented on #3665
I'd like to help, but I think I have a COI - my company works with He Zhang's JSPEC code, and have publications in progress that may involve him as an author (He, I'll be sending you an email about that soon).

[2021-10-13 02:39] BreezeWhite commented on #3391
Hi @faroit,

Sorry for the slow update... I have been busy working on other things and don't have much on the issues. But I will have some time recently. On the lab's side, the director is also looking for people to help on the issues, and hope I can hangover the work in near future. Still, this could take probably up to few months, I will discuss with the director and reply to you as soon as poss

[2021-10-13 06:49] mikldk commented on #3786
@aalfons Maybe it is due to underlying BLAS/LAPACK? Anyway, please let me know once the software and paper is ready (you can better judge which of the above issues are resolved or not). Once software and paper is ready, please:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versio

[2021-10-13 07:08] whedon commented on #3819
Here are some things you can ask me to do:

[code]

[2021-10-13 07:20] arfon commented on #2606
@avik-pal – how are you getting on with the reviewer feedback here?

[2021-10-13 07:21] arfon commented on #2708
@whedon remind @arfon in 6 weeks

[2021-10-13 07:25] #3062 closed

[2021-10-13 08:25] whedon opened #3822 "[REVIEW]: cofad: An R package and shiny app for contrast analysis"
**Submitting author:** @johannes-titz (<a href="http://orcid.org/0000-0002-1102-5719">Johannes Titz</a>)
**Repository:** <a href="https://github.com/johannes-titz/cofad" target ="_blank">https://github.com/johannes-titz/cofad</a>
**Version:** v0.2.0
**Editor:** @chartgerink
**Reviewer:** @tianxzhu, @svmiller
**Archive:** <a href="https://doi.org/10.5281/zenodo.5702779" target="_blank">10.5281/zeno

[2021-10-13 08:26] whedon commented on #3822
Wordcount for `paper.md` is 555

[2021-10-13 08:26] whedon commented on #3822
[code]

[2021-10-13 08:43] whedon commented on #3815
OK, the editor is @crvernon

[2021-10-13 08:43] arfon commented on #3815
:zap: thanks!

[2021-10-13 08:43] fraukewiese commented on #3625
@nmsteethran: Thank you very much for your thorough work, testing, commenting, reviewing!

[2021-10-13 08:44] arfon commented on #3817
@whedon check references from branch JOSS

[2021-10-13 08:58] whedon commented on #3817
[code]

[2021-10-13 09:04] whedon commented on #3666
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2668
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03666](https://doi.org/10.21105/joss.03666)
2. If everything look

[2021-10-13 09:24] whedon commented on #3786
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03786/joss.03786/10.21105.joss.03786.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03786/joss.03786/10.21105.joss.03786.pdf) :page_facing_up: :point_left:

[2021-10-13 10:42] Kevin-Mattheus-Moerman commented on #3611
@mikesmithlab nothing from your end. We'd like the last reviewer to complete the review, and I will send another reminder now.

[2021-10-13 10:43] Kevin-Mattheus-Moerman commented on #3611
@tacaswell would you be able to pick up the review process at this point? Thanks!

[2021-10-13 10:43] Kevin-Mattheus-Moerman commented on #3611
@whedon re-invite @tacaswell as reviewer

[2021-10-13 11:01] Kevin-Mattheus-Moerman commented on #3579
@btreeby @dannyramasawmy @jarosjir @thewtex @pharshalp @Scivision @thewtex @pharshalp  @AnantHariharan1996  @benjaminbolling @mlp6 @tboerstad would you be interested in reviewing this work (a MATLAB/octave toolbox for ultrasound imaging) for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
The smooth [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.ht

[2021-10-13 11:33] mfleschutz commented on #3625
Thanks for the comment. I saw this actually many times. Some examples: [https://developer.apple.com/swift](https://developer.apple.com/swift), [https://opensource.com/...](https://opensource.com/life/12/9/should-we-require-open-source-developed-openly), [this JOSS paper](https://joss.theoj.org/papers/10.21105/joss.00825).

[2021-10-13 12:34] mfleschutz commented on #3625
Thank you @fraukewiese, I just released `elmada v0.1.0` 🚀

The new zenodo DOI is [10.5281/zenodo.5566694](https://doi.org/10.5281/zenodo.5566694)

While checking the Zenodo metadata, I was wondering if Michael D. Murphy is to be included as an author. He contributed with [(non-code) active project direction](https://joss.readthedocs.io/en/latest/submitting.html#authorship) and is therefore co-auth

[2021-10-13 12:36] ArneTillmann commented on #3719
Hi @pps121
first of all, thank you for taking your time and reviewing our work.

[2021-10-13 12:43] Kevin-Mattheus-Moerman commented on #3736
@fibreglass2 how are you getting on? Do you have any updates to report?

[2021-10-13 12:47] ArneTillmann commented on #3719
as well as those.

[2021-10-13 12:52] lionel68 commented on #3811
Ok just made a quick first go through the manuscript and still have to check the functionalities of the package itself so right now I will focus on the text:

1. The species-habitat association derived from point pattern as used in `shar` are based on null models, there are however other ways to estimate these associations by directly modelling the intensity of the point pattern to habitat / covar

[2021-10-13 12:52] whedon commented on #3618
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: :point_left:

[2021-10-13 13:13] Bisaloo commented on #3705
@whedon generate pdf

[2021-10-13 13:22] danielskatz commented on #3211
@whedon check references

[2021-10-13 13:22] danielskatz commented on #3211
@whedon generate pdf

[2021-10-13 13:25] whedon commented on #3784
PDF failed to compile for issue #3784 with the following error:
[code]

[2021-10-13 13:28] whedon commented on #3784
PDF failed to compile for issue #3784 with the following error:
[code]

[2021-10-13 13:39] MichaelSel commented on #3784
@whedon generate pdf

On Wed, Oct 13, 2021 at 3:30 PM whedon ***@***.***> wrote:

[2021-10-13 13:39] whedon commented on #3784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: :point_left:

[2021-10-13 13:59] whedon commented on #3776
:wave: @tom-gu, please update us on how your review is going (this is an automated reminder).

[2021-10-13 13:59] whedon commented on #3776
:wave: @DrMattG, please update us on how your review is going (this is an automated reminder).

[2021-10-13 13:59] whedon commented on #3776
:wave: @kamapu, please update us on how your review is going (this is an automated reminder).

[2021-10-13 14:14] whedon commented on #2606
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02606/joss.02606/10.21105.joss.02606.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02606/joss.02606/10.21105.joss.02606.pdf) :page_facing_up: :point_left:

[2021-10-13 14:42] crvernon commented on #3815
:wave: @thurber - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-10-13 15:02] apizzuto commented on #3772
@whedon commands

[2021-10-13 15:07] apizzuto commented on #3772
Hi @JostMigenda, thanks for the tweaks to the paper and looking into the install issue. My installation is working now and I checked off everything for the paper in my checklist. I'll work through the examples in the next few days.

[2021-10-13 15:48] KristianNelson commented on #3383
@whedon generate pdf

[2021-10-13 16:00] whedon commented on #3780
:wave: @mnwright, please update us on how your review is going (this is an automated reminder).

[2021-10-13 16:05] KristianNelson commented on #3383
@whedon check references

[2021-10-13 16:08] KristianNelson commented on #3383
@whedon generate pdf

[2021-10-13 16:17] KristianNelson commented on #3383
@whedon generate pdf

[2021-10-13 16:41] wesleyburr commented on #3705
I'm all done, and have signed off on everything.

[2021-10-13 17:56] whedon commented on #3792
OK, @lutzhamel is now a reviewer

[2021-10-13 18:24] g4brielvs commented on #3429
Here is my review (at last). Thousands apologies for my missing in action.

### General checks

- The packages passes general checks. However, some of the dependencies were not included, e.g. `mpmath`.

### Documentation & Paper

- As indicated on the checklist, both document and paper pass the inspection. However, it would be beneficial to have more descriptions and expanded examples on the docum

[2021-10-13 18:36] AKUMAR0019 commented on #3578
Hi @osorensen @robbisg @htwangtw. Thank you for your time. Just to recap: The repository listed by whedon (https://github.com/incf-nidash/PyNIDM) contains the source code at https://github.com/incf-nidash/PyNIDM/blob/master/nidm/experiment/tools/nidm_linreg.py. The plain-text license file is also in the main repo (https://github.com/incf-nidash/PyNIDM/blob/master/LICENSE). The code itself contains

[2021-10-13 18:37] osorensen commented on #3578
Thanks for the update @AKUMAR0019. I think you have done what you can do at this point. @robbisg and @htwangtw, can you please consider the updates and see if they address the points raised in your reviews?

[2021-10-13 19:04] emdupre commented on #3806
@whedon add @hugorichard as reviewer

[2021-10-13 19:05] emdupre commented on #3806
@whedon start review

[2021-10-13 19:06] whedon opened #3823 "[REVIEW]: cca-zoo"
**Submitting author:** @jameschapman19 (<a href="http://orcid.org/0000-0002-9364-8118">James Chapman</a>)
**Repository:** <a href="https://github.com/jameschapman19/cca_zoo" target ="_blank">https://github.com/jameschapman19/cca_zoo</a>
**Version:** v1.10.8
**Editor:** @emdupre
**Reviewer:** @robbisg, @hugorichard, @ejolly
**Archive:** <a href="https://doi.org/10.5281/zenodo.5786616" target="_blan

[2021-10-13 19:06] #3806 closed, assigned to robbisg, ejolly, hugorichard, emdupre

[2021-10-13 19:06] whedon commented on #3823
Wordcount for `paper.md` is 1397

[2021-10-13 19:10] whedon commented on #3783
:wave: @smsharma, please update us on how your review is going (this is an automated reminder).

[2021-10-13 19:10] whedon commented on #3783
:wave: @patricialarsen, please update us on how your review is going (this is an automated reminder).

[2021-10-13 19:14] lorenzo-rovigatti commented on #3764
I have opened a few issues which should be fixed soon. I think that we will be able to wrap things up in the next few days.

[2021-10-13 19:17] whedon commented on #3659
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03659/joss.03659/10.21105.joss.03659.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03659/joss.03659/10.21105.joss.03659.pdf) :page_facing_up: :point_left:

[2021-10-13 19:40] bprather commented on #3336
I've cut a release and uploaded the source to Zenodo [here](https://zenodo.org/record/5567372). The archive DOI is 10.5281/zenodo.5567372

[2021-10-13 19:51] amkram commented on #3677
@whedon generate pdf

[2021-10-13 19:51] whedon commented on #3677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03677/joss.03677/10.21105.joss.03677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03677/joss.03677/10.21105.joss.03677.pdf) :page_facing_up: :point_left:

[2021-10-13 19:55] kyleniemeyer commented on #3428
@cwentland0 understood, thanks for the update!

[2021-10-13 20:09] rkurchin commented on #3546
@whedon check references

[2021-10-13 20:50] kthyng commented on #3175
Update! @arbennett plans to finish their review by the end of the week. Thank you!

[2021-10-14 08:41] amkram commented on #3677
@mikldk Thanks, I have done so.

[2021-10-14 08:53] whedon commented on #3677
[code]

[2021-10-14 10:53] arfon commented on #3336
@whedon set 10.5281/zenodo.5567372 as archive

[2021-10-14 10:53] whedon commented on #3336
OK. <a href="https://doi.org/10.5281/zenodo.5567372" target="_blank">10.5281/zenodo.5567372</a> is the archive.

[2021-10-14 10:54] arfon commented on #3336
@whedon recommend-accept from branch joss-paper-branch

[2021-10-14 10:54] whedon commented on #3336
[code]

[2021-10-14 10:54] whedon commented on #3336
[code]

[2021-10-14 10:57] whedon commented on #3540
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03540/joss.03540/10.21105.joss.03540.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03540/joss.03540/10.21105.joss.03540.pdf) :page_facing_up: :point_left:

[2021-10-14 10:58] whedon commented on #3336
[code]

[2021-10-14 11:04] arfon commented on #3677
@whedon accept deposit=true

[2021-10-14 11:27] pps121 commented on #3719
It it better now. Thanks.

[2021-10-14 11:32] pps121 commented on #3719
``

Thanks for the encryption step. It is better now. it is okay now about the current state of the code modules.

[2021-10-14 11:52] arfon commented on #3677
@kblin, @bede – many thanks for your reviews here and to @mikldk for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@amkram – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-10-14 11:52] #3677 closed

[2021-10-14 11:53] #3336 closed

[2021-10-14 11:53] whedon commented on #3336
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03336/status.svg)](https://doi.org/10.21105/joss.03336)

**We need your help!**

Journal of Open Source Softwa

[2021-10-14 11:54] acrlakshman commented on #3815
Sure.

[2021-10-14 12:01] whedon commented on #3815
OK, @acrlakshman is now a reviewer

[2021-10-14 12:02] whedon opened #3824 "[REVIEW]: CHAMP is an HPC Access and Metadata Portal"
**Submitting author:** @cc-a (<a href="http://orcid.org/0000-0003-0942-8030">Christopher Cave-Ayland</a>)
**Repository:** <a href="https://github.com/ImperialCollegeLondon/champ" target ="_blank">https://github.com/ImperialCollegeLondon/champ</a>
**Version:** v2.1.0
**Editor:** @crvernon
**Reviewer:** @thurber, @acrlakshman
**Archive:** <a href="https://doi.org/10.5281/zenodo.6026417" target="_bla

[2021-10-14 12:02] whedon commented on #3815
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3824.

[2021-10-14 12:02] #3815 closed, assigned to acrlakshman, crvernon, thurber

[2021-10-14 12:04] whedon commented on #3824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03824/joss.03824/10.21105.joss.03824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03824/joss.03824/10.21105.joss.03824.pdf) :page_facing_up: :point_left:

[2021-10-14 12:33] arfon commented on #3789
:wave: @mikldk – just checking to see if you think you might be able to edit this paper for us?

[2021-10-14 12:42] arfon commented on #3807
@whedon invite @Kevin-Mattheus-Moerman as editor

:wave: @Kevin-Mattheus-Moerman – would you be willing to edit this submission for JOSS?

[2021-10-14 12:42] whedon commented on #3807
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2021-10-14 12:44] arfon commented on #3812
@whedon invite @martinfleis as editor

:wave: @martinfleis – would you be willing to edit this submission for JOSS?

[2021-10-14 12:44] whedon commented on #3812
@martinfleis has been invited to edit this submission.

[2021-10-14 12:47] whedon commented on #3818
@csoneson has been invited to edit this submission.

[2021-10-14 12:47] whedon commented on #3819
@osorensen has been invited to edit this submission.

[2021-10-14 13:01] mikldk commented on #3789
@alexander-pastukhov - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers)?

[2021-10-14 13:08] whedon commented on #3757
OK, the editor is @jarvist

[2021-10-14 13:41] jsta commented on #3383
Looks good to me. @fsanchez-trigueros I think we just need to verify and check off any missing items from the original form.

[2021-10-14 13:41] god-s-perfect-idiot commented on #3757
Hi @jarvist thank you for taking up the editing. I was hoping @jedbrown could take a look as i felt they had the best profile and background for an ISA simulator. But, im not sure if they're available, or if im incorrect on said notion.

[2021-10-14 14:37] JohnVolk commented on #3418
Hi @pdebuyl thanks, I don't see any issues in the actual bibliography, the encoding issues are for special characters in certain author names for the Pastorello et al., 2020 citation but those authors are not included in the list that show up in the bibliography because the author list is so long they get cut out. Sorry for not clarifying this the other day when I tried to clean it up, I only fixe

[2021-10-14 14:47] arianesasso commented on #3679
Dear @prashjha we made the corrections and we already have a zenodo DOI: https://doi.org/10.5281/zenodo.5243494 :).

Cheers
Ariane

[2021-10-14 15:07] arfon commented on #3376
@MamadouSDiallo – looks like there's a bunch of great feedback from @soodoku and @rchew here. Please let us know when you might be able to address this feedback.

[2021-10-14 15:13] whedon commented on #3679
OK. <a href="https://doi.org/10.5281/zenodo.5243494" target="_blank">10.5281/zenodo.5243494</a> is the archive.

[2021-10-14 15:16] prashjha commented on #3679
@arianesasso, could you change the title in zenodo archive to match the title of joss paper?

[2021-10-14 15:36] galessiorob commented on #3756
@maxkfranz I've gone over the paper and the reviewers comments, and a description of the current state of the field as well as application examples are missing. Could you add these two to the paper please?

Thanks!

[2021-10-14 15:46] gkthiruvathukal commented on #3229
@whedon assign @andrewtarzia as reviewer

[2021-10-14 16:38] alberto-battistel commented on #3229
@gkthiruvathukal Yes, I am willing to help review this submission. It is not exactly my topic but I will do my best!

[2021-10-14 17:05] pibion commented on #3665
@sjcrs no worries, that's very helpful, thank you!

[2021-10-14 17:38] bmcfee commented on #3540
@VBlesius looks generally good to me!  I did notice that the license file in the repo is misspelled as "LICENCE" - that should probably be fixed, but I don't think it's worth generating a new version / archive for.

[2021-10-14 17:40] bmcfee commented on #3540
@VBlesius sorry, also just noticed that you didn't tag the release on github - please do that too!

[2021-10-14 17:40] whedon commented on #3540
OK. <a href="https://doi.org/10.6084/m9.figshare.16810405.v1" target="_blank">10.6084/m9.figshare.16810405.v1</a> is the archive.

[2021-10-14 17:47] whedon commented on #3817
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03817/joss.03817/10.21105.joss.03817.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03817/joss.03817/10.21105.joss.03817.pdf) :page_facing_up: :point_left:

[2021-10-14 17:54] christinahedges commented on #3817
@whedon assign @katiebreivik as reviewer

[2021-10-14 17:57] fgjorup commented on #3546
Great news @rkurchin ! My colleague, @moerch, should have taken care of the "editorial feedback", so the manuscript should be ready. Regarding merging, which makes the most sense? I would like the archived and tagged release to include the changes in the JOSS branch, so would you prefer I merged the branch before acceptance?

[2021-10-14 17:57] fgjorup commented on #3546
@whedon generate pdf from branch JOSS-submission

[2021-10-14 17:58] whedon commented on #3546
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03546/joss.03546/10.21105.joss.03546.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03546/joss.03546/10.21105.joss.03546.pdf) :page_facing_up: :point_left:

[2021-10-14 18:02] whedon commented on #3819
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03819/joss.03819/10.21105.joss.03819.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03819/joss.03819/10.21105.joss.03819.pdf) :page_facing_up: :point_left:

[2021-10-14 18:29] mfleschutz commented on #3625
@whedon generate pdf

[2021-10-14 18:30] whedon commented on #3625
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03625/joss.03625/10.21105.joss.03625.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03625/joss.03625/10.21105.joss.03625.pdf) :page_facing_up: :point_left:

[2021-10-14 18:33] whedon opened #3825 "[PRE REVIEW]: Sepia, a taxonomy oriented read classifier in Rust"
**Submitting author:** @hcdenbakker (<a href="http://orcid.org/0000-0002-4086-1580">Henk den Bakker</a>)
**Repository:** <a href="https://github.com/hcdenbakker/sepia" target ="_blank">https://github.com/hcdenbakker/sepia</a>
**Version:** v0.0.2
**Editor:** @will-rowe
**Reviewers:** @Ebedthan, @telatin
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-10-14 18:33] whedon commented on #3825
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-14 18:38] clauswilke commented on #3678
In brief, we have made all changes except the API changes requested in issues https://github.com/wilkelab/Opfi/issues/205 and https://github.com/wilkelab/Opfi/issues/206. We agree with these requests in principle, but they are breaking changes and that would create major problems for us in the code for a related paper (https://www.biorxiv.org/content/10.1101/2021.08.16.456562v2). This paper is abo

[2021-10-14 18:51] arfon commented on #3679
@whedon accept deposit=true

[2021-10-14 18:51] whedon commented on #3679
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1448723258422054922) 👈 🐦🐦🐦

[2021-10-14 18:51] whedon commented on #3679
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2674
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03679](https://doi.org/10.21105/joss.03679)
2. If everything look

[2021-10-14 19:49] albincorreya opened #3826 "Summary: Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?"

[2021-10-14 19:49] #3826 closed, assigned to nobody

[2021-10-14 20:54] osorensen commented on #3819
@whedon add @fartist as reviewer

[2021-10-14 20:55] osorensen commented on #3819
@whedon add @FranjoIM as reviewer

[2021-10-14 21:23] KristinaRiemer commented on #3467
Thanks for making all of those changes @Shyentist! I'm actually surprised that so many of the citations from `citations` had errors and such, I would think we should be able to trust that they'll be correct.

I think the paper looks good now. The next steps are to: 1) [create a tagged release](https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository#cr

[2021-10-14 21:26] KristinaRiemer commented on #3383
Thanks for making all of those changes @KristianNelson! @jsta is correct about the next steps, @fsanchez-trigueros. Check off the remaining checkboxes in your review checklist if you're satisfied with them, and then let me know via a comment here if you're content with this submission.

[2021-10-14 21:45] christinahedges commented on #3817
@whedon add @HeloiseS as reviewer

[2021-10-14 21:45] whedon commented on #3817
OK, @HeloiseS is now a reviewer

[2021-10-14 23:06] christinahedges commented on #3778
@whedon start review

Ok everyone, looks like we can start this review! @emptymalei and @cpinte will be reviewing @richteague's submission. I'm going to start the review now, which will start a new GitHub issue with the instructions for review.

[2021-10-14 23:06] whedon opened #3827 "[REVIEW]: disksurf: Extracting the 3D Structure of Protoplanetary Disks"
**Submitting author:** @richteague (<a href="http://orcid.org/0000-0003-1534-5186">Richard Teague</a>)
**Repository:** <a href="https://github.com/richteague/disksurf" target ="_blank">https://github.com/richteague/disksurf</a>
**Version:** v0.1.7
**Editor:** @christinahedges
**Reviewer:** @emptymalei, @cpinte
**Archive:** <a href="https://doi.org/10.5281/zenodo.5670586" target="_blank">10.5281/ze

[2021-10-14 23:06] whedon commented on #3827
[code]

[2021-10-14 23:06] whedon commented on #3827
[code]

[2021-10-14 23:06] whedon commented on #3827
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03827/joss.03827/10.21105.joss.03827.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03827/joss.03827/10.21105.joss.03827.pdf) :page_facing_up: :point_left:

[2021-10-14 23:07] christinahedges commented on #3827
@richteague, @emptymalei , @cpinte – This is the review thread for the paper. Please don't hesitate to message me here if you have questions.

Please read the "Reviewer instructions & questions" in the first comment above to get started. If you get lost, you can also see the reviewer guidelines.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS require

[2021-10-15 01:17] whedon commented on #3678
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03678/joss.03678/10.21105.joss.03678.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03678/joss.03678/10.21105.joss.03678.pdf) :page_facing_up: :point_left:

[2021-10-15 01:28] afrubin commented on #3678
@alexismhill3 @clauswilke I understand the tension between wanting to update but avoiding breaking changes (especially with another manuscript involved), and I'm satisfied with the way you addressed the outstanding issues. I hope this software is widely-adopted and that you have the time and motivation to come back to them!

My comments on the manuscript have been addressed in full. The only outst