[2021-05-05 14:37] whedon commented on #3254
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 14:38] whedon commented on #3251
PDF failed to compile for issue #3251 with the following error:
[code]

[2021-05-05 14:38] whedon commented on #3253
[code]

[2021-05-05 14:38] whedon commented on #3252
[code]

[2021-05-05 14:39] whedon commented on #3252
PDF failed to compile for issue #3252 with the following error:
[code]

[2021-05-05 14:39] kthyng commented on #3250
@whedon query scope

[2021-05-05 14:39] whedon commented on #3250
Submission flagged for editorial review.

[2021-05-05 14:39] whedon commented on #3253
[code]

[2021-05-05 14:39] whedon commented on #3253
PDF failed to compile for issue #3253 with the following error:
[code]

[2021-05-05 14:40] whedon commented on #3254
PDF failed to compile for issue #3254 with the following error:
[code]

[2021-05-05 14:40] kthyng commented on #3250
Hi @nishanmudalige and thanks for your submission. I have instigated a scope query due to the relatively small size of the code, which will in turn ping the editorial board to take a look and see if it is in scope. This will take 1-2 weeks. In the meantime, I see your submission note about a conference paper. Can you specify what topic the conference paper covers? Is it about the code itself?

[2021-05-05 14:40] whedon commented on #3254
[code]

[2021-05-05 14:44] kthyng commented on #3251
Note that this is a resubmission of #2840.

[2021-05-05 14:50] kthyng commented on #3251
Hi @ad48 and thanks for your submission. Unfortunately I've needed to add it to a backlog of submissions since our editors in the relevant areas are overburdened currently. Thank you for your patience. In the meantime, could you take a look at the paper compilation errors?

[2021-05-05 14:55] kthyng commented on #3252
@whedon generate pdf from JOSS_paper

[2021-05-05 14:55] whedon commented on #3252
PDF failed to compile for issue #3252 with the following error:
[code]

[2021-05-05 15:00] yarikoptic commented on #3254
@whedon generate pdf from paper-joss

[2021-05-05 15:01] whedon commented on #3254
PDF failed to compile for issue #3254 with the following error:
[code]

[2021-05-05 15:01] diehlpk commented on #3231
@whedon assign @camillescott as reviewer

[2021-05-05 15:01] whedon commented on #3231
OK, @camillescott is now a reviewer

[2021-05-05 15:02] yarikoptic commented on #3254
@whedon generate pdf from branch paper-joss

[2021-05-05 15:04] whedon commented on #3254
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03254/joss.03254/10.21105.joss.03254.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03254/joss.03254/10.21105.joss.03254.pdf) :page_facing_up: :point_left:

[2021-05-05 15:04] diehlpk commented on #3231
@vijaysm I will wait for a few more days and if I could not find one additional reviewer, I will add you.

[2021-05-05 15:05] kthyng commented on #3252
Hi @eloisabentivegna would you be able to edit this submission?

[2021-05-05 15:06] kthyng commented on #3252
@whedon invite @eloisabentivegna as editor

[2021-05-05 15:06] whedon commented on #3252
@eloisabentivegna has been invited to edit this submission.

[2021-05-05 15:09] kthyng commented on #3253
Hi @koaning and thanks for your submission. Unfortunately we have a backlog of submissions in this area with overburdened editors, so I have added your submission to a waitlist. Thank you for your patience.

[2021-05-05 15:39] arfon commented on #3148
Hi @donaldRwilliams - I'm sorry that this is frustrating, and I understand why you are inclined to compare this submission with #2944. At this point though, the size of submissions (lines of code etc.) not at the core of my outstanding concern here.

My concern at this stage is getting clarity from you on the [question I asked above](https://github.com/openjournals/joss-reviews/issues/3148#issueco

[2021-05-05 15:39] arfon commented on #3249
@JonnyTran - while I check your paper over, please fix the DOIs in your references (noting that Whedon's suggestions are not always right).

[2021-05-05 15:45] arfon commented on #3245
@whedon generate pdf from branch joss_paper

[2021-05-05 15:45] whedon commented on #3245
[code]

[2021-05-05 15:46] arfon commented on #3245
@kthyng - looks like you didn't quite have the syntax of the command correct :-)

[2021-05-05 15:46] whedon commented on #3245
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03245/joss.03245/10.21105.joss.03245.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03245/joss.03245/10.21105.joss.03245.pdf) :page_facing_up: :point_left:

[2021-05-05 15:54] nishanmudalige commented on #3250
Hello Kristen,

Thank you for contacting me about my submission.

The contributed paper I mentioned was based off a poster that I presented for a graduate student poster competition. The paper covers some features of the package that were presented in the poster.

The code submitted to JOSS has been updated since the initial paper was submitted for the conference proceedings due to changes in some

[2021-05-05 16:08] JonnyTran commented on #3249
@whedon generate pdf

[2021-05-05 16:08] kellyrowland commented on #3239
Sure thing!

@whedon assign @kellyrowland as editor

[2021-05-05 16:09] whedon commented on #3249
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03249/joss.03249/10.21105.joss.03249.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03249/joss.03249/10.21105.joss.03249.pdf) :page_facing_up: :point_left:

[2021-05-05 16:14] kellyrowland commented on #3239
@alexmalins do you have any recommended reviewers for this paper?

[2021-05-05 16:16] kellyrowland commented on #3212
Hi @kramea and @neerajdhanraj,

Just dropping a note to check in on review progress for this - if you are unable to review the paper for any reason, please do let me know so that I can find other reviewers. Thanks!

[2021-05-05 16:22] JoelForamitti commented on #3065
Thank you a lot @martibosch, I will start working on a revision now!

[2021-05-05 16:22] jgostick commented on #3045
I'm really sorry about this @kthyng...I will pay more attention in future.  I actually ask Arfon to give whedon a command like 'generate editor checklist'...he seemed to think it was a good idea so we'll see...

[2021-05-05 16:45] benjaminbolling commented on #3246
@majensen Thank you!

[2021-05-05 16:53] IndrajeetPatil commented on #3236
@humanfactors Thanks a lot for your thoughtful feedback!

I have significantly modified the paper and slightly adjusted the package documentation to address your concerns.

I have closed both of the issues you mention. Do not hesitate to open additional issues if you feel there are other points that need to be addressed.

[2021-05-05 16:54] sibirrer commented on #3252
Hi JOSS editors!

The paper is in the branch JOSS_paper (I somehow could not indicate this on the submission form/was rejected as not a clone-able project). I may have mis-clicked on the suggested editor form. I am happy with any editor.

For reviewers, when reading from bottom to top of the file, I can identify two lensing experts:
coljac
smsharma

and in addition those people with coding and ast

[2021-05-05 16:58] tomfaulkenberry commented on #3236
@IndrajeetPatil I will get my review done before the end of the week...just wanted to let you know that it is on my to-do list. :)

[2021-05-05 16:59] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:00] whedon commented on #3246
PDF failed to compile for issue #3246 with the following error:
[code]

[2021-05-05 17:02] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:03] whedon commented on #3246
PDF failed to compile for issue #3246 with the following error:
[code]

[2021-05-05 17:05] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:06] whedon commented on #3246
PDF failed to compile for issue #3246 with the following error:
[code]

[2021-05-05 17:07] IndrajeetPatil commented on #3236
@tomfaulkenberry Thanks for letting me know! No hurry :)

[2021-05-05 17:07] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:08] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 17:18] benjaminbolling commented on #3246
@whedon commands

[2021-05-05 17:18] whedon commented on #3246
Here are some things you can ask me to do:

[code]

[2021-05-05 17:19] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:19] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 17:27] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:28] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 17:31] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:32] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 17:33] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:34] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 17:37] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:37] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 17:41] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:41] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 17:44] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 17:44] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 17:45] whedon commented on #3199
:wave: @kburns, please update us on how your review is going (this is an automated reminder).

[2021-05-05 17:45] whedon commented on #3199
:wave: @milescranmer, please update us on how your review is going (this is an automated reminder).

[2021-05-05 17:55] Kevin-Mattheus-Moerman commented on #2885
@whedon add @vissarion as reviewer

[2021-05-05 17:55] whedon commented on #2885
OK, @vissarion is now a reviewer

[2021-05-05 17:57] Kevin-Mattheus-Moerman commented on #2885
@whedon add  @bhajay as reviewer

[2021-05-05 17:57] whedon commented on #2885
OK,  @bhajay is now a reviewer

[2021-05-05 17:57] Kevin-Mattheus-Moerman commented on #2885
@whedon start review

[2021-05-05 17:57] whedon opened #3255 "[REVIEW]: Easy3D: a lightweight, easy-to-use, and efficient C++ library for processing and rendering 3D data"
**Submitting author:** @LiangliangNan (<a href="http://orcid.org/0000-0002-5629-9975">Liangliang Nan</a>)
**Repository:** <a href="https://github.com/LiangliangNan/Easy3D" target ="_blank">https://github.com/LiangliangNan/Easy3D</a>
**Version:** v2.4.5
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @adi3, @vissarion, @bhajay
**Archive:** <a href="https://doi.org/10.5281/zenodo.4967311" target="

[2021-05-05 17:57] whedon commented on #2885
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3255.

[2021-05-05 17:57] #2885 closed

[2021-05-05 17:57] whedon commented on #3255
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adi3, @vissarion, @ @bhajay it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-05-05 17:58] whedon commented on #3255
PDF failed to compile for issue #3255 with the following error:
[code]

[2021-05-05 17:58] Kevin-Mattheus-Moerman commented on #3255
@whedon re-invite @bhajay as reviewer

[2021-05-05 17:58] whedon commented on #3255
OK, the reviewer has been re-invited.

@bhajay please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-05 17:59] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 18:00] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 18:01] whedon commented on #3255
[code]

[2021-05-05 18:03] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 18:04] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 18:05] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 18:06] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 18:08] MilesCranmer commented on #3199
Planning on sharing my initial comments by this weekend!

Cheers,
Miles

[2021-05-05 18:08] adi3 commented on #2990
@sdmccabe I'm juggling with a few things right now so I'll move forward with my review in a couple of weeks. Sorry for the delay!

[2021-05-05 18:35] kthyng commented on #3245
Gah! I think I have these errors all over today. Thanks.

[2021-05-05 18:39] kthyng commented on #3045
@jgostick No worries! I would like there to be an auto check for the check list myself.

Thanks all! I think all the nooks and crannies are covered now.

Congrats on your new publication @JohannesBuchner and thanks to editor @jgostick and reviewers @cescalara and @grburgess for your hard work and expertise!!

[2021-05-05 18:39] #3045 closed

[2021-05-05 18:39] whedon commented on #3045
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03045/status.svg)](https://doi.org/10.21105/joss.03045)

**We need your help!**

Journal of Open Source Softwa

[2021-05-05 18:40] kthyng commented on #3252
@whedon generate pdf from branch JOSS_paper

[2021-05-05 18:40] whedon commented on #3252
[code]

[2021-05-05 18:41] whedon commented on #3252
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03252/joss.03252/10.21105.joss.03252.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03252/joss.03252/10.21105.joss.03252.pdf) :page_facing_up: :point_left:

[2021-05-05 19:04] sibirrer commented on #3252
@whedon generate pdf from branch JOSS_paper

[2021-05-05 19:04] whedon commented on #3252
[code]

[2021-05-05 19:06] whedon commented on #3252
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03252/joss.03252/10.21105.joss.03252.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03252/joss.03252/10.21105.joss.03252.pdf) :page_facing_up: :point_left:

[2021-05-05 19:07] sibirrer commented on #3252
I just made minor changes to the manuscript and this version is ready to go for review

[2021-05-05 19:15] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 19:15] Kevin-Mattheus-Moerman commented on #3255
@whedon generate pdf from branch joss

[2021-05-05 19:15] whedon commented on #3255
[code]

[2021-05-05 19:16] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 19:17] whedon commented on #3255
PDF failed to compile for issue #3255 with the following error:
[code]

[2021-05-05 19:20] Kevin-Mattheus-Moerman commented on #3255
@openjournals/dev can you see what's wrong here :pointup:

[2021-05-05 19:59] yarikoptic commented on #3254
Just to help to get the ball rolling -- potential reviewers (from the given list) which might be interested: aaronpeikert, peterakirk, williamfgc, csadorf, szorowi1

[2021-05-05 20:19] whedon opened #3256 "[PRE REVIEW]: exoplanet: Gradient-based probabilistic inference forexoplanet data & other astronomical time series"
**Submitting author:** @dfm (<a href="http://orcid.org/0000-0002-9328-5652">Daniel Foreman-Mackey</a>)
**Repository:** <a href="https://github.com/exoplanet-dev/exoplanet" target ="_blank">https://github.com/exoplanet-dev/exoplanet</a>
**Version:** v0.5.0
**Editor:** @arfon
**Reviewers:** @grburgess, @benjaminpope
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:*

[2021-05-05 20:19] whedon commented on #3256
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-05 20:21] whedon commented on #3256
[code]

[2021-05-05 20:21] whedon commented on #3200
:wave: @BrandonEdwards, please update us on how your review is going (this is an automated reminder).

[2021-05-05 20:21] whedon commented on #3200
:wave: @puruckertom, please update us on how your review is going (this is an automated reminder).

[2021-05-05 20:21] whedon commented on #3256
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03256/joss.03256/10.21105.joss.03256.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03256/joss.03256/10.21105.joss.03256.pdf) :page_facing_up: :point_left:

[2021-05-05 20:21] whedon commented on #3256
[code]

[2021-05-05 20:31] whedon commented on #3201
:wave: @marypiper, please update us on how your review is going (this is an automated reminder).

[2021-05-05 20:54] dfm commented on #3256
Potential reviewers from the list include `nespinoza`, `benjaminpope`, `jbrande`, `grburgess`, and `hpparvi`.

[2021-05-05 21:02] arfon commented on #3255
@whedon generate pdf from branch joss

[2021-05-05 21:03] whedon commented on #3255
[code]

[2021-05-05 21:03] benjaminbolling commented on #3246
Hi all, sorry for the spamming...

[2021-05-05 21:03] benjaminbolling commented on #3246
@whedon generate pdf

[2021-05-05 21:06] whedon commented on #3246
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03246/joss.03246/10.21105.joss.03246.pdf) :page_facing_up: :point_left:

[2021-05-05 21:06] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-05-05 21:38] kellyrowland commented on #3239
@whedon assign @kellyrowland as editor

[2021-05-05 21:38] whedon commented on #3239
OK, the editor is @kellyrowland

[2021-05-05 22:16] ateucher commented on #2927
@whedon generate pdf from branch joss

[2021-05-05 22:16] mbobra commented on #3174
@kelseymh If you're close collaborators, I think it violates the COI. If you appear together on papers or are equal parts of a very large collaboration, then that's okay. Does this help, or is it still a bit vague?

cc @villaa

[2021-05-05 22:16] whedon commented on #2927
[code]

[2021-05-05 22:17] whedon commented on #2927
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02927/joss.02927/10.21105.joss.02927.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02927/joss.02927/10.21105.joss.02927.pdf) :page_facing_up: :point_left:

[2021-05-05 22:18] mbobra commented on #2964
@whedon set 10.5281/zenodo.4734283 as archive

[2021-05-05 22:18] whedon commented on #2964
OK. <a href="https://doi.org/10.5281/zenodo.4734283" target="_blank">10.5281/zenodo.4734283</a> is the archive.

[2021-05-05 22:19] mbobra commented on #2964
@whedon set v2.1.0 as version

[2021-05-05 22:19] whedon commented on #2964
OK. v2.1.0 is the version.

[2021-05-05 22:20] mbobra commented on #2964
@whedon accept

[2021-05-05 22:20] whedon commented on #2964
[code]

[2021-05-05 22:20] whedon commented on #2964
[code]

[2021-05-05 22:21] whedon commented on #2964
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2281

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2281, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-05 22:54] mbobra commented on #3195
@ConorMacBride I'm still working on finding a second reviewer!

[2021-05-05 23:01] kelseymh commented on #3174
@mbobra CDMS is a "large" collaboration by other science's standards, but we're fairly small in high energy physics, only about 100 people.  Anthony and I have worked together as part of the overal Simulations Working Group within CDMS, but we have only directly collaborated (in the vernacular) on getting the simulation geometry correct for the detector.  In particular, I wasn't involved at all on

[2021-05-05 23:11] whedon commented on #3202
:wave: @a-paxton, please update us on how your review is going (this is an automated reminder).

[2021-05-05 23:11] whedon commented on #3202
:wave: @abigailmcgovern, please update us on how your review is going (this is an automated reminder).

[2021-05-05 23:25] alexmalins commented on #3239
Thanks @kellyrowland & @kthyng /

I suggest Anthony Scopatz (@scopatz) & Björn Dahlgren (@bjodah) as potential reviewers.

[2021-05-06 00:56] PhilBoileau commented on #3235
@whedon generate pdf

[2021-05-06 00:57] whedon commented on #3235
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03235/joss.03235/10.21105.joss.03235.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03235/joss.03235/10.21105.joss.03235.pdf) :page_facing_up: :point_left:

[2021-05-06 01:23] charleygros commented on #2868
@cMadan: Any idea how we can help Google Scholar to reference the JOSS paper? They found the arxiv version but not the JOSS one. Cheers

[2021-05-06 01:30] mbobra commented on #3174
@kelseymh You can proceed as a reviewer. I very much appreciate your open disclosure. This is a common situation for either large scientific collaborations or large open source scientific software packages (that is, packages with many contributors) and there is precedent for this level of collaboration between a reviewer and submitting author.

[2021-05-06 01:33] mbobra commented on #2964
@bauer-alex You finally made it! Thank you for your extraordinary patience -- I know you waited nearly half a year. I am sorry it took so long but I hope you're happy with the final result ☀️

[2021-05-06 01:45] boshek commented on #2927
@whedon generate pdf from branch joss

[2021-05-06 01:45] whedon commented on #2927
[code]

[2021-05-06 01:46] whedon commented on #2927
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02927/joss.02927/10.21105.joss.02927.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02927/joss.02927/10.21105.joss.02927.pdf) :page_facing_up: :point_left:

[2021-05-06 03:13] shahmoradi commented on #2741
Here is the DOI (https://zenodo.org/record/4739757#.YJNelqFOnGp):
10.5281/zenodo.4739757
Sincerely,

[2021-05-06 03:14] shahmoradi commented on #2741
@whedon generate pdf

[2021-05-06 03:14] whedon commented on #2741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: :point_left:

[2021-05-06 03:21] nishanmudalige commented on #3250
Open GNU-3 License added to master branch.

[2021-05-06 04:47] bauer-alex commented on #2964
Nice! Happy that everything's done now.
@mbobra @qpmnguyen @g4brielvs Thanks again for all your efforts! :)

[2021-05-06 04:48] humanfactors commented on #3236
@IndrajeetPatil Great revisions!

- I have made a pull request adjusting to double braces for APA reference, which should fix the issue.
- I have one minor concern remaining: https://github.com/IndrajeetPatil/statsExpressions/issues/93#issuecomment-833219105
- I'm still uncertain whether the appendix is required with the examples of function use, given that the material is already contained in the

[2021-05-06 04:54] arokem commented on #3254
@kthyng : I can take this one, unless you have another plan for it. Feel free to assign me.

[2021-05-06 06:02] IndrajeetPatil commented on #3236
Thanks, @humanfactors, for following up on the revision.

I've accepted your PR to fix the citation issue and addressed the minor concern.

As for retaining `Appendix`, I think this is really important. I want the manuscript to be **_self-contained_** and asking the reader to go to README/vignette to see either the code or the `dplyr` example violates this requirement. Let's say, as an unfamiliar

[2021-05-06 06:06] IndrajeetPatil commented on #3236
@whedon generate pdf

[2021-05-06 06:06] whedon commented on #3236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: :point_left:

[2021-05-06 06:09] humanfactors commented on #3236
I actually agree with your logic here, but there is some ambiguity as to how much code can be presented without becoming "API documentation" (which should not be contained in the manuscript according to reviewer guidelines). In this instance, I take your point that it makes the manuscript self-contained and demonstrates the functionality, but I will defer to others (more experienced with JOSS) to

[2021-05-06 06:26] mih commented on #3254
Thx @arokem !

[2021-05-06 07:40] whedon commented on #3203
:wave: @potterzot, please update us on how your review is going (this is an automated reminder).

[2021-05-06 07:40] whedon commented on #3203
:wave: @igarizio, please update us on how your review is going (this is an automated reminder).

[2021-05-06 07:59] eloisabentivegna commented on #3252
@kthyng, I don't have capacity for this one, sorry!

[2021-05-06 08:06] Kevin-Mattheus-Moerman commented on #3256
@xuanxu would you be able to edit this submission? If you need time to wrap up the other submissions you are handling first I can waitlist this for now. Also @arfon you were suggested as editor I believe. However since you have a lot on your plate I take it you cannot take this on too?

[2021-05-06 08:09] Kevin-Mattheus-Moerman commented on #3254
@whedon assign @arokem as editor

[2021-05-06 08:09] whedon commented on #3254
OK, the editor is @arokem

[2021-05-06 08:14] VivianePons commented on #2741
Hi @shahmoradi it looks like you have archived the wrong thing. I see only the pdf paper and not the whole software repo.

[2021-05-06 08:42] LangeJens commented on #3210
I merged the pull request, implemented all the changes I listed above, and pushed the changes to the master branch. I also updated the reference in the paper that did not yet have a doi assigned when I submitted.

@AlexChristensen I noticed during testing that setting a seed with set.seed() during parallel computing does not work. I could not find an easy fix online. Do you have a recommendation?

[2021-05-06 08:57] xuanxu commented on #3165
@whedon add @warrickball as reviewer

[2021-05-06 08:57] whedon commented on #3165
OK, @warrickball is now a reviewer

[2021-05-06 09:01] xuanxu commented on #3165
@whedon start review

[2021-05-06 09:01] whedon opened #3257 "[REVIEW]: popsynth: A generic astrophysical population synthesis framework"
**Submitting author:** @grburgess (<a href="http://orcid.org/0000-0003-3345-9515">J. Michael Burgess</a>)
**Repository:** <a href="https://github.com/grburgess/popsynth" target ="_blank">https://github.com/grburgess/popsynth</a>
**Version:** v1.0.3
**Editor:** @xuanxu
**Reviewer:** @HeloiseS, @warrickball
**Archive:** <a href="https://doi.org/10.5281/zenodo.5109590" target="_blank">10.5281/zenodo.

[2021-05-06 09:01] whedon commented on #3165
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3257.

[2021-05-06 09:01] #3165 closed

[2021-05-06 09:01] whedon commented on #3257
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HeloiseS, @warrickball it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-05-06 09:02] whedon commented on #3257
[code]

[2021-05-06 09:02] whedon commented on #3257
[code]

[2021-05-06 09:02] whedon commented on #3257
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03257/joss.03257/10.21105.joss.03257.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03257/joss.03257/10.21105.joss.03257.pdf) :page_facing_up: :point_left:

[2021-05-06 09:39] koaning commented on #3253
No rush.

One question though, this is a package that I maintain personally which means that I don't have a `affiliations` entry. Should I just put in my name here?

[2021-05-06 09:42] vissarion commented on #3066
@whedon check references

[2021-05-06 09:51] ad48 commented on #3251
Hi @kthyng , yes I will take a look. It's odd, we had the same issue last time and it seems to compile ok when we use the tool provided.

[2021-05-06 09:54] vissarion commented on #3066
@whedon check references

[2021-05-06 09:54] vissarion commented on #3066
@whedon check references from branch joss-dev

[2021-05-06 09:54] whedon commented on #3066
[code]

[2021-05-06 09:55] whedon commented on #3066
[code]

[2021-05-06 09:56] vissarion commented on #3066
@robertmartin8 whedon found some missing DOIs couls you please check?

[2021-05-06 09:58] zoometh commented on #3191
@hugoledoux, @fbiljecki: sorry for the delay, I will make the required changes in the very coming days

[2021-05-06 09:58] sadielbartholomew commented on #2766
Thanks for addressing my comments so thoroughly @znicholls. For confirmation that nothing has inadvertently been changed for the worse when making those improvements I have re-read through the paper and made subsequent basic checks on the codebase (re-running the tests locally, eyeballing some core pages of the current documentation etc.) and everything is great with no issues to report at this st

[2021-05-06 10:20] robertmartin8 commented on #3066
@whedon check references from branch joss-dev

[2021-05-06 10:20] whedon commented on #3066
[code]

[2021-05-06 10:21] whedon commented on #3066
[code]

[2021-05-06 10:21] robertmartin8 commented on #3066
@vissarion Fixed!

[2021-05-06 10:22] robertmartin8 commented on #3066
@whedon generate pdf from branch joss-dev

[2021-05-06 10:22] whedon commented on #3066
[code]

[2021-05-06 10:23] whedon commented on #3066
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: :point_left:

[2021-05-06 10:41] robertmartin8 commented on #3066
@vissarion

I made a [tagged release](https://github.com/robertmartin8/PyPortfolioOpt/releases/tag/v1.4.1)  (v1.4.1) and the zenodo DOI is 10.5281/zenodo.4740186.

[2021-05-06 10:41] robertmartin8 commented on #3066
@whedon set 10.5281/zenodo.4740186 as archive

[2021-05-06 10:41] whedon commented on #3066
I'm sorry @robertmartin8, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-05-06 10:44] vissarion commented on #3066
thanks. You have to make sure that the list of authors is the same in the paper and zenodo.

[2021-05-06 10:48] robertmartin8 commented on #3066
@vissarion fixed!

[2021-05-06 11:17] ad48 commented on #3251
I noticed that our affiliation contains an apostrophe. Guessing this is the source of the problem if it's interpreted as a quote. I have now put the affiliation into double quotes to avoid ambiguity. Again, paper appears to compile correctly at https://whedon.theoj.org/ Is there anything more to do just now? Please let me know.

[2021-05-06 11:19] ad48 commented on #3251
@whedon generate pdf

[2021-05-06 11:19] whedon commented on #3251
PDF failed to compile for issue #3251 with the following error:
[code]

[2021-05-06 11:21] ad48 commented on #3251
@whedon generate pdf

[2021-05-06 11:21] whedon commented on #3251
PDF failed to compile for issue #3251 with the following error:
[code]

[2021-05-06 11:23] ad48 commented on #3251
@whedon generate pdf

[2021-05-06 11:23] whedon commented on #3251
PDF failed to compile for issue #3251 with the following error:
[code]

[2021-05-06 11:26] ad48 commented on #3251
@whedon generate pdf

[2021-05-06 11:27] whedon commented on #3251
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03251/joss.03251/10.21105.joss.03251.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03251/joss.03251/10.21105.joss.03251.pdf) :page_facing_up: :point_left:

[2021-05-06 12:06] znicholls commented on #2766
Great thanks for spotting!

[2021-05-06 12:06] znicholls commented on #2766
@whedon generate pdf from branch paper-typos

[2021-05-06 12:07] whedon commented on #2766
[code]

[2021-05-06 12:07] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2021-05-06 12:21] ArneTillmann commented on #3240
@whedon generate pdf

[2021-05-06 12:24] whedon commented on #3240
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03240/joss.03240/10.21105.joss.03240.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03240/joss.03240/10.21105.joss.03240.pdf) :page_facing_up: :point_left:

[2021-05-06 13:06] glyg commented on #2973
Hi @pdebuyl , no news from @SergeDmi ? I'm not sure he reads his notifications

Best
Guillaume

[2021-05-06 13:06] vissarion commented on #3066
@whedon set 10.5281/zenodo.4740186 as archive

[2021-05-06 13:06] whedon commented on #3066
OK. <a href="https://doi.org/10.5281/zenodo.4740186" target="_blank">10.5281/zenodo.4740186</a> is the archive.

[2021-05-06 13:07] vissarion commented on #3066
@whedon set v1.4.1 as version

[2021-05-06 13:07] whedon commented on #3066
OK. v1.4.1 is the version.

[2021-05-06 13:07] vissarion commented on #3066
@whedon generate pdf from branch joss-dev

[2021-05-06 13:07] whedon commented on #3066
[code]

[2021-05-06 13:08] whedon commented on #3066
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: :point_left:

[2021-05-06 13:15] vissarion commented on #3066
@whedon accept

[2021-05-06 13:15] whedon commented on #3066
[code]

[2021-05-06 13:16] whedon commented on #3066
PDF failed to compile for issue #3066 with the following error:
[code]

[2021-05-06 13:21] ArneTillmann commented on #3240
Hi @kthyng thank you very much for your quick feedback! Please note that the size of the python code might appear relatively small, however we tried to write the code as efficient as possible and hence the length might seem quite short. In particular, the abstract scraping uses a new approach that is written in Java Script and requires only little python code. We believe that our package is quite

[2021-05-06 13:33] ankurankan commented on #3115
@whedon generate pdf

[2021-05-06 13:34] whedon commented on #3115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: :point_left:

[2021-05-06 14:01] kthyng commented on #2964
Hi @bauer-alex, I'll be taking over from here! Can you change the title of your Zenodo archive so the title matches your JOSS paper? This isn't required, but it is a preference to be consistent.

[2021-05-06 14:03] kthyng commented on #2964
This is ready for publication once I hear back on that.

[2021-05-06 14:05] kthyng commented on #3066
Hi @omendezmorales! I see one unchecked box in your review above. Can you either check that box because you are satisfied with the software, or raise an issue to address what is incomplete? Thanks!

[2021-05-06 14:06] kthyng commented on #3066
Hi @robertmartin8! Please change the metadata in your Zenodo archive so that the title and author list exactly match your JOSS paper.

[2021-05-06 14:07] rclipp commented on #2555
Hello,

Thanks for your feedback.

The uniqueness is our library lies partially in our license, which is
Apache 2.0. Many of the existing libraries use copy left licenses, which
require the release of all software that uses the library. This is not
amenable to commercial use. Some of the libraries even specifically call
out a that commercial work is not supported. This is what I mean by
flexible.

[2021-05-06 14:20] robertmartin8 commented on #3066
Cheers @kthyng! I've fixed it (I think)

[2021-05-06 14:47] donaldRwilliams commented on #3148
Hmm.

As I have said, there is no duplication.  This is still not entirely clear to me

"How does this submission relate to any other published work about the same method and or software?"

To clarify, I am happy to zoom with you.

The package estimates *6* different kinds of graphical models, and it is the only R package to do so. And there is a need to do so in my field. The methods for estimati

[2021-05-06 14:57] donaldRwilliams commented on #3148
Note also that I mentioned my slight frustration to you in an effort to improve an already great journal. As I mentioned, I have consulted with others that know of my work, who are in the field, etc. and they felt that I should say something as it seemed a bit inconsistent.  But I think perhaps this is due to maybe a lack of clarity arising from not being sure what the other means, etc.

[2021-05-06 15:06] ankurankan commented on #3115
@dfm I think everything looks good now.

[2021-05-06 15:13] omendezmorales commented on #3066
hi  @kthyng ,
Box checked off, I must have forgotten to mark it last time.
Best,

[2021-05-06 15:26] dfm commented on #3115
Awesome - thanks @ankurankan and @eigenfoo!!

@D-K-E: Give me a few days to do some last edits and checks and then I'll have some last steps for you to take before final processing.

[2021-05-06 15:43] kbarnhart commented on #2276
@r-barnes a friendly reminder to revisit your review.

Also a comment to all. I will be in the field all of next week, so will be delayed in my response during that time. I'll address any comments the week of 5/17.

[2021-05-06 15:44] kbarnhart commented on #2276
/ooo May 8 until May 16

[2021-05-06 15:46] kbarnhart commented on #3114
A comment for all: I will be in the field all of next week, so will be delayed in my response between May 8 and May 16. I'll address any comments after I return on May 17.

[2021-05-06 15:46] kbarnhart commented on #3168
A comment for all: I will be in the field all of next week, so will be delayed in my response between May 8 and May 16. I'll address any comments after I return on May 17.

[2021-05-06 16:07] arokem commented on #3254
👋 @csadorf : would you be willing to review this article for JOSS?

[2021-05-06 16:08] arokem commented on #3254
👋 @szorowi1: would you be willing to review this article for JOSS?

[2021-05-06 16:16] whedon commented on #3210
:wave: @donaldRwilliams, please update us on how your review is going (this is an automated reminder).

[2021-05-06 16:21] pibion commented on #2694
@whedon add @tystan as reviewer

[2021-05-06 16:21] whedon commented on #2694
OK, @tystan is now a reviewer

[2021-05-06 16:22] csadorf commented on #3254
Yes, I would be happy to! the only hitch is that I will be on vacation from May 13th until May 28th. What is the expected timeline?

[2021-05-06 16:26] wesleyburr commented on #2694
Hurrah! Thank you, @tystan: we appreciate your service greatly. Hopefully the already-revised package via @jspaezp's feedback will be easy/easier to review than our original.

[2021-05-06 16:38] pibion commented on #2764
@andrewpaulreeves I'm just checking in on your status on starting the review.  Please don't feel rushed - if you have an estimate of when you'll be able to work on this I can set a reminder with whedon.

[2021-05-06 17:03] bauer-alex commented on #2964
@kthyng The title of our Zenodo archive is now updated.

[2021-05-06 18:08] vavrines commented on #2942
@diehlpk
Thanks very much for the continuous support.
If you want I could also recommend some potential reviewers who are working on similar topics on github.

[2021-05-06 18:35] jarvist commented on #2942
I'm on parental leave until May 17th, but can then review this.
We have some partial reviews already? The history ^^^^ was a bit long to skim through!

[2021-05-06 19:02] pdebuyl commented on #2973
Hi @glyg you are right. I sent an email.

[2021-05-06 19:24] diehlpk commented on #2942
Yes, please go ahead.

[2021-05-06 19:25] diehlpk commented on #2942
Cool, I will assign you as the second reviewer. I have one reviewer already.

[2021-05-06 19:26] diehlpk commented on #2942
@whedon add @jarvist as reviewer

[2021-05-06 19:26] whedon commented on #2942
OK, @jarvist is now a reviewer

[2021-05-06 19:26] whedon commented on #3211
:wave: @adi3, please update us on how your review is going (this is an automated reminder).

[2021-05-06 19:26] whedon commented on #3211
:wave: @PierreGuilbertF, please update us on how your review is going (this is an automated reminder).

[2021-05-06 19:30] vavrines commented on #2942
Hi @fverdugo @sloede
Would you be interested and have time review this paper?

[2021-05-06 20:52] kthyng commented on #2964
Looks good! Thank you!

[2021-05-06 20:52] kthyng commented on #2964
@whedon accept deposit=true

[2021-05-06 20:52] whedon commented on #2964
[code]

[2021-05-06 20:53] kthyng commented on #3066
@whedon generate pdf from branch joss-dev

[2021-05-06 20:53] whedon commented on #3066
[code]

[2021-05-06 20:53] whedon commented on #2964
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1390409508472692737) 👈 🐦🐦🐦

[2021-05-06 20:53] whedon commented on #2964
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2282
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02964](https://doi.org/10.21105/joss.02964)
2. If everything look

[2021-05-06 20:54] whedon commented on #3066
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: :point_left:

[2021-05-06 20:54] kthyng commented on #3066
@whedon check references from branch joss-dev

[2021-05-06 20:54] whedon commented on #3066
[code]

[2021-05-06 20:55] whedon commented on #3066
[code]

[2021-05-06 20:59] kthyng commented on #3066
Hi @robertmartin8! Your paper looks great, except the references aren't all properly capitalized. In a quick glance, I saw "python" not capitalized" and "i" not capitalized. Please go through your references in detail and add {} around characters, words, or phrases in which you want to preserve the capitalization. You can re-compile your paper after you've made changes to make sure all the referen

[2021-05-06 21:02] kthyng commented on #3233
Hi @peterakirk and thank you for your submission. Unfortunately the editorial board has determined that it is too small in scope to pass our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) bar. If your software expands in size or is combined with another package, we would be happy to reconsider it in the future. Alternatively, ther

[2021-05-06 21:02] whedon commented on #3233
Paper rejected.

[2021-05-06 21:02] #3233 closed

[2021-05-06 21:03] kthyng commented on #2964
Congrats on your new publication @bauer-alex! Many thanks to editor @mbobra and reviewers @qpmnguyen and @g4brielvs for your time, hard work, and expertise!!

[2021-05-06 21:03] #2964 closed

[2021-05-06 21:03] whedon commented on #2964
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02964/status.svg)](https://doi.org/10.21105/joss.02964)

**We need your help!**

Journal of Open Source Softwa

[2021-05-06 21:15] whedon opened #3258 "[PRE REVIEW]: dataaimsr: An R Client for the Australian Institute of Marine Science Data Platform API which provides easy access to AIMS Data Platform"
**Submitting author:** @dbarneche (<a href="http://orcid.org/0000-0002-4568-2362">Diego Barneche</a>)
**Repository:** <a href="https://github.com/ropensci/dataaimsr" target ="_blank">https://github.com/ropensci/dataaimsr</a>
**Version:** v1.0.3
**Editor:** @kthyng
**Reviewers:** @kthyng
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-05-06 21:15] whedon commented on #3258
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-06 21:15] whedon commented on #3258
Failed to discover a `Statement of need` section in paper

[2021-05-06 21:15] whedon commented on #3258
[code]

[2021-05-06 21:15] kthyng commented on #3258
Already reviewed at [rOpenSci](https://github.com/ropensci/software-review/issues/428).

[2021-05-06 21:16] whedon commented on #3258
[code]

[2021-05-06 21:16] whedon commented on #3258
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03258/joss.03258/10.21105.joss.03258.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03258/joss.03258/10.21105.joss.03258.pdf) :page_facing_up: :point_left:

[2021-05-06 21:16] whedon opened #3259 "[PRE REVIEW]: gamut: A Geospatial Analysis of Multisector Urban Teleconnections"
**Submitting author:** @KristianNelson (<a href="http://orcid.org/0000-0002-6745-167X">Kristian Nelson</a>)
**Repository:** <a href="https://github.com/IMMM-SFA/gamut" target ="_blank">https://github.com/IMMM-SFA/gamut</a>
**Version:** v0.1.0
**Editor:** @KristinaRiemer
**Reviewers:** @fsanchez-trigueros
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-05-06 21:16] whedon opened #3260 "[PRE REVIEW]: ParticleTracker: a gui based particle tracking software"
**Submitting author:** @mikesmithlab (<a href="http://orcid.org/0000-0002-8210-1264">Michael Smith</a>)
**Repository:** <a href="https://github.com/MikeSmithLabTeam/particletracker" target ="_blank">https://github.com/MikeSmithLabTeam/particletracker</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @alexlib, @nkeim, @tacaswell
**Managing EiC:** Kristen Thyng

**:warning:

[2021-05-06 21:16] whedon commented on #3260
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-06 21:16] whedon commented on #3259
[code]

[2021-05-06 21:16] whedon opened #3261 "[PRE REVIEW]: flux-data-qaqc: A Python Package for Energy Balance Closure and Post-Processing of Eddy Flux Data"
**Submitting author:** @JohnVolk (<a href="http://orcid.org/0000-0001-9994-1545">John Volk</a>)
**Repository:** <a href="https://github.com/Open-ET/flux-data-qaqc" target ="_blank">https://github.com/Open-ET/flux-data-qaqc</a>
**Version:** 0.1.5
**Editor:** @pdebuyl
**Reviewers:** @ashwinvis, @dgketchum
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-05-06 21:16] whedon commented on #3261
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-06 21:17] whedon commented on #3259
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03259/joss.03259/10.21105.joss.03259.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03259/joss.03259/10.21105.joss.03259.pdf) :page_facing_up: :point_left:

[2021-05-06 21:17] whedon commented on #3260
[code]

[2021-05-06 21:17] whedon commented on #3259
[code]

[2021-05-06 21:18] whedon commented on #3260
[code]

[2021-05-06 21:19] whedon commented on #3261
[code]

[2021-05-06 21:19] whedon commented on #3261
[code]

[2021-05-06 21:19] whedon commented on #3260
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03260/joss.03260/10.21105.joss.03260.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03260/joss.03260/10.21105.joss.03260.pdf) :page_facing_up: :point_left:

[2021-05-06 21:19] whedon commented on #3261
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03261/joss.03261/10.21105.joss.03261.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03261/joss.03261/10.21105.joss.03261.pdf) :page_facing_up: :point_left:

[2021-05-06 21:20] cMadan commented on #2868
There's nothing for you to specifically do, but this is something we've been working on over the years (see https://github.com/openjournals/joss/issues/130 for some context)

[2021-05-06 21:20] kthyng commented on #3259
Hi @KristianNelson and thanks for your submission! I am going to tag this to query the scope, meaning that the editorial board will be pinged to make sure this is in scope for JOSS, the main question being the size since this is relatively small. This should take 1-2 weeks. Thank you for your patience.

[2021-05-06 21:20] kthyng commented on #3259
@whedon query scope

[2021-05-06 21:20] whedon commented on #3259
Submission flagged for editorial review.

[2021-05-06 21:22] cMadan commented on #3159
@nicholst, do you know when you'll be able to work on this review? Thanks!

[2021-05-06 21:22] whedon commented on #3212
:wave: @kramea, please update us on how your review is going (this is an automated reminder).

[2021-05-06 21:22] whedon commented on #3212
:wave: @neerajdhanraj, please update us on how your review is going (this is an automated reminder).

[2021-05-06 21:29] kthyng commented on #3260
Hi @mikesmithlab and thanks for your submission. I'm adding the "waitlist" label to this because the relevant editors are currently overburdened. Thank you for your patience!

[2021-05-06 21:34] kthyng commented on #3261
Hi @JohnVolk and thanks for your submission. Unfortunately we have a backlog of submissions in this area and our editors are currently overburdened, so I am adding you to the waitlist. Thank you for your patience!

[2021-05-06 21:41] sbenthall commented on #3013
Thank you @Natsiopoulos that's very helpful!

@taqtiqa-mark would you be willing to review this package?

@ha0ye would you be willing to review this package?

[2021-05-06 21:42] sbenthall commented on #3013
@Natsiopoulos are you suggesting that @alexpghayes be asked to review the package for JOSS? In any case, of course you may take additional input from others and @alexpghayes is welcome to use the review issue to provide additional feedback. We will need to keep the official review process focused on the two formally chosen reviewers.

[2021-05-06 22:02] shahmoradi commented on #2741
My apologies. I am not quite familiar with zenodo and other DOI granting websites. I have uploaded the repository to Zenodo. Does this look good? https://zenodo.org/record/4739775#.YJRg26FOnGo

[2021-05-07 01:19] kramea commented on #3212
Hi, I am dealing with a family emergency right now. I cannot review as
promised. Really sorry.

On Wed, May 5, 2021 at 9:16 AM Kelly L. Rowland ***@***.***>
wrote:

[2021-05-07 01:52] JohnVolk commented on #3261
Hi @kthyng thank you, actually my suggested reviewer was supposed to be "usethedata" but I think when I refreshed the page perhaps it defaulted back to "Kevin-Mattheus-Moerman".  After reviewing the list here are other potential reviewers based on their domains:

kramea, tacaswell, desilinguist, Mankoff, amoeba, krother, sgrieve, Chilipp, molgor, josephhardinee, dhhagan, wholmgren, ethan-nelson, r

[2021-05-07 03:11] neerajdhanraj commented on #3212
Dear Kelly,

I am ready with my reviews, but I am not able to tick on the bullets
provided for reviewing the article. Could you please help me out in this
regard?

Best Regards,

*Neeraj Dhanraj Bokde     *
Postdoctoral Researcher

Ph.D., M.E.

*     Aarhus University*

*     Department of Mechanical and Production Engineering*

     Inge Lehmanns Gade 10, Navitas

     8000  Aarhus C

     Denmar

[2021-05-07 03:15] neerajdhanraj commented on #3027
Dear Marcos,

Sorry to see this email in my Spam folder. I know it must be already too
late to respond you. Are you still awaiting for reviews on this paper?

Best Regards,

*Neeraj Dhanraj Bokde     *
Postdoctoral Researcher

Ph.D., M.E.

*     Aarhus University*

*     Department of Mechanical and Production Engineering*

     Inge Lehmanns Gade 10, Navitas

     8000  Aarhus C

     Denmark

Te

[2021-05-07 03:18] potterzot commented on #3203
I had some trouble installing `cartopy` that had to do with depreciated `proj_api.h` files, but I have everything running and should have a review done by the end of next week.

@timtroendle I cannot edit the checklist and it seems my invitation has expired, can you issue another one? Thanks!

[2021-05-07 05:23] arokem commented on #3254
@csadorf : Ideally, we'd like to finish this in a few weeks. Do you think that you will have time for a first round of review before you head out on your vacation?

[2021-05-07 05:23] arokem commented on #3254
:wave: @pibion : would you be willing to review this article for JOSS?

[2021-05-07 05:24] arokem commented on #3254
:wave: @jkanche: would you be willing to review this article for JOSS?

[2021-05-07 05:45] arfon commented on #3256
@whedon assign me as editor

:+1: I can take this.

[2021-05-07 05:45] whedon commented on #3256
OK, the editor is @arfon

[2021-05-07 05:47] arfon commented on #3256
:wave:  @benjaminpope and @grburgess - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_exoplanet: Gradient-based probabilistic inference forexoplanet data & other astronomical time series_](https:

[2021-05-07 05:51] grburgess commented on #3256
@arfon I can review. Cheers.

[2021-05-07 06:13] robertmartin8 commented on #3066
@whedon generate pdf from branch joss-dev

[2021-05-07 06:13] whedon commented on #3066
[code]

[2021-05-07 06:14] whedon commented on #3066
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: :point_left:

[2021-05-07 06:19] robertmartin8 commented on #3066
@kthyng Cheers for the LaTeX tip – didn't know about the curly braces thing!

I've fixed the obvious error and have tried to match the capitalisation of paper titles to that of the actual published articles (though in some cases there is ambiguity and I left it as lower case).

[2021-05-07 07:44] csadorf commented on #3254
@arokem Since this would be my first review for JOSS I am afraid that I might not be able to without comprising due diligence. So unfortunately I have to decline this time. Please feel free to reach out to me again in case that you would still like my input on this particular submission after my return or for similar submissions in the future.

[2021-05-07 07:47] VivianePons commented on #2741
Well, it's a bit weird because now you have the whole thing as a zip. The archive should be a direct copy of the repo, like you did in previous versions for example here: https://zenodo.org/record/4414285#.YJTwMiY69H4

[2021-05-07 08:01] shahmoradi commented on #2741
Could we then use the DOI you mentioned? This is DOI that I generated for the project last year. The new one that is troubling is the one that I tried to generate yesterday. If none work, I will retry fresh. Thank you for your patience.

[2021-05-07 08:23] arfon commented on #3256
@whedon assign @grburgess as reviewer

[2021-05-07 08:23] whedon commented on #3256
OK, @grburgess is now a reviewer

[2021-05-07 08:24] arfon commented on #3256
@grburgess - thanks so much! I would like to wait until I've found a second reviewer here before moving this to the full review issue (with checklists etc.), so please sit tight for a little while.

[2021-05-07 08:25] arfon commented on #3148
That's exactly what I was concerned about but I realize that's not the case now. Thank you for your patience explaining this @donaldRwilliams.

[2021-05-07 08:25] arfon commented on #3148
@whedon assign me as editor

[2021-05-07 08:25] whedon commented on #3148
OK, the editor is @arfon

[2021-05-07 08:27] arfon commented on #3148
@donaldRwilliams - do you know the GitHub handles for these individuals so I can invite them here?

[2021-05-07 08:28] VivianePons commented on #2741
We need a DOI with the current version of the software, including all changes made during the review so we can't use the old one

[2021-05-07 08:39] pnavaro commented on #3077
All issues are fixed. Thanks for your comments @ranocha

[2021-05-07 08:48] vissarion commented on #3077
@pnavaro thanks for the feedback, @ranocha are the unchecked boxes in your review related with the fixed issues?

[2021-05-07 08:51] arfon commented on #3249
@whedon set 10.5281/zenodo.4731011 as archive

[2021-05-07 08:51] whedon commented on #3249
OK. <a href="https://doi.org/10.5281/zenodo.4731011" target="_blank">10.5281/zenodo.4731011</a> is the archive.

[2021-05-07 08:51] arfon commented on #3249
@whedon accept

[2021-05-07 08:51] whedon commented on #3249
[code]

[2021-05-07 08:52] whedon commented on #3249
PDF failed to compile for issue #3249 with the following error:
[code]

[2021-05-07 08:52] whedon commented on #3249
[code]

[2021-05-07 08:57] arfon commented on #3249
@JonnyTran - looks like your BibTeX file doesn't have a `wolf2018scanpy` entry. Could you take a look?

[2021-05-07 08:59] arfon commented on #2868
@charleygros - as far as I am aware, Scholar _does_ index JOSS these days, but it's possible this happens less frequently than the arXiv?

[2021-05-07 09:01] arfon commented on #3196
👋 @sneakers-the-rat @hadware @peircej - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_S(ound)lab: A teaching-oriented Python package for designing and running psychoacoustic experiments_]

[2021-05-07 09:06] drcandacemakedamoore commented on #3232
I will check the MISSING DOIs, and try to update them today. There is no missing affiliation, Oleg Sivokon's affiliation is left blank, as he requested.

[2021-05-07 10:22] ranocha commented on #3077
Yes, they are. Thanks!

[2021-05-07 10:52] vissarion commented on #3077
Could you please check them off to have a 100% complete review?

[2021-05-07 10:53] vissarion commented on #3077
@whedon generate pdf

[2021-05-07 10:53] whedon commented on #3077
PDF failed to compile for issue #3077 with the following error:
[code]

[2021-05-07 10:53] vissarion commented on #3077
@whedon generate pdf from branch paper

[2021-05-07 10:53] whedon commented on #3077
[code]

[2021-05-07 10:54] whedon commented on #3077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: :point_left:

[2021-05-07 10:54] vissarion commented on #3077
@whedon check references from branch paper

[2021-05-07 10:54] whedon commented on #3077
[code]

[2021-05-07 10:54] whedon commented on #3077
[code]

[2021-05-07 11:01] vissarion commented on #3077
@pnavaro whedon found some missing DOIs (see above). Is this possible to fix?

[2021-05-07 11:36] llrs commented on #3214
Hi @arfon, I know JOSS is in reduced service mode and I am not in any hurry, but do you have any update on the scope of the article? Many thanks for providing these resource to the developers and looking forward to its success.

[2021-05-07 12:13] zoometh commented on #3191
@hugoledoux:

We have made the required changes. The R package iconr is the first software that gives a parsimonious manner to model 'graphical units' and 'graphical compositions'. And, as a consequence, that permits to conduct cross-cultural and over the long-term comparisons with a minimal loss of information. Since not such a tool exists before, we insist on the theoretical background and the h

[2021-05-07 12:42] VivianePons commented on #2946
@whedon add @5998 as reviewer

[2021-05-07 13:07] pnavaro commented on #3077
@whedon generate pdf from branch paper

[2021-05-07 13:07] whedon commented on #3077
[code]

[2021-05-07 13:07] pnavaro commented on #3077
@whedon check references from branch paper

[2021-05-07 13:07] whedon commented on #3077
[code]

[2021-05-07 13:08] whedon commented on #3077
[code]

[2021-05-07 13:08] whedon commented on #3077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03077/joss.03077/10.21105.joss.03077.pdf) :page_facing_up: :point_left:

[2021-05-07 13:55] donaldRwilliams commented on #3210
@karthik I will do this review over the weekend. Apologies on the delay.

[2021-05-07 13:57] donaldRwilliams commented on #3148
Thank you as well for working through this with me. I realize now that I was not clear about what the package did, etc.

Anyhow, here is another reviewer.

@AlexChristensen

And also

@paytonjjones

If those do not work out, I can provide some others.

[2021-05-07 14:06] vissarion commented on #3077
At this points @pnavaro I would like to ask you to make a tagged release and an archive (e.g. zenodo) and share the links in this thread.

[2021-05-07 14:21] 5998 commented on #2946
@whedon generate pdf from branch joss

[2021-05-07 14:22] whedon commented on #2946
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: :point_left:

[2021-05-07 14:24] 5998 commented on #2946
@whedon list editors

[2021-05-07 14:24] kthyng commented on #3127
Hi @tyronerees just a gentle ping that we are waiting on you here.

[2021-05-07 14:25] 5998 commented on #2946
@whedon check references

[2021-05-07 14:25] kthyng commented on #2842
@pdebuyl Looks like this is almost finished! What is the status here?

[2021-05-07 14:40] 5998 commented on #2946
@whedon check references

[2021-05-07 15:07] dmey commented on #2863
@oliviaguest thanks! I should be able to get the final missing DOI for the accepted paper cited here in a few weeks -- would it be OK to wait till then so that can amend the reference list accordingly?

[2021-05-07 15:22] danielskatz commented on #3143
Sorry for the delay - I've been on vacation

@nkallima - can you update us on your response to @jarrah42's comments/requests?

[2021-05-07 15:23] danielskatz commented on #3211
👋 @adi3 & @PierreGuilbertF - how are your reviews going?

[2021-05-07 15:49] khinsen commented on #3224
@dhhagan After a first look at the paper and the software, I wonder what exactly JOSS expects me to do to "confirm the functional claims of the software".

The claim is basically that the program "creates and solves a system of coupled Ordinary Differential Equations (ODEs) to progress indoor atmospheric chemical species concentrations through time." Looking at the code suggests that it does indee

[2021-05-07 15:59] poulson commented on #3082
@whedon set  10.5281/zenodo.3699578 as archive

[2021-05-07 15:59] whedon commented on #3082
OK. <a href="https://doi.org/10.5281/zenodo.3699578" target="_blank">10.5281/zenodo.3699578</a> is the archive.

[2021-05-07 16:00] poulson commented on #3082
@whedon accept

[2021-05-07 16:00] whedon commented on #3082
[code]

[2021-05-07 16:00] whedon commented on #3082
[code]

[2021-05-07 16:00] whedon commented on #3082
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2283

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2283, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-07 16:10] arokem commented on #3254
@whedon assign @jkanchee as reviewer

[2021-05-07 16:10] whedon commented on #3254
OK, @jkanchee is now a reviewer

[2021-05-07 16:10] arokem commented on #3254
@whedon add @szorowi1 as reviewer

[2021-05-07 16:10] whedon commented on #3254
OK, @szorowi1 is now a reviewer

[2021-05-07 16:11] arokem commented on #3254
@whedon commands

[2021-05-07 16:12] arokem commented on #3254
@whedon start review

[2021-05-07 16:12] whedon opened #3262 "[REVIEW]: DataLad: distributed system for joint management of code, data, and their relationship"
**Submitting author:** @yarikoptic (<a href="http://orcid.org/0000-0003-3456-2493">Yaroslav Halchenko</a>)
**Repository:** <a href="https://github.com/datalad/datalad" target ="_blank">https://github.com/datalad/datalad</a>
**Version:** 0.14.3
**Editor:** @arokem
**Reviewer:** @szorowi1, @jkanche
**Archive:** <a href="https://doi.org/10.5281/zenodo.5034875" target="_blank">10.5281/zenodo.5034875</

[2021-05-07 16:12] whedon commented on #3254
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3262.

[2021-05-07 16:12] #3254 closed

[2021-05-07 16:13] whedon commented on #3262
PDF failed to compile for issue #3262 with the following error:
[code]

[2021-05-07 16:13] arokem commented on #3254
OK, @jkanche and @szorowi1 : with that typo now fixed (sorry about that!), I think that you can head over to #3262 for the review.

[2021-05-07 16:14] whedon commented on #3262
[code]

[2021-05-07 16:15] arokem commented on #3262
Question for @yarikoptic and @mih: I see that you are both "co-first author", but one of you is also the last author. I am not sure how that's supposed to work. Could you please explain what you intended here?

[2021-05-07 16:30] hadware commented on #3196
Definitely! This looks like a very interesting package to review.

[2021-05-07 16:47] kthyng commented on #3066
@robertmartin8 Excellent, thanks! We can proceed now.

[2021-05-07 16:48] kthyng commented on #3066
@whedon accept deposit=True  from branch joss-dev

[2021-05-07 16:48] whedon commented on #3066
[code]

[2021-05-07 16:48] whedon commented on #3066
PDF failed to compile for issue #3066 with the following error:
[code]

[2021-05-07 16:51] kthyng commented on #3082
Hi @vprusso! Can I verify what the current version of your software associated with this JOSS publication is? Also, I see you included a Zenodo archive above but given that it is from March 2020, I'm thinking the software has changed since then. Can you make a Zenodo archive for the software as it stands? This will be associated with your publication. Also, please alter the metadata of the Zenodo

[2021-05-07 16:55] kthyng commented on #3066
@whedon accept from branch joss-dev

[2021-05-07 16:55] whedon commented on #3066
[code]

[2021-05-07 16:56] whedon commented on #3066
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2284

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2284, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-07 16:57] whedon commented on #3066
[code]

[2021-05-07 16:58] whedon commented on #3066
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1390712639223894020) 👈 🐦🐦🐦

[2021-05-07 16:58] whedon commented on #3066
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2285
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03066](https://doi.org/10.21105/joss.03066)
2. If everything look

[2021-05-07 17:14] tkonolige commented on #3125
@whedon check references

[2021-05-07 17:14] whedon commented on #3125
[code]

[2021-05-07 17:17] drcandacemakedamoore commented on #3232
I see it makes problems to leave an affiliation blank. I have added one and fixed the other problems. I have edited the DOIs in the bib file, and recompiled the paper without problems on the Whedon paper preview service.

[2021-05-07 17:26] drcandacemakedamoore commented on #3232
This is just a message to let you know that I think I fixed the problems
with the submission.
I see it made problems to leave an affiliation blank so we have added one
for Oleg Sivokon. I have edited the DOIs in the bib file, and recompiled
the paper without problems on the Whedon paper preview service.
Please let me know if there is human who sees this email.
Dr. Candace Makeda Moore, MD

On Sat,

[2021-05-07 17:59] jgostick commented on #3232
Hi @drcandacemakedamoore...github puts your email into the issue thread, so is shows up here.

FYI, we have 'flagged' your submission for editorial review, which means the editors are deciding if it meets the threshold in terms of size and effort.  (We need to screen out small packages that are just a few functions.)  It seems that your package is a bit borderline in terms of size. 700 lines of Py

[2021-05-07 18:31] omendezmorales commented on #3066
honored to have contributed to the revision process. Kudos to  @kthyng , @vissarion , @SteveDiamond , and of course, to the author, @robertmartin8 !  🎉

[2021-05-07 18:31] #3066 closed

[2021-05-07 18:31] whedon commented on #3066
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03066/status.svg)](https://doi.org/10.21105/joss.03066)

**We need your help!**

Journal of Open Source Softwa

[2021-05-07 18:38] yarikoptic commented on #3262
"Contributed equally" would be more appropriate indeed given current authors ordering.  Can/should we adjust manuscript and re-render here right away?

[2021-05-07 18:44] robertmartin8 commented on #3066
Thanks so much everyone! I really appreciate the time you put in 🙏

[2021-05-07 18:44] arfon commented on #3148
:wave: @AlexChristensen and @paytonjjones - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_GGMnonreg: Non-Regularized Gaussian Graphical Models_](https://github.com/donaldRwilliams/GGMnonreg).

[2021-05-07 18:58] yarikoptic commented on #3262
cool, so we don't forget I just committed/pushed to the [original repo](http://github.com/datalad/datalad-paper-joss) for now

[2021-05-07 19:04] pdebuyl commented on #2842
@kthyng it is now up to me to complete the editorial work. I'll be on it next week or in a week in the worst case.

[2021-05-07 19:04] JonnyTran commented on #3249
Oops, I've missed those DOIs. I've just fixed them.

[2021-05-07 19:31] chrisbrunsdon commented on #3148
Is it possible to remove me from this? I now have 13000 or so emails in mail box and only around 300 not openjournals/jossreviews related...

Sent from my iPhone

[2021-05-07 19:51] adi3 commented on #3211
@danielskatz I'm juggling with a few things right now so I'll move forward with my review in a couple of weeks. Sorry for the delay!

[2021-05-07 19:55] majensen commented on #3173
@rvosa - how is your progress on this review? Just let me know timing expectations if you can
thanks!

[2021-05-07 19:58] ViniciusBRodrigues commented on #3220
Hi @marcosvital I thought that I have accepted the invitation here, but when I clicked in the link I received: "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

Could you check it please?

[2021-05-07 21:16] dhhagan commented on #2942
@diehlpk I'm a bit busy with editing right now to take on any reviews, unfortunately. Sorry!

[2021-05-07 21:28] whedon commented on #3215
:wave: @marouenbg, please update us on how your review is going (this is an automated reminder).

[2021-05-07 22:02] kthyng commented on #3066
Congrats on your new publication @robertmartin8! Many thanks to editor @vissarion and reviewers @omendezmorales and @SteveDiamond for your time, hard work, and expertise!

[2021-05-07 22:02] kthyng commented on #3258
@whedon assign me as editor

[2021-05-07 22:02] whedon commented on #3258
OK, the editor is @kthyng

[2021-05-07 22:03] kthyng commented on #3258
Hi @dbarneche! I'll start processing your submission next week. It should go pretty quickly since it's already reviewed! Please do note that you'll need a section of your paper with the name "Statement of Need" to meet our paper requirements.

[2021-05-07 22:08] kthyng commented on #3204
@whedon assign @timtroendle as editor

[2021-05-07 22:08] whedon commented on #3204
OK, the editor is @timtroendle

[2021-05-07 22:08] whedon opened #3263 "[PRE REVIEW]: demographicx: A Python package for estimating gender and ethnicity using deep learning transformers"
**Submitting author:** @daniel-acuna (<a href="http://orcid.org/0000-0002-7765-1595">Daniel E. Acuna</a>)
**Repository:** <a href="https://github.com/sciosci/demographicx" target ="_blank">https://github.com/sciosci/demographicx</a>
**Version:** 0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-05-07 22:08] whedon commented on #3263
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-07 22:08] whedon opened #3264 "[PRE REVIEW]: PyOMA: A Python module for Operational Modal Analysis"
**Submitting author:** @dagghe (<a href="http://orcid.org/0000-0002-3830-2835">Dag</a>)
**Repository:** <a href="https://github.com/dagghe/PyOMA" target ="_blank">https://github.com/dagghe/PyOMA</a>
**Version:** v.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is

[2021-05-07 22:09] whedon commented on #3264
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-07 22:09] whedon commented on #3263
[code]

[2021-05-07 22:09] whedon commented on #3263
[code]

[2021-05-07 22:10] whedon commented on #3264
[code]

[2021-05-07 22:10] whedon commented on #3263
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03263/joss.03263/10.21105.joss.03263.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03263/joss.03263/10.21105.joss.03263.pdf) :page_facing_up: :point_left:

[2021-05-07 22:10] whedon commented on #3264
[code]

[2021-05-07 22:11] whedon commented on #3264
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03264/joss.03264/10.21105.joss.03264.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03264/joss.03264/10.21105.joss.03264.pdf) :page_facing_up: :point_left:

[2021-05-07 22:13] kthyng commented on #3263
Hi @daniel-acuna and thanks for your submission. Unfortunately, it is too small to be in scope for JOSS. Please read through our guidelines for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). Though the number of lines of code is not a perfect metric by which to judge software, we have decided that <300 lines of code is too few to

[2021-05-07 22:13] kthyng commented on #3263
@whedon reject

[2021-05-07 22:13] whedon commented on #3263
Paper rejected.

[2021-05-07 22:13] #3263 closed

[2021-05-07 22:14] kthyng commented on #3264
@whedon query scope

[2021-05-07 22:14] whedon commented on #3264
Submission flagged for editorial review.

[2021-05-07 22:15] kthyng commented on #3264
Hi @dagghe and thanks for your submission! I have applied the "query-scope" label which pings our editorial board to make sure that this submission is in scope. I did this because it's on the small size. This process should take 1-2 weeks. Thanks for your patience!

[2021-05-07 22:19] kthyng commented on #3183
Hi @JeanBilheux! The editorial board has decided that this submission is in scope for us, though the argument for this being research software should be improved in your paper, as part of the review process. So, I have removed the "query-scope" label. Unfortunately, we have a backlog of submissions currently in this area with overburdened editors so I will add you to the backlog with the "waitlist

[2021-05-07 22:20] mbobra commented on #3195
@whedon add @Goobley as reviewer

[2021-05-07 22:20] whedon commented on #3195
OK, @Goobley is now a reviewer

[2021-05-07 22:21] mbobra commented on #3195
@whedon start review

[2021-05-07 22:21] whedon opened #3265 "[REVIEW]: MCALF: Multi-Component Atmospheric Line Fitting"
**Submitting author:** @ConorMacBride (<a href="http://orcid.org/0000-0002-9901-8723">Conor MacBride</a>)
**Repository:** <a href="https://github.com/ConorMacBride/mcalf" target ="_blank">https://github.com/ConorMacBride/mcalf</a>
**Version:** v0.2.1
**Editor:** @mbobra
**Reviewer:** @mgalloy, @Goobley
**Archive:** <a href="https://doi.org/10.5281/zenodo.4767888" target="_blank">10.5281/zenodo.476

[2021-05-07 22:21] whedon commented on #3195
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3265.

[2021-05-07 22:21] #3195 closed

[2021-05-07 22:21] whedon commented on #3265
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgalloy, @Goobley it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-05-07 22:21] whedon commented on #3265
[code]

[2021-05-07 22:21] whedon commented on #3265
[code]

[2021-05-07 22:22] mbobra commented on #3195
@mgalloy @Goobley See you over in #3265!

[2021-05-07 22:22] whedon commented on #3265
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03265/joss.03265/10.21105.joss.03265.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03265/joss.03265/10.21105.joss.03265.pdf) :page_facing_up: :point_left:

[2021-05-07 22:24] kthyng commented on #3207
@whedon reject

[2021-05-07 22:24] whedon commented on #3207
Paper rejected.

[2021-05-07 22:24] #3207 closed

[2021-05-07 22:35] alexpghayes commented on #3013
I can't review at the moment, but the package looks interesting! Good luck!

[2021-05-07 23:37] dbarneche commented on #3258
Hi @kthyng ! Thank you very much for acting as Editor.
Also thanks for flagging the structural issue. We currently have a section named [`Background and Statement of need`](https://github.com/ropensci/dataaimsr/blob/master/paper/paper.md#background-and-statement-of-need), should I rename it to `Statement of need` only?
Have a good weekend.

[2021-05-08 00:20] AnestisTouloumis commented on #3235
Thank you for considering me as a reviewer for this paper. Although I am very interested in the topic of the paper, my current workload does not allow me to commit to review this article on time. Apologies for any inconvenience caused.
Best Wishes,
Anestis

[2021-05-08 00:51] danielskatz commented on #3148
@chrisbrunsdon - sorry - please see the instructions in https://github.com/openjournals/joss-reviews/issues/3265#issuecomment-834821098 for how to stop watching this...

[2021-05-08 00:52] whedon commented on #3220
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-08 00:53] danielskatz commented on #3220
@whedon re-invite @ViniciusBRodrigues as reviewer

[2021-05-08 00:53] whedon commented on #3220
OK, the reviewer has been re-invited.

@viniciusbrodrigues please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-08 01:02] galessiorob commented on #2805
@whedon set v1.1 as version

[2021-05-08 01:02] whedon commented on #2805
OK. v1.1 is the version.

[2021-05-08 01:02] galessiorob commented on #2805
@whedon set 10.5281/zenodo.4737729 as archive

[2021-05-08 01:02] whedon commented on #2805
OK. <a href="https://doi.org/10.5281/zenodo.4737729" target="_blank">10.5281/zenodo.4737729</a> is the archive.

[2021-05-08 01:03] galessiorob commented on #2805
@whedon generate pdf

[2021-05-08 01:04] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2021-05-08 01:04] whedon commented on #2805
[code]

[2021-05-08 01:05] whedon commented on #2805
[code]

[2021-05-08 01:07] galessiorob commented on #2805
@fduchatea could you please give this last version a final proofread? An editor in chief will take it from here and get it published now ✨

@jdalzatec, @omshinde, @nuest, @martinfleis MASSIVE THANKS TO YOU ALL! This paper and software went from being good to great, appreciate your time and effort ❤️

[2021-05-08 01:44] shahmoradi commented on #2741
@VivianePons   I think the current zenodo DOI is automatically connected to the latest version of the software. See for example the history of the version of the package on this page: https://zenodo.org/record/4739775#.YJXr9aFOnGr
I can remove the PDF of the paper that I added manually to the zenodo entry yesterday. If this does not help either, then I will create a DOI via figshare or some other

[2021-05-08 03:56] drcandacemakedamoore commented on #3232
I'll adress all your questions in my next correspondance, but can you first just let me know if by the docs you mean the documentation at https://drcandacemakedamoore.github.io/cleanX/ , and what you mean by not rendering well? I put the documentation there (https://drcandacemakedamoore.github.io/cleanX/ ) due to some technical issues with readthedocs which made it not render on readthedocs.

[2021-05-08 07:37] arfon commented on #3249
@whedon accept

[2021-05-08 07:37] whedon commented on #3249
[code]

[2021-05-08 07:39] whedon commented on #3249
[code]

[2021-05-08 07:52] arfon commented on #3249
@JonnyTran - please merge this PR which makes a number of small formatting fixes to your paper: https://github.com/BioMeCIS-Lab/OpenOmics/pull/164

Also, please be sure to cite Dask and Pandas in your paper. You can find information on how to cite them here:

- https://docs.dask.org/en/latest/cite.html
- https://pandas.pydata.org/about/citing.html

[2021-05-08 07:53] arfon commented on #3196
Great, thanks @hadware! I'll add you to the review now but won't actually kick off the review process properly until I've identified a second reviewer.

[2021-05-08 07:53] arfon commented on #3196
@whedon add @hadware as reviewer

[2021-05-08 07:54] whedon commented on #3196
OK, @hadware is now a reviewer

[2021-05-08 08:03] arfon commented on #3205
@lmarusich - many thanks for your submission to JOSS. Unfortunately packages such as this that provide a limited GUI wrapper around another tool are generally classified as out of scope for us.

[2021-05-08 08:04] arfon commented on #3205
@whedon reject

[2021-05-08 08:04] whedon commented on #3205
Paper rejected.

[2021-05-08 08:04] #3205 closed

[2021-05-08 08:05] arfon commented on #3222
@definitely-kyle - many thanks for your submission to JOSS. Unfortunately packages such as this that provide a limited GUI wrapper around another tool are generally classified as out of scope for us.

[2021-05-08 08:05] arfon commented on #3222
@whedon reject

[2021-05-08 08:05] nkallima commented on #3143
Hello @danielskatz and @jarrah42,

In the v2.5.0 branch, you can check the latest updates/improvements on the repository. I will release it to the master branch whenever the desired changes/improvements are in a good shape.

Regarding @jarrah42’s comments,

I have added more content in README.md and I have improved some of the content. On how to built the framework you can see more on https://gith

[2021-05-08 08:05] whedon commented on #3222
Paper rejected.

[2021-05-08 08:05] #3222 closed

[2021-05-08 08:10] arfon commented on #3227
@JustGlowing - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code

[2021-05-08 08:10] arfon commented on #3227
@whedon reject

[2021-05-08 08:10] whedon commented on #3227
Paper rejected.

[2021-05-08 08:10] #3227 closed

[2021-05-08 08:13] arfon commented on #2927
@whedon accept from branch joss

[2021-05-08 08:13] whedon commented on #2927
[code]

[2021-05-08 08:13] whedon commented on #2927
[code]

[2021-05-08 08:16] arfon commented on #2927
@whedon accept deposit=true from branch joss

[2021-05-08 08:16] whedon commented on #2927
[code]

[2021-05-08 08:17] whedon commented on #2927
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1390943947397152769) 👈 🐦🐦🐦

[2021-05-08 08:17] whedon commented on #2927
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2289
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02927](https://doi.org/10.21105/joss.02927)
2. If everything look

[2021-05-08 08:21] arfon commented on #2927
@tweed1e, @MilesMcBain - many thanks for your reviews here! JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to do this without you ✨

@boshek - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-08 08:21] #2927 closed

[2021-05-08 08:21] whedon commented on #2927
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02927/status.svg)](https://doi.org/10.21105/joss.02927)

**We need your help!**

Journal of Open Source Softwa

[2021-05-08 08:22] JustGlowing commented on #3227
Hi @arfon thanks for getting back to me. Could you be a little more specific? The link posted reports a list of scholarly efforts, which ones my submission doesn't meet?

[2021-05-08 08:31] arfon commented on #2805
This is looking good folks. Could you please make sure you cite Scikit learn and Numpy here please (and any other software packages you mention)? You can learn how here:

- https://scikit-learn.org/stable/about.html#citing-scikit-learn
- https://numpy.org/citing-numpy/

[2021-05-08 10:55] IndrajeetPatil commented on #3236
@tomfaulkenberry Hi, just wanted to point out that the manuscript has been significantly revised after feedback from @humanfactors, and the most recent version can be found in this comment:

https://github.com/openjournals/joss-reviews/issues/3236#issuecomment-833252916

Just wanted to avoid you reading the older version by accident 😅

[2021-05-08 13:32] vprusso commented on #3082
Hi @kthyng. Excellent points. Let me address those below:

Sure, the current version is `v1.0`

Very good point, I've updated that and have the new Zenodo archive provided here:
https://zenodo.org/record/4743211

Done!

Done and updated in the following commit: https://github.com/vprusso/toqito/commit/648a6164f826760ee775319af8a861e6480f1f1b

Thank you again for all the attention to detail. Do let

[2021-05-08 14:28] rafaelab commented on #3194
Hi @ChrisCFTung,

I completely understand that this breaks previous scripts. I saw @JostMigenda's issue and he recommended what I was going to suggest: that these conventions are kept in mind for future releases, if there are any.

I am aware this is fairly simple, but I think it makes the code more complete and enables easy manipulations of the results as a dictionary.

Having successfully tested

[2021-05-08 15:30] clavigne commented on #3231
sorry for the delay, Ive had a very busy week.

I'd recommend [Johannes Koester](https://github.com/johanneskoester) or someone from his group, [Paolo Di Tommaso](https://github.com/pditommaso) and [Hilary J. Oliver](https://github.com/hjoliver). They are all working on similar codes (inspirations of sort).

Thank you!

[2021-05-08 15:47] marypiper commented on #3201
@whedon commands

On Wed, May 5, 2021 at 4:31 PM whedon ***@***.***> wrote:

[2021-05-08 15:48] marypiper commented on #3201
@whedon commands

[2021-05-08 15:48] whedon commented on #3201
Here are some things you can ask me to do:

[code]

[2021-05-08 15:49] marypiper commented on #3201
@whedon generate pdf

[2021-05-08 15:49] whedon commented on #3201
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03201/joss.03201/10.21105.joss.03201.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03201/joss.03201/10.21105.joss.03201.pdf) :page_facing_up: :point_left:

[2021-05-08 16:08] marypiper commented on #3201
@lpantano, do I comment on small issues with the paper here and larger issues submit an issue and comment here a link to the issue?

[2021-05-08 16:47] JostMigenda commented on #3194
All my comments and issues have been addressed and I'm happy to recommend this paper for publication.

Thanks to @ChrisCFTung and @itaboada for the prompt and helpful responses during the review and congratulations to you and your co-authors!

[2021-05-08 16:54] fboehm commented on #3235
No problem, @AnestisTouloumis - we appreciate the reply. Maybe we can work together on a future submission.

Thanks again!

[2021-05-08 18:07] JonnyTran commented on #3249
Hi Arfon, I've just added pandas and dask citations.

I opted for the bibtex with author names,

  author    = { Matthew Rocklin },
  title     = { Dask: Parallel Computation with Blocked algorithms and Task Scheduling },
  booktitle = { Proceedings of the 14th Python in Science Conference },
  pages     = { 130 - 136 },
  year      = { 2015 },
  editor    = { Kathryn Huff and James Bergstra }
}

[2021-05-08 18:44] whedon commented on #2946
PDF failed to compile for issue #2946 with the following error:
[code]

[2021-05-08 19:27] heshamalsaadi commented on #2946
@whedon accept

[2021-05-08 19:27] whedon commented on #2946
I'm sorry @heshamalsaadi, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-05-08 19:40] 5998 commented on #2946
@whedon generate pdf

[2021-05-08 19:41] whedon commented on #2946
PDF failed to compile for issue #2946 with the following error:
[code]

[2021-05-08 19:46] HeshamAlsaadi commented on #2946
@whedon generate pdf from branch joss

[2021-05-08 19:46] whedon commented on #2946
[code]

[2021-05-08 19:46] whedon commented on #2946
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: :point_left:

[2021-05-08 21:03] isidentical commented on #3223
@Kevin-Mattheus-Moerman what is the process of recommending reviewers? I've gone through the list and found people whose intersection is PLT / Python / Developer Tooling though I don't know whether I should contact them first or write here.

[2021-05-08 22:12] fduchatea commented on #2805
@whedon  generate pdf

[2021-05-08 22:12] whedon commented on #2805
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-08 22:13] fduchatea commented on #2805
@whedon generate pdf

[2021-05-08 23:27] itaboada commented on #3194
Thank you @JostMigenda, @rafaelab

[2021-05-09 05:23] drcandacemakedamoore commented on #3232
We have fixed the rendering of documentation, and tried to take care of not
only all typos, but variable names that contained problematic spelling. Our
interaction with you has certainly raised the quality of what we are
making. You may have noticed we had an open issue around templates. We are
adding functions related to template finding that are much more specific
and complex than simple wrapper

[2021-05-09 06:12] mjsottile commented on #3051
@jason-rumengan I had a short discussion with @arfon (one of the JOSS editors-in-chief), and we believe the package is acceptable for JOSS with respect to effort and scale.  The writeup just needs a little work related to motivating the need and design.

In your statement of need you might point out specific instances of users that are using the tool to justify that there was clearly a need since

[2021-05-09 06:28] mjsottile commented on #3038
@andreasmang apologies for the review stalling out.  I've reached out to the reviewers off of GitHub and if I don't see progress soon I'll be looking for alternative reviewers.

[2021-05-09 11:43] david-barnett commented on #3201
Hi all,

Firstly, many thanks to marypiper and yoonjeongcha for agreeing to review my work :slightly_smiling_face:

Secondly, over the last couple of weeks I have made some, mostly small, changes to microViz in response to user requests and reports, which are listed in the [changelog](https://david-barnett.github.io/microViz/news/index.html)

Should I / can I somehow update the version in Whedon's

[2021-05-09 12:20] tomgrylls commented on #3055
@ashwinvis just confirming that I have now asked Imperial College London library and they are unable to mint DOIs while the thesis is still under embargo, so sadly it will not be possible to add DOIs to those 2 references at this time. Thanks again.

[2021-05-09 12:26] VivianePons commented on #2946
@whedon remove @5998 as reviewer

[2021-05-09 12:26] whedon commented on #2946
OK, @5998 is no longer a reviewer

[2021-05-09 12:27] VivianePons commented on #2946
@whedon add @HeshamAlsaadi as reviewer

[2021-05-09 12:27] whedon commented on #2946
OK, @HeshamAlsaadi is now a reviewer

[2021-05-09 13:05] arfon commented on #3249
@whedon accept

[2021-05-09 13:05] whedon commented on #3249
[code]

[2021-05-09 13:06] whedon opened #3266 "[PRE REVIEW]: JMcDM: A Julia package for multiple-criteria decision-making tools"
**Submitting author:** @jbytecode (<a href="http://orcid.org/0000-0002-9402-1982">Mehmet Hakan Satman</a>)
**Repository:** <a href="https://github.com/jbytecode/JMcDM" target ="_blank">https://github.com/jbytecode/JMcDM</a>
**Version:** v0.1.8
**Editor:** @drvinceknight
**Reviewers:** @brunaw, @sylvaticus
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-05-09 13:06] whedon commented on #3266
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-09 13:06] whedon commented on #3266
[code]

[2021-05-09 13:06] whedon commented on #3249
[code]

[2021-05-09 13:06] whedon commented on #3249
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2290

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2290, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-09 13:06] whedon commented on #3266
[code]

[2021-05-09 13:07] whedon commented on #3266
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03266/joss.03266/10.21105.joss.03266.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03266/joss.03266/10.21105.joss.03266.pdf) :page_facing_up: :point_left:

[2021-05-09 13:07] whedon opened #3267 "[PRE REVIEW]: A C++17 Thread Pool for High-Performance Scientific Computing"
**Submitting author:** @bshoshany (<a href="http://orcid.org/0000-0003-2222-127X">Barak Shoshany</a>)
**Repository:** <a href="https://github.com/bshoshany/thread-pool" target ="_blank">https://github.com/bshoshany/thread-pool</a>
**Version:** v1.5
**Editor:** @gkthiruvathukal
**Reviewers:** @zeroset, @cedricchevalier19
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2021-05-09 13:07] whedon commented on #3267
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-09 13:07] whedon opened #3268 "[PRE REVIEW]: neworder: a dynamic microsimulation framework for python"
**Submitting author:** @virgesmith (<a href="http://orcid.org/0000-0002-9951-6642">Andrew Smith</a>)
**Repository:** <a href="https://github.com/virgesmith/neworder" target ="_blank">https://github.com/virgesmith/neworder</a>
**Version:** 0.3.0
**Editor:** @danielskatz
**Reviewers:** @platipodium, @tresoldi
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-05-09 13:08] whedon commented on #3268
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-09 13:08] whedon commented on #3267
[code]

[2021-05-09 13:08] whedon opened #3269 "[PRE REVIEW]: pySYD: Automated measurements of global asteroseismic parameters"
**Submitting author:** @ashleychontos (<a href="http://orcid.org/0000-0003-1125-2564">Ashley Chontos</a>)
**Repository:** <a href="https://github.com/ashleychontos/pySYD" target ="_blank">https://github.com/ashleychontos/pySYD</a>
**Version:** v0.7.5
**Editor:** @mbobra
**Reviewers:** @danhey, @benjaminpope
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-05-09 13:08] whedon commented on #3269
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-09 13:08] whedon commented on #3267
PDF failed to compile for issue #3267 with the following error:
[code]

[2021-05-09 13:08] whedon commented on #3268
[code]

[2021-05-09 13:09] whedon commented on #3268
[code]

[2021-05-09 13:09] whedon commented on #3268
PDF failed to compile for issue #3268 with the following error:
[code]

[2021-05-09 13:09] arfon commented on #3249
@whedon accept deposit=true

[2021-05-09 13:09] whedon commented on #3249
[code]

[2021-05-09 13:09] whedon commented on #3269
[code]

[2021-05-09 13:09] whedon commented on #3269
[code]

[2021-05-09 13:10] whedon commented on #3269
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03269/joss.03269/10.21105.joss.03269.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03269/joss.03269/10.21105.joss.03269.pdf) :page_facing_up: :point_left:

[2021-05-09 13:10] whedon commented on #3249
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1391380065078874117) 👈 🐦🐦🐦

[2021-05-09 13:10] whedon commented on #3249
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2291
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03249](https://doi.org/10.21105/joss.03249)
2. If everything look

[2021-05-09 13:12] arfon commented on #3267
@whedon query scope

@bshoshany - thanks for your submission to JOSS. As discussed in the earlier scope discussion in https://github.com/openjournals/joss/issues/918, this is a rather small submission for us so we will send this through our internal scope review.

This may take a couple of weeks to complete so thanks for your patience!

[2021-05-09 13:12] whedon commented on #3267
Submission flagged for editorial review.

[2021-05-09 13:13] arfon commented on #3267
@whedon generate pdf from branch paper

[2021-05-09 13:13] whedon commented on #3267
[code]

[2021-05-09 13:13] whedon commented on #3267
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03267/joss.03267/10.21105.joss.03267.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03267/joss.03267/10.21105.joss.03267.pdf) :page_facing_up: :point_left:

[2021-05-09 13:14] arfon commented on #3249
@JonnyTran - thanks for your submission to JOSS. Your paper is now accepted and published :zap::rocket::boom:

[2021-05-09 13:14] #3249 closed

[2021-05-09 13:14] whedon commented on #3249
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03249/status.svg)](https://doi.org/10.21105/joss.03249)

**We need your help!**

Journal of Open Source Softwa

[2021-05-09 13:15] bshoshany commented on #3267
Thanks @arfon. Please let me know if there's anything you need from me at any point.

[2021-05-09 13:16] arfon commented on #3267
Nope, sit tight for now please :-)

[2021-05-09 13:16] arfon commented on #2805
@whedon accept

[2021-05-09 13:16] whedon commented on #2805
[code]

[2021-05-09 13:17] whedon commented on #2805
[code]

[2021-05-09 13:18] whedon commented on #2805
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2292

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2292, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-09 13:19] arfon commented on #3268
@virgesmith - please fix your `paper.md` by adding a `date` field as @whedon suggests.

Also, I'm going to mark this submission as _waitlisted_ for now as we have a backlog of submissions which we're working through in the order that they were submitted.

[2021-05-09 13:24] arfon commented on #3269
:wave: @ashleychontos, thanks for your submission to JOSS. We have a reasonable number of submissions in our backlog right now so I'm going to mark this submission as _waitlisted_ until an editor with appropriate experience has time to take on this.

One thing you might want to work on while we're waiting to send this out for review is that I couldn't see any tests covering the functionality of th

[2021-05-09 13:25] arfon commented on #2805
@whedon accept deposit=true

[2021-05-09 13:25] whedon commented on #2805
[code]

[2021-05-09 13:26] whedon commented on #2805
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1391384196237692931) 👈 🐦🐦🐦

[2021-05-09 13:28] arfon commented on #3266
@jbytecode - thanks for your submission to JOSS. We're currently working through a backlog of submissions so I'm marking yours as _waitlisted_ for now. We'll assign an editor to handle your paper as and when a suitable editor becomes available. Thanks for your patience!

[2021-05-09 13:28] arfon commented on #2805
@jdalzatec, @omshinde, @nuest, @martinfleis - many thanks for your reviews here and to @galessiorob for editing this submission. JOSS relies up the volunteer efforts of people like you, and we simply wouldn't be able to do this without you! ✨

@fduchatea - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-09 13:28] #2805 closed

[2021-05-09 13:28] whedon commented on #2805
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02805/status.svg)](https://doi.org/10.21105/joss.02805)

**We need your help!**

Journal of Open Source Softwa

[2021-05-09 13:31] arfon commented on #3082
@whedon set 10.5281/zenodo.4743211 as archive

[2021-05-09 13:31] whedon commented on #3082
OK. <a href="https://doi.org/10.5281/zenodo.4743211" target="_blank">10.5281/zenodo.4743211</a> is the archive.

[2021-05-09 13:31] arfon commented on #3082
@whedon accept

[2021-05-09 13:31] whedon commented on #3082
[code]

[2021-05-09 13:31] whedon commented on #3082
[code]

[2021-05-09 13:32] whedon commented on #3082
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2294

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2294, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-09 13:36] arfon commented on #3082
@vprusso - one more minor fix here please: https://github.com/vprusso/toqito/pull/57

[2021-05-09 14:26] jbytecode commented on #3266
@whedon check references

[2021-05-09 14:26] whedon commented on #3266
[code]

[2021-05-09 14:27] jbytecode commented on #3266
@whedon generate pdf

[2021-05-09 14:27] whedon commented on #3266
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03266/joss.03266/10.21105.joss.03266.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03266/joss.03266/10.21105.joss.03266.pdf) :page_facing_up: :point_left:

[2021-05-09 14:33] HeshamAlsaadi commented on #2946
@whedon generate pdf from branch joss

[2021-05-09 14:33] whedon commented on #2946
[code]

[2021-05-09 14:34] whedon commented on #2946
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: :point_left:

[2021-05-09 14:39] arfon commented on #3082
@whedon accept

[2021-05-09 14:39] whedon commented on #3082
[code]

[2021-05-09 14:40] whedon commented on #3082
[code]

[2021-05-09 14:42] arfon commented on #3082
@whedon accept deposit=true

[2021-05-09 14:42] whedon commented on #3082
[code]

[2021-05-09 14:43] whedon commented on #3082
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1391403356120289283) 👈 🐦🐦🐦

[2021-05-09 14:43] whedon commented on #3082
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2296
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03082](https://doi.org/10.21105/joss.03082)
2. If everything look

[2021-05-09 14:46] arfon commented on #3082
@rurz, @jameshclrk, @marwahaha - many thanks for your reviews here and to @poulson for editing this submission. JOSS relies upon the volunteer effort of people like you and we simply couldn't do it without you! ✨

@vprusso - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-09 14:46] #3082 closed

[2021-05-09 14:47] whedon commented on #3082
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03082/status.svg)](https://doi.org/10.21105/joss.03082)

**We need your help!**

Journal of Open Source Softwa

[2021-05-09 14:49] omshinde commented on #2805
@arfon @galessiorob Thank you for the opportunity.

@fduchatea Congratulations on the amazing work! :)

[2021-05-09 14:50] arfon commented on #2766
👋 @leouieda - is this review about complete now?

[2021-05-09 15:19] fboehm commented on #3235
@whedon list reviewers

[2021-05-09 15:19] whedon commented on #3235
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-05-09 15:24] fboehm commented on #3235
:wave: @tianxzhu - would you be willing to review this submission for JOSS?

[2021-05-09 15:26] fboehm commented on #3235
:wave: @mdogucu - would you be willing to review this submission for JOSS?

[2021-05-09 17:27] nidhog commented on #3032
@ctodd26labs all I can add to this is:
* References in the paper do not seem to be cited in the text (unless I missed something, the reference list is not referenced from the paper's text)
* While there is some reasonable documentation there is no detailed real-world example that shows how magic-wand is used.

Other than that LGTM

[2021-05-09 17:34] dhhagan commented on #3224
@khinsen Let me check with an EiC re: the paywalled articles.

[2021-05-09 17:42] virgesmith commented on #3268
@whedon generate pdf

[2021-05-09 17:44] whedon commented on #3268
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03268/joss.03268/10.21105.joss.03268.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03268/joss.03268/10.21105.joss.03268.pdf) :page_facing_up: :point_left:

[2021-05-09 18:57] rvosa commented on #3173
- [x] I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
- [x] I confirm that I read and will adhere to the JOSS code of conduct.
- [x] Yes: the source code for this software is available at the repository url?
- [x] Yes: the repository contains a

[2021-05-09 19:01] arfon commented on #2876
Friendly reminder to please check on this submission again sometime soon please @schnorr and @MohmedSoudy.

[2021-05-09 19:02] arfon commented on #2708
:wave: @ysohn - how are you getting along here? Do you think you might be able to make your updates soon?

[2021-05-09 20:51] eloisabentivegna commented on #3194
You are correct, @JostMigenda.

[2021-05-09 20:54] fduchatea commented on #2805
@arfon Thank you for the publication! 🎉
On the publication webpage (https://joss.theoj.org/papers/10.21105/joss.02805), the link to software repository is not correct (it is the initial link on liris.cnrs.fr, with issues regarding possibility of collaboration by anyone). The correct link is [https://gitlab.com/fduchate/predihood](https://gitlab.com/fduchate/predihood)

Thank you very much @galessi

[2021-05-09 20:55] eloisabentivegna commented on #3194
Thanks @JostMigenda and @rafaelab for your prompt and thorough reviews. Loads of good points raised and improves. Thanks also to @ChrisCFTung and @itaboada for being so responsive.

I am happy to proceed with prepublication. @ChrisCFTung, could you generate a tagged version and submission archive, ad per https://joss.readthedocs.io/en/latest/submitting.html#the-review-process? Please post the deta

[2021-05-09 21:26] mdogucu commented on #3235
I, unfortunately, would not be able to review at this point.

[2021-05-09 22:17] fboehm commented on #3235
No problem, @mdogucu . We appreciate the reply.

[2021-05-09 22:48] abdoulayediak commented on #3061
Hi all! @hugoledoux here I am finally.
First of all, I'd like to apologise for being inactive all this time, as these 2 last months have been very very crazy busy.

@pjanck it is always a pleasure to see some open source contributions, mostly in the field of BIM where there is still a lot to be done. I have been through the repo and the check-list above, and here are my first comments (most of the

[2021-05-10 01:09] danielskatz commented on #3173
@rvosa - rather than adding a new comment with a new checklist, please just use your checklist in the first comment in this issue.

[2021-05-10 02:02] dpsanders commented on #3079
@jsoishi: Apologies for the delay.

Here is my attempt to install dedalus following then conda installation instructions linked from the repo.
I first installed miniconda using homebrew, and then installed dedalus with the unmodified conda script.

I get the following errors when I run the tests:

https://gist.github.com/e1a8bb1e691014ee95a0e0a5e96f2c5d

[2021-05-10 02:12] kburns commented on #3079
Hi @dpsanders, this issue has been fixed on the dedalus development branch and is slated to be included in the next release (https://github.com/DedalusProject/dedalus/issues/133).

[2021-05-10 05:51] wvxvw commented on #3232
Hi jgostick,

I'm Oleg, I've contributed to the technical aspects of cleanX
project (CI, packaging and documentation for the most part). I think,
I understand why you would be on the fence about the submission.
Recently, when talking to Dr. Moore about the project, I tried to draw
an analogy with the famous paper by E. Dijkstra where he first argued
the benefits of structured programming. He opene

[2021-05-10 05:53] ayush-1506 commented on #3208
Hi @melissawm 👋 kindly let me know if you'd like something from my side here. Thanks for agreeing to edit this.

[2021-05-10 07:01] hugoledoux commented on #3191
@fbiljecki can you confirm that the changes made now allow you to run the example? If yes then please tick the checkbox above

[2021-05-10 07:07] micheder commented on #3116
Unfortunately, I was very busy with another project in these days. You can expect changes in the upcoming weeks.
I will comment here, when all your suggestions are implemented.

[2021-05-10 07:17] slayoo commented on #3219
@whedon generate pdf from branch JOSS

[2021-05-10 07:17] whedon commented on #3219
[code]

[2021-05-10 07:18] slayoo commented on #3219
This was just to reflect an API change within one of the code snippets presented in the text:
https://github.com/atmos-cloud-sim-uj/PySDM/commit/ca4d8214ce49abeb6b6b08892428eb04b794bc1f

[2021-05-10 07:18] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2021-05-10 07:19] eloisabentivegna commented on #3194
@whedon set 1.8 as version

[2021-05-10 07:19] whedon commented on #3194
OK. 1.8 is the version.

[2021-05-10 07:20] eloisabentivegna commented on #3194
@whedon set 10.5281/zenodo.4744897 as archive

[2021-05-10 07:20] whedon commented on #3194
OK. <a href="https://doi.org/10.5281/zenodo.4744897" target="_blank">10.5281/zenodo.4744897</a> is the archive.

[2021-05-10 07:21] eloisabentivegna commented on #3194
@whedon generate pdf

[2021-05-10 07:21] whedon commented on #3194
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03194/joss.03194/10.21105.joss.03194.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03194/joss.03194/10.21105.joss.03194.pdf) :page_facing_up: :point_left:

[2021-05-10 07:22] eloisabentivegna commented on #3194
@whedon check references

[2021-05-10 07:22] whedon commented on #3194
[code]

[2021-05-10 07:33] xuanxu commented on #3067
@astrom-tom, @ygrange please can you update us on the state of your reviews?

[2021-05-10 07:34] MohmedSoudy commented on #2876
Of course. I will check it.

On Sun, May 9, 2021 at 9:01 PM Arfon Smith ***@***.***> wrote:

--
*Regards,*
*Mohmed Soudy Mohmed*

*Research Associate*

*Proteomics & Metabolomics Unit*
*Basic Research*
*57357 Cancer hospital for children*

[2021-05-10 07:38] jni commented on #3098
@vyasr I'm worried that circumstances may have made it more difficult for @tmaric to go over a review. Do you perhaps have other suggestions for reviewers? Usernames only (no `@`), and then I can ping them separately.

In the meantime, I might suggest updating the docs as suggested by @wolfv, as it will only strengthen the submission for the next reviewer. 😊

[2021-05-10 07:43] jni commented on #3202
@justinshenk, apologies, it seems everyone is busier than anticipated! 😅 I hope @a-paxton and @AbigailMcGovern will have time to get this review done soon...! 😬 I'll follow up through different channels next week otherwise.

[2021-05-10 07:55] oliviaguest commented on #2863
Tag me when you are ready, indeed. 👍

[2021-05-10 08:28] oliviaguest commented on #3105
@whedon add @EleonoraVagnoni as reviewer

[2021-05-10 08:28] whedon commented on #3105
OK, @EleonoraVagnoni is now a reviewer

[2021-05-10 08:30] oliviaguest commented on #3105
@whedon start review

[2021-05-10 08:30] whedon opened #3270 "[REVIEW]: Fear Learning and Anxiety Response (FLARe): Open-source software for remote human fear conditioning experiments."
**Submitting author:** @McGregor14 (<a href="http://orcid.org/0000-0003-0024-7049">Thomas McGregor</a>)
**Repository:** <a href="https://github.com/flare-kcl/flare-app" target ="_blank">https://github.com/flare-kcl/flare-app</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewer:** @peircej, @KirstensGitHub, @EleonoraVagnoni
**Archive:** Pending

**:warning: JOSS reduced service mode :warning

[2021-05-10 08:30] whedon commented on #3105
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3270.

[2021-05-10 08:30] #3105 closed

[2021-05-10 08:30] whedon commented on #3270
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @peircej, @KirstensGitHub, @EleonoraVagnoni it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [

[2021-05-10 08:31] whedon commented on #3270
[code]

[2021-05-10 08:31] whedon commented on #3270
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03270/joss.03270/10.21105.joss.03270.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03270/joss.03270/10.21105.joss.03270.pdf) :page_facing_up: :point_left:

[2021-05-10 08:32] uellue commented on #3051
@mjsottile @arfon thank you for the detailed considerations. This sounds like a good approach, I fully agree with your assessment and proposed improvements.

[2021-05-10 08:37] oliviaguest commented on #3270
@McGregor14 can you add a licence, please?

[2021-05-10 08:40] oliviaguest commented on #3270
Hi all! 👋 Thank you so much @peircej, @KirstensGitHub, @EleonoraVagnoni for accepting to review this. Please read the instructions above. Any questions, feedback on the paper, etc., please post here. Any very code-specific questions, suggestions, etc., please use the issues in the code repo and link to them from this thread, so we can all keep track of them. 🌸

For examples of how this process pla

[2021-05-10 08:40] fbiljecki commented on #3191
I confirm that I can now replicate the example code. Expecting that the same code will be included in the updated version of the paper, I do not have further comments.

[2021-05-10 08:41] IndrajeetPatil commented on #3236
@whedon generate pdf

[2021-05-10 08:41] whedon commented on #3236
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03236/joss.03236/10.21105.joss.03236.pdf) :page_facing_up: :point_left:

[2021-05-10 08:42] hugoledoux commented on #3191
@whedon generate pdf

[2021-05-10 08:49] szymon-datalions commented on #2869
Thanks @kenohori; and I'll correct those formatting issues in the paper :)

@hugoledoux I've performed requested tests and I'll update paper by the end of this week so it'll be (hopefully) all from my side.

Thanks!

[2021-05-10 09:12] timtroendle commented on #3204
I am happy to serve as an editor for this submission.

For transparency: I co-authored [a publication (published in January 2018)](https://doi.org/10.1016/j.esr.2017.12.002) together with one of the authors of `atlite`. The publication had 23 authors in total and the amount of direct collaboration between the two of us was little.

[2021-05-10 09:13] timtroendle commented on #3204
@FabianHofmann, I am looking forward to working with you on this submission! I will start looking for reviewers now. If you have any suggestions, please let us know.

[2021-05-10 09:52] timtroendle commented on #3187
@openjournals/joss-eics I could take on this submission as editor.

[2021-05-10 10:18] FabianHofmann commented on #3204
@timtroendle great, thank you for taking care of this! From the list of reviewers, I'd think that both Kevin Anderson and Will Holmgren would suit well. Also GIS related reviewers could fit...

[2021-05-10 12:00] VivianePons commented on #2946
@whedon re-invite @HeshamAlsaadi as reviewer

[2021-05-10 12:00] whedon commented on #2946
The reviewer already has a pending invite.

@heshamalsaadi please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-10 12:17] pnavaro commented on #3077
I am not sure of what we need to do. Is this the good link ?

https://zenodo.org/record/4730006

Pierre

[2021-05-10 12:29] vissarion commented on #3077
Yes, please change the title and the list of authors in zenodo to match the ones in your paper.

[2021-05-10 12:30] vissarion commented on #3077
@whedon set v0.2.4 as version

[2021-05-10 12:30] whedon commented on #3077
OK. v0.2.4 is the version.

[2021-05-10 12:35] danielskatz commented on #3204
@whedon assign @timtroendle as editor

thanks @timtroendle - you can also do this yourself when you want :)

[2021-05-10 12:35] whedon commented on #3204
OK, the editor is @timtroendle

[2021-05-10 12:36] danielskatz commented on #3187
@whedon assign @timtroendle as editor

[2021-05-10 12:36] whedon commented on #3187
OK, the editor is @timtroendle

[2021-05-10 12:39] arfon commented on #3101
:wave: @luizirber - are you still able to handle this submission? If so, the next step is to identify some reviewers :-)

[2021-05-10 12:43] arfon commented on #2999
@whedon reject

[2021-05-10 12:43] #2999 closed

[2021-05-10 12:43] arfon commented on #3059
@whedon reject

Rejecting this due to lack of activity.

[2021-05-10 12:43] whedon commented on #3059
Paper rejected.

[2021-05-10 12:43] #3059 closed

[2021-05-10 12:48] bidochon commented on #3059
I did reject that paper and submitted another one https://github.com/openjournals/joss-reviews/issues/3183

[2021-05-10 12:53] JeanBilheux commented on #3183
Thanks @kthyng , I will improve the paper.md document and explain in more detail why this library is so important for the type of research we do.

[2021-05-10 13:01] ctodd26labs commented on #3032
Thanks @nidhog for going through the paper as well.

For the references, they are built automatically from the .bib file (added into the .pdf). We followed https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography as the example and https://github.com/twosixlabs/magicwand-datatool/blob/joss_revisions/paper/paper.pdf seems to have the references correct. Please confirm.

[2021-05-10 13:09] vissarion commented on #3077
great, please also change the title to "HOODESolver.jl: A Julia package for highly oscillatory problems" instead of "ymocquar/HOODESolver.jl: v0.2.4"

[2021-05-10 13:09] whedon commented on #3077
https://zenodo.org/record/4730006 doesn't look like an archive DOI.

[2021-05-10 13:10] vissarion commented on #3077
@whedon set 10.5281/zenodo.4730006 as archive

[2021-05-10 13:10] whedon commented on #3077
OK. <a href="https://doi.org/10.5281/zenodo.4730006" target="_blank">10.5281/zenodo.4730006</a> is the archive.

[2021-05-10 13:21] virgesmith commented on #3268
Some reviewer suggestions: zeroset, platipodium, tresoldi

[2021-05-10 13:31] jgostick commented on #3232
@whedon generate pdf

[2021-05-10 13:33] whedon commented on #3219
:wave: @jwuttke, please update us on how your review is going (this is an automated reminder).

[2021-05-10 13:33] whedon commented on #3219
:wave: @darothen, please update us on how your review is going (this is an automated reminder).

[2021-05-10 13:47] pnavaro commented on #3077
Since i am not the repository owner, it takes some time to make the changes but we get there.

[2021-05-10 13:47] dpsanders commented on #3079
OK thanks.

Where is the narrative documentation on how to use the package? I thought I saw some but now I can't find it. This should be linked from the GitHub repo.

[2021-05-10 13:50] dpsanders commented on #3079
In particular, not from https://eigentools.readthedocs.io/en/latest/ !

[2021-05-10 13:54] fboehm commented on #3235
@whedon assign @Marie-PerrotDockes as reviewer

[2021-05-10 13:54] whedon commented on #3235
OK, @Marie-PerrotDockes is now a reviewer

[2021-05-10 14:55] ViniciusBRodrigues commented on #3220
@gmyenni can you improve the **Community guidelines** in your GitHub page (and also in https://weecology.github.io/portalcasting/)? There are not *clear guidelines* for that there. For someone which doesn't use GitHub it could be trickier.

[2021-05-10 16:29] whedon opened #3271 "[PRE REVIEW]: academictwitteR: an R Package to Access the Twitter Academic Research Product Track V2 API Endpoint"
**Submitting author:** @cjbarrie (<a href="http://orcid.org/0000-0002-9156-990X">Christopher Barrie</a>)
**Repository:** <a href="https://github.com/cjbarrie/academictwitteR" target ="_blank">https://github.com/cjbarrie/academictwitteR</a>
**Version:** v0.1.0
**Editor:** @danielskatz
**Reviewers:** @medewitt, @JosiahParry
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :war

[2021-05-10 16:29] whedon commented on #3271
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-10 16:29] whedon commented on #3271
[code]

[2021-05-10 16:31] danielskatz commented on #3271
@whedon assign me as editor

[2021-05-10 16:31] whedon commented on #3271
OK, the editor is @danielskatz

[2021-05-10 17:08] donaldRwilliams commented on #3148
@arfon @danielskatz should I suggest more possible reviewers ?

[2021-05-10 17:37] Goobley commented on #3265
I am quite happy with this software, the level of documentation is excellent (and automated tests are included); the code appears to work well and do "what it says on the tin".

My primary comment has been opened as an issue on the repository (ConorMacBride/mcalf#29):
 - It isn't possible to simply run the examples expecting real data, providing a small amount of this, so that the software can eas

[2021-05-10 17:41] pschloss commented on #3073
We thank the reviewers for their thoughtful feedback. We have responded to all reviewer comments below. Feel free to let us know if you have additional questions.

## @JonnyTran reviews

We opened and resolved issue [#249](https://github.com/SchlossLab/mikropml/issues/249) related to this suggestion.
We have implemented this feature for `preprocess_data()` and the feature importance part of `run_m

[2021-05-10 17:51] wvxvw commented on #3232
Hello.

Can you please tell me what Ruby code is responsible for the output above (my understanding is that `whedon` is responsible for running some sort of cron job, but what's in the job?) The instructions on how to generate PDF that I found here: https://joss.readthedocs.io/en/latest/submitting.html#docker don't seem to be using any Ruby code at all. All I see is the typical `xelatex` output.

[2021-05-10 18:13] cjbarrie commented on #3271
Hey! Thanks so much for the quick response. Any of @josiahparry, @Medewitt, @zhanglipku or @natematias?

[2021-05-10 18:43] pdebuyl commented on #3076
Hi @mparno any news?

[2021-05-10 18:52] csoneson commented on #3167
@njtierney - could you let us know how things are going with your review? Thanks!

[2021-05-10 19:08] wvxvw commented on #3232
Also, as described in the linked documentation, I added a GitHub action to generate the paper. It seems to be doing fine (+ I fixed the overfull box issues, which were related to malformed bibliography). You can see the generated PDF here: https://github.com/drcandacemakedamoore/cleanX/actions/runs/829147498 (in the artifacts section).

[2021-05-10 19:18] pjanck commented on #3061
Hi @abdoulayediak - great to hear from you!

I'm happy that you found some time and first of all: thank you for your comments and your time.

This is a true statement for the `development` branch, which is some ~2 years ahead and currently our main branch (should be set like that in the repo's settings). Previous versiond (I believe even the last installer) could indeed read in stable IFC versions

[2021-05-10 19:19] pjanck commented on #3061
@whedon generate pdf from branch joss_submission

[2021-05-10 19:19] whedon commented on #3061
[code]

[2021-05-10 20:10] neuromusic commented on #3169
so sorry for the delay, I'll get me review in this week 😄

[2021-05-10 20:24] chennachaos commented on #3020
@whedon generate pdf from branch joss

[2021-05-10 20:40] JosiahParry commented on #3271
Hi @danielskatz I'd love to. What is the timeline we're looking at for this?

[2021-05-10 20:55] mgalloy commented on #3265
I would also like to see some data available so that the example notebooks can be executed as is, i.e., the notebook could download the example data from a website if needed. This would make the example notebooks much more useful for new users and demonstrate their capabilities without having to find appropriate data.

[2021-05-10 21:02] kellyrowland commented on #3212
Hi @neerajdhanraj - please make sure to accept the invitation to the repository, then you'll be able to check off items in the checklist. (It looks like you may have already done this based on Whedon having assigned you to this review issue.)

[2021-05-10 21:03] kellyrowland commented on #3212
@kramea thank you for the update, I'm sorry to hear that.

[2021-05-10 21:04] kellyrowland commented on #3212
@whedon remove @kramea as reviewer

[2021-05-10 21:06] danielskatz commented on #3271
We try for a couple of weeks, but a bit longer is ok.  Reviews are somewhat iterative as well, so if there are any issues you find, it's great for you to point them out then rather than waiting to have a complete review.  Is this ok?  If so, I will add you as a reviewer, but the review won't start until I get another reviewer as well, and open a new issue for the review itself.

[2021-05-10 21:07] diehlpk commented on #3020
@whedon commands

[2021-05-10 21:09] diehlpk commented on #3020
@whedon check references

[2021-05-10 21:11] medewitt commented on #3271
Happy to review as well.

On Mon, May 10, 2021, 5:06 PM Daniel S. Katz ***@***.***>
wrote:

[2021-05-10 21:15] diehlpk commented on #3020
@chennachaos Thanks, we will fix it by the end of the week.

[2021-05-10 21:20] ConorMacBride commented on #3265
Thank you @mgalloy and @Goobley for reviewing, and for doing so quickly. Much appreciated.

@Goobley, I've replied in your issue about including example data — I'll check the licence compatibility and include (or link to) a file with some real data. Since the v0.2.0 release, I've added one more example which is in the "latest" documentation (https://mcalf.macbride.me/en/latest/gallery/models/plot_

[2021-05-10 21:23] gully commented on #3095
I will double-check tomorrow any remaining tasks in this review.  I have not looked at the parallel paper linked in a previous comment thread.  Maybe a question to the editors---how should parallel papers be handled?

[2021-05-10 21:26] whedon commented on #3271
OK, @medewitt is now a reviewer

[2021-05-10 22:00] kellyrowland commented on #3215
Hi @marouenbg - that's fine by me, thanks for the heads up. Apologies for the ping from Whedon, I'm a new editor and haven't quite figured my way around all of the moving pieces in these review issues.

[2021-05-10 22:03] kellyrowland commented on #3215
@whedon remind @marouenbg in two weeks

[2021-05-10 22:24] JosiahParry commented on #3271
A few weeks is okay for me! :)

[2021-05-10 22:49] vyasr commented on #3098
Yes, I can update the docs and provide you new reviewers as soon as I'm able!

[2021-05-10 23:03] dhhagan commented on #3224
@DrDaveShaw Are you able to provide copies of the relevant cited papers to @khinsen for the purpose of reviewing this paper?

[2021-05-10 23:24] danielskatz commented on #3271
great, thanks! - I'll start the review and send you another note over there

[2021-05-10 23:24] danielskatz commented on #3271
@whedon add @JosiahParry as reviewer

[2021-05-10 23:24] whedon commented on #3271
OK, @JosiahParry is now a reviewer

[2021-05-10 23:24] whedon opened #3272 "[REVIEW]: academictwitteR: an R Package to Access the Twitter Academic Research Product Track V2 API Endpoint"
**Submitting author:** @cjbarrie (<a href="http://orcid.org/0000-0002-9156-990X">Christopher Barrie</a>)
**Repository:** <a href="https://github.com/cjbarrie/academictwitteR" target ="_blank">https://github.com/cjbarrie/academictwitteR</a>
**Version:** v0.1.1.1
**Editor:** @danielskatz
**Reviewer:** @medewitt, @JosiahParry
**Archive:** <a href="https://doi.org/10.5281/zenodo.4905468" target="_blan

[2021-05-10 23:24] whedon commented on #3271
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3272.

[2021-05-10 23:24] #3271 closed

[2021-05-10 23:24] whedon commented on #3272
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @medewitt, @JosiahParry it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-05-10 23:25] whedon commented on #3272
[code]

[2021-05-10 23:25] whedon commented on #3272
[code]

[2021-05-10 23:25] whedon commented on #3272
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03272/joss.03272/10.21105.joss.03272.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03272/joss.03272/10.21105.joss.03272.pdf) :page_facing_up: :point_left:

[2021-05-10 23:26] danielskatz commented on #3272
@medewitt and @JosiahParry - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines

[2021-05-11 00:41] whedon opened #3273 "[REVIEW]: cvCovEst: Cross-validated covariance matrix estimator selection and evaluation in R"
**Submitting author:** @PhilBoileau (<a href="http://orcid.org/0000-0002-4850-2507">Philippe Boileau</a>)
**Repository:** <a href="https://github.com/PhilBoileau/cvCovEst" target ="_blank">https://github.com/PhilBoileau/cvCovEst</a>
**Version:** 1.0.0
**Editor:** @fboehm
**Reviewer:** @Marie-PerrotDockes, @yunanwu123
**Archive:** <a href="https://doi.org/10.5281/zenodo.5132903" target="_blank">10.

[2021-05-11 00:41] #3235 closed

[2021-05-11 00:41] whedon commented on #3273
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Marie-PerrotDockes, @yunanwu123 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2021-05-11 00:42] whedon commented on #3273
[code]

[2021-05-11 00:42] whedon commented on #3273
[code]

[2021-05-11 00:43] whedon commented on #3273
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03273/joss.03273/10.21105.joss.03273.pdf) :page_facing_up: :point_left:

[2021-05-11 01:29] carlosjoserg commented on #2783
@arfon my list is fully checked.

Thanks, it's been an interesting review.

[2021-05-11 04:12] zhanglipku commented on #3271
sorry for responding late, but would be happy to review if needed!

[2021-05-11 06:23] FedericoComoglio commented on #3073
@pschloss Thank you for your reply and for addressing my (overall minor) concerns.

[2021-05-11 06:56] timtroendle commented on #3187
:wave: @samuelduchesne & @ralphevins, would any of you be willing to review this submission for JOSS?

[2021-05-11 07:38] whedon commented on #3194
OK. <a href="https://doi.org/10.5281/zenodo.4747672" target="_blank">10.5281/zenodo.4747672</a> is the archive.

[2021-05-11 07:41] eloisabentivegna commented on #3194
@whedon accept

[2021-05-11 07:41] whedon commented on #3194
[code]

[2021-05-11 07:41] whedon commented on #3194
[code]

[2021-05-11 07:42] whedon commented on #3194
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2297

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2297, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-11 07:43] eloisabentivegna commented on #3194
Congratulations to all authors! 🎉

And, of course, thanks to @JostMigenda and @rafaelab for your time and help with the submission. Such an expedited review would have not been possible without your hard work.

[2021-05-11 07:44] eloisabentivegna commented on #2555
@gouarin, is the @rclipp's response addressing all your concerns?

[2021-05-11 07:46] oliviaguest commented on #3169
@whedon remind @neuromusic in 1 week

[2021-05-11 07:47] whedon commented on #3169
Reminder set for @neuromusic in 1 week

[2021-05-11 07:47] oliviaguest commented on #3169
@neuromusic thanks! I set up a reminder as a soft ETA. 😊

[2021-05-11 07:48] mikldk commented on #3054
@soodoku Can I understand your thumb up as agreeing to review?

[2021-05-11 08:59] VivianePons commented on #2741
Hi @shahmoradi each DOI is linked to a specific version, I need the current version. The archive is like a picture of the current state of the software, which I need to finalize the publication, so that, in the future it is clear that the paper refers to this specific state of the software. Please either add a proper archive on the current zenodo or make a new one elsewhere.

[2021-05-11 11:25] andrewpaulreeves commented on #2764
Hi @pibion - thanks for checking in! I have installed and begun to look at the software, but I might need another couple of weeks to test it further and write the review due to some other work commitments.

A question on the process of the review - shall I prepare a full review then "submit", or just ask questions or make comments here when they occur during my testing?

Thanks!

[2021-05-11 12:30] majensen commented on #3173
@tresoldi - @rvosa would like to see some text comparing your package to other available tools, and to highlight how your software meets an existing need. JOSS does requirement this so-called "Statement of Need". Can you work to add this? thanks

[2021-05-11 13:02] mparno commented on #3076
@pdebuyl Thanks for checking in.  Our team is slowly working on revisions, but it’s going slowly due to some job changes and PhD defenses amongst the authors.   Unfortunately I don’t expect us to have a complete response addressing all of the important suggestions from the reviewers until June.   Is that timeline OK with you?

[2021-05-11 13:52] whedon commented on #3265
[code]

[2021-05-11 13:58] danielskatz commented on #3194
@whedon accept

[2021-05-11 13:58] whedon commented on #3194
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2298

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2298, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-11 13:59] danielskatz commented on #3194
@whedon accept deposit=true

[2021-05-11 13:59] whedon commented on #3194
[code]

[2021-05-11 14:14] ChrisCFTung commented on #3194
@eloisabentivegna @JostMigenda @rafaelab @danielskatz Thank you, you guys have been great reviewers! I really appreciate this experience.

[2021-05-11 14:21] arfon commented on #3020
@whedon commands

[2021-05-11 14:22] arfon commented on #3020
@whedon check references from branch joss

[2021-05-11 14:41] whedon commented on #3020
[code]

[2021-05-11 14:41] whedon commented on #3020
[code]

[2021-05-11 14:42] diehlpk commented on #3020
@whedon generate pdf from branch joss

[2021-05-11 14:43] whedon commented on #3020
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: :point_left:

[2021-05-11 14:44] diehlpk commented on #3020
@chennachaos The references are fixed and all DOIs were added.

[2021-05-11 14:55] samuelduchesne commented on #3187
Hi @timtroendle, I would be happy to review this!

[2021-05-11 16:14] AlexChristensen commented on #3210
@LangeJens ,

I've added code that will allow for reproducible parallelization (see latest pull request). This was done using the `clusterSetRNGSream` function in the *parallel* package.

With this, I added an argument called `seed` that defaults to `NULL`. The default will produce stochastic results. To get reproducible results, you can set the `seed` argument.

Like the example in the paper, you

[2021-05-11 16:47] gully commented on #3095
@whedon generate pdf

[2021-05-11 16:47] whedon commented on #3095
I'm sorry @gully, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-05-11 16:48] whedon commented on #3095
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03095/joss.03095/10.21105.joss.03095.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03095/joss.03095/10.21105.joss.03095.pdf) :page_facing_up: :point_left:

[2021-05-11 16:53] rerickson-usgs commented on #3117
@marcosvital Do you need anything else from me?

[2021-05-11 16:55] kellyrowland commented on #3239
Great, thanks!

[2021-05-11 16:55] kellyrowland commented on #3239
@whedon add @bjodah as reviewer

[2021-05-11 16:55] whedon commented on #3239
OK, @bjodah is now a reviewer

[2021-05-11 16:56] gully commented on #3095
Looking over the PDF, the text appears to lack some references for how this package compares to other RV packages.  A comment above shows that a reference to `wobble` was added, but I cannot see that in the newly generated pdf.  Wobble is not the only relevant package though, and I am recommending that other comparable packages are cited to clarify how `igrins_rv` fits into the broader ecosystem o

[2021-05-11 17:03] marcosvital commented on #3117
Hi, @rerickson-usgs! Sorry about the long delay. I'll check your suggestions and start inviting right away.

[2021-05-11 17:05] kellyrowland commented on #3212
No worries, I'll check our list of volunteer reviewers to find a match.

[2021-05-11 17:06] hugoledoux commented on #3061
@whedon re-invite @CBenghi  as reviewer

[2021-05-11 17:06] whedon commented on #3061
OK, the reviewer has been re-invited.

@cbenghi  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-11 17:47] SteveMacenski commented on #2783
@arfon thanks! The newest releases contain all of the change requested and patched as part of the review. I just verified by looking back at all of the review comments/threads and cross referencing change requested with commits in those releases:
- ROS2 2.4.0 https://github.com/SteveMacenski/slam_toolbox/releases/tag/2.4.0
- ROS(1) 1.5.5 https://github.com/SteveMacenski/slam_toolbox/releases/tag/1

[2021-05-11 18:26] DrDaveShaw commented on #3224
@goldmanm. Thank you again for your comments and questions. I have been through them and my responses are below with references to any changes I have made to the package.

readme
1. >Typically people often want improvements to the code to be submitted as a pull request. In the readme file, you mention having people email updates, which might not be the most efficient method of improving the code.

[2021-05-11 18:27] mikldk commented on #3054
@whedon remove @vs74 as reviewer

[2021-05-11 18:27] whedon commented on #3054
OK, @vs74 is no longer a reviewer

[2021-05-11 18:32] hugoledoux commented on #3061
hmmm, can you try another browser or clear cache? Never happened.

If fails I need to ask the person in charge.

[2021-05-11 18:49] whedon commented on #3231
OK, @gflofst is now a reviewer

[2021-05-11 18:50] diehlpk commented on #3231
@wheon start review

[2021-05-11 18:50] whedon opened #3274 "[REVIEW]: funsies: A minimalist, distributed and dynamic workflow engine"
**Submitting author:** @clavigne (<a href="http://orcid.org/0000-0003-2778-1866">Cyrille Lavigne</a>)
**Repository:** <a href="https://github.com/aspuru-guzik-group/funsies" target ="_blank">https://github.com/aspuru-guzik-group/funsies</a>
**Version:** 0.8.1
**Editor:** @diehlpk
**Reviewer:** @gflofst, @vijaysm
**Archive:** <a href="https://doi.org/10.5281/zenodo.5528107" target="_blank">10.5281/

[2021-05-11 18:50] #3231 closed

[2021-05-11 18:50] whedon commented on #3274
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @camillescott, @gflofst it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-05-11 18:51] whedon commented on #3274
[code]

[2021-05-11 18:51] whedon commented on #3274
[code]

[2021-05-11 18:55] shahmoradi commented on #2741
Here is the new Zenodo entry: https://zenodo.org/record/4749957#.YJrS7qFOnGo
DOI: 10.5281/zenodo.4749957

Thank you
Amir

[2021-05-11 19:17] donaldRwilliams commented on #3210
@LangeJens Fell a bit behind, but have not forgotten about this. apologies on the delay

[2021-05-11 19:18] diehlpk commented on #2496
@barischrooneyj How is the major revision going? Any plans to submit it within the next three months?

[2021-05-11 19:20] whedon commented on #3060
OK, @KristofferC is no longer a reviewer

[2021-05-11 19:20] whedon commented on #2783
OK. <a href="https://doi.org/10.5281/zenodo.4749721" target="_blank">10.5281/zenodo.4749721</a> is the archive.

[2021-05-11 19:20] arfon commented on #2783
@whedon accept

[2021-05-11 19:22] whedon commented on #2783
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2300

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2300, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-11 19:48] marcosvital commented on #3027
Hi, @neerajdhanraj! Thank you for letting me know, but don't worry, we already started the review.

[2021-05-11 19:52] marcosvital commented on #3117
Dear @mbjoseph, @OliverFishCode and @jsta, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you

[2021-05-11 20:12] pdebuyl commented on #3076
Hi @mparno it is ok.

[2021-05-11 21:33] amandadsmith commented on #3187
Hi @timtroendle, thanks! The following JOSS reviewers also look like they may fit the bill: sarats, jtmiclat, ritwikagarwal, willu47

[2021-05-11 22:03] mjacob1002 commented on #3247
Hi @joeweaver and @DARSakthi,

Thank you for reviewing my JOSS submission!

@joeweaver I added documentation for the README file example - let me know if you think there is anything else I should do in terms of documentation.

Thanks again!
- Mathew Jacob

[2021-05-12 03:07] villaa commented on #3174
@mbobra can the editor team please comment on the Mersenne Twister license issue brought up by @matthewfeickert. I am happy to address it and we have an issue for it now but I want to clarify what is needed for publication to proceed. Ultimately I would like to move to the C++ standard library implementation but that may actually force a compiler compatibility upgrade due to C++11 standard being n

[2021-05-12 04:36] matthewfeickert commented on #3174
The permissibility of a license isn't the issue, but rather that code that wasn't written by the authors is being vendored with no license. Unless code explicitly uses [the Unlicense](https://en.wikipedia.org/wiki/Unlicense) or states that it is in the public domain it needs a license for anyone to be able to use it.

This is easy to fix. If you look in the vendored code for something identifiable

[2021-05-12 04:45] villaa commented on #3174
@matthewfeickert

Thank you. What I need to know from here is *how* to change our code. Would it be by going to one of the links you list, re-downloading the code and including a license file?

[2021-05-12 04:46] villaa commented on #3174
This was noted in the new readme file.

[2021-05-12 04:53] matthewfeickert commented on #3174
I'd just throw a BSD license file with Rick's name on in it and the year the code was copied and call it good. You can get a copy of the BSD license template from a few places online, but easiest is Wikipedia: https://en.wikipedia.org/wiki/BSD_licenses#4-clause_license_(original_%22BSD_License%22)

[2021-05-12 05:14] arfon commented on #2783
@SteveMacenski - a couple of final things:

- Did you check the DOI suggestions from Whedon above? If any of them are correct, please update your BibTeX to include them.
- I made a small change to your paper in https://github.com/SteveMacenski/slam_toolbox/pull/392 to make it read a little more clearly (I think).

[2021-05-12 05:15] arfon commented on #2708
:+1: no problem. Thanks for the update @ysohn.

[2021-05-12 05:22] hugoledoux commented on #3061
@arfon the reviewer cannot accept the invitation, or the invitation is broken. Can you help please?

[2021-05-12 05:50] fverdugo commented on #2942
Hi! thanks for the review invitation @vavrines. I am currently reviewer in another JOSS paper and have no extra time to be involved in a second one unfortunately.

[2021-05-12 06:00] sloede commented on #2942
I have never reviewed at JOSS, how does it compare to a regular paper review in terms of effort? Also, what is the expected time frime? I am intrigued, but quite busy this and next week...

[2021-05-12 06:15] ysohn commented on #2708
@arfon Thank you for your understanding.

[2021-05-12 06:20] LangeJens commented on #3210
@AlexChristensen Thank you very much! I merged the pull request and tested the function. Everything works perfectly.
@donaldRwilliams Absolutely no problem!

[2021-05-12 06:36] ekaterinailin commented on #2845
Hi @dfm, I finally got back to it. Not quite early April - but now AltaiPony 2.0. is available, test and notebooks seem to run with lightkurve2.0 :)

[2021-05-12 08:14] martibosch commented on #3204
Hello @timtroendle, thank you for your invitation, but I am afraid that I will have to decline it as I already have a lot of work to do and I will thus be me very busy the following months. Additionally, I do not have much experience with the subject so I am sure that other reviewers will be better suited for this submission.

Best,
Martí

[2021-05-12 08:21] timtroendle commented on #3204
That's fine of course, @martibosch . Thanks for letting us know.

[2021-05-12 08:29] csoneson commented on #3093
👋🏻 @cmirzayi - just wanted to check in that you have all you need for your review (I remember you said that the first week of May was very busy for you). Do let me know if you have any questions. Thanks!

[2021-05-12 08:33] csoneson commented on #3122
👋🏻 @DidierMurilloF - just another quick check-in to make sure things are on track. I can see that there have been changes to the repository in the past few days to address the reviewers' comments, so I assume everything is under control; just wanted to double-check. Thanks!

[2021-05-12 08:45] arfon commented on #3061
@whedon re-invite @CBenghi as reviewer

[2021-05-12 08:46] whedon commented on #3061
OK, the reviewer has been re-invited.

@cbenghi please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-12 08:47] arfon commented on #3061
@CBenghi - can you try one more time please? I can definitely see an outstanding review for you 👇

<img width="927" alt="Screen Shot 2021-05-12 at 09 46 40" src="https://user-images.githubusercontent.com/4483/117946238-067e1000-b307-11eb-9b6f-941d6f0b24f4.png">

https://github.com/openjournals/joss-reviews/invitations

[2021-05-12 09:22] CBenghi commented on #3061
Thanks @arfon it worked seamlessly this time around.

[2021-05-12 10:14] jkanche commented on #3262
@arokem seems like I need to be assigned to check things on my review list

[2021-05-12 10:38] inakleinbottle commented on #3054
@AlexanderFabisch @mikldk I completed my review some time ago, and all of my concerns have been addressed.

[2021-05-12 11:31] lukapecnik commented on #2949
Hi @arfon, I hope you're well. I am wondering whether the review is going to be complete soon? It's been a month since the last update and we'd really like to know the current status.

Best regards

[2021-05-12 12:10] danielskatz commented on #3262
@Whedon re-assign @jkanche as reviewer

[2021-05-12 12:10] whedon commented on #3262
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-12 12:13] danielskatz commented on #3262
@Whedon commands

[2021-05-12 12:13] whedon commented on #3262
Here are some things you can ask me to do:

[code]

[2021-05-12 12:14] danielskatz commented on #3262
@whedon re-invite @jkanche as reviewer

[2021-05-12 12:14] whedon commented on #3262
The reviewer already has a pending invite.

@jkanche please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-12 12:33] CBenghi commented on #3061
Hi

A few issues to discuss to improve the paper:

1. Looking at the authors `Contribution and authorship` concerns I wonder if you have
properly considered the contribution of Cara Coetzee

[code]

2. On line 17 you mention `viewing and analysis`, but it's not clear what type
of analysis can be performed. I think a more specific set of functional claims would improve the paper.

3. Perhaps connec

[2021-05-12 12:39] dfm commented on #3115
@D-K-E: Thanks for your patience. I've opened a pull request with some edits to the paper. Can you take a look at that and once you've merged, please take the following steps:

- Comment `@whedon generate pdf` on this thread and read through the manuscript to make sure that you're happy with it (it's hard to make changes later!), especially author names and affiliations.
- Increment the version nu

[2021-05-12 12:42] dfm commented on #2845
@ekaterinailin: Great to hear!

@mrtommyb: Are you be available to revisit your checklist now that we have compatibility with lightkurve 2?

[2021-05-12 12:58] schruste commented on #3237
Hi @mikaem ,

Thank you for the feedback. It seems we actually overlooked the guideline on the length at first, but repaired this now. We moved the more detailed parts to separate markdown files in `doc` (which shouldn't be directly relevant for the review anymore).

As for the docker question. We added a sentence in the `INSTALLATION.md` to emphasize that it is really the browser of the host syst

[2021-05-12 12:58] schruste commented on #3237
@whedon generate pdf

[2021-05-12 12:59] whedon commented on #3237
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: :point_left:

[2021-05-12 13:07] schruste commented on #3237
@whedon generate pdf from branch master

[2021-05-12 13:07] whedon commented on #3237
[code]

[2021-05-12 13:08] whedon commented on #3237
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: :point_left:

[2021-05-12 13:11] VivianePons commented on #2741
@whedon set 10.5281/zenodo.4749957 as archive

[2021-05-12 13:11] whedon commented on #2741
OK. <a href="https://doi.org/10.5281/zenodo.4749957" target="_blank">10.5281/zenodo.4749957</a> is the archive.

[2021-05-12 13:13] VivianePons commented on #2741
@whedon set v1.5.1 as version

[2021-05-12 13:13] whedon commented on #2741
OK. v1.5.1 is the version.

[2021-05-12 13:15] VivianePons commented on #2741
Thank you very much @shahmoradi we are now ready to accept the paper! Thanks to both reviewers @milancurcic and @williamfgc for their work

[2021-05-12 13:15] VivianePons commented on #2741
@whedon accept

[2021-05-12 13:15] whedon commented on #2741
[code]

[2021-05-12 13:16] whedon commented on #2741
[code]

[2021-05-12 13:16] whedon commented on #2741
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2301

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2301, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-12 13:20] arfon commented on #2949
Hi @lukapecnik - you have exactly the same information as me at this point sorry. I'd like to give a little more time to @sara-02 before seeking out a second reviewer.

[2021-05-12 13:47] danielskatz commented on #2741
👋 @shahmoradi - I'm the AEiC on duty currently, and I'll be proofreading this shortly, then either requesting changes, or proceeding to publication.

[2021-05-12 13:57] warrickball commented on #3257
Hi,

I've just made a first pass at reviewing the repository. I'm not an expert on the scientific application but I'm at least an astronomer/astrophysicist and will comment on the repo from that perspective.

First, the code itself seems reasonable overall. I had no problem installing and running it, though the nice-looking 3D plots didn't work in a script or IPython console. (I don't personally u

[2021-05-12 14:17] timtroendle commented on #3204
👋 @sgrieve, would you be willing to review this submission for JOSS?

[2021-05-12 14:31] danielskatz commented on #2741
My suggested changes are in https://github.com/cdslaborg/paramonte/pull/14 - please merge this, or let me know what you disagree with, then we can proceed

[2021-05-12 14:58] grburgess commented on #3257
Thank you! I will begin to implement these changes, but here are some quick responses:

Yes, I need to better doc all the included distributions. Many of these are things that I use and it is not meant to have an exhaustive list because users can easily add their own. If needed, I can add others, but others as well as myself have slowly been adding on things in other repos as they are needed.

Oop

[2021-05-12 14:59] whedon opened #3275 "[PRE REVIEW]: PyEI: A Python package for ecological inference"
**Submitting author:** @karink520 (<a href="http://orcid.org/0000-0003-1312-6473">Karin Knudson</a>)
**Repository:** <a href="https://github.com/mggg/ecological-inference" target ="_blank">https://github.com/mggg/ecological-inference</a>
**Version:** v0.1.0
**Editor:** @drvinceknight
**Reviewers:** @matt-graham, @pmyteh
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2021-05-12 14:59] whedon commented on #3275
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-12 14:59] whedon commented on #3275
[code]

[2021-05-12 15:00] whedon commented on #3275
[code]

[2021-05-12 15:00] whedon commented on #3275
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03275/joss.03275/10.21105.joss.03275.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03275/joss.03275/10.21105.joss.03275.pdf) :page_facing_up: :point_left:

[2021-05-12 15:02] whedon commented on #3221
:wave: @cheginit, please update us on how your review is going (this is an automated reminder).

[2021-05-12 15:02] whedon commented on #3221
:wave: @JannisHoch, please update us on how your review is going (this is an automated reminder).

[2021-05-12 15:38] pibion commented on #2764
@andrewpaulreeves I'd recommend asking questions and making comments here as you go.  That makes it easier for the authors to address things as you go along and speeds up the process a bit :)

[2021-05-12 15:40] pibion commented on #2694
@whedon re-invite @tystan as reviewer

[2021-05-12 15:40] whedon commented on #2694
The reviewer already has a pending invite.

@tystan please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-12 15:41] pibion commented on #2694
@tystan could you accept the invite link and then confirm you can leave comments and edit the checklist at the top of this issue?

[2021-05-12 17:32] JonnyTran commented on #3073
@pschloss Everything looks good to me. My concerns were all addressed, and it's understandable that some of my suggestions cannot be implemented.

[2021-05-12 18:08] SteveMacenski commented on #2783
Hi,

- [Googling the DOIs](https://www.google.com/search?channel=fs&client=ubuntu&q=10.1109%2Firos45743.2020.9341207) all gave me the papers that are also matching the titles. I'm not exactly sure what the issue is there, but they seem to all be valid from my checking
- Merged

[2021-05-12 18:33] vavrines commented on #2942
@sloede Thanks for the interest : )
It's depends on a number of factors and hard to make a fair comparison. From my point of view on the checklist given by JOSS, it's easier to review here.
cc @diehlpk I remember the expected time frime you mentioned is 2 months. Given the long delay of the review process, I'm not sure if it stays the same in this round.

[2021-05-12 18:44] OliverFishCode commented on #3117
I must recuse myself from reviewing this project as I have a conflict of
interest; I currently have a separate paper in review with one of this
projects authors.

- Devon C. Oliver
On Tue, May 11, 2021, 12:52 PM Marcos Vital (LEQ-UFAL) <
***@***.***> wrote:

[2021-05-12 19:09] JaroslavHron commented on #3051
I understand PyArma to be useful as python interface for Armadillo library - similar to other library interfaces "4py" (petsc4py, ga4py, etc.) and the performance will be mostly up to the C++ Armadillo library.

I fully agree with assessment by @mjsottile

[2021-05-12 19:16] sbenthall commented on #3013
That works great, @ha0ye Thank you!

@whedon assign @ha0ye as reviewer

[2021-05-12 19:17] sbenthall commented on #3013
@tweed1e would you be able to review this package?

[2021-05-12 21:06] cmirzayi commented on #3093
Thanks @csoneson. My work life has calmed down a bit and I will be beginning my review tomorrow. I'll let you know then if I have any questions but for now I believe I have everything I need.

[2021-05-12 21:34] DidierMurilloF commented on #3122
Dear @csoneson,

Thank you very much for following up on the progress of our App. We have addressed all the suggestions that reviewers have made for the first release of FielDHub and we are committed to doing all the improvements suggested by reviewers for the next version. We are very pleased with all the improvements that have been suggested by the reviewers @Prof-ThiagoOliveira, @dlebauer and w

[2021-05-12 23:19] D-K-E commented on #3115
@whedon generate pdf

[2021-05-12 23:20] whedon commented on #3115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: :point_left:

[2021-05-12 23:23] kellyrowland commented on #3212
Hi @amygalanter and @joeweaver 👋 - would either of you be willing and available to edit this paper for JOSS?

[2021-05-12 23:28] D-K-E commented on #3115
@dfm All right I think I did what you said:
The new version is `v0.1.0`.
The release is called `JOSS version`.
 DOI: 10.5281/zenodo.4751740

The title and the author are the same. Affiliation is okay as well. The manuscript is all good as well.

[2021-05-12 23:42] dfm commented on #3115
@whedon check references

[2021-05-12 23:43] whedon commented on #3115
[code]

[2021-05-12 23:43] dfm commented on #3115
@whedon set 10.5281/zenodo.4751740 as archive

[2021-05-12 23:43] whedon commented on #3115
OK. <a href="https://doi.org/10.5281/zenodo.4751740" target="_blank">10.5281/zenodo.4751740</a> is the archive.

[2021-05-12 23:43] dfm commented on #3115
@whedon set v0.1.0 as version

[2021-05-12 23:44] whedon commented on #3115
OK. v0.1.0 is the version.

[2021-05-12 23:46] dfm commented on #3115
@whedon accept

[2021-05-12 23:46] whedon commented on #3115
[code]

[2021-05-12 23:47] whedon commented on #3115
[code]

[2021-05-12 23:47] whedon commented on #3115
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2302

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2302, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-12 23:48] dfm commented on #3115
@eigenfoo, @ankurankan: Thanks again for your excellent and constructive reviews! I (and all of us at JOSS) really appreciate your contributions here.

@D-K-E: This is looking good! Thanks for your submission and your work on it throughout this process. I've handed this submission off the the Editors-in-Chief and they might have some final comments/edits before the final publication. But, in the m

[2021-05-12 23:51] D-K-E commented on #3115
Thank you @dfm , and thanks @eigenfoo  and @ankurankan  for the constructive reviews.
Thanks @whedon the bot, for all your hard work.
Should I call the deposit=true, for me it looks good ?

[2021-05-13 00:09] dfm commented on #3115
@D-K-E: no, the Editor-in-chief will do that after their final checks.

[2021-05-13 00:10] D-K-E commented on #3115
All right thanks for the clarification

[2021-05-13 00:29] dlebauer commented on #3122
Really nice work @DidierMurilloF ! I've checked off all of the reviewer rubric. Now it is just waiting on @Prof-ThiagoOliveira 's review.

[2021-05-13 00:44] ConorMacBride commented on #3265
Hi @mgalloy and @Goobley, I've now added real IBIS data to the repository and updated `LabellingTutorial.ipynb` so it runs as-is with this data. Instead of updating the now mostly redundant `FittingIBIS.ipynb`, I've created a new (more user friendly) gallery example (https://mcalf.macbride.me/en/latest/gallery/models/plot_ibis8542data.html) which covers most of what `FittingIBIS.ipynb` did. This g

[2021-05-13 01:35] tystan commented on #2694
Hi @pibion, @whedon and @wesleyburr. Thanks for having me on board! I can confirm I can edit the checklist. I'm on leave until mid next week so I'll get back to this then.

[2021-05-13 05:55] csoneson commented on #3122
Perfect - thanks!

[2021-05-13 06:27] shahmoradi commented on #2741
done. Thank you @danielskatz @VivianePons for your patience and edits, and special thanks again to both reviewers @milancurcic and @williamfgc for their variable suggestions.

[2021-05-13 07:44] whedon commented on #3203
:wave: @potterzot, please update us on how your review is going (this is an automated reminder).

[2021-05-13 07:44] whedon commented on #3203
:wave: @igarizio, please update us on how your review is going (this is an automated reminder).

[2021-05-13 07:57] yangbai90 commented on #3190
@SunilAnandatheertha
Hi sunil, except for the `Limitations` in the wiki, is there any more text about the performance part for your code?

[2021-05-13 09:01] elektrobohemian commented on #3156
sorry again for the delay. we had two quarantines in a row. :-/ the authors have addressed all of my comments, the software is stable and well documented. hence, i recommend the work for publication!

[2021-05-13 09:08] pdebuyl commented on #2842
Hi @scivision

The documentation at https://geospace-code.github.io/h5fortran/ lacks a "narrative documentation", what is typically called the user guide. The README of the project contains most of what's necessary though, could you integrate the README to the FORD documentation output, with install.md and examples.md ? This way, the rendered docs would be complete.

Regarding installation, there

[2021-05-13 09:53] whedon commented on #2838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: :point_left:

[2021-05-13 09:56] Swetanshu commented on #2838
Once again thank you @mturiansky, @mfherbst  and @dpsanders  for your feedback. We have tried to tidy up the code further and incorporate the suggested functionalities. We have responded to each issue separately in the issue tracker to describe how we addressed each issue. I’ll close them if you are happy with the responses.
I look forward to hearing back from you.

[2021-05-13 09:59] arfon commented on #3148
@whedon add @AlexChristensen as reviewer

[2021-05-13 09:59] whedon commented on #3148
OK, @AlexChristensen is now a reviewer

[2021-05-13 10:00] arfon commented on #3148
:zap: thanks so much @AlexChristensen! I'd like to find a second reviewer before starting the actual review thread (with checkboxes etc.) if that sounds OK?

[2021-05-13 10:00] arfon commented on #3073
@pschloss - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the auth

[2021-05-13 10:01] arfon commented on #2783
@whedon check references from branch joss

[2021-05-13 10:01] whedon commented on #2783
[code]

[2021-05-13 10:02] whedon commented on #2783
[code]

[2021-05-13 10:06] arfon commented on #2783
Great! Then please update your `paper.bib` to include them. For example, for `The Marathon 2: A Navigation System`, if the suggested DOI from Whedon is correct then you need to add `doi=10.1109/iros45743.2020.9341207` to [this part](https://github.com/SteveMacenski/slam_toolbox/blob/joss/paper.bib#L48-L54) of your BibTeX file (we need you to do this for all of the potential missing DOIs please).

[2021-05-13 10:17] pitsianis commented on #3100
@whedon commands

[2021-05-13 10:17] whedon commented on #3100
Here are some things you can ask me to do:

[code]

[2021-05-13 10:18] pitsianis commented on #3100
@whedon generate pdf

[2021-05-13 10:18] whedon commented on #3100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03100/joss.03100/10.21105.joss.03100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03100/joss.03100/10.21105.joss.03100.pdf) :page_facing_up: :point_left:

[2021-05-13 10:29] nidhog commented on #3032
@ctodd26labs great, yes that revision does have the references properly included.

And for sure, I think the described use cases and documentation are good enough and sufficient for someone to get started. It just seemed like it would help in the documentation (not in the paper itself) to have an example tutorial, by choosing one of these examples and going through all the steps needed. For exampl

[2021-05-13 10:32] nidhog commented on #3032
@arfon lgtm ✅

[2021-05-13 11:19] marcosvital commented on #3117
Thank you for leting us know, @OliverFishCode

[2021-05-13 11:20] marcosvital commented on #3117
Dear @mdogucu, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review, ple

[2021-05-13 13:10] ctodd26labs commented on #3032
@nidhog thanks, I will try and incorporate one in the docs. Agree that anything that makes this more likely to and easier to use is a value add; thanks for the feedback.

[2021-05-13 13:12] danielskatz commented on #2741
@whedon accept

[2021-05-13 13:12] whedon commented on #2741
[code]

[2021-05-13 13:15] whedon commented on #2741
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2303

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2303, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-13 13:18] whedon commented on #2741
[code]

[2021-05-13 13:19] danielskatz commented on #2741
👋 @VivianePons - this paper is probably too long and too detailed, but I don't think it's worth cutting it at this point - this is just a thought of something to consider for other future papers

[2021-05-13 13:21] danielskatz commented on #2741
@whedon accept deposit=true

[2021-05-13 13:21] whedon commented on #2741
[code]

[2021-05-13 13:24] whedon commented on #2741
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1392833044705333251) 👈 🐦🐦🐦

[2021-05-13 13:24] whedon commented on #2741
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2304
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02741](https://doi.org/10.21105/joss.02741)
2. If everything look

[2021-05-13 13:38] danielskatz commented on #2741
Congratulations to @shahmoradi (Amir Shahmoradi) and co-author!!

And thanks to @milancurcic and @williamfgc for reviewing, and @VivianePons for editing!

[2021-05-13 13:38] #2741 closed

[2021-05-13 13:38] whedon commented on #2741
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02741/status.svg)](https://doi.org/10.21105/joss.02741)

**We need your help!**

Journal of Open Source Softwa

[2021-05-13 13:40] whedon commented on #3224
:wave: @goldmanm, please update us on how your review is going (this is an automated reminder).

[2021-05-13 13:40] whedon commented on #3224
:wave: @khinsen, please update us on how your review is going (this is an automated reminder).

[2021-05-13 13:45] danielskatz commented on #3232
👋 @drcandacemakedamoore - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-s

[2021-05-13 13:45] danielskatz commented on #3232
@whedon reject

[2021-05-13 13:45] whedon commented on #3232
Paper rejected.

[2021-05-13 13:45] #3232 closed

[2021-05-13 13:46] danielskatz commented on #3181
@htjb - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages f

[2021-05-13 13:46] danielskatz commented on #3181
@whedon reject

[2021-05-13 13:46] whedon commented on #3181
Paper rejected.

[2021-05-13 13:47] #3181 closed

[2021-05-13 13:48] danielskatz commented on #3240
👋 @ArneTillmann - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-

[2021-05-13 13:48] danielskatz commented on #3240
@whedon reject

[2021-05-13 13:48] whedon commented on #3240
Paper rejected.

[2021-05-13 13:48] #3240 closed

[2021-05-13 13:50] danielskatz commented on #3198
@McWhity – Can you explain how reusable this software is?  It seems very specific to one function/one satellite.

[2021-05-13 13:52] danielskatz commented on #3214
@llrs - we've decided we will review this, though there is some chance the reviewers will still comment on scope/size of the work

[2021-05-13 13:53] danielskatz commented on #3214
👋 @mbobra - Would you be able to edit this submission?

[2021-05-13 13:53] danielskatz commented on #3214
@whedon invite @mbobra as editor

[2021-05-13 13:53] whedon commented on #3214
@mbobra has been invited to edit this submission.

[2021-05-13 13:54] danielskatz commented on #3271
@zhanglipku - thanks for offering, but the review has started with other reviewers, so no need at this point...

[2021-05-13 13:57] danielskatz commented on #3115
@whedon accept deposit=true

[2021-05-13 13:57] whedon commented on #3115
[code]

[2021-05-13 13:58] whedon commented on #3115
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1392841797102096387) 👈 🐦🐦🐦

[2021-05-13 13:58] whedon commented on #3115
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2305
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03115](https://doi.org/10.21105/joss.03115)
2. If everything look

[2021-05-13 14:00] htjb commented on #3181
@danielskatz - Thanks for getting back to me on this. I am disappointed that you will not consider this for publication. Could you please clarify for my future reference which of the 'substantially scholarly effort' criterion the software does not meet? Thanks!

[2021-05-13 14:02] eigenfoo commented on #3115
Congrats on the published paper @D-K-E!

[2021-05-13 14:02] danielskatz commented on #3048
👋 @galessiorob - Would you be willing to edit this submission?  It might be a little out of your area, but it's been waiting a while, and I hope you can take it on...

[2021-05-13 14:02] danielskatz commented on #3048
@whedon invite @galessiorob as editor

[2021-05-13 14:02] whedon commented on #3048
@galessiorob has been invited to edit this submission.

[2021-05-13 14:02] llrs commented on #3214
Many thanks, looking forward to the reviewers comments.

[2021-05-13 14:04] yc015 commented on #3156
@elektrobohemian Thank you again for your comments! We highly appreciate your review of our work in this challenging time.

[2021-05-13 14:04] danielskatz commented on #3112
👋 @mikldk - Would you be able to edit this submission?  It might be a little outside of your core area, but it's been waiting a while, and I think you might be able to handle it.

[2021-05-13 14:04] danielskatz commented on #3112
@whedon invite @mikldk as editor

[2021-05-13 14:04] whedon commented on #3112
@mikldk has been invited to edit this submission.

[2021-05-13 14:06] danielskatz commented on #3115
Congratulations to @D-K-E (D. Kaan Eraslan)!!

And thanks to @eigenfoo and @ankurankan for reviewing, and @dfm for editing!

[2021-05-13 14:06] #3115 closed

[2021-05-13 14:06] whedon commented on #3115
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03115/status.svg)](https://doi.org/10.21105/joss.03115)

**We need your help!**

Journal of Open Source Softwa

[2021-05-13 14:15] danielskatz commented on #3181
The size of the code is small - anything under 1000 LOCs is a question for the editors.

In addition, some editors noticed that there is already an astronomy paper about this result and that the paper is more about the result than the software.  And that the code does not appear to be as professionally engineered as it could: some routines save data files on disk as a side affect, many routines la

[2021-05-13 14:26] danielskatz commented on #3275
@karink520 - while we find an editor, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new com

[2021-05-13 14:28] danielskatz commented on #3103
👋 @oliviaguest - Is this a submission you might be able to edit?

[2021-05-13 14:29] danielskatz commented on #3103
@whedon invite @oliviaguest as editor

[2021-05-13 14:29] whedon commented on #3103
@oliviaguest has been invited to edit this submission.

[2021-05-13 14:30] danielskatz commented on #3275
👋 @drvinceknight - Would you be able to edit this submission? I think you will find it interesting...

[2021-05-13 14:30] danielskatz commented on #3275
@whedon invite @drvinceknight as editor

[2021-05-13 14:30] whedon commented on #3275
@drvinceknight has been invited to edit this submission.

[2021-05-13 14:31] whedon opened #3276 "[PRE REVIEW]: InteractionR: An R Package for Full Reporting of Effect Modification and Interaction Analyses"
**Submitting author:** @epi-zen (<a href="http://orcid.org/0000-0002-9687-7864">Babatunde Yusuf Alli</a>)
**Repository:** <a href="https://github.com/epi-zen/interactionR" target ="_blank">https://github.com/epi-zen/interactionR</a>
**Version:** v0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-05-13 14:31] whedon commented on #3276
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-13 14:31] whedon opened #3277 "[PRE REVIEW]: udocker: a user oriented tool for unprivileged Linux containers"
**Submitting author:** @jorge-lip (<a href="http://orcid.org/0000-0002-9142-2596">Jorge Gomes</a>)
**Repository:** <a href="https://github.com/indigo-dc/udocker" target ="_blank">https://github.com/indigo-dc/udocker</a>
**Version:** v1.1.7
**Editor:** @danielskatz
**Reviewers:** @vsoch, @mviereck
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-05-13 14:31] whedon commented on #3277
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-13 14:31] whedon opened #3278 "[PRE REVIEW]: covidregionaldata: Subnational data for COVID-19 epidemiology"
**Submitting author:** @joseph-palmer (<a href="http://orcid.org/0000-0002-5593-9352">Joseph Palmer</a>)
**Repository:** <a href="https://github.com/epiforecasts/covidregionaldata" target ="_blank">https://github.com/epiforecasts/covidregionaldata</a>
**Version:** 0.9.1
**Editor:** @csoneson
**Reviewers:** @mponce0, @federicomarini
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service

[2021-05-13 14:31] whedon commented on #3278
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-13 14:31] whedon opened #3279 "[PRE REVIEW]: The Region Growing Plugin (RegionGrow)"
**Submitting author:** @gro5-AberUni (<a href="http://orcid.org/0000-0002-5054-1548">Gregory Oakes</a>)
**Repository:** <a href="https://github.com/gro5-AberUni/RegionGrow" target ="_blank">https://github.com/gro5-AberUni/RegionGrow</a>
**Version:** V4.1
**Editor:** @hugoledoux
**Reviewers:** @jorgegil, @Geogoeroe
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**