[2020-12-17 19:52] kthyng commented on #2914
@whedon invite @mbobra as editor

[2020-12-17 19:52] whedon commented on #2914
@mbobra has been invited to edit this submission.

[2020-12-17 19:52] kthyng commented on #2914
@kuadrat - thanks! Those submissions will be very helpful. First we'll find a suitable handling editor, and that person will move forward with finding with reviewers.

[2020-12-17 19:56] kthyng commented on #2910
Ok @alemermartinez as per above, I will close this issue. Please resubmit with the paper manuscript in the same repo as the software to be reviewed. Thanks!

[2020-12-17 19:56] kthyng commented on #2910
@whedon withdraw

[2020-12-17 19:56] whedon commented on #2910
Paper withdrawn.

[2020-12-17 19:56] #2910 closed

[2020-12-17 20:01] kthyng commented on #2912
@jirhiker We need the JOSS paper to be in the same repo as the software that is to be reviewed. It can be in a branch if you prefer. As per the [docs](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

Because of this, I am going to close this issue. Please resubmit your software but move the paper to the same repository as the software, and then that link is what you

[2020-12-17 20:01] kthyng commented on #2912
@whedon withdraw

[2020-12-17 20:01] whedon commented on #2912
Paper withdrawn.

[2020-12-17 20:01] #2912 closed

[2020-12-17 20:03] kthyng commented on #2916
@whedon generate pdf

[2020-12-17 20:04] whedon commented on #2916
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02916/joss.02916/10.21105.joss.02916.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02916/joss.02916/10.21105.joss.02916.pdf) :page_facing_up: :point_left:

[2020-12-17 20:04] whedon opened #2918 "[PRE REVIEW]: NiaAML: AutoML framework based on stochastic population-based nature-inspired algorithms"
**Submitting author:** @lukapecnik (<a href="http://orcid.org/0000-0002-3897-9774">Luka Pečnik</a>)
**Repository:** <a href="https://github.com/lukapecnik/NiaAML" target ="_blank">https://github.com/lukapecnik/NiaAML</a>
**Version:** 1.1.0
**Editor:** @arfon
**Reviewers:** @adi3, @sara-02
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2020-12-17 20:04] whedon commented on #2918
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-17 20:05] whedon commented on #2918
[code]

[2020-12-17 20:05] whedon commented on #2918
[code]

[2020-12-17 20:06] whedon commented on #2918
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02918/joss.02918/10.21105.joss.02918.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02918/joss.02918/10.21105.joss.02918.pdf) :page_facing_up: :point_left:

[2020-12-17 20:06] kthyng commented on #2916
@eribul Excellent, things looks good but I did notice one more thing with your paper. Could you capitalize the appropriate items in your second affiliation? It currently looks a bit informal.

What software version would you like associated with your submission?

[2020-12-17 20:08] mbobra commented on #2914
/ooo December 14 until January 4

[2020-12-17 20:11] mbobra commented on #2757
/ooo December 14 until January 4

[2020-12-17 20:14] kthyng commented on #2918
Hi @galessiorob! Are you able to edit this submission?

[2020-12-17 20:14] kthyng commented on #2918
@whedon invite @galessiorob as editor

[2020-12-17 20:14] whedon commented on #2918
@galessiorob has been invited to edit this submission.

[2020-12-17 20:15] kthyng commented on #2914
Ack sorry @mbobra

[2020-12-17 20:17] kthyng commented on #2914
@timtroendle are you up for editing this submission?

[2020-12-17 20:17] kthyng commented on #2914
@whedon invite @timtroendle as editor

[2020-12-17 20:17] whedon commented on #2914
@timtroendle has been invited to edit this submission.

[2020-12-17 20:23] jcmcnch commented on #2817
Hi @akrinos , thanks for your reply, this all looks great. I have just re-downloaded EUKulele using conda (and yes, with the BUSCO issue it was from a conda install but I will try again to make sure I get the same behaviour as before). I do have a few quick questions though:

1. Is there an easy way I confirm I've got the latest and greatest? After doing a clean install, `EUKulele --version` retur

[2020-12-17 20:27] kthyng commented on #2895
Hi @geoffreyp, your paper is missing a section titled "Statement of Need." It also should start with a high level scientific summary that a scientific person not in your area would understand.

[2020-12-17 20:29] kthyng commented on #2895
@melissawm are you able to edit this submission?

[2020-12-17 20:31] kthyng commented on #2895
@whedon invite @melissawm as editor

[2020-12-17 20:31] whedon commented on #2895
@melissawm has been invited to edit this submission.

[2020-12-17 20:35] TheoChristiaanse commented on #2677
We have started also moving the examples to a different repo. This should greatly reduce the size of the repo lowering the core to around 500kb. I will update the docs as we move forward.

[2020-12-17 20:36] kthyng commented on #2896
@kbarnhart are you willing to edit this submission?

[2020-12-17 20:36] kthyng commented on #2896
@whedon invite @kbarnhart as editor

[2020-12-17 20:36] whedon commented on #2896
@kbarnhart has been invited to edit this submission.

[2020-12-17 20:37] alemermartinez commented on #2910
Thank you, Kristen, and my apologies for the misunderstanding.

Kind regards,

Alejandra

-------- Mensaje original --------
De: Kristen Thyng <notifications@github.com>
Fecha: 17/12/20 16:56 (GMT-03:00)
A: openjournals/joss-reviews <joss-reviews@noreply.github.com>
CC: Alejandra Martinez <ale_m_martinez@hotmail.com>, Mention <mention@noreply.github.com>
Asunto: Re: [openjournals/joss-reviews] [PR

[2020-12-17 20:43] kthyng commented on #2904
@jgostick are you able to edit this submission?

[2020-12-17 20:43] kthyng commented on #2904
@whedon invite @jgostick as editor

[2020-12-17 20:44] whedon commented on #2904
@jgostick has been invited to edit this submission.

[2020-12-17 20:49] kthyng commented on #2899
Hi @wvanzeist, thanks for your submission. In discussion with the editorial board at JOSS, a question came up. Your package apparently implements a subset of what is in this package (bilby: https://github.com/lscsoft/bilby). Could you tell us what distinguishes your package from bilby? This is especially important since Riroriro is pretty small for lines of code.

[2020-12-17 20:55] nschloe commented on #2687
@whedon generate pdf

[2020-12-17 20:58] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-12-17 21:04] akrinos commented on #2817
Hi @jcmcnch, thanks so much for the feedback!

1. Unfortunately, I accidentally didn't update the version number on the `conda` side, but did on the `pip` side. I will fix that! But also, the easiest way to check is either to run `conda update`, or to check the Anaconda Cloud page. At the time that I'm writing this, our [page](https://anaconda.org/akrinos/eukulele) indicates that 1.0.1 was updates

[2020-12-17 21:05] akrinos commented on #2817
@whedon generate pdf

[2020-12-17 21:07] whedon commented on #2817
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: :point_left:

[2020-12-17 21:07] mileslucas commented on #2843
I was told to ~turn it off and back on again~ discard the changes and re-submit and it seems to have worked-
https://zenodo.org/record/4323554

[2020-12-17 21:07] mileslucas commented on #2843
@dfm

[2020-12-17 21:11] dfm commented on #2843
@mileslucas: Excellent - Looks good now!

[2020-12-17 21:12] dfm commented on #2843
@whedon check references

[2020-12-17 21:12] whedon commented on #2843
[code]

[2020-12-17 21:12] dfm commented on #2843
@whedon set 10.5281/zenodo.4323554 as archive

[2020-12-17 21:12] whedon commented on #2843
OK. <a href="https://doi.org/10.5281/zenodo.4323554" target="_blank">10.5281/zenodo.4323554</a> is the archive.

[2020-12-17 21:12] dfm commented on #2843
@whedon set v0.5.3 as version

[2020-12-17 21:13] whedon commented on #2843
OK. v0.5.3 is the version.

[2020-12-17 21:13] dfm commented on #2843
@whedon accept

[2020-12-17 21:13] whedon commented on #2843
[code]

[2020-12-17 21:14] kthyng commented on #2672
@whedon reject

[2020-12-17 21:14] whedon commented on #2672
Paper rejected.

[2020-12-17 21:14] #2672 closed

[2020-12-17 21:14] whedon commented on #2843
[code]

[2020-12-17 21:14] whedon commented on #2843
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1992

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1992, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-17 21:15] kthyng commented on #2913
Thank you @somefunAgba, that is helpful!

[2020-12-17 21:15] dfm commented on #2843
@mileslucas: I've handed this off to the Editors-in-Chief to handle the final processing. They might have some last edits for the manuscript and once that's been sorted we'll have this published!

@giordano, @semaphoreP: Thanks for your reviews!! I really appreciate the time that you've put in and for your constructive recommendations for the code. Thanks again!!

[2020-12-17 21:15] kthyng commented on #2913
We can proceed.

@will-rowe Are you up for editing this submission?

[2020-12-17 21:15] kthyng commented on #2913
@whedon invite @will-rowe as editor

[2020-12-17 21:16] whedon commented on #2913
@will-rowe has been invited to edit this submission.

[2020-12-17 21:33] kthyng commented on #2843
Everything looks to be in order! @mileslucas the summary in your paper is excellent! This is uncommon.

We can proceed.

[2020-12-17 21:33] kthyng commented on #2843
@whedon accept deposit=true

[2020-12-17 21:33] whedon commented on #2843
[code]

[2020-12-17 21:34] whedon commented on #2843
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1339685450181697538) 👈 🐦🐦🐦

[2020-12-17 21:34] whedon commented on #2843
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1993
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02843](https://doi.org/10.21105/joss.02843)
2. If everything looks g

[2020-12-17 21:38] kthyng commented on #2843
Congrats on your new publication @mileslucas! Thanks to editor @dfm and reviewers @giordano and @semaphoreP for your time and expertise!!

[2020-12-17 21:39] #2843 closed

[2020-12-17 21:39] whedon commented on #2843
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02843/status.svg)](https://doi.org/10.21105/joss.02843)

**We need your help!**

Journal of Open Source Softwa

[2020-12-17 21:59] jgostick commented on #2914
This needs a 'scope query'.  It's very light, despite having 2k lines of python.  It a jazzed up jupyter notebook for looking at 3d data from different directions.  If it does more than this, it's not documented on the website.

[2020-12-17 22:14] adi3 commented on #2918
I'd be keen to review this one.

[2020-12-17 22:35] kbarnhart commented on #2896
@kthyng I can handle this starting in early Jan.

@giswqs thanks for the submission. It still has the query-scope label, which means we are still determining whether the submission fits the scope of JOSS. I may follow up with some questions/clarifications on this point in early January. Please let me know if you have questions.

[2020-12-17 22:35] kbarnhart commented on #2896
@whedon assign @kbarnhart as editor

[2020-12-17 22:35] whedon commented on #2896
OK, the editor is @kbarnhart

[2020-12-17 22:37] giswqs commented on #2896
@kbarnhart No problem. Thank you for the consideration.

[2020-12-17 22:48] Mmj94 commented on #2578
Thank you.

Regarding your question, I usually correct each channel independently and then combine them since that's what I've read is most common in the literature. But yes, the tool would work on coil-combined first complex data as well.

[2020-12-18 02:15] jdmoorman commented on #2862
Thanks for elaborating on the origins of the package! Can you confirm that no other authors/contributors to the original proprietary package should be included as authors for your submission?

[2020-12-18 02:21] jni commented on #2578
Hi @Mmj94,

@emilljungberg and I had a private conversation about this, as he felt pretty strongly about the above requirements pre-publication, but wasn't sure about JOSS's editorial policy regarding significant revisions. I'm sorry that things were taking so long. Emil essentially summarised it above — that adding ~~two~~ one feature~~s~~ would significantly strengthen the software's position an

[2020-12-18 08:35] mosteo commented on #2783
Hi @arfon, for some reason I was not getting notifications from here. I'm going to review my settings to fix this for the future.

[2020-12-18 08:55] eribul commented on #2916
@kthyng thanks! Capitalization has now been performed :-) The current version is v0.13.2

[2020-12-18 09:02] timtroendle commented on #2914
/ooo December 21 until January 4

[2020-12-18 09:02] geoffreyp commented on #2895
@whedon generate pdf

[2020-12-18 09:02] timtroendle commented on #2914
@kthyng Could do, but will be ooo for two weeks.

[2020-12-18 09:02] whedon commented on #2895
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02895/joss.02895/10.21105.joss.02895.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02895/joss.02895/10.21105.joss.02895.pdf) :page_facing_up: :point_left:

[2020-12-18 09:06] geoffreyp commented on #2895
Hello @kthyng, thank you for your feedback. The paper is updated with the "Statement of Need" section.

[2020-12-18 09:21] dmey commented on #2863
@khinsen many thanks for your feedback -- apologies for getting back just now but I generally like to respond to the two reviews in one sweep. @oliviaguest would you have any updates on the status of the second review please?

[2020-12-18 09:29] will-rowe commented on #2913
Hi all. I'd be happy to but I am on leave until early January now, as I imagine most reviewers will be. I can take this on in the new year if that suits everyone.

[2020-12-18 09:43] koenderks commented on #2733
Dear Vince, Trevor, and Ferry,

I hope you are all doing well in these last days of 2020. Yesterday a new version of JASP has come out (0.14.1), and I have rebased the code in the submission repository ([branch JfA-JOSS](https://github.com/koenderks/jasp-desktop/tree/JfA-JOSS)) to be the same as the code for the new release. JASP 0.14.1 can be downloaded from the JASP website (www.jasp-stats.org).

[2020-12-18 10:21] mosteo commented on #2783
Opened a PR with proofreading fixes: SteveMacenski/slam_toolbox#317

[2020-12-18 10:26] mosteo commented on #2783
Installation verified by installing the `ros-foxy-slam-toolbox` package.

[2020-12-18 12:43] pdebuyl commented on #2854
Hi @rmorgan10 thanks for the heads up. I'll check back in two weeks as well.

[2020-12-18 12:52] pdebuyl commented on #2828
Hi @briandesilva the note on windows is fine, thank you. Regarding performance, I only looked at the paper, it is fine in the doc sorry.

[2020-12-18 15:06] kthyng commented on #2916
@whedon generate pdf

[2020-12-18 15:08] whedon commented on #2916
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02916/joss.02916/10.21105.joss.02916.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02916/joss.02916/10.21105.joss.02916.pdf) :page_facing_up: :point_left:

[2020-12-18 15:09] kthyng commented on #2916
@eribul Excellent! We're all set now then. I will finish with the publication.

[2020-12-18 15:09] kthyng commented on #2916
@whedon set v0.13.2 as version

[2020-12-18 15:09] whedon commented on #2916
OK. v0.13.2 is the version.

[2020-12-18 15:09] kthyng commented on #2916
@whedon set 10.5281/zenodo.4329526 as archive

[2020-12-18 15:09] whedon commented on #2916
OK. <a href="https://doi.org/10.5281/zenodo.4329526" target="_blank">10.5281/zenodo.4329526</a> is the archive.

[2020-12-18 15:10] kthyng commented on #2916
@whedon accept

[2020-12-18 15:10] whedon commented on #2916
[code]

[2020-12-18 15:11] whedon commented on #2916
[code]

[2020-12-18 15:12] whedon commented on #2916
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1994

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1994, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-18 15:13] kthyng commented on #2916
@eribul Ah, I missed the missing DOI note before. Can you update your references with that missing DOI too?

[2020-12-18 15:16] trstewart212 commented on #2733
Hi Koen,
This is helpful and I made a bit of progress, but I need help. Just to try it out, I ran the Evaluation option against the overstatement test dataset of 3,500 items. I made up performance materiality of 1%, population size of 100,000 and value of $10,000,000. I am now looking at the screen below. Some questions:
How do we get a negative total tainting/most likely error and a negative 95%

[2020-12-18 15:20] kthyng commented on #2899
I'm keeping the scope query in place while we hear more about this submission, but I want to bring in @dfm who would be the likely handling editor.

[2020-12-18 15:20] kthyng commented on #2899
@whedon invite @dfm as editor

[2020-12-18 15:20] whedon commented on #2899
@dfm has been invited to edit this submission.

[2020-12-18 15:26] kthyng commented on #2914
Ok let's do this. We'll scope query based on @jgostick's comment, and I will also add @timtroendle as the handling editor for when back from being out of office. If the submission passes the scope query, we'll have our editor in place.

@kuadrat It's possible you'll hear back about the scope query next week, but it may be after the holidays at this point. Thanks for your patience.

[2020-12-18 15:26] kthyng commented on #2914
@whedon query scope

[2020-12-18 15:26] whedon commented on #2914
Submission flagged for editorial review.

[2020-12-18 15:26] kthyng commented on #2914
@whedon assign @timtroendle as editor

[2020-12-18 15:27] koenderks commented on #2733
Hi Trevor,

Unfortunately, it seems like your screenshot is not displayed. Can you maybe retry posting the screen you are looking at?

[2020-12-18 15:27] kthyng commented on #2914
Sorry for all the notes. Actually I will wait to add @timtroendle as editor for book keeping reasons in the system. Thanks everyone!

[2020-12-18 15:28] kthyng commented on #2914
@whedon remove @timtroendle as editor

[2020-12-18 15:28] whedon commented on #2914
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-18 15:29] kthyng commented on #2914
@openjournals/dev sorry for the trouble, but can I remove the editor I added?

[2020-12-18 15:31] koenderks commented on #2733
This is my screen with the abovementioned options, yours is not the same I imagine?

![image](https://user-images.githubusercontent.com/25059399/102631703-5983da80-414e-11eb-8379-b847a80db5cd.png)

[2020-12-18 15:35] kuadrat commented on #2914
Alright thanks! I'm in no rush and didn't expect the process to go particularly fast during this time of the year anyways, so no worries at all.
It sounds like there is no action required on my behalf with regards to this 'scope query'?

[2020-12-18 15:36] kthyng commented on #2913
@will-rowe Agreed. I will add you as editor now but with the understanding that you will start on it in the new year.

[2020-12-18 15:36] trstewart212 commented on #2733
My screen is the same. I don’t know why the paste didn’t work.

Sent from my iPhone

Trevor Stewart

[2020-12-18 15:36] kthyng commented on #2913
@whedon assign @will-rowe as editor

[2020-12-18 15:36] whedon commented on #2913
OK, the editor is @will-rowe

[2020-12-18 15:37] kthyng commented on #2914
Yes @kuadrat that's correct, nothing to do on your part currently.

[2020-12-18 15:52] koenderks commented on #2733
Yes, I'm sorry I pasted the wrong screen unfortunately, this is the correct one. I think the variable "bookValues" must be placed under the header "Ist position" and the variable "auditValues" under the header "Soll position" to get the correct output.

![image](https://user-images.githubusercontent.com/25059399/102632393-53422e00-414f-11eb-8703-797b535a2f8b.png)

[2020-12-18 15:52] kthyng commented on #2851
Hi @wolfeclw and thanks for your submission. Unfortunately, the editorial board did decide that this submission is a bit too thin to pass our [scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) bar.

I don't quite understand your comment above, but if you mean that the `pufpR` package should also be reviewed with `circleclust`, it's possible that would

[2020-12-18 15:52] kthyng commented on #2851
@whedon reject

[2020-12-18 15:52] whedon commented on #2851
Paper rejected.

[2020-12-18 15:52] #2851 closed

[2020-12-18 15:55] whedon opened #2919 "[PRE REVIEW]: Pychron: Automated Data Collection and Reduction for Noble Gas and Ar/Ar Geochronology"
**Submitting author:** @jirhiker (<a href="http://orcid.org/0000-0003-4727-7472">Jake Ross</a>)
**Repository:** <a href="https://github.com/NMGRL/pychron" target ="_blank">https://github.com/NMGRL/pychron</a>
**Version:** v20.1
**Editor:** @richardjgowers
**Reviewers:** @bovee, @pvermees
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2020-12-18 15:55] whedon commented on #2919
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-18 15:55] whedon opened #2920 "[PRE REVIEW]: VAST: The Void Analysis Software Toolkit"
**Submitting author:** @kadglass (<a href="http://orcid.org/0000-0002-9540-546X">Kelly Douglass</a>)
**Repository:** <a href="https://github.com/DESI-UR/VAST" target ="_blank">https://github.com/DESI-UR/VAST</a>
**Version:** v1.0.0-alpha
**Editor:** @dfm
**Reviewers:** @changhoonhahn, @lavaux
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-12-18 15:55] whedon commented on #2920
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-18 15:55] whedon opened #2921 "[PRE REVIEW]: AutoGMM: Automatic and hierarchical gaussian mixture modeling in Python"
**Submitting author:** @tliu68 (<a href="http://orcid.org/0000-0003-0232-2495">Tingshan Liu</a>)
**Repository:** <a href="https://github.com/tliu68/graspologic" target ="_blank">https://github.com/tliu68/graspologic</a>
**Version:** v0.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2020-12-18 15:55] whedon commented on #2921
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-18 15:55] whedon opened #2922 "[PRE REVIEW]: iceFEM: A FreeFem package for wave induced ice-shelf vibrations"
**Submitting author:** @Balaje (<a href="http://orcid.org/0000-0001-6181-1876">Balaje K</a>)
**Repository:** <a href="https://github.com/Balaje/iceFem" target ="_blank">https://github.com/Balaje/iceFem</a>
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @corentin-dev, @iammix
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-12-18 15:56] whedon commented on #2922
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-18 15:56] whedon opened #2923 "[PRE REVIEW]: fastPLI: A Fiber Architecture Simulation Toolbox for 3D-PLI"
**Submitting author:** @fmatuschke (<a href="http://orcid.org/0000-0001-6435-5351">Felix Matuschke</a>)
**Repository:** <a href="https://github.com/3d-pli/fastpli" target ="_blank">https://github.com/3d-pli/fastpli</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewers:** @vigji
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2020-12-18 15:56] whedon commented on #2923
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-18 15:57] whedon commented on #2919
PDF failed to compile for issue #2919 with the following error:

 Can't find any papers to compile :-(

[2020-12-18 15:58] whedon commented on #2920
[code]

[2020-12-18 15:58] whedon commented on #2920
[code]

[2020-12-18 15:58] kthyng commented on #2919
Hi @jirhiker and thanks for resubmitting. Did you include the JOSS paper in this repo? That is required for us to be able to review. Please add it in.

[2020-12-18 15:59] whedon commented on #2921
Failed to discover a `Statement of need` section in paper

[2020-12-18 15:59] trstewart212 commented on #2733
Oh, okay thanks. “Soll” is not a term used in the US or the Anglo auditing world, but I do know it from my work in the Netherlands and should have known that it means auditValue in this context. Just forgot. My other questions remain.
Trevor

Trevor Stewart
175 West 13th Street, Apt 19D
New York, NY 10011
+1(212)929-0321
+1(917)402-9800 iPhone
trsny@verizon.net

On Dec 18, 2020, at 10:52, Koen Der

[2020-12-18 16:00] whedon commented on #2921
[code]

[2020-12-18 16:02] whedon commented on #2920
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02920/joss.02920/10.21105.joss.02920.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02920/joss.02920/10.21105.joss.02920.pdf) :page_facing_up: :point_left:

[2020-12-18 16:04] whedon commented on #2921
[code]

[2020-12-18 16:05] whedon commented on #2919
[code]

[2020-12-18 16:05] wkirgsn commented on #2498
Here's the badge:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4355691.svg)](https://doi.org/10.5281/zenodo.4355691)

I am afraid the author names, their number and their order do not match that of the JOSS paper, as in the mean time there were several other contributors (which is natural for open-source SW), that were extracted automatically from github for the zenodo doi generation.
Howev

[2020-12-18 16:06] whedon commented on #2922
[code]

[2020-12-18 16:06] whedon commented on #2921
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02921/joss.02921/10.21105.joss.02921.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02921/joss.02921/10.21105.joss.02921.pdf) :page_facing_up: :point_left:

[2020-12-18 16:07] whedon commented on #2923
Failed to discover a `Statement of need` section in paper

[2020-12-18 16:07] whedon commented on #2922
[code]

[2020-12-18 16:07] whedon commented on #2923
[code]

[2020-12-18 16:07] whedon commented on #2922
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02922/joss.02922/10.21105.joss.02922.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02922/joss.02922/10.21105.joss.02922.pdf) :page_facing_up: :point_left:

[2020-12-18 16:07] whedon commented on #2923
[code]

[2020-12-18 16:08] whedon commented on #2923
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02923/joss.02923/10.21105.joss.02923.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02923/joss.02923/10.21105.joss.02923.pdf) :page_facing_up: :point_left:

[2020-12-18 16:08] kthyng commented on #2920
Hi @kadglass and thanks for your submission. It looks to me like your submission is in scope for JOSS, but light on some of our packaging requirements, like clear documentation for how to use each of the two subpackages. The readme's are a start, and I see references to example scripts, but it is likely that under review these would need to be expanded. The reviewers will use your software and the

[2020-12-18 16:08] kthyng commented on #2920
@pibion are you able to edit this submission?

[2020-12-18 16:09] kthyng commented on #2920
@whedon invite @pibion as editor

[2020-12-18 16:09] whedon commented on #2920
@pibion has been invited to edit this submission.

[2020-12-18 16:14] kthyng commented on #2919
@richardjgowers are you able to edit this submission?

[2020-12-18 16:14] kthyng commented on #2919
@whedon invite @richardjgowers as editor

[2020-12-18 16:14] whedon commented on #2919
@richardjgowers has been invited to edit this submission.

[2020-12-18 16:20] kthyng commented on #2921
Hi @tliu68 and thanks for your submission. I am confused about a couple of things.
1. the [repo](https://github.com/tliu68/graspologic) associated with your submission has a completely different name than this submission. Was this a mistake?
2. your paper is far too long. Please review the [paper requirements](https://joss.readthedocs.io/en/latest/review_criteria.html#the-joss-paper).

I am going

[2020-12-18 16:31] drvinceknight commented on #2733
Hi both, it looks like you are making progress. I am going offline for two weeks (from more or less now). I will pick this up on my return.

[2020-12-18 16:32] drvinceknight commented on #2733
/ooo December 18th until January 4th

[2020-12-18 16:33] drvinceknight commented on #2871
Hi both I will be offline from today for about 2 weeks.

[2020-12-18 16:33] drvinceknight commented on #2871
/ooo December 18th until January 4th

[2020-12-18 16:41] sbenthall commented on #2605
Ping @gdede-hua  What would you like the next actions to be, with respect to this submission?

[2020-12-18 16:42] sbenthall commented on #2749
@jarvist have you been able to make any progress towards your review?

[2020-12-18 16:48] kthyng commented on #2923
@oliviaguest are you up for editing this submission?

[2020-12-18 16:48] kthyng commented on #2923
@whedon invite @oliviaguest as editor

[2020-12-18 16:48] whedon commented on #2923
@oliviaguest has been invited to edit this submission.

[2020-12-18 16:49] kthyng commented on #2923
@fmatuschke in the meantime, please see the notes above about a missing DOI and statement of need.

[2020-12-18 16:54] kthyng commented on #2922
@diehlpk would this be up your alley (on the math and solver side)? Are you able to edit this?

[2020-12-18 16:54] kthyng commented on #2922
@whedon invite @diehlpk as editor

[2020-12-18 16:54] whedon commented on #2922
@diehlpk has been invited to edit this submission.

[2020-12-18 17:13] eribul commented on #2916
@kthyng No problem! I have updated it now!

[2020-12-18 18:02] kthyng commented on #2916
@whedon generate pdf

[2020-12-18 18:04] whedon commented on #2916
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02916/joss.02916/10.21105.joss.02916.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02916/joss.02916/10.21105.joss.02916.pdf) :page_facing_up: :point_left:

[2020-12-18 18:20] sbenthall commented on #2855
I apologize for the delay in my review.
There have been some personal issues on my end that have needed extra attention.
I'm proceeding with my review now.

[2020-12-18 18:24] DavidNickle commented on #2906
**Conflict of interest:** I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
Code of Conduct

**Repository:** The source code for this software is available at the repository url

**License:** The repository containa a plain-text LICENSE file with the c

[2020-12-18 18:32] whedon commented on #2880
:wave: @AngryMaciek, please update us on how your review is going.

[2020-12-18 18:32] whedon commented on #2880
:wave: @adi3, please update us on how your review is going.

[2020-12-18 18:37] kthyng commented on #2916
@whedon accept

[2020-12-18 18:37] whedon commented on #2916
[code]

[2020-12-18 18:37] whedon commented on #2916
[code]

[2020-12-18 18:38] whedon commented on #2916
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1995

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1995, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-18 18:40] vahid-sb commented on #2880
Dear @AngryMaciek and @adi3, I have seen your constructive comments, and I plan to make the necessary changes but I am busy with ongoing commitments and deadlines and very unlikely that I can come back to you in December. I am not sure if there is a time limit for the review process. My plan is to address the raised issues in the first half of January. Dear @majensen, please advise if this is fine

[2020-12-18 18:41] sbenthall commented on #2855
I think this is terribly exciting and I am eager to see it published in the best form possible. To that end:

* Please document the requirement that Conda needs to be installed to run the installation instructions.
* Is there any other comparable software that should be considered as the 'state of the field' in this line of research?
* I understand that the library has been designed for flexibilit

[2020-12-18 18:43] kthyng commented on #2916
@whedon accept deposit=true

[2020-12-18 18:43] whedon commented on #2916
[code]

[2020-12-18 18:44] whedon commented on #2916
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1340005093073104905) 👈 🐦🐦🐦

[2020-12-18 18:44] whedon commented on #2916
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1996
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02916](https://doi.org/10.21105/joss.02916)
2. If everything looks g

[2020-12-18 18:46] kthyng commented on #2916
Congrats on your JOSS publication @eribul!!

[2020-12-18 18:46] #2916 closed

[2020-12-18 18:46] whedon commented on #2916
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02916/status.svg)](https://doi.org/10.21105/joss.02916)

**We need your help!**

Journal of Open Source Softwa

[2020-12-18 18:51] adi3 commented on #2880
@majensen suggest pausing the review till @vahid-sb is ready with his changes.

[2020-12-18 19:15] sbenthall commented on #2855
When I get to the `sh run.sh` part of the instructions in the README, I get the following error:

https://gist.github.com/sbenthall/83de0ce8675283c01d3f3fa973dc6f38

[2020-12-18 19:20] jdmoorman commented on #2862
I have completed my review.

The issues I created on the [target repository](https://github.com/mengaldo/PySPOD/issues) that are linked to this review issue are acceptance-blockers. The other issues I created are just suggestions to improve the project. Additionally,

- [ ] DOIs should be added to the references in the paper.

[2020-12-18 19:25] majensen commented on #2880
@adi3 thanks for the suggestion. Right now, I think we can leave the review open-  @vahid-sb, this is of course common for all of us especially at the year end. I appreciate your setting the expectations; a January timeframe is great.

(I sort of reserve pauses when an author has to drop the work for an indeterminate period. The problem with the "paused" flag is that it causes me to exclude the pa

[2020-12-18 20:00] vahid-sb commented on #2880
@majensen @adi3 @AngryMaciek Thanks again to you all. I'd come back to you as soon as I can, as I said my plan is the first half of January.

[2020-12-18 20:27] nschloe commented on #2687
@whedon generate pdf

[2020-12-18 20:28] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-12-18 20:51] nschloe commented on #2687
This is good to go from my point of view.

Just for the record, let me add a few remarks.

 * @krober10nd was exceptionally responsive to the remarks, and I think the software and the article have greatly improved in the process.
 * I'm not a big fan of how the software targets seismologists only. SeismicMesh is a parallel implementation of distmesh, and as such is general-purpose mesh generator.

[2020-12-18 20:55] krober10nd commented on #2687
Thank you Nico! It has been a great pleasure to work on this with these reviewers. I agree with your comments as well.

I've learned a tremendous amount from you guys and I really enjoyed this review process especially the open nature of it! Look forward to seeing your articles appear on here @nschloe!

[2020-12-18 21:06] diehlpk commented on #2922
@kthyng Yes, but I will only be able to work it beginning of January.

[2020-12-19 06:18] somefunAgba commented on #2913
@whedon generate pdf

[2020-12-19 06:19] whedon commented on #2913
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02913/joss.02913/10.21105.joss.02913.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02913/joss.02913/10.21105.joss.02913.pdf) :page_facing_up: :point_left:

[2020-12-19 12:38] mattansb commented on #2815
(@trashbirdecology @jkarreth I have also made the `main` branch the base branch for the repo.)

Thanks all!

[2020-12-19 12:38] mattansb commented on #2815
@whedon generate pdf

[2020-12-19 12:40] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-19 13:14] melissawm commented on #2895
Yes, I can edit this submission. Thanks @kthyng !

[2020-12-19 13:15] melissawm commented on #2895
@whedon assign @melissawm as editor

[2020-12-19 13:15] whedon commented on #2895
OK, the editor is @melissawm

[2020-12-19 16:35] bradkav commented on #2823
Review:

pyhf is an incredibly useful tool, which is already an important part of the HEP analysis ecosystem. Installation is straightforward and there are plenty of examples. Before I can recommend publication in JOSS, I just have a few minor comments and suggestions, aimed mostly at making the code more accessible to newcomers.

- [ ]  **Documentation:** Some brief examples/documentation are pro

[2020-12-19 17:09] danielskatz commented on #2914
@whedon unassign @timtroendle as editor

[2020-12-19 17:09] whedon commented on #2914
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-19 17:33] danielskatz commented on #2899
@whedon assign @dfm as editor

Thanks @dfm

[2020-12-19 17:33] whedon commented on #2899
OK, the editor is @dfm

[2020-12-19 17:37] dfm commented on #2899
@wvanzeist In case you missed it, please respond to @kthyng's [question above](https://github.com/openjournals/joss-reviews/issues/2899#issuecomment-747693470) when you get a chance. Thanks!

[2020-12-19 17:39] kratsg commented on #2823
Hi @bradkav  - thanks for reviewing. For the example in the README, you should use the full block of code to the last `EOF`, that is (see below). Admittedly, this is probably not so obvious for users not familiar with all the features on the command line, so if you have suggestions on how to rephrase this, let us know!

For "Tests" - the straightforward way is through `pytest` - and just running `

[2020-12-19 20:13] visr commented on #2813
I'm basically done with review, only I don't yet feel confident to tick off the "Functionality" and "Functionality Documentation" boxes just yet, but that is being discussed in https://github.com/JuliaClimate/IndividualDisplacements.jl/issues/38.

[2020-12-19 21:25] diehlpk commented on #2922
@whedon assign @diehlpk as editor

[2020-12-19 21:26] whedon commented on #2922
OK, the editor is @diehlpk

[2020-12-19 21:39] danielskatz commented on #2919
@whedon generate pdf from branch manuscript

[2020-12-19 21:39] whedon commented on #2919
[code]

[2020-12-19 21:40] whedon commented on #2919
PDF failed to compile for issue #2919 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:155:in `new'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a

[2020-12-19 21:40] danielskatz commented on #2919
@whedon check references from branch manuscript

[2020-12-19 21:40] whedon commented on #2919
[code]

[2020-12-19 21:40] whedon commented on #2919
[code]

[2020-12-19 21:42] danielskatz commented on #2919
👋 @jirhiker - your paper doesn't compile due to blank orcid lines - for authors without orcids, just remove the orcid line in the metadata.  Then use the command I did above to try to generate the PDF again

[2020-12-19 21:43] danielskatz commented on #2918
Thanks @adi3 - once there is an editor assigned, they will decide on reviewers, and likely accept your offer

[2020-12-20 07:51] arfon commented on #2597
OK, this sounds reasonable. Please proceed.

[2020-12-20 07:56] arfon commented on #2870
:wave: @MilesMcBain & @tweed1e - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission to be reviewed here is _bcdata: An R package for searching & retrieving data from the B.C. Data Catalogue_.

- The software: https://githu

[2020-12-20 09:39] jodemaey commented on #2597
Ok thanks, I will proceed as soon as possible.

[2020-12-20 09:40] jodemaey commented on #2597
@whedon generate pdf from branch joss

[2020-12-20 09:40] whedon commented on #2597
[code]

[2020-12-20 09:40] whedon commented on #2597
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02597/joss.02597/10.21105.joss.02597.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02597/joss.02597/10.21105.joss.02597.pdf) :page_facing_up: :point_left:

[2020-12-20 10:43] JannisHoch commented on #2855
Hi @sbenthall,
Absolutely no problem!

From your comments I assume you were not looking at the most recent version of the model.
For instance, in the joss-review branch (https://github.com/JannisHoch/copro/tree/joss_review), there is no file run.sh anymore. It is renamed to 'run_notebooks.sh' for running the jupyter notebooks, and 'run_script_*.sh' for executing the command line scripts.

If your

[2020-12-20 11:08] jodemaey commented on #2597
Hi @arfon ,

I've just merged the JOSS branch in master and released a new version [v0.2.1](https://github.com/Climdyn/qgs/releases/tag/v0.2.1) containing the paper and the modifications. Zenodi has automatically generated a new DOI: 10.5281/zenodo.4368844 that is already linked on the main page. Do I need to generate a specific archive for the article as you mentioned?

Also, please note that the

[2020-12-20 11:29] oliviaguest commented on #2863
@dmey I will send a message to @mnarayan but (!) I also think it's important to be a bit understanding with reviewers and their time. So I am going to ask Manjari to get back to us, but given both pandemic and holidays I don't want to push too much right now. I hope this makes sense and is OK for everybody involved. 😊

[2020-12-20 11:32] oliviaguest commented on #2891
@themkar, @CatarauCorina, and @jkbye — can you please post a rough ETA for your reviews, please?

[2020-12-20 11:33] oliviaguest commented on #2863
Oh, and of course... @dmey what you can do is work on the changes @khinsen might have highlighted, if you want to do something (that might help) to speed this along.

[2020-12-20 12:00] JannisHoch commented on #2855
in f9326d36bcbf20e93a54e6ea5733f1ae515f4477 I have added notes that the model was developed and tested with anaconda/miniconda.

[2020-12-20 12:04] JannisHoch commented on #2855
regarding your question of other state-of-the-art software: to my knowledge, there is no freely available software model with such an extensive documentation out there. of course there is model code as supplement to a publication, and publications covering similar approaches (see the references in the joss manuscript), but not in a 'structured' way like done for CoPro.

[2020-12-20 12:18] JannisHoch commented on #2855
I also have added a bit more technical detail to the JOSS manuscript. based on the review of @soodoku, the model goal and purpose were made clearer in the README and in the documentation.

[2020-12-20 13:04] tweed1e commented on #2870
In! 👍

[2020-12-20 15:06] jgostick commented on #2767
Hi @Kokookster , can you address the rest of the checkboxes in my comment above?  Get a doi, tell me the version number, double check author affiliations, etc?

[2020-12-20 15:20] jgostick commented on #2861
sorry for the delay here...still looking for reviewers.  Probably will spill over into the new year.

[2020-12-20 17:51] matthewfeickert commented on #2823
@whedon generate pdf from branch docs/add-JOSS-paper

[2020-12-20 17:51] whedon commented on #2823
[code]

[2020-12-20 17:52] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2020-12-20 18:00] matthewfeickert commented on #2823
Thanks for the review @bradkav! We really appreciate it. :slightly_smiling_face: I've had whedon update the draft with the corrections (c.f. above comment).

There is currently a badge at the top of the README that links to the documentation:

[![Docs](https://img.shields.io/badge/docs-master-blue.svg)](https://scikit-hep.github.io/pyhf)

seen also in this screenshot

![README_screen_shot](https:/

[2020-12-20 20:28] danielskatz commented on #2900
@marcosvital - going forward, if you can refrain from becoming the editor of papers undergoing scope discussion, it would make it easier for AEiCs to track and act on the scope discussion

[2020-12-20 20:53] whedon commented on #2890
:wave: @tscheypidi, please update us on how your review is going.

[2020-12-20 20:53] whedon commented on #2890
:wave: @sahilseth, please update us on how your review is going.

[2020-12-20 22:28] briandesilva commented on #2828
Hi @pdebuyl, I've looked back over @jordanperr's feedback and saw that the following comment may not have been completely addressed:

I've added a brief description of a sensor to the first sentence of the paper. I think our other recent updates help clarify what we mean by "optimization of sensor placement", but please let me know if you feel otherwise.

[2020-12-20 23:44] wvanzeist commented on #2899
Thank you for your comment. Work on Riroriro actually began before Bilby was published, which is why we hadn't come across it in our initial literature review of gravitational wave models. Since it is a related package and notably open-source and in Python, I will add a mention about it in the Riroriro paper.

However, Riroriro's functionality is not the same as that of Bilby. Bilby and Riroriro a

[2020-12-21 01:40] zingale commented on #2807
I think I'm basically done with my review.  The authors address the 4 issues I filed.  I'll continue to poke around a bit, but it looks good to me.

[2020-12-21 02:26] jedbrown commented on #2185
@whedon generate pdf

[2020-12-21 02:26] whedon commented on #2185
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02185/joss.02185/10.21105.joss.02185.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02185/joss.02185/10.21105.joss.02185.pdf) :page_facing_up: :point_left:

[2020-12-21 05:19] lydialucchesi commented on #2409
Dear @GISerDaiShaoqing ,

Thank you for taking the time to review Vizumap. We have addressed the suggested revisions, and below are comments regarding each revision. Additionally, all edits to the package and paper have been documented here: https://github.com/lydialucchesi/Vizumap/blob/master/paper/revisions.md.

**General checks**

We accidentally submitted the wrong version number in the JOSS s

[2020-12-21 05:28] lydialucchesi commented on #2409
Following is a link comparing the repo that was reviewed and the updated version: https://github.com/lydialucchesi/Vizumap/compare/8b28d0f...1b96771.

[2020-12-21 08:41] mikldk commented on #2815
@whedon generate pdf

[2020-12-21 08:42] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-21 08:42] mikldk commented on #2815
@whedon check references

[2020-12-21 08:42] whedon commented on #2815
[code]

[2020-12-21 08:44] mikldk commented on #2815
@mattansb Please correct the references mentioned above.

[2020-12-21 08:46] mikldk commented on #2878
@kdorheim, @r-barnes, would you mind giving a brief status of your progress?

[2020-12-21 08:46] mikldk commented on #2892
@salleuska, @rMassimiliano, would you mind giving a brief status of your progress?

[2020-12-21 09:01] tscheypidi commented on #2890
I finished my first round of review and will get back to it when the authors had some chance to respond to the remaining issues.

[2020-12-21 09:24] mattansb commented on #2815
The first DOI is not a DOI, but an ISBN - not sure why whedon recognizes is at a DOI...?

The second DOI was removed - the book has an ISBN instead.

@mikldk let me know if this is sufficient.

[2020-12-21 11:15] Kevin-Mattheus-Moerman commented on #2474
@tomaslaz it looks like you have not completed point 2 of my request :point_up: in relation to the affiliations. It may feel double/excessive to add town names and spell out the country but we'd like to be more homogeneous in our approach across submissions.

[2020-12-21 11:16] Kevin-Mattheus-Moerman commented on #2498
@whedon set 10.5281/zenodo.4355691 as archive

[2020-12-21 11:16] whedon commented on #2498
OK. <a href="https://doi.org/10.5281/zenodo.4355691" target="_blank">10.5281/zenodo.4355691</a> is the archive.

[2020-12-21 11:16] Kevin-Mattheus-Moerman commented on #2498
@whedon set v0.3.1 as version

[2020-12-21 11:16] whedon commented on #2498
OK. v0.3.1 is the version.

[2020-12-21 11:21] Kevin-Mattheus-Moerman commented on #2498
@wkirgsn  thanks for those updates. I set the archive and update the version tag. You do need to amend the archive metadata for the title and authors to match that of the paper.

- [ ] You need to either add the additional contributors as co-authors on the paper (you'll ideally need their full names/affiliations), or you need to remove them from the archive listing on Zenodo.
- [ ] Change the titl

[2020-12-21 11:41] mikldk commented on #2815
@whedon check references

[2020-12-21 11:44] whedon commented on #2815
[code]

[2020-12-21 11:46] mikldk commented on #2815
@mattansb, can you try also entering `DOI = {10.1002/9781118619179}` for the book instead of just the ISBN? That should be the correct one according to <https://onlinelibrary.wiley.com/doi/book/10.1002/9781118619179>. (We like DOI's :smiley:.)

[2020-12-21 11:49] mattansb commented on #2815
Opps - I misread that!
(Who doesn't like a good ol' DOI?)

Done (: Thanks!

[2020-12-21 12:36] pdebuyl commented on #2828
@whedon generate pdf

[2020-12-21 12:38] whedon commented on #2828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: :point_left:

[2020-12-21 13:14] mikldk commented on #2815
@whedon check references

[2020-12-21 13:15] whedon commented on #2815
[code]

[2020-12-21 13:16] mikldk commented on #2815
@whedon generate pdf

[2020-12-21 13:17] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-21 13:19] mikldk commented on #2815
@whedon accept

[2020-12-21 13:19] whedon commented on #2815
No archive DOI set. Exiting...

[2020-12-21 13:20] mikldk commented on #2815
@mattansb :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/latest/submitting.html#the-review-process>), and report the version number and archive DOI in this thread. Please ve

[2020-12-21 13:50] mattansb commented on #2815
@whedon generate pdf

[2020-12-21 13:51] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-21 13:55] whedon commented on #2891
:wave: @jkbye, please update us on how your review is going.

[2020-12-21 13:55] whedon commented on #2891
:wave: @themkar, please update us on how your review is going.

[2020-12-21 13:55] whedon commented on #2891
:wave: @CatarauCorina, please update us on how your review is going.

[2020-12-21 13:59] lpantano commented on #2857
I am working on getting reviewers, but at this time it is a little hard. @ZeyuanSong , do you have some suggestions for reviewers?

[2020-12-21 13:59] tpoisot commented on #2829
I can't seem to edit the comment at the top - that being said, I have used Omniscape extensively, and there is no doubt that it is production-ready, efficient, and user-friendly. If anything, the current paper is selling the software short a little bit. Omniscape can be deployed on HPC to really benefit from the built-in multi-threading, and the variety of input/output formats is really important

[2020-12-21 14:26] Maghnuso commented on #2906
@whedon generate pdf

[2020-12-21 14:27] whedon commented on #2906
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02906/joss.02906/10.21105.joss.02906.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02906/joss.02906/10.21105.joss.02906.pdf) :page_facing_up: :point_left:

[2020-12-21 14:27] melissawm commented on #2829
@tpoisot let's try this once more. If even after accepting the invitation you can't edit, we might be looking at a bug in whedon or some other issue we might need to investigate.

[2020-12-21 14:27] melissawm commented on #2829
@whedon re-invite @tpoisot as reviewer

[2020-12-21 14:27] whedon commented on #2829
OK, the reviewer has been re-invited.

@tpoisot please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-21 14:42] mattansb commented on #2815
@mikldk Thanks!

I'm done with the proofread - made some minor changes.

The Zenodo doi is [10.5281/zenodo.4382272](https://zenodo.org/record/4382272#.X-C0Ctgza70) (just generated, so might not yet be live.)

[2020-12-21 15:00] melissawm commented on #2895
Hello @geoffreyp ! Do you have any suggestions for reviewers from the [JOSS reviewer list](https://bit.ly/joss-reviewers)?

[2020-12-21 15:03] melissawm commented on #2744
Hello, all! I see that all boxes are ticked at the reviewer's checklists. Do you have any pending issues to resolve before we move on? Can @kfhiga @JamieJQuinn @zhaowei0566 confirm if we are ready to go? :)

[2020-12-21 15:20] kfhiga commented on #2744
Hi @melissawm, sorry, still working on this, hope to have it finished this
week!
Thanks for checking:
Kenny

On Mon, Dec 21, 2020 at 7:03 AM Melissa Weber Mendonça <
notifications@github.com> wrote:

[2020-12-21 15:27] meenakshi-kushwaha commented on #2848
Thank you for inviting me for the review. I think this app is useful in extending the functionalities of the original ssdtools package. I especially like the R code feature that can help the user customize the analysis and plots further. Since authors have already responded to key suggestions from earlier reviewers, I have only a few suggestions left

Minor
- The clean layout app is great.  Author

[2020-12-21 15:34] majensen commented on #2726
@brantapl @bwkchee - So it's been about a month since my last ping. Would it be better to pause this review until you have more time to work on the paper?
@bill-baumgartner any new progress?
thanks

[2020-12-21 16:19] jirhiker commented on #2919
@whedon generate pdf from branch manuscript

[2020-12-21 16:19] whedon commented on #2919
[code]

[2020-12-21 16:21] whedon commented on #2919
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02919/joss.02919/10.21105.joss.02919.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02919/joss.02919/10.21105.joss.02919.pdf) :page_facing_up: :point_left:

[2020-12-21 16:37] ZeyuanSong commented on #2857
Yes, we would like to suggest possible reviewers:
Dr. Riccardo Bellazzi – University of Pavia, Italy – email: riccardo.bellazzi@unipv.it
Dr. Alberto Riva – University of Florida – ariva@ufl.edu,
Dr. Aldi Kraja – University of Mississippi – akraja@umc.edu,
Dr. Han Chen – The University of Texas Health Science Center at Houston – Han.Chen.2@uth.tmc.edu
@lpantano Thank you!

[2020-12-21 16:42] bill-baumgartner commented on #2726
@majensen - no new progress on my end. I have been able to install the software, but have not been able to evaluate its use. I believe I am currently blocked by [this issue](https://github.com/JHUAPL/PINE/issues/17).

[2020-12-21 17:34] krober10nd commented on #2687
@whedon generate pdf

just running Nico's `betterbib` package to add as much information to the papers bibliography as possible.

[2020-12-21 17:36] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-12-21 18:24] mikldk commented on #2815
@whedon set 10.5281/zenodo.4382272 as archive

[2020-12-21 18:24] whedon commented on #2815
OK. <a href="https://doi.org/10.5281/zenodo.4382272" target="_blank">10.5281/zenodo.4382272</a> is the archive.

[2020-12-21 18:24] mikldk commented on #2815
@whedon generate pdf

[2020-12-21 18:24] Maghnuso commented on #2906
Hi @majensen, I can't complete the checklist, I believe that I am logged in and that I had accepted the invitation, but perhaps I need to be invited again?

[2020-12-21 18:25] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-21 18:28] majensen commented on #2906
That's bizarre @Maghnuso - I see you are officially in the review so I doubt it that's the problem. Maybe trying closing and opening the browser?

[2020-12-21 18:28] mikldk commented on #2815
@mattansb, as mentioned, you need to make title/authors of archive same as paper's. Please fix.

[2020-12-21 18:37] Maghnuso commented on #2906
no luck @majensen! I see that the pre-review was closed immediately after my checklist in the timeline, could that be blocking me?

[2020-12-21 18:42] Maghnuso commented on #2906
@whedon reference check summary

[2020-12-21 18:42] whedon commented on #2906
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-21 18:43] Maghnuso commented on #2906
@whedon commands

[2020-12-21 18:43] whedon commented on #2906
Here are some things you can ask me to do:

[code]

[2020-12-21 18:43] Maghnuso commented on #2906
@whedon check references

[2020-12-21 18:43] whedon commented on #2906
[code]

[2020-12-21 18:48] danielskatz commented on #2906
@whedon re-invite @Maghnuso as reviewer

[2020-12-21 18:48] whedon commented on #2906
OK, the reviewer has been re-invited.

@maghnuso please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-21 18:48] Maghnuso commented on #2906
If it's helpful @majensen, when I try to accept the invitation again, I get the following message "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

[2020-12-21 18:50] Maghnuso commented on #2906
Thanks @majensen @danielskatz,  it's working for me now!

[2020-12-21 19:06] dfm commented on #2899
@wvanzeist: Thanks for the info. This sounds good to me! Here at JOSS we're less interested in the educational angle, but I think that the forward modeling aspect is a good fit. Can you ping me once you've added a section clarifying this to the paper and then I'll start recruiting reviewers? This might be a little slow given the holidays but I'll keep you posted.

[2020-12-21 19:16] Maghnuso commented on #2906
Hi @majensen, all items on my checklist are now completed, so I am happy to accept the paper! Augur was very easy to install, execute and evaluate. The Zika tutorial was fantastic and the paper was well-written and concise. As @DavidNickle stated, this will be a very useful computational tool for epidemiologists going forward that can be more efficiently curated, as the demands of pathogen surveil

[2020-12-21 21:13] akoontz11 commented on #2917
Hi @kyleniemeyer, the Zenodo repository has been created, and the relevant DOI is:

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4302571.svg)](https://doi.org/10.5281/zenodo.4302571)

This is also included in the README on the GitHub repo. Please let me know if you need anything else from me!

[2020-12-21 22:57] pdebuyl commented on #2828
@briandesilva In basis_comparison notebook, I had to remove quiet=True from update_n_basis_modes function. Probably related to changes in the dependencies, can you check?

@jordanperr can you have another look at the code+paper and let us know whether you consider your comments addressed for publication?

[2020-12-21 23:07] MilesMcBain commented on #2870
Happy to do it 😁

On Sun, Dec 20, 2020, 23:04 Jesse Tweedle <notifications@github.com> wrote:

[2020-12-21 23:17] jedbrown commented on #2185
Thanks for your patience. This is great.
* "Structure function is a popular diagnostics tool to study the statistical properties..." -- this grammar is awkward. Perhaps "Structure functions are popular diagnostics in the study of statistical properties ..."
* line 22 : "fastSF is a C++ application for ..." is shorter and reads more clearly.
* I know "ensemble average" is common terminology, but if

[2020-12-21 23:32] kyleniemeyer commented on #2917
@whedon set 10.5281/zenodo.4302571 as archive

[2020-12-21 23:32] whedon commented on #2917
OK. <a href="https://doi.org/10.5281/zenodo.4302571" target="_blank">10.5281/zenodo.4302571</a> is the archive.

[2020-12-21 23:32] kyleniemeyer commented on #2917
@whedon accept

[2020-12-21 23:32] whedon commented on #2917
[code]

[2020-12-21 23:32] whedon commented on #2917
[code]

[2020-12-21 23:33] whedon commented on #2917
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1997

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1997, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-21 23:34] kyleniemeyer commented on #2917
@whedon accept deposit=true

[2020-12-21 23:34] whedon commented on #2917
[code]

[2020-12-21 23:35] whedon commented on #2917
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1341165433047683074) 👈 🐦🐦🐦

[2020-12-21 23:35] whedon commented on #2917
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1998
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02917](https://doi.org/10.21105/joss.02917)
2. If everything looks g

[2020-12-21 23:37] kyleniemeyer commented on #2917
Congrats @akoontz11 on your article's publication JOSS!

[2020-12-21 23:37] #2917 closed

[2020-12-21 23:37] whedon commented on #2917
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02917/status.svg)](https://doi.org/10.21105/joss.02917)

**We need your help!**

Journal of Open Source Softwa

[2020-12-22 05:25] wvanzeist commented on #2899
@whedon generate pdf

[2020-12-22 05:25] whedon commented on #2899
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02899/joss.02899/10.21105.joss.02899.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02899/joss.02899/10.21105.joss.02899.pdf) :page_facing_up: :point_left:

[2020-12-22 05:30] wvanzeist commented on #2899
@dfm Thanks! I have added a section to the paper to clarify this difference.

[2020-12-22 06:16] tomaslaz commented on #2474
@Kevin-Mattheus-Moerman apologies, my mistake, this should be fixed now.

[2020-12-22 06:18] briandesilva commented on #2828
@pdebuyl, I just created a new release of the package—see if updating fixes the issue. I wasn't able to reproduce the problem on this version (0.3.1).

[2020-12-22 07:01] mattansb commented on #2815
@mikldk Oops - missed that part. Has been corrected: https://doi.org/10.5281/zenodo.4382272

[2020-12-22 07:07] pdebuyl commented on #2828
Fixed. I used the version from pip earlier, there might have been a mismatch between the pip installed and the git-downloaded examples.

[2020-12-22 08:24] bradkav commented on #2823
Thanks for the quick reply @matthewfeickert and @kratsg!

Concerning the documentation, I now appreciate that there are quite a few different links, so it was perhaps me not looking in the right places. I'm happy with this now.

Concerning the tests, I now see the section on tests in [`CONTRIBUTING.md`](https://github.com/scikit-hep/pyhf/blob/fd7930cce36cbc3a2d0ee1828f060d7382129579/CONTRIBUTING.m

[2020-12-22 09:34] csoneson commented on #2440
👋 Just wanted to check in on the status here before the holidays.

[2020-12-22 09:56] mikldk commented on #2815
@mattansb The paper's title is still not prefixed with the package name?

[2020-12-22 11:05] geoffreyp commented on #2895
Hello @melissawm, this is a list of reviewers I could find in my domain/topic:
sjvrijn, jmadera, jbytecode, petroniocandido, chkoar, andim

[2020-12-22 11:34] mattansb commented on #2815
Oh, good catch!

[2020-12-22 11:34] mattansb commented on #2815
@whedon generate pdf

[2020-12-22 11:36] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-22 11:36] mattansb commented on #2815
@mikldk It is now!

[2020-12-22 11:39] mikldk commented on #2815
@mattansb Can you please rename the Github release to e.g. "0.4.1.1 (JOSS Paper)"?

[2020-12-22 11:39] mikldk commented on #2815
@whedon set v0.4.1.1 as version

[2020-12-22 11:39] whedon commented on #2815
OK. v0.4.1.1 is the version.

[2020-12-22 11:40] mikldk commented on #2815
@whedon generate pdf

[2020-12-22 11:41] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-22 11:43] mikldk commented on #2815
@mattansb
Please **carefully** review the titles, please...:

Zenodo:
effectsize: Estimation and Interpretation of Effect Size Indices and Standardized Parameters

Paper:
effectsize: Estimation of Effect Size Indices and Standardized Parameters

Please correct this, and **carefully**, **carefully** chech titles, authors etc. And make a new release (with name containing version, e.g. "0.4.1.2 (JOSS

[2020-12-22 12:17] mattansb commented on #2815
Okay, I made a new release, and carefully checked the title and authors on Zenodo to match with the paper.

Sorry for the mess, hope this is now finalized:

DOI [10.5281/zenodo.4384509](https://doi.org/10.5281/zenodo.4384509).

[2020-12-22 12:23] mikldk commented on #2815
@whedon set v0.4.1.2 as version

[2020-12-22 12:23] whedon commented on #2815
OK. v0.4.1.2 is the version.

[2020-12-22 12:23] mikldk commented on #2815
@whedon set 10.5281/zenodo.4384509 as archive

[2020-12-22 12:23] whedon commented on #2815
OK. <a href="https://doi.org/10.5281/zenodo.4384509" target="_blank">10.5281/zenodo.4384509</a> is the archive.

[2020-12-22 12:24] mikldk commented on #2815
@whedon check references

[2020-12-22 12:25] whedon commented on #2815
[code]

[2020-12-22 12:25] mikldk commented on #2815
@whedon generate pdf

[2020-12-22 12:25] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-22 12:30] mikldk commented on #2815
@arfon The paper changed its title since review issue was created. I have just edited it here at Github. Should I do something else, too, for the change to happen anywhere else?

[2020-12-22 14:17] whedon commented on #2892
:wave: @salleuska, please update us on how your review is going.

[2020-12-22 14:17] whedon commented on #2892
:wave: @rMassimiliano, please update us on how your review is going.

[2020-12-22 14:26] bradkav commented on #2877
Hi @JostMigenda, this looks like a really useful tool! The install proceeds smoothly and the examples look like they work pretty straightforwardly. I just have a few comments (most of which are simple/cosmetic) which will hopefully improve the accessibility for new users. My comments below are based on branch https://github.com/JostMigenda/sntools/tree/JostMigenda/issue16, which I think has alread

[2020-12-22 14:56] arfon commented on #2815
As long as the title is correct on the paper then that will ultimately override everything at the end.

[2020-12-22 16:30] kevin218 commented on #2287
@arfon @mmartin-lagarde

After addressing the minor comments below, I'd be happy to sign off on this submission.

Paper
-----
In its current form, I suggest removing "Python" from the title.  Otherwise, it sounds like a Python generator, which it is not. So... "ExoNoodle: Synthetic time-series spectral generator for transiting exoplanets"

Planets "orbit" around a star, not "rotate".

Thanks for t

[2020-12-22 19:53] greggj2016 commented on #2743
Hi @dwinter and @raivivek, the other authors (@trang1618 and @moorejh28 ) and I were wondering about the status of our submission. Please give us an update when you get the chance.

Happy Holidays!

[2020-12-22 20:05] kdorheim commented on #2878
@whedon I've been working with @sebkopf on resolving the only remaining open issue I opened as part of my review.

[2020-12-22 20:05] whedon commented on #2878
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-22 20:14] majensen commented on #2906
@huddlej looks like a home run. I will be doing an editorial check of the paper itself, and this may generate a minor PR with suggestions.

Can you review @DavidNickle 's issues with needing to update his tools, and maybe add a helpful hint in this regard to the install instructions?

thanks

[2020-12-22 20:25] Kokookster commented on #2767
Hi @jgostick,

Sorry for the delay! Here are the requested things:
* Version number: 1.0.2 (c.f. https://gitlab.com/gims-developers/gims/-/tags/1.0.2)
* DOI of the Repo-Archive: 10.5281/zenodo.4386436

I checked all the ORCIDs and Names of the authors. They should correspond to an existing person and be consistent.
Let me know if anything is missing!

[2020-12-22 20:50] huddlej commented on #2906
Thank you, @majensen, for the great news and thank you @DavidNickle and @Maghnuso for the reviews!

@DavidNickle, do you recall the general error you got during the installation process and how you updated your conda and Python 3 versions? We can use the steps you took to update our documentation as @majensen suggests. For example, did you end up needing to update conda itself like so?

[code]

Al

[2020-12-22 21:00] Kevin-Mattheus-Moerman commented on #2474
@whedon accept

[2020-12-22 21:00] whedon commented on #2474
[code]

[2020-12-22 21:01] whedon commented on #2474
[code]

[2020-12-22 21:01] whedon commented on #2474
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1999

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1999, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-22 21:04] Kevin-Mattheus-Moerman commented on #2474
@whedon accept deposit=true

[2020-12-22 21:04] whedon commented on #2474
[code]

[2020-12-22 21:05] whedon commented on #2474
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1341490112199356416) 👈 🐦🐦🐦

[2020-12-22 21:05] whedon commented on #2474
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2000
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02474](https://doi.org/10.21105/joss.02474)
2. If everything looks g

[2020-12-22 21:17] whedon opened #2924 "[PRE REVIEW]: Autosubmit GUI: A Javascript-based Graphical User Interface to Monitor Experiments Workflow Execution"
**Submitting author:** @wuruchi (<a href="http://orcid.org/0000-0003-0842-0459">Wilmer Uruchi Ticona</a>)
**Repository:** <a href="https://earth.bsc.es/gitlab/wuruchi/autosubmitreact" target ="_blank">https://earth.bsc.es/gitlab/wuruchi/autosubmitreact</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @djmitche
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warnin

[2020-12-22 21:17] whedon commented on #2924
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-22 21:17] whedon opened #2925 "[PRE REVIEW]: Python-based Algorithm for Convective Cell Identification and Tracking using DWR Reflectivity Images"
**Submitting author:** @niranjanstudy06 (<a href="http://orcid.org/0000-0002-0625-236X">Niranjan Akella</a>)
**Repository:** <a href="https://github.com/niranjanstudy06/Python-based-Algorithm-for-Convective-Cell-Identification-and-Tracking-using-DWR-Reflectivity-Images.git" target ="_blank">https://github.com/niranjanstudy06/Python-based-Algorithm-for-Convective-Cell-Identification-and-Tracking-us

[2020-12-22 21:17] whedon commented on #2925
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-22 21:17] whedon opened #2926 "[PRE REVIEW]: GeometricIntegrators.jl: Geometric Numerical Integration in Julia"
**Submitting author:** @michakraus (<a href="http://orcid.org/0000-0001-7637-3979">Michael Kraus</a>)
**Repository:** <a href="https://github.com/JuliaGNI/GeometricIntegrators.jl" target ="_blank">https://github.com/JuliaGNI/GeometricIntegrators.jl</a>
**Version:** v0.7.0
**Editor:** @VivianePons
**Reviewers:** @ChrisRackauckas, @ranocha
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced s

[2020-12-22 21:17] whedon commented on #2926
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-22 21:19] whedon commented on #2924
[code]

[2020-12-22 21:19] whedon commented on #2925
[code]

[2020-12-22 21:19] whedon commented on #2924
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02924/joss.02924/10.21105.joss.02924.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02924/joss.02924/10.21105.joss.02924.pdf) :page_facing_up: :point_left:

[2020-12-22 21:20] whedon commented on #2925
[code]

[2020-12-22 21:20] whedon commented on #2926
[code]

[2020-12-22 21:20] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-22 21:20] whedon commented on #2926
PDF failed to compile for issue #2926 with the following error:

 Can't find any papers to compile :-(

[2020-12-22 21:21] danielskatz commented on #2926
@whedon generate pdf from branch joss-paper

[2020-12-22 21:22] whedon commented on #2926
[code]

[2020-12-22 21:22] whedon commented on #2926
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02926/joss.02926/10.21105.joss.02926.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02926/joss.02926/10.21105.joss.02926.pdf) :page_facing_up: :point_left:

[2020-12-22 21:23] danielskatz commented on #2926
@whedon check references from branch joss-paper

[2020-12-22 21:23] whedon commented on #2926
[code]

[2020-12-22 21:23] whedon commented on #2926
[code]

[2020-12-22 21:28] danielskatz commented on #2926
👋 @michakraus - you might want to check and see if the DOI suggested by whedon is correct, and if so, add it.

[2020-12-22 21:31] danielskatz commented on #2926
👋 @VivianePons - would you be willing to edit this JOSS submission?

[2020-12-22 21:31] danielskatz commented on #2926
@whedon invite @VivianePons as editor

[2020-12-22 21:31] whedon commented on #2926
@VivianePons has been invited to edit this submission.

[2020-12-22 21:35] chenkianwee commented on #2866
Sorry for the late reply. @hugoledoux I tried with the new yml file and it worked. It seems like I have downloaded an outdated example file here (https://github.com/tudelft3d/3dfier/releases/tag/example_data).  Its on the Github documentation page.
![image](https://user-images.githubusercontent.com/13062600/102935072-6288ea80-4473-11eb-9682-1f4d9c334afe.png). Will be good to update the information

[2020-12-22 21:36] VivianePons commented on #2926
I can but I forgot to set my ooo: I won't be available before Jan 4

[2020-12-22 21:36] danielskatz commented on #2925
👋 @niranjanstudy06 - given the relatively small size of this software, the editors will now discuss if it meets JOSS's scope for review, specifically [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)
While we are doing this, if you want to make any changes to the references or the paper based on the fact that whedon found a number of

[2020-12-22 21:37] danielskatz commented on #2925
@whedon query scope

[2020-12-22 21:37] whedon commented on #2925
Submission flagged for editorial review.

[2020-12-22 21:37] danielskatz commented on #2924
@whedon check repository

[2020-12-22 21:42] danielskatz commented on #2924
👋 @openjournals/dev - any thought on why 👆 doesn't work?

[2020-12-22 21:44] VivianePons commented on #2926
/ooo December 22 until January 4

[2020-12-22 21:46] danielskatz commented on #2924
👋 @wuruchi - I'm unsure if this fits JOSS, so the editors will now discuss if it meets JOSS's scope for review, specifically to make sure that we consider it research software (and also possible to check the size/scholarly effort of the software). This normally would take about a week, but might take longer due to the holidays.

[2020-12-22 21:46] danielskatz commented on #2924
@whedon query scope

[2020-12-22 21:46] whedon commented on #2924
Submission flagged for editorial review.

[2020-12-22 21:48] danielskatz commented on #2926
Thanks - I'm going to go ahead and assign it you, and also recognize that nothing will happen until after Jan 4

[2020-12-22 21:49] danielskatz commented on #2926
@whedon assign @VivianePons as editor

[2020-12-22 21:49] whedon commented on #2926
OK, the editor is @VivianePons

[2020-12-22 21:50] danielskatz commented on #2800
👋 @henrykironde - sorry that this slipped through the cracks. I'll work on it now

[2020-12-22 21:51] whedon commented on #2924
[code]

[2020-12-22 21:53] danielskatz commented on #2800
👋 @henrykironde - please update the metadata in the zenodo archive so that the title matches the title of the paper, and similarly, that the authors match the papers authors (both names and order)

[2020-12-22 21:55] danielskatz commented on #2800
I've proofread the paper and it looks good - it's ready to accept once the zenodo metadata fixes are made.

[2020-12-22 21:58] danielskatz commented on #2924
@openjournals/dev - never mind my request above - check repository just took a really long time...

[2020-12-22 22:19] whedon commented on #2924
[code]

[2020-12-23 00:39] meg-simula commented on #2687
Early next week will have to be first thing after Jan 4 2021 - Happy Holidays to all of you in the meanwhile!

[2020-12-23 00:40] meg-simula commented on #2687
/ooo Dec 22 until Jan 7

[2020-12-23 01:28] kfhiga commented on #2744
Hello @melissawm <https://github.com/melissawm> @JamieJQuinn
<https://github.com/JamieJQuinn> @zhaowei0566
<https://github.com/zhaowei0566>,

Thank you again for all of your suggestions. I believe that I've addressed
the recommendations and have committed the changes.

If accepted, I'd like to update the documentation with a link to the
article, along with acknowledgments for all of you, before ma

[2020-12-23 05:38] niranjanstudy06 commented on #2925
@whedon check references

[2020-12-23 05:39] whedon commented on #2925
[code]

[2020-12-23 05:41] niranjanstudy06 commented on #2925
@whedon check references

[2020-12-23 05:42] whedon commented on #2925
[code]

[2020-12-23 05:47] niranjanstudy06 commented on #2925
@whedon check references

[2020-12-23 05:47] whedon commented on #2925
[code]

[2020-12-23 06:18] niranjanstudy06 commented on #2925
@whedon generate pdf

[2020-12-23 06:18] niranjanstudy06 commented on #2925
@whedon commands

[2020-12-23 06:18] whedon commented on #2925
Here are some things you can ask me to do:

[code]

[2020-12-23 06:18] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-23 06:23] niranjanstudy06 commented on #2925
@whedon query scope

[2020-12-23 06:23] whedon commented on #2925
I'm sorry @niranjanstudy06, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-12-23 06:24] niranjanstudy06 commented on #2925
@whedon check repository

[2020-12-23 06:24] whedon commented on #2925
[code]

[2020-12-23 06:46] niranjanstudy06 commented on #2925
@whedon generate pdf

[2020-12-23 06:46] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-23 06:58] niranjanstudy06 commented on #2925
@whedon generate pdf

[2020-12-23 06:59] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-23 07:52] niranjanstudy06 commented on #2925
@danielskatz, Thank you very much for your guidance, Sir. I have incorporated the necessary changes in my "paper.md" and "paper.bib" files as suggested by you.

[2020-12-23 08:17] niranjanstudy06 commented on #2925
@whedon generate pdf

[2020-12-23 08:17] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-23 08:19] niranjanstudy06 commented on #2925
@whedon generate pdf

[2020-12-23 08:19] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-23 09:48] wuruchi commented on #2924
Hello @danielskatz. We will be waiting for the editors' answer and we are open to any request.

As a side note, the users `bleudchanel` and `wuruchi` are both my users. Author `bleudchanel` was introduced when I switched to working from home and forgot to update my git user.

Thank you for your time.

[2020-12-23 10:54] koenderks commented on #2733
Hi Trevor,

Thank you for mentioning this. I have chosen the names "Ist" and "Soll" but these things are easy to adjust. If you have any feedback or suggestions about the naming in the software I would be pleased to hear that!

Within JASP, the users' options are gathered and passed to the R package `jfa` (version JASP-v0.5.0) whose source code can be found at https://github.com/koenderks/jfa. Thi

[2020-12-23 13:41] mikldk commented on #2815
@whedon accept

[2020-12-23 13:41] whedon commented on #2815
[code]

[2020-12-23 13:42] whedon commented on #2815
[code]

[2020-12-23 13:42] whedon commented on #2815
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2001

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2001, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-23 14:01] danielskatz commented on #2815
👋 @mattansb - I've suggested some small changes to the paper and bib in https://github.com/easystats/effectsize/pull/246 - please merge this if they are ok with you.  If not, let me know what you disagree with.

[2020-12-23 14:09] danielskatz commented on #2925
@niranjanstudy06 - sorry, but the idea is not to manually add the references in the References section of the paper, but to add tags to the references from the bib file within the body of the paper, which will automatically cause the references to be added to the references section (and linked from the earlier sections) when the PDF is built - again, I point you to https://joss.readthedocs.io/en/l

[2020-12-23 14:12] mattansb commented on #2815
@danielskatz PR has been accepted - thanks !

[2020-12-23 14:14] danielskatz commented on #2815
@whedon accept

[2020-12-23 14:14] whedon commented on #2815
[code]

[2020-12-23 14:14] whedon commented on #2815
[code]

[2020-12-23 14:15] whedon commented on #2815
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2002

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2002, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-23 14:16] danielskatz commented on #2815
@whedon accept deposit=true

[2020-12-23 14:16] whedon commented on #2815
[code]

[2020-12-23 14:17] whedon commented on #2815
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1341749769824329728) 👈 🐦🐦🐦

[2020-12-23 14:17] whedon commented on #2815
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2003
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02815](https://doi.org/10.21105/joss.02815)
2. If everything looks g

[2020-12-23 14:21] danielskatz commented on #2815
Congratulations to @mattansb (Mattan S. Ben-Shachar) and co-authors!!

And thanks to @trashbirdecology and @jkarreth for reviewing, and @mikldk for editing!

[2020-12-23 14:21] #2815 closed

[2020-12-23 14:21] whedon commented on #2815
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02815/status.svg)](https://doi.org/10.21105/joss.02815)

**We need your help!**

Journal of Open Source Softwa

[2020-12-23 14:37] npetra commented on #2690
@sebhaan The new install seems to work and all my comments have been addressed. This paper is good to go from my perspective.

[2020-12-23 15:29] shashwat-bhattacharya commented on #2185
Thanks @jedbrown for your suggestions. I have implemented all of them except for the one about the figure about the structure functions; I have a small confusion here. Should we include the section on [verification](https://github.com/ShubhadeepSadhukhan1993/fastSF/blob/master/docs/Verification.md) in the main paper and shorten the section on the design of the code? Or should we just include a cou

[2020-12-23 16:43] dpsanders commented on #2809
👋 @goerz and @thowell: Just checking in to see if you are able to complete your reviews. Thanks!

[2020-12-23 17:01] dpsanders commented on #2881
👋  @AJQuinn: Thanks for your submission to JOSS, and apologies for the delay.

In general the submission looks good!

Here's a couple of initial remark:
- The JOSS paper is missing a "Statement of Need" section, which is a [JOSS requirement](https://joss.readthedocs.io/en/latest/submitting.html).

- On a related note: You refer to other packages that implement EMD, but it is not clear how your pac

[2020-12-23 17:05] dpsanders commented on #2881
👋 Hi @john-s-butler-dit and @jancbrammer: Would you be available to review this submission for JOSS? Thanks!

[2020-12-23 17:56] mnarayan commented on #2863
Hi @dmey and @oliviaguest,
Apologies for the delayed response here. I should be able to provide some feedback by Dec 28th and be done by Jan 4th.

[2020-12-23 18:09] niranjanstudy06 commented on #2925
@whedon generate pdf

[2020-12-23 18:10] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-23 18:18] niranjanstudy06 commented on #2925
@whedon generate pdf

[2020-12-23 18:19] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-23 18:24] niranjanstudy06 commented on #2925
@whedon generate pdf

[2020-12-23 18:24] whedon commented on #2925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02925/joss.02925/10.21105.joss.02925.pdf) :page_facing_up: :point_left:

[2020-12-23 18:29] niranjanstudy06 commented on #2925
@danielskatz - Yeah, sorry now I got it. Thank you.

[2020-12-23 18:30] goerz commented on #2809
Completing it today, in fact. Sorry for the delay...

[2020-12-23 19:42] marcjwilliams1 commented on #2872
Overall I think the package and article are excellent and they more than satisfy all the requirements for JOSS. The documentation and API is clear and easy to use and it is great to see high coverage testing (>80%) of the functionality. A few small comments below:
1. The CI is currently failing on master,I can see previous versions have been passing so have no concerns that these are important iss

[2020-12-23 22:12] goerz commented on #2809
I have checked the software package and its online documentation, and they appear ready for publication. The following are my comments on the manuscript itself. Again, sorry for the delay in writing this up...

The manuscript seems like it should be OK for someone within the narrow field of classical optimal control, e.g., users of some of the existing packages cited in the manuscript. However, I

[2020-12-24 05:19] wvanzeist commented on #2899
Looking at the list of reviewers, the following people have both "gravitational waves" and "Python" as keywords and thus might be suitable: duncanmmacleod, johnveitch, cmbiwer.

[2020-12-24 08:58] arfon commented on #2597
@whedon set 10.5281/zenodo.4368844 as archive

[2020-12-24 08:58] whedon commented on #2597
OK. <a href="https://doi.org/10.5281/zenodo.4368844" target="_blank">10.5281/zenodo.4368844</a> is the archive.

[2020-12-24 08:59] arfon commented on #2597
@whedon accept

[2020-12-24 08:59] whedon commented on #2597
[code]

[2020-12-24 08:59] whedon commented on #2597
[code]

[2020-12-24 09:00] whedon commented on #2597
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2004

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2004, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-24 09:12] arfon commented on #2597
@whedon accept deposit=true

[2020-12-24 09:12] whedon commented on #2597
[code]

[2020-12-24 09:13] whedon commented on #2597
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1342035657334648832) 👈 🐦🐦🐦

[2020-12-24 09:13] whedon commented on #2597
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2005
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02597](https://doi.org/10.21105/joss.02597)
2. If everything looks g

[2020-12-24 09:16] arfon commented on #2597
@eviatarbach, @sadielbartholomew - many thanks for your reviews here. JOSS simply wouldn't work without the volunteer effort of folks like yourselves ✨

@jodemaey - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-12-24 09:16] #2597 closed

[2020-12-24 09:16] whedon commented on #2597
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02597/status.svg)](https://doi.org/10.21105/joss.02597)

**We need your help!**

Journal of Open Source Softwa

[2020-12-24 09:19] arfon commented on #2870
@whedon add @tweed1e as reviewer

[2020-12-24 09:19] whedon commented on #2870
OK, @tweed1e is now a reviewer

[2020-12-24 09:20] arfon commented on #2870
@whedon add @MilesMcBain as reviewer

[2020-12-24 09:20] whedon commented on #2870
OK, @MilesMcBain is now a reviewer

[2020-12-24 09:20] arfon commented on #2870
@whedon start review

[2020-12-24 09:20] whedon opened #2927 "[REVIEW]: bcdata: An R package for searching & retrieving data from the B.C. Data Catalogue"
**Submitting author:** @boshek (<a href="http://orcid.org/0000-0002-9270-7884">Samuel Albers</a>)
**Repository:** <a href="https://github.com/bcgov/bcdata" target ="_blank">https://github.com/bcgov/bcdata</a>
**Version:** 0.2.1
**Editor:** @arfon
**Reviewer:** @tweed1e, @MilesMcBain
**Archive:** <a href="https://doi.org/10.5281/zenodo.4737824" target="_blank">10.5281/zenodo.4737824</a>

**:warning

[2020-12-24 09:20] whedon commented on #2870
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2927.

[2020-12-24 09:20] #2870 closed

[2020-12-24 09:20] whedon commented on #2927
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tweed1e, @MilesMcBain it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-12-24 09:20] arfon commented on #2870
@tweed1e, @MilesMcBain - thanks for the quick responses here! See you over in #2927 for the actual review.

[2020-12-24 09:20] whedon commented on #2927
PDF failed to compile for issue #2927 with the following error:

 Can't find any papers to compile :-(

[2020-12-24 09:21] arfon commented on #2927
@whedon generate pdf from branch joss

[2020-12-24 09:21] whedon commented on #2927
[code]

[2020-12-24 09:21] mnarayan commented on #2863
I am not able to check things off on the review checklist. Any idea what the problem could be?

[2020-12-24 09:21] whedon commented on #2927
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02927/joss.02927/10.21105.joss.02927.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02927/joss.02927/10.21105.joss.02927.pdf) :page_facing_up: :point_left:

[2020-12-24 09:22] arfon commented on #2927
@tweed1e, @MilesMcBain - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied

[2020-12-24 10:54] fwalter commented on #2565
Dear Jed,

I have reviewed this software package and would now like to submit my
report. Do I understand correctly that this should be done as an issue on
the repository:

https://github.com/raspishake/rsudp/issues

Also, where can I fill out the checklist, which is mentioned here:

https://joss.readthedocs.io/en/latest/review_checklist.html

I tried to accept the invitation by whedon, but this se

[2020-12-24 14:13] jedbrown commented on #2565
@whedon re-invite @fwalter as reviewer

[2020-12-24 14:13] whedon commented on #2565
OK, the reviewer has been re-invited.

@fwalter please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-24 14:17] jedbrown commented on #2565
@fwalter Thanks! When you accept that fresh invitation, you should be able to click in the checkboxes.

Indeed, general comments can go directly in this thread, but specific "to do" items should be filed as issues in https://github.com/raspishake/rsudp/issues. They'll be automatically linked from here if you mention this issue (`https://github.com/openjournals/joss-reviews/issues/2565`).

[2020-12-24 14:18] jedbrown commented on #2565
Hi, @eileenrmartin :wave: Is there anything we can do to facilitate your review?

[2020-12-24 14:44] danielskatz commented on #2863
@whedon re-invite @mnarayan as reviewer

[2020-12-24 14:44] whedon commented on #2863
OK, the reviewer has been re-invited.

@mnarayan please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-24 14:45] danielskatz commented on #2863
👋 @mnarayan - the original invitation to the JOSS organization may have expired - please use this link ☝️ to join, then you should be able to interact with the checklist.

[2020-12-24 17:00] williamjameshandley commented on #2784
This is a very high-quality JOSS submission, with the code in an already very polished state, and a paper that is appropriate in content and length. The testing and CI are good, the installation smooth (both from PyPi and from source), and the examples in the README.md all work and clearly demonstrate the utility of the code. This is a package that I will likely incorporate into  [one of my own](h

[2020-12-24 18:16] kevin218 commented on #2287
One more thought... the MIRISim scripts were quite helpful and I would encourage you to keep them in the GitHub repo.

[2020-12-25 08:53] shahmoradi commented on #2741
@williamfgc

Thank you for your extensive detailed feedback, which significantly improved the quality of this codebase. We will address each of your comments below.

1.  **The library tests**.
    The library originally had a significant number of tests that used to be automatically executed. But at some point, someone (perhaps myself) decided to temporarily disable the tests, which then became pe

[2020-12-25 13:35] JamieJQuinn commented on #2744
@melissawm I'm happy accepting this. @kfhiga thatnks for your work addressing our concerns; this is a great piece of software!

Cheers,
Jamie

[2020-12-25 16:28] Kevin-Mattheus-Moerman commented on #2474
Congratulations @tomaslaz ! Thanks @fboehm for editing and thanks @janfreyberg and @craddm for reviewing this work.

[2020-12-25 16:28] #2474 closed

[2020-12-25 16:28] whedon commented on #2474
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02474/status.svg)](https://doi.org/10.21105/joss.02474)

**We need your help!**

Journal of Open Source Softwa

[2020-12-25 17:53] benjaminbolling commented on #1942
Dear @majensen, sorry for the delay. There was simply too much to do before the holidays.

Archive version: Version 1
DOI: 10.5281/zenodo.4393589

[2020-12-25 20:09] kenohori commented on #2869
Hello!

I started looking at your submission a few days ago and decided that some initial feedback would be useful, especially regarding the paper. In short, I like the summary and statement of need, which are fine and clear. However, the rest of the paper is a general introduction to kriging, which doesn't say much about how it's performed in your software. I would recommend adding a short descri

[2020-12-26 11:40] arfon commented on #2784
@whedon re-invite @williamjameshandley as reviewer

[2020-12-26 11:40] whedon commented on #2784
OK, the reviewer has been re-invited.

@williamjameshandley please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-26 11:40] arfon commented on #2784
@williamjameshandley - you should be good to go once you've accepted the invite at the link above.

[2020-12-26 13:37] majensen commented on #1942
@whedon set archive as 10.5281/zenodo.4393589

[2020-12-26 13:37] whedon commented on #1942
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-26 13:37] majensen commented on #1942
@whedon set 10.5281/zenodo.4393589 as archive

[2020-12-26 13:37] whedon commented on #1942
OK. <a href="https://doi.org/10.5281/zenodo.4393589" target="_blank">10.5281/zenodo.4393589</a> is the archive.

[2020-12-26 13:38] majensen commented on #1942
@whedon set "Version 1" as version

[2020-12-26 13:38] whedon commented on #1942
OK. "Version 1" is the version.

[2020-12-26 13:40] majensen commented on #1942
@whedon recommend accept

[2020-12-26 13:40] whedon commented on #1942
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-26 13:40] majensen commented on #1942
@whedon accept

[2020-12-26 13:40] whedon commented on #1942
[code]

[2020-12-26 13:41] whedon commented on #1942
[code]

[2020-12-26 13:41] whedon commented on #1942
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2006

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2006, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-26 14:29] danielskatz commented on #1942
@benjaminbolling  - do you mean for the version name to be "Version 1" as opposed to "v1.0" or "1.0"?

(Also, as an FYI, the link at the end of the README to the license doesn't work, and your use of ":s" in the README is also confusing, as in "GUI:s" and "BPM:s" - if you mean these to be plurals, they should just be "GUIs" and "BPMs", I think, and if they are intended to be possessive, which I'm

[2020-12-26 14:33] danielskatz commented on #1942
In the paper, the fact that the first paragraph has some text written in the first person (I created), while the rest of the paper is written in the third paragraph (The author wants to thank) is a little confusing. Maybe change the first part to third person too?

Otherwise, this looks ready to accept.

[2020-12-26 14:34] whedon opened #2928 "[PRE REVIEW]: GOFIG: A Tool for Gene Ontology Enrichment Analysis and Visualization"
**Submitting author:** @adidevara (<a href="http://orcid.org/0000-0002-7014-3029">Aditya Devarakonda</a>)
**Repository:** <a href="https://github.com/adidevara/GOFIG" target ="_blank">https://github.com/adidevara/GOFIG</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2020-12-26 14:34] whedon commented on #2928
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-26 14:35] whedon opened #2929 "[PRE REVIEW]: RBF: An R package to compute a robust backfitting estimator for additive models"
**Submitting author:** @alemermartinez (<a href="http://orcid.org/0000-0002-1893-2039">Alejandra Martínez</a>)
**Repository:** <a href="https://github.com/msalibian/RBF" target ="_blank">https://github.com/msalibian/RBF</a>
**Version:** v2.0.1
**Editor:** @mikldk
**Reviewers:** @mcavs, @mmrabe
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-12-26 14:35] whedon commented on #2929
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-26 14:35] whedon commented on #2928
[code]

[2020-12-26 14:35] whedon commented on #2928
[code]

[2020-12-26 14:35] whedon commented on #2929
[code]

[2020-12-26 14:35] whedon opened #2930 "[PRE REVIEW]: IndeterminateBeam: A Python package for solving 1D indeterminate beams"
**Submitting author:** @jessebonanno (<a href="http://orcid.org/0000-0002-4996-6813">Jesse Bonanno</a>)
**Repository:** <a href="https://github.com/JesseBonanno/IndeterminateBeam" target ="_blank">https://github.com/JesseBonanno/IndeterminateBeam</a>
**Version:** v1.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Du

[2020-12-26 14:35] whedon commented on #2930
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-26 14:35] whedon commented on #2929
PDF failed to compile for issue #2929 with the following error:

 Can't find any papers to compile :-(

[2020-12-26 14:35] whedon commented on #2930
[code]

[2020-12-26 14:35] whedon commented on #2928
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02928/joss.02928/10.21105.joss.02928.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02928/joss.02928/10.21105.joss.02928.pdf) :page_facing_up: :point_left:

[2020-12-26 14:35] whedon opened #2931 "[PRE REVIEW]: registr 2.0: Incomplete Curve Registration for Exponential Family Functional Data"
**Submitting author:** @bauer-alex (<a href="http://orcid.org/0000-0003-3495-5131">Alexander Bauer</a>)
**Repository:** <a href="https://github.com/julia-wrobel/registr" target ="_blank">https://github.com/julia-wrobel/registr</a>
**Version:** 2.0.0
**Editor:** @mbobra
**Reviewers:** @munkm, @qpmnguyen
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-12-26 14:35] whedon commented on #2931
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-26 14:35] whedon commented on #2930
[code]

[2020-12-26 14:36] whedon commented on #2930
PDF failed to compile for issue #2930 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92

[2020-12-26 14:36] whedon commented on #2931
Failed to discover a `Statement of need` section in paper

[2020-12-26 14:36] whedon commented on #2931
[code]

[2020-12-26 14:36] whedon commented on #2931
[code]

[2020-12-26 14:36] whedon commented on #2931
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02931/joss.02931/10.21105.joss.02931.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02931/joss.02931/10.21105.joss.02931.pdf) :page_facing_up: :point_left:

[2020-12-26 14:37] danielskatz commented on #2928
👋 @adidevara - I'm unsure if this fits JOSS, so the editors will now discuss if it meets JOSS's scope for review, specifically to make sure that we consider it research software (and also possible to check the [size/scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) of the software). This normally would take about a week, but might take longer due

[2020-12-26 14:37] danielskatz commented on #2928
@whedon query scope

[2020-12-26 14:37] whedon commented on #2928
Submission flagged for editorial review.

[2020-12-26 14:38] danielskatz commented on #2929
@whedon generate pdf from branch joss

[2020-12-26 14:38] whedon commented on #2929
[code]

[2020-12-26 14:38] whedon commented on #2929
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02929/joss.02929/10.21105.joss.02929.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02929/joss.02929/10.21105.joss.02929.pdf) :page_facing_up: :point_left:

[2020-12-26 14:39] danielskatz commented on #2929
@whedon check references from branch joss

[2020-12-26 14:39] whedon commented on #2929
[code]

[2020-12-26 14:39] whedon commented on #2929
[code]

[2020-12-26 14:41] danielskatz commented on #2930
👋 @jessebonanno - I'm unsure if this fits JOSS, so the editors will now discuss if it meets JOSS's scope for review, specifically to make sure that we consider it research software (and also possible to check the [size/scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) of the software). This normally would take about a week, but might take longer

[2020-12-26 14:41] Joao-L-S-Almeida commented on #2862
@whedon start review

[2020-12-26 14:41] whedon commented on #2862
I'm sorry @Joao-L-S-Almeida, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-12-26 14:42] danielskatz commented on #2930
@whedon query scope

[2020-12-26 14:42] whedon commented on #2930
Submission flagged for editorial review.

[2020-12-26 14:43] Joao-L-S-Almeida commented on #2862
@whedon start review

[2020-12-26 14:43] whedon commented on #2862
I'm sorry @Joao-L-S-Almeida, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-12-26 14:43] danielskatz commented on #2929
👋 @alemermartinez - I'm unsure if this fits JOSS, so the editors will now discuss if it meets JOSS's scope for review, specifically to check the [size/scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) of the software. This normally would take about a week, but might take longer due to the holidays.

[2020-12-26 14:43] danielskatz commented on #2929
@whedon query scope

[2020-12-26 14:43] whedon commented on #2929
Submission flagged for editorial review.

[2020-12-26 14:46] danielskatz commented on #2931
👋 @bauer-alex - note that whedon thinks some of your references might be missing DOIs - if it is correct, please add them, then use the commands
* ```@whedon generate PDF```
* ```@whedon check references```
(each at the start of a new comment) to check again and regenerate the PDF

[2020-12-26 14:48] Joao-L-S-Almeida commented on #2862
@whedon list reviewers

[2020-12-26 14:48] whedon commented on #2862
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-12-26 14:50] danielskatz commented on #2931
Note that this is a new version of https://doi.org/10.21105/joss.00557 (from about 3 years ago), and should be checked to make sure it has enough new content for JOSS to re-review it

[2020-12-26 14:51] danielskatz commented on #2931
👋 @galessiorob - would you be willing to edit this submission?

[2020-12-26 14:52] danielskatz commented on #2931
@whedon invite @galessiorob as editor

[2020-12-26 14:52] whedon commented on #2931
@galessiorob has been invited to edit this submission.

[2020-12-26 14:53] danielskatz commented on #2931
Sorry, @galessiorob - I see you also have another request - please ignore this one

[2020-12-26 14:54] danielskatz commented on #2931
👋 @mbobra - would you be willing to edit this submission for JOSS? (and I know that you are out through 4 Jan, so I'm not expecting an immediate response)

[2020-12-26 14:54] danielskatz commented on #2931
@whedon invite @mbobra as editor

[2020-12-26 14:54] whedon commented on #2931
@mbobra has been invited to edit this submission.

[2020-12-26 15:24] Joao-L-S-Almeida commented on #2862
@whedon assign @Joao-L-S-Almeida as reviewer

[2020-12-26 15:24] whedon commented on #2862
I'm sorry @Joao-L-S-Almeida, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-12-26 15:57] danielskatz commented on #2862
@Joao-L-S-Almeida - what are you trying to do?  Maybe I can help.

[2020-12-26 15:57] danielskatz commented on #2862
@whedon re-invite @Joao-L-S-Almeida as reviewer

(guessing maybe this is the issue)

[2020-12-26 15:57] whedon commented on #2862
OK, the reviewer has been re-invited.

@joao-l-s-almeida please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-26 16:08] Joao-L-S-Almeida commented on #2862
Thanks a lot @danielskatz, That was the issue.

[2020-12-26 17:04] kfhiga commented on #2744
Thank you, @JamieJQuinn <https://github.com/JamieJQuinn>, and thank you for
all of your advice on improving the package! Hope you're all having a nice
holiday break.
Best regards,
Kenny

On Fri, Dec 25, 2020 at 5:35 AM Jamie J Quinn <notifications@github.com>
wrote:

[2020-12-26 20:52] MamadouSDiallo commented on #2908
Dear Kristen

I have updated the GitHub repo and I have added a statement of need to the
paper. I have tested that the paper compiles using the Whedon paper preview
tool.

Looking forward to your feedback.

Best regards

On Wed, Dec 16, 2020 at 1:09 PM Kristen Thyng <notifications@github.com>
wrote:

--
*Mamadou S. Diallo, Ph.D., PStat®*
Founder and Lead Data Scientist
Phone: +1 (917) 251-0020
Ema

[2020-12-26 21:22] zhaowei0566 commented on #2744
Thanks for taking care of my comments. I don't have any further. I recommend to accept the present version. Congratulations! @kfhiga @melissawm

[2020-12-26 21:32] eloisabentivegna commented on #2862
Thanks, @danielskatz!

[2020-12-26 21:41] bauer-alex commented on #2931
@whedon generate PDF

[2020-12-26 21:42] bauer-alex commented on #2931
@whedon check references

[2020-12-26 21:42] whedon commented on #2931
[code]

[2020-12-26 21:42] whedon commented on #2931
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02931/joss.02931/10.21105.joss.02931.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02931/joss.02931/10.21105.joss.02931.pdf) :page_facing_up: :point_left:

[2020-12-26 21:44] bauer-alex commented on #2931
All missing doi's are now included. Thanks for the hint!

[2020-12-26 23:42] JesseBonanno commented on #2930
Hi @danielskatz - I agree that it appeared to be fairly weak when considering the scope. I mainly have submitted this with consideration that it was a significant improvement to a [previous published article](https://jose.theoj.org/papers/10.21105/jose.00065) (in fact that is how I found out about JOSS).

Okay, I didn't get the affiliation error when I used the [Whedon paper preview service](https

[2020-12-26 23:46] JesseBonanno commented on #2930
@whedon generate pdf

[2020-12-26 23:47] whedon commented on #2930
PDF failed to compile for issue #2930 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:213:in `parse_affiliations': undefined method `each' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:199:in `parse_authors'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a077

[2020-12-26 23:54] JesseBonanno commented on #2930
@danielskatz - I am going to add a dummy affiliation in named "None" as suggested in this [issue thread](https://github.com/openjournals/joss/issues/406).

[2020-12-27 00:03] JesseBonanno commented on #2930
@whedon generate pdf

[2020-12-27 00:03] whedon commented on #2930
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02930/joss.02930/10.21105.joss.02930.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02930/joss.02930/10.21105.joss.02930.pdf) :page_facing_up: :point_left:

[2020-12-27 10:43] martinfleis commented on #2805
Just a ping here - I have opened an issue https://gitlab.com/fduchate/predihood/-/issues/1 since the installation following the instructions failed in my case. Therefore I am waiting for this to be resolved.

[2020-12-27 14:50] danielskatz commented on #2900
Sorry @marcosvital,  now I see that @Kevin-Mattheus-Moerman asked you to handle it this way, which I think is problematic

@Kevin-Mattheus-Moerman, I think it's the job of the AEiC to try to handle to initial scope query if needed before passing it onto an editor...

[2020-12-27 21:30] szymon-datalions commented on #2869
Hi @kenohori!

Thank you for your feedback! Thanks for suggestions too, I'll describe implementation of Kriging techniques and I'll compare package to other programs available on Github or elsewhere. For the rest of your recommendations:

I don't understand what do you mean by that? Should I emphasize those installation requirements in two separate files, re-arrange actual documentation or maybe s

[2020-12-28 08:34] tliu68 commented on #2921
Hello @kthyng! Thank you for your reply! Here are my answers to your questions:
1. No, it was not a mistake. Our paper presents AutoGMM, a major clustering algorithm of [graspologic](https://github.com/microsoft/graspologic), and its hierarchical version, HGMM (also in graspologic). The repo is a fork of graspologic and contains our paper. Do you think changing its name and/or README would make it

[2020-12-28 13:50] fduchatea commented on #2805
We are refactoring the code to facilitate import of new data.
We will check the issue later.

[2020-12-28 16:03] salleuska commented on #2892
@mikldk Sorry for the late, I am working on this, and plan to get back to you with the review by the end of the week.

[2020-12-28 17:00] benjaminbolling commented on #1942
Dear @danielskatz, thank you for your comments. I have change the use of ":s" to just "s" (when it was used to describe objects in plural). Also, the first paragraph in the user guide is rewritten to third paragraph and the acknowledgements has been updated to sound less confusing.

In accordance with this, a new version of the files have been archived on Zenodo with a new DOI.

[2020-12-28 17:01] benjaminbolling commented on #1942
@whedon set 10.5281/zenodo.4396035 as archive

[2020-12-28 17:01] whedon commented on #1942
I'm sorry @benjaminbolling, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-12-28 17:02] benjaminbolling commented on #1942
@majensen : Please update Zenodo archive to:

Archive version: v1.0
DOI: 10.5281/zenodo.4396035

Thank you!

[2020-12-28 17:09] danielskatz commented on #1942
@whedon set v1.0 as version

[2020-12-28 17:09] whedon commented on #1942
OK. v1.0 is the version.

[2020-12-28 17:10] danielskatz commented on #1942
@whedon set 10.5281/zenodo.4396035 as archive

[2020-12-28 17:10] whedon commented on #1942
OK. <a href="https://doi.org/10.5281/zenodo.4396035" target="_blank">10.5281/zenodo.4396035</a> is the archive.

[2020-12-28 17:10] danielskatz commented on #1942
@whedon accept

[2020-12-28 17:10] whedon commented on #1942
[code]

[2020-12-28 17:11] whedon commented on #1942
[code]

[2020-12-28 17:11] whedon commented on #1942
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2007

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2007, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-28 17:13] danielskatz commented on #1942
@benjaminbolling  - I don't see any changes in the paper - the last update seems to be 14 days ago

https://github.com/benjaminbolling/DynaGUI/blob/master/paper.md

[2020-12-28 19:32] benjaminbolling commented on #1942
I am sorry, I missed to commit it. It has been committed now.

[2020-12-28 19:56] benjaminbolling commented on #1942
Removed .git from zip file and updated paper.md in the archived file.

Please update Zenodo archive to:

Archive version: v1.0.1
DOI: 10.5281/zenodo.4396227

[2020-12-28 21:28] danielskatz commented on #1942
Thanks - there's no need to update the repository for a change in the paper, but it's also fine to

[2020-12-28 21:28] danielskatz commented on #1942
@whedon set v1.0.1 as version

[2020-12-28 21:28] whedon commented on #1942
OK. v1.0.1 is the version.

[2020-12-28 21:28] danielskatz commented on #1942
@whedon set 10.5281/zenodo.4396227 as archive

[2020-12-28 21:29] whedon commented on #1942
OK. <a href="https://doi.org/10.5281/zenodo.4396227" target="_blank">10.5281/zenodo.4396227</a> is the archive.

[2020-12-28 21:29] danielskatz commented on #1942
@whedon accept

[2020-12-28 21:29] whedon commented on #1942
[code]

[2020-12-28 21:29] whedon commented on #1942
[code]

[2020-12-28 21:29] whedon commented on #1942
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2008

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2008, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-28 21:32] danielskatz commented on #1942
@whedon accept deposit=true

[2020-12-28 21:32] whedon commented on #1942
[code]

[2020-12-28 21:33] whedon commented on #1942
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1343671383335821326) 👈 🐦🐦🐦

[2020-12-28 21:33] whedon commented on #1942
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2009
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01942](https://doi.org/10.21105/joss.01942)
2. If everything looks g

[2020-12-28 21:36] benjaminbolling commented on #1942
Amazing! A big thank you to everyone for all the time and effort you put into this!

[2020-12-28 21:37] danielskatz commented on #1942
It's not quite done yet, but close - at least, the paper doesn't appear in the link.

Once it does, I'll close this issue

[2020-12-28 21:48] majensen commented on #1942
Fantastic @benjaminbolling! Congratulations! Thanks for staying with us to the end @pythonpanda2 and @Chilipp. Really happy to see this come to fruition.

Cheers to @danielskatz, always appreciated.

[2020-12-28 23:39] jedbrown commented on #2185
I think plotting a structure function for a real turbulent flow would be most useful. Verification is important for people who are digging deeper, but I think not the thing to promote up-front.

[2020-12-29 02:30] danielskatz commented on #1942
Ok, the paper is now there for me.

Congratulations to @benjaminbolling (Benjamin Edward Bolling)!!

And thanks to @Chilipp and @pythonpanda2 for reviewing, and @majensen for editing!

[2020-12-29 02:30] #1942 closed

[2020-12-29 02:30] whedon commented on #1942
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01942/status.svg)](https://doi.org/10.21105/joss.01942)

**We need your help!**

Journal of Open Source Softwa

[2020-12-29 04:08] sebdalgarno commented on #2848
hi @marcosvital I will respond to each of the three reviewers comments in separate comments below

[2020-12-29 04:17] sebdalgarno commented on #2848
@elimillera I've made the requested license changes in this commit: https://github.com/sebdalgarno/shinyssdtools/commit/435ee79835584876eac5fc82c46607797335bdfb

I will make a pull request to finalize once I'm done with the rest of the changes.

[2020-12-29 05:52] sebdalgarno commented on #2848
@nanhung I will respond to each of your comments in bold

**This is not possible as it uses the rhandsontable R package which itself has limited features.**

**I don't agree that this would help as I think that numbering the tabs makes this obvious**

**I cannot reproduce this issue. Perhaps you need to reinstall the package?**

**fixed this in https://github.com/bcgov/shinyssdtools/issues/62**

*

[2020-12-29 06:01] sebdalgarno commented on #2848
@meenakshi-kushwaha I will respond to each of your comments in bold below

**fixed in this issue: https://github.com/bcgov/shinyssdtools/issues/62**

** fixed in this issue: https://github.com/bcgov/shinyssdtools/issues/64**

**Fixed in this issue: https://github.com/bcgov/shinyssdtools/issues/58**

**These contributors are the clients (Province of BC employees) and have only made very minimal con

[2020-12-29 06:06] sebdalgarno commented on #2848
@marcosvital everything has been addressed. Please see issues that were opened in reference to each comment/suggestion/problem and associated commits.

Changes have been pushed to this fork and branch: https://github.com/sebdalgarno/shinyssdtools/tree/joss_review

Next step is to get Province of BC to merge a pull request and redeploy the live site. However, it is possible for the reviewers to see

[2020-12-29 09:41] Kevin-Mattheus-Moerman commented on #2900
@danielskatz yes apologies for deviating from protocol.

[2020-12-29 09:48] Kevin-Mattheus-Moerman commented on #2929
@alemermartinez I just reviewed your paper as part of the scope check. I noted the following typo: `additve`. If you make any changes to the paper that you want to update you can call `@whedon generate pdf` here to update the paper.

[2020-12-29 09:53] fmatuschke commented on #2923
Hello, I fixed the reference and added the statement of need.

[2020-12-29 10:00] Kevin-Mattheus-Moerman commented on #2925
@niranjanstudy06 you mentioned _"A research paper on this topic has been submitted to the Journal of Atmospheric and Solar-Terrestrial Physics which is currently under review."_. Have you posted a pre-print of that paper anywhere? If so, could you share the link in this thread? If not you could consider it as that journal allows you to do this. Posting that pre-print is not required but would be h

[2020-12-29 10:21] niranjanstudy06 commented on #2925
@Kevin-Mattheus-Moerman In the currently submitted JOSS paper, the main focus is entirely on the structural development of the algorithm and its working. The paper submitted to "The Journal of Atmospheric and Solar-Terrestrial Physics" explains about the proposed Python-based algorithm and its comparison with other algorithms in detail with the working examples as an overview of the proposed algor

[2020-12-29 11:36] JanCBrammer commented on #2881
@dpsanders, sure! I expect to be able to review the repository next week (calendar week 1).

[2020-12-29 12:04] oliviaguest commented on #2923
@kthyng is it OK with everybody if I take this over after the holidays?

[2020-12-29 14:01] danielskatz commented on #2923
Just to clean up our AEiC action list, I'm going to assign it to you now, but with the expectation that nothing will happen this week - thanks!

[2020-12-29 14:01] danielskatz commented on #2923
@whedon assign @oliviaguest as editor

[2020-12-29 14:01] whedon commented on #2923
OK, the editor is @oliviaguest

[2020-12-29 14:18] alemermartinez commented on #2929
@whedon generate pdf

________________________________
De: Kevin Mattheus Moerman <notifications@github.com>
Enviado: martes, 29 de diciembre de 2020 06:49
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Alejandra Martinez <ale_m_martinez@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [openjournals/joss-reviews] [PRE REVIEW]: RBF: An R package to compute a rob

[2020-12-29 14:18] whedon commented on #2929
PDF failed to compile for issue #2929 with the following error:

 Can't find any papers to compile :-(

[2020-12-29 14:20] alemermartinez commented on #2929
@whedon commands

________________________________
De: whedon <notifications@github.com>
Enviado: sábado, 26 de diciembre de 2020 11:35
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Alejandra Martinez <ale_m_martinez@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: [openjournals/joss-reviews] [PRE REVIEW]: RBF: An R package to compute a robust backfitting estimato

[2020-12-29 14:20] whedon commented on #2929
Here are some things you can ask me to do:

[code]

[2020-12-29 14:21] alemermartinez commented on #2929
@whedon generate pdf from branch joss

________________________________
De: whedon <notifications@github.com>
Enviado: martes, 29 de diciembre de 2020 11:20
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Alejandra Martinez <ale_m_martinez@hotmail.com>; Mention <mention@noreply.github.com>
Asunto: Re: [openjournals/joss-reviews] [PRE REVIEW]: RBF: An R package to compute a ro

[2020-12-29 14:21] whedon commented on #2929
[code]

[2020-12-29 14:22] whedon commented on #2929
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02929/joss.02929/10.21105.joss.02929.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02929/joss.02929/10.21105.joss.02929.pdf) :page_facing_up: :point_left:

[2020-12-29 14:23] diehlpk commented on #2898
@Kevin-Mattheus-Moerman One more potential reviewer: jritta

[2020-12-29 14:24] diehlpk commented on #2922
@Balaje Could you please recommend some reviewers?

[2020-12-29 14:59] danielskatz commented on #2909
👋 @jessicatytam - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-

[2020-12-29 14:59] danielskatz commented on #2909
@whedon reject

[2020-12-29 14:59] whedon commented on #2909
Paper rejected.

[2020-12-29 14:59] #2909 closed

[2020-12-29 15:20] tweed1e commented on #2927
A potential COI is that I work for the Canadian federal government and this package was developed by the BC provincial government. But I've never worked with the authors of the pkg. @arfon can you waive that COI?

[2020-12-29 16:34] kfhiga commented on #2744
Thank you, @zhaowei0566 <https://github.com/zhaowei0566>! Thank you for
your suggestions on the package as well. I'll check with my management to
see if they would support me making a pip release.
Happy new year!
Kenny

On Sat, Dec 26, 2020 at 1:22 PM Wei Zhao <notifications@github.com> wrote:

[2020-12-29 17:07] albertonogueira commented on #2862
I am intrigued about how to compare traditional POD and SPOD. It should be explored in the corresponding paper of PySPOD.

[2020-12-29 18:32] kyleniemeyer commented on #2896
@kbarnhart @giswqs the editorial board voted to consider this one in scope, so please proceed! I'm removing the `scope-query` label.

[2020-12-29 20:03] dwinter commented on #2743
Hi @greggj2016 , apologies for the delay. I'm afraid he Southern summer break and holidays mean it will likely be a couple of weeks for be to get to this.

[2020-12-29 20:59] ctodd26labs commented on #2882
Hello everyone, happy holidays.

I figured that people are probably busy and taking off, but I wanted to check to see if there has been any movement on this request or if there is anything necessary on our end.

Thank you and have a good day.

[2020-12-29 21:43] Balaje commented on #2922
@diehlpk 👋  Based on looking at the list, I could suggest
- corentin-dev
- rabernat
- iammix
- wingtorres

Also, can I push new commits to the repository at this point? I want to upload the manual and some small changes to the code.

Thanks.

[2020-12-29 21:45] diehlpk commented on #2922
Sure, the repo will change during the review anyways.

[2020-12-29 21:48] diehlpk commented on #2922
@corentin-dev @rabernat @iammix @wingtorres @ilyasst would you be interested to review this paper or could recommend someone?

[2020-12-29 23:01] Balaje commented on #2922
@diehlpk Thank you. I've updated the repo.

[2020-12-29 23:46] AJQuinn commented on #2881
Hello - thanks all for your time with our paper!

@dpsanders - thanks for the first comments. I've made some changes in a branch and will recompile the paper below. I've reworked the summary to make the statement of need section more explicit (I'd intended the summary to cover the SofN but didn't realise it needed a separate section..) and added some specifics on how our package goes beyond others

[2020-12-29 23:47] AJQuinn commented on #2881
@whedon generate pdf from branch 33-joss-revisions

[2020-12-29 23:47] whedon commented on #2881
[code]

[2020-12-29 23:47] whedon commented on #2881
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02881/joss.02881/10.21105.joss.02881.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02881/joss.02881/10.21105.joss.02881.pdf) :page_facing_up: :point_left:

[2020-12-30 01:41] rabernat commented on #2922
Sorry I have to decline. I am not well qualified to review MATLAB code as I don't know the language or packaging conventions.

[2020-12-30 06:10] mjsottile commented on #2844
:wave: @glemaitre and @jbytecode : I've been tracking progress in the issues linked above, but in the interest of being able to respond in a timely manner once reviews are complete, please add a comment to this issue thread when you believe you are finished and indicate whether or not you support accepting the submission (and if not, what you believe must be addressed).

Please let me know if you

[2020-12-30 08:30] jbytecode commented on #2844
Dear editor @mjsottile,

In my reviewing process, I opened many issues indicating the problems by referencing the corresponding reviewing items, and the authors corrected them. I generally respond with a message "that seems okay" before closing the issue. Please tell me if there is a specific problem with this and let me correct.

A single issue is waiting for correction, the authors wrote a micro

[2020-12-30 10:13] whedon commented on #2911
:wave: @BKillen05, please update us on how your review is going.

[2020-12-30 10:13] whedon commented on #2911
:wave: @melund, please update us on how your review is going.

[2020-12-30 14:05] schnorr commented on #2876
I completed the General Checks (Repository, License, Contribution and Authorship, Substantial scholarly effort). As the author stated, the R package is a layer to ease the use of the original [nnlib2 package](https://github.com/VNNikolaidis/nnlib2) - also available in the R package source code as ruled by the CRAN submission procedures. I've left two minor issues regarding the [License](https://gi

[2020-12-30 14:22] schnorr commented on #2876
Regarding the Functionality perspective (Installation, Functionality, and Performance). **Installation**. I was able to install the package very easily using both the CRAN sources and the development version available in Github using the installation procedures described in the `README.md` file. When executing the very first command using the library - from the blog post - `p <- new("NN")`, I get

[2020-12-30 14:50] schnorr commented on #2876
Regarding the Documentation (A statement of need, Installation instructions, Example usage, Functionality documentation, Automated tests, Community guidelines). **A statement of need, Installation instructions**. The documentation has two files (as far as I was able to find). The `README.md` contains a brief statement of need and short installation instructions. There is no example usage, function

[2020-12-30 15:29] schnorr commented on #2876
Regarding Software paper (Summary, A statement of need, State of the field, Quality of writing, References). **Summary**. The summary provides a high-level functionality and purpose of the software for a diverse, non-specialist audience. **Statement of need**. The statement of need make it clear that the usage of this library targets students that want to understand the basics of building NN model

[2020-12-30 15:30] schnorr commented on #2876
Hi @kakiac, I've completed a first review. Since this is my first time as reviewer for JOSS, please let me know if I need to improve the procedure.

[2020-12-30 15:37] ekaterinailin commented on #2845
Hello again,

I finally got my hands on the code again, so here are my (proto-)solutions to @afeinstein20 's review:

- **Installation**
    - I had no [...] later on.
        - Through PyPI, I receive the following error: FileNotFoundError: [Errno 2] No such file or directory: '//anaconda3/lib/python3.7/site-packages/K2SC-1.0-py3.7.egg'
            - Not sure about that one because I am not famil

[2020-12-30 16:49] NMontanaBrown commented on #2868
Hi 👋 @charleygros, thanks for the work.

* Installation
Currently I am having the same problems with installation as @lbugnon reported earlier, with differing outcomes depending on OS.
MacOS installation proceeds correctly for latest release.
Ubuntu 18.04.3 installation proceeds correctly for latest release.
Windows OS left me with the same error as above, for some reason.

` pip install ivadomed

[2020-12-30 18:52] lzkelley commented on #2784
Dear @kexinrong and @williamjameshandley, thank you both so much for your helpful comments!  I have just pushed a new version 'v0.5' to master which includes the recommended updates.  The changes are noted in the [CHANGES.md file](https://github.com/lzkelley/kalepy/blob/master/CHANGES.md#v05---20201230), and also here:

- [kalepy.readthedocs.io](kalepy.readthedocs.io) now includes fully compiled d

[2020-12-30 19:02] trashbirdecology commented on #2815
Nice job to the authors!

[2020-12-30 19:43] arfon commented on #2924
Yeah, I think this is because clones from that server are really slooooooooow.

[2020-12-30 20:02] kenohori commented on #2869
My suggestion would be to summarise the instructions from the manual setup file in the main readme. It could be something like:

1. install libspatialindex (eg with apt-get on Linux or brew on Mac)
2. `pip install pyinterpolate`
3. run tests

Thanks! I'll have a look at those. It would be nice to add this information to the Readme and paper as well.

[2020-12-30 20:07] jGaboardi commented on #2826
@usethedata
* I am wondering if this is still on track or if there is anything I can do to assist?
* I am planning on doing a New Year release. Do I need to update anything here in the review once I do that?

[2020-12-30 21:19] jcohenadad commented on #2868
The [following reference](https://github.com/ivadomed/ivadomed/blob/master/paper.bib#L47), which is supposed to reference Pytorch, whould probably be replaced by this one:
[code]

[2020-12-31 09:06] Kevin-Mattheus-Moerman commented on #2898
@ctdegroot, @likask, @jritta would you be interested in reviewing this work for [JOSS](https://joss.theoj.org)? It features nonlocal fracture models and finite difference/meshfree methods.

The review focuses on [the software](https://github.com/nonlocalmodels/NLMech) and this [short paper](https://github.com/openjournals/joss-papers/blob/joss.02898/joss.02898/10.21105.joss.02898.pdf).

This is a

[2020-12-31 10:32] egonw commented on #2558
This one is still open. There are several past Bioclipse developers involved, one of them even passed away. I will not be able to resolve this quickly.

@Zethson, I have isolated some subtasks of https://github.com/egonw/bacting/issues/10 which now have a reply (fixes mostly; see that issue). Thank you for your suggestions.

Indeed. Eclipse (and therefore Bioclipse) has a progress monitoring `View

[2020-12-31 10:34] egonw commented on #2558
@majensen, yes, sorry about this. i had to wait until the winter break to start working on the rebuttal. I think I indicated somewhere that I expect to "resubmit" (how does that work?) the manuscript before this Monday. I am tracking progress here: https://github.com/egonw/bacting/projects/1

[2020-12-31 12:55] salleuska commented on #2892
## Comments on the software repository

I have some concerns regarding documentation of functions and examples, but I think these can be easily addressed by the author.  My main concern is that the documentation should be expanded. Although each of the methods seems well referenced, few sentences describing what is the base idea of each algorithm would be helpful in my opinion. This also should he

[2020-12-31 13:08] majensen commented on #2558
@egonw Sounds good. Just start back up and I will remove the paused label. We can pick up where we left off.

[2020-12-31 14:07] salleuska commented on #2892
## Software paper

I think that the paper does not require major changes in the structure or language. I have just a few minor comments

- **Summary**. ``Our package covers a significant portion of the literature on *fitting with outliers*'' -> Our package [..] on *(linear regression | model fitting)* with outliers
- **Statement of need**. I wonder if the methods can be listed or tabulated accordi

[2020-12-31 17:06] fwalter commented on #2565
The submitted python-based rsupd package is designed to handle data output of the Raspberry Shake and Raspberry Boom sensors. Although I have not used these sensors before I understand that they are user friendly and low cost seismic and infrasound sensors particularly suitable for educational purposes or research applications, where specialized custom-made instrumentation is necessary.

The code

[2020-12-31 17:06] fwalter commented on #2565
This concludes my review of this software submission.

[2020-12-31 17:30] jedbrown commented on #2565
Thanks, @fwalter. What do you mean by "The references do not appear in the software paper."? I see 8 references with DOI and nothing unresolved in the PDF.

I suppose I would mention that even if something can be easily coded from scratch, there's still value in having an authoritative implementation for provenance, accessibility, and sometimes performance. The ObsPy integration you suggest sounds

[2020-12-31 17:34] fwalter commented on #2565
Hi @jedbrown, I was referring to the paper.md file, which I view through my browser. Where can I see the pdf?

[2020-12-31 17:43] jedbrown commented on #2565
@whedon generate pdf

[2020-12-31 17:44] whedon commented on #2565
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02565/joss.02565/10.21105.joss.02565.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02565/joss.02565/10.21105.joss.02565.pdf) :page_facing_up: :point_left:

[2020-12-31 17:44] jedbrown commented on #2565
It was linked above in the thread, but here's a fresh version. ☝🏼

[2020-12-31 18:23] fwalter commented on #2565
Thanks!

[2020-12-31 19:22] DavidNickle commented on #2906
I had to do "conda update conda" and then make sure I had py3 was updated too.  I installed both ways, that is to say Nexstrain and Augur specific install.  I ran the Zika tutorial through the Nextstrain install.  All in all it really was not a big issue.  You guys are doing great work and I think this really helps people with reproducible code and analyses.

[2020-12-31 22:05] jbytecode commented on #2892
Dear reviewer @salleuska,

Thank you for your valuable suggestions, corrections, and comments. We will implement them. Thank you.

[2021-01-01 00:04] huddlej commented on #2906
Thank you for clarifying, @DavidNickle! I've updated both the [Nextstrain installation docs](https://github.com/nextstrain/docs.nextstrain.org/commit/178a0829179848def908d9a8699cad359528ce8e) and [Augur installation docs](https://github.com/nextstrain/augur/pull/655/commits/97cee791938b32ff6a29307b7c0809d995c9e34a) to reflect this issue.

[2021-01-01 01:59] majensen commented on #2906
@whedon generate pdf

[2021-01-01 01:59] majensen commented on #2906
@whedon check references

[2021-01-01 01:59] whedon commented on #2906
[code]

[2021-01-01 02:00] whedon commented on #2906
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02906/joss.02906/10.21105.joss.02906.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02906/joss.02906/10.21105.joss.02906.pdf) :page_facing_up: :point_left:

[2021-01-01 02:06] majensen commented on #2906
@huddlej can you have a look at the "Missing DOIs" in the above (https://github.com/openjournals/joss-reviews/issues/2906#issuecomment-753240297) and see if they are appropriate to incorporate into your bib references? Thanks

[2021-01-01 02:34] majensen commented on #2906
@huddlej I would like you to consider adding the following committers (not @'ed so they don't get pinged) explicitly to the author list, and then remove the "Augur Contributors" author and make a general acknowledgement in the paper instead.

- kairstenfay
- elebow
- joverlee521
- willingc
- barneypotter24
and possibly
- lmoncla
- sidneymbell
- saikirankv

My rationale is that these folks (many of

[2021-01-01 04:37] huddlej commented on #2906
@majensen The missing DOIs were both correct and helpful. I've added these to the bibliography.

I'll check with the rest of the team about the authorship changes. We weren't sure how to best choose a threshold for authorship and I think folks will be open to these changes. We would also want to consider [danielsoneg](https://github.com/nextstrain/augur/search?q=danielsoneg&type=commits) and grout

[2021-01-01 10:47] arfon commented on #2927
Yes, this is fine. Thanks for disclosing this - please proceed.

[2021-01-01 10:49] arfon commented on #2784
:zap: thanks for the update @lzkelley.

@kexinrong and @williamjameshandley happy new year 🎉! When you are able to, please check in on the latest changes made by @lzkelley and update your checklists as appropriate.

[2021-01-01 19:00] majensen commented on #2906
(Maybe for those folks who are/were not directly part of the Hutch or Bioz,  you could give them a direct acknowledgement if they contributed significantly. Hey tell Thomas that both David and I worked for Jim Mullins about a century ago.)

[2021-01-01 20:23] williamjameshandley commented on #2784
@whedon generate pdf

[2021-01-01 20:24] whedon commented on #2784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02784/joss.02784/10.21105.joss.02784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02784/joss.02784/10.21105.joss.02784.pdf) :page_facing_up: :point_left:

[2021-01-01 20:30] williamjameshandley commented on #2784
This is very nearly there in my book. At the moment, the readthedocs website doesn't seem to be extracting the docstrings. For an example of what I mean, have a look [here](https://anesthetic.readthedocs.io/en/latest/anesthetic.html), and how this is automated [here](https://github.com/williamjameshandley/anesthetic). There still aren't any clear community guidelines for contributions (other than

[2021-01-02 11:45] jbytecode commented on #2892
@whedon generate pdf

[2021-01-02 11:46] whedon commented on #2892
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: :point_left:

[2021-01-02 11:46] jbytecode commented on #2892
@whedon check references

[2021-01-02 11:46] whedon commented on #2892
[code]

[2021-01-02 11:55] jbytecode commented on #2892
Dear reviewer @salleuska,

- Methods are consistently returns a `Dict` object even the result includes only one item.
- All exported methods have now `Description` and `Output` sections in their documentation. In the former, we give a short and brief introduction, how it runs, what does it do, etc., without getting deep into the details. In the latter, we present what the method returns and what i

[2021-01-02 17:12] rMassimiliano commented on #2892
I really like the new example section. I have some comments on the main paper and on the example section in the repository in the following.  I tested the code on Julia 1.5.3 on Ubuntu.

**Paper**
Following line-by-line the code in the section **Installation and basic usage**, the examples at line 70 and 71 return `Array` not `Dict`. Make sure the results shown in the paper are consistent with the

[2021-01-02 17:56] jbytecode commented on #2892
Dear reviewer @rMassimiliano,

Thank you very much for your comments.

- In the paper, lines 70-71, the method `smr98` (and all of the methods exported from the package) now return a `Dict` after pushing many commits. Could you please re-check? Or please tell me if I am unlucky missing something.
- Peña and Yohai (1995) section is corrected.
- A code snipped is added for drawing LTS line and Phone

[2021-01-02 22:04] lzkelley commented on #2784
Apologies @williamjameshandley, there was a readthedocs build error that I didn't notice.  The docs seem to be building properly now.  The [full docstring documentation is here](https://kalepy.readthedocs.io/en/latest/kalepy.html).  I have expanded the contribution information in the [README](https://github.com/lzkelley/kalepy#development--contributions), the [DEVELOPMENT.rst](https://github.com/l

[2021-01-03 07:04] kexinrong commented on #2784
Hi Luke, thanks for the changes. The updated documentation and guideline look good to me.

For the JOSS paper, I have one suggestion regarding discussions on related packages: it seems that `scipy.stats.gaussian_kde` does have a build-in [resample](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.gaussian_kde.resample.html) function. Could you update the writing to reflect this?

[2021-01-03 11:35] rMassimiliano commented on #2892
Dear @jbytecode,
the functions on your repository  ` https://github.com/jbytecode/LinRegOutliers`  are indeed updated and return `Dict` as expected.

However, the new version has not been added to Julia package registry `JuliaRegistries/General`. This is the version installed when using `Pkg.add()`, as suggested in the **Installation** section of the repo.

I would recommend to add the new version

[2021-01-03 12:37] jbytecode commented on #2892
Dear reviewer @rMassimiliano,

New version is ready in Julia package registry now.

Thank you.

[2021-01-03 16:16] dfm commented on #2550
@Jammy2211: Happy new year! Do you have any updates on these remaining issues from @karllark? Let us know if you have questions or a timeline for when you're hoping to get to them. Thanks!

[2021-01-03 16:19] dfm commented on #2845
I'm pinging @mrtommyb to keep this on his radar as we roll into the new year.

[2021-01-03 18:33] arcuri82 commented on #2153
@gkthiruvathukal: is there any news on this? On Thursday the 7th, it is going to be 1 year since this article was first submitted :(

[2021-01-03 18:34] symmy596 commented on #2824
Happy new year to you all.

I have attempted to address all of your comments. I have made a new version of polypy, version 0.8.1 which you will need to download if you wish to check out any of the functionality that has been tweaked.

For simplicity / to keep mysefl right I have copied your comments below and provided an answer beneath.

Q. I managed installing Polypy without problems although the

[2021-01-03 19:05] gkthiruvathukal commented on #2153
Hi @arcuri82. Yes, we're definitely heading to acceptance. I hoped to process it before taking a much-needed winter break. I'll finalize it today or tomorrow. Thanks for your patience! (As you know, we lost some reviewers during the review process but everything is done now. It does not normally take this long!)

[2021-01-03 19:06] gkthiruvathukal commented on #2153
@whedon commands

[2021-01-03 19:06] whedon commented on #2153
Here are some things you can ask me to do:

[code]

[2021-01-03 19:07] gkthiruvathukal commented on #2153
@whedon set 10.5281/zenodo.4300745 as archive

[2021-01-03 19:07] whedon commented on #2153
OK. <a href="https://doi.org/10.5281/zenodo.4300745" target="_blank">10.5281/zenodo.4300745</a> is the archive.

[2021-01-03 19:08] gkthiruvathukal commented on #2153
@whedon set 1.1.0 as release

[2021-01-03 19:08] whedon commented on #2153
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-03 19:08] gkthiruvathukal commented on #2153
@whedon set 1.1.0 as version

[2021-01-03 19:08] whedon commented on #2153
OK. 1.1.0 is the version.

[2021-01-03 19:09] gkthiruvathukal commented on #2153
@whedon generate pdf

[2021-01-03 19:10] whedon commented on #2153
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02153/joss.02153/10.21105.joss.02153.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf) :page_facing_up: :point_left:

[2021-01-03 19:11] gkthiruvathukal commented on #2153
@whedon accept

[2021-01-03 19:11] whedon commented on #2153
[code]

[2021-01-03 19:13] whedon commented on #2153
[code]

[2021-01-03 19:13] whedon commented on #2153
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2010

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2010, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-03 20:05] kyleniemeyer commented on #2153
Hi @arcuri82, I'm just doing some final checks on your submission before publishing.

I noticed some issues with in-text citations in your article (not using a single command when citing multiple things), and made a small PR to fix this: https://github.com/EMResearch/EvoMaster/pull/232

Can you merge this? I will then publish the article. There is no need to create a new Zenodo archive. Thanks!

[2021-01-03 20:10] arcuri82 commented on #2153
@gkthiruvathukal: thanks
@kyleniemeyer: thanks for PR. it is merged now

[2021-01-03 20:13] kyleniemeyer commented on #2153
@whedon generate pdf

[2021-01-03 20:14] whedon commented on #2153
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02153/joss.02153/10.21105.joss.02153.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf) :page_facing_up: :point_left:

[2021-01-03 20:15] kyleniemeyer commented on #2153
@whedon accept deposit=true

[2021-01-03 20:15] whedon commented on #2153
[code]

[2021-01-03 20:17] whedon commented on #2153
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1345826731362562048) 👈 🐦🐦🐦

[2021-01-03 20:17] whedon commented on #2153
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2011
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02153](https://doi.org/10.21105/joss.02153)
2. If everything looks g

[2021-01-03 20:23] arcuri82 commented on #2153
thanks. generated PDF seems fine

[2021-01-03 20:27] kyleniemeyer commented on #2153
Congrats @arcuri82 on your article's publication in JOSS!

Many thanks to @mado89, @s0nata, and @UTH-Tuan for reviewing this, and @gkthiruvathukal for editing.

[2021-01-03 20:27] #2153 closed

[2021-01-03 20:27] whedon commented on #2153
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02153/status.svg)](https://doi.org/10.21105/joss.02153)

**We need your help!**

Journal of Open Source Softwa

[2021-01-03 23:42] MilesMcBain commented on #2927
Sorry @arfon I can't check boxes in the lists, probably because the collaborator invite expired?

[2021-01-04 04:09] JonathanReardon commented on #2827
Hi all. Sincere apologies for the delay back in December. I got sick unfortunately though I'm back on track now. I should get this done by Monday next week (11th Jan). Thank you for your patience and Happy New Year!

[2021-01-04 04:29] arokem commented on #2827
Hi @JonathanReardon -- thanks for the update! Glad that you are back on track. Having your feedback by next Monday would be great.

[2021-01-04 07:39] CatarauCorina commented on #2891
Hi @oliviaguest  by the end of this week for me, I was away, sorry for the late reply.

[2021-01-04 07:44] csoneson commented on #2864
👋 Happy New Year!
@j-andrews7, @xie186 - thanks a lot for your reviews.
@damienmarsic - could you take a look at the few outstanding points above and let us know when the submission is ready for a reassessment by the reviewers?
Thanks!

[2021-01-04 07:58] arfon commented on #2800
@henrykironde - just a reminder that we're waiting on your response here.

[2021-01-04 07:59] whedon opened #2932 "[PRE REVIEW]: sboxgates: A program for finding low gate count implementations of S-boxes"
**Submitting author:** @dansarie (<a href="http://orcid.org/0000-0001-9246-0263">Marcus Dansarie</a>)
**Repository:** <a href="https://github.com/dansarie/sboxgates" target ="_blank">https://github.com/dansarie/sboxgates</a>
**Version:** v1.1.0
**Editor:** @VivianePons
**Reviewers:** @gradvohl, @gcdeshpande
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-01-04 07:59] whedon commented on #2932
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-04 08:00] whedon opened #2933 "[PRE REVIEW]: SAR tools: A QGIS plugin for generating SAR descriptors"
**Submitting author:** @Narayana-Rao (<a href="http://orcid.org/0000-0002-6496-7283">NR Bhogapurapu</a>)
**Repository:** <a href="https://github.com/Narayana-Rao/SAR-tools" target ="_blank">https://github.com/Narayana-Rao/SAR-tools</a>
**Version:** v0.6
**Editor:** @hugoledoux
**Reviewers:** @liberostelios, @HenrikJanPersson
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :war

[2021-01-04 08:00] whedon commented on #2933
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-04 08:00] whedon opened #2934 "[PRE REVIEW]: minimo: a linked data and metadata storage system for small labs"
**Submitting author:** @borchardt (<a href="http://orcid.org/0000-0001-9033-6365">Jackson Borchardt</a>)
**Repository:** <a href="https://github.com/focolab/minimo.git" target ="_blank">https://github.com/focolab/minimo.git</a>
**Version:** v1.0.0
**Editor:** @majensen
**Reviewers:** @junjun-zhang, @bensonml
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-01-04 08:00] whedon commented on #2934
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-04 08:00] whedon commented on #2932
[code]

[2021-01-04 08:01] whedon opened #2935 "[PRE REVIEW]: Thing Directory: Simple and lightweight registry of IoT device metadata"
**Submitting author:** @farshidtz (<a href="http://orcid.org/0000-0002-5415-9899">Farshid Tavakolizadeh</a>)
**Repository:** <a href="https://github.com/linksmart/thing-directory" target ="_blank">https://github.com/linksmart/thing-directory</a>
**Version:** v1.0.0-beta.20
**Editor:** @gkthiruvathukal
**Reviewers:** @yadudoc, @sarathsp06
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced serv

[2021-01-04 08:01] whedon commented on #2935
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-04 08:01] whedon commented on #2932
PDF failed to compile for issue #2932 with the following error:

 Can't find any papers to compile :-(

[2021-01-04 08:01] whedon opened #2936 "[PRE REVIEW]: MOLE: Mimetic Operators Library Enhanced"
**Submitting author:** @jcorbino (<a href="http://orcid.org/0000-0002-2638-9216">Johnny Corbino</a>)
**Repository:** <a href="https://github.com/jcorbino/mole" target ="_blank">https://github.com/jcorbino/mole</a>
**Version:** v3.0.0
**Editor:** @jedbrown
**Reviewers:** @ketch, @jshipton
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-01-04 08:01] whedon commented on #2936
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-04 08:01] whedon commented on #2933
Failed to discover a `Statement of need` section in paper

[2021-01-04 08:01] whedon commented on #2933
[code]

[2021-01-04 08:01] whedon commented on #2933
[code]

[2021-01-04 08:02] whedon opened #2937 "[PRE REVIEW]: RivGraph: Automatic extraction and analysis of river and delta channel network topology"
**Submitting author:** @jonschwenk (<a href="http://orcid.org/0000-0001-5803-9686">Jon Schwenk</a>)
**Repository:** <a href="https://github.com/jonschwenk/RivGraph" target ="_blank">https://github.com/jonschwenk/RivGraph</a>
**Version:** v0.3
**Editor:** @kbarnhart
**Reviewers:** @eriknes, @leotrs
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-01-04 08:02] whedon commented on #2937
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-04 08:02] whedon commented on #2934
[code]

[2021-01-04 08:03] whedon commented on #2933
PDF failed to compile for issue #2933 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:204:in `block in parse_authors': Author (Subhadip Dey) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a

[2021-01-04 08:03] whedon commented on #2935
[code]

[2021-01-04 08:03] whedon commented on #2934
PDF failed to compile for issue #2934 with the following error:

 Can't find any papers to compile :-(

[2021-01-04 08:03] whedon opened #2938 "[PRE REVIEW]: libCEED: Fast algebra for high-order element-based discretizations"
**Submitting author:** @jedbrown (<a href="http://orcid.org/0000-0002-9945-0639">Jed Brown</a>)
**Repository:** <a href="https://github.com/CEED/libCEED" target ="_blank">https://github.com/CEED/libCEED</a>
**Version:** v0.8.0
**Editor:** @diehlpk
**Reviewers:** @thelfer, @FreddieWitherden, @pbauman
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-01-04 08:04] whedon commented on #2938
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-04 08:04] whedon commented on #2935
[code]

[2021-01-04 08:04] whedon commented on #2936
Failed to discover a `Statement of need` section in paper

[2021-01-04 08:04] whedon commented on #2936
[code]

[2021-01-04 08:04] whedon commented on #2936
[code]

[2021-01-04 08:05] whedon commented on #2935
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02935/joss.02935/10.21105.joss.02935.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02935/joss.02935/10.21105.joss.02935.pdf) :page_facing_up: :point_left:

[2021-01-04 08:05] whedon commented on #2937
[code]

[2021-01-04 08:06] whedon commented on #2937
[code]

[2021-01-04 08:06] whedon commented on #2936
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02936/joss.02936/10.21105.joss.02936.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02936/joss.02936/10.21105.joss.02936.pdf) :page_facing_up: :point_left:

[2021-01-04 08:07] arfon commented on #2925
@niranjanstudy06 - many thanks for your submission to JOSS. After review by our editorial team, this submission has been deemed out of scope for JOSS and not meeting the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

Additionally, based on a cursory review of this software, it seems like this code could do with substan

[2021-01-04 08:07] arfon commented on #2925
@whedon reject

[2021-01-04 08:07] whedon commented on #2925
Paper rejected.

[2021-01-04 08:07] #2925 closed

[2021-01-04 08:08] whedon commented on #2937
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02937/joss.02937/10.21105.joss.02937.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02937/joss.02937/10.21105.joss.02937.pdf) :page_facing_up: :point_left:

[2021-01-04 08:08] arfon commented on #2914
@whedon assign @timtroendle as editor

[2021-01-04 08:08] whedon commented on #2914
OK, the editor is @timtroendle

[2021-01-04 08:08] whedon commented on #2938
[code]

[2021-01-04 08:08] arfon commented on #2914
OK, I've re-assigned @timtroendle as the editor here as this submission has passed the scope review check.

[2021-01-04 08:09] whedon commented on #2938
PDF failed to compile for issue #2938 with the following error:

 Can't find any papers to compile :-(

[2021-01-04 08:10] tramarobin commented on #2839
@cMadan, Hi ! Hope your doing well
As I am not familiar with this kind of review, should I suggest other reviewers as we have no answers from the previouly suggested ones ?

[2021-01-04 08:11] arfon commented on #2930
@JesseBonanno - many thanks for your submission to JOSS. After a review by our editorial team, this submission has been determined as out of scope for JOSS.

Please note, your earlier comment (and link) was to a [_JOSE_ ](http://jose.theoj.org) paper, and we believe this submission may be better suited for that journal too.

[2021-01-04 08:11] arfon commented on #2930
@whedon reject

[2021-01-04 08:11] whedon commented on #2930
Paper rejected.

[2021-01-04 08:11] #2930 closed

[2021-01-04 08:13] arfon commented on #2928
@adidevara - many thanks for your submission to JOSS. A review by our editorial team has concluded that this submission is out of scope for JOSS due to it's [limited size/scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to

[2021-01-04 08:13] arfon commented on #2928
@whedon reject

[2021-01-04 08:14] whedon commented on #2928
Paper rejected.

[2021-01-04 08:14] #2928 closed

[2021-01-04 08:15] arfon commented on #2932
@whedon generate pdf from branch joss

[2021-01-04 08:15] whedon commented on #2932
[code]

[2021-01-04 08:16] whedon commented on #2932
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02932/joss.02932/10.21105.joss.02932.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02932/joss.02932/10.21105.joss.02932.pdf) :page_facing_up: :point_left:

[2021-01-04 08:16] arfon commented on #2934
@whedon generate pdf from branch joss

[2021-01-04 08:16] whedon commented on #2934
[code]

[2021-01-04 08:17] whedon commented on #2934
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02934/joss.02934/10.21105.joss.02934.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02934/joss.02934/10.21105.joss.02934.pdf) :page_facing_up: :point_left:

[2021-01-04 08:17] arfon commented on #2934
@whedon check references from branch joss

[2021-01-04 08:17] whedon commented on #2934
[code]

[2021-01-04 08:18] whedon commented on #2934
[code]

[2021-01-04 08:20] arfon commented on #2934
@whedon query scope

@Borchardt – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-01-04 08:20] whedon commented on #2934
Submission flagged for editorial review.

[2021-01-04 08:24] arfon commented on #2935
@gkthiruvathukal - would you be willing to edit this submission for JOSS? Also, if you believe this needs a scope check by the JOSS editorial team then we can do that first.

Note, there's a lot of code in `vendor`, removing that and re-running `cloc` gives the following:

[code]

[2021-01-04 08:27] arfon commented on #2936
@whedon invite @jedbrown as editor

:wave: @jedbrown - the submitting editor suggested you as the handling editor. Would you be willing to take on this submission?

[2021-01-04 08:27] whedon commented on #2936
@jedbrown has been invited to edit this submission.

[2021-01-04 08:31] arfon commented on #2696
:wave: @ThomasLecocq @leouieda happy new year! Just checking in here on the status of this review?

[2021-01-04 08:34] arfon commented on #2937
:wave: @kthyng @leouieda - would one of you be willing to handle this submission for JOSS? @kbarnhart is the suggested editor but is already handing four submissions right now 😬.

[2021-01-04 08:36] arfon commented on #2938
@whedon generate pdf from branch joss-paper

[2021-01-04 08:36] whedon commented on #2938
[code]

[2021-01-04 08:36] arfon commented on #2938
@whedon check references from branch joss-paper

[2021-01-04 08:36] whedon commented on #2938
[code]

[2021-01-04 08:37] whedon commented on #2938
[code]

[2021-01-04 08:37] whedon commented on #2938
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02938/joss.02938/10.21105.joss.02938.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02938/joss.02938/10.21105.joss.02938.pdf) :page_facing_up: :point_left:

[2021-01-04 08:37] JesseBonanno commented on #2930
@arfon My mistake, thank you for pointing it out!

[2021-01-04 08:37] hugoledoux commented on #2866
hmmm, I wasn't aware of that old-and-weird release. I have just deleted it, since I can imagine it could cause confusion!

The proper and up-to-date `.yml` file is the one in the master branch in the `example_data` folder.

[2021-01-04 08:39] arfon commented on #2938
:wave: @meg-simula @diehlpk happy new year! Would one of you be willing to handle this submission from our very own @jedbrown 😄?

@jedbrown - note the minor issue with one of your DOIs here.

[2021-01-04 08:40] arfon commented on #2904
:wave: @jgostick - just a friendly reminder to respond here when you get a chance.

[2021-01-04 08:42] arfon commented on #2918
:wave: @galessiorob - happy new year! Just a friendly reminder you have an invite to edit here that we'd appreciate your response to 😄.

[2021-01-04 08:42] arfon commented on #2919
:wave: @richardjgowers - happy new year! Just a friendly reminder you have an invite to edit here that we'd appreciate your response to 😄.

[2021-01-04 08:43] arfon commented on #2920
:wave: @pibion - happy new year! Just a friendly reminder you have an invite to edit here that we'd appreciate your response to 😄.

[2021-01-04 08:43] farshidtz commented on #2935
@arfon - Thanks for the stats. The historical commit information, by author also seems wrong when compared with [contributors on Github](https://github.com/linksmart/thing-directory/graphs/contributors) (the second author is @dschowta).

I have added the missing DOI 10.1145/2991561.2991570 for title: A Categorization of Discovery Technologies for the Internet of Things.
@whedon generate pdf

[2021-01-04 08:45] arfon commented on #2929
@whedon invite @mikldk as editor

:wave: @mikldk - happy new year! Would you be willing to edit this submission for JOSS?

[2021-01-04 08:45] whedon commented on #2929
@mikldk has been invited to edit this submission.

[2021-01-04 08:47] arfon commented on #2932
@whedon invite @VivianePons as editor

:wave: @VivianePons - happy new year! Would you be willing to edit this submission for JOSS? It's not clear if this submission needs a scope check by the editorial team first so please let me know if you think we should review for scope.

[2021-01-04 08:47] whedon commented on #2932
@VivianePons has been invited to edit this submission.

[2021-01-04 08:48] aaronspring commented on #2781
Hi @darothen, this is a friendly reminder for your review. I will submit my thesis in early February and hope to include this as published paper. thanks.

[2021-01-04 08:51] mikldk commented on #2878
@r-barnes, would you mind giving a brief status of your progress?

[2021-01-04 08:51] arfon commented on #2933
@Narayana-Rao - please note you have a typo in your paper - affiliations is mis-spelt for the following authors:

[code]

Your paper is also missing the required 'Statement of need' section.

Also, if you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use the following commands (one at a time, as the first line of a new comment) to regenerate the PDF an

[2021-01-04 08:52] arfon commented on #2933
@whedon invite @usethedata as editor.

:wave: @usethedata happy new year! Would you be willing to edit this submission for JOSS?

[2021-01-04 08:52] whedon commented on #2933
@usethedata has been invited to edit this submission.

[2021-01-04 08:52] eloisabentivegna commented on #2495
Update: I have just emailed this question to the author.

[2021-01-04 08:53] eloisabentivegna commented on #2555
Dear @rclipp, could you post an update?

[2021-01-04 09:02] mikldk commented on #2929
@whedon assign me as editor

[2021-01-04 09:03] whedon commented on #2929
OK, the editor is @mikldk

[2021-01-04 09:06] mikldk commented on #2929
@alemermartinez - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers)?

The `README.Rmd` (and thereby `README.md`) seems to have a conflict that must be resolved (indicated by `<<<<<<< HEAD` and other similar markers).

[2021-01-04 09:12] gdede-hua commented on #2605
@sbenthall we are working on the review of this submission.

On Fri, Dec 18, 2020 at 6:42 PM Sebastian Benthall <notifications@github.com>
wrote:

--
Dr. Georgia Dede
Research Associate and Adjunct Lecturer
Harokopio University of Athens
Department of Informatics and Telematics
Tel. +30 210 9549416
email: gdede@hua.gr

[2021-01-04 09:16] jbuisine commented on #2812
Hello,

I wanted to inform you that I have been working on updating the package and all the answers for some time. Everything will be available in the next 2 days. I am really sorry for the delay.

[2021-01-04 09:20] melund commented on #2911
@Kevin-Mattheus-Moerman I missed the invitation for the review so it managed to expire:

![image](https://user-images.githubusercontent.com/1038978/103519789-6efb4300-4e76-11eb-8abc-a5e83828e24a.png)

Can you issue a new one, so I can update my progress. Sorry about the delay.

[2021-01-04 09:24] Narayana-Rao commented on #2933
@arfon Thank you for your time. I have updated the .md file.

@whedon generate pdf
@whedon check references

[2021-01-04 09:26] VivianePons commented on #2932
Sure!

[2021-01-04 09:26] VivianePons commented on #2932
@whedon assign @VivianePons as editor

[2021-01-04 09:27] whedon commented on #2932
OK, the editor is @VivianePons

[2021-01-04 09:29] Narayana-Rao commented on #2933
@whedon generate pdf
@whedon check references

[2021-01-04 09:30] whedon commented on #2933
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02933/joss.02933/10.21105.joss.02933.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02933/joss.02933/10.21105.joss.02933.pdf) :page_facing_up: :point_left:

[2021-01-04 09:32] Narayana-Rao commented on #2933
@whedon check references

[2021-01-04 09:32] whedon commented on #2933
[code]

[2021-01-04 09:39] salleuska commented on #2892
Great, happy to see the changes! I don't have any other suggestion at this point.

@mikldk my review is now complete, and I would recommend acceptance.

[2021-01-04 09:52] Narayana-Rao commented on #2933
@whedon check references

[2021-01-04 09:52] whedon commented on #2933
[code]

[2021-01-04 09:53] meg-simula commented on #2938
Happy New Year! I feel a bit biased here ... - but can step in if @diehlpk is not available.

[2021-01-04 09:57] martibosch commented on #2826
Hello all,

I am sorry for the delay in reviewing this submission. I am at the end of my thesis and this ended up buried in a pile of "TODOs". If this works for everybody, will review the submission by the end of this week. Or should I wait for the amendments that @jGaboardi is planning to include? How do we proceed regarding that, @usethedata?

Best,
Martí

[2021-01-04 10:08] Narayana-Rao commented on #2933
@whedon check references

[2021-01-04 10:09] whedon commented on #2933
[code]

[2021-01-04 10:58] arfon commented on #2927
@whedon re-invite @MilesMcBain as reviewer

[2021-01-04 10:58] whedon commented on #2927
OK, the reviewer has been re-invited.

@milesmcbain please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-04 10:59] arfon commented on #2927
Yes, I think so. Please try the invite link again as I've now re-invited you.

[2021-01-04 11:18] marcosvital commented on #2900
No problem! I'll wait until the scope is resolved, and can handle the submission if is considered to be on scope.

[2021-01-04 11:29] marcosvital commented on #2692
Hi, @Manolomon! Passing by again to check if there is any progress. Please, let me know if you have any problems, ok?

[2021-01-04 11:33] rMassimiliano commented on #2892
Great! Everything works as expected now.

@mikldk I have no further comments, and I would also recommend acceptance.

[2021-01-04 11:36] marcosvital commented on #2848
Thank you for all the detailed responses, @sebdalgarno.

@elimillera, @meenakshi-kushwaha and @nanhung, please let us know if you are all satisfied or still have issues to address.

[2021-01-04 11:37] mikldk commented on #2892
@rMassimiliano, please carefully go though the checklist at the top, too (and check items off as you go).

[2021-01-04 11:53] rMassimiliano commented on #2892
Dear @mikldk  I went through the checklist, but I am unable to check the items. I probably forgot to accept the invite `https://github.com/openjournals/joss-reviews/invitations` which is now expired. Can you help me with this?

[2021-01-04 11:55] mikldk commented on #2892
@whedon remove @rMassimiliano as reviewer

[2021-01-04 11:55] whedon commented on #2892
OK, @rMassimiliano is no longer a reviewer

[2021-01-04 11:55] mikldk commented on #2892
@whedon add @rMassimiliano as reviewer

[2021-01-04 11:55] whedon commented on #2892
OK, @rMassimiliano is now a reviewer

[2021-01-04 11:56] mikldk commented on #2892
@rMassimiliano I have tried removing and adding you. Can you please try again?

[2021-01-04 12:11] iammix commented on #2922
@diehlpk Hello there, and Happy New Year! Sorry for the delayed response. Yes, I am able to review this paper, however, I will be able to start reviewing this paper at the end of next week(if time is not a problem). Please inform me if I am going to be a reviewer(In this case, are there any guidelines for reviewers). Thank you in advance.

[2021-01-04 12:14] rMassimiliano commented on #2892
It is working, many thanks!

[2021-01-04 12:16] corentin-dev commented on #2922
Dear @diehlpk, same thing here, I'll be able to review during this
month. Best regards.

On 04/01/2021 13:11, Konstantinos Mixios wrote:

[2021-01-04 12:18] mikldk commented on #2892
@whedon check references

[2021-01-04 12:18] whedon commented on #2892
[code]

[2021-01-04 12:21] mikldk commented on #2892
@whedon generate pdf

[2021-01-04 12:22] whedon commented on #2892
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: :point_left:

[2021-01-04 12:50] pdebuyl commented on #2828
@jordanperr the review is almost complete, can you check the checklist (3 items remaining)?

When everything is ok, I'll also need an explicit statement of acceptance.

[2021-01-04 13:16] mikldk commented on #2892
@jbytecode :

`README` (in the repo):

* Typo "mutliple regression"
* Headline "Want to have contributions?" -- not Title Case like the other headings in the `README`, and the wording is a bit strange as you as the maintainer want to have contributions, and potential contributors would want to make contributions, I guesss. Consider changing the heading to just e.g. "Contributions".
* A full stop i

[2021-01-04 13:38] gkthiruvathukal commented on #2935
@arfon I think this is within scope and my areas of expertise, so please assign me as editor.

[2021-01-04 13:47] danielskatz commented on #2935
HI @gkthiruvathukal  - It's likely just as easy to write `@whedon assign me as editor` :)

[2021-01-04 13:49] gkthiruvathukal commented on #2935
Thanks, @danielskatz. I'll do it!

[2021-01-04 13:50] gkthiruvathukal commented on #2935
@whedon assign me as editor

[2021-01-04 13:50] whedon commented on #2935
OK, the editor is @gkthiruvathukal

[2021-01-04 13:52] gkthiruvathukal commented on #2935
I will get review started soon. Happy new year!

[2021-01-04 14:21] albertonogueira commented on #2862
@albertonogueira and @Joao-L-S-Almeida completed their review. One issue was created on the target repository as an acceptance-blocker. The point concerning the comparison between POD and SPOD is a suggestion to improve the paper reading.

[2021-01-04 14:22] dfm commented on #2899
@GregoryAshton has agreed to be a reviewer. Thanks Greg!

Once I've found a second reviewer, we'll get the review started.

[2021-01-04 14:22] dfm commented on #2899
@whedon add @GregoryAshton as reviewer

[2021-01-04 14:22] whedon commented on #2899
OK, @GregoryAshton is now a reviewer

[2021-01-04 14:28] jbytecode commented on #2892
@whedon check references

[2021-01-04 14:29] whedon commented on #2892
[code]

[2021-01-04 14:29] jbytecode commented on #2892
@whedon generate pdf

[2021-01-04 14:30] whedon commented on #2892
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: :point_left:

[2021-01-04 14:37] jbytecode commented on #2892
Dear editor @mikldk,

The latest update includes these items:

- `README.md` is corrected
- L14-15: It is replaced by the new sentence "Our package implements many algorithms and diagnostics for model fitting with outliers under a single interface, which allows users to quickly try many different methods with reasonable default settings, while also providing a good starting framework for researche

[2021-01-04 14:41] jgostick commented on #2904
hmmm, I must've missed the invite.

[2021-01-04 14:41] henrykironde commented on #2800
Going to get back to you asap

[2021-01-04 14:41] jgostick commented on #2904
@whedon assign @jgostick as editor

[2021-01-04 14:41] whedon commented on #2904
OK, the editor is @jgostick

[2021-01-04 14:45] diehlpk commented on #2922
@corentin-dev sounds good. Thank you for reviewing for JOSS.

[2021-01-04 14:46] diehlpk commented on #2922
@whedon assign @corentin-dev as reviewer

[2021-01-04 14:46] whedon commented on #2922
OK, @corentin-dev is now a reviewer

[2021-01-04 14:48] diehlpk commented on #2922
@iammix Thanks for agreeing to review for JOSS. Please find the guidelines here

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-01-04 14:48] diehlpk commented on #2922
@iammix and @corentin-dev

`As a reviewer, COIs are your present or previous association with any authors of a submission: recent (past four years) collaborators in funded research or work that is published; and lifetime for the family members, business partners, and thesis student/advisor or mentor. In addition, your recent (past year) association with the same organization of a submitter is a CO