[2022-04-13 10:17] chennachaos commented on #4118
Hi @Kevin-Mattheus-Moerman, I started the review for this but I am not able to check the boxes. Could you please assist me in this regard?

[2022-04-13 10:38] baxmittens commented on #4300
Sorry but I disagree, here.
My package already meets the review criteria (Good: The software is simple to install, and follows established distribution and dependency management approaches for the language being used).

Via

[code]

the package is registered in the julia package manager. it will be automatically updated if Pkg.update() is called and a new version is available. All dependencies are

[2022-04-13 11:22] mattmartineau commented on #4142
From my perspective the project is great and I would recommend it is accepted.

To summarise - this is an interesting area and the code exposes many novel methods and options, with a good code structure, and clear and detailed documentation. The paper is convincing regarding the necessity of the project and demonstrates clearly the fundamental design, as well as describing how to run a test proble

[2022-04-13 11:27] baxmittens commented on #4300
Thank you for the suggestion. Added it in the readme.

[2022-04-13 11:38] rkurchin commented on #4040
I would say leave it out. If that looks strange or something, maybe just use a different style file?

—————————————
Rachel C. Kurchin, PhD
Postdoctoral Researcher (formerly MolSSI and MFI Fellow)
Carnegie Mellon Mechanical Engineering and Materials Science
https://rkurchin.github.io
On Apr 13, 2022, 4:41 AM -0400, Evmoerman ***@***.***>, wrote:

[2022-04-13 11:40] Evmoerman commented on #4040
No, it wouldn't look strange (in my opinion). I just didn't want to wrongly advertise the work as JOSS-approved. Just leaving out the logo will look just fine.

[2022-04-13 11:57] mayrmt commented on #4142
I agree with @mattmartineau's assessment. With great pleasure, I am recommending this contribution for publication.

[2022-04-13 11:59] baxmittens commented on #4300
Let V=(VTUFile,+,*) be a field and A \subseteq  R^n a vector space over V. Then V is an algebra if for all x,y,z \in A and a,b \in V the following holds

1. (x+y) * z = x * z + y * z
2. z * (x+y) = Z * x + z * y
3. (ax) * (bx) = (ab)(x * y)

which surely applies but I don't really think this should be included in the paper or should it?

Added those, thank you.

[2022-04-13 12:30] jedbrown commented on #4142
Great, thanks. @lukeolson I only notice very minor stuff in the paper:
* The citations at the end of the first paragraph are phrased as "in-text", and thus should use `@key` instead of `[@key]`; see https://pandoc.org/MANUAL.html#extension-citations; this is similar to `\citet` versus `\citep`.
* One bib entry should probably protect capitalization `{MueLu}`.

With that, could you:
- [ ] Make a ta

[2022-04-13 12:41] marcosvital commented on #4288
@kthyng and @Kevin-Mattheus-Moerman, I can handle this submission.

[2022-04-13 12:41] marcosvital commented on #4288
@editorialbot assign @marcosvital as editor

[2022-04-13 12:48] marcosvital commented on #4276
Thank you, @dsurujon and @ellessenne! As soon as we get a third reviewer, we will start the reviewing process, ok?

[2022-04-13 12:49] rkurchin commented on #4040
Sounds good. You are of course free (and encouraged!) to include the logo once the work is accepted! :)

—————————————
Rachel C. Kurchin, PhD
Postdoctoral Researcher (formerly MolSSI and MFI Fellow)
Carnegie Mellon Mechanical Engineering and Materials Science
https://rkurchin.github.io
On Apr 13, 2022, 7:40 AM -0400, Evmoerman ***@***.***>, wrote:

[2022-04-13 12:51] marcosvital commented on #4276
Dear @thomaspinder: would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review

[2022-04-13 12:52] marcosvital commented on #4288
Hi, @NRaillard, I will be the editor of your submission.

Please take a look at the manuscript proof you generated above, and check if it seems ok and ready for revision. Feel free to generate new versions if you do any other modifications.

In the meantime, I will check your reviewers suggestions and make the invitations.

[2022-04-13 12:53] marcosvital commented on #4276
@editorialbot add @dsurujon  as reviewer

[2022-04-13 12:56] editorialbot opened #4316 "[PRE REVIEW]: Why develop twice? User material interface for the Peridynamic Peridigm framework"
**Submitting author:** @CWillberg (<a href="http://orcid.org/0000-0003-2433-9183">Christian Willberg</a>)
**Repository:** https://github.com/PeriHub/Peridigm
**Branch with paper.md** (empty if default branch): 2022_JOSS
**Version:** 1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/8cd1e788d10853e139d04c723cca853f/stat

[2022-04-13 12:56] marcosvital commented on #4276
@editorialbot add @dsurujon as reviewer

[2022-04-13 12:57] marcosvital commented on #4276
@editorialbot add @ellessenne as reviewer

[2022-04-13 12:58] marcosvital commented on #3220
@editorialbot check references

[2022-04-13 12:58] marcosvital commented on #3220
@editorialbot generate pdf

[2022-04-13 12:59] arfon commented on #4316
:wave: @CWillberg thanks for your submission to JOSS. As per our submission guidelines, the `paper.md` file needs to be in the same repository as your software. Please resubmit with the paper in the `https://github.com/PeriHub/Peridigm` repository (note, the paper doesn't need to be in the default branch).

[2022-04-13 12:59] arfon commented on #4316
@whedon reject

[2022-04-13 12:59] arfon commented on #4316
@editorialbot reject

[2022-04-13 12:59] #4316 closed

[2022-04-13 13:00] baxmittens commented on #4300
I would also consider changing the title to something like

`A VTU library in the Julia language that implements algebraic operators on VTU data`

if the language is too specific otherwise (I'm no native speaker).

We can also stick to the title and I define an algebra in the paper if this is the better solution

[2022-04-13 13:02] marcosvital commented on #3220
Dear @gmyenni, I think we are almost done here.

Please take a careful look at the new pdf version of the manuscript above. Let me know if everything is fine or if you need to make any final corrections.

[2022-04-13 13:26] mkitti commented on #4300
Exactly. You have submitted this software for publication, and anyone reading the article should be able to reproduce the environment down to the specific versions of all the dependencies. This will actually simplify installation because the source of the XMLParser package will be encoded in the Manifest.toml:

[code]

You could consider putting this on a specific branch related to this article. I

[2022-04-13 13:34] bmorris3 commented on #4302
@editorialbot generate my checklist

[2022-04-13 13:52] wcwitt commented on #4040
I've finished my review and am pleased to recommend publication, provided @awvwgk is satisfied and the following are addressed

* Example output is uploaded: https://gitlab.com/moerman1/fhi-cc4s/-/issues/5
* Claims about using other codes: https://gitlab.com/moerman1/fhi-cc4s/-/issues/6
* Comments on the paper: https://gitlab.com/moerman1/fhi-cc4s/-/issues/8

[2022-04-13 13:53] wcwitt commented on #4040
(Also, @awvwgk, I think I accidentally checked and/or unchecked some boxes in your checklist - apologies!)

[2022-04-13 14:02] Evmoerman commented on #4040
@wcwitt Thank you for your assessment. I'm glad that eventually the step-by-step tutorial worked for you. I will see if I can rephrase the statements concerning interfacing other codes to be more precise. While I certainly believe that what is said in the manuscript is correct both in principal and practically, I agree, that a more cautious wording may be necessary.
The other things you mentioned

[2022-04-13 14:49] rogersamso commented on #4274
You don't need any proprietary software installed to use this library. You just need a model built using either Vensim or Stella, which you can read with any text editor. Once the models are translated to Python, using PySD,  you use the library to also run them.

You could potentially build the models directly in Python, and only use PySD to run them, though for now this use case is less convenie

[2022-04-13 16:21] arfon commented on #4315
@editorialbot assign @mbobra as editor

:zap: thanks @mbobra!

[2022-04-13 16:28] arfon commented on #4104
:wave: all, EiC of JOSS here.

@fanchercm – could you say more about how the state of the software as published in https://doi.org/10.1107/S1600576721010554 differs from what is being reviewed here? Have there been significant updates to the software since https://doi.org/10.1107/S1600576721010554 was reviewed and published?

[2022-04-13 16:48] shahmoradi commented on #4249
@editorialbot generate my checklist

[2022-04-13 16:56] rvhonorato commented on #4182
Sorry for the delay, I'll take a look at this asap!

[2022-04-13 17:30] pfeiffea commented on #4282
@kbarnhart I'm having a clueless moment... any idea why the @ editorial bot didn't generate my checklist, above?

[2022-04-13 17:54] lukeolson commented on #4142
@editorialbot generate pdf

[2022-04-13 18:11] lukeolson commented on #4142
Thanks @jedbrown.  Fixed the author-in-text (not ideal, I didn't see how to end up with " in Olson (2015a,2015b)", but I'm fine with it.). And fixed the bib.

I'll move on to tagging and loop back.

[2022-04-13 18:27] lucydot commented on #4234
No problem @MikeHeiber, thanks for letting me know!

[2022-04-13 18:29] lucydot commented on #4108
Hi @CFGrote that timescale is fine from an editorial standpoint.

@KedoKudo are still able to do the review? If so, I'll start the process rolling now and @CFGrote can join once they are able.

[2022-04-13 18:32] lucydot commented on #3742
@nasserma the latest version of the pdf has two of the images split over two pages. I'm not aware of a programmatic way to stop breaking images over two pages (I didn't know that markdown would allow this in fact) - perhaps you could try moving the position of the images within the main text so that this doesn't happen?

[2022-04-13 18:40] lucydot commented on #3742
@nasserma a few points that remain from my previous comments:
- 'Nguyen et al. (2018)' should read '(Nguyen et al., 2018)' for consistency
- OpenFOAM and SU2 are linked to directly rather than referenced: can you confirm that references for each package are not available? If references are available I suggest you provide this in the text as done for the other packages.
- the arrow formatting has n

[2022-04-13 18:45] gmyenni commented on #3220
That looks great. Thank you so much @marcosvital, @ViniciusBRodrigues, @FlukeAndFeather for your help and extreme patience.

[2022-04-13 18:57] arunpersaud commented on #2688
Hello,

I just tagged version 2.1.0 that includes the changes made during the review process and uploaded this version to Zenodo:

doi: 10.5281/zenodo.6459291
https://zenodo.org/record/6459291

I will also update PyPi later today.
Let me know if you need anything else

[2022-04-13 19:00] KedoKudo commented on #4108
yes, I can review this submission.

[2022-04-13 19:16] tamarahadz commented on #4236
@editorialbot generate my checklist

[2022-04-13 19:17] mbobra commented on #4315
@mcostasitja Thank you for the suggestions for potential reviewers! Please give me a little while to track them down or find other reviewers -- then we can start the actual review.

[2022-04-13 19:18] sdhutchins commented on #4236
@editorialbot generate my checklist

[2022-04-13 19:29] cwentland0 commented on #3428
Just checking in, is there anything I can do to help with your review @clemaitre58 ? Happy to answer any questions or resolve any issues.

[2022-04-13 20:08] mkitti commented on #4300
# Documentation

The documentation currently consists of a single README.md. It currently has the following sections:
* Introduction
* Install
* Preliminaries
* Usage
* Example

The package overall needs more comprehensive documentation, and I recommend the use of https://github.com/JuliaDocs/Documenter.jl for this. The author may want to use the template located at https://github.com/invenia/PkgT

[2022-04-13 20:11] eloisabentivegna commented on #4173
Hi @amoradinejad, do you have an estimate of when the restructuring will be complete?

@ziotom78, @abhimaniyar, is this currently a blocker for you?

[2022-04-13 20:47] pdebuyl commented on #4274
Thank you for the reply.

[2022-04-13 20:48] mkitti commented on #4300
# Paper

## Summary

There is not a clear description what a VTU file is other than naming it as "VTK unstructured grid". An introduction to this would be useful to make this paper more accessible to a non-specialist audience.

The author also leads with the motivation about "discrete numerical simulations". The software is likely has more general applicability than "discrete numerical simulations

[2022-04-13 20:55] mkitti commented on #4300
`VTUData` and several other struct types are declared to be `mutable` but it is not clear to me that they need to be. All of `VTUData`'s fields are `Vector`s, which themselves are mutable. Why is `VTUData` mutable?

[2022-04-13 21:10] cmaimone commented on #3741
I submitted an issue for a few very small edits to the paper, but otherwise looks good.  Recommend accepting.

The package functionality and usage are much clearer now.  I can see now how I might use this package - I've added it to my list of things to try out for some of my ongoing projects.  I hope you continue to develop it and continue to make the documentation/package accessible to people who

[2022-04-13 21:18] kbarnhart commented on #4282
## Review checklist for @pfeiffea

### Conflict of interest

- [ ] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [ ] I confirm that I read and will adhere to t

[2022-04-13 21:20] kbarnhart commented on #4282
@pfeiffea no clue why. I made one for you by hand.

@arfon - Flagging that editorialbot didn't make a checklist for @pfeiffea when we expected it would.

[2022-04-13 21:21] danielskatz commented on #4292
👋 @mhucka - note that the next action is yours...

[2022-04-14 02:45] phoebe-p commented on #4298
@miesli just wanted to report I had a small issue when installing DMT-core, similar to these issues: [link 1](https://github.com/PyTables/PyTables/issues/832), [link 2](https://stackoverflow.com/questions/65839750/installing-python-tables-on-mac-with-m1-chip), getting an error which boils down to:

[code]

This is likely because I am using an Apple machine with an ARM/M1/Apple silicon chip, which

[2022-04-14 06:23] hugoledoux commented on #4015
@maczokni could you please have one look at the updated material here?

[2022-04-14 07:05] Nikoleta-v3 commented on #3743
Just to let you know @EgorOrachyov - I have been emailing people every week but I haven't managed to find a new reviewer for the submission. I will keep you updated. In the meantime if you or @mlxd  have any suggestions please let me know!

[2022-04-14 07:05] agranholm commented on #4284
@editorialbot generate pdf

We have now updated the manuscript to respond to the comment by @stmcg . We have expanded the third paragraph of the discussion (first part of the third paragraph), to add a (brief) comparison of  `adaptr` with other open-source alternatives, with reference to a recent systematic review summarising the features of the available software solutions.

[2022-04-14 07:10] NRaillard commented on #4288
@editorialbot generate pdf

Thank you  @marcosvital.

The paper is ready, I have spotted small typos in the layout that I have corrected.

[2022-04-14 07:36] miesli commented on #4298
@phoebe-p thank you for the report and also for solving this issue. I will add your explanations and also your links to the DMT installation help.

Good to know that you are testing it on mac. I'm quite curious if there are more issues, but I hope that there are no more of them....

[2022-04-14 07:49] amoradinejad commented on #4173
@eloisabentivegna <https://github.com/eloisabentivegna> , the re-structuring of the code is completed, and I have addressed the comments made by the two referees. So on my side, all is done.

[2022-04-14 08:03] reichherzerp commented on #4243
@carmeloevoli Thank you, these are links to figures that I have now corrected. Previously they had pointed to my private space, which is why only I could see them.

[2022-04-14 08:07] falexwolf commented on #4006
Hi @luizirber! Has there been any progress with the review process? Can we do anything to help?

[2022-04-14 08:22] estenhl commented on #4278
@editorialbot commands

[2022-04-14 08:32] baxmittens commented on #4300
@mkitti - thank you for the detailed explanations. I will need some time to process them and alter my projects accordingly.

[2022-04-14 09:07] fabian-s commented on #4284
:wave: @elimillera,  please let us know your timeframe for this review

[2022-04-14 09:44] jeremiecoullon commented on #4113
@dfm : I finally finished this :)

1. I read through the paper a final time; looks good
2. Release version: 0.2.12
3. Zenodo DOI: 10.5281/zenodo.6460681

Zenodo archived link: https://zenodo.org/record/6460681

Let me know if something is missing!

[2022-04-14 09:56] simoninireland commented on #3764
10.5281/zenodo.6460760

[2022-04-14 10:14] Kevin-Mattheus-Moerman commented on #4314
@davidpagnon thanks for this submission. I had a quick look at your paper and noticed a couple of minor issues. Before we proceed perhaps you can address the following quick points.

- [ ] Can you check those potentially missing DOI's :point_up:. Once done you can call `@editorialbot check references` in a comment here to check them again.
- [ ] You may use `open source` instead of `open-source` t

[2022-04-14 10:27] Kevin-Mattheus-Moerman commented on #4314
@danasolav is this paper something you can help handle as editer? If not I can take it.

Here are some suggested reviewers from my end: apoorvar, chrisdembia, CVHammond, moorepants, modenaxe, BKillen05, jonmatthis

@davidpagnon, as author you can help suggest reviewers too if you like. You can mention their github handles here but leave out the @ so they are not yet tagged, since it is up to the h

[2022-04-14 10:42] Kevin-Mattheus-Moerman commented on #4314
@editorialbot invite @danasolav as editor

[2022-04-14 11:02] yangbai90 commented on #4281
Hi @mbarzegary : from my side, everything is fine except the autotest part. I'm wondering, is there any autotest for your package? I believe the freeFem itself already contains the autotest, how about the BioDeg?

[2022-04-14 12:03] Anaphory commented on #4140
@editorialbot set joss-paper as branch
@editorialbot generate pdf

@Bisaloo
Lexedata version 1.0.1 is now [a tag on the Lexedata repository](https://github.com/Anaphory/lexedata/releases/tag/v1.0.1), [deposited in Zenodo](https://zenodo.org/record/6461055) with DOI 10.5281/zenodo.6461055 (but with the title “Lexedata: Lexical Data Editing tools”, meant to resolve the portmanteau more than giving a

[2022-04-14 12:04] Anaphory commented on #4140
@editorialbot generate pdf

[2022-04-14 12:25] Bisaloo commented on #4140
@editorialbot set 10.5281/zenodo.6461055 as archive

[2022-04-14 12:30] Bisaloo commented on #4140
Before I accept it, could you give the paper one last read to remove any remaining typos please? We don't use an external proofing service so changes will not possible at a later stage.
I'll do the same on my end.

[2022-04-14 12:31] Anaphory commented on #4140
Sure!

[2022-04-14 12:38] Bisaloo commented on #4140
@editorialbot check references

[2022-04-14 12:43] Bisaloo commented on #4140
Everything looks good to me. Could I just ask that you convert [`structure.svg`](https://github.com/Anaphory/lexedata/blob/joss-paper/docs/structure.svg) to `pdf` or `eps` so you can insert a high-quality vector version of the figure instead of the png one please?

[2022-04-14 13:08] timtroendle commented on #2688
@editorialbot set 10.5281/zenodo.6459291 as archive

[2022-04-14 13:08] timtroendle commented on #2688
@editorialbot set 2.1.0 as version

[2022-04-14 13:10] timtroendle commented on #2688
Thank you @arunpersaud. I will move on and recommend acceptance of your submission.

Many thanks to @untzag, @garrettj403, and @aquilesC for your contributions!

[2022-04-14 13:10] timtroendle commented on #2688
@editorialbot recommend-accept

[2022-04-14 13:11] ajstewartlang commented on #3764
@editorialbot set 10.5281/zenodo.6460760 as archive

[2022-04-14 13:12] ajstewartlang commented on #3764
@editorialbot set v1.6.2 as version

[2022-04-14 13:13] ajstewartlang commented on #3764
@editorialbot recommend-accept

[2022-04-14 13:36] editorialbot opened #4317 "[PRE REVIEW]: islatu: A Python package for the reduction of reflectometry data"
**Submitting author:** @RBrearton (<a href="http://orcid.org/0000-0002-8204-3674">Richard Brearton</a>)
**Repository:** https://github.com/RBrearton/islatu
**Branch with paper.md** (empty if default branch): https://github.com/RBrearton/Islatu-paper
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/0ccc

[2022-04-14 13:38] arfon commented on #4317
:wave: @RBrearton, as per our submission guidelines, please ensure the paper for this submission is contained within the same repository as the software itself (it doesn't have to be in the default branch).

I'm going to reject this submission – please resubmit with the `paper.md` in `https://github.com/RBrearton/islatu`

[2022-04-14 13:38] arfon commented on #4317
@editorialbot reject

[2022-04-14 13:38] #4317 closed

[2022-04-14 13:38] editorialbot opened #4318 "[PRE REVIEW]: Ipyannotator: the infinitely hackable annotation framework"
**Submitting author:** @itepifanio (<a href="http://orcid.org/0000-0003-0279-0942">Ítalo Epifânio</a>)
**Repository:** https://github.com/palaimon/ipyannotator/
**Branch with paper.md** (empty if default branch): joss
**Version:** 0.8.1
**Editor:** @danielskatz
**Reviewers:** @csadorf, @matthewfeickert
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5306e204788fd

[2022-04-14 13:39] arfon commented on #4318
Output of `cloc` for actual software:

[code]

[2022-04-14 13:57] JoranTiU commented on #4251
You're very welcome @fboehm! 😊.
And great! 😊

[2022-04-14 14:12] Anaphory commented on #4140
@editorialbot generate pdf
Done, and also fixed some bits in the bibliography style.

[2022-04-14 14:13] Anaphory commented on #4140
@editorialbot check references

[2022-04-14 14:13] Anaphory commented on #4140
@editorialbot generate pdf

[2022-04-14 14:16] Anaphory commented on #4140
@editorialbot generate pdf

[2022-04-14 14:30] Kevin-Mattheus-Moerman commented on #4211
@oriolcg apologies for the slow response. You can comment on small ish things here but if they are larger issues I recommend you open an issue on the project repository on that and then link to it here. Let me know if you have any other questions.

[2022-04-14 14:31] Kevin-Mattheus-Moerman commented on #4118
@chennachaos thanks. We've since also moved to a new editorial bot system. Can you call the following to generate you a new checklist: `@editorialbot generate my checklist`

[2022-04-14 14:33] Kevin-Mattheus-Moerman commented on #4252
:wave: @vijaysm, @mscroggs, @schruste I hope you are doing well. Can you provide an update on review progress? Let me know if you have any questions. Thanks.

[2022-04-14 14:36] Kevin-Mattheus-Moerman commented on #3920
@editorialbot check references

[2022-04-14 14:59] ArnaudHelias commented on #3329
Hi @vissarion, sorry again for the delay... According to @simonom's comment, statement of need in the paper has been updated, readme.md too.

The following text has been added: "Product environmental footprint is an eternal compromise: The assessment has to be specific, to best represent production and processing choices in the value chain. Unfortunately, this need for specific data quickly become

[2022-04-14 15:09] Kevin-Mattheus-Moerman commented on #3736
@editorialbot remove @timdewhirst as reviewer

[2022-04-14 15:11] Kevin-Mattheus-Moerman commented on #3736
@timdewhirst thanks for your feedback. I have just removed you as a reviewer following the potential COI you declared. Note that I will ask the authors to address your points. Despite the fact that you are no longer able to help I do want to thank you for the help you've provided so far. Thanks.

[2022-04-14 15:12] Kevin-Mattheus-Moerman commented on #3736
@fibreglass2 Can you comment on @timdewhirst 's comments e.g. on code structure quality/form and on reusability/collaborative development of the code?

[2022-04-14 15:13] Kevin-Mattheus-Moerman commented on #3736
@clarka34, @quynhneo can you give an update on review progress please? Thanks again for your help.

[2022-04-14 15:17] simonom commented on #3329
@whedon generate pdf from branch joss

[2022-04-14 15:17] simonom commented on #3329
@editorialbot commands

[2022-04-14 15:18] simonom commented on #3329
@editorialbot generate pdf

[2022-04-14 15:18] Kevin-Mattheus-Moerman commented on #4314
@davidpagnon before we move on. Can you help clarify how the current submission differs from previously published work? E.g. how is the content communicated previously different from what is sought to be published here? Note that having a paper on theory first and then software here is permitted in principle but we do need to establish there is not significant doubling here.

- Pose2Sim: An End-to

[2022-04-14 15:28] simonom commented on #3329
@ArnaudHelias, thank you for the update regarding the Statement of Need.  I like it as you have presented in the README.  However, for the JOSS paper, I think the final section is confusing as it contains details around the method, which is not the purpose of the paper's Statement of Need.  I therefore recommend removing the final section:

To provide a “semi-specific” product footprint, PEFAP nee

[2022-04-14 15:37] quynhneo commented on #3736
@Kevin-Mattheus-Moerman.  I will return to preview this weekend. sorry for the day.

[2022-04-14 15:49] chartgerink commented on #3741
Perfect - thanks @cmaimone!

@dustinstoltz as soon as you resolve the small edits by @cmaimone I will be happy to accept your paper for publication in JOSS 😊

Please ping me here once that's done and I can proceed the editorial process to the final stage (including archival of the code).

[2022-04-14 15:55] arunpersaud commented on #2688
also want to thank @untzag, @garrettj403, @aquilesC, @arfon, and @timtroendle  for their time and help!

[2022-04-14 16:04] untzag commented on #2688
Congrats @arunpersaud, really great work.

[2022-04-14 16:13] dilawar commented on #4298
@miesli I am trying to install it on a Debian-11 machine. `python3.8 -m pip install DMT-core` was successful but I ran into the following problem.

[code]
Looks like that `semver.VersionInfo` was deprecated and now has been removed (https://python-semver.readthedocs.io/en/latest/migration/migratetosemver3.html?highlight=VersionInfo#use-version-instead-of-versioninfo). Looks like that `pip` pulled

[2022-04-14 16:15] standage commented on #4296
The author describes Pyrodigal, a software package implementing a Python interface to the widely-adopted gene prediction program Prodigal. The Prodigal source code is bundled with Pyrodigal and compiled as a Python extension, which Pyrodigal accesses directly via a Python interface rather than indirect system calls to a separate executable. In addition to Python bindings, the author describes perf

[2022-04-14 16:19] standage commented on #4296
Hi @mikldk, no concerns from me on this submission so I think this concludes my review!

[2022-04-14 16:36] chennachaos commented on #4118
@editorialbot generate my checklist

[2022-04-14 16:36] chennachaos commented on #4118
Thanks, @Kevin-Mattheus-Moerman!

[2022-04-14 16:39] ArnaudHelias commented on #3329
@simonom, agreed, I just edited the paper

[2022-04-14 17:38] chennachaos commented on #4118
After going through the repository and the paper, I have almost the same set of concerns as those raised by @axel-loewe.
I think, at this point, it is better to wait until @CZHU20 addresses those comments.

[2022-04-14 18:49] jbytecode commented on #4300
a small note for test:

The Test package includes useful macros for testing functions provided by the package and a standard testing scheme is

[code]

in Julia. The authors may consider refactoring their test files using the standard Julia scheme.

[2022-04-14 18:58] jbytecode commented on #4171
@yhtang - could you please update your status? We are looking forward to hear from you. Thank you in advance.

[2022-04-14 19:14] dfm commented on #4113
@editorialbot check references

[2022-04-14 19:15] dfm commented on #4113
@editorialbot generate pdf

[2022-04-14 19:15] dfm commented on #4113
@editorialbot set 10.5281/zenodo.6460681 as archive

[2022-04-14 19:16] dfm commented on #4113
@editorialbot set v0.2.12 as version

[2022-04-14 19:18] dfm commented on #4113
@editorialbot recommend-accept

[2022-04-14 19:19] dfm commented on #4113
@jeremiecoullon — I've now handed this off to the managing editors to do the final processing. There may be some final edits or other changes, but the process should be fairly quick. Thanks again for your submission and for your responses to all the suggestions from @canyon289 and @ColCarroll!

@canyon289, @ColCarroll — Thanks again for your reviews of this submission. Thanks for the time that you

[2022-04-14 23:12] galessiorob commented on #4256
👋 @Kevin-Mattheus-Moerman I'm a but tight on bandwidth at the moment, thanks for the invite though!

[2022-04-14 23:13] galessiorob commented on #4133
@hsang checking in, mind updating us your timeline, please? Thanks!

[2022-04-14 23:14] galessiorob commented on #4166
@editorialbot recommend-accept

[2022-04-14 23:19] galessiorob commented on #4166
Woohoo! Congrats @PeterKraus

[2022-04-15 06:33] vissarion commented on #3329
Hello all, thanks for your updates and inputs.

@simonom if you are satisfied with how issues 5, 8, 9 are addressed please close them in the repository, otherwise please comment on what is missing.

@jrising are you OK with issues 10, 11, 12 and how they are addressed. If so please close them in the repository.

@marvinjonathcn could you please update us on your review progress? There are still un

[2022-04-15 06:41] vissarion commented on #3732
Hi, it has been some time of inactivity, I do not want to put pressure, I just want to ask if there is still interest to proceed with this review.

@AlexanderMacL there is an issue unresolved in the repository.

@astanziola are you done with the review? As far as I remember we are waiting for some more issues regarding the text.

@drewbitllama could you please complete your review list if you are

[2022-04-15 07:11] antoinevacavant commented on #3920
Hi @Kevin-Mattheus-Moerman thanks a lot for this good news ;)
- Missing DOI's are OK
- I have corrected the paper according to your suggestions, and pushed to the repo
- Version tag 1.0.0 can be kept
- Please note that the documentation is currently updated according to reviews, and a tutorial video will be added soon!

[2022-04-15 07:11] antoinevacavant commented on #3920
@editorialbot generate pdf

[2022-04-15 07:58] pdebuyl commented on #4100
Hi @lilyminium is the problem solved?

[2022-04-15 08:07] miesli commented on #4298
@dilawar good to know. I did not check for the deprecation in the semver package.

I would try to resolve this issue for both versions with the code:

[code]
I will push this release candidate to pip. Then you should be able to use pip to install DMT-core successfully.

Thanks for tracing the error down.

[2022-04-15 08:13] Kevin-Mattheus-Moerman commented on #3920
@editorialbot check references

[2022-04-15 08:18] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant Thanks for making those changes. Some more minor things:
- [ ] This `which make the segmentation difficult` should be `which makes the segmentation difficult`
- [ ] The DOI's still need fixing.

[2022-04-15 08:31] editorialbot opened #4319 "[PRE REVIEW]: MyPTV: A Python Package for 3D Particle Tracking"
**Submitting author:** @ronshnapp (<a href="http://orcid.org/0000-0001-7495-8420">Ron Shnapp</a>)
**Repository:** https://github.com/ronshnapp/MyPTV
**Branch with paper.md** (empty if default branch): JOSS_paper
**Version:** v0.2
**Editor:** @jgostick
**Reviewers:** @leahmendelson
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/b19c0c3a7d02bfa0686ab4021dfb16

[2022-04-15 08:38] Kevin-Mattheus-Moerman commented on #4319
@editorialbot generate pdf

[2022-04-15 08:38] Kevin-Mattheus-Moerman commented on #4319
@ronshnapp thanks for this submission. I am currently checking if this work is in scope for JOSS. In the mean time can you:

- [ ]  work on those potentially missing/invalid DOI's? You can call `@editorialbot  check references` to check the references again and use `@editorialbot generate pdf` to update the paper.
- [ ] add an [OSI approved license](https://opensource.org/licenses). The best thing

[2022-04-15 08:44] editorialbot opened #4320 "[PRE REVIEW]: The pyCSAMT software package for enhancing the groundwater exploration technique using the CSAMT data"
**Submitting author:** @WEgeophysics (<a href="http://orcid.org/0000-0001-7259-7254">Kouao Laurent KOUADIO</a>)
**Repository:** https://github.com/WEgeophysics/pyCSAMT
**Branch with paper.md** (empty if default branch): master
**Version:** v1.1.2
**Editor:** @kbarnhart
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/65e0b390e474414fa0a

[2022-04-15 08:57] pdebuyl commented on #4274
@editorialbot assign @blsqr as reviewer

[2022-04-15 08:57] pdebuyl commented on #4274
@editorialbot commands

[2022-04-15 08:57] pdebuyl commented on #4274
@editorialbot add @blsqr as reviewer

[2022-04-15 09:16] pdebuyl commented on #4274
@rogersamso I am still looking for a second reviewer, then we can proceed to the review

[2022-04-15 09:24] antoinevacavant commented on #3920
@Kevin-Mattheus-Moerman Well I forgot to update correctly the .bib file ;( And last typo is corrected

[2022-04-15 09:24] antoinevacavant commented on #3920
@editorialbot generate pdf

[2022-04-15 10:34] mbarzegary commented on #4281
hi @yangbai90 thank you for asking this. yes, BioDeg has actually some tests already implemented using google test framework. you can see them under the `tests` directory. for CI purposes, I created a docker image (pushed to docker hub) with Qt and FreeFEM built inside. this docker image is used after each commit (more precisely, each git push) to build BioDeg and run the tests using the Travis CI

[2022-04-15 10:34] blsqr commented on #4274
Hi everyone! 👋 I'm looking forward to the review process.

[2022-04-15 10:46] timdewhirst commented on #3736
It was my pleasure, and thanks for involving me in the process. Good luck!!

[2022-04-15 10:54] hsang commented on #4133
Hi @galessiorob I'm aiming at the end of April. Is ok?

[2022-04-15 11:50] WEgeophysics commented on #4320
[code]

[2022-04-15 12:25] WEgeophysics commented on #4320
@editorialbot generate pdf

[2022-04-15 12:51] WEgeophysics commented on #4320
@editorialbot commands

[2022-04-15 12:51] WEgeophysics commented on #4320
@editorialbot check references

[2022-04-15 13:13] WEgeophysics commented on #4320
@editorialbot commands
@editorialbot generate pdf

[2022-04-15 13:14] WEgeophysics commented on #4320
@editorialbot check references

[2022-04-15 13:16] WEgeophysics commented on #4320
@editorialbot commands

[2022-04-15 13:17] WEgeophysics commented on #4320
@editorialbot generate pdf

[2022-04-15 13:24] hsang commented on #4133
Hi @galessiorob , I found some minor issues but I think everything else is fine and I recommend the submission for acceptance. I opened an issue with my comments. Let me know if I have to do something else, it is my first time using this platform for reviewing.

[2022-04-15 13:30] davidpagnon commented on #4314
@editorialbot generate pdf

[2022-04-15 14:11] ronshnapp commented on #4319
@editorialbot check references

[2022-04-15 14:13] Kevin-Mattheus-Moerman commented on #4314
@editorialbot check references

[2022-04-15 14:17] Kevin-Mattheus-Moerman commented on #4314
@davidpagnon thanks for making most changes. The DOI's look good now, however one point remains see :point_up:

[2022-04-15 14:24] sbenthall commented on #4270
@gcdeshpande and @gradvohl, would you be able to revisit this submission and confirm whether the revisions are adequate?  Thank you.

[2022-04-15 14:28] dustinstoltz commented on #3741
@editorialbot generate pdf

[2022-04-15 14:34] dustinstoltz commented on #3741
@chartgerink just fixed those edits. Thanks so much shepherding this along!

[2022-04-15 14:41] prashjha commented on #4061
@editorialbot set 10.5281/zenodo.6393705 as archive

[2022-04-15 14:41] prashjha commented on #4061
@editorialbot recommend-accept

[2022-04-15 14:43] prashjha commented on #4061
@kasbot congrats! and no worries. I have handed your paper to EiC for final decision. Congrats again!!

@AustinTSchaffer, @erik-whiting, thank you both for your effort in reviewing this submission. It is very much appreciated. :)

[2022-04-15 14:48] ronshnapp commented on #4319
@Kevin-Mattheus-Moerman
Thanks for your suggestions. I updated the DOIs and added the MIT LIECENSE file.

[2022-04-15 14:48] ronshnapp commented on #4319
@editorialbot generate pdf

[2022-04-15 14:50] erik-whiting commented on #4061
happy to help @prashjha. Nice work @kasbot !

[2022-04-15 14:59] davidpagnon commented on #4314
Dear Kevin, thank you for all your suggestions! I'm sorry I had to leave in the middle of answering you. I just solved the last of your points.

All of them seem to be great, maybe especially:
- apoorvar since I use her OpenSim model
- jonmatthis since I quote AniPose

- The first paper explores the robustness of the protocol to calibration errors, to blurry and dark images, and to a low number of

[2022-04-15 15:00] davidpagnon commented on #4314
@editorialbot generate pdf

[2022-04-15 15:28] szhorvat commented on #3968
What is the situation with this paper now @drvinceknight, @IvanIsCoding, @mtreinish, @inakleinbottle?

Are we ready for a new review round?

[2022-04-15 15:37] NoraLoose commented on #4277
@editorialbot generate my checklist

[2022-04-15 15:39] IvanIsCoding commented on #3968
@szhorvat  @inakleinbottle The software paper is ready for a new round of review, there are substantial changes compared to the first version.

Addressing the issues opened on our repository is still WIP, we [have closed 13 out of the 24 issues with tag joss](https://github.com/Qiskit/retworkx/issues?q=joss+is%3Aissue).

[2022-04-15 15:42] WEgeophysics commented on #4320
@editorialbot generate pdf

[2022-04-15 16:01] WEgeophysics commented on #4320
@editorialbot generate pdf

[2022-04-15 16:13] lilyminium commented on #4100
@pdebuyl I added a new build with better pins as mentioned in https://github.com/openjournals/joss-reviews/issues/4100#issuecomment-1080704696, but that means that conda just ignores this new build in favour of the old ones without the pins, and therefore keeps pulling up the old version of qcfractal. I submitted a patch to update pins on the earlier builds https://github.com/conda-forge/conda-for

[2022-04-15 16:41] itepifanio commented on #4318
Potential reviewers: galessiorob, emdupre, jmschrei

[2022-04-15 16:42] WEgeophysics commented on #4320
@editorialbot generate pdf

[2022-04-15 17:46] WEgeophysics commented on #4320
Dear Editors,
I have made a change in my manuscript as I got a difficulty to right compile my pdf while it was compiled well in my GitHub action. As you can see, I made several attempts to succeed. It's one part due to the error in my Headline, the author-names and another part due to my image resolution. Previously my image was too large. I have tried to redraw the image to hold the best size and

[2022-04-15 17:46] WEgeophysics commented on #4320
@editorialbot generate pdf

[2022-04-15 17:56] lukeolson commented on #4142
v4.2.3

10.5281/zenodo.6463617

[2022-04-15 18:12] mbobra commented on #4315
@editorialbot add @athulpg007 as reviewer

[2022-04-15 18:15] AP6YC commented on #3671
All,

I sincerely apologize for my absence in this project and this thread, which despite life events I cannot excuse. I would like to thank @adi3 for reaching out to me via email to correct my neglect of this thread. To quickly conclude this review, and as a show of good faith to everyone's time, I have gone through this thread and listed out the remaining reviewers' concerns:

- [ ] https://gith

[2022-04-15 18:19] NoraLoose commented on #4277
Hi @danielskatz, thanks for the ping - I have started the review. I will go on vacation for 2 weeks, but finishing up this review is my number 1 priority when I'm back (the week of May 2). Sorry for the delay and thanks for understanding!

[2022-04-15 20:25] gkthiruvathukal commented on #3884
@ricopicone Do you think you will be able to follow up? I would like to move forward if the authors have addressed your issues.

@shivesh1210 Sorry for not nudging the reviewers in a timely manner. Everyone is crazy busy, but we should be able to bring this to closure relatively soon.  Can you confirm that you have addressed all review issues raised by @ricopicone?

[2022-04-15 20:56] dfm commented on #4247
@editorialbot add @saigerutherford as reviewer

Thanks @saigerutherford for agreeing to be our second reviewer!!

I'll get the review started in a separate issue where you'll find a lot more information about how this process proceeds.

[2022-04-15 20:57] dfm commented on #4247
@editorialbot start review

[2022-04-15 20:57] editorialbot opened #4321 "[REVIEW]: PyNM: a Lightweight Python implementation of Normative Modeling"
**Submitting author:** @harveyaa (<a href="http://orcid.org/0000-0002-9940-8799">Annabelle Harvey</a>)
**Repository:** https://github.com/ppsp-team/PyNM
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.1
**Editor:** @dfm
**Reviewers:** @smkia, @saigerutherford
**Archive:** 10.5281/zenodo.7396721

## Status

[![status](https://joss.theoj.org/papers/f9a276711945e53109bdda

[2022-04-15 20:57] #4247 closed

[2022-04-15 20:59] dfm commented on #4321
@harveyaa, @smkia, @saigerutherford — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please che

[2022-04-15 21:00] dfm commented on #4321
@harveyaa — Can you take a look at fixing the DOI issue [mentioned above](https://github.com/openjournals/joss-reviews/issues/4321#issuecomment-1100391043) by the bot?

[2022-04-15 21:56] jedbrown commented on #4142
@editorialbot set v4.2.3 as version

[2022-04-15 21:56] jedbrown commented on #4142
@editorialbot set 10.5281/zenodo.6463617 as archive

[2022-04-15 21:56] jedbrown commented on #4142
@editorialbot recommend-accept

[2022-04-15 21:57] jedbrown commented on #4142
@lukeolson Oops, we'll need that small update in the bib entry.

[2022-04-16 03:49] erik-whiting commented on #4274
Hey @pdebuyl if you're still looking for reviewers, I can volunteer if you can't find anyone. I'm not nearly as qualified as Dr. Sevinchan up there but I have _some_ training in systems engineering. I've also done a couple of reviews for JOSS before so I know the drill. If it's ok with you (and the repo authors of course), I'd be happy to help out.

[2022-04-16 04:38] smkia commented on #4321
@editorialbot generate my checklist

[2022-04-16 07:53] engyasin commented on #4099
@editorialbot generate pdf

[2022-04-16 07:56] yangbai90 commented on #4281
@mbarzegary Perfect, I'd suggest we can move on to the next step.

[2022-04-16 08:08] engyasin commented on #4099
Dear editor @hugoledoux and reviewers @Shiming94 @lucaferranti ,

Some changes, according to the latest comments from @lucaferranti were made. Namely, the `configs` is a class now, providing Configparser interface of changing and showing the different parameters. So this will avoid the editing of a single file, and encourage saving different set of parameters to each case (and distributing it).

A

[2022-04-16 11:44] temuller commented on #4268
@arfon Thanks for reviewing this submission. Could I get some feedback, though? Feedback is ideal for improving future submissions. What is this code missing for being accepted? Lines of code? Commits? I will proceed to create a DOI (thanks for the link), but it would be nice to re-submit this work after adding the necessary requirements.

[2022-04-16 12:28] brunomontezano commented on #4280
Dear editor @jbytecode,

I've been gathering notes and creating issues on the authors repository to improve the quality of his submission. I'm aiming to finish the process soon.

This last week was pretty busy for me. But thanks for getting in touch! I remain at your disposal for further demands.

Sincerely,

Bruno Montezano

[2022-04-16 12:52] jbytecode commented on #4280
thank you for the response.
please mention this thread in repo issues so we can keep tracking what is going on out of our world.

thank you in advance.

[2022-04-16 13:04] lukeolson commented on #4142
@jedbrown fixed (removed the `https://doi.org/`).  Do I need to tag a new release now (and new zenodo doi)?

[2022-04-16 17:29] chrisaberson commented on #4280
I believe this was resolved. There was a corrupt file in the R directory. Fixed. Also, CRAN shows all checks being passed https://cran.r-project.org/web/checks/check_results_BetterReg.html

I just installed using devtools::install_github("chrisaberson/BetterReg", force=TRUE) and everything went fine

[2022-04-16 19:12] jedbrown commented on #4142
@editorialbot recommend-accept

[2022-04-16 19:59] vijaysm commented on #4252
@editorialbot generate my checklist

[2022-04-16 19:59] vijaysm commented on #4252
@Kevin-Mattheus-Moerman Thanks for the ping. I didn't realize the review for this submission had opened. Do not remember seeing a notification for it. I'll get started on it soon.

[2022-04-16 20:04] vijaysm commented on #3959
Just an update: I should be able to finish up the review in the next couple of days. @diehlpk @samuelburbulla

[2022-04-17 01:16] jvkersch commented on #4236
@tamarahadz Thank you for your preliminary comments. I will address them as soon as possible.

[2022-04-17 01:21] mhucka commented on #4292
Despite the 2500+ people in that list, no one seems to have handwritten text recognition specifically listed. The best I could come up with is some guessing based on who has both Python as preferred language and some kind of text analysis/processing.  Here they are in no particular order:
* rlskoeser
* mbod
* cmaimone
* baileythegreen
* adammichaelwood
* step21

If none of them are available, I ca

[2022-04-17 01:31] danielskatz commented on #4292
Please do think about people outside the list...

[2022-04-17 01:31] danielskatz commented on #4292
👋 @baileythegreen, @step21 - would either of both of you be willing to review this submission?

[2022-04-17 03:04] baileythegreen commented on #4292
@danielskatz, I'd be happy to take a look and see if this is something I could review (I'm unsure how related it will prove to be to anything I've done); however, I am on holidays until 27 May, so can not look at it before then.

[2022-04-17 03:32] slayoo commented on #3219
@dhhagan, just noticed one more issue: the archive URL posted by the @editorialbot above is a broken link, apparently a DOI was expected as it gives the following URL: "https://doi.org/https://zenodo.org/record/6321270"

[2022-04-17 08:37] geoffreyp commented on #2974
Hello, sorry for the delay. I have just added the new tests to the review branch

[2022-04-17 09:12] editorialbot opened #4322 "[PRE REVIEW]: Why develop twice? User material interface for the Peridynamic Peridigm framework."
**Submitting author:** @CWillberg (<a href="http://orcid.org/0000-0003-2433-9183">Christian Willberg</a>)
**Repository:** https://github.com/PeriHub/Peridigm
**Branch with paper.md** (empty if default branch): 2022_JOSS
**Version:** 1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/39234362bdbe6202c57cf1d1ba10212f/stat

[2022-04-17 09:12] arfon commented on #4322
@editorialbot check repository

[2022-04-17 09:13] arfon commented on #4322
@editorialbot generate pdf

[2022-04-17 09:28] arfon commented on #4322
👋 @CWillberg – could you explain what the software contribution is associated with this paper? It looks like this is some kind of addition to https://github.com/PeriHub/Peridigm – could you point to the code contributions that you'd be expecting the reviewers to consider?

[2022-04-17 09:28] editorialbot opened #4323 "[PRE REVIEW]: interactionRCS: An R package to display flexible interactions from common statistical modeling"
**Submitting author:** @andreabellavia (<a href="http://orcid.org/0000-0003-4988-4532">Andrea Bellavia</a>)
**Repository:** https://github.com/gmelloni/interactionRCS
**Branch with paper.md** (empty if default branch):
**Version:** v1.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5f965b7f71eba7ba0e67d162c00ddfcf/stat

[2022-04-17 09:28] editorialbot opened #4324 "[PRE REVIEW]: python-ags4: A Python library to read, write, and validate AGS4 geodata files"
**Submitting author:** @asitha-sena (<a href="http://orcid.org/0000-0001-7525-1160">Asitha Senanayake</a>)
**Repository:** https://gitlab.com/ags-data-format-wg/ags-python-library
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 0.3.7
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/3691899744cb

[2022-04-17 09:32] arfon commented on #4323
@editorialbot query scope

@andreabellavia – due to the relatively small size of this code and some concerns I have about whether this submission is in scope (as a visualisation tool), the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS and check the scope. We sh

[2022-04-17 09:56] Kevin-Mattheus-Moerman commented on #4319
@editorialbot check repository

[2022-04-17 10:55] step21 commented on #4292
@danielskatz I would be happy to review it. I haven't worked on image recognition myself yet, but on NLP and am getting more and more into image recognition (one subset of which is handwriting recognition).

[2022-04-17 11:28] danielskatz commented on #4292
@baileythegreen - thanks for offering, but I hope we can get this started before then.

[2022-04-17 11:28] danielskatz commented on #4292
@step21 - thanks, I'll add you to the system, but we won't actually start the review until we get another reviewer as well.

[2022-04-17 11:28] danielskatz commented on #4292
@editorialbot as @step21 as reviewer

[2022-04-17 11:29] danielskatz commented on #4292
@editorialbot add @step21 as reviewer

[2022-04-17 11:30] danielskatz commented on #4292
👋 @rlskoeser, @adammichaelwood - would either of you be willing to review this submission?

[2022-04-17 13:33] gradvohl commented on #4270
I apologize for the delay in revisiting the submission. I am overwhelmed by the classes I am teaching, papers, and projects that I am writing (most of them with fast approaching deadlines).
Regarding the TrackerControl app, the authors addressed most of the issues I raised. However, there are some adjustments to those issues. I will point them as follows, using :heavy_check_mark: when it is ok; an

[2022-04-17 15:04] EgorOrachyov commented on #3743
@Nikoleta-v3 Hi, thank you for your message. Is it possible to assign as a reviewer someone who I have suggested in previous (pre-review) discussion?

[2022-04-17 15:06] EgorOrachyov commented on #3743
hausen
arghdos
pszi1ard
abb58
JaroslavHron
sarats
camillescott
mlxd
wrathematics

[2022-04-17 23:03] asitha-sena commented on #4324
@editorialbot commands

[2022-04-17 23:06] asitha-sena commented on #4324
Thank you for starting the pre-review process. Based on the interests of reviewers in the provided list, I think the following might be interested in reviewing this paper.
vsangelidakis, jessepisel, d-chambers, pauldebus, banesullivan

[2022-04-17 23:29] Gab0 commented on #4296
### Overview

This project consists of Cython bindings to the widely used prokaryotic ORF finder software `Prodigal`.

The premise is interesting, allowing `Prodigal` functions to be called directly from Python code as an alternative to binary calls using `subprocess.call` or similar. This enables a more flexible pipeline design.

The performance claims over CPU time, RAM use and storage use can b

[2022-04-18 01:35] quynhneo commented on #3736
I added a couple of comments on gitlab
1. OSX build: seems like an outstanding issue
2. documentation: Unix dependencies list and instruction

[2022-04-18 04:27] emdupre commented on #4098
Hi @conorheins ,

Thank you for your patience on this ! I've consulted with other JOSS editors and have outlined a list of next steps that I hope will be helpful. I'm detailing them below, and please do let me know if you have any questions in addressing them.

- [ ] It would be best to directly cite the arXiv companion piece in the JOSS article such that the relationship between the two is clearl

[2022-04-18 06:33] ricopicone commented on #3884
Apologies @shivesh1210 -- yes, @gkthiruvathukal I should be able to finish the review this this week.

[2022-04-18 07:31] vissarion commented on #3330
Hi @ArikaLZ any news?

[2022-04-18 08:18] althonos commented on #4296
Hi @Gab0 , thanks for the review! A few answers / updates:

I added the AUR installation method recently, that's why it's not documented, and updated the documentation to mention it, so it will be rendered on the website with the next release. Installing from source is not covered in the `README.md` (because it's really less convenient than PyPI / Bioconda), but I already have a section in the [In

[2022-04-18 09:30] cjwu commented on #4052
@martinfleis
Hi, the checklist is up-to-date.

[2022-04-18 09:34] cjwu commented on #4052
@d-eggert Thank you for your contribution.

[2022-04-18 10:46] editorialbot opened #4325 "[PRE REVIEW]: humpi: The python code for the Hurricane Maximum Potential Intensity (HuMPI) model"
**Submitting author:** @apalarcon (<a href="http://orcid.org/0000-0002-9454-2331">Albenis Pérez Alarcón</a>)
**Repository:** https://github.com/apalarcon/HuMPI-master
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/b9ce38bfc1adf03404200c1d0fe1385e/stat

[2022-04-18 10:48] arfon commented on #4325
@editorialbot query scope

:wave: @apalarcon – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next couple of weeks.

[2022-04-18 11:22] apalarcon commented on #4325
suggested potential reviewers

Chilipp
NoraLoose

[2022-04-18 11:43] arfon commented on #2688
:wave: @arunpersaud – I just made a number of minor updates to your paper here: https://bitbucket.org/berkeleylab/hardware-control/pull-requests/1

[2022-04-18 11:50] arfon commented on #3764
@editorialbot accept

[2022-04-18 11:57] arfon commented on #3764
@zbeekman, @lorenzo-rovigatti, @amritagos – many thanks for your reviews here and to @ajstewartlang for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@simoninireland – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-18 11:57] #3764 closed

[2022-04-18 13:56] adbartni commented on #4248
@editorialbot generate my checklist

[2022-04-18 14:24] crvernon commented on #3709
@editorialbot generate pdf

[2022-04-18 14:25] crvernon commented on #3852
@editorialbot generate pdf

[2022-04-18 14:29] crvernon commented on #4297
:wave: - @jasondegraw  Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-04-18 14:29] crvernon commented on #4297
👋 - @willu47 Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-04-18 14:34] crvernon commented on #4237
:mega: Rally time!  Looks like @thurber has started providing feedback to @jonschwenk ... @jonschwenk how are things going in handling these comments? Let's keep things rolling towards a successful review!  @thurber can any other checkboxes be updated in this issue to reflect the progress on your submitted issue?

:wave: @AtrCheema - please update me to your progress thus far and don't hesitate to

[2022-04-18 14:45] crvernon commented on #3852
@jlarsen-usgs thanks for putting together a really nice software product!  Thanks to @thurber  and @mdbartos for a constructive and timely review!

I am recommending that your submission be accepted.  An EIC will review this shortly and confirm final publication if all goes well.

[2022-04-18 15:31] thurber commented on #4237
hi @crvernon, all my initial software feedback has been addressed by @jonschwenk et al. I still need to take a detailed read of the paper to address the remaining checkboxes; i'll plan to wrap that up this week!

[2022-04-18 15:48] arfon commented on #4061
@kasbot – I made a few minor edits to the paper here: https://github.com/SINTEF/AutoActive-ActivityPresenter/pull/15

[2022-04-18 15:51] arfon commented on #4113
@editorialbot accept

[2022-04-18 15:51] dazhwu commented on #4310
@editorialbot commands

[2022-04-18 15:52] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 15:54] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 15:57] arfon commented on #4113
@canyon289, @ColCarroll – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jeremiecoullon – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-18 15:57] #4113 closed

[2022-04-18 15:57] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 16:00] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 16:01] arunpersaud commented on #2688
Thanks, just merged them...

[2022-04-18 16:03] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 16:07] dazhwu commented on #4310
Hi,

My paper has been converted to pdf and is ready to be reviewed.

Thanks,

[2022-04-18 16:08] arfon commented on #4142
@editorialbot accept

[2022-04-18 16:22] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 16:37] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 16:46] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 17:14] dhhagan commented on #3219
@slayoo Sorry about that -> trying to clear these up now.

[2022-04-18 17:21] dhhagan commented on #3219
@editorialbot set 10.5281/zenodo.6321270 as archive

[2022-04-18 17:22] dhhagan commented on #3690
@editorialbot add @slayoo as reviewer

[2022-04-18 17:23] dhhagan commented on #3690
@editorialbot add @sridge as reviewer

[2022-04-18 17:23] dhhagan commented on #3690
@editorialbot add @simonom as reviewer

[2022-04-18 17:24] dhhagan commented on #3690
@editorialbot start review

[2022-04-18 17:24] editorialbot opened #4326 "[REVIEW]: gdess: A framework for evaluating simulated atmospheric CO~2~ in Earth System Models"
**Submitting author:** @dkauf42 (<a href="http://orcid.org/0000-0002-1487-7298">Daniel E Kaufman</a>)
**Repository:** https://github.com/E3SM-Project/gdess
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @dhhagan
**Reviewers:** @slayoo, @simonom
**Archive:** 10.5281/zenodo.6981643

## Status

[![status](https://joss.theoj.org/papers/6cc7ba8d3c09f66974550161f740e

[2022-04-18 17:24] #3690 closed

[2022-04-18 17:24] arfon commented on #4142
@mayrmt, @mattmartineau – many thanks for your reviews here and to @jedbrown for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@lukeolson – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-18 17:24] #4142 closed

[2022-04-18 17:25] dhhagan commented on #4201
Hi @yguitton end of April should be fine! Thanks!

[2022-04-18 17:25] dhhagan commented on #4201
@editorialbot add @yguitton as reviewer

[2022-04-18 17:27] dhhagan commented on #4201
👋 Hi @davidegraff @cthoyt - are either of you available to review this manuscript?

[2022-04-18 17:40] jlarsen-usgs commented on #3852
@crvernon

I've put together the github release and created a Zenodo archive for this publication. The doi is [10.5281/zenodo.6468138](https://doi.org/10.5281/zenodo.6468138)

[2022-04-18 17:41] mbobra commented on #4315
@editorialbot add @SimonMolinsky as reviewer

[2022-04-18 17:41] mbobra commented on #4315
@editorialbot start review

[2022-04-18 17:41] editorialbot opened #4327 "[REVIEW]: NAIF PDS4 Bundler: A Python package to generate SPICE PDS4 archives"
**Submitting author:** @mcostasitja (<a href="http://orcid.org/0000-0003-0055-2959">Marc Costa Sitja</a>)
**Repository:** https://github.com/NASA-PDS/naif-pds4-bundler
**Branch with paper.md** (empty if default branch):
**Version:** v1.3.0
**Editor:** @mbobra
**Reviewers:** @athulpg007, @SimonMolinsky
**Archive:** 10.5281/zenodo.6800348

## Status

[![status](https://joss.theoj.org/papers/fd49478b

[2022-04-18 17:41] #4315 closed

[2022-04-18 17:43] mbobra commented on #4315
👋 @athulpg007 @SimonMolinsky @mcostasitja See you over in #4327 where the actual review will take place!

[2022-04-18 17:43] rkurchin commented on #4306
👋  Hi @danaraujocr, just checking in on how your review is going!

[2022-04-18 17:44] crvernon commented on #3852
@editorialbot set 1.0.2 as version

[2022-04-18 17:45] crvernon commented on #3852
@editorialbot set 10.5281/zenodo.6468138 as archive

[2022-04-18 17:45] crvernon commented on #3852
@editorialbot generate pdf

[2022-04-18 17:45] slayoo commented on #3219
@editorialbot commands

[2022-04-18 17:46] crvernon commented on #3852
@editorialbot check references

[2022-04-18 17:47] mbobra commented on #4327
👋 @athulpg007, @SimonMolinsky Thank you so much for agreeing to review! You can find the article in the comment boxes above ⬆️ , the software repository linked in the first comment box on this issue. To generate your checklist, use the following command:

[code]

I think you're good to go. Again, JOSS is an open review process and we encourage communication between the reviewers, the submitting au

[2022-04-18 17:49] mbobra commented on #3331
👋 @ashleychontos How is it going? Please let me know if you need any help!

[2022-04-18 17:56] athulpg007 commented on #4327
@editorialbot generate my checklist

[2022-04-18 18:02] crvernon commented on #3852
@editorialbot recommend-accept

[2022-04-18 18:11] jlarsen-usgs commented on #3852
@crvernon

I just read through the proof and found a typo that should be corrected before final acceptance and publication.  "gsflow_coef" should be "gwflow_coef". I'll correct this right now.

[2022-04-18 18:21] jlarsen-usgs commented on #3852
@crvernon

Fixed the typos on my end.

[2022-04-18 18:30] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-18 18:32] dhhagan commented on #3219
@editorialbot recommend-accept

[2022-04-18 18:35] jbytecode commented on #4231
@editorialbot remove @myousefi2016 from reviewers

[2022-04-18 18:39] jbytecode commented on #4231
👋👋👋 Dear @jakryd  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**lintegrate: A C/Python numerical integration library for working in log-space**". You can find more information at the top of this Github issue (https:

[2022-04-18 18:43] jbytecode commented on #4231
@mattpitkin - I am so sorry for the inconvenience. Thank you for your patience.

[2022-04-18 18:56] jonschwenk commented on #4237
@crvernon echoing @thurber I believe we have addressed all issues/comments so far!

[2022-04-18 18:57] crvernon commented on #3852
@jlarsen-usgs - no problem, please create a new release with the fix and post the new version and DOI here.  Then I will assign them accordingly.

[2022-04-18 19:11] kyleniemeyer commented on #4143
Hi @mefuller and @wenkailiang, I just wanted to check in on the status of your reviews. Do you think you will be able to complete them soon?

[2022-04-18 19:17] jlarsen-usgs commented on #3852
@crvernon - created a new release in github and posted the new version to zenodo [10.5281/zenodo.6468426](https://doi.org/10.5281/zenodo.6468426)

[2022-04-18 19:26] mefuller commented on #4143
I completely forgot about this.
I will aim to look at it and hopefully get it done over the weekend

[2022-04-18 19:29] arfon commented on #3219
@dhhagan – this is failing because the DOI in the BibTeX here is invalid (the preceding `doi:` needs removing): https://github.com/atmos-cloud-sim-uj/PySDM/blob/master/paper/paper.bib#L170

[2022-04-18 19:37] slayoo commented on #3219
@editorialbot check references

[2022-04-18 19:37] Shiming94 commented on #4099
@editorialbot generate pdf

[2022-04-18 19:38] Shiming94 commented on #4099
@editorialbot check references

[2022-04-18 19:38] slayoo commented on #3896
@editorialbot check references

[2022-04-18 19:40] slayoo commented on #3896
@arfon the check-references behaviour has apparently changed recently wrt handling of "<" and ">" characters in the DOIs - the above four invalid DOIs were not indicated as invalid up above: https://github.com/openjournals/joss-reviews/issues/3896#issuecomment-962827845
Was it intentional? Thanks,
Sylwester

[2022-04-18 19:48] mefuller commented on #4143
I completely forgot about this.
I will aim to look at it and hopefully get it done over the weekend

[2022-04-18 20:03] BatoolMM commented on #4265
Did Anyone of the reviewers have a piece of luck in installing the package [MitoHEAR](https://github.com/ScialdoneLab/MitoHEAR)! I can't seem to install it in my local machine - I was going to open an issue in the repository but checking with @sahilseth and @juanvillada beforehand! It can be something with my local environment and R version!

[2022-04-18 20:06] marcosvital commented on #4276
Dear @petermac you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review, please le

[2022-04-18 20:12] marcosvital commented on #3220
@editorialbot set v0.36.0 as version

[2022-04-18 20:16] marcosvital commented on #3220
@editorialbot set 10.5281/zenodo.3332973 as archive

[2022-04-18 20:16] marcosvital commented on #3220
@editorialbot recommend-accept

[2022-04-18 20:16] ashleychontos commented on #3331
Aloha @mbobra, thanks for checking in - we have made a lot of progress and are on track to fully resubmit this Friday! Thanks again for your patience :)

[2022-04-18 20:18] claresinger commented on #3219
@slayoo it seems the DOI being accessed is not the same as what is in the .bib file https://github.com/atmos-cloud-sim-uj/PySDM/blob/master/paper/paper.bib#L48
`10.1175/1520-0469(1967)024<0688:CDGBC>2.0.CO;2`

[2022-04-18 20:20] slayoo commented on #3219
@claresinger, thanks, yes, it seems that recently something has changed in the way the bot parses the bib file, I've also just noted it in the PyMPDATA paper: https://github.com/openjournals/joss-reviews/issues/3896#issuecomment-1101700414

[2022-04-18 20:29] marcosvital commented on #4288
Dear @PythonCHB, @platipodium and @krober10nd you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you ar

[2022-04-18 21:01] cthoyt commented on #4201
@dhhagan sure, I'm available later this week/next week to look into this

[2022-04-18 21:09] davidegraff commented on #4201
@dhhagan i'm in the same boat. Happy to help out with this next week! Is there anything I should read up before then if this is my first review?

[2022-04-18 21:47] crvernon commented on #3852
@editorialbot set 10.5281/zenodo.6468426 as archive

[2022-04-18 22:40] Gab0 commented on #4296
@althonos Cool, I'll address each remaining topic:

* Extra Setup Methods: Setup using AUR and source builds do work and that was my main concern here.

* Library performance issues: Oh `meta` mode is another operation mode, got that. I'm now able to 'recreate' the standard `prodigal` operation workflow by training `pyrodigal.OrfFinder` on the same sequence it was going to predict. This workflow i

[2022-04-19 00:19] krober10nd commented on #4288
I'd be willing to review. Thanks.

[2022-04-19 02:47] gkthiruvathukal commented on #4311
@editorialbot invite @marksantcroos as reviewer

[2022-04-19 02:48] gkthiruvathukal commented on #4311
@marksantcroos Are you willing to contribute a review for this JOSS submission?

[2022-04-19 02:48] gkthiruvathukal commented on #4311
@uellue Are you willing to contribute a review for this JOSS submission?

[2022-04-19 02:50] gkthiruvathukal commented on #4232
@sea-bass and @ixjlyons, Have you been able to get started with review? Please follow up here.

[2022-04-19 02:51] gkthiruvathukal commented on #3884
Thanks @ricopicone. I'd really like to move forward on acceptance within a week or so. Thank you!

[2022-04-19 02:54] gkthiruvathukal commented on #3292
@markheckmann  Can you give me an update? I'd like to move forward on acceptance soon. Having Excel download does not sound difficult. At the same time, it does not seem "mission-critical" either. If you have acted upon all other suggestions, I think we could move forward here. Can you let me know?

[2022-04-19 03:49] phoebe-p commented on #4298
Linking [GitLab issue](https://gitlab.com/dmt-development/dmt-core/-/issues/3) regarding installation on MacOS here to keep track of things.

[2022-04-19 03:56] phoebe-p commented on #4298
@miesli some minor typos in the paper:

- line 32: "principles **ob**"
- line 73-74: "This class enables to run many simulations...". I think this should be "This class enables *the user* to run..." or something similar

[2022-04-19 07:06] dilawar commented on #4298
@miesli Heads about numpy and Numba. Numba (https://pypi.org/project/numba/0.55.1/) expects numpy to be `numpy<1.22,>1.18`. You need to pin numpy's version as well.

PS: I had good experience managing dependencies with https://python-poetry.org/

[2022-04-19 07:16] jakryd commented on #4231
Sure!

[2022-04-19 07:21] jbytecode commented on #4231
@editorialbot add @jakryd as reviewer

[2022-04-19 07:21] temuller commented on #4268
@arfon Thanks for reviewing this submission. Could I get some feedback, though? Feedback is ideal for improving future submissions. What is this code missing for being accepted? Lines of code? Commits? I will proceed to create a DOI (thanks for the link), but it would be nice to re-submit this work after adding the necessary requirements.

[2022-04-19 07:23] jbytecode commented on #4231
@jakryd - Thank you so much for accepting our invitation. Could you please type

`@editorialbot generate my checklist`

to generate your checklist? In this list, there will be 20 reviewing item. Whenever you complete them, you can check the corresponding item. You can also interact with the authors, other reviewers, and the editor anytime you need.

Do not hesitate to ask me anything.

Thank you i

[2022-04-19 07:24] jbytecode commented on #4231
@editorialbot generate pdf

[2022-04-19 07:29] d-eggert commented on #4052
Hi @cjwu,

as you stated, that your checklist is up-to-date, may you please provide some feedback for the 'unchecked' points:

- [ ] Functionality: Have the functional claims of the software been confirmed?
- [ ] Performance: If there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.)
- [ ] Example usage: Do the authors inclu

[2022-04-19 07:32] rogersamso commented on #4274
@erik-whiting thanks for your interest in reviewing the paper. We will be very pleased to have you as a reviewer of the manuscript!

[2022-04-19 07:42] nataliacp commented on #4140
@editorialbot generate pdf

[2022-04-19 07:45] nataliacp commented on #4140
@Bisaloo, we have all reviewed the proofs now and everything looks fine. thank you!

[2022-04-19 08:08] kerstinvg commented on #4281
I am also happy to move on.

[2022-04-19 08:56] JTHesse commented on #4322
Hello @arfon maybe I could provide some inside. Yes you are right, the code we submitted is an addition to the existing [peridigm](https://github.com/peridigm/peridigm)  framework. Below you can find the files we added or changed in regards to the user material interface.

[code]

[2022-04-19 09:31] althonos commented on #4296
Thanks for your reviews @Gab0 and @standage !

[2022-04-19 09:33] Nikoleta-v3 commented on #3743
Yes I have been emailing them 😄

[2022-04-19 09:39] miesli commented on #4298
@phoebe-p I fixed the typos in the paper. The brackets around the related publications are indicating references. We may be able to reformulate and put the cite at the end of an explaining sentence for each bullet. I just checked other joss papers, but I did not find one where they have a comparable situation (multiple similar applications). So I'm not quite sure, how to improve this section....

[2022-04-19 09:52] EgorOrachyov commented on #3743
@Nikoleta-v3 Okay, I see :) So, is it possible to try to email others, if we have another look into excel table and try to find new possible reviewers?

[2022-04-19 09:54] pdebuyl commented on #4274
Hello @erik-whiting thank you for your interest. I have pending invitations already, which I sent via email. I'll let you know about your participation after I hear from that side.

[2022-04-19 10:10] fraukewiese commented on #4158
@odow Thank you very much for your thorough review!

[2022-04-19 10:12] fraukewiese commented on #4158
@MiftariB
At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (m

[2022-04-19 10:15] Bisaloo commented on #4140
@editorialbot recommend-accept

[2022-04-19 10:24] Shiming94 commented on #4099
Hi @engyasin and @hugoledoux

Sorry for my delayed reply. I just moved to another country last month, and it was a really busy month.

I checked your repo again, and it is really great that the structure and contents of the code were significantly improved! But I was still stuck in the **Installation** step. I tried to run the code in a cond virtuel environment. The `pypi` installation works fine

[2022-04-19 10:25] Bisaloo commented on #4140
@Anaphory @nataliacp, it looks like references should only have a single ISSN. Could you please have a look?

[2022-04-19 10:46] mikldk commented on #4296
@Gab0, @standage: Thank you very much for your effort with the very constructive reviews.

@althonos:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. wi

[2022-04-19 10:51] arfon commented on #3219
@editorialbot recommend-accept

[2022-04-19 10:51] mikldk commented on #4242
@cpalmer718 @Cristianetaniguti

Our [guidelines](https://joss.readthedocs.io/en/latest/submitting.html#typical-paper-submission-flow) states "In particular, your software should be full-featured, well-documented, and contain procedures (such as automated tests) for checking correctness.".

So we do not have a strong requirement for automated tests, but there should be some procedures for checking

[2022-04-19 10:51] mikldk commented on #4159
@tylerwmarrs, @ali-ramadhan, @chlalanne, @mcavs, @matbesancon: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-04-19 10:52] mikldk commented on #4183
@timClicks, @TahiriNadia, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2022-04-19 11:05] Anaphory commented on #4140
@Bisaloo Yes, fixed the two doube ISSNs.

[2022-04-19 11:06] Bisaloo commented on #4140
@editorialbot recommend-accept

[2022-04-19 11:21] SimonMolinsky commented on #4327
@editorialbot generate my checklist

[2022-04-19 11:22] hugoledoux commented on #4015
@editorialbot generate pdf

[2022-04-19 11:23] hugoledoux commented on #3061
@editorialbot generate pdf

[2022-04-19 11:27] SimonMolinsky commented on #4327
Hello @mbobra , Hi @athulpg007 ,

Thank you for joining me into the reviewers team 👋

When I've submitted paper to JOSS, authors were visible in the review thread (issue). Is this still the case? Should we interact with authors here, or should we create issues in the package repository?

[2022-04-19 11:46] hugoledoux commented on #3061
a *HUGE* sorry is in order here @pjanck : I don't know how I let that go, but I seriously dropped the ball on that one. I thought it was done but no. Sorry.

I'm wrapping this up today, I'm going over the paper and proposing some fixes.

One thing I just noticed: the link above the first letter of your name is missing because it's a special char, but in previous it was there right? I just tried wi

[2022-04-19 12:00] hugoledoux commented on #3061
@editorialbot generate pdf

[2022-04-19 12:00] hugoledoux commented on #3061
@editorial check references

[2022-04-19 12:16] hugoledoux commented on #3061
@editorialbot check references

[2022-04-19 12:21] hugoledoux commented on #3061
I went through the paper, please check my recommendations: https://github.com/tumcms/Open-Infra-Platform/pull/540

The \v{S} is something on our side, I'll see how this can be fixed... not action on your side needed.

At this point could you:
- [ ] Accept the PR above
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed sof

[2022-04-19 12:27] arfon commented on #3219
@tarleb – any ideas what this kind of error is about?

[2022-04-19 13:17] danaraujocr commented on #4306
Hi Rachel,

Sorry about the delay. Had an issue with my computer and just solved it.
Will continue the work later today.

Daniel Rodrigues

PhD Researcher - Process Control / Multivariate Statistics

Université Laval
+1 581 992 0165 <+1+581+992+0165>
***@***.***
401 25-3655 Boulevard des Trinitaires, Montréal, QC, Canada
[image: linkedin] <https://www.linkedin.com/in/daniel-rodrigues-01557668/>

E

[2022-04-19 13:51] danielskatz commented on #4292
@rlskoeser - The timeline is ideally ~3-4 weeks, but the process can be iterative, with you providing some feedback and the author working on it while you continue your review

[2022-04-19 13:54] step21 commented on #4292
Yeah, would be good to know if anything special is required for testing.

[2022-04-19 13:57] MiftariB commented on #4158
Dear @fraukewiese,

Thanks for the instructions.
 - The version tag is "JOSS" :  https://gitlab.uliege.be/smart_grids/public/gboml/-/tags/JOSS
 - The archival deposit is : https://zenodo.org/record/6470268#.Yl6-k_NByeA
 - The DOI is : 10.5281/zenodo.6470268

Regards,

MIFTARI B

[2022-04-19 14:01] pdebuyl commented on #4205
@bkmi Hi, any update on your side?

[2022-04-19 14:16] pdebuyl commented on #4100
`Solving environment: ...`

I'll provide an update but so far conda and mamba are slow.

[2022-04-19 14:47] arfon commented on #2688
@editorialbot recommend-accept

[2022-04-19 15:16] shivesh1210 commented on #3884
@gkthiruvathukal I would say we addressed everything from @ricopicone. The two issues which are still open are related to installation problems which @ricopicone had. Since then we updated the installation instructions and also automated the consistency checking and testing. We left the two issues open in case the reviewer had more questions. The installation should work without problems on clean

[2022-04-19 15:22] arfon commented on #2688
@arunpersaud – apologies but it looks like this line got broken by my commit. Could you change L33 back to:

[code]

[2022-04-19 15:31] engyasin commented on #4099
Hi @Shiming94 ,

Thanks for reporting. I think ,for opencv error, this has to do with the needed installation is "opencv-contrib-python" not "opencv-python", you may need also to uninstall opencv-python as mentioned here (https://github.com/opencv/opencv/issues/15723#issuecomment-543063004). This wouldn't happen if requirements.txt is used only, as shown in readme (pypi should use it as well). Jus

[2022-04-19 15:32] lpantano commented on #4167
@philippbayer, would you like to review this tool? Thanks!

[2022-04-19 15:48] jkanche commented on #4242
@mikldk @cpalmer718 I also made similar comments in my review.

It would be great to add functional testing not necessarily UI testing. UI testing is always hard for shiny applications.

[2022-04-19 15:49] kazuakiyama commented on #4262
Thanks a lot for contacting me, and sorry that my reply was extremely late. I was in vacation in that week, and I just found this request.

I will likely have a conflict of interest with Paul as I’m too close to Paul — we have been working together in the same research collaboration (EHT Collaboration), and I’m affiliated with his current institution (Harvard Univ. Black Hole Initiative). As Paul

[2022-04-19 15:53] luizirber commented on #4006
@falexwolf Sorry for the delay, I sent a couple more emails to potential reviewers, more updates soon

[2022-04-19 16:08] christinahedges commented on #4295
@whedon add @astrobel as reviewer

[2022-04-19 16:12] christinahedges commented on #4295
Hi @warrickball, I've added another reviewer to the list. I know we spoke briefly about possible conflicts of interest with reviewers. Asteroseismology as a field is very collaborative (excellent!) but that can make it hard to find completely unconflicted reviewers. @danhey and @astrobel are authors on papers that you are also an author on in the last two years, but I have 1) spoken with the edito

[2022-04-19 16:13] christinahedges commented on #4295
Sorry editorial bot...

@editorialbot add @astrobel as reviewer

[2022-04-19 16:13] christinahedges commented on #4295
@editorialbot add @astrobel as reviewer

[2022-04-19 16:31] arunpersaud commented on #2688
@arfon just pushed a fix from my laptop (but couldn't run the docker container to check if it worked). Let me know if this didn't fix it and I will work on it later and test before commiting

[2022-04-19 16:53] nasserma commented on #3742
@editorialbot generate pdf

[2022-04-19 16:58] nasserma commented on #3742
@editorialbot generate pdf

[2022-04-19 17:03] nasserma commented on #3742
@editorialbot generate pdf

[2022-04-19 17:04] nasserma commented on #3742
@editorialbot generate pdf

[2022-04-19 17:09] nasserma commented on #3742
@lucydot Please see the latest version which has the following changes,

- Two sets of images were merged so that they will not be split across pages (tutorials 8 and 10 images).
- Updated citation of '(Nguyen et al., 2018)', I was trying to cite to papers in a single citation.
- OpenFOAM and SU2 are cited per instructions from their websites
- arrow formatting corrected

Hopefully this resolves a

[2022-04-19 18:43] FranzKrah commented on #4167
Sorry maybe I missed something … but why am I CC‘d in this? 😅 cheers Franz

[2022-04-19 18:57] mbobra commented on #4327
@SimonMolinsky

Yep, please feel free to chat with the submitting author, Marc Costa Sitja (mcostasitja)! The author information is listed on the first comment box on this thread.

If you have a question for the author, you can ask it on this thread. If you find that the NAIF PDS4 Bundler does not satisfy any of the items on the checklist, please go to the submitting author's software repository (

[2022-04-19 18:59] marcsit commented on #4327
@SimonMolinsky I am here to answer any questions or to have any necessary discussion :)

[2022-04-19 19:56] meg-simula commented on #3885
@editorialbot set 10.5281/zenodo.6366056 as archive

[2022-04-19 19:57] meg-simula commented on #3885
@editorialbot recommend-accept

[2022-04-19 20:01] chartgerink commented on #3741
@editorialbot check references

[2022-04-19 20:21] lpantano commented on #4167
sorry @FranzKrah, I got some of your repository related to multiple-alignment and I invited you as reviewer, feel free to ignore if it is very far away from your scope.

[2022-04-19 20:26] chartgerink commented on #3741
Thanks @dustinstoltz! I am happy to move this along with publication and thank you for still being here after 8 months.

Your table seems to not be rendered correctly. If this is a non-intentional issue, could you update the table?

Please also update the references that do not have a DOI but that do have an available one. In lieu of editorialbot's checks I did a manual check and it seems like the

[2022-04-19 21:52] tarleb commented on #3219
The figures are defined using LaTeX syntax. We try hard to parse and convert LaTeX as much as sensible to accommodate cases like this, but that appears one of the cases that we miss.

The solution would be to use pandoc's "implicit figure" feature: a paragraph that contains just an image will be treated as a figure. E.g.

[code]

[2022-04-19 22:16] slayoo commented on #3219
@whedon generate pdf from branch master

[2022-04-19 22:17] slayoo commented on #3219
@editorialbot generate pdf from branch master

[2022-04-19 22:17] slayoo commented on #3219
@editorialbot generate pdf

[2022-04-19 22:19] slayoo commented on #3219
changed here: https://github.com/atmos-cloud-sim-uj/PySDM/commit/188609b26f86956602b0c569057a1bbfdd4f6d63
thank you @tarleb & @arfon !

[2022-04-19 23:39] BatoolMM commented on #4265
I managed to install it from GitHub - checking now the tests and quality!

[2022-04-20 00:38] timClicks commented on #4183
I will try to have my review completed this week. Sorry for the lack of communication!

[2022-04-20 00:41] lilyminium commented on #4100
Thanks @pdebuyl. I didn't find mamba so bad, but `conda` can take forever -- so far as I can tell that's out of my control. I think adding the `--debug` flag can give you low level information on what it's doing.

[2022-04-20 01:49] Yurlungur commented on #4256
Hi all, @Kevin-Mattheus-Moerman @danielskatz what happens now? Do we look for a different editor? Thanks!

[2022-04-20 05:07] mhucka commented on #4292
@rlskoeser @step21 Thank you for being willing to review this!

With respect to accounts: since the software's entire purpose is to make it possible to use cloud-based HTR services, I haven't come up with a way to avoid needing accounts. I wrote up hopefully clear instructions about how to get free accounts on all 3 services, at https://github.com/caltechlibrary/handprint/wiki – free accounts are

[2022-04-20 06:06] hugoledoux commented on #4099
@engyasin Maybe it would be good to stress this in the installation manual? I would assume this is something others might run into, and have it documented somewhere would be good practice.

[2022-04-20 06:08] hugoledoux commented on #4099
@engyasin Same here: inform the users in the readme.md that this exists and link to it?

[2022-04-20 06:41] fraukewiese commented on #4158
@editorialbot set 10.5281/zenodo.6470268 as archive

[2022-04-20 06:47] fraukewiese commented on #4158
@editorialbot set JOSS as version

[2022-04-20 06:50] fraukewiese commented on #4158
@MiftariB : Could you make a numbered version tag of the style vx.x.x ? Thank you.

[2022-04-20 06:59] danielskatz commented on #4292
@rlskoeser - Does this make it ok for you to review?

[2022-04-20 07:01] MiftariB commented on #4158
@fraukewiese, the new tag is [v0.1.1](https://gitlab.uliege.be/smart_grids/public/gboml/-/tags/v0.1.1)

[2022-04-20 07:04] falexwolf commented on #4006
Thank you, Luiz!

[2022-04-20 07:44] bauer-alex commented on #4056
I just updated the paper regarding the points raised by @jaybee84 in https://github.com/bauer-alex/APCtools/issues/8. See the respective issue for details.

[2022-04-20 07:44] bauer-alex commented on #4056
@editorialbot generate pdf

[2022-04-20 08:00] mcavs commented on #4159
@mikldk I am interested.

[2022-04-20 08:11] Shiming94 commented on #4099
Hi @engyasin, thanks for your reply.

I tried the way you mentioned but it didn't work here. I think the problem is that we use different releases of opencv, and the API's name also changed. So my suggestion would be to give a clear description of which dependencies and which releases you are using before the `Installation`, so that users can check their environment.

Regarding the second part, I

[2022-04-20 08:21] mikldk commented on #4159
@editorialbot add @mcavs as reviewer

[2022-04-20 08:26] mikldk commented on #4242
@Cristianetaniguti are you able to add functional testing as suggested by @cpalmer718 @jkanche?

[2022-04-20 08:27] TahiriNadia commented on #4183
I will definitely give a brief overview of my review. Sorry too, this is my first time writing a review on JOSS and I don't know how it works.

[2022-04-20 08:28] mikldk commented on #4183
Thanks. No worries. Let me know if there is anything I can help you with.

[2022-04-20 08:34] engyasin commented on #4099
Hi @Shiming94 ,

Can you open an issue in the repo (showing the steps to get the error) , so we can focus on this. I couldn't reproduce the error. If the readme is followed, (just pip install on clean environment) everything worked for my case.

Secondly, I could direct the reader to the notebooks files. It could be easier than copy pasting for interested users. Noted.

[2022-04-20 09:03] raivivek commented on #4242
@Cristianetaniguti I'm reviewing the R package right now and noticing many minor issues. I see that early reviewers have highlighted them already, so perhaps I should pull the development branch for testing to make sure I have all the latest changes. Please let me know if/when I should install the latest version in case you are in the middle of any changes. Thanks!

[2022-04-20 09:31] pdebuyl commented on #4274
Hi @rogersamso I am trying out the teacup example. I already have two comments that I believe should be addressed to facilitate the review:

1. In "Basic Usage" there is a statement for print `print model.doc()`. I gather from that that the docs are not executed for test, but this might cause confusion to new users.
2. Where to find the data file `Teacup.mdl` ? I did `teacup.mdl` at https://github

[2022-04-20 09:39] MiftariB commented on #4158
No particular reason, it was just to make it clearer which version was related to the JOSS publication. [v0.1.1](https://gitlab.uliege.be/smart_grids/public/gboml/-/tags/v0.1.1) is just fine.

[2022-04-20 09:58] fraukewiese commented on #3861
@FWuellhorst : Please check the following in the paper:

- Is there any DOI or URL available for King, D. E. (2009). Dlib-ml: A machine learning toolkit. Journal of Machine Learning
Research, 10, 1755–1758 ?
- Is there any DOI or URL available for  Mehrfeld, P., Nürenberg, M., & Müller, D. (2021). Model Calibration of an Air Source Heat Pump System for Transient Simulations in Modelica. 13th IEA H

[2022-04-20 09:59] fraukewiese commented on #3861
After that, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the

[2022-04-20 10:01] fraukewiese commented on #4131
@DCoppitters : Do you have any additional suggestions for reviewers?

[2022-04-20 10:02] fraukewiese commented on #4131
@wholmgren, @EricaEgg, @kramea - to make sure you have seen this request, I send it again:
– would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [RHEIA: Robust design optimization of renewable Hy

[2022-04-20 10:09] fraukewiese commented on #4293
@you , @wiljnich , @j3r3m1 - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-04-20 10:20] mbarzegary commented on #4281
thank you so much @kerstinvg and @yangbai90 for your constructive review comments.

@danasolav I created a new tagged release and archive:
the version number is v0.8.1: https://github.com/mbarzegary/BioDeg-UI/releases/tag/v0.8.1
the archive DOI is 10.5281/zenodo.6472450: https://doi.org/10.5281/zenodo.6472450

[2022-04-20 10:44] enekomartinmartinez commented on #4274
Hi  @pdebuyl ,
1.  Thank you for pointing that, I have included the output from calling the doc method in the documentation. I have also specified that this output is a pandas.DataFrame
2. I have included a link to the samples folder of test-models
I have also updated all the dataframes outputs and the plot

[2022-04-20 10:54] eferrea commented on #3956
Hi @puolival @oliviaguest , just a reminder that we did not receive any feedback yet. Thanks for your contribution.

[2022-04-20 11:05] althonos commented on #4296
@editorialbot generate pdf

[2022-04-20 11:07] wiljnich commented on #4293
I am willing to review this submission.

[2022-04-20 11:38] mattpitkin commented on #4304
I have reviewed the paper, documentation and examples and it all looks good to me. I'm happy to sign-off the review from me.

[2022-04-20 11:49] mattpitkin commented on #4231
@editorialbot generate pdf

[2022-04-20 11:51] mattpitkin commented on #4231
For information, I have added an "Availability and development" section to the paper containing:

[2022-04-20 12:21] althonos commented on #4296
Hi @mikldk ,

I have now made a new stable release (`v1.0.0`) and finalized the paper. The DOI for the `v1.0.0` version on Zenodo is [`10.5281/zenodo.6472583`](https://zenodo.org/record/6472583).

[2022-04-20 12:25] Cristianetaniguti commented on #4242
Hello! Thank you all for the comments.
Yes, @raivivek , please install the main branch (devtools::install_github("https://github.com/mmollina/viewpoly"). I have already pushed some modifications according to @cpalmer718 comments. Among them are more stable links for the example files.
@mikldk I thought about  using testthat functions to check the data used in ggplot to build the graphics.

[2022-04-20 12:26] althonos commented on #4296
Does this means the archive needs to be named the same as the JOSS paper title?

[2022-04-20 12:30] rlskoeser commented on #4292
Timeline works for me, and I'm ok with setting up accounts to test the services properly — just wanted to know for planning purposes.

[2022-04-20 12:31] fraukewiese commented on #4158
@editorialbot recommend-accept

[2022-04-20 12:31] arfon commented on #2382
@editorialbot re-accept

[2022-04-20 12:31] arfon commented on #2382
@editorialbot reaccept

[2022-04-20 12:35] fraukewiese commented on #4293
@wiljnich : Thank you very much! I will assign you as reviewer. We will start the review as soon as a second reviewer will agree to review.

[2022-04-20 12:47] danielskatz commented on #4292
Great, thanks - I'll add you and start the review

[2022-04-20 12:47] danielskatz commented on #4292
@editorialbot add @rlskoeser as reviewer

[2022-04-20 12:47] danielskatz commented on #4292
@editorialbot start review

[2022-04-20 12:47] editorialbot opened #4328 "[REVIEW]: Handprint: a program to explore and compare major cloud-based services for handwritten text recognition"
**Submitting author:** @mhucka (<a href="http://orcid.org/0000-0001-9105-5960">Michael Hucka</a>)
**Repository:** https://github.com/caltechlibrary/handprint
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 1.5.6
**Editor:** @danielskatz
**Reviewers:** @step21, @rlskoeser
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/3467be8d3425eb6955c77af7c4

[2022-04-20 12:47] #4292 closed

[2022-04-20 12:49] dustinstoltz commented on #3741
@editorialbot generate pdf

[2022-04-20 12:51] danielskatz commented on #4328
@step21 and @rlskoeser - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission, pleas

[2022-04-20 12:51] arfon commented on #2688
@editorialbot recommend-accept

[2022-04-20 12:51] dustinstoltz commented on #3741
@editorialbot check references

[2022-04-20 12:53] MiftariB commented on #4158
@fraukewiese there is still the co-authorship missing in the [PDF](https://github.com/openjournals/joss-papers/blob/f8e18c51ea8c184deb4956ee59df17b288ef5a0f/joss.04158/10.21105.joss.04158.pdf). What could we do to fix that ?

[2022-04-20 13:16] dustinstoltz commented on #3741
@chartgerink Thanks so much for tracking down those DOIs. Fixed those last few issues. Here is the Zenodo DOI for the package archive: 10.5281/zenodo.6472949

[2022-04-20 13:43] sridge commented on #4326
@editorialbot generate my checklist

[2022-04-20 14:10] FWuellhorst commented on #3861
@editorialbot check references

[2022-04-20 14:33] FWuellhorst commented on #3861
@fraukewiese
Sadly, these conference papers don't have a DOI. Regarding "King, D. E. (2009). Dlib-ml: A machine learning toolkit. Journal of Machine Learning Research, 10, 1755–1758", a DOI is available on [ReserachGate](https://www.researchgate.net/publication/220320646_Dlib-ml_A_Machine_Learning_Toolkit) (10.1145/1577069.1755843), however, this DOI is not valid according to https://dx.doi.org/ a

[2022-04-20 14:42] fboehm commented on #4305
@victorapm & @mgiardino - how are the reviews going? Do you have any questions yet?

[2022-04-20 14:50] dilawar commented on #4298
@miesli I checkout out the lastest `main` (1e165b9c5f91deed4646c5cfc9e4f563b949c8ca) and build it successfully after commenting out `numba` in `setup.py` file. But ran into errors during the `pytest test/` step with python3.10.

[code]

Looks like an issue with the pint library and is specific to Python3.10. Because I could not reproduce it with python3.8 on a Debian box. I did not open any issue

[2022-04-20 14:55] AlexanderJuestel commented on #3709
@crvernon I have finally gotten the go-ahead from my institute. I just had to edit the affiliations a little and one citation.

Please proceed with the publication!
Cheers Alex

[2022-04-20 15:36] JamieBamber commented on #4077
@lucass-carneiro Thank you for your responses, I think they do very much answer my questions. I think I would then consider the review done from my end.

[2022-04-20 15:55] zoometh commented on #4178
@martinfleis it's fine with me if you want to add me as a reviewer

[2022-04-20 16:36] itepifanio commented on #4318
@editorialbot generate pdf

[2022-04-20 16:44] martinfleis commented on #4178
@editorialbot add @zoometh as reviewer

Thanks @zoometh!

[2022-04-20 17:16] Kevin-Mattheus-Moerman commented on #3736
@quynhneo thanks. Can you link to the issues on GitLab here too please?

[2022-04-20 17:25] jbytecode commented on #4171
Dear @yhtang

Since we are a little bit ahead of the normal reviewing times, I just wanted to know if we could finalize the process soon?

Sorry for pinging and bothering.

Thank you in advance.

[2022-04-20 17:53] pdebuyl commented on #4274
@editorialbot add @andrecieplinski as reviewer

[2022-04-20 17:54] rkurchin commented on #4104
Hi @fanchercm, just checking in to get your thoughts on @arfon's question above.

[2022-04-20 17:56] pdebuyl commented on #4274
@erik-whiting thanks for checking on JOSS reviews! I most often try to balance the reviewer duo between software-specific and field-specific knowledge and will keep you in mind if you are interested in further reviewing for JOSS.

[2022-04-20 17:56] pdebuyl commented on #4274
@editorialbot start review

[2022-04-20 17:57] editorialbot opened #4329 "[REVIEW]: PySD: System Dynamics Modeling in Python"
**Submitting author:** @rogersamso (<a href="http://orcid.org/0000-0003-0348-3047">Roger Samsó</a>)
**Repository:** https://github.com/SDXorg/pysd
**Branch with paper.md** (empty if default branch): paper_pysd
**Version:** v3.7.1
**Editor:** @pdebuyl
**Reviewers:** @blsqr, @sixpearls
**Archive:** 10.5281/zenodo.7094483

## Status

[![status](https://joss.theoj.org/papers/5aa64e5347740f36773173e1ef

[2022-04-20 17:57] #4274 closed

[2022-04-20 17:58] pdebuyl commented on #4077
Thanks @JamieBamber for confirming your acceptance!

@lucass-carneiro I'll proceed soon to the next editorial steps https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2022-04-20 18:04] fanchercm commented on #4104
Hi All,

Sorry if the prior response did not go out to the needed editors,

"The referred JAC publication provided a proof-of-concept framework for the pyRS methodology and workflow and presented specific details of the physics. The software capabilities and quality of the same was not peer-reviewed at that time. We did not think the software was in a sufficient state (e.g., documentation, tutoria

[2022-04-20 18:20] wholmgren commented on #4131
@fraukewiese sorry I am overextended right now

[2022-04-20 18:30] EricaEgg commented on #4131
Apologies, I am also not able to review right now.

On Wed, Apr 20, 2022 at 3:02 AM fraukewiese ***@***.***>
wrote:

--
*Erica Eggleton*
she/her/hers
PhD Candidate
Schwartz Research Group <https://uwemilab.github.io/>
Department of Chemical Engineering <https://www.cheme.washington.edu/>
University of Washington

[2022-04-20 18:42] blsqr commented on #4329
@editorialbot generate my checklist

[2022-04-20 20:01] arfon commented on #2688
@editorialbot accept

[2022-04-20 20:10] arfon commented on #3220
@gmyenni – could you please merge this PR? https://github.com/weecology/portalcasting/pull/276

[2022-04-20 20:11] arfon commented on #2688
@aquilesC, @untzag, @garrettj403 – many thanks for your reviews here and to @timtroendle for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@arunpersaud @Grant-Giesbrecht – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-20 20:11] #2688 closed

[2022-04-20 20:12] arfon commented on #3852
@editorialbot recommend-accept

[2022-04-20 20:14] chartgerink commented on #3741
Perfect - thanks a bunch @dustinstoltz! Final things from my end following in a sec 😊

[2022-04-20 20:14] chartgerink commented on #3741
@editorialbot set 10.5281/zenodo.6472949 as archive

[2022-04-20 20:14] chartgerink commented on #3741
@editorialbot recommend-accept

[2022-04-20 20:23] arfon commented on #3885
@mithun218 – I've made some fixes to the citation formatting in the PR: https://github.com/mithun218/GiNaCDE/pull/40

[2022-04-20 20:29] arfon commented on #3852
@editorialbot accept

[2022-04-20 20:31] arfon commented on #4061
@editorialbot accept

[2022-04-20 20:35] arfon commented on #3852
@thurber, @mdbartos, @mdbartos – many thanks for your reviews here and to @crvernon for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jlarsen-usgs – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-20 20:35] #3852 closed

[2022-04-20 20:38] jlarsen-usgs commented on #3852
Thank you for your helpful reviews @thurber, @mdbartos, and @crvernon!

[2022-04-20 20:40] arfon commented on #3741
@editorialbot accept

[2022-04-20 20:41] arfon commented on #4061
@AustinTSchaffer, @erik-whiting – many thanks for your reviews here and to @prashjha for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@kasbot – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-20 20:41] #4061 closed

[2022-04-20 20:46] Nikoleta-v3 commented on #3743
There only two reviewers from the above list I haven't reach out because I couldn't find their emails. I will ping them here 😄

[2022-04-20 20:47] Nikoleta-v3 commented on #3743
👋 @hausen & @arghdos would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "SPbLA: The Library of GPGPU-powered Sparse Boolean Linear Algebra Operations". You can find more information at

[2022-04-20 20:50] arfon commented on #4140
@editorialbot accept

[2022-04-20 20:50] arfon commented on #3741
@alexanderfurnas, @cmaimone – many thanks for your reviews here and to @chartgerink for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@dustinstoltz – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-20 20:50] #3741 closed

[2022-04-20 20:54] arfon commented on #4158
Please see this recent example on how to denote co-authorship: https://gitlab.com/culturalcartography/text2map/-/blob/master/paper/paper.md

[2022-04-20 20:54] jlarsen-usgs commented on #3852
@arfon

Hello, the doi link for the paper [https://joss.theoj.org/papers/10.21105/joss.03852](https://joss.theoj.org/papers/10.21105/joss.03852) is showing a 404 not found message from github pages. The pdf download is available however.

[2022-04-20 21:01] juanvillada commented on #4265
Hi all, I managed to install MitoHEAR in Debian (linux kernel 5.10.104) with the latest R v4.1.3. I used a Docker container so I could track installation potential issues faced by users that have no pre-installed R libraries.

The issue I found was regarding the libraries required by MitoHEAR:

[code]

--------------------
Note: I had to make sure `curl` and `xml` were properly installed in the sy

[2022-04-20 21:03] arfon commented on #4166
@PeterKraus – I've made a couple of minor edits here, could you please merge the PR? https://github.com/dgbowl/yadg/pull/53

[2022-04-20 21:03] arfon commented on #4140
@xrotwang, @peterdekker – many thanks for your reviews here and to @Bisaloo for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Anaphory – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-20 21:04] editorialbot opened #4330 "[PRE REVIEW]: egobox, a Rust toolbox for efficient global optimization"
**Submitting author:** @relf (<a href="http://orcid.org/0000-0001-5479-2961">Rémi Lafage</a>)
**Repository:** https://github.com/relf/egobox
**Branch with paper.md** (empty if default branch): joss
**Version:** 0.2.1
**Editor:** @arfon
**Reviewers:** @bytesnake, @quietlychris, @YuhanLiin
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/0b252f280b5e5b67b9caba72d56c

[2022-04-20 21:04] editorialbot opened #4331 "[PRE REVIEW]: gofcat: An R package for goodness-of-fit of categorical response models"
**Submitting author:** @ejikeugba (<a href="http://orcid.org/0000-0003-2572-0023">Ejike Ugba</a>)
**Repository:** https://github.com/ejikeugba/gofcat
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.2
**Editor:** @sbenthall
**Reviewers:** @NRaillard, @PhilipPallmann
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/8079988579172de184353774929f2

[2022-04-20 21:04] editorialbot opened #4332 "[PRE REVIEW]: mixComp: An R package for estimating complexity of a mixture"
**Submitting author:** @yuliadm (<a href="http://orcid.org/0000-0002-9066-7129">Yulia</a>)
**Repository:** https://github.com/yuliadm/mixComp
**Branch with paper.md** (empty if default branch):
**Version:** v0.1-2
**Editor:** @jbytecode
**Reviewers:** @Athene-ai, @zhiiiyang
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/cfa75cededd35ccadce21d2048a68617/status.sv

[2022-04-20 21:10] arfon commented on #4289
@editorialbot invite @richardjgowers as editor

:wave: @richardjgowers  – would you be willing to handle this submission for us?

[2022-04-20 21:11] arfon commented on #4259
:wave: @danasolav – I think we'd like to take you up on this. I'll go ahead and assign you as an editor now. Thanks!

[2022-04-20 21:11] arfon commented on #4259
@editorialbot assign @danasolav as editor

[2022-04-20 21:13] arfon commented on #4256
@editorialbot invite @dfm as editor

:wave: @dfm – would you be willing to take this submission on for us?

[2022-04-20 21:19] arfon commented on #4271
@editorialbot invite @diehlpk as editor

:wave: @diehlpk – would you be willing to handle this submission for us?

[2022-04-20 21:20] diehlpk commented on #4271
@editorialbot assign @diehlpk as editor

[2022-04-20 21:21] arfon commented on #3220
@editorialbot accept

[2022-04-20 21:21] arfon commented on #4301
Quick update from me – I'm still hoping that @christinahedges will be able to edit this one for us – I've just emailed them to check 😅

[2022-04-20 21:25] arfon commented on #4308
@editorialbot invite @prashjha as editor

:wave: @prashjha – I realize this is somewhat out of your field but I was wondering if you'd be willing to edit this submission for us? @oliviaguest is the ideal editor here but is at capacity right now for papers.

[2022-04-20 21:26] arfon commented on #4309
Thanks @rkurchin – that would be great! I'll go ahead and assign you now.

[2022-04-20 21:26] arfon commented on #4309
@editorialbot assign @rkurchin as editor

[2022-04-20 21:38] arfon commented on #4310
@editorialbot invite @chartgerink as editor

:wave: @chartgerink – I realise this might be a little out of field for you but would you be willing to take on this submission for us?

[2022-04-20 21:40] arfon commented on #4313
@editorialbot invite @emdupre as editor

:wave: Dr DuPre 🎉 – would you be willing to take this submission on for us?

[2022-04-20 21:42] arfon commented on #4318
@editorialbot invite @danielskatz as editor

:wave: @danielskatz – would you be able to take this submission on?

[2022-04-20 21:43] arfon commented on #4320
@editorialbot invite @kbarnhart as editor

:wave: @kbarnhart – would you be able to handle this submission for us?

[2022-04-20 21:46] arfon commented on #4319
@ronshnapp - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area (@kyleniemeyer) is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-04-20 21:48] arfon commented on #4324
@editorialbot invite @jedbrown as editor

:wave: @jedbrown – would you be willing to edit this submission for JOSS?

[2022-04-20 21:50] arfon commented on #4330
@relf - please format the affiliations as shown in the example paper in our docs: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2022-04-20 21:51] arfon commented on #4331
@editorialbot invite @fabian-s as editor

:wave: @fabian-s – would you be able to edit this submission for us?

[2022-04-20 21:56] arfon commented on #4332
:wave: @yuliadm  – thanks for your submission to JOSS. While I look for an editor, please work to redraft and reduce the size of your paper. 1000 words us our soft limit and there appears to be a lot written here. We have detailed guidance here: https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2022-04-20 21:57] arfon commented on #4323
@andreabellavia - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission is out of scope for JOSS, being primarily a package focused on visualisation.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI for your softw

[2022-04-20 21:58] arfon commented on #4323
@editorialbot reject

[2022-04-20 21:58] #4323 closed

[2022-04-20 22:37] juanvillada commented on #4265
# 2. On functionality

Most functionality could be reproduced. It is great the authors provided the reproducible notebooks, thanks!

Other comments:

## 2.1. Function: get_raw_counts_allele ⚠️

I could not reproduce the example for the function [get_raw_counts_allele](https://github.com/ScialdoneLab/MitoHEAR#get_raw_counts_allele). I think this example/test should be better automated. I can load t

[2022-04-20 22:43] juanvillada commented on #4265
# on references:

It would be nice to use consistent journal names. Some are abbreviated and some are not.

- Nat Cell Biol
- Nat Metab
- EMBO Rep
- Nat Rev Gen

[2022-04-20 22:51] BatoolMM commented on #4265
Thank you @juanvillada - The License is also listed differently in two places: Artistic-2.0 in `DESCRIPTION ` whereas it says GPL-3 in the main GitHub repo.

[2022-04-20 23:13] juanvillada commented on #4265
🐳

I have created a public Docker image with all the required dependencies in case we need it to further test `MitoHEAR`.

https://hub.docker.com/r/biovillada/r-base-mitohear

[2022-04-20 23:32] step21 commented on #4328
@editorialbot generate my checklist

[2022-04-20 23:49] Natsiopoulos commented on #3496
Hello @sbenthall I apologize for the late response.
I will respond to the issues raised by the reviewers soon.

[2022-04-21 00:00] ejikeugba commented on #4331
@whedon check references

[2022-04-21 00:02] ejikeugba commented on #4331
@editorialbot check references

[2022-04-21 00:11] ejikeugba commented on #4331
@editorialbot commands

[2022-04-21 00:15] ejikeugba commented on #4331
@editorialbot check repository

[2022-04-21 00:15] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-21 00:15] ejikeugba commented on #4331
@editorialbot generate pdf

[2022-04-21 00:29] dazhwu commented on #4310
@editorialbot generate pdf

[2022-04-21 02:27] ricopicone commented on #3884
Thanks for your patience, @shivesh1210. I have completed my review. Great work!

[2022-04-21 02:31] mithun218 commented on #3885
Thanks @arfon, the pull request has been merged.

[2022-04-21 02:32] danaraujocr commented on #4306
The paper is well written, but the installation doc are still not perfectly clear. I ran a new ubuntu 20.04 installation on a virtual machine to check if the installation would run exactly as described but it didn't for minor reasons. The few things I would suggest adding/changing are:
1 - in the build_nspice.sh file a YACC command is called and those were not available in the build I used. Easily

[2022-04-21 02:33] mithun218 commented on #3885
@arfon  We have made a tagged release of the software, and the version tag of the archived version is v1.5.0. But I have seen a problem that [here](https://github.com/openjournals/joss-reviews/issues/3885#issue-1043454555)  the version is still showing v1.0.0.

[2022-04-21 03:44] crvernon commented on #3852
@jlarsen-usgs should be live now

[2022-04-21 03:54] emdupre commented on #4313
Thanks for the invitation -- and the well wishes 😄

Yes, happy to edit this !

[2022-04-21 03:54] emdupre commented on #4313
@editorialbot assign @emdupre as editor

[2022-04-21 03:57] emdupre commented on #4313
👋 Hi @Cadaei-Yuvxvs, and thank you for your submission to JOSS !

Thanks, too, for the suggestion of relevant reviewers ! I'll review your suggestions and begin making invitations shortly.

[2022-04-21 05:38] matthewfeickert commented on #4170
@transientlunatic I want to apologize for not having finished opening Issues for the rest of the review. This last month has been a bit of a storm personally, but it isn't acceptable to have left you with no further feedback during this time. I will work to finish my full review before the start of next week.

[2022-04-21 06:00] PeterKraus commented on #4166
@editorialbot generate pdf

[2022-04-21 06:43] gabrielelubatti commented on #4265
Dear @juanvillada  and @BatoolMM , thanks for your comments and feedback! I will work on these soon and let you know.
Regarding the problem with the fifth element of the output given by function get_heteroplasmy (that in some notebooks is NULL), this is something expected.
In the documentation for the get_heteroplasmy, in the section value, for the fifth element is written "Indices of the samples

[2022-04-21 06:46] danielskatz commented on #4318
@editorialbot assign me as editor

[2022-04-21 06:48] danielskatz commented on #4318
👋 @itepifanio - I'll be your editor.  As we try to find reviewers, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editoria

[2022-04-21 06:49] danielskatz commented on #4318
In addition, if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).  The suggestions you made above are editors, and we generally don't a

[2022-04-21 07:07] relf commented on #4330
@editorialbot generate pdf

[2022-04-21 07:12] relf commented on #4330
@arfon, sorry for that. I've used the docker command and did not see the glitch as the pdf was generated. It is fixed.

[2022-04-21 07:32] MiftariB commented on #4158
@arfon Thanks for the reply. However, I am unsure of what needs to be done. In the above mentionned example, they wrote :
[code]
We wrote :
[code]
And when compiling our paper on https://whedon.theoj.org/ everything seems fine. I am no expert but It seems like the new editorialbot does not accept having both **co-first author** and **corresponding author** as footnote at once.

[2022-04-21 07:38] mgiardino commented on #4305
Hi @fboehm, I'm working on it and indeed I have a question(It's my first JOSS review). Besides the checklist that we are following, do we have to produce some sort of report to gather our comments? I have some advice/comments right now that I wish to communicate to the author, but I'm not sure if I'm supposed to create an issue about it or just write it here as a comment.

[2022-04-21 07:42] arfon commented on #2708
@ysohn – thank you for the update. I have to say, the (presumably accidental) deletion of the reviewer feedback to date is very unfortunate. This submission has moved very slowly, and feedback to the reviewers has been very delayed. At this point I need you to do the following in order to save this submission from rejection:

(Assuming you're able to recover the issues somehow, perhaps from email?

[2022-04-21 08:44] lucydot commented on #4298
Thanks for the excellent work you are doing on the reviews @dilawar @phoebe-p.

RE: the related publications section of the paper @miesli: I agree it looks a little awkward with the list of brackets. I suggest a slight re-wording: `The project has been used in the following publications` --> `The project has been used in the following contexts` (or you may think of a nicer word to put instead of c

[2022-04-21 08:56] lucydot commented on #3742
@nasserma I'm just checking with other editorial team members about citatiion formatting when there is not a date associated with a publication (currently displaying as "n.d").

[2022-04-21 08:58] miesli commented on #4298
@editorialbot generate pdf

[2022-04-21 09:00] arfon commented on #3220
@ViniciusBRodrigues & @FlukeAndFeather – many thanks for your reviews here and to @marcosvital for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@gmyenni – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-21 09:00] fabian-s commented on #4331
sorry, I can't right now, my day job keeps me too busy for the next couple of weeks.

[2022-04-21 09:01] miesli commented on #4298
I reformulated the "related publications" and completely agree, this looks way less awkward.
Thank you for the tips.

[2022-04-21 09:05] arfon commented on #4166
@editorialbot accept

[2022-04-21 09:06] arfon commented on #3885
@editorialbot set v1.5.0 as version

[2022-04-21 09:13] arfon commented on #4166
@aozorahime, @1mikegrn, @pythonpanda2 – many thanks for your reviews here and to @galessiorob for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@PeterKraus – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-21 09:13] #4166 closed

[2022-04-21 09:14] arfon commented on #3885
@editorialbot accept

[2022-04-21 09:15] arfon commented on #4158
Ah OK, I see what's going on here. @tarleb – any chance you could take a look here? It looks like the footnotes here are breaking with both 'co-first author' and 'corresponding author'.

[2022-04-21 09:19] arfon commented on #4312
:wave: @mbernaschi – just checking in here to see if you'll be starting your review soon?

[2022-04-21 09:20] arfon commented on #3885
@peanutfun, @carstenbauer – many thanks for your reviews here and to @meg-simula for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@mithun218 – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-21 09:20] #3885 closed

[2022-04-21 09:21] arfon commented on #4301
@editorialbot invite @dfm as editor

:wave: @dfm, looks like @christinahedges can't take this one on. Any chance you might be able to handle it?

[2022-04-21 09:36] lucydot commented on #3742
@nasserma
- the formatting for the MPI Forum author field is not correct - in your bib file the title should be in double curly brackets: "{{Message Parsing Interface Forum}}"
- there seems to be an inconsistency with the "misc" entries in the bib file. A `year` field has been supplied for ngsolve, but not for the other websites. I suggest removing the `year` field for ngsolve (which I think is a

[2022-04-21 09:37] lucydot commented on #4108
@editorialbot add @CFGrote as reviewer

[2022-04-21 09:38] lucydot commented on #4108
@editorialbot add @KedoKudo as reviewer

[2022-04-21 09:38] lucydot commented on #4108
@editorialbot start review

[2022-04-21 09:38] editorialbot opened #4333 "[REVIEW]: CrysalGrowthTracker: A Python package for calculating the face advancment rates of crystals from videos taken using synchrotron radiation"
**Submitting author:** @jonathanHuwP (<a href="http://orcid.org/0000-0001-5283-8065">Jonathan Pickering</a>)
**Repository:** https://github.com/jonathanHuwP/CrystalGrowthTracker
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** v1.5.0
**Editor:** @lucydot
**Reviewers:** @CFGrote, @KedoKudo
**Archive:** 10.5281/zenodo.7233987

## Status

[![status](https://joss.theoj.

[2022-04-21 09:38] #4108 closed

[2022-04-21 09:52] dfm commented on #4256
@editorialbot assign me as editor

@Yurlungur — I'll now do some initial checks and start recruiting reviewers. This can take up to a few weeks, but I'll keep you posted as the process proceeds.

[2022-04-21 09:53] dfm commented on #4301
@editorialbot assign me as editor

@HartwigTilman — I'll now do some initial checks and start recruiting reviewers. This can take up to a few weeks, but I'll keep you posted as the process proceeds.

[2022-04-21 09:56] gabrielelubatti commented on #4265
Regarding the comments from @juanvillada:
**On functionality**
1) I modified the example for the function [get_raw_counts_allele](https://github.com/ScialdoneLab/MitoHEAR#get_raw_counts_allele), using download.file() and untar() functions in order to make the test  more automated.
**Vignettes**
1) For the notebook "cell_competition_mt_example_notebook.Rmd" I added a sentence and a chunk of code at

[2022-04-21 10:01] gabrielelubatti commented on #4265
Regarding the comments from @BatoolMM:
I changed the license in the DESCRIPTION file, in order to be consistent with the one in the main GitHub repo (GPL-3).

[2022-04-21 10:04] fraukewiese commented on #3861
@FWuellhorst
I see. Then it is ok to go on without those doi.

[2022-04-21 10:09] fraukewiese commented on #4131
@ClaraBuettner , @kramea:
– would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [RHEIA: Robust design optimization of renewable Hydrogen and dErIved energy cArrier systems](https://github.com/rhe

[2022-04-21 11:42] MiftariB commented on #4158
@editorialbot generate pdf

[2022-04-21 11:48] MiftariB commented on #4158
@editorialbot generate pdf

[2022-04-21 12:08] MiftariB commented on #4158
We removed the "corresponding author" tag and everything works now on the preview. Can we proceed with this version of the paper ?

[2022-04-21 13:20] FWuellhorst commented on #3861
@fraukewiese : Thanks for the quick answer and the time associated with this review process!
I followed all steps:
- Tagged release: https://github.com/RWTH-EBC/AixCaliBuHA/releases/tag/0.3.0
- Release tag: v_0.3.0
- DOI of zenodo: 10.5281/zenodo.6475439

I hope that everything is correct.

[2022-04-21 13:26] osorensen commented on #4304
Thanks for your review @mattpitkin!

[2022-04-21 13:53] nasserma commented on #3742
Hi @lucydot , I made the changes specified, but the adding the urldate field to the bib entries does not change the presence of "N.D." in the resulting citations. Also, I have populated that field with the date that the page was updated (extracted from the HTML metadata), but in the article proof it indicates the field should reflect the date accessed. I am pushing an update to the OpenFOAM bib en

[2022-04-21 14:09] aliverud commented on #4061
Thanks a lot for the review and publishing!

There is a broken link for the author "Anders E. Liverud" at the publication page. Could you please correct? (the ".E" is missing in the authors page: https://joss.theoj.org/papers/by/Anders%20Liverud vs. https://joss.theoj.org/papers/by/Anders%20E.%20Liverud)

[2022-04-21 14:14] diehlpk commented on #4279
Hi @mr53563 how is your review going?

[2022-04-21 14:15] simonom commented on #3329
Thanks @vissarion.  My checklist is complete and I recommend publication in JOSS.

[2022-04-21 14:17] diehlpk commented on #4271
Hi @stsievert @arn1291 @GuillaumeDerval would you be interested in reviewing this paper?

[2022-04-21 14:28] krober10nd commented on #3959
@diehlpk sure I can try this weekend, although I have left several more general issues and thoughts to consider on the github page for this package and paper that have yet to be addressed.

[2022-04-21 14:46] victorapm commented on #4305
@fboehm, I have the same questions as @mgiardino. Thanks!

[2022-04-21 15:01] diehlpk commented on #4322
@JTHesse It seems that you added a new material model? Can you please elaborate what is novel about the material model.

[2022-04-21 15:27] JTHesse commented on #4322
Hello @diehlpk and thanks in advance for your time. Yes, the contribution we submitted is structured like a new material model. What is new about the model is that it allows you to use your own user materials based on the abaqus UMAT format in Peridigm.

With the help of this interface, we would like to reduce the effort involved in integrating material models and also increase their usability.

[2022-04-21 15:39] hechth commented on #4201
@davidegraff Thank you very much! You can find the reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2022-04-21 15:40] hechth commented on #4201
@cthoyt & @yguitton Great, thank you very much!

[2022-04-21 15:43] tarleb commented on #4158
I think the following should work:

[code]

[2022-04-21 15:52] MiftariB commented on #4158
@editorialbot generate pdf

[2022-04-21 15:55] MiftariB commented on #4158
Everything seems good now. Thanks.

[2022-04-21 16:23] samuelburbulla commented on #3959
@diehlpk I had a look at the issues of @krober10nd.
Apart from that I am awaiting the feedback of @vijaysm about the installation/examples.

[2022-04-21 16:29] zhenwu0728 commented on #4207
Hi @elbeejay, @Datseris, and @BrodiePearson,
Thanks for all your comments and suggestions.
With the help of @gaelforget, we would like to submit our responses:
Please note that the revised package and paper are tagged v0.5.0.

# Reply to @Datseris

## Summary
PlanktonIndividuals.jl is a Julia package that simulates the lifecycle and transport of plankton in oceanic currents. It has strong performa

[2022-04-21 16:29] zhenwu0728 commented on #4207
@editorialbot generate pdf

[2022-04-21 16:36] peanutfun commented on #3885
@mithun218 congratulations! 🎉

[2022-04-21 16:50] jbytecode commented on #4231
@jakryd - do you receive the notifications? Could you please start your review by generating the checklist as mentioned above?

[2022-04-21 17:16] elimillera commented on #4284
Hey @fabian-s , My workload is looking better. I'm hoping to get this review done this weekend

[2022-04-21 17:17] mithun218 commented on #3885
Huge thank you to @peanutfun and @carstenbauer  for your reviews, and @meg-simula  and @arfon for your editorial work. Much appreciated! 🎉

[2022-04-21 17:37] gabrielelubatti commented on #4265
Dear @juanvillada, thanks a lot  for your feedback and comments!
Regarding the last two points you mentioned:

-  **Please add the Community guidelines**
I added a section "Contributions and Support" in the README file of the GitHub repo. I also added a BugReports link in the DESCRIPTION file of the library

- ** Probably my last comment, and this is only a suggestion:**
Thanks for your suggestion

[2022-04-21 19:16] fboehm commented on #4305
@mgiardino and @victorapm - Thanks for the questions!

You are not required to produce a report with comments. I recognize that such a report may be standard for other journals, but at JOSS we primarily depend on teh checklists. That being said, all comments for improving the package are welcome. You are also welcome to ask questions of the authors. To offer a comment or to ask a question of the a

[2022-04-21 19:20] fboehm commented on #4251
@DanielRivasMD and @JoranTiU - Please see the authors' comments above. Please evaluate the revisions and continue the discussion with the authors to ensure that a final product meets the criteria. Please ask me questions as they arise. Be sure to check off items from the checklist once you feel that the requirement is met.

thanks again!!

[2022-04-21 19:26] itepifanio commented on #4318
@editorialbot check references

[2022-04-21 19:27] itepifanio commented on #4318
@editorialbot generate pdf

[2022-04-21 19:27] itepifanio commented on #4318
Potential reviewers: aminmed, Shahzaibkhalid25, Athene-ai

[2022-04-21 19:29] itepifanio commented on #4318
@danielskatz thanks for the suggestions! my last commands should cover them all

[2022-04-21 19:58] bauer-alex commented on #4056
The final points of @jaybee84 were now addressed in https://github.com/bauer-alex/APCtools/issues/8. I'm newly generating the pdf with the latest additions.
Thanks again for the input @jaybee84!

So I thing we resolved all issues, or am I missing something?

[2022-04-21 19:58] bauer-alex commented on #4056
@editorialbot generate pdf

[2022-04-21 20:11] jaybee84 commented on #4056
Thanks! looks great. I am happy to recommend accepting the article.

[2022-04-21 20:50] transientlunatic commented on #4170
@matthewfeickert That's fine, I've been pretty busy myself, so I'm not complaining, and I think we've all been there one time or another, so please don't stress about it!

[2022-04-21 21:06] editorialbot opened #4334 "[PRE REVIEW]: sam2lca: Lowest Common Ancestor for SAM/BAM/CRAM alignment files"
**Submitting author:** @maxibor (<a href="http://orcid.org/0000-0001-9140-7559">Maxime Borry</a>)
**Repository:** https://github.com/maxibor/sam2lca
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0b
**Editor:** @jmschrei
**Reviewers:** @fasnicar, @marouenbg
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/158bde9df8847dce78cdbea9bed40978/sta

[2022-04-21 21:08] arfon commented on #4007
:wave: @majensen – would you be willing to take this submission on instead of @will-rowe? Due to a change in professional circumstances Will is stepping down from the JOSS editorial team.

[2022-04-21 21:10] arfon commented on #4334
:wave: @maxibor – looks like one of the ORCIDs is invalid (`0000-0000-0000-0000`). Could you please correct it?

[2022-04-21 21:11] arfon commented on #4334
@editorialbot invite @jmschrei as editor

:wave: @jmschrei – would you be willing to edit this submission for JOSS?

[2022-04-21 21:21] majensen commented on #4007
@editorialbot set me as editor

[2022-04-21 21:22] majensen commented on #4007
@editorialbot commands

[2022-04-21 21:23] majensen commented on #4007
@editorialbot assign me as editor

[2022-04-21 21:48] rkurchin commented on #4309
👋 @utf and @bocklund, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-04-21 22:22] rlskoeser commented on #4328
@editorialbot generate my checklist

[2022-04-21 22:41] pfeiffea commented on #4282
@editorialbot generate my checklist

[2022-04-21 23:27] ixjlyons commented on #4299
@editorialbot generate pdf

[2022-04-21 23:41] ixjlyons commented on #4299
Hi @athulpg007, thanks for your comments. I've added a diagram and wording to help convey the simulation setup in general, rather than giving detailed treatment of one of the test cases. The example scripts themselves each have doc strings describing the physical system being simulated and some have comments for understanding API usage. Does this help with clarity?

[2022-04-22 00:34] mbobra commented on #4170
@matthewfeickert No worries at all, please take your time :)

[2022-04-22 00:51] jmschrei commented on #4334
@editorialbot assign me as editor

[2022-04-22 05:37] shivesh1210 commented on #3884
@gkthiruvathukal the review has been completed. Could you please proceed with the next steps towards the acceptance?

[2022-04-22 06:07] yuliadm commented on #4332
@editorialbot generate pdf

[2022-04-22 06:17] yuliadm commented on #4332
@arfon thank you for your comments and for your help! I have refined the paper, and it should be within the 1000-word limit now.

[2022-04-22 07:42] fraukewiese commented on #3861
@editorialbot generate pdf

[2022-04-22 07:45] fraukewiese commented on #3861
@editorialbot set 10.5281/zenodo.6475439 as archive

[2022-04-22 07:47] fraukewiese commented on #3861
@editorialbot set v_0.3.0 as version

[2022-04-22 07:47] fraukewiese commented on #3861
@editorialbot set 10.5281/zenodo.6475439 as archive

[2022-04-22 07:48] fraukewiese commented on #3861
@editorialbot recommend-accept

[2022-04-22 08:11] j3r3m1 commented on #4293
OK I am willing to review this submission also

[2022-04-22 08:20] danielskatz commented on #4318
👋 @aminmed, @Shahzaibkhalid25, @Athene-ai - Would ideally two of you be willing to review this submission?

[2022-04-22 08:26] Athene-ai commented on #4318
@danielskatz I would like to review this submission

[2022-04-22 08:26] jschlenger commented on #3061
@hugoledoux
I will start working on your ToDo list next week.
I'll let you know as soon as I'm finished.

[2022-04-22 08:47] martinfleis commented on #4178
@editorialbot start review

[2022-04-22 08:47] editorialbot opened #4335 "[REVIEW]: Archeofrag: an R package for refitting and spatial analysis in archaeology. Presentation and tutorial"
**Submitting author:** @sebastien-plutniak (<a href="http://orcid.org/0000-0002-6674-3806">Sébastien Plutniak</a>)
**Repository:** https://github.com/sebastien-plutniak/archeofrag
**Branch with paper.md** (empty if default branch):
**Version:** v0.8.2
**Editor:** @martinfleis
**Reviewers:** @joeroe, @zoometh
**Archive:** 10.5281/zenodo.6912425

## Status

[![status](https://joss.theoj.org/papers/f

[2022-04-22 08:48] #4178 closed

[2022-04-22 08:52] martinfleis commented on #4335
👋🏼 @sebastien-plutniak, @joeroe, @zoometh this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers should create checklists with the JOSS requirements using the command `@editorialbot generate my checklist`. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidel

[2022-04-22 09:02] danielskatz commented on #4318
Great, thanks - I will add you to the system, but we won't start the review until we also get a second reviewer

[2022-04-22 09:02] danielskatz commented on #4318
@editorialbot add @Athene-ai as reviewer

[2022-04-22 09:16] Athene-ai commented on #4318
Perfect !
I can not wait to start this review :-)

[2022-04-22 09:18] maxibor commented on #4334
@editorialbot generate pdf

[2022-04-22 09:36] maxibor commented on #4334
For reviewers, I would suggest:
- Francesco Asnicar ([fasnicar](https://github.com/fasnicar) on GitHub)
- Francesco Beghini ([fbeghini](https://github.com/fbeghini) on GitHub)
- Antônio Camargo  ([apcamargo](https://github.com/apcamargo) on GitHub)
-  Nick Youngblut ([nick-youngblut](https://github.com/nick-youngblut) on GitHub)

[2022-04-22 09:48] danasolav commented on #4279
Hi @diehlpk
Do we need more reviewers? I suggested a few in the meta-review, but can try to think of more.

[2022-04-22 10:09] fraukewiese commented on #4293
Thank you very much @j3r3m1

[2022-04-22 10:10] fraukewiese commented on #4293
@editorialbot add @j3r3m1 as reviewer

[2022-04-22 10:11] fraukewiese commented on #4293
@editorialbot start review

[2022-04-22 10:11] editorialbot opened #4336 "[REVIEW]: interflow: A Python package to organize, calculate, and visualize sectoral interdependency flow data"
**Submitting author:** @kmongird (<a href="http://orcid.org/0000-0003-2807-7088">Kendall Mongird</a>)
**Repository:** https://github.com/pnnl/interflow
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.3
**Editor:** @fraukewiese
**Reviewers:** @wiljnich, @j3r3m1
**Archive:** 10.5281/zenodo.6620928

## Status

[![status](https://joss.theoj.org/papers/ae736aa6e75758498cf79ab8ec3f

[2022-04-22 10:11] #4293 closed

[2022-04-22 10:12] fraukewiese commented on #4293
@j3r3m1 @wiljnich  – thanks a lot for agreeing to review here! See you over in https://github.com/openjournals/joss-reviews/issues/4336 where the actual review will take place.

[2022-04-22 10:21] engyasin commented on #4099
The test related to `Tracker Object` (https://github.com/engyasin/Offline_MOT/blob/fc4f1bb2196963ee1862e403745b24eedc93954a/offlinemot/tests/test_objects_classes.py#L18) also passed in Github actions.

[2022-04-22 11:51] baxmittens commented on #4300
@editorialbot generate pdf

[2022-04-22 11:53] baxmittens commented on #4300
@mkitti - tried to adapt the paper according to your suggestions.

[2022-04-22 12:01] dhhagan commented on #4201
@editorialbot add @cthoyt as reviewer

[2022-04-22 12:01] dhhagan commented on #4201
@editorialbot add @davidegraff as reviewer

[2022-04-22 12:03] dhhagan commented on #4201
@davidegraff I would start by taking a look at the docs [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) and [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). I'm also happy to help throughout the process if you have any questions (just ping me here in a comment!).

[2022-04-22 12:03] dhhagan commented on #4201
@editorialbot start review

[2022-04-22 12:03] editorialbot opened #4337 "[REVIEW]: RIAssigner: A package for gas chromatographic retention index calculation"
**Submitting author:** @hechth (<a href="http://orcid.org/0000-0001-6744-996X">Helge Hecht</a>)
**Repository:** https://github.com/RECETOX/RIAssigner
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.3.3
**Editor:** @dhhagan
**Reviewers:** @yguitton, @davidegraff
**Archive:** 10.5281/zenodo.6884922

## Status

[![status](https://joss.theoj.org/papers/f9528627fd5ba35257ce0bf3

[2022-04-22 12:03] #4201 closed

[2022-04-22 12:07] dhhagan commented on #4257
👋 @innat @xiaohk @jarrah42 do any of you have the time to review this manuscript?

[2022-04-22 12:20] wiljnich commented on #4336
@editorialbot generate my checklist

[2022-04-22 12:37] wiljnich commented on #4336
I am very pleased with this package and happily recommend interflow for publication in JOSS. I have one recommendation, which is not acceptance blocking. To conform with the review criteria (Documentation #5), I believe that a short explainer of the test cases and instructions for their use should be added to the documentation site.

This is a great package that solves a painful need - I have buil

[2022-04-22 12:52] bmcfee commented on #3934
Thanks @sergioburdisso for keeping this moving forward - how are things now regarding reviewer comments?

https://github.com/sergioburdisso/pyss3/issues/21
https://github.com/sergioburdisso/pyss3/issues/24

[2022-04-22 13:10] pdebuyl commented on #4100
Hi @lilyminium

Status: I could install with `mamba install -n tmpenv3.9 -c conda-forge psiresp==0.3.1 "qcfractal>0.15"`. I understand that psiresp is especially complex to install as it relies on quite elaborate packages that are not otherwise bundled.

I have only two requests before confirming the paper:
1. When running the examples, the user learns about the dependency on psi4 or mdanalysis, h

[2022-04-22 13:37] bocklund commented on #4309
@rkurchin yes, I will help review Simmate!

[2022-04-22 14:04] mkitti commented on #4300
I suggest asking https://discourse.julialang.org for the items you are struggling with.

The chat resources here can provide some interactive feedback as well:
https://julialang.org/community/

Package registration can be done via a web form if preferred:
https://github.com/JuliaRegistries/Registrator.jl

To get started I usually would use https://github.com/invenia/PkgTemplates.jl in interactive

[2022-04-22 14:06] eteq commented on #2107
While know this is like a year after the fact, it came up in a search for my recently and I just want to publicly apologies for ghosting y'all here.  This was definitely a victim of COVID/childcare/inability to keep up with committments in 2020, but I apologize all the same.

[2022-04-22 14:19] FWuellhorst commented on #3861
@fraukewiese: Thank you very much for the recommended acceptance! Is the last comment directed at me or at you?

[2022-04-22 14:37] Athene-ai commented on #4308
I would like to review this paper

[2022-04-22 14:44] Athene-ai commented on #4286
I would like to review this paper

[2022-04-22 14:47] Athene-ai commented on #4276
I would like to review this submission

[2022-04-22 14:48] Athene-ai commented on #4263
I would like to review this submission

[2022-04-22 14:58] diehlpk commented on #4279
Hi @danasolav, no we are fine.

[2022-04-22 15:37] taylormcd commented on #3997
I added a short contributing section to README.md.  I'll probably create a more detailed one later, but this should suffice for now.

[2022-04-22 16:37] gkthiruvathukal commented on #3884
@shivesh1210 Yes, we are ready to move to the final steps! Thank you for your patience!

Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure

[2022-04-22 16:52] dilawar commented on #4298
@miesli I am in the last phase of the review. The codebase quality and the documentation are excellent and the package is very capable. I'll post the summary of the review later.

I feel the following point, though not important for this review, will be useful to consider in the future.

- DMT-core dependencies are huge and pretty diverse. __A docker image would be very helpful.__ To appreciate it

[2022-04-22 16:56] hayesall commented on #3671
@whedon generate pdf

[2022-04-22 16:56] hayesall commented on #3671
@editorialbot generate pdf

[2022-04-22 16:57] dilawar commented on #4298
@miesli

From the paper:

Can you point me to the file/function where this grammar is implemented?

[2022-04-22 18:08] kmongird commented on #4336
@wiljnich thank you very much for your review! We greatly appreciate your time and comments.

Just to get some clarification on the recommendation you’ve described and to make sure we’re on the same page, when you state “short explainer of the test cases and instructions for their use should be added” are you referring to the test suite for the package or the usage of the sample data in the quicks

[2022-04-22 18:20] yhtang commented on #4171
Hi @jbytecode

Sorry for the delay! I have just successfully reproduced the benchmark results on my machine and checked the corresponding review item(s). That concludes my review. Please let me know if you need any further input or discussion.

[2022-04-22 18:26] jbytecode commented on #4171
Dear @yhtang

Thank you for the response and your review, however, it seems a single checkbox seems to unchecked. Could you please complete your review if it is not an issue anymore?

Thank you.

[2022-04-22 18:28] jmschrei commented on #4334
Thanks for the suggestions! @fasnicar, @fbeghini, @apcamargo, would any of you be available to review this submission and not have conflicts of interest?

[2022-04-22 18:32] yhtang commented on #4171
Done! 😄

[2022-04-22 18:32] jbytecode commented on #4171
@editorialbot check references

[2022-04-22 18:33] jbytecode commented on #4171
@editorialbot generate pdf

[2022-04-22 18:46] arfon commented on #3861
@editorialbot accept

[2022-04-22 18:52] arfon commented on #3861
@samanmostafavi, @shamsiharis – many thanks for your reviews here and to @fraukewiese for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@FWuellhorst – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-22 18:52] #3861 closed

[2022-04-22 18:53] arfon commented on #4158
@editorialbot recommend-accept

[2022-04-22 18:55] VivianePons commented on #4283
@editorialbot add @behollister as reviewer

[2022-04-22 19:00] jbytecode commented on #4171
Dear @elizabethnewman

I have just created a pull request (https://github.com/elizabethnewman/hessQuik/pull/6) in the software repository.

Please review them carefully and apply them if you are agreed with the corrections.

Thank you in advance.

[2022-04-22 19:03] arfon commented on #4158
@editorialbot accept

[2022-04-22 19:06] slayoo commented on #3219
@dhhagan, @arfon, let me ask if you could retry the needed bot command to check if the "Error prepararing paper acceptance" still shows up (BTW, reported the error message typo here: https://github.com/openjournals/joss-papers/pull/3165), thanks.

[2022-04-22 19:15] elizabethnewman commented on #4171
Dear @jbytecode,

Thank you for creating the pull request.  I looked through your corrections and agreed with them.

Please let me know if you need any additional information at this time, and thank you again!

[2022-04-22 19:15] jbytecode commented on #4171
@editorialbot check references

[2022-04-22 19:16] jbytecode commented on #4171
@editorialbot generate pdf

[2022-04-22 19:21] lucass-carneiro commented on #4077
@pdebuyl As per the instructions, I have tagged a new release (v1.1.0) and archived it in Zenodo. Here is the [DOI](https://doi.org/10.5281/zenodo.6478503).

I have also move the paper from the `paper` branch to the `master` branch and deleted the `paper` branch.

[2022-04-22 19:23] jbytecode commented on #4171
Dear @elizabethnewman

It seems okay now.

- [ ] Please read the paper pdf carefully, one more time.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive in https://zenodo.org/
- [ ] The Zenodo archive should have the correct metadata, e.g. author names, ORCIDs, the title of the ar

[2022-04-22 20:00] zarrarkhan commented on #4015
@hugoledoux Thank you for generating the proof. We have read the proof and corrected a few typos we found.

In addition we see that the referencing style seems inconsistent but it is not clear how to adjust this. For example: In the article proof linked above on line 22 we have the following:

[code]
Which refer to the following references:
- Line 118: Khan, Z., Wild, T. B., Iyer, G., Hejazi, M.,

[2022-04-22 20:14] wiljnich commented on #4336
@kmongird I am referring to the test suite

[2022-04-22 20:34] lpantano commented on #4167
@editorialbot add @swatimanekar as reviewer

[2022-04-22 20:43] lpantano commented on #4167
Hi @samhorsfield96, would you like to review this tool? I got your name from a colleague that you could be interested. Thanks!

[2022-04-22 20:59] gdetor commented on #4306
@danaraujocr Thank you for your comments/suggestions. We updated the README file including all your suggestions.

[2022-04-22 21:06] kmongird commented on #4336
Great, thanks very much.

[2022-04-22 21:19] arfon commented on #4158
@odow, @leonardgoeke – many thanks for your reviews here and to @fraukewiese for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@MiftariB – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-22 21:19] #4158 closed

[2022-04-22 21:46] hayesall commented on #3671
Just about there! I've ticked off all my boxes.

A few things need fixed in the references, these may not be exhaustive:

---

![image](https://user-images.githubusercontent.com/11916674/164799656-5e030942-c010-4c96-be54-f081ac43a218.png)

- Adjust `author`

---

![image](https://user-images.githubusercontent.com/11916674/164799849-44716e3f-c2eb-4706-b25e-5a93cb0157c5.png)

- Issue number `(xxxx)`

[2022-04-22 22:37] pfeiffea commented on #4282
First off, well done @szwiep (and @smchartrand). This is a very well organized, well documented bit of software. It is a simple and elegant little tool. My edits are relatively minor. I have a few lingering “to-dos” on my review checklist, which I’ll deal with in the coming days.

# Basic Usage Notebook:
This is an excellent notebook. It is not verbose, but gives me a great sense for how to use an

[2022-04-22 22:54] elizabethnewman commented on #4171
Dear @jbytecode

I believe I have followed all of the steps you have outlined above.  Here is the requested information:

tagged release version id: v1.0.0
zenodo archive DOI: 10.5281/zenodo.6478757
zenodo archive url: https://zenodo.org/record/6478757#.YmMyAfPMK3J

Please let me know if you need any other information.  Thank you!

[2022-04-22 23:29] AP6YC commented on #3671
@hayesall All very good catches! Sorry for the inconsistencies in the bibliography. I addressed your concerns and more, such as software citations, with a recent hotfix into `master`.

@editorialbot generate pdf

[2022-04-22 23:30] AP6YC commented on #3671
@editorialbot generate pdf

[2022-04-22 23:40] AP6YC commented on #3527
All,

I sincerely apologize for my absence in this project and this thread, which despite life events I cannot excuse. I would like to thank @adi3 for reaching out to me via email to correct my neglect of this thread. To quickly conclude this review, and as a show of good faith to everyone's time, I have gone through this thread and listed out the remaining reviewers' concerns as a list of issues

[2022-04-22 23:52] kbarnhart commented on #4320
@arfon I can handle this. Though it may be close to a week before I can get to my standard pre-review evaluation.

@WEgeophysics - thanks for your submission. At this point I'll do my standard pre-review evaluation. At this stage I verify that the submission is in scope for JOSS and has all of the required elements. I also flag anything that I think would be worth addressing before review begins.

[2022-04-22 23:52] kbarnhart commented on #4320
@editorialbot assign @kbarnhart as editor

[2022-04-23 00:15] WEgeophysics commented on #4320
Ok.

[2022-04-23 08:26] jbytecode commented on #4171
@editorialbot set v1.0.0 as version

[2022-04-23 08:27] jbytecode commented on #4171
@editorialbot set 10.5281/zenodo.6478757 as archive

[2022-04-23 08:28] jbytecode commented on #4171
@editorialbot check references

[2022-04-23 08:28] jbytecode commented on #4171
@editorialbot generate pdf

[2022-04-23 08:35] jbytecode commented on #4171
@editorialbot recommend-accept

[2022-04-23 08:45] FWuellhorst commented on #3861
@samanmostafavi @shamsiharis Thanks again for the really good review and all your time put into this!

@fraukewiese @arfon: Thanks for providing the possibility to publish open-source software for research using JOSS. I really appreciate the concept of the journal and the review process. I've signed up as a reviewer. Maybe I can be of help in future reviews as well.

[2022-04-23 08:49] jbytecode commented on #4171
@openjournals/dev - could you please help us with the compilation issue above?

[2022-04-23 10:57] sea-bass commented on #4232
@editorialbot generate my checklist

[2022-04-23 11:31] sea-bass commented on #4232
Hi @gkthiruvathukal -- I have just gone through the software for my review: https://github.com/simplefoc/Arduino-FOC/issues/174

While the software, documentation, etc. looks great, we are still unable to generate the software paper and therefore review that piece. Could you and the author take a look at this and update us when the paper is available?

Additionally, the CI pipeline includes compil

[2022-04-23 11:39] askuric commented on #4232
Hey @sea-bass,
Thanks for the review!
The paper is the `joss_paper` branch [link](https://github.com/simplefoc/Arduino-FOC/tree/joss_paper/).  That was one of the suggested ways by the joss webiste ( to add a branch with the paper).

If you prefer I can add the paper to the master.
Antun

[2022-04-23 12:08] sea-bass commented on #4232
@editorialbot generate pdf

[2022-04-23 12:08] sea-bass commented on #4232
Thanks, @askuric -- turns out the main issue description didn't specify a branch, so it defaulted. I've just edited it to the `joss_paper` branch. Let's see how this turns out.

[2022-04-23 12:38] kasnder commented on #4270
@editorialbot generate pdf

[2022-04-23 12:43] kasnder commented on #4270
@editorialbot generate pdf

[2022-04-23 12:47] kasnder commented on #4270
@editorialbot generate pdf

[2022-04-23 12:53] kasnder commented on #4270
Thank you for having another look at our work @gradvohl!

I added more details on this now, and a separate section in the `paper.md`.

I think I had misunderstood this. I've now added a list of key references to the `README.md` at <https://github.com/TrackerControl/tracker-control-android#references>.

I had some problems generating the pdf, but I've fixed this now and added the result at <https:/

[2022-04-23 15:19] gkthiruvathukal commented on #4232
@sea-bass and @askuric. Thanks for the updates here.
@ixjlyons Have you been able to get started with the review?

[2022-04-23 15:28] lilyminium commented on #4100
Hi @pdebuyl, I've done the first change! Unfortunately with regards to the second, that's because I added that example as a response to this review. `04_example_rest_minimal.ipynb` is not actually in version 0.3.1 of the repository, but the next release 0.4.0. That's why the input files are also missing, as they were created specifically for the example.

I looked into a bit and I can't patch a re

[2022-04-23 15:50] arfon commented on #4171
I *think* the issue is that this is actually an `ISSN` not `ISBN`: https://github.com/elizabethnewman/hessQuik/blob/main/paper/paper.bib#L179 and so the current value is failing the XML validation.

[2022-04-23 16:04] ixjlyons commented on #4232
@editorialbot generate my checklist

[2022-04-23 16:09] ixjlyons commented on #4232
@gkthiruvathukal (et al.) apologies for the delayed start - I should be able to finish reviewing in the next couple days.

[2022-04-23 17:49] slayoo commented on #3896
Thank you @wdeconinck for the feedback!
Our plan is to add to the paper an analysis comparing libmpdata++ and PyMPDATA execution times for 1-2 examples that are already implemented in both packages. For both packages, we will check how the time scales with the number of threads, and for PyMPDATA we will report times with Numba enabled and without JIT. Please stay tuned for an update.

[2022-04-23 19:55] BatoolMM commented on #4265
Thank you @gabrielelubatti for the changes you made to the installation guidelines and functionality. It's way better now. Thank you @juanvillada for all your suggestions.

I love the package but have a few comments about the text of the paper, vignettes to make it more user-friendly.

In terms of the paper:
- Can you elaborate more about how this software compares to other commonly-used packages

[2022-04-23 22:37] wojdyr commented on #4200
@editorialbot generate pdf

[2022-04-24 03:02] majensen commented on #4007
Hi @huddlej  -- would you have time and inclination to review [this work](#4007) for [JOSS](https://joss.theoj.org)? It would be great to have your microbe sequencing expertise here. Thanks for your consideration --@majensen

[2022-04-24 03:56] smchartrand commented on #4282
Thanks @pfeiffea. These are all super helpful suggestions. We appreciate your time and energy reviewing our submission.

[2022-04-24 08:41] jbytecode commented on #4171
Dear @elizabethnewman

I have just send a new pull request (https://github.com/elizabethnewman/hessQuik/pull/7) that possibly fixes the compilation task. Could you please review and apply it?

Thank you.

[2022-04-24 11:19] DanielRivasMD commented on #4251
Hi all (@fboehm @nociale), apologies for the delay in this reply. In reply to the comments above:

1) I believe that adding such files to the community helps enormously to make this package a collective effort. I applaud such a resolution.
2) As a matter of fact, initially I did not review the references that the authors indicate above. However, they, in my personal opinion, provide enough evidenc

[2022-04-24 13:20] melissawm commented on #4198
Hello @yhtang, it seems we are having trouble finding reviewers - would you suggest any other names at this point? Thanks

[2022-04-24 13:32] melissawm commented on #4291
Hello, folks - sorry for the delay!

@nimgould would you recommend any reviewers from the [list of potential reviewers](https://bit.ly/joss-reviewers)?

Also - because different people have been involved in the past, I just want to confirm that the authorship for GALAHAD 4.0 is correct.

Finally, I have had experience with GALAHAD and know the documentation is pretty extensive, but while we wait f

[2022-04-24 13:59] arfon commented on #3119
:wave: @Midnighter – just checking in here. I think you said you wouldn't be able to start your review for a couple of weeks?

[2022-04-24 14:05] arfon commented on #4312
:wave: @lnacquaroli – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review is _Swalbe.jl: A lattice Boltzmann solver for thin film hydrodynamics_

[2022-04-24 14:06] arfon commented on #3896
Was it intentional? Thanks,

I think we can just ignore this. Thanks for checking @slayoo.

[2022-04-24 14:11] arfon commented on #4262
OK thanks @ptiede. I'm asking around a bit in my network to see if people know any Julia-proficient radio astronomers.

[2022-04-24 15:10] mbernaschi commented on #4312
Sorry, I am busy till next Thursday (April 28).
All the best,
Massimo Bernaschi

Il giorno gio 21 apr 2022 alle ore 11:20 Arfon Smith <
***@***.***> ha scritto:

--
--- Massimo Bernaschi: Istituto Applicazioni del Calcolo ----
|  IAC-CNR                  | e-mail: ***@***.*** |
|  Via dei Taurini, 19     | phone: +39 06 49937350              |
|  00185 Roma - ITALY | fax:   +39 06 4404306

[2022-04-24 15:29] jorgedch commented on #3124
Hi @arfon,

Thank you once again for your feedback, we have addressed it as follows:

Done. We added the clarification that the library has a dependency on libgl1 and the command to install it.

We have clarified the distinction of our library as follows:

"we also provide a modified ResNet [2] for object-recognition that directly takes the exemplars and the detections from the first stage and pre

[2022-04-24 16:31] blsqr commented on #4329
I have opened a first issue regarding the software paper [over in the PySD project](https://github.com/JamesPHoughton/pysd/issues/316).

FYI: The next two weeks I will not be available for review or questions, but will pick up the review some time in the middle of May.

[2022-04-24 16:33] Midnighter commented on #3119
Yeah, I will start in the coming week.

[2022-04-24 16:37] danaraujocr commented on #4306
@rkurchin no other commentaries to make.

[2022-04-24 17:12] fibreglass2 commented on #3736
Style/Structure: The first point the reviewer raised on the gitlab tracker (https://gitlab.com/fibreglass/pivc/-/issues/3) discusses this. PIVC is designed as standalone software to perform one task, and not a generalized building block style system that is intended to be expanded over time or perform functions outside of its original design goal.

C++ Usage: This software was never intended to be

[2022-04-24 17:50] arfon commented on #4262
:wave: @mileslucas & @ericagol – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under consideration is a Julia package: _Comrade: Composable Modeling of Radio Emission_

[2022-04-24 17:53] athulpg007 commented on #4299
Hi @ixjlyons, I have completed the first review of this work. Here are my comments:

1. It turns out all the test cases in this package are already well documented in this [NASA report](https://nescacademy.nasa.gov/src/flightsim/Reports/NASA-TM-2015-218675-EOM_checkcase_appendices.pdf). I suggest adding this to "NESC Test Cases" section to the README file, list the titles of all 16 test cases used

[2022-04-24 18:11] csoneson commented on #4182
@JoaoRodrigues, @rvhonorato - any updates here?

[2022-04-24 18:16] csoneson commented on #4265
@BatoolMM, @juanvillada - thanks a lot for all your comments so far! 🙂

@sahilseth - could you update us on how your review is coming along?

Thanks all!

[2022-04-24 18:48] JoaoRodrigues commented on #4182
Hi @csoneson, apologies, I haven't had as much time to work on this as I wanted. Replied to the authors just now. Last thing I would need before 👍 is to test the software locally. Unfortunately, the current examples (AFAIK) require some third-party software that I'd have to register to download, and I don't want to do so. I've asked the authors to provide an example that does not require those mod

[2022-04-24 19:42] arfon commented on #2954
Hi all, just checking in here. It's been nearly five months since the last update here...

[2022-04-24 19:46] arfon commented on #3124
OK thanks @jorgedch! I've found one minor issue here that could do with fixing: https://github.com/Heldenkombinat/Logodetect/pull/40

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenod

[2022-04-24 19:48] arfon commented on #3219
@editorialbot recommend-accept

[2022-04-24 19:54] wojdyr commented on #4200
@jamesrhester and @dominiquesydow
I appreciate your reading and reviewing of the paper.
I updated the paper, adding words "cross-platform" (as suggested by James) and missing DOIs.

[2022-04-24 19:55] arfon commented on #3219
@editorialbot accept

[2022-04-24 19:59] arfon commented on #3689
@kbarnhart – I propose we close this review and re-invite a submission if/when @mdhurst1 is able to make these changes. What do you think?

[2022-04-24 20:02] arfon commented on #3790
👋 @hiraksarkar, @ctb – just checking in again here 😄.

[2022-04-24 20:04] arfon commented on #3953
Just a heads up that I've pinged @jarvist over email to give us an update.

[2022-04-24 20:06] #4085 closed

[2022-04-24 20:12] arfon commented on #3312
@whedon assign me as editor

[2022-04-24 20:12] arfon commented on #3312
@editorialbot assign me as editor

[2022-04-24 20:17] arfon commented on #3312
:wave: all, I'm taking over this review as @sjpfenninger is stepping down from the JOSS editorial team. Thanks for all of your efforts @sjpfenninger!

@giodegas – my understanding was that you were waiting to start your review in earnest until there was a Docker solution in place which it looks like there now is (https://github.com/openjournals/joss-reviews/issues/3312#issuecomment-892157745).

[2022-04-24 20:25] arfon commented on #3219
@darothen, @josephhardinee – many thanks for your reviews here and to @dhhagan for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@piotrbartman – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-04-24 20:40] slayoo commented on #3219
@arfon Thank you!
In the final paper page that one is redirected to by using the DOI the author list is full of unescaped HTML non-braking space:
![image](https://user-images.githubusercontent.com/89685/164995668-772e2028-dd78-4b12-915f-58f3737dfe90.png)
Is it possible to do correct it?
Thanks

[2022-04-24 21:39] markheckmann commented on #3292
@gkthiruvathukal  I found some time to work on it and will finish the changes in the next 1 or 2 days, so we can move ahead.

[2022-04-24 22:09] arendsee commented on #4193
I would like to thank @Chjulian and @marekborowiec  for their thoughtful comments. Sorry for the delay, I've been transitioning into a new position and a new city, so am a bit back-logged.

Below are my responses to the main points the raised with respect to
the `smot` code. I will address the comments on the paper next. All the changes
I mention below are in smot v0.17.4.

## It is not clear what

[2022-04-24 23:09] gkthiruvathukal commented on #3292
Thanks for the update, @markheckmann!

[2022-04-24 23:11] yhtang commented on #4198
Will do! Would it be OK if I reach out to people and gauge their interest before providing the names here?

[2022-04-24 23:30] taoliu032 commented on #4182
Thank you for the comment. An example has been prepared as requested, please see the detail here: https://github.com/siminegroup/E2EDNA2/issues/14#issuecomment-1107938433.

As always, please do not hesitate to ping me should there be any question.

[2022-04-25 01:07] phoebe-p commented on #4298
@miesli Agreed that the new list format for the paper looks better - one note, when you are citing multiple publications at once such as line 101-102, you should group the references:  `[@citation1; @citation2, @citation3]`

[2022-04-25 02:15] kbarnhart commented on #3689
Works for me. I followed up my prior message via email and haven't heard back in a while.

[2022-04-25 02:15] #3689 closed

[2022-04-25 02:41] taless474 commented on #4263
@editorialbot assign @Athene-ai as reviewer

[2022-04-25 02:43] taless474 commented on #4263
@editorialbot add @Athene-ai as reviewer

[2022-04-25 02:45] taless474 commented on #4263
Thank you @Athene-ai
Hi @elboyran, thank you for your submission. Will you please introduce to us a list of potential reviewers? We need another reviewer on this work

[2022-04-25 02:55] taless474 commented on #4250
@OlgerSiebinga, I apologize for the late response. @bnriiitb can use `@editorialbot generate my checklist` to generate his checklist. How is the review going @bnriiitb ?

[2022-04-25 02:59] taless474 commented on #4073
@marksantcroos, @burch-cm, any updates?

[2022-04-25 04:53] jbytecode commented on #4171
@editorialbot check references

[2022-04-25 04:53] jbytecode commented on #4171
@editorialbot check references

[2022-04-25 04:54] jbytecode commented on #4171
@editorialbot generate pdf

[2022-04-25 04:58] jbytecode commented on #4171
@editorialbot recommend-accept

[2022-04-25 05:37] timtroendle commented on #4261
👋 @noah80, @olejandro, @jasondegraw, we are approaching the end of the six-week review period. Can you let us know where you stand with your review and by when you plan to finish?

[2022-04-25 06:15] fabian-s commented on #4228
@alstat please adress the issues raised by the reviewers and let us know here in the thread your timeframe for doing so before the week-end

[2022-04-25 06:16] fabian-s commented on #4228
@editorialbot remind @alstat in 2 days

[2022-04-25 06:16] fabian-s commented on #4228
@editorialbot remind @fabian-s in 5 days

[2022-04-25 06:29] fraukewiese commented on #4336
@wiljnich Thank you very much for your review!

[2022-04-25 06:31] fraukewiese commented on #4336
@kmongird : Please let us know when you have updated the explainer and instructions for the test suite.

[2022-04-25 07:05] mikldk commented on #4296
@editorialbot set 10.5281/zenodo.6472583 as archive

[2022-04-25 07:05] mikldk commented on #4296
@editorialbot set v1.0.0 as version

[2022-04-25 07:06] mikldk commented on #4296
@editorialbot check references

[2022-04-25 07:06] mikldk commented on #4296
@editorialbot generate pdf

[2022-04-25 07:11] arfon commented on #3219
@slayoo - please remove all of the &nsbp; characters and I'll re-deposit the paper.

[2022-04-25 07:37] arfon commented on #3689
@editorialbot reject

[2022-04-25 07:52] AKuederle commented on #4235
@adi3 I understand that you are likely very busy at the moment. Is there anything we can help with to move this review forward?

[2022-04-25 08:10] piotrbartman commented on #3219
@dhhagan @darothen @josephhardinee @arfon @slayoo Thank you all! 🎉🎉🎉

[2022-04-25 08:21] Kevin-Mattheus-Moerman commented on #4157
@jedbrown @Leticia-maria can you provide an update on review progress? Thanks!

[2022-04-25 08:22] Kevin-Mattheus-Moerman commented on #4267
@likask @tjhei @moorepants would you be interested in reviewing this work, on Python based continuum mechanics, for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
JOSS reviews focus on [evaluating the software](https://github.com/JulianKarlBauer/mechkit) and on reviewing the [short paper](https://github.com/openjournals/joss-papers/blob/joss.04267/joss.04267/10.21105.joss.04

[2022-04-25 08:25] Kevin-Mattheus-Moerman commented on #4211
@oriolcg, @omtazi thanks again for your help here. Can you provide an update on review progress? Thanks.

[2022-04-25 08:31] Kevin-Mattheus-Moerman commented on #4185
I have just emailed @Samuel-Wagner a reminder about this review.

[2022-04-25 08:32] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 can you provide an update on how you are getting on addressing those reviewer comments? :point_up:

[2022-04-25 08:32] Kevin-Mattheus-Moerman commented on #3920
@editorialbot check references

[2022-04-25 08:49] Kevin-Mattheus-Moerman commented on #3920
@editorialbot check references

[2022-04-25 08:50] Kevin-Mattheus-Moerman commented on #4252
@vijaysm that is okay. Hope you are getting on well. Let us know if you have an update. Thanks again for your help!

[2022-04-25 08:51] mscroggs commented on #4252
Sorry, I got unexpected busy. I'll get my review done this week

[2022-04-25 08:52] mscroggs commented on #4252
@editorialbot generate my checklist

[2022-04-25 08:53] arfon commented on #4104
Thanks for the additional information @fanchercm. Personally, I'm still unclear whether these changes warrant a new publication and meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

Could you please provide a link in your commit history that represents the state of the project at the time of the earlier publicati

[2022-04-25 08:56] mikldk commented on #4296
@althonos Thanks. A few comments:

- [ ] There is a period in the end of the title (both paper and Zenodo) - please remove
- [ ] Summary: "One of the key step for analysing" -> step**s**

Please change and recompile (no need to make a new release, just update Zenodo meta data and the paper).

[2022-04-25 08:57] JoranTiU commented on #4251
Hi everyone (@fboehm @nociale) !

Apologies for my late reply too, I was on holiday last week ;).

I'm very happy and very satisfied with the changes :). The runnable examples would be nice, but the Vignette makes up for this to a large extend, so not having those definitely isn't a deal breaker as far as I'm concerned :).

Thanks for all the work and the great package :).

Best,
Joran

[2022-04-25 09:05] swatimanekar commented on #4167
Yes, I'd like to take a look at the specified tool.

On Sat, Apr 23, 2022 at 2:13 AM Lorena Pantano ***@***.***>
wrote:

[2022-04-25 09:11] Bisaloo commented on #4193
a problem, of course, because if they misunderstand others will as well.

:+1:

This might also be the sign that you should use another (additional) framework for the documentation. It's nowadays pretty common to have a documentation website (typically readthedocs for python packages but I'm sure they are plenty of alternatives) alongside the bundled documentation. A website might make it easier t

[2022-04-25 09:13] althonos commented on #4296
@mikldk

Thanks, done.

[2022-04-25 09:13] althonos commented on #4296
@editorialbot generate pdf

[2022-04-25 09:41] Kevin-Mattheus-Moerman commented on #3997
@editorialbot check references

[2022-04-25 09:43] Kevin-Mattheus-Moerman commented on #3997
@editorialbot generate pdf

[2022-04-25 09:50] Kevin-Mattheus-Moerman commented on #3997
@taylormcd @prashjha all issues have now been addressed and I recommend acceptance in JOSS. I wanted to check references, see above, however it seems our bot is not responding to references checking requests this morning. But I am sure you'll check this during the potential acceptance process. Thanks for the opportunity to review this interesting package. All the best.

[2022-04-25 10:06] joeroe commented on #4335
Thank you @martinfleis and congratulations on get your package to the publication stage, @sebastien-plutniak! I should be able to complete this in the next few weeks.

@editorialbot generate my checklist

[2022-04-25 10:08] joeroe commented on #4335
@editorialbot generate my checklist

[2022-04-25 10:18] zoometh commented on #4335
Hi @martinfleis, @sebastien-plutniak, @joeroe,

[2022-04-25 10:40] adi3 commented on #3671
@editorialbot check references

[2022-04-25 10:42] adi3 commented on #3671
@AP6YC great work! Looks like everything is set.  I need one final formality to be done from your side. Please make a tagged release of the project and archive it. Then report the version number and archive DOI here. Once I have that, I will send this for publication.

@hayesall @aaronpeikert thank you for all your help and effort with this review!

[2022-04-25 10:44] adi3 commented on #3527
@malmaud @rMassimiliano - we have the author back with us. Could you please continue your review and get this across the finish line? Thanks in advance!

[2022-04-25 10:46] adi3 commented on #4071
@Rehablab do you have any updated for us?

[2022-04-25 10:49] adi3 commented on #4235
@AKuederle Thanks for your patience! I'll kick off the review for this

@arianesasso Thanks for your kind offer! I think we're covered for this review but I will lean on you if necessary.

[2022-04-25 10:50] adi3 commented on #4235
@editorialbot add @finsberg as reviewer

[2022-04-25 10:50] adi3 commented on #4235
@editorialbot start review

[2022-04-25 10:50] editorialbot opened #4338 "[REVIEW]: imucal - A Python library to calibrate 6 DOF IMUs"
**Submitting author:** @AKuederle (<a href="http://orcid.org/0000-0002-5686-281X">Arne Küderle</a>)
**Repository:** https://github.com/mad-lab-fau/imucal
**Branch with paper.md** (empty if default branch):
**Version:** v2.2.1
**Editor:** @adi3
**Reviewers:** @tuliofalmeida, @finsberg
**Archive:** 10.17605/OSF.IO/37TD9

## Status

[![status](https://joss.theoj.org/papers/3dd1a7dd5ba06ce024326eee2e9

[2022-04-25 10:50] #4235 closed

[2022-04-25 10:53] adi3 commented on #4338
👋🏼  @AKuederle  this is the review thread for the paper. All of our communications will happen here from now on.

👋🏼 @@tuliofalmeida @finsberg - you both should generate your checklists with the JOSS requirements. As you go over the submission, please check the items that you feel have been satisfied and let the author know where further work needs to be fone.

Here is a little more context for fi

[2022-04-25 10:56] danielskatz commented on #4171
👋 @elizabethnewman - can you please edit the zenodo metadata to change your name from your account name to your actual name?  (i.e. "Elizabeth Newman", not "elizabethnewman")

[2022-04-25 10:56] tuliofalmeida commented on #4338
@editorialbot generate my checklist

[2022-04-25 10:58] danielskatz commented on #4171
Once that's done, I (as the AEiC this week) will be pleased to publish this submission; I see no other changes needed.

[2022-04-25 11:00] editorialbot opened #4339 "[PRE REVIEW]: Dominance-Analysis : A Python Library for Accurate and Intuitive Relative Importance of Predictors"
**Submitting author:** @quintshekhar (<a href="http://orcid.org/0000-0003-3661-666X">Shashank Shekhar</a>)
**Repository:** https://github.com/dominance-analysis/dominance-analysis
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.7
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/316775654e06d6831ab

[2022-04-25 11:00] editorialbot opened #4340 "[PRE REVIEW]: QuantNBody: a python package for quantum chemistry and physics to build and manipulate many-body operators and wave functions."
**Submitting author:** @SYalouz (<a href="http://orcid.org/0000-0002-8818-3379">SAAD YALOUZ</a>)
**Repository:** https://github.com/SYalouz/QuantNBody
**Branch with paper.md** (empty if default branch):
**Version:** v 1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/11d7ef62fa3f43bbf8bf631d752bfbf3/status.svg)](h

[2022-04-25 11:00] editorialbot opened #4341 "[PRE REVIEW]: W2W: A Python package that injects WUDAPT’s Local Climate Zone information in WRF"
**Submitting author:** @matthiasdemuzere (<a href="http://orcid.org/0000-0003-3237-4077">Matthias Demuzere</a>)
**Repository:** https://github.com/matthiasdemuzere/w2w
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/96d408b81b7169972b2e7ab7f7c1cb0

[2022-04-25 11:07] danielskatz commented on #4339
@quintshekhar - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

Also, note that your paper does not compile. Please follow the [example paper](ht

[2022-04-25 11:07] danielskatz commented on #4339
@editorialbot check scope

[2022-04-25 11:07] danielskatz commented on #4339
@editorialbot scope check

[2022-04-25 11:08] danielskatz commented on #4339
@editorialbot query scope

[2022-04-25 11:10] lucydot commented on #4333
Hello @jonathanHuwP - please add the missing DOI to the paper, as suggested by the editorialbot in the comment above.

[2022-04-25 11:11] miesli commented on #4298
Sorry, for the long response time, I took the weekend to set up Ubuntu 22.04, as I started to run in more and more strange dependency errors in my old Ubuntu 18 install. This is not because of DMT, but more because I tried many things on my pc (like building llvm11 myself, which I can not recommend doing Oo).

So back to buisness:

@phoebe-p Thanks for the tip regarding the proper grouping of refe

[2022-04-25 11:13] lucydot commented on #4333
@CFGrote, @KedoKudo this is the thread for the review. The first thing to do is to generate your reviewer checklists - there are intstructions for this and more at the top of the thread. If you have any questions please feel free to ask them here and ping me into the conversation.

[2022-04-25 11:14] danielskatz commented on #4341
👋 @crvernon - I wonder if you might be willing to edit this submission?  I know it's a little outside your area, but maybe you can handle it?

[2022-04-25 11:14] danielskatz commented on #4341
@editorialbot invite @crvernon as editor

[2022-04-25 11:17] lucydot commented on #3742
Ah @nasserma thanks for trying the `urldate` field. Yes, the `urldate` is the date the page was accessed - if you could update accordingly (to the date accessed) I think we are then ready to recommend to editor in chiefs for acceptance. We'll leave the `n.d.` as it is - I can see there are other JOSS papers that have been published with this notation instead of a date.

[2022-04-25 11:18] danielskatz commented on #4340
👋 @SYalouz - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

(note that cloc seems to be undercounting the code here, which is actually around 10

[2022-04-25 11:18] danielskatz commented on #4340
@editorialbot query scope

[2022-04-25 11:19] danielskatz commented on #4289
👋 @richardjgowers - ping...

[2022-04-25 11:19] elizabethnewman commented on #4171
Dear @danielskatz

Done!  Please let me know if you need any other information and thanks for your help!

[2022-04-25 11:20] danielskatz commented on #4307
@mlampros - it seems that this should proceed to review.

[2022-04-25 11:21] danielskatz commented on #4307
👋 @hugoledoux - Are you willing to edit this submission?

[2022-04-25 11:21] danielskatz commented on #4307
@editorialbot invite @hugoledoux as editor

[2022-04-25 11:22] danielskatz commented on #4308
👋 @prashjha - ping...

[2022-04-25 11:23] danielskatz commented on #4310
👋 @chartgerink - ping...

[2022-04-25 11:24] chartgerink commented on #4310
Sorry about that @danielskatz!

Yes, happy to edit this one.

@editorialbot assign @chartgerink as editor

[2022-04-25 11:24] danielskatz commented on #4314
👋 @Kevin-Mattheus-Moerman - are you ok with the comments above?  If so, I hope either @danasolav or you can edit it.

[2022-04-25 11:26] danielskatz commented on #4319
👋 @eloisabentivegna and @kyleniemeyer - I just wanted to check if either of you are able to edit this submission at this time. If not, we may have to keep it waitlisted until one of you can.

[2022-04-25 11:27] danielskatz commented on #4324
👋 @jedbrown - ping...

[2022-04-25 11:29] danielskatz commented on #4310
@editorialbot assign @chartgerink as editor

(commands have to be first in a comment)

Thanks!

[2022-04-25 11:31] danielskatz commented on #4330
@editorialbot check references

[2022-04-25 11:34] danielskatz commented on #4330
Also, your statement of need says why this code is in RUST but it doesn't actually say why this code is needed - e.g., who will use it and for what.

[2022-04-25 11:35] danielskatz commented on #4330
👋 @galessiorob - Do you think you would be able to edit this submission for JOSS?

[2022-04-25 11:35] danielskatz commented on #4330
@editorialbot invite @galessiorob as editor

[2022-04-25 11:37] danielskatz commented on #4331
@editorialbot check references

[2022-04-25 11:38] danielskatz commented on #4331
@ejikeugba - it looks like some DOIs might still be missing...

[2022-04-25 11:38] danielskatz commented on #4331
👋 @sbenthall - would you be able to edit this submission for JOSS?

[2022-04-25 11:38] danielskatz commented on #4331
@editorialbot invite @sbenthall as editor

[2022-04-25 11:40] danielskatz commented on #4332
@editorialbot check references

[2022-04-25 11:40] danielskatz commented on #4332
👋 @yuliadm - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references`

[2022-04-25 11:42] danielskatz commented on #4332
There are also two paper.md files in your repo, one in the root and one in the paper directory.  Please remove the extra one.

[2022-04-25 11:43] rvhonorato commented on #4182
@JoaoRodrigues did most of the heavy lifting addressing most of the points I had with the code, thanks ;) For me before the final OK I also just need to test it locally, going over it now based on the link by @taoliu032 above.

[2022-04-25 11:44] danielskatz commented on #4318
@itepifanio - can you suggest some additional reviewers?  They don't need to be on the JOSS list, if you know of other people in the larger community who might be suitable.

[2022-04-25 11:45] danielskatz commented on #4318
👋 @matthewfeickert - I wonder if you would be interested in reviewing this submission?

[2022-04-25 11:45] danielskatz commented on #4318
(or if not, perhaps you have suggestions for others who might)

[2022-04-25 11:46] danielskatz commented on #4171
@editorialbot accept

[2022-04-25 11:51] Kevin-Mattheus-Moerman commented on #4314
@danielskatz yes I'm happy with those comments/changes. I would prefer if @danasolav takes this but I'll be a reserve in case she cannot. I'll repeat the invite in case she missed it.

[2022-04-25 11:51] Kevin-Mattheus-Moerman commented on #4314
@editorialbot invite @danasolav as editor

[2022-04-25 11:54] danielskatz commented on #4171
Congratulations to @elizabethnewman (Elizabeth Newman) and co-author!!

And thanks to @GregaVrbancic and @yhtang for reviewing, and to @jbytecode for editing!
We couldn't do this without you

[2022-04-25 11:54] #4171 closed

[2022-04-25 11:58] nasserma commented on #3742
@editorialbot generate pdf

[2022-04-25 12:08] adi3 commented on #3125
@tkonolige - here's my feedback so far:

- I installed `embree` on a fresh Linux box and adding the env var like you suggested indeed did the trick. I would recommend you add both these things to the installation instructions in a code block. Or at least the env export part.
- Is there a way to simply this and install `embree` directly via cargo?
- After installation, cargo asks the user to add th

[2022-04-25 12:28] yuliadm commented on #4332
@editorialbot check references

[2022-04-25 12:30] yuliadm commented on #4332
@editorialbot check references

[2022-04-25 12:34] yuliadm commented on #4332
@editorialbot check references

[2022-04-25 12:37] arfon commented on #3920
@editorialbot check references

[2022-04-25 12:45] yuliadm commented on #4332
@editorialbot check references

[2022-04-25 12:49] yuliadm commented on #4332
@editorialbot generate pdf

[2022-04-25 12:50] elbeejay commented on #4207
Hi @zhenwu0728, thanks for addressing the comments and providing us with a thorough set of responses. At this time, I'd like to ask @Datseris and @BrodiePearson to take a look at your responses when they get a chance. I'll update the version number for JOSS, thanks for pointing that out!

[2022-04-25 12:51] elbeejay commented on #4207
@editorialbot set v0.5.0 as version

[2022-04-25 12:51] yuliadm commented on #4332
@danielskatz Dear Daniel, thanks a lot for your help! I think everything should be OK now! I have fixed all DOI's, and the .pdf compiles now. I've also removed the paper folder from the repository.

[2022-04-25 12:55] mdhurst1 commented on #3689
Thanks folks, happy with this and will resubmit in the summer once I can
get everything in order. Sorry for the hassle.

Martin

On Mon, 25 Apr 2022 at 08:37, Arfon Smith ***@***.***> wrote:

[2022-04-25 13:00] danielskatz commented on #4332
@editorialbot check repository

[2022-04-25 13:01] danielskatz commented on #4332
@yuliadm - this paper is now almost 5000 words long, while the JOSS guidelines are 1000.  I'm not sure what happened, since you said you had shortened the paper before, but you need to shorten it again.

[2022-04-25 13:02] hugoledoux commented on #4307
@editorialbot assign @hugoledoux as editor

[2022-04-25 13:02] hugoledoux commented on #4307
@editorialbot add @evetion as reviewer

[2022-04-25 13:02] danielskatz commented on #4332
👋 @jbytecode - I wonder if you might also be able to edit this submission?

[2022-04-25 13:03] danielskatz commented on #4332
@editorialbot invite @jbytecode as editor

[2022-04-25 13:15] jedbrown commented on #3380
I marked this "paused". @jcorbino Please let us know when you're ready to continue.

[2022-04-25 13:16] jedbrown commented on #3982
@tisaac @wence- :wave: Please let us know how your review is going and when you might be able to continue your reviews.

[2022-04-25 13:24] jedbrown commented on #4172
I'll just respond to the question about scope. There is a limitless number of extensions and improvements for any nontrivial software so you have to draw the line somewhere. I think you want to try hard to make the architecture ready to receive contributions. If the new thing looks like implementing a trait or adding an enum variant, it's tractable to many more people than if it requires refactori

[2022-04-25 13:39] rogersamso commented on #4329
Thank you for for the review. I answered on the issue you created in the PySD repo. In brief, we have made a couple of commits with which we expect to have answered  all your comments. Thanks again!

[2022-04-25 13:41] danielskatz commented on #4296
@editorialbot accept

looks good!

[2022-04-25 13:54] jbytecode commented on #4332
@danielskatz of course, gladly!

[2022-04-25 13:54] danielskatz commented on #4296
Congratulations to @althonos (Martin Larralde)!!

And thanks to @Gab0 and @standage for reviewing, and to @mikldk for editing!
We couldn't do this without you

[2022-04-25 13:54] #4296 closed

[2022-04-25 13:57] danielskatz commented on #4322
@editorialbot query scope

[2022-04-25 14:00] crvernon commented on #4341
@danielskatz I am familiar with WRF. Happy to take this on.

[2022-04-25 14:08] crvernon commented on #4341
:wave: - @matthiasdemuzere I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp

[2022-04-25 14:17] editorialbot opened #4342 "[REVIEW]: ICESat-2 Altimeter Data using R"
**Submitting author:** @mlampros (<a href="http://orcid.org/0000-0002-8024-1546">Lampros Mouselimis</a>)
**Repository:** https://github.com/mlampros/IceSat2R
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @hugoledoux
**Reviewers:** @evetion, @Jean-Romain
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/a01026676e546c6544423969337a5207/s

[2022-04-25 14:17] #4307 closed

[2022-04-25 14:27] slayoo commented on #3219
Removed: https://github.com/atmos-cloud-sim-uj/PySDM/commit/cf59297dbe6728d479e0b8d2224903a71b37db70

(note, we have changed the branch name from `master` to `main`)

Thank you, @arfon!

[2022-04-25 14:29] Jean-Romain commented on #4342
@editorialbot generate my checklist

[2022-04-25 14:30] arfon commented on #3219
@editorialbot re-accept

[2022-04-25 14:30] ajstewartlang commented on #4206
:wave: @volkerschmid Just checking in to see that you're getting on ok with your review of this submission?

[2022-04-25 14:30] arfon commented on #3219
@editorialbot reaccept

[2022-04-25 14:34] matthiasdemuzere commented on #4341
Hi @crvernon,

Thanks for agreeing to be the topic editor of our work.

This work was initially submitted some time ago, see [here](https://github.com/openjournals/joss-reviews/issues/3696#issuecomment-914233486). Back then I received comments from jedbrown and kthyng. Would it make sense to ask them again?

From a content point of view, Alberto Martilli and Oscar Brousse would be valuable reviewe

[2022-04-25 14:43] slayoo commented on #3219
Thank you, @arfon!

[2022-04-25 14:49] yuliadm commented on #4332
@editorialbot check repository

[2022-04-25 14:54] kbarnhart commented on #3689
@mdhurst1 no worries! Feel free to reach out to me if you have any questions as you prepare to resubmit.

[2022-04-25 14:59] itepifanio commented on #4318
@danielskatz sure.

Potential reviewers: lepisma, bnriiitb, csadorf, a-slide, rewbenio

[2022-04-25 15:05] prashjha commented on #4308
@arfon I can edit this submission. Thanks.

[2022-04-25 15:05] prashjha commented on #4308
@editorialbot assign me as editor

[2022-04-25 15:06] prashjha commented on #4308
@Athene-ai awesome...let me have a look at this submission today and if all is good, I will assign you as a reviewer... :)

[2022-04-25 15:08] danielskatz commented on #4318
👋 @csadorf & a-slide - Would one of you be willing to review this JOSS submission?

[2022-04-25 15:09] danielskatz commented on #4318
👋 @csadorf & @a-slide - Would one of you be willing to review this JOSS submission?

[2022-04-25 15:15] Athene-ai commented on #4308
@prashjha I can not wait to start reviewing :-)

[2022-04-25 15:17] christinahedges commented on #4295
@editorialbot start review

[2022-04-25 15:17] editorialbot opened #4343 "[REVIEW]: tomso: TOols for Models of Stars and their Oscillations"
**Submitting author:** @warrickball (<a href="http://orcid.org/0000-0002-4773-1017">Warrick Ball</a>)
**Repository:** https://github.com/warrickball/tomso
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.2.0
**Editor:** @christinahedges
**Reviewers:** @danhey, @astrobel
**Archive:** 10.5281/zenodo.6563220

## Status

[![status](https://joss.theoj.org/papers/eeb4973149

[2022-04-25 15:17] #4295 closed

[2022-04-25 15:39] timtroendle commented on #4261
Thanks for the update, @noah80. You can simply leave this box unchecked for now.

We don't require contributions of authors to be code contributions. @kristina-o, can you clarify this point?

[2022-04-25 15:42] arfon commented on #3219
:+1: looks like this is now fixed. Closing.

[2022-04-25 15:42] #3219 closed

[2022-04-25 15:57] lnacquaroli commented on #4312
Hi there, I could start next week if it's OK for you.

It's the first time I would take a review in JOSS so I am unaware of where to leave the comments or to check the items on the checklist above.

Do I need to mention them just here in a comment with a small text around or is there any checklist I can copy in here and check them as I go through the article?

Sorry for the inconvenience, if you f

[2022-04-25 16:01] blsqr commented on #4329
@editorialbot generate pdf

[2022-04-25 16:07] uellue commented on #4311
@gkthiruvathukal thank you for the invitation. Unfortunately I don't have enough expertise in the area to review this submission.

[2022-04-25 17:03] arfon commented on #4340
@danielskatz - `cloc` only counts code (not comments, whitespace etc.). `cloc` output for the `quantnbody` directory:

[code]

[2022-04-25 17:06] arfon commented on #3124
@editorialbot set 10.5281/zenodo.6483152 as archive

[2022-04-25 17:07] arfon commented on #3124
@editorialbot recommend-accept

[2022-04-25 17:09] arfon commented on #3124
@editorialbot accept

[2022-04-25 17:16] arfon commented on #3124
@szkafander, @nsaunier – many thanks for your reviews here and to @arokem for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@maxpumperla – your paper is now accepted and published in JOSS :zap::rocket::boom:. Sorry it took a while longer than expected 😅