[2020-02-08 01:16] arbennett commented on #2042
Hi @Chilipp - thank you for your review! I have addressed your comments above on the master branch. Thanks for catching that timestamp bug!

Regarding tests: we do show how to run the tests when installing from source. I'm not 100% sure if that's enough, but because our tests rely on sample datasets, it seems like the easiest way to recommend running them. Let me know if you have other ideas.

Reg

[2020-02-08 01:18] titipata commented on #1979
@kthyng Thank you so much for the fix. I merged the PR!

[2020-02-08 01:20] pySRURGS commented on #2074
@nicoguaro I ran a fresh install of the software on linux and ran
`python ant.py` and did not encounter the issue.
please check that you ran the script from within the /examples/ directory, as I import the pyGOURGS package using a relative path.

[2020-02-08 01:24] titipata commented on #1979
@majensen @kthyng Do I need to create a new archive release and DOI for the repository?

[2020-02-08 01:38] pySRURGS commented on #2074
I added commentary to the readme about running ant.py when in the /examples directory because of the relative path import of pyGOURGS

[2020-02-08 02:08] jrosen48 commented on #1941
Hi @marcosvital, I seem to be unable to check the checkbox items - can you advise if there is something I can do? thanks!

[2020-02-08 03:18] sauln commented on #1958
👋 Looks like @effigies did a great review. I'm hoping to have my review complete by early next week.

[2020-02-08 13:38] gbertoldo commented on #1701
Hi, @HaoZeke! We added the CONTRIBUTING.md file at the root of the repository.

[2020-02-08 14:12] rreinecke commented on #1815
@drvinceknight @Akash-Nag all done and accepted from my side.

[2020-02-08 14:37] bahung commented on #2013
@drvinceknight I recommend the paper to be published as the author @iagolemos1 had responded to and addressed my issues.

[2020-02-08 14:40] majensen commented on #1979
@titipata I believe you can update the archive with a new version and keep the DOI- just report back the new version here. Thanks!

[2020-02-08 14:42] majensen commented on #2044
@SiminaB - how are things progressing? Let me know if I can help.

[2020-02-08 14:56] iagolemos1 commented on #2013
Thank you @bahung, for helping me all the support.

[2020-02-08 14:56] fclubb commented on #2066
Hi @nathanlyons, I have updated my checklist and made a couple of very minor suggestions in a Landlab issue: https://github.com/landlab/landlab/issues/1147

[2020-02-08 16:56] HaoZeke commented on #1701
Excellent, @gbertoldo. @meg-simula I have completed my review and am satisfied that DEPP is suitable for publication in JOSS in it's current form. Apologies for the many delays!

[2020-02-08 17:22] Kevin-Mattheus-Moerman commented on #2081
A colleague at NUIG @nathanquinlan (https://orcid.org/0000-0002-5720-5811) has agreed to help review this work

[2020-02-08 17:23] Kevin-Mattheus-Moerman commented on #2081
@whedon assign @nathanquinlan as reviewer

[2020-02-08 17:23] whedon commented on #2081
OK, @nathanquinlan is now a reviewer

[2020-02-08 17:23] Kevin-Mattheus-Moerman commented on #2081
@albansouche let me know if you'd like to recommend any reviewers at this point

[2020-02-08 17:39] Kevin-Mattheus-Moerman commented on #2081
@chrisrichardson @garth-wells @chennachaos @weymouth @BenjaminRueth @JaroslavHron
Would you be interested in reviewing this work for [JOSS](joss.theoj.org/): **turtleFSI: A Robust and Monolithic FEniCS-based Fluid-Structure Interaction Solver**? The review focuses on [the software](https://github.com/KVSlab/turtleFSI.git) and [this short paper](https://github.com/openjournals/joss-papers/blob/joss

[2020-02-08 17:46] madvn commented on #1609
@ajgates42  Just a gentle reminder to review our responses to your comments. Thank you!

[2020-02-08 17:49] kyleniemeyer commented on #2084
@whedon assign @kyleniemeyer as editor

[2020-02-08 17:49] whedon commented on #2084
OK, the editor is @kyleniemeyer

[2020-02-08 17:58] titipata commented on #1979
@majensen I somehow updated to `v0.2.3` instead and the associated DOI should be 10.5281/zenodo.3660006 instead. Sorry for the confusion but this should be the final version!

[2020-02-08 18:20] brandondube commented on #2073
Hello,

I am working the review - so far so good.  Some early comments:

- Lorenz, the second author, does not show up as a contributor on the GitHub repository.  Is this an error?  Or are their contributions made in a different way?

- the paper includes a nice statement of need, but I did not find a "what can I do with this" (application level, not technical) in the first few pages of the docs.

[2020-02-08 19:16] pstrk commented on #2073
Thank you for your feedback, I will quickly answer the non-technical questions.

Lorenz contributed about half of the code. We developed the code on a private Github instance, before moving it to the public Github. We did not want to include the full development history, as it would include some files that we can not yet share. For simplicity I just duplicated the code locally, removed all these f

[2020-02-08 19:40] pitsianis commented on #1906
I have opened this [issue](https://github.com/klho/FLAM/issues/5) regarding the title and acronym of this project.

[2020-02-08 20:02] kthyng commented on #1935
@kbarnhart Yes this sounds correct to me. I haven't gone through the process myself but we do want the relevant version of the code archived at something like Zenodo, and we want the authors/title to match the paper exactly. Having the whole Landlab in the archive does make sense, given this is a submodule.

[2020-02-08 20:29] kthyng commented on #1979
@whedon add 10.5281/zenodo.3660006 as archive

[2020-02-08 20:29] whedon commented on #1979
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-08 20:29] nathanlyons commented on #2066
@fclubb I have responded to your comments at https://github.com/landlab/landlab/issues/1147. Code changes were pushed to the [branch under review](https://github.com/landlab/landlab/tree/nathanlyons_species_evolver_joss_review). I will ask the robot to create an updated version of the paper reflecting your comments.

[2020-02-08 20:29] nathanlyons commented on #2066
@whedon generate pdf from branch nathanlyons_species_evolver_joss_review

[2020-02-08 20:29] whedon commented on #2066
[code]

[2020-02-08 20:29] kthyng commented on #1979
@whedon set 10.5281/zenodo.3660006 as archive

[2020-02-08 20:29] whedon commented on #1979
OK. <a href="https://doi.org/10.5281/zenodo.3660006" target="_blank">10.5281/zenodo.3660006</a> is the archive.

[2020-02-08 20:30] kthyng commented on #1979
@whedon set v0.2.3 as version

[2020-02-08 20:30] whedon commented on #1979
OK. v0.2.3 is the version.

[2020-02-08 20:30] whedon commented on #2066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02066/joss.02066/10.21105.joss.02066.pdf)

[2020-02-08 20:30] kthyng commented on #1979
@whedon accept

[2020-02-08 20:30] whedon commented on #1979
[code]

[2020-02-08 20:31] whedon commented on #1979
[code]

[2020-02-08 20:31] whedon commented on #1979
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1282

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1282, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-08 20:32] kthyng commented on #1979
@whedon accept deposit=true

[2020-02-08 20:33] whedon commented on #1979
[code]

[2020-02-08 20:33] whedon commented on #1979
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1226242714787885061) 👈 🐦🐦🐦

[2020-02-08 20:33] whedon commented on #1979
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1283
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01979](https://doi.org/10.21105/joss.01979)
2. If everything looks g

[2020-02-08 20:35] kthyng commented on #1979
Congratulations to  @titipata on your new publication! Thanks to @majensen for editing, and to @timClicks and @tleonardi for your time and expertise reviewing.

[2020-02-08 20:35] #1979 closed

[2020-02-08 20:35] whedon commented on #1979
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01979/status.svg)](https://doi.org/10.21105/joss.01979)

**We need your help!**

Journal of Open Source Softwa

[2020-02-08 20:38] kthyng commented on #1941
Hi @jrosen48 — did you receive an invitation to edit by email? You need to accept that to gain proper permissions on this issue. Let me know if you don't have the invitation.

[2020-02-08 20:39] kthyng commented on #1956
@oxinabox Ok also this part.

[2020-02-08 20:42] jrosen48 commented on #1941
Hi, I checked my email, but didn't see this! Is there any chance that you would be able to invite me again? Thank you!

[2020-02-08 20:43] kthyng commented on #1816
@joshday Hi! I'll take over from here.

What version number do you want associated with this publication?

Also, can you create an archive of your code at, for example, Zenodo, and report the doi back here? Please be sure that the title and author list match your paper exactly, which might requires editing the metadata.

[2020-02-08 20:43] oxinabox commented on #1956
I thought I did so.
I don't know why Zenodo is not showing the new title.

<img width="850" alt="image" src="https://user-images.githubusercontent.com/5127634/74091799-a8370180-4ab3-11ea-96f0-9247c86546c7.png">

[2020-02-08 20:48] kthyng commented on #1941
@jrosen48 hm, check out the list up above under "Reviewer instructions & questions" and see if you have done both those things (being logged into github and it gives a page for invites).

[2020-02-08 20:52] jrosen48 commented on #1941
doh, so sorry - thanks - that did it. I'm sorry!

[2020-02-08 21:00] kthyng commented on #1262
@whedon accept deposit=true

[2020-02-08 21:00] whedon commented on #1262
[code]

[2020-02-08 21:01] whedon commented on #1262
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1226249668893585409) 👈 🐦🐦🐦

[2020-02-08 21:01] whedon commented on #1262
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1284
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01262](https://doi.org/10.21105/joss.01262)
2. If everything looks g

[2020-02-08 21:03] kthyng commented on #1654
@whedon withdraw

[2020-02-08 21:03] whedon commented on #1654
Paper withdrawn.

[2020-02-08 21:03] #1654 closed

[2020-02-08 21:05] whedon opened #2086 "[PRE REVIEW]: fastSF: A parallel code for computing the structure functions of turbulence"
**Submitting author:** @ShubhadeepSadhukhan1993 (<a href="http://orcid.org/0000-0002-7278-5041">Shubhadeep Sadhukhan</a>)
**Repository:** <a href="https://github.com/ShubhadeepSadhukhan1993/fastSF" target ="_blank">https://github.com/ShubhadeepSadhukhan1993/fastSF</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewers:** @cpgr, @iljah
**Managing EiC:** Kristen Thyng

**Author instructions**

Th

[2020-02-08 21:05] whedon commented on #2086
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-08 21:05] whedon commented on #2086
[code]

[2020-02-08 21:05] whedon commented on #2086
[code]

[2020-02-08 21:05] whedon commented on #2086
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02086/joss.02086/10.21105.joss.02086.pdf)

[2020-02-08 21:06] kthyng commented on #2086
@whedon invite @jedbrown as editor

[2020-02-08 21:06] whedon commented on #2086
@jedbrown has been invited to edit this submission.

[2020-02-08 21:06] kthyng commented on #2086
@jedbrown You were suggested as editor and seem like a good fit indeed.

[2020-02-08 21:08] kthyng commented on #1262
Congratulations to @ybayle on your new publications! Thanks for editor @Kevin-Mattheus-Moerman and to reviewers @r-barnes and @patrikhuber for your time and expertise.

[2020-02-08 21:08] #1262 closed

[2020-02-08 21:09] whedon commented on #1262
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01262/status.svg)](https://doi.org/10.21105/joss.01262)

**We need your help!**

Journal of Open Source Softwa

[2020-02-08 21:09] whedon opened #2087 "[PRE REVIEW]: psychTestR: An R package for designing and conducting behavioural psychological experiments"
**Submitting author:** @pmcharrison (<a href="http://orcid.org/0000-0002-9851-9462">Peter Harrison</a>)
**Repository:** <a href="https://github.com/pmcharrison/psychTestR" target ="_blank">https://github.com/pmcharrison/psychTestR</a>
**Version:** v2.19.0
**Editor:** @oliviaguest
**Reviewers:** @Cognitive-Modeller, @DivyaSeernani
**Managing EiC:** Kristen Thyng

**Author instructions**

Thanks for

[2020-02-08 21:09] whedon commented on #2087
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-08 21:09] whedon commented on #2087
[code]

[2020-02-08 21:09] whedon commented on #2087
[code]

[2020-02-08 21:09] whedon commented on #2087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02087/joss.02087/10.21105.joss.02087.pdf)

[2020-02-08 21:10] kthyng commented on #2087
@whedon invite @oliviaguest as editor

[2020-02-08 21:10] whedon commented on #2087
@oliviaguest has been invited to edit this submission.

[2020-02-08 21:10] kthyng commented on #2087
@oliviaguest you were suggested as editor!

[2020-02-08 21:21] oliviaguest commented on #2087
@whedon assign @oliviaguest  as editor

[2020-02-08 21:21] whedon commented on #2087
OK, the editor is @oliviaguest

[2020-02-08 21:38] oliviaguest commented on #2087
Hi @pmcharrison, if you have anybody in mind that you think is especially suitable please let me know. I have already sent off some invitations but I value your input too, of course — and thank you for submitting to JOSS. 😺

[2020-02-08 21:43] kthyng commented on #2070
@ashipunov Thank you for your submission to JOSS. Unfortunately, we cannot accept your submission into review as it currently stands. Some of the problems include:

* Your repository contains a series of scripts instead of a software package (here is a suggested resource to learn more about good packaging practices in R: http://r-pkgs.had.co.nz/)
* The code is spread across several repositories, m

[2020-02-08 21:43] kthyng commented on #2070
@whedon reject

[2020-02-08 21:43] whedon commented on #2070
Paper rejected.

[2020-02-08 21:43] #2070 closed

[2020-02-08 21:55] kyleniemeyer commented on #2084
Hi @roshansamuel, any suggestions for reviewers from our list (mentioned at the top) would be appreciated; otherwise, I will look for some shortly.

Also, could you edit your article to remove the leading `https://doi.org/` from the DOI entries for each reference?

[2020-02-09 00:11] labarba commented on #1555
@whedon generate pdf

[2020-02-09 00:11] whedon commented on #1555
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01555/joss.01555/10.21105.joss.01555.pdf)

[2020-02-09 00:26] labarba commented on #1555
Please merge https://github.com/FEST3D/FEST-3D/pull/11 which provides small typo fixes.

Then, you need to do these final steps:

 [ ] Please make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo (or a similar service)
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match

[2020-02-09 00:32] brandondube commented on #2073
👍 for the nontechnical topics.  For the gain issue -- perhaps you could add a 'feasibility' test that can ensure a network is not divergent (within reason).

[2020-02-09 00:46] titipata commented on #1979
Thanks @kthyng! And thank you so much @majensen, @tleonardi, @tleonardi for editing our submission.

tag @daniel-acuna @koerding here!

[2020-02-09 01:10] labarba commented on #1989
👋 @story645 — It looks like you haven't gotten a start in reviewing this software? We have progress with the second reviewer (Thomas), so I encourage you to come have look now, while the authors may start their revisions.

[2020-02-09 03:33] ashipunov commented on #2070
Thank you for the review.

AS

вс, 9 февр. 2020 г. в 05:43, Kristen Thyng <notifications@github.com>:

[2020-02-09 07:25] karthik commented on #1816
@kthyng Yikes, sorry I forget about Zenodo and versions. doh.

[2020-02-09 10:18] csoneson commented on #2026
@whedon generate pdf

[2020-02-09 10:18] whedon commented on #2026
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02026/joss.02026/10.21105.joss.02026.pdf)

[2020-02-09 10:33] oliviaguest commented on #2087
@whedon add @Cognitive-Modeller as reviewer

[2020-02-09 10:33] whedon commented on #2087
OK, @Cognitive-Modeller is now a reviewer

[2020-02-09 10:38] csoneson commented on #2026
@whedon check references

[2020-02-09 10:38] whedon commented on #2026
[code]

[2020-02-09 12:28] csoneson commented on #2026
👋 @shalinshah1993 - I have gone through your manuscript and sent a few suggestions in a PR. Could you please check, merge and generate a new proof here with `@whedon generate pdf`?

Next, please:
- [ ] check that the version information is consistently reported and report the version back here
- [ ] create a tagged release
- [ ] generate a zenodo archive
- [ ] make sure that the title and authors

[2020-02-09 12:30] csoneson commented on #1992
I have sent three follow-up emails to @floux but not received any reply. At this point, I will therefore start looking for a replacement reviewer for this submission.

[2020-02-09 12:51] csoneson commented on #1992
👋 @greglandrum - would you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)?

Cocktail Shaker is a python package for exploring, expanding, and synthesizing chemical peptide data, operating within the RDKit platform.

Software: https://github.com/Sulstice/cocktail-shaker
Short accompanying paper: https://github.com/openjournals/joss-papers/blob/joss.01992/j

[2020-02-09 13:00] gradvohl commented on #1815
From my side is also ok. Congrats.

[2020-02-09 13:56] shalinshah1993 commented on #2026
Dear @csoneson you said you sent a few suggestions in PR. I'm sorry where did you send it?

- I created a release v1.0.0 https://github.com/shalinshah1993/temporalDNAbarcodes/releases/
- I have also enabled zendo integration for the repo. DOI: 10.5281/zenodo.3660411
- I have edited the README of the repo to make it more clear which papers to cite.

[2020-02-09 13:58] csoneson commented on #2026
Oops, sorry, forgot to press send...should be there now.

[2020-02-09 13:59] csoneson commented on #2026
For the Zenodo archive, please make sure that the title and author list are identical to those of the paper

[2020-02-09 14:05] shalinshah1993 commented on #2026
Oh great, I accepted your PR. Thank you for those edits.

I think the authors' names and paper names should match now.
https://zenodo.org/record/3660411#.XkARhxNKjVo

[2020-02-09 14:06] jayten commented on #1555
I have released the reviewed FEST-3D software as a new version with tag [v1.1](https://github.com/FEST3D/FEST-3D/releases/tag/v1.1) and archived the same on Zenodo with DOI: [10.5281/zenodo.3660408 ](https://zenodo.org/record/3660408).

[2020-02-09 14:09] csoneson commented on #2026
@whedon generate pdf

[2020-02-09 14:09] whedon commented on #2026
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02026/joss.02026/10.21105.joss.02026.pdf)

[2020-02-09 14:12] csoneson commented on #2026
@whedon set 10.5281/zenodo.3660411 as archive

[2020-02-09 14:12] whedon commented on #2026
OK. <a href="https://doi.org/10.5281/zenodo.3660411" target="_blank">10.5281/zenodo.3660411</a> is the archive.

[2020-02-09 14:12] csoneson commented on #2026
@whedon set 1.0.0 as version

[2020-02-09 14:12] whedon commented on #2026
OK. 1.0.0 is the version.

[2020-02-09 14:13] csoneson commented on #2026
@whedon accept

[2020-02-09 14:13] whedon commented on #2026
[code]

[2020-02-09 14:13] whedon commented on #2026
[code]

[2020-02-09 14:13] whedon commented on #2026
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1285

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1285, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-09 14:14] csoneson commented on #2026
@openjournals/joss-eics - I believe this paper is ready to be accepted!

[2020-02-09 14:15] csoneson commented on #2026
@shalinshah1993 - I think this all looks good. I've handed it over to the EiCs for the final check and acceptance.

[2020-02-09 14:30] shalinshah1993 commented on #2026
Thank you very much @csoneson for all your help and edits. Also, thank you @SirSharpest @lbugnon @RealPolitiX for your comments and feedback.

I think overall the `Extemp` package and GitHub repo look a lot more professional and clean. I'm happy that I submitted it to JOSS for peer-review.

[2020-02-09 14:34] JoshuaSteer commented on #2060
@Kevin-Mattheus-Moerman Thanks for all the comments, all great suggestions to improve ampscan.

Quick Q on testing, we've got our whole package linked up to travis CI (https://travis-ci.org/abel-research/ampscan), so I guess you are referring to enabling for someone to run these tests locally on install as well?

Thanks!

[2020-02-09 15:15] JoshuaSteer commented on #2060
@whedon check references

[2020-02-09 15:15] torressa commented on #1655
Sorted!
1. Updated the pypi package (bumped to 0.0.10) so that it would automatically install dependencies.
2. Corrected mistakes in doc examples. Also translated airport example to use PuLP instead of gurobipy.
3. Fixed! (Together with all the other links that weren't working)

[2020-02-09 15:15] whedon commented on #2060
[code]

[2020-02-09 16:52] Akash-Nag commented on #1815
@rreinecke @gradvohl @drvinceknight Thanks.

On Sun, 9 Feb 2020, 18:30 André Leon S. Gradvohl, <notifications@github.com>
wrote:

[2020-02-09 17:11] kthyng commented on #2026
Everything looks great! You all made my job very easy!

[2020-02-09 17:11] kthyng commented on #2026
@whedon accept deposit=true

[2020-02-09 17:11] whedon commented on #2026
[code]

[2020-02-09 17:12] whedon commented on #2026
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1226554452640923648) 👈 🐦🐦🐦

[2020-02-09 17:12] whedon commented on #2026
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1286
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02026](https://doi.org/10.21105/joss.02026)
2. If everything looks g

[2020-02-09 17:15] kthyng commented on #2070
@ashipunov Just want to correct my final note from before. Rather than saying to start with a pre-review issue for discussion, I should have said that you can start with a pre-submission inquiry, as mentioned on https://joss.theoj.org/about#submitting. You can start one with this link when you're ready: https://github.com/openjournals/joss/issues/new?title=Pre-submission%20enquiry

[2020-02-09 17:18] kthyng commented on #2026
Congratulations to @shalinshah1993 on your new publication! Thanks to @csoneson for editing and to @lbugnon, @SirSharpest, and @RealPolitiX for reviewing — we relied on your time and expertise!

[2020-02-09 17:18] #2026 closed

[2020-02-09 17:18] whedon commented on #2026
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02026/status.svg)](https://doi.org/10.21105/joss.02026)

**We need your help!**

Journal of Open Source Softwa

[2020-02-09 17:21] ashipunov commented on #2070
OK, thank you.

AS

пн, 10 февр. 2020 г. в 01:15, Kristen Thyng <notifications@github.com>:

[2020-02-09 17:26] Kevin-Mattheus-Moerman commented on #2060
@whedon generate pdf

[2020-02-09 17:26] whedon commented on #2060
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02060/joss.02060/10.21105.joss.02060.pdf)

[2020-02-09 17:31] Kevin-Mattheus-Moerman commented on #2060
@JoshuaSteer

Apologies. Missed that. That is fine. I ticked the automated tests box.

[2020-02-09 17:45] JoshuaSteer commented on #2060
@Kevin-Mattheus-Moerman

No worries, it wasn't immediately obvious on the docs/repo that we had an automated testing package, so I've edited that now.

Contribution guidelines, code of conduct, typos, acknowledged contributors, DOIs have all been changed as requested.

Great recommendations! We had planned to add in a HC smoothing algorithm (as you say, normal issues of volume loss with standard l

[2020-02-09 18:41] djmitche commented on #1974
I had a look through the repo and I'm comfortable reviewing this.

[2020-02-09 18:49] ajgates42 commented on #1609
@kthyng @madvn
The authors have addressed most of my concerns.  Should be a good package for applications of information theory.

[2020-02-09 19:18] klho commented on #1906
Thanks, @pitsianis . Are there any other concerns?

[2020-02-09 19:38] wjakethompson commented on #1941
I have completed my initial review. Overall, it looks like great package! A summary of why some boxes have not been checked:

### Acceptance blockers
* **Example usage**: See cddesja/profileR#28.
* **Automated tests**: See cddesja/profileR#29.
* **Community guidelines**: See cddesja/profileR#30.

### Other issues
* **License**: A license is included, conflicts with the license listed in the DESCRI

[2020-02-09 19:48] castelao commented on #1985
@jessicaaustin and @evanleeturner, thank you for accepting to review my submission.

@kthyng, I do appreciate your effort and time to keep this review moving forward considering this pre-OSM busy times. Thanks!

@gmaze and @seagrinch, I would be very much interested in hearing any comments or questions that you might have. Please feel free to contact me by opening an issue in the [CoTeDe repositor

[2020-02-09 22:57] DavidLitwin commented on #1935
@kthyng and @kbarnhart I have created an archive of the latest landlab release (2.0.0b5) here:

 http://doi.org/10.5281/zenodo.3660698

Please let me know if there are any issues with this and I will try to resolve them.

[2020-02-09 23:26] jedbrown commented on #2086
Thanks for your submission. In reading the paper and checking the code, I'm concerned that the implementation strategy here is highly suboptimal, and should really be improved if it is to be widely used. At its core, the straightforward use of six nested loops to compute differences between values at every pair of points in a 3D grid is similar to that of using naive loops for matrix-matrix produc

[2020-02-09 23:46] labarba commented on #1555
@whedon set v1.1 as version

[2020-02-09 23:46] whedon commented on #1555
OK. v1.1 is the version.

[2020-02-09 23:47] labarba commented on #1555
@whedon set 10.5281/zenodo.3660408 as archive

[2020-02-09 23:47] whedon commented on #1555
OK. <a href="https://doi.org/10.5281/zenodo.3660408" target="_blank">10.5281/zenodo.3660408</a> is the archive.

[2020-02-10 00:11] madvn commented on #1609
Thank you, @ajgates42 , for the very helpful feedback!

[2020-02-10 00:11] labarba commented on #1555
@whedon accept

[2020-02-10 00:11] whedon commented on #1555
[code]

[2020-02-10 00:12] whedon commented on #1555
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1287

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1287, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-10 00:12] whedon commented on #1555
[code]

[2020-02-10 00:19] labarba commented on #1555
👋 @jayten — Please go over your reference list and add DOIs where available. Use the `doi` field and put just the identifier, not the full URL. Also, check the capitalization of journal titles, and acronyms like AIAA (appears as Aiaa in places). If you need to protect caps, use`{}`.

[2020-02-10 03:47] drwaseemsheikh commented on #2016
Hi @akeshavan,
We haven't heard from the second reviewer for over a month. If the second reviewer is not going to review it, could you please assign a different reviewer? Thanks.

[2020-02-10 06:09] jayten commented on #1555
I have added `doi` field for each bib entry and also removed the unused entries from the paper.bib file. Additionally, I included {} in the `booktitle` field to make sure that AIAA acroynms appears correctly.

[2020-02-10 10:05] Kevin-Mattheus-Moerman commented on #2060
@JoshuaSteer thanks for working on my suggestions. In relation to testing perhaps instruct users to set up Jupyter and run the notebooks. Is this how you intend users to run the tutorials? Is this written somewhere already?

Some minor bits:
- [ ] Check typos in the README, see these: Licesnse, founde, and here here
- [ ] I suggest linking to your contributing guidelines in the README
- [ ] A supe

[2020-02-10 10:12] albansouche commented on #2081
@whedon generate pdf

[2020-02-10 10:12] whedon commented on #2081
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02081/joss.02081/10.21105.joss.02081.pdf)

[2020-02-10 10:14] albansouche commented on #2081
@Kevin-Mattheus-Moerman Thank you for handling our submission. I have added the DOIs of the references in the new proof.

[2020-02-10 10:42] korsbo commented on #2053
I had a look through the list of reviewers and made a list of potential reviewers. I ordered the list roughly by relevance, most relevant first.

ChrisRackauckas
matbesancon
dpsanders
Datseris
avik-pal
dawbarton
kavir1698
malmaud
jingpengw
juliohm

[2020-02-10 10:53] korsbo commented on #2053
I should disclose that I have collaborated with ChrisRackauckas on DiffEqBiological.jl. I'm uncertain whether that would constitute a conflict of interest. He is, however, the one on the list who I think would know Latexify the best.

[2020-02-10 10:54] chennachaos commented on #2081
Hi @Kevin-Mattheus-Moerman. Thanks for the opportunity.
This looks very interesting! Count me in as a reviewer.

[2020-02-10 12:13] Kevin-Mattheus-Moerman commented on #2081
@whedon add @chennachaos as reviewer

[2020-02-10 12:13] whedon commented on #2081
OK, @chennachaos is now a reviewer

[2020-02-10 12:44] JaroslavHron commented on #2081
Hi @Kevin-Mattheus-Moerman, I will be happy to review this submission.

[2020-02-10 13:01] roshansamuel commented on #2084
Hi, @kyleniemeyer , the leading ``https://doi.org/`` have been removed from all the DOI entries. The missing DOI has been added as well.

From the list of reviewers, harpolea, mancellin, and dlagrava seem to have good overlap with the target audience of the solver. Hence I would like to suggest them as potential reviewers.

[2020-02-10 13:02] roshansamuel commented on #2084
@whedon check references

[2020-02-10 13:02] whedon commented on #2084
[code]

[2020-02-10 13:06] labarba commented on #1555
@whedon accept

[2020-02-10 13:06] whedon commented on #1555
[code]

[2020-02-10 13:06] whedon commented on #1555
[code]

[2020-02-10 13:06] whedon commented on #1555
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1288

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1288, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-10 13:07] jmansour commented on #1797
Hi @leouieda

Ok, we have a new release out. Version 2.9.0b:

https://github.com/underworldcode/underworld2/releases/tag/v2.9.0b

Still waiting on Zenodo to generate the new corresponding DOI, but it should show up shortly here:
https://doi.org/10.5281/zenodo.1436039

Affiliations and ORCIDs have been confirmed. Note that as discussed earlier, one author has requested not to have an associated ORC

[2020-02-10 13:08] labarba commented on #1555
@whedon accept deposit=true

[2020-02-10 13:08] whedon commented on #1555
[code]

[2020-02-10 13:09] whedon commented on #1555
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1226855634462789634) 👈 🐦🐦🐦

[2020-02-10 13:09] whedon commented on #1555
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1289
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01555](https://doi.org/10.21105/joss.01555)
2. If everything looks g

[2020-02-10 13:09] labarba commented on #1555
Congratulations, @jayten, your JOSS article is published! 🚀

Huge thanks to our reviewers: @hariradh, @rouson — we truly appreciate your contribution to this adventure in scholarly publishing 🙏

[2020-02-10 13:09] #1555 closed

[2020-02-10 13:09] whedon commented on #1555
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01555/status.svg)](https://doi.org/10.21105/joss.01555)

**We need your help!**

Journal of Open Source Softwa

[2020-02-10 13:24] oliviaguest commented on #2087
@whedon add @DivyaSeernani as reviewer

[2020-02-10 13:24] whedon commented on #2087
OK, @DivyaSeernani is now a reviewer

[2020-02-10 13:25] oliviaguest commented on #2087
@whedon start review

[2020-02-10 13:25] whedon opened #2088 "[REVIEW]: psychTestR: An R package for designing and conducting behavioural psychological experiments"
**Submitting author:** @pmcharrison (<a href="http://orcid.org/0000-0002-9851-9462">Peter Harrison</a>)
**Repository:** <a href="https://github.com/pmcharrison/psychTestR" target ="_blank">https://github.com/pmcharrison/psychTestR</a>
**Version:** v2.19.0
**Editor:** @oliviaguest
**Reviewer:** @Cognitive-Modeller, @DivyaSeernani
**Archive:** <a href="https://doi.org/10.5281/zenodo.1415355" target=

[2020-02-10 13:25] whedon commented on #2087
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2088.

[2020-02-10 13:25] #2087 closed

[2020-02-10 13:25] whedon commented on #2088
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Cognitive-Modeller, @DivyaSeernani it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, yo

[2020-02-10 13:25] VivianePons commented on #1988
No problem

[2020-02-10 13:25] whedon commented on #2088
[code]

[2020-02-10 13:25] danielskatz commented on #2068
👋 @robqiao - as mentioned by @kthyng, I'm going to reject this as incomplete at this time. Normally, we would welcome a later submission of a more complete version, but given the small amount of code in your submission and the potential that it would be considered minor or a wrapper, you might want to first make a pre-submission inquiry, using https://github.com/openjournals/joss/issues/new?title=

[2020-02-10 13:25] whedon commented on #2088
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02088/joss.02088/10.21105.joss.02088.pdf)

[2020-02-10 13:26] danielskatz commented on #2068
@whedon reject

[2020-02-10 13:26] whedon commented on #2068
Paper rejected.

[2020-02-10 13:26] #2068 closed

[2020-02-10 13:26] oliviaguest commented on #2087
:wave: @Cognitive-Modeller @DivyaSeernani — thank you both for accepting to review this! Please go to #2088 to start the process. :smile_cat:

[2020-02-10 13:26] danielskatz commented on #2069
@whedon assign @marcosvital as editor

[2020-02-10 13:26] whedon commented on #2069
OK, the editor is @marcosvital

[2020-02-10 13:27] VivianePons commented on #2065
@whedon assign @odow as reviewer

[2020-02-10 13:27] whedon commented on #2065
OK, @odow is now a reviewer

[2020-02-10 13:27] danielskatz commented on #2069
👋 @marcosvital - note that you can issue this whedon command as well - there's no need to wait for the AEiC on duty to do it, once you agree that you will edit.

[2020-02-10 13:30] danielskatz commented on #2078
👋 @xuanxu - can you edit this submission?

[2020-02-10 13:30] oliviaguest commented on #2088
@Cognitive-Modeller, @DivyaSeernani, @pmcharrison thank you all again for submitting/accepting to review this. Start ideally by reading the checklist at the very top of this page and then looking at the code and documentation. :blush:

If you need to discuss things that are very specific to the code of this submission feel free to open an issue in the [code's repo itself](https://github.com/pmchar

[2020-02-10 13:31] danielskatz commented on #2085
👋 @cMadan - just a quick ping at the start of a new week and a new AEiC on duty...

[2020-02-10 13:32] danielskatz commented on #1988
Thanks!

[2020-02-10 13:32] danielskatz commented on #1988
@whedon assign @VivianePons as editor

[2020-02-10 13:32] whedon commented on #1988
OK, the editor is @VivianePons

[2020-02-10 13:33] danielskatz commented on #1988
👋 @VivianePons - note that you can issue the command to whedon to assign a submission to yourself as well, you don't need to wait for an AEiC to do it :)

[2020-02-10 13:35] VivianePons commented on #1988
Noted for next time!

[2020-02-10 13:36] danielskatz commented on #1716
👋 @jedbrown - I think this is waiting on your responses to changes, but am not 100% certain. As the editor, can you check the overall status of this review and let me know where things are?

[2020-02-10 13:37] danielskatz commented on #2029
👋 @kbarnhart - It doesn't seem like anything has happened here in 3 1/2 weeks...  Can you provide a status update on this review?

[2020-02-10 13:39] danielskatz commented on #2017
@corybrunson - it's now been about 3 weeks - can you update us all on the status of this submission/review?

[2020-02-10 13:40] danielskatz commented on #1929
👋 @meg-simula - it seems like another reviewer is needed to move this into the review stage?

[2020-02-10 13:41] danielskatz commented on #1785
👋 @BIPL-HORIE - we will be forced to reject this submission unless you respond this week

[2020-02-10 13:43] danielskatz commented on #1785
I have also emailed @BIPL-HORIE now

[2020-02-10 13:46] danielskatz commented on #720
@offray & @kthyng - since we don't have any knowledge on when Scopus indexing will happen, I suggest that we mark this as withdrawn.  It's now been over 18 months since the original submission and holding this here isn't fair to anyone.

[2020-02-10 13:48] xuanxu commented on #2078
@whedon assign @xuanxu as editor

[2020-02-10 13:48] whedon commented on #2078
OK, the editor is @xuanxu

[2020-02-10 14:27] kthyng commented on #720
@danielskatz Yes that makes sense.

@offray ok?

[2020-02-10 14:30] kthyng commented on #1935
@whedon set v2.0.0b5 as version

[2020-02-10 14:30] whedon commented on #1935
OK. v2.0.0b5 is the version.

[2020-02-10 14:31] kthyng commented on #1935
@whedon set 10.5281/zenodo.3660698 as archive

[2020-02-10 14:31] whedon commented on #1935
OK. <a href="https://doi.org/10.5281/zenodo.3660698" target="_blank">10.5281/zenodo.3660698</a> is the archive.

[2020-02-10 14:31] kthyng commented on #1935
@whedon accept

[2020-02-10 14:31] whedon commented on #1935
[code]

[2020-02-10 14:32] whedon commented on #1935
[code]

[2020-02-10 14:32] whedon commented on #1935
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1290

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1290, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-10 14:36] kthyng commented on #1935
@whedon accept deposit=true

[2020-02-10 14:36] whedon commented on #1935
[code]

[2020-02-10 14:37] whedon commented on #1935
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1226877967483228161) 👈 🐦🐦🐦

[2020-02-10 14:37] whedon commented on #1935
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1291
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01935](https://doi.org/10.21105/joss.01935)
2. If everything looks g

[2020-02-10 14:39] kthyng commented on #1935
Congratulations to @DavidLitwin on your new publication! Thanks to reviewers @dvalters and @rreinecke for your time and expertise.

[2020-02-10 14:39] #1935 closed

[2020-02-10 14:39] whedon commented on #1935
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01935/status.svg)](https://doi.org/10.21105/joss.01935)

**We need your help!**

Journal of Open Source Softwa

[2020-02-10 14:52] arfon commented on #720
👍 I support this decision.

[2020-02-10 14:53] kthyng commented on #1956
@oxinabox Is the metadata updated when you look at it online? It still isn't for me. Maybe this will help? https://github.com/geodynamics/best_practices/blob/master/ZenodoBestPractices.md

[2020-02-10 15:09] corybrunson commented on #2017
@danielskatz thanks for the prompt. I believe i've addressed the first reviewer's concerns, and i should be able to address any from the second reviewer within a few days' time. (I'm traveling but will only be a few days at a time without wifi.)

Incidentally, i've almost finished an upgrade on a new branch that i didn't think i'd be able to get to for some time (alternative curves for plotting fl

[2020-02-10 15:16] danielskatz commented on #2017
@corybrunson - the editor is @akeshavan who should be able to answer your question - I'm the Associated Editor in Chief on duty this week, and part of my job is to check on anything stale, and get it moving again.

[2020-02-10 15:24] kbarnhart commented on #2029
Thanks for the reminder @danielskatz.

@frengers, @stoor001, @khaors could you provide an estimate for when you expect to complete your reviews? We are nearing the end of the 2-4 week window in which we typically try and complete JOSS reviews.

Please let me know if you have any questions or concerns.

[2020-02-10 15:25] joshday commented on #1816
@kthyng The version I'd like to use is is v1.0.3 and the DOI is `10.5281/zenodo.3659245`.  Let me know if there's anything else I can do to help!

A big thank you to @ahwillia and @pkofod for reviewing and @karthik for keeping this thing moving along!

[2020-02-10 15:32] jayten commented on #1555
On behalf of the FEST-3D team, I would like to thank @hariradh and @rouson for their time and effort to help us improve our work.

Also, a big thanks to @whedon and @labarba, for providing such a unique platform for publishing our work.

[2020-02-10 15:34] kthyng commented on #1816
@whedon set v1.0.3 as version

[2020-02-10 15:34] whedon commented on #1816
OK. v1.0.3 is the version.

[2020-02-10 15:34] kthyng commented on #1816
@whedon set 10.5281/zenodo.3659245 as archive

[2020-02-10 15:34] whedon commented on #1816
OK. <a href="https://doi.org/10.5281/zenodo.3659245" target="_blank">10.5281/zenodo.3659245</a> is the archive.

[2020-02-10 15:35] kthyng commented on #1816
@whedon accept

[2020-02-10 15:35] whedon commented on #1816
[code]

[2020-02-10 15:35] whedon commented on #1816
[code]

[2020-02-10 15:35] whedon commented on #1816
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1292

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1292, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-10 15:37] kthyng commented on #1816
@whedon accept deposit=true

[2020-02-10 15:37] whedon commented on #1816
[code]

[2020-02-10 15:38] whedon commented on #1816
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1226893189933654017) 👈 🐦🐦🐦

[2020-02-10 15:38] whedon commented on #1816
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1293
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01816](https://doi.org/10.21105/joss.01816)
2. If everything looks g

[2020-02-10 15:40] kthyng commented on #1816
Congratulations on your new publication to @joshday!! Thank to editor @karthik and to reviewers @pkofod and @ahwillia — without your time and expertise we couldn't have done this!

[2020-02-10 15:40] #1816 closed

[2020-02-10 15:40] whedon commented on #1816
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01816/status.svg)](https://doi.org/10.21105/joss.01816)

**We need your help!**

Journal of Open Source Softwa

[2020-02-10 15:41] AndrewAnnex commented on #2050
@whedon generate pdf

[2020-02-10 15:41] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-10 15:46] Kevin-Mattheus-Moerman commented on #2081
@whedon add @JaroslavHron as reviewer

[2020-02-10 15:46] whedon commented on #2081
OK, @JaroslavHron is now a reviewer

[2020-02-10 15:46] Kevin-Mattheus-Moerman commented on #2081
@whedon start review

[2020-02-10 15:46] whedon opened #2089 "[REVIEW]: turtleFSI: A Robust and Monolithic FEniCS-based Fluid-Structure Interaction Solver"
**Submitting author:** @albansouche (<a href="http://orcid.org/0000-0001-7547-7979">Alban Souche</a>)
**Repository:** <a href="https://github.com/KVSlab/turtleFSI.git" target ="_blank">https://github.com/KVSlab/turtleFSI.git</a>
**Version:** v1.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @chennachaos, @JaroslavHron
**Archive:** <a href="https://doi.org/10.5281/zenodo.3895443" target="_bla

[2020-02-10 15:47] whedon commented on #2081
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2089.

[2020-02-10 15:47] #2081 closed

[2020-02-10 15:47] whedon commented on #2089
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nathanquinlan, @chennachaos, @JaroslavHron it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a revi

[2020-02-10 15:47] whedon commented on #2089
[code]

[2020-02-10 15:47] whedon commented on #2089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02089/joss.02089/10.21105.joss.02089.pdf)

[2020-02-10 15:52] Kevin-Mattheus-Moerman commented on #2089
@nathanquinlan, @chennachaos, @JaroslavHron, this is where the review takes place.

The instructions and checkboxes at the top will guide you through the review. As a reviewer  you can leave comments on this work here. For larger issues we encourage to open an issue on the [project repository](https://github.com/KVSlab/turtleFSI.git) and to link to it here in a comment.

Let me know if you have qu

[2020-02-10 16:36] drvinceknight commented on #1815
@whedon generate proof

[2020-02-10 16:36] whedon commented on #1815
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-10 16:36] drvinceknight commented on #2013
@whedon generate proof

[2020-02-10 16:36] whedon commented on #2013
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-10 16:36] drvinceknight commented on #2013
@whedon check references

[2020-02-10 16:37] drvinceknight commented on #1815
@whedon check references

[2020-02-10 16:37] whedon commented on #2013
[code]

[2020-02-10 16:37] arnavs commented on #2065
@whedon assign @pkofod as reviewer

(@VivianePons --- I checked with him on Slack and he was amenable.)

[2020-02-10 16:37] whedon commented on #1815
[code]

[2020-02-10 16:37] whedon commented on #2065
I'm sorry @arnavs, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-02-10 16:38] drvinceknight commented on #1815
@whedon generate pdf

[2020-02-10 16:38] drvinceknight commented on #2013
@whedon generate pdf

[2020-02-10 16:38] whedon commented on #1815
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01815/joss.01815/10.21105.joss.01815.pdf)

[2020-02-10 16:38] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-02-10 16:41] drvinceknight commented on #1815
@Akash-Nag it looks like you are missing two DOIs:

- https://doi.org/10.1109/confluence.2014.6949354 may be missing for title: Survey on techniques used in autonomous maze solving robot
- https://doi.org/10.3758/brm.40.1.353 may be missing for title: Maze Suite 1.0: A complete set of tools to prepare, present, and analyze navigational and spatial cognitive neuroscience experiments

[2020-02-10 16:43] VivianePons commented on #2065
@whedon add @pkofod as reviewer

[2020-02-10 16:43] whedon commented on #2065
OK, @pkofod is now a reviewer

[2020-02-10 16:44] VivianePons commented on #2065
Perfect!

[2020-02-10 16:45] VivianePons commented on #2065
@whedon start review

[2020-02-10 16:45] whedon opened #2090 "[REVIEW]: Expectations.jl: Quick and Accurate Expectation Operators in Julia"
**Submitting author:** @arnavs (<a href="http://orcid.org/0000-0003-0074-7908">Arnav Sood</a>)
**Repository:** <a href="https://github.com/QuantEcon/Expectations.jl" target ="_blank">https://github.com/QuantEcon/Expectations.jl</a>
**Version:** v1.2.0
**Editor:** @VivianePons
**Reviewers:** @odow, @oxinabox
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/f7659b88b54130ce9

[2020-02-10 16:45] whedon commented on #2065
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2090.

[2020-02-10 16:45] #2065 closed

[2020-02-10 16:45] whedon commented on #2090
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @odow, @pkofod it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2020-02-10 16:45] whedon commented on #2090
[code]

[2020-02-10 16:45] whedon commented on #2090
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02090/joss.02090/10.21105.joss.02090.pdf)

[2020-02-10 16:47] drvinceknight commented on #2013
@iagolemos1 some minor typos: https://github.com/iagolemos1/thresholdmodeling/pull/7

[2020-02-10 16:50] iagolemos1 commented on #2013
Merged the requests! Thanks @drvinceknight

[2020-02-10 16:55] iagolemos1 commented on #2013
@drvinceknight Now I have to archive the repository in Zenodo, right?

[2020-02-10 17:17] drvinceknight commented on #2013
@whedon generate pdf

[2020-02-10 17:18] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-02-10 17:20] drvinceknight commented on #2013
That's right: and pleas report the DOI in the review thread. Could you make sure the Zenodo deposit has the correct metadata (title and author list).

Can you also confirm the version of the software please?

[2020-02-10 17:21] iagolemos1 commented on #2013
Version 0.0.1.

[2020-02-10 17:46] iagolemos1 commented on #2013
DOI in Zenodo:
10.5281/zenodo.3661338

[2020-02-10 17:48] drvinceknight commented on #2013
@whedon set 10.5281/zenodo.3661338 as archive

[2020-02-10 17:48] whedon commented on #2013
OK. <a href="https://doi.org/10.5281/zenodo.3661338" target="_blank">10.5281/zenodo.3661338</a> is the archive.

[2020-02-10 17:50] drvinceknight commented on #2013
@openjournals/joss-eics this paper is now ready to be accepted :) 👍 🎆

Thank you @bahung and @kellieotto  for your time and effort reviewing the work. :+1:

[2020-02-10 17:52] danielskatz commented on #2013
@whedon accept

[2020-02-10 17:52] whedon commented on #2013
[code]

[2020-02-10 17:52] whedon commented on #2013
[code]

[2020-02-10 17:52] whedon commented on #2013
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1294

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1294, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-10 18:12] arokem commented on #1785
+1 for rejection.

I emailed the author 8 days ago to ask when the revisions will be completed and received a response that this "will take time".

When asked to post here for clarification and to notify the reviewers, the author did not respond, or clarify here.

[2020-02-10 18:23] fabian-s commented on #2079
This seems fine -- one minor nitpick at PhilBoileau/scPCA/issues/36 regarding a potentially missing comparison to existing alternative approaches, but that is debatable...

[2020-02-10 18:26] danielskatz commented on #2013
👋 @iagolemos1  - please merge https://github.com/iagolemos1/thresholdmodeling/pull/8 or let me know what parts of it you disagree with.  Also, there is at least one case error in the .bib file, a pareto that should be {P}areto.  Please check the bib entries as built in the pdf carefully, and make any other needed changes as well.

[2020-02-10 18:36] iagolemos1 commented on #2013
Hi @danielskatz. I merged the changes and made the changes in the .bib file. Thanks!

[2020-02-10 18:37] danielskatz commented on #2013
@whedon generate pdf

[2020-02-10 18:38] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-02-10 18:39] danielskatz commented on #2013
@whedon accept

[2020-02-10 18:39] whedon commented on #2013
[code]

[2020-02-10 18:39] whedon commented on #2013
[code]

[2020-02-10 18:40] whedon commented on #2013
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1295

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1295, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-10 18:46] danielskatz commented on #2013
@whedon accept deposit=true

[2020-02-10 18:46] whedon commented on #2013
[code]

[2020-02-10 18:47] whedon commented on #2013
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1226940677067616257) 👈 🐦🐦🐦

[2020-02-10 18:47] whedon commented on #2013
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1296
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02013](https://doi.org/10.21105/joss.02013)
2. If everything looks g

[2020-02-10 18:51] danielskatz commented on #2013
Thanks to @bahung, @kellieotto for reviewing!
And @drvinceknight for editing!
And congratulations to @iagolemos1 and co-authors!

[2020-02-10 18:51] #2013 closed

[2020-02-10 18:51] whedon commented on #2013
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02013/status.svg)](https://doi.org/10.21105/joss.02013)

**We need your help!**

Journal of Open Source Softwa

[2020-02-10 19:06] iagolemos1 commented on #2013
@danielskatz I tryied to reach the paper using the DOI and it's appearing "File not foud". It's because the DOI isn't ready yet?
![image](https://user-images.githubusercontent.com/57317828/74181061-527f6800-4c1f-11ea-99f8-0f5a7b46f310.png)

[2020-02-10 19:25] offray commented on #720
I support this decision also.

It's a shame that my University decided to only value particular indexes as the only ones required for quality per review. Also the long and painful process for me, of having a written permission to apply here and seeing how the new PhD director took back decisions made by his predecessor.

Thanks for the work with my other approved paper and with this one and I hope

[2020-02-10 19:33] ybayle commented on #1262
@kthyng @Kevin-Mattheus-Moerman @r-barnes @patrikhuber Thank you very much for your help!

[2020-02-10 19:35] danielskatz commented on #720
@whedon withdraw

[2020-02-10 19:35] whedon commented on #720
Paper withdrawn.

[2020-02-10 19:35] #720 closed

[2020-02-10 19:37] kbarnhart commented on #1969
I wanted to check in to keep this review moving along.

I see that there are open issues in the main repository made by @brendonhall and @JesperDramsch. Thank you for making issues there.

This ping is meant as a reminder to the reviewers to make any additional issues that stand in the way of completing the review checklist, and as a reminder to the authors (tagging @rgmyr in lieu of all authors)

[2020-02-10 19:39] danielskatz commented on #2013
The link https://doi.org/10.21105/joss.02013 works fine for me (and did before I closed the issue) - it might just be an issue of how new DOIs resolve and how this information is distributed.  Please try again in a little bit and if it continue to not work for you, let us know.

As I look at this more carefully, the DOI is resolving for you, and bringing you to the right page.  The problem you are

[2020-02-10 19:40] kbarnhart commented on #1978
I wanted to check in to keep this review moving along.

I see that there are open issues in the main repository made by @cmillion, Thank you for making issues there.

This ping is meant as a reminder to the reviewers to make any additional issues that stand in the way of completing the review checklist, and as a reminder to @nkarasiak to address issues.

Thanks again to all for contributing to the

[2020-02-10 19:42] whedon opened #2091 "[PRE REVIEW]: CarrierCapture.jl: Anharmonic Carrier Capture"
**Submitting author:** @frssp (<a href="http://orcid.org/0000-0001-5072-6801">Sunghyun Kim</a>)
**Repository:** <a href="https://github.com/WMD-group/CarrierCapture.jl" target ="_blank">https://github.com/WMD-group/CarrierCapture.jl</a>
**Version:** v0.1
**Editor:** @danielskatz
**Reviewers:** @utf, @taylor-a-barnes
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting y

[2020-02-10 19:42] whedon commented on #2091
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-10 19:42] whedon commented on #2091
[code]

[2020-02-10 19:42] whedon commented on #2091
[code]

[2020-02-10 19:42] whedon opened #2092 "[PRE REVIEW]: Visions: An Open-Source Library for Semantic Data"
**Submitting author:** @sbrugman (<a href="http://orcid.org/0000-0001-9866-7767">Simon Brugman</a>)
**Repository:** <a href="https://github.com/dylan-profiler/visions" target ="_blank">https://github.com/dylan-profiler/visions</a>
**Version:** v0.2.2
**Editor:** @mjsottile
**Reviewers:** @1313e, @fccoelho
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting your paper t

[2020-02-10 19:42] whedon commented on #2092
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-10 19:42] whedon commented on #2091
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02091/joss.02091/10.21105.joss.02091.pdf)

[2020-02-10 19:42] whedon commented on #2092
[code]

[2020-02-10 19:43] whedon commented on #2092
[code]

[2020-02-10 19:43] whedon commented on #2092
PDF failed to compile for issue #2092 with the following error:

 Error producing PDF.
! Unable to load picture or PDF file '/tmp/tex2pdf.-62463a8dc5eb813c/403e2020ef
d7c89668a95a5c8d4cbfb2c5ed0399.png'.
<to be read again>
                   }
l.415 ...2020efd7c89668a95a5c8d4cbfb2c5ed0399.png}

Looks like we failed to compile the PDF

[2020-02-10 19:49] danielskatz commented on #2092
👋 @openjournals/dev - Can whedon compile papers with figures that are remote?  If so, any idea what the problem is here?

[2020-02-10 19:50] patrikhuber commented on #1262
@ybayle Congratulations on the acceptance!

[2020-02-10 19:51] iagolemos1 commented on #2013
Ok, thanks!

[2020-02-10 19:54] danielskatz commented on #2091
👋 @frssp - there seem to be some DOIs missing in your bib file - please add any that are correct (noting that whedon's reference check summary sometimes makes mistakes)

[2020-02-10 19:55] cMadan commented on #1847
@hvgazula, please do suggest additional reviewers! Preferably don't tag them directly, ideally--just state  the Github handles and I'll invite them to be reviewers.

[2020-02-10 19:58] sbrugman commented on #2092
@whedon generate pdf

[2020-02-10 19:58] whedon commented on #2092
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02092/joss.02092/10.21105.joss.02092.pdf)

[2020-02-10 20:01] sbrugman commented on #2092
@whedon check references

[2020-02-10 20:02] whedon commented on #2092
[code]

[2020-02-10 20:04] sbrugman commented on #2092
@danielskatz The figure pointed to the branch we used for development. Moreover, the numpy reference was missing it's DOI. I've fixed both issues.

[2020-02-10 20:21] JesperDramsch commented on #1969
I can proceed with the functional review once the documentation issues are addressed. I don't have time testing the full functionality by sifting through raw do strings I'm afraid.

[2020-02-10 20:30] danielskatz commented on #2092
the labels aren't very well-generated - sorry - I'll change them manually

[2020-02-10 20:33] danielskatz commented on #2092
You also might want to take the time to fix case issues in the references - use {}s as needed to protect case, such as {P}ython.

[2020-02-10 20:35] danielskatz commented on #2092
@whedon invite mjsottile as editor

[2020-02-10 20:35] whedon commented on #2092
@mjsottile has been invited to edit this submission.

[2020-02-10 20:48] jmansour commented on #1797
Ok, seems there was an issue with our `.zenodo.json` .  Fixed now.

DOI:  10.5281/zenodo.3661465

https://zenodo.org/record/3661465

[2020-02-10 20:51] kbarnhart commented on #1969
@JesperDramsch thanks for the comment. It is, of course, reasonable to for you to wait until the issues you identified in rgmyr/corebreakout#11 be addressed before you proceed with the review.

Thank you again for contributing to this review.

[2020-02-10 20:53] HaoZeke commented on #1785
Do we have guidelines on rejection for delayed responses? To be totally fair I am well aware the reviews were not completed in the normal JOSS timeframe either..

[2020-02-10 20:54] sbrugman commented on #2092
@whedon generate pdf

[2020-02-10 20:55] whedon commented on #2092
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02092/joss.02092/10.21105.joss.02092.pdf)

[2020-02-10 20:58] danielskatz commented on #1785
No, we generally try to get all submissions to the acceptable point

[2020-02-10 21:00] jmansour commented on #1797
@whedon generate pdf

[2020-02-10 21:01] whedon commented on #1797
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01797/joss.01797/10.21105.joss.01797.pdf)

[2020-02-10 21:49] akeshavan commented on #1983
Hi @Marcdh3 ! Just wanted to check in on the status of this review. Let me know when have you addressed all the suggestions from the reviewers, and you're ready for another check

[2020-02-10 21:51] danielskatz commented on #1312
@maelle & @MKLau - Has the rOpenSci package now been accepted? I see that the status is 6/approved, but am not sure if there's another step after that.

[2020-02-10 21:52] danielskatz commented on #1740
It's now been 2 more months - is there any news on progress?

[2020-02-10 21:53] kiretd commented on #1958
@whedon generate pdf

[2020-02-10 21:53] kiretd commented on #1958
Just small update to add the figure captions

[2020-02-10 21:53] danielskatz commented on #1766
It's now been a couple more months - is there any news on this?

[2020-02-10 21:53] whedon commented on #1958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01958/joss.01958/10.21105.joss.01958.pdf)

[2020-02-10 21:55] akeshavan commented on #2017
👋  @njtierney - have you had a chance to take a look at this package?

@corybrunson I think I'd wait to merge if it is a major upgrade, because one reviewer has already reviewed the current version's functionality.

[2020-02-10 21:55] danielskatz commented on #1682
👋 @zhuyouliang — We now haven't heard anything from you in about 4 months.  Please let us know what's happening.

[2020-02-10 21:58] akeshavan commented on #2016
👋 hi @martinmodrak and @nmullins -- would you be interested in reviewing this paper for JOSS?

[2020-02-10 21:59] akeshavan commented on #2023
👋 hi @malmaud -- would you be interested in reviewing this paper for JOSS?

[2020-02-10 22:02] danielskatz commented on #1917
👋 @AustinNar - please let us know the status of your updates

[2020-02-10 22:05] danielskatz commented on #1918
👋 @jedbrown - can you update us on where we are and what actions we are waiting for?

[2020-02-10 22:06] danielskatz commented on #1848
👋 @meg-simula - can you help this process move forward?

[2020-02-10 22:07] danielskatz commented on #1835
👋 @kaashif  - any news?

[2020-02-10 22:20] MKLau commented on #1312
Hi @danielskatz ,

It has been accepted. I’m currently finishing the transfer to ROpenSci org and revisions of the manuscript.

[2020-02-10 22:38] alex-konovalov commented on #1835
@danielskatz @VivianePons the package has been submitted for the redistribution with GAP, testing outcomes were reported at https://github.com/gap-system/gap-distribution/pull/101. We are waiting now for the next release of the package to be published, then I will check its compatibility with GAP and other packages, and hopefully it will be suitable for the redisribituion with GAP. This will allow

[2020-02-10 22:50] fcooper8472 commented on #1848
Sorry for the delay on my end - I'll have a revised version that addresses the two outstanding points shortly.

[2020-02-10 23:03] cMadan commented on #2085
@kthyng @danielskatz, I'm happy to serve as editor here!

[2020-02-10 23:03] cMadan commented on #2085
@whedon assign @cMadan as editor

[2020-02-10 23:03] whedon commented on #2085
OK, the editor is @cMadan

[2020-02-10 23:34] nicoguaro commented on #2047
@jedbrown, that sounds like a nice idea. I was planning to add analytic solutions for elasticity, and still plan to, but I think that I could give priority to your suggestion.

[2020-02-10 23:44] nicoguaro commented on #2074
I tried with a fresh install and it worked.

[2020-02-10 23:49] corybrunson commented on #2017
@akeshavan it would be a minor version increment, but, regardless, i don't mind waiting. Thanks!

[2020-02-11 01:07] arfon commented on #1834
@gmorello - could you please merge this PR too? https://github.com/ucl-exoplanets/ExoTETHyS/pull/19 . It adds the AAS information to the JOSS paper.

[2020-02-11 03:19] PhilBoileau commented on #2079
Thanks, @fabian-s. I've added a line that briefly details the results of our comparisons to existing methods.

[2020-02-11 03:19] PhilBoileau commented on #2079
@whedon generate pdf

[2020-02-11 03:20] whedon commented on #2079
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02079/joss.02079/10.21105.joss.02079.pdf)

[2020-02-11 03:54] Akash-Nag commented on #1815
I have now added the 2 missing DOIs to the references.

Thanks,

On 10/02/2020, Vince Knight <notifications@github.com> wrote:

--
Akash Nag
Department of Computer Science
M.U.C. Women's College,
Burdwan 713104, West Bengal, India
Mobile: (+91) 98322-58023
E-mail: nag.akash.cs@gmail.com

[2020-02-11 04:38] akashnag commented on #1815
This is to inform you that I have updated my username (reclaimed my older profile), and I had already informed @arfon that I was going to do so. For the time being, GitHub will automatically redirect my old repository for this review at: https://github.com/Akash-Nag/MDL-Suite to the new repository at: https://github.com/akashnag/MDL-Suite till any new user claims my now-defunct username and create

[2020-02-11 05:52] maelle commented on #1312
Yes it has been accepted. Cc @annakrystalli

[2020-02-11 06:29] hvgazula commented on #1847
@cMadan Here are some: ccraddock, engfranco, george-gifford, kim-carter, AnnaBonkhoff, tjhwhite.

[2020-02-11 06:38] fabian-s commented on #2079
seems fine to me now.

[2020-02-11 06:38] mjsottile commented on #1982
:wave: @agricolab Would you be available to join this review?  One of the existing reviewers went silent and I recall that you said you were busy through January when we initiated the review in December.  Do you have time in your schedule now that January has ended?  If not, no problem - I'll continue searching.

[2020-02-11 06:45] mjsottile commented on #2008
:wave: @dvalters @AnsleyManke @andreas-h Would any of you be available/interested in providing a review for this JOSS submission?  I am currently looking for a reviewer to replace someone who has let me know that they are unable to complete the review.

[2020-02-11 06:48] mjsottile commented on #2092
Sure @danielskatz , I can take this submission.

[2020-02-11 07:04] agricolab commented on #1982
can do, @mjsottile.

[2020-02-11 07:32] benjaminbolling commented on #1942
Hi,

I am rewriting some code and adding in-code explanations which can assist you during the reviewal. I am sorry for taking so much time, but I will let you know when it is ready together with a clear manual and installation routine such that the reviewal will go smoothly. I have also been busy with a lot of work, but I am working on this as much as I can.

Thanks for the patience!

[2020-02-11 08:06] leouieda commented on #1797
Thank you, I'll have a look at it shortly.

[2020-02-11 08:53] pmcharrison commented on #2087
Hi @oliviaguest, thanks very much for finding reviewers so quickly! I was not sure who to suggest myself, but thank you for offering the opportunity.

[2020-02-11 09:51] VivianePons commented on #1988
Ok, I've just put myself up to date with the thread discussion. From what I understand, this package offers a useful (even essential) solution for people who have to use older versions of Spice and an alternative solution to the current implementation in Spice. Am I correct?

My main concern is that it seems very specialized. I want to make sure that it is usable by someone who is not you or one o

[2020-02-11 10:20] frssp commented on #2091
Updated.
@whedon generate pdf

[2020-02-11 10:22] frssp commented on #2091
@whedon generate pdf

[2020-02-11 10:22] whedon commented on #2091
PDF failed to compile for issue #2091 with the following error:

 Error reading bibliography ./paper.bib (line 14, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-02-11 10:23] frssp commented on #2091
@whedon generate pdf

[2020-02-11 10:24] whedon commented on #2091
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02091/joss.02091/10.21105.joss.02091.pdf)

[2020-02-11 10:49] arfon commented on #1815
@akashnag done.

[2020-02-11 10:52] arfon commented on #1834
@whedon accept

[2020-02-11 10:52] whedon commented on #1834
No archive DOI set. Exiting...

[2020-02-11 10:53] arfon commented on #1834
@whedon set 10.5281/zenodo.3577740 as archive

[2020-02-11 10:53] whedon commented on #1834
OK. <a href="https://doi.org/10.5281/zenodo.3577740" target="_blank">10.5281/zenodo.3577740</a> is the archive.

[2020-02-11 10:53] arfon commented on #1834
@whedon accept

[2020-02-11 10:53] whedon commented on #1834
[code]

[2020-02-11 10:53] whedon commented on #1834
[code]

[2020-02-11 10:53] whedon commented on #1834
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1297

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1297, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-11 10:55] arfon commented on #1834
@whedon accept deposit=true

[2020-02-11 10:55] whedon commented on #1834
[code]

[2020-02-11 10:55] whedon commented on #1834
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1227184499328536577) 👈 🐦🐦🐦

[2020-02-11 10:56] whedon commented on #1834
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1298
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01834](https://doi.org/10.21105/joss.01834)
2. If everything looks g

[2020-02-11 10:59] pstrk commented on #2073
I uploaded a new version (v1.0.2) that should solve the issues you observed. Please let me know in case it does not work.

[2020-02-11 11:00] arfon commented on #1834
@steven-murray, @williamjameshandley - many thanks for your reviews here ✨

@gmorello - your paper is now published in JOSS :zap::rocket::boom:

[2020-02-11 11:00] #1834 closed

[2020-02-11 11:00] whedon commented on #1834
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01834/status.svg)](https://doi.org/10.21105/joss.01834)

**We need your help!**

Journal of Open Source Softwa

[2020-02-11 11:03] arfon commented on #1685
For any EiCs on rotation, I emailed @fblavoie on the 1st February with this request also.

[2020-02-11 11:15] arfon commented on #2004
Still? The information probably took a little while to update on Twitter's side but looks good to me now. Can you check again @mbobra?

[2020-02-11 11:23] arfon commented on #2092
@sbrugman - please change links to images to make them full URLs, e.g. change `![Visions' Standard Typeset](images/typeset_standard.png)` to `https://raw.githubusercontent.com/dylan-profiler/visions/master/paper/images/typeset_standard.png`

Also, please cite your BibTeX entries using the rMarkdown syntax. You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and

[2020-02-11 13:20] danielskatz commented on #2092
Thanks @mjsottile - the command that I'm going to issue to whedon next is also one you can issue, once you've agreed to edit a submission

[2020-02-11 13:20] danielskatz commented on #2092
@whedon assign @mjsottile as editor

[2020-02-11 13:20] whedon commented on #2092
OK, the editor is @mjsottile

[2020-02-11 13:27] danielskatz commented on #1685
👋 @arfon - should we change the editor to be you to better track this and finish it?

[2020-02-11 14:04] arfon commented on #1685
@whedon assign @arfon as editor

[2020-02-11 14:31] ebgoldstein commented on #2066
👋  @nathanlyons

I have now worked through the Species Evolver [tutorial notebook](https://github.com/landlab/landlab/tree/master/notebooks/tutorials/species_evolution) (via a Google Colab).  The install and model worked without a hiccup — i think this component extends the capabilities of the model in exciting ways, and will allow many interesting questions to be addressed using Landlab.

The pap

[2020-02-11 14:45] iljah commented on #2074
@pySRURGS thanks for making the changes, to me this looks good to go.

[2020-02-11 14:48] m-maheu-giroux commented on #1740
Apologies about the delay. The lead author on this is on maternity leave and it has been difficult to make rapid progress on this. Please let us know if pausing this causes you any issues.

[2020-02-11 14:54] danielskatz commented on #1312
@MKLau - please let us know when the paper is complete, so we can proceed to accept this in JOSS.  We don't need to wait for the transfer to rOpenSci, but we do need the final paper.

[2020-02-11 14:55] whedon opened #2093 "[PRE REVIEW]: PySINDy: A Python package for the sparse identification of nonlinear dynamical systems from data"
**Submitting author:** @briandesilva (<a href="http://orcid.org/0000-0003-0944-900X">Brian de Silva</a>)
**Repository:** <a href="https://github.com/dynamicslab/pysindy" target ="_blank">https://github.com/dynamicslab/pysindy</a>
**Version:** v0.12.0
**Editor:** @terrytangyuan
**Reviewers:** @sixpearls, @dawbarton
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting you

[2020-02-11 14:55] whedon commented on #2093
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-11 14:55] whedon commented on #2093
[code]

[2020-02-11 14:56] whedon commented on #2093
[code]

[2020-02-11 14:56] whedon commented on #2093
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02093/joss.02093/10.21105.joss.02093.pdf)

[2020-02-11 14:59] danielskatz commented on #2093
@briandesilva - it looks like you may need to add a bunch of DOIs to your references (although whedon isn't always 100% correct on its guesses) - see the [example submission and references](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) for how to add DOIs.  Once you have done this, regenerate the paper by entering ```@whedon generate pdf``` as a new comment

[2020-02-11 15:02] danielskatz commented on #2093
@whedon invite @terrytangyuan as editor

[2020-02-11 15:02] whedon commented on #2093
@terrytangyuan has been invited to edit this submission.

[2020-02-11 15:09] danielskatz commented on #2086
👋 @openjournals/dev - something happened in the initial comment in this issue where the author's github handle (I think ShubhadeepSadhukhan1993) didn't get added correctly. I could just edit the comment but I would prefer you to check the database to make sure this is correct internally.

[2020-02-11 15:10] danielskatz commented on #2086
👋 @ShubhadeepSadhukhan1993 - we are waiting for your response to the issues brought up by @jedbrown

[2020-02-11 15:16] madvn commented on #1609
@poulson Please let us know how to proceed. Thank you!

[2020-02-11 15:23] terrytangyuan commented on #2093
@whedon assign @terrytangyuan as editor

[2020-02-11 15:23] whedon commented on #2093
OK, the editor is @terrytangyuan

[2020-02-11 16:08] JoshuaSteer commented on #2060
@Kevin-Mattheus-Moerman Good idea about the Jupyter notebooks for testing. I'll add in a section which describes to process to the user.

I've added in the HC smoothing algorithm, with a test on Travis and it's included in the fundamentals notebook where you can compare the shrinkage relative to the Laplacian.

Omar has been acknowledged within the paper now. Felt this was more appropriate than as

[2020-02-11 16:10] malmaud commented on #2023
This seems like a great project, but unfortunately I can't commit right now. Sorry!

[2020-02-11 16:38] mbobra commented on #2004
I am just clicking on the link above that says "Tweet for this paper". It still says "1(1), 200..." which cannot be right 😟

[2020-02-11 16:46] PhilBoileau commented on #2079
I made slight edits to the newly added sentence, should read a little better now.

[2020-02-11 16:47] PhilBoileau commented on #2079
@whedon generate pdf

[2020-02-11 16:47] whedon commented on #2079
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02079/joss.02079/10.21105.joss.02079.pdf)

[2020-02-11 17:14] Chilipp commented on #2042
Hey @arbennett! Thanks for your quick actions!

Can you point me to the URL? I could not find it, neither in the installation instructions in the [docs](https://metsim.readthedocs.io/en/develop/#installation) nor in the [README](https://github.com/UW-Hydro/MetSim/blob/master/README.md#installation)

Thanks for the clarification!

Otherwise, only the part about *State of the field* is unclear for m

[2020-02-11 17:19] fclubb commented on #2066
I'm also happy with everything, excellent job @nathanlyons !

[2020-02-11 17:28] Marcdh3 commented on #1983
Hi @akeshavan! As of now all of the repo related changes are done, we're just cleaning up the paper at this point. Our goal is to have those last changes done by Friday, and I can update everyone once it's done.

[2020-02-11 17:33] kyleniemeyer commented on #2066
Thanks @ebgoldstein  and @fclubb! Next I will do a quick review of the article.

Actually, @ebgoldstein, could you fill out the remaining review checklist items (in the functionality section)?

[2020-02-11 18:02] joshday commented on #1816
My apologies for missing this in the proof, but a unicode character (μ) fails to render in the example at the end of the paper.  Is it possible to revise the paper?  I can simply change the problem character to ASCII.

[2020-02-11 18:05] danielskatz commented on #1816
Please make the change in the .md or .bib file, than let us know - @arfon will have to manually propagate the change it at this point

[2020-02-11 18:07] joshday commented on #1816
Thanks @danielskatz, I've made the change.

[2020-02-11 18:07] danielskatz commented on #1816
👋 @arfon - over to you...

[2020-02-11 18:23] danielskatz commented on #2091
Thanks - one of the DOIs has a leading "https:/doi.org/" that should be removed

[2020-02-11 18:24] danielskatz commented on #2091
@whedon assign @danielskatz as editor

[2020-02-11 18:24] whedon commented on #2091
OK, the editor is @danielskatz

[2020-02-11 18:25] danielskatz commented on #2091
If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-02-11 18:38] danielskatz commented on #2014
👋 @babinyurii - note that we are waiting for your response

[2020-02-11 18:40] danielskatz commented on #2049
👋 @melissawm - Hi, can you let me know what's going on with this submission.  In particular, I only see one reviewer, rather than the required two.

[2020-02-11 18:41] danielskatz commented on #1963
👋 @meg-simula - it looks like you have another reviewer ready to go, and can start the review

[2020-02-11 18:42] arfon commented on #1816
OK this should be updated now. The PDF might take a few hours to show up as modified as there's caching in place for the papers.

[2020-02-11 18:43] joshday commented on #1816
Much appreciated!  Thank you!

[2020-02-11 18:43] danielskatz commented on #1830
👋 @jhcreed - note that this is mostly ready to accept, but we are waiting for your actions as in the comment above

[2020-02-11 18:46] ebgoldstein commented on #2066
done.

[2020-02-11 18:49] petroniocandido commented on #2049
Hi @melissawm... Two unforeseen events happened with me and my pregnant wife and took me a long time to solve. I am deeply sorry and I will try to finish the review as soon as possible.

[2020-02-11 19:16] drvinceknight commented on #1815
@whedon check references

[2020-02-11 19:16] whedon commented on #1815
[code]

[2020-02-11 19:19] drvinceknight commented on #1815
Sorry @akashnag but you haven't added the DOIs correctly, the DOI for the first one is actually just `10.1109/confluence.2014.6949354 ` here's a full example of a bib file if that's helpful: https://github.com/drvinceknight/Nashpy/blob/master/paper.bib

[2020-02-11 19:36] odow commented on #2090
Only one point with the paper: you should reference `FastGaussQuadrature.jl`.

The real go/no-go question is the extent to which the library is substantive enough. I note that this was [brought up in pre-review](https://github.com/openjournals/joss-reviews/issues/2065#issuecomment-582000457):

I would tend to agree.

`Expectations.jl` is on the low-side with respect to lines of code, and the real

[2020-02-11 19:38] arbennett commented on #2042
@Chilipp I updated the readme so that the line containing `pytest --verbose` is a little bit more clearly highlighted.

[2020-02-11 19:38] arnavs commented on #2090
@odow Can you elaborate on CI? Last I checked (this morning), everything is passing on Travis and AppVeyor.

Documentation is a bit thin, but the basic functionality seems pretty straightforward. Would be happy to elaborate if you have any suggestions.

We cite FastGaussQuadrature in the paper. Will search around for a formal thing to refer to.

[2020-02-11 19:42] odow commented on #2090
Oh, it's just the badges on the README:
<img width="632" alt="image" src="https://user-images.githubusercontent.com/8177701/74272449-3f7a9f80-4cd4-11ea-83b2-c64fb8753a34.png">

[2020-02-11 19:47] Chilipp commented on #2042
Ha, thanks @arbennett. Sorry, I must have overlooked that line :sweat_smile:

[2020-02-11 20:02] arnavs commented on #2090
Ah @odow gotcha, I thought you meant our CI (expectations.jl)

[2020-02-11 20:11] briandesilva commented on #2093
@whedon generate pdf

[2020-02-11 20:12] whedon commented on #2093
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02093/joss.02093/10.21105.joss.02093.pdf)

[2020-02-11 20:20] marcosvital commented on #2069
Ah, didn't know that, thanks @danielskatz ! :)

Hi, @Nicolas-Schmidt, I'll be the editor of your submission.

Please take a look at the article proof generated above, and check if everything seems to be ok.

On the meantime, we can find reviewers for you submission. We usually ask the authors for suggestions, so let me know if you have anyone in mind that could do this. You can check [this list of

[2020-02-11 20:24] marcosvital commented on #1974
Thank you @rabdill and @djmitche! I'll wait a few more to see if @terrytangyuan can also join us, but we will move soon to review, ok? This will happen in a new issue, and if yo haven't reviewed for JOSS before, you can take a look [at this guide](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2020-02-11 20:26] danielskatz commented on #1960
👋 @gkthiruvathukal - can you let me know where things are on this submission?

[2020-02-11 20:28] danielskatz commented on #2001
👋 @gkthiruvathukal - any progress on finding another reviewer? Maybe you need to ask more potential people

[2020-02-11 20:28] marcosvital commented on #2041
Hi, @mmrabe! Thank you for pointing potential reviewers. I'll start contacting them, and we will move to review phase soon.

Dear @tomfaulkenberry, @MikeLydeamore and @njtierney

Would you be willing to review this submission for JOSS?
If you are still new to this, we carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/rev

[2020-02-11 20:29] gkthiruvathukal commented on #2001
@danielskatz Sorry, I hit a bit of a wall the past two weeks with faculty hiring in our department. I'll get on this shortly.  I will go through the list of reviewers and see if I can find another person to help.

[2020-02-11 20:29] danielskatz commented on #1752
👋 @KingZee - any progress to report?

[2020-02-11 20:30] meg-simula commented on #1701
Thanks @HaoZeke and @gbertoldo! @dham, what is the current status from your side on this?

[2020-02-11 20:32] gkthiruvathukal commented on #1960
@danielskatz I believe the next step is for the reviewers to take another look. @phillima followed up with a new version that addresses previous feedback.

@arcuri82, @danieledipompeo: Can you please take another look and see whether your comments/concerns have been addressed?

[2020-02-11 20:38] danielskatz commented on #1591
Sorry for the delay here - it now looks like this is ready to publish, which I will proceed with the steps for.  If there's anything that's missing, either of the reviewers (@taqtiqa-mark or @igarizio) or the editor (@alexhanna) should speak up soon

[2020-02-11 20:39] meg-simula commented on #1963
Fantastic, thanks @ralfHielscher, I'll assign you and get the review started.

[2020-02-11 20:39] meg-simula commented on #1963
whedon add @ralfHielscher as reviewer

[2020-02-11 20:40] danielskatz commented on #1591
👋 @gus0k - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and author list (ma

[2020-02-11 20:40] danielskatz commented on #1591
@whedon accept

[2020-02-11 20:40] whedon commented on #1591
No archive DOI set. Exiting...

[2020-02-11 20:40] danielskatz commented on #1591
@whedon generate pdf

[2020-02-11 20:41] whedon commented on #1591
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01591/joss.01591/10.21105.joss.01591.pdf)

[2020-02-11 20:47] danielskatz commented on #1591
some suggested changes for the paper are in https://github.com/gus0k/pymarket/pull/18 and for the bib are in https://github.com/gus0k/pymarket/pull/19

[2020-02-11 20:48] danielskatz commented on #1591
@whedon check references

[2020-02-11 20:48] whedon commented on #1591
[code]

[2020-02-11 20:48] meg-simula commented on #1963
@whedon add @ralfHielscher as reviewer

[2020-02-11 20:48] whedon commented on #1963
OK, @ralfHielscher is now a reviewer

[2020-02-11 20:49] meg-simula commented on #1963
@whedon start review

[2020-02-11 20:49] whedon opened #2094 "[REVIEW]: MTEX2Gmsh: a tool for generating 2D meshes from EBSD data"
**Submitting author:** @DorianDepriester (<a href="http://orcid.org/0000-0002-2881-8942">Dorian Depriester</a>)
**Repository:** <a href="https://github.com/DorianDepriester/mtex2Gmsh" target ="_blank">https://github.com/DorianDepriester/mtex2Gmsh</a>
**Version:** v1.0
**Editor:** @meg-simula
**Reviewer:** @streeve, @ralfHielscher
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/p

[2020-02-11 20:49] whedon commented on #1963
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2094.

[2020-02-11 20:49] #1963 closed

[2020-02-11 20:49] whedon commented on #2094
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @streeve, @ralfHielscher it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2020-02-11 20:49] whedon commented on #2094
[code]

[2020-02-11 20:49] whedon commented on #2094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02094/joss.02094/10.21105.joss.02094.pdf)

[2020-02-11 20:50] meg-simula commented on #2094
@streeve @ralfHielscher Thanks again for agreeing to review. Reviewer checklists have been generated for each you above - take a look and dig in at will.

[2020-02-11 20:50] danielskatz commented on #1591
Also, please add the 2 missing DOIs above to the .bib file

[2020-02-11 20:55] tomfaulkenberry commented on #2041
sure, I'd love to review.  Feel free to assign it to me.

Tom

[2020-02-11 21:01] martinmodrak commented on #2016
@akeshavan, yes I can look into it, although I've never worked with WPF, so my review will be limited, as I can't really help wit the GUI code (which might be substantial part of the app)

[2020-02-11 21:13] gkthiruvathukal commented on #2001
@markgalassi. I was looking through our list of reviewers and saw that you have software engineering as an area of interest. Would you be willing to be the second reviewer for this JOSS submission? I need two reviewers (@mado89 has already agreed) in order to proceed.

[2020-02-11 21:57] terrytangyuan commented on #1974
I am now an editor of JOSS so likely won't have time to participate in reviews. Thanks for checking though. BTW, @arfon could you remove me from the reviewers spreadsheet?

[2020-02-11 22:13] arfon commented on #1974
Done!

[2020-02-11 22:35] KingZee commented on #1752
@danielskatz I have currently began working on the mentioned issues. https://github.com/openjournals/joss-reviews/issues/1752#issuecomment-536621094 This comment summarized what needs work, I closed an issue related to the 3rd point just a few days ago, https://github.com/KingZee/shop-solver/issues/3 . I'm currently figuring out better documentation, I used doxygen as recommended but I did not see

[2020-02-11 22:39] Nicolas-Schmidt commented on #2069
@whedon generate pdf

[2020-02-11 22:40] whedon commented on #2069
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02069/joss.02069/10.21105.joss.02069.pdf)

[2020-02-11 22:46] Nicolas-Schmidt commented on #2069
Hi @marcosvital,
From the list of reviewers I suggest: alletsee o rdrr1990.
Thanks!

[2020-02-11 22:47] Nicolas-Schmidt commented on #2069
Hi @marcosvital,
From the list of reviewers I suggest: alletsee or rdrr1990.
Thanks!

[2020-02-11 22:56] 1313e commented on #2004
The tweet does not contain any citation info?

[2020-02-11 23:24] chrisleaman commented on #2075
Hi @kbarnhart and `psi-collect` team,

Just letting you know I've finished my review. Overall, I thought it was a nifty tool to manage a lot of unwieldy but important data. I've been finding aerial imagery is so important and can give a lot of context to pre- and post-storm LIDAR surveys especially for assigning storm impacts.

For a bit of feedback on the code, what I liked:
1. The extensive use

[2020-02-11 23:28] mjsottile commented on #1982
@whedon add @agricolab as reviewer

[2020-02-11 23:29] whedon commented on #1982
OK, @agricolab is now a reviewer

[2020-02-11 23:30] mjsottile commented on #1982
@whedon remove @mnarayan as reviewer

[2020-02-11 23:30] whedon commented on #1982
OK, @mnarayan is no longer a reviewer

[2020-02-11 23:33] mjsottile commented on #2092
:wave: @sbrugman If you have any suggestions for reviewers please let me know.  Otherwise I'll dig through the list of available reviewers to find some candidates.

[2020-02-11 23:41] mbobra commented on #2004
This is what I am seeing:
![citation](https://user-images.githubusercontent.com/8431057/74289812-dfd8c000-4ce4-11ea-91c9-e3968b591344.jpg)

[2020-02-11 23:56] 1313e commented on #2004
Oh, that. That will never get fixed as those previews only get generated once.

[2020-02-12 00:07] mbobra commented on #2004
Ohhhh, I did not know that 😳 Thanks for letting me know!

[2020-02-12 00:34] majensen commented on #1942
Thanks for the update @benjaminbolling -- no worries

[2020-02-12 00:53] terrytangyuan commented on #2093
@briandesilva  If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2020-02-12 01:17] briandesilva commented on #2093
From the list you provided, the following people seem like appropriate potential reviewers:

- jmbr
- dawbarton
- sixpearls
- MakrinaAgaoglou

[2020-02-12 01:37] terrytangyuan commented on #2093
👋 Hi @jmbr @dawbarton @sixpearls @MakrinaAgaoglou, if you would like to review for this submission, please let us know here! We need at least two reviewers.

[2020-02-12 01:44] akashnag commented on #1815
I'm sorry, I have now correctly updated the DOIs.

On 12/02/2020, Vince Knight <notifications@github.com> wrote:

--
Akash Nag
Department of Computer Science
M.U.C. Women's College,
Burdwan 713104, West Bengal, India
Mobile: (+91) 98322-58023
E-mail: nag.akash.cs@gmail.com

[2020-02-12 06:02] shashwat-bhattacharya commented on #2086
@jedbrown We thank you for your comments and feedback. We are modifying the code as per your recommendations. Further, the authors of H5SI are in the process of implementing BSD license for H5SI software. We will get back to you once these modifications are done.

[2020-02-12 08:45] oxinabox commented on #1956
Ok, not sure what is going on with Zenodo, but i cut a new release on github and that one editted fine.

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3663390.svg)](https://doi.org/10.5281/zenodo.3663390)|

10.5281/zenodo.3663390

[2020-02-12 11:50] arfon commented on #2004
Yeah, I think this is cached. The only thing we can do here is delete the original tweet an resend it from the JOSS account (which I'm more than happy to).

Lemme know what you'd like us to do @1313e.

[2020-02-12 12:48] danielskatz commented on #1591
@whedon check references

[2020-02-12 12:48] whedon commented on #1591
[code]

[2020-02-12 12:49] danielskatz commented on #1591
@whedon generate pdf

[2020-02-12 12:49] whedon commented on #1591
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01591/joss.01591/10.21105.joss.01591.pdf)

[2020-02-12 13:03] danielskatz commented on #1591
sorry, missed one in the bib - please merge https://github.com/gus0k/pymarket/pull/20 as well

[2020-02-12 13:04] 1313e commented on #2004
As I doubt anyone will use citation information from a preview, don't bother.

[2020-02-12 13:05] danielskatz commented on #1591
also, be aware that you can do ```@whedon generate pdf``` to check the PDF when you choose to

[2020-02-12 13:24] gus0k commented on #1591
@whedon generate pdf

[2020-02-12 13:24] whedon commented on #1591
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01591/joss.01591/10.21105.joss.01591.pdf)

[2020-02-12 13:37] gus0k commented on #1591
@whedon generate pdf

[2020-02-12 13:38] whedon commented on #1591
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01591/joss.01591/10.21105.joss.01591.pdf)

[2020-02-12 13:48] gus0k commented on #1591
@danielskatz
Created the tagged version (0.78) and uploaded it to zenodo:

10.5281/zenodo.3665175

[2020-02-12 13:52] jhcreed commented on #1830
@whedon generate pdf

[2020-02-12 13:53] whedon commented on #1830
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01830/joss.01830/10.21105.joss.01830.pdf)

[2020-02-12 13:58] danielskatz commented on #1830
Please confirm here when you have addressed the actions and are ready to proceed.

[2020-02-12 14:00] danielskatz commented on #1591
@whedon set v0.7.8 as version

[2020-02-12 14:00] whedon commented on #1591
OK. v0.7.8 is the version.

[2020-02-12 14:00] danielskatz commented on #1591
@whedon set 10.5281/zenodo.3665175 as archive

[2020-02-12 14:00] whedon commented on #1591
OK. <a href="https://doi.org/10.5281/zenodo.3665175" target="_blank">10.5281/zenodo.3665175</a> is the archive.

[2020-02-12 14:01] danielskatz commented on #1591
Please change the metadata in the zenodo repository so that the title is the same as the title of the paper

[2020-02-12 14:02] greglandrum commented on #1992
@csoneson - Sure; I can give this a try.

[2020-02-12 14:03] jhcreed commented on #1830
The text and figure have been updated and we are ready to proceed. Thank you!

[2020-02-12 14:15] csoneson commented on #1992
@greglandrum - brilliant, thank you! I will add you as a reviewer and add a checklist for you in the first post above (there are also some additional instructions). Don't hesitate to ping me if you have any questions.

[2020-02-12 14:16] csoneson commented on #1992
@whedon add @greglandrum as reviewer

[2020-02-12 14:16] whedon commented on #1992
OK, @greglandrum is now a reviewer

[2020-02-12 14:32] greglandrum commented on #1992
@csoneson - just to confirm: should I directly complete the checklist above or make a copy in a comment?

[2020-02-12 14:35] csoneson commented on #1992
@greglandrum Please directly fill the checklist in the first post above so that we have a summary in one place.
You can then comment on individual items/aspects in separate comments (or open issues in the software repository and just mention them here).

[2020-02-12 14:38] gus0k commented on #1591
Done

[2020-02-12 14:38] danielskatz commented on #1830
Can you reduce the size of the figures very sightly - right now, they are slightly bigger than the page (they overlap the page footer).

I'm also confused by the "(MATLAB 2019B)" in the text, which doesn't seem to match anything in the reference list.  Similarly, Freireich 1963 and Ley 2013.  Looking at the .md, this turns out to be because you are doing the references manually - please see the [J

[2020-02-12 14:40] danielskatz commented on #1591
@whedon accept

[2020-02-12 14:40] whedon commented on #1591
[code]

[2020-02-12 14:41] whedon commented on #1591
[code]

[2020-02-12 14:41] whedon commented on #1591
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1299

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1299, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-12 14:43] danielskatz commented on #1591
@whedon accept deposit=true

[2020-02-12 14:43] whedon commented on #1591
[code]

[2020-02-12 14:44] arnavs commented on #2090
@odow I asked the FGQ guys, and the paper I cite (Townsend, Olver, Trogdon) is what they recommend citing. I think that + the inline reference to FGQ should do it.

[2020-02-12 14:44] whedon commented on #1591
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1227604385645068288) 👈 🐦🐦🐦

[2020-02-12 14:44] whedon commented on #1591
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1300
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01591](https://doi.org/10.21105/joss.01591)
2. If everything looks g

[2020-02-12 14:46] danielskatz commented on #1591
Thanks to @igarizio & @taqtiqa-mark for reviewing!
And to @alexhanna for editing!

Congratulations to @gus0k and co-authors!

[2020-02-12 14:46] #1591 closed

[2020-02-12 14:46] whedon commented on #1591
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01591/status.svg)](https://doi.org/10.21105/joss.01591)

**We need your help!**

Journal of Open Source Softwa

[2020-02-12 14:47] gus0k commented on #1591
Thank you all!

[2020-02-12 14:49] danielskatz commented on #2086
I'm going to mark this as paused for now

[2020-02-12 15:09] Nicolas-Schmidt commented on #2069
Hi @marcosvital,
We would like to suggest an additional reviewer that is our first preference: Andy Beger (git user: andybega).

Thanks!

[2020-02-12 16:06] drvinceknight commented on #1815
@whedon check references

[2020-02-12 16:06] whedon commented on #1815
[code]

[2020-02-12 16:07] drvinceknight commented on #1815
@whedon generate pdf

[2020-02-12 16:08] whedon commented on #1815
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01815/joss.01815/10.21105.joss.01815.pdf)

[2020-02-12 16:11] drvinceknight commented on #1815
Ok everything looks good to me.

@akashnag could you make a tagged release and archive. Once you've done that can you report the version number and archive DOI here.

Please make sure that the archive deposit has the correct metadata (title and author list).

[2020-02-12 16:30] danielskatz commented on #1815
@drvinceknight - before you turn this over to the EiCs, please also proof-read the paper and references and make sure you are satisfied with them

[2020-02-12 17:03] arfon commented on #1832
@Cadair - looks like the AAS paper is published now, can you figure out the details from this: https://iopscience.iop.org/article/10.3847/1538-4357/ab4f7a ?

[2020-02-12 17:33] nathanlyons commented on #2066
@ebgoldstein Thank you also for the review. Good to know it works in Google Colab. I suppose no reason it should not.

[2020-02-12 17:38] nathanlyons commented on #2066
@kyleniemeyer FYI for your review, I noticed minor changes needed in the paper, namely an incorrect year on a reference, acknowledging all reviewers, and rewording "taxa evolution" to "biological evolution" because taxa was not defined yet in the Introduction. Here is the [commit](https://github.com/landlab/landlab/commit/b84a8214ed4a99ed2c9cca2c048052ac5eddb153) with these changes, along with an

[2020-02-12 17:38] nathanlyons commented on #2066
@whedon generate pdf from branch nathanlyons_species_evolver_joss_review

[2020-02-12 17:38] whedon commented on #2066
[code]

[2020-02-12 17:39] whedon commented on #2066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02066/joss.02066/10.21105.joss.02066.pdf)

[2020-02-12 17:39] kyleniemeyer commented on #2066
@nathanlyons yes, that seems a good course of action. However, before you merge your branch into the Landlab master, please wait until i can review your article—that way any changes are contained in the branch

[2020-02-12 17:40] jhcreed commented on #1830
The figure has been reduced so that it now fits on one page without running into the footer. We have also changed "(MATLAB 2019B)" to "[as of version MATLAB 2019B]" to clarify that we are specifying a version of software and not a reference. All of the references have been updated in the .md and .bib.  We are ready to try to proceed again.

[2020-02-12 17:40] nathanlyons commented on #2066
@kyleniemeyer Will do.

[2020-02-12 17:51] kyleniemeyer commented on #2066
@nathanlyons just a minor comment: please consistently put commas after instances of "i.e." and "e.g." (for example, `(i.e. allopatry)` -> `(i.e., allopatry)`)

[2020-02-12 17:58] arfon commented on #1832
@Cadair because I'm feeling nice today 😸 https://github.com/sunpy/sunpy/compare/master...arfon:patch-4

[2020-02-12 18:11] Cadair commented on #1832
Thanks! The ApJ site was giving me a 500 when I tried to download the bibtex :angry:

[2020-02-12 18:12] Cadair commented on #1832
@whedon generate pdf from branch master

[2020-02-12 18:12] whedon commented on #1832
[code]

[2020-02-12 18:12] arfon commented on #1832
@Cadair - does [this Zenodo release](https://zenodo.org/record/3604353#.XkRABhNKind) include all of the changes that resulted from this JOSS review?

[2020-02-12 18:13] whedon commented on #1832
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01832/joss.01832/10.21105.joss.01832.pdf)

[2020-02-12 18:13] Cadair commented on #1832
@arfon Probably. I was planning on doing a 1.0.8 with the correct author info etc shortly.

[2020-02-12 19:05] feiyu-chen96 commented on #1931
Thank you @marcharper and @dawbarton for your time and reviews!

## Review 1 (@marcharper)

1. on the authors: There are 3 new contributors to the package since the initial submission. They've be added to the authors (Shuheng @Johnny-Wish, Devansh @devanshkv, and Marco @marco-digio).
2. on installation and testing: Thanks! The installation section is now updated to include commands to install depe

[2020-02-12 19:23] danielskatz commented on #1830
@whedon generate pdf

[2020-02-12 19:24] whedon commented on #1830
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01830/joss.01830/10.21105.joss.01830.pdf)

[2020-02-12 19:25] danielskatz commented on #1830
It still seems like Matlab 2019b should be a reference that should be in the .bib file and in the .md file, otherwise, the "MATLAB 2019B" doesn't refer to anything that the reader can find.

[2020-02-12 19:26] danielskatz commented on #1830
the first reference also needs to be fix for the first author's name

[2020-02-12 19:26] danielskatz commented on #1830
please make changes, use ```@whedon generate pdf``` to check them, and let me know when this is ready again

[2020-02-12 19:40] abhishekbajpayee commented on #2056
Yes I can review.

[2020-02-12 20:13] MKLau commented on #1312
Hi @danielskatz , just finished sorting out a couple of issues with Travis and Zenodo tracking.

The manuscript is now good to go for review, you can find it [here](https://github.com/ropensci/Rclean/joss/paper.Rmd).

[2020-02-12 20:17] kyleniemeyer commented on #2084
Hello @harpolea, would you be interested in reviewing this submission?

[2020-02-12 20:17] kyleniemeyer commented on #2084
Hi @dlagrava, are you interested and available to review this?

[2020-02-12 20:22] harpolea commented on #2084
Hi @kyleniemeyer, I'd be happy to review this!

[2020-02-12 20:26] jhcreed commented on #1830
@whedon generate pdf

[2020-02-12 20:27] whedon commented on #1830
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01830/joss.01830/10.21105.joss.01830.pdf)

[2020-02-12 20:28] dlagrava commented on #2084
Hi @kyleniemeyer, I will be happy to perform the review as well. Cheers.

[2020-02-12 20:29] kyleniemeyer commented on #2084
@harpolea @dlagrava Thanks to both of you! I'll assign you and initiate the review shortly.

[2020-02-12 20:29] kyleniemeyer commented on #2084
@whedon add @harpolea as reviewer

[2020-02-12 20:29] whedon commented on #2084
OK, @harpolea is now a reviewer

[2020-02-12 20:30] kyleniemeyer commented on #2084
@whedon add @dlagrava as reviewer

[2020-02-12 20:30] whedon commented on #2084
OK, @dlagrava is now a reviewer

[2020-02-12 20:30] kyleniemeyer commented on #2084
@whedon start review

[2020-02-12 20:30] whedon opened #2095 "[REVIEW]: SARAS: A general-purpose PDE solver for fluid dynamics"
**Submitting author:** @roshansamuel (<a href="http://orcid.org/0000-0002-1280-9881">Roshan Samuel</a>)
**Repository:** <a href="https://github.com/roshansamuel/saras" target ="_blank">https://github.com/roshansamuel/saras</a>
**Version:** v1.0
**Editor:** @kyleniemeyer
**Reviewers:** @dlagrava, @olgadoronina, @nickwimer
**Archive:** <a href="https://doi.org/10.5281/zenodo.5205320" target="_blank"

[2020-02-12 20:30] whedon commented on #2084
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2095.

[2020-02-12 20:30] #2084 closed

[2020-02-12 20:30] whedon commented on #2095
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @harpolea, @dlagrava it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-02-12 20:31] whedon commented on #2095
[code]

[2020-02-12 20:31] whedon commented on #2095
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02095/joss.02095/10.21105.joss.02095.pdf)

[2020-02-12 20:31] kyleniemeyer commented on #2095
@roshansamuel @harpolea @dlagrava 👋 the review takes place in this issue

[2020-02-12 20:45] dlagrava commented on #2095
@kyleniemeyer sounds good!

[2020-02-12 20:50] aebergl commented on #1830
No edits from me

[2020-02-13 00:35] jizecn commented on #2056
Yes, I will review too.

[2020-02-13 01:33] sixpearls commented on #2093
Sure, I can review

[2020-02-13 04:11] robqiao commented on #2068
Thx for your comments @danielskatz @kthyng
I forgot to merge the branch, now released.
plus what's the size deemed reasonable? do we have a whedon function to check? Many Thanks

[2020-02-13 05:29] sauln commented on #1958
I'll have to provide a more thorough review near the beginning of next week, but I can supply a few quick notes from pursuing the documentation:
- The docs link in the readme doesn't work. You'll need to use `[lfspy.readthedocs.io](https://lfspy.readthedocs.io)`
- It looks like you manually wrote the Functionality page and I see a lot of good comments in the code. If you reformatted the docstrings

[2020-02-13 06:11] BIPL-HORIE commented on #1785
Dear editor and reviewers,

I'm really sorry for my late response.
I regret submitting my paper even though I don't have enough time to revise.

Thank to the review, I found that my library does not have maintainability required as open source software.
And, now I'm willing to revise my library according to the review.
However, It will be a hard job for me and it cannot be fixed right away, consid

[2020-02-13 10:02] pdebuyl commented on #2072
Hi @SirSharpest ,

I had a first look at the program. I believe that documentation needs to be improved. I have
written a first review below. I suggest that you take a look at existing scientific codes on GitHub, preferably with a JOSS paper, to have a good impression of what is expected. The purpose of the review is to eventually tick all the boxes, so I can provide more information if needed.

#

[2020-02-13 10:33] akashnag commented on #1815
I have archived the repository on Zenodo, with version 1.0
Release URL (GitHub): https://github.com/akashnag/MDL-Suite/releases/tag/1.0
DOI: 10.5281/zenodo.3666101
DOI URL: https://doi.org/10.5281/zenodo.3666101

[2020-02-13 10:49] xuanxu commented on #2078
@christinahedges: would you be willing to review this paper? I think your knowledge of astronomy and Python makes you a great fit for this submission.

[2020-02-13 11:04] SirSharpest commented on #2072
@pdebuyl Thank you for the detailed response, and for taking the time to review. I will address these issues and report back within the next week.

[2020-02-13 12:05] frssp commented on #2091
I suggest JMSkelton and utf for potential reviewers because they are experts in computational chemistry.

[2020-02-13 12:05] frssp commented on #2091
DOI fixed; @whedon generate pdf

[2020-02-13 13:47] jhcreed commented on #1830
We are ready to try again!

[2020-02-13 13:58] whedon opened #2096 "[PRE REVIEW]: Pippin: A pipeline for supernova cosmology"
**Submitting author:** @samreay (<a href="http://orcid.org/0000-0003-2071-9349">Samuel Hinton</a>)
**Repository:** <a href="https://github.com/Samreay/Pippin" target ="_blank">https://github.com/Samreay/Pippin</a>
**Version:** 0.1.1
**Editor:** @arfon
**Reviewers:** @kboone, @temuller
**Managing EiC:** Arfon Smith

**Author instructions**

Thanks for submitting your paper to JOSS samreay. **Curren

[2020-02-13 13:58] whedon commented on #2096
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-13 13:58] whedon commented on #2096
[code]

[2020-02-13 13:58] whedon commented on #2096
[code]

[2020-02-13 13:58] whedon commented on #2096
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02096/joss.02096/10.21105.joss.02096.pdf)

[2020-02-13 13:59] arfon commented on #2096
:wave: @Samreay - thanks for your submission to JOSS. Does this paper accompany a submission to a AAS journal?

[2020-02-13 15:28] danielskatz commented on #2091
```@whedon generate pdf``` has to be the start (or entirety) of a comment

[2020-02-13 15:28] danielskatz commented on #2091
@whedon generate pdf

[2020-02-13 15:29] whedon commented on #2091
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02091/joss.02091/10.21105.joss.02091.pdf)

[2020-02-13 15:33] kthyng commented on #2056
Excellent! Thanks to both of you once again.

[2020-02-13 15:33] kthyng commented on #2056
@whedon assign @abhishekbajpayee as reviewer

[2020-02-13 15:33] whedon commented on #2056
OK, @abhishekbajpayee is now a reviewer

[2020-02-13 15:33] kthyng commented on #2056
@whedon add @jizecn as reviewer

[2020-02-13 15:34] whedon commented on #2056
OK, @jizecn is now a reviewer

[2020-02-13 15:34] kthyng commented on #2056
@whedon start review

[2020-02-13 15:34] whedon opened #2097 "[REVIEW]: Using drones to quantify the length of marine animals"
**Submitting author:** @egemose (<a href="http://orcid.org/0000-0002-6765-8216">Henrik Dyrberg Egemose</a>)
**Repository:** <a href="https://github.com/egemose/DroneVideoMeasure" target ="_blank">https://github.com/egemose/DroneVideoMeasure</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewer:** @abhishekbajpayee, @jizecn
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/

[2020-02-13 15:34] whedon commented on #2056
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2097.

[2020-02-13 15:34] #2056 closed

[2020-02-13 15:34] whedon commented on #2097
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @abhishekbajpayee, @jizecn it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2020-02-13 15:34] whedon commented on #2097
[code]

[2020-02-13 15:34] whedon commented on #2097
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02097/joss.02097/10.21105.joss.02097.pdf)

[2020-02-13 15:48] Cadair commented on #1832
@arfon 1.0.8 has been released the zenodo record is here: https://zenodo.org/record/3666625

[2020-02-13 15:54] casperdcl commented on #1277
Hello everyone. Thank you for your patience!

After much discussion I think we're all confident that we can arrive at a conclusion.

However before I can contribute I need to understand JOSS principles/ethos so that I can then follow them. I need an answer to this hypothetical question:

**Question**: should *SC-B* be listed as an author?

1. JOSS official answer: :tada: **Yes**
2. JOSS official a

[2020-02-13 16:03] MariaTsantaki commented on #2048
Dear reviewers,
Thank you very much for the comments. They helped to improve the code. The major changes were on the setup, how FASMA function works in scripts, and the configuration file. This version seems easier to work with.

1) The configuration file (renamed from StarMe.cfg to config.yml) has now a yaml format with all the keys/options available. The file contains the default options.

2) Th

[2020-02-13 16:34] danielskatz commented on #1277
If all other authors are ok with SC-B being listed as an author without writing or reviewing the paper, and SC-B is willing to have their name on something they didn't review, then from the point of view of JOSS, I think the answer is that SC-B should be listed as an author, as that would be a conclusion that would satisfy all authors ad give credit to all authors. (With the caveat that I can't ad

[2020-02-13 16:38] danielskatz commented on #2091
👋 @JMSkelton & @utf - would either or both of you be willing to review this submission?

[2020-02-13 16:41] danielskatz commented on #1830
@whedon accept

[2020-02-13 16:41] whedon commented on #1830
[code]

[2020-02-13 16:41] whedon commented on #1830
[code]

[2020-02-13 16:42] whedon commented on #1830
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1301

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1301, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-13 16:43] danielskatz commented on #1830
@whedon accept deposit=true

[2020-02-13 16:43] whedon commented on #1830
[code]

[2020-02-13 16:44] whedon commented on #1830
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1227996977297870848) 👈 🐦🐦🐦

[2020-02-13 16:44] whedon commented on #1830
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1302
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01830](https://doi.org/10.21105/joss.01830)
2. If everything looks g

[2020-02-13 16:44] danielskatz commented on #1830
👋 @openjournals/dev & @arfon - note that reference 2 in the XML has the same URL problem we've seen before the github URLs - Once this finishes processing, I will leave it open for you to manually fix this problem

[2020-02-13 16:53] danielskatz commented on #1830
Thanks to @dsurujon & @ManuelaS for reviewing!
and @cMadan for editing!

Congratulations to @jhcreed and co-authors!

[2020-02-13 16:57] danielskatz commented on #1785
yes, we would be happy for this to be submitted in the future.

[2020-02-13 16:57] danielskatz commented on #1785
@whedon reject

[2020-02-13 16:57] whedon commented on #1785
Paper rejected.

[2020-02-13 16:57] #1785 closed

[2020-02-13 16:58] sbrugman commented on #2092
@casperdcl @alexpghayes @1313e @bzz @amcasari would you be interested to review this submission?

[2020-02-13 16:58] sbrugman commented on #2092
@whedon generate pdf

[2020-02-13 16:58] whedon commented on #2092
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02092/joss.02092/10.21105.joss.02092.pdf)

[2020-02-13 17:00] utf commented on #2091
I’d be happy to review this.

[2020-02-13 17:03] arfon commented on #1832
@whedon set 10.5281/zenodo.3666625 as archive

[2020-02-13 17:03] whedon commented on #1832
OK. <a href="https://doi.org/10.5281/zenodo.3666625" target="_blank">10.5281/zenodo.3666625</a> is the archive.

[2020-02-13 17:03] danielskatz commented on #2091
👋 @godotalgorithm & @taylor-a-barnes - would either or both of you be willing to review this submission to JOSS?  JOSS reviews are of the software and short paper, and are checklist-driven, with the goal of improving the software to the point where it can be accepted - see https://joss.readthedocs.io/en/latest/reviewer_guidelines.html for more info

[2020-02-13 17:03] arfon commented on #1832
@whedon accept

[2020-02-13 17:03] whedon commented on #1832
[code]

[2020-02-13 17:04] whedon commented on #1832
[code]

[2020-02-13 17:04] danielskatz commented on #2091
Thanks @utf - I'll assign you, but we won't start until we get at least one more reviewer.

[2020-02-13 17:04] whedon commented on #1832
PDF failed to compile for issue #1832 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:321:in `block (4 levels) in crossref_authors': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/gems/nokogiri-1.10.4/lib/nokogiri/xml/builder.rb:394:in `insert'
	from /app/vendor/bundle/ruby/2.4.0/gems/nokogiri-

[2020-02-13 17:04] danielskatz commented on #2091
@whedon assign @utf as reviewer

[2020-02-13 17:04] whedon commented on #2091
OK, @utf is now a reviewer

[2020-02-13 17:05] arfon commented on #1832
Gonna need to debug what's going here. Pls hold...

[2020-02-13 17:08] danielskatz commented on #2068
Can we discuss this in a pre-submission inquiry, using https://github.com/openjournals/joss/issues/new?title=Pre-submission%20enquiry
rather than a closed pre-review issue...

[2020-02-13 17:10] whedon opened #2098 "[PRE REVIEW]: Chemiscope: interactive structure-property explorer for materials and molecules"
**Submitting author:** @luthaf (<a href="http://orcid.org/0000-0003-4824-6512">Guillaume Fraux</a>)
**Repository:** <a href="https://github.com/cosmo-epfl/chemiscope" target ="_blank">https://github.com/cosmo-epfl/chemiscope</a>
**Version:** v0.1.0
**Editor:** @cMadan
**Reviewers:** @kblin, @mkhorton
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting your paper to JOS

[2020-02-13 17:10] whedon commented on #2098
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-13 17:10] whedon commented on #2098
[code]

[2020-02-13 17:10] whedon commented on #2098
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02098/joss.02098/10.21105.joss.02098.pdf)

[2020-02-13 17:12] whedon commented on #2098
[code]

[2020-02-13 17:15] danielskatz commented on #2098
@whedon invite @cMadan as editor

I know this is a bit out of scope for you, but we don't really have a chemistry editor at this point, so I hope you can take it

[2020-02-13 17:15] whedon commented on #2098
@cMadan has been invited to edit this submission.

[2020-02-13 17:16] whedon opened #2099 "[PRE REVIEW]: CloudnetPy: A Python package for processing cloud remote sensing data"
**Submitting author:** @tukiains (<a href="http://orcid.org/0000-0002-0651-4622">Simo Tukiainen</a>)
**Repository:** <a href="https://github.com/actris-cloudnet/cloudnetpy" target ="_blank">https://github.com/actris-cloudnet/cloudnetpy</a>
**Version:** v1.0.7
**Editor:** @jedbrown
**Reviewers:** josephhardinee
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks for submitting your pa

[2020-02-13 17:16] whedon commented on #2099
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-13 17:17] whedon commented on #2099
[code]

[2020-02-13 17:17] whedon commented on #2099
[code]

[2020-02-13 17:17] whedon commented on #2099
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02099/joss.02099/10.21105.joss.02099.pdf)

[2020-02-13 17:18] danielskatz commented on #2099
@whedon invite @jedbrown as editor

[2020-02-13 17:18] whedon commented on #2099
@jedbrown has been invited to edit this submission.

[2020-02-13 17:19] whedon opened #2100 "[PRE REVIEW]: MaterialNet: A web-based graph explorer for materials science data"
**Submitting author:** @waxlamp (<a href="http://orcid.org/0000-0003-3898-4626">Roni Choudhury</a>)
**Repository:** <a href="https://github.com/ToyotaResearchInstitute/materialnet" target ="_blank">https://github.com/ToyotaResearchInstitute/materialnet</a>
**Version:** 1.0.0
**Editor:** @danielskatz
**Reviewers:** @Luthaf, @rcannood
**Managing EiC:** Daniel S. Katz

**Author instructions**

Thanks

[2020-02-13 17:19] whedon commented on #2100
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-13 17:19] whedon commented on #2100
[code]

[2020-02-13 17:19] whedon commented on #2100
[code]

[2020-02-13 17:19] whedon commented on #2100
Failed to discover a valid open source license.

[2020-02-13 17:19] whedon commented on #2100
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02100/joss.02100/10.21105.joss.02100.pdf)

[2020-02-13 17:21] danielskatz commented on #2100
👋 @waxlamp - we need an open source license in the repository.

Also, while I can see how this software is useful, can you explain how it is used in research? What problems does it help solve?

[2020-02-13 17:25] danielskatz commented on #2096
@whedon invite @arfon as editor

[2020-02-13 17:25] whedon commented on #2096
@arfon has been invited to edit this submission.

[2020-02-13 17:28] danielskatz commented on #1312
@MKLau - we need the paper to be a .md file here, with a .bib file, as shown in https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography  We will then build it with ```@whedon generate pdf``` (you can do this too to check)

[2020-02-13 17:28] danielskatz commented on #1312
@whedon generate pdf

[2020-02-13 17:28] whedon commented on #1312
PDF failed to compile for issue #1312 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1312/joss/paper.md): mapping values are not allowed in this context at line 74 column 72 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2020-02-13 17:29] danielskatz commented on #1312
@MKLau - please fix the problems in the .md and/or .bib files, perhaps updating them based on recent changes made for the rOpenSci process

[2020-02-13 17:56] aebergl commented on #1830
Thanks everyone!
@dsurujon & @ManuelaS for providing excellent suggestions and comments.
@cMadan & @danielskatz  for editing and questions.

[2020-02-13 18:18] xuanxu commented on #2078
@aureliocarnero: would you be willing to review this paper? I think your knowledge of Astrophysics and Python makes you a great fit for this submission.

[2020-02-13 18:24] christinahedges commented on #2078
Hey @xuanxu I could review this paper, but I believe the authors are visiting my group soon to collaborate. Would that make me conflicted? If not, happy to review!

[2020-02-13 18:26] arfon commented on #1832
@Cadair - please reformat the YAML header of your `paper.md` to match the [documented example](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

Specifically, your `affiliations` block is currently empty. Affiliations in JOSS papers need to be described separately and then referenced by their index which allows for more reuse of affiliations between authors.

[2020-02-13 18:29] aureliocarnero commented on #2078
sure! Im happy to review it

[2020-02-13 18:32] arfon commented on #2096
@whedon assign @arfon as editor

[2020-02-13 18:32] whedon commented on #2096
OK, the editor is @arfon

[2020-02-13 18:39] xuanxu commented on #2078
@christinahedges Thanks! If you don't have previous/recent association with the author and you think you can make an impartial scientific evaluation I don't think there's conflict, or if there is it's minor and can be waived.

[2020-02-13 18:40] tukiains commented on #2099
Potential reviewers (from the list) could be scivision, usethedata and josephhardinee. They all have experience in remote sensing / radars and Python.

[2020-02-13 18:45] xuanxu commented on #2078
Thanks @aureliocarnero & @christinahedges! I'll start the review issue now.

[2020-02-13 18:45] xuanxu commented on #2078
@whedon add @christinahedges as reviewer

[2020-02-13 18:46] whedon commented on #2078
OK, @christinahedges is now a reviewer

[2020-02-13 18:46] xuanxu commented on #2078
@whedon add @aureliocarnero as reviewer

[2020-02-13 18:46] whedon commented on #2078
OK, @aureliocarnero is now a reviewer

[2020-02-13 18:47] xuanxu commented on #2078
@whedon start review

[2020-02-13 18:47] whedon opened #2101 "[REVIEW]: LATTE: Lightcurve Analysis Tool for Transiting Exoplanets"
**Submitting author:** @noraeisner (<a href="http://orcid.org/0000-0002-9138-9028">N. L. Eisner</a>)
**Repository:** <a href="https://github.com/noraeisner/LATTE" target ="_blank">https://github.com/noraeisner/LATTE</a>
**Version:** v1.0.0
**Editor:** @xuanxu
**Reviewer:** @christinahedges, @aureliocarnero
**Archive:** <a href="https://doi.org/10.5281/zenodo.3831586" target="_blank">10.5281/zenodo

[2020-02-13 18:47] whedon commented on #2078
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2101.

[2020-02-13 18:47] #2078 closed

[2020-02-13 18:47] whedon commented on #2101
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @christinahedges, @aureliocarnero it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'

[2020-02-13 18:47] xuanxu commented on #2078
@christinahedges, @aureliocarnero: please head over to #2101 where the review will take place.

[2020-02-13 18:49] whedon commented on #2101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02101/joss.02101/10.21105.joss.02101.pdf)

[2020-02-13 18:53] xuanxu commented on #2101
@christinahedges, @aureliocarnero, @noraeisner: this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is differ

[2020-02-13 19:07] danielskatz commented on #2101
@xuanxu - be aware that being in an active collaboration is a conflict - perhaps this review can be completed before the collaboration between @christinahedges and the authors starts

[2020-02-13 19:16] dawbarton commented on #2093
I'm happy to review but I've got a heavy teaching load for the next 3 weeks so it'll have to be after that.

[2020-02-13 19:16] xuanxu commented on #2101
@danielskatz Agreed. By her comment I understood that she is not collaborating yet and I assumed there was time enough for the review to finish before the visit, but you are right that's just an assumption I made. @christinahedges can you please clarify this point?

[2020-02-13 19:19] MKLau commented on #1312
@danielskatz Ah ok, I’ll take a look.

[2020-02-13 19:25] arfon commented on #1830
Thanks. I've fixed this now.

[2020-02-13 19:25] #1830 closed

[2020-02-13 19:25] whedon commented on #1830
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01830/status.svg)](https://doi.org/10.21105/joss.01830)

**We need your help!**

Journal of Open Source Softwa

[2020-02-13 19:57] waxlamp commented on #2100
Hi @danielskatz, thank you for the fast response to our submission!

I've added a LICENSE file--Apache 2.0.

Here's a response from co-author Joseph Montoya:

*In the past five years, materials databases have become very popular because they enable their users to do rapid prototyping by searching near globally for figures of merit for their target application.  However, both scientists and enginee

[2020-02-13 20:02] daniellivingston commented on #2043
@anowacki Great package. Does what it claims and does it very well and very elegantly. A minor nitpick and probably a personal taste issue; feel free to ignore.

You write that "[d]ocumentation is available at a dedicated website" without explicitly spelling out the URL. I understand the URL is relatively long (https://anowacki.github.io/SeisModels.jl/stable/), and that embedded hyperlinks mean th

[2020-02-13 20:03] nathanlyons commented on #2066
@kyleniemeyer All `i.e.` and `e.g.` instances are now followed by commas. I will now work on the aforementioned workflow.

[2020-02-13 20:05] daniellivingston commented on #2043
Also, in the documentation (https://anowacki.github.io/SeisModels.jl/stable/#How-to-install-1), one finds this:

This should be changed to match your repo README:

[2020-02-13 20:11] daniellivingston commented on #2043
One of the review guidelines states:

Insofar as I can tell, discussions of third-party contributions are limited to this line in your README:

You may want to add a CONTRIBUTION.md document to the repo root, or just a small paragraph in the README expanding on your contribution process. You can find an over-the-top example of this here: https://reactjs.org/docs/how-to-contribute.html

[2020-02-13 20:48] arfon commented on #1277
👍 I agree with this assessment.

[2020-02-13 20:48] dfm commented on #2059
@rodluger: any chance you're available to review this submission? (It sounded like you could via email, but I wanted to confirm)

[2020-02-13 20:51] rodluger commented on #2059
Yes, happy to do it. Can you point me to reviewer instructions?

[2020-02-13 21:06] danasolav commented on #2060
@JoshuaSteer, have you tried a fresh installation of the package on Windows 10? I have been struggling in the last two days to get it running with no success. I keep having issues with dependencies. For example, it seems like installing ampscan already includes installation of vtk, but in the readme you ask to pre-install vtk, so I got an error when it unsuccessfully tried to uninstall the existin

[2020-02-13 21:27] taylor-a-barnes commented on #2091
@danielskatz I would be happy to review this submission.

[2020-02-13 21:28] danielskatz commented on #2091
Thanks @taylor-a-barnes - I'll add you, and we'll start the review process in a new thread - hang on...

[2020-02-13 21:29] danielskatz commented on #2091
@whedon add @taylor-a-barnes as reviewer

[2020-02-13 21:29] whedon commented on #2091
OK, @taylor-a-barnes is now a reviewer

[2020-02-13 21:29] danielskatz commented on #2091
@whedon start review

[2020-02-13 21:29] whedon opened #2102 "[REVIEW]: CarrierCapture.jl: Anharmonic Carrier Capture"
**Submitting author:** @frssp (<a href="http://orcid.org/0000-0001-5072-6801">Sunghyun Kim</a>)
**Repository:** <a href="https://github.com/WMD-group/CarrierCapture.jl" target ="_blank">https://github.com/WMD-group/CarrierCapture.jl</a>
**Version:** v0.3
**Editor:** @danielskatz
**Reviewer:** @utf, @taylor-a-barnes
**Archive:** <a href="https://doi.org/10.5281/zenodo.3707592" target="_blank">10.52

[2020-02-13 21:29] whedon commented on #2091
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2102.

[2020-02-13 21:29] #2091 closed

[2020-02-13 21:29] whedon commented on #2102
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @utf, @taylor-a-barnes it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-02-13 21:29] whedon commented on #2102
[code]

[2020-02-13 21:30] whedon commented on #2102
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02102/joss.02102/10.21105.joss.02102.pdf)

[2020-02-13 21:31] danielskatz commented on #2102
👋 @utf & @taylor-a-barnes - again, thanks very much for agreeing to this review.  Please read the comments above carefully, particularly in terms of accepting the invitation to be able to use the checkboxes, and in terms of not getting unwanted JOSS notifications.

[2020-02-13 21:31] MKLau commented on #1312
@whedon generate pdf

[2020-02-13 21:31] whedon commented on #1312
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01312/joss.01312/10.21105.joss.01312.pdf)

[2020-02-13 21:32] gkthiruvathukal commented on #1986
@geoffbacon Can you let me know whether our feedback/suggestions have been addressed so I can proceed toward acceptance?

[2020-02-13 21:32] christinahedges commented on #2101
Hi @xuanxu and @danielskatz, yes I am not currently collaborating with Norah, our collaboration starts in a few months. If you're happy this is not a conflict then I'm happy! 👍

[2020-02-13 21:32] MKLau commented on #1312
@danielskatz , looks like it should be good to go now.

[2020-02-13 21:33] danielskatz commented on #2102
Your job now is to examine the paper and the software, and to check off the items on your list that you can, and to explain what blocks you from checking off other items, either here if they are brief, or in new issues in the source repo if they are more complex.  (If you do open issues in the source repo, please mention this review issue in those issues so that we can see them here as well.)

We

[2020-02-13 21:33] anowacki commented on #2043
I have set up a branch [joss-review](https://github.com/anowacki/SeisModels.jl/tree/joss-review) in which I propose to make the changes before merging them in finally.

@daniellivingston—thank you very much for these helpful suggestions.

### Docs website URL

I'm very happy to go along with this and I have updated the manuscript accordingly.

### Contribution guidelines

Thank you for helping me

[2020-02-13 21:35] danielskatz commented on #2101
sounds good to me

[2020-02-13 21:38] danielskatz commented on #1312
thanks - I'll proofread this soon.

[2020-02-13 21:40] danielskatz commented on #1312
👋 @labarba - I now notice that you are listed as the editor - if you want to handle this from this point onward, please feel free.  If not, let me know and I'll switch it to me and finish it.

[2020-02-13 21:44] geoffbacon commented on #1986
@gkthiruvathukal Sorry - I thought having completed the checklist was sufficient to indicate that all the feedback/suggestions had been addressed. The paper/library is ready for acceptance from my point of view.

[2020-02-13 21:45] anowacki commented on #2043
@whedon generate pdf from branch joss-review

[2020-02-13 21:45] whedon commented on #2043
[code]

[2020-02-13 21:45] whedon commented on #2043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02043/joss.02043/10.21105.joss.02043.pdf)

[2020-02-13 21:46] kyleniemeyer commented on #2066
@nathanlyons thanks- let me know when your branch has been merged, and report back with a DOI associated with a Zenodo archive

[2020-02-13 21:47] danielskatz commented on #2100
Ok, thanks

[2020-02-13 21:47] danielskatz commented on #2100
You might want to add some of this to your paper and to your readme.

[2020-02-13 21:48] danielskatz commented on #2100
@whedon assign @danielskatz as editor

[2020-02-13 21:48] whedon commented on #2100
OK, the editor is @danielskatz

[2020-02-13 21:49] danielskatz commented on #2100
👋 @dgasmith - would you be willing to review this for JOSS?

[2020-02-13 21:50] danielskatz commented on #2100
👋 @waxlamp - if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-02-13 22:00] xuanxu commented on #2101
👍

[2020-02-13 22:03] anowacki commented on #2043
Docs are now [back up](https://anowacki.github.io/SeisModels.jl/dev/).  (The issue was [with Travis configuration](https://github.com/anowacki/SeisModels.jl/commit/f788c51a60c00000e422b2d53bc58925085cd744).)

[2020-02-13 22:21] cMadan commented on #2098
@danielskatz I can oversee the review process, but I don't think I'd be able to help find reviewers, so hopefully that part doesn't end up being too much of a problem

[2020-02-13 22:26] danielskatz commented on #2098
thanks - I can help, though it's not my field either, so let me know if you get stuck

[2020-02-13 22:26] danielskatz commented on #2098
@whedon assign @cMadan as editor

[2020-02-13 22:26] whedon commented on #2098
OK, the editor is @cMadan

[2020-02-13 22:38] 1313e commented on #2092
@sbrugman @mjsottile Sure, I would like to be a reviewer for this.

[2020-02-13 22:42] dfm commented on #2059
@rodluger: Thanks!

Here are the instructions: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

You'll see more in the review thread...

[2020-02-13 22:43] dfm commented on #2059
@whedon add @rodluger as reviewer

[2020-02-13 22:43] whedon commented on #2059
OK, @rodluger is now a reviewer

[2020-02-13 22:43] dfm commented on #2059
@whedon start review

[2020-02-13 22:43] whedon opened #2103 "[REVIEW]: fleck: Fast approximate light curves for starspot rotational modulation"
**Submitting author:** @bmorris3 (<a href="http://orcid.org/0000-0003-2528-3409">Brett Morris</a>)
**Repository:** <a href="https://github.com/bmorris3/fleck" target ="_blank">https://github.com/bmorris3/fleck</a>
**Version:** v1.0
**Editor:** @dfm
**Reviewer:** @nespinoza, @rodluger
**Archive:** <a href="https://doi.org/10.5281/zenodo.3700053" target="_blank">10.5281/zenodo.3700053</a>

## Status

[2020-02-13 22:43] whedon commented on #2059
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2103.

[2020-02-13 22:43] #2059 closed

[2020-02-13 22:43] whedon commented on #2103
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nespinoza, @rodluger it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-02-13 22:43] whedon commented on #2103
[code]

[2020-02-13 22:44] whedon commented on #2103
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02103/joss.02103/10.21105.joss.02103.pdf)

[2020-02-13 22:44] dfm commented on #2059
@bmorris3, @rodluger, @nespinoza: The review is now started over in https://github.com/openjournals/joss-reviews/issues/2103. Let's head that way. Let me know if you have any questions!

[2020-02-13 22:45] dfm commented on #2103
@rodluger, @nespinoza: Just a quick reminder that this has been submitted in collaboration with AAS. AAS makes a small donation to JOSS to support this process. For more information check out the following links and let me know if you have any issue with this:

- Blog post describing the collaboration: https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing
- Summary of JOSS fi

[2020-02-13 23:32] Marcdh3 commented on #1983
The paper and repo have been updated to reflect all of the suggestions from everyone. Thanks for all of the patience. Please let us know if there is anything else that still needs fixing.

[2020-02-13 23:49] rouson commented on #1555
Congrats, @jayten

[2020-02-13 23:58] nespinoza commented on #2103
Hi @bmorris3,

 First of all, thanks for this fantastic piece of software!

 I want to start my review by suggesting you mention in the documentation that this is a Python3-only package. I do know that this is now *the* Python standard, but it doesn't hurt to be nice to possible users --- especially given most OS older than ~last year come with Python 2.7 by default.

 In terms of the *functionali

[2020-02-14 00:22] Samreay commented on #2096
Hi @arfon - not this time, JOSS only. The primary results from using Pippin will be published in about a years time for the DES 5YR analysis cosmology results. The initial plan was to wait until then to publish Pippin as a companion paper, but its had enough uptake in the community we realised we shouldn't wait.

[2020-02-14 02:20] ckoerber commented on #2007
Hello @gkthiruvathukal,  @ixjlyons, and @remram44,

We would like to thank you for your feedback and patience. We have posted detailed responses to both referee replies as issues on the EspressoDB repo

* [[JOSS Review] Reply to referee @ixjlyons](https://github.com/callat-qcd/espressodb/issues/49)
* [[JOSS Review] Reply to referee @remram44](https://github.com/callat-qcd/espressodb/issues/50)

Fu

[2020-02-14 07:28] bmorris3 commented on #2103
Thanks so much for the initial review, @nespinoza! I really appreciated your close eye.

RE Functionality:
* I _should_ have done a pip release prior to submitting the paper, sorry I did not! I just pushed a newer version to PyPI which you should be able to grab with `pip install --upgrade fleck`. I also intend to do another release and increment to v0.1 once the JOSS submission is accepted.

RE D

[2020-02-14 08:12] tresoldi commented on #1986
Thank you, everyone! Anything I should do now, @gkthiruvathukal ?

[2020-02-14 09:08] whedon commented on #1866
:wave: @mpadge, please update us on how your review is going.

[2020-02-14 09:59] mpadge commented on #1866
just done. All good to go, except for one (very) minor comment i made regarding the `paper.md`, which could perhaps be improved prior to official publication by one final edit.

[2020-02-14 10:08] Cadair commented on #1832
@arfon What version of the `paper.md` is it pulling? The version on master and on the 1.0 both have a filled in `affiliations` block with references to the indexes etc. I think everything is spelt correctly and nothing is missing. :confused:

[2020-02-14 10:14] Kevin-Mattheus-Moerman commented on #2053
@korsbo after having reviewed your submission, the code functionality, the paper, and your additional comments here on research applications, the board has decided that this work is unfortunately not within scope for JOSS. In particular, although this is clearly well put together and very useful package, the research application is not substantial enough at present.
We thank you again for your sub

[2020-02-14 10:14] Kevin-Mattheus-Moerman commented on #2053
@whedon reject

[2020-02-14 10:14] whedon commented on #2053
Paper rejected.

[2020-02-14 10:14] #2053 closed

[2020-02-14 10:17] Kevin-Mattheus-Moerman commented on #2047
@nicoguaro great that you will work on these suggestions. If you do not mind I will pause this submission and will resume once you are ready with those developments. You can ping me here when you are ready.

[2020-02-14 10:43] oliviaguest commented on #1866
@JohnCoene is the missing tick in your review being addressed?

@mpadge thanks, great!

@pachamaltese are you clear on what edits needs to be made to satisfy the reviewers so far?

[2020-02-14 10:52] Kevin-Mattheus-Moerman commented on #2080
@prs513rosewood thanks for this submission. For works to be considered for JOSS the software repositories need to be fully public and allow for anybody to post issues and submit PR's to the software. This functionality does not seem to be enabled on your repository as far as I can see: https://c4science.ch/source/tamaas/.
Please enable this functionality now for this submission to be considered in

[2020-02-14 11:22] JohnCoene commented on #1866
@oliviaguest A wee tiny thing with the paper, an opened an issue [#12](https://github.com/pachamaltese/economiccomplexity/issues/12). When this is addressed it's all good on my end.

[2020-02-14 12:39] arfon commented on #1832
@whedon accept

[2020-02-14 12:39] whedon commented on #1832
[code]

[2020-02-14 12:39] whedon commented on #1832
[code]

[2020-02-14 12:40] whedon commented on #1832
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1303

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1303, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-14 12:41] arfon commented on #1832
@whedon accept deposit=true

[2020-02-14 12:41] whedon commented on #1832
[code]

[2020-02-14 12:42] whedon commented on #1832
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1228298569796530179) 👈 🐦🐦🐦

[2020-02-14 12:42] whedon commented on #1832
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1304
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01832](https://doi.org/10.21105/joss.01832)
2. If everything looks g

[2020-02-14 12:58] arfon commented on #1832
@mwcraig, @ceb8 - thanks again for your reviews here ✨

@Cadair - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-02-14 12:58] #1832 closed

[2020-02-14 12:58] whedon commented on #1832
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01832/status.svg)](https://doi.org/10.21105/joss.01832)

**We need your help!**

Journal of Open Source Softwa

[2020-02-14 13:00] Cadair commented on #1832
Thank you very much @arfon @ceb8 @mwcraig and everyone else :smile: :rocket:

[2020-02-14 13:09] arfon commented on #1832
BTW @Cadair, the formatting of the PDF (margin on second page) is as good as I could get the layout without completely rebuilding our LaTeX template. I hope this is acceptable :-)

[2020-02-14 13:14] Cadair commented on #1832
it looks good :) Happy to be causing chaos with a long author list :grinning:

[2020-02-14 13:47] prs513rosewood commented on #2080
Thanks for the feedback.

The issue tracker is not directly visible from the repository page, but is accessible from the project page (link on the left navigation bar): https://c4science.ch/project/view/2036/
There's also a link to submit bugs/issues to the tracker. As for PRs, the Phabricator procedure is described in [this guide](https://secure.phabricator.com/book/phabricator/article/arcanist/)

[2020-02-14 14:33] sjpfenninger commented on #2042
@Chillipp thanks for the review and @arbennett thanks for addressing them so rapidly! @arbennett can you make sure to address the point raised about covering _State of the field_ -- i.e., referring to other published packages that MetSim is comparable, complements, or goes beyond? From your response above it sounds like this kind of code is usually set up on an ad-hoc basis and there are no publis

[2020-02-14 14:34] sjpfenninger commented on #2042
@dsryberg looking forward to your review as well!

[2020-02-14 15:09] sjpfenninger commented on #2034
All right, I'm through with my review. Generally looks good, but I do have a couple of bigger points below. Happy to clarify anything if unclear!

## Minor comments

* One of the paper authors seems to have made no contributions to the code.

* Installation: is using environments generally a thing in the Julia world? Would it make sense to update instructions accordingly? (https://docs.julialang.o

[2020-02-14 15:25] SirSharpest commented on #2072
I have just pushed a series of commits which I feel address most of the concerns:

# Functionality

- A `--user` flag had been added
- Installation uses setuptools to install and setup the application and the requirements. A requirements.txt would be redundant as setuptools handles packages
- The examples notebook, and the readme.md have been updated to reflect software functionality

# Documentat

[2020-02-14 15:32] arfon commented on #2096
@temuller @kbarbary - would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-02-14 15:34] SirSharpest commented on #2072
I would also like to add, we are currently preparing to submit a paper which will cite this software, when it is published we will be able to provide additional real-world solutions. Until then, we are reluctant to add additional examples to prevent self-plagiarism or to remove novelty from our current research.

[2020-02-14 15:48] temuller commented on #2096
Hi,

I would be happy to do it, but I would like to have more details. For example, on what coding language is the submission? How much time do I have to review?

The more details, the better.

Regards
Tomás

_____________________________________________

Tomás E. Müller Bravo,
School of Physics and Astronomy,
University of Southampton,
Southampton, SO17 1BJ, UK
________________________________
Fr

[2020-02-14 15:56] arfon commented on #2096
Thanks for your interest @temuller. The software appears to be mostly written in Python 3.7 (https://github.com/Samreay/Pippin).

Ideally we'd like to have the review complete in 2-3 weeks. The review is checklist-driven and happens on GitHub. We have pretty detailed guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.htmll) for reviewers.

[2020-02-14 18:50] terrytangyuan commented on #2093
@whedon assign @sixpearls as reviewer

[2020-02-14 18:50] whedon commented on #2093
OK, @sixpearls is now a reviewer

[2020-02-14 18:51] terrytangyuan commented on #2093
@whedon add @dawbarton as reviewer

[2020-02-14 18:51] whedon commented on #2093
OK, @dawbarton is now a reviewer

[2020-02-14 18:52] terrytangyuan commented on #2093
Thanks @dawbarton this is fine. @sixpearls can probably review first and then you can start reviewing once you are available.

[2020-02-14 18:52] terrytangyuan commented on #2093
@whedon start review

[2020-02-14 18:52] whedon opened #2104 "[REVIEW]: PySINDy: A Python package for the sparse identification of nonlinear dynamical systems from data"
**Submitting author:** @briandesilva (<a href="http://orcid.org/0000-0003-0944-900X">Brian de Silva</a>)
**Repository:** <a href="https://github.com/dynamicslab/pysindy" target ="_blank">https://github.com/dynamicslab/pysindy</a>
**Version:** v0.12.0
**Editor:** @terrytangyuan
**Reviewer:** @sixpearls, @dawbarton
**Archive:** <a href="https://doi.org/10.5281/zenodo.3832319" target="_blank">10.5281

[2020-02-14 18:52] whedon commented on #2093
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2104.

[2020-02-14 18:52] whedon commented on #2104
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sixpearls, @dawbarton it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-02-14 18:53] terrytangyuan commented on #2093
Looking forward to your review in #2104!

[2020-02-14 18:53] #2093 closed

[2020-02-14 18:53] whedon commented on #2104
[code]

[2020-02-14 18:53] whedon commented on #2104
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02104/joss.02104/10.21105.joss.02104.pdf)

[2020-02-14 19:26] shirubana commented on #1865
@melissawm updates on the review process? :)  ty

[2020-02-14 19:30] danielskatz commented on #1312
@whedon assign @danielskatz as editor

[2020-02-14 19:32] danielskatz commented on #1312
👋 @cboettig, @benmarwick - as this is an rOpenSci paper, we don't need an independent JOSS review of the software, so your help will not be called on - also, sorry for what might have been too many notifications...

[2020-02-14 19:34] danielskatz commented on #1312
@whedon accept

[2020-02-14 19:34] whedon commented on #1312
No archive DOI set. Exiting...

[2020-02-14 19:35] danielskatz commented on #1312
👋 @MKLau - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and author list (ma

[2020-02-14 19:44] danielskatz commented on #1312
Also, please merge the changes in https://github.com/ropensci/Rclean/pull/202

[2020-02-14 20:07] kbarnhart commented on #2043
Thanks to @daniellivingston for completing your review and for @anowacki for addressing the raised issues. 🎉

@fhorrobin and @joa-quim please work to complete your reviews in the next week or so (or provide a time estimate here).

Thanks all for participating in the JOSS review process.

[2020-02-14 20:09] kbarnhart commented on #2075
Thanks for the update and for completing your review @chrisleaman!

[2020-02-14 20:22] pySRURGS commented on #2074
@nicoguaro  I have added multiprocessing support to ant.py
You may need to run
[code]
while in the main directory in order to install new requirements.

[2020-02-14 20:42] melissawm commented on #1865
@shirubana do you have any suggestions for reviewers from the potential reviewer's list for JOSS?

[2020-02-14 20:44] melissawm commented on #2049
@danielskatz I'm so sorry, I think I misread the conversation in the pre-review. Can I add new reviewers now?

[2020-02-14 20:45] shirubana commented on #1865
I remember there was a list to reviewers and their expretise but I can't find them

[2020-02-14 20:50] melissawm commented on #1865
[Here](https://bit.ly/joss-reviewers) it is.

[2020-02-14 21:02] dgasmith commented on #2100
@danielskatz My JS foo likely isn't sufficient to review the code base itself and I am busy for the next ~two weeks. Happy to serve as a backup however with the above caveats.

[2020-02-14 21:08] danielskatz commented on #2049
Yes, please do

[2020-02-14 21:17] danielskatz commented on #2100
@dgasmith - do you have suggestions for other potential reviewers?  I might also want to use you as the second reviewer, but I'll hold off on that for now...

[2020-02-14 21:29] arfon commented on #1949
@trallard - this looks like it's ready to move to review unless I'm missing something?

[2020-02-14 21:30] arfon commented on #2000
:wave: @trallard - it looks like @Ebedthan and @AKuederle are happy to review here so once they're assigned, the main review thread can be started.

[2020-02-14 22:29] waxlamp commented on #2100
luthaf, rcannood, ati-ozgur, and sptennak all seem like good matches for our project. There's a mix of network science, materials science, and JavaScript expertise amongst them (though not concentrated in any one person).

[2020-02-14 22:30] waxlamp commented on #2100
Thanks for this suggestion. I have folded some of that language into both the README and our paper text's introduction.

[2020-02-14 22:48] MKLau commented on #1312
Thanks @danielskatz for the edits.

I've reviewed and accepted your pull request and tagged as v1.1.8.

Here's the DOI and link to Zenodo.

10.5281/zenodo.3665732

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3665732.svg)](https://doi.org/10.5281/zenodo.3665732)

[2020-02-14 23:03] robqiao commented on #2068
@kthyng is this looking any better?

      68 text files.
      62 unique files.
      31 files ignored.

github.com/AlDanial/cloc v 1.84  T=0.28 s (129.9 files/s, 4776.5 lines/s)
-------------------------------------------------------------------------------
Language                     files          blank        comment           code
------------------------------------------------------------

[2020-02-15 00:02] danielskatz commented on #1312
@whedon set v1.1.8 as version

[2020-02-15 00:02] whedon commented on #1312
OK. v1.1.8 is the version.

[2020-02-15 00:02] danielskatz commented on #1312
@whedon set 10.5281/zenodo.3665732 as archive

[2020-02-15 00:02] whedon commented on #1312
OK. <a href="https://doi.org/10.5281/zenodo.3665732" target="_blank">10.5281/zenodo.3665732</a> is the archive.

[2020-02-15 00:02] danielskatz commented on #1312
@whedon accept

[2020-02-15 00:02] whedon commented on #1312
[code]

[2020-02-15 00:03] whedon commented on #1312
[code]

[2020-02-15 00:03] whedon commented on #1312
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1305

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1305, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-15 00:08] danielskatz commented on #1312
There are also some changes needed in the bib file - please merge https://github.com/ropensci/Rclean/pull/203

[2020-02-15 00:09] danielskatz commented on #1312
👋 @openjournals/dev - note the second author's name has gotten parsed incorrectly in the XML - should I accept this and then ask you to fix this manually?  Or can we do something before that?

[2020-02-15 00:12] kaashif commented on #1835
Oh, sorry, I made the changes but didn't publish a new version, doing that now

[2020-02-15 00:16] brandondube commented on #2073
Everything looks good to me now 🚀

[2020-02-15 00:20] danielskatz commented on #2100
👋 @luthaf, @rcannood, @ati-ozgur, @sptennak - would one or two of you be willing to review this submission to JOSS?

[2020-02-15 00:21] danielskatz commented on #2100
@whedon generate pdf

[2020-02-15 00:22] whedon commented on #2100
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02100/joss.02100/10.21105.joss.02100.pdf)

[2020-02-15 01:00] kaashif commented on #1835
Done, the manual examples, new non-flaky tests, and some changes from @alex-konovalov and @dimpase are now published in version 1.1.0: https://gap-packages.github.io/RepnDecomp/. Let me know what you think.

[2020-02-15 02:04] Luthaf commented on #2100
I'll be happy to!

[2020-02-15 02:20] danielskatz commented on #2100
Thanks. I’ll assign you now but we won’t start the review until we get another reviewer

[2020-02-15 02:20] danielskatz commented on #2100
@whedon assign @Luthaf as reviewer

[2020-02-15 02:20] whedon commented on #2100
OK, @Luthaf is now a reviewer

[2020-02-15 06:08] whedon commented on #2068
[code]

[2020-02-15 06:25] kose-y commented on #2062
I have checked and read documentations, your outside slides, and PROBPROG submission. I think this is a fantastic package resolving the "three-language problem" often arising from Bayesian inference (Although I'm not a Bayesian, I have used JAGS in a course before, and have seen how TensorFlow Probability and PyMC3 works.). However, the review process of JOSS is checklist-driven, and I have to com

[2020-02-15 06:57] rcannood commented on #2100
Count me in! :+1:

[2020-02-15 10:53] whedon commented on #1992
:wave: @olivertomic, please update us on how your review is going.

[2020-02-15 12:10] arfon commented on #2073
:wave: @DiegoJRR - thanks again for agreeing to review this submission. Do you have a rough ETA for completing this?

[2020-02-15 12:39] danielskatz commented on #2100
@whedon add @rcannood as reviewer

[2020-02-15 12:39] whedon commented on #2100
OK, @rcannood is now a reviewer

[2020-02-15 12:39] danielskatz commented on #2100
@whedon start review

[2020-02-15 12:39] whedon opened #2105 "[REVIEW]: MaterialNet: A web-based graph explorer for materials science data"
**Submitting author:** @waxlamp (<a href="http://orcid.org/0000-0003-3898-4626">Roni Choudhury</a>)
**Repository:** <a href="https://github.com/ToyotaResearchInstitute/materialnet" target ="_blank">https://github.com/ToyotaResearchInstitute/materialnet</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewer:** @Luthaf, @rcannood
**Archive:** <a href="https://doi.org/10.5281/zenodo.3701759" tar

[2020-02-15 12:39] whedon commented on #2100
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2105.

[2020-02-15 12:39] #2100 closed

[2020-02-15 12:39] whedon commented on #2105
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Luthaf, @rcannood it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2020-02-15 12:40] whedon commented on #2105
[code]

[2020-02-15 12:40] whedon commented on #2105
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02105/joss.02105/10.21105.joss.02105.pdf)

[2020-02-15 12:41] danielskatz commented on #2105
👋 @Luthaf & @rcannood - thanks for agreeing to review - here's where the action happens.

Please read the comments above carefully, particularly in terms of accepting the invitation to be able to use the checkboxes, and in terms of not getting unwanted JOSS notifications.

Your job now is to examine the paper and the software, and to check off the items on your list that you can, and to explain wh

[2020-02-15 13:36] arfon commented on #1312
@danielskatz - let's accept and then I'll fix afterwards.

[2020-02-15 14:05] cMadan commented on #2098
@Luthaf, it looks like things are in order! Can you look through the list of JOSS reviewers (linked in the first comment in this issue) and suggest some who may be suitable? Thanks!

[2020-02-15 16:25] trallard commented on #2000
Apologies for the delay my OOO extended and forgot to update. Moving this forward now

[2020-02-15 16:25] trallard commented on #2000
@whedon assign @Ebedthan as reviewer

[2020-02-15 16:25] whedon commented on #2000
OK, @Ebedthan is now a reviewer

[2020-02-15 16:25] trallard commented on #2000
@whedon add @AKuederle as reviewer

[2020-02-15 16:25] whedon commented on #2000
OK, @AKuederle is now a reviewer

[2020-02-15 16:26] trallard commented on #2000
@whedon start review

[2020-02-15 16:26] whedon opened #2106 "[REVIEW]: mhealthtools: A Modular R Package for Extracting Features from Mobile and Wearable Sensor Data"
**Submitting author:** @philerooski (<a href="http://orcid.org/0000-0002-6967-2185">Phillip Snyder</a>)
**Repository:** <a href="https://github.com/Sage-Bionetworks/mhealthtools" target ="_blank">https://github.com/Sage-Bionetworks/mhealthtools</a>
**Version:** 0.2.0
**Editor:** @trallard
**Reviewer:** @Ebedthan, @AKuederle
**Archive:** <a href="https://doi.org/10.5281/zenodo.3731707" target="_bla

[2020-02-15 16:26] whedon commented on #2000
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2106.

[2020-02-15 16:26] #2000 closed

[2020-02-15 16:26] whedon commented on #2106
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Ebedthan, @AKuederle it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-02-15 16:26] whedon commented on #2106
[code]

[2020-02-15 16:26] whedon commented on #2106
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02106/joss.02106/10.21105.joss.02106.pdf)

[2020-02-15 16:28] trallard commented on #1949
@whedon start review

[2020-02-15 16:28] whedon opened #2107 "[REVIEW]: SampleDB: A sample and measurement metadata database"
**Submitting author:** @FlorianRhiem (<a href="http://orcid.org/0000-0001-6461-9433">Florian Rhiem</a>)
**Repository:** <a href="https://github.com/sciapp/sampledb" target ="_blank">https://github.com/sciapp/sampledb</a>
**Version:** 0.17.0
**Editor:** @arfon
**Reviewer:** @stuartcampbell, @dvanic
**Archive:** <a href="https://doi.org/10.5281/zenodo.4529206" target="_blank">10.5281/zenodo.4529206<

[2020-02-15 16:28] whedon commented on #1949
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2107.

[2020-02-15 16:28] #1949 closed

[2020-02-15 16:28] whedon commented on #2107
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eteq, @dvanic it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2020-02-15 16:28] whedon commented on #2107
[code]

[2020-02-15 16:28] whedon commented on #2107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02107/joss.02107/10.21105.joss.02107.pdf)

[2020-02-15 16:43] vc1492a commented on #1983
Thanks @Marcdh3! I checked out the updated repository, the updates look great to me - thanks for integrating those. I do not see any other open issues from the notes above and the code and documentation is much improved.

I commented on one or two of the open issues as I believe they can now be closed. In addition, I think it would be great if you all could host the package on the Python Package I

[2020-02-15 16:51] MKLau commented on #1312
@danielskatz @arfon

If the multiple middle initials is a problem, he can be cited as Thomas Pasquier, as in this [paper](https://tfjmp.org/files/publications/scidata-2017.pdf).

[2020-02-15 18:40] danielskatz commented on #1312
It's not a problem, we can handle it.  However, we are waiting on

[2020-02-15 19:13] DiegoJRR commented on #2073
I'll do my best to have a review for tuesday, sorry for the delay.

[2020-02-15 20:22] jessie-dotson commented on #2050
My review is complete.  Recommend accepting as is.

I identified a couple of modest changes that would make the documentation more beginner friendly and filed those as issues in the SpiceyPy repository (#350 and #351).  These are not blockers in anyway, just suggestions to the author.

(An aside to JOSS editors...  I did confirm some functionality, but the package includes so many useful functions

[2020-02-15 21:11] kbarbary commented on #2096
Hey Arfon! Thanks for the invite. Unfortunately  I won't have the time to give this a thorough review. (I'm now a couple years removed from SN cosmology work.)

[2020-02-15 22:22] MKLau commented on #1312
@danielskatz Great, pull request accepted. Thanks for those fixes.

[2020-02-15 23:51] arfon commented on #2096
No worries. Thanks for getting back to me.

[2020-02-15 23:54] arfon commented on #2096
:wave: @grburgess - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-02-15 23:59] majensen commented on #2044
I've heard elsewhere from Simina; she has been delayed but will turn attention to the review soon.

[2020-02-16 00:04] gkthiruvathukal commented on #1986
@tresoldi Ok, we're on our way toward acceptance. Can you please check that all of the following are done?  I know that you may have done some of these already, but this makes my life easier once I signal to the EICs that we're ready to accept.

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] C

[2020-02-16 00:08] gkthiruvathukal commented on #2007
@ckoerber, @cchang5, and @walkloud, thank you for responding to the review feedback.

@ixjlyons and @remram44, please let me now if the team has addressed your feedback in a satisfactory manner. Then I can proceed to the next phase (acceptance).

[2020-02-16 08:28] DivyaSeernani commented on #2088
Hi there, I couldn't review this week, have a busy week ahead, and will only be able to get to this the week after. Should ideally have the review done by the end of the month.

[2020-02-16 09:55] oliviaguest commented on #2088
No problem. I'll set up a reminder for both of us. 😊

[2020-02-16 09:56] oliviaguest commented on #2088
@whedon remind @DivyaSeernani in 10 days

[2020-02-16 09:56] whedon commented on #2088
Reminder set for @DivyaSeernani in 10 days

[2020-02-16 10:14] tresoldi commented on #1986
Thank you, @gkthiruvathukal ! So that I am not the one checking the boxes:

- The tagged release is `v1.0.zenodo`: https://github.com/tresoldi/dafsa/releases/tag/v1.0.zenodo (the matching package is [on PyPi](https://pypi.org/project/dafsa/) as well, and I'll rebuild the Conda package after publication)
- The release is archived on Zenodo at: https://zenodo.org/record/3668870
- The Zenodo metadata

[2020-02-16 10:20] akashnag commented on #1815
Update: The title for the Zenodo archive did not match the paper title, I have now fixed it.

[2020-02-16 10:58] aureliocarnero commented on #2101
Dear @noraeisner, I'm reviewing the installation instructions, and following your recommendations, I came to a message error telling me that:

ModuleNotFoundError: No module named 'tkinter'

It was easy to solve it, I need to do a: "sudo apt-get install python3-tk", but I think it would be nice to explicitly say that in the documentation, same as you name with the matplotlib version: pip install m

[2020-02-16 11:09] aureliocarnero commented on #2101
Also, in the installation instructions, when you say that "The first time that the code is run it will also have to download the text data files from MAST (this only has to run once)."
Could you please state the size of the data that will be download? Which is ~325M
Thanks  @noraeisner

[2020-02-16 12:26] danielskatz commented on #1312
@whedon accept

[2020-02-16 12:26] whedon commented on #1312
[code]

[2020-02-16 12:26] whedon commented on #1312
[code]

[2020-02-16 12:27] whedon commented on #1312
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1306

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1306, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-16 12:28] danielskatz commented on #1312
@whedon accept

[2020-02-16 12:28] whedon commented on #1312
[code]

[2020-02-16 12:28] whedon commented on #1312
[code]

[2020-02-16 12:28] whedon commented on #1312
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1307

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1307, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-16 12:29] danielskatz commented on #1312
@whedon accept deposit=true

[2020-02-16 12:29] whedon commented on #1312
[code]

[2020-02-16 12:29] whedon commented on #1312
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1229020063447031808) 👈 🐦🐦🐦

[2020-02-16 12:29] whedon commented on #1312
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1308
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01312](https://doi.org/10.21105/joss.01312)
2. If everything looks g

[2020-02-16 12:33] danielskatz commented on #1312
👋 @arfon - over to you to fix the 2nd author in the metadata (xml file), then to close this

[2020-02-16 12:35] danielskatz commented on #1312
Thanks to @labarba for starting this process!

And congratulations to @MKLau and co-authors for this publication and the accompanying rOpenSci acceptance!

[2020-02-16 12:37] danielskatz commented on #2099
@whedon invite @jedbrown as editor

[2020-02-16 12:37] whedon commented on #2099
@jedbrown has been invited to edit this submission.

[2020-02-16 12:42] danielskatz commented on #1682
@kyleniemeyer - I don't have access to the repo being reviewed - it looks like it may be marked at private.  And having not heard from the author in a very long time, I think this submission should now be rejected, or if not now, after some additional short period as a last change (1 week?)

[2020-02-16 12:44] danielskatz commented on #1917
👋 @AustinNar - without a response soon, we will be forced to reject this submission

[2020-02-16 14:39] JoshuaSteer commented on #2060
@danasolav I work using Windows 10, and my build works fine at the moment. However, the recent versions of PyQt and VTK appear to be throwing some installation issues, so it may be best to adjust the installation instructions to just use pip rather than conda. I'll run some fresh installs on my machine to see if any issues. Can you send me some screenshots?

[2020-02-16 14:59] AustinNar commented on #1917
Hi, I am so sorry, these emails were getting routed to my junk folder. I
will take these actions this week.

On Sun, Feb 16, 2020, 7:44 AM Daniel S. Katz <notifications@github.com>
wrote:

[2020-02-16 15:13] danielskatz commented on #1917
great!

[2020-02-16 16:03] cddesja commented on #1941
@jrosen48 and @wjakethompson, I believe we have addressed all the outstanding issues. @jrosen48, please let us know if you think the state of the field has been described adequately.

[2020-02-16 16:05] olivertomic commented on #1992
I must admit that I am not sure any longer whether I am supposed to review the manuscript or not. 4 days ago whedon assigned me and then unassigned me and I interpreted this as being out. Or is it the other way around?

[2020-02-16 16:16] danielskatz commented on #1992
Yes, you should - the action @whedon took was, in the process of adding a reviewer, to unassign you than to reassign you.

[2020-02-16 16:30] olivertomic commented on #1992
OK, thanks for the update. I plan to start reviewing within a weeks time.

[2020-02-16 16:33] #2012 closed

[2020-02-16 16:34] will-rowe commented on #2014
Pinging @babinyurri again - please let us know if you are able to respond to these reviewer comments.

[2020-02-16 19:49] Ji-Zhang commented on #1608
Hi @arfon and @kellieotto , thank you for spotting the bug. This bug is now fixed. Please update to the latest version of `datacleanbot` and feel free to let me know if any questions. Thank you in advance.

[2020-02-16 20:10] pachamaltese commented on #1866
@whedon generate pdf

[2020-02-16 20:11] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-16 20:16] joa-quim commented on #2043
Hi @kbarnhart, any particular action that I take in order to be able to start checking my boxes? Tried but apparently I have no permission to do so.

[2020-02-16 20:16] pachamaltese commented on #1866
@whedon generate pdf

[2020-02-16 20:17] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-16 20:27] pachamaltese commented on #1866
@whedon generate pdf

[2020-02-16 20:28] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-16 20:31] kbarnhart commented on #2043
@whedon add @joa-quim  as reviewer

[2020-02-16 20:31] whedon commented on #2043
OK, @joa-quim  is now a reviewer

[2020-02-16 20:32] kbarnhart commented on #2043
@joa-quim try now.

[2020-02-16 20:39] joa-quim commented on #2043
Sorry, not yet. To be clear, I should be able to check the boxes at the beginning of this page, right?

[2020-02-16 20:45] kbarnhart commented on #2043
Yup. You should be able to check the checkboxes under "Review checklist for @joa-quim". I'm not entirely certain how to fix this, so I'm tagging @arfon who should be able to provide guidance.

[2020-02-16 20:48] joa-quim commented on #2043
Thanks. And I'll complete the review this week (I've already installed the package and run some examples).

[2020-02-16 20:56] hayesla commented on #2050
I've also completed my review, and I recommend accepting in its current form.

This is a really great package, and while it was quite a learning curve for me as I have never dealt with SPICE before, the SpiceyPy lessons were extremely helpful!

If I was to suggest things for the future (not in relation to this review) is to perhaps add more simple examples like the Cassini Position Example, and ha

[2020-02-16 21:12] pachamaltese commented on #1866
@JohnCoene this closed #12

[2020-02-16 21:15] JohnCoene commented on #1866
All good one my side! @oliviaguest @pachamaltese

[2020-02-16 21:58] oliviaguest commented on #1866
@JohnCoene wonderful! @mpadge does this address your concerns too?

[2020-02-16 21:59] oliviaguest commented on #1866
@whedon check references

[2020-02-16 21:59] whedon commented on #1866
[code]

[2020-02-16 22:07] oliviaguest commented on #1866
@pachamaltese please check those missing DOIs. 😅

[2020-02-16 23:57] kyleniemeyer commented on #1682
@danielskatz I can't access the repo either. I will send an email, but then I agree.

[2020-02-17 02:14] pachamaltese commented on #1866
@oliviaguest thanks lot, Dr. I also added a proof reading comment by a native speaker (Dr. @cantabile)

@whedon generate pdf

[2020-02-17 02:25] danielskatz commented on #1866
Commands to whedon need to be at the start of a new comment, as follows

[2020-02-17 02:25] danielskatz commented on #1866
@whedon generate pdf

[2020-02-17 02:26] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-17 02:34] pachamaltese commented on #1866
@whedon generate pdf

[2020-02-17 02:34] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-17 02:39] pachamaltese commented on #1866
@whedon generate pdf

[2020-02-17 02:40] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2020-02-17 02:40] pachamaltese commented on #1866
@whedon check references

[2020-02-17 02:40] whedon commented on #1866
[code]

[2020-02-17 03:54] miketuri commented on #1988
Hello @VivianePons, thank you for taking a look at this.  Your understanding is correct, this is essential for people using an older version of *ngspice* who want/need to perform parameter variations or Monte Carlo simulations (this package also allows people to take circuit measurements since this version of *ngspice* cannot--however, most waveform viewers can also do this).  The transistor model

[2020-02-17 04:43] poulson commented on #1371
@whedon set 10.5281/zenodo.3626651 as archive

[2020-02-17 04:43] whedon commented on #1371
OK. <a href="https://doi.org/10.5281/zenodo.3626651" target="_blank">10.5281/zenodo.3626651</a> is the archive.

[2020-02-17 04:44] poulson commented on #1371
@whedon set "branch: devel" as version

[2020-02-17 04:44] whedon commented on #1371
OK. "branch: devel" is the version.

[2020-02-17 04:46] poulson commented on #1371
@whedon set 0.0.2 as version

[2020-02-17 04:46] whedon commented on #1371
OK. 0.0.2 is the version.

[2020-02-17 04:46] poulson commented on #1371
:wave: @openjournals/joss-eics, this paper should be ready for final processing!

[2020-02-17 04:55] poulson commented on #1609
@whedon generate pdf

[2020-02-17 04:55] whedon commented on #1609
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01609/joss.01609/10.21105.joss.01609.pdf)

[2020-02-17 05:01] poulson commented on #1609
@whedon check references

[2020-02-17 05:01] whedon commented on #1609
[code]

[2020-02-17 05:03] poulson commented on #1609
@madvn -- would you mind fixing the one invalid DOI and then registering this package on zenodo and providing the link?

[2020-02-17 05:55] jedbrown commented on #2099
@whedon assign jedbrown as editor

[2020-02-17 05:55] whedon commented on #2099
OK, the editor is jedbrown

[2020-02-17 07:11] ixjlyons commented on #2007
@whedon generate pdf from branch v1.1.0

[2020-02-17 07:11] whedon commented on #2007
[code]

[2020-02-17 07:12] whedon commented on #2007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02007/joss.02007/10.21105.joss.02007.pdf)

[2020-02-17 08:04] oliviaguest commented on #1866
@mpadge if you are happy to tick the last checkbox, we're good to go.

[2020-02-17 08:55] VivianePons commented on #1835
Perfect!
@alex-konovalov let me know when you can complete the review
@falque where are you on this? Could you have a look and let me know?

[2020-02-17 09:36] drvinceknight commented on #1815
Thanks @danielskatz I have actually been doing that but realise that for two recent papers when I handed over to you that you made some subsequent edits. If this is the case here as well I think I'd appreciate a chat where I can understand how I can improve what I'm doing.

[2020-02-17 09:38] drvinceknight commented on #1815
@whedon set 10.5281/zenodo.3666101  as archive

[2020-02-17 09:38] whedon commented on #1815
OK. <a href="https://doi.org/10.5281/zenodo.3666101" target="_blank">10.5281/zenodo.3666101</a> is the archive.

[2020-02-17 09:39] drvinceknight commented on #1815
@openjournals/joss-eics this paper is now ready to be accepted. (I believe.)

[2020-02-17 09:41] drvinceknight commented on #2072
@markgalassi apologies for the nudge, do you know when you might have a moment to carry out your review?

[2020-02-17 09:42] drvinceknight commented on #1931
Thank you for your time @dawbarton and @marcharper if you could confirm you're happy with the modifications described that would be great.

[2020-02-17 09:42] babinyurii commented on #2014
Hello, @will-rowe! Now I've added answeres to the reviewers' comments.

[2020-02-17 09:44] dlagrava commented on #2095
@roshansamuel I have been trying to compile the code on Ubuntu 19.04. It seems that the yaml-cpp-dev that I get is newer than the version you used. I get the following:
error: ‘class YAML::Parser’ has no member named ‘GetNextDocument’; did you mean ‘HandleNextDocument’

It looks like you need yaml-cpp 0.3 and I get the 0.5 version from the package manager. Could you correct to ask for that particu

[2020-02-17 10:57] Luthaf commented on #2098
After looking through the list, I think mnf2014, nmoran, jochym, trallard, and utf have experience in related fields.

Additionally, b-freitas, kblin, leonardojaneis and zoomelectrico have experience with the web platform/javascript; which is the implementation language of chemiscope.

[2020-02-17 11:16] arcuri82 commented on #1960
Hi,
 it looks fine to me

[2020-02-17 11:38] fcooper8472 commented on #1848
@whedon generate pdf

[2020-02-17 11:39] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-02-17 11:46] fcooper8472 commented on #1848
@IgorBaratta @finsberg @meg-simula please see the latest version, which addresses the following points:

1. Information on the extent of changes since 2013, when the most recent previous paper about Chaste was published
2. A new section with comparison to similar software

Two things I see when looking at the proof:

1. The table (in the new comparison section) is badly formatted due to lengthy re

[2020-02-17 11:47] dawbarton commented on #1931
All looks good to me.

[2020-02-17 11:57] finsberg commented on #1848
Great! I have now checked off the final tick mark and can recommend this for publication.
I don't know if it is possible to change the reference style to use numbers instead? See e.g
https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_styles

[2020-02-17 11:57] danielskatz commented on #1371
@whedon accept

[2020-02-17 11:57] whedon commented on #1371
[code]

[2020-02-17 11:57] whedon commented on #1371
[code]

[2020-02-17 11:58] whedon commented on #1371
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1309

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1309, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-17 12:00] danielskatz commented on #1371
👋 @arfon - some of the refs in the XML have some new problems, and one has an old problem

[2020-02-17 12:02] fcooper8472 commented on #1848
@finsberg Great, thanks!

My mistake on the multiple refs - syntax is `;` rather than `,` separation.

For the table, I have just changed it to have the refs below in the caption, which is probably the easiest solution for the time being.

[2020-02-17 12:02] fcooper8472 commented on #1848
@whedon generate pdf

[2020-02-17 12:04] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-02-17 12:15] danielskatz commented on #1371
👋 @artivis - please merge https://github.com/artivis/manif/pull/125 and https://github.com/artivis/manif/pull/126

[2020-02-17 12:15] danielskatz commented on #1371
@arfon - note https://github.com/artivis/manif/pull/126 which might fix some of the xml issues

[2020-02-17 12:17] danielskatz commented on #1815
@whedon accept

[2020-02-17 12:17] whedon commented on #1815
[code]

[2020-02-17 12:18] whedon commented on #1815
[code]

[2020-02-17 12:18] whedon commented on #1815
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1310

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1310, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-17 12:18] arfon commented on #1312
Done.

[2020-02-17 12:18] #1312 closed

[2020-02-17 12:18] whedon commented on #1312
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01312/status.svg)](https://doi.org/10.21105/joss.01312)

**We need your help!**

Journal of Open Source Softwa

[2020-02-17 12:24] warrickball commented on #2048
The test run of the Sun runs fine but I tried to run using a [HARPS spectrum of HD38529](https://dataportal.eso.org/dataPortal/file/ADP.2018-11-14T01:07:37.242) that I downloaded off the [ESO Archive](http://archive.eso.org/) and got the error

[code]
I presume that FASMA expects the spectrum to be in a particular format (that includes the `CRVAL1` key in the FITS header) but this isn't documented