[2020-07-26 12:57] arfon commented on #2489
@whedon reject

[2020-07-26 12:58] whedon commented on #2489
Paper rejected.

[2020-07-26 12:58] #2489 closed

[2020-07-26 13:01] arfon commented on #2519
@s-goldman - this submission is on the smaller-side of what we are allowing in JOSS these days and I note the following comment in your submission message to JOSS:

Could you say a little more about the timeline for developing this? I could imagine that the addition of this functionality would make this a more compelling submission here.

[2020-07-26 13:26] Kevin-Mattheus-Moerman commented on #2367
@arfon if deletion is a long and slow process, there is an ugly work around. If the authors minted a new release (annoying but works), they could create a new archive with a different DOI. This way we could move on with this paper (and the other archived version can be removed at a later point). Let's try waiting for deletion first though.

[2020-07-26 14:24] egonw commented on #2510
@majensen, can you please email me asap on my first.lastname @ gmail? thanks.

[2020-07-26 15:06] pythonpanda2 commented on #1942
Sorry  for the delay. In between the peak review season now. I will have a looking this week.

[2020-07-26 15:46] dhhagan commented on #2509
Hey @terrytangyuan I haven't worked with a recent version of Julia and don't think I would be the best fit.

[2020-07-26 15:47] TeroFrondelius commented on #2464
@ahojukka5 what you think, would you have time for this review?

[2020-07-26 16:13] nuest commented on #2409
## First review notes

### General

- **Authorship**
  - The first author @lydialucchesi has primarily contributed to the JOSS paper - at least judging from the commits. Major code contributions were made by @pkuhnert. The third author has not made any contribution to the software himself, but I assume there is a significant contribution in algorithm design and the idea behind the package. I assum

[2020-07-26 16:18] terrytangyuan commented on #2509
@whedon assign @degleris1 as reviewer

[2020-07-26 16:18] whedon commented on #2509
OK, @degleris1 is now a reviewer

[2020-07-26 16:19] terrytangyuan commented on #2509
@matbesancon @ajgates42 Would any of you be interested in reviewing this submission? Thanks.

[2020-07-26 16:20] prs513rosewood commented on #2121
I've added clarification for these two points in the documentation. For reference `build_tests=True` is not necessary to the `scons test` command itself, it can be passed to any `scons` call, and it just activates the compilation of the tests. Once activated, there's no need to specify `build_tests=True`.

[2020-07-26 16:39] chennachaos commented on #2121
Thanks for the update @prs513rosewood!

[2020-07-26 16:45] boasvdp commented on #2473
# General
The described tool identifies carbapenemase genes from assembled bacterial genomes and produces additional plots, especially aimed at co-carriage. The identification of carbapenemase genes is possible through other tools, but I am unaware of any tools which produce the additional plots that are included in the CPgeneProfiler output. The tool is installable (although this could be improve

[2020-07-26 16:45] chennachaos commented on #2121
Hi @Kevin-Mattheus-Moerman, I now have completed my review of the **Tamaas** library. The submitting author @prs513rosewood has addressed all of my concerns/remarks. I have verified personally that the library works as claimed.

I recommend **Tamaas** for publication in JOSS.

Thank you for the opportunity!

[2020-07-26 16:58] eloisabentivegna commented on #2517
@whedon assign @eloisabentivegna as editor

@Kevin-Mattheus-Moerman, sure!

[2020-07-26 16:58] whedon commented on #2517
OK, the editor is @eloisabentivegna

[2020-07-26 17:22] Kevin-Mattheus-Moerman commented on #2464
@PetrKryslUCSD @TeroFrondelius I'll start the review issue now to avoid further delay. @ahojukka5 if you are able to help that would be great and I can still add you as a reviewer later.

[2020-07-26 17:22] Kevin-Mattheus-Moerman commented on #2464
@whedon start review

[2020-07-26 17:22] whedon opened #2520 "[REVIEW]: Gridap: An extensible Finite Element toolbox in Julia"
**Submitting author:** @fverdugo (<a href="http://orcid.org/0000-0003-3667-443X">Francesc Verdugo</a>)
**Repository:** <a href="https://github.com/gridap/Gridap.jl" target ="_blank">https://github.com/gridap/Gridap.jl</a>
**Version:** v0.13.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @PetrKryslUCSD, @TeroFrondelius, @KristofferC
**Archive:** <a href="https://doi.org/10.5281/zenodo.3999839

[2020-07-26 17:22] whedon commented on #2464
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2520.

[2020-07-26 17:22] #2464 closed

[2020-07-26 17:22] whedon commented on #2520
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @PetrKryslUCSD, @TeroFrondelius it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2020-07-26 17:23] whedon commented on #2520
PDF failed to compile for issue #2520 with the following error:

 Can't find any papers to compile :-(

[2020-07-26 17:24] Kevin-Mattheus-Moerman commented on #2520
@whedon generate pdf from branch joss

[2020-07-26 17:24] whedon commented on #2520
[code]

[2020-07-26 17:24] whedon commented on #2520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02520/joss.02520/10.21105.joss.02520.pdf)

[2020-07-26 17:27] Zethson commented on #2510
Yes, I would do it. ETA 14 days is fine?  Saturday, 25 July 2020, 08:29PM +02:00 from Mark Jensen  notifications@github.com :

[2020-07-26 17:29] Kevin-Mattheus-Moerman commented on #2520
@PetrKryslUCSD @TeroFrondelius this is where the review of the [paper](https://github.com/openjournals/joss-papers/blob/joss.02520/joss.02520/10.21105.joss.02520.pdf) and the [software](https://github.com/gridap/Gridap.jl) takes place. You each have a set of checkboxes at the top of this issue to guide you through the process. You can leave small comments here but for larger items we encourage you

[2020-07-26 18:01] fboehm commented on #2499
@whedon add @chainsawriot as reviewer

[2020-07-26 18:01] whedon commented on #2499
OK, @chainsawriot is now a reviewer

[2020-07-26 18:01] fboehm commented on #2499
@whedon start review

[2020-07-26 18:01] whedon opened #2521 "[REVIEW]: EFAtools: An R package with fast and flexible implementations of exploratory factor analysis tools"
**Submitting author:** @mdsteiner (<a href="http://orcid.org/0000-0002-8126-0757">Markus Steiner</a>)
**Repository:** <a href="https://github.com/mdsteiner/EFAtools" target ="_blank">https://github.com/mdsteiner/EFAtools</a>
**Version:** v0.1.1
**Editor:** @fboehm
**Reviewers:** @jacobsoj, @chainsawriot
**Archive:** <a href="https://doi.org/10.5281/zenodo.4032509" target="_blank">10.5281/zenodo.40

[2020-07-26 18:01] whedon commented on #2499
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2521.

[2020-07-26 18:01] #2499 closed

[2020-07-26 18:01] whedon commented on #2521
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jacobsoj, @chainsawriot it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-07-26 18:02] whedon commented on #2521
[code]

[2020-07-26 18:02] whedon commented on #2521
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02521/joss.02521/10.21105.joss.02521.pdf)

[2020-07-26 18:05] KristofferC commented on #2464
FWIW, if still needed, I can probably look at it as well.

[2020-07-26 19:06] majensen commented on #2510
@Zethson that would be great. Thanks very much

[2020-07-26 19:07] majensen commented on #2510
@whedon add @Zethson as reviewer

[2020-07-26 19:07] whedon commented on #2510
OK, @Zethson is now a reviewer

[2020-07-26 19:30] srmnitc commented on #2121
@prs513rosewood Thanks for the updates. With the changes, I have ticked all the points in my review. @Kevin-Mattheus-Moerman,  With that, I would like to recommend Tamaas for publication in JOSS and thanks to everyone involved!

[2020-07-26 19:50] RainierBarrett commented on #2367
Thanks @arfon I'll try asking Zenodo to delete and get back as soon as I hear from them.

[2020-07-26 20:08] Kevin-Mattheus-Moerman commented on #2477
@jgostick @katyhuff @richardjgowers @kyleniemeyer would one of you be able to handle this submission?

[2020-07-26 20:11] Kevin-Mattheus-Moerman commented on #2476
@kerkelae can you work on those missing DOI's? You can call `@whedon generate pdf` to regenerate the paper and use `@whedon check references` to see if the DOI's are fixed.

[2020-07-26 20:13] Kevin-Mattheus-Moerman commented on #2476
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-07-26 20:13] whedon commented on #2476
OK, the editor is @Kevin-Mattheus-Moerman

[2020-07-26 20:15] Kevin-Mattheus-Moerman commented on #2476
@whedon assign @DARSakthi as reviewer

[2020-07-26 20:15] whedon commented on #2476
OK, @DARSakthi is now a reviewer

[2020-07-26 20:18] Kevin-Mattheus-Moerman commented on #2476
@mathieuboudreau, @grlee77, would you be interested in reviewing this work? You appear to have become my go-to-reviewers for MRI related stuff. Please do let me know if you feel I'm inviting you too often.

@ritagnunes @mfroeling this work may also interest you. Would you be able to help with this review too?

Thanks!

[2020-07-26 20:25] Kevin-Mattheus-Moerman commented on #2476
@mstimberg @hanayik would you be interested in reviewing this work for JOSS?
The [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub and will focus on the [short paper](https://github.com/openjournals/joss-papers/blob/joss.02476/joss.02476/10.21105.joss.02476.pdf) and [the software](https://github.com/kerkelae/disimpy).

This is a pre-review issue

[2020-07-26 20:28] Kevin-Mattheus-Moerman commented on #2488
@tbrown122387 this is a friendly reminder that some points were raised :point_up: we'd like you to work on. Let us know if you have any questions.

[2020-07-26 20:29] Kevin-Mattheus-Moerman commented on #2459
@whedon assign @gkthiruvathukal as editor

[2020-07-26 20:29] whedon commented on #2459
OK, the editor is @gkthiruvathukal

[2020-07-26 20:32] Kevin-Mattheus-Moerman commented on #2464
@KristofferC great I'll add you over at the review issue #2520

[2020-07-26 20:33] Kevin-Mattheus-Moerman commented on #2520
@whedon add @KristofferC as reviewer

[2020-07-26 20:33] whedon commented on #2520
OK, @KristofferC is now a reviewer

[2020-07-26 20:36] Kevin-Mattheus-Moerman commented on #2520
@KristofferC thanks for also helping with this review. See the instructions above for more information about the review process. Let me know if you have any questions.

[2020-07-26 20:37] whedon opened #2522 "[PRE REVIEW]: chorrrds: An R package for music chords extraction and analysis"
**Submitting author:** @brunaw (<a href="http://orcid.org/0000-0001-8163-220X">Bruna Wundervald</a>)
**Repository:** <a href="https://github.com/r-music/chorrrds" target ="_blank">https://github.com/r-music/chorrrds</a>
**Version:**  0.1.9.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-07-26 20:37] whedon commented on #2522
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-26 20:38] whedon commented on #2522
[code]

[2020-07-26 20:38] whedon commented on #2522
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02522/joss.02522/10.21105.joss.02522.pdf)

[2020-07-26 20:40] Kevin-Mattheus-Moerman commented on #2522
@whedon check repository

[2020-07-26 20:40] whedon commented on #2522
Failed to discover a `Statement of need` section in paper

[2020-07-26 20:40] whedon commented on #2522
[code]

[2020-07-26 20:45] Kevin-Mattheus-Moerman commented on #2522
@whedon query scope

[2020-07-26 20:45] whedon commented on #2522
Submission flagged for editorial review.

[2020-07-26 20:48] Kevin-Mattheus-Moerman commented on #2121
@whedon generate pdf

[2020-07-26 20:49] whedon commented on #2121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02121/joss.02121/10.21105.joss.02121.pdf)

[2020-07-26 21:02] Kevin-Mattheus-Moerman commented on #2121
@prs513rosewood now that all the reviews are complete I will continue to process this work for acceptance in JOSS. Below are some points needing your attention:

- [ ] This submission is about to be processed for acceptance. Please thoroughly check the paper yourself. In particular check the author name, affiliations and acknowledgements.
- [ ] Fix the typo in `paralelized`, which should be `paral

[2020-07-26 21:05] prs513rosewood commented on #2121
Thanks @agshvarts, @likask, @chennachaos and @srmnitc for the valuable feedback, as well as @Kevin-Mattheus-Moerman and everyone else involved for the smooth review process! I'm excited to have a publication in JOSS attached to this code.

[2020-07-26 21:09] Kevin-Mattheus-Moerman commented on #2511
@whedon query scope

[2020-07-26 21:09] whedon commented on #2511
Submission flagged for editorial review.

[2020-07-26 21:49] katyhuff commented on #2477
I'm pretty over-committed over the next month. If someone else could take it, I would appreciate that.

[2020-07-26 21:50] gkthiruvathukal commented on #2400
@logological Yes, it looks like we are ready for the next steps. Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here. [That answers your question above!]
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author lis

[2020-07-26 23:05] tbrown122387 commented on #2488
@labarba @Kevin-Mattheus-Moerman sorry for the delayed response, but yes, thank you very much for the timely and informative feedback. I plan on taking an axe to this puppy and making all of the required changes. I’m a little short on time at the moment, but y’all will hear from me shortly.

[2020-07-26 23:09] zingale commented on #2491
I can do this, but note that I am not an observer.

[2020-07-26 23:21] PetrKryslUCSD commented on #2520
Filed three issues: https://github.com/gridap/Gridap.jl/issues/334, https://github.com/gridap/Gridap.jl/issues/335, https://github.com/gridap/Gridap.jl/issues/336.

[2020-07-26 23:39] CBenghi commented on #2274
Hello,
I don't have a MATLAB environment readily available.
But if you can't find another reviewer I'll be able to set one up once back
from leave in mid August.
Ping me again then, if needed.

Sorry for the inconvenience.

Claudio

Il Dom 26 Lug 2020, 01:36 Kevin Mattheus Moerman <notifications@github.com>
ha scritto:

[2020-07-26 23:46] mathieuboudreau commented on #2476
What's the typical turnaround time you expect from reviewers? I'd be interested in reviewing, however my next three weeks or so are pretty packed because of the annual ISMRM (MRI) conference, and I am also already a reviewer for another JOSS submission.

[2020-07-27 00:21] karthik commented on #2472
Thanks @stemangiola

Let me know once you've merged the spell checks. I found some more (see below) but you may have addressed those in the issues. Be sure to address:

[code]

<details>
 <summary>Possible spelling errors in the package</summary>
<pre><code>
DESCRIPTION does not contain 'Language' field. Defaulting to 'en-US'.
  WORD              FOUND IN
acceots           ifelse_pipe.Rd:5,22

[2020-07-27 00:21] karthik commented on #2472
@whedon generate pdf

[2020-07-27 00:22] whedon commented on #2472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02472/joss.02472/10.21105.joss.02472.pdf)

[2020-07-27 00:26] karthik commented on #2472
@whedon check references

[2020-07-27 00:26] whedon commented on #2472
[code]

[2020-07-27 00:31] karthik commented on #2472
@whedon set version to v1.1.1

[2020-07-27 00:31] whedon commented on #2472
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-27 00:32] karthik commented on #2472
@whedon set v1.1.1 as version

[2020-07-27 00:32] whedon commented on #2472
OK. v1.1.1 is the version.

[2020-07-27 00:41] stemangiola commented on #2472
@whedon generate pdf

[2020-07-27 00:42] whedon commented on #2472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02472/joss.02472/10.21105.joss.02472.pdf)

[2020-07-27 01:03] stemangiola commented on #2472
@whedon generate pdf

[2020-07-27 01:04] whedon commented on #2472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02472/joss.02472/10.21105.joss.02472.pdf)

[2020-07-27 01:31] majensen commented on #2503
Hi @amoeba - would this [JOSS](https://joss.theoj.org) [submission](#2503) be of interest to you for review? thanks for considering - @majensen

[2020-07-27 03:31] dghoshal-lbl commented on #2351
@muhrin I was able to run the test following our discussion in the github issue thread. All my questions have been addressed and I think the paper is good to go.

Just a couple of minor comments, which might be worth fixing:
i) It would be good to mention the required python version.
ii) For the test suite, it might be worth mentioning what all services should be running prior to running the tests

[2020-07-27 05:44] cMadan commented on #2166
@gkiar @yarikoptic, do you know when you might be able to look over these changes? Thanks!

[2020-07-27 05:54] cMadan commented on #2506
Hi @kinow,

Q1. For publication at JOSS, we would require install instructions and some form of testing. (E.g., automated tests are not required, but some minimal example of input/output would be.) As is the case here, then we would then wait for the author to work on those aspects of the project, and the review is 'on-going' until the project is suitable for publication. So, it's not just a 'one-

[2020-07-27 05:57] cMadan commented on #2226
@DominiqueMakowski @johannes-titz @paul-buerkner, would you be available and interested in reviewing this submission? Thanks for your consideration!

[2020-07-27 06:04] kinow commented on #2506
Thanks a lot @cMadan !

[2020-07-27 06:44] Kevin-Mattheus-Moerman commented on #2274
@whedon assign @AnaWaldila as reviewer

[2020-07-27 06:44] whedon commented on #2274
OK, @AnaWaldila is now a reviewer

[2020-07-27 06:46] Kevin-Mattheus-Moerman commented on #2274
@CBenghi thanks that would be great. I'll add you for now so we can get started and I'll remind you mid-August. If you have difficulties installing/setting up MATLAB let me know.

@asmusskar can you comment on how compatible this work is with Octave? Does it run in Octave or not really? Are special MATLAB toolboxes required?

[2020-07-27 06:46] Kevin-Mattheus-Moerman commented on #2274
@whedon add @CBenghi as reviewer

[2020-07-27 06:46] whedon commented on #2274
OK, @CBenghi is now a reviewer

[2020-07-27 06:49] Kevin-Mattheus-Moerman commented on #2274
@ShiyongYu-cloud thanks again for offering to help review this work. I'd be happy to add you as reviewer but it would be good it you could share a professional profile (e.g. university link, ORCID, LinkedIn), or add one to your GitHub profile, so your expertise and background are visible to us.

[2020-07-27 06:50] Kevin-Mattheus-Moerman commented on #2274
@mdelcambre @satish-annigeri @abhiramm7 would you be interested in reviewing this civil engineering related submission for JOSS (The Journal of Open Source Software):
ALVA: An adaptive MATLAB package for layered viscoelastic elastic analysis

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-papers/blob/joss.02274/joss.02274/10.21105.joss.02274.

[2020-07-27 06:58] Kevin-Mattheus-Moerman commented on #2476
@mathieuboudreau thanks for getting back to me. I understand. We typically aim for 2 weeks but with all the COVID mayhem we've slowed down quite a bit. I hope to find 3 reviewers. I'll keep you on standby if that is okay and will add you if I cannot find sufficient reviewers. If so we will of course be patient to accommodate your time schedule.

[2020-07-27 07:00] Kevin-Mattheus-Moerman commented on #2174
@NicolasHug see these required changes :point_up:

[2020-07-27 07:10] Kevin-Mattheus-Moerman commented on #2488
@tbrown122387 thanks. I've paused this submission for now. We'll remove the paused label once we've heard back from you with those changes.

[2020-07-27 07:21] keurfonluu commented on #2412
Sorry for the delay, got a couple of deadlines.

I've added a short conclusion to the paper after the example. Please find below the release version number and DOI:
- version: v1.3.2
- DOI: 10.5281/zenodo.3961279

[2020-07-27 07:45] grlee77 commented on #2476
I am interested, but would not be able to start my review until Aug. 5th.

[2020-07-27 08:11] Kevin-Mattheus-Moerman commented on #2476
@grlee77 that is fine. Thanks again for your help!!! :clap:

[2020-07-27 08:11] Kevin-Mattheus-Moerman commented on #2476
@whedon add @grlee77 as reviewer

[2020-07-27 08:11] whedon commented on #2476
OK, @grlee77 is now a reviewer

[2020-07-27 08:20] ziotom78 commented on #2363
Hi @sambit-giri , I have almost finished my review. Everything looks ok, apart from one issue with the automatic tests. I have opened an issue (see above), once this is fixed my review is complete.

[2020-07-27 08:21] smarie commented on #2465
Thanks @arfon . Can you please express the reason for rejection a bit more clearly so that I am able to take this into account in my next submission to JOSS ? In particular why is this criterion not met :

(this can be an opportunity to clarify the definition so that next time people in my situation do not spend effort to submit, and you do not spend effort to review :) )

[2020-07-27 08:37] mikldk commented on #2383
@ha0ye, @kdpeterson51, @rrrlw: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-07-27 08:39] mikldk commented on #2388
@hope-data-science I apologise for the delay, but am confident that both @tomsing1 and @rcannood will look at this when they are back from holiday. @tomsing1, @rcannood: Can you give a rough estimate of when you will be able to finish this review?

[2020-07-27 08:50] hope-data-science commented on #2388
Thank you for the feedback. I am currently working on the unit test of the package (from comments of @rcannood ), which will take weeks as some functions have some details to test out. I'll make feedbacks when there are new progresses.

Thanks.

[2020-07-27 08:53] mikldk commented on #2388
That sounds good. Thank you for the update.

[2020-07-27 09:12] leouieda commented on #2236
Thank you @seisman 👍🏽

[2020-07-27 09:12] leouieda commented on #2236
@whedon assign @seisman as reviewer

[2020-07-27 09:12] whedon commented on #2236
OK, @seisman is now a reviewer

[2020-07-27 09:18] logological commented on #2400
OK, the new release tag in GitHub is as follows: 2.27
The Zendo DOI is as follows: 10.5281/zenodo.3961322

[2020-07-27 09:18] ramadatta commented on #2473
@boasvdp - Thank you so much for the comments!

I actually intended to make this package helpful to biologists who have only little experience in R. I am working on the package currently and trying to make it modular. I also appreciate both of your suggestions on changing the database and working on this. I am making an effort to make the functionality more flexible. Thanks again!

[2020-07-27 09:53] TomGoffrey commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-27 09:53] whedon commented on #2182
[code]

[2020-07-27 09:54] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-07-27 09:59] asmusskar commented on #2274
Hi.

The package should be fully compatible with Octave. At least this is what I have heard from other users.

Asmus

Sendt fra min iPhone

[2020-07-27 10:07] blsqr commented on #2316
@lorenanicole We were wondering how we should proceed here? Could you perhaps give us a brief update? The current status is summarised in [the comment above](https://github.com/openjournals/joss-reviews/issues/2316#issuecomment-658135716).

[2020-07-27 10:11] chainsawriot commented on #2521
Thanks @mdsteiner & Co. for this wonderful package.

# Software paper

The paper is well written. But I don't know the policy of JOSS enough about citing "Manuscript in preparation". (Could @fboehm confirm this?) Obviously, the two authors are probably the only persons having that paper now. I can't 'see Grieder & Steiner, 2020', as per the in-text citation.

I have 2 suggestions:

1. Put it as a

[2020-07-27 11:04] ziotom78 commented on #2363
Ok, [issue #7](https://github.com/sambit-giri/tools21cm/issues/7) is closed, my review is complete. Thank you all!

[2020-07-27 11:29] sambit-giri commented on #2363
Thanks @ziotom78 !

[2020-07-27 11:29] stemangiola commented on #2472
Thanks. Done.

[2020-07-27 11:29] stemangiola commented on #2472
@karthik Thanks. Done.

[2020-07-27 11:37] arfon commented on #2496
@whedon re-invite @andybond13 as reviewer

[2020-07-27 11:37] whedon commented on #2496
OK, the reviewer has been re-invited.

@andybond13 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-27 11:41] Chilipp commented on #1942
thanks @benjaminbolling! I'll have a look at it within this week

[2020-07-27 11:43] barischrooneyj commented on #2496
@diehlpk @andybond13 I'm in the process of moving house/country, so I can get around to addressing your comments and I will also do another pass of the documentation, next week. I will let you know when that pass is done. Best, Jeremy

[2020-07-27 12:16] tomaslaz commented on #2474
The suggested DOI is for a paper, however, we cite a book.

[2020-07-27 12:38] fverdugo commented on #2520
I have created a new milestone

https://github.com/gridap/Gridap.jl/issues?q=is%3Aopen+is%3Aissue+milestone%3Ajoss_paper

to track the progress in addressing all the issues associated with this review.

You are welcome to use it, when opening a new issue in Gridap associated with this review.

[2020-07-27 12:57] ritagnunes commented on #2476
Hi Kevin,

my schedule is also tight in the next few weeks with ISMRM, but as long as
it is not urgent, I am happy to review it too.

Thanks
Rita

On Sun, Jul 26, 2020 at 9:18 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-07-27 13:15] jgostick commented on #2412
@whedon accept

[2020-07-27 13:15] whedon commented on #2412
No archive DOI set. Exiting...

[2020-07-27 13:16] jgostick commented on #2412
@whedon set 10.5281/zenodo.3961279 as archive

[2020-07-27 13:16] whedon commented on #2412
OK. <a href="https://doi.org/10.5281/zenodo.3961279" target="_blank">10.5281/zenodo.3961279</a> is the archive.

[2020-07-27 13:16] jgostick commented on #2412
@whedon accept

[2020-07-27 13:16] whedon commented on #2412
[code]

[2020-07-27 13:17] jgostick commented on #2412
Hi @keurfonluu this paper is now accepted.  Thanks to the reviewers for time!

[2020-07-27 13:18] whedon commented on #2412
[code]

[2020-07-27 13:18] whedon commented on #2412
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1593

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1593, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-27 13:20] kegiljarhus commented on #2513
Dear @eloisabentivegna and @zingale. This is my first review for JOSS, so please bear with me. I have gone through the review checklist. I had no problems installing the software, running a problem and visualizing the results. Castro is a highly advanced software package which solves relevant scientific problems using state-of-the-art numerical methods. The software seems well-designed and the doc

[2020-07-27 13:30] kegiljarhus commented on #2480
Dear @sjpfenninger . I apologize for the delay, I have been away on summer holiday. I did in fact make two commits with slight rewording just after your comment in the pre-review, they are included in the current article proof here. Please let me know if I should further clarify the statement of need before proceeding with the review.

[2020-07-27 13:34] rrrlw commented on #2383
I would be happy to review.

[2020-07-27 13:36] wouterbeukema commented on #2518
@whedon generate pdf

[2020-07-27 13:37] whedon commented on #2518
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02518/joss.02518/10.21105.joss.02518.pdf)

[2020-07-27 13:40] wouterbeukema commented on #2518
@whedon check references

[2020-07-27 13:40] whedon commented on #2518
[code]

[2020-07-27 13:44] jflournoy commented on #2394
Okay, @oliviaguest, I believe all boxes are checked. Thank you so much, @OttaviaE, for being so responsive; I'm glad my suggestions were harmonious with your goals for this software and the paper. And more so, thanks for writing this package!

[2020-07-27 13:51] OttaviaE commented on #2394
Thank you so much @jflournoy I really appreciated your help and suggestions, they definetly improved `implicitMeasures` =)
Thanks

[2020-07-27 13:51] wouterbeukema commented on #2518
Hi @Kevin-Mattheus-Moerman, thanks. I browsed through the list of potential reviewers and checked their work - I'd like to suggest KristinaRiemer.

[2020-07-27 14:09] s-goldman commented on #2519
@arfon Yeah sure, I developed that Bayesian-fitting functionality, but I got stuck on what to give the user as the default priors given that they're not well constrained. I was hoping to constrain them over the next year (using data from PHAT) and present them with the Bayesian-fitting module with my next paper.

I think that the current brute-force least-squares fitting method is the more adaptab

[2020-07-27 14:37] oliviaguest commented on #2394
@jflournoy oooh! fabulous! thank you for all this! 🥳

[2020-07-27 14:44] arfon commented on #2448
@whedon generate pdf

[2020-07-27 14:45] whedon commented on #2448
PDF failed to compile for issue #2448 with the following error:

 pandoc-citeproc: reference mbdemoraes not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.333 }

Looks like we failed to compile the PDF

[2020-07-27 14:46] oliviaguest commented on #2394
@whedon accept

[2020-07-27 14:46] whedon commented on #2394
No archive DOI set. Exiting...

[2020-07-27 14:47] oliviaguest commented on #2394
@OttaviaE can you deposit the code in a repository (on Zenodo, figshare, or other) and post the archive DOI here?

[2020-07-27 14:47] oliviaguest commented on #2467
@whedon start review

[2020-07-27 14:47] whedon opened #2523 "[REVIEW]: causal-curve: A Python Causal Inference Package to Estimate Causal Dose-Response Curves"
**Submitting author:** @ronikobrosly (<a href="http://orcid.org/0000-0003-0363-9662">Roni Kobrosly</a>)
**Repository:** <a href="https://github.com/ronikobrosly/causal-curve" target ="_blank">https://github.com/ronikobrosly/causal-curve</a>
**Version:** v0.3.7
**Editor:** @oliviaguest
**Reviewer:** @cmparlettpelleriti, @tomfaulkenberry, @alexjonesphd
**Archive:** <a href="https://doi.org/10.5281/z

[2020-07-27 14:47] whedon commented on #2467
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2523.

[2020-07-27 14:47] #2467 closed

[2020-07-27 14:47] whedon commented on #2523
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmparlettpelleriti, @tomfaulkenberry, @alexjonesphd it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that m

[2020-07-27 14:48] whedon commented on #2523
[code]

[2020-07-27 14:48] whedon commented on #2523
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02523/joss.02523/10.21105.joss.02523.pdf)

[2020-07-27 14:48] oliviaguest commented on #2467
👋 @cmparlettpelleriti, @tomfaulkenberry, @alexjonesphd: please go to #2523 to get the review started! ✨

[2020-07-27 14:50] oliviaguest commented on #2523
Hi everybody! @ronikobrosly, @cmparlettpelleriti, @tomfaulkenberry, @alexjonesphd — welcome to where the review itself is going to be.

Any questions please ask me. Any very code-related issues use the repo of the code and open an issue and link to it from here. **All** other issues, feedback, questions for me or the author, please use this issue. Anything you need, check above first as there is a

[2020-07-27 14:50] arfon commented on #2448
@whedon generate pdf

[2020-07-27 14:51] oliviaguest commented on #2377
@Emma-k-ward if you get a moment to check and tick off the final few boxes that would be amazing. 😊

[2020-07-27 14:51] whedon commented on #2448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02448/joss.02448/10.21105.joss.02448.pdf)

[2020-07-27 14:51] arfon commented on #2448
Looks like there was some weirdness going on with whitespace at the top of the issue (I'm still trying to figure out exactly what went wrong here but it seems to be fixed now)

[2020-07-27 14:53] arfon commented on #2517
The issue is that Whedon (and git) can't clone a URL like this: `https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/tree/joss/joss`

I've updated the URL for the repo to be `https://gitlab.kitware.com/LBM/lattice-boltzmann-solver`

[2020-07-27 14:54] arfon commented on #2517
@whedon generate pdf

[2020-07-27 14:54] ronikobrosly commented on #2523
Just wanted to say that I appreciate everyone's help with this, especially during these times when everyone's bandwidth is limited.

[2020-07-27 14:54] whedon commented on #2517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02517/joss.02517/10.21105.joss.02517.pdf)

[2020-07-27 14:56] LukasAdamowicz commented on #2449
Hi, is there any update on this @galessiorob @gweissman?

Thanks!

[2020-07-27 14:58] OttaviaE commented on #2394
@oliviaguest of course! it should be https://doi.org/10.5281/zenodo.3961817 but I guess it still has to be activated

[2020-07-27 15:04] NicolasHug commented on #2174
I have removed the space, thanks.

Regarding the affiliation, would you have more detailed guidelines? The current version seems to be compliant with the [instructions](https://joss.readthedocs.io/en/latest/submitting.html), judging by the provided example.

[2020-07-27 15:25] kthyng commented on #2412
@whedon set v1.3.2 as version

[2020-07-27 15:25] whedon commented on #2412
OK. v1.3.2 is the version.

[2020-07-27 15:26] kthyng commented on #2412
@keurfonluu I'm wrapping up the publication of your paper this week. Can you change the metadata on your Zenodo archive so that the title and author list exactly matches your paper? This is not a requirement, but it looks better and is preferred.

[2020-07-27 15:32] whedon opened #2524 "[PRE REVIEW]: waspr: an R package for computing Wasserstein barycenters of subset posteriors"
**Submitting author:** @joliencremers (<a href="http://orcid.org/0000-0002-0037-1747">Jolien Cremers</a>)
**Repository:** <a href="https://github.com/joliencremers/waspr" target ="_blank">https://github.com/joliencremers/waspr</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-07-27 15:33] whedon commented on #2524
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-27 15:33] whedon opened #2525 "[PRE REVIEW]: qualR: An R package to download Sao Paulo air pollution data"
**Submitting author:** @quishqa (<a href="http://orcid.org/0000-0002-7371-1116">Mario Eduardo Gavidia Calderón</a>)
**Repository:** <a href="https://github.com/quishqa/qualR/" target ="_blank">https://github.com/quishqa/qualR/</a>
**Version:** v0.9.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-07-27 15:33] whedon commented on #2525
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-27 15:33] whedon commented on #2524
[code]

[2020-07-27 15:33] whedon commented on #2525
[code]

[2020-07-27 15:33] whedon commented on #2524
[code]

[2020-07-27 15:33] whedon commented on #2524
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02524/joss.02524/10.21105.joss.02524.pdf)

[2020-07-27 15:33] whedon commented on #2525
[code]

[2020-07-27 15:33] whedon commented on #2525
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02525/joss.02525/10.21105.joss.02525.pdf)

[2020-07-27 15:35] kthyng commented on #2524
@whedon query scope

[2020-07-27 15:35] whedon commented on #2524
Submission flagged for editorial review.

[2020-07-27 15:37] kthyng commented on #2525
@whedon query scope

[2020-07-27 15:37] whedon commented on #2525
Submission flagged for editorial review.

[2020-07-27 15:54] quishqa commented on #2525
@whedon commands

El lun., 27 de jul. de 2020 a la(s) 12:33, whedon (notifications@github.com)
escribió:

--
*Mario Gavidia Calderón*
*Engenheiro **ambiental e Doutorando em Meteorologia *

Instituto de Astronomia, Geofísica e Ciências Atmosféricas
Universidade de São Paulo
Rua do Matao Matão, 1226 - Sala 308
Cidade Universitária
São Paulo,SP,Brasil
CEP:05508-090

[2020-07-27 15:54] whedon commented on #2525
Here are some things you can ask me to do:

[code]

[2020-07-27 15:56] xuanxu commented on #2491
Thanks @zingale! I'll assign you now and wait to have a second reviewer before starting the review issue. Stay tuned!

[2020-07-27 15:56] xuanxu commented on #2491
@whedon add @zingale as reviewer

[2020-07-27 15:57] whedon commented on #2491
OK, @zingale is now a reviewer

[2020-07-27 16:04] sritchie commented on #2403
@diehlpk okay, done. let me regenerate

[2020-07-27 16:04] sritchie commented on #2403
@whedon generate pdf

[2020-07-27 16:05] whedon commented on #2403
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02403/joss.02403/10.21105.joss.02403.pdf)

[2020-07-27 16:10] karthik commented on #2472
@stemangiola Can you please deposit your software in Zenodo and post the DOI here?

[2020-07-27 16:12] MAnalytics commented on #2379
@karthik @njtierney I am looking forward to this. Regards.

[2020-07-27 16:28] prs513rosewood commented on #2121
@Kevin-Mattheus-Moerman The DOI for version 2.1.3 of Tamaas is `10.5281/zenodo.3961890`. The DOI for all version of Tamaas is `10.5281/zenodo.3479236`. I've made the required corrections to the paper, but I'd like to submit my changes to my co-authors before finishing the acceptance process.

[2020-07-27 16:28] prs513rosewood commented on #2121
@whedon generate pdf

[2020-07-27 16:29] whedon commented on #2121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02121/joss.02121/10.21105.joss.02121.pdf)

[2020-07-27 16:43] fboehm commented on #2521
Regarding comments from @chainsawriot about the manuscript and the manuscript in preparation, it would be ideal if the authors can post a preprint and cite it, but, if that's not possible, then I like the other suggestion from @chainsawriot, too.

[2020-07-27 16:44] karthik commented on #2482
@cmaimone and @timchurches , thank you for the review and your thoughts on the paper. I note both of you concurring that this is not substantive enough to count as a scholarly effort for JOSS and I also see the additional concerns raised by @timchurches

You presume correct. JOSS does not mentor papers into completion. Editors at rOpenSci will have to decide if this is a fit, but for JOSS we just

[2020-07-27 16:44] fboehm commented on #2474
Thanks for double-checking the doi, @tomaslaz. We'll proceed without a doi for that reference.

[2020-07-27 16:52] usethedata commented on #2483
👋 @arbennett -- any update on your review?

[2020-07-27 17:10] jessie-dotson commented on #2382
@KathrynJones1 awesome!  Nice job jumping right on those!  You might want to go ahead and close those issues in your catwoman github repository.  That way if anyone were following the trail from here to there, it'd be really really clear the typos were all fixed!

Also, I opened a couple other issues in your repository.  I didn't link them here because (imho) they aren't blockers for the JOSS revi

[2020-07-27 17:16] pmkruyen commented on #2506
@whedon generate pdf

[2020-07-27 17:16] whedon commented on #2506
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf)

[2020-07-27 17:22] mikldk commented on #2383
@whedon assign @daviddewhurst as reviewer

[2020-07-27 17:22] whedon commented on #2383
OK, @daviddewhurst is now a reviewer

[2020-07-27 17:23] mikldk commented on #2383
@whedon add @rrrlw as reviewer

[2020-07-27 17:23] whedon commented on #2383
OK, @rrrlw is now a reviewer

[2020-07-27 17:23] mikldk commented on #2383
Thanks, @daviddewhurst and @rrrlw . I will create the review issue shortly.

[2020-07-27 17:24] mikldk commented on #2383
@whedon start review

[2020-07-27 17:24] whedon opened #2526 "[REVIEW]: hal9001: Scalable highly adaptive lasso regression in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/tlverse/hal9001" target ="_blank">https://github.com/tlverse/hal9001</a>
**Version:** v0.2.7
**Editor:** @mikldk
**Reviewer:** @daviddewhurst, @rrrlw
**Archive:** <a href="https://doi.org/10.5281/zenodo.4050561" target="_blank">10.5281/zenodo.4050561</a>

**:

[2020-07-27 17:24] whedon commented on #2383
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2526.

[2020-07-27 17:24] #2383 closed

[2020-07-27 17:24] whedon commented on #2526
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @daviddewhurst, @rrrlw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-07-27 17:25] whedon commented on #2526
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02526/joss.02526/10.21105.joss.02526.pdf)

[2020-07-27 17:25] mikldk commented on #2526
@whedon check references

[2020-07-27 17:25] whedon commented on #2526
[code]

[2020-07-27 17:25] whedon commented on #2526
[code]

[2020-07-27 17:26] keurfonluu commented on #2412
Done!

[2020-07-27 17:26] mikldk commented on #2526
@daviddewhurst, @rrrlw: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this revi

[2020-07-27 18:26] RainierBarrett commented on #2367
Alright all @arfon @Kevin-Mattheus-Moerman @RMeli @richardjgowers, Zenodo support was quick to reply and we just had to delete the old archive and re-upload to get a specific DOI for the archive. It's up now at https://zenodo.org/record/3962305. Thanks for your patience, and sorry for the confusion.

[2020-07-27 18:49] kthyng commented on #2482
@cmaimone and @timchurches, @karthik, @adamgdobrakowski: I will pause this submission as this is considered, thank you!

[2020-07-27 18:54] kthyng commented on #2412
@whedon accept deposit=true

[2020-07-27 18:54] whedon commented on #2412
[code]

[2020-07-27 18:55] whedon commented on #2412
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1287823981509312512) 👈 🐦🐦🐦

[2020-07-27 18:55] whedon commented on #2412
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1594
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02412](https://doi.org/10.21105/joss.02412)
2. If everything looks g

[2020-07-27 19:11] arbennett commented on #2483
@usethedata thanks for the reminder! I am working on the review now!

[2020-07-27 19:49] arbennett commented on #2483
:wave: Hi @samvanstroud - thanks for developing pyveg, I think it sounds like a very nice tool for processing GEE vegetation data. However, in reviewing this I came across a few difficulties that I think need to be addressed before accepting this for publication. I have opened a few issues on the `monitoring-ecosystem-resilience` for organization. Here is a list:

- [] - [Example configuration doe

[2020-07-27 19:49] mjsottile commented on #2462
@whedon check references

[2020-07-27 19:50] whedon commented on #2462
[code]

[2020-07-27 19:50] mjsottile commented on #2462
@whedon generate pdf

[2020-07-27 19:51] whedon commented on #2462
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02462/joss.02462/10.21105.joss.02462.pdf)

[2020-07-27 19:56] diehlpk commented on #2496
@barischrooneyj Good luck with the move.

[2020-07-27 20:03] mjsottile commented on #2462
@zdelrosario : Please fix the citations in the last section of the paper.  It appears that you use commas to separate multiple entries in a single citation block, which is causing the reference names to appear in the text instead of the correct citations.  Instead you should use semicolons.  See: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

Once you've fixe

[2020-07-27 20:07] jessie-dotson commented on #2382
The text of the paper has a performance metric which I interpret as saying that it takes ~ 340 seconds to generate 1 million limb-darkened lightcurves each with 100 data points.  I can't reproduce that metric.   I have a different processor (2.6 GHz Intel Core i7) and am finding it takes about 4x longer.  The case I ran took 1415 seconds to create 1 million light curves with 100 data points.    Ad

[2020-07-27 20:23] diehlpk commented on #2514
@whedon add @emconsta as reviewer

[2020-07-27 20:24] whedon commented on #2514
OK, @emconsta is now a reviewer

[2020-07-27 20:35] zdelrosario commented on #2462
@whedon generate pdf

[2020-07-27 20:35] whedon commented on #2462
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02462/joss.02462/10.21105.joss.02462.pdf)

[2020-07-27 20:45] zdelrosario commented on #2462
@mjsottile I have uploaded py_grama v0.1.3 (matching version above) to Figshare, under the DOI: https://doi.org/10.6084/m9.figshare.12725066.v1

[2020-07-27 20:49] sebdalgarno commented on #2319
Hi @Kevin-Mattheus-Moerman. Thanks for the suggestions to expand on functionality that shinyssdtools provides in addition to sddtools and it’s impact contribution to the scientific community. I’ve now added these to the paper and will now regenerate the pdf.

With respect to additional functionality, shinyssdtools provides: translation to French; generation of R code to reproduce results from a se

[2020-07-27 20:49] sebdalgarno commented on #2319
@whedon generate pdf

[2020-07-27 20:49] whedon commented on #2319
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02319/joss.02319/10.21105.joss.02319.pdf)

[2020-07-27 21:02] quishqa commented on #2525
After checking the list of potential reviewers I would like to suggest jaeyk and dwinter

[2020-07-27 21:16] sebdalgarno commented on #2319
@whedon generate pdf

[2020-07-27 21:16] whedon commented on #2319
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02319/joss.02319/10.21105.joss.02319.pdf)

[2020-07-27 21:24] kbarnhart commented on #2292
@jrkasprzyk and @dickinsonre a friendly reminder to complete your review and/or provide a quick update here on when you anticipate being able to complete it. Thanks!

[2020-07-27 21:26] waxlamp commented on #2410
Hi @lpantano! Looks like we have two reviewers now, is that right? I have a suggested name in case you need someone else.

[2020-07-27 21:27] sebdalgarno commented on #2319
@whedon generate pdf

[2020-07-27 21:27] whedon commented on #2319
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02319/joss.02319/10.21105.joss.02319.pdf)

[2020-07-27 21:30] kbarnhart commented on #2407
@sadielbartholomew and @rabernat I wanted to check in with a friendly reminder that we are asking reviewers to complete their reviews within 6 weeks (in about 2 weeks). Please let me know how I can assist throughout the JOSS review process.

[2020-07-27 21:44] mjsottile commented on #2462
@whedon set https://doi.org/10.6084/m9.figshare.12725066.v1 as archive

[2020-07-27 21:44] whedon commented on #2462
OK. <a href="https://doi.org/10.6084/m9.figshare.12725066.v1" target="_blank">10.6084/m9.figshare.12725066.v1</a> is the archive.

[2020-07-27 21:45] mjsottile commented on #2462
@whedon accept

[2020-07-27 21:45] whedon commented on #2462
[code]

[2020-07-27 21:45] whedon commented on #2462
[code]

[2020-07-27 21:45] whedon commented on #2462
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1595

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1595, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-27 21:55] lpantano commented on #2410
yes, we have two!

[2020-07-27 21:55] mjsottile commented on #2426
:wave: @ionlights Would you be interested in reviewing this submission for JOSS? Based on your information in the potential-reviewers spreadsheet, this appears to be near your areas of interest.  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-07-27 21:59] waxlamp commented on #2410
Great, thanks for confirming!

[2020-07-27 22:18] kthyng commented on #2412
Congrats to @jgostick on your new publication!! Thanks so much for @rreinecke and @ma-sadeghi for reviewing, and to @jgostick for editing — this whole process cannot happen without you and your expertise!

[2020-07-27 22:18] #2412 closed

[2020-07-27 22:18] whedon commented on #2412
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02412/status.svg)](https://doi.org/10.21105/joss.02412)

**We need your help!**

Journal of Open Source Softwa

[2020-07-27 22:21] kthyng commented on #2462
Hi @zdelrosario! I'm taking over to finish publication of this paper. I'm not so familiar with figshare, but can you edit the metadata on your archive there so that the title and author list match your paper for this publication? It's nice to have it consistent.

[2020-07-27 22:28] gkthiruvathukal commented on #2400
Thanks, @logological!

[2020-07-27 22:29] gkthiruvathukal commented on #2400
@whedon commands

[2020-07-27 22:29] whedon commented on #2400
Here are some things you can ask me to do:

[code]

[2020-07-27 22:30] gkthiruvathukal commented on #2400
@whedon set 10.5281/zenodo.3961322 as archive

[2020-07-27 22:30] whedon commented on #2400
OK. <a href="https://doi.org/10.5281/zenodo.3961322" target="_blank">10.5281/zenodo.3961322</a> is the archive.

[2020-07-27 22:31] gkthiruvathukal commented on #2400
@whedon set 2.27 as release

[2020-07-27 22:31] whedon commented on #2400
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-27 22:31] gkthiruvathukal commented on #2400
@whedon set 2.27 as version

[2020-07-27 22:31] whedon commented on #2400
OK. 2.27 is the version.

[2020-07-27 22:34] gkthiruvathukal commented on #2400
It appears all of the items on my checklist are addressed, @logological.

@openjournals/jose-eics I'm ready to proceed with accepting this submission.

[2020-07-27 22:34] gkthiruvathukal commented on #2400
@openjournals/joss-eics My bad, this is for JOSS, not JOSE. :)

[2020-07-27 22:34] zdelrosario commented on #2462
Hi @kthyng! I've updated the Figshare title to match and have confirmed that the author is me. In case it's useful here's the DOI again: https://doi.org/10.6084/m9.figshare.12725066.v2

[2020-07-27 22:34] gkthiruvathukal commented on #2400
Autocomplete got the best of me.

[2020-07-27 22:37] gkthiruvathukal commented on #2400
Just for clarity, @openjournals/joss-eics I am ready to proceed with acceptance of this submission.

[2020-07-27 23:01] cadop commented on #2404
@ejhigson Thank you very much!

@AKuederle Thank you for the in-depth review and time you spent on considering the package for the community.  Please let me know if we need to continue some of the issue discussions as I have left them for you to close in your perspective.  As for the points you raise, I think its overall a fair assessment.  For some clarity, the package name is similar to `mwarp1d

[2020-07-28 01:23] GregoryAshton commented on #2489
Hi @arfon and @labarba, my apologies for a delayed response. I didn't see this thread until today.

I'm disappointed to see the rejection, is there any opportunity to revise and resubmit? If possible, I'd like clarity on the reasoning of "small size and limited application". What does the size refer to? The size of the repository or the paper? If the former, this code is far more than just a wrapp

[2020-07-28 04:24] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-28 04:24] whedon commented on #2182
[code]

[2020-07-28 04:24] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-07-28 05:24] DamienIrving commented on #2425
I've finished my review. My overall comment is that this package is a much needed resource for the oceanographic community and I commend the authors for taking on the task of developing and releasing argopy. I recommend that this paper be published with JOSS after consideration of a few minor comments relating to the following criteria in the checklist:
* **Community guidelines:** It might be a go

[2020-07-28 06:24] will-rowe commented on #2473
Thank you very much for your review @boasvdp.

@ramadatta - please let us know when you have had chance to respond to these comments and are ready for us to take another look over your submission.

[2020-07-28 06:30] will-rowe commented on #2451
Hi @mjsull. Just want to check back in with this. Looks like we now have 2 excellent reviews completed for you. Please let us know when you have had chance to address these comments and we can take another look over the submission.

[2020-07-28 07:21] jhale commented on #2372
The authors have satisfactorily addressed the comments in my initial review, so I am pleased to recommend to @Kevin-Mattheus-Moerman that the article be accepted.

[2020-07-28 07:41] will-rowe commented on #2493
Hi @kuangmeng

Thanks for the submission! I've been reading through it this morning and have a couple of things I'd like before we put this out for review.

* I'm not an MSA algorithm researcher so am finding this a little hard to find a use case for. It would be great if you could provide a usage example, ideally for a real-world analysis problem. This will also help me find reviewers for your su

[2020-07-28 07:52] bonh commented on #2513
@eloisabentivegna @zingale Thanks for letting me help in the review. I have already cloned the repo and briefly looked through the awesome software and paper. I will be done with the first round of review (and by my first impression this is the final round too) by Friday afternoon this week.

[2020-07-28 08:04] pmkruyen commented on #2506
Hi @gcdeshpande and @kinow,

To give a short update:

- Because the App Store approved version 1.0.48 of the app, I merged the developer and master branch in the GitHup repro to keep things manageable. The GitHub version is 1.0.49. Both versions are similar except that version 1.0.49 offers researchers the possibility to change the numbers of survey modules while version 1.0.48 does not offer this

[2020-07-28 08:39] megies commented on #2236
@leouieda I'm actually not using pandas a lot, so maybe there could be better options. Maybe @thomaslecocq? But if no other people come forward I can be a backup.

[2020-07-28 08:39] MrMinimal64 commented on #2392
in the meantime a preprint version has been published on [arXiv.org](http://arxiv.org/abs/2007.13152)

[2020-07-28 10:03] Kevin-Mattheus-Moerman commented on #2476
@whedon add @ritagnunes as reviewer

[2020-07-28 10:03] whedon commented on #2476
OK, @ritagnunes is now a reviewer

[2020-07-28 10:04] Kevin-Mattheus-Moerman commented on #2476
@whedon start review

[2020-07-28 10:04] whedon opened #2527 "[REVIEW]: Disimpy: A massively parallel Monte Carlo simulator for synthesizing diffusion-weighted MRI data in Python"
**Submitting author:** @kerkelae (<a href="http://orcid.org/0000-0001-9446-4305">Leevi Kerkelä</a>)
**Repository:** <a href="https://github.com/kerkelae/disimpy" target ="_blank">https://github.com/kerkelae/disimpy</a>
**Version:** v0.1.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @DARSakthi, @grlee77, @ritagnunes
**Archive:** <a href="https://doi.org/10.5281/zenodo.4001687" target="_blank"

[2020-07-28 10:04] whedon commented on #2476
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2527.

[2020-07-28 10:04] #2476 closed

[2020-07-28 10:04] whedon commented on #2527
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @DARSakthi, @grlee77, @ritagnunes it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2020-07-28 10:05] whedon commented on #2527
[code]

[2020-07-28 10:05] whedon commented on #2527
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02527/joss.02527/10.21105.joss.02527.pdf)

[2020-07-28 11:00] OttaviaE commented on #2394
@oliviaguest it appears that the archive DOI is finally active!

[2020-07-28 12:02] RMeli commented on #2367
@whedon generate pdf from branch joss-paper-branch

[2020-07-28 12:02] whedon commented on #2367
[code]

[2020-07-28 12:03] whedon commented on #2367
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02367/joss.02367/10.21105.joss.02367.pdf)

[2020-07-28 12:19] meg-simula commented on #2094
Just checking in here - all the boxes have been checked it seems - what are your thoughts on the current state of the submission @DorianDepriester @ralfHielscher

[2020-07-28 12:19] meg-simula commented on #2094
/ooo July 28 until August 10

[2020-07-28 12:20] meg-simula commented on #2369
@thelfer @kinnala Just checking in here - could you update us on the status of the review and response to the reviewers' comments?

[2020-07-28 12:21] meg-simula commented on #2369
/ooo July 28 until August 10

[2020-07-28 12:21] meg-simula commented on #2313
/ooo July 28 until August 10

[2020-07-28 12:22] meg-simula commented on #2313
Thanks for your understanding @peanutfun - I dropped my phone in the Skagerak which, combined with two-factor authorization, made logging into GitHub terribly difficult :laughing: I will take a look at this when I'm back on August 10 if not sooner.

[2020-07-28 12:29] kuangmeng commented on #2493
@will-rowe Thanks for your comments and I will revise the README and additional testing issues ASAP.

[2020-07-28 12:32] stheid commented on #2435
@katyhuff The master branch contains all changes proposed (https://github.com/upb-lea/openmodelica-microgrid-gym/commit/4d902722f090d8b0fb81b1b0c7ac5f0434338127).

right now the CI does not properly build the master, but this issue is already solved in develop. however, the develop is currently not in a mergable state, therefore i only cherry picked the changes to the pdf and readme from that bran

[2020-07-28 12:35] stheid commented on #2435
@whedon generate pdf

[2020-07-28 12:36] whedon commented on #2435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02435/joss.02435/10.21105.joss.02435.pdf)

[2020-07-28 12:57] kerkelae commented on #2527
@whedon generate pdf

[2020-07-28 12:58] whedon commented on #2527
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02527/joss.02527/10.21105.joss.02527.pdf)

[2020-07-28 13:02] kerkelae commented on #2527
@whedon check references

[2020-07-28 13:02] whedon commented on #2527
[code]

[2020-07-28 13:14] pdebuyl commented on #2494
@xuqiancheng thank you for the review!

@yuxiang-gao there is enough material here to warrant an update before proceeding further with the review. Can you address the comments by @xuqiancheng ?

[2020-07-28 13:26] pdebuyl commented on #2307
Thank you @MikeHeiber for the updates.

@mdavezac @Luthaf can you give feedback on the updated installation procedure?

[2020-07-28 13:52] leouieda commented on #2236
Thanks, @megies. I'll keep let you know if no one else is available.

[2020-07-28 13:53] leouieda commented on #2236
@ThomasLecocq would be willing to review this submission for JOSS?

[2020-07-28 13:54] steven-murray commented on #2502
@whedon generate pdf from branch joss-paper

[2020-07-28 13:54] whedon commented on #2502
[code]

[2020-07-28 13:54] whedon commented on #2502
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02502/joss.02502/10.21105.joss.02502.pdf)

[2020-07-28 13:56] sbenthall commented on #2469
I'm concerned: this library is in PHP, and there are no listed editors in the reviewer spreadsheet that have PHP as listed expertise. I'm not sure where I would start searching for reviewers.

[2020-07-28 13:57] sbenthall commented on #2264
Thank you!

[2020-07-28 13:57] sbenthall commented on #2264
@whedon add @dormezil as reviewer

[2020-07-28 13:58] whedon commented on #2264
OK, @dormezil is now a reviewer

[2020-07-28 14:00] joliencremers commented on #2524
Suggested reviewers:

MikeLydeamore

[2020-07-28 14:01] sbenthall commented on #2264
@whedon start review

[2020-07-28 14:01] whedon opened #2528 "[REVIEW]: Exploring meaningful visual effects and quantities of interest from dynamic models through dynamac"
**Submitting author:** @andyphilips (<a href="http://orcid.org/0000-0003-4201-1085">Soren Jordan</a>)
**Repository:** <a href="https://github.com/andyphilips/dynamac" target ="_blank">https://github.com/andyphilips/dynamac</a>
**Version:** 0.1.11
**Editor:** @sbenthall
**Reviewer:** @stulacy, @dormezil
**Archive:** <a href="https://doi.org/10.5281/zenodo.4057108" target="_blank">10.5281/zenodo.405

[2020-07-28 14:01] whedon commented on #2264
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2528.

[2020-07-28 14:01] #2264 closed

[2020-07-28 14:01] whedon commented on #2528
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @stulacy, @dormezil it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-07-28 14:02] whedon commented on #2528
[code]

[2020-07-28 14:02] whedon commented on #2528
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02528/joss.02528/10.21105.joss.02528.pdf)

[2020-07-28 14:07] danielskatz commented on #2469
Well, it's now been 18 days without the authors doing what they were asked to, so let's pause it for now, and if there is no response in next week or so, we will reject it.

[2020-07-28 14:16] sambit-giri commented on #2363
Dear @pibion

Is there anything else to be done? What is the next step in the process?

Best,
Sambit

[2020-07-28 14:27] nnadeau commented on #2448
@cicirello almost there! Great job so far! I believe these should be the last issues:

- https://github.com/cicirello/Chips-n-Salsa/issues/25
- https://github.com/cicirello/Chips-n-Salsa/pull/22
- https://github.com/cicirello/Chips-n-Salsa/issues/24
- https://github.com/cicirello/Chips-n-Salsa/issues/23

[2020-07-28 14:31] kinnala commented on #2369
I have implemented a majority of the requested changes to the project README and other documentation; with the most significant effort being the introduction of a gallery of examples (https://scikit-fem.readthedocs.io/en/latest/listofexamples.html).

Next I'll focus on improving the paper itself which consist mainly of adding references and extending the discussion on the limits of the code's feat

[2020-07-28 14:36] meg-simula commented on #2369
Ok, thanks for the update!

On Tue, 28 Jul 2020 at 16:32, Tom Gustafsson <notifications@github.com>
wrote:

[2020-07-28 15:11] kthyng commented on #2462
@zdelrosario excellent! Your paper looks good to me, so we're ready to finish!

[2020-07-28 15:12] kthyng commented on #2462
@whedon accept deposit=true

[2020-07-28 15:12] whedon commented on #2462
[code]

[2020-07-28 15:13] whedon commented on #2462
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1288130490625675265) 👈 🐦🐦🐦

[2020-07-28 15:13] whedon commented on #2462
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1596
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02462](https://doi.org/10.21105/joss.02462)
2. If everything looks g

[2020-07-28 15:14] whedon opened #2529 "[PRE REVIEW]: matador: a Python library for analysing, curating and performing high-throughput density-functional theory calculations"
**Submitting author:** @ml-evs (<a href="http://orcid.org/0000-0002-1182-9098">Matthew L Evans</a>)
**Repository:** <a href="https://github.com/ml-evs/matador" target ="_blank">https://github.com/ml-evs/matador</a>
**Version:** v0.9.6
**Editor:** @jgostick
**Reviewers:** @mkhorton
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2020-07-28 15:14] whedon commented on #2529
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-28 15:14] whedon opened #2530 "[PRE REVIEW]: Social-Annotate: Browser extension to annotate and collect social media data"
**Submitting author:** @onurvarol (<a href="http://orcid.org/0000-0002-3994-6106">Onur Varol</a>)
**Repository:** <a href="https://github.com/uluturki/social-annotate" target ="_blank">https://github.com/uluturki/social-annotate</a>
**Version:** v1.0.0
**Editor:** @lorenanicole
**Reviewers:** @davekinkead, @sara-02
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

[2020-07-28 15:14] whedon commented on #2530
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-28 15:14] whedon opened #2531 "[PRE REVIEW]: cfdm: A Python reference implementation of the CF data model"
**Submitting author:** @davidhassell (<a href="http://orcid.org/0000-0001-5106-7502">David Hassell</a>)
**Repository:** <a href="https://github.com/NCAS-CMS/cfdm" target ="_blank">https://github.com/NCAS-CMS/cfdm</a>
**Version:** 1.8.6.0
**Editor:** @usethedata
**Reviewers:** @bradyrx
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2020-07-28 15:14] whedon commented on #2531
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-28 15:15] whedon commented on #2530
Failed to discover a `Statement of need` section in paper

[2020-07-28 15:15] whedon opened #2532 "[PRE REVIEW]: SALSA: A Python Package for Constructing Synthetic Quasar Absorption Line Catalogs from Astrophysical Hydrodynamic Simulations"
**Submitting author:** @biboyd (<a href="http://orcid.org/0000-0002-5419-9751">Brendan Boyd</a>)
**Repository:** <a href="https://github.com/biboyd/SALSA" target ="_blank">https://github.com/biboyd/SALSA</a>
**Version:** v0.1.0
**Editor:** @danielskatz
**Reviewers:** @olebole, @zpace
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-07-28 15:15] whedon commented on #2529
PDF failed to compile for issue #2529 with the following error:

 Can't find any papers to compile :-(

[2020-07-28 15:15] whedon commented on #2532
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-28 15:15] kthyng commented on #2462
@whedon set https://doi.org/10.6084/m9.figshare.12725066.v2 as archive

[2020-07-28 15:15] mdpiper commented on #2317
@diehlpk I noticed in the citation string on the sidebar that the volume/issue number on this paper is 1(1), but the papers before/after it are 5(51). (And in the PDF of this paper, the volume/issue are listed as 5(51)) Can you recommend where to check on or report this?

[2020-07-28 15:15] whedon commented on #2462
OK. <a href="https://doi.org/10.6084/m9.figshare.12725066.v2" target="_blank">10.6084/m9.figshare.12725066.v2</a> is the archive.

[2020-07-28 15:16] whedon commented on #2530
[code]

[2020-07-28 15:17] whedon commented on #2530
[code]

[2020-07-28 15:17] kthyng commented on #2462
I'm going to leave this issue open until the doi resolves, but in the meantime...

Congrats to @zdelrosario on your new publication!! Thanks to @mjsottile for editing and to @BastinRobin and @rodrigokataishi for reviewing. This process would not be possible without your time and expertise!

[2020-07-28 15:18] whedon commented on #2530
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02530/joss.02530/10.21105.joss.02530.pdf)

[2020-07-28 15:19] whedon commented on #2532
Failed to discover a `Statement of need` section in paper

[2020-07-28 15:19] whedon commented on #2532
[code]

[2020-07-28 15:19] whedon commented on #2532
[code]

[2020-07-28 15:20] whedon commented on #2531
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02531/joss.02531/10.21105.joss.02531.pdf)

[2020-07-28 15:20] kthyng commented on #2529
@whedon generate pdf

[2020-07-28 15:20] whedon commented on #2532
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02532/joss.02532/10.21105.joss.02532.pdf)

[2020-07-28 15:20] whedon commented on #2529
PDF failed to compile for issue #2529 with the following error:

 Can't find any papers to compile :-(

[2020-07-28 15:21] zdelrosario commented on #2462
Thanks @kthyng, @mjsottile , @BastinRobin , and @rodrigokataishi! This is my first time publishing with JOSS, and I'm super-impressed by your speed and process.

[2020-07-28 15:24] kthyng commented on #2529
@whedon check repository

[2020-07-28 15:25] whedon commented on #2529
[code]

[2020-07-28 15:26] sbenthall commented on #2469
I see now that there are listed PHP reviewers, and that my inability to find them earlier was due to a networking error.

I'd be happy to edit this once it is unpaused.

[2020-07-28 15:27] ml-evs commented on #2529
@whedon generate pdf from branch joss

[2020-07-28 15:27] whedon commented on #2529
[code]

[2020-07-28 15:27] whedon commented on #2531
[code]

[2020-07-28 15:28] whedon commented on #2529
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02529/joss.02529/10.21105.joss.02529.pdf)

[2020-07-28 15:28] kthyng commented on #2400
@whedon accept

[2020-07-28 15:28] whedon commented on #2400
[code]

[2020-07-28 15:29] whedon commented on #2400
[code]

[2020-07-28 15:29] whedon commented on #2400
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1597

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1597, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-28 15:32] kthyng commented on #2400
@whedon accept deposit=true

[2020-07-28 15:32] whedon commented on #2400
[code]

[2020-07-28 15:33] whedon commented on #2400
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1288135600919531521) 👈 🐦🐦🐦

[2020-07-28 15:33] whedon commented on #2400
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1598
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02400](https://doi.org/10.21105/joss.02400)
2. If everything looks g

[2020-07-28 15:37] kthyng commented on #2529
Hi @jgostick! You were suggested as editor for this submission. Interested?

[2020-07-28 15:37] kthyng commented on #2529
@whedon invite @jgostick as editor

[2020-07-28 15:37] whedon commented on #2529
@jgostick has been invited to edit this submission.

[2020-07-28 15:41] thelfer commented on #2369
Waiting for @kinnala updates. Seems well underway

[2020-07-28 15:41] kthyng commented on #2400
Still waiting for the doi to resolve to close the issue, but in the meantime...

Congrats to  @logological on your new publication!! Thanks to @gkthiruvathukal for editing and to reviewers @Smattr, @drj11. This process couldn't happen without your time and expertise.

[2020-07-28 15:43] kthyng commented on #2532
@whedon query scope

[2020-07-28 15:43] whedon commented on #2532
Submission flagged for editorial review.

[2020-07-28 15:48] kthyng commented on #2530
Hi @usethedata! You've been suggested as the editor for this submission. Interested?

[2020-07-28 15:49] kthyng commented on #2530
@whedon invite @usethedata as editor

[2020-07-28 15:49] whedon commented on #2530
@usethedata has been invited to edit this submission.

[2020-07-28 15:50] kthyng commented on #2530
Sorry @usethedata — I got my tabs mixed up. Please ignore this invitation. I will go invite you on the proper tab!

[2020-07-28 15:51] kthyng commented on #2531
@whedon invite @usethedata as editor

[2020-07-28 15:51] whedon commented on #2531
@usethedata has been invited to edit this submission.

[2020-07-28 15:51] ml-evs commented on #2529
Hi @kthyng and @jgostick! I'm just having a look through the potential reviewers list (great to see so many!) and I recognise several names in this field who would be able to do a good job (in no particular order):

@bjmorgan
@mkhorton
@mdoucet
@lucydot
@bocklund

Thanks!

[2020-07-28 15:53] kthyng commented on #2530
@lorenanicole! Are you interested in editing this submission?

[2020-07-28 15:53] kthyng commented on #2530
@whedon invite @lorenanicole as editor

[2020-07-28 15:53] whedon commented on #2530
@lorenanicole has been invited to edit this submission.

[2020-07-28 15:57] kthyng commented on #2367
@whedon set 10.5281/zenodo.3962305 as archive

[2020-07-28 15:57] whedon commented on #2367
OK. <a href="https://doi.org/10.5281/zenodo.3962305" target="_blank">10.5281/zenodo.3962305</a> is the archive.

[2020-07-28 15:58] anowacki commented on #2236
@leouieda Apologies, I'm afraid I don't think I would be useful here, so I would be grateful if you were able to find another reviewer.

(I should update the list of things on the reviewers spreadsheet to reflect the fact that I don't  really use Python any more, have never used Pandas, and so can't give much in the way of a helpful review.)

[2020-07-28 15:59] kthyng commented on #2367
Hi @RainierBarrett! Do you want 1.0 or 1.0.1 as your version?

[2020-07-28 16:00] kthyng commented on #2367
Your paper looks good. 👍

[2020-07-28 16:03] kthyng commented on #2121
@whedon set v2.1.3 as version

[2020-07-28 16:03] whedon commented on #2121
OK. v2.1.3 is the version.

[2020-07-28 16:04] ml-evs commented on #2529
@whedon check references

[2020-07-28 16:05] kthyng commented on #2121
@whedon set 10.5281/zenodo.3961890 as archive

[2020-07-28 16:05] whedon commented on #2121
OK. <a href="https://doi.org/10.5281/zenodo.3961890" target="_blank">10.5281/zenodo.3961890</a> is the archive.

[2020-07-28 16:05] kthyng commented on #2121
@whedon check references

[2020-07-28 16:06] whedon commented on #2121
[code]

[2020-07-28 16:07] kthyng commented on #2121
@prs513rosewood can you add the doi listed above if appropriate?

[2020-07-28 16:17] kthyng commented on #2123
I've emailed @josephhardinee to check in but can't find an email address for @ekschuman. Next check-in by an AEiC, I think we should remove reviewers and find new if we haven't heard from either.

[2020-07-28 16:20] kthyng commented on #1584
Hi @holtgrewe and @mikkonie! I am going to pause this submission since it looks like the reviewers have done their work but we have been waiting on your attention for several months.

[2020-07-28 16:24] kthyng commented on #1917
Hi! It looks like we need more on the reviews from both @alexanderfurnas and @trallard. I will also email @alexanderfurnas now since he hasn't participated on this review issue at all.

[2020-07-28 16:29] kthyng commented on #2190
@whedon check repository

[2020-07-28 16:29] whedon commented on #2190
Failed to discover a `Statement of need` section in paper

[2020-07-28 16:29] whedon commented on #2190
[code]

[2020-07-28 16:29] whedon commented on #2190
Failed to discover a valid open source license.

[2020-07-28 16:30] kthyng commented on #2190
@whedon query scope

[2020-07-28 16:30] whedon commented on #2190
Submission flagged for editorial review.

[2020-07-28 16:33] kthyng commented on #2218
@richardjgowers Can you take a look at this submission? It is stale here at the pre-review stage, but should we also query scope? I'm not so familiar with R packages though...

[2020-07-28 16:35] kthyng commented on #2190
@kyleniemeyer sorry I should have checked with you before adding query scope — you can override if you want.

[2020-07-28 16:36] kthyng commented on #2128
@kyleniemeyer Just a ping here to keep moving this along!

[2020-07-28 16:37] kthyng commented on #2308
Hi @Gabriel-p, @astrom-tom! This is just a friendly reminder about this JOSS review. Will you be able to work on this in the next week or so?

[2020-07-28 16:38] kthyng commented on #2462
@openjournals/dev the doi still isn't resolving for me — can you take a look?

[2020-07-28 16:39] kthyng commented on #2400
@openjournals/dev the doi still isn't resolving for me — can you take a look?

[2020-07-28 17:08] mkhorton commented on #2529
I'd be happy to take this one, I know @ml-evs via another project as a disclosure

[2020-07-28 17:17] d-chambers commented on #2236
@leouieda
Thanks for the pre-review comments. I believe I have addressed the concerns you raised.

[2020-07-28 17:20] jgostick commented on #2529
@mkhorton are you offering to editor this one?  If so, go for it.

[2020-07-28 17:25] CarstenCroonenbroeck commented on #2190
I'm sorry, I'm afrain I don't understand. Do I need to do anything now?

[2020-07-28 17:31] kyleniemeyer commented on #2190
Hi @CarstenCroonenbroeck, sorry for the delay here and confusion.

@kthyng was reviewing all submissions that had not yet been processed, and one of the things we have implemented in recent weeks/months is some basic checking of software submission size and scope. Because your package is relatively small in terms of lines of code, it was flagged for the editorial board to check the scope. We have

[2020-07-28 17:31] agahkarakuzu commented on #2343
- [x] Add missing DOIs (@Kevin-Mattheus-Moerman)

Comments by @mfroeling
- [x]  When the toolbox starts it needs a check if the needed Matlab dependencies are installed. The first few tries I had issues during data processing that were due to missing or badly installed packages. Especially for the missing packages, there should be a strong warning when starting the toolbox that it will not run pro

[2020-07-28 17:53] prs513rosewood commented on #2121
@whedon generate pdf

[2020-07-28 17:54] mkhorton commented on #2529
I was offering to review in response to @ml-evs potential reviewers list. I'd be happy to be editor, but I haven't previously taken any editorial role in JOSS

[2020-07-28 17:54] whedon commented on #2121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02121/joss.02121/10.21105.joss.02121.pdf)

[2020-07-28 17:56] paul-buerkner commented on #2226
I should be able to review this submission.

[2020-07-28 17:57] jgostick commented on #2529
OK!  I'll edit, and invite you to review.

@whedon assign @jgostick as editor

[2020-07-28 17:58] jgostick commented on #2529
@whedon assign @jgostick as editor

[2020-07-28 17:58] whedon commented on #2529
OK, the editor is @jgostick

[2020-07-28 17:58] prs513rosewood commented on #2121
@whedon check references

[2020-07-28 17:59] whedon commented on #2121
[code]

[2020-07-28 18:00] jgostick commented on #2529
@whedon add @mkhorton as reviewer

[2020-07-28 18:00] whedon commented on #2529
OK, @mkhorton is now a reviewer

[2020-07-28 18:08] RainierBarrett commented on #2367
Hi @kthyng , since the Zenodo archive was made with 1.0, I guess that makes the most sense for this, too. Any updates since publication should be easy enough to find :)

[2020-07-28 18:23] kthyng commented on #2367
@whedon accept deposit=true from branch joss-paper-branch

[2020-07-28 18:23] whedon commented on #2367
[code]

[2020-07-28 18:23] kthyng commented on #2462
@openjournals/dev just kidding! Sorry for the bother.

Everything looks to be in order!

[2020-07-28 18:23] #2462 closed

[2020-07-28 18:24] whedon commented on #2462
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02462/status.svg)](https://doi.org/10.21105/joss.02462)

**We need your help!**

Journal of Open Source Softwa

[2020-07-28 18:24] whedon commented on #2367
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1288178440517058562) 👈 🐦🐦🐦

[2020-07-28 18:24] whedon commented on #2367
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1599
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02367](https://doi.org/10.21105/joss.02367)
2. If everything looks g

[2020-07-28 18:24] kthyng commented on #2400
@openjournals/dev sorry! Looks good now!

[2020-07-28 18:24] #2400 closed

[2020-07-28 18:24] whedon commented on #2400
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02400/status.svg)](https://doi.org/10.21105/joss.02400)

**We need your help!**

Journal of Open Source Softwa

[2020-07-28 18:29] kthyng commented on #1917
Heard back from @alexanderfurnas and is ok for the review in the next two weeks.

[2020-07-28 18:31] kthyng commented on #2367
Congrats to @RainierBarrett on your new publication! Thanks to editor @richardjgowers and to reviewers @malramsay64, @RMeli. This process wouldn't be possible without your time and expertise!!

[2020-07-28 18:31] #2367 closed

[2020-07-28 18:31] whedon commented on #2367
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02367/status.svg)](https://doi.org/10.21105/joss.02367)

**We need your help!**

Journal of Open Source Softwa

[2020-07-28 18:33] kthyng commented on #2121
@whedon accept

[2020-07-28 18:33] whedon commented on #2121
[code]

[2020-07-28 18:34] whedon commented on #2121
[code]

[2020-07-28 18:34] whedon commented on #2121
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1600

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1600, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-28 18:35] kthyng commented on #2121
@whedon accept deposit=true

[2020-07-28 18:35] whedon commented on #2121
[code]

[2020-07-28 18:36] whedon commented on #2121
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1288181480016039938) 👈 🐦🐦🐦

[2020-07-28 18:36] whedon commented on #2121
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1601
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02121](https://doi.org/10.21105/joss.02121)
2. If everything looks g

[2020-07-28 18:37] kthyng commented on #2121
Congrats to  @prs513rosewood on your new publication! Thanks to editor @Kevin-Mattheus-Moerman and reviewers @likask, @agshvarts, @srmnitc, @chennachaos. This process wouldn't be possible without your hard work and time and expertise!

[2020-07-28 18:37] #2121 closed

[2020-07-28 18:37] whedon commented on #2121
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02121/status.svg)](https://doi.org/10.21105/joss.02121)

**We need your help!**

Journal of Open Source Softwa

[2020-07-28 18:37] whitead commented on #2367
Thank you everyone, especially @malramsay64 and @RMeli for your reviews! Congrats @RainierBarrett

[2020-07-28 19:00] flammie commented on #2184
I’ve pushed new release today with pip support and some fixes to the documentation hopefully...

[2020-07-28 20:07] ionlights commented on #2426
👋 @mjsottile What's the desired timeline to review this? Until about Aug 15, I'm quite swamped. So I could start reviewing around then, but can't before.

[2020-07-28 20:13] RainierBarrett commented on #2367
Thanks everyone for your review work and help in the process!

[2020-07-28 20:26] mjsottile commented on #2426
@ionlights That should be fine - if you can perform the review in mid-August that would work.  Shall I add you as a reviewer?

[2020-07-28 20:36] ionlights commented on #2426
Sure! 🙂  If someone else can review sooner, just let me know.

[2020-07-28 21:26] RMeli commented on #2367
Congratulations @RainierBarrett, @whitead and all the HOOMD-TF team!

[2020-07-28 21:33] mjsottile commented on #2426
@whedon add @ionlights as reviewer

[2020-07-28 21:33] whedon commented on #2426
OK, @ionlights is now a reviewer

[2020-07-28 21:34] mjsottile commented on #2426
@whedon start review

[2020-07-28 21:34] whedon opened #2533 "[REVIEW]: OmniCV - A library for Omnidirectional Cameras"
**Submitting author:** @kaustubh-sadekar (<a href="http://orcid.org/0000-0001-8895-5319">kaustubh sadekar</a>)
**Repository:** <a href="https://github.com/kaustubh-sadekar/OmniCV-Lib" target ="_blank">https://github.com/kaustubh-sadekar/OmniCV-Lib</a>
**Version:** v1.0
**Editor:** @mjsottile
**Reviewer:** @nnadeau, @ionlights
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

[2020-07-28 21:34] whedon commented on #2426
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2533.

[2020-07-28 21:34] #2426 closed

[2020-07-28 21:34] whedon commented on #2533
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nnadeau, @ionlights it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-07-28 21:34] whedon commented on #2533
[code]

[2020-07-28 21:34] whedon commented on #2533
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02533/joss.02533/10.21105.joss.02533.pdf)

[2020-07-28 21:36] mjsottile commented on #2533
@kaustubh-sadekar While the reviewers start to conduct their reviews, you should address the issues flagged above by the check references command regarding missing DOIs.

[2020-07-28 21:44] minaskar commented on #2508
A few suggestions based on the list of reviewers that you mentioned are: ziotom78, HeloiseS, eschnett

[2020-07-28 22:15] whedon opened #2534 "[PRE REVIEW]: emba: R package for analysis and visualization of biomarkers in boolean model ensembles"
**Submitting author:** @bblodfon (<a href="http://orcid.org/0000-0002-3609-8674">John Zobolas</a>)
**Repository:** <a href="https://github.com/bblodfon/emba" target ="_blank">https://github.com/bblodfon/emba</a>
**Version:** v0.1.6
**Editor:** @mikldk
**Reviewers:** @sahilseth, @edifice1989
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-07-28 22:16] whedon commented on #2534
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-28 22:16] whedon commented on #2534
[code]

[2020-07-28 22:16] whedon commented on #2534
[code]

[2020-07-28 22:16] whedon commented on #2534
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02534/joss.02534/10.21105.joss.02534.pdf)

[2020-07-28 22:27] jrkasprzyk commented on #2292
My review is complete! I second the comment from @nickrsan about the example files listed. As a person with less GitHub experience, I got a little confused in the Usage statement because it refers to 'model.inp' in the initial example, and I am not sure if it is obvious what that model file is, or the fact that it would need to be in the working directory. It sounds like @nickrsan made an issue ab

[2020-07-28 22:57] neuromusic commented on #2440
Thanks all! @mattcai and I have started addressing a few of your comments and issues and we will follow up on the rest in the coming weeks.

[2020-07-28 22:59] neuromusic commented on #2440
Quick question: How would you prefer we handle closing issues when we feel like we've addressed them? Should we close them or is it best to wait for our reviewers to close them when they are happy?

[2020-07-28 23:10] sadielbartholomew commented on #2407
Noted, thanks @kbarnhart. As this stage I do not feel I need assistance, I have simply not had much time in recent weeks to move on & finish my review. I plan, and will strive, to have my review completed by the end of this week i.e. the end of July.

[2020-07-28 23:49] malramsay64 commented on #2367
Congratulations to @RainierBarrett and the HOOMD-TF team. In addition to the great software you also have a fantastic process for making and reviewing changes :+1: .

Also thanks to @RMeli for leading most of this review, definitely made it easier for me.

[2020-07-29 00:11] wilsonrljr commented on #2384
@whedon generate pdf

[2020-07-29 00:12] whedon commented on #2384
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02384/joss.02384/10.21105.joss.02384.pdf)

[2020-07-29 00:22] wilsonrljr commented on #2384
@whedon generate pdf

[2020-07-29 00:22] whedon commented on #2384
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02384/joss.02384/10.21105.joss.02384.pdf)

[2020-07-29 00:26] amoeba commented on #2503
Hi @majensen, I can review this within six weeks from today.

[2020-07-29 00:39] majensen commented on #2503
@amoeba sold! Thanks!

[2020-07-29 00:39] majensen commented on #2503
@whedon add @amoeba as reviewer

[2020-07-29 00:39] whedon commented on #2503
OK, @amoeba is now a reviewer

[2020-07-29 00:43] wilsonrljr commented on #2384
Dear @dawbarton, the paper was updated following your suggestions. if you want to add any comments, just let me know.

Regarding my previous comment regarding the documentation, please let me know if the those suggestions would be mandatory. I am working on moving the documentation to a tool other than Sphinx. However, if corrections to the web documentation are necessary I will update the current

[2020-07-29 04:54] lydialucchesi commented on #2409
Hi Dr. Nüst (@nuest),

Thank you for reviewing the Vizumap paper and package. I will start
working on the revisions. Is there a date that I should have the
revisions completed by (@bstabler)?

Following is clarification regarding author contributions and licensing.

Chris and I collaborated on the development of three Vizumap
visualisation methods. Chris helped design the first three map types
and

[2020-07-29 05:43] hugoledoux commented on #2184
@desilinguist @alvations can it give it another try?

[2020-07-29 05:45] hugoledoux commented on #2365
@whedon assign @liberostelios as reviewer

[2020-07-29 05:45] whedon commented on #2365
OK, @liberostelios is now a reviewer

[2020-07-29 07:07] nuest commented on #2409
Just Daniel, please - no "Dr." yet :man_shrugging:

**Thanks for the clarification!** All makes sense - for me a short comment about the project history, e.g. in the contributors documentation, or the README, would suffice to make this clear to future users/readers.

[2020-07-29 07:24] csoneson commented on #2440
@neuromusic - if you are confident that the issue has been addressed I think you can close the issue, with a comment explaining the changes that were made. You can also consult with the reviewer first, in case additional clarifications are needed.

[2020-07-29 07:29] csoneson commented on #2353
@thorvere - could you give an update on the status of your review (I see some opened issues in the software repository, but no checked boxes in the checklist above)? Thanks!

[2020-07-29 07:47] mfroeling commented on #2343
@agahkarakuzu Great i will look at the updates asap.

[2020-07-29 09:18] eloisabentivegna commented on #2513
Hi @kegiljarhus, thanks for your review and update!

Could you raise those issues in Castro's repository? This will ensure your suggestions will enter the package's history and be properly credited. You can create a mention here by using this issue's URL in the repository's issue, if you wish (see https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#guiding-principles).

[2020-07-29 09:53] CFGrote commented on #2436
All the commits are from me because I moved the code (initially developed by my co-authors) from a plain directory into github and then took care of integrating new features.

## Contributions by author:
- **Luka Opasic**: Development of the algorithm, initial version of the code, writing of manuscript
- **Jacob Scott** : contributed to the concept of the software and supervised its
development
-

[2020-07-29 10:28] Luthaf commented on #2307
The build is still failing for me with clang compilers: https://github.com/MikeHeiber/Excimontec/issues/107#issuecomment-665568938

I also found a problem with character encoding in result files https://github.com/MikeHeiber/Excimontec/issues/110, although I do not consider it to be a blocking point for this review.

---

Regarding the paper itself, I am unable to comment on

since I've never used

[2020-07-29 11:21] desilinguist commented on #2184
Sure, I’ll take a look when I can.

________________________________
From: Hugo Ledoux <notifications@github.com>
Sent: Wednesday, July 29, 2020 1:44:09 AM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Nitin Madnani <nmadnani@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: Omorfi: Open morphology of Finnish (#2184)

@desilin

[2020-07-29 11:33] logological commented on #2400
Thank you to the reviewers @drj11 and @Smattr for your many insightful comments and questions, and to @gkthiruvathukal for shepherding this first submission of mine to a speedy acceptance!

[2020-07-29 11:45] marcosvital commented on #2458
Hi, @JolleJolles, a quick update: Jan Heuschele agreed to be one of the reviewers. He is out of office right now, but it'll return in a week. My initial intent is to wait a little more to start review so we can have him, are you ok with that?

[2020-07-29 11:46] marcosvital commented on #2458
@lucask07, I think it will be ok with you not having the hardware if we got other reviewers to do that, so I would love if you could review this submission. Let me know if you are still available for that - we are likely to start next week.

[2020-07-29 11:50] JolleJolles commented on #2458
Great. Looking forward.

[2020-07-29 11:59] rabernat commented on #2407
Thanks for the reminder. Indeed this had fallen off my radar. I will hopefully be able to get to it today.

[2020-07-29 12:14] marcosvital commented on #2342
Hi again, @davidtourigny, @Midnighter and @carrascomj. Editing the paper after publishing is reserved for corrections, so it's probably better to wait if you are fine with it. @Midnighter, any news about the publication?

[2020-07-29 12:26] jangmys commented on #2338
Concerning the point "**State of the field**":

The paper (which is globally very well written) starts directly with the general formulation of the optimization problem.
While the "Summary" provides some general motivation for designing (parallel) frameworks for multi-objective optimization, I think it would be useful and important to give an overview of existing frameworks and to explain what dif

[2020-07-29 12:36] usethedata commented on #2531
@whedon assign @usethedata as editor

[2020-07-29 12:36] whedon commented on #2531
OK, the editor is @usethedata

[2020-07-29 12:38] usethedata commented on #2531
@davidhassell I'm in the middle of a quarterly planning meeting this week.  I'll dig into your paper and repo over the weekend and start looking for reviewers.  Thanks for your submission and for your patience.

[2020-07-29 12:47] MrMinimal64 commented on #2392
The current paper version now contains some additional aspects:
- an abstract also used to the arXiv paper version
- mentioning of ``Maple`` as a software already supporting multivariate Horner factorisations
- reference to ``Mathematica`` offering 1D Horner factorisations
- mention the ability to a posteriori change the coefficients of a factorised polynomial (the ``multivar_horner`` factorisatio

[2020-07-29 12:47] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-07-29 12:48] whedon commented on #2392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf)

[2020-07-29 12:49] lucask07 commented on #2458
OK @marcosvital, sounds good.

[2020-07-29 12:55] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-07-29 12:56] whedon commented on #2392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf)

[2020-07-29 12:59] zingale commented on #2513
@kegiljarhus thank you for the comments.

For the first, it is indeed the case that those names were listed on the developers page, but none of them have made any contributions in the last 6 years and some of the names don't show in the git history.  According to our policy in the README.md, we consider developers as active if they've contributed in the last 3 years.  I've moved the inactive names

[2020-07-29 13:08] zingale commented on #2513
Note: in addition to being triggered manually on PRs, the test suite also runs nightly using the latest AMReX, Castro, and Microphysics.

[2020-07-29 13:28] jangmys commented on #2338
The paper says "The parallel evaluation can be performed by multiple threads, processes, nodes in an HPC cluster or even by **GPU devices** (via, e.g., OpenCL or CUDA)" (p.3) - I could not find a "GPU batch evaluator" in the code (please help me out if I missed it). Of course, conceptually, a batch of solutions could be evaluated on a GPU - technically, however, there are some challenges (for exam

[2020-07-29 13:31] jangmys commented on #2338
Minor remarks (typos):
Summary: cuncurrently -> concurrently
p.2: non linear ; non linearly -> non-linear ; non-linearly
p.3: Cuncurrent fitness -> Concurrent

[2020-07-29 14:28] Xunius commented on #2407
@kbarnhart I got another comment regarding [installation](https://github.com/ihesp/IPART/issues/5). I'd like to propose a merge of the `netcdf4` branch to master, which would replace the `cdat` dependency with `netcdf4`. I already got some user feedbacks complaining about the `cdat` dependency, some about it not working well in google colab, some about it not supported in windows. I think this pro

[2020-07-29 14:36] rabernat commented on #2407
I am quite biased here, but as long as you are considering revamping your I/O routines, I would suggest you to look at xarray.

The requirement to operate on files period is a big limitation of this tool. What if the user's data are not in netCDF format. Other formats, like GRIB or Zarr, are common. (For example, there are nearly 1PB of [CMIP6 data in Google Cloud](https://cloud.google.com/blog/pr

[2020-07-29 14:49] miketuri commented on #2183
Hello @VivianePons , @mzszym , and @victorvalgenti , I have just added a new version (currently 1.1.2) to the repository to address the comments from the previous review and add documentation (generate html files, allow use of 'man' pages, and allow use of 'perldoc'), add tests and examples, add an installation procedure (details are in the README), and improve the paper.  Please let me know if yo

[2020-07-29 14:57] kbarnhart commented on #2407
@Xunius I think that changing the dependency makes sense. I had hoped that some of my early feedback in pre-review on installation instructions and packaging would have addressed some of these install issues. This is all to say that I strongly support @rabernat 's comments on ihesp/IPART/issues/5 to follow installation and practicing best practices.

I also favor xarray over netcdf4, though if you

[2020-07-29 14:58] kbarnhart commented on #2407
@sadielbartholomew thanks for the update. All sounds good.

[2020-07-29 15:00] johannes-titz commented on #2226
@cMadan Sorry, I have some important deadlines coming up, so I cannot do it.

[2020-07-29 15:04] DorianDepriester commented on #2094
I have answered all the point raised by @ralfHielscher in the issue [mentioned above](https://github.com/DorianDepriester/MTEX2Gmsh/issues/5#issue-648501620). He seems satisfied for he has closed the issue.

[2020-07-29 15:05] kbarnhart commented on #2292
@jrkasprzyk thanks for completing your review! Glad to hear that changes made in response to @nickrsan 's comments helped with your review.

@dickinsonre could you please provide an update on when you might complete your review.

A note on proceedure: JOSS only requires two reviews, so if I don't hear from @dickinsonre in the next day or two, I will likely remove them as a reviewer and move this s

[2020-07-29 15:14] meg-simula commented on #2094
Ok, great! I will proceed with this submission once I'm back from vacation.

[2020-07-29 15:20] kthyng commented on #2534
Hmm, all of our bioinformatics/genetics editors are pretty overloaded with submissions to handle. Do any of you feel able to take on this submission? @fboehm, @majensen, @will-rowe, @csoneson, @mikldk, @lpantano?

[2020-07-29 15:46] galessiorob commented on #2449
Hey @LukasAdamowicz

I talked to other editors and the consensus was that it's okay to publish the paper despite it citing an algorithm that is still not published as long as:
1. You can confirm that the other publication for which you are also an author (_Assessment of sit to stand during daily life using an accelerometer on the lower back. IEEE Journal of Biomedical and Health Informatics_) is (

[2020-07-29 15:50] galessiorob commented on #2448
@whedon add @mbdemoraes  as reviewer

[2020-07-29 15:50] whedon commented on #2448
OK, @mbdemoraes  is now a reviewer

[2020-07-29 15:51] galessiorob commented on #2448
@mbdemoraes just re-added you, let me know if you have issues. Thanks!

[2020-07-29 15:59] KathrynJones1 commented on #2382
@jessie-dotson I've had a look and I think firstly one of the reasons why your code took longer is that you set the `max_err=0.1`ppm however I calculated the timing based on the default setting of 1ppm instead (I could add this to the paper text to make it more explicit?) . It also seems you used a different timing method (time.process_time) whereas I used the timeit.default_timer() function (http

[2020-07-29 16:12] mbdemoraes commented on #2448
@galessiorob thank you! I've accepted the invitation.

[2020-07-29 16:18] majensen commented on #2503
I'm working via another channel on an additional reviewer - FYI

[2020-07-29 16:19] majensen commented on #2510
All, will be getting additional review invites out over next couple days. Thanks for yr patience

[2020-07-29 16:21] davidtourigny commented on #2342
I am happy to wait a couple more weeks if required (indeed, will be on vacation in any case).

[2020-07-29 16:38] danielskatz commented on #2439
👋 @adbar - I haven't seen an update in 15 days, and there's certainly nothing major left to do.  How are you proceeding on these final steps?

[2020-07-29 16:41] danielskatz commented on #2282
👋 @aj2duncan & @mikerspencer - As we're now almost 2 months into the review process, can you each please tell me:
1. Are you waiting on @jcolomb for anything?
2. If so, for what?
3. if not, when do you expect your review to be complete?

[2020-07-29 16:43] danielskatz commented on #2351
@muhrin - are you working on the last couple of things from @dghoshal-lbl ?  If so, can you let us know when they are done?

[2020-07-29 16:44] danielskatz commented on #2351
@dghoshal-lbl & @uellue - I think everything is done from your point of view (other than the minor comments from @dghoshal-lbl two comments above this) - please confirm

[2020-07-29 16:45] adbar commented on #2439
@danielskatz I'm actually working on it right now ;) I had a few pull requests to process and improvements to make, I'll be contacting you shortly with the final version.

[2020-07-29 16:57] jangmys commented on #2338
I was able to install pygmo/pagmo easily, following the instructions, and the provided tutorials helped me to get started quickly.
While I haven't used the software myself before doing this review, some colleagues in my department have been using pagmo/pygmo in their research for some time not - as far as I know, the fact that pagmo/pygmo is well documented and very accessible has been an importan

[2020-07-29 17:06] adbar commented on #2439
@whedon generate pdf

[2020-07-29 17:07] whedon commented on #2439
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02439/joss.02439/10.21105.joss.02439.pdf)

[2020-07-29 17:24] adbar commented on #2439
- tagged release: v0.7.0
- Zenodo DOI: 10.5281/zenodo.3966235

Are we good to go?

[2020-07-29 17:29] adbar commented on #2439
@proycon The issue with Wikipedia is now solved. Reddit doesn't currently display dates that are extractable in a straightforward way, I'll keep this case in mind.

[2020-07-29 17:53] ajgates42 commented on #2509
hi Yuan,

Sorry, I'm swamped this summer.  I will not be able to review this
submission.

Best,
Alex

On Sun, Jul 26, 2020 at 12:19 PM Yuan Tang <notifications@github.com> wrote:

--
Alexander Gates
Associate Research Scientist
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2020-07-29 17:54] davidhassell commented on #2531
@usethedata Thank you for editing, and I look forward to hearing from you soon.

[2020-07-29 17:56] mikldk commented on #2534
@whedon assign me as editor

[2020-07-29 17:56] whedon commented on #2534
OK, the editor is @mikldk

[2020-07-29 18:15] blakeaw commented on #2436
I have reviewed the CancerSim paper in https://github.com/mpievolbio-scicomp/cancer_sim/issues/16 and I grade the overall submission as Category 3) Major Revision.
Please note that this represents my initial evaluation and does not take into account recent efforts by @CFGrote to address some issues logged in the cancer_sim repository Issue tracker.

[2020-07-29 18:40] karthik commented on #2379
### Initial review of Akmedoids R package for generating directionally-homogeneous clusters of longitudinal data sets

Here are some general heuristic checks. Particularly problematic issues are using `1:nrow` and importing full packages.

[code]

- Please add a language field to your DESCRIPTION file

- Please check your package for spelling mistakes. Not all of these are mistakes but I see a few

[2020-07-29 19:00] majensen commented on #2503
@Maghnuso welcome to Github and JOSS! I will assign you as a reviewer now.

[2020-07-29 19:00] afeinstein20 commented on #2347
Hi @ekaterinailin ! I've addressed your comments below:

 **Major Issues**

- Travis has been *finally* fixed!

- Many of the functionalities in `utils.py` are tested in `test_neural_network.py`, specifically the functions `break_rest`, `do_the_shuffle`, `split_data` as these are all crucial steps for preprocessing the data to feed into the neural network. Additionally, `utils.flare_lightcurve` is

[2020-07-29 19:00] majensen commented on #2503
@whedon add @Maghnuso as reviewer

[2020-07-29 19:00] whedon commented on #2503
OK, @Maghnuso is now a reviewer

[2020-07-29 22:44] MAnalytics commented on #2379
@karthik Thanks for the efforts. I will address all these issues asap.

[2020-07-29 23:31] jordanperr commented on #2171
Sounds good. Thanks for the comments so far! We are getting ready to release a new version of the software, and have decided to update the JOSS paper to reflect the new version. The latest code can be found in the develop branch: https://github.com/NREL/OpenOA/tree/develop I expect to merge this into the master branch within a couple weeks, and the paper will be updated shortly thereafter. Thanks

[2020-07-30 00:32] stemangiola commented on #2472
@whedon generate pdf

[2020-07-30 00:33] whedon commented on #2472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02472/joss.02472/10.21105.joss.02472.pdf)

[2020-07-30 00:45] stemangiola commented on #2472
Hello @karthik

DOI: doi.org/10.5281/zenodo.3966515

[2020-07-30 00:46] karthik commented on #2472
@stemangiola Thanks. Can you confirm that the version is now `v1.1.2`?

[2020-07-30 00:48] onurvarol commented on #2530
Dear @kthyng thank you very much starting the process for review at JOSS. As you suggested we went through the list of reviewers and tried to identify potential reviewers with the relevant expertise and interest. You can see their usernames below.

felixhenninger, davekinkead, Andytwoods, mbod, adammichaelwood, tresoldi

Thank you very much and we are excited to experience JOSS review process.

[2020-07-30 00:49] stemangiola commented on #2472
Yes it is.

[2020-07-30 00:52] karthik commented on #2472
@whedon set v1.1.2 as version

[2020-07-30 00:52] whedon commented on #2472
OK. v1.1.2 is the version.

[2020-07-30 00:52] arfon commented on #2317
I've just fixed this. Not quite sure what happened here...

[2020-07-30 00:52] karthik commented on #2472
@whedon accept

[2020-07-30 00:52] whedon commented on #2472
No archive DOI set. Exiting...

[2020-07-30 00:52] karthik commented on #2472
@whedon set 10.5281/zenodo.3966515 as archive

[2020-07-30 00:52] whedon commented on #2472
OK. <a href="https://doi.org/10.5281/zenodo.3966515" target="_blank">10.5281/zenodo.3966515</a> is the archive.

[2020-07-30 00:53] karthik commented on #2472
@whedon accept

[2020-07-30 00:53] whedon commented on #2472
[code]

[2020-07-30 00:53] whedon commented on #2472
[code]

[2020-07-30 00:54] whedon commented on #2472
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1602

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1602, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-30 01:06] danielskatz commented on #2439
@adbar - can you merge https://github.com/adbar/htmldate/pull/20 as well?

[2020-07-30 01:36] mdpiper commented on #2317
@arfon Thank you!

[2020-07-30 02:25] kaustubh-sadekar commented on #2533
@mjsottile Thank you very much. I have verified all the missing DOIs and have added them to the paper.bib file.

[2020-07-30 02:30] kaustubh-sadekar commented on #2533
@whedon generate pdf

[2020-07-30 02:30] kaustubh-sadekar commented on #2533
@whedon check references

[2020-07-30 02:30] whedon commented on #2533
PDF failed to compile for issue #2533 with the following error:

 pandoc: getCurrentDirectory:getWorkingDirectory: does not exist (Current working directory no longer exists)
Looks like we failed to compile the PDF

[2020-07-30 02:31] whedon commented on #2533
[code]

[2020-07-30 03:04] gschivley commented on #2171
@jordanperr Thanks for *your* patience! I'll take a look at the develop branch, hopefully tomorrow night.

[2020-07-30 06:02] bhatele commented on #2352
@danielskatz I wasn't sure what to do about this question:

As per the [contributor's list](https://github.com/STEllAR-GROUP/hpx/graphs/contributors), I would not consider the submitting author a major contributor in terms of coding. I can't speak to the design of the software because that's not reflected in git commits.

[2020-07-30 06:06] bhatele commented on #2352
@danielskatz Regarding this question:

The software has a long list of functionality:
* Split-phase transaction model
* Message-driven
* Distributed shared memory (not cache coherent)
* Multi-threaded
* Futures synchronization
* Local Control Objects (LCOs)
* Synchronization for anonymous producer-consumer scenarios
* Percolation (pre-staging of task data)
* multi-threading, parcels, global name s

[2020-07-30 06:08] bhatele commented on #2352
@diehlpk HPX makes these performance claims:

"By design, ParalleX overcomes limitations of current models of parallelism by alleviating contention, latency, overhead and starvation. With ParalleX, it is further possible to increase performance by at least an order of magnitude on challenging parallel algorithms, e.g., dynamic directed graph algorithms and adaptive mesh refinement methods for astr

[2020-07-30 09:02] kegiljarhus commented on #2513
Thank you for the suggestions, @eloisabentivegna. Since @zingale already updated the developer list, and the pull request links to this review, I believe that is sufficient and we do not need to create a new issue. The comments on testing are also satisfactory from my side.

[2020-07-30 10:30] muhrin commented on #2351
Thanks @dghoshal-lbl !

I've created a PR to address the final points, this should get merged soon: https://github.com/aiidateam/kiwipy/pull/76.

[2020-07-30 11:14] trisbek commented on #2377
I am OK and happy with the responses. I hope the tool is discovered,
recognised and used by animal sleep studies and associated questions. I
hope that some of the code and criteria also matches human studies in the
future as it would be useful for translational purposes. best to all!

El lun., 27 jul. 2020 a las 15:51, Olivia Guest (<notifications@github.com>)
escribió:

[2020-07-30 11:48] diehlpk commented on #2352
@bhatele Yes the amount of line of codes is not on the top of the list, however these changes results in following important items for the HPX community
* that HPX compiles on the ARM7 architecture, and we prepare an SC workshop paper with that functionality
* that HPX compiles on Power9 on Summit
* that HPX can be compiled and distributed as rpm packages
* That HPX was accepted in the official Fe

[2020-07-30 11:52] aj2duncan commented on #2282
Hi @danielskatz,

I'm waiting on jcolomb/HCS_analysis#20 and then I've got a couple of documentation things to check. I hope to have this done over the weekend.

[2020-07-30 11:55] diehlpk commented on #2352
@bhatele We have some examples to show the basic features of HPX

https://github.com/STEllAR-GROUP/hpx/tree/master/examples/quickstart

and some more advanced examples where we combine these basic features

https://github.com/STEllAR-GROUP/hpx/tree/master/examples/

In addition, we have eight steps to go from a serial 1D stencil-based to a fully asynchronous distributed one

https://github.com/STE

[2020-07-30 12:31] adbar commented on #2439
@danielskatz yes, thank you for the revision!

[2020-07-30 13:15] danielskatz commented on #2439
@whedon generate pdf

[2020-07-30 13:15] whedon commented on #2439
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02439/joss.02439/10.21105.joss.02439.pdf)

[2020-07-30 13:15] danielskatz commented on #2439
@whedon set v0.7.0 as version

[2020-07-30 13:16] whedon commented on #2439
OK. v0.7.0 is the version.

[2020-07-30 13:16] danielskatz commented on #2439
@whedon set 10.5281/zenodo.3966235 as archive

[2020-07-30 13:16] whedon commented on #2439
OK. <a href="https://doi.org/10.5281/zenodo.3966235" target="_blank">10.5281/zenodo.3966235</a> is the archive.

[2020-07-30 13:16] danielskatz commented on #2439
@whedon check references

[2020-07-30 13:16] whedon commented on #2439
[code]

[2020-07-30 13:17] danielskatz commented on #2439
@whedon accept

[2020-07-30 13:17] whedon commented on #2439
[code]

[2020-07-30 13:18] whedon commented on #2439
[code]

[2020-07-30 13:18] whedon commented on #2439
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1603

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1603, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-30 13:22] danielskatz commented on #2439
@whedon accept deposit=true

[2020-07-30 13:22] whedon commented on #2439
[code]

[2020-07-30 13:23] whedon commented on #2439
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1288827489113038850) 👈 🐦🐦🐦

[2020-07-30 13:23] whedon commented on #2439
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1604
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02439](https://doi.org/10.21105/joss.02439)
2. If everything looks g

[2020-07-30 13:26] danielskatz commented on #2439
Thanks to @geoffbacon & @proycon for reviewing!

Congratulations to @adbar!!

[2020-07-30 13:26] #2439 closed

[2020-07-30 13:26] whedon commented on #2439
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02439/status.svg)](https://doi.org/10.21105/joss.02439)

**We need your help!**

Journal of Open Source Softwa

[2020-07-30 13:34] eloisabentivegna commented on #2517
@whedon add @ianhinder as reviewer

[2020-07-30 13:34] whedon commented on #2517
OK, @ianhinder is now a reviewer

[2020-07-30 13:35] danielskatz commented on #2352
@diehlpk

1. In a comment above (https://github.com/openjournals/joss-reviews/issues/2352#issuecomment-666317854), it looks like you edited the reviewers comment to add an answer.  It would be much cleaner to just quote the question in a new comment and answer it there.  Please don't edit reviewer comments in the future, to keep the process as transparent as possible.
2. Your answer seems to imply

[2020-07-30 13:40] diehlpk commented on #2352
I need to apologize and it was not my intention, since I quoted for the previous answers.

Yes, childcare interfered and I could not commit the change yet, however, I am in meetings now and will commit is after I finished the meetings.

[2020-07-30 13:45] diehlpk commented on #2352
@bhatele If you have any questions about specific functionality @hkaiser or @mstimberg would be happy to point you to the specific lines of source code. I can assist you to find the corresponding example or provide you with more references.

[2020-07-30 13:48] bhatele commented on #2352
Re:

@diehlpk are all contributions to the software for non-members through patches? Can non-members submit PRs to the project. I didn't see any documentation regarding this. Also, the contribution guide does not mention any of this and that's in a separate document on governance here: http://hpx.stellar-group.org/governance/

The Governance document says: "Anyone can become a contributor, and con

[2020-07-30 13:56] diehlpk commented on #2352
@bhatele Only few core developers work on the HPX repo directly. Most of our collaborators fork the Ste||ar group's HPX repo to their user, e.g. diehlpk/hpx in my case, and work from there and do a pull request against Ste||ar group's HPX repo. I did most of my contributions this way and many others which are not the core developers or doing releases.

[2020-07-30 13:58] diehlpk commented on #2352
@mstimberg and @hkaiser Should we refer to the governance document here?

@mstimberg Can you check why there is no link and may fix it?

[2020-07-30 14:13] mstimberg commented on #2352
Hi @diehlpk and others. I don't think I have been involved in this review until now. I guess you meant to tag someone else?

[2020-07-30 14:14] diehlpk commented on #2352
We're preparing pull requests for these issues.

[2020-07-30 14:15] diehlpk commented on #2352
Yes, sorry. Your name is too close to the actual one, I wanted to ping.

[2020-07-30 14:59] diehlpk commented on #2352
@whedon check references from branch JOSS

[2020-07-30 14:59] whedon commented on #2352
[code]

[2020-07-30 15:00] whedon commented on #2352
[code]

[2020-07-30 15:00] mikldk commented on #2534
@tgerke, @jenzopr: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-07-30 15:04] diehlpk commented on #2352
@whedon check references from branch JOSS

[2020-07-30 15:04] whedon commented on #2352
[code]

[2020-07-30 15:05] whedon commented on #2352
[code]

[2020-07-30 15:07] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-07-30 15:07] whedon commented on #2352
[code]

[2020-07-30 15:08] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-07-30 15:19] diehlpk commented on #2352
@bhatele This pull request blow addresses your remarks to the documentation and governance document. Please let us know if these changes are sufficient.

[2020-07-30 15:25] Midnighter commented on #2342
I know that the DOI is going to be 10.15252/msb.20199235 but it's not available just yet. I think a few more days and it should be online. I'll edit the reference as soon as I know more.

[2020-07-30 15:33] eloisabentivegna commented on #2495
@whedon re-invite @afialkov as reviewer

[2020-07-30 15:33] whedon commented on #2495
OK, the reviewer has been re-invited.

@afialkov please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-30 15:33] eloisabentivegna commented on #2495
@whedon re-invite @Stefan-Heimersheim as reviewer

[2020-07-30 15:33] whedon commented on #2495
OK, the reviewer has been re-invited.

@stefan-heimersheim please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-30 15:38] hkaiser commented on #2352
@bhatele I have created a PR to the HPX documentation that addresses the comments you made here: https://github.com/STEllAR-GROUP/hpx/pull/4875. I have also addressed the comment to add more information about PRs and added the missing link to the governance model document. Thanks!

[2020-07-30 16:55] oliviaguest commented on #2394
Oh, perfect! @OttaviaE Can you make the title of the zenodo repo be exactly: ` Implicit measures with reproducible results: The implicitMeasures package`, please?

[2020-07-30 17:06] OttaviaE commented on #2394
@oliviaguest of course! done

[2020-07-30 19:04] uellue commented on #2351
@danielskatz Good to go from my perspective! :-)

[2020-07-31 00:44] stemangiola commented on #2472
Hello @karthik all good except few packages names seem to have been printed in two lines. magrittr and ComplexHeatmap are splt across lines with no hyphenation.

[2020-07-31 00:46] karthik commented on #2472
@whedon generate pdf

[2020-07-31 00:46] whedon commented on #2472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02472/joss.02472/10.21105.joss.02472.pdf)

[2020-07-31 01:50] pibion commented on #2363
@sambit-giri we have just a few more steps - I need to do a read-through of the final pdf and then you'll need to archive your software on Zenodo or Figshare.  I'll be able to review the pdf tomorrow and will ping you on the action you need to take tomorrow.

[2020-07-31 01:59] kthyng commented on #2472
Hi @stemangiola! I will help finishing publishing your paper. I suggest that you change the metadata in your Zenodo archive to exactly match your JOSS paper title and authors.

[2020-07-31 02:35] dghoshal-lbl commented on #2351
@danielskatz It's all good from my side too.

[2020-07-31 02:42] stemangiola commented on #2472
Thanks @kthyng the https://zenodo.org/deposit/3966515 has been updated

[2020-07-31 04:07] cMadan commented on #2226
@paul-buerkner, that would be great thank you!

@johannes-titz, thanks for letting me know!

@akcochrane @ejhigson @paul-buerkner, as we now have two reviewers, I will go ahead and start the actual review process. Do let me know if you have any questions as things progress!

[2020-07-31 04:08] cMadan commented on #2226
@whedon add @paul-buerkner as reviewer

[2020-07-31 04:08] whedon commented on #2226
OK, @paul-buerkner is now a reviewer

[2020-07-31 04:08] cMadan commented on #2226
@whedon start review

[2020-07-31 04:08] whedon opened #2535 "[REVIEW]: TEfits: Nonlinear regression for time-evolving indices"
**Submitting author:** @akcochrane (<a href="http://orcid.org/0000-0001-6691-9149">Aaron Cochrane</a>)
**Repository:** <a href="https://github.com/akcochrane/TEfits" target ="_blank">https://github.com/akcochrane/TEfits</a>
**Version:** v0.77.01
**Editor:** @cMadan
**Reviewer:** @ejhigson, @paul-buerkner
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-07-31 04:08] whedon commented on #2226
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2535.

[2020-07-31 04:08] #2226 closed

[2020-07-31 04:08] whedon commented on #2535
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ejhigson, @paul-buerkner it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-07-31 04:09] whedon commented on #2535
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02535/joss.02535/10.21105.joss.02535.pdf)

[2020-07-31 04:28] joglekara commented on #2182
@TomGoffrey  @dpsanders looking forward to your thoughts on how to proceed here. Thanks!

[2020-07-31 06:23] oliviaguest commented on #2394
@whedon set 10.5281/zenodo.3961817 as archive

[2020-07-31 06:23] whedon commented on #2394
OK. <a href="https://doi.org/10.5281/zenodo.3961817" target="_blank">10.5281/zenodo.3961817</a> is the archive.

[2020-07-31 06:24] oliviaguest commented on #2394
@whedon generate pdf

[2020-07-31 06:25] whedon commented on #2394
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02394/joss.02394/10.21105.joss.02394.pdf)

[2020-07-31 06:25] oliviaguest commented on #2394
@whedon accept

[2020-07-31 06:25] whedon commented on #2394
[code]

[2020-07-31 06:26] whedon commented on #2394
[code]

[2020-07-31 06:26] whedon commented on #2394
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1605

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1605, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-31 06:30] oliviaguest commented on #2394
@openjournals/joss-eics please do the thing! 💖

[2020-07-31 07:17] eloisabentivegna commented on #2513
@whedon add @joshia5 as reviewer

[2020-07-31 07:17] whedon commented on #2513
OK, @joshia5 is now a reviewer

[2020-07-31 07:26] eloisabentivegna commented on #2338
Thanks for your comments, @jangmys!

Could you raise any future issues in the respective repositories? This will ensure your suggestions will enter the package histories and be properly credited. You can create a mention here by using this issue's URL in a repository's issue, if you wish (see https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#guiding-principles).

[2020-07-31 09:42] bonh commented on #2513
https://github.com/AMReX-Astro/Castro/issues/1154

[2020-07-31 10:46] bonh commented on #2513
https://github.com/AMReX-Astro/Castro/issues/1155

[2020-07-31 10:54] bonh commented on #2513
@eloisabentivegna On references: "Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)?" As this is not my field of expertise I am not able to determine if the references concerning the physics and mathematics for this particular problem are complete and/or appropriate.

[2020-07-31 10:57] skapfer commented on #2300
@whedon generate pdf from branch joss

Hi,

We extended the acknowledgments, and focused the title some more on the main contribution.

Best,
  Sebastian

[2020-07-31 10:57] whedon commented on #2300
[code]

[2020-07-31 10:58] whedon commented on #2300
PDF failed to compile for issue #2300 with the following error:

 error: pathspec 'joss
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-07-31 10:58] skapfer commented on #2300
@whedon generate pdf from branch joss

[2020-07-31 10:58] whedon commented on #2300
[code]

[2020-07-31 10:59] bonh commented on #2513
@eloisabentivegna On Functionality: "Have the functional claims of the software been confirmed?" I do not have a hpc cluster available for testing so I am not able to confirm the code to be able to conduct "massively parallel [...] simulations"

[2020-07-31 10:59] whedon commented on #2300
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02300/joss.02300/10.21105.joss.02300.pdf)

[2020-07-31 11:03] bonh commented on #2513
@zingale Really impressive work!

[2020-07-31 11:05] xuanxu commented on #2491
:wave: @grburgess would you be willing to review this submission for JOSS?
I think your knowledge of Python and Astrophysics makes you a nice fit for this submission.

[2020-07-31 11:06] grburgess commented on #2491
i would be happy to!

[2020-07-31 11:15] TomGoffrey commented on #2182
Based on that version I only have a couple of comments:

1. t / \omega isn't a dimensionless time. I presume you mean t \omega. I raised this on the PR for the paper branch a couple of weeks ago but perhaps you didn't notice.
2. The Vlasov equation (in the limit of zero B-field) for species is df_\alpha / dt = ... + (q_alpha E / m_alpha) \nabla_\alpha f_alpha. (Sorry I don't now how to render math

[2020-07-31 11:19] xuanxu commented on #2491
@grburgess great, thanks! I'll add you as reviewer and start the review issue now.

[2020-07-31 11:19] hugoledoux commented on #2365
@whedon add @jvdkwast as reviewer

[2020-07-31 11:19] whedon commented on #2365
OK, @jvdkwast is now a reviewer

[2020-07-31 11:19] xuanxu commented on #2491
@whedon add @grburgess as reviewer

[2020-07-31 11:19] whedon commented on #2491
OK, @grburgess is now a reviewer

[2020-07-31 11:19] xuanxu commented on #2491
@whedon start review

[2020-07-31 11:19] whedon opened #2536 "[REVIEW]: PyGRB: A pure python gamma-ray burst analysis package."
**Submitting author:** @JamesPaynter (<a href="http://orcid.org/0000-0002-9672-4008">James Paynter</a>)
**Repository:** <a href="https://github.com/JamesPaynter/PyGRB" target ="_blank">https://github.com/JamesPaynter/PyGRB</a>
**Version:** v1.0.2
**Editor:** @xuanxu
**Reviewer:** @zingale, @grburgess
**Archive:** <a href="https://doi.org/10.5281/zenodo.4031843" target="_blank">10.5281/zenodo.40318

[2020-07-31 11:19] whedon commented on #2491
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2536.

[2020-07-31 11:20] #2491 closed

[2020-07-31 11:20] whedon commented on #2536
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zingale, @grburgess it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-07-31 11:20] whedon commented on #2536
[code]

[2020-07-31 11:20] whedon commented on #2536
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02536/joss.02536/10.21105.joss.02536.pdf)

[2020-07-31 11:21] xuanxu commented on #2491
@zingale, @grburgess: please head over to #2536 where the review will take place.

[2020-07-31 11:23] hugoledoux commented on #2365
@whedon start review

[2020-07-31 11:23] whedon opened #2537 "[REVIEW]: BigX: A geographical dataset visualisation tool"
**Submitting author:** @geekysquirrel (<a href="http://orcid.org/0000-0003-3030-9853">Stefanie Wiegand</a>)
**Repository:** <a href="https://gitlab.com/geekysquirrel/bigx" target ="_blank">https://gitlab.com/geekysquirrel/bigx</a>
**Version:** 2.1.1.
**Editor:** @hugoledoux
**Reviewer:** @liberostelios, @jvdkwast
**Archive:** <a href="https://doi.org/10.5281/zenodo.4272105" target="_blank">10.5281

[2020-07-31 11:23] whedon commented on #2365
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2537.

[2020-07-31 11:23] #2365 closed

[2020-07-31 11:23] whedon commented on #2537
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @liberostelios, @jvdkwast it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-07-31 11:23] whedon commented on #2537
[code]

[2020-07-31 11:23] whedon commented on #2537
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02537/joss.02537/10.21105.joss.02537.pdf)

[2020-07-31 11:23] xuanxu commented on #2536
@zingale, @grburgess, @JamesPaynter: this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2020-07-31 11:26] hugoledoux commented on #2537
👋 @geekysquirrel it took some time (apologies) but now there are two knowledgeable reviewers and the review is starting.

One comment on my part, perhaps you could comment here (or update the paper): I was wondering for which use-cases you see people using your work, and not QGIS for example? I find QGIS good/powerful/etc and it's free, so wondering where does your work fit and what is "simpler" w

[2020-07-31 11:30] hugoledoux commented on #2300
👋 @skapfer I am having *real* problems finding a second reviewer, the ones you proposed all declined 🙈  (because no C++, or no time). So if you have more than please help, I am waiting for answers from a suggestion from one (but it's holidays...).

I'll start the official review with one, and add another when the person is found.

I'm away on holidays myself the next 2 weeks also... 🏕️

[2020-07-31 11:31] hugoledoux commented on #2300
@whedon start review

[2020-07-31 11:31] whedon opened #2538 "[REVIEW]: papaya2 & Morphometer: 2D Irreducible Minkowski Tensor computation"
**Submitting author:** @skapfer (<a href="http://orcid.org/0000-0002-7591-2739">Sebastian Kapfer</a>)
**Repository:** <a href="https://github.com/morphometry/papaya2" target ="_blank">https://github.com/morphometry/papaya2</a>
**Version:** v1.0.0
**Editor:** @hugoledoux
**Reviewers:** @kenohori, @rmjarvis
**Archive:** <a href="https://doi.org/10.5281/zenodo.4071543" target="_blank">10.5281/zenodo.

[2020-07-31 11:31] whedon commented on #2538
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kenohori it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-07-31 11:31] whedon commented on #2538
PDF failed to compile for issue #2538 with the following error:

 Can't find any papers to compile :-(

[2020-07-31 11:37] grburgess commented on #2536
@xuanxu do we post questions about the code to the author here?

[2020-07-31 11:42] xuanxu commented on #2536
@grburgess Sure, you can use this issue to discuss anything with the author.

[2020-07-31 11:46] grburgess commented on #2536
@JamesPaynter A quick run through the code gives the impression that everything is implemented in a statistically proper manner. I have question about how you deal with rates across the BATSE detectors. It appears you are summing them together on a per channel basis, is my impression correct?

[2020-07-31 12:01] ekaterinailin commented on #2347
Hi @afeinstein20 !

Thanks for addressing my extra comments. Test are good to go, so I checked the last box :+1: . May this software be useful for many flare researchers to come :crossed_fingers: .

**re: Github issues vs. email** - I think you're making a fair point. Eventually, it's up to the maintainer of the software to choose what works best for them.

[2020-07-31 12:14] arfon commented on #2347
👋 @afeinstein20 - looks like this submission is pretty much ready to accept and publish on the JOSS side of things.

How is the AAS paper coming along? Have you received any notifications from them about what the DOI will be for that paper? As this is a joint AAS/JOSS paper, we'll need to do a little coordination with AAS publishing before we publish here to ensure that the JOSS paper correctly cr

[2020-07-31 12:14] arfon commented on #2347
@whedon generate pdf

[2020-07-31 12:15] whedon commented on #2347
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02347/joss.02347/10.21105.joss.02347.pdf)

[2020-07-31 12:34] arfon commented on #2347
@whedon check references

[2020-07-31 12:34] whedon commented on #2347
[code]

[2020-07-31 12:34] danielskatz commented on #2351
@muhrin - please go ahead and merge your remaining PR.

Then, make sure the paper is complete and accurate, and
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadat

[2020-07-31 12:36] arfon commented on #2347
@afeinstein20 - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2020-07-31 12:53] jni commented on #2452
👋 Hi everyone! Brand new editor here, but I'd also be happy to be editor for this paper once it's ready to move forward.

[2020-07-31 13:03] mtremmel commented on #2430
All of my comments have been addressed and I am happy to accept!

[2020-07-31 13:28] dfm commented on #2430
@whedon generate pdf from branch joss-paper

[2020-07-31 13:28] whedon commented on #2430
[code]

[2020-07-31 13:29] whedon commented on #2430
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02430/joss.02430/10.21105.joss.02430.pdf)

[2020-07-31 13:30] Gabriel-p commented on #2308
Hi @kthyng, I'll try to get to it this weekend

[2020-07-31 13:31] diehlpk commented on #2403
Hi @lukasheinrich how is your review going?

[2020-07-31 14:07] dfm commented on #2430
@JBorrow: I opened a pull request with some edits for the `.bib` file - the manuscript otherwise looks great to me. After you merge that, can you build the paper here to make sure you're happy with the proofs (it will be harder to make too many changes later!)

Then, once you're happy with the proofs, can you bump the version number of the code and archive it (using Zenodo or similar). The archive

[2020-07-31 14:08] dfm commented on #2430
@dmentipl, @mtremmel: Thank you very much for your reviews! I really appreciate that time you took and the constructive suggestions you had for the code!!

[2020-07-31 14:29] tomfaulkenberry commented on #2523
I have completed my review, and I ran into no issues.  The software paper clearly describes the audience and intended use of the software, and the software installed perfectly fine on my machine (2019 Macbook Air running Catalina, Python version 3.8 installed via Homebrew).  All tutorials in the documentation were clear and I was able to recreate the examples on my own).

Overall, I can conclude m

[2020-07-31 15:23] hugoledoux commented on #2184
/ooo August 1 until August 16

[2020-07-31 15:24] hugoledoux commented on #2537
/ooo August 1 until August 16

[2020-07-31 15:24] hugoledoux commented on #2538
/ooo August 1 until August 16

[2020-07-31 15:28] lincoln-harris commented on #2432
the majority of reviewer comments have been addressed with the latest [release](https://github.com/czbiohub/cerebra/releases/tag/v1.1.2).
looking forward to additional feedback!

[2020-07-31 18:30] mathieuboudreau commented on #2478
I've started to review this submission, and opened several 6 issues in their repositories (issues 1 through 6 in https://github.com/ritagnunes/PulseqDiffusion/issues). I can't proceed until some of those are resolved, as the installation/example usage/funcitonality/tests are incomplete or not well documented (i.e. I can't figure out how to run/test the software yet).

In addition, @ritagnunes coul

[2020-07-31 19:16] jaeyk commented on #2450
@jeffcsauer Could you rename [the Articles section in the tab in the reference page](https://wpinvestigative.github.io/arcos/articles/per-capita-pharmacies.html) for something more intuitive (e.g. User's Guide)? As of now, it's not very clear what it means.

[2020-07-31 19:16] mikapfl commented on #2381
Hi,

I've looked into the paper itself. I think it is a nice and short description of the the capabilities of `xrdfit` and motivates well what the purpose of `xrdfit` is. I found only a couple of minor things which could be clearer:
* In the first paragraph, you write:

However, the Diamond Light Source is a synchrotron radiation facility comprising many beamlines, so this is not quite correct. Ma

[2020-07-31 19:30] jaeyk commented on #2450
@jeffcsauer  It would be great, if you include some unit tests. For instance,

[code]

[2020-07-31 19:36] jaeyk commented on #2450
Functionality checks for the R version

- [ ] combined_buyer_annual()
- [ ] total_pharmacies_county()
- [ ] drug_list()
- [ ] drug_county_biz()
- [ ] total_pharmacies_state()
- [ ] county_population()
- [ ] buyer_address()
- [ ] pharmacy_raw()

[2020-07-31 19:41] jaeyk commented on #2450
@jeffcsauer Could you provide the vignette for the Python version package? Currently, the reference in the Python package is linked to the vignette section of the R version package.

[2020-07-31 21:34] joshia5 commented on #2513
@whedon generate pdf from branch development

[2020-07-31 21:34] whedon commented on #2513
[code]

[2020-07-31 21:35] whedon commented on #2513
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02513/joss.02513/10.21105.joss.02513.pdf)

[2020-07-31 23:18] afrubin commented on #2432
@lincoln-harris I have a few additional comments on the writing in the germline-filter section of the paper and the README.

A more typical phrasing from cancer genomics would be "tumor vs. normal" rather than "tumor/pathogenic vs control."

The text says that germline-filter can be used "so as to not bias the results by including non-pathogenic variants." While I understand the motivation for thi

[2020-08-01 00:00] cadop commented on #2404
@trallard  It seems that the issue I mentioned above is the only thing left in the checks and it requires your sign-off. Please let me know if there is something waiting on me otherwise.

[2020-08-01 03:54] joglekara commented on #2182
@TomGoffrey thanks for the follow up!

1. Fixed! Thanks for catching this.  (I've been working off of https://github.com/joglekara/VlaPy/pull/45 for the past month, and don't see your comment in there. Perhaps it was in a different PR that got merged, so my apologies.)

2. Ah, thanks for that too. You are very right here, and I got lost in making sure the pesky minus signs were consistent between

[2020-08-01 08:11] JBorrow commented on #2430
@whedon generate pdf from branch joss-paper

[2020-08-01 08:11] whedon commented on #2430
[code]

[2020-08-01 08:11] JBorrow commented on #2430
Thanks all for your effort on this! Really excited to have this out in JOSS.

[2020-08-01 08:11] whedon commented on #2430
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02430/joss.02430/10.21105.joss.02430.pdf)

[2020-08-01 08:32] JBorrow commented on #2430
The new version number is 4.0.4 and the DOI is 10.5281/zenodo.3969268.

[2020-08-01 08:33] kuangmeng commented on #2493
Hi @will-rowe

Thanks for your comments and I have revised the README file for your 1st and 3rd comments. As for 2nd comment, I will try my best to do it.

[2020-08-01 11:47] dfm commented on #2430
@JBorrow: It looks like all we got in that archive is the wheel of the Python package. It should be the full source of the repo instead!

[2020-08-01 12:19] JBorrow commented on #2430
Apologies, I didn't realise that was what was required - how is 10.5281/zenodo.3969353?

[2020-08-01 12:47] kinnala commented on #2369
@whedon generate pdf

[2020-08-01 12:48] whedon commented on #2369
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02369/joss.02369/10.21105.joss.02369.pdf)

[2020-08-01 12:49] dfm commented on #2430
@JBorrow: Looks good - thanks!

[2020-08-01 12:49] dfm commented on #2430
@whedon set 10.5281/zenodo.3969353 as archive

[2020-08-01 12:49] whedon commented on #2430
OK. <a href="https://doi.org/10.5281/zenodo.3969353" target="_blank">10.5281/zenodo.3969353</a> is the archive.

[2020-08-01 12:49] dfm commented on #2430
@whedon set v4.0.4 as version

[2020-08-01 12:49] whedon commented on #2430
OK. v4.0.4 is the version.

[2020-08-01 12:49] dfm commented on #2430
@whedon accept

[2020-08-01 12:49] whedon commented on #2430
[code]

[2020-08-01 12:50] whedon commented on #2430
PDF failed to compile for issue #2430 with the following error:

 Can't find any papers to compile :-(

[2020-08-01 12:59] dfm commented on #2430
@whedon accept from branch joss-paper

[2020-08-01 12:59] whedon commented on #2430
[code]

[2020-08-01 12:59] whedon commented on #2430
[code]

[2020-08-01 13:00] whedon commented on #2430
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1606

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1606, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-01 13:27] JBorrow commented on #2430
Great, the final proof looks good to me. I'd like to thank all three of you for your work and help on this!

[2020-08-01 13:47] lukasheinrich commented on #2403
Hi @diehlpk I will be able to finish the review next week. Apologies for the delay.

[2020-08-01 14:12] dhhagan commented on #2435
Reminder set for @gonsie in 2 days

[2020-08-01 15:04] mdsteiner commented on #2521
Thank you @chainsawriot for the fast review and the many helpful comments and suggestions! Please find below our responses to your raised points.

# Software paper

the ability to reproduce the R psych (Revelle, 2019) and SPSS (IBM, 2015) implementations of some analyses methods, as well as the inclusion of experimental implementations for these methods based on simulation analyses by the authors

[2020-08-01 16:51] whedon opened #2539 "[PRE REVIEW]: Covid19data.website"
**Submitting author:** @malouche (<a href="http://orcid.org/0000-0002-0494-7141">dhafer malouche</a>)
**Repository:** <a href="https://malouche.github.io/covid19data/" target ="_blank">https://malouche.github.io/covid19data/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-08-01 16:51] whedon commented on #2539
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-01 16:51] whedon opened #2540 "[PRE REVIEW]: maxsmooth: Derivative Constrained Function Fitting"
**Submitting author:** @htjb (<a href="http://orcid.org/0000-0002-4367-3550">Harry Bevins</a>)
**Repository:** <a href="https://github.com/htjb/maxsmooth" target ="_blank">https://github.com/htjb/maxsmooth</a>
**Version:** v1.1.0
**Editor:** @dfm
**Reviewers:** @smutch, @benjaminpope
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-08-01 16:51] whedon commented on #2540
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-01 16:51] whedon opened #2541 "[PRE REVIEW]: ShinyJWAS: Shiny-based Application to Help Perform Whole-genome Bayesian Regression Analysis with JWAS package"
**Submitting author:** @justinwang97 (<a href="http://orcid.org/0000-0002-1472-593X">Zigui Wang</a>)
**Repository:** <a href="https://github.com/QTL-rocks/ShinyJWAS.git" target ="_blank">https://github.com/QTL-rocks/ShinyJWAS.git</a>
**Version:** v0.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-08-01 16:51] whedon commented on #2541
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-01 16:51] whedon opened #2542 "[PRE REVIEW]: DYCO: A Python package to dynamically detect and compensate for time lags in ecosystem time series"
**Submitting author:** @ (<a href="http://orcid.org/0000-0002-5569-0761">Lukas Hörtnagl</a>)
**Repository:** <a href="https://gitlab.ethz.ch/holukas/dyco-dynamic-lag-compensation/-/tree/master" target ="_blank">https://gitlab.ethz.ch/holukas/dyco-dynamic-lag-compensation/-/tree/master</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOS

[2020-08-01 16:51] whedon commented on #2542
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-01 16:53] whedon commented on #2539
PDF failed to compile for issue #2539 with the following error:

 Can't find any papers to compile :-(

[2020-08-01 16:53] whedon commented on #2540
Failed to discover a `Statement of need` section in paper

[2020-08-01 16:53] whedon commented on #2540
[code]

[2020-08-01 16:53] whedon commented on #2541
Failed to discover a `Statement of need` section in paper

[2020-08-01 16:53] whedon commented on #2541
[code]

[2020-08-01 16:53] whedon commented on #2540
[code]

[2020-08-01 16:53] whedon commented on #2540
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02540/joss.02540/10.21105.joss.02540.pdf)

[2020-08-01 16:53] whedon commented on #2541
[code]

[2020-08-01 16:53] whedon commented on #2541
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02541/joss.02541/10.21105.joss.02541.pdf)

[2020-08-01 16:53] whedon commented on #2542
PDF failed to compile for issue #2542 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2542 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-3c447da9bd61/lib/whedo

[2020-08-01 16:57] kthyng commented on #2430
Everything looks good to me!

[2020-08-01 16:58] kthyng commented on #2430
@whedon accept deposit=true from branch joss-paper

[2020-08-01 16:58] whedon commented on #2430
[code]

[2020-08-01 16:58] whedon commented on #2430
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1289606541645996034) 👈 🐦🐦🐦

[2020-08-01 16:58] whedon commented on #2430
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1607
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02430](https://doi.org/10.21105/joss.02430)
2. If everything looks g

[2020-08-01 16:59] kthyng commented on #2539
Hi @malouche! We review the repository for the software for the JOSS review. What is the repo address for your submission?

[2020-08-01 17:00] kthyng commented on #2539
@malouche and presumably your JOSS paper is also present in the repo?

[2020-08-01 17:03] kthyng commented on #2430
Congrats on your new publication @JBorrow! Thanks to the hard work and expertise of our editor @dfm and reviewers @dmentipl, @mtremmel!!

[2020-08-01 17:03] #2430 closed

[2020-08-01 17:03] whedon commented on #2430
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02430/status.svg)](https://doi.org/10.21105/joss.02430)

**We need your help!**

Journal of Open Source Softwa

[2020-08-01 17:09] kthyng commented on #2394
Hi @OttaviaE! I see the title of your package at Zenodo is the same as your paper title – excellent – but can you also have the author list match your paper?

Also, can I verify the version that you want associated with your JOSS submission? It looks to me like it should be v0.2.0?

[2020-08-01 17:12] kthyng commented on #2394
I'll just note here that there is an issue that is still [open](https://github.com/OttaviaE/implicitMeasures/issues/7) that appears to be associated with this review that I am waiting to hear back about.

[2020-08-01 17:24] kthyng commented on #2540
@dfm could you edit this submission?

[2020-08-01 17:25] kthyng commented on #2540
@whedon invite @dfm as editor

[2020-08-01 17:25] whedon commented on #2540
@dfm has been invited to edit this submission.

[2020-08-01 17:41] kthyng commented on #2540
@htjb Please add a Statement of Need to your paper.

[2020-08-01 17:49] htjb commented on #2540
Hi @kthyng, the first section in the paper after the summary is essentially a Statement of Need. I can make this more explicit if required or indeed change the title of the section?

[2020-08-01 17:56] htjb commented on #2540
@whedon generate pdf

[2020-08-01 17:57] whedon commented on #2540
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02540/joss.02540/10.21105.joss.02540.pdf)

[2020-08-01 17:58] htjb commented on #2540
@whedon check references

[2020-08-01 17:58] whedon commented on #2540
[code]

[2020-08-01 18:48] pythonpanda2 commented on #1942
@majensen  @benjaminbolling  I have closed this issue . https://github.com/benjaminbolling/DynaGUI/issues/2

[2020-08-01 19:06] pythonpanda2 commented on #1942
@majensen  @benjaminbolling  It would be good to see if we can resolve this : https://github.com/benjaminbolling/DynaGUI/issues/3

[2020-08-01 19:52] OttaviaE commented on #2394
Hey @kthyng! I added my co-authors on Zenodo, but I also left @oliviaguest in the author list.

Regarding the version, yes, the version associated to my joss submission is version v0.2.0

[2020-08-01 21:19] kthyng commented on #2472
@whedon generate pdf

[2020-08-01 21:21] whedon commented on #2472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02472/joss.02472/10.21105.joss.02472.pdf)

[2020-08-01 21:40] kthyng commented on #2542
The following looks like the proper URL for this submission repo: https://gitlab.ethz.ch/holukas/dyco-dynamic-lag-compensation

However, there is no github name for this submission.

[2020-08-01 21:43] kthyng commented on #2542
I reached out to the author by email and will pause this in the meantime.

[2020-08-01 21:46] kthyng commented on #2394
@OttaviaE and @oliviaguest Is @oliviaguest being added as an author of this submission?

[2020-08-01 21:46] kthyng commented on #2394
@whedon set v0.2.0 as version

[2020-08-01 21:46] whedon commented on #2394
OK. v0.2.0 is the version.

[2020-08-01 21:49] kthyng commented on #2540
@htjb Thanks for the change, yes, we do indeed want the explicit heading name.

[2020-08-01 22:19] jedbrown commented on #2185
Thanks for your reviews and my apologies for my greatly delayed reply. I made some copy edits (see PR) and also encountered some further issues that I'd like you to consider.

* It looks like any MPI-1 implementation should be sufficient. I.e., one need not require MPICH.
* Software dependencies should be cited when possible. For example, [this](https://doi.org/10.11578/dc.20180330.1) appears to b

[2020-08-01 22:22] kinnala commented on #2369
@whedon generate pdf

[2020-08-01 22:23] whedon commented on #2369
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02369/joss.02369/10.21105.joss.02369.pdf)

[2020-08-01 22:24] kinnala commented on #2369
We thank both reviewers for their valuable feedback.  The submission has been
now updated based on the feedback.  Below are specific answers to the comments;
hopefully we were able to address everything.

# Answers to reviewer 1

We added a reference to the FEniCS book which explains these concepts very well.

We added a benchmark to the README just below the given quote. The benchmark
compares ti

[2020-08-01 23:51] jeffcsauer commented on #2450
@jaeyk thanks for the additional comments! A few follow-up points/questions:
- I have opened [an issue](https://github.com/wpinvestigative/arcos/issues/7) on the R/arcos repository to field possible renames for the button. I agree, this button should likely be renamed to something more intuitive.
- I have re-arranged (and added) [additional notebooks to the R/arcospy repository](https://github.com

[2020-08-02 01:45] dhruvbalwada commented on #2425
argopy is a software that I have always hoped and wished for, and it will really help fill a very important gap that scientists had to climb through to start using Argo data. There is a lot of great functionality that is part of this release, and there are excellent plans to add more features in the near future. I recommend the publication of this article in JOSS.

I have looked through the minor

[2020-08-02 03:38] shashwat-bhattacharya commented on #2185
Thanks @jedbrown for your suggestions. We will implement them and get back to you soon.

[2020-08-02 03:58] sara-02 commented on #2507
Hey @xillig
You may want to check out these projects/papers that have previousy worked on twiiter data vizulization and include them under the literature review for your paper.
Also, you need to point our how your package compares to existing work, maybe this list can be a starting point.
- https://www.csc2.ncsu.edu/faculty/healey/tweet_viz/
- Q.  Kong,  R.  Ram,  and  M.-A.  Rizoiu,  “A  toolkit

[2020-08-02 05:44] thelfer commented on #2369
@meg-simula, @kinnala I am quite satisfied by those answers. I think I can finish the review by the end of the week.

[2020-08-02 07:41] Kevin-Mattheus-Moerman commented on #2174
I think our guidelines are not clear enough on this, and we are updating these at the moment. If you could change it to have: `Institution, department (if applicable), city, state, country` that would be great. And please spell out United States of America.
Thanks.

[2020-08-02 10:12] htjb commented on #2540
@kthyng Not a problem and thank you for highlighting this

[2020-08-02 12:31] arfon commented on #2333
:wave: @jedbrown - just checking in on this paper to see how you're getting on identifying reviewers?

[2020-08-02 12:32] arfon commented on #2333
@whedon generate pdf

[2020-08-02 12:32] whedon commented on #2333
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02333/joss.02333/10.21105.joss.02333.pdf)

[2020-08-02 12:33] arfon commented on #2333
@jedbrown ☝️ looks like https://github.com/openjournals/whedon-api/pull/108 works nicely.

[2020-08-02 12:47] arfon commented on #1277
In May 2019, JOSS published this paper [tqdm: A Fast, Extensible Progress Meter for Python and CLI](https://joss.theoj.org/papers/10.21105/joss.01277).

While potential authorship issues were noted by [reviewers at the time](https://github.com/openjournals/joss-reviews/issues/1277#issuecomment-469208417) and [an attempt was made](https://github.com/openjournals/joss-reviews/issues/1277#issuecommen

[2020-08-02 12:47] #1277 closed

[2020-08-02 12:47] whedon commented on #1277
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01277/status.svg)](https://doi.org/10.21105/joss.01277)

**We need your help!**

Journal of Open Source Softwa

[2020-08-02 13:13] NicolasHug commented on #2174
Thanks @Kevin-Mattheus-Moerman , I updated to

`- name: Columbia University, Data Science Institute, New York City, New York, United States of America`

[2020-08-02 14:44] carleshf commented on #2410
Hi!

Sorry for the delay, I'm happy to review the tool too if I'm not too late.

*Carles Hernández*

Missatge de Roni Choudhury <notifications@github.com> del dia dl., 27 de
jul. 2020 a les 23:59:

[2020-08-02 15:46] sadielbartholomew commented on #2407
I second/third that this would be a good idea. Further evidence that this is causing installation difficulty being that the (immediate) aspect that seemed to prevent ``python setup.py develop`` from working (before it was cut out for that reason in ihesp/IPART#4) was ``cdutil``:

[code]

which appears to be [a CDAT-related tool](https://github.com/CDAT/cdutil). However, that is just an illustratio

[2020-08-02 15:47] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-08-02 15:47] whedon commented on #2182
[code]

[2020-08-02 15:47] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-08-02 17:12] janash commented on #2429
Hi @danielskatz , @richardjgowers - tagging to get the conversation going again. Is there anything you need from us to help speed up this process?

[2020-08-02 17:14] jaeyk commented on #2450
@jeffcsauer

re1: Great!

re2: I appreciate the detailed R documentation but it would be great if there's R & Python side-by-side vignette as that would help users to see how parallel the two packages are. For instance, users might have questions about whether the Python version has identical function names, arguments, etc. So, provide a minimum vignette that clarifies this potential confusion.

S

[2020-08-02 18:02] jeffcsauer commented on #2450
@jaeyk

Ah thank you so much for the clarification and example! I was misunderstanding the original point. Will do - I will work on a brief vignette that does side-by-side comparison and will make it prominently displayed on the shared arcos/arcospy repository, as well as linking on the specific software. I will ping you when it is done!

[2020-08-02 20:29] majensen commented on #2522
@Kevin-Mattheus-Moerman I would edit this.

[2020-08-02 23:06] sadielbartholomew commented on #2407
Continuing on the topic of improvements that are not compulsory towards acceptance in the paper given the open criteria, but would be good to think about going forwards, for good practice with metadata I suggest making more use of the [CF Conventions](https://cfconventions.org/) (the [recommended standard for netCDF](https://www.unidata.ucar.edu/software/netcdf/conventions.html)), namely as descri

[2020-08-03 01:22] mattwthompson commented on #2373
Apologies again for my delay, and thanks for quickly fixing the issue I raised over on GitLab. @salanne @lscalfi

The paper is well-written; it accurately describes the significant need [1] satisfied by this work, introduces the software, and briefly describes the theory behind it.  The software is MIT licensed, hosted openly on GitLab, and comes with detailed documentation on installing, using, a

[2020-08-03 01:50] JamesPaynter commented on #2536
@grburgess This release (v1.0.1) of the package is aimed at using the pre-binned bfits files that the NASA team creates for each burst after they occur. The available bfits light-curves are generally high enough (time) resolution to perform adequate pulse-fitting. I think they have a slightly more sophisticated algorithm involving the detector response matrices for adding data from multiple detect

[2020-08-03 02:36] zingale commented on #2536
The JOSS guidelines say:

the git history shows that the initial commit was ~ 2 months ago.  The SLOC is about 3.5k lines.

[2020-08-03 02:55] AnjaliSandip commented on #2369
The feedback provided by the author to my question was sufficient.

On Sun, Aug 2, 2020 at 12:45 AM ooo[bot] <notifications@github.com> wrote:

[2020-08-03 02:56] JamesPaynter commented on #2536
@zingale I have been working on this for ~2 years. When I was a young and naive programmer I accidentally committed a large amount of files and even after deleting them my repo was ~100mb. So I fiddled around with my git history and eventually wiped it to get the repo to a reasonable size.

[2020-08-03 07:52] rram84 commented on #2372
@jonwong12
Hi Jonathan,
I wanted to check if you had a chance to examine the revisions to DVRlib. If there is a specific revision you want to see included, I can work on it.

[2020-08-03 08:06] paul-buerkner commented on #2535
I just finished my review and have the following remaining points:

- I couldn't find any installation instructions on the README or elsewhere. Did I just overlook them? (Of course I know how to install from github but other people may not).
- Is there any plan to publish this package on a maintained package repository such as CRAN? Of course, this it not required for the JOSS submission but more

[2020-08-03 08:35] grburgess commented on #2536
@JamesPaynter Thanks for the update! There is actually no way to sum together light curves in count space as the signal from each detector has passed the response and has its own background. In order to model the latent (true) energy-(in)dependent light curve, one of need to fold an energy dependent, spectrally -evolving model through all detectors simultaneously, compare the individual count rate

[2020-08-03 09:17] pdebuyl commented on #2436
@jenzopr @blakeaw thank you for the reviews.

@CFGrote the bulk of the review so far concerns the paper and the documentation, can you propose a reply to the reviewers?

Regarding the paper, I will only point out that we request for JOSS to not include configuration files or tutorial-type instructions for running the code in the paper. We ask that this type of documentation remains in the README o

[2020-08-03 09:40] ynop commented on #2135
@terrytangyuan New version is `v6.0.0` and DOI is `10.5281/zenodo.3970567`

[2020-08-03 10:08] muhrin commented on #2351
Thanks @danielskatz .  So, here it is:

Tagged version is: https://github.com/aiidateam/kiwipy/tree/v0.6.1

Zenodo archive can be found here: https://zenodo.org/record/3970461.

Metadata matches that of submission.

DOI is: 10.5281/zenodo.3970461

Let us know if you need anything else to proceed.

[2020-08-03 10:10] sadielbartholomew commented on #2407
Sorry, I am running a bit later than this, but I promise to complete my review in the next few days.

Just to note regarding some newly-ticked review points:

* I have checked off 'Community guidelines' as they are now clear in both the docs & README after def1379d471d51bb9faa567fa40018f1f58fed8b;
* I am checking off the 'Performance' item since I cannot find any performance claims.

*********

@X

[2020-08-03 10:11] oliviaguest commented on #2394
I do not think I should be an author. Why am I being added as an author? 😅

[2020-08-03 10:14] oliviaguest commented on #2523
@cmparlettpelleriti & @alexjonesphd ☺️  Absolutely no pressure, but when you get a chance can you give us a rough ETA for when you will take a look at this?

[2020-08-03 10:19] oliviaguest commented on #2377
@Emma-k-ward, have you had a chance to check the above? 😊

[2020-08-03 10:20] oliviaguest commented on #2339
@whedon accept

[2020-08-03 10:20] whedon commented on #2339
[code]

[2020-08-03 10:20] whedon commented on #2339
[code]

[2020-08-03 10:21] whedon commented on #2339
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1608

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1608, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 10:28] oliviaguest commented on #2339
@openjournals/joss-eics please check this one and I'll email @Visdoom right now to make sure they check this thread carefully.

[2020-08-03 10:28] oliviaguest commented on #2339
Ah! I just saw the ❤️ react, @Visdoom! Fantastic! 👏

[2020-08-03 10:34] Visdoom commented on #2339
@oliviaguest I noticed a minor issue in the text where it says Fig. Figure X. Can I still update it? Otherwise it is also not a tragedy.

[2020-08-03 10:40] OttaviaE commented on #2394
@oliviaguest I actually don't know! I found your name as an author on Zenodo, but I didn't do it!

[2020-08-03 10:55] oliviaguest commented on #2339
@Visdoom yes, update it and we can fix it. 😺

[2020-08-03 10:56] Visdoom commented on #2339
Great, it is fixed in the 'paper.md'.

[2020-08-03 10:57] oliviaguest commented on #2339
@whedon generate pdf

[2020-08-03 10:58] whedon commented on #2339
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02339/joss.02339/10.21105.joss.02339.pdf)

[2020-08-03 10:58] oliviaguest commented on #2339
@Visdoom if that looks good, perfect. If it needs more changes, make them and run the command: `@whedon generate pdf` and lemme know. Does it look OK now? 🌸

[2020-08-03 11:00] Visdoom commented on #2339
Yes! Now it looks perfect. Thank you!

[2020-08-03 11:25] terrytangyuan commented on #2135
@whedon set v6.0.0 as version

[2020-08-03 11:25] whedon commented on #2135
OK. v6.0.0 is the version.

[2020-08-03 11:26] terrytangyuan commented on #2135
@whedon set 10.5281/zenodo.3970567 as archive

[2020-08-03 11:26] whedon commented on #2135
OK. <a href="https://doi.org/10.5281/zenodo.3970567" target="_blank">10.5281/zenodo.3970567</a> is the archive.

[2020-08-03 11:26] terrytangyuan commented on #2135
@whedon accept

[2020-08-03 11:26] whedon commented on #2135
[code]

[2020-08-03 11:26] whedon commented on #2135
[code]

[2020-08-03 11:27] whedon commented on #2135
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1609

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1609, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 11:28] terrytangyuan commented on #2135
@openjournals/joss-eics This paper looks good to me now. Handing over to you now!

[2020-08-03 11:38] lpantano commented on #2410
Hey @joannawolthuis, @jkanche, how is the reviewing going? Any updates on this?

Thanks @carleshf, hopefully we don't need more reviewers for now. Thank you!

[2020-08-03 11:38] oliviaguest commented on #2394
@OttaviaE Oh, please edit me to be not an author. 😆

[2020-08-03 11:39] lpantano commented on #2334
Hey @lskatz, any updates on this, are you currently addressing the issues raised by the reviewers? thanks1

[2020-08-03 12:07] OttaviaE commented on #2394
Okay @oliviaguest, I removed your name from the authors list on Zenodo!

[2020-08-03 12:19] dfm commented on #2540
@htjb: I noticed some overlap between this submission and the preprint at https://arxiv.org/abs/2007.14970. It looks like the preprint has been submitted to MNRAS - is that true? Can you tell us a bit more about the connection between these two submissions? Thanks!

[2020-08-03 12:34] htjb commented on #2540
@dfm There shouldn't be any direct overlap between the text in this draft and the preprint for MNRAS. Where I have used the same figure for this draft and the preprint I have referenced the preprint. We are intending to submit to MNRAS later this week after receiving some community feedback on the preprint. The MNRAS paper is intended to outline the algorithm for the 21-cm cosmology community and

[2020-08-03 12:35] lskatz commented on #2334
Hi @lpantano and also @erinyoung and @lfaller --
Sorry for my delay.  I had a sort of surprise temporary reassignment for COVID-19 at CDC and was not able to address your excellent feedback.  We (co-authors and I) should be able to address all outstanding comments in a week or two.  Thank you for your patience.

[2020-08-03 12:56] katmratliff commented on #2292
@jrkasprzyk thank you for your review and feedback! @kbarnhart let me know if we should go ahead and make a tagged release.

[2020-08-03 13:23] danielskatz commented on #2351
@whedon set 10.5281/zenodo.3970461 as archive

[2020-08-03 13:23] whedon commented on #2351
OK. <a href="https://doi.org/10.5281/zenodo.3970461" target="_blank">10.5281/zenodo.3970461</a> is the archive.

[2020-08-03 13:23] danielskatz commented on #2351
@whedon set v0.6.1 as version

[2020-08-03 13:23] whedon commented on #2351
OK. v0.6.1 is the version.

[2020-08-03 13:23] danielskatz commented on #2351
@whedon accept

[2020-08-03 13:23] whedon commented on #2351
[code]

[2020-08-03 13:24] whedon commented on #2351
[code]

[2020-08-03 13:24] whedon commented on #2351
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1610

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1610, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 13:27] kbarnhart commented on #2292
@katmratliff not quite yet. I still need to do a final copy-edit on the paper. You should get that from me later today.

[2020-08-03 13:36] danielskatz commented on #2351
@muhrin - There are 2 PRs for small issues in the paper and the bib

- https://github.com/aiidateam/kiwipy/pull/78
- https://github.com/aiidateam/kiwipy/pull/79

Please let me know when these are merged, or if you want to discuss them

[2020-08-03 13:40] danielskatz commented on #2339
@whedon accept

[2020-08-03 13:40] whedon commented on #2339
[code]

[2020-08-03 13:40] whedon commented on #2339
[code]

[2020-08-03 13:41] whedon commented on #2339
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1611

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1611, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 13:48] afeinstein20 commented on #2347
Hi @arfon !

The AAS paper has been officially accepted, but I don't have a DOI yet.

I've updated with Pypi version == 0.1.0 which corresponds to the changes from this review. There is also a paper-version branch for this version on the stella GitHub which has these changes. Here is a link to the [Zenodo page](https://zenodo.org/record/3970854#.XygVc5NKhAY) with the same title and authors as the

[2020-08-03 13:48] danielskatz commented on #2339
@Visdoom  - please merge https://github.com/berenslab/MorphoPy/pull/114 before we proceed to acceptance

[2020-08-03 13:51] alexjonesphd commented on #2523
I am on it right now!

[2020-08-03 13:54] danielskatz commented on #2135
@openjournals/dev - note that in the XML there are a bunch of badly formed URLs in unstructured citations.  This is a bug we've had for a while.
1. What should we do in this case?
2. Can we fix the bug?

[2020-08-03 13:58] danielskatz commented on #2135
@ynop - please merge https://github.com/ynop/audiomate/pull/133

[2020-08-03 14:15] katmratliff commented on #2292
ok thanks @kbarnhart!

[2020-08-03 14:26] Visdoom commented on #2339
@danielskatz All done!

[2020-08-03 14:33] danielskatz commented on #2339
@whedon accept

[2020-08-03 14:33] whedon commented on #2339
[code]

[2020-08-03 14:34] whedon commented on #2339
[code]

[2020-08-03 14:34] whedon commented on #2339
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1612

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1612, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 14:34] danielskatz commented on #2339
@whedon accept deposit=true

[2020-08-03 14:34] whedon commented on #2339
[code]

[2020-08-03 14:35] whedon commented on #2339
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1290295280256954369) 👈 🐦🐦🐦

[2020-08-03 14:35] whedon commented on #2339
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1613
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02339](https://doi.org/10.21105/joss.02339)
2. If everything looks g

[2020-08-03 14:43] ynop commented on #2135
@danielskatz Done.

[2020-08-03 14:46] moorepants commented on #2498
Here is my first pass on a review:

Some of the paper authors, including the first author, do not seem to have made any commits to the software repository. Please clarify the authorship of all the authors.

These sentences "In particular, the domain of three-phase drives makes use of coordinate transformations to view these ODEs in a more interpretable frame. In GEM, both, the physical (abc-) and

[2020-08-03 14:51] danielskatz commented on #2339
Thanks to @emptymalei & @mstimberg for reviewing, and @oliviaguest for editing!

Congratulations to @Visdoom (Sophie Laturnus) and co-authors!!

[2020-08-03 14:51] #2339 closed

[2020-08-03 14:51] whedon commented on #2339
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02339/status.svg)](https://doi.org/10.21105/joss.02339)

**We need your help!**

Journal of Open Source Softwa

[2020-08-03 14:53] akcochrane commented on #2535
@paul-buerkner Thank you for the input.

- I've updated the README to include suggested installation instructions.

- I may try to publish the package on CRAN at some point. I would want to re-write much of the package first, however, to make improvements to the interface and performance as well as ensure conformity to CRAN guidelines. I will not be able to manage that workload alone for the fores

[2020-08-03 14:56] oliviaguest commented on #2394
Fab! @openjournals/joss-eics I think we're good to go?

[2020-08-03 14:57] oliviaguest commented on #2339
@emptymalei, @mstimberg thank you so much for all you have done here! 👏

@Visdoom congratulations! 🥳

[2020-08-03 15:06] whedon opened #2543 "[PRE REVIEW]: MFREE: A matlab toolkit for meshfree approximation schemes"
**Submitting author:** @kmountris (<a href="http://orcid.org/0000-0003-2946-3044">Konstantinos A. Mountris</a>)
**Repository:** <a href="https://github.com/KMountris/MFREE" target ="_blank">https://github.com/KMountris/MFREE</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-08-03 15:06] whedon commented on #2543
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-03 15:07] whedon commented on #2543
[code]

[2020-08-03 15:07] whedon commented on #2543
[code]

[2020-08-03 15:07] whedon commented on #2543
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02543/joss.02543/10.21105.joss.02543.pdf)

[2020-08-03 15:09] danielskatz commented on #2394
I'll process this in an hour or so - thanks

[2020-08-03 15:11] kthyng commented on #2540
@dfm I'll assume you're taking this over, thanks.

[2020-08-03 15:11] kthyng commented on #2540
@whedon assign @dfm as editor

[2020-08-03 15:11] whedon commented on #2540
OK, the editor is @dfm

[2020-08-03 15:15] dfm commented on #2540
@kthyng: Sure thing - thanks!

[2020-08-03 15:17] kthyng commented on #2472
@whedon generate pdf

[2020-08-03 15:18] whedon commented on #2472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02472/joss.02472/10.21105.joss.02472.pdf)

[2020-08-03 15:18] emptymalei commented on #2339
@Visdoom Congratulations! 🎉

[2020-08-03 15:19] kthyng commented on #2472
@whedon accept deposit=true

[2020-08-03 15:19] whedon commented on #2472
[code]

[2020-08-03 15:20] whedon commented on #2472
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1290306641108307969) 👈 🐦🐦🐦

[2020-08-03 15:20] whedon commented on #2472
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1614
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02472](https://doi.org/10.21105/joss.02472)
2. If everything looks g

[2020-08-03 15:21] kthyng commented on #2541
@whedon query scope

[2020-08-03 15:21] whedon commented on #2541
Submission flagged for editorial review.

[2020-08-03 15:24] kthyng commented on #2543
@whedon query scope

[2020-08-03 15:24] whedon commented on #2543
Submission flagged for editorial review.

[2020-08-03 15:25] kthyng commented on #2539
I am going to pause this submission while we wait for all of the materials

[2020-08-03 15:30] kthyng commented on #2542
I am rejecting this submission and have asked the author @holukas to resubmit but this time with the proper repo URL and using the github handle.

[2020-08-03 15:30] kthyng commented on #2542
@whedon reject

[2020-08-03 15:31] whedon commented on #2542
Paper rejected.

[2020-08-03 15:31] #2542 closed

[2020-08-03 15:35] kthyng commented on #2477
Hi @jgostick could you edit this one?

[2020-08-03 15:35] kthyng commented on #2477
@whedon invite @jgostick as editor

[2020-08-03 15:35] whedon commented on #2477
@jgostick has been invited to edit this submission.

[2020-08-03 15:37] kthyng commented on #2519
@whedon query scope

[2020-08-03 15:37] whedon commented on #2519
Submission flagged for editorial review.

[2020-08-03 15:38] kthyng commented on #2530
@lorenanicole Just a quick ping to check out this submission to see if you can take it on!

[2020-08-03 15:39] danielskatz commented on #2394
@whedon accept

[2020-08-03 15:39] whedon commented on #2394
[code]

[2020-08-03 15:39] kthyng commented on #2472
the doi is still resolving but in the meantime...

Congrats to  @stemangiola on your new publication! Thanks to editor @karthik and reviewers @rlbarter and @AliciaSchep — this process wouldn't be possible without your expertise and time.

[2020-08-03 15:39] whedon commented on #2394
[code]

[2020-08-03 15:39] whedon commented on #2472
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02472/status.svg)](https://doi.org/10.21105/joss.02472)

**We need your help!**

Journal of Open Source Softwa

[2020-08-03 15:39] whedon commented on #2394
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1615

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1615, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-03 15:39] kthyng commented on #2472
Sorry should have left open while waiting for doi

[2020-08-03 15:46] xillig commented on #2507
hi @sara-02
Thanks a lot for your suggestions. We are doing the review process with JOSS for the first time. Should we just incorporate your comments and then push a new version of the paper? Or how does this usually work? Thank you!

[2020-08-03 15:48] danielskatz commented on #2394
@OttaviaE -  can you merge the small changes in https://github.com/OttaviaE/implicitMeasures/pull/10 ?  Then we can finish the acceptance

[2020-08-03 15:48] dfm commented on #2516
@arm61 has kindly agreed to review this submission.

I'll start the review once I've found a second reviewer.

[2020-08-03 15:49] dfm commented on #2516
@whedon assign @arm61 as reviewer

[2020-08-03 15:49] whedon commented on #2516
OK, @arm61 is now a reviewer

[2020-08-03 15:49] danielskatz commented on #2472
@openjournals/dev  - for me, the DOI resolves but the PDF does not load in the frame where it should - any thoughts?

[2020-08-03 15:50] xillig commented on #2507
Hi @trallard
Thanks for initiating the review process, I noticed that the issue contains three review check-lists, but @linuxscout is not an assignee of the issue. Will he also review the paper?

[2020-08-03 15:56] malouche commented on #2539
Thank you Kristen.  I’m working on the paper this week and I will update my submission soon.

On Aug 3, 2020, at 11:26 AM, Kristen Thyng <notifications@github.com<mailto:notifications@github.com>> wrote:

I am going to pause this submission while we wait for all of the materials

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com

[2020-08-03 15:58] OttaviaE commented on #2394
@danielskatz done!

[2020-08-03 15:58] kthyng commented on #2123
6 days later I haven't heard back from @josephhardinee.

@jedbrown I suggest removing the reviewers and finding new ones, unless you can find a way to get ahold of them!

[2020-08-03 16:03] josephhardinee commented on #2123
I apologize, I was out at the end of last week and this kinda slipped off my radar with things going on. I'll get right back on this as I still have some notes from when I first  started on it. I'll also ping Eddie as I think he was out on vacation last week .

[2020-08-03 16:03] hugoledoux commented on #2538
@whedon add @rmjarvis as reviewer

[2020-08-03 16:03] whedon commented on #2538
OK, @rmjarvis is now a reviewer

[2020-08-03 16:03] jedbrown commented on #2123
Many thanks @josephhardinee!

[2020-08-03 16:05] wkirgsn commented on #2498
Thank you for the very constructive review, @moorepants!
We appreciate every remark and are eager to improve on these discrepancies.

We are working on a major update of the repo, which becomes manifest in the `nightly` branch. There, the dependency problem preventing you from installation is already solved, along the incorporation of more features and bug fixes.
Although this development branch i