[2022-07-01 12:58] osorensen commented on #3700
Thanks @pmeier. Given that we've had 3 reviewers, this seems perfectly fine. Could you please check of the last item on your list as well?

Thanks for your efforts in reviewing this submission, and enjoy parental leave!

[2022-07-01 13:22] jedbrown commented on #4324
Thanks @PaulDebus. If you agree to review, you'll have a [checklist](https://joss.readthedocs.io/en/latest/review_checklist.html) to guide your review. A comprehensive code review is not necessary, but we ask reviewers to install the software and check for appropriate context, documentation coverage and accuracy, and meeting research needs.

[2022-07-01 13:55] Muhao-Chen commented on #3390
@arfon, I think there is no problem with the final proof. Are there any other action items? Thank you!

[2022-07-01 14:08] diehlpk commented on #4512
@tupi or @ dlagrava or @mikaem do you have time to review this paper?

[2022-07-01 14:42] rlskoeser commented on #4328
@danielskatz sorry for the delay in responding, have been traveling and need to catch up on other priorities before I can circle back to this. I'll likely not be able to get to it until week after next, given the holiday.

[2022-07-01 14:58] Nikoleta-v3 commented on #4286
Thank you!!

[2022-07-01 14:58] prashjha commented on #4308
@editorialbot start review

[2022-07-01 14:58] editorialbot opened #4533 "[REVIEW]: EPICpy: A Python Interface for EPIC Computational Cognitive Modeling"
**Submitting author:** @travisseymour (<a href="http://orcid.org/0000-0003-4719-9152">Travis Seymour</a>)
**Repository:** https://github.com/travisseymour/EPICpy
**Branch with paper.md** (empty if default branch): JOSSArticle
**Version:** v2022.3.5
**Editor:** @prashjha
**Reviewers:** @Athene-ai, @jakdot
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/fb8bccc1dc65ca3afd6a

[2022-07-01 14:59] Nikoleta-v3 commented on #4286
@editorialbot add @Athene-ai as reviewer

[2022-07-01 14:59] Nikoleta-v3 commented on #4286
@editorialbot add @fAndreuzzi as reviewer

[2022-07-01 15:00] editorialbot opened #4534 "[REVIEW]: GRAPL: A computational library for nonparametric structural causal modelling, analysis and inference"
**Submitting author:** @max-little (<a href="http://orcid.org/0000-0002-1507-3822">Max A. Little</a>)
**Repository:** https://github.com/max-little/GRAPL
**Branch with paper.md** (empty if default branch):
**Version:** v1.4.0
**Editor:** @Nikoleta-v3
**Reviewers:** @Athene-ai, @fAndreuzzi
**Archive:** 10.5281/zenodo.6959433

## Status

[![status](https://joss.theoj.org/papers/ff5f7d36e6af106d8708c

[2022-07-01 15:00] #4286 closed

[2022-07-01 15:00] prashjha commented on #4533
Dear @Athene-ai and @jakdot, please read the first couple of comments in this thread and create your review checklist. You can read the reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the [closed "REVIEW" issues](https://github.com/openjournals/joss-reviews/issues?q=label%3Areview+is%3Aclosed) on the "joss-reviews" repository to get

[2022-07-01 15:03] Nikoleta-v3 commented on #4534
👋🏼 @max-little  @Athene-ai, @fAndreuzzi this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements ✅  As you go over the submission, please ch

[2022-07-01 15:31] fjprichard commented on #3821
@pibion I already merged it but I did not remove it. The change I made this morning were made in the main branch.

[2022-07-01 15:39] jonjoncardoso commented on #4377
@editorialbot commands

[2022-07-01 15:39] jonjoncardoso commented on #4377
@editorialbot generate my checklist

[2022-07-01 15:40] pibion commented on #3821
@editorialbot commands

[2022-07-01 15:58] daguiam commented on #4397
Hi! I have continued the review since the last issues were resolved and I have some comments below. Overall, despite some bugs that I have added as issues, the package meets most of the checks.

_Functionality:_
The issues with the installation steps have been corrected and it is now straightforward to install the package.
Following through the provided notebooks the functionality appears to work

[2022-07-01 16:32] osorensen commented on #3700
Thanks @a-ws-m. Once you've merged the changes into the master branch, could you please

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the ti

[2022-07-01 16:33] osorensen commented on #3700
@editorialbot generate pdf

[2022-07-01 16:34] osorensen commented on #3700
@editorialbot check references

[2022-07-01 16:37] asherp commented on #4053
@editorialbot generate pdf

[2022-07-01 16:56] osorensen commented on #4470
:wave: @jasqs would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-01 17:22] jbytecode commented on #4487
👋👋👋 Dear @SaumikDana 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework**". You can find more information a

[2022-07-01 18:08] banesullivan commented on #4324
Hi @jedbrown, I too am totally unfamiliar with this specific data format, though have experience working with "geodata" of all sorts. I'd be happy to review this submission if you think I am a good fit.

[2022-07-01 18:57] psanan commented on #4531
@editorialbot generate pdf

[2022-07-01 19:25] omtazi commented on #4211
@Kevin-Mattheus-Moerman Hi, sorry for the delay, I'll manage to get it done by the beginning of next week.

[2022-07-01 20:08] Hanrui-Wang commented on #4502
@editorialbot generate my checklist

[2022-07-01 20:51] majensen commented on #4369
Thanks @gtonkinhill and @DavidNickle - @milnus I will do an editorial once-over of the paper itself, that may generate a couple of comments/changes. Otherwise we should be close to publication!

[2022-07-01 20:51] majensen commented on #4369
@editorialbot check references

[2022-07-01 20:52] majensen commented on #4369
@editorialbot generate pdf

[2022-07-01 21:14] mikaem commented on #4512
Hi
My vacation starts Monday and I'll be back in 4 weeks time, so not really a good time 😎

[2022-07-01 21:20] editorialbot opened #4535 "[PRE REVIEW]: Mallob: Scalable SAT Solving On Demand With Decentralized Job Scheduling"
**Submitting author:** @domschrei (<a href="http://orcid.org/0000-0002-4185-1851">Dominik Schreiber</a>)
**Repository:** https://github.com/domschrei/mallob
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/700e9010c4080ffe8ae4df21cf1cc899/st

[2022-07-01 21:21] editorialbot opened #4536 "[PRE REVIEW]: SSMSE: An R package for Management Strategy Evaluation with Stock Synthesis Operating Models"
**Submitting author:** @k-doering-NOAA (<a href="http://orcid.org/0000-0002-0396-7044">Kathryn Doering</a>)
**Repository:** https://github.com/nmfs-fish-tools/ssmse
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.6
**Editor:** @sbenthall
**Reviewers:** @seananderson, @quang-huynh
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/9af778923

[2022-07-01 21:22] pibion commented on #3821
@editorialbot commands

[2022-07-01 21:22] pibion commented on #3821
@editorialbot set main as branch

[2022-07-01 21:24] Kevin-Mattheus-Moerman commented on #4520
@jedbrown is this something you could edit?

[2022-07-01 21:29] Kevin-Mattheus-Moerman commented on #4525
@robchallen I have just assigned the `query scope` label which means I have triggered a scope review by our editorial board. This is typical for submission around this size. We will review if this work complies with our ["substantial scholarly effort" criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), and if it has sufficient functionality and enough of

[2022-07-01 21:31] pibion commented on #3821
@editorialbot generate pdf

[2022-07-01 21:42] Kevin-Mattheus-Moerman commented on #4529
@editorialbot check repository

[2022-07-01 21:43] Kevin-Mattheus-Moerman commented on #4529
@editorialbot generate pdf

[2022-07-01 21:44] editorialbot opened #4537 "[PRE REVIEW]: Artifact and instructions to generate experimental results for the Euro-Par 2022 paper: ”OmpSs-2@Cluster: Distributed memory execution of nested OpenMP-style tasks”"
**Submitting author:** @Ergus (<a href="http://orcid.org/0000-0001-6802-2247">Jimmy Aguilar Mena</a>)
**Repository:** https://github.com/Ergus/PaperOmpSs-ClustersArtifact
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @danielskatz
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/ffb26a02c33218360ede3b3

[2022-07-01 21:45] editorialbot opened #4538 "[PRE REVIEW]: Castellum: A participant management tool for scientific studies"
**Submitting author:** @jagnobli (<a href="http://orcid.org/0000-0003-0218-6358">Timo Göttel</a>)
**Repository:** https://git.mpib-berlin.mpg.de/castellum/castellum
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** v0.78
**Editor:** @oliviaguest
**Reviewers:** @samhforbes, @htwangtw
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/pape

[2022-07-01 21:50] Kevin-Mattheus-Moerman commented on #4536
@k-doering-NOAA thanks for this submission. I am a JOSS AEiC and here to help process initial steps.

- [ ] Can you check those potentially missing/invalid DOIs? :point_up: You can check the references gain by calling `@editorialbot check references`.

- [ ] There is a paper compilation error:

[code]
Looks like it should have 4 zeros at the start, not 5: https://orcid.org/0000-0002-0396-7044
Can

[2022-07-01 21:54] Kevin-Mattheus-Moerman commented on #4524
@editorialbot invite @jmschrei as editor

[2022-07-01 21:57] Kevin-Mattheus-Moerman commented on #4536
@k-doering-NOAA I have just added the `waitlisted` label here because all our editors in this domain are currently handling many other submissions. We will assign a handling editor as soon as one becomes available.

[2022-07-01 21:58] Kevin-Mattheus-Moerman commented on #4536
@KristinaRiemer do you think you could edit this one once you are available?

[2022-07-01 22:00] Kevin-Mattheus-Moerman commented on #4538
@editorialbot set joss-submission as branch

[2022-07-01 22:00] Kevin-Mattheus-Moerman commented on #4538
@editorialbot generate pdf

[2022-07-01 22:00] Kevin-Mattheus-Moerman commented on #4538
@editorialbot check references

[2022-07-01 22:01] editorialbot opened #4539 "[PRE REVIEW]: OT-Analysis : a software for rich analysis of force curves when probing living cells with optical tweezers"
**Submitting author:** @phpuech (<a href="http://orcid.org/0000-0002-8521-0685">pierre-henri puech</a>)
**Repository:** https://github.com/phpuech/OT-Analysis
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.86
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/0c35193af5c991e7e57472b5195beb15/stat

[2022-07-01 22:01] Kevin-Mattheus-Moerman commented on #4538
@editorialbot generate pdf

[2022-07-01 22:02] editorialbot opened #4540 "[PRE REVIEW]: barb: Bayesian Rate Estimation for FRBs"
**Submitting author:** @MorganWaddy (<a href="http://orcid.org/0000-0002-2699-2445">Morgan Waddy</a>)
**Repository:** https://github.com/MorganWaddy/barb
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/32d4d440d2ef567ef6db8c93158a60cf/status.svg

[2022-07-01 22:04] Kevin-Mattheus-Moerman commented on #4538
@editorialbot check repository

[2022-07-01 22:07] Kevin-Mattheus-Moerman commented on #4540
@MorganWaddy thanks for this submission. Due to the relatively small size of this submission I have just triggered an additional scope review by our editorial board. This review will check if this work complies with our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criteria. This review should take about 2 weeks.

[2022-07-01 22:08] editorialbot opened #4541 "[PRE REVIEW]: Panako: a scalable audio search system"
**Submitting author:** @JorenSix (<a href="http://orcid.org/0000-0001-7671-1907">Joren Six</a>)
**Repository:** https://github.com/JorenSix/Panako
**Branch with paper.md** (empty if default branch):
**Version:** 2.1
**Editor:** @bmcfee
**Reviewers:** @dpwe, @hendriks73
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/0e6e876325e6c0ea1c8fa024ff1c1b2c/status.sv

[2022-07-01 22:21] VenkteshV commented on #4515
@editorialbot generate my checklist

[2022-07-01 23:18] prashjha commented on #4404
@dbrizard, got it. thanks.

[2022-07-02 00:31] a3sha2 commented on #4368
@Cadaei-Yuvxvs sorry for replying late. I had nothing much to add. Most of the issues I would have raised are already asked by @kaczmarj . I  asked a question on [issues page](https://github.com/Cadaei-Yuvxvs/OSHy-X/issues/16).  I just want to know if only T1w scan will be enough if there is no T2w scan

I can run the docker image completely
welldone to the team

@emdupre

[2022-07-02 00:59] kaczmarj commented on #4368
@emdupre - in my initial checklist review (https://github.com/openjournals/joss-reviews/issues/4368#issuecomment-1116524168), i left some boxes unchecked and made issues for each of those items. the authors have addressed these comments. should i check those boxes now? or is it sufficient to say that i am now satisfied as a reviewer?

[2022-07-02 01:29] ixjlyons commented on #4299
@prashjha ok, I pushed tag v0.1.0 and archived it here: https://zenodo.org/record/6789504 (DOI 10.5281/zenodo.6789504)

[2022-07-02 02:54] mmtn commented on #4441
Hi @richardjgowers, unfortunately I no longer have the time to continue active developing the code myself but will be more than happy to attend to issues and pull requests as they come up. Potentially I should update this in the README now to make that clear?

It's been built with extensibility in mind and I believe could be readily adapted to problems beyond what we tackled in our initial paper.

[2022-07-02 05:36] osorensen commented on #4471
:wave: @mcavs can you please update us on how it's going with your review? Please let me know if you have any questions about the process.

[2022-07-02 08:28] fAndreuzzi commented on #4534
@editorialbot generate my checklist

[2022-07-02 09:00] fAndreuzzi commented on #4534
Hi @max-little, I'm going to help with the review for this paper. I've already submitted some suggestions to your repository such that it's easier for you to track what needs to be changed. For now it's only code structure/tooling, I'll review the code later.

I see that your code is not on PyPI, do you plan to upload it there such that your users can install GRAPL via `pip install grapl`?

[2022-07-02 11:55] majensen commented on #4369
@editorialbot generate pdf

[2022-07-02 12:09] mcavs commented on #4471
@editorialbot generate my checklist

[2022-07-02 12:10] mcavs commented on #4471
I am about to complete my review. I will share in a few days.

[2022-07-02 12:52] osorensen commented on #4471
Thanks @mcavs. I notice that you have completed the checklist, but I hope @simonpcouch can address the issue you opened in the source repository before we proceed with acceptance.

[2022-07-02 15:26] jameshclrk commented on #4402
@lucydot I'm afraid this isn't the best time for me as well.

[2022-07-02 16:47] simonpcouch commented on #4471
Absolutely—will address https://github.com/tidymodels/stacks/issues/137 first thing next week! Thanks all for your work.

[2022-07-02 18:00] IvanIsCoding commented on #3968
@editorialbot generate pdf

[2022-07-02 18:26] editorialbot opened #4542 "[PRE REVIEW]: fars_cleaner: A Python package for downloading and pre-processing vehicle fatality data in the US"
**Submitting author:** @mzabrams (<a href="http://orcid.org/0000-0001-6818-5214">Mitchell Abrams</a>)
**Repository:** https://github.com/mzabrams/fars-cleaner
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.0
**Editor:** @majensen
**Reviewers:** @ethanwhite, @svburke
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/2ca54c6935611fe3cb0303

[2022-07-02 18:57] IvanIsCoding commented on #3968
@drvinceknight We have addressed the remaining comments in the software paper

[2022-07-02 19:13] IvanIsCoding commented on #3968
Also, mind me pinging @hagberg, @dschult, @networkx. We are submitting our library, [retworkx](https://github.com/Qiskit/retworkx), to the Journal of Open Source Software. This is the open peer review of our submission.

Before publishing, I wanted to contact you to ask about how you feel about the name of our submission. This came up as one of our reviewer @szhorvat ([igraph](https://github.com/i

[2022-07-02 20:40] jmschrei commented on #4524
@editorialbot assign me as editor

[2022-07-02 20:46] jmschrei commented on #4524
@ThomasA and @glemaitre, would either of you be available to review this submission?

[2022-07-02 21:03] dhhagan commented on #4337
@hechth Thanks for clearing that up.

Since the reviewers gave the API docs the 'okay', I think it meets the JOSS spec. I do think adding autodocs in the future may be helpful, but this looks good to go for now. To move forward, I will need you to:

  1. Make a final release and archive (make sure the archive deposit has the correct metadata (title and author list))
  2. Report the release version

[2022-07-02 21:40] editorialbot opened #4543 "[PRE REVIEW]: Black-it: A Ready-to-Use and Easy-to-Extend Calibration Kit for Agent-based Models"
**Submitting author:** @AldoGL (<a href="http://orcid.org/0000-0002-4737-2878">Aldo Glielmo</a>)
**Repository:** https://github.com/bancaditalia/black-it/
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.1.1
**Editor:** @drvinceknight
**Reviewers:** @Athene-ai, @aseyq
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/1d2ecc86d273c

[2022-07-02 21:42] editorialbot opened #4544 "[PRE REVIEW]: DPFEHM: a differentiable subsurface physics simulator"
**Submitting author:** @omalled (<a href="http://orcid.org/0000-0003-0432-3088">Daniel O&#39;Malley</a>)
**Repository:** https://github.com/OrchardLANL/DPFEHM.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** @jedbrown
**Reviewers:** @WilkAndy, @rtmills, @rezgarshakeri
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/8d7a6

[2022-07-02 21:44] Kevin-Mattheus-Moerman commented on #4518
@Nyk0 okay I will process a retraction of this submission

[2022-07-02 21:48] Kevin-Mattheus-Moerman commented on #4518
@editorialbot withdraw

[2022-07-02 21:48] #4518 closed

[2022-07-02 21:51] Kevin-Mattheus-Moerman commented on #4506
@editorialbot invite @jbytecode as editor

[2022-07-02 21:51] Kevin-Mattheus-Moerman commented on #4506
@jbytecode the authors are processing a couple of things here first but I was wondering if you could take this on as editor? Thanks

[2022-07-02 21:54] Kevin-Mattheus-Moerman commented on #4527
@Koushikphy thank you for this submission to JOSS. I have just added the `query-scope` label which flags this for a scope review by our editorial board. We will review this to see if it is in scope, especially if it is considered substantial enough in erms of functionality, and if the work is deemed research software. The scope review should take about 2 weeks to complete.

[2022-07-02 22:02] Kevin-Mattheus-Moerman commented on #4538
@jagnobli our editors in this domain are all currently busy handling other submissions. Hence I have waitlisted this submission for now. We will assign an editor as soon as one becomes available.

[2022-07-02 22:03] Kevin-Mattheus-Moerman commented on #4538
@sbenthall you have been suggested as editor here but I see you are already handling several other submissions. Let us know if you think you can handle this work once you are available. Thanks!

[2022-07-02 22:09] Kevin-Mattheus-Moerman commented on #4539
@editorialbot invite @jmschrei as editor

@jmschrei this might be a bit off topic but I was wondering if this submission is something you could help edit? Thanks!

[2022-07-02 22:48] jmschrei commented on #4539
This is a bit out of my area, sorry. Although I'm willing to help out with cellular imaging submissions, once physics starts to get involved I think the subject matter is past my expertise.

[2022-07-03 01:22] vsoch commented on #4458
Hey @faroit ! 👋 Just wanted to check in and see if you need anything from me? Happy Saturday! 🥤

[2022-07-03 01:57] Cadaei-Yuvxvs commented on #4368
Thank you @a3sha2 :) Very kglad that we've raised most of the issues you raised. I've just posted a reply to the issue you opened for OSHy-X. https://github.com/Cadaei-Yuvxvs/OSHy-X/issues/16

[2022-07-03 06:04] jbytecode commented on #4506
@editorialbot assign me as editor

@Kevin-Mattheus-Moerman of course, gladly

[2022-07-03 07:38] Kevin-Mattheus-Moerman commented on #4541
@JorenSix thanks for this submission to JOSS. I will be looking for an editor for this submission. In the mean time can you address those potentially missing DOIs? :point_up: Once you've checked them  you can run `@editorialbot generate pdf` to update the draft, and you can call `@editorialbot check refereces` to check those DOIs again. Thanks

[2022-07-03 07:39] Kevin-Mattheus-Moerman commented on #4541
@editorialbot invite @bmcfee as editor

[2022-07-03 07:43] Kevin-Mattheus-Moerman commented on #4542
@editorialbot invite @galessiorob as editor

@galessiorob is this something you can handle as editor?

[2022-07-03 07:43] Kevin-Mattheus-Moerman commented on #4542
@editorialbot invite @galessiorob as editor

@galessiorob is this something you can handle as editor?

[2022-07-03 07:45] Kevin-Mattheus-Moerman commented on #4542
@galessiorob apologies for the double invite, GitHub was telling me I could not comment so I tried again, and there there it was there twice. Anyway, hope you are able to help. Thanks.

[2022-07-03 07:48] Kevin-Mattheus-Moerman commented on #4543
@AldoGl the paper compilation error says: `Problem with ORCID (0000-0000-0000-0000) for Marco Benedetti. Invalid ORCID`, can you please check your ORCID entries to make sure they are valid? You can remove the ORCID field if a person does not have an ORCID.
Once you've made changes you can call the following here to update the draft paper: `@editorialbot generate pdf`

[2022-07-03 07:55] Kevin-Mattheus-Moerman commented on #4543
@editorialbot invite @drvinceknight as editor.

@drvinceknight is this submission something you can help handle as editor? Thanks!

[2022-07-03 08:02] Kevin-Mattheus-Moerman commented on #4544
@omalled thanks for this submission to JOSS. I am an AEiC with JOSS and here to help with the initial steps (and with finding a handling editor). I attempted to fix the compilation error with this PR: https://github.com/OrchardLANL/DPFEHM.jl/pull/8, can you have a look? Once you've implemented the fix you can call `@editorialbot generate pdf` to attempt paper compilation again. Thanks

[2022-07-03 08:02] Kevin-Mattheus-Moerman commented on #4544
@editorialbot check references

[2022-07-03 08:07] Kevin-Mattheus-Moerman commented on #4544
@editorialbot invite @jedbrown as editor

@jedbrown is this your cup of tea :tea:, would you be able to handle this as editor? Thanks.

[2022-07-03 08:43] Kevin-Mattheus-Moerman commented on #4478
@brainstorm, @rougier, @satra, @tuliofalmeida, @effigies, @szorowi1, @agricolab, @sappelhoff, @ajquinn, @vahid-sb, @cbrnr, @DominiqueMakowski, @mgbleichner would you be interested in reviewing this work featuring a Python library for EEG for [JOSS](https://joss.theoj.org/).
JOSS reviews focus on [the software](https://github.com/vferat/pycrostates) as well as [a short paper](https://raw.githubuser

[2022-07-03 08:49] AJQuinn commented on #4478
Hello, thanks for the tag. I'd be happy to contribute a review for this. Looks very interesting!

[2022-07-03 09:12] Kevin-Mattheus-Moerman commented on #4478
@editorialbot assign @AJQuinn as editor

[2022-07-03 09:13] Kevin-Mattheus-Moerman commented on #4478
@openjournals/dev this is a mistake I made but should not be allowed right? :point_up:

[2022-07-03 09:13] Kevin-Mattheus-Moerman commented on #4478
@editorialbot assign me as editor

[2022-07-03 09:13] Kevin-Mattheus-Moerman commented on #4478
@editorialbot assign @AJQuinn as reviewer

[2022-07-03 09:14] Kevin-Mattheus-Moerman commented on #4478
@editorialbot add @AJQuinn as reviewer

[2022-07-03 09:17] vahid-sb commented on #4478
@Kevin-Mattheus-Moerman Seems to be interesting and also in line with my interests in EEG analysis. I'd be happy to review it.

[2022-07-03 09:19] Kevin-Mattheus-Moerman commented on #4478
@editorialbot add @vahid-sb as reviewer

[2022-07-03 09:22] Kevin-Mattheus-Moerman commented on #4389
@likask, @lizarett can you please update us on review progress? Thanks

[2022-07-03 09:23] Kevin-Mattheus-Moerman commented on #4389
@nicoguaro thanks for  your comments and suggestions. On recruiting other reviewers, I'll give the reviewers another chance to respond here before I would resort to finding alternative reviewers.

[2022-07-03 09:40] likask commented on #4389
@editorialbot generate my checklist

[2022-07-03 09:45] EgorOrachyov commented on #3743
@whedon generate pdf from branch joss-paper

[2022-07-03 09:46] EgorOrachyov commented on #3743
@whedon

[2022-07-03 09:58] EgorOrachyov commented on #3743
@Nikoleta-v3 Hi, I hope, we have addressed all issues. Waiting for a feedback from @bencardoen

It would be great, if you trigger paper recompilation (seems I do not have enough permissions to do it), since we updates text and some diagrams :)

`@whedon generate pdf from branch joss-paper`

[2022-07-03 10:16] tiagoseq commented on #3974
@editorialbot generate pdf

[2022-07-03 10:16] tiagoseq commented on #3974
@editorialbot check references

[2022-07-03 10:28] tiagoseq commented on #3974
Hi @jarvist! I do not know why the DOI is still invalid, I've already updated the respective entry. I've copied the bib entry from the journal's website. The paper was published in June of this year, maybe this is the 'problem'?

[2022-07-03 10:32] jbytecode commented on #4487
👋👋👋 Dear @mauro3 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework**". You can find more information at th

[2022-07-03 10:34] jbytecode commented on #4487
@editorialbot add tpoisot as reviewer

@tpoisot - I have just added you as the reviewers. If the average reviewing times (40-60 days) don't fit your current agenda, please let me know.

[2022-07-03 10:35] jbytecode commented on #4487
@editorialbot add @tpoisot as reviewer

[2022-07-03 10:38] jbytecode commented on #4506
@ChrisRackauckas - have you completed the checklist given by @Kevin-Mattheus-Moerman ?

[2022-07-03 10:41] jbytecode commented on #4506
@ChrisRackauckas - after finalizing the checklist, maybe you can have a look at the potential reviewers list given at https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822

If you have suggestions, please mention their usernames here without using the @ (at) character, just because we don't want to bother them. Please start your search from very bot

[2022-07-03 11:04] likask commented on #4389
@JulianKarlBauer My initial impression is that it is valuable code. I might use it in my work or recommend it to my colleagues.

- To "Contributing guide" add description about typical contribution scheme, fork->modify->test->pull request.

- I would advise mentioning in the paper the difference between this package and other tensor algebra codes. Explicitly mention some packages (e.g. https://en.

[2022-07-03 12:07] tuliofalmeida commented on #4478
Hi ! Thank you for thinking of me to review this paper. If there is still a need, I am available.

[2022-07-03 12:55] Kevin-Mattheus-Moerman commented on #4478
@editorialbot add @tuliofalmeida as reviewer

[2022-07-03 12:56] Kevin-Mattheus-Moerman commented on #4478
@tuliofalmeida yes we still welcome reviewers. Thanks, I've added you just now. We'll start early next week.

[2022-07-03 13:04] Kevin-Mattheus-Moerman commented on #4389
@lizarett  We can wait for your portion of the review if you commit to it now, but we may need to proceed without your review unless we hear from you within the next couple of days.

[2022-07-03 14:30] tpoisot commented on #3565
@arfon - this software has received improved functionalities in the last year, and notably been used in two massive data crunching projects that I think showcase its usefulness. Is there a possibility to resubmit it? We have already updated the text to argue why this isn't a minor utility, but rather a potential cornerstone of projects where a lots of names need to cleaned under different scenario

[2022-07-03 14:58] faroit commented on #4458
@gflofst @rmmilewi please update us about the status of the review.

We aim for reviews to be completed within about 2-4 weeks which is while i will start reminding you using our editorial bot. Let me know if you have problems completing the review or need other help from my side or the authors.

[2022-07-03 15:00] faroit commented on #4458
@editorialbot remind @reviewer in five days

[2022-07-03 15:02] faroit commented on #4458
@editorialbot remind @gflofst @rmmilewi in seven days

[2022-07-03 15:58] csoneson commented on #4473
👋🏻 @gsfyrakis, @patRyserWelch8, @MaximLippeveld - would (two of) you be available and interested in reviewing this submission for JOSS?

[2022-07-03 16:13] jbytecode commented on #4506
@Vaibhavdixit02 - Could be please check out the last two posts here? (Sorry I missed the corresponding author)

[2022-07-03 16:14] jbytecode commented on #4487
👋👋👋 Dear @jimmielin 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework**". You can find more information at

[2022-07-03 16:58] tomsing1 commented on #4530
@editorialbot generate my checklist

[2022-07-03 17:50] tomsing1 commented on #4530
Open issue https://github.com/maize-genetics/rTASSEL/issues/3

[2022-07-03 17:54] tomsing1 commented on #4530
Opened issue https://github.com/maize-genetics/rTASSEL/issues/4

[2022-07-03 18:02] tomsing1 commented on #4530
Opened issue https://github.com/maize-genetics/rTASSEL/issues/5

[2022-07-03 18:15] tomsing1 commented on #4530
@fboehm : The R package includes a vignette `rtassel_benchmarks.Rmd` that reports the results of an extensive benchmarking exercise of `rTASSEL'`s performance. I have neither the code, data nor the computational resources to reproduce these benchmarks.

Nevertheless, I think the value of this manuscript is clear, e.g. it is not (just) based on performance but by offering R users a robust way to in

[2022-07-03 19:15] omalled commented on #4544
@editorialbot generate pdf

[2022-07-03 19:23] kristina-o commented on #4261
•	James Allan has developed and integrated the Graph Database data for Archetypical constructions
•	Sven Eggimann developed a shapefile parser for reading site vertices
•	Natasa Vulic contributed with development testing and support and performed a validation study at national scale.
These three parts are important for the functioning of the tool. Additionally all three of them (as well as Leonie

[2022-07-03 19:48] elbeejay commented on #4477
Hi @rCarto sorry for the delay, I've been out of town. I have heard back from other editors and it seems reasonable to move forward with this submission so that's great news. I'll try to reach out to some reviewers later this week when I get a bit more free time. Just wanted to keep you in the loop.

[2022-07-03 20:14] Nikoleta-v3 commented on #3743
@whedon generate pdf from branch joss-paper

[2022-07-03 20:14] Nikoleta-v3 commented on #3743
@editorialbot  generate pdf from branch joss-paper

[2022-07-03 20:15] Nikoleta-v3 commented on #3743
@editorialbot set joss-paper as branch

[2022-07-03 20:15] Nikoleta-v3 commented on #3743
@editorialbot generate pdf

[2022-07-03 22:56] jedbrown commented on #4544
This looks interesting and going in a direction that I think is very fruitful. Notes/questions from my brief survey:
1. I see there are great examples, but the actual package is only 543 LOC. This usually triggers a scope query.
2. It would be helpful for the paper to describe capabilities in comparison with existing subsurface flow software and any major assumptions in the present model. How diff

[2022-07-03 23:19] jedbrown commented on #4172
@YohannDudouit Could you give us an update as to whether your questions have been sufficiently addressed and the remaining items on your checklist?

[2022-07-04 00:11] danehkar commented on #4170
@transientlunatic I checked the paper.

- a typo in Line 15: Searches "Searches **of the** of the"
- While some dependent packages (e.g. htcondor) were mentioned, no mention of other packasges used in cli: [gwpy](https://gwpy.github.io/), [gwdatafind](https://git.ligo.org/computing/gwdatafind/client), [ligo-gracedb](https://gracedb.ligo.org/), [ligo-gracedb](https://git.ligo.org/lscsoft/ligo-segme

[2022-07-04 00:17] danehkar commented on #4170
@transientlunatic Please add to [README.md](https://github.com/ligo-asimov/asimov#readme):

- the link to https://asimov.docs.ligo.org/asimov/master/index.html
- Installation with Conda: `conda install -c conda-forge ligo-asimov`
- and fix issues with command lines in  README.md. e.g. `olivaw init `should be `olivaw init "Test project"`

[2022-07-04 00:18] danehkar commented on #4170
`olivaw init`
/anaconda3/envs/asimov/lib/python3.10/site-packages/htcondor/__init__.py:48: UserWarning: Neither the environment variable CONDOR_CONFIG, /etc/condor/, /usr/local/etc/, nor ~condor/ contain a condor_config source. Therefore, we are using a null condor_config.
  _warnings.warn(message)
Usage: olivaw init [OPTIONS] NAME
Try 'olivaw init --help' for help.
Error: Missing argument 'NAME'.

[2022-07-04 00:19] danehkar commented on #4170
`olivaw event create GW150914`
/anaconda3/envs/asimov/lib/python3.10/site-packages/htcondor/__init__.py:48: UserWarning: Neither the environment variable CONDOR_CONFIG, /etc/condor/, /usr/local/etc/, nor ~condor/ contain a condor_config source. Therefore, we are using a null condor_config.
  _warnings.warn(message)
Traceback (most recent call last):
  File "/anaconda3/envs/asimov/lib/python3.10/co

[2022-07-04 00:19] danehkar commented on #4170
`olivaw production --event GW150914 --pipeline lalinference`
/anaconda3/envs/asimov/lib/python3.10/site-packages/htcondor/__init__.py:48: UserWarning: Neither the environment variable CONDOR_CONFIG, /etc/condor/, /usr/local/etc/, nor ~condor/ contain a condor_config source. Therefore, we are using a null condor_config.
  _warnings.warn(message)
Usage: olivaw production [OPTIONS] COMMAND [ARGS]...

[2022-07-04 00:23] danehkar commented on #4170
setup.py does not have all dependent packages. Installation with `conda install -c conda-forge ligo-asimov` was without any issues. However, I got the following error, when I installed with `pip install ligo-asimov` since the module **glue** was not installed.

olivaw init "Test project"

/anaconda3/lib/python3.9/site-packages/htcondor/__init__.py:49: UserWarning: Neither the environment variable

[2022-07-04 00:32] omalled commented on #4544
Thanks for taking a look. Here's my perspective on the points you raised:

1. There are a couple of companion packages that were built to support DPFEHM. One is [DifferentiableBackwardEuler](https://github.com/OrchardLANL/DifferentiableBackwardEuler.jl), which does the time-integration of the ODEs in a differentiable way. The other is [NonlinearEquations](https://github.com/OrchardLANL/NonlinearEq

[2022-07-04 01:26] dschult commented on #3968
I'll bring it up at the weekly core developers meeting this week to say what people feel about it.
My first impression is that the one letter difference and the letters being r and n (which are so close) make it likely that users will get confused between the two. That is not in either of our best interests. There are many other good possibilities. In light of search engine optimization, you shoul

[2022-07-04 01:33] omalled commented on #4544
Regarding point 1, I'd also note these earlier packages, which are basically prototypes for DPFEHM and NonlinearEquations: [FiniteVolume](https://github.com/madsjulia/FiniteVolume.jl) and [LinearAdjoints](https://github.com/madsjulia/LinearAdjoints.jl). They explore some of the same ideas, but are not as full-featured. E.g., DPFEHM has a lot more physics than FiniteVolume and LinearAdjoints works

[2022-07-04 01:37] brunomontezano commented on #4375
I agree to review. Thanks for the invitation.

[2022-07-04 03:07] rmmilewi commented on #4458
To be clear, I am in fact going to review this paper. I was without reliable internet for a few days while moving houses. But I'm back online and should have this review done in the next day or two!

[2022-07-04 03:11] vsoch commented on #4458
Congrats on your move! 🏡

[2022-07-04 04:12] danehkar commented on #4170
@transientlunatic Based on packages are being installed when I run  `pip install ligo-asimov`, other packages also need to be listed in requirements.txt, which is used by `install_requires=requirements` in setup.py:
**gitdb
ligo-segments
ligotimegps
gwdatafind
requests-toolbelt
dqsegdb2
gwosc
safe-netrc
scitokens
mmap
cryptography
configparser**

as well as **glue**, you `import Cache from glue`,

[2022-07-04 04:30] Koushikphy commented on #4527
@editorialbot generate pdf

[2022-07-04 04:36] Koushikphy commented on #4527
@editorialbot check references

[2022-07-04 05:50] Vaibhavdixit02 commented on #4506
@jbytecode all the remaining points should have been addressed now.

@editorialbot check references
@editorialbot generate pdf

[2022-07-04 06:03] jbytecode commented on #4506
@editorialbot check references

[2022-07-04 06:03] jbytecode commented on #4506
@editorialbot generate pdf

[2022-07-04 06:05] sappelhoff commented on #4478
I have to decline for time reasons, but this reminded me of https://github.com/wmvanvliet/mne_microstates by @wmvanvliet who might want to review.

[2022-07-04 06:11] jbytecode commented on #4506
- Please can you add descriptive figure captions. Currently the captions appear to be short labels.
- any suggestions for potential reviewers? (do not use @ character)

[2022-07-04 06:26] cbrnr commented on #4478
Same, unfortunately I don't have time to provide a useful review.

[2022-07-04 06:28] timtroendle commented on #4261
@kristina-o, can you let us know by when you think you can address the points mentioned by the three reviewers?

[2022-07-04 07:19] jagnobli commented on #4538
@Kevin-Mattheus-Moerman many thanks for wrapping up the _pre review process_. As I am new to this kind of submission process I wonder if I need to do something? I scrolled through the potential editors list and found one person that may be another match for reviewing our work: ```JoyMitra```.

[2022-07-04 07:23] patRyserWelch8 commented on #4473
HI

Sure. Always happy to help.  For when do you need it?

Best wishes,

P.

Dr Pat Ryser-Welch

Staff tutor/Associate lecturer

Referred as: Her/She

Calendar: up to date, so feel free to send me a calendar invite, if you would benefit from my contributions

Let's remember:

Start by doing what's necessary; then do what's possible; and suddenly you are doing the impossible.

 Francis of Assisi

M

[2022-07-04 07:53] oliviaguest commented on #3956
@editorialbot check references

[2022-07-04 07:54] oliviaguest commented on #3956
@editorialbot generate pdf

[2022-07-04 07:54] oliviaguest commented on #3956
@editorialbot set 10.5281/zenodo.6759182 as archive

[2022-07-04 07:56] oliviaguest commented on #4114
@raybecker I'll set a more generous reminder of 2 weeks. 😊  Good luck with everything and happy belated birthday.

[2022-07-04 07:56] oliviaguest commented on #4114
@editorialbot remind @raybecker in two weeks

[2022-07-04 08:07] oliviaguest commented on #3956
Also, please review and merge https://github.com/eferrea/BCI-Master/pull/7, @eferrea — just some typos.

[2022-07-04 08:19] jfowkes commented on #4377
Ah I see, thank you. I will investigate and update these to run correctly.

[2022-07-04 08:46] mstimberg commented on #3956
I certainly don't intend to complicate things and to draw out the publishing process further, but I wonder: other journals I've reviewed for that mention the reviewer names in the paper state something along the lines of "reviewers endorsed the manuscript in its current form", although I'm not sure if that's the case for JOSS? I'm saying this since I'm not 100% sure that @puolival would subscribe

[2022-07-04 08:48] drvinceknight commented on #4509
That's great, thank you @CFGrote

[2022-07-04 08:49] drvinceknight commented on #4509
@editorialbot add @CFGrote as reviewer

[2022-07-04 08:50] drvinceknight commented on #3968
@editorialbot check references

[2022-07-04 08:50] drvinceknight commented on #3968
@dschult I will wait to hear back from you before proceeding.

[2022-07-04 08:51] drvinceknight commented on #4543
@Kevin-Mattheus-Moerman yup this is up my street :+1: :)

[2022-07-04 08:53] drvinceknight commented on #4543
@editorialbot set me as editor

[2022-07-04 09:09] CFGrote commented on #4509
@editorialbot commands

[2022-07-04 09:22] csoneson commented on #4473
@patRyserWelch8 Thank you! We usually ask reviewers to provide a first round of reviews within ~2 weeks (once we have secured two reviewers, I will assign you and open the review issue, where you will be able to generate your review checklist and start the review). However, I should also note that in many cases  it is easier to post comments/questions/suggestions as you come across them instead of

[2022-07-04 09:22] jbytecode commented on #4506
👋👋👋 Dear @diegomcarvalho 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**GlobalSensitivity.jl: julia package for performant global sensitivity analysis**". You can find more information at the top of this Github issue

[2022-07-04 09:25] jbytecode commented on #4506
👋👋👋 Dear @zhenwu0728 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**GlobalSensitivity.jl: julia package for performant global sensitivity analysis**". You can find more information at the top of this Github issue (ht

[2022-07-04 09:46] eferrea commented on #3956
Hi @oliviaguest, thanks for your edits. I merged them and then I corrected affiliation number 4 since it has recently changed. I also agree with @mstimberg that @puolival should not be listed as reviewer of the paper.

[2022-07-04 10:52] oliviaguest commented on #3956
@eferrea sorry, but why? Didn't their contribution get used? This is a strange request unless you think their labour was worth nothing to you.

[2022-07-04 10:57] eferrea commented on #3956
@oliviaguest for me it is completely fine if the JOSS regulations are fine with that. Thanks.

[2022-07-04 11:12] Vaibhavdixit02 commented on #4506
@editorialbot generate pdf

[2022-07-04 11:18] phpuech commented on #4539
Hi
we would like to change the name of the repo from OT-Analysis to OT_Analysis, and therefore in the submitted MS
Is it possible ? How could this be done ?
Thanking you for your help
Sincerely
PHPuech

[2022-07-04 11:35] mstimberg commented on #3956
@oliviaguest (sorry, forgot to tag you earlier): to avoid misunderstandings, @eferrea's comment was related to my earlier comment:

I am completely convinced that @puolival *deserves* to be listed to be a reviewer, I am just not 100% sure that they *want* to be listed as a reviewer.

[2022-07-04 11:48] eferrea commented on #3956
@oliviaguest , sorry I also did not notice you were not tagged.

[2022-07-04 11:48] AldoGl commented on #4543
@editorialbot check references

[2022-07-04 12:10] JorenSix commented on #4541
Allright, lets try this:

@editorialbot check refereces
@editorialbot generate pdf

[2022-07-04 12:14] JorenSix commented on #4541
Hi @Kevin-Mattheus-Moerman,

I would like to recommend the following reviewers (username): magdalenafuentes dpwe expectopatronum

[2022-07-04 12:16] Bisaloo commented on #4497
Hi @Kevin-Mattheus-Moerman and @VLucet :wave::wave:, yes, I can edit this submission.

[2022-07-04 12:17] Bisaloo commented on #4497
@editorialbot assign me as editor

[2022-07-04 12:31] JorenSix commented on #4541
@editorialbot check refereces

[2022-07-04 12:33] JorenSix commented on #4541
@editorialbot generate pdf

[2022-07-04 12:38] AldoGl commented on #4543
@editorialbot check references

[2022-07-04 12:40] AldoGl commented on #4543
@editorialbot check references

[2022-07-04 12:41] AldoGl commented on #4543
@editorialbot generate pdf

[2022-07-04 12:41] JorenSix commented on #4541
@editorialbot commands

[2022-07-04 12:58] dfm commented on #4053
@lrastaet, @asherp / @asher-pembroke — let me know when you're happy with the updated proofs!

[2022-07-04 13:38] chryswoods commented on #4494
Just to say that I am going through the review. Have got the software installed and now running the tests. I've seen a test failure that I have [reported here](https://github.com/RECETOX/MSMetaEnhancer/issues/112).

[2022-07-04 13:58] bmcfee commented on #4541
@editorialbot assign me as editor

[2022-07-04 13:59] bmcfee commented on #4541
:wave: happy to edit this one - it's a holiday in the US today, but I'll start the reviewer search when back in the office tomorrow.

[2022-07-04 14:01] JorenSix commented on #4541
👍

[2022-07-04 14:06] dawbarton commented on #4414
Apologies for the delay. I'll try to make sure that it gets done this week.

[2022-07-04 14:14] fabian-sp commented on #4502
I will open an issue in the repository for every topic/question that I encounter. Hope this is okay for everyone.

[2022-07-04 15:29] faroit commented on #4458
@editorialbot remind @gflofst in seven days

[2022-07-04 15:33] bencardoen commented on #3743
@Nikoleta-v3 @EgorOrachyov
I'm ok with the changes made in issue 19, however noted the below writing issues (quickly fixed, so just listing them here if that's ok)

Line 10: within [a] Python runtime
Line 48 Related Tools: Best to our knowledge --> To the best of our knowledge
Line 74 Experiment is --> The experiment is
Line 86 Future research : Potential solution --> A potential solution

Apart f

[2022-07-04 15:40] jagnobli commented on #4538
To keep him updated I'll add @xi as co-author to this discussion...

[2022-07-04 15:43] melissawm commented on #4502
That is ok, @fabian-sp - I would kindly ask that you post updates here in this issue once in a while for visibility. Thanks!

[2022-07-04 16:08] d-chambers commented on #4324
Hey @jedbrown, unfortunately I am doing field work all summer so I am not a good fit for this.

[2022-07-04 16:19] oliviaguest commented on #3956
I appreciate you raising this, but I don't appreciate being told, even if indirectly, how to manage this. I'll happily give @puolival time to reply, but I'm wondering if maybe an @openjournals/joss-eics should take over completely from here. I'm happy to back off, especially if my job is almost completely done anyway.

[2022-07-04 16:25] mattpitkin commented on #4492
@dsbowen After looking through the paper and the software I have a few minor suggestions:

* could you spell out the acronyms OLS and IV at their first use in the paper summary?
* it would be useful to use, e.g., [nbsphinx](https://nbsphinx.readthedocs.io/en/0.8.9/) to render the example notebooks as pages within the docs website as well as linking to the binders.
* when describing the empirical B

[2022-07-04 16:29] arfon commented on #3390
@editorialbot accept

[2022-07-04 16:32] arfon commented on #3974
@editorialbot recommend-accept

[2022-07-04 16:33] #3390 closed

[2022-07-04 16:34] arfon commented on #4053
@editorialbot recommend-accept

[2022-07-04 16:36] arfon commented on #3974
@editorialbot accept

[2022-07-04 16:37] arfon commented on #4053
:wave: from your friendly EiC. We'll hold off publishing until we've heard that folks are happy with the paper.

[2022-07-04 16:38] danielskatz commented on #3956
Given that the entire review history is public, I don't think that we need additional statements from reviewers. This hasn't been the practice of JOSS in the past.

[2022-07-04 16:41] arfon commented on #4298
@editorialbot accept

[2022-07-04 16:41] arfon commented on #3974
@rougier, @gdetor – many thanks for your reviews here and to @jarvist for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@tiagoseq – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-07-04 16:41] #3974 closed

[2022-07-04 17:49] a3sha2 commented on #4368
@emdupre  I am satisfied with authors response

[2022-07-04 17:56] EgorOrachyov commented on #3743
@editorialbot generate pdf

[2022-07-04 17:58] euronion commented on #4472
Modelled load time-series and projections based on different development scenarios and at high spatial and temporal resolution are essential for electricity system modelling. `tell` does offer this functionality for a limited scope (CONUS area in the US) based on a neural network approach.

I think what this package covers is a valuable contribution and I see the substantial scholarly effort given

[2022-07-04 18:00] EgorOrachyov commented on #3743
@bencardoen Hi, thank you once more 😀! I've minor fixed writing issues, new pdf file is above.

[2022-07-04 18:21] tpoisot commented on #4487
I took some time to go through the paper and repo - I have very minimal comments, and would gladly recommend @jbytecode to :tada: accept :tada: after the last little unchecked boxes below have been addressed (or discussed by the authors)

## Software license

- [x] the `LICENSE` file is there
- [ ] the package uses GNU, whereas most of the Julia ecosystem uses MIT - I was wondering if the authors

[2022-07-04 18:21] mstimberg commented on #3956
I hear what you are saying, apologies for that – I'll try to be more careful in the future.

[2022-07-04 18:31] majensen commented on #4369
Hi @milnus - there are only two minor items: 1) missing a period at the end of sentence, l. 37 in proof, 2) I think the Mount ref. is fine, but could you also add the original BLAST algorithm paper (https://pubmed.ncbi.nlm.nih.gov/2231712/). Just my preference.

Once you make and push any changes, can you please create an open archive of the code repo at [Zenodo](https://zenodo.org), [FigShare](ht

[2022-07-04 18:36] jbytecode commented on #4487
@tpoisot - the review didn't start yet

[2022-07-04 18:37] tpoisot commented on #4487
I'm going to be offline for a while, so consider this my review - I'll be happy to copy and paste it again when I'm back

[2022-07-04 19:35] jbytecode commented on #4487
@tpoisot - This way of reviewing does not fit the JOSS standards. If you don't have enough time I can remove you from the reviewers list.

[2022-07-04 19:38] OHildreth commented on #4257
@dhhagan Thanks for the update.  I was thinking, we could look at the people committing to the pyVISA project: https://github.com/pyvisa/pyvisa/graphs/contributors.  They might have relevant experience for our SwiftVISA project.

[2022-07-04 19:40] bencardoen commented on #3743
@EgorOrachyov thanks for the quick turnaround, latest version of the paper looks great.
@Nikoleta-v3  Do I need to issue a special command to conclude the review on my part?

[2022-07-04 20:07] tpoisot commented on #4487
I'm sorry, but can you clarify? I literally went through the review guidelines.

[2022-07-04 20:28] jbytecode commented on #4487
@tpoisot - thank you for your quick review. It would be better to ask the steps rather than sending a reviewing report.

In the pre-review issues we always do initial stuff and find suitable reviewers. After starting the review, a new thread will be created. In this review thread, a checklist with 20 reviewing items for each reviewer. The process is interactive, that is, the author(s), the reviewe

[2022-07-04 20:53] ChrisRackauckas commented on #4506
It's still missing figure captions. @Vaibhavdixit02 can you take those on? I think that's the last piece.

[2022-07-04 21:04] tpoisot commented on #4487
This last paragraph is super explicit and useful, and if this were the message attached to the reviewer selection, it would help immensely and remove confusion.

[2022-07-04 21:09] jbytecode commented on #4487
@tpoisot I will take your suggestions into consideration. I will also be more explicit in the remaining parts of the review.

Thank you.

[2022-07-04 22:32] jedbrown commented on #4520
Sorry about my slow reply. I suppose I could, but it's pretty outside my area. I think the paper would benefit greatly from a cartoon showing an example deployment with producers, consumers, representative data bandwidth, and associated stakeholders (if there are multiple involved in a single deployment).

[2022-07-05 05:34] DominiqueMakowski commented on #4478
Hi all, if you're still looking for someone you can nominate @anshu-97 (ECR in my team, I'll be supervising her for that review) ☺️

[2022-07-05 05:53] jvkersch commented on #4236
I just wanted to add that we addressed the remaining issue on @tamarahadz 's list, and we reorganized the README along the lines suggested here. If anything else is outstanding, please let me know!

[2022-07-05 06:06] brunomontezano commented on #4473
Firstly, thanks for the invitation. And secondly, I accept the invite to review this paper.

[2022-07-05 06:42] csoneson commented on #4473
@brunomontezano - brilliant, thanks! As we now have our two reviewers, I will start the review issue.

[2022-07-05 06:43] csoneson commented on #4473
@editorialbot add @patRyserWelch8 as reviewer

[2022-07-05 06:43] csoneson commented on #4473
@editorialbot add @brunomontezano as reviewer

[2022-07-05 06:44] csoneson commented on #4473
@editorialbot start review

[2022-07-05 06:44] editorialbot opened #4545 "[REVIEW]: dsBinVal: Conducting distributed ROC analysis and Calibration using DataSHIELD"
**Submitting author:** @schalkdaniel (<a href="http://orcid.org/0000-0003-0950-1947">Daniel Schalk</a>)
**Repository:** https://github.com/difuture-lmu/dsBinVal
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.2
**Editor:** @csoneson
**Reviewers:** @patRyserWelch8, @brunomontezano, @AnthonyOfSeattle
**Archive:** 10.5281/zenodo.7634619

## Status

[![status](https://joss.theoj.o

[2022-07-05 06:44] #4473 closed

[2022-07-05 06:45] csoneson commented on #4545
👋🏼 @schalkdaniel, @patRyserWelch8, @brunomontezano - this is the review thread for the submission. All of our communications will happen here from now on.

Please check the post at the top of the issue for instructions on how to generate your own review checklist. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guid

[2022-07-05 06:47] csoneson commented on #4494
Thanks for the update @chryswoods!

@marshallmcdonnell - just wanted to check in on your review; please let me know if you have any questions!

Thanks!

[2022-07-05 07:01] ibayer commented on #4480
@danielskatz We have just been informed that an ipyannotator introduction talk, that @itepifanio have submitted to Python Nordeste, has been accepted.

It would be great if we could in cooperate feedback from this review before this talk. Please let me know if we can do something to get the review started.

[2022-07-05 07:18] rbturnbull commented on #4212
Hi @ajstewartlang  - I created a release (v1.1.1) and published it on figshare: https://melbourne.figshare.com/articles/software/ausdex_A_Python_package_for_adjusting_Australian_dollars_for_inflation/20226120
Here is the DOI: https://doi.org/10.26188/20226120.v1
Please let me know if there is anything else needed.

[2022-07-05 07:51] ajstewartlang commented on #4212
@editorialbot set doi.org/10.26188/20226120.v1 as archive

[2022-07-05 07:51] chartgerink commented on #4451
Thanks @ayush4921 - there are only two minor issues to fix still:

1. There are incomplete sentences such as the following - please proofread for reader clarity upon publication and here some of the issues I came across
  - [ ] p2
    - [ ] "See Data Some" is missing a punctuation mark
  - [ ] p5
    - [ ] "`FIRST_PDATE`" seems to miss a letter

Thanks for being so on top of this!

[2022-07-05 07:51] ajstewartlang commented on #4212
@editorialbot set v1.1.1 as version

[2022-07-05 07:53] ajstewartlang commented on #4212
@rbturnbull many thanks for a great piece of work - I'm very happy to recommend accept - and many thanks to @konstantinstadler and @potterzot for the very helpful reviews!

[2022-07-05 07:53] rbturnbull commented on #4212
Hi @ajstewartlang - the DOI link from the editorial includes doi.org twice so the link won't work

[2022-07-05 07:53] chartgerink commented on #4416
Thanks @mmrabe! Enjoy your parental leave and I appreciate you letting us know.

@lschwetlick would you be interested in reviewing this software and paper for the Journal of Open Source Software? You can find the submitted manuscript [on GitHub](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04416/joss.04416/10.21105.joss.04416.pdf).

For a bit more information:

[2022-07-05 07:54] ajstewartlang commented on #4212
@editorialbot set 10.26188/20226120.v1 as archive

[2022-07-05 07:54] rbturnbull commented on #4212
Thanks @ajstewartlang ! I greatly appreciate your help on this :)

[2022-07-05 07:54] ajstewartlang commented on #4212
should be fixed now

[2022-07-05 07:55] ajstewartlang commented on #4212
@editorialbot recommend-accept

[2022-07-05 07:59] ayush4921 commented on #4451
@chartgerink Thanks sir for pointing this out. I have fixed the p2 typo (it was meant to be in brackets). But "FIRST_PDATE" is the syntax that EUPMC provides us and is written as it is.

[2022-07-05 08:17] lizarett commented on #4389
The code appears to offer useful functionality of conversion from one notation to the other, examples help understanding the use cases. A possible suggestion would be to have in the description a sort of summary table or a list of all new function names with a list of all corresponding input variables. This may be just one more way to learn the package faster.

[2022-07-05 08:50] frankier commented on #4515
@editorialbot generate my checklist

[2022-07-05 09:12] slayoo commented on #3896
Just a quick update regarding the performance analysis. We are done with JIT enabled vs. disabled + threading analysis, still working on comparison with libmpdata++. Here's a draft of the figure based on a 3D advection-only example from Smolarkiewicz 1984, and depicting that:
- disabling Numba JIT causes an over 1000-fold slowdown in PyMPDATA;
- there is reasonable speedup measurable from using mu

[2022-07-05 09:19] hechth commented on #4337
@dhhagan Just to be clear: Make a new release on GitHub, archive the software on Zenodo (I guess) and then state the release version and the DOI link to Zenodo here?

[2022-07-05 09:42] wdeconinck commented on #3896
That is very nice. I guess if you want to make the point of comparing the three PyMPDATA results, you would create a second picture with zoomed vertical axis.

[2022-07-05 09:46] blsqr commented on #2316
@arfon With that, we have all the projects migrated:

* **dantro**: https://gitlab.com/utopia-project/dantro
* **Utopia**: https://gitlab.com/utopia-project/utopia
* **DORiE**: https://gitlab.dune-project.org/dorie/dorie

They all have their (unchanged) papers located at `joss/paper.md`. Is there anything else we need to do?

[2022-07-05 10:34] oliviaguest commented on #3956
@editorialbot recommend-accept

[2022-07-05 10:44] oliviaguest commented on #4538
I am happy to edit this, if others are busy.

[2022-07-05 12:01] danielskatz commented on #4452
👋 @PerilousApricot - Can I check in with you on the status of your review?

[2022-07-05 12:02] danielskatz commented on #4461
👋 @CFGrote - How is your review coming along?  Is there anything blocking your progress?

[2022-07-05 12:03] danielskatz commented on #4461
👋 @ygrange - do @xuanxu's updates resolve the issue you found?

[2022-07-05 12:04] danielskatz commented on #4538
Please go ahead @oliviaguest - thanks!

[2022-07-05 12:04] danielskatz commented on #4538
@editorialbot assign @oliviaguest as editor

[2022-07-05 12:18] ygrange commented on #4461
I will have a deeper look at it maybe tomorrow and then give some more concrete reply. But let me state that I really like the changes I see at quick glance! Thanks @xuanxu !

[2022-07-05 12:23] danielskatz commented on #4442
👋 @sadit - I'm the JOSS AEiC this week handling the rest of the process for your paper.  I've suggested some changes in https://github.com/sadit/SimilaritySearch.jl/pull/23 - please merge this or let me know what you disagree with.

[2022-07-05 12:25] danielskatz commented on #4418
@dbrizard  - please update the zenodo metadata to include your actual name, not your GitHub username

[2022-07-05 12:25] CFGrote commented on #4461
I'm currently preparing for a conference next week, will get back to the review asap but can't make any promise right now. Sorry.

On Tue, 2022-07-05 at 05:02 -0700, Daniel S. Katz wrote:

[2022-07-05 12:32] danielskatz commented on #4418
In addition, I've suggested a number of wording changes in https://github.com/dbrizard/elwaspatid/pull/1 - please merge this or let me know what you disagree with, then we can continue to publication

[2022-07-05 12:34] danielskatz commented on #4480
Ah, I think you meant to "incorporate feedback".  Ok, but we need to wait for the reviewers...

[2022-07-05 12:41] danielskatz commented on #4370
@DCoppitters - I'm the AEiC this week who will complete processing of this paper.  I've suggested some small changes to the paper in https://github.com/rheia-framework/RHEIA/pull/14 - please merge this or let me know what you disagree with, then we can proceed.

[2022-07-05 12:42] dbrizard commented on #4418
Thank you. I am ok with your modifications., thank you for the careful proofreading.
Just note that some square brackets were dropped on some references.
Do you know if this has any consequence on these references ?

[2022-07-05 12:46] danielskatz commented on #4212
@rbturnbull - I'm the AEiC on duty this week, and will finish the processing of your paper.  I've suggested some minor changes to the paper in https://github.com/rbturnbull/ausdex/pull/13 - please merge this or let me know what you disagree with, then we can proceed.

[2022-07-05 12:57] danielskatz commented on #4418
Removing the square brackets removes the parentheses around the reference, which is preferred when the reference is being used actively rather than passively.  E.g. "Author et al. 2022 reports" vs
"in the reported literature (Author et al. 2022)"

[2022-07-05 12:58] danielskatz commented on #4370
@editorialbot recommend-accept

[2022-07-05 12:59] mikldk commented on #4383
@editorialbot set 10.5281/zenodo.6781029 as archive

[2022-07-05 13:01] danielskatz commented on #4370
@editorialbot accept

[2022-07-05 13:03] danielskatz commented on #4418
@editorialbot recommend-accept

[2022-07-05 13:05] danielskatz commented on #4418
@editorialbot accept

[2022-07-05 13:05] mikldk commented on #4383
@editorialbot recommend-accept

[2022-07-05 13:11] danielskatz commented on #4370
Congratulations to @DCoppitters (Diederik Coppitters) and co-authors!!

And thanks to @andr1976 and @ClaraBuettner for reviewing and to @fraukewiese for editing!
We couldn't do this without you!

[2022-07-05 13:11] #4370 closed

[2022-07-05 13:13] danielskatz commented on #4418
Congratulations to @dbrizard (Denis Brizard)!!

And thanks to @obsmax and @MargeritPierre for reviewing, and @diehlpk for editing!
We couldn't do this without you.

[2022-07-05 13:18] danielskatz commented on #4383
@mdhaber - I'm the AEiC on duty this week, and I will complete the processing of this paper.  I've suggested a small change in https://github.com/mdhaber/scipy/pull/86 - if this is ok, please merge it and we can proceed.

[2022-07-05 13:35] jessepisel commented on #4324
Howdy @jedbrown I am in the same boat as most of the other folks here. I have no experience with this data format, but I am happy to review the repository.

[2022-07-05 13:44] vboussange commented on #4491
@editorialbot generate my checklist

[2022-07-05 13:48] transientlunatic commented on #4170
Thanks for catching the typo!
I'm a bit confused about the second point; `gwdatafind` is a dependency of `gwpy` which is imported in asimov. Are you requesting that each dependency be mentioned in the paper?

[2022-07-05 13:55] transientlunatic commented on #4170
Thanks for spotting these!
I don't believe any of these are requirements for asimov, but are requirements for some of its dependencies; I normally wouldn't list these as dependencies of the package itself, but if it's JOSS policy to do so I'm happy to add them.

[2022-07-05 13:56] MatthieuDartiailh commented on #4257
I can try to give this a look though I am familiar with Swift.

I am not familiar with JOSS review process either. Where can I find the pdf and under which format should submit my review ?

[2022-07-05 14:05] sadit commented on #4442
@danielskatz - Thank you for your suggestions. I have already merged all of them. Thanks a lot for your time.

[2022-07-05 14:18] danielskatz commented on #4442
@editorialbot recommend-accept

[2022-07-05 14:52] danielskatz commented on #4442
@editorialbot generate pdf

[2022-07-05 14:55] danielskatz commented on #4383
@editorialbot recommend-accept

[2022-07-05 14:58] sadit commented on #4442
@danielskatz - It looks okay to me. Thank you again.

[2022-07-05 15:08] sadit commented on #4442
@jbytecode @danielskatz @kose-y @ahwillia

Thank you all for your suggestions and your valuable time

Best regards,
Eric Sadit

[2022-07-05 15:19] danielskatz commented on #4383
Congratulations to @mdhaber (Matt Haberland) and co-authors!!

And thanks to @mcavs and @acolum for reviewing, and @mikldk for editing!
We couldn't do this without you

[2022-07-05 15:19] #4383 closed

[2022-07-05 15:20] danielskatz commented on #4442
Congratulations to @sadit (Eric S. Tellez) and co-author!!

And thanks to @kose-y and @ahwillia for reviewing, and @ jbytecode for editing!
We couldn't do this without you

[2022-07-05 15:20] #4442 closed

[2022-07-05 15:21] editorialbot opened #4546 "[PRE REVIEW]: netrankr: An R package for total, partial, and probabilistic rankings in networks"
**Submitting author:** @schochastics (<a href="http://orcid.org/0000-0003-2952-4812">David Schoch</a>)
**Repository:** https://github.com/schochastics/netrankr
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.1
**Editor:** @jbytecode
**Reviewers:** @akbaritabar, @briatte
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/783172689e7dbfa52a7d6

[2022-07-05 15:23] danielskatz commented on #4546
👋 @schochastics - Please add an explicit Statement of Need section to your paper (perhaps just renaming "Background", or maybe splitting this into two sections.  In addition, you could work on the possibly missing DOI that editorialbot suggests, but note that this may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check ag

[2022-07-05 15:26] danielskatz commented on #4546
@editorialbot invite @jbytecode as editor

[2022-07-05 15:29] danielskatz commented on #4410
@jjgomera - without a response, we will mark this submission as withdrawn, though you would be welcome to resubmit after addressing the comments above.

[2022-07-05 15:31] danielskatz commented on #4476
👋 @christinahedges - Would you be able to edit this submission?

[2022-07-05 15:35] danielskatz commented on #4496
@editorialbot withdraw

[2022-07-05 15:36] danielskatz commented on #4511
👋 @jarvist - is this a submission you would be willing to edit?

[2022-07-05 15:39] danielskatz commented on #4526
👋 @yogi-tud - Can you work on the possibly missing DOI that editorialbot suggests, but note that it may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-07-05 15:40] danielskatz commented on #4526
@editorialbot assign me as editor

[2022-07-05 15:46] yogi-tud commented on #4526
@editorialbot check references

[2022-07-05 15:50] danielskatz commented on #3956
@editorialbot accept

[2022-07-05 15:55] eferrea commented on #3956
Great! @danielskatz @oliviaguest @mstimberg @puolival , many thanks for your contribution in this reviewing process.

[2022-07-05 15:57] danielskatz commented on #3956
The DOI doesn't yet resolve for me, so I'll keep this open until it does.

[2022-07-05 16:01] marshallmcdonnell commented on #4494
Hi @csoneson!

Apologies for delay, looked over repo but will begin review now.

Thanks!

[2022-07-05 16:02] marshallmcdonnell commented on #4494
@editorialbot generate my checklist

[2022-07-05 16:03] danielskatz commented on #3956
Congratulations to @eferrea (Enrico Ferrea) and co-authors!!

And thanks to @mstimberg and @puolival for reviewing, and @oliviaguest for editing!
We couldn't do this without you

[2022-07-05 16:03] #3956 closed

[2022-07-05 16:10] robertszafa commented on #4526
@editorialbot generate my checklist

[2022-07-05 16:14] danehkar commented on #4170
It is not necessary to mention all secondary dependencies in the paper, but the primary dependencies should be mentioned, for example [gwpy](https://github.com/gwpy/gwpy/), which was not mentioned in the paper:

[code]

[2022-07-05 16:15] danielskatz commented on #4526
@robertszafa - thanks for agreeing to review this submission.  However, we can't start until we also find a second reviewer.  I'll add you to the system now, and I'm checking with the EuroPar Chairs for suggestions for a second reviewer.

[2022-07-05 16:15] danielskatz commented on #4526
@editorialbot add @robertszafa as reviewer

[2022-07-05 16:16] danielskatz commented on #4526
Once there is a second reviewer, we will start a new review issue where you will be able to complete your review, but for now, just hold on :)

[2022-07-05 16:21] danehkar commented on #4170
@transientlunatic There is an issue with the **pip** installation, but **conda** is OK. Those secondary dependencies are not required to be listed, but the primary dependencies should be in setup.py. If **glue** cannot be installed through **pip**, it should be mention in README.md, for example, users need to manually install the glue package for the `olivaw init` functions (e.g. using conda or et

[2022-07-05 16:26] yogi-tud commented on #4526
@editorialbot generate pdf
(seems like check references did not work before) I updated the bib files.

[2022-07-05 16:28] yogi-tud commented on #4526
Ok is seems i should not include http:// in the DOI as the bot adds https itself. ill fix that right away.

[2022-07-05 16:29] yogi-tud commented on #4526
@editorialbot generate pdf

[2022-07-05 16:29] rkurchin commented on #4443
Hi again, just checking in with author @EwaGomez regarding the issues already filed and reviewers @sidihamady and @kanderso-nrel regarding progress of their reviews!

[2022-07-05 16:32] yogi-tud commented on #4526
@editorialbot generate pdf

[2022-07-05 16:32] rkurchin commented on #4364
Hi @utf, have you had a chance to get started on the main section of your review checklist?

And @bocklund, have you gotten a chance to look at some of the functionality claims for your last checkbox?

[2022-07-05 16:36] yogi-tud commented on #4526
DOI for reference works now

[2022-07-05 16:37] danielskatz commented on #4526
@editorialbot check references

[2022-07-05 16:38] danielskatz commented on #4526
very good - we're ready to go once we find a second reviewer

[2022-07-05 16:41] rkurchin commented on #4289
👋 @lheagy and @shibabrat would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-05 16:44] fboehm commented on #4530
hi, @tomsing1 - Thanks for such a thorough and timely review! It's fine that you don't have the resources to reproduce the benchmarking. Please do add your checkmark to the Performance box. Thanks again!

[2022-07-05 16:58] lheagy commented on #4289
Hi @rkurchin, thanks for reaching out! I unfortunately don't have the time to take this on at the moment.

[2022-07-05 17:20] jbytecode commented on #4546
@editorialbot assign me as editor

@danielskatz of course, gladly!

@schochastics - Thank you for the submission. The manuscript should include a statement of need section. In this section, you can discuss why we need such a software and what are the alternatives, or opponents, and why people decide to use the software rather than the alternatives, etc. Please take a look at the https://joss.readt

[2022-07-05 17:23] jbytecode commented on #4506
👋👋👋 Dear @pausz 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**GlobalSensitivity.jl: julia package for performant global sensitivity analysis**". You can find more information at the top of this Github issue (https:/

[2022-07-05 17:29] jbytecode commented on #4487
@tonyewong - It seems we fail to get a response from invited reviewers. Do you have more suggestions for the potential reviewers? (Please do not use the @ (at) character when you mention their usernames).

[2022-07-05 17:47] kris-rowe commented on #4466
@diehlpk I will need to sit this one out also.

[2022-07-05 18:28] osorensen commented on #3700
@a-ws-m please let me know when this is done, and I can move forward with accepting the submission.

[2022-07-05 18:32] osorensen commented on #4470
:wave: @brechmos @grlee77 @7omasz would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-07-05 18:33] editorialbot opened #4547 "[PRE REVIEW]: ThermoFun: A C++/Python library for computing standard thermodynamic properties of substances and reactions across wide ranges of temperatures and pressures"
**Submitting author:** @gdmiron (<a href="http://orcid.org/0000-0002-6923-7300">George Miron</a>)
**Repository:** https://github.com/thermohub/thermofun
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.3.9
**Editor:** @lucydot
**Reviewers:** @darinddv, @hgandhi2411
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/6b76d3c12421312f309b515

[2022-07-05 18:33] editorialbot opened #4548 "[PRE REVIEW]: SpectroMap: Peak detection algorithm for audio fingerprinting"
**Submitting author:** @Aaron-AALG (<a href="http://orcid.org/0000-0001-8332-0381">Aarón López-García</a>)
**Repository:** https://github.com/Aaron-AALG/spectromap
**Branch with paper.md** (empty if default branch): https://github.com/Aaron-AALG/spectromap/blob/main/paper/paper.md
**Version:** v0.1.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status]

[2022-07-05 18:34] danielskatz commented on #4548
@editorialbot set main as branch

[2022-07-05 18:34] danielskatz commented on #4548
@editorialbot generate pdf

[2022-07-05 18:34] danielskatz commented on #4548
@editorialbot check repository

[2022-07-05 18:36] danielskatz commented on #4548
@editorialbot reject

[2022-07-05 18:39] danielskatz commented on #4547
👋 @gdmiron - it looks like you need to make some changes to your markdown paper where there are links -
`ThermoFun [thermohub.org/thermofun](https://thermohub.org/thermofun) is an open source library` should probably either be `[ThermoFun](https://thermohub.org/thermofun) is an open source library` or `ThermoFun ([thermohub.org/thermofun](https://thermohub.org/thermofun)) is an open source library

[2022-07-05 18:41] danielskatz commented on #4547
Also, the paper seems rather long - are there parts that can be removed in favor of pointing to documentation or other papers?

[2022-07-05 18:42] danielskatz commented on #4547
👋 @lucydot - Would you be able to edit this submission?

[2022-07-05 18:42] danielskatz commented on #4547
@editorialbot invite @lucydot as editor

[2022-07-05 18:47] a-ws-m commented on #3700
Hi, I've made the release: it's [version 2.0.3](https://github.com/a-ws-m/unlockNN/releases/tag/v2.0.3).
The Zenodo DOI is 10.5281/zenodo.6799685.

[2022-07-05 19:06] jbytecode commented on #4506
👋👋👋 Dear @storyetfall 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**GlobalSensitivity.jl: julia package for performant global sensitivity analysis**". You can find more information at the top of this Github issue (h

[2022-07-05 19:12] osorensen commented on #3700
@editorialbot set version 2.0.3

[2022-07-05 19:12] osorensen commented on #3700
@editorialbot set 0.5281/zenodo.6799685 as archive

[2022-07-05 19:13] danielskatz commented on #4537
@editorialbot assign me as editor

[2022-07-05 19:13] osorensen commented on #3700
@editorialbot set 10.5281/zenodo.6799685 as archive

[2022-07-05 19:13] osorensen commented on #3700
@editorialbot generate pdf

[2022-07-05 19:14] danielskatz commented on #4537
@Ergus - while this is probably an ok artifact for EuroPar, it's not a good fit for JOSS due to size and lack of packaging. I'm checking with EuroPar folks on how we will handle this, and hope to be able to get back to you soon

[2022-07-05 19:14] osorensen commented on #3700
@editorialbot check references

[2022-07-05 19:16] danielskatz commented on #4529
@editorialbot assign me as editor

[2022-07-05 19:19] danielskatz commented on #4529
@editorialbot generate pdf

[2022-07-05 19:22] danielskatz commented on #4529
@xuanxu - Can you see what's wrong here? The ORCID looks correct for the author when I search on orcid.org

[2022-07-05 19:28] danielskatz commented on #4535
@editorialbot assign me as editor

[2022-07-05 19:29] danielskatz commented on #4535
👋 @ARMartinelli - I think you are willing to review this JOSS submission based on a EuroPar paper, correct?

[2022-07-05 19:48] osorensen commented on #3700
Thanks @a-ws-m. Could you please check the latest PR I made in the source repository?

[2022-07-05 19:49] danielskatz commented on #4536
👋 note that your paper does not compile. As @Kevin-Mattheus-Moerman says, you at least need to remove the extra 0 in an ORCID. In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbo

[2022-07-05 19:50] danielskatz commented on #4536
👋 @k-doering-NOAA - note that your paper does not compile. As @Kevin-Mattheus-Moerman says, you at least need to remove the extra 0 in an ORCID. In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the com

[2022-07-05 19:52] a-ws-m commented on #3700
Done, thanks for the correction!

[2022-07-05 19:56] simonpcouch commented on #4471
Thank you! Of course.

The tag for the archived release is [v0.2.4](https://github.com/tidymodels/stacks/releases/tag/v0.2.4). The DOI is [10.5281/zenodo.6800026](https://doi.org/10.5281/zenodo.6800026).

[2022-07-05 20:16] osorensen commented on #3700
@editorialbot generate pdf

[2022-07-05 20:16] osorensen commented on #3700
@editorialbot check references

[2022-07-05 20:17] osorensen commented on #4471
@editorialbot set version v0.2.4

[2022-07-05 20:17] osorensen commented on #4471
@editorialbot set v0.2.4 as version

[2022-07-05 20:19] osorensen commented on #4471
@editorialbot set 10.5281/zenodo.6800026 as archive

[2022-07-05 20:19] Yurlungur commented on #4367
Thanks @jzrake @lgarrison ! I appreciate the time you spent engaging with me and the project.

Thanks @dfm I've merged the PR, done a final readthrough, and incremented version number.
- Version number is: v1.5.1
- DOI is: 10.5281/zenodo.6800124

[2022-07-05 20:19] osorensen commented on #4471
@editorialbot check references

[2022-07-05 20:19] osorensen commented on #4471
@editorialbot generate pdf

[2022-07-05 20:19] osorensen commented on #3700
@editorialbot recommend-accept

[2022-07-05 20:29] Shibabrat commented on #4289
Hi @rkurchin, I'm sorry to say that my unfamiliarity with Chromatography makes me unsuitable for reviewing this submission.  Thank you for asking and happy to review submissions in Julia. Regards, Naik

[2022-07-05 20:33] danielskatz commented on #3700
@editorialbot recommend-accept

thanks, this looks ready to go

[2022-07-05 20:35] danielskatz commented on #3700
@editorialbot accept

sorry, this is what I meant to do...

[2022-07-05 20:43] arfon commented on #4441
I'm not sure this is suitable to be published in JOSS for a couple of reasons:

1. There is already a paper from 2021 related to the software.
2. The software appears to be in a state where the author(s) are no-longer maintaining the software.

Additionally, as the software is relatively small (~1400 LOC), reason `#1` seems especially relevant – i.e., it doesn't seem like any additions to this sof

[2022-07-05 20:58] danielskatz commented on #3700
Congratulations to @a-ws-m (Alexander Moriarty) and co-authors!!

And thanks to @TahiriNadia, @pmeier, and @Het-Shah for reviewing, and to @osorensen for editing!
We couldn't do this without you

[2022-07-05 20:58] #3700 closed

[2022-07-05 20:59] danielskatz commented on #4441
It seems like the next step is to reject the submission, or mark it as withdrawn

[2022-07-05 21:01] dfm commented on #4367
@editorialbot generate pdf

[2022-07-05 21:04] dfm commented on #4367
@editorialbot set 10.5281/zenodo.6800124 as archive

[2022-07-05 21:04] dfm commented on #4367
@editorialbot set v1.5.1 as version

[2022-07-05 21:09] dfm commented on #4367
@Yurlungur — I've now handed this off to the managing editors to do the final processing. There may be some final edits or other changes, but the process should be fairly quick. Thanks again for your submission and for your responses to all the suggestions from @lgarrison and @jzrake!

@lgarrison, @jzrake — Thanks again for your reviews of this submission. Thanks for the time that you took and the

[2022-07-05 21:11] danielskatz commented on #4367
Well, the DOI does lead to a work that matches the title, so I understand why this was offered as a possibility...

Also, I'm the AEiC this week and will check this now

[2022-07-05 21:18] marshallmcdonnell commented on #4494
@hechth, I'm excited about your software package, big fan of tools that help add and standardize metadata! Clean code base, was very readable. Good intuitive design for the Python API.  Also tried out the UMSA Galaxy tool, worked great!

I honestly just have non-mandatory suggestions. No major issues from me so I don't see any issues publishing in JOSS.

**Suggestions**
- https://github.com/RECETO

[2022-07-05 21:24] Yurlungur commented on #4367
Thanks all!

[2022-07-05 21:25] a-ws-m commented on #3700
Thank you all for your time and feedback! Feels great to have this published :)

[2022-07-05 21:27] danielskatz commented on #4367
I've suggested some minor changes in 2 PRs, both of which are already merged

[2022-07-05 21:27] danielskatz commented on #4367
@editorialbot recommend-accept

[2022-07-05 21:31] danielskatz commented on #4367
sorry, one more PR: https://github.com/lanl/spiner/pull/44

[2022-07-05 21:32] danielskatz commented on #4367
@editorialbot accept

[2022-07-05 21:35] editorialbot opened #4549 "[PRE REVIEW]: WILL - Weighted Injector of Luminous Lighthouses"
**Submitting author:** @josephwkania (<a href="http://orcid.org/0000-0002-3354-3859">Joseph Kania</a>)
**Repository:** https://github.com/josephwkania/will/
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.2.0
**Editor:** @dfm
**Reviewers:** @liamconnor, @abatten
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/ed1406414ae6df39b2da99bed

[2022-07-05 21:38] danielskatz commented on #4549
👋 @josephwkania - we require an OSI-approved open source license.  Can you add one (usually by putting the content of one from https://opensource.org as text into a file called LICENSE in the root of the repository)

[2022-07-05 21:38] danielskatz commented on #4549
👋 @dfm - you were suggested as the editor.  Can you edit this submission (assuming a license is added)?

[2022-07-05 21:38] danielskatz commented on #4549
@editorialbot invite @dfm as editor

[2022-07-05 21:39] #4367 closed

[2022-07-05 22:34] gflofst commented on #4458
I was on travel for a week and then the US holiday on Monday. This week I'll get started.

[2022-07-05 22:34] gflofst commented on #4458
@editorialbot generate my checklist

[2022-07-05 22:42] fAndreuzzi commented on #4534
Hi @max-little, I started looking at your code and I would say that you need to invest a little bit of time in documentation. I'm not going to ask full docstrings on every single method, but I would say that there are some method where docstrings would are strongly needed:
- Public methods (i.e. methods that are intended to be used by the user, like `GraplDSL.readgrapl`: Even if you feel like you

[2022-07-05 23:24] marcsit commented on #4327
@mbobra apologies for the delay (new position, COVID, holidays, you name it!) Here's the Zenodo deposit link: https://zenodo.org/record/6800348#.YsTH5xNBx0R

[2022-07-05 23:45] omalled commented on #4544
@editorialbot generate pdf

[2022-07-06 00:34] tonyewong commented on #4487
Sure, here are a few more. Again, I started from the bottom of the list and am working my way up. Generally looking for a combination of Julia and geo-/Earth sciences interests:
    * diegomcarvalho
    * zhenwu0728
    * haoxx081github.umn.edu
    * Zitzeronion
    * ruillercoaster
    * tbsexton
    * AnantHariharan1996
    * matt-graham
    * BrandonEdwards
    * crvernon
    * patrickcgray

[2022-07-06 01:58] lesfoster commented on #4469
Hello.  Thanks for the input.  I am still waiting on a reply from one former professor who looked at the project when I was not quite done with the original version.  Back then he looked at a histone proteins comparison and I think he said something like it made it more plain that even though histones (for example) are highly conserved, this display of ClustalW results showed that they are not ide

[2022-07-06 02:15] rbturnbull commented on #4212
Hi @danielskatz - I've merged your changes. We appreciate you going through it.

[2022-07-06 03:27] omtazi commented on #4211
@Kevin-Mattheus-Moerman I checked most of the items of the checklist. However, I can't find the "Community guidelines" part of the documentation for people wishing to contribute to the software.

[2022-07-06 05:46] schochastics commented on #4546
@jbytecode I have fixed all missing dois and added a statement of need which also discusses alternative R packages.
I would suggest the following reviewers:
MatthewSmith430,
akbaritabar

@editorialbot generate pdf

[2022-07-06 06:21] jbytecode commented on #4487
👋👋👋 Dear @diegomcarvalho 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework**". You can find more informati

[2022-07-06 06:24] jbytecode commented on #4546
👋👋👋 Dear @akbaritabar 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**netrankr: An R package for total, partial, and probabilistic rankings in networks**". You can find more information at the top of this Github issue

[2022-07-06 06:25] jbytecode commented on #4546
@editorialbot generate pdf

@schochastics - the editorialbot command should be please at the top of the message.

[2022-07-06 07:12] ARMartinelli commented on #4535
:wave: @danielskatz - Yes, it is correct.

[2022-07-06 08:23] gdmiron commented on #4547
Dear @danielskatz thank you for your comments. I will do the suggested fixes to the links. Concerning the length of the article, ThermoFun is a rather extensive code concerning thermodynamic models and data (database) for substances and reactions. We (the authors) tried to have a summary paper covering the very main features described in a simple and hopefully clear manner (for non experts) withou

[2022-07-06 08:36] Ergus commented on #4537
1) For the artifact itself I agree it is just a small script; but as you can see such script is just an automation "interface" to install and execute 4 other modules/packages (OmpSs-2@Clusters, Mercurium and the two sets of benchmarks). So this paper is intended to be a sort of presentation for OmpSs-2@Clusters to the oss community with a more general target.

2) As Europar people suggested I adde

[2022-07-06 08:50] gdmiron commented on #4547
@editorialbot generate pdf

[2022-07-06 09:43] Bisaloo commented on #4497
Hi @hvoltbb wave, would you be interested in reviewing this [R package](https://github.com/pedersen-fisheries-lab/sspm) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04497/joss.04497/10.21105.joss.04497.pdf) for JOSS? The first author of the submission recommended you as a reviewer.

You can have a look at our [review criteria](https://joss.readthedocs.

[2022-07-06 09:48] Bisaloo commented on #4497
Hi @Philipp-Neubauer :wave:, would you be interested in reviewing this [R package](https://github.com/pedersen-fisheries-lab/sspm) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04497/joss.04497/10.21105.joss.04497.pdf) for JOSS? I found your profile by looking at [rfishbase](https://github.com/ropensci/rfishbase) contributors and this seems relevant to

[2022-07-06 10:04] fabian-sp commented on #4502
I have a general question regarding the license: on Github I see on the right-hand side only a "View license" where I typically would see the license type (e.g. BSD-3-Clause license). As I am not 100% firm on licencing legal background, I would like to ask @melissawm  what exactly needs to be fulfilled to check off the License point? Strictly speaking, Github seems to not recognize the license of

[2022-07-06 10:09] Bisaloo commented on #4497
@VLucet, while I'm still thinking about it, could you check and fix the third reference please? It seems off.

[2022-07-06 10:56] akbaritabar commented on #4546
I would be delighted to serve as a reviewer.
I must confess that reading the manuscript, my role will be mainly looking at it from an applied social scientist perspective, i.e., ease of use of the package, simplicity and readability of the paper and examples aiding the less specialized reader to understand, be convinced of the use-cases and adopt the package in their toolbox of Network Analysis.

[2022-07-06 11:06] dfm commented on #4549
@editorialbot assign me as editor

I'm happy to edit! I'm traveling with limited internet access for the next week so my initial editorial pass and search for reviewers may be a little delayed, but I'll keep you posted.

@josephwkania — As @danielskatz [mentions above](https://github.com/openjournals/joss-reviews/issues/4549#issuecomment-1175524517), please do add a LICENSE as soon as possible.

[2022-07-06 11:25] danielskatz commented on #4212
@editorialbot recommend-accept

[2022-07-06 11:27] danielskatz commented on #4535
Thanks - I'll add you, and once we have a second reviewer as well, we will close this issue, open a review issue, and start the review

[2022-07-06 11:27] danielskatz commented on #4535
@editorialbot add @ARMartinelli as reviewer

[2022-07-06 11:29] danielskatz commented on #4212
@editorialbot accept

[2022-07-06 11:34] danielskatz commented on #4529
Thanks @xuanxu.

[2022-07-06 11:35] danielskatz commented on #4529
👋 @bcoye - can you fix the error ☝️, then use `@editorialbot generate pdf` as the first line in a new comment to try to generate the pdf again?

[2022-07-06 11:47] danielskatz commented on #4547
Regarding the length and content, we can see what the editor and reviewers think.

[2022-07-06 11:50] danielskatz commented on #4505
👋 @niess - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS does not consider it in scope for review as research software

[2022-07-06 11:50] danielskatz commented on #4505
@editorialbot reject

[2022-07-06 11:50] #4505 closed

[2022-07-06 11:55] danielskatz commented on #4514
👋 @Suryateja-Ravutla - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not currently ready for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

The issues are the amount of [substa

[2022-07-06 11:55] Ergus commented on #4537
This submission is for the Artifact as stated by Europar. But the artifact itself (and the paper) introduces and presents our other software. Actually all the artifact is about them.

They are (and their repositories) clearly stated and links available in the paper. Also explained and described as dependencies in the Overview.pdf.

Tks ;)

[2022-07-06 11:55] danielskatz commented on #4514
@editorialbot reject

[2022-07-06 11:55] #4514 closed

[2022-07-06 11:56] danielskatz commented on #4513
👋 @fmoyaj - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2022-07-06 11:56] danielskatz commented on #4513
@editorialbot reject

[2022-07-06 11:56] #4513 closed

[2022-07-06 11:57] danielskatz commented on #4527
👋 @Koushikphy - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS does not consider it in scope for review as research sof

[2022-07-06 11:57] #4527 closed

[2022-07-06 11:59] danielskatz commented on #4540
👋 @MorganWaddy - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Additionally, it appears to be primarily a set of analysis scripts rather than a reusable library. Please see https:/

[2022-07-06 11:59] danielskatz commented on #4540
@editorialbot reject

[2022-07-06 11:59] #4540 closed

[2022-07-06 12:00] gdmiron commented on #4547
Possible reviewers from JOSS list: Richard Gowers, David Hagan, Katy Barnhart, ...

[2022-07-06 12:05] danielskatz commented on #4547
@gdmiron - you're looking at the editor list - we don't generally also want editors to be reviewers, as they are busy editing.  The reviewer list is [here](https://bit.ly/joss-reviewers) (please start at the bottom)

[2022-07-06 12:07] editorialbot opened #4550 "[PRE REVIEW]: RickView---A performant RDF Browser"
**Submitting author:** @KonradHoeffner (<a href="http://orcid.org/0000-0001-7358-3217">Konrad Höffner</a>)
**Repository:** https://github.com/konradhoeffner/rickview
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/065d32dd181c85089f7a81f7ddaf

[2022-07-06 12:07] editorialbot opened #4551 "[PRE REVIEW]: COINr: An R package for developing composite indicators"
**Submitting author:** @bluefoxr (<a href="http://orcid.org/0000-0002-6467-4472">William Becker</a>)
**Repository:** https://github.com/bluefoxr/COINr
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @jbytecode
**Reviewers:** @bauer-alex, @paulrougieux
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/187b1759658c96177f8d17f3b5

[2022-07-06 12:07] editorialbot opened #4552 "[PRE REVIEW]: MARTINI: The Little Match and Replace Tool for Automatic Code Rewriting"
**Submitting author:** @ajohnson-uoregon (<a href="http://orcid.org/0000-0002-7199-8221">Alister Johnson</a>)
**Repository:** https://github.com/ajohnson-uoregon/llvm-project/
**Branch with paper.md** (empty if default branch): joss22
**Version:** 0.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/81564dd8131da5401

[2022-07-06 12:09] danielskatz commented on #4550
@editorialbot check repository

[2022-07-06 12:09] danielskatz commented on #4550
@editorialbot set paper as branch

[2022-07-06 12:12] danielskatz commented on #4550
👋 @KonradHoeffner - Unfortunately, this is not currently suitable for review by JOSS.  It does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  It also is not clearly [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by

[2022-07-06 12:12] danielskatz commented on #4550
@editorialbot reject

[2022-07-06 12:14] danielskatz commented on #4551
👋 @bluefoxr - Thanks for your submission. While we find an editor for it, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. e

[2022-07-06 12:15] danielskatz commented on #4551
👋 @jbytecode - would you be able to edit this submission?

[2022-07-06 12:15] danielskatz commented on #4551
@editorialbot invite @jbytecode as editor

[2022-07-06 12:17] danielskatz commented on #4552
@ajohnson-uoregon - where is the JOSS paper (md and bib files)?  I don't see it in the joss22 branch?

[2022-07-06 12:27] vboussange commented on #4491
Hi everyone 👋
I am posting here my comments for the first round of review.

## General comments
### Reviewer summary
DAISIEmainland is a package that allows to simulate the evolutionary history of an island community, bringing more realism to the DAISIE model by simulating the evolutionary history of the mainland community.

### General comment
The package is well constructed, with a nice document

[2022-07-06 12:27] kno10 commented on #4183
@mikldk: I have archived a snapshot of the Rust and Python parts version 0.3.3 at Zenodo as:
Schubert, Erich, & Lenssen, Lars. (2022). Fast k-medoids Clustering in Rust and Python (0.3.3). Zenodo. https://doi.org/10.5281/zenodo.6802320
The version number is 0.3.3 (some small bug fixes were integrated, and the package is now automatically built for more architectures to make it easier to install).

[2022-07-06 13:08] simonpcouch commented on #4471
@editorialbot generate pdf

Updating with changes in response to https://github.com/tidymodels/stacks/issues/138 and https://github.com/tidymodels/stacks/issues/139!

[2022-07-06 13:33] marcosvital commented on #4375
Thank you, @brunomontezano! We will move on to the reviewing stage soon.

[2022-07-06 13:36] marcosvital commented on #4365
Hi again, @dsurujon and @ellessenne. Please let us know if you are still able to review this submission, and let me know if I can help you in any way.

[2022-07-06 13:39] k-doering-NOAA commented on #4536
Thank you @danielskatz and others - I will make changes to the ORCID, check the DOIs, and figure out why the paper isn't compiling within the next few days!

[2022-07-06 13:40] marcosvital commented on #4375
Dear @thodson-usgs, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review

[2022-07-06 14:01] dfm commented on #4476
@editorialbot assign me as editor

I'm happy to edit this submission!

@mattpitkin: I'm traveling for the next week, but I'll get some reviewers assigned as soon as possible and keep you posted.

[2022-07-06 14:12] max-little commented on #4534
Hi Francesco

Thanks for the comments. Now done. Specifically, I've provided more details for the more complex algorithms/functions in the package. For the rest, the existing comments are either self-explanatory, and/or the comments within the code are sufficiently explanatory in order for the functionality to be clear. Again, this follows from literate coding principles (which do clash somewhat w

[2022-07-06 14:18] simonpcouch commented on #4471
@editorialbot generate pdf

Thanks for that PR, @osorensen! Regenerating with those changes.

[2022-07-06 14:30] jbytecode commented on #4546
Dear @akbaritabar

This is the pre-review issue. In the pre-review issues we always do initial stuff and find suitable reviewers. After starting the review, a new thread will be created. In this review thread, a checklist with 20 reviewing items is created for each reviewer. The process is interactive, that is, the author(s), the reviewers, and the editor always interact, reviewers are welcome to

[2022-07-06 14:54] k-doering-NOAA commented on #4536
@editorialbot check references

[2022-07-06 14:54] VLucet commented on #4497
@editorialbot generate pdf

[2022-07-06 14:56] k-doering-NOAA commented on #4536
@editorialbot check references

[2022-07-06 14:56] VLucet commented on #4497
@Bisaloo I have fixed the reference. Let me know if I need to do anything else than generating the pdf with the bot.

[2022-07-06 14:58] k-doering-NOAA commented on #4536
@editorialbot generate pdf

[2022-07-06 15:24] osorensen commented on #4471
@editorialbot recommend-accept

[2022-07-06 15:34] danielskatz commented on #4471
@editorialbot accept

[2022-07-06 15:35] akbaritabar commented on #4546
Thanks for the description. I have done a review for JOSS previously and know the process. Thanks.

[2022-07-06 15:36] domschrei commented on #4535
Hi all, should I try and find another reviewer? Should we query one/some of the reviewers with the "Euro-Par 2022 Special Issue" note in the reviewers sheet?

[2022-07-06 15:38] danielskatz commented on #4535
Let's wait until I hear back from the organizers - we defined a process and I want to make sure we use it consistently or we change it.

[2022-07-06 15:41] danielskatz commented on #4471
Congratulations to @simonpcouch (Simon Couch) and co-author!!

And thanks to @mcavs and @rcannood for reviewing, and to @osorensen for editing!
We couldn't do this without you

[2022-07-06 15:41] #4471 closed

[2022-07-06 15:44] Nikoleta-v3 commented on #3743
Hey @bencardoen thank you so much for your review! Apologies for my late reply (I am currently at a workshop 💻 ).

No, I can see that you have ticked all the boxes on your list so that's all 😄 Thank you for your time once again 🙏🏻

@EgorOrachyov - I already have looked over the source code. I will have one final look at the paper at some point this week and see if there are any more minor things t

[2022-07-06 15:47] k-doering-NOAA commented on #4536
Potential reviewers: Ecosantos hvoltbb  EDiLD

[2022-07-06 16:00] bluefoxr commented on #4551
@editorialbot check references

[2022-07-06 16:01] bluefoxr commented on #4551
@editorialbot generate pdf

[2022-07-06 16:05] bluefoxr commented on #4551
@editorialbot commands

[2022-07-06 16:09] jbytecode commented on #4551
@editorialbot assign me as editor

@danielskatz of cource, gladly

[2022-07-06 16:12] jbytecode commented on #4551
@bluefoxr  - thank you for the submission. I am the handling editor. do you have suggestions for potential reviewers?

You can also use the list https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822 for potential reviewers that are registered before.

Please start your search from the very bottom of the list.

Please mention their usernames without

[2022-07-06 16:13] HVoltBb commented on #4497
Hi Hugo,

Yes, I can do that. When is the deadline?

On Wed, Jul 6, 2022 at 4:43 AM Hugo Gruson ***@***.***> wrote:

[2022-07-06 16:14] bluefoxr commented on #4551
Hi, I have looked over the list of reviewers. The package is especially relevant to policy, macroeconomics and social science so possible reviewers could be: mariacuellar, alletsee, bradweiner, lebebr01, fartist, chrisaberson

[2022-07-06 16:19] Bisaloo commented on #4497
There is no hard deadline. We usually aim at completing reviews in 3-4 weeks but it's flexible.

Please also note that we encourage a more interactive process than most journals. Ideally, the reviews should be a discussion with possible quite a lot of back and forth. This is useful to avoid getting stuck on a problem early on. Within this framework, you should feel free to have a short look whenev

[2022-07-06 16:23] simonom commented on #4326
Hiya,

In addition to Slayoo's points, I have two (possibly final, but definitely nearly final) points:

i) Inside the installation instructions on the README, I suggest a link to the conda website (to help users without conda get setup)

ii) Inside the Motivation section of the README, I suggest an edit to make the GitHub page more welcoming to users from outside the E3SM community (since gdess i

[2022-07-06 16:24] pbotros commented on #4520
@jedbrown great idea. Will add.

[2022-07-06 16:26] HVoltBb commented on #4497
I see. So I need to post my comments to this thread, instead of uploading
it to a traditional editorial management website, right?

[2022-07-06 16:36] Bisaloo commented on #4497
it to a traditional editorial management website, right?

Right. It's even better if you can open issues in the [project repository](https://github.com/pedersen-fisheries-lab/sspm) for each of your points. It's much easier to keep track progress that way.

[2022-07-06 16:45] mattpitkin commented on #4476
@dfm Thanks. Another potential reviewer in additional to those [listed above](https://github.com/openjournals/joss-reviews/issues/4476#issuecomment-1156238095) is jcbayley. I'm not sure if this would be perceived as a conflict of interest, but jcbayley has been involved in reviewing the code and paper internally for the LIGO-Virgo-KAGRA collaborations, so would already have a head start.

[2022-07-06 16:50] urban-fasel commented on #4211
@omtazi I forgot to add the community guidelines, I just added them to the readme!

[2022-07-06 16:56] jbytecode commented on #4551
👋👋👋 Dear @mariacuellar 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/open

[2022-07-06 16:57] jbytecode commented on #4551
👋👋👋 Dear @bradweiner 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/openjo

[2022-07-06 16:58] jbytecode commented on #4551
@editorialbot generate pdf

[2022-07-06 17:17] danielskatz commented on #4436
@martinfleis - this passed its scope review, so please proceed with it.

@jeffreyhanson - sorry for the delay.

[2022-07-06 17:27] pbotros commented on #4520
@editorialbot generate pdf

[2022-07-06 17:28] simonpcouch commented on #4471
Thanks, all! Much appreciated. :)

[2022-07-06 17:30] pbotros commented on #4520
@jedbrown added - hope it helps. Thanks!

[2022-07-06 17:58] jbytecode commented on #4551
@mariacuellar - thank you for the quick response.

[2022-07-06 18:00] jbytecode commented on #4551
👋👋👋 Dear @lebebr01 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/openjour

[2022-07-06 18:39] marekborowiec commented on #4193
Hi @Bisaloo.  There are still issues with installation. The README says it needs Python v3.6 or newer but I tried with a 3.6.2 installation and also a clean conda env with 3.6.15 and no luck, there is an issue with `from __future__ import annotations`. This statement won't work unless you have Python >3.7 and so the documentation is confusing on that point.  Also, the documentation states requirem

[2022-07-06 18:39] marekborowiec commented on #4193
Hi @arendsee please see my comments above.

[2022-07-06 19:09] KristinaRiemer commented on #4405
Thanks for making progress on your reviews @istfer & @dlebauer. Let me know if any of you need any help or have questions.

[2022-07-06 19:09] KristinaRiemer commented on #4030
Hi @hongyuanjia, just checking in again to see how the updates are going?

[2022-07-06 19:11] KristinaRiemer commented on #4536
@Kevin-Mattheus-Moerman my current submissions are going a bit slowly, but I can definitely edit this submission once one of those are done!

[2022-07-06 20:42] danielskatz commented on #4552
also @ajohnson-uoregon - can you explain what software is being submitted for review here (since this is a large complex repo overall) and how it's related to the larger llvm?

[2022-07-06 20:48] dlagrava commented on #4512
Hello all, I am on holidays until the end of July, so not much time in front of the computer, otherwise I would have gladly taken it. Thanks!

[2022-07-06 21:12] thodson-usgs commented on #4375
I have no experience with agent-based modeling, but I would be willing to provide a checklist-driven-common-sense review.
________________________________
From: Marcos Vital (LEQ-UFAL) ***@***.***>
Sent: Wednesday, July 6, 2022 8:40 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Hodson, Timothy O ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [openjournals/joss-reviews] [PRE REVIEW]

[2022-07-06 21:39] emdupre commented on #4484
Hi again @hvgazula and @TomDonoghue, I just wanted to check-in here since you haven't yet created your reviewer checklists 📋

Please let me know if you're encountering any issues in this process, or if you have a time window in which you expect to be able to work on this review !

[2022-07-06 22:11] ajohnson-uoregon commented on #4552
Oh yes, it's specifically the code in clang-tools-extra/clang-rewrite (plus a few minor modifications to the actual Clang code). clang-rewrite (aka MARTINI) uses Clang's AST matchers and rewriting infrastructure to implement an automatic code rewriting tool that uses "before-and-after" source code snippets as a rewrite specification. Most of the other rewriting tools built on Clang require users t

[2022-07-06 22:40] eloisabentivegna commented on #4173
@editorialbot set v2.1.0 as version

[2022-07-06 22:42] eloisabentivegna commented on #4173
@editorialbot set 10.5281/zenodo.6762607 as archive

[2022-07-06 22:43] eloisabentivegna commented on #4173
@editorialbot check references

[2022-07-06 22:43] eloisabentivegna commented on #4173
@editorialbot check pdf

[2022-07-06 23:21] bmcfee commented on #4541
@editorialbot add @dpwe as reviewer

[2022-07-07 06:54] chartgerink commented on #4451
Thanks @ayush4921 for clarifying. I wasn't aware that this was the syntax!

I will give the paper a final look now.

[2022-07-07 06:55] chartgerink commented on #4451
@editorialbot generate pdf

[2022-07-07 07:02] chartgerink commented on #4451
@ayush4921 one final revision looks necessary which I forgot to mention in my previous post (sorry for the back and forth).

Could you please fix the line overflows on page 2? Specifically this occurs on the following lines of the latest version

Line 41, 49, 50, 60, 61, 63.

This is primarily for production.

After this, I can approve and will then request you to archive your repository and share

[2022-07-07 07:14] ayush4921 commented on #4451
@chartgerink Thanks for pointing out the overflow errors. I have added linebreaks for fix them.

[2022-07-07 07:14] ayush4921 commented on #4451
@editorialbot generate pdf

[2022-07-07 07:46] chartgerink commented on #4451
@editorialbot check references

[2022-07-07 07:49] chartgerink commented on #4451
Perfect - thanks @ayush4921!

There is still the missing reference DOI, would you mind adding that?

After adding it you can go ahead and tag and archive your repository on for example Zenodo or FigShare. See also https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance for the steps.

Please let me know the DOI of the archived version of your repository and then I c

[2022-07-07 07:49] istfer commented on #4405
Hi @KristinaRiemer, @kauedesousa and @dlebauer,

I'm done with the first pass of the review checklist. The remaining issues (unchecked items) are mostly about the software paper itself and as follows:
1) Documentation: [a clear statement of need text is missing from the documentation](https://github.com/AgrDataSci/climatrends/issues/11)
2) [A section titled "Statement of need" is also missing in t

[2022-07-07 07:52] ayush4921 commented on #4451
@editorialbot check references

[2022-07-07 08:01] ayush4921 commented on #4451
@chartgerink 10.5281/zenodo.6805842 is the doi of the repository. Thanks, and regards.

[2022-07-07 08:02] ayush4921 commented on #4451
@chartgerink https://zenodo.org/record/6805842#.YsaS8HZBxPa is the link for the zenodo archive.

[2022-07-07 08:13] chartgerink commented on #4451
@editorialbot set 10.5281/zenodo.6805842 as archive.

[2022-07-07 08:13] chartgerink commented on #4451
@editorialbot recommend-accept

[2022-07-07 08:16] PeterKraus commented on #4528
Alright, this is quite an interesting software package. I've made a couple of issues on the project github, I will play around with the software over the next few days. @sgbaird, please let me know (here or in the issues) once you want me to have another look.

[2022-07-07 08:18] Solonets commented on #4521
Dear @Mirmix, thank you for your detailed review. We added much more extensive documentation and fixed some of the problems you mention. Would you be ready to check it out once again?

[2022-07-07 09:53] robchallen commented on #4525
@Kevin-Mattheus-Moerman just a quick note. I've been through the (somewhat tortuous) process of getting this library on CRAN. This required a minor rework of some of the functions, and documentation fixes, so I've bumped the version to 0.2.4 (which has a branch and release).

I don't know if that influences the additional scope review or not, bout thought you should be aware anyway.

[2022-07-07 09:56] ccaprani commented on #4404
Hi all,
Thank you so much for your valuable time and for the useful and constructive reviews. We've now released v0.2 with completion of the curved and multi-span meshes and a major update of the documentation.
@vsangelidakis thank you - we've updated the documentation now with more extensive description of these features. Those other pre-processors mentioned all address different domains. Further

[2022-07-07 10:11] vsangelidakis commented on #4404
Great, @ccaprani thank you for addressing all comments. @prashjha my review is complete.

[2022-07-07 11:34] jorgedch commented on #4517
@editorialbot generate my checklist

[2022-07-07 11:36] mikldk commented on #4183
@editorialbot set 10.5281/zenodo.6802320 as archive

[2022-07-07 11:39] mikldk commented on #4183
@editorialbot recommend-accept

[2022-07-07 11:48] n8thangreen commented on #4206
Hi @ajstewartlang, @volkerschmid
Has there been any progress with the review, please? Is there anything you'd like me to do? Thanks! N

[2022-07-07 12:17] editorialbot opened #4553 "[PRE REVIEW]: oxDNA: coarse-grained simulations of nucleic acids made simple"
**Submitting author:** @lorenzo-rovigatti (<a href="http://orcid.org/0000-0001-5017-2829">Lorenzo Rovigatti</a>)
**Repository:** https://github.com/lorenzo-rovigatti/oxDNA
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** v3.2.2
**Editor:** @ppxasjsm
**Reviewers:** @ptmerz, @ohenrich
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/paper

[2022-07-07 12:22] danielskatz commented on #4553
👋 @lorenzo-rovigatti - note that your paper does not compile.

The error includes "found a tab character that violate indentation while scanning a plain scalar at line 10 column 11"

Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). Please feel free to make changes to your .md file, then use the command `@editorialbot generate

[2022-07-07 12:22] danielskatz commented on #4553
@editorialbot check references

[2022-07-07 12:38] danielskatz commented on #4553
Also in the bib, I see a couple of places the authors include "and others" - can you please add all the authors in the bib file, and let the system figure out how many to list.

[2022-07-07 12:43] danielskatz commented on #4183
👋 Hi - I'm the AEiC working on finalizing the publication of this submission - I have one minor change in the paper in https://github.com/kno10/python-kmedoids/pull/15 that should be merged, then we can proceed.

[2022-07-07 12:45] danielskatz commented on #4519
👋 @thohamm - we do need a response from you - if we don't hear back in another week, we'll mark this submission as withdrawn.

[2022-07-07 12:47] danielskatz commented on #4520
👋 @gkthiruvathukal - Do you think you could edit this submission?

[2022-07-07 12:50] danielskatz commented on #4539
@editorialbot withdraw

[2022-07-07 12:53] danielskatz commented on #4451
Also in the bib, I see a couple of places the authors include "and others" - can you please add all the authors in the bib file, and let the system figure out how many to list.

[2022-07-07 12:58] jedbrown commented on #4544
@editorialbot assign @jedbrown as editor

[2022-07-07 13:27] lorenzo-rovigatti commented on #4553
@editorialbot generate pdf

[2022-07-07 13:35] danielskatz commented on #4553
@editorialbot check references

[2022-07-07 13:35] danielskatz commented on #4553
@lorenzo-rovigatti - I see a bunch of references (most of them) that are missing a space before them.

In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the

[2022-07-07 13:40] jorgedch commented on #4517
@stsievert

### Functionality

- [ ] **Installation:**

1. https://github.com/stsievert/salmon/issues/135

### Documentation

- [ ] **Automated tests:**

1. https://github.com/stsievert/salmon/issues/136

### Software paper

- [ ] **Quality of writing:**

1. https://github.com/stsievert/salmon/issues/137

- [ ] **References:**

1. https://github.com/stsievert/salmon/issues/138

[2022-07-07 13:53] bmcfee commented on #4541
@editorialbot add @hendriks73 as reviewer

[2022-07-07 13:54] editorialbot opened #4554 "[REVIEW]: Panako: a scalable audio search system"
**Submitting author:** @JorenSix (<a href="http://orcid.org/0000-0001-7671-1907">Joren Six</a>)
**Repository:** https://github.com/JorenSix/Panako
**Branch with paper.md** (empty if default branch):
**Version:** 2.1.0
**Editor:** @bmcfee
**Reviewers:** @dpwe, @hendriks73
**Archive:** 10.5281/zenodo.7185611

## Status

[![status](https://joss.theoj.org/papers/0e6e876325e6c0ea1c8fa024ff1c1b2c/status

[2022-07-07 13:54] #4541 closed

[2022-07-07 13:56] bmcfee commented on #4554
Note: reviewer @hendriks73 will be unavailable from 2022-07-20 to 2022-08-08, but I expect we can work around that.

[2022-07-07 14:17] danielskatz commented on #4482
👋 @chartgerink - do you think you would be able to edit this submission?

[2022-07-07 14:17] danielskatz commented on #4482
@editorialbot invite @chartgerink as editor

[2022-07-07 14:18] #4451 closed

[2022-07-07 14:22] TomDonoghue commented on #4484
@editorialbot generate my checklist

[2022-07-07 14:24] elbeejay commented on #4477
@editorialbot add @JosiahParry as reviewer

[2022-07-07 14:29] ayush4921 commented on #4451
Thank you @khinsen @danielskatz @chartgerink @VeroniqueLegrand and @kjappelbaum for all your valuable feedback. I am happy to say that my first manuscript was with JOSS.

[2022-07-07 14:34] ajstewartlang commented on #4206
@volkerschmid will you be able to complete your review of this submission please? If you can't, please let me know and I'll try and find an alternative reviewer.

[2022-07-07 15:12] kno10 commented on #4183
Thank you. Merged uppercasing Python.

[2022-07-07 15:14] danielskatz commented on #4183
@editorialbot accept

[2022-07-07 15:22] danielskatz commented on #4183
Congratulations to @kno10 (Erich Schubert) and co-author!!

And thanks to @timClicks and @TahiriNadia for reviewing, and to @mikldk for editing!
We couldn't do this without you

[2022-07-07 16:17] chryswoods commented on #4494
@hechth - I agree with @marshallmcdonnell that this is a great tool. Very clean code.

I agree with the suggestion of updating the presentation of the documentation on the readthedocs website. It can help to attract new users if they can see a general introduction plus some examples first. The API docs are useful, but tend to be something that someone will read after they have used the tool for lo

[2022-07-07 17:21] MorganWaddy commented on #4540
@danielskatz I would like to thank the JOSS editorial board for considering my paper. I want to request clarification on the editorial board's critiques of the software submission, and specifically what changes would it take to get this paper accepted if resubmitted. The primary function of barb is to be a standardized method of FRB rate event estimation. This measurement is critical within the st

[2022-07-07 17:43] danielskatz commented on #4540
The main issues are:

We saw the source lines of code  (Python) in the package as 516.  There are just 5 files in https://github.com/MorganWaddy/barb/tree/master/barb, with 3, 95, 106, 76, and 43 sloc each. While there is more code in tests and tutorials, it appears that barb is the core, and this is just 300-400 sloc.

Another issue was packaging - the README says to run two scripts manually but

[2022-07-07 17:52] Athene-ai commented on #4416
I am very delighted to review this paper

[2022-07-07 18:10] MorganWaddy commented on #4540
Thank you for the clarification, this is very helpful.

[2022-07-07 18:18] pibion commented on #3821
- line 16, reasearchs -> reasearchs
- line 31, developping -> developing

Simulations of AFBF have been particularly useful to evaluate methods devoted to the estimation of the features derived from the parameters of the AFBF, namely the topothesy and the Hurst functions.  Such features are important to characterize directional properties of the field and describe the image texture anisotropy. The

[2022-07-07 18:27] osorensen commented on #4470
@editorialbot start review

[2022-07-07 18:27] editorialbot opened #4555 "[REVIEW]: PyMedPhys: A community effort to develop an open standard library for Medical Physics in Python"
**Submitting author:** @Matthew-Jennings (<a href="http://orcid.org/0000-0002-1288-2683">Matthew Jennings</a>)
**Repository:** https://github.com/pymedphys/pymedphys
**Branch with paper.md** (empty if default branch):
**Version:** v0.39.2
**Editor:** @osorensen
**Reviewers:** @ProfLeao, @gbaltz
**Archive:** 10.5281/zenodo.7152450

## Status

[![status](https://joss.theoj.org/papers/2992a30f4268902

[2022-07-07 18:27] #4470 closed

[2022-07-07 18:54] eloisabentivegna commented on #4173
@editorialbot generate pdf

[2022-07-07 18:57] drvinceknight commented on #4543
@AldoGl would you be able to take a look at [this list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) and suggest a few that you feel would be a good fit to review this work? (Please don't `@` them, just let me know their handles :))

[2022-07-07 19:06] eloisabentivegna commented on #4173
Thanks @amoradinejad and co-authors for this nice submission, and @ziotom78 and @abhimaniyar for helping improving it even further. I am satisfied with the result, and am now going to recommend acceptance.

[2022-07-07 19:06] eloisabentivegna commented on #4173
@editorialbot accept

[2022-07-07 19:07] eloisabentivegna commented on #4173
@editorialbot recommend-accept

[2022-07-07 19:10] jbytecode commented on #4487
👋👋👋 Dear @Zitzeronion 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework**". You can find more information

[2022-07-07 19:25] danielskatz commented on #4173
Also, are bib entries MoradinezhadDizgah:2021dei and oradinezhadDizgah:2021 the same?  If so, can one be removed?

[2022-07-07 20:11] mbobra commented on #3331
@kthyng or @danielskatz Could one of you please advise here? This submission has been active since June 4, 2021.

[2022-07-07 20:13] danielskatz commented on #3331
What is the step you are waiting for?

[2022-07-07 20:20] mbobra commented on #4327
@editorialbot set v1.3.0 as version

[2022-07-07 20:22] mbobra commented on #4327
@editorialbot set 10.5281/zenodo.6800348 as archive

[2022-07-07 20:22] mbobra commented on #4327
@editorialbot recommend-accept

[2022-07-07 20:27] danielskatz commented on #4327
👋 @mcostasitja - I'm the AEiC who will handle the rest of the processing of your submission.  I'll proofread it and may send suggested changes fairly soon.

[2022-07-07 20:27] gkthiruvathukal commented on #4520
@danielskatz Yes!

[2022-07-07 20:30] gkthiruvathukal commented on #4520
@editorialbot assign @gkthiruvathukal as editor

[2022-07-07 20:30] mbobra commented on #3331
@danielskatz A reviewer asked the submitting author to implement some unit tests. We are waiting on that.

[2022-07-07 20:32] alstat commented on #4506
Hi @jbytecode, I'll pass, I don't have the expertise on differential equations. Thanks.

[2022-07-07 20:36] jbytecode commented on #4506
@alstat - thank you for the quick response!

[2022-07-07 20:37] marcsit commented on #4327
@danielskatz thanks! I'll be on top of it.

[2022-07-07 20:46] prashjha commented on #4299
@ixjlyons, the draft looks good. Please check the reference in line 34: there is an extra '--' after 'Jones et al., 2001'.

[2022-07-07 20:48] prashjha commented on #4299
@editorialbot set 10.5281/zenodo.6789504 as archive

[2022-07-07 20:48] prashjha commented on #4299
@editorialbot recommend-accept

[2022-07-07 20:49] prashjha commented on #4299
@ixjlyons, congratulations. I have recommended acceptance to EiC who will make the final decision.

@athulpg007, @aliaksei135, thank you both for your time and efforts in reviewing this submission. It is very much appreciated. :)

[2022-07-07 20:53] arfon commented on #4441
@editorialbot reject

[2022-07-07 20:53] #4441 closed

[2022-07-07 20:58] danielskatz commented on #4327
Suggested changes are in https://github.com/NASA-PDS/naif-pds4-bundler/pull/21 - please merge this, or let me know what you disagree with, then we can proceed.

[2022-07-07 21:02] marcsit commented on #4327
@danielskatz all the suggestions are excellent. Pull request merged.

[2022-07-07 21:04] danielskatz commented on #3331
How about setting a deadline of another month from now, and if not done by then, withdrawing and resubmitting is possible, but it would be better to use the current reviewers' work

[2022-07-07 21:05] danielskatz commented on #4327
@editorialbot recommend-accept

[2022-07-07 21:06] gkthiruvathukal commented on #4311
@jarrah42 Are you willing to contribute a review for this JOSS submission?

[2022-07-07 21:06] gkthiruvathukal commented on #4311
@kanirudh Are you willing to contribute a review for this JOSS submission?

[2022-07-07 21:07] danielskatz commented on #4327
@editorialbot accept

[2022-07-07 21:08] Zitzeronion commented on #4487
Hey @jbytecode & @tonyewong  👋

To be transparent, I haven't done a single review for **JOSS** yet, so it would be my first review.
That said, if you think that I am qualified, I wouldn't mind reviewing the package.

Let me know what you think 😃

[2022-07-07 21:09] gkthiruvathukal commented on #4485
@editorialbot assign @simon-lewis as reviewer

[2022-07-07 21:12] gkthiruvathukal commented on #4485
@erik-whiting are you willing to contribute a review for this JOSS submission?

[2022-07-07 21:13] danielskatz commented on #4299
@ixjlyons - I'm the AEiC this week, and working on the processing of your submission.  It all looks good, except I think that there are some small issue in the bib, as indicated in https://github.com/nasa/simupy-flight/pull/12 - If you can merge these (or let me know what you disagree with), we can continue the processing.

[2022-07-07 21:14] #4327 closed

[2022-07-07 21:19] erik-whiting commented on #4485
@gkthiruvathukal yes, let's do it. thanks @perdelt for the rec

[2022-07-07 21:23] marcsit commented on #4327
Thanks a lot to @danielskatz @danielskatz @SimonMolinsky @mbobra , this has been an excellent experience, much more thorough and rigorous than I expected and it has contributed to increase the quality of the package very much. I will definitively encourage my colleagues to submit papers to this amazing Journal.

[2022-07-07 21:26] danielskatz commented on #4327
You probably meant to mention @athulpg007 instead of me twice :)
But thanks for the nice words in any case

[2022-07-07 21:42] mbobra commented on #4327
Thank you both so very much for your thorough reviews, @athulpg007 and @SimonMolinsky! Your volunteer time keeps JOSS running and the JOSS team appreciates it very much ☀️

And congratulations on the acceptance @marcsit!

[2022-07-07 21:43] zhenwu0728 commented on #4506
Hi @jbytecode, sorry for the late reply. This package looks really interesting! I can take a look at this.

[2022-07-07 21:43] mbobra commented on #3331
@editorialbot remind @ashleychontos in one month

[2022-07-07 21:53] pbotros commented on #4520
Thanks @gkthiruvathukal ! Two good reviewers from the list look like agricolab and ixjlyons . If those don't work, let me know and I can seek others.

[2022-07-07 22:56] max-little commented on #4534
Hi Francesco

Do you have any further points to raise?

Best
Max

On Tue, 5 Jul 2022 at 23:42, Francesco Andreuzzi ***@***.***>
wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford Universit

[2022-07-07 23:08] PingjunChen commented on #4524
Thanks for the invitation. I will review it in the following 5 days.  @jmschrei

[2022-07-07 23:10] jarrah42 commented on #4311
Hi, unfortunately I’m reviewing for SC22 which is due end of July. I can take a look once that is done, or look at another one.

[2022-07-07 23:26] omalled commented on #4544
Thanks, @WilkAndy, for the quick feedback and I hope you get well soon! Here's my perspective:

1. The name is a little tough. In the early days, I called it a "subsurface flow simulator", then a "subsurface flow and transport simulator" after I added transport. Recently, I went with "subsurface physics simulator" to cover the wave equation simulator. I agree it could be seen as overly broad. Of c

[2022-07-07 23:33] WilkAndy commented on #4544
That all sounds good, @omalled .   I'm not sure about (1) !    I won't be able to download, test, play-with your code until next week, sorry, so won't complete my checklist till then.

[2022-07-07 23:37] danielskatz commented on #4299
@editorialbot recommend-accept

[2022-07-07 23:42] danielskatz commented on #4299
@editorialbot accept

[2022-07-07 23:53] tonyewong commented on #4487
Hello! Everyone has to do a first review at _some_ point, and I of course have no oppositions here. So, I leave it to @jbytecode 's editorial judgement.

[2022-07-07 23:59] danielskatz commented on #4299
Congratulations to @ixjlyons (Kenneth Lyons) and co-author!!

And thanks to @athulpg007 and @aliaksei135 for reviewing, and to @prashjha for editing!
We couldn't do this without you

[2022-07-07 23:59] #4299 closed

[2022-07-08 00:06] max-little commented on #4534
Hi Francesco

Thanks for your reply, some comments below:

On Fri, 8 Jul 2022 at 00:30, Francesco Andreuzzi ***@***.***>
wrote:

you what features/methods are available, you get a nice list of functions
in a side panel. You can also just type help(grapl.algorithms) in an
interactive Python shell, and get a clean list of the functionality,
because minimal docstrings are provided for all features.

[2022-07-08 00:55] max-little commented on #4534
Hi Francesco

I don't get that, to be honest. I think that, if the code is
well-structured, you shouldn't have that much difficulty in going from
e.g. Python to C++ as they are both imperative languages, albeit with
their own idiosyncrasies, although I agree you would struggle if it
were written in Haskell and you had no background in functional
programming at all. I think if you are asking code t

[2022-07-08 01:52] max-little commented on #4534
Another relevant example package would be this one:
https://gitlab.ruhr-uni-bochum.de/reichp2y/proppy

No docstrings at all on some of the major entry points (e.g. see simulation.run_simulation):
https://gitlab.ruhr-uni-bochum.de/reichp2y/proppy/-/blob/master/proppy/simulation.py
https://gitlab.ruhr-uni-bochum.de/reichp2y/proppy/-/blob/master/proppy/source.py

There is additional documentation, bu

[2022-07-08 02:02] gkthiruvathukal commented on #4311
@jarrah42 This works for me, actually. It's summer, so everyone expects a bit longer turnaround time.
May I assign you and check back in August?

[2022-07-08 02:51] stsievert commented on #4517
Salmon's documentation mentions an install process on Amazon AWS: https://docs.stsievert.com/salmon/installation.html#experimentalist. I've reached out to the reviewers (@hoechenberger, @stain, @jorgedch) to provide an Amazon AWS account so they can more easily verify that process works and because Amazon EC2 machines have a non-zero cost.

@ajstewartlang let me know if that violates any ethics ru

[2022-07-08 04:35] emdupre commented on #4368
Thank you, @kaczmarj and @a3sha2 ! Confirming that you've both signed off that the submission meets JOSS's publication requirements in its current form.

@Cadaei-Yuvxvs, I'm going to run a few additional checks to make sure that all of the editorial requirements are also met !

[2022-07-08 04:36] emdupre commented on #4368
@editorialbot check references

[2022-07-08 05:06] Vaibhavdixit02 commented on #4506
@editorialbot generate pdf

[2022-07-08 05:22] jbytecode commented on #4487
@editorialbot add @Zitzeronion as reviewer

@Zitzeronion - thank you for accepting our invitation

[2022-07-08 05:23] jbytecode commented on #4487
@editorialbot start review

[2022-07-08 05:23] editorialbot opened #4556 "[REVIEW]: MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework"
**Submitting author:** @tonyewong (<a href="http://orcid.org/0000-0002-7304-3883">Anthony Wong</a>)
**Repository:** https://github.com/raddleverse/MimiBRICK.jl
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @jbytecode
**Reviewers:** @Zitzeronion, @svchb
**Archive:** 10.5281/zenodo.7011156

## Status

[![status](https://joss.theoj.org/papers/0e0a2b8b9428ccf46394

[2022-07-08 05:23] #4487 closed

[2022-07-08 05:26] jbytecode commented on #4506
@editorialbot add @zhenwu0728 as reviewer

@zhenwu0728 - thank you for accepting our invitation. After assigning the second reviewer, the review will start in another thread.

[2022-07-08 05:29] jbytecode commented on #4556
Dear reviewers @tpoisot and @Zitzeronion,

This is the review thread. Please type

`@editorialbot generate my checklist`

to generate your task list. In this list, there are 20 review items. Whenever you complete a task, you can check off the corresponding check box.

You can always interact with the author(s), other reviewers, and the editor during the reviewing process. You can also open issues

[2022-07-08 05:46] sgbaird commented on #4528
@PeterKraus thanks for your feedback! I've addressed each of your comments for the [Software paper](https://github.com/sparks-baird/xtal2png/issues/144) and the [Documentation](https://github.com/sparks-baird/xtal2png/issues/146) issues. It's ready for a second look!

(p.s. I wasn't sure if I should be marking the tasks/checkboxes as done or not, so I left them unchecked)

[2022-07-08 06:48] Athene-ai commented on #4534
Hi all,

I think that it is quite tricky to understand how to move from Phyton to
C++.

Thus could be better explained

On Friday, 8 July 2022, max-little ***@***.***> wrote:

--
Daniela Cialfi, PhD

---------------------

Postdoctoral researcher
University "G.D'Annunzio" - Chieti Pescara
Viale Pindaro 42 - 65127 Pescara ( Italy )
Tel. +39 3930571128
Email: ***@***.***
<
https://webmail.unich.it/h

[2022-07-08 07:45] ajstewartlang commented on #4517
Thanks @stsievert - for the purpose of facilitating the review process, I'm comfortable with that. I'll assume that @hoechenberger, @stain, and @jorgedch are too unless I hear otherwise.

[2022-07-08 08:46] max-little commented on #4534
OK, thanks both.
So, it looks like the consensus is you would be satisfied with: expanded docstrings for *most* methods/functions?
Best,
Max

[2022-07-08 09:01] Athene-ai commented on #4534
yes
[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
07/08/22,
10:49:54 AM

On Fri, 8 Jul 2022 at 10:46, max-little ***@***.***> wrote:

[2022-07-08 10:24] QuentChangeat commented on #4456
Hi Valentin, I have started the review, special looks good. I have a few comments / suggestions:

1) It could be nice to have a higher level description, similar to the one in the accompanying paper, also at the beginning of the documentation.

2) The sources of the data does not seem to be stated in the documentation. Also, are the two provided files for CrA-9 in a standard format for the communi

[2022-07-08 10:34] enekomartinmartinez commented on #4329
Hi @pdebuyl
I was wondering if you have any updates about the revision status.
I am concerned about the summer break causing additional delays to the review.
Thank you!

[2022-07-08 10:41] jbytecode commented on #4546
👋👋👋 Dear @briatte 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**netrankr: An R package for total, partial, and probabilistic rankings in networks**". You can find more information at the top of this Github issue (ht

[2022-07-08 11:06] KonradHoeffner commented on #4550
@danielskatz: Thanks for the super quick review! To be honest I wanted to get the paper in the queue very early because I thought it would take a few weeks or months for it to be reviewed so that I had more time to polish both the paper and the software it in the meantime. Do you think it would be worth it to submit again after a heavy round of polish or does it not have a chance due to your defin

[2022-07-08 11:56] danielskatz commented on #4550
@KonradHoeffner - There's far too little code, and far too few commits to meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. A future version could be considered.

The paper and README would have to make the case for this being research software as well, if it is something that you can argue rese

[2022-07-08 12:06] editorialbot opened #4557 "[PRE REVIEW]: OT-Analysis : a software for rich analysis of force curves when probing living cells with optical tweezers"
**Submitting author:** @phpuech (<a href="http://orcid.org/0000-0002-8521-0685">pierre-henri puech</a>)
**Repository:** https://github.com/phpuech/OT_Analysis
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.86
**Editor:** @prashjha
**Reviewers:** @ryEllison, @florian-huber
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/f8789fc6c7457bf4b8

[2022-07-08 12:06] editorialbot opened #4558 "[PRE REVIEW]: leastsqtobayes: Bayesian outputs from least-squares fitting"
**Submitting author:** @danielhatton (<a href="http://orcid.org/0000-0002-4585-3336">Daniel Hatton</a>)
**Repository:** https://github.com/danielhatton/leastsqtobayes
**Branch with paper.md** (empty if default branch):
**Version:** v0.7
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/9fe9b8d53c60a0f6f563fd420171fe96/s

[2022-07-08 12:08] danielskatz commented on #4053
👋 @lrastaet, @asherp / @asher-pembroke - how does the new proof look?  Are we ready to publish?

[2022-07-08 12:08] danielskatz commented on #4173
👋 @amoradinejad - note that publication is almost done, and waiting on some actions from you above...

[2022-07-08 12:13] danielskatz commented on #4557
👋 @phpuech - thank you for your submission.  I see a number of small errors in the paper that could be fixed, .e.g.
* there should be no space before the ";" in the affiliations
* there's an extra ")" in the acknowledgements
* the English isn't quite idiomatic in some places
*
All of these can be fixed later, but if you want to address any of them now, please feel free to make changes to your .md

[2022-07-08 12:15] danielskatz commented on #4557
In addition, I am a little confused by the software - Is it used "live" in an experimental setting, or is it data analysis software that is used more separately from an experiment (either after or before)?  I'm sorry, but this is a field I don't know well.

[2022-07-08 12:20] danielskatz commented on #4558
@danielhatton - Please remove anything that is not used in this paper from your bib file.  This will help editorialbot processing and DOI checking to only have to work on references that are used in the paper.

In addition, the current line 24600 should be `pages="368--374",` - the range needs to be in {}s or "s...

Once you have have made these changes, then use the command `@editorialbot check r

[2022-07-08 13:35] ProfLeao commented on #4555
ok thanks.

[2022-07-08 14:04] elauksap commented on #4531
Hi @kyleniemeyer and @psanan!

I guess I completed my review of DMStag.

I was able to compile the software and to run the testsuite and the tutorials succesfully.

I marked all items in the checklist, including the Performance claims which do not apply in this case.

Being part of a large software (PETSc) the documentation of DMStag inherits parts such as installation instructions, community guid

[2022-07-08 14:33] phpuech commented on #4557
Hi
thanks a lot for your comments, I will check them carefully and have the MS reread by a native speaker.
The software is for data analysis and used after the experiment for processing the force curves we get from a dedicated optical tweezers set up. It allows us to extract relevant quantitative and qualitative information from the force vs. time traces, and produces a table as output, containing

[2022-07-08 14:36] sbenthall commented on #4270
@editorialbot set 10.5281/zenodo.6645297 as archive

[2022-07-08 14:37] sbenthall commented on #4270
@editorialbot set 2022061501 as version

[2022-07-08 14:37] sbenthall commented on #4270
Apologies @kasnder I've been traveling. Thanks for the nudge. I recommend this submission for acceptance.

[2022-07-08 14:38] sbenthall commented on #4270
@editorialbot recommend-accept

[2022-07-08 14:40] sbenthall commented on #4382
@ejikeugba Any progress in responding to @PhilipPallmann 's review? I see his checklist shows some requirements are missing.

[2022-07-08 14:47] rkurchin commented on #4528
(@sgbaird to clarify for you, the checklists are to be filled out by the reviewers, so leaving them unchecked was right 🙂 )

[2022-07-08 15:04] kasnder commented on #4270
@editorialbot generate pdf

[2022-07-08 15:10] danielskatz commented on #4270
@editorialbot recommend-accept

[2022-07-08 15:11] danielskatz commented on #4270
@kasnder - I'm the AEiC this week, and I'll now proofread your paper, and then let you know if any changes are needed before publishing

[2022-07-08 15:12] kasnder commented on #4270
Great, @danielskatz. Thanks for taking your time and being so swift!

[2022-07-08 15:33] kasnder commented on #4270
@editorialbot generate pdf

[2022-07-08 15:33] danielskatz commented on #4557
👋 @prashjha - I wonder if you might be able to edit this submission?

[2022-07-08 15:33] danielskatz commented on #4557
@editorialbot invite @prashjha as editor

[2022-07-08 15:35] editorialbot opened #4559 "[PRE REVIEW]: Fastsubtrees: simple and efficient subtrees extractions in Python with applications to NCBI taxonomy"
**Submitting author:** @ggonnella (<a href="http://orcid.org/0000-0003-3900-5397">Giorgio Gonnella</a>)
**Repository:** https://github.com/ggonnella/fastsubtrees
**Branch with paper.md** (empty if default branch): main
**Version:** 1.0
**Editor:** @kellyrowland
**Reviewers:** @vinisalazar, @KonradHoeffner
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/3937047

[2022-07-08 15:37] kasnder commented on #4270
@editorialbot generate pdf

[2022-07-08 15:37] kasnder commented on #4270
@danielskatz, looks good to me now!

[2022-07-08 15:38] danielskatz commented on #4559
Also, due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-07-08 15:41] danielskatz commented on #4270
@editorialbot accept

[2022-07-08 15:48] danielskatz commented on #4270
Congratulations to @kasnder (Konrad Kollnig) and co-author!!

And thanks to @gradvohl and @gcdeshpande for reviewing, and to @sbenthall for editing!
We couldn't do this without you

[2022-07-08 15:48] #4270 closed

[2022-07-08 16:07] ejikeugba commented on #4382
@sbenthall , thanks for asking. It is not so clear yet why those points are left unchecked without corresponding comments or questions from @PhilipPallmann . It could be that he hasn't yet finished with his review. On my end, I believe the requirements for the unchecked points are all satisfied. I suggest you draw his attention to this. An update on how his review is going will be helpful. Thanks

[2022-07-08 16:32] csadorf commented on #4480
The paper describes the Ipyannotator software, which is aimed at researchers who want to efficiently annotate images and still frames to train a supervised machine learning model for image and video classification.

The paper is written very well with only minor language errors and clearly outlines the architecture and design philosophy of the presented software.

There are however a a few issues

[2022-07-08 16:36] psanan commented on #4531
@elauksap Great to hear and thank you so much for your time and attention in reviewing our work!

[2022-07-08 16:44] danielskatz commented on #4480
Thanks @csadorf!

If you can say anything more about "The paper is written very well with only minor language errors", please do, either in a comment or in a PR to the paper.md file.  If not, I will also proofread the paper later in the process

[2022-07-08 17:06] PeterKraus commented on #4528
I'll have a look on Monday. Have a nice weekend!

[2022-07-08 17:18] danielskatz commented on #4558
@danielhatton - given the small number of commit and relatively small size of the software, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-07-08 17:18] danielskatz commented on #4558
@editorialbot query scope

[2022-07-08 17:19] dazhwu commented on #4416
Thank you so much!

[2022-07-08 17:23] Athene-ai commented on #4416
The pleasure is mine !

[2022-07-08 17:24] dpwe commented on #4554
@editorialbot generate my checklist

[2022-07-08 17:48] blakeaw commented on #4492
Hi, @dsbowen and @vissarion, I have completed my initial review. I don't have too much to add beyond what has already been raised by @nhejazi and @mattpitkin, but I went ahead and noted everything in the following issues:

- Documentation: https://gitlab.com/dsbowen/conditional-inference/-/issues/5
- Software paper: https://gitlab.com/dsbowen/conditional-inference/-/issues/6

[2022-07-08 18:02] dpwe commented on #4554
* Although the readme invites people to contribute to the project, there are no specific instructions on contributing.  I also didn't see any specific instructions on how to report issues, but I think using the GitHub issue tracker is implicit.
* The documentation claims the uniqueness of the functionality is that it's an available, open-source, large-scale audio fingerprinter *which tolerates tim

[2022-07-08 18:03] diehlpk commented on #4512
@dlagrava It would be OK, to start the review after your vacation in August.

[2022-07-08 18:03] ChrisRackauckas commented on #4466
No

[2022-07-08 18:09] draabe commented on #4464
@crvernon I was wondering if there was a general guideline on how to proceed with minor patches and additions to the package that occur (independently) while the review process is going on? There are a few tiny fixes we found and are currently also discussing the addition of some smaller complementary features and I'm a bit unsure on how to proceed. Thanks!

[2022-07-08 19:23] kellyrowland commented on #4468
@thchang yep, please work on suggested edits and then let us know here once you've addressed them. I'd say to go ahead with addressing the comments posted in the issue here already (as opposed to waiting from comments from both reviewers), and then address any further edits suggested by the second reviewer.

[2022-07-08 19:25] kellyrowland commented on #4249
hi @jessdtate 👋 checking in on any updates toward review completion if you have them.

[2022-07-08 19:42] jessdtate commented on #4249
Thanks for checking up @kellyrowland.  We are working on implementing the changes suggested by the reviewers.

Do we need to worry about paper length if we add a little more on other methods and software?

[2022-07-08 20:02] ibayer commented on #4480
Thanks for the feedback!

We have been following a Private Development, Public Releases workflow[0]. The downside of this approach is that
the number of commits https://github.com/openjournals/joss-reviews/issues/4318#issuecomment-1110934810 as well as individual contributions can't be deduced from the git history.

All authors have contributed code, but  @itepifanio has written by far the majorit

[2022-07-08 20:14] jbytecode commented on #4546
👋👋👋 Dear @jankatins 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**netrankr: An R package for total, partial, and probabilistic rankings in networks**". You can find more information at the top of this Github issue (

[2022-07-08 20:15] jbytecode commented on #4506
👋👋👋 Dear @mkitti 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**GlobalSensitivity.jl: julia package for performant global sensitivity analysis**". You can find more information at the top of this Github issue (https:

[2022-07-08 20:18] jbytecode commented on #4551
👋👋👋 Dear @fartist 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/openjourn

[2022-07-08 20:33] gflofst commented on #4458
@vsoch I do not see any automated testing support. That is the only thing that might be missing as far as I can see.

[2022-07-08 21:00] vsoch commented on #4458
We do have automated tests! They are run via GitHub workflows:

 - [test-action](https://github.com/vsoch/citelang/blob/main/.github/workflows/test-action.yml) tests the GitHub actions provided, which also means testing the underlying badge, contrib, and gen commands
 - [main](https://github.com/vsoch/citelang/blob/main/.github/workflows/main.yml) has linting (black and pyflakes) along with runing

[2022-07-08 21:45] jedbrown commented on #4544
Thanks @WilkAndy. Wishing you a speedy recovery. Your timeline is entirely fine.

[2022-07-08 21:52] jedbrown commented on #4544
@editorialbot add @WilkAndy as reviewer
@editorialbot add @rezgarshakeri as reviewer
@editorialbot add @rtmills as reviewer

[2022-07-08 21:55] jedbrown commented on #4544
Ah, I need to issue one command at a time.

@editorialbot add @rezgarshakeri as reviewer

[2022-07-08 21:55] jedbrown commented on #4544
@editorialbot add @rtmills as reviewer

[2022-07-08 21:56] jedbrown commented on #4544
@editorialbot add @rezgarshakeri as reviewer

[2022-07-08 21:56] jedbrown commented on #4544
@editorialbot start review

[2022-07-08 21:56] editorialbot opened #4560 "[REVIEW]: DPFEHM: a differentiable subsurface physics simulator"
**Submitting author:** @omalled (<a href="http://orcid.org/0000-0003-0432-3088">Daniel O&#39;Malley</a>)
**Repository:** https://github.com/OrchardLANL/DPFEHM.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.1
**Editor:** @jedbrown
**Reviewers:** @WilkAndy, @rtmills, @rezgarshakeri
**Archive:** 10.5281/zenodo.8329952

## Status

[![status](https://joss.theoj.org/papers/8d7a

[2022-07-08 21:56] #4544 closed

[2022-07-08 21:59] jedbrown commented on #4560
@WilkAndy @rezgarshakeri @rtmills :wave: Welcome to JOSS and thanks for agreeing to review! The comments from @editorialbot above outline the review process, which takes place in this thread (possibly with issues filed in the DPFEHM repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to he

[2022-07-08 22:08] omalled commented on #4560
BTW, I added a [GitHub action to run the tests](https://github.com/OrchardLANL/DPFEHM.jl/actions/runs/2632551544).

[2022-07-08 22:29] gflofst commented on #4458
That is excellent. If you could copy and lightly edit that into the installation instructions, it'll be 100% complete.

[2022-07-08 22:30] vsoch commented on #4458
Will do - probably first thing after the work day. Ty!

[2022-07-08 23:21] SimonBiggs commented on #4555
Hi @ProfLeao,

I don't we need to edit that guidance component of the original license file. Instead, we just make sure to include that boilerplate at the top of each source file:

https://github.com/pymedphys/pymedphys/blob/main/lib/pymedphys/__main__.py#L1-L13

[2022-07-08 23:21] vsoch commented on #4458
okay all set! Added a new test section: https://vsoch.github.io/citelang/getting_started/installation.html#testing

[2022-07-09 00:27] gflofst commented on #4458
This looks great! All requirements are passed for me.

[2022-07-09 03:01] ma-sadeghi commented on #4289
@rkurchin Yes, I'd be happy to.

[2022-07-09 05:03] athulpg007 commented on #4327
Congrats @marcsit :tada:

[2022-07-09 05:50] dsbowen commented on #4492
@nhejazi, @mattpitkin, and @blakeaw, thank you very much for your reviews! I changed the package and documentation based on your reviews, and I think they're much better for it. Please let me know if you have more changes you'd like to see.

[2022-07-09 05:51] dsbowen commented on #4492
@editorialbot generate pdf

[2022-07-09 08:26] ggonnella commented on #4559
@editorialbot check references

[2022-07-09 08:26] ggonnella commented on #4559
@editorialbot generate pdf

[2022-07-09 08:35] ggonnella commented on #4559
OK. Please note that an additional part of the software described in the paper (which synchronises the local copy of the NCBI taxonomy tree) was developed into a different repository (ntmirror), also cited in the paper. This was done since the two parts can be employed also separately.

This is the output of cloc on the ntmirror repository:

github.com/AlDanial/cloc v 1.94  T=0.02 s (1591.9 files/

[2022-07-09 08:49] krachyon commented on #4508
@editorialbot generate my checklist

[2022-07-09 09:17] ggonnella commented on #4559
@editorialbot commands

[2022-07-09 09:18] ggonnella commented on #4559
@editorialbot check repository

[2022-07-09 09:18] ggonnella commented on #4559
@editorialbot generate pdf

[2022-07-09 09:21] ggonnella commented on #4559
@danielskatz OK. Please note that an additional part of the software described in the paper (which synchronises the local copy of the NCBI taxonomy tree, optionally loads into a database and allows for hierarchical SQL queries, which were used in the paper as a reference benchmark) was developed into a different repository (https://github.com/ggonnella/ntmirror), also cited in the paper. This was

[2022-07-09 09:25] krachyon commented on #4508
👍

Not blaming you, I've also been annoyed by the amount of warnings you get from astropy for when you do anything with fits-io. It seems usually possible, if finicky,  to write specific enough filters so that you don't silence anything unexpected https://docs.python.org/3/library/warnings.html#warning-filter. My personal priority would be to keep the test output as clean as possible, but it's you

[2022-07-09 10:24] xuanxu commented on #4461
@editorialbot generate pdf

[2022-07-09 12:51] jhidalgocarrio commented on #4521
@editorialbot generate my checklist

[2022-07-09 13:42] storyetfall commented on #4506
Sorry for the vagueness. Indeed -- I am happy to take a look.

[2022-07-09 13:47] jbytecode commented on #4506
@editorialbot add @storyetfall as reviewer

[2022-07-09 13:48] jbytecode commented on #4506
@editorialbot start review

[2022-07-09 13:48] editorialbot opened #4561 "[REVIEW]: GlobalSensitivity.jl: julia package for performant global sensitivity analysis"
**Submitting author:** @Vaibhavdixit02 (<a href="http://orcid.org/0000-0001-7763-2717">Vaibhav Dixit</a>)
**Repository:** https://github.com/SciML/GlobalSensitivity.jl
**Branch with paper.md** (empty if default branch):
**Version:** v2.1.1
**Editor:** @jbytecode
**Reviewers:** @zhenwu0728, @storyetfall
**Archive:** 10.5281/zenodo.6993162

## Status

[![status](https://joss.theoj.org/papers/aaa43a6

[2022-07-09 13:48] #4506 closed

[2022-07-09 13:51] jbytecode commented on #4561
Dear reviewers @zhenwu0728 and @storyetfall,

This is the review thread. Please type

`@editorialbot generate my checklist`

to generate your task list. In this list, there are 20 review items. Whenever you complete a task, you can check off the corresponding check box.

You can always interact with the author(s), other reviewers, and the editor during the reviewing process. You can also open issu

[2022-07-09 15:40] amoradinejad commented on #4173
Yes, the two entries are the same. One is now removed.

[2022-07-09 15:41] amoradinejad commented on #4173
I accepted the merge request. All looks good to me. I updated the journal name to have full names.

[2022-07-09 16:35] osorensen commented on #4181
@blind-contours, could you please update us on how it is going addressing the issues opened by the reviewers? It would also be nice if you could give an approximate estimate of how long you expect it will take to resolve the issues.

[2022-07-09 17:17] arfon commented on #4173
@editorialbot recommend-accept

[2022-07-09 17:20] arfon commented on #4173
@editorialbot accept

[2022-07-09 17:28] arfon commented on #4173
@amoradinejad – could you please merge this PR which fixes an issue with the first author name? https://github.com/amoradinejad/limHaloPT/pull/19

[2022-07-09 17:29] amoradinejad commented on #4173
Merge request accepted.

[2022-07-09 19:32] bonh commented on #4289
@rkurchin The package sounds great and I would enjoy reviewing it but I have to take it slow. If that's okay for you I'm in!

[2022-07-09 20:42] jhidalgocarrio commented on #4521
Thanks to the Authors for this contribution. I reviewed the installation process

### Building DSOPP

#### Installing python dependencies

`pip3 -r requirements.txt`  this command is missing the install option. PR [here](https://github.com/RoadlyInc/DSOPP/pull/11)

#### Build

Using the `virtualenv` on Ubuntu 18.04
[code]
build stops here:
[code]

Scrolling up I see two errors:

[code]

[code]

[2022-07-09 20:48] arfon commented on #4173
@editorialbot re-accept

[2022-07-09 20:49] arfon commented on #4173
@editorialbot reaccept

[2022-07-09 21:11] ronshnapp commented on #4398
Hi @jgostick, I wanted to ask if there is any status update on the paper?

[2022-07-09 21:15] Nikoleta-v3 commented on #3743
@EgorOrachyov thank you for your patience. There are a few typos in the paper. I believe I've picked them all up (see below).

Another minor comment I have is regarding the figures. The numbers (the memory consumption) are not always easy to see. Could you maybe use a bold font?

### Typos
#### Summary

- as **a** stand-alone self-sufficient

#### Statement of need

-  to leverage a set of ~a~ pow

[2022-07-09 21:21] arfon commented on #4173
@xuanxu @tarleb – there was an error when publishing this paper (when the author name was written as follows: https://raw.githubusercontent.com/amoradinejad/limHaloPT/262d3fae1c5478e107491b0d462300e7ee107657/Paper/paper.md)

This resulted in the following output on the JOSS site:

<img width="302" alt="Screenshot 2022-07-09 at 22 15 45" src="https://user-images.githubusercontent.com/4483/178122990

[2022-07-09 21:50] jgostick commented on #4398
Other reviewer's gone awol and have not been able to find a replacement.

[2022-07-09 21:50] jgostick commented on #4398
@leahmendelson, great work and thanks so much for your time.  You're all done.

[2022-07-09 21:52] jgostick commented on #4397
Thanks @daguiam for your review! @RBrearton, I think you have somethings to work on the keep you busy?  I assume all is progressing well?

[2022-07-09 21:53] jgostick commented on #4398
@editorialbot remove @quynhneo as reviewer

[2022-07-09 21:53] jgostick commented on #4398
@editorialbot add @jgostick as reviewer

[2022-07-09 21:53] jgostick commented on #4398
@editorialbot generate my checklist

[2022-07-10 01:22] zhenwu0728 commented on #4561
@editorialbot generate my checklist

[2022-07-10 03:11] andrew-f-murphy commented on #3632
No worries, I am now away for a while but @drcandacemakedamoore will be around

[2022-07-10 04:12] ashleychontos commented on #3331
My sincerest apologies @mbobra -- I somehow missed this.

I am defending my PhD in a week so things have been a bit overwhelming. I really appreciate all your patience as well as the extra bump in time. This will be the absolute **_first_** thing I address once the defense is finished. Thank you again!

[2022-07-10 06:22] milnus commented on #4369
Thanks for the suggestions and Zenodo guide, @majensen.
The doi provided by Zenodo is: 10.5281/zenodo.6814768

[2022-07-10 08:52] SimonMolinsky commented on #4327
Congratulations @marcsit , It's great to see your work published!

[2022-07-10 10:29] xuanxu commented on #4173
I think the error happens in the Ruby code parsing names, currently is not accepting the same keys as Inara.
I'll fix it and release a new version of the Theoj gem.

[2022-07-10 15:47] thohamm commented on #4519
Thank you for your comments. We are working on them.

[2022-07-10 16:05] brunomontezano commented on #4545
@editorialbot generate my checklist

[2022-07-10 18:11] danielhatton commented on #4558
On 8 July 2022 13:21:02 BST, "Daniel S. Katz" ***@***.***> wrote:
***@***.*** - Please remove anything that is not used in this paper from your bib file.

OK.  Should I also do the same for `README.bib` in the root directory of the repository?  It seems to be confusing editorialbot's automated calculation of how much of the code is in which language.

--

Kind regards,

Dan Hatton

[2022-07-10 18:14] danielhatton commented on #4558
On 8 July 2022 18:18:21 BST, "Daniel S. Katz" ***@***.***> wrote:
***@***.*** - given the small number of commit and relatively small size of the software, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

Understood, th

[2022-07-10 20:00] danielhatton commented on #4558
@editorialbot check references

[2022-07-10 20:02] danielhatton commented on #4558
@editorialbot generate pdf

[2022-07-10 20:14] storyetfall commented on #4561
@editorialbot generate my checklist

[2022-07-11 00:33] mmtn commented on #4441
Hi all, thanks for your time in considering our work. I understand your concerns that I can't commit sufficient time to active development of the project. The repo will remain public and will hopefully be a useful tool to someone in the future.

[2022-07-11 01:16] danielskatz commented on #4558
I'm not sure what README.md and README.bib are for in this case.  JOSS isn't using them.

[2022-07-11 01:18] danielskatz commented on #4529
Thanks to @azoitl for agreeing to review.  We'll also need one more reviewer, and I'm awaiting a response from the EuroPar team about this.  But I'll add you now, and once we get the second reviewer, we'll actually be able start the review.

[2022-07-11 01:18] danielskatz commented on #4529
@editorialbot add @azoitl as reviewer

[2022-07-11 01:47] WilkAndy commented on #4560
@editorialbot generate my checklist

[2022-07-11 01:53] WilkAndy commented on #4560
Cannot confirm contributions of Wu Hao and Dylan Harp

[2022-07-11 04:20] taless474 commented on #4493
@Athene-ai, @sara-02 how is the review going?

[2022-07-11 05:41] adi3 commented on #3527
@malmaud @rMassimiliano checking back on your progress on this. Please shoot me an update. Alternatively, if you are no longer able to handle this submission, please nominate someone from the reviewers list who can take your spot. Thanks for your help!

[2022-07-11 05:42] adi3 commented on #4071
@Rehablab I'm of the opinion that you withdraw this submission and resubmit it at a later date when you have all your ducks in order. Would that work for you? Please send me an update within two weeks, beyond which I'll proceed with the archival. Thanks!

[2022-07-11 05:55] WilkAndy commented on #4560
@omalled - is it true that the code coverage is about 50%?

[2022-07-11 07:24] dandavies99 commented on #4528
@editorialbot generate my checklist

[2022-07-11 08:06] temuller commented on #4508
I have found that with astropy warnings (https://docs.astropy.org/en/stable/warnings.html), one can filter some of these annoying warnings coming from the header. However, as I said, this might not catch some future deprecation warnings. I'll try this for some time and see how it goes. This is already implemented in my developer branch, so I will proceed to merge it.

[2022-07-11 08:29] dandavies99 commented on #4528
Hi @sgbaird, this software is looking great. @PeterKraus - thanks for getting there first and carrying out such a thorough review! You've covered almost all of the main points I spotted already. I'll update comments in this thread and open specific issues as I go through the checklist. A few initial minor points from me (apologies if these are already being addressed in separate issues):

# Instal

[2022-07-11 09:03] lucydot commented on #4547
@editorialbot assign me as editor

[2022-07-11 09:04] ellessenne commented on #4365
@editorialbot generate my checklist

[2022-07-11 09:24] chartgerink commented on #4416
@editorialbot add @Athene-ai as reviewer

Thanks @Athene-ai for helping in this process - much appreciated 🙏

You can comment on this thread with `@editorialbot generate my checklist` and your checklist will be generated 😊

[2022-07-11 09:25] chartgerink commented on #4416
Thanks for respecting your own boundaries and letting us know you're unavailable! All the best :)

[2022-07-11 09:48] RomainAzais commented on #4416
Hello @chartgerink
Thank you for considering me as a potential reviewer of this paper.
Unfortunately, I won't be available before mid-September for this kind of task.
Best regards

[2022-07-11 10:15] AldoGl commented on #4543
Dear @drvinceknight,

I had a look at the list you sent me. I found the following people who are experienced in Python and who work on computational economics and simulation methods. They could be particularly interested and suited to review our work, and the highlighted names seem the best candidates

- **rickecon**
- **igarizio**
- Athene-ai
- seyhunsaral

Alternatively, I also identified people

[2022-07-11 10:25] ellessenne commented on #4365
Hi @marcosvital and @corentin-dev, sorry for the slow response.
I have created a checklist, which I will keep updated as the review progresses; my comments to the authors are below:

* The `DESCRIPTION` file for the R package only refers to a generic GPL license; my understanding is that CRAN requires either GPL-2 or GPL-3 (see [here](https://cran.r-project.org/web/licenses/)), so GPL is automatic

[2022-07-11 10:32] lschwetlick commented on #4416
Hello @chartgerink ,
thank you for the invitation to review. Unfortunately, I will not be able to help. Since to topic is not very close to my own expertise, it would require a lot of additional research to be able to review appropriately and I have a busy few weeks with little time ahead of me.
All the best,
Lisa

[2022-07-11 11:10] lucydot commented on #4333
@jonathanHuwP @JoannaLeng  please see the comment from CFGrote above - could you update us on any progress?

[2022-07-11 11:17] jbytecode commented on #4551
👋👋👋 Dear @chrisaberson 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/open

[2022-07-11 11:18] jbytecode commented on #4551
@bluefoxr - do you have more suggestions for potential reviewers?

[2022-07-11 11:19] jbytecode commented on #4546
@schochastics - do you have more suggestions for potential reviewers?

[2022-07-11 11:23] marcosvital commented on #4365
No problem, @ellessenne, and thank you for your contribution.

[2022-07-11 11:39] chartgerink commented on #4482
@editorialbot assign @chartgerink as editor

[2022-07-11 11:51] chartgerink commented on #4482
Dear @jmlondon, @ianjonsen, @bmcclintock - might one/some of you be interested to review this paper on dynamic panel modeling?

Find [the paper on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04482/joss.04482/10.21105.joss.04482.pdf), and [the source code](https://github.com/FlukeAndFeather/rstickleback) as well.

I would greatly appreciate any help you could provide in reviewing

[2022-07-11 11:52] schochastics commented on #4546
ccamara

I could also contact some of the already mentioned once who I know better outside github if that helps?

[2022-07-11 11:52] chartgerink commented on #4482
Dear @jmlondon, @ianjonsen, @bmcclintock - might one/some of you be interested to review this paper on bio-logging using machine learning?

Find [the paper on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04482/joss.04482/10.21105.joss.04482.pdf), and [the source code](https://github.com/FlukeAndFeather/rstickleback) as well.

I would greatly appreciate any help you could provide i

[2022-07-11 11:55] jbytecode commented on #4546
@schochastics - of course, but the reviewers should have a GitHub account.

[2022-07-11 11:56] jbytecode commented on #4546
👋👋👋 Dear @ccamara 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**netrankr: An R package for total, partial, and probabilistic rankings in networks**". You can find more information at the top of this Github issue (ht

[2022-07-11 12:06] marcosvital commented on #4375
Hi, @thodson-usgs! Since we will have three different reviewers for this submission, it's fine if you have no experience with this theme. I'll add you as a reviewer.

[2022-07-11 12:06] marcosvital commented on #4375
@editorialbot add @thodson-usgs  as reviewer

[2022-07-11 12:07] marcosvital commented on #4375
@editorialbot add @thodson-usgs as reviewer

[2022-07-11 12:08] marcosvital commented on #4375
@editorialbot start review

[2022-07-11 12:08] editorialbot opened #4562 "[REVIEW]: villager: A framework for designing and executing agent-based models in R"
**Submitting author:** @thomasthelen (<a href="http://orcid.org/0000-0002-1756-2128">Thomas Thelen</a>)
**Repository:** https://github.com/zizroc/villager
**Branch with paper.md** (empty if default branch): paper
**Version:** 1.2.1
**Editor:** @marcosvital
**Reviewers:** @chrisaberson, @brunomontezano, @thodson-usgs
**Archive:** 10.5281/zenodo.6972383

## Status

[![status](https://joss.theoj.org/

[2022-07-11 12:08] #4375 closed

[2022-07-11 12:12] marcosvital commented on #4562
Dear @chrisaberson, @brunomontezano and @thodson-usgs, thank you again for accepting review this submission for JOSS. The reviewing process is checklist based, and instructions were already posted above by the editorial bot - but let me know if you need any assistance, ok? Also, you can tag @ThomasThelen if you have specific questions about the manuscript.

@ThomasThelen, you can tag any of your c

[2022-07-11 12:27] vissarion commented on #4492
Thanks @dsbowen for addressing the issues, thanks @nhejazi, @mattpitkin, and @blakeaw for the reviews.
To reviewers: if you find some issue covered please close it and also please check out the remaining boxes in your list if you find that the requirements are met now otherwise please comment on this.

[2022-07-11 12:28] ProfLeao commented on #4555
Hello @SimonBiggs .  Thanks for the clarification.  Today I will continue to study the software, I will let you know if any other questions arise.

[2022-07-11 12:42] briatte commented on #4546
Yes, no problem.

[2022-07-11 12:45] jbytecode commented on #4546
@editorialbot add @briatte as reviewer

[2022-07-11 12:47] jbytecode commented on #4546
Thanks @akbaritabar and @briatte

The review will start in a new issue (thread).

I will give some instructions there.

[2022-07-11 12:48] jbytecode commented on #4546
@editorialbot start review

[2022-07-11 12:48] editorialbot opened #4563 "[REVIEW]: netrankr: An R package for total, partial, and probabilistic rankings in networks"
**Submitting author:** @schochastics (<a href="http://orcid.org/0000-0003-2952-4812">David Schoch</a>)
**Repository:** https://github.com/schochastics/netrankr
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.0
**Editor:** @jbytecode
**Reviewers:** @akbaritabar, @corybrunson
**Archive:** 10.5281/zenodo.7109041

## Status

[![status](https://joss.theoj.org/papers/783172689e7dbf

[2022-07-11 12:48] #4546 closed

[2022-07-11 12:51] jbytecode commented on #4563
Dear reviewers @akbaritabar and @briatte

This is the review thread. Please type

`@editorialbot generate my checklist`

to generate your task list. In this list, there are 20 review items. Whenever you complete a task, you can check off the corresponding check box.

You can always interact with the author(s), other reviewers, and the editor during the reviewing process. You can also open issues i

[2022-07-11 12:52] PeterKraus commented on #4528
@editorialbot generate pdf

[2022-07-11 12:54] mtreinish commented on #3968
@boothby for me obviously not renaming the library would be the best, because trying to manage compatibly and a migration of our existing user base is a lot of effort (it's not exactly small either). But, yeah if you request we rename the library I was thinking something like `rustworkx` or some other name where we can preserve the `rx` shortcut to hopefully ease that transition for people.

[2022-07-11 13:31] PeterKraus commented on #4528
Looks really great. I'll give the paper another read, and I have a few crystal structures that I'd like to test out, but apart from that I'm more than happy.

[2022-07-11 13:36] akbaritabar commented on #4563
@editorialbot generate my checklist

[2022-07-11 13:57] ianjonsen commented on #4482
Sorry @chartgerink, am over-subscribed this month and on leave for August. Aside from my two excellent colleagues above, I can also recommend @chfleming and @rociojoo.

Best, ij

[2022-07-11 14:01] christinahedges commented on #4483
@lwang-astro and @rieder, this is a gentle check in to see how you're going with your review. It seems like you are both started and working on the review, please reach out if you need anything or have any questions.

[2022-07-11 14:02] christinahedges commented on #4475
@alexandergagliano, @sloneil it seems like you haven't been able to start the review yet, and we kicked off the review close to 4 weeks ago. Can you check in and let us know how you're getting on?

[2022-07-11 14:14] bluefoxr commented on #4551
@jbytecode I could suggest "paulrougieux" (not registered at JOSS I think but well familiar with R). I'll try to think of some others

[2022-07-11 14:15] Kevin-Mattheus-Moerman commented on #4478
@editorialbot start review

[2022-07-11 14:15] editorialbot opened #4564 "[REVIEW]: Pycrostates: a Python library to study EEG microstates"
**Submitting author:** @vferat (<a href="http://orcid.org/0000-0003-1952-7657">Victor Férat</a>)
**Repository:** https://github.com/vferat/pycrostates
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @AJQuinn, @vahid-sb, @tuliofalmeida, @anshu-97
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/be7e10

[2022-07-11 14:15] #4478 closed

[2022-07-11 14:18] Kevin-Mattheus-Moerman commented on #4564
@AJQuinn, @vahid-sb, @tuliofalmeida, @anshu-97 (@DominiqueMakowski) thanks for your help with this review! This is where the review will take place. Please see the instructions above :point_up: which will also tell you how to create a checklist which will guide you through the review process.

Thanks again for your help!!!

[2022-07-11 14:19] jbytecode commented on #4551
👋👋👋 Dear @paulrougieux    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**COINr: An R package for developing composite indicators**". You can find more information at the top of this Github issue (https://github.com/o

[2022-07-11 14:23] danielskatz commented on #4552
Thanks to @Tokuso for agreeing to review. We'll also need one more reviewer, and I'm awaiting a response from the EuroPar team about this. But I'll add you now, and once we get the second reviewer, we'll actually be able start the review.

[2022-07-11 14:24] danielskatz commented on #4552
@editorialbot add @Tokuso as reviewer

[2022-07-11 15:08] dandavies99 commented on #4528
From my side, once the minor points I've mentioned above are addressed I will tick off Installation and Functionality. Other than that, I'm also happy and look forward to seeing this package in action - I'm sure it'll be very widely used.

[2022-07-11 15:15] jbytecode commented on #4506
@mkitti - thank you for the response and checking, we have found suitable reviewers and started the review.

[2022-07-11 15:17] thodson-usgs commented on #4562
@editorialbot generate my checklist

[2022-07-11 15:26] Bisaloo commented on #4497
@HVoltBb, with this information in mind, can I officially add you to the list of reviewers?

[2022-07-11 15:32] Bisaloo commented on #4497
Hi @haddonm :wave:, I found your profile via your work on the ["Using R for Modelling and Quantitative Methods in Fisheries book"](https://haddonm.github.io/URMQMF/).

Would you be interested in reviewing this [R package](https://github.com/pedersen-fisheries-lab/sspm) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04497/joss.04497/10.21105.joss.04497.pd

[2022-07-11 15:41] brunomontezano commented on #4562
@editorialbot generate my checklost

[2022-07-11 15:42] brunomontezano commented on #4562
@editorialbot generate my checklist

[2022-07-11 15:50] danielskatz commented on #4552
@ajohnson-uoregon - I've chatted with @xuanxu about this (the JOSS workflow not working for this repo) and he suggests:

[2022-07-11 15:54] rkurchin commented on #4289
@editorialbot add @ma-sadeghi and @bonh as reviewers

[2022-07-11 15:54] rkurchin commented on #4289
@editorialbot add @ma-sadeghi as reviewer

[2022-07-11 15:55] rkurchin commented on #4289
@editorialbot add @bonh as reviewer

[2022-07-11 15:55] rkurchin commented on #4289
@editorialbot start review

[2022-07-11 15:55] editorialbot opened #4565 "[REVIEW]: GasChromatographySimulator.jl"
**Submitting author:** @JanLeppert (<a href="http://orcid.org/0000-0001-8857-8103">Jan Leppert</a>)
**Repository:** https://github.com/JanLeppert/GasChromatographySimulator.jl
**Branch with paper.md** (empty if default branch):
**Version:** 0.3.10
**Editor:** @rkurchin
**Reviewers:** @ma-sadeghi, @bonh
**Archive:** 10.5281/zenodo.6992295

## Status

[![status](https://joss.theoj.org/papers/a69672e

[2022-07-11 15:55] #4289 closed

[2022-07-11 15:58] prashjha commented on #4557
Thank you, @danielskatz. I will be happy to edit this submission.

[2022-07-11 15:58] prashjha commented on #4557
@editorialbot assign me as editor

[2022-07-11 16:02] prashjha commented on #4557
Thanks, @danielskatz. Weird.

[2022-07-11 16:23] StanczakDominik commented on #4402
Okay, the situation's changed a little for me and I think I could handle it bit by bit over the next week or two!

[2022-07-11 17:41] ygrange commented on #4461
Mostly note to self than anything else: Looked at the replies and like them. Only thing I still want to do so:
- Have a look at the installation because I haven't checked it works now (though I have no reason not to believe it)
- Read the new version of the paper, and see if I have any comments left
Getting back at you when I did that.

[2022-07-11 18:12] chrisaberson commented on #4562
@marcosvital I cannot seem to figure out the checklist (i.e., how to check an item off). The is my first review of this type so I am likely missing something simple

[2022-07-11 18:51] mikemahoney218 commented on #4477
Happy to review @elbeejay !

[2022-07-11 19:23] elbeejay commented on #4477
@editorialbot add @mikemahoney218 as reviewer

[2022-07-11 20:47] Zitzeronion commented on #4312
@arfon sorry to bother you, but is it possible to get an update?

[2022-07-11 20:57] ygrange commented on #4461
installation works as documented now!

Few minor textual comments on the paper:
line 10: "This" -> "These" (I Think)
line 11: This is really minor, but since the sentence is quite long, but I still love that you explain in short what an SSP is and you already defined the acronym before, I would probably use SSP in stead of the written out form here.

That's it really. I will check the last box off

[2022-07-11 22:49] blakeaw commented on #4492
Hi, @vissarion, @dsbowen has addressed my initial comments. However, when going back over the references in the software paper I noticed one more minor style issue that I commented on at https://gitlab.com/dsbowen/conditional-inference/-/issues/6.

[2022-07-11 23:28] haddonm commented on #4497
Hi @Bisaloo,  thanks for thinking of me as this software and article look interesting. Unfortunately, despite being officially retired, I am already over-committed preparing to present some work at an up-coming project meeting and then trying to meet some deadlines of my own. However, in another couple of months I ought to become more available so reviewing activities if another fishery modelling

[2022-07-12 02:00] majensen commented on #4369
@editorialbot set 10.5281/zenodo.6814768 as archive

[2022-07-12 02:01] majensen commented on #4369
@editorialbot set 1.0.0 as version

[2022-07-12 02:02] majensen commented on #4369
@editorialbot generate pdf

[2022-07-12 02:04] majensen commented on #4369
@editorialbot recommend-accept

[2022-07-12 02:06] majensen commented on #4369
@milnus - ah! we need a DOI in the bib for the original BLAST reference - see the editorialbot output above. Can you add and let me know.

[2022-07-12 02:12] dsbowen commented on #4492
@editorialbot generate pdf

[2022-07-12 02:43] jgostick commented on #4398
Hi @ronshnapp I have posted an issue on your repo as I do the above checklist...and I'll probably post a few more, so keep an eye over there.

[2022-07-12 04:17] milnus commented on #4369
@majensen I have now added the doi for the reference

[2022-07-12 05:01] taless474 commented on #4493
@Athene-ai thank you for informing us and take care.

[2022-07-12 06:26] sara-02 commented on #4493
I should be able to turn in my review by this weekend :)

[2022-07-12 07:31] jfowkes commented on #4377
@diehlpk @jonjoncardoso @stsievert we have now made all the requested changes, could you please re-review?

Please see the PR jfowkes/pycutest#23 for the full changelist (in particular I have removed the ancient test files from the `examples/` directory and added and documented another useful usage example `solve_arglale.py`).

[2022-07-12 08:18] temuller commented on #4508
I managed to remove all the warnings. This are only ignored when reading the headers with WCS. Hopefully, this shouldn't break anything in future versions. All the changes have already been merged with the main branch.

[2022-07-12 08:22] DaniilSinitsyn commented on #4521
@jhidalgocarrio
Thank you for your effort to build our code!
And thank you for spotting our mistake in pip command.
Unfortunately, I forgot to add a section about using recent versions of g++ compiler and cmake...

I added those sections there. And comments about the possibility of facing a building issues through non-docker way.

[2022-07-12 09:16] xuanxu commented on #4461
Changed!

[2022-07-12 09:17] xuanxu commented on #4461
@editorialbot generate pdf

[2022-07-12 09:30] xuanxu commented on #4461
@editorialbot generate pdf

[2022-07-12 09:34] xuanxu commented on #4461
@editorialbot generate pdf

[2022-07-12 09:49] mattpitkin commented on #4492
I've completed my checklist and am happy to sign-off my review

[2022-07-12 09:58] arfon commented on #4173
@editorialbot reaccept

[2022-07-12 11:35] jonathanHuwP commented on #4333
@lucydot @CFGrote @KedoKudo
We think we have fixed all the issues raised.

1. The paper has been corrected, and the number of referances increaced.
2. The package can now be pip installed.
3. Community guidlines have been added.
4. Video documentation has been put on YouTube, showing examples of installation and usage.
5. Sample data has been put on Zenodo.
6. Acknowledgement have been added.
7. T

[2022-07-12 12:44] thohamm commented on #4519
@danielskatz, @jedbrown - Thank you for your detailed comments.

We reply to them point by point below. We would be willing to include according remarks in the paper if you find this helpful.

1. Thank you for your comment, we fixed them.
2. The development of this python code started about 6 months ago on the basis of 10-year old collection of shell scripts.
   After several iterations of restruc

[2022-07-12 13:01] thohamm commented on #4519
@editorialbot generate pdf

[2022-07-12 13:08] blakeaw commented on #4492
My comments have all been addressed, and I've completed my review checklist. @vissarion @dsbowen

[2022-07-12 13:19] majensen commented on #4422
@stefanocorreta - would you be able to review [this work](#4422) for [JOSS](https://joss.theoj.org) instead? Really appreciate your consideration! --@majensen

[2022-07-12 13:20] majensen commented on #4422
@stefanocoretta - would you be able to review [this work](https://github.com/openjournals/joss-reviews/issues/4422#4422) for [JOSS](https://joss.theoj.org/) instead? Really appreciate your consideration! --@majensen

[2022-07-12 13:22] majensen commented on #4369
Thanks @milnus - we'll wait for the @openjournals/joss-eics to respond here.

[2022-07-12 13:40] becarioprecario commented on #4422
Thanks for the invitation but I am afraid that I am not available at the moment.

El 30 jun 2022, a las 21:41, Mark Jensen ***@***.******@***.***>> escribió:

@becarioprecario<https://github.com/becarioprecario> would you be available and willing to review this work<x-msg://1/#4422> for JOSS<https://joss.theoj.org/>? Your survival analysis expertise would be very helpful. Thanks for your considera

[2022-07-12 14:06] stefanocoretta commented on #4422
Hello! Yes, I can take on this review.

[2022-07-12 14:18] majensen commented on #4422
@stefanocoretta thanks very much! @hrossman, @CamDavidsonPilon I can now start our official review issue - I'll transfer the checklist information there. Thanks all!

[2022-07-12 14:18] editorialbot opened #4566 "[REVIEW]: PyMSM: Python package for Competing Risks and Multi-State models for Survival Data"
**Submitting author:** @hrossman (<a href="http://orcid.org/0000-0002-5613-8004">Hagai Rossman</a>)
**Repository:** https://github.com/hrossman/pymsm
**Branch with paper.md** (empty if default branch):
**Version:** v0.2
**Editor:** @majensen
**Reviewers:** @CamDavidsonPilon, @stefanocoretta
**Archive:** 10.5281/zenodo.7140849

## Status

[![status](https://joss.theoj.org/papers/5e0118de5b2ea0b1a68

[2022-07-12 14:20] majensen commented on #4422
@editorialbot add @stefanocoretta as reviewer

[2022-07-12 14:20] majensen commented on #4422
@editorialbot start review

[2022-07-12 14:21] #4422 closed

[2022-07-12 14:25] majensen commented on #4566
@stefanocoretta - please create your checklist by issuing this comment:

`@editorialbot generate my checklist`

Thanks!

[2022-07-12 14:26] max-little commented on #4534
Hi @fAndreuzzi @Athene-ai (cc @Nikoleta-v3)
As requested, I have now made substantial changes as follows:
1. Extensive updates to docstrings.
2. Methods, member variables and classes all now fully documented.
3. Parameter and return types detailed.
4. Further detail on functionality for all methods.
5. As per our discussion, on further inspection, there *are* some internal methods which would be b

[2022-07-12 15:08] EtienneCmb commented on #3842
Dear @meg-simula and @travisbthomp, please find below our detailed answers to the comments about the paper and about functionality.

# Suggestions for paper

## Summary

We agree with the reviewer that the first version of the summary was not accessible to a non-specialist audience. We simplified the section to be closer to the online documentation. In addition, the `Summary` section now only incl

[2022-07-12 15:09] EtienneCmb commented on #3842
@editorialbot  generate pdf from branch paper

[2022-07-12 15:09] EtienneCmb commented on #3842
@editorialbot commands

[2022-07-12 15:11] EtienneCmb commented on #3842
@editorialbot set paper as branch

[2022-07-12 15:11] EtienneCmb commented on #3842
@editorialbot generate pdf

[2022-07-12 15:28] nhejazi commented on #4492
My comments have been addressed and I've checked off the remaining items in my reviewer checklist. Looks good! @vissarion @dsbowen

[2022-07-12 15:42] alexandergagliano commented on #4475
@editorialbot generate my checklist

[2022-07-12 15:58] arfon commented on #4369
@milnus – looks like that last chance to the BibTeX was missing a comma. I've fixed it in here: https://github.com/milnus/Magphi/pull/19

[2022-07-12 15:59] arfon commented on #4410
@editorialbot withdraw

Following up on this comment, I'm going to withdraw the submission and encourage a future resubmission.

[2022-07-12 16:02] arfon commented on #3380
@jedbrown – it seems like it's been over 6 months since we last heard from the author here. Might it be time to reject the submission as stale/abandoned?

[2022-07-12 16:06] arfon commented on #3747
@editorialbot reject

[2022-07-12 16:06] #3747 closed

[2022-07-12 16:18] arfon commented on #3680
@devosmitachatterjee2018 – revisiting this thread from February and my earlier comment: Given the incredibly slow progress here, and severe challenges finding multiple reviewers, I don't believe this submission is likely to ever actually make it through review at JOSS. Do you disagree?

[2022-07-12 16:27] EtienneCmb commented on #3842
Dear @madvn,

We thank the reviewer for this great remark and for the positive comments. We will try to address the concerns raised.

We agree that the first version of the “Summary” section was hard to grasp for non-expert readers. We simplified this section and also clarified why measures of information are important for brain data analyses. About the breadth of usability, we added the following

[2022-07-12 16:27] EtienneCmb commented on #3842
@editorialbot generate pdf

[2022-07-12 17:16] ProfLeao commented on #4555
Hello @SimonBiggs . I noticed that some features were migrated in the directory tree and the examples still do not include some of these changes. With the expansion of software visibility that JOSS can offer in mind, it would be good to update this.
Take, for example, the case of `pinnacle`.

old:
[code]

Now:
[code]

[2022-07-12 17:39] gkthiruvathukal commented on #3292
@brunaw it works perfectly! Thank you!

[2022-07-12 17:43] arfon commented on #4291
@melissawm – it looks like this submission might be abandoned by the author? I propose that if we don't hear back in two weeks we reject this submission. Would you agree?

[2022-07-12 17:46] arfon commented on #3665
Sorry I missed this. Yes, I agree you should move this forward while looking for another reviewer.

[2022-07-12 18:04] nimgould commented on #4291
I don't understand, I thought that this was being reviewed. What is going on? Nick

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Arfon Smith ***@***.***>
Sent: Tuesday, July 12, 2022 6:43:55 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Gould, Nick (STFC,RAL,SC) ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: G

[2022-07-12 19:23] AP6YC commented on #3527
@malmaud Very good catch! Sorry for that oversight. I have updated it now (along with some other typos in the guide) and bumped the version of the package.