[2019-11-15 17:32] arfon commented on #1146
Can you check again now? The PDF looks better now to me: https://github.com/openjournals/joss-papers/blob/ca9a5de11383d56589212a7c67079fa2ce883c0b/joss.01146/10.21105.joss.01146.pdf

The PDF on the live site might take a few hours to update as there's caching in place.

[2019-11-15 17:49] karthik commented on #1686
There is always more tweaking to do before we head off to the DOI factory.

[2019-11-15 17:53] kthyng commented on #1654
Hi @henrikmidtiby. This review has stalled quite a bit due to the inability of the reviewers to run your code. Could you find a local colleague and/or collaborator to help you either generalize the installation process or understand the issues that the reviewers are having so they can move past them? There is a limit to the amount of effort we can reasonably ask of a reviewer in this part of the p

[2019-11-15 18:12] RHagenson commented on #1146
@arfon That looks right now! I will check the PDF on the live site some time later to ensure it updated there. Thank you for introducing the fix!

[2019-11-15 18:19] wingtorres commented on #1825
@Kevin-Mattheus-Moerman Sorry to be out of touch! I've been a bit swamped recently, but I have some time blocked out end of next week to incorporate the reviewers suggestions and add the community guidelines. Thanks!

[2019-11-15 18:50] jhollist commented on #1751
@arfon I have gone over the responses and it all looks great to me!

I have completed my checklist above and am happy to give a 👍

Nice job on this package, @junbinzhao.

[2019-11-15 19:06] gdetor commented on #1839
@sjvrijn Regarding the linking errors you're getting. Try to replace the `-std=c++0x` instead of `-std=c++11` in the Makefile (line 4) and let me know if that worked. The problem is essentially your gcc version (kind of old). Thank you also for spotting the typo in `install.sh` (fixed).

[2019-11-15 20:02] mado89 commented on #1845
I am sorry but I can't see the license file. I am looking at the master branch. I guess my problems are also related to the issue I have just created (https://github.com/alessandroBombelli/pyHoops/issues/56) when I inspect the tag "1.5".
In order to not spend too much time digging around. Could I ask you to clean up the repository and notify us once the the issue is fixed? (ie when opening the rep

[2019-11-15 20:05] ceb8 commented on #1832
Aside from the incomplete ApJ paper reference issue noted by @mwcraig this is ready.

[2019-11-15 20:18] abhishekbajpayee commented on #1654
Here is update from my end. I tried following install instructions again and was able to get the installation working using the Dockerfile that @henrikmidtiby pasted above. But using this container, I am not able to actually run the GUI application.

Part of the issue is that I am reluctant to `sudo apt install` things on my personal machine for a review. This is why using a container is best and

[2019-11-15 20:21] arfon commented on #1832
Thanks @ceb8 and @mwcraig.

@Cadair - I don't think we can finalize the ApJ citation until we have a DOI for this paper. @crawfordsm - do we have a DOI yet for the accompanying ApJ paper?

[2019-11-15 20:49] alessandroBombelli commented on #1845
Hi @mado89, I updated yesterday the repository https://github.com/alessandroBombelli/pyHoops and, more specifically,
(i) I modified the "Installation" section specifying that, for now, the only way to download the file is to download the "tests" folder which contains the file itself
(ii) I added the MIT license in the "License" section (on top of the link to the MIT license website)

As example, m

[2019-11-15 20:54] mado89 commented on #1845
This is what I see:

![Screenshot from 2019-11-15 21-58-11](https://user-images.githubusercontent.com/975497/68975004-63703700-07f2-11ea-8886-946c4ec160e5.png)

[2019-11-15 21:07] alessandroBombelli commented on #1845
That looks right. The "Installation" and "License" sections have been updated though. As example, now I mention that pyHoops will be uploaded to PyPi in the next future and advise the (not so ideal) direct download of the "tests" file. If that is what you see, we are looking at the same thing.

As a side note, there is already a PyPi version of pyHoops (https://pypi.org/project/pyHoops/), which I

[2019-11-15 21:11] mbobra commented on #1820
👋 @JonasMoss @steffilazerte Thank you both so much for your incredibly thorough reviews. Yours are some of the most detailed reviews I've ever seen. I sincerely appreciate all your time and effort. JOSS is lucky to have reviewers like you ☀️

[2019-11-15 21:12] mbobra commented on #1820
👋 Great news, @KaiWenger 😄 We're almost there! Can you please create a release and [archive it on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI? Can you please add the DOI in your README.md file, too? After that I think we're done 🎉

[2019-11-15 22:40] henrikmidtiby commented on #1654
@kthyng I support your suggestion to pause the submission, until the installation procedure is explained in enough detail. How should I proceed from here?

I understand the reluctance by @abhishekbajpayee to install packages in the global scope.
It would be much better if we could get the docker image or something similar to work.

[2019-11-16 03:59] arokem commented on #1872
👋 @TomDonoghue : would you be willing to review this submission for JOSS?

[2019-11-16 04:34] TomDonoghue commented on #1872
@arokem - Yes, I'd be happy to review this submission!

I am an MNE user, and a fan of the BIDS project, but not directly involved in either, so I think I should be clear for COIs. This seems very relevant to the kind of word I do, and I'd be happy to review it.

[2019-11-16 08:14] kaashif commented on #1835
@falque Very sorry for the delay in reply, I was on holiday for the last 10 days.

I am also new to this process, there is no way your questions could be more stupid than mine :)

Yes, I suppose this is useful context which belongs in the paper.

Yes, I forgot installation instructions, I will add these.

Thanks. I have a problem though, my employer still needs to approve any publications or contr

[2019-11-16 08:55] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 08:55] whedon commented on #1772
[code]

[2019-11-16 08:55] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:00] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:00] whedon commented on #1772
[code]

[2019-11-16 09:01] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:01] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:01] whedon commented on #1772
[code]

[2019-11-16 09:02] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:10] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:10] whedon commented on #1772
[code]

[2019-11-16 09:10] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:14] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:14] whedon commented on #1772
[code]

[2019-11-16 09:15] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:17] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:17] whedon commented on #1772
[code]

[2019-11-16 09:18] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:21] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:21] whedon commented on #1772
[code]

[2019-11-16 09:22] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:27] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:27] whedon commented on #1772
[code]

[2019-11-16 09:27] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:29] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:29] whedon commented on #1772
[code]

[2019-11-16 09:30] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:34] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:34] whedon commented on #1772
[code]

[2019-11-16 09:34] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:36] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:36] whedon commented on #1772
[code]

[2019-11-16 09:36] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:41] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-16 09:41] whedon commented on #1772
[code]

[2019-11-16 09:41] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-16 09:48] KaiWenger commented on #1820
Hi @mbobra :wave:
we created a release (for the release we changed the version from v1.0.1 to v1.1.0), archieved it on Zenodo, obtained the DOI and added it in our `README.md` :smiley:

[2019-11-16 12:14] MaaniBeigy commented on #1863
Dear @arfon,
Greetings,

I reviewed the **univariateML** package and its software paper. It is an important contribution to the field of statistical programming and has a high quality. My comments are as follow:

1. Although the author has described an MIT license and provided an MIT `LICENSE.md` file, the  LICENSE plain-text file is not correctly an MIT license. I believe, the author should corre

[2019-11-16 12:44] sjvrijn commented on #1839
I've tested again on a fresh install of Ubuntu 19.10. With a newer version (9.2.1) the g++ compiler is indeed no longer a problem, but the `libconfig++` dependencies are still not installed properly by the `install.sh` script.

After running `sudo apt install libconfig++9v5 libconfig++-dev` manually, it does compile and work as intended.

Here is the console output of my install: (I had already us

[2019-11-16 13:51] sjvrijn commented on #1839
@gdetor Now I' ve been able to test it, I have a couple more remarks:
 - I would recommend changing `print_best_genome = false;` to `true` in `examples/demo.cfg`, as it now leads to an error when running the `plot_results.py` script:
```FileNotFoundError: [Errno 2] No such file or directory: './data/best_genome_0.dat'```
 - Am I correct that the bounds `a` and `b` as given in the configuration fil

[2019-11-16 15:04] lohedges commented on #1831
@whedon generate pdf from branch feature-paper

[2019-11-16 15:04] whedon commented on #1831
[code]

[2019-11-16 15:05] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-11-16 16:06] arfon commented on #1686
@whedon generate pdf

[2019-11-16 16:06] whedon commented on #1686
[code]

[2019-11-16 16:06] whedon commented on #1686
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01686/joss.01686/10.21105.joss.01686.pdf)

[2019-11-16 16:30] csoneson commented on #1762
ping @greatfireball

[2019-11-16 19:42] drvinceknight commented on #1807
That's fine and apologies for the delay in getting back to you (I've not been well).

[2019-11-16 19:42] drvinceknight commented on #1807
@whedon generate pdf

[2019-11-16 19:42] whedon commented on #1807
[code]

[2019-11-16 19:43] whedon commented on #1807
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01807/joss.01807/10.21105.joss.01807.pdf)

[2019-11-16 19:44] drvinceknight commented on #1807
@whedon check references

[2019-11-16 19:44] whedon commented on #1807
[code]

[2019-11-16 19:44] whedon commented on #1807
[code]

[2019-11-16 19:47] drvinceknight commented on #1807
@martinfleis it looks like https://doi.org/10.1007/978-3-642-03647-7_11 is a DOI for one of the papers you cite, could you add that please?

Once you've done that if you could make a tagged release and archive, and report the version number and archive DOI here please.

[2019-11-16 19:50] drvinceknight commented on #1811
@whedon check references

[2019-11-16 19:50] whedon commented on #1811
[code]

[2019-11-16 19:50] whedon commented on #1811
[code]

[2019-11-16 19:52] drvinceknight commented on #1811
@tobydriscoll it looks like a number of DOIs are missing, would you be able to add those please?

@dlfivefifty I believe the references you asked for are included now (but if you could confirm you're happy for this to be accepted that would be great :+1:)

[2019-11-16 20:04] drvinceknight commented on #1859
@arghdos, @ysimillides, @Jgoldfar would you be able to able to review this paper for JOSS? There is information about what that involves here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and I'm happy to answer any questions you may have.

[2019-11-16 20:36] dlfivefifty commented on #1811
id Suggest adding “.jl” to the references, even if it’s not used in the paper itself: this seems more consistent with how things are cited, particularly with packages whose names otherwise might be confusing (DifferentialEquations.jl).

But I’ll leave it to the author/editor whether to incorporate this suggestion.

[2019-11-16 21:25] whedon opened #1893 "[PRE REVIEW]: mlr3: A modern object-oriented machine learning framework in R"
**Submitting author:** @mllg (<a href="http://orcid.org/0000-0001-9754-0393">Michel Lang</a>)
**Repository:** <a href="https://github.com/mlr-org/mlr3" target ="_blank">https://github.com/mlr-org/mlr3</a>
**Version:** v0.1.4
**Editor:** @terrytangyuan
**Reviewers:** @nhejazi , @osorensen

**Author instructions**

Thanks for submitting your paper to JOSS @mllg. **Currently, there isn't an JOSS edit

[2019-11-16 21:25] whedon commented on #1893
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-16 21:25] whedon commented on #1893
[code]

[2019-11-16 21:25] whedon commented on #1893
[code]

[2019-11-16 21:25] whedon commented on #1893
PDF failed to compile for issue #1893 with the following error:

 Can't find any papers to compile :-(

[2019-11-16 21:28] labarba commented on #1893
@whedon generate pdf from branch joss

[2019-11-16 21:28] whedon commented on #1893
[code]

[2019-11-16 21:28] whedon commented on #1893
PDF failed to compile for issue #1893 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon.rb:114:in `editor': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon/compilers.rb:113:in `pdf_from_markdown'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00

[2019-11-16 21:28] whedon commented on #1893
[code]

[2019-11-16 21:30] labarba commented on #1893
@openjournals/dev -- help with compilation error here?

[2019-11-16 21:34] labarba commented on #1892
@whedon assign @katyhuff as editor

[2019-11-16 21:34] whedon commented on #1892
OK, the editor is @katyhuff

[2019-11-16 21:35] labarba commented on #1892
@katyhuff — I have assigned this submission for you to edit, in view of the topic and current editor loads. Let me know if you see any issues.

[2019-11-16 21:37] labarba commented on #1893
@terrytangyuan 👋  — The author suggested you as handling editor. Can you take it?

[2019-11-16 21:38] whedon opened #1894 "[PRE REVIEW]: Dryft: A Python and MATLAB package to correct drifting ground reaction force signals during treadmill running"
**Submitting author:** @alcantarar (<a href="http://orcid.org/0000-0002-8539-711X">Ryan Alcantara</a>)
**Repository:** <a href="https://github.com/alcantarar/dryft" target ="_blank">https://github.com/alcantarar/dryft</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @agricolab, @DARSakthi, @mwptrsn

**Author instructions**

Thanks for submitting your paper to JOSS @alcant

[2019-11-16 21:39] whedon commented on #1894
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-16 21:39] whedon commented on #1894
[code]

[2019-11-16 21:39] whedon commented on #1894
[code]

[2019-11-16 21:39] whedon commented on #1894
PDF failed to compile for issue #1894 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon.rb:114:in `editor': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon/compilers.rb:113:in `pdf_from_markdown'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00

[2019-11-16 21:39] whedon commented on #1894
[code]

[2019-11-16 21:46] terrytangyuan commented on #1893
@whedon assign @terrytangyuan as editor

[2019-11-16 21:46] whedon commented on #1893
OK, the editor is @terrytangyuan

[2019-11-16 21:46] gdetor commented on #1839
@sjvrijn
- We changed the print_best_genome to true by default.
- The intervals are indeed used in the initialization process, however they can also be used by some mutation operators to keep genomes within a specific range.
- We added the main_mpi_island_model.cpp in the file-list in the `More Examples` section
- We kept the same configuration file to show that the user needs only one config file

[2019-11-16 21:48] labarba commented on #1894
@whedon generate pdf

[2019-11-16 21:48] whedon commented on #1894
[code]

[2019-11-16 21:49] whedon commented on #1894
PDF failed to compile for issue #1894 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon.rb:114:in `editor': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon/compilers.rb:113:in `pdf_from_markdown'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00

[2019-11-16 22:03] labarba commented on #1864
@dfm -- A few small items to address:

1. Originally, emcee was implementation >> an implementation (missing article), or better yet "implemented" (verb form rather than nominalization)
2. Foreman-Mackey, et al. (2013) is missing a journal title
3. Both Ter Braak references need caps protection `{}` in the article title

[2019-11-16 22:05] labarba commented on #1508
@whedon set v0.10.1.9000 as version

[2019-11-16 22:05] whedon commented on #1508
OK. v0.10.1.9000 is the version.

[2019-11-16 22:10] alcantarar commented on #1894
:wave: @labarba , I tested the whedon paper preview and it compiled, do you have info on what this error is? I've also added DOIs for the references in the latest commit.

[2019-11-16 22:15] labarba commented on #1508
Could you merge my small fix in the `.bib`?

[2019-11-16 22:18] labarba commented on #1894
@openjournals/dev -- we're experiencing some compilation issues. Help?

[2019-11-16 22:20] labarba commented on #1894
@Kevin-Mattheus-Moerman -- Could you handle this submission as editor?
**Dryft: A Python and MATLAB package to correct drifting ground reaction force signals during treadmill running**
https://github.com/alcantarar/dryft

[2019-11-16 22:20] alcantarar commented on #1894
Looking through the latest additions to the joss_reviewers google sheet, I'd like to recommend the following folks who have matlab/python experience:
- ulvgard
- agricolab
- DARSakthi
- mwptrsn

[2019-11-16 22:26] labarba commented on #1883
@whedon generate pdf

[2019-11-16 22:26] whedon commented on #1883
[code]

[2019-11-16 22:27] whedon commented on #1883
PDF failed to compile for issue #1883 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon.rb:114:in `editor': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon/compilers.rb:113:in `pdf_from_markdown'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00

[2019-11-16 22:29] labarba commented on #1883
@openjournals/dev -- we're experiencing some compilation issues. Help?

[2019-11-16 22:31] martinfleis commented on #1807
@drvinceknight Thank you! This is another paper, but I exchanged them as they both talk about the same and this one has a DOI.

I just made a release v.0.1.0 (https://github.com/martinfleis/momepy/releases/tag/v0.1.0)
Zenodo DOI for it is 10.5281/zenodo.3544609 (https://zenodo.org/record/3544609#.XdB3ui9OzOQ)

[2019-11-16 22:31] labarba commented on #1883
@akeshavan 👋  Welcome to JOSS, Anisha! Could you handle this submission as editor?
**Audiometry: A Model-View-ViewModel (MVVM) Application Framework for Hearing Impairment Diagnosis**

[2019-11-16 22:34] whedon opened #1895 "[PRE REVIEW]: geopolygon: retrieve and correctly reshape the polygon of a geographical area"
**Submitting author:** @CostRagno (<a href="http://orcid.org/0000-0002-8807-4586">Costantino  Ragno</a>)
**Repository:** <a href="https://github.com/CostRagno/geopolygon" target ="_blank">https://github.com/CostRagno/geopolygon</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @CostRagno. **Currently, there isn't an J

[2019-11-16 22:34] whedon commented on #1895
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-16 22:34] whedon commented on #1895
[code]

[2019-11-16 22:34] whedon commented on #1895
[code]

[2019-11-16 22:34] whedon commented on #1895
PDF failed to compile for issue #1895 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon.rb:114:in `editor': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00da7/lib/whedon/compilers.rb:113:in `pdf_from_markdown'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd1f92b00

[2019-11-16 22:35] labarba commented on #1895
@openjournals/dev -- S.O.S. All paper compilations are failing today!

[2019-11-16 22:39] labarba commented on #1895
@CostRagno — I'm going to send this back to you for some work on the paper, which should not be a copy-paste of the README, but a narrative that explains the software functionality to a non-specialist, places the software in the general state of the art (e.g., any other software out there doing similar things?), and illustrates the research context where it might be used. Please take another look

[2019-11-16 22:41] labarba commented on #1682
@zhuyouliang — Could we have a status update of your work on responding to reviewer comments? Let me know if you want us to set a reminder for you.

[2019-11-16 22:44] labarba commented on #1746
@lgeiger — Could we have a status update of your work on responding to reviewer comments? Let me know if you want us to set a reminder for you.

[2019-11-16 22:47] labarba commented on #1680
@trallard — it looks like you need to find a second reviewer here to start the review?

[2019-11-16 22:49] labarba commented on #1591
@gus0k — Could we have a status update of your work on responding to reviewer comments? Let me know if you want us to set a reminder for you.

[2019-11-16 22:51] labarba commented on #1656
@terrytangyuan — it looks like this review needs some shepherding from you at this point

[2019-11-16 22:59] labarba commented on #1555
I have sent @rouson an email now.

[2019-11-16 23:01] labarba commented on #1637
@imr-framework — Could we have a status update of your work on responding to reviewer comments? Let me know if you want us to set a reminder for you.

[2019-11-16 23:03] labarba commented on #1326
@Amudtogal — Could we have a status update on this? Let me know if you want us to set a reminder for you.

[2019-11-16 23:14] artivis commented on #1371
@poulson We just addressed artivis/manif#107. We thus are forward to your final pass!

[2019-11-16 23:18] soodoku commented on #1821
I have created a few issues. None are blockers but would love to get @nfrerebeau's eyes on them.

https://github.com/nfrerebeau/tabula/issues

once that's done, we can move fast.

[2019-11-16 23:27] drwaseemsheikh commented on #1883
Hi @akeshavan,
Sorry for the compilation issues. Could you please tell me what do I need to do to fix these errors? It's not clear from the error log. Thanks!

[2019-11-16 23:43] arokem commented on #1872
@joss add @TomDonoghue as reviewer

[2019-11-16 23:43] arokem commented on #1872
@whedon add @TomDonoghue as reviewer

[2019-11-16 23:43] whedon commented on #1872
OK, @TomDonoghue is now a reviewer

[2019-11-16 23:44] arokem commented on #1872
@whedon start review

[2019-11-16 23:44] whedon opened #1896 "[REVIEW]: MNE-BIDS: Organizing neurophysiological data into the BIDS format and facilitating their analysis"
**Submitting author:** @sappelhoff (<a href="http://orcid.org/0000-0001-8002-0877">Stefan Appelhoff</a>)
**Repository:** <a href="https://github.com/mne-tools/mne-bids" target ="_blank">https://github.com/mne-tools/mne-bids</a>
**Version:** 0.3.1
**Editor:** @arokem
**Reviewer:** @jdkent, @TomDonoghue
**Archive:** <a href="https://doi.org/10.5281/zenodo.3580273" target="_blank">10.5281/zenodo.3580

[2019-11-16 23:44] whedon commented on #1872
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1896. Feel free to close this issue now!

[2019-11-16 23:44] whedon commented on #1896
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jdkent, @TomDonoghue it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-16 23:44] whedon commented on #1896
[code]

[2019-11-16 23:44] whedon commented on #1896
[code]

[2019-11-16 23:44] whedon commented on #1896
[code]

[2019-11-16 23:44] whedon commented on #1896
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01896/joss.01896/10.21105.joss.01896.pdf)

[2019-11-16 23:45] arokem commented on #1872
Thanks @TomDonoghue and @jdkent ! Please head over to #1896 for your reviewer check lists. Feel free to post issues on the software repository, linking to the review issue. Feel free to tag me into any issues where you'd like me to weigh in. I'll close this pre-review issue now.

[2019-11-16 23:45] #1872 closed

[2019-11-17 00:01] labarba commented on #1883
Please stay put. I believe it is a problem on the JOSS side.

[2019-11-17 07:24] ramiyaari commented on #1772
@whedon generate pdf

[2019-11-17 07:24] whedon commented on #1772
[code]

[2019-11-17 07:24] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-11-17 07:34] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 07:34] whedon commented on #1785
[code]

[2019-11-17 07:35] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 07:38] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 07:38] whedon commented on #1785
[code]

[2019-11-17 07:39] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 07:41] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 07:41] whedon commented on #1785
[code]

[2019-11-17 07:41] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 07:44] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 07:44] whedon commented on #1785
[code]

[2019-11-17 07:45] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 07:51] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 07:51] whedon commented on #1785
[code]

[2019-11-17 07:52] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 07:55] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 07:55] whedon commented on #1785
[code]

[2019-11-17 07:56] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 08:04] BIPL-HORIE commented on #1785
@whedon  generate pdf

[2019-11-17 08:05] BIPL-HORIE commented on #1785
@whedon create pdf

[2019-11-17 08:06] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 08:06] whedon commented on #1785
[code]

[2019-11-17 08:06] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 08:08] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 08:08] whedon commented on #1785
[code]

[2019-11-17 08:08] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 08:28] BIPL-HORIE commented on #1785
@whedon generate pdf

[2019-11-17 08:28] whedon commented on #1785
[code]

[2019-11-17 08:29] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2019-11-17 08:31] BIPL-HORIE commented on #1785
Dear @dirmeier, sorry for late response.
All the pictures are now in the pdf file.

[2019-11-17 08:37] Kevin-Mattheus-Moerman commented on #1262
@r-barnes can you check the fixed implemented? Thanks

[2019-11-17 08:39] Kevin-Mattheus-Moerman commented on #1822
@vitorsr any updates on these developments?

[2019-11-17 08:43] Kevin-Mattheus-Moerman commented on #1867
@hooman650, @PGomes92, @paulvangentcom thanks for your help in reviewing this work!
Can you give an update on review progress?
@paulvangentcom I see you've started and have been ticking boxes. Please list any issues you've identified if any, so @rhenanbartels can start working on them. Tanks!

[2019-11-17 08:44] Kevin-Mattheus-Moerman commented on #1875
@whedon add @danasolav as reviewer

[2019-11-17 08:44] whedon commented on #1875
OK, @danasolav is now a reviewer

[2019-11-17 08:45] Kevin-Mattheus-Moerman commented on #1894
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-11-17 08:45] whedon commented on #1894
OK, the editor is @Kevin-Mattheus-Moerman

[2019-11-17 08:53] arfon commented on #1895
@whedon generate pdf

[2019-11-17 08:53] whedon commented on #1895
[code]

[2019-11-17 08:53] whedon commented on #1895
PDF failed to compile for issue #1895 with the following error:

 Error reading bibliography ./paper.bib (line 24, column 3):
unexpected "a"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-11-17 08:54] arfon commented on #1893
@whedon generate pdf

[2019-11-17 08:54] whedon commented on #1893
[code]

[2019-11-17 08:54] whedon commented on #1893
PDF failed to compile for issue #1893 with the following error:

 Can't find any papers to compile :-(

[2019-11-17 08:55] arfon commented on #1893
@whedon generate pdf from branch joss

[2019-11-17 08:55] whedon commented on #1893
[code]

[2019-11-17 08:56] whedon commented on #1893
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01893/joss.01893/10.21105.joss.01893.pdf)

[2019-11-17 08:56] arfon commented on #1895
@CostRagno - this PR should fix your paper compilation: https://github.com/CostRagno/geopolygon/pull/1

[2019-11-17 08:56] arfon commented on #1894
@whedon generate pdf

[2019-11-17 08:56] whedon commented on #1894
[code]

[2019-11-17 08:57] whedon commented on #1894
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01894/joss.01894/10.21105.joss.01894.pdf)

[2019-11-17 08:58] arfon commented on #1894
I accidentally broke Whedon last night. Fixed now.

[2019-11-17 08:59] agricolab commented on #1894
Would be interested and available for review.

[2019-11-17 09:18] Kevin-Mattheus-Moerman commented on #1894
@whedon add @agricolab as reviewer

[2019-11-17 09:18] whedon commented on #1894
OK, @agricolab is now a reviewer

[2019-11-17 09:23] arfon commented on #1883
@whedon generate pdf

[2019-11-17 09:23] whedon commented on #1883
[code]

[2019-11-17 09:24] whedon commented on #1883
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01883/joss.01883/10.21105.joss.01883.pdf)

[2019-11-17 09:32] brittonsmith commented on #1881
@aureliocarnero, sure thing, done!

[2019-11-17 09:43] CostRagno opened #1897 "@whedon"
STOP STOP STOP STOP STOP
STOP STOP STOP STOP STOP
👇 ================================== 👇

Issues in this repository are automatically generated by the journal submission system. DO NOT FILE ISSUES HERE.

If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

☝ ================================== ☝

THANKS FOR NOT OPENING AN ISS

[2019-11-17 09:43] whedon commented on #1897
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-17 09:43] whedon commented on #1897
[code]

[2019-11-17 09:43] whedon commented on #1897
[code]

[2019-11-17 09:44] whedon commented on #1897
PDF failed to compile for issue #1897 with the following error:

 Can't find any papers to compile :-(

[2019-11-17 09:44] CostRagno opened #1898 "@whedon commands"
STOP STOP STOP STOP STOP
STOP STOP STOP STOP STOP
👇 ================================== 👇

Issues in this repository are automatically generated by the journal submission system. DO NOT FILE ISSUES HERE.

If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

☝ ================================== ☝

THANKS FOR NOT OPENING AN ISS

[2019-11-17 09:44] whedon commented on #1898
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-17 09:44] whedon commented on #1898
[code]

[2019-11-17 09:44] whedon commented on #1898
[code]

[2019-11-17 09:44] whedon commented on #1898
PDF failed to compile for issue #1898 with the following error:

 Can't find any papers to compile :-(

[2019-11-17 09:50] thomakra commented on #1822
Sorry for not following up.
I've been moving house and I'm a little behind on a lot of things.
I'll have another look tomorrow.

-Thomas-

On Sun, Nov 17, 2019, 09:39 Kevin Mattheus Moerman <notifications@github.com>
wrote:

[2019-11-17 09:59] CostRagno commented on #1895
@whedon generate pdf

[2019-11-17 09:59] whedon commented on #1895
[code]

[2019-11-17 09:59] whedon commented on #1895
PDF failed to compile for issue #1895 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.-d49d3a75c2cdd527/8370c256978f712e7ec28c3673c28cd1f86eca78.shtml': Cannot load file
  Jpeg Invalid marker used
  PNG Invalid PNG file, signature broken
  Bitmap Invalid Bitmap magic identifier
  GIF Invalid Gif signature :

  HDR Invalid radiance file signature
  Tiff Invalid endian ta

[2019-11-17 10:10] whedon commented on #1895
[code]

[2019-11-17 10:23] MaciejDanko commented on #1508
Hi @labarba - small fix was merged, thank you.

[2019-11-17 10:25] arfon commented on #1895
@CostRagno - this PR should fix your figures: https://github.com/CostRagno/geopolygon/pull/2

[2019-11-17 10:26] #1897 closed

[2019-11-17 10:26] #1898 closed

[2019-11-17 10:38] CostRagno commented on #1895
@labarba thank you for your comments. We will work more on the paper based on your suggestions :)

[2019-11-17 10:39] CostRagno commented on #1895
@whedon generate pdf

[2019-11-17 10:39] whedon commented on #1895
[code]

[2019-11-17 10:40] whedon commented on #1895
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01895/joss.01895/10.21105.joss.01895.pdf)

[2019-11-17 10:48] CostRagno commented on #1895
@arfon now it is perfectly working. Thank you very much. We had problems because the https://whedon.theoj.org/ do not generate the pdf and because it was our first joss submission.

[2019-11-17 14:34] gus0k commented on #1591
Hello,

I think I managed to fix the problem: provide working installation instructions and specify for which platforms does it work.
I just addressed @taqtiqa-mark last comment.

Best regards,
Diego

[2019-11-17 15:24] dfm commented on #1864
@labarba: Thanks! Good catches. I've updated the manuscript and BibTeX. Let me know if you have any other suggestions. Should I make another release with these changes?

[2019-11-17 15:24] dfm commented on #1864
@whedon generate pdf

[2019-11-17 15:24] whedon commented on #1864
[code]

[2019-11-17 15:25] whedon commented on #1864
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01864/joss.01864/10.21105.joss.01864.pdf)

[2019-11-17 16:09] martinfleis commented on #1882
Hi,

I would like to close up my review. Majority of `splot`'s feature is currently focused on visualising the data from various PySAL sub-modules, which is extremely helpful in understanding their outputs. However, `splot` goes further than that (and has plans to do even more). A prime example is Value-by-alpha plotting feature. The default visual style of `splot` is very polished, and I would al

[2019-11-17 16:11] kyleniemeyer commented on #1880
@whedon set 10.5281/zenodo.3532167 as archive

[2019-11-17 16:11] whedon commented on #1880
OK. <a href="https://doi.org/10.5281/zenodo.3532167" target="_blank">10.5281/zenodo.3532167</a> is the archive.

[2019-11-17 16:13] kyleniemeyer commented on #1880
@potterzot ok thanks, we're good to go!

[2019-11-17 16:13] kyleniemeyer commented on #1880
@whedon accept

[2019-11-17 16:13] whedon commented on #1880
[code]

[2019-11-17 16:13] whedon commented on #1880
[code]

[2019-11-17 16:13] whedon commented on #1880
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1101

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1101, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-17 16:15] kyleniemeyer commented on #1880
@whedon accept deposit=true

[2019-11-17 16:15] whedon commented on #1880
[code]

[2019-11-17 16:16] whedon commented on #1880
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1196099809419153408) 👈 🐦🐦🐦

[2019-11-17 16:16] whedon commented on #1880
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1102
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01880](https://doi.org/10.21105/joss.01880)
2. If everything looks g

[2019-11-17 16:25] hooman650 commented on #1867
I have opened an issue in the toolbox repository. There are many HRV toolboxes available that exactly perform the same computations (time, frequency and nonlinearity analysis).  I recommend adding a few subroutines for preprocessing RR intervals and removing artifacts. I have opened an [issue](https://github.com/rhenanbartels/hrv/issues/16#issue-524008155) and made a few recommendations there.

Ad

[2019-11-17 18:16] labarba commented on #1508
@whedon accept

[2019-11-17 18:16] whedon commented on #1508
[code]

[2019-11-17 18:16] whedon commented on #1508
[code]

[2019-11-17 18:16] whedon commented on #1508
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1103

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1103, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-17 18:21] labarba commented on #1508
@whedon accept deposit=true

[2019-11-17 18:21] whedon commented on #1508
[code]

[2019-11-17 18:22] whedon commented on #1508
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1196131446341226496) 👈 🐦🐦🐦

[2019-11-17 18:22] whedon commented on #1508
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1104
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01508](https://doi.org/10.21105/joss.01508)
2. If everything looks g

[2019-11-17 18:23] labarba commented on #1508
Congratulations, @MaciejDanko, your JOSS paper is published! 🚀

Sincere thanks to our editor: @alexhanna, and the reviewers: @soodoku, @mkearney — we couldn't do this without you 🙏

[2019-11-17 18:23] #1508 closed

[2019-11-17 18:23] whedon commented on #1508
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01508/status.svg)](https://doi.org/10.21105/joss.01508)

**We need your help!**

Journal of Open Source Softwa

[2019-11-17 18:27] labarba commented on #1864
@whedon accept

[2019-11-17 18:27] whedon commented on #1864
[code]

[2019-11-17 18:27] whedon commented on #1864
[code]

[2019-11-17 18:27] whedon commented on #1864
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1105

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1105, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-17 18:29] labarba commented on #1864
@whedon accept deposit=true

[2019-11-17 18:29] whedon commented on #1864
[code]

[2019-11-17 18:29] whedon commented on #1864
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1196133374013911040) 👈 🐦🐦🐦

[2019-11-17 18:29] whedon commented on #1864
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1106
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01864](https://doi.org/10.21105/joss.01864)
2. If everything looks g

[2019-11-17 18:31] labarba commented on #1864
Congratulations, @dfm, your JOSS paper is published! 🚀

Sincere thanks to our editor: @xuanxu, and the reviewers: @benjaminrose, @mattpitkin — we couldn't do this without you 🙏

[2019-11-17 18:31] #1864 closed

[2019-11-17 18:31] whedon commented on #1864
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01864/status.svg)](https://doi.org/10.21105/joss.01864)

**We need your help!**

Journal of Open Source Softwa

[2019-11-17 20:24] rouson commented on #1555
@labarba thanks for the email.  I somehow got subscribed to every JOSS communication so these messages got buried in the resulting flood.  Hopefully I just resolved it by clicking "Unwatch."  I'll work on my review later today and post the results.

[2019-11-17 20:34] DARSakthi commented on #1894
I also would be willing to review the paper

[2019-11-17 21:13] kyleniemeyer commented on #1880
Congrats @potterzot on your article's publication in JOSS!

[2019-11-17 21:13] #1880 closed

[2019-11-17 21:13] whedon commented on #1880
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01880/status.svg)](https://doi.org/10.21105/joss.01880)

**We need your help!**

Journal of Open Source Softwa

[2019-11-17 21:47] whedon opened #1899 "[PRE REVIEW]: c14bazAAR: An R package for downloading and preparing C14 dates from different source databases"
**Submitting author:** @nevrome (<a href="http://orcid.org/0000-0003-3448-5715">Clemens Schmid</a>)
**Repository:** <a href="https://github.com/ropensci/c14bazAAR" target ="_blank">https://github.com/ropensci/c14bazAAR</a>
**Version:** 1.1.0
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @nevrome. **Currently, there isn't an JOSS editor

[2019-11-17 21:47] whedon commented on #1899
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-17 21:47] whedon commented on #1899
[code]

[2019-11-17 21:47] whedon commented on #1899
[code]

[2019-11-17 21:47] whedon commented on #1899
PDF failed to compile for issue #1899 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1899 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e13363a737a/lib/whedo

[2019-11-17 21:49] labarba commented on #1899
@nevrome  — please provide the software repository (GitHub, GitLab, Bitbucked) here and I will update the metadata of this Pre-Review.

[2019-11-17 21:54] labarba commented on #1899
OK, I have found it. You provided the archive DOI (https://doi.org/10.17605/OSF.IO/3DS6A) pointing to your OSF project, but we needed the URL of the GitHub repo: https://github.com/ropensci/c14bazAAR

Has this submission gone through the rOpenSci review?

[2019-11-17 21:55] labarba commented on #1899
@whedon generate pdf

[2019-11-17 21:55] whedon commented on #1899
[code]

[2019-11-17 22:00] whedon commented on #1899
[code]

[2019-11-17 22:27] djmitche commented on #1891
@danielskatz I think I see an error in the paper itself ("exception" instead of "extension"), but I'm not sure where to find the source for that paper.  Pointers?

[2019-11-17 22:28] danielskatz commented on #1891
see paper.md and paper.bib in the source repo (root level)

[2019-11-17 22:36] nevrome commented on #1899
@labarba Thank you for working with this submission!

It did indeed go through the ROpenSci review: https://github.com/ropensci/software-review/issues/333

There I was [specifically asked](https://github.com/ropensci/software-review/issues/333#issuecomment-531599658) to submit with the archive DOI:

Maybe they should update their template?

[2019-11-17 22:47] djmitche commented on #1891
Thanks!  Aside from that (minor) issue I don't see any problems here.

[2019-11-17 22:49] labarba commented on #1899
@arfon Can you clarify this issue about submissions coming from rOpenSci?

[2019-11-17 23:24] danielskatz commented on #1891
Thanks @djmitche!

[2019-11-17 23:53] jeffreyhanson commented on #1686
Yeah, I don't think the remaining checklist items should hold up publication. I'll sign off now - absolutely awesome work!

[2019-11-18 00:49] potterzot commented on #1880
Thank you @kyleniemeyer! Very exciting. Thank you for your help sorting through the process.

[2019-11-18 06:26] arfon commented on #1899
@whedon generate pdf

[2019-11-18 06:26] whedon commented on #1899
[code]

[2019-11-18 06:34] arfon commented on #1899
@whedon generate pdf

[2019-11-18 06:35] whedon commented on #1899
[code]

[2019-11-18 06:35] whedon commented on #1899
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01899/joss.01899/10.21105.joss.01899.pdf)

[2019-11-18 06:39] arfon commented on #1899
This is incorrect. We can use the Zenodo DOI for the submission once we're ready to accept, but we need authors to submit to JOSS using the standard repository address (https://github.com/ropensci/c14bazAAR).

I've asked for guidance on how to fix this in https://github.com/ropensci/software-review/issues/333#issuecomment-554874000

[2019-11-18 07:50] mwegrzyn commented on #1847
Hello,

thank you for your message. Looks like a great project. Unfortunately, after looking through the repository, I can't say that I feel qualified to review the code, which seems to be mostly javascript. Sorry, but I have to decline.

Best regards,
Martin

[2019-11-18 07:53] hvgazula commented on #1847
Hi Martin,

Thank you very much for your reply. Really appreciate your time and considerations.

Regards,
Harsh

[2019-11-18 07:55] hvgazula commented on #1847
Hello @vsoch! I believe you are well placed and qualified to review COINSTAC. Please let me know what you think. Thank you very much.

[2019-11-18 08:47] mllg commented on #1893
Note: We extended the funding part in section "Acknowledgments", fixed a typo, and added a DOI for the Weka reference.

[2019-11-18 09:02] junbinzhao commented on #1751
@jhollist thank you so much for your comments again! Cheers!

[2019-11-18 09:14] Kevin-Mattheus-Moerman commented on #1894
@whedon add @DARSakthi as reviewer

[2019-11-18 09:14] whedon commented on #1894
OK, @DARSakthi is now a reviewer

[2019-11-18 09:15] Kevin-Mattheus-Moerman commented on #1894
@danasolav would somebody from the Biomechatronics group like to review this you think?

[2019-11-18 09:18] Kevin-Mattheus-Moerman commented on #1894
@moorepants are you interested in reviewing this one?

[2019-11-18 11:13] nevrome commented on #1899
@labarba What's the procedure to apply some small changes to the proof? Resubmission?

[2019-11-18 11:16] YoungFaithful commented on #1892
I think that @sjpfenninger would be a great reviewer.

[2019-11-18 11:17] mwptrsn commented on #1894
I’m happy to review if another is needed.

[2019-11-18 12:09] oliviaguest commented on #1821
@soodoku thank you!

[2019-11-18 13:05] arfon commented on #1899
@nevrome - please just make the changes to your `paper.md` and ask Whedon to recompile here with `@whedon generate pdf`

[2019-11-18 13:09] vsoch commented on #1847
Hey @hvgazula! I don’t actively work in neuroimaging (for many years now) so I’m not qualified to be critical about the algorithms or function of the tool, so I’m not a good reviewer here. I think you would have an optimal review asking someone actively working in the neuro space. Thanks!

[2019-11-18 13:10] hvgazula commented on #1847
:) No problem. Thanks for the reply.

[2019-11-18 13:12] jgoldfar commented on #1859
I will have time to review more effectively next January; please keep me in mind at that time!

[2019-11-18 13:17] hvgazula commented on #1847
How about @mbod?

[2019-11-18 14:07] will-rowe commented on #1831
No worries @HaoZeke - thanks for clearing that up!

[2019-11-18 14:52] nquesada commented on #1705
Hi @katyhuff ! Please let us know what are the next steps now that the review is completed. Thanks!

[2019-11-18 15:44] sreschechtko commented on #1849
I was able to install the package and run the demo as well as my own data. I have raised some issues (#[1-6](https://github.com/SwathiSheshadri/pose3d/issues)) which I ran into during this process and which I would like to see addressed before recommending the publication of this package in JOSS.

[2019-11-18 16:31] 1mikegrn commented on #1868
Hey @matthewturk, just hoping to get an update on some sort of timetable we can expect for conducting the peer-review. I'm getting ready to submit a set of high-impact research manuscripts and I'd like to be able to reference this manuscript therein for more coverage of the software. Thanks :)

[2019-11-18 16:33] matthewturk commented on #1868
@1mikegrn I think I might have been autocompleted by mistake - or I hope so!  This paper is news to me, I'm afraid.  :)

[2019-11-18 16:36] oliviaguest commented on #1866
@rickecon, @JohnCoene — when do you think you will have time to check this?

[2019-11-18 16:37] dfm commented on #1868
I think you mean @mdoucet!

@mdoucet: Can you let us know what sort of time frame you need to finish going through the checklist? Thanks!

[2019-11-18 16:56] 1mikegrn commented on #1868
@matthewturk haha ya, oops. Sorry about that!

[2019-11-18 16:56] williamjameshandley commented on #1834
The repository installs fine on my machine (I'm using the recently released [python 3.8](https://docs.python.org/3/whatsnew/3.8.html), so that's a good sign given that I assume it hasn't necessarily been tested on this version).

- [ ]The [arXiv paper](https://arxiv.org/abs/1908.09599) makes it pretty clear that the intention is to extend this system of package as time goes on, which I approve of.

[2019-11-18 17:06] tonggehua commented on #1637
@labarba We have got the front end testing working on Windows.  Currently, we are wrapping it up in a test case for Github actions to run it along with all the back end tests. The goal is to have this done by Friday.

[2019-11-18 18:30] russellpierce commented on #1874
Sure, I'd be happy to review this.  Is there a link available for author's copies of the associated Titz & Sedlmeier, 2019 paper?

[2019-11-18 18:34] aureliocarnero commented on #1881
Thank you @brittonsmith - Could you please clarify me which license from this list, https://opensource.org/licenses/alphabetical correspond to yours.? Cheers

[2019-11-18 18:39] aureliocarnero commented on #1881
@xuanxu I cannot open the draft:
https://github.com/openjournals/joss-papers/blob/joss.01881/joss.01881/10.21105.joss.01881.pdf

[2019-11-18 18:43] aureliocarnero commented on #1881
@brittonsmith I'm having troubles installing your code with pip.
It tells me the following:
  Stored in directory: /home/carnero/.cache/pip/wheels/63/9d/8e/37c3f6506ed3f152733a699e92d8e0c9f5e5f01dea262f80ad
Successfully built mpmath
Installing collected packages: mpmath, sympy, yt, ytree
  Found existing installation: sympy 0.7.6.1
ERROR: Cannot uninstall 'sympy'. It is a distutils installed proje

[2019-11-18 18:44] karthik commented on #1686
@hadley Can you please provide the latest version number for publication?

[2019-11-18 18:44] aureliocarnero commented on #1881
@brittonsmith also, using the git clone, pip install instruction for the developer version, I also found this problem (maybe related)

ERROR: Exception:
Traceback (most recent call last):
  File "/home/carnero/anaconda2/lib/python2.7/site-packages/pip/_internal/cli/base_command.py", line 188, in main
    status = self.run(options, args)
  File "/home/carnero/anaconda2/lib/python2.7/site-packages/p

[2019-11-18 18:45] karthik commented on #1686
@whedon check references

[2019-11-18 18:45] whedon commented on #1686
[code]

[2019-11-18 18:45] whedon commented on #1686
[code]

[2019-11-18 18:53] tobydriscoll commented on #1811
@whedon check references

[2019-11-18 18:53] whedon commented on #1811
[code]

[2019-11-18 18:53] whedon commented on #1811
[code]

[2019-11-18 18:55] tobydriscoll commented on #1811
@whedon generate pdf

[2019-11-18 18:55] whedon commented on #1811
[code]

[2019-11-18 18:56] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-18 19:04] tobydriscoll commented on #1811
DOIs fixed and package names updated in the references.

[2019-11-18 19:24] hadley commented on #1686
@karthik what do people usually do with R packages? I'd like for the next release of tidyverse to an include a citation to this paper, but that introduces a chicken and egg problem.

I'll add the missing DOI momentarily.

[2019-11-18 19:41] cMadan commented on #1620
@MLHale, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and auth

[2019-11-18 19:43] cMadan commented on #1847
@spinicist @mwegrzyn @vsoch, thank you for considering!

[2019-11-18 19:44] cMadan commented on #1830
@ManuelaS, it would be great if you could begin your review soon, thanks!

[2019-11-18 19:50] karthik commented on #1686
I sent a PR with the missing DOI.

We're aware of this chicken and egg problem. For now, once the reviewers sign off, you archive the reviewed version on Zenodo, we add that DOI to your JOSS paper and then publish it. You can then add the JOSS citation to Tidyverse immediately and push a new release to GitHub/CRAN. That way people will see this paper in `citation()`.

JOSS does not publish a new p

[2019-11-18 19:51] karthik commented on #1686
Note: That DOI will not resolve for now because your paper isn't published yet.

[2019-11-18 19:52] ornlpmcp commented on #1656
@terrytangyuan please help us to move forward. I am willing to revise the manuscript/code as advised.

[2019-11-18 19:58] cdeline commented on #1865
Hi all,  i've been given approval by NREL legal to replace LICENSE.txt with a stock BSD-3 from the OSI webpage.  I'm merging that in Master now.

[2019-11-18 20:13] karthik commented on #1686
@whedon check references

[2019-11-18 20:13] whedon commented on #1686
[code]

[2019-11-18 20:13] whedon commented on #1686
[code]

[2019-11-18 20:34] Cadair commented on #1832
Thanks @ceb8 😊

[2019-11-18 20:43] amritagos commented on #1831
@will-rowe @lohedges as all my comments have been addressed satisfactorily, I am happy to recommend this for publication. The software is well-documented and fills an important niche for the simulation community.

[2019-11-18 21:15] hadley commented on #1686
Ok, in that case can we use 1.3.0 for the version number? There are [no significant changes](https://github.com/tidyverse/tidyverse/blob/master/NEWS.md#tidyverse-1219000) between 1.2.1 and 1.3.0 except that 1.3.0 will include a citation to this paper.

Can you tell what is wrong with my DOI at https://github.com/tidyverse/tidyverse/blob/master/vignettes/paper.bib#L38 ?

[2019-11-18 21:23] arfon commented on #1686
I wonder if Whedon is fussy about case? Can you try updating the BibTeX key to `doi` rather than `Doi`?

[2019-11-18 21:30] karthik commented on #1686
The trailing , could be the issue

[2019-11-18 21:31] mbobra commented on #1820
@whedon set 10.5281/zenodo.3543826 as archive

[2019-11-18 21:31] whedon commented on #1820
OK. <a href="https://doi.org/10.5281/zenodo.3543826" target="_blank">10.5281/zenodo.3543826</a> is the archive.

[2019-11-18 21:32] mbobra commented on #1820
@whedon set 1.1.0 as version

[2019-11-18 21:32] whedon commented on #1820
OK. 1.1.0 is the version.

[2019-11-18 21:32] mbobra commented on #1820
@whedon check references

[2019-11-18 21:32] whedon commented on #1820
[code]

[2019-11-18 21:32] whedon commented on #1820
[code]

[2019-11-18 21:34] mbobra commented on #1820
@openjournals/joss-eics This paper is ready for acceptance! Nice work @KaiWenger 🎉

[2019-11-18 21:41] hadley commented on #1686
@whedon check references

[2019-11-18 21:41] whedon commented on #1686
[code]

[2019-11-18 21:42] whedon commented on #1686
[code]

[2019-11-18 21:43] hadley commented on #1686
Tried both lower case and removing the `,` 😞

[2019-11-18 21:53] kthyng commented on #1654
I think we are all in agreement. I just added the "paused" label.

@henrikmidtiby You can take the time you need to work on installation issues from your end. Then just ping here when you are ready to continue. Hopefully @abhishekbajpayee and @jizecn will be able to continue as reviewers at that time and review the submission as normal. Thanks all.

[2019-11-18 22:12] luizirber commented on #1891
Only one nitpick: There is nothing wrong with the LICENSE.txt file per se, but if you put the content of the MPL 2.0 license linked it will show up as `MPL 2.0` in the repository landing page (instead of `View license`, like it is now).

All my checkboxes are checked.

And I must say this was the easiest review I ever did, but it was somewhat expected because I tend to look for hypothesis dev prac

[2019-11-18 22:21] Cadair commented on #1832
@whedon generate pdf from branch joss_paper

[2019-11-18 22:21] whedon commented on #1832
[code]

[2019-11-18 22:22] Zac-HD commented on #1891
Thanks @luizirber :tada:

For the licence, I think this is mostly an effect of Github not having fantastic support for monorepos... [`hypothesis-python/LICENSE.txt`](https://github.com/HypothesisWorks/hypothesis/blob/master/hypothesis-python/LICENSE.txt) is the file that gets packaged up, and it's the standard MPL2.0 text.  We also use the `setuptools` license classifier, and have a copyright+lice

[2019-11-18 22:22] whedon commented on #1832
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01832/joss.01832/10.21105.joss.01832.pdf)

[2019-11-18 22:31] brittonsmith commented on #1881
@aureliocarnero, the license is the [BSD-3-Clause](https://opensource.org/licenses/BSD-3-Clause).

For the installation issues, I'm not entirely sure. In the first instance, it looks like sympy was installed in a manner that cannot be upgraded by pip. In the second case, it looks like there is a conflicting version of yt that also cannot be updated. My recommendation would be to try creating a fre

[2019-11-18 23:26] mbobra commented on #1828
👋 @ashwinvis I'm trying to move this along for the authors. Let me know if you want any help in completing your review! I'm genuinely happy to help.

[2019-11-18 23:38] mdoucet commented on #1868
@dfm Sorry for the delay. It's on my to-do list for this week.

[2019-11-18 23:43] 1mikegrn commented on #1868
@mdoucet no worries, appreciate the update :)

[2019-11-19 00:51] stulacy commented on #1837
I've gone through the remaining points and am happy that the submission meets them all, although I still am unsure how to handle the Automated Tests criteria as mentioned above. Any thoughts @majensen ?

[2019-11-19 01:46] cMadan commented on #1849
@sreschechtko, thank you for the update!

[2019-11-19 02:23] ResidentMario commented on #1882
I'm done with my review. I don't have any hard blocking issues to add to those opened by @martinfleis.

But I will say that I have some qualms with the uneven documentation in `splot`. For example, one of the three tutorial notebooks, titled [Exploratory Analysis of Spatial Data](https://nbviewer.jupyter.org/github/pysal/splot/blob/master/notebooks/esda_morans_viz.ipynb), mentions the following st

[2019-11-19 02:47] kbarnhart commented on #1818
I wanted to check in regarding this review.

[2019-11-19 07:08] SuperKam91 commented on #1809
Hi @mbobra as I mentioned above, I have already used tools including ‘autopep8’, ‘black’ and ’yapf’ to arrive at the current state. It is fully pep8 compliant apart from my comment lines being over the 80 characters per line limit, and also my doc strings being over the limit. Understandably, the tools cannot correctly break all the commented lines, especially lines which have comments proceeding

[2019-11-19 07:11] benjaminbolling commented on #1858
I see, I will look through the reviewer list. The functionality of the software can be tested by selecting the so-called "Randomizer" control system, which I made for my own diagnostics/trials purposes when working from home and demonstration purposes as it only generates (not completely) random numerical values.

[2019-11-19 08:02] arfon commented on #1686
OK, ignore @whedon then about this. I'll file this as a bug.

[2019-11-19 08:24] johannes-titz commented on #1874
@russellpierce thank you! The paper is not published yet, but I will send you a copy of the submitted version right away via e-mail.

[2019-11-19 08:43] oliviaguest commented on #1874
@whedon add @russellpierce as reviewer

[2019-11-19 08:43] whedon commented on #1874
OK, @russellpierce is now a reviewer

[2019-11-19 08:43] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:43] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:43] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] oliviaguest commented on #1874
@labarba something very weird is happening with whedon... seems like it crashed/infinite loop?

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:44] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:45] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:46] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 08:47] whedon commented on #1874
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 09:11] JohnCoene commented on #1866
@oliviaguest I have already started and submitted an [issue on the repository](https://github.com/pachamaltese/economiccomplexity/issues/8) itself, will finish review by end of week.

[2019-11-19 09:11] whedon commented on #1866
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 09:21] kirui93 commented on #1873
Hello @melissawm,
Is there anything that I am supposed to do next concerning this review?
Thank you.

[2019-11-19 09:21] whedon commented on #1873
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 09:29] will-rowe commented on #1831
Brilliant - thank you @amritagos!

[2019-11-19 10:05] ManuelaS commented on #1830
Thanks for the reminder @cMadan, I'll work through the review during the weekend!

[2019-11-19 10:05] whedon commented on #1830
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2019-11-19 10:14] arfon commented on #1874
Yikes, sorry for the spam folks. Whedon had a run-away process... 🤦‍♂

[2019-11-19 10:35] RMHogervorst commented on #1874
Hi all, I'm sorry but I cannot review this package. It not versed enough in cognitive psychology to give this a proper review.

[2019-11-19 11:07] oliviaguest commented on #1874
@RMHogervorst no worries and thanks for replying.

[2019-11-19 11:07] oliviaguest commented on #1874
@whedon start review

[2019-11-19 11:08] whedon opened #1900 "[REVIEW]: passt: An R implementation of the Probability Associator Time (PASS-T) model"
**Submitting author:** @johannes-titz (<a href="http://orcid.org/0000-0002-1102-5719">Johannes Titz</a>)
**Repository:** <a href="https://github.com/johannes-titz/passt" target ="_blank">https://github.com/johannes-titz/passt</a>
**Version:** v0.1.1
**Editor:** @oliviaguest
**Reviewer:** @nicksexton, @russellpierce
**Archive:** <a href="https://doi.org/10.5281/zenodo.3638130" target="_blank">10.52

[2019-11-19 11:08] whedon commented on #1874
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1900. Feel free to close this issue now!

[2019-11-19 11:08] whedon commented on #1900
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nicksexton, @russellpierce it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-11-19 11:08] whedon commented on #1900
[code]

[2019-11-19 11:08] whedon commented on #1900
[code]

[2019-11-19 11:08] oliviaguest commented on #1874
Hey all — head on down to #1900 for the review proper. :smile:

[2019-11-19 11:08] #1874 closed

[2019-11-19 11:08] whedon commented on #1900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01900/joss.01900/10.21105.joss.01900.pdf)

[2019-11-19 11:09] nfrerebeau commented on #1821
@soodoku thank you for all these constructive remarks. I will look in detail before the weekend and make the necessary changes.

[2019-11-19 11:09] oliviaguest commented on #1900
Hi both :wave: — @nicksexton, @russellpierce, this is where the review is carried out. Feel free to also open issues in the repo of the code itself if more appropriate.

[2019-11-19 11:32] melissawm commented on #1865
Thank you, @cdeline and @shirubana!

@wholmgren and @dalonsoa this means the review can resume as normal. If you have any further questions, don't hesitate to ask!

[2019-11-19 11:40] melissawm commented on #1873
Hello, @kirui93 , the corrections are OK except for the volume number on the reference Kovacevic, R. M., & Pichler, A. (2015). I'll now start the process of finding reviewers.

[2019-11-19 11:41] melissawm commented on #1873
@ChrisRackauckas would you be willing to review this paper for JOSS? Thank you!

[2019-11-19 11:44] melissawm commented on #1873
@jarvist would you be willing to review this software paper for JOSS? Thank you!

[2019-11-19 11:47] jarvist commented on #1873
It's well outside my area of expertise, but I am happy to review as a naive user.
I have quite a few academic commitments at the moment, so it may take a while to fit this review in.

[2019-11-19 11:49] ChrisRackauckas commented on #1873
I'll pass on this for now, but if it's still looking for reviewers in February let me know. It is outside of my expertise though.

[2019-11-19 12:44] Zac-HD commented on #1891
@danielskatz - I think we're done, all boxes checked and we've merged the suggested wording change 😁

[2019-11-19 12:52] danielskatz commented on #1891
Thanks all - I'll continue the process, first checking the license issue, then proof-reading and addressing the final steps

[2019-11-19 12:54] danielskatz commented on #1891
👋 @arfon - Can you take a look at the license discussion here and the files in the repo and confirm that this is ok, or if not, suggest what changes need to be made?

[2019-11-19 12:55] danielskatz commented on #1891
@whedon generate pdf

[2019-11-19 12:55] whedon commented on #1891
[code]

[2019-11-19 12:55] whedon commented on #1891
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01891/joss.01891/10.21105.joss.01891.pdf)

[2019-11-19 12:56] pachamaltese commented on #1866
yes, I'm improving the documentation after those initial comments

[2019-11-19 12:56] danielskatz commented on #1891
👋 @arfon - Also, Is there any issue with the author list?

[2019-11-19 13:05] arfon commented on #1891
It's unconventional, but I think it's probably OK.

I also think this is OK.

[2019-11-19 13:07] danielskatz commented on #1891
@DRMacIver & @Zac-HD - regarding the wording in the paper:

- "lifts a major difficulty" is an odd phrase to me - could we uses resolves or addresses instead of lifts?

Also, please see https://github.com/HypothesisWorks/hypothesis/pull/2212

[2019-11-19 13:10] danielskatz commented on #1891
@whedon check references

[2019-11-19 13:10] whedon commented on #1891
[code]

[2019-11-19 13:10] whedon commented on #1891
[code]

[2019-11-19 14:25] Cadair commented on #1832
@arfon We would like to document how we have sorted our author list somewhere, in the name of transparency and clarity. Do you have any suggestions about where we should put that information?

[2019-11-19 15:56] SirSharpest commented on #1848
@meg-simula Could I ask to be removed as a reviewer? I have ethical concerns over this which make it so that I cannot be fully objective.

[2019-11-19 16:03] ha0ye commented on #1751
@junbinzhao - Great job! Thanks for your hard work in improving the package and responding to our reviews. I have a few minor suggestions to look into:
* increment the version number on the package :)
* as flagged by `goodpractice::gp()` replace `1:nrow(` with `seq_len(nrow(`. This helps avoid errors in the loop if the number of rows is 0.
* do a pass of `devtools::check()` to identify various fil

[2019-11-19 16:41] mirams commented on #1848
It would be good to get some clarification on this (I’m one of the authors of the Chaste paper).

As I understood it, the central motivation for a JOSS paper is to give all the authors that have contributed to a certain version of an open source scientific code some credit and citations for their work, and to provide a short summary of the capabilities and science the software has enabled.

We’ve

[2019-11-19 16:45] meg-simula commented on #1848
I will discuss the matter with the JOSS editorial board and get back to you all.

[2019-11-19 16:51] karthik commented on #1686
@whedon set v1.3.0 as version

[2019-11-19 16:51] whedon commented on #1686
OK. v1.3.0 is the version.

[2019-11-19 16:53] karthik commented on #1686
@hadley This would be a good time to archive on Zenodo and share the Zenodo DOI here. Since you have so many authors you should make sure that Zenodo lists them in order before finishing that step.

[2019-11-19 18:02] hadley commented on #1686
Is there any specific zenodo advice for JOSS or is it obvious what I should be doing?

One complexity is that the authors of the JOSS paper are the contributing authors across the entire tidyverse, as opposed to the single author (me) of the tidyverse package.

[2019-11-19 18:03] hadley commented on #1686
Or in the interests of simplicity, should I just add the authors of this paper to the tidyverse package?

[2019-11-19 18:12] whedon opened #1901 "[PRE REVIEW]: SHyP: an open source Scoreboard interface for displaying and comparing scores for Hydrometeorological Predictions"
**Submitting author:** @guillaume-irstea (<a href="http://orcid.org/0000-0002-1444-1830">Guillaume Thirel</a>)
**Repository:** <a href="https://github.com/hydroGR/SHyP" target ="_blank">https://github.com/hydroGR/SHyP</a>
**Version:** 2.4.1
**Editor:** @kbarnhart
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @guillaume-irstea. **Currently, there isn't an

[2019-11-19 18:12] whedon commented on #1901
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-19 18:12] whedon commented on #1901
[code]

[2019-11-19 18:12] whedon commented on #1901
[code]

[2019-11-19 18:13] whedon commented on #1901
[code]

[2019-11-19 18:13] whedon commented on #1901
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01901/joss.01901/10.21105.joss.01901.pdf)

[2019-11-19 18:17] karthik commented on #1686
Just the authors of this paper.

[2019-11-19 18:22] kthyng commented on #1901
Hi @guillaume-irstea. I have opened this pre-review issue to get things in order before we can review (this is standard).

I see your paper has descriptions of how SHyP is useful. Could you be specific about its research applications in particular, and what exactly SHyP does (as opposed to the software that it uses)?

[2019-11-19 18:24] whedon opened #1902 "[PRE REVIEW]: OrNet - a Python Toolkit to Model the Diffuse Structure of Organelles as Social Networks"
**Submitting author:** @Marcdh3 (<a href="http://orcid.org/0000-0002-9380-3181">Marcus Hill</a>)
**Repository:** <a href="https://github.com/quinngroup/ornet-JOSS" target ="_blank">https://github.com/quinngroup/ornet-JOSS</a>
**Version:** v0.1
**Editor:** @akeshavan
**Reviewers:** @serine, @vc1492a

**Author instructions**

Thanks for submitting your paper to JOSS @Marcdh3. **Currently, there isn'

[2019-11-19 18:24] whedon commented on #1902
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-19 18:24] whedon commented on #1902
[code]

[2019-11-19 18:24] whedon commented on #1902
[code]

[2019-11-19 18:25] whedon commented on #1902
[code]

[2019-11-19 18:25] whedon commented on #1902
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01902/joss.01902/10.21105.joss.01902.pdf)

[2019-11-19 18:27] kthyng commented on #1902
Hi @marcdh3! Can you look through this list and suggest some appropriate reviewers for your submission? It helps to have about 5 suggestions if possible.

Please fix the citations in your paper; you can find more details here: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2019-11-19 18:32] kthyng commented on #1902
Hi @akeshavan and welcome onboard! Would you be interested in editing this?

[2019-11-19 18:37] kthyng commented on #720
Hi @offray. We are working on being indexed by Scopus, though I believe it hasn't come through yet. (@arfon would know best.) Would that change things for you? If so, we could keep this submission open for now.

[2019-11-19 18:39] kthyng commented on #1609
Hi @artemyk (and @poulson) — is now a good time to move forward on your review?

[2019-11-19 18:41] kthyng commented on #1766
Hi @toph-allen how is your work coming along? Just a quick check in here.

[2019-11-19 18:42] kthyng commented on #1584
hi  @mikkonie! Have you had a chance to address comments from @olgabot?

[2019-11-19 18:46] kthyng commented on #1656
Hi @zhampel Please see comments above from @ornlpmcp in response to your review.

[2019-11-19 18:51] katyhuff commented on #1705
@whedon generate pdf

[2019-11-19 18:51] whedon commented on #1705
[code]

[2019-11-19 18:51] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-11-19 18:54] kthyng commented on #1820
Hi there @KaiWenger! I am taking over from here to get your paper finalized.

Please go to Zenodo and update the metadata associated with your submission so that the title and author list exactly match what is on your paper.

[2019-11-19 18:54] terrytangyuan commented on #1656
Just emailed the reviewers. Pinging @zhampel and @jrbourbeau here as well.

[2019-11-19 18:56] terrytangyuan commented on #1893
@mllg Thanks for the update. If you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2019-11-19 19:00] zhampel commented on #1656
@terrytangyuan I can review and update based on the authors' changes by the end of the week.

[2019-11-19 19:00] kthyng commented on #1820
I fixed a typo in the paper if you want to use the patch: https://github.com/KaiWenger/memochange/compare/master...kthyng:patch-1

[2019-11-19 19:39] majensen commented on #1837
Thanks @stulacy - I will have a look and make a rec within a couple days. (Sorry I have been slow to respond for a couple weeks)

[2019-11-19 19:45] mllg commented on #1893
After skimming through the list filtering for R as primary programming language and machine learning as topic, these seem to be potential reviewers (in no particular order):

@robohyun66
@osorensen
@expectopatronum
@nhejazi

[2019-11-19 19:59] terrytangyuan commented on #1893
👋 Hi @robohyun66 @osorensen @expectopatronum @nhejazi, if you would like to review this submission, please let us know here and we need at least two reviewers!

[2019-11-19 20:16] nhejazi commented on #1893
Looks quite interesting! Happy to provide a review if helpful.

[2019-11-19 20:21] hadley commented on #1686
Working on it now. While doing so I noticed that the citation you gave me is slightly off — it should be "Welcome to the tidyverse" not "Welcome to the Tidyverse"

[2019-11-19 20:26] artemyk commented on #1609
@kthyng Please ping me in 1 month.

[2019-11-19 20:41] mllg commented on #1893
I took the opportunity to make one last minor change to the article. I'm wondering if I can also trigger the bot to re-create the article proof?

@whedon generate pdf from branch joss

[2019-11-19 20:43] hadley commented on #1686
I have reserved 10.5281/zenodo.3547813, and will upload once I have re-assured myself this will definitely be the same as the version that appears on CRAN.

[2019-11-19 20:43] terrytangyuan commented on #1893
@mllg There will be plenty of opportunities to make changes through the process so don’t worry about generating the pdf for now. You should push your changes to main branch though.

[2019-11-19 20:46] osorensen commented on #1893
Yes, happy to review.

[2019-11-19 21:02] terrytangyuan commented on #1893
@whedon assign @osorensen as reviewer

[2019-11-19 21:02] whedon commented on #1893
OK, the reviewer is @osorensen

[2019-11-19 21:02] terrytangyuan commented on #1893
@whedon assign @nhejazi  as reviewer

[2019-11-19 21:02] whedon commented on #1893
OK, the reviewer is @nhejazi

[2019-11-19 21:02] terrytangyuan commented on #1893
@whedon start review

[2019-11-19 21:02] whedon opened #1903 "[REVIEW]: mlr3: A modern object-oriented machine learning framework in R"
**Submitting author:** @mllg (<a href="http://orcid.org/0000-0001-9754-0393">Michel Lang</a>)
**Repository:** <a href="https://github.com/mlr-org/mlr3" target ="_blank">https://github.com/mlr-org/mlr3</a>
**Version:** v0.1.5
**Editor:** @terrytangyuan
**Reviewers:** @nhejazi , @osorensen
**Archive:** <a href="https://doi.org/10.5281/zenodo.3569963" target="_blank">10.5281/zenodo.3569963</a>

## St

[2019-11-19 21:02] whedon commented on #1893
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1903. Feel free to close this issue now!

[2019-11-19 21:03] whedon commented on #1903
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nhejazi  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-11-19 21:03] whedon commented on #1903
[code]

[2019-11-19 21:03] whedon commented on #1903
[code]

[2019-11-19 21:03] whedon commented on #1903
[code]

[2019-11-19 21:03] terrytangyuan commented on #1893
@whedon add @osorensen as reviewer

[2019-11-19 21:03] whedon commented on #1903
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01903/joss.01903/10.21105.joss.01903.pdf)

[2019-11-19 21:03] whedon commented on #1893
OK, @osorensen is now a reviewer

[2019-11-19 21:03] mllg commented on #1893
I've moved the paper to the master branch.

[2019-11-19 21:04] terrytangyuan commented on #1903
@whedon add @osorensen as reviewer

[2019-11-19 21:04] whedon commented on #1903
OK, @osorensen is now a reviewer

[2019-11-19 21:04] #1893 closed

[2019-11-19 21:04] terrytangyuan commented on #1893
Thanks everyone for the quick responses. Please head over to #1903 for the review!

[2019-11-20 00:55] brmather commented on #1818
Hi all, I have progressed through the checklist and I find all the checklist items have been met. Aside from some installation issues, that have been rectified, I did not have any additional issues to raise because they were addressed by other reviewers. The API documentation is particularly rich :clap: As it stands, I consider `Telewavesim` to be a valuable tool for the community and ready for pu

[2019-11-20 01:10] DARSakthi commented on #1894
@Kevin-Mattheus-Moerman I believe you are responsible for initiating the actual review using Whedon, as per https://joss.readthedocs.io/en/latest/whedon.html#starting-the-review
Are we waiting for other reviewers?

[2019-11-20 01:45] paudetseis commented on #1818
Thanks @brmather !

[2019-11-20 07:37] simonom commented on #1879
And now the improved description of ode equations and related work has been included in the paper.  In addition, the README has been formatted @jedbrown.

[2019-11-20 08:17] JonasMoss commented on #1863
Thanks @MaaniBeigy

1. The way the license is done right now is similar to e.g. [dplyr](https://github.com/tidyverse/dplyr). I'm not sure I can change it since CRAN has asked me to do it in this way (i.e. two lines on `LICENSE` and a `LICENSE.md`) before.

2. Thanks. I think it should be left as it is though, see https://github.com/r-lib/devtools/issues/1327 for an explanation for the warning (whi

[2019-11-20 09:23] martinfleis commented on #1807
Hi @drvinceknight, do you think we'll be able to finish this review this week? I need to understand whether I can reference it elsewhere (and hence have an active doi) or not yet. Thanks!

[2019-11-20 10:38] Kevin-Mattheus-Moerman commented on #1894
@DARSakthi yes. However I'm hoping to attract a(nother) reviewer with biomechanics/force plate experience

[2019-11-20 10:49] guillaume-irstea commented on #1901
Hi @kthyng
Thanks for the feedback.

Regarding the proof, my only remark is about the figure. It does not appear very clearly. I would suggest rotating it by -90° and increasing its size.

The research applications of SHyP are example comparisons of the performance of different hydrological prediction systems. By hydrological prediction, I mean flood forecasts, drought forecasts, seasonal forecast

[2019-11-20 11:03] Kevin-Mattheus-Moerman commented on #1894
@modenaxe @demotu @jimmyDunne @anmuller @Ipuch @cpontonn would you be interested in reviewing this work for JOSS?

[2019-11-20 11:03] Kevin-Mattheus-Moerman commented on #1894
@whedon add @mwptrsn as reviewer

[2019-11-20 11:04] whedon commented on #1894
OK, @mwptrsn is now a reviewer

[2019-11-20 11:12] modenaxe commented on #1894
Hi @Kevin-Mattheus-Moerman I will have to pass this one, I am afraid.

[2019-11-20 11:38] drvinceknight commented on #1807
@whedon check references

[2019-11-20 11:38] whedon commented on #1807
[code]

[2019-11-20 11:39] whedon commented on #1807
[code]

[2019-11-20 11:44] drvinceknight commented on #1807
Yup, we should definitely be done by end of the week. Could you modify the archive metadata to match the paper. Specifically the title needs to be: `momepy: Urban Morphology Measuring Toolkit`

[2019-11-20 11:46] drvinceknight commented on #1811
Great, thanks.

It's all looking good to me now.

Could you make a tagged release and archive, and report the version number and archive DOI here (note that the archive title should match the paper title: `ComplexRegions.jl: A Julia package for regions in the complex plane`).

[2019-11-20 11:46] martinfleis commented on #1807
@drvinceknight Thank you. Archive edited to match: https://zenodo.org/record/3544609#.XdUnkS9OzOQ

[2019-11-20 11:49] drvinceknight commented on #1807
@whedon set 10.5281/zenodo.3544609 as archive

[2019-11-20 11:49] whedon commented on #1807
OK. <a href="https://doi.org/10.5281/zenodo.3544609" target="_blank">10.5281/zenodo.3544609</a> is the archive.

[2019-11-20 11:50] drvinceknight commented on #1807
@whedon set v0.1.0 as version

[2019-11-20 11:50] whedon commented on #1807
OK. v0.1.0 is the version.

[2019-11-20 11:51] drvinceknight commented on #1807
@openjournals/joss-eics this paper is ready to be accepted.

Thanks again to @geraintpalmer and @martibosch for your time and effort reviewing this work. :+1:

[2019-11-20 11:53] cpontonn commented on #1894
Hi @Kevin-Mattheus-Moerman I'm sorry but I am under water now and too busy  doing this review in a correct manner. Next time !

[2019-11-20 12:18] simonom commented on #1879
Finally, continuous integration using Travis-CI has been implemented, thanks @jedbrown .

[2019-11-20 13:23] trallard commented on #1680
HI yes @labarba I have tried finding other reviewers but have had no luck. Will make another recruiting effort this week.

[2019-11-20 13:23] trallard commented on #1680
@whedon remind @trallard in 3 days

[2019-11-20 13:23] whedon commented on #1680
Sorry, I can't set reminders on PRE-REVIEW issues.

[2019-11-20 13:33] danielskatz commented on #1891
@whedon generate pdf

[2019-11-20 13:33] whedon commented on #1891
[code]

[2019-11-20 13:34] whedon commented on #1891
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01891/joss.01891/10.21105.joss.01891.pdf)

[2019-11-20 13:57] MaaniBeigy commented on #1863
Hello @JonasMoss ,
Thank you,

1. Yes, it is true and personally acceptable to me. Just, I don't know whether this format is compatible with the criteria of JOSS, "Does the repository contain a plain-text LICENSE file with the contents of an OSI approved software license?". The two-line format which you have used (like `dplyr`) seems not to be an OSI approved license format. I believe @arfon may h

[2019-11-20 14:40] Marcdh3 commented on #1902
Hi @kthyng! Thank you for the quick response. Here are my reviewer suggestions:

- serine
- sonal-raj
- vc1492a
- camillescott
- nidhog

Also, I will be working on the citations now, and I'll update you once they are fixed.

[2019-11-20 14:46] KaiWenger commented on #1820
@whedon generate pdf

[2019-11-20 14:46] whedon commented on #1820
[code]

[2019-11-20 14:46] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-20 14:49] KaiWenger commented on #1820
Hi @kthyng :smiley:
We fixed the typo and updated our metadata at Zenodo :blush:
Thanks for pointing that out!

[2019-11-20 14:51] nmtimme commented on #1609
Hi All,

Just to be clear so no one is waiting on me, I'm not available to provide
this review. Thanks!

~Nick

On Tue, Nov 19, 2019, 3:26 PM Artemy Kolchinsky <notifications@github.com>
wrote:

[2019-11-20 15:03] junbinzhao commented on #1751
@ha0ye Thank you very much for testing the package and giving the comments! Here are how I revised the package:

1. I have changed the version to 0.2.0
2. `1:nrow()` are now all replaced by `seq_len(nrow())`
3. I did the `check` and incorporated all the suggestions. Now it has zero error, warning or notes.
4. I have changed `x()` to `dev.new()` according to the suggestion from the `check` report.

[2019-11-20 15:15] ha0ye commented on #1751
@junbinzhao, @arfon Looks great to me! 🎉 👍

[2019-11-20 17:06] danielskatz commented on #1891
@whedon generate pdf

[2019-11-20 17:06] whedon commented on #1891
[code]

[2019-11-20 17:06] whedon commented on #1891
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01891/joss.01891/10.21105.joss.01891.pdf)

[2019-11-20 17:08] tobydriscoll commented on #1811
It's v0.1.1, DOI is 10.5281/zenodo.3548866.

I hope it's all in order. Thanks!

[2019-11-20 17:18] vsoch commented on #1637
@labarba the authors have tests that work locally but not on CI (not automated), and have requested that the requirement is waived. This is below my personal standard and review criteria, but I do recognize they put some effort into trying. I won't check the automated tests box or close this issue, but I'll forward the final decision on to you.

[2019-11-20 17:23] hadley commented on #1686
Ok, published at https://zenodo.org/record/3547813#.XdV2nC3MzUI

[2019-11-20 17:25] sairamgeethanath commented on #1637
@labarba Pl. also refer our response: https://github.com/imr-framework/virtual-scanner/issues/38#issuecomment-556128982

[2019-11-20 17:31] arokem commented on #1637
I think that based on our [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) this falls in the "OK" category.

[2019-11-20 17:31] arokem commented on #1637
@whedon check references

[2019-11-20 17:32] whedon commented on #1637
[code]

[2019-11-20 17:32] arokem commented on #1637
@whedon generate pdf

[2019-11-20 17:32] whedon commented on #1637
[code]

[2019-11-20 17:33] whedon commented on #1637
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01637/joss.01637/10.21105.joss.01637.pdf)

[2019-11-20 17:34] whedon commented on #1637
[code]

[2019-11-20 17:40] karthik commented on #1686
@whedon set 10.5281/zenodo.3547813, as archive

[2019-11-20 17:40] whedon commented on #1686
OK. <a href="https://doi.org/10.5281/zenodo.3547813" target="_blank">10.5281/zenodo.3547813</a> is the archive.

[2019-11-20 17:48] karthik commented on #1686
This is ready to publish. Over you to @openjournals/joss-eics

[2019-11-20 17:51] arokem commented on #1637
@openjournals/joss-eics : I believe this paper is ready for your review for acceptance.

[2019-11-20 18:10] kthyng commented on #1807
Great! I have a few steps to run through now.

[2019-11-20 18:10] kthyng commented on #1807
@whedon accept

[2019-11-20 18:11] whedon commented on #1807
[code]

[2019-11-20 18:11] whedon commented on #1807
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1107

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1107, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-20 18:12] whedon commented on #1807
[code]

[2019-11-20 18:13] kthyng commented on #1807
@whedon accept deposit=true

[2019-11-20 18:14] whedon commented on #1807
[code]

[2019-11-20 18:14] whedon commented on #1807
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1197216711256223744) 👈 🐦🐦🐦

[2019-11-20 18:14] whedon commented on #1807
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1108
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01807](https://doi.org/10.21105/joss.01807)
2. If everything looks g

[2019-11-20 18:16] kthyng commented on #1820
Great!

[2019-11-20 18:16] kthyng commented on #1820
@whedon accept

[2019-11-20 18:16] whedon commented on #1820
[code]

[2019-11-20 18:16] whedon commented on #1820
[code]

[2019-11-20 18:16] whedon commented on #1820
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1109

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1109, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-20 18:17] kthyng commented on #1820
@whedon accept deposit=true

[2019-11-20 18:17] whedon commented on #1820
[code]

[2019-11-20 18:18] whedon commented on #1820
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1197217668778151937) 👈 🐦🐦🐦

[2019-11-20 18:18] whedon commented on #1820
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1110
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01820](https://doi.org/10.21105/joss.01820)
2. If everything looks g

[2019-11-20 18:20] kthyng commented on #1820
Congrats @KaiWenger on your newly published paper and thank you to reviewers @JonasMoss and @steffilazerte for your time and expertise reviewing, and @mbobra for editing. 🎉 🎉

[2019-11-20 18:20] #1820 closed

[2019-11-20 18:20] whedon commented on #1820
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01820/status.svg)](https://doi.org/10.21105/joss.01820)

**We need your help!**

Journal of Open Source Softwa

[2019-11-20 18:22] kthyng commented on #1807
Congrats on your newly published paper @martinfleis!!! Thanks to editor @drvinceknight and to reviewers @martibosch and @geraintpalmer for your time and expertise. 🎉 🎉

[2019-11-20 18:22] #1807 closed

[2019-11-20 18:22] whedon commented on #1807
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01807/status.svg)](https://doi.org/10.21105/joss.01807)

**We need your help!**

Journal of Open Source Softwa

[2019-11-20 18:47] arokem commented on #1727
👋 osolari : would you be willing to review this paper for JOSS?

[2019-11-20 18:48] arokem commented on #1727
:wave: @professoralkmin: would you be willing to review this paper for JOSS?

[2019-11-20 18:55] JonasMoss commented on #1820
Congratulatons @KaiWenger and @Janis410!

[2019-11-20 18:56] arokem commented on #1727
👋@osolari : would you be willing to review this paper for JOSS?

[2019-11-20 18:58] drvinceknight commented on #1811
@when set 10.5281/zenodo.3548866 as archive

[2019-11-20 18:58] drvinceknight commented on #1811
@whedon set 10.5281/zenodo.3548866 as archive

[2019-11-20 18:58] whedon commented on #1811
OK. <a href="https://doi.org/10.5281/zenodo.3548866" target="_blank">10.5281/zenodo.3548866</a> is the archive.

[2019-11-20 18:59] drvinceknight commented on #1811
@whedon set v0.1.1 as version

[2019-11-20 18:59] whedon commented on #1811
OK. v0.1.1 is the version.

[2019-11-20 18:59] osolari commented on #1727
Would be happy to! Would you please send me some guidelines? :-)

[2019-11-20 19:00] drvinceknight commented on #1811
@openjournals/joss-eics this paper is ready to be accepted :)

Thanks @dpsanders and @dlfivefifty again for your work reviewing the paper.

[2019-11-20 19:01] arokem commented on #1727
Thanks! The reviewer guidelines are [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2019-11-20 19:01] arokem commented on #1727
@whedon add  @osolari as reviewer

[2019-11-20 19:01] whedon commented on #1727
OK,  @osolari is now a reviewer

[2019-11-20 19:02] arokem commented on #1727
@whedon start review

[2019-11-20 19:02] whedon opened #1904 "[REVIEW]: FAT Forensics: A Python Toolbox for Implementing and Deploying Fairness, Accountability and Transparency Algorithms in Predictive Systems"
**Submitting author:** @So-Cool (<a href="http://orcid.org/0000-0002-9869-5896">Kacper Sokol</a>)
**Repository:** <a href="https://github.com/fat-forensics/fat-forensics" target ="_blank">https://github.com/fat-forensics/fat-forensics</a>
**Version:** 0.0.1
**Editor:** @arokem
**Reviewer:** @bernease, @osolari
**Archive:** <a href="https://doi.org/10.5281/zenodo.3833199" target="_blank">10.5281/ze

[2019-11-20 19:02] whedon commented on #1727
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1904. Feel free to close this issue now!

[2019-11-20 19:02] whedon commented on #1904
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bernease, @ @osolari it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-20 19:02] whedon commented on #1904
[code]

[2019-11-20 19:02] whedon commented on #1904
[code]

[2019-11-20 19:02] whedon commented on #1904
[code]

[2019-11-20 19:02] whedon commented on #1904
PDF failed to compile for issue #1904 with the following error:

 pandoc-citeproc: reference osolari not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.324 }

Looks like we failed to compile the PDF

[2019-11-20 19:03] arokem commented on #1727
OK - thanks @bernease and @osolari for taking this on! Your reviewer checklists are on issue #1904. Please feel free to post issues related to the review on the software repository and to tag me in if you have any questions. I'll close this issue now.

[2019-11-20 19:03] #1727 closed

[2019-11-20 19:35] professoralkmin commented on #1727
would be happy to do it! :)

Em qua, 20 de nov de 2019 3:56 PM, Ariel Rokem <notifications@github.com>
escreveu:

[2019-11-20 19:37] arokem commented on #1727
Thanks for the quick reply here, @professoralkmin : I think that we already have the requisite two reviewers, so you are off the hook. I'll call on you if we need another look. Thanks again.

[2019-11-20 19:43] zhampel commented on #1656
@ornlpmcp

**README**

Can you please remove unnecessary dollar signs `$` for examples of single lines? They useful when displaying full outputs based on runs, however, for single lines, they are unnecessary and a bit of a nuisance for copy/paste purposes ;)

There is a erroneous slash in the following line:
`Copy the following text into a new file and save it to data\iris_test_input.csv.`
Please

[2019-11-20 19:44] Marcdh3 commented on #1902
@whedon generate pdf

[2019-11-20 19:44] whedon commented on #1902
[code]

[2019-11-20 19:44] whedon commented on #1902
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01902/joss.01902/10.21105.joss.01902.pdf)

[2019-11-20 19:45] zingale commented on #1757
just checking in on this -- I think we are all in sync now, right?  Is there anything else we need to do?

[2019-11-20 19:47] Marcdh3 commented on #1902
@kthyng I believe we fixed the citations. Please let us know if there is anything else needing to be fixed.

[2019-11-20 20:50] jrbourbeau commented on #1656
Apologies to all for dropping the ball on my review. I will work through the reviewer checklist and open issues in the ASCENDS repository with any recommended changes.

At present, the primary missing piece I see is the lack of tests (please correct me if I'm missing something @ornlpmcp). There should be some set of tests that we can run to verify that the software is running as expected. Ideally,

[2019-11-20 20:53] danielskatz commented on #1891
@whedon generate pdf

[2019-11-20 20:53] whedon commented on #1891
[code]

[2019-11-20 20:53] whedon commented on #1891
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01891/joss.01891/10.21105.joss.01891.pdf)

[2019-11-20 20:54] danielskatz commented on #1891
@whedon accept

[2019-11-20 20:54] whedon commented on #1891
No archive DOI set. Exiting...

[2019-11-20 20:56] danielskatz commented on #1891
👋  @DRMacIver & @Zac-HD  - at this point, can you archive the software somewhere (e.g., Zenodo) and let me know the DOI.  Please be sure the metadata (title and authors) associated with the archive match the JOSS paper.

Also, if the version number has changed, please let me know the updated version associated with the archived software.

[2019-11-20 21:00] soodoku commented on #1821
good to go from my end. thanks @nfrerebeau for bearing with me.

[2019-11-20 21:00] Zac-HD commented on #1891
We've been archiving at https://doi.org/10.5281/zenodo.1412597 for a while now!  That's via the github integration though, so it automatically picks up all contributors (same two main authors though).

The version number has been bumped, but we're actually mid-automatic-release... give it half an hour and we'll be at 4.45.0 😁

[2019-11-20 21:11] arfon commented on #720
Still no news on this but we've not received a 'no'.

[2019-11-20 21:15] arfon commented on #1863
@JonasMoss - please move the contents of the `License.md` file to `LICENSE` too.

The current `LICENSE` file format is somewhat confusing and potentially clashes with the `License.md` contents (so let's just make them the same).

See [tidyverse](https://github.com/tidyverse/tidyverse) as an example of what to do here.

[2019-11-20 21:15] arfon commented on #1751
@whedon generate pdf

[2019-11-20 21:15] whedon commented on #1751
[code]

[2019-11-20 21:16] whedon commented on #1751
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01751/joss.01751/10.21105.joss.01751.pdf)

[2019-11-20 21:18] arfon commented on #1751
@junbinzhao - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the au

[2019-11-20 21:19] arfon commented on #1757
@whedon generate pdf

[2019-11-20 21:19] whedon commented on #1757
[code]

[2019-11-20 21:20] whedon commented on #1757
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01757/joss.01757/10.21105.joss.01757.pdf)

[2019-11-20 21:20] arfon commented on #1757
@doreenfan @zingale - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- Tha

[2019-11-20 21:40] shah314 commented on #1843
@jedbrown Can I change the name of the paper?

[2019-11-20 21:45] jedbrown commented on #1843
Yes.On Nov 20, 2019 14:40, Shalin Shah <notifications@github.com> wrote:@jedbrown Can I change the name of the paper?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-20 21:45] shah314 commented on #1843
@whedon generate pdf

[2019-11-20 21:45] whedon commented on #1843
[code]

[2019-11-20 21:46] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2019-11-20 21:47] shah314 commented on #1843
@jedbrown I have changed the name in the paper to the following:

JCOL: A Java package for solving the graph coloring problem

[2019-11-20 21:49] shah314 commented on #1843
@whedon commands

[2019-11-20 21:49] whedon commented on #1843
Here are some things you can ask me to do:

[code]

[2019-11-20 21:50] JonasMoss commented on #1863
@arfon @MaaniBeigy I have no problem changing the content of `LICENSE` for the paper release. But I will have to change it back when submitting the package to CRAN, as the CRAN policy demands `LICENSE` only contains two lines when the MIT license is specified in DESCRIPTION.

The CRAN policy is here: https://cran.r-project.org/web/licenses/MIT

I guess the point is that when you visit the CRAN sit

[2019-11-20 22:27] MLHale commented on #1620
Hi @cMadan - Thanks!

Here is the tagged release
https://github.com/MLHale/eyestream/releases/tag/1.1

[2019-11-20 22:42] MLHale commented on #1620
The Zenodo archive is available here:
10.5281/zenodo.3549022

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3549022.svg)](https://doi.org/10.5281/zenodo.3549022)

[2019-11-20 22:57] cMadan commented on #1620
@whedon set 1.1 as version

[2019-11-20 22:57] whedon commented on #1620
OK. 1.1 is the version.

[2019-11-20 22:57] cMadan commented on #1620
@whedon set 10.5281/zenodo.3549022 as archive

[2019-11-20 22:58] whedon commented on #1620
OK. <a href="https://doi.org/10.5281/zenodo.3549022" target="_blank">10.5281/zenodo.3549022</a> is the archive.

[2019-11-20 22:58] cMadan commented on #1620
@whedon accept

[2019-11-20 22:58] whedon commented on #1620
[code]

[2019-11-20 22:59] whedon commented on #1620
[code]

[2019-11-20 22:59] whedon commented on #1620
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1111

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1111, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-20 23:01] cMadan commented on #1620
@openjournals/joss-eics, I think we're all set to accept here!

[2019-11-20 23:06] MLHale commented on #1620
@cMadan - Thanks again for all of your help. I want to reiterate how awesome this review process has been. Seriously the most transparent, useful, and enjoyable review process I've seen.

I really like that reviewer feedback is so collaborative, can be incorporated into the work in near real-time, and then iterated on if the fix didn't address the feedback. This kind of process makes for a better

[2019-11-20 23:11] gdetor commented on #1839
@sjvrijn In reference to your previous comments that our last response did not yet address:

1. No, we don't have recommended hyperparameter settings because we feel there aren't general purpose recommendations that everybody can agree upon -- as much as that would constitute an ideal state of affairs. Appropriate settings would be somewhat dependent on the objective and the computing budget avail

[2019-11-21 00:40] zingale commented on #1757
Here's the Zenodo link: https://zenodo.org/record/3549070
DOI: http://doi.org/10.5281/zenodo.3549070

[2019-11-21 02:49] jedbrown commented on #1879
@whedon generate pdf

[2019-11-21 02:49] whedon commented on #1879
[code]

[2019-11-21 02:50] whedon commented on #1879
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01879/joss.01879/10.21105.joss.01879.pdf)

[2019-11-21 03:05] jedbrown commented on #1879
@josephhardinee @dhhagan @andreas-h :wave: Would you be available and interested in reviewing this submission for JOSS?

[2019-11-21 03:16] mbdemoraes commented on #1814
@VivianePons , given the trouble to find a suitable reviewer for this paper, I would like to check a possibility. There is someone, Andrés Bueno Barajas, who has a master's degree in Technology, focused on data streams and concept drift. He is experienced with the Massive Online Analysis framework. I have not suggested Andrés before because I've read JOSS Conflict of Interest and Andres has one pu

[2019-11-21 05:03] gabersyd commented on #1797
@whedon commands

[2019-11-21 05:03] whedon commented on #1797
Here are some things you can ask me to do:

[code]

[2019-11-21 05:46] andreas-h commented on #1879
Yes can do that if it is acceptable that it will take me until the end of the year to properly do it.

[2019-11-21 06:52] arfon commented on #1757
@whedon set 10.5281/zenodo.3549070 as archive

[2019-11-21 06:52] whedon commented on #1757
OK. <a href="https://doi.org/10.5281/zenodo.3549070" target="_blank">10.5281/zenodo.3549070</a> is the archive.

[2019-11-21 06:52] arfon commented on #1757
@whedon accept

[2019-11-21 06:52] whedon commented on #1757
[code]

[2019-11-21 06:52] whedon commented on #1757
[code]

[2019-11-21 06:53] whedon commented on #1757
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1112

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1112, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-21 06:54] arfon commented on #1757
@whedon accept deposit=true

[2019-11-21 06:55] whedon commented on #1757
[code]

[2019-11-21 06:55] whedon commented on #1757
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1197408270069239808) 👈 🐦🐦🐦

[2019-11-21 06:55] whedon commented on #1757
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1113
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01757](https://doi.org/10.21105/joss.01757)
2. If everything looks g

[2019-11-21 07:01] arfon commented on #1757
@tukss, @pgrete - many thanks for your reviews here ✨

@zingale - I forgot to ask for the AAS DOI before accepting this so while the JOSS paper is accepted and published we'll need to add the AAS metadata to the submission too when we have it.

@crawfordsm - is the AAS paper accepted yet? If so, do we know what the DOI is?

[2019-11-21 07:04] whedon opened #1905 "[PRE REVIEW]: alignparse: A Python package for parsing complex features from high-throughput long-read sequencing"
**Submitting author:** @jbloom (<a href="http://orcid.org/0000-0003-1267-3408">Jesse Bloom</a>)
**Repository:** <a href="https://github.com/jbloomlab/alignparse" target ="_blank">https://github.com/jbloomlab/alignparse</a>
**Version:** 0.1.0
**Editor:** @will-rowe
**Reviewers:** @bede, @afrubin

**Author instructions**

Thanks for submitting your paper to JOSS @jbloom. **Currently, there isn't an

[2019-11-21 07:04] whedon commented on #1905
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-21 07:04] whedon commented on #1905
[code]

[2019-11-21 07:04] whedon commented on #1905
[code]

[2019-11-21 07:05] whedon commented on #1905
[code]

[2019-11-21 07:05] arfon commented on #1905
:wave: @will-rowe - the submitting authors suggested you as the handling editor - would you be willing to take this one?

[2019-11-21 07:05] whedon commented on #1905
PDF failed to compile for issue #1905 with the following error:

 Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\ttl@assign@i {\@tempskipb }}\reserved@a
l.406 ...arse works}}\label{how-alignparse-works}}

Looks like we failed to compile the PDF

[2019-11-21 07:08] doreenfan commented on #1757
The AAS paper has been accepted, but I'm not sure what the DOI is.

[2019-11-21 07:14] khdusenbury commented on #1905
@whedon generate pdf

[2019-11-21 07:14] whedon commented on #1905
[code]

[2019-11-21 07:15] whedon commented on #1905
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01905/joss.01905/10.21105.joss.01905.pdf)

[2019-11-21 08:32] junbinzhao commented on #1751
@ha0ye Thank you so much again! I really appreciate your practical suggestions and I learnt a lot!

[2019-11-21 08:45] DRMacIver commented on #1891
Ah this is something I meant to mention. Hypothesis versioning is very "If you don't like this version number, wait half an hour and there will be a new one" because of our automated release system. We've got a strong backwards compatibility policy and not much in this paper depends on the specific version, but I wonder if there's some way we could indicate that the paper is true of a version rang

[2019-11-21 09:02] stfbnc commented on #1828
@ali-ramadhan @ashwinvis Sorry for the late reply. I have updated the repository. Requirements are now specified, along with the new installation guidelines. I have also added:
 - automated tests on Travis CI
 - readthedocs documentation
 - contributing guidelines

[2019-11-21 09:06] stfbnc commented on #1828
Code coverage is by now 0%, but only because the package is written in cython and not python. I'm still trying to figure out how to make `codecov` consider also `.pyx` or `.so` files.

[2019-11-21 09:17] ulvgard commented on #1894
What is the deadline for submitting a review?

[2019-11-21 09:22] will-rowe commented on #1905
Sounds cool - I'd be happy to.

[2019-11-21 09:22] will-rowe commented on #1905
@whedon assign @will-rowe as editor

[2019-11-21 09:22] whedon commented on #1905
OK, the editor is @will-rowe

[2019-11-21 09:24] will-rowe commented on #1831
Hi @richardjgowers - just checking in. Please let us know when you've had chance to look at the changes and see if we can tick off the remaining boxes on the checklist.

[2019-11-21 09:38] junbinzhao commented on #1751
@arfon Thank you! I have now created a new release and archived the package in Zenodo (DOI: 10.5281/zenodo.3549398). I also went through the paper again and added some funding sources and made a few edits. Please let me know how I can proceed from here.

[2019-11-21 09:44] arfon commented on #1751
@whedon set 10.5281/zenodo.3549398 as archive

[2019-11-21 09:44] whedon commented on #1751
OK. <a href="https://doi.org/10.5281/zenodo.3549398" target="_blank">10.5281/zenodo.3549398</a> is the archive.

[2019-11-21 09:45] arfon commented on #1751
@whedon accept

[2019-11-21 09:45] whedon commented on #1751
[code]

[2019-11-21 09:45] whedon commented on #1751
[code]

[2019-11-21 09:45] whedon commented on #1751
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1114

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1114, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-21 09:50] VivianePons commented on #1814
That sounds like a good idea. I am ok with it if the reviewer himself feels he can do it. The JOSS policy does not forbid that, it only states that the conflict should be acknowledged so that the editor can decide. In this case, I think it is find especially as we also have a second reviewer.

[2019-11-21 09:55] arfon commented on #1751
@junbinzhao - I have made a couple of small stylistic changes here: https://github.com/junbinzhao/FluxCalR/pull/4

[2019-11-21 10:00] will-rowe commented on #1905
Hey @bede - would you be willing to review this?

[2019-11-21 10:01] junbinzhao commented on #1751
@arfon Thanks. Looks good to me!

[2019-11-21 10:11] bede commented on #1905
@will-rowe Yes, happy to review.

[2019-11-21 10:12] will-rowe commented on #1905
awesome - thanks @bede

[2019-11-21 10:12] will-rowe commented on #1905
@whedon assign @bede as reviewer

[2019-11-21 10:12] whedon commented on #1905
OK, the reviewer is @bede

[2019-11-21 10:30] arfon commented on #1751
@whedon accept

[2019-11-21 10:30] whedon commented on #1751
[code]

[2019-11-21 10:30] whedon commented on #1751
[code]

[2019-11-21 10:30] whedon commented on #1751
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1115

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1115, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-21 10:35] arfon commented on #1751
@whedon generate pdf

[2019-11-21 10:35] whedon commented on #1751
[code]

[2019-11-21 10:35] whedon commented on #1751
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01751/joss.01751/10.21105.joss.01751.pdf)

[2019-11-21 10:39] arfon commented on #1751
@whedon accept

[2019-11-21 10:39] whedon commented on #1751
[code]

[2019-11-21 10:39] whedon commented on #1751
[code]

[2019-11-21 10:39] whedon commented on #1751
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1116

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1116, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-21 10:40] arfon commented on #1751
@whedon accept deposit=true

[2019-11-21 10:40] whedon commented on #1751
[code]

[2019-11-21 10:41] whedon commented on #1751
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1197464995367456768) 👈 🐦🐦🐦

[2019-11-21 10:41] whedon commented on #1751
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1117
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01751](https://doi.org/10.21105/joss.01751)
2. If everything looks g

[2019-11-21 10:43] arfon commented on #1751
@jhollist, @ha0ye - many thanks for your reviews here ✨

@junbinzhao - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-11-21 10:43] #1751 closed

[2019-11-21 10:43] whedon commented on #1751
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01751/status.svg)](https://doi.org/10.21105/joss.01751)

**We need your help!**

Journal of Open Source Softwa

[2019-11-21 10:55] junbinzhao commented on #1751
@arfon @jhollist @ha0ye Thank you all again! All the best!

[2019-11-21 11:21] benjaminbolling commented on #1858
Dear all,

I wonder which reviewers have experience with Python and PyQt?

[2019-11-21 11:21] Kevin-Mattheus-Moerman commented on #1894
@ulvgard there is no fixed deadline but we like to suggest 2 weeks.

[2019-11-21 12:24] bede commented on #1905
@will-rowe I await you hitting the `start review` button : )

[2019-11-21 12:25] will-rowe commented on #1905
ha - give me a bit longer, just chasing up a second reviewer

[2019-11-21 12:27] arfon commented on #1832
Something like this will allow you to have a footnote in the paper: https://github.com/sunpy/sunpy/compare/joss_paper...arfon:patch-1

[2019-11-21 12:29] jbloom commented on #1905
@will-rowe: Thanks so much for getting this started quickly. If you still want us to suggest additional reviewers, here are a few possibilities *not* on the JOSS list:
- [Martin Kircher](https://www.bihealth.org/en/research/research-groups/martin-kircher/)
- [Ben Murrell](https://ki.se/en/mtc/benjamin-murrell-research-project)

And a suggestion from the JOSS list is `afrubin`.

[2019-11-21 12:37] dhhagan commented on #1879
Yup - I could fit this in next week sometime if that's alright.

[2019-11-21 13:02] will-rowe commented on #1905
Thanks @jbloom. The other reviewer I was thinking can't manage this at the moment, so let's try some of your suggestions!

[2019-11-21 13:02] will-rowe commented on #1905
Hi @afrubin - would be able to review this submission?

[2019-11-21 13:11] danielskatz commented on #1891
We need the DOI of a single version of the code, and the corresponding version number.

I suggest we use http://doi.org/10.5281/zenodo.3548997 and version 4.45.0

Ok?

[2019-11-21 13:14] danielskatz commented on #1814
As a JOSS Associate-Editor-in-Chief, I think this depends on the details of the co-authored paper. For example: When was it published, and when was the work done? How many authors were there? Did they work closely together? Do they still work together?

[2019-11-21 13:15] Zac-HD commented on #1891
That's as good as anything else 😁

[2019-11-21 13:21] danielskatz commented on #1891
@whedon set 4.45.0 as version

[2019-11-21 13:21] whedon commented on #1891
OK. 4.45.0 is the version.

[2019-11-21 13:21] danielskatz commented on #1891
@whedon set 10.5281/zenodo.3548997 as archive

[2019-11-21 13:22] whedon commented on #1891
OK. <a href="https://doi.org/10.5281/zenodo.3548997" target="_blank">10.5281/zenodo.3548997</a> is the archive.

[2019-11-21 13:22] danielskatz commented on #1891
@whedon accept

[2019-11-21 13:22] whedon commented on #1891
[code]

[2019-11-21 13:22] whedon commented on #1891
[code]

[2019-11-21 13:22] whedon commented on #1891
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1118

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1118, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-21 13:33] danielskatz commented on #1891
👋 @arfon - in the generated xml file, I see
```<unstructured_citation>In Praise of Property-Bsed Testing, ://increment.com/testing/in-praise-of-property-based-testing/, 2019, MacIver, David R.</unstructured_citation>```  I realize there's an ```a``` missing in the title, but the URL starting with ```://``` also seems odd - is this what is supposed to be in the XML?  (the URL in the pdf is fine)

[2019-11-21 13:51] melissawm commented on #1860
Hello @tomalrussell , do you have suggestions for reviewers for your paper?

[2019-11-21 13:53] melissawm commented on #1873
Thank you for responding, @ChrisRackauckas ! I'll try to ask someone else then.

@jarvist if you prefer we can contact someone else, just let me know.

@kirui93 do you have suggestions for reviewers?

[2019-11-21 13:55] melissawm commented on #1871
If @klho is ok with this time frame, I don't see a problem! Please let me know and I can start the review issue.

[2019-11-21 14:15] jimmyDunne commented on #1894
I won't be able to review, busy time of year. Thanks, @Kevin-Mattheus-Moerman .

[2019-11-21 14:21] kirui93 commented on #1873
Hello @melissawm ,
Thank you for this opportunity to suggest the reviewers.
In terms of area of expertise, I would suggest @juliohm, @taqtiqa-mark , @dpsanders and @matbesancon from this [list of potential reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)

Thank you.

[2019-11-21 14:29] juliohm commented on #1873
Thank you guys for pinging my name. I'd happy to review the article over the week. Very interesting package 💯 .

[2019-11-21 14:32] matbesancon commented on #1873
Hi, I'm available and happy to review this paper

[2019-11-21 14:36] mbdemoraes commented on #1814
@danielskatz, the paper was published at the beginning of this year (2019) on a Brazilian journal, "Revista Brasileira de Computação Aplicada", but it refers to a work completed at the end of 2017. Andrés is a former student of University Campinas (not related to André Gradvohl), who helped a former André Gradvohl's thesis student, Luis F. Grim (the main author of the referred paper), in the pract

[2019-11-21 14:41] danielskatz commented on #1814
@mbdemoraes - thanks - this indeed seems like a conflict that could be waived

[2019-11-21 14:47] tomalrussell commented on #1860
Just looking through the JOSS reviewers list - perhaps @potterzot or @nmstreethran would be interested and available?

[2019-11-21 14:53] arfon commented on #1891
@danielskatz - this looks like a bug. Let's use Whedon to deposit metadata with Crossref here and I'll file a bug to investigate later.

[2019-11-21 14:54] gradvohl commented on #1814
@danielskatz - Thank you for understanding. If you need more information, I am available to clarify and make the process as transparent as possible.

[2019-11-21 14:56] JonasMoss commented on #1863
@MaaniBeigy Hi again! I lightly modified your `CONTRIBUTING.md` in the [`CONTRIBUTING.md`](https://github.com/JonasMoss/univariateML/blob/master/CONTRIBUTING.md) for `univariateML`. I hope this is okay!

[2019-11-21 15:00] nevrome commented on #1899
@whedon generate pdf

[2019-11-21 15:00] whedon commented on #1899
[code]

[2019-11-21 15:01] whedon commented on #1899
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01899/joss.01899/10.21105.joss.01899.pdf)

[2019-11-21 15:03] danielskatz commented on #1891
ok, will proceed once the missing a PR is merged

[2019-11-21 15:52] seanpue commented on #1717
Thanks again @vc1492a  @rlskoeser Do you think you'll get a chance to review the changes?  I believe I have addressed your concerns.

[2019-11-21 15:59] vc1492a commented on #1717
@seanpue See the above comment, I reviewed the changes 13 days ago and they look goof to me.

[2019-11-21 16:01] seanpue commented on #1717
Saw that but forgot the !. Thanks @vc1492a!

[2019-11-21 16:02] klho commented on #1871
No problem on my end -- thanks!

[2019-11-21 16:14] danielskatz commented on #1891
@whedon generate pdf

[2019-11-21 16:14] whedon commented on #1891
[code]

[2019-11-21 16:15] whedon commented on #1891
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01891/joss.01891/10.21105.joss.01891.pdf)

[2019-11-21 16:15] danielskatz commented on #1891
@whedon accept

[2019-11-21 16:15] whedon commented on #1891
[code]

[2019-11-21 16:16] whedon commented on #1891
[code]

[2019-11-21 16:16] whedon commented on #1891
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1119

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1119, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-21 16:19] danielskatz commented on #1891
@whedon accept deposit=true

[2019-11-21 16:19] whedon commented on #1891
[code]

[2019-11-21 16:20] danielskatz commented on #1891
👋 @luizirber & @djmitche - thanks for doing your reviews quite quickly, and sorry for all the extra later traffic on this thread

[2019-11-21 16:20] whedon commented on #1891
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1197550328180285443) 👈 🐦🐦🐦

[2019-11-21 16:20] whedon commented on #1891
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1120
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01891](https://doi.org/10.21105/joss.01891)
2. If everything looks g

[2019-11-21 16:21] danielskatz commented on #1891
👋 @DRMacIver & @Zac-HD - thanks for being quite responsive, and congratulations on your publication!

(We'll close this issue shortly)

[2019-11-21 16:22] danielskatz commented on #1891
👋 @arfon - can you please check/fix the crossref xml data related to the url of the citation we discussed above?

[2019-11-21 16:26] danielskatz commented on #1891
👋 @arfon - I'm going to close this now, but feel free to reopen it if you need to re the crossref issue

[2019-11-21 16:26] #1891 closed

[2019-11-21 16:26] whedon commented on #1891
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01891/status.svg)](https://doi.org/10.21105/joss.01891)

**We need your help!**

Journal of Open Source Softwa

[2019-11-21 16:36] rlskoeser commented on #1717
I apologize for the delay. Changes look good to me.

[2019-11-21 16:50] nmstreethran commented on #1860
Hello @tomalrussell, I would be happy to review your paper.

[2019-11-21 16:55] SwathiSheshadri commented on #1849
Thank you very much @sreschechtko for your time as well as for giving us detailed and very constructive review comments. We are very happy to hear that the code ran for you for the demo as well as for your own data. We will work on the issues you have raised at the repository and write back to you here.

[2019-11-21 17:04] melissawm commented on #1871
Great! I'll open the review issue and will be around if you have any questions. You can start the review whenever you're ready. Thanks!

[2019-11-21 17:05] melissawm commented on #1871
@whedon assign @sivaramambikasaran as reviewer

[2019-11-21 17:05] whedon commented on #1871
OK, the reviewer is @sivaramambikasaran

[2019-11-21 17:05] melissawm commented on #1871
@whedon add @pitsianis as reviewer

[2019-11-21 17:06] whedon commented on #1871
OK, @pitsianis is now a reviewer

[2019-11-21 17:06] melissawm commented on #1871
@whedon start review

[2019-11-21 17:06] whedon opened #1906 "[REVIEW]: FLAM: Fast Linear Algebra in MATLAB"
**Submitting author:** @klho (<a href="http://orcid.org/0000-0001-5450-4966">Kenneth L. Ho</a>)
**Repository:** <a href="https://github.com/klho/FLAM" target ="_blank">https://github.com/klho/FLAM</a>
**Version:** v1.1.0 (will update on completion)
**Editor:** @melissawm
**Reviewers:** @sivaramambikasaran, @pitsianis, @vijaysm
**Archive:** <a href="https://doi.org/10.5281/zenodo.3930385" target="_

[2019-11-21 17:06] whedon commented on #1871
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1906. Feel free to close this issue now!

[2019-11-21 17:06] whedon commented on #1906
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sivaramambikasaran, @pitsianis it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-11-21 17:06] whedon commented on #1906
[code]

[2019-11-21 17:06] whedon commented on #1906
[code]

[2019-11-21 17:06] #1871 closed

[2019-11-21 17:07] whedon commented on #1906
[code]

[2019-11-21 17:07] whedon commented on #1906
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01906/joss.01906/10.21105.joss.01906.pdf)

[2019-11-21 17:54] StephanStock commented on #1771
@whedon generate pdf

[2019-11-21 17:54] whedon commented on #1771
[code]

[2019-11-21 17:55] whedon commented on #1771
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01771/joss.01771/10.21105.joss.01771.pdf)

[2019-11-21 18:13] StephanStock commented on #1771
@whedon generate pdf

[2019-11-21 18:13] whedon commented on #1771
[code]

[2019-11-21 18:14] whedon commented on #1771
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01771/joss.01771/10.21105.joss.01771.pdf)

[2019-11-21 18:18] StephanStock commented on #1771
@Juanlu001 thank you for the review and positive feedback.

@xuanxu we have taken the reviews into account and marked changes in bold in the new paper.md file.

1. We will include a git tag when the paper is accepted and define version 1.0.0
as the version which was accepted.

2. Regarding the request for automated testing, we think that this is not feasible for our script
for the moment. The prov

[2019-11-21 19:04] kbarnhart commented on #1818
@whedon generate pdf

[2019-11-21 19:04] whedon commented on #1818
[code]

[2019-11-21 19:04] kbarnhart commented on #1818
@whedon check references

[2019-11-21 19:04] whedon commented on #1818
[code]

[2019-11-21 19:04] whedon commented on #1818
[code]

[2019-11-21 19:04] whedon commented on #1818
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01818/joss.01818/10.21105.joss.01818.pdf)

[2019-11-21 19:09] StephanStock commented on #1771
@whedon generate pdf

[2019-11-21 19:09] whedon commented on #1771
[code]

[2019-11-21 19:10] whedon commented on #1771
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01771/joss.01771/10.21105.joss.01771.pdf)

[2019-11-21 19:23] kbarnhart commented on #1818
@seisman @brmather @andreww thank you all for your reviews. As part of the JOSS review process, can you please confirm your recommendation to accept the submission.

[2019-11-21 19:41] kthyng commented on #1637
Hi @imr-framework! Please archive your work in something like Zenodo and report the doi back here.

[2019-11-21 19:46] seisman commented on #1818
@kbarnhart I recommend to accept this submission.

[2019-11-21 19:47] kthyng commented on #1637
Another note: Your paper looks good, but the capitalization in your references is off. When you want to preserve capitalization in bibtex references, you can add {} around the word or phrase. For example, I see "nmr" several times and I believe this should be capitalized. You can preserve that with {NMR} in the bibtex entry.  Could you go through your references and make sure they come through to

[2019-11-21 19:48] kthyng commented on #1609
Hi @nmtimme understood. At this point we just need one more reviewer, but thank you for clarifying!

[2019-11-21 19:49] kthyng commented on #1609
@whedon remind @artemyk in 4 weeks

[2019-11-21 19:49] whedon commented on #1609
@artemyk doesn't seem to be a reviewer or author for this submission.

[2019-11-21 19:49] kthyng commented on #1609
@whedon add @artemyk as reviewer

[2019-11-21 19:49] whedon commented on #1609
OK, @artemyk is now a reviewer

[2019-11-21 19:50] kthyng commented on #1609
@whedon remove @Autoplectic as reviewer

[2019-11-21 19:51] whedon commented on #1609
OK, @Autoplectic is no longer a reviewer

[2019-11-21 19:52] kthyng commented on #1609
@whedon remind @artemyk in 4 weeks

[2019-11-21 19:52] whedon commented on #1609
Reminder set for @artemyk in 4 weeks

[2019-11-21 19:53] kthyng commented on #1609
To summarize for future us:
I've removed one previous reviewer and replaced with @artemyk who plans to review in 4 weeks.

[2019-11-21 20:20] tonggehua commented on #1637
@whedon generate pdf

[2019-11-21 20:20] whedon commented on #1637
[code]

[2019-11-21 20:21] whedon commented on #1637
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01637/joss.01637/10.21105.joss.01637.pdf)

[2019-11-21 20:26] potterzot commented on #1860
@tomalrussell I would also be happy to review your paper, thanks!

[2019-11-21 20:30] tonggehua commented on #1637
@whedon generate pdf

[2019-11-21 20:31] whedon commented on #1637
[code]

[2019-11-21 20:32] whedon commented on #1637
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01637/joss.01637/10.21105.joss.01637.pdf)

[2019-11-21 20:36] kthyng commented on #1620
Hi @MLHale I've made some tweaks to your paper.md and paper.bib to improve spacing around the references and preserve capitalization (mostly). Please merge PRs [11](https://github.com/MLHale/eyestream/pull/11) and [12](https://github.com/MLHale/eyestream/pull/12) if you please.

[2019-11-21 20:38] kthyng commented on #720
Perhaps we could do something like pause this submission if it would be fine once we are indexed on Scopus. @offray what do you think?

[2019-11-21 20:43] kthyng commented on #1902
@whedon add @akeshavan as editor

[2019-11-21 20:45] kthyng commented on #1902
(@akeshavan approved by email)

[2019-11-21 20:55] kthyng commented on #1811
@tobydriscoll Hi! I am taking over from here. I made a few changes to your paper so there are not parentheses around references if they are meant to be inline instead. The PR is [here](https://github.com/complexvariables/ComplexRegions.jl/pull/5) and if you agree with it please merge.

[2019-11-21 20:59] kthyng commented on #1686
@whedon accept

[2019-11-21 20:59] whedon commented on #1686
[code]

[2019-11-21 20:59] whedon commented on #1686
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1121

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1121, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-21 20:59] whedon commented on #1686
[code]

[2019-11-21 21:04] kthyng commented on #1686
@whedon accept deposit=true

[2019-11-21 21:04] whedon commented on #1686
[code]

[2019-11-21 21:05] whedon commented on #1686
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1197622091178221570) 👈 🐦🐦🐦

[2019-11-21 21:05] whedon commented on #1686
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1122
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01686](https://doi.org/10.21105/joss.01686)
2. If everything looks g

[2019-11-21 21:06] sjvrijn commented on #1839
@gdetor Thanks for the thorough updates and replies :+1: I have now been able to install and run all examples without any issues.

A final reply regarding the hyperparameter recommendations: I can completely understand your reason there, so I guess the demo configurations will have to suffice for anyone without too much knowledge about (island model) GA's :slightly_smiling_face:

@majensen This co

[2019-11-21 21:06] 0todd0000 commented on #1870
I'm writing to request a status update... it has been 2 weeks since the review has started, but there has been activity from the reviewers in neither this thread, nor in the target repository, so I'm growing concerned that they may have not been properly added as reviewers. Please confirm that they they have indeed been added.

[2019-11-21 21:10] kthyng commented on #1686
We're just waiting now for the DOI to resolve, should be any minute. In the meantime, congrats to @hadley and the other authors on your new paper!! Thanks to @karthik for editing and for the time and expertise of our reviewers, @ldecicco-USGS and @jeffreyhanson. 🎉 🎉

[2019-11-21 21:12] MLHale commented on #1620
@kthyng Thanks for these improvements. I just accepted the PRs.

[2019-11-21 21:13] kthyng commented on #1870
Hi @0todd0000. I see that @melund checked boxes in the review above 7 days ago, so that reviewer was successfully added.

[2019-11-21 21:16] kthyng commented on #1620
@whedon generate pdf

[2019-11-21 21:16] whedon commented on #1620
[code]

[2019-11-21 21:17] whedon commented on #1620
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01620/joss.01620/10.21105.joss.01620.pdf)

[2019-11-21 21:18] kthyng commented on #1620
Ok looks good!

[2019-11-21 21:19] kthyng commented on #1620
@whedon accept

[2019-11-21 21:19] whedon commented on #1620
[code]

[2019-11-21 21:19] whedon commented on #1620
[code]

[2019-11-21 21:19] whedon commented on #1620
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1123

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1123, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-21 21:22] kthyng commented on #1620
@whedon accept deposit=true

[2019-11-21 21:22] whedon commented on #1620
[code]

[2019-11-21 21:23] whedon commented on #1620
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1197626687267184645) 👈 🐦🐦🐦

[2019-11-21 21:23] whedon commented on #1620
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1124
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01620](https://doi.org/10.21105/joss.01620)
2. If everything looks g

[2019-11-21 21:26] kthyng commented on #1811
@whedon generate pdf

[2019-11-21 21:26] whedon commented on #1811
[code]

[2019-11-21 21:27] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-21 21:30] kthyng commented on #1686
And it's all there now! Congrats again!

[2019-11-21 21:30] #1686 closed

[2019-11-21 21:30] whedon commented on #1686
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01686/status.svg)](https://doi.org/10.21105/joss.01686)

**We need your help!**

Journal of Open Source Softwa

[2019-11-21 21:32] kthyng commented on #1620
Congrats to @MLHale on your new paper! Thanks to editor @cMadan and reviewers @RingoHHuang and @adswa — we wouldn't be here without you!

[2019-11-21 21:32] #1620 closed

[2019-11-21 21:32] whedon commented on #1620
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01620/status.svg)](https://doi.org/10.21105/joss.01620)

**We need your help!**

Journal of Open Source Softwa

[2019-11-21 21:34] kthyng commented on #1637
great, @tonggehua, this looks better. Report it back here when you have your Zenodo archive.

[2019-11-21 21:36] kthyng commented on #1811
Also a [PR](https://github.com/complexvariables/ComplexRegions.jl/pull/6) for spacing I missed before.

[2019-11-21 21:39] kthyng commented on #1901
Ok, thanks for that helpful information.

It would be great if your docs and other files did not include .docx since that is proprietary and doesn't look necessary (at least in the Instructions.docx file I looked at). Typically people will have something like markdown/rst files, Jupyter notebooks, or docs from Sphinx instead for their docs.

Do you have a way to test your code, or at least a way f

[2019-11-21 21:43] kthyng commented on #1901
Regarding the article proof, you control how the figure looks. It looks rightside up to me, and you're right maybe it could be magnified a bit into the area of interest if you want to focus on something. You can just edit the image file itself to change it.

[2019-11-21 21:47] kthyng commented on #1811
@whedon generate pdf

[2019-11-21 21:47] whedon commented on #1811
[code]

[2019-11-21 21:48] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-21 21:55] kthyng commented on #1811
@whedon accept

[2019-11-21 21:55] whedon commented on #1811
[code]

[2019-11-21 21:55] whedon commented on #1811
[code]

[2019-11-21 21:55] whedon commented on #1811
PDF failed to compile for issue #1811 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e13363a737a/lib/whedon/bibtex_parser.rb:74:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e13363a737a/lib/whedon/bibtex_parser.rb:61:in `make_citation'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2019-11-21 21:57] kthyng commented on #1811
hmm, almost done but need to see what the problem is here. @arfon can you help here?

[2019-11-21 22:01] karthik commented on #1686
Congrats Tidyverse team! 🎉 🎈

https://joss.theoj.org/papers/10.21105/joss.01686

[2019-11-21 22:02] whedon opened #1907 "[PRE REVIEW]: CaPS: Casimir Effect in the Plane-Sphere Geometry"
**Submitting author:** @michael-hartmann (<a href="http://orcid.org/0000-0002-9245-8582">Michael Hartmann</a>)
**Repository:** <a href="https://github.com/michael-hartmann/caps/" target ="_blank">https://github.com/michael-hartmann/caps/</a>
**Version:** 0.5
**Editor:** @danielskatz
**Reviewers:** @eschnett, @jwuttke

**Author instructions**

Thanks for submitting your paper to JOSS @michael-hartm

[2019-11-21 22:02] whedon commented on #1907
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-21 22:02] whedon commented on #1907
[code]

[2019-11-21 22:02] whedon commented on #1907
[code]

[2019-11-21 22:03] whedon commented on #1907
[code]

[2019-11-21 22:03] whedon commented on #1907
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01907/joss.01907/10.21105.joss.01907.pdf)

[2019-11-21 22:05] kthyng commented on #1907
Hi @michael-hartmann and thanks for your submission. Please add to your paper to [include](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain):

and possibly also

which is hard to discern from this outside perspective currently. We want to see a clear research use stated clearly.

[2019-11-21 22:07] hadley commented on #1686
Thanks everyone — we greatly appreciate all your hard work making this paper happen!

[2019-11-21 22:23] whedon opened #1908 "[PRE REVIEW]: profileR: An R package for profile analysis"
**Submitting author:** @cddesja (<a href="http://orcid.org/0000-0002-8234-9665">Christopher Desjardins</a>)
**Repository:** <a href="https://github.com/cddesja/profileR" target ="_blank">https://github.com/cddesja/profileR</a>
**Version:** 0.3-5
**Editor:** @marcosvital
**Reviewers:** @wjakethompson, @jrosen48, @markhwhiteii

**Author instructions**

Thanks for submitting your paper to JOSS @cddes

[2019-11-21 22:23] whedon commented on #1908
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-21 22:23] whedon commented on #1908
[code]

[2019-11-21 22:23] whedon commented on #1908
[code]

[2019-11-21 22:23] whedon commented on #1908
Failed to discover a valid open source license.

[2019-11-21 22:24] whedon commented on #1908
[code]

[2019-11-21 22:24] whedon commented on #1908
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01908/joss.01908/10.21105.joss.01908.pdf)

[2019-11-21 22:26] kthyng commented on #1908
Hi @cddesja and thanks for your submission! Our system hasn't found an open source license and that is a requirement for being part of JOSS. Do you want to add one?

[2019-11-21 22:31] kthyng commented on #1908
Hi @marcosvital! What do you think about this being your first JOSS submission as editor?

[2019-11-21 22:33] whedon opened #1909 "[PRE REVIEW]: EduCortex: browser-based 3D brain visualization of fMRI meta-analysis maps"
**Submitting author:** @PaulScotti (<a href="http://orcid.org/0000-0003-4912-8809">Paul Scotti</a>)
**Repository:** <a href="github.com/PaulScotti/educortex" target ="_blank">github.com/PaulScotti/educortex</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @PaulScotti. **Currently, there isn't an JOSS editor assigne

[2019-11-21 22:33] whedon commented on #1909
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-21 22:33] whedon commented on #1909
[code]

[2019-11-21 22:33] whedon commented on #1909
[code]

[2019-11-21 22:33] whedon commented on #1909
PDF failed to compile for issue #1909 with the following error:

 Can't find any papers to compile :-(

[2019-11-21 22:34] kthyng commented on #1909
Hi @PaulScotti! This looks like a neat project. It does look geared toward education. Would the [Journal of Open Source Education](https://jose.theoj.org/about) potentially be a better fit?

[2019-11-21 22:50] cddesja commented on #1908
Hi,

Sorry, yes. The software is GPL v3. Where should I add this?

On Thu, Nov 21, 2019 at 5:31 PM Kristen Thyng <notifications@github.com>
wrote:

[2019-11-21 23:07] gonsie commented on #1844
This paper is still missing a ‘state of the field’ summary. Comparing MQ to Slurm/PBS is not the right level of comparison. It needs to be compared to other workflow tools.

In addition, the paper mentions that MQ was used to drive a study of 10,000 jobs. Please provide details on that. How did it handle this large number of jobs? What was the job limit enforced by the underlying scheduler? I beli

[2019-11-21 23:27] arfon commented on #1811
@kthyng - there are a couple of DOIs that are non-standard in format. There look to be alternative (standard-form) DOIs for the same records and I've updated them in https://github.com/complexvariables/ComplexRegions.jl/pull/7

[2019-11-21 23:29] ashwinvis commented on #1828
@mbobra Thanks for the nudge. I was coordinating with the author to improve the installation and packaging situation https://github.com/stfbnc/fathon/issues/1#issuecomment-552462767 so that we have a version that can be reviewed.

@stfbnc Code coverage is not necessary for the paper, but if you are willing to go that extra mile, it can be fixed by [following this docs](https://cython.readthedocs.i

[2019-11-21 23:31] tonggehua commented on #1637
@whedon generate pdf

[2019-11-21 23:31] whedon commented on #1637
[code]

[2019-11-21 23:32] whedon commented on #1637
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01637/joss.01637/10.21105.joss.01637.pdf)

[2019-11-21 23:39] brmather commented on #1818
@kbarnhart I recommend to accept this submission.

[2019-11-21 23:51] akeshavan commented on #1902
:wave: @camillescott and @nidhog: would you be willing to review this paper for JOSS?

[2019-11-22 00:04] akeshavan commented on #1883
:wave: @colbrydi @ati-ozgur and @innat : would you be willing to review this paper for JOSS?

[2019-11-22 00:14] PaulScotti commented on #1909
Thanks Kristen, I was not aware of JOSE! Reading into it, I agree that JOSE looks to be a better fit compared with JOSS. I'll look into submitting to JOSE. Can you cancel this submission?

[2019-11-22 02:24] karthik commented on #1816
/ooo November 21 until December 2

[2019-11-22 03:54] offray commented on #720
Yes, being indexed in Scopus would change things for me. The issue is that it needs to have a particular rank on it. I think that pausing this submission is the best approach meanwhile, but I'm pretty interested in the Scopus indexing/ranking for JOSS. Let me know how it advances.

[2019-11-22 05:50] dmentipl commented on #1884
Hi @zingale and @matthewturk. I've added to the documentation and provided a test data set at https://anaconda.org/dmentipl/plonk_example_data/.

[2019-11-22 06:35] alcantarar commented on #1894
@Kevin-Mattheus-Moerman how many reviewers would you like in total? Unfortunately, I don't know many running biomechanists that are on GitHub. :disappointed:

[2019-11-22 08:16] SjoerdBruijn commented on #1894
Sorry, I cannot, way too busy now. See my message on twitter to you for alternative reviewers. :)

[2019-11-22 09:50] melund commented on #1870
Yes. Sorry about the slow progress @0todd0000 I did plan to play around with it last weekend but a lot of private stuff got in the way. I hope to find some time free time sunday or saturday evening.

[2019-11-22 10:04] tomalrussell commented on #1860
Thanks both! I think it's over to @melissawm :)

[2019-11-22 10:07] andreww commented on #1818
Noting that I've not looked at any changes that may have been made in the last 27 days, my recommendation is that this manuscript should be accepted by JOSS.

[2019-11-22 12:02] Kevin-Mattheus-Moerman commented on #1894
@alcantarar I tend to aim for 3 reviewers but here I was hoping to add a gait biomechanics person too. I think I can start the review though as we have a good set of reviewers now, and to avoid delays. If I do find a gait biomechanics person I'll add them at a later stage.

[2019-11-22 12:02] Kevin-Mattheus-Moerman commented on #1894
@whedon start review

[2019-11-22 12:02] whedon opened #1910 "[REVIEW]: Dryft: A Python and MATLAB package to correct drifting ground reaction force signals during treadmill running"
**Submitting author:** @alcantarar (<a href="http://orcid.org/0000-0002-8539-711X">Ryan Alcantara</a>)
**Repository:** <a href="https://github.com/alcantarar/dryft" target ="_blank">https://github.com/alcantarar/dryft</a>
**Version:** v1.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @agricolab, @DARSakthi, @mwptrsn
**Archive:** <a href="https://doi.org/10.5281/zenodo.3561026" target="_blan

[2019-11-22 12:02] whedon commented on #1894
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1910. Feel free to close this issue now!

[2019-11-22 12:02] whedon commented on #1910
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @agricolab, @DARSakthi, @mwptrsn it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'r

[2019-11-22 12:02] whedon commented on #1910
[code]

[2019-11-22 12:02] whedon commented on #1910
[code]

[2019-11-22 12:03] whedon commented on #1910
[code]

[2019-11-22 12:03] whedon commented on #1910
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01910/joss.01910/10.21105.joss.01910.pdf)

[2019-11-22 12:10] #1894 closed

[2019-11-22 12:44] melissawm commented on #1860
Thank you both for responding!

I'll move this over to the review issue then.

[2019-11-22 12:44] melissawm commented on #1860
@whedon assign @nmstreethran as reviewer

[2019-11-22 12:44] whedon commented on #1860
OK, the reviewer is @nmstreethran

[2019-11-22 12:44] melissawm commented on #1860
@whedon add @potterzot as reviewer

[2019-11-22 12:45] whedon commented on #1860
OK, @potterzot is now a reviewer

[2019-11-22 12:45] melissawm commented on #1860
@whedon start review

[2019-11-22 12:45] whedon opened #1911 "[REVIEW]: cdcam: Cambridge Digital Communications Assessment Model"
**Submitting author:** @tomalrussell (<a href="http://orcid.org/0000-0002-0081-400X">Tom Russell</a>)
**Repository:** <a href="https://github.com/nismod/cdcam" target ="_blank">https://github.com/nismod/cdcam</a>
**Version:** v1.0.2
**Editor:** @melissawm
**Reviewer:** @nmstreethran, @potterzot
**Archive:** <a href="https://doi.org/10.5281/zenodo.3583132" target="_blank">10.5281/zenodo.3583132</a>

[2019-11-22 12:45] whedon commented on #1860
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1911. Feel free to close this issue now!

[2019-11-22 12:45] whedon commented on #1911
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nmstreethran, @potterzot it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-11-22 12:45] whedon commented on #1911
[code]

[2019-11-22 12:45] whedon commented on #1911
[code]

[2019-11-22 12:45] #1860 closed

[2019-11-22 12:45] whedon commented on #1911
[code]

[2019-11-22 12:45] whedon commented on #1911
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01911/joss.01911/10.21105.joss.01911.pdf)

[2019-11-22 12:50] melissawm commented on #1873
Great, thank you both for responding! I'll add you as reviewers and start the review issue.

[2019-11-22 12:50] melissawm commented on #1873
@whedon assign @juliohm as reviewer

[2019-11-22 12:51] whedon commented on #1873
OK, the reviewer is @juliohm

[2019-11-22 12:51] melissawm commented on #1873
@whedon add @matbesancon as reviewer

[2019-11-22 12:51] whedon commented on #1873
OK, @matbesancon is now a reviewer

[2019-11-22 12:51] melissawm commented on #1873
@whedon start review

[2019-11-22 12:51] whedon opened #1912 "[REVIEW]: ScenTrees.jl: A Julia Library For Generating Scenario Trees and Scenario Lattices for Multistage Stochastic Optimization"
**Submitting author:** @kirui93 (<a href="http://orcid.org/0000-0002-3679-4442">Kipngeno </a>)
**Repository:** <a href="https://github.com/kirui93/ScenTrees.jl" target ="_blank">https://github.com/kirui93/ScenTrees.jl</a>
**Version:** v0.2.2
**Editor:** @melissawm
**Reviewer:** @juliohm, @matbesancon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3672205" target="_blank">10.5281/zenodo.36722

[2019-11-22 12:51] whedon commented on #1873
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1912. Feel free to close this issue now!

[2019-11-22 12:51] whedon commented on #1912
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @juliohm, @matbesancon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-22 12:51] whedon commented on #1912
[code]

[2019-11-22 12:51] whedon commented on #1912
[code]

[2019-11-22 12:51] #1873 closed

[2019-11-22 12:51] whedon commented on #1912
[code]

[2019-11-22 12:51] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2019-11-22 13:25] richardjgowers commented on #1831
@will-rowe yep I'm happy with the paper now

[2019-11-22 14:19] ThomasPak commented on #1716
Hi @gonsie and @jmlarson1 , what are the next steps to complete the review process?

[2019-11-22 14:23] will-rowe commented on #1831
Great, thanks a lot @richardjgowers!

@lohedges - looks like we are ready to accept this. Before I start the pre-publication steps, can you carry out the branch changes you mentioned earlier? Once you have done this, can you then tag a new release and archive it? We'll need the DOI and version number

[2019-11-22 14:35] sjpfenninger commented on #1892
Happy to review; but would probably only get to it in the 1st week of December.

[2019-11-22 14:48] osorensen commented on #1903
@terrytangyuan , it seems like whedon did not add a review checklist for me. Could you please fix?

[2019-11-22 14:51] terrytangyuan commented on #1903
@osorensen Fixed!

[2019-11-22 15:06] jedbrown commented on #1716
I see the checklists are complete; thanks. @gonsie @jmlarson1 Please let me know if you have any further concerns.

[2019-11-22 15:25] lohedges commented on #1831
Thanks, everyone. I'll try to get those bits done this afternoon.

One quick grammatical note: Do you know whether JOSS prefer's capitalisation after the colon, i.e. as is done here? Looking at the list of [published papers](https://joss.theoj.org/papers/published) it looks like there is a mixture of styles. I can't see it mentioned anywhere.

BioSimSpace: An interoperable Python framework for bio

[2019-11-22 15:48] lohedges commented on #1831
I guess the example publication [here](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) capitalises, so I'll stick with our title.

[2019-11-22 16:26] puolival commented on #1799
**Checklist**

The software is well written and documented. I did encounter some issues, but I think they should be easy to solve, and seem to be related to first uses outside the original development environment. In particular, the installation failed for me, but I was still able to work around it by manual work and testing several different environments. I am quite sure that all issues I faced w

[2019-11-22 16:33] cddesja commented on #1908
@rmhogervorst, @russellpierce, @lebebr01, @wjakethompson,@markhwhiteii, @bradweiner, @jrosen48, and @amarkos could all be suitable reviewers.

[2019-11-22 16:36] markhwhiteii commented on #1908
I'm not an expert in this type of statistical analysis, but it seems related enough to work I've done that I could review. This would be my first time reviewing—is there a guide on the typical type of review process?

[2019-11-22 16:36] TrashBirdEcology commented on #1768
@ethanwhite -- I was trying to work with rdataretriever but couldn't figure it out (zero Py experience here).

To use rdataretriever it seems (please correct me if I am wrong) one must have (a) Python installed and (b) understand how to make R and Python talk. It seems the bbsAssistant package requires only knowledge of R, whereas rdataretriever requires Py & R.

Although I still intend to point o

[2019-11-22 16:41] majensen commented on #1837
@dphansti  - per @stulacy comments: I agree that there should be some tests associated with the R code (the JS is less critical IMO). I wish I had time to help you stub these out, but for now let me suggest you look at https://testthat.r-lib.org/ - this looks really easy to use, and is a common testing system in other R-based pubs in JOSS. Here's an example : https://github.com/junbinzhao/FluxCalR

[2019-11-22 16:41] cddesja commented on #1908
Adding @okanbulut as he's the co-author so he can follow the review.

[2019-11-22 16:43] majensen commented on #1839
@sjvrijn thanks very much - @sarats -- have your performance concerns been addressed (I see that this box is not yet checked in your review ) ?

[2019-11-22 17:00] lgeiger commented on #1746
Thank you very much for all the reviews and the patience. I updated the paper to include a lot more background information and a more detailed description of the project. I am very much looking forward to your feedback.

@whedon generate pdf

[2019-11-22 17:01] lgeiger commented on #1746
@whedon generate pdf

[2019-11-22 17:01] whedon commented on #1746
[code]

[2019-11-22 17:02] whedon commented on #1746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01746/joss.01746/10.21105.joss.01746.pdf)

[2019-11-22 17:02] will-rowe commented on #1831
That would be my recommendation too - don't think there is an official policy though

[2019-11-22 17:02] lohedges commented on #1831
Hi @will-rowe, all sorted. I've merged into `devel`, created a [2019.3.0 release](https://github.com/michellab/BioSimSpace/releases/tag/2019.3.0), then merged across to our `master` (release) branch.  [This](http://doi.org/10.5281/zenodo.3551030) is the DOI for our 2019.3.0 Zenodo software archive.

Note that I've now deleted the redundant `feature-paper` branch, so the final publication will need

[2019-11-22 17:04] will-rowe commented on #1831
@whedon generate pdf

[2019-11-22 17:04] whedon commented on #1831
[code]

[2019-11-22 17:04] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-11-22 17:05] will-rowe commented on #1831
@whedon check references

[2019-11-22 17:05] whedon commented on #1831
[code]

[2019-11-22 17:05] whedon commented on #1831
[code]

[2019-11-22 17:13] will-rowe commented on #1831
@whedon set 10.5281/zenodo.3551030 as archive

[2019-11-22 17:13] whedon commented on #1831
OK. <a href="https://doi.org/10.5281/zenodo.3551030" target="_blank">10.5281/zenodo.3551030</a> is the archive.

[2019-11-22 17:14] will-rowe commented on #1831
@whedon set 2019.3.0 as version

[2019-11-22 17:14] whedon commented on #1831
OK. 2019.3.0 is the version.

[2019-11-22 17:15] will-rowe commented on #1831
Hey @openjournals/joss-eics - I think this one is good to go.

[2019-11-22 17:44] djmitche commented on #1891
This is but a tiny sliver of the email I get from GitHub every day :)

Thanks to all for your hard work on JOSS :)

[2019-11-22 17:58] arfon commented on #1819
@whedon generate pdf

[2019-11-22 17:58] whedon commented on #1819
[code]

[2019-11-22 17:58] whedon commented on #1819
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01819/joss.01819/10.21105.joss.01819.pdf)

[2019-11-22 18:57] jrosen48 commented on #1908
Hi, I'd be happy to review this. I have experience with this type of analysis (and developing [software](https://github.com/data-edu/tidyLPA) for it) and think/hope I'd be able to contribute.

[2019-11-22 19:10] kbarnhart commented on #1818
Thank you @seisman @brmather @andreww

@paudetseis at this point could you:
- [ ] Edit the paper to clarify affiliation 3. It looks like two affiliations.
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a  similar service.
- [ ] Verify that the Zenodo deposit has the correct metadata, this include

[2019-11-22 20:53] TrashBirdEcology commented on #1768
@ethanwhite @jsta  - we have addressed the unchecked boxes in your reviews (in [branch joss-round1](https://github.com/TrashBirdEcology/bbsAssistant/blob/joss-round1/), see below).

We have done some major re-writing of code in /R/, which I hope makes the top-level functioning more intuitive. This is outlined in the [quick overview vignette](https://github.com/TrashBirdEcology/bbsAssistant/blob/jo

[2019-11-22 21:07] kaashif commented on #1835
A quick update: I contacted the correct people and they will get around to reviewing my request eventually. I hope I'm not being too cautious, but people do get fired over this kind of thing sometimes, especially when working on sensitive financial software. Sorry I can't move this along a bit more promptly.

[2019-11-22 21:57] kthyng commented on #1831
@whedon accept

[2019-11-22 21:57] whedon commented on #1831
[code]

[2019-11-22 21:58] whedon commented on #1831
[code]

[2019-11-22 21:58] whedon commented on #1831
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1125

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1125, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-22 21:59] kthyng commented on #1831
@whedon accept deposit=true

[2019-11-22 21:59] whedon commented on #1831
[code]

[2019-11-22 22:00] whedon commented on #1831
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1197998260872531968) 👈 🐦🐦🐦

[2019-11-22 22:00] whedon commented on #1831
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1126
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01831](https://doi.org/10.21105/joss.01831)
2. If everything looks g

[2019-11-22 22:01] kthyng commented on #1908
@cddesja See details about the license here: https://joss.readthedocs.io/en/latest/review_criteria.html#software-license

[2019-11-22 22:03] #1909 closed

[2019-11-22 22:04] kthyng commented on #1831
Congrats to @lohedges on your new paper!! Thanks for your time and expertise to editor @will-rowe and reviewers @amritagos and @richardjgowers. We couldn't have done this without you all!!

[2019-11-22 22:04] #1831 closed

[2019-11-22 22:04] whedon commented on #1831
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01831/status.svg)](https://doi.org/10.21105/joss.01831)

**We need your help!**

Journal of Open Source Softwa

[2019-11-22 22:09] kthyng commented on #720
@offray I have added the "paused" label for now. I will try to add a reminder to this issue to ping you in a month to check in about Scopus, but I'm not sure if it works on non-reviewers. I'm afraid I can't commit to keeping you up-to-date on the status myself.

[2019-11-22 22:09] kthyng commented on #720
@whedon remind @offray in 4 weeks

[2019-11-22 22:09] whedon commented on #720
Reminder set for @offray in 4 weeks

[2019-11-22 22:09] will-rowe commented on #1831
Thanks everyone - and congrats @lohedges. Have a nice weekend!

[2019-11-22 22:15] kthyng commented on #1811
@tobydriscoll Can you merge the PR from @arfon?

@arfon why are those errors only picked up when trying to accept instead of when generating the pdf?