[2022-06-20 08:13] vissarion commented on #4438
@editorialbot start review

[2022-06-20 08:13] editorialbot opened #4492 "[REVIEW]: Multiple Inference: A Python package for comparing multiple parameters"
**Submitting author:** @dsbowen (<a href="http://orcid.org/0000-0002-3033-1332">DILLON BOWEN</a>)
**Repository:** https://gitlab.com/dsbowen/conditional-inference
**Branch with paper.md** (empty if default branch):
**Version:** 1.1.0
**Editor:** @vissarion
**Reviewers:** @blakeaw, @mattpitkin, @nhejazi
**Archive:**  10.5281/zenodo.6859614

## Status

[![status](https://joss.theoj.org/papers/7a2a4a

[2022-06-20 08:13] #4438 closed

[2022-06-20 08:18] thecalculon commented on #4305
@editorialbot  generate pdf

[2022-06-20 08:22] thecalculon commented on #4305
@editorialbot generate pdf

[2022-06-20 08:28] danasolav commented on #4279
@diehlpk the titles match. Do you want me to remove the release/version number from the title?

[2022-06-20 08:31] ManjariKiran commented on #4486
@editorialbot commands

[2022-06-20 08:31] ManjariKiran commented on #4486
@editorialbot generate my checklist

[2022-06-20 09:16] vissarion commented on #4438
Thanks  @blakeaw, @mattpitkin, @nhejazi I have added you as reviewers. The review thread is https://github.com/openjournals/joss-reviews/issues/4492

[2022-06-20 10:52] nlhepler commented on #4371
@arfon apologies for the delay. I aim to have it done today, certainly no later than tomorrow.

[2022-06-20 10:54] falexwolf commented on #4371
Let me try to generate an up-to-date version that includes our response to @rcannood:

@editorialbot generate pdf

[2022-06-20 11:45] danielskatz commented on #4371
editorialbot commands need to be the first entry in a new comment.

[2022-06-20 11:48] diehlpk commented on #4279
@danasolav the on Zenodo reads as

and the paper's title reads as

Can you please remove the version number at the end and 'SolavLab/DuoDIC' at the beginning?

[2022-06-20 12:09] danielskatz commented on #4482
@editorialbot generate pdf

[2022-06-20 12:40] danasolav commented on #4279
@diehlpk I updated the Zenodo title to: "DuoDIC: 3D Digital Image Correlation in MATLAB"

[2022-06-20 12:41] alesantuz commented on #4439
Thank you @vbaliga!
@fabian-s is anything needed on my side at this stage?

[2022-06-20 13:05] fboehm commented on #4305
The Gomper & Kroll ref's doi now resolves to the intended target.

[2022-06-20 13:07] fboehm commented on #4305
@vipinagrawal25 - the pdf looks good. Please make a release and archive the repository, for example, with zenodo. Then, report here the release version number and the archive doi. Thank you!

[2022-06-20 13:18] smsaladi commented on #4440
Thanks for reaching out to me. Unfortunately, I cannot assist with
reviewing this manuscript right now.

Shyam

On Sun, Jun 19, 2022 at 4:26 PM Charlotte Soneson ***@***.***>
wrote:

[2022-06-20 13:25] elbeejay commented on #4477
@rCarto thank you for making those changes. Looking at the package again, I am going to ask the broader editorial team if this fits within the current scope for JOSS papers. Since your last JOSS publication our guidelines have changed a bit (see documentation on [Substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) and the blog post ["Mi

[2022-06-20 13:26] elbeejay commented on #4477
@editorialbot query scope

[2022-06-20 13:29] alesantuz commented on #4439
I added the most relevant unit tests while leaving open some that in my opinion are not quite worth of testing (e.g. I suppose that all those `if(interactive())` don't actually need unit testing and are there only because of the CRAN tests, please correct me if I am wrong). All the rest has been fixed in version [1.1.3.9006](https://github.com/alesantuz/musclesyneRgies/releases/tag/v1.1.3.9006) (e

[2022-06-20 13:29] diehlpk commented on #4279
 @abhishektha, @mr53563 thanks for your reviews.

[2022-06-20 13:37] diehlpk commented on #4279
@arfon could you please have a look?

[2022-06-20 13:39] Kevin-Mattheus-Moerman commented on #4389
@nicoguaro has @JulianKarlBauer address your comments to your satisfaction? :point_up:

[2022-06-20 13:40] Kevin-Mattheus-Moerman commented on #4252
:point_up:

[2022-06-20 13:41] Kevin-Mattheus-Moerman commented on #3736
@fibreglass2 have you worked on the above? :point_up:

[2022-06-20 13:46] fabian-s commented on #4439
wonderful, thanks!
 I missed those other commits, sorry.

[2022-06-20 13:47] fabian-s commented on #4439
@editorialbot generate pdf

[2022-06-20 13:50] Kevin-Mattheus-Moerman commented on #4185
:point_up:

[2022-06-20 13:51] rCarto commented on #4477
@elbeejay ,
I understand your concern.
Though, I would like to add two notes:
- I'm not sure that the package is that "thin" around the OSRM API,
- 2 of its functions (`osrmIsochrone()` and `osrmIsometric()`) provide original features not available through OSRM alone.

Anyway, I would understand if the package is considered outside the scope of JOSS.

[2022-06-20 13:52] elbeejay commented on #4477
Thank you for the clarification that the two functions provide original functionality, I will add that to my note to the other editors.

[2022-06-20 13:55] fabian-s commented on #4439
@alesantuz
spell check was mostly fine too, maybe consider using "center" instead of "centre" in l. 44, since you use american spelling everywhere else?

Also please add that missing DOI editorialbot suggested, seems to be the right one for that old reference:
![image](https://user-images.githubusercontent.com/998541/174617353-8cf3f319-38d0-41ef-9553-61ba37f897b0.png)

[2022-06-20 14:03] samuelburbulla commented on #3959
There is now a Docker image in the GitHub Container registry:
[code]

Thanks for clarifying, I added a sentence to the paper that we actually move the interface edges.

[2022-06-20 14:11] alesantuz commented on #4439
Thank you, I also corrected a couple of other instances where there was a mixup between Brit and American English. Should I update Zenodo and/or create a new version after the spell check?

About the DOI and as mentioned in the pre-review:

I still could not find a DOI that actually fits this book.

[2022-06-20 14:14] alesantuz commented on #4439
@editorialbot generate pdf

[2022-06-20 14:23] marshallmcdonnell commented on #4440
Hello Charlotte,

Yes please, I am interested in reviewing this submission!

Marshall McDonnell

Application Engineering Group
Advanced Computing Systems Research Section
Computer Science and Mathematics Division
Computing and Computational Sciences Directorate
Oak Ridge National Laboratory

5100 Bethel Valley Road, Oak Ridge, TN
Mobile: 865-560-6227
Work Email: ***@***.******@***.***>
GMail Email

[2022-06-20 14:25] jonjoncardoso commented on #4377
I could volunteer to review this one if needed

[2022-06-20 14:30] rkurchin commented on #4040
@editorialbot set 1.0.1 as version

[2022-06-20 14:31] rkurchin commented on #4040
@editorialbot set 10.5281/zenodo.6658117 as archive

[2022-06-20 14:31] rkurchin commented on #4040
@editorialbot recommend-accept

[2022-06-20 14:36] alesantuz commented on #4439
No worries @fabian-s. Version 1.2.1 is archived on GitHub [here](https://github.com/alesantuz/musclesyneRgies/releases/tag/v1.2.1) and on Zenodo [here](https://doi.org/10.5281/zenodo.6670566) with DOI 10.5281/zenodo.6671216.

[2022-06-20 14:43] fabian-s commented on #4439
@editorialbot set v1.2.1 as version

[2022-06-20 14:43] fabian-s commented on #4439
@editorialbot recommend-accept

[2022-06-20 14:43] fabian-s commented on #4439
@alesantuz thanks for taking care of this so quickly!

[2022-06-20 14:44] fabian-s commented on #4439
note to EiCs:
"missing" DOI suggested above is wrong, the paper is from 1967 and does not have a DOI.

[2022-06-20 14:48] rkurchin commented on #4289
👋 Hi, I noticed this one has been hanging out as `waitlisted` for awhile. I'm by no means an expert in gas chromatography, but I am a Julia user/developer with good expertise in thermodynamics, and decent familiarity with differential equations, so if other editors are tied up, I could take this as I'm about to have a paper accepted and a slot open up (another of my manuscripts is paused, probably

[2022-06-20 15:27] jonmatthis commented on #4362
I'm including my review in the form of a comment thread in this Issue on the main repo - https://github.com/perfanalytics/pose2sim/issues/9

[2022-06-20 15:28] jonmatthis commented on #4362
For the record (regarding the JOSS review process) -

 I wish I was able to open a comment thread from my own Checklist comment and include my comments there.

The method of "I'm Going to write everything up in a great big text blob and plop it in one big comment" feels inconvenient for all involved.

Maybe in the future, the check list could also auto-generate a linked Issue in the target reposit

[2022-06-20 15:43] jonmatthis commented on #4362
If your demonstration produces labeled images, it would be best to make those visible to the user (or at least  link to where they are located)

[2022-06-20 15:45] chryswoods commented on #4440
Yes, I am happy to review :-)

[2022-06-20 16:03] diehlpk commented on #4377
@jonjoncardoso that would be great, I will invite you soon.

[2022-06-20 16:04] diehlpk commented on #4377
@editorialbot add @jonjoncardoso as reviewer

[2022-06-20 16:04] diehlpk commented on #4377
@GuillaumeDerval are you still available to review this paper?

[2022-06-20 16:06] diehlpk commented on #4279
@openjournals/dev could you please have a look?

[2022-06-20 16:24] yannikschaelte commented on #4304
Dear all, I have now addressed the raised issues https://github.com/ICB-DCM/pyABC/issues/565 and https://github.com/ICB-DCM/pyABC/issues/566 (the latter so far only as a pull request in https://github.com/ICB-DCM/pyABC/pull/577).

[2022-06-20 16:40] diehlpk commented on #4466
@editorialbot add @JPenuchot as reviewer

[2022-06-20 17:13] osorensen commented on #4304
Thanks @yannikschaelte! If this addresses your points, please update your review checklists @blakeaw and @hpesonen.

[2022-06-20 17:17] faroit commented on #4434
@MarieRoald thanks for your suggestions. I would also like to ask @ aarmey.  Do you see a conflict of interest here?

[2022-06-20 17:18] fboehm commented on #4305
@editorialbot set 10.5281/zenodo.6671531 as archive

[2022-06-20 17:19] fboehm commented on #4305
@editorialbot set v1.1 as version

[2022-06-20 17:22] fboehm commented on #4305
@vipinagrawal25 - I'm looking at the archive. It seems that you've reversed the ordering of names for the authors, where you list the family name before the first name. we need the names to match exactly those in the paper.md. Can you fix this?

[2022-06-20 17:27] vipinagrawal25 commented on #4305
We have fixed the name ordering.

[2022-06-20 17:58] xuanxu commented on #4279
There are [some](https://github.com/SolavLab/DuoDIC/blob/main/paper/paper.bib#L61) [invalid](https://github.com/SolavLab/DuoDIC/blob/main/paper/paper.bib#L31) ISBN values in the bib file

[2022-06-20 18:13] diehlpk commented on #4279
@danasolav could you please check that?

[2022-06-20 18:31] fboehm commented on #4305
@editorialbot recommend-accept

[2022-06-20 18:44] xinyiguan commented on #4488
My suggestion for the potential reviewer: Verena Praher (expectopatronum)

[2022-06-20 20:07] falexwolf commented on #4371
Thanks for checking! It'd be great if you added your comments to the existing thread! It's more efficient if we address both of your comments in ideally one additional pass on the paper (or as many it takes until your happy)! 😅

[2022-06-20 20:55] stsievert commented on #4377
I have checked (or have items below addressing) all the boxes in https://github.com/openjournals/joss-reviews/issues/4377#issuecomment-1118435375. I do not think this paper is ready for acceptance into the JOSS, at least as-is. Some clearly blocking issues:

* I did not find any guidelines for third parties wishing to contribute, report and find support.
* Who's Arpad Burmen, and why is he listed

[2022-06-20 21:31] pdebuyl commented on #4329
Hi @rogersamso I pinged @andrecieplinski by email a few days ago in case he would not read the notifications. From experience, the delay in the current review is not extraordinary and I am not yet looking for another reviewer. If the situation were to persist, I would look into it of course.

[2022-06-20 21:35] schruste commented on #4252
@Kevin-Mattheus-Moerman : Sorry for being sooo late! I now found some time to continue my review. I added to two of @mscroggs issues on the AsFem-github and opened another issue.

My main points mostly coincide with @mscroggs assessment:
 * **Installation 1:** The installation is still quite painful. With some effort it is not too hard to setup, but the non-smoothness of the installation procedure

[2022-06-20 22:33] crvernon commented on #4464
Yes @gagolews we generally wait until we have at least two confirmed reviewers before we move to full review. If I can't get another soon, I'll go ahead and start it up and so you can generate your checklist and get started. Thanks!

[2022-06-20 22:50] tiagoseq commented on #3974
Hello,
After a few weeks of a hard physical recovery I'm finally able to address this issue.
First of all, I want to thank you all, @jarvist, @rougier and @gdetor for the patience shown throughout this issue.

Regarding the problem that @jarvist pointed out, possible future contributors could not do `git blame` or `git bisect` because the history has been erased. An attempt to reduce the size of t

[2022-06-21 03:28] taless474 commented on #4263
@sara-02 great!

[2022-06-21 03:28] taless474 commented on #4263
@editorialbot add @sara-02 as reviewer

[2022-06-21 03:31] taless474 commented on #4263
@editorialbot start review

[2022-06-21 03:31] editorialbot opened #4493 "[REVIEW]: DIANNA: Deep Insight And Neural Network Analysis"
**Submitting author:** @elboyran (<a href="http://orcid.org/0000-0002-9834-1756">Elena Ranguelova</a>)
**Repository:** https://github.com/dianna-ai/dianna
**Branch with paper.md** (empty if default branch):
**Version:** v0.4.2
**Editor:** @diehlpk
**Reviewers:** @Athene-ai, @sara-02
**Archive:** 10.5281/zenodo.7387004

## Status

[![status](https://joss.theoj.org/papers/f0592c1aecb3711e068b5897058

[2022-06-21 03:31] #4263 closed

[2022-06-21 03:32] taless474 commented on #4073
@marksantcroos, @burch-cm, any updates?

[2022-06-21 05:30] danasolav commented on #4279
@diehlpk I deleted the unnecessary ISBNs. Could you please try again?
The updated release: https://github.com/SolavLab/DuoDIC/releases/tag/v1.1.0
The new DOI: https://doi.org/10.5281/zenodo.6673060

[2022-06-21 05:47] fjprichard commented on #3821
I think the review process is finished. What's next ?

[2022-06-21 06:01] alesantuz commented on #4439
@fabian-s I tried to understand where that error comes from and there might have been too many commas in the .bib file. I made a new version, 1.2.2, which is archived on GitHub [here](https://github.com/alesantuz/musclesyneRgies/releases/tag/v1.2.2) and on Zenodo [here](https://doi.org/10.5281/zenodo.6670566) with DOI 10.5281/zenodo.6673110.

[2022-06-21 06:01] alesantuz commented on #4439
@editorialbot set 10.5281/zenodo.6673110 as archive

[2022-06-21 06:04] fabian-s commented on #4439
@editorialbot set 10.5281/zenodo.6673110 as archive

[2022-06-21 06:05] fabian-s commented on #4439
@editorialbot recommend-accept

[2022-06-21 06:06] vijaysm commented on #3959
@diehlpk I have completed my review and am satisfied with the state of the paper and the software. @samuelburbulla has been very responsive and addressed all my comments and questions. I recommend the paper be published in JOSS.

[2022-06-21 06:07] alesantuz commented on #4439
Sorry it didn't work. Then I can't understand what that error is and I hope it's recoverable somehow...

[2022-06-21 06:08] fabian-s commented on #4439
@openjournals/joss-eics :

- "missing" DOI suggested above is wrong, the paper is from 1967 and does not have a DOI.
- for some reason this cannot be processed by editorialbot, we don't know what else to try.... could you look into this?

[2022-06-21 06:32] csoneson commented on #4440
@marshallmcdonnell, @chryswoods - brilliant, thanks! I'll assign you and start the review.

[2022-06-21 06:33] csoneson commented on #4440
@editorialbot add @marshallmcdonnell as reviewer

[2022-06-21 06:33] csoneson commented on #4440
@editorialbot start review

[2022-06-21 06:33] editorialbot opened #4494 "[REVIEW]: MSMetaEnhancer: A Python package for mass spectra metadata annotation"
**Submitting author:** @hechth (<a href="http://orcid.org/0000-0001-6744-996X">Helge Hecht</a>)
**Repository:** https://github.com/RECETOX/MSMetaEnhancer
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.5
**Editor:** @csoneson
**Reviewers:** @marshallmcdonnell, @chryswoods
**Archive:** 10.5281/zenodo.7211726

## Status

[![status](https://joss.theoj.org/papers/3f13cf143b6937634

[2022-06-21 06:33] #4440 closed

[2022-06-21 06:35] csoneson commented on #4494
👋🏼 @hechth, @marshallmcdonnell, @chryswoods - this is the review thread for the submission. All of our communications will happen here from now on.

Please check the post at the top of the issue for instructions on how to generate your own review checklist. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

[2022-06-21 06:53] hechth commented on #4494
@csoneson Is there maybe some issue with the DOI checker? We had a look at the DOIs and they actually seem fine.

[2022-06-21 06:59] csoneson commented on #4494
@editorialbot check references

[2022-06-21 07:01] csoneson commented on #4494
Hm, not sure what is going on here. @openjournals/dev - any idea? The DOIs were considered valid in the pre-review issue.

[2022-06-21 07:02] rbturnbull commented on #4212
Hi @ajstewartlang - I think all the issues from the reviewers have been addressed. What is needed now to progress this to the next stage?

[2022-06-21 07:10] elauksap commented on #4490
Hi @kyleniemeyer! Please consider my availability to review DMStag.

[2022-06-21 07:31] rogersamso commented on #4329
Excellent, thanks for the update @pdebuyl !

[2022-06-21 07:42] hpesonen commented on #4304
Hi @osorensen and @yannikschaelte! I've updated my checklist and I've checked the State of the field box based on https://github.com/ICB-DCM/pyABC/pull/577

I also had few minor comments on  https://github.com/ICB-DCM/pyABC/issues/570 that I hope would be addressed before checking the final box.

[2022-06-21 08:04] meg-simula commented on #4478
No bandwidth at the moment I am afraid.

[2022-06-21 08:18] nociale commented on #4251
@fboehm - The error is in the title I see on Google when I try to search for the paper (e.g. [here](https://www.google.com/search?q=rbmi%3A+A+R+package+for+standard+and+reference-based+multiple&rlz=1C1GCEA_enCH943CH943&ei=6xCwYvi3G4KTkwWR4L7wAw&ved=0ahUKEwi42bLxsLv4AhWCyaQKHRGwDz4Q4dUDCA4&uact=5&oq=rbmi%3A+A+R+package+for+standard+and+reference-based+multiple&gs_lcp=Cgdnd3Mtd2l6EANKBAhBGAFKBAhGGAB

[2022-06-21 08:23] MarieRoald commented on #4434
Hi @faroit, neither @yngvem nor I have worked with @ aarmey directly, but all three of us are involved with the [TensorLy project](http://tensorly.org/stable/about.html). From the [COI policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy), I am not sure if this is a COI or not?

[2022-06-21 08:29] xuanxu commented on #4494
@editorialbot check references

Maybe the doi.org website was down? let's try again

[2022-06-21 08:31] xuanxu commented on #4494
¯\_(ツ)_/¯

[2022-06-21 08:33] theorashid commented on #4455
@editorialbot generate pdf

[2022-06-21 08:44] MargeritPierre commented on #4418
It is Ok for me, even if I would suggest as minor modification to merge the two paragraphs "state of the field" and "statement of need" in order to make the contribution of the proposed work clearer.
I updated my checklist.

[2022-06-21 08:47] arfon commented on #2954
@editorialbot assign me as editor

:wave: folks. I'm going to be taking on this paper as @VivianePons is stepping down as a JOSS editor. Thanks for all of your help with JOSS @VivianePons!

[2022-06-21 09:29] yannikschaelte commented on #4304
Hi @hpesonen , thanks for your further very useful feedback. I hope to have addressed these comments in #578 now!

[2022-06-21 09:38] hpesonen commented on #4304
Hi @yannikschaelte and @osorensen - I've reviewed the latest changes and I'm happy to check all the boxes on the checklist!

p.s. The comment above links to the issue 578 on JOSS-reviews

[2022-06-21 09:44] yannikschaelte commented on #4304
Ah, of course. Changed it!

[2022-06-21 09:46] yannikschaelte commented on #4304
@editorialbot generate pdf

[2022-06-21 09:48] pdebuyl commented on #4424
@editorialbot set @jimmielin as reviewer

[2022-06-21 09:51] pdebuyl commented on #4424
@editorialbot assign @jimmielin as reviewer

[2022-06-21 09:52] pdebuyl commented on #4424
@editorialbot commands

[2022-06-21 09:55] osorensen commented on #4304
Thanks a lot for your quick responses @hpesonen and @yannikschaelte

[2022-06-21 10:37] diehlpk commented on #4279
@editorialbot set 10.5281/zenodo.6673060    as archive

[2022-06-21 10:38] diehlpk commented on #4279
@editorialbot recommend-accept

[2022-06-21 11:03] ajstewartlang commented on #4212
Hi @rbturnbull - I'm just waiting to hear back from @potterzot that he's happy with those changes and can tick off the final two check boxes (installation instructions and example usage).

[2022-06-21 14:08] nicoguaro commented on #4389
@Kevin-Mattheus-Moerman, partially, I would argue that it should be clearer what is the difference with other packages. At least, since the name includes a broad topic _Mechkit: A continuum mechanics toolkit in Python_. I am still pending on checking the code and the tests.

[2022-06-21 14:17] dfm commented on #4455
@gpleiss — Just checking in here to keep this on your radar. Let me know if you have any questions or issues. Thanks!

[2022-06-21 14:20] dfm commented on #4417
@gregbryan, @kaleybrauer — Thanks for your reviews! Since your checklists are completed, I just wanted to confirm that you're happy to sign off on acceptance of this submission. Let me know if you have any remaining comments.

@HartwigTilman — I'm going to do a last re-through and I may have a PR for you with some edits. Then I'll have a few last processing steps for you to do before final accepta

[2022-06-21 14:23] dfm commented on #4456
@QuentChangeat — Just checking in here to keep this on your radar. Let me know if you have any questions or issues. Thanks!

[2022-06-21 14:23] dfm commented on #4417
@editorialbot check references

[2022-06-21 14:24] dfm commented on #4417
@editorialbot generate pdf

[2022-06-21 14:27] gregbryan commented on #4417
@dfm Yes, I am happy for this to be accepted.

[2022-06-21 14:27] jonmatthis commented on #4362
These links are broken, where can I find this paper?

[2022-06-21 14:35] krachyon commented on #4444
Hi @arfon and @temuller,
I'll preface this by saying that I don't actually have any academic credentials beyond a Master's degree (for which I technically don't even have the final grade yet). The focus of my work has been on the technical details of doing PSF-astrometry on (mostly simulated) point sources. So I feel a bit unprepared to judge the "Substantial scholarly effort" part as I don't know

[2022-06-21 14:52] jonmatthis commented on #4362
Ok, I'm finished with my review!

My specific points are listed in - https://github.com/perfanalytics/pose2sim/issues/9

And I generally echo the comments from @lambdaloop  and @CVHammond

## Specifically regarding the commentary on the use of marker-based motion capture as a "gold standard" -

Marker-based motion capture *is* the gold standard for generating accurate recordings of human movement.

[2022-06-21 15:17] faroit commented on #4434
@MarieRoald to me this looks more like a COI than not... @arfon what do you think? The submission is part of the parent (tensorly) project and the potential reviewer (aarmey) is part of the parent project but hasn't contributed to this submission or has a direct working relationship with the submitting authors.

[2022-06-21 15:23] kyleniemeyer commented on #4490
@mbarzegary good questions. We have published submissions of submodules/components of larger software projects that live in the same repository (e.g., [MOOSE geochemistry module](https://joss.theoj.org/papers/10.21105/joss.03314) and [Landlab submodule](https://joss.theoj.org/papers/10.21105/joss.00979)).

This submission is specifically about DMStag and not PETSc as a whole, so you should conside

[2022-06-21 15:26] blakeaw commented on #4304
Hi, @osorensen and @yannikschaelte. I have also reviewed the latest changes now and have completed my checklist. Thanks!

[2022-06-21 15:34] osorensen commented on #4304
Thanks @blakeaw!

[2022-06-21 16:07] psanan commented on #4490
@mbarzegary @kyleniemeyer Re the tests and examples, my intention is that those that are in the `src/dm/impls/stag/tutorials` and `src/dm/impls/stag/tests` are to be considered as part of this submission. Here's the list of source files to be considered:

 * everything in `src/dm/impls/stag/`
 * The public and private headers `include/petscdmstag.h` and `include/petsc/private/dmstagimpl.h`
 * `doc

[2022-06-21 16:41] nhejazi commented on #4411
@majensen, no rush at all, but let me know if I can work on anything else related to starting this review

[2022-06-21 17:47] osorensen commented on #4304
@yannikschaelte I will now read through the paper once more and get back to you if I have any suggested edits.

In the meantime, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zen

[2022-06-21 17:53] PerilousApricot commented on #4452
Hello @danielskatz Sorry for the delay! I need to set up a julia environment to get some of these checks. Soon!

[2022-06-21 18:16] simonpcouch commented on #4471
@editorialbot generate pdf

Updating with changes in response to https://github.com/tidymodels/stacks/issues/135!

[2022-06-21 18:21] simonpcouch commented on #4471
@editorialbot check references

[2022-06-21 18:24] simonpcouch commented on #4471
re: the reported missing DOI, the suggested DOI for Keras [doesn't seem to point to the deep learning framework](https://referenceworks.brillonline.com/entries/der-neue-pauly/*-e612900), and the bib entry for this paper uses the [requested citation](https://keras.io/getting_started/faq/#how-should-i-cite-keras) in Keras docs.

[2022-06-21 18:38] yannikschaelte commented on #4304
Hi @osorensen , I should have addressed all points:

* Tagged version: https://github.com/ICB-DCM/pyABC/releases/tag/0.12.5
* ZENODO archive: https://doi.org/10.5281/zenodo.6677826

[2022-06-21 18:41] chryswoods commented on #4494
@editorialbot generate my checklist

[2022-06-21 18:55] osorensen commented on #4304
@editorialbot help

[2022-06-21 19:01] osorensen commented on #4304
@editorialbot check references

[2022-06-21 21:10] kaleybrauer commented on #4417
@dfm I am also happy for this to be accepted.

[2022-06-21 21:12] osorensen commented on #4304
@yannikschaelte please also make sure that Scott A Sisson's name is spelled consistently in the references:

<img width="966" alt="image" src="https://user-images.githubusercontent.com/21175639/174898191-f6443d43-d017-4162-9ef5-cb08275d95c7.png">

<img width="975" alt="image" src="https://user-images.githubusercontent.com/21175639/174898138-6b8d453b-23d9-4475-afcb-02d18eff5a9b.png">

[2022-06-21 21:37] yannikschaelte commented on #4304
@editorialbot generate pdf

[2022-06-22 00:14] mhucka commented on #4328
@danielskatz At precisely 5:01 pm today, I finally received an email in answer to the license question. The answer is, yes, for this project (and _only_ this project :-)) we can change the license to be straight BSD. I will update the license file and any associated files and issue a new release of the software.  It will not take long – hopefully tomorrow or Thursday at the latest.

[2022-06-22 00:31] danielskatz commented on #4328
👋 @step21 & @rlskoeser, sorry for the delay - we might have caught the license issue earlier.

But in any case, we should now proceed with (continue) the review of the software.  I look forward to seeing any more issue you find, or seeing the lack of them. 🙂

[2022-06-22 00:47] HartwigTilman commented on #4417
@editorialbot check references

[2022-06-22 00:47] HartwigTilman commented on #4417
@editorialbot generate pdf

[2022-06-22 00:59] dfm commented on #4417
@HartwigTilman - Thanks for merging the edits! Here are the final steps that I'll need from you:

1. Take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially the author names and affiliations. I've taken a pass and it looks good to me!
2. Increment the version number of the software and report that version number back here.
3

[2022-06-22 02:00] pibion commented on #3821
@editorialbot check references

[2022-06-22 02:00] pibion commented on #3821
@editorialbot generate pdf

[2022-06-22 02:02] pibion commented on #3821
@fjprichard I have a few more notes on minor corrections to the paper - I'm working on those now and will have them up tonight.  Then I'll ask you to do a code release and generate a DOI (zenodo is a popular choice for that) and we'll recommend acceptance.

Apologies for not getting you the complete set of edits earlier, I'm moving this week and things have been hectic!

[2022-06-22 03:29] pibion commented on #3821
- line 16, reasearchs -> reasearchs
- line 19, "Simulations it generates" -> "Its simulations"?
- line 21, "The estimation issues tackled in these works concerned the functional parameters and features of the AFBF and related models. There are still largely open.", it sounds like you're saying there are questions that are still open.  But it's not clear what those questions are.
- line 28, "among

[2022-06-22 04:47] mbobra commented on #4327
@mcostasitja @marcsit Please let me know once you finish the Zenodo deposit!

[2022-06-22 05:33] slayoo commented on #4412
@dhhagan, @danielskatz, is there any input that we need to provide at this time as authors to proceed? Thanks, Sylwester

[2022-06-22 05:57] osorensen commented on #4304
@editorialbot recommend-accept

[2022-06-22 06:39] fjprichard commented on #3821
@pibion Thank you very much for these last valuable corrections. I have modified the text. I'm going to do a code release and set a DOI.

[2022-06-22 06:45] fabian-s commented on #4384
@editorialbot add @MichaelSchomaker as reviewer

[2022-06-22 06:45] fabian-s commented on #4384
@editorialbot start review

[2022-06-22 06:45] editorialbot opened #4495 "[REVIEW]: tipr: An R package for sensitivity analyses for unmeasured confounders"
**Submitting author:** @LucyMcGowan (<a href="http://orcid.org/0000-0001-7297-9359">Lucy D&#39;Agostino McGowan</a>)
**Repository:** https://github.com/LucyMcGowan/tipr
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewers:** @gcskoenig, @MichaelSchomaker
**Archive:** 10.5281/zenodo.6958926

## Status

[![status](https://joss.theoj.org/paper

[2022-06-22 06:45] #4384 closed

[2022-06-22 06:48] fabian-s commented on #4495
👋🏼 @LucyMcGowan @gcskoenig @MichaelSchomaker this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please

[2022-06-22 06:48] axel-loewe commented on #4118
I can confirm that the Docker container is working and reproduces the example that I tried (04/06) :+1:

08/03 did start but seems to be a rather big simulation, did not complete within a couple of hours.

I'll proceed with the review when the responses to all comments are ready.

[2022-06-22 06:49] jpata commented on #4452
@editorialbot generate my checklist

[2022-06-22 07:34] gcskoenig commented on #4495
@editorialbot generate my checklist

[2022-06-22 08:48] jpata commented on #4452
From my side, I'm done with the initial paper review and have left some issues:
- Contribution guidelines: https://github.com/JuliaHEP/UnROOT.jl/issues/170
- Adding some more details and improving the writing in the paper: https://github.com/JuliaHEP/UnROOT.jl/issues/171

I'm also going to try out the library in the next days and check off the functionality/performance based on that.

[2022-06-22 09:06] editorialbot opened #4496 "[PRE REVIEW]: binary_c-python: A python-based stellar population synthesis tool and interface to binary_c"
**Submitting author:** @ddhendriks (<a href="http://orcid.org/0000-0002-8717-6046">David Douwe Hendriks</a>)
**Repository:** https://gitlab.com/dhendriks/paper_joss_binarycpython
**Branch with paper.md** (empty if default branch):
**Version:** v0.9.4
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/1a6f576ed50fd4e3ed

[2022-06-22 09:55] editorialbot opened #4497 "[PRE REVIEW]: The sspm R package: spatial surplus production models for the management of northern shrimp fisheries"
**Submitting author:** @vlucet (<a href="http://orcid.org/0000-0003-0268-818X">Valentin Lucet</a>)
**Repository:** https://github.com/pedersen-fisheries-lab/sspm
**Branch with paper.md** (empty if default branch): main
**Version:** v0.9.1
**Editor:** @Bisaloo
**Reviewers:** @quang-huynh, @kellijohnson-NOAA
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/d05f

[2022-06-22 10:30] lucydot commented on #4459
Thank you very much @raghurama123 and @srmnitc for your thorough and thoughtful reviews.

@VHchavez  - over to you! It seems you have some useful points to address, particularly with regard to documentation. If you are unable to act on / respond to the reviewer suggestions in the next couple of days, an approximate timeline for when this will be possible would be appreciated. I encourage progress

[2022-06-22 10:31] lucydot commented on #4298
@editorialbot generate pdf

[2022-06-22 10:31] lucydot commented on #4298
@editorialbot set 1.6.1 as version

[2022-06-22 10:38] editorialbot opened #4498 "[PRE REVIEW]: GNU Data Language 1.0: a free/libre and open-source drop-in replacement for IDL/PV-WAVE"
**Submitting author:** @pjb7687 (<a href="http://orcid.org/0000-0002-9064-4912">Jeongbin Park</a>)
**Repository:** https://github.com/gnudatalanguage/gdl
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @mgalloy, @mohawk2
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/b84d8eef2986bcafdb402f6073

[2022-06-22 10:39] lucydot commented on #4298
OK @miesli the pdf looks good to me - final steps now. Please can you do the following:

- Make a tagged release of your software
- Archive this release on Zenodo (or similar)
    - The archive should have exactly the same title and author list as your JOSS paper
- Report the archive DOI in this thread

[2022-06-22 10:41] lucydot commented on #4298
This was when trying to commit to my fork - others have reported a similar problem for other repos. Oh well, one to think about another day!

[2022-06-22 10:46] lucydot commented on #4333
@jonathanHuwP thanks for the updates. To bring to your attention that there are some other outstanding points listed [here](https://github.com/openjournals/joss-reviews/issues/4333#issuecomment-1123743505) (regarding the paper) and [here](https://github.com/openjournals/joss-reviews/issues/4333#issuecomment-1118805990) (documentation and testing).

@CFGrote @KedoKudo pinging you here so that the p

[2022-06-22 10:52] lucydot commented on #4402
Hi @archermarx  - thanks for the suggestions.

@StanczakDominik @akaptano are you available to review this submission for JOSS? I see you both have plasma physics + Julia knowledge 💪

[2022-06-22 11:25] miesli commented on #4298
@lucydot

* The release link is [here](https://gitlab.com/dmt-development/dmt-core/-/releases/version_1.6.1)
* The Zenodo archive DOI is 10.5281/zenodo.6684190

Thank you for doing the publication with us.

Also thank you to @dilawar and @phoebe-p for the great reviews and work!

[2022-06-22 11:51] perdelt commented on #4485
@editorialbot generate pdf

[2022-06-22 12:00] perdelt commented on #4485
@arfon - many thanks for your comment. I could improve the statement of need to stress that performance benchmarking is an important research domain of DBMS

[2022-06-22 12:30] wouterpeere commented on #4406
From the 8th of July, I will be on holiday. @jasondegraw, do you think it would be possible to review GHEtool before the 7th of July? It would be nice if I could finish this review process before going on holiday ..

[2022-06-22 13:19] lucydot commented on #4298
Excellent thanks @miesli.

[2022-06-22 13:20] dfm commented on #4417
@editorialbot set 10.5281/zenodo.6683682 as archive

[2022-06-22 13:20] dfm commented on #4417
@editorialbot set 1.1.0 as version

[2022-06-22 13:21] dfm commented on #4417
@editorialbot recommend-accept

[2022-06-22 13:22] lucydot commented on #4298
@editorialbot set 10.5281/zenodo.6684190 as doi

[2022-06-22 13:24] lucydot commented on #4298
@editorialbot set 10.5281/zenodo.6684190 as archive

[2022-06-22 13:24] lucydot commented on #4298
@editorialbot recommend-accept

[2022-06-22 13:37] miesli commented on #4298
That paper is twice in the bib-file Oo.
I will fix that immediately.

PS: It would be great if the reference check could also check that.

[2022-06-22 13:56] miesli commented on #4298
The new version is 1.6.2

* [Release](https://gitlab.com/dmt-development/dmt-core/-/releases/Version_1.6.2)
* Archive 10.5281/zenodo.6685185

I hope it works now. Sorry :(

[2022-06-22 14:00] editorialbot opened #4499 "[PRE REVIEW]: rTASSEL: An R interface to TASSEL for analyzing genomic diversity"
**Submitting author:** @btmonier (<a href="http://orcid.org/0000-0001-6797-1221">Brandon Monier</a>)
**Repository:** https://github.com/maize-genetics/rTASSEL
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.9.26
**Editor:** @fboehm
**Reviewers:** @tkchafin, @tomsing1
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/3b166c073aeb4

[2022-06-22 14:21] Kevin-Mattheus-Moerman commented on #4462
@editorialbot invite @christinahedges as editor

[2022-06-22 14:21] Kevin-Mattheus-Moerman commented on #4462
@christinahedges are you able to help with this one?

[2022-06-22 14:25] Kevin-Mattheus-Moerman commented on #4470
@SimonBiggs @Matthew-Jennings can you address these comments? :point_up: i.e. clarify software application in the readme and paper?

[2022-06-22 14:27] Kevin-Mattheus-Moerman commented on #4469
@lesfoster please add a plain text `LICENSE` file to your main repository folder. If the standard text is maintained our systems (and GitHub too) should then recognize the license.

[2022-06-22 14:38] Kevin-Mattheus-Moerman commented on #4473
@csoneson can you help with this one?

[2022-06-22 14:43] Kevin-Mattheus-Moerman commented on #4478
@editorialbot assign me as editor

[2022-06-22 14:44] Kevin-Mattheus-Moerman commented on #4488
@editorialbot invite @faroit as editor

[2022-06-22 14:45] Kevin-Mattheus-Moerman commented on #4488
@faroit can you help edit this one?

[2022-06-22 14:48] Kevin-Mattheus-Moerman commented on #4489
@alexanderlerch I am the AEiC on call this week. If the main application is educational then our sibling journal JOSE is a better fit: https://jose.theoj.org/. Perhaps you can consider it. The JOSS submission requirements include a clear research application. So if your work is mostly educational I suggest retracting the submission here and to resubmit it to JOSE? Let me know how you'd like to pro

[2022-06-22 14:52] Kevin-Mattheus-Moerman commented on #4496
https://gitlab.surrey.ac.uk/ri0005/binary_c-python

[2022-06-22 14:52] Kevin-Mattheus-Moerman commented on #4496
@editorialbot commands

[2022-06-22 14:56] Kevin-Mattheus-Moerman commented on #4496
@editorialbot check repository

[2022-06-22 14:57] faroit commented on #4488
@Kevin-Mattheus-Moerman @arfon I would be available to edit this but I had a brief look at the submission and I have some concerns that this is in-scope with JOSS. I am particularly worried that it doesn't pass the criteria for `substantial scholarly effort` as the main contribution is to provide a python wrapper for an existing Lisp-based software.

I do not have the knowledge in Lisp to provide

[2022-06-22 15:11] Kevin-Mattheus-Moerman commented on #4498
@pjb7687 thanks for this submission to JOSS. I am the AEiC on call this week. I am here to help process this work for evaluation.

- [ ] Please check our [paper preparation instuctions](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography), the above paper compilation error relations to the affiliations, please format them as shown in the example. You can call `@edi

[2022-06-22 15:15] Kevin-Mattheus-Moerman commented on #4499
@btmonier thanks for this JOSS submission. I am the AEiC on call this week and here to help with the initial steps. I have started searching for a handling editor and invited @fboehm as suggested.
Note that our system flagged some potentially missing DOIs :point_up: , can you check these? You can call `@editorialbot generate pdf` to update the paper, and you can call `@editorialbot check reference

[2022-06-22 15:27] fboehm commented on #4499
@editorialbot assign me as editor

[2022-06-22 15:35] fboehm commented on #4499
@Tgerke, @jhollist - would you be willing to review this submission for JOSS?

[2022-06-22 17:11] jhollist commented on #4499
Thanks for the invite, but I am going to have to decline.  Busy time of year!

[2022-06-22 17:46] jaybee84 commented on #4407
@csoneson Apologies for the delayed response due to conference related travel. I should be able to complete this review by the end of the week. Thanks for your patience.

[2022-06-22 19:16] fboehm commented on #4499
@skummerf and @afrubin - would you be willing to review this submission for JOSS?

[2022-06-22 19:18] fboehm commented on #4251
Thanks for the clarification, @nociale! I'm not sure what to do about that. When I clicked on your link, the top hit had it spelled correctly, while the second had the error that you mentioned. @arfon - do you have suggestions about this?

[2022-06-22 20:27] gkthiruvathukal commented on #4232
@askuric  I prefer to stick with the original title. Once you have it back to the original, can you let me know, so I an finalize acceptance?

[2022-06-22 21:01] platipodium commented on #4366
Contribution copyright retention / transfer not yet resolved.  Please make clear how you would like to accept contributions.  Read all about pros and cons at http://harmonyagreements.org/index.html

[2022-06-22 21:13] diehlpk commented on #3959
@krober10nd, @vijaysm thanks for finishing the review.

[2022-06-22 21:14] diehlpk commented on #3959
@editorialbot check references

[2022-06-22 21:15] diehlpk commented on #3959
@@samuel.burbulla please add the missing DOIs.

[2022-06-22 21:17] diehlpk commented on #3959
@editorialbot generate pdf from branch feature/paper

[2022-06-22 21:18] diehlpk commented on #3959
@editorialbot set feature/paper as branch

[2022-06-22 21:21] diehlpk commented on #4418
@dbrizard Please combine the two sections and make sure the transition of the two paragraphs is not to hard.

[2022-06-22 21:27] diehlpk commented on #3959
From the editorial perspective please do the following changes:

*` University of Stuttgart 2 University of Warwick` -> please add the city and country

* `we will try to follow the general Dune approach and separate the adaptation into two stages.`

I assume that 1. Mark and 2. Adapt are the two stages. I would recommend to use Stage 1: Mark and Stage 2: Adapt to make it more clear.

After adding

[2022-06-22 21:31] diehlpk commented on #4418
@editorialbot remove @erasmuss as reviewer

[2022-06-22 21:32] diehlpk commented on #4418
@editorialbot check references

[2022-06-22 21:40] SimonBiggs commented on #4470
Yup, thanks @Kevin-Mattheus-Moerman.

@sjswerdloff and @Matthew-Jennings have begun the discussion over at:

https://github.com/pymedphys/pymedphys/issues/1667

[2022-06-22 22:15] slayoo commented on #4498
@editorialbot generate pdf

[2022-06-22 22:21] slayoo commented on #4498
@editorialbot check references

[2022-06-22 22:25] slayoo commented on #4498
@editorialbot check references

[2022-06-22 22:27] slayoo commented on #4498
@Kevin-Mattheus-Moerman, @pjb7687, both the DOI and the affiliation issues are now fixed.

[2022-06-22 22:36] gkthiruvathukal commented on #4232
@editorialbot set 10.5281/zenodo.6510536 as archive

[2022-06-22 22:36] gkthiruvathukal commented on #4232
@editorialbot set v2.2.2 as version

[2022-06-22 22:37] gkthiruvathukal commented on #4232
@editorialbot generate pdf

[2022-06-22 22:44] gkthiruvathukal commented on #4232
@editorialbot recommend-accept

[2022-06-22 22:44] gkthiruvathukal commented on #4232
@askuric Please check the MISSING DOIs. Thanks!

[2022-06-23 00:41] lesfoster commented on #4469
@editorialbot commands

[2022-06-23 01:06] danielskatz commented on #4469
👋 @lesfoster - only the editor can invite reviewers, but authors can make suggestions (which are generally very welcome), typically by writing the github username (without the @) in a comment

[2022-06-23 01:26] lesfoster commented on #4469
Hello, @Kevin-Mattheus-Moerman .  Thanks for your input.  I am working on updates to the paper, and I have pushed a copy of the CDDL-1.0 license as flat text.  It had been only embedded as a header in the code.

Regarding the paper, I feel somewhat constrained at using MD flat text.  This project is highly visual in nature.  If I can find a way to call up images from within the MD file, is that ac

[2022-06-23 01:27] lesfoster commented on #4469
BTW @Kevin-Mattheus-Moerman , I had overlooked your comment because I saw the submission was still in pre-review, and thought perhaps I needed to invite someone specifically.  Sorry about that.

[2022-06-23 02:06] SimonBiggs commented on #4470
@Kevin-Mattheus-Moerman, does the following proposed changes to the paper appropriately address the concerns raised?

https://github.com/pymedphys/pymedphys/suites/7052584802/artifacts/277878183

[2022-06-23 05:56] askuric commented on #4232
@gkthiruvathukal  thanks!
The book Méchatronique does not have a DOI number, the suggested DOI is not referencing the same book.
In the paper we have provided the ISBN number of the book and the year of publishing.

[2022-06-23 06:23] fjprichard commented on #3821
@pibion I created a new release (v0.1.0) for the package including the joss paper. I have a question about the DOI, just to be sure. The DOI is for the new release ?  and not for the paper.

[2022-06-23 06:29] afrubin commented on #4499
@fboehm Thanks for considering me for this review. Unfortunately I don't have time to deliver a review in a reasonable amount of time right now.

[2022-06-23 06:47] samuelburbulla commented on #3959
@diehlpk Thanks for your feedback. I edited the paper according to your comments.

[2022-06-23 07:09] OlgerSiebinga commented on #4250
Hi All,

We paused the development of JOAN pending this review, but it has been a while now. So, we would like to resume the development on the `develop` and `demo` branches (we plan to make some substantial changes to the docs and procedures to allow JOAN to run with newer versions of CARLA). Please use the `master` branch for this review, we will not touch it until the review is done. That way,

[2022-06-23 07:17] fjprichard commented on #3821
@pibion I created the doi. The badge of the DOI is included in the README file of the new release (v0.1.3). Thank you very much.

[2022-06-23 08:13] Kevin-Mattheus-Moerman commented on #4289
That is fantabulous @rkurchin I'll assign you now

[2022-06-23 08:13] Kevin-Mattheus-Moerman commented on #4289
@editorialbot assign @rkurchin as editor

[2022-06-23 08:14] Kevin-Mattheus-Moerman commented on #4441
@editorialbot invite @richardjgowers as editor

[2022-06-23 08:14] Kevin-Mattheus-Moerman commented on #4441
@richardjgowers can you help edit this one? Thanks

[2022-06-23 09:10] dbrizard commented on #4418
@diehlpk the paper was updated: I wrote a transition and proofread the paper (there was some minor language mistakes).

[2022-06-23 10:33] diehlpk commented on #3959
@editorialbot check references

[2022-06-23 10:40] diehlpk commented on #3959
@samuelburbulla thanks for editing the paper.

Please do the following finalize the acceptance

- [ ] generate a new version, including all changes made during the review and post the new version here.
- [ ] upload this version to Zenodo or FigShare and post the DOI here. Note the title and the authors have to match with the psper.

[2022-06-23 13:03] Evmoerman commented on #4040
Just to make sure I understand: It's not me, who is supposed to accept the final paper right?

[2022-06-23 13:18] fboehm commented on #4499
No problem, @afrubin! I hope that we can work together on a future submission.

[2022-06-23 13:21] fboehm commented on #4499
@rrrlw @cskovron @AksanBA @stulacy - would you be willing to review this submission for JOSS?

[2022-06-23 13:21] danielskatz commented on #4040
No, it's the @openjournals/joss-eics on duty this week who will do this

[2022-06-23 14:18] jedbrown commented on #4487
@editorialbot generate pdf

[2022-06-23 14:35] dazhwu commented on #4416
Hi,

Is there anything I could do?

Thanks,

[2022-06-23 14:37] danielskatz commented on #4452
👋 @tamasgal - you can work on the two issues from @jpata at this point if you want; you don't need to wait for one of both review to be complete.

[2022-06-23 14:39] danielskatz commented on #4461
👋 @CFGrote - it's been a couple of weeks now, and I don't see that you have created your review checklists (as described above).  Is there anything blocking you from getting started?

[2022-06-23 14:40] danielskatz commented on #4461
👋 @ygrange - you wrote the following when you agree to review, so I'm not expecting anything from you yet, but just wanted to remind you about this, which I think you will be able to start next week.

[2022-06-23 14:42] danielskatz commented on #4328
👋 @step21 & @rlskoeser - please let me know if there's anything blocking you from continuing your reviews

[2022-06-23 14:58] step21 commented on #4328
Hey,

there is probably nothing blocking me, but I have been sick all week. This definitely does not increase my review capability as I am now behind on everything. I hope to be able to work again next week but in all likelihood, at least for a thorough review I can only start the week after.

[2022-06-23 15:04] csadorf commented on #4480
No, just need to find some time for this. I expect to be able to make some progress early next week. Thank you for the reminder.

[2022-06-23 15:10] danielskatz commented on #4328
@step21 - thanks for the update

[2022-06-23 15:15] Viech commented on #4468
@editorialbot generate my checklist

[2022-06-23 15:25] diehlpk commented on #4418
@editorialbot check references

[2022-06-23 15:26] diehlpk commented on #4418
@editorialbot generate pdf

[2022-06-23 15:32] editorialbot opened #4500 "[PRE REVIEW]: pyndl: Naïve Discriminative Learning in Python"
**Submitting author:** @derNarr (<a href="http://orcid.org/0000-0002-1178-7932">Konstantin Sering</a>)
**Repository:** https://github.com/quantling/pyndl
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.8.2
**Editor:** @osorensen
**Reviewers:** @frankier, @jinhangjiang, @VenkteshV
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/fc33a

[2022-06-23 15:32] editorialbot opened #4501 "[PRE REVIEW]: ALPPACA - A tooL for Prokaryotic Phylogeny And Clustering Analysis"
**Submitting author:** @hkaspersen (<a href="http://orcid.org/0000-0002-9559-1303">Håkon Kaspersen</a>)
**Repository:** https://github.com/NorwegianVeterinaryInstitute/ALPPACA
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 1.0.4
**Editor:** @csoneson
**Reviewers:** @mberacochea, @hseabolt, @rcannood
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss

[2022-06-23 15:36] diehlpk commented on #4418
@dbrizard I read the paper and I think it reads good. My only concern is

`We acknowledge the support from Pr Eric Jacquelin (ORCID ID) for his helpful advice on this project.`

I assume Pr is the abbreviation for professor or? It might be better to just write Dr. Eric Jacquelin or Professor Eric Jacquelin. I am not sure if Pr is a common abbreviation for most people in the world.

[2022-06-23 16:05] kris-rowe commented on #4490
@kyleniemeyer I can help with this.

[2022-06-23 16:27] rrrlw commented on #4499
Unfortunately, I will be unable to review this submission. Best of luck!

[2022-06-23 16:33] csoneson commented on #4473
@editorialbot assign @csoneson as editor

[2022-06-23 16:33] osorensen commented on #3700
Dear @a-ws-m, please report some progress within 14th July, or we might have to reject this submission (I also sent this message by e-mail today).

[2022-06-23 16:35] osorensen commented on #4248
@sebastientourbier, I will now read through the paper once more, and let you know if I have any further comments.

In the meantime, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in

[2022-06-23 17:33] sebastientourbier commented on #4248
Thank you @osorensen! I am taking of this.

[2022-06-23 17:47] sebastientourbier commented on #4248
@osorensen Here is the information you need related to the latest release:

* Tag release: [` v3.0.4 `](https://github.com/connectomicslab/connectomemapper3/releases/tag/v3.0.4)
* DOI of the Zenodo record: [10.5281/zenodo.6645256](http://doi.org/10.5281/zenodo.6645256)

I also changed the title of the record to match exactly the title of the paper. I also checked the list of authors/orcid and they

[2022-06-23 17:49] mbobra commented on #4170
👋 @danehkar Is everything going okay with this review? Please let me know if you need any help!

[2022-06-23 19:00] osorensen commented on #4248
@editorialbot help

[2022-06-23 19:02] osorensen commented on #4248
@editorialbot set 10.5281/zenodo.6645256 as archive

[2022-06-23 19:03] osorensen commented on #4248
@editorialbot set v3.0.4 as version

[2022-06-23 19:03] osorensen commented on #4248
@editorialbot check references

[2022-06-23 19:03] osorensen commented on #4248
@editorialbot generate pdf

[2022-06-23 20:17] osorensen commented on #4248
@editorialbot check references

[2022-06-23 20:44] osorensen commented on #4248
@editorialbot recommend-accept

[2022-06-23 20:53] osorensen commented on #4248
@sebastientourbier can you please try to remove the `isbn` field from `paper.bib`. It seems like two papers have such a field, which might cause the issue above. Please let me know when it's done.

[2022-06-23 20:54] osorensen commented on #4248
Here are the lines: https://github.com/connectomicslab/connectomemapper3/search?q=isbn&type=

[2022-06-24 00:31] blthayer commented on #4391
@fraukewiese - if @khelfen does not reply within the next several days, I'll go volunteer to review.

[2022-06-24 01:05] dlebauer commented on #4405
Apologies, its on my list for next week.

[2022-06-24 01:06] dlebauer commented on #4405
@editorialbot generate my checklist

[2022-06-24 06:43] CFGrote commented on #4461
Hi, sorry for the delay, I'll start the review next week.

On Thu, 2022-06-23 at 07:39 -0700, Daniel S. Katz wrote:

[2022-06-24 06:57] hkaspersen commented on #4501
Potential reviewers:
coughls, mberacochea, rcannood, hseabolt

[2022-06-24 07:03] hkaspersen commented on #4501
I noticed that I posted the whole link to the branch with the paper instead of just the name, sorry about that!

[2022-06-24 07:33] khelfen commented on #4391
Hey @fraukewiese and @blthayer I'm sorry for the late reply but unfortunately it's the same for me as for @nesnoj and @birgits ...  Best wishes for you and your project!

[2022-06-24 07:40] dbrizard commented on #4418
@diehlpk thank you. I made the correction.

[2022-06-24 07:40] sebastientourbier commented on #4248
@osorensen All isbn fields have been removed 👍

[2022-06-24 07:41] schalkdaniel commented on #4473
@csoneson - Sure, the first idea we had was to have multiple `R` packages to evaluate a binary classification model in a distributed setting. Therefore, we had a package for ROC curve and AUC calculation, calibration curves and other metrics, and a package for basic stuff like distributing an `R` model to multiple [DataSHIELD](https://www.datashield.org/) servers. The previous submission just cove

[2022-06-24 07:49] osorensen commented on #4248
@editorialbot check references

[2022-06-24 07:50] osorensen commented on #4248
@editorialbot generate pdf

[2022-06-24 07:55] osorensen commented on #4248
@editorialbot recommend-accept

[2022-06-24 08:13] ajstewartlang commented on #4212
@editorialbot generate pdf

[2022-06-24 08:15] ajstewartlang commented on #4212
@editorialbot check references

[2022-06-24 08:19] yuliadm commented on #4354
Dear @jbytecode, I tried to follow all of the instructions, so I hope everything is ok:
- here is the tagged release:  https://github.com/yuliadm/mixComp/releases/tag/v0.1.3
- here is the zenodo archive URL: https://doi.org/10.5281/zenodo.6660840
- here is the zenodo archive DOI: 10.5281/zenodo.6660840
Please let me know if I still managed to mess something up, I'll correct it!
Thanks!

[2022-06-24 08:31] Kevin-Mattheus-Moerman commented on #4498
@editorialbot generate pdf

[2022-06-24 08:33] Kevin-Mattheus-Moerman commented on #4487
@jedbrown thanks for the reply. That would be a potential or apparent CoI so we'll find an alternative editor. Thanks for getting back to me.

[2022-06-24 08:43] Kevin-Mattheus-Moerman commented on #4488
@xinyiguan following @faroit's recommendation I've added the `query-scope` label just now which means our editorial board will inspect this submission to check if it is in scope or not. As @faroit says we'll focus on determining if it conforms to our [`substantial scholarly effort` criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). If you'd like to help

[2022-06-24 08:45] Kevin-Mattheus-Moerman commented on #4501
@editorialbot check repository

[2022-06-24 09:40] CFGrote commented on #4333
@editorialbot help commands

[2022-06-24 09:41] CFGrote commented on #4333
@editorialbot commands

[2022-06-24 09:42] CFGrote commented on #4333
@editorialbot set joss-submission as branch

[2022-06-24 09:42] CFGrote commented on #4333
@editorialbot generate pdf

[2022-06-24 09:54] CFGrote commented on #4333
Thanks @JoannaLeng and @jonathanHuwP for your feedback. I'm fine with your solution regarding video tutorials (personally I always prefer written docs with screenshots over videos because the former allows me to proceed at my own speed). Please provide links to the videos in the repo and paper once they are in their final state and publicly available (youtube, zenodo), ideally with a DOI. I can th

[2022-06-24 09:58] CFGrote commented on #4333
@JoannaLeng @jonathanHuwP , please let me know when you are done with editing the paper, so I can give it another look?

[2022-06-24 10:26] jbytecode commented on #4354
@editorialbot set v0.1.3 as version

[2022-06-24 10:27] jbytecode commented on #4354
@yuliadm - the author metadata is missing (e.g. ORCHIDs). Please correct the fields and ping me again.

[2022-06-24 11:06] samuelburbulla commented on #3959
I made a new release, v1.3.2, including all changes of the review and uploaded a new PyPI package.

The version is now published via Zenodo with DOI: 10.5281/zenodo.6705603

[2022-06-24 11:18] chartgerink commented on #4416
Thanks @dazhwu - we are still waiting on the review.

If you have suggested reviewers it would help as I have not been able to find additional reviewers.

[2022-06-24 11:21] diehlpk commented on #3959
@editorialbot set 10.5281/zenodo.6705603 as archive

[2022-06-24 11:21] diehlpk commented on #3959
@editorialbot set v1.3.2 as version

[2022-06-24 11:23] diehlpk commented on #3959
@editorialbot recommend-accept

[2022-06-24 11:28] diehlpk commented on #4418
@editorialbot generate pdf

[2022-06-24 12:50] Kevin-Mattheus-Moerman commented on #3390
@diehlpk I have checked with several colleagues on evaluating the ANSYS functionality but have so far not been able to get any to commit to helping out to check this aspect of the software functionality.

Can @HaoZeke and @likask comment if they evaluated this functionality?

I have however very thoroughly tested the MATLAB aspects of the software. Despite not being able to verify the ANSYS link,

[2022-06-24 12:55] Kevin-Mattheus-Moerman commented on #4501
@hkaspersen thanks for this submission. I have added the `query-scope` label just now. This means I am labeling this work for a scope review by our editorial board. This is normal for works of this size and we will review if this work is in scope in terms of research application and functionality offered and if it complies with our ["substantial scholarly effort" criteria](https://joss.readthedocs

[2022-06-24 12:56] Kevin-Mattheus-Moerman commented on #4487
@jbytecode this might be somewhat off topic but I think your general expertise looks like you might be a good fit to handle this work as editor?

[2022-06-24 12:56] Kevin-Mattheus-Moerman commented on #4487
@editorialbot invite @jbytecode as editor

[2022-06-24 13:00] majensen commented on #4411
Apologies @nhejazi - Thanks for the ping. I will get some reviewer requests out today.

[2022-06-24 13:09] Kevin-Mattheus-Moerman commented on #4489
@alexanderlerch I will now withdraw this submission from JOSS.

[2022-06-24 13:09] Kevin-Mattheus-Moerman commented on #4489
@editorialbot withdraw

[2022-06-24 13:09] #4489 closed

[2022-06-24 14:30] jbytecode commented on #4487
@Kevin-Mattheus-Moerman of course, gladly

[2022-06-24 14:31] jbytecode commented on #4487
@editorialbot assign me as editor

[2022-06-24 14:44] jbytecode commented on #4487
@tonyewong - do you have suggestions for potential reviewers?

You can also use the list https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822 for potential reviewers that are registered before.

Please start your search from the very bottom of the list.

Please mention their usernames without using the @ character.

[2022-06-24 14:47] diehlpk commented on #4418
@dbrizard please generate a new version, including all changes made during the review. Post the new version here.

[2022-06-24 14:48] diehlpk commented on #4418
@dbrizard please upload the version to Zenodo and post the DOI here. Note that the title and authors on Zenodo have to match with the paper.

[2022-06-24 14:56] yuliadm commented on #4354
@jbytecode Done!
The other two co-authors do not have it.

[2022-06-24 16:22] jbytecode commented on #4354
@yuliadm - please ask them to create one.

Please add these ORCHIDs in the authors sections of the paper.md also like

[code]

and ping me when you have done.

[2022-06-24 17:29] lesfoster commented on #4469
I have made some updates to the paper.  Please comment.  Any input is welcome.  I hope I am not causing too much thrash, here

[2022-06-24 17:33] jbytecode commented on #4354
@editorialbot set 10.5281/zenodo.6660840 as archive

[2022-06-24 18:05] fboehm commented on #4499
Thanks for the replies, @rrrlw and @stulacy . I hope that we can work together on a future submission.

[2022-06-24 18:11] fboehm commented on #4499
@simonpcouch @flor14 @bioedd @stevokeyo @brunomontezano @stmcg - Would you be willing to review this submission for JOSS?

[2022-06-24 19:17] Kevin-Mattheus-Moerman commented on #4469
@editorialbot generate pdf

[2022-06-24 19:31] btmonier commented on #4499
@editorialbot generate pdf

[2022-06-24 19:32] btmonier commented on #4499
@editorialbot check references

[2022-06-24 19:36] melissawm commented on #4198
Hello all - yes thanks for pinging @arfon as I was out of office.

I will start the review in a new issue, and all other communication should happen there. Thanks, all!

[2022-06-24 19:36] melissawm commented on #4198
@editorialbot start review

[2022-06-24 19:36] editorialbot opened #4502 "[REVIEW]: FunFact: Build Your Own Tensor Decomposition Model in a Breeze"
**Submitting author:** @yhtang (<a href="http://orcid.org/0000-0001-7424-5439">Yu-Hang Tang</a>)
**Repository:** https://github.com/yhtang/FunFact
**Branch with paper.md** (empty if default branch): workspace/joss-submission
**Version:** 1.0.0
**Editor:** @melissawm
**Reviewers:** @Hanrui-Wang, @fabian-sp
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/51fa1d81375a46351e3

[2022-06-24 19:36] #4198 closed

[2022-06-24 19:37] marcosvital commented on #4375
Dear @ThomasThelen, I'm terribly sorry about the long delay. We will move to the reviewing stage soon.

[2022-06-24 19:38] marcosvital commented on #4375
Dear @brunomontezano, @chrisaberson and @MoLi7 you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you a

[2022-06-24 20:07] fabian-sp commented on #4502
@editorialbot generate my checklist

[2022-06-24 20:33] yuliadm commented on #4354
@jbytecode I do not think I can do that: they were our master students, but now they are done with their studies and doing something else.
Are there any other options? It is actually written that ORCID is not required...

[2022-06-24 20:56] simonpcouch commented on #4499
Thanks for the invite! Unfortunately, I won't be able to review as this submission is outside of my area of expertise.

[2022-06-24 20:56] lbluque commented on #4356
Dear @jarvist, I greatly appreciate the time you have already taken to find reviewers.

However, it's been a month since the review could have been started.

I understand JOSS is a volunteer run effort and we all have busy schedules. So if you currently do not have the capacity to serve as editor in a timely manner, please let me know asap so I can see how to proceed.

[2022-06-24 22:45] majensen commented on #4411
Hi @stefanocoretta - I appreciate your interest in reviewing for [JOSS](https://joss.theoj.org)! Are you available to review [this work](#4411)? Your expertise here would be very helpful; please have a look at the [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), and if you are interested, please repond in this thread. Thanks for your consideration! --@majensen

[2022-06-24 22:50] majensen commented on #4411
Hello  @turgeonmaxime - thanks for your interest in reviewing for [JOSS](https://joss.theoj.org). I believe your interests and expertise align with [this submitted work](#4411). Would you have time to review? Please have a look at [the review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), and let us know by responding in this thread. If you have suggestions for other

[2022-06-24 22:51] majensen commented on #4422
Apologies for my absence all, I will get to inviting-

[2022-06-25 00:19] diehlpk commented on #3390
@Kevin-Mattheus-Moerman thanks for the update.

[2022-06-25 00:19] diehlpk commented on #3390
@editorialbot generate pdf

[2022-06-25 00:21] diehlpk commented on #4377
@jfowkes please have a look at the comments above.

[2022-06-25 00:22] diehlpk commented on #3390
@editorialbot check references

[2022-06-25 00:23] diehlpk commented on #3390
@Muhao-Chen Please generate a new version, including all changes made during the review. Please post the new version here.

[2022-06-25 00:23] diehlpk commented on #3390
@Muhao-Chen Please add the missing DOI to the paper before you do the release.

[2022-06-25 00:30] diehlpk commented on #3390
@Muhao-Chen Please upload the version to Zenodo and post the DOI here. Please note that the title and authors have to match with the ones on the paper.

[2022-06-25 00:46] Muhao-Chen commented on #3390
@diehlpk Thank you so much! I have added the missing DOI and updated the paper. Thank you!

[2022-06-25 01:12] diehlpk commented on #3390
@editorialbot check references

[2022-06-25 01:44] Muhao-Chen commented on #3390
@diehlpk  Thank you! I have uploaded the package to Zenodo. The generated DOI is 10.5281/zenodo.6729686

[2022-06-25 01:58] dfm commented on #4453
@editorialbot add @christinahedges as reviewer

Thanks @christinahedges for agreeing to be our second reviewer. I'm going to get the review started in a new thread with lots more info over there.

[2022-06-25 01:58] dfm commented on #4453
@editorialbot start review

[2022-06-25 01:58] editorialbot opened #4503 "[REVIEW]: Eureka!: An End-to-End Pipeline for JWST Time-Series Observations"
**Submitting author:** @taylorbell57 (<a href="http://orcid.org/0000-0003-4177-2149">Taylor Bell</a>)
**Repository:** https://github.com/kevin218/Eureka
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.6
**Editor:** @dfm
**Reviewers:** @catrionamurray, @christinahedges, @dfm
**Archive:** 10.5281/zenodo.7278300

## Status

[![status](https://joss.theoj.org/papers/a1cb3f6e4e5

[2022-06-25 01:58] #4453 closed

[2022-06-25 01:59] dfm commented on #4503
@catrionamurray, @christinahedges — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please check

[2022-06-25 02:26] jgostick commented on #4397
Hi All, how are things?  I've put this review on the back burner for the past few weeks, and judging by the progress here I'm not the only one!  I hope things are moving along nicely behind the scenes?

[2022-06-25 02:27] jgostick commented on #4398
Hi @ronshnapp I am thinking you should start addressing @leahmendelson's comments.  The other reviewer has just informed me that they may not have time after all.

[2022-06-25 02:27] mhucka commented on #4328
I've released version 1.6.0 of the software, with a proper unmodified BSD 3-clause license.

[2022-06-25 04:59] jbytecode commented on #4354
This paper is their scientific work. But if they are not reachable, the situation is acceptable, so you can leave those parts empty.

Please provide the orchids (at least the ones at hand) in the paper metadata section.

[2022-06-25 05:50] yuliadm commented on #4354
@jbytecode that's wonderful news! Many thanks. I have added Fadoua's and mine ORCID's to the paper.md file and also updated the tagged release (hopefully it's now there too).

[2022-06-25 06:58] AksanBA commented on #4499
Hi, thanks for the invite as well but I can't review as this is outside my area of expertise.

[2022-06-25 08:08] jbytecode commented on #4354
@editorialbot check references

[2022-06-25 08:08] jbytecode commented on #4354
@editorialbot generate pdf

[2022-06-25 08:10] jbytecode commented on #4354
@editorialbot recommend-accept

[2022-06-25 08:19] csoneson commented on #4473
@schalkdaniel - great, thanks for the summary!

👋🏻 @zhiiiyang, @brunomontezano - would you be interested in reviewing this submission for JOSS?

[2022-06-25 11:24] ronshnapp commented on #4398
Hi @jgostick, thanks for the update. I'll start working on the revision.

[2022-06-25 12:37] oriolcg commented on #4211
@urban-fasel , I get the following error when executing the code:
[code]
Please, state in the README the required toolbox that should be installed before executing

[2022-06-25 12:40] oriolcg commented on #4211
@editorialbot generate pdf

[2022-06-25 13:32] Kevin-Mattheus-Moerman commented on #4498
@slayoo thanks for fixing those DOIs, you still however need to the affiliations, the are required to be like this (i.e. numbered):

[code]
See: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2022-06-25 13:50] Kevin-Mattheus-Moerman commented on #3959
- I checked the archive meta-data and all looks good.
- I checked the version tag for the review and archive and verified they match
- I proofread the paper and have the following comments:
- [ ] Should `dune-fem` have capital letters?
- [ ] `Use Partial Differential Equations (PDEs)` to introduce the acronym `PDEs`
- [ ] Check throughout for `Adaption`, this probably should read `Adaptation`
- [

[2022-06-25 13:56] Kevin-Mattheus-Moerman commented on #4040
- I checked the archive meta-data and all looks good. :+1:
- I checked the version tag for the review and archive and verified they match  :+1:
- I proofread the paper and it looks fine :+1:

I will now proceed to process this work for acceptance in JOSS

[2022-06-25 13:56] Kevin-Mattheus-Moerman commented on #4040
@editorialbot accept

[2022-06-25 14:05] pjb7687 commented on #4498
@editorialbot generate pdf

[2022-06-25 14:07] Kevin-Mattheus-Moerman commented on #4232
- I checked the archive meta-data and all looks good. :+1:
- I checked the version tag for the review and archive and verified they match  :+1:
- I proofread the paper and have the following comments:
- [ ] Please edit the affiliations to include country as well (and please spell out country names rather than using acronyms)

[2022-06-25 14:09] Kevin-Mattheus-Moerman commented on #4040
@Evmoerman congratulations on getting this work published in JOSS!

@rkurchin thanks for editing and thank you @awvwgk and @wcwitt for your stellar review efforts! :tada:

[2022-06-25 14:09] #4040 closed

[2022-06-25 14:10] pjb7687 commented on #4498
@editorialbot generate pdf

[2022-06-25 14:17] Kevin-Mattheus-Moerman commented on #4248
@sebastientourbier
- I checked the archive meta-data and all looks good. :+1:
- I checked the version tag for the review and archive and verified they match  :+1:
- I proofread the paper and have the following comment:
- [ ] Introduce `Magnetic Resonance Imaging (MRI)` in the summary where MRI is first used.

[2022-06-25 14:21] askuric commented on #4232
Hi @Kevin-Mattheus-Moerman,

Thanks for the updates.
The countries are added to the affiliations, don't hesitate to let me know if there are other changes necessary.

[2022-06-25 14:22] Kevin-Mattheus-Moerman commented on #4232
@editorialbot generate pdf

[2022-06-25 14:26] Kevin-Mattheus-Moerman commented on #4304
@yannikschaelte
- I checked the archive meta-data (title and authors) and all looks good. :+1:
- I checked the version tag for the review and archive and have the following comments:

- [ ] This review says it is currently for `0.12.4` however the [archive](https://zenodo.org/record/6677827) says `version 1`. If I inspect the project repository I see a tag for `0.12.5`. Can you please comment on w

[2022-06-25 14:27] Kevin-Mattheus-Moerman commented on #4232
@askuric thanks. Can you please group the `community member` affiliations into 1 and remove the countries there? This is not needed here. Thanks.

[2022-06-25 14:29] Kevin-Mattheus-Moerman commented on #4469
@openjournals/dev can you see what is wrong with the figure labels for this paper? Thanks

[2022-06-25 14:40] askuric commented on #4232
Ok, done.

[2022-06-25 14:43] Kevin-Mattheus-Moerman commented on #4469
@lesfoster thanks for the improvements to the paper. As far as I can tell this work presents a "highly visual" and "interactive" GUI system and provides a "means of examining how large biomolecules [ ] compare to each other". However, it remains unclear to me what the direct research application is. How do these visualizations influence scientific research, or how do they enable discovery, or how

[2022-06-25 14:56] jacksund commented on #4364
@editorialbot generate pdf

[2022-06-25 15:12] Kevin-Mattheus-Moerman commented on #4470
@SimonBiggs the readme appears unchanged, is that correct? On the paper

The summary reads:

This seems to simply say, this is open source software and we follow the open source philosophy. This is of course standard and a requirement of JOSS. However it does not say much about what the software is for. You can consider shortening this if you like.

I read this as: PyMedPhys enhances research/clin

[2022-06-25 15:16] Kevin-Mattheus-Moerman commented on #4470
@osorensen do you think you can help edit this Python submission relating to medical physics? I thought of you given your links to medical (neuro)imaging, however it may be somewhat off topic. If you cannot take this one, then I can take it but I would prefer if you could since I have quite a full plate at the moment.

[2022-06-25 15:16] Kevin-Mattheus-Moerman commented on #4470
@editorialbot invite @osorensen as editor

[2022-06-25 15:18] pjb7687 commented on #4498
@Kevin-Mattheus-Moerman @slayoo The affiliations should be fixed now.

[2022-06-25 15:21] Kevin-Mattheus-Moerman commented on #4498
@pjb7687 thanks for making those changes. It looks better now. Note that I have just added the `waitlisted` label. This is because it looks to me like all editors in this domain are currently working on many other submissions. An editor will be assigned here as soon as one becomes available.

[2022-06-25 15:22] Kevin-Mattheus-Moerman commented on #4498
@danielskatz @gkthiruvathukal this seems like it could be your cup of tea :tea: but you are both handling many other submissions. I have waitlisted this for now but let me know if we could already assign it to you.

[2022-06-25 15:23] Kevin-Mattheus-Moerman commented on #4500
@derNarr can you check those potentially missing DOIs? :point_up: You can call `@editorialbot generate pdf` to update the paper, and call `@editorialbot check references` to check those DOIs again. Thanks

[2022-06-25 15:28] Kevin-Mattheus-Moerman commented on #4500
@osorensen is this submission something you think you can handle as editor?

[2022-06-25 15:28] Kevin-Mattheus-Moerman commented on #4500
@editorialbot invite @osorensen as editor

[2022-06-25 15:29] Kevin-Mattheus-Moerman commented on #4232
@editorialbot generate pdf

[2022-06-25 15:31] Kevin-Mattheus-Moerman commented on #4232
@editorialbot accept

[2022-06-25 15:37] Kevin-Mattheus-Moerman commented on #4232
@askuric congratulations on your JOSS paper!

Thanks @gkthiruvathukal for editing this work, and thank you @sea-bass and @ixjlyons for your review efforts!!

[2022-06-25 15:37] #4232 closed

[2022-06-25 15:55] askuric commented on #4232
Awesome, thanks @Kevin-Mattheus-Moerman!

Thanks @gkthiruvathukal , @sea-bass and @ixjlyons  for your reviews and helpful comments, we appreciate it.

[2022-06-25 16:17] yannikschaelte commented on #4304
Hi @Kevin-Mattheus-Moerman , thanks for proofreading! You are right, it should be 0.12.5 (I created a new version with the latest changes esp. from the review process). I updated the zenodo accordingly.

[2022-06-25 16:50] arfon commented on #3973
:wave: @jarvist – it seems like our author has abandoned this review at this point. I propose we give the author a 1 month deadline to return to this submission, and if they don't we reject due to author inactivity.

[2022-06-25 16:51] arfon commented on #3973
@god-s-perfect-idiot – if we don't hear back from you in the next month we will unfortunately have to reject this submission.

[2022-06-25 16:54] arfon commented on #4356
@editorialbot add @TomTranter as reviewer

[2022-06-25 16:55] arfon commented on #4356
@editorialbot start review

[2022-06-25 16:55] editorialbot opened #4504 "[REVIEW]: smol: A Python package for cluster expansions and beyond"
**Submitting author:** @lbluque (<a href="http://orcid.org/0000-0002-6453-9545">Luis Barroso-Luque</a>)
**Repository:** https://github.com/CederGroupHub/smol
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.0.1
**Editor:** @jarvist
**Reviewers:** @TomTranter, @zhubonan
**Archive:** 10.5281/zenodo.7115050

## Status

[![status](https://joss.theoj.org/papers/e96a568ca53ee9d1

[2022-06-25 16:55] #4356 closed

[2022-06-25 16:55] arfon commented on #4356
:wave: @jarvist – as it looks like we've got two reviewers here, I've gone ahead and moved this to the review stage so they can get cracking. Hope this is OK!

[2022-06-25 16:56] arfon commented on #4504
@kitmccoll, @TomTranter –This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Please create your checklist typing:

[code]

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOS

[2022-06-25 17:07] osorensen commented on #4470
@editorialbot assign @osorensen as editor

[2022-06-25 17:08] osorensen commented on #4470
That's fine @Kevin-Mattheus-Moerman. It's not 100 % my field, but I'll find reviewers who can do the job.

[2022-06-25 17:09] TomTranter commented on #4504
@editorialbot generate my checklist

[2022-06-25 17:09] osorensen commented on #4500
@editorialbot assign @osorensen as editor

[2022-06-25 17:13] osorensen commented on #4500
👋 @frankier @jinhangjiang @VenkteshV would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-25 17:14] osorensen commented on #4470
@editorialbot generate pdf

[2022-06-25 17:24] osorensen commented on #4470
:wave: @ProfLeao @hannesUlrich @michaelberks, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-25 17:32] Kevin-Mattheus-Moerman commented on #4304
@editorialbot set  10.5281/zenodo.6677826 as archive

[2022-06-25 17:33] Kevin-Mattheus-Moerman commented on #4304
@editorialbot set 10.5281/zenodo.6677826 as archive

[2022-06-25 17:34] Kevin-Mattheus-Moerman commented on #4304
@editorialbot set 0.12.5 as version

[2022-06-25 17:34] Kevin-Mattheus-Moerman commented on #4304
@editorialbot accept

[2022-06-25 17:36] frankier commented on #4500
I am happy to complete the review on July the 5th if you can't find a faster reviewer.

[2022-06-25 18:27] osorensen commented on #4500
Thanks @frankier, and I'm very happy if you can complete the first round of review within three weeks.

[2022-06-25 18:28] osorensen commented on #4500
@editorialbot add @frankier as reviewer

[2022-06-25 18:36] derNarr commented on #4500
I will check the DOIs on Monday. Thank you for finding and searching for reviewers!

Am 25. Juni 2022 17:23:56 MESZ schrieb Kevin Mattheus Moerman ***@***.***>:
***@***.*** can you check those potentially missing DOIs? :point_up: You can call ***@***.*** generate pdf` to update the paper, and call ***@***.*** check references` to check those DOIs again. Thanks

[2022-06-25 19:00] Kevin-Mattheus-Moerman commented on #4304
@yannikschaelte congratulations on your publication in JOSS!

Thanks for editing this one @osorensen! And thank you @mattpitkin, @hpesonen, @blakeaw for your review efforts!!! :tada:

[2022-06-25 19:00] #4304 closed

[2022-06-25 19:02] Kevin-Mattheus-Moerman commented on #4462
@editorialbot invite @xuanxu as editor

[2022-06-25 19:02] Kevin-Mattheus-Moerman commented on #4462
@xuanxu can you edit this one?

[2022-06-25 19:05] Kevin-Mattheus-Moerman commented on #4211
@omtazi  @frederickgosselin can you please start the review process? Thanks

[2022-06-25 19:11] Kevin-Mattheus-Moerman commented on #4211
@oriolcg thanks again for your help here. I see you encountered a "missing toolboxes" type of error. Can you install those and proceed or is this an obstacle?

@urban-fasel please do add toolbox requirements to the README.

[2022-06-25 19:20] Kevin-Mattheus-Moerman commented on #4305
I have checked the archive and meta-data, and the version tag. I have also briefly reviewed the paper and all seems in order. I will now proceed to process acceptance.

[2022-06-25 19:20] Kevin-Mattheus-Moerman commented on #4305
@editorialbot accept

[2022-06-25 19:21] editorialbot opened #4505 "[PRE REVIEW]: The Python-AppImage project"
**Submitting author:** @niess (<a href="http://orcid.org/0000-0001-7148-6819">Valentin Niess</a>)
**Repository:** https://github.com/niess/python-appimage
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.1.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/03eafb4449cf5246f7e0c71d6a6570dc/sta

[2022-06-25 19:29] Kevin-Mattheus-Moerman commented on #4305
@vipinagrawal25 congratulations on getting this paper published in JOSS!

@fboehm thanks for editing this one!

And special thanks to @victorapm and @mgiardino for your review work!! :tada:

[2022-06-25 19:29] #4305 closed

[2022-06-25 19:30] editorialbot opened #4506 "[PRE REVIEW]: GlobalSensitivity.jl: julia package for performant global sensitivity analysis"
**Submitting author:** @Vaibhavdixit02 (<a href="http://orcid.org/0000-0001-7763-2717">Vaibhav Dixit</a>)
**Repository:** https://github.com/SciML/GlobalSensitivity.jl
**Branch with paper.md** (empty if default branch):
**Version:** v2.0.0
**Editor:** @jbytecode
**Reviewers:** @zhenwu0728, @storyetfall
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/aaa43a64

[2022-06-25 20:14] stsievert commented on #4445
@editorialbot generate pdf

[2022-06-25 20:19] JulianKarlBauer commented on #4389
Thank you @nicoguaro for pointing out, that the comparison with other packages should be extended.

After having looked at all 23 repositories tagged with "continuum-mechanics" on Github, it becomes clear, that our repositories are quite isolated when it comes to Python packages for continuum-mechanics. Most of the remaining 21 repositories are even more specific and only a few are written in Pyth

[2022-06-25 21:28] ProfLeao commented on #4470
@osorensen, of course i can. It will be a pleasure

[2022-06-25 22:31] ProfLeao commented on #4470
@editorialbot commands

[2022-06-25 22:32] ProfLeao commented on #4470
@editorialbot generate my checklist

[2022-06-25 23:39] lesfoster commented on #4469
I will see what I can do.  Unfortunately, the folks who have been downloading have not provided feedback.  So, I may have to dig a bit.

[2022-06-26 02:36] danehkar commented on #4170
@mbobra Thank you for the reminder. I will complete my review by the end of next week.

[2022-06-26 05:08] osorensen commented on #4470
@ProfLeao thanks! I'll add you to the reviewer list. Once I get a response from the third person I asked to review, I'll start a new review issue, in which you can generate your checklist. You will be notified when this happens.

[2022-06-26 05:08] osorensen commented on #4470
@editorialbot add @ProfLeao as reviewer

[2022-06-26 05:23] khinsen commented on #4451
@chartgerink I have checked all the boxes of my checklist, the authors have replied and reacted quickly to all my comments and issues, so I'd say my review is done! I have to add that "Have the functional claims of the software been confirmed?" is not something I can do exhaustively for a software that has this much diverse functionality. I have run a few tests, which all worked out fine, but I ca

[2022-06-26 05:56] anki-xyz commented on #3632
Good for me - accept.

[2022-06-26 07:36] jinhangjiang commented on #4500
Thank you for reaching out! I’m happy to review if there is some time left. Please let me know when the ddl is so that I can let you know my final decision.

Sent from my iPhone

[2022-06-26 07:39] osorensen commented on #4500
@jinhangjiang thanks, there are no hard deadlines here, but if you accept, we would appreciate if you could start the review with three weeks. Is that ok for you?

[2022-06-26 07:42] arfon commented on #4279
@editorialbot accept

[2022-06-26 07:45] arfon commented on #4417
@editorialbot accept

[2022-06-26 07:47] arfon commented on #4279
@abhishektha, @mr53563 – many thanks for your reviews here and to @diehlpk for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@danasolav – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-26 07:47] #4279 closed

[2022-06-26 07:49] arfon commented on #4417
@gregbryan, @kaleybrauer – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@HartwigTilman – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-26 07:49] #4417 closed

[2022-06-26 07:50] arfon commented on #4481
@editorialbot assign me as editor

[2022-06-26 07:51] arfon commented on #4481
@editorialbot assign @arfon as reviewer

[2022-06-26 07:51] arfon commented on #4481
@editorialbot start review

[2022-06-26 07:51] arfon commented on #4481
@editorialbot add @arfon as reviewer

[2022-06-26 07:51] arfon commented on #4481
@editorialbot start review

[2022-06-26 07:51] editorialbot opened #4507 "[REVIEW]: tidyqpcr: Quantitative PCR analysis in the tidyverse."
**Submitting author:** @ewallace (<a href="http://orcid.org/0000-0001-8025-6361">Edward Wallace</a>)
**Repository:** https://github.com/ropensci/tidyqpcr
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @arfon
**Archive:** 10.5281/zenodo.6757624

## Status

[![status](https://joss.theoj.org/papers/51996e6ce004532d31c0d83a6a806334/status.svg)](

[2022-06-26 07:51] #4481 closed

[2022-06-26 07:55] arfon commented on #4507
@ewallace – I'm going to move to accept this submission in JOSS given the [earlier review](https://github.com/ropensci/software-review/issues/470) in rOpenSci.

Before I do this though could you:

- Take a look at fixing up the `10.1186/1471-2164-13-296/FIGURES/4` DOI? This looks to be invalid.
- Please make an archive of the software in Zenodo/figshare/other service and update this thread with th

[2022-06-26 08:00] danasolav commented on #4279
Thank you! @diehlpk @abhishektha @mr53563 @arfon

[2022-06-26 08:01] jinhangjiang commented on #4500
﻿Yeah. That definitely works for me. Please add me. I will follow up soon. Thank you again for reaching out to me.

Sent from my iPhone

[2022-06-26 08:02] arfon commented on #4354
@yuliadm – I made some slight changes to your paper to match the current preferred format for denoting equal authorship and corresponding authorship: https://github.com/yuliadm/mixComp/pull/8

[2022-06-26 08:17] danasolav commented on #4279
@diehlpk @arfon
I found out that my ORCID number was wrong. Can it still be corrected? I just pushed this change to the paper on the repository.
Sorry about that...

[2022-06-26 09:19] osorensen commented on #4500
@editorialbot add @jinhangjiang as reviewer

[2022-06-26 10:17] andrew-f-murphy commented on #3632
Thanks for your time and feedback @anki-xyz

[2022-06-26 11:48] ronshnapp commented on #4398
Hi @jgostick and @leahmendelson.
I went through the detailed comments and issues raised in the review and addressed them all (@leahmendelson, thank you very much, I truly appreciate your effort and value your comments). The revision to the code, manual, and readme can be found in the master branch. The revision to the paper can be found in the JOSS_paper branch. The changes I made are listed as co

[2022-06-26 12:33] stevokeyo commented on #4499
Hello,

Unfortunately I will nor be in a position to take-up this review seeing its scope is out of my area of specialisation.

Stephen.

[2022-06-26 14:42] arfon commented on #4354
@editorialbot recommend-accept

[2022-06-26 15:05] arfon commented on #4354
Hrm, the formatting for Lilian Mueller is now a little weird with the updated formatting. @yuliadm – is there any particular need to specify/highlight that author as a 'contributor'?

[2022-06-26 15:05] arfon commented on #4444
Thanks @krachyon – thanks for the background, we'd love to have you as a reviewer.

Feel free to discuss this in your feedback in the main review thread I'm about to open below.

Definitely. You're welcome to provide any/all feedback in the review.

Yes, this is a great idea. We do have an overview of the review process, but I note this is on the 'editor' docs page (we should probably include this

[2022-06-26 15:06] arfon commented on #4444
@editorialbot add @Onoddil as reviewer

[2022-06-26 15:06] arfon commented on #4444
@editorialbot add @krachyon as reviewer

[2022-06-26 15:06] arfon commented on #4444
@editorialbot start review

[2022-06-26 15:06] editorialbot opened #4508 "[REVIEW]: HostPhot: global and local photometry of galaxies hosting supernovae or other transients"
**Submitting author:** @temuller (<a href="http://orcid.org/0000-0003-3939-7167">Tomás E. Müller-Bravo</a>)
**Repository:** https://github.com/temuller/hostphot
**Branch with paper.md** (empty if default branch): main
**Version:** v2.1.0
**Editor:** @arfon
**Reviewers:** @Onoddil, @krachyon
**Archive:** 10.5281/zenodo.6992139

## Status

[![status](https://joss.theoj.org/papers/5f22de3b8db6dbce4f6

[2022-06-26 15:06] #4444 closed

[2022-06-26 15:07] arfon commented on #4444
@temuller, @Onoddil, @krachyon – see you over #4508 where the actual review will take place!

[2022-06-26 15:08] arfon commented on #4508
@Onoddil, @krachyon – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Please create your checklist typing:

[code]

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS r

[2022-06-26 15:14] yuliadm commented on #4354
@arfon no specific reason, equal contribution would be OK! So I fixed it!

[2022-06-26 16:16] hannesUlrich commented on #4470
Unfortunately I have to decline, that is outside my field of expertise.

[2022-06-26 16:51] osorensen commented on #4470
That's ok. Thanks for the quick response @hannesUlrich.

[2022-06-26 17:08] chrisaberson commented on #4375
Agree to review

On Fri, Jun 24, 2022, 3:38 PM Marcos Vital (LEQ-UFAL) <
***@***.***> wrote:

[2022-06-26 17:35] ThomasThelen commented on #4375
I totally understand about the time aspects here and we appreciate the work of all the volunteers! I'm assuming that many folks were busy with end of the year grading too :)

Thanks for the review @chrisaberson!

[2022-06-26 17:51] stmcg commented on #4499
Hi, thanks for the invite. I won't be able to review this as it's also outside my area of expertise. Best of luck!

[2022-06-26 18:33] diehlpk commented on #4279
@danasolav I think it's possible to correct that, however, I do not have the permissions to do it.

@arfon should be able to do it.

[2022-06-26 18:57] arfon commented on #4354
@editorialbot recommend-accept

[2022-06-26 19:09] arfon commented on #4354
@editorialbot accept

[2022-06-26 19:16] editorialbot opened #4509 "[PRE REVIEW]: PyFPT: A Python package for first-passage times"
**Submitting author:** @Jacks0nJ (<a href="http://orcid.org/0000-0002-1564-1607">Joseph Jackson</a>)
**Repository:** https://github.com/Jacks0nJ/PyFPT
**Branch with paper.md** (empty if default branch):
**Version:** 1.00
**Editor:** @drvinceknight
**Reviewers:** @CFGrote, @geraintpalmer
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/771dacf123576f6d5e3fbde659ca6

[2022-06-26 19:16] editorialbot opened #4510 "[PRE REVIEW]: Nanomesh: A Python workflow tool for generating meshes from image data"
**Submitting author:** @stefsmeets (<a href="http://orcid.org/0000-0002-5413-9038">Stef Smeets</a>)
**Repository:** https://github.com/hpgem/nanomesh
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 0.9.0
**Editor:** @prashjha
**Reviewers:** @jameshgrn, @vijaysm
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/0fcbf050ec48e9f1aa2ec5d8f1d

[2022-06-26 19:17] arfon commented on #4354
@Athene-ai, @zhiiiyang – many thanks for your reviews here and to @jbytecode for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@yuliadm – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-26 19:17] #4354 closed

[2022-06-26 19:18] editorialbot opened #4511 "[PRE REVIEW]: solid_dmft: gray-boxing DFT+DMFT materials simulations with TRIQS"
**Submitting author:** @the-hampel (<a href="http://orcid.org/0000-0003-1041-8614">Alexander Hampel</a>)
**Repository:** https://github.com/TRIQS/solid_dmft
**Branch with paper.md** (empty if default branch): joss
**Version:** 3.1.1
**Editor:** @rkurchin
**Reviewers:** @amandadumi, @raghurama123, @shivupa
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/48eb529b08

[2022-06-26 19:18] editorialbot opened #4512 "[PRE REVIEW]: RHEA: an open-source Reproducible Hybrid-architecture flow solver Engineered for Academia"
**Submitting author:** @lluisjofre (<a href="http://orcid.org/0000-0003-2437-259X">Lluis Jofre</a>)
**Repository:** https://gitlab.com/ProjectRHEA/flowsolverrhea
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @ctdegroot, @thomasgillis
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/23f32f49c31a2e

[2022-06-26 19:19] editorialbot opened #4513 "[PRE REVIEW]: aucvar: a R package for variance estimation of AUC"
**Submitting author:** @fmoyaj (<a href="http://orcid.org/0000-0001-7375-7993">Francisca Moya Jimenez</a>)
**Repository:** https://github.com/fmoyaj/aucvar
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/34e5f1a0bbd5b9ef10da4a8b7bf957a6/status.svg)](

[2022-06-26 19:20] editorialbot opened #4514 "[PRE REVIEW]: PyDDSBB: A Python Package for Simulation-Optimization using Data-Driven Branch-and-Bound Techniques"
**Submitting author:** @Suryateja-Ravutla (<a href="http://orcid.org/0000-0002-5039-8032">Suryateja Ravutla</a>)
**Repository:** https://github.com/DDPSE/PyDDSBB
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/09422c9b91f06c4db528afa8083f0825/status.

[2022-06-26 19:25] arfon commented on #3632
:wave: @cMadan – looks like this one is ready for you to do the last few pieces with before handing over to the EiC team 🎉

[2022-06-26 19:30] arfon commented on #4462
@editorialbot assign me as editor

[2022-06-26 19:30] arfon commented on #4462
@rhdtownsend – thanks for your submission to JOSS. Could you suggest a few names (ideally folks you know are on GitHub( that might be able to provide a good review here?

[2022-06-26 19:32] arfon commented on #4486
@ManjariKiran – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-cod

[2022-06-26 19:32] arfon commented on #4486
@editorialbot reject

[2022-06-26 19:32] #4486 closed

[2022-06-26 19:38] arfon commented on #4469
The author is putting some of the caption text in the right place, but the rest of it seems to be after the figure embed. See the example paper for how to do this properly: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2022-06-26 19:38] krachyon commented on #4508
Created issues for collecting my comments: https://github.com/temuller/hostphot/issues/3 https://github.com/temuller/hostphot/issues/2 https://github.com/temuller/hostphot/issues/1

[2022-06-26 19:40] arfon commented on #4509
@editorialbot invite @drvinceknight as editor

:wave: @drvinceknight – not sure if you're taking on new submissions yet, but if you are, perhaps you could take this? 😄

[2022-06-26 19:47] arfon commented on #4482
@FlukeAndFeather – I'm sorry to say we're a little short on editor capacity to handle this submission right now. As such, I'm adding this to our waitlist until an editor with appropriate expertise is available.

[2022-06-26 19:49] arfon commented on #4485
@editorialbot invite @gkthiruvathukal as editor

:wave: @gkthiruvathukal – would you be willing to edit this submission for JOSS?

[2022-06-26 19:50] ProfLeao commented on #4470
Ok thanks.

[2022-06-26 19:51] arfon commented on #4505
@editorialbot query scope

:wave: @niess – many thanks for your submission to JOSS. I'm not sure if this software meets our definition of research software, as such, I'm putting the paper though a scope review with the broader JOSS editorial team. This will likely take a week or so.

[2022-06-26 19:53] arfon commented on #4510
@editorialbot invite @prashjha as editor

:wave: @prashjha – would you be willing to edit this submission for JOSS?

[2022-06-26 19:54] yangbai90 commented on #4252
@editorialbot generate pdf

[2022-06-26 19:54] arfon commented on #4511
@the-hampel - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-06-26 19:56] yangbai90 commented on #4252
@editorialbot commands

[2022-06-26 19:56] arfon commented on #4514
@editorialbot query scope

@Suryateja-Ravutla – thanks for your submission to JOSS. As this is on the smaller side of what we typically publish in JOSS I'm going to flag this for a scope review by the wider editorial team. This will likely take a week or so.

[2022-06-26 19:58] arfon commented on #4512
@editorialbot check repository

[2022-06-26 19:59] arfon commented on #4513
@editorialbot query scope

@fmoyaj – many thanks for your submission to JOSS. As this package is quite small, I'm going to flag this for a scope review by the wider JOSS editorial team. This will likely take a week or so.

[2022-06-26 20:00] arfon commented on #4512
@lluisjofre – as per our submission instructions, your paper needs to be present in the same repository as your software (i.e., https://gitlab.com/ProjectRHEA/flowsolverrhea). Please add the paper (even in a branch) to this repository and let us know when you have done this.

Many thanks!

[2022-06-26 20:03] yangbai90 commented on #4252
@editorialbot check references

[2022-06-26 20:09] yangbai90 commented on #4252
@editorialbot check references

[2022-06-26 20:09] gkthiruvathukal commented on #4485
@arfon Yes. Is the protocol still for me to assign myself as editor to accept?

[2022-06-26 20:10] yangbai90 commented on #4252
@editorialbot generate pdf

[2022-06-26 21:11] SimonBiggs commented on #4470
@JacobMcAloney, I really like the suggestion above. Would you up for another adjustment taking into account that recommendation?

[2022-06-26 21:31] tamasgal commented on #4452
Thanks, we are already working on the improvements!

[2022-06-26 21:41] lluisjofre commented on #4512
Hi @arfon,
We have copied the paper files in the gitlab repository·
The files are available at: https://gitlab.com/ProjectRHEA/flowsolverrhea/paper

Best,
Lluis

[2022-06-26 21:47] fboehm commented on #4499
@simonpcouch @AksanBA @stevokeyo @stmcg - Thanks for the replies! I hope that we can work together on a future submission.

[2022-06-26 21:49] lluisjofre commented on #4512
Hi @arfon,

We have copied the paper files in the gitlab repository·
The files are available at: https://gitlab.com/ProjectRHEA/flowsolverrhea/paper

Potential reviewers of the papers are: tupi, dlagrava, mikaem, celliern.

Best,
Lluis

[2022-06-26 23:19] VenkteshV commented on #4500
I would be happy to take it up. I would be able to start reviewing in three weeks.

[2022-06-26 23:21] jeffreyhanson commented on #4436
Hi @martinfleis, it's been several weeks now, so I just wanted to follow up and ask if there's anything I can do to help? Is there any further information I can provide to help with determining if the submission meets the journal's critieria?

[2022-06-26 23:41] ewallace commented on #4507
Thank you @arfon!

- I fixed the DOI issue in https://github.com/ropensci/tidyqpcr/pull/195, thanks for finding that.
- tidyqpcr is now archived on Zenodo: https://doi.org/10.5281/zenodo.6757624
  - I checked the titles are the same
  - I checked the authors are the same

I hope that all works.

[2022-06-26 23:56] leahmendelson commented on #4398
@ronshnapp has done a great job addressing my comments and my review checklist is now complete. I'm happy to recommend MyPTV. @jgostick, any other steps for me?

[2022-06-27 00:11] Matthew-Jennings commented on #4470
Thank you, @Kevin-Mattheus-Moerman, for your helpful initial review.

So far, yes, though we do see the merit of fleshing it out as per @danasolav's feedback. Would the README in its current form preclude publication in JOSS? If so, what specifically would need to be included from JOSS' perspective? One point that comes to my mind is that, unlike a JOSS paper summary, the README's missing content

[2022-06-27 00:49] diehlpk commented on #3390
@editorialbot set 10.5281/zenodo.6729686 as archive

[2022-06-27 00:50] diehlpk commented on #3390
@Muhao-Chen Please post the new version here as well?

[2022-06-27 02:34] gkthiruvathukal commented on #4485
@editorialbot assign @gkthiruvathukal as editor

[2022-06-27 02:35] gkthiruvathukal commented on #4485
@perdelt if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-06-27 03:26] rhdtownsend commented on #4462
Sure —

Carlos Allende Prieto — https://github.com/callendeprieto
Dan Forman-Mackey — https://github.com/dfm (also a JOSS editor, I believe)
Hugo Tabernero — https://github.com/hmtabernero
Ansgar Wehrhahn — https://github.com/AWehrhahn

cheers,

Rich

On Jun 26, 2022, at 2:31 PM, Arfon Smith ***@***.******@***.***>> wrote:

@rhdtownsend<https://github.com/rhdtownsend> – thanks for your submission

[2022-06-27 03:44] Muhao-Chen commented on #3390
@diehlpk  Thank you! Do you mean this link? https://zenodo.org/record/6729686#.YrknfnbMK1h

[2022-06-27 04:10] osorensen commented on #4500
@editorialbot add @VenkteshV as reviewer

[2022-06-27 04:10] osorensen commented on #4500
@editorialbot start review

[2022-06-27 04:10] editorialbot opened #4515 "[REVIEW]: pyndl: Naïve Discriminative Learning in Python"
**Submitting author:** @derNarr (<a href="http://orcid.org/0000-0002-1178-7932">Konstantin Sering</a>)
**Repository:** https://github.com/quantling/pyndl
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.1.1
**Editor:** @osorensen
**Reviewers:** @frankier, @jinhangjiang, @VenkteshV
**Archive:** 10.5281/zenodo.7410272

## Status

[![status](https://joss.theoj.org/papers/fc33

[2022-06-27 04:10] #4500 closed

[2022-06-27 04:51] jedbrown commented on #4324
Thanks for your improvements and sorry about my delay getting back to this. Are there reviewers on [this list](https://bit.ly/joss-reviewers) that you would suggest? (Please share usernames here with the `@` so we don't ping them yet.)

Also, I'm aware that AGS is widely used in industry, but are there some large open source/research projects that use AGS and are not conflicted with the authors? G

[2022-06-27 06:56] fraukewiese commented on #4391
@blthayer : Thanks a lot for agreeing to review!

[2022-06-27 06:56] fraukewiese commented on #4391
@editorialbot assign @blthayer as reviewer

[2022-06-27 06:57] fraukewiese commented on #4391
@editorialbot add @blthayer as reviewer

[2022-06-27 06:57] fraukewiese commented on #4391
@editorialbot start review

[2022-06-27 06:57] editorialbot opened #4516 "[REVIEW]: RELSAD: A Python package for reliability assessment of modern distribution systems"
**Submitting author:** @stinefm (<a href="http://orcid.org/0000-0002-2283-1724">Stine Fleischer Myhre</a>)
**Repository:** https://github.com/stinefm/relsad
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.14
**Editor:** @fraukewiese
**Reviewers:** @robinroche, @blthayer
**Archive:** 10.5281/zenodo.7195034

## Status

[![status](https://joss.theoj.org/papers/89b8a25755bb264137

[2022-06-27 06:57] #4391 closed

[2022-06-27 07:00] fraukewiese commented on #4516
@stinefm Could you please check the missing DOIs

[2022-06-27 07:01] fraukewiese commented on #4391
@robinroche @blthayer : Thank a lot to both of you for agreeing to review. See you over in #4516 where the actual review takes place.

[2022-06-27 07:02] rbturnbull commented on #4212
@editorialbot generate pdf

[2022-06-27 07:03] fraukewiese commented on #4370
@andr1976 Thanks for your review, would you recommend this submission for publication?

[2022-06-27 07:05] fraukewiese commented on #4370
@ClaraBuettner : Thank you for your review so far. As the checklist is complete: Do you have any comments/suggestions/questions to the author? Would you recommend this submission for publication in its present form or is there anything that should be revised?

[2022-06-27 07:17] oliviaguest commented on #3956
@editorialbot check references

[2022-06-27 07:22] jfowkes commented on #4377
@stsievert thank you very much for taking the time to review our submission, much appreciated. In response to the two blocking issues you raised:
- We will of course add guidelines for contributors to the readme and docs, apologies for the omission, we missed that this was a requirement.
- As stated at the start of the readme and docs, Arpad Burmen wrote the original PyCUTEr of which PyCUTEst is a

[2022-06-27 07:23] oliviaguest commented on #4114
@raybecker maybe a rough ETA for your review might help; I can set up an automated reminder. 😊

[2022-06-27 07:24] oliviaguest commented on #3956
@editorialbot check repository

[2022-06-27 07:25] samuelburbulla commented on #3959
Thanks a lot @Kevin-Mattheus-Moerman for the detailed comments. I updated the paper accordingly.

[2022-06-27 07:25] samuelburbulla commented on #3959
@editorialbot generate pdf

[2022-06-27 07:25] oliviaguest commented on #3956
@eferrea can you please create an archive for your software (on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or other) and post the archive DOI here?

[2022-06-27 07:34] ajstewartlang commented on #4445
@editorialbot add @stain as reviewer

[2022-06-27 07:35] ajstewartlang commented on #4445
@editorialbot start review

[2022-06-27 07:35] editorialbot opened #4517 "[REVIEW]: Efficiently Collecting Relative Similarity Judgments from Humans"
**Submitting author:** @stsievert (<a href="http://orcid.org/0000-0002-4275-3452">Scott Sievert</a>)
**Repository:** https://github.com/stsievert/salmon/
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.2
**Editor:** @ajstewartlang
**Reviewers:** @hoechenberger, @stain, @jorgedch
**Archive:** 10.5281/zenodo.7832431

## Status

[![status](https://joss.theoj.org/papers/00

[2022-06-27 07:35] #4445 closed

[2022-06-27 07:37] niess commented on #4505
Hello @arfon,

thank you for putting this under scope review.

Let me briefly defend my case.  `python-appimage` is a utility that was developed in a research context. My specific need was to distribute easy-to-use Python-based frameworks to an audience of Physicists (i.e. non software experts, which I am as well). In addition, the exact same framework needed to be deployed on various computing ce

[2022-06-27 07:43] Kevin-Mattheus-Moerman commented on #3959
@editorialbot accept

[2022-06-27 08:01] alesantuz commented on #4439
@fabian-s is anything I can help with? I see that usually papers are accepted within hours or one/two days from acceptance recommendation, but this is not the case here. Maybe something got lost in the process?

[2022-06-27 08:12] the-hampel commented on #4511
@editorialbot generate pdf

[2022-06-27 08:13] Kevin-Mattheus-Moerman commented on #4506
@Vaibhavdixit02 @ChrisRackauckas thanks for this submission to JOSS. Below are some comments to work on before we proceed.

- [ ] Please check those potentially missing and invalid DOIs :point_up: you can update the paper by calling `@editorialbot generate pdf` and you can check the references again by calling `@editorialbot check references`.
- [ ] Please complete your affiliations to include cit

[2022-06-27 08:20] sebastientourbier commented on #4248
Dear @Kevin-Mattheus-Moerman,

Thank you very much.

I just took care to introduce MRI the very first time it is used in the paper. I also took care of defining BIDS in the summary too. Finally, I noticed that I was redefining CMP3 acronym multiple times and this has been fixed. The changes can be viewed in https://github.com/connectomicslab/connectomemapper3/pull/196.

Let me know if you need any

[2022-06-27 08:24] Kevin-Mattheus-Moerman commented on #4248
@editorialbot generate pdf

[2022-06-27 08:33] ChrisRackauckas commented on #4506
No prior publication

This is correct.

This should not because that would be a syntax error as functions in Julia need to respect capitalization. It's `gsa` function, so the `gsa` is highlighted as syntax rather than prose, and thus it should be matching capitalization.

[2022-06-27 08:43] leouieda commented on #4217
👋🏾 Hi @valentineap, just checking in to see how this is progressing. I see you've closed a lot of the open issues related to the review.

Just wanted to give a heads up that I'll be on off on vacation between 4-27 July and won't be available. If you feel like you can wrap this up in the meantime, I can try to arrange for another editor to finalise the review while I'm away. Otherwise, we can pick

[2022-06-27 08:44] stinefm commented on #4516
Hi @fraukewiese, this should hopefully be fixed now.

[2022-06-27 08:44] Kevin-Mattheus-Moerman commented on #4248
@editorialbot accept

[2022-06-27 08:47] Kevin-Mattheus-Moerman commented on #3959
@samuelburbulla congratulations on this JOSS publication!

Thanks @diehlpk for editing this one!

And special thanks to @krober10nd and @vijaysm for your review efforts!! :tada:

[2022-06-27 08:47] #3959 closed

[2022-06-27 08:52] #4248 closed

[2022-06-27 08:54] the-hampel commented on #4511
@arfon thanks for you initial check. Okay understood. Meanwhile, I updated the one misformatted bib entry and regenerated the pdf.

We have looked at the list of possible reviewers and feel that these four could be a good fit:
* ledius
* yxqd
* mbkumar
* mturiansky

We can also think about new reviewers that are not in the list as of now. Let me know if we should suggest more.

- Alex

[2022-06-27 09:40] ajstewartlang commented on #4517
@editorialbot add @jorgedch as reviewer

[2022-06-27 09:41] sebastientourbier commented on #4248
This is a really great 🎉
Thank you very much all for the time you invested in the reviewing/editing process. It really helped in improving the robustness and the documentation of CMP3, as well as  the quality of the paper. 🙏

[2022-06-27 09:43] eferrea commented on #3956
@oliviaguest thanks for your message, I archived the software on Zenodo [DOI: 10.5281/zenodo.6759182] . I also updated the affiliations and updated bibliography with one paper that was on the bioRxiv and recently published.

[2022-06-27 10:13] saigerutherford commented on #4321
@dfm my sincere apologies for being so behind schedule with this review. Attending the first in-person conference of my Ph.D. plus a second round of being sick with COVID really put my schedule off track. Completing this review is my top priority this week!

[2022-06-27 10:53] danielskatz commented on #4498
@gkthiruvathukal - Is there any chance you can take this submission as well?  If not, I will.

[2022-06-27 10:59] dfm commented on #4321
@saigerutherford — thanks for the update and no stress - we all appreciate the time that you're able to volunteer! Let me know if there's anything comes up or if you have any questions!

[2022-06-27 11:11] Kevin-Mattheus-Moerman commented on #4497
@editorialbot invite @Bisaloo as editor

[2022-06-27 11:53] fabian-s commented on #4439
@alesantuz thanks for the reminder. I'm not sure what the hold-up is either.

[2022-06-27 11:54] fabian-s commented on #4439
@openjournals/joss-eics  could you take a look at this, please

[2022-06-27 11:57] derNarr commented on #4515
Added missing DOIs and checked that they lead to the right reference.

@editorialbot generate pdf

[2022-06-27 12:00] derNarr commented on #4515
@editorialbot generate pdf

[2022-06-27 12:01] PeterKraus commented on #4465
Hi @rkurchin, I'm also available to review this, if you still need me.

[2022-06-27 12:02] derNarr commented on #4515
`@editorialbot generate pdf`

[2022-06-27 12:16] derNarr commented on #4515
@editorialbot check references

[2022-06-27 12:51] gkthiruvathukal commented on #4498
Hi @danielskatz. Yes, I can take it.

[2022-06-27 12:51] gkthiruvathukal commented on #4498
@editorialbot assign @gkthiruvathukal as editor

[2022-06-27 12:54] ygrange commented on #4461
@danielskatz 👋 yeah I am more or less back in the land of the living. This is one of the small things that I plan to do this week. So let me get started by checking out the repo, etc. :D

[2022-06-27 13:46] ygrange commented on #4461
@editorialbot generate my checklist

[2022-06-27 13:57] ygrange commented on #4461
Let me start with the first pass of very minor comments, because I started by reading the README, CONTRIBUTING and CODE_OF_CONDUCT md files. For completeness: none of those are blockers.

### README file:

*  I assume `pip install` installs the most recent release version. I would suggest to make that explicit in the README

To me the fact that the "Edge" header is so far below the "Installation"

[2022-06-27 14:29] valentineap commented on #4217
Hi @leouieda, thanks for the info.

I think the end is in sight with this one, but there are a few bits and pieces I still need to tidy up. I'm happy for it to wait until you get back if that's easiest. Hope you have a good break!

[2022-06-27 14:59] perdelt commented on #4485
@gkthiruvathukal many thanks for contacting me.
There are a lot of people on the list understanding Python and who are interested in DBMS, testing and reproducible research. How many names would be appropriate?
To pick a few, I think suitable would be: simon-lewis,erik-whiting,ChristopherHaydenTodd,remram44

[2022-06-27 15:04] fboehm commented on #4499
@S-canchi @petermacp @stensy @darokun @monicagerber @darrendahly - would you be willing to review this submission for JOSS? Given your expertise in R, I think that you would make valuable contributions to the review. Here is the link to the package: https://github.com/maize-genetics/rTASSEL. At JOSS, our reviews are driven by checklists.

[2022-06-27 15:22] lucydot commented on #4298
@editorialbot set 1.6.2 as version

[2022-06-27 15:22] lucydot commented on #4298
@editorialbot set 10.5281/zenodo.6685185 as archive

[2022-06-27 15:23] lucydot commented on #4298
@editorialbot recommend-accept

[2022-06-27 15:27] lucydot commented on #4402
@datseris @jameshclrk @matbesancon are any of you available to review this JOSS submission?

[2022-06-27 15:42] nhejazi commented on #4492
@vissarion it looks like you assigned me as a reviewer but i'm missing a checklist?

[2022-06-27 15:49] editorialbot opened #4518 "[PRE REVIEW]: A methodology to scale containerized HPC infrastructures in the Cloud"
**Submitting author:** @Nyk0 (<a href="http://orcid.org/0000-0003-0467-1023">Nicolas Greneche</a>)
**Repository:** https://github.com/Nyk0/CHSC
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/47983654dab48a22106ca41cc4e65ada/status.svg)](https://

[2022-06-27 15:55] chrklemm commented on #4472
@editorialbot generate my checklist

[2022-06-27 16:02] andr1976 commented on #4370
@fraukewiese yes indeed

[2022-06-27 16:03] editorialbot opened #4519 "[PRE REVIEW]: strucscan: A lightweight Python-based framework for high-throughput material simulation"
**Submitting author:** @thohamm (<a href="http://orcid.org/0000-0002-2270-4469">Thomas Hammerschmidt</a>)
**Repository:** https://github.com/ICAMS/strucscan
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** @ppxasjsm
**Reviewers:** @mturiansky, @wcwitt
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/cf152ba42d55db682d1ac29f951b

[2022-06-27 16:11] gpleiss commented on #4455
Hi @dfm I was out on vacation for the last two weeks, but I should have my review done tomorrow or Wednesday!

[2022-06-27 16:13] Kevin-Mattheus-Moerman commented on #4518
@Nyk0 thanks for this submission. I am an AEiC with JOSS and am parsing your submission to see if it is in scope and passes our initial checks. For the moment this submission cannot be considered for JOSS as the paper does not conform to our guidelines, and I cannot see any software for this submission.

- Can you clarify where the software repository is? The link: https://github.com/Nyk0/CHSC doe

[2022-06-27 16:55] chartgerink commented on #4451
Thanks @khinsen for your review 🙌 Very much appreciated 😊

When all reviews are in I'll make the final decision (looking good so far).

[2022-06-27 17:06] bioedd commented on #4499
Hello. Thanks for the invite! Unfortunately, I won't be able to review as
this submission is outside of my area of expertise.

Eduardo Álvarez
Editor Asociado - Economía Creativa

Av. Constituyentes 455, Col. América
[55] 2789 9000 | centro.edu.mx <http://www3.centro.edu.mx/> | @centro_u
<http://www.instagram.com/centro_u>

El vie, 24 jun 2022 a las 13:11, Frederick Boehm ***@***.***>)
escribió:

[2022-06-27 17:07] mattpitkin commented on #4492
@nhejazi if you put "`@editorialbot generate my checklist`" (without the quotation marks) in a comment it will generate a checklist for you.

[2022-06-27 17:11] ygrange commented on #4461
Maybe one more for the README: could be useful that python >=3.7 is required (even though that should probably be obvious since 3.6 has been eol for a while).

[2022-06-27 17:14] nhejazi commented on #4492
@editorialbot generate my checklist

[2022-06-27 17:15] arfon commented on #4507
@editorialbot set 10.5281/zenodo.6757624 as archive

[2022-06-27 17:15] arfon commented on #4507
@editorialbot recommend-accept

[2022-06-27 17:17] Datseris commented on #4402
I am sorry, I have too many obligations at the moment, so I have to kindly decline.

[2022-06-27 17:24] MarieRoald commented on #4434
@faroit Update: We have now started discussing the possibility of more collaboration within the TensorLy team. While nothing is set in stone yet, I am now leaning more towards this being a COI.

[2022-06-27 17:35] danielskatz commented on #4461
Any of:

* comment here
* new issue in the code repo
* PR

are fine, though please mention this issue in any new issue or PR to them easy to see from here.

[2022-06-27 17:38] arfon commented on #4507
@editorialbot accept

[2022-06-27 17:40] arfon commented on #4462
@callendeprieto @hmtabernero  @AWehrhahn – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under consideration is

[_MSG: A software package for interpolating stellar spectra in pre-calculated grids_](https://github.com/r

[2022-06-27 17:41] thohamm commented on #4519
Missing and invalid DOI fixed.

[2022-06-27 17:43] arfon commented on #4507
@ewallace – thanks for making those changes. Your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-06-27 17:43] #4507 closed

[2022-06-27 17:59] dfm commented on #4455
@gpleiss perfect! Thanks for the update!

[2022-06-27 18:00] thohamm commented on #4519
@editorialbot generate pdf

[2022-06-27 18:00] majensen commented on #4411
@editorialbot add @turgeonmaxime as reviewer

[2022-06-27 18:36] diehlpk commented on #3390
@Muhao-Chen that above is the archive. I was speaking about a new release.

https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM/releases

The current version 1.1 is from Jun 09, 2021. Please generate a new release with all the JOSS changes. Depending on the changes, you could consider a minor release 1.1.1 or a major release 1.2.

[2022-06-27 18:52] danielskatz commented on #4461
Thanks, but please do it the other way - mention this issue in any new one or new PR, so that there's a trace here that shows the status...

[2022-06-27 18:53] Nyk0 commented on #4518
Hi,

I'm really sorry, this was an invitation from Euro-par 2022 to submit to
JOSS. There is no source code because this repository is a glue between
several other repositories. I think our project is a bit too messy for JOSS
for the moment. Can you cancel the submission ? We will re-submit when our
repository will be more tidy. Can you cancel the submission ?

I do apologize for wasting your time

[2022-06-27 18:53] ygrange commented on #4461
Whoops, thanks for fixing it for me! :)

[2022-06-27 18:58] jgostick commented on #4397
I have just pinged @daguiam via email, so hopefully he'll be able to pick-up the process.

[2022-06-27 20:11] Muhao-Chen commented on #3390
@diehlpk Thank you so much for the clarification. I have released the new version v1.2.
https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM/releases
Please let me know if you have any questions. Thank you!!

[2022-06-27 20:31] kyleniemeyer commented on #4439
@fabian-s It looks like an ISBN (or multiple) may be incorrect and causing the error above. Can you remove those for the journal articles where they are present? That metadata is not necessary for journal articles anyways

[2022-06-27 20:57] diehlpk commented on #3390
@editorialbot set v1.2 as version

[2022-06-27 20:57] diehlpk commented on #3390
@editorialbot recommend-accept

[2022-06-27 21:18] editorialbot opened #4520 "[PRE REVIEW]: River: a cross-platform, high-throughput, structured streaming framework"
**Submitting author:** @pbotros (<a href="http://orcid.org/0000-0002-4797-1651">Paul Botros</a>)
**Repository:** https://github.com/pbotros/river
**Branch with paper.md** (empty if default branch): botros/manuscript
**Version:** v1.0.1
**Editor:** @gkthiruvathukal
**Reviewers:** @ixjlyons, @agricolab
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/b346a5d17d

[2022-06-27 21:53] amoradinejad commented on #4173
@eloisabentivegna <https://github.com/eloisabentivegna>, sorry for a long delay in responding. I created a new tagged release, v2.1.0. Please let me know if now everything looks fine.

Thanks

[2022-06-27 22:20] kyleniemeyer commented on #3390
Hi @Muhao-Chen, it looks like the numbered lists in the paper are not formatting correctly. Can you try indenting them all with a space or two?

[2022-06-27 22:21] fboehm commented on #4499
Thanks for the reply, @bioedd . I'll keep you in mind for a future submission.

[2022-06-27 22:42] ahwillia commented on #4442
I'm done with my review. I don't have any suggested edits, the authors did a very thorough job and I wasn't able to find anything noteworthy to complain about :slightly_smiling_face:

[2022-06-27 22:49] ahwillia commented on #4442
Ok, I do have one very small suggestion for @sadit -- it would be nice to add some links at the top of the GitHub README to other alternative libraries in Julia like [`NearestNeighbors.jl`](https://github.com/KristofferC/NearestNeighbors.jl) which seems to also be actively maintained. My understanding is that `SimilaritySearch.jl` is better suited to find approximate solutions on very large datase

[2022-06-27 23:55] kose-y commented on #4442
@sadit -- It looks like a great package, and the authors did a thorough job with the submission. However, the example code provided in the paper has a minor error:

Code line 20:
[code]
must have a value of $k$ as an argument.

@jbytecode I have a question about the package version consistency. The submitted version of the package is `v0.8.20`, while the installation instruction would install the

[2022-06-28 00:01] kose-y commented on #4442
Also, the citation block ending on Line 21 has an extra semicolon.

[2022-06-28 00:13] urban-fasel commented on #4211
@oriolcg and @Kevin-Mattheus-Moerman  thanks for the comments, I added the toolbox dependencies to the readme:

### Dependencies

The following matlab toolboxes are required to run the code:

* Control System Toolbox
* System Identification Toolbox
* Statistics and Machine Learning Toolbox
* Parallel Computing Toolbox

[2022-06-28 00:22] dkauf42 commented on #4326
We very much appreciate the review comments, @slayoo 👍. To avoid too much time elapsing without replying, I want to say that we are currently working on addressing your comments and will reply with more details as soon as we can!

[2022-06-28 00:23] andrew-f-murphy commented on #3632
Thanks @arfon, @cMadan happy to take on any additional feedback.

[2022-06-28 00:43] Muhao-Chen commented on #3390
@editorialbot generate pdf

[2022-06-28 01:06] Muhao-Chen commented on #3390
@editorialbot generate pdf

[2022-06-28 01:21] Muhao-Chen commented on #3390
Hi @kyleniemeyer, thanks for your help! I have fixed the number listing issue, and please let me know if there is any problem. Thank you!!

[2022-06-28 06:00] Cadaei-Yuvxvs commented on #4368
Dear @a3sha2, do you have any specific feedback about this paper? We have addressed and completed issues opened by @kaczmarj regarding automated tests, functionality documentation, state of the field, community guidelines, and installation. We would be very keen to hear your thoughts and address them to improve our work!

[2022-06-28 06:13] adibender commented on #4411
Hello @majensen , happy to do so.

[2022-06-28 06:29] alesantuz commented on #4439
@kyleniemeyer and @fabian-s I removed the ISBNs in the .bib file.
The new version 1.2.3 is now archived on GitHub [here](https://github.com/alesantuz/musclesyneRgies/releases/tag/v1.2.3) and on Zenodo [here](https://doi.org/10.5281/zenodo.6767313) with DOI 10.5281/zenodo.6673110.
Thank you @kyleniemeyer for looking into this!

[2022-06-28 06:38] fabian-s commented on #4439
@editorialbot set v1.2.3 as version

[2022-06-28 06:38] fabian-s commented on #4439
@editorialbot set 10.5281/zenodo.6673110 as archive

[2022-06-28 06:39] fabian-s commented on #4439
@editorialbot recommend-accept

[2022-06-28 06:40] fabian-s commented on #4439
"missing" DOI suggested above is wrong, the paper is from 1967 and does not have a DOI.

[2022-06-28 06:44] fabian-s commented on #4439
@alesantuz congratulations and thank you for taking care of this last hurdle so quickly, please accept my apologies for the delay and the technical difficulties on behalf of JOSS.

[2022-06-28 06:45] alesantuz commented on #4439
@fabian-s no problem at all, you were always available and the review process has been just great, so thank you!

[2022-06-28 06:59] petermacp commented on #4499
Many thanks for asking me to review, but also unfortunately not in an area with which I have expertise.

All the best,

Peter

Dr Peter MacPherson MBChB MPH PhD
Wellcome Trust Fellow & Reader in Population Health
Liverpool School of Tropical Medicine &
Malawi-Liverpool-Wellcome Clinical Research Programme, Blantyre, Malawi

Honorary Professor in Population Health
London School of Hygiene and Tropi

[2022-06-28 07:58] ClaraBuettner commented on #4370
No, I don't have any other comments or questions.
I would recommend this submission for publication in its present form.

[2022-06-28 08:48] arfon commented on #3390
@editorialbot recommend-accept

[2022-06-28 09:21] drvinceknight commented on #4509
Got it @arfon :)

[2022-06-28 09:39] peanutfun commented on #2316
DORiE was migrated to https://gitlab.dune-project.org/dorie/dorie

[2022-06-28 09:44] drvinceknight commented on #4509
@Jacks0nJ would you be able to take a look at the [list of potential reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) and suggest any potential people? (Just let me know their `@`handles, no need to ping them).

Also, not sure if you saw but `editorialbot` suggested:

- 10.1088/1475-7516/2022/05/027 may be a valid DOI for title: Impli

[2022-06-28 09:46] drvinceknight commented on #3968
Thank you for your patience on getting back to you @szhorvat, in general the advice would be to seek guidance from the repository itself which is complicated when there is no specific guidance. I have dropped the project a line to ask myself.

[2022-06-28 09:48] drvinceknight commented on #3968
@IvanIsCoding thanks for your patience, when you have a moment, could you let me know where we are in terms of addressing the remaining comments?

[2022-06-28 09:49] arfon commented on #3390
@Muhao-Chen – I've made a couple of minor fixes to your paper formatting here: https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM/pull/7

[2022-06-28 10:01] emdupre commented on #4368
Thank you for following up on this, @Cadaei-Yuvxvs ! I've been corresponding with @a3sha2 via email, and he has confirmed that he'll be able to finalize his review in the next few days.

I understand that this delay has frustrating, but I appreciate your patience throughout this process.

[2022-06-28 10:19] vsangelidakis commented on #4404
I am also satisfied to see a well-implemented Python package, detailed documentation and a clear manuscript. Seeing the docs hosted on github pages (rather than using a third-party domain) makes me confident about their longevity.

One comment regarding the **State of the Field** item of the reviewing TODO list above: the authors state "there is no established interface to import such models into

[2022-06-28 10:26] vsangelidakis commented on #4404
A small point for improvement: The documentation describes how to generate multi-span models (https://monashsmartstructures.github.io/ospgrillage/notebooks/multi_span.html), while the manuscript mentions "the roadmap allows for curved and multi-span bridge decks..". Is this feature developed/operational or ongoing? Please clarify either the manuscript or the documentation.

[2022-06-28 11:38] jarvist commented on #3974
OK! Given the mitigating circumstances, and having read the code (and seen that it well commented and has good test coverage), I think this is acceptable.

I've just made a few suggested edits to your paper, for stylistic reasons:
https://github.com/tiagoseq/NeuralFieldEq.jl/pull/32

[2022-06-28 11:41] jarvist commented on #4414
Dear @lucaferranti , thank you very much for your work so far!

@dawbarton , have you had a chance to look at this yet?

[2022-06-28 12:35] marcosvital commented on #4375
Thank you for understanding, @ThomasThelen.

And thank you, @chrisaberson. I'll add you as a reviewer, and once we have two more we will move on to the reviewing stage.

[2022-06-28 12:43] trallard commented on #4465
Sorry folks I am swamped and no chance I can squeeze this in

[2022-06-28 12:58] marcosvital commented on #4366
Dear @krober10nd, I noticed that you still don't have a reviewing checklist yet, so I'm not sure if you already had the chance to start revising this submission. Let me know if you have any problems and if you believe that you can start that soon, ok?

[2022-06-28 12:59] marcosvital commented on #4365
OK, thank you @Athene-ai!

[2022-06-28 13:03] krober10nd commented on #4366
@editorialbot generate my checklist

[2022-06-28 13:56] arfon commented on #3390
@editorialbot recommend-accept

[2022-06-28 13:57] tiagoseq commented on #3974
Thank you @jarvist. I've already seen the suggestions and accepted the pull request and merged!

[2022-06-28 14:27] hugoledoux commented on #4401
@editorialbot add @jhidalgocarrio as reviewer

[2022-06-28 14:28] hugoledoux commented on #4401
@editorialbot start review

[2022-06-28 14:28] editorialbot opened #4521 "[REVIEW]: DSO++: Modern reimplementation of Direct Sparse Odometry"
**Submitting author:** @Solonets (<a href="http://orcid.org/0000-0002-3469-7489">Sergei Solonets</a>)
**Repository:** https://github.com/RoadlyInc/DSOPP
**Branch with paper.md** (empty if default branch): feature/joss_paper
**Version:** v 1.0
**Editor:** @hugoledoux
**Reviewers:** @Mirmix, @jhidalgocarrio
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/1104fe14c42d6c73740

[2022-06-28 14:28] #4401 closed

[2022-06-28 14:34] fboehm commented on #4499
Thanks for the reply, @petermacp. I hope that we can work together on a future submission.

[2022-06-28 14:37] ygrange commented on #4461
Ok, I wanted to get into the more interesting part of the review, but I got some nasty hardware problems. So I will be a tad bit delayed while finding out how to do this on a temporary laptop (so I may have a bit less freedom wrt python versions and other stuff) :)

[2022-06-28 14:56] majensen commented on #4411
@editorialbot add @adibender as reviewer

[2022-06-28 15:04] temuller commented on #4508
Thanks again for the review. I have made the proper changes to the code+paper.
I am now using `black` for linting and added the recommended way of testing the code (with pytest). A section about how to contribute was added to the README as well,
The fits images from the git history were removed, as suggested.
About the warnings when running the tests, I don´t think that silencing them is a good id

[2022-06-28 15:28] fboehm commented on #4499
@editorialbot add @tkchafin as reviewer

[2022-06-28 15:29] jarvist commented on #3974
@editorialbot check references

[2022-06-28 15:31] jarvist commented on #3974
@tiagoseq - could you generate a DOI of your v0.1.3 tag? Then we'll all set for recommending acceptance.

[2022-06-28 16:33] faroit commented on #4434
@MarieRoald Thanks for your transparent replies. I am currently looking for other reviewers and will let you know here

[2022-06-28 16:39] Mirmix commented on #4521
@editorialbot generate my checklist

[2022-06-28 16:58] kyleniemeyer commented on #4439
@editorialbot set 10.5281/zenodo.6767313. as archive

[2022-06-28 16:58] kyleniemeyer commented on #4439
@editorialbot recommend-accept

[2022-06-28 17:02] jbytecode commented on #4487
👋👋👋 Dear @puruckertom  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework**". You can find more information

[2022-06-28 17:02] betteridiot commented on #4499
Unfortunately, I am unavailable due to my dissertation defense.

[2022-06-28 17:24] kyleniemeyer commented on #4439
@editorialbot accept

[2022-06-28 17:45] majensen commented on #4411
@editorialbot start review

[2022-06-28 17:45] editorialbot opened #4522 "[REVIEW]: haldensify: Highly adaptive lasso conditional density estimation in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** https://github.com/nhejazi/haldensify
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.5
**Editor:** @majensen
**Reviewers:** @turgeonmaxime, @adibender
**Archive:** 10.5281/zenodo.7089147

## Status

[![status](https://joss.theoj.org/papers/e54c2bf1daca38bdcda505be

[2022-06-28 17:45] #4411 closed

[2022-06-28 17:48] turgeonmaxime commented on #4522
@editorialbot generate my checklist

[2022-06-28 17:48] majensen commented on #4422
@tedinburgh would you have time and willingness to review [this work](#4422) for [JOSS](https://joss.theoj.org)? I would appreciate your expertise. Please have a look at our [reviewer guide](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and let me know in this thread. Thanks for your consideration! --@majensen

[2022-06-28 17:50] majensen commented on #3197
@editorialbot show commands

[2022-06-28 17:50] majensen commented on #3197
@editorialbot commands

[2022-06-28 17:55] majensen commented on #3197
@openjournals/joss-eics, the author and I agree that a withdrawal of this paper should proceed. Can you assist? Thanks.

[2022-06-28 18:07] Jacks0nJ commented on #4509
@editorialbot generate pdf

[2022-06-28 18:12] Jacks0nJ commented on #4509
@drvinceknight I've updated the Github main to hopefully have the correct DOI. When I click on the link (on the draft version I generate through actions) it takes me to the correct paper, so should be correct.

Hopefully I updated the pdf on here too, using the command I wrote above. Apologies if this is incorrect, I'm new to collaborating with git.

The three reviewers I would recommend are:
- CF

[2022-06-28 19:06] jbytecode commented on #4487
@tonyewong - I have emphasized that "Please mention their usernames without using the @ character" in the post above, just because, we don't want to bother them.

Your reply is very helpful, thank you, however it was a little bit late, so we will wait for the reply from the already invited reviewers.

[2022-06-28 19:09] tonyewong commented on #4487
Oops - sorry I misread that. We welcomed a baby girl last Sunday so my brain is mashed potatoes at the moment... Apologies all!

[2022-06-28 19:13] jbytecode commented on #4487
@tonyewong - no worries, please carefully read the instructions through the review process. thank you in advance.

by the way, happy welcomes to the lovely baby girl.

[2022-06-28 19:25] tonyewong commented on #4487
Thanks, and again, many apologies for missing that critical word 😬

[2022-06-28 19:35] ygrange commented on #4461
One more thing: The docs are linked from the README only via the docs - passing badge. I didn't realise that at first. I would strongly suggest adding a link to the docs somewhere in the text of the README too.

[2022-06-28 19:36] dfm commented on #4053
@editorialbot generate pdf

[2022-06-28 19:36] dfm commented on #4053
@editorialbot check references

[2022-06-28 19:38] dfm commented on #4053
@editorialbot set 22.6.0 as version

[2022-06-28 19:38] dfm commented on #4053
@editorialbot recommend-accept

[2022-06-28 19:40] dfm commented on #4053
@asher-pembroke — I've now handed this off to the managing editors to do the final processing. There may be some final edits or other changes, but the process should be fairly quick. Thanks again for your submission and for your responses to all the suggestions from @dstansby and @samaloney!

@dstansby, @samaloney — Thanks again for your reviews of this submission. Thanks for the time that you too

[2022-06-28 19:43] dfm commented on #4033
👋 @kadglass — Just quickly checking in about my previous comment. Let me know if you have any questions or if there's anything I can do to help these last quick steps!

[2022-06-28 19:45] dfm commented on #4367
@jzrake — just a little ping to keep this on your radar!

[2022-06-28 19:59] yuliadm commented on #4354
@jbytecode , @zhiiiyang , @Athene-ai , @arfon
Thank you all so much!!!

[2022-06-28 20:33] kyleniemeyer commented on #4439
Congratulations @alesantuz on your article's publication in JOSS!

Many thanks to @SimonDanner and @vbaliga for reviewing this, and @fabian-s for editing.

[2022-06-28 20:33] #4439 closed

[2022-06-28 20:47] kyleniemeyer commented on #3197
@editorialbot withdraw

[2022-06-28 20:47] #3197 closed

[2022-06-28 20:58] lesfoster commented on #4469
Still trying to contact known users.  I will attempt to fix up the figure labels

[2022-06-28 21:49] lrastaet commented on #4053
Please correct the reference for the Weierstrass function:
Correct spelling of "Werth", "Differentialquotienten" in the title and supply the full title of the book and full name and location of the publisher.

Karl Weierstrass, ["Über continuirliche Functionen eines reellen Arguments, die für keinen Werth des letzteren einen bestimmten Differentialquotienten besitzen,"](https://books.google.com/bo

[2022-06-28 22:10] nhejazi commented on #4492
@dsbowen and @vissarion, I've now completed my review. the package is very well documented and the methods implemented appear both interesting and useful. In three issues opened [at the GitLab repository](https://gitlab.com/dsbowen/conditional-inference/-/issues), I've included two changes/updates required as part of the JOSS review as well as some recommendations to improve the notebooks/paper fo

[2022-06-28 22:25] sadit commented on #4442
@editorialbot generate pdf

[2022-06-28 23:15] sadit commented on #4442
@editorialbot set v0.9.3 as version

[2022-06-28 23:52] pibion commented on #3821
@editorialbot check references

[2022-06-28 23:53] pibion commented on #3821
@editorialbot generate paper

[2022-06-28 23:53] pibion commented on #3821
@editorialbot commands

[2022-06-28 23:53] pibion commented on #3821
@editorialbot generate pdf

[2022-06-29 00:08] asitha-sena commented on #4324
Hi @jedbrown,
Thanks for getting back. I think the following people might be suited to review this paper: vsangelidakis, jessepisel, d-chambers, pauldebus, banesullivan
(I assumed that you meant to say usernames without @ so as not to ping them)

If it helps, I can also suggest a couple of potential reviewers who are not in the list but who are familiar with geotechnical data management and are on

[2022-06-29 00:16] sadit commented on #4442
Thank you again for your time. We decided to update instructions and code to v0.9.3, the latest version. I tried to update the version, but editorialbot indicated that it is an editor-level command.

Please let me discuss changes point by point. Regarding suggestions of @ahwillia:

Thank you for your valuable comments. We added a brief section in the README.md (_Similarity search *ecosystem* in Ju

[2022-06-29 01:10] pibion commented on #3821
Hi @fjprichard , thank you for your edits!  I have one outstanding minor comment and two more involved comments.  I've tried to suggest text for my involved comments.

Apologies for all the nitpickiness!  I promise this is at least somewhat useful, as it will make the process faster once I recommend your paper for publication.  The JOSS release managers will ask for edits if anything in the paper

[2022-06-29 01:52] stsievert commented on #4377
'scuse me, I mean that some files *in the `examples/` directory* raise errors (e.g., [examples/test_cutest_full.py][ls]). All these files were added 4 years ago. The fact that two useful examples (e.g., [examples/solve_rosenbrock.py][sr]) still run successfully is rather impressive.

[sr]:https://github.com/jfowkes/pycutest/blob/886421736ea4aff0ce78212f8ec0494fa69bb8f8/examples/solve_rosenbrock.py

[2022-06-29 04:52] zhiiiyang commented on #4473
@csoneson, I might not have time to review this one. Feel free to pass me.

[2022-06-29 05:56] csoneson commented on #4407
@jaybee84 - just a gentle reminder of your review here. Thanks!

[2022-06-29 05:57] csoneson commented on #4473
@zhiiiyang - no worries, thanks for letting us know!

[2022-06-29 07:36] Nikoleta-v3 commented on #3743
@EgorOrachyov any updates on this?

[2022-06-29 07:41] Nikoleta-v3 commented on #4286
👋 @adavidzh & @dhimmel would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "GRAPL: A computational library for nonparametric structural causal modelling, analysis and inference". You ca

[2022-06-29 08:05] dbrizard commented on #4418
Done.

[![DOI](https://zenodo.org/badge/467427005.svg)](https://zenodo.org/badge/latestdoi/467427005)

[2022-06-29 08:16] ewallace commented on #4507
Hello @arfon! Thank you very much for your help.

Unfortunately we have an issue with the proof, that it still has a "DRAFT" watermark. How can we fix that?

[2022-06-29 08:20] miesli commented on #4298
As far as I am concerned, the paper looks good in the final proof.

[2022-06-29 08:48] adibender commented on #4522
@editorialbot generate my checklist

[2022-06-29 08:57] CFGrote commented on #4461
@editorialbot generate my checklist

[2022-06-29 08:58] adavidzh commented on #4286
Thanks for the invitation. I'm afraid that at this time I am not able to.

[2022-06-29 09:08] tiagoseq commented on #3974
I've already generated a DOI for this version (using Zenodo): [DOI for v.0.1.3](https://doi.org/10.5281/zenodo.6226695)

[2022-06-29 09:21] ygrange commented on #4461
A random comment that I don't really want to put in my review but I noticed that if I make an overview of the test coverage, it shows to me that the parts of he code that are not covered are generally the last item of a list of parameter values to test. So for instance in supernovae.py:
[code]

So it is quite often (I did not check alle the missing lines) it is basically the last elif statement th

[2022-06-29 09:21] jarvist commented on #3974
@editorialbot set 10.5281/zenodo.6226695 as archive

[2022-06-29 09:22] jarvist commented on #3974
@editorialbot recommend-accept

Congratulations @tiagoseq ! An editor in chief will now take over to double check the proofs. 🚀

[2022-06-29 09:24] jarvist commented on #3974
Ah! I didn't notice the missing DOI earlier. Ideally that would be added if possible @tiagoseq .

[2022-06-29 09:31] jbytecode commented on #4442
@editorialbot generate pdf

[2022-06-29 09:33] Mirmix commented on #4521
Thanks for the efforts. Here is my review of the paper.

    What we mean by research software
    JOSS publishes articles about research software. This definition includes software that: solves complex modeling  problems in a scientific context (physics, mathematics, biology, medicine, social science, neuroscience,
    engineering); supports the functioning of research instruments or the executio

[2022-06-29 10:01] jbytecode commented on #4442
@sadit - I have just prepared and send a pull request that includes possible correction in manuscript and bibtex.

Please review it carefully and if you are agreed with them, please apply.

Thank you.

[2022-06-29 10:11] xuanxu commented on #4461
@ygrange @CFGrote 🙌 Thanks for your comments and suggestions! I plan to work on them in the next couple of days

[2022-06-29 10:12] CFGrote commented on #4461
@danielskatz , i can't tick boxes in my checklist, nor edit the corresponding comment for reasons I don't understand. I can continue the review in the target repo but can this be fixed?

[2022-06-29 10:13] CFGrote commented on #4461
sorry, now it seems to work. please ignore my previous post.

[2022-06-29 10:34] richardjgowers commented on #4441
@editorialbot set @richardjgowers as editor

[2022-06-29 10:36] richardjgowers commented on #4441
Hmm, I'm a little confused by this one.  The repo says that the code isn't maintained and that there's already a paper to cite in relation to the software.  If the software isn't being actively maintained/developer and is instead a static archive of software used for a publication, then I'm not sure it needs a JOSS paper associated.

[2022-06-29 10:55] fraukewiese commented on #4516
@editorialbot check references

[2022-06-29 10:57] fraukewiese commented on #4370
@editorialbot check references

[2022-06-29 10:58] fraukewiese commented on #4370
@editorialbot generate pdf

[2022-06-29 11:02] hechth commented on #4337
@dhhagan I just wanted to ask if there are some updates? The initial submission of the paper is now over 4 months ago with the review being in the 11th week (guidelines state that the reviews should be done after 6 weeks the latest) - can we maybe move things forward also without the 3rd reviewer?

[2022-06-29 11:20] EgorOrachyov commented on #3743
@Nikoleta-v3 Hi! Yes, we have addressed some minor technical and documentation related features. Now we are going to do a text clean-up, as it is suggested in https://github.com/JetBrains-Research/spbla/issues/19 issue. I hope, we will have it done in a couple of days.

Apologies for delays, busy work days :/

[2022-06-29 11:21] ygrange commented on #4461
@xuanxu Great, I think I have reached the moment where I actually get to do the fun part: play around with the software :D. So I also hope the comments will be less 'dry' from here on :D

[2022-06-29 11:45] tiagoseq commented on #3974
Done, the missing DOI is already inserted (and the correspondent .bib entry updated). Do I need to generate the paper with the new entry?

[2022-06-29 12:00] stefanocoretta commented on #4411
Hello! Sorry for the late reply but I was away. I assume the review task has been taken over by someone already?

[2022-06-29 12:03] jarvist commented on #3974
@editorialbot generate pdf

[2022-06-29 12:03] jarvist commented on #3974
@editorialbot check references

[2022-06-29 12:10] dhhagan commented on #4337
@hechth Sorry about that - trying to reset my GitHub notifications so they're actually informative. I will get to this this morning.

[2022-06-29 12:11] dhhagan commented on #4412
Hey @slayoo - I am working on finding reviewers and will post here asap.

[2022-06-29 12:14] dhhagan commented on #4337
@editorialbot generate pdf

[2022-06-29 12:15] dhhagan commented on #4257
@OHildreth thanks! I should have an answer for you shortly. (sorry about the delay...)

[2022-06-29 12:35] chartgerink commented on #4451
Thank you @VeroniqueLegrand 🙏 could you check the "Performance" box? This one is still pending in your checklist

[2022-06-29 12:50] editorialbot opened #4523 "[PRE REVIEW]: FastGeodis: Fast Generalised Geodesic Distance Transform"
**Submitting author:** @masadcv (<a href="http://orcid.org/0000-0002-3672-2414">Muhammad Asad</a>)
**Repository:** https://github.com/masadcv/FastGeodis
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0rc4
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/d0b6e3daa4b22fec471691c6f1c60e2a/status.s

[2022-06-29 12:50] Kevin-Mattheus-Moerman commented on #4497
@Bisaloo :wave:

[2022-06-29 12:51] Kevin-Mattheus-Moerman commented on #4510
@editorialbot invite @prashjha as editor

[2022-06-29 12:51] Kevin-Mattheus-Moerman commented on #4512
@editorialbot check repository

[2022-06-29 12:55] Kevin-Mattheus-Moerman commented on #4512
@editorialbot set master as branch

[2022-06-29 12:55] editorialbot opened #4524 "[PRE REVIEW]: Nuclear Morphology Analysis 2.0.0: Improved image analysis software for measuring nuclear shape"
**Submitting author:** @bmskinner (<a href="http://orcid.org/0000-0002-7152-1167">Ben Skinner</a>)
**Repository:** https://bitbucket.org/bmskinner/nuclear_morphology
**Branch with paper.md** (empty if default branch): paper
**Version:** v2.0.0
**Editor:** @jmschrei
**Reviewers:** @petebankhead, @suyashkumar
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/286

[2022-06-29 12:56] dhhagan commented on #4337
Hi @hechth - I have a few comments/requests before I accept:

  1. It looks like there is a license mismatch. The paper says CC4 and the repo says MIT. Can you make sure those are the same?
  2. Could you add instructions for installing via `pip`?
  3. Am I missing the documentation somewhere? I only see the one notebook file...is there API documentation somewhere?

I will take another look and pr

[2022-06-29 12:57] dhhagan commented on #4412
:wave: @darothen @josephhardinee You were the two reviewers for the original paper - do you have time/interest in reviewing the follow-up?

[2022-06-29 12:58] editorialbot opened #4525 "[PRE REVIEW]: dtrackr: An R package for tracking the provenance of data"
**Submitting author:** @robchallen (<a href="http://orcid.org/0000-0002-5504-7768">Robert Challen</a>)
**Repository:** https://github.com/terminological/dtrackr
**Branch with paper.md** (empty if default branch): release-0.2.4
**Version:** 0.2.4
**Editor:** @ajstewartlang
**Reviewers:** @debruine, @craig-willis
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers

[2022-06-29 13:00] Kevin-Mattheus-Moerman commented on #4519
@editorialbot check references

[2022-06-29 13:03] Kevin-Mattheus-Moerman commented on #4519
@thohamm I have had a quick look at your paper, can you check the following:

- [ ] Please add city and country to your affiliation, do not use acronyms for countries.

[2022-06-29 13:04] VeroniqueLegrand commented on #4451
Done.

[2022-06-29 13:05] Kevin-Mattheus-Moerman commented on #4519
@editorialbot invite @jedbrown as editor

[2022-06-29 13:05] Kevin-Mattheus-Moerman commented on #4512
@editorialbot generate pdf

[2022-06-29 13:11] Kevin-Mattheus-Moerman commented on #4512
@editorialbot invite @diehlpk as editor

[2022-06-29 13:12] editorialbot opened #4526 "[PRE REVIEW]: Accelerating Parallel Operation for Compacting Selected Elements on GPUs"
**Submitting author:** @yogi-tud (<a href="http://orcid.org/0000-0001-7898-0502">Johannes Fett</a>)
**Repository:** https://github.com/yogi-tud/space_gpu
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** @danielskatz
**Reviewers:** @robertszafa, @wimvanderbauwhede
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/46f248b28d020ee9

[2022-06-29 13:14] thohamm commented on #4519
@editorialbot generate pdf

[2022-06-29 13:16] Kevin-Mattheus-Moerman commented on #4520
@pbotros please amend your paper to include a _Statement of need section_ as per [our guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). You can call `@editorialbot generate pdf` here to update the paper when ready.

[2022-06-29 13:19] pdebuyl commented on #4205
Hi @bkmi could you settle the authorship issue?

[2022-06-29 13:19] Kevin-Mattheus-Moerman commented on #4520
@editorialbot invite @jedbrown as editor

[2022-06-29 13:20] pdebuyl commented on #4424
@RupeshJey For your information: I am currently looking for reviewers by email and I'll let update the review process when I could secure a second one.

[2022-06-29 13:23] Kevin-Mattheus-Moerman commented on #4523
@masadcv thanks for this JOSS submission. I am the AEiC on call this week and here to help process the initial steps for this work. Before we proceed, can you check the following:

- [ ] Can you check those potentially missing DOIs? :point_up: You can call `@editorialbot generate pdf` here to update the paper and use `@editorialbot check references` to check the DOIs again. Thanks

[2022-06-29 13:24] Kevin-Mattheus-Moerman commented on #4523
@editorialbot invite @vissarion as editor

[2022-06-29 13:24] editorialbot opened #4527 "[PRE REVIEW]: Interactive Data Editor: A Software to interactively edit data in a graphical manner."
**Submitting author:** @Koushikphy (<a href="http://orcid.org/0000-0001-9093-2255">Koushik  Naskar</a>)
**Repository:** https://github.com/Koushikphy/Interactive_Data_Editor
**Branch with paper.md** (empty if default branch):
**Version:** 2.12.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/3fe5a336ec06ad0dfb5ef8d

[2022-06-29 13:48] vissarion commented on #4523
@editorialbot assign @vissarion as editor

[2022-06-29 13:49] robchallen commented on #4525
reviewers with R and health background:

Jminnier
darokun
patatefritte
rrrlw
sachsmc
brunomontezano

[2022-06-29 13:54] sadit commented on #4442
Thank you, @jbytecode, for your suggestions and corrections. I just merge them into the manuscript.

[2022-06-29 13:54] diehlpk commented on #4418
@dbrizard Please update the title of the Zenodo archive from

`dbrizard/elwaspatid: First release after JOOS review`

to
`
elwaspatid: A Python package to compute space-time diagrams for the propagation of elastic waves in 1D rods`

[2022-06-29 13:55] diehlpk commented on #4418
In addition, please post the release number here as well.

[2022-06-29 13:56] diehlpk commented on #4418
@editorialbot set 10.5281/zenodo.6777968 as archive

[2022-06-29 13:58] diehlpk commented on #4418
@dbrizard Can I assume that the release is  v2.0.2?

[2022-06-29 13:59] vissarion commented on #4523
Hi @bencardoen, @kris-rowe, @yhtang, @jacobmerson, @yuhc would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-06-29 13:59] diehlpk commented on #4418
@editorialbot set v2.0.2 as version

[2022-06-29 14:01] jbytecode commented on #4442
@editorialbot check references

[2022-06-29 14:03] dbrizard commented on #4418
Yes, v2.0.2.

Sorry for this odd number, I would have hopped to have something like v1.0.5 but I messed things up at one point, with no possibility to go back with PyPI...

[2022-06-29 14:05] jbytecode commented on #4442
@sadit

- [ ] Please read the paper pdf carefully, one more time, correct any issue if exists.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive in https://zenodo.org/
- [ ] The Zenodo archive (with the same name/title with the JOSS paper) should have the correct metadata, e.g.

[2022-06-29 14:05] christinahedges commented on #4475
@alexandergagliano, @sloneil just checking in, please let me know if you have any issues with starting the review!

[2022-06-29 14:12] MichaelSchomaker commented on #4495
@editorialbot generate my checklist

[2022-06-29 14:15] sadit commented on #4442
@jbytecode

The package already has tagged releases since that is how it works with the Julia registry and package manager. Should I create a new release?

[2022-06-29 14:17] jbytecode commented on #4442
if that tagged release includes the latest changes that manuscript covers, it is okay.

[2022-06-29 14:19] perdelt commented on #4485
@editorialbot generate pdf

[2022-06-29 14:34] rkurchin commented on #4465
@editorialbot start review

[2022-06-29 14:34] editorialbot opened #4528 "[REVIEW]: xtal2png: A Python package for representing crystal structure as PNG files"
**Submitting author:** @sgbaird (<a href="http://orcid.org/0000-0002-4491-6876">Sterling Baird</a>)
**Repository:** https://github.com/sparks-baird/xtal2png
**Branch with paper.md** (empty if default branch): main
**Version:** 0.9.4
**Editor:** @rkurchin
**Reviewers:** @dandavies99, @PeterKraus
**Archive:** 10.5281/zenodo.6941663

## Status

[![status](https://joss.theoj.org/papers/0c704f6ae9739c1

[2022-06-29 14:34] #4465 closed

[2022-06-29 14:36] EwaGomez commented on #4443
@rkurchin Thank you for checking in. I already solved one issue and I am working on the others! Am I supposed to solve all of them for the review or can I also explain why I think it's better to solve some later?

[2022-06-29 14:37] Kevin-Mattheus-Moerman commented on #4524
@editorialbot invite @jbytecode as editor

[2022-06-29 14:39] Kevin-Mattheus-Moerman commented on #4524
@jbytecode this may be off topic a bit (in terms of application), but given your data science and java experience I thought this could align with you. Do you think you can handle this work as editor? Thanks

[2022-06-29 14:49] diehlpk commented on #4512
@editorialbot add @diehlpk as editor

[2022-06-29 14:50] diehlpk commented on #4418
@dbrizard Once you updated the title, we are got to finalize the paper.

[2022-06-29 14:50] rkurchin commented on #4443
The review is meant to be a discussion, with the goal of getting the submission to the point where reviewers agree it merits publication. Feel free to engage in that discussion on those issues!

[2022-06-29 14:56] editorialbot opened #4529 "[PRE REVIEW]: SimSGamE : Scheduling simulator for modern game engines"
**Submitting author:** @bcoye (<a href="http://orcid.org/0000-0002-7619-4492">Baptiste Coye</a>)
**Repository:** https://gitlab.inria.fr/bcoye/game-engine-scheduling-simulation
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @danielskatz
**Reviewers:** @azoitl, @hwloidl
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/4a548f

[2022-06-29 15:17] hechth commented on #4337
@dhhagan actually the license of the paper is CC4 and the code is MIT.
I added a sentence on how to install the package via pip.
The API documentation is inside the code - it is not hosted somewhere else explicitly at the moment.

If it is required we can setup a readthedocs page.

[2022-06-29 15:41] QuentChangeat commented on #4456
@editorialbot generate my checklist

[2022-06-29 15:56] masadcv commented on #4523
@editorialbot check references

[2022-06-29 15:58] dfm commented on #4367
@editorialbot check references

[2022-06-29 15:59] masadcv commented on #4523
Hi @Kevin-Mattheus-Moerman,
Many thanks for starting the review thread. I have fixed the missing DOI and regenerated the paper.
Looking forward!

[2022-06-29 16:09] gkthiruvathukal commented on #4485
@simon-lewis are you willing to contribute a review for this JOSS submission?

[2022-06-29 16:35] MichaelSchomaker commented on #4495
- The dependencies are not explicitly stated in the paper.
- The License file needs more information.
- There are no details on how to report issues/problems with the software

Comments about content: while the space in JOSS is limited, I have a few smaller suggestions and questions that could be addressed in the paper in 1-2 sentences each:
- is the method also applicable for more complex back-do

[2022-06-29 16:53] dfm commented on #4367
@jzrake, @lgarrison — Thanks for your thorough and constructive reviews! I really appreciate the time you took to help with this.

@Yurlungur — I've opened a PR with some minor edits to the paper. After merging or responding to that, here are the final steps that I'll need from you:

1. Take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes la

[2022-06-29 16:59] sadit commented on #4442
@jbytecode

We reviewed and updated the manuscript (fixed a couple of typos). We also created the Zenodo archive. The requested information is as follows:

- The tagged version is `v0.9.3`
- The zenodo doi is `10.5281/zenodo.6779410`
- The zenodo archive URL is `https://zenodo.org/record/6779410`

[2022-06-29 17:06] jbytecode commented on #4442
@sadit - in Zenodo entry, please add the missing ORCID for the second author.

[2022-06-29 17:12] sadit commented on #4442
done

[2022-06-29 17:13] jbytecode commented on #4442
@editorialbot set 10.5281/zenodo.6779410 as archive

[2022-06-29 17:13] jbytecode commented on #4442
@editorialbot check references

[2022-06-29 17:13] jbytecode commented on #4442
@editorialbot generate pdf

[2022-06-29 17:16] jbytecode commented on #4442
@sadit - before recommending an accept, please check the latest pdf generated above and ping me when you have done with it. thank you!

[2022-06-29 17:30] jbytecode commented on #4442
@editorialbot recommend-accept

@kose-y and @ahwillia : thank you for reviewing this submission, hope to get together again in future works.

@sadit : Congratulations! I recommend an accept. @openjournals/joss-eics will have the final decision.

thank you all!

[2022-06-29 17:36] jbytecode commented on #4442
@openjournals/dev compilation was success in `generate pdf`, but failed in `acceptance`. could you please help us?

[2022-06-29 17:37] sadit commented on #4442
@jbytecode

I think that the error comes from using a slash as part of the table label. I removed the slash in the label in a new commit

[2022-06-29 17:37] jbytecode commented on #4442
@editorialbot recommend-accept

[2022-06-29 17:45] yhtang commented on #4523
Hi @vissarion, I'd be happy to review this submission.

[2022-06-29 17:46] sadit commented on #4442
I agree, thank you

[2022-06-29 17:48] bmcfee commented on #3934
:wave: @sergioburdisso how is this one doing?

[2022-06-29 18:41] jbytecode commented on #4487
👋👋👋 Dear @lgloege 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**MimiBRICK.jl: A Julia package for the BRICK model for sea-level change in the Mimi integrated modeling framework**". You can find more information at t

[2022-06-29 18:45] PeterKraus commented on #4528
@editorialbot generate my checklist

[2022-06-29 19:13] vissarion commented on #4523
@editorialbot add @yhtang as reviewer

[2022-06-29 19:27] kris-rowe commented on #4277
@danielskatz Should I continue to work on my review for this, or should I wait for the license issue to be resolved?

[2022-06-29 19:29] kris-rowe commented on #4523
@vissarion very recently I agreed to review another paper, so I will sit this one out unless it is not possible to find a second reviewer

[2022-06-29 20:18] catrionamurray commented on #4503
@editorialbot generate my checklist

[2022-06-29 20:37] jacobmerson commented on #4523
@vissarion I can review this paper

[2022-06-29 20:54] mbarzegary commented on #4490
@kyleniemeyer yes, I am.

[2022-06-29 21:08] flor14 commented on #4499
Thanks for the invite. I am willing to review but this is outside of my
expertise.
Best,
Florencia

El vie, 24 jun 2022 a las 12:33, The Open Journals editorial robot (<
***@***.***>) escribió:

[2022-06-29 21:58] brunomontezano commented on #4499
Thanks for the invite. I'm in the same situation as @flor14. I'm open to reviewing the submission but genomics is not my area of expertise.

[2022-06-29 22:34] dazhwu commented on #4416
Hi,
I just searched in github and from a repository (https://github.com/mikldk/jossrevsy/blob/main/global.R) I opened the following worksheet:

https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822

I searched among those records for reviewers who meet "regression" and "python", I got the following matches. Hope it helps.

username	Preferred Program

[2022-06-29 22:45] thchang commented on #4468
Hello all,

Glad to see some reviews are coming in!  Thanks all reviewers for your time!

Just wondering, will we get more detailed feedback than just this checklist?  Some of these items may be self-explanatory, but for many (e.g., the License entry, statement of need, installation, functionality, and references) it is not obvious to me why we are not satisfying these requirements, and I would ap

[2022-06-29 22:46] tomsing1 commented on #4499
@fboehm I am happy to review this manuscript!

[2022-06-29 22:48] nicoguaro commented on #4389
@Kevin-Mattheus-Moerman, I have reviewed the software taking into account the end-user and contributor perspectives. Following I mention some points regarding this submission:

- The software is useful for researchers in material modeling; I would have used a software like this during my Ph.D., for example.
- The software is related to continuum mechanics but, right now, it seems to be more focuse

[2022-06-29 22:49] fboehm commented on #4499
Thanks, @flor14, @brunomontezano and @tomsing1! I really appreciate your willingness to review this. I'll assign @tomsing1 as the second reviewer. I hope that I can work with @flor14 and @brunomontezano on a future submission. Thanks again!

[2022-06-29 22:50] fboehm commented on #4499
@editorialbot add @tomsing1 as reviewer

[2022-06-29 22:50] fboehm commented on #4499
@editorialbot start review

[2022-06-29 22:50] editorialbot opened #4530 "[REVIEW]: rTASSEL: An R interface to TASSEL for analyzing genomic diversity"
**Submitting author:** @btmonier (<a href="http://orcid.org/0000-0001-6797-1221">Brandon Monier</a>)
**Repository:** https://github.com/maize-genetics/rTASSEL
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.9.27
**Editor:** @fboehm
**Reviewers:** @tkchafin, @tomsing1
**Archive:** 10.5281/zenodo.6977430

## Status

[![status](https://joss.theoj.org/papers/3b166c073aeb

[2022-06-29 22:50] #4499 closed

[2022-06-29 22:53] fboehm commented on #4530
@tkchafin and @tomsing1 - please see above for instructions on generating your checklists. Once you have generated them, please check off the items once you believe that the criteria are met. For those items that you don't immediately check off the checklist, please comment here about why you aren't able to check them. The authors will then make needed revisions. Please mention me (@fboehm) whenev

[2022-06-29 22:53] simon-lewis commented on #4485
Happy to review. Let me know if to proceed. Thanks.

[2022-06-29 23:19] dsbowen commented on #4492
@nhejazi, thank you so much for the review! I think your changes will greatly improve the repo, and I'll be happy to implement them next week.

@blakeaw and @mattpitkin, thank you for your reviews as well! I'm eager to understand what I can do to improve the repo. Can you please tell me why my work doesn't constitute a "substantial scholarly effort?" I've been working on this project for a year, t

[2022-06-30 00:47] mdhaber commented on #4383
@editorialbot generate pdf

[2022-06-30 01:00] tpoisot commented on #4487
Can do, but can I get an idea of the deadline?

[2022-06-30 02:09] rcannood commented on #4471
Hi @simonpcouch @osorensen!

As mentioned earlier, I think the paper is very well written and is definitely worthy of publication at JOSS.

I had a few minor comments (tidymodels/stacks#135), but @simonpcouch was able to resolve them quickly. I have no further remarks.

Looking forward to seeing @mcavs' comments :)

[2022-06-30 03:29] danielskatz commented on #4277
It's hard to say, given the lack of response from @bastorer over the last 5 weeks - I would have liked a response saying that this wouldn't be a problem and could be changed, or that it is a problem and that the submission needs to be withdrawn. I now wonder if we will need to reject this submission if we don't hear back soon.

I'm sorry I can't be more clear.

[2022-06-30 03:30] pbotros commented on #4520
@editorialbot generate pdf

[2022-06-30 03:32] pbotros commented on #4520
@Kevin-Mattheus-Moerman sorry about that; done and regenerated!

[2022-06-30 03:45] pbotros commented on #4520
@Kevin-Mattheus-Moerman re potential reviewers: looking at the list, agricolab and ixjlyons seem like two good reviewers for the work.

[2022-06-30 04:35] yuhc commented on #4523
@vissarion I'll have no internet access for the next 10 days. I can help if more reviewers are needed at that time.

[2022-06-30 06:07] osorensen commented on #4471
Thanks a lot for your review, @rcannood!

[2022-06-30 06:17] wouterpeere commented on #4406
@crvernon There doesn't seem to be much reaction from @jasondegraw ... How do we proceed?

[2022-06-30 06:17] bencardoen commented on #4523
@vissarion I can review but only starting in ~ 2 weeks due to health issues, if you need review sooner than that, then I'm afraid I'm unable to help.

[2022-06-30 06:25] Viech commented on #4468
Dear Tyler,

of course I will elaborate on the checklist and give detailed feedback! I merely had to pause the review due to other obligations this week and I will continue soon.

Note that most of the non-ticked boxes either mean that I did not get to review this part yet or that I have some (minor) remark on my list concerning this point. It does not mean that I find that your submission does no

[2022-06-30 06:35] jasondegraw commented on #4406
@wouterpeere I'm aiming to get this done within the 4-6 weeks timeframe, so I'd ask you to be patient.

[2022-06-30 07:13] mikldk commented on #4383
@mdhaber Thanks for your patience. I had to finish the exam period.

@mcavs, @acolum: Can you please help with these questions? My Python knowledge is not sufficient to answer these questions.

[2022-06-30 07:13] osorensen commented on #4470
@Matthew-Jennings, no, the README in its current form does not preclude publication in JOSS. I am looking for reviewers now, and once I find three reviewers, these will have a look at the README and everything else.

[2022-06-30 07:18] mdhaber commented on #4383
@mikldk Thanks! I think those questions are resolved from my perspective. If the release/DOI look OK to JOSS, I think we're set.

[2022-06-30 07:20] osorensen commented on #4470
:wave: @eteq, would you be willing to review this submission for the Journal of Open Source Software? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

I realize might this seems far from your field of work, however, this is a medical physics tool which is directly inspired by the Astropy Project

[2022-06-30 07:23] ygrange commented on #4461
Few random comments I have when trying to check all the boxes of the checklist for which I won't open an issue:
1. One more for the README: I noticed the "guidelines" that it also is required to have an explicit mention of how to raise issues/ask questions. To me that would mean a single sentence in the readme "if you find a bug or have a question, please raise an issue on the issue board of this

[2022-06-30 07:28] mikldk commented on #4383
@mdhaber That sounds good. Can you please briefly describe how/why it is resolved?

[2022-06-30 07:36] vissarion commented on #4523
@bencardoen ~ 2 weeks is OK I would like to add you as a 3rd reviewer if you agree

[2022-06-30 07:49] mdhaber commented on #4383
Sure. I had the following questions and made the decisions described below.

I decided "yes" because the branch is supposed to released be in the state it was reviewed in, so it would not be appropriate to pull in other commits.

I decided "no" because the commit history should reflect that changes were made due to reviewer feedback, so I should not clean that up.

Yes, it is; the release notes of

[2022-06-30 08:06] dbrizard commented on #4418
@diehlpk I updated the title of the Zenodo archive.

[2022-06-30 08:15] mattpitkin commented on #4492
@dsbowen don't worry, I'm sure the work is "substantial scholarly effort", I just hadn't got round to checking that off yet. I'll try and complete my review by the end of this week or early next week.

[2022-06-30 08:43] fraukewiese commented on #4370
@andr1976 and @ClaraBuettner: Thank you very much for your review!

[2022-06-30 08:45] fraukewiese commented on #4370
@DCoppitters : At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author lis

[2022-06-30 08:53] lucydot commented on #4402
/ooo Jun 31 until July 7

[2022-06-30 08:53] lucydot commented on #4459
/ooo Jun 31 until July 7

[2022-06-30 08:54] lucydot commented on #4333
Hello, just to let you all know that I am taking some annual leave next week, so will be out of office until around the 7th July.

[2022-06-30 08:54] lucydot commented on #4333
/ooo Jun 31 until July 7

[2022-06-30 09:34] vissarion commented on #4492
@dsbowen it is expected that reviewers take some time to complete the reviews so if you see an incomplete list this does not mean something is missing or there is a problem with the repo. Usually when a reviewer finishes with the review they write a message in this thread that the review is complete by potentially raising some issues.

[2022-06-30 09:41] DCoppitters commented on #4370
@andr1976 and @ClaraBuettner : Thanks a lot for your review, time and efforts!

@fraukewiese : Below the required information:
- v1.0.0
- 10.5281/zenodo.6782705

Thanks a lot for your time and efforts!

[2022-06-30 10:04] jbytecode commented on #4487
@tpoisot - our reviewing times are 40-60 days in average. is it okay to you?

[2022-06-30 10:18] AWehrhahn commented on #4462
Sure. When do you need the review?

[2022-06-30 10:22] wouterpeere commented on #4406
@jasondegraw Thanks for coming back to this. I just thought that, for some reason or another, we weren't able to reach you. Sorry for the impatience, I'm looking forward to your comments!

[2022-06-30 12:39] meg-simula commented on #3842
@EtienneCmb We still seem to be awaiting your revisions before proceeding with the submission. Could you please give us an update?

[2022-06-30 13:08] brovelli commented on #3842
Dear Marie,

Sorry for the delay, we are about to submit the revised version and reply to the comments of the reviewers.

Best regards

[2022-06-30 13:12] EtienneCmb commented on #3842
Dear @meg-simula,

I'm sincerely sorry for the very late answer, I was absorbed in other projects. I'll past out answers to the reviewers today or tomorrow.

Best,

[2022-06-30 14:42] thchang commented on #4468
OK thanks for clarifying!

I see, sorry this is my first experience with this journal so I'm just learning how things work :) I misunderstood the checklist as your final review for the paper.

---Tyler

[2022-06-30 14:48] blakeaw commented on #4492
Hi, @dsbowen, thanks for checking in. I'll just confirm that I also haven't completed my review yet.

As @vissarion suggested, I will post a message here when I have completed it as well as raise any issues during the process at the source code repo.

I'll also try to complete my review this week or early next week.

[2022-06-30 15:02] bencardoen commented on #4523
@vissarion sure, sounds good :+1:

[2022-06-30 15:26] kjappelbaum commented on #4451
I'm also done with the review - while there are minor things one could further improve (e.g. making the tutorials slightly less overwhelming, completing some of the empty docstrings) - it looks generally good to me: the software works, is documented, there is some automated testing, and community guidelines.

[2022-06-30 16:08] Het-Shah commented on #3700
@a-ws-m has completed the benchmarks that were required. I have updated and completed the checklist on my end.

[2022-06-30 16:17] diehlpk commented on #4418
@editorialbot recommend-accept

[2022-06-30 16:41] kyleniemeyer commented on #4490
@editorialbot add @mbarzegary as reviewer

[2022-06-30 16:42] kyleniemeyer commented on #4490
@editorialbot start review

[2022-06-30 16:42] editorialbot opened #4531 "[REVIEW]: DMStag: Staggered, Structured Grids for PETSc"
**Submitting author:** @psanan (<a href="http://orcid.org/0000-0003-3968-8482">Patrick Sanan</a>)
**Repository:** https://gitlab.com/petsc/petsc
**Branch with paper.md** (empty if default branch): psanan/dmstag-joss
**Version:** v3.17.2-562-g2ed6c4b646c
**Editor:** @kyleniemeyer
**Reviewers:** @elauksap, @mbarzegary
**Archive:** 10.5281/zenodo.7315282

## Status

[![status](https://joss.theoj.org/

[2022-06-30 16:42] #4490 closed

[2022-06-30 16:42] kyleniemeyer commented on #4490
OK, thanks everyone, the review will take place in #4531.

[2022-06-30 16:43] kyleniemeyer commented on #4531
👋 @psanan @kris-rowe, @elauksap, @mbarzegary

Each reviewer will have their own checklist, created with the command `@editorialbot generate my checklist`

[2022-06-30 16:58] a-ws-m commented on #3700
Thanks @Het-Shah! There are several non-blocking issues on the repository that I addressed a while ago, I'll ask @pmeier to follow up on those separately. I think the only remaining task is RE: substantial scholarly effort.

UnlockNN is specifically tailored to those working within chemistry, hence the focus on applying the uncertainty quantification to ``MEGNet``, which is a successful model for

[2022-06-30 17:07] a-ws-m commented on #3700
Ah I realise I'd already written a response to the issue about substantial scholarly effort in the thread [here](https://github.com/openjournals/joss-reviews/issues/3700#issuecomment-950791488); I think it's complementary to my last comment. Please let me know if I can provide any more details to address this last task @pmeier.

[2022-06-30 17:08] mbarzegary commented on #4531
@editorialbot generate my checklist

[2022-06-30 17:13] osorensen commented on #3700
Thanks a lot @a-ws-m and @Het-Shah!

[2022-06-30 17:13] archermarx commented on #4402
Thanks!

[2022-06-30 17:18] elauksap commented on #4531
@editorialbot generate my checklist

[2022-06-30 17:23] osorensen commented on #3700
When you have time, can you please consider whether this addresses the remaining unchecked item on your checklist @pmeier?

[2022-06-30 17:26] wouterpeere commented on #4406
@editorialbot generate pdf

[2022-06-30 17:45] fraukewiese commented on #4370
@editorialbot set v1.0.0 as version

[2022-06-30 17:46] fraukewiese commented on #4370
@editorialbot set 10.5281/zenodo.6782705 as archive

[2022-06-30 17:48] fraukewiese commented on #4370
@editorialbot set 10.5281/zenodo.6782705 as archive

[2022-06-30 17:51] fraukewiese commented on #4370
@editorialbot recommend-accept

[2022-06-30 19:22] vissarion commented on #4523
@editorialbot add @bencardoen  as reviewer

[2022-06-30 19:23] vissarion commented on #4523
@editorialbot add @bencardoen as reviewer

[2022-06-30 19:23] vissarion commented on #4523
@editorialbot start review

[2022-06-30 19:23] editorialbot opened #4532 "[REVIEW]: FastGeodis: Fast Generalised Geodesic Distance Transform"
**Submitting author:** @masadcv (<a href="http://orcid.org/0000-0002-3672-2414">Muhammad Asad</a>)
**Repository:** https://github.com/masadcv/FastGeodis
**Branch with paper.md** (empty if default branch):
**Version:**  v1.0.0
**Editor:** @vissarion
**Reviewers:** @jacobmerson, @dataplayer12
**Archive:** 10.5281/zenodo.7349069

## Status

[![status](https://joss.theoj.org/papers/d0b6e3daa4b22fec471

[2022-06-30 19:29] jacobmerson commented on #4532
@editorialbot generate my checklist

[2022-06-30 19:38] Viech commented on #4468
It was a pleasure to review this! I will certainly keep this library in mind for when I need to solve a multi-objective problem with expensive evaluation.

To put my comments into perspective, I was previously aware of *design of experiments* type problems, various types of metaheuristics, and multi-objective optimization, but have not heard the term *simulation optimization* before.

I marked as

[2022-06-30 19:41] majensen commented on #4422
@becarioprecario would you be available and willing to review [this work](#4422) for [JOSS](https://joss.theoj.org)? Your survival analysis expertise would be very helpful. Thanks for your consideration --@majensen

[2022-06-30 19:45] prashjha commented on #4510
Hi @arfon and @Kevin-Mattheus-Moerman, thanks for the invite.

[2022-06-30 19:47] prashjha commented on #4510
@editorialbot assign me as editor

[2022-06-30 19:47] majensen commented on #4369
@editorialbot generate checklist for @DavidNickle

[2022-06-30 19:47] majensen commented on #4369
@editorialbot generate my checklist

[2022-06-30 19:48] majensen commented on #4369
@editorialbot add me as reviewer

[2022-06-30 19:48] majensen commented on #4369
@editorialbot generate my checklist

[2022-06-30 19:49] majensen commented on #4369
@editorialbot remove me as reviewer

[2022-06-30 19:51] prashjha commented on #4404
Hi, @dbrizard, thank you for reviewing the submission. Is your review complete?

[2022-06-30 19:53] prashjha commented on #4299
Hi, @aliaksei135, got it, and thank you for your effort.

[2022-06-30 19:53] prashjha commented on #4299
Hi, @athulpg007, thank you for your effort.

[2022-06-30 19:54] majensen commented on #4369
@milnus @gtonkinhill -- my apologies for neglecting this submission. Are there any items outstanding regarding gtonkinhill's review?

@DavidNickle can you provide your review via the [checklist above](https://github.com/openjournals/joss-reviews/issues/4369#issuecomment-1171613322)?

[2022-06-30 19:54] majensen commented on #3431
@benjaminbolling are you ready to restart the revision process? Thanks

[2022-06-30 19:56] majensen commented on #3940
@kechi - please let us know if you either plan to restart the review/revision process, or if you would prefer to withdraw this submission. Thanks --@majensen

[2022-06-30 20:01] prashjha commented on #4299
@editorialbot check references

[2022-06-30 20:01] prashjha commented on #4299
@editorialbot generate pdf

[2022-06-30 20:10] tarleb commented on #4442
The pipeline was updated and should now compile the paper as is.

One note though: while working on this, I noticed that the bibliography entry for Witten et al. (1999) lists one of the authors twice, another even three times. That should probably be fixed.

And last but not least: congrats on the acceptance!

[2022-06-30 20:17] jbytecode commented on #4442
@sadit  - could you please correct the citation as @tarleb stated above

[2022-06-30 20:18] prashjha commented on #4308
@editorialbot add @jakdot as reviewer

[2022-06-30 20:19] prashjha commented on #4308
Hi @travisseymour, we have two reviewers now. I will soon start the review (this will take place in a new issue).

[2022-06-30 20:34] DavidNickle commented on #4369
Review checklist

### **Conflict of interest**

 **X** I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### **Code of Conduct**

 **X**  I confirm that I read and will adhere to the [JO

[2022-06-30 21:05] asher-pembroke commented on #4053
@editorialbot generate pdf

[2022-06-30 21:12] sadit commented on #4442
@jbytecode - done
@tarleb - thank you

[2022-06-30 21:42] kellyrowland commented on #4468
hi @jdreo just checking in on this review 👋 please let me know when you think you may be able to get started or if you need to set it down.

[2022-06-30 21:49] gpleiss commented on #4455
## Review checklist for @gpleiss

### Conflict of interest

- [x] As the reviewer I confirm that I have read the [JOSS conflict of interest policy](https://github.com/openjournals/joss/blob/master/COI.md) and that there are no conflicts of interest for me to review this work.

### Code of Conduct

- [x] I confirm that I read and will adhere to the [JOSS code of conduct](https://joss.theoj.org/abou

[2022-06-30 21:51] gpleiss commented on #4455
@dfm @thomaspinder I'll post the actionable items from my review in @theorashid 's [review issue](https://github.com/thomaspinder/GPJax/issues/76)

[2022-06-30 22:02] jedbrown commented on #4519
:wave: Hi @thohamm. A few notes from my initial scan
1. I see there are some "TODO" marks in the document.
2. Can you please share with us a little about the provenance of this project? I see it was a new project importing source from elsewhere just prior to submission.
3. It looks like there is intended to be Sphinx documentation, but I don't see it linked. Does that exist?
4. Those docs say that

[2022-06-30 22:26] diehlpk commented on #4466
@zeroset and @kris-rowe do you have time to review this paper?

[2022-06-30 22:27] diehlpk commented on #4512
@lluisjofre could please recommend some reviewers?

[2022-07-01 04:36] zeroset commented on #4466
Hi, unfortunately i have no time to review anything soon.

[2022-07-01 04:42] lluisjofre commented on #4512
Hi @diehlpk,

I would like to recommend the following reviewers (username): tupi, dlagrava, mikaem.

Best,
Lluís

[2022-07-01 04:57] StanczakDominik commented on #4402
Apologies, but I'm also overcommitted at the moment :(

[2022-07-01 05:11] jbytecode commented on #4442
@editorialbot recommend-accept

[2022-07-01 06:13] dbrizard commented on #4404
@prashjha yes, provided the references are updated according to my suggestion
https://github.com/openjournals/joss-reviews/issues/4404#issuecomment-1153923960
otherwise everything is ok for me.

[2022-07-01 07:21] travisseymour commented on #4308
Great! Thanks for the update.
Best
Travis

On Thu, Jun 30, 2022, 1:19 PM Prashant K. Jha ***@***.***>
wrote:

[2022-07-01 07:44] fjprichard commented on #3821
@pibion Thank you for your valuable comments; there is no problem about continuing improving the text. I rewrite the introduction to take into account your comments. I separated it into two paragraphs: the first one presents generic interests of the package. The second one is more focused on its interest for the evaluation of estimation methods. In this part, I tried to be more specific about the

[2022-07-01 08:21] chartgerink commented on #4416
Thanks @dazhwu!

For @a-slide @RomainAzais @potterzot @mmrabe @Athene-ai @lbluque -
might one/some of you be interested to review this paper on dynamic panel modeling?

Find [the paper on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04416/joss.04416/10.21105.joss.04416.pdf), and [the source code](https://github.com/dazhwu/pydynpd) as well.

I would greatly appreciate any help as w

[2022-07-01 08:25] gtonkinhill commented on #4369
Everything looks good to me as Magnus has addressed all my comments so I recommend acceptance!

[2022-07-01 08:38] Nikoleta-v3 commented on #4286
Thank you for replying! 😄

[2022-07-01 08:42] Nikoleta-v3 commented on #4286
👋 @jhwohlgemuth & @fAndreuzzi would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "GRAPL: A computational library for nonparametric structural causal modelling, analysis and inference".

[2022-07-01 08:58] chartgerink commented on #4451
@ayush4921 all three reviewers are positive about the paper 👍

I am favorable to move this paper forward for publication, but before being able to do so I will require you to go through [the generated PDF](https://github.com/openjournals/joss-papers/blob/joss.04451/joss.04451/10.21105.joss.04451.pdf) and do an overall proofcheck.

While reading through the paper I noticed several issues that would

[2022-07-01 09:11] drvinceknight commented on #4509
Thanks @Jacks0nJ.

[2022-07-01 09:13] drvinceknight commented on #4509
@CFGrote @FaroukM @OsAmaro I'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS (The Journal of Open Source Software).

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: “PyFPT: A Python package for first-passage times”. You can find more information at the top of this Github issue.

The review pro

[2022-07-01 09:27] ayush4921 commented on #4451
@editorialbot  generate pdf

[2022-07-01 09:45] CFGrote commented on #4509
hi vince, i'll be happy to review this.

carsten

On Fri, 2022-07-01 at 02:13 -0700, Vince Knight wrote:

[2022-07-01 09:48] slayoo commented on #3896
IIUC, this seem to be a problem with Julia and Numba being linked to different versions of LLVM. There is little we can do at the level of PyMPDATA. The problem has been reported in numerous places, with no solution provided in most cases besides just upgrading/downgrading packages (on Github Actions, we do test the Julia code snippet on each merge to main, and there is no trouble on `ubuntu-lates

[2022-07-01 09:51] slayoo commented on #3896
Fixed here: https://github.com/atmos-cloud-sim-uj/PyMPDATA-examples/commit/763c004a890088ea662fe591ced5e8feaad5df19

[2022-07-01 09:51] platipodium commented on #4366
- [ ] Installation fails on aarch64-conda-py3.10 https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/13

[2022-07-01 09:59] ayush4921 commented on #4451
@chartgerink I've resolved all of the mentioned issues. Thanks, and regards.

[2022-07-01 10:00] ayush4921 commented on #4451
@editorialbot generate pdf

[2022-07-01 10:18] xuanxu commented on #4461
@ygrange: Yes, this bother me a little bit too, but those lines are not marked by Codecov as not tested (red), but as "partially tested" (yellow). I realized by that they mean that those lines are covered by tests but the coverage tool can't be certain every possible case is tested because there is not `else` clause.

A human eye can easily see that this `if` statatement covers all cases:
[code]

[2022-07-01 10:23] platipodium commented on #4366
- [] Installation fails on aarch64-conda-py3.9 https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/14

[2022-07-01 10:29] fAndreuzzi commented on #4286
I'll be very happy to review this paper @Nikoleta-v3

[2022-07-01 10:53] ygrange commented on #4461
Oh wow, that quite odd. Makes sense that you solved it how you did. I tried googling for ways around this but it very quickly becomes very artificial or tooling-specific which of course is not too nice. Totally happy accepting that this this as it is :).

[2022-07-01 11:17] mmrabe commented on #4416
Hi @chartgerink and @dazhwu,

Thanks for considering me as a reviewer. Currently, I'm on part-time parental leave until the end of July and therefore can't commit to any more reviews at the moment. Sorry. I can also recommend my colleague lschwetlick (not in the reviewer spreadsheet).

Best regards,
Max

[2022-07-01 11:50] xuanxu commented on #4461
I've addressed most of the comments in the review here: https://github.com/xuanxu/starmatrix/pull/56

[2022-07-01 12:15] xuanxu commented on #4461
@editorialbot generate pdf

[2022-07-01 12:29] PaulDebus commented on #4324
I do not know anything about the data format or the data contained in it, but I can take a look. Does the review also include a code review?

Cheers

[2022-07-01 12:47] pmeier commented on #3700
@osorensen This review dragged on for a lot longer than I anticipated. I'm currently on parental leave and won't have time to do substantial work for this until approximately mid August.

Seeing that @Het-Shah now accepted the submission with a "Substantial scholarly effort" while he shared similar concerns as I did in the beginning, I would also be fine to just accept it to move forward. Thoughts