[2020-10-19 20:04] Hazboun6 commented on #2757
Thank you @JBorrow and @arjunsavel for your speedy reviews! We're looking over the Issues you both posted now and we'll let you know when we've been able to attend to them. Hopefully we'll be able to make most changes this week.

[2020-10-19 20:16] kthyng commented on #2761
@whedon set v0.6.2 as version

[2020-10-19 20:16] whedon commented on #2761
OK. v0.6.2 is the version.

[2020-10-19 20:25] aquilesC commented on #2693
@hemanthpruthvi , good work! I've just checked the manuscript, and it sounds much better with the positive aspects of your software stated first, and also the improvements to your code and examples are definitely a good addition.

I have marked all the checkboxes, @pibion , I think the work is ready to be published, I believe my review concludes, but please feel free to ping me if I can do anythin

[2020-10-19 20:46] kthyng commented on #2761
@whedon set 10.5281/zenodo.4107044 as archive

[2020-10-19 20:46] whedon commented on #2761
OK. <a href="https://doi.org/10.5281/zenodo.4107044" target="_blank">10.5281/zenodo.4107044</a> is the archive.

[2020-10-19 20:46] kthyng commented on #2761
@whedon accept

[2020-10-19 20:46] whedon commented on #2761
[code]

[2020-10-19 20:47] whedon commented on #2761
[code]

[2020-10-19 20:47] whedon commented on #2761
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1829

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1829, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-19 20:51] kthyng commented on #2761
@whedon accept deposit=true

[2020-10-19 20:51] whedon commented on #2761
[code]

[2020-10-19 20:52] whedon commented on #2761
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1318293878701772805) 👈 🐦🐦🐦

[2020-10-19 20:52] whedon commented on #2761
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1830
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02761](https://doi.org/10.21105/joss.02761)
2. If everything looks g

[2020-10-19 20:57] kthyng commented on #2761
@pmeier congrats on your publication with JOSS! I'll close this issue once the doi resolves.

[2020-10-19 21:02] kthyng commented on #2497
@kakearney Will you be able to return to this and run tests on the recent updates?

[2020-10-19 21:03] kthyng commented on #2497
@castelao Can you please let us know the status of your review, noting that some of the check boxes above are unchecked? Thanks

[2020-10-19 21:04] alexrockhill commented on #2675
I largely agree with @matteomancini that SLIX serves a needed role in image processing for a new modality. My biggest critique that I have raised in issues thus far is that, although this software tool almost (directional plot PR pending AFAIK) replicates the authors' work on Bioarxiv, it doesn't seem as geared toward a new user who might have a slightly different setup and different needs as it c

[2020-10-19 21:05] bensonml commented on #2726
Problem installing PINE with Docker, opened issue: https://github.com/JHUAPL/PINE/issues/10

[2020-10-19 21:11] kthyng commented on #2713
@gaelforget Can you add a short section to your paper also to compare your software with other particle tracking software? This will help give context.

[2020-10-19 21:15] steven-murray commented on #2582
@whedon generate pdf

[2020-10-19 21:16] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-10-19 21:35] #2761 closed

[2020-10-19 21:35] whedon commented on #2761
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02761/status.svg)](https://doi.org/10.21105/joss.02761)

**We need your help!**

Journal of Open Source Softwa

[2020-10-19 21:42] steven-murray commented on #2582
OK @dfm, I've merged the paper fixes, and the proof looks good.

As for the version update -- does that need to be a new version? Can we point to the last published version (3.0.2)? If not that's fine, but may be a day or so before we can release a new version.

[2020-10-19 21:49] rly commented on #2675
Sorry for the delay. I'll have by review done by end of day tomorrow and can join the discussion then.

[2020-10-19 21:56] chainsawriot commented on #2461
@kakiac I would like to say that Whedon's suggested DOI for the Krippendorf's book is incorrect. The DOI suggested is [a book review of the book](https://www.jstor.org/stable/2288384?seq=1#metadata_info_tab_contents). As far as I know, the book has no DOI.

[2020-10-19 22:10] kakearney commented on #2497
I believe I should have time in a few days; I will aim to have my re-review
completed by Oct. 26.

On Mon, Oct 19, 2020 at 2:03 PM Kristen Thyng <notifications@github.com>
wrote:

[2020-10-19 22:26] dfm commented on #2582
The version for the paper should represent the current state of the code base and docs. It looks to me like there have been a fair number of updates since 3.0.2 (July 2020) so I think you should make a new one. If you think otherwise, please let me know!

[2020-10-19 22:39] jedbrown commented on #2759
@danielskatz This looks cool, but I'm conflicted (lead author is also at CU Boulder).

[2020-10-19 22:43] poulson commented on #2564
Hi @nwu63 -- with respect to your three reviewer question, given that there are two very positive reviews I think that is sufficient.

I will procede by giving it a proofread and then walk through the checklist for the final approval.

Thank you all for your patience, as I fell into a bit of a spiral of knowing I was behind on checking in and avoiding circling back.

[2020-10-19 22:45] danielskatz commented on #2759
Sorry I missed that - I assume @openjournals/jose-eics will make a different editor invitation

[2020-10-19 22:51] poulson commented on #2564
@whedon check references

[2020-10-19 22:55] poulson commented on #2564
@whedon commands

[2020-10-19 22:55] whedon commented on #2564
Here are some things you can ask me to do:

[code]

[2020-10-19 22:55] poulson commented on #2564
@whedon check references

[2020-10-19 22:56] poulson commented on #2564
@whedon generate pdf

[2020-10-19 22:56] whedon commented on #2564
PDF failed to compile for issue #2564 with the following error:

 Can't find any papers to compile :-(

[2020-10-19 22:57] poulson commented on #2564
@whedon check references from branch paper

[2020-10-19 22:57] whedon commented on #2564
[code]

[2020-10-19 22:57] whedon commented on #2564
[code]

[2020-10-19 22:58] poulson commented on #2564
@nwu63 -- I just reread the paper, and I have to say, this is one of my favorite JOSS submissions.

Would you mind fixing the trivial DOI issue mentioned above and then providing a DOI for your source code archive (e.g., from Zenodo)?

[2020-10-19 23:04] ablaom commented on #2704
You need of course to look at [all the repos](). There are a dozen or so now. The core code lives at MLJBase.j, the largest repo. OkonSamuel has indeed made substantial contributions to the project - maintenance, issue resolution, new model interfaces, adding functionality, and a smaller amount of design work. As I said, the criterion for inclusion was around substantial design rather than code (o

[2020-10-19 23:43] williamfgc commented on #2741
@whedon @VivianePons I have trouble when trying to accept the invitation above. Also, I can't edit my checklist. I'd appreciate help with it as I'm currently reviewing the software.

[2020-10-19 23:43] whedon commented on #2741
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-19 23:43] williamfgc commented on #2741
@whedon commands

[2020-10-19 23:43] whedon commented on #2741
Here are some things you can ask me to do:

[code]

[2020-10-19 23:44] williamfgc commented on #2741
@whedon list reviewers

[2020-10-19 23:44] whedon commented on #2741
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-10-20 00:53] galessiorob commented on #2697
@whedon generate pdf

[2020-10-20 00:54] whedon commented on #2697
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02697/joss.02697/10.21105.joss.02697.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02697/joss.02697/10.21105.joss.02697.pdf) :page_facing_up: :point_left:

[2020-10-20 01:00] gagolews commented on #2760
@mikldk I'm willing to write a review.

[2020-10-20 01:26] bogovicj commented on #2689
@jni

There is a bit more left for me to do, though I expect to finish up this weekend at the latest.

A question - is this thread the right place to include suggestions for the Software paper? Or should those go elsewhere, say the project repo?

[2020-10-20 01:32] jni commented on #2689
This thread is good!

[2020-10-20 02:23] amanchokshi commented on #2629
@mbobra

`waterfall_single` is a cli tool which makes it easy to interact with the underlying [single_waterfall](https://embers.readthedocs.io/en/latest/api-rf_tools.html#embers.rf_tools.rf_data.single_waterfall) function.

Internally, what `waterfall_single` does:
[code]

In [Embers by Example](https://embers.readthedocs.io/en/latest/embersbyexample.html#rf-tools) I have added a link which takes

[2020-10-20 02:55] steven-murray commented on #2582
You're right, @dfm. Made a new version.

New version is v3.0.3 and DOI is 10.5281/zenodo.4107189.

[2020-10-20 04:04] galessiorob commented on #2697
@whedon check references

[2020-10-20 04:05] whedon commented on #2697
[code]

[2020-10-20 04:07] galessiorob commented on #2697
👋 Hi @fduchatea

I am in the process of assigning reviewers to this submission, in the meantime, it looks like there 2 missing DOIs, if you could add those down that would be great.

Many thanks!

Basic checks:

 - [ ] There’s a general description of the software
 - [ ] The software is within the scope as research software
 - [ ] OSI-approved license: GNU General Public License (GPL)

[2020-10-20 04:22] Xunius commented on #2407
@whedon generate pdf
@sadielbartholomew Thanks for the update. I've updated the citation.

[2020-10-20 04:23] whedon commented on #2407
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: :point_left:

[2020-10-20 06:24] VincentAlcazer commented on #2630
Dear @mikldk @nistara @adithirgis ,

Thank you again for your messages and suggestions.

The paper.md has been updated taking into account these considerations:

Addition in the summary: "Other free software exist such as iNZight or Jamovi. However, while providing solutions with multiple features such as variable recoding, these software do not guide the user through the analysis and can lack som

[2020-10-20 06:39] henrykironde commented on #2704
Thanks, for making this clear beyond doubt.
At this point, this LGTM and the I do acknowledge and reccommend that the folks have done a good job on the software and the purpose for which it serves holds a great deal of water.

[2020-10-20 06:40] henrykironde commented on #2704
@terrytangyuan all yours and thanks everyone.

[2020-10-20 07:15] ketch commented on #2514
Done.

There isn't a grant number for the CSGF.  I've added the AFOSR number.

Done.

Done; I think I caught them all.

[2020-10-20 07:41] fduchatea commented on #2697
Hi @galessiorob,
Thank you for managing our submission.
Missing DOI have been added.

[2020-10-20 07:41] fduchatea commented on #2697
@whedon generate pdf

[2020-10-20 07:42] whedon commented on #2697
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02697/joss.02697/10.21105.joss.02697.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02697/joss.02697/10.21105.joss.02697.pdf) :page_facing_up: :point_left:

[2020-10-20 07:50] xillig commented on #2507
Hi @trallard,
we already created a tagged release on Zenodo. This is the DOI: https://zenodo.org/badge/latestdoi/258153686

Additionally, we would like to point out once more, that @linuxscout might be assigned as a Reviewer (he/she has a checklist above) but never has been a participant in this issue and probably never reviewed the project. Nevertheless, we do not think this is a problem since th

[2020-10-20 07:52] fduchatea commented on #2697
@whedon generate pdf

[2020-10-20 07:53] whedon commented on #2697
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02697/joss.02697/10.21105.joss.02697.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02697/joss.02697/10.21105.joss.02697.pdf) :page_facing_up: :point_left:

[2020-10-20 08:01] linuxscout commented on #2507
Hi @xillig,
I'm assigned as a Reviewer, but I accepted to review the paper if there are none to do this. When I saw that there are two reviewers, I don't make any action, I follow all the thread, but I think it's not necessary to interact.

If you need my review, I can do it, thanks. See you for other papers.

[2020-10-20 08:50] AshKelly commented on #2608
I am happy to recommend this submission for acceptance into JOSS. The developers have responded positively to all of my comments and suggestions.

I would also like to add that I really like the library and the simplicity of the API. Notably, the abstraction into three main components `Catalog`, `Canvas` and `Painter`. I found that after just a short period experimenting with examples given in the

[2020-10-20 09:08] kakiac commented on #2461
Thanks @chainsawriot - yes I spotted that too :) whedon is mostly correct with these things but not always :)

[2020-10-20 09:26] richelbilderbeek commented on #2762
@whedon generate pdf

[2020-10-20 09:27] whedon commented on #2762
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02762/joss.02762/10.21105.joss.02762.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02762/joss.02762/10.21105.joss.02762.pdf) :page_facing_up: :point_left:

[2020-10-20 09:28] richelbilderbeek commented on #2762
@whedon generate pdf

[2020-10-20 09:28] whedon commented on #2762
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02762/joss.02762/10.21105.joss.02762.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02762/joss.02762/10.21105.joss.02762.pdf) :page_facing_up: :point_left:

[2020-10-20 10:21] dfm commented on #2582
Thanks! Can you edit the Zenodo meta data so that the title is "21cmFAST v3: A Python-integrated C code for generating 3D realizations of the cosmic 21cm signal"?

[2020-10-20 10:51] steven-murray commented on #2582
:facepalm: done.

[2020-10-20 10:55] dfm commented on #2582
@whedon set 10.5281/zenodo.4107189 as archive

[2020-10-20 10:55] whedon commented on #2582
OK. <a href="https://doi.org/10.5281/zenodo.4107189" target="_blank">10.5281/zenodo.4107189</a> is the archive.

[2020-10-20 10:55] brunaw commented on #2760
@mikldk Yes, I would be happy to

[2020-10-20 10:55] dfm commented on #2582
@whedon set v3.0.3 as version

[2020-10-20 10:55] whedon commented on #2582
OK. v3.0.3 is the version.

[2020-10-20 10:56] dfm commented on #2582
@whedon accept

[2020-10-20 10:56] whedon commented on #2582
[code]

[2020-10-20 10:56] whedon commented on #2582
[code]

[2020-10-20 10:57] whedon commented on #2582
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1831

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1831, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-20 11:02] dfm commented on #2582
@steven-murray: I see now that I missed that updated reference. It looks like https://ui.adsabs.harvard.edu/abs/2020MNRAS.499..550Q/abstract has now been published so can you update the bibtex entry to the published version?

EiC: I'll remove the `recommend-accept` label until @steven-murray fixes that. Sorry all about the false alarm!

[2020-10-20 11:22] mikldk commented on #2760
@whedon add @gagolews as reviewer

[2020-10-20 11:22] whedon commented on #2760
OK, @gagolews is now a reviewer

[2020-10-20 11:22] mikldk commented on #2760
@whedon add @brunaw as reviewer

[2020-10-20 11:23] mikldk commented on #2760
@whedon start review

[2020-10-20 11:23] whedon opened #2763 "[REVIEW]: simstudy: Illuminating research methods through data generation"
**Submitting author:** @assignUser (<a href="http://orcid.org/0000-0002-7281-3989">Jacob Wujciak-Jens</a>)
**Repository:** <a href="https://github.com/kgoldfeld/simstudy/" target ="_blank">https://github.com/kgoldfeld/simstudy/</a>
**Version:** v0.2.2
**Editor:** @mikldk
**Reviewer:** @gagolews, @brunaw
**Archive:** <a href="https://doi.org/10.5281/zenodo.4134675" target="_blank">10.5281/zenodo.41

[2020-10-20 11:23] whedon commented on #2760
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2763.

[2020-10-20 11:23] #2760 closed

[2020-10-20 11:23] whedon commented on #2763
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gagolews, @brunaw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-10-20 11:23] mikldk commented on #2763
@gagolews, @brunaw: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review t

[2020-10-20 11:23] whedon commented on #2763
PDF failed to compile for issue #2763 with the following error:

 Can't find any papers to compile :-(

[2020-10-20 11:23] mikldk commented on #2763
@whedon generate pdf from branch joss-submission

[2020-10-20 11:24] whedon commented on #2763
[code]

[2020-10-20 11:24] whedon commented on #2763
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: :point_left:

[2020-10-20 11:24] mikldk commented on #2763
@whedon check references from branch joss-submission

[2020-10-20 11:24] whedon commented on #2763
[code]

[2020-10-20 11:25] whedon commented on #2763
[code]

[2020-10-20 11:25] mikldk commented on #2763
@gagolews, @brunaw: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review t

[2020-10-20 12:25] roshansamuel commented on #2095
Dear @kyleniemeyer ,

We are using data from simulations with SARAS in upcoming papers from our lab. It would be greatly helpful if the review of this software can be expedited. Once published, it would be easier for us to cite the solver in our papers.

Can something be done to bring the review back on track?

Thanks!

[2020-10-20 12:58] arfon commented on #2572
@whedon add @mosteo as reviewer

[2020-10-20 12:58] whedon commented on #2572
OK, @mosteo is now a reviewer

[2020-10-20 13:03] mancellin commented on #2732
This is a very good work. The package is easy to install, the documentation is fine, and the code examples work as expected.

I agree with @sibirrer's comments. I also reported two more minor issues (dstansby/pfsspy#250, dstansby/pfsspy#254) and made some optional suggestions (dstansby/pfsspy#252, dstansby/pfsspy#253) in the issue tracker of the package.

The paper can be recommended for publicati

[2020-10-20 13:41] brunaw commented on #2763
I  personally appreciate the creation of this package, since I have had to come up with my own data simulation procedures several times, for many different contexts. I think this package should be accepted because it will help lots of researchers with the same issues. Comments and suggestions about the code & content/documentation of the package are below.

## Package content/documentation

- Add

[2020-10-20 13:55] nwu63 commented on #2564
@poulson: Thanks! This has been a really good experience and I appreciate all the work you guys do.

I am planning to make a new code release so that the updated code is archived by zenodo. I just wanted to clarify if the code release should contain the paper? i.e. should I merge the content of the `paper` branch into `master` before that release. I saw from some other JOSS reviews that you prefer

[2020-10-20 14:10] sjpfenninger commented on #2735
@konstantinstadler Looks like it's next week anyway now, so I'll take you up on the offer. Thanks!

[2020-10-20 14:10] sjpfenninger commented on #2735
Thanks @sara-02, let me see if we find somebody with expertise in the area.

[2020-10-20 14:11] sjpfenninger commented on #2735
@romainsacchi Would you be able to review this submission to JOSS?

[2020-10-20 14:11] sjpfenninger commented on #2735
@whedon add @konstantinstadler as reviewer

[2020-10-20 14:12] whedon commented on #2735
OK, @konstantinstadler is now a reviewer

[2020-10-20 14:12] waxlamp commented on #2410
Thank you @lpantano, @joannawolthuis, @jkanche, and @danielskatz!

[2020-10-20 14:13] sjpfenninger commented on #2735
@GustaveCoste Hmm, I'm unsure what's happening there. @openjournals/dev Any idea why following the figure referencing approach from [the example](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) does not work [in this case](https://framagit.org/GustaveCoste/eldam/-/blob/joss/paper.md)?

[2020-10-20 14:26] assignUser commented on #2763
@brunaw Thank you for your review and your positive recommendation! I will try to address each point you have brought up

* Could you elaborate in what way you would like latex to be added to the README?
* We will review the texts.
* The meaning of each parameter for all available distributions is explained in the package help under [`?distributions`](https://kgoldfeld.github.io/simstudy/reference

[2020-10-20 14:49] eloisabentivegna commented on #2513
The proof looks good to me! @zingale, I have added one last missing DOI, and issued a PR on the Castro repo. Once that is fixed, we should be done.

[2020-10-20 15:02] kbarnhart commented on #2751
@changliao1025 the first step in the JOSS submission/review process is that the topical editor (me) looks though the submission as an initial check. I have a couple of questions:

- Is there a place where documentation and example usage of HexWatershed are provided
- Is there a place where instructions for testing that HexWatershed has been installed correctly?

[2020-10-20 15:22] brunaw commented on #2763
@assignUser Thank you for the quick reply, and I apologize if some of my comments weren't clear.

- For example, you have log(\mu)  in the text that could be shown as <a href="https://www.codecogs.com/eqnedit.php?latex=log(\mu)" target="_blank"><img src="https://latex.codecogs.com/gif.latex?log(\mu)" title="log(\mu)" /></a>. This can be quite tricky (https://stackoverflow.com/questions/35498525/la

[2020-10-20 15:31] pibion commented on #2686
@whedon add @frigaut as reviewer

[2020-10-20 15:32] whedon commented on #2686
OK, @frigaut is now a reviewer

[2020-10-20 15:32] pibion commented on #2686
Woohoo!  We're ready to start the review!

[2020-10-20 15:32] pibion commented on #2686
@whedon start review

[2020-10-20 15:32] whedon opened #2764 "[REVIEW]: AOSAT: Adaptive Optics Simulation Analysis Tool(kit)"
**Submitting author:** @mfeldt (<a href="http://orcid.org/0000-0002-4188-5242">Markus Feldt</a>)
**Repository:** https://github.com/mfeldt/AOSAT
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @pibion
**Reviewers:** @mvandam, @frigaut, @andrewpaulreeves
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2020-10-20 15:32] whedon commented on #2686
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2764.

[2020-10-20 15:32] #2686 closed

[2020-10-20 15:32] whedon commented on #2764
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mvandam, @frigaut it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-10-20 15:34] whedon commented on #2764
[code]

[2020-10-20 15:35] pibion commented on #2764
@mvandam , @frigaut, could you both make sure you've got the ability to check and uncheck your checkboxes?

You'll need to accept the invitation to this issue and also be logged in to do so.

[2020-10-20 15:35] whedon commented on #2764
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02764/joss.02764/10.21105.joss.02764.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02764/joss.02764/10.21105.joss.02764.pdf) :page_facing_up: :point_left:

[2020-10-20 15:36] pibion commented on #2693
@aquilesC many thanks!

[2020-10-20 15:37] pibion commented on #2693
@caldarolamartin , @mwcraig, do you have an ETA on when you might be able to spend time on your reviews?

[2020-10-20 15:41] pibion commented on #2694
@sigven , @jspaezp , will you have time in the next few weeks to work on this review?  If you know when you'll have time I can set a reminder with whedon.

[2020-10-20 15:48] artgoldberg commented on #2685
@carothersc another approach that would not risk your Python computing environment would be to run DE Sim's tests in a Docker image, as I describe in [this comment](https://github.com/KarrLab/de_sim/issues/55#issuecomment-700329431).

[2020-10-20 15:54] bradyrx commented on #2759
Hi Jed! Bummer I didn't meet you during my time here -- glad to see a fellow Buff here. Kelly is a good friend of mine, although we haven't collaborated directly. I crossed her name out above to avoid CU Boulder bias. Thanks!

[2020-10-20 16:02] assignUser commented on #2763
@brunaw
Latex: Ah I see. As the symbols are rendered correctly on the pkgdown page and any workarounds for github might interfere with that I think we will keep it as is (sadly, I would like it to be rendered too, maybe github will add it at some point).

Arguments: I feel that with all of the vignettes and targeted documentation we have this covered as a specific example for `normal` would not co

[2020-10-20 16:16] assignUser commented on #2763
@whedon generate pdf

[2020-10-20 16:16] whedon commented on #2763
PDF failed to compile for issue #2763 with the following error:

 Can't find any papers to compile :-(

[2020-10-20 16:17] assignUser commented on #2763
@whedon generate pdf from branch joss-submission

[2020-10-20 16:17] whedon commented on #2763
[code]

[2020-10-20 16:17] whedon commented on #2763
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: :point_left:

[2020-10-20 16:27] kyleniemeyer commented on #2663
Hi @Nico-Curti, I'm the EIC on duty this week, and doing some final checks before publishing your article. Can you fix a few small things?

- [ ] The paper is missing a Statement of Need section, which is a required element (as per [our docs](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)); not sure how this didn't come up before, since whedon looks for this at

[2020-10-20 16:33] steven-murray commented on #2582
Thanks for spotting that @dfm. It's updated in master now.

[2020-10-20 16:34] kgoldfeld commented on #2763
@brunaw
I was able to fix the LaTex issue without affecting the pkgdown site. Thanks for that suggestion - it looks much better - it always bothered me.

As for the grammar of the vignettes - were there any that were particularly egregious? I will certainly go through all of them - as you see there are quite a few - but it would help if you found that particular ones need special attention.

[2020-10-20 16:38] terrytangyuan commented on #2704
Thanks everyone!

[2020-10-20 16:38] terrytangyuan commented on #2704
@whedon check references

[2020-10-20 16:43] whedon commented on #2704
[code]

[2020-10-20 16:43] kyleniemeyer commented on #2759
@danielskatz I think you meant openjournals/joss-eics... 😄

@dhhagan could you instead edit this submission? Thanks!

[2020-10-20 16:44] kyleniemeyer commented on #2759
@whedon invite @dhhagan as editor

[2020-10-20 16:44] whedon commented on #2759
@dhhagan has been invited to edit this submission.

[2020-10-20 16:52] dhhagan commented on #2759
@kyleniemeyer Yup.

[2020-10-20 16:52] dhhagan commented on #2759
@whedon assign @dhhagan as editor

[2020-10-20 16:52] whedon commented on #2759
OK, the editor is @dhhagan

[2020-10-20 17:00] Nico-Curti commented on #2663
Hi @kyleniemeyer,
We have just uploaded a reviewed version of the paper following your suggestions.
Please let me know if there are other issues.

[2020-10-20 17:31] kyleniemeyer commented on #2663
@whedon generate pdf

[2020-10-20 17:32] whedon commented on #2663
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02663/joss.02663/10.21105.joss.02663.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02663/joss.02663/10.21105.joss.02663.pdf) :page_facing_up: :point_left:

[2020-10-20 17:34] kyleniemeyer commented on #2663
@Nico-Curti  Looks good, thanks!

[2020-10-20 17:34] kyleniemeyer commented on #2663
@whedon accept

[2020-10-20 17:34] whedon commented on #2663
[code]

[2020-10-20 17:35] whedon commented on #2663
[code]

[2020-10-20 17:35] whedon commented on #2663
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1832

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1832, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-20 17:39] kyleniemeyer commented on #2663
@whedon accept deposit=true

[2020-10-20 17:39] whedon commented on #2663
[code]

[2020-10-20 17:41] whedon commented on #2663
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1318608238808616969) 👈 🐦🐦🐦

[2020-10-20 17:41] whedon commented on #2663
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1833
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02663](https://doi.org/10.21105/joss.02663)
2. If everything looks g

[2020-10-20 17:45] kyleniemeyer commented on #2663
Congrats @Nico-Curti on your article's publication in JOSS!

Many thanks to @justusschock and @DanielLenz for reviewing this, and @arokem for editing it.

[2020-10-20 17:45] #2663 closed

[2020-10-20 17:45] whedon commented on #2663
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02663/status.svg)](https://doi.org/10.21105/joss.02663)

**We need your help!**

Journal of Open Source Softwa

[2020-10-20 18:31] syasini commented on #2608
Thanks for your feedback @AshKelly! I sincerely appreciate your kind comment regarding the API. I'm glad you liked it and found it easy to use.
We're grateful for your all help and really appreciate the time you took to review our work.

[2020-10-20 19:04] r03ert0 commented on #2670
hello! quick update. We've pushed several commits to address the issues left by @sneakers-the-rat and @pauldmccarthy. There's in particular a python script (`reorient.py`) which can take the original MRI file, plus the affine matrix and the selection box produced by the Web app, and reproduce the result of "Save Nifti" from the interface (so that there's no need for the Web app for just re-running

[2020-10-20 19:54] srmnitc commented on #2362
@gkthiruvathukal I have finished my first round of review and opened some issues in the repository. At the moment, it is not possible for me to check many of the boxes, but that should be possible once the issues are cleared. Overall, it seems like a well-written and useful module.

However, I have to raise some concerns regarding the scholarly effort. The module itself is fairly small, with about

[2020-10-20 20:14] nwu63 commented on #2564
@poulson I have just made a new release which also merged the contents of the paper. The zenodo archive is also there now with the correct author list, the DOI is `10.5281/zenodo.4110792`.

[2020-10-20 20:15] nwu63 commented on #2564
@whedon generate pdf

[2020-10-20 20:15] whedon commented on #2564
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02564/joss.02564/10.21105.joss.02564.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02564/joss.02564/10.21105.joss.02564.pdf) :page_facing_up: :point_left:

[2020-10-20 20:18] kgoldfeld commented on #2763
@brunaw
I was able to go through the vignettes - there were some really bad typos throughout. Thanks so much for taking the time to catch all that. I have added seeds as well throughout where there were none. Thanks again.

[2020-10-20 21:08] mbobra commented on #2629
@amanchokshi

Ah, this is awesome! 🚀 Yes I do think having one or two simple notebooks, exactly like the code block above, will really help folks get started.

I checked off the functionality box above; after the notebooks, I'll check off the examples. Then all we have to do is sort out the references and we're done!

[2020-10-20 21:15] dfm commented on #2582
@whedon check references

[2020-10-20 21:15] whedon commented on #2582
[code]

[2020-10-20 21:16] dfm commented on #2582
@whedon generate pdf

[2020-10-20 21:16] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-10-20 21:17] dfm commented on #2582
@whedon accept

[2020-10-20 21:17] whedon commented on #2582
[code]

[2020-10-20 21:17] whedon commented on #2582
[code]

[2020-10-20 21:18] whedon commented on #2582
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1834

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1834, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-20 22:10] ablaom commented on #2704
Will do.

If there is no objection, I will also update the markdown to match the [shortened version](https://github.com/ablaom/MLJDesignPaper/blob/master/arXiv2/blaom.pdf) discussed above.

[2020-10-20 22:43] matthewfeickert commented on #2734
We just released [`v0.5.3`](https://github.com/scikit-hep/pyhf/releases/tag/v0.5.3) so I rebased the paper branch and corrected the Zenodo version number.

@whedon generate pdf from branch docs/add-JOSS-paper

[2020-10-20 22:45] matthewfeickert commented on #2734
@whedon generate pdf from branch docs/add-JOSS-paper

[2020-10-20 22:45] whedon commented on #2734
[code]

[2020-10-20 22:45] whedon commented on #2734
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02734/joss.02734/10.21105.joss.02734.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02734/joss.02734/10.21105.joss.02734.pdf) :page_facing_up: :point_left:

[2020-10-20 23:24] alexssandrofc commented on #2605
@whedon generate pdf

[2020-10-20 23:25] mvandam commented on #2764
I have read the documentation, but I am still at a loss as to how I actually submit a written review (other than checking the boxes). Am I supposed to write the review as text here?

[2020-10-20 23:29] whedon commented on #2605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02605/joss.02605/10.21105.joss.02605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02605/joss.02605/10.21105.joss.02605.pdf) :page_facing_up: :point_left:

[2020-10-21 00:05] gonsie commented on #2685
I have completed my review and I approve this paper for acceptance.

I do think there is room for improvement with the model examples given. They are given as complete models, with no description of the process for creating a model. There are a lot of python features that model developers can take advantage of, but it may be hard to discover these without direct support from the de_sim team. Other

[2020-10-21 00:10] gagolews commented on #2763
The package may be useful to some researchers and students,
in cases where generation of data following some typical models
is required.
Overall, it is quite well written and well documented.
The package's API can be considered user friendly.
Yet, of course, more exotic scenarios will require its users to
implement the missing functionality by hand anyway (and learn how
to implement the models inc

[2020-10-21 00:13] hvgazula commented on #2166
https://github.com/trendscenter/coinstac/releases/tag/v5.1.3

5.1.3 https://github.com/trendscenter/coinstac/releases/tag/v5.1.3

Done

Done

10.5281/zenodo.4111006

[2020-10-21 00:13] gagolews commented on #2763
@brunaw re: simulating correlated data - see https://en.wikipedia.org/wiki/Copula_(probability_theory) and https://cran.r-project.org/web/packages/copula/index.html

[2020-10-21 00:14] hvgazula commented on #2166
@cMadan I finished all the steps you've asked for. Please let me know if there's anything else I can do. Thank you very much.

[2020-10-21 00:47] alexssandrofc commented on #2605
First sorry for the delay in review,

Study with a very interesting topic, as it provides software to help in decision making on an easily accessible platform "WEB", so I would like to leave some contributions.

Below I leave some suggestions regarding the latex document:

-Topic "Statement Of Need", the point is missing at the end of the second paragraph, is there a continuation?

-PWC matrix in

[2020-10-21 01:28] kgoldfeld commented on #2763
@gagolews Thanks for your feedback - will make the editing changes. I agree with you regarding 1e - we may make that change in a future iteration, though there are some "formulas" where there is no standard R formulation. The following (clearly nonsensical) snippet shows three distributions where the standard formulas don't really apply:

[code]

With respect to 2a, I agree that copulas are useful

[2020-10-21 01:32] amanchokshi commented on #2629
@mbobra Thanks Monica! I'll let you know when I've completed the notebooks. It may take a couple of days.

[2020-10-21 01:39] gagolews commented on #2763
Yeah, but this way you end up inventing a totally new syntax, like a "language within a language", making the API more difficult to learn (and these skills are "not transferable" to other package, as I understand the package aims at less advanced users?)

Actually `x|0.5 + y|0.5` is a valid R expression although it means `x|(0.5+y)|0.5` and some users might read it exactly like this?
How about sim

[2020-10-21 01:49] kgoldfeld commented on #2763
I agree - and it was definitely something I struggled with.  There are some things I wish I had done differently, like naming `formula` and `variance` rather than something like `param1` and `param2`. We may move to that at some point, and could think about the specification as well.

As for who is using it, I think it is a mix of experienced and less experienced folks. I think the experienced fol

[2020-10-21 01:51] kgoldfeld commented on #2763
I made all the editing changes to the  vignette - my collaborator will fix the paper issues tomorrow at some point.

[2020-10-21 02:12] majensen commented on #2643
@AngryMaciek I think things look quite good. Can you now create your archive, making sure that the archive title and authors are the same as those on the paper? Once that's done, please provide the archive DOI in this thread. Then I will attempt the spell summoning the editors-in-chief. thanks!

[2020-10-21 02:16] majensen commented on #2558
@egonw - how are things? Just checking in.

[2020-10-21 02:16] majensen commented on #1942
@benjaminbolling any progress to report? thanks

[2020-10-21 02:43] alexssandrofc commented on #2605
About the technologies used, only the alert when using PHP 5.6 is left, which is out of date and no longer receives official protection updates since January of 2019, making the site vulnerable to cyber attacks.

If possible, I recommend replacing the LAPACK library with another library that meets the needs of AHP, with compatibility with new versions of PHP.

[2020-10-21 02:52] alexssandrofc commented on #2605
About the usability of the software:

-In the installation, "decision-making-system.conf" does not exist!
-When creating a user logged in as Administrator, the user created does not log in, however when creating a user from the login screen -> register, the registration of the new user occurs correctly.
-Recurring error when creating a survey, press the submit button and nothing happens without an

[2020-10-21 03:28] poulson commented on #2564
@whedon set 10.5281/zenodo.4110792 as archive

[2020-10-21 03:28] whedon commented on #2564
OK. <a href="https://doi.org/10.5281/zenodo.4110792" target="_blank">10.5281/zenodo.4110792</a> is the archive.

[2020-10-21 03:29] poulson commented on #2564
@whedon set v2.2.1 as version

[2020-10-21 03:29] whedon commented on #2564
OK. v2.2.1 is the version.

[2020-10-21 03:30] poulson commented on #2564
@whedon accept

[2020-10-21 03:30] whedon commented on #2564
[code]

[2020-10-21 03:30] whedon commented on #2564
[code]

[2020-10-21 03:30] whedon commented on #2564
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1835

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1835, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-21 04:59] adithirgis commented on #2630
I think this is summarised well.
I had a small suggestion if everyone else agrees (and also if I am not wrong :)) -

In the Statement of need: "Compared to other free similar software, StatAid has been designed to quickly produce publication-ready graph and table by ~really~ guiding the user through their data analysis and providing multiple graph customization options. By limiting the number of c

[2020-10-21 06:50] ShubhadeepSadhukhan1993 commented on #2185
Hello @jedbrown,  We have implemented your suggestions to the best of our ability. We are waiting for further course of action. Any further suggestions from you will be welcome. Thanking you.

[2020-10-21 07:19] karthik commented on #2379
@MAnalytics Can you please add these files

[code]

to your `..Rbuildignore`

Please fix devtools installation instructions in your vignette. Currently it is:
[code]
(remove `packages`).

[2020-10-21 07:19] karthik commented on #2379
@whedon check references

[2020-10-21 07:20] whedon commented on #2379
[code]

[2020-10-21 07:23] karthik commented on #2379
Please also cite R in the text "A full demonstration is provided in the package vignette of how to deploy `Akmedoids` to examine long-term relative exposure to crime in `R`"

R citation: https://cran.r-project.org/doc/FAQ/R-FAQ.html#Citing-R

[2020-10-21 07:27] karthik commented on #2379
@MAnalytics Once these minor issues are fixed and @njtierney signs off, I'm good to finish up the final steps.

[2020-10-21 08:18] xillig commented on #2507
Hi @linuxscout,
thanks for your message. We agree that no further (third) review is necessary and your valueable work as a reviewer is more important for the numerous other submissions to JOSS!

Thus if @trallard agrees we would proceed with the publication process.

[2020-10-21 08:20] caldarolamartin commented on #2693
Hi @hemanthpruthvi! I have gone through the revised manuscript and code and I agree with Aquiles, it is improved and ready for publication.

I have marked all my checkboxes, @pibion, I also think paper is ready to be published.

[2020-10-21 09:05] VivianePons commented on #2741
@whedon re-invite @williamfgc as reviewer

[2020-10-21 09:05] VivianePons commented on #2741
That should fix the issue

[2020-10-21 09:05] whedon commented on #2741
OK, the reviewer has been re-invited.

@williamfgc please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-21 09:28] VivianePons commented on #2463
I have just sent 2 new review invites using your initial list of potential reviewers. We'll see how it goes.

@daviddewhurst and @felixcremer I would still be happy to get your reviews!

[2020-10-21 09:35] VivianePons commented on #2515
I have had no news of @wingtorres for more than a month, so I'll ask a new reviewer

[2020-10-21 09:37] trallard commented on #2507
Hey all thanks for your patience and your time doing the reviews. I am going to move forward with the next steps.

@xillig can you please make sure that the software version is up to date and confirm it here?

[2020-10-21 09:37] richardjgowers commented on #2709
@lscalfi would you be available to review this?

[2020-10-21 09:38] richardjgowers commented on #2709
@symmy596 yeah you can edit the paper (& code) freely until it's published

[2020-10-21 09:39] trallard commented on #2507
@whedon set 10.5281/zenodo.4108270 as archive

[2020-10-21 09:39] whedon commented on #2507
OK. <a href="https://doi.org/10.5281/zenodo.4108270" target="_blank">10.5281/zenodo.4108270</a> is the archive.

[2020-10-21 09:39] trallard commented on #2507
@whedon generate pdf

[2020-10-21 09:39] trallard commented on #2507
@whedon check references

[2020-10-21 09:40] whedon commented on #2507
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: :point_left:

[2020-10-21 09:40] whedon commented on #2507
[code]

[2020-10-21 09:41] richardjgowers commented on #2576
@valeriewelborn ok all good to go, one last final step from your part:

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This include

[2020-10-21 09:55] assignUser commented on #2763
@whedon generate pdf from branch joss-submission

[2020-10-21 09:55] whedon commented on #2763
[code]

[2020-10-21 09:56] whedon commented on #2763
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02763/joss.02763/10.21105.joss.02763.pdf) :page_facing_up: :point_left:

[2020-10-21 09:57] trallard commented on #2507
@xillig  there seem to be some DOIs missing, would you be able to check these, please?

Also, I sent a PR with some edits <https://github.com/xillig/TTLocVis/pull/3>

[2020-10-21 10:11] assignUser commented on #2763
@gagolews Thank you for your review, positive recommendation  and valuable insights. I have opened an issue regarding 1.e kgoldfeld/simstudy/issues/75 to keep track of it when we are considering breaking changes.

I have made the changes to the paper and readme.

[2020-10-21 10:12] pdebuyl commented on #2653
@coatless @agisga I see that progress has been made in the checklists. Could you finish the review? We have reached 6 weeks since starting the review.

[2020-10-21 11:24] VivianePons commented on #2515
@whedon invite @dalcinl as reviewer

[2020-10-21 11:24] whedon commented on #2515
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-21 11:24] VivianePons commented on #2515
@whedon add @dalcinl as reviewer

[2020-10-21 11:25] whedon commented on #2515
OK, @dalcinl is now a reviewer

[2020-10-21 11:25] brunaw commented on #2763
@assignUser and @kgoldfeld  Thank you for your answers. The package correctly installs from GitHub now, and as for the grammar, I didn't mean anything specific but a few typos here and there that could be fixed (which you already did). In these cases, I always use Grammarly because I'm sure I'll miss something.  My other issue was mostly regarding this line of code

[code]

where you're simulating

[2020-10-21 11:25] MAnalytics commented on #2379
@karthik @njtierney Thanks.
I have now addressed these highlighted issues.
MA.

[2020-10-21 11:41] AngryMaciek commented on #2643
@majensen

We have merged branch `paper` to `master` and removed the former.
We have submitted the code to zenodo: https://doi.org/10.5281/zenodo.4114143

Good luck with the spellcasting!
(∩｀-´)⊃━☆ﾟ.*･｡ﾟ

[2020-10-21 11:47] assignUser commented on #2763
@brunaw Thanks again :) If you are satisfied with the new "Contributing & Support"  section of the readme pointing to CONTRIBUTING.md could you check your last box? :)

[2020-10-21 11:53] usethedata commented on #2483
@crangelsmith Just checking -- what is the timeline for your updates?  I see that you've merged the issue that's related to @arbennett comments, but it looks like the paper hasn't been updated.  No worries, just asking about the timeline.

[2020-10-21 12:20] zingale commented on #2513
awesome.  Thanks.  I merged that.

[2020-10-21 12:24] majensen commented on #2643
@whedon set 10.5281/zenodo.4114143 as archive

[2020-10-21 12:24] whedon commented on #2643
OK. <a href="https://doi.org/10.5281/zenodo.4114143" target="_blank">10.5281/zenodo.4114143</a> is the archive.

[2020-10-21 12:24] majensen commented on #2643
@whedon set 1.0.0 as version

[2020-10-21 12:24] whedon commented on #2643
OK. 1.0.0 is the version.

[2020-10-21 12:25] majensen commented on #2643
@whedon accept

[2020-10-21 12:25] whedon commented on #2643
[code]

[2020-10-21 12:25] whedon commented on #2643
[code]

[2020-10-21 12:26] whedon commented on #2643
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1836

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1836, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-21 12:58] tylunel commented on #2637
@kbarnhart Sorry for that, I forgot to check the encoding in UTF-8 after the last changes in paper.md.
It should be okay now!

[2020-10-21 13:02] brunaw commented on #2763
@assignUser Done!

[2020-10-21 13:19] assignUser commented on #2763
@whedon commands

[2020-10-21 13:19] whedon commented on #2763
Here are some things you can ask me to do:

[code]

[2020-10-21 13:35] assignUser commented on #2763
@mikldk Everything should be in order or do we need to do something else to proceed?

[2020-10-21 13:38] kgoldfeld commented on #2763
@assignUser @brunaw I just updated the correlation vignette to include the two links that Bruna recommended.

Thanks again for all the comments and suggestions.

[2020-10-21 13:49] miriammenzel commented on #2675
@alexrockhill: Thank you very much for your comments and sharing your thoughts. The purpose of SLIX is indeed to process the raw data from Scattered Light Imaging (SLI) and generate human-readable parameter maps. In some way, our software fulfills a similar purpose as software that transforms RF signals measured in an MR scanner to human-readable MRI images. As SLI is a completely new technique, S

[2020-10-21 13:50] dhhagan commented on #2759
👋  @darothen @eviatarbach @sarats @neerajdhanraj: would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow [these](https://joss.readthedocs.io/en/latest/review_criteria.html) guidelines.

[2020-10-21 14:02] crangelsmith commented on #2483
Hi @usethedata, sorry for the slow updates.  Currently we are in a transition moment for this project, the RSE funded time  has finished (that is me, @nbarlowATI and @samvanstroud) and we have handed over the finalisation of the project to the researchers in Exeter (@jbuxt, @caboulton and @jabrams23). We will all keep working on getting this paper published but at different capacities.

I think th

[2020-10-21 14:15] xillig commented on #2507
@whedon set 10.5281/zenodo.4108270 as archive

[2020-10-21 14:15] whedon commented on #2507
I'm sorry @xillig, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-10-21 14:29] Thyre commented on #2675
Thank you for suggesting that SLIX could also be available under PyPI for a single-line installation process. I have not really thought about it yet. While it took some time to implement all necessary steps to automate this process in the future, SLIX should be available [here](https://pypi.org/project/SLIX/) now. I tested the installation on two different machines, an empty Anaconda environment a

[2020-10-21 14:36] xillig commented on #2507
Dear @trallard,
Thank you for all your efforts. We included the DOIs of the references and fixed authorship issue in zenodo by making a new release. We also merged your changes into master. We can also confirm that the software version is up to date: The version number is 1.0.4, with the same DOI as before: https://zenodo.org/badge/latestdoi/258153686

Thanks to everyone for their contributions.

[2020-10-21 14:38] neerajdhanraj commented on #2759
Yeah, I would like to review this submission.

[2020-10-21 14:45] dhhagan commented on #2759
@whedon add @neerajdhanraj as reviewer

[2020-10-21 14:45] whedon commented on #2759
OK, @neerajdhanraj is now a reviewer

[2020-10-21 15:33] artgoldberg commented on #2685
Thanks @gonsie . Can DE-Sim [issue #55](https://github.com/KarrLab/de_sim/issues/55) be closed?

Arthur

[2020-10-21 15:36] kyleniemeyer commented on #2582
Hi @steven-murray, I am the EIC on duty this week, doing some final checks before publishing.

I noticed that in the paper, journal names are not appearing for your references. Can you replace all the macros in your .bib file (e.g., `\apj`) with the spelled-out journal names?

[2020-10-21 16:11] usethedata commented on #2625
@whedon add @richardjgowers as reviewer

[2020-10-21 16:12] whedon commented on #2625
OK, @richardjgowers is now a reviewer

[2020-10-21 16:29] karthik commented on #2379
@whedon check references

[2020-10-21 16:29] whedon commented on #2379
[code]

[2020-10-21 16:44] apdavison commented on #2673
My apologies for the delay, I'll try to finish the review this week.

[2020-10-21 17:32] oliviaguest commented on #2670
@r03ert0 excellent — sounds like you have your work cut out. ✨

[2020-10-21 17:36] oliviaguest commented on #2675
@whedon set v1.2.1 as version

[2020-10-21 17:36] whedon commented on #2675
OK. v1.2.1 is the version.

[2020-10-21 17:36] oliviaguest commented on #2675
@Thyre absolutely! 😊  And done!

[2020-10-21 18:01] Hazboun6 commented on #2757
@mbobra One point that @JBorrow made in [Issue 160](https://github.com/PsrSigSim/PsrSigSim/issues/160) was about a reference to the AAS paper to which this work is linked. Is there a JOSS standard for how you'd like us to refer to that paper? I'm imagining it will probably take longer to appear/publish. Would you like it as `.bib` entry. Currently it is written as `[Shapiro-Albert,2020`, but I jus

[2020-10-21 18:46] valeriewelborn commented on #2576
Thank you @richardjgowers. The version tag is v1.0 and the DOI of the archived version is 10.5281/zenodo.4116258

[2020-10-21 18:49] eloisabentivegna commented on #2513
@whedon check references from branch development

[2020-10-21 18:49] whedon commented on #2513
[code]

[2020-10-21 18:49] whedon commented on #2513
[code]

[2020-10-21 19:06] eloisabentivegna commented on #2513
@whedon generate pdf from branch development

[2020-10-21 19:06] whedon commented on #2513
[code]

[2020-10-21 19:06] whedon commented on #2513
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: :point_left:

[2020-10-21 19:08] diehlpk commented on #2514
@whedon generate pdf

[2020-10-21 19:08] whedon commented on #2514
PDF failed to compile for issue #2514 with the following error:

 Error reading bibliography ./paper.bib (line 80, column 9):
unexpected "T"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-10-21 19:38] rly commented on #2675
I am reviewing the most recent version of the SLIX GitHub repo, which seems to include quite a few improvements since the last review: the addition of an example jupyter notebook, edits to the readme and paper, bug fixes, improved documentation, and release on PyPI.

Installation of SLIX was easy, both using PyPI and installing from source. Thank you for adding the option to install via pip. The s

[2020-10-21 19:40] arfon commented on #2735
No idea at all sorry. I've been debugging this for the last hour and can't get it to work (I'm currently trying to figure out if this has _ever_ worked 😕). For now, I suggest simply cross-linking manually by just writing out the figure name in the text (e.g. _Figure 1_ shows...).

[2020-10-21 19:49] arfon commented on #2735
Actually, turns out this is a whitespace issue. If you give your figures some whitespace, e.g., change L65 onward to look like this:

[code]

you should find it works.

[2020-10-21 19:52] danielskatz commented on #2685
Thanks @gonsie - I'm a little confused, since you both say "I approve this paper for acceptance" and you have checked all the review boxes, but you also have opened issues. Does this mean that these issues are optional to you: suggestions but not requirements?

[2020-10-21 19:52] diehlpk commented on #2514
@ketch Could you please check why the paper does not compile?

[2020-10-21 19:53] danielskatz commented on #2282
@jcolomb - any update on this issue ⬆️ ?

[2020-10-21 19:56] danielskatz commented on #2646
👋 @skadio, @prw99r, @r-a-hoggarth - Can I again check in with you to see how things are going?  I see a bunch of boxes checked, but some not checked.  For each of you, are the unchecked boxes thing that you just haven't been able to check on yet, or are they items where there is work needed by the submitter, or discussion needed?  If so, please say what these blocking issues are.

Otherwise, can y

[2020-10-21 19:57] romainsacchi commented on #2735
Yes, I can do that.

[2020-10-21 19:59] coatless commented on #2653
I'm a huge fan of the package. Long ago I stepped foot into copula estimation with _R_ and was disappointed by the tools available. `cort` fills portions of that void. Examples with the package are easily accessible outside of _R_ thanks to a `pkgdown` website. Having said this, I do have a few comments and suggestions around the package. I've listed them below.

### README

#### Installation

Ple

[2020-10-21 20:00] romainsacchi commented on #2735
@sjpfenninger yes, I can do that.

[2020-10-21 20:02] gonsie commented on #2685
@danielskatz yes. The issues are optional. They are small issues that need not be fixed for my acceptance.

[2020-10-21 20:03] pdebuyl commented on #2653
Thank you for the review @coatless !

[2020-10-21 20:03] Kevin-Mattheus-Moerman commented on #2705
Thanks for your help @ethanwharris !

[2020-10-21 20:04] Kevin-Mattheus-Moerman commented on #2705
@lbrea, @zhangfanmark thanks again for agreeing to review this work. Can you let me know if you have started and when you expect to complete this review? Let me know if you have questions.

[2020-10-21 20:04] Thyre commented on #2675
Thanks so much for your comment.
Both programs in `/bin` are actually Python files itself. You should be able to view the source code in the repository without any problems. I also agree that we should add a note that the program cannot be executed on Windows for now. This is unfortunately caused by `pymp-pypi` and will be fixed soon when the implementation of the GPU variant is finished. Until th

[2020-10-21 20:22] steven-murray commented on #2582
Thanks @kyleniemeyer . This is done now and in master.

[2020-10-21 20:25] Thyre commented on #2675
@whedon generate pdf

[2020-10-21 20:25] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-10-21 20:30] kbarnhart commented on #2637
@whedon generate pdf

[2020-10-21 20:31] whedon commented on #2637
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02637/joss.02637/10.21105.joss.02637.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02637/joss.02637/10.21105.joss.02637.pdf) :page_facing_up: :point_left:

[2020-10-21 20:36] Thyre commented on #2675
@whedon generate pdf

[2020-10-21 20:37] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-10-21 20:44] ablaom commented on #2704
@whedon generate pdf

[2020-10-21 20:45] whedon commented on #2704
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: :point_left:

[2020-10-21 20:49] gassmoeller commented on #2585
I also looked through the changes and the new version of the paper and my comments have been addressed. This is ready for publication from my point of view. :+1:

[2020-10-21 20:50] terrytangyuan commented on #2704
@whedon check references

[2020-10-21 20:50] whedon commented on #2704
[code]

[2020-10-21 20:51] diehlpk commented on #2514
Hi @emconsta @debdeepbh @gardner48  thanks for your review.

[2020-10-21 20:51] ablaom commented on #2704
@terrytangyuan I have:

- removed the plethora of redundant bib entries in paper.bib
- added doi entries where these exist
- updated the markdown paper.md to the shorter version

Note that url hypertext links do not appear in the bibliography. We have replaced the `url=...` entries in paper.bib with `adsurl=...` entries because that is what we see in the JOSS template (but I have no idea what "ads

[2020-10-21 20:51] elbeejay commented on #2585
Thanks again @dbuscombe-usgs and @gassmoeller for taking the time to review this!

[2020-10-21 20:53] kbarnhart commented on #2585
@elbeejay FYI the next step is that I do a final copyedit of the paper and let you know if there are any necessary changes. Then we move to the final stage of the JOSS process.

[2020-10-21 20:53] kbarnhart commented on #2585
@whedon check references

[2020-10-21 20:54] kbarnhart commented on #2585
@whedon generate pdf

[2020-10-21 20:54] whedon commented on #2585
[code]

[2020-10-21 20:54] whedon commented on #2585
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02585/joss.02585/10.21105.joss.02585.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02585/joss.02585/10.21105.joss.02585.pdf) :page_facing_up: :point_left:

[2020-10-21 20:58] neerajdhanraj commented on #2759
Can someone please tell me where to provide the comments on the manuscript?

[2020-10-21 21:03] dhhagan commented on #2759
Hi @neerajdhanraj After I identify another reviewer, I will officially start the review which will take place in a new issue on GitHub. There will be checkboxes you can check off as the review progresses and you will comment either directly in that issue or on the software's original repository. An example of what that process looks like can be found [here](https://github.com/openjournals/joss-rev

[2020-10-21 21:07] neerajdhanraj commented on #2759
Great, I got your point.

On Wed, Oct 21, 2020 at 11:03 PM David H Hagan <notifications@github.com>
wrote:

[2020-10-21 21:09] miriammenzel commented on #2675
@rly: Thank you very much for your comments and your positive feedback.
I’ve added a note in [README.md](https://github.com/3d-pli/SLIX/blob/master/README.md#installation-of-slix) that SLIX can currently only be executed under macOS and Linux.
I’ve also corrected the typos in the Jupyter notebook. (Thank you for the careful reading!).
In the [paper](https://github.com/3d-pli/SLIX/blob/master/paper

[2020-10-21 21:31] terrytangyuan commented on #2704
I don't have much knowledge in the JOSS template. cc'ing @openjournals/joss-eics to help answer the question above on `adsurl`.

[2020-10-21 21:50] eloisabentivegna commented on #2513
The proof looks fine now. I will issue the accept command next. Congratulations to the authors, and many heartfelt thanks to @kegiljarhus, @bonh, and @joshia5 for the careful reviews! 🎉

[2020-10-21 21:51] eloisabentivegna commented on #2513
@whedon accept

[2020-10-21 21:51] whedon commented on #2513
[code]

[2020-10-21 21:51] whedon commented on #2513
[code]

[2020-10-21 21:52] whedon commented on #2513
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1837

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1837, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-21 22:21] agisga commented on #2653
I'm deeply sorry for the delay in the review (the timing turned out to be very far from ideal for me unfortunately). Thank you for the patience.

I think that `cort` is quality software and a substantial scholarly effort, and I would suggest acceptance subject to minor revisions correcting the issues outlined in this thread.
Some of the issues that I came across were already mentioned by @coatless

[2020-10-21 22:30] galessiorob commented on #2697
Thanks for adding those @fduchatea!

Could you please make sure that your repo [covers the submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

- Be stored in a repository that can be cloned without registration ✅
- Be stored in a repository that is browsable online without registration ✅
- Have an issue tracker that is readable without registra

[2020-10-21 22:39] galessiorob commented on #2697
@whedon assign @martinfleis as reviewer

[2020-10-21 22:39] whedon commented on #2697
OK, @martinfleis is now a reviewer

[2020-10-21 22:48] pibion commented on #2764
@mvandam writing their review as text here is what most people do.  Another option is to open an issue (or issues) on the code repository and then put some text here like, "I've left my comments in issue XYZ."

[2020-10-21 22:49] pibion commented on #2693
@caldarolamartin thanks for looking through the revised submission!

[2020-10-21 22:50] pibion commented on #2484
@dghoshal-lbl just wanted to check in on the status of this. No pressure!

[2020-10-22 04:16] abhishektha commented on #2562
@whedon generate pdf

[2020-10-22 04:17] whedon commented on #2562
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02562/joss.02562/10.21105.joss.02562.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02562/joss.02562/10.21105.joss.02562.pdf) :page_facing_up: :point_left:

[2020-10-22 04:34] abhishektha commented on #2562
@trallard I can recommend biorbd for publication in JOSS. It is a very useful alternative to established programs like OpenSim for biomechanics analysis. biorbd easily calculates both forward and inverse kinematics and dynamics from given inputs using well-optimized C++ code. MATLAB and Python libraries allow for easy analysis in biorbd.

[2020-10-22 04:48] ketch commented on #2514
Sorry about that.  I've fixed it and checked that it compiles now.

[2020-10-22 06:31] nuest commented on #2697
@galessiorob Thanks for the ping via email - I'm happy to review this submission, though I can already second the concerns to clarify the research application (the first sentence makes it sound like individual citizens might want to use the tool).

Thank you for the opportunity to contribute to JOSS!

[2020-10-22 06:36] nuest commented on #2409
@lydialucchesi Thanks! Will take look early next week. Could you be so kind and provide a comparison link between the version first submitted and the updated one? Thanks!

@bstabler What's your take on the version number?

I'd suggest to stick with semantic versioning and not make it a major change if there were not breaking changes.

[2020-10-22 06:36] nuest commented on #2409
@whedon generate pdf

[2020-10-22 06:37] whedon commented on #2409
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02409/joss.02409/10.21105.joss.02409.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02409/joss.02409/10.21105.joss.02409.pdf) :page_facing_up: :point_left:

[2020-10-22 06:40] GustaveCoste commented on #2735
@arfon Thank you it fixed the problem.

[2020-10-22 07:11] sjpfenninger commented on #2735
@whedon add @romainsacchi as reviewer

[2020-10-22 07:11] whedon commented on #2735
OK, @romainsacchi is now a reviewer

[2020-10-22 07:11] sjpfenninger commented on #2735
Thanks @romainsacchi !

[2020-10-22 07:13] sjpfenninger commented on #2735
@whedon start review

[2020-10-22 07:13] whedon opened #2765 "[REVIEW]: ELDAM: A Python software for Life Cycle Inventory data management"
**Submitting author:** @GustaveCoste (<a href="http://orcid.org/0000-0001-5867-0507">Gustave Coste</a>)
**Repository:** <a href="https://framagit.org/GustaveCoste/eldam" target ="_blank">https://framagit.org/GustaveCoste/eldam</a>
**Version:** v1.0
**Editor:** @sjpfenninger
**Reviewer:** @konstantinstadler, @romainsacchi
**Archive:** <a href="https://doi.org/10.15454/6EKXJQ" target="_blank">10.154

[2020-10-22 07:13] whedon commented on #2735
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2765.

[2020-10-22 07:13] #2735 closed

[2020-10-22 07:13] whedon commented on #2765
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @konstantinstadler, @romainsacchi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2020-10-22 07:13] whedon commented on #2765
PDF failed to compile for issue #2765 with the following error:

 Can't find any papers to compile :-(

[2020-10-22 07:13] sjpfenninger commented on #2735
@konstantinstadler , @romainsacchi  thanks for agreeing to review. Let's head over to #2765 for the actual review!

[2020-10-22 07:14] sjpfenninger commented on #2765
@whedon generate pdf from branch joss

[2020-10-22 07:14] whedon commented on #2765
[code]

[2020-10-22 07:15] whedon commented on #2765
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02765/joss.02765/10.21105.joss.02765.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02765/joss.02765/10.21105.joss.02765.pdf) :page_facing_up: :point_left:

[2020-10-22 07:24] VincentAlcazer commented on #2630
@whedon generate pdf

[2020-10-22 07:25] whedon commented on #2630
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: :point_left:

[2020-10-22 07:30] VincentAlcazer commented on #2630
Dear @mikldk @nistara @adithirgis ,

The paper.md has been updated with @adithirgis 's suggestions.

Best regards,

Vincent

[2020-10-22 08:26] jcolomb commented on #2282
It was fixed (I hope), sorry forgot to mention it here.

[2020-10-22 08:34] arfon commented on #2704
`url` should be used `adsurl` shouldn't be necessary (this is an astronomy-specific service that the author of the example paper used).

That said, there's something really weird going on with your BibTeX file here @ablaom. When I try and compile your locally I also get weird errors, but if I reduce the BibTeX file to _just_ this entry:

[code]

...then this entry works fine. In getting this to wo

[2020-10-22 08:39] VivianePons commented on #2463
@whedon add @anowacki as reviewer

[2020-10-22 08:39] whedon commented on #2463
OK, @anowacki is now a reviewer

[2020-10-22 08:59] leouieda commented on #2696
Hi @ThomasLecocq @seisman just checking in on the status of this review 🙂  Let me know if you have any questions or concerns.

[2020-10-22 09:02] leouieda commented on #2728
@ashiklom thank you for agreeing to review! 🎉  We don't have strict deadlines but we aim to have the reviews done or well under way within 4-6 weeks. Of course, these are not normal times for most of us so it's completely understandable if you require longer. There will be a separate issue for the review and I'll post some instructions there as soon as I start the review.

[2020-10-22 09:03] leouieda commented on #2728
@whedon generate pdf

[2020-10-22 09:04] whedon commented on #2728
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02728/joss.02728/10.21105.joss.02728.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02728/joss.02728/10.21105.joss.02728.pdf) :page_facing_up: :point_left:

[2020-10-22 09:04] leouieda commented on #2728
@whedon assign @sadielbartholomew as reviewer

[2020-10-22 09:04] whedon commented on #2728
OK, @sadielbartholomew is now a reviewer

[2020-10-22 09:04] leouieda commented on #2728
@whedon add @ashiklom as reviewer

[2020-10-22 09:04] whedon commented on #2728
OK, @ashiklom is now a reviewer

[2020-10-22 09:06] Yomguithereal commented on #2405
@whedon generate pdf

[2020-10-22 09:07] whedon commented on #2405
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02405/joss.02405/10.21105.joss.02405.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02405/joss.02405/10.21105.joss.02405.pdf) :page_facing_up: :point_left:

[2020-10-22 09:11] leouieda commented on #2728
@whedon start review

[2020-10-22 09:11] whedon opened #2766 "[REVIEW]: OpenSCM Two Layer Model: A Python implementation of the two-layer climate model"
**Submitting author:** @znicholls (<a href="http://orcid.org/0000-0002-4767-2723">Zebedee Nicholls</a>)
**Repository:** <a href="https://github.com/openscm/openscm-twolayermodel" target ="_blank">https://github.com/openscm/openscm-twolayermodel</a>
**Version:** v0.2.3
**Editor:** @leouieda
**Reviewer:** @sadielbartholomew, @ashiklom
**Archive:** <a href="https://doi.org/10.5281/zenodo.4950772" tar

[2020-10-22 09:11] whedon commented on #2728
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2766.

[2020-10-22 09:11] #2728 closed

[2020-10-22 09:11] whedon commented on #2766
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sadielbartholomew, @ashiklom it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2020-10-22 09:12] whedon commented on #2766
[code]

[2020-10-22 09:13] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2020-10-22 09:15] leouieda commented on #2728
@ashiklom @sadielbartholomew thank you both for offering your time to review this submission! @znicholls I have now started the review in #2766. I'll post some instructions there. From now on, please use that issue instead.

[2020-10-22 09:17] leouieda commented on #2728
@ashiklom @sadielbartholomew if this is your first time reviewing for JOSS, you should get an invitation to join the `openjournals` GitHub organization (usually by email). Please accept the invitation so that you can edit your checklists in the JOSS review. The invitation will expire so it's best to do this as soon as possible. If you have any issues, we can issue the invitation again (just let me

[2020-10-22 09:18] leouieda commented on #2766
:wave: @sadielbartholomew, @ashiklom, @znicholls this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is diffe

[2020-10-22 09:27] Yomguithereal commented on #2405
@whedon generate pdf

[2020-10-22 09:28] whedon commented on #2405
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02405/joss.02405/10.21105.joss.02405.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02405/joss.02405/10.21105.joss.02405.pdf) :page_facing_up: :point_left:

[2020-10-22 09:50] Yomguithereal commented on #2405
@atanikan I have added a note regarding module imports and `require` [here](https://yomguithereal.github.io/talisman/).

Regarding:

There exists some speed benchmarks regarding some functions of the library (notably Levenshtein distance, because this library was used as an experimental starting point for the creation of many very fast implementation of the distance in JavaScript) but for most of

[2020-10-22 10:25] jbuxt commented on #2483
Hello @usethedata apologies for the delay in merging the paper into the master. It should all be up to date now, please do let me know if there are any comments/questions.

[2020-10-22 10:38] richelbilderbeek commented on #2762
Done.

@kthyng: AFAICS I have processed your feedback. Thanks for checking up on me! If I missed something, please let me know :+1:

[2020-10-22 11:21] anowacki commented on #2463
Hi @lootie.  I'm just starting to take a look and can see a few things where I would ideally open an issue at the repo (which I think we're encouraged to do).  However, I can't see any way to do this for your repo on Bitbucket.  (This is also what the current proof of the paper suggests people do.)

Do you know if there's any way to enable issues?  Otherwise I will just note these issues in posts

[2020-10-22 11:56] usethedata commented on #2483
@arbennett  -- can you go through and complete your review?

@jbuxt @crangelsmith  -- I expect to work through my review over the weekend.  Normally, I don't review papers I edit, but this one is of particular interest to my day job.  I'll be working on this over the weekend.

[2020-10-22 11:57] seisman commented on #2696
Sorry for forgetting this paper. I'll review it in the following week.

[2020-10-22 12:08] romainsacchi commented on #2765
It is a very interesting tool, and will certainly be useful to the LCA community. Well done!
I have followed the instructions, tested it with a couple of dummy files and it produced the expected results.

I have nevertheless the three following issue (issues 1 and 2 being somewhat related).
While they are not of extreme importance, they would greatly improve the user experience.

Issue 1 - https:/

[2020-10-22 12:29] diehlpk commented on #2514
@whedon generate pdf

[2020-10-22 12:30] whedon commented on #2514
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02514/joss.02514/10.21105.joss.02514.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02514/joss.02514/10.21105.joss.02514.pdf) :page_facing_up: :point_left:

[2020-10-22 12:49] apdavison commented on #2673
@dpsanders I can't edit the checklist. When I click to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations it says the invitation has expired.

[2020-10-22 12:51] Fil commented on #2405
My review is complete. Thank you @Yomguithereal!

[2020-10-22 12:52] dpsanders commented on #2673
@whedon commands

[2020-10-22 12:52] whedon commented on #2673
Here are some things you can ask me to do:

[code]

[2020-10-22 12:53] dpsanders commented on #2673
@whedon re-invite @apdavison as reviewer

[2020-10-22 12:53] whedon commented on #2673
OK, the reviewer has been re-invited.

@apdavison please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-22 12:53] dpsanders commented on #2673
@apdavison I have re-invited you. Please let met know if it still doesn't work. Thanks!

[2020-10-22 13:20] trallard commented on #2507
@whedon check references

[2020-10-22 13:20] eloisabentivegna commented on #2513
@whedon accept from branch development

[2020-10-22 13:20] whedon commented on #2513
[code]

[2020-10-22 13:20] trallard commented on #2507
@whedon generate pdf

[2020-10-22 13:20] mwcraig commented on #2693
@pibion -- I'll get more comments in tonight.

@hemanthpruthvi -- neat looking package and thanks for the improvements so far!

1. My main concern at this point is installability of the package. Would you be amenable to adding a small setup.py file to your repository? I'm happy to help you get that written. I think many users will be hesitant to modify `PYTHONPATH` as it is no longer a standard pr

[2020-10-22 13:20] whedon commented on #2507
[code]

[2020-10-22 13:21] trallard commented on #2507
@whedon set 10.5281/zenodo.4115669 as archive

[2020-10-22 13:21] whedon commented on #2507
OK. <a href="https://doi.org/10.5281/zenodo.4115669" target="_blank">10.5281/zenodo.4115669</a> is the archive.

[2020-10-22 13:21] whedon commented on #2513
[code]

[2020-10-22 13:21] trallard commented on #2507
@whedon set 1.0.4 as version

[2020-10-22 13:21] whedon commented on #2507
OK. 1.0.4 is the version.

[2020-10-22 13:22] whedon commented on #2507
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: :point_left:

[2020-10-22 13:22] trallard commented on #2507
@whedon generate pdf

[2020-10-22 13:22] whedon commented on #2513
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1838

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1838, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-22 13:23] whedon commented on #2507
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: :point_left:

[2020-10-22 13:26] trallard commented on #2507
@xillig everything seems in order now. I will go ahead and pass to our EiC for the final steps through publication.

@sara-02 ,  @aozorahime thanks for your time and effort as part of the review. Your contributions are massively appreciated. ✨

[2020-10-22 13:26] trallard commented on #2507
@whedon accept

[2020-10-22 13:26] whedon commented on #2507
[code]

[2020-10-22 13:27] whedon commented on #2507
[code]

[2020-10-22 13:27] whedon commented on #2507
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1839

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1839, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-22 13:29] aozorahime commented on #2507
I am so happy to be part of this. Thank you everyone. And good luck for @xillig  for the next publication journey 😁

[2020-10-22 14:03] apdavison commented on #2673
This seems like a nice toolkit for Julia users, which brings together a lot of functionality that would otherwise have to be assembled from several sources. I have the impression that a lot of the functionality relies on the modern design of Julia (in particular the package manager), and would be more difficult to implement in "messier" language ecosystems like Python's. The paper is well structur

[2020-10-22 14:35] pdebuyl commented on #2653
Thank you for the review @agisga !

@lrnv if you would like to see examples of community guidelines, for instance, you can take a look at already published JOSS articles.

[2020-10-22 14:39] kbarnhart commented on #2751
@changliao1025 after discussion with the JOSS editorial board I have decided to reject this submission for the following reasons:

1. Violation of [JOSS ethics guidelines](https://joss.theoj.org/about#ethics). Specifically that the submitted paper is almost entirely composed of text previously published in Liao et al. (2020).

     Liao, C., Tesfa, T., Duan, Z., & Leung, L. R. (2020). Watershed de

[2020-10-22 14:42] kbarnhart commented on #2751
@openjournals/joss-eics I've recommended that this submission be rejected.

[2020-10-22 14:44] kbarnhart commented on #2585
@whedon generate pdf

[2020-10-22 14:44] kbarnhart commented on #2637
@whedon generate pdf

[2020-10-22 14:44] whedon commented on #2585
PDF failed to compile for issue #2585 with the following error:

 Cloning into '9cca395e6a14bcd2e567e271'...

[2020-10-22 14:45] whedon commented on #2637
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02637/joss.02637/10.21105.joss.02637.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02637/joss.02637/10.21105.joss.02637.pdf) :page_facing_up: :point_left:

[2020-10-22 14:46] danielskatz commented on #2751
@whedon reject

[2020-10-22 14:46] whedon commented on #2751
Paper rejected.

[2020-10-22 14:46] #2751 closed

[2020-10-22 14:46] kbarnhart commented on #2585
openjournals/joss-reviews/issues/2585

[2020-10-22 14:46] kbarnhart commented on #2585
@whedon generate pdf

[2020-10-22 14:47] whedon commented on #2585
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02585/joss.02585/10.21105.joss.02585.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02585/joss.02585/10.21105.joss.02585.pdf) :page_facing_up: :point_left:

[2020-10-22 14:54] dstansby commented on #2732
Thanks both for your super helpful reviews. I have just released a new minor version with the recommended fixes: https://pypi.org/project/pfsspy/0.6.2/. Let me know if there is anything else I need to do, or if I have missed anything.

[2020-10-22 14:56] lrnv commented on #2653
Well, first, thanks to you two @coatless and @agisga for taking the time. At first glance, the review you produced are very interesting, and i can only nod to every point you highlighted.

The plan i have right now:
1° Fix issues that the reviewers highlighted (and more if i find more) in a new branch on my repo, and prepare a Pull request. This will take me a few weeks.
2° Wait for the reviewers

[2020-10-22 14:58] Datseris commented on #2673
Thank you @apdavison for the quick response and your review. We have addressed your comments by:

1. Adding a "Support & Contributing" section in the docs.
1. Improving the introduction of sumatra
1. Mentioning ReproZip (but not ActivePapers because contrary to its name it doesn't feel active enough of a repository to us)
1. Addressing typos

[2020-10-22 14:58] Datseris commented on #2673
@whedon generate pdf

[2020-10-22 14:58] whedon commented on #2673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: :point_left:

[2020-10-22 15:04] kbarnhart commented on #2585
@elbeejay and co-authors, congratulations on making it to the end of the JOSS review process. I think the software you submitted was already in great shape, but through the thoughtful comments of @dbuscombe-usgs and @gassmoeller it has been made even better. I want to thank all authors and reviewers for your contribution to this review process.

At this point @elbeejay could you:
- [ ] Make a tagg

[2020-10-22 15:05] kbarnhart commented on #2637
@tylunel thanks for merging those copyedits. Congratulations on making to the end of the JOSS review process.

At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo

[2020-10-22 15:13] dpsanders commented on #2673
@Datseris I agree with @apdavison that ActivePapers should be cited, even if it is not currently "active".

[2020-10-22 15:20] kyleniemeyer commented on #2582
@whedon generate pdf

[2020-10-22 15:21] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-10-22 15:28] kyleniemeyer commented on #2513
Hi @zingale, I'm the EIC on duty this week doing some final checks. Could you fix these in the paper before we accept?

- [ ] The paper is missing an explicit Statement of Need section, which we have made a [required component](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) of articles. (You can likely use text already in the first page)
- [ ] In the second par

[2020-10-22 15:29] kyleniemeyer commented on #2582
@whedon accept

[2020-10-22 15:29] whedon commented on #2582
[code]

[2020-10-22 15:29] Datseris commented on #2673
Alright, we have added the citation to it in the latest version.

[2020-10-22 15:29] Datseris commented on #2673
@whedon generate pdf

[2020-10-22 15:29] whedon commented on #2582
[code]

[2020-10-22 15:29] whedon commented on #2582
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1840

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1840, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-22 15:30] whedon commented on #2673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: :point_left:

[2020-10-22 15:31] kyleniemeyer commented on #2582
@whedon accept deposit=true

[2020-10-22 15:31] whedon commented on #2582
[code]

[2020-10-22 15:32] whedon commented on #2582
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1319300599763095552) 👈 🐦🐦🐦

[2020-10-22 15:32] whedon commented on #2582
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1841
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02582](https://doi.org/10.21105/joss.02582)
2. If everything looks g

[2020-10-22 15:36] kyleniemeyer commented on #2582
Congrats @steven-murray on your article's publication in JOSS!

Many thanks to @sambit-giri and @sultan-hassan for reviewing this, and @dfm for editing.

[2020-10-22 15:36] #2582 closed

[2020-10-22 15:36] whedon commented on #2582
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02582/status.svg)](https://doi.org/10.21105/joss.02582)

**We need your help!**

Journal of Open Source Softwa

[2020-10-22 15:42] elbeejay commented on #2585
Thanks for all of your help through this process @kbarnhart. I think I've managed to do the items listed above.

- Archived version tag: v2.1.0-JOSS
- Zenodo archive: [https://zenodo.org/record/4118342](https://zenodo.org/record/4118342)
- Zenodo DOI: 10.5281/zenodo.4118342

[2020-10-22 15:55] kbarnhart commented on #2585
@whedon set v2.1.0 as version

[2020-10-22 15:55] whedon commented on #2585
OK. v2.1.0 is the version.

[2020-10-22 15:56] kbarnhart commented on #2585
@whedon set 10.5281/zenodo.4118342 as archive

[2020-10-22 15:56] whedon commented on #2585
OK. <a href="https://doi.org/10.5281/zenodo.4118342" target="_blank">10.5281/zenodo.4118342</a> is the archive.

[2020-10-22 15:57] kbarnhart commented on #2585
@whedon accept

[2020-10-22 15:57] whedon commented on #2585
[code]

[2020-10-22 15:58] whedon commented on #2585
[code]

[2020-10-22 15:58] whedon commented on #2585
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1842

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1842, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-22 15:59] kbarnhart commented on #2585
@elbeejay this is now in the hands of the JOSS handling Editor in Chief who manages final publication.

[2020-10-22 16:00] elbeejay commented on #2585
Great, thanks for all of the help @kbarnhart, this was a pleasant process.

[2020-10-22 16:22] TheoChristiaanse commented on #2677
Thank you for the review! We have been working on improving the repo. Will report back when we have delt with the issues.

[2020-10-22 16:28] kthyng commented on #2762
Is there a new DOI? I checked the same one (10.5281/zenodo.4076184) and it looks the same. I am looking for the title to be "mcbette: model comparison using babette".

[2020-10-22 16:29] kthyng commented on #2762
(other things look good!)

[2020-10-22 16:35] richelbilderbeek commented on #2762
Ah, my bad! Will fix now :+1:

[2020-10-22 16:42] matteomancini commented on #2675
I think that both the tool and the paper now look much more complete. @Thyre I am glad to hear that the PyPI suggestion was useful! @miriammenzel I did not realise there was such a strict limit in terms of word count - taking that into account I think that the sentences added are sufficient to explain the difference between PLI and SLI, and the fact that SLIX is the first of its kind.
All my comme

[2020-10-22 16:44] dghoshal-lbl commented on #2484
@pibion We are making some final changes to the paper and the repository. I will let you know as they are done, most possibly some time next week.

[2020-10-22 16:53] xillig commented on #2507
@whedon accept deposit=true

[2020-10-22 16:53] whedon commented on #2507
I'm sorry @xillig, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-10-22 16:55] diehlpk commented on #2514
@ketch

- [ ] Please generate a new release including all the updates from the review
- [ ] Please post the new release number here
- [ ] Please upload the release and obtain a DOI (Zenodo or FigShare). Note that the title and the authors have to match with the paper.
- [ ] Post the DOI here

[2020-10-22 16:56] xillig commented on #2507
Thank you everyone for their work!

@trallard, would you kindly accept the submission?

[2020-10-22 16:58] trallard commented on #2507
Hi @xillig I am afraid only our editors in chief can do this. They should have received a notification and will deal with this promptly

[2020-10-22 17:42] steven-murray commented on #2582
Thanks @dfm , @sultan-hassan, @sambit-giri and @kyleniemeyer!

[2020-10-22 17:53] alexrockhill commented on #2674
Just pinging this thread to keep things moving forward.

[2020-10-22 18:03] alexrockhill commented on #2675
I agree that the tool looks to be in good shape and all the issues I have brought up have been addressed very well. I am happy to discuss when @rly is ready.

[2020-10-22 18:20] jorgensd commented on #2687
@whedon check repository

[2020-10-22 18:21] whedon commented on #2687
[code]

[2020-10-22 18:21] jorgensd commented on #2687
@krober10nd Could you elaborate on your co-authors contributions to this paper/software? By looking at the code contributions, it seems that all commits has been made by you.

[2020-10-22 18:31] miriammenzel commented on #2675
Thank you @matteomancini @alexrockhill for your positive feedback. We are glad that we could address all your comments.
I noticed that there are still some open issues in your review checklists?
As mentioned in my previous post, we also tried to address all things mentioned by @rly - please let us know if we could satisfy your requirements.

Thanks again for your constructive feedback and the thor

[2020-10-22 18:36] alexrockhill commented on #2675
All checked just not up-to-date, just went through now.

[2020-10-22 18:43] matteomancini commented on #2675
Same for me, just updated it.

[2020-10-22 18:49] rly commented on #2675
@Thyre @miriammenzel Thanks for addressing my concerns! Everything looks good on my end. I think that the tool and the paper are both suitable for publication on JOSS.

[2020-10-22 18:50] krober10nd commented on #2687
@jorgensd Yes, you are correct. I made the technical contributions/implementations to this work and wrote the paper and I also maintain the software.  Both Rafael and William offered their scientific/professional opinions and we had numerous intellectual discussions which led to new ideas and which I later pursued and implemented in the code stack. Both helped review and edit offline earlier versi

[2020-10-22 19:00] rly commented on #2674
Everything looks good on my end. The new example mentioned in https://github.com/alexrockhill/pd-parser/issues/7 looks good too. @alexrockhill I would encourage you to git tag the new version and make a new release both on PyPI and on GitHub.

Pending that, I think that the tool and paper are both suitable for publication on JOSS.

[2020-10-22 19:05] kakearney commented on #2497
After perusing the updates, I have gone ahead and checked off the remaining items on my reviewer checklist.  Given the size of the toolbox and my current schedule, I wasn't able to run comprehensive tests on all the functions.  However, I did repeat my earlier running of the demos.m script, along with a few modifications to test input flexibility, and only encountered a few minor issues (see below

[2020-10-22 19:10] pdebuyl commented on #2653
@lrnv Your plan is fine. You will need to archive the code to zenodo as well, though. This is part of the JOSS process and the zenodo archive DOI will be included in the article. I will also perform a final proofreading before forwarding the article to an editor in chief for publication. The paper might thus cause a few more commits to the git repository but this won't change the software itself s

[2020-10-22 19:13] jbuisine commented on #2658
@whedon generate pdf

[2020-10-22 19:14] whedon commented on #2658
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02658/joss.02658/10.21105.joss.02658.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02658/joss.02658/10.21105.joss.02658.pdf) :page_facing_up: :point_left:

[2020-10-22 19:42] atanikan commented on #2405
It's fine. I see the article does speak to the fact that one can benchmark if they would like. Since the article nor the library makes an outright claim to have the "fastest"/"best". I suppose we can benchmarking stats for now. Appreciate the changes made in the documentation as well. @kakiac My review is complete as well. Thanks, @Yomguithereal. Fantastic job.

[2020-10-22 20:39] lootie commented on #2463
Thank you @anowacki for looking at this right away. I enabled the issue tracker, so you are free to put your comments there if you'd like. If the issue prevents you from checking one of the boxes in your review above, please put it in this thread and I'll address it right away.

[2020-10-22 20:55] wkirgsn commented on #2498
The toolbox just experienced its major update by merging nightly into master.
We now stand on v0.3.0, with plenty of new additions, bug fixes and comprehensive tutorials as well as example scripts.
These include the feedback of our reviewers, and we hope that discrepancies are decimated now.

We are looking forward to any feedback and appreciate your time.

[2020-10-22 21:31] libertyh commented on #2674
Looks good to me too, I agree with @rly that following the new release this is acceptable for publication in JOSS.

[2020-10-22 21:44] mbobra commented on #2757
@Hazboun6 Good question. You don't need to cite the AAS paper. The DOI for the AAS paper will appear the JOSS paper automatically (see examples [here](https://joss.theoj.org/papers/10.21105/joss.01889) and [here](https://joss.theoj.org/papers/10.21105/joss.02125); look at the left margin).

There is some documentation about the AAS publishing process process [here](https://joss.readthedocs.io/en/l

[2020-10-22 21:48] mbobra commented on #2732
Thank you both for your thorough and speedy reviews, @sibirrer and @mancellin! I really appreciate it it.

Nice work and congratulations, @dstansby!

[2020-10-22 22:34] dstansby commented on #2732
Thanks! Version 0.6.3 includes the paper source: https://github.com/dstansby/pfsspy/releases/tag/0.6.3 / https://pypi.org/project/pfsspy/0.6.3/

[2020-10-22 22:36] melissawm commented on #2658
Hello, @jbuisine ! Thank you for the modifications. I noticed a number of typos, which I think might be corrected before the review stage - maybe going through an autocorrect feature. Another issue that I think might be worth noting is that the problem (or problems) being solved by the software are not explicitly mentioned in the software paper. From the context, I understand you are doing global

[2020-10-22 22:39] melissawm commented on #2729
Hello @bhajay, @solanpaa would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-10-22 22:42] alexrockhill commented on #2674
Ok, releasing 0.3 now

[2020-10-22 22:48] lfaller commented on #2334
Alright! I was able download the new version and run it and it did seem faster to me (though I didn't collect any hard numbers on that). FYI, I set the number of CPUs to 6, and that let me run the example in a reasonable amount of time.

Thanks for making these changes, I think it really improves usability!

My last nit is this:

I still find the documentation to be very confusing to read. If I wa

[2020-10-22 22:49] alexrockhill commented on #2674
@whedon set 0.3 as version

[2020-10-22 22:49] whedon commented on #2674
I'm sorry @alexrockhill, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-10-22 22:50] alexrockhill commented on #2674
Oops, I guess @oliviaguest has to do that.

[2020-10-22 23:09] galessiorob commented on #2697
@whedon add @omshinde as reviewer

[2020-10-22 23:09] whedon commented on #2697
OK, @omshinde is now a reviewer

[2020-10-22 23:12] galessiorob commented on #2697
@fduchatea before I open a review issue for @nuest and @omshinde to start working on, could you please make sure to check off the following:

- [ ] Have an issue tracker that is readable without registration.
- [ ] Permit individuals to create issues/file tickets against your repository
- [ ] Expand and focus the software's research scope (see @nuest and my previous comments above)
- [ ] Expand th

[2020-10-22 23:52] mbobra commented on #2732
@whedon generate pdf

[2020-10-22 23:53] whedon commented on #2732
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02732/joss.02732/10.21105.joss.02732.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02732/joss.02732/10.21105.joss.02732.pdf) :page_facing_up: :point_left:

[2020-10-22 23:57] mbobra commented on #2732
@whedon check references

[2020-10-22 23:58] whedon commented on #2732
[code]

[2020-10-22 23:59] mbobra commented on #2732
@whedon set 10.5281/zenodo.4118975 as archive

[2020-10-22 23:59] whedon commented on #2732
OK. <a href="https://doi.org/10.5281/zenodo.4118975" target="_blank">10.5281/zenodo.4118975</a> is the archive.

[2020-10-23 00:00] mbobra commented on #2732
@whedon set v0.6.3 as version

[2020-10-23 00:00] whedon commented on #2732
OK. v0.6.3 is the version.

[2020-10-23 00:01] mbobra commented on #2732
@openjournals/joss-eics This paper is ready for final processing 🎉🎉🎉

[2020-10-23 00:36] MetabolomicsAustralia-Bioinformatics commented on #2163
Hi Charlotte,

Yup, I think it’s best to close this submission for the time being. You may receive a resubmission from this email address as and when this gets back up and running.

Many thanks and regards,

don
On 19 Oct 2020, 2:34 AM +1030, Charlotte Soneson <notifications@github.com>, wrote:

[2020-10-23 02:28] kyleniemeyer commented on #2732
Looks good to me!

[2020-10-23 02:29] kyleniemeyer commented on #2732
@whedon accept

[2020-10-23 02:29] whedon commented on #2732
[code]

[2020-10-23 02:29] whedon commented on #2732
[code]

[2020-10-23 02:30] whedon commented on #2732
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1843

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1843, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-23 02:34] AnaWaldila commented on #2548
Hey @Kevin-Mattheus-Moerman, sorry for late to answer. Dont't worry, I will see what @asmusskar answered about the revision in some days.

[2020-10-23 02:40] kyleniemeyer commented on #2732
@whedon accept deposit=true

[2020-10-23 02:40] whedon commented on #2732
[code]

[2020-10-23 02:42] whedon commented on #2732
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1319469111148150785) 👈 🐦🐦🐦

[2020-10-23 02:42] whedon commented on #2732
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1844
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02732](https://doi.org/10.21105/joss.02732)
2. If everything looks g

[2020-10-23 03:17] jspaezp commented on #2694
Hello @pibion, I referenced the issue I created in the host repository  a couple of weeks ago.
I also checked some of the boxes that I believe have been fully complied with the standards of the journal.

Let me know if anything additional is required and feel free to reach me to my email if I have not replied to an issue in 24h.

link to the issue:
https://github.com/wesleyburr/subMaldi/issues/5

[2020-10-23 03:33] ablaom commented on #2704
@arfon Thanks for investigating!

[2020-10-23 03:55] jgostick commented on #2563
@whedon set 10.5281/zenodo.4095078 as archive

[2020-10-23 03:55] whedon commented on #2563
OK. <a href="https://doi.org/10.5281/zenodo.4095078" target="_blank">10.5281/zenodo.4095078</a> is the archive.

[2020-10-23 03:56] jgostick commented on #2563
@whedon check references

[2020-10-23 03:56] whedon commented on #2563
[code]

[2020-10-23 03:56] jgostick commented on #2563
@whedon generate pdf

[2020-10-23 03:57] whedon commented on #2563
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: :point_left:

[2020-10-23 04:01] arose commented on #2725
@jgostick happy to review this

[2020-10-23 04:03] jgostick commented on #2725
Super!  Let the fun begin.

[2020-10-23 04:05] jgostick commented on #2725
@whedon add @arose as reviewer

[2020-10-23 04:05] whedon commented on #2725
OK, @arose is now a reviewer

[2020-10-23 04:05] jgostick commented on #2725
@whedon add @marshallmcdonnell as reviewer

[2020-10-23 04:05] whedon commented on #2725
OK, @marshallmcdonnell is now a reviewer

[2020-10-23 04:05] jgostick commented on #2725
@whedon start review

[2020-10-23 04:06] whedon opened #2767 "[REVIEW]: GIMS: Graphical Interface for Materials Simulations"
**Submitting author:** @kokookster (<a href="http://orcid.org/0000-0003-1066-6909">Sebastian Kokott</a>)
**Repository:** <a href="https://gitlab.com/gims-developers/gims" target ="_blank">https://gitlab.com/gims-developers/gims</a>
**Version:** v1.0.2
**Editor:** @jgostick
**Reviewers:** @marshallmcdonnell, @jgostick
**Archive:** <a href="https://doi.org/10.5281/zenodo.4386436" target="_blank">10.

[2020-10-23 04:06] whedon commented on #2725
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2767.

[2020-10-23 04:06] #2725 closed

[2020-10-23 04:06] whedon commented on #2767
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @marshallmcdonnell, @arose, @marshallmcdonnell it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means i

[2020-10-23 04:06] whedon commented on #2767
[code]

[2020-10-23 04:06] whedon commented on #2767
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: :point_left:

[2020-10-23 04:10] jgostick commented on #2563
@whedon set 0.9.9 as the version

[2020-10-23 04:10] whedon commented on #2563
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-23 04:11] jgostick commented on #2563
@whedon set 0.9.9 as version

[2020-10-23 04:11] whedon commented on #2563
OK. 0.9.9 is the version.

[2020-10-23 04:12] jgostick commented on #2563
@whedon accept

[2020-10-23 04:12] whedon commented on #2563
[code]

[2020-10-23 04:12] whedon commented on #2563
[code]

[2020-10-23 04:12] whedon commented on #2563
PDF failed to compile for issue #2563 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon/bibtex_parser.rb:77:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon/bibtex_parser.rb:64:in `make_citation'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2020-10-23 04:14] jgostick commented on #2563
Hi @mkhorton congrats!  This one took a while, but it's all good now.  An editor in chief will now come and make the acceptance final (and hopefully sort out the messy error message whedon produced above!  I just compiled the pdf, so I don't understand why it's complaining).

[2020-10-23 05:08] arbennett commented on #2483
@usethedata - yep I'll complete my review over the weekend as well!

[2020-10-23 05:27] neuromusic commented on #2440
I'm sorry for my poor communication over the past month. I've been up against some deadlines, but I expect to be able to address the remaining issues within the next 3 weeks.

[2020-10-23 06:11] kyleniemeyer commented on #2732
Congrats @dstansby on your article's publication in JOSS!

Many thanks to @mancellin and @sibirrer for reviewing this, and @mbobra for editing.

[2020-10-23 06:11] #2732 closed

[2020-10-23 06:11] whedon commented on #2732
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02732/status.svg)](https://doi.org/10.21105/joss.02732)

**We need your help!**

Journal of Open Source Softwa

[2020-10-23 06:27] arfon commented on #2287
Sent a final reminder to @hpparvi this morning. If we don't hear back from them we'll need to find a second reviewer.

@mmartin-lagarde - how are you getting along incorporating @kevin218's feedback?

[2020-10-23 06:30] mmartin-lagarde commented on #2287
Dear @arfon,
All the comments concerning the code and the user manual are addressed as of now, and available in a new branch 'review_JOSS' : https://gitlab.com/mmartin-lagarde/exonoodle-exoplanets/-/tree/review_JOSS
I am currently making the additions to the paper itself.
Sorry for the delay.

[2020-10-23 07:27] lbrea commented on #2705
Hi, sorry for the late reply. I am now working now on the review, and I
expect to complete it by Monday 26 at the latest.

On Wed, Oct 21, 2020 at 10:04 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-10-23 07:43] VivianePons commented on #2515
@whedon remove @dalcinl as reviewer

[2020-10-23 07:43] whedon commented on #2515
OK, @dalcinl is no longer a reviewer

[2020-10-23 07:47] VivianePons commented on #2515
I had to remove Lisandro as reviewer due our [conflict of interest policy](https://github.com/openjournals/joss/blob/master/COI.md) I am looking for a replacement

[2020-10-23 07:49] VivianePons commented on #2515
@whedon generate pdf

[2020-10-23 07:49] whedon commented on #2515
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02515/joss.02515/10.21105.joss.02515.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02515/joss.02515/10.21105.joss.02515.pdf) :page_facing_up: :point_left:

[2020-10-23 08:15] csoneson commented on #2440
Thanks @neuromusic!

[2020-10-23 08:31] moorepants commented on #2498
@wkirgsn Thank you. It would be helpful if you address my comments explicitly and point to specific new content that address each.

[2020-10-23 09:50] wkirgsn commented on #2498
Hi @moorepants, please see the detailed response below:

__"Some of the paper authors, including the first author, do not seem to have made any commits to the software repository. Please clarify the authorship of all the authors."__
Email addresses were updated on github among authors, such that code contributions should be addressable now.
Github Insights might not show the updated data right off

[2020-10-23 09:51] wkirgsn commented on #2498
@whedon generate pdf

[2020-10-23 09:52] whedon commented on #2498
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02498/joss.02498/10.21105.joss.02498.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02498/joss.02498/10.21105.joss.02498.pdf) :page_facing_up: :point_left:

[2020-10-23 10:17] richardjgowers commented on #2576
@whedon set 10.5281/zenodo.4116258 as archive

[2020-10-23 10:17] whedon commented on #2576
OK. <a href="https://doi.org/10.5281/zenodo.4116258" target="_blank">10.5281/zenodo.4116258</a> is the archive.

[2020-10-23 10:19] richardjgowers commented on #2576
@whedon accept

[2020-10-23 10:19] whedon commented on #2576
[code]

[2020-10-23 10:19] whedon commented on #2576
[code]

[2020-10-23 10:20] whedon commented on #2576
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1845

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1845, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-23 10:24] VivianePons commented on #2515
@whedon add @highlando as reviewer

[2020-10-23 10:24] whedon commented on #2515
OK, @highlando is now a reviewer

[2020-10-23 10:24] hpparvi commented on #2287
Dear @arfon, @mmartin-lagarde,

I'll finish the review today using the review_JOSS branch. My apologies for the delay.

Best,
Hannu

[2020-10-23 10:33] jbuisine commented on #2658
@whedon generate pdf

[2020-10-23 10:34] whedon commented on #2658
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02658/joss.02658/10.21105.joss.02658.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02658/joss.02658/10.21105.joss.02658.pdf) :page_facing_up: :point_left:

[2020-10-23 10:40] anowacki commented on #2463
@lootie Thanks for turning that on—I will submit issues to the repo.

It looks like I can set a priority for them, so I will do that and mark anything as a blocker to ticking the boxes above as 'Blocker'.  Things which are suggestions I will mark 'Minor'.  There are a few things I think I will have to ask you to do, so probably doing it that way will be easier to keep track of.

[2020-10-23 10:42] jbuisine commented on #2658
Hello @melissawm,

Thank you again for your feedback. I have updated the paper accordingly, I hope this is more understandable.

That's right, the idea is to propose a generic tool allowing to refrain from some recurrent concepts when implementing operational search algorithms (solution evaluation, hierarchical management of algorithms, backups, algorithm reloading). As the tool is not specific, t

[2020-10-23 11:56] ml-evs commented on #2563
Thanks @jgostick, please keep me in mind if you need reviewers in this area.

Thanks again to @mkhorton and @srmnitc for their time and thoughtful reviews.

Regarding the whedon error, the tidier traceback is:

[code]

I can't see weird characters that would be missing an encode method in my bib file, but I can try fixing some dodgy indentation that crept in, though I assume I will not be able to

[2020-10-23 12:06] hpparvi commented on #2287
Dear @mmartin-lagarde and @arfon,

Here is my review, sorry for the delay.

**Documentation**
The documentation is very good content-wise. However, the language (transient -> transiting, etc.) and clarity of the text could be improved (a grammar checker and a native English friend/colleague can be useful here). The abstract in the README reads well already, but it would be good if the user manual

[2020-10-23 12:09] ml-evs commented on #2563
@whedon generate pdf

[2020-10-23 12:10] whedon commented on #2563
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: :point_left:

[2020-10-23 12:27] usethedata commented on #2625
@whedon add @foeroyingur as reviewer

[2020-10-23 12:28] whedon commented on #2625
OK, @foeroyingur is now a reviewer

[2020-10-23 12:28] usethedata commented on #2625
@whedon start review

[2020-10-23 12:28] whedon opened #2768 "[REVIEW]: nap: A molecular dynamics package with parameter-optimization programs for classical and machine-learning potentials"
**Submitting author:** @ryokbys (<a href="http://orcid.org/0000-0001-8244-5844">Ryo KOBAYASHI</a>)
**Repository:** <a href="https://github.com/ryokbys/nap" target ="_blank">https://github.com/ryokbys/nap</a>
**Version:** 0.10.3
**Editor:** @usethedata
**Reviewer:** @richardjgowers, @foeroyingur
**Archive:** <a href="https://doi.org/10.5281/zenodo.4451790" target="_blank">10.5281/zenodo.4451790</a>

[2020-10-23 12:28] whedon commented on #2625
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2768.

[2020-10-23 12:28] #2625 closed

[2020-10-23 12:28] whedon commented on #2768
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @richardjgowers, @foeroyingur it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2020-10-23 12:28] whedon commented on #2768
[code]

[2020-10-23 12:29] whedon commented on #2768
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: :point_left:

[2020-10-23 13:34] mwcraig commented on #2693
My only remaining concerns are the ones listed above. I'm happy to help get those fixed with some PRs if you want.

[2020-10-23 13:59] sbenthall commented on #2730
Ok, I will keep reaching out to see if there's somebody more confident with the research substance. Thanks @martibosch and @Zac-HD

[2020-10-23 14:13] fboehm commented on #2743
@dwinter @raivivek - I just wanted to check in to see how the reviews are going. As you complete items from the checklist, please check them off. And please be sure to reach out to me if you have questions or concerns. I'm here to assist you. Thanks again!

[2020-10-23 14:14] sbenthall commented on #2730
@platipodium would you be able to review this article?

[2020-10-23 14:14] fboehm commented on #2724
Thanks, @henrykironde ! When you've had a chance to create the vignette, please let me know. We can then find reviewers for your submission. If you have questions or concerns, please let me know. I'm here to assist you. Thanks again!

[2020-10-23 14:17] sbenthall commented on #2730
@akbaritabar Would you be able to review this article?

[2020-10-23 14:32] jgostick commented on #2563
Hmmm, I guess that was just a one-time glitch?  the PDF generated just fine for me above as well.

[2020-10-23 14:42] fboehm commented on #2474
@tomaslaz - I've added the "paused' label to give you time to address the issues. Do you anticipate that you can address the concerns within the next month, ie, by Nov 23? I don't want to keep the reviewers on hold for too long. Thanks again!

[2020-10-23 14:43] platipodium commented on #2730
I am not an expert in conflict or risk modeling, nor machine learning, so I'd like to deflect this to a more knowledgeable reviewer.   May I suggest marcel.nonnenmacher@hzg.de for machine learning and roland.comier@hzg.de for risk assessment.

On thing I noticed: From the existing ReadtheDocs and ReadMe and associated paper, it is still unclear to me, what the software is good for.  An example out

[2020-10-23 14:45] MAnalytics commented on #2379
@njtierney Please, what step should I take next? Thanks.

[2020-10-23 14:47] sbenthall commented on #2730
Thank you, @platipodium

[2020-10-23 14:49] sbenthall commented on #2730
@chainsawriot would you be able to review this article?

[2020-10-23 14:57] csoneson commented on #2163
Thanks @MetabolomicsAustralia-Bioinformatics - we will close this submission then.
@lgatto, @bovee - thank you so much for your comments and contributions!

[2020-10-23 15:07] csoneson commented on #2163
@openjournals/joss-eics - we have agreed to close this submission. Could you help with that?

[2020-10-23 15:13] oliviaguest commented on #2675
@whedon generate pdf

[2020-10-23 15:14] oliviaguest commented on #2675
@Thyre @miriammenzel can you deposit the code on an appropriate platform (e.g., zenodo), please? And then post the DOI here. 😊

[2020-10-23 15:14] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-10-23 15:35] zingale commented on #2513
Hi Kyle, thanks for the comments. I think I've addressed them all.

[2020-10-23 15:58] changliao1025 commented on #2751
A user guide will be added to the repository shortly. We collected some user feedback to make sure all the necessary information are presented in the user guide.
This submission is mainly focusing on the technical part of the model instead of the scientific implication, that is why lots of text are the same or similar to our other publication, which does not provide details of the software.

[2020-10-23 16:04] martin-millon commented on #2654
@arfon Is there a way with Whedon to get the .tex file from which the paper is generated? I would like to post it on the arXiv.

[2020-10-23 16:41] miriammenzel commented on #2675
@oliviaguest We have uploaded our software on zenodo (https://zenodo.org/record/4121953). DOI:10.5281/zenodo.4121953

[2020-10-23 16:59] alexrockhill commented on #2674
Here's the DOI for the 0.3 release as well http://doi.org/10.5281/zenodo.4122049

[2020-10-23 17:00] sahilseth commented on #2755
I can help review, if needed - thanks

[2020-10-23 17:08] sahilseth commented on #2715
I have tried this pkg and can help review it, if needed - thanks

[2020-10-23 17:18] zhangfanmark commented on #2705
Sorry for the delay. I will perform the review and get it back early next week.

[2020-10-23 17:23] urbanophile commented on #2606
Hi apologies, yes. I will continue on the review.

[2020-10-23 17:37] timtroendle commented on #2715
That's very helpful, thanks @sahilseth !

[2020-10-23 17:38] timtroendle commented on #2715
@whedon add @sahilseth as reviewer

[2020-10-23 17:38] whedon commented on #2715
OK, @sahilseth is now a reviewer

[2020-10-23 17:38] kyleniemeyer commented on #2163
@csoneson ok, I will withdraw this one.

[2020-10-23 17:38] kyleniemeyer commented on #2163
@whedon withdraw

[2020-10-23 17:38] whedon commented on #2163
Paper withdrawn.

[2020-10-23 17:38] #2163 closed

[2020-10-23 17:39] timtroendle commented on #2715
@whedon start review

[2020-10-23 17:39] kyleniemeyer commented on #2513
@whedon generate pdf

[2020-10-23 17:39] whedon opened #2769 "[REVIEW]: ropenblas: Download, Compile and Link OpenBLAS Library with R"
**Submitting author:** @prdm0 (<a href="http://orcid.org/0000-0003-1591-8300">Pedro Rafael Marinho</a>)
**Repository:** <a href="https://github.com/prdm0/ropenblas" target ="_blank">https://github.com/prdm0/ropenblas</a>
**Version:** v0.2.9
**Editor:** @timtroendle
**Reviewers:** @pratikvn, @myousefi2016
**Archive:** <a href="https://doi.org/10.5281/zenodo.4618251" target="_blank">10.5281/zenodo.4

[2020-10-23 17:39] whedon commented on #2715
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2769.

[2020-10-23 17:39] #2715 closed

[2020-10-23 17:39] whedon commented on #2769
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pratikvn, @sahilseth it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-10-23 17:40] whedon commented on #2769
[code]

[2020-10-23 17:41] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2020-10-23 17:41] whedon commented on #2513
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: :point_left:

[2020-10-23 17:42] skadio commented on #2662
@Kevin-Mattheus-Moerman @galessiorob

I would like to thank you again for your time and service! I have read the guidelines as well as your response about the Scope and kindly disagree, especially when compared to other submissions that I have been part of. Leaving this aside, we already received an initial evaluation from @TimKam. Thank you very much @TimKam, we incorporated some of the input alr

[2020-10-23 17:42] kyleniemeyer commented on #2513
@whedon generate pdf from branch development

[2020-10-23 17:42] whedon commented on #2513
[code]

[2020-10-23 17:44] whedon commented on #2513
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: :point_left:

[2020-10-23 17:46] kyleniemeyer commented on #2513
@whedon accept

[2020-10-23 17:46] whedon commented on #2513
[code]

[2020-10-23 17:47] whedon commented on #2513
[code]

[2020-10-23 17:47] whedon commented on #2513
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1846

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1846, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-23 17:47] kyleniemeyer commented on #2513
@whedon accept from branch development

[2020-10-23 17:47] whedon commented on #2513
[code]

[2020-10-23 17:48] whedon commented on #2513
[code]

[2020-10-23 17:49] whedon commented on #2513
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1847

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1847, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-23 17:52] kyleniemeyer commented on #2513
@whedon accept deposit=true from branch development

[2020-10-23 17:52] whedon commented on #2513
[code]

[2020-10-23 17:54] whedon commented on #2513
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1319698617037410304) 👈 🐦🐦🐦

[2020-10-23 17:54] whedon commented on #2513
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1848
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02513](https://doi.org/10.21105/joss.02513)
2. If everything looks g

[2020-10-23 18:14] kbarnhart commented on #2751
@changliao1025 thanks for the comment. As indicated above, this submission has been rejected.

I'd recommend that you take a close look at the [JOSS submission requirements](https://joss.readthedocs.io/en/latest/submitting.html?#submission-requirements) and the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html). As the review criteria state, the JOSS review process has r

[2020-10-23 18:17] kyleniemeyer commented on #2513
Congrats @zingale on your article's publication in JOSS!

Many thanks to @kegiljarhus, @bonh, and @joshia5 for reviewing this submission, and @eloisabentivegna for editing it.

[2020-10-23 18:17] #2513 closed

[2020-10-23 18:17] whedon commented on #2513
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02513/status.svg)](https://doi.org/10.21105/joss.02513)

**We need your help!**

Journal of Open Source Softwa

[2020-10-23 18:25] changliao1025 commented on #2751
Thanks for the suggestions, I will revise the repository following the instructions and then re-submit.

[2020-10-23 18:35] marshallmcdonnell commented on #2767
@jgostick Small question, it looks like I've been added twice to the review above:

[2020-10-23 18:47] jgostick commented on #2767
I'm still leaning how to interact with the whedon thing.  I thought I'd finally got it right this time :-(  Anyway, it doesn't matter much, at the end of the day I just look at the check boxes above.  I did remove the second set of check boxes for you though.

[2020-10-23 18:49] whedon opened #2770 "[PRE REVIEW]: ZiopcPy: A Python Package for the Zero-Inflated Ordered Probit Models Without and With Correlated Errors"
**Submitting author:** @Nicolas-Schmidt (<a href="http://orcid.org/0000-0001-5083-5792">Nicolás Schmidt</a>)
**Repository:** <a href="https://github.com/hknd23/ziopcpy" target ="_blank">https://github.com/hknd23/ziopcpy</a>
**Version:** 0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-10-23 18:49] whedon commented on #2770
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-23 18:49] whedon commented on #2770
Failed to discover a `Statement of need` section in paper

[2020-10-23 18:49] whedon commented on #2770
[code]

[2020-10-23 18:50] whedon commented on #2770
[code]

[2020-10-23 18:50] whedon commented on #2770
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02770/joss.02770/10.21105.joss.02770.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02770/joss.02770/10.21105.joss.02770.pdf) :page_facing_up: :point_left:

[2020-10-23 18:50] kyleniemeyer commented on #2770
@whedon query scope

[2020-10-23 18:50] whedon commented on #2770
Submission flagged for editorial review.

[2020-10-23 18:51] kyleniemeyer commented on #2770
Hi @Nicolas-Schmidt, thanks for your interest in JOSS. Your package is on the small side, so the editorial board is going to take a look and decide whether it is in scope for us.

[2020-10-23 18:51] whedon opened #2771 "[PRE REVIEW]: gospl: Global Scalable Paleo Landscape Evolution"
**Submitting author:** @tristan-salles (<a href="http://orcid.org/0000-0001-6095-7689">Tristan Salles</a>)
**Repository:** <a href="https://github.com/Geodels/gospl/" target ="_blank">https://github.com/Geodels/gospl/</a>
**Version:** v0.2.0
**Editor:** @kbarnhart
**Reviewers:** @johnjarmitage, @cmshobe
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-10-23 18:51] whedon commented on #2771
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-23 18:52] whedon commented on #2771
[code]

[2020-10-23 18:52] whedon opened #2772 "[PRE REVIEW]: AtomNeb: Python Package for Atomic Data of Ionized Nebulae"
**Submitting author:** @danehkar (<a href="http://orcid.org/0000-0003-4552-5997">Ashkbiz Danehkar</a>)
**Repository:** <a href="https://github.com/atomneb/AtomNeb-py" target ="_blank">https://github.com/atomneb/AtomNeb-py</a>
**Version:** v0.2.3
**Editor:** @arfon
**Reviewers:** @arfon
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-10-23 18:52] whedon commented on #2772
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-23 18:52] whedon commented on #2771
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02771/joss.02771/10.21105.joss.02771.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02771/joss.02771/10.21105.joss.02771.pdf) :page_facing_up: :point_left:

[2020-10-23 18:52] whedon commented on #2772
[code]

[2020-10-23 18:52] whedon commented on #2771
[code]

[2020-10-23 18:53] whedon commented on #2772
[code]

[2020-10-23 18:53] whedon commented on #2772
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: :point_left:

[2020-10-23 18:55] kyleniemeyer commented on #2771
@whedon invite @jedbrown as editor

[2020-10-23 18:55] whedon commented on #2771
@jedbrown has been invited to edit this submission.

[2020-10-23 18:55] kyleniemeyer commented on #2771
Hey @jedbrown, can you take this submission on?

[2020-10-23 19:00] marshallmcdonnell commented on #2767
Awesome, thanks!

[2020-10-23 19:04] raivivek commented on #2743
@fboehm I'm unable to edit the checklist — likely because my invitation expired before I could accept it. Would you be able to look into it? Thanks!

[2020-10-23 19:09] whedon opened #2773 "[PRE REVIEW]: pyEQUIB: Python Package for Plasma Diagnostics and Abundance Analysis"
**Submitting author:** @danehkar (<a href="http://orcid.org/0000-0003-4552-5997">Ashkbiz Danehkar</a>)
**Repository:** <a href="https://github.com/equib/pyEQUIB" target ="_blank">https://github.com/equib/pyEQUIB</a>
**Version:** v0.3.3
**Editor:** @arfon
**Reviewers:** @arfon
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2020-10-23 19:10] whedon commented on #2773
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-23 19:10] whedon commented on #2773
[code]

[2020-10-23 19:10] whedon commented on #2773
[code]

[2020-10-23 19:10] whedon commented on #2773
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02773/joss.02773/10.21105.joss.02773.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02773/joss.02773/10.21105.joss.02773.pdf) :page_facing_up: :point_left:

[2020-10-23 19:16] whedon opened #2774 "[PRE REVIEW]: CalValWaves: A Python package for wave reanalysis calibration with satellite altimeter data"
**Submitting author:** @javitausia (<a href="http://orcid.org/0000-0002-2299-2915">Javier Tausia Hoyal</a>)
**Repository:** <a href="https://github.com/javitausia/CalValWaves" target ="_blank">https://github.com/javitausia/CalValWaves</a>
**Version:** v.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-10-23 19:17] whedon commented on #2774
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-23 19:17] whedon commented on #2774
[code]

[2020-10-23 19:17] whedon opened #2775 "[PRE REVIEW]: The nnlib2 library and nnlib2Rcpp R package for implementing neural networks"
**Submitting author:** @VNNikolaidis (<a href="http://orcid.org/0000-0003-1471-8788">Vasilis Nikolaidis</a>)
**Repository:** <a href="https://github.com/VNNikolaidis/nnlib2Rcpp" target ="_blank">https://github.com/VNNikolaidis/nnlib2Rcpp</a>
**Version:** v0.1.5
**Editor:** @kakiac
**Reviewers:** @schnorr
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-10-23 19:17] whedon commented on #2774
PDF failed to compile for issue #2774 with the following error:

 pandoc: /images/calibration-satellite.png: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-23 19:17] whedon commented on #2775
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-23 19:17] whedon commented on #2774
[code]

[2020-10-23 19:18] whedon commented on #2775
[code]

[2020-10-23 19:18] whedon commented on #2775
[code]

[2020-10-23 19:18] whedon commented on #2775
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02775/joss.02775/10.21105.joss.02775.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02775/joss.02775/10.21105.joss.02775.pdf) :page_facing_up: :point_left:

[2020-10-23 19:21] kyleniemeyer commented on #2775
Hi @VNNikolaidis, I'm a bit confused about your repository—it is named "joss", when you should really be submitting the repository for one of the packages (probably the main R package). Is that what the repository contains, and it is just not called "nnlib2Rcpp" for some reason?

[2020-10-23 19:30] jgoldfar commented on #2715
Hello Tim; sorry for the delay. I would be happy to help, but will
probably not have time to complete the review well until December.
Best,
Jonathan Goldfarb

* Tim Tröndle <notifications@github.com> [2020-10-18 23:27:31 -0700]:

[2020-10-23 19:36] nwu63 commented on #2564
@poulson is there anything I need to do here? Or will the EiC take care of this when they get a chance?

[2020-10-23 19:47] kyleniemeyer commented on #2564
@nwu63 yes, I will take care of this today

[2020-10-23 20:03] kanishkan91 commented on #2755
@whedon check references

[2020-10-23 20:03] whedon commented on #2755
[code]

[2020-10-23 20:04] kanishkan91 commented on #2755
@whedon generate pdf

[2020-10-23 20:04] whedon commented on #2755
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02755/joss.02755/10.21105.joss.02755.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02755/joss.02755/10.21105.joss.02755.pdf) :page_facing_up: :point_left:

[2020-10-23 20:05] Nicolas-Schmidt commented on #2770
Dear @kyleniemeyer,  thank you very much for your message.  Please let us know if there is any additional information on the scope and/or context of our package/paper that we can provide to help the board make a decision.

In case you decide to send the paper for review, we would like to suggest @lorenanicole as editor and andrewheiss, cmaimone, soodoku, and rdrr1990 as potential reviewers.

[2020-10-23 20:09] kanishkan91 commented on #2755
Hi all,

As suggested, we have cut down the paper length and shifted some text to the documentation and the user tutorial. We have also fixed and checked the DOI's and addressed other comments. Do let us know if you need anything else from our side. Thanks!

[2020-10-23 20:21] VNNikolaidis commented on #2775
Dear Kyle, thank you for your comment. You are right, I misinterpreted the instructions in Submission Requirements (this is my first submission on JOSS). They state "Your paper (paper.md and BibTeX files, plus any figures) must be hosted in a Git-based repository together with your software (although they may be in a short-lived branch which is never merged with the default)".

Instead, I created

[2020-10-23 20:27] kyleniemeyer commented on #2775
@VNNikolaidis got it—yes, it would be great if you can add the paper to the actual repository (on a branch is fine). We can update the repository URL here, you do not need to resubmit. @openjournals/dev can you help with this?

[2020-10-23 20:46] lskatz commented on #2334
Thank you @lfaller !  We think that you had an excellent point that the documentation needs to be upfront on what it does specifically and so we added a [Main steps](https://github.com/lskatz/SneakerNet/blob/master/README.md#main-steps) section.

A large overhaul of the documentation might be difficult at this stage but hopefully that addresses at least, in a little part, your points 2 and 3.

You

[2020-10-23 20:54] VNNikolaidis commented on #2775
That's great, I will add the paper to the actual repository (or a branch) soon and get back to you. I would do it now, but I worry not to mess with the delicate R package structure as it is known to be strict, so I need to investigate this a little just to be sure.
Thank you again!

________________________________
From: Kyle Niemeyer <notifications@github.com>
Sent: Friday, October 23, 2020 8:27

[2020-10-23 21:24] eviatarbach commented on #2759
Thank you for considering me as a reviewer! While I would love to review this submission, I would unfortunately not be able to do it until December. So if that is okay with @bradyrx I would be happy to do it, but you may want a speedier review.

[2020-10-23 21:33] bradyrx commented on #2759
I think we'd prefer a speedier reviewer if possible, but if that's difficult to arrange we would be fine with December!

[2020-10-23 21:53] javitausia commented on #2774
Here there are some reviewers I think could be potential:

callumrollo, marda-science and dbuscombe-usgs, evaristor, rabernat,
dspelaez, DamienIrving, bradyrx, wingtorres, koldunovn, castelao,
ali-ramadhan...

as they are related with python, machine learning and oceanography!!

Regards ;)

El vie., 23 oct. 2020 a las 20:17, whedon (<notifications@github.com>)
escribió:

[2020-10-23 22:06] kyleniemeyer commented on #2775
@VNNikolaidis ok, sounds good. I will pause this until then.

[2020-10-23 22:24] darothen commented on #2759
@dhhagan I would be happy to serve as a reviewer if you still need one.

[2020-10-23 23:17] zhangfanmark commented on #2705
Above are my comments to DeepReg. Thanks.

[2020-10-24 01:43] lootie commented on #2463
@anowacki Thank you for your detailed comments! I am working my way through the issues now, and expect to get through them all by Monday.

[2020-10-24 03:01] cMadan commented on #2166
@whedon set v5.1.3 as version

[2020-10-24 03:01] whedon commented on #2166
OK. v5.1.3 is the version.

[2020-10-24 03:02] cMadan commented on #2166
@whedon set 10.5281/zenodo.4111006 as archive

[2020-10-24 03:02] whedon commented on #2166
OK. <a href="https://doi.org/10.5281/zenodo.4111006" target="_blank">10.5281/zenodo.4111006</a> is the archive.

[2020-10-24 03:02] cMadan commented on #2166
@whedon generate pdf

[2020-10-24 03:03] whedon commented on #2166
PDF failed to compile for issue #2166 with the following error:

 Can't find any papers to compile :-(

[2020-10-24 03:03] cMadan commented on #2166
@whedon generate pdf from branch paper-branch

[2020-10-24 03:03] whedon commented on #2166
[code]

[2020-10-24 03:04] whedon commented on #2166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02166/joss.02166/10.21105.joss.02166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02166/joss.02166/10.21105.joss.02166.pdf) :page_facing_up: :point_left:

[2020-10-24 03:14] danehkar commented on #2772
Invalid DOI was fixed.

[2020-10-24 03:14] danehkar commented on #2772
@whedon generate pdf

[2020-10-24 03:16] danehkar commented on #2772
@whedon commands

[2020-10-24 03:16] whedon commented on #2772
Here are some things you can ask me to do:

[code]

[2020-10-24 03:16] whedon commented on #2772
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: :point_left:

[2020-10-24 03:16] cMadan commented on #2166
@whedon accept

[2020-10-24 03:16] whedon commented on #2166
[code]

[2020-10-24 03:17] whedon commented on #2166
PDF failed to compile for issue #2166 with the following error:

 Can't find any papers to compile :-(

[2020-10-24 03:17] danehkar commented on #2773
@whedon commands

[2020-10-24 03:17] whedon commented on #2773
Here are some things you can ask me to do:

[code]

[2020-10-24 03:17] danehkar commented on #2773
@whedon generate pdf

[2020-10-24 03:18] whedon commented on #2773
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02773/joss.02773/10.21105.joss.02773.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02773/joss.02773/10.21105.joss.02773.pdf) :page_facing_up: :point_left:

[2020-10-24 03:19] danehkar commented on #2772
@whedon check references

[2020-10-24 03:22] whedon commented on #2772
[code]

[2020-10-24 03:23] cMadan commented on #2166
@whedon accept from branch paper-branch

[2020-10-24 03:23] whedon commented on #2166
[code]

[2020-10-24 03:24] whedon commented on #2166
[code]

[2020-10-24 03:24] whedon commented on #2166
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1849

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1849, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-24 06:15] kyleniemeyer commented on #2564
@whedon accept deposit=true

[2020-10-24 06:15] whedon commented on #2564
[code]

[2020-10-24 06:16] whedon commented on #2564
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1319885386022346752) 👈 🐦🐦🐦

[2020-10-24 06:16] whedon commented on #2564
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1850
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02564](https://doi.org/10.21105/joss.02564)
2. If everything looks g

[2020-10-24 06:19] kyleniemeyer commented on #2564
Congrats @nwu63 on your article's publication in JOSS!

Many thanks to @jgoldfar, @vissarion, and @matbesancon for reviewing this submission, and @poulson for editing.

[2020-10-24 06:19] #2564 closed

[2020-10-24 06:19] whedon commented on #2564
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02564/status.svg)](https://doi.org/10.21105/joss.02564)

**We need your help!**

Journal of Open Source Softwa

[2020-10-24 06:30] whedon opened #2776 "[PRE REVIEW]: PRDA: An R pakcage for Prospective and Retrospective Design Analysis"
**Submitting author:** @ClaudioZandonella (<a href="http://orcid.org/0000-0001-7721-6318">Claudio Zandonella Callegher</a>)
**Repository:** <a href="https://github.com/ClaudioZandonella/PRDA" target ="_blank">https://github.com/ClaudioZandonella/PRDA</a>
**Version:** v1.0.0.900
**Editor:** @cMadan
**Reviewers:** @DominiqueMakowski, @mmrabe
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced

[2020-10-24 06:30] whedon commented on #2776
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-24 06:30] whedon commented on #2776
[code]

[2020-10-24 06:30] whedon commented on #2776
[code]

[2020-10-24 06:31] whedon commented on #2776
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02776/joss.02776/10.21105.joss.02776.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02776/joss.02776/10.21105.joss.02776.pdf) :page_facing_up: :point_left:

[2020-10-24 06:37] gcdeshpande commented on #2506
Hi @pmkruyen, I have started the review. I will try to finish as early as possible. I have installed the app on my mobile phone. Need credentials. Kindly share the credentials.

[2020-10-24 06:41] kyleniemeyer commented on #2776
Hi @cMadan, I realize that R is outside your primary experience, but this seems to be up your alley. Could you edit this submission?

[2020-10-24 06:41] kyleniemeyer commented on #2776
@whedon invite @cMadan as editor

[2020-10-24 06:41] whedon commented on #2776
@cMadan has been invited to edit this submission.

[2020-10-24 06:44] whedon opened #2777 "[PRE REVIEW]: Omniscape.jl: Software to predict omni-directional landscape connectivity"
**Submitting author:** @vlandau (<a href="http://orcid.org/0000-0001-9290-9438">Vincent Landau</a>)
**Repository:** <a href="https://github.com/Circuitscape/Omniscape.jl" target ="_blank">https://github.com/Circuitscape/Omniscape.jl</a>
**Version:** v0.4.3
**Editor:** @melissawm
**Reviewers:** @juliohm, @tpoisot
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Du

[2020-10-24 06:44] whedon commented on #2777
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-24 06:44] whedon commented on #2777
Failed to discover a `Statement of need` section in paper

[2020-10-24 06:44] whedon commented on #2777
[code]

[2020-10-24 06:44] whedon commented on #2777
[code]

[2020-10-24 06:44] whedon commented on #2777
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02777/joss.02777/10.21105.joss.02777.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02777/joss.02777/10.21105.joss.02777.pdf) :page_facing_up: :point_left:

[2020-10-24 06:57] kyleniemeyer commented on #2777
Hey @karthik, I realize a Julia package is a bit outside your usual wheelhouse, but could you edit this one?

[2020-10-24 06:57] kyleniemeyer commented on #2777
@whedon invite @karthik as editor

[2020-10-24 06:58] whedon commented on #2777
@karthik has been invited to edit this submission.

[2020-10-24 06:58] whedon opened #2778 "[PRE REVIEW]: MiTfAT: A Python-based scikit-learn-friendly fMRI Analysis Tool, Made in Tuebingen."
**Submitting author:** @vahid-sb (<a href="http://orcid.org/0000-0001-6544-7960">Vahid S. Bokharaie</a>)
**Repository:** <a href="https://github.com/vahid-sb/MiTfAT" target ="_blank">https://github.com/vahid-sb/MiTfAT</a>
**Version:** v0.1.7
**Editor:** @arokem
**Reviewers:** @JonathanReardon, @emdupre
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-10-24 06:58] whedon commented on #2778
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-24 06:59] whedon commented on #2778
[code]

[2020-10-24 06:59] whedon commented on #2778
PDF failed to compile for issue #2778 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (90e95d3ba1bee68e7ed07805/paper.md): could not find expected ':' while scanning a simple key at line 23 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `p

[2020-10-24 06:59] whedon opened #2779 "[PRE REVIEW]: Synthia: multi-dimensional synthetic data generation in Python"
**Submitting author:** @dmey (<a href="http://orcid.org/0000-0002-7071-7547">D. Meyer</a>)
**Repository:** <a href="https://github.com/dmey/synthia" target ="_blank">https://github.com/dmey/synthia</a>
**Version:** 1.0.0
**Editor:** @oliviaguest
**Reviewers:** @khinsen, @mnarayan
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2020-10-24 06:59] whedon commented on #2779
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-24 06:59] whedon commented on #2779
[code]

[2020-10-24 06:59] whedon commented on #2779
PDF failed to compile for issue #2779 with the following error:

 Can't find any papers to compile :-(

[2020-10-24 07:00] kyleniemeyer commented on #2779
@whedon generate pdf from branch joss-paper

[2020-10-24 07:00] whedon commented on #2779
[code]

[2020-10-24 07:01] whedon commented on #2779
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02779/joss.02779/10.21105.joss.02779.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02779/joss.02779/10.21105.joss.02779.pdf) :page_facing_up: :point_left:

[2020-10-24 07:02] kyleniemeyer commented on #2779
@whedon query scope

[2020-10-24 07:02] whedon commented on #2779
Submission flagged for editorial review.

[2020-10-24 07:22] kyleniemeyer commented on #2779
Hi @dmey, thanks for your submission to JOSS. Due to the relatively small size of your software package, the editorial board is going to take a closer look at whether it falls within our scope.

[2020-10-24 07:25] kyleniemeyer commented on #2778
Hi @vahid-sb, it looks like the header of your paper may not be valid—please take a look at the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). It may just be missing the `---` line to close the YAML header section.

Also, your reference(s) should be contained in a .bib file, rather than hardcoded in the paper.

[2020-10-24 07:26] kyleniemeyer commented on #2778
@arokem could you edit this submission?

[2020-10-24 07:26] kyleniemeyer commented on #2778
@whedon invite @arokem as editor

[2020-10-24 07:26] whedon commented on #2778
@arokem has been invited to edit this submission.

[2020-10-24 07:31] pmkruyen commented on #2506
Hi @gcdeshpande, super! Can you drop me an email at p.m.kruyen@fm.ru.nl? I will send back to you the credentials. Thanks!

[2020-10-24 07:31] dmey commented on #2779
Hi @kyleniemeyer, many thanks for letting me know. In case this may be of relevance to the board, this package have been used in two papers (currently in preparation) which I am planning to submit in the next few weeks. Furthermore, the tool is novel in its approach and is likely to be cited in future machine learning (ML) groups.

[2020-10-24 08:10] vahid-sb commented on #2778
HI @kyleniemeyer, both issues are resolved now. Thanks for drawing my attention to them. Seems I deleted '---' after the header. Didn't know it is part of .md file commands. Also, reference is now read from a bib file.

[2020-10-24 08:28] VNNikolaidis commented on #2775
Not a long pause I am afraid. To avoid adding a directory that R-build may complain about<https://blog.r-hub.io/2020/05/20/rbuildignore/>, I followed the easy solution and created a branch (JOSS) with the paper content (no other changes). It can be found in https://github.com/VNNikolaidis/nnlib2Rcpp/tree/JOSS
I also removed the copy (joss repository) as it is no longer needed and may confuse someo

[2020-10-24 08:37] oliviaguest commented on #2675
@whedon set 10.5281/zenodo.4121953 as archive

[2020-10-24 08:37] whedon commented on #2675
OK. <a href="https://doi.org/10.5281/zenodo.4121953" target="_blank">10.5281/zenodo.4121953</a> is the archive.

[2020-10-24 08:38] oliviaguest commented on #2675
@Thyre @miriammenzel I think the repository on zenodo needs to have the same title as the paper, but otherwise, great! ☺️

[2020-10-24 08:40] oliviaguest commented on #2675
@whedon check references

[2020-10-24 08:40] whedon commented on #2675
[code]

[2020-10-24 08:42] oliviaguest commented on #2675
@Thyre @miriammenzel Can you also fix those missing DOIs too and recompile with:
[code]

Ta!

[2020-10-24 08:44] oliviaguest commented on #2674
@whedon set v0.3 as version

[2020-10-24 08:44] whedon commented on #2674
OK. v0.3 is the version.

[2020-10-24 08:47] miriammenzel commented on #2675
@whedon generate pd

[2020-10-24 08:47] whedon commented on #2675
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-24 08:47] oliviaguest commented on #2674
@alexrockhill can you change the title of the zenodo repo to match the title of your paper, please? ☺️

[2020-10-24 08:47] miriammenzel commented on #2675
@whedon generate pdf

[2020-10-24 08:47] oliviaguest commented on #2674
@whedon check references

[2020-10-24 08:48] whedon commented on #2674
[code]

[2020-10-24 08:48] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-10-24 08:48] oliviaguest commented on #2674
@whedon set 10.5281/zenodo.4122049 as archive

[2020-10-24 08:48] whedon commented on #2674
OK. <a href="https://doi.org/10.5281/zenodo.4122049" target="_blank">10.5281/zenodo.4122049</a> is the archive.

[2020-10-24 08:49] oliviaguest commented on #2674
@whedon accept

[2020-10-24 08:49] whedon commented on #2674
[code]

[2020-10-24 08:49] whedon commented on #2674
[code]

[2020-10-24 08:50] whedon commented on #2674
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1851

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1851, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-24 08:52] miriammenzel commented on #2675
@oliviaguest We were not aware that the repository on zenodo needs to have the same title as the paper. We thought it should have the same title as the software and the documentation. Is this a problem? (I'm not sure if we can change this without changing the DOI.)
We have added the missing DOIs to the paper.

[2020-10-24 09:13] oliviaguest commented on #2675
@miriammenzel see: https://help.zenodo.org/

[2020-10-24 09:14] oliviaguest commented on #2675
@whedon accept

[2020-10-24 09:14] whedon commented on #2675
[code]

[2020-10-24 09:14] whedon commented on #2675
[code]

[2020-10-24 09:15] whedon commented on #2675
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1852

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1852, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-24 09:35] dmey commented on #2779
@kyleniemeyer just as clarification to my previous message -- as I am going to upload the scientific papers that make use of/cite Synthia on arXiv in a couple of weeks while their peer-review takes place, I can update this thread with links to those respective papers. Originally, I thought that this was going to be discussed during review but I am more than happy to wait here if that will make it

[2020-10-24 09:59] nwu63 commented on #2564
Hi @kyleniemeyer and everyone else involved in this, thanks so much! Just one quick question: there is an incorrect capitalization in the author list [here](https://joss.theoj.org/papers/10.21105/joss.02564), `Joaquim R. r. a. Martins` should be `Joaquim R. R. A. Martins`, is there a way to fix that?

[2020-10-24 10:17] miriammenzel commented on #2675
@oliviaguest I have changed the title of the repository on zenodo accordingly. Everything should be all set now. Thanks again for the review.

[2020-10-24 11:14] haesleinhuepf commented on #2689
Hey @bogovicj, just FYI: I screwed up the checkboxes in your todo-list. I think I reverted everything. Just take little extra case ;-) Apologies.

[2020-10-24 11:37] haesleinhuepf commented on #2689
Hi @jni, @bogovicj and @d-tear,

I'll just summarize my review in case I get distracted again.  ;-)

This project is a fantastic contribution to the ImageJ ecosystem. The three plugins for anonymisation (pseudonymisation?), phenotype-scoring and region-of-interest management are very useful, especiallly in the context of wet-lab imaging science. In many projects, automated image analysis is not at

[2020-10-24 14:30] arfon commented on #2654
@martin-millon - not directly but you can hack it using [this script](https://github.com/mattpitkin/psrqpy/blob/master/paper/Makefile) from this issue: https://github.com/openjournals/joss/issues/132

[2020-10-24 15:23] alexrockhill commented on #2674
Fixed!

Yay thank you all for the review, it was a very positive and helpful experience!

[2020-10-24 18:35] karthik commented on #2777
👋 @kyleniemeyer
Thanks for the invitation. This submission is well outside my scope of expertise. I also had a very challenging time finding reviewers last time I handled a Julia submission.  For these reasons I'd like to decline this one. 🙏

[2020-10-24 19:09] raivivek commented on #2743
@fboehm I am still unable to edit the checklist. I noticed that something similar happened in another thread and `whedon` was used with the following command: `@whedon re-invite @libertyh as reviewer` — perhaps this could help. Sorry for the trouble.

[2020-10-24 19:22] bogovicj commented on #2689
Hi @d-tear, @jni , @haesleinhuepf

Thanks David for your contribution!

Installation was easy and as described in the paper. The need for the software was well-motivated. For users, the tools are intuitive to use and quick to learn, especially given the video tutorials the authors provide.

As well, I quite like the logging mechanism that keeps track of what images users have already analyzed. Tha

[2020-10-24 19:42] diehlpk commented on #2291
@ctdegroot Is it working for you ?

[2020-10-24 21:02] d-tear commented on #2689
Hi @jni
<https://urldefense.com/v3/__https://github.com/jni__;!!LIr3w8kk_Xxm!_U7Nbabchvz-kBYleZmBizKicTUJQCQ1SmDnNak-HLRVjh5Jo0_mf2_mQLM5Fw$>
 , @haesleinhuepf
<https://urldefense.com/v3/__https://github.com/haesleinhuepf__;!!LIr3w8kk_Xxm!_U7Nbabchvz-kBYleZmBizKicTUJQCQ1SmDnNak-HLRVjh5Jo0_mf2_OP2FJRA$>,
and @bogovicj
<https://urldefense.com/v3/__https://github.com/bogovicj__;!!LIr3w8kk_Xxm!8_Sx2_U

[2020-10-24 21:26] arbennett commented on #2483
@whedon generate pdf

[2020-10-24 21:27] whedon commented on #2483
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02483/joss.02483/10.21105.joss.02483.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02483/joss.02483/10.21105.joss.02483.pdf) :page_facing_up: :point_left:

[2020-10-24 22:36] arbennett commented on #2483
I've re-looked at things and several of my initial issues have been solved, but it looks like work hasn't quite completed on all of them. The updated documentation looks really great and is very in depth - thank you for that! It seems the tutorials and examples still haven't quite been updated to run through smoothly. From what I can see this is still a known issue, as there are open issues on the

[2020-10-24 23:10] usethedata commented on #2483
@arbennett I do work in and around ecosystem resiliency and work with others who do.  I'll take a particular look at that part.

[2020-10-25 00:32] usethedata commented on #2553
Pausing pre-review until reviewers can be identified, which is waiting for further recommendations from the authors.

[2020-10-25 01:19] vlandau commented on #2777
Timothee Poisot (tpoisot) has offered to review this paper/software. From the spreadsheet of potential reviewers, arbennett, r-barnes, and juliohm look like excellent fits.

[2020-10-25 08:29] pmkruyen commented on #2506
Hi @gcdeshpande, did you succeed with the credentials? Cheers, Peter

[2020-10-25 09:03] arfon commented on #2708
@akbaritabar, @marcjwilliams1, @martinmodrak - how are you getting on with your reviews here? Please note we try to _complete_ the review process in 6 weeks which means that it's helpful for you all to provide initial feedback to the authors earlier than this.

[2020-10-25 09:04] arfon commented on #2408
:wave: @kakiac - how are we doing here? Is this paper nearly ready to go?

[2020-10-25 09:08] arfon commented on #2546
:wave: @gkthiruvathukal - it looks like this submission is still waiting on you to find a second reviewer?

[2020-10-25 09:08] arfon commented on #2679
:wave: @kyleniemeyer - it looks like this submission is still waiting on you to find a second reviewer before moving forward?

[2020-10-25 09:09] arfon commented on #2645
:wave: @fcooper8472, @MiroK, @meg-simula - how are things going here? I see that @fcooper8472 & @MiroK haven't made much progress with your reviews yet?

[2020-10-25 09:10] arfon commented on #2588
:wave: @kyleniemeyer - it looks like this submission is still waiting on you to identify reviewers?

[2020-10-25 09:12] arfon commented on #2107
:wave: @trallard - it might be a good idea to try contacting our reviewers via email at this point? Many of our reviewers struggle with GitHub notifications and I'm wondering if this review has got lost in the noise :-/

[2020-10-25 09:19] arfon commented on #2530
:wave: @lorenanicole - I'm going to go ahead and add @sara-02 here as a reviewer and move this to review.

[2020-10-25 09:19] arfon commented on #2530
@whedon add @sara-02 as reviewer

[2020-10-25 09:19] whedon commented on #2530
OK, @sara-02 is now a reviewer

[2020-10-25 09:20] arfon commented on #2530
@whedon start review

[2020-10-25 09:20] whedon opened #2780 "[REVIEW]: Social-Annotate: Browser extension to annotate and collect social media data"
**Submitting author:** @onurvarol (<a href="http://orcid.org/0000-0002-3994-6106">Onur Varol</a>)
**Repository:** <a href="https://github.com/uluturki/social-annotate" target ="_blank">https://github.com/uluturki/social-annotate</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @davekinkead, @sara-02
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-10-25 09:20] whedon commented on #2530
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2780.

[2020-10-25 09:20] #2530 closed

[2020-10-25 09:20] whedon commented on #2780
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @davekinkead, @sara-02 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-10-25 09:20] whedon commented on #2780
Reminder set for @davekinkead in 1 week

[2020-10-25 09:20] whedon commented on #2780
Reminder set for @sara-02 in 1 week

[2020-10-25 09:20] whedon commented on #2780
[code]

[2020-10-25 09:20] arfon commented on #2530
@davekinkead, @sara-02 - thank you both so much for agreeing to review this submission! @lorenanicole will be your editor over in #2780 - I'm just helping out here as one of the EiCs on rotation to move this forward.

See you over in #2780 where the actual review will take place.

[2020-10-25 09:20] whedon commented on #2780
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02780/joss.02780/10.21105.joss.02780.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02780/joss.02780/10.21105.joss.02780.pdf) :page_facing_up: :point_left:

[2020-10-25 09:22] arfon commented on #2780
@davekinkead, @sara-02 - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied

[2020-10-25 09:27] arfon commented on #2512
@terrytangyuan - looks like we have one reviewer here (@ablaom) and just need to find one more before we can move this to review.

[2020-10-25 09:27] arfon commented on #2512
@whedon add @ablaom as reviewer

[2020-10-25 09:27] whedon commented on #2512
OK, @ablaom is now a reviewer

[2020-10-25 09:32] arfon commented on #2572
@onlytailei @pifon2a @ojura - would you be interested in reviewing this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [_SLAM Toolbox: SLAM for the dynamic world_](https://github.com/SteveMacenski/slam_toolbox), the paper we'd ask you to re

[2020-10-25 09:35] akbaritabar commented on #2730
Thanks for asking dear @sbenthall, I am sorry, but I won't be available.

[2020-10-25 09:36] arfon commented on #2047
@whedon withdraw

:wave: all, this submission has now been open for nearly nine months without any progress. At this point I'm going to withdraw this submission on behalf of the author. If @nicoguaro has time to make the suggested changes, we can always revisit this in the form of a resubmission to JOSS.

[2020-10-25 09:36] whedon commented on #2047
Paper withdrawn.

[2020-10-25 09:36] #2047 closed

[2020-10-25 09:41] arfon commented on #1584
@whedon remind @arfon in three weeks

:wave: @holtgrewe @mikkonie - this submission has now not made any progress in more than six months. Unless we hear back on your intent to wrap this submission up in the next three weeks, we will move forward to withdraw the submission on your behalf.

[2020-10-25 09:41] whedon commented on #1584
@arfon doesn't seem to be a reviewer or author for this submission.

[2020-10-25 09:44] arfon commented on #1740
@csoneson - I agree with your assessment here. Let's give this a couple more weeks but if we don't have a clear statement of intent from the authors by then we should close this submission.

[2020-10-25 09:46] arfon commented on #1752
@KingZee - do you think you will have the time to restart working on this submission within the next few weeks or so? If not, in order to respect the reviewers' time and availability committment, I will propose to close (reject) this submission, and invite a resubmission at a later point in time.

[2020-10-25 09:52] arfon commented on #2062
@cscherrer - do you think you will have the time to restart working on this submission within the next few weeks or so? If not, in order to respect the reviewers' time and availability committment, I will propose to close (reject) this submission, and invite a resubmission at a later point in time.

[2020-10-25 09:52] arfon commented on #2095
@kyleniemeyer - I think we're going to need to find an alternative reviewer here?

[2020-10-25 09:53] KingZee commented on #1752
@arfon Absolutely, I was working through the bullet points but due to COVID I was unfortunately unable to continue work on anything for the last quarter or so, I will now get back into finishing up what was left.

[2020-10-25 09:53] arfon commented on #2097
@egemose - do you think you will have the time to restart working on this submission within the next few weeks or so? If not, in order to respect the reviewers' time and availability committment, I will propose to close (reject) this submission, and invite a resubmission at a later point in time.

[2020-10-25 09:56] arfon commented on #2124
@rhagenson@ @marcosvital - it looks like this submission is *very* close to crossing the line here. Is there anything we can do to help you wrap this up :soon: ?

@djmitche apologies for this. @whedon 'helpfully' goes around looking for missing assignments on JOSS issues every 24 hours so even if you unassigned yourself, you'll get reassigned by Whedon.

[2020-10-25 09:57] arfon commented on #2153
@whedon re-invite @UTH-Tuan as reviewer

[2020-10-25 09:57] whedon commented on #2153
@uth-tuan already has access.

[2020-10-25 09:58] arfon commented on #2167
@SuperKogito - do you think you will have the time to restart working on this submission within the next few weeks or so? If not, in order to respect the reviewers' time and availability committment, I will propose to close (reject) this submission, and invite a resubmission at a later point in time.

[2020-10-25 10:01] arfon commented on #2190
@whedon withdraw

:wave: as this submission has been waiting for a new release for some months now, I'm going to go ahead and withdraw this submission on behalf of the submitting author.

@CarstenCroonenbroeck - when you are ready to resubmit having addressed the feedback above, please do so.

[2020-10-25 10:01] whedon commented on #2190
Paper withdrawn.

[2020-10-25 10:01] #2190 closed

[2020-10-25 12:26] AlexMikes commented on #2362
@gkthiruvathukal When I went to look at the issues from @srmnitc, I found some issues from @e-dub from September 18th. So even though he does not seem to be responding here, he still opened some issues. Has he been removed as a reviewer for a lack of communication? Most of the issues he opened are reflected in the issues from @srmnitc, can they be removed since he is not a reviewer?

[2020-10-25 12:29] fcooper8472 commented on #2645
@arfon you're absolutely right - my apologies!  I'll get cracking on it this afternoon.

[2020-10-25 12:52] MiroK commented on #2645
Sorry for the delay. I'll get to it next week

[2020-10-25 13:26] dhhagan commented on #2759
@darothen Great! I'll add you as a reviewer.

[2020-10-25 13:26] dhhagan commented on #2759
@whedon add @darothen as a reviewer

[2020-10-25 13:26] whedon commented on #2759
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-25 13:27] dhhagan commented on #2759
@whedon add @darothen as reviewer

[2020-10-25 13:27] whedon commented on #2759
OK, @darothen is now a reviewer

[2020-10-25 13:28] dhhagan commented on #2759
@whedon start review

[2020-10-25 13:28] whedon opened #2781 "[REVIEW]: climpred: Verification of weather and climate forecasts"
**Submitting author:** @bradyrx (<a href="http://orcid.org/0000-0002-2309-8245">Riley Brady</a>)
**Repository:** <a href="https://www.github.com/pangeo-data/climpred" target ="_blank">https://www.github.com/pangeo-data/climpred</a>
**Version:** v2.1.2
**Editor:** @dhhagan
**Reviewers:** @neerajdhanraj, @samjsilva91
**Archive:** <a href="https://doi.org/10.5281/zenodo.4556086" target="_blank">10.52

[2020-10-25 13:28] whedon commented on #2759
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2781.

[2020-10-25 13:28] #2759 closed

[2020-10-25 13:28] whedon commented on #2781
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @neerajdhanraj, @darothen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-10-25 13:28] whedon commented on #2781
Reminder set for @neerajdhanraj in 1 week

[2020-10-25 13:28] whedon commented on #2781
Reminder set for @darothen in 1 week

[2020-10-25 13:28] whedon commented on #2781
[code]

[2020-10-25 13:29] whedon commented on #2781
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02781/joss.02781/10.21105.joss.02781.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02781/joss.02781/10.21105.joss.02781.pdf) :page_facing_up: :point_left:

[2020-10-25 14:27] m-maheu-giroux commented on #1740
Hi,

Thanks for your patience.
The intent was still to refine the submission by addressing the few outstanding comments by the reviewers. However, my co-authors and I are not in a position to do so within the next few weeks. We unfortunately have to agree with your proposition to close (reject) the submission.

Again, I would like to thank @ellessenne  and @seabbs  for their time reviewing the pac

[2020-10-25 14:58] darothen commented on #2781
Hello @dhhagan, confirming on my end that things are set up correctly and will dive in with the review as soon as possible.

[2020-10-25 15:04] apalarcon commented on #2479
Hi @dhhagan
I would like to know the status of the review.

[2020-10-25 15:32] jamesheathers commented on #2621
Hello all,

My apologies for the delay. There was also another problem: I can't find anything to change here.

* I got this to run cleanly and straightforwardly with a fresh install of Miniconda
* All of the core functionality I would expect for a R-peak/systolic interval detector is present, and it all works to a higher reliability than simpler peak detection methods
* I gave it an engineer (not

[2020-10-25 15:33] jvdkwast commented on #2537
Apologies for the late response. I switched off too many notifications.
The updated article as well as the documentation takes into account well the comments.
I recommend to accept this submission.
I still couldn't run the tests successfully on my machine, but I think that it is because of my lack of knowledge to run these test tools.

[2020-10-25 15:42] gkthiruvathukal commented on #2362
@AlexMikes Yes, but I'd make one amendment to this.  In software engineering, we generally don't delete issues. We simply mark them as resolved. What you could do is make a comment for each of these issues. Since they are duplicates (or near duplicates), it should be easy to link to the other issue in the comments field and mark it closed.  It is my understanding we don't usually remove a reviewer

[2020-10-25 16:27] kbarnhart commented on #2407
@sadielbartholomew I wanted to get a sense on when you anticipate completing your review. Thanks!

[2020-10-25 17:25] kyleniemeyer commented on #2564
@openjournals/dev can you help with this? the issue is in the author list on the landing page—the paper itself is fine

[2020-10-25 17:28] kyleniemeyer commented on #2674
@alexrockhill Hi there, I am the EIC on duty this week doing some final checks before publishing. There are just a few things I noticed:

- Can you break up the text of your article into paragraphs? Right now it sort of looks like a wall of text in each section.
- Can you add your co-authors to the Zenodo archive? That author list should match the paper as well.

[2020-10-25 17:30] kyleniemeyer commented on #2679
Hi @arosen93, would you be interested in reviewing this submission? Thanks!

[2020-10-25 17:36] kyleniemeyer commented on #2675
Hi @miriammenzel, I'm the EIC on duty this week doing final checks before publishing. Could you address these issues?

- [ ] The article is missing a [Statement of Need section](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), which we have begun requiring for articles. You can likely use text that is already present in the article.
- [ ] There are a few citatio

[2020-10-25 17:38] kyleniemeyer commented on #2588
Hello @ngoiz and @chennachaos, would you be available to review this submission for JOSS, the Journal of Open Source Software?

[2020-10-25 17:40] kyleniemeyer commented on #2778
@whedon generate pdf

[2020-10-25 17:40] whedon commented on #2778
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02778/joss.02778/10.21105.joss.02778.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02778/joss.02778/10.21105.joss.02778.pdf) :page_facing_up: :point_left:

[2020-10-25 17:41] arosen93 commented on #2679
@kyleniemeyer -- thanks for reaching out. Seems like a cool package and normally would be up my alley to review, but unfortunately I don't have the time to provide a thorough review right now.

[2020-10-25 17:49] kyleniemeyer commented on #2576
Hi @valeriewelborn, I am the EIC on duty doing some final checks before publishing your article. There are some minor issues in the paper, could you address these?

- [ ] Most of the citations appear after the period in their sentences—could you move the citation commands to include them in the sentences?
- [ ] Could you put commas after "i.e." throughout? I noticed particularly in the third and f

[2020-10-25 17:50] oliviaguest commented on #2621
@JanCBrammer awesome, I think all reviewers are happy now. Can you please deposit the code on zenodo or similar and post the DOI back here? ☺️

[2020-10-25 17:53] kyleniemeyer commented on #2166
Hi @hvgazula, I'm the EIC on duty this week, doing some final checks before publishing your article.

The only thing I noticed is that your article is missing an explicit [Statement of Need section](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), which we have begun requiring for all articles. Can you add this? You might be able to just rename an existing secti

[2020-10-25 17:55] kyleniemeyer commented on #2775
@whedon generate pdf from-branch=JOSS

[2020-10-25 17:56] whedon commented on #2775
PDF failed to compile for issue #2775 with the following error:

 Can't find any papers to compile :-(

[2020-10-25 17:56] kyleniemeyer commented on #2775
@whedon generate pdf from branch JOSS

[2020-10-25 17:56] whedon commented on #2775
[code]

[2020-10-25 17:57] whedon commented on #2775
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02775/joss.02775/10.21105.joss.02775.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02775/joss.02775/10.21105.joss.02775.pdf) :page_facing_up: :point_left:

[2020-10-25 17:59] kyleniemeyer commented on #2679
Hi @fwitte, would you be interested in reviewing this submission for JOSS? Thank you!

[2020-10-25 18:00] kyleniemeyer commented on #2778
@vahid-sb thanks, looks good now. I'll wait on @arokem to (hopefully) take over soon and identify reviewers.

[2020-10-25 18:00] kyleniemeyer commented on #2775
@karthik would you be able to edit this one instead?

[2020-10-25 18:05] kyleniemeyer commented on #2507
Hi @xillig, I'm the EIC on duty this week, doing some final checks before publishing. Can

- [ ] Please edit the Zenodo archive author list to match the paper—it looks like @trallard got included!
- [ ] Your article is missing an explicit [Statement of Need section](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), which we have begun requiring for articles. Can

[2020-10-25 18:08] kyleniemeyer commented on #2585
@whedon accept deposit=true

Looks good to me!

[2020-10-25 18:08] whedon commented on #2585
[code]

[2020-10-25 18:09] whedon commented on #2585
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320427343580725249) 👈 🐦🐦🐦

[2020-10-25 18:09] whedon commented on #2585
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1853
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02585](https://doi.org/10.21105/joss.02585)
2. If everything looks g

[2020-10-25 18:11] kyleniemeyer commented on #2643
Hi @AngryMaciek, I'm the EIC on duty this week doing some final checks. I only noticed one minor issue: a typo in "e.g" in the second paragraph. Could you fix with "e.g.,"? Thanks!

[2020-10-25 18:12] alexrockhill commented on #2674
Thanks for the copy editing, @kyleniemeyer, those suggested changes have been implemented!

[2020-10-25 18:14] kyleniemeyer commented on #2777
@karthik understood, no worries.

Hi @melissawm, as one of our "official" Julia editors 😀, could you take this on?

[2020-10-25 18:17] kyleniemeyer commented on #2674
@whedon accept

[2020-10-25 18:17] whedon commented on #2674
[code]

[2020-10-25 18:17] whedon commented on #2674
[code]

[2020-10-25 18:17] hvgazula commented on #2166
Done. Thanks for letting me know about it. Really appreciate it.

[2020-10-25 18:18] whedon commented on #2674
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1854

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1854, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-25 18:18] kyleniemeyer commented on #2674
@alexrockhill looks good, thanks!

[2020-10-25 18:18] kyleniemeyer commented on #2674
@whedon accept deposit=true

[2020-10-25 18:18] whedon commented on #2674
[code]

[2020-10-25 18:19] kyleniemeyer commented on #2166
@whedon generate pdf

[2020-10-25 18:19] whedon commented on #2674
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1320429822632431617) 👈 🐦🐦🐦

[2020-10-25 18:19] whedon commented on #2674
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1855
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02674](https://doi.org/10.21105/joss.02674)
2. If everything looks g