[2020-01-12 18:45] vitorsr commented on #1822
@Kevin-Mattheus-Moerman the version v0.1 is still accurate. The DOI of the archived version is [10.5281/zenodo.3367760](https://doi.org/10.5281/zenodo.3367760) (all versions, resolves to the latest archive.)

[2020-01-12 22:33] marcharper commented on #1931
I am declaring a potential conflict (IMO very minor)  -- this library uses torch/pytorch, my current employer creates a competing package (tensorflow) which I have not contributed to.

Authors: Feiyu Chen appears to have written the vast majority of the code along with another contributor, David Sondak. The two other authors do not appear to have contributed to the code AFAICT and are collaborator

[2020-01-13 04:55] arokem commented on #1785
Thank you.

@BIPL-HORIE : have you had a chance to take a look at the reviewers' comments?

[2020-01-13 08:36] Kevin-Mattheus-Moerman commented on #1822
@whedon set 10.5281/zenodo.3367760 as archive

[2020-01-13 08:36] whedon commented on #1822
OK. <a href="https://doi.org/10.5281/zenodo.3367760" target="_blank">10.5281/zenodo.3367760</a> is the archive.

[2020-01-13 08:37] Kevin-Mattheus-Moerman commented on #1822
@vitorsr please amend the archive title to match the title of your paper

[2020-01-13 08:44] Kevin-Mattheus-Moerman commented on #2010
@johannes-titz the editorial board has decided this submission (which is clearly useful, and well developed and documented) is unfortunately not suitable for consideration in JOSS at present. In particular it is classified as a "minor utility package" (see our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements)).
We hope you consider JOSS for fu

[2020-01-13 08:45] Kevin-Mattheus-Moerman commented on #2010
@whedon reject

[2020-01-13 08:45] whedon commented on #2010
Paper rejected.

[2020-01-13 08:49] Kevin-Mattheus-Moerman commented on #1441
@jedbrown I've ticked those last boxes and hereby recommend acceptance in JOSS. My sincere apologies for the delay in my review.

@likask et al. great work developing MoFEM, excited to see where this project is going.

[2020-01-13 08:51] jwuttke commented on #1907
ok, I'll give it a try

[2020-01-13 08:52] jwuttke commented on #1907
will we get some more instructions, or shall we just start, following the guidelines linked above?

[2020-01-13 09:16] likask commented on #1441
Thanks @Kevin-Mattheus-Moerman
It is a work in progress.

[2020-01-13 09:21] neuroimaginador commented on #1862
Thank you, @benoit-combes for addressing my issues, I'm more than satisfied with this package, since it may be very useful to get people from neuroimaging into R. I have already closed all my issues. Thanks.

[2020-01-13 09:44] benoit-combes commented on #1862
@neuroimaginador. Thanks for this relevant suggestion. I modified the testing strategy following your suggestion. I hope everythink is now ok to you, if for any reason it is not the case, please let me know.

[2020-01-13 10:48] johannes-titz commented on #1900
@oliviaguest @russellpierce I can wait another 3-4 weeks. Thanks for the update.

@oliviaguest Thanks a lot for the website to check the preprint policy of journals. I am still a bit hesitant as I might submit to other journals (with other policies) if the papers are rejected (which is always a risk). If you feel an explanation of the cognitive model is needed, I will add one in the documentation

[2020-01-13 12:03] danielskatz commented on #1907
I'll add you, then create an issue for the review, which will have instructions

[2020-01-13 12:03] danielskatz commented on #1907
@whedon add @jwuttke as reviewer

[2020-01-13 12:03] whedon commented on #1907
OK, @jwuttke is now a reviewer

[2020-01-13 12:03] danielskatz commented on #1907
@whedon start review

[2020-01-13 12:03] whedon opened #2011 "[REVIEW]: CaPS: Casimir Effect in the Plane-Sphere Geometry"
**Submitting author:** @michael-hartmann (<a href="http://orcid.org/0000-0002-9245-8582">Michael Hartmann</a>)
**Repository:** <a href="https://github.com/michael-hartmann/caps/" target ="_blank">https://github.com/michael-hartmann/caps/</a>
**Version:** 0.5
**Editor:** @danielskatz
**Reviewer:** @eschnett, @jwuttke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3627969" target="_blank">10.5

[2020-01-13 12:03] whedon commented on #1907
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2011. Feel free to close this issue now!

[2020-01-13 12:03] whedon commented on #2011
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eschnett, @jwuttke it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2020-01-13 12:03] whedon commented on #2011
[code]

[2020-01-13 12:04] whedon commented on #2011
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02011/joss.02011/10.21105.joss.02011.pdf)

[2020-01-13 12:07] danielskatz commented on #2011
HI @eschnett & @jwuttke - thanks for agreeing to review this submission!

Your job is to review the [paper](https://github.com/openjournals/joss-papers/blob/joss.02011/joss.02011/10.21105.joss.02011.pdf) and the repository according to the criteria in your review list in the first comment in this issue, and check things off as you find them satisfactory. If you see things that you think need to be

[2020-01-13 12:07] whedon opened #2012 "[PRE REVIEW]: MAGPA: A R package for multivariate analysis of genotype–phenotype association and visualization of 3D image"
**Submitting author:** @changebio (<a href="http://orcid.org/0000-0003-1055-2602">Yin Huang</a>)
**Repository:** <a href="https://github.com/changebio/MAGPA" target ="_blank">https://github.com/changebio/MAGPA</a>
**Version:** V1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @changebio. **Currently, there isn't an JOSS editor assig

[2020-01-13 12:07] whedon commented on #2012
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-13 12:08] whedon commented on #2012
[code]

[2020-01-13 12:08] whedon commented on #2012
Failed to discover a valid open source license.

[2020-01-13 12:08] whedon commented on #2012
[code]

[2020-01-13 12:08] whedon commented on #2012
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02012/joss.02012/10.21105.joss.02012.pdf)

[2020-01-13 12:10] chkoar commented on #2005
Dear @arfon,

Hopefully, this will be my last reply.

As a feedback, you should state how they differ with the past? As I said previously my motivation for submission were past accepted papers and JOSS' [about](https://joss.theoj.org/about) page.

Please, don't get me wrong. The whole thing is not about my rejection. But, it seems strange (apart from your change of scope) that an open journal like

[2020-01-13 12:11] oliviaguest commented on #1900
@whedon remind @russellpierce in two weeks

[2020-01-13 12:11] whedon commented on #1900
Reminder set for @russellpierce in two weeks

[2020-01-13 12:37] ThomasPak commented on #1716
@whedon generate pdf

[2020-01-13 12:37] whedon commented on #1716
PDF failed to compile for issue #1716 with the following error:

 Error producing PDF.
! Argument of \caption@ydblarg has an extra }.
<inserted text>
                \par
l.534 wiki} for more details.}

Looks like we failed to compile the PDF

[2020-01-13 12:38] martinju commented on #1948
@terrytangyuan
Since ja-thomas does not seem to answer I am suggesting a new list of potential reviewers:

expectopatronum, agisga, schalkdaniel, robohyun66, road2stat, ajank

[2020-01-13 12:45] ThomasPak commented on #1716
@whedon generate pdf

[2020-01-13 12:46] whedon commented on #1716
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01716/joss.01716/10.21105.joss.01716.pdf)

[2020-01-13 12:49] vitorsr commented on #1822
Fixed. Sorry for the oversight.

[2020-01-13 12:51] JonasKemmer commented on #1771
Hey @wtgee,
also thanks to you for your comments. Automated testing is for sure on our bucket list, however at this stage not feasible to implement. We added a reference to the `contributing.md` in the `README.md` as suggested and also included some of your spelling and grammar corrections, where we found it appropriate. Also we updated the example plot. Regarding your comment on the residual plot

[2020-01-13 13:00] jgonggrijp commented on #1800
@statsmaths @arfon I completed my review. I just opened three new issues (referenced right above this post), one of which is acceptance-blocking in my opinion (https://github.com/distant-viewing/dvt/issues/17) and one of which I'm not sure whether it should be acceptance-blocking or not (https://github.com/distant-viewing/dvt/issues/16). The latter might or might not be due to “limited options” be

[2020-01-13 13:10] meg-simula commented on #1929
Hi @raphaeltimbo, thank you very much for this submission and the suggested reviewers - my apologies for the delay in editorial handling. Before we proceed, could I ask you to briefly elaborate on the (potential) use of ROSS as *research* software?

[2020-01-13 13:16] meg-simula commented on #1701
Hi @gbertoldo @HaoZeke and @dham. I'm just checking in on this review. How are matters proceeding? What would you say is needed to make further progress?

[2020-01-13 13:31] meg-simula commented on #1848
Thanks @fcooper8472, glad to hear that you are working on the matter.

I'm working on finding a replacement second reviewer, but it is taking some time - thanks for your patience on this matter.

[2020-01-13 13:41] leouieda commented on #1808
Waiting on a reply from @ThomasLecocq. If we don't hear back, I'll start looking for another reviewer (or probably just assign myself as a reviewer). Thanks for your patience @trichter :slightly_smiling_face:

[2020-01-13 13:45] meg-simula commented on #1963
Hi @DorianDepriester, thank you for the submission! This looks nicely in scope for JOSS.

@lheagy @streeve @ralfHielscher Would you be willing and available to review this submission?

[2020-01-13 14:06] jwuttke commented on #2011
I submitted 7 issues. Otherwise I am very satisfied with project & paper, and I recommend acceptance in JOSS.

[2020-01-13 14:06] leouieda commented on #1797
@jmansour thank you for the update. I submitted a PR with some editorial fixes (mostly references and citation style). Let me know once you review and merge these changes.

[2020-01-13 14:09] leouieda commented on #1720
@sam-greenwood not really. What you can do for now is pad your figures with white space. Bear in mind that JOSS papers are not supposed to serve as documentation for the software. That's why we provide limited resources for styling and figures. Also note that the figure number is generated automatically, so you don't have to include "Figure 1" in your captions.

[2020-01-13 14:10] leouieda commented on #1720
As @banesullivan suggested:

[2020-01-13 14:12] leouieda commented on #1720
:wave: Hi @banesullivan @malmans2 just checking on the status of this review after the holiday. I noticed that there are many unchecked items in the Functionality and Documentation sections. Have these been addressed, raised as issues, or not reviewed yet?

[2020-01-13 14:13] danielskatz commented on #2011
Thanks!

Can you put the URL of this issue (https://github.com/openjournals/joss-reviews/issues/2011) in the issues you opened?  This helps us view them from here, where we can see if they are open or closed, for example

[2020-01-13 14:29] terrytangyuan commented on #1948
@martinju Thanks. @robohyun66 @ajank @agisga Would any of you be willing to review for this submission?

[2020-01-13 14:48] sam-greenwood commented on #1720
Ok, fixed that @leouieda, thanks. I've also combined the figures onto one row.

[2020-01-13 14:48] sam-greenwood commented on #1720
@whedon generate pdf

[2020-01-13 14:50] whedon commented on #1720
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01720/joss.01720/10.21105.joss.01720.pdf)

[2020-01-13 15:04] kthyng commented on #1935
@nicgaspar Hm I think that is too close. I will search for a new reviewer. Thank you for pointing this out.

[2020-01-13 15:09] kthyng commented on #1935
Hi @rreinecke! You were interested in this JOSS submission before — any chance you still are and are available to review it? It turns out we had a conflict of interest with another reviewer.

[2020-01-13 15:09] kthyng commented on #1935
@dvalters What is your timeline for working on this review? Thanks.

[2020-01-13 15:11] kthyng commented on #1985
@efiring and @ocefpaf Thanks for letting me know! And @ocefpaf I hope your recovery goes well.

[2020-01-13 15:14] rreinecke commented on #1935
@kthyng Sure.

[2020-01-13 15:15] kthyng commented on #1985
@seagrinch and @paulfvliz JOSS is the Journal for Open Source Software, which involves largely code-review based for software with research applications. Are you interested in reviewing this submission? We ask for reviews within about 3 weeks if possible, and you can find more information about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

I'm looking for experi

[2020-01-13 15:23] kthyng commented on #1684
@whedon set v0.1.0 as version

[2020-01-13 15:23] whedon commented on #1684
OK. v0.1.0 is the version.

[2020-01-13 15:24] kthyng commented on #1684
@whedon set 10.5281/zenodo.3601504 as archive

[2020-01-13 15:24] whedon commented on #1684
OK. <a href="https://doi.org/10.5281/zenodo.3601504" target="_blank">10.5281/zenodo.3601504</a> is the archive.

[2020-01-13 15:25] kthyng commented on #1684
I think so, yes.

[2020-01-13 15:26] whedon commented on #1684
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01684/joss.01684/10.21105.joss.01684.pdf)

[2020-01-13 15:27] kthyng commented on #1935
@rreinecke Awesome! Thanks. I will add you on.

[2020-01-13 15:27] kthyng commented on #1935
@whedon add @rreinecke as reviewer

[2020-01-13 15:27] whedon commented on #1935
OK, @rreinecke is now a reviewer

[2020-01-13 15:27] kthyng commented on #1935
@whedon remove @nicgaspar as reviewer

[2020-01-13 15:30] kthyng commented on #1935
I think that @nicgaspar should now be removed as a reviewer and replaced by @rreinecke, but please let me know if anything is in error. @rreinecke I think you'll just need to accept the invitation to review to have permission to edit the checklist. Thanks.

[2020-01-13 15:30] VarIr commented on #1957
@aozorahime Could you please tick off the box for Performance, if you think this is fulfilled? I think only then the review is completed.

[2020-01-13 15:31] kthyng commented on #1684
@Shibabrat Sorry I should add that the "two-" at the beginning is important. Without that, it is two of the systems, not specifying the degree of the systems.

[2020-01-13 15:31] kthyng commented on #1684
Let me know when you're finished

[2020-01-13 15:35] #1980 closed

[2020-01-13 15:35] lpantano commented on #2002
Hey, @chapmanb do you think you can review this one? or knows somebody who could do it?

[2020-01-13 15:50] kthyng commented on #1988
Hi @miketuri — will you have a chance to respond to the questions above? If you won't have time in the next week or two, I propose we pause this submission for now, to be picked back up later when you have time.

[2020-01-13 15:50] aozorahime commented on #1957
done :+1:  i am sorry if i made it delay

[2020-01-13 15:55] kbarnhart commented on #1930
@ryanpmcg I just wanted to touch base again and let you know that I am still actively seeking out reviewers for this submission. Unfortunately Andrew Fullhart has a conflict of interest for this submission, so I still need additional reviewers.

[2020-01-13 15:57] terrytangyuan commented on #1957
@whedon check references

[2020-01-13 15:57] whedon commented on #1957
[code]

[2020-01-13 15:58] kbarnhart commented on #1978
👋 @cmillion, @mollenburger I wanted to check in to remind you to complete your reviews. As always, if you have any questions, please feel free to ping me here.

[2020-01-13 16:01] kbarnhart commented on #1969
:wave: @brendonhall, @JesperDramsch, @jessepisel Thank you for starting your reviews and for linking in-repo issues to this REVIEW issue.

This is a reminder to try and wrap up your review. Please let me know if you have any questions by pinging me here.

[2020-01-13 16:05] cmillion commented on #1978
Confirming.

[2020-01-13 16:06] terrytangyuan commented on #1957
Thanks everyone! @VarIr At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
* The title of the archive is the same as the JOSS paper title
* Th

[2020-01-13 16:24] johnbachman commented on #1708
Great, will do, thanks to all!

[2020-01-13 16:25] simonom commented on #1918
Dear @dhhagan and @andreas-h,
Are you satisfied with the provided responses to issues?

[2020-01-13 16:29] Shibabrat commented on #1684
@kthyng ok. I've added the "two-" to the title and other occurrences in the paper. For consistency, I've also updated the zenodo archive and here is the doi: 10.5281/zenodo.3606676

[2020-01-13 16:51] ThomasPak commented on #1716
Hi @jedbrown,

I have changed the text to "Pakman is a parallel ABC manager that is designed to be ..." as you suggested.

I have not tested Pakman with older MPI versions because I have only used the most recent MPI implementations. Would you recommend doing so?

### Failure

Simulation jobs are allowed to exit with a nonzero return code. The user can decide whether to ignore these errors with th

[2020-01-13 16:54] ThomasPak commented on #1716
@jedbrown

In addition, with regards to the pull request you created, I noticed that the links to the GitHub wiki inside the figure captions were breaking the pdf compilation. I removed them for now so that it compiles correctly, but if there is an alternative way to do it that does not break the pdf compilation, I am happy to put the links back in.

[2020-01-13 17:03] csoneson commented on #2009
This is a bit out of my expertise, so if @will-rowe feels more comfortable taking it that would be great. Otherwise I'll give it a go.

[2020-01-13 17:14] drvinceknight commented on #1999
@whedon add @kellieotto as reviewer

[2020-01-13 17:14] whedon commented on #1999
OK, @kellieotto is now a reviewer

[2020-01-13 17:14] drvinceknight commented on #1999
@whedon start review

[2020-01-13 17:14] whedon opened #2013 "[REVIEW]: thresholdmodeling: A Python package for modeling excesses over a threshold using the Peak-Over-Threshold Method and the Generalized Pareto Distribution"
**Submitting author:** @iagolemos1 (<a href="http://orcid.org/0000-0002-5829-7711">Iago Lemos</a>)
**Repository:** <a href="https://github.com/iagolemos1/thresholdmodeling" target ="_blank">https://github.com/iagolemos1/thresholdmodeling</a>
**Version:** v0.0.1
**Editor:** @drvinceknight
**Reviewer:** @bahung, @kellieotto
**Archive:** <a href="https://doi.org/10.5281/zenodo.3661338" target="_blank

[2020-01-13 17:14] whedon commented on #1999
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2013. Feel free to close this issue now!

[2020-01-13 17:14] whedon commented on #2013
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bahung, @kellieotto it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-01-13 17:15] whedon commented on #2013
[code]

[2020-01-13 17:15] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-01-13 17:15] drvinceknight commented on #1999
@kellieotto and @bahung thank you very much for accepting to review this. The review will take place on #2013 where you will see instructions but if I can answer any questions please let me know.

[2020-01-13 17:15] #1999 closed

[2020-01-13 17:29] tomalrussell commented on #1911
@melissawm sure - it's on [Zenodo](https://zenodo.org/record/3583132), DOI 10.5281/zenodo.3583132

[2020-01-13 17:30] wtgee commented on #1771
Great, thanks @JonasKemmer for the updates.  I realize automated testing wasn't going to make it in, just wanted to encourage you for the future.

@xuanxu I've checked off all my items. I see that @Juanlu001 still has a few checkboxes to fill but I think they had already given the signoff.  Everything looks good to me know as well.

Sorry again for the delay!

[2020-01-13 19:10] Juanlu001 commented on #1771
I ticket off my remaining boxes :muscle:

[2020-01-13 20:07] Kevin-Mattheus-Moerman commented on #1822
@openjournals/joss-eics this submission is ready for acceptance

[2020-01-13 20:59] meg-simula commented on #1848
Thanks @IgorBaratta for agreeing to review this submission. I'll generate a review checklist for you above shortly.

[2020-01-13 21:00] meg-simula commented on #1848
@whedon commands

[2020-01-13 21:01] whedon commented on #1848
Here are some things you can ask me to do:

[code]

[2020-01-13 21:01] meg-simula commented on #1848
@whedon add @IgorBaratta as reviewer

[2020-01-13 21:01] whedon commented on #1848
OK, @IgorBaratta is now a reviewer

[2020-01-13 21:01] meg-simula commented on #1848
@whedon remove @SirSharpest as reviewer

[2020-01-13 21:01] whedon commented on #1848
OK, @SirSharpest is no longer a reviewer

[2020-01-13 21:04] meg-simula commented on #1848
@IgorBaratta reviewer checklist ready for you above whenever you are. Thanks again for agreeing to review.

[2020-01-13 21:10] kthyng commented on #1684
@whedon set 10.5281/zenodo.3606676 as archive

[2020-01-13 21:10] whedon commented on #1684
OK. <a href="https://doi.org/10.5281/zenodo.3606676" target="_blank">10.5281/zenodo.3606676</a> is the archive.

[2020-01-13 21:11] kthyng commented on #1684
Ok I think we're good to go!!

[2020-01-13 21:11] kthyng commented on #1684
@whedon accept

[2020-01-13 21:11] whedon commented on #1684
[code]

[2020-01-13 21:11] whedon commented on #1684
[code]

[2020-01-13 21:12] whedon commented on #1684
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1212

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1212, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-13 21:14] kthyng commented on #1684
@whedon generate pdf

[2020-01-13 21:14] whedon commented on #1684
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01684/joss.01684/10.21105.joss.01684.pdf)

[2020-01-13 21:19] kthyng commented on #1684
@Shibabrat I think something that you changed in your last commit altered the ability of the paper to be processed correctly. Maybe it's the line breaks, like in the title?

[2020-01-13 21:26] jmansour commented on #1797
@whedon generate pdf from branch joss

[2020-01-13 21:26] whedon commented on #1797
[code]

[2020-01-13 21:27] whedon commented on #1797
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01797/joss.01797/10.21105.joss.01797.pdf)

[2020-01-13 21:34] jmansour commented on #1797
@whedon generate pdf from branch joss

[2020-01-13 21:34] whedon commented on #1797
[code]

[2020-01-13 21:34] whedon commented on #1797
PDF failed to compile for issue #1797 with the following error:

 error: pathspec 'joss
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-01-13 21:35] jmansour commented on #1797
@whedon generate pdf from branch joss

[2020-01-13 21:35] whedon commented on #1797
[code]

[2020-01-13 21:36] whedon commented on #1797
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01797/joss.01797/10.21105.joss.01797.pdf)

[2020-01-13 21:40] jmansour commented on #1797
Thanks @leouieda, I've merged in those changes.  Also I've added some further minor formatting tweaks:
https://github.com/underworldcode/underworld2/commit/15052cf73429bedde7b564d5582b681f6a64507b
https://github.com/underworldcode/underworld2/commit/e2310ee64c57bbc30070810374d858e3bc075f3e
https://github.com/underworldcode/underworld2/commit/66057689d27f6870b0b446a8b44590efc3f0b2b3

[2020-01-13 21:42] wingtorres commented on #1825
@whedon generate pdf

[2020-01-13 21:42] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2020-01-13 21:47] wingtorres commented on #1825
- [x] sentence removed
- [x] software archived. DOI is 10.5281/zenodo.3606865 URL to repository is https://zenodo.org/record/3606865#.XhzlQhdKiuU
- [x] released new version (v1.0.2) that is now archived on Zenodo

[2020-01-13 22:37] Shibabrat commented on #1684
@whedon generate pdf

[2020-01-13 22:37] whedon commented on #1684
PDF failed to compile for issue #1684 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:145:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9e

[2020-01-13 22:39] Shibabrat commented on #1684
@whedon generate pdf

[2020-01-13 22:39] whedon commented on #1684
PDF failed to compile for issue #1684 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:145:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9e

[2020-01-13 22:42] Shibabrat commented on #1684
@whedon generate pdf

[2020-01-13 22:43] whedon commented on #1684
PDF failed to compile for issue #1684 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:145:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9e

[2020-01-13 22:53] Shibabrat commented on #1684
@kthyng not sure what happened but I made sure the file looks markdown and pdf file looks ok on my end. Is whedon using the zenodo link to build the pdf for the paper?

[2020-01-13 23:08] Shibabrat commented on #1684
@whedon generate pdf

[2020-01-13 23:09] whedon commented on #1684
PDF failed to compile for issue #1684 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:145:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9e

[2020-01-13 23:12] malmans2 commented on #1720
@leouieda I've checked most of the items, and I opened two new issues about API and documentation fixes.

[2020-01-14 00:29] kbarnhart commented on #1978
@cmillion thanks for confirming.

[2020-01-14 01:02] remram44 commented on #2007
@whedon generate pdf

[2020-01-14 01:03] whedon commented on #2007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02007/joss.02007/10.21105.joss.02007.pdf)

[2020-01-14 01:13] wingtorres commented on #1825
@whedon generate pdf

[2020-01-14 01:14] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2020-01-14 01:35] kyleniemeyer commented on #1822
@whedon generate pdf

[2020-01-14 01:36] whedon commented on #1822
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01822/joss.01822/10.21105.joss.01822.pdf)

[2020-01-14 02:46] arfon commented on #1684
@Shibabrat the errors is right there:

[code]

[2020-01-14 07:06] mikldk commented on #1981
@whedon generate pdf

[2020-01-14 07:06] whedon commented on #1981
PDF failed to compile for issue #1981 with the following error:

 Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.355 {[} \Pr

Looks like we failed to compile the PDF

[2020-01-14 07:10] rreinecke commented on #1935
@DavidLitwin before continuing with my review could you please provide me detailed information on where to find the new groundwater module? It appears that you have submitted the landlab main repository to this JOSS review - Is there a reason it is not in a separate repository and used as submodule?
Also the contribution of submitting author @DavidLitwin is not clear. From the number of total comm

[2020-01-14 07:10] mikldk commented on #1981
@whedon generate pdf

[2020-01-14 07:11] whedon commented on #1981
PDF failed to compile for issue #1981 with the following error:

 Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.377 (\$7.54\times

Looks like we failed to compile the PDF

[2020-01-14 07:12] mikldk commented on #1981
@whedon generate pdf

[2020-01-14 07:13] whedon commented on #1981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01981/joss.01981/10.21105.joss.01981.pdf)

[2020-01-14 07:15] mikldk commented on #1981
@tomsing1 Thanks. We have addressed you points, thanks! Also see [the issue in the repo](https://github.com/mikldk/DNAtools/issues/1).

Regarding

comment on the absence of (and hence need for) the package's functionality in the text?

We have added this phrase:

[2020-01-14 08:15] 1313e commented on #2004
@whedon generate pdf

[2020-01-14 08:15] whedon commented on #2004
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02004/joss.02004/10.21105.joss.02004.pdf)

[2020-01-14 08:58] johannes-titz commented on #2010
@Kevin-Mattheus-Moerman I do respect your decision but I am a bit surprised. Could you list the criteria to categorize *fastpos* as a “minor utility package”? The documentation is not very clear on that and indeed puts “utility” in quotes.

I think the following criteria would make sense:

(1) wrapper package around existing implementation
(2) convenience package that makes existing things easier

[2020-01-14 09:03] will-rowe commented on #2009
Likewise - this is not something I am familiar with. I'm equally happy to take it on if needs be though.

[2020-01-14 09:08] will-rowe commented on #1956
Hi @leios, @ninjin - just checking in with the reviews here. Can you please let me know when you might expect to have them completed?

[2020-01-14 09:08] jjmortensen commented on #1844
The MyQueue version is 20.1.1 and the tag name in the Git repository is "version-20.1.1":

    https://gitlab.com/myqueue/myqueue/-/tags/version-20.1.1

I've uploaded an archive to Zenodo:

    https://zenodo.org/record/3607221

The DOI is "10.5281/zenodo.3607221".

[2020-01-14 09:10] will-rowe commented on #1976
Hi @natir - would you be willing to review this for us please?

[2020-01-14 09:22] VarIr commented on #1957
@terrytangyuan I've just created a zenodo archive at https://zenodo.org/record/3607202 and DOI 10.5281/zenodo.3607202.

[2020-01-14 10:06] zklaus commented on #1985
@kthyng, thanks for the invite, but while I have some python experience, I don't feel qualified on the ocean data quality aspect, so I have to decline.

[2020-01-14 10:09] lamhm commented on #1976
Hi @will-rowe,

Sorry, I did not notice that I had a message on Github. I am happy to help. But I do not familiar with this style of review. Do you have a guideline that I can follow?

[2020-01-14 10:13] Kevin-Mattheus-Moerman commented on #1825
@whedon set v1.0.2 as version

[2020-01-14 10:13] whedon commented on #1825
OK. v1.0.2 is the version.

[2020-01-14 10:14] Kevin-Mattheus-Moerman commented on #1825
@whedon set 10.5281/zenodo.3606865 as archive

[2020-01-14 10:14] whedon commented on #1825
OK. <a href="https://doi.org/10.5281/zenodo.3606865" target="_blank">10.5281/zenodo.3606865</a> is the archive.

[2020-01-14 10:15] Kevin-Mattheus-Moerman commented on #1825
@wingtorres
- [ ] Please update the Zenodo meta-data such that the author names and the title match that of the JOSS paper

[2020-01-14 10:19] will-rowe commented on #1976
Fantastic - thank you very much @lamhm!

Reviewer criteria and checklist for completing a review can be found [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Once I have confirmed a second reviewer, we will start the review process officially - this is when we create a new GitHub issue where we can keep track of the reviews etc. This new issue will be where you complete the

[2020-01-14 10:54] Shibabrat commented on #1684
@arfon thanks for pointing that out, the field name had a typo: 'data'

@kthyng hopefully this resolves it. going to regenerate pdf to check the compile.

[2020-01-14 10:54] Shibabrat commented on #1684
@whedon generate pdf

[2020-01-14 10:55] whedon commented on #1684
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01684/joss.01684/10.21105.joss.01684.pdf)

[2020-01-14 11:28] raphaeltimbo commented on #1929
Hi @meg-simula!
I have some examples where we can use models that ROSS generates in research:
- Evaluate the impact that components such as bearings and seals have on the rotor. Particularly, we have some studies on how the uncertainties on the dynamic coefficients for these components can impact the rotor dynamic;
- Generate data to test learning algorithms that should diagnose machine failure. W

[2020-01-14 11:36] meg-simula commented on #1929
Ok, thanks @raphaeltimbo for clarifying. I'll proceed by finding a pair or reviewers, starting with your suggestions.

[2020-01-14 11:39] meg-simula commented on #1929
@moorepants, @trallard, @nnadeau, @ctdegroot, @srmnitc: Would either of you be willing and available to review this submission for JOSS?

[2020-01-14 11:45] terrytangyuan commented on #1957
@whedon set v0.21.2 as version

[2020-01-14 11:46] whedon commented on #1957
OK. v0.21.2 is the version.

[2020-01-14 11:46] terrytangyuan commented on #1957
@whedon set 10.5281/zenodo.3607202 as archive

[2020-01-14 11:46] whedon commented on #1957
OK. <a href="https://doi.org/10.5281/zenodo.3607202" target="_blank">10.5281/zenodo.3607202</a> is the archive.

[2020-01-14 11:47] terrytangyuan commented on #1957
@whedon accept

[2020-01-14 11:47] whedon commented on #1957
[code]

[2020-01-14 11:48] whedon commented on #1957
[code]

[2020-01-14 11:48] whedon commented on #1957
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1213

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1213, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-14 11:49] terrytangyuan commented on #1957
@openjournals/joss-eics This paper looks good to me. Could you take it from here?

[2020-01-14 12:01] srmnitc commented on #1929
@meg-simula I could review this submission for JOSS. However, I will be away for couple of days, but I will be able to start the review next week.

[2020-01-14 12:16] leios commented on #1956
Hey @will-rowe I am really sorry. I had a week to do it, but was finishing my thesis revisions during that time, then I had to move to my new position. I haven't had time to set up my stuff in my new place, so I don't know when I can do a review. By the earliest, this weekend. I am making it a priority to do then, but I understand if you want to try to find a new reviewer. Sorry again for the trou

[2020-01-14 12:47] dvalters commented on #1935
@kthyng Hello again, - yes, sorry I am on it this week! Thanks for the reminder :)

[2020-01-14 12:49] ninjin commented on #1956
@will-rowe: I should be able to handle it within the week.

[2020-01-14 13:15] natir commented on #1976
Hi @will-rowe sorry, I don't think I'm the right person to review this paper.

[2020-01-14 13:17] will-rowe commented on #1976
No worries @natir - thanks for the quick response

[2020-01-14 13:20] will-rowe commented on #1956
Thanks @leios and @ninjin. Those timelines work for me. Let me know @leios if you don't manage to find time in the next couple of weeks. I'll ping again in a week to chase up

[2020-01-14 13:21] will-rowe commented on #1976
Hi @betteridiot - would you be able to review this paper for JOSS?

[2020-01-14 13:33] ryEllison commented on #1959
I'm happy to see this paper published as is. I believe it's well written with adequate documentation and clearly expands on incomplete GLM packages in the machine learning domain.

I would like to point out that the example code in your README file does GLM estimation but doesn't give the person trying to install and use your package any sort of result. Nothing is printed to the terminal. No visua

[2020-01-14 13:40] danielskatz commented on #1844
@whedon set version-20.1.1 as version

[2020-01-14 13:40] whedon commented on #1844
OK. version-20.1.1 is the version.

[2020-01-14 13:40] danielskatz commented on #1844
@whedon set 10.5281/zenodo.3607221 as archive

[2020-01-14 13:40] whedon commented on #1844
OK. <a href="https://doi.org/10.5281/zenodo.3607221" target="_blank">10.5281/zenodo.3607221</a> is the archive.

[2020-01-14 13:40] danielskatz commented on #1844
@whedon accept

[2020-01-14 13:41] whedon commented on #1844
[code]

[2020-01-14 13:41] whedon commented on #1844
[code]

[2020-01-14 13:41] whedon commented on #1844
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1214

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1214, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-14 13:44] DavidLitwin commented on #1935
Hi @rreinecke and @dvalters, you can find the groundwater module in the components folder, [here](https://github.com/landlab/landlab/tree/master/landlab/components/groundwater). I think this is how this has been handled for all landlab components - they become part of the main repository so that they are readily available for anyone who uses landlab. Details on that are probably more a question fo

[2020-01-14 13:47] danielskatz commented on #1844
👋 @jjmortensen  - please merge https://gitlab.com/myqueue/myqueue/merge_requests/51

[2020-01-14 13:56] meg-simula commented on #1929
@srmnitc That would be great, thanks! I'll assign you.

[2020-01-14 13:56] meg-simula commented on #1929
@whedon assign @srmnitc as reviewer

[2020-01-14 13:56] whedon commented on #1929
OK, @srmnitc is now a reviewer

[2020-01-14 13:57] danielskatz commented on #1844
@whedon generate pdf

[2020-01-14 13:58] whedon commented on #1844
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01844/joss.01844/10.21105.joss.01844.pdf)

[2020-01-14 13:59] danielskatz commented on #1844
@whedon accept

[2020-01-14 13:59] whedon commented on #1844
[code]

[2020-01-14 14:00] whedon commented on #1844
[code]

[2020-01-14 14:00] whedon commented on #1844
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1215

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1215, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-14 14:00] danielskatz commented on #1844
@whedon accept deposit=true

[2020-01-14 14:00] whedon commented on #1844
[code]

[2020-01-14 14:01] whedon commented on #1844
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217084335322533889) 👈 🐦🐦🐦

[2020-01-14 14:01] whedon commented on #1844
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1216
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01844](https://doi.org/10.21105/joss.01844)
2. If everything looks g

[2020-01-14 14:04] danielskatz commented on #1844
Thanks to @gonsie, @marksantcroos for reviewing!
And congratulations to @jjmortensen and coauthors!

[2020-01-14 14:04] #1844 closed

[2020-01-14 14:04] whedon commented on #1844
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01844/status.svg)](https://doi.org/10.21105/joss.01844)

**We need your help!**

Journal of Open Source Softwa

[2020-01-14 14:32] kthyng commented on #1684
Ok great! Let's try again.

[2020-01-14 14:32] kthyng commented on #1684
@whedon accept

[2020-01-14 14:32] whedon commented on #1684
[code]

[2020-01-14 14:32] whedon commented on #1684
[code]

[2020-01-14 14:32] whedon commented on #1684
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1217

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1217, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-14 14:34] kthyng commented on #1684
@whedon accept deposit=true

[2020-01-14 14:34] whedon commented on #1684
[code]

[2020-01-14 14:35] whedon commented on #1684
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217092866780073984) 👈 🐦🐦🐦

[2020-01-14 14:35] whedon commented on #1684
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1218
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01684](https://doi.org/10.21105/joss.01684)
2. If everything looks g

[2020-01-14 14:37] kthyng commented on #1684
Congrats to @Shibabrat and @WyLyu on your new paper!! Huge thanks to reviewers @dpsanders and @JoshKarpel for your expertise and hard work to review and improve this package. 🎉

[2020-01-14 14:37] #1684 closed

[2020-01-14 14:37] whedon commented on #1684
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01684/status.svg)](https://doi.org/10.21105/joss.01684)

**We need your help!**

Journal of Open Source Softwa

[2020-01-14 14:38] kthyng commented on #1965
Note that I have pinged possible reviewers by email.

[2020-01-14 14:39] kthyng commented on #1985
@zklaus Thanks for your reply.

[2020-01-14 15:03] Shibabrat commented on #1684
Thank you @JoshKarpel @dpsanders @kthyng and @labarba for the guidance, patience, and help along the way. Looking forward to contributing to the community of reproducible science and open-source software.

[2020-01-14 15:40] marcosvital commented on #1974
Hey, everyone, sorry about the (very) late reply. Yes, I can handle this submission!

[2020-01-14 15:45] danielskatz commented on #1974
thanks - note that you can do the same thing I'm now going to do

[2020-01-14 15:45] danielskatz commented on #1974
@whedon assign @marcosvital as editor

[2020-01-14 15:45] whedon commented on #1974
OK, the editor is @marcosvital

[2020-01-14 15:46] kbarnhart commented on #1935
@rreinecke I'll add a few other comments regarding this submission and contributions. Hopefully this clarifies things, but if not, please let me know and I'll try and address additional questions.

This contribution specifically focuses on the GroundwaterDupuitPercolator component within the Landlab package, rather than the Landlab package itself. Because JOSS is set up for the submission to provi

[2020-01-14 15:53] DavidLitwin commented on #1935
Thank you for clarifying @kbarnhart. I agree with the coauthor contributions as you have described them.

[2020-01-14 16:01] dpsanders commented on #1684
You're welcome. Many thanks to @kthyng and @labarba for their patience and guidance through the process.

[2020-01-14 16:07] jjmortensen commented on #1844
Thanks a lot @danielskatz, @gonsie, @marksantcroos

[2020-01-14 16:32] wingtorres commented on #1825
@Kevin-Mattheus-Moerman
- [x] edited the "basic information" section of the archive to include our names and paper title and published the updated archive on zenodo

[2020-01-14 16:35] tomsing1 commented on #1981
I have completed my review and checked all boxes!

[2020-01-14 16:37] standage commented on #1981
I am currently working on my review and should have it completed shortly!

[2020-01-14 16:54] mikldk commented on #1981
Sounds great. Let us know if you have any questions or anything else we can do.

[2020-01-14 17:02] Kevin-Mattheus-Moerman commented on #1825
@openjournals/joss-eics this submission is ready to be processed for acceptance.

[2020-01-14 17:02] Kevin-Mattheus-Moerman commented on #1825
Thanks for your review work @isaacvandor, @bw4sz !

[2020-01-14 17:09] betteridiot commented on #1976
Sure. I am happy to help.

[2020-01-14 17:13] kyleniemeyer commented on #1822
@whedon check references

[2020-01-14 17:13] whedon commented on #1822
[code]

[2020-01-14 17:15] kyleniemeyer commented on #1822
@whedon accept

[2020-01-14 17:15] whedon commented on #1822
[code]

[2020-01-14 17:15] whedon commented on #1822
[code]

[2020-01-14 17:16] whedon commented on #1822
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1219

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1219, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-14 17:19] kyleniemeyer commented on #1822
@whedon accept deposit=true

[2020-01-14 17:19] whedon commented on #1822
[code]

[2020-01-14 17:21] whedon commented on #1822
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217134548724658177) 👈 🐦🐦🐦

[2020-01-14 17:21] whedon commented on #1822
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1220
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01822](https://doi.org/10.21105/joss.01822)
2. If everything looks g

[2020-01-14 17:23] kyleniemeyer commented on #1822
Congrats @vitorsr on your article's publication in JOSS!

Many thanks to @thomakra and @Atif-Anwer for reviewing, and @Kevin-Mattheus-Moerman for editing, this submission.

[2020-01-14 17:23] #1822 closed

[2020-01-14 17:23] whedon commented on #1822
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01822/status.svg)](https://doi.org/10.21105/joss.01822)

**We need your help!**

Journal of Open Source Softwa

[2020-01-14 17:45] miketuri commented on #1988
Hello @kthyng, I'm sorry for my late reply; I have been out of town for a few days.  Here are my answers to your questions, please let me know if you have any additional questions.

- what specific workflows are enabled by your tool? I'd like to know more about why an additional tool on top of the base software being used is needed. Is there a large audience for this tool?
This package under consi

[2020-01-14 18:04] standage commented on #1981
The authors describe DNAtools, an R package that implements methods for analysis of short tandem repeat (STR) profiles obtained from forensic DNA traces. DNAtools advertises two primary capabilities. The first focuses on estimating the complexity of DNA mixtures (the number of contributors) by examination of the total number of observed alleles present in a sample. The second focuses on empirical

[2020-01-14 18:07] standage commented on #1981
I have not looked at the comments in @tomsing1's review, nor the author responses. It's possible some of the issues I raise have already been addressed. Please feel free to point this out if it's the case.

Unresolved points.

- [ ] **Installation:** Does installation proceed as outlined in the documentation?
- [ ] **A statement of need:** Do the authors clearly state what problems the software is

[2020-01-14 18:24] johnbachman commented on #1708
Hi @brainstorm, the release for the paper is up at Zenodo here: https://zenodo.org/record/3608205

The version is 0.5.2, DOI is 10.5281/zenodo.3608205.

Also, a question--should we add in DOIs for the 7 listed as "missing"?

[2020-01-14 18:30] standage commented on #1981
@whedon generate pdf

[2020-01-14 18:31] whedon commented on #1981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01981/joss.01981/10.21105.joss.01981.pdf)

[2020-01-14 18:33] standage commented on #1981
Looks like the references render correctly in the latest proof.

[2020-01-14 18:34] standage commented on #1981
Latest proof now also indicates the absence of other tools for comparison.

[2020-01-14 18:35] mikldk commented on #1981
I believe that "Installation" was addressed by https://github.com/mikldk/DNAtools/issues/3.

The "Minor grammatical errors" was addressed by https://github.com/mikldk/DNAtools/commit/252d94d5ac97e90b7be31d94175e5e4a1f865e1e.

I am not sure if "Suggested revisions" is still present for the latest proof?

[2020-01-14 18:35] mikldk commented on #1981
@whedon generate pdf

[2020-01-14 18:36] whedon commented on #1981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01981/joss.01981/10.21105.joss.01981.pdf)

[2020-01-14 18:37] standage commented on #1981
Yep. I think I misunderstood the sentence for which I was suggesting revisions. The latest proof defines the RMP before discussing it, and is much clearer than the original submission. 👍

[2020-01-14 18:42] standage commented on #1981
It looks like all the errors/typos I pointed out have been addressed. However, a new one was introduced: "surpriseing" should be spelled "surprising."

Sorry for the bikeshedding! :-)

[2020-01-14 18:45] mikldk commented on #1981
@whedon generate pdf

[2020-01-14 18:46] whedon commented on #1981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01981/joss.01981/10.21105.joss.01981.pdf)

[2020-01-14 18:48] standage commented on #1981
LGTM!

@csoneson, my review is complete and I have checked all boxes.

[2020-01-14 18:48] mikldk commented on #1981
Thanks! Embarrassing. That's not bikeshedding! Thanks. Now fixed in https://github.com/mikldk/DNAtools/commit/00824acb90611e9041510ef3e902bc6e7b00624b.

[2020-01-14 18:49] mikldk commented on #1981
@tomsing1 @standage Thank you both very much for taking the time for reviewing and improving our software!

[2020-01-14 18:53] mikldk commented on #1981
DOI: <https://doi.org/10.5281/zenodo.3608229>: <https://zenodo.org/record/3608229>

[2020-01-14 19:25] johnbachman commented on #1708
@brainstorm Correction--the relevant version is 0.5.3 (fixed a minor issue in the release). Zenodo DOI reflects the update.

[2020-01-14 19:27] brainstorm commented on #1708
@whedon generate pdf

[2020-01-14 19:28] whedon commented on #1708
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01708/joss.01708/10.21105.joss.01708.pdf)

[2020-01-14 19:28] johnbachman commented on #1708
@brainstorm Sorry, updated the comment above with correct DOI information

[2020-01-14 19:30] brainstorm commented on #1708
@whedon set https://zenodo.org/record/3608243 as archive

[2020-01-14 19:31] whedon commented on #1708
https://zenodo.org/record/3608243 doesn't look like an archive DOI.

[2020-01-14 19:31] brainstorm commented on #1708
@whedon set  10.5281/zenodo.3608243 as archive

[2020-01-14 19:31] whedon commented on #1708
OK. <a href="https://doi.org/10.5281/zenodo.3608243" target="_blank">10.5281/zenodo.3608243</a> is the archive.

[2020-01-14 19:32] will-rowe commented on #1976
Brill - thanks @betteridiot! Let's start the review process.

[2020-01-14 19:33] brainstorm commented on #1708
No worries John, gotcha. @danielskatz LGTM, can you find any irregularity pre-publishing it for good?

[2020-01-14 19:33] will-rowe commented on #1976
@whedon assign @lamhm as reviewer

[2020-01-14 19:33] whedon commented on #1976
OK, @lamhm is now a reviewer

[2020-01-14 19:34] will-rowe commented on #1976
@whedon add @betteridiot as reviewer

[2020-01-14 19:34] whedon commented on #1976
OK, @betteridiot is now a reviewer

[2020-01-14 19:34] will-rowe commented on #1976
@whedon start review

[2020-01-14 19:34] whedon opened #2014 "[REVIEW]: Recan: Python tool for detection of recombination events in viral genomes"
**Submitting author:** @babinyurii (<a href="http://orcid.org/0000-0002-7524-5921">Yuriy Babin</a>)
**Repository:** <a href="https://github.com/babinyurii/recan" target ="_blank">https://github.com/babinyurii/recan</a>
**Version:** 0.1.3
**Editor:** @will-rowe
**Reviewer:** @lamhm, @betteridiot
**Archive:** <a href="https://doi.org/10.5281/zenodo.3820660" target="_blank">10.5281/zenodo.3820660</a>

[2020-01-14 19:34] whedon commented on #1976
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2014. Feel free to close this issue now!

[2020-01-14 19:34] whedon commented on #2014
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lamhm, @betteridiot it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-01-14 19:34] #1976 closed

[2020-01-14 19:35] whedon commented on #2014
[code]

[2020-01-14 19:35] whedon commented on #2014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02014/joss.02014/10.21105.joss.02014.pdf)

[2020-01-14 19:55] JoshKarpel commented on #1684
Thanks all around!

[2020-01-15 00:52] kthyng commented on #1988
/ooo today until January 23, 2019

[2020-01-15 00:53] kthyng commented on #1988
/ooo until January 23, 2019

[2020-01-15 00:53] kthyng commented on #1988
/ooo January 14 until January 23

[2020-01-15 00:54] kthyng commented on #1988
There we go. @miketuri I'll get back to you next week after several big work things and the start of the semester. Thanks!

[2020-01-15 01:55] cMadan commented on #1830
@aebergl @jhcreed, thank you for your work on responding to the reviewers. At this stage the reviewers should look over your changes to the project and see if they are satisfied with your updates/responses.

@dsurujon @ManuelaS, it would be great if you could look over the changes the authors have made and let us know what you think!

[2020-01-15 01:58] cMadan commented on #1847
@danielskatz, sorry for the delay, I've just gotten back from holiday. I was waiting to see a response from @hvgazula based on the commends provided by @FelixHenninger. That said, I've also been having difficulties finding suitable reviewers for the submission.

[2020-01-15 02:01] hvgazula commented on #1847
Hello @cMadan! Happy New Year to everyone JOSS. Thanks for the reminder. Sorry for the delay on my part as well owing to other commitments and the holidays. I'll respond to the comments as soon as possible.

[2020-01-15 02:35] seagrinch commented on #1985
@kthyng Like many of us, I'm a bit overloaded in prep for Ocean Sciences, but I can try to take a look. I am intrigued by this repo and curious to see how easy it is to utilize.

[2020-01-15 03:52] majensen commented on #1945
👋 @raullaasner  - this paper is nearing acceptance; can you please review the [previous comment](https://github.com/openjournals/joss-reviews/issues/1945#issuecomment-573376626) and provide a software archive? thanks

[2020-01-15 04:43] DARSakthi commented on #1970
The authors have presented a package which makes the analysis of high throughput data more accurate, while also making handling this analysis easier.

Some minor comments on the paper:
     - I suggest you switch the content in Section: Summary with Section: Statement of Need and make necessary changes for flow and comprehension. The reason I recommend this is because what has been written in each

[2020-01-15 05:24] kyleniemeyer commented on #1825
@whedon check references

[2020-01-15 07:02] rreinecke commented on #1935
Thank you @kbarnhart and @DavidLitwin for clarifying the authorship.

Concerning the submodule I strongly disagree but that is something you need to decide and will not be part of this review. Nevertheless, I already have a problem in verifying the functionality of the software as I cannot find according unit tests (and how to run them). If they are somewhere else in the project please add a detai

[2020-01-15 07:58] artemyk commented on #1609
@kthyng @madvn
The authors have addressed my  concerns.  Thanks, -a

[2020-01-15 10:03] chrisrichardson commented on #1441
@jedbrown - I've ticked off the other boxes. I don't think the minor issues which I had are very significant.

[2020-01-15 10:03] dvalters commented on #1935
There is a binder demo of the new component here (linked to in the component readme) which I'm using to explore the model.

https://mybinder.org/v2/gh/landlab/landlab/release?filepath=notebooks/tutorials/groundwater/groundwater_flow.ipynb

[2020-01-15 10:28] ryanpmcg commented on #1930
@kbarnhart thanks for the update. From the list of people, I have identified a few potentials with justification next to their names below:

@ KristinaRiemer -- lists R as preferred and interest in agriculture
@ dlebauer -- same as above
@ wjakethompson -- R preferred and interest in data management/workflow tools
@ khaors -- R preferred and interest in environmental modeling/hydrogeology
@ ha0ye

[2020-01-15 11:16] danielskatz commented on #1708
👋 @openjournals/joss-eics - I think this may be ready for you

[2020-01-15 11:21] iagolemos1 commented on #2013
I made some minimal corrections on the paper.

[2020-01-15 11:21] iagolemos1 commented on #2013
@whedon generate pdf

[2020-01-15 11:21] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-01-15 11:32] StephanStock commented on #1771
Thank you @wtgee and @Juanlu001 for your feedback. It significantly helped to improve this software.

[2020-01-15 11:33] StephanStock commented on #1771
@whedon generate pdf

[2020-01-15 11:33] whedon commented on #1771
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01771/joss.01771/10.21105.joss.01771.pdf)

[2020-01-15 12:31] lpantano commented on #2002
@krother would you be interested on review this paper?

[2020-01-15 12:59] xuanxu commented on #1771
@whedon check references

[2020-01-15 12:59] whedon commented on #1771
[code]

[2020-01-15 13:19] xuanxu commented on #1771
@whedon generate pdf

[2020-01-15 13:20] whedon commented on #1771
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01771/joss.01771/10.21105.joss.01771.pdf)

[2020-01-15 13:21] StephanStock commented on #1771
There are still some textpassages in the paper in boldface, can we now make them normal?

[2020-01-15 13:23] xuanxu commented on #1771
@StephanStock Yes, go ahead and please tell whedon to generate the pdf when ready

[2020-01-15 13:25] casperdcl commented on #1746
Fine for me; the only outstanding point is potentially submit to JOSE instead as @sbrugman and I mentioned (due to the "arguably thin API-wrapping" [sic] nature of the library and "limited evidence of added value beyond purely educational" [sic]).

[2020-01-15 13:25] Laya1363 opened #2015 "issues running example program Karate"
I want to apply GEM methods in my graph data. and just started to download required packages ans run example program to learn  more. but while running encountered different warnings and errors. one of the is this error:

Using TensorFlow backend.
Traceback (most recent call last):
  File "C:/Laya/MasterThesis/programming/test1.py", line 22, in <module>
    G = graph_util.loadGraphFromEdgeListTxt(e

[2020-01-15 13:25] whedon commented on #2015
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-15 13:26] whedon commented on #2015
PDF failed to compile for issue #2015 with the following error:

 Can't find any papers to compile :-(

[2020-01-15 13:43] danielskatz commented on #2012
👋 @changebio - After discussions in the editorial board, we have decided that this submission is not currently reviewable by JOSS. This is not to say that it is not valuable. Two options you might consider are
1. Publishing it to Zenodo or a similar archival repository, and asking users to cite the DOI provided by that repository
1. Resubmitting it to JOSS with additional work, such as some additi

[2020-01-15 13:43] danielskatz commented on #2012
@whedon reject

[2020-01-15 13:43] whedon commented on #2012
Paper rejected.

[2020-01-15 13:58] terrytangyuan commented on #1746
@whedon check references

[2020-01-15 13:58] whedon commented on #1746
[code]

[2020-01-15 14:00] terrytangyuan commented on #1746
It looks like all items in the checklists are completed. Thanks everyone!

@lgeiger Could you fix the above missing DOIs?

[2020-01-15 14:08] JonasKemmer commented on #1771
@whedon generate pdf

[2020-01-15 14:09] whedon commented on #1771
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01771/joss.01771/10.21105.joss.01771.pdf)

[2020-01-15 14:25] xuanxu commented on #1771
OK @JonasKemmer, everything looks good, here are the next steps:

- Please release a [tagged version](https://github.com/JonasKemmer/AliasFinder/releases) from the current master so it includes all the changes made during the review process
- Then archive that latest release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also ad

[2020-01-15 14:45] JonasKemmer commented on #1771
Hey @xuanxu, we uploaded the release v1.0 to Zenodo, you can find it here: http://doi.org/10.5281/zenodo.3608898

[2020-01-15 14:51] xuanxu commented on #1771
@whedon set 10.5281/zenodo.3608898 as archive

[2020-01-15 14:51] whedon commented on #1771
OK. <a href="https://doi.org/10.5281/zenodo.3608898" target="_blank">10.5281/zenodo.3608898</a> is the archive.

[2020-01-15 14:52] xuanxu commented on #1771
Everything is ready 🎉
@openjournals/joss-eics sending it your way for final acceptance! 🚀

[2020-01-15 14:54] Laya1363 commented on #876
Hi every one.
I want to apply GEMs in my graph. in order to succeed I started to download all needed packages and for stating point I wanted to test the example programs in GEM repository but continuously I encounter different issues while running. can any one help? for example while running sbm example I recieve this issue:

Using TensorFlow backend.
Traceback (most recent call last):
  File "C:/

[2020-01-15 14:55] kthyng commented on #1985
@castelao It is true that many of the potential reviewers will be prepping for Ocean Sciences. One option is to push the review back to start at the end of February. What is your preference?

[2020-01-15 14:56] danielskatz commented on #876
👋 @Laya1363 - you are asking in the wrong place - this issue is for the JOSS review of the software, which has now been published, not for use of the software.  Please open an issue in the software repository - https://github.com/palash1992/GEM

[2020-01-15 15:01] madvn commented on #1609
Thank you, @artemyk, for the very helpful feedback.

[2020-01-15 15:05] arfon commented on #2015
@Laya1363 - please do not open issues on this repository. If you are reviewing a JOSS submission, please open issues on that repository directly.

[2020-01-15 15:05] #2015 closed

[2020-01-15 15:18] lgeiger commented on #1746
Thanks for the great reviews everyone!

@terrytangyuan I fixed the missing DOIs. Note that "Keras" doesn't have a DOI and the one linked by whedon is not correct.

[2020-01-15 15:18] lgeiger commented on #1746
@whedon generate pdf

[2020-01-15 15:18] lgeiger commented on #1746
@whedon check references

[2020-01-15 15:18] whedon commented on #1746
PDF failed to compile for issue #1746 with the following error:

 Error reading bibliography ./paper.bib (line 156, column 5):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-01-15 15:24] lgeiger commented on #1746
@whedon generate pdf

[2020-01-15 15:25] castelao commented on #1985
@seagrinch , I do appreciate your time. Thank you very much.

@kthyng , I have an invited poster on OS that is related to this package. My preference is to at least try to make it on schedule, but I understand that it requires a lot from you all. Thank you.

[2020-01-15 15:25] whedon commented on #1746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01746/joss.01746/10.21105.joss.01746.pdf)

[2020-01-15 15:25] lgeiger commented on #1746
@whedon check references

[2020-01-15 15:25] whedon commented on #1746
[code]

[2020-01-15 15:26] whedon commented on #1746
[code]

[2020-01-15 15:26] statsmaths commented on #1800
@jgonggrijp Thanks for all of the really helpful comments. I pushed three commits that should
resolve the three issues that you opened.

[2020-01-15 15:28] arfon commented on #1825
@whedon check references

[2020-01-15 15:30] statsmaths commented on #1800
@whedon generate pdf

[2020-01-15 15:30] rreinecke commented on #1935
Thank you! This is great!
Still my comments about the project README remain.

Please also adress landlab/landlab#1106 and landlab/landlab#1105

[2020-01-15 15:31] whedon commented on #1800
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01800/joss.01800/10.21105.joss.01800.pdf)

[2020-01-15 15:55] terrytangyuan commented on #1746
Thanks!

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
* The title of the archive is the same as the JOSS paper title
* That the authors

[2020-01-15 16:13] rreinecke commented on #1935
@dvalters I've added a question concerning the used equations here: landlab/landlab#1107

Just to have it on record and be transparent (this is not a review request only a general suggestion and note, I don't think it is a conflict of interest): @dvalters I have developed a Modflow clone that allows to efficiently calculate 3d Darcy flow. Maybe that is of interest as an alternative to your use of

[2020-01-15 16:17] whedon commented on #1825
[code]

[2020-01-15 16:20] kbarnhart commented on #1930
@whedon add @stoor001 as reviewer

[2020-01-15 16:21] whedon commented on #1930
OK, @stoor001 is now a reviewer

[2020-01-15 16:28] kbarnhart commented on #1930
:wave: @KristinaRiemer @dlebauer @khaors would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. I'm looking for one more reviewer for this submission.

[2020-01-15 16:35] kbarnhart commented on #1935
@rreinecke I will open an issue in the landlab repository associated with your [prior comment](https://github.com/openjournals/joss-reviews/issues/1935#issuecomment-574524938) and address it with a PR. Once that PR is live I will ask you to comment on whether I have addressed the issues you raised.

[2020-01-15 16:40] danielskatz commented on #2011
👋 @michael-hartmann - it's your choice at this if you want to work on the issues opened by @jwuttke or wait for @eschnett to finish his review and see if there are more issues raised.

[2020-01-15 16:49] jgonggrijp commented on #1800
@statsmaths Welcome. dvt is a very interesting and well-documented package.
@arfon I see no blockers after the above fixes by @statsmaths.

[2020-01-15 16:50] jwuttke commented on #2011
@michael-hartmann - My issues are suggestions, not imperatives. I hope you will find some of them useful, but you are free to disagree.

[2020-01-15 16:56] michael-hartmann commented on #2011
@danielskatz I am working on the issues right now.

@jwuttke Thank you for your suggestions. I agree with your issues and I will fix them as soon as possible. :-)

[2020-01-15 16:58] kiretd commented on #1958
Hi @dfm, Just wondering if there's anything we should be doing on our end?

[2020-01-15 16:59] whedon commented on #1825
[code]

[2020-01-15 17:00] effigies commented on #1958
Ah, sorry. I'll try to have a look on Friday.

[2020-01-15 17:12] eschnett commented on #2011
@michael-hartmann You might want to refer to a particular version number (release) of the software in the paper. The current release is 0.4.2, while the master branch is 0.5.

[2020-01-15 17:12] lgeiger commented on #1746
Great! I published [larq@v0.8.3](https://github.com/larq/larq/releases/tag/v0.8.3) with the changes from this review and uploaded it to figshare: https://doi.org/10.6084/m9.figshare.11619912.v1

[2020-01-15 17:14] michael-hartmann commented on #2011
@eschnett My plan is actually make the 0.5 release as soon as all the changes from the review are implemented.

[2020-01-15 17:28] eschnett commented on #2011
@michael-hartmann If you do, consider referencing this version in the paper. Also consider getting a DOI for that version (e.g. from Zenodo); I don't know whether JOSS recommends this anyway.

[2020-01-15 17:30] eschnett commented on #2011
@michael-hartmann Do you describe the state of the art for numerical Casimir calculations in your paper? Are there other, similar packages available? What are their limitations?

[2020-01-15 17:37] terrytangyuan commented on #1746
@whedon set v0.8.3 as version

[2020-01-15 17:37] whedon commented on #1746
OK. v0.8.3 is the version.

[2020-01-15 17:40] terrytangyuan commented on #1746
@whedon set 10.6084/m9.figshare.11619912.v1 as archive

[2020-01-15 17:40] whedon commented on #1746
OK. <a href="https://doi.org/10.6084/m9.figshare.11619912.v1" target="_blank">10.6084/m9.figshare.11619912.v1</a> is the archive.

[2020-01-15 17:40] terrytangyuan commented on #1746
@whedon accept

[2020-01-15 17:40] whedon commented on #1746
[code]

[2020-01-15 17:41] whedon commented on #1746
[code]

[2020-01-15 17:41] whedon commented on #1746
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1221

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1221, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-15 17:41] terrytangyuan commented on #1746
@openjournals/joss-eics This paper looks good to me now. Could you take it from here?

[2020-01-15 17:50] danielskatz commented on #2011
@eschnett  - part of the JOSS acceptance process is declaring a specific version (often new at that time), so don't worry about this too much at this point

[2020-01-15 18:00] mbdemoraes commented on #1970
@DARSakthi thank you for your valuable suggestions! I will review these aspects and notify you when I'm done.

[2020-01-15 18:43] michael-hartmann commented on #2011
The first paragraph on the second page of the [proof](https://github.com/openjournals/joss-papers/blob/joss.02011/joss.02011/10.21105.joss.02011.pdf) describes the numerical problems that render the evaluation of the Casimir free energy difficult when the sphere radius is much larger than the separation between sphere and plate. (This case is experimentally the most interesting case.). The second

[2020-01-15 18:51] raullaasner commented on #1945
@majensen Here is the Zenodo DOI: 10.5281/zenodo.3609195.

[2020-01-15 19:20] wingtorres commented on #1825
@whedon check references

[2020-01-15 19:20] whedon commented on #1825
[code]

[2020-01-15 19:24] wingtorres commented on #1825
hey @arfon @kyleniemeyer , I edited the paper.bib doc and removed the 'https://doi.org/' prefixes, but am still getting invalid DOI's after checking references. Do y'all know how to sort this out?

[2020-01-15 19:26] wingtorres commented on #1825
@whedon generate pdf

[2020-01-15 19:26] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2020-01-15 19:27] wingtorres commented on #1825
@whedon check references

[2020-01-15 19:27] whedon commented on #1825
[code]

[2020-01-15 19:33] wingtorres commented on #1825
not sure what to do about the invalid DOI...it should link to the article below https://academic.oup.com/bioscience/article/53/3/210/251944

[2020-01-15 20:05] arfon commented on #1825
I think you can ignore this. The URL library we're using for Whedon doesn't like https://doi.org/10.1641/0006-3568(2003)053[0210:WAS]2.0.CO;2 (it's a pretty unusual URL) but it looks like it resolves.

[2020-01-15 20:07] ThomasPak commented on #1716
@jedbrown

The MPI_Info object passed to MPI_Comm_spawn can now be tuned by a command-line option to Pakman. Please see https://github.com/ThomasPak/pakman/commit/9cc1a98c22924bbb160ff74e3c2a883e0cdf43bb

[2020-01-15 20:37] whedon commented on #1825
[code]

[2020-01-15 20:52] eschnett commented on #2011
@michael-hartmann Do you want to add a note corresponding to your second paragraph above to the paper? This knowledge will tell others that your work is unique, instead of you not ignoring the competition.

[2020-01-15 20:59] krother commented on #2002
sorry I am 10 years away from that area.

[2020-01-15 21:41] kyleniemeyer commented on #1825
Hi @wingtorres, looks like the references are fine, but I have just a few typographic issues to resolve:
- Can you remove the period at the end of the title?
- in a number of places, you are missing commas after "i.e." and "e.g."
- in the 4th paragraph, there are some inconsistencies in some citation formatting; you can use these syntax options for in-text citations:
[code]

Otherwise, it is well

[2020-01-15 21:52] kyleniemeyer commented on #1957
Hi @VarIr, the article looks good to me overall, with just a few minor things that could be corrected:
-  in the first paragraph, you have what appear to be em-dashes (—) surrounded by spaces. I believe the more-correct version would be either em-dashes without surrounding spaces (`causing—for instance—overrepresentation`, or an en-dash with spaces (`causing – for instance – overrepresentation`).

[2020-01-15 21:56] kyleniemeyer commented on #1708
@whedon check references

[2020-01-15 21:56] whedon commented on #1708
[code]

[2020-01-15 22:19] kyleniemeyer commented on #1708
Hi @johnbachman, can you update the Zenodo archive title to match the paper? Also, it looks like some of your references may be missing DOIs 👆, if you could add those (you may want to check that the suggestions are correct first).

[2020-01-15 22:55] wingtorres commented on #1825
@whedon generate pdf

[2020-01-15 22:56] kyleniemeyer commented on #1746
Hi @lgeiger, I'm doing some final checks on the article before publishing.

It looks like the Zhang 2019 reference is missing some details—I just see the authors, year, and title. Where/how was this published?

[2020-01-15 22:56] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2020-01-15 22:58] wingtorres commented on #1825
@kyleniemeyer thank you for the typographic edits! Just made the changes you suggested and generated a new proof.

[2020-01-15 23:27] lgeiger commented on #1746
@whedon generate pdf

[2020-01-15 23:28] whedon commented on #1746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01746/joss.01746/10.21105.joss.01746.pdf)

[2020-01-15 23:29] lgeiger commented on #1746
@kyleniemeyer Good catch. I used the BibTeX entry mentioned in their GitHub repo which was missing the details. I switched to citing the article published at ACM now.

[2020-01-16 00:04] akeshavan commented on #1883
@whedon add @dvberkel as reviewer

[2020-01-16 00:04] whedon commented on #1883
OK, @dvberkel is now a reviewer

[2020-01-16 00:05] akeshavan commented on #1883
@whedon start review

[2020-01-16 00:05] whedon opened #2016 "[REVIEW]: Audiometry: A Model-View-ViewModel (MVVM) Application Framework for Hearing Impairment Diagnosis"
**Submitting author:** @drwaseemsheikh (<a href="http://orcid.org/0000-0002-4647-4565">Waseem Sheikh</a>)
**Repository:** <a href="https://github.com/drwaseemsheikh/audiometry.git" target ="_blank">https://github.com/drwaseemsheikh/audiometry.git</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewers:** @dvberkel, @martinmodrak
**Archive:** <a href="https://doi.org/10.5281/zenodo.3924784" target="_

[2020-01-16 00:05] whedon commented on #1883
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2016. Feel free to close this issue now!

[2020-01-16 00:05] whedon commented on #2016
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ati-ozgur, @dvberkel it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-01-16 00:05] #1883 closed

[2020-01-16 00:06] whedon commented on #2016
[code]

[2020-01-16 00:07] whedon commented on #2016
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02016/joss.02016/10.21105.joss.02016.pdf)

[2020-01-16 00:07] akeshavan commented on #1937
@whedon assign @clauswilke as reviewer

[2020-01-16 00:07] whedon commented on #1937
OK, @clauswilke is now a reviewer

[2020-01-16 00:08] akeshavan commented on #1937
@whedon add @njtierney as reviewer

[2020-01-16 00:08] whedon commented on #1937
OK, @njtierney is now a reviewer

[2020-01-16 00:10] akeshavan commented on #1937
hi @corybrunson , @njtierney and @clauswilke -- now that holidays are over, I'm moving this to the review stage. Thanks for your patience!

[2020-01-16 00:10] akeshavan commented on #1937
@whedon start review

[2020-01-16 00:10] whedon opened #2017 "[REVIEW]: ggalluvial: Layered Grammar for Alluvial Plots"
**Submitting author:** @corybrunson (<a href="http://orcid.org/0000-0003-3126-9494">Jason Cory Brunson</a>)
**Repository:** <a href="https://github.com/corybrunson/ggalluvial" target ="_blank">https://github.com/corybrunson/ggalluvial</a>
**Version:** v0.11.3
**Editor:** @akeshavan
**Reviewers:** @clauswilke, @tweed1e
**Archive:** <a href="https://doi.org/10.5281/zenodo.3836748" target="_blank">10

[2020-01-16 00:10] whedon commented on #1937
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2017. Feel free to close this issue now!

[2020-01-16 00:10] whedon commented on #2017
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @clauswilke, @njtierney it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-01-16 00:10] #1937 closed

[2020-01-16 00:11] whedon commented on #2017
[code]

[2020-01-16 00:11] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-01-16 00:17] kyleniemeyer commented on #1825
@whedon accept

[2020-01-16 00:17] whedon commented on #1825
[code]

[2020-01-16 00:18] whedon commented on #1825
[code]

[2020-01-16 00:18] whedon commented on #1825
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1222

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1222, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-16 00:19] kyleniemeyer commented on #1825
@whedon accept deposit=true

[2020-01-16 00:19] whedon commented on #1825
[code]

[2020-01-16 00:19] whedon commented on #1825
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217602347809067010) 👈 🐦🐦🐦

[2020-01-16 00:19] whedon commented on #1825
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1223
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01825](https://doi.org/10.21105/joss.01825)
2. If everything looks g

[2020-01-16 00:22] kyleniemeyer commented on #1825
Congrats on your article's publication in JOSS @wingtorres!

Many thanks to @isaacvandor and @bw4sz for reviewing this submission, and @Kevin-Mattheus-Moerman for editing.

[2020-01-16 00:22] #1825 closed

[2020-01-16 00:22] whedon commented on #1825
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01825/status.svg)](https://doi.org/10.21105/joss.01825)

**We need your help!**

Journal of Open Source Softwa

[2020-01-16 00:22] kyleniemeyer commented on #1746
@whedon accept

[2020-01-16 00:22] whedon commented on #1746
[code]

[2020-01-16 00:23] whedon commented on #1746
[code]

[2020-01-16 00:23] whedon commented on #1746
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1224

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1224, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-16 00:23] kyleniemeyer commented on #1746
@whedon accept deposit=true

[2020-01-16 00:23] whedon commented on #1746
[code]

[2020-01-16 00:24] kyleniemeyer commented on #1771
@whedon check references

[2020-01-16 00:24] whedon commented on #1771
[code]

[2020-01-16 00:24] whedon commented on #1746
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217603559702913024) 👈 🐦🐦🐦

[2020-01-16 00:24] whedon commented on #1746
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1225
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01746](https://doi.org/10.21105/joss.01746)
2. If everything looks g

[2020-01-16 00:25] kyleniemeyer commented on #1771
Hi @StephanStock, I'm doing some final checks on the article before publication.

In the references, it looks like the journal/publication venue is missing for a few: both Astropy articles, Dawson, Trifonov, and Zechmeister. Can you check on that?

[2020-01-16 00:27] kyleniemeyer commented on #1746
Congrats @lgeiger on your article's publication in JOSS!

Many thanks to @sbrugman, @casperdcl, and @EduPH for reviewing this submission, and @terrytangyuan for editing.

[2020-01-16 00:30] kyleniemeyer commented on #1771
Some other minor fixes:
- please add commas after "e.g." -> `e.g.,`
- In the second paragraph, change the Trifonov in-text reference to use the `@author:2001` formatting to remove the parentheses—it will appear like "Trifonov et al. (2018)"

[2020-01-16 00:31] kyleniemeyer commented on #1746
(keeping this open as the PDF is not yet displaying)

[2020-01-16 01:13] majensen commented on #1945
@whedon set 10.5281/zenodo.3609195 as archive

[2020-01-16 01:13] whedon commented on #1945
OK. <a href="https://doi.org/10.5281/zenodo.3609195" target="_blank">10.5281/zenodo.3609195</a> is the archive.

[2020-01-16 01:13] majensen commented on #1945
@whedon set v1 as version

[2020-01-16 01:14] whedon commented on #1945
OK. v1 is the version.

[2020-01-16 01:17] majensen commented on #1945
Hello @openjournals/joss-eics - the reviewers have recommended acceptance of #1945. @raullaasner has provided the archive, which checks out for title and authors, and whedon has done his duty. Thanks!

[2020-01-16 01:46] streeve commented on #1963
Yes, I'm happy to - this will be my first JOSS review :)

[2020-01-16 03:52] ryEllison commented on #1957
@VarIr paper is currently under review. Once it's sharable, I don't mind to send it along. Also, certainly interested in hearing about what you're working on regarding neurophysiological time-series data. My email is ryan.dean.ellison@gmail.com. Perhaps we should move the conversation there...

[2020-01-16 06:11] serine commented on #1983
## Functionality

- Installation: Does installation proceed as outlined in the documentation?

In the current form software doesn't install. It is missing:

- `opencv-python` module is missing, had to `pip install opencv-python`
I've noticed that `setup.py` has it, but the line is commented out

- `sudo apt-get install python3-tk` This is annoying because it requires system wide installation, coul

[2020-01-16 09:04] csoneson commented on #1981
👋 @mikldk - I have gone through the paper and submitted a PR with a couple of minor fixes. Could you check and merge that, and generate a new proof?

Also, could you please edit the Zenodo archive so that the title and authors exactly match those of the paper.

[2020-01-16 09:05] csoneson commented on #1981
@tomsing1, @standage - thanks a lot for your reviews!

[2020-01-16 09:19] mikldk commented on #1981
@csoneson Thanks! PR now merged and README/site rebuild: https://github.com/mikldk/DNAtools/commit/d25fc87e7760f6fe7ed65b853618a76b1f966b31 .

I generated new release at GitHub and Zenodo. DOI for new release: DOI: [10.5281/zenodo.3609584](https://doi.org/10.5281/zenodo.3609584) / <https://zenodo.org/record/3609584>.

I hope everything is okay, or else let me know! Thanks for all the help and the

[2020-01-16 09:24] csoneson commented on #2009
@whedon assign @csoneson as editor

[2020-01-16 09:24] whedon commented on #2009
OK, the editor is @csoneson

[2020-01-16 09:24] csoneson commented on #2009
👋 @shalinshah1993 - I'll handle your submission. I'll start by looking for suitable reviewers (thanks for the suggestions above).

[2020-01-16 09:26] whedon commented on #1981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01981/joss.01981/10.21105.joss.01981.pdf)

[2020-01-16 09:26] csoneson commented on #1981
@whedon check references

[2020-01-16 09:27] whedon commented on #1981
[code]

[2020-01-16 09:29] csoneson commented on #1981
@whedon set 10.5281/zenodo.3609584 as archive

[2020-01-16 09:29] whedon commented on #1981
OK. <a href="https://doi.org/10.5281/zenodo.3609584" target="_blank">10.5281/zenodo.3609584</a> is the archive.

[2020-01-16 09:31] csoneson commented on #1981
@whedon set 0.2-1 as version

[2020-01-16 09:31] whedon commented on #1981
OK. 0.2-1 is the version.

[2020-01-16 09:32] csoneson commented on #1981
@whedon accept

[2020-01-16 09:33] whedon commented on #1981
[code]

[2020-01-16 09:33] whedon commented on #1981
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1226

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1226, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-16 09:33] csoneson commented on #1981
@openjournals/joss-eics - this paper is ready to be accepted. Over to you!

[2020-01-16 11:27] JonasKemmer commented on #1771
@whedon generate pdf

[2020-01-16 11:28] whedon commented on #1771
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01771/joss.01771/10.21105.joss.01771.pdf)

[2020-01-16 11:32] JonasKemmer commented on #1771
@kyleniemeyer nice catch with the references, we updated the files. We also corrected the spelling errors in the paper. Thanks for letting us know.

[2020-01-16 13:47] lgeiger commented on #1746
That's great! Many thanks to @sbrugman, @casperdcl, @EduPH, and @terrytangyuan for the great review process.

[2020-01-16 14:29] whedon commented on #1746
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01746/status.svg)](https://doi.org/10.21105/joss.01746)

**We need your help!**

Journal of Open Source Softwa

[2020-01-16 15:26] dfm commented on #1958
Thanks @effigies!

@mnarayan: Any updates from your end? Thanks!

[2020-01-16 15:31] shalinshah1993 commented on #2009
Thank you for accepting the request! While not on that list, I used to be an active contributor to an open-source organization called SBML (https://github.com/nrnb) in the past and also know a few folks who are great software engineers and researchers, if they are interested in reviewing. https://github.com/draeger-lab https://github.com/niko-rodrigue

[2020-01-16 15:32] dsurujon commented on #1830
It looks like the article text has been updated substantially. Could you please compile an updated article proof?

[2020-01-16 15:48] johnbachman commented on #1708
@whedon check references

[2020-01-16 15:49] whedon commented on #1708
[code]

[2020-01-16 15:55] johnbachman commented on #1708
@whedon check references

[2020-01-16 15:56] whedon commented on #1708
[code]

[2020-01-16 16:44] kyleniemeyer commented on #1771
@whedon accept

[2020-01-16 16:44] whedon commented on #1771
[code]

[2020-01-16 16:44] whedon commented on #1771
[code]

[2020-01-16 16:45] whedon commented on #1771
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1227

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1227, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-16 16:45] kyleniemeyer commented on #1771
@whedon accept deposit=true

[2020-01-16 16:46] whedon commented on #1771
[code]

[2020-01-16 16:47] whedon commented on #1771
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217850801676222464) 👈 🐦🐦🐦

[2020-01-16 16:47] whedon commented on #1771
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1228
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01771](https://doi.org/10.21105/joss.01771)
2. If everything looks g

[2020-01-16 16:50] kyleniemeyer commented on #1771
Congrats @StephanStock on your article's publication in JOSS!

Thanks to @Juanlu001 and @wtgee for reviewing this, and @xuanxu for editing.

[2020-01-16 16:50] #1771 closed

[2020-01-16 16:50] whedon commented on #1771
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01771/status.svg)](https://doi.org/10.21105/joss.01771)

**We need your help!**

Journal of Open Source Softwa

[2020-01-16 16:52] kthyng commented on #1965
@funsim has agreed to review!

[2020-01-16 16:53] kthyng commented on #1965
@whedon assign @funsim as reviewer

[2020-01-16 16:53] whedon commented on #1965
OK, @funsim is now a reviewer

[2020-01-16 16:54] kthyng commented on #1965
@ysimillides Are you willing to review this JOSS submission? I would hope that you review it with your expertise in Julia and numerical methods. I would hope for the review within about 3 weeks.

[2020-01-16 16:59] kyleniemeyer commented on #1708
@whedon generate pdf

[2020-01-16 16:59] whedon commented on #1708
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01708/joss.01708/10.21105.joss.01708.pdf)

[2020-01-16 17:01] kyleniemeyer commented on #1708
@whedon check references

[2020-01-16 17:01] whedon commented on #1708
[code]

[2020-01-16 17:03] kyleniemeyer commented on #1708
@johnbachman your earlier requests to check the references didn't work because the PDF needed to be rebuilt first—thanks for adding those!

Can you remove `https://doi.org/` from that one DOI causing an error? That should be the last edit needed.

[2020-01-16 17:28] ysimillides commented on #1965
Hello,

Yes that should be perfectly fine.

[2020-01-16 17:35] kyleniemeyer commented on #1945
@whedon check references

[2020-01-16 17:36] whedon commented on #1945
[code]

[2020-01-16 17:39] kyleniemeyer commented on #1945
Looks good to me!

[2020-01-16 17:39] kyleniemeyer commented on #1945
@whedon accept

[2020-01-16 17:39] whedon commented on #1945
[code]

[2020-01-16 17:39] whedon commented on #1945
[code]

[2020-01-16 17:40] whedon commented on #1945
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1229

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1229, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-16 17:41] kyleniemeyer commented on #1945
@whedon accept deposit=true

[2020-01-16 17:41] whedon commented on #1945
[code]

[2020-01-16 17:42] whedon commented on #1945
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217864724706209797) 👈 🐦🐦🐦

[2020-01-16 17:42] whedon commented on #1945
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1230
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01945](https://doi.org/10.21105/joss.01945)
2. If everything looks g

[2020-01-16 17:45] kyleniemeyer commented on #1945
Congrats @raullaasner on your article's publication in JOSS!

Thanks to @dgasmith and @mkhorton for reviewing this, and @majensen for editing.

[2020-01-16 17:52] kthyng commented on #1965
Excellent!

[2020-01-16 17:53] kthyng commented on #1965
@whedon add @ysimillides as reviewer

[2020-01-16 17:53] whedon commented on #1965
OK, @ysimillides is now a reviewer

[2020-01-16 17:53] kthyng commented on #1965
@whedon start review

[2020-01-16 17:53] whedon opened #2018 "[REVIEW]: Oceananigans.jl: Fast and friendly geophysical fluid dynamics on GPUs"
**Submitting author:** @ali-ramadhan (<a href="http://orcid.org/0000-0003-1102-1520">Ali Ramadhan</a>)
**Repository:** <a href="https://github.com/CliMA/Oceananigans.jl" target ="_blank">https://github.com/CliMA/Oceananigans.jl</a>
**Version:** v0.36.0
**Editor:** @kthyng
**Reviewers:** @funsim, @mancellin
**Archive:** <a href="https://doi.org/10.5281/zenodo.4019272" target="_blank">10.5281/zenodo

[2020-01-16 17:53] whedon commented on #1965
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2018. Feel free to close this issue now!

[2020-01-16 17:53] whedon commented on #2018
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @funsim, @ysimillides it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-01-16 17:54] whedon commented on #2018
PDF failed to compile for issue #2018 with the following error:

 Can't find any papers to compile :-(

[2020-01-16 17:54] kthyng commented on #1965
@funsim and @ysimillides Head over to the review issue [#2018](https://github.com/openjournals/joss-reviews/issues/2018) for the actual review process. Let me know if you have any questions!

[2020-01-16 17:54] #1965 closed

[2020-01-16 18:07] majensen commented on #1945
Thanks @dgasmith and @mkhorton , and congrats @raullaasner !

[2020-01-16 18:08] whedon commented on #1945
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01945/status.svg)](https://doi.org/10.21105/joss.01945)

**We need your help!**

Journal of Open Source Softwa

[2020-01-16 18:09] kyleniemeyer commented on #1945
Hey @majensen, just FYI I was leaving the issue open until the PDF builds/resolves on the article page—you can generally leave that to the handling AEiC

[2020-01-16 18:13] johnbachman commented on #1708
Will do. After that's done, I will tag and release the latest version and update the Zenodo link.

[2020-01-16 18:13] johnbachman commented on #1708
@whedon generate pdf

[2020-01-16 18:13] majensen commented on #1945
Oops thanks @kyleniemeyer will do!

[2020-01-16 18:13] whedon commented on #1708
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01708/joss.01708/10.21105.joss.01708.pdf)

[2020-01-16 18:15] johnbachman commented on #1708
@whedon check references

[2020-01-16 18:15] whedon commented on #1708
[code]

[2020-01-16 18:23] Marcdh3 commented on #1983
Hi @serine. Thank you for the detailed review as well! Many of the issues you have pointed out are actively being fixed as we speak, and we will update everyone once the last fixes are applied. As of now, I believe the last things necessary will be clearing up ambiguity in our documentation and paper, and improving our test suite. A major point needing clarification is that this software will not

[2020-01-16 18:25] johnbachman commented on #1708
@whedon set 10.5281/zenodo.3610528 as archive

[2020-01-16 18:25] whedon commented on #1708
I'm sorry @johnbachman, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-01-16 18:26] johnbachman commented on #1708
@brainstorm @kyleniemeyer The updated Zenodo archive (for Adeft version 5.5) is 10.5281/zenodo.3610528. Once that is updated we should be good to go.

[2020-01-16 18:44] #1945 closed

[2020-01-16 18:44] whedon commented on #1945
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01945/status.svg)](https://doi.org/10.21105/joss.01945)

**We need your help!**

Journal of Open Source Softwa

[2020-01-16 18:45] kyleniemeyer commented on #1708
@whedon set 10.5281/zenodo.3610528 as archive

[2020-01-16 18:45] whedon commented on #1708
OK. <a href="https://doi.org/10.5281/zenodo.3610528" target="_blank">10.5281/zenodo.3610528</a> is the archive.

[2020-01-16 18:45] kyleniemeyer commented on #1708
@whedon accept

[2020-01-16 18:45] whedon commented on #1708
[code]

[2020-01-16 18:45] whedon commented on #1708
[code]

[2020-01-16 18:46] whedon commented on #1708
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1231

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1231, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-16 18:51] kyleniemeyer commented on #1708
@whedon accept deposit=true

[2020-01-16 18:51] whedon commented on #1708
[code]

[2020-01-16 18:52] whedon commented on #1708
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217882269190361090) 👈 🐦🐦🐦

[2020-01-16 18:52] whedon commented on #1708
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1232
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01708](https://doi.org/10.21105/joss.01708)
2. If everything looks g

[2020-01-16 18:57] ali-ramadhan commented on #2018
@whedon generate pdf from branch joss-paper

[2020-01-16 18:57] whedon commented on #2018
[code]

[2020-01-16 18:57] kyleniemeyer commented on #1708
Congrats @johnbachman on your article's publication in JOSS!

Many thanks to @GullyAPCBurns and @gbader for reviewing, and @brainstorm for editing.

[2020-01-16 18:57] #1708 closed

[2020-01-16 18:57] whedon commented on #1708
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01708/status.svg)](https://doi.org/10.21105/joss.01708)

**We need your help!**

Journal of Open Source Softwa

[2020-01-16 18:57] whedon commented on #2018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02018/joss.02018/10.21105.joss.02018.pdf)

[2020-01-16 19:06] ali-ramadhan commented on #2018
Thanks so much @funsim and @ysimillides for agreeing to review our submission!

Please let me know if you guys need access to GPUs and we can figure something out.

[2020-01-16 19:10] kyleniemeyer commented on #1981
Looks good to me.

[2020-01-16 19:11] kyleniemeyer commented on #1981
@whedon accept deposit=true

[2020-01-16 19:11] whedon commented on #1981
[code]

[2020-01-16 19:12] whedon commented on #1981
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1217887294327283719) 👈 🐦🐦🐦

[2020-01-16 19:12] whedon commented on #1981
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1233
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01981](https://doi.org/10.21105/joss.01981)
2. If everything looks g

[2020-01-16 19:13] kyleniemeyer commented on #1981
Congrats @mikldk on your article's publication in JOSS!

Many thanks to @standage and @tomsing1 for reviewing this, and @csoneson for editing.

[2020-01-16 19:24] whedon commented on #2018
[code]

[2020-01-16 19:27] johnbachman commented on #1708
Thanks all!! @brainstorm @kyleniemeyer @gbader @GullyAPCBurns

[2020-01-16 19:39] KshitijAggarwal commented on #1987
Thanks for suggesting me to review this. Great work on hoki. It is really interesting and would be very useful for the community. I haven't yet tested the functionality of the code, will do that soon.
Here are a few comments from the rest:

* Regarding authorship: As the co-authors haven't contributed to the code development directly, it is hard to know their contribution to their project. I presu

[2020-01-16 19:42] kthyng commented on #1985
@castelao Let's try then.

@seagrinch If you don't think you'll have time, it's probably best to not review. If we end up needing to push back anyway, though, I would probably reach out again in that case.

@gmaze JOSS is the Journal for Open Source Software, which involves largely code-review based for software with research applications. Are you interested in reviewing this submission? We ask fo

[2020-01-16 19:45] kthyng commented on #1609
@poulson Can help shepherd this forward. Nice work everyone!

[2020-01-16 19:52] raullaasner commented on #1945
Thank you all for the acceptance!

[2020-01-16 19:52] csoneson commented on #2009
👋 @sirsharpest, @caldarolamartin, @lbugnon, @RealPolitiX - would you be interested in reviewing this submission for JOSS?

[2020-01-16 20:00] lbugnon commented on #2009
@csoneson I'm in! please send reviewer instructions just in case.

[2020-01-16 20:04] mikldk commented on #1981
@standage @tomsing1 @csoneson @kyleniemeyer: Many thanks to you all for your help and work!

[2020-01-16 20:13] csoneson commented on #2009
@lbugnon Great, thanks! Reviewer instructions are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
Once we have at least two reviewers I will open the actual review issue, where the review will take place (you will have your reviewer checklist there).

[2020-01-16 20:18] #1981 closed

[2020-01-16 20:18] whedon commented on #1981
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01981/status.svg)](https://doi.org/10.21105/joss.01981)

**We need your help!**

Journal of Open Source Softwa

[2020-01-16 20:37] pySRURGS commented on #1998
@arokem Can you try different reviewers?

[2020-01-16 21:19] SirSharpest commented on #2009
Yes, I'd be glad to review!

[2020-01-16 21:32] gmaze commented on #1985
Hi @karthik
Yes I'd like to review this paper,
But like many I'll be very busy to the end of February because of the Ocean Sciences meeting (and many other commitments)
So I can't guarantee to finish the review within 3 weeks.
g

[2020-01-16 22:07] lpantano commented on #2002
Thanks @krother, @tkchafin do you have any recommendation for a reviewer?

[2020-01-16 22:52] 1313e commented on #2004
Any updates?

[2020-01-17 01:01] mbobra commented on #2004
@tacaswell, @wafels Let me know if you have any questions!

[2020-01-17 01:16] iagolemos1 commented on #2013
@whedon generate pdf

[2020-01-17 03:07] serine commented on #1983
@Marcdh3 yep, so `python3-tk` isn't required. I've removed that module and installed worked fine. I'm not sure why it isn't required, most likely todo with python version. This is the original issue that I faced

[code]

using python 3.6.7 fixed that issue.

However you should provide more explicit installation steps. This is what I had to do

[code]

[code]

Yep as you've mentioned some work on t

[2020-01-17 03:56] whedon opened #2019 "[PRE REVIEW]: Akmedoids R package for generating directionally-homogeneous clusters of longitudinal data sets"
**Submitting author:** @MAnalytics (<a href="http://orcid.org/0000-0002-9006-4934">Monsuru Adepeju</a>)
**Repository:** <a href="https://github.com/MAnalytics/akmedoids" target ="_blank">https://github.com/MAnalytics/akmedoids</a>
**Version:** v0.1.5
**Editor:** @karthik
**Reviewers:** @karthik, @njtierney

**Author instructions**

Thanks for submitting your paper to JOSS @MAnalytics. **Currently,

[2020-01-17 03:56] whedon commented on #2019
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-17 03:56] whedon commented on #2019
[code]

[2020-01-17 03:56] whedon commented on #2019
[code]

[2020-01-17 03:56] whedon commented on #2019
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02019/joss.02019/10.21105.joss.02019.pdf)

[2020-01-17 03:57] kyleniemeyer commented on #2019
Hey @karthik, I know you've been out, but if you're back could you edit this?

[2020-01-17 03:58] whedon opened #2020 "[PRE REVIEW]: SeisModels.jl: A Julia package for models of the Earth's interior"
**Submitting author:** @anowacki (<a href="http://orcid.org/0000-0001-7669-7383">Andy Nowacki</a>)
**Repository:** <a href="https://github.com/anowacki/SeisModels.jl" target ="_blank">https://github.com/anowacki/SeisModels.jl</a>
**Version:** v1.0.0
**Editor:** @kbarnhart
**Reviewers:** @daniellivingston, @fhorrobin

**Author instructions**

Thanks for submitting your paper to JOSS @anowacki. **Cu

[2020-01-17 03:58] whedon commented on #2020
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-17 03:59] whedon commented on #2020
[code]

[2020-01-17 03:59] kyleniemeyer commented on #2020
Hey @kbarnhart, could you edit this for us?

[2020-01-17 03:59] whedon commented on #2020
[code]

[2020-01-17 03:59] whedon commented on #2020
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02020/joss.02020/10.21105.joss.02020.pdf)

[2020-01-17 04:01] whedon opened #2021 "[PRE REVIEW]: refsplitr: author name disambiguation, author georeferencing, and mapping of coauthorship networks with 'Web of Science' data."
**Submitting author:** @embruna (<a href="http://orcid.org/0000-0003-3381-8477">Emilio M. Bruna</a>)
**Repository:** <a href="https://github.com/ropensci/refsplitr" target ="_blank">https://github.com/ropensci/refsplitr</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewers:** @kyleniemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @embruna. **Currently, there isn't

[2020-01-17 04:01] whedon commented on #2021
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-17 04:01] whedon commented on #2021
[code]

[2020-01-17 04:02] whedon commented on #2021
[code]

[2020-01-17 04:02] whedon commented on #2021
Failed to discover a valid open source license.

[2020-01-17 04:02] whedon commented on #2021
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02021/joss.02021/10.21105.joss.02021.pdf)

[2020-01-17 04:02] kyleniemeyer commented on #2021
Hi @embruna, thanks for your submission to JOSS. To confirm, this has already been reviewed by rOpenSci? If so, can you share the review thread here?

[2020-01-17 04:03] kyleniemeyer commented on #2021
One issue: your repository is missing a LICENSE file, corresponding to a valid open-source software license

[2020-01-17 04:04] whedon opened #2022 "[PRE REVIEW]: scTree: An R package to generate antibody-compatible classifiers from single-cell sequencing data"
**Submitting author:** @jspaezp (<a href="http://orcid.org/0000-0002-0065-1474">J. Sebastian Paez</a>)
**Repository:** <a href="https://github.com/jspaezp/sctree" target ="_blank">https://github.com/jspaezp/sctree</a>
**Version:** 0.0.5
**Editor:** @will-rowe
**Reviewers:** @mschubert, @jenzopr

**Author instructions**

Thanks for submitting your paper to JOSS @jspaezp. **Currently, there isn't an

[2020-01-17 04:04] whedon commented on #2022
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-17 04:05] whedon commented on #2022
[code]

[2020-01-17 04:05] whedon commented on #2022
[code]

[2020-01-17 04:05] kyleniemeyer commented on #2022
Hi @will-rowe, can you edit this submission for us?

[2020-01-17 04:05] whedon commented on #2022
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02022/joss.02022/10.21105.joss.02022.pdf)

[2020-01-17 04:06] kyleniemeyer commented on #2022
@jspaezp FYI, it looks like your article has an invalid DOI for one of the referenes

[2020-01-17 04:07] whedon opened #2023 "[PRE REVIEW]: BGGM: Bayesian Gaussian Graphical Models in R"
**Submitting author:** @donaldRwilliams (<a href="http://orcid.org/0000-0001-6735-8785">Donald Williams </a>)
**Repository:** <a href="https://github.com/donaldRwilliams/BGGM" target ="_blank">https://github.com/donaldRwilliams/BGGM</a>
**Version:** 1.0.0
**Editor:** @akeshavan
**Reviewers:** @jayrobwilliams, @paulgovan

**Author instructions**

Thanks for submitting your paper to JOSS @donaldRwil

[2020-01-17 04:07] whedon commented on #2023
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-17 04:07] whedon commented on #2023
PDF failed to compile for issue #2023 with the following error:

 Can't find any papers to compile :-(

[2020-01-17 04:07] whedon commented on #2023
[code]

[2020-01-17 04:07] whedon commented on #2023
Failed to discover a valid open source license.

[2020-01-17 04:07] kyleniemeyer commented on #2023
Hi @akeshavan, could you edit this for us?

[2020-01-17 04:09] whedon opened #2024 "[PRE REVIEW]: SpeciesEvolver: A Landlab component to evolve life in simulated landscapes"
**Submitting author:** @nathanlyons (<a href="http://orcid.org/0000-0001-6965-3374">Nathan Lyons</a>)
**Repository:** <a href="https://github.com/landlab/landlab" target ="_blank">https://github.com/landlab/landlab</a>
**Version:** v2.0.0b3
**Editor:** @kyleniemeyer
**Reviewers:** @ebgoldstein, @fclubb

**Author instructions**

Thanks for submitting your paper to JOSS @nathanlyons. **Currently, th

[2020-01-17 04:09] whedon commented on #2024
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-17 04:09] whedon commented on #2024
PDF failed to compile for issue #2024 with the following error:

 Can't find any papers to compile :-(

[2020-01-17 04:09] whedon commented on #2024
[code]

[2020-01-17 04:10] whedon commented on #2024
[code]

[2020-01-17 04:11] kyleniemeyer commented on #2024
Hi @nathanlyons, could you clarify the focus of your submission (SpeciesEvolver) vs the main package of the repository you listed, Landlab? At the repo, I see an article for "GroundwaterDupuitPercolator".

[2020-01-17 04:21] whedon opened #2025 "[PRE REVIEW]: MetSim: A Python package for estimation anddisaggregation of meteorological data"
**Submitting author:** @arbennett (<a href="http://orcid.org/0000-0002-7742-3138">Andrew Bennett</a>)
**Repository:** <a href="https://github.com/UW-Hydro/MetSim" target ="_blank">https://github.com/UW-Hydro/MetSim</a>
**Version:** v2.2.0
**Editor:** @sjpfenninger
**Reviewers:** @Chilipp, @dsryberg

**Author instructions**

Thanks for submitting your paper to JOSS @arbennett. **Currently, there is

[2020-01-17 04:21] whedon commented on #2025
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-17 04:21] whedon commented on #2025
[code]

[2020-01-17 04:21] kyleniemeyer commented on #2025
Hi @sjpfenninger, welcome to the team! Could you edit this submission for us?

[2020-01-17 04:21] whedon commented on #2025
[code]

[2020-01-17 04:21] whedon commented on #2025
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02025/joss.02025/10.21105.joss.02025.pdf)

[2020-01-17 04:24] kyleniemeyer commented on #2021
@whedon assign @kyleniemeyer as editor

[2020-01-17 04:24] whedon commented on #2021
OK, the editor is @kyleniemeyer

[2020-01-17 06:52] clauswilke commented on #2017
Overall this looks good to me. I have a few minor comments:
- Consistent use of lower-case "i" looks strange to me. I think the writing should follow the standard English convention of using upper-case "I" when referring to oneself.
- The first example in the (README)[https://github.com/corybrunson/ggalluvial/blob/master/README.md] appears to use a deprecated parameter.
- I would like to ask the a

[2020-01-17 07:55] csoneson commented on #2009
@SirSharpest, @RealPolitiX - brilliant! I'll assign the three of you and start the review issue.

[2020-01-17 07:55] csoneson commented on #2009
@whedon assign @lbugnon as reviewer

[2020-01-17 07:55] whedon commented on #2009
OK, @lbugnon is now a reviewer

[2020-01-17 07:55] csoneson commented on #2009
@whedon add @SirSharpest as reviewer

[2020-01-17 07:55] whedon commented on #2009
OK, @SirSharpest is now a reviewer

[2020-01-17 07:55] csoneson commented on #2009
@whedon add @RealPolitiX as reviewer

[2020-01-17 07:55] whedon commented on #2009
OK, @RealPolitiX is now a reviewer

[2020-01-17 07:56] csoneson commented on #2009
@whedon start review

[2020-01-17 07:56] whedon opened #2026 "[REVIEW]: ExTemp: A computational and image-processing suite for extracting temporal barcodes"
**Submitting author:** @shalinshah1993 (<a href="http://orcid.org/0000-0002-1406-3577">Shalin Shah</a>)
**Repository:** <a href="https://github.com/shalinshah1993/temporalDNAbarcodes" target ="_blank">https://github.com/shalinshah1993/temporalDNAbarcodes</a>
**Version:** 1.0.0
**Editor:** @csoneson
**Reviewer:** @lbugnon, @SirSharpest, @RealPolitiX
**Archive:** <a href="https://doi.org/10.5281/zen

[2020-01-17 07:56] whedon commented on #2009
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2026. Feel free to close this issue now!

[2020-01-17 07:56] whedon commented on #2026
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lbugnon, @SirSharpest, @RealPolitiX it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, y

[2020-01-17 07:57] whedon commented on #2026
[code]

[2020-01-17 07:57] #2009 closed

[2020-01-17 07:57] whedon commented on #2026
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02026/joss.02026/10.21105.joss.02026.pdf)

[2020-01-17 07:57] csoneson commented on #2026
@lbugnon, @SirSharpest, @RealPolitiX - this is where the review happens! Please check the reviewer instructions in the issue above, and don't hesitate to ping me if you have questions.

[2020-01-17 09:41] anowacki commented on #2020
Choosing from the list, I would suggest the following would be able to provide a review:
- daniellivingston
- lheagy
- fhorrobin

[2020-01-17 10:30] leouieda commented on #1943
Hopefully all reviewer comments have been addressed in fatiando/pooch#132 and fatiando/pooch#134

[2020-01-17 10:30] leouieda commented on #1943
@whedon generate pdf

[2020-01-17 10:31] whedon commented on #1943
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01943/joss.01943/10.21105.joss.01943.pdf)

[2020-01-17 10:49] martinju commented on #1948
Apparently no response from any of those either.
Here are a couple of more suggestions:
bahung, ati-ozgur, asntech, alessandroBombelli, Aguang, tianxzhu, dirmeier, zaxtax

[2020-01-17 10:53] expectopatronum commented on #1948
I am sorry for the very late response. I would be willing to do a review starting in February, before that I have deadlines.

[2020-01-17 11:26] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-17 11:26] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-17 11:46] meg-simula commented on #1963
Fantastic @streeve, thanks!

[2020-01-17 11:46] meg-simula commented on #1963
@whedon assign streeve as reviewer

[2020-01-17 11:46] whedon commented on #1963
OK, streeve is now a reviewer

[2020-01-17 12:07] danielskatz commented on #1943
👋 @martindurant & @hmaarrfk - please let us know if you think this is now ready to accept or if anything else is needed. (@martindurant - specifically, there is one review criterion that you have not checked)

[2020-01-17 12:43] martindurant commented on #1943
yes, all go

[2020-01-17 12:46] danielskatz commented on #1943
@hmaarrfk - your opinion please?

[2020-01-17 13:20] VarIr commented on #1957
@whedon generate pdf from branch develop

[2020-01-17 13:21] whedon commented on #1957
[code]

[2020-01-17 13:21] whedon commented on #1957
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01957/joss.01957/10.21105.joss.01957.pdf)

[2020-01-17 13:36] VarIr commented on #1957
@kyleniemeyer Thanks for pointing that out. I removed the non-essential links altogether, and embedded the links to the github repo and docs into the text body. Em-dashes now come w/o surrounding spaces.

[2020-01-17 13:47] terrytangyuan commented on #1948
@whedon add @expectopatronum as reviewer

[2020-01-17 13:48] whedon commented on #1948
OK, @expectopatronum is now a reviewer

[2020-01-17 13:48] terrytangyuan commented on #1948
@whedon start review

[2020-01-17 13:48] whedon opened #2027 "[REVIEW]: shapr: An R-package for explaining machine learning models with dependence-aware Shapley values"
**Submitting author:** @martinju (<a href="http://orcid.org/0000-0003-3908-5155">Martin Jullum</a>)
**Repository:** <a href="https://github.com/NorskRegnesentral/shapr" target ="_blank">https://github.com/NorskRegnesentral/shapr</a>
**Version:** v0.1.1
**Editor:** @terrytangyuan
**Reviewer:** @frycast, @expectopatronum
**Archive:** <a href="https://doi.org/10.5281/zenodo.3641831" target="_blank">1

[2020-01-17 13:48] whedon commented on #1948
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2027. Feel free to close this issue now!

[2020-01-17 13:48] whedon commented on #2027
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @frycast, @expectopatronum it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2020-01-17 13:49] whedon commented on #2027
[code]

[2020-01-17 13:49] whedon commented on #2027
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02027/joss.02027/10.21105.joss.02027.pdf)

[2020-01-17 13:49] terrytangyuan commented on #1948
Thanks everyone! Please head over to #2027 for the review!

[2020-01-17 13:49] #1948 closed

[2020-01-17 13:49] MAnalytics commented on #2019
Missing DOIs now included!
Thanks you.

[2020-01-17 13:50] terrytangyuan commented on #2027
Note that @expectopatronum will not be able to review until Feb.

[2020-01-17 14:10] hmaarrfk commented on #1943
Just waking up. Good on my end. I was following up in their repo and tracking there progress there :+1:

[2020-01-17 14:14] nathanlyons commented on #2024
Hi @kyleniemeyer, the article "GroundwaterDupuitPercolator" on the master branch is also in JOSS review. This submission is on the branch, `nathanlyons_species_evolver_joss_review` where the paper materials live in /joss/species_evolver.

[2020-01-17 14:15] nathanlyons commented on #2024
@whedon prepare pdf from branch nathanlyons_species_evolver_joss_review

[2020-01-17 14:15] whedon commented on #2024
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-01-17 14:16] nathanlyons commented on #2024
@whedon generate pdf from branch nathanlyons_species_evolver_joss_review

[2020-01-17 14:16] whedon commented on #2024
[code]

[2020-01-17 14:17] whedon commented on #2024
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02024/joss.02024/10.21105.joss.02024.pdf)

[2020-01-17 14:21] danielskatz commented on #1943
👋 @leouieda - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and author list

[2020-01-17 15:03] leouieda commented on #1943
@danielskatz will do. Just waiting on any editorial fixes to the paper before releasing and archiving.

[2020-01-17 15:09] danielskatz commented on #1943
The only things I see are potentially that some of the "python"s in reference titles could be "Python"s instead.

[2020-01-17 15:28] effigies commented on #1958
## Review

LFSpy is a Python reimplementation of [LFS](https://github.com/armanfn/LFS), originally written by Narges Armanfard (@armanfn).

Much of the requested review is straightforward box-checking, so I'm restricting these comments to those where I have questions.

@kiretd wrote the paper and also contributed tests. According to the commit log, the contributors to the repository were:

[code]

[2020-01-17 15:31] leouieda commented on #1943
@whedon generate pdf

[2020-01-17 15:32] whedon commented on #1943
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01943/joss.01943/10.21105.joss.01943.pdf)

[2020-01-17 15:39] leouieda commented on #1943
Should be fixed now. The bibtex was poorly formatted.

[2020-01-17 15:48] nathanlyons commented on #2024
Potential reviewers, some not in reviewer list
* ebgoldstein
* fclubb
* dombennett
* alangston

[2020-01-17 15:52] kbarnhart commented on #2020
@kyleniemeyer I can edit

[2020-01-17 15:52] kbarnhart commented on #2020
@whedon assign @kbarnhart as editor

[2020-01-17 15:52] whedon commented on #2020
OK, the editor is @kbarnhart

[2020-01-17 16:17] leouieda commented on #1943
@danielskatz  done. Release version 0.7.1 and archive DOI [10.5281/zenodo.3611376](https://doi.org/10.5281/zenodo.3611376)

[2020-01-17 16:19] tkchafin commented on #2002
@txje or @YichaoOU have both written similar applications, and might be interested in reviewing?

[2020-01-17 16:22] danielskatz commented on #1943
@whedon set v0.7.1 as version

[2020-01-17 16:22] whedon commented on #1943
OK. v0.7.1 is the version.

[2020-01-17 16:22] danielskatz commented on #1943
@whedon set 10.5281/zenodo.3611376 as archive

[2020-01-17 16:22] whedon commented on #1943
OK. <a href="https://doi.org/10.5281/zenodo.3611376" target="_blank">10.5281/zenodo.3611376</a> is the archive.

[2020-01-17 16:23] danielskatz commented on #1943
@whedon accept

[2020-01-17 16:23] whedon commented on #1943
[code]

[2020-01-17 16:23] whedon commented on #1943
[code]

[2020-01-17 16:23] whedon commented on #1943
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1234

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1234, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-17 16:27] danielskatz commented on #1943
@whedon accept deposit=true

[2020-01-17 16:27] whedon commented on #1943
[code]

[2020-01-17 16:28] whedon commented on #1943
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1218208453728067589) 👈 🐦🐦🐦

[2020-01-17 16:28] whedon commented on #1943
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1235
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01943](https://doi.org/10.21105/joss.01943)
2. If everything looks g

[2020-01-17 16:31] danielskatz commented on #1943
Thanks to @hmaarrfk & @martindurant for editing!
And congratulations to @leouieda and co-authors!

[2020-01-17 16:31] #1943 closed

[2020-01-17 16:31] whedon commented on #1943
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01943/status.svg)](https://doi.org/10.21105/joss.01943)

**We need your help!**

Journal of Open Source Softwa

[2020-01-17 16:36] leouieda commented on #1797
@jmansour I'm happy to move on with acceptance of your paper :tada: Here are the steps you need to take now:

- Double check authors and affiliations (including ORCIDs)
- Make a release with the latest changes from the review and **post the version number here**.
- Archive the release on Zenodo/figshare/etc and **post the DOI here**.
- Make sure that the title and author list (including ORCIDs) in

[2020-01-17 16:36] majensen commented on #1972
Hey @jeremiahsavage - would you be able to review this submission (#1972) for [JOSS](https://joss.theoj.org)? Let me know if you have any questions about the process-Much obliged for your consideration! --@majensen

[2020-01-17 16:36] leouieda commented on #1943
Thank you @danielskatz @hmaarrfk & @martindurant for all your work!

[2020-01-17 16:46] mbdemoraes commented on #1970
@whedon generate pdf

[2020-01-17 16:46] whedon commented on #1970
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01970/joss.01970/10.21105.joss.01970.pdf)

[2020-01-17 17:03] mbdemoraes commented on #1970
@DARSakthi  Your suggestions were applied to both paper and documentation. Here is the list of modifications:

- Switched contents from Summary and Statement of Need sections;
- Included a sentence explaining what MOAFS stands for;
- Included a concise, one-line statement about MOAFS purpose in the first paragraph (Summary);
- Changed the "Library design" paragraph to explain better that feature s

[2020-01-17 17:16] michael-hartmann commented on #2011
@eschnett Thank you for your suggestion. I will add a note. Hopefully, I have some time to work on it on the weekend. :)

[2020-01-17 17:20] kyleniemeyer commented on #1957
@whedon generate pdf

[2020-01-17 17:20] whedon commented on #1957
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01957/joss.01957/10.21105.joss.01957.pdf)

[2020-01-17 17:24] embruna commented on #2021
This package has been reviewed by rOpenSci: [https://github.com/ropensci/software-review/issues/256](https://github.com/ropensci/software-review/issues/256), @maelle

[2020-01-17 17:24] kyleniemeyer commented on #1957
@whedon accept

[2020-01-17 17:24] whedon commented on #1957
[code]

[2020-01-17 17:25] whedon commented on #1957
[code]

[2020-01-17 17:25] whedon commented on #1957
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1236

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1236, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-17 17:31] embruna commented on #2021
Thanks @kyleniemeyer.  The Description notes it's licensed under GPL-3, but I'll add a corresponding file right away.

[2020-01-17 17:32] kyleniemeyer commented on #1957
@whedon accept deposit=true

[2020-01-17 17:32] whedon commented on #1957
[code]

[2020-01-17 17:33] whedon commented on #1957
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1218224924256612352) 👈 🐦🐦🐦

[2020-01-17 17:33] whedon commented on #1957
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1237
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01957](https://doi.org/10.21105/joss.01957)
2. If everything looks g

[2020-01-17 17:41] kyleniemeyer commented on #1957
Congrats @VarIr on your article's publication in JOSS!

Thanks to @ryEllison and @aozorahime for reviewing this, and @terrytangyuan for editing.

[2020-01-17 17:41] #1957 closed

[2020-01-17 17:41] whedon commented on #1957
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01957/status.svg)](https://doi.org/10.21105/joss.01957)

**We need your help!**

Journal of Open Source Softwa

[2020-01-17 18:06] kyleniemeyer commented on #2021
@embruna thanks, please do and let me know when you have

[2020-01-17 18:20] jeremiahsavage commented on #1972
Hi @majensen , Thanks for thinking of me on this. It looks like interesting an interesting method, but this is out of my expertise.

[2020-01-17 18:33] embruna commented on #2021
@kyleniemeyer It's now there, along with an edit in the DESCRIPTION pointing to it (`License: GPL-3 + file LICENSE`).

[2020-01-17 18:34] castelao commented on #1985
@gmaze, thanks!

[2020-01-17 18:45] donaldRwilliams commented on #2023
Hi:
Here are two potential reviewers.
(1) Paul-Christian Bürkner
(2) Tristan Mahr

I also noted there was an error compiling the pdf. I used the `rticles` R package to make the JOSS submission, which provided a nice template for this journal. However, there are a whole bunch of additional files in the folder "joss_paper" other than paper.md. Perhaps this caused the error ?

thanks !

[2020-01-17 19:06] kbarnhart commented on #1930
:wave: @KristinaRiemer @dlebauer @khaors would you be willing to review this submission for JOSS?

[2020-01-17 19:46] YichaoOU commented on #2002
@tkchafin Thanks for the invitation. How should I start?

[2020-01-17 20:08] kyleniemeyer commented on #2021
@whedon add @kyleniemeyer as reviewer

[2020-01-17 20:08] whedon commented on #2021
OK, @kyleniemeyer is now a reviewer

[2020-01-17 20:08] kyleniemeyer commented on #2021
@whedon start review

[2020-01-17 20:08] whedon opened #2028 "[REVIEW]: refsplitr: author name disambiguation, author georeferencing, and mapping of coauthorship networks with 'Web of Science' data."
**Submitting author:** @embruna (<a href="http://orcid.org/0000-0003-3381-8477">Emilio M. Bruna</a>)
**Repository:** <a href="https://github.com/ropensci/refsplitr" target ="_blank">https://github.com/ropensci/refsplitr</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @kyleniemeyer
**Archive:** <a href="https://doi.org/10.5281/zenodo.3608285" target="_blank">10.5281/zenodo.3608285</

[2020-01-17 20:08] whedon commented on #2021
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2028. Feel free to close this issue now!

[2020-01-17 20:08] whedon commented on #2028
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2020-01-17 20:08] #2021 closed

[2020-01-17 20:08] whedon commented on #2028
[code]

[2020-01-17 20:09] whedon commented on #2028
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02028/joss.02028/10.21105.joss.02028.pdf)

[2020-01-17 20:42] lmweber commented on #1991
Thank you for your submission.

My main comment relates to possible prior publication. The authors previously published a methods paper in August 2019 (Millstein et al., 2019, [Bioinformatics](https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/btz661/5554652)), describing the computational methodology and introducing the `partition` R package, which was made availab

[2020-01-17 21:44] pachamaltese commented on #1866
Hi
Just to inform that I rewrote all functions toward easier use and speed

On Mon, Dec 16, 2019, 6:50 AM Olivia Guest <notifications@github.com> wrote:

[2020-01-17 21:55] oliviaguest commented on #1866
@JohnCoene let us know when you check this out.

@pachamaltese thank you for the update!

[2020-01-17 22:07] khaors commented on #1930
Dear Katy:

Yes, I am available to review the paper. Please let me know how can I start
the review process.

Thank & Regards,

Oscar

On Fri, Jan 17, 2020, 2:06 PM Katy Barnhart <notifications@github.com>
wrote:

[2020-01-17 22:15] jmansour commented on #1797
Great, thanks @leouieda. Will report back shortly.

[2020-01-17 22:20] kbarnhart commented on #1930
@khaors thanks for your willingness to review! @ryanpmcg thank you for your patience as I found suitable reviewers.

I will now start the official review issue which will provide additional instructions to @frengers, @stoor001 and @khaors for undertaking the review.

[2020-01-17 22:21] kbarnhart commented on #1930
@whedon add @khaors as reviewer

[2020-01-17 22:21] whedon commented on #1930
OK, @khaors is now a reviewer

[2020-01-17 22:21] kbarnhart commented on #1930
@whedon start review

[2020-01-17 22:21] whedon opened #2029 "[REVIEW]: WEPPCLIFF: A command-line tool to process climate inputs for soil loss models"
**Submitting author:** @ryanpmcg (<a href="http://orcid.org/0000-0003-0464-9774">Ryan McGehee</a>)
**Repository:** <a href="https://github.com/ryanpmcg/WEPPCLIFF" target ="_blank">https://github.com/ryanpmcg/WEPPCLIFF</a>
**Version:** 1.4
**Editor:** @arfon
**Reviewers:** @kbarnhart, @marianadobre, @baharmon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3820633" target="_blank">10.5281/zeno

[2020-01-17 22:21] whedon commented on #1930
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2029. Feel free to close this issue now!

[2020-01-17 22:21] whedon commented on #2029
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @frengers, @stoor001, @khaors it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2020-01-17 22:21] #1930 closed

[2020-01-17 22:22] whedon commented on #2029
[code]

[2020-01-17 22:22] whedon commented on #2029
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02029/joss.02029/10.21105.joss.02029.pdf)

[2020-01-17 22:24] corybrunson commented on #2017
@whedon generate pdf

[2020-01-17 22:24] kbarnhart commented on #2029
:wave: ryanpmcg, @frengers, @stoor001, @khaors this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is differen

[2020-01-17 22:24] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-01-17 22:33] corybrunson commented on #2017
@clauswilke thank you for this feedback. I think i've addressed most of your concerns:

* In order to avoid undermining the change in later revisions, i'll do a find--replace from "i" to "I" once the paper is in its final form.
* I have corrected the outdated use of the `label.strata` parameter. Thank you for catching it!
* I have revised the "Concepts" section with a more careful and detailed com

[2020-01-17 22:47] clauswilke commented on #2017
I am fine with the revision. One last comment: The "Concepts" section needs some copy-editing. In places it is difficult to follow the prose. For example, by the time I reach the sentence "... the plots generated by these extensions ..." I have completely lost track of what "these extensions" refers to.

You may benefit from talking through this section with a colleague, just so you get third-part

[2020-01-17 22:49] malcolmbarrett commented on #1991
Thank you for the helpful comments, @lmweber and @clauswilke. I will address them at the beginning of February. However, the question of dual publication seems urgent enough to reply immediately. So let me address that.

The Bioinformatics paper is about the framework and includes simulations and examples pertaining to it. We do mention that there *is* an R package, but that paper does *not* intro

[2020-01-17 22:58] clauswilke commented on #1991
My opinion is that having a publication specifically about the R package is appropriate. Different authorship is also appropriate.

[2020-01-17 23:21] DARSakthi commented on #1970
This looks great guys. Well done and congratulations. I'm ready to approve
it on my end
Dalton Sakthivadivel
Biomedical Engineering
Stony Brook University

On Fri, 17 Jan 2020 at 12:03, mbdemoraes <notifications@github.com> wrote:

[2020-01-18 00:07] aebergl commented on #1830
@cMadan
Hello again.
Is generating the pdf something we can do?

[2020-01-18 00:11] kbarnhart commented on #2020
@anowacki I have a couple of clarification questions:

* Could you give me an example of using SeisModels.jl in a research application? I know the paper indicates that this package is used in research projects, but a specific example would be helpful.

* The paper makes a performance claim but I don't see any demonstration of this claim (in the paper or the docs). Could you elaborate on this claim

[2020-01-18 02:28] HeloiseS commented on #1987
The JOSS guideline say that contribution doesn't have to be in code to justify authorship. JJ and elizabeth are the BPASS developers. I have needed their input and will continue to do so as I further develop the code.

[2020-01-18 03:38] lpantano commented on #2002
@whedon add @YichaoOU as reviewer

[2020-01-18 03:38] whedon commented on #2002
OK, @YichaoOU is now a reviewer

[2020-01-18 03:39] lpantano commented on #2002
@whedon start review

[2020-01-18 03:39] whedon opened #2030 "[REVIEW]: FGTpartitioner: A rapid method for parsimonious delimitation of ancestry breakpoints in large genome-wide SNP datasets"
**Submitting author:** @tkchafin (<a href="http://orcid.org/0000-0001-8687-5905">Tyler Chafin</a>)
**Repository:** <a href="https://github.com/tkchafin/FGTpartitioner" target ="_blank">https://github.com/tkchafin/FGTpartitioner</a>
**Version:** v1.0.1
**Editor:** @lpantano
**Reviewer:** @dangeles, @YichaoOU
**Archive:** <a href="https://doi.org/10.5281/zenodo.3635843" target="_blank">10.5281/zenod

[2020-01-18 03:39] whedon commented on #2002
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2030. Feel free to close this issue now!

[2020-01-18 03:39] whedon commented on #2030
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dangeles, @YichaoOU it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-01-18 03:39] #2002 closed

[2020-01-18 03:39] whedon commented on #2030
[code]

[2020-01-18 03:39] whedon commented on #2030
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02030/joss.02030/10.21105.joss.02030.pdf)

[2020-01-18 03:40] lpantano commented on #2002
thanks @dangeles and @YichaoOU to accept to review this paper. You can use the issue #2030 to start your review.

[2020-01-18 11:39] arfon commented on #1987
Thanks for flagging this @KshitijAggarwal. The authorship checkbox is there to prompt a conversation about authorship and is usually used by reviewers to identify potential _missing_ authors.

That's correct.

Right, it sounds like they are making a major intellectual contribution to this effort even if they're not directly contributing code to this package.

[2020-01-18 11:43] arfon commented on #2010
Dear @johannes-titz, it's Arfon Smith here, the JOSS Editor-in-Chief.

Thank you for providing the additional comments and insights on your package. This is useful context but doesn't change our decision here. I recognise that this submission is similar to packages that have already been published in JOSS. The scope of JOSS has changed over time and many of the smaller packages that we've publishe

[2020-01-18 11:43] #2010 closed

[2020-01-18 18:18] corybrunson commented on #2017
@whedon generate pdf

[2020-01-18 18:19] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-01-18 18:19] corybrunson commented on #2017
@clauswilke thank you again—i've made some more revisions that i'll run by a colleague and may revise further once the workweek resumes.

[2020-01-18 19:11] csoneson commented on #1991
Thanks for bringing this up @lmweber. I have looked at the _Bioinformatics_ paper, and I think this is acceptable for _JOSS_, given that the previous paper rather describes the algorithm/framework, while the _JOSS_ submission focuses on the software (which is also explicitly being reviewed here).

[2020-01-18 19:42] lmweber commented on #1991
Ok, thank you for the clarification @csoneson . Seems like this is my misunderstanding then.

In this case we can ignore this part of my review, and focus on the specific comments at the end.

Apologies for the confusion @malcolmbarrett .

[2020-01-18 20:56] leios commented on #1956
Hey, trying to start the review. Sorry I'm late. Also sorry if this is a stupid question, but how do I check the boxes? Last time I did a review, I could just click on them, but this time I do not seem to have permission.

[2020-01-18 22:27] jedbrown commented on #1441
@whedon generate pdf

[2020-01-18 22:27] leios commented on #1956
I will submit a PR fixing a number of typos in the README and paper. I have a general question on the scope of this software regarding asian language processing, such as Japanese. I know that this is possible with [TinySegmenter.jl](https://github.com/JuliaStrings/TinySegmenter.jl), but is there a way to use this package with WordTokenizers?

[2020-01-18 22:28] whedon commented on #1441
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01441/joss.01441/10.21105.joss.01441.pdf)

[2020-01-19 10:17] Ayushk4 commented on #1956
WordTokenizer's default tokeniser doesn't work well on some Asian languages like Chinese, Japanese.

But, we can set up TinySegmenter.jl in the same way as [RevTok.jl example](https://github.com/JuliaText/WordTokenizers.jl#example-setting-tokenizer--revtokjl) given in readme.
Here's an example with the Japanese sample text taken from TinySegmenter.jl.

[code]

[2020-01-19 12:33] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-19 12:34] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-19 12:42] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-19 12:42] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-19 12:50] benoit-combes commented on #1862
Dear @arokem, I read again the paper and fixed a few grammar/spelling mistakes and ambiguous wordings. If I can do anything that may help you in the editing process, please let me know.

[2020-01-19 14:14] srmnitc commented on #2003
@arfon  @thelfer I have completed a first round of review. Thanks @thelfer for the repository and documentation. The documentation, especially the associated webpage documents various examples and usage quite well. My issue was with initial setup. I have raised four issues at the repository - https://github.com/thelfer/MFrontGenericInterfaceSupport/issues/17, https://github.com/thelfer/MFrontGener

[2020-01-19 14:19] leios commented on #1956
Ah. I was missing the `.tokenize`. I don't know why I didn't put it there, clearly the documentation does the same thing for Revtok. Thanks!

[2020-01-19 14:40] oxinabox commented on #1956
For interest the default tokenizer [TokTok](https://github.com/jonsafari/tok-tok) has:

Which is to say a bunch of languages using the Latin (English, French, German, Vietnamese), or the Cyrillic  (Russian, Czech, Tajik), or Persian alphabet (Farsi).
All of which use space as primary token seperation.

We don't yet have anything that supports the morpheme segementation needed for languages like Ja

[2020-01-19 14:51] leios commented on #1956
I don't see the updated readme yet, if you are going to change it, could you use something like, "ジュリアプログラミング言語が大好きです！"

It translate to "I love the Julia programming language!" but also shows how it segments all three alphabets (it lumps Hiragana words together, which might be an issue for some people).

[2020-01-19 14:52] iagolemos1 commented on #2013
Below, I tried to consider all the changes suggested by @bahung.

[2020-01-19 14:52] iagolemos1 commented on #2013
@whedon generate pdf

[2020-01-19 14:53] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-01-19 14:59] iagolemos1 commented on #2013
@whedon generate pdf

[2020-01-19 14:59] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-01-19 15:23] sptennak commented on #1970
Thanks for accommodating the reviewer suggestions and improving the documentation. I have completed the review checklist and ready to approve.

[2020-01-19 17:34] iagolemos1 commented on #2013
@whedon generate pdf

[2020-01-19 17:34] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-01-19 18:35] #1907 closed

[2020-01-19 19:52] osolari commented on #1904
@arokem Would someone please confirm that I have submitted the review?

[2020-01-19 20:18] cMadan commented on #1830
@whedon generate pdf

[2020-01-19 20:19] cMadan commented on #1830
@aebergl, the `@whedon generate pdf` is something that the authors are able to do themselves, as needed.

[2020-01-19 20:19] whedon commented on #1830
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01830/joss.01830/10.21105.joss.01830.pdf)

[2020-01-19 20:53] majensen commented on #1972
@SiminaB - Would you be available to review this submission (#1972) for [JOSS](https://joss.theoj.org)? Let me know if you have questions about the process. I really appreciate your consideration! --@majensen

[2020-01-19 22:52] aebergl commented on #1830
@cMaden Thanks for you help and letting me know how to do this myself next time.  The proofs looks good.

[2020-01-20 01:10] HeloiseS commented on #1987
Thanks so much for your comments @KshitijAggarwal !

=> I Added a link to the user manual that talks about the IDL code. There isn't much in the way of published work on this since it's just a script that's been released with the data.

BPASS data have always required pre-processing and they have been used for years. This description would encompass dozens and dozens of papers (if not more). I'm n

[2020-01-20 04:36] gkthiruvathukal commented on #2007
@remram44, @ixjlyons: Just checking on progress with this review.

[2020-01-20 04:37] gkthiruvathukal commented on #2001
@mado89 Our reviewers are volunteers. We will work with your schedule. Is it ok if I assign you now? I would like to get this review started as soon as possible.

[2020-01-20 04:39] gkthiruvathukal commented on #2001
@chrisma, are you willing to contribute a review or this submission? I need a second reviewer for this submission.

[2020-01-20 04:39] gkthiruvathukal commented on #2001
@arcuri82 Will you be able to assist with making sure the instructions on how to use the software are 100% clear. This will help @mado89.

[2020-01-20 04:39] remram44 commented on #2007
@gkthiruvathukal underway, sorry about the delay! I'm confident I can get it done next week.

[2020-01-20 04:42] gkthiruvathukal commented on #1960
@danieledipompeo Do you have any review feedback for us? We have received feedback from @arcuri82, which has been addressed by @phillima. Please follow up if you have any other feedback.

[2020-01-20 04:43] gkthiruvathukal commented on #1986
@geoffbacon, @desilinguist: Just checking in. How are things going with your reviews?

[2020-01-20 04:45] gkthiruvathukal commented on #1752
@danielskatz @openjournals/joss-eics This submission has been paused since end of October. Should we go ahead and close the issue, for now?

[2020-01-20 04:48] gkthiruvathukal commented on #2007
@remram44 Not a problem!  This was intended as a gentle nudge. Thanks for your help!

[2020-01-20 05:09] KingZee commented on #1752
@gkthiruvathukal I apologize for taking a while, but since that time I got caught up with other academic aspects of my phd (and other personal reasons), so I unfortunately had to delay working on this. I am definitely still interested in getting my paper & software published on JOSS, but I didn't think there was a deadline on this. If you guys have organizational reasons for closing the issue, I'd

[2020-01-20 05:17] gkthiruvathukal commented on #1752
@KingZee There's no deadline, but I would like to have some estimate of when you can bring it to conclusion! I totally understand the need to focus on finishing your PhD and wish you the best with that! Can you give me a date to follow up with you? We'll keep this issue open.

[2020-01-20 05:22] KingZee commented on #1752
Thanks a lot. I will try to get started on fixing all the issues after the first week of February, I will probably create issues on my own repo and ping you and the reviewers after making the relevant PRs.

[2020-01-20 05:25] jedbrown commented on #1441
Thanks for your patience. I've pushed a commit with copy edits to my fork (https://bitbucket.org/jedbrown/mofem-cephas). Bitbucket's site is malfunctioning for me right now, but I'll try converting it to a PR in the morning. I also have the following comments relating to the paper that may take some of your discretion to address.

* `MoFEM` is developed to provide free and open source finite eleme

[2020-01-20 07:16] ThomasLecocq commented on #1808
wow guyz, sorry for this, noticed I disabled the github notifications a while ago... and @leouieda your emails went to spam... so I masterfully failed my assignment here...

Will do this week. Sorry about this.

[2020-01-20 07:23] whedon opened #2031 "[PRE REVIEW]: MF2: A Collection of Multi-Fidelity Benchmark Functions in Python"
**Submitting author:** @sjvrijn (<a href="http://orcid.org/0000-0001-6159-041X">Sander van Rijn</a>)
**Repository:** <a href="https://github.com/sjvrijn/mf2" target ="_blank">https://github.com/sjvrijn/mf2</a>
**Version:** 2019.11.3
**Editor:** @melissawm
**Reviewers:** @petroniocandido

**Author instructions**

Thanks for submitting your paper to JOSS @sjvrijn. **Currently, there isn't an JOSS ed

[2020-01-20 07:23] whedon commented on #2031
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-20 07:23] whedon commented on #2031
[code]

[2020-01-20 07:23] whedon commented on #2031
[code]

[2020-01-20 07:23] whedon commented on #2031
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02031/joss.02031/10.21105.joss.02031.pdf)

[2020-01-20 07:23] kyleniemeyer commented on #2031
Hi @melissawm, this looks to fit in your area of expertise very well—do you have the bandwidth to handle another submission?

[2020-01-20 07:25] whedon opened #2032 "[PRE REVIEW]: stRat stat: a R-based software for the digitization of stratigraphic sections and assembly of large-stratigraphic datasets"
**Submitting author:** @ActiveMargins (<a href="http://orcid.org/0000-0002-2345-2865">Daniel Coutts</a>)
**Repository:** <a href="https://github.com/ActiveMargins/stRatstat" target ="_blank">https://github.com/ActiveMargins/stRatstat</a>
**Version:** v1.0
**Editor:** @kthyng
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @ActiveMargins. **Currently, there

[2020-01-20 07:25] whedon commented on #2032
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-20 07:25] whedon commented on #2032
[code]

[2020-01-20 07:25] whedon commented on #2032
PDF failed to compile for issue #2032 with the following error:

 Error reading bibliography ./paper.bib (line 5, column 10):
unexpected "\8220"
expecting space, letter, digit, "\"", "{", letter or digit, white space, "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-01-20 07:26] kyleniemeyer commented on #2032
Hi @kthyng, do you have the bandwidth to edit this one?

[2020-01-20 07:29] FlorianRhiem commented on #1949
@trallard Perhaps celliern, dvanic, remram44, fabianomenegidio and/or atrisovic could do the review?

[2020-01-20 08:50] sjvrijn commented on #2031
I would suggest some of the following reviewers:

- petroniocandido
- benjamin-lee
- torressa
- jmadera
- zbeekman
- lucashn
- tupi
- sarats

[2020-01-20 09:07] arcuri82 commented on #2001
Hi,
 yes, I can provide any further documentation that is needed. But, there is already quite a bit of documentation (including a demo video of using the tool). To improve it, I will need some more info on which parts in the documentation are unclear, and know where @mado89 got stuck with the instructions

[2020-01-20 09:18] danieledipompeo commented on #1960
Sorry, I'm late, but I had some problems at work that prevented me from finishing the review. I can complete the review by this week. Is it too late?  @gkthiruvathukal let me know if you can give me more time.

[2020-01-20 09:21] chrisma commented on #2001
Hi, thanks for considering me as a reviewer. Unfortunately, Test Generation is not my main field of expertise and I currently don't have the time resources to look into this in depth. As such, I have to decline the invitation to review. I think others would be better suited. Thanks!

[2020-01-20 09:33] VivianePons commented on #1970
Perfect, so I understand we have a go from both reviewers! Let's move forward then to the final steps of accepting the paper :) :)

[2020-01-20 09:33] VivianePons commented on #1970
@whedon check references

[2020-01-20 09:33] whedon commented on #1970
[code]

[2020-01-20 09:33] VivianePons commented on #1970
@whedon generate pdf

[2020-01-20 09:34] whedon commented on #1970
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01970/joss.01970/10.21105.joss.01970.pdf)

[2020-01-20 09:46] VivianePons commented on #1970
Hi @mbdemoraes can you please check the paper one last time and see if everything is alright? Especially, see if you want to do something about @DARSakthi latest minor comment.

Once done, could you make an archive (on Zenodo, figshare or what you want) of the current repo and send me the DOI. Thank you!

[2020-01-20 09:50] VivianePons commented on #1835
Dear all,

where are we on this? I see @kaashif has made some changes following the reviewers remarks, @alex-konovalov and @falque can you have a look and let me know where you stand in terms of acceptance (and check the boxes in the issue description accordingly).

[2020-01-20 09:50] oliviaguest commented on #1866
@whedon remove @rickecon  as reviewer

[2020-01-20 09:50] whedon commented on #1866
OK, @rickecon  is no longer a reviewer

[2020-01-20 11:16] oschwengers commented on #1994
@will-rowe Thanks a lot for accepting the [ReferenceSeeker ](https://github.com/oschwengers/referenceseeker) editor role.

@luizirber @standage Thank you very much for agreeing to review my work and for the first checkmarks.

If there's anything I can do that may further help you in the reviewing process, please let me know.

[2020-01-20 11:31] Kevin-Mattheus-Moerman commented on #1867
@hooman650, @PGomes92, @paulvangentcom :point_up: can you check the above? Thanks

[2020-01-20 11:34] Kevin-Mattheus-Moerman commented on #1262
@r-barnes @patrikhuber can you pick up the review or summarize why you feel the last box is  unticked? Thanks.

[2020-01-20 11:40] elektrobohemian commented on #1800
I really like the software and the documented installation process as it is very mature. This is why I tried to install the software without relying on my background language. Hence, all opened issues are non-blocking as far as I am concerned.
I took a basic Ubuntu 18.04.3 LTS installation and tried to solve all issues by copy-and-pasting all occuring issues. Under Mac OS, I tried to run everythin

[2020-01-20 11:41] patrikhuber commented on #1262
@Kevin-Mattheus-Moerman I believe my comments in this thread sum it up pretty nicely, particularly my last one [[link](https://github.com/openjournals/joss-reviews/issues/1262#issuecomment-549161575)] should answer your question.

[2020-01-20 11:43] elektrobohemian commented on #1800
for the sake of completeness, the Mac OS values:

data  data_left  data_right
0 -1108      -1113       -1103
1 -1546      -1552       -1539
2 -1123      -1121       -1125
3 -1007      -1008       -1006
4 -1258      -1262       -1253
And
   frame_start  frame_end          rms
0            0         50   917.916747
1           50        200  1208.046528
2          200        220   997.259411

[2020-01-20 11:52] alex-konovalov commented on #1835
Thanks for the reminder @VivianePons - I still have to evaluate the new version and check how this is aligned with getting the package redistributed with GAP. I shall find time for this in February.

[2020-01-20 12:34] will-rowe commented on #1956
Hi @leios. You should be able to edit the top comment in this thread - click the 3 dots and then edit to update your checklist (via markdown). Let me know if you're stuck - and thanks for the review!

[2020-01-20 13:16] arfon commented on #1800
@elektrobohemian - many thanks for your feedback here! As you work through the checklist could you please be sure to tick the checkboxes at the top of the issue?

[2020-01-20 13:28] elektrobohemian commented on #1800
done.

[2020-01-20 13:37] anowacki commented on #2020
Thank you for the questions, @kbarnhart.

The software has been used by a research group here at the University of Leeds to investigate 1D models of the Earth in our group meetings.  Some of these studies are available at https://github.com/anowacki/DERG_PREM.  There is also an article in review for inclusion in an AGU monograph (Nowacki & Cottaar, 2020) which has used SeisModels.

If you feel the

[2020-01-20 13:42] arfon commented on #1800
@statsmaths - looks like this is getting pretty close to being accepted here 😄. Can you confirm that you've made all of the changes you planned to based on the feedback from @jgonggrijp & @elektrobohemian

[2020-01-20 14:21] statsmaths commented on #1800
Thanks @elektrobohemian for all of the helpful feedback. I just pushed responses that
resolve three of the four issues you opened. The only one still open is the issue with the
web application on macOS, as I cannot replicate it on my mac (it currently runs on Firefox,
Safari and Chrome for me). Not sure if that's blocking for the publication or not.

@arfon, other than a potential fix to the web s

[2020-01-20 14:29] leios commented on #1956
@will-rowe I don't have that option, only "copy link" and "quote reply"

[2020-01-20 14:33] will-rowe commented on #1956
hmmm - did you accept the invite at the top of the thread? Link [here](https://github.com/openjournals/joss-reviews/invitations). If you have already done this, let me know and I'll have to ask someone as I'm out of ideas!

[2020-01-20 14:35] leios commented on #1956
Sorry, I should have known that was a requirement. Filled in everything now. Thanks!

[2020-01-20 15:02] likask commented on #1441
Thank you @jedbrown, that is very appreciated.

- Do you mean paper from 1996?

(1996) Approximation properties of the h-p version of the finite element method. Computer Methods in Applied Mechanics and Engineering 133:3-4, 319-346.

- You right, up to know we have not done proper MG with the fully matrix-free approach. In fact, we using MoFEM implementation of DM which called is called MG impleme

[2020-01-20 15:03] mbdemoraes commented on #1970
@whedon generate pdf

[2020-01-20 15:03] whedon commented on #1970
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01970/joss.01970/10.21105.joss.01970.pdf)

[2020-01-20 15:21] jedbrown commented on #1441
I often see citations to https://link.springer.com/article/10.1007/BF00298636 or the Babuska and Suri SIAM Review from 1994.

A detailed comparison is not needed, but place then in context. One paragraph in total would be fine IMO.

[2020-01-20 15:29] VivianePons commented on #1970
@whedon set https://doi.org/10.6084/m9.figshare.11663307.v1 as doi

[2020-01-20 15:29] whedon commented on #1970
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-01-20 15:30] VivianePons commented on #1970
@whedon set https://doi.org/10.6084/m9.figshare.11663307.v1 as archive

[2020-01-20 15:30] whedon commented on #1970
OK. <a href="https://doi.org/10.6084/m9.figshare.11663307.v1" target="_blank">10.6084/m9.figshare.11663307.v1</a> is the archive.

[2020-01-20 15:37] elektrobohemian commented on #1800
regarding the web server: no, it's not as @jgonggrijp couldn't replicate it neither. at least in my opinion.

regarding the Ubuntu/virtualenv issue I wouldn't consider this blocking either as it would only happen to layperson users which might also not rely on a Ubuntu LTS. a layperson would prefer Anaconda IMHO. As said above, I was only checking these scenarios as everything else worked so fine.

[2020-01-20 15:39] ixjlyons commented on #2007
Same here -- I've made progress but haven't updated my checklist. I should be able to finish in the next week or so as well. Thanks for the reminder.

[2020-01-20 15:41] VivianePons commented on #1970
This paper is ready to be accepted! Thank you @sptennak and @DARSakthi for your reviews :)

Now I let @openjournals/joss-eics do the final steps

[2020-01-20 15:52] ctdegroot commented on #1929
Unfortunately I am not available at this time due to upcoming travel.

[2020-01-20 15:55] arfon commented on #1800
@whedon accept

[2020-01-20 15:56] whedon commented on #1800
No archive DOI set. Exiting...

[2020-01-20 15:56] arfon commented on #1800
@statsmaths - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the au

[2020-01-20 16:32] kbarnhart commented on #1978
:wave: @cmillion, @mollenburger A friendly reminder to complete your reviews. If you have an estimated timeline, please let me know.

@mollenburger could you please confirm receipt.

As always, if you have any questions, please feel free to ping me here.

Thank you for being willing to review for JOSS.

[2020-01-20 16:41] rhagenson commented on #1974
@marcosvital, is there anything you need from me to begin review?

[2020-01-20 17:21] gkthiruvathukal commented on #2007
Thanks for the updates, @ixjlyons and @remram44!

[2020-01-20 19:09] csoneson commented on #1992
👋@floux - just checking in on your review. Do you have an estimate of when you think you'll be able to provide some feedback for @Sulstice? Of course, don't hesitate to ping me if you have questions.

[2020-01-20 19:14] kbarnhart commented on #2020
@anowacki thanks for the responses, they are very helpful.

A couple of comments from me in advance of review. My comments are mostly things that I anticipate would come up in review based on looking at the package and knowing the review process and criteria.

* I would consider revising the language about performance. Specifically, I would recommend describing performance in a way a reviewer can

[2020-01-20 19:19] kbarnhart commented on #2020
:wave: @daniellivingston @lheagy @fhorrobin would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. Once there are sufficient reviewers (usually 2-3), I will open a new issue where th

[2020-01-20 19:48] malcolmbarrett commented on #1991
Thanks, everyone! No trouble. We'll begin responding to the other comments as soon as we are able.

[2020-01-20 20:04] geoffbacon commented on #1986
Thanks for checking in @gkthiruvathukal. I've allocated some time on Wednesday 22nd Jan to finish my review off.

[2020-01-20 20:13] ygrange commented on #1987
Short note to say I haven't forgotten completely! I wanted to finish off the last points today but my family basically all fell ill (still waiting for me to get ill thugh). So I had a few other things on my mind. I expect to be done end of this week (either thursday or at the latest next week tuesday). Apologies for the bit of delay on my side!

[2020-01-20 21:01] statsmaths commented on #1800
[code]

[2020-01-20 21:03] statsmaths commented on #1800
@arfon Great. Here is the DOI of the updated package. Thanks again to everyone!

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3614034.svg)](https://doi.org/10.5281/zenodo.3614034)

[2020-01-20 21:06] arfon commented on #1800
@whedon set 10.5281/zenodo.3614034 as archive

[2020-01-20 21:07] whedon commented on #1800
OK. <a href="https://doi.org/10.5281/zenodo.3614034" target="_blank">10.5281/zenodo.3614034</a> is the archive.

[2020-01-20 21:07] arfon commented on #1800
@whedon accept

[2020-01-20 21:07] whedon commented on #1800
[code]

[2020-01-20 21:07] whedon commented on #1800
[code]

[2020-01-20 21:08] whedon commented on #1800
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1238

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1238, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-20 21:08] anowacki commented on #2020
Thanks for those suggestions, @kbarnhart, and for moving things forward.

I have pushed an updated version of the manuscript to the repo's master branch with concrete example timings and instructions on how to test the package (https://github.com/anowacki/SeisModels.jl/commit/9e755d1225983960d47d10699fef76a73012a85a).

[2020-01-20 21:08] arfon commented on #1800
@statsmaths - could you check if any of the DOIs that Whedon has found are correct? If they are, please go ahead and add them to your bibtex file (without the `https://doi.org/` preamble).

[2020-01-20 21:12] desilinguist commented on #1986
Yep, I also plan to finish the review off this week. Thanks!

On Mon, Jan 20, 2020 at 15:04 Geoff Bacon <notifications@github.com> wrote:

--
Linguist, Desi Linguist
http://www.desilinguist.org

[2020-01-20 21:14] arfon commented on #1800
@statsmaths - I think this PR is correct too: https://github.com/distant-viewing/dvt/pull/22

[2020-01-20 21:28] kyleniemeyer commented on #2024
@nathanlyons thanks for the input. I'm going to serve as handling editor of this submission, but I'm also tagging @kbarnhart into the conversation

[2020-01-20 21:29] kyleniemeyer commented on #2024
@whedon assign @kyleniemeyer as editor

[2020-01-20 21:29] statsmaths commented on #1800
Okay, merged PR and put all the DOIs into the bibles file.

[2020-01-20 21:29] whedon commented on #2024
OK, the editor is @kyleniemeyer

[2020-01-20 21:37] arfon commented on #1800
@whedon accept

[2020-01-20 21:37] whedon commented on #1800
[code]

[2020-01-20 21:37] whedon commented on #1800
PDF failed to compile for issue #1800 with the following error:

 W, [2020-01-20 21:37:53#804]  WARN -- : Lexer: unbalanced braces at 403; brace level 0; mode :literal.
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon/bibtex_parser.rb:45:in `block in generate_citations': undefined method `key' for #<BibTeX::Error:0x0000000007811d28> (NoMethodError)
	from /app/vendor/bundle

[2020-01-20 21:39] arfon commented on #1800
@statsmaths - think this unmatched `}` is causing things to blow up: https://github.com/distant-viewing/dvt/blob/master/paper/paper.bib#L4

[2020-01-20 21:42] statsmaths commented on #1800
Yes, your right (for some reason my pandoc compiled anyway). Fixed in 5f880da.

[2020-01-20 22:07] arfon commented on #1800
@whedon accept

[2020-01-20 22:07] whedon commented on #1800
[code]

[2020-01-20 22:08] whedon commented on #1800
[code]

[2020-01-20 22:08] whedon commented on #1800
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1239

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1239, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-20 22:09] arfon commented on #1800
@whedon accept deposit=true

[2020-01-20 22:09] whedon commented on #1800
[code]

[2020-01-20 22:10] whedon commented on #1800
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1219381803892559872) 👈 🐦🐦🐦

[2020-01-20 22:10] whedon commented on #1800
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1240
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01800](https://doi.org/10.21105/joss.01800)
2. If everything looks g

[2020-01-20 22:14] arfon commented on #1800
@jgonggrijp, @elektrobohemian - many thanks for your reviews here ✨

@statsmaths - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-01-20 22:14] #1800 closed

[2020-01-20 22:14] whedon commented on #1800
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01800/status.svg)](https://doi.org/10.21105/joss.01800)

**We need your help!**

Journal of Open Source Softwa

[2020-01-20 22:23] whedon commented on #1800
[code]

[2020-01-20 22:34] nathanlyons commented on #2024
Thanks for the notice, @kyleniemeyer.

I believe I understand the reasoning of tagging kbarnhark and I have a sense of the role of the handling editor. May you please describe the anticipated role of an additional member of the editorial team? I ask just so I can understand the process.

[2020-01-20 23:29] arokem commented on #1959
Sorry about the slowness here: @professoralkmin : I see that the several boxes are still not ticked in your section. Do you still have concerns with these requirements?

[2020-01-20 23:30] arokem commented on #1785
@BIPL-HORIE : without your response, we cannot move ahead with this paper. Please get back to me ASAP confirming that you have received these comments.

[2020-01-20 23:33] arokem commented on #1904
Hi @osolari : I believe that the authors are currently still waiting for comments from @bernease to proceed with their revision. I will ping her by email to see when she might have the chance to take a look.

[2020-01-20 23:35] arokem commented on #1862
@whedon check references

[2020-01-20 23:35] whedon commented on #1862
[code]

[2020-01-21 00:04] arokem commented on #1862
In addition to adding the missing DOI for this reference, I have added some proposed edits in a patch attached to https://gitlab.inria.fr/miet/miet/issues/9

[2020-01-21 00:10] arokem commented on #1998
@fernandoandreotti : would you be willing to review this paper for JOSS?

[2020-01-21 00:11] arokem commented on #1998
👋 @sarats :  Would you be willing to review this paper for JOSS?

[2020-01-21 00:37] KshitijAggarwal commented on #1987
Thanks for replying to my comments. I think it is okay to just cite the BPASS papers in this case.

I looked at the code and really like the heavy use of Pandas Dataframes. The documentation is also pretty good and useful (so was the rickrolling!!). One small thing is that I prefer using [logging](https://docs.python.org/2/library/logging.html) instead of `prints` as it provides a pretty flexible

[2020-01-21 01:41] whedon opened #2033 "[PRE REVIEW]: FASMA 2.0: A Python package for stellar parameters and chemical abundances"
**Submitting author:** @MariaTsantaki (<a href="http://orcid.org/0000-0002-0552-2313">Maria Tsantaki</a>)
**Repository:** <a href="https://github.com/MariaTsantaki/FASMA-synthesis" target ="_blank">https://github.com/MariaTsantaki/FASMA-synthesis</a>
**Version:** v2.0
**Editor:** @xuanxu
**Reviewers:** @warrickball, @ipelupessy
**Managing EiC:** Arfon Smith

**Author instructions**

Thanks for sub

[2020-01-21 01:41] whedon commented on #2033
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-21 01:42] whedon commented on #2033
[code]

[2020-01-21 01:42] whedon commented on #2033
[code]

[2020-01-21 01:42] whedon commented on #2033
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02033/joss.02033/10.21105.joss.02033.pdf)

[2020-01-21 03:29] KshitijAggarwal commented on #1987
I think it would be useful to add instructions on installing `hoki` from source (i.e Github). I did a simple install using `setup.py`, and it gave a few warnings ([here](https://github.com/HeloiseS/hoki/issues/5#issue-552602850)). Though all the tests were passed, and I was able to run the tutorial notebooks as well, it may be useful to look into the warnings and check if they might impact any unt

[2020-01-21 03:40] lrq3000 commented on #1277
Hello,

I come late to the party, but I strongly disagree with what @casperdcl did. And for how this paper submission was handled. I will keep it short, as these points should be self-explanatory:

1. Although he did write the paper on its own, and thus deserves credit, he did NOT contact any of the main co-developers of the software, which I am only one (I think major, but nevertheless only one)

[2020-01-21 03:59] lrq3000 commented on #1277
PS: for those reading the emails notifications, please read the post on Github, I have made some changes to clarify.

[2020-01-21 09:27] sjpfenninger commented on #2025
@kyleniemeyer Yes I am happy to edit this.

[2020-01-21 09:27] sjpfenninger commented on #2025
@kyleniemeyer Yes I am happy to edit this.

[2020-01-21 09:34] sjpfenninger commented on #1892
@katyhuff This seems to be ready to move to review but has stalled?

[2020-01-21 09:34] kmike commented on #1277
I haven't contributed much to tqdm, and don't need any recognition for tqdm work.

However, I've been involved in a similar case in past, where a technical report was published for a piece of software (theano). See https://arxiv.org/abs/1605.02688 - it was handled in a different way - all contributions who made non-trivial fixes or improvements (so, no typo fixes) were asked for comments on the pa

[2020-01-21 13:35] casperdcl commented on #1277
Hello, just like to say I'm happy to hear from @lrq3000 but must clear up a few points.

As far as I know, in order of first contribution, @noamraph, @hadim, @kmike, @casperdcl, and @lrq3000 were instrumental in resuscitating the current `tqdm` library in 2015 (https://github.com/tqdm/tqdm/pull/35). However as @lrq3000 mentions, the original author (@noamraph, original repo https://github.com/noam

[2020-01-21 14:30] likask commented on #1441
@whedon generate pdf

[2020-01-21 14:31] whedon commented on #1441
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01441/joss.01441/10.21105.joss.01441.pdf)

[2020-01-21 14:33] likask commented on #1441
@jedbrown Pull request with our corrections is [here](https://bitbucket.org/likask/mofem-cephas/pull-requests/1115/fixes-to-joss-paper/diff).

[2020-01-21 15:04] arfon commented on #1277
@lrq3000 @kmike - thank you for reporting this issue. We're going to conduct our own investigation and report back our findings. Given JOSS is run by a volunteer editorial team this may take a few weeks.

Arfon Smith
Editor-in-Chief, JOSS

[2020-01-21 15:05] professoralkmin commented on #1959
@arokem I believe that it is necessary 1) to explain better about the example usage to be more clear how to use correctly the application and 2) to review of some sentences to be improve the quality of writing.

[2020-01-21 15:05] arfon commented on #1277
Please note that I'm also locking this issue for now while we investigate the claims here.

[2020-01-21 15:24] katyhuff commented on #1892
Ah! I'm sorry. Yes. This fell completely off of my radar. Thank you for the ping.

[2020-01-21 15:25] katyhuff commented on #1892
@whedon add @ali-ramadhan as reviewer

[2020-01-21 15:25] whedon commented on #1892
OK, @ali-ramadhan is now a reviewer

[2020-01-21 15:25] katyhuff commented on #1892
@ali-ramadhan ,  I hope you are still able to conduct this review. Thank you for agreeing. Apologies for the oversight.

[2020-01-21 15:25] katyhuff commented on #1892
@whedon start review

[2020-01-21 15:25] whedon opened #2034 "[REVIEW]: CapacityExpansion: A capacity expansion modeling framework in Julia"
**Submitting author:** @YoungFaithful (<a href="http://orcid.org/0000-0002-1992-310X">Lucas Elias Kuepper</a>)
**Repository:** <a href="https://github.com/YoungFaithful/CapacityExpansion.jl" target ="_blank">https://github.com/YoungFaithful/CapacityExpansion.jl</a>
**Version:** v0.2.0
**Editor:** @katyhuff
**Reviewer:** @sjpfenninger, @ali-ramadhan
**Archive:** <a href="https://doi.org/10.5281/zen

[2020-01-21 15:25] whedon commented on #1892
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2034. Feel free to close this issue now!

[2020-01-21 15:25] whedon commented on #2034
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sjpfenninger, @ali-ramadhan it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pr

[2020-01-21 15:26] whedon commented on #2034
PDF failed to compile for issue #2034 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2034 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedo

[2020-01-21 16:18] likask commented on #1441
@whedon generate pdf

[2020-01-21 16:20] whedon commented on #1441
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01441/joss.01441/10.21105.joss.01441.pdf)

[2020-01-21 16:35] cddesja commented on #1941
Is there an update on the timeline for the review?

[2020-01-21 17:02] labarba commented on #1970
@whedon set v1.1.0 as version

[2020-01-21 17:02] whedon commented on #1970
OK. v1.1.0 is the version.

[2020-01-21 17:10] labarba commented on #1970
@mbdemoraes 👋 — I've updated the version according to what I see on the repo. Please confirm that is what you wanted. Also, please update the metadata of your Figshare deposit so that the title of the archive matches the JOSS paper, and the list of authors also matches. (It would be nice if you added a description, too.)

[2020-01-21 17:39] kyleniemeyer commented on #2025
@whedon assign @sjpfenninger as editor

[2020-01-21 17:39] whedon commented on #2025
OK, the editor is @sjpfenninger

[2020-01-21 18:25] bernease commented on #1904
Sorry for letting this fall off my radar. I can have the feedback into you by EOD Thursday conservatively, perhaps earlier if I'm able to clear some time later today.

[2020-01-21 18:27] daniellivingston commented on #2020
Hi @kbarnhart , this is right up my alley. I'd be happy to review.

[2020-01-21 18:52] kbarnhart commented on #2020
Thanks for being willing to review @daniellivingston . I'll add you as a reviewer. Once I have a sufficient number of reviewers (typically a few days), I'll open a new issue where the review will take place.

[2020-01-21 18:53] kbarnhart commented on #2020
@whedon assign @daniellivingston as reviewer

[2020-01-21 18:53] whedon commented on #2020
OK, @daniellivingston is now a reviewer

[2020-01-21 20:01] ManuelaS commented on #1830
@whedon check references

[2020-01-21 20:02] whedon commented on #1830
[code]

[2020-01-21 20:20] ManuelaS commented on #1830
@aebergl & @cMadan, the changes to the ReadMe and manuscript along with the addition of unit tests and bug fixes look good to me.
Regarding the unit tests, I am guessing the "ground truth" stats included in the mat files that the test script checks against were generated by MatSurv. I wonder (no review-breaking) whether adding some tests that compare the output of MatSurv to the statistical result

[2020-01-21 20:28] mollenburger commented on #1978
confirming. I'm working on this today and hope to have it done by the end of the week.

[2020-01-21 20:31] jhcreed commented on #1830
@whedon  check references

[2020-01-21 20:31] whedon commented on #1830
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-01-21 20:31] jhcreed commented on #1830
@whedon check references

[2020-01-21 20:32] whedon commented on #1830
[code]

[2020-01-21 21:03] mbdemoraes commented on #1970
@labarba Thank you for updating the version, it is correct now.

I also updated the title and description of our Figshare deposit. Concerning the list of authors, it does already matches, doesn't it? The only difference is that Figshare uses an abbreviated form. I had to use André Gradvohl's ORCID to find him at Figshare, and since he registered his name in an abbreviated form, Fighsare used that

[2020-01-21 21:22] slumnitz commented on #1882
@martinfleis @ResidentMario and @leouieda thank you for your review and comments. The new splot release includes solutions to the major documentation issues outlined. Currently as you noticed, splot tutorials require previous knowledge in spatial statistical analysis and are not aimed to teach statistical concepts.

Do you think a new tutorial like `a beginners guide to spatial statistical analysi

[2020-01-21 22:25] ygrange commented on #1987
Also: I see a bunch of things that @KshitijAggarwal mentions that also appear in my draft review so I think I will not add a lot of significant comments.

[2020-01-21 23:33] kyleniemeyer commented on #2028
This was reviewed by rOpenSci: ropensci/software-review#256, @maelle

[2020-01-21 23:35] natallah commented on #2022
Hello Kyle! Which DOI is invalid?

[2020-01-21 23:38] natallah commented on #2022
Patro, R., Duggal, G., Love, M. et al. Salmon provides fast and bias-aware quantification of transcript expression. Nat Methods 14, 417–419 (2017) doi:10.1038/nmeth.4197

The above is the issue.  Sebastian is aware and will comment soon

[2020-01-21 23:38] kyleniemeyer commented on #2022
@natallah  the DOI 10.1038/nmeth.4197.Salmon does not resolve (try https://doi.org/10.1038/nmeth.4197.Salmon), it leads to an error

[2020-01-21 23:41] natallah commented on #2022
Oh I see.  The correct DOI is https://doi.org/10.1038/nmeth.4197
(try https://doi.org/10.1038/nmeth.4197).  We will fix this!

[2020-01-21 23:52] kyleniemeyer commented on #2028
@embruna sorry for the delay- the article looks good.

[2020-01-21 23:52] kyleniemeyer commented on #2028
@whedon accept

[2020-01-21 23:52] whedon commented on #2028
No archive DOI set. Exiting...

[2020-01-21 23:54] kyleniemeyer commented on #2028
ah whoops. @embruna can you archive the repository and provide the DOI here?

[2020-01-22 04:54] kyleniemeyer commented on #2024
@nathanlyons it probably isn't necessary, but mostly just to help me understand the relationship/role of Landlab and its components

[2020-01-22 05:37] KshitijAggarwal commented on #1987
Thanks for responding to my comments and issues so quickly. I reinstalled the package, re-ran the notebooks, and everything works perfectly. I have one small suggestion which I forgot to add yesterday (this is not essential for review btw). As you have mentioned in the tutorial notebook, `make()` in `CMD` class takes quite a bit of time to run. It might be useful to add a progress bar (like [tqdm]

[2020-01-22 07:03] HeloiseS commented on #1987
Thanks!!! I added an "enhancement" issue to keep that in mind for the next major release :smiley:

[2020-01-22 09:52] alvarolopez commented on #2006
@majensen I am done, the paper is ok to go in its current form.

[2020-01-22 10:24] MAnalytics commented on #2019
Dear Sir,

Below are my suggestions (based on this list of people<https://bit.ly/joss-reviewers>) for potential reviewers of our article:

1.       rcannood

2.       sjsrey

3.       seabbs

4.       Maczokni

I hope to hear from you soon.

Monsuru.

From: whedon <notifications@github.com>
Sent: 17 January 2020 03:56
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Monsuru Adep

[2020-01-22 10:44] oliviaguest commented on #1866
I have been struggling for a while (4 months an counting) to find reviewers for this, @pachamaltese. Is there any way you could help me out? I have emailed every person suggested so far. So please feel free to reach out to people yourself — perhaps they will be more responsive?

[2020-01-22 10:45] martinfleis commented on #1882
@whedon generate pdf

[2020-01-22 10:45] whedon commented on #1882
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01882/joss.01882/10.21105.joss.01882.pdf)

[2020-01-22 10:53] martinfleis commented on #1882
@slumnitz the figure captions formatting is still strange. JOSS has its own style for captions, see the [last published paper](https://joss.theoj.org/papers/10.21105/joss.01800). Your figures seems to be encapsulated in links, which are not working anyway, causing captions not to render.

[2020-01-22 10:54] martinfleis commented on #1882
@slumnitz to answer your question, I think good links are enough.

[2020-01-22 11:39] pachamaltese commented on #1866
Sure! I'll ask more people

On Wed, Jan 22, 2020, 7:44 AM Olivia Guest <notifications@github.com> wrote:

[2020-01-22 13:36] embruna commented on #2028
@kyleniemeyer Thanks! I froze the version submitted to JOSS at Zenodo last week ([doi: 10.5281/zenodo.3608285](https://zenodo.org/record/3608285#.XihPahdKg6c), and was going freeze the 1.0 version upon acceptance so that I could include the link and citation of the JOSS paper. Is that ok?

[2020-01-22 14:27] jspaezp commented on #2022
Thanks @kyleniemeyer and @natallah, I commited and pushed the modified DOI.

[2020-01-22 16:09] sjpfenninger commented on #2025
I have contacted potential reviewers by email. @arbennett let me know if you have suggestions for reviewers.

[2020-01-22 17:02] titipata commented on #1979
Hi all,

Just a quick update here. I updated the repository according to @tleonardi comments. I also created a test folder and sphinx documentation on the repository which I will be updating in this coming week. We hope to make the documentation better in the coming week!

[2020-01-22 17:27] kirui93 commented on #1912
@whedon generate pdf

[2020-01-22 17:28] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2020-01-22 18:05] offray commented on #720
@kthyng Hi. Is there any news on the Scopus front? Fo the moment I'm looking for a place to publish, included in such index (or similar ones). It may seems that Software X, will fit the requirement, with a more traditional publishing approach.

Hopefully soon JOSS will be included in the index that some universities consider the valid ones.

[2020-01-22 18:05] kyleniemeyer commented on #2028
@whedon set 10.5281/zenodo.3608285 as archive

[2020-01-22 18:05] whedon commented on #2028
OK. <a href="https://doi.org/10.5281/zenodo.3608285" target="_blank">10.5281/zenodo.3608285</a> is the archive.

[2020-01-22 18:13] arfon commented on #720
Unfortunately not. Our application is still being considered but we don't have any update other than that. I suspect it will be many more months rather than something that will be resolved imminently.

I'm not sure if Google Scholar is relevant to you but JOSS is now properly indexed there.