[2021-08-16 07:03] VBlesius commented on #3540
@whedon generate pdf

[2021-08-16 07:03] whedon commented on #3540
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03540/joss.03540/10.21105.joss.03540.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03540/joss.03540/10.21105.joss.03540.pdf) :page_facing_up: :point_left:

[2021-08-16 07:07] VBlesius commented on #3540
@whedon generate pdf

[2021-08-16 07:07] whedon commented on #3540
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03540/joss.03540/10.21105.joss.03540.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03540/joss.03540/10.21105.joss.03540.pdf) :page_facing_up: :point_left:

[2021-08-16 07:16] wtraylor commented on #3450
I can suggest some folks at Lund University, Sweden, who are involved in the development of the dynamic global vegetation model [LPJ-GUESS](https://web.nateko.lu.se/lpj-guess/index.html), which MMM integrates with. They work with mechanistic ecological models, though on the vegetation side. All of them have experience in C++ programming.
- [Paul Miller](https://portal.research.lu.se/portal/en/pers

[2021-08-16 07:41] martinmodrak commented on #3450
Hi,
I am pretty much out of my depth regarding the subject matter, but can potentially review the software engineering aspects. However, definitely not on a tight schedule, I have some upcoming deadlines and most likely won't be able to devote time for the review before mid September.

[2021-08-16 07:57] twesterhout commented on #3537
One final tiny correction: I've added a link to Github repo of the project which uses lattice-symmetries to simulate quantum circuits (twesterhout/lattice-symmetries@99254416b9edb2bbf973cac98fcc9d1063e87faf). I haven't done it earlier because the code only just became public.

@jedbrown are there any further steps I need to take?

[2021-08-16 07:57] twesterhout commented on #3537
@whedon generate pdf

[2021-08-16 07:57] whedon commented on #3537
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03537/joss.03537/10.21105.joss.03537.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03537/joss.03537/10.21105.joss.03537.pdf) :page_facing_up: :point_left:

[2021-08-16 07:57] fgjorup commented on #3546
@mikapfl  There should already be a test_files folder in the Joss-submission repo, I hope those will do the trick.

[2021-08-16 07:58] rcannood commented on #3524
Sorry for taking a while to respond. After getting back from holidays, the last few weeks have been quite hectic and I wanted to make sure I took sufficient time to properly go through the manuscript and the code before ticking off any boxes.

I appreciate the valuable contribution @lutzhamel has made in providing an efficient implementation of SOM in R. However, I feel that a few issues need to b

[2021-08-16 08:09] fraukewiese commented on #3574
Hi @samuelduchesne , @mewilhel : If you have any further questions on the review, please do not hesitate to ask :)

[2021-08-16 08:38] martinfleis commented on #3533
@whedon assign @lachlangrose as reviewer

[2021-08-16 08:38] whedon commented on #3533
OK, @lachlangrose is now a reviewer

[2021-08-16 09:25] Kevin-Mattheus-Moerman commented on #3255
@whedon generate pdf from branch joss

[2021-08-16 09:25] whedon commented on #3255
[code]

[2021-08-16 09:26] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-08-16 09:37] Geogoeroe commented on #3346
All right, we checked. On 4 different windows laptops the tool is not working. In order to see if it is a windows thing, we also checked on a Linux laptop. Also, not working. Then, after trying a couple of times, it worked, for no apparent reason (on the linux laptop).

My take on this: code is currently too buggy to review properly. Not fit for use yet, sorry to say.

[2021-08-16 09:44] Kevin-Mattheus-Moerman commented on #3255
@LiangliangNan congratulations, given the positive reviews above we will now process this work for acceptance in JOSS.

- [ ] Since this work is about to be accepted we recommend you proofread the paper yourself one more time and also that you verify that the author names and affiliations are accurate.
- [ ] The paper currently lacks an `Acknowledgements` section, this section is not required but

[2021-08-16 09:53] mikldk commented on #3324
@whedon set 10.5281/zenodo.5196171 as archive

[2021-08-16 09:53] whedon commented on #3324
OK. <a href="https://doi.org/10.5281/zenodo.5196171" target="_blank">10.5281/zenodo.5196171</a> is the archive.

[2021-08-16 09:53] mikldk commented on #3324
@whedon set v0.6.8 as version

[2021-08-16 09:53] whedon commented on #3324
OK. v0.6.8 is the version.

[2021-08-16 09:53] mikldk commented on #3324
@whedon check references

[2021-08-16 09:54] mikldk commented on #3324
@whedon generate pdf

[2021-08-16 09:54] whedon commented on #3324
[code]

[2021-08-16 09:54] whedon commented on #3324
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: :point_left:

[2021-08-16 09:55] mikldk commented on #3324
@ulf1 Title and authors still not consistent across paper and archive. Please fix and ping me once completed.

[2021-08-16 09:58] iammix commented on #3556
@mscroggs @Nikoleta-v3

just to inform you, by the end of this week I will finish my review too.

[2021-08-16 10:23] Nikoleta-v3 commented on #3556
Thank you for the update @iammix 😄

[2021-08-16 10:34] janfreyberg commented on #3545
@whedon generate pdf

[2021-08-16 10:35] whedon commented on #3545
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: :point_left:

[2021-08-16 10:41] vijaysm commented on #3274
@clavigne The article reads well and provides a clear description of the funsies package. Just one minor comment: consider adding a DOI for the citation Dean, J., Ghemawat, S. (2004). I could not find one for that version when I checked quickly. But the 2008 version of the paper has one. https://doi.org/10.1145/1327452.1327492

I should be able to wrap up the rest of my review in the next couple o

[2021-08-16 11:21] gro5-AberUni commented on #3346
@Geogoeroe I'm sorry to hear you have still had issues, I have checked the errors you have received and the video you uploaded. It seems as though the second issue you're seeing is a result of the incorrect use of the save vector file, following feedback from @jorgegil the plugin GUI and documentation has been updated so that the vector dataset is saved using the system file dialogue box to be in

[2021-08-16 11:27] SamDuffield commented on #3548
possibly tsamsonov, georgiastuart or matt-graham?

@taless474 where should I write the abstract?

[2021-08-16 11:34] hugoledoux commented on #3346
thanks @Geogoeroe for having the code/plugin tested on other machines.

Unfortunately @gro5-AberUni , to be accepted the code should really run on all 3 major platforms without issues. I propose you indeed try to fix the 2nd issue, and then if you could test it yourself on those platforms that would be best.

The content of the paper and the scope of the work is fine, but we need to have it workin

[2021-08-16 12:02] tpoisot commented on #3565
@arfon we would like to appeal this decision - what is the process?

[2021-08-16 12:35] danielskatz commented on #3566
@step21 - thanks very much; we do need a second reviewer.  I'll assign you and we can get started, though please don't feel you have to start until you are ready.

[2021-08-16 12:35] danielskatz commented on #3566
@whedon add @step21 as reviewer

[2021-08-16 12:35] whedon commented on #3566
OK, @step21 is now a reviewer

[2021-08-16 12:35] danielskatz commented on #3566
@whedon start review

[2021-08-16 12:35] whedon opened #3617 "[REVIEW]: eyecite: A tool for parsing legal citations"
**Submitting author:** @mattdahl (<a href="http://orcid.org/0000-0001-8437-1455">Matthew Dahl</a>)
**Repository:** <a href="https://github.com/freelawproject/eyecite" target ="_blank">https://github.com/freelawproject/eyecite</a>
**Version:** v2.3.0
**Editor:** @danielskatz
**Reviewer:** @cmaimone, @step21
**Archive:** <a href="https://doi.org/10.7910/DVN/STVKTE" target="_blank">10.7910/DVN/STVKTE

[2021-08-16 12:35] whedon commented on #3566
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3617.

[2021-08-16 12:35] #3566 closed

[2021-08-16 12:35] whedon commented on #3617
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmaimone, @step21 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-08-16 12:35] whedon commented on #3617
PDF failed to compile for issue #3617 with the following error:
[code]

[2021-08-16 12:35] whedon commented on #3617
[code]

[2021-08-16 12:36] danielskatz commented on #3617
@whedon check references in branch joss-paper

[2021-08-16 12:37] danielskatz commented on #3617
@whedon check references from branch joss-paper

[2021-08-16 12:37] whedon commented on #3617
[code]

[2021-08-16 12:37] whedon commented on #3617
[code]

[2021-08-16 12:37] danielskatz commented on #3617
@whedon generate pdf from branch joss-paper

[2021-08-16 12:37] whedon commented on #3617
[code]

[2021-08-16 12:38] whedon commented on #3617
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: :point_left:

[2021-08-16 12:38] danielskatz commented on #3617
@mattdahl - as we get started, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references from branch joss-paper` to check again, and the command `@whedon generate pdf from branch joss-paper` when the references are right to make a new PDF. Whedon commands

[2021-08-16 12:39] danielskatz commented on #3617
@cmaimone and @step21 - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Pl

[2021-08-16 12:42] danielskatz commented on #3470
👋 @krischer, @jkmacc-LANL, @mbegnaud, @cja12 - I'm just checking with you again to see if one of you could be the second reviewer for this JOSS submission

[2021-08-16 12:53] lutzhamel commented on #3524
I do not agree with any of these criticisms and hereby **retract my paper**. My understanding is that JOSS papers are supposed to be short introductions to the software packages (according to the spec in the JOSS website) these criticisms want to make this paper into an academic treatment which is not the goal of these software papers.  All of these issues have been addressed in my publications (a

[2021-08-16 12:56] elbeejay commented on #3436
Hi @PTierz, I hope you had a good holiday. I've conferred with the JOSS editorial team and am happy to say we will be moving PyVOLCANS on to the review stage.

The one recommendation we have is that the MATLAB code for generating the analog matrices should be added to the repository. This would enable an outside contributor to see the code behind that computation, or potentially perform that Matla

[2021-08-16 12:56] danielskatz commented on #3604
👋 @rouson & @tclune - just checking with you again on this...

[2021-08-16 12:57] danielskatz commented on #3604
@michaeltouati -Again, the first step is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-08-16 12:58] elbeejay commented on #3544
:wave: @cole-brokamp @tsamsonov we are nearing the halfway point in the review process so I just wanted to check in with you both.

Let me know if there are any questions about conducting a JOSS review and I'll do my best to provide clarification. Thanks again for agreeing to review for JOSS.

[2021-08-16 12:59] lutzhamel commented on #3524
@fabian-s I don't agree with any of the above criticisms of my paper and therefore I am *retracting my paper*. According to the JOSS specs, JOSS papers are supposed short introductions to software packages, these criticism are trying to turn this into an academic treatment.  All these issues have been addressed in my publications (hence the number of self-citations), except "improve quality of wri

[2021-08-16 12:59] elbeejay commented on #3541
:wave: Hello @abhishekvp @arbennett @omshinde we're at the halfway point for this review so I wanted to just check in with you all. Please feel free to reach out if you have any questions about the JOSS review process.

[2021-08-16 13:01] tclune commented on #3604
@danielskatz I was hoping @rouson would blink first.  :-)     I'm a bit swamped at work over the next couple of weeks  - if the review can be delayed until early/mid September, you can consider me signed on.

[2021-08-16 13:03] rcannood commented on #3524
Please do not interpret my comments as harsh criticisms, as I only intended to improve the readability of the package and the manuscript. If you do not agree with certain comments, I kindly invite you to simply respond to my comment, as you have done for several of my comments. For instance:

I saw and understood that this tool predates roxygen, which is why I did not make a separate GitHub issue

[2021-08-16 13:06] michaeltouati commented on #3604
Dear Tom,

I can recommend this list of potential reviewer :

- @sigvaldm ***@***.*** ***@***.***>)
- @CFGrote ***@***.*** ***@***.***>)
- @joglekara ***@***.*** ***@***.***>)
- @TomGoffrey ***@***.*** ***@***.***>)

Thanking you,
Best regards,
Michaël

[2021-08-16 13:07] danielskatz commented on #3604
👋 @sigvaldm, @CFGrote, @joglekara, @TomGoffrey - Would one of you be willing to review this submission to JOSS?

[2021-08-16 13:08] danielskatz commented on #3604
👋 @tclune - we can wait a bit to get started, so I'll accept your "volunteering" :)
I'll add you as a reviewer, though we won't start the formal review until there's also a second reviewer, and I won't expect you to start immediately after that in any case.

[2021-08-16 13:08] danielskatz commented on #3604
@whedon assign @tclune as reviewer

[2021-08-16 13:09] whedon commented on #3604
OK, @tclune is now a reviewer

[2021-08-16 13:17] TomGoffrey commented on #3604
@danielskatz Sure, I can take a look.

[2021-08-16 13:19] danielskatz commented on #3604
@TomGoffrey - thanks very much - I'll add you and will start the review.

[2021-08-16 13:19] danielskatz commented on #3604
@whedon add @TomGoffrey as reviewer

[2021-08-16 13:19] whedon commented on #3604
OK, @TomGoffrey is now a reviewer

[2021-08-16 13:19] danielskatz commented on #3604
@whedon start review

[2021-08-16 13:19] whedon opened #3618 "[REVIEW]: ESVM: An Electrostatic Vlasov-Maxwell Open-source Code"
**Submitting author:** @michaeltouati (<a href="http://orcid.org/0000-0001-7590-0941">Michael Touati</a>)
**Repository:** <a href="https://github.com/michaeltouati/ESVM" target ="_blank">https://github.com/michaeltouati/ESVM</a>
**Version:** esvm-v1.0
**Editor:** @danielskatz
**Reviewers:** @tclune, @TomGoffrey, @rouson
**Archive:** <a href="https://doi.org/10.5281/zenodo.5733971" target="_blank">

[2021-08-16 13:19] whedon commented on #3604
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3618.

[2021-08-16 13:19] #3604 closed

[2021-08-16 13:19] whedon commented on #3618
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tclune, @TomGoffrey it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-08-16 13:20] whedon commented on #3618
[code]

[2021-08-16 13:20] whedon commented on #3618
Wordcount for `paper.md` is 1039

[2021-08-16 13:20] whedon commented on #3618
[code]

[2021-08-16 13:20] whedon commented on #3618
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: :point_left:

[2021-08-16 13:20] danielskatz commented on #3618
Note from @tclune (16 Aug 2021):

[2021-08-16 13:21] danielskatz commented on #3618
@tclune and @TomGoffrey - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

[2021-08-16 13:29] LiangliangNan commented on #3255
@whedon generate pdf from branch joss

[2021-08-16 13:30] whedon commented on #3255
[code]

[2021-08-16 13:30] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-08-16 13:53] whedon commented on #3556
:wave: @iammix, please update us on how your review is going (this is an automated reminder).

[2021-08-16 13:53] fabian-s commented on #3524
@lutzhamel very sorry to hear that --
in my view, @rcannood has provided much valuable feedback and the few remaining issues that are blocking acceptance as opposed to mere suggestions for possible improvements to your code or the paper should be straightforward to adress, I think.
I've added comments to the respective issues, I think we can work this out fairly easily if you're still willing.

[2021-08-16 13:59] cjhopp commented on #3507
Hi @kbarnhart , apologies for the delay in responding, and thanks for reaching out! In the future, I'd be happy to review for JOSS, but I have to decline this time around. Many weeks of impending fieldwork.

[2021-08-16 13:59] martinfleis commented on #3533
@whedon add @hechth as reviewer

[2021-08-16 14:00] whedon commented on #3533
OK, @hechth is now a reviewer

[2021-08-16 14:19] diehlpk commented on #3465
@hayesall The author has addressed most of your concerns. Would you mind to check if you are satisfied.

[2021-08-16 14:20] kthyng commented on #3305
Thanks @mdsumner, probably best to not have you review, then.

[2021-08-16 14:21] kthyng commented on #3305
@gmaze As the author of ArgoPy, which went through JOSS review, do you have any colleagues in your group/area who use R who might want to review this package? Thanks.

[2021-08-16 14:25] kthyng commented on #3485
@fawda123 Have you been able to address any of the input from @paleolimbot?

@richardsc Will you be able to start your review soon?

[2021-08-16 14:26] kthyng commented on #3344
@mcflugen Have you had a chance to address any of @lheagy's comments?

@PythonCHB Can you start your review soon?

[2021-08-16 14:28] kthyng commented on #3332
@dbuscombe-usgs are you interested in reviewing this JOSS software? The review is already underway but we need another reviewer who has access to Windows to complete the process. Would you be able to fill this role? Thanks.

[2021-08-16 14:31] kthyng commented on #3175
I just emailed @evanleeturner again to see about starting this review.

[2021-08-16 14:33] hayesall commented on #3465
I'll check this evening. I saw the last main change got cleared over the weekend.

[2021-08-16 14:37] Nikoleta-v3 commented on #3556
and apologies for whedon 😅

[2021-08-16 14:43] lutzhamel commented on #3524
@fabian-s Thanks for taking a look at the issues raised.  Let me look at your comments and I will get back to you.

[2021-08-16 15:01] mbegnaud commented on #3470
I am unable to review the submission at this time. Apologies.

[2021-08-16 15:09] danielskatz commented on #3470
Thanks for the reply @mbegnaud

[2021-08-16 15:17] kbarnhart commented on #3507
@cjhopp thanks for considering and letting me know. Best of luck with the fieldwork.

@wsavran thanks for those additional recommendations.

[2021-08-16 15:19] cja12 commented on #3470
This is a very busy time of the year with classes starting. I can try to review this package, but cannot do anything extensive.

================================i====================================
Charles J. Ammon, Department of Geosciences
Penn State University / 440 Deike Bldg / University Park, PA 16802
VOICE: (814) 865 2310  / FAXES: (814) 863 7823 or (814) 863 8724
http://eqseis.geosc.psu.e

[2021-08-16 15:22] kbarnhart commented on #3507
:wave: @megies, @barsch, @mhearne-usgs a friendly reminder to consider this review request for "pyCSEP: A Python Package For Earthquake Forecast Developers" by William H. Savran, Maximilian J. Werner, Danijel Schorlemmer, and Philip J. Maechling

[2021-08-16 15:25] kbarnhart commented on #3507
👋 @baagaard-usgs, @brendanjmeade @MatteoTaroniINGV would you be interested and able to provide a review of a manuscript at the Journal of Open Source Software (JOSS). The submission I'd like you to review is titled: " pyCSEP: A Python Package For Earthquake Forecast Developers" by William H. Savran, Maximilian J. Werner, Danijel Schorlemmer, and Philip J. Maechling and the submission repository is

[2021-08-16 15:26] danielskatz commented on #3470
@cja12 & @jkmacc-LANL - thanks to both of you for volunteering. Given your comments, I will add both of you, along with @chad-iris who is already enlisted - I think the three of you will be a great team for this review

[2021-08-16 15:27] danielskatz commented on #3470
@whedon add @cja12 as reviewer

[2021-08-16 15:27] whedon commented on #3470
OK, @cja12 is now a reviewer

[2021-08-16 15:27] danielskatz commented on #3470
@whedon add @jkmacc-LANL as reviewer

[2021-08-16 15:27] whedon commented on #3470
OK, @jkmacc-LANL is now a reviewer

[2021-08-16 15:27] danielskatz commented on #3470
@whedon start review

[2021-08-16 15:27] whedon opened #3619 "[REVIEW]: sacio: A library for Seismic Analysis Code data files"
**Submitting author:** @savage13 (<a href="http://orcid.org/0000-0002-9252-6282">Brian Savage</a>)
**Repository:** <a href="https://github.com/savage13/sacio" target ="_blank">https://github.com/savage13/sacio</a>
**Version:** v1.0.3
**Editor:** @danielskatz
**Reviewers:** @chad-iris, @mbegnaud
**Archive:** <a href="https://doi.org/10.5281/zenodo.5722418" target="_blank">10.5281/zenodo.5722418</a>

[2021-08-16 15:27] whedon commented on #3470
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3619.

[2021-08-16 15:27] #3470 closed

[2021-08-16 15:27] whedon commented on #3619
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @chad-iris, @cja12, @jkmacc-LANL it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2021-08-16 15:27] whedon commented on #3619
Wordcount for `paper.md` is 506

[2021-08-16 15:27] whedon commented on #3619
[code]

[2021-08-16 15:27] whedon commented on #3619
[code]

[2021-08-16 15:27] whedon commented on #3619
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03619/joss.03619/10.21105.joss.03619.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03619/joss.03619/10.21105.joss.03619.pdf) :page_facing_up: :point_left:

[2021-08-16 15:29] danielskatz commented on #3619
👋 @chad-iris and @cja12 and @jkmacc-LANL - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS revie

[2021-08-16 15:29] danielskatz commented on #3619
@whedon check references

[2021-08-16 15:29] whedon commented on #3619
[code]

[2021-08-16 15:30] danielskatz commented on #3619
👋 @savage13 - can you work on the possibly missing DOI that whedon suggests, but note that this may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-08-16 15:40] cole-brokamp commented on #3544
Hi @elbeejay, I've initiated my review.  These are two very minor changes that can hopefully be addressed easily.

[2021-08-16 15:43] brendanjmeade commented on #3507
Thanks for reaching out.  Normally I'd certainly do my best to review this paper, but I'm not taking on additional reviews at this time.  I know of this work and am very excited to see it more forward!

[2021-08-16 16:18] munkm commented on #3318
@kellyrowland i've been reviewing this package and I have a question about the LICENSE file. The main license is using the MIT language, but then there are supplements to the license for the nuclear data ICRP-07 that amend it. The additions to the license should allow the package to redistribute the data for educational, not for profit, or research purposes but I am unsure if this is an issue beca

[2021-08-16 16:23] mcflugen commented on #3344
@kthyng Yup! We're going through her comments now (well, @mdpiper is! Thanks!) and making changes (csdms/babelizer#54, csdms/babelizer#55, csdms/babelizer#56). I think we're just about done.

[2021-08-16 16:23] dbuscombe-usgs commented on #3332
Yes, I have access to Windows and some prior experience with numerical flow modeling, so I could do this! (I might need 2 weeks)

[2021-08-16 16:48] broncio123 commented on #3482
Hi @jmbr hope everything is OK. Just wondering if there has been any progress on the review checklist.
This hasn't been updated since 12 July (5 weeks ago).

As @Shibabrat mentioned above, if there's anything we can help out with, let us know. We're happy to do so.

@richardjgowers have you heard anything from @jmbr by any chance?
It doesn't seem that he has made any comment at all in the thread.

[2021-08-16 16:57] jmbr commented on #3482
Hi @broncio123, All is OK, thanks. I will be able to complete the review this week. Hope that's alright.

[2021-08-16 17:02] broncio123 commented on #3482
Alright, sure. Thanks a lot for letting us know :+1:
And again, don't hesitate to give us a shout.

b

[2021-08-16 17:17] konstantinstadler commented on #3575
@whedon generate pdf

[2021-08-16 17:18] whedon commented on #3575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: :point_left:

[2021-08-16 17:28] omshinde commented on #3541
Hi @elbeejay
Thanks for the reminder. I have started preliminary review locally in my system but I am afraid that I am not able to update my checklist. Maybe because I am not assigned or added as collaborator. Please check it once so that I can update the checklist too (I hope I am not missing anything). Thanks!

[2021-08-16 17:30] kthyng commented on #3332
@dbuscombe-usgs Wonderful! Thank you. I will add you as a reviewer soon.

[2021-08-16 17:31] wesleyburr commented on #2694
Thanks, @tystan! Sophie and I will bang out your findings this week, along with the one outstanding thing from @jspaezp's review, and then hand it off to @pibion to setup final determination.

[2021-08-16 17:32] kthyng commented on #3332
@mdbartos You mentioned above that you were able to complete some checkboxes in the review process before needing access to Windows, but none of the boxes are checked above. Were you able to complete some? If so, I would like to preserve that fact by having your review stay in place with the boxes checked that you were able to check along with any notes. If you really weren't able to do much of th

[2021-08-16 17:36] crvernon commented on #3601
@willu47 I believe I have incorporated all of your feedback (see PR chain above).  I really appreciate you taking time to make suggestions and edits that were very beneficial to this software!  Please let me know if you have any more questions and I'll be happy to address them.

[2021-08-16 17:37] crvernon commented on #3601
👋 @lisazeyen Don't hesitate to reach out if you have any questions.  Thank you!

[2021-08-16 17:40] jmschrei commented on #3531
@zethson and @jkanche, would either of you be available to serve as a reviewer for this submission?

[2021-08-16 17:42] Zethson commented on #3531
Yes. But I'll be away for 1 month. If this is not an issue I can do it.

[2021-08-16 17:42] cja12 opened #3620 "Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution."

[2021-08-16 17:42] whedon commented on #3620
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-16 17:42] #3620 closed

[2021-08-16 17:48] cja12 opened #3621 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2021-08-16 17:48] #3621 closed

[2021-08-16 17:51] danielskatz commented on #3619
@cja12 - I see you are trying to use the automated GitHub feature on the checklist - these issues you open are intentionally being closed by whedon.  Please note the instructions at the top of your checklist:

and when you open an issue there, please mention `openjournals/joss-reviews#3619` so that a link is created to this review issue and we can see if it is open or closed.

[2021-08-16 17:52] jmschrei commented on #3531
No problem. Thanks for agreeing!

[2021-08-16 17:52] whedon commented on #3531
OK, @Zethson is now a reviewer

[2021-08-16 17:53] jmschrei commented on #3531
@whedon start review

[2021-08-16 17:53] whedon opened #3622 "[REVIEW]: BioProv - A provenance library for bioinformatics workflows"
**Submitting author:** @vinisalazar (<a href="http://orcid.org/0000-0002-8362-3195">Vinícius Salazar</a>)
**Repository:** <a href="https://github.com/vinisalazar/BioProv/" target ="_blank">https://github.com/vinisalazar/BioProv/</a>
**Version:** v0.1.24
**Editor:** @jmschrei
**Reviewer:** @maximtrp, @Zethson
**Archive:** <a href="https://doi.org/10.5281/zenodo.5550568" target="_blank">10.5281/zeno

[2021-08-16 17:53] whedon commented on #3531
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3622.

[2021-08-16 17:53] #3531 closed

[2021-08-16 17:53] whedon commented on #3622
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @maximtrp, @Zethson it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-08-16 17:53] whedon commented on #3622
[code]

[2021-08-16 17:53] whedon commented on #3622
PDF failed to compile for issue #3622 with the following error:
[code]

[2021-08-16 17:54] elbeejay commented on #3541
@whedon re-invite @omshinde as reviewer

[2021-08-16 17:54] whedon commented on #3541
The reviewer already has a pending invite.

@omshinde please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-16 17:54] elbeejay commented on #3541
Hopefully the new invitation to review will give you access to the checklist @omshinde :crossed_fingers:.

[2021-08-16 17:57] jmschrei commented on #3622
@whedon generate pdf from branch joss-paper

[2021-08-16 17:57] whedon commented on #3622
[code]

[2021-08-16 17:57] whedon commented on #3622
PDF failed to compile for issue #3622 with the following error:
[code]

[2021-08-16 17:58] cja12 commented on #3470
Hi,

I am sorry. Please remove me from this review process. This is a mess and now I am being spammed continuously with emails from your system. I don’t have time to navigate such a convoluted review process.

Chuck Ammon

================================i====================================
Charles J. Ammon, Department of Geosciences
Penn State University / 440 Deike Bldg / University Park, PA 16

[2021-08-16 17:59] jmschrei commented on #3622
@vinisalazar the paper still doesn't appear to be working. Would you mind looking into that?

[2021-08-16 17:59] jmschrei commented on #3622
Howdy @maximtrp and @Zethson

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above in the checklist from @whedon. Please check the boxes during your review to keep track, as well as making comments in this thread or opening issues in the repository itself to point out issues you encounter. Keep in mind that our aim is to improve the submission to th

[2021-08-16 18:02] fawda123 commented on #3485
@kthyng thanks for checking in, no I have not yet addressed any of the comments from @paleolimbot.  I was waiting for review from @richardsc, but can proceed with revision this wek if preferred.

[2021-08-16 18:02] vinisalazar commented on #3622
@jmschrei thank you for letting me know. Both the [Whedon web preview service](https://whedon.theoj.org/) and the Dockerfile compilation are working for me, but I'll investigate.

[2021-08-16 18:02] cmbiwer commented on #3546
I have finished taking a look at the software and can type up the checklist and my comments about the functionality, documentation, paper, and software sometime this week.

Though, there were a few crashes/errors I encountered. Either myself or @mikapfl have already made issues on the GitHub repo. I'd suggest those are address (i.e. issues #4 and #6).

[2021-08-16 18:08] vinisalazar commented on #3622
@whedon generate pdf from branch joss-paper

[2021-08-16 18:08] whedon commented on #3622
[code]

[2021-08-16 18:09] whedon commented on #3622
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03622/joss.03622/10.21105.joss.03622.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03622/joss.03622/10.21105.joss.03622.pdf) :page_facing_up: :point_left:

[2021-08-16 18:09] mdbartos commented on #3332
Hi @kthyng, I was able to complete everything except for the functionality component. I cannot check the boxes, as I wasn't able to get the reviewer invitation to work.

Apologies for not being able to complete the review. Although I could potentially test the software on an AWS instance, the process of installing and setting up the necessary software in this environment is not necessarily straigh

[2021-08-16 18:20] vinisalazar commented on #3622
@jmschrei there was a subtle formatting mistake but I believe it is now fixed. Again, thank you for your work.

[2021-08-16 18:20] whedon commented on #3557
:wave: @reality, please update us on how your review is going (this is an automated reminder).

[2021-08-16 18:20] whedon commented on #3557
:wave: @rlskoeser, please update us on how your review is going (this is an automated reminder).

[2021-08-16 18:22] jmschrei commented on #3622
Great, thank you so much!

[2021-08-16 18:26] danielskatz commented on #3619
@cja12 - Did you see the instructions in https://github.com/openjournals/joss-reviews/issues/3619#issuecomment-899602160?  Right now, you are getting notifications for all JOSS reviews, and those instructions tell you how to turn this off, so you will only get notifications for this review.  I hope that might solve your problem and let you keep working on this review, particularly since you alread

[2021-08-16 18:35] kyleniemeyer commented on #2095
@whedon set archive as 10.5281/zenodo.5205320

[2021-08-16 18:35] whedon commented on #2095
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-16 18:36] kyleniemeyer commented on #2095
@whedon set 10.5281/zenodo.5205320 as archive

[2021-08-16 18:36] whedon commented on #2095
OK. <a href="https://doi.org/10.5281/zenodo.5205320" target="_blank">10.5281/zenodo.5205320</a> is the archive.

[2021-08-16 18:38] kellyrowland commented on #3318
Good catch, @munkm .

I think that the license text should be separated out into two files: one file with the MIT license text for this software package, and a second, separate license file which includes the wording for the data libraries and their respective (more restrictive) license texts. That should hopefully help differentiate the licenses.

Does that make sense? Does that work for you @ale

[2021-08-16 18:44] kyleniemeyer commented on #2095
@whedon generate pdf

[2021-08-16 18:44] whedon commented on #2095
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02095/joss.02095/10.21105.joss.02095.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02095/joss.02095/10.21105.joss.02095.pdf) :page_facing_up: :point_left:

[2021-08-16 18:54] kyleniemeyer commented on #2095
Hi @roshansamuel, just a few comments about the article:

1. Can you please change the "Summary" section to "Summary and Statement of Need", or otherwise break out part of the section as an explicit "Statement of Need" section? We have made that a required element of JOSS papers.
2. Regarding the sentence "We are planning to conduct a scaling analysis of SARAS and compare its performance with TARA

[2021-08-16 18:56] dionhaefner commented on #3419
Thanks for the review @Himscipy.

I'm not sure I follow. What kind of extra information would you expect? I'm sure @PhilipVinc would be happy to provide.

I have no problem with mentioning the mesh partitioning and grid points per worker. I'll add it to the manuscript. I'm not sure though what you mean by "a user can directly leverage from the tool". All interaction with communicators is handled o

[2021-08-16 19:15] TomGoffrey commented on #3618
The code appears to compile and run correctly. However, when running `make extract` I get several pages of warnings:

[code]

and

[code]

These are fairly trivial to fix, and would improve the user experience. They also won't be warnings forever.

I also have a query about the author list (@danielskatz you might want to comment on this?) - The JOSS guidelines state

[code]

It looks like a second

[2021-08-16 19:27] chrisamiller commented on #3615
Happy to utilize one of the other editors with genomics experience, if that helps things. Yes, we'll get the dois cleaned up - thank you!

[2021-08-16 19:29] taless474 commented on #3548
@tsamsonov, @georgiastuart will you be able to review this?

[2021-08-16 19:30] taless474 commented on #3548
I would appreciate a paragraph here.
Thank you

[2021-08-16 19:32] georgiastuart commented on #3076
I will give updated feedback ASAP. Sorry for the delay, I have not had a chance to review the changes yet.

[2021-08-16 19:33] omshinde commented on #3541
Thanks for the followup and really sorry for missing out on accepting the invitation. I tried accepting it now but it says that the invitation was revoked or I am not logged in with correct account (which I double checked and is not the case).

![Screenshot from 2021-08-17 01-00-30](https://user-images.githubusercontent.com/21292545/129619338-5f84f1fa-2cfb-4437-a0bc-51a4536b8275.png)

[2021-08-16 19:34] georgiastuart commented on #3548
Sure, I glanced at the repo and docs really quickly and it looks like I have the knowledge to evaluate it.

[2021-08-16 19:35] diehlpk commented on #3450
@martinmodrak thanks, I will let you know later if I could not find other reviewers.

[2021-08-16 19:36] callumrollo commented on #3575
Looks great! Thanks @konstantinstadler . A few small typos I spotted:

- 9 and *are* expected
- 20 This allows *the user* to
- 43 available *that* automatically
- 44 *harmonizes*

The authors have addressed all my concerns for this project. I am happy to accept it @osorensen

[2021-08-16 19:42] ethanwhite commented on #3575
I concur with @callumrollo. Great work @konstantinstadler! All of my concerns have been addressed and I support accepted of this paper.

[2021-08-16 19:47] cole-brokamp commented on #3544
I've completed my review.  As long as the markdown file in the repo makes it into the final PDF here, I am all good to go.  Thanks.

[2021-08-16 20:09] konstantinstadler commented on #3575
Hi. Thanks, we were just preparing a longer reply thanking you for the great review - apparently a bit to slow 😉.

We will fix the remaining spelling mistakes ASAP  (the missing module for install via conda - openpxyl - is fixed now in 0.3.2).

Thanks again for helping to improve the module and article!

[2021-08-16 20:39] baagaard-usgs commented on #3507
Katy,

CSEP is a bit outside my area of expertise. Morgan Page, Nicholas van der Elst, and Andrew Michael are in a much better position than me to review the scientific content and probably the software content as well.

Brad

On 8/16/21, 9:27 AM, "Katy Barnhart" ***@***.***> wrote:

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or r

[2021-08-16 20:53] lutzhamel commented on #3524
@fabian-s From your comments it seems that I have misinterpreted some of the issues raised by @rcannood, for example, "provide an explanation of how SOM's work" I took as a detailed explanation of SOMs which clearly would be beyond the scope of a short software paper.  Your interpretation as a brief sentence or two as a way to provide context to readers not familiar with the topic seems reasonable

[2021-08-16 20:54] WilkAndy commented on #3314
Just confirming that the above instructions work.  I will add them to the paper, but that will take a little time to merge through to the master branch.

[2021-08-16 20:58] roshansamuel commented on #2095
@whedon generate pdf

[2021-08-16 20:59] whedon commented on #2095
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02095/joss.02095/10.21105.joss.02095.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02095/joss.02095/10.21105.joss.02095.pdf) :page_facing_up: :point_left:

[2021-08-16 21:13] roshansamuel commented on #2095
Hi @kyleniemeyer, thank you for your corrections. We have updated the paper as you said.

1. The "Summary" section has been broken up to add a "Statement of Need" section.
2. We had performed a preliminary scaling analysis using 1024 cores, but we need to optimize the solver further before moving on to higher numbers of cores. We now mention this in the paper.
3. The bib file for the Ghia citation

[2021-08-16 21:35] kyleniemeyer commented on #2095
great! this all looks good to me now.

[2021-08-16 21:35] kyleniemeyer commented on #2095
@whedon accept

[2021-08-16 21:35] whedon commented on #2095
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-08-16 21:40] kyleniemeyer commented on #2095
@whedon recommend-accept

[2021-08-16 21:40] whedon commented on #2095
[code]

[2021-08-16 21:40] whedon commented on #2095
[code]

[2021-08-16 21:40] whedon commented on #2095
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2515

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2515, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-16 21:43] jarrah42 commented on #3143
Ok I see it. Isn't this review for v2.3.1 or does that need to be changed now?

[2021-08-16 21:44] danielskatz commented on #3143
We'll make sure the version number is set correctly at the end of the process, in case it changes again. This is part of the publishing step, along with creating an archive of the repo at that point

[2021-08-16 22:07] kyleniemeyer commented on #2095
@whedon accept deposit=true

[2021-08-16 22:08] whedon commented on #2095
[code]

[2021-08-16 22:08] whedon commented on #2095
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1427391892631826434) 👈 🐦🐦🐦

[2021-08-16 22:08] whedon commented on #2095
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2516
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02095](https://doi.org/10.21105/joss.02095)
2. If everything look

[2021-08-16 22:19] kyleniemeyer commented on #2095
Congratulations @roshansamuel on your article's publication in JOSS! Thanks for your patience through this long review process.

Many thanks to @dlagrava, @olgadoronina, and @nickwimer for reviewing this submission.

[2021-08-16 22:19] #2095 closed

[2021-08-16 22:19] whedon commented on #2095
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02095/status.svg)](https://doi.org/10.21105/joss.02095)

**We need your help!**

Journal of Open Source Softwa

[2021-08-16 22:39] jedbrown commented on #3314
You can use the syntax `@whedon generate pdf from branch joss-paper-edits` to get an updated draft for review before the branch merges.

[2021-08-16 22:41] karink520 commented on #3397
@drvinceknight  Thank you! I had missed that I guess, but it does look correct to me. Added!

[2021-08-16 23:36] taless474 commented on #3548
@whedon assign @georgiastuart as reviewer

[2021-08-16 23:36] whedon commented on #3548
OK, @georgiastuart is now a reviewer

[2021-08-17 01:09] taless474 commented on #3548
@matt-graham will you be able to review this?

[2021-08-17 01:10] taless474 commented on #3543
@nhejazi, @omid-s How is the review going?

[2021-08-17 04:04] cMadan commented on #3560
@henrykironde, that would be much appreciated, thank you!

[2021-08-17 04:04] cMadan commented on #3560
@whedon add @henrykironde as reviewer

[2021-08-17 04:04] whedon commented on #3560
OK, @henrykironde is now a reviewer

[2021-08-17 04:06] cMadan commented on #3560
@fernandoandreotti @anki-xyz, would either of you be available and interested in reviewing this submission?

[2021-08-17 04:22] roshansamuel commented on #2095
Thank you very much, @kyleniemeyer for patiently guiding the review process. We also thank @dlagrava, @nickwimer and @olgadoronina for all the suggestions, which greatly improved SARAS and its documentation.

[2021-08-17 06:33] cheginit commented on #3175
@kthyng Thank you.

[2021-08-17 07:00] chartgerink commented on #3595
Pinged a few people to review - awaiting their response. 😊

[2021-08-17 07:01] rlonka commented on #3575
Thanks @ethanwhite @callumrollo and @osorensen for your time and valuable comments which helped us to improve the work!

[2021-08-17 07:07] alexmalins commented on #3318
@munkm & @kellyrowland

Thanks for your review and the suggestions.

Honestly, when I created the license file I wasn't sure of the best way to do it. Splitting the license file into separate files for the code (MIT) and the default data it uses (ICRP-07) works for me. Moreover, this makes sense as the code is programmed flexibly to use other datasets, and there is the potential that the default w

[2021-08-17 07:16] wtraylor commented on #3450
A friend of mine recommended two potential reviewers who bring both ecological background and C++ skills:
- [Gavin Simpson](http://www.iecs-uregina.ca/people/index.html) – <https://orcid.org/0000-0002-9084-8413>
- [Ethan White](https://www.weecology.org/people/ethan-white/) – <https://orcid.org/0000-0001-6728-7745>

Both are busy professors with probably very limited time for reviews, unfortunatel

[2021-08-17 07:26] konstantinstadler commented on #3575
Fixed spelling:
@whedon generate pdf

[2021-08-17 07:32] konstantinstadler commented on #3575
@osorensen :  Version 0.3.2 is now also archived on Zenodo:
https://doi.org/10.5281/zenodo.4621392

[2021-08-17 07:58] matt-graham commented on #3548
Yes I would be happy to review this.

[2021-08-17 07:59] konstantinstadler commented on #3575
@whedon generate pdf

[2021-08-17 08:00] whedon commented on #3575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: :point_left:

[2021-08-17 08:21] gmaze commented on #3305
@kthyng yes, you can try to contact @catsch, she's an Argo expert and work with R

[2021-08-17 08:33] gro5-AberUni commented on #3346
Hi @Geogoeroe

To assist me in debugging the issue would you be able to let me know of some details regarding the Drone Image you are using so i can try to replicate the error that you are receiving. From digging into the code i think the issue may being caused by some unexpected behaviour with the image itself rather than a platform dependent issue.

Could you please tell me what the image coordi

[2021-08-17 08:36] SamDuffield commented on #3548
**Abstract**

`bmm`: Bayesian Map-matching

Map-matching is defined as the task of converting an ordered series of noisy, unconstrained GPS coordinates into a series of connected edges that represent the route taken constrained to a predefined road network. `bmm` represents a Python package for map-matching in dense, urban networks that combines a Bayesian state-space model with particle smoothing

[2021-08-17 09:00] chennachaos commented on #3020
@diehlpk, that's correct!
GMSH is not part of your build system. That is why I didn't install GMSH with **./build-all.sh Release without-gcc gmsh**.
There is no *build-gmsh.sh* file in the repo.

[2021-08-17 09:00] TomGoffrey commented on #3618
There's also a floating point exception when compiled in debug mode, running with the input deck as shipped in the main directory:

[code]

[2021-08-17 09:37] birgitschlager commented on #3471
@whedon generate pdf from branch paper

[2021-08-17 09:38] whedon commented on #3471
[code]

[2021-08-17 09:38] whedon commented on #3471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: :point_left:

[2021-08-17 09:52] Geogoeroe commented on #3346
The image is in 32631 - WGS 84 UTM zone 31N. File is attached.

However, the same thing happened with the supplied test data (I tried this with the project CRS was at 4326, at 3857, and (because I wasn't paying attention) with 28992).
[odm_orthophoto.zip](https://github.com/openjournals/joss-reviews/files/6998865/odm_orthophoto.zip)

By the way, I do know about the use of the save vector file. I n

[2021-08-17 10:11] birgitschlager commented on #3471
@whedon generate pdf from branch paper

[2021-08-17 10:11] whedon commented on #3471
[code]

[2021-08-17 10:12] whedon commented on #3471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: :point_left:

[2021-08-17 10:48] MatteoTaroniINGV commented on #3507
Dear Katy,
                 now I'm on vacation and I will stay on vacation for the
next few weeks.
I suggest these three possible reviewers:

Giuseppe Falcone: ***@***.***
Angela Stallone: ***@***.***
Ilaria Spassiani: ***@***.***

                       Matteo Taroni

=======================================================================

Il giorno lun 16 ago 2021 alle ore 17:25 Katy Barnhart <

[2021-08-17 10:53] PhilipVinc commented on #3419
If I can add something...

While I do agree that benchmarks in general are a usefull tool, i don't think they are really relevant here.
`mpi4jax` is literally just a wrapper+autodiff rules, as you recognise yourself in your question (5).
It just turns out that writing a wrapper for jax is not super-simple and we would like to be able to cite our work for it.

Properly benchmarking `mpi4jax` will,

[2021-08-17 11:05] ml-evs commented on #3458
@whedon generate pdf from branch joss

[2021-08-17 11:05] whedon commented on #3458
[code]

[2021-08-17 11:05] whedon commented on #3458
PDF failed to compile for issue #3458 with the following error:
[code]

[2021-08-17 11:11] ml-evs commented on #3458
@whedon generate pdf from branch joss

[2021-08-17 11:11] birgitschlager commented on #3471
@whedon generate pdf from branch paper

[2021-08-17 11:11] whedon commented on #3458
[code]

[2021-08-17 11:11] whedon commented on #3471
[code]

[2021-08-17 11:12] whedon commented on #3458
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: :point_left:

[2021-08-17 11:12] whedon commented on #3471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: :point_left:

[2021-08-17 11:12] ml-evs commented on #3458
We have just updated some of our references in the paper. Please let me know if we can be of any help with the review.

[2021-08-17 11:45] cjbarrie commented on #3538
I am almost finished with my review. A few comments follow. The only check box remaining is the community guidelines, which I don't see on the Github Repo. The remainder of my comments pertain to the software paper. This is a great package and it deserves its place in JOSS.

- Acronym DAI should be in parentheses after Google Document AI (line 18) before being used as acronym in line 19.

- Line 2

[2021-08-17 11:55] elbeejay commented on #3541
Thanks for following up @omshinde, if you cannot access the checklist please continue to perform your review anyway. You can copy the checklist items and make a comment in this issue if you'd like to have a way to keep track. Otherwise just open issues if/as necessary in the project repository, and let me know here when you've completed your review. Thanks!

[2021-08-17 11:55] elbeejay commented on #3544
Great, thanks @cole-brokamp!

[2021-08-17 11:56] elbeejay commented on #3544
@whedon generate pdf from branch joss

[2021-08-17 11:56] whedon commented on #3544
[code]

[2021-08-17 11:56] whedon commented on #3544
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: :point_left:

[2021-08-17 14:04] kthyng commented on #3305
Thanks @gmaze!

@catsh  Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typicall

[2021-08-17 14:07] kthyng commented on #3319
Thanks for the response @SeascapeScience! If you're interested, you could sign up to be a reviewer here: https://joss.theoj.org/reviewer-signup.html

[2021-08-17 14:08] andr1976 commented on #3585
@arfon any updates on this?

[2021-08-17 14:22] KristinaRiemer commented on #3200
Hi reviewers @BrandonEdwards & @puruckertom, could you update me on what progress has been made on these reviews? We are well past the six week deadline for this, so please let me know what I can do to help facilitate progress!

[2021-08-17 14:25] hechth commented on #3471
@tgoelles @birgitschlager Thank you very much for the additions, it seems a lot clearer to me now!

I will investigate the functionality and performance a bit more during this week but I think it will be fine - let's wait if maybe the dependencies will be put into conda so that the package can be published there. If not, this is definitely not an issue that would block the acceptance!

[2021-08-17 14:27] KristinaRiemer commented on #3383
Hi everyone! @KristianNelson have you had a chance to add contribution guidelines or update the paper using the suggestions from @jsta yet? And @fsanchez-trigueros have you had a chance to start your review of this yet? Please let me know how I can help or if there are any questions!

[2021-08-17 14:34] KristinaRiemer commented on #3467
Thanks for providing reviews during my absence, @jules32 and @HeatherWelch! Just to confirm what @arfon said, @Shyentist you should make changes as suggested by the reviewers and feel free to update us when complete or discuss these more here!

[2021-08-17 14:49] martinfleis commented on #3533
@whedon start review

[2021-08-17 14:49] whedon opened #3623 "[REVIEW]: Lidium: a 3D point cloud processing software for TLS LiDAR data"
**Submitting author:** @nsviel (<a href="http://orcid.org/0000-0002-4608-5850">Nathan</a>)
**Repository:** <a href="https://github.com/nsviel/Lidium" target ="_blank">https://github.com/nsviel/Lidium</a>
**Version:** v1.0.0
**Editor:** @martinfleis
**Reviewer:** @lachlangrose, @hechth
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pan

[2021-08-17 14:49] whedon commented on #3533
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3623.

[2021-08-17 14:49] #3533 closed

[2021-08-17 14:49] whedon commented on #3623
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lachlangrose, @hechth it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-08-17 14:49] whedon commented on #3623
Wordcount for `paper.md` is 754

[2021-08-17 14:49] whedon commented on #3623
[code]

[2021-08-17 14:50] whedon commented on #3623
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03623/joss.03623/10.21105.joss.03623.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03623/joss.03623/10.21105.joss.03623.pdf) :page_facing_up: :point_left:

[2021-08-17 14:50] whedon commented on #3623
[code]

[2021-08-17 14:51] martinfleis commented on #3623
👋  @nsviel, @lachlangrose, @hechth this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2021-08-17 15:09] standage commented on #3362
Thanks for these responses @jeffreybarrick. The new background page in the wiki is indeed insightful, and the CI builds will hopefully ensure that OSTIR remains a valuable contribution to the community for many years requiring minimal maintenance.

@csoneson, I have no further concerns and recommend this submission for publication.

[2021-08-17 15:12] diehlpk commented on #3020
@chennachaos Ok, I added the script or you can use the system package.

[2021-08-17 15:49] hechth opened #3624 "Substantial scholarly effort: Does this submission meet the scope eligibility described in the JOSS guidelines"

[2021-08-17 15:49] whedon commented on #3624
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-17 15:49] #3624 closed

[2021-08-17 15:58] pdebuyl commented on #3425
@whedon assign @lorenzo-rovigatti as reviewer

[2021-08-17 15:58] whedon commented on #3425
OK, @lorenzo-rovigatti is now a reviewer

[2021-08-17 15:58] osorensen commented on #3575
@konstantinstadler, thanks again for this submission to JOSS. The paper is very well written, but I noticed one small typo when reading through it:

- Line 77: change "a overview" to "an overview".

[2021-08-17 16:00] osorensen commented on #3575
@whedon set 10.5281/zenodo.4621392 as archive

[2021-08-17 16:00] whedon commented on #3575
OK. <a href="https://doi.org/10.5281/zenodo.4621392" target="_blank">10.5281/zenodo.4621392</a> is the archive.

[2021-08-17 16:01] osorensen commented on #3575
@whedon set 0.3.2 as version

[2021-08-17 16:01] whedon commented on #3575
OK. 0.3.2 is the version.

[2021-08-17 16:01] osorensen commented on #3575
@whedon check references

[2021-08-17 16:02] whedon commented on #3575
[code]

[2021-08-17 17:03] konstantinstadler commented on #3575
Thanks! Still did not find a good grammar checker for vim ;-)

Anyway, fixed now

[2021-08-17 17:03] konstantinstadler commented on #3575
@whedon generate pdf

[2021-08-17 17:04] whedon commented on #3575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: :point_left:

[2021-08-17 18:30] csoneson commented on #3362
Thank you @standage! Could you please tick the last box in the checklist above as well, so that everything is documented?

[2021-08-17 19:00] osorensen commented on #3575
@whedon recommend-accept

[2021-08-17 19:00] whedon commented on #3575
[code]

[2021-08-17 19:01] whedon commented on #3575
[code]

[2021-08-17 19:01] whedon commented on #3575
PDF failed to compile for issue #3575 with the following error:
[code]

[2021-08-17 19:02] osorensen commented on #3575
Thank you very much @callumrollo and @ethanwhite for you reviewing for JOSS!

[2021-08-17 19:05] osorensen commented on #3575
@openjournals/jose-eics, running recommend-accept generated this empty error message, so I'll ask whedon to generate pdf proofs.

[2021-08-17 19:05] osorensen commented on #3575
@whedon generate pdf

[2021-08-17 19:06] whedon commented on #3575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: :point_left:

[2021-08-17 19:32] kbarnhart commented on #3507
Thanks to @brendanjmeade @baagaard-usgs and @MatteoTaroniINGV for your quick responses and the recommendations.

[2021-08-17 20:07] WesIngwersen commented on #3392
@tngTUDOR @mfastudillo  Please return to complete this review when you can, thank you.
cc: @csoneson

[2021-08-17 20:35] KirstensGitHub commented on #3270
thanks so much @Morsey187 I'll try that out and let you know how it goes!

[2021-08-17 21:04] arfon commented on #3330
@vissarion I found you a second reviewer! @tmickleydoyle has kindly agreed to review this for us. Assuming that this is acceptable, I'll go ahead and set him up now...

[2021-08-17 21:04] arfon commented on #3330
@whedon add @tmickleydoyle as reviewer

[2021-08-17 21:04] whedon commented on #3330
OK, @tmickleydoyle is now a reviewer

[2021-08-17 21:05] arfon commented on #3330
@whedon re-invite @tmickleydoyle as reviewer

[2021-08-17 21:05] whedon commented on #3330
The reviewer already has a pending invite.

@tmickleydoyle please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-17 21:06] arfon commented on #3330
@tmickleydoyle – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There

[2021-08-17 21:41] tmickleydoyle commented on #3330
👋 Thank you all for the invite

I was reading over the checklist of items but I am not able to interact with the markdown by checking the checklist items.  I will continue to work on the checklist async. 🙇

[2021-08-18 00:55] jarrah42 commented on #3143
My review is complete.

[2021-08-18 01:01] danielskatz commented on #3143
Thanks @jarrah42!

[2021-08-18 01:02] danielskatz commented on #3143
@williamfgc and @nkallima - how is the resolution of the remaining 4 items on @williamfgc's checklist coming?

[2021-08-18 01:52] williamfgc commented on #3143
@danielskatz I'm just waiting on @nkallima for the revised manuscript including more background information. Thanks for leading the review effort, BTW.

[2021-08-18 04:09] jedbrown commented on #3551
Thanks for this submission. While I locate reviewers, could I ask that you update the project documentation to avoid the many places where developer paths are hard-coded (and thus won't work for users). I think most of these can be removed rather than "fixed", and the documentation can state how to run the code without these scripts. (You could audit these steps in a container or a third-party com

[2021-08-18 04:10] lutzhamel commented on #3524
I will address the points raised by @rcannood [outside of the popsom repository](https://github.com/openjournals/joss-reviews/issues/3524#issuecomment-899304603):

I am the sole author of this paper which I consider to be different and distinct of the authorship of package which includes a number of folks.  However, I am also the main contributor, architect, and maintainer of the package. I do ack

[2021-08-18 05:42] rouson commented on #3604
@danielskatz sorry for the delay.  If it's not too late, I would like to review this submission too.

[2021-08-18 06:27] alicia-ziying-yang commented on #3347
Hi @faroit ,

We have changed (the paper.md and the software) what we can do now for the great comments given by @baileythegreen and @sara-02 . For those UI ideas for the software, we have added them to the wish list in the issues.

Cheers,
Alicia

[2021-08-18 06:46] hugoledoux commented on #2184
👋 @alvations , could you let us know whether you are planning to finish this review? If not then it's fine, but knowing would help us move forward

[2021-08-18 07:34] rcannood commented on #3524
In response to your earlier message: I apologise for some of the phrasing used in my initial comments; I think I could have done a better job of communicating the constructive part of my messages without coming across as critical as I did.

In response to your last message: Thanks for clarifying the matters regarding authorship and scholarly effort. Note that I asked about this specifically becaus

[2021-08-18 08:03] ayush9pandey commented on #3362
Thanks for all the updates to the software @jeffreybarrick!
@csoneson I have completed all checkpoints for my review and can recommend this software for publication in JOSS.

[2021-08-18 08:17] lucydot commented on #3586
Hi @michaeltouati 👋 Thanks for your submission to JOSS. I have taken a look at the repository and discussed it with the wider editorial team. We have decided that the submission needs substantial work before we can move to review stage, so we will reject at this stage, with an invitation to re-submit.

Before re-submission you may find [this page](https://joss.readthedocs.io/en/latest/review_crite

[2021-08-18 08:46] ajstewartlang commented on #3605
@whedon add @jaeyk as reviewer

[2021-08-18 08:46] whedon commented on #3605
OK, @jaeyk is now a reviewer

[2021-08-18 08:48] ajstewartlang commented on #3605
@whedon generate pdf

[2021-08-18 08:49] whedon commented on #3605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: :point_left:

[2021-08-18 09:38] xuanxu commented on #3494
👋 @mgalloy would you be willing to review this paper? I think your knowledge of math, CUDA and Python makes you a good fit for this submission.

[2021-08-18 09:38] jbytecode commented on #3439
Hi @gomezzz, any problem with this? Please do not hesitate to ask me if you have any trouble.

[2021-08-18 09:48] gomezzz commented on #3439
Hi @jbytecode,
sorry for not getting back to you earlier. Unfortunately, none of us are an admin of the ESA GitHub organization under which torchquad is published and thus we are unable to link the repository directly on Zenodo as we require organization level access for this. We have contacted the admins but they are currently on vacation. If there is an alternative way to archive the repository

[2021-08-18 10:05] fraukewiese commented on #3528
ckaldemeyer cannot review this (answer by Mail) and I do not receive an answer from milicag (also by Mail), so I will ask other potential reviewer now.

[2021-08-18 10:07] fraukewiese commented on #3528
@olejandro : would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [elmada: Dynamic electricity carbon emission factors and prices for Eur

[2021-08-18 10:12] chartgerink commented on #3595
@whedon add @a3sha2 as reviewer

Still looking for a second reviewer.

[2021-08-18 10:12] whedon commented on #3595
OK, @a3sha2 is now a reviewer

[2021-08-18 10:14] nkallima commented on #3143
@williamfgc @danielskatz

I was working towards closing the issue https://github.com/nkallima/sim-universal-construction/issues/31.
Specifically, I have added a new document that describes the expected performance of various objects/data-structures provided by the framework. I also provide some indicative performance measurements. Please check https://github.com/nkallima/sim-universal-construction

[2021-08-18 10:16] jbytecode commented on #3439
@gomezzz okay, I was just wondering if there was a problem. We can for admins to come back. Thank you!

[2021-08-18 10:19] olejandro commented on #3528
@fraukewiese Yes, I'd be happy to. What's the timeframe?

[2021-08-18 10:54] kthyng commented on #3586
@whedon reject

[2021-08-18 10:54] whedon commented on #3586
Paper rejected.

[2021-08-18 10:54] #3586 closed

[2021-08-18 10:56] fraukewiese commented on #3528
Great, thanks @olejandro !
We aim for the review process to be completed within about 4-6 weeks but it is necessary to make a start well ahead of this as JOSS reviews are by their nature iterative and any early feedback you may be able to provide to the author will be very helpful in meeting this schedule.

[2021-08-18 10:57] fraukewiese commented on #3528
@whedon add @olejandro  as reviewer

[2021-08-18 10:57] whedon commented on #3528
OK, @olejandro  is now a reviewer

[2021-08-18 11:00] fraukewiese commented on #3528
@whedon start review

[2021-08-18 11:00] whedon opened #3625 "[REVIEW]: elmada: Dynamic electricity carbon emission factors and prices for Europe"
**Submitting author:** @mfleschutz (<a href="http://orcid.org/0000-0002-8516-9635">Markus Fleschutz</a>)
**Repository:** <a href="https://github.com/DrafProject/elmada" target ="_blank">https://github.com/DrafProject/elmada</a>
**Version:** v0.0.6
**Editor:** @fraukewiese
**Reviewer:** @nmstreethran, @olejandro
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-08-18 11:00] whedon commented on #3528
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3625.

[2021-08-18 11:00] #3528 closed

[2021-08-18 11:00] whedon commented on #3625
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nmstreethran, @olejandro  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-08-18 11:00] whedon commented on #3625
Failed to discover a `Statement of need` section in paper

[2021-08-18 11:00] whedon commented on #3625
Wordcount for `paper.md` is 480

[2021-08-18 11:00] whedon commented on #3625
[code]

[2021-08-18 11:00] whedon commented on #3625
[code]

[2021-08-18 11:00] whedon commented on #3625
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03625/joss.03625/10.21105.joss.03625.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03625/joss.03625/10.21105.joss.03625.pdf) :page_facing_up: :point_left:

[2021-08-18 11:00] fraukewiese commented on #3528
@olejandro  , @nmstreethran  – thanks a lot for agreeing to review here! See you over in #3625 where the actual review will take place.

[2021-08-18 11:02] fabian-s commented on #3524
@whedon generate pdf

[2021-08-18 11:02] whedon commented on #3524
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: :point_left:

[2021-08-18 11:03] fraukewiese commented on #3625
@olejandro , @nmstreethran  – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been sati

[2021-08-18 11:06] fraukewiese commented on #3625
@mfleschutz : Please include a Statement of Need section in the paper of the submission

[2021-08-18 11:06] whedon opened #3626 "[PRE REVIEW]: OpenCMP: An Open-Source Computational Multiphysics Package"
**Submitting author:** @nasserma (<a href="http://orcid.org/0000-0002-1772-0376">Nasser Mohieddin Abukhdeir</a>)
**Repository:** <a href="https://github.com/uw-comphys/opencmp" target ="_blank">https://github.com/uw-comphys/opencmp</a>
**Version:** 1.0
**Editor:** @lucydot
**Reviewers:** @bonh, @WilkAndy
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-08-18 11:06] whedon commented on #3626
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-18 11:07] whedon commented on #3626
PDF failed to compile for issue #3626 with the following error:
[code]

[2021-08-18 11:07] whedon commented on #3626
[code]

[2021-08-18 11:07] whedon opened #3627 "[PRE REVIEW]: Automatic image-based phytoplankton classification tool"
**Submitting author:** @mcf1110 (<a href="http://orcid.org/0000-0002-5118-2399">Matheus Campos Fernandes</a>)
**Repository:** <a href="https://github.com/mcf1110/planktool" target ="_blank">https://github.com/mcf1110/planktool</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-08-18 11:07] whedon commented on #3627
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-18 11:07] whedon commented on #3627
Wordcount for `paper.md` is 781

[2021-08-18 11:07] whedon commented on #3627
[code]

[2021-08-18 11:07] whedon opened #3628 "[PRE REVIEW]: Simframe: A Python Framework for Scientific Simulations"
**Submitting author:** @stammler (<a href="http://orcid.org/0000-0002-1589-1796">Sebastian Markus Stammler</a>)
**Repository:** <a href="https://github.com/stammler/simframe" target ="_blank">https://github.com/stammler/simframe</a>
**Version:** 0.5.4
**Editor:** @taless474
**Reviewers:** @schruste, @lucaferranti
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

D

[2021-08-18 11:07] whedon commented on #3627
PDF failed to compile for issue #3627 with the following error:
[code]

[2021-08-18 11:07] whedon commented on #3628
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-18 11:07] whedon commented on #3628
Wordcount for `paper.md` is 858

[2021-08-18 11:07] whedon commented on #3628
[code]

[2021-08-18 11:07] whedon commented on #3628
PDF failed to compile for issue #3628 with the following error:
[code]

[2021-08-18 11:07] whedon opened #3629 "[PRE REVIEW]: TX2: Transformer eXplainability and eXploration"
**Submitting author:** @WildfireXIII (<a href="http://orcid.org/0000-0002-5036-5433">Nathan Martindale</a>)
**Repository:** <a href="https://github.com/ORNL/tx2" target ="_blank">https://github.com/ORNL/tx2</a>
**Version:** 2021.8.0
**Editor:** @fabian-s
**Reviewers:** @assenmacher-mat, @sara-02
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-08-18 11:07] whedon commented on #3629
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-18 11:07] whedon commented on #3629
Wordcount for `paper.md` is 1341

[2021-08-18 11:08] whedon commented on #3629
[code]

[2021-08-18 11:08] whedon commented on #3629
[code]

[2021-08-18 11:08] whedon opened #3630 "[PRE REVIEW]: cRacklet: a spectral boundary integral method library for interfacial rupture simulation"
**Submitting author:** @tiburoch (<a href="http://orcid.org/0000-0002-2495-8841">Thibault Roch</a>)
**Repository:** <a href="https://gitlab.com/cracklet/cracklet.git" target ="_blank">https://gitlab.com/cracklet/cracklet.git</a>
**Version:** 1.0.0
**Editor:** @diehlpk
**Reviewers:** @KParas, @srmnitc
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-08-18 11:08] whedon commented on #3630
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-18 11:08] whedon commented on #3630
Wordcount for `paper.md` is 1411

[2021-08-18 11:08] whedon commented on #3630
[code]

[2021-08-18 11:08] whedon commented on #3630
[code]

[2021-08-18 11:08] whedon commented on #3629
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03629/joss.03629/10.21105.joss.03629.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03629/joss.03629/10.21105.joss.03629.pdf) :page_facing_up: :point_left:

[2021-08-18 11:08] whedon commented on #3630
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03630/joss.03630/10.21105.joss.03630.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03630/joss.03630/10.21105.joss.03630.pdf) :page_facing_up: :point_left:

[2021-08-18 11:13] micheder commented on #3116
We would like to apologize for the unexpected delay.
Unfortunately, separate ongoing projects and the summer holidays have caused this delay.
However, we would still like to implement the suggestions.
We expect to be able to finish the implementations in October.

Please, decide whether it is better to keep the submission open or reject at this point and we re-submit in October.

We are sorry for

[2021-08-18 11:41] kthyng commented on #3626
@whedon generate pdf from branch publications

[2021-08-18 11:41] whedon commented on #3626
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03626/joss.03626/10.21105.joss.03626.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03626/joss.03626/10.21105.joss.03626.pdf) :page_facing_up: :point_left:

[2021-08-18 11:45] birnstiel commented on #3628
@whedon generate pdf

[2021-08-18 11:45] whedon commented on #3628
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03628/joss.03628/10.21105.joss.03628.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03628/joss.03628/10.21105.joss.03628.pdf) :page_facing_up: :point_left:

[2021-08-18 12:21] mcf1110 commented on #3627
@whedon generate pdf

[2021-08-18 12:21] whedon commented on #3627
PDF failed to compile for issue #3627 with the following error:
[code]

[2021-08-18 12:23] stammler commented on #3628
Potential reviewers may be: schruste, lucaferranti, felipefr, justinsgray, sigvaldm, ketch, nespinoza.

[2021-08-18 12:23] birgitschlager commented on #3471
@whedon generate pdf from branch paper

[2021-08-18 12:23] whedon commented on #3471
[code]

[2021-08-18 12:24] whedon commented on #3471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: :point_left:

[2021-08-18 12:25] mcf1110 commented on #3627
@whedon generate pdf

[2021-08-18 12:25] whedon commented on #3627
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03627/joss.03627/10.21105.joss.03627.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03627/joss.03627/10.21105.joss.03627.pdf) :page_facing_up: :point_left:

[2021-08-18 12:27] mcf1110 commented on #3627
@whedon commands

[2021-08-18 12:27] whedon commented on #3627
Here are some things you can ask me to do:

[code]

[2021-08-18 12:31] birgitschlager commented on #3471
@whedon generate pdf from branch paper

[2021-08-18 12:31] whedon commented on #3471
[code]

[2021-08-18 12:32] whedon commented on #3471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: :point_left:

[2021-08-18 12:34] crvernon commented on #3602
@mingzehuang @irinagain  @muellsen The JOSS editorial board reviewed your submission and found that it does meet our standards to proceed to review.  I'll be taking this on as your topic editor.

[2021-08-18 12:35] crvernon commented on #3602
@whedon assign me as editor

[2021-08-18 12:35] whedon commented on #3602
OK, the editor is @crvernon

[2021-08-18 12:43] dionhaefner commented on #3419
FWIW, I did some quick benchmarks and found that `mpi4jax` incurs an overhead of about 800ns (so way beyond noise level in any application I can think of).

I think that could be a nice result to add to the paper, to show that we actually achieve zero-copy communications with minimal overhead.

[2021-08-18 12:45] crvernon commented on #3602
@mingzehuang @irinagain @muellsen  The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) have already agreed to review

[2021-08-18 12:51] anki-xyz commented on #3560
I can review it, but I'm currently on holidays; will be back in September, if this is not an issue.

[2021-08-18 12:54] lutzhamel commented on #3524
@whedon generate pdf

[2021-08-18 12:54] whedon commented on #3524
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: :point_left:

[2021-08-18 12:55] crvernon commented on #3588
👋 @grant-m-s I'll be your editor for this submission.  Thanks for recommending potential reviewers!

[2021-08-18 12:55] lutzhamel commented on #3524
@fabian-s @rcannood @HerrMo I have generated a new PDF and committed all my changes to the repo.  Please take a look and let me know what you think.  Thanks!

[2021-08-18 12:55] crvernon commented on #3588
@whedon assign me as editor

[2021-08-18 12:55] whedon commented on #3588
OK, the editor is @crvernon

[2021-08-18 12:59] danielskatz commented on #3604
Ok, I'll add you in https://github.com/openjournals/joss-reviews/issues/3618 - see you over there

[2021-08-18 12:59] danielskatz commented on #3618
@whedon add @rouson as reviewer

[2021-08-18 12:59] whedon commented on #3618
OK, @rouson is now a reviewer

[2021-08-18 13:00] danielskatz commented on #3618
@whedon re-invite @rouson as reviewer

[2021-08-18 13:00] whedon commented on #3618
The reviewer already has a pending invite.

@rouson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-18 13:01] danielskatz commented on #3618
@rouson - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

You have a checklist at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Please read the first coup

[2021-08-18 13:03] danielskatz commented on #3618
Re the author question from @TomGoffrey

and all significant contributors should be included in the author list.

I'm curious to hear what @michaeltouati says before I comment.

[2021-08-18 13:49] crvernon commented on #3588
:wave: @rmorgan10 @crhea93 - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-18 13:50] crhea93 commented on #3588
@crvernon Yes please!

[2021-08-18 13:53] crhea93 commented on #3518
@dfm Thank you for taking the time to look over the repo. I very much appreciate the guidance! I will work on cleaning this up before submitting it.

[2021-08-18 13:56] crvernon commented on #3588
Excellent @crhea93!  I'll sign you up.  Thank you!

[2021-08-18 13:57] crvernon commented on #3588
@whedon assign @crhea93 as reviewer

[2021-08-18 13:57] whedon commented on #3588
OK, @crhea93 is now a reviewer

[2021-08-18 13:58] fAndreuzzi commented on #3519
Hi @jonjoncardoso and @mschordan, since it has been a while since the last activity on this issue I would like to know if you encountered issues during the installation or usage of the package, or while gathering the information needed for the review. Please, let me know if I can help in some way!

[2021-08-18 14:13] rcannood commented on #3524
Thanks! I feel that the changes have sufficiently addressed my previous concerns :+1:

[2021-08-18 15:27] diehlpk commented on #3450
@whedon add @StefanOlin as reviewer

[2021-08-18 15:27] whedon commented on #3450
OK, @StefanOlin is now a reviewer

[2021-08-18 15:27] diehlpk commented on #3450
@whedon start review

[2021-08-18 15:27] whedon opened #3631 "[REVIEW]: MMM: A C++ library for simulating large herbivores"
**Submitting author:** @wtraylor (<a href="http://orcid.org/0000-0002-4813-1072">Wolfgang Traylor</a>)
**Repository:** <a href="https://github.com/wtraylor/modular_megafauna_model" target ="_blank">https://github.com/wtraylor/modular_megafauna_model</a>
**Version:** v1.1.3
**Editor:** @diehlpk
**Reviewers:** @dirmeier, @dilawar
**Archive:** <a href="https://doi.org/10.5281/zenodo.5779267" target="

[2021-08-18 15:27] whedon commented on #3450
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3631.

[2021-08-18 15:27] #3450 closed

[2021-08-18 15:27] whedon commented on #3631
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dirmeier, @StefanOlin it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-08-18 15:27] whedon commented on #3631
PDF failed to compile for issue #3631 with the following error:
[code]

[2021-08-18 15:27] whedon commented on #3631
[code]

[2021-08-18 15:27] whedon commented on #3631
Failed to discover a valid open source license.

[2021-08-18 15:29] diehlpk commented on #3450
@wtraylor thanks for recommending some reviewers, I found enough and could start the review.

[2021-08-18 15:47] wtraylor commented on #3631
@whedon generate pdf from branch joss-paper

[2021-08-18 15:47] whedon commented on #3631
[code]

[2021-08-18 15:48] whedon commented on #3631
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: :point_left:

[2021-08-18 15:49] wtraylor commented on #3631
See https://github.com/openjournals/joss-reviews/issues/3450#issuecomment-874160752

[2021-08-18 16:11] rkurchin commented on #3564
Hi again @KAClough, just checking in and reminding about this! If you don't have particular suggestions, I can take my best guess and invite folks, but you know your own work best. :)

[2021-08-18 16:12] rkurchin commented on #3412
👋 Hi there @eteq, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Please feel free to let me know if you have any questions about the process.

[2021-08-18 17:23] dmey commented on #2863
@whedon generate pdf

[2021-08-18 17:23] whedon commented on #2863
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: :point_left:

[2021-08-18 17:35] dmey commented on #2863
@khinsen and @oliviaguest thanks for waiting -- I have now updated references and paper. @khinsen a couple of things:
- (a) In the rendered PDF `(Nagler & Vatter, 2020b)` comes before `(Nagler & Vatter, 2020a)` therefore it should be marked with `a` instead of `b` -- would you know how to change this?
- (b) I have updated the main heading from 'Summary' to 'Summary and Statement of Need' as instru

[2021-08-18 18:07] kthyng commented on #3626
@lucydot Would you be willing to take on this submission? Looks like a reasonable fit.

[2021-08-18 18:08] kthyng commented on #3626
@whedon invite @lucydot as editor

[2021-08-18 18:08] whedon commented on #3626
@lucydot has been invited to edit this submission.

[2021-08-18 18:11] rusu24edward commented on #3424
@drvinceknight Did I provide the correct information? Is there more I need to do?

[2021-08-18 18:18] kthyng commented on #3627
@whedon query scope

[2021-08-18 18:18] whedon commented on #3627
Submission flagged for editorial review.

[2021-08-18 18:20] kthyng commented on #3627
Hi @mcf1110 and thanks for your submission. I have run the "query scope" command which will ping the editorial board to check to see if this submission is in scope. In particular, the concern is whether it is enough of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This process will take 1-2 weeks, thanks for your patience.

[2021-08-18 18:23] crhea93 commented on #3612
This is a very interesting-looking package! While the majority of the documentation is present, I think it would benefit from 3 sections that are currently missing:
 - Functionality API
 - Automated Testing
 - Contributing Guidelines

[2021-08-18 18:26] kthyng commented on #3628
Hi @taless474! Would this submission be a good fit for you?

[2021-08-18 18:26] kthyng commented on #3628
@whedon invite @taless474 as editor

[2021-08-18 18:26] whedon commented on #3628
@taless474 has been invited to edit this submission.

[2021-08-18 18:38] kthyng commented on #3629
Hi @fabian-s and @ajstewartlang! Are either of you reasonable fits for this submission? I am thinking @fabian-s from the machine learning side or @ajstewartlang from the language side.

[2021-08-18 18:43] crvernon commented on #3601
@willu47 I have just merged functionality to incorporate your recent suggestion to separate the data (~200 MB) from the package.  The package data can now be installed via a simple call which is all detailed in the docs via:

[code]

or from the terminal after installing `cerf` via:

[code]

Thanks for the suggestion!

Please let me know if you have any more questions. 👍

[2021-08-18 18:50] mfastudillo commented on #3392
I've tried in a windows machine and everything seems to work fine

[2021-08-18 19:01] KAClough commented on #3564
Hi @rkurchin sorry for being slow - looking at the spreadsheet of reviewers I think the top ones would be shreyasbapat or sbozzolo, if they'd be willing to do it. If not I can take another look - the key elements are probably the C/C++ nature of the code, and an understanding of numerical relativity, although cosmological or hydrodynamical simulations obey similar equations so that would be suffic

[2021-08-18 19:05] taless474 commented on #3628
Yes, I like it :+1

[2021-08-18 19:05] taless474 commented on #3628
@whedon assign me as editor

[2021-08-18 19:05] whedon commented on #3628
OK, the editor is @taless474

[2021-08-18 19:09] fawda123 commented on #3485
@kthyng, reviews from @paleolimbot have been addressed in the revision.  Waiting on reviews from @richardsc.

[2021-08-18 19:14] KristianNelson commented on #3383
@KristinaRiemer I am currently working on a branch that is addressing @jsta first round of edits! This will include fixes to code errors, paper edits, and a `CONTRIBUTING.md` file for bug reports and contributing guidelines. I will merge this one and make a new branch for any further reviews.

[2021-08-18 19:23] muellsen commented on #3602
@crvernon This is amazing

@crvernon Thanks so much for these great news! We'll discussing tomorrow potential reviewers and get back to you!

[2021-08-18 19:39] kthyng commented on #3630
@diehlpk I see that you are full up on papers right now, but two are also nearing their end and this submission looks like a good fit for you. Are you willing to take it on?

[2021-08-18 19:40] kthyng commented on #3630
@whedon invite @diehlpk as editor

[2021-08-18 19:40] whedon commented on #3630
@diehlpk has been invited to edit this submission.

[2021-08-18 19:40] kthyng commented on #3630
@tiburoch I saw your note about which version to review. I don't know of a better way to make this information known than to be sure to tell the reviewers when they are about to start their reviews.

[2021-08-18 19:48] diehlpk commented on #3630
@kthyng Sure, I can take it, but I have a paper deadline coming up soon and start editing the paper in 10 days.

[2021-08-18 19:49] diehlpk commented on #3630
@whedon assign @diehlpk as editor

[2021-08-18 19:49] whedon commented on #3630
OK, the editor is @diehlpk

[2021-08-18 19:55] kthyng commented on #3630
Thanks @diehlpk — and good luck on your paper!

[2021-08-18 20:26] arfon commented on #3116
No problem, thanks for the update. I think we'll proceed with the rejection now but would welcome a resubmission later once this feedback has been addressed.

On resubmission, please mention that this is a resubmission in the submission form. Thanks!

[2021-08-18 20:26] arfon commented on #3116
@whedon reject

[2021-08-18 20:26] whedon commented on #3116
Paper rejected.

[2021-08-18 20:26] #3116 closed

[2021-08-18 21:18] thewan05 commented on #3084
Hello, Dr. Keighley spoke with some of his contacts for reviewing our SAS program. He has recommended the following three potential reviewers:
Pat Gerard pgerard@clemson.edu
Adam Pintar adam.pintar@nist.gov
Carla Goad carla.goad@okstate.edu

[2021-08-18 21:26] zsylvester commented on #3398
Hi @kbarnhart and @amoodie - I have looked at the comments on the review and it looks to me like all my questions were answered / issues addressed and the submission is ready to be accepted. I had one question that I bumped into in the meantime, while experimenting with the code; I have asked that question in the same issue / thread as the review.

[2021-08-18 21:42] dfujim commented on #3599
Not sure if I'm supposed to comment here, but this (and the directory issue) have been resolved [here](https://github.com/dfujim/bfit/commit/c335e7d8938663fe12c61afaceaaca3e1d081e8a).

[2021-08-18 23:09] mengqi-z commented on #3212
@mikejohnson51 @kellyrowland That would be great! I am looking forward to seeing this review! Thank you!!

[2021-08-18 23:39] cMadan commented on #3560
@anki-xyz, that would be great, thank you! I have no problem with you starting the review in September. I will assign you as a reviewer and start the review issue, but feel free to start when you are back from holidays.

[2021-08-18 23:40] cMadan commented on #3560
@whedon add @anki-xyz as reviewer

[2021-08-18 23:40] whedon commented on #3560
OK, @anki-xyz is now a reviewer

[2021-08-18 23:40] cMadan commented on #3560
@whedon start review

[2021-08-18 23:40] whedon opened #3632 "[REVIEW]: CleanX: A Python library for data cleaning of large sets of radiology images"
**Submitting author:** @drcandacemakedamoore  (<a href="http://orcid.org/0000-0003-1672-7565">Candace Makeda Moore</a>)
**Repository:** https://github.com/drcandacemakedamoore/cleanX
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.14
**Editor:** @cMadan
**Reviewers:** @henrykironde, @anki-xyz
**Archive:** 10.5281/zenodo.6331739

**:warning: JOSS reduced service mode :warning:

[2021-08-18 23:40] whedon commented on #3560
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3632.

[2021-08-18 23:40] #3560 closed

[2021-08-18 23:40] whedon commented on #3632
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @henrykironde, @anki-xyz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-08-18 23:40] whedon commented on #3632
Wordcount for `paper.md` is 714

[2021-08-18 23:40] whedon commented on #3632
[code]

[2021-08-18 23:40] whedon commented on #3632
[code]

[2021-08-18 23:40] whedon commented on #3632
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03632/joss.03632/10.21105.joss.03632.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03632/joss.03632/10.21105.joss.03632.pdf) :page_facing_up: :point_left:

[2021-08-19 03:35] satejsoman commented on #3464
Hi @wxwx1993, let me know if there's anything else I can do to aid in your review

[2021-08-19 03:37] arjunsavel commented on #3612
I’ve completed my review!

Overall:
The contributors to DBSP_DRP have produced an extensive and useful data reduction pipeline. The degree of its automation is impressive, and the contributors’ effort is evident — and there is clear scientific merit, with application to a well-known instrument on a well-known telescope. As someone who’s been on observing runs (though I wouldn’t call myself an obse

[2021-08-19 07:13] Kevin-Mattheus-Moerman commented on #3255
@whedon set 10.5281/zenodo.4967311 as archive

[2021-08-19 07:14] whedon commented on #3255
OK. <a href="https://doi.org/10.5281/zenodo.4967311" target="_blank">10.5281/zenodo.4967311</a> is the archive.

[2021-08-19 07:14] Kevin-Mattheus-Moerman commented on #3255
@whedon set v2.4.5 as version

[2021-08-19 07:14] whedon commented on #3255
OK. v2.4.5 is the version.

[2021-08-19 07:16] Kevin-Mattheus-Moerman commented on #3255
@LiangliangNan thanks for working on those steps. Once point remains, the ZENODO archive title still does not match that of the paper. Please change it to match: `Easy3D: a lightweight, easy-to-use, and efficient C++ library for processing and rendering 3D data`

[2021-08-19 07:43] Kevin-Mattheus-Moerman commented on #3579
@mh-skjelvareid

Here are some recommendations:
- [ ] Change the `_readme.txt` file to a `README.md` markdown file. This way GitHub will recognize it and render it on the project front page. This helps folks clearly see what the project is about when they land on your project page.
- [ ] Change the `_license.txt` file to a plain `LICENSE` file. This way GitHub will recognize it and render a licens

[2021-08-19 08:06] fabian-s commented on #3629
@whedon assign me as editor

[2021-08-19 08:06] whedon commented on #3629
OK, the editor is @fabian-s

[2021-08-19 08:06] fabian-s commented on #3629
@kthyng sure, I'll do it

[2021-08-19 08:08] Kevin-Mattheus-Moerman commented on #3579
@btreeby @dannyramasawmy @jarosjir @thewtex @pharshalp @Scivision @lassoan would you be interested in reviewing this work (a MATLAB/octave toolbox for ultrasound imaging) for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
The smooth [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub, and focuses on the [software](https://gi

[2021-08-19 08:15] fabian-s commented on #3629
hey there, @richardlitt @desilinguist @assenmacher-mat
would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-19 08:21] fabian-s commented on #3524
@whedon generate pdf

[2021-08-19 08:21] fabian-s commented on #3524
@whedon check references

[2021-08-19 08:21] whedon commented on #3524
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: :point_left:

[2021-08-19 08:21] whedon commented on #3524
[code]

[2021-08-19 08:23] fabian-s commented on #3524
@rcannood @HerrMo thanks for your dilligent and constructive reviews.
I will recommend acceptance of this paper now.

[2021-08-19 08:24] fabian-s commented on #3524
@lutzhamel Thank you for enganing so swiftly with the reviewers' remarks.

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This incl

[2021-08-19 09:08] csoneson commented on #3362
Thank you @ayush9pandey!

@jeffreybarrick - I will take a quick look as well and get back to you shortly with the next steps.

[2021-08-19 09:17] csoneson commented on #3392
👋🏻  @tngTUDOR - could you give us a quick update on where your review is standing and if you had a chance to look at the revised submission? Thanks!

[2021-08-19 09:19] jongwook commented on #3613
@whedon list reviewers

[2021-08-19 09:19] whedon commented on #3613
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-08-19 09:33] RichardLitt commented on #3629
Can’t this time. Thanks for asking.

On Thursday, August 19, 2021, Fabian Scheipl ***@***.***>
wrote:

[2021-08-19 09:53] lucydot commented on #3626
Hi @kthyng I am happy to be assigned to this submission - though please note that I am out of office from end of today until the 30th of August. If that delay is ok your end, please do assign this to me.

[2021-08-19 09:55] lucydot commented on #3598
Hello - just an update to let you know that I will be out of office from the end of today (UK time) until the 30th of August, I will check back here at that date.

[2021-08-19 09:56] lucydot commented on #3598
/ooo August 20 until August 30

[2021-08-19 10:21] step21 commented on #3617
@danielskatz I confirmed basic functionality so far. The paper does say 'high performance' extraction but otherwise does not make any specific claims. Thus, I am not sure how to evaluate performance or functionality at scale as I currently do not have a dataset ready for this. Though at least I would look at their tests, which is when I happened upon the mentioned issue. I can later do this on a l

[2021-08-19 10:37] jongwook commented on #3613
Great work @rob-luke! Below are my reviews and suggestions for minor revisions.

- The paper is written very well, succinctly and effectively conveying how the AuditoryStimuli.jl package can be a valuable addition as a real-time auditory signal synthesis tool, where it bridges the efficiency required for real-time applications and the ease of use of Julia programming language.
- Some of the URLs i

[2021-08-19 11:26] rob-luke commented on #3613
Thank you for the review and kind words @jongwook. I will briefly respond to your feedback. Please let me know if you want more information or further discussion. I also welcome any additional feedback once the review is done too.

I confirm that I see this too. I looked up the three most recent JOSS papers and I confirm that they do not have this URL formatting problem. I then looked up their .bi

[2021-08-19 11:26] rob-luke commented on #3613
@whedon generate pdf from branch manuscript

[2021-08-19 11:26] whedon commented on #3613
[code]

[2021-08-19 11:27] whedon commented on #3613
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: :point_left:

[2021-08-19 11:41] desilinguist commented on #3629
Sorry, I’ll also have to pass this time.
________________________________
From: Richard Littauer ***@***.***>
Sent: Thursday, August 19, 2021 5:33:35 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Nitin Madnani ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: TX2: Transformer eXplainability and eXploration (#3629)

Can’t this time. Thanks for asking.

On

[2021-08-19 11:43] augustfly commented on #2382
@KathrynJones1 Did you end up submitting an AAS Journal article that couples to this JOSS publication? Is it https://arxiv.org/abs/2106.15687?

[2021-08-19 11:45] KathrynJones1 commented on #2382
Hi @augustfly , yes we did, apologies for not notifying you sooner. Yes that's the correct link :)

[2021-08-19 11:45] fabian-s commented on #3629
@jkahn @fil would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-19 11:49] augustfly commented on #2382
Great!  I'll catch up with the production office to get the DOI for the AJ paper. Our production office is running very behind, but I'm guessing based on the acceptance date that you and Nestor should have the proofs by now (or soon).

[2021-08-19 12:37] danielskatz commented on #3617
@step21 - as we say in the checklist, if there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.) I think it's therefor up to you to decide if you are ok with a vague "high performance" statement, to ask the submitter to explain, or to disagree.

[2021-08-19 13:20] whedon commented on #3574
:wave: @samuelduchesne , please update us on how your review is going (this is an automated reminder).

[2021-08-19 13:20] whedon commented on #3574
:wave: @mewilhel , please update us on how your review is going (this is an automated reminder).

[2021-08-19 13:22] fabian-s commented on #3629
@whedon add @assenmacher-mat as reviewer

[2021-08-19 13:22] whedon commented on #3629
OK, @assenmacher-mat is now a reviewer

[2021-08-19 13:26] augustfly commented on #2382
The AJ AAS Journal DOI will be 10.3847/1538-3881/ac134d

[2021-08-19 14:06] faroit commented on #3347
@sara-02 do you think you could proceed with the checklist at this point?

[2021-08-19 14:08] faroit commented on #3391
@keunwoochoi can you update us if you need more time for the review at this point – specifically proceeding with the checklist?

[2021-08-19 14:11] kthyng commented on #3578
@robbisg I am the rotating managing editor this week and I happened across your note here. Can you explain why you need to look at the code from a certain fork or part of the code? I want to make sure there isn't a misunderstanding.

[2021-08-19 14:14] kthyng commented on #3626
Thanks @lucydot! Yes, let's just have you pick this up when you return to the office.

[2021-08-19 14:15] kthyng commented on #3626
@whedon assign @lucydot as editor

[2021-08-19 14:15] whedon commented on #3626
OK, the editor is @lucydot

[2021-08-19 14:23] keunwoochoi commented on #3391
@faroit sorry that it took too long. just finished updating my checklist. i couldn't finish the review for the performance part as i do not have a direct access to any linux machine that i can easily use. the rest of the checklist items seems to be done.

[2021-08-19 14:25] kthyng commented on #3175
Hi @cheginit — I have heard by email that @evanleeturner won't have time to do this review after all. I am sorry about the delay in this. I will now recruit a new reviewer.

Hi @arbennett! Would you be able to step in as a reviewer on this submission for JOSS? The review process is already underway, but one reviewer has had to step out, and I am looking for a replacement. I know you've reviewed fo

[2021-08-19 14:27] kthyng commented on #3332
@whedon add @dbuscombe-usgs as reviewer

[2021-08-19 14:27] whedon commented on #3332
OK, @dbuscombe-usgs is now a reviewer

[2021-08-19 14:28] willu47 commented on #3601
Hi @crvernon - looks good. One more broader issue linked above. Let's discuss in the issue. It would be good to get your feedback on my suggestion/question

[2021-08-19 14:30] kthyng commented on #3332
Ok, I think I have everything squared away but please let me know if anything doesn't look correct.

@mdbartos You remain a reviewer, but I will note that not all of the boxes are checked off because you were unable to fully complete the reviewer, not having a Windows machine. Also because you were never able to edit the check boxes, please check the boxes that I checked off to make sure you agree

[2021-08-19 14:34] Fil commented on #3629
I don't have time right now, sorry!

[2021-08-19 14:38] bmcfee commented on #3613
This is apparently a templating issue on our side -- don't worry about it for now, we'll take care of it when it comes time for the final version.

[2021-08-19 14:39] kthyng commented on #3172
@semiautomaticgit and @bstabler - Testing dependencies is important but not enough for a user to be sure the software is functioning correctly. Would a user, going through the tutorials, be able to recreate exactly the same conditions as shown in the tutorials such that they could be sure the code is performing properly? As in, they can run with the exact same inputs, and if they return the exact

[2021-08-19 15:03] twesterhout commented on #3537
@whedon generate pdf

[2021-08-19 15:04] whedon commented on #3537
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03537/joss.03537/10.21105.joss.03537.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03537/joss.03537/10.21105.joss.03537.pdf) :page_facing_up: :point_left:

[2021-08-19 15:31] whedon opened #3633 "[PRE REVIEW]: RADstackshelpR: an R package for streamlining the de novo optimization of Stacks parameters"
**Submitting author:** @DevonDeRaad (<a href="http://orcid.org/0000-0003-3105-985X">Devon DeRaad</a>)
**Repository:** <a href="https://github.com/DevonDeRaad/RADstackshelpR" target ="_blank">https://github.com/DevonDeRaad/RADstackshelpR</a>
**Version:** 0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-08-19 15:31] whedon commented on #3633
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-19 15:32] whedon commented on #3633
Wordcount for `paper.md` is 632

[2021-08-19 15:32] whedon commented on #3633
PDF failed to compile for issue #3633 with the following error:
[code]

[2021-08-19 15:32] whedon commented on #3633
[code]

[2021-08-19 15:32] whedon commented on #3633
[code]

[2021-08-19 15:35] kthyng commented on #3633
Hi @DevonDeRaad and thanks for your submission. For the line count the package is at, I need to query the editorial board to see if people think the submission is in scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)

[2021-08-19 15:35] kthyng commented on #3633
@whedon query scope

[2021-08-19 15:35] whedon commented on #3633
Submission flagged for editorial review.

[2021-08-19 15:49] lassoan commented on #3579
The topic is not exactly in my area of expertise and would require me to invest significant amount of time, which I cannot justify for a GPL-licensed software (that cannot be used freely but may require to buy commercial license for certain uses).

[2021-08-19 15:55] cheginit commented on #3175
@kthyng That would be great, thank you.

[2021-08-19 16:05] DevonDeRaad commented on #3633
Hi @kthyng thank you so much for the quick response to this! Although the total line count of R code for the package is limited, I'm hoping that the significant effort made to integrate these functions within the context of existing bash pipelines, and give multiple extensively documented examples of this usage, represents substantial scholarly effort. Either way, I look forward to any feedback th

[2021-08-19 16:05] DevonDeRaad commented on #3633
@whedon generate pdf

[2021-08-19 16:06] whedon commented on #3633
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03633/joss.03633/10.21105.joss.03633.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03633/joss.03633/10.21105.joss.03633.pdf) :page_facing_up: :point_left:

[2021-08-19 17:04] muellsen commented on #3602
Two potential reviewers (based on packages related to ours) could be:  corybrunson rmflight

[2021-08-19 17:16] mschordan commented on #3519
@fAndreuzzi The README.md file states that:

should produce: [(7, 10), (8, 9, 11, 12, 13, 14), (3, 4, 5, 6),  (1, 2), (0,)]
but I get: [(7, 10), (5, 6), (8, 9, 11, 12, 13, 14), (3, 4), (2,), (1,), (0,)]
all preceding examples give the expected result.

[2021-08-19 17:28] kbarnhart commented on #3398
@zsylvester thanks for that update and for raising that other issue about grid scale dependince.

@jhnienhuis @salterg -- a friendly reminder to take a moment and revisit your reviews. If the authors have addressed your concerns, please complete your review checklists and indicate that you think the submission is ready to be accepted. If remaining issues exist, please note them in an in-repo issue

[2021-08-19 17:28] crvernon commented on #3602
:wave: @corybrunson @rmflight - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-19 17:29] crvernon commented on #3588
:wave: @smith42 - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-19 17:30] kbarnhart commented on #3507
@nvanderelst has kindly agreed to provide a review. Many thanks!

[2021-08-19 17:31] kbarnhart commented on #3507
@whedon add @nvanderelst as reviewer

[2021-08-19 17:31] whedon commented on #3507
OK, @nvanderelst is now a reviewer

[2021-08-19 17:41] kbarnhart commented on #3507
👋 @angystallone would you be interested and able to provide a review of a manuscript at the Journal of Open Source Software (JOSS). The submission I'd like you to review is titled: " pyCSEP: A Python Package For Earthquake Forecast Developers" by William H. Savran, Maximilian J. Werner, Danijel Schorlemmer, and Philip J. Maechling and the submission repository is at: https://github.com/SCECcode/py

[2021-08-19 17:54] kadglass commented on #2920
@arfon @dfm We have finished the documentation, which is available at https://vast.readthedocs.io/en/latest/ (the link is also included in the description of the repo).  We are still working on the testing; hopefully it will be complete by the end of the day tomorrow, but I will update here again when that is complete.

[2021-08-19 17:57] gaelforget commented on #3349
LGTM

[2021-08-19 18:14] rmflight commented on #3602
Sure @crvernon, I think I can review this, as long as I'm not trying to completely match the theoretical explanations in the package vignette to the code.

What kind of timeframe are we looking for a first review?

[2021-08-19 18:15] corybrunson commented on #3602
@crvernon i would be glad to! I can get through preliminaries today and complete initial issues within 3 weeks.

[2021-08-19 18:30] fAndreuzzi commented on #3519
Thank you very much @mschordan, the right output is indeed the one given by **BisPy**, I probably confused the outputs while doing copy-paste from the terminal to the browser. I fixed `README.md` in my last commit.

[2021-08-19 18:44] crvernon commented on #3602
@rmflight We aim for reviews to be completed within about 2-4 weeks.  I'll get the full review kicked off if you are good with that time frame.  Sound ok?

[2021-08-19 18:55] lutzhamel commented on #3524
@fabian-s Problems! I was doing my final due diligence on the  paper which included carefully reviewing the performance data when I noticed that I had misunderstood a parameter setting on the `kohonen` package.  After fixing that mistake and rerunning the benchmarks I got the following results,

[code]

[code]

[code]

[code]

which implies that the `kohonen` package is pretty much on par with our

[2021-08-19 19:03] crvernon commented on #3602
@whedon assign @corybrunson as reviewer

[2021-08-19 19:03] whedon commented on #3602
OK, @corybrunson is now a reviewer

[2021-08-19 19:04] faroit commented on #3391
@keunwoochoi thanks for your update.

Is this related to https://github.com/Music-and-Culture-Technology-Lab/omnizart/issues/38 ?

If yes, I think it would be unfortunate to require a Linux machine to test the performance of the package. As a mac user myself, I will give it a try and try to help fixing the issue.

[2021-08-19 19:05] savage13 commented on #3619
@whedon check references

[2021-08-19 19:05] whedon commented on #3619
[code]

[2021-08-19 19:06] savage13 commented on #3619
@whedon generate pdf

[2021-08-19 19:06] whedon commented on #3619
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03619/joss.03619/10.21105.joss.03619.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03619/joss.03619/10.21105.joss.03619.pdf) :page_facing_up: :point_left:

[2021-08-19 19:06] crvernon commented on #3602
@whedon add @rmflight  as reviewer

[2021-08-19 19:07] whedon commented on #3602
OK, @rmflight  is now a reviewer

[2021-08-19 19:12] crvernon commented on #3602
Alright @corybrunson @rmflight @muellsen  I am going to close this Pre-Review and kick off the full review which you should receive a notification for.  Thanks!

[2021-08-19 19:12] crvernon commented on #3602
@whedon start review

[2021-08-19 19:12] whedon opened #3634 "[REVIEW]: latentcor: An R Package for estimating latent correlations from mixed data types"
**Submitting author:** @muellsen (<a href="http://orcid.org/0000-0002-3821-7083">Christian Lorenz Müller</a>)
**Repository:** <a href="https://github.com/mingzehuang/latentcor" target ="_blank">https://github.com/mingzehuang/latentcor</a>
**Version:** v1.1.0
**Editor:** @crvernon
**Reviewer:** @corybrunson, @rmflight
**Archive:** <a href="https://doi.org/10.5281/zenodo.5517823" target="_blank">10.

[2021-08-19 19:12] whedon commented on #3602
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3634.

[2021-08-19 19:12] #3602 closed

[2021-08-19 19:12] whedon commented on #3634
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @corybrunson, @rmflight  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-08-19 19:12] whedon commented on #3634
Wordcount for `paper.md` is 1567

[2021-08-19 19:12] whedon commented on #3634
[code]

[2021-08-19 19:12] whedon commented on #3634
[code]

[2021-08-19 19:13] whedon commented on #3634
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: :point_left:

[2021-08-19 19:15] crvernon commented on #3634
@corybrunson @rmflight @muellsen :wave: the review takes place in this issue.  Thanks!

[2021-08-19 19:18] crvernon commented on #3634
Also, please don't forget to add a link to this review issue in any issues or pull requests you may generate in the https://github.com/mingzehuang/latentcor repository.  This will help everyone have a single point of reference.

[2021-08-19 19:37] sbenthall commented on #3497
@whedon set 0.5.1 as version

[2021-08-19 19:37] whedon commented on #3497
OK. 0.5.1 is the version.

[2021-08-19 19:38] sbenthall commented on #3497
@whedon set 10.5281/zenodo.5178771 as archive

[2021-08-19 19:38] whedon commented on #3497
OK. <a href="https://doi.org/10.5281/zenodo.5178771" target="_blank">10.5281/zenodo.5178771</a> is the archive.

[2021-08-19 19:39] sbenthall commented on #3497
I recommend this package for acceptance! Thanks to the author and reviewers.

[2021-08-19 19:39] sbenthall commented on #3497
@whedon recommend-accept

[2021-08-19 19:39] whedon commented on #3497
[code]

[2021-08-19 19:39] whedon commented on #3497
PDF failed to compile for issue #3497 with the following error:
[code]

[2021-08-19 20:10] wxwx1993 commented on #3464
@satejsoman After I successfully installed the most updated version of epimargin

[code]

When I run the setup, I got the following error

[code]

Could you guide me on the setup? Thanks.

[2021-08-19 20:15] wxwx1993 commented on #3464
I think it may be helpful to provide a list of the data input required for the software functions in the manuscript. For example, I am curious that if I want to estimate Rt, what types of data do I need (e.g., daily COVID-19 cases, what else)? By reading the manuscript, I do not think I can obtain such information. Thank you!

[2021-08-19 20:30] keunwoochoi commented on #3391
Yes it is.

That'd be great, thank you for helping my poor reviewing! 😭

[2021-08-19 20:32] tmickleydoyle commented on #3330
Hello again 👋

I was looking for the link to the developer docs so I could start reading and testing the different functionality of the code. Are they link in the README of the repo?

 Thank you 🙇

[2021-08-19 20:39] jongwook commented on #3613
@rob-luke Thanks for responding so fast, and I meant "40% of which is for tests" as a totally positive note as well!

I confirm that the git clone size has been reduced, and the community guidelines and the issue templates look great. Thanks!

@bmcfee All checkboxes marked off!

[2021-08-19 20:59] mgalloy commented on #3494
@xuanxu This sounds like a fun one, but unfortunately, I cannot in the near future.

[2021-08-19 21:14] kbarnhart commented on #3398
I received an email from @salterg indicating that he thinks this is ready to be published. I've checked his few remaining checkboxes.

[2021-08-20 01:07] jamesrhester commented on #3458
A few queries and suggestions below - the remainder I'll raise as issues in the repository as they don't concern the paper itself:

1. Github "contributors" suggests that Michael Wu has contributed significantly more to the code than some of the co-authors. Is there any reason he is not a co-author (I see he is acknowledged)?
2. The Lark reference points to pypi, but the other code references are

[2021-08-20 02:00] rob-luke commented on #3613
Thanks @bmcfee and @jongwook

[2021-08-20 02:12] jGaboardi commented on #3330
@tmickleydoyle Yes, that's the one: https://pysal.org/spopt/

[2021-08-20 06:46] kellertuer commented on #3530
May I, carefully, ask, whether I can help somewhere to get the review started?
I think I changed one notation since the last build, so I can rebuild for sure. But anything else I could do?

[2021-08-20 07:28] mh-skjelvareid commented on #3579
@lassoan I'm quite new to publishing open source software, and I chose a license that seemed to fit, perhaps without knowing all the consequences. It was not my intention that anyone should need to buy commercial licenses to use the software (with Octave being a free alternative to Matlab). If you have suggestions for alternative licenses, I'll be happy to consider them!

[2021-08-20 08:06] khinsen commented on #2863
Sorry @dmey, I can't help with this. At JOSS I am just a lowly reviewer ;-)

[2021-08-20 08:08] robbisg commented on #3578
Hi @kthyng , sorry for being unclear.
This paper is about a linear regression tool which is only a portion of the main package. The repository link (https://github.com/AKUMAR0019/PyNIDM) is a fork of the main repository. Unfortunately, this fork doesn't contain the linear regression tool but only the JOSS paper files, so it is difficult to check whether the tool has tests, enough lines of code and

[2021-08-20 08:26] hugoledoux commented on #3471
/ooo August 21 until September 13

[2021-08-20 08:27] hugoledoux commented on #3471
/ ooo January 18 until February 2

[2021-08-20 08:29] hugoledoux commented on #3471
Hello everyone, I'm away on holidays for 3w, back second week of September.

/ooo August 21 until September 13

[2021-08-20 08:30] hugoledoux commented on #3346
Hello everyone, I'm away on holidays for 3w, back second week of September.

/ooo tomorrow until September 13

[2021-08-20 08:35] osorensen commented on #3578
Thanks for clarifying @robbisg. If I understand you correctly, the overview of contributors given in the source repository (https://github.com/AKUMAR0019/PyNIDM/graphs/contributors) shows all contributions to a larger package, and I understand that this makes it hard to assess the point on the review checklist regarding Contribution and authorship.

@AKUMAR0019, could you please clarify this issue

[2021-08-20 08:46] hagenw commented on #3391
I'm nearly finished with the review.

The only point missing is getting the repository setup for development following the `CONTRIBUTING` guidelines (which has not worked so far for me, see https://github.com/Music-and-Culture-Technology-Lab/omnizart/issues/37), and then trying to run the tests locally and building the documentation locally.

[2021-08-20 08:48] fabian-s commented on #3524
@lutzhamel
hmm.... This is only the 2nd submission I'm handling for JOSS, so I don't feel comfortable deciding this myself.
I'll discuss with the JOSS team and get back to you next week.

[2021-08-20 08:51] iammix commented on #3556
@mscroggs Great work!
The structure of the code is clean and clear. I like that you added the corresponding papers in docstrings of each element implementation.
Regarding the tests, it is good that you used **xfail** for the not-implemented features. It advises beforehand the user what will follow.
I would recommend you to numerate the equation in the paper. After that, the paper is ready for acce

[2021-08-20 09:06] mscroggs commented on #3556
@whedon generate pdf from branch joss-update

[2021-08-20 09:06] whedon commented on #3556
[code]

[2021-08-20 09:06] whedon commented on #3556
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: :point_left:

[2021-08-20 09:09] mscroggs commented on #3556
@whedon generate pdf

[2021-08-20 09:10] whedon commented on #3556
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: :point_left:

[2021-08-20 09:10] mscroggs commented on #3556
@iammix Thanks for reviewing. I've added an equation number now

[2021-08-20 09:33] whedon commented on #3578
:wave: @robbisg, please update us on how your review is going (this is an automated reminder).

[2021-08-20 09:33] whedon commented on #3578
:wave: @htwangtw, please update us on how your review is going (this is an automated reminder).

[2021-08-20 09:36] osorensen commented on #3578
@robbisg, sorry, I can't turn off these automated reminders.

[2021-08-20 09:53] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel @SimonDanisch congratulations, given the positive reviews above we will now process this work for acceptance in JOSS.

- [ ] Since this work is about to be accepted we recommend you proofread the paper yourself one more time and also that you verify that the author names and affiliations are accurate.
- [ ] Please archive a copy of the software on ZENODO and report back here with the

[2021-08-20 10:56] semiautomaticgit commented on #3172
Thank you very much @kthyng .
Yes, a user is able to recreate the same conditions shown in the tutorial and check that the code is performing properly.
I have updated the beginning of the [tutorial](https://semiautomaticclassificationmanual.readthedocs.io/en/latest/tutorial_1.html) to clearly state that this can be used to verify that the software in functioning correctly, providing the same input

[2021-08-20 11:12] dawbarton commented on #3454
Sorry for the delay; I've now been through the paper and the package fairly thoroughly. Overall, this looks like a good contribution to JOSS with substantive contributions to the community and well written documentation that covers most bases. The paper has even motivated me to look into the broader SBP literature (I sit in one of the sub-communities)!

A few very minor points that you can feel fr

[2021-08-20 11:12] xuanxu commented on #3494
👋 @RobertRosca would you be willing to review this paper? I think your knowledge of Python and HPC makes you a good fit for this submission.

[2021-08-20 11:22] nkallima commented on #3143
@whedon generate pdf from branch joss-branch

[2021-08-20 11:22] whedon commented on #3143
[code]

[2021-08-20 11:22] whedon commented on #3143
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: :point_left:

[2021-08-20 11:23] nkallima commented on #3143
@whedon check references from branch joss-branch

[2021-08-20 11:23] whedon commented on #3143
[code]

[2021-08-20 11:23] whedon commented on #3143
[code]

[2021-08-20 11:44] lassoan commented on #3579
GPL license essentially requires all software that uses your software to be open-source. There may be exceptions depending on how exactly use the GPL code, but it is a complicated discussion that most companies want to entirely avoid. Even if you work at an academic institution, you may want your work make an impact and adopted by companies, or by other academic groups who may want to work with co

[2021-08-20 11:53] jonjoncardoso commented on #3519
@fAndreuzzi I haven't gone through the code yet but some general comments so far:

- I know you have pointed to reference elsewhere but I feel like some references are also needed to support this sentence about the problem complexity: _"[...] several algorithms for the computation of maximum bisimulation have been studied throughout the years, and it is now widely known that the problem has an O(|

[2021-08-20 12:07] nkallima commented on #3143
@williamfgc

Thanks for your comments and feedback!

I have added some text addressing this.

I have added a related work section that describes similar packages.

I have added some extra material for handling this.

@danielskatz, @williamfgc, @jarrah42

Following the advice of  williamfgc, I have made some modifications on the naming of the API. Since the revised API is incompatible with the olde

[2021-08-20 12:14] ranocha commented on #3454
Thank you very much for your review, @dawbarton.

1. I updated this part of the README.md in https://github.com/ranocha/SummationByPartsOperators.jl/commit/4eb9f057f179e510656a6f56b7a42f3ee5c4779c.
2. I followed your good suggestion and made the corresponding changes in https://github.com/ranocha/SummationByPartsOperators.jl/commit/61f5de83386819bb5690c1cff91aac0c0a78bc43.
3. Yeah, this page is pa

[2021-08-20 12:15] semiautomaticgit commented on #3172
I have also updated the paper according to the indications from @bstabler .
Thank you again!

@whedon generate pdf from branch paper

[2021-08-20 12:16] semiautomaticgit commented on #3172
@whedon generate pdf from branch paper

[2021-08-20 12:16] whedon commented on #3172
[code]

[2021-08-20 12:16] ranocha commented on #3454
@dawbarton Is there anything else about the paper itself? I'm asking since you didn't check any of the boxes in your section "Software paper" above.

[2021-08-20 12:16] whedon commented on #3172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03172/joss.03172/10.21105.joss.03172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03172/joss.03172/10.21105.joss.03172.pdf) :page_facing_up: :point_left:

[2021-08-20 12:19] ranocha commented on #3454
@whedon generate pdf from branch paper

[2021-08-20 12:20] whedon commented on #3454
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03454/joss.03454/10.21105.joss.03454.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03454/joss.03454/10.21105.joss.03454.pdf) :page_facing_up: :point_left:

[2021-08-20 13:02] dmey commented on #2863
Sorry @khinsen meant to contact @danielskatz instead! @danielskatz can you please let me know about https://github.com/openjournals/joss-reviews/issues/2863#issuecomment-901301341?

[2021-08-20 13:08] danielskatz commented on #2863
Re a, this is because the references are sorted by author-year-title, not by appearance, so I don't think you can change this.

Re b, no. We try to do this in all paper (since 1-2 years ago), but sometimes we may fail. But it is our policy to do this, and we will do it here.

[2021-08-20 13:11] dmey commented on #2863
@danielskatz thanks -- sounds good with me.

[2021-08-20 13:14] fAndreuzzi commented on #3519
Sure, I'm still not completely familiar with the rule "cite whenever you say something which is not obvious, I fixed the problem in one of the latest commits.

Could you please point me the parts where I explained the bisimulation better in the paper rather than in the documentation? In my opinion the explanation in the paper is very limited. Anyway I improved a little bit the explanation on [Read

[2021-08-20 13:50] csoneson commented on #3362
@whedon generate pdf

[2021-08-20 13:51] whedon commented on #3362
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03362/joss.03362/10.21105.joss.03362.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03362/joss.03362/10.21105.joss.03362.pdf) :page_facing_up: :point_left:

[2021-08-20 14:07] csoneson commented on #3362
@whedon check references

[2021-08-20 14:07] whedon commented on #3362
[code]

[2021-08-20 14:39] csoneson commented on #3362
👋🏻 @jeffreybarrick - I have looked through the submission and overall this looks good to me. A couple of things I noticed in the paper:

- [ ] the reference to Figure 1 (line 44) should be in parentheses
- [ ] "The Bioconda Team" should be spelled out in Grüning et al (2018)
- [ ] Several of the references lack issue and page numbers

Could you please fix these details (you can then ask whedon to

[2021-08-20 15:18] dawbarton commented on #3454
Sorry that was me doing things in several parts and then forgetting to check the outstanding boxes. No, nothing on the paper, it looks good.

[2021-08-20 16:00] rmorgan10 commented on #3588
@crvernon Sorry for the delay! If the offer is still available, I would be happy to review AstronomicAL :)

[2021-08-20 16:46] crvernon commented on #3588
No problem @rmorgan10, the offer is still open and I'll assign you as a reviewer.  Thanks!

[2021-08-20 16:46] crvernon commented on #3588
@whedon add @rmorgan10 as reviewer

[2021-08-20 16:46] whedon commented on #3588
OK, @rmorgan10 is now a reviewer

[2021-08-20 16:48] crvernon commented on #3588
Alright @rmorgan10 @crhea93 @grant-m-s I am going to close this Pre-Review and kick off the full review which you should receive a notification for.  We aim for reviews to be completed within about 2-4 weeks. Thanks!

[2021-08-20 16:49] crvernon commented on #3588
@whedon start review

[2021-08-20 16:49] whedon opened #3635 "[REVIEW]: AstronomicAL: an interactive dashboard for visualisation, integration and classification of data with Active Learning"
**Submitting author:** @grant-m-s (<a href="http://orcid.org/0000-0002-8885-4443">Grant Stevens</a>)
**Repository:** <a href="https://github.com/grant-m-s/astronomicAL" target ="_blank">https://github.com/grant-m-s/astronomicAL</a>
**Version:** v1.0
**Editor:** @crvernon
**Reviewer:** @crhea93, @rmorgan10
**Archive:** <a href="https://doi.org/10.5281/zenodo.5396671" target="_blank">10.5281/zenodo.

[2021-08-20 16:49] whedon commented on #3588
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3635.

[2021-08-20 16:49] #3588 closed

[2021-08-20 16:49] whedon commented on #3635
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @crhea93, @rmorgan10 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-08-20 16:49] whedon commented on #3635
PDF failed to compile for issue #3635 with the following error:
[code]

[2021-08-20 16:49] whedon commented on #3635
[code]

[2021-08-20 16:53] crvernon commented on #3635
@whedon generate pdf from branch joss-paper-branch

[2021-08-20 16:53] whedon commented on #3635
[code]

[2021-08-20 16:53] whedon commented on #3635
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: :point_left:

[2021-08-20 16:56] crvernon commented on #3635
@whedon check references

[2021-08-20 16:59] crvernon commented on #3635
@crhea93 @rmorgan10 @grant-m-s :wave: the review takes place in this issue.  Thanks!

[2021-08-20 17:00] crvernon commented on #3635
Also, please don't forget to add a link to this review issue in any issues or pull requests you may generate in the https://github.com/grant-m-s/astronomicAL repository.  This will help everyone have a single point of reference.

[2021-08-20 17:01] jedbrown commented on #3537
@whedon check references

[2021-08-20 17:01] whedon commented on #3537
[code]

[2021-08-20 17:06] jedbrown commented on #3537
@twesterhout Thanks for your revisions. To move forward, could you please:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here. This could be v0.8.2 or v0.9.0 (I see a bug fix and a couple features since v0.8.1). This should be an [annotated tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging).
- [ ] Archive the reviewed software in Zenodo or a si

[2021-08-20 17:10] arbennett commented on #3175
@kthyng I would be happy to review this! I see the review process has been going for a while so I'll try to complete my review ASAP.  I have one other pending JOSS review at the moment so as soon as I work through that I'll start here.

[2021-08-20 17:27] kthyng commented on #3175
@arbennett Thank you so much for your willingness to help. I am sorry that I asked when you have another JOSS review going — I thought I had checked to be sure not to overload you. If you are still willing, I will add you as a reviewer and get you set up for when you are ready.

[2021-08-20 18:08] jeffreybarrick commented on #3362
We think we've fixed all of these issues in the paper:
* [X]  the reference to Figure 1 (line 44) should be in parentheses
* [X]  "The Bioconda Team" should be spelled out in Grüning et al (2018)
* [X]  Several of the references lack issue and page numbers

[2021-08-20 18:09] jeffreybarrick commented on #3362
@whedon generate pdf

[2021-08-20 18:09] whedon commented on #3362
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03362/joss.03362/10.21105.joss.03362.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03362/joss.03362/10.21105.joss.03362.pdf) :page_facing_up: :point_left:

[2021-08-20 18:27] arfon commented on #3612
@crhea93, @arjunsavel – thanks for your feedback here :zap:! @finagle29 – please let us know when you've had a chance to respond to the reviewer feedback.

[2021-08-20 18:45] nkeim commented on #3611
@Kevin-Mattheus-Moerman I was vacationing and my invitation expired. Could you please have a new one issued?

[2021-08-20 18:50] arbennett commented on #3175
Yep - I am still willing

[2021-08-20 18:53] alexlib commented on #3611
I raised some issues about functionality on the respective repo
https://github.com/MikeSmithLabTeam/particletracker/issues/2
https://github.com/MikeSmithLabTeam/particletracker/issues/3

is this is the right way to handle this review?

[2021-08-20 18:54] osorensen commented on #3592
@whedon assign @osorensen as editor

[2021-08-20 18:54] whedon commented on #3592
OK, the editor is @osorensen

[2021-08-20 18:55] osorensen commented on #3592
@solegalli I am now the editor for this submission. If you have any suggestions for reviewers, could you please mention their username in this thread (without the leadning '@')?

[2021-08-20 19:11] PTierz commented on #3436
Hi @elbeejay,

Many thanks for your message and your wishes (holidays were great, thanks). Apologies for the delay in replying.

It is very positive news to hear that our submission of `PyVOLCANS` can continue into the review stage. I thank you and the JOSS editorial team for your work and support.

We are happy to comply with your recommendation and upload the Matlab scripts that I used to genera

[2021-08-20 19:21] diehlpk commented on #3274
@whedon check references

[2021-08-20 19:21] whedon commented on #3274
[code]

[2021-08-20 19:22] diehlpk commented on #3274
@clavigne Can you please add the missing DOI to the paper?

[2021-08-20 19:23] whedon opened #3636 "[PRE REVIEW]: Opfi: A Python package for identifying gene clusters in large genomics and metagenomics data sets"
**Submitting author:** @alexismhill3 (<a href="http://orcid.org/0000-0002-5382-8851">Alexis Hill</a>)
**Repository:** <a href="https://github.com/wilkelab/Opfi" target ="_blank">https://github.com/wilkelab/Opfi</a>
**Version:** 0.1.0
**Editor:** @csoneson
**Reviewers:** @Thomieh73, @afrubin
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-08-20 19:23] whedon commented on #3636
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-20 19:23] whedon commented on #3636
Wordcount for `paper.md` is 1401

[2021-08-20 19:23] whedon commented on #3636
[code]

[2021-08-20 19:23] whedon commented on #3636
[code]

[2021-08-20 19:24] whedon opened #3637 "[PRE REVIEW]: infer: An R package for tidyverse-friendly statistical inference"
**Submitting author:** @simonpcouch (<a href="http://orcid.org/0000-0001-5676-5107">Simon Couch</a>)
**Repository:** <a href="https://github.com/tidymodels/infer" target ="_blank">https://github.com/tidymodels/infer</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2021-08-20 19:24] whedon commented on #3637
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-20 19:24] whedon commented on #3636
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03636/joss.03636/10.21105.joss.03636.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03636/joss.03636/10.21105.joss.03636.pdf) :page_facing_up: :point_left:

[2021-08-20 19:24] whedon commented on #3637
Wordcount for `paper.md` is 1089

[2021-08-20 19:24] whedon commented on #3637
[code]

[2021-08-20 19:24] whedon commented on #3637
[code]

[2021-08-20 19:24] whedon commented on #3637
Failed to discover a valid open source license.

[2021-08-20 19:24] whedon commented on #3637
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03637/joss.03637/10.21105.joss.03637.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03637/joss.03637/10.21105.joss.03637.pdf) :page_facing_up: :point_left:

[2021-08-20 19:26] jeffreybarrick commented on #3362
* [X]  Make a tagged release of the software, and list the version tag of the archived version here.
* [X]  Archive the reviewed software in Zenodo or a similar service
* [X]  Check that the archival deposit (e.g., in Zenodo) has the correct metadata. In particular, the title and author list should be identical to those of the paper. You can also add the authors' ORCID.
* [X]  Please list the DOI

[2021-08-20 19:30] kthyng commented on #3636
Hi @lpantano, could you take on this submission?

[2021-08-20 19:30] kthyng commented on #3636
@whedon invite @lpantano as editor

[2021-08-20 19:30] whedon commented on #3636
@lpantano has been invited to edit this submission.

[2021-08-20 19:36] jacobmerson commented on #3389
Hey @diehlpk we haven't heard from daniellivingston in a while, can you check in to make sure everything is on track?

[2021-08-20 19:37] kthyng commented on #3637
Hi @csoneson would you be willing to edit this submission?

[2021-08-20 19:37] kthyng commented on #3637
@whedon invite @csoneson as editor

[2021-08-20 19:37] whedon commented on #3637
@csoneson has been invited to edit this submission.

[2021-08-20 19:37] whedon opened #3638 "[PRE REVIEW]: BCImat: a Matlab-based framework for Intracortical Brain-Computer Interfaces and their simulation with an artificial spiking neural network"
**Submitting author:** @eferrea (<a href="http://orcid.org/0000-0003-1352-4789">Enrico Ferrea</a>)
**Repository:** <a href="https://github.com/eferrea/BCI-Master" target ="_blank">https://github.com/eferrea/BCI-Master</a>
**Version:** v.1.0.0
**Editor:** @oliviaguest
**Reviewers:** @mstimberg, @puolival
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-08-20 19:37] whedon commented on #3638
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-20 19:37] whedon opened #3639 "[PRE REVIEW]: Heta compiler: a software tool for the development of large-scale QSP models and compilation into simulation formats"
**Submitting author:** @metelkin (<a href="http://orcid.org/0000-0001-6612-5373">Evgeny Metelkin</a>)
**Repository:** <a href="https://github.com/hetalang/heta-compiler" target ="_blank">https://github.com/hetalang/heta-compiler</a>
**Version:** v0.6.6
**Editor:** @fboehm
**Reviewers:** @martinmodrak, @elimillera
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

D

[2021-08-20 19:37] whedon commented on #3639
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-20 19:37] whedon commented on #3638
Wordcount for `paper.md` is 1175

[2021-08-20 19:37] whedon commented on #3638
[code]

[2021-08-20 19:37] whedon commented on #3638
[code]

[2021-08-20 19:38] whedon commented on #3638
Failed to discover a valid open source license.

[2021-08-20 19:38] whedon commented on #3639
[code]

[2021-08-20 19:38] whedon commented on #3639
PDF failed to compile for issue #3639 with the following error:
[code]

[2021-08-20 19:38] whedon commented on #3638
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03638/joss.03638/10.21105.joss.03638.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03638/joss.03638/10.21105.joss.03638.pdf) :page_facing_up: :point_left:

[2021-08-20 19:45] kthyng commented on #3639
@whedon generate pdf from branch paper

[2021-08-20 19:45] whedon commented on #3639
[code]

[2021-08-20 19:46] whedon commented on #3639
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03639/joss.03639/10.21105.joss.03639.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03639/joss.03639/10.21105.joss.03639.pdf) :page_facing_up: :point_left:

[2021-08-20 19:59] simonpcouch commented on #3637
Thanks, yall!

Some folks from the spreadsheet of reviewers that have listed relevant expertise: Kellie Ottoboni (at kellieotto),
Gjalt-Jorn Peters (at Matherion), Mine Dogucu (at mdogucu), and Pedro Rafael (at prdm0).

I'll get to work on addressing the licensing issue!

[2021-08-20 20:10] daniellivingston commented on #3389
Hi @jacobmerson , very sorry for the delay. I should be done with the review this afternoon.

[2021-08-20 20:14] simonpcouch commented on #3637
@whedon check repository

[2021-08-20 20:15] whedon commented on #3637
Wordcount for `paper.md` is 1089

[2021-08-20 20:15] whedon commented on #3637
[code]

[2021-08-20 20:18] simonpcouch commented on #3637
Okay, looks like the licensing is good to go—the CC0 license was previously only listed in the `DESCRIPTION` file, and now also lives in its own separate `LICENSE` file as well.

[2021-08-20 20:22] aj2duncan commented on #3292
Hi @markheckmann,

My apologies for the delay in getting back to this review. I'm happy with the paper and I think there are just a few minor things for you to address before I can complete the review.

- Can you confirm which of the [OSI approved](https://opensource.org/licenses/alphabetical) licenses you are using?
- The documentation in the repository/app is missing some of the detail that is i

[2021-08-20 20:23] danielskatz commented on #3637
Sorry, this is a problem. JOSS requires use of an [OSI-approved license](https://opensource.org/licenses) - this specifically [does not include CC0](https://opensource.org/faq#cc-zero).

[2021-08-20 20:25] RobertRosca commented on #3494
Hey @xuanxu, sure I'd be happy to review this! I'll try and look at this today and tomorrow, or next week.

[2021-08-20 20:27] kthyng commented on #3175
@whedon add @arbennett as reviewer

[2021-08-20 20:27] whedon commented on #3175
OK, @arbennett is now a reviewer

[2021-08-20 20:28] kthyng commented on #3175
@whedon remove @evanleeturner as reviewer

[2021-08-20 20:28] whedon commented on #3175
OK, @evanleeturner is no longer a reviewer

[2021-08-20 20:29] kthyng commented on #3175
@arbennett ok you should be good to go when you can do this.

[2021-08-20 20:30] grant-m-s commented on #3635
Thanks @crvernon for setting this up and thanks @crhea93 and @rmorgan10 for agreeing to review AstronomicAL. If either of you have any questions I'll be happy to answer them.

[2021-08-20 20:30] kthyng commented on #3172
@bstabler Would you agree with @semiautomaticgit that a user can verify the performance of the software with the tutorial?

[2021-08-20 20:32] kthyng commented on #3611
@whedon re-invite @nkeim as reviewer

[2021-08-20 20:32] whedon commented on #3611
OK, the reviewer has been re-invited.

@nkeim please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-20 20:34] kthyng commented on #3611
@nkeim please use the link above as your invitation

@alexlib Yep — just be sure to add a link to this review issue in the issues to keep everything connected together.

[2021-08-20 20:36] kellyrowland commented on #3212
Hi @mikejohnson51 - friendly reminder to please update this when you're able to.

[2021-08-20 20:41] kthyng commented on #3578
@AKUMAR0019, @osorensen — If this review is for a package called PyNIDM, I would also suggest having that name in the title of this submission and the paper.

[2021-08-20 20:42] whedon opened #3640 "[PRE REVIEW]: meddocr: Facilitating clinical documentation for research using R"
**Submitting author:** @DanJMulder (<a href="http://orcid.org/0000-0003-2974-855X">Daniel J Mulder</a>)
**Repository:** <a href="https://github.com/DanJMulder/meddocr" target ="_blank">https://github.com/DanJMulder/meddocr</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-08-20 20:42] whedon commented on #3640
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-20 20:42] whedon commented on #3640
Wordcount for `paper.md` is 905

[2021-08-20 20:42] whedon commented on #3640
[code]

[2021-08-20 20:42] whedon commented on #3640
[code]

[2021-08-20 20:43] kthyng commented on #3497
@whedon recommend-accept  from branch joss_paper

[2021-08-20 20:43] whedon commented on #3497
[code]

[2021-08-20 20:43] whedon commented on #3640
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03640/joss.03640/10.21105.joss.03640.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03640/joss.03640/10.21105.joss.03640.pdf) :page_facing_up: :point_left:

[2021-08-20 20:43] whedon commented on #3497
PDF failed to compile for issue #3497 with the following error:
[code]

[2021-08-20 20:44] kthyng commented on #3497
@whedon generate pdf from branch joss_paper

[2021-08-20 20:44] whedon commented on #3497
[code]

[2021-08-20 20:45] whedon commented on #3497
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03497/joss.03497/10.21105.joss.03497.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03497/joss.03497/10.21105.joss.03497.pdf) :page_facing_up: :point_left:

[2021-08-20 20:48] kthyng commented on #3497
@jamesrhester Please update the metadata in your Zenodo archive so that the title and author list exactly match your JOSS paper.

[2021-08-20 20:50] kthyng commented on #3497
@whedon check references

[2021-08-20 20:55] kthyng commented on #3497
The paper looks good, and version updated. This is ready to accept once the Zenodo archive is updated.

[2021-08-20 20:57] kthyng commented on #3575
Ok everything looks good!

[2021-08-20 20:57] kthyng commented on #3575
@whedon accept deposit=true

[2021-08-20 20:57] whedon commented on #3575
[code]

[2021-08-20 20:58] kthyng commented on #3638
@whedon query scope

[2021-08-20 20:58] whedon commented on #3638
Submission flagged for editorial review.

[2021-08-20 20:59] whedon commented on #3575
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1428823998452862980) 👈 🐦🐦🐦

[2021-08-20 20:59] whedon commented on #3575
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2517
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03575](https://doi.org/10.21105/joss.03575)
2. If everything look

[2021-08-20 20:59] kthyng commented on #3638
Hi  and thanks for your submission. I have pinged the greater editorial board to make sure this submission is in scope, particularly in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This process usually takes 1-2 weeks; thanks for your patience.

[2021-08-20 21:01] simonpcouch commented on #3637
Ah, thank you for the clarification. Beginning discussions with co-authors on licensing at the moment.

[2021-08-20 21:04] kthyng commented on #3585
Hi @andr1976 — the editorial board is fine with this as a JOSS submission, so I have removed the `query-scope` label.

[2021-08-20 21:07] kthyng commented on #3585
@fraukewiese would this submission be a good fit for you?

[2021-08-20 21:07] kthyng commented on #3585
@whedon invite @fraukewiese as editor

[2021-08-20 21:07] whedon commented on #3585
@fraukewiese has been invited to edit this submission.

[2021-08-20 21:15] kthyng commented on #3587
@adi3 Would you be a good fit for this submission?

[2021-08-20 21:15] kthyng commented on #3587
@whedon invite @adi3 as editor

[2021-08-20 21:15] whedon commented on #3587
@adi3 has been invited to edit this submission.

[2021-08-20 21:24] kthyng commented on #3575
Congrats on your new publication @rlonka! Many thanks to editor @osorensen and reviewers @callumrollo and @ethanwhite for your hard work, time, and expertise!

[2021-08-20 21:24] #3575 closed

[2021-08-20 21:24] whedon commented on #3575
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03575/status.svg)](https://doi.org/10.21105/joss.03575)

**We need your help!**

Journal of Open Source Softwa

[2021-08-20 21:28] kthyng commented on #3636
I'm sorry, I shouldn't have invited @lpantano as the editor because there is a waitlisted paper should maybe could edit instead, which has been waiting longer. I will add this submission to the waitlist while we wait for available editors with relevant expertise.

[2021-08-20 21:29] kthyng commented on #3615
@lpantano Would you be able to edit this submission?

[2021-08-20 21:29] kthyng commented on #3615
@whedon invite @lpantano as editor

[2021-08-20 21:29] whedon commented on #3615
@lpantano has been invited to edit this submission.

[2021-08-20 21:56] konstantinstadler commented on #3575
Fantastic. Was a pleasant experience again. Many thanks to all involved!

[2021-08-20 22:46] xuanxu commented on #3494
@whedon add @RobertRosca as reviewer

[2021-08-20 22:46] whedon commented on #3494
OK, @RobertRosca is now a reviewer

[2021-08-20 22:48] xuanxu commented on #3494
@whedon start review

[2021-08-20 22:48] whedon opened #3641 "[REVIEW]: A Fast Iterative Method Python package"
**Submitting author:** @thomgrand (<a href="http://orcid.org/0000-0002-6787-2570">Thomas Grandits</a>)
**Repository:** <a href="https://github.com/thomgrand/fim-python" target ="_blank">https://github.com/thomgrand/fim-python</a>
**Version:** v1.0
**Editor:** @xuanxu
**Reviewer:** @lucaferranti, @RobertRosca
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-08-20 22:48] whedon commented on #3494
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3641.

[2021-08-20 22:48] #3494 closed

[2021-08-20 22:48] whedon commented on #3641
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lucaferranti, @RobertRosca it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-08-20 22:48] whedon commented on #3641
Wordcount for `paper.md` is 597

[2021-08-20 22:48] whedon commented on #3641
[code]

[2021-08-20 22:48] whedon commented on #3641
[code]

[2021-08-20 22:48] whedon commented on #3641
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03641/joss.03641/10.21105.joss.03641.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03641/joss.03641/10.21105.joss.03641.pdf) :page_facing_up: :point_left:

[2021-08-21 00:00] clavigne commented on #3274
@diehlpk As I mentioned previously ( https://github.com/openjournals/joss-reviews/issues/3274#issuecomment-848041524 ) this specific article doesn't have DOI. The reviewer @vijaysm recommends instead citing the later review on MapReduce ( https://doi.org/10.1145/1327452.1327492 ) as opposed to the primary article ( https://www.usenix.org/legacy/events/osdi04/tech/dean.html ). This is an acceptable

[2021-08-21 00:04] diehlpk commented on #3274
@clavigne Ok, I misread the comment. Everything is fine.

[2021-08-21 00:11] lpantano commented on #3615
@whedon assign me as editor

[2021-08-21 00:11] whedon commented on #3615
OK, the editor is @lpantano

[2021-08-21 00:43] AKUMAR0019 commented on #3578
Hi @robbisg and @osorensen. Thank you for your review! Please see my point by point responses below.

1. I worked on this project in a fork of the main PyNIDM repository and once the code functioned correctly it was merged into the main pynidm repository via a pull request. The main repository does contain the regression tool, found at this location: https://github.com/incf-nidash/PyNIDM/tree/mast

[2021-08-21 05:37] osorensen commented on #3592
@whedon generate pdf

[2021-08-21 05:37] whedon commented on #3592
PDF failed to compile for issue #3592 with the following error:
[code]

[2021-08-21 05:37] osorensen commented on #3592
@whedon generate pdf from branch paper

[2021-08-21 05:37] whedon commented on #3592
[code]

[2021-08-21 05:38] whedon commented on #3592
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03592/joss.03592/10.21105.joss.03592.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03592/joss.03592/10.21105.joss.03592.pdf) :page_facing_up: :point_left:

[2021-08-21 05:47] osorensen commented on #3592
@solegalli, please also update the BibTeX entry for the Zenode archive of the package, to:

[code]

If possible, please also change the GitHub usernames appearing in this citation (Pradumna123, Wahe3bru) to the authors' real names.

After you've done this, feel free to run "(at)whedon generate pdf from branch paper" as a comment in this issue, to see how the resulting paper looks.

[2021-08-21 06:00] osorensen commented on #3578
Thanks for clarifying, @AKUMAR0019.

Regarding point 1, I see that the fork reports that it's 49 commits ahead of master. Does this mean that you are still developing the code in this branch, and create pull requests onto the repository incf-nidash/PyNIDM when done?

Second, and this may be a question to @kthyng or @openjournals/joss-eics, since the final package will be available in the repositor

[2021-08-21 06:03] rusu24edward commented on #3607
@danielskatz please send me the collaboration invitation again, I didn't open it in time and it has expired.

[2021-08-21 06:04] osorensen commented on #3592
@Jose-Augusto-C-M @bobturneruk @JYProjs @papachristoumarios @ftarlaci @TahiriNadia would any of you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-08-21 06:11] Jose-Augusto-C-M commented on #3592
I will do my best. But I may take some time, it's my first time reviewing a work of this kind, there's is much to read and understand. Is there any guidance of evaluation of such repositories?

[2021-08-21 06:16] osorensen commented on #3592
Thanks a lot, @Jose-Augusto-C-M! We have reviewer guidelines here https://joss.readthedocs.io/en/latest/reviewer_guidelines.html, which describe how to do this. In addition, the review will be in a GitHub issue, where you have a checklist to follow (see an example here https://github.com/openjournals/joss-reviews/issues/3459). In addition to that, you are welcome to contact me any time in the revi

[2021-08-21 06:16] osorensen commented on #3592
@whedon add @Jose-Augusto-C-M as reviewer

[2021-08-21 06:16] whedon commented on #3592
OK, @Jose-Augusto-C-M is now a reviewer

[2021-08-21 06:27] papachristoumarios commented on #3592
@osorensen I can review this article. It's my first time reviewing for JOSS and may take some time. I will also read the aforementioned review guidelines.

[2021-08-21 06:35] rusu24edward commented on #3607
@OlgerSiebinga, I've followed the setup instructions on the main Readme. When I try to run the visualize.py file, I get the following:
[code]
I'm using Python 3.8 on Ubuntu 18 and I've installed the requirements with pip as the Readme instructs.

[2021-08-21 06:52] PeerHerholz commented on #3459
@whedon generate pdf

[2021-08-21 06:52] whedon commented on #3459
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: :point_left:

[2021-08-21 06:58] osorensen commented on #3592
Thanks @papachristoumarios!

[2021-08-21 06:58] osorensen commented on #3592
@whedon add @papachristoumarios as reviewer

[2021-08-21 06:58] whedon commented on #3592
OK, @papachristoumarios is now a reviewer

[2021-08-21 06:59] osorensen commented on #3592
@papachristoumarios and @Jose-Augusto-C-M I'll wait for a third reviewer before starting a new review issue.

[2021-08-21 07:18] PeerHerholz commented on #3459
Ahoi hoi folks,

thx so much for all the work on this @mgxd & @oesteban, I think the changes look great!

Two small things: as the contribution guidelines were added, I was wondering about the `CoC` and regarding the examples, I wanted to ask if a few sentences/explanations could be added to the [Preparing Images](https://nitransforms.readthedocs.io/en/latest/notebooks/01_preparing_images.html) an

[2021-08-21 07:30] henrykironde commented on #3632
I have requested some suggestions as part of the review https://github.com/drcandacemakedamoore/cleanX/issues/36
https://github.com/drcandacemakedamoore/cleanX/issues/35

[2021-08-21 07:58] osorensen commented on #3459
Thanks for all your work with this review @PeerHerholz! If you think that some of the issues on the review checklist have been fixed, please remember to check off the boxes.

[2021-08-21 08:29] PeerHerholz commented on #3459
Ah damn, completely forgot about that, thx @osorensen! I just checked the respective boxes.

[2021-08-21 08:29] bobturneruk commented on #3592
Also a first timer, but the checklist looks to make the process objective and straightforward. I've used similar checklists. I'm happy to review.

[2021-08-21 09:01] osorensen commented on #3592
Thanks @bobturneruk !

[2021-08-21 09:01] osorensen commented on #3592
@whedon add @bobturneruk as reviewer

[2021-08-21 09:01] whedon commented on #3592
OK, @bobturneruk is now a reviewer

[2021-08-21 09:01] osorensen commented on #3592
@whedon commands

[2021-08-21 09:02] whedon commented on #3592
Here are some things you can ask me to do:

[code]

[2021-08-21 09:02] osorensen commented on #3592
@whedon start review

[2021-08-21 09:02] whedon opened #3642 "[REVIEW]: Feature-engine: A Python package for feature engineering for machine learning"
**Submitting author:** @solegalli (<a href="http://orcid.org/0000-0003-3734-8628">Soledad</a>)
**Repository:** <a href="https://github.com/feature-engine/feature_engine" target ="_blank">https://github.com/feature-engine/feature_engine</a>
**Version:** v1.1.2
**Editor:** @osorensen
**Reviewers:** @Jose-Augusto-C-M, @papachristoumarios, @bobturneruk
**Archive:** <a href="https://doi.org/10.5281/zen

[2021-08-21 09:02] whedon commented on #3592
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3642.

[2021-08-21 09:02] #3592 closed

[2021-08-21 09:02] whedon commented on #3642
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Jose-Augusto-C-M, @papachristoumarios, @bobturneruk it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that m

[2021-08-21 09:02] whedon commented on #3642
PDF failed to compile for issue #3642 with the following error:
[code]

[2021-08-21 09:02] whedon commented on #3642
[code]

[2021-08-21 09:04] osorensen commented on #3642
@whedon generate pdf from branch paper

[2021-08-21 09:04] whedon commented on #3642
[code]

[2021-08-21 09:05] whedon commented on #3642
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: :point_left:

[2021-08-21 09:09] ml-evs commented on #3458
Thanks for your initial comments @jamesrhester. We can handle any further issues directly in the repository, but I have addressed your suggested changes to the paper below. To answer your comments in reverse order:

4. I agree with your comments, and have tried to adopt your suggestions in such a way that knowledge of the requisite jargon isn't a necessary (I hope URL and HTTP can be taken as assu

[2021-08-21 10:53] TahiriNadia commented on #3592
First timer at JOSS, but the checklist makes the process seem objective and straightforward. I would be happy to review.

[2021-08-21 12:46] danielskatz commented on #3607
@whedon re-invite @rusu24edward as reviewer

[2021-08-21 12:46] whedon commented on #3607
OK, the reviewer has been re-invited.

@rusu24edward please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-21 13:17] ml-evs commented on #3458
@whedon generate pdf from branch joss

[2021-08-21 13:17] whedon commented on #3458
[code]

[2021-08-21 13:17] whedon commented on #3458
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: :point_left:

[2021-08-21 13:19] jkrumbiegel commented on #3349
Thank you @Kevin-Mattheus-Moerman, I'm happy to hear that! We're still sorting out some issues with the zenodo metadata, but will get back to you once we have done that.

[2021-08-21 13:45] simonpcouch commented on #3637
Thanks again for the note—with agreement from all package contributors, we've re-licensed from CC0 to MIT. Documentation at tidymodels/infer#413!

[2021-08-21 13:45] simonpcouch commented on #3637
@whedon check repository

[2021-08-21 13:51] sandrinecharles commented on #3200
Dear @KristinaRiemer thanks a lot to follow the review process of our paper ; I cannot understand why it is so long, that is really a pity and could discourage us to submit other manuscripts to JOSS. What is happening with reviewers? The paper is rather short so that it should be quick to review... Bets regards, Sandrine Charles

[2021-08-21 14:03] whedon commented on #3637
Wordcount for `paper.md` is 1089

[2021-08-21 14:03] whedon commented on #3637
[code]

[2021-08-21 14:37] osorensen commented on #3592
Thanks a lot @TahiriNadia. Since we already have three reviewers assigned, I'll keep you in mind until next submission, and ask you again then.

[2021-08-21 14:51] oesteban commented on #3459
Sure, we'll get that done next week. Thanks much for an outstanding effort
from both reviewers. Very much appreciated.

On Sat, Aug 21, 2021, 09:18 Peer Herholz ***@***.***> wrote:

[2021-08-21 15:26] joglekara commented on #3298
All requirements are checked off from my side. LGTM

[2021-08-21 16:15] HaoZeke commented on #3298
The authors have made a sincere effort towards fixing the MacOS installation; and I do not believe it is a blocker. The rest of the work stands nicely as is. LGTM.

[2021-08-21 16:39] robbisg commented on #3459
Hi everyone,

sorry for the late reply.
Thank you for your changes.
I agree with @PeerHerholz that examples need a few lines of description of what's going on in the script.
I think that a brief overview (one sentence) of similar package or about the lack of tools like yours can be added to the paper.

For the rest, you did a very good job! ;)

Cheers,
Roberto

[2021-08-21 16:47] robbisg commented on #3578
Thanks for clarifying @AKUMAR0019.

I have a suggestion given your explanation of point 2. To my point of view, I think that a more detailed description of the input structure can be very helpful to clarify the tool, for example you mentioned that linear regression is performed on graph, so what are these graphs representing and which information is coded in these graphs?

[2021-08-21 17:33] bstabler commented on #3172
@kthyng - I agree with @semiautomaticgit that a user can (probably/typically) verify the performance of the software with the tutorial.  The tutorial is pretty comprehensive.

[2021-08-21 20:49] ftarlaci commented on #3592
If you still need more reviewers, I would be happy to help as well.

[2021-08-21 20:54] LiangliangNan commented on #3255
@Kevin-Mattheus-Moerman The title has been updated. Thanks!

[2021-08-21 22:07] adi3 commented on #3587
@kthyng Yes, I can take on this one

[2021-08-21 22:07] adi3 commented on #3587
@whedon assign @adi3 as editor

[2021-08-21 22:07] whedon commented on #3587
OK, the editor is @adi3

[2021-08-21 22:10] adi3 commented on #3587
@larkz - I'll be the editor for this review. To get things going, could you please suggest 5-6 reviewers from [this](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) list that you consider appropriate to vet this paper? While selecting, you should confirm that the domain expertise of the reviewer matches the subject matter of your paper and so

[2021-08-21 22:46] Kevin-Mattheus-Moerman commented on #3255
@whedon recommend-accept

[2021-08-21 22:46] whedon commented on #3255
[code]

[2021-08-21 22:47] whedon commented on #3255
PDF failed to compile for issue #3255 with the following error:
[code]

[2021-08-21 23:24] Kevin-Mattheus-Moerman commented on #3255
@whedon recommend-accept from branch joss

[2021-08-21 23:24] whedon commented on #3255
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-22 00:06] ha0ye commented on #3496
My review notes are now in https://github.com/Natsiopoulos/ARDL/issues/6

[2021-08-22 00:10] whedon opened #3643 "[PRE REVIEW]: Fiscore Package: Effective Protein Structural Data Visualisation and Exploration"
**Submitting author:** @AusteKan (<a href="http://orcid.org/0000-0001-6829-4082">Austė  Kanapeckaitė</a>)
**Repository:** <a href="https://github.com/AusteKan/JOSS_Fiscore" target ="_blank">https://github.com/AusteKan/JOSS_Fiscore</a>
**Version:** V0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-08-22 00:10] whedon commented on #3643
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-22 00:10] whedon commented on #3643
Wordcount for `paper.md` is 1529

[2021-08-22 00:10] whedon commented on #3643
[code]

[2021-08-22 00:10] whedon commented on #3643
PDF failed to compile for issue #3643 with the following error:
[code]

[2021-08-22 00:10] whedon commented on #3643
[code]

[2021-08-22 00:13] danielskatz commented on #3643
@AusteKan - there are a couple of problems with your submission:
1. There's no software, just a paper - please put this paper in the repository with the software, and resubmit that repository.
2. The paper doesn't compile - see https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles
3. Some DOIs are invalid - please remove the 'https://doi.org/' prefix from these DO

[2021-08-22 00:13] danielskatz commented on #3643
@whedon reject

[2021-08-22 00:13] whedon commented on #3643
Paper rejected.

[2021-08-22 00:13] #3643 closed

[2021-08-22 00:24] smolins commented on #3314
Both examples in the manuscript seem to run. There are 2 issues

1.When I plot the results of the reactive transport example, the mesh (and resolution) seems to be different from the figure in the manuscript. Is that expected?

2. Why were these two examples highlighted in the manuscript? The code has many documented examples (https://mooseframework.inl.gov/modules/geochemistry/tests_and_examples/

[2021-08-22 00:55] omid-s commented on #3543
Execute my belated reply, just saw the messages here :/. I will be done soon :)

[2021-08-22 00:56] mattdahl commented on #3617
@whedon check references from branch joss-paper

[2021-08-22 00:56] whedon commented on #3617
[code]

[2021-08-22 00:56] whedon commented on #3617
[code]

[2021-08-22 00:57] mattdahl commented on #3617
@whedon generate pdf from branch joss-paper

[2021-08-22 00:57] whedon commented on #3617
[code]

[2021-08-22 00:57] whedon commented on #3617
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: :point_left:

[2021-08-22 01:04] omid-s commented on #3543
Hi @oneilsh, there are two license files, repo's [license](https://github.com/oneilsh/tidytensor/blob/master/LICENSE) link goes to a file with two lines that sets copy right to you, though I can see another "[license.md](https://github.com/oneilsh/tidytensor/blob/master/LICENSE.md)" that has a brief MIT Licence description, I was wondering which one are you planning to keep?

[2021-08-22 04:58] osorensen commented on #3592
Thanks @ftarlaci, I'll keep you in mind next time :-)

[2021-08-22 06:53] AusteKan commented on #3643
Dear Daniel,

Thank you for your swift reply and apologies for the issues, I will resolve
that and resubmit. Also, thank you very much for kindly pointing out what
needs to be fixed.

Best wishes,
Auste

On Sun, Aug 22, 2021 at 3:13 AM Daniel S. Katz ***@***.***>
wrote:

[2021-08-22 07:48] jmbr commented on #3482
I've checked off all the items in the review checklist. Here are some comments:

* [SLOCCount](https://dwheeler.com/sloccount/) says that there are 742 lines of code (LOC) while the guidelines for JOSS say that submissions below 1000 LOC should be flagged.
[code]
* Sphinx gives some warnings while building the documentation.
[code]
* In the documentation, the function :math:`\mathcal{L}^{(\cdot)}(

[2021-08-22 08:28] csoneson commented on #3362
@whedon set 10.5281/zenodo.5227845 as archive

[2021-08-22 08:28] whedon commented on #3362
OK. <a href="https://doi.org/10.5281/zenodo.5227845" target="_blank">10.5281/zenodo.5227845</a> is the archive.

[2021-08-22 08:29] csoneson commented on #3362
@whedon set v1.0.6 as version

[2021-08-22 08:29] whedon commented on #3362
OK. v1.0.6 is the version.

[2021-08-22 08:29] csoneson commented on #3362
Looks good! I'm handing over now to the associate EiC on rotation for the final steps.

[2021-08-22 08:30] csoneson commented on #3362
@whedon recommend-accept

[2021-08-22 08:30] whedon commented on #3362
[code]

[2021-08-22 08:30] whedon commented on #3362
[code]

[2021-08-22 08:30] whedon commented on #3362
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2518

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2518, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-22 08:42] csoneson commented on #3637
@whedon assign @csoneson as editor

[2021-08-22 08:42] whedon commented on #3637
OK, the editor is @csoneson

[2021-08-22 08:43] csoneson commented on #3637
👋🏻 @simonpcouch - thanks for fixing the license. I'll handle your submission and start by inviting reviewers (thanks for the suggestions above!)

[2021-08-22 08:44] csoneson commented on #3637
👋🏻 @kellieotto, @mdogucu, @prdm0 - would (two of) you be interested in reviewing this submission for JOSS?

[2021-08-22 09:18] timtroendle commented on #3313
/ooo September 4 until September 26

[2021-08-22 09:20] timtroendle commented on #3313
@amandadsmith, I will be out of office for the duration mentioned above. Do you think you will be able to handle @fneum's comments before that?

[2021-08-22 09:21] timtroendle commented on #3596
/ooo September 4 until September 26

[2021-08-22 09:22] timtroendle commented on #3596
@robinroche, @noah80, I will be out of office for the duration mentioned above. If there are any questions from your side about this review, it would be great if you could ask them before I leave.

[2021-08-22 14:52] michaeltouati commented on #3618
Toi whom it may concern,

	I am the only one contributor to this version of the code.

My friend, Nitin Shukla, added the openACC instruction for parallelization on GPUs on another version. I've made the mistake to accept its commit without checking it was working for all test cases and I’ve noticed it wasn’t. I thus came back to the original version after that. You can ask him.

It would be a ple

[2021-08-22 15:01] elbeejay commented on #3436
@PTierz great! I think this works well and gives the interested user/reader an opportunity to both see the underlying code and contribute to the overall project if they so desire. Thank you for being so accommodating.

[2021-08-22 15:07] elbeejay commented on #3436
:wave: @jifarquharson, @weiji14, @rbeucher, would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/review_criteria.html](https://joss.readthedocs.io/en/latest/review_criteria.html)

The submission is "PyVOLCANS: A Python package to flexibly explore similarities and d

[2021-08-22 15:47] jifarquharson commented on #3436
Hi @elbeejay, I'd be happy to review this submission.
- Jamie

[2021-08-22 16:17] elbeejay commented on #3436
@whedon add @jifarquharson as reviewer

[2021-08-22 16:18] whedon commented on #3436
OK, @jifarquharson is now a reviewer

[2021-08-22 16:23] apldx commented on #3615
@whedon generate pdf

[2021-08-22 16:23] whedon commented on #3615
PDF failed to compile for issue #3615 with the following error:
[code]

[2021-08-22 16:25] apldx commented on #3615
@whedon generate pdf from branch joss-paper

[2021-08-22 16:25] whedon commented on #3615
[code]

[2021-08-22 16:25] whedon commented on #3615
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03615/joss.03615/10.21105.joss.03615.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03615/joss.03615/10.21105.joss.03615.pdf) :page_facing_up: :point_left:

[2021-08-22 16:26] apldx commented on #3615
@whedon check references

[2021-08-22 17:00] kanderso-nrel commented on #3460
I've completed the reviewer checklist and am happy to recommend this ms for acceptance.  Note that I do not consider https://github.com/qpv-research-group/rayflare/issues/32 to be a blocker for this review.  Please let me know if you need anything else from me.

Thanks @phoebe-p for this useful contribution to the PV community!

[2021-08-22 17:03] jmv2009 commented on #3556
I don't know if can throw in my 2 cents here: Discussion about advantages of difference methodology see e.g. sagemath usage in https://arxiv.org/pdf/1806.00031.pdf. Also refs for individual geometries are not always clear (e.g. prism nedelec1) https://defelement.com/elements/nedelec1.html (And not following https://arxiv.org/abs/1605.00132)

[2021-08-22 17:06] antoinediez commented on #3425
Hi @pdebuyl and @lorenzo-rovigatti ! 👋

Sorry for the late answer and thank you very much for having accepted to edit and review this work.

@pdebuyl if you are looking for a second reviewer, based on the list provided and on the keywords, may I suggest (without any specific order):
- vyasr
- schroedtert
- dalg24
- csadorf
- Christovis
- junghans
- rusu24edward

[2021-08-22 18:43] mscroggs commented on #3556
@jmv2009 Sorry, I don't follow your comment about difference methodology.

Re refs: This looks like an issue related to the information on DefElement, not Symfem. I've opened some issues on the DefElement repo (https://github.com/mscroggs/defelement.com) about making the references there more complete. If you spot any further issues in the DefElement references, you can open more issues there and

[2021-08-22 18:50] cmaimone commented on #3522
Done with my review - recommend publishing

[2021-08-22 18:53] kbarnhart commented on #3507
👋 @angystallone a friendly reminder to consider serving as a reviewer for "pyCSEP: A Python Package For Earthquake Forecast Developers" by William H. Savran, Maximilian J. Werner, Danijel Schorlemmer, and Philip J. Maechling at the Journal of Open Source Software. I'll also send you a message via email. Many thanks for considering.

[2021-08-22 19:30] ulf1 commented on #3324
@mikldk the title and author name are aligned now.
- https://doi.org/10.5281/zenodo.5233945
- https://github.com/satzbeleg/bwsample/blob/main/.zenodo.json
- https://github.com/satzbeleg/bwsample/blob/main/docs/paper.md

[2021-08-22 19:58] danielskatz commented on #3362
Thanks - this looks good to me

[2021-08-22 19:58] danielskatz commented on #3362
@whedon accept deposit=true

[2021-08-22 19:58] whedon commented on #3362
[code]

[2021-08-22 19:59] whedon commented on #3362
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1429533694449131532) 👈 🐦🐦🐦

[2021-08-22 19:59] whedon commented on #3362
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2519
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03362](https://doi.org/10.21105/joss.03362)
2. If everything look

[2021-08-22 20:06] danielskatz commented on #3362
Congratulations to @jeffreybarrick (Jeffrey Barrick) and co-authors!!

And thanks to @ayush9pandey and @standage for reviewing, and @csoneson for editing!

[2021-08-22 20:06] #3362 closed

[2021-08-22 20:16] danielskatz commented on #3552
@diehlpk & @dmarce1  - The editorial board has decided that there isn't a sufficient scholarly contribution in this submission compared to the recently published paper. If you feel the computer science contributions were not sufficiently recognized in the original paper, and some authors were left out, you might want to submit a computer science paper to a computer science journal.

[2021-08-22 20:16] danielskatz commented on #3552
@whedon reject

[2021-08-22 20:17] whedon commented on #3552
Paper rejected.

[2021-08-22 20:17] #3552 closed

[2021-08-22 20:18] danielskatz commented on #3614
@JensWahl - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2021-08-22 20:18] danielskatz commented on #3614
@whedon reject

[2021-08-22 20:18] whedon commented on #3614
Paper rejected.

[2021-08-22 20:18] #3614 closed

[2021-08-22 20:24] whedon opened #3644 "[PRE REVIEW]: QXTools: A Julia framework for distributed quantum circuit simulation"
**Submitting author:** @nmoran (<a href="http://orcid.org/0000-0002-2619-5040">Niall Moran</a>)
**Repository:** <a href="https://github.com/JuliaQX/QXTools.jl" target ="_blank">https://github.com/JuliaQX/QXTools.jl</a>
**Version:** 0.2.3
**Editor:** @jarvist
**Reviewers:** @goerz, @obliviateandsurrender
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the