[2019-06-24 19:04] whedon commented on #1420
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01420/joss.01420/10.21105.joss.01420.pdf)

[2019-06-24 19:09] ybayle commented on #1262
Hi @patrikhuber,

Thank you again for your comments and suggestions that help improve a lot our submission and our code. We also learn many python-related things during this process!

If the dataset contains lower and upper teeth where only the upper teeth need to be reordered, one can use: `Scyland3D.pts2csv("example/", order_factor="upper", order=[36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25,

[2019-06-24 19:17] arokem commented on #1420
@sanskriti-s : next, I will need you to create an archive of the current state of your software and deposit this into zenodo (https://zenodo.org). This will be the version of the code that will be associated with your paper.

[2019-06-24 19:17] srmnitc commented on #1328
@lheagy yes definitely. I am currently travelling, but I will definitely be able to take a look in the next few days.

[2019-06-24 19:47] mistrm82 commented on #1344
Thanks @Juke34  for both the PyPi package (https://pypi.org/project/guessmylt/) and the bioconda recipe. The problem I had previously was the inability to get Busco and so I think I will hold off on testing the PyPi  package and wait for the PR merge from bioconda

[2019-06-24 20:00] arokem commented on #1171
Hello @TheChymera : looks like just a few small comments to address from @tanselbaran, in addition to previous comments from @effigies (described in https://github.com/openjournals/joss-reviews/issues/1171#issuecomment-488434380). Please let me know when you've had a chance to address these.

[2019-06-24 20:01] patrikhuber commented on #1262
You're welcome, glad it is helpful.

I understand, thanks for the additional explanations.

I think you forgot to document the `feature_names` here in the "Args" list:
https://github.com/ybayle/Scyland3D/blob/3626b2ad4c339ee2f2483d5a0c06dd94df96f615/Scyland3D.py#L151-L152

Also you should format the .py file with PEP 8, there are a few lines that are too long (and potentially some other things). A

[2019-06-24 20:32] rheiland commented on #1408
@whedon generate pdf

[2019-06-24 20:33] whedon commented on #1408
[code]

[2019-06-24 20:33] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-24 20:44] rheiland commented on #1408
@whedon generate pdf

[2019-06-24 20:44] whedon commented on #1408
[code]

[2019-06-24 20:45] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-24 20:51] rheiland commented on #1408
@whedon generate pdf

[2019-06-24 20:51] whedon commented on #1408
[code]

[2019-06-24 20:51] whedon opened #1521 "[PRE REVIEW]: PyCurious: A Python module for computing the Curie depth from the magnetic anomaly."
**Submitting author:** @brmather (<a href="http://orcid.org/0000-0003-3566-1557">Ben Mather</a>)
**Repository:** <a href="https://github.com/brmather/pycurious" target ="_blank">https://github.com/brmather/pycurious</a>
**Version:** 0.4
**Editor:** @lheagy
**Reviewers:** @santisoler

**Author instructions**

Thanks for submitting your paper to JOSS @brmather. **Currently, there isn't an JOSS edito

[2019-06-24 20:52] whedon commented on #1521
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-24 20:52] whedon commented on #1521
[code]

[2019-06-24 20:52] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-24 20:52] whedon commented on #1521
PDF failed to compile for issue #1521 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Robert Delhaye (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:121:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whed

[2019-06-24 20:52] kyleniemeyer commented on #1521
Hi @lheagy, the author suggested you to edit this submission; can you handle this one?

[2019-06-24 20:54] kyleniemeyer commented on #1521
Hi @brmather, thanks for your submission. We will get this assigned to an editor, who will use this pre-review issue for reviewer assignment.

For your paper, if your coauthor does not have an ORCID, then please just remove that field (rather than use `0000-0000-0000-0000`.

[2019-06-24 20:54] arfon commented on #1306
@kyleniemeyer - this looks to be fixed now:

@mkhorton, @katyhuff - many thanks for your reviews and to @katyhuff for editing this one too ✨

@connorourke - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-24 20:54] #1306 closed

[2019-06-24 20:54] whedon commented on #1306
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01306/status.svg)](https://doi.org/10.21105/joss.01306)

**We need your help!**

Journal of Open Source Softwar

[2019-06-24 20:56] whedon opened #1522 "[PRE REVIEW]: Singularity Compose: Orchestration for Singularity Instances"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://github.com/singularityhub/singularity-compose" target ="_blank">https://github.com/singularityhub/singularity-compose</a>
**Version:** 0.0.15
**Editor:** @gkthiruvathukal
**Reviewers:** @daissi

**Author instructions**

Thanks for submitting your paper to JOSS @vsoch.

[2019-06-24 20:56] whedon commented on #1522
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-24 20:56] whedon commented on #1522
[code]

[2019-06-24 20:56] whedon commented on #1522
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01522/joss.01522/10.21105.joss.01522.pdf)

[2019-06-24 20:58] kyleniemeyer commented on #1522
Hi @vsoch, thanks for your submission. At first glance, while this looks like valuable software, I don't see anything that indicates that it is *research* software—nothing in the README or paper seems to connect it to research. Could you clarify how it has an obvious research application?

[2019-06-24 20:59] whedon opened #1523 "[PRE REVIEW]: pyMARS: automatically reducing chemical kinetic models in Python"
**Submitting author:** @kyleniemeyer (<a href="http://orcid.org/0000-0003-4425-7097">Kyle E Niemeyer</a>)
**Repository:** <a href="https://github.com/Niemeyer-Research-Group/pyMARS" target ="_blank">https://github.com/Niemeyer-Research-Group/pyMARS</a>
**Version:** v1.0.0
**Editor:** @katyhuff
**Reviewers:** @fcontino

**Author instructions**

Thanks for submitting your paper to JOSS @kyleniemeyer

[2019-06-24 20:59] whedon commented on #1523
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-24 20:59] whedon commented on #1523
[code]

[2019-06-24 20:59] whedon commented on #1523
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01523/joss.01523/10.21105.joss.01523.pdf)

[2019-06-24 20:59] arfon commented on #1523
:wave: @katyhuff - would you be willing to edit this submission for JOSS?

[2019-06-24 21:05] katyhuff commented on #1523
Oh darn. I was going to suggest @kyleniemeyer as the editor... But I see he's the author.

Sure, I'll do it. @kyleniemeyer , do you have reviewer suggestions (obviously, folks who have no COI reviewing your paper).

[2019-06-24 21:05] katyhuff commented on #1523
@whedon assign @katyhuff as editor

[2019-06-24 21:05] whedon commented on #1523
OK, the editor is @katyhuff

[2019-06-24 21:06] jshermeyer commented on #1047
@Kevin-Mattheus-Moerman, @zhampel, @rmsare, @jjmcnelis Thanks for the reviews and constructive feedback.  I've worked to incorporate all of your suggestions throughout this process into the repository in one way or another. As I stated previously I think the process has been worthwhile and I’m appreciative for your time to make CometTS a better and more usable package.

**What I've worked on**
Spe

[2019-06-24 21:09] rheiland commented on #1408
@arfon Thanks for pointing out the fact that I could have whedon generate the pdf myself (apologies for not remembering that when I listed whedon's commands a long time ago).

Some things that are less than ideal in the pdf, but not sure what, if anything, can be done about them. And besides, they are not critical.

* have Figure 1 appear *before* the associated XML block (and the paragraph that m

[2019-06-24 21:14] kyleniemeyer commented on #1523
Thanks @katyhuff! Here are some suggestions.

No conflicts from my domain:
- Prof. James Sutherland (@jcsutherland) or team members at Univ. Utah, like @michael-a-hansen
- Prof. Perrine Pepiot at Cornell (perrine.pepiot@cornell.edu)
- Prof. Francesco Contino at Vrije Universiteit Brussel (@fcontino)

From the JOSS pool:
- @ctdegroot
- @zbeekman
- @adam-m-jcbs

[2019-06-24 21:17] katyhuff commented on #1523
@whedon generate pdf

[2019-06-24 21:17] whedon commented on #1523
[code]

[2019-06-24 21:18] whedon commented on #1523
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01523/joss.01523/10.21105.joss.01523.pdf)

[2019-06-24 21:18] mbobra commented on #1502
@whedon assign @desilinguist as reviewer

[2019-06-24 21:18] whedon commented on #1502
OK, the reviewer is @desilinguist

[2019-06-24 21:18] mbobra commented on #1502
@whedon add @paragkulkarni11 as reviewer

[2019-06-24 21:18] whedon commented on #1502
OK, @paragkulkarni11 is now a reviewer

[2019-06-24 21:19] mbobra commented on #1502
@whedon start review magic-word=bananas

[2019-06-24 21:19] whedon opened #1524 "[REVIEW]: Generic reinforcement learning codebase in TensorFlow"
**Submitting author:** @alexanderimanicowenrivers (<a href="http://orcid.org/0000-0002-2669-9513">Alexander I. Cowen-Rivers</a>)
**Repository:** <a href="https://github.com/for-ai/rl" target ="_blank">https://github.com/for-ai/rl</a>
**Version:** 1.0.0
**Editor:** @mbobra
**Reviewer:** @desilinguist, @paragkulkarni11
**Archive:** <a href="https://doi.org/10.5281/zenodo.3408453" target="_blank">10.

[2019-06-24 21:19] whedon commented on #1502
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1524. Feel free to close this issue now!

[2019-06-24 21:19] whedon commented on #1524
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @desilinguist, @paragkulkarni11 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-06-24 21:19] whedon commented on #1524
[code]

[2019-06-24 21:19] #1502 closed

[2019-06-24 21:20] whedon commented on #1524
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01524/joss.01524/10.21105.joss.01524.pdf)

[2019-06-24 21:21] katyhuff commented on #1523
@jcsutherland: Prof. James Sutherland, are you able to and interested in taking on this review?

* A JOSS review involves checking software submissions against a checklist of essential software features and details in the submitted paper. Additional information about reviewing for JOSS can be found [here.](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)
* This submission is in need

[2019-06-24 21:21] mbobra commented on #1524
@desilinguist @paragkulkarni11 Thank you for agreeing to review this submission. Whedon generated a checklist for you above. Please let me know if you have any questions or comments!

[2019-06-24 21:23] katyhuff commented on #1523
@fcontino : Prof. Francesco Contino, are you able to and interested in taking on this review?

* A JOSS review involves checking software submissions against a checklist of essential software features and details in the submitted paper. Additional information about reviewing for JOSS can be found [here.](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)
* This submission is in need o

[2019-06-24 21:25] katyhuff commented on #1523
@zbeekman : Zaak Beekman are you able to and interested in taking on this review?

* A JOSS review involves checking software submissions against a checklist of essential software features and details in the submitted paper. Additional information about reviewing for JOSS can be found [here.](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)
* This submission is in need of expertise

[2019-06-24 21:26] mbobra commented on #1524
@alexanderimanicowenrivers Thank you for helping me find reviewers. I really appreciate it. Do you mind addressing the comments by @cervere (in #1502) in the manuscript (doesn't have to be long)?

[2019-06-24 21:39] alexpghayes commented on #1412
This looks great! @karthik I recommend publication.

[2019-06-24 21:41] vsoch commented on #1522
Think of any kind of research application that involves a database (mongodb, postgres, etc.) along with an application to interact with it. For example, Singularity Compose is going to fit in nicely with being used on our SLURM cluster to start a database on a node for a researcher's (containerized) scripts to interact with. A second example is with respect to interactive applications. I'm not a h

[2019-06-24 21:43] vsoch commented on #1522
And of course reproducibility of all of the above - given that I run my specific database service + application, by placing the singularity-compose.yml alongside the version controlled code and container recipes, this ensures not just reproducibility of the container build, but also deployment of the services to do some analysis. I believe I stated this in the paper. :)

[2019-06-24 21:58] vsoch commented on #1522
@kyleniemeyer please let me know if you have other questions, or if you'd like me to suggest reviewers (those with experience with reproducibility and/or container technologies would be well suited!)

[2019-06-24 22:03] vsoch commented on #1522
oh that's so cool! @whedon extracts labels now! You're the best robot, @whedon  <3

[2019-06-24 22:40] zbeekman commented on #1523
I'm interested but a bit short on time these days. I just finished on JOSS review (f90nml), and my portion of another is still in progress but nearly done.

Also, I don't know if this would be a COI, but my employer, [ParaTools Inc.](www.paratools.com), has a commercial product, [KPP Accelerated (KPPA)](http://www.paratools.com/kppa/), that may have some overlap of pyMARS, and, *might* be a compet

[2019-06-24 22:43] katyhuff commented on #1523
Thanks @zbeekman . We'll wait and see what the others say.

[2019-06-24 22:53] kyleniemeyer commented on #1522
@vsoch great, thank you for the information. I do think that both the README and JOSS paper need to emphasize the research application a bit more, so it's clear, but that can happen through the review process.

[2019-06-24 22:54] kyleniemeyer commented on #1522
@gkthiruvathukal can you take on this submission? otherwise, @danielskatz also looks like a good fit.

[2019-06-24 22:59] gkthiruvathukal commented on #1522
@kyleniemeyer I think I can.  I have a few reviews nearing completion so I should be fine with it.

[2019-06-24 23:02] kyleniemeyer commented on #1522
@whedon assign @gkthiruvathukal as editor

[2019-06-24 23:02] whedon commented on #1522
OK, the editor is @gkthiruvathukal

[2019-06-24 23:26] lheagy commented on #1328
Many thanks @srmnitc! Safe travels

[2019-06-24 23:29] alexanderimanicowenrivers commented on #1524
Thanks for agreeing to review, and I have already addressed these comments in my reply here https://github.com/openjournals/joss-reviews/issues/1502#issuecomment-504362129

[2019-06-24 23:53] brmather commented on #1521
@whedon commands

[2019-06-24 23:53] whedon commented on #1521
Here are some things you can ask me to do:

[code]

[2019-06-24 23:54] brmather commented on #1521
@whedon check references

[2019-06-24 23:54] whedon commented on #1521
[code]

[2019-06-24 23:54] whedon commented on #1521
[code]

[2019-06-24 23:55] brmather commented on #1521
@whedon generate pdf

[2019-06-24 23:55] whedon commented on #1521
[code]

[2019-06-24 23:55] whedon commented on #1521
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01521/joss.01521/10.21105.joss.01521.pdf)

[2019-06-25 00:06] brmather commented on #1521
@kyleniemeyer thank you for handling the submission. I have removed @rdelhaye ORCID and the PDF has been successfully generated.

I recommend the following two reviewers for our submission:

- Santiago Soler (github:santisoler)
- Claire Bouligand Claire.Bouligand@univ-grenoble-alpes.fr

Please let me know if you would like more suggestions.

Kind regards,
Ben

[2019-06-25 00:18] JonathanReardon commented on #1456
Hi! Yes, I'd be happy to review this, it looks really nice! Thanks for the heads up

[2019-06-25 01:04] alexhanna commented on #1453
@whedon set version as v0.1.5

[2019-06-25 01:05] alexhanna commented on #1453
@whedon set v0.1.5 as version

[2019-06-25 01:05] whedon commented on #1453
OK. v0.1.5 is the version.

[2019-06-25 02:14] jdrugo commented on #1359
@usethedata I tagged a new version/release v0.3. The Zenodo DOI is https://doi.org/10.5281/zenodo.3255135.

[2019-06-25 04:34] kyleniemeyer commented on #1456
Thanks @JonathanReardon!

[2019-06-25 04:35] kyleniemeyer commented on #1456
@whedon add @JonathanReardon as reviewer

[2019-06-25 04:35] whedon commented on #1456
OK, @JonathanReardon is now a reviewer

[2019-06-25 04:35] kyleniemeyer commented on #1456
@whedon start review

[2019-06-25 04:35] whedon opened #1525 "[REVIEW]: multimatch_gaze: The MultiMatch algorithm for gaze path comparison in Python"
**Submitting author:** @AdinaWagner (<a href="http://orcid.org/0000-0003-2917-3450">Adina Wagner</a>)
**Repository:** <a href="https://github.com/adswa/multimatch_gaze" target ="_blank">https://github.com/adswa/multimatch_gaze</a>
**Version:** v0.1.1
**Editor:** @kyleniemeyer
**Reviewer:** @FelixHenninger, @JonathanReardon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3369531" target="_blan

[2019-06-25 04:35] whedon commented on #1456
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1525. Feel free to close this issue now!

[2019-06-25 04:35] whedon commented on #1525
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @FelixHenninger, @JonathanReardon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'

[2019-06-25 04:35] whedon commented on #1525
[code]

[2019-06-25 04:36] #1456 closed

[2019-06-25 04:36] whedon commented on #1525
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01525/joss.01525/10.21105.joss.01525.pdf)

[2019-06-25 04:38] kyleniemeyer commented on #1525
Hi @adswa @FelixHenninger @JonathanReardon 👋  the actual review will take place in here

[2019-06-25 04:39] amoeba commented on #1501
Hey @xuanxu, @prabhuramachandran has resolved my outstanding issue and my review is now an Accept.

[2019-06-25 05:43] Matiszak commented on #1444
@danielskatz Thank you, the PR is merged.

[2019-06-25 06:57] RomainAzais commented on #1351
🎊 🎊 🍸
Thank you very much @arfon, @dvberkel, and @VivianePons for your work!
All the best,
Romain

[2019-06-25 09:54] ts-chris commented on #1519
@whedon generate pdf from branch joss_paper

[2019-06-25 09:54] whedon commented on #1519
[code]

[2019-06-25 09:55] whedon commented on #1519
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01519/joss.01519/10.21105.joss.01519.pdf)

[2019-06-25 11:57] prisae commented on #1463
I thought I'd ask about the status of the review, as over five weeks passed since the review started.

[2019-06-25 12:04] arfon commented on #1408
Just to confirm, do you want the XML before the figure or vice versa? The current proof looks like this to me:

<img width="891" alt="Screen Shot 2019-06-25 at 8 03 29 AM" src="https://user-images.githubusercontent.com/4483/60096768-cff17900-971f-11e9-98d4-0a231868f18e.png">

[2019-06-25 12:14] danielskatz commented on #1444
@whedon generate pdf

[2019-06-25 12:14] whedon commented on #1444
[code]

[2019-06-25 12:14] akelbert commented on #1463
Yes, I'm very sorry for the delay. I haven't been able to install the software yet because of the summer travel. Also, this is a new process for me and I haven't figured it out yet.  I'm on my way to the airport again right now. I'll try to provide something within a week, but if you need to proceed without my review I would also understand.

Anna

Sent from my android device.

-----Original Messa

[2019-06-25 12:14] whedon commented on #1444
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01444/joss.01444/10.21105.joss.01444.pdf)

[2019-06-25 12:14] danielskatz commented on #1444
@whedon accept

[2019-06-25 12:14] whedon commented on #1444
[code]

[2019-06-25 12:15] whedon commented on #1444
[code]

[2019-06-25 12:15] whedon commented on #1444
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/794

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/794, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-25 12:21] danielskatz commented on #1444
👋 @Matiszak - please also merge https://github.com/MI2DataLab/modelDown/pull/74, which has fixes for the cases of words in the bibtex. Then ping @openjournals/joss-eics for the final acceptance

[2019-06-25 12:48] rheiland commented on #1408
The XML before the figure would be more logical.

On Tue, Jun 25, 2019 at 8:04 AM Arfon Smith <notifications@github.com>
wrote:

[2019-06-25 14:54] lheagy commented on #1521
Happy to @kyleniemeyer!

[2019-06-25 14:54] lheagy commented on #1521
@whedon assign @lheagy as editor

[2019-06-25 14:54] whedon commented on #1521
OK, the editor is @lheagy

[2019-06-25 14:58] sanskriti-s commented on #1420
@arokem : done!

[2019-06-25 15:03] lheagy commented on #1521
:wave: @fourndo, @santisoler, would you be willing to review this submission for JOSS (Journal of Open Source Software)? With both of your experience in Magnetic methods, I would very much appreciate your input!

If you haven't reviewed with JOSS before, the review process is a bit different. We focus on the software, and provide a checklist to help guide the review (more info in the [reviewer gui

[2019-06-25 15:20] arfon commented on #1408
@whedon generate pdf from branch arfon:patch-1

[2019-06-25 15:20] whedon commented on #1408
[code]

[2019-06-25 15:21] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-25 15:22] arfon commented on #1408
@rheiland - I don't think Whedon knows how to build a change from my pull request (https://github.com/rheiland/xml2jupyter/pull/7) but when I build the PDF locally with the changes in https://github.com/rheiland/xml2jupyter/pull/7 I get this:

[10.21105.joss.01408.pdf](https://github.com/openjournals/joss-reviews/files/3325993/10.21105.joss.01408.pdf)

[2019-06-25 15:26] rheiland commented on #1408
@whedon generate pdf

[2019-06-25 15:26] whedon commented on #1408
[code]

[2019-06-25 15:27] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-25 15:28] arfon commented on #1408
How's that looking @rheiland?

[2019-06-25 15:34] rheiland commented on #1408
Beautiful, IMO :-)  Thanks for your PR! In fact, the pdf now looks *very*
similar to the one I generated using my hacky script.

On Tue, Jun 25, 2019 at 11:28 AM Arfon Smith <notifications@github.com>
wrote:

[2019-06-25 15:38] fcontino commented on #1523
Sure and with great pleasure. I'll need some time thought because I have
many other review tasks on my plate right now. What would be an acceptable
deadline?

Thank you for involving me in this.

Best regards,

Francesco

On Mon, Jun 24, 2019 at 11:23 PM Katy Huff <notifications@github.com> wrote:

--

(Call for papers special issue of Frontiers journal on alternative fuels
<https://www.frontiersi

[2019-06-25 15:45] xuanxu commented on #1501
Great, thanks @amoeba!

[2019-06-25 15:47] xuanxu commented on #1501
@deniederhut: did you had the opportunity to start your review?

[2019-06-25 15:57] deniederhut commented on #1501
Nope. We're in the middle of the reviews for SciPy.

On Tue, Jun 25, 2019, 10:47 Juanjo Bazán <notifications@github.com> wrote:

[2019-06-25 16:05] dap-biospec commented on #1516
@kyleniemeyer I am working on it. Hopefully, it will expand JOSS Igor reviewers database too.

[2019-06-25 16:38] lheagy commented on #1408
Excellent, thanks for your help @arfon 🎉

@rheiland: can you please generate a new release of  `xml2jupyter`, archive it on [zenodo](http://zenodo.org) or similar and post the doi here. Please make sure that the author list and title match the those on the paper.

[2019-06-25 16:56] rheiland commented on #1408
@lheagy: will it be OK to leave my gen_pdf.sh script (and a resulting .pdf) in the /paper directory when I generate a new release, or would that cause problems/confusion?
I also have a /preprint directory that I will remove before doing a new release.

[2019-06-25 16:59] dhhagan commented on #1480
@arfon For some reason, it keeps saying that it can't find the invitation and won't let me accept.

<img width="1429" alt="Screen Shot 2019-06-25 at 12 58 12 PM" src="https://user-images.githubusercontent.com/4370504/60117856-fe377e80-9748-11e9-86e9-15a31a33cabc.png">

[2019-06-25 17:01] lheagy commented on #1408
@rheiland: I think leaving the `gen_pdf.sh` is fine, but the pdf might cause confusion (particularly as the DOI is not assigned in the one in your repo). So I would recommend removing it. If you wanted to keep this in your repo, then keeping the `preprint` directory and moving the pdf there would be appropriate.

[2019-06-25 17:06] whedon commented on #1005
:wave: @adammichaelwood, please update us on how your review is going.

[2019-06-25 17:08] karthik commented on #1412
@whedon check references

[2019-06-25 17:08] whedon commented on #1412
[code]

[2019-06-25 17:09] whedon commented on #1412
[code]

[2019-06-25 17:25] kyleniemeyer commented on #1516
@whedon add @faustincarter as reviewer

[2019-06-25 17:25] whedon commented on #1516
OK, @faustincarter is now a reviewer

[2019-06-25 17:26] kyleniemeyer commented on #1516
@dap-biospec we now have two reviewers, but I would really like to get at least one person with domain-specific knowledge, if you can suggest one or two. If you just have names/email addresses, I can reach out.

[2019-06-25 17:42] karthik commented on #1412
@alexpghayes Thanks so much for such a thorough review. Your review has improved this package far beyond the checklist we have here. 🙏 💯

@strengejacke and co-authors: The paper in the current form is a little too long for JOSS. JOSS papers are not meant to replace documentation, and should really only provide a high level overview of the package and highlight a few applications. It should not rea

[2019-06-25 17:54] junzis commented on #1518
@danielskatz - Do items from the checklist "Document" section also need to be included in the paper? Thanks!

[2019-06-25 18:01] danielskatz commented on #1518
The documentation criteria is:

The paper needs are shown at the top of https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-06-25 18:21] junzis commented on #1518
@xoolive - The paper, library, and document all look great! Here are my minor comments:

1) It will be great if you can emphasize "the statement of need" in the paper. Perhaps from the perspective of ATM researcher point of view.

2) Is there already an archive version of the library on Zenodo, Figshare, or similar?  The "Archive" link in the PDF seems not working.

[2019-06-25 18:22] arfon commented on #1480
Hrm. Can you try again now?

[2019-06-25 18:35] kthyng commented on #1506
Thanks for everyone's effort so far! Sorry for my slow response; I've been traveling.

@tomchor Are there any lingering issues you'd like to see addressed? I see one checkbox still unchecked.

@platipodium How are things from your perspective?

[2019-06-25 18:41] tomchor commented on #1506
@kthyng I apologize, I forgot to update my checkboxes. There are no more issues to be addressed. I believe now I've ticked every checkbox I had to! :)

Cheers

[2019-06-25 18:43] kthyng commented on #1498
@hugoledoux Are you interested and available to review this submission to JOSS? We prefer reviews to be in within about 3 weeks and you can find guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2019-06-25 18:51] platipodium commented on #1506
I have so far failed to successfully install the software on my local system, neither  via conda forge nor on my system python installation, that's why I did not check functionality.

[2019-06-25 19:03] malmans2 commented on #1506
@platipodium could you please tell me a little more about the issues you are encountering?
In my experience the following commands usually solve all problems:
[code]

They basically just edit you `.condarc`, which should look like:

[code]

If your `.condarc` has been edited before and looks different, or if you are using a very old version of conda, this could be another source of problems.

[2019-06-25 19:06] rheiland commented on #1408
@whedon generate pdf

[2019-06-25 19:06] whedon commented on #1408
[code]

[2019-06-25 19:07] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-25 19:07] strengejacke commented on #1412
@whedon generate pdf

[2019-06-25 19:07] whedon commented on #1412
[code]

[2019-06-25 19:07] whedon commented on #1412
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01412/joss.01412/10.21105.joss.01412.pdf)

[2019-06-25 19:09] strengejacke commented on #1412
Ok, I revised the paper accordingly and just checked the PDF proof. Next step would be creating an archive with a DOI, right?

[2019-06-25 19:17] strengejacke commented on #1412
Here is the DOI linking to the archive with the very latest updates: 10.5281/zenodo.3256612

[2019-06-25 19:28] karthik commented on #1412
Something is wrong with your references now. Can you check again?

[2019-06-25 19:36] strengejacke commented on #1412
Some references have been deleted during the removal of the paragraphs you suggested, so the reference list is shorter now. Maybe it was the bib-file, which still contained the old entries? What about now?

[2019-06-25 19:50] strengejacke commented on #1412
Ok, I reduced the parapgraphs into one sentence, inlcuding the references (I added them back now), and referring to the website. So we have removed the long sections, but still have all references in the paper as before. The new DOI for this archive is: 10.5281/zenodo.3256639

I'll generate a PDF proof to check.

[2019-06-25 19:50] strengejacke commented on #1412
@whedon generate pdf

[2019-06-25 19:50] whedon commented on #1412
[code]

[2019-06-25 19:51] whedon commented on #1412
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01412/joss.01412/10.21105.joss.01412.pdf)

[2019-06-25 19:52] ybayle commented on #1262
Hi @patrikhuber,
Everything should be fine now and I have formatted the code using https://github.com/python/black.
Thanks again for your comments!

[2019-06-25 19:53] strengejacke commented on #1412
Looks good to me, fits into exactly 6 pages.

[2019-06-25 20:05] karthik commented on #1412
Thanks. Please archive again and send me the updated DOI.

[2019-06-25 20:25] strengejacke commented on #1412
Sorry, maybe this got lost in the conversation. Here's the updated DOI from the archive containing the very last changes:

10.5281/zenodo.3256639

[2019-06-25 20:34] karthik commented on #1412
@whedon set 10.5281/zenodo.3256639 as archive

[2019-06-25 20:34] whedon commented on #1412
OK. <a href="https://doi.org/10.5281/zenodo.3256639" target="_blank">10.5281/zenodo.3256639</a> is the archive.

[2019-06-25 20:36] karthik commented on #1412
Over to you @openjournals/joss-eics

[2019-06-25 20:39] ybayle commented on #1262
Hi @r-barnes: the new version v1.0.6 with all the fixes is now available on pypi https://pypi.org/project/Scyland3D/

[2019-06-25 20:43] xoolive commented on #1518
Thank you @junzis for the feedback.

1. I will emphasize this statement of need and let you know here when ready.
2. It looks like it's all [there](https://joss.readthedocs.io/en/latest/whedon.html?highlight=zenodo#setting-the-software-archive)!
3. I am not sure it is a good idea: pyarrow and fastparquet are optional dependencies for pandas for a reason. Both have strengths and weaknesses and the

[2019-06-25 21:17] dhhagan commented on #1480
@arfon That worked! Should have the review done within 24h.

[2019-06-25 21:34] gvegayon commented on #1493
OK @mschubert @mllg, I've worked on the issues you created on the project's repo. Addressed all of the required ones plus some of those which were not mandatory (thanks!). LMK if you are OK with the changes, and if so, please close the issues that you consider complete.

Also, following recent changes on how to list contributions on R packages (if you are OK with it) I've added both of you in the

[2019-06-25 22:18] kyleniemeyer commented on #1412
Looks good to me!

[2019-06-25 22:18] kyleniemeyer commented on #1412
@whedon accept

[2019-06-25 22:18] whedon commented on #1412
[code]

[2019-06-25 22:18] whedon commented on #1412
[code]

[2019-06-25 22:18] whedon commented on #1412
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/795

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/795, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-25 22:20] kyleniemeyer commented on #1412
@whedon accept deposit=true

[2019-06-25 22:20] whedon commented on #1412
[code]

[2019-06-25 22:21] whedon commented on #1412
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1143645346297458691) 👈 🐦🐦🐦

[2019-06-25 22:21] whedon commented on #1412
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/796
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01412](https://doi.org/10.21105/joss.01412)
2. If everything looks go

[2019-06-25 22:23] kyleniemeyer commented on #1412
Congrats on your article's acceptance in JOSS @strengejacke! Thanks to @alexpghayes for reviewing and @karthik for editing.

[2019-06-25 22:23] #1412 closed

[2019-06-25 22:23] whedon commented on #1412
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01412/status.svg)](https://doi.org/10.21105/joss.01412)

**We need your help!**

Journal of Open Source Softwar

[2019-06-25 22:54] whedon opened #1526 "[PRE REVIEW]: Adeft: Acromine-based Disambiguation of Entities from Text with applications to the biomedical literature"
**Submitting author:** @johnbachman (<a href="http://orcid.org/0000-0001-6095-2466">John Bachman</a>)
**Repository:** <a href="https://github.com/indralab/adeft" target ="_blank">https://github.com/indralab/adeft</a>
**Version:** 0.3.0
**Editor:** @brainstorm
**Reviewers:** @GullyAPCBurns, @gbader

**Author instructions**

Thanks for submitting your paper to JOSS @johnbachman. **Currently, there i

[2019-06-25 22:54] whedon commented on #1526
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-25 22:54] whedon commented on #1526
[code]

[2019-06-25 22:54] whedon commented on #1526
PDF failed to compile for issue #1526 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1526/paper/paper.md): found unexpected document indicator while scanning a quoted scalar at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `p

[2019-06-25 22:55] kyleniemeyer commented on #1526
Hi @brainstorm, can you edit this submission?

[2019-06-25 22:58] kyleniemeyer commented on #1526
Hi @johnbachman, there was a missing close quotation mark in your paper's header that I fixed in https://github.com/indralab/adeft/pull/36, if you could merge that.

In this issue, we'll get an editor assigned to your submission, who will then assign two or more reviewers. If you have suggestions for who we might ask, either from the [JOSS reviewer pool](https://bit.ly/joss-reviewers) or from folk

[2019-06-25 23:01] whedon opened #1527 "[PRE REVIEW]: Agents.jl: agent-based modeling framework in Julia"
**Submitting author:** @kavir1698 (<a href="http://orcid.org/0000-0003-0895-1495">Ali Rezaee Vahdati</a>)
**Repository:** <a href="https://github.com/kavir1698/Agents.jl" target ="_blank">https://github.com/kavir1698/Agents.jl</a>
**Version:** v1.1.2
**Editor:** @jedbrown
**Reviewers:** @Datseris

**Author instructions**

Thanks for submitting your paper to JOSS @kavir1698. **Currently, there isn'

[2019-06-25 23:01] whedon commented on #1527
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-25 23:01] whedon commented on #1527
[code]

[2019-06-25 23:01] whedon commented on #1527
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01527/joss.01527/10.21105.joss.01527.pdf)

[2019-06-25 23:02] kyleniemeyer commented on #1527
Hi @Kevin-Mattheus-Moerman or @jedbrown, could one of you edit this submission?

[2019-06-25 23:28] karthik commented on #1493
Thanks @gvegayon! I'm glad you added the reviewers with the appropriate MARC roles (it's recommended at rOpenSci but not here). If either reviewer objects or declines, you can revert the change.

Glad to see the process working! Please see another issue I raised on your repo.

[2019-06-26 00:05] kyleniemeyer commented on #1500
Hello @Benjamin-Lee, any updates on your review, or when you expect to complete it? Thanks!

[2019-06-26 00:07] kyleniemeyer commented on #791
@boshek can you let us know when you might be able to complete your review? It's ok if you need more time, but a target date would be helpful.

[2019-06-26 00:11] kyleniemeyer commented on #1256
Hi @scan2001, just wanted to check on your progress. Can you give us an expected date when you think you'll be able to complete that work?

[2019-06-26 00:18] kyleniemeyer commented on #1294
Hi @tyarkoni, have you had a chance to work on this? If not, can you give us an anticipated date? More time is fine, we can set an automated reminder, or pause the submission if it will take a very long time.

[2019-06-26 00:19] kyleniemeyer commented on #1470
Hi @DrMichaelLindner, could you please respond to the above request? Otherwise, we will withdraw the submission.

[2019-06-26 00:19] kyleniemeyer commented on #1295
Hi @jdkent, sorry for the repeated bugging, but any updates?

[2019-06-26 00:52] jdkent commented on #1295
Hi Sorry, I was at a conference and I missed responding to the last comment. This is high in my queue, I'm putting in a good faith effort to finish by the end of this week.

[2019-06-26 01:24] effigies commented on #1294
@kyleniemeyer @cMadan I went ahead and addressed these concerns: https://github.com/bids-standard/pybids/pull/452

If possible, it would be nice to try to render before merging to master, to avoid too many PRs. I don't know if there are docs on how to render locally. The main thing I'm not sure of is whether using the bracket (`{}`) syntax will resolve the issues with KJG's name in citations.

[2019-06-26 01:48] leouieda commented on #1315
Hi @sauln, any updates on you progress? Please let me know if you need some more time or have any questions/concerns.

[2019-06-26 01:58] rmsare commented on #1047
@jshermeyer Thanks for your response. I will be able to look through your changes in more detail this weekend.

@Kevin-Mattheus-Moerman, I will add a comment here when that's done and follow up in review issues where appropriate.

[2019-06-26 02:00] leouieda commented on #1425
@benmaier there shouldn't be a problem. Before acceptance I would ask you to make a release with the changes that came about during review anyway. We'll update the actual version number later on as well. Sorry for the delay with this. I'm trying to find another reviewer that could give me a second opinion.

[2019-06-26 02:07] leouieda commented on #1451
@banesullivan sorry, it did fall off the radar for a while. Thanks for the reminder :slightly_smiling_face:

@gassmoeller and @Leguark thank you for the reviews! Regarding the version number, it's OK that there is a newer release. We'll update the version number here when it's time for publication. I see that you two **still have unchecked items** in your checklists. Is there anything that still n

[2019-06-26 05:34] hugoledoux commented on #1498
Sure

[2019-06-26 05:54] Leguark commented on #1451
No, I am simply not able to edit the first message for some reason but you can consider all checked

[2019-06-26 07:09] Benjamin-Lee commented on #1500
Sorry, I've been swamped with travel. I'll start my review now.

[2019-06-26 07:42] kyleniemeyer commented on #1294
@effigies you might check out the `compile` script another JOSS author put together, which I've used successfully to locally build a paper fairly easily: https://github.com/connorourke/crystal_torture/blob/master/paper/compile

[2019-06-26 07:42] Benjamin-Lee commented on #1500
Ok, I just added five initial issues to the repo. @AliYoussef96, I hope my issues are understandable but if not, please don't hesitate to reach out for more information. I'm excited to try this tool out!

[2019-06-26 07:43] kyleniemeyer commented on #1295
@whedon remind @jdkent in 1 week

[2019-06-26 07:43] whedon commented on #1295
Reminder set for @jdkent in 1 week

[2019-06-26 07:47] patrikhuber commented on #1262
@ybayle Just fyi the tooth image doesn't load on the pypi page, at least in my browser. If you have the problem as well, it might be because of the relative URL. I just checked my project and what I did was use the "raw" URL for the image (I probably found that solution in stackoverflow or somewhere): E.g.: `https://raw.githubusercontent.com/patrikhuber/eos/gh-pages/images/sfm_shape_3448_mesh.png`

[2019-06-26 08:25] junzis commented on #1518
@xoolive - Thanks for your clarifications. In this case, my last two comments can be ignored.

[2019-06-26 08:59] whedon commented on #1434
:wave: @fauvernierma, please update us on how things are progressing here.

[2019-06-26 09:35] gassmoeller commented on #1451
I was just waiting for your confirmation about the version number. Everything ready from my side.

[2019-06-26 09:35] fauvernierma commented on #1434
Hello everyone,

My method article has finally been accepted for publication in the Journal of the Royal Statistical Society Series C. I will soon be able to provide a DOI.

Concerning the ongoing issues I will respond as soon as possible (probably this Friday or on Monday)

Have a nice day

[2019-06-26 09:46] poulson commented on #1490
:wave: Stuart (@stuartcampbell): given your expertise in particle physics and Python, you would be a great referee for this submission. Would you be willing and able to help handle this paper?

:wave: Lee (@mlxd): similarly, given your physics and python expertise, having you as a reviewer would be perfect. Do you have the time and interest to help handle this submission?

[2019-06-26 10:16] kavir1698 commented on #1527
Hi,
From the provided list of potential reviewers, I suggest the following reviewers:

* ajgates42@gmail.com
* erahulkulkarni@gmail.com
* amin.sadeghi@mail.mcgill.ca

[2019-06-26 10:20] Kevin-Mattheus-Moerman commented on #1441
@likask can you point me to some more basic documentation on how to get started to run some examples. I did the following as you suggested:
[code]
I then went to: `/mofem-cephas/mofem/users_modules/basic_finite_elements/nonlinear_elasticity/examples/dam` and ran:

[code]
This resulted in:
[code]

[2019-06-26 11:02] danielskatz commented on #1518
The archive link is not needed yet - we will add that at the end once any needed changes are made.  (We're discussing changing this review criteria, but haven't settled on exactly how to yet.)

[2019-06-26 11:22] mlxd commented on #1490
Hi @poulson , I won't have the time in the coming month for this. If things haven't moved forward by end of July I should have some time by then.

[2019-06-26 11:59] dhhagan commented on #1480
Hey @arfon Sorry to bother you again, but for some reason when I logged on this morning,  I no longer had access - not sure what's going on with GitHub...

[2019-06-26 13:05] likask commented on #1441
@Kevin-Mattheus-Moerman I apologise for the confusion, I put this to run units tests in the docker. We are using that for testing. If you like to run some particular cases, is better to use spack on the system. However, if you like you, you can execute the dam example as follows

#Run docker container

`docker run --rm=true -it -v  `pwd`/mofem:/mofem -v $HOME:$HOME -e HOSTHOME=$HOME spack_mofem_bu

[2019-06-26 13:32] stuartcampbell commented on #1490
Hi Jack, (@poulson),  I don't really know anything about particle physics, my background is in condensed matter physics and neutron/x-ray scattering.  But if you still want me to, I am willing to have a look.

[2019-06-26 14:00] Juke34 commented on #1344
@whedon generate pdf

[2019-06-26 14:00] whedon commented on #1344
[code]

[2019-06-26 14:01] whedon commented on #1344
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01344/joss.01344/10.21105.joss.01344.pdf)

[2019-06-26 14:05] cMadan commented on #1294
@effigies, it's possible to generate the pdf from a branch `@whedon generate pdf from branch custom-branch-name`, but it looks like your current PR is on a branch of a fork, which is not supported.

[2019-06-26 14:09] arfon commented on #1480
@dhhagan - I'm so sorry for the trouble we've caused you here. You've actually helped me uncover a bug in our infrastructure. This should be fixed in https://github.com/openjournals/joss/commit/16230e01a4fdafc7a9df4f894b8f4a0dc46909b7 but you will have to accept the invite (hopefully for the last time!) again.

[2019-06-26 14:14] lpantano commented on #1344
@mistrm82, the package should be able through bioconda today, so feel free to test it from tomorrow. Let us know if you find any issue. Thanks!

[2019-06-26 14:21] Kevin-Mattheus-Moerman commented on #1441
@likask I'm not a C++ specialist and this is also my first real experience with Docker. Part of the dam example ran using the above code (which is not trivial to set up, should you simplify this and create a run_dam_example script?). Also the dam models takes very long to run. How can a user see how long the model has to go? Can you add a progress indicator e.g. steps 50 of 100 or 50%.

Can you cr

[2019-06-26 14:59] effigies commented on #1294
@whedon generate pdf from branch joss-review

[2019-06-26 14:59] whedon commented on #1294
[code]

[2019-06-26 14:59] whedon commented on #1294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01294/joss.01294/10.21105.joss.01294.pdf)

[2019-06-26 15:10] effigies commented on #1294
@cMadan Thanks for the tip. Made one more change, so I'll re-render and I think we'll be ready for a final review, pending @tyarkoni approval of the changes I've made.

@whedon generate pdf from branch joss-review

[2019-06-26 15:10] effigies commented on #1294
New PR: https://github.com/bids-standard/pybids/pull/453

[2019-06-26 15:11] effigies commented on #1294
@whedon generate pdf from branch joss-review

[2019-06-26 15:11] whedon commented on #1294
[code]

[2019-06-26 15:12] whedon commented on #1294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01294/joss.01294/10.21105.joss.01294.pdf)

[2019-06-26 15:32] johnbachman commented on #1526
Thanks very much! We've gone through the list of reviewers and suggest the following (based on listed experience in Python, NLP, and/or computational biology):

* bagheria
* ionlights
* nhejazi
* gweissman

[2019-06-26 15:43] johnbachman commented on #1526
The following also appear suitable but are fairly high up on the list:

* desilinguist
* jkahn

[2019-06-26 15:53] likask commented on #1441
@Kevin-Mattheus-Moerman it could be that docker is not the best choice, but we can work with it.

# Run docker container

[code]

# Run simple L-shape beam which will run very quick.

In docker just copy and paste following script,

[code]

You can copy out.vtk file somewhere to your host directory, if you are in Mac OS, somewhere to /User, on linux /home, and see VTK in ParaView.

[2019-06-26 15:54] lpantano commented on #1520
@whedon add @arunhpatil as reviewer

[2019-06-26 15:55] whedon commented on #1520
OK, @arunhpatil is now a reviewer

[2019-06-26 16:24] kyleniemeyer commented on #1526
@whedon generate pdf

[2019-06-26 16:24] whedon commented on #1526
[code]

[2019-06-26 16:25] whedon commented on #1526
PDF failed to compile for issue #1526 with the following error:

 Error reading bibliography ./paper.bib (line 26, column 4):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-26 16:29] johnbachman commented on #1526
Found two missing commas in ``paper.bib``, just fixed them and pushed again.

[2019-06-26 16:29] johnbachman commented on #1526
@whedon generate pdf

[2019-06-26 16:29] whedon commented on #1526
[code]

[2019-06-26 16:29] whedon commented on #1526
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01526/joss.01526/10.21105.joss.01526.pdf)

[2019-06-26 16:36] johnbachman commented on #1526
Fixed missing references and misc formatting.

@whedon generate pdf

[2019-06-26 16:36] johnbachman commented on #1526
@whedon generate pdf

[2019-06-26 16:36] whedon commented on #1526
[code]

[2019-06-26 16:36] whedon commented on #1526
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01526/joss.01526/10.21105.joss.01526.pdf)

[2019-06-26 16:52] johnbachman commented on #1526
Proofs look good.

[2019-06-26 17:04] scan2001 commented on #1256
Hi @kyleniemeyer, sorry for the delay. We have already included the guidelines for community members and we will run the tests probably next week, with maximum expected date no later than July 14th.

[2019-06-26 17:05] kyleniemeyer commented on #1256
@whedon remind @scan2001 in 2.5 weeks

[2019-06-26 17:05] whedon commented on #1256
I don't recognize this description of time '2.5' 'weeks'.

[2019-06-26 17:05] kyleniemeyer commented on #1256
@whedon remind @scan2001 in 3 weeks

[2019-06-26 17:05] whedon commented on #1256
Reminder set for @scan2001 in 3 weeks

[2019-06-26 17:12] usethedata commented on #1359
@whedon set v0.3 as version

[2019-06-26 17:12] whedon commented on #1359
OK. v0.3 is the version.

[2019-06-26 17:13] usethedata commented on #1359
@whedon set 10.5281/zenodo.3255135 as archive

[2019-06-26 17:13] whedon commented on #1359
OK. <a href="https://doi.org/10.5281/zenodo.3255135" target="_blank">10.5281/zenodo.3255135</a> is the archive.

[2019-06-26 17:15] usethedata commented on #1359
@whedon generate pdf

[2019-06-26 17:15] whedon commented on #1359
[code]

[2019-06-26 17:15] whedon commented on #1359
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01359/joss.01359/10.21105.joss.01359.pdf)

[2019-06-26 17:16] usethedata commented on #1359
@whedon check references

[2019-06-26 17:16] whedon commented on #1359
[code]

[2019-06-26 17:16] whedon commented on #1359
[code]

[2019-06-26 17:28] usethedata commented on #1359
@openjournals/joss-eics This looks ready to go to me.  Whedon does suggest 10.1080/09332480.2014.914768 as a DOI for one of the references.  However, when I check that DOI, it resolves to a Taylor and Francis page which is a _review_ of that book, rather than the book itself.  So, I think that the DOI suggestion should not be used.

[2019-06-26 17:56] dap-biospec commented on #1516
@kyleniemeyer here are several names of potential reviewers in the scientific fields related to our manuscript.  I am not affiliated with any of them.

1) Christopher Neese: physical chemistry, chemical physics, https://electroscience.osu.edu/people/neese.6

2) Tim Causgrove:  chemistry, protein kinetics and thermodynamics http://faculty.tamucc.edu/tcausgrove/Causgrove_Home.html

3) Tony Withers:

[2019-06-26 18:03] dap-biospec commented on #1516
@kyleniemeyer An additional question about supplementary materials for this submission: "conventional" journals have a mechanism of submitting "for review only" materials, such as related manuscripts that did not appear in print yet. We have two submitted manuscripts that illustrate application. I think they will be valuable for reviewers to see, but cannot be uploaded to an open depository on Git

[2019-06-26 18:05] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 18:05] whedon commented on #1485
[code]

[2019-06-26 18:05] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 18:12] karthik commented on #1493
@whedon generate pdf

[2019-06-26 18:12] whedon commented on #1493
[code]

[2019-06-26 18:13] karthik commented on #1493
@whedon check references

[2019-06-26 18:13] whedon commented on #1493
[code]

[2019-06-26 18:13] whedon commented on #1493
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01493/joss.01493/10.21105.joss.01493.pdf)

[2019-06-26 18:13] whedon commented on #1493
[code]

[2019-06-26 18:14] karthik commented on #1493
Everything LGTM.

Over you to @openjournals/joss-eics

[2019-06-26 18:15] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 18:15] whedon commented on #1485
[code]

[2019-06-26 18:15] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 18:17] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 18:17] whedon commented on #1485
[code]

[2019-06-26 18:17] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 18:18] mschubert commented on #1493
`drake` citation looks wrong, shouldn't this be JOSS instead of the package URL?

[2019-06-26 18:19] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 18:19] whedon commented on #1485
[code]

[2019-06-26 18:19] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 18:21] ybayle commented on #1262
Hi @patrikhuber,
The pypi repo now displays correctly the image thanks to your suggested url!

[2019-06-26 18:22] azazel7 commented on #1485
@whedon generate pdf from branch debug_whedon

[2019-06-26 18:26] kyleniemeyer commented on #1493
Yes, @gvegayon, please update the drake citation to the JOSS paper:
[code]

[2019-06-26 18:26] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 18:26] whedon commented on #1485
[code]

[2019-06-26 18:26] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 18:26] rabdill commented on #1512
@csoneson I'd be happy to.

[2019-06-26 18:32] gvegayon commented on #1493
Yes @mschubert, thanks @kyleniemeyer, I looked for papers related to drake on google scholar without success (perhaps needed to look harder?). Changed.

@karthik I see on the bottom of the pdf version is skipping part of my last name (is *Vega Yon*, not just *Yon*). I know this may be a bit painful, but I was wondering if there's any way to fix that? If not, perhaps a PR to JOSS to follow an appro

[2019-06-26 18:42] kyleniemeyer commented on #1493
@gvegayon oh, good catch on your name.

@arfon, is there a way to ensure whedon captures compound / double surnames? Would wrapping it in `{ }` work, as in BibTeX?

[2019-06-26 19:00] kyleniemeyer commented on #1359
Hi @jdrugo, paper looks good overall, I have just a few minor edits for you:

- Can you add more complete affiliation information for yourself, similar to what you'd typically see in a journal article? (Department, institution, city, state, country)
- in the third paragraph from the end (beginning with "More specifically, the models...", one of the sentences is missing something: "... where it (hy

[2019-06-26 19:04] dhhagan commented on #1480
Hey @arfon and @katrinekirkeby I have completed most of the review - I opened up a couple of issues on the github repository - if you can address those, I will approve ASAP!

[2019-06-26 19:32] arfon commented on #1480
Excellent, thanks @dhhagan. @katrinekirkeby - please take a look at these issues and let us know when you have done so.

[2019-06-26 19:41] jkanche commented on #1407
@whedon generate pdf

[2019-06-26 19:41] whedon commented on #1407
[code]

[2019-06-26 19:41] whedon commented on #1407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01407/joss.01407/10.21105.joss.01407.pdf)

[2019-06-26 19:53] kyleniemeyer commented on #1493
Update: using a local compile script, I tried both `{ }` and `" "`, and neither worked. This might require a local paper build by @arfon for now...

[2019-06-26 20:14] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:14] whedon commented on #1485
[code]

[2019-06-26 20:14] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:149:in `parse_affiliations': undefined method `each' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:135:in `parse_authors'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7

[2019-06-26 20:22] katrinekirkeby commented on #1480
Hello @dhhagan regarding the issue about the names, it is a choice we made because we think the name should say what the function is made for. Regarding the issue about contributions we have stated in the readme that the packages is a part of our Masters thesis, and because of that we don’t will be adding further functions, but we will answer questions over mail

[2019-06-26 20:22] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:22] whedon commented on #1485
[code]

[2019-06-26 20:22] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:149:in `parse_affiliations': undefined method `each' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:135:in `parse_authors'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7

[2019-06-26 20:24] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:24] whedon commented on #1485
[code]

[2019-06-26 20:24] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:149:in `parse_affiliations': undefined method `each' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:135:in `parse_authors'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7

[2019-06-26 20:34] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:34] whedon commented on #1485
[code]

[2019-06-26 20:34] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 20:36] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:36] whedon commented on #1485
[code]

[2019-06-26 20:36] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 20:38] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:38] whedon commented on #1485
[code]

[2019-06-26 20:38] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 20:44] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:44] whedon commented on #1485
[code]

[2019-06-26 20:44] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: keywords, affiliations, date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundle

[2019-06-26 20:47] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:47] whedon commented on #1485
[code]

[2019-06-26 20:47] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: keywords (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a3

[2019-06-26 20:49] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:49] whedon commented on #1485
[code]

[2019-06-26 20:50] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
----

[2019-06-26 20:57] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 20:57] whedon commented on #1485
[code]

[2019-06-26 20:57] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-26 21:02] azazel7 commented on #1485
@whedon generate pdf

[2019-06-26 21:02] whedon commented on #1485
[code]

[2019-06-26 21:02] ybayle commented on #1262
@Kevin-Mattheus-Moerman Could you please update the version to https://github.com/ybayle/Scyland3D/releases/tag/v1.0.16 in the description?

[2019-06-26 21:02] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
----

[2019-06-26 21:08] karthik commented on #1493
Thanks @kyleniemeyer and @gvegayon for catching this. Let's wait for @arfon to fix this manually.

[2019-06-26 21:16] sepandhaghighi commented on #1485
@azazel7
I suggest you, remove `paper.yml`, `paper.tex` and `Makefile` and work in wizard mode (only `paper.md` and `paper.bib`)

[2019-06-26 21:30] smk508 commented on #1478
@whedon commands

[2019-06-26 21:30] whedon commented on #1478
Here are some things you can ask me to do:

[code]

[2019-06-26 21:30] smk508 commented on #1478
@whedon generate pdf

[2019-06-26 21:31] whedon commented on #1478
[code]

[2019-06-26 21:31] whedon commented on #1478
PDF failed to compile for issue #1478 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon.rb:123:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f5

[2019-06-26 21:38] camillescott commented on #1425
I'm so sorry folks, I let this completely slip my radar. I can get you in a
review by later tonight, unless you'd like to find another person.
Apologies again.

On Tue, Jun 25, 2019 at 7:00 PM Leonardo Uieda <notifications@github.com>
wrote:

--
Camille Scott

Graduate Group in Computer Science (GGCS)
Lab for Data Intensive Biology
University of California, Davis

cswel@ucdavis.edu (or)
camille.sc

[2019-06-26 22:43] karthik commented on #1473
I added a few more comments in Jeff's issue above.

[2019-06-26 23:00] mgymrek commented on #1500
Hi @AliYoussef96

I agree with the points raised by @Benjamin-Lee. See also my comments below.

### Install process
I agree this should be structured more like a standard Python library with a setup.py file for easy installation of the tool and dependencies.

### Usage/docs
1. I personally prefer that tools take in all the arguments at once rather than prompting for each one. That way it can be mo

[2019-06-26 23:34] ShanaScogin commented on #1515
@usethedata - @andrewheiss seems like a great fit. Would you like to check him out and assign him as a reviewer?

[2019-06-26 23:59] brainstorm commented on #1526
@kyleniemeyer happy to!

[2019-06-26 23:59] brainstorm commented on #1526
@whedon assign @brainstorm as editor

[2019-06-26 23:59] whedon commented on #1526
OK, the editor is @brainstorm

[2019-06-27 00:00] brainstorm commented on #1526
@vsoch, since you have done pretty rad stuff with wordvec/NLP before, would you mind helping me out on reviewing this submission? :)

[2019-06-27 00:19] arfon commented on #1493
Yes, this will have to be fixed manually at the end of the review. From a quick inspection it looks like we're not done with this review yet? If so, I'll fix this once the paper is ready to be accepted.

[2019-06-27 00:23] kyleniemeyer commented on #1493
Ah, I didn't notice the checklists.

@mschubert and @mllg, can you confirm that all the outstanding checklist items are satisfied? (And check them off if so)

[2019-06-27 01:28] leouieda commented on #1425
Hi @camillescott, no problem at all. I know how Github notifications can get and completely understand. Take your time. It would be great to have your review (I haven't found a replacement).

[2019-06-27 01:30] leouieda commented on #1451
@Leguark seems like Whedon un-assigned you temporarily from the issue for some reason. I've gone ahead and checked your boxes.

@gassmoeller thanks for the confirmation!

[2019-06-27 01:30] leouieda commented on #1451
@whedon check references

[2019-06-27 01:30] whedon commented on #1451
[code]

[2019-06-27 01:31] whedon commented on #1451
[code]

[2019-06-27 01:32] leouieda commented on #1451
@whedon generate pdf

[2019-06-27 01:32] whedon commented on #1451
[code]

[2019-06-27 01:32] whedon commented on #1451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01451/joss.01451/10.21105.joss.01451.pdf)

[2019-06-27 01:40] leouieda commented on #1451
@banesullivan since both reviewers are satisfied with this submission I'm pleased to move ahead with acceptance :tada:

Here are the steps you need to take now:

- Double check authors and affiliations (including ORCIDs)
- Do a final proof-reading of the paper and fix any outstanding issues (please link them to this issue)
- Make a release with the latest changes from the review and post the versi

[2019-06-27 01:54] leouieda commented on #1451
@whedon generate pdf

[2019-06-27 01:54] whedon commented on #1451
[code]

[2019-06-27 01:55] whedon commented on #1451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01451/joss.01451/10.21105.joss.01451.pdf)

[2019-06-27 02:26] jdrugo commented on #1359
Hi @kyleniemeyer , I have updated `paper.md` and `paper.bib` to fix those issues. Please let me know if there are any issues remaining.

[2019-06-27 02:32] bii-absd commented on #1512
@csoneson and @rabdill - thank you.

[2019-06-27 03:37] azazel7 commented on #1485
@whedon generate pdf

[2019-06-27 05:46] Matiszak commented on #1444
@whendon generate pdf

[2019-06-27 05:49] Matiszak commented on #1444
@whedon generate pdf

[2019-06-27 05:49] whedon commented on #1444
[code]

[2019-06-27 05:49] whedon commented on #1444
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01444/joss.01444/10.21105.joss.01444.pdf)

[2019-06-27 05:52] Matiszak commented on #1444
@openjournal/joss-eics Merged :+1:

[2019-06-27 05:54] Matiszak commented on #1444
@openjournals/joss-eics Merged :+1:

[2019-06-27 06:21] danielskatz commented on #1444
@whedon accept

[2019-06-27 06:21] whedon commented on #1444
[code]

[2019-06-27 06:21] whedon commented on #1444
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/797

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/797, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-27 06:21] whedon commented on #1444
[code]

[2019-06-27 06:22] danielskatz commented on #1444
@whedon accept deposit=true

[2019-06-27 06:22] whedon commented on #1444
[code]

[2019-06-27 06:23] whedon commented on #1444
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1144129095669862405) 👈 🐦🐦🐦

[2019-06-27 06:23] whedon commented on #1444
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/798
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01444](https://doi.org/10.21105/joss.01444)
2. If everything looks go

[2019-06-27 06:24] #1444 closed

[2019-06-27 06:24] whedon commented on #1444
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01444/status.svg)](https://doi.org/10.21105/joss.01444)

**We need your help!**

Journal of Open Source Softwar

[2019-06-27 06:27] danielskatz commented on #1518
👋 @espinielli - have you had a chance to start your review?

[2019-06-27 06:47] Amalan-ConStat commented on #1505
@osorensen  Regarding how i addressed issues pointed out by @jjharden ,
1. I added a dependencies section in the article. Which specifies why the dependency packages are used and what they are.
2. Just an example has been changed to a title called "Modelling", which explains the steps from 1 to 5 in the article more clearly. Where a final conclusion has been reached of which distribution fits the

[2019-06-27 07:10] sepandhaghighi commented on #1485
@whedon generate pdf

[2019-06-27 07:10] whedon commented on #1485
[code]

[2019-06-27 07:10] whedon commented on #1485
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01485/joss.01485/10.21105.joss.01485.pdf)

[2019-06-27 07:16] sepandhaghighi commented on #1485
@azazel7 Now add your references to `paper.md`

[2019-06-27 10:24] olivertomic commented on #980
@labarba @arfon @danielskatz  I have solved most of  the issues suggested by @jsgalan as can be seen from the repository updates and new Jupyter notebooks with examples. I would to ask you kindly for another week to finish up some polishing of the documentation. Would that be OK for you?

[2019-06-27 10:51] arfon commented on #980
Yes, that's fine with me. Thanks for keeping with this!

[2019-06-27 11:32] arfon commented on #1500
@whedon generate pdf

[2019-06-27 11:32] whedon commented on #1500
[code]

[2019-06-27 11:33] whedon commented on #1500
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01500/joss.01500/10.21105.joss.01500.pdf)

[2019-06-27 13:16] vsoch commented on #1526
hey @brainstorm ! It's been a few years since I've looked at NLP, so I would suggest that we also find someone else that is actively practicing, and have me as a second reviewer? But this looks incredibly cool and it would be an honor! I may not have time until the weekend, but that's still pretty soon :)

[2019-06-27 13:32] dhhagan commented on #1480
Okay then - I think it's done. I've checked off the last box.

[2019-06-27 13:41] santisoler commented on #1521
Hi @lheagy and @brmather! I'll be glad to review `pycurious`.
I'll try to start opening issues for the end of next week. Please be patient while I read through the submitted paper and explore the repository.

[2019-06-27 13:54] lpantano commented on #1520
Hi @adadiehl,

Do you have a link for the reference with DOI, or what exactly is that, a chapter in a book, a talk...?

[2019-06-27 13:57] gkthiruvathukal commented on #1519
@adi3 Can you help suggest a a few reviewers from [this list of people](https://bit.ly/joss-reviewers)? We now require 2 reviewers for all JOSS submissions.

[2019-06-27 13:58] gkthiruvathukal commented on #1522
@vsoch Can you help suggest a a few reviewers from [this list of people](https://bit.ly/joss-reviewers)? We now require 2 reviewers for all JOSS submissions.

[2019-06-27 14:08] vsoch commented on #1522
Sure thing! It looks like @nuest is the only other one that lists containers, so he might be familiar with Docker Compose (Singularity Compose's counterpart). The next tag that might imply container experience would be reproducibility, and from that I can suggest @cole-brokamp and @daissi.

[2019-06-27 14:16] ts-adi commented on #1519
@gkthiruvathukal Here are my suggestions: @trallard @carlosjoseRG @mosteo @CELavecchia @traversaro @CameronDevine @nnadeau @jizecn @Scivision @suyashkumar

Looks like not all the usernames are active or accessible, so hopefully a few from that list get a notification.

[2019-06-27 14:18] arfon commented on #1480
@katrinekirkeby - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That th

[2019-06-27 14:26] adadiehl commented on #1520
It is a master's thesis in an online repository. I can include a link.

On Thu, Jun 27, 2019 at 9:54 AM Lorena Pantano <notifications@github.com>
wrote:

[2019-06-27 14:37] lpantano commented on #1520
I think you can make the change in the .bib file to have it like this:
https://github.com/arfon/fidgit/blob/master/paper/paper.bib#L17

On June 27, 2019 at 10:26:40 AM, Adam Diehl (notifications@github.com)
wrote:

It is a master's thesis in an online repository. I can include a link.

On Thu, Jun 27, 2019 at 9:54 AM Lorena Pantano <notifications@github.com>
wrote:

https://github.com/openjournals

[2019-06-27 14:46] adadiehl commented on #1520
Okay, I've made the changes. I think we're good to go.

On Thu, Jun 27, 2019 at 10:37 AM Lorena Pantano <notifications@github.com>
wrote:

[2019-06-27 15:06] lpantano commented on #1520
@whedon commands

[2019-06-27 15:06] whedon commented on #1520
Here are some things you can ask me to do:

[code]

[2019-06-27 15:06] lpantano commented on #1520
@whedon generate pdf

[2019-06-27 15:06] whedon commented on #1520
[code]

[2019-06-27 15:07] whedon commented on #1520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01520/joss.01520/10.21105.joss.01520.pdf)

[2019-06-27 15:07] lpantano commented on #1520
@whedon check references

[2019-06-27 15:07] whedon commented on #1520
[code]

[2019-06-27 15:08] whedon commented on #1520
[code]

[2019-06-27 15:13] lukeolson commented on #1463
I believe everything is done on my checklist.  One suggestion was to add a basic example of usage: https://github.com/empymod/emg3d/issues/14

[2019-06-27 15:57] nnadeau commented on #1519
@gkthiruvathukal @ts-adi i accept :)

[2019-06-27 16:14] prisae commented on #1463
Thanks @lukeolson for your review!

Re basic example: Is the one basic example that is already in the docs under the *Getting started* section not enough? I think it is pretty similar to yours:
https://emg3d.readthedocs.io/en/stable/usage.html#example

[2019-06-27 16:15] gkthiruvathukal commented on #1519
@whedon assign @nnadeau as reviewer

[2019-06-27 16:15] whedon commented on #1519
OK, the reviewer is @nnadeau

[2019-06-27 16:41] lheagy commented on #1521
Excellent, thanks @santisoler!!

[2019-06-27 16:41] lheagy commented on #1521
@whedon assign @santisoler as reviewer

[2019-06-27 16:41] whedon commented on #1521
OK, the reviewer is @santisoler

[2019-06-27 16:48] lheagy commented on #1521
Just a quick update on a second reviewer: I have sent an email to Claire and am waiting to hear back. I will keep you posted. @santisoler: if you would like to get going on the checklist right away, please let me know and I can start the review. Otherwise I will hopefully find a second reviewer and we can start the process then.

[2019-06-27 16:52] lheagy commented on #1408
:wave: @rheiland, please ping when you have had a chance to archive the software and we can proceed with publication. Thanks!

[2019-06-27 17:02] santisoler commented on #1521
@lheagy I'm not planning to get into the review until the end of next week, so there's no rush to start it. But if you want to make my checklist available right away so you don't have to remember to do it in the future, go ahead.

[2019-06-27 17:04] kyleniemeyer commented on #1359
@whedon generate pdf

[2019-06-27 17:04] whedon commented on #1359
[code]

[2019-06-27 17:05] whedon commented on #1359
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01359/joss.01359/10.21105.joss.01359.pdf)

[2019-06-27 17:17] lukeolson commented on #1463
Yes, that's probably fine.  I agree my small example is nearly the same in the end.

[2019-06-27 17:37] kyleniemeyer commented on #1359
@whedon accept

[2019-06-27 17:37] whedon commented on #1359
[code]

[2019-06-27 17:37] whedon commented on #1359
[code]

[2019-06-27 17:38] whedon commented on #1359
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/799

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/799, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-27 17:39] whedon opened #1528 "[PRE REVIEW]: RETS-Manager: A platform for fetching and syncing real estate data and images"
**Submitting author:** @issamhammad (<a href="http://orcid.org/0000-0002-1895-3438">Issam Hammad</a>)
**Repository:** <a href="https://github.com/issamhammad/RETS-Manager" target ="_blank">https://github.com/issamhammad/RETS-Manager</a>
**Version:** V1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @issamhammad. **Currently, there isn

[2019-06-27 17:40] whedon commented on #1528
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-27 17:40] whedon commented on #1528
[code]

[2019-06-27 17:40] whedon commented on #1528
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01528/joss.01528/10.21105.joss.01528.pdf)

[2019-06-27 17:43] whedon opened #1529 "[PRE REVIEW]: phymcmc: A wrapper for emcee providing convenient functions and scripts"
**Submitting author:** @cbeauc (<a href="http://orcid.org/0000-0003-0599-0069">Catherine Beauchemin</a>)
**Repository:** <a href="https://github.com/cbeauc/phymcmc" target ="_blank">https://github.com/cbeauc/phymcmc</a>
**Version:** v0.4
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @cbeauc. **Currently, there isn't an JOSS editor assi

[2019-06-27 17:43] whedon commented on #1529
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-27 17:44] whedon commented on #1529
[code]

[2019-06-27 17:44] whedon commented on #1529
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01529/joss.01529/10.21105.joss.01529.pdf)

[2019-06-27 18:00] cbeauc commented on #1529
@whedon commands

[2019-06-27 18:00] whedon commented on #1529
Here are some things you can ask me to do:

[code]

[2019-06-27 18:19] cbeauc commented on #1529
Possible reviewers: @tacaswell @dfm @glemaitre @nnadeau @Jgoldfar @a-slide @lowandrew @tleonardi @gavinmdouglas

[2019-06-27 18:23] kthyng commented on #1498
awesome! Let's get this going then.

@whedon assign @kbarnhart as reviewer

[2019-06-27 18:24] kthyng commented on #1498
@whedon assign @kbarnhart as reviewer

[2019-06-27 18:24] whedon commented on #1498
OK, the reviewer is @kbarnhart

[2019-06-27 18:24] kthyng commented on #1498
@whedon add @hugoledoux  as reviewer

[2019-06-27 18:24] whedon commented on #1498
OK, @hugoledoux  is now a reviewer

[2019-06-27 18:25] kthyng commented on #1498
@whedon start review

[2019-06-27 18:25] whedon opened #1530 "[REVIEW]: bioLEC: A Python package to measure Landscape Elevational Connectivity"
**Submitting author:** @tristan-salles (<a href="http://orcid.org/0000-0001-6095-7689">Tristan Salles</a>)
**Repository:** <a href="https://github.com/Geodels/bioLEC" target ="_blank">https://github.com/Geodels/bioLEC</a>
**Version:** 1.0.0
**Editor:** @kthyng
**Reviewer:** @kbarnhart, @hugoledoux
**Archive:** <a href="https://doi.org/10.5281/zenodo.3348340" target="_blank">10.5281/zenodo.3348340<

[2019-06-27 18:25] whedon commented on #1498
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1530. Feel free to close this issue now!

[2019-06-27 18:25] whedon commented on #1530
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kbarnhart, @hugoledoux  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-06-27 18:25] whedon commented on #1530
[code]

[2019-06-27 18:25] #1498 closed

[2019-06-27 18:25] whedon commented on #1530
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01530/joss.01530/10.21105.joss.01530.pdf)

[2019-06-27 18:37] kyleniemeyer commented on #1359
@arfon, in case you didn't get/see the tag in https://github.com/openjournals/joss-papers/pull/799, it looks like there is no citation list in the CrossRef XML. The paper has a good-sized list of references with DOIs, so that seems wrong...

[2019-06-27 18:51] prisae commented on #1463
One more question if you don't mind @lukeolson: I saw from your website that you are part of [PyAMG](http://pyamg.github.io/), so I assume that you have experience in multigrid methods. Do you have any feedback from the multigrid-viewpoint in particular?

[2019-06-27 18:53] gavinmdouglas commented on #1529
This looks like a very useful software, but sorry I have to decline being a reviewer since I don't have the expertise to evaluate it.

[2019-06-27 19:05] osorensen commented on #1505
@Amalan-ConStat , I think your last comment should be addressed to @csoneson rather than me.

[2019-06-27 19:10] kyleniemeyer commented on #1516
@dap-biospec we do not really have a mechanism to provide review-only materials that are not publicly available, since the entire review process happens in a GitHub issue like this (once the reviewers are finalized, this issue will be closed and the review issue will be created).

Instead, I recommend that you make your submitted manuscripts available openly via a preprint server like arXiv, ChemR

[2019-06-27 19:22] xoolive commented on #1518
@junzis Latest commit addresses your comment about the statement of need.
https://github.com/xoolive/traffic/commit/4ac5d962f4b8978cc704a7f57ca9b53910654cc9

[2019-06-27 19:22] xoolive commented on #1518
@whedon generate pdf

[2019-06-27 19:22] whedon commented on #1518
[code]

[2019-06-27 19:23] whedon commented on #1518
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01518/joss.01518/10.21105.joss.01518.pdf)

[2019-06-27 19:32] dap-biospec commented on #1516
@kyleniemeyer - got it, thank you. Let me clear this with editors of submitted manuscripts.

[2019-06-27 19:59] dvberkel commented on #1519
@gkthiruvathukal I am no robotics expert, or ultrasonic expert, but I am could review the paper

[2019-06-27 20:07] junzis commented on #1518
@danielskatz - I have completed all the checkboxes for the review process. Finally, the paper is good and documentation is complete from my point of view. I think it can be accepted.

[2019-06-27 20:09] arfon commented on #1359
@whedon accept

[2019-06-27 20:09] whedon commented on #1359
[code]

[2019-06-27 20:09] whedon commented on #1359
[code]

[2019-06-27 20:09] whedon commented on #1359
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/800

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/800, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-27 20:11] kyleniemeyer commented on #1359
@arfon that looks better, thanks!

[2019-06-27 20:11] arfon commented on #1359
OK this should be fixed now @kyleniemeyer

[2019-06-27 20:11] kyleniemeyer commented on #1359
@whedon accept deposit=true

[2019-06-27 20:11] whedon commented on #1359
[code]

[2019-06-27 20:12] whedon commented on #1359
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1144337695734452224) 👈 🐦🐦🐦

[2019-06-27 20:12] whedon commented on #1359
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/801
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01359](https://doi.org/10.21105/joss.01359)
2. If everything looks go

[2019-06-27 20:13] danielskatz commented on #1518
Thanks @junzis!

[2019-06-27 20:14] kyleniemeyer commented on #1359
Congrats on your article's publication in JOSS, @jdrugo! Thanks to @ManuelaS for reviewing and  @usethedata for editing (and reviewing)!

[2019-06-27 20:14] #1359 closed

[2019-06-27 20:14] whedon commented on #1359
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01359/status.svg)](https://doi.org/10.21105/joss.01359)

**We need your help!**

Journal of Open Source Softwar

[2019-06-27 20:39] azazel7 commented on #1485
@whedon generate pdf

[2019-06-27 20:39] whedon commented on #1485
[code]

[2019-06-27 20:39] whedon commented on #1485
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01485/joss.01485/10.21105.joss.01485.pdf)

[2019-06-27 20:44] andreysmelter commented on #1512
Hi all!
@csoneson I am up for review as well

[2019-06-27 21:34] gkthiruvathukal commented on #1519
Thanks, @dvberkel. I will add you and get this review rolling.

[2019-06-27 21:34] gkthiruvathukal commented on #1519
@whedon assign @dvberkel as reviewer

[2019-06-27 21:34] whedon commented on #1519
OK, the reviewer is @dvberkel

[2019-06-27 21:35] gkthiruvathukal commented on #1519
@whedon start review

[2019-06-27 21:35] whedon opened #1531 "[REVIEW]: Tools for Prototyping with 3D Ultrasonics in ROS"
**Submitting author:** @adi3 (<a href="http://orcid.org/0000-0002-6382-8441">Adi Singh</a>)
**Repository:** <a href="https://gitlab.com/toposens/public/ros-packages" target ="_blank">https://gitlab.com/toposens/public/ros-packages</a>
**Version:** v1.2.1
**Editor:** @gkthiruvathukal
**Reviewer:** @dvberkel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3336380" target="_blank">10.5281/zenodo

[2019-06-27 21:35] whedon commented on #1519
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1531. Feel free to close this issue now!

[2019-06-27 21:35] whedon commented on #1531
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dvberkel it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-06-27 21:35] whedon commented on #1531
[code]

[2019-06-27 21:35] #1519 closed

[2019-06-27 21:35] whedon commented on #1531
PDF failed to compile for issue #1531 with the following error:

 Can't find any papers to compile :-(

[2019-06-27 21:38] ts-adi commented on #1531
@whedon generate pdf from branch joss_paper

[2019-06-27 21:39] whedon commented on #1531
[code]

[2019-06-27 21:39] whedon commented on #1531
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01531/joss.01531/10.21105.joss.01531.pdf)

[2019-06-27 21:42] ts-adi commented on #1531
@gkthiruvathukal @dvberkel Thanks for getting the review started.
Shouldn't it mention @nnadeau as a reviewer too? Or are the reviews done sequentially?

[2019-06-27 21:46] sepandhaghighi commented on #1485
@whedon check references

[2019-06-27 21:46] whedon commented on #1485
[code]

[2019-06-27 21:47] whedon commented on #1485
[code]

[2019-06-27 21:52] sepandhaghighi commented on #1485
@azazel7 Thanks for your efforts ;-)
@gkthiruvathukal Looks good to me

[2019-06-27 22:03] gkthiruvathukal commented on #1485
@sepandhaghighi Many thanks for your excellent and thorough review efforts!

@azazel7  I have gone through the checklist, and I'm ready to accept.
Can you please archive the accepted version of the package and provide an associated DOI (e.g., via Zenodo)?

[2019-06-27 22:18] gkthiruvathukal commented on #1522
@nuest, @cole-brokamp, @daissi: Would you be willing to contribute a review for this JOSS submission? I need two reviewers to begin review.

[2019-06-27 22:20] cole-brokamp commented on #1522
I am out traveling for the next three weeks, but would be glad to take a look when I get back.

[2019-06-27 22:23] gkthiruvathukal commented on #1522
@cole-brokamp this works for me. Could you wrap up your review a week or two after travel?

[2019-06-27 22:30] kyleniemeyer commented on #1516
Update: Christopher Neese agreed to review via email. I will add him and get the review itself started shortly.

[2019-06-27 22:32] vsoch commented on #1522
Works for me too! Safe travels @cole-brokamp :airplane:

[2019-06-27 22:45] cole-brokamp commented on #1522
Sure, sounds good!

[2019-06-27 22:50] usethedata commented on #1513
@nicholascar @jimmccusker -- just checking in.  Any questions or needs regarding the review on this paper?

[2019-06-27 22:52] usethedata commented on #1515
What say you @andrewheiss are you willing and able to review this paper for JOSS?  Thanks.

[2019-06-27 22:57] tristan-salles commented on #1530
Checked!

[2019-06-27 23:00] usethedata commented on #1515
Also, @wrathematics @soodoku @lebebr01 @jacobsoj @mkearney -- would any of you be willing to review this paper for JOSS?  Thanks much.

[2019-06-27 23:07] banesullivan commented on #1451
Latest version of the paper looks great!

[2019-06-27 23:14] usethedata commented on #1479
👋  @jkahn @linuxscout @alexhanna @ionlights We're looking for a couple of reviewers for a JOSS paper "Wikipedia2Vec: An Optimized Tool for Learning Embeddings of Words and Entities from Wikipedia".  Would any of you be willing to take this on?  Thanks much for considering.

[2019-06-27 23:14] kyleniemeyer commented on #1516
@whedon add @cfneese as reviewer

[2019-06-27 23:14] whedon commented on #1516
OK, @cfneese is now a reviewer

[2019-06-27 23:15] kyleniemeyer commented on #1516
@whedon start review

[2019-06-27 23:15] whedon opened #1532 "[REVIEW]: KinESim: Pre-equilibrium kinetic simulation of electrochemical reactions"
**Submitting author:** @dap-biospec (<a href="http://orcid.org/0000-0003-4625-0323">Denis Proshlyakov</a>)
**Repository:** <a href="https://github.com/dap-biospec/KinESim" target ="_blank">https://github.com/dap-biospec/KinESim</a>
**Version:** v1.6.8g
**Editor:** @kyleniemeyer
**Reviewers:** @usethedata, @faustincarter
**Archive:** <a href="https://doi.org/10.5281/zenodo.3375570" target="_blank">

[2019-06-27 23:15] whedon commented on #1516
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1532. Feel free to close this issue now!

[2019-06-27 23:15] whedon commented on #1532
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @usethedata, @faustincarter, @cfneese it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer,

[2019-06-27 23:15] whedon commented on #1532
[code]

[2019-06-27 23:15] whedon commented on #1532
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01532/joss.01532/10.21105.joss.01532.pdf)

[2019-06-27 23:16] #1516 closed

[2019-06-27 23:17] kyleniemeyer commented on #1532
👋 @dap-biospec, @usethedata, @FaustinCarter, and @cfneese  the actual review will take place in here. We don't have explicit deadlines for reviews, but it would be great if you all could provide your feedback / check off the boxes above within two or three weeks. If you need longer, just let me know—thanks!

[2019-06-27 23:23] arokem commented on #1420
@whedon set 10.5281/zenodo.3256403 as archive

[2019-06-27 23:23] whedon commented on #1420
OK. <a href="https://doi.org/10.5281/zenodo.3256403" target="_blank">10.5281/zenodo.3256403</a> is the archive.

[2019-06-27 23:25] arokem commented on #1420
Great. I think this is ready for your approval @openjournals/joss-eics

[2019-06-27 23:27] kyleniemeyer commented on #1420
Hi @sanskriti-s, please clean up the Zenodo archive's metadata—the author list should match that of the paper, and right now it includes "KOLANICH; Daniel S. Katz; Ariel Rokem; Arfon Smith" and is missing Hunter Mack.

[2019-06-27 23:29] arokem commented on #1427
@fabian-s : are all your comments addressed? I see that the "statement of need" box is still unchecked.

@gvegayon : what is the issue with the CI build? Is this something related to the JOSS paper document?

[2019-06-27 23:45] jdrugo commented on #1359
Great! Indeed, thanks @ManuelaS and @usethedata for reviewing & editing!

[2019-06-28 00:35] jimmccusker commented on #1513
No, I just need to finish a grant submission this weekend, then this is
next.

Thanks,
Jim

On Thu, Jun 27, 2019 at 6:50 PM Bruce Wilson <notifications@github.com>
wrote:

--
Jim McCusker

Director, Data Operations
Tetherless World Constellation
Rensselaer Polytechnic Institute
mccusj2@rpi.edu <mccusj@cs.rpi.edu>
http://tw.rpi.edu

[2019-06-28 00:45] kyleniemeyer commented on #1420
@sanskriti-s there are a few other changes needed in the paper:

- Please add more-complete affiliation information, matching what you'd see in any journal article (department, institution, city, state, country)
- In the first paragraph, please fix the citations using the appropriate commands:
[code]
In particular, I would change `research by Z. Cam et al [@Cam_2015]` to `research by @Cam_2015`.
-

[2019-06-28 01:07] Amalan-ConStat commented on #1505
Thank you for pointing that out, I have changed it now. and sorry for the inconvenience.

[2019-06-28 01:34] #1012 closed

[2019-06-28 01:34] whedon commented on #1012
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01012/status.svg)](https://doi.org/10.21105/joss.01012)

**We need your help!**

Journal of Open Source Softwar

[2019-06-28 06:13] bii-absd commented on #1512
@andreysmelter - thank you.

[2019-06-28 06:33] AliYoussef96 commented on #1500
Hi @mgymrek

**Install process**

For [setup.py](https://github.com/AliYoussef96/BCAW-Tool/blob/master/setup.py) is available now, as well as installation using pip.

[code]
**Usage/docs**

1- BCAWT can now take all the arguments at once.

[code]
2- Inputs, inputs, and how to obtain such fasta files are now on README.
As well as I added [Abbreviations table](https://github.com/AliYoussef96/BCAW-To

[2019-06-28 07:03] dvberkel commented on #1531
@ts-adi I am looking for *community guidelines* in your repository. But I can't find them. Am I missing something, or is a `CONTRIBUTING.md` file missing?

[2019-06-28 07:36] scan2001 commented on #1256
@mgymrek @kyleniemeyer
we have completed the tests and added community guidelines (updating README and creating a code of conduct file)

[2019-06-28 07:55] dvberkel commented on #1531
@gkthiruvathukal I don't have a Toposens TS3 sensor, so how can I can I review if the functionality claims of the software?

@ts-adi Is there a possibility to send a sensor for me to review?

[2019-06-28 09:08] ts-adi commented on #1531
@dvberkel Just merged master changes to the joss_paper branch. We've taken away most of the documentation from the readme and put it on the ROS wiki (and provided a link to it from the git readme). See here:

- https://gitlab.com/toposens/public/ros-packages/tree/joss_paper
- http://wiki.ros.org/toposens

This avoids repetition of the same content in two places. Our wiki page mentions (and links t

[2019-06-28 09:17] ts-adi commented on #1531
@gkthiruvathukal What is the procedure for testing open source software built for commercial hardware devices? We do have an extensive automated test suite in the repo that emulates the sensor (straightforward posix emulation) for continuous integration. These tests run on a docker container and as such have no direct access to the hardware. Through emulation, we ensure tests can run hardware-free

[2019-06-28 09:33] dvberkel commented on #1531
I am all in favor of *not* duplicating information :+1:

For me a link would more than suffice.

[2019-06-28 10:42] #1496 closed

[2019-06-28 13:08] mschubert commented on #1493
Looks good to me!

I haven't seen any comments from @pmarjora, is it customary for JOSS that he also confirms his authorship?

Last minor comments: Typos in the paper (resubmission, "the later" should be "the latter") and README ("Whereas is reporting" doesn't make sense, did you mean "Whether it is"?)

[2019-06-28 13:17] rheiland commented on #1408
@whedon generate pdf

[2019-06-28 13:17] whedon commented on #1408
[code]

[2019-06-28 13:17] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-28 13:19] MKLau commented on #1312
Hi Daniel, sorry for the slow reply I've been traveling and just saw this post. Not much happened last month, but shouldn't be more than a week to get things finished for submission. There are a few more functions that need some tests and the vignette needs to be added:  https://github.com/ProvTools/Rclean/projects/4.

[2019-06-28 13:25] rheiland commented on #1408
@whedon generate pdf

[2019-06-28 13:25] whedon commented on #1408
[code]

[2019-06-28 13:26] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-28 13:32] rheiland commented on #1408
@whedon generate pdf

[2019-06-28 13:32] whedon commented on #1408
[code]

[2019-06-28 13:32] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-06-28 13:39] rheiland commented on #1408
@lheagy @arfon if there's anything that can be done to prevent the line break of a filename (below) in the pdf generation, I'd welcome it. Otherwise, we'll move ahead with generating a release and getting a DOI. Thanks!

![Screen Shot 2019-06-28 at 9 19 06 AM](https://user-images.githubusercontent.com/1774917/60346119-79d33e80-9988-11e9-94b7-77a933b5a3c9.png)
<img width="673" alt="Screen Shot 2019

[2019-06-28 13:51] gkthiruvathukal commented on #1531
@ts-adi and @dvberkel, To answer this question fully, I would need to know whether the commercial devices are available to the public or are still in the lab. If there is an emulation layer (that is, either a library or a hardware emulator) that can be used to run the tests, I think this would be satisfactory.

Ultimately, what I would be checking is whether there is a strong emphasis on testing,

[2019-06-28 14:00] slithiaote commented on #1005
I think that @tpetricek's comments are more appropriate for a large scale software project with ongoing development, whereas this submission is intended as a reference implementation for long-term preservation of the software.
- Example usage - Technically, there are two examples. A very simple `tutorial.nw` and the full-fledged `lepton.nw`. As in the literate programming paradigm, Lepton is inten

[2019-06-28 14:04] dvberkel commented on #1531
@gkthiruvathukal there is an extensive continuous integration process that ticks both your requirements.

I will dive into the looking into the tests more thoroughly

[2019-06-28 17:50] FaustinCarter commented on #1532
I have a couple early comments about documentation:

 1. I strongly recommend converting the file KES_Manual_API.docx to a reStructured text file so that it nicely renders on github. You should also take a subset of this documentation with installation instructions, etc, and put it in your README.rst file so it shows up on the github repo landing page. Docx is a proprietary file format that is not

[2019-06-28 17:55] evcastelani commented on #1385
Dear @poulson, Is there any additional information, clarification on the text or on the current package that we can provide to help the evaluation of the submitted paper? In addition, as highlighted by @fsobral we don't know how change the version of package in JOSS system, can you help us?

[2019-06-28 18:08] arfon commented on #1408
I'm afraid not. The only thing I can suggest at this point is to slightly adjust the language (lengthen or shorten) to try and force a formatting change.

[2019-06-28 18:17] ionlights commented on #1479
@usethedata hey, sorry for the late reply. i'll give this a look in a few hours and get back to you. 👍

[2019-06-28 18:22] dap-biospec commented on #1532
@FaustinCarter - thank you for recommendations! We will get started on them and I will reach out to you should we run into big problems.  Much of this is new to us, but luckily it takes only once to learn.

[2019-06-28 18:45] rheiland commented on #1408
@arfon OK, no worries. I did play a bit with wording, but still ended up with name split across lines, so let's go with what's there.
@lheagy I'm still new to this Zenodo-GitHub-DOI workflow, so I'd welcome feedback if I've mangled it. I did get a DOI that supposedly goes with the (JOSS) Release of our repo - it's 10.5281/zenodo.3261541 .

![Screen Shot 2019-06-28 at 2 42 46 PM](https://user-image

[2019-06-28 19:12] FaustinCarter commented on #1532
No worries! I just spent the last 10 minutes playing around with rstdoc, and it looks like you will get better conversion results if you spend a few minutes with your docx and apply styles (like heading 1, heading 2, normal text, etc) before you convert it (as opposed to just using bold, italics, and tabs to denote structure).

[2019-06-28 21:10] gvegayon commented on #1427
No, it was something related to the version of OSX I was using. Using a more recent one fixes the issue (confirmed [here](https://travis-ci.org/USCbiostats/fmcmc/builds/551951767)).

@fabian-s I've added you to the list of authors of the R package with the role "rev" (Reviewer). LMK if that's OK with you (pulled your ORCID from one of your papers).

[2019-06-28 21:20] banesullivan commented on #1451
@leouieda - releases are being pushed on version `v2.0.1`

Zenodo: [![DOI](https://zenodo.org/badge/97628892.svg)](https://zenodo.org/badge/latestdoi/97628892)

[2019-06-28 21:46] tacaswell commented on #1529
I can do this, but likely not until after scipy (late July).

[2019-06-29 00:54] leouieda commented on #1451
@whedon set 10.5281/zenodo.3261820 as archive

[2019-06-29 00:54] whedon commented on #1451
OK. <a href="https://doi.org/10.5281/zenodo.3261820" target="_blank">10.5281/zenodo.3261820</a> is the archive.

[2019-06-29 00:54] leouieda commented on #1451
@whedon set v2.0.1 as version

[2019-06-29 00:54] whedon commented on #1451
OK. v2.0.1 is the version.

[2019-06-29 01:03] leouieda commented on #1451
:wave: @openjournals/joss-eics I'm happy to say that this contribution is ready for publication!

@banesullivan congratulations on the acceptance :confetti_ball:

@Leguark @gassmoeller thank you very much for you reviews! We appreciate your time and dedication. If you wish to be called upon for future reviews, please feel free to sign up to our reviewer pool at https://joss.theoj.org/reviewer-sign

[2019-06-29 01:10] jcsutherland commented on #1523
I'm happy to provide a review, but it will take me at least a week.
--
James C. Sutherland
Professor of Chemical Engineering
The University of Utah
50 S. Central Campus Dr, 3290 MEB
Salt Lake City, UT 84112-9203
+1-801-585-1246
sutherland <https://sutherland.che.utah.edu/>.che.utah.edu
<https://sutherland.che.utah.edu>
<https://doodle.com/jamessutherland>

On Mon, Jun 24, 2019 at 3:21 PM Katy Huff

[2019-06-29 01:30] fabian-s commented on #1427
all is well. forgot to check the box.

[2019-06-29 12:32] tjhei commented on #1441
FYI: I am documenting some of the issues I am having here: https://bitbucket.org/likask/mofem-cephas/issues/15/joss-review

[2019-06-29 17:24] fboehm commented on #1435
Thanks, @csoneson! Are there additional changes that I should make to complete the review process?

[2019-06-29 18:14] kyleniemeyer commented on #1435
@whedon generate pdf

[2019-06-29 18:14] whedon commented on #1435
[code]

[2019-06-29 18:14] whedon commented on #1435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01435/joss.01435/10.21105.joss.01435.pdf)

[2019-06-29 18:15] kyleniemeyer commented on #1451
Hi @banesullivan, I'm about to look over the paper to do some last checks, but first, can you please clean up the Zenodo archive metadata? The list of authors should match that of the paper, and right now you have a few extra people listed.

[2019-06-29 18:20] banesullivan commented on #1451
Hi @kyleniemeyer, I just updated the Zenodo archives meta data

[2019-06-29 18:24] kyleniemeyer commented on #1435
Hi @fboehm, I made a few fixes to the bib file in https://github.com/fboehm/qtl2pleio/pull/20 (DOIs should not include the full URL in the bibtex file, just the DOI itself).

[2019-06-29 18:36] MathCancer commented on #1408
Thanks so much to @arfon and @lheagy for all your help in guiding us through the review process! We're okay to let the line break issue go: very much at the point of rapidly diminishing returns, and the proof looks fantastic otherwise!

I noticed an unchecked box on references, but so far as I can tell, all references have a DOI. Is there something else we should fix there?

Thank you! - Paul

[2019-06-29 18:39] csoneson commented on #1505
Thanks @Amalan-ConStat. @jjharden - could you take a look at the revised submission and let us know whether the changes listed above addresses your concerns? Thanks!

[2019-06-29 18:40] csoneson commented on #1512
@whedon assign @rabdill as reviewer

[2019-06-29 18:40] whedon commented on #1512
OK, the reviewer is @rabdill

[2019-06-29 18:41] csoneson commented on #1512
@whedon add @andreysmelter as reviewer

[2019-06-29 18:41] whedon commented on #1512
OK, @andreysmelter is now a reviewer

[2019-06-29 18:42] csoneson commented on #1512
@rabdill and @andreysmelter - thank you for accepting to review this submission! I will open the review issue now.

[2019-06-29 18:42] csoneson commented on #1512
@whedon start review

[2019-06-29 18:42] whedon opened #1533 "[REVIEW]: Translational Informatics Management System (TIMS): Towards OMICS based clinical data management for long term curation of clinical studies"
**Submitting author:** @absd@bii.a-star.edu.sg (<a href="http://orcid.org/0000-0003-1247-6279">Wing-Cheong Wong</a>)
**Repository:** <a href="https://github.com/bii-absd/tims" target ="_blank">https://github.com/bii-absd/tims</a>
**Version:** v2.05
**Editor:** @csoneson
**Reviewer:** @rabdill, @andreysmelter
**Archive:** <a href="https://doi.org/10.5281/zenodo.3357938" target="_blank">10.5281/zeno

[2019-06-29 18:42] whedon commented on #1512
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1533. Feel free to close this issue now!

[2019-06-29 18:42] whedon commented on #1533
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rabdill, @andreysmelter it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-06-29 18:42] whedon commented on #1533
[code]

[2019-06-29 18:43] whedon commented on #1533
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01533/joss.01533/10.21105.joss.01533.pdf)

[2019-06-29 18:44] csoneson commented on #1533
@rabdill, @andreysmelter - please perform your reviews in this issue (see instructions above). Don't hesitate to ping me if you have questions.

[2019-06-29 18:47] kyleniemeyer commented on #1451
@banesullivan I just submitted a small PR that fixes a few citation commands in the paper, could you merge that? https://github.com/OpenGeoVis/PVGeo/pull/52

Also, is there a better reference for VTK.js? At minimum, some names or a group should be included as the author. I'm also wondering if they have a preferred citation.

[2019-06-29 18:56] csoneson commented on #1435
Hi @fboehm - I have sent another email to @rcorty to get his feedback on the revised submission. If he doesn't reply, we'll find another way forward.
@vjcitn - could you take one more look to see if your remaining issues have now been satisfactorily addressed (and if so, complete the final items in the checklist). Thanks!

[2019-06-29 18:56] ts-adi commented on #1531
@gkthiruvathukal thank you for the detailed guidance. Here are specific answers to your questions:

- The device is available to the public: http://toposens.com/ts3

- We have tests with a wide code coverage and they run within a docker container using the emulation. Apart from our own CI setup in gitlab, these tests are automatically triggered when an update is merged in a ROS distro. See results

[2019-06-29 18:57] csoneson commented on #1435
@kyleniemeyer Thanks for your input! Do you have a suggestion for where to possibly find DOIs for old articles, or is it ok to leave it without?

[2019-06-29 18:58] ts-adi commented on #1531
@gkthiruvathukal By the way, wanted to follow up on my earlier question about the second reviewer. Should he be assigned to this review as well?

[2019-06-29 19:01] ts-adi commented on #1531
@dvberkel I have also added a few lines at the end of the readme to satisfy the *community guidelines* condition as per our discussion above: https://gitlab.com/toposens/public/ros-packages/tree/joss_paper

[2019-06-29 19:22] csoneson commented on #1407
@IbrahimTanyalcin Looking at the remaining points in the reviewers' checklists above, could you add a couple of statements to the README with guidelines for people who may want to contribute/seek help, and pointers to how to best test the functionality of the software (including how to verify that the output is correct)? There is one reference (Robinson et al) where the `https://doi.org/` part of

[2019-06-29 20:02] robbriers commented on #1473
@whedon generate pdf

[2019-06-29 20:02] whedon commented on #1473
[code]

[2019-06-29 20:02] whedon commented on #1473
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01473/joss.01473/10.21105.joss.01473.pdf)

[2019-06-29 20:13] robbriers commented on #1473
Updated pdf above and addressed points raised in [https://github.com/ropensci/cde/issues/23](https://github.com/ropensci/cde/issues/23).
Let me know if anything else needs attention

[2019-06-29 20:14] robbriers commented on #1473
[https://github.com/ropensci/cde/issues/23#issuecomment-506983904](https://github.com/ropensci/cde/issues/23#issuecomment-506983904)

[2019-06-29 20:20] whedon commented on #980
:wave: @olivertomic, please update us on how things are progressing here.

[2019-06-29 20:29] kyleniemeyer commented on #1435
@csoneson I went to the publisher's page for those articles, and they don't have one listed, so I don't think they have DOIs. Some publishers went back and generated DOIs for articles that were published prior to the adoption of DOIs, but apparently this one didn't. So I think it's fine—they just don't have DOIs.

[2019-06-29 20:29] kyleniemeyer commented on #1435
@whedon generate pdf

[2019-06-29 20:29] whedon commented on #1435
[code]

[2019-06-29 20:30] kyleniemeyer commented on #1451
@whedon generate pdf

[2019-06-29 20:30] whedon commented on #1435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01435/joss.01435/10.21105.joss.01435.pdf)

[2019-06-29 20:30] whedon commented on #1451
[code]

[2019-06-29 20:30] whedon commented on #1451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01451/joss.01451/10.21105.joss.01451.pdf)

[2019-06-29 20:34] whedon commented on #1473
:wave: @jhollist, please update us on how your review is going.

[2019-06-29 20:40] banesullivan commented on #1451
@kyleniemeyer

I'm not sure if there is another reference for VTK.js. Considering the VTK.js project's [README](https://github.com/Kitware/vtk-js/blob/master/README.md) states:

And points to the VTK Textbook reference that we currently have, maybe it would be fine to use the VTK reference?

[2019-06-29 20:52] kyleniemeyer commented on #1451
It's good to cite software directly, in addition to a published work. So perhaps in the text, when you mention VTK.js, you can cite the textbook in addition to the VTK.js software. For the software citation, perhaps add `author = {{Kitware}}`, and then add the version you use and the year it was released. If that is the current version, you can just use "version 8.11.1" and 2019.

[2019-06-29 21:37] rcorty commented on #1435
I believe this article and package are passing all requirements and I've updated my check boxes to reflect this.

[2019-06-29 21:57] vjcitn commented on #1435
I have updated check boxes.  Package/paper passes.

[2019-06-30 04:26] banesullivan commented on #1451
@whedon generate pdf

[2019-06-30 04:26] whedon commented on #1451
[code]

[2019-06-30 04:27] whedon commented on #1451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01451/joss.01451/10.21105.joss.01451.pdf)

[2019-06-30 04:29] banesullivan commented on #1451
@whedon generate pdf

[2019-06-30 04:29] whedon commented on #1451
[code]

[2019-06-30 04:30] whedon commented on #1451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01451/joss.01451/10.21105.joss.01451.pdf)

[2019-06-30 08:01] srmnitc commented on #1328
@zhangning737 @lheagy I was finally able to try compiling the code, but I was not successful. I am not sure if its a specific issue with my setup, but in any case, I am of the opinion that there should be more detailed instructions to compile successfully. I have created an [issue on the repo](https://github.com/zhangning737/rdbsp/issues/2#issue-462378692)

[2019-06-30 08:13] srmnitc commented on #1328
@zhangning737 I have also raised an issue with citations and generally citations of books. @lheagy I am reviewing for the first time, so, do I have to take into account typos and other issues in the paper text?

[2019-06-30 09:45] imallona commented on #1407
Hi @csoneson and @IbrahimTanyalcin, I'm happy with the current version, thanks.

[2019-06-30 10:45] arfon commented on #1408
@whedon check references

[2019-06-30 10:45] whedon commented on #1408
[code]

[2019-06-30 10:46] whedon commented on #1408
[code]

[2019-06-30 10:46] #1512 closed

[2019-06-30 10:48] arfon commented on #1408
At this point I think we're just waiting for the final 👍from @lheagy and then I think we're good to accept here.

[2019-06-30 10:51] arfon commented on #1387
The author has responded to say that he's made a number of improvements to his submission but still needs a little more time to finish them up. He suggested he would be able to complete these in the next two weeks.

[2019-06-30 10:51] arfon commented on #1387
@whedon remind @jlustigy in two weeks

[2019-06-30 10:51] whedon commented on #1387
Reminder set for @jlustigy in two weeks

[2019-06-30 11:17] andreas-h commented on #1468
First of all, let me express my apologies for being so late with this review.

Regarding the installation instructions, in https://github.com/WRF-CMake/WRF/blob/wrf-cmake/doc/cmake/INSTALL.md, I believe the authors should clearly state how to use the CMake system in typical situations occuring in a WRF workflow, e.g., what steps to do after a modification of the Registry.  In upstream WRF, I can u

[2019-06-30 11:29] andreas-h commented on #1468
It's great that we can now build WRF on Windows without hassle, and that pre-built binaries can be distributed.  That's awesome!

However, I do not understand why the authors chose the way to fork the upstream repository.  In my mind, this creates major issues regarding sustainability of WRF-CMake on one hand, and regarding traceability on the other hand.

If CMake support were included in upstrea

[2019-06-30 11:32] andreas-h commented on #1468
Another issue: Given that WRF-Chem is included in the upstream WRF source tree since version 4, the authors should make explicit if WRF-Chem is also supported in WRF-CMake and how to compile "WRF-CMake-Chem" with and without KPP support.

[2019-06-30 12:51] IbrahimTanyalcin commented on #1407
:wave:  @csoneson
- added contributing section to readme
- added eslint and js-beautify templates if needed for PRs
- added a doi field to Robinson et. al.

[2019-06-30 13:37] MathCancer commented on #1408
Fantastic! Thank you!

[2019-06-30 14:35] csoneson commented on #1407
Thanks @imallona - could you please tick the last box in the checklist above too? Thanks!

[2019-06-30 14:36] csoneson commented on #1407
@whedon generate pdf

[2019-06-30 14:36] whedon commented on #1407
[code]

[2019-06-30 14:36] whedon commented on #1407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01407/joss.01407/10.21105.joss.01407.pdf)

[2019-06-30 14:38] csoneson commented on #1407
@whedon check references

[2019-06-30 14:38] whedon commented on #1407
[code]

[2019-06-30 14:38] whedon commented on #1407
[code]

[2019-06-30 16:11] lheagy commented on #1328
@srmnitc: If you are willing to point out typos as you spot them (or create a pull request to fix them), that would be much appreciated!

[2019-06-30 16:18] lheagy commented on #1408
@whedon assign 10.5281/zenodo.3261541  as archive

[2019-06-30 16:18] lheagy commented on #1408
@whedon set 10.5281/zenodo.3261541  as archive

[2019-06-30 16:19] whedon commented on #1408
OK. <a href="https://doi.org/10.5281/zenodo.3261541" target="_blank">10.5281/zenodo.3261541</a> is the archive.

[2019-06-30 16:19] csoneson commented on #1435
@rcorty, @vjcitn - thank you for your reviews!

[2019-06-30 16:21] csoneson commented on #1435
@fboehm - I'll make another pass through the paper and make sure that nothing is missing, and then we're ready to go.
To prepare for acceptance, could you please make a Zenodo archive, and report the DOI in this thread. Make sure that the title and authors of the Zenodo archive match those of the paper.

[2019-06-30 16:21] lheagy commented on #1408
:wave: @rheiland: would you mind updating the title of the Zenodo archive to be: "xml2jupyter: Mapping parameters between XML and Jupyter widgets" (the same as your paper title)? Please also add all of the authors that are listed on the paper to the archive record: Randy Heiland, Daniel Mishler, Tyler Zhang, Eric Bower, and Paul Macklin.

Thanks!

[2019-06-30 16:23] csoneson commented on #1435
@whedon generate pdf

[2019-06-30 16:23] whedon commented on #1435
[code]

[2019-06-30 16:24] whedon commented on #1435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01435/joss.01435/10.21105.joss.01435.pdf)

[2019-06-30 16:42] likask commented on #1441
@vijaysm Can you look here
https://bitbucket.org/likask/mofem-cephas/issues/15/joss-review
It could be an issue with `make install` with MOAB?

[2019-06-30 16:43] csoneson commented on #1435
@fboehm - one more small thing to fix in the references:
* Efron 1979 - should be Annals of Statistics (with capital S)
I'm not quite sure why the Bates & Eddelbuettel reference shows up as "D. Bates & Eddelbuettel" in the text - if I compile the paper locally this doesn't happen, and the bib file looks fine.

[2019-06-30 17:06] csoneson commented on #1533
Hi @bii-absd - to simplify the review process, please take a look at the review checklist above, and make sure that your submission is as complete as possible according to these criteria already at this stage. Thanks!

[2019-06-30 17:39] jjharden commented on #1505
Everything looks good to me. My comments have been addressed.

[2019-06-30 17:43] karthik commented on #1493
We don't require every author to confirm separately.

[2019-06-30 19:03] fboehm commented on #1435
@csoneson - Thanks so much! I’ve fixed the bib file by making the first S a capital letter.

[2019-06-30 19:16] mllg commented on #1493
The issues I raised have been adequately addressed. From my side, this is ready for publication.

[2019-06-30 19:25] letmaik commented on #1468
@andreas-h I'll address your easy/technical questions first before I talk about the bigger issue you raised.

Great suggestion! This is exactly the kind of feedback we need, since we ourselves are more or less blind to such issues now. I've updated the page in https://github.com/WRF-CMake/WRF/commit/cc030c8a1809e4c730cf6766be7d5f2f3013ca1d. Let us know if there's something else that would be good

[2019-06-30 19:34] rheiland commented on #1408
Ah, thank you for continuing to educate me on this @lheagy ! Hopefully it's correct now.

[2019-06-30 19:38] fboehm commented on #1435
Zenodo assigned this DOI: 10.5281/zenodo.3263924

[2019-06-30 19:38] fboehm commented on #1435
Thank you, @vjcitn and @rcorty for your very helpful & constructive reviews!

[2019-06-30 20:56] karthik commented on #1473
Thanks for the updates @robbriers. @jhollist When you get a chance, can you check out the statement of need?

[2019-06-30 20:56] karthik commented on #1473
@whedon generate pdf

[2019-06-30 20:56] whedon commented on #1473
[code]

[2019-06-30 20:56] karthik commented on #1473
@whedon check references

[2019-06-30 20:56] whedon commented on #1473
[code]

[2019-06-30 20:56] whedon commented on #1473
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01473/joss.01473/10.21105.joss.01473.pdf)

[2019-06-30 20:56] whedon commented on #1473
[code]

[2019-06-30 21:18] csoneson commented on #1435
@whedon generate pdf

[2019-06-30 21:18] whedon commented on #1435
[code]

[2019-06-30 21:19] whedon commented on #1435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01435/joss.01435/10.21105.joss.01435.pdf)

[2019-06-30 21:19] csoneson commented on #1435
@whedon check references

[2019-06-30 21:19] whedon commented on #1435
[code]

[2019-06-30 21:20] whedon commented on #1435
[code]

[2019-06-30 21:22] csoneson commented on #1435
@whedon set 10.5281/zenodo.3263924 as archive

[2019-06-30 21:22] whedon commented on #1435
OK. <a href="https://doi.org/10.5281/zenodo.3263924" target="_blank">10.5281/zenodo.3263924</a> is the archive.

[2019-06-30 21:23] csoneson commented on #1435
@whedon set v1.0.3 as version

[2019-06-30 21:23] whedon commented on #1435
OK. v1.0.3 is the version.

[2019-06-30 21:24] csoneson commented on #1435
@whedon accept

[2019-06-30 21:24] whedon commented on #1435
[code]

[2019-06-30 21:24] whedon commented on #1435
[code]

[2019-06-30 21:24] whedon commented on #1435
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/802

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/802, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-30 21:26] csoneson commented on #1435
@openjournals/joss-eics - we are ready for acceptance here! The only weird thing is that the Bates & Eddelbuettel reference in the paper shows up as "D. Bates & Eddelbuettel" - however, the "D." is not included if I build the markdown locally.

[2019-06-30 21:29] csoneson commented on #1505
Thank you @jjharden - could you please also tick the empty boxes in the checklist above?
@Amalan-ConStat - I will take another look at the submission and get back to you shortly to move on with the acceptance procedure.

[2019-06-30 23:13] kyleniemeyer commented on #1435
@csoneson yeah, that's strange. Not sure why it's happening. Unless that's a major issue, I think we should just proceed.

[2019-06-30 23:13] kyleniemeyer commented on #1435
@whedon accept deposit=true

[2019-06-30 23:13] whedon commented on #1435
[code]

[2019-06-30 23:14] whedon commented on #1435
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1145470676448555009) 👈 🐦🐦🐦

[2019-06-30 23:14] whedon commented on #1435
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/803
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01435](https://doi.org/10.21105/joss.01435)
2. If everything looks go

[2019-06-30 23:15] kyleniemeyer commented on #1435
@fboehm congrats on your submission's publication in JOSS! Thanks to @vjcitn and @rcorty for reviewing, and @csoneson for editing.

[2019-06-30 23:15] #1435 closed

[2019-06-30 23:15] whedon commented on #1435
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01435/status.svg)](https://doi.org/10.21105/joss.01435)

**We need your help!**

Journal of Open Source Softwar

[2019-06-30 23:19] kyleniemeyer commented on #1528
Hello @issamhammad, thank you for your interest in JOSS. The editorial board discussed your submission, and as currently framed we do not consider this submission research software and thus does not fall within our scope. We recognize it may be useful, and possibly for research, but it isn't currently framed that way. If you can demonstrate the research utility—possibly by connecting it to current

[2019-06-30 23:19] #1528 closed

[2019-06-30 23:20] kyleniemeyer commented on #1451
Ok, great!

[2019-06-30 23:21] kyleniemeyer commented on #1451
@whedon accept

[2019-06-30 23:21] whedon commented on #1451
[code]

[2019-06-30 23:21] whedon commented on #1451
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/804

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/804, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-30 23:22] whedon commented on #1451
[code]

[2019-06-30 23:24] kyleniemeyer commented on #1529
Hello @cbeauc, thank you for your interest in JOSS. The editorial board discussed your submission, and in our view, your submission appears to be more of a wrapper/minor utility rather than research software in its own right. Thus, while it may be useful, it would not be within scope for JOSS. The relevant qualification for us is:

[2019-06-30 23:24] #1529 closed

[2019-06-30 23:24] kyleniemeyer commented on #1451
@whedon accept deposit=true

[2019-06-30 23:25] whedon commented on #1451
[code]

[2019-06-30 23:25] whedon commented on #1451
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1145473468261117953) 👈 🐦🐦🐦

[2019-06-30 23:25] whedon commented on #1451
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/805
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01451](https://doi.org/10.21105/joss.01451)
2. If everything looks go

[2019-06-30 23:26] kyleniemeyer commented on #1527
Hi @jedbrown, based on editor load and area I'm going to assign this one to you. Thanks!

[2019-06-30 23:27] kyleniemeyer commented on #1527
@whedon assign @jedbrown as editor

[2019-06-30 23:27] whedon commented on #1527
OK, the editor is @jedbrown

[2019-06-30 23:28] kyleniemeyer commented on #1451
@banesullivan congratulations on your submission's publication in JOSS! Thanks to @gassmoeller and @Leguark for reviewing and @leouieda for editing.

[2019-06-30 23:28] #1451 closed

[2019-06-30 23:28] whedon commented on #1451
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01451/status.svg)](https://doi.org/10.21105/joss.01451)

**We need your help!**

Journal of Open Source Softwar

[2019-06-30 23:30] whedon opened #1534 "[PRE REVIEW]: Blimpy: Breakthrough Listen I/O Methods for Python"
**Submitting author:** @telegraphic (<a href="http://orcid.org/0000-0003-2783-1608">Danny Price</a>)
**Repository:** <a href="https://github.com/UCBerkeleySETI/blimpy" target ="_blank">https://github.com/UCBerkeleySETI/blimpy</a>
**Version:** 1.3.6
**Editor:** @xuanxu
**Reviewers:** @garrettj403, @zhampel

**Author instructions**

Thanks for submitting your paper to JOSS @telegraphic. **Currently,

[2019-06-30 23:30] whedon commented on #1534
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-30 23:30] whedon commented on #1534
[code]

[2019-06-30 23:30] whedon commented on #1534
PDF failed to compile for issue #1534 with the following error:

 Can't find any papers to compile :-(

[2019-06-30 23:31] kyleniemeyer commented on #1534
Hi @xuanxu, this submission looks right up your alley. Can you edit?

[2019-06-30 23:33] kyleniemeyer commented on #1534
Hey @arfon, I see `paper.md` and `paper.bib` right at the top level of the repo, any idea why whedon doesn't see those?

[2019-06-30 23:35] kyleniemeyer commented on #1534
Hi @telegraphic, thanks for your submission. While we get things initiated here, I noticed that your article is quite short; although we don't publish full-length papers here, we do expect 250-1000 words (one or two pages in PDF format is typical). Can you expand on your software a bit more, for example talking about features, infrastructure, etc., or even giving one or two examples?

[2019-06-30 23:35] whedon opened #1535 "[PRE REVIEW]: Sourcepredict: Prediction of metagenomic sample sources using dimension reduction followed by machine learning classification"
**Submitting author:** @maxibor (<a href="http://orcid.org/0000-0001-9140-7559">Maxime Borry</a>)
**Repository:** <a href="https://github.com/maxibor/sourcepredict" target ="_blank">https://github.com/maxibor/sourcepredict</a>
**Version:** v0.33
**Editor:** @lpantano
**Reviewers:** @gavinmdouglas, @giraola

**Author instructions**

Thanks for submitting your paper to JOSS @maxibor. **Currently, th

[2019-06-30 23:35] whedon commented on #1535
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-30 23:35] whedon commented on #1535
[code]

[2019-06-30 23:36] whedon commented on #1535
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01535/joss.01535/10.21105.joss.01535.pdf)

[2019-06-30 23:36] kyleniemeyer commented on #1535
Hi @mgymrek or @lpantano, can one of you edit this submission?

[2019-06-30 23:37] whedon opened #1536 "[PRE REVIEW]: SeleDiff: A fast and scalable tool for estimating and testing selection differences between populations"
**Submitting author:** @xin-huang (<a href="http://orcid.org/0000-0002-9918-9602">Xin Huang</a>)
**Repository:** <a href="https://github.com/xin-huang/SeleDiff" target ="_blank">https://github.com/xin-huang/SeleDiff</a>
**Version:** v.1.0.0
**Editor:** @lpantano
**Reviewers:** @stulacy, @suresh-lab

**Author instructions**

Thanks for submitting your paper to JOSS @xin-huang. **Currently, there is

[2019-06-30 23:37] whedon commented on #1536
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-30 23:37] whedon commented on #1536
[code]

[2019-06-30 23:37] whedon commented on #1536
PDF failed to compile for issue #1536 with the following error:

 Can't find any papers to compile :-(

[2019-06-30 23:39] kyleniemeyer commented on #1536
Hi @mgymrek and @lpantano, can one of you take this? (Perhaps one of you can take this submission and the other can take #1535...)

[2019-06-30 23:40] whedon opened #1537 "[PRE REVIEW]: bayestestR: Describing Effects and their Uncertainty, Existence and Significance within the Bayesian Framework"
**Submitting author:** @DominiqueMakowski (<a href="http://orcid.org/0000-0001-5375-9967">Dominique Makowski</a>)
**Repository:** <a href="https://github.com/easystats/bayestestR" target ="_blank">https://github.com/easystats/bayestestR</a>
**Version:** v0.2.3
**Editor:** @cMadan
**Reviewers:** @paul-buerkner, @tjmahr

**Author instructions**

Thanks for submitting your paper to JOSS @DominiqueMak

[2019-06-30 23:40] whedon commented on #1537
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-30 23:40] whedon commented on #1537
[code]

[2019-06-30 23:40] whedon commented on #1537
PDF failed to compile for issue #1537 with the following error:

 Can't find any papers to compile :-(

[2019-06-30 23:42] kyleniemeyer commented on #1537
Hi @karthik, can you take this submission?

[2019-06-30 23:43] whedon opened #1538 "[PRE REVIEW]: pyMannKendall: a python package for non parametric Mann Kendall family of trend tests."
**Submitting author:** @mmhs013 (<a href="http://orcid.org/0000-0002-5361-0633">Md. Manjurul Hussain</a>)
**Repository:** <a href="https://github.com/mmhs013/pyMannKendall" target ="_blank">https://github.com/mmhs013/pyMannKendall</a>
**Version:** v 1.0
**Editor:** @mbobra
**Reviewers:** @dhhagan, @rreinecke

**Author instructions**

Thanks for submitting your paper to JOSS @mmhs013. **Currently,

[2019-06-30 23:43] whedon commented on #1538
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-30 23:43] whedon commented on #1538
[code]

[2019-06-30 23:44] whedon commented on #1538
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01538/joss.01538/10.21105.joss.01538.pdf)

[2019-06-30 23:44] kyleniemeyer commented on #1538
Hi @mbobra, can you edit this submission?

[2019-06-30 23:51] arfon commented on #1534
@whedon generate pdf

[2019-06-30 23:51] whedon commented on #1534
[code]

[2019-06-30 23:51] whedon commented on #1534
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01534/joss.01534/10.21105.joss.01534.pdf)

[2019-06-30 23:52] arfon commented on #1536
@whedon generate pdf

[2019-06-30 23:52] whedon commented on #1536
[code]

[2019-06-30 23:52] whedon commented on #1536
PDF failed to compile for issue #1536 with the following error:

 Error reading bibliography ./paper.bib (line 5, column 5):
unexpected "Y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-01 00:09] brainstorm commented on #1526
Gotcha @vsoch, I'll take your offer as 2nd reviewer ;)

@mbod, would you like to assist us with this review?

[2019-07-01 00:32] xin-huang commented on #1536
@whedon generate pdf

[2019-07-01 00:32] whedon commented on #1536
[code]

[2019-07-01 00:33] whedon commented on #1536
PDF failed to compile for issue #1536 with the following error:

 Error producing PDF.
! Missing delimiter (. inserted).
<to be read again>
                   {
l.373 \[\text{median}\left{

Looks like we failed to compile the PDF

[2019-07-01 00:50] xin-huang commented on #1536
@whedon generate pdf

[2019-07-01 00:50] whedon commented on #1536
[code]

[2019-07-01 00:50] karthik commented on #1537
@kyleniemeyer Unfortunately I'm taking a much needed hiatus on handling new submissions till September.

[2019-07-01 00:53] whedon commented on #1536
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01536/joss.01536/10.21105.joss.01536.pdf)

[2019-07-01 01:08] arfon commented on #1408
@whedon accept

[2019-07-01 01:08] whedon commented on #1408
[code]

[2019-07-01 01:08] whedon commented on #1408
[code]

[2019-07-01 01:09] xin-huang commented on #1536
@whedon generate pdf

[2019-07-01 01:09] whedon commented on #1536
[code]

[2019-07-01 01:09] whedon commented on #1408
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/806

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/806, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-01 01:10] arfon commented on #1408
@whedon accept deposit=true

[2019-07-01 01:10] whedon commented on #1408
[code]

[2019-07-01 01:11] whedon commented on #1408
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1145500077139607552) 👈 🐦🐦🐦

[2019-07-01 01:11] whedon commented on #1408
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/807
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01408](https://doi.org/10.21105/joss.01408)
2. If everything looks go

[2019-07-01 01:12] arfon commented on #1408
@choldgraf, @lheagy - many thanks for your reviews here and to @lheagy for editing this submission ✨

@rheiland - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-07-01 01:12] #1408 closed

[2019-07-01 01:12] whedon commented on #1408
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01408/status.svg)](https://doi.org/10.21105/joss.01408)

**We need your help!**

Journal of Open Source Softwar

[2019-07-01 01:27] rheiland commented on #1408
Thank you very much @arfon, @lheagy, and esp @choldgraf for this terrific experience!

Randy

[2019-07-01 02:05] gkthiruvathukal commented on #1531
@ts-adi I went with one reviewer on this submission because I understand the subject matter well and can fill in missing details (as I was able to do on the testing matter). I feel like we're moving in the direction of acceptance and are getting great feedback from our reviewer, so are you on with continuing with just one, union input from me?

[2019-07-01 02:26] xin-huang commented on #1536
@whedon generate pdf

[2019-07-01 02:26] whedon commented on #1536
[code]

[2019-07-01 02:28] whedon commented on #1536
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01536/joss.01536/10.21105.joss.01536.pdf)

[2019-07-01 03:12] jedbrown commented on #1463
@akelbert Is there anything we can do to facilitate your review? Please note that it is fine to review from the perspective of a potential user for joint inversion; other reviewers have covered different perspectives and you need not spend time in the overlap if time is limited. Thanks.

[2019-07-01 03:24] poulson commented on #1385
Dear @evcastelani: please excuse the delay and thank you for taking the time to respond to the suggestions! I am happy to recommend the paper for publication now (@arfon).

[2019-07-01 03:25] kyleniemeyer commented on #1537
@karthik got it!

[2019-07-01 03:33] poulson commented on #1490
@mlxd and @stuartcampbell: thank you for the helpful responses! I apologize for misreading the short descriptions of your expertise! I will reach out to others first.

Hi (@vyasr): Given your listed expertise in python and "particle simulation", would you be willing and able to review this submission?

Hi (@betatim): Would you reconsider reviewing this submission?

[2019-07-01 03:35] poulson commented on #1278
@whedon commands

[2019-07-01 03:35] whedon commented on #1278
Here are some things you can ask me to do:

[code]

[2019-07-01 03:35] poulson commented on #1278
@whedon set v0.2.1 as version

[2019-07-01 03:35] whedon commented on #1278
OK. v0.2.1 is the version.

[2019-07-01 03:36] poulson commented on #1278
@whedon set 10.5281/zenodo.3249188 as archive

[2019-07-01 03:36] whedon commented on #1278
OK. <a href="https://doi.org/10.5281/zenodo.3249188" target="_blank">10.5281/zenodo.3249188</a> is the archive.

[2019-07-01 03:37] poulson commented on #1278
Congratulations, @matbesancon, I have recommended the paper for publication! (@openjournals/joss-eics)

[2019-07-01 03:37] poulson commented on #1385
@whedon set 10.5281/zenodo.3242619 as archive

[2019-07-01 03:38] whedon commented on #1385
OK. <a href="https://doi.org/10.5281/zenodo.3242619" target="_blank">10.5281/zenodo.3242619</a> is the archive.

[2019-07-01 03:38] poulson commented on #1385
(pinging @openjournals/joss-eics instead of Arfon)

[2019-07-01 04:01] kyleniemeyer commented on #1385
Hi @fsobral and @evcastelani, I just made some minor edits to the paper in https://github.com/fsobral/RAFF.jl/pull/20, could you merge that? Also, there are a few final things:

- One of the expectations for JOSS papers is to contain

Can you add this?
- Can you merge the `joss` branch into `master`, and then update the Zenodo archive with the updated version? Also, the metadata on the Zenodo arch

[2019-07-01 04:04] kyleniemeyer commented on #1278
Hi @matbesancon, a few little things to fix before we publish:

- In your Zenodo archive, the summary/description says "A changelog is being generated, please check back in a few minutes."
- I made a couple of copy-edits to the paper in https://github.com/matbesancon/BilevelOptimization.jl/pull/20, could you merge that?

[2019-07-01 04:05] kyleniemeyer commented on #1537
@whedon generate pdf

[2019-07-01 04:05] whedon commented on #1537
[code]

[2019-07-01 04:05] whedon commented on #1537
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01537/joss.01537/10.21105.joss.01537.pdf)

[2019-07-01 04:10] kyleniemeyer commented on #1537
Hi @cMadan, can you handle this submission? I see quite a few psychology-related references/applications here.

[2019-07-01 04:12] kyleniemeyer commented on #1390
Hi @pierrepo, just checking in. Have you had a chance to work on this?

[2019-07-01 04:14] kyleniemeyer commented on #1182
Hi @mconlon17, just checking in about your updates to the paper.

[2019-07-01 04:19] kyleniemeyer commented on #1005
Hi @adammichaelwood, just checking in. Have you been able to get to this review?

[2019-07-01 04:27] kyleniemeyer commented on #1005
@slithiaote regarding your responses,

1. There may technically be two examples, but at least one reviewer found this a bit lacking. Could you improve the documentation around the examples, to make it easier for a new user? It may make sense and work easily for you, but both @yochannah and @tpetricek ran into issues.

2. All software changes, and research software needs tests. JOSS publishes resea

[2019-07-01 04:51] DominiqueMakowski commented on #1537
Potential reviewers that could be interested include @paul-buerkner and @tjmahr ☺️

[2019-07-01 06:31] prisae commented on #1463
There is no (joint) inversion in `emg3d`, I assume you simply meant "from the perspective of a potential user" or "from the perspective of a potential user for modelling".

[2019-07-01 06:45] dvberkel commented on #1531
This is excellent!

[2019-07-01 07:20] trallard commented on #1475
Hi fellas I do not want to hold this any further so since this aligns well with my areas of expertise I am going to self assign me as a reviewer and start the process

[2019-07-01 07:20] trallard commented on #1475
@whedon add @trallard  as reviewer

[2019-07-01 07:20] whedon commented on #1475
OK, @trallard  is now a reviewer

[2019-07-01 07:20] trallard commented on #1475
@whedon start review

[2019-07-01 07:20] whedon opened #1539 "[REVIEW]: pulse"
**Submitting author:** @finsberg (<a href="http://orcid.org/0000-0003-3766-2393">Henrik Nicolay Topnes Finsberg</a>)
**Repository:** <a href="https://github.com/finsberg/pulse" target ="_blank">https://github.com/finsberg/pulse</a>
**Version:** 2019.0
**Editor:** @trallard
**Reviewer:** @melund, @trallard
**Archive:** <a href="https://doi.org/10.5281/zenodo.3376811" target="_blank">10.5281/zenodo.

[2019-07-01 07:20] whedon commented on #1475
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1539. Feel free to close this issue now!

[2019-07-01 07:20] whedon commented on #1539
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @melund, @trallard  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-07-01 07:20] whedon commented on #1539
[code]

[2019-07-01 07:21] whedon commented on #1539
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01539/joss.01539/10.21105.joss.01539.pdf)

[2019-07-01 07:21] #1475 closed

[2019-07-01 07:22] trallard commented on #1539
Hi @melund  your reviewer checklist is at the top 👆🏼 thanks a lot for your time and effort.
Let's use this issue to keep the review alive and use the submitting repo for any longer reviews/discussions.

As per usual if you run into any problems feel free to ping me here!

[2019-07-01 07:23] trallard commented on #1326
Hi folks, I am just checking how this is going and if you need any help with the review

[2019-07-01 07:23] trallard commented on #1517
@whedon remind @rougier in 2 weeks

[2019-07-01 07:23] whedon commented on #1517
Reminder set for @rougier in 2 weeks

[2019-07-01 07:24] trallard commented on #1517
Hi @krother @dangunter  I am just popping by to see how the review is going and check if you need additional help

[2019-07-01 07:39] trallard commented on #1317
Thanks for your time and reviews @becarioprecario  and @sunhwan 🙏🏼

@CameronDevine I can confirm your paper has been accepted now! 🎉  Let's move this to publication, please complete the following actions and let me know once this is done

- Final check on article: DOIS are present, authors are correctly listed
- Create a  new tag for the software and add let me know what final version is
- Deposit

[2019-07-01 07:40] trallard commented on #1317
@whedon  commands

[2019-07-01 07:42] xuanxu commented on #1534
@kyleniemeyer yes, I can edit this

[2019-07-01 07:43] trallard commented on #1317
@whedon generate pdf

[2019-07-01 07:43] whedon commented on #1317
[code]

[2019-07-01 07:44] whedon commented on #1317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01317/joss.01317/10.21105.joss.01317.pdf)

[2019-07-01 07:44] trallard commented on #1317
@whedon check references

[2019-07-01 07:44] whedon commented on #1317
[code]

[2019-07-01 07:44] whedon commented on #1317
[code]

[2019-07-01 07:48] hrhotz commented on #1407
I have just ticked the last box and I am happy to recommend the current version for acceptance.
@IbrahimTanyalcin it was a pleasure to work with you
@imallona and @jkanche thanks for the collaboration
@csoneson thank you very much for the excellent guidance

[2019-07-01 08:49] ts-adi commented on #1531
@gkthiruvathukal Yes, this sounds reasonable to me. Thanks!

[2019-07-01 09:04] tjhei commented on #1441
@jedbrown I finished reviewing and testing the MoFEM library. @likask has been responsive in the issues I raised. I think there is room for major improvements in the documentation of the examples, specifically how to run the programs. My struggles are documented in the issue linked above. Otherwise, I am happy to accept this.

[2019-07-01 10:29] matbesancon commented on #1278
hi @kyleniemeyer thanks, I've updated the Zenodo description field, I responded on the repo for the edit, I'm not sure about the square bracket thing

[2019-07-01 10:42] Amudtogal commented on #1326
Hi folks,
a short update on my progress:

I have setup a Travis CI, which runs and installs Phobos and is able to run different tests from the test folder.
https://travis-ci.org/Amudtogal/phobos
Right now, all these changes sit on my fork on github (https://github.com/Amudtogal/phobos), as there are still some minor issues to be resolved before I can merge it into the master:
- proper error code p

[2019-07-01 11:03] srmnitc commented on #1328
@lheagy thanks! Fixed some typos and created a pull request now.

[2019-07-01 11:14] xuanxu commented on #1534
@whedon assign @xuanxu as editor

[2019-07-01 11:15] whedon commented on #1534
OK, the editor is @xuanxu

[2019-07-01 11:29] IbrahimTanyalcin commented on #1407
@hrhotz , thank you for the great input for the color schemes and url fetching idea. The pleasure is mine.
Also, @imanolla thank you for pointing out very important points including w3c recommendation for animation fps, which I had no idea about.
I don't know if @jkanche  is here, but I also thank him for performance related issues.
@csoneson, thank you for checking if all is on the track.
I'm sor

[2019-07-01 12:41] slithiaote commented on #1005
1. Both @yochannah and @tpetricek ran into installation issues, which I have addressed by switching to a source-based distribution to support Windows Subsystem for Linux, adding a `make.sh` script (3 lines of code), and writing more detailed instructions and putting those in the `README`, instead of the main documentation file `lepton.pdf`. I have replied to the comments on the github issue, but I

[2019-07-01 12:43] cMadan commented on #1476
@MLHale, just to update you, I've been emailing potential reviewers for your submission but that's still in-progress.

[2019-07-01 12:53] MathCancer commented on #1408
Thanks very much for leading us through our first JOSS submission! Thanks
to @rheiland for terrific work as lead author!

In case it helps your statistics for impact, etc., please note that this
paper has three undergraduate co-authors.

All the best -- Paul

[2019-07-01 13:05] arfon commented on #1408
✨

[2019-07-01 13:19] gkthiruvathukal commented on #1326
@trallard Thanks for checking in! We definitely can use your help with the remaining work on this review. Would you be willing to take a look at @Amudtogal's updates for Travis CI/testing? If it is on the right track, I think we can move toward acceptance pretty soon.

[2019-07-01 13:21] ShanaScogin commented on #1515
@monogan - perhaps you'd be willing to review? Thanks for the help!

[2019-07-01 13:23] lpantano commented on #1535
I can take this one. Thanks

[2019-07-01 13:35] melund commented on #1539
Thanks, @trallard. I may be a little while before I can get to this. I am going on sommer holiday on Friday. And I will most likely be away from my computer for at least two weeks.

I am sorry, but I am just too busy before I leave to get this done. I will look at it when I get back :)

[2019-07-01 13:49] tjmahr commented on #1537
I can review it. (I have done one review in the past for ROpenSci.)

[2019-07-01 14:00] maxibor commented on #1535
Maybe @gavinmdouglas or @giraola could be good reviewers for this article ?

[2019-07-01 14:09] jedbrown commented on #1463
@prisae Yes, understood that it isn't a feature of emg3d, but a researcher might want to use emg3d in conjunction with other software for that purpose.  We can still ask whether it can do what would be needed for such uses without getting in the way of aspects that are out of scope.  It isn't so much about the particular case of joint inversion, but that its demands are representative of other res

[2019-07-01 14:11] evcastelani commented on #1385
Dear @kyleniemeyer

Thank you for your corrections in the paper.

Done

We have merged the `joss` branch into `master`. Since our project is a registered Julia package, we are waiting for it to be added. When the process finishes, a new release will be automatically generated and the DOI will also be automatically generated. We will ping you with the new DOI as soon as it is generated.

[2019-07-01 14:12] paul-buerkner commented on #1537
It is a rather short article, right? I think I should be able to review it. Are there any reviewing guidelines?

[2019-07-01 14:12] csoneson commented on #1505
@whedon check references

[2019-07-01 14:12] whedon commented on #1505
[code]

[2019-07-01 14:12] whedon commented on #1487
:wave: @tesch1, please update us on how things are progressing here.

[2019-07-01 14:13] whedon commented on #1505
[code]

[2019-07-01 14:14] csoneson commented on #1505
@whedon generate pdf

[2019-07-01 14:14] whedon commented on #1505
[code]

[2019-07-01 14:14] prisae commented on #1463
:+1: Thanks for the clarification @jedbrown . I wasn't sure if it was a typo or meant exactly like that.

[2019-07-01 14:14] whedon commented on #1505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01505/joss.01505/10.21105.joss.01505.pdf)

[2019-07-01 14:15] whedon commented on #1453
:wave: @sambitdash, please update us on how things are progressing here.

[2019-07-01 14:29] Amalan-ConStat commented on #1505
I have gone through the article properly and it includes all the corrections without any issues.

[2019-07-01 14:50] csoneson commented on #1505
@Amalan-ConStat I have sent a pull request fixing some issues with a couple of the references. If this looks fine to you, please merge it.
The next step is to create a Zenodo archive. Please make sure that the package version number is consistent everywhere, and that the Zenodo archive has exactly the same name and authors as the paper. Then, post the DOI from Zenodo in this thread.

[2019-07-01 15:02] CameronDevine commented on #1317
@CamDavidsonPilon, I just wanted to make sure you saw this since I was mentioned by mistake.

[2019-07-01 15:03] CameronDevine commented on #1326
@gkthiruvathukal, I will take a look at this as well.

[2019-07-01 15:05] andrewheiss commented on #1515
Yep, I’d be happy to review!

[2019-07-01 15:14] xin-huang commented on #1536
Potential reviewers could be @stulacy and @Suresh-lab

[2019-07-01 15:17] suresh-lab commented on #1536
Happy help!

[2019-07-01 15:22] choldgraf commented on #1408
✨++

[2019-07-01 15:27] strengejacke commented on #1537
@paul-buerkner

Guidelines are described here: https://joss.readthedocs.io/en/latest/review_criteria.html
The review will be in a GitHub repo, where reviewers have this checklist:
https://joss.readthedocs.io/en/latest/review_checklist.html

You can glance at the compiled PDF here:
https://github.com/openjournals/joss-papers/blob/joss.01537/joss.01537/10.21105.joss.01537.pdf

But it's not only the

[2019-07-01 15:28] kyleniemeyer commented on #1535
@whedon assign @lpantano as editor

[2019-07-01 15:28] whedon commented on #1535
OK, the editor is @lpantano

[2019-07-01 15:33] kyleniemeyer commented on #1278
@whedon generate pdf

[2019-07-01 15:33] whedon commented on #1278
[code]

[2019-07-01 15:33] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-07-01 15:37] kyleniemeyer commented on #1278
@whedon accept

[2019-07-01 15:37] whedon commented on #1278
[code]

[2019-07-01 15:37] whedon commented on #1278
[code]

[2019-07-01 15:37] whedon commented on #1278
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/808

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/808, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-01 15:38] kyleniemeyer commented on #1278
@whedon accept deposit=true

[2019-07-01 15:38] whedon commented on #1278
[code]

[2019-07-01 15:38] whedon commented on #1278
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1145718410208251904) 👈 🐦🐦🐦

[2019-07-01 15:38] whedon commented on #1278
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/809
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01278](https://doi.org/10.21105/joss.01278)
2. If everything looks go

[2019-07-01 15:38] kyleniemeyer commented on #1385
@evcastelani ok, thanks. Please ping us here when the DOI is ready.

[2019-07-01 15:39] kyleniemeyer commented on #1278
Congrats @matbesancon on your submission's publication in JOSS! Thanks to @HaoZeke and @vissarion for reviewing, and @poulson for editing.

[2019-07-01 15:39] #1278 closed

[2019-07-01 15:39] whedon commented on #1278
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01278/status.svg)](https://doi.org/10.21105/joss.01278)

**We need your help!**

Journal of Open Source Softwar

[2019-07-01 15:53] gkthiruvathukal commented on #1326
@CameronDevine Thank you!

[2019-07-01 15:56] sambitdash commented on #1453
I have updated as desired and waiting for comments now.

[2019-07-01 16:03] jedbrown commented on #1441
Thanks, @tjhei.
@likask Thanks for being responsive. Please update when you feel that revision of documentation/installation/examples is complete.

[2019-07-01 16:24] CameronDevine commented on #1326
@Amudtogal, once the error code propagation is fixed and tests for model joints are added, as mentioned in `testmodel.test.py`, I will be ready to recommend this for publication.

[2019-07-01 16:28] whedon commented on #1173
:wave: @pankajkmishra, please update us on how things are progressing here.

[2019-07-01 16:49] paul-buerkner commented on #1537
Great, thanks! I am happy to review this paper then.

[2019-07-01 17:10] kyleniemeyer commented on #1537
Thanks to both of @paul-buerkner and @tjmahr for volunteering so quickly! I'll assign you now, but we are still waiting to get an editor assigned to handle the submission, who will actually start the review.

[2019-07-01 17:10] kyleniemeyer commented on #1537
@whedon add @paul-buerkner as reviewer

[2019-07-01 17:12] kyleniemeyer commented on #1537
@whedon add @tjmahr as reviewer

[2019-07-01 17:34] stulacy commented on #1536
Also happy to review!

On Mon, 1 Jul 2019 at 17:17, Suresh Lab <notifications@github.com> wrote:

[2019-07-01 18:18] kyleniemeyer commented on #1536
Great, thanks to you both @stulacy and @suresh-lab! I will add you as reviewers, but we are still waiting to get an editor assigned to handle the submission and start the review.

[2019-07-01 18:19] kyleniemeyer commented on #1536
@whedon add @stulacy as reviewer

[2019-07-01 18:19] kyleniemeyer commented on #1536
@whedon add @suresh-lab as reviewer

[2019-07-01 18:19] kyleniemeyer commented on #1536
Hi @mgymrek, just another ping about handling this submission—we already have two reviewers ready to go!

[2019-07-01 18:34] mbobra commented on #1538
Yup @kyleniemeyer, I'd be happy to!

[2019-07-01 18:42] jhollist commented on #1473
Just took a look at the new proof and statement of need looks good.  Going to check on the other things but anticipate signing off on these momentarily.

[2019-07-01 18:45] jhollist commented on #1473
Looks good to me!  Just signed off on the last remaining items in the checklist.  👍 👍

[2019-07-01 18:56] kyleniemeyer commented on #1538
@whedon assign @mbobra as editor

[2019-07-01 18:56] whedon commented on #1538
OK, the editor is @mbobra

[2019-07-01 19:19] Amalan-ConStat commented on #1505
I have completed the merge and it is done. package version number is set to 1.4.1 everywhere, which makes it consistent and accurate. Further, Zenodo archive has exactly the same name and authors as the paper.

http://doi.org/10.5281/zenodo.3265356

[2019-07-01 19:25] pierrepo commented on #1390
Hello @kyleniemeyer
I'm on it. I've just fixed 2 issues opened by @rpetit3 ([#12](https://github.com/pierrepo/autoclasswrapper/issues/12) and [#13](https://github.com/pierrepo/autoclasswrapper/issues/13))
I will now handle those opened by @lowandrew (https://github.com/pierrepo/autoclasswrapper/issues).

[2019-07-01 20:05] karthik commented on #1473
Thanks Jeff, you rock! 💯

[2019-07-01 20:06] karthik commented on #1473
whedon generate pdf

[2019-07-01 20:06] karthik commented on #1473
@robbriers Can you please archive on Zenodo and post a DOI here 🙏

[2019-07-01 21:05] csoneson commented on #1505
@whedon check references

[2019-07-01 21:05] whedon commented on #1505
[code]

[2019-07-01 21:05] whedon commented on #1505
[code]

[2019-07-01 21:05] csoneson commented on #1505
@whedon generate pdf

[2019-07-01 21:05] whedon commented on #1505
[code]

[2019-07-01 21:06] whedon commented on #1505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01505/joss.01505/10.21105.joss.01505.pdf)

[2019-07-01 21:13] csoneson commented on #1505
Hi @Amalan-ConStat - the Zenodo archive in the link above does not have the same title and authors as the paper - the title of the Zenodo archive is "Amalan-ConStat/R-fitODBOD: All issues addressed", and I have been included among the authors.

[2019-07-01 22:16] pankajkmishra commented on #1173
@whedon I am on it. Will respond soon.

[2019-07-01 23:36] likask commented on #1441
@jedbrown We have open pull request updating READMEs and documentation as results @tjhei  comments and problems.

[pull request](https://bitbucket.org/mofem/users-modules-cephas/pull-requests/55/nonlinear_mechanics-cmakelists-alignment/diff)

[2019-07-02 00:46] mbobra commented on #1538
Hi @mmhs013, would you like to suggest any referees from [this list of JOSS reviewers](https://docs.google.com/spreadsheets/u/1/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit)?

[2019-07-02 00:47] mbobra commented on #1504
👋 @ejolly @hooman650 How is it going? Would you like more time to review? Do you have any questions? Please let me know!

[2019-07-02 00:49] mbobra commented on #1524
👋 @desilinguist, @paragkulkarni11 How is it going? Would you like more time to review? Do you have any questions? Please let me know!

[2019-07-02 01:22] Amalan-ConStat commented on #1505
Very sorry, I have corrected them now in the zenodo archive. Hope now it is correct. Further article proof is correct.

http://doi.org/10.5281/zenodo.3265356

[2019-07-02 02:11] telegraphic commented on #1534
Hi @kyleniemeyer -- happy to expand on the software, will add a few paragraphs

[2019-07-02 04:01] monogan commented on #1515
I can review this. @usethedata, if you choose me, do I understand correctly that you'll provide me with a checklist to do the review?

[2019-07-02 04:02] mmhs013 commented on #1538
I would like to suggest @dhhagan and @molgor from this list.

[2019-07-02 04:11] alexanderimanicowenrivers commented on #1524
Let me know if there is anything you would like clarified! @desilinguist @paragkulkarni11

[2019-07-02 05:46] csoneson commented on #1505
The title is correct now. However, the author names are given in different formats, and consequently the citations of the two records would be different (Mahendran et al. for paper, Amalan et al. for Zenodo archive).

[2019-07-02 05:52] robbriers commented on #1473
https://doi.org/10.5281/zenodo.2577178

[2019-07-02 05:52] Amalan-ConStat commented on #1505
Apologies again, I have corrected it now. http://doi.org/10.5281/zenodo.3265356

[2019-07-02 05:56] csoneson commented on #1505
@whedon set 10.5281/zenodo.3265356 as archive

[2019-07-02 05:56] whedon commented on #1505
OK. <a href="https://doi.org/10.5281/zenodo.3265356" target="_blank">10.5281/zenodo.3265356</a> is the archive.

[2019-07-02 05:56] csoneson commented on #1505
@whedon set v1.4.1 as version

[2019-07-02 05:56] whedon commented on #1505
OK. v1.4.1 is the version.

[2019-07-02 05:56] csoneson commented on #1505
@whedon accept

[2019-07-02 05:56] whedon commented on #1505
[code]

[2019-07-02 05:57] whedon commented on #1505
[code]

[2019-07-02 05:57] whedon commented on #1505
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/810

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/810, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-02 05:57] csoneson commented on #1505
@openjournals/joss-eics - I think we are ready for acceptance here! Thanks.

[2019-07-02 07:41] daissi commented on #1522
Unfortunately, I will not be available to do it before September. It should be better to find someone else, but if nobody appears until September, I will be happy to review this one.

[2019-07-02 08:24] zhangning737 commented on #1328
@srmnitc compiling error might relate to the newly update of intel compiler, I'll check it with the newest version. Thanks.

[2019-07-02 08:36] xin-huang commented on #1536
@whedon generate pdf

[2019-07-02 08:36] whedon commented on #1536
[code]

[2019-07-02 08:39] whedon commented on #1536
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01536/joss.01536/10.21105.joss.01536.pdf)

[2019-07-02 08:45] dirmeier commented on #1478
@whedon generate pdf

[2019-07-02 08:45] whedon commented on #1478
[code]

[2019-07-02 08:46] whedon commented on #1478
PDF failed to compile for issue #1478 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:123:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d6

[2019-07-02 08:50] dirmeier commented on #1478
Hey @arokem ,
I think once we fix the error above we are done with the review. I am not sure what is failing here, the `md` file seems fine.

[2019-07-02 10:33] labarba commented on #1505
@whedon accept deposit=true

[2019-07-02 10:33] whedon commented on #1505
[code]

[2019-07-02 10:33] whedon commented on #1505
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1146004033120985089) 👈 🐦🐦🐦

[2019-07-02 10:33] whedon commented on #1505
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/811
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01505](https://doi.org/10.21105/joss.01505)
2. If everything looks go

[2019-07-02 10:36] zhangning737 commented on #1328
@lheagy Already pull the request. @srmnitc Please check the configuration model of Intel Compiler. I think I should add that to documentation.

[2019-07-02 10:37] labarba commented on #1505
Congratulations, @Amalan-ConStat, your JOSS paper is published! 🚀

Big thanks to our editor: @csoneson, and the reviewers: @osorensen, @jjharden — JOSS is thriving thanks to your contributions!

[2019-07-02 10:37] #1505 closed

[2019-07-02 10:37] whedon commented on #1505
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01505/status.svg)](https://doi.org/10.21105/joss.01505)

**We need your help!**

Journal of Open Source Softwar

[2019-07-02 10:38] Amalan-ConStat commented on #1505
Thank you for the unconditional support.

[2019-07-02 11:24] desilinguist commented on #1524
Yes, I’d like until next Friday (7/12) please.

[2019-07-02 13:23] gavinmdouglas commented on #1535
I'm interested in reviewing this article.

[2019-07-02 13:34] cMadan commented on #1294
@tyarkoni, is this now ready for a final review?

[2019-07-02 13:35] cMadan commented on #1537
@kyleniemeyer @DominiqueMakowski, sure I can serve as editor here.

[2019-07-02 13:36] cMadan commented on #1537
@whedon assign @cMadan as editor

[2019-07-02 13:36] whedon commented on #1537
OK, the editor is @cMadan

[2019-07-02 13:52] lpantano commented on #1536
well, I can do it  as well if there is already two reviewers :)

[2019-07-02 13:57] lpantano commented on #1535
@gavinmdouglas, thank you!

[2019-07-02 13:57] lpantano commented on #1535
@whedon assign @gavinmdouglas as reviewer

[2019-07-02 13:57] whedon commented on #1535
OK, the reviewer is @gavinmdouglas

[2019-07-02 14:03] lpantano commented on #1535
that would be awesome @giraola

[2019-07-02 14:03] lpantano commented on #1535
@whedon add @giraola as reviewer

[2019-07-02 14:03] whedon commented on #1535
OK, @giraola is now a reviewer

[2019-07-02 14:04] lpantano commented on #1535
@whedon check references

[2019-07-02 14:04] whedon commented on #1535
[code]

[2019-07-02 14:10] jcsutherland commented on #1523
A newb question: where do I put my review?  And does the review checklist get pre-populated somewhere?

[2019-07-02 14:18] whedon commented on #1535
[code]

[2019-07-02 14:18] zbeekman commented on #1523
@jcsutherland once the editor (@katyhuff) selects the reviewers via whedon commands, it will open a new review issue, with more instructions. So sit tight until that happens.

@katyhuff it looks like you have two reviewers now. Please LMK if you need me for anything, but I'm unsubscribing for now :wave:. @ mention me if you want to get my attention.

[2019-07-02 14:22] lpantano commented on #1535
@whedon start review

[2019-07-02 14:22] whedon opened #1540 "[REVIEW]: Sourcepredict: Prediction of metagenomic sample sources using dimension reduction followed by machine learning classification"
**Submitting author:** @maxibor (<a href="http://orcid.org/0000-0001-9140-7559">Maxime Borry</a>)
**Repository:** <a href="https://github.com/maxibor/sourcepredict" target ="_blank">https://github.com/maxibor/sourcepredict</a>
**Version:** v0.34
**Editor:** @lpantano
**Reviewers:** @gavinmdouglas, @giraola, @will-rowe
**Archive:** <a href="https://doi.org/10.5281/zenodo.3379604" target="_blank">10

[2019-07-02 14:22] whedon commented on #1535
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1540. Feel free to close this issue now!

[2019-07-02 14:22] whedon commented on #1540
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gavinmdouglas, @giraola it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-07-02 14:22] whedon commented on #1540
[code]

[2019-07-02 14:23] #1535 closed

[2019-07-02 14:23] whedon commented on #1540
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01540/joss.01540/10.21105.joss.01540.pdf)

[2019-07-02 14:36] dvberkel commented on #1531
@ts-adi I am not very familiar with Robotic Operating System. I have read some of the tutorial material. My understanding of what your project entails is that it offers a standard interface to read sensor data.

Am i correct in my assumption that the for the * Functionality documentation* part of the review. I should review that it adheres to the ROS framework guidelines?

[2019-07-02 14:38] cMadan commented on #1458
@vc1492a @jg-you, thank you both for your thorough reviews, I greatly appreciate it!

@hneutr, it looks like you're still not using GitHub releases? (And I don't see a response to that suggestion.)

The netwulf DOI will be 10.21105/joss.01425. I am fine with you citing it here, with this DOI (even though not officially registered yet) as it will resolve as a citation to the other package once it i

[2019-07-02 14:38] fsobral commented on #1385
Dear @kyleniemeyer , here's the new DOI: `10.5281/zenodo.3265300`.

[2019-07-02 14:39] cMadan commented on #1537
@whedon start review

[2019-07-02 14:39] whedon opened #1541 "[REVIEW]: bayestestR: Describing Effects and their Uncertainty, Existence and Significance within the Bayesian Framework"
**Submitting author:** @DominiqueMakowski (<a href="http://orcid.org/0000-0001-5375-9967">Dominique Makowski</a>)
**Repository:** <a href="https://github.com/easystats/bayestestR" target ="_blank">https://github.com/easystats/bayestestR</a>
**Version:** 0.2.5
**Editor:** @cMadan
**Reviewer:** @paul-buerkner, @tjmahr
**Archive:** <a href="https://doi.org/10.5281/zenodo.3361605" target="_blank">10.5

[2019-07-02 14:39] whedon commented on #1537
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1541. Feel free to close this issue now!

[2019-07-02 14:39] whedon commented on #1541
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @paul-buerkner, @tjmahr it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-07-02 14:39] whedon commented on #1541
[code]

[2019-07-02 14:39] #1537 closed

[2019-07-02 14:40] whedon commented on #1541
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01541/joss.01541/10.21105.joss.01541.pdf)

[2019-07-02 14:46] azazel7 commented on #1485
@gkthiruvathukal If I am not mistaken, the DOI is 10.5281/zenodo.3266109. The last release (1.0.0.1) is just for the paper modifications. The corresponding webpage is [there](https://zenodo.org/record/3266109).

[2019-07-02 14:51] gkthiruvathukal commented on #1485
@whedon commands

[2019-07-02 14:51] whedon commented on #1485
Here are some things you can ask me to do:

[code]

[2019-07-02 14:52] gkthiruvathukal commented on #1485
@whedon set 10.5281/zenodo.3266109 as archive

[2019-07-02 14:52] whedon commented on #1485
OK. <a href="https://doi.org/10.5281/zenodo.3266109" target="_blank">10.5281/zenodo.3266109</a> is the archive.

[2019-07-02 14:54] ts-adi commented on #1531
@dvberkel Your understanding is correct. It standardizes the following things:
- reading and parsing incoming data from a TS3 sensor
- fine tuning wave or signal processing parameters directly from ROS
- demonstrates integration with popular ROS tools like rviz, pcl2, tf2, etc

No other documentation to go through except what we have in the ROS wiki (http://wiki.ros.org/toposens) and the general R

[2019-07-02 15:25] usethedata commented on #1515
@whedon assign @monogan as reviewer

[2019-07-02 15:25] whedon commented on #1515
OK, the reviewer is @monogan

[2019-07-02 15:25] usethedata commented on #1515
@whedon add @andrewheiss as reviewer

[2019-07-02 15:25] whedon commented on #1515
OK, @andrewheiss is now a reviewer

[2019-07-02 15:25] usethedata commented on #1515
@whedon start review

[2019-07-02 15:25] whedon opened #1542 "[REVIEW]: modeLLtest: An R Package for Unbiased Model Comparison using Cross Validation"
**Submitting author:** @ShanaScogin (<a href="http://orcid.org/0000-0002-7801-853X">Shana Scogin</a>)
**Repository:** <a href="https://github.com/ShanaScogin/modeLLtest" target ="_blank">https://github.com/ShanaScogin/modeLLtest</a>
**Version:** 1.0.1
**Editor:** @usethedata
**Reviewers:** @andrewheiss, @usethedata
**Archive:** <a href="https://doi.org/10.5281/zenodo.3377959" target="_blank">10.52

[2019-07-02 15:25] whedon commented on #1515
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1542. Feel free to close this issue now!

[2019-07-02 15:25] whedon commented on #1542
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @monogan, @andrewheiss it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-07-02 15:25] whedon commented on #1542
[code]

[2019-07-02 15:26] whedon commented on #1542
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01542/joss.01542/10.21105.joss.01542.pdf)

[2019-07-02 15:27] usethedata commented on #1515
@ShanaScogin Thanks for the assistance in finding reviewers.
@andrewheiss @monogan Thanks for agreeing to review.  There is a checklist for each of you over in the review issue ( #1542 ).  Please let me know if you have questions, either by tagging me in a post on that issue or reaching out to me directly.

[2019-07-02 15:27] #1515 closed

[2019-07-02 15:31] whedon commented on #1326
:wave: @Amudtogal, please update us on how things are progressing here.

[2019-07-02 15:40] dvberkel commented on #1531
Great :+1:

This is true, but there is also a review point on the documentation side.

[2019-07-02 15:42] gkthiruvathukal commented on #1326
FYI, @Amudtogal, I think that was an automatic nudge message.

[2019-07-02 15:48] jedbrown commented on #1527
@kavir1698 Thanks for your submission. I see a few things that should be corrected before starting the review.
1. There are some syntactic issues with the references in the paper, e.g., `@[key]` should be `[@key]`. There is no need to cite your own repository; it already appears in the margin decoration.
2. The paper is very short and would benefit from some greater explanation of features, perhap

[2019-07-02 16:13] karthik commented on #1473
@whedon set 10.5281/zenodo.2577178 as archive

[2019-07-02 16:13] whedon commented on #1473
OK. <a href="https://doi.org/10.5281/zenodo.2577178" target="_blank">10.5281/zenodo.2577178</a> is the archive.

[2019-07-02 16:13] karthik commented on #1473
Over you to @openjournals/joss-eics

[2019-07-02 16:20] kyleniemeyer commented on #1385
@whedon generate pdf

[2019-07-02 16:20] whedon commented on #1385
[code]

[2019-07-02 16:20] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-07-02 16:21] kyleniemeyer commented on #1536
@lpantano sounds good, thanks! 😀

[2019-07-02 16:23] kyleniemeyer commented on #1385
@whedon set 10.5281/zenodo.3265300 as archive

[2019-07-02 16:23] whedon commented on #1385
OK. <a href="https://doi.org/10.5281/zenodo.3265300" target="_blank">10.5281/zenodo.3265300</a> is the archive.

[2019-07-02 16:24] kyleniemeyer commented on #1385
@fsobral ok, everything looks good to go now.

[2019-07-02 16:24] kyleniemeyer commented on #1385
@whedon accept

[2019-07-02 16:24] whedon commented on #1385
[code]

[2019-07-02 16:24] whedon commented on #1385
[code]

[2019-07-02 16:24] whedon commented on #1385
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/812

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/812, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-02 16:28] kyleniemeyer commented on #1385
Hi @fsobral, there was an incorrect DOI, that I've corrected in https://github.com/fsobral/RAFF.jl/pull/21

[2019-07-02 16:45] kyleniemeyer commented on #1385
@whedon generate pdf

[2019-07-02 16:45] whedon commented on #1385
[code]

[2019-07-02 16:45] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-07-02 16:47] katyhuff commented on #1523
That's right. I just had a busy week since my last comment on this topic. I'll assign reviewers and start the review now.

[2019-07-02 16:48] katyhuff commented on #1523
@whedon assign @jcsutherland as reviewer

[2019-07-02 16:48] whedon commented on #1523
OK, the reviewer is @jcsutherland

[2019-07-02 16:48] katyhuff commented on #1523
@whedon assign @fcontino as reviewer

[2019-07-02 16:48] whedon commented on #1523
OK, the reviewer is @fcontino

[2019-07-02 16:49] katyhuff commented on #1523
@fcontino : We would like reviews to be completed in two weeks if possible. I hope that will be an acceptable deadline for you. Notably, the paper is quite short and since @kyleniemeyer knows the requirements for a JOSS submission quite well, we hope it won't take more than a few hours once you begin.

[2019-07-02 16:49] katyhuff commented on #1523
@whedon start review

[2019-07-02 16:49] whedon opened #1543 "[REVIEW]: pyMARS: automatically reducing chemical kinetic models in Python"
**Submitting author:** @kyleniemeyer (<a href="http://orcid.org/0000-0003-4425-7097">Kyle E Niemeyer</a>)
**Repository:** <a href="https://github.com/Niemeyer-Research-Group/pyMARS" target ="_blank">https://github.com/Niemeyer-Research-Group/pyMARS</a>
**Version:** v1.1.0
**Editor:** @katyhuff
**Reviewer:** @fcontino, @jcsutherland
**Archive:** <a href="https://doi.org/10.5281/zenodo.3401549" targ

[2019-07-02 16:49] whedon commented on #1523
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1543. Feel free to close this issue now!

[2019-07-02 16:49] whedon commented on #1543
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fcontino it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-07-02 16:49] whedon commented on #1543
[code]

[2019-07-02 16:50] whedon commented on #1543
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01543/joss.01543/10.21105.joss.01543.pdf)

[2019-07-02 16:50] katyhuff commented on #1523
Ok folks, let's move over to #1543 where you will find guidance and a checklist regarding the review process.

[2019-07-02 16:50] #1523 closed

[2019-07-02 16:55] kyleniemeyer commented on #1385
@whedon check references

[2019-07-02 16:55] whedon commented on #1385
[code]

[2019-07-02 16:55] whedon commented on #1385
[code]

[2019-07-02 16:55] kyleniemeyer commented on #1385
@whedon accept

[2019-07-02 16:55] whedon commented on #1385
[code]

[2019-07-02 16:55] whedon commented on #1385
[code]

[2019-07-02 16:55] whedon commented on #1385
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/813

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/813, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-02 16:58] kyleniemeyer commented on #1385
@whedon accept deposit=true

[2019-07-02 16:58] whedon commented on #1385
[code]

[2019-07-02 16:58] whedon commented on #1385
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1146100967508779008) 👈 🐦🐦🐦

[2019-07-02 16:59] whedon commented on #1385
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/814
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01385](https://doi.org/10.21105/joss.01385)
2. If everything looks go

[2019-07-02 17:11] kyleniemeyer commented on #1385
Congrats to @fsobral and @evcastelani on your submission's publication in JOSS! And thanks very much to @abelsiqueira and @matbesancon for reviewing, and @poulson for editing.

[2019-07-02 17:11] #1385 closed

[2019-07-02 17:11] whedon commented on #1385
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01385/status.svg)](https://doi.org/10.21105/joss.01385)

**We need your help!**

Journal of Open Source Softwar

[2019-07-02 17:18] evcastelani commented on #1385
@kyleniemeyer thank you for accepting our article and providing important improvements. It was the first time we published on JOSS and it was a great experience. Thanks again to the reviewers @matbesancon
 and @abelsiqueira for all suggestions and the editor @poulson for the support.

[2019-07-02 17:22] matbesancon commented on #1278
Thanks all for the reviews!

On Mon, Jul 1, 2019, 17:39 whedon <notifications@github.com> wrote:

[2019-07-02 17:23] mbobra commented on #1538
👋 @dhhagan @molgor Would you be willing to review this submission for JOSS?

[2019-07-02 17:24] mbobra commented on #1524
@desilinguist Absolutely. Thanks for your time.

[2019-07-02 17:40] alexanderimanicowenrivers commented on #1524
Thank you :)

[2019-07-02 19:57] lheagy commented on #1521
I will start the review and keep looking for a second reviewer so that you can start at your convenience @santisoler

[2019-07-02 19:57] lheagy commented on #1521
@whedon start review

[2019-07-02 19:57] whedon opened #1544 "[REVIEW]: PyCurious: A Python module for computing the Curie depth from the magnetic anomaly."
**Submitting author:** @brmather (<a href="http://orcid.org/0000-0003-3566-1557">Ben Mather</a>)
**Repository:** <a href="https://github.com/brmather/pycurious" target ="_blank">https://github.com/brmather/pycurious</a>
**Version:** 1.0.2
**Editor:** @lheagy
**Reviewers:** @santisoler, @jessepisel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3349511" target="_blank">10.5281/zenodo.3349511<