[2019-10-08 22:30] labarba commented on #1611
@kavir1698 — could you edit the metadata of the Zenodo deposit so the title matches the paper?

[2019-10-08 22:34] kavir1698 commented on #1611
@labarba, the title is updated.

[2019-10-08 22:40] labarba commented on #1611
I jus finished reading the paper—all good, except for the performance comparison in Figure 1, it would be nice if you provided the specs of the hardware used for the test!

[2019-10-08 22:43] labarba commented on #1704
https://github.com/PolymerGuy/AXITOM/releases
... shows the version as V0.1.3, but here I see V0.1.2 — I will update the version here, but please let us know if that was not what you intended.

[2019-10-08 22:44] labarba commented on #1704
@whedon set V0.1.3 as version

[2019-10-08 22:44] whedon commented on #1704
OK. V0.1.3 is the version.

[2019-10-08 22:45] kavir1698 commented on #1611
I have added the following line to the figure caption:

"The comparison was performed on a Windows machine with a i7-6500U CPU and 16 GB of RAM."

[2019-10-08 22:50] labarba commented on #1611
@whedon accept deposit=true

[2019-10-08 22:50] whedon commented on #1611
[code]

[2019-10-08 22:50] whedon commented on #1611
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1181703547303411712) 👈 🐦🐦🐦

[2019-10-08 22:50] whedon commented on #1611
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1014
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01611](https://doi.org/10.21105/joss.01611)
2. If everything looks g

[2019-10-08 22:51] SuperKam91 commented on #1787
Hi @kyleniemeyer thank you for your comments. I have now updated the `paper.md` with the correct formatting. I have also introduced a much more comprehensive installation procedure (and guidance in the `README.md`). The changes can be found at the same url: https://github.com/SuperKam91/gns but note I had to create a new repo due to some issues (the old repo is now at https://github.com/SuperKam91

[2019-10-08 22:51] labarba commented on #1611
Congratulations, @kavir1698, your JOSS paper is now published! 🚀

Huge thanks to our editor: @jedbrown, and the reviewers: @Datseris, @mozhgan-kch — your contribution to JOSS is much appreciated 🙏

[2019-10-08 22:51] marekborowiec commented on #1635
Thank you @labarba, @csoneson, @iimog and @gavinmdouglas!

[2019-10-08 22:51] kavir1698 commented on #1611
Thank you all.

[2019-10-08 22:53] labarba commented on #1611
@arfon — I just looked at the PDF, and it doesn't contain the last commit by the author. Is `@whedon` not able to catch a very recent commit?

[2019-10-08 23:11] labarba commented on #1704
I suggested some copy edits via PR. The text was a bit cluttered and hard to read in places, so I attempted to remove some unnecessary words.

[2019-10-08 23:31] kyleniemeyer commented on #1611
@labarba @arfon could the issue be that the change was made after the initial `whedon accept` command, and then whedon used that version with the deposit?

[2019-10-08 23:32] kyleniemeyer commented on #1787
@whedon generate pdf

[2019-10-08 23:32] whedon commented on #1787
[code]

[2019-10-08 23:32] whedon commented on #1787
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01787/joss.01787/10.21105.joss.01787.pdf)

[2019-10-08 23:34] kyleniemeyer commented on #1787
@SuperKam91 looks like it worked!

[2019-10-08 23:43] labarba commented on #1611
I don't think so. In another paper I just published, some copy edits I submitted via PR did not appear in the PDF doing a `@whedon accept` immediately after the merge, but after waiting a while, I ran it again, and they got caught.I have a feeling there's some caching delay or whatnot.

[2019-10-08 23:44] labarba commented on #1611
Here I did `@whedon accept deposit=true` too quick, I'm afraid...

[2019-10-09 00:08] kyleniemeyer commented on #1787
Hi @mbobra, could you edit this submission?

[2019-10-09 00:11] kyleniemeyer commented on #1759
@labarba @arfon just confirming that I can see the PDF

[2019-10-09 01:24] labarba commented on #1759
I see it now. Closing.

[2019-10-09 01:24] #1759 closed

[2019-10-09 01:24] whedon commented on #1759
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01759/status.svg)](https://doi.org/10.21105/joss.01759)

**We need your help!**

Journal of Open Source Softwa

[2019-10-09 01:25] #1635 closed

[2019-10-09 01:25] whedon commented on #1635
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01635/status.svg)](https://doi.org/10.21105/joss.01635)

**We need your help!**

Journal of Open Source Softwa

[2019-10-09 08:11] drvinceknight commented on #1763
Great thanks @mikldk

[2019-10-09 08:11] drvinceknight commented on #1763
@whedon generate pdf

[2019-10-09 08:12] whedon commented on #1763
[code]

[2019-10-09 08:12] whedon commented on #1763
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01763/joss.01763/10.21105.joss.01763.pdf)

[2019-10-09 08:15] drvinceknight commented on #1763
@whedon check references

[2019-10-09 08:15] whedon commented on #1763
[code]

[2019-10-09 08:15] whedon commented on #1763
[code]

[2019-10-09 08:17] drvinceknight commented on #1763
@openjournals/joss-eics this paper is ready to be accepted

[2019-10-09 08:33] kahaaga commented on #1666
I've now re-done the entire documentation for the package to make the points that @ahwillia pointed out much more clear. Instead of making tutorials explaining the difference (which might be missed by users unless they really dive into the documentation), I now explain the resampling procedure in detail for each function that uses it.

Concretely, this involved re-working the documentation for the

[2019-10-09 08:38] SuperKam91 commented on #1787
@whedon generate pdf

[2019-10-09 08:38] whedon commented on #1787
[code]

[2019-10-09 08:39] whedon commented on #1787
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01787/joss.01787/10.21105.joss.01787.pdf)

[2019-10-09 08:57] Kevin-Mattheus-Moerman commented on #1725
@whedon generate pdf

[2019-10-09 08:57] whedon commented on #1725
[code]

[2019-10-09 08:57] whedon commented on #1725
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01725/joss.01725/10.21105.joss.01725.pdf)

[2019-10-09 08:59] Kevin-Mattheus-Moerman commented on #1725
@whedon check references

[2019-10-09 08:59] whedon commented on #1725
[code]

[2019-10-09 08:59] whedon commented on #1725
[code]

[2019-10-09 09:02] Shibabrat commented on #1693
@kthyng It's going slowly since I'm also learning the theory behind the package to be sure my feedback is useful but I'll speed-up. Apologies for the delay.

[2019-10-09 09:08] Kevin-Mattheus-Moerman commented on #1725
@sravan953 thanks. One point is remaining, in the sentence containing"`...and export them a .seq file.`", you forgot to add either `to` or `as` i.e. use "`...and export them [to] a .seq file.`" or "`...and export them [as] a .seq file.`"

[2019-10-09 09:12] Kevin-Mattheus-Moerman commented on #1725
@sravan953, once you've made the above change, can you run `@whedon generate pdf` here? Also can you do the following:

- [ ] Please archive the reviewed software on Zenodo and report the DOI here in this review thread. Make sure the Zenodo deposit has the correct metadata (same title and author list as the paper).
- [ ] Can you confirm that the version of the reviewed (and archived) software is `

[2019-10-09 09:31] xuanxu commented on #1554
:wave: @zhampel can you review the changes [made by @telegraphic](https://github.com/openjournals/joss-reviews/issues/1554#issuecomment-536267054) and summarize what points (if any) you feel are still remaining? Thanks!

[2019-10-09 09:35] leouieda commented on #1720
@banesullivan @malmans2 thank you for your reviews and opening issues on the project repo :+1:

@sam-greenwood please keep us informed of the progress and don't hesitate to ask questions or reach out if you need any help/clarification implementing the requested changes.

[2019-10-09 09:37] leouieda commented on #1315
:wave: hi @sauln any progress updates on these tasks? Let me know when you're done so we can move on to publication.

[2019-10-09 09:39] leouieda commented on #1703
:wave: Hi @krischer would you be interested in reviewing this submission for JOSS? Here is a [link to the submitted paper](https://github.com/openjournals/joss-papers/blob/joss.01703/joss.01703/10.21105.joss.01703.pdf) and the [software repository](https://github.com/underworldcode/underworld2).

[2019-10-09 09:47] krischer commented on #1703
Hi @leouieda,

thanks for the consideration and while I could review the Python part I'm not familiar with geodynamic simulations at all so I don't feel qualified for this particular review.

I think @gassmoeller for example would be much more qualified here.

[2019-10-09 09:50] leouieda commented on #1703
@krischer thanks for the quick response!

[2019-10-09 09:51] leouieda commented on #1703
@gassmoeller would you like to review this submission for JOSS?

[2019-10-09 10:04] paul-buerkner commented on #1662
With the reviews now done (I think?) what are the next steps in the submission process?

[2019-10-09 10:23] sam-greenwood commented on #1720
Will do, I've just been away on a brief holiday so haven't had a chance to continue work on this just yet but will try to address the majority of the issues this weekend.

[2019-10-09 10:26] alvarolopez commented on #1517
@trallard hi again. is there anything else we can do to speed up this (final) process?

[2019-10-09 11:32] labarba commented on #1763
The software archive is still pending:

- [ ] Archive the reviewed software in Zenodo or a similar service
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on it); you may also add the authors' ORCID.
- [ ] Please list the Zenodo DOI of the arch

[2019-10-09 11:54] mikldk commented on #1763
@drvinceknight / @labarba: It is already on Zenodo: https://zenodo.org/record/3476220 (DOI: [10.5281/zenodo.3476220](https://doi.org/10.5281/zenodo.3476220)).

[2019-10-09 12:07] labarba commented on #1763
@whedon set 10.5281/zenodo.3476220 as archive

[2019-10-09 12:07] whedon commented on #1763
OK. <a href="https://doi.org/10.5281/zenodo.3476220" target="_blank">10.5281/zenodo.3476220</a> is the archive.

[2019-10-09 12:07] labarba commented on #1763
Please edit the Zenodo archive's metadata so the title and author list matches the JOSS paper.

[2019-10-09 12:09] drvinceknight commented on #1763
I had checked that @labarba (based on the checklist you circulated on a previous review) but please let me know if I could have made that clearer. (Should I have asked Whedon to archive as you did?).

I see that I missed that. Apologies.

[2019-10-09 12:11] mikldk commented on #1763
@labarba @drvinceknight : This has now been done: <https://zenodo.org/record/3476220>.

[2019-10-09 12:11] labarba commented on #1763
Yes, the handling editor runs the command `@whedon set <doi> as archive` before handing it over to AEiCs.

[2019-10-09 12:12] mikldk commented on #1763
@labarba @drvinceknight : This has now been done: <https://zenodo.org/record/3476220>.

[2019-10-09 12:13] drvinceknight commented on #1763
Thanks, I also see where I missed that in the docs. Apologies for the trouble :+1:

[2019-10-09 12:30] mikldk commented on #1763
@labarba @drvinceknight : This has now been done: https://zenodo.org/record/3476220.

[2019-10-09 12:30] mikldk commented on #1763
@labarba @drvinceknight : This has now been done: <https://zenodo.org/record/3476220>.

[2019-10-09 14:14] sravan953 commented on #1725
@whedon generate pdf

[2019-10-09 14:14] whedon commented on #1725
[code]

[2019-10-09 14:15] sravan953 commented on #1725
Apologies for overlooking this, this has been fixed.

[2019-10-09 14:15] whedon commented on #1725
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01725/joss.01725/10.21105.joss.01725.pdf)

[2019-10-09 14:23] arfon commented on #1611
I just regenerated the PDF locally and updated the `joss-papers` repo with the new PDF.

This is showing up as fixed for me now but might take a few hours to show up as modified for some of you as there's caching in place for the PDFs.

[2019-10-09 14:24] zhampel commented on #1554
@xuanxu I will try to get to it by the end of the week. I have had a computer failure yesterday so I can’t reasonably re-review till then.

[2019-10-09 14:27] whedon opened #1790 "[PRE REVIEW]: The ExoTETHyS package: Tools for Exoplanetary Transits around Host Stars"
**Submitting author:** @gmorello (<a href="http://orcid.org/0000-0002-4262-5661">Giuseppe Morello</a>)
**Repository:** <a href="https://github.com/ucl-exoplanets/ExoTETHyS" target ="_blank">https://github.com/ucl-exoplanets/ExoTETHyS</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewers:** @steven-murray, @williamjameshandley

**Author instructions**

Thanks for submitting your paper to JOSS @gmo

[2019-10-09 14:27] whedon commented on #1790
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `

[2019-10-09 14:28] TrashBirdEcology commented on #1566
Congrats @JonasMoss !

[2019-10-09 14:32] arfon commented on #1790
:wave: @gmorello, thanks for your submission to JOSS. A few questions/comments before we get started here:

- Is this a joint submission with a AAS publication?
- Please look at this [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) and format the YAML header _exactly_ the same way as it is done here. YAML is whitespace sensitive and your `paper.

[2019-10-09 14:35] knaidoo29 commented on #1721
@whedon generate pdf

[2019-10-09 14:36] whedon commented on #1721
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf)

[2019-10-09 14:45] majensen commented on #1781
@whedon assign @briatte as reviewer

[2019-10-09 14:58] #1611 closed

[2019-10-09 14:58] whedon commented on #1611
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01611/status.svg)](https://doi.org/10.21105/joss.01611)

**We need your help!**

Journal of Open Source Softwa

[2019-10-09 15:59] KedoKudo commented on #1732
@mrgprasad @Kevin-Mattheus-Moerman
I am happy with the current state of `kanapy`, and I would like to recommend this package for publication.

[2019-10-09 16:09] ahwillia commented on #1666
Looks good to me!

On Wed, Oct 9, 2019, 1:33 AM Kristian Agasøster Haaga <
notifications@github.com> wrote:

[2019-10-09 16:27] sravan953 commented on #1725
@Kevin-Mattheus-Moerman Oops, I now follow what you were saying. There have been some minor fixes since version 1.2.2. was submitted to JOSS for review. Would you recommend publishing a new release with the latest commit?

[2019-10-09 16:28] gmorello commented on #1790
Dear Arfon Smith,

thanks for your message.
I edited the paper.md file to be identical to the example.

In case it does not compile:

  *   Could they be caused by accented letters?
  *   Not all the contributors have an ORCID, so I have reported only mine.
  *   Could they be caused by the URL that I report?

About the tests, there are already 8 possible input files in the examples folder.
Some o

[2019-10-09 16:30] arfon commented on #1790
@whedon generate pdf

[2019-10-09 16:30] whedon commented on #1790
[code]

[2019-10-09 16:30] whedon commented on #1790
PDF failed to compile for issue #1790 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1790/paper.md): control characters are not allowed at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/ruby-2.4.4/lib

[2019-10-09 16:38] PolymerGuy commented on #1704
@labarba Thank you very much for the PR, and I really appreciate the proposed changes. I have now merged the PR.

[2019-10-09 16:46] gmorello commented on #1790
@whedon<https://github.com/whedon> generate pdf
________________________________
From: whedon <notifications@github.com>
Sent: 09 October 2019 17:30
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Morello, Giuseppe <giuseppe.morello.11@alumni.ucl.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: The ExoTETHyS package: Tools for

[2019-10-09 16:55] arfon commented on #1790
@gmorello - this pull request should fix your paper: https://github.com/ucl-exoplanets/ExoTETHyS/pull/2

Also, please create a `paper.bib` file and add the bibtex entry for the arXiv entry in your paper. You will need to cite the arXiv entry in the text: you can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)).

OK thanks. This may be acceptable

[2019-10-09 16:56] arfon commented on #1790
Also, could you please answer this ☝️ question from earlier?

[2019-10-09 17:47] gassmoeller commented on #1703
Hi @leouieda,
I am happy to review this submission.

[2019-10-09 18:08] labarba commented on #1763
@whedon accept

[2019-10-09 18:08] whedon commented on #1763
[code]

[2019-10-09 18:08] whedon commented on #1763
[code]

[2019-10-09 18:09] whedon commented on #1763
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1015

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1015, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-09 18:12] labarba commented on #1763
@whedon accept deposit=true

[2019-10-09 18:12] whedon commented on #1763
[code]

[2019-10-09 18:13] whedon commented on #1763
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1181996068537606144) 👈 🐦🐦🐦

[2019-10-09 18:13] whedon commented on #1763
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1016
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01763](https://doi.org/10.21105/joss.01763)
2. If everything looks g

[2019-10-09 18:13] labarba commented on #1763
Congratulations, @mikldk, your JOSS paper is now published! 🚀

Huge thanks to our editor: @drvinceknight, and the reviewers: @MikeLydeamore, @EduPH — your contribution to JOSS is greatly appreciated!

[2019-10-09 18:15] labarba commented on #1704
@whedon accept

[2019-10-09 18:15] whedon commented on #1704
[code]

[2019-10-09 18:15] whedon commented on #1704
[code]

[2019-10-09 18:16] whedon commented on #1704
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1017

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1017, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-09 18:19] labarba commented on #1704
@whedon accept deposit=true

[2019-10-09 18:19] whedon commented on #1704
[code]

[2019-10-09 18:19] whedon commented on #1704
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1181997723932864512) 👈 🐦🐦🐦

[2019-10-09 18:22] labarba commented on #1704
Congratulations, @PolymerGuy, your JOSS paper is now published! 🚀

Huge thanks to our eeditor: @katyhuff, and the reviewers: @PingjunChen, @dgursoy — you're a part of our big adventure!

[2019-10-09 18:24] #1763 closed

[2019-10-09 18:24] whedon commented on #1763
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01763/status.svg)](https://doi.org/10.21105/joss.01763)

**We need your help!**

Journal of Open Source Softwa

[2019-10-09 18:24] #1704 closed

[2019-10-09 18:24] whedon commented on #1704
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01704/status.svg)](https://doi.org/10.21105/joss.01704)

**We need your help!**

Journal of Open Source Softwa

[2019-10-09 18:25] labarba commented on #1555
👋 @rouson — what is your ETA for the review? (we already have a recommendation from the other reviewer). Thanks!

[2019-10-09 18:31] mjsottile commented on #1782
@whedon assign @xoolive as reviewer

[2019-10-09 18:32] whedon commented on #1782
OK, the reviewer is @xoolive

[2019-10-09 18:33] mjsottile commented on #1782
@xoolive thanks for agreeing to review.  I still need to find another reviewer or two to help out.

[2019-10-09 18:43] labarba commented on #1665
The acronym SNP is used without ever spelling it out. (Of course, also DNA, but this being of popular knowledge, it can pass.)

[2019-10-09 18:45] mikldk commented on #1763
I would repeat after @whedon: Huge thanks to our editor @drvinceknight and the reviewers @MikeLydeamore and @EduPH -- your effort is greatly appreciated!

[2019-10-09 18:50] drvinceknight commented on #1763
A personal thank you to the editors from me: this doesn't happen without you. Congratulations @mikldk and a further personal thanks to @labarba for your patience and guidance :+1:

[2019-10-09 18:52] gmorello commented on #1790
It is associated with an AAS manuscript under review, the one cited from arXiv.

Solely based on the information they provide, I selected possibly suitable reviewers:

nespinoza*, nicoguaro, andreas-h, zingale, ziotom78, steven-murray, williamjameshandley, harpolea, astrom-tom, danehkar, dhuppenkothen, wtbarnes, gregbryan

*nespinoza developed a code with similar functionalities. I am not sure whe

[2019-10-09 19:13] arfon commented on #1790
@whedon generate pdf

[2019-10-09 19:13] whedon commented on #1790
[code]

[2019-10-09 19:14] whedon commented on #1790
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01790/joss.01790/10.21105.joss.01790.pdf)

[2019-10-09 19:21] gmorello commented on #1790
It looks fine, thank you.

Giuseppe
________________________________
From: whedon <notifications@github.com>
Sent: 09 October 2019 20:14
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Morello, Giuseppe <giuseppe.morello.11@alumni.ucl.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: The ExoTETHyS package: Tools for Exoplanetary

[2019-10-09 19:23] labarba commented on #1695
👋 I've removed the "paused" label on this, as @VivianePons should be back to editing now.

[2019-10-09 19:23] xoolive commented on #1782
Thank you, I will have a look at it all next week

[2019-10-09 19:48] labarba commented on #1772
👋 @mjsottile — Could you handle this submission as editor?
**simode: R Package for Statistical Inference of Ordinary Differential Equations using Separable Integral-Matching**
Repository: https://github.com/ramiyaari/simode/

[2019-10-09 19:56] whedon opened #1791 "[PRE REVIEW]: GFFJ.jl: Optimization-based gap finding and filling in Julia"
**Submitting author:** @ZZP12 (<a href="http://orcid.org/0000-0002-9099-4357">Zhiping Zhang</a>)
**Repository:** <a href="https://github.com/varnerlab/GFFJ.git" target ="_blank">https://github.com/varnerlab/GFFJ.git</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @ZZP12. **Currently, there isn't an JOSS editor ass

[2019-10-09 19:56] whedon commented on #1791
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-09 19:56] whedon commented on #1791
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01791/joss.01791/10.21105.joss.01791.pdf)

[2019-10-09 19:57] daniellivingston commented on #1777
@rmsare , on x86_64 Ubuntu, running the command:

[code]

gives the error:

[code]

Trying to run `conda env create -f environment.yml` fails due to `liblas/writer.hpp` not being found.

[2019-10-09 20:02] whedon opened #1792 "[PRE REVIEW]: archetypal: A Python package for collecting, simulating, converting and analyzing building archetypes"
**Submitting author:** @samuelduchesne (<a href="http://orcid.org/0000-0001-5790-878X">Samuel Letellier-Duchesne</a>)
**Repository:** <a href="https://github.com/samuelduchesne/archetypal" target ="_blank">https://github.com/samuelduchesne/archetypal</a>
**Version:** v1.3
**Editor:** @kyleniemeyer
**Reviewers:** @brynpickering, @ThibaultMarzullo

**Author instructions**

Thanks for submitting your

[2019-10-09 20:02] whedon commented on #1792
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-09 20:02] whedon commented on #1792
[code]

[2019-10-09 20:03] whedon commented on #1792
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01792/joss.01792/10.21105.joss.01792.pdf)

[2019-10-09 20:09] labarba commented on #1792
👋 @samuelduchesne — I am the Associate Editor-in-Chief on rotation this week, and will continue working to identify an editor to handle your submission.  But first, I need to ask you to add to the top of your paper:

(From our [Documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain).)

Currently, the paper is using a lot of jargon. As it is, I (a non-spec

[2019-10-09 20:12] whedon opened #1793 "[PRE REVIEW]: momepy: Urban Morphology Measuring Toolkit"
**Submitting author:** @martinfleis (<a href="http://orcid.org/0000-0003-3319-3366">Martin Fleischmann</a>)
**Repository:** <a href="https://github.com/martinfleis/momepy" target ="_blank">https://github.com/martinfleis/momepy</a>
**Version:** v0.1
**Editor:** @drvinceknight
**Reviewers:** @martibosch, @geraintpalmer

**Author instructions**

Thanks for submitting your paper to JOSS @martinfleis.

[2019-10-09 20:12] whedon commented on #1793
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-09 20:12] whedon commented on #1793
[code]

[2019-10-09 20:13] whedon commented on #1793
PDF failed to compile for issue #1793 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1793/paper/paper.md): mapping values are not allowed in this context at line 2 column 15 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2019-10-09 20:20] whedon opened #1794 "[PRE REVIEW]: IRimage: Open source software for processing images from consumer thermal cameras"
**Submitting author:** @gpereyrairujo (<a href="http://orcid.org/0000-0002-2261-6928">Gustavo Pereyra Irujo</a>)
**Repository:** <a href="https://github.com/gpereyrairujo/IRimage" target ="_blank">https://github.com/gpereyrairujo/IRimage</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @gpereyrairujo. **Currently, th

[2019-10-09 20:20] whedon commented on #1794
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-09 20:20] whedon commented on #1794
[code]

[2019-10-09 20:20] arfon commented on #1793
@labarba - you can mention @openjournals/dev for issues like this.

[2019-10-09 20:20] whedon commented on #1794
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01794/joss.01794/10.21105.joss.01794.pdf)

[2019-10-09 20:23] martinfleis commented on #1793
@whedon generate pdf

[2019-10-09 20:23] whedon commented on #1793
[code]

[2019-10-09 20:23] labarba commented on #1793
Thanks! I'm not sure what Is going on here... 😕

[2019-10-09 20:24] whedon commented on #1793
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01793/joss.01793/10.21105.joss.01793.pdf)

[2019-10-09 20:26] martinfleis commented on #1793
@arfon @labarba That was my mistake, my markdown editor changed '' to ‘’.

[2019-10-09 20:32] daniellivingston commented on #1777
@rmsare , I have completed my review. Great package that may find a use within my research group. I am recommending your publication for review.

On your ReadTheDocs documentation, the left sidebar has an area where the background is pure white, obstructing the package name. This is a minor thing and does not impact legibility of the documentation, but should be addressed.

[2019-10-09 20:37] martinfleis commented on #1793
@whedon generate pdf

[2019-10-09 20:37] whedon commented on #1793
[code]

[2019-10-09 20:38] whedon commented on #1793
PDF failed to compile for issue #1793 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1793/paper/paper.md): mapping values are not allowed in this context at line 2 column 15 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2019-10-09 20:39] martinfleis commented on #1793
@whedon generate pdf

[2019-10-09 20:39] whedon commented on #1793
[code]

[2019-10-09 20:39] whedon commented on #1793
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01793/joss.01793/10.21105.joss.01793.pdf)

[2019-10-09 20:44] samuelduchesne commented on #1792
@whedon commands

[2019-10-09 20:44] whedon commented on #1792
Here are some things you can ask me to do:

[code]

[2019-10-09 20:45] samuelduchesne commented on #1792
@whedon check references

[2019-10-09 20:45] whedon commented on #1792
[code]

[2019-10-09 20:45] whedon commented on #1792
[code]

[2019-10-09 20:50] martinfleis commented on #1793
Based on the list of potential reviewers, it seems that following are the closest match based on their research profile and Python as the preferred language. Hope this helps.
@sjsrey, @martibosch, @hertzsprung,  @kbevers, @Scivision

[2019-10-09 20:51] whedon opened #1795 "[PRE REVIEW]: rf: Receiver function calculation in seismology"
**Submitting author:** @trichter (<a href="http://orcid.org/0000-0002-8378-559X">Tom Eulenfeld</a>)
**Repository:** <a href="https://github.com/trichter/rf" target ="_blank">https://github.com/trichter/rf</a>
**Version:** v0.8.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @trichter. **Currently, there isn't an JOSS editor assigned**

[2019-10-09 20:51] whedon commented on #1795
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-09 20:51] whedon commented on #1795
[code]

[2019-10-09 20:51] whedon commented on #1795
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01795/joss.01795/10.21105.joss.01795.pdf)

[2019-10-09 20:57] labarba commented on #1793
👋 @drvinceknight — We don't have any editors with field expertise related to architecture or urban planning, and I'm wondering if you could save the day here, given your multi-faceted disposition. Could you handle this as editor?
**momepy: Urban Morphology Measuring Toolkit**
https://github.com/martinfleis/momepy

[2019-10-09 21:02] rmsare commented on #1777
@daniellivingston Thanks. Unfortunately the installation is a little finicky, but I'm glad it worked in your VM.

I've fixed the header color so the title is now readable on https://pymccrgb.readthedocs.io/en/latest/

[2019-10-09 21:09] labarba commented on #1795
👋 @katyhuff — Could you handle this submission as editor? It looks like a signal processing application...
**rf: Receiver function calculation in seismology**
https://github.com/trichter/rf

[2019-10-09 21:09] samuelduchesne commented on #1792
@whedon generate pdf from branch feature/clearer_summary

[2019-10-09 21:09] whedon commented on #1792
[code]

[2019-10-09 21:09] whedon commented on #1792
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01792/joss.01792/10.21105.joss.01792.pdf)

[2019-10-09 21:11] samuelduchesne commented on #1792
@whedon generate pdf from branch feature/clearer_summary

[2019-10-09 21:11] whedon commented on #1792
[code]

[2019-10-09 21:12] whedon commented on #1792
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01792/joss.01792/10.21105.joss.01792.pdf)

[2019-10-09 21:46] labarba commented on #1665
@mlindsk 👋  — I am the Associate Editor-in-Chief on rotation this week. Will you add the meaning of the acronym SNP to the paper before we publish?

[2019-10-09 21:49] samuelduchesne commented on #1792
@whedon generate pdf from branch feature/clearer_summary

[2019-10-09 21:49] whedon commented on #1792
[code]

[2019-10-09 21:49] whedon commented on #1792
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01792/joss.01792/10.21105.joss.01792.pdf)

[2019-10-09 21:51] samuelduchesne commented on #1792
@whedon list editors

[2019-10-09 21:51] whedon commented on #1792
Current editors:

[code]

[2019-10-09 21:51] samuelduchesne commented on #1792
@whedon list reviewers

[2019-10-09 21:51] whedon commented on #1792
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-10-09 22:02] labarba commented on #1792
@brynpickering 👋  — Would you be interested in contributing a review for The Journal of Open Source Software (JOSS) on this submission:
**archetypal: A Python package for collecting, simulating, converting and analyzing building archetypes**
https://github.com/samuelduchesne/archetypal

[2019-10-09 22:05] jmansour commented on #1703
Thanks @gassmoeller, and also @krischer.

[2019-10-09 22:10] samuelduchesne commented on #1792
🤓 Hi @labarba. Thanks for handling this review process. I looked at the list of reviewers and filtered it for python users and the keyword "energy" in their topic area (nothing for *building*). Only 9 hits! Most of them specialists in physics. May I suggest @katyhuff, @wholmgren or @EricaEgg? @brynpickering was also in the list.

[2019-10-09 22:13] samuelduchesne commented on #1792
@whedon generate pdf from branch develop

[2019-10-09 22:13] whedon commented on #1792
[code]

[2019-10-09 22:13] whedon commented on #1792
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01792/joss.01792/10.21105.joss.01792.pdf)

[2019-10-09 22:39] ZZP12 commented on #1791
@whedon generate pdf

[2019-10-09 22:39] whedon commented on #1791
[code]

[2019-10-09 22:40] whedon commented on #1791
PDF failed to compile for issue #1791 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.1164/a453d977148ada08be2e80dd5041afebf370ea44.svg': check that rsvg2pdf is in path.
  rsvg-convert: createProcess: runInteractiveProcess: exec: does not exist (No such file or directory)
[WARNING] Could not convert image '/tmp/tex2pdf.1164/04cdb495b5652e551877e00b40294609dab10a02.svg':

[2019-10-09 22:43] ZZP12 commented on #1791
@whedon generate pdf

[2019-10-09 22:44] whedon commented on #1791
[code]

[2019-10-09 22:44] whedon commented on #1791
PDF failed to compile for issue #1791 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.1200/04cdb495b5652e551877e00b40294609dab10a02.svg': check that rsvg2pdf is in path.
  rsvg-convert: createProcess: runInteractiveProcess: exec: does not exist (No such file or directory)
Error producing PDF.
! LaTeX Error: \begin{align*} on input line 343 ended by \end{align**}.

See t

[2019-10-09 22:46] ZZP12 commented on #1791
@whedon generate pdf

[2019-10-09 22:46] whedon commented on #1791
[code]

[2019-10-09 22:46] whedon commented on #1791
PDF failed to compile for issue #1791 with the following error:

 Error producing PDF.
! LaTeX Error: \begin{align*} on input line 343 ended by \end{align**}.

See the LaTeX manual or LaTeX Companion for explanation.
Type  H <return>  for immediate help.
 ...

l.356 \end{align**}

Looks like we failed to compile the PDF

[2019-10-09 22:46] ZZP12 commented on #1791
@whedon generate pdf

[2019-10-09 22:46] whedon commented on #1791
[code]

[2019-10-09 22:47] whedon commented on #1791
PDF failed to compile for issue #1791 with the following error:

 Error producing PDF.
! Package amsmath Error: Erroneous nesting of equation structures;
(amsmath)                trying to recover with `aligned'.

See the amsmath package documentation for explanation.
Type  H <return>  for immediate help.
 ...

l.356 \end{align*}

Looks like we failed to compile the PDF

[2019-10-09 22:50] ZZP12 commented on #1791
@whedon generate pdf

[2019-10-09 22:50] whedon commented on #1791
[code]

[2019-10-09 22:50] whedon commented on #1791
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01791/joss.01791/10.21105.joss.01791.pdf)

[2019-10-09 22:53] ZZP12 commented on #1791
@vchuravy

[2019-10-09 22:53] ZZP12 commented on #1791
@ChrisRackauckas

[2019-10-10 01:02] majensen commented on #1781
@amoeba, would you be willing to review [this submission](https://github.com/openjournals/joss-papers/blob/joss.01781/joss.01781/10.21105.joss.01781.pdf) to JOSS? Thanks for considering!

[2019-10-10 01:07] amoeba commented on #1781
Hey @majensen, sure. I can have my review in by the end of next week, on October 18th. Sound good?

[2019-10-10 01:09] majensen commented on #1781
Awesome @amoeba, much appreciated!

[2019-10-10 01:09] majensen commented on #1781
@whedon add @amoeba as reviewer

[2019-10-10 01:09] whedon commented on #1781
OK, @amoeba is now a reviewer

[2019-10-10 01:10] majensen commented on #1781
@whedon start review

[2019-10-10 01:10] whedon opened #1796 "[REVIEW]: perccalc: An R package for estimating percentiles from categorical variables"
**Submitting author:** @cimentadaj (<a href="http://orcid.org/0000-0001-5594-1156">Jorge Cimentada</a>)
**Repository:** <a href="https://github.com/cimentadaj/perccalc/" target ="_blank">https://github.com/cimentadaj/perccalc/</a>
**Version:** v1.0.5
**Editor:** @majensen
**Reviewer:** @briatte, @amoeba
**Archive:** <a href="https://doi.org/10.5281/zenodo.3559855" target="_blank">10.5281/zenodo.35

[2019-10-10 01:10] whedon commented on #1781
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1796. Feel free to close this issue now!

[2019-10-10 01:10] whedon commented on #1796
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @briatte, @amoeba it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-10-10 01:10] whedon commented on #1796
[code]

[2019-10-10 01:10] #1781 closed

[2019-10-10 01:10] whedon commented on #1796
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01796/joss.01796/10.21105.joss.01796.pdf)

[2019-10-10 01:10] majensen commented on #1781
Closing prereview - please head on over to #1796

[2019-10-10 01:25] majensen commented on #1796
BTW, @briatte, thanks for volunteering to review! (I took you at your word...)

[2019-10-10 01:44] zonca commented on #1721
@xuanxu Accept

[2019-10-10 03:40] briatte commented on #1796
@majensen No problem. I'm planning to review the package next week, probably Thursday or Friday.

[2019-10-10 06:04] mlindsk commented on #1665
@whedon generate pdf

[2019-10-10 06:04] whedon commented on #1665
[code]

[2019-10-10 06:05] whedon commented on #1665
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01665/joss.01665/10.21105.joss.01665.pdf)

[2019-10-10 06:06] mlindsk commented on #1665
Hi @labarba
The meaning of the SNP acronym is now added.

[2019-10-10 07:05] Kevin-Mattheus-Moerman commented on #1732
@KedoKudo thanks for your help here :tada:

[2019-10-10 07:06] Kevin-Mattheus-Moerman commented on #1732
@heprom can you give us an indication as to when you will be able to complete this review?

[2019-10-10 07:13] leouieda commented on #1703
Thank you @gassmoeller 👍 much appreciated

[2019-10-10 07:13] whedon commented on #1703
OK, @gassmoeller is now a reviewer

[2019-10-10 07:15] leouieda commented on #1703
@whedon add @gabersyd as reviewer

[2019-10-10 07:15] whedon commented on #1703
OK, @gabersyd is now a reviewer

[2019-10-10 07:15] leouieda commented on #1703
@whedon start review

[2019-10-10 07:16] whedon opened #1797 "[REVIEW]: Underworld2: Python Geodynamics Modelling for Desktop, HPC and Cloud"
**Submitting author:** @jmansour (<a href="http://orcid.org/0000-0001-5865-1664">john mansour</a>)
**Repository:** <a href="https://github.com/underworldcode/underworld2" target ="_blank">https://github.com/underworldcode/underworld2</a>
**Version:** v2.9.2b
**Editor:** @leouieda
**Reviewer:** @gassmoeller, @gabersyd
**Archive:** <a href="https://doi.org/10.5281/zenodo.3687399" target="_blank">10.

[2019-10-10 07:16] whedon commented on #1703
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1797. Feel free to close this issue now!

[2019-10-10 07:16] whedon commented on #1797
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gassmoeller, @gabersyd it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-10-10 07:16] whedon commented on #1797
[code]

[2019-10-10 07:16] #1703 closed

[2019-10-10 07:16] whedon commented on #1797
PDF failed to compile for issue #1797 with the following error:

 Can't find any papers to compile :-(

[2019-10-10 07:19] leouieda commented on #1797
@whedon generate pdf from branch joss

[2019-10-10 07:19] whedon commented on #1797
[code]

[2019-10-10 07:20] whedon commented on #1797
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01797/joss.01797/10.21105.joss.01797.pdf)

[2019-10-10 07:25] leouieda commented on #1797
👋 @jmansour @gassmoeller @gabersyd this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2019-10-10 07:46] elektrobohemian commented on #1758
@arfon I would be. starting around end of October/November would be great because I have to finish some Master theses before.

[2019-10-10 08:07] xuanxu commented on #1721
@zonca: Thanks! (There's some unchecked items in your review list, I guess you consider them done)

[2019-10-10 08:29] tonigi commented on #1773
What next? Should I send to Zenodo? Thanks

[2019-10-10 09:16] kbevers commented on #1793
This is outside my area of expertise so I will not be reviewing this paper. Thanks for considering me as a potential reviewer.

[2019-10-10 09:39] terrytangyuan commented on #1788
@whedon assign @acolum as reviewer

[2019-10-10 09:39] whedon commented on #1788
OK, the reviewer is @acolum

[2019-10-10 09:39] chennachaos commented on #1732
@mrgprasad
**A statement of need** for *Documentation* is missing.

Consider adding a paragraph on 'motivation' behind Kanapy in the *Overview* section of the documentation.

I will open these two as issues in your Github repo so we can track them.

[2019-10-10 09:39] terrytangyuan commented on #1788
@whedon add @expectopatronum as reviewer

[2019-10-10 09:39] whedon commented on #1788
OK, @expectopatronum is now a reviewer

[2019-10-10 09:41] terrytangyuan commented on #1788
Thanks everyone! @expectopatronum assigned you as reviewer as we cannot find anyone else at this moment. Your input on this submission would be very helpful. Regarding the spreadsheet, I’ll ask the team to see if there’s any way to update that.

[2019-10-10 09:41] whedon opened #1798 "[REVIEW]: modelStudio: Interactive Studio with Explanations for ML Predictive Models"
**Submitting author:** @hbaniecki (<a href="http://orcid.org/0000-0001-6661-5364">Hubert Baniecki</a>)
**Repository:** <a href="https://github.com/ModelOriented/modelStudio" target ="_blank">https://github.com/ModelOriented/modelStudio</a>
**Version:** v0.1.9
**Editor:** @terrytangyuan
**Reviewer:** @acolum, @expectopatronum
**Archive:** <a href="https://doi.org/10.5281/zenodo.3527770" target="_bl

[2019-10-10 09:41] whedon commented on #1798
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @acolum, @expectopatronum it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-10-10 09:41] whedon commented on #1798
[code]

[2019-10-10 09:41] #1788 closed

[2019-10-10 09:42] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-10-10 09:45] terrytangyuan commented on #1786
@whedon assign @puolival as reviewer

[2019-10-10 09:45] whedon commented on #1786
OK, @yzhao062 is now a reviewer

[2019-10-10 09:46] terrytangyuan commented on #1786
@yzhao062 there is no deadline but I’ll try to remind every once a while so we can move forward faster

[2019-10-10 09:46] terrytangyuan commented on #1786
@whedon start review

[2019-10-10 09:46] whedon opened #1799 "[REVIEW]: PyUoI: The Union of Intersections Framework in Python"
**Submitting author:** @pssachdeva (<a href="http://orcid.org/0000-0002-6809-2437">Pratik Sachdeva</a>)
**Repository:** <a href="https://github.com/BouchardLab/pyuoi" target ="_blank">https://github.com/BouchardLab/pyuoi</a>
**Version:** 1.0.0
**Editor:** @terrytangyuan
**Reviewer:** @puolival, @yzhao062
**Archive:** <a href="https://doi.org/10.5281/zenodo.3563147" target="_blank">10.5281/zenodo.3

[2019-10-10 09:46] whedon commented on #1786
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1799. Feel free to close this issue now!

[2019-10-10 09:46] whedon commented on #1799
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @puolival, @yzhao062 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-10-10 09:46] whedon commented on #1799
[code]

[2019-10-10 09:47] whedon commented on #1799
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01799/joss.01799/10.21105.joss.01799.pdf)

[2019-10-10 09:47] terrytangyuan commented on #1786
@yzhao062 @puolival Thanks! Look forward to your review!

[2019-10-10 10:19] Cadair commented on #1789
maybe (without mentioning them) mwcraig ceb8 or dhuppenkothen

I will add the aas metadata (although I don't know the DOI)

[2019-10-10 10:48] grayswandyr commented on #1782
Thank you very much for the proposal but I feel I'm not versed enough in the field addressed by this piece of software to be able to provide with a relevant review.

[2019-10-10 10:57] Cadair commented on #1789
Also ngoldbaum or drsophiemurray (who I am not 100% sure shouldn't be on the author list)

[2019-10-10 11:12] arokem commented on #1785
@BIPL-HORIE : looks like the pdf  is still not building because of mismatches between the references in the paper.md and paper.bib files for example `Weston:2011` vs. `Weston:2000`. Could you please make sure that they match?

[2019-10-10 11:14] hbaniecki commented on #1798
Great! I am aware that i need to fix paper.bib file to properly code references. I will probably shorten the example. Then Figure 1 should fit one page earlier (same with Figure 2).

[2019-10-10 11:27] labarba commented on #1793
@whedon assign @drvinceknight as editor

[2019-10-10 11:27] whedon commented on #1793
OK, the editor is @drvinceknight

[2019-10-10 11:36] whedon commented on #1665
[code]

[2019-10-10 11:36] whedon commented on #1665
[code]

[2019-10-10 12:11] mrgprasad commented on #1732
@chennachaos
I have pushed an update to Kanapy's repo based on your review. I have also updated the issues you have opened on Kanapy's repo. Do let me know if additional changes are necessary.

[2019-10-10 12:45] mlindsk commented on #1665
@whedon accept deposit=true

[2019-10-10 13:19] apuignav commented on #1570
Hey! Is there anything missing from our side? I have not been following closely lately.

[2019-10-10 13:35] melissawm commented on #1721
@xuanxu Accepted, thanks.

[2019-10-10 13:56] xuanxu commented on #1721
Great, thanks @melissawm!

[2019-10-10 14:44] poulson commented on #1705
@whedon generate pdf

[2019-10-10 14:45] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-10-10 14:52] whedon commented on #1665
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1182307999492313088) 👈 🐦🐦🐦

[2019-10-10 14:52] whedon commented on #1665
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1020
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01665](https://doi.org/10.21105/joss.01665)
2. If everything looks g

[2019-10-10 14:53] labarba commented on #1665
Congratulations, @mlindsk, your JOSS paper is published! 🚀

Huge thanks to our editor: @csoneson, and the reviewers: @jdeligt, @jkanche — your contribution to JOSS is greatly appreciated! 🙏

[2019-10-10 14:53] whedon commented on #1705
[code]

[2019-10-10 14:53] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-10-10 14:57] arfon commented on #1758
OK thanks. I think that timing works. I'll go ahead and set up the review now and set a reminder for the end of October.

[2019-10-10 14:58] csoneson commented on #1762
Hi @luizirber, @peterwc - just checking in on how the reviews are progressing. Do you think you can have comments for @lskatz within the next week or so? Don't hesitate to let me know if you have questions. Thanks!

[2019-10-10 14:58] arfon commented on #1758
@whedon start review

[2019-10-10 14:58] whedon opened #1800 "[REVIEW]: Distant Viewing Toolkit: A Python Package for the Analysis of Visual Culture"
**Submitting author:** @statsmaths (<a href="http://orcid.org/0000-0003-0576-0669">Taylor Arnold</a>)
**Repository:** <a href="https://github.com/distant-viewing/dvt" target ="_blank">https://github.com/distant-viewing/dvt</a>
**Version:** v0.3.0
**Editor:** @arfon
**Reviewer:** @jgonggrijp, @elektrobohemian
**Archive:** <a href="https://doi.org/10.5281/zenodo.3614034" target="_blank">10.5281/zeno

[2019-10-10 15:00] #1758 closed

[2019-10-10 15:00] arfon commented on #1800
@jgonggrijp, @elektrobohemian - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-10-10 15:40] #1665 closed

[2019-10-10 15:40] whedon commented on #1665
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01665/status.svg)](https://doi.org/10.21105/joss.01665)

**We need your help!**

Journal of Open Source Softwa

[2019-10-10 15:49] terrytangyuan commented on #1788
@expectopatronum You can direct any update request to the reviewers spreadsheet to @arfon.

[2019-10-10 15:50] carlocamilloni commented on #1773
@arfon - @tonigi contribution is well coded and documented and provide a smart tool for prototyping new code for plumed. Python is definitely the way to go. The paper is self-contained and provides all what one needs to immediately use it.

[2019-10-10 16:10] brynpickering commented on #1792
@labarba happy to review 👍

[2019-10-10 16:14] labarba commented on #1792
Thank you, @brynpickering !

The area of application of this software is unusual for JOSS, so I think finding reviewers could be a bit of a challenge. Would you be able to recommend another person to review this?

[2019-10-10 16:14] poulson commented on #1705
@whedon check references

[2019-10-10 16:14] whedon commented on #1705
[code]

[2019-10-10 16:15] whedon commented on #1705
[code]

[2019-10-10 16:20] leouieda commented on #1753
@anmolter I'm currently searching for reviewers for your submission and having a look at your paper and package. Since ArcGIS is required to test the software, I don't know how hard it will be find a willing reviewer who has a license. So this might take a little longer than usual.

While I'm searching for reviewers, please have a look at the [JOSS review criteria](https://joss.readthedocs.io/en/l

[2019-10-10 16:23] leouieda commented on #1753
:wave: @benbovy @zsylvester would you be interested in reviewing this submission for JOSS? You can find the [paper here](https://github.com/openjournals/joss-papers/blob/joss.01753/joss.01753/10.21105.joss.01753.pdf) and the [software repository here](https://github.com/anmolter/PyLUR). Please note that the software requires ArcGIS and you would need access to a license in order to test it. Thank

[2019-10-10 16:25] toph-allen commented on #1766
I added the vignette-building argument and viewing instructions to README.Rmd.

I also used [`pkgdown`](https://github.com/r-lib/pkgdown) to create a [GitHub Pages site](https://ecohealthalliance.github.io/yenpathy/) which includes the README, R documentation, and vignettes, which you can view here, and added a link to this site to the package's README.md.

[2019-10-10 16:26] brynpickering commented on #1792
Hmm, that's a tricky one - most people I know in the field are more accustomed to Matlab, so the Python element might prove to be a barrier. Nonetheless, @rmward61 might be interested (/ know others).

[2019-10-10 17:37] katyhuff commented on #1795
Hi @labarba Thanks for thinking of me, but this is quite far outside my wheelhouse. Perhaps someone in geosciences, like @leouieda or @lheagy, would be much better ?

[2019-10-10 19:34] arfon commented on #1789
@ceb8 @dhuppenkothen - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-10-10 19:54] kahaaga commented on #1666
@oliviaguest The newest version of my package has been registered in the Julia repository and tagged with version 0.5.1 (see [release list](https://github.com/kahaaga/UncertainData.jl/releases)). I don't have more to add at this stage, so all should be ready for re-generating the pdf!

[2019-10-10 20:18] nquesada commented on #1705
The missing DOIs have been added in https://github.com/XanaduAI/thewalrus/pull/71

[2019-10-10 20:22] ehsteve commented on #1789
@Cadair I'll ask for the DOI though we aren't published yet but accepted.

[2019-10-10 20:23] poulson commented on #1705
I am happy to recommend the paper for publication at this point and hope that @PhilipVinc can provide their feedback soon.

[2019-10-10 20:34] nquesada commented on #1705
Thanks for refereeing our paper @poulson! Your comments have been really useful.

[2019-10-10 21:31] SuperKam91 commented on #1787
@whedon commands

[2019-10-10 21:31] whedon commented on #1787
Here are some things you can ask me to do:

[code]

[2019-10-10 22:05] ceb8 commented on #1789
@arfon Yes I can review. When do you need the review by?

[2019-10-10 22:23] sravan953 commented on #1725
@Kevin-Mattheus-Moerman -
1. DOI - 10.5281/zenodo.3479527
2. Latest release - 1.2.2r1 (published on Zenodo)

[2019-10-11 01:18] ChrisRackauckas commented on #1791
Hey,
  I don't think I'll be able to commit adequate time for this until spring, but it looks like a great project. However, it should make sure that it satisfies the basics of a Julia package, for example changing the repo to a `.jl` and having a name that's not just an acronym. I would think it would be good for this to go through the package registration process before solidifying in paper form

[2019-10-11 03:59] Hazboun6 commented on #1775
@arfon What are the next steps at this point?

[2019-10-11 06:16] abhishekbajpayee commented on #1654
I tried installing. Seems like `libcairo2-dev` needs to be added to the `sudoapt install ...` list. Even after installing `libcairo2-dev`, when I run `pip install -r requirements.txt`, I see long error because of:
[code]
Also, it seems if someone installs from a fresh clean OS, `apt install python3-pip` will be needed. FYI, I am installing in a fresh `ubuntu:18.04` docker container.

@henrikmidtib

[2019-10-11 07:00] benbovy commented on #1753
Sorry @leouieda I'm afraid I won't be of great help here, I don't have access to a ArcGIS license (and I'm not working on a Windows PC).

[2019-10-11 07:43] anmolter commented on #1753
@leouieda all the documentation is in the PyLUR_Manual, which is in the PyLUR folder (as explained in the README file). The manual is an html file, which has been rendered from a number of smaller html files via R markdown. Do you want me to add a copy of it to the top level of GitHub and to rename it 'documentation'?
Also, I'll be on maternity leave from tomorrow until the beginning of May 2020.

[2019-10-11 07:58] oliviaguest commented on #1666
@whedon generate pdf

[2019-10-11 07:58] whedon commented on #1666
[code]

[2019-10-11 07:59] whedon commented on #1666
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01666/joss.01666/10.21105.joss.01666.pdf)

[2019-10-11 08:02] oliviaguest commented on #1666
@kahaaga looks good to me, what do you think?

@dmbates @ahwillia I think you can now tick the last box? :smile:

[2019-10-11 08:19] Kevin-Mattheus-Moerman commented on #1725
@whedon set 1.2.2r1 as version

[2019-10-11 08:19] whedon commented on #1725
OK. 1.2.2r1 is the version.

[2019-10-11 08:19] Kevin-Mattheus-Moerman commented on #1725
@whedon set 10.5281/zenodo.3479527 as archive

[2019-10-11 08:19] whedon commented on #1725
OK. <a href="https://doi.org/10.5281/zenodo.3479527" target="_blank">10.5281/zenodo.3479527</a> is the archive.

[2019-10-11 08:22] Kevin-Mattheus-Moerman commented on #1725
@openjournals/joss-eics I recommend this paper for acceptance in JOSS.

@sravan953 the editor in chief on call will take over now. They might have additional comments on your paper.

[2019-10-11 08:32] Kevin-Mattheus-Moerman commented on #1725
@sravan953 one last point from me. I would recommend that you update your paper title (and also the matched Zenodo archive title) to be a bit more descriptive, e.g.:
**PyPulseq: A Python Package for MRI Pulse Sequence Design**
Something like that would help make your paper more discoverable.

[2019-10-11 08:36] Kevin-Mattheus-Moerman commented on #1613
Thanks @ctdegroot for your help here!

[2019-10-11 08:39] Kevin-Mattheus-Moerman commented on #1613
Thanks @apsabelhaus. I can take over. However you also have a "Functionality" box unticked here, are there any remaining issues with the functionality?

In relation to the remaining license issue. Can you explain that in more detail? Are dependencies used without referring to the original works and without including the licences? Or are license conditions from the dependencies not met?

[2019-10-11 08:51] drvinceknight commented on #1793
Thank you :+1:

[2019-10-11 08:52] drvinceknight commented on #1780
Hi @vchuravy I know this doesn't fit immediately within your area of expertise but would you be willing to review this paper for JOSS?

@ChrisRackauckas, @Datseris would you be able to review this paper for JOSS?

[2019-10-11 08:55] drvinceknight commented on #1793
@geraintpalmer would you be able to review this paper for JOSS?

[2019-10-11 08:57] drvinceknight commented on #1793
@whedon assign @martibosch as reviewer

[2019-10-11 08:57] whedon commented on #1793
OK, the reviewer is @martibosch

[2019-10-11 08:58] drvinceknight commented on #1793
@martibosch I don't know if you have reviewed for JOSS before but there is documentation on the process here https://joss.readthedocs.io/en/latest/index.html and I'm happy to answer any questions. Once I have sufficient reviewers I will open a new issue where the review will take place.

[2019-10-11 09:03] martibosch commented on #1793
this is the second time that I have been assigned to review a JOSS paper - the first was last week. Therefore, this will probably be my second JOSS paper as reviewer. I will follow the guidelines of the documentation and get back to you if I have any other question. Cheers!

[2019-10-11 09:06] daanhb commented on #1780
Hi @drvinceknight, if you're looking for more reviewers, I can still chime in - though I'll probably have a similar point of view as @dlfivefifty (being co-authors of the DomainSets.jl package)

[2019-10-11 09:07] drvinceknight commented on #1793
Ok fantastic, sorry for the slight overload with the request to review two papers at the same time. Your contribution is super appreciated.

[2019-10-11 09:21] ezsolti commented on #1650
Thank you @katyhuff !

The DOI for the archive: 10.5281/zenodo.3480082
The version is the same as in this submission!

[2019-10-11 09:24] martibosch commented on #1793
no worries - first of all I am happy to contribute to JOSS, and secondly, in this case I kindly offered because this library is really closely related to my PhD topic, so it is useful for me to be aware of the state of the art.

[2019-10-11 09:27] Datseris commented on #1780
Hello, thank you for the invitation, but I have to kindly decline reviewing this, as I believe it does not fall into my area of expertise.

[2019-10-11 09:51] arfon commented on #1725
Just the `paper.md` should do it.

[2019-10-11 09:52] arfon commented on #1789
👍, ideally in the next 2-3 weeks?

[2019-10-11 09:53] arfon commented on #1775
@whedon generate pdf

[2019-10-11 09:53] whedon commented on #1775
[code]

[2019-10-11 09:56] whedon commented on #1775
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01775/joss.01775/10.21105.joss.01775.pdf)

[2019-10-11 10:09] arfon commented on #1775
@Hazboun6 - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the auth

[2019-10-11 10:10] arfon commented on #1773
@whedon generate pdf from branch joss-paper

[2019-10-11 10:10] whedon commented on #1773
[code]

[2019-10-11 10:11] tonigi commented on #1773
moved to the default branch for simplicity

@whedon generate pdf

[2019-10-11 10:11] arfon commented on #1773
@whedon generate pdf

[2019-10-11 10:11] whedon commented on #1773
[code]

[2019-10-11 10:11] whedon commented on #1773
PDF failed to compile for issue #1773 with the following error:

 error: pathspec 'joss-paper' did not match any file(s) known to git.
error: pathspec 'joss-paper' did not match any file(s) known to git.
Could not find bibliography file: paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-10-11 10:14] whedon commented on #1773
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01773/joss.01773/10.21105.joss.01773.pdf)

[2019-10-11 10:16] arfon commented on #1773
@tonigi - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the author

[2019-10-11 10:32] tonigi commented on #1773
Should be done - thanks!

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3480171.svg)](https://doi.org/10.5281/zenodo.3480171)

[2019-10-11 10:46] chennachaos commented on #1732
Hi @mrgprasad. Thank you for the updates.

[2019-10-11 10:53] chennachaos commented on #1732
Hi @Kevin-Mattheus-Moerman, I have completed the review. @mrgprasad has been prompt in responding to my questions and remarks. I am happy with the current state of the `Kanapy` package.

I recommend the `Kanapy` software package for publication in the JOSS.

Thank you for the opportunity.

[2019-10-11 10:56] arfon commented on #1773
@whedon set 10.5281/zenodo.3480171 as archive

[2019-10-11 10:56] whedon commented on #1773
OK. <a href="https://doi.org/10.5281/zenodo.3480171" target="_blank">10.5281/zenodo.3480171</a> is the archive.

[2019-10-11 10:56] arfon commented on #1773
@whedon accept

[2019-10-11 10:56] whedon commented on #1773
[code]

[2019-10-11 10:57] whedon commented on #1773
[code]

[2019-10-11 10:59] whedon commented on #1773
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1021

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1021, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-11 11:00] arfon commented on #1773
@whedon accept deposit=true

[2019-10-11 11:00] whedon commented on #1773
[code]

[2019-10-11 11:00] chennachaos commented on #1441
Hi @likask. If you can push the updates, then I will go through the rest of the steps in the review process and complete the review by the end of next week.

[2019-10-11 11:03] whedon commented on #1773
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1182612775312515073) 👈 🐦🐦🐦

[2019-10-11 11:03] whedon commented on #1773
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1022
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01773](https://doi.org/10.21105/joss.01773)
2. If everything looks g

[2019-10-11 11:05] arfon commented on #1773
@amritagos, @carlocamilloni - many thanks for your reviews here ✨

@tonigi - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-10-11 11:05] #1773 closed

[2019-10-11 11:05] whedon commented on #1773
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01773/status.svg)](https://doi.org/10.21105/joss.01773)

**We need your help!**

Journal of Open Source Softwa

[2019-10-11 11:07] ChrisRackauckas commented on #1780
I am way oversubscribed until Spring. If you're still looking for reviews then, feel free to ping me.

[2019-10-11 11:12] leouieda commented on #1795
@katyhuff @labarba I can take this one :slightly_smiling_face:

[2019-10-11 11:13] leouieda commented on #1795
@whedon assign @leouieda as editor

[2019-10-11 11:13] whedon commented on #1795
OK, the editor is @leouieda

[2019-10-11 11:15] leouieda commented on #1753
@benbovy thanks for the quick response :+1:

[2019-10-11 11:26] leouieda commented on #1753
@anmolter it might help people find the actual files. Having `docs` or `documentation` is standard practice in the top level of the repository seems to be standard practice. It might also help if you place the HTML files in a `gh-pages` branch so it can be served by [Github Pages](https://help.github.com/en/categories/working-with-github-pages). This would address the concerns @danielskatz had abo

[2019-10-11 11:32] labarba commented on #1795
Thank you @leouieda! It was a bit hard to find a handling editor for this one.

[2019-10-11 11:47] leouieda commented on #1795
@labarba it's my pleasure :+1:

[2019-10-11 11:55] leouieda commented on #1795
:wave: @ThomasLecocq @seisman would you like to review this submission for JOSS? "rf: Receiver function calculation in seismology" by @trichter (Tom Eulenfeld). Here are links to the [submitted paper](https://github.com/openjournals/joss-papers/blob/joss.01795/joss.01795/10.21105.joss.01795.pdf) and [software repository](https://github.com/trichter/rf). Please see [our documentation](https://joss.

[2019-10-11 12:35] kahaaga commented on #1666
Looks good to me!

[2019-10-11 13:41] sgrieve commented on #1776
Firstly I would like to thank the author for this contribution. I have been very impressed by the quality of the software presented here, as well as it's potential utility to a wide range of users across disciplines. I am happy to recommend publication, pending the resolution of the **minor** issues outlined below.

I would like to also note that the way this software has been developed, documente

[2019-10-11 13:49] danielskatz commented on #1487
👋 @tesch1 - note that this is just waiting for you to finish some final details, then we can publish...  It looks like you made the language changes, but I'm waiting for you response to the [previous comment in the issue](https://github.com/openjournals/joss-reviews/issues/1487#issuecomment-538437380) as well

[2019-10-11 14:53] anmolter commented on #1753
@leouieda I've added a pdf of the user manual to my GitHub pages and I've updated the Readme file to include a link to the pdf. I hope that is ok now?
With regards to maternity leave, could we put the review on hold until February 2020? Hopefully, things will be less crazy by then and I will be able to address reviewers' comments. If things are still crazy by then and I need a longer break, I'll m

[2019-10-11 15:16] katyhuff commented on #1705
@nquesada Thank you for engaging actively in this process. Earlier this week I contacted @PhilipVinc via email in case notifications were not reaching them. Hopefully that review is forthcoming! I will keep you updated.

[2019-10-11 15:30] geraintpalmer commented on #1793
Yes I'm happy to do this.

[2019-10-11 15:31] leouieda commented on #1753
@anmolter I'll pause the review process until February 2020 and wait until closer to that date to actually assign reviewers. Let me know by commenting on this thread if you wish to resume the review earlier or later. Thank you and enjoy your leave!

[2019-10-11 15:32] leouieda commented on #1753
@openjournals/joss-eics could I mark this review as "paused"? The sole author is going on maternity leave until Feb 2020 and won't be available to respond to reviewers. I can ask whedon set a reminder for that date.

[2019-10-11 15:54] yiorg commented on #1663
Hi Bjoern,

I understand your frustration, and I'm sorry this is adding to an already demanding schedule. My guess is that since your laptop is probably rather new and you yourself use python 3, it's likely that the default python environment is python 3, so when you run a normal pip command like you showed above, it tries to pull a distribution for python 3 and can't find one. I actually ran into

[2019-10-11 16:49] tukss commented on #1757
I finished my review. Once the two outstanding issues are resolved, I am happy to accept this paper.

[2019-10-11 17:05] apsabelhaus commented on #1613
@Kevin-Mattheus-Moerman thanks for catching the box-checking mistake - just switched "functionality" with "license."

Summary of the potential licensing problem: (questions for you in parentheses)

- Authors included multiple files from other works and other authors. (Does JOSS approve of including other open-source code in a submission, as long as the original licenses are included, and the code

[2019-10-11 17:08] labarba commented on #1753
Sure. I just added the label. You can go ahead and set the reminder.

[2019-10-11 17:08] sravan953 commented on #1725
@whedon generate pdf

[2019-10-11 17:08] whedon commented on #1725
[code]

[2019-10-11 17:08] karthik commented on #1709
@vchuravy Can I assign you to this now?

[2019-10-11 17:09] whedon commented on #1725
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01725/joss.01725/10.21105.joss.01725.pdf)

[2019-10-11 17:09] karthik commented on #1709
@mlxd Would you also have time to review not that we're in October? :pray:

[2019-10-11 17:17] sravan953 commented on #1725
@Kevin-Mattheus-Moerman @arfon Updated the title on the `README.md`, Zenodo archive and on `paper.md`.

[2019-10-11 17:39] johnbachman commented on #1708
@whedon generate pdf

[2019-10-11 17:39] whedon commented on #1708
[code]

[2019-10-11 17:40] whedon commented on #1708
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01708/joss.01708/10.21105.joss.01708.pdf)

[2019-10-11 17:41] johnbachman commented on #1708
@brainstorm @gbader We added a new paragraph to the manuscript briefly describing where Adeft fits in the context of word sense disambiguation more generally.

[2019-10-11 18:09] mlxd commented on #1709
Hi, my current timeline has changed and I will be unable to review this. I think @vchuravy may better offer a suggested reviewer than I.

[2019-10-11 18:17] arfon commented on #1757
Excellent, thanks @tukss!

@pgrete - how are you getting long with your review?

[2019-10-11 18:47] seisman commented on #1795
@leouieda I'm interested in reviewing this submission, but I may have limited time in the next few weeks. Please assign it to me if you don't mind a slightly longer review process.

[2019-10-11 19:38] VivekTodur commented on #1744
@csoneson Thanks for the opportunity to review this manuscript and my apologies for the delay. Below are my comments,

**Functionality**
**Installation**
Installation is quick and simple as described in the documentation on Ubuntu 19.04. Shouldn't be a problem in other versions of Linux computers that are prepared for biological sequence analysis.

**Documentation**
**Statement of need**
Manual fo

[2019-10-11 19:53] henrikmidtiby commented on #1654
@abhishekbajpayee I will take at look at this within a few days.

[2019-10-11 20:31] katyhuff commented on #1650
@whedon set 10.5281/zenodo.3480082 as archive

[2019-10-11 20:31] whedon commented on #1650
OK. <a href="https://doi.org/10.5281/zenodo.3480082" target="_blank">10.5281/zenodo.3480082</a> is the archive.

[2019-10-11 20:32] katyhuff commented on #1650
@openjournals/joss-eics I believe this is ready for acceptance. Over to you!

[2019-10-11 20:59] labarba commented on #1725
I fixed in-text citation syntax and a terminology issue in https://github.com/imr-framework/pypulseq/pull/23

[2019-10-11 21:04] likask commented on #1441
@chennachaos I will make precompiled version v0.9.0 for you by Monday,

[2019-10-11 21:11] kbarnhart commented on #1776
@whedon generate pdf from branch barnhark/fix_biblio_reference

[2019-10-11 21:11] whedon commented on #1776
[code]

[2019-10-11 21:12] whedon commented on #1776
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01776/joss.01776/10.21105.joss.01776.pdf)

[2019-10-11 21:16] kbarnhart commented on #1776
@whedon generate pdf from branch barnhark/fix_biblio_reference

[2019-10-11 21:16] whedon commented on #1776
[code]

[2019-10-11 21:17] whedon commented on #1776
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01776/joss.01776/10.21105.joss.01776.pdf)

[2019-10-11 21:49] labarba commented on #1725
@whedon accept

[2019-10-11 21:49] whedon commented on #1725
[code]

[2019-10-11 21:50] whedon commented on #1725
[code]

[2019-10-11 21:50] whedon commented on #1725
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1023

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1023, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-11 21:55] kbarnhart commented on #1776
@whedon generate pdf from branch barnhark/fix_biblio_reference

[2019-10-11 21:55] whedon commented on #1776
[code]

[2019-10-11 21:55] whedon commented on #1776
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01776/joss.01776/10.21105.joss.01776.pdf)

[2019-10-11 23:00] arfon commented on #1776
@whedon generate pdf

[2019-10-11 23:00] whedon commented on #1776
[code]

[2019-10-11 23:01] whedon commented on #1776
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01776/joss.01776/10.21105.joss.01776.pdf)

[2019-10-11 23:10] arfon commented on #1776
@whedon generate pdf

[2019-10-11 23:10] whedon commented on #1776
[code]

[2019-10-11 23:11] whedon commented on #1776
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01776/joss.01776/10.21105.joss.01776.pdf)

[2019-10-11 23:12] arfon commented on #1776
@kbarnhart - I've upgraded Pandoc (from `v2.0.5` -> `v2.7.3`) which seems to have fixed the issue with the `Adams et al.` citation string / cc https://github.com/TerrainBento/umami/issues/14#issuecomment-541239203

[2019-10-11 23:31] mjsottile commented on #1772
Yes, I can take this submission as editor.

[2019-10-12 01:48] labarba commented on #1772
@whedon assign @mjsottile as editor

[2019-10-12 01:48] whedon commented on #1772
OK, the editor is @mjsottile

[2019-10-12 01:59] labarba commented on #1725
@whedon accept deposit=true

[2019-10-12 01:59] whedon commented on #1725
[code]

[2019-10-12 02:00] whedon commented on #1725
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1182838451936342016) 👈 🐦🐦🐦

[2019-10-12 02:00] whedon commented on #1725
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1024
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01725](https://doi.org/10.21105/joss.01725)
2. If everything looks g

[2019-10-12 02:03] labarba commented on #1725
Congratulations, @imr-framework, your JOSS paper is published! 🚀

Huge thanks to our editor: @Kevin-Mattheus-Moerman, and the reviewers: @grlee77, @mathieuboudreau, @spinicist — your contributions to JOSS are greatly appreciated 🙏

[2019-10-12 02:03] #1725 closed

[2019-10-12 02:03] whedon commented on #1725
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01725/status.svg)](https://doi.org/10.21105/joss.01725)

**We need your help!**

Journal of Open Source Softwa

[2019-10-12 12:14] labarba commented on #1791
@ZZP12 — After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Thank you for consi

[2019-10-12 12:14] #1791 closed

[2019-10-12 12:16] labarba commented on #1794
@gpereyrairujo — After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems very useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Thank

[2019-10-12 12:16] #1794 closed

[2019-10-12 16:18] zsylvester commented on #1753
Hi @leouieda -- I don't use ArcGIS so probably I am not the right person to review it.

[2019-10-12 17:03] labarba commented on #1787
@SuperKam91 👋  — I'm the Associate Editor-in-Chief on rotation this week, and have reached out to the potential handling editor by email now. We'll be looking to get started with the review soon. In the meantime, I have two requests:
1. Could you look through our  [list of potential reviewers](https://bit.ly/joss-reviewers) to see if you can suggest someone? ( feel free to suggest reviewers from o

[2019-10-12 17:07] whedon opened #1801 "[PRE REVIEW]: PYPE: a Python code for 1D turbulent pipe flow"
**Submitting author:** @SmarTurb (<a href="http://orcid.org/0000-0001-8641-2273">Ning Chang</a>)
**Repository:** <a href="https://github.com/SmarTurb/PYPE" target ="_blank">https://github.com/SmarTurb/PYPE</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @SmarTurb. **Currently, there isn't an JOSS editor assigned** t

[2019-10-12 17:07] whedon commented on #1801
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-12 17:07] whedon commented on #1801
[code]

[2019-10-12 17:07] whedon commented on #1801
PDF failed to compile for issue #1801 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1801 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedo

[2019-10-12 17:09] labarba commented on #1801
hi @SmarTurb
For the repository URL, you gave us: https://smarturb.github.io/PYPE/
but we needed : https://github.com/SmarTurb/PYPE
I'll manually change it, and see if we can generate the paper then.

[2019-10-12 17:10] labarba commented on #1801
@whedon generate pdf

[2019-10-12 17:10] whedon commented on #1801
[code]

[2019-10-12 17:11] whedon commented on #1801
PDF failed to compile for issue #1801 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1801/paper.md): mapping values are not allowed in this context at line 10 column 12 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/

[2019-10-12 17:17] labarba commented on #1801
@SmarTurb 👋
Your `paper.md` file right now contains raw LaTeX code. JOSS doesn't accept LaTeX submissions, unfortunately (it's in the roadmap, though). You need to format your paper in Markdown, as described in the JOSS documentation. Follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

Once you have transitioned your paper to Markdown,

[2019-10-12 19:35] labarba commented on #1650
@ezsolti — I'm the Associate Editor-in-Chief on rotation this week. I made a few edits on the paper via PR. Unfortunately the diff is not too helpful, because long paragraphs were written on the same source line. The top fix I wanted to enter was an in-text citation that didn't use the right [citation syntax](https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax

[2019-10-12 20:19] vchuravy commented on #1709
Yes please do.

[2019-10-12 20:20] vchuravy commented on #1780
@dpsanders might be a better fit than me.

[2019-10-12 21:24] eskofier commented on #1663
Hi Yiorgos,

Did not work :/ When I run:

$ pip2 install sleeppy
-bash: pip2: command not found

Also:

$ pip3 install sleeppy
Collecting sleeppy
  ERROR: Could not find a version that satisfies the requirement sleeppy (from versions: none)
ERROR: No matching distribution found for sleeppy

Like before

$ pip install sleeppy
Collecting sleeppy
  ERROR: Could not find a version that satisfies the r

[2019-10-12 21:53] whedon opened #1802 "[PRE REVIEW]: MDL Suite: A language, generator and compiler for describing mazes"
**Submitting author:** @Akash-Nag (<a href="http://orcid.org/0000-0003-0363-2698">Akash Nag</a>)
**Repository:** <a href="https://github.com/Akash-Nag/MDL-Suite" target ="_blank">https://github.com/Akash-Nag/MDL-Suite</a>
**Version:** 1.0
**Editor:** @drvinceknight
**Reviewers:** @rreinecke, @gradvohl

**Author instructions**

Thanks for submitting your paper to JOSS @Akash-Nag. **Currently, there

[2019-10-12 21:53] whedon commented on #1802
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-12 21:53] whedon commented on #1802
[code]

[2019-10-12 21:53] whedon commented on #1802
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01802/joss.01802/10.21105.joss.01802.pdf)

[2019-10-12 21:59] labarba commented on #1802
@Akash-Nag — thanks for your submission to JOSS. From a quick inspection of the submission it's not obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my paper contain'_](http

[2019-10-12 22:01] whedon opened #1803 "[PRE REVIEW]: CoralP: Flexible visualization of the human phosphatome"
**Submitting author:** @dphansti (<a href="http://orcid.org/0000-0003-2123-0051">Douglas Phanstiel</a>)
**Repository:** <a href="https://github.com/PhanstielLab/coralp" target ="_blank">https://github.com/PhanstielLab/coralp</a>
**Version:** v1.0.0
**Editor:** @majensen
**Reviewers:** @daissi, @stulacy

**Author instructions**

Thanks for submitting your paper to JOSS @dphansti. **Currently, there

[2019-10-12 22:01] whedon commented on #1803
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-12 22:01] whedon commented on #1803
[code]

[2019-10-12 22:02] whedon commented on #1803
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01803/joss.01803/10.21105.joss.01803.pdf)

[2019-10-12 22:05] labarba commented on #1803
👋  @majensen — The authors suggested you as the handling editor for this submission. If you can take it on, please assign yourself with the command `@whedon assign @majensen as editor`.

[2019-10-12 22:06] whedon opened #1804 "[PRE REVIEW]: mwarp1d: Manual one-dimensional data warping in Python and PyQt"
**Submitting author:** @0todd0000 (<a href="http://orcid.org/0000-0002-8292-7189">Todd Pataky</a>)
**Repository:** <a href="https://github.com/0todd0000/mwarp1d" target ="_blank">https://github.com/0todd0000/mwarp1d</a>
**Version:** 0.1.0
**Editor:** @trallard
**Reviewers:** @melund, @demotu

**Author instructions**

Thanks for submitting your paper to JOSS @0todd0000. **Currently, there isn't an

[2019-10-12 22:06] whedon commented on #1804
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-12 22:06] whedon commented on #1804
[code]

[2019-10-12 22:06] whedon commented on #1804
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01804/joss.01804/10.21105.joss.01804.pdf)

[2019-10-12 22:11] labarba commented on #1804
@trallard 👋  — Could you handle this submission as the editor?
**mwarp1d: Manual one-dimensional data warping in Python and PyQt**
https://github.com/0todd0000/mwarp1d
(The author suggested @Kevin-Mattheus-Moerman, but he has a high load of submissions right now.)

[2019-10-13 02:18] 0todd0000 commented on #1804
**Suggested reviewers** (from the list):

- melund
- ixjlyons
- CELavecchia
- alcantarar
- abhishektha

**Suggested reviewers** (from GitHub):

- PouyanMehryar
- ivoflipse
- demotu
- cedricmorio

[2019-10-13 02:34] 0todd0000 commented on #1804
Comment re: article proof:

Figure problem:  the figure was not visible in the proof (using HTML tags) so I've updated paper.md in the repository using Markdown image syntax according to JOSS instructions.

Apologies for my mistake!

I have also corrected two other minor errors in the proof.

Please re-compile the article proof at your convenience.

[2019-10-13 03:58] karthik commented on #1709
@whedon add @vchuravy as reviewer

[2019-10-13 03:58] whedon commented on #1709
OK, @vchuravy is now a reviewer

[2019-10-13 04:46] ezsolti commented on #1650
@labarba Thank you! I have merged your commit.

[2019-10-13 12:31] likask commented on #1441
Hello @kthyng  @chrisrichardson, @Kevin-Mattheus-Moerman, @vijaysm, @chennachaos

The easiest, precompiled installation of MoFEM is with docker container. This is new release v0.9.0, which you can run and try executing following commends. For example reaction-diffusion equation ([reaction_diffusion_tutorial](http://mofem.eng.gla.ac.uk/mofem/html/reaction_diffusion_imp.html)). You can see more tuto

[2019-10-13 12:34] labarba commented on #1650
@whedon accept

[2019-10-13 12:34] whedon commented on #1650
[code]

[2019-10-13 12:34] whedon commented on #1650
[code]

[2019-10-13 12:34] labarba commented on #1804
@whedon generate pdf

[2019-10-13 12:34] whedon commented on #1804
[code]

[2019-10-13 12:35] whedon commented on #1650
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1025

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1025, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-13 12:35] whedon commented on #1804
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01804/joss.01804/10.21105.joss.01804.pdf)

[2019-10-13 12:39] labarba commented on #1650
@whedon accept deposit=true

[2019-10-13 12:39] whedon commented on #1650
[code]

[2019-10-13 12:40] whedon commented on #1650
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1183361917152350208) 👈 🐦🐦🐦

[2019-10-13 12:40] whedon commented on #1650
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1026
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01650](https://doi.org/10.21105/joss.01650)
2. If everything looks g

[2019-10-13 12:41] labarba commented on #1650
Congratulations, @ezsolti, your JOSS paper is published! 🚀

Huge thanks to our editor: @katyhuff, and reviewers: @kellyrowland, @sskutnik — your contributions to JOSS are greatly appreciated 🙏

[2019-10-13 12:43] #1650 closed

[2019-10-13 12:43] whedon commented on #1650
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01650/status.svg)](https://doi.org/10.21105/joss.01650)

**We need your help!**

Journal of Open Source Softwa

[2019-10-13 13:25] Akash-Nag commented on #1802
I am writing to resolve your query regarding the research application
of our proposed software / paper titled "MDL Suite: A language,
generator and compiler for describing mazes".

Consider a research paper which aims to propose a new maze solving
algorithm [1][2][3][4][5][6][7][8][9][10]. Writing such a paper
typically involves the following steps:

1. Develop the method/algorithm and write a pro

[2019-10-13 13:33] 0todd0000 commented on #1804
@whedon generate pdf

[2019-10-13 13:33] whedon commented on #1804
[code]

[2019-10-13 13:34] whedon commented on #1804
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01804/joss.01804/10.21105.joss.01804.pdf)

[2019-10-13 13:35] 0todd0000 commented on #1804
The proof looks OK now.

[2019-10-13 14:10] pgrete commented on #1757
I've been on the road for the past weeks but back in the office now and reserved time next week to finish the review.

[2019-10-13 15:30] arfon commented on #1757
Excellent, thanks for the update!

[2019-10-13 15:41] SuperKam91 commented on #1787
@whedon generate pdf

[2019-10-13 15:41] whedon commented on #1787
[code]

[2019-10-13 15:41] whedon commented on #1787
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01787/joss.01787/10.21105.joss.01787.pdf)

[2019-10-13 15:55] SuperKam91 commented on #1787
Hi @labarba thank you for your message. After looking through the list, I think any of the following would be suitable reviewers:
@mattpitkin
@ziotom78
@benjaminrose
@zhampel
@nespinoza
@danehkar
@dhuppenkothen

[2019-10-13 18:15] labarba commented on #1801
@SmarTurb — After a pre-review of your submission, and an assessment by the editorial board at large, we find that it does not meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, it fails in this criterion:

The software you submitted, while it represents a sizable amount of work and looks like a nice class project, computes a canonical problem i

[2019-10-13 18:15] #1801 closed

[2019-10-13 18:23] tesch1 commented on #1487
Yeah, sorry, something changed on the gitlab releases api (or ... ?) and broke my release mechanism.  I haven't had a chance to debug it yet, but wanted to do that first so that the paper corresponds to a particular release.

[2019-10-13 18:25] labarba commented on #1802
Thanks for the explanation.

This PR should solve your broken citations: https://github.com/Akash-Nag/MDL-Suite/pull/1

[2019-10-13 18:31] labarba commented on #1500
@whedon set v1.0.3 as version

[2019-10-13 18:31] whedon commented on #1500
OK. v1.0.3 is the version.

[2019-10-13 18:33] labarba commented on #1500
@whedon set 10.5281/zenodo.3468557 as archive

[2019-10-13 18:33] whedon commented on #1500
OK. <a href="https://doi.org/10.5281/zenodo.3468557" target="_blank">10.5281/zenodo.3468557</a> is the archive.

[2019-10-13 18:36] labarba commented on #1500
@mgymrek, @Benjamin-Lee — Are you ready to recommend publication of this paper?

[2019-10-13 18:42] labarba commented on #1792
@whedon assign @brynpickering as reviewer

[2019-10-13 18:44] labarba commented on #1792
@katyhuff — Could you handle this submission as editor? We already have one reviewer and need a second.
archetypal: A Python package for collecting, simulating, converting and analyzing building archetypes
https://github.com/samuelduchesne/archetypal
(related to assessing energy performance of buildings in cities)

[2019-10-13 18:48] whedon opened #1805 "[PRE REVIEW]: fathon: A Python package for a fast computation of detrendend fluctuation analysis and related algorithms"
**Submitting author:** @stfbnc (<a href="http://orcid.org/0000-0001-6729-8655">Stefano Bianchi</a>)
**Repository:** <a href="https://github.com/stfbnc/fathon.git" target ="_blank">https://github.com/stfbnc/fathon.git</a>
**Version:** v0.1
**Editor:** @mbobra
**Reviewers:** @ali-ramadhan, @ashwinvis

**Author instructions**

Thanks for submitting your paper to JOSS @stfbnc. **Currently, there isn't

[2019-10-13 18:48] whedon commented on #1805
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-13 18:48] whedon commented on #1805
[code]

[2019-10-13 18:48] whedon commented on #1805
PDF failed to compile for issue #1805 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1805/paper/paper.md): mapping values are not allowed in this context at line 3 column 6 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ven

[2019-10-13 19:02] labarba commented on #1805
Check if removing the extra `---` around the metadata will make your paper compile. After the fix in the Markdown file, use `@whedon generate pdf` alone in a comment here to recompile.

[2019-10-13 19:04] labarba commented on #1802
@drvinceknight 👋  — Could you handle this submission as editor?
**MDL Suite: A language, generator and compiler for describing mazes**
https://github.com/Akash-Nag/MDL-Suite
See the author's explanation of research uses: https://github.com/openjournals/joss-reviews/issues/1802#issuecomment-541418372

[2019-10-13 19:08] stfbnc commented on #1805
@whedon generate pdf

[2019-10-13 19:08] whedon commented on #1805
[code]

[2019-10-13 19:08] whedon commented on #1805
PDF failed to compile for issue #1805 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon/author.rb:33:in `strip_footnotes': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon/author.rb:13:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee

[2019-10-13 19:15] labarba commented on #1805
@openjournals/dev — we've got some compilation error happening here that I don't understand. Can you help?

[2019-10-13 19:37] alexhanna commented on #1591
Hi @taqtiqa-mark, checking in again. Can you confirm that the issues noted above have been adequately addressed?

[2019-10-13 19:38] alexhanna commented on #1764
👋 @benmarwick can you reply to the last post by @OttaviaE?

[2019-10-13 19:42] alexhanna commented on #1453
:wave: @malmaud are you able to continue this review?
Removing @jameshclrk from this review, given non-response.
@vchuravy, @ahwillia, @ChrisRackauckas -- are any of you available to review this?

[2019-10-13 19:43] alexhanna commented on #1453
@whedon remove @jameshclrk as reviewer

[2019-10-13 19:43] whedon commented on #1453
OK, @jameshclrk is no longer a reviewer

[2019-10-13 19:46] alexhanna commented on #1508
:wave: @mkearney it's been two weeks. Can you look at this?

[2019-10-13 19:54] stfbnc commented on #1805
@whedon generate pdf

[2019-10-13 19:54] whedon commented on #1805
[code]

[2019-10-13 19:54] whedon commented on #1805
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01805/joss.01805/10.21105.joss.01805.pdf)

[2019-10-13 19:55] stfbnc commented on #1805
I corrected the error, there was a missing tag in the metadata.

[2019-10-13 21:10] danielskatz commented on #1487
ok - please let me know when you are ready to proceed

[2019-10-13 21:43] sjvrijn commented on #1756
@shah314 Thanks for the updates, the paper and additional documentation files seem fine to me now.

I encountered two problems when running some test files on the Java version, for which I have opened Issues in the repository: [program hangs on simple case](https://github.com/shah314/gamultiknapsack/issues/2) and [NumberFormatException on float-input](https://github.com/shah314/gamultiknapsack/iss

[2019-10-13 22:30] shah314 commented on #1756
@sjvrijn I replied to the issues on the git repository page. I think I have fixed both issues (the number format exception and the code hanging). Please do a git pull and review and verify. Thank you for the detailed review.

[2019-10-13 23:33] taqtiqa-mark commented on #1591
No. I've opened gus0k/pymarket/issues/11 as an example of issues 5/7, and I've made a pull request  providing reproducible example.  I'll settle for just Ubuntu 16.04 instructions that work.

[2019-10-14 02:46] shah314 commented on #1756
@sjvrijn About the Constants.DIFF_TOLERANCE, it is not really required. But the distribution of the values in weing and orlib formats are quite different. So, I noticed that a lower value of DIFF_TOLERANCE sometimes causes the calculation of lagrangian multipliers to take a very long time for orlib formatted files. But the C++ code runs fine without it. No harm in keeping it there though.

[2019-10-14 04:42] zhampel commented on #1554
@telegraphic

Thanks for the reorganization of the codebase, as it's clearer how the pieces work. The example notebook is a nice addition for usage purposes. Furthermore, thanks for the clarifying the README for streamlined install, testing, usage, and some simple module calls.

@xuanxu I recommend this submission for publication.

[2019-10-14 07:07] BIPL-HORIE commented on #1785
@arokem
I am really sorry for my lack of confirmation.
I corrected the citation.

Thank you.

[2019-10-14 07:59] drvinceknight commented on #1793
Fantastic, thanks @geraintpalmer :+1:

[2019-10-14 08:00] drvinceknight commented on #1793
@whedon add @geraintpalmer as reviewer

[2019-10-14 08:00] whedon commented on #1793
OK, @geraintpalmer is now a reviewer

[2019-10-14 08:00] whedon opened #1806 "[REVIEW]: momepy: Urban Morphology Measuring Toolkit"
**Submitting author:** @martinfleis (<a href="http://orcid.org/0000-0003-3319-3366">Martin Fleischmann</a>)
**Repository:** <a href="https://github.com/martinfleis/momepy" target ="_blank">https://github.com/martinfleis/momepy</a>
**Version:** v0.1
**Editor:** @drvinceknight
**Reviewer:** @martibosch, @geraintpalmer
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/ee569f71

[2019-10-14 08:00] whedon commented on #1806
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martibosch, @geraintpalmer it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-10-14 08:00] whedon commented on #1806
[code]

[2019-10-14 08:00] whedon commented on #1806
PDF failed to compile for issue #1806 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/rest-client-2.1.0/lib/restclient/abstract_response.rb:249:in `exception_with_response': 404 Not Found (RestClient::NotFound)
	from /app/vendor/bundle/ruby/2.4.0/gems/rest-client-2.1.0/lib/restclient/abstract_response.rb:129:in `return!'
	from /app/vendor/bundle/ruby/2.4.0/gems/rest-client-2.1.0/lib

[2019-10-14 08:08] drvinceknight commented on #1802
Yup, no problem.

[2019-10-14 08:09] drvinceknight commented on #1802
@whedon assign @drvinceknight as editor

[2019-10-14 08:09] whedon commented on #1802
OK, the editor is @drvinceknight

[2019-10-14 08:09] drvinceknight commented on #1793
@whedon start review

[2019-10-14 08:09] whedon opened #1807 "[REVIEW]: momepy: Urban Morphology Measuring Toolkit"
**Submitting author:** @martinfleis (<a href="http://orcid.org/0000-0003-3319-3366">Martin Fleischmann</a>)
**Repository:** <a href="https://github.com/martinfleis/momepy" target ="_blank">https://github.com/martinfleis/momepy</a>
**Version:** v0.1.0
**Editor:** @drvinceknight
**Reviewer:** @martibosch, @geraintpalmer
**Archive:** <a href="https://doi.org/10.5281/zenodo.3544609" target="_blank">10

[2019-10-14 08:09] whedon commented on #1793
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1807. Feel free to close this issue now!

[2019-10-14 08:09] whedon commented on #1807
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martibosch, @geraintpalmer it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-10-14 08:09] whedon commented on #1807
[code]

[2019-10-14 08:10] drvinceknight commented on #1793
@geraintpalmer @martibosch the review will take place on #1807 any questions about the process please don't hesitate to ping me.

[2019-10-14 08:10] #1793 closed

[2019-10-14 08:10] whedon commented on #1807
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01807/joss.01807/10.21105.joss.01807.pdf)

[2019-10-14 08:11] drvinceknight commented on #1802
@whedon generate pdf

[2019-10-14 08:11] whedon commented on #1802
[code]

[2019-10-14 08:12] whedon commented on #1802
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01802/joss.01802/10.21105.joss.01802.pdf)

[2019-10-14 08:15] martinfleis commented on #1793
@drvinceknight For some reason the review issue is duplicated in #1806 and #1807. The first one should be probably closed.

[2019-10-14 08:17] drvinceknight commented on #1780
I understand @ChrisRackauckas and @Datseris  , thank you for responding.

Thank you @vchuravy, @dpsanders would you be able to review this paper please?

Thank you @daanhb, I'm going to wait a day or so to see if @dpsanders responds positively to gain a bit more variety of review but if not and you're still able I would be very grateful!

[2019-10-14 08:18] drvinceknight commented on #1806
This is a duplicate of #1807

[2019-10-14 08:18] #1806 closed

[2019-10-14 08:18] drvinceknight commented on #1793
Thanks @martinfleis, have taken care of it.

[2019-10-14 08:21] drvinceknight commented on #1802
@Akash-Nag would you have any suggestions for reviewers of this paper?

[2019-10-14 09:04] MaciejDanko commented on #1508
Actually it is almost six weeks since @mkearney replied :-/

[2019-10-14 09:08] dpsanders commented on #1780
Yes I am happy to review but have a bit of a backlog right now.

[2019-10-14 09:13] VivianePons commented on #1695
@alex-konovalov I would actually like to have you as a reviewer even if you work in the same department as @dimpase. As I know you personally, I trust your judgment! And I will look for a secondary reviewer anyway.

[2019-10-14 09:32] whedon commented on #1753
Sorry, I can't set reminders on PRE-REVIEW issues.

[2019-10-14 09:33] leouieda commented on #1753
Well, that's inconvenient :man_shrugging:. @anmolter could you please post a message here when you're ready to come back and restart the review process? I'll put a reminder on my calendar as well to check in.

[2019-10-14 09:34] leouieda commented on #1753
@zsylvester thank you for considering!

[2019-10-14 09:36] leouieda commented on #1795
@seisman thank you! That's OK since it sometimes takes a while to find 2 reviewers.

[2019-10-14 09:43] ThomasLecocq commented on #1795
@leouieda OK for me

[2019-10-14 09:56] leouieda commented on #1795
@whedon assign @ThomasLecocq as reviewer

[2019-10-14 09:56] whedon commented on #1795
OK, the reviewer is @ThomasLecocq

[2019-10-14 10:59] dirmeier commented on #1785
You can check if the pdf builds via: @whedon generate pdf

[2019-10-14 10:59] dirmeier commented on #1785
@whedon generate pdf

[2019-10-14 10:59] whedon commented on #1785
[code]

[2019-10-14 11:00] trichter commented on #1795
@leouieda, thank you, that's OK with me.

[2019-10-14 11:00] whedon commented on #1785
PDF failed to compile for issue #1785 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.435 the libsdnn\doc

Looks like we failed to compile the PDF

[2019-10-14 11:33] gus0k commented on #1591
@taqtiqa-mark Sorry for the dealy, it was a busy week. I have already addressed the issue. I think there was a problem with the python version you were using. I uploaded a working Docker with ubuntu 16.04

@igarizio Fixed the problem with too many bidders.

[2019-10-14 12:04] Akash-Nag commented on #1802
No, I do not have any preferences/suggestions regarding the choice of
reviewers.

Thanks & Regards,

On Mon, 14 Oct 2019, 13:51 Vince Knight, <notifications@github.com> wrote:

[2019-10-14 12:04] sairamgeethanath commented on #1725
Many thanks to all the reviewers @mathieuboudreau @spinicist @grlee77, the editor @Kevin-Mattheus-Moerman and the associate editor in chief @labarba for the time and inputs to make our work better.

[2019-10-14 12:31] meg-simula commented on #1776
@sgrieve and @tristan-salles Thanks for completing the reviews, much appreciated.
@kbarnhart Looks like you are well underway handling the feedback. Let me know if you have further questions or when you are ready to proceed further.

[2019-10-14 12:36] meg-simula commented on #1701
@gbertoldo @HaoZeke and @dham Thanks for starting the review and starting addressing the issues.

@HaoZeke Has @gbertoldo addressed your initial concerns? If so, are you ready to proceed with the review?

[2019-10-14 12:38] meg-simula commented on #1730
My apologies for the delay here @fcooper8472 Do you have any suggestions for a second reviewer? Perhaps someone from [this list of potential reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)?

[2019-10-14 13:04] leouieda commented on #1795
@whedon add @seisman as reviewer

[2019-10-14 13:04] whedon commented on #1795
OK, @seisman is now a reviewer

[2019-10-14 13:06] leouieda commented on #1795
@whedon start review

[2019-10-14 13:06] whedon opened #1808 "[REVIEW]: rf: Receiver function calculation in seismology"
**Submitting author:** @trichter (<a href="http://orcid.org/0000-0002-8378-559X">Tom Eulenfeld</a>)
**Repository:** <a href="https://github.com/trichter/rf" target ="_blank">https://github.com/trichter/rf</a>
**Version:** 0.9.1
**Editor:** @leouieda
**Reviewers:** @ThomasLecocq, @seisman
**Archive:** <a href="https://doi.org/10.5281/zenodo.3741366" target="_blank">10.5281/zenodo.3741366</a>

## St

[2019-10-14 13:06] whedon commented on #1795
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1808. Feel free to close this issue now!

[2019-10-14 13:06] whedon commented on #1808
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ThomasLecocq, @seisman it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-10-14 13:06] whedon commented on #1808
[code]

[2019-10-14 13:07] whedon commented on #1808
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01808/joss.01808/10.21105.joss.01808.pdf)

[2019-10-14 13:08] ziotom78 commented on #1787
Hi @labarba and @SuperKam91, I would be happy to review this!

[2019-10-14 13:10] leouieda commented on #1808
👋🏼 @trichter @seisman @ThomasLecocq  this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2019-10-14 13:46] fcooper8472 commented on #1730
From the list, how about one of: dirmeier Rgcjk andremrsantos camillescott sirsharpest mskwark MikeLydeamore

Those, I think, are the list of reviewers who have listed Computational Biology and have C++ as a language preference.

[2019-10-14 14:30] zhampel commented on #1787
@labarba & @SuperKam91 I can provide a review for this submission.

[2019-10-14 14:56] kellykochanski commented on #1699
@zbeekman Do you know when you will have time to look at this?

[2019-10-14 14:56] klmedeiros commented on #1685
@usethedata This review is completed and the paper is ready to be accepted.

[2019-10-14 15:24] zbeekman commented on #1699
On the agenda for today! Thanks for the nudge.

On Mon, Oct 14, 2019 at 10:56 AM Kelly Kochanski <notifications@github.com>
wrote:

[2019-10-14 15:29] elyiorgos commented on #1663
Hi Bjoern,

Are you able to run python 2 from the command line with the command `python2`? If so you can install pip2 by running the following:

This will get you what you need to download pip
`wget https://bootstrap.pypa.io/get-pip.py`

This will install pip for python 2
 `sudo python2 get-pip.py`

This will install pip for python 3
`sudo python3 get-pip.py`

Now if you call pip, or pip3, you wil

[2019-10-14 16:17] deargle commented on #1315
Hi @leouieda, we published [an updated JOSS release to zenodo](https://zenodo.org/record/3485851), doi 10.5281/zenodo.3485851. Version number is 1.3.3 (took a few iterations to get the .zenodo.json formatting right)

Anything else you need from us?

[2019-10-14 16:28] leouieda commented on #1315
@whedon check references

[2019-10-14 16:28] whedon commented on #1315
[code]

[2019-10-14 16:29] whedon commented on #1315
[code]

[2019-10-14 16:30] leouieda commented on #1315
@whedon generate pdf

[2019-10-14 16:30] whedon commented on #1315
[code]

[2019-10-14 16:31] whedon commented on #1315
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01315/joss.01315/10.21105.joss.01315.pdf)

[2019-10-14 16:35] leouieda commented on #1315
@deargle looks good to me! I'm happy to pass this on for final acceptance into JOSS :tada:

[2019-10-14 16:35] leouieda commented on #1315
@whedon set 10.5281/zenodo.3485851 as archive

[2019-10-14 16:36] whedon commented on #1315
OK. <a href="https://doi.org/10.5281/zenodo.3485851" target="_blank">10.5281/zenodo.3485851</a> is the archive.

[2019-10-14 16:36] leouieda commented on #1315
@whedon set 1.3.3 as version

[2019-10-14 16:36] whedon commented on #1315
OK. 1.3.3 is the version.

[2019-10-14 16:37] leouieda commented on #1315
@openjournals/joss-eics this submission is ready for acceptance and publication :confetti_ball:

[2019-10-14 16:51] #1749 closed

[2019-10-14 16:59] lheagy commented on #1663
@elyiorgos and @eskofier: If getting up and running locally is proving to be challenging, then I would recommend that @elyiorgos set up an example that runs on [binder](http://mybinder.org). You will need to specify an environment.yml file that contains the dependencies, and binder will install those for you and give you a sandbox computational environment to run the code. See for example this dem

[2019-10-14 17:22] arokem commented on #1727
@FreddieV4 : would you be willing to review this article for JOSS?

[2019-10-14 17:23] arokem commented on #1727
@tianxzhu : would you be willing to review this article for JOSS?

[2019-10-14 18:12] mbobra commented on #1787
@whedon assign @mbobra as editor

[2019-10-14 18:12] whedon commented on #1787
OK, the editor is @mbobra

[2019-10-14 18:13] mbobra commented on #1787
👋@ziotom78 @zhampel Thank you for volunteering to review!

[2019-10-14 18:14] mbobra commented on #1787
@whedon assign @ziotom78 as reviewer

[2019-10-14 18:14] whedon commented on #1787
OK, the reviewer is @ziotom78

[2019-10-14 18:14] mbobra commented on #1787
@whedon add @zhampel as reviewer

[2019-10-14 18:14] whedon commented on #1787
OK, @zhampel is now a reviewer

[2019-10-14 18:14] mbobra commented on #1787
@whedon start review

[2019-10-14 18:14] whedon opened #1809 "[REVIEW]: Geometric nested sampling"
**Submitting author:** @SuperKam91 (<a href="http://orcid.org/0000-0002-2089-3964">Kamran Javid</a>)
**Repository:** <a href="https://github.com/SuperKam91/gns" target ="_blank">https://github.com/SuperKam91/gns</a>
**Version:** v1.01
**Editor:** @mbobra
**Reviewer:** @ziotom78, @zhampel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3569956" target="_blank">10.5281/zenodo.3569956</a>

## St

[2019-10-14 18:14] whedon commented on #1787
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1809. Feel free to close this issue now!

[2019-10-14 18:14] whedon commented on #1809
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ziotom78, @zhampel it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-10-14 18:14] whedon commented on #1809
[code]

[2019-10-14 18:15] #1787 closed

[2019-10-14 18:15] whedon commented on #1809
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01809/joss.01809/10.21105.joss.01809.pdf)

[2019-10-14 18:16] mbobra commented on #1809
👋@ziotom78 @zhampel Thank you again for volunteering to review. The review instructions are listed above. Please let me know if you have any questions!

[2019-10-14 18:24] mbobra commented on #1765
@KaiWenger I'm sorry for the delay on this; I'm still looking for reviewers and hope to start the review in the next couple of days.

[2019-10-14 18:24] mbobra commented on #1745
Reminder set for @sarats in one hour

[2019-10-14 18:28] jiajiexiao commented on #1682
Thanks for taking time to address my questions, @zhuyouliang. Please ping me once you have finished so. I will update my review status then. Please let me know if there anything I need to do at this moment @kyleniemeyer.

[2019-10-14 18:38] karthik commented on #1709
Hello @ahwillia would you be able and willing to serve as the second reviewer for this submission? 🙏

[2019-10-14 18:41] kbarnhart commented on #1776
Sounds good @meg-simula, I'm going to give @tristan-salles a little more time to see if he has any further recommendations to address [Issue #8](https://github.com/TerrainBento/umami/issues/8). Once I close that, I'll make the 1.0 release (which will address the [last remaining issue](https://github.com/TerrainBento/umami/issues/6)), and I'll let you know that I'm ready to proceed.

Thanks all for

[2019-10-14 20:08] tristan-salles commented on #1776
Hi @meg-simula & @kbarnhart, I have just reviewed the issue #8 and it looks really good and I am happy to recommend this publication.

[2019-10-14 20:45] eskofier commented on #1663
Yes, that works.

Doesn’t work:
-bash: wget: command not found

Viele Grüße
Bjoern

Social Media: find out more about

FAU Sandbox
www.sandbox.fau.de
https://twitter.com/FauSandbox
https://www.instagram.com/fausandbox
https://www.linkedin.com/company/fau-sandbox
https://www.facebook.com/FAUSandbox

MaD Lab
www.mad.tf.fau.de
https://twitter.com/fau_mad_lab
https://twitter.com/bjoerneskofier
www.lin

[2019-10-14 21:47] ahwillia commented on #1709
I'm unavailable until after Nov 1, but could review then.

[2019-10-14 22:09] mbobra commented on #1745
@whedon remind @sarats in one hour

[2019-10-14 22:09] whedon commented on #1745
Reminder set for @sarats in one hour

[2019-10-14 23:09] whedon commented on #1745
:wave: @sarats, please update us on how your review is going.

[2019-10-15 00:42] kbarnhart commented on #1776
@meg-simula, I've now resolved all the issues related to the reviews and made the v1.0.0 release.

Let me know what you need from me to move forward. Thanks!

[2019-10-15 04:13] sauln commented on #1315
Yay!! Thank you @ixjlyons and @lmcinnes for your reviews, @leouieda for your patience, @deargle for your help pushing it through the finish line!

[2019-10-15 07:18] mjsottile commented on #1772
👋@cscherrer would you be interested in reviewing this paper?

[2019-10-15 07:31] arfon commented on #720
:wave: @offray - any updates on progress here?

[2019-10-15 09:21] whedon opened #1810 "[PRE REVIEW]: MatSurv: Survival analysis and visualization in MATLAB"
**Submitting author:** @jhcreed (<a href="http://orcid.org/0000-0002-8302-2648">Jordan Creed</a>)
**Repository:** <a href="https://github.com/aebergl/MatSurv" target ="_blank">https://github.com/aebergl/MatSurv</a>
**Version:** v1.0.0
**Editor:** @cMadan
**Reviewers:** @dsurujon, @ManuelaS

**Author instructions**

Thanks for submitting your paper to JOSS @jhcreed. The JOSS editor @cMadan, will wo

[2019-10-15 09:21] whedon commented on #1810
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a

[2019-10-15 09:21] whedon commented on #1810
[code]

[2019-10-15 09:21] whedon commented on #1810
PDF failed to compile for issue #1810 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b240d/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1e4ee47b24

[2019-10-15 09:22] Kevin-Mattheus-Moerman commented on #1810
@cMadan can you take this one?

[2019-10-15 09:26] Kevin-Mattheus-Moerman commented on #1805
@mbobra can you handle this submission?

[2019-10-15 09:29] Kevin-Mattheus-Moerman commented on #1804
@trallard can you handle this submission?

[2019-10-15 09:40] Kevin-Mattheus-Moerman commented on #1337
@gkthiruvathukal can you pick this up? It seems all boxes are ticked now. Thanks

[2019-10-15 09:42] Kevin-Mattheus-Moerman commented on #1648
I suggest @danasolav as a reviewer

[2019-10-15 09:45] Kevin-Mattheus-Moerman commented on #1648
@cMadan are you able to invite some more reviewers? I think @danasolav would be ideal but perhaps we can find some more. Thanks.

[2019-10-15 09:47] Kevin-Mattheus-Moerman commented on #1710
@gkthiruvathukal :wave: are you able to find reviewers for this work? Thanks

[2019-10-15 09:49] Kevin-Mattheus-Moerman commented on #1686
@karthik can you follow up with the authors on the status here?

[2019-10-15 09:50] Kevin-Mattheus-Moerman commented on #1656
@terrytangyuan can you follow up with the authors/reviewers to see where this stands? Thanks

[2019-10-15 09:53] Kevin-Mattheus-Moerman commented on #1741
@lpantano can you check with the authors where we stand with this submission?

[2019-10-15 09:56] Kevin-Mattheus-Moerman commented on #1315
@whedon check references

[2019-10-15 09:56] whedon commented on #1315
[code]

[2019-10-15 09:57] whedon commented on #1315
[code]

[2019-10-15 10:14] Kevin-Mattheus-Moerman commented on #1315
@sauln here are some minor points in relation to your paper.
- [ ] In "...data topoloigcal structures." fix the typo and consider rephrasing to "In "... topological data structures.""
- [ ] In "We leverage Scikit-Learn API-compatible cluster and scaling algorithms to construct network graphs in a flexible and user-friendly way.". Should you use "Scikit-Learn's" here?
- [ ] If works like matplotlib

[2019-10-15 10:17] Kevin-Mattheus-Moerman commented on #1315
@labarba can you help check the citation syntax for this paper? Are we happy about the use of `&` and `et al.` here?

[2019-10-15 11:22] batpigandme commented on #1686
@Kevin-Mattheus-Moerman, so sorry to all the reviewers for the delay. Edits in the works.

[2019-10-15 11:26] labarba commented on #1315
In-text citations are not properly used.

When the citation is part of the sentence, it renders: Author (year). If the citation is not part of the sentence, then it should appear in parenthesis. E.g. “We take inspiration from Smith et al. (2006) to blah “ and “The code implements Theory 1 (Jones, 2012) and Theory 2 (Roberts, 2014) to obtain blah “  For the syntax to obtain brackets in the right pl

[2019-10-15 11:33] gkthiruvathukal commented on #1710
@Kevin-Mattheus-Moerman I will be following up on this submission shortly. We discussed this submission on the editors list and decided that it falls under the utility/wrapper category. I will post the decision below.

[2019-10-15 11:35] gkthiruvathukal commented on #1710
Dear @fduchatea:

After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems very useful, it falls under the 'Minor utility/Thin wrapper' category, and we therefore decided not to put it through r

[2019-10-15 11:38] gkthiruvathukal commented on #1337
Thanks for the nudge, @Kevin-Mattheus-Moerman.

@openjournals/joss-eics  I am ready to recommend acceptance of the submission. @JedS6391 has done a great job of addressing all reviewer feedback during this process.

[2019-10-15 11:41] gkthiruvathukal commented on #1326
@Amudtogal Can you let us know when this license change is complete? Once done, I believe we are ready to move toward acceptance. You'll need to tag the latest release and create the Zenodo artifact.

[2019-10-15 12:08] drvinceknight commented on #1780
Thanks @dpsanders I'll add you as a reviewer and if your backlog gets too much let me know.

[2019-10-15 12:08] drvinceknight commented on #1780
@whedon add @dpsanders as reviewer

[2019-10-15 12:08] whedon commented on #1780
OK, @dpsanders is now a reviewer

[2019-10-15 12:08] drvinceknight commented on #1780
@whedon start review

[2019-10-15 12:08] whedon opened #1811 "[REVIEW]: ComplexRegions.jl: A Julia package for regions in the complex plane"
**Submitting author:** @tobydriscoll (<a href="http://orcid.org/0000-0002-1490-2545">Tobin Driscoll</a>)
**Repository:** <a href="https://github.com/complexvariables/ComplexRegions.jl" target ="_blank">https://github.com/complexvariables/ComplexRegions.jl</a>
**Version:** v0.1.1
**Editor:** @drvinceknight
**Reviewer:** @dlfivefifty, @dpsanders
**Archive:** <a href="https://doi.org/10.5281/zenodo.3

[2019-10-15 12:08] whedon commented on #1780
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1811. Feel free to close this issue now!

[2019-10-15 12:08] whedon commented on #1811
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dlfivefifty, @dpsanders it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-10-15 12:08] whedon commented on #1811
[code]

[2019-10-15 12:09] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-10-15 12:10] drvinceknight commented on #1780
@dpsanders and @dlfivefifty the review will take place on #1811, please let me know if you have any questions about the process and thank you again for agreeing to take this on. It's a vital part of the process.

@daanhb thank you very much for offering to review, it's truly appreciated and hopefully you won't mind me calling on you in the future.

[2019-10-15 12:10] #1780 closed

[2019-10-15 12:12] #1710 closed

[2019-10-15 13:56] RHagenson commented on #1741
@lpantano Work is still being done to address the concerns raised by reviewers. Unfortunately for me, I am the only author on the submission and have been pulled in other directions so progress stalled. I was able to knock out the "low-hanging fruit" concerns, but the more major ones -- which will take greater time to address -- remain.

[2019-10-15 14:44] malmaud commented on #1453
Yes, I’ll take another look today.

[2019-10-15 16:03] Kevin-Mattheus-Moerman commented on #1779
@whedon add @seisman as reviewer

[2019-10-15 16:04] whedon commented on #1779
OK, @seisman is now a reviewer

[2019-10-15 16:05] Kevin-Mattheus-Moerman commented on #1779
@krischer @HongjianFang @shicks-seismo @martinvandriel would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
[**Telewavesim: Software for teleseismic body wave modeling**](https://github.com/paudetseis/Telewavesim)
The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub

[2019-10-15 16:08] Kevin-Mattheus-Moerman commented on #1691
@wingtorres have you any suggestions for reviewers that I have not considered?

[2019-10-15 16:23] mbobra commented on #1805
@whedon assign @mbobra as editor

[2019-10-15 16:23] whedon commented on #1805
OK, the editor is @mbobra

[2019-10-15 16:38] yangkcatiu commented on #1706
Hi @arokem , we haven't heard anything feedback from the reviewer for almost a month now. We have addressed issues already, would it be possible for you to take a look and approve the changes? Thank you!

[2019-10-15 16:49] arokem commented on #1706
I apologize for how long this has languished. I've contacted @mkearney by email and he told me that he has some time set aside for this tonight, so I hope we can put this thing to rest tomorrow...

[2019-10-15 16:51] yangkcatiu commented on #1706
Really appreciate it!

[2019-10-15 17:01] knaidoo29 commented on #1721
Great to see that it's been accepted! Really appreciate all the help from both @zonca and @melissawm. I think the code and the paper are now much stronger.

@xuanxu is there anything I need to do before publication?

[2019-10-15 17:23] meg-simula commented on #1776
@kbarnhart Thanks, will do!

[2019-10-15 17:24] meg-simula commented on #1776
@sgrieve Are you satisfied with the response to your review? If yes, do you recommend accepting this submission?

[2019-10-15 17:28] rljacobson commented on #1005
@kyleniemeyer  My review is complete, but it appears I cannot edit the checklist. I have one issue:

The paper (paper.md) has an empty References section. That section should presumably include the references `@LiThiaoTe20121723` and `@LiThiaoTe2012439`, and possibly `@Knuth84literateprogramming` as well.

# Review checklist for @rljacobson

## Conflict of interest

- [X]   As the reviewer I confi

[2019-10-15 17:37] meg-simula commented on #1730
Thanks @fcooper8472, I'll see if one of them would be available.

[2019-10-15 17:37] meg-simula commented on #1730
@camillescott would you like to review this submission for JOSS? Feel free to take a look at our reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-10-15 17:48] trallard commented on #1517
@whedon check references

[2019-10-15 17:48] whedon commented on #1517
[code]

[2019-10-15 17:48] whedon commented on #1517
[code]

[2019-10-15 17:58] kyleniemeyer commented on #1005
@whedon generate pdf

[2019-10-15 17:58] whedon commented on #1005
[code]

[2019-10-15 17:59] whedon commented on #1005
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01005/joss.01005/10.21105.joss.01005.pdf)

[2019-10-15 18:00] trallard commented on #1517
@whedon set 0.5.2 as archive

[2019-10-15 18:00] whedon commented on #1517
0.5.2 doesn't look like an archive DOI.

[2019-10-15 18:02] kyleniemeyer commented on #1005
@rljacobson thanks! The references are automatically included in the PDF from the associated `.bib` file, and aren't supposed to be in the Markdown file, so this looks ok.

[2019-10-15 18:03] mbobra commented on #1805
@stfbnc Do you have any suggestions for potential reviewers from [this list of JOSS referees](https://bit.ly/joss-reviewers)?

[2019-10-15 18:08] whedon commented on #1517
OK. 0.5.2 is the version.

[2019-10-15 18:13] rljacobson commented on #1782
@mjsottile This looks like a great project. I would love to review it. This project covers a lot of ground (multiple backends, etc.) and so might take a little longer than usual to complete.

[2019-10-15 18:23] rljacobson commented on #1005
@kyleniemeyer Great, then my review is complete. He gets a pass from me. Looks good.

[2019-10-15 18:32] stfbnc commented on #1805
I suggest (from the list):

- PythonCHB
- ali-ramadhan

[2019-10-15 18:46] kyleniemeyer commented on #1005
@slithiaote at this point I believe we can accept this submission. I just submitted a minor PR with fixes to the paper, if you could merge this: https://github.com/slithiaote/lepton/pull/4

Then, please archive the software repository at Zenodo and let me know the resulting DOI.

[2019-10-15 19:08] mkearney commented on #1706
Sorry for the delay–you all were so fast with the revisions! The revisions look great!

[2019-10-15 19:10] arokem commented on #1706
OK - I see that you have checked all the boxes. I take it to assume that both reviewers are ready to recommend acceptance at this point. Thank you both for your reviews!

[2019-10-15 19:11] arokem commented on #1706
@whedon check references

[2019-10-15 19:11] whedon commented on #1706
[code]

[2019-10-15 19:11] yangkcatiu commented on #1706
Thank you! @mkearney @arokem

[2019-10-15 19:12] whedon commented on #1706
[code]

[2019-10-15 19:12] mkearney commented on #1508
I thought I fixed this two different times. That'll teach me to do Github things on my phone... 😅

[2019-10-15 19:13] arokem commented on #1706
@yangkcatiu : see ☝️above for missing DOIs in references. Could you please add these for these references? I will also take another read through the PDF to make sure the everything is in the right place.

[2019-10-15 19:14] arokem commented on #1706
@whedon generate pdf

[2019-10-15 19:14] whedon commented on #1706
[code]

[2019-10-15 19:14] whedon commented on #1706
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01706/joss.01706/10.21105.joss.01706.pdf)

[2019-10-15 19:26] yangkcatiu commented on #1706
@whedon check references

[2019-10-15 19:26] whedon commented on #1706
[code]

[2019-10-15 19:30] arokem commented on #1706
I noticed that there is some inconsistent reference formatting. For example, sometimes "Clayton Allen Davis et al., 2016", sometimes "C A Davis et al. 2016" , and sometimes  "Davis et al. 2016". Could you please make sure that reference formats are consistent?

[2019-10-15 19:31] yangkcatiu commented on #1706
I have added the missing references; I also updated the references for two recently updated papers.

[2019-10-15 19:31] yangkcatiu commented on #1706
Sure!

[2019-10-15 19:38] whedon commented on #1706
[code]

[2019-10-15 19:40] mjsottile commented on #1782
@whedon add @rljacobson as reviewer

[2019-10-15 19:40] whedon commented on #1782
OK, @rljacobson is now a reviewer

[2019-10-15 19:42] trallard commented on #1517
@alvarolopez thanks for your patience.
I have made 2 PRs to add some changes prior to publication, one is to fix the broken reference as per above and the other are minimal suggestions (can or not approve this one).

Please ping me when the DOI fix is merged to proceed.

[2019-10-15 19:43] yangkcatiu commented on #1706
@whedon check references

[2019-10-15 19:43] whedon commented on #1706
[code]

[2019-10-15 19:43] yangkcatiu commented on #1706
@whedon generate pdf

[2019-10-15 19:43] whedon commented on #1706
[code]

[2019-10-15 19:44] whedon commented on #1706
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01706/joss.01706/10.21105.joss.01706.pdf)

[2019-10-15 19:45] whedon commented on #1706
[code]

[2019-10-15 19:45] trallard commented on #1804
Sure assing it to me @Kevin-Mattheus-Moerman

[2019-10-15 19:46] trallard commented on #1680
@whedon assign @alexanderfurnas as reviewer

[2019-10-15 19:46] whedon commented on #1680
OK, the reviewer is @alexanderfurnas

[2019-10-15 19:49] Kevin-Mattheus-Moerman commented on #1691
@AlexEMG would you be interested in reviewing [this software](https://github.com/wingtorres/morphometrix) package (a python GUI for marine animal size analysis from aerial image data), for the Journal of Open Source Software (JOSS)? The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub and focuses largely on evaluating the software a

[2019-10-15 19:52] dlfivefifty commented on #1811
@whedon commands

[2019-10-15 19:52] whedon commented on #1811
Here are some things you can ask me to do:

[code]

[2019-10-15 19:53] Kevin-Mattheus-Moerman commented on #1804
@whedon assign @trallard as editor

[2019-10-15 19:54] whedon commented on #1804
OK, the editor is @trallard

[2019-10-15 19:54] yangkcatiu commented on #1706
@whedon generate pdf

[2019-10-15 19:54] whedon commented on #1706
[code]

[2019-10-15 19:54] whedon commented on #1706
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01706/joss.01706/10.21105.joss.01706.pdf)

[2019-10-15 19:57] arokem commented on #1706
Looks like you got all the DOIs. Did you see my formatting PR? https://github.com/IUNetSci/BotSlayer-CE/pull/37

[2019-10-15 19:58] dlfivefifty commented on #1811
I think my review is essentially done. The main thing is referencing related work of IntervalSets.jl and DomainSets.jl, see

https://github.com/complexvariables/ComplexRegions.jl/issues/1

[2019-10-15 19:59] yangkcatiu commented on #1706
Yes, just merged, thank you!

[2019-10-15 20:09] henrikmidtiby commented on #1654
@abhishekbajpayee I have pushed an updated installation guide to github.
https://github.com/henrikmidtiby/PorpoiseTracker/commit/13b76acc2c7cdbf36ab824512cd7d16c24f631db

The installation guide was tested on a minimal installation of Ubuntu 18.04.3 LTS, where the first thing I did after updating all installed packages was to install the porpoise tracker program.

[2019-10-15 20:26] yangkcatiu commented on #1706
I have re-formated the references.

[2019-10-15 20:28] henrikmidtiby commented on #1654
@abhishekbajpayee I have tried to install the porpoise tracker in a docker container, but is stuck on the following issue.

[code]

The approach is based on the Dockerfile shown below. Keep in mind that this is my first attempt at using docker ...
[code]

[2019-10-15 20:35] arokem commented on #1706
@whedon  generate pdf

[2019-10-15 20:39] mjsottile commented on #1772
@whedon add @cscherrer as reviewer

[2019-10-15 20:39] whedon commented on #1772
OK, @cscherrer is now a reviewer

[2019-10-15 20:41] mjsottile commented on #1772
@whedon assign @cscherrer as reviewer

[2019-10-15 20:41] whedon commented on #1772
OK, the reviewer is @cscherrer

[2019-10-15 21:16] sarats commented on #1745
Nice work, good to go.

[2019-10-15 21:17] ali-ramadhan commented on #1805
Thanks for the email @mbobra. More than happy to review this submission.

I've encountered DFA in a few papers I've read (mostly applied to climate science) but I'm no expert, so hoping to learn more by reviewing fathon.

[2019-10-15 21:18] mbobra commented on #1805
@whedon assign @ali-ramadhan as reviewer

[2019-10-15 21:18] whedon commented on #1805
OK, the reviewer is @ali-ramadhan

[2019-10-15 21:20] mbobra commented on #1745
Thank you, @sarats! (And congratulations!)

[2019-10-15 21:24] mbobra commented on #1745
@sixpearls We're almost there! Can you please [archive your release on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI and then put that DOI in your `readme.rst` file? Please make sure that the title and author list on the Zenodo archive match the title and author list of the JOSS paper. After that I think we're done 🎉

[2019-10-15 21:39] yiorg commented on #1663
@lheagy Thank you for the suggestion, that seems like the best way forward. I'll get working on it as soon as possible and share it here once I have it up and running!

Best,
Yiorg

[2019-10-15 23:30] majensen commented on #1803
@labarba can do
@whedon assign @majensen as editor

[2019-10-15 23:32] majensen commented on #1803
@whedon assign @majensen as editor

[2019-10-15 23:32] whedon commented on #1803
OK, the editor is @majensen

[2019-10-16 00:32] zbeekman commented on #1699
I think I have more or less concluded my review. There are many great features of rescal-snow, and, in most circumstances, building it was straight forwards. I've tested it on:

- macOS with clang
- macOS with GCC 9
- HPC cluster with GCC 6
- HPC cluster with Intel 18

In general there is a fairly large quantity of usage documentation and tutorials. At times this has been a double edged sword beca

[2019-10-16 00:43] majensen commented on #1803
I've reached out to a couple of colleagues via email who may not be familiar with JOSS -- but I will @ -ping them here as well: @seandavi and @dcgenomics.

[2019-10-16 03:42] malmaud commented on #1453
OK, tested it out. Functionality seems to work - I was able to load a PDF of my own and extract the its text and query the metadata, and it all seemed accurate. I'm not a particular domain expert on PDF reader tools but it least seems to do what it promises to do in its README.

I see examples have been added to most of the docstrings of the exported functions and an example is given on the README

[2019-10-16 04:09] mjsottile commented on #1772
Other possible reviewers from the spreadsheet: @jgoldfar - you appear to have knowledge of differential equations and R. @fabian-s - you appear to have knowledge of R and inference methods.  Interested in taking this on to help review?

[2019-10-16 04:41] dagit commented on #1782
@mjsottile I'd be happy to take a look at this. I'm not an Ocaml expert but I have experience in other functional languages.

[2019-10-16 04:45] mjsottile commented on #1782
@whedon add @dagit as reviewer

[2019-10-16 04:45] whedon commented on #1782
OK, @dagit is now a reviewer

[2019-10-16 04:46] mjsottile commented on #1782
@whedon start review

[2019-10-16 04:46] whedon opened #1812 "[REVIEW]: OwlDE: making ODEs first-class `Owl` citizens"
**Submitting author:** @mseri (<a href="http://orcid.org/0000-0002-8563-5894">Marcello Seri</a>)
**Repository:** <a href="https://github.com/owlbarn/owl_ode/" target ="_blank">https://github.com/owlbarn/owl_ode/</a>
**Version:** v0.2.0
**Editor:** @mjsottile
**Reviewers:** @xoolive, @rljacobson, @mjsottile
**Archive:** <a href="https://doi.org/10.5281/zenodo.3584264" target="_blank">10.5281/zenodo

[2019-10-16 04:46] whedon commented on #1782
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1812. Feel free to close this issue now!

[2019-10-16 04:46] whedon commented on #1812
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xoolive, @rljacobson, @dagit it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2019-10-16 04:46] whedon commented on #1812
[code]

[2019-10-16 04:47] whedon commented on #1812
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01812/joss.01812/10.21105.joss.01812.pdf)

[2019-10-16 04:47] #1782 closed

[2019-10-16 04:48] mjsottile commented on #1812
Thanks @xoolive, @rljacobson, @dagit for agreeing to review.  The instructions are listed above for the review process.  Feel free to reach out if you have any questions or problems.

[2019-10-16 06:14] sgrieve commented on #1776
Yes, I wholeheartedly recommend acceptance. 🚀

[2019-10-16 07:38] Kevin-Mattheus-Moerman commented on #1779
@kbarnhart would you like to edit this one? (Or review it). Sounds like it might be your cup tea?

[2019-10-16 07:53] drvinceknight commented on #1802
@hausen, @pragyansmita, @gradvohl, @rreinecke, @BasTesterink would you be interested in reviewing this paper on maze generation for JOSS? I don't think it fits immediately within your areas of expertise but it is somewhat related and you all have knowledge of java.

If you have not reviewed for JOSS before, in my experience it takes less time than reviewing for a traditional journal and there is d

[2019-10-16 07:56] drvinceknight commented on #1811
Thank you @dlfivefifty :+1: 💪

[2019-10-16 08:18] JonasMoss commented on #1765
@KaiWenger @mbobra I'd be happy to review this package! I can start working on the review in about a week.

[2019-10-16 08:36] whedon opened #1813 "[PRE REVIEW]: GAIM: A C++ library for Genetic Algorithms and Island Models"
**Submitting author:** @gdetor (<a href="http://orcid.org/0000-0001-5891-1702">Georgios Detorakis</a>)
**Repository:** <a href="https://gitlab.com/gdetor/genetic_alg" target ="_blank">https://gitlab.com/gdetor/genetic_alg</a>
**Version:** v1.0.0
**Editor:** @majensen
**Reviewers:** @sjvrijn, @sarats

**Author instructions**

Thanks for submitting your paper to JOSS @gdetor. The JOSS editor @mgymre

[2019-10-16 08:36] whedon commented on #1813
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a

[2019-10-16 08:36] whedon commented on #1813
[code]

[2019-10-16 08:36] whedon commented on #1813
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01813/joss.01813/10.21105.joss.01813.pdf)

[2019-10-16 08:37] Kevin-Mattheus-Moerman commented on #1813
@mgymrek can you  take this one? Alternatively, @brainstorm @majensen @csoneson can one of you take this one? Thanks

[2019-10-16 08:44] whedon opened #1814 "[PRE REVIEW]: MOAFS: A Massive Online Analysis library for featureselection in data streams"
**Submitting author:** @mbdemoraes (<a href="http://orcid.org/0000-0002-9485-0334">Matheus Bernardelli de Moraes</a>)
**Repository:** <a href="https://github.com/mbdemoraes/moafs" target ="_blank">https://github.com/mbdemoraes/moafs</a>
**Version:** v1.0.0
**Editor:** @VivianePons
**Reviewers:** @sptennak

**Author instructions**

Thanks for submitting your paper to JOSS @mbdemoraes. The JOSS edit

[2019-10-16 08:44] whedon commented on #1814
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @melissawm it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-10-16 08:45] whedon commented on #1814
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01814/joss.01814/10.21105.joss.01814.pdf)

[2019-10-16 08:45] Kevin-Mattheus-Moerman commented on #1814
@melissawm @VivianePons @drvinceknight could one of you be editor for this one? (I've assigned Melissa as editor for now)

[2019-10-16 08:48] Kevin-Mattheus-Moerman commented on #1792
@katyhuff :wave: can you take this one? Thanks

[2019-10-16 08:48] VivianePons commented on #1814
I can take this one

Le mer. 16 oct. 2019 à 10:45, Kevin Mattheus Moerman <
notifications@github.com> a écrit :

[2019-10-16 08:48] Kevin-Mattheus-Moerman commented on #1814
@whedon remove @melissawm as editor

[2019-10-16 08:49] Kevin-Mattheus-Moerman commented on #1814
@whedon assign @VivianePons as editor

[2019-10-16 08:49] whedon commented on #1814
OK, the editor is @VivianePons

[2019-10-16 08:52] drvinceknight commented on #1802
Fantastic thanks @rreinecke, once we have a second reviewer I'll open another issue where the review itself will take place.

[2019-10-16 08:53] drvinceknight commented on #1802
@whedon assign @rreinecke as reviewer

[2019-10-16 08:53] whedon commented on #1802
OK, the reviewer is @rreinecke

[2019-10-16 08:54] alvarolopez commented on #1517
@trallard ping :-)

Changes were merged, thank you for your support!

[2019-10-16 09:11] trallard commented on #1517
@whedon check references

[2019-10-16 09:11] whedon commented on #1517
[code]

[2019-10-16 09:15] whedon commented on #1517
[code]

[2019-10-16 10:55] Kevin-Mattheus-Moerman commented on #1337
@whedon generate pdf

[2019-10-16 10:55] whedon commented on #1337
[code]

[2019-10-16 10:56] whedon commented on #1337
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01337/joss.01337/10.21105.joss.01337.pdf)

[2019-10-16 10:56] Kevin-Mattheus-Moerman commented on #1337
@whedon check references

[2019-10-16 10:56] whedon commented on #1337
[code]

[2019-10-16 10:57] whedon commented on #1337
[code]

[2019-10-16 11:09] Kevin-Mattheus-Moerman commented on #1337
Here are some additional points in relation to your paper:

- [ ] We will shortly process the acceptance of this work in JOSS. Please double check your work (including the author list, affiliations, and acknowledgements) and make any final edits now.
- [ ] Please check your reference syntax throughout and make sure it is in line with these guidelines:
https://rmarkdown.rstudio.com/authoring_biblio

[2019-10-16 11:30] gradvohl commented on #1802
Hello @drvinceknight. I can review the paper if JOSS still needs a reviewer for it.
Best.

[2019-10-16 11:52] drvinceknight commented on #1802
Fantastic, thank you @gradvohl!

[2019-10-16 11:53] drvinceknight commented on #1802
@whedon add @gradvohl as reviewer

[2019-10-16 11:53] whedon commented on #1802
OK, @gradvohl is now a reviewer

[2019-10-16 11:53] drvinceknight commented on #1802
@whedon start review

[2019-10-16 11:53] whedon opened #1815 "[REVIEW]: MDL Suite: A language, generator and compiler for describing mazes"
**Submitting author:** @akashnag (<a href="http://orcid.org/0000-0003-0363-2698">Akash Nag</a>)
**Repository:** <a href="https://github.com/akashnag/MDL-Suite" target ="_blank">https://github.com/akashnag/MDL-Suite</a>
**Version:** 1.0
**Editor:** @drvinceknight
**Reviewer:** @rreinecke, @gradvohl
**Archive:** <a href="https://doi.org/10.5281/zenodo.3666101" target="_blank">10.5281/zenodo.3666101<

[2019-10-16 11:53] whedon commented on #1802
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1815. Feel free to close this issue now!

[2019-10-16 11:53] whedon commented on #1815
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rreinecke, @gradvohl it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-10-16 11:53] whedon commented on #1815
[code]

[2019-10-16 11:53] whedon commented on #1815
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01815/joss.01815/10.21105.joss.01815.pdf)

[2019-10-16 11:54] drvinceknight commented on #1802
@gradvohl @rreinecke the review now takes place on #1815, if you have any questions don't hesitate to get in touch.

[2019-10-16 11:54] #1802 closed

[2019-10-16 12:13] rreinecke commented on #1815
@Akash-Nag Please fix Akash-Nag/MDL-Suite#3 (and Akash-Nag/MDL-Suite#2 ) to enable me to further review your submission. Thanks!

[2019-10-16 15:46] kbarnhart commented on #1779
@Kevin-Mattheus-Moerman I can edit it.

[2019-10-16 15:57] kellykochanski commented on #1699
@zbeekman Thank you for the time and attention you have dedicated to this review.

[2019-10-16 16:07] kyleniemeyer commented on #1005
@whedon generate pdf

[2019-10-16 16:22] kellykochanski commented on #1699
@zbeekman If you're willing to put a little bit of time into that, I'd be delighted - I looked into CI when you first brought it up (and it does seem like a sensible solution to some of the back and forth we were having), but it's outside of my current expertise.

I'm trying to avoid relying on Jupyter notebooks, unfortunately - I do production runs in an hpc environment without access to IPython,

[2019-10-16 16:28] kellykochanski commented on #1699
@kthyng The issues [#41](https://github.com/kellykochanski/rescal-snow/issues/41) and [#44](https://github.com/kellykochanski/rescal-snow/issues/44) are now closed, and I believe both reviewers have recommended JOSS acceptance.

[2019-10-16 16:34] slithiaote commented on #1005
I just tagged the release v1.2 with DOI 10.5281/zenodo.3492221
I added missing DOIs to the bib file and made cosmetic LaTeX changes.
Thank you for the suggestions.

[2019-10-16 16:43] peterwc commented on #1762
Working on it this week. I apologize for the delay. Expecting a Friday
completion.

Thanks,
Peter

On Thu, Oct 10, 2019 at 10:58 AM Charlotte Soneson <notifications@github.com>
wrote:

--
Peter Cook, PhD
Centers for Disease Control and Prevention
Influenza Division, Zoonotic Virus Team
Email: pcook@cdc.gov
Email: peterwcook7@gmail.com
Phone: (765)490-1228

[2019-10-16 16:43] kyleniemeyer commented on #1005
@whedon set 10.5281/zenodo.3492221 as archive

[2019-10-16 16:43] whedon commented on #1005
OK. <a href="https://doi.org/10.5281/zenodo.3492221" target="_blank">10.5281/zenodo.3492221</a> is the archive.

[2019-10-16 16:50] rbatorsky commented on #1584
Hello,
I've gone through and read the updates. I submitted one issue about installation https://github.com/bihealth/sodar_core/issues/6 but other than that I think I've completed my review.
Best,
Rebecca

[2019-10-16 17:56] xuanxu commented on #1554
@whedon generate pdf

[2019-10-16 17:56] whedon commented on #1554
[code]

[2019-10-16 17:57] xuanxu commented on #1721
@whedon generate pdf

[2019-10-16 17:57] whedon commented on #1721
[code]

[2019-10-16 17:59] whedon commented on #1554
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01554/joss.01554/10.21105.joss.01554.pdf)

[2019-10-16 17:59] whedon commented on #1721
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf)

[2019-10-16 18:01] xuanxu commented on #1554
@whedon check references

[2019-10-16 18:01] whedon commented on #1554
[code]

[2019-10-16 18:01] xuanxu commented on #1721
@whedon check references

[2019-10-16 18:01] whedon commented on #1721
[code]

[2019-10-16 18:02] karthik commented on #1686
Thank you Mara!

[2019-10-16 18:03] whedon commented on #1554
[code]

[2019-10-16 18:04] karthik commented on #1686
Hi @jeffreyhanson Thanks so much for this exhaustive checkbox list. Please go ahead with opening issues in respective repos. I realize this is a huge undertaking as this is a large suite of packages.

[2019-10-16 18:05] arokem commented on #1706
@whedon generate pdf

[2019-10-16 18:05] whedon commented on #1706
[code]

[2019-10-16 18:06] whedon commented on #1706
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01706/joss.01706/10.21105.joss.01706.pdf)

[2019-10-16 18:11] nquesada commented on #1705
@whedon generate pdf

[2019-10-16 18:11] whedon commented on #1705
[code]

[2019-10-16 18:12] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-10-16 18:15] karthik commented on #1709
ok no problem. I'll assign you as the second reviewer and you can complete in November.

[2019-10-16 18:15] karthik commented on #1709
ok no problem. I'll assign you as the second reviewer and you can complete in November.

[2019-10-16 18:15] karthik commented on #1709
@whedon add @ahwillia as reviewer

[2019-10-16 18:15] whedon commented on #1709
OK, @ahwillia is now a reviewer

[2019-10-16 18:16] karthik commented on #1709
@whedon start review

[2019-10-16 18:16] whedon opened #1816 "[REVIEW]: OnlineStats.jl: A Julia package for statistics on data streams"
**Submitting author:** @joshday (<a href="http://orcid.org/0000-0002-7490-6986">Josh Day</a>)
**Repository:** <a href="https://github.com/joshday/OnlineStats.jl" target ="_blank">https://github.com/joshday/OnlineStats.jl</a>
**Version:** v1.0.3
**Editor:** @karthik
**Reviewers:** @pkofod, @ahwillia
**Archive:** <a href="https://doi.org/10.5281/zenodo.3659245" target="_blank">10.5281/zenodo.3659245

[2019-10-16 18:16] whedon commented on #1709
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1816. Feel free to close this issue now!

[2019-10-16 18:16] whedon commented on #1816
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy, @ahwillia it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-10-16 18:16] whedon commented on #1816
[code]

[2019-10-16 18:16] #1709 closed

[2019-10-16 18:16] karthik commented on #1816
Editor note: @ahwillia will start review in November.

[2019-10-16 18:16] whedon commented on #1816
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01816/joss.01816/10.21105.joss.01816.pdf)

[2019-10-16 18:17] arokem commented on #1706
I had one more suggested wording change in https://github.com/IUNetSci/BotSlayer-CE/pull/38. If that looks OK, feel free to merge that.

At this point, could you also please make a new release of the main repo that includes all of the changes that have resulted from the review? Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the

[2019-10-16 18:22] whedon commented on #1721
[code]

[2019-10-16 18:37] xuanxu commented on #1554
@telegraphic: a couple of minor details to fix in the paper:
- from the summary of the paper: `Over 1 PB of from the...`. I guess there's a `data`missing there, so it should be `Over 1 PB of *data* from the...`
- at the end of the summary, when you mention the publications that have already used Blimpy, the `Enriquez et al. 2019` reference is duplicated

[2019-10-16 18:46] Kevin-Mattheus-Moerman commented on #1779
@whedon assign @kbarnhart as editor

[2019-10-16 18:50] whedon commented on #1706
OK. <a href="https://doi.org/10.5281/zenodo.3492278" target="_blank">10.5281/zenodo.3492278</a> is the archive.

[2019-10-16 18:57] xuanxu commented on #1721
@knaidoo29: Can you take a look at the list of DOIs missing info and add them if [the suggestions](#issuecomment-542829879) from whedon are corect?

[2019-10-16 19:42] kbarnhart commented on #1779
@paudetseis I'd like to find one more reviewer for your submission. If you have any recommendations, please mention them on this thread. The following is a [list of potential reviewers](https://bit.ly/joss-reviewers). You can also recommend people who are not on this list.

[2019-10-16 19:55] knaidoo29 commented on #1721
Hi @xuanxu, just checked these doi's and they are correct. I've uploaded them and added them to the bib file.

[2019-10-16 20:00] xuanxu commented on #1721
@whedon generate pdf

[2019-10-16 20:00] whedon commented on #1721
[code]

[2019-10-16 20:01] whedon commented on #1721
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf)

[2019-10-16 20:53] xuanxu commented on #1721
@whedon check references

[2019-10-16 20:53] whedon commented on #1721
[code]

[2019-10-16 20:53] whedon commented on #1721
[code]

[2019-10-16 20:55] xuanxu commented on #1721
OK @knaidoo29, everything looks good, here are the next steps:
- Please release a new version from the current master so it includes all the changes made during the review process
- Then archive that latest release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also add your ORCID.

Once you do that please report here the Zenodo

[2019-10-16 20:56] paudetseis commented on #1779
@kbarnhart I'd like to recommend @ThomasLecocq and perhaps @brmather, neither of which are on the list.

[2019-10-16 21:48] luizirber commented on #1762
Overall this is all very good, thanks @lskatz! Here's some review points:

## Functionality

### Installation

The install instructions and requirements could have a bit more information, I
had to dig a bit to find proper Perl package names (for use with `cpanm`) and
links to `quicktree` and `mash`.

Also adding that mashtree is available on bioconda!

This is what I ended up doing to install usin

[2019-10-16 21:59] kbarnhart commented on #1779
@paudetseis thanks for that recommendation.

@ThomasLecocq and @brmather would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org)? [**Telewavesim: Software for teleseismic body wave modeling**](https://github.com/paudetseis/Telewavesim)

The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) ta

[2019-10-16 22:03] dpsanders commented on #1684
I suggest that all future changes to the repo are done via Pull Requests, so that we can easily see what has been changed.

[2019-10-16 22:03] dpsanders commented on #1684
(Each Pull Request should ideally address a single, or a few related, points from the reviewers.)

[2019-10-16 22:51] hbaniecki commented on #1798
@expectopatronum

[2019-10-16 23:13] knaidoo29 commented on #1721
Hi @xuanxu, possibly a dumb question but just to clarify does the title have to be the title of the paper or title of the code?

[2019-10-16 23:24] telegraphic commented on #1554
@whedon generate pdf

[2019-10-16 23:24] whedon commented on #1554
[code]

[2019-10-16 23:24] alex-konovalov commented on #1695
@VivianePons thanks, will be happy to review then - makes sense, since I run the package update system for GAP and have access to tools for automated checks. We need also to discuss with @dimpase and @kaashif plans for submitting this package for the redistribution with GAP, and perhaps align the two processes. In the meantime, it would be useful if you could fix tests at https://travis-ci.org/gap

[2019-10-16 23:25] whedon commented on #1554
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01554/joss.01554/10.21105.joss.01554.pdf)

[2019-10-16 23:30] telegraphic commented on #1554
@xuanxu missing 'data' added. I think the bib style is generating 'Price, Croft et al' and 'Price, Enriquez et al', i.e. showing first two authors, to differentiate Price2019a and Price2019b?

[2019-10-16 23:42] dpsanders commented on #1684
The suggestions made by @JoshKarpel about the code structure are spot on. There is still a lot of duplication between files like `run_diffcorr_POfam_coupled.py` and `run_turningpoint_POfam_coupled.py` that start out by defining exactly the same functions (as far as I can tell).

This makes it difficult to know if any copy-paste errors have been introduced and difficult to identify the basic struct

[2019-10-16 23:43] dpsanders commented on #1684
There are also still no automated tests.

[2019-10-17 00:06] kyleniemeyer commented on #1005
@slithiaote sorry, one last thing: can you clean up the metadata on the Zenodo archive? The title and author list should match the paper.

[2019-10-17 00:23] crawfordsm commented on #1757
Do we have the JOSS DOI for this yet?

[2019-10-17 01:49] mbobra commented on #1765
Great, thanks @JonasMoss! I will assign you as a referee and the review process will begin once I find a second referee.

[2019-10-17 01:49] mbobra commented on #1765
@whedon assign @JonasMoss as reviewer

[2019-10-17 01:49] whedon commented on #1765
OK, the reviewer is @JonasMoss

[2019-10-17 05:59] sambitdash commented on #1453
Thanks @malmaud for your review.

I have modified the paper based on your inputs.

[2019-10-17 05:59] sambitdash commented on #1453
@whedon generate pdf

[2019-10-17 05:59] whedon commented on #1453
[code]

[2019-10-17 06:00] whedon commented on #1453
PDF failed to compile for issue #1453 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1453/paper/paper.md): mapping values are not allowed in this context at line 2 column 13 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2019-10-17 06:05] sambitdash commented on #1453
@whedon generate pdf

[2019-10-17 06:05] whedon commented on #1453
[code]

[2019-10-17 06:05] whedon commented on #1453
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01453/joss.01453/10.21105.joss.01453.pdf)

[2019-10-17 06:23] xuanxu commented on #1721
@knaidoo29 the title of the paper

[2019-10-17 07:32] conradsnicta commented on #1631
@cMadan - I've confirmed that `softwareInstall.sh` works on a fresh installation of Ubuntu 18.04.3.  I used a virtual machine with 4 GB ram and 32 GB disk space.  (Using lower amounts, 2 GB ram and 16 GB disk space, led to "internal compiler error").

@mailchand - I believe the review is done from my side. I ticked all the boxes apart from "Functionality" and "Performance". As per https://github.c

[2019-10-17 07:56] rreinecke commented on #1815
@Akash-Nag please address the following issues https://github.com/Akash-Nag/MDL-Suite/issues/5 https://github.com/Akash-Nag/MDL-Suite/issues/6 . Especially the automated tests will help to understand your code better. Without them I'm currently not able to proceed with the review. Please also consider improving your code documentation further.
If you have questions please feel free to ask in the a

[2019-10-17 08:56] slithiaote commented on #1005
Done. It should be ok now.

[2019-10-17 09:04] tukss commented on #1757
The proof PDF contains 10.21105/joss.01757, but it doesn't work yet. @arfon, can you comment if the DOI will change after acceptance?

[2019-10-17 09:21] knaidoo29 commented on #1721
Okay @xuanxu I've created a new version (v1.2) which is archived on zenodo with the doi: 10.5281/zenodo.3495008 and has matching title to the paper, author and orcid.

[2019-10-17 09:21] arfon commented on #1757
@crawfordsm ☝️ this will be the DOI.

[2019-10-17 10:42] brmather commented on #1779
Hi @kbarnhart and @paudetseis, I would be happy to review [Telewavesim](https://github.com/paudetseis/Telewavesim).for JOSS.

[2019-10-17 11:27] arfon commented on #1789
:wave: @ngoldbaum - would you be willing to review this submission for JOSS?

[2019-10-17 11:59] oliviaguest commented on #1642
@jnoynaert any updates? :+1:

[2019-10-17 12:01] oliviaguest commented on #1739
@labarba I'm really struggling here to find somebody (sent off some emails too) — do you think it's possible for the authors to suggest at least one person?

[2019-10-17 12:12] oliviaguest commented on #1754
@soodoku I missed the thumbs up, I assume that's a yes? excellent!

[2019-10-17 12:15] oliviaguest commented on #1739
@economistgame — would you be interested in reviewing this submission for JOSS? :blush:

[2019-10-17 12:22] labarba commented on #1739
The header comment in this issue does request reviewer suggestions from the author.

[2019-10-17 12:37] chand-lab commented on #1631
@conradsnicta: Thank you so much for all the diligent work to review this paper. Paolo and I appreciate it as we encourage people to use it widely.

@cMadan: Could you let us know what next steps we need to do to wrap up the paper and if there are any remaining issues on your end?

Thanks for a fun review experience!

[2019-10-17 12:43] pachamaltese commented on #1739
sure, based on networks/graphs/economy

* MatthewSmith430 (visualisation, international trade, network analysis)
* paulgovan
* JohnCoene
* Nick-gauthier

[2019-10-17 13:01] usethedata commented on #1685
@whedon generate pdf

[2019-10-17 13:01] whedon commented on #1685
[code]

[2019-10-17 13:01] usethedata commented on #1685
@whedon check references

[2019-10-17 13:01] whedon commented on #1685
[code]

[2019-10-17 13:02] whedon commented on #1685
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01685/joss.01685/10.21105.joss.01685.pdf)

[2019-10-17 13:02] whedon commented on #1685
[code]

[2019-10-17 13:07] usethedata commented on #1685
@fblavoie -- in your references.bib file, you need just the doi, not the url prefix.  For example, with the plackett1946design reference, you have `doi={https://doi.org/10.2307/2332195}`  This needs to be `doi={10.2307/2332195}`.  Can you fix this and the oliphant2007python reference?

[2019-10-17 13:07] usethedata commented on #1685
@whedon add @usethedata as reviewer

[2019-10-17 13:08] whedon commented on #1685
OK, @usethedata is now a reviewer

[2019-10-17 13:40] xuanxu commented on #1721
@whedon set v1.2 as version

[2019-10-17 13:40] whedon commented on #1721
OK. v1.2 is the version.

[2019-10-17 13:45] xuanxu commented on #1721
@whedon set 10.5281/zenodo.3495008 as archive

[2019-10-17 14:07] xuanxu commented on #1721
Everything looks ready 🎉
Pinging @openjournals/joss-eics for final acceptance

[2019-10-17 14:49] Kevin-Mattheus-Moerman commented on #1721
@openjournals/jose-eics does anybody know why for [this paper](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf) the "matplotlib" project name is broken over 2 lines without a hyphen? is this because it is seen as a piece of code text? Since they use the `` `` `` symbols? i.e. the authors use
[code]
In the paper this is broken onto the next line like t

[2019-10-17 14:52] whedon opened #1817 "[PRE REVIEW]: pyscal : A python module for structural analysis of atomic environments"
**Submitting author:** @srmnitc (<a href="http://orcid.org/0000-0002-6776-1213">Sarath Menon</a>)
**Repository:** <a href="https://github.com/srmnitc/pyscal" target ="_blank">https://github.com/srmnitc/pyscal</a>
**Version:** 2.0.0
**Editor:** @melissawm
**Reviewers:** @lucydot, @bocklund

**Author instructions**

Thanks for submitting your paper to JOSS @srmnitc. **Currently, there isn't an JOSS

[2019-10-17 14:52] whedon commented on #1817
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-17 15:20] kyleniemeyer commented on #1721
@Kevin-Mattheus-Moerman yes, that's probably what's going on. I wonder if adding a line break (`\\`) before the word would help?

[2019-10-17 15:21] Kevin-Mattheus-Moerman commented on #1817
@melissawm @VivianePons @meg-simula @xuanxu is one of you able to handle this submission? Thanks

[2019-10-17 15:31] soodoku commented on #1754
yup

[2019-10-17 15:36] ngoldbaum commented on #1789
Unfortunately I can't commit to reviewing this right now as I don't have the bandwidth. Good luck finding another reviewer.

[2019-10-17 15:40] arfon commented on #1789
NP, thanks for the quick response.

[2019-10-17 15:44] arfon commented on #1789
:wave: @mwcraig - would you be willing to review this submission for JOSS?

[2019-10-17 15:46] pgrete commented on #1757
I'm trying to understand the contribution of @XinlongSBU specifically this commit bbbc157984b9c2
Is the changeset that large because of the different parent or is this a significant contribution to the code (I'm asking as  @XinlongSBU is not listed as author on the paper as far as I can tell).

[2019-10-17 16:11] luizirber commented on #1762
@lskatz put the DOIs in the paper.bib file in your repo, when the paper is regenerated by whedon they will be picked up.

[2019-10-17 16:40] XinlongSBU commented on #1757
Hi,

This is the commit that I want to modify Exec/SCIENCE/wdconvect
<https://github.com/XinlongSBU/MAESTROeX/commit/bbbc157984b9c26254cb54b1e9f100d4fabc3bdf#diff-1ecb3a9669f1bc882c83705728af8ec6>.
Other changes are mistakes. I don't think this is merged into
AMReX-Astro/MAESTROeX <https://github.com/AMReX-Astro/MAESTROeX>.

Best,
Xinlong

Philipp Grete <notifications@github.com> 于2019年10月17日周四 上午

[2019-10-17 16:42] kthyng commented on #1693
@whedon generate pdf

[2019-10-17 16:42] whedon commented on #1693
[code]

[2019-10-17 16:43] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-10-17 16:51] kthyng commented on #1777
Hi @martibosch can you work on your review here soon?

[2019-10-17 16:54] kthyng commented on #1768
@ethanwhite Will you be able to work on your review soon?

[2019-10-17 16:58] mathieuboudreau commented on #1637
@imr-framework has resolved the outstanding issues I had with the installation instructions, and I've now completed all of the items on my checklist. Thanks a lot @imr-framework for making my suggested fixes/desired features along the way!

[2019-10-17 16:58] cMadan commented on #1810
@Kevin-Mattheus-Moerman, sure!

@jhcreed, can you take a look at the list of potential reviewers, or others you think may be suitable, and suggest a few potential reviewers? Thanks!

[2019-10-17 17:05] arokem commented on #1637
Thanks @mathieuboudreau ! @vsoch : I see that none of your boxes are checked at this point. Have you had a chance to take a look? Do you still have any concerns or unadressed issues?

[2019-10-17 17:07] knaidoo29 commented on #1721
@Kevin-Mattheus-Moerman I'm happy to change this to italic font instead if that is the cause of the issue.

[2019-10-17 17:11] danasolav commented on #1648
I can review this submission. Is it ready for reviewing?

[2019-10-17 17:21] vsoch commented on #1637
oups, sorry about that! I think I must have checked off the boxes in a browser tab many weeks ago and forgot to press save :)

I've updated my checkboxes, the only missing item is automated tests, represented in this issue https://github.com/imr-framework/virtual-scanner/issues/38

[2019-10-17 17:23] kthyng commented on #1693
@whedon generate pdf

[2019-10-17 17:23] whedon commented on #1693
[code]

[2019-10-17 17:24] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-10-17 17:43] xuanxu commented on #1554
@whedon set 1.4.1 as version

[2019-10-17 17:43] whedon commented on #1554
OK. 1.4.1 is the version.

[2019-10-17 17:44] xuanxu commented on #1554
Thanks @telegraphic, everything looks good, here are the next steps:

- Please archive the latest release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and authors names should match the paper; you may also add your ORCID.

Once you do that please report here the Zenodo DOI.

[2019-10-17 18:17] deargle commented on #1315
@whedon check references

[2019-10-17 18:17] whedon commented on #1315
[code]

[2019-10-17 18:18] whedon commented on #1315
[code]

[2019-10-17 18:18] deargle commented on #1315
@whedon generate pdf

[2019-10-17 18:18] whedon commented on #1315
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01315/joss.01315/10.21105.joss.01315.pdf)

[2019-10-17 18:25] deargle commented on #1315
@whedon generate pdf

[2019-10-17 18:25] whedon commented on #1315
[code]

[2019-10-17 18:25] whedon commented on #1315
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01315/joss.01315/10.21105.joss.01315.pdf)

[2019-10-17 18:29] kthyng commented on #1699
Awesome! I will start the next process then.

[2019-10-17 18:29] whedon commented on #1699
[code]

[2019-10-17 18:30] whedon commented on #1699
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01699/joss.01699/10.21105.joss.01699.pdf)

[2019-10-17 18:30] kthyng commented on #1699
@whedon check references

[2019-10-17 18:34] deargle commented on #1315
@whedon generate pdf

[2019-10-17 18:35] whedon commented on #1315
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01315/joss.01315/10.21105.joss.01315.pdf)

[2019-10-17 18:37] deargle commented on #1315
@Kevin-Mattheus-Moerman I think I got everything from https://github.com/openjournals/joss-reviews/issues/1315#issuecomment-542142232. For point two, I changed the hyphenation to "Scikit-Learn-API-compatible ..."

@labarba I fixed the citation formatting.

Thinks look good to y'all?

[2019-10-17 18:47] kthyng commented on #1699
Paper-related changes:

- [ ] in the last paragraph of the first page, you need a semicolon between these two references: [@Kobayashi1980, @Kochanski2019]
- [ ] I think your caption for Fig 2 needs an extra line before it to get the spacing correct
- [ ] Your Liston2007 reference should have {} around {SnowTran-3D} so the capitalization is preserved.
- [ ] Same with the items in Lehning2002 refere

[2019-10-17 18:56] kthyng commented on #1699
I think there are a few more bib-related errors actually; you can get more details for how to format your references [here](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

For example, the top two lines of reference Filhol2015 should be as below to get the order of the initial correct in the references list.

@article{Filhol2015,
  author  = "Filhol, S. and

[2019-10-17 18:59] kthyng commented on #1699
This reference (https://iopscience.iop.org/article/10.1088/1367-2630/14/9/093037) has two more authors that have not been listed.

[2019-10-17 19:01] kthyng commented on #1699
These two references have the same doi:

Narteau, C., Zhang, D., Rozier, O., & Claudin, P. (2009). Setting the length and time scales of a cellular automaton dune model from the analysis of superimposed bed forms. Journal of Geophysical Research: Earth Surface, 114(f3). doi:10.1002/esp.3479

Rozier, O., & Narteau, C. (2014). A real‐space cellular automaton laboratory. Earth Surface Processes and L

[2019-10-17 19:21] JedS6391 commented on #1337
Hi @Kevin-Mattheus-Moerman, thanks for the notes. I will make the request changes and update this thread once all changes are completed.

Regarding your last question -- the version tag was altered during review to resolve some issues that were encountered. The latest version tag (and reviewed version) is [5.1](https://github.com/JedS6391/LGP/tree/5.1). This will be the version that I archive on Z

[2019-10-17 19:51] Kevin-Mattheus-Moerman commented on #1315
@whedon accept

[2019-10-17 19:51] whedon commented on #1315
[code]

[2019-10-17 19:52] whedon commented on #1315
[code]

[2019-10-17 19:52] whedon commented on #1315
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1027

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1027, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-17 19:53] deargle commented on #1315
Would you want me to make a new release with those bibliography fixes?

[2019-10-17 19:57] Kevin-Mattheus-Moerman commented on #1315
No that is okay. The main purpose is to archive the software. The paper can have minor changes.

[2019-10-17 20:00] Kevin-Mattheus-Moerman commented on #1648
@danasolav @cMadan will likely find a few more reviewers before the formal review starts. If you like you can start evaluating the software but you can also wait until the review issue is opened. There you'll have tickboxes to guide you through the process.

[2019-10-17 20:01] Kevin-Mattheus-Moerman commented on #1721
@knaidoo29 sure. Can you make that change and run `@whedon generate pdf` once you are done? Thanks.

[2019-10-17 20:04] Kevin-Mattheus-Moerman commented on #1706
@whedon set v1.0 as version

[2019-10-17 20:04] whedon commented on #1706
OK. v1.0 is the version.

[2019-10-17 20:04] Kevin-Mattheus-Moerman commented on #1706
@whedon generate pdf

[2019-10-17 20:04] whedon commented on #1706
[code]

[2019-10-17 20:05] whedon commented on #1706
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01706/joss.01706/10.21105.joss.01706.pdf)

[2019-10-17 20:05] Kevin-Mattheus-Moerman commented on #1315
@whedon accept deposit=true

[2019-10-17 20:05] whedon commented on #1315
[code]

[2019-10-17 20:06] Kevin-Mattheus-Moerman commented on #1706
@whedon check references

[2019-10-17 20:06] whedon commented on #1706
[code]

[2019-10-17 20:07] whedon commented on #1315
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1184923785033666561) 👈 🐦🐦🐦

[2019-10-17 20:07] whedon commented on #1315
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1028
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01315](https://doi.org/10.21105/joss.01315)
2. If everything looks g

[2019-10-17 20:07] whedon commented on #1706
[code]

[2019-10-17 20:10] Kevin-Mattheus-Moerman commented on #1315
Congratulations @sauln! :tada:
Thanks @ixjlyons, @lmcinnes for reviewing this work!!! :clap:
Also thank you @leouieda for editing this submission.

[2019-10-17 20:12] #1315 closed

[2019-10-17 20:12] whedon commented on #1315
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01315/status.svg)](https://doi.org/10.21105/joss.01315)

**We need your help!**

Journal of Open Source Softwa

[2019-10-17 20:18] knaidoo29 commented on #1721
@whedon generate pdf

[2019-10-17 20:18] whedon commented on #1721
[code]

[2019-10-17 20:18] whedon commented on #1721
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf)

[2019-10-17 20:20] knaidoo29 commented on #1721
Okay @Kevin-Mattheus-Moerman it looks like this has solved the issue.

[2019-10-17 20:30] Kevin-Mattheus-Moerman commented on #1706
@yangkcatiu Below are some comments and suggestions on the paper:

- [ ] Instead of `First` and `Second`, I suggest `Firstly` and `Secondly`.
- [ ] Is it possible to increase the font in the table view of figure 1?
- [ ] Add `s` to make calculations plural in "All statistical and machine learning
calculation[s]..."
- [ ] Please define the acronym AUC

[2019-10-17 20:40] Kevin-Mattheus-Moerman commented on #1721
@whedon accept

[2019-10-17 20:40] whedon commented on #1721
[code]

[2019-10-17 20:40] whedon commented on #1721
[code]

[2019-10-17 20:41] whedon commented on #1721
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1029

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1029, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-17 20:43] Kevin-Mattheus-Moerman commented on #1721
@whedon accept deposit=true

[2019-10-17 20:43] whedon commented on #1721
[code]

[2019-10-17 20:44] deargle commented on #1315
Thanks all!

Not a huge deal, but I noted that the suggested citation on JOSS has an extra period in it after the title. Fixable?

![image](https://user-images.githubusercontent.com/1174653/67045968-8ffa3b80-f0ec-11e9-8c5e-e7c98f8dbcfe.png)

[2019-10-17 20:44] whedon commented on #1721
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1184933221101953025) 👈 🐦🐦🐦

[2019-10-17 20:44] whedon commented on #1721
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1030
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01721](https://doi.org/10.21105/joss.01721)
2. If everything looks g

[2019-10-17 20:47] Kevin-Mattheus-Moerman commented on #1315
@openjournals/dev :point_up: can this be fixed?

[2019-10-17 20:51] Kevin-Mattheus-Moerman commented on #1005
@whedon set v1.2 as version

[2019-10-17 20:51] whedon commented on #1005
OK. v1.2 is the version.

[2019-10-17 20:52] sjvrijn commented on #1756
@shah314 Thanks for the fixes.
@arfon That completes the checklist for me too.

[2019-10-17 20:59] #1721 closed

[2019-10-17 20:59] whedon commented on #1721
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01721/status.svg)](https://doi.org/10.21105/joss.01721)

**We need your help!**

Journal of Open Source Softwa

[2019-10-17 21:01] Kevin-Mattheus-Moerman commented on #1721
Congratulations @knaidoo29
Thanks @melissawm and @zonca for reviewing this work!!! :tada:
Thank you @xuanxu for editing this.

[2019-10-17 21:09] kyleniemeyer commented on #1005
@whedon accept

[2019-10-17 21:09] whedon commented on #1005
[code]

[2019-10-17 21:09] whedon commented on #1005
PDF failed to compile for issue #1005 with the following error:

 E, [2019-10-17 21:09:28#627] ERROR -- : Failed to parse BibTeX on value "This" (NAME) ["@", "Comment"]
bibtex.y:138:in `on_error': Failed to parse BibTeX on value "This" (NAME) ["@", "Comment"] (BibTeX::ParseError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/racc/parser.rb:259:in `_racc_do_parse_c'
	from /app/vendor/ruby-2.4.4/lib/r

[2019-10-17 21:12] kyleniemeyer commented on #1005
@whedon generate pdf

[2019-10-17 21:12] whedon commented on #1005
[code]

[2019-10-17 21:13] whedon commented on #1005
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01005/joss.01005/10.21105.joss.01005.pdf)

[2019-10-17 21:28] yangkcatiu commented on #1706
@whedon generate pdf

[2019-10-17 21:28] whedon commented on #1706
[code]

[2019-10-17 21:28] whedon commented on #1706
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01706/joss.01706/10.21105.joss.01706.pdf)

[2019-10-17 21:31] yangkcatiu commented on #1706
@Kevin-Mattheus-Moerman  thank you for your comments! I have made the changes accordingly:

- [x] `First` -> `Firstly`; `Second` -> `Secondly`
- [x] Increase the font size in the table view of figure 1
- [x] Add `s` to `calculations`
- [x] Define AUC

[2019-10-17 22:48] knaidoo29 commented on #1721
Hi @Kevin-Mattheus-Moerman just noticed that the footnote starts with `Naidoo, (3030).` shouldn't this be `Naidoo, (2019).` or `Naidoo, K. (2019).`?

[2019-10-17 23:16] arokem commented on #1637
Awesome. Thanks!

@imr-framework: could you please address the remaining issue?

[2019-10-18 00:35] kbarnhart commented on #1779
@whedon add @brmather as reviewer

[2019-10-18 00:35] whedon commented on #1779
OK, @brmather is now a reviewer

[2019-10-18 00:35] kbarnhart commented on #1779
@whedon start review

[2019-10-18 00:35] whedon opened #1818 "[REVIEW]: Telewavesim: Python software for teleseismic body wave modeling"
**Submitting author:** @paudetseis (<a href="http://orcid.org/0000-0003-2364-9454">Pascal Audet</a>)
**Repository:** <a href="https://github.com/paudetseis/Telewavesim" target ="_blank">https://github.com/paudetseis/Telewavesim</a>
**Version:** v0.2.0
**Editor:** @kbarnhart
**Reviewer:** @andreww, @seisman, @brmather
**Archive:** <a href="https://doi.org/10.5281/zenodo.3551258" target="_blank">10.

[2019-10-18 00:35] whedon commented on #1779
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1818. Feel free to close this issue now!

[2019-10-18 00:36] whedon commented on #1818
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @andreww, @seisman, @brmather it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2019-10-18 00:36] whedon commented on #1818
[code]

[2019-10-18 00:36] whedon commented on #1818
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01818/joss.01818/10.21105.joss.01818.pdf)

[2019-10-18 00:44] #1779 closed

[2019-10-18 04:14] acolum commented on #1798
Everything in the software and documentation looks good, but in the paper, there's some spelling, grammar, and citation errors.

[2019-10-18 07:51] arfon commented on #1756
@whedon generate pdf

[2019-10-18 07:51] whedon commented on #1756
[code]

[2019-10-18 07:55] arfon commented on #1756
@shah314 - could you remove the following line from the end of the paper as the repository is linked in the left-hand column:

[code]

Once you've made that update, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archi

[2019-10-18 08:33] Kevin-Mattheus-Moerman commented on #1817
@will-rowe this looks like its your cup of :tea:, would you like to edit this one?

[2019-10-18 08:38] VivianePons commented on #1695
@whedon assign @alex-konovalov as reviewer

[2019-10-18 08:38] whedon commented on #1695
OK, the reviewer is @alex-konovalov

[2019-10-18 08:51] Kevin-Mattheus-Moerman commented on #1005
@kyleniemeyer do you want me to take it from here? Or are you processing this one?

[2019-10-18 08:59] VivianePons commented on #1814
@mbdemoraes there seems to be a broken ref at the end of the paper, could you fix it? Thanks

[2019-10-18 09:15] Kevin-Mattheus-Moerman commented on #1721
@openjournals/dev :point_up: is this fixable

[2019-10-18 09:29] whedon opened #1819 "[PRE REVIEW]: Special relativity in R: the lorentz package"
**Submitting author:** @RobinHankin (<a href="http://orcid.org/0000-0001-5982-0415">Robin Hankin</a>)
**Repository:** <a href="https://github.com/RobinHankin/lorentz" target ="_blank">https://github.com/RobinHankin/lorentz</a>
**Version:** 1.0-3
**Editor:** @arfon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @RobinHankin. **Currently, there isn't an JOSS

[2019-10-18 09:30] whedon commented on #1819
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-18 09:30] whedon commented on #1819
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01819/joss.01819/10.21105.joss.01819.pdf)