[2021-05-19 22:50] kyleniemeyer commented on #3289
@whedon reject

[2021-05-19 22:50] whedon commented on #3289
Paper rejected.

[2021-05-19 22:50] #3289 closed

[2021-05-19 22:50] kyleniemeyer commented on #3286
Hello @kennethcarrell, thanks for your patience. The JOSS editorial board has reviewed your submission, and unfortunately found that it does not meet our [substantial scholarly effort criterion](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publi

[2021-05-19 22:50] kyleniemeyer commented on #3286
@whedon reject

[2021-05-19 22:51] whedon commented on #3286
Paper rejected.

[2021-05-19 22:51] #3286 closed

[2021-05-19 22:53] kyleniemeyer commented on #3198
@McWhity Thanks for your patience. We are going to move forward with reviewing your submission, and @pdebuyl has already volunteered to edit the submission (thanks!).

[2021-05-19 22:53] kyleniemeyer commented on #3198
@whedon invite @pdebuyl as editor

[2021-05-19 22:53] whedon commented on #3198
@pdebuyl has been invited to edit this submission.

[2021-05-19 23:20] amygalanter commented on #3212
That works for me @kellyrowland  and @mengqi-z , if you can assign me the review, I can get working on it. Thanks!

[2021-05-19 23:22] kellyrowland commented on #3212
Thanks so much @amygalanter !

[2021-05-19 23:22] kellyrowland commented on #3212
@whedon add @amygalanter as reviewer

[2021-05-19 23:22] whedon commented on #3212
OK, @amygalanter is now a reviewer

[2021-05-20 00:05] TomasBeuzen commented on #3243
Hi @kthyng - thanks for the offer (and the kudos on my readme!). I'll decline this time for two reasons: 1. I've just moved countries and am trying to get my life in order (so trying to say "no" to these extra things), 2. For the last 2 years I've been teaching Python so am not sure my R knowledge is up to scratch for this review! Thanks again for the offer and best of luck with the review process

[2021-05-20 00:25] mjsottile commented on #3223
@whedon assign @lutzhamel as reviewer

[2021-05-20 00:25] whedon commented on #3223
OK, @lutzhamel is now a reviewer

[2021-05-20 00:25] mjsottile commented on #3223
@whedon add @yuhc as reviewer

[2021-05-20 00:25] whedon commented on #3223
OK, @yuhc is now a reviewer

[2021-05-20 00:27] mjsottile commented on #3223
@whedon start review

[2021-05-20 00:28] whedon opened #3296 "[REVIEW]: Reiz: Structural Source Code Search at Scale"
**Submitting author:** @isidentical (<a href="http://orcid.org/0000-0002-5081-5529">Batuhan Taskaya</a>)
**Repository:** <a href="https://github.com/reizio/reiz.io" target ="_blank">https://github.com/reizio/reiz.io</a>
**Version:** v1.0.0
**Editor:** @mjsottile
**Reviewer:** @lutzhamel, @yuhc
**Archive:** <a href="https://doi.org/10.5281/zenodo.5029255" target="_blank">10.5281/zenodo.5029255</a>

[2021-05-20 00:28] whedon commented on #3223
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3296.

[2021-05-20 00:28] #3223 closed

[2021-05-20 00:28] whedon commented on #3296
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lutzhamel, @yuhc it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-05-20 00:28] whedon commented on #3296
[code]

[2021-05-20 00:28] whedon commented on #3296
[code]

[2021-05-20 00:28] whedon commented on #3296
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: :point_left:

[2021-05-20 04:38] Sergio-Bejar commented on #3048
@whedon generate pdf

[2021-05-20 04:38] whedon commented on #3048
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03048/joss.03048/10.21105.joss.03048.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03048/joss.03048/10.21105.joss.03048.pdf) :page_facing_up: :point_left:

[2021-05-20 05:13] Sergio-Bejar commented on #3048
👋 Hi @galessiorob,

Thanks for agreeing to edit our submission, and for providing us with suggestions to improve the quality of our manuscript!
We have addressed all your requests.  Specifically, (i) we expanded the general description of the software in both the Statement of Need and Package Architecture sections (see pages 2 & 3); (ii) expanded the description of the package's application and us

[2021-05-20 05:39] vyasr commented on #3098
I've opened a PR adding simplified examples based on the figures as per @wolfv's suggestion!

[2021-05-20 07:02] MohmedSoudy commented on #2876
I think the paper now is ready to be published after applying the required
modifications.

On Mon, May 10, 2021 at 9:33 AM Mohmed Soudy ***@***.***>
wrote:

--
*Regards,*
*Mohmed Soudy Mohmed*

*Research Associate*

*Proteomics & Metabolomics Unit*
*Basic Research*
*57357 Cancer hospital for children*

[2021-05-20 07:54] grburgess commented on #3285
## general

This is a very well written package from a software point of view. It follows all the modern standards of CI and maintainable python code. The documentation appears complete and testing is well done.

I will second comments of @benjaminpope in order to not duplicate with an emphasis on expanding the autodiff explanation. Even more, why do you need HMC to do this? I wholeheartedly agree

[2021-05-20 08:07] arfon commented on #3032
@whedon check references from branch joss_revisions

[2021-05-20 08:07] whedon commented on #3032
[code]

[2021-05-20 08:07] whedon commented on #3032
[code]

[2021-05-20 08:08] arfon commented on #3032
@whedon set 10.5281/zenodo.4774301 as archive

[2021-05-20 08:08] whedon commented on #3032
OK. <a href="https://doi.org/10.5281/zenodo.4774301" target="_blank">10.5281/zenodo.4774301</a> is the archive.

[2021-05-20 08:09] arfon commented on #3032
@whedon accept

[2021-05-20 08:09] whedon commented on #3032
[code]

[2021-05-20 08:09] whedon commented on #3032
[code]

[2021-05-20 08:09] whedon commented on #3032
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2324

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2324, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-20 08:13] arfon commented on #3032
@whedon accept deposit=true

[2021-05-20 08:14] whedon commented on #3032
[code]

[2021-05-20 08:14] whedon commented on #3032
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1395291844926447617) 👈 🐦🐦🐦

[2021-05-20 08:14] whedon commented on #3032
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2325
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03032](https://doi.org/10.21105/joss.03032)
2. If everything look

[2021-05-20 08:18] arfon commented on #3032
@nidhog, @gradvohl - many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ctodd26labs - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-20 08:18] #3032 closed

[2021-05-20 08:19] whedon commented on #3032
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03032/status.svg)](https://doi.org/10.21105/joss.03032)

**We need your help!**

Journal of Open Source Softwa

[2021-05-20 08:26] struckma commented on #3093
Thank all the contributors again, really a great publication experience.

[2021-05-20 08:44] HeshamAlsaadi commented on #2946
**I want to add the following comments:**
The references need to be built automatically from the .bib file (which will be added to the .pdf). Please follow this guideline here for implementation https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography; this will allow the citation to be very helpful and compiled correctly for a reference check.

[2021-05-20 08:57] pdebuyl commented on #3198
@whedon invite me as editor

[2021-05-20 08:57] whedon commented on #3198
I'm sorry @pdebuyl, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-05-20 08:57] pdebuyl commented on #3198
@whedon assign me as editor

[2021-05-20 08:57] whedon commented on #3198
OK, the editor is @pdebuyl

[2021-05-20 09:01] whedon commented on #3257
:wave: @HeloiseS, please update us on how your review is going (this is an automated reminder).

[2021-05-20 09:01] whedon commented on #3257
:wave: @warrickball, please update us on how your review is going (this is an automated reminder).

[2021-05-20 09:30] mscroggs commented on #3237
Hi @schruste,

This is a nice piece of software, and a good write up. I successfully ran some demos in the docker image, and also successfully installed xfem using pip (after successfully installing NGSolve using apt).

I left two boxes unchecked as I have a couple of minor changes to suggest:

- (Installation) INSTALLATION.md points to docker image ngsxfem/ngsxfem, but the readme points to docker

[2021-05-20 10:06] brlec commented on #3171
Hi @eihernan,

Thank you for your review and kind words.

Thank you for raising the issue with CLI - we believe this was related to how yaml was imported in the CLI scripts. We have replaced `yaml` with `ruamel.yaml` which should work now even in blank virtual environments as `ruamel.yaml` is a dependency of `pymatgen`.

To respond to suggestions:
- **POTCAR set up for `pymatgen`**: `Pymatgen` is

[2021-05-20 10:39] schruste commented on #3237
Hi @mscroggs,

Thank you for the nice feedback and for the reports. We added the DOIs and fixed the `README.md`!

[2021-05-20 10:39] schruste commented on #3237
@whedon generate pdf from branch master

[2021-05-20 10:39] whedon commented on #3237
[code]

[2021-05-20 10:40] whedon commented on #3237
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: :point_left:

[2021-05-20 10:52] sara-02 commented on #2949
@arfon @lukapecnik Sorry for the delay from my side, I have completed the review now.

[2021-05-20 11:32] mscroggs commented on #3237
Thanks, My checklist items are now all checks and I'm happy with the paper as it now stands

[2021-05-20 11:39] mikldk commented on #3133
@whedon set v0.1.1 as version

[2021-05-20 11:39] whedon commented on #3133
OK. v0.1.1 is the version.

[2021-05-20 11:40] mikldk commented on #3133
@whedon set 10.5281/zenodo.4774232 as archive

[2021-05-20 11:40] whedon commented on #3133
OK. <a href="https://doi.org/10.5281/zenodo.4774232" target="_blank">10.5281/zenodo.4774232</a> is the archive.

[2021-05-20 11:40] whedon commented on #3236
OK. <a href="https://doi.org/10.5281/zenodo.4773886" target="_blank">10.5281/zenodo.4773886</a> is the archive.

[2021-05-20 11:40] whedon commented on #3133
[code]

[2021-05-20 11:41] whedon commented on #3133
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: :point_left:

[2021-05-20 11:41] mikldk commented on #3236
@whedon generate pdf

[2021-05-20 11:42] mikldk commented on #3133
@whedon check references

[2021-05-20 11:43] mikldk commented on #3133
@whedon check references from branch joss-paper

[2021-05-20 11:43] whedon commented on #3133
[code]

[2021-05-20 11:48] mikldk commented on #3133
@OwenWard Can you add `doi` for `PtProcess2010` reference - maybe it is `10.18637/jss.v035.i08`?

[2021-05-20 11:51] mikldk commented on #3236
@IndrajeetPatil:

* Please make the title at Zenodo the same as the paper's.
* There is some confusing about the version: Zenodo has a 1.1.0 prior to this 1.0.1 -- this is [not standard](https://en.wikipedia.org/wiki/Software_versioning); can you please fix it.

[2021-05-20 11:59] IndrajeetPatil commented on #3236
@mikldk Thanks for pointing these inconsistencies:

Done! The new title is the same as the paper
https://zenodo.org/record/4773886#.YKZOk5MzZQI

Good catch! This was a mistake on my part.
The previous release on zenodo was supposed to be `0.1.0`, but I apparently typed in `1.1.0` instead. I have fixed this mistake. So now the versions should make more sense.
Note that this mistake is only present

[2021-05-20 12:10] karink520 commented on #3275
Hi @danielskatz. I know it's a busy time for folks. Just double checking that there's nothing in particular that I should be doing in the meantime.

[2021-05-20 12:16] mikldk commented on #3236
@IndrajeetPatil:

Zenodo:
statsExpressions: Tidy Dataframes and Expressions with Statistical Details

JOSS:
statsExpressions: R Package for Tidy Dataframes and1Expressions with Statistical Details

[2021-05-20 12:16] danielskatz commented on #3275
I'll pass this to @openjournals/joss-eics for the person who's on duty this week

[2021-05-20 12:20] IndrajeetPatil commented on #3236
Oops, sorry, fixed: https://zenodo.org/record/4773886#.YKZT5JMzZQI

<img width="791" alt="Screenshot 2021-05-20 at 14 19 55" src="https://user-images.githubusercontent.com/11330453/118977492-7e3ae300-b976-11eb-8668-062d17d882ca.png">

[2021-05-20 12:23] mikldk commented on #3236
@whedon accept

[2021-05-20 12:23] whedon commented on #3236
[code]

[2021-05-20 12:23] whedon commented on #3236
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2326

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2326, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-20 12:24] whedon commented on #3236
[code]

[2021-05-20 12:56] OwenWard commented on #3133
@mikldk done

[2021-05-20 13:15] arfon commented on #3101
@whedon assign me as editor

[2021-05-20 13:15] whedon commented on #3101
OK, the editor is @arfon

[2021-05-20 13:17] arfon commented on #3101
@drobnyjt - apologies for the very slow movement on this submission. It looks like @luizirber is unable to edit this paper for us so I'll take it on from here.

Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-05-20 13:19] arfon commented on #3142
@ChWick - apologies it's taking a while to find a second reviewer here. Any chance you could suggest a few additional reviewer names?

[2021-05-20 13:42] csoneson commented on #3290
Thanks @mponce0!

[2021-05-20 13:45] Het-Shah commented on #3142
@arfon I am extremely sorry, I missed the previous message. I would love to provide a review for this submission. Can you kindly let me know a rough timeline for my review?

Thank you and sorry once again!

[2021-05-20 14:28] pdebuyl commented on #3198
@McWhity you can propose referees here if you like, that I may consider in addition to the volunteer reviewers who have registered for JOSS (without the @ sign else they will receive many notifications).

[2021-05-20 14:37] 0xCoto commented on #3067
@whedon generate pdf

[2021-05-20 14:37] whedon commented on #3067
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: :point_left:

[2021-05-20 14:44] 0xCoto commented on #3067
Just wanted to inform that the last sentence of the first paragraph of the Statement of Need section has been reworded a bit to give a slightly more fair representation for the state of other work:

@ygrange - I don't expect many objections, but wanted to let you know of the change so you're aware as a reviewer.

[2021-05-20 15:17] arfon commented on #3142
Thanks @Het-Shah! Ideally we'd want the review to be complete in ~4-6 weeks, but ideally with some initial feedback to the authors before then. In all likelihood, we can work with whatever timescale you're able to commit to :smile:

I'll go ahead and add you to the review thread now to get things moving.

[2021-05-20 15:17] whedon commented on #3142
OK, @Het-Shah is now a reviewer

[2021-05-20 15:18] whedon opened #3297 "[REVIEW]: tfaip - a Generic and Powerful Research Framework for Deep Learning based on Tensorflow"
**Submitting author:** @chwick (<a href="http://orcid.org/0000-0003-3958-6240">Christoph Wick</a>)
**Repository:** <a href="https://github.com/Planet-AI-GmbH/tfaip" target ="_blank">https://github.com/Planet-AI-GmbH/tfaip</a>
**Version:** v1.1.0
**Editor:** @arfon
**Reviewer:** @levimcclenny, @Het-Shah
**Archive:** <a href="https://doi.org/10.5281/zenodo.5011366" target="_blank">10.5281/zenodo.501

[2021-05-20 15:18] whedon commented on #3142
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3297.

[2021-05-20 15:18] #3142 closed

[2021-05-20 15:18] whedon commented on #3297
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @levimcclenny, @Het-Shah it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-05-20 15:18] whedon commented on #3297
[code]

[2021-05-20 15:18] whedon commented on #3297
[code]

[2021-05-20 15:18] whedon commented on #3297
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: :point_left:

[2021-05-20 15:19] arfon commented on #3297
@levimcclenny, @Het-Shah – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfi

[2021-05-20 15:20] hadware commented on #3284
Alright, it's a pass for me! Really great job on this lib @DrMarc (and your acolyte @OleBialas). I'm be telling my labmates working on psychoacoustics about it :)

[2021-05-20 15:30] eihernan commented on #3171
Hi @brlec,
I think the additions to the documentation are clear on what a user should do to fully generate VASP inputs. Since the functionality this package provides (creating appropriate file-structures and slabs) is maintained, and this is generally code-agnostic, I think this is a fine solution.

I installed the [develop](https://github.com/SMTG-UCL/surfaxe/tree/develop ) branch, and the CLI is

[2021-05-20 15:34] danielskatz commented on #3171
Thanks @eihernan!

[2021-05-20 15:36] danielskatz commented on #3171
@brlec - at this point (or once you are ready if there are any further changes you want to make, such as in response to reviewer suggestions), can you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit

[2021-05-20 16:00] arfon commented on #3284
:zap: thanks @hadware!

[2021-05-20 16:15] dfm commented on #3285
@grburgess: Thanks for this review and the opened issues! Can I ask you to expand a bit on what you mean by:

And especially by "change their shape". I haven't found major issues with using interpolated models and I don't see any fundamental issue with using interpolation, so I'd love to hear more about your experiences!

[2021-05-20 16:24] grburgess commented on #3285
@dfm In the past in Stan, when trying to use high-D interpolation, I've found that HMC gets really confused around the nodes. But, 1D interpolation, where the coefficients are precomputed and used like a template works fine. Example, you interpolate a light curve outside of the program from some complex model, and then are simply fitting for an amplitude that scales the interpolation. But I've had

[2021-05-20 16:26] levimcclenny commented on #3297
I'm trying to accept the invite to edit the checklist but its saying "invite expired" - Any idea?

Thanks!

[2021-05-20 16:39] kyleniemeyer commented on #3236
@whedon accept deposit=true

[2021-05-20 16:39] whedon commented on #3236
[code]

[2021-05-20 16:40] whedon commented on #3236
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1395419153587113989) 👈 🐦🐦🐦

[2021-05-20 16:40] whedon commented on #3236
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2327
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03236](https://doi.org/10.21105/joss.03236)
2. If everything look

[2021-05-20 16:42] kyleniemeyer commented on #3236
Congrats @IndrajeetPatil on your article's publication in JOSS!

Many thanks to @humanfactors and @tomfaulkenberry for reviewing this, and @mikldk for editing.

[2021-05-20 16:42] #3236 closed

[2021-05-20 16:42] whedon commented on #3236
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03236/status.svg)](https://doi.org/10.21105/joss.03236)

**We need your help!**

Journal of Open Source Softwa

[2021-05-20 16:48] kbarnhart commented on #2276
@r-barnes thank you for taking another pass at this review. @KevinShook let me know if you have questions for me about any of these comments. It looks like you've started to address them.

[2021-05-20 16:48] brlec commented on #3171
Hi @danielskatz - the JOSS release is tagged [v1.2](https://github.com/SMTG-UCL/surfaxe/tree/v1.2) and was archived on Zenodo with the correct metadata. The DOI is 10.5281/zenodo.4776449

[2021-05-20 16:48] kbarnhart commented on #3114
@piyueh not a problem, thanks for the update.

[2021-05-20 16:51] danielskatz commented on #3171
@whedon set v1.2 as version

[2021-05-20 16:52] whedon commented on #3171
OK. v1.2 is the version.

[2021-05-20 16:52] danielskatz commented on #3171
@whedon set 10.5281/zenodo.4776449 as archive

[2021-05-20 16:52] whedon commented on #3171
OK. <a href="https://doi.org/10.5281/zenodo.4776449" target="_blank">10.5281/zenodo.4776449</a> is the archive.

[2021-05-20 16:52] whedon commented on #3171
[code]

[2021-05-20 16:52] KevinShook commented on #2276
Thanks. Yes, we've already fixed a couple of the issues and are working on the code quality right now.

[2021-05-20 16:52] whedon commented on #3171
[code]

[2021-05-20 16:53] whedon commented on #3171
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2328

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2328, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-20 16:53] drobnyjt commented on #3101
@arfon Sure, no problem. From that list, I would recommend:

1. joglekara for kinetic plasma physics modeling experience
2. HaoZeke for experience with Rust and Molecular Dynamics (closely related to the BCA)
3. amritagos for experience with Rust and Molecular Dynamics

[2021-05-20 17:00] danielskatz commented on #3171
@brlec - I'm suggesting some small changes to the paper in https://github.com/SMTG-UCL/surfaxe/pull/11

Please either merge this or let me know what you disagree with.

[2021-05-20 17:13] brlec commented on #3171
@danielskatz we've merged all the suggestions

[2021-05-20 17:40] danielskatz commented on #3171
@whedon accept

[2021-05-20 17:40] whedon commented on #3171
[code]

[2021-05-20 17:41] whedon commented on #3171
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2329

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2329, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-20 17:41] danielskatz commented on #3171
@whedon accept deposit=true

[2021-05-20 17:41] whedon commented on #3171
[code]

[2021-05-20 17:42] whedon commented on #3171
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2330
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03171](https://doi.org/10.21105/joss.03171)
2. If everything look

[2021-05-20 17:50] danielskatz commented on #3171
Congratulations to @brlec (Katarina Brlec) and co-authors!!

And thanks to @pzarabadip and @eihernan for reviewing.

Everyone, this was a really smooth and easy process - thanks again!

[2021-05-20 17:50] #3171 closed

[2021-05-20 17:50] whedon commented on #3171
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03171/status.svg)](https://doi.org/10.21105/joss.03171)

**We need your help!**

Journal of Open Source Softwa

[2021-05-20 17:54] danielskatz commented on #3158
@whedon assign me as editor

I'll take this to get it off the waiting list...

[2021-05-20 17:54] whedon commented on #3158
OK, the editor is @danielskatz

[2021-05-20 17:55] danielskatz commented on #3158
👋 @Garyfallidis - Can you suggest some potential reviewers by mentioning them here in this thread (without tagging them with an @).

[This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-05-20 17:57] danielskatz commented on #3158
👋 @matthewturk - Would you (or someone in your group/lab) be willing to review this for JOSS?  As I think you know, we carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-05-20 18:34] kyleniemeyer commented on #3217
@whedon invite @diehlpk as editor

Can you edit this submission?

[2021-05-20 18:34] whedon commented on #3217
@diehlpk has been invited to edit this submission.

[2021-05-20 18:35] kyleniemeyer commented on #3217
FYI, I believe you should use semicolons between multiple references, rather than commas, as per the example in our docs: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2021-05-20 18:37] kyleniemeyer commented on #3253
@koaning I think you still may need the affiliations field, even if you leave it empty

cc @openjournals/dev just checking, is that correct?

[2021-05-20 18:41] vsoch commented on #3217
Oh thank you! I missed that. Let's try another render.

@whedon generate pdf

[2021-05-20 18:41] danielskatz commented on #3253
you can't leave it empty, so you need to put in one that says "independent researcher" or "self" etc...

[2021-05-20 18:42] vsoch commented on #3217
@whedon generate pdf

[2021-05-20 18:42] whedon commented on #3217
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03217/joss.03217/10.21105.joss.03217.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03217/joss.03217/10.21105.joss.03217.pdf) :page_facing_up: :point_left:

[2021-05-20 18:44] kyleniemeyer commented on #3259
@KristianNelson The JOSS editorial board reviewed your submission and found that it does meet our standards to proceed to review—unfortunately, we have low editor availability in this area right now, and so I have to put this on a waitlist until an appropriate editor becomes available.

[2021-05-20 18:45] vsoch commented on #3217
That worked great!

[2021-05-20 18:51] KristianNelson commented on #3259
@kyleniemeyer Sounds great! Thank you so much.

[2021-05-20 18:56] danielskatz commented on #2741
@arfon and @shahmoradi - I just realized (due to a comment by @kyleniemeyer in another review) that I made a mistake when suggesting edits to this paper, which removed some of the references.  Specifically, in https://github.com/cdslaborg/paramonte/pull/14, I put multiple references together with commas, instead of the correct semicolons, which led to all but the first of each set not being includ

[2021-05-20 18:56] arfon commented on #3297
@whedon re-invite @levimcclenny as reviewer

[2021-05-20 18:56] whedon commented on #3297
OK, the reviewer has been re-invited.

@levimcclenny please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-20 18:57] arfon commented on #3253
Correct.

[2021-05-20 19:08] koaning commented on #3253
Good to know! Just made the small change.

[2021-05-20 19:09] kyleniemeyer commented on #3275
@karink520 unfortunately we have low editor availability in this area right now, so I have to put your submission on our waitlist. We will assign an editor once someone in this area becomes available.

[2021-05-20 19:09] koaning commented on #3253
Still strange that the compiler did not complain about it.

[2021-05-20 19:23] ygrange commented on #3067
I didn't have access to my laptop before, so I hoped replying to the email would do, but I totally agree with that wording!

[2021-05-20 19:25] shahmoradi commented on #2741
Thanks for the note. I have revived the manuscript Markdown file in the project's repository. Please let me know if I have to do anything else. Thank you.

[2021-05-20 19:28] diehlpk commented on #3217
Sure thing!

[2021-05-20 19:28] diehlpk commented on #3217
@whedon assign @diehlpk as editor

[2021-05-20 19:28] whedon commented on #3217
OK, the editor is @diehlpk

[2021-05-20 19:32] danielskatz commented on #2741
Thanks @shahmoradi - can you merge https://github.com/cdslaborg/paramonte/pull/15

[2021-05-20 19:35] danielskatz commented on #3158
👋 @chrishavlin - I hear you might be willing to review this submission?

[2021-05-20 19:40] arfon commented on #2741
I think this should be fixed in https://github.com/openjournals/joss-papers/commit/c529ab42dd63f73bccc42b105115deca72b468c8

[2021-05-20 19:43] danielskatz commented on #2741
The two references at the end of the paragraph that starts with "For each parallel simulation" also should be put together, I think

[2021-05-20 19:43] danielskatz commented on #2741
And the same with the two at the end of the paragraph that starts with "To alleviate"

[2021-05-20 20:01] mikldk commented on #3133
@whedon check references from branch joss-paper

[2021-05-20 20:01] whedon commented on #3133
[code]

[2021-05-20 20:01] whedon commented on #3133
[code]

[2021-05-20 20:02] mikldk commented on #3133
@whedon generate pdf from branch joss-paper

[2021-05-20 20:02] whedon commented on #3133
[code]

[2021-05-20 20:02] whedon commented on #3133
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: :point_left:

[2021-05-20 20:03] pdebuyl commented on #3198
@kmarkert @arthur-e would you review the article "SenSARP: A Python package for pre-processing Sentinel-1 SLC data with the Sentinel-1 Toolbox" for the Journal of Open Source Software?

[2021-05-20 20:05] mikldk commented on #3133
@OwenWard: It also seems that the arXiv paper is now published at [10.1002/9781119821588.ch7](https://doi.org/10.1002/9781119821588.ch7). Can you either confirm or refute that?

[2021-05-20 20:08] arfon commented on #2741
Done and done. The updated paper might take a few hours to show up due to caching but it should be fixed.

[2021-05-20 20:10] danielskatz commented on #2741
Thanks! And again, sorry for this mistake on my part.

[2021-05-20 20:11] astrom-tom commented on #3067
Hi @xuanxu
The review on my side is done. I am happy with what has been implemented and I closed the few tickets I opened in the repo. All good for me. Thanks @0xCoto for the work!

[2021-05-20 20:15] OwenWard commented on #3133
@mikldk correct, I'll update to that reference now!

[2021-05-20 20:20] OwenWard commented on #3133
@mikldk updated

[2021-05-20 20:49] arthur-e commented on #3198
@pdebuyl Yes, I will review this paper. This would be my first review for JOSS, so let me know if there's anything else I should know beyond what's in the [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2021-05-20 21:04] poulson commented on #3145
Thanks -- I noticed that the paper could use a round of edits and that is what has been delaying me. I am going to rebuild and respond with a round of suggestions shortly.

[2021-05-20 21:04] poulson commented on #3145
@whedon generate pdf

[2021-05-20 21:05] whedon commented on #3145
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03145/joss.03145/10.21105.joss.03145.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03145/joss.03145/10.21105.joss.03145.pdf) :page_facing_up: :point_left:

[2021-05-20 22:04] jgostick commented on #3287
Great.  I will contact reviewers, and once I've secured a few I will start the review process.  Might take a week or so.

[2021-05-20 22:08] poulson commented on #3145
Here is a first batch of suggestions (all before the 'Statement of Need' section):

I recommend changing

1.  "It is re-written with a new design, after multiple re-implementations of the same algorithm, over a decade of work in the research group."
to
    "Our current implementation is the most recent of many across a decade of work in our research group."

2. "for what is an intricate and diffic

[2021-05-20 23:21] poulson commented on #3145
A second round of suggested edits:

1. Move "The first version of ExaFMM focused on low-accuracy optimizations and implemented a dual-tree traversal. It was GPU-enabled using CUDA, distributed via MPI, and multi-threaded via OpenMP." into separate paragraph alongside "Despite these efforts, it has remained a challenge in the FMM community to have a well-established open-source software package ana

[2021-05-21 03:10] justinshenk commented on #3202
@whedon generate pdf

[2021-05-21 03:10] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-05-21 03:20] justinshenk commented on #3202
Thank you @AbigailMcGovern for your review and valuable feedback!

The majority of edits are visible in https://github.com/traja-team/traja/pull/86.

The requested edits have been made in version 0.2.7, now available in PyPI for pip installation, including:

- updated environment.yml to include pip and scikit-learn
- added documentation for [autocorrelation](https://traja.readthedocs.io/en/latest/

[2021-05-21 04:37] arfon commented on #3101
:wave: @HaoZeke @joglekara @amritagos – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd be asking you to review here is [_RustBCA: A High-Performance, Binary-Collision-Approximation Code for Ion-Material Int

[2021-05-21 05:40] HaoZeke commented on #3101
Hi @arfon, Sure I'd be happy to review this, looks very interesting.

[2021-05-21 06:58] SergeDmi commented on #2973
Sorry for the late reply, I had notifications off indeed.

All my comments have been addressed and I recommend the article for publication.

(there might be an issue with acknowledgements though, see :)
![Screenshot_20210521_085653](https://user-images.githubusercontent.com/20117767/119095515-aa0ba680-ba12-11eb-9edd-444ee2ee46b1.png)

[2021-05-21 07:03] mikldk commented on #3133
@whedon generate pdf from branch joss-paper

[2021-05-21 07:03] whedon commented on #3133
[code]

[2021-05-21 07:03] whedon commented on #3133
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: :point_left:

[2021-05-21 07:03] mikldk commented on #3133
@whedon check references from branch joss-paper

[2021-05-21 07:03] whedon commented on #3133
[code]

[2021-05-21 07:04] whedon commented on #3133
[code]

[2021-05-21 07:04] mikldk commented on #3133
Not properly. Please check paper; there's an extra `https...` prefix in the References.

[2021-05-21 07:40] eloisabentivegna commented on #3288
@TomGoffrey, would you be able to provide a review for this submission?

[2021-05-21 07:44] mikaem commented on #3237
I had a final reading of the article and I saw two more minor issues. There are some periods missing in the last paragraph before acknowledgements, and I seem to be mentioned twice in the left column under reviewers for some reason?

[2021-05-21 08:24] njtierney commented on #3167
Hi @csoneson ,

Thanks so much for your patience,

I've finished up the review now, had a few family/personal things come up which means I had reduced scope for other work.

Linked above are some issues that I noticed reading through the paper and the software. In particular, https://github.com/IndrajeetPatil/ggstatsplot/issues/598 I that it is hard to reproduce the statistical analysis without sh

[2021-05-21 08:41] glyg commented on #2973
thanks @SergeDmi ! We fixed the contributors links

[2021-05-21 09:06] csoneson commented on #3167
Thanks a lot @njtierney!

[2021-05-21 09:08] Het-Shah commented on #3297
I have opened an issue in the tfaip repository. I believe this is a great addition to the journal. However, I had some concerns that are mentioned in the issue.

[2021-05-21 09:12] arfon commented on #3101
@whedon add @HaoZeke as reviewer

[2021-05-21 09:12] whedon commented on #3101
OK, @HaoZeke is now a reviewer

[2021-05-21 09:13] arfon commented on #3101
:zap: thanks @HaoZeke! I'd like to wait a few more days before opening up the main review issue to try and find a second reviewer if that's OK? For now, please sit tight!

[2021-05-21 09:38] xuanxu commented on #3067
Thanks, @astrom-tom!

[2021-05-21 09:38] xuanxu commented on #3067
@whedon generate pdf

[2021-05-21 09:38] whedon commented on #3067
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: :point_left:

[2021-05-21 09:39] xuanxu commented on #3067
@whedon check references

[2021-05-21 09:39] whedon commented on #3067
[code]

[2021-05-21 09:56] aalfons commented on #3238
The package seems to provide useful functionality and is well documented, and the manuscript describes the functionality and the need for it nicely. I still have some comments, some of which I realized afterwards are also brought up by @msalibian.

- **Installation instructions:** I received the following error message when trying to install the package:

In file included from fitwls.c:20:
./fitwl

[2021-05-21 10:12] xuanxu commented on #3067
OK @0xCoto, everything looks good, here are the next steps:

- Please release a new tagged version from the current master branch so it includes all the changes made during the review process
- Then archive that latest release in Zenodo or a similar service
- Check the Zenodo deposit has the correct metadata: title and authors names should match the paper; you may also add authors' ORCIDs.

Once y

[2021-05-21 10:51] McGregor14 commented on #3270
Hi @oliviaguest,

Sorry for the delay, I am writing up my thesis at the moment so a little bit distracted!

We have now added a license for the app repository (https://github.com/flare-kcl/flare-app/blob/develop/LICENSE) and will add one to the portal repository ASAP.

[2021-05-21 11:19] pdebuyl commented on #2973
@whedon generate pdf

[2021-05-21 11:19] pdebuyl commented on #2973
Thank you @SergeDmi for completing the review!

[2021-05-21 11:20] whedon commented on #2973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: :point_left:

[2021-05-21 11:27] IndrajeetPatil commented on #3167
@csoneson Can you please set the version of the package to `0.7.2` in this issue? I can't do it.

There was a new release of the package since the review started, which changes nothing about the paper but better for the record to be up-to-date.

[2021-05-21 11:29] csoneson commented on #3167
@whedon set v0.7.2 as version

[2021-05-21 11:29] whedon commented on #3167
OK. v0.7.2 is the version.

[2021-05-21 11:30] IndrajeetPatil commented on #3167
@njtierney Thanks for your comments!

I have proposed a couple of solutions in the related issue to address this, and I am happy to discuss this further.

[2021-05-21 11:34] glyg commented on #2973
Some links to notebooks were broken as we changed the organization of the doc, we're fixing them now

[2021-05-21 11:45] sophietheis commented on #2973
@whedon generate pdf

[2021-05-21 11:45] whedon commented on #2973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: :point_left:

[2021-05-21 12:12] chrishavlin commented on #3158
Yes! I won't be able to start reviewing until the week of June 1,but assuming that is OK, I'm happy to review this submission.

[2021-05-21 12:16] danielskatz commented on #3158
Thanks @chrishavlin!
I'll assign you now, and when I find another reviewer, start the review, but with the understanding that you won't start until the week of June 1.

[2021-05-21 12:16] danielskatz commented on #3158
@whedon assign @chrishavlin as reviewer

[2021-05-21 12:17] whedon commented on #3158
OK, @chrishavlin is now a reviewer

[2021-05-21 12:18] jni commented on #3202
Thanks for the update @justinshenk!

I think one additional item requested by @AbigailMcGovern is to add a bit more context about the existing state of the field. Looking at the new paper draft,

- there is a missing/misrendered reference, `vivek_hari_sridhar...` in the second paragraph,
- there's a few additional tools and corresponding papers that should probably be cited, listed in the [DLCUtil

[2021-05-21 12:20] littlelazy6 commented on #3190
Installation & general test case manual:
Please give definition for CNT, SLSP and SLSPC at the first instance. I firstly saw them in Limitations.
Where is the STEP 5 in the installation instruction?

Functionality documentation:
As a starting point, test case 01 is like a basic tutorial and I am referring to https://github.com/SunilAnandatheertha/PXO/wiki/Test-case---01
It could assist an easier a

[2021-05-21 12:22] littlelazy6 commented on #3190
State of the field: Functions comparing to other software. This part seems to be missing in the current paper draft.
Based on my knowledge, there are several open-access packages available for MC based grain growth (GG) simulation solver, such as MCPM. VT generating tools include Python, NEPER, DREAM3D. Could you please add in few lines showing what distinguish your developed tool from other simil

[2021-05-21 12:24] DrMarc commented on #3284
Many thanks @hadware for taking the time to evaluate the module!

[2021-05-21 12:33] Garyfallidis commented on #3158
Much appreciated @chrishavlin ! And thank you @danielskatz for pushing this forward. :+1:

[2021-05-21 12:53] pdebuyl commented on #2973
Hi, @glyg @sophietheis I'll proceed to the next step https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

I found the following grammatical and spelling errors on the first page. Can you fix them and run a spell checker on the article?

- "It's main focus" -> "Its main focus"
- "epihelia": is it "epithelia" ? (added "t").
- First sentence in statement of need is

[2021-05-21 12:57] OwenWard commented on #3133
@whedon check references from branch joss-paper

[2021-05-21 12:57] whedon commented on #3133
[code]

[2021-05-21 12:57] whedon commented on #3133
[code]

[2021-05-21 12:57] OwenWard commented on #3133
@mikldk corrected now, sorry about that

[2021-05-21 12:59] pdebuyl commented on #3198
Hi @arthur-e thank you for accepting to review! The page [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) is more complete than the guidelines. The [checklist](https://joss.readthedocs.io/en/latest/review_checklist.html) is also useful, but you will see it when the review starts anyway.

During the review, communication with the authors or with me goes through the revi

[2021-05-21 12:59] glyg commented on #2973
Thanks @pdebuyl we'll go through all that. I'll make a release of the code & check the zenodo metadata et al.
@sophietheis looks into the spelling and citations syntax.

We'll update you here (not today for me, I don't have enough time ^^)

[2021-05-21 13:06] danielskatz commented on #3158
@Garyfallidis - note that I'm also looking for reviewer suggestions from you, as requested in https://github.com/openjournals/joss-reviews/issues/3158#issuecomment-845342011

[2021-05-21 13:24] Garyfallidis commented on #3158
Sure, will get back to you asap.

[2021-05-21 13:47] hugoledoux commented on #2869
/ooo today until June 5

[2021-05-21 13:49] hugoledoux commented on #3061
/ooo May 22 until June 5

[2021-05-21 13:56] schruste commented on #3237
Hi @mikaem ,

Thanks for the hint with the period. I don't know why you are mentioned twice, but as far as I see this is not related to our content but because you are listed twice in this issue (`Reviewer: @mscroggs, @mikaem, @mikaem`).

[2021-05-21 13:57] schruste commented on #3237
@whedon generate pdf from branch master

[2021-05-21 13:57] whedon commented on #3237
[code]

[2021-05-21 13:57] whedon commented on #3237
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: :point_left:

[2021-05-21 14:49] sjpfenninger commented on #3213
@whedon add @giodegas as reviewer

[2021-05-21 14:49] whedon commented on #3213
OK, @giodegas is now a reviewer

[2021-05-21 14:49] diehlpk commented on #3217
@vsoch please check the missing and invalid DOIs and update the paper accordingly.

[2021-05-21 14:50] joglekara commented on #3101
hey @arfon , happy to review this. Thanks for tagging me in.

[2021-05-21 14:51] diehlpk commented on #3217
Hey, @parsa or @stevenrbrandt would you be interested to review this paper?

[2021-05-21 14:54] diehlpk commented on #3217
Hey, @nuest, @zbeekman, @AustinTSchaffer, @fabianomenegidio, @shrinandj, or @rcannood would you be interested to review this paper?

[2021-05-21 14:56] diehlpk commented on #2496
@openjournals/joss-eics since we have not received any response, if the author wants to submit a major revision, could you please withdraw the paper? Thanks, Patrick

[2021-05-21 14:58] diehlpk commented on #3274
@clavigne please add the missing DOIs to the paper and recompile the paper.

[2021-05-21 15:00] arfon commented on #3101
@whedon add @joglekara as reviewer

[2021-05-21 15:01] whedon commented on #3101
OK, @joglekara is now a reviewer

[2021-05-21 15:01] arfon commented on #3101
@whedon start review

[2021-05-21 15:01] whedon opened #3298 "[REVIEW]: RustBCA: A High-Performance, Binary-Collision-Approximation Code for Ion-Material Interactions"
**Submitting author:** @drobnyjt (<a href="http://orcid.org/0000-0002-9733-6058">Jon Drobny</a>)
**Repository:** <a href="https://github.com/lcpp-org/RustBCA" target ="_blank">https://github.com/lcpp-org/RustBCA</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @HaoZeke, @joglekara
**Archive:** <a href="https://doi.org/10.5281/zenodo.5337083" target="_blank">10.5281/zenodo.5337083</a>

**:w

[2021-05-21 15:01] whedon commented on #3101
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3298.

[2021-05-21 15:01] #3101 closed

[2021-05-21 15:01] whedon commented on #3298
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke, @joglekara it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-05-21 15:01] whedon commented on #3298
[code]

[2021-05-21 15:01] whedon commented on #3298
[code]

[2021-05-21 15:01] arfon commented on #3101
@HaoZeke, @joglekara - thanks so much for agreeing to review this submission! See you over in #3298 where the actual review will take place.

[2021-05-21 15:02] arfon commented on #3298
@HaoZeke, @joglekara – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied.

[2021-05-21 15:26] vsoch commented on #3217
@whedon check references

[2021-05-21 15:26] whedon commented on #3217
[code]

[2021-05-21 15:27] vsoch commented on #3217
@diehlpk looks like I already did that when whedon originally reported it!

[2021-05-21 15:29] sdesabbata commented on #2869
Brilliant, thank you very much for your work on the paper. I will resume my review and get back to you in a few days.

[2021-05-21 16:25] tobiasschoch commented on #3238
I modified the paper according to @msalibian  suggestions (I'm going to address the points raised by @aalfons later)

### Issue 1

 - *Reviewer:* In the text, when referring to "large datasets", please be specific if this is regarding the number of cases (rows), variables (columns), or both. In the robustness literature, computational effort ("complexity" in an informal way) usually grows exponent

[2021-05-21 16:26] tobiasschoch commented on #3238
@whedon generate pdf

[2021-05-21 16:27] whedon commented on #3238
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: :point_left:

[2021-05-21 16:46] lukapecnik commented on #2949
@sara-02 great news! Thank you very much for your effort and reported issue. You helped with making our software better. I wish you all the best 🎉 🙌

@arfon is there anything else that needs to be done from our side now? Thank you

[2021-05-21 17:47] SachaEpskamp commented on #3148
Hi! I would love to review this package as it looks like an excellent package indeed. Unfortunately, however, I have paternity leave coming up very fast now and too many deadlines before to finish. Some people that come to mind perhaps in addition to Giulio are Hudson Golino, Jonas Haslbeck, Alex Millner, Jill de Ron & Myrthe Veenman.

[2021-05-21 17:49] dghoshal-lbl commented on #2484
Hi @pibion @atrisovic @gflofst,

We have edited the paper and fixed the readme's. I have also added a [cover letter](https://bitbucket.org/sciencecapsule/sciencecapsule/src/master/docs/joss/paper/joss-cover.md) in docs/joss/paper/ highlighting the issues raised by the reviewers and how we addressed them.

Please let me know if you run into any issues.

Thanks!

[2021-05-21 18:03] rcannood commented on #3217
Sure!

[2021-05-21 18:47] diehlpk commented on #3217
@whedon assign @rcannood as reviewer

[2021-05-21 18:47] whedon commented on #3217
OK, @rcannood is now a reviewer

[2021-05-21 18:47] diehlpk commented on #3217
Thanks. Could you please recommend some potential reviewers?

[2021-05-21 18:54] arfon commented on #2949
@lukapecnik – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the au

[2021-05-21 18:55] diehlpk commented on #3217
I pinged in the message above all people from the Google sheet having Docker or Singularity mentioned. If you know other folks that would be great.

[2021-05-21 19:00] mturiansky commented on #2838
@dpsanders, all of the issues that I have opened are now closed. I think once the remaining issues are addressed (assuming no new issues present themselves), then I'm okay with publication.

[2021-05-21 19:14] clavigne commented on #3274
@whedon generate pdf

[2021-05-21 19:15] whedon commented on #3274
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: :point_left:

[2021-05-21 19:18] clavigne commented on #3274
I added the DOI for the Chemrxiv pre-print. The other paper, (which is available here https://research.google/pubs/pub62/ ) does not have a DOI, as far as I can tell.

The ACM which compiles the USENIX proceedings doesn't have the OSDI '04 one https://dl.acm.org/conference/osdi/proceedings .

[2021-05-21 19:24] tobiasschoch commented on #3238
@aalfons - Thank you for the very helpful remarks. Your comments reached me while I was responding to the points raised by msalibian. I will now address the points you have raised.

### Issue 1
*Reviewer:* **Installation instructions:** I received the following error message when trying to install the package [...].

*Answer:* Yes, indeed I forgot to add the (conditional) include guards. This is n

[2021-05-21 19:31] kyleniemeyer commented on #3228
Hello @zgcarvalho, thanks for your interest in JOSS and the explanation above.

Regardless of the question about the open-source nature (or otherwise) of PyMOL, the editorial board is going to review your submission to see whether it is in scope for JOSS at all. It appears that your submission is a web-based wrapper for a different software package, ParKVFinder, which was [previously published abo

[2021-05-21 19:31] kyleniemeyer commented on #3228
@whedon query scope

[2021-05-21 19:31] whedon commented on #3228
Submission flagged for editorial review.

[2021-05-21 19:35] kyleniemeyer commented on #3216
@whedon invite @csoneson as editor

@csoneson can you edit this submission?

[2021-05-21 19:35] whedon commented on #3216
@csoneson has been invited to edit this submission.

[2021-05-21 19:38] kyleniemeyer commented on #3266
@whedon invite @drvinceknight as editor

Hi @drvinceknight, could you edit this? I *think* this seems somewhat close to your areas.

[2021-05-21 19:38] whedon commented on #3266
@drvinceknight has been invited to edit this submission.

[2021-05-21 19:39] kyleniemeyer commented on #3234
@whedon invite @mikldk as editor

Hi @mikldk, can you edit this submission? The author has provided a few reviewer recommendations above.

[2021-05-21 19:39] whedon commented on #3234
@mikldk has been invited to edit this submission.

[2021-05-21 19:41] whedon opened #3299 "[PRE REVIEW]: demographicx: A Python package for estimating gender and ethnicity using deep learning transformers"
**Submitting author:** @daniel-acuna (<a href="http://orcid.org/0000-0002-7765-1595">Daniel E. Acuna</a>)
**Repository:** <a href="https://github.com/sciosci/demographicx" target ="_blank">https://github.com/sciosci/demographicx</a>
**Version:** 0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-05-21 19:41] whedon commented on #3299
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-21 19:41] whedon commented on #3299
[code]

[2021-05-21 19:42] whedon commented on #3299
[code]

[2021-05-21 19:42] whedon commented on #3299
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03299/joss.03299/10.21105.joss.03299.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03299/joss.03299/10.21105.joss.03299.pdf) :page_facing_up: :point_left:

[2021-05-21 19:44] kyleniemeyer commented on #3299
Hi @daniel-acuna, thanks for resubmitting this (for reference, the original rejected submission was #3263). However, at a bit over 400 lines of code, your submission is still quite on the small side—we flag anything under 1000 for review by the editorial board to see if this meets our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)

[2021-05-21 19:44] kyleniemeyer commented on #3299
@whedon query scope

[2021-05-21 19:44] whedon commented on #3299
Submission flagged for editorial review.

[2021-05-21 19:47] whedon opened #3300 "[PRE REVIEW]: VecComp: A Python package for Quantitative Vector Field Comparison Metrics"
**Submitting author:** @MatthiasProbst (<a href="http://orcid.org/0000-0001-8729-0482">Matthias Probst</a>)
**Repository:** <a href="https://git.scc.kit.edu/da4323/VecComp" target ="_blank">https://git.scc.kit.edu/da4323/VecComp</a>
**Version:** v.0.2.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-05-21 19:47] whedon commented on #3300
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-21 19:47] whedon commented on #3300
[code]

[2021-05-21 19:47] whedon commented on #3300
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03300/joss.03300/10.21105.joss.03300.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03300/joss.03300/10.21105.joss.03300.pdf) :page_facing_up: :point_left:

[2021-05-21 19:47] whedon commented on #3300
[code]

[2021-05-21 19:48] vsoch commented on #3217
oh I didn't know they didn't need to be in the sheet. That's much easier! So since we are crossing HPC and Singularity I'll recommend @ikaneshiro, @jscook2345, @ArangoGutierrez, @yarikoptic, @michaelmoore10, @hartzell, and @alaindomissy.

[2021-05-21 19:48] kyleniemeyer commented on #3300
Hello @MatthiasProbst, thanks for your interest in JOSS. Because of the relatively small size of your submission, the editorial board is going to review your submission to see if it meets our standards for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). We will review and get back to you in a week or so.

[2021-05-21 19:48] kyleniemeyer commented on #3300
@whedon query scope

[2021-05-21 19:48] whedon commented on #3300
Submission flagged for editorial review.

[2021-05-21 19:48] whedon opened #3301 "[PRE REVIEW]: LDDS: Python package for computing and visualizing Lagrangian Descriptors for Dynamical Systems"
**Submitting author:** @Shibabrat (<a href="http://orcid.org/0000-0001-7964-2513">Shibabrat Naik</a>)
**Repository:** <a href="https://github.com/champsproject/ldds" target ="_blank">https://github.com/champsproject/ldds</a>
**Version:** v0.1.0
**Editor:** @richardjgowers
**Reviewers:** @nicoguaro, @jmbr
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-05-21 19:49] whedon commented on #3301
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-21 19:49] whedon commented on #3301
PDF failed to compile for issue #3301 with the following error:
[code]

[2021-05-21 19:49] daniel-acuna commented on #3299
Thanks so much for the consideration @kyleniemeyer! We thought this software would fit under the [Co-publication of science](https://joss.readthedocs.io/en/latest/submitting.html#co-publication-of-science-methods-and-software) criteria:
```JOSS considers submissions for which the implementation of the software itself reflects a substantial scientific effort. This may be represented by the design o

[2021-05-21 19:49] whedon commented on #3301
[code]

[2021-05-21 19:50] whedon commented on #3301
[code]

[2021-05-21 19:50] whedon opened #3302 "[PRE REVIEW]: Nominally: A Name Parser for Record Linkage"
**Submitting author:** @vaneseltine (<a href="http://orcid.org/0000-0002-9520-1360">Matthew VanEseltine</a>)
**Repository:** <a href="https://github.com/vaneseltine/nominally" target ="_blank">https://github.com/vaneseltine/nominally</a>
**Version:** v1.1.0
**Editor:** @majensen
**Reviewers:** @sara-02, @sap218
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-05-21 19:50] whedon commented on #3302
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-21 19:51] whedon commented on #3302
[code]

[2021-05-21 19:51] whedon commented on #3302
[code]

[2021-05-21 19:51] whedon commented on #3302
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03302/joss.03302/10.21105.joss.03302.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03302/joss.03302/10.21105.joss.03302.pdf) :page_facing_up: :point_left:

[2021-05-21 19:52] kyleniemeyer commented on #3302
Hi @vaneseltine, thanks for your interest in JOSS. Due to low editor availability in this area right now, we have to put your submission on a waitlist. Once an appropriate editor becomes available, we will assign them and move to finding reviewers. In the meantime, if you could suggest some potential reviewers, that would help speed up the process. Thanks!

[2021-05-21 19:56] whedon opened #3303 "[PRE REVIEW]: spopt: a python package for solving spatial optimization problems in PySAL"
**Submitting author:** @xf37 (<a href="http://orcid.org/0000-0001-7253-3154">Xin Feng</a>)
**Repository:** <a href="https://github.com/pysal/spopt" target ="_blank">https://github.com/pysal/spopt</a>
**Version:** v0.1.1
**Editor:** @vissarion
**Reviewers:** @ArikaLZ, @samuel-rosa
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-05-21 19:56] whedon commented on #3303
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-21 19:56] whedon commented on #3303
[code]

[2021-05-21 19:56] whedon commented on #3303
PDF failed to compile for issue #3303 with the following error:
[code]

[2021-05-21 19:59] kyleniemeyer commented on #3303
Hi @xf37, I think the issue with your paper is in the YAML block at the top—there is an indentation error with the `orcid` field for Sergio Rey.

[2021-05-21 20:00] kyleniemeyer commented on #3303
@whedon invite @vissarion as editor

Hi @vissarion, could you edit this submission?

[2021-05-21 20:00] whedon commented on #3303
@vissarion has been invited to edit this submission.

[2021-05-21 20:02] kyleniemeyer commented on #3299
@daniel-acuna yes, the issue is mainly the relatively small size of the software package. Also, it looks to me like the software is mostly based on a pre-trained machine learning model, which would [not be in scope](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software). But, others may have a different view, hence the review by the board overall.

[2021-05-21 20:02] schnorr commented on #2876
So, I've reviewed my notes above against the latest version of the paper and software. The problems of using the software have been solved because now the CRAN version is aligned with the version expected by the blogpost mentioned previously. The concerns of citing related work have been fixed and the differences against the base C++ implementation are now clear. So, yeah, I think we are ready for

[2021-05-21 20:03] whedon opened #3304 "[PRE REVIEW]: LCIA Formatter"
**Submitting author:** @WesIngwersen (<a href="http://orcid.org/0000-0002-9614-701X">Wesley Ingwersen</a>)
**Repository:** <a href="https://github.com/USEPA/LCIAformatter" target ="_blank">https://github.com/USEPA/LCIAformatter</a>
**Version:** v1.0.0
**Editor:** @csoneson
**Reviewers:** @tngTUDOR, @mfastudillo
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-05-21 20:03] whedon commented on #3304
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-21 20:03] whedon commented on #3304
[code]

[2021-05-21 20:03] whedon commented on #3304
PDF failed to compile for issue #3304 with the following error:
[code]

[2021-05-21 20:03] whedon commented on #3304
[code]

[2021-05-21 20:04] whedon opened #3305 "[PRE REVIEW]: argodata: An R interface to oceanographic data from the International Argo Program"
**Submitting author:** @paleolimbot (<a href="http://orcid.org/0000-0002-9415-4582">Dewey Dunnington</a>)
**Repository:** <a href="https://github.com/ArgoCanada/argodata" target ="_blank">https://github.com/ArgoCanada/argodata</a>
**Version:** 0.0.0.9000
**Editor:** @kthyng
**Reviewers:** @KimBaldry, @catsch
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-05-21 20:04] whedon commented on #3305
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-21 20:04] whedon commented on #3305
[code]

[2021-05-21 20:04] whedon commented on #3305
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03305/joss.03305/10.21105.joss.03305.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03305/joss.03305/10.21105.joss.03305.pdf) :page_facing_up: :point_left:

[2021-05-21 20:04] whedon commented on #3305
[code]

[2021-05-21 20:06] arfon commented on #2876
@VNNikolaidis – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2021-05-21 20:06] kyleniemeyer commented on #3305
Hi @paleolimbot, thanks for your interest in JOSS. Because your submission appears to be an API client for accessing data, which may not meet our [requirements for research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software), the editorial board is going to review your submission to see if it meets our scope for review. Any additional comments you hav

[2021-05-21 20:06] kyleniemeyer commented on #3305
@whedon query scope

[2021-05-21 20:07] whedon commented on #3305
Submission flagged for editorial review.

[2021-05-21 20:08] kyleniemeyer commented on #3304
Hi @WesIngwersen, thanks for your interest in JOSS. Due to low editor availability in this area, I am placing your submission on a waitlist for now; once an appropriate editor becomes available, we will get this assigned and move the process forward.

In the meantime, you could address the issues with the references raised above, and also provide reviewer suggestions. Thanks!

[2021-05-21 20:10] kyleniemeyer commented on #3304
@WesIngwersen regarding the paper generation error, I think you cannot have an empty `orcid` field for an author, so you should just remove that for someone that does not have an ORCID.

Also, I am not sure that the corresponding author footnote will work. @openjournals/dev is that correct?

[2021-05-21 20:11] kyleniemeyer commented on #3301
@whedon invite @richardjgowers as editor

@richardjgowers this is a bit outside your area, but could you edit this submission?

[2021-05-21 20:11] whedon commented on #3301
@richardjgowers has been invited to edit this submission.

[2021-05-21 20:11] whedon opened #3306 "[PRE REVIEW]: Estimating the environmental footprint of food products from packaging data"
**Submitting author:** @GustaveCoste (<a href="http://orcid.org/0000-0001-5867-0507">Gustave Coste</a>)
**Repository:** <a href="https://framagit.org/GustaveCoste/off-product-environmental-impact/" target ="_blank">https://framagit.org/GustaveCoste/off-product-environmental-impact/</a>
**Version:** 1.0.0
**Editor:** @vissarion
**Reviewers:** @marvinjonathcn, @jrising
**Managing EiC:** Kyle Niemeye

[2021-05-21 20:11] whedon commented on #3306
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-21 20:12] whedon commented on #3306
PDF failed to compile for issue #3306 with the following error:
[code]

[2021-05-21 20:12] kyleniemeyer commented on #3306
@whedon generate pdf from branch joss

[2021-05-21 20:12] whedon commented on #3306
[code]

[2021-05-21 20:13] whedon commented on #3306
[code]

[2021-05-21 20:13] whedon commented on #3306
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03306/joss.03306/10.21105.joss.03306.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03306/joss.03306/10.21105.joss.03306.pdf) :page_facing_up: :point_left:

[2021-05-21 20:13] WesIngwersen commented on #3304
FYI co-author @bl-young

[2021-05-21 20:14] kyleniemeyer commented on #3306
@whedon invite @vissarion as editor

Hi @vissarion, apologies for two invitations in short order, but could you edit this submission as well? The connection with optimization seemed to put this in your wheelhouse.

[2021-05-21 20:14] whedon commented on #3306
@vissarion has been invited to edit this submission.

[2021-05-21 20:31] WesIngwersen commented on #3304
@kyleniemeyer, I removed the empty `orcid` field for Michael Srocka with [this commit](https://github.com/USEPA/LCIAformatter/commit/4a43a0c6ee7db3f254d69a109188ed030cdf264f)
and removed the corresponding author note with [this commit](https://github.com/USEPA/LCIAformatter/commit/5ec5dde087c17dea0f17b8dad9bfd16255c07ce9)

[2021-05-21 20:33] danielskatz commented on #3304
You can use the command `@whedon check references` to check the references, and the command `@whedon generate pdf` to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-05-21 20:33] danielskatz commented on #3304
@whedon generate pdf

[2021-05-21 20:33] whedon commented on #3304
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03304/joss.03304/10.21105.joss.03304.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03304/joss.03304/10.21105.joss.03304.pdf) :page_facing_up: :point_left:

[2021-05-21 20:34] danielskatz commented on #3304
Note that there are some potential reference problems flagged above too...

[2021-05-21 20:45] mfherbst commented on #2838
Same here. My issues were either addressed sufficiently or closed. There is still a typo I reported, but otherwise I'd recommend publication.

[2021-05-21 20:51] WesIngwersen commented on #3304
Recommended reviewer:

1. Chris Mutel, author of [Brightway: An open source framework for Life Cycle Assessment](https://joss.theoj.org/papers/10.21105/joss.00236) and two other JOSS articles
2. James Joyce, author of [Lcopt - An interactive tool for creating fully parameterised Life Cycle Assessment (LCA) foreground models](https://joss.theoj.org/papers/10.21105/joss.00339)
3. Konstantin Stadler,

[2021-05-21 20:54] WesIngwersen commented on #3304
@danielskatz @kyleniemeyer  Regarding DOI issues.  I will address the missing DOI (actually others can be added).  The invalid DOIs are for 4 datasets that are data products of the LCIA formatter software and currently in the cue in the EPA data review/publication system. They should be through that process and registered within a week. I will report back on them once they are registered.

[2021-05-21 21:20] WesIngwersen commented on #3304
@whedon check references

[2021-05-21 21:20] whedon commented on #3304
[code]

[2021-05-21 22:48] kthyng commented on #3305
@paleolimbot, @kyleniemeyer As a high level comment, I edited the `argopy` paper that was mentioned as being previously published with JOSS and it was a solid JOSS submission. That package facilitates data access, but does so really well and also provides other functionality to make it possible to easily work with Argo data. For data like this, I think the data doesn't really get used without thes

[2021-05-22 02:05] piyueh commented on #3114
@bzindovic Thanks for your comment. I added the link to CONTRIBUTING.md and the information of supported OS in README.me. Conda package is now available: https://anaconda.org/barbagroup/geoclaw-landspill

The information on how to install the package with `conda` is also available in README.md and installation documentation.

The change has been merged to the master branch and has a tag [v1.0.dev4

[2021-05-22 02:15] piyueh commented on #3114
The comments from reviewer @jmansour have been addressed in https://github.com/barbagroup/geoclaw-landspill/issues/20.

[2021-05-22 03:23] piyueh commented on #3114
@dlgeorge Thanks for your comment! Here's our reply:

I agree ***full*** *shallow-water equations* does sound redundant to people familiar with it. We use the adjective ***full*** because we feel that in the area of pipeline risk management, people sometimes use *shallow-water equations* to mean some other simplified models, like 1D open channel models, diffusive wave approximation, and kinematic

[2021-05-22 03:39] piyueh commented on #3114
Hi @kbarnhart, I apologize for the delay. Our code has now been modified to address reviewers' suggestions. For reviews that require our reply, I replied in the previous comments. All changes are now in the master branch. The issues are automatically closed by GitHub because they are associated with commits. We can always reopen them or open a new one when needed.

[2021-05-22 06:56] arfon commented on #3131
Hello @seanbergin, I'm sorry to say, we're not going to be able to review this submission at JOSS as we don't have the expertise on our editorial board to consider such a submission.

I'm going to go ahead and withdraw this submission on your behalf now.

[2021-05-22 06:56] arfon commented on #3131
@whedon withdraw

[2021-05-22 06:56] whedon commented on #3131
Paper withdrawn.

[2021-05-22 06:56] #3131 closed

[2021-05-22 07:04] arfon commented on #3148
:wave: @hfgolino @Jillderon – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_GGMnonreg: Non-Regularized Gaussian Graphical Models_](https://github.com/donaldRwilliams/GGMnonreg).

[2021-05-22 07:05] whedon opened #3307 "[PRE REVIEW]: model-traits: Model attribute definitions for scientific simulations in C++"
**Submitting author:** @jacobmerson (<a href="http://orcid.org/0000-0002-6813-6532">Jacob Merson</a>)
**Repository:** <a href="https://github.com/jacobmerson/model-traits" target ="_blank">https://github.com/jacobmerson/model-traits</a>
**Version:** v0.1.1
**Editor:** @diehlpk
**Reviewers:** @daniellivingston, @pratikvn
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2021-05-22 07:05] whedon commented on #3307
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-22 07:05] whedon commented on #3307
PDF failed to compile for issue #3307 with the following error:
[code]

[2021-05-22 07:05] whedon commented on #3307
[code]

[2021-05-22 07:06] arfon commented on #3307
@whedon check references from branch joss

[2021-05-22 07:06] whedon commented on #3307
[code]

[2021-05-22 07:06] arfon commented on #3307
@whedon generate pdf from branch joss

[2021-05-22 07:06] whedon commented on #3307
[code]

[2021-05-22 07:06] whedon commented on #3307
[code]

[2021-05-22 07:06] whedon commented on #3307
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03307/joss.03307/10.21105.joss.03307.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03307/joss.03307/10.21105.joss.03307.pdf) :page_facing_up: :point_left:

[2021-05-22 07:23] GiulioCostantini commented on #3148
Hi all,
Sorry, I missed the first email. I would like to review this package, when
is the deadline for completing this task?
Best,
Giulio

Giulio Costantini, PhD
Assistant professor
Psychology Department
University of Milano-Bicocca
P.zza dell'Ateneo Nuovo, 1 (U6) - room 3127
20126 Milan (MI)
Phone ++39 02.6448.3839

Il giorno ven 21 mag 2021 alle ore 19:47 Sacha Epskamp <
***@***.***> ha scritto:

[2021-05-22 08:49] IndrajeetPatil commented on #3167
I see 40/40 checks!!! Thanks, @njtierney! 😄

@csoneson Does this mean the review process is finished?

[2021-05-22 11:06] marypiper commented on #3201
@lpantano, I am still working on the review.

[2021-05-22 12:06] VNNikolaidis commented on #2876
@arfon I hope I followed the instructions correctly (used Zenodo) and the related DOI is 10.5281/zenodo.4780958
(i.e. [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4780958.svg)](https://doi.org/10.5281/zenodo.4780958))
I thank you and everyone else involved.

[2021-05-22 12:28] arfon commented on #3148
⚡ thanks!

@GiulioCostantini - ideally we'd want the review to be complete within 4-6 weeks but we ask reviewers to start before then as JOSS reviews are generally quite iterative (authors making updates as feedback is received).

I'm going to add you as a reviewer now and start the main review issue. If this timing doesn't work, please let me know, we can probably work with your schedule.

[2021-05-22 12:28] arfon commented on #3148
@whedon add @GiulioCostantini as reviewer

[2021-05-22 12:28] whedon commented on #3148
OK, @GiulioCostantini is now a reviewer

[2021-05-22 12:28] arfon commented on #3148
@whedon start review

[2021-05-22 12:28] whedon opened #3308 "[REVIEW]: GGMnonreg: Non-Regularized Gaussian Graphical Models"
**Submitting author:** @donaldRwilliams (<a href="http://orcid.org/0000-0001-6735-8785">Donald Williams </a>)
**Repository:** <a href="https://github.com/donaldRwilliams/GGMnonreg" target ="_blank">https://github.com/donaldRwilliams/GGMnonreg</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @AlexChristensen, @GiulioCostantini
**Archive:** <a href="https://doi.org/10.5281/zenodo.5668161" tar

[2021-05-22 12:28] whedon commented on #3148
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3308.

[2021-05-22 12:28] #3148 closed

[2021-05-22 12:28] whedon commented on #3308
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AlexChristensen, @GiulioCostantini it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-05-22 12:29] whedon commented on #3308
[code]

[2021-05-22 12:29] whedon commented on #3308
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03308/joss.03308/10.21105.joss.03308.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03308/joss.03308/10.21105.joss.03308.pdf) :page_facing_up: :point_left:

[2021-05-22 12:29] whedon commented on #3308
[code]

[2021-05-22 12:29] arfon commented on #3148
@AlexChristensen, @GiulioCostantini - many thanks for agreeing to review this submission! See you over in #3308 where the actual review will take place.

[2021-05-22 12:30] arfon commented on #3308
@AlexChristensen, @GiulioCostantini – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have b

[2021-05-22 12:31] arfon commented on #2876
@whedon set 10.5281/zenodo.4780958 as archive

[2021-05-22 12:31] whedon commented on #2876
OK. <a href="https://doi.org/10.5281/zenodo.4780958" target="_blank">10.5281/zenodo.4780958</a> is the archive.

[2021-05-22 12:31] arfon commented on #2876
@whedon accept

[2021-05-22 12:31] whedon commented on #2876
[code]

[2021-05-22 12:32] whedon commented on #2876
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2331

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2331, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-22 12:32] whedon commented on #2876
[code]

[2021-05-22 12:33] arfon commented on #2876
@VNNikolaidis – forgive me if we've checked these already, but are the DOIs that Whedon is suggesting above correct for your references? If any of them are, please add the DOIs to your BibTeX file, e.g., `doi=10.1163/2214-8647_bnp_e612900`

[2021-05-22 13:52] marypiper commented on #3201
Hi @david-barnett, just wanted to let you know that I have posted a couple of issues related to questions I had regarding the statement of need (https://github.com/david-barnett/microViz/issues/26) and the functionality of the RShiny app (https://github.com/david-barnett/microViz/issues/25). Thanks!

[2021-05-22 18:52] VNNikolaidis commented on #2876
@arfon - on the contrary, thanks for notifying me. Of the 3 DOI suggestions, one is valid (it actually refers to a paper of my own).  The other two DOIs suggested by Whedon are not, they are not the documents referred to by the paper.
I updated the BibTex file on Github but to update Zenodo I took the step to make a new release. This results in a new Zenodo DOI which is DOI: 10.5281/zenodo.4781510

[2021-05-23 02:38] jacobmerson commented on #3307
Potential reviewers based on the joss_reviewers list starting at the bottom.
1. balos1
2. joeweaver
3. justingray (has modeling experience, C++ is secondary language which might be a challenge since I use a few more advanced features like SFINAE, forwarding refs, etc.)
4. atismer
5. zeroset

[2021-05-23 08:20] arfon commented on #2876
@whedon set 10.5281/zenodo.4781510 as archive

[2021-05-23 08:20] whedon commented on #2876
OK. <a href="https://doi.org/10.5281/zenodo.4781510" target="_blank">10.5281/zenodo.4781510</a> is the archive.

[2021-05-23 08:21] arfon commented on #2876
@whedon set v.0.1.7.a as version

[2021-05-23 08:21] whedon commented on #2876
OK. v.0.1.7.a is the version.

[2021-05-23 08:21] arfon commented on #2876
@whedon accept

[2021-05-23 08:21] whedon commented on #2876
[code]

[2021-05-23 08:21] whedon commented on #2876
[code]

[2021-05-23 08:21] whedon commented on #2876
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2332

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2332, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-23 08:40] arfon commented on #2876
@VNNikolaidis - a couple of minor additional things. Please merge this PR which makes a few formatting fixes to your paper: https://github.com/VNNikolaidis/nnlib2Rcpp/pull/12

Also, I think you should probably cite the `R` language. You can read about how to do that here: https://intro2r.com/citing-r.html

Finally, don't worry about making a new release for these changes to the paper.

[2021-05-23 11:11] csoneson commented on #3167
Great! Just for the book-keeping, I'd like to confirm with @njtierney and @kevinrue that they are both happy with the current state of the submission and that there are no pending issues that they would still like to see addressed. Then I will take a quick look as well, and then we'll move on with the final steps towards accepting the submission.

[2021-05-23 11:11] csoneson commented on #3167
@whedon generate pdf

[2021-05-23 11:12] whedon commented on #3167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: :point_left:

[2021-05-23 11:27] csoneson commented on #3167
@whedon check references

[2021-05-23 11:28] whedon commented on #3167
[code]

[2021-05-23 11:54] IndrajeetPatil commented on #3167
Thanks, @csoneson.

I think this note is incorrect though.

The book in question was published in 1994, way before when `doi`s were introduced (2000). At least, I find no evidence that the suggested `doi` is for this book.

[2021-05-23 12:19] csoneson commented on #3167
Yes, I agree - that `doi` appears to point to a review of the book.

[2021-05-23 12:20] njtierney commented on #3167
All good on my end, happy to sign off on the review.

[2021-05-23 12:44] VNNikolaidis commented on #2876
I merged the formatting changes (btw, thank you for the effort, time and instructions), added the reference to R language (a valid point) and checked it on the Whedon paper preview service.

About not doing a new release: I realized a release was probably not necessary (since the paper was probably compiled from GitHub) right after I rushed to do yesterday’s release (v.0.1.7.a) only to update Zeno

[2021-05-23 14:50] jGaboardi commented on #3303
@whedon generate pdf

[2021-05-23 14:50] whedon commented on #3303
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03303/joss.03303/10.21105.joss.03303.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03303/joss.03303/10.21105.joss.03303.pdf) :page_facing_up: :point_left:

[2021-05-23 14:51] arfon commented on #2876
@whedon set 10.5281/zenodo.4780958 as archive

[2021-05-23 14:51] whedon commented on #2876
OK. <a href="https://doi.org/10.5281/zenodo.4780958" target="_blank">10.5281/zenodo.4780958</a> is the archive.

[2021-05-23 14:51] arfon commented on #2876
@whedon accept

[2021-05-23 14:51] whedon commented on #2876
[code]

[2021-05-23 14:52] whedon commented on #2876
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2333

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2333, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-23 14:52] whedon commented on #2876
[code]

[2021-05-23 14:56] arfon commented on #2876
@whedon accept deposit=true

[2021-05-23 14:56] whedon commented on #2876
[code]

[2021-05-23 14:57] whedon commented on #2876
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1396480298284720129) 👈 🐦🐦🐦

[2021-05-23 14:57] whedon commented on #2876
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2334
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02876](https://doi.org/10.21105/joss.02876)
2. If everything look

[2021-05-23 15:01] arfon commented on #2876
@schnorr, @MohmedSoudy – many thanks for your reviews here and to @kakiac for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@VNNikolaidis – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-23 15:01] #2876 closed

[2021-05-23 15:01] whedon commented on #2876
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02876/status.svg)](https://doi.org/10.21105/joss.02876)

**We need your help!**

Journal of Open Source Softwa

[2021-05-23 15:02] whedon opened #3309 "[PRE REVIEW]: nnde: A Python package for solving differential equations using neural networks"
**Submitting author:** @elwinter (<a href="http://orcid.org/0000-0001-5226-2107">Eric Winter</a>)
**Repository:** <a href="https://github.com/elwinter/nnde" target ="_blank">https://github.com/elwinter/nnde</a>
**Version:** 0.0.7
**Editor:** @diehlpk
**Reviewers:** @taless474, @hayesall
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2021-05-23 15:02] whedon commented on #3309
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-23 15:03] whedon commented on #3309
[code]

[2021-05-23 15:03] whedon commented on #3309
PDF failed to compile for issue #3309 with the following error:
[code]

[2021-05-23 15:05] arfon commented on #3309
:wave: @elwinter – thanks for your submission to JOSS. It looks like you're missing the BibTeX file to go with the `paper.md` file here?

[2021-05-23 16:16] zbeekman commented on #3217
I’m happy to review! Sounds interesting!

[2021-05-23 17:15] VNNikolaidis commented on #2876
Great, and to everyone involved in the process, thank you!

[2021-05-23 17:30] lukapecnik commented on #2949
Hello @arfon! I've archived the project using Zenodo. The DOI is `10.5281/zenodo.4782445` and the link to the archive is [https://zenodo.org/record/4782445#.YKqPs6gzaUl](url). I hope this is what you had in mind with updating this thread, otherwise please let me know.

[2021-05-23 18:19] atrisovic commented on #2484
@whedon generate pdf

[2021-05-23 18:19] whedon commented on #2484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02484/joss.02484/10.21105.joss.02484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02484/joss.02484/10.21105.joss.02484.pdf) :page_facing_up: :point_left:

[2021-05-23 18:28] VNNikolaidis commented on #2876
Great! To everyone involved in this review process, thank you and best regards!

[2021-05-23 19:56] dansarie commented on #2946
@whedon check references from branch joss

[2021-05-23 19:56] whedon commented on #2946
[code]

[2021-05-23 19:56] whedon commented on #2946
[code]

[2021-05-23 19:57] dansarie commented on #2946
@HeshamAlsaadi The references in the .bib file look ok to me and the reference check seems to be working.

[2021-05-23 20:03] arfon commented on #2949
@whedon set 10.5281/zenodo.4782445 as archive

[2021-05-23 20:03] whedon commented on #2949
OK. <a href="https://doi.org/10.5281/zenodo.4782445" target="_blank">10.5281/zenodo.4782445</a> is the archive.

[2021-05-23 20:03] arfon commented on #2949
@whedon accept

[2021-05-23 20:03] whedon commented on #2949
[code]

[2021-05-23 20:03] whedon commented on #2949
[code]

[2021-05-23 20:04] whedon commented on #2949
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2335

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2335, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-23 20:04] csoneson commented on #3216
@kyleniemeyer - I'm afraid that this is pretty far from what I have experience with, especially in terms of the implementation framework...I think an editor with closer experience would do a better job here.

[2021-05-23 20:08] arfon commented on #2949
@whedon accept deposit=true

[2021-05-23 20:08] whedon commented on #2949
[code]

[2021-05-23 20:09] whedon commented on #2949
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1396558912795652102) 👈 🐦🐦🐦

[2021-05-23 20:09] whedon commented on #2949
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2336
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02949](https://doi.org/10.21105/joss.02949)
2. If everything look

[2021-05-23 20:15] arfon commented on #2949
@adi3, @sara-02 – many thanks for your reviews here! JOSS relies upon the volunteer efforts of folks like you, and we simply wouldn't be able to do this without you ✨

@lukapecnik – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-23 20:15] #2949 closed

[2021-05-23 20:15] whedon commented on #2949
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02949/status.svg)](https://doi.org/10.21105/joss.02949)

**We need your help!**

Journal of Open Source Softwa

[2021-05-23 20:19] atrisovic commented on #2484
Hey All,

Thanks for incorporating the changes in the paper - it looks good!

Here are some suggestions I had while reading it that could help the reader (most are typos, or style that you can feel free to ignore).

The data generated from scientific workflows often become unusable due to the lack or incompleteness of information required for processing and analyzing the data.
=>
The data generate

[2021-05-23 20:19] arfon commented on #3307
@jacobmerson – thanks for these recommendations. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-05-23 20:26] arfon commented on #3299
@daniel-acuna – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-cod

[2021-05-23 20:26] arfon commented on #3299
@whedon reject

[2021-05-23 20:26] whedon commented on #3299
Paper rejected.

[2021-05-23 20:26] #3299 closed

[2021-05-23 20:41] elwinter commented on #3309
DOH! Will upload it when i get home.

I hope all is well with you Arfon. I left ST in December for APL.

Eric

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Arfon Smith ***@***.***>
Sent: Sunday, May 23, 2021 11:05:41 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PR

[2021-05-23 20:46] rdeits commented on #3060
Could one of the `openjournals` admins confirm that I still have collaborator access on this repository? I can no longer modify the checklist above, and I do not see this repo listed under my https://github.com/settings/repositories list anymore.

I know that I previously had access because I was able to partially complete the checklist earlier.

[2021-05-23 21:54] daniel-acuna commented on #3299
Thanks for the time to look into it! We'll create this id for our repo and share the manuscript in some other way.

[2021-05-24 02:19] SunilAnandatheertha commented on #3190
Thank you for the feedback and review. I will address these soon and post
it here.

On Fri, May 21, 2021, 1:22 PM Yuhui Tu ***@***.***> wrote:

[2021-05-24 02:35] yuhc commented on #3296
Hi @mjsottile, I've tried to run the software within the latest docker on Ubuntu 20.04, but it requires a subtle change and doesn't return search results as expected. Shall I contact the author to resolve this issue? (The document doesn't state enough about the environment settings.)

[2021-05-24 03:02] levimcclenny commented on #3297
I also commented on the issue opened by @Het-Shah. I think it's a good paper as well. A few minor things but overall well-written and the documentation is really professional. Would like to see more accessible examples though. Other comments are on the repo.

[2021-05-24 03:11] isidentical commented on #3296
Please let me know about any problems you experience to build / run the Reiz on the bug tracker @yuhc. Thanks!

[2021-05-24 03:41] dbarneche commented on #3282
Hi @kthyng,

Thanks very much for advancing this, and apologies for the delayed response. I have addressed the comments mention in the [pre-review issue](https://github.com/openjournals/joss-reviews/issues/3258). Particularly, I renamed the first section to "Statement of Need" and shortened some bits of the paper as advised. There is still a bit of repetition with the package documentation/vignett

[2021-05-24 05:07] yuhc commented on #3296
Hi @isidentical, I'm running Ubuntu 20.04, Docker 19.03.13, docker-compose 1.26.2.
I had to change [docker-compose's version](https://github.com/reizio/reiz.io/blob/master/docker-compose.yml#L1) from 3.9 to 3.8 to build and start the container.

The build instruction is usually expected to contain the system environment.

I didn't see `API is running on ...` on the server end, but I could access t

[2021-05-24 05:12] isidentical commented on #3296
I had to change docker-compose's version from 3.9 to 3.8 to build and start the container.

Interesting, I can successfully spin the instances with 3.9 though will definitely investigate (would you mind opening an issue on the tracker).

You should wait the API to start before accessing, since without it the web ui will just wait and timeout eventually. Would you mind sending me the logs (btw it w

[2021-05-24 05:23] jedbrown commented on #3031
@zgxn @jnp75 :wave: Would you be willing to review this submission for JOSS? It's a well-defined geochemistry module developed within the MOOSE repository.

[2021-05-24 05:23] jedbrown commented on #3031
@zgxn @jmp75 :wave: Would you be willing to review this submission for JOSS? It's a well-defined geochemistry module developed within the MOOSE repository.

[2021-05-24 05:30] yuhc commented on #3296
Created https://github.com/reizio/reiz.io/issues/51.

Created https://github.com/reizio/reiz.io/issues/52.

[2021-05-24 06:16] coljac commented on #3283
@danielskatz I'm just turning to this review. I thought I accepted the invite but it appears I did not and it has expired. Can this be reissued?

[2021-05-24 07:07] HeloiseS commented on #3257
Hi !

just wanted to check in to say that I never got the notification for this (even on github) I should have sent an email earlier to check everything was working!

I'll be taking a look at this in the next few days but FYI I'm in the middle of starting fellowship applications so I'm doing my best, not just dragging my feet - looking forward to looking at this!

Cheers,
Heloise

[2021-05-24 07:34] vissarion commented on #3303
@whedon assign me as editor

[2021-05-24 07:34] whedon commented on #3303
OK, the editor is @vissarion

[2021-05-24 07:36] vissarion commented on #3306
@whedon assign me as editor

[2021-05-24 07:36] whedon commented on #3306
OK, the editor is @vissarion

[2021-05-24 08:11] will-rowe commented on #3247
Thanks for a thorough review @DARSakthi. It looks like @joeweaver has completed his as well (issues [here](https://github.com/mjacob1002/Eir/issues/9) and [here](https://github.com/mjacob1002/Eir/issues/10))? Please confirm @joeweaver.

@mjacob1002 - there are a few boxes yet to be checked in both reviews, please could you work toward achieving these. In addition please also respond to the specifi

[2021-05-24 08:13] xuanxu commented on #3257
@whedon re-invite HeloiseS as reviewer

[2021-05-24 08:13] whedon commented on #3257
OK, the reviewer has been re-invited.

@heloises please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-24 08:29] arfon commented on #3282
Weird... Can you try again now please?

[2021-05-24 08:30] arfon commented on #3309
:wave: all good here thanks! Congrats on the new role, I hope APL is treating you well!

[2021-05-24 08:30] whedon commented on #3270
:wave: @peircej, please update us on how your review is going (this is an automated reminder).

[2021-05-24 08:30] whedon commented on #3270
:wave: @EleonoraVagnoni, please update us on how your review is going (this is an automated reminder).

[2021-05-24 08:30] whedon commented on #3270
:wave: @KirstensGitHub, please update us on how your review is going (this is an automated reminder).

[2021-05-24 08:56] kevinrue commented on #3167
Same here. I'm happy with the current state of the paper and package.

[2021-05-24 09:09] joeweaver commented on #3247
Yep @will-rowe, I've the two issues you referenced are the only thins preventing me from marking the review as finished. Assuming they're addressed, I'd recommended acceptance.

[2021-05-24 09:26] csoneson commented on #3167
Excellent, thanks both - @IndrajeetPatil, I'll get back to you shortly.

[2021-05-24 10:17] arfon commented on #2496
@whedon withdraw

[2021-05-24 10:17] whedon commented on #2496
Paper withdrawn.

[2021-05-24 10:17] #2496 closed

[2021-05-24 10:52] whedon opened #3310 "[PRE REVIEW]: PyAFBF: a Python library to sample image textures from the anisotropic fractional Brownian field."
**Submitting author:** @fjprichard (<a href="http://orcid.org/0000-0001-5146-9894">Frédéric Richard</a>)
**Repository:** <a href="https://github.com/fjprichard/PyAFBF/" target ="_blank">https://github.com/fjprichard/PyAFBF/</a>
**Version:** v0.0.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-05-24 10:52] whedon commented on #3310
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-24 10:52] whedon commented on #3310
PDF failed to compile for issue #3310 with the following error:
[code]

[2021-05-24 10:52] whedon commented on #3310
[code]

[2021-05-24 11:03] dfm commented on #3068
:wave: @teuben - have you had a chance to get started on this review? Let me know if you have any questions/updates/etc!

[2021-05-24 11:05] dfm commented on #3199
:wave: @kburns, @MilesCranmer - Any updates on this? Let me know if you have any questions or if you run into any issues. Thanks!

[2021-05-24 11:10] vkrajnak commented on #3301
@whedon generate pdf

[2021-05-24 11:11] whedon commented on #3301
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03301/joss.03301/10.21105.joss.03301.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03301/joss.03301/10.21105.joss.03301.pdf) :page_facing_up: :point_left:

[2021-05-24 11:14] vkrajnak commented on #3301
@whedon generate pdf

[2021-05-24 11:15] whedon commented on #3301
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03301/joss.03301/10.21105.joss.03301.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03301/joss.03301/10.21105.joss.03301.pdf) :page_facing_up: :point_left:

[2021-05-24 11:16] richardjgowers commented on #3301
@kyleniemeyer yeah I'm a little busy this week but I can get the ball rolling this weekend.

[2021-05-24 12:18] danielskatz commented on #3283
@whedon re-invite @coljac as reviewer

[2021-05-24 12:18] whedon commented on #3283
OK, the reviewer has been re-invited.

@coljac please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-24 12:29] danielskatz commented on #3211
👋 @adi3 & @PierreGuilbertF - Just checking again: how are your reviews going?

[2021-05-24 12:29] danielskatz commented on #3272
👋 @medewitt and @JosiahParry - I just wanted to check in and see how things are going with these reviews...

[2021-05-24 12:31] danielskatz commented on #3295
👋 @jorge-lip - I just want to point out that there are now some issues that have arisen in the review process...

[2021-05-24 12:58] csoneson commented on #3167
@IndrajeetPatil - I just sent a PR with some small fixes to the paper and bibliography. Please have a look and merge if you agree. There are a couple of additional things that I think needs fixing in the bibliography:

- [ ] add all the authors for Doorn et al
- [ ] add ISBNs to all the books for consistency
- [ ] fix the titles of Ludecke et al (2020, 2021) - the ones given in the bibliography ar

[2021-05-24 13:02] arfon commented on #3310
@whedon generate pdf from branch joss

[2021-05-24 13:02] whedon commented on #3310
[code]

[2021-05-24 13:02] whedon commented on #3310
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03310/joss.03310/10.21105.joss.03310.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03310/joss.03310/10.21105.joss.03310.pdf) :page_facing_up: :point_left:

[2021-05-24 13:03] arfon commented on #3264
:wave: @dagghe - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-co

[2021-05-24 13:04] arfon commented on #3264
@whedon reject

[2021-05-24 13:04] whedon commented on #3264
Paper rejected.

[2021-05-24 13:04] #3264 closed

[2021-05-24 13:04] whedon commented on #3310
[code]

[2021-05-24 13:05] whedon commented on #3310
[code]

[2021-05-24 13:49] diehlpk commented on #3217
@whedon add @zbeekman as reviewer

[2021-05-24 13:49] whedon commented on #3217
OK, @zbeekman is now a reviewer

[2021-05-24 13:50] diehlpk commented on #3217
@whedon start review

[2021-05-24 13:50] whedon opened #3311 "[REVIEW]: Collaborative Container Modules with Singularity Registry HPC"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://github.com/singularityhub/singularity-hpc" target ="_blank">https://github.com/singularityhub/singularity-hpc</a>
**Version:** v0.0.31
**Editor:** @diehlpk
**Reviewer:** @rcannood, @zbeekman, @ArangoGutierrez
**Archive:** <a href="https://doi.org/10.5281/zenodo.5116598

[2021-05-24 13:50] whedon commented on #3217
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3311.

[2021-05-24 13:50] #3217 closed

[2021-05-24 13:50] whedon commented on #3311
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rcannood, @zbeekman it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-05-24 13:50] elwinter commented on #3309
Hi Arfon. I added the paper.bib file to the nnde repo. Sorry about that.

Take care,
Eric

On Mon, May 24, 2021 at 4:30 AM Arfon Smith ***@***.***>
wrote:

[2021-05-24 13:50] whedon commented on #3311
Failed to discover a `Statement of need` section in paper

[2021-05-24 13:50] whedon commented on #3311
[code]

[2021-05-24 13:50] whedon commented on #3311
[code]

[2021-05-24 13:50] whedon commented on #3311
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: :point_left:

[2021-05-24 13:51] diehlpk commented on #3274
@whedon check references

[2021-05-24 13:51] whedon commented on #3274
[code]

[2021-05-24 13:52] ArangoGutierrez commented on #3217
Hey sorry to be late to the party, I am more than happy to help here

[2021-05-24 13:53] diehlpk commented on #3274
@clavigne Can you please add this one missing DOI

MISSING DOIs

- 10.21276/ijre.2018.5.5.4 may be a valid DOI for title: MapReduce: Simplified Data Processing on Large Clusters

[2021-05-24 14:03] arfon commented on #3309
@whedon generate pdf

[2021-05-24 14:03] whedon commented on #3309
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03309/joss.03309/10.21105.joss.03309.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03309/joss.03309/10.21105.joss.03309.pdf) :page_facing_up: :point_left:

[2021-05-24 14:04] sara-02 commented on #3244
Hey @kthyng @alicia-ziying-yang I would be happy to review this when it gets off the waitlist. :)

[2021-05-24 14:04] diehlpk commented on #3217
@whedon add @ArangoGutierrez as reviewer

[2021-05-24 14:04] whedon commented on #3217
OK, @ArangoGutierrez is now a reviewer

[2021-05-24 14:20] diehlpk commented on #3311
@vsoch Could you please add the `Statement of need` because each paper requires one
`
A Statement of Need section that clearly illustrates the research purpose of the software.`

[2021-05-24 15:02] vsoch commented on #3311
@whedon generate pdf

[2021-05-24 15:04] whedon commented on #3311
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: :point_left:

[2021-05-24 15:04] junjun-zhang commented on #3197
Have noticed some differences between the instructions described in the **Examples** section of the paper and that of the Ceiba documentation website.

I would suggest updating the documentation site to the latest and greatest since there will be where Ceiba users are expected to use. Also, checked a few other papers published on JOSS, they don’t typically include detailed step-by-step instruction

[2021-05-24 15:07] vsoch commented on #3311
@diehlpk all set! It was an oversight to not rename the Background section to Statement of Need.

[2021-05-24 15:34] lukapecnik commented on #2949
@arfon thank you very much! 🎉

@adi3 and @sara-02 I thank you again in the name of both authors for your reviews and making our project better.

Best regards

[2021-05-24 15:37] diehlpk commented on #3311
Thanks, the paper is now good for review.

[2021-05-24 16:14] arfon commented on #3269
@whedon invite @mbobra as editor

:wave: @mbobra – I realize this is a little out-of-field for you but would you be willing to edit this submission for us?

[2021-05-24 16:14] whedon commented on #3269
@mbobra has been invited to edit this submission.

[2021-05-24 16:16] mbobra commented on #3269
@whedon assign me as editor

[2021-05-24 16:16] whedon commented on #3269
OK, the editor is @mbobra

[2021-05-24 16:18] mbobra commented on #3269
@ashleychontos Thanks for your submission! If you have any suggestions for reviewers, please let me know here (you can give me the Github handle without @ mentioning them, e.g. mbobra instead of @mbobra).

[2021-05-24 16:19] IndrajeetPatil commented on #3167
- [ ] add all the authors for Doorn et al
- [ ] add ISBNs to all the books for consistency
- [ ] fix the titles of Ludecke et al (2020, 2021) - the ones given in the bibliography are not the same as the papers that the DOIs point to
- [ ] replace the statsExpressions preprint with the link to the JOSS paper (I saw that it was accepted recently)

Once this is done, the next steps are as follows:

-

[2021-05-24 16:22] marouenbg commented on #3215
Hi @kellyrowland , I finished the review of `yaml2sbml` and the authors addressed all of my comments. I think it is a high quality contribution (docs, CI, notebook tutorial) and I wanted to congratulate the authors for such an amazing work and attention to detail.

[2021-05-24 16:24] lockepatton commented on #2446
We are happy to add a statement at the top of our README disambiguating `SoniPy` and `soni-py` and point people to David Worrall's work, and have done so!

From what I'm gathering from @faroit and @afron, it sounds like sticking with `soni-py`, with a disambiguation in the README sounds like a good place to settle. Am I missing anything else?  If not, shall we unpause? Thanks!

[2021-05-24 16:42] adi3 commented on #3211
@PacoCosta Can you please edit your paper to write Qlunc in regular font instead of as a code block?
In addition, can this be installed via `pip` or `conda`? I don't see it mentioned in the installation instructions.

[2021-05-24 16:54] adi3 commented on #3211
@PacoCosta A few more points.

1. Please remove the `Usage` and `Tutorials` section from your paper. These do not go in a JOSS paper.
2. Please combine the `Summary` and `Qlun's capabilities` section. As it is, the `Summary` section a is bit too verbose right now and I would recommend you in condensing it. Thereafter, add the content from `Qlun's capabilities` under `Summary` and ensure there is n

[2021-05-24 17:07] IndrajeetPatil commented on #3167
@whedon generate pdf

[2021-05-24 17:08] whedon commented on #3167
PDF failed to compile for issue #3167 with the following error:
[code]

[2021-05-24 17:09] adi3 commented on #2990
@sdmccabe Thanks for your patience. I went through your paper and the content of it looks quite good. However, it needs to be restructured and condensed a little.

1. Please have two separate sections title `Summary` and `Statement of Need`. Most of the content you present in other sections is either (a) not within the scope of a JOSS publication and should be removed (like the entire `Related sof

[2021-05-24 17:17] adi3 commented on #3255
@LiangliangNan Your `Summary` and `Statement of Need` sections are switched. Please correct this and regenerate the article proof. Also, about the figure you have included in the paper, can you please put the plain raw files in a simple grid layout? Right now, they are shown as a collage of overlapping elliptic frames with colorful borders and shadows around them? This is not appropriate for an ac

[2021-05-24 17:48] kellyrowland commented on #3215
Great! Thank you very much for your reviews, @marouenbg and @SirSharpest .

[2021-05-24 17:49] kellyrowland commented on #3215
@whedon accept

[2021-05-24 17:49] whedon commented on #3215
No archive DOI set. Exiting...

[2021-05-24 17:51] kellyrowland commented on #3215
Oops, almost there. 🙂

@jvanhoefer can you please create an archive (on Zenodo, figshare, etc.) and post the archive DOI here in this issue?

[2021-05-24 18:05] PacoCosta commented on #3211
@adi3, Thanks for your comments. In response to them:

No, it can't be installed via pip nor conda. All along with the paper, neither conda nor pip is named as installers.

------------------------------------------------------------------------------------------------------------------------------------

A few more points.

[x] 1. Please remove the Usage and Tutorials section from your paper. The

[2021-05-24 18:06] arfon commented on #2446
@lockepatton – are you planning on addressing this feedback from @faroit too? 👇

[2021-05-24 18:13] joseph-palmer commented on #3290
Thanks @mponce0 for the helpful review comments - really nice to get some critical eyes on the package. Some detailed responses below.

The licence documentation follows the format of other packages, such as dplyr (https://github.com/tidyverse/dplyr). We are happy to update this is you have a link to better/newer practice that is CRAN compliant?

We follow the convention of MAJOR.MINOR.PATCH (http

[2021-05-24 18:23] patrickcgray commented on #3168
Hi all,

My apologies for my review taking the full six weeks. I've gone through the paper and the repo and have finished my review. I recommend an acceptance and have a few minor comments raised in this [issue](https://github.com/davemlz/eemont/issues/28). I was not able to log in as a reviewer for some reason, but have included my checklist below. @kbarnhart if you're able to resubmit the invite

[2021-05-24 18:36] kbarnhart commented on #3168
@whedon re-invite @patrickcgray as reviewer

[2021-05-24 18:36] whedon commented on #3168
OK, the reviewer has been re-invited.

@patrickcgray please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-24 18:38] kbarnhart commented on #3168
@patrickcgray thanks for your review and no problem at all regarding the timeframe.

@davemlz if you have questions for me as you address remaining reviewer comments, please post them here. If not, let me know when you have finished addressing them.

[2021-05-24 18:58] melissawm commented on #3208
:wave: Hello, @krystophny & @dpsanders , would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-05-24 18:59] melissawm commented on #2974
Hello, folks! @chkoar @geoffreyp and @sjvrijn Just checking in - anything I can help you with?

[2021-05-24 19:10] patrickcgray commented on #3168
Okay great thanks @kbarnhart! I've now completed the checklist and it all looks good to me pending @davemlz's comments on my issue in the `eemont` repo.

[2021-05-24 19:20] kthyng commented on #3244
@sara-02 That's awesome! Thank you for your offer! Whoever takes this submission on as editor will see these notes and may reach out to you.

[2021-05-24 19:36] crvernon commented on #3221
@kthyng @cheginit Are there any questions that we could answer to help get you started with your `mosartwmpy`?   Please don't hesitate to reach out.  Thanks!

[2021-05-24 19:45] kthyng commented on #3221
Just to clarify — I'm the editor for your submission @crvernon but am not reviewing your software.

[2021-05-24 19:46] crvernon commented on #3221
Apologies @kthyng !

[2021-05-24 19:47] atrisovic commented on #2484
Hey All, just to finalize my review - all looks good to me, and I checked off all the boxes. Please let me know if I can help with anything else, and ofc, congrats to the authors! 🎉

[2021-05-24 20:00] darothen commented on #3219
@dhhagan Just checking in here - anything immediately needed from me here?

@slayoo please let me know if there are any PRs or other updates I've missed.

[2021-05-24 20:04] eloisabentivegna commented on #3288
@tomidakn, @felker, would you be able to provide a review for this submission to JOSS?

[2021-05-24 20:18] mjacob1002 commented on #3247
Hi all,

Sorry for the late replies - I'm currently in the middle of exam season and have been preoccupied the past couple of days.

@joeweaver, I think I satisfied the two issues that brought up. Please let me know if my changes fix the problem.

@DARSakthi, thanks for the feedback! I think I fixed the documentation issues. For the SEIR and SIRS documentation issues, however, could you please giv

[2021-05-24 20:18] mjacob1002 commented on #3247
Also @will-rowe, should I mention that this project received no funding, or should I remove that from the paper?

[2021-05-24 21:00] IndrajeetPatil commented on #3167
@whedon generate pdf

[2021-05-24 21:01] whedon commented on #3167
PDF failed to compile for issue #3167 with the following error:
[code]

[2021-05-24 21:21] slayoo commented on #3219
We are almost done with preparing a release and will soon after post here a point-by-point reply to the review detailing how the points were addressed in the release. Thanks, S.

[2021-05-24 21:48] IndrajeetPatil commented on #3167
@csoneson I am not sure how to solve the compilation error. I don't know which change led to this, so not sure how to solve this 😢

[2021-05-24 21:49] DARSakthi commented on #3247
That's great -- I'll be sure to take a look again and give (hopefully final) remarks. New documentation looks much better

it seems as though [https://github.com/mjacob1002/Eir/blob/master/docs/Deterministic/SIRS.md](https://github.com/mjacob1002/Eir/blob/master/docs/Deterministic/SIRS.md) and SEIR have beta in it -- I recall not seeing this and being confused when the model threw an error, but I'

[2021-05-24 22:04] gflofst commented on #2484
I just got back from vacation and my challenge with the instructions for Windows were addressed, but needs to be verified. I should be able to get that done in a day or two and finalize my review

[2021-05-24 23:07] cheginit commented on #3221
@crvernon Hi Chris, sorry for the delay. I will post my questions by the end of this week.

[2021-05-24 23:25] whedon commented on #3272
:wave: @JosiahParry, please update us on how your review is going (this is an automated reminder).

[2021-05-24 23:25] whedon commented on #3272
:wave: @medewitt, please update us on how your review is going (this is an automated reminder).

[2021-05-24 23:34] felker commented on #3288
Unfortunately I cannot, but I would suggest to the authors to change the reference for Athena++: https://ui.adsabs.harvard.edu/abs/2020ApJS..249....4S/abstract

See details here: https://github.com/PrincetonUniversity/athena

[2021-05-24 23:46] LiangliangNan commented on #3255
@adi3 Thanks for pointing out the issues. The paper has been updated in the repository.

[2021-05-24 23:46] LiangliangNan commented on #3255
@whedon generate pdf from branch joss

[2021-05-24 23:46] whedon commented on #3255
[code]

[2021-05-24 23:47] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-05-24 23:47] JosiahParry commented on #3272
@danielskatz quick point of clarification (and point me to any documentation, please): must the `LICENSE` contain the full content of the license? Or is the LICENSE.md containing that information sufficient?

[2021-05-24 23:48] bprather commented on #3288
@whedon generate pdf from branch joss-paper-branch

@felker Thanks! Apologies for the omission, it should be fixed now.

[2021-05-24 23:48] whedon commented on #3288
[code]

[2021-05-24 23:48] whedon commented on #3288
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03288/joss.03288/10.21105.joss.03288.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03288/joss.03288/10.21105.joss.03288.pdf) :page_facing_up: :point_left:

[2021-05-24 23:57] danielskatz commented on #3272
I'm not sure it matters if the file is `LICENSE` or `LICENSE.md` but having both with different contents seems bad to me in my Python world.  I would say that `LICENSE` in this case should be removed, but CRAN has policies that seem odd to me, specifically see the MIT link in https://cran.r-project.org/web/licenses/

[2021-05-24 23:59] LiangliangNan commented on #3255
@whedon generate pdf from branch joss

[2021-05-24 23:59] whedon commented on #3255
[code]

[2021-05-25 00:00] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-05-25 00:01] JosiahParry commented on #3272
@cjbarrie, you're missing a code of conduct. I'd recommend starting with a template from something like `usethis::use_code_of_conduct()`

[2021-05-25 00:02] medewitt commented on #3272
@danielskatz still working through the review on my end. I have put in two PRs

[Update to Cite the JOSS Article for rtweet](https://github.com/cjbarrie/academictwitteR/pull/82)
[Example of Unit Tests/ Continuous Integration Through GH Actions](https://github.com/cjbarrie/academictwitteR/pull/79)

Additionally, I have an issue on the repository for with recommendation to use the code of conduct:

[2021-05-25 00:06] medewitt commented on #3272
I believe CRAN needs the "LICENSE" file and not the markdown version (I think CRAN checks will fail on the licensing information in the DESCRIPTION file)

[2021-05-25 00:09] LiangliangNan commented on #3255
@whedon generate pdf from branch joss

[2021-05-25 00:09] whedon commented on #3255
[code]

[2021-05-25 00:10] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-05-25 00:12] teuben commented on #3068
yes, i had downloaded the code, and browsed around it's capabilities. I noted (happily) that Nyx is already in ascl on https://ascl.net/1712.006, so it's been around  a while.
But I also noted it's been 3 weeks, so easy to slip in time.  I'll get some hours in this week, it's a fun code.

[2021-05-25 00:42] whedon commented on #3273
:wave: @yunanwu123, please update us on how your review is going (this is an automated reminder).

[2021-05-25 00:42] whedon commented on #3273
:wave: @Marie-PerrotDockes, please update us on how your review is going (this is an automated reminder).

[2021-05-25 00:52] tomidakn commented on #3288
I'm sorry but I am very busy and cannot review it.

[2021-05-25 01:33] kburns commented on #3199
@dfm Thanks for the reminder and sorry for the delay. I've posted my comments and questions in https://github.com/pikarpov-LANL/Sapsan/issues/99.

[2021-05-25 03:11] vijaysm commented on #3020
@Kevin-Mattheus-Moerman @diehlpk I was unwell the past two weeks. I'll finish the rest of the review this coming week.

[2021-05-25 04:07] galessiorob commented on #3048
Thanks for being so proactive @Sergio-Bejar 👏

I'll start adding the reviewers once they agree to the assignment.

[2021-05-25 04:45] grburgess commented on #3285
@arfon I am still unable to interact with the checkboxes.

[2021-05-25 05:29] csoneson commented on #3167
@openjournals/dev - any idea what might be going on here? I'm not sure the issue was introduced by the last round of fixes; right now I'm also not able to compile the version I forked before those changes were made (using the preview service linked in  https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles).

[2021-05-25 05:30] LangeJens commented on #3210
@karthik Is there anything else I can do?

[2021-05-25 06:44] krystophny commented on #3208
Hi @melissawm , sure - it could take up to 2 weeks but I'll do my best to start soon.

[2021-05-25 07:03] arfon commented on #3285
@whedon re-invite @grburgess as reviewer

[2021-05-25 07:03] whedon commented on #3285
OK, the reviewer has been re-invited.

@grburgess please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-25 07:04] arfon commented on #3285
@grburgess – could you try clicking this link and accepting the invite? https://github.com/openjournals/joss-reviews/invitations

[2021-05-25 07:05] arfon commented on #3167
@whedon generate pdf

[2021-05-25 07:06] whedon commented on #3167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: :point_left:

[2021-05-25 07:06] arfon commented on #3167
It was the `paper.tex` file that was confusing Whedon. Looks like @IndrajeetPatil removed this and so the compilation now works.

[2021-05-25 07:11] IndrajeetPatil commented on #3167
Thanks, @arfon!
Surprised that it's working, because I had tried to compile the paper using http://whedon.theoj.org/ after the commit that removed `.tex` file, but it was still failing.

But I am glad that it's working now! 😄

[2021-05-25 07:19] IndrajeetPatil commented on #3167
@csoneson All set on my side now!

I have:
- [ ] checked all items on the checklist you had provided
- [ ] successfully compiled the PDF using `whedon`
- [ ] proof-read it to make sure style and language look okay

Let me know if there is anything else you would like me to change! :)

[2021-05-25 07:30] timtroendle commented on #3187
👋 @ritwikagarwal & @willu47, would any of you be willing to review this submission for JOSS?

[2021-05-25 08:37] csoneson commented on #3167
Excellent, thank you! Only one minor detail I noticed - in the Doorn et al, the first and second name of `Alexander Ly` have been merged, so they're not properly represented. Could you fix that? And since you're anyway modifying that entry, could you also put some braces around `van Doorn` and `van den Bergh`, so that they render nicely together. In the meantime, I'll log the archive and version i

[2021-05-25 08:41] csoneson commented on #3167
@whedon set 10.5281/zenodo.4681705 as archive

[2021-05-25 08:41] whedon commented on #3167
OK. <a href="https://doi.org/10.5281/zenodo.4681705" target="_blank">10.5281/zenodo.4681705</a> is the archive.

[2021-05-25 08:41] csoneson commented on #3167
@whedon set 0.7.2 as version

[2021-05-25 08:41] whedon commented on #3167
OK. 0.7.2 is the version.

[2021-05-25 09:09] IndrajeetPatil commented on #3167
@csoneson Thanks for pointing this out!

Fixed in https://github.com/IndrajeetPatil/ggstatsplot/commit/8517c2c5a4613f63c99e70dd53c88d030895fd28

[2021-05-25 09:09] IndrajeetPatil commented on #3167
@whedon generate pdf

[2021-05-25 09:10] whedon commented on #3167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03167/joss.03167/10.21105.joss.03167.pdf) :page_facing_up: :point_left:

[2021-05-25 09:34] sjpfenninger commented on #3213
@whedon add @abhiramm7 as reviewer

[2021-05-25 09:34] whedon commented on #3213
OK, @abhiramm7 is now a reviewer

[2021-05-25 09:35] sjpfenninger commented on #3213
@whedon start review

[2021-05-25 09:35] whedon opened #3312 "[REVIEW]: AST Toolbox: An Adaptive Stress Testing Framework for Validation of Autonomous Systems"
**Submitting author:** @mark-koren (<a href="http://orcid.org/0000-0002-9896-0960">Mark Koren</a>)
**Repository:** https://github.com/sisl/AdaptiveStressTestingToolbox/
**Branch with paper.md** (empty if default branch):
**Version:** 2020.09.01.2
**Editor:** @arfon
**Reviewers:** @abhiramm7
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-05-25 09:35] whedon commented on #3213
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3312.

[2021-05-25 09:35] #3213 closed

[2021-05-25 09:35] whedon commented on #3312
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @giodegas, @abhiramm7 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-05-25 09:35] whedon commented on #3312
[code]

[2021-05-25 09:36] whedon commented on #3312
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03312/joss.03312/10.21105.joss.03312.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03312/joss.03312/10.21105.joss.03312.pdf) :page_facing_up: :point_left:

[2021-05-25 09:36] sjpfenninger commented on #3213
@giodegas, @abhiramm7, many thanks for agreeing to review. Let's head over to #3312 for the actual review!

[2021-05-25 09:36] whedon commented on #3312
[code]

[2021-05-25 09:38] sjpfenninger commented on #3312
@giodegas, @abhiramm7 - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-05-25 09:38] sjpfenninger commented on #3312
@mark-koren Can you ensure that the reference list includes DOIs or URLs wherever possible?

[2021-05-25 09:38] oliviaguest commented on #3270
@McGregor14 thanks and keep us posted! ☺️

[2021-05-25 10:59] csoneson commented on #3167
Great - I will hand this over now to the associate editor-in-chief on rotation for the last steps!

[2021-05-25 10:59] csoneson commented on #3167
@whedon accept

[2021-05-25 10:59] whedon commented on #3167
[code]

[2021-05-25 11:00] whedon commented on #3167
[code]

[2021-05-25 11:01] whedon commented on #3167
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2337

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2337, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-25 11:01] csoneson commented on #3167
(and I'll just note again that the missing DOI above is a false hit - it's pointing to a review of the book)

[2021-05-25 11:03] IndrajeetPatil commented on #3167
Yaay!!

Thank you so much @csoneson, @kevinrue, and @njtierney for all your valuable feedback on the manuscript and the software! ❤️

[2021-05-25 11:18] federicomarini commented on #3290
Hi there @joseph-palmer, I'm going to start from some comments on the manuscript, while I continue with the code&package review.

Paper's well written and clearly describing the aims of `covidregionaldata` in the context of the need for fine-grained resolution data for localized health policy making for the COVID-19 pandemic.

An adequate survey of the current alternatives and state of the art is

[2021-05-25 11:19] arfon commented on #3167
@whedon accept deposit=true

[2021-05-25 11:19] whedon commented on #3167
[code]

[2021-05-25 11:21] whedon commented on #3167
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1397150707359363074) 👈 🐦🐦🐦

[2021-05-25 11:21] whedon commented on #3167
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2338
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03167](https://doi.org/10.21105/joss.03167)
2. If everything look

[2021-05-25 11:27] csoneson commented on #3290
Thanks @federicomarini! On this:

It's quite common in JOSS papers, so I'd say that's ok.

[2021-05-25 11:28] arfon commented on #3167
@njtierney, @kevinrue – many thanks for your reviews here and to @csoneson for editing this submission! JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to do this without you :sparkles:

@IndrajeetPatil – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-25 11:28] #3167 closed

[2021-05-25 11:28] whedon commented on #3167
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03167/status.svg)](https://doi.org/10.21105/joss.03167)

**We need your help!**

Journal of Open Source Softwa

[2021-05-25 11:59] jvanhoefer commented on #3215
Sure, I created an zenodo link to the GitHub repo.

https://zenodo.org/badge/latestdoi/239715548

[2021-05-25 12:02] jvanhoefer commented on #3215
Is there anything else, that I need to do? I would add the Zenodo-Link/Badge together with a JOSS-link/badge in the next release directly after publication here (if there is no different procedure...) :)

[2021-05-25 12:15] mikldk commented on #3234
@whedon assign me as editor

[2021-05-25 12:15] whedon commented on #3234
OK, the editor is @mikldk

[2021-05-25 12:28] geoffreyp commented on #2974
Hello @melissawm,
to summarize, there are still 5 issues to be reviewed by @chkoar and none for @sjvrijn.
Two of these issues are open questions that I answered a few months ago, 3 PR are created for the 3 other issues.

[2021-05-25 12:29] mikldk commented on #3234
@annajenul Thanks for your submission. (I've actually been to NMBU in Ås a few times -- lovely place!)

I have a few questions. They are more related to the method than the software as such, but they may be relevant for the documentation and paper, so I pose them now before finding reviewers.

* The paper and `README` mention 'unique subsets of the data' -- is this some sort of [bagging](https://e

[2021-05-25 12:30] mikldk commented on #3133
@whedon check references from branch joss-paper

[2021-05-25 12:30] whedon commented on #3133
[code]

[2021-05-25 12:30] whedon commented on #3133
[code]

[2021-05-25 12:30] mikldk commented on #3133
@whedon generate pdf from branch joss-paper

[2021-05-25 12:30] whedon commented on #3133
[code]

[2021-05-25 12:31] whedon commented on #3133
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: :point_left:

[2021-05-25 12:31] mikldk commented on #3133
@whedon accept

[2021-05-25 12:31] whedon commented on #3133
[code]

[2021-05-25 12:31] whedon commented on #3133
PDF failed to compile for issue #3133 with the following error:
[code]

[2021-05-25 12:32] mikldk commented on #3133
@whedon accept from branch joss-paper

[2021-05-25 12:32] whedon commented on #3133
[code]

[2021-05-25 12:32] whedon commented on #3133
[code]

[2021-05-25 12:32] whedon commented on #3133
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2339

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2339, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-25 12:33] mikldk commented on #3054
@soodoku, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-05-25 12:35] mikldk commented on #3112
@yxoos, @apiad: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-05-25 12:40] VivianePons commented on #2946
Hi @HeshamAlsaadi I see that you have checked all the boxes. Can I conclude that you are happy with the software and move on to publication?

Thank you

[2021-05-25 12:44] VivianePons commented on #2954
No problem, happy to hear that you are still around!

[2021-05-25 12:53] broncio123 commented on #3301
Hi,

We would like to suggest as potential reviewers:

* Brandon Behring, we couldn't find his email. Only contact through [Linkedin](https://www.linkedin.com/in/brandon-behring-a1738419b/)
* Josh Karpel, josh.karpel@gmail.com
* Ingmar Schoegl, ischoegl@lsu.edu
* Niall McGinness, njwmcginness@gmail.com
* David Ignacio Cortes, dic1e13@soton.ac.uk
* Nicolás Guarín-Zapata, nicoguarin@gmail.com
* Jun

[2021-05-25 13:04] vissarion commented on #3303
:wave: @apulverizer, @samuel-rosa, @michstrauch, @ncxiao, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-05-25 13:19] vissarion commented on #3306
:wave: @sandyjmacdonald, @nicolasfauchereau, @OliverSchmitz, @jrising, @TimHessels, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-05-25 13:42] melissawm commented on #2974
Thanks for the update! Please ping me if you need anything :)

[2021-05-25 13:43] melissawm commented on #3208
Thank you, @krystophny ! Let's wait for a second reviewer before we start the actual review. I'll add you right now.

[2021-05-25 13:43] melissawm commented on #3208
@whedon assign @krystophny as reviewer

[2021-05-25 13:43] whedon commented on #3208
OK, @krystophny is now a reviewer

[2021-05-25 14:12] chkoar commented on #2974
Two of these issues are open questions that I answered a few months ago, 3 PR are created for the 3 other issues

I think that My review can be submitted regardless of these issues.

[2021-05-25 14:20] chkoar commented on #2974
@melissawm till now, I have opened an issue in the software repo for each concern I had. Although there were not a direct match with the checklist. I have left some of the checks unchecked. Since some of them cannot be addressed by the author (e.g. General Checks), do you want me to paste here my report so we will be all aligned?

[2021-05-25 14:28] yoonjeongcha commented on #3201
Hi all, I am also still working on the review.

[2021-05-25 14:30] Sergio-Bejar commented on #3048
Thanks for the update, @galessiorob!   If you need additional names, please let us know.

[2021-05-25 14:35] felipeZ commented on #3197
@junjun-zhang thanks for reporting those issues, I am going to have a look at them

[2021-05-25 15:09] apiad commented on #3112
I'm glad to review, but in the next couple of weeks I'm gonna be busy, so I'll do it slowly if that's OK.

[2021-05-25 16:03] karthik commented on #3272
Yes CRAN does not like the markdown version. If you include it, you should add it to `.Rbuildignore` so it is not bundled with the built package. For the most up to date information on LICENSE for R packages, see https://r-pkgs.org/license.html#key-files

If you are not sure how to set these up, I would recommend using the `usethis` package and its relevant functions: https://r-pkgs.org/license.ht

[2021-05-25 16:30] jkbren commented on #2990
@adi3 no problem, we’re happy that this is progressing, and thanks for the comments.

Is it okay if we give a little pushback on each of them? Structurally, we based much of this off of [another recent JOSS paper about Network Science](https://joss.theoj.org/papers/10.21105/joss.01731), and we were aiming for a paper that was a mix between that style and what’s required in the [JOSS readthedocs](h

[2021-05-25 16:45] clavigne commented on #3274
@diehlpk as above, there are no DOI for this reference, as far as I know.

[2021-05-25 17:01] diehlpk commented on #3274
@whedon check references

[2021-05-25 17:01] whedon commented on #3274
[code]

[2021-05-25 17:02] diehlpk commented on #3274
@clavigne

@whedon still complains about this missing DOI. Can you have a look?

[2021-05-25 17:53] mark-koren commented on #3312
Sure thing, just updated the references to include the dois.

[2021-05-25 17:54] ritwikagarwal commented on #3187
Would be happy to pick up!
Thanks

[2021-05-25 18:04] meg-simula commented on #3237
Great, we'll resolve the duplicate reviewer listing from this side. @mikaem Are you also happy with this submission now?

[2021-05-25 18:10] arfon commented on #2990
Thanks for the thoughtful feedback @adi3 and your response @jkbren. Here are my thoughts:

I don't have very strong feeling about this except to say that the two seconds following the first, _Network reconstruction from time series data_ and _Comparing networks using graph distances_  read a little like extended versions of the statement of need so I think there may be some merit in trying to refa

[2021-05-25 18:11] sara-02 commented on #3302
@kyleniemeyer @vaneseltine I would like to review this package whenever this gets off the waitlist.

[2021-05-25 18:34] mikaem commented on #3237
I'm fine @meg-simula

[2021-05-25 18:35] meg-simula commented on #3237
Great, thanks all! I'll follow up from here in the course of the week.

[2021-05-25 18:40] sbenthall commented on #3013
@whedon assign @ha0ye as reviewer

[2021-05-25 18:40] whedon commented on #3013
OK, @ha0ye is now a reviewer

[2021-05-25 18:41] sbenthall commented on #3013
@soodoku would you be able to review this package?

[2021-05-25 18:41] sbenthall commented on #3065
@JoelForamitti Hello. How is progress going?

[2021-05-25 18:50] whedon commented on #3274
:wave: @gflofst, please update us on how your review is going (this is an automated reminder).

[2021-05-25 18:50] whedon commented on #3274
:wave: @camillescott, please update us on how your review is going (this is an automated reminder).

[2021-05-25 19:00] JoelForamitti commented on #3065
@sbenthall thanks for keeping us on track! I am aiming to finish my revision by the end of this week

[2021-05-25 19:12] mikldk commented on #3112
@stsievert, @ejhigson: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-05-25 20:51] kellyrowland commented on #3215
@whedon set 10.5281/zenodo.4787416 as archive

[2021-05-25 20:51] whedon commented on #3215
OK. <a href="https://doi.org/10.5281/zenodo.4787416" target="_blank">10.5281/zenodo.4787416</a> is the archive.

[2021-05-25 20:51] kellyrowland commented on #3215
@whedon set v0.2.3 as version

[2021-05-25 20:51] whedon commented on #3215
OK. v0.2.3 is the version.

[2021-05-25 20:51] kellyrowland commented on #3215
@whedon accept

[2021-05-25 20:51] whedon commented on #3215
[code]

[2021-05-25 20:51] whedon commented on #3215
PDF failed to compile for issue #3215 with the following error:
[code]

[2021-05-25 20:52] kellyrowland commented on #3215
@whedon generate pdf from branch JOSS_review

[2021-05-25 20:52] whedon commented on #3215
[code]

[2021-05-25 20:53] whedon commented on #3215
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03215/joss.03215/10.21105.joss.03215.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03215/joss.03215/10.21105.joss.03215.pdf) :page_facing_up: :point_left:

[2021-05-25 20:53] kellyrowland commented on #3215
@whedon accept from branch JOSS_review

[2021-05-25 20:54] whedon commented on #3215
[code]

[2021-05-25 20:54] whedon commented on #3215
[code]

[2021-05-25 20:54] whedon commented on #3215
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2340

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2340, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-25 21:26] a-paxton commented on #3202
Apologies for my delay in updating, and thanks for the reminder! I will aim to get it finished by tomorrow and will submit it no later than end-of-day (UTC-4) on Friday.

[2021-05-25 22:17] ejhigson commented on #3112
I'm happy to review this!

[2021-05-25 22:28] davemlz commented on #3168
Thank you, @kbarnhart and @patrickcgray! I'll work on @patrickcgray comments and let you know when everything is ready!

[2021-05-25 22:49] lockepatton commented on #2446
Oh thanks for the reminder - I was scrolling through convinced I'd mentioned this before but it must have slipped my mind.

I'm very hesitant to republish anything on pypl simply because pypl doesn't remove old publications so the old `sonipy` will still exist. By renaming it, we'd be clogging up the `sonipy` namespace even more and risking people run `pip install sonipy` instead of `pip install s

[2021-05-25 23:14] faroit commented on #2446
there are good practices for these issues: See [here for pypi](https://www.python.org/dev/peps/pep-0423/#how-to-rename-a-project). Also, this seems to make things a bit easier: https://github.com/simonw/pypi-rename

I would encourage you to try at least all possible ways to make the hyphenized name as effective as possible – given that these names are still quite close to the project of @david-wor

[2021-05-26 00:47] gflofst commented on #2484
found another potential issue with the Windows build. Submitted an issue

[2021-05-26 01:00] gflofst commented on #3274
added issue for making community guidelines more apparent. Continuing other testing.

[2021-05-26 06:26] mikldk commented on #3112
@whedon assign @ejhigson as reviewer

[2021-05-26 06:26] whedon commented on #3112
OK, @ejhigson is now a reviewer

[2021-05-26 07:05] arfon commented on #2446
I would also like to see this if possible. I went browsing the source code for your repository @lockepatton and as far as I could tell, it looked like the README had been modified but not a whole bunch more (caveat, I don't know very much about Python packaging).

Thanks for the suggestion @faroit but I don't think we should wait further. I've consulted with the broader JOSS editorial team and the

[2021-05-26 07:25] pmoesta commented on #3288
sorry for the delay but I am currently also unable to review this.

Philipp

On Wed, May 26, 2021 at 9:20 AM Eloisa Bentivegna ***@***.***>
wrote:

[2021-05-26 07:54] tresoldi commented on #3173
@whedon generate pdf

[2021-05-26 07:56] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-05-26 08:21] tresoldi commented on #3173
@whedon generate pdf

[2021-05-26 08:22] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-05-26 08:24] tresoldi commented on #3173
@majensen I have finished reworking the draft. The last paragraph of the "Background" was reworked into a "Statement of need", with no real changes in what is said. I also removed some filler words from the rest of the draft to make sure it stays within 3 pages when compiled, but contents are otherwise unchanged.

[2021-05-26 08:39] federicomarini commented on #3290
Here's the rest of my review - I second most points raised by @mponce0, thanks for your thoughtful review as well!

The main point I'd raise is that a package user (let's say "the average one", not only a developer) could benefit a big lot from these fully worked out examples (also raised as a point in the checklist-driven review). Maybe I am _a little spoiled_ by how comprehensive some vignettes

[2021-05-26 08:42] federicomarini commented on #3290
Side note: massive, impressive work with the Github Actions to automate the operations!
I'm in _developer awe_ 💯

[2021-05-26 12:52] timtroendle commented on #3187
That's great, @ritwikagarwal. Thanks for letting us know. We can now start the review with the two of you, @ritwikagarwal and @samuelduchesne .

[2021-05-26 12:52] timtroendle commented on #3187
@whedon add @samuelduchesne as reviewer

[2021-05-26 12:52] whedon commented on #3187
OK, @samuelduchesne is now a reviewer

[2021-05-26 12:53] timtroendle commented on #3187
@whedon add @ritwikagarwal as reviewer

[2021-05-26 12:53] timtroendle commented on #3187
@whedon start review

[2021-05-26 12:53] whedon opened #3313 "[REVIEW]: diyepw: A Python package for Do-It-Yourself EnergyPlus 1 weather file generation"
**Submitting author:** @amandadsmith (<a href="http://orcid.org/0000-0003-2990-2190">Amanda D. Smith</a>)
**Repository:** <a href="https://github.com/IMMM-SFA/diyepw/" target ="_blank">https://github.com/IMMM-SFA/diyepw/</a>
**Version:** v1.2.1
**Editor:** @timtroendle
**Reviewers:** @samuelduchesne, @fneum
**Archive:** <a href="https://doi.org/10.5281/zenodo.5258122" target="_blank">10.5281/zenod

[2021-05-26 12:53] whedon commented on #3187
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3313.

[2021-05-26 12:53] #3187 closed

[2021-05-26 12:53] whedon commented on #3313
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @samuelduchesne, @ritwikagarwal it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-05-26 12:53] whedon commented on #3313
PDF failed to compile for issue #3313 with the following error:
[code]

[2021-05-26 12:53] whedon commented on #3313
[code]

[2021-05-26 12:55] timtroendle commented on #3313
@whedon generate pdf from branch joss-paper

[2021-05-26 12:55] whedon commented on #3313
[code]

[2021-05-26 12:55] whedon commented on #3313
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03313/joss.03313/10.21105.joss.03313.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03313/joss.03313/10.21105.joss.03313.pdf) :page_facing_up: :point_left:

[2021-05-26 12:57] timtroendle commented on #3313
@samuelduchesne, @ritwikagarwal, we are still in reduced service mode in which we ask reviewers to finish their reviews within six weeks. I will add an automatic reminder for each of you to indicate when half of that time has elapsed.

Of course it's great if you can finish your review earlier than that.

[2021-05-26 12:58] timtroendle commented on #3313
@whedon remind @samuelduchesne in three weeks

[2021-05-26 12:58] whedon commented on #3313
Reminder set for @samuelduchesne in three weeks

[2021-05-26 12:58] timtroendle commented on #3313
@whedon remind @ritwikagarwal in three weeks

[2021-05-26 12:58] whedon commented on #3313
Reminder set for @ritwikagarwal in three weeks

[2021-05-26 14:42] jni commented on #3202
@whedon re-invite @a-paxton as reviewer

[2021-05-26 14:42] whedon commented on #3202
OK, the reviewer has been re-invited.

@a-paxton please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-26 14:48] melissawm commented on #2974
@chkoar - if you feel like more work is necessary before you check the items, I think you can continue working with the author to get there. It is useful to give updates here just so I know there are not pending issues waiting for either the author or reviewer to respond for too long. If things are moving forward, then that's fine with me!

[2021-05-26 15:26] wesleyburr commented on #2694
@tystan - checking in, anything I can do to assist if you're at the stage of working through the review?

[2021-05-26 15:26] jedbrown commented on #3031
@whedon add smolins as reviewer

[2021-05-26 15:26] whedon commented on #3031
OK, smolins is now a reviewer

[2021-05-26 15:29] jedbrown commented on #3031
I think I've identified a second reviewer, but got a vacation autoresponder so I'll start the review now and add them (or another reviewer) after they return. If @zgxn or @jmp75 become available, I'd be happy to add you. Thanks for your patience, everyone.

[2021-05-26 15:29] jedbrown commented on #3031
@whedon start review

[2021-05-26 15:29] whedon opened #3314 "[REVIEW]: The MOOSE geochemistry module"
**Submitting author:** @WilkAndy (<a href="http://orcid.org/0000-0001-6472-9560">Andy Wilkins</a>)
**Repository:** <a href="https://github.com/idaholab/moose" target ="_blank">https://github.com/idaholab/moose</a>
**Version:** Snapshop 21-November-14
**Editor:** @jedbrown
**Reviewers:** @smolins, @volpatto
**Archive:** <a href="https://doi.org/10.5281/zenodo.5701422" target="_blank">10.5281/zenodo

[2021-05-26 15:29] whedon commented on #3031
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3314.

[2021-05-26 15:29] #3031 closed

[2021-05-26 15:29] whedon commented on #3314
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @smolins it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2021-05-26 15:31] whedon commented on #3314
[code]

[2021-05-26 15:31] whedon commented on #3314
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03314/joss.03314/10.21105.joss.03314.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03314/joss.03314/10.21105.joss.03314.pdf) :page_facing_up: :point_left:

[2021-05-26 15:32] jedbrown commented on #3314
@smolins :wave: Welcome to JOSS and thanks for agreeing to review!

The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the rsudp repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria inste

[2021-05-26 15:34] whedon commented on #3314
[code]

[2021-05-26 15:39] a-paxton commented on #3202
Thanks so much! I've accepted and am already in the process of reviewing.

[2021-05-26 16:00] stsievert commented on #3112
My apologies @mikldk, but I'll have to decline. I don't have the bandwidth right now.

[2021-05-26 16:22] whedon opened #3315 "[PRE REVIEW]: SummationByPartsOperators.jl: A Julia library of provably stable discretization techniques with mimetic properties"
**Submitting author:** @ranocha (<a href="http://orcid.org/0000-0002-3456-2277">Hendrik Ranocha</a>)
**Repository:** <a href="https://github.com/ranocha/SummationByPartsOperators.jl" target ="_blank">https://github.com/ranocha/SummationByPartsOperators.jl</a>
**Version:** v0.5.1
**Editor:** @VivianePons
**Reviewers:** @dawbarton, @kellertuer
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced

[2021-05-26 16:23] whedon commented on #3315
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-26 16:23] whedon commented on #3315
[code]

[2021-05-26 16:23] whedon commented on #3315
PDF failed to compile for issue #3315 with the following error:
[code]

[2021-05-26 16:23] whedon opened #3316 "[PRE REVIEW]: lattice-symmetries: A package for working with quantum many-body bases"
**Submitting author:** @twesterhout (<a href="http://orcid.org/0000-0003-0200-2686">Tom Westerhout</a>)
**Repository:** <a href="https://github.com/twesterhout/lattice-symmetries" target ="_blank">https://github.com/twesterhout/lattice-symmetries</a>
**Version:** v0.8.0
**Editor:** @jedbrown
**Reviewers:** @jeffhammond, @joselado
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode

[2021-05-26 16:23] whedon commented on #3316
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-26 16:23] whedon commented on #3316
[code]

[2021-05-26 16:23] whedon commented on #3316
[code]

[2021-05-26 16:23] whedon commented on #3316
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03316/joss.03316/10.21105.joss.03316.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03316/joss.03316/10.21105.joss.03316.pdf) :page_facing_up: :point_left:

[2021-05-26 16:24] arfon commented on #3315
@whedon check references from branch paper

[2021-05-26 16:24] whedon commented on #3315
[code]

[2021-05-26 16:24] arfon commented on #3315
@whedon generate pdf from branch paper

[2021-05-26 16:24] whedon commented on #3315
[code]

[2021-05-26 16:24] whedon commented on #3315
[code]

[2021-05-26 16:24] whedon commented on #3315
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03315/joss.03315/10.21105.joss.03315.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03315/joss.03315/10.21105.joss.03315.pdf) :page_facing_up: :point_left:

[2021-05-26 16:27] arfon commented on #3300
:wave: @MatthiasProbst – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/ci

[2021-05-26 16:27] arfon commented on #3300
@whedon reject

[2021-05-26 16:27] whedon commented on #3300
Paper rejected.

[2021-05-26 16:27] #3300 closed

[2021-05-26 16:53] FlukeAndFeather commented on #3220
@gmyenni Two things I want to bring to your attention. The first is pretty minor: a few errors in the manuscript's bibliography. Brown (1998) is missing editors and a few references have incorrect capitalization ("portal" when referring to Portal, AZ and "Portalr" when referring to the "portalr" pkg).

The second issue is: I'm running into errors trying to walk through the Getting Started vignette

[2021-05-26 17:03] jrising commented on #3306
@vissarion I could probably do this, but not for a few weeks. Is end-of-June too late?

[2021-05-26 17:30] diehlpk commented on #3020
@vijaysm I added some example to the README.md here

https://github.com/nonlocalmodels/NLMech/pull/140

how to

- pull the docker image
- run the docker image using the bash
- and run one of the test case in 1D to take not too long to finish in the Docker image.

[2021-05-26 17:34] diehlpk commented on #3020
`3.) The installation instructions are quite clear. However, the functionality documentation is severely lacking. You need to add a page or two describing the fundamental equations that the library solves, and a brief overview of the method(s) used.`

@chennachaos We have all this in the methods paper

Diehl, P., Jha, P. K., Kaiser, H., Lipton, R., & Lévesque, M. (2020). An asynchronous and task-b

[2021-05-26 18:19] vissarion commented on #3306
No, we are still under covid-19 special occasion.

[2021-05-26 18:19] sandyjmacdonald commented on #3306
@vissarion I'm not sure I'd have the specialist knowledge to review it, I'm afraid!

[2021-05-26 18:20] vissarion commented on #3306
@whedon add @jrising as reviewer

[2021-05-26 18:20] whedon commented on #3306
OK, @jrising is now a reviewer

[2021-05-26 18:20] vissarion commented on #3306
OK, thanks for the reply!

[2021-05-26 19:10] patrickcgray commented on #3168
@whedon generate pdf

[2021-05-26 19:11] whedon commented on #3168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: :point_left:

[2021-05-26 19:15] patrickcgray commented on #3168
My comments have been addressed and I think it all looks good!

[2021-05-26 20:05] jsoishi commented on #3079
hi @dpsanders, is there anything else you'd like us to do?

[2021-05-26 20:31] whedon opened #3317 "[PRE REVIEW]: RayFlare: flexible optical modelling of solar cells"
**Submitting author:** @phoebe-p (<a href="http://orcid.org/0000-0001-9082-9506">Phoebe Pearce</a>)
**Repository:** <a href="https://github.com/qpv-research-group/rayflare" target ="_blank">https://github.com/qpv-research-group/rayflare</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @kanderso-nrel, @EricaEgg
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:*

[2021-05-26 20:31] whedon commented on #3317
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-26 20:31] kthyng commented on #3282
@arfon Worked, thanks!

[2021-05-26 20:31] whedon commented on #3317
PDF failed to compile for issue #3317 with the following error:
[code]

[2021-05-26 20:31] whedon commented on #3317
[code]

[2021-05-26 20:31] kthyng commented on #3282
@whedon generate pdf

[2021-05-26 20:31] arfon commented on #3317
@whedon check references from branch paper

[2021-05-26 20:31] whedon commented on #3317
[code]

[2021-05-26 20:31] arfon commented on #3317
@whedon generate pdf from branch paper

[2021-05-26 20:31] whedon commented on #3317
[code]

[2021-05-26 20:32] whedon commented on #3317
[code]

[2021-05-26 20:32] whedon commented on #3282
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: :point_left:

[2021-05-26 20:32] whedon commented on #3317
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03317/joss.03317/10.21105.joss.03317.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03317/joss.03317/10.21105.joss.03317.pdf) :page_facing_up: :point_left:

[2021-05-26 20:34] kthyng commented on #3282
@dbarneche Great! Can you update the title of your Zenodo archive to exactly match your JOSS paper?

Also, the figure references in your JOSS paper seem to have gotten off. Can you take a look at them in the proof above? You don't need to update the Zenodo archive for paper changes (unless you want to).

[2021-05-26 20:43] arfon commented on #3317
@phoebe-p – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-05-26 20:45] kthyng commented on #3243
@TomasBeuzen Totally understand! Thanks for your consideration.

[2021-05-26 20:48] kthyng commented on #3243
Hi @padilla410! Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typically iterat

[2021-05-26 23:10] kbarnhart commented on #3114
@whedon generate pdf

[2021-05-26 23:10] kbarnhart commented on #3114
@whedon check references

[2021-05-26 23:10] whedon commented on #3114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03114/joss.03114/10.21105.joss.03114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03114/joss.03114/10.21105.joss.03114.pdf) :page_facing_up: :point_left:

[2021-05-26 23:10] whedon commented on #3114
[code]

[2021-05-26 23:13] kbarnhart commented on #3114
@piyueh thank you for the update, apologies for the delay.

@dlgeorge, @jmansour, @bzindovic as you are able, please revisit this review and indicate whether the authors have addressed all of your concerns. If you think the submission is ready to be accepted, please indicate so in a comment.

@piyueh once all reviewers are satisfied with the submission I will move on to the final steps of the JOSS

[2021-05-26 23:17] kbarnhart commented on #3168
@davemlz thank you for addressing the reviewer comments.

@patrickcgray thank you for indicating that you think the submission is ready to be accepted.

@elbeejay @giswqs please revisit this review now that the author has finished addressing reviewer comments and indicate whether the authors have addressed all of your concerns. If you think the submission is ready to be accepted, please indicate s

[2021-05-26 23:18] kbarnhart commented on #3168
@whedon check references

[2021-05-26 23:18] whedon commented on #3168
[code]

[2021-05-27 00:38] jmansour commented on #3114
Yep, I've had a look and the authors have made the necessary changes to rectify the minor shortcomings I'd highlighted.

Thanks.

[2021-05-27 01:37] dbarneche commented on #3282
Hi @kthyng , apologies for the mix up with the Zenodo title, that has been fixed.

I'm not quite sure how to fix the figure references/captions issue. Would you mind guiding me through a fix?

Locally, I'm running [this code](https://github.com/ropensci/dataaimsr/blob/master/paper/render.R) to generate the pdf (it is a bit of a hack), and the fig references/captions render fine, e.g.:

![Screen Sh

[2021-05-27 01:55] vyasr commented on #3098
@jni any luck finding a second reviewer? No rush, just let me know if you need me to recommend additional names.

[2021-05-27 05:16] ranocha commented on #3315
Potential reviewers are
- ChrisRackauckas (Julia, differential equations)
- dpsanders (Julia, numerics)
- dawbarton (Julia, differential equations)
- ysimillides (Julia, differential equations)
- kellertuer (Julia, mathematics)
- crstnbr (Julia, mathematics)

[2021-05-27 05:22] ranocha commented on #3315
@whedon check references from branch paper

[2021-05-27 05:22] whedon commented on #3315
[code]

[2021-05-27 05:22] whedon commented on #3315
[code]

[2021-05-27 05:22] ranocha commented on #3315
@whedon generate pdf from branch paper

[2021-05-27 05:22] whedon commented on #3315
[code]

[2021-05-27 05:22] whedon commented on #3315
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03315/joss.03315/10.21105.joss.03315.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03315/joss.03315/10.21105.joss.03315.pdf) :page_facing_up: :point_left:

[2021-05-27 07:09] mikldk commented on #3112
@GregoryAshton: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-05-27 09:06] twesterhout commented on #3316
I've cleaned up the `paper.bib` file using [betterbib](https://github.com/nschloe/betterbib) (see [this commit](https://github.com/twesterhout/lattice-symmetries/commit/daaa7084aaf59401a7c566947e494de7b4cde461)). DOIs should be okay now.

Regarding potential reviewers, I would suggest nmoran and mdavezac.

[2021-05-27 09:25] jvanhoefer commented on #3215
I just noticed, that the reference to the PEtab paper was broken and fixed that. Unfortunately the preview server is (currently) not working for me, which seems to be unrelated to that change.

The rest looks good and I am happy to see the paper accepted :)

[2021-05-27 09:27] glyg commented on #2973
Hi @pdebuyl I just made a release of tyssue, tagged [0.9.0](https://github.com/DamCB/tyssue/releases/tag/0.9.0)  with the DOI [10.5281/zenodo.4817609](https://doi.org/10.5281/zenodo.4817609) and @sophietheis addressed the spelling  citation issues in [issue 242](https://github.com/DamCB/tyssue/pull/242).

[2021-05-27 09:29] arfon commented on #3215
@whedon accept from branch JOSS_review

[2021-05-27 09:29] whedon commented on #3215
[code]

[2021-05-27 09:29] whedon commented on #3215
[code]

[2021-05-27 09:30] whedon commented on #3215
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2341

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2341, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-27 09:31] arfon commented on #3215
@jvanhoefer – can I just check that you've reviewed the [suggested DOIs from Whedon above](https://github.com/openjournals/joss-reviews/issues/3215#issuecomment-849485218)? If any of them are correct, please add them to your BibTeX file with e.g., `doi = 10.1101/085001` for the first entry.

[2021-05-27 09:38] arfon commented on #3133
@OwenWard – please merge this PR which makes some small changes to your paper (the metadata ones are essential for compatibility with our final publishing workflow steps): https://github.com/OwenWard/ppdiag/pull/59

[2021-05-27 10:15] DrMarc commented on #3284
@arfon - Ole and I would like to indicate that each of us contributed 50% to the work (sometimes called shared first authorship). Is there a preferred way to do that at JOSS?

[2021-05-27 10:37] adi3 commented on #2990
@jkbren if you could please work on Note 1 as per @arfon's comments and generate a new PDF, we can move forward with the review. Thank you both!

[2021-05-27 11:10] marcosvital commented on #3117
Hi, @rerickson-usgs! I tried to contact two additional reviewers by email. I'll wait a few days to hear from them, and will continue to search for more potential reviewers depending on their responses ok?

[2021-05-27 12:05] arfon commented on #3284
See the example docs on how to do this (https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). Basically add `^[co-first author]` after each of the names.

[2021-05-27 12:13] arthur-e commented on #3198
@pdebuyl One thing that's not clear to me from the Reviewer Guidelines is who is responsible for creating the "[REVIEW]" Issue in `joss-reviews`. I can see the example in #1075, but it would be nice to have the markdown version of that checklist. Also, can you provide me a timeline for the review? Thanks!

The guidelines are very thorough about substance or conduct of the review, but I just can't

[2021-05-27 12:18] pdebuyl commented on #3198
Hi @arthur-e I will create the "REVIEW" issue when I have a second reviewer. There will be an explanation there and the checklist will be created automatically.

[2021-05-27 12:32] DrMarc commented on #3284
Excellent, thanks! I did not see that.

[2021-05-27 12:33] OwenWard commented on #3133
@arfon done

[2021-05-27 12:37] sjvrijn commented on #2974
Hi @melissawm, apologies for the recent lack of response & progress. I hope to complete my review later today by raising all remaining issues I see for me to complete the checklist.

One question regarding the software paper though: Besides just multi-objective optimization software, other frameworks also exist for single-objective optimization such as [DEAP](https://deap.readthedocs.io/), and a f

[2021-05-27 12:47] whedon commented on #3133
[code]

[2021-05-27 12:47] whedon commented on #3133
[code]

[2021-05-27 12:48] whedon commented on #3133
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2342

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2342, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-27 12:49] arfon commented on #3133
@whedon accept deposit=true from branch joss-paper

[2021-05-27 12:49] whedon commented on #3133
[code]

[2021-05-27 12:49] whedon commented on #3133
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1397897852458881024) 👈 🐦🐦🐦

[2021-05-27 12:49] whedon commented on #3133
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2343
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03133](https://doi.org/10.21105/joss.03133)
2. If everything look

[2021-05-27 13:41] arfon commented on #3133
@alexpghayes, @wjakethompson – many thanks for your reviews here and to @mikldk for editing this submission! JOSS relies upon the volunteer efforts of folks like yourselves, and we simply wouldn't be able to do this without you ✨

@OwenWard – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-27 13:41] #3133 closed

[2021-05-27 13:41] whedon commented on #3133
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03133/status.svg)](https://doi.org/10.21105/joss.03133)

**We need your help!**

Journal of Open Source Softwa

[2021-05-27 13:47] OwenWard commented on #3133
Thank you @wjakethompson @alexpghayes @mikldk so much for reviewing and editing. This has been an excellent process and I look forward to being involved in it again on both the submission and reviewing side.

Thanks @arfon!

[2021-05-27 13:47] rerickson-usgs commented on #3117
@marcosvital Thanks. Please let me know if you any more name. Also, somewhere I suggested several people in a different JOSS issue.

[2021-05-27 13:50] jvanhoefer commented on #3215
Thank you, I just added DOIs to all citations that I could find a DOI to (including all in the list).

[2021-05-27 14:18] annajenul commented on #3234
@mikldk  Thank you for your interesting inputs. Glad to hear that you liked your stay at NMBU. The campus is really nice now in the spring / summertime.

Regarding the selection of the K subsets from the training data: we use the scikit-learn train_test_split function K times, every time using a different value for random_state. This gives us K unique subsets of the training data, however without

[2021-05-27 15:30] whedon commented on #3215
[code]

[2021-05-27 15:30] whedon commented on #3215
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2344

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2344, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-27 15:34] jvanhoefer commented on #3215
Looks good to me! 👍

[2021-05-27 15:35] brunaw commented on #3292
Dear @markheckmann,

Here are a few of my initial comments/notes about the paper and code. Could you review and give any answers/solutions for what I've pointed out? After that, I'll do my review checklist for your submission:

- The paper seems to be well written in general

- I am a little bit confused about whether the focus of the paper is on the shiny app or the IC implementation as an `R` pa

[2021-05-27 15:39] lutzhamel commented on #3296
Perhaps I missed it, but I don't see any instructions in the repo on how to run this software.  Could you point me to the spot where it tells me how to install and run the software?

Thanks.

[2021-05-27 15:47] lutzhamel commented on #3296
@isidentical, never mind just found it under the docs link....

[2021-05-27 16:05] arfon commented on #3215
@whedon accept deposit=true from branch JOSS_review

[2021-05-27 16:05] whedon commented on #3215
[code]

[2021-05-27 16:05] whedon commented on #3215
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1397947180833558528) 👈 🐦🐦🐦

[2021-05-27 16:05] whedon commented on #3215
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2345
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03215](https://doi.org/10.21105/joss.03215)
2. If everything look

[2021-05-27 16:14] arfon commented on #3215
@SirSharpest, @marouenbg – many thanks for your reviews here and to @kellyrowland for editing their first JOSS submission 🥳. JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to do this without you ✨

@jvanhoefer – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-27 16:14] #3215 closed

[2021-05-27 16:14] whedon commented on #3215
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03215/status.svg)](https://doi.org/10.21105/joss.03215)

**We need your help!**

Journal of Open Source Softwa

[2021-05-27 16:16] lutzhamel commented on #3296
@isidentical, docker-compose does not run on the given files...
[code]

[2021-05-27 16:18] isidentical commented on #3296
What docker version are you using @lutzhamel? Please ensure you are using a newer one, something like `19.03.13`.

[2021-05-27 16:54] junjun-zhang commented on #3197
@felipeZ would be nice to have this addressed: https://github.com/nlesc-nano/ceiba/issues/16. Ideally users can be added / removed via API endpoints

[2021-05-27 17:08] lutzhamel commented on #3296
Here is what I am using:
[code]

[2021-05-27 17:12] yuhc commented on #3296
Hi @isidentical , I just uploaded a screenshot of the 8000 page to https://github.com/reizio/reiz.io/issues/52, and hope it would be helpful for your debugging. While I don't think the review is going in the right direction and I think I should state it clearly in case you may not know:

1. The repo, website or article proof should contain the running environment of your software. You should eithe

[2021-05-27 17:15] isidentical commented on #3296
Thanks for your comment @yuhc! It is a bit of a block box situation for myself too, since everything is simply reproducible on my environment. I'll try to get everything setup on an AWS machine this weekend and let you both know about the exact environment. Thanks for your patience.

[2021-05-27 17:28] jkbren commented on #2990
@adi3 all set! You can see where the changes took place here https://github.com/netsiphd/netrd/pull/325/files?file-filters%5B%5D=.md

[2021-05-27 17:29] jkbren commented on #2990
@whedon generate pdf

[2021-05-27 17:29] whedon commented on #2990
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02990/joss.02990/10.21105.joss.02990.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02990/joss.02990/10.21105.joss.02990.pdf) :page_facing_up: :point_left:

[2021-05-27 17:54] lutzhamel commented on #3296
@isidentical, have you considered setting up a working instance on a web based virtual machine like https://replit.com/ eliminating set up issues all together?

@yuhc, thanks for your comments.  I agree, as reviewers we should not be wrangling software, we should be just verifying that it works as advertised.  I too will be waiting for a working instance before continuing the review.

[2021-05-27 18:01] isidentical commented on #3296
That is a great idea! i'll create an open instance as well as the instructions on a clear aws machine. Sorry for all the inconvenience i caused!

[2021-05-27 18:58] lpantano commented on #3214
@whedon assign @abartlett004 as reviewer

[2021-05-27 18:58] whedon commented on #3214
OK, @abartlett004 is now a reviewer

[2021-05-27 19:42] galessiorob commented on #3048
@whedon assign @cmaimone as reviewer

[2021-05-27 19:42] whedon commented on #3048
OK, @cmaimone is now a reviewer

[2021-05-27 19:45] diehlpk commented on #3020
@chennachaos This is on purpose to only have the light-weight documentation, e.g. installation, running the code, and details about the configuration files, in the code repo (https://github.com/nonlocalmodels/NLMech). The heavy documentation, e.g. images for the examples, are outsourced to the webpage's (https://nonlocalmodels.github.io/) repo (https://github.com/nonlocalmodels/nonlocalmodels.gith

[2021-05-27 19:54] diehlpk commented on #3020
@chennachaos We started to add the documentation for the configuration files. I added the mesh generation files here

https://github.com/nonlocalmodels/NLMech/pull/141

We will add more for the simulation, however, that will take some time.

[2021-05-27 20:34] OliverFishCode commented on #3117
If you need reviewer recommendations I could also provide some as I was
able to review myself.

- Devon

On Thu, May 27, 2021 at 6:48 AM Richard Erickson ***@***.***>
wrote:

[2021-05-27 21:29] justinshenk commented on #3202
Thanks for the helpful suggestions @jni!

The references and descriptions of other libraries relevant to Traja have been added in https://github.com/traja-team/traja/commit/1eaf5fb8ea3486ff3b08a2e7fb04b82526f8ecfa as requested.

Looking forward to the further review.

[2021-05-27 21:29] justinshenk commented on #3202
@wheden generate pdf

[2021-05-27 21:31] a-paxton commented on #3202
## Functionality

- I would strongly recommend including accessible default color palettes for plotting. (For example, the current default plotting options for the 3D surface plot is not colorbind-friendly; I would suggest something like viridis instead.)
- I submitted issues #87, #88, and #89 while testing the package from a clean conda env using the conda-forge installation instructions. After I

[2021-05-27 21:50] munkm commented on #3239
Hi! Yes, I would be available to review but not until after mid-June if that's all right!

[2021-05-27 21:56] kellyrowland commented on #3239
Thanks! That works for me if that's okay with you, @alexmalins.

[2021-05-27 22:05] karthik commented on #3210
@whedon check references

[2021-05-27 22:05] karthik commented on #3210
@whedon generate pdf

[2021-05-27 22:05] whedon commented on #3210
[code]

[2021-05-27 22:06] whedon commented on #3210
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03210/joss.03210/10.21105.joss.03210.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03210/joss.03210/10.21105.joss.03210.pdf) :page_facing_up: :point_left:

[2021-05-27 22:07] karthik commented on #3210
@whedon accept

[2021-05-27 22:08] whedon commented on #3210
No archive DOI set. Exiting...

[2021-05-27 22:09] karthik commented on #3210
@LangeJens Everything looks good. Please deposit the package in Zenodo and then post the DOI here. Also please confirm that the version of the package is now `0.3.0`

[2021-05-27 23:41] whedon commented on #3283
:wave: @coljac, please update us on how your review is going (this is an automated reminder).

[2021-05-27 23:41] whedon commented on #3283
:wave: @smsharma, please update us on how your review is going (this is an automated reminder).

[2021-05-27 23:55] ashleychontos commented on #3269
Thank you for accepting your role as editor in order to assist with our submission! Below are my suggestions for reviewers:

-warrickball
-danhey
-benjaminpope
-jessie-dotson
-christinahedges

Please let me know if you need anything else!

[2021-05-28 00:17] alexmalins commented on #3239
That's fine with me! Thank you all for your consideration.

[2021-05-28 01:00] elbeejay commented on #3168
Looks good to me :+1:

[2021-05-28 01:16] giswqs commented on #3168
I would like to make two minor suggestions for the **Summary** paragraph.

- There are `e.g. Landsat, Sentinel, MODIS` and `e.g. Sentinel, Landsat and MODIS`. I would suggest making them consistent, such as as `e.g., Landsat, Sentinel, MODIS`
- `Google Earth Engine` were used three times. Since you already use the acronym `GEE` for the first one, the other two can be replaced with GEE.

[2021-05-28 01:22] davemlz commented on #3168
Thank you, @giswqs!

I have improved the paper with your suggestions! :)