[2018-03-12 14:20] whedon commented on #591
[code]

[2018-03-12 15:31] whedon commented on #580
OK. <a href="http://dx.doi.org/10.5281/zenodo.213676" target="_blank">10.5281/zenodo.213676</a> is the archive.

[2018-03-12 15:32] lheagy commented on #580
@arfon: this submission is ready for publication in JOSS.

Congratulations @scivision! Thanks @hugoledoux and @leouieda for reviewing!

[2018-03-12 15:34] labarba commented on #611
@whedon assign @ahwillia  as reviewer

[2018-03-12 15:34] whedon commented on #611
OK, the reviewer is @ahwillia

[2018-03-12 15:35] labarba commented on #611
@whedon start review magic-word=bananas

[2018-03-12 15:35] whedon opened #615 "[REVIEW]: Optim: An optimization package for Julia"
**Submitting author:** @anriseth (<a href="http://orcid.org/0000-0002-5861-7885">Asbjørn Nilsen Riseth</a>)
**Repository:** <a href="https://github.com/JuliaNLSolvers/Optim.jl" target ="_blank">https://github.com/JuliaNLSolvers/Optim.jl</a>
**Version:** v0.14.0
**Editor:** @labarba
**Reviewer:** @ahwillia
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1211551" target="_blank">10.5281/zenod

[2018-03-12 15:35] whedon commented on #611
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/615. Feel free to close this issue now!

[2018-03-12 15:36] whedon commented on #615
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ahwillia it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-03-12 15:36] whedon commented on #615
[code]

[2018-03-12 15:36] whedon commented on #615
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00615/joss.00615/10.21105.joss.00615.pdf)

[2018-03-12 15:38] arfon commented on #580
@hugoledoux and @leouieda - many thanks for your reviews here and to @lheagy for editing this submission ✨

@scivision - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00580 :zap: :rocket: :boom:

[2018-03-12 15:38] #580 closed

[2018-03-12 15:38] whedon commented on #580
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00580/status.svg)](https://doi.org/10.21105/joss.00580)

**We need your help!**

Journal of Open Source Software

[2018-03-12 15:39] labarba commented on #611
Thank you for agreeing to review, @ahwillia — Please go over to the REVIEW issue now, where you can use comments to communicate with the author and editors as you complete your review.
https://github.com/openjournals/joss-reviews/issues/615

@anriseth — In your paper, I do miss some brief note about existing software providing similar functionality (in the same or other programming language). We d

[2018-03-12 15:43] labarba commented on #615
## Reviewer 2 instructions & questions

@abelsiqueira, please carry out your review in this issue by updating the checklist below. If you cannot edit the checklist please:
1. Make sure you're logged in to your GitHub account
2. Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

The reviewer guidelines are available here: https://joss.theoj.org/about

[2018-03-12 15:45] labarba commented on #615
@abelsiqueira — Our journal management system hasn't been upgraded yet to assign two reviewers, so we manually create a Review Checklist for you. Check It out ☝️

[2018-03-12 15:47] #611 closed

[2018-03-12 15:47] labarba commented on #615
@anriseth — In your paper, I do miss some brief note about existing software providing similar functionality (in the same or other programming language). We don't have a novelty requirement, but we do want to see other software mentioned or cited, as appropriate.

[2018-03-12 15:58] louiseadennis commented on #573
@fraimondi might be worth a try, though I know he's pretty busy, but even if he isn't able to do it he might be able to recommend someone in the MCMAS community who would (and anyone familiar with MCMAS would be a good candidate to look at this)

[2018-03-12 16:03] kyleniemeyer commented on #588
OK, looks good to me!

[2018-03-12 16:06] kyleniemeyer commented on #598
@dhhagan you are good to go, thanks! I'm just waiting to see if @ahwillia and/or @mlxd are able to add any additional comments.

[2018-03-12 16:31] karthik commented on #584
@earino Thanks Ed!

[2018-03-12 16:31] karthik commented on #584
@whedon generate pdf

[2018-03-12 16:31] whedon commented on #584
[code]

[2018-03-12 16:32] whedon commented on #584
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00584/joss.00584/10.21105.joss.00584.pdf)

[2018-03-12 16:32] karthik commented on #584
@JohnMount Can you please archive your software on Zenodo and post a DOI here?

[2018-03-12 16:40] JohnMount commented on #584
Here you go.

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1196479.svg)](https://doi.org/10.5281/zenodo.1196479)

[2018-03-12 16:43] arfon commented on #584
@whedon set 10.5281/zenodo.1196479 as archive

[2018-03-12 16:43] whedon commented on #584
OK. <a href="http://dx.doi.org/10.5281/zenodo.1196479" target="_blank">10.5281/zenodo.1196479</a> is the archive.

[2018-03-12 16:57] JohnMount commented on #584
Thanks for accepting the paper.  The article seems to be a dead link even though the check looks good on the thread.  http://joss.theoj.org/papers/10.21105/joss.00584

[2018-03-12 16:59] arfon commented on #584
Yup, just working on that now.

[2018-03-12 17:12] ahwillia commented on #598
I have it on my calendar to take a look at it this on Thursday. What would be most useful for me to focus on?

@Datseris - can you provide a short discussion about how this library differs from [DifferentialEquations.jl](https://github.com/JuliaDiffEq/DifferentialEquations.jl)?

@ChrisRackauckas would you also mind weighing in on this briefly? Thanks so much.

[2018-03-12 17:18] arfon commented on #584
@earino - many thanks for your review here and thanks to @karthik for editing this submission ✨

@JohnMount - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00584 :zap: :rocket: :boom:

[2018-03-12 17:18] #584 closed

[2018-03-12 17:18] whedon commented on #584
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00584/status.svg)](https://doi.org/10.21105/joss.00584)

**We need your help!**

Journal of Open Source Software

[2018-03-12 17:21] earino commented on #584
@arfon privilege and an honor! look forward to being of assistance in the future.

[2018-03-12 17:21] kyleniemeyer commented on #598
@ahwillia great, thanks! If you have time, I'd prefer for you to give the whole thing (software + paper) a look-over, independent of @dhhagan's review. At minimum, your thoughts on the software and whether it does what it advertises (etc.) would be helpful.

[2018-03-12 17:37] pkofod commented on #615
Does a brief note include a discussion / comparison or is it just mentions?

[2018-03-12 18:10] labarba commented on #615
Mention other software that has same/similar functionality, briefly comment on differences and equivalence, but no need to discuss or make comparisons requiring you to run the other software. It's a matter of giving acknowledgement to the existence of the other software, not claim originality or superiority.

[2018-03-12 18:28] JohnMount commented on #584
The paper was there for a little while and then disappeared again.

 https://github.com/openjournals/joss-reviews/issues/584 (paper does not show)

https://www.theoj.org/joss-papers/joss.00584/10.21105.joss.00584.pdf (broken link)

[2018-03-12 19:05] danielskatz commented on #573
@fraimondi - following @louiseadennis's suggestion, would you be willing to review this for JOSS?  And if not, can you recommend someone in the MCMAS community who would likely be able to (anyone familiar with MCMAS would be a good candidate to look at this)?

[2018-03-12 19:22] mlxd commented on #598
Hi, I'm afraid I won't have much time to examine this and offer any feedback for another week at the earliest. I feel that if any of the others can weigh in on it may be best to proceed without me.

[2018-03-12 20:00] arfonsmith commented on #584
I think this was a problem with GitHub earlier. This should be fixed again
now.

On Mon, Mar 12, 2018 at 12:28, John Mount <notifications@github.com> wrote:

[2018-03-12 20:14] Datseris commented on #598
@ahwillia I am not sure to respond because I don't understand the question.

Can you explain what you are asking about?

(your question implies that I have to somehow justify some difference
between the submitted package and differential equations, but that would
not make sense )

On Mar 12, 2018 6:12 PM, "Alex Williams" <notifications@github.com> wrote:

[2018-03-12 21:31] JohnMount commented on #584
Looks like it disappeared again. Does JOSS get the paper from the tar file?  Because it is not there- I used the CRAN distribution to build the marked release of the software (not the raw Github account).

If that is the problem we can up the DOI to have the full GitHub contents:

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1196652.svg)](https://doi.org/10.5281/zenodo.1196652)

John

[2018-03-12 21:53] arfon commented on #584
Looks like it's back again. I think this is due to the GitHub pages outage earlier.

No, we pull this straight from GitHub: https://github.com/openjournals/joss-papers/blob/a516dc7ddb45a1cbc0eabe7ecd9446dc2d657256/joss.00584/10.21105.joss.00584.pdf

[2018-03-12 22:04] ChrisRackauckas commented on #598
@ahwillia there's not really a similarity. DifferentialEquations.jl and JuliaDiffEq develops solvers and modeling packages. DynamicalSystems.jl has tooling for analysis of dynamical systems, such as determining Lyopunov exponents. It internally uses DifferentialEquations.jl to do the evolution of the systems, but that's only a small part of what's required for its algorithms.

[2018-03-12 22:27] brainstorm commented on #603
Sure, I think @luizirber would do a fantastic job reviewing this if he has the time and stamina? ;)

[2018-03-12 22:31] JohnMount commented on #584
Hm, then let's please stick with the version I gave originally.  For me the file is missing again.

[2018-03-12 22:33] ahwillia commented on #598
Thanks Chris, this was my basic understanding. I have not had the chance to dig too deeply into this yet, but I could see new users being a bit confused.

@Datseris -- thank you for the detailed section on "Similar Existing Software". Would you mind adding a paragraph there or somewhere in the README / Documentation to make it clear to users that the numerical solvers are provided by `Differential

[2018-03-12 22:56] Datseris commented on #598
It is already clear to the users that we are using DifferentialEquations.jl : https://juliadynamics.github.io/DynamicalSystems.jl/latest/definition/general/#DynamicalSystemsBase.DynamicalSystem

The documentation string of the struct `DynamicalSystem` is absolutely crucial for the entire library and I assume that any user that wants to use the non-data aspect of DynamicalSystems.jl has to have rea

[2018-03-12 23:10] kyleniemeyer commented on #598
@Datseris I would ask to tone down the language a little bit. It is a perfectly valid reviewer comment that the differences between this and your previous package are not entirely clear based on the article/README, and it should be fairly easy to improve the description to clear this up for a reader. The differences and justification are likely quite clear to you, but (evidently) not necessarily t

[2018-03-13 00:20] pragyansmita commented on #515
My apologies for the delay in completing this. I was not aware this was assigned to me. I have been away sick for the past 10days - thus, missed the reminder. I can get to this by March 15th, if it is ok. Please feel free to reassign if anyone else is available to look into it sooner. My sincere apologies for the inconveniences.

[2018-03-13 00:40] ahwillia commented on #598
Did not mean to undervalue the package at all. Something to "help" analyze dynamical systems is extremely useful. But it was unclear to me from reading the [article proof](https://github.com/openjournals/joss-papers/blob/joss.00598/joss.00598/10.21105.joss.00598.pdf) whether the goal of the library was analysis or simulation or a mix of both. I also looked at the README and first front page of doc

[2018-03-13 01:24] luizirber commented on #603
sure =]

[2018-03-13 01:52] brainstorm commented on #603
Awesome, thanks! ;)

@whedon assign @luizirber as reviewer

[2018-03-13 01:55] abelsiqueira commented on #615
Review

The Optim package for Julia is well known in the community, and it's now considered an essential part of it. The package follows the good practices expected by JOSS, and I have only a few minor questions, corrections, and suggestions to make:

- Clarify that optimization means mathematical optimization. Possibly in the title.
- Shouldn’t John Myles White be an author? I’m not familiar with

[2018-03-13 03:47] joethorley commented on #563
@whedon generate pdf

[2018-03-13 03:47] whedon commented on #563
[code]

[2018-03-13 03:47] whedon commented on #563
PDF failed to compile for issue #563 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:98:in `[]': no implicit conversion of String into Integer (TypeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:98:in `block in parse_affiliations'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/

[2018-03-13 03:55] joethorley commented on #563
I've modified the paper to better fit with the submission guidelines. Possible reviewers include @wrathematics and @boshek.

[2018-03-13 04:40] arfon commented on #603
@whedon assign @luizirber as reviewer

[2018-03-13 04:40] whedon commented on #603
OK, the reviewer is @luizirber

[2018-03-13 04:40] arfon commented on #603
@whedon start review magic-word=bananas

[2018-03-13 04:40] #603 closed

[2018-03-13 04:40] whedon opened #616 "[REVIEW]: microPIECE (microRNA pipeline enhanced by CLIP experiments)"
**Submitting author:** @greatfireball (<a href="http://orcid.org/0000-0003-4166-5423">Frank Förster</a>)
**Repository:** <a href="https://github.com/microPIECE-team/microPIECE" target ="_blank">https://github.com/microPIECE-team/microPIECE</a>
**Version:** v1.5.0
**Editor:** @brainstorm
**Reviewer:** @luizirber
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1215850" target="_blank">10.5281

[2018-03-13 04:40] whedon commented on #603
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/616. Feel free to close this issue now!

[2018-03-13 04:40] whedon commented on #616
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @luizirber it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-03-13 04:40] whedon commented on #616
[code]

[2018-03-13 04:41] arfon commented on #603
@luizirber @brainstorm - I've gone ahead and opened the main review issue in #616

[2018-03-13 04:41] whedon commented on #616
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00616/joss.00616/10.21105.joss.00616.pdf)

[2018-03-13 07:30] motib commented on #595
Hi Daniel, Looking at your suggestions, @shnarazk works in SAT solving, the same area as my submission, and would be the most qualified to review it.

[2018-03-13 08:13] leeper commented on #515
@whedon assign @tgerke as reviewer

[2018-03-13 08:13] whedon commented on #515
OK, the reviewer is @tgerke

[2018-03-13 08:15] pkofod commented on #615
Maybe we should bring in @labarba to clarify the rules. The situation is that John Myles White's current employment has very strict rules regarding review of work and publication done outside of his place of work. What we could do is finish these reviews, and then when they "good to go" we can try to see if what is there in the end fits their legal requirements. For good measure, I think I'll ping

[2018-03-13 08:15] leeper commented on #515
@pragyansmita Thanks for getting back to me! I'd be happy to have your thoughts on the package if you have time but have also appointed @tgerke as a new reviewer.

[2018-03-13 08:28] fraimondi commented on #573
Hi,
Sorry this ended up in my spam folder. Do you have a deadline for the review? I could do for the 20th of April but not earlier.

[2018-03-13 09:30] bryan-brancotte commented on #591
@whedon commands

[2018-03-13 09:30] whedon commented on #591
Here are some things you can ask me to do:

[code]

[2018-03-13 09:30] bryan-brancotte commented on #591
@whedon generate pdf

[2018-03-13 09:30] whedon commented on #591
[code]

[2018-03-13 10:38] Datseris commented on #598
@ahwillia Sure, this is a valid suggestion, but I can't think of a more natural point to do this, than the point that I introduce the concept that actually uses DifferentialEquations.jl. Doing it any point earlier does not seem very fitting, because as I said in my previous comment, only 1/10th of the exported functionality actually uses DifferentialEquations.jl.

Can you suggest a place where you

[2018-03-13 10:46] bryan-brancotte commented on #591
Hi @arfon
We re submitted a condensed version of the paper (-60%) which is now compliant with 'What should my paper contain'. Note that the compilation never ends.
Best regards

[2018-03-13 10:59] Datseris commented on #598
Following @ahwillia I've opened the following issue: https://github.com/JuliaDynamics/DynamicalSystems.jl/issues/65 which I'll solve at the near future.

[2018-03-13 12:44] danielskatz commented on #573
@fraimondi - great, I can live with the 20th of April.  Also, as you may have already figured out, this is not a typical paper review - reviews often involve some interaction between the reviewer and the author(s), and as such, may take some smaller blocks of time rather than one larger one.

In any case, I will now start the review.

[2018-03-13 12:45] danielskatz commented on #573
@whedon assign @BasTesterink as reviewer
(I would now like to assign @fraimondi as a reviewer as well, but the system can't do multiple reviewers yet, so I'll do this semi-manually once the review issue is opened.)

[2018-03-13 12:45] whedon commented on #573
OK, the reviewer is @BasTesterink

[2018-03-13 12:47] danielskatz commented on #573
@whedon start review magic-word=bananas

[2018-03-13 12:47] whedon opened #617 "[REVIEW]: The MCAPL Framework including the Agent Infrastructure Layer and Agent JavaPathfinder"
**Submitting author:** @louiseadennis (<a href="http://orcid.org/0000-0003-1426-1896">Louise Dennis</a>)
**Repository:** <a href="https://sourceforge.net/p/mcapl/mcapl_code/ci/master/tree/" target ="_blank">https://sourceforge.net/p/mcapl/mcapl_code/ci/master/tree/</a>
**Version:** 2017
**Editor:** @danielskatz
**Reviewer1:** @BasTesterink
**Reviewer2:** @fraimondi
**Archive:** <a href="http://dx.

[2018-03-13 12:47] whedon commented on #573
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/617. Feel free to close this issue now!

[2018-03-13 12:47] whedon commented on #617
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @BasTesterink it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-03-13 12:47] whedon commented on #617
[code]

[2018-03-13 12:47] whedon commented on #617
PDF failed to compile for issue #617 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-03-13 12:51] danielskatz commented on #617
@arfon - can you compile this paper again, as you did in https://github.com/openjournals/joss-reviews/issues/573

Can you also make sure both reviewers (Reviewer1: @BasTesterink; Reviewer2: @fraimondi) are invited and able to access the checklist?

[2018-03-13 12:52] danielskatz commented on #617
I'm also just noting here that @fraimondi may need until April 20 to perform this review

[2018-03-13 12:53] #573 closed

[2018-03-13 14:44] arfon commented on #617
@louiseadennis - I'm afraid I'm unable to download the code from the repository. The `git clone` operation keeps timing out. Also, browsing the files, I don't seem to be able to find the `paper.md` and `paper.bib` files. Could you please link to them here?

[2018-03-13 14:44] arfon commented on #617
Done.

[2018-03-13 15:02] louiseadennis commented on #617
@arfon the paper.md and paper.bib files are in doc/joss_paper https://sourceforge.net/p/mcapl/mcapl_code/ci/master/tree/doc/joss_paper/paper.bib and https://sourceforge.net/p/mcapl/mcapl_code/ci/master/tree/doc/joss_paper/paper.md

I've no idea what is going on with sourceforge.  I can't clone either, though I can fetch and push.

[2018-03-13 15:32] louiseadennis commented on #617
@arfon as far as I can work out, cloning is failing because of a memory problem at the sourceforge end.  I can't ssh into sourceforge at the moment to try the fixes suggested online (source forge says it has disable shell while it transitions to a new datacenter) and while there are some largish files in the repo (jars of libs etc.) I don't think I have loads of huge files that could be causing th

[2018-03-13 15:37] arfon commented on #617
Thanks @louiseadennis - I've managed to compile the paper using the direct links you provided here: [10.21105.joss.00617.pdf](https://github.com/openjournals/joss-reviews/files/1807583/10.21105.joss.00617.pdf)

[2018-03-13 15:54] arfon commented on #591
Here's the compiled PDF: [10.21105.joss.00591.pdf](https://github.com/openjournals/joss-reviews/files/1807659/10.21105.joss.00591.pdf)

[2018-03-13 16:31] marpierc commented on #609
@danielskatz when do you need the review completed?

[2018-03-13 16:41] danielskatz commented on #609
Ideally in the next couple of weeks - would that work for you?

[2018-03-13 17:26] dfm commented on #545
Hi team, thank you so much for you patience here! I've gone through this and I've included some comments below. This is a really impressive piece of software and I am excited to use it in my own work. I think that there are a few things that could improve the documentation make everything consistent with the JOSS guidelines, but it shouldn't be too onerous.

**Installation:**
- Overall, installati

[2018-03-13 18:41] dwillcox commented on #588
Hi @katyhuff @jschwab @kyleniemeyer,

Thank you for all your helpful review suggestions that have significantly improved the usability and accessibility of pynucastro.

Today I pushed a commit adding a brief section to the documentation describing a previously undocumented feature of pynucastro: [Specifying Desired Nuclei to Construct a Network](https://pynucastro.github.io/pynucastro/library-exam

[2018-03-13 19:02] jschwab commented on #588
Just looked that bit over.  That's a nice feature.

[2018-03-13 19:13] dwillcox commented on #588
Thanks, I'm glad to hear it!

[2018-03-13 19:25] kyleniemeyer commented on #598
@Datseris ah, I misremembered the bit about your prior package, sorry about that.

Aside from the issue you just mentioned, I have a few fixes for your paper:

- Could you add additional location details to your affiliation, such as city and country?
- The first reference, Strogatz, is missing bibliographic details—it just has an author and title. Is this an article or book? Either way, it needs s

[2018-03-13 22:47] ahwillia commented on #598
I appreciate the desire to make the documentation more pedagogical. I really think it is a laudable goal and a great service to the field.

It is great that each method includes a sentence or two description and again I really appreciate the amount of primary references and citations you included.

What I do not full understand (and this is partly my ignorance), is how a user should go about using

[2018-03-13 23:03] arfon commented on #563
👋 @boshek - would you be willing to review this submission for JOSS?

[2018-03-13 23:16] whedon opened #618 "[PRE REVIEW]: mmappickle: A Python 3 library to store memory mappable objects into pickle-compatible files"
**Submitting author:** @lfasnacht (<a href="http://orcid.org/0000-0002-9853-8209">Laurent Fasnacht</a>)
**Repository:** <a href="https://github.com/UniNE-CHYN/mmappickle" target ="_blank">https://github.com/UniNE-CHYN/mmappickle</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @glemaitre, @clemaitre58

**Author instructions**

Thanks for submitting your paper to JOSS @lfasnacht. The JOSS

[2018-03-13 23:16] whedon commented on #618
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-13 23:16] whedon commented on #618
[code]

[2018-03-13 23:17] whedon commented on #618
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00618/joss.00618/10.21105.joss.00618.pdf)

[2018-03-13 23:17] whedon opened #619 "[PRE REVIEW]: nardl:An R package to estimate the nonlinear cointegrating autoregressive distributed lag model"
**Submitting author:** @zedtaha (<a href="http://orcid.org/0000-0002-4488-5774">zaghdoudi Taha</a>)
**Repository:** <a href="https://github.com/zedtaha/nardl" target ="_blank">https://github.com/zedtaha/nardl</a>
**Version:** 0.1.3
**Editor:** @leeper
**Reviewer:** @JoFAM

**Author instructions**

Thanks for submitting your paper to JOSS @zedtaha. The JOSS editor (shown at the top of this issue) w

[2018-03-13 23:17] whedon commented on #619
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-13 23:17] whedon commented on #619
[code]

[2018-03-13 23:18] whedon commented on #619
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00619/joss.00619/10.21105.joss.00619.pdf)

[2018-03-13 23:18] whedon opened #620 "[PRE REVIEW]: comorbidity: An R package for computing comorbidity scores"
**Submitting author:** @ellessenne (<a href="http://orcid.org/0000-0002-8319-7624">Alessandro Gasparini</a>)
**Repository:** <a href="https://github.com/ellessenne/comorbidity" target ="_blank">https://github.com/ellessenne/comorbidity</a>
**Version:** 0.1.0
**Editor:** @leeper
**Reviewers:** @corinne-riddell

**Author instructions**

Thanks for submitting your paper to JOSS @ellessenne. The JOSS

[2018-03-13 23:18] whedon commented on #620
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-13 23:18] whedon commented on #620
[code]

[2018-03-13 23:18] whedon opened #621 "[PRE REVIEW]: hydroscoper: R interface to the Greek National Data Bank for Hydrological and Meteorological Information"
**Submitting author:** @kvantas (<a href="http://orcid.org/0000-0001-6387-8791">Konstantinos Vantas</a>)
**Repository:** <a href="https://github.com/ropensci/hydroscoper" target ="_blank">https://github.com/ropensci/hydroscoper</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @kvantas. The JOSS editor (shown at the to

[2018-03-13 23:18] whedon commented on #621
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-13 23:18] whedon commented on #621
[code]

[2018-03-13 23:19] whedon commented on #620
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00620/joss.00620/10.21105.joss.00620.pdf)

[2018-03-13 23:19] whedon commented on #621
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00621/joss.00621/10.21105.joss.00621.pdf)

[2018-03-13 23:47] boshek commented on #563
@arfon Just trying to gauge whether I am suitable reviewer. Is [this](https://github.com/poissonconsulting/checkr/blob/master/inst/JOSS/paper.md) the extent of the paper? Or am I missing something?

[2018-03-13 23:50] arfon commented on #563
Yes that's it. (It could probably do with a little more detail 😁).

[2018-03-13 23:55] Datseris commented on #598
@ahwillia

Unfortunately it is not possible for me to answer this question(s). It would a great risk of misguiding someone into results they don't understand.

Each function of DynamicalSystems.jl has a well-defined purpose, mostly independent from the purpose of other functions (excluding of course cases where functions call each other). And each one can give you some information for your system.

[2018-03-14 02:20] hausen commented on #504
@leeper , as I've said before, it's way outside my domain.

[2018-03-14 07:21] leeper commented on #504
@hausen oh geez, sorry! Forgot I already asked.

[2018-03-14 10:22] zedtaha commented on #619
@leeper as reviewer

[2018-03-14 12:41] hmenager commented on #591
thank you very much for providing the pdf @arfon

[2018-03-14 12:45] danielskatz commented on #595
@whedon assign @audemard as reviewer

[2018-03-14 12:45] whedon commented on #595
OK, the reviewer is @audemard

[2018-03-14 12:46] danielskatz commented on #595
note to all that I am still looking for one more reviewer, after which I will start the review in a new issue - there are no actions needed at this time, unless you are a potential reviewer who wants to volunteer to review this submission.

[2018-03-14 12:52] danielskatz commented on #609
@marpierc - pinging, would the next couple of weeks work as a deadline?

[2018-03-14 12:54] marpierc commented on #609
I can submit by April 5th.  Does that date work for you?

Marlon

From: ajinkya-dhamnaskar <notifications@github.com>
Reply-To: openjournals/joss-reviews <reply@reply.github.com>
Date: Wednesday, March 14, 2018 at 8:52 AM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: "Pierce, Marlon" <marpierc@iu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-revie

[2018-03-14 12:56] danielskatz commented on #609
yes, thanks.  I'll start the review process now.

[2018-03-14 12:56] danielskatz commented on #609
@whedon assign @marpierc as reviewer

[2018-03-14 12:56] whedon commented on #609
OK, the reviewer is @marpierc

[2018-03-14 12:56] danielskatz commented on #609
@whedon start review magic-word=bananas

[2018-03-14 12:57] whedon opened #622 "[REVIEW]: Open OnDemand: A web-based client portal for HPC centers"
**Submitting author:** @ericfranz (<a href="http://orcid.org/0000-0002-9662-412X">Eric Franz</a>)
**Repository:** <a href="https://github.com/OSC/Open-OnDemand" target ="_blank">https://github.com/OSC/Open-OnDemand</a>
**Version:** v1.2
**Editor:** @danielskatz
**Reviewer1:** @marpierc
**Reviewer2:** @smgallo
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.6265514.v1" target="_blank">1

[2018-03-14 12:57] whedon commented on #609
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/622. Feel free to close this issue now!

[2018-03-14 12:57] whedon commented on #622
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @marpierc it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-03-14 12:57] whedon commented on #622
[code]

[2018-03-14 12:57] smgallo commented on #609
@danielskatz I can review by the end of March if that is OK with you.

[2018-03-14 12:57] whedon commented on #622
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00622/joss.00622/10.21105.joss.00622.pdf)

[2018-03-14 12:57] danielskatz commented on #609
@smgallo - great - having 2 reviewers is much better than 1.  See https://github.com/openjournals/joss-reviews/issues/622 which I'll finish setting up in 5 or so more minutes.

[2018-03-14 12:58] #609 closed

[2018-03-14 13:00] danielskatz commented on #622
@arfon - can you invite @smgallo so that he can be a reviewer?
@marpierc - you automatically be invited as described in the review instructions.

[2018-03-14 13:02] danielskatz commented on #622
My one initial comment is that the paper doesn't have any references - the reviewers might think about any things (papers, systems) that should be referenced...

[2018-03-14 13:48] Datseris commented on #598
@kyleniemeyer I have done the changes you requested and tagged a new release.

The Zenodo DOI is: 10.5281/zenodo.1198278

[2018-03-14 13:54] arfon commented on #622
Done.

[2018-03-14 14:27] bryan-brancotte commented on #591
Hi @arfon
Thanks for the pdf, I have done minor updates in the paper since its production, but the result it ok for us.

[2018-03-14 15:00] leeper commented on #619
@whedon list commands

[2018-03-14 15:01] leeper commented on #619
@whedon commands

[2018-03-14 15:01] whedon commented on #619
Here are some things you can ask me to do:

[code]

[2018-03-14 15:01] leeper commented on #619
@whedon assign @leeper as editor

[2018-03-14 15:01] whedon commented on #619
OK, the editor is @leeper

[2018-03-14 15:08] leeper commented on #619
@zedtaha Would you be interested in reviewing this package for JOSS?

[2018-03-14 15:12] virgesmith commented on #504
sadly not. I can't think of anyone with both C++ skills and the domain expertise

[2018-03-14 15:12] zedtaha commented on #619
Hi @leeper do you mean nardl r package ? if yes I'm the developer!

[2018-03-14 15:26] leeper commented on #619
@zedtaha Haha! I didn't look at the maintainer - I figured it would be of interest and of course it is because it's your package! Sorry about that.

[2018-03-14 15:29] zedtaha commented on #619
@leeper no prob ;) best

[2018-03-14 15:42] kyleniemeyer commented on #598
@whedon generate pdf

[2018-03-14 15:42] whedon commented on #598
[code]

[2018-03-14 15:42] whedon commented on #598
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00598/joss.00598/10.21105.joss.00598.pdf)

[2018-03-14 15:47] kyleniemeyer commented on #598
@Datseris most of the changes to the paper look good, though I noticed that the sentence "This vast extend of chaotic systems ..." in the first paragraph didn't get fixed; I believe "extend" should be "extent".

[2018-03-14 15:59] Datseris commented on #598
Yeap apparently I re-wrote the same word... It is fixed on current master.

[2018-03-14 16:02] kyleniemeyer commented on #598
@whedon generate pdf

[2018-03-14 16:02] whedon commented on #598
[code]

[2018-03-14 16:02] whedon commented on #598
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00598/joss.00598/10.21105.joss.00598.pdf)

[2018-03-14 16:04] kyleniemeyer commented on #598
@whedon set 10.5281/zenodo.1198278 as archive

[2018-03-14 16:04] whedon commented on #598
OK. <a href="http://dx.doi.org/10.5281/zenodo.1198278" target="_blank">10.5281/zenodo.1198278</a> is the archive.

[2018-03-14 16:05] kyleniemeyer commented on #598
@arfon this submission is good to go.

@ahwillia @dhhagan thanks so much for your reviews!

[2018-03-14 16:16] boshek commented on #563
@arfon Happy to then. Do you have any reviewing specs I can peruse?

@joethorley I think we likely can draw from [here](https://github.com/poissonconsulting/checkr/blob/master/vignettes/assertive-programming.Rmd) as well.

[2018-03-14 16:21] leeper commented on #619
@whedon assign @JoFAM as reviewer

[2018-03-14 16:21] whedon commented on #619
OK, the reviewer is @JoFAM

[2018-03-14 16:22] leeper commented on #619
@whedon start review magic-word=bananas

[2018-03-14 16:22] whedon opened #623 "[REVIEW]: nardl:An R package to estimate the nonlinear cointegrating autoregressive distributed lag model"
**Submitting author:** @zedtaha (<a href="http://orcid.org/0000-0002-4488-5774">zaghdoudi Taha</a>)
**Repository:** <a href="https://github.com/zedtaha/nardl" target ="_blank">https://github.com/zedtaha/nardl</a>
**Version:** 0.1.3
**Editor:** @leeper
**Reviewer:** @JoFAM
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/fe9bdfe31cef65860883d6c7f8c0ced6/status.svg)](http://j

[2018-03-14 16:22] whedon commented on #619
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/623. Feel free to close this issue now!

[2018-03-14 16:22] whedon commented on #623
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @JoFAM it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-14 16:22] whedon commented on #623
[code]

[2018-03-14 16:22] #619 closed

[2018-03-14 16:22] whedon commented on #623
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00623/joss.00623/10.21105.joss.00623.pdf)

[2018-03-14 16:49] pjamesjoyce commented on #612
Looking good @cardosan.

I've added the following issues to the bitbucket repo:

[#2: Statement of need, installation instructions and example usage missing from README](https://bitbucket.org/cardosan/brightway2-temporalis/issues/2/)
[#3: Module takes a long time to import due to calculation of constants](https://bitbucket.org/cardosan/brightway2-temporalis/issues/3/)
[#4: "ValueError: Can't resca

[2018-03-14 17:23] arfon commented on #563
@whedon assign @arfon as editor

[2018-03-14 17:23] whedon commented on #563
OK, the editor is @arfon

[2018-03-14 17:23] arfon commented on #563
@whedon assign @boshek as reviewer

[2018-03-14 17:23] whedon commented on #563
OK, the reviewer is @boshek

[2018-03-14 17:23] arfon commented on #563
Yep. I'll link to them in the main review issue that I'll open up shortly.

[2018-03-14 17:24] arfon commented on #563
@whedon start review magic-word=bananas

[2018-03-14 17:24] #563 closed

[2018-03-14 17:24] whedon opened #624 "[REVIEW]: checkr: An R package for Assertive Programming"
**Submitting author:** @joethorley (<a href="http://orcid.org/0000-0002-7683-4592">Joseph Thorley</a>)
**Repository:** <a href="https://github.com/poissonconsulting/checkr" target ="_blank">https://github.com/poissonconsulting/checkr</a>
**Version:** v0.0.2
**Editor:** @arfon
**Reviewer:** @boshek
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1208141" target="_blank">10.5281/zenodo.120814

[2018-03-14 17:24] whedon commented on #563
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/624. Feel free to close this issue now!

[2018-03-14 17:24] whedon commented on #624
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @boshek it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-14 17:24] whedon commented on #624
[code]

[2018-03-14 17:24] whedon commented on #624
PDF failed to compile for issue #624 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:98:in `[]': no implicit conversion of String into Integer (TypeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:98:in `block in parse_affiliations'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/

[2018-03-14 17:24] arfon commented on #624
@boshek - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-03-14 17:26] arfon commented on #624
Here's the PDF: [10.21105.joss.00624.pdf](https://github.com/openjournals/joss-reviews/files/1812245/10.21105.joss.00624.pdf)

[2018-03-14 17:28] arfon commented on #624
@joethorley - this PR will fix the paper compilation issues: https://github.com/poissonconsulting/checkr/pull/6

[2018-03-14 17:41] arfon commented on #598
@ahwillia & @dhhagan - many thanks for your reviews here and to @kyleniemeyer for editing this submission ✨

@Datseris - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00598 :zap: :rocket: :boom:

[2018-03-14 17:41] #598 closed

[2018-03-14 17:41] whedon commented on #598
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00598/status.svg)](https://doi.org/10.21105/joss.00598)

**We need your help!**

Journal of Open Source Software

[2018-03-14 19:07] cardosan commented on #612
Thanks @pjamesjoyce, seen them (some extremely helpful!!) .
Already started with the easier, will address the others in the coming days.

[2018-03-14 20:21] arfon commented on #621
@whedon assign @arfon as editor

[2018-03-14 20:21] whedon commented on #621
OK, the editor is @arfon

[2018-03-14 20:21] arfon commented on #621
@whedon assign @arfon as reviewer

[2018-03-14 20:21] whedon commented on #621
OK, the reviewer is @arfon

[2018-03-14 20:22] arfon commented on #621
@whedon start review magic-word=bananas

[2018-03-14 20:22] #621 closed

[2018-03-14 20:22] whedon commented on #621
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/625. Feel free to close this issue now!

[2018-03-14 20:22] whedon opened #625 "[REVIEW]: hydroscoper: R interface to the Greek National Data Bank for Hydrological and Meteorological Information"
**Submitting author:** @kvantas (<a href="http://orcid.org/0000-0001-6387-8791">Konstantinos Vantas</a>)
**Repository:** <a href="https://github.com/ropensci/hydroscoper" target ="_blank">https://github.com/ropensci/hydroscoper</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1196540" target="_blank">10.5281/zenodo.1196540</a>

#

[2018-03-14 20:22] whedon commented on #625
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-14 20:22] whedon commented on #625
[code]

[2018-03-14 20:26] arfon commented on #625
@whedon set 10.5281/zenodo.1196540 as archive

[2018-03-14 20:26] whedon commented on #625
OK. <a href="http://dx.doi.org/10.5281/zenodo.1196540" target="_blank">10.5281/zenodo.1196540</a> is the archive.

[2018-03-14 20:32] arfon commented on #625
@kvantas - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00625 ⚡️:rocket: :boom:

[2018-03-14 20:32] #625 closed

[2018-03-14 20:32] whedon commented on #625
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00625/status.svg)](https://doi.org/10.21105/joss.00625)

**We need your help!**

Journal of Open Source Software

[2018-03-14 21:15] danielskatz commented on #622
discussing the references in https://github.com/openjournals/joss-reviews/issues/622

[2018-03-14 21:23] kvantas commented on #625
@arfon Wow, that was really fast 🚀

Thank you very much! 🎉 👍

[2018-03-15 00:28] whedon opened #626 "[REVIEW]: The Journal of Open Source Software"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/openjournals/joss" target ="_blank">https://github.com/openjournals/joss</a>
**Version:** v1.0.0
**Editor:** @
**Reviewer:** @
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/2e8ebd0d8dcf531f623ddfd6acf98cce/status.svg)](http://joss.the

[2018-03-15 00:28] whedon commented on #626
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watch

[2018-03-15 00:28] whedon commented on #626
[code]

[2018-03-15 00:28] whedon commented on #626
PDF failed to compile for issue #626 with the following error:

 Can't find any papers to compile :-(

[2018-03-15 00:34] parrish commented on #626
@arfon Feel free to delete this.

[2018-03-15 00:46] #626 closed

[2018-03-15 01:10] whedon opened #627 "[PRE REVIEW]: EmissV: An R package to create vehicular and other emissions by Top-down methods to air quality models"
**Submitting author:** @Schuch666 (<a href="http://orcid.org/0000-0001-5977-4519">Daniel Schuch</a>)
**Repository:** <a href="https://github.com/atmoschem/EmissV" target ="_blank">https://github.com/atmoschem/EmissV</a>
**Version:** 0.664.3
**Editor:** @arfon
**Reviewers:** @nuest

**Author instructions**

Thanks for submitting your paper to JOSS @Schuch666. The JOSS editor (shown at the top of th

[2018-03-15 01:10] whedon commented on #627
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-15 01:10] whedon commented on #627
[code]

[2018-03-15 01:10] whedon opened #628 "[PRE REVIEW]: Mapelia and friends: create 3D models from maps"
**Submitting author:** @jordibc (<a href="http://orcid.org/0000-0002-9198-5380">Jordi Burguet-Castell</a>)
**Repository:** <a href="https://github.com/jordibc/mapelia" target ="_blank">https://github.com/jordibc/mapelia</a>
**Version:** 1.1.1
**Editor:** @arfon
**Reviewers:** @hugoledoux, @ThomasA

**Author instructions**

Thanks for submitting your paper to JOSS @jordibc. The JOSS editor (shown a

[2018-03-15 01:10] whedon commented on #628
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-15 01:10] whedon commented on #628
[code]

[2018-03-15 01:10] whedon commented on #627
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00627/joss.00627/10.21105.joss.00627.pdf)

[2018-03-15 01:10] whedon commented on #628
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00628/joss.00628/10.21105.joss.00628.pdf)

[2018-03-15 01:26] arfon commented on #268
👋 @amoeba - would you be willing to finish up this review for us?

[2018-03-15 07:08] lfasnacht commented on #618
There seem to be an issue with the bullet list in the article proof, does somebody know how can I fix that?

[2018-03-15 07:54] pkofod commented on #615
@abelsiqueira Thanks again for your feedback. We've tried to address your concerns in the two latest PRs: https://github.com/JuliaNLSolvers/Optim.jl/pull/546 https://github.com/JuliaNLSolvers/Optim.jl/pull/548 . We would appreciate if you could verify that the changes cover your concerns. The authorship concerns will depend partially upon what @labarba has to say on the matter based on my earlier

[2018-03-15 11:06] mtezzele commented on #614
I've made a small fix to the bib file (missing doi).

@whedon generate pdf

[2018-03-15 11:07] mtezzele commented on #614
@whedon generate pdf

[2018-03-15 11:08] whedon commented on #614
[code]

[2018-03-15 11:08] whedon commented on #614
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00614/joss.00614/10.21105.joss.00614.pdf)

[2018-03-15 11:13] joezuntz commented on #494
Although some of the code methodology (such as its installation process) is non-standard for general software, the differences are within the norm for scientific software designed to support further code development by users.  Everything else is cleanly ticked off, so I'm happy to accept now.

[2018-03-15 11:27] labarba commented on #615
Normally, we expect all persons who've made substantial contributions to the software to be in the list of authors. If both @johnmyleswhite and @timholy have been inactive in the project for a long time, and they approve of the JOSS submission not listing them as authors, then we can accept that. But their names should still be listed in an original copyright notice, as per the license conditions.

[2018-03-15 11:55] pkofod commented on #615
The LICENSE.md file mentions "John Myles White and other contributors"

Yes, but let me repeat that this is not due to an explicit wish to exclude them. I think we will try to go the route of waiting for the review of @ahwillia , and then when everything is good to go besides the authorship, we will ship the draft off to facebook's legal department and see what they say. In Tim's case it's not so

[2018-03-15 14:06] arfon commented on #618
@lfasnacht - this should fix it: https://github.com/UniNE-CHYN/mmappickle/pull/2

The Pandoc converter is a little more fussy than GitHub about markdown structure.

[2018-03-15 14:07] arfon commented on #494
👍 thanks @joezuntz.

@jronayne - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-03-15 14:44] lfasnacht commented on #618
Merged, thank you very much!

[2018-03-15 14:45] lfasnacht commented on #618
@whedon generate pdf

[2018-03-15 14:45] whedon commented on #618
[code]

[2018-03-15 14:46] whedon commented on #618
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00618/joss.00618/10.21105.joss.00618.pdf)

[2018-03-15 15:50] DTChuck commented on #608
Just wanted to check if there was anything else I needed to get to people before the review could start.

[2018-03-15 15:57] arfon commented on #608
@whedon assign @arfon as editor

[2018-03-15 15:57] whedon commented on #608
OK, the editor is @arfon

[2018-03-15 15:58] arfon commented on #608
:wave: @abhishekbajpayee, @oesteban, @abuccts, @earino would one of you be willing to review this submission for JOSS?

[2018-03-15 15:59] arfon commented on #608
Once we have a reviewer assigned we can get going.

[2018-03-15 16:12] abhishekbajpayee commented on #608
I would be happy to review.

Abhishek

On Thu, Mar 15, 2018, 8:59 AM Arfon Smith <notifications@github.com> wrote:

[2018-03-15 16:26] amoeba commented on #268
Hey @arfon yes I would. I can tackle it this weekend.

[2018-03-15 17:07] leeper commented on #504
@virgesmith No problem. I've found someone.

[2018-03-15 17:07] leeper commented on #504
@whedon assign @rdrr1990 as reviewer

[2018-03-15 17:07] whedon commented on #504
OK, the reviewer is @rdrr1990

[2018-03-15 17:07] leeper commented on #504
@whedon start review magic-word=bananas

[2018-03-15 17:07] whedon opened #629 "[REVIEW]: humanleague: a C++ microsynthesis package with R and python interfaces"
**Submitting author:** @virgesmith (<a href="http://orcid.org/0000-0002-9951-6642">Andrew Smith</a>)
**Repository:** <a href="https://github.com/virgesmith/humanleague" target ="_blank">https://github.com/virgesmith/humanleague</a>
**Version:** 2.0.2
**Editor:** @leeper
**Reviewer:** @rdrr1990
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1238461" target="_blank">10.5281/zenodo.1238461</a

[2018-03-15 17:07] whedon commented on #504
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/629. Feel free to close this issue now!

[2018-03-15 17:07] whedon commented on #629
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @rdrr1990 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-03-15 17:07] whedon commented on #629
[code]

[2018-03-15 17:08] whedon commented on #629
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00629/joss.00629/10.21105.joss.00629.pdf)

[2018-03-15 17:08] #504 closed

[2018-03-15 17:33] ahwillia commented on #615
Does the year of the LICENSE matter? It is listed as 2012 and John Myles White is the only name listed. I think it would make sense to add a few more names there. Perhaps "John Myles White, JuliaNLSolvers organization, and other contributors" ?

I might be wrong, but I seem to remember the package being nearly entirely re-written by @pkofod at some point. So to me it seems fine that John doesn't n

[2018-03-15 17:42] labarba commented on #615
We do it like this, reflecting major release years, with author lists changing according to level of contribution:

(c) 2012 Founding Author, Second Founder
(c) 2014 Founding Author, Second Founder, New Contributor
(c) 2018 Main Contributor, New Contributor, Another Contributor, Founding Author, Second Founder

You just keep adding (c) lines below, and over time some authors may drop.

Then the li

[2018-03-15 18:44] pkofod commented on #615
Thanks for the feedback @ahwillia

I think some of these have already been adressed. Is it possible to generate a new paper pdf @labarba ?

For the rest,

I am totally fine mentioning scipy.optimize (and JuMP and Convex), but it is not totally clear to me where to draw the line. Should R's optim also be mentioned then?

[2018-03-15 19:32] labarba commented on #615
@whedon generate pdf

[2018-03-15 19:32] whedon commented on #615
[code]

[2018-03-15 19:32] whedon commented on #615
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00615/joss.00615/10.21105.joss.00615.pdf)

[2018-03-15 19:44] ahwillia commented on #615
It wouldn't hurt, I suppose. Is the biggest different between R's optim, `scipy.optim`, and Julia's Optim the language? Or are there other differences that are worth mentioning?

Those are the questions I could see a new user wondering.

[2018-03-15 19:47] pkofod commented on #615
Gotcha. I'll talk to @anriseth and come up with some changes to address your comments (the other ones as well). Thanks.

[2018-03-15 21:29] pragyansmita commented on #515
The documentation provided is complete. It includes a good step-by-step example related to New Mexico and occurance of cancer. I will watch out for datasets and problems where this tool can be applied.Very interesting solution and made an engaging read. Thank you.

[2018-03-15 23:37] arfon commented on #608
@whedon assign @abhishekbajpayee as reviewer

[2018-03-15 23:37] whedon commented on #608
OK, the reviewer is @abhishekbajpayee

[2018-03-15 23:37] arfon commented on #608
@whedon start review magic-word=bananas

[2018-03-15 23:37] #608 closed

[2018-03-15 23:37] whedon opened #630 "[REVIEW]: HSImage: A Python and C++ library to allow interaction with ENVI-BIL hyperspectral images"
**Submitting author:** @DTChuck (<a href="http://orcid.org/0000-0002-3832-775X">Ryan Brown</a>)
**Repository:** <a href="https://github.com/DTChuck/HSImage" target ="_blank">https://github.com/DTChuck/HSImage</a>
**Version:** v1.2.0
**Editor:** @arfon
**Reviewer:** @abhishekbajpayee
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1250506" target="_blank">10.5281/zenodo.1250506</a>

## Statu

[2018-03-15 23:37] whedon commented on #608
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/630. Feel free to close this issue now!

[2018-03-15 23:37] whedon commented on #630
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @abhishekbajpayee it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-03-15 23:37] whedon commented on #630
[code]

[2018-03-15 23:37] arfon commented on #608
@abhishekbajpayee - excellent, thanks! See you over in #630 for the actual review.

[2018-03-15 23:38] whedon commented on #630
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00630/joss.00630/10.21105.joss.00630.pdf)

[2018-03-15 23:38] arfon commented on #630
@abhishekbajpayee - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-03-16 01:09] arfon commented on #268
Wonderful, thanks so much @amoeba.

@whedon assign @amoeba as reviewer

[2018-03-16 01:09] arfon commented on #268
@whedon assign @amoeba as reviewer

[2018-03-16 01:09] whedon commented on #268
OK, the reviewer is @amoeba

[2018-03-16 01:09] arfon commented on #268
@whedon generate pdf

[2018-03-16 01:09] whedon commented on #268
[code]

[2018-03-16 01:10] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-03-16 01:11] arfon commented on #268
@scls19fr - please could you take a look at the guidelines for the [JOSS paper structure](http://joss.theoj.org/about#paper_structure) and add some more detail to your `paper.md` please?

[2018-03-16 06:51] pjotrp commented on #583
Hi @serine. Looks like we have an impasse. Software deployment is the achilles heel of bioinformatics!

Can you look into a deployment scheme? To me Docker, bioconda or GNU Guix are the systems of choice. Apt should not be used because it interferes with other software on a system. It should be easy to run software - at least a version of it. One advantage of choosing one of the three that it incl

[2018-03-16 07:03] serine commented on #583
@pjotrp It is a shame that you guys having issues with running pipeline, but it is great to get this kind of feedback about "ease of use" so to speak. Like I said before I can't imagine any other pipeline will be any easier to install. At the end of the day the pipeline doesn't require any installation at all, just BigDataScript, that can be downloaded as pre-compiled binary. But of course the pip

[2018-03-16 08:41] pkofod commented on #615
@whedon generate pdf

[2018-03-16 08:41] whedon commented on #615
[code]

[2018-03-16 08:42] whedon commented on #615
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00615/joss.00615/10.21105.joss.00615.pdf)

[2018-03-16 09:24] BasTesterink commented on #617
I have very little to comment on this submission. Within minutes I was able to download and compile the framework on my Windows 10 machine with an Eclipse Oxygen installation. The examples that I tried (there are a lot of them) all ran without any errors on the first try. The code is well documented, clean and readable, both for the core Java code and the example agent-programming code. The manual

[2018-03-16 09:39] anriseth commented on #615
We have updated the license and addressed @ahwillia's points (scipy.optimize, JuMP, and Convex.jl). Thanks for the feedback!

[2018-03-16 11:36] scls19fr commented on #268
I will do this monday morning

[2018-03-16 12:29] MikeInnes commented on #602
I've tried to address @ysimillides comments, he can say if that's sufficient.

As no other reviewers have stepped up over a month, seems like it might be challenging to get more review on this. Is there any chance of moving forward with the one review?

[2018-03-16 12:33] ysimillides commented on #602
@MikeInnes Thanks! Everything looks good on my end now.

[2018-03-16 12:36] danielskatz commented on #617
Thanks @BasTesterink

There should be an explicit guidelines section somewhere, likely in the README. It's useful for people new to open source to have some text that tells them how they can ask questions, or how they can make contributions (both in terms of mechanism and policy).

[2018-03-16 13:45] arfon commented on #268
👍thanks.

[2018-03-16 13:57] louiseadennis commented on #617
Not 100% sure of the process here.  But I've added a "Problems and Contributions" section to the README and pushed to the master branch.

[2018-03-16 14:04] danielskatz commented on #617
For some reason, https://sourceforge.net/p/mcapl/mcapl_code/ci/master/tree/ isn't currently working

[2018-03-16 14:48] danielskatz commented on #617
now it's back - not sure what happened...

[2018-03-16 15:23] louiseadennis commented on #617
It was behaving strangely when @arfon was looking at it on Wednesday, throwing errors which implied a memory management problem at some level.  I was going to look into it but then the problem went away so I assumed sourceforge had fixed it at their end.

[2018-03-16 15:43] andrewyatz commented on #583
Hi. Sorry this is more my fault that it's just not been possible for me to devote enough time to test through the existing changes that @serine has implemented. Don't take this as a comment on the changes but my availability.

[2018-03-16 17:15] andrewyatz commented on #583
Okay I've resurrected my work and switched to an Ubuntu box. Still no joy. In fact the same error I see on my mac. This is in Mon

[2018-03-16 17:55] whedon opened #631 "[PRE REVIEW]: MLxtend: Providing machine learning and data science utilities and extensions to Python's scientific computing stack"
**Submitting author:** @rasbt (<a href="http://orcid.org/0000-0001-6989-4493">Sebastian Raschka</a>)
**Repository:** <a href="https://github.com/rasbt/mlxtend" target ="_blank">https://github.com/rasbt/mlxtend</a>
**Version:** v0.11.0
**Editor:** @arokem
**Reviewer:** @mlgill

**Author instructions**

Thanks for submitting your paper to JOSS @rasbt. The JOSS editor (shown at the top of this issue)

[2018-03-16 17:55] whedon commented on #631
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-16 17:55] whedon commented on #631
[code]

[2018-03-16 17:55] whedon commented on #631
PDF failed to compile for issue #631 with the following error:

 Can't find any papers to compile :-(

[2018-03-16 17:55] arfon commented on #631
👋 @arokem - the submitting author suggested you as the handling editor.

[2018-03-16 17:55] arfon commented on #631
@whedon generate pdf

[2018-03-16 17:55] whedon commented on #631
[code]

[2018-03-16 17:56] whedon commented on #631
PDF failed to compile for issue #631 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/631/paper.md): did not find expected key while parsing a block mapping at line 5 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/ve

[2018-03-16 17:58] whedon opened #632 "[PRE REVIEW]: `ijtiff`: An R package providing TIFF I/O for _ImageJ_ users"
**Submitting author:** @rorynolan (<a href="http://orcid.org/0000-0002-5239-4043">Rory Nolan</a>)
**Repository:** <a href="https://github.com/ropensci/ijtiff" target ="_blank">https://github.com/ropensci/ijtiff</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @rorynolan. The JOSS editor (shown at the top of this issu

[2018-03-16 17:58] whedon commented on #632
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-16 17:58] whedon commented on #632
[code]

[2018-03-16 17:58] whedon commented on #632
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00632/joss.00632/10.21105.joss.00632.pdf)

[2018-03-16 17:59] arfon commented on #632
@whedon assign @arfon as reviewer

[2018-03-16 17:59] whedon commented on #632
OK, the reviewer is @arfon

[2018-03-16 17:59] arfon commented on #632
@whedon start review magic-word=bananas

[2018-03-16 17:59] #632 closed

[2018-03-16 17:59] whedon opened #633 "[REVIEW]: `ijtiff`: An R package providing TIFF I/O for _ImageJ_ users"
**Submitting author:** @rorynolan (<a href="http://orcid.org/0000-0002-5239-4043">Rory Nolan</a>)
**Repository:** <a href="https://github.com/ropensci/ijtiff" target ="_blank">https://github.com/ropensci/ijtiff</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1200842" target="_blank">10.5281/zenodo.1200842</a>

## Status

[![sta

[2018-03-16 17:59] whedon commented on #632
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/633. Feel free to close this issue now!

[2018-03-16 17:59] whedon commented on #633
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-16 17:59] whedon commented on #633
[code]

[2018-03-16 17:59] arfon commented on #633
Accepting because of https://github.com/ropensci/onboarding/issues/164

[2018-03-16 17:59] whedon commented on #633
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00633/joss.00633/10.21105.joss.00633.pdf)

[2018-03-16 18:00] arfon commented on #633
@whedon set 10.5281/zenodo.1200842 as archive

[2018-03-16 18:00] whedon commented on #633
OK. <a href="http://dx.doi.org/10.5281/zenodo.1200842" target="_blank">10.5281/zenodo.1200842</a> is the archive.

[2018-03-16 18:33] rasbt commented on #631
@whedon generate pdf

[2018-03-16 18:33] whedon commented on #631
[code]

[2018-03-16 18:33] whedon commented on #631
PDF failed to compile for issue #631 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/631/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/ve

[2018-03-16 19:07] rasbt commented on #631
@whedon generate pdf

[2018-03-16 19:07] whedon commented on #631
[code]

[2018-03-16 19:07] whedon commented on #631
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00631/joss.00631/10.21105.joss.00631.pdf)

[2018-03-16 19:08] rasbt commented on #631
@arfon It seems to be fixed now. It was due to a stupid mistake: I enclosed the title in single quotes and had an apostrophe (Python's) in the title.

[2018-03-16 20:09] kortschak commented on #593
@giraola I will be able to look at the functionality criterion when the tests are added, so after that and the addition of the correct version tag, I'll be able to complete my review.

[2018-03-16 20:15] giraola commented on #593
@kortschak we are expecting to finish the tests in the following days, we will notify you when done. Thanks.

[2018-03-16 21:01] arfon commented on #633
@rorynolan - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00633 :zap: :rocket: :boom:

[2018-03-16 21:01] #633 closed

[2018-03-16 21:01] whedon commented on #633
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00633/status.svg)](https://doi.org/10.21105/joss.00633)

**We need your help!**

Journal of Open Source Software

[2018-03-16 21:41] danielskatz commented on #595
@biotomas - would you be willing to review this submission for JOSS?

[2018-03-17 12:42] joshuaulrich commented on #30
@afron, @karantibrewal,

Will review this weekend. I did notice that [backtestGraphics was removed from CRAN](https://cran.r-project.org/web/packages/backtestGraphics/index.html) since late January because `R CMD check` problems were not addressed.  I ran `R CMD check` locally and on the default platforms for `rhub::check_for_cran()`, but I did not see any obvious issues. @karantibrewal, what issu

[2018-03-17 13:33] davidkane9 commented on #30
D'uh! Missed that notice because we failed to maintain a current maintainer
e-mail address. So, not sure what CRAN wanted fixed.

Karan: Please make yourself the maintainer and resubmit to CRAN.

On Sat, Mar 17, 2018 at 12:42 PM, Joshua Ulrich <notifications@github.com>
wrote:

[2018-03-17 14:21] joshuaulrich commented on #30
Oops, I did not respond to questions about my initial comments.

The "s/foo/bar/" means substitute "foo" with "bar".  It's a command you can do in many text programming languages (e.g. sed, awk) and is shorthand many programmers use.  Sorry for the confusion!  In this case, it means you need to change "backtestgraphics" with "backtestGraphics".  The specific text is, "...more complex backtests, \p

[2018-03-18 10:40] biorelated commented on #536
@whedon assign @pboesu  as reviewer

[2018-03-18 10:40] whedon commented on #536
OK, the reviewer is @pboesu

[2018-03-18 10:41] biorelated commented on #536
@whedon start review

[2018-03-18 10:41] whedon commented on #536
You didn't say the magic word! Try this:

[code]

[2018-03-18 10:42] biorelated commented on #536
@whedon start review magic-word=bananas

[2018-03-18 10:42] whedon opened #634 "[REVIEW]: genieR: An R package for inference of demographic history of phylogenies"
**Submitting author:** @xiangfstats (<a href="http://orcid.org/0000-0003-3644-7114">Fei Xiang</a>)
**Repository:** <a href="https://github.com/xiangfstats/GenieR" target ="_blank">https://github.com/xiangfstats/GenieR</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @pboesu
**Archive:** <a href="https://doi.org/10.5281/zenodo.2532305" target="_blank">10.5281/zenodo.2532305</a>

## Status

[2018-03-18 10:42] whedon commented on #536
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/634. Feel free to close this issue now!

[2018-03-18 10:42] whedon commented on #634
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @pboesu it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-18 10:42] whedon commented on #634
[code]

[2018-03-18 10:42] whedon commented on #634
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00634/joss.00634/10.21105.joss.00634.pdf)

[2018-03-18 11:21] whedon opened #635 "[PRE REVIEW]: Aquatracker: Data Visualization and Analysis for Acoustic Telemetry"
**Submitting author:** @reefpicker (<a href="http://orcid.org/0000-0002-2155-3339">Jose</a>)
**Repository:** <a href="https://github.com/reefpicker/AquaTracker" target ="_blank">https://github.com/reefpicker/AquaTracker</a>
**Version:** 2.41
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @reefpicker. The JOSS editor (shown at the top of

[2018-03-18 11:21] whedon commented on #635
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-18 11:21] whedon commented on #635
[code]

[2018-03-18 11:21] whedon commented on #635
PDF failed to compile for issue #635 with the following error:

 Can't find any papers to compile :-(

[2018-03-18 11:24] arfon commented on #635
👋@reefpicker - please take another look at our [submission requirements](http://joss.theoj.org/about#submission_requirements). This repository appears to be missing:

- A license
- Files named `paper.md` and `paper.bib`
- A README in the repository.

[2018-03-18 16:38] leeper commented on #620
@whedon assign @leeper as editor

[2018-03-18 16:38] whedon commented on #620
OK, the editor is @leeper

[2018-03-18 16:39] leeper commented on #620
@ellessenne Thanks for your submission to JOSS! Do you have anyone you'd like to recommend as a possible reviewer of the package?

[2018-03-18 16:49] pragyansmita commented on #620
@leeper @ellessenne I am not as familiar with comorbidity codes. I can review w.r.t. the R package.

[2018-03-18 17:28] katyhuff commented on #588
Wonderful! Thanks @dwillcox  @zingale @jschwab & @kyleniemeyer !

 @dwillcox  & @zingale : Could you make an archive of the current version of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-03-18 17:52] kyleniemeyer commented on #626
@arfon @parrish weirdly, this showed up in the list of published papers for the week.

[2018-03-18 17:53] kyleniemeyer commented on #558
@jedbrown have you been able to make progress on this review?

[2018-03-18 17:54] kyleniemeyer commented on #565
Hi @bryanwweber have you been able to complete your review?

[2018-03-18 17:54] kyleniemeyer commented on #597
Hi @hafermann just wanted to check in on the status of your review.

[2018-03-18 20:27] dwillcox commented on #588
Hi @katyhuff I have archived the current version on Zenodo, here is the DOI: 10.5281/zenodo.1202434

[2018-03-18 20:42] dwillcox commented on #588
Also, I had to make a new release on github in order for Zenodo to archive it, so this is v1.1.1.

[2018-03-18 21:08] rasbt commented on #631
Thanks for volunteering as the editor, @arokem !

@mlgill , @rhiever , @chrisalbon come to mind, who are data science and python experts as well as big open source contributors (and may have not used the library, yet, to be unbiased when it comes to reviewing it in terms of e.g., the installation and documentation requirements via JOSS)

[2018-03-18 21:44] katyhuff commented on #588
@whedon set 10.5281/zenodo.1202434 as archive

[2018-03-18 21:44] whedon commented on #588
OK. <a href="http://dx.doi.org/10.5281/zenodo.1202434" target="_blank">10.5281/zenodo.1202434</a> is the archive.

[2018-03-18 21:44] katyhuff commented on #588
@whedon generate pdf

[2018-03-18 21:44] whedon commented on #588
[code]

[2018-03-18 21:45] katyhuff commented on #588
@arfon we're ready to accept this!

[2018-03-18 21:45] whedon commented on #588
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00588/joss.00588/10.21105.joss.00588.pdf)

[2018-03-18 22:20] abelsiqueira commented on #615
Sorry about the absence.

I reviewed the corrections and the concerns are all addressed, though there are just two new things I noticed:

- I remembered [NLP.py](http://pythonoptimizers.github.io/NLP.py/latest/) as another similar high-level language software, it might fit in the comparison as well.
- The authors of the references are jumbled (maybe some style I'm not aware?):

[2018-03-18 23:17] arfon commented on #615
Yeah, I'm not sure about this. We're just using the default Pandoc/citeproc styles but I agree it's a little weird...

[2018-03-18 23:57] arfon commented on #588
@jschwab @kyleniemeyer - many thanks for your reviews here and to @katyhuff for editing this submission ✨

@dwillcox - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00588 ⚡️:rocket: :boom:

[2018-03-18 23:57] #588 closed

[2018-03-18 23:57] whedon commented on #588
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00588/status.svg)](https://doi.org/10.21105/joss.00588)

**We need your help!**

Journal of Open Source Software

[2018-03-19 00:09] dwillcox commented on #588
Thanks again @katyhuff @jschwab @kyleniemeyer -- it's been a pleasure interacting with you as we prepared pynucastro for publication via JOSS.

This was my first time using JOSS and this has been a very constructive experience!

-Don

[2018-03-19 00:10] arfon commented on #635
@whedon commands

[2018-03-19 00:10] whedon commented on #635
Here are some things you can ask me to do:

[code]

[2018-03-19 00:19] dwillcox commented on #588
Quick question @katyhuff -- since we retain copyright to the JOSS paper and it's licensed as CC-BY, can we submit the JOSS paper to the arXiv preprint server without modification?

[2018-03-19 04:40] amoeba commented on #268
Hey @scls19fr I've posted my partial review at https://github.com/python-windrose/windrose/issues/77 while we wait on the updates you are making to the paper. Let me know if you have any questions over there.

[2018-03-19 08:25] ljvmiranda921 commented on #613
Hello @GregaVrbancic , I have opened-up some issues from my review, please check them out.

[2018-03-19 08:41] GregaVrbancic commented on #613
Hello @ljvmiranda921 , thank you for your time and effort to review our software. We'll take a look at opened issues and will try to address them as soon as possible.

[2018-03-19 09:23] henrik227 commented on #572
@Kevin-Mattheus-Moerman How do we proceed from here? I just checked a few authors of papers that were relevant for our work, but they don't seem to be on GitHub. The only other candidates I can think of right now are other SymPy developers, or somebody from the Mathics project (https://github.com/mathics), but I don't know any of them.

[2018-03-19 10:32] ellessenne commented on #620
Thank you @leeper!
I would be glad if @pragyansmita could review the R package part.
Also, may I suggest @maelle? If I am correct she has experience with both R packages and epidemiology. @maelle, I would really appreciate it.
Thanks!

[2018-03-19 12:31] mlgill commented on #631
@rasbt I am potentially interested. Could you let me know what's expected and approximate timeline? I have a hectic next two weeks due to work obligations, but it will improve after that. Thanks!

[2018-03-19 13:16] danielskatz commented on #617
Just adding a note that @fraimondi's review is expected the 20th of April - we'll be on hold until then.

[2018-03-19 13:41] arfon commented on #578
👋 @jasonclark - are you able to edit this submission for JOSS?

[2018-03-19 13:42] arfon commented on #591
:wave: @mgymrek - would you be willing to edit this submission for JOSS?

[2018-03-19 13:43] arfon commented on #628
:wave: @acabunoc - would you be willing to edit this submission for JOSS?

[2018-03-19 14:17] rasbt commented on #631
Thanks @mlgill , and no worries about the time line! I think there's no official time constraint like the 30 days for other academic, reviews, but something in that ballpark would be good. Also, JOSS reviews as involved as reviews for other academic journals, because the papers are basically just a summary of the software package in 250-500 words. Mainly, the reviews is to check whether the submis

[2018-03-19 14:32] arfon commented on #445
@nelkibs - how are you getting along here?

[2018-03-19 14:34] arfon commented on #549
@paulklemm - please carry out your review here when you get a chance?

@jorgeboucas - also, please take a look at @dvalters' comments and provide feedback.

[2018-03-19 14:36] arfon commented on #596
👋 @desilinguist - please take a look at this when you get a chance.

[2018-03-19 14:37] arfon commented on #314
👋@lmullen - just a reminder to review @AndySouth's feedback sometime soon.

[2018-03-19 14:52] biorelated commented on #445
@nelkibs raised some issues in regard to this submission.  @athrom as not commented on the issues.
@athrom could kindly comment on these issues?

[2018-03-19 17:08] arokem commented on #631
@mlgill : not much left for me to explain: What @rasbt said pretty much sums it up.

No worries about the time-frame: if you think you might be able to do this in 3-4 weeks, that should be fine. Just let me know if you can take this on, and I will set up the review issue, with the check-list for you to use as a guide.

Thanks!

[2018-03-19 19:36] labarba commented on #394
@weymouth -- This submission has been inactive for a while. Are you still working on it?

[2018-03-19 19:37] mlgill commented on #631
@arokem @rasbt I think this is doable -- I might get some time next week to get started, but either way will work on it in April and I think I can complete in 4 weeks. Just let me know when the checklist is ready!

[2018-03-19 19:38] labarba commented on #615
I see that both reviewers have checked off all items in the review checklist.

Can I have confirmation that the reviewers recommend acceptance?
@abelsiqueira @ahwillia ?

Also, can I have confirmation from the authors that they've finished working on it?
@anriseth

[2018-03-19 19:41] rasbt commented on #631
Nice, thanks @mlgill ! And no pressure! :)

[2018-03-19 19:41] labarba commented on #558
Hi @jedbrown -- @mesnardo and @piyueh have been working on the `joss-review` branch, addressing the issues you opened on the code repo itself.

[2018-03-19 19:46] karthik commented on #635
@arfon Thanks, on it.

[2018-03-19 19:47] ahwillia commented on #615
Yes I recommend acceptance.

On Mar 19, 2018 12:39 PM, "Lorena A. Barba" <notifications@github.com>
wrote:

I see that both reviewers have checked off all items in the review
checklist.

Can I have confirmation that the reviewers recommend acceptance?
@abelsiqueira <https://github.com/abelsiqueira> @ahwillia
<https://github.com/ahwillia> ?

Also, can I have confirmation from the authors that they'

[2018-03-19 19:49] karthik commented on #635
@AquaTracker Thanks for the submission. Your software has no README file describing what the software does, how one might use it, or anything other information about installation requirements. There is a `paper.bib.txt` but no paper.   Hidden inside `https://raw.githubusercontent.com/reefpicker/AquaTracker/master/summary.txt` is a note that this is Visual Basic software. I don't use it myself, so

[2018-03-19 20:46] pkofod commented on #615
I know Asbjørn submitted it, but please allow me to reach out to the other potential authors one last time, so get their final comments on wether they want to be credited as co-authors of if the acknowledgement is sufficient.

[2018-03-20 01:48] abelsiqueira commented on #615
I recommend acceptance

[2018-03-20 11:01] maelle commented on #620
Thanks for thinking of me! Sorry I have no time in the short term but maybe ask @Paula-Moraga or @brooke-watson?

[2018-03-20 11:51] labarba commented on #615
OK, everyone. Thank you sincerely to @ahwillia and @abelsiqueira for their review.

@arfon -- We're waiting for the authors to do a final effort of adjusting their author list with contributors currently not named, due to their employment restrictions. After they give us the flag, the paper is ready for publication.

[2018-03-20 12:43] ljvmiranda921 commented on #613
Hello @GregaVrbancic ,

I appreciate the swift response on the issues. Overall the library looks good once the remaining branches are merged. Once we close the issues, we can complete the checklist above and call-in the Editor.

[2018-03-20 13:10] GregaVrbancic commented on #613
@ljvmiranda921 thank you again for such a quick responses on opened issues. We are working on closing those remaining opened issues. If I understood correctly, after closing those issues and completing the checklist above, we have to make a new release of software and archive it on zenodo?

[2018-03-20 13:16] athrom commented on #445
I have addressed the issues raised by adding LICENSE and INSTALLATION INSTRUCTIONS documents to github.

[2018-03-20 13:17] ljvmiranda921 commented on #613
Yes I believe that's correct. But I'd prefer we wait for the editor's go signal first before making a new release so we won't miss anything and avoid making multiple releases.

[2018-03-20 13:21] GregaVrbancic commented on #613
Sure, I agree, It's better to wait for editors confirmation.

[2018-03-20 13:40] reefpicker commented on #635
Karthik,

Sorry, I have been a bit busy with work. Yes, I understand what it is
missing and was planning out on adding the readme.

I believe anyone with C# or .NET skills could review the software source
code. The software itself is available for download as an exe file at the
NOAA website also so if you don't have the VB IDE/compiler, you could in
theory review the materials submitted. It is ver

[2018-03-20 14:07] ellessenne commented on #620
Thanks for the feedback and suggestions @maelle! I'd be happy if @Paula-Moraga or @brooke-watson want to get involved!

[2018-03-20 14:21] leeper commented on #620
Hi @Paula-Moraga and @brooke-warson, would either of you be interested in reviewing this for JOSS?

[2018-03-20 14:30] brooke-watson commented on #620
@maelle , thanks for thinking of me! I've never used Charlson or Elixhauser scores, so I don't think I'm the best fit given the time investment it would require. This looks like it will be a helpful package, though, @ellessenne - all the best!

[2018-03-20 14:52] leeper commented on #620
@brooke-watson No problem. Thanks!

[2018-03-20 15:05] Paula-Moraga commented on #620
@leeper Same here. I have never used comorbidity scores. Sorry and thanks for thinking of me.

[2018-03-20 16:28] leeper commented on #620
@Paula-Moraga Cheers for the reply. No problem!

[2018-03-20 18:15] whedon opened #636 "[PRE REVIEW]: autoplotly: An R package for automatic generation of interactive visualizations for statistical results"
**Submitting author:** @terrytangyuan (<a href="http://orcid.org/0000-0001-5243-233X">Yuan Tang</a>)
**Repository:** <a href="https://github.com/terrytangyuan/autoplotly" target ="_blank">https://github.com/terrytangyuan/autoplotly</a>
**Version:** v0.1.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @terrytangyuan. The JOSS editor (sh

[2018-03-20 18:15] whedon commented on #636
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-20 18:15] whedon commented on #636
[code]

[2018-03-20 18:15] whedon opened #637 "[PRE REVIEW]: Matrix Studio: An OpenCL Integrated Development Environment"
**Submitting author:** @pascal-ballet (<a href="http://orcid.org/0000-0002-2429-9532">Pascal Ballet</a>)
**Repository:** <a href="https://github.com/pascal-ballet/matrixstudio" target ="_blank">https://github.com/pascal-ballet/matrixstudio</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @pascal-ballet. The JOSS e

[2018-03-20 18:15] whedon commented on #637
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-20 18:15] whedon commented on #637
[code]

[2018-03-20 18:15] whedon commented on #637
PDF failed to compile for issue #637 with the following error:

 Can't find any papers to compile :-(

[2018-03-20 18:15] whedon commented on #636
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00636/joss.00636/10.21105.joss.00636.pdf)

[2018-03-20 18:15] arfon commented on #637
👋 @labarba - the submitting author suggested you as the handling editor.

[2018-03-20 18:16] arfon commented on #637
@whedon generate PDF

[2018-03-20 18:16] whedon commented on #637
[code]

[2018-03-20 18:16] whedon commented on #637
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00637/joss.00637/10.21105.joss.00637.pdf)

[2018-03-21 00:58] lmullen commented on #314
@AndySouth Thanks for your thorough review, which I very much appreciate. Please accept my sincere apologies for the undue delay in implementing the requested changes.

I have gone through the issues that were opened on the USAboundaries issue and addressed them all. In all but one case I made the change that was requested. Those issues should have links to the commits and any other discussion so

[2018-03-21 02:47] ljvmiranda921 commented on #613
@whedon commands

[2018-03-21 02:47] whedon commented on #613
Here are some things you can ask me to do:

[code]

[2018-03-21 02:49] ljvmiranda921 commented on #613
@whedon generate pdf

[2018-03-21 02:49] whedon commented on #613
[code]

[2018-03-21 02:49] whedon commented on #613
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00613/joss.00613/10.21105.joss.00613.pdf)

[2018-03-21 03:14] ljvmiranda921 commented on #613
Hi @arfon ,

I am done reviewing NiaPy. The issues I opened (referenced here in this issue) have now been closed. All boxes have been checked.

## Review Summary

NiaPy is a Python library for nature-inspired optimization. It offers a simple and easy-to-use solution to minimize algorithm implementation from scratch. Overall, the software is a good candidate for publication in JOSS.

### Functional

[2018-03-21 04:11] arokem commented on #631
@whedon set @mlgill as reviewer

[2018-03-21 04:12] arokem commented on #631
@whedon assign @mlgill as reviewer

[2018-03-21 04:12] whedon commented on #631
OK, the reviewer is @mlgill

[2018-03-21 04:12] arokem commented on #631
@whedon start review magic-word=bananas

[2018-03-21 04:12] whedon opened #638 "[REVIEW]: MLxtend: Providing machine learning and data science utilities and extensions to Python's scientific computing stack"
**Submitting author:** @rasbt (<a href="http://orcid.org/0000-0001-6989-4493">Sebastian Raschka</a>)
**Repository:** <a href="https://github.com/rasbt/mlxtend" target ="_blank">https://github.com/rasbt/mlxtend</a>
**Version:** v0.11.0
**Editor:** @arokem
**Reviewer:** @mlgill
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1226560" target="_blank">10.5281/zenodo.1226560</a>

## Status

[![s

[2018-03-21 04:12] whedon commented on #631
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/638. Feel free to close this issue now!

[2018-03-21 04:12] whedon commented on #638
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @mlgill it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-21 04:12] whedon commented on #638
[code]

[2018-03-21 04:12] whedon commented on #638
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00638/joss.00638/10.21105.joss.00638.pdf)

[2018-03-21 04:12] arokem commented on #631
OK @mlgill : head over to #638 for the review. I am closing this one now.

[2018-03-21 04:12] #631 closed

[2018-03-21 07:57] lucijabrezocnik commented on #613
@whedon generate pdf

[2018-03-21 07:57] whedon commented on #613
[code]

[2018-03-21 07:57] whedon commented on #613
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00613/joss.00613/10.21105.joss.00613.pdf)

[2018-03-21 08:57] danielskatz commented on #595
@biotomas agreed (via email) to review.

[2018-03-21 08:58] danielskatz commented on #595
@whedon start review magic-word=bananas

[2018-03-21 08:58] whedon commented on #595
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/639. Feel free to close this issue now!

[2018-03-21 08:58] whedon opened #639 "[REVIEW]: LearnSAT: A SAT Solver for Education"
**Submitting author:** @motib (<a href="http://orcid.org/0000-0002-2091-5107">Mordechai Ben-Ari</a>)
**Repository:** <a href="https://github.com/motib/LearnSAT" target ="_blank">https://github.com/motib/LearnSAT</a>
**Version:** V2.0
**Editor:** @danielskatz
**Reviewer1:** @audemard
**Reviewer2:** @biotomas
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1230536" target="_blank">10.5281/zen

[2018-03-21 08:58] whedon commented on #639
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @audemard it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-03-21 08:58] whedon commented on #639
[code]

[2018-03-21 08:58] #595 closed

[2018-03-21 08:58] whedon commented on #639
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00639/joss.00639/10.21105.joss.00639.pdf)

[2018-03-21 09:01] danielskatz commented on #639
@arfon, please invite @biotomas so that he can do this review

[2018-03-21 09:01] danielskatz commented on #639
@audemard & @biotomas - this review is now open.
See instructions above.

Please use this issue to track any questions/concerns you have, even if you actually create new issues on focused details in https://github.com/motib/LearnSAT

Any questions on the review, please ask.

[2018-03-21 09:18] motib commented on #639
@audemard , @biotomas,

Thank you for agreeing to review my submission.

I am leaving today for a 12-day vacation (really, I'm not taking a laptop!).
While I will be able to respond to general queries,
addressing detailed questions about the software
will have to wait until the beginning of April.

[2018-03-21 14:48] giraola commented on #593
@kortschak @juanvillada tests are already added, you can have a look now in the repo. @kortschak which is wrong with the version tag?

[2018-03-21 14:52] juanvillada commented on #593
Thanks @giraola, already did a preliminary "manual" test. Will do the proper test asap and post a couple of comments later this week.

[2018-03-21 15:17] iferres commented on #593
@juanvillada There was a typo on one of the test scripts which was making the test to fail, now everything is working.

[2018-03-21 15:35] arfon commented on #613
Wonderful, many thanks @ljvmiranda921!

@lucijabrezocnik - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-03-21 16:41] lucijabrezocnik commented on #613
Hi @arfon !

We have prepared a new release and archived the current version of NiaPy on Zenodo ([https://zenodo.org/record/1205048](https://zenodo.org/record/1205048)). Here is the DOI: 10.5281/zenodo.1205048.

[2018-03-21 16:44] rhiever commented on #631
I can help with this starting next week sometime.

[2018-03-21 20:43] bryanwweber commented on #565
@kyleniemeyer @bjodah Sorry! This fell off my radar. I'll try finish ASAP

[2018-03-21 23:44] joethorley commented on #624
@boshek thanks for the helpful review - your comments all make sense to me.

[2018-03-22 03:12] jasonclark commented on #578
@whedon assign @jasonclark as editor

[2018-03-22 03:12] whedon commented on #578
OK, the editor is @jasonclark

[2018-03-22 03:17] jasonclark commented on #578
@arfon @mhucka Yes, I'm on it. Asking for possible reviewers and will set up next steps.

[2018-03-22 03:29] jasonclark commented on #578
@gabrielspadon Would you have time to review the Dassie software? Thanks for considering.

[2018-03-22 04:06] kortschak commented on #593
@giraola There is no version tagged in the repository.

[2018-03-22 04:42] kortschak commented on #593
I am unable to run the tests successfully:
[code]

It might be worthwhile setting up a CI service job with TravisCI or similar so that tests are run on commit.

[2018-03-22 13:50] arfon commented on #30
👍 thanks @joshuaulrich

[2018-03-22 13:51] arfon commented on #545
@Aneoshun - please let me know when you've had a chance to incorporate @dfm's review feedback.

[2018-03-22 13:51] arfon commented on #613
@whedon set 10.5281/zenodo.1205048 as archive

[2018-03-22 13:51] whedon commented on #613
OK. <a href="http://dx.doi.org/10.5281/zenodo.1205048" target="_blank">10.5281/zenodo.1205048</a> is the archive.

[2018-03-22 13:55] whedon commented on #613
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00613/status.svg)](https://doi.org/10.21105/joss.00613)

**We need your help!**

Journal of Open Source Software

[2018-03-22 14:21] iferres commented on #593
I think "phylen" should be between quotes in test_package function. Anyway, I still got an error:
``

Error: No tests found for phylen

``
which is strange because it runs ok when I use Ctrl + Shift + T inside RStudio. Let me check what's going on and I let you know.
I will check the CI stuff.
Thanks for all the recommendations, by the way, its my first package on revision and I'm learning a lot w

[2018-03-22 14:34] caseyyoungflesh commented on #586
@karthik @arfon Apologies for being such a pest but I just wanted to check in on things to make sure everything was sorted here. Thanks!

[2018-03-22 14:47] pkofod commented on #615
JMW has responded that the acknowledgement is sufficient, but I've yet to hear back from Tim Holy.

[2018-03-22 15:43] j-faria commented on #487
Hi @arfon, what is the standard procedure to move on with this review? If @barentsen doesn't have time to continue the review should we look for another referee? This has been idle for a very long time now.

[2018-03-22 15:50] arfon commented on #487
Hey @j-faria - I emailed @barentsen earlier in the week and he confirmed over email that he'll be back to this very soon.

[2018-03-22 15:56] arfon commented on #586
@jkarreth - would you be willing to review this submission for JOSS?

[2018-03-22 15:57] arfon commented on #624
Thanks for the thorough and thoughtful review @boshek. @joethorley - please let me know when you've had a chance to incorporate @boshek's review feedback.

[2018-03-22 16:01] danielskatz commented on #639
@arfon, please invite @biotomas so that he can do this review

[2018-03-22 16:06] arfon commented on #639
Done.

[2018-03-22 16:06] iferres commented on #593
Regarding version: Is written at the DESCRIPTION file. Do you think it should be more visible?

[2018-03-22 18:06] jasonclark commented on #591
If you don't hear back from @mgymrek, I can help with the editing.

[2018-03-22 18:09] hafermann commented on #597
Hi @kyleniemeyer, I have completed the review.

[2018-03-22 20:06] kortschak commented on #593
@iferres Thank you for doing that. Testthat is not wildly helpful in this kind of context I see.

For the version, at some point you will need to make a release, github will require that this is a tagged commit and the JOSS requirement is that the release matches version here "Does the release version given match the GitHub release (v0.1.0)?" This is obviously impossible if followin good git tag h

[2018-03-22 20:38] iferres commented on #593
@kortschak Ok, done. Thanks for your patience explaining this. Please, confirm if what I did is what is needed.
Regarding the `test_package` issue, I found [this](https://github.com/r-lib/testthat/issues/205#issuecomment-69342965).

[2018-03-22 20:52] kortschak commented on #593
That works (hopefully there won't need to be a bump, but it looks like there won't be - in my submissions it has gone in as v1.0.0 and become v1.0.1 by the time review has gone through).

Thanks for the link (I filed an issue at testthat asking for improvement of the docs).

[2018-03-23 03:40] kyleniemeyer commented on #597
@hafermann do you have any comments or feedback for the authors?

[2018-03-23 03:51] jordigh commented on #430
Looks good now. It's ready.

[2018-03-23 09:40] wahls commented on #597
@whedon generate pdf

[2018-03-23 09:40] whedon commented on #597
[code]

[2018-03-23 09:41] whedon commented on #597
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00597/joss.00597/10.21105.joss.00597.pdf)

[2018-03-23 09:45] wahls commented on #597
Dear @hafermann, many thanks for reviewing. I have added the missing DOI's to the paper.

[2018-03-23 10:29] jkarreth commented on #586
Yes, happy to review it!

[2018-03-23 11:06] fakenmc commented on #430
Thank you for the review!

[2018-03-23 11:37] arfon commented on #586
@whedon set arfon as editor

[2018-03-23 11:37] arfon commented on #586
@whedon assign @arfon as editor

[2018-03-23 11:37] whedon commented on #586
OK, the editor is @arfon

[2018-03-23 11:37] arfon commented on #586
@whedon assign @jkarreth as reviewer

[2018-03-23 11:38] whedon commented on #586
OK, the reviewer is @jkarreth

[2018-03-23 11:38] arfon commented on #586
@whedon start review magic-word=bananas

[2018-03-23 11:38] #586 closed

[2018-03-23 11:38] whedon opened #640 "[REVIEW]: MCMCvis: Tools to Visualize, Manipulate, and Summarize MCMC Output"
**Submitting author:** @caseyyoungflesh (<a href="http://orcid.org/0000-0001-6343-3311">Casey Youngflesh</a>)
**Repository:** <a href="https://github.com/caseyyoungflesh/MCMCvis" target ="_blank">https://github.com/caseyyoungflesh/MCMCvis</a>
**Version:** v0.10.0
**Editor:** @arfon
**Reviewer:** @jkarreth
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1216120" target="_blank">10.5281/zenod

[2018-03-23 11:38] whedon commented on #586
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/640. Feel free to close this issue now!

[2018-03-23 11:38] whedon commented on #640
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jkarreth it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-03-23 11:38] whedon commented on #640
[code]

[2018-03-23 11:38] arfon commented on #586
@jkarreth - thanks! See you over in #640 for the actual review.

[2018-03-23 11:38] arfon commented on #640
@jkarreth - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-03-23 11:38] whedon commented on #640
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00640/joss.00640/10.21105.joss.00640.pdf)

[2018-03-23 16:51] lheagy commented on #566
👋 Hi @jarvist: how are things going with addressing @yxqd's comments?

[2018-03-23 18:23] whedon opened #641 "[PRE REVIEW]: CLIMLAB: a Python toolkit for interactive, process-oriented climate modeling"
**Submitting author:** @brian-rose (<a href="http://orcid.org/0000-0002-9961-3821">Brian Rose</a>)
**Repository:** <a href="https://github.com/brian-rose/climlab/" target ="_blank">https://github.com/brian-rose/climlab/</a>
**Version:** v0.6.4
**Editor:** @lheagy
**Reviewers:** @Chilipp, @dhhagan

**Author instructions**

Thanks for submitting your paper to JOSS @brian-rose. The JOSS editor (shown

[2018-03-23 18:23] whedon commented on #641
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-23 18:23] whedon commented on #641
[code]

[2018-03-23 18:23] whedon commented on #641
PDF failed to compile for issue #641 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a

[2018-03-23 18:24] arfon commented on #641
👋@lheagy - the submitting author suggested you as the handling editor.

[2018-03-23 18:25] lheagy commented on #641
I would be happy to edit this submission!

[2018-03-24 14:59] bjodah commented on #565
The second entry in the references in https://github.com/openjournals/joss-papers/blob/joss.00552/joss.00552/10.21105.joss.00552.pdf does not render properly. Any idea what's going wrong there?

[2018-03-24 17:10] kyleniemeyer commented on #565
@bjodah the reference style we use avoids repeating the same author name multiple times in a row, so the line is just to indicate the same author as the reference before it

[2018-03-24 17:43] bryanwweber commented on #565
I'm satisfied that the package functions as specified, with the exception of an error in one of the demo scripts (linked above, issue on chempy repo). However, the paper appears to have not been updated with the target audience, as suggested in the review criteria, and as I noted in https://github.com/openjournals/joss-reviews/issues/565#issuecomment-363984324 Is there an updated version of the pa

[2018-03-24 19:32] whedon opened #642 "[PRE REVIEW]: Test JOSS submission"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="http://github.com/arfon/joss" target ="_blank">http://github.com/arfon/joss</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @arfon, @arfonsmith

**Author instructions**

Thanks for submitting your paper to JOSS @arfon. The JOSS editor (shown at the top of this issue) wi

[2018-03-24 19:32] whedon commented on #642
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-24 19:32] whedon commented on #642
[code]

[2018-03-24 19:32] whedon commented on #642
PDF failed to compile for issue #642 with the following error:

 Can't find any papers to compile :-(

[2018-03-24 19:34] arfon commented on #642
@whedon assign @arfon as reviewer

[2018-03-24 19:34] whedon commented on #642
OK, the reviewer is @arfon

[2018-03-24 19:34] arfon commented on #642
@whedon commands

[2018-03-24 19:34] whedon commented on #642
Here are some things you can ask me to do:

[code]

[2018-03-24 19:35] arfon commented on #642
@whedon add @arfonsmith as reviewer

[2018-03-24 19:35] whedon commented on #642
OK, @arfonsmith is now a reviewer

[2018-03-24 19:35] arfon commented on #642
@whedon start review magic-word=bananas

[2018-03-24 19:35] whedon commented on #642
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/643. Feel free to close this issue now!

[2018-03-24 19:35] whedon opened #643 "[REVIEW]: Test JOSS submission"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="http://github.com/arfon/joss" target ="_blank">http://github.com/arfon/joss</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @@arfon, @@arfonsmith
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/8d3f8cd866a07a78525a018081ab4617/status.svg)](http:/

[2018-03-24 19:35] whedon commented on #643
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @@arfon, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-03-24 19:35] whedon commented on #643
[code]

[2018-03-24 19:35] whedon commented on #643
PDF failed to compile for issue #643 with the following error:

 Can't find any papers to compile :-(

[2018-03-24 19:42] #643 closed

[2018-03-24 19:42] #642 closed

[2018-03-24 19:44] whedon opened #644 "[PRE REVIEW]: JOSS test"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="http://github.com/arfon/joss" target ="_blank">http://github.com/arfon/joss</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @arfon, @arfonsmith

**Author instructions**

Thanks for submitting your paper to JOSS @arfon. The JOSS editor (shown at the top of this issue) wi

[2018-03-24 19:44] whedon commented on #644
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-24 19:44] whedon commented on #644
[code]

[2018-03-24 19:44] arfon commented on #644
@whedon assign @arfon as reviewer

[2018-03-24 19:44] whedon commented on #644
PDF failed to compile for issue #644 with the following error:

 Can't find any papers to compile :-(

[2018-03-24 19:44] whedon commented on #644
OK, the reviewer is @arfon

[2018-03-24 19:44] arfon commented on #644
@whedon add @arfonsmith as reviewer

[2018-03-24 19:45] whedon commented on #644
OK, @arfonsmith is now a reviewer

[2018-03-24 19:48] arfon commented on #644
@whedon start review magic-word=bananas

[2018-03-24 19:48] whedon opened #645 "[REVIEW]: JOSS test"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="http://github.com/arfon/joss" target ="_blank">http://github.com/arfon/joss</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfon, @arfonsmith
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/1bef0731159885bc6c8037ab144d857f/status.svg)](http://j

[2018-03-24 19:48] whedon commented on #644
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/645. Feel free to close this issue now!

[2018-03-24 19:48] whedon commented on #645
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-24 19:48] whedon commented on #645
[code]

[2018-03-24 19:48] whedon commented on #645
PDF failed to compile for issue #645 with the following error:

 Can't find any papers to compile :-(

[2018-03-24 19:52] arfon commented on #645
@whedon commands

[2018-03-24 19:52] whedon commented on #645
Here are some things you can ask me to do:

[code]

[2018-03-24 19:52] #645 closed

[2018-03-25 11:40] whedon opened #646 "[PRE REVIEW]: Spiral: splitters for identifiers in source code files"
**Submitting author:** @mhucka (<a href="http://orcid.org/0000-0001-9105-5960">Michael Hucka</a>)
**Repository:** <a href="https://github.com/casics/spiral" target ="_blank">https://github.com/casics/spiral</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewers:** @timClicks

**Author instructions**

Thanks for submitting your paper to JOSS @mhucka. The JOSS editor (shown at the top of this issue)

[2018-03-25 11:40] whedon commented on #646
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-25 11:40] whedon commented on #646
[code]

[2018-03-25 11:40] whedon commented on #646
PDF failed to compile for issue #646 with the following error:

 Can't find any papers to compile :-(

[2018-03-25 11:40] whedon opened #647 "[PRE REVIEW]: ggstatsplot: R package for 'ggplot2' Based Plots with Statistical Details"
**Submitting author:** @IndrajeetPatil (<a href="http://orcid.org/0000-0003-1995-6531">Indrajeet Patil</a>)
**Repository:** <a href="https://github.com/IndrajeetPatil/ggstatsplot" target ="_blank">https://github.com/IndrajeetPatil/ggstatsplot</a>
**Version:** 0.0.1
**Editor:** @cMadan
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @IndrajeetPatil. The JOSS

[2018-03-25 11:40] whedon commented on #647
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-25 11:40] whedon commented on #647
[code]

[2018-03-25 11:40] whedon commented on #647
PDF failed to compile for issue #647 with the following error:

 Can't find any papers to compile :-(

[2018-03-25 11:41] arfon commented on #647
👋@cMadan - the submitting author suggested you as the handling editor.

[2018-03-25 16:40] arokem commented on #524
Hi @josephhardinee : I saw that you posted an issue on the software repo. Do you have any more comments here? Several of the check-boxes are currently unchecked -- does that mean that the authors need to fix some of these things? Thanks!

[2018-03-25 17:05] pjotrp commented on #591
@whedon assign @jasonclark as reviewer

[2018-03-25 17:06] pjotrp commented on #591
@whedon assign @jasonclark as editor

[2018-03-25 17:06] whedon commented on #591
OK, the editor is @jasonclark

[2018-03-25 17:07] pjotrp commented on #591
@whedon add @pjotrp as editor

[2018-03-25 17:09] pjotrp commented on #591
Nice try. @arfon, two editors not allowed. @whedon is silent. @jasonclark I can help find a reviewer, or take over as an editor if you prefer.

[2018-03-25 17:13] pjotrp commented on #591
Sorry I added you as an editor without asking - I wanted to add both of us.

[2018-03-25 17:29] pjotrp commented on #591
@alexgarciac offers to review the Edam browser.

[2018-03-25 17:41] arfon commented on #591
Yes, this is expected. https://github.com/openjournals/whedon-api/pull/25 only added support for multiple _reviewers_.

[2018-03-25 18:14] karthik commented on #314
Thanks @lmullen I'll take a look shortly and follow up with next steps.

[2018-03-26 00:19] brainstorm commented on #616
@luizirber Feel free to ask any questions if you have any on how to proceed with this review. Check out the checklist above ;)

[2018-03-26 00:47] rasbt commented on #638
@whedon generate pdf

[2018-03-26 00:47] whedon commented on #638
[code]

[2018-03-26 00:47] whedon commented on #638
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00638/joss.00638/10.21105.joss.00638.pdf)

[2018-03-26 00:47] rasbt commented on #638
(regarding the changes in the PDF: I just added a list of acknowledgements attributing the contributors)

[2018-03-26 00:52] mhucka commented on #646
@whedon generate pdf

[2018-03-26 00:52] whedon commented on #646
[code]

[2018-03-26 00:53] whedon commented on #646
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00646/joss.00646/10.21105.joss.00646.pdf)

[2018-03-26 00:55] mhucka commented on #646
Looks good.

[2018-03-26 08:03] danielskatz commented on #622
For the record, the reviews from @smgallo and @marpierc are expected by the end of March and April 5, respectively.

[2018-03-26 08:11] danielskatz commented on #639
@audemard @biotomas - I'm hoping that you both can start your reviews soon.

In case it's not clear, your job is basically to go through the checklist items, making sure that all can be checked.  To do this, you will also have to examine the [paper](https://github.com/openjournals/joss-papers/blob/joss.00639/joss.00639/10.21105.joss.00639.pdf) and the contents of the [code repository](https://gith

[2018-03-26 12:55] #644 closed

[2018-03-26 12:57] brian-rose commented on #641
I pushed an update to the climlab repo that fixes the missing affiliation issue. Not sure if I need to take some other action here?

[2018-03-26 14:18] desilinguist commented on #596
This is a package that uses information retrieval methods to solve a very niche but interesting problem - figuring out whether a given string is completely nonsense or whether it is likely to be "meaningful text" but specifically in the context of identifier names used in source code. It's a very interesting approach and I quite like it.

In general, the submission is pretty much good to go except

[2018-03-26 14:55] leeper commented on #620
@whedon assign @corinne-riddell as reviewer

[2018-03-26 14:55] whedon commented on #620
OK, the reviewer is @corinne-riddell

[2018-03-26 14:55] leeper commented on #620
@whedon start review magic-word=bananas

[2018-03-26 14:55] whedon opened #648 "[REVIEW]: comorbidity: An R package for computing comorbidity scores"
**Submitting author:** @ellessenne (<a href="http://orcid.org/0000-0002-8319-7624">Alessandro Gasparini</a>)
**Repository:** <a href="https://github.com/ellessenne/comorbidity" target ="_blank">https://github.com/ellessenne/comorbidity</a>
**Version:** 0.1.0
**Editor:** @leeper
**Reviewer:** @corinne-riddell
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1209837" target="_blank">10.5281/ze

[2018-03-26 14:55] whedon commented on #620
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/648. Feel free to close this issue now!

[2018-03-26 14:55] whedon commented on #648
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @corinne-riddell it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-03-26 14:55] whedon commented on #648
[code]

[2018-03-26 14:55] #620 closed

[2018-03-26 14:56] whedon commented on #648
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00648/joss.00648/10.21105.joss.00648.pdf)

[2018-03-26 15:05] lheagy commented on #641
@whedon commands

[2018-03-26 15:05] whedon commented on #641
Here are some things you can ask me to do:

[code]

[2018-03-26 15:05] lheagy commented on #641
@whedon generate pdf

[2018-03-26 15:05] whedon commented on #641
[code]

[2018-03-26 15:06] whedon commented on #641
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00641/joss.00641/10.21105.joss.00641.pdf)

[2018-03-26 15:12] brian-rose commented on #641
Ok there were some missing refs and formatting issues. Just pushed a new update.

[2018-03-26 15:12] brian-rose commented on #641
@whedon generate pdf

[2018-03-26 15:12] whedon commented on #641
[code]

[2018-03-26 15:13] whedon commented on #641
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00641/joss.00641/10.21105.joss.00641.pdf)

[2018-03-26 15:15] brian-rose commented on #641
Better but not picking up two missing refs that I just added to `paper.bib`

[2018-03-26 15:16] lheagy commented on #641
Thanks @brian-rose: when did you add them? we can re-compile again

[2018-03-26 15:17] brian-rose commented on #641
In the same commit where I fixed the formatting. I'll try again...

[2018-03-26 15:17] brian-rose commented on #641
@whedon generate pdf

[2018-03-26 15:17] whedon commented on #641
[code]

[2018-03-26 15:18] whedon commented on #641
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00641/joss.00641/10.21105.joss.00641.pdf)

[2018-03-26 15:19] brian-rose commented on #641
Ah, find a typo in my source. Let's try this again...

@whedon generate pdf

[2018-03-26 15:20] brian-rose commented on #641
@whedon generate pdf

[2018-03-26 15:20] whedon commented on #641
[code]

[2018-03-26 15:21] whedon commented on #641
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00641/joss.00641/10.21105.joss.00641.pdf)

[2018-03-26 15:22] brian-rose commented on #641
@lheagy looks good to me now.

[2018-03-26 15:23] lheagy commented on #641
Thanks @brian-rose, looks good! I will start sending out messages for reviewers. Do you have any suggestions?

[2018-03-26 15:33] whedon opened #649 "[PRE REVIEW]: Filtering academic literature by Altmetric score and a twitter bot"
**Submitting author:** @wdecoster (<a href="http://orcid.org/0000-0002-5248-8197">Wouter De Coster</a>)
**Repository:** <a href="https://github.com/wdecoster/PromisingPreprint" target ="_blank">https://github.com/wdecoster/PromisingPreprint</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @wdecoster. The JOSS edito

[2018-03-26 15:33] whedon commented on #649
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-26 15:33] whedon commented on #649
[code]

[2018-03-26 15:33] whedon commented on #649
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00649/joss.00649/10.21105.joss.00649.pdf)

[2018-03-26 16:54] brian-rose commented on #641
I don't have any particular reviewer requests. There are a few folks on the reviewer list who list Python and "atmospheric science" or "climate".

[2018-03-26 16:58] lheagy commented on #641
👋 Hi @Chilipp, @andreas-h, with your background in climate and atmospheric science as well as experience with python, your input on this JOSS submission would be much appreciated! Would you be willing to review this submission for JOSS?

[2018-03-26 17:24] AndySouth commented on #314
Good work on addressing the issues @lmullen , best wishes for the next steps.

[2018-03-26 17:36] Chilipp commented on #641
Yes @lheagy, it sounds very interesting. :ok_hand:

[2018-03-26 17:55] lmullen commented on #314
@AndySouth Thanks very much for the review. It has made the package stronger in a number of ways, not least the consistency of using all sf objects. Much appreciated!

[2018-03-26 18:04] luizirber commented on #616
@brainstorm on it =]

@greatfireball I see there were quite a bunch of new releases since the submission, do you want me to review the latest one (`1.2.3`?)

[2018-03-26 18:07] joethorley commented on #624
@arfon I've incorporated @boshek 's review feedback. In particular I've

- revised the `exclusive` argument documentation so that it reads "A flag indicating whether other names are not permitted."

- added a description for each function

- generated package level documentation using `usethis::use_package_doc()` - this is a helpful function I was not aware of.

- replaced `1:nrow(x)` with `seq_le

[2018-03-26 18:08] karthik commented on #314
Thanks very much for your time and expertise, @AndySouth 🙏
@lmullen I'm happy with the changes and the explanation for the one exception. Please archive your software on Zenodo and post a DOI here. I will proceed with accepting your submission.

Thank you!

[2018-03-26 18:11] lmullen commented on #314
@karthik Here is the link to the Zenodo archive for v0.3.0 (the version reviewed): https://zenodo.org/record/825218

It's linked in `paper.md` but I'm happy to change the way it is listed if there is a standard way to do so for JOSS.

[2018-03-26 18:11] hafermann commented on #597
Hi @kyleniemeyer, I was not sure whether comments were solicited looking at the reviewer guidelines. I have no further comments other than that the code submitted by @wahls compiled fine including all features, examples and documentation and worked out of the box. We have verified it also for independent test cases. It will for sure be very useful for the community.

[2018-03-26 18:12] hafermann commented on #597
Dear @wahls, welcome.

[2018-03-26 18:14] lmullen commented on #314
This is the DOI to Zenodo. https://doi.org/10.5281/zenodo.825218

[2018-03-26 18:25] arfon commented on #624
Great. Thanks @joethorley! @boshek - would you be able to take another look?

[2018-03-26 18:35] boshek commented on #624
So good! In particular I really like the new vignette. Everything looks great to me. I say ship it.

[2018-03-26 18:41] wdecoster commented on #649
@whedon commands

[2018-03-26 18:46] whedon commented on #649
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00649/joss.00649/10.21105.joss.00649.pdf)

[2018-03-26 19:12] wdecoster commented on #649
@whedon generate pdf

[2018-03-26 19:12] whedon commented on #649
[code]

[2018-03-26 19:13] whedon commented on #649
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00649/joss.00649/10.21105.joss.00649.pdf)

[2018-03-26 19:13] luizirber commented on #616
Some comments and fixes required:

# General checks

- [ ] André Billion and Andreas Vilcinskas are listed in the paper, but not in the repository. (nothing wrong with that, but maybe they should be in the repo too?)

# Installation

- [ ] Use a tagged version instead of master?
`git clone -b v1.2.3 git@github.com:microPIECE-team/microPIECE.git`
`curl -L -o microPIECE.zip https://github.com/microP

[2018-03-26 19:13] wdecoster commented on #649
@whedon start review

[2018-03-26 19:13] whedon commented on #649
I'm sorry @wdecoster, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-03-26 19:16] arfon commented on #589
@whedon list reviewers

[2018-03-26 19:16] whedon commented on #589
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-03-26 19:16] arfon commented on #589
@whedon commands

[2018-03-26 19:16] whedon commented on #589
Here are some things you can ask me to do:

[code]

[2018-03-26 19:19] arfon commented on #589
@HadrienG, @xirdneh, @serine - would you be willing to review this submission for JOSS? Ideally I'd like to find two reviewers for this submission.

[2018-03-26 19:21] arfon commented on #610
@whedon list reviewers

[2018-03-26 19:21] whedon commented on #610
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-03-26 19:25] arfon commented on #618
@stensy, @clemaitre58, @glemaitre - would you be willing to review this submission for JOSS? I'd like to find a couple of reviewers for this submission.

[2018-03-26 19:26] labarba commented on #637
Hi  @pascal-ballet — Thank you for your submission, but we find that it is out of scope for JOSS.

As we detail in the [Author Guidelines](http://joss.theoj.org/about#author_guidelines):

Your software does not seem to fall into any of these descriptions. If there is a research application that we are missing, you would have to clearly expand on this in the paper.

As it is now, the submission was

[2018-03-26 19:41] Schuch666 commented on #627
@whedon commands

[2018-03-26 19:41] whedon commented on #627
Here are some things you can ask me to do:

[code]

[2018-03-26 19:45] arfon commented on #627
@whedon list reviewers

[2018-03-26 19:45] whedon commented on #627
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-03-26 19:49] Schuch666 commented on #627
@whedon set 10.5281/zenodo.1208113 as archive

[2018-03-26 19:49] whedon commented on #627
I'm sorry @Schuch666, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-03-26 19:56] Schuch666 commented on #627
Hi @arfon , is it possible to suggest you as editor?

[2018-03-26 19:57] arfon commented on #627
@Schuch666 - could you take a look at the reviewer list (https://bit.ly/joss-reviewers) and see if you could suggest a few potential reviewers?

[2018-03-26 19:58] arfon commented on #627
:-) Sure thing. I'd like to find a couple of reviewers first.

[2018-03-26 19:59] Schuch666 commented on #627
thank you @arfon

[2018-03-26 20:04] #637 closed

[2018-03-26 20:05] Schuch666 commented on #627
May I suggest @benmarwick and/or @nuest for reviewers? I read their profiles and I believe they have a good background for reviewing. Thanks again.

[2018-03-26 20:17] whedon commented on #646
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-03-26 21:01] arfon commented on #636
@whedon list reviewers

[2018-03-26 21:01] whedon commented on #636
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-03-26 21:05] terrytangyuan commented on #636
Sure. By doing a random search, it looks the following reviewers are related to "visualizations" and "R":
@kellieotto @zfurnas @jkarreth @corybrunson @chlalanne

[2018-03-26 21:17] glemaitre commented on #618
I can be one of the reviewer.

[2018-03-26 22:26] lheagy commented on #641
Thanks @Chilipp! We will wait to hear from @andreas-h before starting the review

[2018-03-26 23:08] ibarraespinosa commented on #607
Hi @leeper, thank you for the review. Could you please help me with some doubts regarding the unchecked boxes?:

_Authorship: Has the submitting author (@ibarraespinosa) made major contributions to the software? Does the full list of paper authors seem appropriate and complete?_

I did not understand. Should I include/exclude authors?

_Functionality: Have the functional claims of the software bee

[2018-03-26 23:16] jhollist commented on #607
All,. I am still working through my review on this.  So sorry for the delay
(and unchecked boxes)!  Hoping to finalize and submit a more complete
review in the next couple of days.

On Mon, Mar 26, 2018, 7:08 PM Sergio Ibarra Espinosa <
notifications@github.com> wrote:

[2018-03-26 23:20] caley commented on #610
@arfon perhaps stuartcampbell, dlagrava, or krother.  They all have Java listed and mathematics backgrounds.  Also jochym who seems to have a relevent math/physics background, but not Java.

[2018-03-26 23:23] mhucka commented on #578
@arfon I'm not sure how to handle this, so I have to ask here: I neglected to include an NSF agency funding acknowledgment in the paper. How can I add it? Can I go ahead and modify the paper that's in the github repo, or is there a different procedure I should follow?

[2018-03-26 23:24] mhucka commented on #646
@arfon Similar to my question related to another paper recently submitted: I neglected to include an NSF agency funding acknowledgment in this paper as well. Can I go ahead and modify the paper that's in the github repo, or is there a different procedure I should follow?

[2018-03-26 23:31] mhucka commented on #646
@arfon W.r.t. reviewers, based solely on the domains/topics of expertise listed in the spreadsheet, the following people seem like they might be candidates:
* richardlitt
* timClicks
* ahurriyetoglu

[2018-03-27 00:01] arfon commented on #578
Please go ahead and add this to the paper. I've seen authors add an `#acknowledgements` section to their `paper.md` file in the past. This should compile OK.

[2018-03-27 00:01] joethorley commented on #624
@arfon here it is <https://doi.org/10.5281/zenodo.1208141>.

[2018-03-27 00:02] arfon commented on #610
:wave: @stuartcampbell, @dlagrava and @jochym - would you be willing to review this submission for JOSS. As this is outside my subject area as an editor I'd like to find two reviewers if possible.

[2018-03-27 00:03] arfon commented on #624
@whedon set 10.5281/zenodo.1208141 as archive

[2018-03-27 00:03] whedon commented on #624
OK. <a href="http://dx.doi.org/10.5281/zenodo.1208141" target="_blank">10.5281/zenodo.1208141</a> is the archive.

[2018-03-27 00:13] stuartcampbell commented on #610
Yes I am willing to have a look...

[2018-03-27 00:20] dlagrava commented on #610
@arfon I can also give a look to this.

[2018-03-27 00:30] arfon commented on #624
@boshek - many thanks for your review here ✨

@joethorley - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00624 ⚡️:rocket: :boom:

[2018-03-27 00:30] #624 closed

[2018-03-27 00:31] whedon commented on #624
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00624/status.svg)](https://doi.org/10.21105/joss.00624)

**We need your help!**

Journal of Open Source Software

[2018-03-27 00:33] arfon commented on #610
@whedon assign @arfon as editor

[2018-03-27 00:33] whedon commented on #610
OK, the editor is @arfon

[2018-03-27 00:33] arfon commented on #610
@whedon assign @stuartcampbell as reviewer

[2018-03-27 00:33] whedon commented on #610
OK, the reviewer is @stuartcampbell

[2018-03-27 00:33] arfon commented on #610
@whedon add @dlagrava as reviewer

[2018-03-27 00:34] whedon commented on #610
OK, @dlagrava is now a reviewer

[2018-03-27 00:34] arfon commented on #610
@whedon start review magic-word=bananas

[2018-03-27 00:34] #610 closed

[2018-03-27 00:34] whedon opened #650 "[REVIEW]: OpenEPSim: An Open Exclusion Process Simulation Tool"
**Submitting author:** @caley (<a href="http://orcid.org/0000-0001-8593-1987">Caley Finn</a>)
**Repository:** <a href="https://github.com/caley/OpenEPSim" target ="_blank">https://github.com/caley/OpenEPSim</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewer:** @stuartcampbell, @dlagrava
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/20beffb41baf83fe996ded15960baa84/sta

[2018-03-27 00:34] whedon commented on #610
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/650. Feel free to close this issue now!

[2018-03-27 00:34] whedon commented on #650
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @stuartcampbell, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-03-27 00:34] whedon commented on #650
[code]

[2018-03-27 00:34] whedon commented on #650
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00650/joss.00650/10.21105.joss.00650.pdf)

[2018-03-27 00:34] arfon commented on #650
@stuartcampbell, @dlagrava - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-03-27 00:35] arfon commented on #610
@stuartcampbell, @dlagrava - please head over to #650 to carry out the actual review.

[2018-03-27 00:49] arfon commented on #646
@timClicks, @ahurriyetoglu - would you be willing to review this submission for JOSS? As this submission is outside of my research area I would like to find two reviewers for this submission.

[2018-03-27 00:49] mhucka commented on #578
@arfon Thanks – that's exactly what I was going to try to do.

[2018-03-27 00:51] mhucka commented on #578
@whedon generate pdf

[2018-03-27 00:51] whedon commented on #578
[code]

[2018-03-27 00:52] whedon commented on #578
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00578/joss.00578/10.21105.joss.00578.pdf)

[2018-03-27 00:56] mhucka commented on #646
@whedon generate pdf

[2018-03-27 00:56] whedon commented on #646
[code]

[2018-03-27 00:56] whedon commented on #646
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00646/joss.00646/10.21105.joss.00646.pdf)

[2018-03-27 01:20] joethorley commented on #624
Many @arfon and @boshek - for acting as editor and reviewer - it was a positive experience

[2018-03-27 03:42] timClicks commented on #646
@arfon @mhucka Thanks for the invitation both - I will take a detailed look within 48h.

[2018-03-27 04:28] timClicks commented on #646
I've taken some time to review the paper and the project. Well done, it's very impressive. Thanks for taking the time to refine so many details.

My decision is to **Accept** the paper, subject to clarification about the first point below.

Here my review notes with reference to the [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines):

- The "JOSS paper" section requires a list

[2018-03-27 04:35] karthik commented on #233
@aknutas Sorry I missed this. Not a problem to update the repo. Please edit the issue above to fix the new repo link. Once you do that, please let me know and I'll do a review of the feedback and updates to date. Thanks!

[2018-03-27 06:30] DanielAmsel commented on #616
Thank you @luizirber for your review. We are going to fix the raised issues as soon as possible.

[2018-03-27 06:34] danielskatz commented on #622
@whedon commands

[2018-03-27 06:34] whedon commented on #622
Here are some things you can ask me to do:

[code]

[2018-03-27 06:34] danielskatz commented on #622
@whedon generate pdf

[2018-03-27 06:34] whedon commented on #622
[code]

[2018-03-27 06:35] whedon commented on #622
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00622/joss.00622/10.21105.joss.00622.pdf)

[2018-03-27 08:48] clemaitre58 commented on #618
@arfon I could also one of them

[2018-03-27 12:03] arfon commented on #618
@whedon assign @glemaitre as reviewer

[2018-03-27 12:03] arfon commented on #618
@whedon add @clemaitre58 as reviewer

[2018-03-27 12:04] arfon commented on #618
@whedon assign @arfon as editor

[2018-03-27 12:04] whedon commented on #618
OK, the editor is @arfon

[2018-03-27 12:06] arfon commented on #618
@whedon assign @glemaitre as reviewer

[2018-03-27 12:06] whedon commented on #618
OK, the reviewer is @glemaitre

[2018-03-27 12:06] arfon commented on #618
@whedon add @clemaitre58 as reviewer

[2018-03-27 12:06] whedon commented on #618
OK, @clemaitre58 is now a reviewer

[2018-03-27 12:07] arfon commented on #618
@whedon start review magic-word=bananas

[2018-03-27 12:07] #618 closed

[2018-03-27 12:07] whedon opened #651 "[REVIEW]: mmappickle: A Python 3 library to store memory mappable objects into pickle-compatible files"
**Submitting author:** @lfasnacht (<a href="http://orcid.org/0000-0002-9853-8209">Laurent Fasnacht</a>)
**Repository:** <a href="https://github.com/UniNE-CHYN/mmappickle" target ="_blank">https://github.com/UniNE-CHYN/mmappickle</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @glemaitre, @clemaitre58
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1291734" target="_blank">10.5281/z

[2018-03-27 12:07] whedon commented on #618
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/651. Feel free to close this issue now!

[2018-03-27 12:07] whedon commented on #651
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @glemaitre, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-03-27 12:07] whedon commented on #651
[code]

[2018-03-27 12:07] whedon commented on #651
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00651/joss.00651/10.21105.joss.00651.pdf)

[2018-03-27 12:07] arfon commented on #618
@glemaitre, @clemaitre58 - thanks for agreeing to review this. Please head over to #651 for the actual review.

[2018-03-27 12:27] glemaitre commented on #651
My item linked to the revision:

* [functionality/scope of the project](https://github.com/UniNE-CHYN/mmappickle/issues/3)

[2018-03-27 13:02] whedon opened #652 "[PRE REVIEW]: Quantitative Imaging Tools"
**Submitting author:** @spinicist (<a href="http://orcid.org/0000-0001-7640-5520">Tobias Wood</a>)
**Repository:** <a href="https://github.com/spinicist/QUIT" target ="_blank">https://github.com/spinicist/QUIT</a>
**Version:** v2.0.0
**Editor:** @cMadan
**Reviewers:** @oesteban

**Author instructions**

Thanks for submitting your paper to JOSS @spinicist. The JOSS editor (shown at the top of this

[2018-03-27 13:02] whedon commented on #652
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-27 13:02] whedon commented on #652
[code]

[2018-03-27 13:02] whedon commented on #652
PDF failed to compile for issue #652 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/652/Paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /

[2018-03-27 13:02] arfon commented on #652
👋@cMadan, the submitting author suggested you as the handling editor.

[2018-03-27 13:07] spinicist commented on #652
@whedon commands

[2018-03-27 13:07] whedon commented on #652
Here are some things you can ask me to do:

[code]

[2018-03-27 13:08] spinicist commented on #652
@whedon generate pdf

[2018-03-27 13:08] whedon commented on #652
[code]

[2018-03-27 13:08] whedon commented on #652
PDF failed to compile for issue #652 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/652/Paper/paper.md): mapping values are not allowed in this context at line 10 column 10 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/ven

[2018-03-27 13:09] spinicist commented on #652
Hi @arfon and @cmadan - looks like there are some problems with the `paper.md` file. I'll try to diagnose and fix as best I can. Sorry for the inconvenience

[2018-03-27 13:11] spinicist commented on #652
@whedon generate pdf

[2018-03-27 13:11] whedon commented on #652
[code]

[2018-03-27 13:11] whedon commented on #652
PDF failed to compile for issue #652 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/652/Paper/paper.md): mapping values are not allowed in this context at line 10 column 10 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/ven

[2018-03-27 13:13] spinicist commented on #652
@whedon generate pdf

[2018-03-27 13:13] whedon commented on #652
[code]

[2018-03-27 13:13] whedon commented on #652
PDF failed to compile for issue #652 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    169      0 --:--:-- --:--:-- --:--:--   171
Error reading bibl

[2018-03-27 13:15] spinicist commented on #652
@whedon generate pdf

[2018-03-27 13:15] whedon commented on #652
[code]

[2018-03-27 13:15] whedon commented on #652
PDF failed to compile for issue #652 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    308      0 --:--:-- --:--:-- --:--:--   309
Error reading bibl

[2018-03-27 13:15] spinicist commented on #652
@whedon generate pdf

[2018-03-27 13:16] whedon commented on #652
[code]

[2018-03-27 13:16] whedon commented on #652
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00652/joss.00652/10.21105.joss.00652.pdf)

[2018-03-27 13:20] spinicist commented on #652
@whedon generate pdf

[2018-03-27 13:20] whedon commented on #652
[code]

[2018-03-27 13:21] whedon commented on #652
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00652/joss.00652/10.21105.joss.00652.pdf)

[2018-03-27 13:22] spinicist commented on #652
@whedon generate pdf

[2018-03-27 13:22] whedon commented on #652
[code]

[2018-03-27 13:22] whedon commented on #652
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00652/joss.00652/10.21105.joss.00652.pdf)

[2018-03-27 13:25] spinicist commented on #652
@whedon generate pdf

[2018-03-27 13:25] whedon commented on #652
[code]

[2018-03-27 13:25] whedon commented on #652
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00652/joss.00652/10.21105.joss.00652.pdf)

[2018-03-27 13:31] spinicist commented on #652
Hello again. I think I have fixed all the issues. One thing that looks odd is that in the affiliation line there is a "1" both before and after the affiliation. I'm not sure what is causing this?

Looking down the list of reviewers, @oesteban is an obvious candidate.

(I'm also happy to volunteer as a reviewer, should I add myself to the Google doc?)

[2018-03-27 13:41] arfon commented on #652
@spinicist - this should fix the affiliation issue: https://github.com/spinicist/QUIT/pull/3

Great! Please fill out the form here: http://joss.theoj.org/reviewer-signup.html

[2018-03-27 14:11] bjodah commented on #565
@whedon generate pdf

[2018-03-27 14:11] whedon commented on #565
[code]

[2018-03-27 14:11] whedon commented on #565
PDF failed to compile for issue #565 with the following error:

 Can't find any papers to compile :-(

[2018-03-27 14:16] oesteban commented on #652
I'd be happy to review this :+1:

On Tue, Mar 27, 2018, 06:41 Arfon Smith <notifications@github.com> wrote:

[2018-03-27 15:17] arfon commented on #565
@whedon generate pdf

[2018-03-27 15:17] whedon commented on #565
[code]

[2018-03-27 15:18] whedon commented on #565
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00565/joss.00565/10.21105.joss.00565.pdf)

[2018-03-27 15:49] boshek commented on #624
@joethorley Great for me as well. Looking forward to incorporating checkr in some future work.

[2018-03-27 16:03] Kevin-Mattheus-Moerman commented on #602
@whedon generate pdf

[2018-03-27 16:03] whedon commented on #602
[code]

[2018-03-27 16:03] whedon commented on #602
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00602/joss.00602/10.21105.joss.00602.pdf)

[2018-03-27 16:18] mhucka commented on #646
Thanks for your review! About this item:

I am confused about what this refers to. The paper currently includes an explicit list of authors and affiliations in the format defined by JOSS. Also, a quick comparison to other JOSS papers shows that the amount of information about the sole author provided in this paper (about Spiral) is identical to the amount of information provided in other published

[2018-03-27 16:19] Kevin-Mattheus-Moerman commented on #602
@MikeInnes I've reviewed the paper. About the statement

would you be able to add one or more references for this?

[2018-03-27 16:21] Kevin-Mattheus-Moerman commented on #540
@amjaeger17 Could you please give us an estimated timeline for your review to be completed? Thanks

[2018-03-27 16:57] smgallo commented on #622
@danielskatz

OOD is an excellent package and fills a need for HPC users by simplifying and improving access to complicated HPC resources.  HPC centers are able to provide their users with simplified access to resources while making it easier to submit and manage both jobs and data. Single sign-on is supported making it easier to integrate with center or campus-wide authentication systems.  Becaus

[2018-03-27 17:07] Kevin-Mattheus-Moerman commented on #572
@betatim @asmeurer @mattpap @cmry @mrocklin @rlamy @Suor Would you be able to help review this [JOSS](http://joss.theoj.org/) submission about pattern matching for symbolic computation? Alternatively, could you help suggest reviewers? Thanks! :rocket:

You can access the paper [here](https://github.com/openjournals/joss-papers/blob/joss.00572/joss.00572/10.21105.joss.00572.pdf).

The project is ho

[2018-03-27 17:09] mrocklin commented on #572
I am no longer active in this field and will have to pass.  I'll recommend
@llllllllll though.

On Tue, Mar 27, 2018 at 1:07 PM, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2018-03-27 17:27] danielskatz commented on #622
Thanks @smgallo - it looks like there are some issues you raised for @ericfranz to respond to or resolve.  Additionally, I see you did not check the automated tests item, or discuss testing in your comment above.  Can you explain?

[2018-03-27 17:33] arfon commented on #646
👋@timClicks - thanks for making a head start on this. I should have clarified that I've not actually formally opened the review up yet (I was waiting for a second reviewer).

That said, given you've already started I'll go ahead and make the review issue now with the checklist for you to work through.

[2018-03-27 17:33] arfon commented on #646
@whedon assign @arfon as editor

[2018-03-27 17:33] whedon commented on #646
OK, the editor is @arfon

[2018-03-27 17:33] arfon commented on #646
@whedon assign @timClicks as reviewer

[2018-03-27 17:33] whedon commented on #646
OK, the reviewer is @timClicks

[2018-03-27 17:33] arfon commented on #646
@whedon start review magic-word=bananas

[2018-03-27 17:33] whedon opened #653 "[REVIEW]: Spiral: splitters for identifiers in source code files"
**Submitting author:** @mhucka (<a href="http://orcid.org/0000-0001-9105-5960">Michael Hucka</a>)
**Repository:** <a href="https://github.com/casics/spiral" target ="_blank">https://github.com/casics/spiral</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @timClicks
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1211835" target="_blank">10.5281/zenodo.1211835</a>

## Status

[![stat

[2018-03-27 17:33] whedon commented on #646
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/653. Feel free to close this issue now!

[2018-03-27 17:33] whedon commented on #653
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @timClicks it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-03-27 17:33] whedon commented on #653
[code]

[2018-03-27 17:34] whedon commented on #653
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00653/joss.00653/10.21105.joss.00653.pdf)

[2018-03-27 17:35] arfon commented on #653
@timClicks -  please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-03-27 17:35] #646 closed

[2018-03-27 17:35] arfon commented on #653
@ahurriyetoglu  - we'd still love a review from you for this submission if you're willing/able :grin:

[2018-03-27 17:36] corinne-riddell commented on #648
@whedon commands

[2018-03-27 17:36] whedon commented on #648
Here are some things you can ask me to do:

[code]

[2018-03-27 18:09] smgallo commented on #622
@danielskatz Apologies, I forgot to add that in.

While the documentation for the various components does explain how to use or access the component, there does not appear to be an automated test suite or manual process specified for each component to verify that the component is installed correctly (note that some components do instruct the installer to manually verify). This is a complex softwar

[2018-03-27 18:50] spinicist commented on #652
@whedon generate pdf

[2018-03-27 18:50] whedon commented on #652
[code]

[2018-03-27 18:50] whedon commented on #652
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00652/joss.00652/10.21105.joss.00652.pdf)

[2018-03-27 19:17] desilinguist commented on #596
@jakevdp @arfon I am assuming you got notified of this.

[2018-03-27 19:18] arfon commented on #596
👍yep, thanks @desilinguist!

[2018-03-27 19:40] timClicks commented on #653
@arfon Thanks for this. Apologies for getting the flow wrong!

p.s. I hadn't actually realized that my request to become a reviewer had been accepted. Happy to help 😄

[2018-03-27 20:07] timClicks commented on #653
@whedon commands

[2018-03-27 20:07] whedon commented on #653
Here are some things you can ask me to do:

[code]

[2018-03-27 20:10] pascal-ballet commented on #637
I thank you for your time and your review. Our software is effectively out of scope.
All the best.

[2018-03-27 20:38] timClicks commented on #653
@arfon I've reviewed the paper & code and could only find this technicality preventing an Accept:

- **References**: My understanding is that WordNet should be given a formal citation in the paper https://wordnet.princeton.edu/citing-wordnet. The DOI for the Miller article is [10.1145/219717.219748](http://dx.doi.org/10.1145/219717.219748)

Some more general notes:

- Has the Ronin algorithm been

[2018-03-27 21:19] arfon commented on #487
👋@j-faria - I think we should look for a new reviewer here. Do you have any suggestions for people that would be able to review your work?

[2018-03-27 21:20] arfon commented on #494
*bump* @jronayne - please go ahead and make an archive of this software so we can proceed with accepting your paper.

[2018-03-27 21:56] aknutas commented on #233
Thank you for the further information. The new repository link is available at https://github.com/aknutas/nails-package and the release is https://github.com/aknutas/nails-package/releases/tag/1.0.2 . @jankatins can you edit the original issue as I don't have edit access?

[2018-03-27 22:22] corinne-riddell commented on #648
Hi @ellessenne,

Nice package! I've learned a lot reading your code and it was interesting to read about the comorbidity scores based on ICD codes.

I've opened three issues  with a few suggestions to improve documentation in the README, and return descriptions for the comorbidity function. I also have an issue regarding testthat, but it may be a misunderstanding on my end.

I have also left unche

[2018-03-27 22:54] jankatins commented on #233
I updated the first comment with a new url and the new version. Not sure what else I can do here.

[2018-03-28 01:19] dlagrava commented on #650
@arfon This is actually my first review, I really appreciate the JOSS idea and I am very happy to collaborate.

I have started the review and even though the documentation looks good, when trying to run the code I am not getting anywhere (I let the sample run for 1 hour). How should I proceed forward? Do we contact the author? If so, how?

Thanks a lot.

[2018-03-28 01:56] arfon commented on #650
Thanks for your efforts thus far @dlagrava. We encourage you to engage the author (@caley) either here in this GitHub issue thread or by opening issues on the software repository (https://github.com/caley/OpenEPSim) and linking to those issues here.

[2018-03-28 02:13] dlagrava commented on #650
@caley Hello, I am reviewing your submission to JOSS. Both the installation from the release and compilation from source using maven work as metioned on your README.md.

However, when I try to run the sample code (esap.json), I don't get any results after 1 hour. This both from the release .jar and generating one with maven. I also see no CPU activity from running the code during this time. I have

[2018-03-28 02:44] caley commented on #650
@dlagrava First off, thanks for taking the time to do the review!  The sample file asep.json should take less than 30 seconds to run (13 seconds on my new laptop), so something is going wrong.

The Oracle JDK should definitely be fine, and you would get a error message from the Java run time if there was a problem.  Have you run the command exactly as in the README.md file?  The program expects to

[2018-03-28 02:54] dlagrava commented on #650
@caley Thanks for the info, this is what I was doing wrong, silly me. I misinterpreted the < and > as markers for the input. Personally I prefer allowing command line parameters for the main program, but this is totally my own opinion.

[2018-03-28 05:26] betatim commented on #572
Won't have time for this

[2018-03-28 08:30] leeper commented on #648
Thanks for your review, @corinne-riddell!!

@ellessenne Once you've had a chance to respond to these points and the open issues, please leave me a message here and I will give everything a final check.

[2018-03-28 09:30] ellessenne commented on #648
Thank you very much @corinne-riddell for your review!
I merged your pull requests and I am going to work on the issues you raised straight away. Very helpful!
Regarding the two unchecked items left to be addressed:
1- I can add a CONTRIBUTING.md file to the repository;
2- I can add explicit dependencies on the README file, it would be the same packages included in the
DESCRIPTION file.
@leeper, wo

[2018-03-28 09:35] leeper commented on #648
No need to list dependencies beyond the DESCRIPTION file. I'll tick that one for you.

[2018-03-28 11:44] ellessenne commented on #648
Thanks @leeper; I also just added contributing guidelines and code of conduct to the repository.

@corinne-riddell, I made some changes following your PRs / Issues, could you please give it a check? Thank you!

[2018-03-28 12:00] arfon commented on #649
Hi @wdecoster. Thanks for your submission to JOSS. Unfortunately this submission has been deemed out of scope for JOSS. As noted in our [submission requirements](http://joss.theoj.org/about#submission_requirements):

Thanks again for your interest.

[2018-03-28 12:00] #649 closed

[2018-03-28 12:04] JoFAM commented on #623
@whedon commands

[2018-03-28 12:04] whedon commented on #623
Here are some things you can ask me to do:

[code]

[2018-03-28 12:37] JoFAM commented on #623
The package provides new functionality for R: nonlinear ARDL models currently have to be built manually or calculated using other software.

## Current issues that warrant "major revision":

- There is no guidelines for bug reports or contributions : https://github.com/zedtaha/nardl/issues/12
- There is no testing done, results are impossible to check: https://github.com/zedtaha/nardl/issues/5
- h

[2018-03-28 12:56] whedon opened #654 "[PRE REVIEW]: Fast, Consistent Tokenization of Natural Language Text"
**Submitting author:** @lmullen (<a href="http://orcid.org/0000-0001-5103-6917">Lincoln Mullen</a>)
**Repository:** <a href="https://github.com/ropensci/tokenizers" target ="_blank">https://github.com/ropensci/tokenizers</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @lmullen. The JOSS editor (shown at the top of

[2018-03-28 12:56] whedon commented on #654
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-03-28 12:56] whedon commented on #654
[code]

[2018-03-28 12:56] arfon commented on #654
@whedon assign @arfon as reviewer

[2018-03-28 12:56] whedon commented on #654
OK, the reviewer is @arfon

[2018-03-28 12:56] arfon commented on #654
@whedon start review magic-word=bananas

[2018-03-28 12:56] #654 closed

[2018-03-28 12:56] whedon opened #655 "[REVIEW]: Fast, Consistent Tokenization of Natural Language Text"
**Submitting author:** @lmullen (<a href="http://orcid.org/0000-0001-5103-6917">Lincoln Mullen</a>)
**Repository:** <a href="https://github.com/ropensci/tokenizers" target ="_blank">https://github.com/ropensci/tokenizers</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1205017" target="_blank">10.5281/zenodo.1205017</a>

## Stat

[2018-03-28 12:56] whedon commented on #654
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/655. Feel free to close this issue now!

[2018-03-28 12:56] whedon commented on #655
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-03-28 12:56] whedon commented on #654
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00654/joss.00654/10.21105.joss.00654.pdf)

[2018-03-28 12:56] whedon commented on #655
[code]

[2018-03-28 12:57] whedon commented on #655
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00655/joss.00655/10.21105.joss.00655.pdf)

[2018-03-28 12:57] arfon commented on #655
Accepting because of https://github.com/ropensci/onboarding/issues/33

[2018-03-28 13:00] arfon commented on #655
@whedon set 10.5281/zenodo.1205017 as archive

[2018-03-28 13:00] whedon commented on #655
OK. <a href="http://dx.doi.org/10.5281/zenodo.1205017" target="_blank">10.5281/zenodo.1205017</a> is the archive.

[2018-03-28 13:04] arfon commented on #655
@lmullen - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00655 :zap: :rocket: :boom:

[2018-03-28 13:04] #655 closed

[2018-03-28 13:04] whedon commented on #655
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00655/status.svg)](https://doi.org/10.21105/joss.00655)

**We need your help!**

Journal of Open Source Software

[2018-03-28 13:11] leeper commented on #623
@JoFAM Thank you very much for your review! This is very useful feedback. Much appreciated.

@zedtaha I think the review does a very good job of identifying weaknesses in the structure of the code that you could address, particularly with regarding to making a fully featured API. Please take a look at the open issues and, especially, address https://github.com/zedtaha/nardl/issues/5. Thanks!

[2018-03-28 13:21] JoFAM commented on #623
@zedtaha If you want, I can create a pull request from my fork, so you have already some of the issues (partly) taken care of. Also if you want further assistance with these and other issues, feel free to ping me. I'll be glad to help you clean up your already very valuable work.

[2018-03-28 13:33] lmullen commented on #655
@arfon Wow. That was fast.

I noticed just a few minor formatting things with the BibTex. If I just update `paper.md` and `paper.bib`, can I regenerate the published version?

[2018-03-28 13:40] bryanwweber commented on #565
This LGTM now, what do I need to do to approve?

[2018-03-28 13:40] arfon commented on #655
Sure thing. Please just update the files in `master` on https://github.com/ropensci/tokenizers and I can update.

[2018-03-28 13:51] Kevin-Mattheus-Moerman commented on #572
@scopatz Please :rabbit: would you be able to help review this [JOSS](http://joss.theoj.org/) submission about pattern matching for symbolic computation? Alternatively, could you help suggest reviewers? Thanks! :rocket:

You can access the paper [here](https://github.com/openjournals/joss-papers/blob/joss.00572/joss.00572/10.21105.joss.00572.pdf).

The project is housed [here](https://github.com/H

[2018-03-28 13:53] pjamesjoyce commented on #612
Thanks for the fixes so far @cardosan. I've checked them out and they've resolved the issues successfully. I've closed issues [#2](https://bitbucket.org/cardosan/brightway2-temporalis/issues/2), [#3](https://bitbucket.org/cardosan/brightway2-temporalis/issues/3), [#5](https://bitbucket.org/cardosan/brightway2-temporalis/issues/5), [#6](https://bitbucket.org/cardosan/brightway2-temporalis/issues/6)

[2018-03-28 13:55] Kevin-Mattheus-Moerman commented on #572
@llllllllll are you available to help review this submission? Thanks

[2018-03-28 13:56] zedtaha commented on #623
@JoFAM ohh yes its a very good suggestion and I'm already OK and I found your comments very helpful.

[2018-03-28 14:04] pjotrp commented on #591
@jasonclark ping

[2018-03-28 14:05] jronayne commented on #494
@arfon - Archive has been [created](https://zenodo.org/record/1209239#.WrufqrQdLzI) with the reviesed sofware on Zenodo.
DOI:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1209239.svg)](https://doi.org/10.5281/zenodo.1209239)

Sorry for the delay and thanks again.

[2018-03-28 14:08] arfon commented on #494
@whedon set 10.5281/zenodo.1209239 as archive

[2018-03-28 14:08] whedon commented on #494
OK. <a href="http://dx.doi.org/10.5281/zenodo.1209239" target="_blank">10.5281/zenodo.1209239</a> is the archive.

[2018-03-28 14:09] corinne-riddell commented on #648
@ellessenne @leeper looks great, I think we're good to go on accepting this. Good job @ellessenne 👍

[2018-03-28 14:14] arfon commented on #494
@joezuntz - many thanks for your review here ✨

@jronayne - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00494 ⚡️:rocket: :boom:x

[2018-03-28 14:14] #494 closed

[2018-03-28 14:14] whedon commented on #494
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00494/status.svg)](https://doi.org/10.21105/joss.00494)

**We need your help!**

Journal of Open Source Software

[2018-03-28 14:40] jronayne commented on #494
@joezuntz @arfon - Thank you both for your patience and reviewing.

[2018-03-28 14:42] leeper commented on #648
Excellent. Thanks, @corinne-riddell!!

[2018-03-28 14:43] leeper commented on #648
@ellessenne Can you please generate an archive of your repository using, for example, figshare or zenodo and then include the DOI for the archive in a comment here? Once I have that, we can accept your paper in JOSS!

[2018-03-28 15:37] bjodah commented on #565
@whedon generate pdf

[2018-03-28 15:37] whedon commented on #565
[code]

[2018-03-28 15:37] whedon commented on #565
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00565/joss.00565/10.21105.joss.00565.pdf)

[2018-03-28 15:38] bjodah commented on #565
(I updated the paper with  2 new references since a PR was merged in between with fixes that added PuLP as a dependency)

[2018-03-28 15:43] cMadan commented on #652
@spinicist, this looks like a great project and I'm glad you decided to submit it to JOSS. I also appreciate you adding yourself to the reviewer list :).

@oesteban, thanks for volunteering to review--and so promptly!

Let's start the review! :)

[2018-03-28 15:43] cMadan commented on #652
@whedon start review

[2018-03-28 15:43] whedon commented on #652
You didn't say the magic word! Try this:

[code]

[2018-03-28 15:43] cMadan commented on #652
@whedon start review magic-word=bananas

[2018-03-28 15:44] jhollist commented on #607
# Hollister review for JOSS - Eixport R package

## Issue with checklist of edits

- [Issue #22](https://github.com/atmoschem/eixport/issues/22)

## Review notes

### General Comments

The R package, eixport, provides tools for importing and exporting files required for several emissions models.  It makes conversions as needed to allow greater integration between the variety of models.  Existing t

[2018-03-28 15:46] cMadan commented on #652
@whedon assign @oesteban as reviewer

[2018-03-28 15:46] whedon commented on #652
OK, the reviewer is @oesteban

[2018-03-28 15:46] cMadan commented on #652
@whedon start review magic-word=bananas

[2018-03-28 15:46] whedon opened #656 "[REVIEW]: Quantitative Imaging Tools"
**Submitting author:** @spinicist (<a href="http://orcid.org/0000-0001-7640-5520">Tobias Wood</a>)
**Repository:** <a href="https://github.com/spinicist/QUIT" target ="_blank">https://github.com/spinicist/QUIT</a>
**Version:** v2.0.0
**Editor:** @cMadan
**Reviewer:** @oesteban
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1292086" target="_blank">10.5281/zenodo.1292086</a>

## Status

[![

[2018-03-28 15:46] whedon commented on #652
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/656. Feel free to close this issue now!

[2018-03-28 15:46] whedon commented on #656
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @oesteban it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-03-28 15:46] whedon commented on #656
[code]

[2018-03-28 15:46] #652 closed

[2018-03-28 15:47] whedon commented on #656
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00656/joss.00656/10.21105.joss.00656.pdf)

[2018-03-28 16:13] bjodah commented on #565
I've tagged a new version (v0.6.6) and updated `joss-paper/codemeta.json` with the new version number and the new zenodo doi.

[2018-03-28 16:17] JoFAM commented on #623
@zedtaha Super. Do I create a pull request directly on your master branch, or do you want to create a devel branch first?

[2018-03-28 16:21] zedtaha commented on #623
@JoFAM just make a pull and it will be OK

[2018-03-28 17:55] arfon commented on #314
@whedon set 10.5281/zenodo.825218 as archive

[2018-03-28 17:55] whedon commented on #314
OK. <a href="http://dx.doi.org/10.5281/zenodo.825218" target="_blank">10.5281/zenodo.825218</a> is the archive.

[2018-03-28 18:02] arfon commented on #314
@AndySouth - many thanks for your review here and to @karthik for editing this submission ✨

@lmullen - Your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00314 :zap: :rocket: :boom:

[2018-03-28 18:02] #314 closed

[2018-03-28 18:02] whedon commented on #314
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00314/status.svg)](https://doi.org/10.21105/joss.00314)

**We need your help!**

Journal of Open Source Software

[2018-03-28 18:14] leeper commented on #607
@jhollist Great review. Thanks for your very careful examination of the package!!

@ibarraespinosa Please take a look through the review and try to respond to all points raised here and in https://github.com/atmoschem/eixport/issues/22.

[2018-03-28 18:16] arfon commented on #229
👋@karthik - could you take a look at the response from @bunhoel above?

[2018-03-28 18:27] arfon commented on #430
@cMadan - are we good to accept here?

[2018-03-28 18:29] arfon commented on #481
@alistairewj - how are we getting along here?

[2018-03-28 18:40] arfon commented on #614
@mtezzele - could you take a look at the list of reviewers and suggest a few people who might be able to review this submission? https://bit.ly/joss-reviewers

[2018-03-28 18:47] arfon commented on #627
@benmarwick @nuest would you be willing to review this submission for JOSS?

[2018-03-28 18:49] arfon commented on #628
:wave: @jordibc - would you be able to take a look at the JOSS reviewers and suggest a few people who might be able to review this submission? http://bit.ly/joss-reviewers

[2018-03-28 18:50] arfon commented on #636
@kellieotto @jkarreth @corybrunson @chlalanne - would you be willing to review this submission for JOSS?

[2018-03-28 19:05] ibarraespinosa commented on #607
Thanks, @jhollist <https://github.com/jhollist>, and @leeper
<https://github.com/leeper>. I will read carefully and fix each point. Best
regards :)

Em qua, 28 de mar de 2018 às 15:14, Thomas J. Leeper <
notifications@github.com> escreveu:

--
​Sergio Ibarra Espinosa
Post Doc
PhD in Atmospheric Sciences
Instituto de Astronomia, Geofísica e Ciências Atmosféricas
Universidade de São Paulo
Rua do Mat

[2018-03-28 19:44] cMadan commented on #647
Hi @IndrajeetPatil! I'm looking forward to overseeing the review of your submission. Before we get started it looks like there are two things to figure out:
(1) You need a paper.md file with your JOSS manuscript in the repo--our automated assistant, @whedon, wasn't able to find it, nor was I.
(2) Do you have any suggestions for suitable reviewers for this package?

That aside, I looked over your r

[2018-03-28 19:51] corybrunson commented on #636
I certainly would! Though i would not be able to begin until the end of next week.

[2018-03-28 20:11] arfon commented on #614
@ziotom78, @JaroslavHron, @dlagrava - would you be willing to review this submission for JOSS?

[2018-03-28 20:41] cMadan commented on #600
For the tests, I think the output file should also be provided, so that the user can compare their output file with the pre-made output file to confirm that the code ran successfully.

[2018-03-28 20:46] llllllllll commented on #572
I am interested, but I want to make sure I can finish in time. How long do you normally have to submit a review?

[2018-03-28 20:58] cMadan commented on #430
@jordigh, thank you for reviewing this submission!

@fakenmc and @arfon, I think we're all set! I just need the DOI for an archival version of your code (i.e., upload the current code to Zenodo or figshare).

[2018-03-28 21:18] fakenmc commented on #430
@cMadan , the DOI for the latest version of micompm is 10.5281/zenodo.931838 .

Thanks in advance

[2018-03-28 21:59] pkofod commented on #615
I think the constructive way forward is to publish as is with the acknowledgement of John Myles White and Tim Holy's contributions early in Optim.jl's life. As mentioned above, this was suggested by JWM in private correspondence, but we have still not heard back from Tim since our very early communication about making a submission to JOSS in January through e-mail, github pings, or otherwise. @anr

[2018-03-28 22:51] jordibc commented on #628
Hi @arfon , sure, these are my suggestions, in order of what I think may work best:
hugoledoux
pragyansmita
tacaswell
khinsen
ThomasA
sealhuang

[2018-03-29 00:56] dlagrava commented on #650
@caley I have almost finished the review. I am happy with the documentation of the repo and the code. The only thing from the checklist I see missing on the repo is a section with guidelines on how to contribute to the code, file bugs and ask general questions about it. Could you please add this?

[2018-03-29 00:59] dlagrava commented on #614
@arfon I need to finish another review and I will be short of time during Easter. If the other guys do not take it or are too busy, I will take it.

[2018-03-29 01:00] lmullen commented on #314
@whedon commands

[2018-03-29 01:00] whedon commented on #314
Here are some things you can ask me to do:

[code]

[2018-03-29 01:01] lmullen commented on #314
@whedon generate pdf

[2018-03-29 01:01] whedon commented on #314
[code]

[2018-03-29 01:01] whedon commented on #314
PDF failed to compile for issue #314 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0     81      0 --:--:-- --:--:-- --:--:--    81
Error reading bibl

[2018-03-29 01:02] lmullen commented on #314
@whedon generate pdf

[2018-03-29 01:02] whedon commented on #314
[code]

[2018-03-29 01:06] lmullen commented on #314
@arfon Thanks for the chance to fix minor errors in the PDF. I think that I've got everything fixed now. Could you regenerate the PDF please?

[2018-03-29 02:19] caseyyoungflesh commented on #640
@jkarreth Many thanks. I'll respond here once these issues are addressed.

## Responses to major comments
* Thanks for pointing that bug out. I'll have it fixed shortly.
* 'tidybayes' appears to be an excellent package that I was not aware of until fairly recently. Its strengths lie in its integration of Bayesian model output with ggplot. I think the area where `MCMCvis` excels beyond what `tidyba

[2018-03-29 03:02] cMadan commented on #430
@whedon set archive as 10.5281/zenodo.931838

[2018-03-29 03:03] cMadan commented on #430
@whedon set 10.5281/zenodo.931838 as archive

[2018-03-29 03:03] whedon commented on #430
OK. <a href="http://dx.doi.org/10.5281/zenodo.931838" target="_blank">10.5281/zenodo.931838</a> is the archive.

[2018-03-29 08:21] nuest commented on #627
Yes.

[2018-03-29 10:34] ziotom78 commented on #614
@arfon sure, I'll be happy to do it.

[2018-03-29 11:16] lmullen commented on #655
@whedon generate pdf

[2018-03-29 11:16] whedon commented on #655
[code]

[2018-03-29 11:16] whedon commented on #655
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00655/joss.00655/10.21105.joss.00655.pdf)

[2018-03-29 11:24] lmullen commented on #655
@arfon I've corrected some typos and the BibTeX for this paper as well. Could you please regenerate the final version? I didn't realize we could generate a PDF proof with the bot, or I would have done this earlier.

[2018-03-29 12:28] chlalanne commented on #636
Sure I would! I should probably be able to review this article within 5-8 business days.

—
Christophe Lalanne

[2018-03-29 12:44] ellessenne commented on #648
Thank you very much again @corinne-riddell and @leeper!
I uploaded the current version of `comorbidity` to Zenodo, the corresponding DOI is: [10.5281/zenodo.1209837](https://doi.org/10.5281/zenodo.1209837). I think the link (via [doi.org](https://doi.org)) is not active yet, I am not sure how long it will take but should be ok!

[2018-03-29 12:48] leeper commented on #648
@whedon set 10.5281/zenodo.1209837 as archive

[2018-03-29 12:48] whedon commented on #648
OK. <a href="http://dx.doi.org/10.5281/zenodo.1209837" target="_blank">10.5281/zenodo.1209837</a> is the archive.

[2018-03-29 12:49] leeper commented on #648
@whedon generate pdf

[2018-03-29 12:49] whedon commented on #648
[code]

[2018-03-29 12:50] whedon commented on #648
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00648/joss.00648/10.21105.joss.00648.pdf)

[2018-03-29 12:52] leeper commented on #648
@ellessenne Great. Thank you! We should be all set.

Thank you, again, @corinne-riddell!! Hope you enjoyed your first review for JOSS!

@arfon Over to you.

[2018-03-29 12:57] ellessenne commented on #648
Thank you all! This was a great experience overall, and I would like to contribute to the project - @leeper, if you need reviewers for R / epidemiology / biostatistics manuscripts please don't hesitate to contact me!

[2018-03-29 13:37] leeper commented on #648
@ellessenne Glad to hear it was a good experience! Please sign-up to be a reviewer here: http://joss.theoj.org/reviewer-signup.html

[2018-03-29 13:49] Kevin-Mattheus-Moerman commented on #572
@llllllllll we do not set a limit to the review time. We ask that reviewers work in a timely manor but we place no strict demands on this. There is quite a bit of variation in the time required to complete the review process. Typically a review process takes a couple of weeks. However I have also seen it completed in several days or several months (especially if significant changes are requested).

[2018-03-29 14:14] IndrajeetPatil commented on #647
@cMadan Oh no, I am really sorry about this, but I didn't realize that there needs to be an associated paper that needs to be included with the submission. I thought this was just a review of the packages or software and its functioning. I will add the paper to the submission soon.

[2018-03-29 16:24] arfon commented on #655
Sure thing. I've updated the PDF now. BTW, the online version you see is cached so it might take a few hours to show as updated online.

[2018-03-29 18:16] lheagy commented on #641
Just a quick update: I have sent off an email, so hopefully we will hear back shortly. If possible, it is preferable to have 2 reviewers.

[2018-03-29 19:22] arfon commented on #636
@whedon assign @arfon as editor

[2018-03-29 19:22] arfon commented on #636
@whedon add @corybrunson as editor

[2018-03-29 19:23] arfon commented on #636
@whedon add @corybrunson as reviewer

[2018-03-29 19:23] whedon opened #657 "[REVIEW]: autoplotly: An R package for automatic generation of interactive visualizations for statistical results"
**Submitting author:** @terrytangyuan (<a href="http://orcid.org/0000-0001-5243-233X">Yuan Tang</a>)
**Repository:** <a href="https://github.com/terrytangyuan/autoplotly" target ="_blank">https://github.com/terrytangyuan/autoplotly</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewer:** @chlalanne, @corybrunson
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1221391" target="_blank">10.528

[2018-03-29 19:23] arfon commented on #636
@chlalanne, @corybrunson - please head over to #657 to carry out the actual review.

[2018-03-29 19:24] arfon commented on #657
@chlalanne, @corybrunson - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-03-29 19:27] terrytangyuan commented on #657
Thanks @arfon. Do you know why the references do not show up in the compiled PDF?

[2018-03-29 19:50] arfon commented on #657
@terrytangyuan - I think this is because they're not being cited directly. (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2018-03-29 20:30] arfon commented on #657
@whedon generate pdf

[2018-03-29 20:30] whedon commented on #657
[code]

[2018-03-30 00:43] arfon commented on #648
@corinne-riddell - many thanks for your review here and to @leeper for editing this submission ✨

@ellessenne - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00648 ⚡️:rocket: :boom:

[2018-03-30 00:43] #648 closed

[2018-03-30 00:43] whedon commented on #648
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00648/status.svg)](https://doi.org/10.21105/joss.00648)

**We need your help!**

Journal of Open Source Software

[2018-03-30 01:26] arfon commented on #430
@jordigh - many thanks for your review here and to @cMadan for editing this submission ✨

@fakenmc - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00430 :zap: :rocket: :boom:

[2018-03-30 01:26] #430 closed

[2018-03-30 01:26] whedon commented on #430
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00430/status.svg)](https://doi.org/10.21105/joss.00430)

**We need your help!**

Journal of Open Source Software

[2018-03-30 01:31] arfon commented on #314
Sure thing. I've updated the paper based on what's in `master` on https://github.com/ropensci/USAboundaries

[2018-03-30 03:54] mhucka commented on #653
@timClicks Thank you for your review and comments.

With respect to citing WordNet, although I interpret their instructions to only require citing where WordNet is discussed (note the paper doesn't mention it), I think I should modify the paper to mention WordNet and then cite the recommended sources. In any case, the website doesn't properly acknowledge the papers (though it referenced WordNet an

[2018-03-30 04:40] mhucka commented on #653
The new version of the paper has the new citations.

[2018-03-30 04:59] mhucka commented on #653
Regarding the size: I've now spent an hour trying various git pruning methods, and while they definitely did remove some old cruft in the git history, the cloned repo size has not changed – it's still 70M.  I'm very annoyed, but I'm also at the limit of what I know how to do with git in reducing sizes. My best guess here is that the repeated updates of the data files are in git's history, and that

[2018-03-30 05:40] cMadan commented on #647
No worries. Our review process is centered around the software itself, but a brief paper is part of the process, likely only two paragraphs or so (but does have a few references too). I didn't see how well you meet our other requirements, that was just the most obvious missing aspect. Please do take a look at the review issues for a few recent accepted submissions as examples of the requirements f

[2018-03-30 11:04] whedon opened #658 "[PRE REVIEW]: MCycle: A Python package for 1D sizing and analysis of thermodynamic power cycles"
**Submitting author:** @momargoh (<a href="http://orcid.org/0000-0002-6928-2187">Momar Hughes</a>)
**Repository:** <a href="https://github.com/momargoh/MCycle" target ="_blank">https://github.com/momargoh/MCycle</a>
**Version:** v0.1.2
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @momargoh. The JOSS editor (shown at the top of this is

[2018-03-30 11:04] whedon commented on #658
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-03-30 11:04] whedon commented on #658
[code]

[2018-03-30 11:04] whedon commented on #658
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00658/joss.00658/10.21105.joss.00658.pdf)

[2018-03-30 11:06] arfon commented on #658
:wave: @momargoh - many thanks for your submission to JOSS. I noticed that your project is licensed using a Creative Commons license which is not recommended for software ([by Creative Commons](https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software)) and not allowable in JOSS.

Would you be able to swap the license for one of the [OSI-approved](https://opensource.org/l

[2018-03-30 13:53] kyleniemeyer commented on #597
Hi @wahls, just a few changes for the paper:

- The reference to Turitsyn et al. 2017 in the second paragraph should be changed from "(Turitsyn et al. 2017)" to "Turitsyn et al. (2017)" by changing `[@Turitsyn2017]` to `@Turitsyn2017`
- In the second paragraph, change `[@Osborne2010], [@Bruehl2016]` to `[@Osborne2010;@Bruehl2016]` (this will put them in one set of parentheses)
- In the third parag

[2018-03-30 16:19] stuartcampbell commented on #650
@arfon I may be being stupid, but I can't seem to modify the checklist above...

[2018-03-30 16:37] stuartcampbell commented on #650
I'm also nearly done with the review - I agree with @dlagrava about the missing community aspects.

[2018-03-30 22:42] j-faria commented on #487
Hi @arfon, I'm not sure; I think Daniel Foreman-Mackey has reviewed JOSS papers before, and Jake VanderPlas also. They're both working in related areas (read astronomy).
Otherwise, is there a list of joss reviewers?

[2018-03-31 09:07] momargoh commented on #658
Hi Arfon, pleasure to meet you and thanks for taking my paper into consideration!

OK, I completely overlooked that before, no worries, I've updated the licence to Apache License 2.0. I've also updated the package version to v0.1.3 because I need to update the licence on PyPI as well. https://github.com/momargoh/MCycle/commit/27676417c080d4662795d859d85e9391d942dca9

[2018-03-31 11:41] wahls commented on #597
@whedon generate pdf

[2018-03-31 11:41] whedon commented on #597
[code]

[2018-03-31 11:42] whedon commented on #597
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00597/joss.00597/10.21105.joss.00597.pdf)

[2018-03-31 12:10] wahls commented on #597
Dear @kyleniemeyer

Thank you. I have made the changes and archived the repository. The DOI is 10.5281/zenodo.1210362 .

[2018-03-31 17:20] kyleniemeyer commented on #597
@whedon set 10.5281/zenodo.1210362 as archive

[2018-03-31 17:20] whedon commented on #597
OK. <a href="http://dx.doi.org/10.5281/zenodo.1210362" target="_blank">10.5281/zenodo.1210362</a> is the archive.

[2018-03-31 17:56] caseyyoungflesh commented on #640
@jkarreth

Package version 0.10.0 is now on github.
*  This version fixes the `stanfit` bug identified above. `stanfit` objects are now processed correctly.
*  I have included toy models fit with JAGS and Stan in the vignette to demonstrate how output from different samplers can be input into the MCMCvis functions directly.
* I have also included automated tests to make sure that different input t

[2018-03-31 22:06] arfon commented on #597
@hafermann - many thanks for your review here and to @kyleniemeyer for editing this submission ✨

@wahls - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00597 ⚡️:rocket: :boom:

[2018-03-31 22:06] #597 closed

[2018-03-31 22:06] whedon commented on #597
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00597/status.svg)](https://doi.org/10.21105/joss.00597)

**We need your help!**

Journal of Open Source Software

[2018-04-01 14:19] arfon commented on #653
@mhucka - I think this is OK and shouldn't be a blocker for accepting this submission.

At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-04-01 14:20] arfon commented on #628
@hugoledoux @ThomasA @sealhuang - would you be willing to review this submission for JOSS?

[2018-04-01 17:27] labarba commented on #615
Looks good — small typo in the Acknowledgements:

[2018-04-01 22:11] jarvist commented on #566
Hello, sorry things have dragged on a bit - I was doing a fair bit of travelling & moved institution.

I think I've covered most of the issues highlighted with the documentation, and have written an extended 'Examples' component which I hope will help teach the physics. I also believe I now hit the standard JOSS requirements, including a section in the README on contributing.

I had a look at code

[2018-04-02 07:09] pkofod commented on #615
https://github.com/JuliaNLSolvers/Optim.jl/pull/565 the typo is fixed on mastee

[2018-04-02 13:20] danielskatz commented on #622
@marpierc - just a reminder that your review is expected by April 5.

[2018-04-02 13:21] danielskatz commented on #622
@ericfranz - Do you have a response to @smgallo's comments?  You can certainly address them before @marpierc's review

[2018-04-02 16:04] whedon commented on #615
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00615/joss.00615/10.21105.joss.00615.pdf)

[2018-04-02 16:05] labarba commented on #615
@arfon : This submission is ready for acceptance.

@anriseth : We now need you to make a new release, upload the revised software to your DOI-granting data/software repository, and post the DOI here.

[2018-04-02 16:15] ericfranz commented on #622
Thank you for the comments! I opened three issues in https://github.com/OSC/Open-OnDemand for further discussion.

1. We have an rpm we are using at OSC now and will be the default installation for OnDemand 1.3 released in April. I opened https://github.com/OSC/Open-OnDemand/issues/31 to address the problem of not advertising our development roadmap.
2. For each OnDemand release we document all th

[2018-04-02 17:52] pkofod commented on #615
Alright, but then the v0.14 self-reference in the paper needs to be changed as well, right?

[2018-04-02 19:20] wilsoncai1992 commented on #161
Dear @karthik, thanks for your patience with this review. We're very happy to be able to report that we've just recently completed a total re-haul of the R package and have been working with the team at Bioconductor. As of 30 March, the package has been accepted into the upcoming Bioconductor 3.7 release, and we feel now would be a good time to continue with this review. Please let us know what ne

[2018-04-02 19:20] wilsoncai1992 commented on #161
For reference, this is BIOC review https://github.com/Bioconductor/Contributions/issues/628#issuecomment-373484320

[2018-04-02 19:36] scopatz commented on #572
@Kevin-Mattheus-Moerman - sorry I am out of [spoons](https://en.wikipedia.org/wiki/Spoon_theory). I'll recommend @asmeurer

[2018-04-02 20:18] smgallo commented on #622
Thanks @ericfranz, I'll follow up on those issues to provide further input as needed. @danielskatz that addresses any comments that I had.

[2018-04-02 20:40] llllllllll commented on #572
I will be very busy until mid May, I don't think I can commit time until then. If there is still a need at that point I would love to help.

[2018-04-03 00:39] karthik commented on #233
@aknutas

I found a few more issues that I think you should fix before we accept
[code]

[2018-04-03 07:14] hugoledoux commented on #628
@arfon sure

[2018-04-03 08:04] biotomas commented on #639
Hi, so I left two checkboxes unchecked because I found no DOIs in references and also no community guidelines.

[2018-04-03 09:32] danielskatz commented on #639
@motib - In response to the comments by @biotomas:

1. It looks like the handbook chapters have DOIs (http://ebooks.iospress.nl/volume/handbook-of-satisfiability) so you should be able to add at least that one DOI.  I don't think there are DOIs for the two books, but if they have similar identifiers, such as ISBNs, please add them.

2. While looking at https://github.com/motib/LearnSAT/blob/master

[2018-04-03 13:23] ThomasA commented on #628
@arfon yes, I can review this.

[2018-04-03 18:57] pkofod commented on #615
Sorry, since I edited, I guess it doesn't create a notification. Does that doi look alright @labarba ?

[2018-04-03 23:28] kyleniemeyer commented on #565
Hi @bjodah, just a few comments on the paper:

- Could you add the city and country to your affiliation?
- Could you put commas around the "e.g." in the second, third, and last paragraphs?
- Reference `mitchell2011pulp` does not have correct bibliographic information (Citeseer is not a journal); I'm not sure what the correct info should be though... perhaps it is a conference paper, as suggested a

[2018-04-04 00:17] lheagy commented on #566
Thanks for the update @jarvist. @yxqd: would you be willing to take a look at the changes @jarvist has made?

[2018-04-04 03:51] mhucka commented on #653
Thanks! This is now done. The DOI at Zenodo is [10.5281/zenodo.1211835](https://zenodo.org/record/1211835)

[2018-04-04 03:52] dhhagan commented on #641
@lheagy Absolutely. Hopefully within the next week?  A bit busy the next few days, but should be able to start by the weekend/early next week if that's okay.

[2018-04-04 03:54] lheagy commented on #641
Thanks @dhhagan, within the next week or early next week would be great!