[2019-11-05 19:36] 0todd0000 commented on #1804
Hello, it has been two weeks since our last communication.  Please provide a status update if possible. Do you require additional reviewer suggestions?

[2019-11-05 19:46] jnoynaert commented on #1642
@whedon commands

[2019-11-05 19:46] whedon commented on #1642
Here are some things you can ask me to do:

[code]

[2019-11-05 19:46] jnoynaert commented on #1642
@whedon check references

[2019-11-05 19:46] whedon commented on #1642
[code]

[2019-11-05 19:46] whedon commented on #1642
[code]

[2019-11-05 19:47] trallard commented on #1804
Thanks for the ping @0todd0000

---
Dear potential reviewers,

I am looking for a couple of folks willing and able to review the following JOSS submission:

**Title**: mwarp1d: Manual one-dimensional data warping in Python and PyQt
**description**: Manual one-dimensional data warping and nonlinear registration in Python and PyQt
**repository**: https://github.com/0todd0000/mwarp1d
**documentation*

[2019-11-05 19:51] demotu commented on #1804
Yes, I can review it.

[2019-11-05 19:53] jnoynaert commented on #1642
@whedon set 10.5281/zenodo.3529746 as archive

[2019-11-05 19:53] whedon commented on #1642
I'm sorry @jnoynaert, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-11-05 19:55] jnoynaert commented on #1642
@oliviaguest I noticed a few DOIs needed fixing, but the check references command for whedon is referencing an older version of the paper than what's on the master branch right now.

What do we need to do to sync up to the latest version for the reference checks? I'm wondering if it's stuck on the release archived on Zenodo

[2019-11-05 20:01] eskofier commented on #1663
Hi, I will try to have a look the next few days.

Viele Grüße
Bjoern

[2019-11-05 20:23] melund commented on #1804
I can review as well.

[2019-11-05 22:55] Kevin-Mattheus-Moerman commented on #1732
@whedon set 10.5281/zenodo.3529591 as archive

[2019-11-05 22:55] whedon commented on #1732
OK. <a href="https://doi.org/10.5281/zenodo.3529591" target="_blank">10.5281/zenodo.3529591</a> is the archive.

[2019-11-05 23:16] garrettj403 commented on #1836
Hi @dfm - I'm sorry, but I just started a new position and I don't have the time right now.

[2019-11-05 23:27] Kevin-Mattheus-Moerman commented on #1732
@openjournals/joss-eics I recommend this submission for acceptance in JOSS

[2019-11-05 23:28] Kevin-Mattheus-Moerman commented on #1732
@whedon set v1.0.0 as version

[2019-11-05 23:28] whedon commented on #1732
OK. v1.0.0 is the version.

[2019-11-06 00:39] gonsie commented on #1716
Thanks @ThomasPak. Maybe you want to document the performance graphs/details to the article? Or maybe to a wiki page? Otherwise, I think it looks good.

[2019-11-06 00:48] dfm commented on #1836
@garrettj403: No worries. Good luck with it!

[2019-11-06 00:49] dfm commented on #1836
:wave: @mdoucet: Any chance you're available to review this submission?

[2019-11-06 01:05] feiyu-chen96 commented on #1859
Hi @drvinceknight  Can I ask if there is a page limit? I'm thinking of keeping only the Summary section and move the rest to the documentation.

[2019-11-06 01:07] ahwillia commented on #1816
This looks good to me -- I went ahead and checked all my boxes. The documentation is really nice, and the functionality of the package is clear.

My only feedback is that it would be nice to show more full-fledged examples or tutorials, since the operations performed by this particular package are nice building blocks for more complex models/applications. Are there any examples of other repos usin

[2019-11-06 01:09] ahwillia commented on #1816
Also one area the documentation could use more work is the `StatLearn` object (e.g. for online fitting of GLMs). An example showing how to take multiple passes over the same dataset (i.e. multiple epochs) could be useful.

[2019-11-06 01:20] gonsie commented on #1844
Thanks for submission @jjmortensen. I've created 2 issues in the repo:
- [#9 Move license text to LICENSE](https://gitlab.com/myqueue/myqueue/issues/9)
- [#10 Assert error from `mq test`](https://gitlab.com/myqueue/myqueue/issues/10)
- [#11 Ability to kill the daemon?](https://gitlab.com/myqueue/myqueue/issues/11)

For the paper, could you include some details on how MyQueue compares with other to

[2019-11-06 07:57] paulvangentcom commented on #1846
Hi @Kevin-Mattheus-Moerman, thanks for reaching out.

Note me down, I'd be happy to have a look at the review process, package and paper.

[2019-11-06 08:43] drvinceknight commented on #1811
@whedon generate pdf

[2019-11-06 08:43] whedon commented on #1811
[code]

[2019-11-06 08:44] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-06 08:45] drvinceknight commented on #1859
@feiyu-chen96 there are is no specific page limit but in general papers are short (around 2 or 3 pages long). There is some documentation here about what to include in the paper as well as links to accepted papers: https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2019-11-06 09:21] oliviaguest commented on #1642
@whedon generate pdf

[2019-11-06 09:21] whedon commented on #1642
[code]

[2019-11-06 09:23] whedon commented on #1642
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01642/joss.01642/10.21105.joss.01642.pdf)

[2019-11-06 09:23] oliviaguest commented on #1642
@whedon check references

[2019-11-06 09:23] whedon commented on #1642
[code]

[2019-11-06 09:24] whedon commented on #1642
[code]

[2019-11-06 09:25] oliviaguest commented on #1642
@whedon accept

[2019-11-06 09:25] whedon commented on #1642
[code]

[2019-11-06 09:26] whedon commented on #1642
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1092

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1092, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-06 09:26] oliviaguest commented on #1642
@jnoynaert I think it's fine now — I think you needed to recompile before checking. Does it look good to you?

[2019-11-06 09:31] ziotom78 commented on #1809
As issue [#3](https://github.com/SuperKam91/gns/issues/3) is now closed, I think that the paper and the package are ok, but let's wait for @zhampel's approval too. The functionality provided by the package looks good, nice work!

However, there are a few suggestions I would like to give to @SuperKam91 :

- The API documentation is ok, but it is surely not «good» [according to JOSS' guidelines](htt

[2019-11-06 09:41] will-rowe commented on #1831
Hey @amritagos and @richardjgowers. I just wanted to check in re. your reviews - let me know if you are having any issues. Thank you!

[2019-11-06 10:04] Kevin-Mattheus-Moerman commented on #1846
@whedon add @paulvangentcom as reviewer

[2019-11-06 10:04] whedon commented on #1846
OK, @paulvangentcom is now a reviewer

[2019-11-06 10:05] Kevin-Mattheus-Moerman commented on #1846
Okay I will now initiate the review process. :rocket: :robot:

[2019-11-06 10:05] Kevin-Mattheus-Moerman commented on #1846
@whedon start review

[2019-11-06 10:05] whedon opened #1867 "[REVIEW]: HRV: a Pythonic package for Heart Rate Variability Analysis"
**Submitting author:** @rhenanbartels (<a href="http://orcid.org/0000-0002-6088-2186">Rhenan Bartels</a>)
**Repository:** <a href="https://github.com/rhenanbartels/hrv" target ="_blank">https://github.com/rhenanbartels/hrv</a>
**Version:** 0.2.8
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @paulvangentcom, @Kevin-Mattheus-Moerman
**Archive:** <a href="https://doi.org/10.5281/zenodo.3960216"

[2019-11-06 10:05] whedon commented on #1846
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1867. Feel free to close this issue now!

[2019-11-06 10:05] whedon commented on #1867
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hooman650, @PGomes92, @paulvangentcom it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer,

[2019-11-06 10:05] whedon commented on #1867
[code]

[2019-11-06 10:05] #1846 closed

[2019-11-06 10:06] whedon commented on #1867
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01867/joss.01867/10.21105.joss.01867.pdf)

[2019-11-06 11:14] xuanxu commented on #1853
@whedon check references

[2019-11-06 11:14] whedon commented on #1853
[code]

[2019-11-06 11:15] whedon commented on #1853
[code]

[2019-11-06 11:22] Kevin-Mattheus-Moerman commented on #1867
@hooman650, @PGomes92, @paulvangentcom thanks for agreeing to review this work. You have instructions and check-boxes at the top of this issue to guide you through the process.
You can comment on this submission in this review issue. For longer/larger issue we suggest you open an issue on the project repository instead and link to it here. We also encourage you to make use of checkboxes in your co

[2019-11-06 11:39] danielskatz commented on #1844
👋 @marksantcroos - how are you doing on your review?

[2019-11-06 11:40] cMadan commented on #1830
@dsurujon, thank you for the thorough review!

[2019-11-06 11:43] danielskatz commented on #1844
@jjmortensen - fwiw, a long list of workflow tools is in https://github.com/common-workflow-language/common-workflow-language/wiki/Existing-Workflow-systems (and a shorter list is in https://github.com/meirwah/awesome-workflow-engines)

[2019-11-06 11:44] #1784 closed

[2019-11-06 11:45] danielskatz commented on #1845
👋 @mado89 & @ctsilva - I just wanted to check on how you are doing on your reviews, and to make sure that you are able to check boxes (and have accepted the invitation at https://github.com/openjournals/joss-reviews/invitations)

[2019-11-06 11:48] MaciejDanko commented on #1508
@alexhanna - there is a DOI in article proof (10.21105/joss.01508) shall I use this one when uploading the package to Zenodo?

[2019-11-06 11:58] brittonsmith commented on #1853
@whedon generate pdf

[2019-11-06 11:58] whedon commented on #1853
[code]

[2019-11-06 11:59] whedon commented on #1853
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01853/joss.01853/10.21105.joss.01853.pdf)

[2019-11-06 13:44] dalonsoa commented on #1865
Acceptance-blocker due to limited/incomplete installation instructions https://github.com/NREL/bifacial_radiance/issues/190

[2019-11-06 13:47] ali-ramadhan commented on #1828
I like the idea of having a simple and intuitive open-source Python package offering numerous DFA algorithms and the examples look great, but I think fathon needs some work to make it more accessible to potential users.

My major comments are:
1. fathon is difficult to install. I was actually not able to install it. It could greatly benefit from an automated package management solution.
2. Current

[2019-11-06 13:56] dalonsoa commented on #1865
Not exactly an acceptance-blocker, but certainly desirable to understand how the software works https://github.com/NREL/bifacial_radiance/issues/191

[2019-11-06 14:14] nquesada commented on #1705
@whedon generate pdf

[2019-11-06 14:14] whedon commented on #1705
[code]

[2019-11-06 14:15] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-11-06 14:55] MaciejDanko commented on #1508
Hi @alexhanna,
here is the DOI:
10.5281/zenodo.3530634

[2019-11-06 14:57] martibosch commented on #1807
Submitted issue [martinfleis/momepy#109](https://github.com/martinfleis/momepy/issues/109) to the original repository

[2019-11-06 15:28] dalonsoa commented on #1865
Acceptance-blocker due to missing statement of need (or more specifically, intended audience) https://github.com/NREL/bifacial_radiance/issues/192

[2019-11-06 15:36] dalonsoa commented on #1865
Not an acceptance blocker, but it will be useful for the authors to elaborate https://github.com/NREL/bifacial_radiance/issues/193

[2019-11-06 15:49] mdoucet commented on #1836
Yes. I can help!

[2019-11-06 15:49] jnoynaert commented on #1642
@oliviaguest looks great, thank you!

[2019-11-06 15:53] martibosch commented on #1807
Submitted issue [martinfleis/momepy#110](https://github.com/martinfleis/momepy/issues/110) to the original repository

[2019-11-06 16:16] martibosch commented on #1807
Submitted issue [martinfleis/momepy#111](https://github.com/martinfleis/momepy/issues/111) to the original repository

[2019-11-06 16:43] martibosch commented on #1807
This should be all from my side. I would just like to add a final note which I do not intend to be part of the reviewing. The documentation is provided as a Jupyter book that is hosted at a separate `gh-pages` branch of the repository. This is the first time that I see such an approach, and I have some concerns about its maintainability, since unless I am missing something, it seems that two indep

[2019-11-06 16:55] sarats commented on #1839
@gdetor Nice work.

Figure 1 shows performance for various genome sizes. It is unclear if this uses MPI/threads. Please clarify.

As a performance specialist, I would have loved to see performance plots for multiple MPI processes/threads to understand computational efficiency of the framework. This is not a binding requirement; just good-to-have information. Any data you can provide to demonstrate

[2019-11-06 16:56] dfm commented on #1836
@mdoucet: great - thank you! I'll add you as a reviewer and we'll get started.

[2019-11-06 16:56] dfm commented on #1836
@whedon add @mdoucet as reviewer

[2019-11-06 16:56] whedon commented on #1836
OK, @mdoucet is now a reviewer

[2019-11-06 16:57] dfm commented on #1836
@whedon start review

[2019-11-06 16:57] whedon opened #1868 "[REVIEW]: libRL: A Python library for the characterization of microwave absorption"
**Submitting author:** @1mikegrn (<a href="http://orcid.org/0000-0002-2525-1274">Michael Green</a>)
**Repository:** <a href="https://github.com/1mikegrn/libRL-package" target ="_blank">https://github.com/1mikegrn/libRL-package</a>
**Version:** v1.1.0
**Editor:** @dfm
**Reviewer:** @kjappelbaum, @mdoucet
**Archive:** <a href="https://doi.org/10.5281/zenodo.3555457" target="_blank">10.5281/zenodo.35

[2019-11-06 16:57] whedon commented on #1836
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1868. Feel free to close this issue now!

[2019-11-06 16:57] whedon commented on #1868
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kjappelbaum, @mdoucet it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-06 16:57] whedon commented on #1868
[code]

[2019-11-06 16:58] whedon commented on #1868
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01868/joss.01868/10.21105.joss.01868.pdf)

[2019-11-06 16:58] dfm commented on #1836
@1mikegrn, @kjappelbaum, @mdoucet: You can head over to #1868 to get started on the review. Thanks all!

[2019-11-06 16:59] #1836 closed

[2019-11-06 17:05] martinfleis commented on #1807
I have to admit that such an obvious idea did not came to my mind. Absolutely, I'll do that once I'll find some spare time. I have tried to make binder work but gave up after a while. It is on my to-do list since then.

That is a good point. I'll check your repo for an inspiration and include them (once migrated to separate repository).

Thank you for you thorough review. It is extremely helpful.

[2019-11-06 17:58] martinfleis commented on #1807
@martibosch All issues you have opened should be fixed and merged into the master now. Thanks again!

[2019-11-06 18:43] jmlarson1 commented on #1716
I believe the checklist requirements have been satisfied.

[2019-11-06 22:37] mbobra commented on #1809
👋 @zhampel Let me know if you have any questions or need any help completing your review!

[2019-11-06 22:38] mbobra commented on #1828
👋 @ashwinvis Let me know if you have any questions or need any help completing your review!

[2019-11-06 22:43] ashwinvis commented on #1828
@mbobra Working on it :)

[2019-11-06 22:52] xoolive commented on #1812
OK I managed to recompile openblas and run the examples. I have ticked all the boxes, which thereby finishes the reviewing process. I wish you the best in this project. Thank you for taking the comments into account. 👍

In general, I would recommend to document the installation process more thoroughly (you addressed my comments, but I would definitely not call the result a "smooth installation pro

[2019-11-06 22:55] mbobra commented on #1828
Thanks for your detailed review, @ali-ramadhan. Here are my replies:

1. According to the JOSS review guidelines, [instructions for installing the software should be clear](https://joss.readthedocs.io/en/latest/review_criteria.html#installation-instructions). An automated package management solution is ideal, but not required. However, the authors must provide clear installation instructions that

[2019-11-07 02:16] whedon opened #1869 "[PRE REVIEW]: EarthPy: A Python package that makes it easier to explore and plot raster and vector data using open source Python tools"
**Submitting author:** @lwasser (<a href="http://orcid.org/0000-0002-8177-6550">Leah Wasser</a>)
**Repository:** <a href="https://github.com/earthlab/earthpy" target ="_blank">https://github.com/earthlab/earthpy</a>
**Version:** 0.7.6
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @lwasser. The JOSS editor @arfon, will work with you on t

[2019-11-07 02:16] whedon commented on #1869
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `

[2019-11-07 02:16] whedon commented on #1869
[code]

[2019-11-07 02:16] whedon commented on #1869
PDF failed to compile for issue #1869 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1869 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedo

[2019-11-07 02:16] arfon commented on #1869
@whedon generate pdf

[2019-11-07 02:16] whedon commented on #1869
[code]

[2019-11-07 02:18] whedon commented on #1869
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01869/joss.01869/10.21105.joss.01869.pdf)

[2019-11-07 02:23] arfon commented on #1869
@lwasser - excellent to see the first pyOpenSci submission come through!

A couple of quick things:

- Can you link here to the review on the pyOpenSci-side of things?
- It looks like the references aren't compiling properly. From a quick inspection, it looks like the citation keys you're using in your `paper.md` aren't matching the ones in the `paper.bib`. For example in your paper you're using `

[2019-11-07 06:44] mseri commented on #1812
@xoolive thank you very much for the review, the feedback and the patience. I fully agree with your comment: Installation and distribution of owl are one of the main pain points at the moment. We are currently working on revamping its documentation system and the tutorial book, also to address the installation procedure.

The current one, available here https://ocaml.xyz/chapter/index.html, is get

[2019-11-07 07:11] mjsottile commented on #1812
@xoolive - thanks for the review!

@mseri - I agree regarding distributing OCaml packages with external dependencies.  It can be challenging but your package appears to be similar to others in terms of difficulty of installation.  As for Windows, the use of WSL seems to be becoming more popular, so I typically recommend people go that route instead of attempting to run OCaml natively.

@rljacobson

[2019-11-07 09:14] dalonsoa commented on #1865
@melissawm It seems there’s a figure missing in the Software Paper. It is present in the repository but not rendered when creating the PDF. I'm not sure of the reason for that.

[2019-11-07 09:17] dalonsoa commented on #1865
@melissawm The license of the software is `BSD-3-Clause`, clearly stated in the corresponding file, but in the [DOI 10.11578/dc.20180530.16](https://doi.org/10.11578/dc.20180530.16) it appears as `BSD 2-clause "Simplified" License`. I am not sure if it will necessary to consolidate the license in both places or, if not possible, to add a note somewhere indicating when the license was changed from

[2019-11-07 11:07] mado89 commented on #1845
@danielskatz sorry for the delay. In the next days and on the weekend ill have some free time to do the review. I expect to have it done by 11/12 of november

[2019-11-07 11:33] leouieda commented on #1838
@gboeing thank you for letting me know :slightly_smiling_face:

[2019-11-07 11:33] junbinzhao commented on #1751
@arfon I have finished the revision and all the updates are done in the github now. but I don't know how to submit the point-to-point responses to the reviews. Do I attach the file here directly? Thank you!

[2019-11-07 11:33] leouieda commented on #1838
@ResidentMario thank you for agreeing to review :tada: I'm searching for a second reviewer and we'll start the actual review as soon as I find one.

[2019-11-07 11:34] leouieda commented on #1838
:wave: @kbevers would you like to review this submission for JOSS? "splot: visual analytics for spatial statistics" by @slumnitz (Stefanie Lumnitz) et al. Please see the comments above for more details.

[2019-11-07 11:35] leouieda commented on #1838
@whedon assign @ResidentMario as reviewer

[2019-11-07 11:35] whedon commented on #1838
OK, the reviewer is @ResidentMario

[2019-11-07 12:11] oliviaguest commented on #1642
@labarba where do I check who can run: `@whedon accept deposit=true` for us?

[2019-11-07 12:11] arfon commented on #1869
Looks like the pyOpenSci review happened in https://github.com/pyOpenSci/software-review/issues/3

[2019-11-07 12:25] labarba commented on #1642
Ping eics for that

[2019-11-07 12:45] junbinzhao commented on #1751
@arfon @jhollist @ha0ye Thank you so much for the reviews! They are indeed very helpful and practical! I have revised the package as well as the paper accordingly. I believe they are now much improved. I have added the point-to-point responses under [@jhollist review](https://github.com/junbinzhao/FluxCalR/issues/2) and [@ha0ye review](https://github.com/junbinzhao/FluxCalR/issues/3). Please let m

[2019-11-07 12:55] gbertoldo commented on #1701
@whedon generate pdf

[2019-11-07 12:55] oliviaguest commented on #1642
Ah, yes! Thanks! @openjournals/joss-eics :wave:

[2019-11-07 12:55] whedon commented on #1701
[code]

[2019-11-07 12:55] ali-ramadhan commented on #1828
Thank you @mbobra, that's helpful! Sorry it's my first review but I should have familiarized myself with the review guidelines more closely.

I would be happy with clear installation instructions that can be followed by people without having to spend too much time figuring out where GSL include/library files are located and where Python packages are usually installed.

I think fathon satisfies the

[2019-11-07 12:56] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-11-07 12:57] gbertoldo commented on #1701
@whedon generate pdf

[2019-11-07 12:57] whedon commented on #1701
[code]

[2019-11-07 12:57] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2019-11-07 13:40] trallard commented on #1804
Excellent, thanks both!

[2019-11-07 13:40] trallard commented on #1804
@whedon add @melund as reviewer

[2019-11-07 13:41] whedon commented on #1804
OK, @melund is now a reviewer

[2019-11-07 13:41] trallard commented on #1804
@whedon add @demotu as reviewer

[2019-11-07 13:41] whedon commented on #1804
OK, @demotu is now a reviewer

[2019-11-07 13:41] trallard commented on #1804
@whedon start review

[2019-11-07 13:41] whedon opened #1870 "[REVIEW]: mwarp1d: Manual one-dimensional data warping in Python and PyQt"
**Submitting author:** @0todd0000 (<a href="http://orcid.org/0000-0002-8292-7189">Todd Pataky</a>)
**Repository:** <a href="https://github.com/0todd0000/mwarp1d" target ="_blank">https://github.com/0todd0000/mwarp1d</a>
**Version:** 0.2
**Editor:** @trallard
**Reviewer:** @melund, @demotu
**Archive:** <a href="https://doi.org/10.5281/zenodo.3568446" target="_blank">10.5281/zenodo.3568446</a>

## S

[2019-11-07 13:41] whedon commented on #1804
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1870. Feel free to close this issue now!

[2019-11-07 13:41] whedon commented on #1870
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @melund, @demotu it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2019-11-07 13:41] whedon commented on #1870
[code]

[2019-11-07 13:41] #1804 closed

[2019-11-07 13:41] whedon commented on #1870
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01870/joss.01870/10.21105.joss.01870.pdf)

[2019-11-07 13:42] trallard commented on #1870
@melund @demotu, thanks for agreeing to review this submission, please feel free to carry your review using the checklist above.

If you have any questions please let me know here!

[2019-11-07 13:49] arfon commented on #1819
Yep, it's on me to get back to you on this. I'm currently  a little swamped with other submissions.

[2019-11-07 13:52] arfon commented on #1751
Ideally it would be good to respond right here in this issue (e.g. by quoting the reviewer feedback as I am doing above ☝️) followed by your response. Does that make sense?

[2019-11-07 14:00] junbinzhao commented on #1751
@jhollist Thank you so much for your suggestions! Please see below my response to each of the points.

**Response:** “tidyverse” is now removed from the list and replaced with other specific packages.

**Response:** the width and height have been spelled out in the function.

**Response:** a clear statement of need is added to the Readme file under the heading “Why is the package needed?”, includi

[2019-11-07 14:01] junbinzhao commented on #1751
@ha0ye Thank you so much for your suggestions! Please see below my response to each of the points.

**Response:** the function mainly converts the timestamps into the one R can read and also removes unused lines in the raw data file. This description has been added into the help file.

**Response:** I revised the code with match.arg() and parse_date_time() added as suggested. Thank you!

**Respons

[2019-11-07 14:04] junbinzhao commented on #1751
@arfon Thanks! I have copied my replies to here. Hope they are sufficient!

[2019-11-07 15:05] seisman commented on #1808
@leouieda I've finished my review and my comments have been addressed. The submission now looks good to me.

[2019-11-07 17:18] lwasser commented on #1869
ok @arfon let me first fix the paper / citation issues. My apologies for being slow to link the pyopensci review!! but thank you for finding it. [this link that you found](https://github.com/pyOpenSci/software-review/issues/3) is the correct one.

As far as reviewers @HaoZeke said he would be willing to review here. he did the pyopensci review. @jsta could also be a good fit for this review!!

[2019-11-07 17:20] lwasser commented on #1869
@whedon generate pdf

[2019-11-07 17:20] whedon commented on #1869
[code]

[2019-11-07 17:21] whedon commented on #1869
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01869/joss.01869/10.21105.joss.01869.pdf)

[2019-11-07 17:23] lwasser commented on #1869
ok @arfon the citations look better now. i copied the rasterio citation and it's unusual. i had submitted a pr that was accepted to fix it but it looks like the year  is rendering as n.d. because the date in the citation is 2013-pre . Would you like for me to adjust that citation in some way? I can also submit another PR to rasterio if that is preferred. i think sean wanted the citation to represe

[2019-11-07 17:24] alessandroBombelli commented on #1845
Dear @mado89 , @ctsilva, @danielskatz, I just realized the website I am using to web-scrape data for my examples changed the html structure of their play-by-play tables. This is retroactive, in the sense that is also applied to the webpages containing the scores I am using as examples. This means the examples will probably not work because I need to adjust the web-scraping issue. I sincerely apolo

[2019-11-07 17:34] amitkumarj441 commented on #1705
I have been reviewing the [thewalrus](https://github.com/XanaduAI/thewalrus) library and paper, and find it as one of the best package to compute constructs such as hafnians, Hermite polynomials and torontorians for simulating a quantum framework/computer based on a Gaussian boson sampler. The preliminaries for this library and examples are well documented. I have submitted this issue [XanaduAI/th

[2019-11-07 17:52] arfon commented on #1869
@whedon generate pdf

[2019-11-07 17:52] whedon commented on #1869
[code]

[2019-11-07 17:53] whedon commented on #1869
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01869/joss.01869/10.21105.joss.01869.pdf)

[2019-11-07 17:59] nquesada commented on #1705
Hi @amitkumarj441 . There are a number of examples of Gaussian states where we explicitly show the covariance matrix in The Walrus Gallery https://the-walrus.readthedocs.io/en/latest/gallery/gallery.html

[2019-11-07 18:19] nquesada commented on #1705
Also, we just merged the PR correcting the two typos you found in the documentation.

[2019-11-07 18:20] kbevers commented on #1838
@leouieda Sorry, I haven't got the necessary time to do this at the moment. Looks like a cool software package though, I'll keep it in mind for later plotting :-)

[2019-11-07 18:33] gdetor commented on #1839
@sarats Thank you for your comments. We will fix the issue you mentioned in Figure 1 and we will add some scaling plots.

[2019-11-07 18:40] amitkumarj441 commented on #1705
Thanks @nquesada for your prompt response.

I have seen the gallery but didn't inspect it further.

How about this :arrow_down:?

[2019-11-07 19:20] benjaminrose commented on #1864
Overall, this is a great software package and I am eager to see it published in JOSS. I do have a few things to discuss before the paper is finalized.

* *Authors* - I fully support the full list of possible authors on https://github.com/dfm/emcee/issues/316. There has been plenty of time for maintainers to request authorship so I am ok with publishing as is or including anyone from that issue.
	*

[2019-11-07 20:09] nquesada commented on #1705
We have not implemented anything from that paper.

[2019-11-07 20:10] nquesada commented on #1705
...and they idea of perfect matchings including loops was introduced in Bjorklund, Gupt and Quesada, which seems to me like the relevant reference.

[2019-11-07 20:11] melissawm commented on #1865
I think it does matter, yes. Sorry for not catching this before. @shirubana could you clarify?

[2019-11-07 21:04] shirubana commented on #1865
Well the DOI paper was published in 2017 when we started and it seems we changed the license to BSD-3 1 year ago, as per the github history of the file... @cdeline can you confirm if BSD-3 is what we will go on forever now and/or if we need to consolidate?

I think a simple solution would be to write a note of the switch on the documentation (maybe on the updates, package overview and/or contribut

[2019-11-07 21:29] cdeline commented on #1865
Yes, we’re using a BSD-3 license for the software for now and forever more.

Chris Deline
National Renewable Energy Laboratory
(303) 384-6359

From: Silvana Ayala <notifications@github.com>
Sent: Thursday, November 7, 2019 2:05 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Deline, Chris <Chris.Deline@nrel.gov>; Mention <mention@noreply.github.com>
Subject: Re: [openjournal

[2019-11-07 22:16] wholmgren commented on #1865
@melissawm the COI policy states:

@shirubana was a graduate student at my organization, University of Arizona, from 2012- Dec 2018. So there is 1-2 month overlap over the past year. But, the COI policy also states as an example of when a waiver can be granted:

We knew of each other but very rarely interacted. Different departments, siloed research programs.

I wouldn't have any problem providing

[2019-11-07 22:25] wholmgren commented on #1865
Also on the subject of the license, it includes this NREL specific language:

Energy, LLC (“Alliance”) under Contract No. DE-AC36-08GO28308 with the U.S.
Department of Energy and the U.S. Government retains for itself and others acting
on its behalf a nonexclusive, paid-up, irrevocable worldwide license in the software
to reproduce, prepare derivative works, distribute copies to the public, perfor

[2019-11-07 22:25] mbobra commented on #1828
@ali-ramadhan Sounds good!
Re: The 1st point - Thanks for opening an issue about the installation instructions.
Re: The 2nd point - Feel free to open an issue about the core API documentation.
Re: The 3rd point - It seems like this is no longer an issue.

@stfbnc Let me know if you have any questions or need any help resolving these issues.

[2019-11-07 23:21] danielskatz commented on #1865
@wholmgren - the conflict you describe is weak enough that it can be waived, but thank you for making this possible issue transparent.

[2019-11-08 01:06] zhampel commented on #1809
@SuperKam91
I agree with @ziotom78 as well. Your submission's functionality is as advertised, but the documentation is lacking in detail. For example, while not explicitly required, function input types and descriptors provide users context for implementation. This is also reflected in the difficulty in scanning the example code in the README, which I would not characterize as a usage guide.

With

[2019-11-08 07:36] trichter commented on #1808
@seisman Thank you very much for the review!

[2019-11-08 10:17] jjmortensen commented on #1844
Thanks for the links.  I'm familiar with Fireworks and Aiida.  Will take a look ...

[2019-11-08 10:32] richardjgowers commented on #1831
@will-rowe yep still chewing through this, will be finished on the weekend

[2019-11-08 10:56] cimentadaj commented on #1796
I've answered to all comments from both reviewers [here](https://github.com/cimentadaj/perccalc/issues/2). As I outlined there, I'm happy to review some points if they feel like their points weren't addressed.

Thank you both for reviewing the paper/package, the comments have been very helpful to ship the next version to CRAN flawlessly!

[2019-11-08 12:16] whedon opened #1871 "[PRE REVIEW]: FLAM: Fast Linear Algebra in MATLAB"
**Submitting author:** @klho (<a href="http://orcid.org/0000-0001-5450-4966">Kenneth L. Ho</a>)
**Repository:** <a href="https://github.com/klho/FLAM" target ="_blank">https://github.com/klho/FLAM</a>
**Version:** v1.1.0 (will update on completion)
**Editor:** @melissawm
**Reviewers:** @sivaramambikasaran, @pitsianis

**Author instructions**

Thanks for submitting your paper to JOSS @klho. **Curre

[2019-11-08 12:16] whedon commented on #1871
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-08 12:16] whedon commented on #1871
[code]

[2019-11-08 12:17] whedon commented on #1871
PDF failed to compile for issue #1871 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1871 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedo

[2019-11-08 12:17] stfbnc commented on #1828
@ali-ramadhan Thanks for the comments, I'm now working on resolving the issues and on the documentation.

@mbobra  Can I modify the paper as ali-ramadhan suggested, or should I wait for the second reviewer's comments?

[2019-11-08 14:46] nquesada commented on #1705
@whedon generate pdf

[2019-11-08 14:46] whedon commented on #1705
[code]

[2019-11-08 14:46] samuelduchesne commented on #1833
Hi @brynpickering and @ThibaultMarzullo! Sorry for the late reply on my end. I have been quite busy with the submission of my thesis this week. Now it is done! so I can commit to this review process! 💪

You have provided valuable comments and uncovered issues we weren't able to pick even with our CI integration. If you do not mind letting us some time to get over all the issues, we will try to add

[2019-11-08 14:47] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-11-08 14:47] nquesada commented on #1705
Hey @amitkumarj441  let us know if there is anything else missing. Thanks!

[2019-11-08 14:51] samuelduchesne commented on #1833
@whedon generate pdf

[2019-11-08 14:51] whedon commented on #1833
[code]

[2019-11-08 14:52] whedon commented on #1833
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01833/joss.01833/10.21105.joss.01833.pdf)

[2019-11-08 15:05] amitkumarj441 commented on #1705
@whedon check references

[2019-11-08 15:05] whedon commented on #1705
[code]

[2019-11-08 15:06] whedon commented on #1705
[code]

[2019-11-08 15:11] SirSharpest commented on #1848
I have started to review, but from this submission I cannot see what specifically is different from https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1002970 or https://www.sciencedirect.com/science/article/pii/S0010465509002604.

If it is a specific recent addition to this existing and established software, then could the submission be made to reflect this?

Otherwise I would

[2019-11-08 15:28] seanpue commented on #1717
Hi @vc1492a @rlskoeser @gkthiruvathukal Wanted to check to see if you've had a chance to review the updates. Thanks.

[2019-11-08 15:33] gkthiruvathukal commented on #1717
@seanpue It looks like we are nearing a conclusion here! It would be great if  @vc1492a and @rlskoeser can chime in and take a final look. If I don't hear any new issues, say, by Monday, I think we are  ready to move toward acceptance.

[2019-11-08 16:01] amitkumarj441 commented on #1705
I think it's all looks good, and I'm happy to sign-off the full review.

@katyhuff I think we're good to go here when you have time.

[2019-11-08 16:18] klho commented on #1871
@whedon commands

[2019-11-08 16:18] whedon commented on #1871
Here are some things you can ask me to do:

[code]

[2019-11-08 16:35] klho commented on #1871
Here are some suggestions for potential reviewers: @sivaramambikasaran, @pitsianis, @zgimbutas.

[2019-11-08 16:38] fcooper8472 commented on #1848
Hi @SirSharpest.  The paper you mention was published in 2009, and there has been a vast quantity of development since then.

This paper references that publication, and another (from 2013), but this will serve as an updated reference with details about Chaste as it exists now (rather than 6 or 10 years ago).

Almost every element of the software has been substantially changed, and information on

[2019-11-08 16:56] vc1492a commented on #1717
@seanpue must have missed the notification previously, apologies! I took a look at the repository and the updates look good to me. I feel that this work is ready for publication in JOSS.

[2019-11-08 17:07] kyleniemeyer commented on #1732
Hi @mrgprasad, just a few fixes needed in the paper:
- missing period in i.e in second paragraph: "i.e," -> "i.e.,"
- in the 3rd paragraph, the sentence beginning with "Thus addressing" is incomplete, or at least awkward. Perhaps something like "This addresses the limitations..."
- last sentence of 3rd paragraph: change "in-built" to "built-in"
- pybind11 citation:
[code]

Please let me know back

[2019-11-08 17:10] mbobra commented on #1828
@stfbnc Yes, feel free to modify the paper right away! Every time you modify, you comment in this thread with the command `@whedon generate pdf` to ask the JOSS bot Whedon to compile a PDF (so that we can all see the latest draft). This is an iterative process, so there is absolutely no issue with modifying and re-generating the paper as many times as you like.

[2019-11-08 17:23] kyleniemeyer commented on #1642
Hi @jnoynaert, just a few things before I finalize acceptance:

1. In the newest Zenodo record (10.5281/zenodo.3529746, I believe), can you fix the title to match that of the paper?

2. One of our [paper requirements](https://openjournals.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) is

Can you edit the introduction to make it a bit more accessible to a more general audie

[2019-11-08 17:32] whedon opened #1872 "[PRE REVIEW]: MNE-BIDS: Organizing neurophysiological data into the BIDS format and facilitating their analysis"
**Submitting author:** @sappelhoff (<a href="http://orcid.org/0000-0001-8002-0877">Stefan Appelhoff</a>)
**Repository:** <a href="https://github.com/mne-tools/mne-bids" target ="_blank">https://github.com/mne-tools/mne-bids</a>
**Version:** v0.3
**Editor:** @arokem
**Reviewers:** jdkent, @TomDonoghue

**Author instructions**

Thanks for submitting your paper to JOSS @sappelhoff. **Currently, there

[2019-11-08 17:32] whedon commented on #1872
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-08 17:33] whedon commented on #1872
[code]

[2019-11-08 17:33] kyleniemeyer commented on #1872
Hi @arokem, the authors suggested you to edit this submission—can you take it?

[2019-11-08 17:33] whedon commented on #1872
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01872/joss.01872/10.21105.joss.01872.pdf)

[2019-11-08 17:35] arokem commented on #1872
Yeah. I can take this one on.

[2019-11-08 17:36] arokem commented on #1872
@whedon assign arokem as editor

[2019-11-08 17:36] whedon commented on #1872
OK, the editor is arokem

[2019-11-08 17:37] feiyu-chen96 commented on #1859
@whedon  generate pdf

[2019-11-08 17:39] arokem commented on #1872
👋 @tyarkoni: Would you be willing to review this paper for JOSS? (assuming no [COI](https://github.com/openjournals/joss/blob/master/COI.md)? )

[2019-11-08 17:42] arokem commented on #1872
👋 @jdkent : Would you be willing to review this paper for JOSS (assuming no [COI](https://github.com/openjournals/joss/blob/master/COI.md)? )?

[2019-11-08 17:44] feiyu-chen96 commented on #1859
@whedon generate pdf

[2019-11-08 17:44] whedon commented on #1859
[code]

[2019-11-08 17:44] arokem commented on #1727
:wave: @linuxscout : would you be willing to review this paper for JOSS?

[2019-11-08 17:45] whedon commented on #1859
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01859/joss.01859/10.21105.joss.01859.pdf)

[2019-11-08 17:45] tyarkoni commented on #1872
I definitely have a COI—sorry!

[2019-11-08 17:58] feiyu-chen96 commented on #1859
@whedon generate pdf

[2019-11-08 17:59] whedon commented on #1859
[code]

[2019-11-08 17:59] whedon commented on #1859
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01859/joss.01859/10.21105.joss.01859.pdf)

[2019-11-08 18:03] feiyu-chen96 commented on #1859
@drvinceknight I just shorten the paper and added DOI and space for citations. Could you check the updated version?

[2019-11-08 18:07] finsberg commented on #1848
@meg-simula I am now done with my review, and I think that Chaste more than qualifies for publication in JOSS. Its seems to have an active community of maintainers and it also has a very nice test suite as well a good documentation with a lot of tutorials. It was also very easy to use together with the provided docker image. I have added a final suggestion to add a section for benchmarks which I t

[2019-11-08 18:10] SuperKam91 commented on #1809
@whedon generate pdf

[2019-11-08 18:10] whedon commented on #1809
[code]

[2019-11-08 18:11] whedon commented on #1809
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01809/joss.01809/10.21105.joss.01809.pdf)

[2019-11-08 18:17] whedon opened #1873 "[PRE REVIEW]: ScenTrees.jl: A Julia Library For Generating Scenario Trees and Scenario Lattices for Multistage Stochastic Optimization"
**Submitting author:** @kirui93 (<a href="http://orcid.org/0000-0002-3679-4442">Kipngeno </a>)
**Repository:** <a href="https://github.com/kirui93/ScenTrees.jl" target ="_blank">https://github.com/kirui93/ScenTrees.jl</a>
**Version:** v0.1.2
**Editor:** @melissawm
**Reviewers:** @juliohm, @matbesancon

**Author instructions**

Thanks for submitting your paper to JOSS @kirui93. **Currently, there i

[2019-11-08 18:17] whedon commented on #1873
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-08 18:17] whedon commented on #1873
[code]

[2019-11-08 18:18] whedon commented on #1873
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01873/joss.01873/10.21105.joss.01873.pdf)

[2019-11-08 18:18] kyleniemeyer commented on #1873
Hi @melissawm, can you edit this submission for us?

[2019-11-08 18:20] whedon opened #1874 "[PRE REVIEW]: passt: An R implementation of the Probability Associator Time (PASS-T) model"
**Submitting author:** @johannes-titz (<a href="http://orcid.org/0000-0002-1102-5719">Johannes Titz</a>)
**Repository:** <a href="https://github.com/johannes-titz/passt" target ="_blank">https://github.com/johannes-titz/passt</a>
**Version:** v0.1.0
**Editor:** @oliviaguest
**Reviewers:** @nicksexton, @russellpierce

**Author instructions**

Thanks for submitting your paper to JOSS @johannes-titz.

[2019-11-08 18:20] whedon commented on #1874
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-08 18:20] whedon commented on #1874
[code]

[2019-11-08 18:20] kyleniemeyer commented on #1874
Hi @oliviaguest, can you edit this submission?

[2019-11-08 18:21] whedon commented on #1874
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01874/joss.01874/10.21105.joss.01874.pdf)

[2019-11-08 18:26] jnoynaert commented on #1642
@whedon generate pdf

[2019-11-08 18:27] whedon opened #1875 "[PRE REVIEW]: ampscan: A lightweight Python package for shape analysis of prosthetics and orthotics"
**Submitting author:** @JoshuaSteer (<a href="http://orcid.org/0000-0002-6288-1347">Joshua Steer</a>)
**Repository:** <a href="https://github.com/abel-research/ampscan" target ="_blank">https://github.com/abel-research/ampscan</a>
**Version:** v0.3.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @danasolav

**Author instructions**

Thanks for submitting your paper to JOSS @JoshuaSteer. **Curr

[2019-11-08 18:27] whedon commented on #1875
[code]

[2019-11-08 18:27] whedon commented on #1875
PDF failed to compile for issue #1875 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1875 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedo

[2019-11-08 18:27] kyleniemeyer commented on #1875
Hi @Kevin-Mattheus-Moerman, I hesitate to ask you to edit this one due to your current load, but it looks right up your alley...

[2019-11-08 18:29] mrgprasad commented on #1732
@whedon generate pdf

[2019-11-08 18:29] whedon commented on #1732
[code]

[2019-11-08 18:29] kyleniemeyer commented on #1875
@openjournals/dev any ideas why the paper isn't compiling? I can't tell from the error message.

[2019-11-08 18:29] whedon commented on #1732
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01732/joss.01732/10.21105.joss.01732.pdf)

[2019-11-08 18:30] whedon opened #1876 "[PRE REVIEW]: Plonk: Smoothed particle hydrodynamics analysis and visualization with Python"
**Submitting author:** @dmentipl (<a href="http://orcid.org/0000-0002-5526-8798">Daniel Mentiplay</a>)
**Repository:** <a href="https://github.com/dmentipl/plonk" target ="_blank">https://github.com/dmentipl/plonk</a>
**Version:** v0.2.0
**Editor:** @dfm
**Reviewers:** @zingale, @matthewturk

**Author instructions**

Thanks for submitting your paper to JOSS @dmentipl. **Currently, there isn't an J

[2019-11-08 18:30] whedon commented on #1876
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-08 18:30] whedon commented on #1876
[code]

[2019-11-08 18:31] kyleniemeyer commented on #1876
Hi @dfm, can you edit this submission?

[2019-11-08 18:31] whedon commented on #1876
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01876/joss.01876/10.21105.joss.01876.pdf)

[2019-11-08 18:32] mrgprasad commented on #1732
@kyleniemeyer
I have made all the changes based on your suggestions. Thank you.

[2019-11-08 18:32] whedon opened #1877 "[PRE REVIEW]: rnassqs: An R package to access agricultural data via the USDA National Agricultural Statistical Service (USDA-NASS) 'Quick Stats' API"
**Submitting author:** @potterzot (<a href="http://orcid.org/0000-0002-3410-3732">Nicholas A Potter</a>)
**Repository:** <a href="https://github.com/ropensci/rnassqs" target ="_blank">https://github.com/ropensci/rnassqs</a>
**Version:** v0.6.1
**Editor:** @kyleniemeyer
**Reviewers:** @kyleniemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @potterzot. **Currently, there isn

[2019-11-08 18:32] whedon commented on #1877
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-08 18:32] whedon commented on #1877
[code]

[2019-11-08 18:32] whedon commented on #1877
PDF failed to compile for issue #1877 with the following error:

 Could not find bibliography file: paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-11-08 18:34] kyleniemeyer commented on #1877
Hi @potterzot, it looks like you are missing a `paper.bib` file in the repo—do you have any references?

[2019-11-08 18:36] whedon opened #1878 "[PRE REVIEW]: SHARPy: A dynamic aeroelastic simulation toolbox for very flexible aircraft and wind turbines"
**Submitting author:** @fonsocarre (<a href="http://orcid.org/0000-0002-8133-9481">Alfonso del Carre</a>)
**Repository:** <a href="https://github.com/ImperialCollegeLondon/sharpy" target ="_blank">https://github.com/ImperialCollegeLondon/sharpy</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @petebachant, @rafmudaf

**Author instructions**

Thanks for submitting your paper to JOSS @fon

[2019-11-08 18:36] whedon commented on #1878
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-08 18:36] whedon commented on #1878
[code]

[2019-11-08 18:37] kyleniemeyer commented on #1878
Hi @labarba, could you take this submission on? Looks to be right up your alley!

[2019-11-08 18:37] whedon commented on #1878
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01878/joss.01878/10.21105.joss.01878.pdf)

[2019-11-08 18:38] whedon opened #1879 "[PRE REVIEW]: PyCHAM: CHemistry with Aerosol Microphysics in Python"
**Submitting author:** @simonom (<a href="http://orcid.org/0000-0001-7197-0651">Simon O&#39;Meara</a>)
**Repository:** <a href="https://github.com/simonom/PyCHAM" target ="_blank">https://github.com/simonom/PyCHAM</a>
**Version:** 0.0.5
**Editor:** @jedbrown
**Reviewers:** dhhagan, andreas-h

**Author instructions**

Thanks for submitting your paper to JOSS @simonom. **Currently, there isn't an JO

[2019-11-08 18:38] whedon commented on #1879
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-08 18:38] whedon commented on #1879
[code]

[2019-11-08 18:38] whedon commented on #1879
Failed to discover a valid open source license.

[2019-11-08 18:38] whedon commented on #1879
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01879/joss.01879/10.21105.joss.01879.pdf)

[2019-11-08 18:43] kyleniemeyer commented on #1732
@whedon accept

[2019-11-08 18:43] whedon commented on #1732
[code]

[2019-11-08 18:44] whedon commented on #1732
[code]

[2019-11-08 18:44] whedon commented on #1732
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1093

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1093, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-08 18:45] kyleniemeyer commented on #1732
@whedon accept deposit=true

[2019-11-08 18:45] whedon commented on #1732
[code]

[2019-11-08 18:46] whedon commented on #1732
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1192875984392994818) 👈 🐦🐦🐦

[2019-11-08 18:46] whedon commented on #1732
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1094
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01732](https://doi.org/10.21105/joss.01732)
2. If everything looks g

[2019-11-08 18:46] jnoynaert commented on #1642
@whedon commands

[2019-11-08 18:46] whedon commented on #1642
Here are some things you can ask me to do:

[code]

[2019-11-08 18:46] jnoynaert commented on #1642
@whedon generate pdf

[2019-11-08 18:46] whedon commented on #1642
[code]

[2019-11-08 18:47] ThomasPak commented on #1716
@gonsie I have put the results of this performance test on the Pakman wiki because I may add more tests in the future. Please have a look at https://github.com/ThomasPak/pakman/wiki/Benchmark%3A-HPC-cluster

[2019-11-08 18:47] whedon commented on #1642
PDF failed to compile for issue #1642 with the following error:

 Error reading bibliography ./paper.bib (line 18, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-11-08 18:48] jnoynaert commented on #1642
@whedon generate pdf

[2019-11-08 18:48] whedon commented on #1642
[code]

[2019-11-08 18:48] whedon commented on #1642
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01642/joss.01642/10.21105.joss.01642.pdf)

[2019-11-08 18:49] potterzot commented on #1877
@kyleniemeyer ack, sorry! I removed it because when cleaning up the paper for submission I ended up without any references. I thought I had retested the compile but apparently not. I've added an empty paper.bib so that it compiles correctly.

[2019-11-08 18:49] jnoynaert commented on #1642
@whedon check references

[2019-11-08 18:50] whedon commented on #1642
[code]

[2019-11-08 18:50] whedon commented on #1642
[code]

[2019-11-08 18:51] kyleniemeyer commented on #1732
@mrgprasad congrats on your article's publication in JOSS!

Many thanks to @Kevin-Mattheus-Moerman for editing, and @heprom, @KedoKudo, @chennachaos for reviewing this submission.

[2019-11-08 18:51] #1732 closed

[2019-11-08 18:51] whedon commented on #1732
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01732/status.svg)](https://doi.org/10.21105/joss.01732)

**We need your help!**

Journal of Open Source Softwa

[2019-11-08 18:52] potterzot commented on #1877
For reference, I'm submitting as part of the rOpenSci review, which I believe I am supposed to post here: https://github.com/ropensci/software-review/issues/298.

[2019-11-08 18:53] kyleniemeyer commented on #1642
@whedon set 10.5281/zenodo.3529746 as archive

[2019-11-08 18:53] whedon commented on #1642
OK. <a href="https://doi.org/10.5281/zenodo.3529746" target="_blank">10.5281/zenodo.3529746</a> is the archive.

[2019-11-08 18:53] jnoynaert commented on #1642
@kyleniemeyer
- updated title @ [doi.org/10.5281/zenodo.3529746](url))
- added references and verified the last DOI-less citation does not have one available (at least a reasonably discoverable one, at any rate)
- added two introductory paragraphs to clarify a bit for people not working in that field

[2019-11-08 18:53] kyleniemeyer commented on #1642
@jnoynaert ok, looks good! The introduction is much better.

[2019-11-08 18:53] kyleniemeyer commented on #1642
@whedon accept

[2019-11-08 18:53] whedon commented on #1642
[code]

[2019-11-08 18:53] whedon commented on #1642
[code]

[2019-11-08 18:54] mrgprasad commented on #1732
I would like to thank @KedoKudo, @chennachaos & @heprom for reviewing Kanapy. Your suggestions have made the software better.
@Kevin-Mattheus-Moerman thank you for taking time and editing!
And final thanks to @kyleniemeyer for accepting the submission.

[2019-11-08 18:54] whedon commented on #1642
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1095

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1095, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-08 18:54] kyleniemeyer commented on #1642
@whedon accept deposit=true

[2019-11-08 18:54] whedon commented on #1642
[code]

[2019-11-08 18:55] whedon commented on #1642
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1192878385145364480) 👈 🐦🐦🐦

[2019-11-08 18:55] whedon commented on #1642
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1096
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01642](https://doi.org/10.21105/joss.01642)
2. If everything looks g

[2019-11-08 18:58] mrgprasad commented on #1732
@kyleniemeyer
We are working on extending Kanapy to include other important features with respect to microstructure generation. In this regard, can we submit the software for review again? If not, is it possible to update the current JOSS paper to reflect this?

[2019-11-08 19:01] JoshuaSteer commented on #1875
It compiles for me without any problems using the preview service if that helps debugging

[2019-11-08 19:05] kyleniemeyer commented on #1875
@whedon generate pdf

[2019-11-08 19:05] whedon commented on #1875
[code]

[2019-11-08 19:05] whedon commented on #1875
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01875/joss.01875/10.21105.joss.01875.pdf)

[2019-11-08 19:06] kyleniemeyer commented on #1732
@mrgprasad if the software functionality changes substantially, then you can submit later for a new review.

[2019-11-08 19:07] kyleniemeyer commented on #1875
@JoshuaSteer not sure why it didn't work the first time, but looks fine now!

[2019-11-08 19:08] kyleniemeyer commented on #1642
Congrats @jnoynaert on your article's publication in JOSS!

Many thanks to @wkearn and @mancellin for reviewing, and @oliviaguest for editing this submission.

[2019-11-08 19:08] #1642 closed

[2019-11-08 19:08] whedon commented on #1642
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01642/status.svg)](https://doi.org/10.21105/joss.01642)

**We need your help!**

Journal of Open Source Softwa

[2019-11-08 19:41] marksantcroos commented on #1844
I've also started my review by going through installation and testing, but got stuck rather quickly.

- [#13 system wide installation vs virtual environment](https://gitlab.com/myqueue/myqueue/issues/13)
- [#14 echo command to create hello.py is wrong in tutorial](https://gitlab.com/myqueue/myqueue/issues/14)
- [#15 sbatch: unrecognized option '--workdir'](https://gitlab.com/myqueue/myqueue/issues

[2019-11-08 20:02] SuperKam91 commented on #1809
Hi @zhampel thank you for your comments. I will address them sequentially:

I'm not quite sure I follow unfortunately, are you saying the example needs more comments to explain what each line of code does? Anyway, I have added more documentation to the `toy_models.py` sub-package which is called from the example.

While I didn't see anything in the JOSS guidelines specifying that unit tests were s

[2019-11-08 20:10] Kevin-Mattheus-Moerman commented on #1875
@kyleniemeyer I can take this one

[2019-11-08 20:11] Kevin-Mattheus-Moerman commented on #1875
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-11-08 20:11] whedon commented on #1875
OK, the editor is @Kevin-Mattheus-Moerman

[2019-11-08 21:14] arokem commented on #1872
👋 @ftadel :  would you be willing to review this paper for [the Journal of Open Source Software](https://joss.theoj.org/)? The review process is explained [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

[2019-11-08 21:17] kthyng commented on #1684
@Shibabrat @WyLyu What is your status on comments from your reviewers?

[2019-11-08 21:22] kthyng commented on #1654
I've been in contact by email with @abhishekbajpayee and he says he'll be working on this right away.

[2019-11-08 21:27] kyleniemeyer commented on #1879
Hi @simonom, thanks for your interest in JOSS. Normally at this stage I would assign an editor, who would then find reviewers in this pre-review issue.

However, I noticed some major issues with your submission that need to be addressed (which any reviewers would likely get stuck on):
- Your software needs an open-source license, from this [list](https://opensource.org/licenses)
- You've created a

[2019-11-08 21:29] kyleniemeyer commented on #1871
Hi @melissawm, I realize I just asked you about another submission, but this one also looks like a good fit. Can you edit this as well?

[2019-11-08 21:38] batpigandme commented on #1686
Thank you so much, @jeffreyhanson and @ldecicco-USGS, for you thoughtful reviews, and, @karthik, for your guidance throughout this process.
Your input has made the paper much stronger.

We've responded to your feedback piece by piece in three markdown documents:

* @ldecicco-USGS's [here](https://github.com/tidyverse/tidyverse/blob/master/vignettes/review-ldecicco-USGS.md),
* @jeffreyhanson's [her

[2019-11-08 22:38] dfm commented on #1876
@kyleniemeyer: Sure - I can take it!

[2019-11-08 22:38] dfm commented on #1876
@whedon assign @dfm as editor

[2019-11-08 22:38] whedon commented on #1876
OK, the editor is @dfm

[2019-11-08 22:39] dfm commented on #1876
@dmentipl: please take a look at [this list](https://bitly.com/joss-reviewers) of potential reviewers and let me know if there's anyone who you think would be especially well suited. Thanks!

[2019-11-08 23:34] zhampel commented on #1809
@SuperKam91 I pulled your most recent changes, but I would not agree with you statement that

Looking again in `nested_run.py`, I still see a significant number of commented full lines with qualifications like 'temporary' and 'debug'.

It would be worth you intended users' time to clarify your code as much as possible.

[2019-11-08 23:53] labarba commented on #1878
@whedon assign @labarba as editor

[2019-11-08 23:53] whedon commented on #1878
OK, the editor is @labarba

[2019-11-09 00:05] labarba commented on #1878
👋  @mtezzele — I see that you have published [three papers](https://joss.theoj.org/papers/by/Marco%20Tezzele) with JOSS. Good job!
And you also already [reviewed](https://joss.theoj.org/papers/reviewed_by/@mtezzele) one paper. Thank you 🙏

Could you contribute one more review for us? The submission is:
*SHARPy: A dynamic aeroelastic simulation toolbox for very flexible aircraft and wind turbines*

[2019-11-09 00:29] labarba commented on #1878
👋  @petebachant — Do you think you could contribute a review for JOSS on this submission? You haven't reviewed for us before, but I think you will like it. The whole process is done in the open, on a GitHub issue. Have a look at our [Reviewer Guide](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).
The submission is:
_SHARPy: A dynamic aeroelastic simulation toolbox for very flexibl

[2019-11-09 00:51] kyleniemeyer commented on #1877
@whedon generate pdf

[2019-11-09 00:51] whedon commented on #1877
[code]

[2019-11-09 00:52] whedon commented on #1877
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01877/joss.01877/10.21105.joss.01877.pdf)

[2019-11-09 00:54] kyleniemeyer commented on #1877
@potterzot thanks!

[2019-11-09 00:54] kyleniemeyer commented on #1877
@whedon assign @kyleniemeyer as editor

[2019-11-09 00:54] whedon commented on #1877
OK, the editor is @kyleniemeyer

[2019-11-09 00:55] kyleniemeyer commented on #1877
@whedon add @kyleniemeyer as reviewer

[2019-11-09 00:55] whedon commented on #1877
OK, @kyleniemeyer is now a reviewer

[2019-11-09 00:56] kyleniemeyer commented on #1877
@whedon start review

[2019-11-09 00:56] whedon opened #1880 "[REVIEW]: rnassqs: An R package to access agricultural data via the USDA National Agricultural Statistical Service (USDA-NASS) 'Quick Stats' API"
**Submitting author:** @potterzot (<a href="http://orcid.org/0000-0002-3410-3732">Nicholas A Potter</a>)
**Repository:** <a href="https://github.com/ropensci/rnassqs" target ="_blank">https://github.com/ropensci/rnassqs</a>
**Version:** v0.6.1
**Editor:** @kyleniemeyer
**Reviewer:** @kyleniemeyer
**Archive:** <a href="https://doi.org/10.5281/zenodo.3532167" target="_blank">10.5281/zenodo.3532167</

[2019-11-09 00:56] whedon commented on #1877
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1880. Feel free to close this issue now!

[2019-11-09 00:56] whedon commented on #1880
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2019-11-09 00:56] whedon commented on #1880
[code]

[2019-11-09 00:56] #1877 closed

[2019-11-09 00:56] whedon commented on #1880
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01880/joss.01880/10.21105.joss.01880.pdf)

[2019-11-09 00:57] kyleniemeyer commented on #1880
For the record, this is an rOpenSci-accepted submission; the review thread is here: https://github.com/ropensci/software-review/issues/298

[2019-11-09 01:01] kyleniemeyer commented on #1880
Hi @potterzot, I was about to add the Zenodo DOI here, but I noticed that the metadata doesn't look quite right—can you make the title and authors at 10.5281/zenodo.3532167 match that of the paper?

[2019-11-09 02:40] #1691 closed

[2019-11-09 02:40] #1719 closed

[2019-11-09 04:23] sambitdash commented on #1453
@alexhanna, Kindly let me know if there is anything needed from my side to bring this issue to a closure.

[2019-11-09 05:20] jdkent commented on #1872
I would be happy to!

pending...
I'm on the same [nipype zenodo record](https://zenodo.org/record/3476537#.XcZIjd-YU8o) as Alexandre Gramfort, but we did not directly collaborate. Also I depend on some [MNE code in NiBetaSeries](https://github.com/HBClab/NiBetaSeries/blob/a756e85cab21e5e94cb37ebb6ecea3c698330e0c/src/nibetaseries/interfaces/nilearn.py#L43).

I do not believe these minor perceived c

[2019-11-09 05:27] arokem commented on #1872
Thanks! The nipype zenodo record seems fine to me. And depending on MNE seems to make you an appropriate reviewer here. I'll add you, but stand by until I find a second reviewer, before I kick off the review process.

[2019-11-09 05:27] arokem commented on #1872
@whedon add jdkent as reviewer

[2019-11-09 05:27] whedon commented on #1872
OK, jdkent is now a reviewer

[2019-11-09 06:11] ziotom78 commented on #1809
No need to rewrite your package, there are automatic tools like [autopep8](https://github.com/hhatto/autopep8), [yapf](https://github.com/google/yapf) and [black](https://github.com/psf/black) that can do the job for you.

[2019-11-09 08:53] ftadel commented on #1872
I'd be very interested in reviewing this article, but I'll be traveling for a while and I can't guarantee I'd work on it immediately (probably by the end of November, and for sure before mid-December).
If you're not in a rush, you can count me in.

[2019-11-09 09:24] martinfleis commented on #1807
@martibosch @geraintpalmer Is there anything else I can do towards finishing this review? From our discussions it seemed to me that you have finished, but looking at the checkboxes above it is apparently not the case yet.

[2019-11-09 09:27] martibosch commented on #1807
@whedon generate pdf

[2019-11-09 09:27] whedon commented on #1807
[code]

[2019-11-09 09:28] whedon commented on #1807
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01807/joss.01807/10.21105.joss.01807.pdf)

[2019-11-09 09:34] martibosch commented on #1807
@martinfleis sorry that I forgot about the checkboxes. There is only one final checkbox that I am still leaving unchecked: not all the references have a DOI, which conflicts with [the review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html#software-paper).

[2019-11-09 09:38] martinfleis commented on #1807
@martibosch those without DOI do not have one at all.

[2019-11-09 09:52] martibosch commented on #1807
in such case, I believe that I can put a check in the “References” checkbox, am I wrong @drvinceknight?

[2019-11-09 11:19] likask commented on #1441
@vijaysm Can I help you with something?

[2019-11-09 11:43] petebachant commented on #1878
@labarba I believe I did review something for you folks at one point--maybe in a different journal but similar process. Anyway, I'm up for reviewing this!

[2019-11-09 12:17] mado89 commented on #1845
@alessandroBombelli or @danielskatz  Can you clarrify: Shall we proceed with the review or pause this?

[2019-11-09 12:20] danielskatz commented on #1845
Sorry, I missed the notification from @alessandroBombelli 2 days ago.

Let's just pause for now and see if this can be resolved fairly quickly.

[2019-11-09 12:21] fonsocarre commented on #1878
@labarba @petebachant thank you! I’m looking forward to receiving your feedback. Let me know if there is anything I can do to make this as easy as possible for everyone.

[2019-11-09 12:23] mado89 commented on #1845
Ok. Meanwhile, could you help me/us out over here? https://github.com/alessandroBombelli/pyHoops/issues/49
Question is whether its ok to state in the readme to be under MIT license or whether a LICENSE file is required

[2019-11-09 12:25] danielskatz commented on #1845
I replied there - thanks for also bringing this to my attention

[2019-11-09 12:28] fonsocarre commented on #1878
@ngoiz @ArturoMS13 @rafapalacios For you to keep an eye on this.

[2019-11-09 13:21] labarba commented on #1878
@whedon assign @petebachant as reviewer

[2019-11-09 13:21] whedon commented on #1878
OK, the reviewer is @petebachant

[2019-11-09 13:24] labarba commented on #1878
Thank you, Pete!
Stay tuned, everybody, until we assign a second reviewer

[2019-11-09 14:01] vijaysm commented on #1441
@lukasz I apologize about the delay. I'm on vacation and don't have my
laptop (and review comments) with me. I was able to get the stack built
couple of months back, though the process has become simpler since. I
wanted to verify running some complex problems with MoFEM but haven't
gotten around to that yet. This is the primary reason for my tardy review.
I get back to work on Nov 18 and will make

[2019-11-09 15:02] majensen commented on #1796
@whedon generate pdf

[2019-11-09 15:02] whedon commented on #1796
[code]

[2019-11-09 15:03] whedon commented on #1796
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01796/joss.01796/10.21105.joss.01796.pdf)

[2019-11-09 15:23] amritagos commented on #1831
@whedon check references

[2019-11-09 15:23] whedon commented on #1831
[code]

[2019-11-09 15:24] amritagos commented on #1831
@will-rowe I'll be done with this this weekend as well, sorry for the delay.

[2019-11-09 19:40] SuperKam91 commented on #1809
Thank you for you reply @zhampel, that seems very strange. Did you pull from PyPi? I haven't added any of the the review-changes to that version of the package yet, as I figured I would do it at the end of the review process (to avoid having to keep releasing new versions). Please use the version in the github repo for now.
If not I can only think that you looked between me posting the above comme

[2019-11-09 20:21] mtezzele commented on #1878
Dear @labarba, sorry but next weeks are not a good period for me, I have to decline this one.  I'm really sorry, the package seems very cool. I hope to give you a hand in the future.

[2019-11-09 21:30] labarba commented on #1878
👋 @rafmudaf — I found that you are a contributor of [OpenFAST](https://github.com/OpenFAST/openfast) at NREL. Would you be interested in contributing a review for [The Journal of Open Source Software](https://joss.theoj.org)? Reviews are done in the open, in a GitHub repo, and they focus on the quality of software for research uses. Have a look at our [Reviewer Guide](https://joss.readthedocs.io/e

[2019-11-10 13:45] melissawm commented on #1873
I can, @kyleniemeyer!

[2019-11-10 13:46] melissawm commented on #1873
@whedon assign @melissawm as editor

[2019-11-10 13:46] whedon commented on #1873
OK, the editor is @melissawm

[2019-11-10 13:47] melissawm commented on #1871
Sure, this is right for me :)

[2019-11-10 13:47] melissawm commented on #1871
@whedon assign @melissawm as editor

[2019-11-10 13:47] whedon commented on #1871
OK, the editor is @melissawm

[2019-11-10 17:01] arfon commented on #1834
@williamjameshandley - how are you getting along with your review here?

[2019-11-10 17:04] arfon commented on #1869
@lwasser - could you make sure you've cited all of the software that you mention in your article. For example, Matplotlib seems to be missing a citation here: https://matplotlib.org/3.1.1/citing.html

[2019-11-10 17:05] arfon commented on #1832
@mwcraig, @ceb8 - how are you both getting along with your reviews?

[2019-11-10 17:06] arfon commented on #1800
@jgonggrijp, @elektrobohemian - it doesn't look like you've made any progress on your reviews here. Do you think you could complete them in the next two weeks?

[2019-11-10 17:08] arfon commented on #1757
@whedon generate pdf

[2019-11-10 17:08] whedon commented on #1757
[code]

[2019-11-10 17:09] whedon commented on #1757
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01757/joss.01757/10.21105.joss.01757.pdf)

[2019-11-10 17:34] arfon commented on #1757
Do you mean resolve this item by simply citing the AAS paper?

[2019-11-10 17:36] arfon commented on #1751
@jhollist, @ha0ye - please let me know when you've had a chance to review @junbinzhao's responses.

[2019-11-10 18:51] yzhao062 commented on #1799
@pssachdeva (@terrytangyuan for some reason I could mention Pratik in this thread).

It is a good package and I just did some initial tests and crosses some items from the list. Currently, I have three major questions:

1. License: not necessarily an OSI approved one but the term is consistent with the open-source standard. Or could you clarify if it is a modified version of one of the OSI license

[2019-11-10 20:28] richardjgowers commented on #1831
Ok I've raised some minor issues but otherwise I think the paper is looking good

[2019-11-10 20:30] lohedges commented on #1831
👍 Thanks, @richardjgowers. I agree with all of your suggestions and will make some edits tomorrow.

[2019-11-10 21:44] martinfleis commented on #1838
@leouieda If you're still looking for a reviewer, I'd be happy to do it. I've already used PySAL and splot in my own research, so this is very close to my interests. I guess I'll spend time exploring the capabilities of splot anyway.

[2019-11-10 21:53] stfbnc commented on #1828
@whedon generate pdf

[2019-11-10 21:53] whedon commented on #1828
[code]

[2019-11-10 21:54] whedon commented on #1828
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01828/joss.01828/10.21105.joss.01828.pdf)

[2019-11-10 22:04] stfbnc commented on #1828
@whedon generate pdf

[2019-11-10 22:04] whedon commented on #1828
[code]

[2019-11-10 22:04] whedon commented on #1828
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01828/joss.01828/10.21105.joss.01828.pdf)

[2019-11-10 22:21] stfbnc commented on #1828
@ali-ramadhan I have corrected the paper as you suggested, there is now a theoretical introduction on the algorithms covered by fathon.

For the **State of the field** section:
- the three packages you mentioned only cover the DFA algorithm (and with not all the options provided by fathon), while they do not cover MFDFA, DCCA, and HT.
- the Matlab package is instead more comprehensive, and (beside

[2019-11-11 00:36] mwcraig commented on #1832
@arfon -- sorry for the delay. I'll get the review done on Monday.

[2019-11-11 00:38] cscherrer commented on #1850
https://github.com/ramiyaari/simode/issues/5

[2019-11-11 00:38] mwcraig commented on #1832
@arfon -- this link is a 404...

[2019-11-11 00:54] arfon commented on #1832
@whedon generate pdf

[2019-11-11 00:54] whedon commented on #1832
[code]

[2019-11-11 00:54] whedon commented on #1832
PDF failed to compile for issue #1832 with the following error:

 Can't find any papers to compile :-(

[2019-11-11 00:58] arfon commented on #1832
@mwcraig - this paper should work for now: [10.21105.joss.01832.pdf](https://github.com/openjournals/joss-reviews/files/3829309/10.21105.joss.01832.pdf)

[2019-11-11 00:59] arfon commented on #1832
@Cadair - please fix up your paper authors and affiliations ASAP so that the reviewers can check it out. As it currently stands, the paper won't compile.

[2019-11-11 01:19] dmentipl commented on #1876
Hi @dfm, thanks for agreeing to review my submission!

I had a look at the list, and no one in particular stood out. I suppose anyone with Python and astrophysics/astronomy expertise would be suitable.

[2019-11-11 07:30] kyleniemeyer commented on #1858
Hi @benjaminbolling, just wanted to follow up—can you respond to @danielskatz's last question?

[2019-11-11 09:19] oliviaguest commented on #1874
@kyleniemeyer yes, I can. :smile:

[2019-11-11 10:26] oliviaguest commented on #1874
@whedon assign @oliviaguest as editor

[2019-11-11 10:26] whedon commented on #1874
OK, the editor is @oliviaguest

[2019-11-11 10:27] oliviaguest commented on #1874
:wave: Hi @johannes-titz could you list us some potential reviewers, please?

[2019-11-11 10:34] jmansour commented on #1797
@whedon generate pdf from branch joss

[2019-11-11 10:34] whedon commented on #1797
[code]

[2019-11-11 10:35] whedon commented on #1797
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01797/joss.01797/10.21105.joss.01797.pdf)

[2019-11-11 10:42] geraintpalmer commented on #1807
I am happy with the paper now. Thanks @martinfleis for working through the issues.

[2019-11-11 10:58] xuanxu commented on #1853
@whedon add @aureliocarnero as reviewer

[2019-11-11 10:59] whedon commented on #1853
OK, @aureliocarnero is now a reviewer

[2019-11-11 10:59] oliviaguest commented on #1821
@soodoku thanks!
@nfrerebeau have you made any edits with respect to what @izaromanowska has given you feedback on?

[2019-11-11 10:59] xuanxu commented on #1853
@whedon start review

[2019-11-11 10:59] whedon opened #1881 "[REVIEW]: ytree: A Python package for analyzing merger trees"
**Submitting author:** @brittonsmith (<a href="http://orcid.org/0000-0002-6804-630X">Britton Smith</a>)
**Repository:** <a href="https://github.com/ytree-project/ytree" target ="_blank">https://github.com/ytree-project/ytree</a>
**Version:** 2.3
**Editor:** @xuanxu
**Reviewer:** @mgckind, @aureliocarnero
**Archive:** <a href="https://doi.org/10.5281/zenodo.3580978" target="_blank">10.5281/zenodo.3

[2019-11-11 10:59] whedon commented on #1853
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1881. Feel free to close this issue now!

[2019-11-11 10:59] whedon commented on #1881
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgckind, @aureliocarnero it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-11-11 10:59] whedon commented on #1881
[code]

[2019-11-11 11:00] whedon commented on #1881
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01881/joss.01881/10.21105.joss.01881.pdf)

[2019-11-11 11:01] xuanxu commented on #1853
@aureliocarnero, @mgckind please head over to #1881 where the review will take place.

[2019-11-11 11:01] #1853 closed

[2019-11-11 11:03] xuanxu commented on #1881
@brittonsmith, @mgckind, @aureliocarnero: this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different fr

[2019-11-11 11:09] johannes-titz commented on #1874
Sure!

@rmhogervorst, would you be willing to review this software paper for JOSS?

@russellpierce, would you be willing to review this software paper for JOSS?

[2019-11-11 11:23] leouieda commented on #1838
@martinfleis thank you volunteering :clap: I was still looking and it seems like you'd be a great fit.

[2019-11-11 11:24] leouieda commented on #1838
@whedon add @martinfleis as reviewer

[2019-11-11 11:24] whedon commented on #1838
OK, @martinfleis is now a reviewer

[2019-11-11 11:25] leouieda commented on #1838
@whedon star review

[2019-11-11 11:28] leouieda commented on #1838
@whedon start review

[2019-11-11 11:28] whedon opened #1882 "[REVIEW]: splot: visual analytics for spatial statistics"
**Submitting author:** @slumnitz (<a href="http://orcid.org/0000-0002-7007-5812">Stefanie Lumnitz</a>)
**Repository:** <a href="https://github.com/pysal/splot" target ="_blank">https://github.com/pysal/splot</a>
**Version:** v1.1.1
**Editor:** @leouieda
**Reviewer:** @ResidentMario, @martinfleis
**Archive:** <a href="https://doi.org/10.5281/zenodo.3724199" target="_blank">10.5281/zenodo.3724199</a

[2019-11-11 11:28] whedon commented on #1838
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1882. Feel free to close this issue now!

[2019-11-11 11:28] whedon commented on #1882
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ResidentMario, @martinfleis it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pr

[2019-11-11 11:28] whedon commented on #1882
[code]

[2019-11-11 11:28] #1838 closed

[2019-11-11 11:29] whedon commented on #1882
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01882/joss.01882/10.21105.joss.01882.pdf)

[2019-11-11 11:30] leouieda commented on #1882
👋 @slumnits @ResidentMario, @martinfleis this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different fro

[2019-11-11 12:26] dfm commented on #1876
:wave: @zingale: Any chance you're available to review this submission?

[2019-11-11 12:27] dfm commented on #1876
:wave: @matthewturk: Any chance you're available to review this submission?

[2019-11-11 12:30] melissawm commented on #1871
@whedon generate pdf

[2019-11-11 12:30] whedon commented on #1871
[code]

[2019-11-11 12:30] whedon commented on #1871
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01871/joss.01871/10.21105.joss.01871.pdf)

[2019-11-11 12:31] dfm commented on #1852
:wave: @mgckind: Any chance you're available to review this submission?

[2019-11-11 12:42] KaiWenger commented on #1820
@whedon generate pdf

[2019-11-11 12:43] whedon commented on #1820
[code]

[2019-11-11 12:43] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-11 12:53] KaiWenger commented on #1820
@whedon generate pdf

[2019-11-11 12:53] whedon commented on #1820
[code]

[2019-11-11 12:53] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-11 13:00] dfm commented on #1864
@benjaminrose: Thanks for this feedback! Do you think that the MPI issues were a problem with emcee/schwimmbad or something else? If the former, please open an issue and let's get it figured out!

I've updated the docs to include [some words about deprecations](https://emcee.readthedocs.io/en/latest/user/sampler/#emcee.EnsembleSampler) and [a bit more info about contributing](https://emcee.readthe

[2019-11-11 13:29] Kevin-Mattheus-Moerman commented on #1875
@danasolav would you or one of your colleagues like to review this work?

[2019-11-11 13:30] Kevin-Mattheus-Moerman commented on #1875
@JoshuaSteer thanks for your submission. I'll be looking for reviewers. Let me know if you had any recommended reviewers in mind. Thanks.

[2019-11-11 13:45] Janis410 commented on #1820
@whedon generate pdf

[2019-11-11 13:45] whedon commented on #1820
[code]

[2019-11-11 13:46] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-11 13:52] Janis410 commented on #1820
@whedon generate pdf

[2019-11-11 13:52] whedon commented on #1820
[code]

[2019-11-11 13:53] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-11 14:27] lpantano commented on #1731
@hagberg how is the review going?

[2019-11-11 14:28] lpantano commented on #1774
@KayleighRutherford do you think you can finish the review soon?

[2019-11-11 14:49] oliviaguest commented on #1874
@whedon add @nicksexton as reviewer

[2019-11-11 14:49] whedon commented on #1874
OK, @nicksexton is now a reviewer

[2019-11-11 15:18] oliviaguest commented on #1874
@johannes-titz thank you — if either or both are interested: perfect. We can give them a few days to reply and then I'll email them directly.

[2019-11-11 15:46] KayleighRutherford commented on #1774
Hello, I did complete the checklist a while back - is there something more
I need to do/how do I close the issue?

On Mon, Nov 11, 2019 at 9:28 AM Lorena Pantano <notifications@github.com>
wrote:

[2019-11-11 15:55] mwcraig commented on #1832
🤣 that second author, with the correct affiliation

[2019-11-11 16:00] JoshuaSteer commented on #1875
@Kevin-Mattheus-Moerman Thanks for picking this up, and great suggestion of Dana (also who I would have suggested). I'll have a look around for potential reviewers, possibly the team behind the polygon mesh processing library (https://github.com/pmp-library/pmp-library)?

[2019-11-11 16:01] zingale commented on #1876
I can review

[2019-11-11 16:04] csoneson commented on #1762
@greatfireball - did you have a chance to look at this submission?

[2019-11-11 16:24] ldecicco-USGS commented on #1686
The responses look fantastic to me, and now I'm super excited to see the development of the Tidyverse design guide.... 👯 💯 🎉

[2019-11-11 16:37] KaiWenger commented on #1820
Hi @steffilazerte and @JonasMoss,

first of all: thank you very much for your helpful and constructive thoughts and suggestions! We carefully considered all of your suggestions and think that our package improved significantly. We commented on all of your issues in [#1](https://github.com/KaiWenger/memochange/issues/1), [#2](https://github.com/KaiWenger/memochange/issues/2), [#3](https://github.co

[2019-11-11 16:39] Janis410 commented on #1820
@whedon generate pdf

[2019-11-11 16:39] whedon commented on #1820
[code]

[2019-11-11 16:39] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-11 17:06] lwasser commented on #1869
hi @arfon ! of course. let me go back and make a few more edits. i'll ping you again when that is complete.
leah

[2019-11-11 17:11] benjaminrose commented on #1864
@whedon generate pdf

[2019-11-11 17:11] whedon commented on #1864
[code]

[2019-11-11 17:12] whedon commented on #1864
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01864/joss.01864/10.21105.joss.01864.pdf)

[2019-11-11 17:15] matthewturk commented on #1876
I can review

On Mon, Nov 11, 2019 at 10:01 AM Michael Zingale <notifications@github.com>
wrote:

[2019-11-11 17:25] benjaminrose commented on #1864
@dfm these changes look great! I think my MPI issues stem mostly from my lack of experience and not an issue with `emcee`.

[2019-11-11 17:29] whedon opened #1883 "[PRE REVIEW]: Audiometry: A Model-View-ViewModel (MVVM) Application Framework for Hearing Impairment Diagnosis"
**Submitting author:** @drwaseemsheikh (<a href="http://orcid.org/0000-0002-4647-4565">Waseem Sheikh</a>)
**Repository:** <a href="https://github.com/drwaseemsheikh/audiometry.git" target ="_blank">https://github.com/drwaseemsheikh/audiometry.git</a>
**Version:** 1.0.0
**Editor:** @akeshavan
**Reviewers:** @ati-ozgur, @dvberkel

**Author instructions**

Thanks for submitting your paper to JOSS @dr

[2019-11-11 17:29] whedon commented on #1883
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-11 17:29] whedon commented on #1883
[code]

[2019-11-11 17:29] whedon commented on #1883
PDF failed to compile for issue #1883 with the following error:

 Error reading bibliography ./paper.bib (line 9, column 6):
unexpected "{"
expecting letter, digit, white space or "="
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-11-11 17:34] kyleniemeyer commented on #1883
Hello @drwaseemsheikh, thanks for your interest in JOSS.

Before we get started, I took a quick look at your article and software, and while it looks very useful, I can't tell from either how it satisfies one of our requirements to be in scope:

Can you clarify this? Thanks!

[2019-11-11 17:46] mgymrek commented on #1761
Great. Thanks @jsgalan and @juanvillada for the reviews and @gmweaver for addressing all comments.

@gmweaver can you fix this minor typo in the paper? Everything else looks good:
"meta-features, also know as" -> "meta-features, also known as"

Then, please make a tagged release and archive (e.g. Zenodo) and report the version number and archive DOI here. Please ensure the title and author list ma

[2019-11-11 17:48] mgymrek commented on #1742
@whedon set 10.5281/zenodo.3509513 as archive

[2019-11-11 17:48] whedon commented on #1742
OK. <a href="https://doi.org/10.5281/zenodo.3509513" target="_blank">10.5281/zenodo.3509513</a> is the archive.

[2019-11-11 17:48] mgymrek commented on #1742
Thanks for the changes!

@openjournals/joss-eics we're ready to accept this article!

[2019-11-11 18:16] drwaseemsheikh commented on #1883
Thank you for your feedback.

I would like to clarify this based on the scope statement of the journal reproduced below:
“JOSS publishes articles about research software. This definition includes software that: solves complex modeling problems in a scientific context (physics, mathematics, biology, medicine, social science, neuroscience, engineering); supports the functioning of research instrumen

[2019-11-11 18:38] karthik commented on #1686
Thanks @batpigandme and @hadley!

Since it's part of the version history of Tidyverse, I think it's fine where it is as this review is tied to the repo.

I'll wait for @jeffreyhanson and @ldecicco-USGS to respond to your comments.
@ldecicco-USGS let me know when you are ready to sign off.

[2019-11-11 18:52] dfm commented on #1876
@zingale @matthewturk: many thanks!

[2019-11-11 18:52] dfm commented on #1876
@whedon assign @zingale as reviewer

[2019-11-11 18:52] whedon commented on #1876
OK, the reviewer is @zingale

[2019-11-11 18:52] dfm commented on #1876
@whedon add @matthewturk as reviewer

[2019-11-11 18:52] whedon commented on #1876
OK, @matthewturk is now a reviewer

[2019-11-11 18:52] dfm commented on #1876
@whedon start review

[2019-11-11 18:52] whedon opened #1884 "[REVIEW]: Plonk: Smoothed particle hydrodynamics analysis and visualization with Python"
**Submitting author:** @dmentipl (<a href="http://orcid.org/0000-0002-5526-8798">Daniel Mentiplay</a>)
**Repository:** <a href="https://github.com/dmentipl/plonk" target ="_blank">https://github.com/dmentipl/plonk</a>
**Version:** 0.2.1
**Editor:** @dfm
**Reviewer:** @zingale, @matthewturk
**Archive:** <a href="https://doi.org/10.5281/zenodo.3554568" target="_blank">10.5281/zenodo.3554568</a>

##

[2019-11-11 18:52] whedon commented on #1876
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1884. Feel free to close this issue now!

[2019-11-11 18:52] whedon commented on #1884
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zingale, @matthewturk it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-11 18:52] whedon commented on #1884
[code]

[2019-11-11 18:53] whedon commented on #1884
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01884/joss.01884/10.21105.joss.01884.pdf)

[2019-11-11 18:54] dfm commented on #1876
@dmentipl @matthewturk @zingale: Let's head over to #1884 to get started with the review. Thanks again!

[2019-11-11 18:54] #1876 closed

[2019-11-11 19:04] ldecicco-USGS commented on #1686
Consider me signed off. 👍

[2019-11-11 19:16] nfrerebeau commented on #1821
As suggested by @izaromanowska, I have modified the README so that khroma is installed and loaded.

[2019-11-11 19:31] zingale commented on #1884
https://github.com/dmentipl/plonk/issues/2

[2019-11-11 19:36] gmweaver commented on #1761
@whedon generate pdf

[2019-11-11 19:36] whedon commented on #1761
[code]

[2019-11-11 19:36] whedon commented on #1761
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01761/joss.01761/10.21105.joss.01761.pdf)

[2019-11-11 20:08] gmweaver commented on #1761
@mgymrek thanks for catching that typo! Fixed and generated the PDF again. I have also released a tagged version and archived to Zenodo.

The version is v0.1.1 and the Zenodo DOI is 10.5281/zenodo.3538245

[2019-11-11 20:25] gmweaver commented on #1761
@mgymrek small update to ensure DESCRIPTION file version matches tagged release version.

New version is v0.1.2 and Zenodo DOI is 10.5281/zenodo.3538278

[2019-11-11 20:45] sjvrijn commented on #1839
@gdetor a few questions/remarks:

- `install.sh` seems to be missing (see https://gitlab.com/gdetor/genetic_alg/issues/2)

- I've tried to install the dependencies and run `make`, but even after installing `libconfig++9v5` (as indicated in the dependency list) and `libconfig-dev`, I still get the following error message on Ubuntu 18.04.3 LTS:

[code]

- In the paper, you mention the potential use-

[2019-11-11 21:10] rafmudaf commented on #1878
Hello @labarba - I'm happy to provide a review! The next few days are pretty packed, but I should be able to get started soon. Whats your time frame for me to complete it?

[2019-11-11 21:19] jsta commented on #1869
This looks a great paper but unfortunately my reviewing queue is full right now. Best of luck!

[2019-11-11 21:48] labarba commented on #1878
Terrific, @rafmudaf, thank you! We generally request reviewers to plan for a two-week (ideal) turn-around, but it's of course a soft deadline, and we appreciate that our volunteers have busy lives and do their best.

I'm going to assign you know and start the review (which will open a new GitHub issue).

[2019-11-11 21:49] labarba commented on #1878
@whedon add @rafmudaf as reviewer

[2019-11-11 21:49] whedon commented on #1878
OK, @rafmudaf is now a reviewer

[2019-11-11 21:49] labarba commented on #1878
@whedon start review

[2019-11-11 21:49] whedon opened #1885 "[REVIEW]: SHARPy: A dynamic aeroelastic simulation toolbox for very flexible aircraft and wind turbines"
**Submitting author:** @fonsocarre (<a href="http://orcid.org/0000-0002-8133-9481">Alfonso del Carre</a>)
**Repository:** <a href="https://github.com/ImperialCollegeLondon/sharpy" target ="_blank">https://github.com/ImperialCollegeLondon/sharpy</a>
**Version:** v1.1.0-2
**Editor:** @labarba
**Reviewer:** @petebachant, @rafmudaf
**Archive:** <a href="https://doi.org/10.5281/zenodo.3572512" target="

[2019-11-11 21:49] whedon commented on #1878
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1885. Feel free to close this issue now!

[2019-11-11 21:49] whedon commented on #1885
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @petebachant, @rafmudaf it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-11-11 21:49] whedon commented on #1885
[code]

[2019-11-11 21:49] #1878 closed

[2019-11-11 21:50] whedon commented on #1885
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01885/joss.01885/10.21105.joss.01885.pdf)

[2019-11-11 21:51] labarba commented on #1885
👋  @petebachant, @rafmudaf — Thank you for agreeing to review for JOSS! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed (mentioning this issue, for a cross-link). Godspeed!

[2019-11-11 22:18] pssachdeva commented on #1799
Hi @yzhao062,

Thanks for your comments.

We used the _Lawrence Berkeley National Labs BSD variant license_, whose short identifier is "BSD-3-Clause-LBNL". The license is the same as BSD-3-Clause, but with an additional default contribution licensing clause. See [here](https://spdx.org/licenses/BSD-3-Clause-LBNL.html) for more details.

This might be happening because we didn't have a `plt.show()`

[2019-11-11 22:22] Shibabrat commented on #1684
We have now started two PRs (https://github.com/WyLyu/UPOsHam/pull/34, https://github.com/WyLyu/UPOsHam/pull/35) that will resolve most of the issues currently pending. @JoshKarpel and @dpsanders can you please let us know if it makes sense what we have addressed? We can then go ahead and merge them or make appropriate changes.

[2019-11-11 23:03] jmichel80 commented on #1831
@whedon generate pdf from branch feature-paper

[2019-11-11 23:03] whedon commented on #1831
[code]

[2019-11-11 23:04] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-11-11 23:29] mwcraig commented on #1832
Left some minor comments

+ On references at https://github.com/sunpy/sunpy/pull/3391#pullrequestreview-315211867
+ On "State of the field" at https://github.com/sunpy/sunpy/pull/3391#issuecomment-552664103

otherwise, this is good to go.

[2019-11-11 23:40] lpantano commented on #1774
thanks for the reply @KayleighRutherford , I see some of the items not checked under your name checklist, can you double check it is complete, maybe it didn't sync when you did it. Thanks!

[2019-11-11 23:59] lwasser commented on #1869
@whedon generate pdf

[2019-11-11 23:59] whedon commented on #1869
[code]

[2019-11-12 00:00] whedon commented on #1869
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01869/joss.01869/10.21105.joss.01869.pdf)

[2019-11-12 00:06] lwasser commented on #1869
@whedon generate pdf
pretty please!

[2019-11-12 00:06] whedon commented on #1869
[code]

[2019-11-12 00:06] whedon commented on #1869
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01869/joss.01869/10.21105.joss.01869.pdf)

[2019-11-12 00:07] lwasser commented on #1869
hi @arfon !
I added matplotlib and pysal to the citations! I can't seem to find citation info for [georasters](https://github.com/ozak/georasters). This package was just included as an example of other packages that allow for the use of raster data. How would you like for me to proceed with citing that package?

The pdf seemed to generate well that citation aside.

Also it looks like Joe is overta

[2019-11-12 00:48] will-rowe commented on #1831
Thank you for your prompt reviews @amritagos and @richardjgowers!

[2019-11-12 01:03] HaoZeke commented on #1869
As mentioned by @lwasser, I would like to confirm that I would be happy to take this on when required, which might be relevant as I also reviewed it for the [initial pyopensci review](https://github.com/pyOpenSci/software-review/issues/3). @arfon

[2019-11-12 01:22] arfon commented on #1869
@lwasser - just to clarify, we won't do a second review here. As the pyOpenSci review is compatible with the JOSS review we simply fast-track the paper through here.

[2019-11-12 01:22] arfon commented on #1869
@whedon generate pdf

[2019-11-12 01:22] whedon commented on #1869
[code]

[2019-11-12 01:22] whedon commented on #1869
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01869/joss.01869/10.21105.joss.01869.pdf)

[2019-11-12 01:23] arfon commented on #1869
@whedon assign @arfon as reviewer

[2019-11-12 01:24] whedon commented on #1869
OK, the reviewer is @arfon

[2019-11-12 01:24] arfon commented on #1869
@whedon start review

[2019-11-12 01:24] #1869 closed

[2019-11-12 01:24] whedon opened #1886 "[REVIEW]: EarthPy: A Python package that makes it easier to explore and plot raster and vector data using open source Python tools"
**Submitting author:** @lwasser (<a href="http://orcid.org/0000-0002-8177-6550">Leah Wasser</a>)
**Repository:** <a href="https://github.com/earthlab/earthpy" target ="_blank">https://github.com/earthlab/earthpy</a>
**Version:** 0.7.6
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3540957" target="_blank">10.5281/zenodo.3540957</a>

## Status

[![statu

[2019-11-12 01:24] whedon commented on #1869
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1886. Feel free to close this issue now!

[2019-11-12 01:24] whedon commented on #1886
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watch

[2019-11-12 01:24] whedon commented on #1886
[code]

[2019-11-12 01:24] whedon commented on #1886
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01886/joss.01886/10.21105.joss.01886.pdf)

[2019-11-12 01:25] arfon commented on #1886
Accepting as this submission was reviewed in https://github.com/pyOpenSci/software-review/issues/3

[2019-11-12 01:25] arfon commented on #1886
@lwasser - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the autho

[2019-11-12 02:26] gdetor commented on #1839
@sjvrijn Thank you for your comments/suggestions. We are going to add an installation file and address your comments. (bullets 3 and 4). For the time being the fix to your issue regarding libconfig is:
sudo apt install libconfig++9v5 libconfig++-dev

Let me know if you have any other issues regarding the installation of GAIM. The installation script will take care of all this in the future.

Best,

[2019-11-12 03:43] mgckind commented on #1852
@dfm , Thanks for the consideration, unfortunately, I'm a little tight in time between travels and I haven't even started a [pending JOSS review](https://github.com/openjournals/joss-reviews/issues/1881) so I'm going to pass on this one. Cheers

[2019-11-12 05:19] poulson commented on #1371
Thank you, @jordigh!!!

@alex-konovalov :wave: -- would you mind clarifying what your remaining functionality concerns are? We are nearing the end of the review process.

[2019-11-12 05:22] poulson commented on #1655
Thank you, @stsievert -- it looks like the rest of the review depends upon you!

@torressa -- am I understanding that you are expecting to need one more weekend to respond to @stsievert's issues?

[2019-11-12 09:36] jgonggrijp commented on #1800
@arfon In my case, that was to be expected. As I mentioned [in the pre-review](https://github.com/openjournals/joss-reviews/issues/1758#issuecomment-536972108), I wouldn't be able to start before yesterday in any case.

I'll try to do the review within the next two weeks.

[2019-11-12 10:17] alessandroBombelli commented on #1845
Dear @mado89, @danielskatz, @ctsilva just a quick update. I should be done with my fixes in a couple of days tops. I learnt from this issue, and will generate a .csv of python pickle file that can be processed independently from the initial web-scraping routing, should the html structure of the webpage change anytime soon. Sorry again for the inconvenience

[2019-11-12 10:22] mattpitkin commented on #1864
Sorry for my delay. I'll be able to complete my review by the end of the week.

[2019-11-12 10:44] whedon commented on #1751
:wave: @junbinzhao, please update us on how things are progressing here.

[2019-11-12 12:24] snowformatics commented on #1411
Hi,

thank you very much for extensively testing, reporting bugs and improvements.
I created an new binary of Version 1.4 :
https://sourceforge.net/projects/blasterqt/files/BlasterQtv1.4.exe/download

Best regards
Stefanie

[2019-11-12 12:29] arfon commented on #1800
Apologies @jgonggrijp - I failed to read back up the issue to see this.

Perfect, thanks!

[2019-11-12 12:29] lohedges commented on #1831
@whedon generate pdf from branch feature-paper

[2019-11-12 12:29] whedon commented on #1831
[code]

[2019-11-12 12:29] whedon commented on #1831
PDF failed to compile for issue #1831 with the following error:

 Error reading bibliography ./paper.bib (line 75, column 3):
unexpected "p"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-11-12 12:32] lohedges commented on #1831
@whedon generate pdf from branch feature-paper

[2019-11-12 12:32] whedon commented on #1831
[code]

[2019-11-12 12:33] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-11-12 12:42] lohedges commented on #1831
Thanks, @richardjgowers and @amritagos for your helpful comments. I've now addressed all of the issues and an updated PDF is available above. Conveniently, the changes have much improved the layout of the paper: code snippets are no longer split across multiple pages and figures flow nicely with the text.

I've cross-referenced commits with the issues raised and leave it up to the reviewers to clo

[2019-11-12 12:44] jmichel80 commented on #1831
Excellent work @lohedges ! I will give it a read through later today and make minor edits.

--------------------------------------------------------------
Dr. Julien Michel,
Senior Lecturer
Room 263, School of Chemistry
University of Edinburgh
David Brewster road
Edinburgh, EH9 3FJ
United Kingdom
phone:   +44 (0)131 650 4797
http://www.julienmichel.net/
--------------------------------------------

[2019-11-12 13:38] dfm commented on #1852
@mgckind: No worries. Thanks for the response!

@gioacchinowang: I see that there is [an ArXiv posting](https://arxiv.org/abs/1907.00207) describing this software that has been submitted to the AAS journals. Is this JOSS submission meant to be considered in parallel via [the JOSS/AAS collaboration](https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing)?

[2019-11-12 14:06] Cadair commented on #1832
@whedon generate pdf from branch joss_paper

[2019-11-12 14:06] whedon commented on #1832
[code]

[2019-11-12 14:06] whedon commented on #1832
PDF failed to compile for issue #1832 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedon.rb:190:in `block in parse_authors': Author (Florian Mayer) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedon.rb:188:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a7

[2019-11-12 14:09] Cadair commented on #1832
:eyes: Do all the authors really require an affiliation? At least one has explicitly stated they don't have one they want to put on there. Also a lot of people contribute to OSS projects while explicitly not wearing their employers hat, so it might feel in appropriate to put affiliations down. @arfon Has this come up before?

[2019-11-12 14:14] Cadair commented on #1832
@whedon generate pdf from branch joss_paper

[2019-11-12 14:14] whedon commented on #1832
[code]

[2019-11-12 14:15] whedon commented on #1832
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01832/joss.01832/10.21105.joss.01832.pdf)

[2019-11-12 14:18] Cadair commented on #1832
Well I made it compile by doing that particular hack. My author list is being generated by a yaml translation script now, so it's easy enough to edit :grin:

[2019-11-12 14:33] Cadair commented on #1832
@whedon generate pdf from branch joss_paper

[2019-11-12 14:33] whedon commented on #1832
[code]

[2019-11-12 14:34] whedon commented on #1832
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01832/joss.01832/10.21105.joss.01832.pdf)

[2019-11-12 15:36] gioacchinowang commented on #1852
@dfm
Yes, it is.
And we have received the first round reviewing report from ApJS, in which the editor suggested us to get the package reviewed by JOSS first before sending back the revised draft.

[2019-11-12 15:43] dfm commented on #1852
@gioacchinowang: ok - thanks!

@zonca: Please let me know if you're still willing to review this submission as a joint submission to AAS. Thanks!

[2019-11-12 15:44] zonca commented on #1852
Yes sure, thanks!

[2019-11-12 16:17] mgymrek commented on #1761
@whedon set v0.1.2 as version

[2019-11-12 16:17] whedon commented on #1761
OK. v0.1.2 is the version.

[2019-11-12 16:18] mgymrek commented on #1761
@whedon set 10.5281/zenodo.3538278 as archive

[2019-11-12 16:18] whedon commented on #1761
OK. <a href="https://doi.org/10.5281/zenodo.3538278" target="_blank">10.5281/zenodo.3538278</a> is the archive.

[2019-11-12 16:19] mgymrek commented on #1761
Thanks @gmweaver for the changes

@openjournals/joss-eics we are ready to accept this article!

[2019-11-12 16:49] lwasser commented on #1869
i see @arfon thank you for the clarification!! please let me know what you need from me!!

[2019-11-12 16:54] arfon commented on #1832
You can also have an affiliation of 'None' for some of the people (where `None` is listed as one of the affiliations)

[2019-11-12 16:55] arfon commented on #1869
Please see my comment over in https://github.com/openjournals/joss-reviews/issues/1886#issuecomment-552691390 .

[2019-11-12 17:01] Cadair commented on #1832
@whedon generate pdf from branch joss_paper

[2019-11-12 17:01] whedon commented on #1832
[code]

[2019-11-12 17:01] Cadair commented on #1832
Done :smile:

[2019-11-12 17:02] whedon commented on #1832
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01832/joss.01832/10.21105.joss.01832.pdf)

[2019-11-12 17:08] lwasser commented on #1886
ok @arfon I'm working on this now!! waiting for CI to pass and then a few more author edits to align with our zenodo release!!

[2019-11-12 17:50] drvinceknight commented on #1807
@martinfleis are there other alternative references with DOIs that you could include (not necessarily instead of but perhaps with)?

[2019-11-12 17:52] drvinceknight commented on #1859
Thanks @feiyu-chen96, I think this looks more like a JOSS paper now. I will start looking to assign reviewers. On that note do you have any you might suggest?

[2019-11-12 17:54] drvinceknight commented on #1811
@dlfivefifty could you confirm you're now happy with the paper?

@dpsanders I've taken the liberty to tick the two remaining boxes on your check list ("Community guidelines", "State of the field" and "Reference").

[2019-11-12 18:01] martinfleis commented on #1807
@whedon generate pdf

[2019-11-12 18:01] whedon commented on #1807
[code]

[2019-11-12 18:02] whedon commented on #1807
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01807/joss.01807/10.21105.joss.01807.pdf)

[2019-11-12 18:03] martinfleis commented on #1807
@drvinceknight I am not aware of any. I looked for them when I wrote the paper, this is the best I was able to find. I have changed SciPy reference based on https://www.scipy.org/citing.html but that is probably all I can do.

[2019-11-12 18:19] feiyu-chen96 commented on #1859
@drvinceknight I looked through the list and no one particular stood out. I suppose anyone who works with Python and differential equations would be suitable. Thanks!

[2019-11-12 18:47] potterzot commented on #1880
@kyleniemeyer ah I see the problem. I have contributors and reviewers from the rOpenSci review process listed in DESCRIPTION, which was being converted to the zenodo metadata. I've added a '.zenodo.json' file to explicitly define authorship. Contributors and reviewers are thanked in the acknowledgement section of the paper.

Should I create a new zenodo DOI at this point as well?

[2019-11-12 18:51] dlfivefifty commented on #1811
Two comments:

1. The citation for IntervalSets.jl gives Huybrechs and myself (Olver) too much credit: we’ve made contributions but it was created by @mronian, with many contributions by @timholy
2. The use of “.jl” in package names should be consistent between “ComplexRegions” and “IntervalSets.jl and DomainSets.jl”.

[2019-11-12 19:38] meg-simula commented on #1848
Thanks for the due diligence @SirSharpest! In this case, the difference between the aforementioned published papers and the current submission, in terms of target audience, scope and new development seems substantial and warrants review. But please do feel free to add a pointer in your review if you would like this point to be addressed more clearly in the manuscript.

[2019-11-12 19:41] meg-simula commented on #1848
Thanks for the reviewing @finsberg! There is one checkbox (state of the art) unchecked in your list - is that on purpose?

[2019-11-12 19:52] finsberg commented on #1848
There is a reason for this. The question in the checkbox says " Do the authors describe how this software compares to other commonly-used packages?" and I cannot see that they have any comparison with other commonly-used packages. Thats said, I think adding a section with benchmarks would be a good solution to address this question. However, in my opinion I think Chaste qualifies for publication a

[2019-11-12 20:15] meg-simula commented on #1848
Ok, thanks for the clarification. I would then advise @fcooper8472 to add a discussion on comparison with other packages (in addition to the optional benchmark comparison).

[2019-11-12 21:39] melissawm commented on #1865
Thank you all for your patience while I was checking this. As far as the change in licensing, a note in the documentation would be ok.

However, as far as the NOTICE mentioned above by @wholmgren , the best solution would be to remove it from the licence file (mantaining it a pure BSD 3 license) and adding this note somewhere in the project (for example, in the README).

@shirubana do you think th

[2019-11-12 21:40] karthik commented on #1816
@vchuravy Quick ping to check in. Can you give us a sense for when you might complete this review? :pray:

[2019-11-12 21:44] shirubana commented on #1865
@cdeline would this option of using the README instead of the License file to have the sponsoring/DOE acknowledgment work to satisfy NREL's legal stuff?

[2019-11-12 22:56] kyleniemeyer commented on #1880
@potterzot 👍

If nothing in the software changed, you can just modify the authors and title for the existing version (in Zenodo you can alter the metadata for something published, though you can't modify the files). If anything in the repo changed, other than that `.zenodo.json` file, then you should create a new version and let me know the DOI.

[2019-11-12 23:05] dfm commented on #1852
:wave: @Pqrs6: Any chance you're available to review this submission? It is a joint submission to [JOSS and AAS Journals](https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing), but this review will only focus on the software component.

[2019-11-12 23:07] dfm commented on #1852
@whedon generate pdf

[2019-11-12 23:07] whedon commented on #1852
[code]

[2019-11-12 23:07] whedon commented on #1852
PDF failed to compile for issue #1852 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1852/joss/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-11-12 23:10] dfm commented on #1852
@gioacchinowang: It looks like there are some syntax errors in your paper header (the indentation is important!). Can you take a stab at fixing that? You can use [this site](https://whedon.theoj.org/) to test the compiler.

[2019-11-12 23:27] potterzot commented on #1880
@kyleniemeyer thank you, I didn't realize that was possible. I modified the zenodo entry. Nothing else has changed so I did not create a new DOI.

[2019-11-13 00:26] whedon opened #1887 "[PRE REVIEW]: pybeach: A Python package for extracting the location of dune toes on beach profile transects"
**Submitting author:** @TomasBeuzen (<a href="http://orcid.org/0000-0003-2762-9151">Tomas Beuzen</a>)
**Repository:** <a href="https://github.com/TomasBeuzen/pybeach" target ="_blank">https://github.com/TomasBeuzen/pybeach</a>
**Version:** v0.1.1
**Editor:** @kbarnhart
**Reviewers:** @csherwood-usgs, @edlazarus, @ncohn

**Author instructions**

Thanks for submitting your paper to JOSS @TomasBeuzen

[2019-11-13 00:26] whedon commented on #1887
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-13 00:26] whedon commented on #1887
[code]

[2019-11-13 00:27] whedon commented on #1887
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01887/joss.01887/10.21105.joss.01887.pdf)

[2019-11-13 00:33] labarba commented on #1887
👋  @kbarnhart — Could you take this submission as handling editor?
*pybeach: A Python package for extracting the location of dune toes on beach profile transects*
https://github.com/TomasBeuzen/pybeach

[2019-11-13 00:35] whedon opened #1888 "[PRE REVIEW]: Hypothesis: A new approach to property-based testing"
**Submitting author:** @DRMacIver (<a href="http://orcid.org/0000-0002-8635-3223">David MacIver</a>)
**Repository:** <a href="https://github.com/HypothesisWorks/hypothesis/" target ="_blank">https://github.com/HypothesisWorks/hypothesis/</a>
**Version:** 4.44.2
**Editor:** @danielskatz
**Reviewers:** @luizirber, @djmitche

**Author instructions**

Thanks for submitting your paper to JOSS @DRMacIve

[2019-11-13 00:35] whedon commented on #1888
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-13 00:35] whedon commented on #1888
[code]

[2019-11-13 00:36] whedon commented on #1888
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01888/joss.01888/10.21105.joss.01888.pdf)

[2019-11-13 00:41] labarba commented on #1883
@drwaseemsheikh — Thank you for your clarifications. You have made the case for the software's use in clinical settings. Can you describe its use in *research* situations?

[2019-11-13 00:45] labarba commented on #1888
👋 @danielskatz — This submission falls in the general area of software engineering, and I think you could handle it as editor?
*Hypothesis: A new approach to property-based testing*
https://github.com/HypothesisWorks/hypothesis/

[2019-11-13 00:50] kbarnhart commented on #1887
@labarba I can be the handling editor.

[2019-11-13 00:50] kbarnhart commented on #1887
@whedon assign @kbarnhart as editor

[2019-11-13 00:50] whedon commented on #1887
OK, the editor is @kbarnhart

[2019-11-13 00:57] kbarnhart commented on #1887
@TomasBeuzen if you have recommendations for reviewers please tag them on this thread.

@csherwood-usgs, @dbuscombe-usgs would you be interested in reviewing this paper for the Journal of Open Source Software? The review process is a bit different than other academic journals. The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub and

[2019-11-13 01:06] TomasBeuzen commented on #1887
Other potential reviewers: @ebgoldstein, @simmonsja, @ncohn, @edlazarus

[2019-11-13 02:01] arfon commented on #1852
/ cc @crawfordsm

[2019-11-13 02:04] arfon commented on #1852
@dfm - Once we have both of the reviewers identified for this submission please make them aware of the collaboration with AAS publishing, and that as part of this collaboration, AAS publishing makes a small donation to the running costs of JOSS.

Some related links:

- Blog post describing the collaboration: https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing
- Summary of J

[2019-11-13 03:12] pqrs6 commented on #1852
@dfm

Yes, I can review this, can do it in the next couple of days.

On Tue, Nov 12, 2019 at 9:05 PM Arfon Smith <notifications@github.com>
wrote:

[2019-11-13 03:18] majensen commented on #1796
@briatte, @amoeba -- based on @cimentadaj comments at [issue 2](https://github.com/cimentadaj/perccalc/issues/2), are you guys prepared to check off the remaining boxes?
Assuming so, @cimentadaj, would you like to merge your review branch into master?

[2019-11-13 03:24] majensen commented on #1837
@daissi, @stulacy  - how are the checks coming? Can I ask you to check off or create issues for @dphansti for these over the next week? Let me know a timeline that works for you.

[2019-11-13 04:08] mwcraig commented on #1832
@arfon -- I made a comment on the [sunpy JOSS paper](https://github.com/sunpy/sunpy/pull/3391#issuecomment-552664103) that they hadn't addressed the state of the field in the JOSS paper.  @mbobra mentioned that it is addressed in the accompanying ApJ paper:

I've read that section of the ApJ paper and it is very good and probably too long for the JOSS paper. Does it need to be addressed in the JOS

[2019-11-13 05:36] luizirber commented on #1888
I was going to volunteer as a reviewer, but I skimmed the paper and it cites hypothesis-bio as an example (and I'm involved in the development). Is it a conflict of interest?
 https://github.com/HypothesisWorks/hypothesis/blob/master/paper.md

[2019-11-13 05:58] MLHale commented on #1620
@whedon check references

[2019-11-13 05:58] whedon commented on #1620
[code]

[2019-11-13 05:59] whedon commented on #1620
[code]

[2019-11-13 06:00] MLHale commented on #1620
Hi @cMadan - Thanks for catching that! Sorry for the delay. I was away from my office for the past week or so. I made the corrections requested in the commit referenced above.

[2019-11-13 07:57] cimentadaj commented on #1796
@majensen, we're almost there. Still elucidating whether we keep/remove the example section. I think we'll have this figured out by the end of the week.

[2019-11-13 08:13] benjaminbolling commented on #1858
Dear all,

first of all - I am sorry for taking an awful lot of time to respond but I have began working at a new position and was full with work to do.

I have now cited references in the .md file and slightly edited the text to do so.

The ones I would expect to cite this package or submission would be people working in control rooms at particle accelerators (perhaps other research or industrial

[2019-11-13 08:47] torressa commented on #1655
@poulson That's right!
I made some changes in the paper but docs and actual functioning example need to be updated.

[2019-11-13 09:09] daissi commented on #1837
@whedon generate pdf

[2019-11-13 09:09] whedon commented on #1837
[code]

[2019-11-13 09:09] whedon commented on #1837
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01837/joss.01837/10.21105.joss.01837.pdf)

[2019-11-13 09:33] daissi commented on #1837
Everything is fine from my side! :thumbsup:

[2019-11-13 09:50] stulacy commented on #1837
The only thing left I need to do is try and run the package locally which I
will try and complete tonight.

The only thing I'm unsure about is how to assess the "Automated Tests"
point, since this is a web-app rather than a package interfaced with via an
API. Is this criteria not valid for web-apps or should they still have some
sort of testing procedure?

On Wed, 13 Nov 2019 at 09:33, Dylan Aïssi

[2019-11-13 10:48] eskofier commented on #1663
Dear all,

I tried the demo, but got stuck - I am copying in the output of the Notebook below, and also provide a screenshot what happens when I "Simply copy the url above, and replace /example.ipynb with /demo to load the demo folder.“. How should we proceed?

—————> Notebook output:

Example sleeppy usage: running the demo
This short tutorial serves to confirm that sleeppy installs and runs corr

[2019-11-13 11:53] arfon commented on #1832
I think this is OK, we just need to make sure it's cited properly in the body of the text.

[2019-11-13 12:07] danielskatz commented on #1888
@whedon assign @danielskatz as editor

[2019-11-13 12:07] whedon commented on #1888
OK, the editor is @danielskatz

[2019-11-13 12:09] danielskatz commented on #1888
@luizirber - no, you are a stakeholder in some sense, which is good - I'll add you as a reviewer and try to find a second next.

[2019-11-13 12:09] danielskatz commented on #1888
@whedon assign @luizirber as reviewer

[2019-11-13 12:09] whedon commented on #1888
OK, the reviewer is @luizirber

[2019-11-13 12:10] danielskatz commented on #1888
👋 @DRMacIver - Can you suggest some additional reviewers? From [this list](https://bit.ly/joss-reviewers) perhaps?

[2019-11-13 14:27] csherwood-usgs commented on #1887
I'd be happy to review the python package. The other reviewers tagged are
also very good recommendations.
-Chris

On Tue, Nov 12, 2019 at 8:06 PM Tomas Beuzen <notifications@github.com>
wrote:

--
*Christopher R. Sherwood*  csherwood@usgs.gov
U.S. Geological Survey  384 Woods Hole Road  Woods Hole  MA 02543
774 269 9399 (cell)  508 457 2269 (office)  508 457 2310 (fax)

[2019-11-13 14:31] dfm commented on #1852
Awesome - thanks @pqrs6!

[2019-11-13 14:31] dfm commented on #1852
@whedon add @pqrs6 as reviewer

[2019-11-13 14:31] whedon commented on #1852
OK, @pqrs6 is now a reviewer

[2019-11-13 14:32] benjaminbolling commented on #1858
@whedon generate pdf

[2019-11-13 14:32] whedon commented on #1858
[code]

[2019-11-13 14:32] dfm commented on #1852
@whedon start review

[2019-11-13 14:32] whedon opened #1889 "[REVIEW]: hammurabi X: a C++ package for simulating Galactic emissions"
**Submitting author:** @gioacchinowang (<a href="http://orcid.org/0000-0002-7384-7152">Jiaxin Wang</a>)
**Repository:** <a href="https://bitbucket.org/hammurabicode/hamx" target ="_blank">https://bitbucket.org/hammurabicode/hamx</a>
**Version:** v2.3.1.1
**Editor:** @dfm
**Reviewer:** @zonca, @pqrs6
**Archive:** <a href="https://doi.org/10.5281/zenodo.3687352" target="_blank">10.5281/zenodo.368735

[2019-11-13 14:32] whedon commented on #1852
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1889. Feel free to close this issue now!

[2019-11-13 14:32] whedon commented on #1889
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zonca, @pqrs6 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2019-11-13 14:32] whedon commented on #1889
[code]

[2019-11-13 14:32] whedon commented on #1889
PDF failed to compile for issue #1889 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1889/joss/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-11-13 14:32] whedon commented on #1858
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01858/joss.01858/10.21105.joss.01858.pdf)

[2019-11-13 14:33] dfm commented on #1852
@zonca, @pqrs6, and @gioacchinowang: The main review page will now be at #1889. Please head over there when you're ready to get started. Thanks all!

[2019-11-13 14:33] #1852 closed

[2019-11-13 14:34] dfm commented on #1889
Just a quick reminder that this has been submitted in collaboration with AAS. AAS makes a small donation to JOSS to support this process. For more information check out the following links and let me know if you have any issue with this:

- Blog post describing the collaboration: https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing
- Summary of JOSS financial model: https://

[2019-11-13 14:42] dfm commented on #1889
@gioacchinowang: I've opened a pull request on your repo that fixes the formatting of the paper so that it compiles.

[2019-11-13 15:00] elyiorgos commented on #1663
Hi Bjoern,

Thanks for giving it a shot! The demo failed because the directory you provided wasn't the current working directory. Since the binder environment is one hosted online, if you provide a local directory  it fails and prompts you to use a directory with the proper format and location (usually `/home/jovyan/example_notebook`). That's the reason the current working directory is printed in

[2019-11-13 15:22] lohedges commented on #1831
@whedon generate pdf from branch feature-paper

[2019-11-13 15:22] whedon commented on #1831
[code]

[2019-11-13 15:22] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-11-13 15:48] jjmortensen commented on #1844
Thanks for all your comments so far.  There is now a version 19.11.1 available on PyPI with some new features and bug-fixes.  There is also an updated version of the paper.  See:

https://myqueue.readthedocs.io/en/latest/releasenotes.html
https://gitlab.com/myqueue/myqueue/merge_requests/40

[2019-11-13 15:49] danielskatz commented on #1844
When you update the paper, please rebuild it here, as I am now going to do

[2019-11-13 15:50] danielskatz commented on #1844
@whedon generate pdf

[2019-11-13 15:50] whedon commented on #1844
[code]

[2019-11-13 15:50] whedon commented on #1844
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01844/joss.01844/10.21105.joss.01844.pdf)

[2019-11-13 16:11] gioacchinowang commented on #1889
@whedon generate pdf

[2019-11-13 16:11] whedon commented on #1889
[code]

[2019-11-13 16:12] whedon commented on #1889
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01889/joss.01889/10.21105.joss.01889.pdf)

[2019-11-13 16:17] hvgazula commented on #1847
@arokem I found only two reviewers: @cMadan and yourself. I assumed that @cMadan may not have wanted to review it given that he asked me to suggest potential reviewers which is when I picked you. If not for the two of you, the next best one I could think of is @majensen.

[2019-11-13 16:20] gioacchinowang commented on #1889
I've done a slight modification about the JOSS author, so @whedon generate pdf

[2019-11-13 16:21] gioacchinowang commented on #1889
Thanks a lot! and I (and all the co-authors) agree with the publishing terms.

[2019-11-13 17:23] kbarnhart commented on #1887
@csherwood-usgs thanks for being willing to review. I'm going to try and get 3 total reviewers, and then I'll open the dedicated review issue.

@TomasBeuzen thanks for the recommendations.

 @ebgoldstein, @simmonsja, @ncohn, @edlazarus would you be interested in reviewing this paper for the Journal of Open Source Software? The review process is a bit different than other academic journals. The str

[2019-11-13 17:24] kbarnhart commented on #1887
@whedon assign @csherwood-usgs as reviewer

[2019-11-13 17:24] whedon commented on #1887
OK, the reviewer is @csherwood-usgs

[2019-11-13 17:33] alex-konovalov commented on #1371
@poulson the authors so far addressed (thanks) all my suggestion from https://github.com/artivis/manif/issues/90 except the one about the proper release with a version number allocated - they wrote there that it will be released soon.

[2019-11-13 17:44] cdeline commented on #1865
Hi everybody!  I'm investigating these two points with the legal team here at NREL, but for everyone's information, a LICENSE file wasn't added until v0.2.3 on 11/14/2018, and it was initiated as a BSD-3 license, and has remained the same since then.  So, I believe the DOI entry is incorrect and should probably be updated - there are a couple of other inaccuracies there including that we were supp

[2019-11-13 17:58] pgrete commented on #1757
Yes, that' what I meant.

Apart from this and the pending verification of the GPU capabilities this looks good to me.

[2019-11-13 18:03] lwasser commented on #1886
Hi @arfon
1. here is the earthpy release that aligns with the JOSS review: https://github.com/earthlab/earthpy/releases/tag/JOSS
2. here is the associated ZENODO release that contains the paper title in it https://zenodo.org/record/3540957
3. i've add an author that is on zenodo that was missing from our paper to the paper in our github rep here: https://github.com/earthlab/earthpy/blob/master/pap

[2019-11-13 18:05] arfon commented on #1886
@whedon set 10.5281/zenodo.3540957 as archive

[2019-11-13 18:05] whedon commented on #1886
OK. <a href="https://doi.org/10.5281/zenodo.3540957" target="_blank">10.5281/zenodo.3540957</a> is the archive.

[2019-11-13 18:06] arfon commented on #1886
@whedon accept

[2019-11-13 18:06] whedon commented on #1886
[code]

[2019-11-13 18:06] whedon commented on #1886
[code]

[2019-11-13 18:07] whedon commented on #1886
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1097

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1097, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-13 18:11] arfon commented on #1886
@whedon accept deposit=true

[2019-11-13 18:11] whedon commented on #1886
[code]

[2019-11-13 18:12] whedon commented on #1886
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1194679403571294208) 👈 🐦🐦🐦

[2019-11-13 18:12] whedon commented on #1886
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1098
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01886](https://doi.org/10.21105/joss.01886)
2. If everything looks g

[2019-11-13 18:12] DRMacIver commented on #1888
Sure!

Based solely on the process of looking for "testing" in the topics and "Python" in the primary language and excluding @Zac-HD because he's one of the authors, the following seem to be the valid choices of reviewers from that spreadsheet: @ctb @djmitche @camillescott

I don't believe I know any of them personally, and based on looking at their github profiles it doesn't look like any of them

[2019-11-13 18:15] arfon commented on #1886
@lwasser - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-11-13 18:15] #1886 closed

[2019-11-13 18:15] whedon commented on #1886
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01886/status.svg)](https://doi.org/10.21105/joss.01886)

**We need your help!**

Journal of Open Source Softwa

[2019-11-13 18:16] ctb commented on #1888
someone else in my lab (@luizirber) I believe has experience. pinging him now.

[2019-11-13 18:21] ctb commented on #1888
Oh. He's already assigned.  Well, @camillescott and @luizirber and I are all in the same lab so ...maybe we should only pick one? :)

[2019-11-13 18:56] lwasser commented on #1886
thank you @arfon !! i've added the badge to our readme as well!!

[2019-11-13 19:15] danielskatz commented on #1888
👋 @djmitche - would you be willing to review this for JOSS?

[2019-11-13 20:01] melissawm commented on #1871
@sivaramambikasaran, would you be willing to review this software paper for JOSS? Thank you!

[2019-11-13 20:02] melissawm commented on #1871
@pitsianis would you be available to review this software paper for JOSS? Thank you

[2019-11-13 20:40] arfon commented on #1796
@whedon check references

[2019-11-13 20:40] whedon commented on #1796
[code]

[2019-11-13 20:40] whedon commented on #1796
[code]

[2019-11-13 20:42] melissawm commented on #1873
Hello, @kirui93! There are some details on the paper:
- For the reference Høyland, K., & Wallace, S. W. (2001), there is a typo on the name of the journal (Management Science). Also, the DOI for this paper seems to be mistyped: I believe the correct number is 10.1287/mnsc.47.2.295.9834. Can you check this, please?
- For the reference Kovacevic, R. M., & Pichler, A. (2015) you should include a volu

[2019-11-13 21:05] ncohn commented on #1887
@kbarnhart I am happy to review as well

[2019-11-13 21:07] edlazarus commented on #1887
Likewise – I'm happy to review.

Cheers,

Eli

On Wed, Nov 13, 2019 at 9:06 PM Nick Cohn <notifications@github.com> wrote:

[2019-11-13 21:08] kirui93 commented on #1873
Hello, @melissawm ,
Thank you so much for the corrections.
I think it was a typo for most of them but I have corrected them.

Many thanks.

[2019-11-13 21:28] kbarnhart commented on #1887
thanks @edlazarus and @ncohn for being willing to review. I'll add you here, and then start the review.

[2019-11-13 21:29] kbarnhart commented on #1887
@whedon add @edlazarus as reviewer

[2019-11-13 21:29] whedon commented on #1887
OK, @edlazarus is now a reviewer

[2019-11-13 21:29] kbarnhart commented on #1887
@whedon add @ncohn as reviewer

[2019-11-13 21:29] whedon commented on #1887
OK, @ncohn is now a reviewer

[2019-11-13 21:30] kbarnhart commented on #1887
@whedon start review

[2019-11-13 21:30] whedon opened #1890 "[REVIEW]: pybeach: A Python package for extracting the location of dune toes on beach profile transects"
**Submitting author:** @TomasBeuzen (<a href="http://orcid.org/0000-0003-2762-9151">Tomas Beuzen</a>)
**Repository:** <a href="https://github.com/TomasBeuzen/pybeach" target ="_blank">https://github.com/TomasBeuzen/pybeach</a>
**Version:** v0.1.1
**Editor:** @kbarnhart
**Reviewer:** @csherwood-usgs, @edlazarus, @ncohn
**Archive:** <a href="https://doi.org/10.5281/zenodo.3579501" target="_blank">10

[2019-11-13 21:30] whedon commented on #1887
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1890. Feel free to close this issue now!

[2019-11-13 21:30] whedon commented on #1890
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @csherwood-usgs, @edlazarus, @ncohn it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, yo

[2019-11-13 21:30] whedon commented on #1890
[code]

[2019-11-13 21:31] whedon commented on #1890
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01890/joss.01890/10.21105.joss.01890.pdf)

[2019-11-13 21:33] #1887 closed

[2019-11-13 21:36] drwaseemsheikh commented on #1883
Thank you for giving us a chance to explain some of the research applications of Audiometry.

Following are some of the research questions that can be investigated by the use of Audiometry. The coauthor, who is an otolaryngologist, is using the software in some of the following research studies:

1.	Audiometry can be used to compare the sensitivity (true-positive rate) and specificity (true-negati

[2019-11-13 21:38] eskofier commented on #1663
Dear All,

This worked, the results are partially unclear though - the pdf don’t work?
Could you provide an a bit more in-depth insight into what happens during the demo, what the input data is and what is outputtet.
Also, the python version issue remains. What is the opinion of the editor and the other reviewer on this?

Viele Grüße
Bjoern

[2019-11-13 21:43] kirui93 commented on #1873
@whedon generate pdf

[2019-11-13 21:43] whedon commented on #1873
[code]

[2019-11-13 21:43] whedon commented on #1873
PDF failed to compile for issue #1873 with the following error:

 Error reading bibliography ./paper.bib (line 104, column 1):
unexpected "%"
expecting space, letter, digit, white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-11-13 21:47] kirui93 commented on #1873
@whedon generate pdf

[2019-11-13 21:47] whedon commented on #1873
[code]

[2019-11-13 21:48] whedon commented on #1873
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01873/joss.01873/10.21105.joss.01873.pdf)

[2019-11-13 21:50] kirui93 commented on #1873
Hello @melissawm ,
I think all is good now regarding the issues you had stated above.
Thank you once again.

[2019-11-13 21:55] alessandroBombelli commented on #1845
Dear @mado89, @danielskatz, @ctsilva, I updated the code to reflect the changes in the original website I web-scrape. Tomorrow, I will update the github files so that they be downloaded and run. In the menawhile, I updated the readme.md file as well, and added the MIT license as requested. Thanks for the patience

[2019-11-13 22:11] danielskatz commented on #1845
Thanks - let us know when this is all done and I'll remove the paused label.

[2019-11-13 22:31] danasolav commented on #1875
I'm happy to review this submission, but I will be able to do it only at the end of the month (in about 2 weeks or so). Is that ok?

[2019-11-13 22:44] pitsianis commented on #1871
I will be happy to. But I won't be able to start looking at it untill the weekend after next. Would that be acceptable?

[2019-11-13 22:54] elyiorgos commented on #1663
Hi Bjoern,

Happy to hear it worked!

With respect to the pdf's I think I had mentioned somewhere in an earlier message in the thread that for some reason the pdf's aren't viewable in browser, to see them you have to download them locally unfortunately.

In terms of what happens during the demo/during any given run of the package I would refer you to the readme (or the paper itself) for a more det

[2019-11-13 23:08] dbuscombe-usgs commented on #1887
Sorry I was late to the game! I'd be willing in the future

[2019-11-13 23:32] simmonsja commented on #1887
Likewise a little late and I don't meet the COI criteria for Tom anyhow. Please feel free to consider me for JOSS reviews in the future!

[2019-11-13 23:47] Zac-HD commented on #1888
👋 everyone!  Super excited to go from JOSS admirer to JOSS author 😁

The issue tags seem a little weird - we do have all those languages in the repo, but Hypothesis is a pure-Python library.  For later stages, we've been archiving Hypothesis at [10.5281/zenodo.1412597](https://doi.org/10.5281/zenodo.1412597)

[2019-11-13 23:52] danielskatz commented on #1888
The archive isn't needed until later, and there may be changes that needed to be made and put in a new release/archive...

[2019-11-14 00:01] Zac-HD commented on #1888
No worries, [we automated the release process](https://hypothesis.works/articles/continuous-releases/) years ago, so that's as easy as  "approve and merge a PR".

[2019-11-14 00:33] kbarnhart commented on #1887
@dbuscombe-usgs and @simmonsja thanks for being willing to review in general. Consider adding yourself to the list of people willing to review for JOSS [here](https://joss.theoj.org/reviewer-signup.html).

[2019-11-14 00:59] dbuscombe-usgs commented on #1887
done!

[2019-11-14 02:16] gioacchinowang commented on #1889
@dfm dear editor, we are having a slightly different author list in this JOSS paper and the AAS paper. As I'm also asking the editorial office at the AAS, does a joint publication require the same author list on both papers?

[2019-11-14 02:28] djmitche commented on #1888
I would.  I'm a very casual user of hypothesis, so I'm excited to see it in JOSS.

[2019-11-14 02:29] sivaramambikasaran commented on #1871
@melissawm Sure would ❤ to. The only thing is I can only start next week since we now have the end sof the semester craze going on.

[2019-11-14 02:48] danielskatz commented on #1888
Thanks very much - I'll add you and we can start the review process

[2019-11-14 02:48] danielskatz commented on #1888
@whedon add @djmitche as reviewer

[2019-11-14 02:48] whedon commented on #1888
OK, @djmitche is now a reviewer

[2019-11-14 02:48] danielskatz commented on #1888
@whedon start review

[2019-11-14 02:48] whedon opened #1891 "[REVIEW]: Hypothesis: A new approach to property-based testing"
**Submitting author:** @DRMacIver (<a href="http://orcid.org/0000-0002-8635-3223">David MacIver</a>)
**Repository:** <a href="https://github.com/HypothesisWorks/hypothesis/" target ="_blank">https://github.com/HypothesisWorks/hypothesis/</a>
**Version:** 4.45.0
**Editor:** @danielskatz
**Reviewer:** @luizirber, @djmitche
**Archive:** <a href="https://doi.org/10.5281/zenodo.3548997" target="_blank"

[2019-11-14 02:48] whedon commented on #1888
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1891. Feel free to close this issue now!

[2019-11-14 02:48] whedon commented on #1891
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @luizirber, @djmitche it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-14 02:48] whedon commented on #1891
[code]

[2019-11-14 02:49] #1888 closed

[2019-11-14 02:49] whedon commented on #1891
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01891/joss.01891/10.21105.joss.01891.pdf)

[2019-11-14 02:50] danielskatz commented on #1891
👋 @luizirber and @djmitche - as I think you know, we'll carry out the review here - please carefully read the comments above, and get started when you can - check off items in your checklist, and open issues in the source repo, referring to this issue, when you see things that need to be changed by the authors.

And again, thanks very much for your quick and positive response to the review request

[2019-11-14 02:51] danielskatz commented on #1891
If you have any issues or concerns, please let me know here

[2019-11-14 04:56] mwcraig commented on #1832
@whedon generate pdf from branch joss_paper

[2019-11-14 04:56] whedon commented on #1832
[code]

[2019-11-14 04:57] whedon commented on #1832
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01832/joss.01832/10.21105.joss.01832.pdf)

[2019-11-14 05:02] mwcraig commented on #1832
Aside from a couple of cosmetic issues with the new references (commented on the paper PR) this is ready to go. The reference to the ApJ paper isn't complete yet, but I assume that will be worked out. Thanks for the quick responses to the review comments @Cadair and @mbobra!

[2019-11-14 06:20] MaciejDanko commented on #1508
![image](https://user-images.githubusercontent.com/20182356/68831560-f607bd80-06ae-11ea-9ad9-13913094dce6.png) @alexhanna - let's do it asap, next week I am out of office. :-)

[2019-11-14 06:39] arokem commented on #1872
👋 @ixjlyons : would you be willing to review this submission to JOSS?

[2019-11-14 09:47] Cadair commented on #1832
Thanks for the review @mwcraig :smile:

[2019-11-14 10:06] alessandroBombelli commented on #1845
Dear @mado89, @danielskatz, @ctsilva, I updated the Github repo. As mentioned in the Installation section, for now the easiest thing is to download the tests folder as provided, which already contains the pyHoops.py file. I will be soon working on uploading the file in PyPi, so a classic (and more standard) installation of the package is possible. I also updated the readme.md to better show why th

[2019-11-14 10:56] VivianePons commented on #1814
Update: I am still looking for a second reviewer,

[2019-11-14 10:58] VivianePons commented on #1835
Hi there,

Thank you @falque for your remarks, @kaashif did you have time to think about her questions?

[2019-11-14 12:03] alexd103 commented on #1875
Thanks for handling this for us @Kevin-Mattheus-Moerman!
Tom Saey from MOBILAB at Thomas More in Belgium might be interested and has domain-relevant experience - again if we can find him on here. https://www.linkedin.com/in/tom-saey-61167232/?originalSubdomain=be

[2019-11-14 12:13] JonasMoss commented on #1820
@KaiWenger

Your response to our programming comments is great! I left two comments on the Github page that are non-critical.

I really like your new summary paper too. The only issue I can see is that you should cite the `strucchange` package. Add that and I can check off the last box.

[2019-11-14 12:43] arfon commented on #1889
@gioacchinowang - we don’t have a policy against this so I think it’s ok for them to be different.

[2019-11-14 12:55] pgrete commented on #1757
GPU functionality has been confirmed. Once there's a decision on the software paper related item, I'm happy to approve @arfon

[2019-11-14 13:15] KaiWenger commented on #1820
@whedon generate pdf

[2019-11-14 13:16] whedon commented on #1820
[code]

[2019-11-14 13:16] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-14 13:21] KaiWenger commented on #1820
@whedon generate pdf

[2019-11-14 13:21] whedon commented on #1820
[code]

[2019-11-14 13:21] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-14 13:23] KaiWenger commented on #1820
@whedon generate pdf

[2019-11-14 13:23] whedon commented on #1820
[code]

[2019-11-14 13:24] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-14 13:28] JonasMoss commented on #1820
@KaiWenger Please use the Journal of Statistical Software entry from https://cran.r-project.org/web/packages/strucchange/citation.html

[2019-11-14 13:51] xuanxu commented on #1771
@wtgee: How is your review going?

[2019-11-14 13:55] xuanxu commented on #1771
@StephanStock / @JonasKemmer: Did you have the opportunity to address the [feedback from @Juanlu001](https://github.com/openjournals/joss-reviews/issues/1771#issuecomment-546592112)?

[2019-11-14 14:06] arfon commented on #1757
👍 confirming this is OK from my perspective.

[2019-11-14 14:22] simonom commented on #1879
Many thanks @kyleniemeyer ,

These issues you raised (inclusion of license and availability on PyPi) have now been addressed.

Regards,
Simon O'Meara

[2019-11-14 15:06] artivis commented on #1371
@poulson we addressed all remarks from artivis/manif#90 but the release with a version number. We would like to do so once all other reviews are addressed as a last step accompanying the publication of this paper. If this is any trouble please let me know.
The final remark we have to address is this of @jordigh at artivis/manif#107 which we are investigating now.

[2019-11-14 15:22] alexhanna commented on #1508
@whedon set 10.5281/zenodo.3530634 as archive

[2019-11-14 15:22] whedon commented on #1508
OK. <a href="https://doi.org/10.5281/zenodo.3530634" target="_blank">10.5281/zenodo.3530634</a> is the archive.

[2019-11-14 15:23] alexhanna commented on #1508
@whedon generate pdf

[2019-11-14 15:23] whedon commented on #1508
[code]

[2019-11-14 15:23] whedon commented on #1508
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01508/joss.01508/10.21105.joss.01508.pdf)

[2019-11-14 15:27] alexhanna commented on #1508
@whedon check references

[2019-11-14 15:27] whedon commented on #1508
[code]

[2019-11-14 15:27] whedon commented on #1508
[code]

[2019-11-14 15:36] alexhanna commented on #1508
Hi @MaciejDanko, I made a small PR for a missing DOI (https://github.com/MaciejDanko/hopit/pull/12). Once you accept this, we should be good to go.

[2019-11-14 15:36] tobydriscoll commented on #1811
Updates:

1. I have avoided trying to summarize credit for IntervalSets. The paper links to it, where the full history is easy to see.

2. I have decided to go without `.jl` on all the package names. It's an editorial choice, but seeing it over and over is really clunky.

[2019-11-14 15:40] alexhanna commented on #1453
Hi @sambitdash - we need you to do is get a DOI number from Zenodo and post it here. We can then assign the repository a DOI, give a final proofread, and pass it off to the EIC for acceptance.

[2019-11-14 15:40] alexhanna commented on #1453
@whedon check references

[2019-11-14 15:40] whedon commented on #1453
[code]

[2019-11-14 15:41] whedon commented on #1453
[code]

[2019-11-14 15:41] alexhanna commented on #1453
@whedeon check pdf

[2019-11-14 15:41] alexhanna commented on #1453
@whedon generate pdf

[2019-11-14 15:41] whedon commented on #1453
[code]

[2019-11-14 15:42] whedon commented on #1453
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01453/joss.01453/10.21105.joss.01453.pdf)

[2019-11-14 15:45] mattpitkin commented on #1864
Hi @dfm, would you be able to update the references to include more DOIs and a link to the [kombine github page](https://github.com/bfarr/kombine) or [doc page](https://pages.uoregon.edu/bfarr/kombine/)? I think the following are correct:

* Goodman & Weare [10.2140/camcos.2010.5.65](http://dx.doi.org/10.2140/camcos.2010.5.65)
* Ter Braak [10.1007/s11222-006-8769-1](https://doi.org/10.1007/s11222-

[2019-11-14 15:47] MaciejDanko commented on #1508
@whedon check references

[2019-11-14 15:47] whedon commented on #1508
[code]

[2019-11-14 15:48] whedon commented on #1508
[code]

[2019-11-14 15:48] alexhanna commented on #1453
I've also added a few changes to the paper text in https://github.com/sambitdash/PDFIO.jl/pull/77.

[2019-11-14 15:53] alexhanna commented on #1508
@MaciejDanko -- hrm, it looks like it didn't update. if you're not citing the book, you could also choose to remove it.

[2019-11-14 15:54] mattpitkin commented on #1864
Installation works well, but the conda install gives v3.0.0, whereas pip gives v3.0.1. I'm just curious as to why the [conda-forge feedstock](https://github.com/conda-forge/emcee-feedstock) is not autoupdating to find the latest PyPI version?

[2019-11-14 15:57] alexhanna commented on #1453
Thanks for merging those, @sambitdash.
@openjournals/joss-eics this one is good to go.

[2019-11-14 15:59] MaciejDanko commented on #1508
@whedon generate pdf

[2019-11-14 15:59] whedon commented on #1508
[code]

[2019-11-14 16:00] MaciejDanko commented on #1508
@whedon check references

[2019-11-14 16:00] whedon commented on #1508
[code]

[2019-11-14 16:00] whedon commented on #1508
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01508/joss.01508/10.21105.joss.01508.pdf)

[2019-11-14 16:00] whedon commented on #1508
[code]

[2019-11-14 16:02] MaciejDanko commented on #1508
Hi @alexhanna ,  it works now, thanks!

[2019-11-14 16:08] sambitdash commented on #1453
@whedon generate pdf

[2019-11-14 16:08] whedon commented on #1453
[code]

[2019-11-14 16:09] whedon commented on #1453
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01453/joss.01453/10.21105.joss.01453.pdf)

[2019-11-14 16:18] gioacchinowang commented on #1889
great! thanks for the message :)

[2019-11-14 16:24] sambitdash commented on #1453
@alexhanna 10.5281/zenodo.3541938 is the DoI reserved. Do I publish the article on Zenodo?

[2019-11-14 16:24] KaiWenger commented on #1820
@whedon generate pdf

[2019-11-14 16:24] whedon commented on #1820
[code]

[2019-11-14 16:25] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-14 16:28] KaiWenger commented on #1820
@JonasMoss Thanks for your comments! We included the citation for the strucchange package in our software paper and treated your last two comments on our Github page :)

[2019-11-14 16:29] mattpitkin commented on #1864
The documentation for emcee is excellent, and is a great resource. All the example work exactly as expected (I know it's expected, but setting the Numpy random seed means I get spookily identical plots when running the example codes). Just a couple of points, one bigger than the other:

* minor point: in the "What about shorter chains?" section it's worth noting that the example requires having au

[2019-11-14 16:30] dfm commented on #1864
@mattpitkin: Thanks! I've added those DOIs and a link for kombine. I also merged the pull request to conda-forge so it'll be up to date shortly.

[2019-11-14 16:31] dfm commented on #1864
Those points are also both good. I'll add those too. Thanks!

[2019-11-14 16:33] mattpitkin commented on #1864
Could you add a link to the [CONTRIBUTING.md](https://github.com/dfm/emcee/blob/master/CONTRIBUTING.md) file in the "[How to Use This Guide](https://emcee.readthedocs.io/en/stable/#how-to-use-this-guide)" section of the docs?

[2019-11-14 16:35] dfm commented on #1864
It is in the introduction of the latest version of the docs: https://emcee.readthedocs.io/en/latest/, but adding it there would also be good.

[2019-11-14 16:38] mattpitkin commented on #1864
Ah, yes. Very good. I was just looking at the stable version.

[2019-11-14 16:38] sambitdash commented on #1453
Uploaded the software and Zenodo with the stated doi.

[2019-11-14 16:39] mattpitkin commented on #1864
When the Moves example is added I'm happy to sign off the review. All boxes are ticked.

[2019-11-14 16:47] mattpitkin commented on #1864
I was just trying to run the tests (based on `emcee-3.0.2.dev21+gba05c7f`), after installing from source, and I get a range of errors starting:

[code]

Have you come across this before?

[2019-11-14 16:52] mattpitkin commented on #1864
It looks like an `emcee_version.py` file is expected in `src/emcee`, but isn't present. Should this be getting created during the setup?

[2019-11-14 16:52] whedon opened #1892 "[PRE REVIEW]: CapacityExpansion: A capacity expansion modeling framework in Julia"
**Submitting author:** @YoungFaithful (<a href="http://orcid.org/0000-0002-1992-310X">Lucas Elias Kuepper</a>)
**Repository:** <a href="https://github.com/YoungFaithful/CapacityExpansion.jl/tree/paper" target ="_blank">https://github.com/YoungFaithful/CapacityExpansion.jl/tree/paper</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting yo

[2019-11-14 16:52] whedon commented on #1892
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-14 16:52] whedon commented on #1892
[code]

[2019-11-14 16:52] whedon commented on #1892
[code]

[2019-11-14 16:52] whedon commented on #1892
PDF failed to compile for issue #1892 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1892 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedo

[2019-11-14 16:55] dfm commented on #1864
Yes - there was a typo in the source install docs! I [just fixed it](https://github.com/dfm/emcee/commit/e3ad45109743b11c1735aa73b2b7110eb984314f), but the basic change is that you need to run:

[code]

 or

[code]

so that that file is written in place. Good catch!

[2019-11-14 17:01] mattpitkin commented on #1864
Great, it's worked now and all tests pass :smile: :tada:

[2019-11-14 17:19] zingale commented on #1757
okay, just to make sure I understand.  Is the suggestion that we add a cite to the ApJ MAESTROeX paper in the JOSS paper.md?

[2019-11-14 17:20] labarba commented on #1858
@benjaminbolling — I am the Associate Editor in Chief on rotation this week. I've looked at your paper and your explanation above, and I ask for your patience, because this submission is unusual for JOSS and may be difficult to put through review.

It sounds like this is more of an infrastructure tool, used in conjunction with large-scale physics equipment. Even if this is clearly within the scope

[2019-11-14 17:23] labarba commented on #1892
@arfon — I could not find (again) the name of the team to ping for tech issues. Help!

[2019-11-14 17:24] labarba commented on #1892
I think maybe the authors provided the wrong repository URL. They provided `https://github.com/YoungFaithful/CapacityExpansion.jl/tree/paper`.

I will change it to `https://github.com/YoungFaithful/CapacityExpansion.jl/tree/paper` and try to re-compile.

[2019-11-14 17:26] labarba commented on #1892
@whedon generate pdf

[2019-11-14 17:26] whedon commented on #1892
[code]

[2019-11-14 17:26] whedon commented on #1892
PDF failed to compile for issue #1892 with the following error:

 Can't find any papers to compile :-(

[2019-11-14 17:28] labarba commented on #1892
@YoungFaithful — Where is your JOSS paper? I poked around in the repo but could not find it.

[2019-11-14 17:28] mbobra commented on #1809
@SuperKam91 There are tools like [autopep8](https://pypi.org/project/autopep8/) that will automatically format your code for you so you don't have to do anything by hand :)

[2019-11-14 17:29] labarba commented on #1453
The latest release in the repository is v0.1.8 — is that the reviewed version? Should we update the version number here?

[2019-11-14 17:32] JonasMoss commented on #1820
Great! Just add the DOI to the paper. =) The DOI is 10.18637/jss.v007.i02

[2019-11-14 17:34] mbobra commented on #1820
👋 @KaiWenger could you tick off the boxes that you've completed in https://github.com/openjournals/joss-reviews/issues/1820#issuecomment-547599162? Thanks :)

[2019-11-14 17:37] sambitdash commented on #1453
The version number can be updated to 0.1.8. The latest update to the README is incorporated in it.

[2019-11-14 17:39] labarba commented on #1453
@whedon set v0.1.8 as version

[2019-11-14 17:39] whedon commented on #1453
OK. v0.1.8 is the version.

[2019-11-14 17:41] labarba commented on #1453
@whedon set 10.5281/zenodo.3541938 as archive

[2019-11-14 17:41] whedon commented on #1453
OK. <a href="https://doi.org/10.5281/zenodo.3541938" target="_blank">10.5281/zenodo.3541938</a> is the archive.

[2019-11-14 17:42] labarba commented on #1453
@whedon accept

[2019-11-14 17:42] whedon commented on #1453
[code]

[2019-11-14 17:42] whedon commented on #1453
[code]

[2019-11-14 17:42] whedon commented on #1453
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1099

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1099, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-14 17:48] labarba commented on #1453
@whedon accept deposit=true

[2019-11-14 17:48] whedon commented on #1453
[code]

[2019-11-14 17:49] whedon commented on #1453
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1195036068711714818) 👈 🐦🐦🐦

[2019-11-14 17:49] whedon commented on #1453
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1100
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01453](https://doi.org/10.21105/joss.01453)
2. If everything looks g

[2019-11-14 17:50] arfon commented on #1757
Yes.

[2019-11-14 17:50] labarba commented on #1453
Congratulations, @sambitdash, your JOSS paper is published! 🚀

Many thanks to our editor: @alexhanna, and the reviewers: @malmaud, @jarvist — your contributions to JOSS are greatly appreciated 🙏

[2019-11-14 17:50] #1453 closed

[2019-11-14 17:50] whedon commented on #1453
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01453/status.svg)](https://doi.org/10.21105/joss.01453)

**We need your help!**

Journal of Open Source Softwa

[2019-11-14 17:51] arfon commented on #1892
@whedon generate pdf from branch paper

[2019-11-14 17:51] whedon commented on #1892
[code]

[2019-11-14 17:51] arfon commented on #1892
Looks like it's in the `paper` branch @labarba.

[2019-11-14 17:52] whedon commented on #1892
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01892/joss.01892/10.21105.joss.01892.pdf)

[2019-11-14 17:57] Janis410 commented on #1820
@whedon generate pdf

[2019-11-14 17:57] whedon commented on #1820
[code]

[2019-11-14 17:57] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-14 17:57] labarba commented on #1892
👋  @katyhuff — Could you handle this submission as editor? It is in the area of energy systems management.

[2019-11-14 18:20] dfm commented on #1864
@mattpitkin: I've added [the note about autograd](https://emcee.readthedocs.io/en/latest/tutorials/autocorr/#what-about-shorter-chains) and [a tutorial demonstrating the moves interface](https://emcee.readthedocs.io/en/latest/tutorials/moves/). Let me know if you have any comments or questions!

[2019-11-14 18:22] whedon commented on #1892
[code]

[2019-11-14 18:29] pgrete commented on #1757
IIRC the reference is already there and my question was around whether this satisfies the "State of the field: Do the authors describe how this software compares to other commonly-used packages?" item in the reviewing checklist.

[2019-11-14 18:30] alexhanna commented on #1508
Excellent. @openjournals/joss-eics, this one is also ready to go.

[2019-11-14 18:41] kthyng commented on #1768
Hi @TrashBirdEcology! Just want to make sure you saw that @ethanwhite has some recommendations for you for moving forward.

[2019-11-14 18:42] kthyng commented on #1684
Just another quick ping to check in on thoughts from @JoshKarpel and @dpsanders!

[2019-11-14 20:17] zingale commented on #1757
okay, so does Arfon's answer mean that we satisfy your point @pgrete ?

[2019-11-14 20:25] steffilazerte commented on #1820
Hi @KaiWenger, @Janis410,
Wow! So much work in such a short time. Adding the tests, vignettes and annotating the examples makes this a very solid package.

I also like the re-write of the article, it's much more accessible and is very clear about it's purpose.

I have a couple of editorial (and occasionally nit-picky) comments for the article and one comment for the repository:
- [ ] The text alwa

[2019-11-14 21:21] cMadan commented on #1847
@hvgazula, I will be the editor for this submission, not a reviewer.  So far everyone you've suggested are JOSS editors, have you had a chance to look at the reviewer list? (See link in first post in this issue.) You are also welcome to suggested people who develop software but are not on the JOSS reviewer list.

[2019-11-14 21:22] cMadan commented on #1620
@whedon generate pdf

[2019-11-14 21:22] whedon commented on #1620
[code]

[2019-11-14 21:23] whedon commented on #1620
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01620/joss.01620/10.21105.joss.01620.pdf)

[2019-11-14 21:46] tobydriscoll commented on #1811
@whedon generate pdf

[2019-11-14 21:46] whedon commented on #1811
[code]

[2019-11-14 21:46] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-14 21:52] TrashBirdEcology commented on #1768
Indeed! Have been travelling, need to hop on this! Thanks to both of you!

Jessica L. Burnett

GitHub <http://github.com/trashbirdecology>
CV/Resume
<https://github.com/TrashBirdEcology/cv/blob/master/burnett_extendedCV.pdf>
ORC ID: 0000-0002-0896-5099 <https://orcid.org/0000-0002-0896-5099>

On Thu, Nov 14, 2019 at 11:42 AM Kristen Thyng <notifications@github.com>
wrote:

[2019-11-14 22:24] dlfivefifty commented on #1811
Ok one last comment: add references for DomainSets and IntervalSets as otherwise it’s not clear how to find them. This could just be links to the github pages

[2019-11-14 23:22] jeffreyhanson commented on #1686
I am delighted to review the revised version of the "Welcome to the tidyverse" manuscript. In my view, provides a wonderful introduction to the tidyverse and the description of the _tidyverse R_ package. It is exceptionally well-written for a broad audience. The authors have addressed all of my issues with the previous version of the manuscript. I could not find any major or minor issues with this

[2019-11-14 23:26] jeffreyhanson commented on #1686
Sorry for not mentioning this in the previous post, I reviewed the revised version by looking at the Rmarkdown document in the tidyverse/tidyverse repository. As such, it might be worth using the JOSS automatic thingummywhatsit bot to make an updated pdf version of the manuscript to double check that the references appear correctly.

[2019-11-14 23:35] poulson commented on #1371
Thank you for the updates, @alex-konovalov and @artivis! I look forward to the resolution of @jordigh's last issue and will do a final pass myself after that for things like typos and DOIs.

[2019-11-14 23:50] labarba commented on #1879
@simonom — please check in your paper the unresolved references (shown in the PDF as ???).

[2019-11-14 23:55] labarba commented on #1879
👋  @dvalters, @highendcompute — you both review the PyBox paper for JOSS last year. Would you be willing to review a follow-on submission?
**PyCHAM: CHemistry with Aerosol Microphysics in Python**
https://github.com/simonom/PyCHAM

[2019-11-14 23:58] labarba commented on #1879
@jedbrown — Could you handle this submission as editor? (Lindsey is stepping down from the board to focus on her job search and we're low on geosciences editors now!)

[2019-11-15 00:05] labarba commented on #1508
Hi @MaciejDanko — I found no [releases](https://github.com/MaciejDanko/hopit/releases) in the repo. Please make a tagged release with the reviewed version of the software and post the version number here to update the metadata.

[2019-11-15 00:16] jedbrown commented on #1879
@simonom Welcome! Could you please check your paper for **???** references, and also consider more explicitly laying out the problems that are solved (e.g., can you write the structural form of the differential equations?) and related work (even if not written in Python)? Also, I would really encourage you to add continuous integration (e.g., Travis-CI or Azure DevOps) to run and report on your te

[2019-11-15 00:16] jedbrown commented on #1879
@whedon assign @jedbrown as editor

[2019-11-15 00:16] whedon commented on #1879
OK, the editor is @jedbrown

[2019-11-15 01:51] JoshKarpel commented on #1684
@kthyng We're definitely making progress. The authors have made a lot of good changes, and I think this big PR finally gets us to a place where they can start satisfying the review requirements directly (things like setting up documentation and making it an installable package).

[2019-11-15 06:32] hvgazula commented on #1847
@spinicist

[2019-11-15 08:25] pgrete commented on #1757
Yes, my previous comment was meant as a clarification for why I raised the point (I just wanted to double check with the editor if this in line with the interpretation of the review instructions).

[2019-11-15 08:47] oliviaguest commented on #1821
@soodoku any luck finding time? I can set up an automated reminder for you if you want?

[2019-11-15 08:47] lohedges commented on #1831
@whedon generate pdf from branch feature-paper

[2019-11-15 08:47] whedon commented on #1831
[code]

[2019-11-15 08:48] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-11-15 08:53] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-11-15 09:02] lohedges commented on #1831
@whedon generate pdf from branch feature-paper

[2019-11-15 09:02] whedon commented on #1831
[code]

[2019-11-15 09:03] whedon commented on #1831
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01831/joss.01831/10.21105.joss.01831.pdf)

[2019-11-15 09:24] lohedges commented on #1831
Apologies for all the re-renderings. I've just noticed that the [preview service](https://whedon.theoj.org) now properly supports custom branches (this wasn't the case when I first submitted) so I should have tested there instead.

I've now incorporated some minor changes suggested by my co-authors and have added page breaks to improve the paper formatting. For reference (in case anyone else searc

[2019-11-15 09:49] lohedges commented on #1831
@whedon generate pdf from branch feature-paper

[2019-11-15 09:49] whedon commented on #1831
[code]

[2019-11-15 09:50] lohedges commented on #1831
Apologies again. Some formatting issues in some of the citations that were only just spotted by a co-author. (The joy of hand-edited BibTex entries!)

[2019-11-15 10:09] sjvrijn commented on #1839
Installing using install.sh fails on Ubuntu 16.04:

[code]

I can get further by manually installing the libconfig++ packages which installs some dependencies, although this leads to a bunch of new errors further on:
[code]

My `g++` version:
[code]

[2019-11-15 10:13] sjvrijn commented on #1839
@gdetor I also think there is a typo in `install.sh`:
[code]

[2019-11-15 10:14] Janis410 commented on #1820
@whedon generate pdf

[2019-11-15 10:14] whedon commented on #1820
[code]

[2019-11-15 10:15] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-15 10:23] tukss commented on #1757
Just checked that all my raised points are fixed and they are. Great!

I noticed that the first line of the bibliography reads:

I guess that's a bug somewhere in the processing of the PDF.

[2019-11-15 10:28] Janis410 commented on #1820
@whedon generate pdf

[2019-11-15 10:28] whedon commented on #1820
[code]

[2019-11-15 10:29] mattpitkin commented on #1864
Great, that looks very good to me.

@xuanxu - I'm happy to sign-off the review.

[2019-11-15 10:29] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-15 10:29] MaciejDanko commented on #1508
Hi @labarba - I made a release tagged v0.10.1.9000

[2019-11-15 10:33] KaiWenger commented on #1820
Hi @steffilazerte, Hi @JonasMoss,

thanks again for your reviews and nice words :)
We
- added the DOI to the strucchange package
- changed the picture and the example in the software paper to maintain the parallelism of "mean" and "persistence"
- corrected the typos in the software paper
- added a description to the GitHub repository (sorry, we totally overlooked this in our first revision!)

[2019-11-15 10:46] KaiWenger commented on #1820
Hi @mbobra,
the boxes in [#1820 (comment)](https://github.com/openjournals/joss-reviews/issues/1820#issuecomment-547599162) are all checked (even though we did not do it) and we completed our work on all remaining small changes that were suggested :)

[2019-11-15 10:49] will-rowe commented on #1831
Hi @lohedges. Thanks for the updates and addressing the reviewer comments. Are you ready for @amritagos and @richardjgowers to take another look to see if they are satisfied you have addressed the comments and can tick off the remaining boxes on the reviewer checklist?

[2019-11-15 10:52] lohedges commented on #1831
Hi @will-rowe, that would be great. I will be on leave as of the end of today but should be able to tidy up any loose ends next week. If needed, @jmichel80 will be a good point of contact in my absence, although he is away until next Weds.

Cheers.

[2019-11-15 10:57] xuanxu commented on #1864
@whedon generate pdf

[2019-11-15 10:57] whedon commented on #1864
[code]

[2019-11-15 10:58] whedon commented on #1864
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01864/joss.01864/10.21105.joss.01864.pdf)

[2019-11-15 10:58] xuanxu commented on #1864
@whedon check references

[2019-11-15 10:58] whedon commented on #1864
[code]

[2019-11-15 10:58] whedon commented on #1864
[code]

[2019-11-15 11:10] xuanxu commented on #1864
OK @dfm, everything looks good, here are the next steps:

- Please release a new version from the current master so it includes all the changes made during the review process
- Then archive that latest release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also add your ORCID.

Once you do that please report here the Zenodo DOI.

[2019-11-15 11:11] will-rowe commented on #1831
Great! @amritagos and @richardjgowers - could you please have a check of the submission now that @lohedges has responded to your reviews. If you are happy to recommend publication, please complete the checklist at the top of this thread and confirm.

[2019-11-15 11:29] batpigandme commented on #1686
@whedon generate pdf

[2019-11-15 11:29] whedon commented on #1686
[code]

[2019-11-15 11:29] whedon commented on #1686
PDF failed to compile for issue #1686 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedon.rb:190:in `block in parse_authors': Author (Evan Miller) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedon.rb:188:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731

[2019-11-15 11:30] batpigandme commented on #1686
^^ whoops, premature PDF generation. Sorry about that!

[2019-11-15 11:41] sambitdash commented on #1453
Thanks @alexhanna, @labarba, @malmaud and @jarvist for bringing this submission to a successful closure.

[2019-11-15 12:17] arfon commented on #1757
It's in the `paper.md` - @doreenfan please merge this pull request: https://github.com/AMReX-Astro/MAESTROeX/pull/123

[2019-11-15 12:23] aureliocarnero commented on #1881
Hello @brittonsmith.
Your code does not contain a plain-text LICENSE file with the contents of an OSI approved software license.
Please add one to the repository in order to continue with the review.
Cheers

[2019-11-15 12:55] dfm commented on #1864
Thanks all!!

The new DOI is: [10.5281/zenodo.3543502](https://doi.org/10.5281/zenodo.3543502)

I've also [pushed the update to PyPI](https://pypi.org/project/emcee/) and it'll be on conda-forge in the next few days.

[2019-11-15 12:55] batpigandme commented on #1686
Thanks again for your comments!

The xml2, httr, jsonlite, and feather packages have a somewhat murky relationship to the tidyverse. These packages are mostly installed because we expect them to be used pretty frequently but are owned by other organisations. We'll work to get finish the checklist for these packages (since it's good practice regardless of this article), but in the interests of unbl

[2019-11-15 13:10] csoneson commented on #1744
@RafalUrniaz - I'm going to pause this for now. Please let us know when you have an updated version and are ready for the review to resume.

[2019-11-15 13:28] hadley commented on #1686
It looks like compilation failed because an author doesn't have an affiliation? Is this required? We asked all authors to supply their preferred affiliation, and this author preferred not to have one.

[2019-11-15 13:40] xuanxu commented on #1864
@whedon set v3.0.2 as version

[2019-11-15 13:40] whedon commented on #1864
OK. v3.0.2 is the version.

[2019-11-15 13:41] xuanxu commented on #1864
@whedon set 10.5281/zenodo.3543502 as archive

[2019-11-15 13:41] whedon commented on #1864
OK. <a href="https://doi.org/10.5281/zenodo.3543502" target="_blank">10.5281/zenodo.3543502</a> is the archive.

[2019-11-15 13:44] xuanxu commented on #1864
Everything looks ready.
Pinging @openjournals/joss-eics for final processing

[2019-11-15 14:58] arfon commented on #1686
Unfortunately this is a limitation of our current template. You can solve this by creating an affiliation of 'None' and associating it with the author like this: https://github.com/tidyverse/tidyverse/pull/205

[2019-11-15 15:08] tobydriscoll commented on #1811
My mistake. I thought adding them as markdown links would get through. I put them in the Refs section instead.

@whedon generate pdf

[2019-11-15 15:17] steffilazerte commented on #1820
Hi @KaiWenger, @Janis410 ,
So close! Just the text below the figure should be reversed (it doesn't match the figure), and I would suggest explicitly including the word "persistence" to help readers who are unfamiliar.

Now it is:

that the series is more variable in the second part from year 2000 onwards. This might be
caused by a change in the autocovariance structure of the series. The right plo

[2019-11-15 15:20] tobydriscoll commented on #1811
@whedon generate pdf

[2019-11-15 15:20] whedon commented on #1811
[code]

[2019-11-15 15:20] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-15 15:26] arfon commented on #1686
@whedon generate pdf

[2019-11-15 15:26] whedon commented on #1686
[code]

[2019-11-15 15:27] whedon commented on #1686
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01686/joss.01686/10.21105.joss.01686.pdf)

[2019-11-15 15:28] Janis410 commented on #1820
@whedon generate pdf

[2019-11-15 15:28] whedon commented on #1820
[code]

[2019-11-15 15:28] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-15 15:34] KaiWenger commented on #1820
Hi @steffilazerte,
you are of course absolutely correct! We accordingly changed it :blush:

[2019-11-15 15:35] steffilazerte commented on #1820
Great thanks! @mbobra I'm completely happy, all my boxes are checked.

Thanks @Janis410 thanks @KaiWenger!

[2019-11-15 15:38] lohedges commented on #1831
Just wondering why there appear to be a bunch of recent edits to the original post by @HaoZeke, who isn't an editor or reviewer of this paper?

[2019-11-15 15:38] hadley commented on #1686
@whedon generate pdf

[2019-11-15 15:38] whedon commented on #1686
[code]

[2019-11-15 15:39] whedon commented on #1686
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01686/joss.01686/10.21105.joss.01686.pdf)

[2019-11-15 15:46] KaiWenger commented on #1820
@whedon generate pdf

[2019-11-15 15:46] whedon commented on #1820
[code]

[2019-11-15 15:46] whedon commented on #1820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01820/joss.01820/10.21105.joss.01820.pdf)

[2019-11-15 15:48] hadley commented on #1686
@whedon generate pdf

[2019-11-15 15:48] whedon commented on #1686
[code]

[2019-11-15 15:49] whedon commented on #1686
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01686/joss.01686/10.21105.joss.01686.pdf)

[2019-11-15 15:52] KaiWenger commented on #1820
@mbobra : our last change of the software paper was to include @steffilazerte and @JonasMoss in our acknowledgements :smiley:
We feel that our package improved significantly by including their comments and suggestions and we would be glad if the the package is now suitable for publication in the Journal of Open Source Software :relaxed:

[2019-11-15 15:56] hadley commented on #1686
Sorry for all the rebuilds — just trying to get the last details of the code and images perfect

@whedon generate pdf

[2019-11-15 16:06] will-rowe commented on #1831
I'm wondering that too. @HaoZeke - can you please explain?

[2019-11-15 16:09] kthyng commented on #1684
Awesome!

[2019-11-15 16:11] spinicist commented on #1847
My apologies, but this is a bit outside my field of expertise hence I don't feel qualified to review this. In particular I don't have experience of working with or sharing large datasets, which would appear to be crucial.

[2019-11-15 16:15] HaoZeke commented on #1831
Oh, that is odd. I haven't seen this before. I guess @amritagos used a lab PC, I might have been signed in when I visited. I will clear my login sessions. Shouldn't happen again.

[2019-11-15 16:15] hvgazula commented on #1847
No problem. How about you @mwegrzyn? Would you be willing to review my work about the COINSTAC platform?

[2019-11-15 16:26] hadley commented on #1686
@whedon generate pdf

[2019-11-15 16:26] whedon commented on #1686
[code]

[2019-11-15 16:27] whedon commented on #1686
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01686/joss.01686/10.21105.joss.01686.pdf)

[2019-11-15 16:33] RHagenson commented on #1146
@arfon Not to be a bother, but I was looking at the rendered [paper](https://joss.theoj.org/papers/10.21105/joss.01146) on JOSS the other day and noticed in the first paragraph most of the citations did not get formatted properly. Is this a known issue? What do you need me to do to get this fixed?

[2019-11-15 16:33] hadley commented on #1686
@whedon generate pdf

[2019-11-15 16:33] whedon commented on #1686
[code]

[2019-11-15 16:33] whedon commented on #1686
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01686/joss.01686/10.21105.joss.01686.pdf)

[2019-11-15 16:40] arfon commented on #1146
Oh yeah, that’s weird. I’ll investigate and report back.

[2019-11-15 16:42] karthik commented on #1686
@hadley You can also use http://whedon.theoj.org/ to compile the paper

[2019-11-15 17:05] hadley commented on #1686
Good to know now that I've finished all my tweaking 😬

[2019-11-15 17:08] soodoku commented on #1821
not yet, @oliviaguest  but soon. on my agenda.

[2019-11-15 17:13] tobydriscoll commented on #1811
*sigh* Forgot to brace my capital Js. Trying again.

[2019-11-15 17:14] tobydriscoll commented on #1811
@whedon generate pdf

[2019-11-15 17:14] whedon commented on #1811
[code]

[2019-11-15 17:14] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)