[2021-09-06 09:51] fraukewiese commented on #3585
@mefuller  , @bocklund  – thanks a lot for agreeing to review here! See you over in #3695 where the actual review will take place.

[2021-09-06 09:53] fraukewiese commented on #3695
@bocklund @mefuller – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. T

[2021-09-06 09:56] fraukewiese commented on #3601
@lisazeyen @willu47 :  I see you're nearly finished with your reviews - thanks a lot ! Please let me know when you are done and what your recommendation is.

[2021-09-06 10:16] lucydot commented on #3626
Hi @highlando thanks for your prompt reply. I'll ask some other potential reviewers if they can start sooner - thanks, Lucy.

Hi @ctdegroot and @TJFord 👋 are either of you available to review this submission?

[2021-09-06 10:20] osorensen commented on #3692
That is understandable. Thanks for you quick response @JaGeo .

[2021-09-06 10:48] dirmeier commented on #3631
Hello, sorry for the delay. I'll do the entire review this weekend.

[2021-09-06 11:22] ChrisW09 commented on #3663
@arfon To speed up the process a bit, we could also search for other potential reviewers and suggest them to you? thanks! chris

[2021-09-06 11:37] AlbertWeichselbraun commented on #3557
Dear @rlskoeser, dear @sbenthall,

Thank you for your valuable feedback, and especially for spotting the reported documentation issues. Please find below a detailed description of how I addressed the outlined suggestions:

1. I have merged the [documentation fixes](https://github.com/weblyzard/inscriptis/pull/38) with the master branch.
2. The documentation bug reported in [#39](https://github.com

[2021-09-06 11:48] BenMql commented on #2978
Fantastic. Thank you for your assistance.
The DOI doesn't resolve yet for me neither, but it is probably only a question of time.

[2021-09-06 12:09] kellertuer commented on #3530
May I (sorry, again) carefully ask about the status of this submission?

[2021-09-06 12:19] whedon commented on #3646
:wave: @a3sha2, please update us on how your review is going (this is an automated reminder).

[2021-09-06 12:19] whedon commented on #3646
:wave: @joaomcteixeira, please update us on how your review is going (this is an automated reminder).

[2021-09-06 12:23] joaomcteixeira commented on #3646
Sorry for the delay, past week was impossible for me. I will try to review during this week. Sorry, it's September, lots of deadlines.

[2021-09-06 12:28] a3sha2 commented on #3646
@whedon   I have started review and will be done this week. sorry for delay

[2021-09-06 12:28] whedon commented on #3646
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-06 12:52] fibreglass2 commented on #3603
@whedon generate pdf

[2021-09-06 12:53] whedon commented on #3603
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03603/joss.03603/10.21105.joss.03603.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03603/joss.03603/10.21105.joss.03603.pdf) :page_facing_up: :point_left:

[2021-09-06 12:54] martinfleis commented on #3609
If you're happy I am fine with that.

[2021-09-06 12:54] fibreglass2 commented on #3603
@whedon check references

[2021-09-06 12:54] whedon commented on #3603
[code]

[2021-09-06 13:02] fibreglass2 commented on #3603
@whedon check references

[2021-09-06 13:02] whedon commented on #3603
[code]

[2021-09-06 13:03] fibreglass2 commented on #3603
@whedon generate pdf

[2021-09-06 13:03] whedon commented on #3603
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03603/joss.03603/10.21105.joss.03603.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03603/joss.03603/10.21105.joss.03603.pdf) :page_facing_up: :point_left:

[2021-09-06 13:06] hayesall commented on #3465
Hey @diehlpk I checked off all but "_Functionality_" from my tasklist a couple days ago (but I didn't want to cause notification noise). I still need a little more time on functionality.

Follow-up: This would be a _stronger_ submission with sphinx/mkdocs and https://github.com/elwinter/nnde/issues/13, but nnde currently meets the baseline requirements.

[2021-09-06 13:06] hayesall commented on #3465
@whedon generate pdf

[2021-09-06 13:06] whedon commented on #3465
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: :point_left:

[2021-09-06 13:10] adi3 commented on #3490
@destogl @nnadeau -  👋 please update us on how your review is going

[2021-09-06 13:11] adi3 commented on #3527
@malmaud @rMassimiliano - seems you are yet to accept the invite to be part of the JOSS org which will allow you to proceed through your checklist. Could you please let me know if I can help you sort out any trouble you're facing? Thanks!

[2021-09-06 13:12] adi3 commented on #3587
@whedon assign @TimKam as reviewer

[2021-09-06 13:12] whedon commented on #3587
OK, @TimKam is now a reviewer

[2021-09-06 13:13] adi3 commented on #3671
👋🏼 @AP6YC this is the review thread for the paper. All of our communications will happen here from now on.

👋🏼  @hayesall @aaronpeikert - you both have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Here is a little more context for first

[2021-09-06 13:14] crvernon commented on #3670
@sgrieve no problem.  Thanks for the response!

[2021-09-06 13:14] fibreglass2 commented on #3603
@Kevin-Mattheus-Moerman

- [x] Typographical error has been corrected.
- [x] DOIs have been updated as identified by wheldon
- [x] The developers of PIVLAB have indicated that MATLAB is a requirement with no mention of Octave compatibility in their documentation. PIVLAB extensively uses the MATLAB graphical environment for all functions, including installation, hence it is unlikely to be compatibl

[2021-09-06 13:18] crvernon commented on #3670
:wave: @Scivision or @kbevers - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-09-06 13:21] crvernon commented on #3666
Thanks @dbuscombe-usgs and @npucino it looks like you are working towards a solution.  Feel free to reach out if you have any questions.

[2021-09-06 13:28] Shyentist commented on #3467
@KristinaRiemer hi, I have a question about the paper. One of the points in jules' review was

I was wondering, if the url for the Handbook changes after the paper, wouldn't that be an issue? What are the rules for updating the paper, if that is even possible?

[2021-09-06 13:45] TahiriNadia commented on #3692
Thank you @osorensen. I am interested in reviewing the paper. As this is my first for this journal, would it be possible to give me the link for the directions (containing the evaluation grid)?

[2021-09-06 14:02] kbevers commented on #3670
Sorry, I won't be able to do a review at this time

[2021-09-06 14:03] crvernon commented on #3670
Thanks for your fast reply @kbevers !

[2021-09-06 14:05] patrickfuchs commented on #3521
Thank you @lilyminium and @ojeda-e.  Just to add a word regarding CI, I see one box is unchecked, we have automated tests implemented through [github actions](https://github.com/patrickfuchs/buildH/actions), see [here](https://github.com/patrickfuchs/buildH/tree/master/.github/workflows) for the specifications.
@richardjgowers, let me know if we need to do any other thing.

[2021-09-06 14:08] dhhagan commented on #3219
Hi @josephhardinee - just wanted to ping you one more time to see if you still have this on your radar before moving on. Please let me know if this review is not within your scope? Thanks!

[2021-09-06 14:09] osorensen commented on #3692
Thanks @TahiriNadia! Yes, I will make sure you get the necessary instructions. Once we have another reviewer confirmed, I will start a review issue where on GitHub where the review will be conducted, and where I'll make sure you get the necessary instructions.

[2021-09-06 14:09] osorensen commented on #3692
@whedon add @TahiriNadia as reviewer

[2021-09-06 14:09] whedon commented on #3692
OK, @TahiriNadia is now a reviewer

[2021-09-06 14:09] dhhagan commented on #3411
Hey @samjsilva91 - do you have time for this review or know any other AQ R users that would be a good fit? Thanks!

[2021-09-06 15:21] mfleschutz commented on #3695
😀@fraukewiese, you probably mean #3695 in

[2021-09-06 15:28] mfleschutz commented on #3625
Thank you @nmstreethran for your valuable feedback in DrafProject/elmada/issues/1. I hope the testing options are clearer now.

[2021-09-06 15:43] smolins commented on #3314
I accepted and it still does not work.

On Sun, Sep 5, 2021 at 8:41 PM Jed Brown ***@***.***> wrote:

[2021-09-06 16:12] samjsilva91 commented on #3411
Hi @dhhagan, I have an institutional conflict with JCGRI. Sorry!

[2021-09-06 16:23] broncio123 commented on #3482
Hi @nicoguaro

Thanks! I made some small tweaks to your setup here

https://github.com/champsproject/ldds/blob/test_pendulum/tutorials/demo/simple_pendulum.ipynb

Let us know if it worked.
b

[2021-09-06 16:41] fboehm commented on #3639
Thanks for the replies, @arose and @billdenney ! I hope that we might work together on a future submission.

[2021-09-06 16:45] kyleniemeyer commented on #3682
@agdturner no problem! I'm going to label this submission as "paused" while you are working on those changes, just to indicate that we shouldn't proceed beyond finding the editor quite yet. Let us know in here when your work is done and we can move forward.

[2021-09-06 17:10] nicoguaro commented on #3482
Yes, it worked. It seems that I missed some details but it works and for larger tau I get what is expected from that system.

[2021-09-06 17:31] aelissa commented on #3609
Just started looking at this.
Re the installation in the Vignette you suggest to run `devtools::install_github("ecological-cities/home2park")`. However,  while devtools::install_github uses master as default branch reference, your default is main. I would advise @xp-song to amend the installation command adding the correct ref `devtools::install_github("ecological-cities/home2park", ref="main")`

[2021-09-06 17:37] AKUMAR0019 commented on #3578
Thanks for your review @htwangtw. Please see my point by point responses below:

1. Thank you for your suggestion to improve our description of the command line parameter syntax and how to format the modal definitions. We are working on revising this section of the manuscript, as well as the documentation. These are being reviewed by the team right now.
2. Thank you for your suggestion to better d

[2021-09-06 18:42] Jose-Augusto-C-M commented on #3642
Thanks, I´ve changed the browser for Mozilla and now I´m capable of checking the boxes. I was using google chrome before.

[2021-09-06 18:58] osorensen commented on #3642
Sorry about that, but glad to hear that it works for you now.

[2021-09-06 19:17] Jose-Augusto-C-M commented on #3642
I´m surprised that the review process was so fast since i´ve started to do. I´ve tried all the codes from the examples folders and all of then work, The porpoise of the library is well defined and well written.

Thanks for considerate me for the task, I´m ready for another.

[2021-09-06 19:59] osorensen commented on #3642
Thanks a lot for completing the review @Jose-Augusto-C-M !

[2021-09-06 20:35] tsamsonov commented on #3544
I've completed my review. Everything is good, I think.

All the best, Tim

[2021-09-06 20:53] faroit commented on #3590
Hi @thejasvibr, sorry for the long waiting time. I wanted to make sure that I have enough bandwidth to probably maintain the editing process before kicking this off.

I think that sounds good, I would also like to include an audio researcher who isn't that much familiar with animal sounds but general dsp and python: I would `nils-werner` if there is not conflict of interest.

In the meantime, I su

[2021-09-06 21:11] kellieotto commented on #3661
@csoneson @simonpcouch: I've gone through the review checklist and just left two issues pertaining to functionality documentation, https://github.com/tidymodels/infer/issues/415 and https://github.com/tidymodels/infer/issues/416. I'll take another look when those are resolved.

[2021-09-06 21:43] danielskatz commented on #2978
Congratulations to @BenMql (BENJAMIN MIQUEL)!!

(The DOI is now working, so we're done)

And thanks to @eloisabentivegna for editing, and @robertsawko and @rhaas80 for reviewing!
We couldn't do this without you!

[2021-09-06 21:43] #2978 closed

[2021-09-06 21:43] whedon commented on #2978
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02978/status.svg)](https://doi.org/10.21105/joss.02978)

**We need your help!**

Journal of Open Source Softwa

[2021-09-06 23:10] whedon commented on #3649
:wave: @jifarquharson, please update us on how your review is going (this is an automated reminder).

[2021-09-06 23:10] whedon commented on #3649
:wave: @meghanrjones, please update us on how your review is going (this is an automated reminder).

[2021-09-06 23:35] jedbrown commented on #3314
Weird, I have not encountered that before and will investigate/report. In the meantime, I've updated the checklist based on your comment. Thanks again for your review.

[2021-09-07 01:06] xp-song commented on #3609
@aelissa Thanks for pointing this out, I've amended this is commit [8930b7c](https://github.com/ecological-cities/home2park/commit/8930b7cd080d396614af63e758b1eb86943d1712)

[2021-09-07 01:49] Saran-nns commented on #3545
@whedon generate pdf

[2021-09-07 01:50] whedon commented on #3545
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: :point_left:

[2021-09-07 01:58] diehlpk commented on #3274
@whedon generate pdf

[2021-09-07 01:59] whedon commented on #3274
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: :point_left:

[2021-09-07 02:03] diehlpk commented on #3274
@clavigne Could you please check the blue names with the question mark at the end?

It seems that they are rendered as links, however, these are not links. Are these GitHub usernames? If so, the @ could be the problem.

[code]

[2021-09-07 02:05] diehlpk commented on #3274
@clavigne

[code]

I think it could be nice to refer to

https://github.com/aspuru-guzik-group/funsies/blob/master/CONTRIBUTING.md

in the sentence above.

[2021-09-07 02:08] diehlpk commented on #3274
@clavigne I just got power back and will read your paper the next days, and we should be able to finalize your paper by the end of this week.

[2021-09-07 04:20] whedon commented on #3651
:wave: @matt-graham, please update us on how your review is going (this is an automated reminder).

[2021-09-07 04:20] whedon commented on #3651
:wave: @georgiastuart, please update us on how your review is going (this is an automated reminder).

[2021-09-07 06:47] csoneson commented on #3661
Thank you @kellieotto!

[2021-09-07 07:03] janfb commented on #3545
@whedon generate pdf

[2021-09-07 07:04] whedon commented on #3545
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: :point_left:

[2021-09-07 07:07] lucaferranti commented on #3641
@whedon generate pdf

[2021-09-07 07:08] whedon commented on #3641
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03641/joss.03641/10.21105.joss.03641.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03641/joss.03641/10.21105.joss.03641.pdf) :page_facing_up: :point_left:

[2021-09-07 07:09] janfb commented on #3545
Alright, sorry for the delay. I created issues with review suggestions in the package repository. All of them have been addressed and closed now.
I am happy to accept this paper as well! 🥳
Well done @Saran-nns 💯

[2021-09-07 07:11] lucaferranti commented on #3641
@whedon check doi

[2021-09-07 07:11] whedon commented on #3641
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-07 07:11] lucaferranti commented on #3641
@whedon commands

[2021-09-07 07:11] whedon commented on #3641
Here are some things you can ask me to do:

[code]

[2021-09-07 07:13] lucaferranti commented on #3641
@whedon check references

[2021-09-07 07:13] whedon commented on #3641
[code]

[2021-09-07 07:45] whedon commented on #3652
:wave: @assenmacher-mat, please update us on how your review is going (this is an automated reminder).

[2021-09-07 07:45] whedon commented on #3652
:wave: @sara-02, please update us on how your review is going (this is an automated reminder).

[2021-09-07 07:50] lucaferranti commented on #3641
Hi @thomgrand 👋 ! Very nice work! Here are some comments:

### Documentation
- [ ] The installation instructions in the documentation (and in the paper) mention to first run `pip install cython`, this is not mentioned in the installation instructions in the readme.
- [ ] It would be nice to include the script to reproduce the benchmarks in the documentation. If the script is too long,  the documen

[2021-09-07 07:50] martinmodrak commented on #3639
Hi, the application area is mostly outside my expertise, but I can review the software engineering aspects of the work, if that's enough.

[2021-09-07 07:53] gcattan commented on #3685
Hi,
Sorry. It was not clear to me what was a GitHub handle.
Please find my GitHub account here:

https://github.com/gcattan

... and also my GitLab where this repository belongs:

https://gitlab.com/programgreg

[2021-09-07 08:45] arfon commented on #3663
Certainly! I'm more than happy to hear your recommendations 😄 🙇

[2021-09-07 08:48] xuanxu commented on #3641
Yes, we prefer papers with the *Statement of Need* as a separate section.

[2021-09-07 10:00] FTurci commented on #3662
I am glad to accept the invitation to review the work.

[2021-09-07 10:36] osorensen commented on #3692
@FranciscoReveriano @pmeier @Het-Shah would any of you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-09-07 10:39] ArneTillmann commented on #3663
I went through the list and found these reviewers:
desilinguist, sjvrijn, alexhanna, ahurriyetoglu and UTH-Tuan

[2021-09-07 11:07] pmeier commented on #3692
@osorensen Depends on what you are looking for. I have no experience with _variational Gaussian processes_ (VGPs), which seem to play a major part in the package. Willing to look into them though.

[2021-09-07 11:11] Kevin-Mattheus-Moerman commented on #3611
@mikesmithlab are you able to add clearly documented automated (or manual) tests?

[2021-09-07 11:37] whedon opened #3696 "[PRE REVIEW]: W2W: A Python package that injects WUDAPT’s Local Climate Zone information in WRF"
**Submitting author:** @matthiasdemuzere (<a href="http://orcid.org/0000-0003-3237-4077">Matthias Demuzere</a>)
**Repository:** <a href="https://github.com/matthiasdemuzere/w2w" target ="_blank">https://github.com/matthiasdemuzere/w2w</a>
**Version:** v0.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-09-07 11:37] whedon commented on #3696
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-07 11:37] whedon commented on #3696
Wordcount for `paper.md` is 1800

[2021-09-07 11:37] whedon commented on #3696
[code]

[2021-09-07 11:37] whedon commented on #3696
[code]

[2021-09-07 11:37] whedon commented on #3696
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03696/joss.03696/10.21105.joss.03696.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03696/joss.03696/10.21105.joss.03696.pdf) :page_facing_up: :point_left:

[2021-09-07 11:44] arfon commented on #3696
@matthiasdemuzere – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's suggestions are not always right), you can, the

[2021-09-07 11:44] arfon commented on #3696
@whedon query scope

[2021-09-07 11:44] whedon commented on #3696
Submission flagged for editorial review.

[2021-09-07 11:44] whedon opened #3697 "[PRE REVIEW]: epyc: Computational experiment management in Python"
**Submitting author:** @simoninireland (<a href="http://orcid.org/0000-0001-9633-2103">Simon Dobson</a>)
**Repository:** <a href="https://github.com/simoninireland/epyc" target ="_blank">https://github.com/simoninireland/epyc</a>
**Version:** 1.5.1
**Editor:** @ajstewartlang
**Reviewers:** @zbeekman, @lorenzo-rovigatti
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:*

[2021-09-07 11:44] whedon commented on #3697
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-07 11:44] whedon commented on #3697
Wordcount for `paper.md` is 932

[2021-09-07 11:44] whedon commented on #3697
PDF failed to compile for issue #3697 with the following error:
[code]

[2021-09-07 11:44] whedon commented on #3697
[code]

[2021-09-07 11:44] whedon opened #3698 "[PRE REVIEW]: PyGEE-SWToolbox: A Python Jupyter Notebook toolbox for interactive surface water mapping and analysis using Google Earth Engine"
**Submitting author:** @collinsowusu (<a href="http://orcid.org/0000-0001-6754-9311">Collins Owusu</a>)
**Repository:** <a href="https://github.com/collinsowusu/PyGEE-SWToolbox" target ="_blank">https://github.com/collinsowusu/PyGEE-SWToolbox</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-09-07 11:45] whedon commented on #3698
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-07 11:45] whedon commented on #3698
Wordcount for `paper.md` is 712

[2021-09-07 11:45] whedon commented on #3698
[code]

[2021-09-07 11:45] whedon commented on #3698
[code]

[2021-09-07 11:45] whedon commented on #3698
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03698/joss.03698/10.21105.joss.03698.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03698/joss.03698/10.21105.joss.03698.pdf) :page_facing_up: :point_left:

[2021-09-07 11:45] matthiasdemuzere commented on #3696
The two people that are best positioned to review this software are Alberto Martilli (https://github.com/albertomartilli) and Oscar Brousse (https://github.com/oscarbrousse), the authors of the Fortran-based Wudapt-to-Wrf packages that was launched in 2016.

[2021-09-07 11:47] whedon opened #3699 "[PRE REVIEW]: SPbLA: The Library of GPGPU-powered Sparse Boolean Linear Algebra Operations"
**Submitting author:** @EgorOrachyov (<a href="http://orcid.org/0000-0002-0424-4059">Egor Orachev</a>)
**Repository:** <a href="https://github.com/JetBrains-Research/spbla" target ="_blank">https://github.com/JetBrains-Research/spbla</a>
**Version:** v1.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @abb58, @mlxd
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-09-07 11:47] whedon commented on #3699
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-07 11:47] whedon commented on #3699
Wordcount for `paper.md` is 394

[2021-09-07 11:47] whedon commented on #3699
PDF failed to compile for issue #3699 with the following error:
[code]

[2021-09-07 11:47] whedon commented on #3699
[code]

[2021-09-07 11:47] arfon commented on #3699
@whedon generate pdf from branch joss-paper

[2021-09-07 11:47] whedon commented on #3699
[code]

[2021-09-07 11:47] whedon commented on #3699
[code]

[2021-09-07 11:47] whedon commented on #3699
PDF failed to compile for issue #3699 with the following error:
[code]

[2021-09-07 11:50] arfon commented on #3699
@EgorOrachyov – apologies, but we need you to convert your SVG images to PNGs. (I realize this will have worked fine with the GitHub Action). Could you do that please?

[2021-09-07 11:52] arfon commented on #3697
:wave: @simoninireland – looks like there are some whitespace issues with your `paper.md` YAML header (see how GitHub is rendering here: https://github.com/simoninireland/epyc/blob/master/paper.md). Could you please fix it up and test here with `@whedon generate pdf`

[2021-09-07 11:54] matthiasdemuzere commented on #3696
Ok, interesting. I did not realize about this size criterion.

In my defence: this code does exactly what is mentioned under the "substantial scholarly effort" section: it makes addressing research challenges significantly better. In this particular case: inserting detailed information on urban form and functions into the globally most widely used weather and climate model WRF. Many researchers ha

[2021-09-07 11:54] arfon commented on #3698
@whedon query scope

@collinsowusu – many thanks for your submission to JOSS. I'm flagging this for a scope query by our wider editorial team (this will likely take 7-10 days) because this submission is a little unusual for us (primarily in the form of a notebook).

[2021-09-07 11:54] whedon commented on #3698
Submission flagged for editorial review.

[2021-09-07 11:54] elbeejay commented on #3544
@whedon generate pdf from branch joss

[2021-09-07 11:54] whedon commented on #3544
[code]

[2021-09-07 11:55] elbeejay commented on #3544
@whedon check references from branch joss

[2021-09-07 11:55] whedon commented on #3544
[code]

[2021-09-07 11:55] whedon commented on #3544
[code]

[2021-09-07 11:55] whedon commented on #3544
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: :point_left:

[2021-09-07 11:57] EgorOrachyov commented on #3699
Yes, sure. I've already pushed figures converted to PNGs.

Best regards,
Egor Orachev

вт, 7 сент. 2021 г. в 14:50, Arfon Smith ***@***.***>:

[2021-09-07 12:08] matthiasdemuzere commented on #3696
I just checked the above missing DOI. It is actually fine, it refers to the [pre-print of a paper]https://www.essoar.org/doi/10.1002/essoar.10506675.1) that is currently still under review.

So I assume nothing needs to be done here?

[2021-09-07 12:09] osorensen commented on #3692
@pmeier, thanks for responding so quickly. From your GitHub profile, you seem highly competent in software for machine learning, and I hence think you would be a very good reviewer for this submission. In the typical JOSS papers the underlying methodology should be described elsewhere and referenced, so the reviewers don't necessarily need to be experts on all those aspects.

If that sounds fine w

[2021-09-07 12:25] elbeejay commented on #3544
Hi @jessecambon and coauthors, I'm pleased to see that the reviewers have completed their review of your package. I have a few minor clarifications and changes of my own to request.

- As you can see in the reference check above, whedon has flagged the DOI for `ggmap` as missing. Please check that you are correctly citing that package. There appear to be multiple accepted ways of citing it: [metho

[2021-09-07 12:27] whedon commented on #3653
:wave: @lorenzo-rovigatti, please update us on how your review is going (this is an automated reminder).

[2021-09-07 12:27] whedon commented on #3653
:wave: @junghans, please update us on how your review is going (this is an automated reminder).

[2021-09-07 12:33] simoninireland commented on #3697
@whedon generate pdf

[2021-09-07 12:33] whedon commented on #3697
PDF failed to compile for issue #3697 with the following error:
[code]

[2021-09-07 12:37] Thomieh73 commented on #3678
@csoneson Hi, I am having issues with notifications from this repo. I am receiving all notifications from this entire repo. I have pushed the button to unsubscribe from this thread, but somehow I am stil receiving all notifications from this repo. Any suggestions on how to solve this.
It drives me nuts to have 100 mails in my mailbox everyday that are not relevant.

[2021-09-07 12:38] simoninireland commented on #3697
@whedon generate pdf

[2021-09-07 12:38] whedon commented on #3697
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03697/joss.03697/10.21105.joss.03697.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03697/joss.03697/10.21105.joss.03697.pdf) :page_facing_up: :point_left:

[2021-09-07 12:39] simoninireland commented on #3697
@arfon That would have been Emacs tabify doing its thing... Fixed now :-)

[2021-09-07 12:40] csoneson commented on #3678
@Thomieh73 - check the instructions in the second post above: https://github.com/openjournals/joss-reviews/issues/3678#issuecomment-909628355

[2021-09-07 12:43] EgorOrachyov commented on #3699
@whedon generate pdf

[2021-09-07 12:43] whedon commented on #3699
PDF failed to compile for issue #3699 with the following error:
[code]

[2021-09-07 12:46] Het-Shah commented on #3692
@osorensen Thank you for the request to review. I agree with @pmeier, I do not have experience with VGPs. I am willing to have a look through the work if a reviewer is still needed.

[2021-09-07 12:47] Thomieh73 commented on #3678
@csoneson Thanks I had completely forgotten about that option at github. :-)

[2021-09-07 12:48] whedon commented on #3699
[code]

[2021-09-07 12:48] whedon commented on #3699
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03699/joss.03699/10.21105.joss.03699.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03699/joss.03699/10.21105.joss.03699.pdf) :page_facing_up: :point_left:

[2021-09-07 12:52] betteridiot commented on #3639
@fboehm Like @billdenney, I do not have the bandwidth for this right now. I am sorry.

[2021-09-07 12:58] assenmacher-mat commented on #3652
still struggling a little bit with the runtime on my cpu machine, but everythin seems to work. Should be done by the end of this week.

[2021-09-07 13:01] TahiriNadia commented on #3692
@osorensen Can you tell me how many days we have to revise the article? please.

[2021-09-07 13:10] jshipton commented on #3380
Apologies for the slow reply - I've been on leave and am now at a conference. I was in touch with the author (see https://github.com/jcorbino/mole/issues/8) about installation instructions for Macs...

[2021-09-07 13:14] fraukewiese commented on #3695
Absolutely! #3695, sorry for that, I have corrected it.

[2021-09-07 13:16] jessecambon commented on #3544
Hi @elbeejay, thanks. I've made those two changes and the Zenodo archive is here : https://zenodo.org/record/4686074#.YTdlIfxKiV5 (github release v1.0.3). I double checked Zenodo metadata and it is correct.

[2021-09-07 13:21] fraukewiese commented on #3625
Sorry for mentioning this issue in another one, that was a mistake and I cannot delete it anymore, so please just ignore the HydDown: ... mentioning in this review here.

[2021-09-07 13:33] osorensen commented on #3692
@TahiriNadia, I hope that you can starting with the review within 2-3 weeks, but we try to be flexible in these special times. It is very hard to say how long the review process will last. In JOSS reviews we typically let the submitting authors improve the software based on the reviewers' feedback, so it may be that you first do an initial review, and then come back in a month or so to evaluate wh

[2021-09-07 13:33] osorensen commented on #3692
@whedon add @pmeier as reviewer

[2021-09-07 13:33] whedon commented on #3692
OK, @pmeier is now a reviewer

[2021-09-07 13:34] osorensen commented on #3692
@whedon add @Het-Shah as reviewer

[2021-09-07 13:34] whedon commented on #3692
OK, @Het-Shah is now a reviewer

[2021-09-07 13:34] osorensen commented on #3692
@whedon start review

[2021-09-07 13:34] whedon opened #3700 "[REVIEW]: UnlockNN: Uncertainty quantification for neural network models of chemical systems"
**Submitting author:** @a-ws-m (<a href="http://orcid.org/0000-0001-7525-1419">Alexander Moriarty</a>)
**Repository:** https://github.com/a-ws-m/unlockNN/
**Branch with paper.md** (empty if default branch):
**Version:** v2.0.2
**Editor:** @osorensen
**Reviewers:** @TahiriNadia, @pmeier, @Het-Shah
**Archive:** 10.5281/zenodo.6799685

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-09-07 13:34] whedon commented on #3692
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3700.

[2021-09-07 13:34] #3692 closed

[2021-09-07 13:34] whedon commented on #3700
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TahiriNadia, @pmeier, @Het-Shah it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2021-09-07 13:34] whedon commented on #3700
Wordcount for `paper.md` is 555

[2021-09-07 13:34] whedon commented on #3700
[code]

[2021-09-07 13:34] whedon commented on #3700
[code]

[2021-09-07 13:35] osorensen commented on #3700
@TahiriNadia, @pmeier, @Het-Shah thanks for agreeing to review this submission. This is the review issue, andd you find your review checklist above. Please reach out to me if you have any questions.

[2021-09-07 13:38] ftarlaci commented on #3692
Sorry I missed this. Since you have found enough reviewers for this submission, please consider me for future submissions. Thank you!

[2021-09-07 13:42] osorensen commented on #3597
Dear @ravibandaru-lab
After reading through the paper once more, and testing the submitted software, I am not sure whether the software is within the scope of JOSS. I will therefore pause this review for now, and discuss with the other JOSS editors' whether the submission is within scope.

In particular, whereas the submitted manuscript describes that 'mednoise' contains several algorithms for ana

[2021-09-07 13:42] osorensen commented on #3597
@kasbohm and @ethanknights, I pause this review for now, and will get back to you in due time.

[2021-09-07 13:43] osorensen commented on #3692
Thanks @ftarlaci, I'll get back to you later :)

[2021-09-07 13:50] phoebe-p commented on #3460
@EricaEgg do you have any comments /issues so far?

[2021-09-07 14:02] wesleyburr commented on #2694
@whedon generate pdf

[2021-09-07 14:03] whedon commented on #2694
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02694/joss.02694/10.21105.joss.02694.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02694/joss.02694/10.21105.joss.02694.pdf) :page_facing_up: :point_left:

[2021-09-07 14:03] wesleyburr commented on #2694
@tystan Can you check over this version now, please? I think we're pretty much done!

[2021-09-07 14:36] elbeejay commented on #3544
@whedon set 10.5281/zenodo.4686074 as archive

[2021-09-07 14:36] whedon commented on #3544
OK. <a href="https://doi.org/10.5281/zenodo.4686074" target="_blank">10.5281/zenodo.4686074</a> is the archive.

[2021-09-07 14:42] elbeejay commented on #3544
@whedon generate pdf from branch joss

[2021-09-07 14:42] whedon commented on #3544
[code]

[2021-09-07 14:43] elbeejay commented on #3544
@whedon check references from branch joss

[2021-09-07 14:43] whedon commented on #3544
[code]

[2021-09-07 14:43] whedon commented on #3544
[code]

[2021-09-07 14:43] whedon commented on #3544
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: :point_left:

[2021-09-07 14:45] elbeejay commented on #3544
@whedon recommend-accept

[2021-09-07 14:45] whedon commented on #3544
[code]

[2021-09-07 14:46] whedon commented on #3544
PDF failed to compile for issue #3544 with the following error:
[code]

[2021-09-07 14:47] elbeejay commented on #3544
@whedon recommend-accept from branch joss

[2021-09-07 14:47] whedon commented on #3544
[code]

[2021-09-07 14:48] whedon commented on #3544
[code]

[2021-09-07 14:48] whedon commented on #3544
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2571

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2571, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-07 14:50] elbeejay commented on #3544
@jessecambon and co-authors: I've recommended that your submission be accepted and published. Final steps will be handled by one of the EiCs. Many thanks to both @cole-brokamp and @tsamsonov for their reviews.

[2021-09-07 14:57] josephhardinee commented on #3219
Sorry, I accepted this then changed jobs and this fell off radar. I will get this done this week.

[2021-09-07 15:12] ravibandaru-lab commented on #3597
Hello @osorensen!

Hopefully I can clear up some misconceptions/misunderstandings surrounding mednoise.

_mednoise_ is not a tool to **analyze** medical imaging data. I've read over my paper once more to make sure that I didn't make any claims to _mednoise_'s functionality as tool to **analyze** medical imaging data. _mednoise_ is simply a tool to **process** medical images to improve the accuracy

[2021-09-07 15:22] junghans commented on #3653
Done.

[2021-09-07 15:48] dfm commented on #3559
@soffner: I'm really sorry about the slow response over here! I've been working on recruiting reviewers, but things have been slow (in large part my fault!) so hopefully I'll have two lined up soon. Thanks for your patience!

In response to your comments above:

1. I can see some inconsistency between the closed development model that you describe and the [JOSS "Community guidelines" checklist req

[2021-09-07 15:52] dfm commented on #3199
@kburns, @MilesCranmer — Thanks for your constructive reviews! I really appreciate the time that you took to contribute.

@pikarpov-LANL — Thanks for all your work responding to these reviews and for your submission! Give me a few days to do some final edits and then I'll have a couple of last tasks for you before publication.

[2021-09-07 15:52] fboehm commented on #3639
@martinmodrak - Thanks so much! Yes, it would be great if you can review the software engineering aspects of the work. That would be very helpful, indeed! I want to find a second reviewer before we proceed. I hope that we can start the review in the next week or so. So you don't need to do anything immediately - I'll let you know when we can officially start the review. Thanks again!

[2021-09-07 15:52] fboehm commented on #3639
@whedon assign @martinmodrak as reviewer

[2021-09-07 15:53] whedon commented on #3639
OK, @martinmodrak is now a reviewer

[2021-09-07 15:53] fboehm commented on #3639
@betteridiot - No problem. I really appreciate the reply. I hope that we might work together on a future submission. Thanks again!

[2021-09-07 15:58] mkolopanis commented on #3676
@dfm I wanted to disclose some potential COI I have with this review.

Both Jack Line and myself are collaborators on the Murchison Widefield Array (MWA, the array for which WODEN is specifically designed).
I would like to request this COI be waived since we work independently with no direct communication or collaboration on any papers or projects.

Much of Jack's work focuses on the Real Time Sys

[2021-09-07 16:50] dhhagan commented on #3219
No problem, @josephhardinee - thanks so much for the quick reply!

[2021-09-07 17:06] heacosta commented on #2692
Hello, the last suggestions that were asked were answered on June 12. Since then we have not received any new requests. Thank you in advance for reviewing the status of the review.

[2021-09-07 17:13] dfm commented on #3676
@mkolopanis: Thanks for this! I am happy to waive this COI since the collaboration is large and if you feel you can provide an impartial review and if @JLBLine is happy with that. Let me know here or via email if you have any concerns about this. Thanks!

[2021-09-07 17:14] simonpcouch commented on #3661
Thank you @kellieotto! These are really helpful. Getting started on your feedback this morning.

[2021-09-07 17:15] mfastudillo commented on #3392
As far as I am concerned the requirements for publication are met. Apologies for the delay in the review.

[2021-09-07 18:12] chartgerink commented on #3660
@whedon add @alexanderfurnas as reviewer

[2021-09-07 18:12] uecker commented on #3500
Two issues I raised so far:
https://github.com/spinicist/riesling/issues/27
https://github.com/spinicist/riesling/issues/28

[2021-09-07 18:12] whedon commented on #3660
OK, @alexanderfurnas is now a reviewer

[2021-09-07 18:17] mschordan commented on #3519
@fAndreuzzi
1) You write: "We found some sparse implementations of the most famous algorithm for the computation of the maximum bisimulation (Paige-Tarjan), however the source code lacked documentation and test cases, and did not seem to be intended for distribution."

This may sound strange to a reader. How did you find it, when it was not intended for distribution? Can you provide a reference? I

[2021-09-07 18:20] osorensen commented on #3459
Dear @oesteban and @mgxd, could you please update us on how it is going responding to the last points raised by the reviewers?

[2021-09-07 18:22] osorensen commented on #3597
Thanks for explaining @ravibandaru-lab. I will bring it on to the other editors, and you can expect to hear back from us in a week or two.

[2021-09-07 18:59] csoneson commented on #3392
Thank you @mfastudillo!

In the meanwhile, I have reached out to @tngTUDOR offline as well.

[2021-09-07 19:14] bmcfee commented on #3540
:wave: just checking in to see where we're at with this one -- @brunaw still has many outstanding checkboxes, @rrrlw has only a couple left.

[2021-09-07 19:19] kbarnhart commented on #3689
@kyleniemeyer I can confirm that I don't have the bandwidth right now to take this on. I did take a really quick look and it seems like this is missing some major elements. I thought I'd chime in quickly to provide that feedback to @mdhurst1 and co-authors so they could consider this input as they wait for an editor to be available.

Martin - it looks like this is presently missing the following e

[2021-09-07 21:27] jgostick commented on #3458
Thanks so much @jamesrhester.  @ml-evs, sorry for the delay.  Its seems that all the reviews I have on my plate right now are all stuck in one way or another.  I contacted @hungpham2017 and they are still on board to do the review, so let's give them some more time.

[2021-09-07 22:12] rkurchin commented on #3545
:tada: Congrats @Saran-nns! Now I get to do the "editing" part of my editor job. Here are a few small editorial/stylistic tweaks for the manuscript:
* line 7: need space between "neural" and "(SORN)"
* 11: need another comma after "namely"
* 14: insert "a" between "tools," and "SORN"
* 17: instead of 'sorn', I suggest you put `sorn` with backticks (`) to get monospace typesetting (change in every

[2021-09-07 22:21] steo85it commented on #3495
Just FYI, I'm out of office (w/o laptop) most of this week. I'll review your changes asap. (What I quickly saw looks good though, thanks)

[2021-09-07 22:23] MikeHeiber commented on #3412
Sorry for the slow response. I've been on holiday the past several days. Unfortunately, I must declare a conflict of interest to providing an unbiased review. I am a recent collaborator of the author's. I would suggest @roderickmackenzie (roderick.mackenzie@nottingham.ac.uk) who has published related simulation codes in the past. He is also much more of an expert in the details of drift-diffusion

[2021-09-07 22:25] rkurchin commented on #3412
No problem. Thanks for the straightforwardness and alternative suggestion! @roderickmackenzie, we'd love to have your help here if you're willing! We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-09-07 22:26] rkurchin commented on #3564
👋 @rashti-alireza, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Please feel free to let me know if you have any questions about the process.

[2021-09-07 22:51] simonpcouch commented on #3661
Okay, addressed in tidymodels/infer#418 and tidymodels/infer#417, respectively. Thanks again!

[2021-09-07 23:03] kellieotto commented on #3661
Looks great! I recommend this package be accepted.

[2021-09-07 23:34] athulpg007 commented on #3681
@jbytecode salbert21 is willing to be a reviewer if needed. If the editor wishes, please tag him. I could also review the list shared earlier suggest more reviewers, if needed. Let me know, thanks!

[2021-09-07 23:37] Saran-nns commented on #3545
Hi @rkurchin
I edited the manuscript as you suggest, thank you :)

[2021-09-07 23:42] jbytecode commented on #3681
@athulpg007 just because we have invited someone else, it is convenient to wait a little bit to  get a response. salbert21 seems to be a relatively young researcher so you can prepare a suggestion sublist using the reviewer list if we fail to get a response later.

[2021-09-07 23:48] athulpg007 commented on #3681
Sure, we will do that. Thanks!

[2021-09-08 01:06] JLBLine commented on #3676
@dfm @mkolopanis Yup happy to have the COI waived, makes sense to me

[2021-09-08 02:55] steo85it commented on #3681
Hi! I won't be able to review the code at this time, sorry...

[2021-09-08 05:06] malmaud commented on #3527
Sorry, the invitation link has expired. Can you resend it?

[2021-09-08 05:45] osorensen commented on #3683
@whedon assign @osorensen as editor

[2021-09-08 05:45] whedon commented on #3683
OK, the editor is @osorensen

[2021-09-08 05:46] osorensen commented on #3683
Hello @richrobe, I'm the editor for this submission now. Thanks for suggesting potential reviewers.

[2021-09-08 05:47] osorensen commented on #3683
@SachaEpskamp @DominiqueMakowski would you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-09-08 07:00] assenmacher-mat commented on #3652
Two small issues:
- Maybe there should also be an explicit manual on how exactly install pytoch w/o gpu
- Regarding the point I haven't marked (see above): I could not find any comment regarding this

[2021-09-08 08:30] temken commented on #3583
Hi @lucydot,

I would suggest bradkav, villaa, or rafaelab based on the list.

Thanks for taking care of my submission!

[2021-09-08 08:49] rMassimiliano commented on #3527
Hi @adi3, my invitation expired too. Sorry for the inconvenience.

[2021-09-08 09:08] arfon commented on #3687
Thanks for your submission to JOSS @cdcrabtree. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2021-09-08 09:08] arfon commented on #3687
@whedon reject

[2021-09-08 09:08] whedon commented on #3687
Paper rejected.

[2021-09-08 09:08] #3687 closed

[2021-09-08 09:09] whedon opened #3701 "[PRE REVIEW]: Tagging Latency Estimator: A Standalone Software for Estimating Latency of Event-Related Potentials in P300-based Brain-Computer Interfaces"
**Submitting author:** @gcattan (<a href="http://orcid.org/0000-0002-7515-0690">Grégoire CATTAN</a>)
**Repository:** <a href="https://gitlab.com/programgreg/tagginglatencyestimator" target ="_blank">https://gitlab.com/programgreg/tagginglatencyestimator</a>
**Version:** v0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2021-09-08 09:09] whedon commented on #3701
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-08 09:09] whedon commented on #3701
Wordcount for `paper.md` is 444

[2021-09-08 09:09] whedon commented on #3701
[code]

[2021-09-08 09:09] whedon commented on #3701
[code]

[2021-09-08 09:09] whedon commented on #3701
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03701/joss.03701/10.21105.joss.03701.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03701/joss.03701/10.21105.joss.03701.pdf) :page_facing_up: :point_left:

[2021-09-08 09:13] DominiqueMakowski commented on #3683
Thanks @osorensen for the invite, and hi @richrobe and @SachaEpskamp nice seeing y'all here ☺️

May I recommend my ECR colleague @zen-juen to officially take this review instead of me?

[2021-09-08 09:15] arfon commented on #3696
Thanks for the additional context @matthiasdemuzere. The editorial team will use this when making their assessment.

:+1: yep, I think we're good for now.

[2021-09-08 09:18] osorensen commented on #3683
Thanks for the recommendation @DominiqueMakowski!

@zen-juen, would you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-09-08 09:33] matthiasdemuzere commented on #3696
perfect, thanks.

There is one additional item I would like to mention, something I was reminded about by my co-author @dargueso.

Initially we had a private repo for this development, as it is part of a larger research project. This repo was launched March 8, and has 54 commits from all co-authors involved. Yet as we noticed there was already a big interest in this tool, we decided to move it to

[2021-09-08 09:57] SachaEpskamp commented on #3683
Sorry I am on leave and cannot do reviews at this point. I also don't really know Python..

[2021-09-08 10:05] thejasvibr commented on #3590
Hi @faroit,
Thanks for getting back - no worries at all. No objections to ```nils-werner```, don't see a conflict of interest and would be great to have someone who's not from the same field as reviewer.

Will start working on the missing DOIs!

[2021-09-08 10:20] osorensen commented on #3683
Thanks for your quick response @SachaEpskamp!

[2021-09-08 10:21] faroit commented on #3590
👋  @nils-werner @DrMarc - would any of you be willing to review this submission for JOSS? The JOSS review process takes place on GitHub and focuses on the software and a short paper. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [beamshapes: a Python package t

[2021-09-08 10:23] osorensen commented on #3683
@espenhgn @torbjone would any of you be interested in reviewing this submission to the Journal of Open Source Software? It seems to be within your areas of expertise.

[2021-09-08 10:27] faroit commented on #3347
@whedon remind @baileythegreen in 1 weeks

[2021-09-08 10:28] whedon commented on #3347
Reminder set for @baileythegreen in 1 weeks

[2021-09-08 10:29] ChrisW09 commented on #3663
@arfon Hopefully one of the reviewers that @ArneTillmann suggested will be curious to review our paper and also find the time... 😄

[2021-09-08 10:44] marcosvital commented on #2692
Thank you, @heacosta. I'll generate a new version of the manuscript.

Dear @SteveViss and @62442katieb, thank you for your patience and all the work you've done so far. I'm generating an updated proof and you can also check the updated documentation referred by @Manolomon above. Can you proceed with the reviewing process from there?

[2021-09-08 10:44] marcosvital commented on #2692
@whedon generate pdf

[2021-09-08 10:45] whedon commented on #2692
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02692/joss.02692/10.21105.joss.02692.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02692/joss.02692/10.21105.joss.02692.pdf) :page_facing_up: :point_left:

[2021-09-08 10:54] marcosvital commented on #3444
Hello again, @rerickson-usgs! It seems that @MikeKaller is generally satisfied with the submission, but there are three issues linked on his reviewing checklist (check above). Did you had the chance to look into them? When addressing them, please create a copy on the original repository if @MikeKaller alredy didn't do that.

[2021-09-08 10:54] marcosvital commented on #3444
Dear @BrandonEdwards, did you had the chance to start reviewing this submission? Let me know if you need any assistance, ok?

[2021-09-08 10:57] crvernon commented on #3670
:wave: @Zac-HD or @hobu - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-09-08 10:58] marcosvital commented on #3220
Dear @gmyenni and @juniperlsimonis. I hope that everything is fine with both of you.
Please let us know when you are ready to work on this submission again, ok? Also, let me know if you need any assistance from me.

[2021-09-08 11:06] crvernon commented on #3634
:mega:  Mid-week rally!  Looks like we have some active issues that progress is being made on @irinagain , @muellsen , and @mingzehuang !

Thanks @corybrunson and @rmflight for providing your feedback so far!

👏 Keep up the good work!

[2021-09-08 11:08] Zac-HD commented on #3670
Sorry, I'm swamped at the moment - new job next week *and* thesis review imminent 😅

[2021-09-08 11:10] crvernon commented on #3670
Thanks for the quick reply @Zac-HD and no problem!  Best wishes for your upcoming endeavors!

[2021-09-08 11:20] zen-juen commented on #3683
Thanks for recommending @DominiqueMakowski! I will be happy to review this submission @osorensen

[2021-09-08 11:20] broncio123 commented on #3482
Hi @jmbr , I hope you're doing well.

I wondering if you could help me with this query of mine, please.
https://github.com/openjournals/joss-reviews/issues/3482#issuecomment-910322939

If there's any other issue, please, just give us a shout and we'll look into it :)

[2021-09-08 11:21] broncio123 commented on #3482
Awesome! 😎

[2021-09-08 11:43] torbjone commented on #3683
Hi, thanks for the invitation, @osorensen, but sadly I have to decline, maybe next time :-)

[2021-09-08 11:48] felixchenier commented on #3343
Good morning @meg-simula

Just a reminder that this manuscript has now been in pre-review for three months. I certainly don't want to look insistant, it is simply a reminder.

Thank you

[2021-09-08 12:16] osorensen commented on #3683
That's very fine @torbjone. Thanks for responding quickly!

[2021-09-08 12:16] osorensen commented on #3683
@whedon add @zen-juen as reviewer

[2021-09-08 12:16] whedon commented on #3683
OK, @zen-juen is now a reviewer

[2021-09-08 12:18] Saran-nns commented on #3545
@whedon generate pdf

[2021-09-08 12:18] whedon commented on #3545
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: :point_left:

[2021-09-08 12:26] espenhgn commented on #3683
Hi @osorensen, I think I can do this if you need another reviewer.

[2021-09-08 12:39] moorepants commented on #3343
No I can't, as I have a large review obligation elsewhere at the moment.

[2021-09-08 12:41] meg-simula commented on #3343
:wave: @ixjlyons or @melund, would either of you be available to review this submission for JOSS? Feel free to revisit the reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

[2021-09-08 12:45] osorensen commented on #3683
Thanks @espenhgn, that would be great!

[2021-09-08 12:45] osorensen commented on #3683
@whedon add @espenhgn as reviewer

[2021-09-08 12:45] whedon commented on #3683
OK, @espenhgn is now a reviewer

[2021-09-08 12:45] osorensen commented on #3683
@whedon start review

[2021-09-08 12:45] whedon opened #3702 "[REVIEW]: BioPsyKit: A Python package for the analysis of biopsychological data"
**Submitting author:** @richrobe (<a href="http://orcid.org/0000-0003-0272-5403">Robert Richer</a>)
**Repository:** <a href="https://github.com/mad-lab-fau/BioPsyKit" target ="_blank">https://github.com/mad-lab-fau/BioPsyKit</a>
**Version:** 0.3.2
**Editor:** @osorensen
**Reviewer:** @zen-juen, @espenhgn
**Archive:** <a href="https://doi.org/10.17605/OSF.IO/EBDRT" target="_blank">10.17605/OSF.IO/E

[2021-09-08 12:46] whedon commented on #3683
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3702.

[2021-09-08 12:46] #3683 closed

[2021-09-08 12:46] whedon commented on #3702
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zen-juen, @espenhgn it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-09-08 12:46] whedon commented on #3702
PDF failed to compile for issue #3702 with the following error:
[code]

[2021-09-08 12:46] whedon commented on #3702
[code]

[2021-09-08 12:46] osorensen commented on #3702
@whedon generate paper from branch joss

[2021-09-08 12:46] whedon commented on #3702
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-08 12:47] osorensen commented on #3702
@whedon generate pdf from branch joss

[2021-09-08 12:47] whedon commented on #3702
[code]

[2021-09-08 12:47] whedon commented on #3702
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03702/joss.03702/10.21105.joss.03702.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03702/joss.03702/10.21105.joss.03702.pdf) :page_facing_up: :point_left:

[2021-09-08 12:48] osorensen commented on #3702
@zen-juen and @espenhgn, thanks a lot for agreeing to review this submission.

Please see the guidelines at the top of this issue. You are very welcome to reach out to me in this thread if you have any further questions.

[2021-09-08 12:53] hobu commented on #3670
Sorry, I also don't have cycles for this. Looks interesting though!

[2021-09-08 13:13] luciorq commented on #3679
Great Work for @arianesasso and fellow `devicely` team.

The software is already in a great state and tick most JOSS requirements out of the box.
The authors went the extra mile to enhance the contribution documentation and make the software usable by the broader community.

There are some minimal issues raised in the GitHub repository that I would like to be discussed.

As already linked up here,

[2021-09-08 13:23] Saran-nns commented on #3545
@whedon generate pdf

[2021-09-08 13:23] whedon commented on #3545
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: :point_left:

[2021-09-08 13:31] Saran-nns commented on #3545
Sorry for too many trials. I found some typos in the revised manuscript above. I hope the next one should be okay.

[2021-09-08 13:31] Saran-nns commented on #3545
@whedon generate pdf

[2021-09-08 13:31] whedon commented on #3545
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: :point_left:

[2021-09-08 13:42] ejikeugba commented on #3657
@bernardsilenou thanks for accepting to review this submission.
@bisaloo, thanks for the progress thus far. While we await LucyMcGowan's reply, could we also check wesleyburr, OwenWard, or mariobecerra. They all seem to be suitable for this submission.

[2021-09-08 13:44] prdm0 commented on #3661
Dear @csoneson and @simonpcouch, at issue [#420](https://github.com/tidymodels/infer/issues/420) I leave my review for the paper. Beforehand I accept the paper, but I would be happy to see at least a prototype of my suggestion implemented. Best regards.

[2021-09-08 14:48] 62442katieb commented on #2692
Hi @marcosvital, @Manolomon, & @heacosta ! Yes, I will review the updated proof and documentation this week. Thanks for pinging me!

[2021-09-08 15:08] jbytecode commented on #3681
@steo85it thank you for informing us. hope we can work together in the future.

[2021-09-08 15:21] gcattan commented on #3701
From the list provided above, I would suggest

- jackbrookes (background in Unity/C# and HCI technologies)

Or computer scientists in cognitive engineering with background in C++/OO programming like:
- AmirHoseinHadian
- raybecker/
- aminorex
...

[2021-09-08 15:23] whedon commented on #3658
:wave: @nvanderelst, please update us on how your review is going (this is an automated reminder).

[2021-09-08 15:25] steo85it commented on #3681
Sure, with pleasure! Just a mix of bad timing and "not so well known" topic.

[2021-09-08 15:51] oneilsh commented on #3543
Thank you @nhejazi for the thorough review and suggestions for improvements!

[2021-09-08 16:02] rashti-alireza commented on #3564
Hi Rachel,
Sure.
Please let me know how I can access the code and the pertinent information.
Thanks.

*Kind regards,*
*Alireza Rashti.*

On Tue, Sep 7, 2021 at 6:27 PM Rachel Kurchin ***@***.***>
wrote:

[2021-09-08 16:11] kellyrowland commented on #3212
@whedon add @samgdotson as reviewer

[2021-09-08 16:11] whedon commented on #3212
OK, @samgdotson is now a reviewer

[2021-09-08 16:13] whedon commented on #3659
:wave: @catsch, please update us on how your review is going (this is an automated reminder).

[2021-09-08 16:13] whedon commented on #3659
:wave: @KimBaldry, please update us on how your review is going (this is an automated reminder).

[2021-09-08 16:13] rkurchin commented on #3564
@whedon add @rashti-alireza as reviewer

[2021-09-08 16:13] whedon commented on #3564
OK, @rashti-alireza is now a reviewer

[2021-09-08 16:15] rkurchin commented on #3564
@rashti-alireza, now that we have two reviewers, I'll start the review process, which will open up a new GitHub issue that will have a checklist for both you and @Sbozzolo to fill out that should also help guide you through the review process expectations. If anything is unclear, feel free to comment over there with questions!

[2021-09-08 16:15] rkurchin commented on #3564
@whedon start review

[2021-09-08 16:15] whedon opened #3703 "[REVIEW]: GRChombo: An adaptable numerical relativity code for fundamental physics"
**Submitting author:** @kaclough (<a href="http://orcid.org/0000-0001-8841-1522">Katy Clough</a>)
**Repository:** <a href="https://github.com/GRChombo/GRChombo" target ="_blank">https://github.com/GRChombo/GRChombo</a>
**Version:** v1.0
**Editor:** @rkurchin
**Reviewer:** @sbozzolo, @rashti-alireza
**Archive:** <a href="https://doi.org/10.5281/zenodo.5771949" target="_blank">10.5281/zenodo.5771949

[2021-09-08 16:15] whedon commented on #3564
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3703.

[2021-09-08 16:15] #3564 closed

[2021-09-08 16:15] whedon commented on #3703
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sbozzolo, @rashti-alireza it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-09-08 16:15] whedon commented on #3703
PDF failed to compile for issue #3703 with the following error:
[code]

[2021-09-08 16:15] rkurchin commented on #3545
@whedon check references

[2021-09-08 16:15] whedon commented on #3703
[code]

[2021-09-08 16:15] whedon commented on #3545
[code]

[2021-09-08 16:20] rkurchin commented on #3545
@Saran-nns, looks fantastic! Please just fix the couple of missing DOI's identified above and the manuscript should be pretty much set.

The next step will be to make a new tagged release of your package and archive that release (e.g. on Zenodo or figshare). Once you've done that, post the associated DOI here. Make sure the metadata matches your manuscript here.

[2021-09-08 16:22] rkurchin commented on #3703
@whedon generate pdf from branch feature/joss_paper

[2021-09-08 16:22] whedon commented on #3703
[code]

[2021-09-08 16:23] whedon commented on #3703
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03703/joss.03703/10.21105.joss.03703.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03703/joss.03703/10.21105.joss.03703.pdf) :page_facing_up: :point_left:

[2021-09-08 16:23] rkurchin commented on #3703
@whedon check references

[2021-09-08 16:45] ctdegroot commented on #3626
Unfortunately I am not available at this time

[2021-09-08 16:51] oesteban commented on #3459
Hi @osorensen, yes, I'll be working on this today and tomorrow. It's been my oversight - thank you all for your patience (esp. Peer and Roberto)

[2021-09-08 17:50] mikldk commented on #3539
@seabbs , can you please give a status of your review?

[2021-09-08 17:51] mikldk commented on #3677
@kblin, @bede, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-09-08 17:58] EricaEgg commented on #3460
Hi @phoebe-p , thanks for checking in! Sorry for the delay on this. I have been running into problems installing S4 correctly. I was hesitant to open an issue, since it is not an issue with rayflare, itself. However, it has made it impossible to run the examples. If this seems like a relevant issue for the community and that can be solved here, I can post an issue on the rayflare repo.

[2021-09-08 18:19] crvernon commented on #3670
No problem @hobu - best wishes!

[2021-09-08 18:27] arfon commented on #3663
:wave: @UTH-Tuan – you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_AuDoLab: Automatic document labelling and1 classification for extremely unbalanced data_](https://github.com/ArneTillmann/AuDoLab).

[2021-09-08 18:27] arfon commented on #3663
BTW, most of these folks are already actively reviewing a JOSS submission so I don't want to ask them to review a second paper at this time. Thanks for the suggestions though!

[2021-09-08 18:40] crvernon commented on #3670
:wave: @martibosch , @AndrewAnnex , or @evetion - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-09-08 19:45] ArkajyotiSaha commented on #3686
@arfon I have made the changes in README (under Note) to discuss in details the parts of codes which were borrowed from both the packages under consideration. In the overview section of the README, I have also briefly discussed what does our paper "Saha, Arkajyoti, Sumanta Basu, and Abhirup Datta. "Random forests for spatially dependent data." Journal of the American Statistical Association (2021)

[2021-09-08 20:09] dkauf42 commented on #3690
Hi @kyleniemeyer, thank you for the information. I just updated the paper files to resolve DOI issues.  

For reviewers, I can suggest:

- Dr. Bianca Baier (U.S. National Oceanic and Atmos. Admin.; email: Bianca.Baier@noaa.gov)
- Dr. Lesley Ott (U.S. Nat'l Aeronautics and Space Admin.; email: lesley.e.ott@nasa.gov)
- Dr. Samantha Basile (U.S. National Climate Assessment; webpage: https://www.globa

[2021-09-08 20:17] danielskatz commented on #3619
👋 @chad-iris, @cja12, @jkmacc-LANL - we're now about 3 weeks into the process.  How is it going?  I see some progress by @cja12, but no checked items from @chad-iris or @jkmacc-LANL

[2021-09-08 20:18] danielskatz commented on #3617
👋 @cmaimone, @step21 - we're now about 3 weeks into the process. How is it going? I see some progress by @step21, but no checked items from @cmaimone

[2021-09-08 20:20] danielskatz commented on #3618
👋 @tclune, @TomGoffrey, @rouson - we're now about 3 weeks into the process. How is it going? I see some progress by @tclune and @TomGoffrey, but no checked items from @rouson

[2021-09-08 20:20] danielskatz commented on #3211
👋  @antviro - Do you think you will be able get started soon?

[2021-09-08 20:21] danielskatz commented on #3607
@OlgerSiebinga - have you made progress?  I see the two issues are closed, so I assume so, but want to check.

[2021-09-08 20:22] danielskatz commented on #3607
👋 @rusu24edward, @tomalrussell - can you let us know how you are doing, and what is currently blocking you from checking additional items?

[2021-09-08 20:31] cmaimone commented on #3617
On my to-do list for next week

On Wed, Sep 8, 2021 at 3:19 PM Daniel S. Katz ***@***.***>
wrote:

[2021-09-08 21:13] Saran-nns commented on #3545
@whedon check references

[2021-09-08 21:13] whedon commented on #3545
[code]

[2021-09-08 21:16] Saran-nns commented on #3545
Hi @rkurchin,
the package is released with the tag v0.6.2-beta and the corresponding doi is DOI: 10.5281/zenodo.5496017

Thank you :)

[2021-09-08 22:09] bede commented on #3677
Hi @mikldk, to be completed by the end of this week.

[2021-09-09 00:15] mikesmithlab commented on #3611
In our installation instructions on readthedocs:
https://particle-tracker.readthedocs.io/en/master/rstfiles/installation.html

the last section says:
"Verifying the installation
To verify that the installation is working correctly you should read the getting started section which explains how to launch the software for both the precompiled and python versions. Once you have done this there are 5 e

[2021-09-09 00:51] AndrewAnnex commented on #3670
@crvernon sorry it's a very busy time for me late in my PhD

[2021-09-09 01:21] crvernon commented on #3670
No problem @AndrewAnnex , best wishes!

[2021-09-09 01:54] jgostick commented on #2976
wow, this one took a while, but it seems that it's ready to be accepted.  Both reviewers are fully satisfied.  (Note that @CFGrote and the author did most of their exchanges in the issues tracker of the official package).  I will begin moving this through the acceptance stages.  @Isurwars, you'll have a bit more to do, such as create a doi at zenodo.  I'll make a checklist below for you. Congratul

[2021-09-09 01:55] jgostick commented on #2976
- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here.
- [ ] Make sure that the title and author list (including ORCIDs) in the archive match those in t

[2021-09-09 06:46] OlgerSiebinga commented on #3607
yes, I've closed all open issues.

[2021-09-09 07:10] arfon commented on #3464
@whedon accept deposit=true

[2021-09-09 07:10] whedon commented on #3464
[code]

[2021-09-09 07:10] whedon commented on #3464
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1435863240060321796) 👈 🐦🐦🐦

[2021-09-09 07:10] whedon commented on #3464
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2572
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03464](https://doi.org/10.21105/joss.03464)
2. If everything look

[2021-09-09 07:20] arfon commented on #3464
@wxwx1993, @dilawar – many thanks for your reviews here and to @Nikoleta-v3 for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@satejsoman – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-09 07:20] #3464 closed

[2021-09-09 07:20] whedon commented on #3464
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03464/status.svg)](https://doi.org/10.21105/joss.03464)

**We need your help!**

Journal of Open Source Softwa

[2021-09-09 07:23] arfon commented on #3544
@whedon accept deposit=true from branch joss

[2021-09-09 07:23] whedon commented on #3544
[code]

[2021-09-09 07:23] whedon commented on #3544
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1435866535768301576) 👈 🐦🐦🐦

[2021-09-09 07:23] whedon commented on #3544
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2573
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03544](https://doi.org/10.21105/joss.03544)
2. If everything look

[2021-09-09 07:24] satejsoman commented on #3464
fantastic news - thank you so much @arfon, @Nikoleta-v3, @dilawar, and @wxwx1993!

[2021-09-09 07:30] arfon commented on #3544
@cole-brokamp, @tsamsonov  – many thanks for your reviews here and to @elbeejay  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

Also, congratulations to @elbeejay on editing their first JOSS submission ✨

@jessecambon – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-09 07:30] #3544 closed

[2021-09-09 07:30] whedon commented on #3544
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03544/status.svg)](https://doi.org/10.21105/joss.03544)

**We need your help!**

Journal of Open Source Softwa

[2021-09-09 07:31] whedon opened #3704 "[PRE REVIEW]: DRSP-Sim: A Simulator for Ride-Sharing with Pooling: Joint Matching, Pricing, Route Planning, and Dispatching"
**Submitting author:** @marina-haliem (<a href="http://orcid.org/0000-0002-9782-6591">Marina Haliem</a>)
**Repository:** <a href="https://github.itap.purdue.edu/Clan-labs/Dynamic-RideSharing-Pooling-Simulator" target ="_blank">https://github.itap.purdue.edu/Clan-labs/Dynamic-RideSharing-Pooling-Simulator</a>
**Version:** v1
**Editor:** @martinfleis
**Reviewer:** Pending
**Managing EiC:** Arfon Smi

[2021-09-09 07:31] whedon commented on #3704
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-09 07:31] whedon commented on #3704
Wordcount for `paper.md` is 1528

[2021-09-09 07:31] whedon commented on #3704
[code]

[2021-09-09 07:31] whedon commented on #3704
Failed to discover a valid open source license.

[2021-09-09 07:31] whedon commented on #3704
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03704/joss.03704/10.21105.joss.03704.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03704/joss.03704/10.21105.joss.03704.pdf) :page_facing_up: :point_left:

[2021-09-09 07:32] whedon commented on #3704
[code]

[2021-09-09 07:33] arfon commented on #3689
Thanks @kbarnhart. @mdhurst1 – I'm going to mark this submission as paused for now to give you a change to incorporate @kbarnhart's initial feedback.

[2021-09-09 07:39] arfon commented on #3691
@whedon invite @kellyrowland as editor

:wave: @kellyrowland – would you be willing to take this submission on for us?

[2021-09-09 07:39] whedon commented on #3691
@kellyrowland has been invited to edit this submission.

[2021-09-09 07:41] arfon commented on #3694
@whedon query scope

@yanirmr – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-09-09 07:41] whedon commented on #3694
Submission flagged for editorial review.

[2021-09-09 07:45] arfon commented on #3697
@whedon invite @ajstewartlang as editor

:wave: @ajstewartlang – this looks like it could be up your street. Do you think you could handle this submission for us?

[2021-09-09 07:45] whedon commented on #3697
@ajstewartlang has been invited to edit this submission.

[2021-09-09 07:51] ChrisW09 commented on #3663
@arfon This makes a lot of sense. Anyway, we also will search for further potential reviewers. Hopefully, we can start with the review soon. Thank you!

[2021-09-09 07:51] Bisaloo commented on #3657
Thanks for the suggestions! Looking at their GitHub profiles, they all seem to be able to produce an interesting review for this paper indeed.

@wesleyburr, @OwenWard, @mariobecerra, would one of you be available to review this R package for JOSS. So you don't have to scroll, [this is the manucript](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03657/joss.03657/10.21105.joss.0365

[2021-09-09 08:00] arfon commented on #3699
@whedon invite @Nikoleta-v3 as editor

👋 @Nikoleta-v3 – would you be willing to take this submission on for us?

[2021-09-09 08:05] Nikoleta-v3 commented on #3699
@whedon assign @Nikoleta-v3  as editor

[2021-09-09 08:05] arfon commented on #3124
FYI I just emailed @abhishekbajpayee to see when they might be able to complete their review by.

[2021-09-09 08:05] whedon commented on #3699
OK, the editor is @Nikoleta-v3

[2021-09-09 08:07] arfon commented on #3701
@gcattan – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-09-09 08:11] arfon commented on #3704
@whedon invite @martinfleis as editor

:wave: @martinfleis – I realize this might be somewhat outside your field but I _think_ you're our editor closest to this area. Would you be willing to take this submission on for us?

[2021-09-09 08:11] whedon commented on #3704
@martinfleis has been invited to edit this submission.

[2021-09-09 08:12] arfon commented on #3704
@marina-haliem – please add an OSI-approved license to your project. Also, please fix the DOIs (noting that Whedon's suggestions are not always right), using the following commands (one at a time, as the first line of a new comment) to regenerate the PDF and check the references.

@whedon generate pdf
@whedon check references

[2021-09-09 08:12] oesteban commented on #3459
@PeerHerholz @robbisg @osorensen thanks much for your patience.

We've pushed the following changes:

https://github.com/poldracklab/nitransforms/commit/be5341b5f37b83b25e398799908bc65ba4bf4b7b

We have added the due descriptions and also included an automated prologue of the nbsphinx extension to include links to the source code of the examples:
  * https://nitransforms.readthedocs.io/en/latest/n

[2021-09-09 08:14] ajstewartlang commented on #3697
@whedon assign me as editor

[2021-09-09 08:14] whedon commented on #3697
OK, the editor is @ajstewartlang

[2021-09-09 08:18] arfon commented on #3686
Thanks @ArkajyotiSaha. @fabian-s – please take a look at the authors note in the README [here](https://github.com/ArkajyotiSaha/RandomForestsGLS#note) about code reuse. Given the relatively small size of this submission, I believe that this submission may fall foul of our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

[2021-09-09 08:25] martinfleis commented on #3704
@whedon assign me as editor

[2021-09-09 08:25] whedon commented on #3704
OK, the editor is @martinfleis

[2021-09-09 08:47] jpata commented on #3598
Yes, all the issues I raised were resolved promptly and I'm happy to recommend this for publication!

[2021-09-09 08:49] lucydot commented on #3662
Excellent @FTurci, thank you!
Hello @vyasr 👋  would you be able to provide a review?

[2021-09-09 08:53] nils-werner commented on #3590
Yes, I would be willing to review it.

[2021-09-09 08:54] lucydot commented on #3583
Excellent, thanks @temken -

Hello @villaa and @rafaelab 👋 are you available for review?

@villaa I think this may be your first review with JOSS so I've sent you an email with a little bit more information about the process.

[2021-09-09 08:58] martinfleis commented on #3704
Hi @marina-haliem,

I'll be editing your submission. I have a few points on top of those mentioned by @arfon above:

1) I see that your repository is on a private Github Enterprise server. Please note, that JOSS [requires](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) that the submission must:

[code]

While the first three points seem to be fine, the repository re

[2021-09-09 09:01] jorgedch commented on #3124
Super, many thanks @arfon!

[2021-09-09 09:03] lucydot commented on #3626
Thanks for letting us know @ctdegroot.

Hi @bonh 👋 are you available to review this submission?

[2021-09-09 09:04] govarguz commented on #3662
Hello I am also glad to accept the invitation. Best,

On Thu, Sep 9, 2021 at 10:49 AM Lucy Whalley ***@***.***>
wrote:

--
Horacio A. Vargas Guzmán, PhD

[2021-09-09 09:05] faroit commented on #3590
@whedon add @nils-werner as reviewer

[2021-09-09 09:05] whedon commented on #3590
OK, @nils-werner is now a reviewer

[2021-09-09 09:28] PeerHerholz commented on #3459
Ahoi hoi folks,

thx so much for all the work @oesteban & @mgxd, the changes look great!

IMHO the [AFNI example](https://nitransforms.readthedocs.io/en/latest/notebooks/02_afni_deoblique.html) could still use a bit more explanations, however, I think moving the comments out of the larger code blocks might already be enough. Sorry, I really don't mean to be nitpicking, but just trying to approach

[2021-09-09 10:07] bonh commented on #3626
Hi @lucydot ! This looks really interesting and I would enjoy reviewing it.

[2021-09-09 10:23] oesteban commented on #3459
@PeerHerholz - what about https://github.com/poldracklab/nitransforms/pull/134 ? Do you think that would clarify things up?

[2021-09-09 10:44] grant-m-s commented on #3635
@crvernon If I were to also upload this to Arxiv, am I able to upload the paper with JOSS branding? (For example the main paper pdf or the local docker created version). Thanks!

[2021-09-09 10:49] EleonoraVagnoni commented on #3270
<img width="1280" alt="screenshot" src="https://user-images.githubusercontent.com/83947373/132672876-a7b37628-2382-4278-82db-7226f3d211ed.png">
This is what I get if I run node -v

[2021-09-09 11:06] robbisg commented on #3459
Hi,

I agree with @PeerHerholz ! it is one of the first things that I visit when a new tool is released.

Given your brand new fix, you can split also cell [79] in different titled cells, from my side.

The paragraph about other tools is ok! :)

Thank you for your work!
Roberto

[2021-09-09 12:18] Nikoleta-v3 commented on #3699
@EgorOrachyov  thank you again for your submission with JOSS,  could you take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers 😄

[2021-09-09 12:25] PeerHerholz commented on #3459
Ahoi hoi @oesteban,

damn that was fast! Yeah, looks great and comprehensible, thanks for adding the explanations.
I'll check my last box and thus the submission is good to go from my end (@osorensen). Thanks again to the authors for all their great work and this important addition to the python-neuroimaging-world, I can't wait to work with `NiTransforms`!

Cheers, Peer

[2021-09-09 12:32] crvernon commented on #3635
@grant-m-s I think this is more of a question for the arXiv staff to determine permissiveness.  Your JOSS paper is now licensed as follows (and as listed on your publication):

Have a great day!

[2021-09-09 12:32] pdebuyl commented on #2494
Hi @arfon , so rejecting it is?

[2021-09-09 12:38] jarvist commented on #3644
As Melissa WM appears to be busy, I am happy to edit this paper.

[2021-09-09 12:38] jarvist commented on #3644
@whedon assign me as editor

[2021-09-09 12:38] whedon commented on #3644
OK, the editor is @jarvist

[2021-09-09 12:39] jbytecode commented on #3681
@athulpg007 do you have any other suggestions for potential reviewers? Of course, I can also search for a suitable reviewer, but if you have a suggestion, I would like to consider it.

[2021-09-09 12:39] jarvist commented on #3644
Great! :rocket:

[2021-09-09 12:39] jarvist commented on #3644
@whedon list reviewers

[2021-09-09 12:39] whedon commented on #3644
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-09-09 12:50] martibosch commented on #3670
Hello @crvernon, thank you for considering me but I am afraid that I will have to decline your kind invitation since I am also very busy at the moment and I further have another JOSS review pending. Best,

Martí

[2021-09-09 12:56] jarvist commented on #3644
OK, a couple of potential reviewers invited by email.

[2021-09-09 13:01] rafaelab commented on #3583
Hi @lucydot
I can review it.

[2021-09-09 13:07] osorensen commented on #3459
Thanks to @PeerHerholz and @robbisg for the incredible job you have done with this review, and thanks to @oesteban for improving all the issues raised by the reviewers.

I will read through the paper once more now, and then get back to you with how to proceed.

[2021-09-09 13:08] osorensen commented on #3459
@whedon generate pdf

[2021-09-09 13:08] whedon commented on #3459
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: :point_left:

[2021-09-09 13:23] osorensen commented on #3459
@whedon check references

[2021-09-09 13:23] whedon commented on #3459
[code]

[2021-09-09 13:24] osorensen commented on #3459
@oesteban, could you please fix the following issues in the paper?

- Add a reference to Figure 1 in the text. Maybe somewhere in the Methods section on page 2?
- Page 3: Add caption to Figure 1.
- Page 3: In Part (1) of Figure 1, should "... in the moving's coordinate system ..." be corrected to "... in the moving image's coordinate system ..."?

[2021-09-09 13:29] rerickson-usgs commented on #3444
@marcosvital Thank you for following up. I will address @MikeKaller's comments. They make sense.

Also, for your information, once I get the review back from the 2nd reviewer, I will need to complete the USGS Review process before returning the final submission to the journal.

[2021-09-09 13:34] tystan commented on #2694
R CMD check was a success except for the error pasted below which is minor (is `subMALDI::select` being loaded in the `NAMESPACE` or it it legacy code?).

No warnings when plotting in the vignette - now just prints a note to user (once in the `return()` statement and once to console using `cat()`?)

Have signed off and well done.

The only thing is the Gibb, S (2016) reference still has URL going

[2021-09-09 13:38] dfm commented on #3525
@whedon generate pdf from branch joss_paper

[2021-09-09 13:38] whedon commented on #3525
[code]

[2021-09-09 13:39] whedon commented on #3525
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03525/joss.03525/10.21105.joss.03525.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03525/joss.03525/10.21105.joss.03525.pdf) :page_facing_up: :point_left:

[2021-09-09 13:39] dfm commented on #3525
@whedon check references from branch joss_paper

[2021-09-09 13:39] whedon commented on #3525
[code]

[2021-09-09 13:39] whedon commented on #3525
[code]

[2021-09-09 13:48] wesleyburr commented on #2694
Oh, I know what that error is - dplyr is only being loaded selectively now, to avoid the issue with signal::select and dplyr::select running into one another in the namespace. I'll fix that up, thanks for seeing it! I'm sure I ran the CMD check and had nothing.....

And I'll look at the URL and see if there's any way to fix it. Auto-formats are tricky.

Thanks, @tystan!

[2021-09-09 13:51] wesleyburr commented on #2694
@whedon generate pdf

[2021-09-09 13:52] whedon commented on #2694
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02694/joss.02694/10.21105.joss.02694.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02694/joss.02694/10.21105.joss.02694.pdf) :page_facing_up: :point_left:

[2021-09-09 13:54] tomalrussell commented on #3607
Hi @OlgerSiebinga I've made a request for the HighD dataset but their one-time token download process hasn't worked for me and I haven't had any helpful response. Could you share a synthetic dataset which matches the HighD format so I can test the functionality which has been implement for that specific dataset?

Otherwise looking pretty good - testing is all manual and documented, rather than aut

[2021-09-09 13:59] wesleyburr commented on #3657
@Bisaloo - yes, I can review this, so long as you're ok if I leave it until September 20-24. I'm a bit swamped with the start of term and other commitments next week.

[2021-09-09 14:05] Bisaloo commented on #3657
Hi @wesleyburr :wave:, thanks for your quick answer!

Yes, it's fine. The other reviewer, Bernard Silenou, is not available until September 20 either so we can start the review at this moment. I'll still launch the review process but I have noted you will not be able to start right now. I'll ping you as a reminder on September 20.

[2021-09-09 14:05] Bisaloo commented on #3657
@whedon add @wesleyburr as reviewer

[2021-09-09 14:05] whedon commented on #3657
OK, @wesleyburr is now a reviewer

[2021-09-09 14:07] simonpcouch commented on #3661
Just left a reply to your issue, @prdm0! Thank you for your review.

[2021-09-09 14:08] Bisaloo commented on #3657
@whedon start review

[2021-09-09 14:08] whedon opened #3705 "[REVIEW]: serp: An R package for smoothing in ordinal regression"
**Submitting author:** @ejikeugba (<a href="http://orcid.org/0000-0003-2572-0023">Ejike Ugba</a>)
**Repository:** <a href="https://github.com/ejikeugba/serp" target ="_blank">https://github.com/ejikeugba/serp</a>
**Version:** v.0.2.0
**Editor:** @Bisaloo
**Reviewer:** @bernardsilenou, @wesleyburr
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-09-09 14:08] whedon commented on #3657
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3705.

[2021-09-09 14:08] whedon commented on #3705
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bernardsilenou, @wesleyburr it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-09-09 14:08] #3657 closed

[2021-09-09 14:08] whedon commented on #3705
Wordcount for `paper.md` is 1543

[2021-09-09 14:08] whedon commented on #3705
[code]

[2021-09-09 14:08] whedon commented on #3705
[code]

[2021-09-09 14:08] whedon commented on #3705
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03705/joss.03705/10.21105.joss.03705.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03705/joss.03705/10.21105.joss.03705.pdf) :page_facing_up: :point_left:

[2021-09-09 14:10] wesleyburr commented on #2694
@pibion - I think we're done, at long last. Both issues with the reviews are finished, 20/20, and closed out. I've pushed a version (v1.0-4) which has all of the changes incorporated, and the final edited paper copy.

[2021-09-09 14:28] melund commented on #3343
@meg-simula Sure, I can do the review.

[2021-09-09 14:29] jarvist commented on #3644
@whedon add @goerz as reviewer

Thank you for agreeing to review Michael!

[2021-09-09 14:29] whedon commented on #3644
OK, @goerz is now a reviewer

[2021-09-09 14:40] villaa commented on #3583
Hi @lucydot, I can also review it.

[2021-09-09 15:14] arfon commented on #2494
@whedon reject

Due to the lack of input from the author, I'm moving ahead with a rejection here. @ixjlyons, @xuqiancheng, @pdebuyl – many thanks for your efforts here. Sorry this submission didn't make it through to completion.

[2021-09-09 15:14] whedon commented on #2494
Paper rejected.

[2021-09-09 15:14] #2494 closed

[2021-09-09 15:16] elbeejay commented on #3541
:wave: @abhishekvp @arbennett @omshinde wanted to ask how the reviews are coming along and remind you all to report any review comments or suggestions as GitHub issues in the `GeoClimate` repository. When doing so just remember to tag the JOSS review issue (this thread) so that it is referenced here.

As we are beyond the 6-week target deadline for reviews, please provide new estimates for when yo

[2021-09-09 15:22] Kevin-Mattheus-Moerman commented on #3343
@meg-simula I can suggest `modenaxe` as a reviewer too.

[2021-09-09 15:25] zbeekman commented on #3697
I'd be happy to be a reviewer for this if it suites the editor (@ajstewartlang) & author (@simoninireland).

[2021-09-09 15:27] omshinde commented on #3541
@elbeejay
Hi! Sure, will keep in mind to tag this issue. Now that I can access the installation file, I shall be able to submit my final reviews before this weekend. Thanks for the reminder and apologies for the delay.

[2021-09-09 15:31] athulpg007 commented on #3681
@jbytecode Here is a list of additional suggestions for reviewers (from the list):
 -- helgee
 -- crbinz
 -- s-m-e

[2021-09-09 15:34] dfm commented on #3525
@landreman: I'll have a PR for you in moments, no worries.

[2021-09-09 15:35] EgorOrachyov commented on #3699
@Nikoleta-v3 I think I could suggest the following reviewers:
- hausen
- arghdos
- pszi1ard
- abb58
- JaroslavHron
- sarats
- camillescott
- mlxd
- wrathematics

[2021-09-09 15:44] dfm commented on #3525
@landreman — I've opened a pull request with some edits to the paper. Can you take a look at that and once you've merged, please take the following steps:

1. Comment `@whedon generate pdf from branch joss_paper` on this thread and read through the manuscript to make sure that you're happy with it (it's hard to make changes later!), especially your name and affiliation.
2. Increment the version nu

[2021-09-09 15:57] oneilsh commented on #3543
@taless474 I am curious about continuing improvements to the package post-publication; is there any best practice I should follow when making updates? Is the JOSS publication tied to a particular version of the package perhaps, such that creating a new version for changes post-review would make it obvious that those updates weren't part of the review? (I'm thinking especially around continuing doc

[2021-09-09 16:12] landreman commented on #3525
@whedon check references from branch joss_paper

[2021-09-09 16:12] whedon commented on #3525
[code]

[2021-09-09 16:12] whedon commented on #3525
[code]

[2021-09-09 16:12] landreman commented on #3525
@whedon generate pdf from branch joss_paper

[2021-09-09 16:13] whedon commented on #3525
[code]

[2021-09-09 16:13] jbytecode commented on #3681
👋👋👋 @helgee  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_AMAT: A Python package for rapid conceptual design of aerocapture and atmospheric Entry, Descent, and Landing (EDL) missions in a Jupyter environment_". You

[2021-09-09 16:13] whedon commented on #3525
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03525/joss.03525/10.21105.joss.03525.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03525/joss.03525/10.21105.joss.03525.pdf) :page_facing_up: :point_left:

[2021-09-09 16:15] astrojuanlu commented on #3681
Come to the dark side @helgee, we have cookies 🍪

[2021-09-09 16:23] RobertRosca commented on #3681
Hey! Oooh, this seems super interesting, I'm up for reviewing it but I already have https://github.com/openjournals/joss-reviews/issues/3641#issuecomment-914074505 waiting and haven't had a chance to look at it yet since I've been pretty busy.

I'll do my best to finish #3641 asap and if I manage to do it before somebody is found for this, then I'll accept.

[2021-09-09 16:29] jbytecode commented on #3681
Dear @RobertRosca, thank you for the response. Please follow this thread and let us know your status if we haven't been able to find a suitable reviewer yet.

[2021-09-09 16:37] whedon opened #3706 "[PRE REVIEW]: skater: An R package for SNP-based Kinship Analysis, Testing, and Evaluation"
**Submitting author:** @stephenturner (<a href="http://orcid.org/0000-0001-9140-9028">Stephen Turner</a>)
**Repository:** <a href="https://github.com/signaturescience/skater/" target ="_blank">https://github.com/signaturescience/skater/</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-09-09 16:37] whedon commented on #3706
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-09 16:38] whedon opened #3707 "[PRE REVIEW]: LaplaceInterpolation.jl: A Julia package for fast interpolation on a grid interpolation on a grid"
**Submitting author:** @lootie (<a href="http://orcid.org/0000-0003-3996-773X">Charlotte Haley</a>)
**Repository:** <a href="https://github.com/vishwas1984/LaplaceInterpolation.jl" target ="_blank">https://github.com/vishwas1984/LaplaceInterpolation.jl</a>
**Version:** v0.1
**Editor:** @VivianePons
**Reviewers:** @wkearn, @eviatarbach
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service

[2021-09-09 16:38] whedon commented on #3706
Failed to discover a `Statement of need` section in paper

[2021-09-09 16:38] whedon commented on #3706
[code]

[2021-09-09 16:38] whedon commented on #3706
[code]

[2021-09-09 16:38] whedon commented on #3707
Wordcount for `paper.md` is 931

[2021-09-09 16:38] whedon commented on #3706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03706/joss.03706/10.21105.joss.03706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03706/joss.03706/10.21105.joss.03706.pdf) :page_facing_up: :point_left:

[2021-09-09 16:38] whedon commented on #3707
[code]

[2021-09-09 16:38] whedon commented on #3707
Failed to discover a valid open source license.

[2021-09-09 16:38] whedon commented on #3707
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03707/joss.03707/10.21105.joss.03707.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03707/joss.03707/10.21105.joss.03707.pdf) :page_facing_up: :point_left:

[2021-09-09 16:44] irinagain commented on #3634
@whedon generate pdf

[2021-09-09 16:44] whedon commented on #3634
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: :point_left:

[2021-09-09 16:46] lootie commented on #3707
License file added to repo (gnu GPL v2.0).

[2021-09-09 16:58] mbkumar commented on #3525
@dfm
version number incremented to v0.4.7
DOI is 10.5281/zenodo.5498111

[2021-09-09 17:01] arfon commented on #3706
@whedon query scope

@stephenturner – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's suggestions are not always right), you c

[2021-09-09 17:01] whedon commented on #3706
Submission flagged for editorial review.

[2021-09-09 17:04] gmyenni commented on #3220
@whedon generate pdf

[2021-09-09 17:05] whedon commented on #3220
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03220/joss.03220/10.21105.joss.03220.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03220/joss.03220/10.21105.joss.03220.pdf) :page_facing_up: :point_left:

[2021-09-09 17:07] rusu24edward commented on #3607
@danielskatz I'm just going through verifying that the software still works with Olger's changes. Should be done with the review today.

[2021-09-09 17:13] gmyenni commented on #3220
Hi @marcosvital, thanks for checking in. Unfortunately, we are going to need a bit more time before we can get back to this. I would love to get this off everyone's plates, so I will be sure it is ASAP. Many apologies for the delays and thanks so much for your understanding.

[2021-09-09 17:20] dfm commented on #3525
@whedon set v0.4.7 as version

[2021-09-09 17:20] whedon commented on #3525
OK. v0.4.7 is the version.

[2021-09-09 17:20] dfm commented on #3525
@whedon set 10.5281/zenodo.5498111 as archive

[2021-09-09 17:20] whedon commented on #3525
OK. <a href="https://doi.org/10.5281/zenodo.5498111" target="_blank">10.5281/zenodo.5498111</a> is the archive.

[2021-09-09 17:20] dfm commented on #3525
@whedon recommend-accept

[2021-09-09 17:20] whedon commented on #3525
[code]

[2021-09-09 17:21] whedon commented on #3525
PDF failed to compile for issue #3525 with the following error:
[code]

[2021-09-09 17:21] dfm commented on #3525
@whedon recommend-accept from branch joss_paper

[2021-09-09 17:21] whedon commented on #3525
[code]

[2021-09-09 17:21] whedon commented on #3525
[code]

[2021-09-09 17:22] whedon commented on #3525
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2574

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2574, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-09 17:22] dfm commented on #3525
@ZedThree, @StanczakDominik — Thanks for your reviews of this submission! I really appreciate the time that you volunteered.

@landreman — I have now passed this off to the Editors-in-Charge who may have some final edits before processing the acceptance step. But, from me, thanks for your submission and your work responding to the reviews!

[2021-09-09 17:29] crvernon commented on #3670
No problem @martibosch ! Thanks for your quick reply!

[2021-09-09 17:32] fboehm commented on #3639
@whedon add @elimillera as reviewer

[2021-09-09 17:32] whedon commented on #3639
OK, @elimillera is now a reviewer

[2021-09-09 17:32] fboehm commented on #3639
@whedon start review

[2021-09-09 17:32] whedon opened #3708 "[REVIEW]: Heta compiler: a software tool for the development of large-scale QSP models and compilation into simulation formats"
**Submitting author:** @metelkin (<a href="http://orcid.org/0000-0001-6612-5373">Evgeny Metelkin</a>)
**Repository:** <a href="https://github.com/hetalang/heta-compiler" target ="_blank">https://github.com/hetalang/heta-compiler</a>
**Version:** v0.6.7
**Editor:** @fboehm
**Reviewer:** @martinmodrak, @elimillera
**Archive:** <a href="https://doi.org/10.5281/zenodo.5666487" target="_blank">10.5281/

[2021-09-09 17:32] whedon commented on #3639
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3708.

[2021-09-09 17:32] #3639 closed

[2021-09-09 17:32] whedon commented on #3708
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martinmodrak, @elimillera it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-09-09 17:32] whedon commented on #3708
PDF failed to compile for issue #3708 with the following error:
[code]

[2021-09-09 17:32] whedon commented on #3708
[code]

[2021-09-09 17:35] crvernon commented on #3670
@kanishkan91 - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-09-09 17:35] fboehm commented on #3708
@whedon generate pdf from branch paper

[2021-09-09 17:35] whedon commented on #3708
[code]

[2021-09-09 17:36] whedon commented on #3708
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03708/joss.03708/10.21105.joss.03708.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03708/joss.03708/10.21105.joss.03708.pdf) :page_facing_up: :point_left:

[2021-09-09 17:38] kanishkan91 commented on #3670
@crvernon I can start the review on Monday and take two weeks from there. If this sounds good, sign me up!

[2021-09-09 17:39] crvernon commented on #3670
@whedon add @kanishkan91 as reviewer

[2021-09-09 17:40] whedon commented on #3670
OK, @kanishkan91 is now a reviewer

[2021-09-09 17:41] crvernon commented on #3670
Alright @omshinde @kanishkan91 @AlexanderJuestel - I am going to close this Pre-Review and kick off the full review which you should receive a notification for.  Thanks!

[2021-09-09 17:41] crvernon commented on #3670
@whedon start review

[2021-09-09 17:41] whedon opened #3709 "[REVIEW]: GemGIS - Spatial Data Processing for Geomodeling"
**Submitting author:** @AlexanderJuestel (<a href="http://orcid.org/0000-0003-0980-7479">Alexander Jüstel</a>)
**Repository:** <a href="https://github.com/cgre-aachen/gemgis" target ="_blank">https://github.com/cgre-aachen/gemgis</a>
**Version:** v1.0.0
**Editor:** @crvernon
**Reviewer:** @omshinde, @kanishkan91
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-09-09 17:41] whedon commented on #3670
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3709.

[2021-09-09 17:41] #3670 closed

[2021-09-09 17:41] whedon commented on #3709
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @omshinde, @kanishkan91 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-09-09 17:45] crvernon commented on #3709
:wave: @omshinde @kanishkan91 @AlexanderJuestel - the review takes place in this issue.

[2021-09-09 17:46] crvernon commented on #3709
Also, please don't forget to add a link to this review issue in any issues or pull requests you may generate in the  https://github.com/cgre-aachen/gemgis repository. This will help everyone have a single point of reference.

[2021-09-09 17:52] pibion commented on #2694
@whedon check references

[2021-09-09 17:52] whedon commented on #2694
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-1105" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["{Maux}, D. and {Enjalbal}, C. and {Martinez}, J. and {Aubagnac}, J.~L. and {Combarieu}, R."], :journal=>["J Am Mass Spectrom"], :month=>[:sep], :volume=>"12", :issue=>"10", :pages=>"1099"}]

[2021-09-09 17:55] pibion commented on #2694
@wesleyburr does the above error make sense to you?  @arfon the odd thing is this reference renders fine in the paper itself.

[2021-09-09 17:56] pibion commented on #2694
@wesleyburr ideally I'd like to see the `@whedon check references` command pass and then ask you to tag the version and archive it (through e.g. zenodo).  I'll need the archive DOI to recommend acceptance.

[2021-09-09 18:03] prdm0 commented on #3661
Dear @simonpcouch , thanks for your reply. I've added a counterargument that is actually a hint of a glimpse of future improvement. Finally, @csoneson , I recommend this package be accepted.

[2021-09-09 18:10] wesleyburr commented on #2694
@whedon check references

[2021-09-09 18:10] whedon commented on #2694
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-1105" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["Maux, D. and Enjalbal, C. and Martinez, J. and Aubagnac, J.~L. and Combarieu, R."], :journal=>["J Am Mass Spectrom"], :month=>[:sep], :volume=>"12", :issue=>"10", :pages=>"1099"}]

[2021-09-09 18:16] wesleyburr commented on #2694
@whedon check references

[2021-09-09 18:16] whedon commented on #2694
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-1105" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["Maux, D. and Enjalbal, C. and Martinez, J. and Aubagnac, J.~L. and Combarieu, R."], :journal=>["J Am Mass Spectrom"], :month=>[:sep], :volume=>"12", :issue=>"10", :pages=>"1099"}]

[2021-09-09 18:20] wesleyburr commented on #2694
@whedon check references

[2021-09-09 18:20] whedon commented on #2694
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-1105" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["{Maux}, D. and {Enjalbal}, C. and {Martinez}, J. and {Aubagnac}, J.~L. and {Combarieu}, R."], :journal=>["J Am Mass Spectrom"], :month=>[:sep], :volume=>"12", :issue=>"10", :pages=>"1099"}]

[2021-09-09 18:27] wesleyburr commented on #2694
@whedon check references

[2021-09-09 18:27] whedon commented on #2694
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-1105" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["{Maux}, D. and {Enjalbal}, C. and {Martinez}, J. and {Aubagnac}, J.~L. and {Combarieu}, R."], :title=>["{Static Secondary Ion MS to Monitor Solid-Phase Peptide Synthesis}"], :journal=>["J Am Mass Spectrom"], :year=>"200

[2021-09-09 18:33] wesleyburr commented on #2694
@whedon check references

[2021-09-09 18:34] whedon commented on #2694
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-1521" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["{Null}, A.~P. and {Hannis}, J.~C. and {Muddiman}, D.~C."], :title=>["{Genotying of Simple and Compound Short Tandem Repeat Loci Using Electrospray Ionization Fourier Transform Ion Cyclotron Resonance Mass Spectrometry}"

[2021-09-09 18:37] wesleyburr commented on #2694
@whedon check references

[2021-09-09 18:37] whedon commented on #2694
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-1521" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["{Null}, A.~P. and {Hannis}, J.~C. and {Muddiman}, D.~C."], :title=>["{Genotying of Simple and Compound Short Tandem Repeat Loci Using Electrospray Ionization Fourier Transform Ion Cyclotron Resonance Mass Spectrometry}"

[2021-09-09 18:41] wesleyburr commented on #2694
@whedon check references

[2021-09-09 18:42] whedon commented on #2694
[code]

[2021-09-09 18:43] wesleyburr commented on #2694
@whedon check references

[2021-09-09 18:43] whedon commented on #2694
[code]

[2021-09-09 18:44] wesleyburr commented on #2694
@pibion - so looks like it was a malformed field in one reference, not at all the one that was cited. Plus all of the page **ranges** weren't in {} or "", so were propagating issues. Fixed them all up.

[2021-09-09 18:53] wesleyburr commented on #2694
10.5281/zenodo.5498242 points to v1.0-5, which is the version with all of this fixed up.

[2021-09-09 19:06] helgee commented on #3681
Count me in 👍

[2021-09-09 19:16] jbytecode commented on #3681
@whedon add @helgee as reviewer

[2021-09-09 19:16] whedon commented on #3681
OK, @helgee is now a reviewer

[2021-09-09 19:16] jbytecode commented on #3681
@whedon start review

[2021-09-09 19:16] whedon opened #3710 "[REVIEW]: AMAT: A Python package for rapid conceptual design of aerocapture and atmospheric Entry, Descent, and Landing (EDL) missions in a Jupyter environment"
**Submitting author:** @athulpg007 (<a href="http://orcid.org/0000-0002-9326-3293">Athul Pradeepkumar Girija</a>)
**Repository:** <a href="https://github.com/athulpg007/AMAT" target ="_blank">https://github.com/athulpg007/AMAT</a>
**Version:** v2.2.3
**Editor:** @jbytecode
**Reviewer:** @astrojuanlu, @helgee
**Archive:** <a href="https://doi.org/10.5281/zenodo.5650129" target="_blank">10.5281/zeno

[2021-09-09 19:16] whedon commented on #3681
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3710.

[2021-09-09 19:16] #3681 closed

[2021-09-09 19:16] whedon commented on #3710
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @astrojuanlu, @helgee it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-09-09 19:17] whedon commented on #3710
Wordcount for `paper.md` is 1142

[2021-09-09 19:17] whedon commented on #3710
[code]

[2021-09-09 19:17] jbytecode commented on #3710
@whedon check references

[2021-09-09 19:17] whedon commented on #3710
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: :point_left:

[2021-09-09 19:17] whedon commented on #3710
[code]

[2021-09-09 19:17] whedon commented on #3710
[code]

[2021-09-09 19:19] jbytecode commented on #3710
Dear @astrojuanlu and @helgee,

Thank you for accepting our invitation. Here is the review issue. There are 20 check items for each reviewer. Whenever you finish the corresponding item, you can check it. You can interact with the authors and the editor. Please do not hesitate to ask me if you have difficulties.

Thank you in advance!

[2021-09-09 19:23] pibion commented on #2694
@whedon set 10.5281/zenodo.5498242 as archive

[2021-09-09 19:23] whedon commented on #2694
OK. <a href="https://doi.org/10.5281/zenodo.5498242" target="_blank">10.5281/zenodo.5498242</a> is the archive.

[2021-09-09 19:23] jarvist commented on #3644
@whedon add @obliviateandsurrender as reviewer

Thanks for agreeing to review Utkarsh!

[2021-09-09 19:23] whedon commented on #3644
OK, @obliviateandsurrender is now a reviewer

[2021-09-09 19:23] pibion commented on #2694
@whedon set v1.0-5 as version

[2021-09-09 19:24] whedon commented on #2694
OK. v1.0-5 is the version.

[2021-09-09 19:24] pibion commented on #2694
@whedon recommend-accept

[2021-09-09 19:24] whedon commented on #2694
[code]

[2021-09-09 19:24] whedon commented on #2694
[code]

[2021-09-09 19:24] jarvist commented on #3644
@whedon start review

Great! I think we should be good to go now.

[2021-09-09 19:25] whedon commented on #2694
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2575

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2575, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-09 19:25] whedon opened #3711 "[REVIEW]: QXTools: A Julia framework for distributed quantum circuit simulation"
**Submitting author:** @nmoran (<a href="http://orcid.org/0000-0002-2619-5040">Niall Moran</a>)
**Repository:** <a href="https://github.com/JuliaQX/QXTools.jl" target ="_blank">https://github.com/JuliaQX/QXTools.jl</a>
**Version:** v1.0.0
**Editor:** @jarvist
**Reviewer:** @goerz, @obliviateandsurrender
**Archive:** <a href="https://doi.org/10.5281/zenodo.6089937" target="_blank">10.5281/zenodo.60

[2021-09-09 19:25] whedon commented on #3644
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3711.

[2021-09-09 19:25] #3644 closed

[2021-09-09 19:25] whedon commented on #3711
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @goerz, @obliviateandsurrender it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2021-09-09 19:25] whedon commented on #3711
[code]

[2021-09-09 19:25] whedon commented on #3711
PDF failed to compile for issue #3711 with the following error:
[code]

[2021-09-09 19:25] jarvist commented on #3711
@whedon generate pdf from branch joss-paper

[2021-09-09 19:25] whedon commented on #3711
[code]

[2021-09-09 19:26] whedon commented on #3711
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: :point_left:

[2021-09-09 19:31] hungpham2017 commented on #3458
Dear all,

I apologize for being too late. Overall, I find that this is a great project. I have tried to use the package myself as rather an inexperienced user to see how easy one could start with no previous experience. Here are some minor comments/suggestions that mostly I hope they would make the projects more popular to the community:

(1) Apparently, there is an old (v0.16.3) release of optim

[2021-09-09 19:31] jarvist commented on #3711
Thanks for agreeing to review Michael and Utkarsh! I hope working to a deadline of two weeks will be feasible?

The three 'reviewer' sections on the online documentation are probably the single best place to refer to while doing the review.
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

If you come up with any questions or difficulties with installation or understanding what the p

[2021-09-09 19:50] goerz commented on #3711
Yeah, I can definitely give feedback within the next two weeks.

Just a small meta-comment (is there an issue tracker for that?): For the [review checklist](https://github.com/openjournals/joss-reviews/issues/3711#issue-992554681), it would be convenient for the review lists of the different reviewers to be in a different comment. Last paper I reviewed, I accidentally checked off items for the oth

[2021-09-09 19:53] mkolopanis commented on #3676
@JLBLine thanks for this package! WODEN seem like it will be great addition to growing list of simulators for the interferometric world with the use of CUDA acceleration and unique basis function support.

I have some questions and recommendations after my first read through of the paper, and my experience following the examples provided in the documentation.

## Installation
The detailed installa

[2021-09-09 20:01] rkurchin commented on #3545
@whedon generate pdf

[2021-09-09 20:01] whedon commented on #3545
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03545/joss.03545/10.21105.joss.03545.pdf) :page_facing_up: :point_left:

[2021-09-09 20:02] rkurchin commented on #3545
@whedon set <v0.6.2-beta> as version

[2021-09-09 20:02] whedon commented on #3545
OK. <v0.6.2-beta> is the version.

[2021-09-09 20:02] rkurchin commented on #3545
@whedon set v0.6.2-beta as version

[2021-09-09 20:03] whedon commented on #3545
OK. v0.6.2-beta is the version.

[2021-09-09 20:03] rkurchin commented on #3545
@Saran-nns 🎉  almost there! Can you update the title of your Zenodo to match the title of the manuscript here? Then we should be ready to pass this on to the EiC! 😁

[2021-09-09 20:22] jarvist commented on #3711
OK, Utkarsh is busy this week, so let's work to a Sept 30th deadline. (Of course, any time before is also great!)

Thank you for the meta comment. I have also managed to do this while reviewing. I'll take it to the JOSS Editor's Slack - I think there's a channel for Whedon development.

[2021-09-09 20:32] Saran-nns commented on #3545
@rkurchin, the title matches now. 🎉

[2021-09-09 20:44] rkurchin commented on #3545
@whedon set 10.5281/zenodo.5496017 as archive

[2021-09-09 20:44] whedon commented on #3545
OK. <a href="https://doi.org/10.5281/zenodo.5496017" target="_blank">10.5281/zenodo.5496017</a> is the archive.

[2021-09-09 20:44] rkurchin commented on #3545
@whedon recommend-accept

[2021-09-09 20:44] whedon commented on #3545
[code]

[2021-09-09 20:44] whedon commented on #3545
[code]

[2021-09-09 20:45] whedon commented on #3545
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2576

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2576, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-09 22:07] stephenturner commented on #3706
Thanks @arfon -- let me know if this passes editorial review, and I'll start looking through the list of reviewers. Thanks!

[2021-09-09 23:53] pibion commented on #2764
@mfeldt just wanted to check in on the comments @andrewpaulreeves has made so far.

[2021-09-09 23:54] pibion commented on #2764
@andrewpaulreeves any updates on this submission beyond your initial comments?

[2021-09-10 01:04] irinagain commented on #3634
@whedon generate pdf

[2021-09-10 01:04] whedon commented on #3634
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: :point_left:

[2021-09-10 05:36] Isurwars commented on #2976
The affiliations have been updated, and most of the ORCIDs have been added,  Professor Alexander Valladares does not have an ORCID.

The version used for the paper is v1.0.0, https://github.com/Isurwars/Correlation/releases/tag/V1.0.0

The version has been archived in zenodo: https://zenodo.org/record/5499455
With DOI:  10.5281/zenodo.5499455

Author's affiliations and ORCIDs have been updated in

[2021-09-10 06:22] mjsottile commented on #3558
:wave: @RuneBlaze - you were suggested by the author of this submission to the Journal of Open Source Software (JOSS) as potential reviewers. Would you be interested in providing a review? If you haven't reviewed for JOSS before, you can see the review criteria here : https://joss.readthedocs.io/en/latest/review_criteria.html

Please let me know if you are interested or have any questions.

[2021-09-10 06:26] obliviateandsurrender commented on #3711
Thank you! The deadline seems perfect. I will definitely try to give my feedback well ahead of it.

[2021-09-10 06:28] RuneBlaze commented on #3558
@mjsottile Sorry but I have more homework to do/experiments to run than expected recently. I also know nothing dimensional analysis.

[2021-09-10 06:58] mjsottile commented on #3558
:wave: @khinsen Based on your areas of expertise I believe you may be a good fit to provide a review for this JOSS submission.  Please let me know if you are interested and have time.  Thanks!

[2021-09-10 07:07] Nikoleta-v3 commented on #3699
👋 @hausen & @arghdos & @pszi1ard & @abb58 would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "SPbLA: The Library of GPGPU-powered Sparse Boolean Linear Algebra Operations". You can fin

[2021-09-10 07:08] oesteban commented on #3459
@whedon generate pdf

[2021-09-10 07:09] whedon commented on #3459
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: :point_left:

[2021-09-10 07:15] whedon opened #3712 "[PRE REVIEW]: DRSP-Sim: A Simulator for Ride-Sharing with Pooling: Joint Matching, Pricing, Route Planning, and Dispatching"
**Submitting author:** @marina-haliem (<a href="http://orcid.org/0000-0002-9782-6591">Marina Haliem</a>)
**Repository:** <a href="https://github.com/marina-haliem/Dynamic-RideSharing-Pooling-Simulator" target ="_blank">https://github.com/marina-haliem/Dynamic-RideSharing-Pooling-Simulator</a>
**Version:** v1.1
**Editor:** @martinfleis
**Reviewers:** @RafalKucharskiPK, @1tylermitchell
**Managing Ei

[2021-09-10 07:15] whedon commented on #3712
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-10 07:15] whedon commented on #3712
Wordcount for `paper.md` is 1528

[2021-09-10 07:15] whedon commented on #3712
[code]

[2021-09-10 07:15] whedon commented on #3712
[code]

[2021-09-10 07:16] whedon commented on #3712
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03712/joss.03712/10.21105.joss.03712.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03712/joss.03712/10.21105.joss.03712.pdf) :page_facing_up: :point_left:

[2021-09-10 07:16] arfon commented on #3704
@whedon withdraw

Closing in favour of https://github.com/openjournals/joss-reviews/issues/3712.

[2021-09-10 07:16] whedon commented on #3704
Paper withdrawn.

[2021-09-10 07:16] #3704 closed

[2021-09-10 07:16] arfon commented on #3712
@whedon assign @martinfleis as editor

[2021-09-10 07:16] whedon commented on #3712
OK, the editor is @martinfleis

[2021-09-10 07:17] arfon commented on #3712
:wave: @martinfleis – the authors of #3704 decided to resubmit incorporating your feedback from that pre-review issue. As such, I've gone ahead and closed the old issue in favour of this one.

[2021-09-10 07:21] osorensen commented on #3459
@oesteban before we proceed, could you please do the following?

- Make a tagged release of the software.
- Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and people

[2021-09-10 07:21] arfon commented on #3707
@whedon invite @VivianePons as editor

:wave: @VivianePons - would you be willing to edit this submission for us?

[2021-09-10 07:21] whedon commented on #3707
@VivianePons has been invited to edit this submission.

[2021-09-10 07:22] ajstewartlang commented on #3697
@whedon assign @zbeekman as reviewer

[2021-09-10 07:22] whedon commented on #3697
OK, @zbeekman is now a reviewer

[2021-09-10 07:23] oesteban commented on #3459
Sure thing, I just realized a self-citation was missed (fMRIPrep was the only piece of software mentioned without a due reference). I'll check on the Zenodo record - I believe we set it up, but I might be wrong. Anyways that was on the todo list down the line, so happy to get it right before finishing with the review stage.

[2021-09-10 07:25] arfon commented on #2694
@whedon accept deposit=true

[2021-09-10 07:25] whedon commented on #2694
[code]

[2021-09-10 07:26] whedon commented on #2694
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1436229466775240707) 👈 🐦🐦🐦

[2021-09-10 07:26] whedon commented on #2694
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2577
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02694](https://doi.org/10.21105/joss.02694)
2. If everything look

[2021-09-10 07:31] arfon commented on #2694
@jspaezp, @sigven, @tystan – many thanks for your reviews here and to @pibion for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@wesleyburr – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-10 07:31] #2694 closed

[2021-09-10 07:31] whedon commented on #2694
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02694/status.svg)](https://doi.org/10.21105/joss.02694)

**We need your help!**

Journal of Open Source Softwa

[2021-09-10 07:43] arfon commented on #3525
@whedon accept deposit=true from branch joss_paper

[2021-09-10 07:43] whedon commented on #3525
[code]

[2021-09-10 07:44] whedon commented on #3525
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1436234016055832578) 👈 🐦🐦🐦

[2021-09-10 07:44] whedon commented on #3525
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2578
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03525](https://doi.org/10.21105/joss.03525)
2. If everything look

[2021-09-10 07:45] osorensen commented on #3459
Good! I see there is a Zenodo archive for the paper (https://osf.io/8aq7b/), but please create one for the final version of the software too, so that we can get a doi link for the version that gets published.

[2021-09-10 07:47] arfon commented on #3525
@ZedThree, @StanczakDominik – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@landreman – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-10 07:47] #3525 closed

[2021-09-10 07:47] whedon commented on #3525
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03525/status.svg)](https://doi.org/10.21105/joss.03525)

**We need your help!**

Journal of Open Source Softwa

[2021-09-10 07:51] arfon commented on #3545
@whedon accept deposit=true

[2021-09-10 07:51] whedon commented on #3545
[code]

[2021-09-10 07:52] CasperWA commented on #3458
Dear Hung,

This seems like it could be a great stress test, indeed 👍
And thank you for taking the time to do this! I'll try to respond to your points as best I can.

`v0.16.3` is currently the latest version.
I am unsure where you found a v1.0.0?
The conda-forge release is here: https://anaconda.org/conda-forge/optimade
The PyPI release is here: https://pypi.org/project/optimade/
And it should al

[2021-09-10 07:52] whedon commented on #3545
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1436236096380317699) 👈 🐦🐦🐦

[2021-09-10 07:52] whedon commented on #3545
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2579
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03545](https://doi.org/10.21105/joss.03545)
2. If everything look

[2021-09-10 07:56] martinfleis commented on #3712
Thank you for the changes @marina-haliem!

If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-09-10 07:56] arfon commented on #3545
@janfreyberg, @janfb – many thanks for your reviews here and to @rkurchin for editing their first submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Saran-nns – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-10 07:56] #3545 closed

[2021-09-10 07:56] whedon commented on #3545
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03545/status.svg)](https://doi.org/10.21105/joss.03545)

**We need your help!**

Journal of Open Source Softwa

[2021-09-10 08:00] arfon commented on #3665
@zhanghe9704 - I noticed this comment in your README and wondered if you had considered including them as an author of your submission?

[2021-09-10 08:01] VivianePons commented on #3707
@whedon set @VivianePons as editor

[2021-09-10 08:01] whedon commented on #3707
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-10 08:02] oesteban commented on #3459
DOI of the archived version: [10.5281/zenodo.5499694](https://doi.org/10.5281/zenodo.5499694)

[2021-09-10 08:02] VivianePons commented on #3707
@whedon assign @VivianePons as editor

[2021-09-10 08:02] whedon commented on #3707
OK, the editor is @VivianePons

[2021-09-10 08:04] arfon commented on #3665
@whedon invite @pibion as editor

:wave: @pibion – would you be willing to edit this submission for JOSS?

[2021-09-10 08:04] whedon commented on #3665
@pibion has been invited to edit this submission.

[2021-09-10 08:05] arfon commented on #3056
@whedon set 10.5281/zenodo.4475347 as archive

[2021-09-10 08:05] whedon commented on #3056
OK. <a href="https://doi.org/10.5281/zenodo.4475347" target="_blank">10.5281/zenodo.4475347</a> is the archive.

[2021-09-10 08:05] arfon commented on #3056
@whedon recommend-accept

[2021-09-10 08:05] whedon commented on #3056
[code]

[2021-09-10 08:05] whedon commented on #3056
PDF failed to compile for issue #3056 with the following error:
[code]

[2021-09-10 08:06] VivianePons commented on #3707
Hi @lootie glad to see you again! I'd be happy to handle your submission ;)

Do you have any suggestions for reviewers?

[2021-09-10 08:07] arfon commented on #3056
@whedon recommend-accept from branch joss-paper

[2021-09-10 08:07] whedon commented on #3056
[code]

[2021-09-10 08:07] whedon commented on #3056
[code]

[2021-09-10 08:07] whedon commented on #3056
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2580

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2580, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-10 08:08] arfon commented on #3308
:wave: @donaldRwilliams – friendly reminder to try and get to these changes sometime soon if you can.

[2021-09-10 08:09] arfon commented on #2606
Friendly reminder to get to these changes when you can @avik-pal 😄

[2021-09-10 08:12] arfon commented on #3056
@whedon accept deposit=true from branch joss-paper

[2021-09-10 08:12] whedon commented on #3056
[code]

[2021-09-10 08:12] osorensen commented on #3459
@whedon generate pdf

[2021-09-10 08:12] whedon commented on #3056
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1436241276140204033) 👈 🐦🐦🐦

[2021-09-10 08:12] whedon commented on #3056
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2581
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03056](https://doi.org/10.21105/joss.03056)
2. If everything look

[2021-09-10 08:13] whedon commented on #3459
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03459/joss.03459/10.21105.joss.03459.pdf) :page_facing_up: :point_left:

[2021-09-10 08:15] arfon commented on #3429
FYI I just emailed @kramea to see when they might be able to complete their review by.

[2021-09-10 08:17] osorensen commented on #3459
@whedon check references

[2021-09-10 08:17] whedon commented on #3459
[code]

[2021-09-10 08:25] osorensen commented on #3459
@whedon set 10.5281/zenodo.5499694 as archive

[2021-09-10 08:25] whedon commented on #3459
OK. <a href="https://doi.org/10.5281/zenodo.5499694" target="_blank">10.5281/zenodo.5499694</a> is the archive.

[2021-09-10 08:25] osorensen commented on #3459
@whedon set 21.0.0 as version

[2021-09-10 08:25] whedon commented on #3459
OK. 21.0.0 is the version.

[2021-09-10 08:26] osorensen commented on #3459
@whedon recommend-accept

[2021-09-10 08:26] whedon commented on #3459
[code]

[2021-09-10 08:26] arfon commented on #3056
@cescalara, @rmorgan10 – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@rrjbca – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-10 08:26] #3056 closed

[2021-09-10 08:26] whedon commented on #3056
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03056/status.svg)](https://doi.org/10.21105/joss.03056)

**We need your help!**

Journal of Open Source Softwa

[2021-09-10 08:26] whedon commented on #3459
[code]

[2021-09-10 08:26] whedon commented on #3459
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2582

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2582, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-10 08:29] jorisparet commented on #3662
Thank you very much, @FTurci and @govarguz!

[2021-09-10 08:35] arfon commented on #3459
@whedon accept deposit=true

[2021-09-10 08:35] whedon commented on #3459
[code]

[2021-09-10 08:36] whedon commented on #3459
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1436247197817917441) 👈 🐦🐦🐦

[2021-09-10 08:36] whedon commented on #3459
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2583
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03459](https://doi.org/10.21105/joss.03459)
2. If everything look

[2021-09-10 08:40] arfon commented on #3459
@robbisg, @PeerHerholz – many thanks for your reviews here and to @osorensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@mgxd – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-10 08:40] #3459 closed

[2021-09-10 08:40] whedon commented on #3459
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03459/status.svg)](https://doi.org/10.21105/joss.03459)

**We need your help!**

Journal of Open Source Softwa

[2021-09-10 09:12] OlgerSiebinga commented on #3607
@tomalrussell, This was hard, but I managed to create some semi-realistic data in high format. Not all metrics are present, and something is messing up the timeline in the GUI for this data. But you should be able to verify the basic functionality with this dataset. Just load it as highd dataset 1. You can download the data [here](https://surfdrive.surf.nl/files/index.php/s/TrXnyUw1UCRFkYJ).

[2021-09-10 09:48] janfreyberg commented on #3545
Congratulations, @Saran-nns :)

It was a pleasure to review this.

[2021-09-10 10:30] astrojuanlu commented on #3710
I did a first pass, and opened https://github.com/athulpg007/AMAT/issues/3 and https://github.com/athulpg007/AMAT/issues/4 accordingly. In addition, I didn't see automated tests or contribution instructions, so for now I left those checkboxes unchecked. I still have to go over the rest.

[2021-09-10 10:34] anki-xyz commented on #3632
@cMadan can we maybe schedule a five min zoom or something? I feel stupid to not actually can do the things I am supposed to do... I think I need some kind of help. Thank you!

[2021-09-10 10:53] crvernon commented on #3601
:wave: Hello @willu47 and @lisazeyen do you have any further comments for this review?  I would love to try to wrap this up before the end of our fiscal year if possible.  Thanks so much for your constructive and helpful review!

[2021-09-10 11:03] whedon opened #3713 "[PRE REVIEW]: react-simplified: an easy to use JavaScript UI library with automatic state and property management"
**Submitting author:** @eidheim (<a href="http://orcid.org/0000-0001-5355-6326">Ole Christian Eidheim</a>)
**Repository:** <a href="https://gitlab.com/eidheim/react-simplified" target ="_blank">https://gitlab.com/eidheim/react-simplified</a>
**Version:** v3.0.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-09-10 11:03] whedon commented on #3713
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-10 11:03] whedon commented on #3713
Wordcount for `paper.md` is 1130

[2021-09-10 11:03] whedon commented on #3713
[code]

[2021-09-10 11:03] whedon commented on #3713
[code]

[2021-09-10 11:03] whedon commented on #3713
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03713/joss.03713/10.21105.joss.03713.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03713/joss.03713/10.21105.joss.03713.pdf) :page_facing_up: :point_left:

[2021-09-10 11:08] lpantano commented on #3615
Hi @oliviamr and @iskandr, would you like and have time to review this tool? Thanks!
As a reminder, our review process happens in github, [read more](https://joss.readthedocs.io/en/latest/review_criteria.html). JOSS encourages best practices and helps the reviewer with a list to go over during the process to make it as easier as possible.

[2021-09-10 11:14] avik-pal commented on #2606
Sorry I should have updated here (I mentioned in the other issue). The tests have been updated

[2021-09-10 11:21] arfon commented on #3713
@whedon query scope

@eidheim – due to the relatively small size of this code, and whether or not this fits within our [definition of research software ](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) the editors will now discuss if this submission is in scope for us. We should get back to you sometime next week.

[2021-09-10 11:21] whedon commented on #3713
Submission flagged for editorial review.

[2021-09-10 11:56] KParas commented on #3630
@diehlpk Yes. I hope to stick by the proposed deadline.

[2021-09-10 12:23] meg-simula commented on #3343
@melund Great!

[2021-09-10 12:23] meg-simula commented on #3343
@whedon add @melund as reviewer

[2021-09-10 12:23] whedon commented on #3343
OK, @melund is now a reviewer

[2021-09-10 12:23] meg-simula commented on #3343
@whedon start review

[2021-09-10 12:23] whedon opened #3714 "[REVIEW]: Kinetics Toolkit: An Open-Source Python Package to Facilitate Research in Biomechanics"
**Submitting author:** @felixchenier (<a href="http://orcid.org/0000-0002-2085-6629">Félix Chénier</a>)
**Repository:** <a href="https://github.com/felixchenier/kineticstoolkit" target ="_blank">https://github.com/felixchenier/kineticstoolkit</a>
**Version:** 5.0.1
**Editor:** @meg-simula
**Reviewer:** @alcantarar, @melund
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Du

[2021-09-10 12:23] whedon commented on #3343
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3714.

[2021-09-10 12:23] #3343 closed

[2021-09-10 12:23] whedon commented on #3714
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alcantarar, @melund it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-09-10 12:24] whedon commented on #3714
PDF failed to compile for issue #3714 with the following error:
[code]

[2021-09-10 12:24] whedon commented on #3714
[code]

[2021-09-10 12:24] meg-simula commented on #3714
@whedon generate pdf from branch JOSS

[2021-09-10 12:24] whedon commented on #3714
[code]

[2021-09-10 12:24] meg-simula commented on #3714
@whedon check references from branch JOSS

[2021-09-10 12:24] whedon commented on #3714
[code]

[2021-09-10 12:25] whedon commented on #3714
[code]

[2021-09-10 12:25] whedon commented on #3714
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03714/joss.03714/10.21105.joss.03714.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03714/joss.03714/10.21105.joss.03714.pdf) :page_facing_up: :point_left:

[2021-09-10 12:28] meg-simula commented on #3714
👋🏼 @felixchenier @alcantarar @melund this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2021-09-10 12:30] eidheim commented on #3713
Thank you for considering this submission @arfon. I agree that the library is not targeting a specific research field, but rather several fields that are in need of an UI library in their work. I would still argue that this submission meets the JOSS review criteria, such as for instance the previous [gtk-fortran](https://joss.theoj.org/papers/10.21105/joss.01109) publication at JOSS.

[2021-09-10 12:43] zhanghe9704 commented on #3665
Hello Dr. Smith,

Indeed I was hesitant about whether to include Lingyun as an author. The
reason that I didn't are (1) Lingyun's code was included in the previous
versions of MAD-X so it has been published somewhere else as part of the
MAD-X; and (2) except for the two files used in the cppTPSA repository He
has not been involved in the work of the two repositories of the paper,
although I did co

[2021-09-10 12:52] danielskatz commented on #3607
@OlgerSiebinga - I wonder if you would want to make this data available as part of the documentation and testing for the software in general, not just for this review?  You could post the data in an archival repository such as zenodo.

[2021-09-10 13:49] OlgerSiebinga commented on #3607
I think I'd rather keep the general testing the way it is. Currently, it is based on the publicly available NGSim dataset, which is real data and I think that's a better way to verify that the software is working than fake data. The only features that are specific for HighD data are all example implementations to illustrate what can be done when extending the software. I think those examples do no

[2021-09-10 13:50] danielskatz commented on #3607
ok - this was just a thought...

[2021-09-10 13:52] OlgerSiebinga commented on #3607
no problem. Thanks for the suggestion!

[2021-09-10 13:56] kbarnhart commented on #3689
@arfon thanks! I suspect I'll be able to take on another paper by the time this is unpaused. So I'm going to assign myself.

[2021-09-10 13:56] kbarnhart commented on #3689
@whedon assign @kbarnhart as editor

[2021-09-10 13:56] whedon commented on #3689
OK, the editor is @kbarnhart

[2021-09-10 14:11] Saran-nns commented on #3545
Thank you @janfreyberg @janfb @rkurchin :D

[2021-09-10 14:20] lootie commented on #3707
Hi @VivianePons great to work with you again. For reviewers, I'll suggest wkearn and ysimillides.

[2021-09-10 14:22] danielskatz commented on #3607
@rusu24edward - It looks like you are happy for this to be published, as you've checked all your boxes. Can you please confirm this?

[2021-09-10 14:25] rkurchin commented on #3545
Congratulations, @Saran-nns! It's a cool paper, and thanks for being my editorial maiden voyage! ⛵

[2021-09-10 15:01] kramea commented on #3429
I will finish the review by this weekend.

On Fri, Sep 10, 2021 at 1:15 AM Arfon Smith ***@***.***>
wrote:

[2021-09-10 15:30] sbenthall commented on #3557
@reality there are some items not checked off in your review.
Have these issues been addressed by the author?

[2021-09-10 15:58] malmans2 commented on #3495
@arfon all my comments have been addressed by the authors and I think `lhorizon` is suitable for publication!
The package is in line with all best practices for open source software and I'm sure many users will find `lhorizon` very useful!

[2021-09-10 16:14] tkonolige commented on #3125
@adi3 I have some example usage in the readme. Is there something missing from it that you would like you would like to see? Right now you have to provide your own .obj file, but I could have the example download one.

[2021-09-10 16:25] steo85it commented on #3495
@arfon Same here, all my comments have been addressed and I'd recommend this useful package (and related paper) for publication. Thanks for inviting me to take part to this interesting process!

[2021-09-10 16:39] diehlpk commented on #3630
@whedon assign @KParas as reviewer

[2021-09-10 16:39] whedon commented on #3630
OK, @KParas is now a reviewer

[2021-09-10 16:41] diehlpk commented on #3274
@clavigne I can approve the paper from the editorial perspective, please work on the two tasks above. After that I will have some final look.

[2021-09-10 16:44] diehlpk commented on #3465
@elwinter Can you have a look at  elwinter/nnde#13 and sphinx/mkdocs?

[2021-09-10 16:50] Shibabrat commented on #3482
Hi @nicoguaro, we've updated the documentation with a new structure and hope this is less confusing. Please have a look around at https://ldds.readthedocs.io/en/latest/ and let us know if any other formatting change/s that will improve readability. Thanks.

[2021-09-10 16:50] kellyrowland commented on #3691
Yep, I can take this on.

[2021-09-10 17:01] whedon opened #3715 "[PRE REVIEW]: PyLithics: A Python package for stone tool analysis"
**Submitting author:** @JasonGellis (<a href="http://orcid.org/0000-0002-9929-789X">Jason Gellis</a>)
**Repository:** <a href="https://github.com/alan-turing-institute/Palaeoanalytics" target ="_blank">https://github.com/alan-turing-institute/Palaeoanalytics</a>
**Version:** v1.0
**Editor:** @Nikoleta-v3
**Reviewers:** @MichaelHoltonPrice , @steko
**Managing EiC:** Arfon Smith

**:warning: JOSS re

[2021-09-10 17:01] whedon commented on #3715
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-10 17:01] whedon commented on #3715
Wordcount for `paper.md` is 1151

[2021-09-10 17:01] whedon commented on #3715
[code]

[2021-09-10 17:01] whedon commented on #3715
Failed to discover a valid open source license.

[2021-09-10 17:01] whedon commented on #3715
[code]

[2021-09-10 17:01] whedon commented on #3715
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03715/joss.03715/10.21105.joss.03715.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03715/joss.03715/10.21105.joss.03715.pdf) :page_facing_up: :point_left:

[2021-09-10 17:03] arfon commented on #3715
@JasonGellis – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use

[2021-09-10 17:03] arfon commented on #3715
@whedon query scope

[2021-09-10 17:03] whedon commented on #3715
Submission flagged for editorial review.

[2021-09-10 18:19] landreman commented on #3525
@ZedThree, @StanczakDominik, and @dfm: thank you for taking the time to review and edit our paper!

[2021-09-10 18:34] fawda123 commented on #3485
@paleolimbot I just added an `# Example usage` section https://github.com/tbep-tech/tbeptools/commit/ec595837d30d278c2fd1cb2a338eb76f34594f94

[2021-09-10 19:22] fboehm commented on #3708
@elimillera - Thanks again for agreeing to review! It looks like you might not have accepted the invitation from whedon, the JOSS bot. If this is the case, please feel free to accept the invitation so that you can check items in the above checklist. I think that the invitation expires in a few days. Thanks again!

[2021-09-10 19:46] jarvist commented on #3711
After brief discussion on the Slack, the answer is that yes there is an issue tracker for such things, and I've added an issue & will attempt to keep track of it:
https://github.com/openjournals/joss/issues/988

[2021-09-10 19:50] jmschrei commented on #3622
@Zethson @maximtrp can you please provide an update on how your review is going? Thanks!

[2021-09-10 19:51] jmschrei commented on #3446
Hi @n3011. Can you provide an estimate for how long it'll take for you to make the suggested changes? Thanks!

[2021-09-10 19:52] jmschrei commented on #3447
Hi @pps121. Are you done with your review? Can you please provide some feedback to the authors on what revisions you'd suggest that they make?

[2021-09-10 19:55] fboehm commented on #3417
I sent the following email message to the submitting author's email address today:

Hi, Professor Onnela,

I'm writing as a JOSS editor to update you on the status of your submission (Beiwe: A data collection platform for high-throughput digital phenotyping) to Journal of Open Source Software.

It seems that there have been no responses from you and your team in more than a month. Please begin to

[2021-09-10 19:58] fawda123 commented on #3485
@kthyng @richardsc @paleolimbot I'm done addressing the comments from all.  I really appreciate the thoughtful comments on this package and paper.  I think we've got a much better product as a result.

For the first comment from @richardsc, I've added some descriptive text describing the suffixes (see my response here https://github.com/tbep-tech/tbeptools/issues/47).  For the second comment (i.e.

[2021-09-10 20:02] fboehm commented on #3417
I followed up with this email message:

Professor Onnela, 
I need to amend the earlier statement to say that, if no progress is noted by September 30, we'll need to reject the submission. 
Thanks for your attention to this. 
fred

[2021-09-10 20:20] JasonGellis commented on #3715
Hello, on our original submission we listed marcosvital as a preferred editor. The following seem like excellent choices for reviewers:
MichaelHoltonPrice
sjvrijn
dombennett
platipodium

[2021-09-10 20:23] nicoguaro commented on #3482
I think that this new structure works better. I see some placeholders but I guess that you will fill them while completing the reviewing.

@richardjgowers, I have marked all the boxes above and consider that we can move forward with publication.

[2021-09-10 20:23] lpantano commented on #3615
@whedon assign @friedue as reviewer

[2021-09-10 20:23] whedon commented on #3615
OK, @friedue is now a reviewer

[2021-09-10 20:26] JasonGellis commented on #3715
@whedon check references

[2021-09-10 20:27] whedon commented on #3715
[code]

[2021-09-10 20:44] Zethson commented on #3622
Planned for next week. Still on holiday.  Friday, 10 September 2021, 09:50PM +02:00 from Jacob Schreiber  ***@***.*** :

***@***.*** @maximtrp can you please provide an update on how your review is going? Thanks!

[2021-09-11 02:30] jgostick commented on #3325
Hi @ArtVoro, at JOSS we do not reject papers, but prefer to allow the authors to work on them until their acceptable. The two reviewers did a very thorough job, but they are out of time to stick around for more rounds of review and review.  Instead, one of JOSS's associate editors (@jarvist) will chime in on some issues that need to be addressed. I think this is largely documentation and explanati

[2021-09-11 02:32] jgostick commented on #2976
@whedon set V1.0.0 as version

[2021-09-11 02:32] whedon commented on #2976
OK. V1.0.0 is the version.

[2021-09-11 02:33] jgostick commented on #2976
@whedon set 10.5281/zenodo.5499455 as archive

[2021-09-11 02:33] whedon commented on #2976
OK. <a href="https://doi.org/10.5281/zenodo.5499455" target="_blank">10.5281/zenodo.5499455</a> is the archive.

[2021-09-11 02:33] jgostick commented on #2976
@whedon accept

[2021-09-11 02:33] whedon commented on #2976
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-09-11 02:34] jgostick commented on #2976
@whedon recommend-accept

[2021-09-11 02:34] whedon commented on #2976
[code]

[2021-09-11 02:34] whedon commented on #2976
[code]

[2021-09-11 02:34] whedon commented on #2976
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2584

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2584, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-11 02:35] jgostick commented on #2976
@Isurwars, can you fix the DOIs in your references as noted by whedon above?

[2021-09-11 02:36] whedon commented on #3666
:wave: @chrisleaman, please update us on how your review is going (this is an automated reminder).

[2021-09-11 02:36] whedon commented on #3666
:wave: @dbuscombe-usgs, please update us on how your review is going (this is an automated reminder).

[2021-09-11 02:39] diehlpk commented on #3630
Hi @pragyansmita @nnadeau @ctdegroot @srmnitc @shibabrat @remram44 would you be interested in reviewing this paper?

[2021-09-11 06:49] whedon opened #3716 "[PRE REVIEW]: shinyJackpot: Visualizing lottery gambling in a large Canadian city"
**Submitting author:** @andr3wli (<a href="http://orcid.org/0000-0001-9033-1433">Andrew Li</a>)
**Repository:** <a href="https://github.com/andr3wli/shinyapps" target ="_blank">https://github.com/andr3wli/shinyapps</a>
**Version:** 0.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-09-11 06:49] whedon commented on #3716
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-11 06:49] whedon commented on #3716
Wordcount for `paper.md` is 1161

[2021-09-11 06:49] whedon commented on #3716
[code]

[2021-09-11 06:49] whedon commented on #3716
[code]

[2021-09-11 06:49] whedon commented on #3716
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03716/joss.03716/10.21105.joss.03716.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03716/joss.03716/10.21105.joss.03716.pdf) :page_facing_up: :point_left:

[2021-09-11 06:51] Kevin-Mattheus-Moerman commented on #3638
@oliviaguest could you help edit this submission? If not, @cMadan is this something you could edit?

[2021-09-11 06:54] Kevin-Mattheus-Moerman commented on #3665
@whedon invite @meg-simula as editor

[2021-09-11 06:54] whedon commented on #3665
@meg-simula has been invited to edit this submission.

[2021-09-11 06:56] Kevin-Mattheus-Moerman commented on #3665
@meg-simula if you are able to it would be great if you could help with this submission. Let us know if you can or elaborate on your comment above :point_up:.  No worries if you cannot. Thanks.

[2021-09-11 06:58] Kevin-Mattheus-Moerman commented on #3665
@arfon sorry I see you just invited @pibion also. For some reason I missed that, I think my window here had not been refreshed yet. Well hopefully either @pibion or @meg-simula can handle this submission. Apologies for the confusion.

[2021-09-11 06:59] Kevin-Mattheus-Moerman commented on #3579
@btreeby @dannyramasawmy @jarosjir @thewtex @pharshalp @scivision would you be interested in reviewing this work (a MATLAB/octave toolbox for ultrasound imaging) for the Journal of Open Source Software (JOSS)?
The smooth review process takes place on GitHub, and focuses on the software as well as a short paper.

Thanks!

Note under the current COVID19 pandemic we can be quite flexible in terms of

[2021-09-11 07:18] Kevin-Mattheus-Moerman commented on #3579
@lassoan thanks for your comments on licenses. We respect your comments and understand them, and also that you feel you do not wish to review this work. Of course the license chosen is up to the developers of the software. At JOSS we consider works open source only if they have an [OSI approved license](https://opensource.org/licenses).

I see your points on the GPL license. These are valid concer

[2021-09-11 07:19] Kevin-Mattheus-Moerman commented on #3579
@mh-skjelvareid if based the above you have reconsidered your license let us know, again as long as it is an [OSI approved](https://opensource.org/licenses) open source license your work is compatible with JOSS.

[2021-09-11 07:30] Kevin-Mattheus-Moerman commented on #3579
@mh-skjelvareid did you see my remarks above :point_up: (those check boxes), can you formulate a response? FYI you can call `@whedon generate pdf` here to update the paper.

[2021-09-11 07:33] whedon opened #3717 "[PRE REVIEW]: A flexible search system for high-accuracy identification of biological entities and molecules"
**Submitting author:** @maxkfranz (<a href="http://orcid.org/0000-0003-0169-0480">Max Franz</a>)
**Repository:** <a href="https://github.com/PathwayCommons/grounding-search" target ="_blank">https://github.com/PathwayCommons/grounding-search</a>
**Version:** 0.6.0
**Editor:** @galessiorob
**Reviewers:** @AlexanderPico, @rabdill
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :

[2021-09-11 07:33] whedon commented on #3717
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-11 07:33] whedon opened #3718 "[PRE REVIEW]: PanelKalmanFilter: A Python package for Kalman Filtering for Panel Data"
**Submitting author:** @datstat-consulting (<a href="http://orcid.org/0000-0003-2787-7235">Adriel</a>)
**Repository:** <a href="https://github.com/datstat-consulting/PanelKalmanFilter" target ="_blank">https://github.com/datstat-consulting/PanelKalmanFilter</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warnin

[2021-09-11 07:33] whedon commented on #3718
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-11 07:33] whedon commented on #3717
Wordcount for `paper.md` is 1810

[2021-09-11 07:33] whedon commented on #3717
[code]

[2021-09-11 07:34] whedon commented on #3718
Wordcount for `paper.md` is 259

[2021-09-11 07:34] whedon commented on #3718
[code]

[2021-09-11 07:34] whedon commented on #3717
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03717/joss.03717/10.21105.joss.03717.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03717/joss.03717/10.21105.joss.03717.pdf) :page_facing_up: :point_left:

[2021-09-11 07:34] whedon commented on #3718
[code]

[2021-09-11 07:34] whedon commented on #3718
PDF failed to compile for issue #3718 with the following error:
[code]

[2021-09-11 07:34] whedon commented on #3717
[code]

[2021-09-11 08:23] Kevin-Mattheus-Moerman commented on #3603
@alexlib @yosefm  @eguvep @clarka34  @andreall @dcsale would you be interested in reviewing this work for JOSS?

The review focuses on [the software](https://gitlab.com/fibreglass/pivc) itself, as well as a [short paper](https://github.com/openjournals/joss-papers/blob/joss.03603/joss.03603/10.21105.joss.03603.pdf). The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_gu

[2021-09-11 10:53] AlexanderJuestel commented on #3709
@crvernon, thanks for assisting with this!
@omshinde, @kanishkan91, I am looking forward to go through this review with you guys!

[2021-09-11 11:02] linuxscout commented on #3663
Salam,
Where is the review checklist?
Thanks

[2021-09-11 13:19] omshinde commented on #3541
Hi @elbeejay! I am done with my reviews based on the above checklist. Please find my comments below. After the minor suggestions are addressed, I am good to approve the submission for publication with JOSS based on the review checklist. Thanks!

#### Working Environment
OS: Ubuntu 20.04.2 LTS
Java version: `openjdk version "1.8.0_292"`

#### Submission
The authors presented a geospatial processing

[2021-09-11 13:33] datstat-consulting commented on #3718
@whedon generate pdf

[2021-09-11 13:33] whedon commented on #3718
PDF failed to compile for issue #3718 with the following error:
[code]

[2021-09-11 13:34] datstat-consulting commented on #3718
@whedon generate pdf

[2021-09-11 13:34] whedon commented on #3718
PDF failed to compile for issue #3718 with the following error:
[code]

[2021-09-11 13:37] datstat-consulting commented on #3718
@whedon generate pdf

[2021-09-11 13:37] timdewhirst commented on #3603
Happy to review the code - what are you looking for? Code structure, quality, extensibility, ...?

[2021-09-11 13:37] whedon commented on #3718
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03718/joss.03718/10.21105.joss.03718.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03718/joss.03718/10.21105.joss.03718.pdf) :page_facing_up: :point_left:

[2021-09-11 13:41] ArneTillmann commented on #3663
@arfon, how about pps121?

[2021-09-11 13:52] csoneson commented on #3661
Thanks @prdm0 for your thoughtful review!

@simonpcouch - as the reviewers both recommend accepting the submission, I will take a quick look as well and get back to you shortly with the next steps.

[2021-09-11 13:57] csoneson commented on #3661
@whedon generate pdf

[2021-09-11 13:57] whedon commented on #3661
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03661/joss.03661/10.21105.joss.03661.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03661/joss.03661/10.21105.joss.03661.pdf) :page_facing_up: :point_left:

[2021-09-11 14:02] ChrisW09 commented on #3663
@linuxscout Salam, we are still searching for a second reviewer before the review can start. Hopefully, we will find someone soon. Thank you for taking the time to review our paper!  @arfon Do you perhaps also have suggestions for further potential reviewers. thanks.

[2021-09-11 14:11] csoneson commented on #3661
@whedon check references

[2021-09-11 14:11] whedon commented on #3661
[code]

[2021-09-11 14:41] abhishekvp commented on #3541
Hey @elbeejay! Thanks for the reminder. I have already checked some items off the the review checklist. I am working towards setting up the processing toolbox locally and testing it. I shall be able to complete the review by Tuesday, September 14, 2021 at the latest if not earlier. I apologize for the delay in turning in my review.

Thanks.

[2021-09-11 14:52] csoneson commented on #3661
👋🏻 @simonpcouch - I went through the submission and it looks good to me! Only a couple of things related to the references:

* There's a missing space between Modern and Dive in Ismay & Kim (2019)
* Could you provide more info/a link for Downey (2016)?
* I'd recommend adding references for the packages mentioned in the "Comparison to other packages" section

Could you fix these and ask whedon to g

[2021-09-11 15:15] richardsc commented on #3485
I am also happy with the recent changes.

[2021-09-11 15:21] fAndreuzzi commented on #3519
Hi @mschordan, sorry for the delay but I was a little bit busy this week.

I found code snippets on GitHub, but as I mention in the paper they lacked documentation, test cases, and a brief examination of the code made me think that time complexity was not taken into account at all. When I say "_not intended for distribution_" I mean that those snippets are not meant to be included in someone else'

[2021-09-11 16:03] arfon commented on #3663
@whedon start review

[2021-09-11 16:03] whedon opened #3719 "[REVIEW]: AuDoLab: Automatic document labelling and1 classfication for extremely unbalanced data"
**Submitting author:** @ArneTillmann (<a href="http://orcid.org/0000-0002-2761-4518">Arne Matthias Tillmann</a>)
**Repository:** <a href="https://github.com/ArneTillmann/AuDoLab" target ="_blank">https://github.com/ArneTillmann/AuDoLab</a>
**Version:** v1.0.7
**Editor:** @arfon
**Reviewer:** @linuxscout
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-09-11 16:03] whedon commented on #3663
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3719.

[2021-09-11 16:03] #3663 closed

[2021-09-11 16:03] whedon commented on #3719
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @linuxscout it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss

[2021-09-11 16:03] whedon commented on #3719
Wordcount for `paper.md` is 824

[2021-09-11 16:03] whedon commented on #3719
[code]

[2021-09-11 16:03] whedon commented on #3719
[code]

[2021-09-11 16:04] whedon commented on #3719
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03719/joss.03719/10.21105.joss.03719.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03719/joss.03719/10.21105.joss.03719.pdf) :page_facing_up: :point_left:

[2021-09-11 16:04] arfon commented on #3663
I've gone ahead and started the review while I keep looking for a second reviewer. @linuxscout - please head over to #3719 where the review checklist is available for you to work through.

[2021-09-11 16:05] arfon commented on #3663
:wave: @pps121 – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_AuDoLab: Automatic document labelling and1 classification for extremely unbalanced data_](https://github.com/ArneTillmann/AuDoLab).

[2021-09-11 16:05] arfon commented on #3719
@linuxscout – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are

[2021-09-11 16:06] ChrisW09 commented on #3663
@arfon great, thank you! @linuxscout we are very much looking forward to the review!

[2021-09-11 16:07] arfon commented on #3495
@malmans2 & @steo85it – many thanks for your updates!

@steo85it – could you check off the last remaining items in your review checklist?

[2021-09-11 16:17] pps121 commented on #3663
Hi,

Yes I have started to review the paper. I will finish the review soon.
Thanks.

Parthapratimsaha

On Sat, 11 Sep, 2021, 9:36 pm Christoph Weisser, ***@***.***>
wrote:

[2021-09-11 16:18] ChrisW09 commented on #3719
Hi @linuxscout, we are very much looking forward to the review and your comments. thanks.

[2021-09-11 16:39] ChrisW09 commented on #3663
@arfon @linuxscout We have a second reviewer with @pps121. @arfon Could you please add @pps121 to the review? thank you all!

[2021-09-11 16:43] rusu24edward commented on #3607
Yes confirm, all the changes look good to me.

[2021-09-11 17:17] athulpg007 commented on #3710
I have addressed [athulpg007/AMAT/#/3](https://github.com/athulpg007/AMAT/#/3) and [athulpg007/AMAT/#/4](https://github.com/athulpg007/AMAT/#/4).

I will add some tests and contribution instructions later today. Thanks!

[2021-09-11 19:20] jarvist commented on #3325
Dear all,
I'm writing this as an informal editorial assessment. I've read the paper, looked at some of the code, and read the two reviewers comments.

The codes are relatively lightweight wrappers around the GROMACS python bindings, and some analysis tools. There is not much algorithmic complexity, instead these are mostly glue codes. However, what they seem to enable is a Jupyter-notebook based s

[2021-09-11 20:28] Isurwars commented on #2976
I have fixed the DOIs and created a new release v1.0.1:

https://github.com/Isurwars/Correlation/releases/tag/v1.0.1

I also create a corresponding zenodo release:

https://zenodo.org/record/5501541

[2021-09-11 21:01] ArtVoro commented on #3325
Hi everyone,
first of all: thank you all for the additional feedback.

@jarvist i have a couple of comments and questions regarding your post.

1) did you check the quick guide? i made it to give an initial overview what to expect from the package. Would be nice if you can give feedback regarding this: [ https://kit-mbs.github.io/pyrexMD/quick_guide.html]( https://kit-mbs.github.io/pyrexMD/quick_g

[2021-09-11 21:05] ArtVoro commented on #3325
quick note on current todos:

easy fix, will do that tomorrow

- I will sit down and rework PAPER.md and try to explain it clearer what exactly the pyrexMD does and offers, as suggested by @jarvist

[2021-09-11 23:02] steo85it commented on #3495
@arfon Done, sorry!

[2021-09-11 23:03] srmnitc commented on #3630
@diehlpk Thank you for considering me. Unfortunately I cannot accept due to other commitments. I can only start on 15th of October, I assume that this is too late.

[2021-09-12 00:29] simonpcouch commented on #3661
Thank you, @csoneson! I've made each of the changes you've suggested, with one exception: the authors of the book do indeed spell ModernDive [without a space](https://moderndive.com/).

I just reached out to the admins of the tidymodels GitHub org to enable Zenodo's access to `tidymodels/infer`. I'll drop a note here once we've made it through each of the steps you've listed to generate an archive

[2021-09-12 00:29] simonpcouch commented on #3661
@whedon generate pdf

[2021-09-12 00:29] whedon commented on #3661
PDF failed to compile for issue #3661 with the following error:
[code]

[2021-09-12 00:34] simonpcouch commented on #3661
@whedon generate pdf

[2021-09-12 00:35] whedon commented on #3661
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03661/joss.03661/10.21105.joss.03661.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03661/joss.03661/10.21105.joss.03661.pdf) :page_facing_up: :point_left:

[2021-09-12 02:42] chrisleaman commented on #3666
Sorted out package installation issues, working through example notebooks at the moment.

[2021-09-12 06:40] arfon commented on #3719
@whedon add @pps121 as reviewer

[2021-09-12 06:40] whedon commented on #3719
OK, @pps121 is now a reviewer

[2021-09-12 06:42] arfon commented on #3719
@pps121 - thanks for agreeing to review this submission for us! Please take a look at [my instructions above](https://github.com/openjournals/joss-reviews/issues/3719#issuecomment-917430980) and complete your checklist as you work through your review.

[2021-09-12 06:43] arfon commented on #3663
:+1: I added them over in #3719. @pps121 – please take a look at the review checklist you will find over there.

[2021-09-12 07:01] Kevin-Mattheus-Moerman commented on #3603
Thanks for offering to help @timdewhirst. Yes we ask reviewers to test and evaluate the code. Here is an example of an ongoing review: https://github.com/openjournals/joss-reviews/issues/3611#issuecomment-915658561, as you can see the reviewers get a set of checkboxes at the top to guide them through the process. Here is more information about what we look for during review: https://joss.readthedo

[2021-09-12 07:06] whedon opened #3720 "[PRE REVIEW]: CategoricalTimeSeries.jl: A toolbox for categorical time-series analysis"
**Submitting author:** @johncwok (<a href="http://orcid.org/0000-0001-6266-5575">Corentin  Nelias</a>)
**Repository:** <a href="https://github.com/johncwok/CategoricalTimeSeries.jl" target ="_blank">https://github.com/johncwok/CategoricalTimeSeries.jl</a>
**Version:** 1.0.0
**Editor:** @jbytecode
**Reviewers:** @bkamins, @felixcremer
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced ser

[2021-09-12 07:06] whedon commented on #3720
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-12 07:06] whedon commented on #3720
Wordcount for `paper.md` is 784

[2021-09-12 07:06] whedon commented on #3720
[code]

[2021-09-12 07:06] whedon commented on #3720
[code]

[2021-09-12 07:06] whedon commented on #3720
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: :point_left:

[2021-09-12 07:08] whedon opened #3721 "[PRE REVIEW]: GiNaCDE: the high-performance F-expansion and First Integral Methods with C++ library for solving Nonlinear Differential Equations"
**Submitting author:** @mithun218 (<a href="http://orcid.org/0000-0002-9678-4625">Mithun Bairagi</a>)
**Repository:** <a href="https://github.com/mithun218/GiNaCDE" target ="_blank">https://github.com/mithun218/GiNaCDE</a>
**Version:** v1.0.0
**Editor:** @meg-simula
**Reviewers:** @peanutfun, @carstenbauer
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-09-12 07:08] whedon commented on #3721
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-12 07:08] whedon commented on #3721
Wordcount for `paper.md` is 962

[2021-09-12 07:08] whedon commented on #3721
[code]

[2021-09-12 07:08] whedon commented on #3721
[code]

[2021-09-12 07:09] whedon commented on #3721
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03721/joss.03721/10.21105.joss.03721.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03721/joss.03721/10.21105.joss.03721.pdf) :page_facing_up: :point_left:

[2021-09-12 07:09] Kevin-Mattheus-Moerman commented on #3690
@whedon generate pdf

[2021-09-12 07:10] whedon commented on #3690
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03690/joss.03690/10.21105.joss.03690.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03690/joss.03690/10.21105.joss.03690.pdf) :page_facing_up: :point_left:

[2021-09-12 07:15] arfon commented on #3495
@whedon generate pdf

[2021-09-12 07:15] whedon commented on #3495
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03495/joss.03495/10.21105.joss.03495.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03495/joss.03495/10.21105.joss.03495.pdf) :page_facing_up: :point_left:

[2021-09-12 07:24] Kevin-Mattheus-Moerman commented on #3690
@whedon check references

[2021-09-12 07:24] whedon commented on #3690
[code]

[2021-09-12 07:25] Kevin-Mattheus-Moerman commented on #3690
@dkauf42 thanks for fixing the paper and for listing some suggested reviewers. It would help us also if you could mention their GitHub handles if available (please leave out the @ symbol so they are not yet tagged).

[2021-09-12 07:32] Kevin-Mattheus-Moerman commented on #3020
@chennachaos could you reply to @diehlpk 's comments? :point_up: thanks.

[2021-09-12 07:40] Kevin-Mattheus-Moerman commented on #3691
@whedon assign @kellyrowland as editor

[2021-09-12 07:40] whedon commented on #3691
OK, the editor is @kellyrowland

[2021-09-12 07:45] Kevin-Mattheus-Moerman commented on #3717
@maxkfranz thanks for this submission. I will be looking for a handling editor for this work. In the mean time can you work on fixing those references :point_up:. You can call `@whedon generate pdf` here to update the paper and call `@whedon check references` to check those DOI's. Thanks.

[2021-09-12 07:50] Kevin-Mattheus-Moerman commented on #3717
@whedon invite @galessiorob as editor

[2021-09-12 07:50] whedon commented on #3717
@galessiorob has been invited to edit this submission.

[2021-09-12 07:51] Kevin-Mattheus-Moerman commented on #3717
@galessiorob do you think you could edit this work? The editors in the domain of bioinformatics are currently handling many other submissions. Let me know if this works fits well enough with your data science background. Thanks

[2021-09-12 07:53] arfon commented on #3495
@m-stclair – could you please merge this PR which fixes a few issues with the current paper: https://github.com/MillionConcepts/lhorizon/pull/26

After that, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For

[2021-09-12 07:57] ChrisW09 commented on #3719
@arfon fantastic, thank you! @linuxscout  @pps121 should you have any early ideas or comments, on how to improve the paper or make things more clear, please just let us know, and we will implement them as soon as we can. thank a lot.

[2021-09-12 07:59] Kevin-Mattheus-Moerman commented on #3718
@datstat-consulting thank you for this submission. Unfortunately this submission is not in scope for JOSS. In particular it does not match our minimum size requirements and therefore does not conform to our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criteria. We will therefore proceed to reject this submission as it stands. No

[2021-09-12 07:59] Kevin-Mattheus-Moerman commented on #3718
@whedon reject

[2021-09-12 07:59] whedon commented on #3718
Paper rejected.

[2021-09-12 07:59] #3718 closed

[2021-09-12 08:03] timdewhirst commented on #3603
I'll take a look at the guidelines, thanks.

researchgate: https://www.researchgate.net/profile/Tim-Dewhirst
linkedin: https://www.linkedin.com/in/timdewhirst/

[2021-09-12 08:31] clarka34 commented on #3603
@Kevin-Mattheus-Moerman thanks for the invite. I don't feel I can review it properly since I have never coded in C/C++. Good luck finding reviewers since it looks like an interesting project!

[2021-09-12 08:34] Kevin-Mattheus-Moerman commented on #3720
@johncwok thanks for this submission. I will be looking for a handling editor for this work. In the mean time can you work on fixing those references :point_up:. You can call `@whedon generate pdf` here to update the paper and call `@whedon check references` to check those DOI's. Thanks.

[2021-09-12 08:37] Kevin-Mattheus-Moerman commented on #3603
@whedon assign @timdewhirst as reviewer

[2021-09-12 08:37] whedon commented on #3603
OK, @timdewhirst is now a reviewer

[2021-09-12 08:38] Kevin-Mattheus-Moerman commented on #3603
@clarka34, that is understandable, thanks for the reply.

[2021-09-12 08:39] clarka34 commented on #3603
@Kevin-Mattheus-Moerman would be happy to check the installation and running of the software though if you need somebody to do that

[2021-09-12 11:51] johncwok commented on #3720
@whedon generate pdf
@whedon check references

[2021-09-12 11:51] whedon commented on #3720
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: :point_left:

[2021-09-12 11:52] johncwok commented on #3720
Dear Kevin, I checked the existing DOIs and added the missing ones.

[2021-09-12 14:17] whedon commented on #3668
:wave: @karthikncsu, please update us on how your review is going (this is an automated reminder).

[2021-09-12 14:17] whedon commented on #3668
:wave: @Balaje, please update us on how your review is going (this is an automated reminder).

[2021-09-12 14:17] whedon commented on #3668
:wave: @TLCFEM, please update us on how your review is going (this is an automated reminder).

[2021-09-12 14:41] richardjgowers commented on #3521
@whedon generate pdf

[2021-09-12 14:42] whedon commented on #3521
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03521/joss.03521/10.21105.joss.03521.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03521/joss.03521/10.21105.joss.03521.pdf) :page_facing_up: :point_left:

[2021-09-12 14:43] Kevin-Mattheus-Moerman commented on #3720
@whedon generate pdf

[2021-09-12 14:43] whedon commented on #3720
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: :point_left:

[2021-09-12 14:43] Kevin-Mattheus-Moerman commented on #3720
@whedon check references

[2021-09-12 14:43] whedon commented on #3720
[code]

[2021-09-12 14:46] Kevin-Mattheus-Moerman commented on #3720
@johncwok it looks like two still need some work, perhaps they need /..... FYI you can also run these commands I just ran yourself.

[2021-09-12 14:46] Kevin-Mattheus-Moerman commented on #3720
@whedon assign @jbytecode as editor

[2021-09-12 14:46] richardjgowers commented on #3521
@whedon check references

[2021-09-12 14:46] whedon commented on #3720
OK, the editor is @jbytecode

[2021-09-12 14:47] whedon commented on #3521
[code]

[2021-09-12 14:48] richardjgowers commented on #3521
@patrickfuchs the only thing I can see is that the reference to the latest version needs to be updated to now say v1.6.  After that can you redo the Zenodo deposit and report what the DOI for this is?

[2021-09-12 14:53] Kevin-Mattheus-Moerman commented on #3611
Thanks for the explanation @mikesmithlab.

@alexlib What is described sounds like reasonably documented manual steps. Which are acceptable in principle. If you agree, you could consider ticking that last box. Thanks again for your help here!

[2021-09-12 14:54] Kevin-Mattheus-Moerman commented on #3611
@nkeim could you provide an update on this review? Thanks again for your help!