[2017-11-02 03:09] ljvmiranda921 commented on #433
Hi @stsievert , the latest commit applies the changes needed. 👍

[2017-11-02 08:04] smikhael commented on #436
Hi @Kevin-Mattheus-Moerman thanks for the clarification. I'll keep an eye out on both pages.

[2017-11-02 08:43] mdbloice commented on #432
Hi @arfon certainly I can do that, and I have now updated the `paper.md` file to contain an acknowledgement and a link to the contributors tab of the repository.

[2017-11-02 09:44] hawk31 commented on #431
Hi @arfon !

Whoops, I fixed that typo already on the master branch and made a new release with all the changes. The zenodo archive of the software is available in https://zenodo.org/record/1040676

Thanks!

[2017-11-02 10:23] arfon commented on #431
@whedon set 10.5281/zenodo.1040676 as archive

[2017-11-02 10:23] whedon commented on #431
OK. <a href="http://dx.doi.org/10.5281/zenodo.1040676" target="_blank">10.5281/zenodo.1040676</a> is the archive.

[2017-11-02 10:34] arfon commented on #431
@dfm - many thanks for your review here ✨

@hawk31 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00431 ⚡️ 🚀 💥

[2017-11-02 10:34] #431 closed

[2017-11-02 14:17] sealhuang commented on #432
@mdbloice Thanks for your work. Given you have described how to test the code, I think it's ok for the compromise on automated tests. So you have addressed all my concerns, and  I'm ready to accept this and recommend it for publication. I think the package would be very helpful for the field. Congrats!
@arfon

[2017-11-02 14:21] mdbloice commented on #432
Great @sealhuang , thanks a lot, I appreciate the review and your encouraging words!

[2017-11-02 16:49] whedon opened #447 "[PRE REVIEW]: simpleCache: R caching for reproducible, distributed, large-scale projects"
**Submitting author:** @vpnagraj (<a href="http://orcid.org/0000-0003-0060-566X">VP Nagraj</a>)
**Repository:** <a href="https://github.com/databio/simpleCache" target ="_blank">https://github.com/databio/simpleCache</a>
**Version:** 0.3.1
**Editor:** @leeper
**Reviewer:** @sckott

**Author instructions**

Thanks for submitting your paper to JOSS @vpnagraj. The JOSS editor (shown at the top of thi

[2017-11-02 16:49] whedon commented on #447
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-11-02 17:06] danielskatz commented on #437
Some comments from Paul Zimmerman that may help in the review process:

the paper is in the repository as paper.md
(https://github.com/iljah/hdintegrator/blob/master/paper.md). A PDF will be
generated if/when accepted.

both. See the review info in the about page
(http://joss.theoj.org/about#reviewer_guidelines), and see an example of a review
in progress: https://github.com/openjournals/joss-revi

[2017-11-02 19:34] stsievert commented on #433
@kyleniemeyer my review is still in progress. I still need to download and verify the claims in the documentation. Plus I'd like @oesteban's comment too.

[2017-11-02 20:18] mdoucet commented on #399
Another possible reviewer could be @khinsen.

[2017-11-02 21:10] pboesu commented on #441
Hello @kyleniemeyer and @philipperenard,

thank you both for your patience, and my apologies again for delaying this review.

I have now reviewed the paper and code. This is a very well documented toolbox, and all of the example cases are detailed and work.

I have highlighted a few minor issues, but these should be easy to address

1. There are conflicting licenses in the toolbox (MIT vs GPL3). P

[2017-11-02 23:28] wkearn commented on #438
@kyleniemeyer I'd be happy to review this submission.

[2017-11-02 23:45] kyleniemeyer commented on #438
@wkearn Excellent! Thanks for volunteering

[2017-11-02 23:45] kyleniemeyer commented on #438
@whedon commands

[2017-11-02 23:45] whedon commented on #438
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-11-02 23:46] kyleniemeyer commented on #438
@whedon assign @wkearn as reviewer

[2017-11-02 23:46] whedon commented on #438
OK, the reviewer is @wkearn

[2017-11-02 23:46] kyleniemeyer commented on #438
@whedon start review magic-word=bananas

[2017-11-02 23:46] whedon opened #448 "[REVIEW]: FullSWOF: Full Shallow-Water equations for Overland Flow"
**Submitting author:** @mlep (Frédéric Darboux), on behalf of (<a href="http://orcid.org/0000-0003-1700-4553">Carine Lucas</a>)
**Repository:** <a href="http://www.univ-orleans.fr/mapmo/soft/FullSWOF/" target ="_blank">http://www.univ-orleans.fr/mapmo/soft/FullSWOF/</a>
**Version:** v1.07.00
**Editor:** @kyleniemeyer
**Reviewer:** @wkearn
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1095

[2017-11-02 23:46] whedon commented on #438
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/448. Feel free to close this issue now!

[2017-11-02 23:46] whedon commented on #448
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @wkearn it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-11-02 23:47] kyleniemeyer commented on #438
@wkearn we'll do the actual review over in #448, please take a look at the [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines)

[2017-11-02 23:47] #438 closed

[2017-11-03 09:44] mdbloice commented on #432
By the way, @arfon is there anything I need to do or change regarding the version number mismatch?

[2017-11-03 12:54] arfon commented on #432
I can fix that.

@mdbloice - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-11-03 15:37] whedon opened #449 "[PRE REVIEW]: The psycho Package: an Efficient and Publishing-Oriented Workflow for Psychological Science"
**Submitting author:** @DominiqueMakowski (<a href="http://orcid.org/0000-0001-5375-9967">Dominique Makowski</a>)
**Repository:** <a href="https://github.com/neuropsychology/psycho.R" target ="_blank">https://github.com/neuropsychology/psycho.R</a>
**Version:** 0.0.2
**Editor:** @leeper
**Reviewer:** @SachaEpskamp

**Author instructions**

Thanks for submitting your paper to JOSS @DominiqueMakowsk

[2017-11-03 15:37] whedon commented on #449
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-11-03 16:20] bzenger commented on #446
Hi, we would like to suggest the following reviewers for our JOSS submission.

Thanks.

@Kevin-Mattheus-Moerman, @cMadan, @nirum

[2017-11-03 16:22] JeanBilheux commented on #407
@arokem Here is the reply I got from the management/lawyers.

"""
ORNL’s prime contract with DOE requires the copyright in acknowledgement statements. The notice is a Prime Contract requirement.  Specifically, Paragraph I.141(d)(2) of our Prime Contract states: “The contractor shall mark each scientific or technical article first produced or composed under this Contract and submitted for journal p

[2017-11-04 15:07] whedon opened #450 "[PRE REVIEW]: Retriever: Data Retrieval Tool"
**Submitting author:** @henrykironde (<a href="http://orcid.org/0000-0001-7105-5808">henry senyondo</a>)
**Repository:** <a href="https://github.com/weecology/retriever" target ="_blank">https://github.com/weecology/retriever</a>
**Version:** v2.1.0
**Editor:** @leeper
**Reviewer:** @amoeba

**Author instructions**

Thanks for submitting your paper to JOSS @henrykironde. The JOSS editor (shown at

[2017-11-04 15:07] whedon commented on #450
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-04 15:08] arfon commented on #450
👋🏻 @leeper - the submitting author suggested you as the editor.

[2017-11-04 16:41] pjotrp commented on #124
@DannyArends can you take a final look?

[2017-11-04 17:33] mdbloice commented on #432
@whedon set 10.5281/zenodo.1041946 as archive

[2017-11-04 17:33] whedon commented on #432
I'm sorry @mdbloice, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-11-04 17:36] mdbloice commented on #432
Hi @arfon thanks for the info, I have done that for version 0.1.5 using Zenodo and as you can see I tried to set the archive using whedon, but was not allowed :)
Anyway, the DOI is above.
Thanks again!

[2017-11-04 18:33] lheagy commented on #440
Hi @bjmorgan, @jochym, @tacaswell. Just checking in, how are things going?

[2017-11-05 00:46] arfon commented on #432
@whedon set 10.5281/zenodo.1041946 as archive

[2017-11-05 00:46] whedon commented on #432
OK. <a href="http://dx.doi.org/10.5281/zenodo.1041946" target="_blank">10.5281/zenodo.1041946</a> is the archive.

[2017-11-05 00:56] arfon commented on #432
@sealhuang - many thanks for your review ✨

@mdbloice - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00432 ⚡️ 🚀 💥

[2017-11-05 00:56] #432 closed

[2017-11-05 09:39] mdbloice commented on #432
@arfon @sealhuang that's fantastic news, many many thanks for the efforts!

[2017-11-05 15:15] philipperenard commented on #441
Thank you very much for the evaluation and suggestions. I adressed alll the points mentioned in the review and replied directly on the github links.

The only thing that I have not done yet is the to add unit tests. As I wrote in my reply, I will not be able to do them rapidly but I agree with the reviewer that they should be added.

[2017-11-06 02:54] pboesu commented on #441
Thank you @philipperenard for the revisions!

Automated test would be great for future development, but given the very detailed worked examples, I think the review guidelines (which state that "manual steps described so that the function of the software can be verified" are sufficient) are satisfied.

@kyleniemeyer I am satisfied with the revisions and recommend the acceptance of this submission.

[2017-11-06 08:38] mdbloice commented on #432
@arfon - not sure if this is the right place to point this out, but one thing I just noticed is that the link to this review thread is broken on the JOSS page for the paper where it says "View review issue".

[2017-11-06 11:25] arfon commented on #432
Good catch! This should be fixed now.

[2017-11-06 14:16] danielskatz commented on #437
Hi @marksantcroos - How's this going?

[2017-11-06 14:19] marksantcroos commented on #437
Hi @danielskatz, sorry for the delay. I actually have a question. I played around initially, but ran into some issues that stopped me from being able to continue. I meant to read more about the process but postponed that ... Is the process meant to be incremental, or should I do it based on the status quo? E.g., if the installation stops me from continuing, is that then the end-result of the first

[2017-11-06 14:23] danielskatz commented on #437
Don't think of this as a first review, but as an incremental process.  Report problems to the author.

- If brief, report them here

- If detailed, open an issue in the source repo and make a note here that you have done so with a link to the issue(s).

Then you are done until the author responds...

[2017-11-06 14:27] danielskatz commented on #437
Some comments from Paul Zimmerman that might help the review process:

it (say in Debian or Ubuntu).

[2017-11-06 15:06] danielskatz commented on #437
In general, Paul's comments are inputs to you and @marksantcroos.  I don't think these discussions that Paul mentions are needed in paper.md, but they probably are needed somewhere in the documentation/repository, in my opinion.

Please feel free to ignore the references comment - Paul is new to the JOSS system.  Your understanding is correct.

[2017-11-06 15:13] iljah commented on #437
mpi4py appears to be available in Ubuntu repositories so it should be installable as described in Ubuntu documentation: https://help.ubuntu.com/stable/ubuntu-help/addremove-install.html I don't use Ubuntu myself but I'll mention this and add the required command line incantations to the INSTALL file.

Looks like the installation instructions forgot to mention that the PYTHONPATH environment variab

[2017-11-06 16:09] #435 closed

[2017-11-06 16:11] cMadan commented on #430
@jordigh, let me know if you have any questions regarding the review process!

[2017-11-06 16:13] cMadan commented on #413
@haythamfayek, I just need you to archive the current code on a service like Zenodo or figshare (and provide me with the DOI) and we'll be all set!

[2017-11-06 19:42] kyleniemeyer commented on #441
@pboesu thanks for your review!

To both of you, JOSS does not require an automated test suite, but it is definitely encouraged in general as a best practice. However, we do want sufficient manual tests/examples to verify the functionality, and it sounds like that is satisfied.

[2017-11-06 20:26] philipperenard commented on #441
Thank you @pboesu and @kyleniemeyer for the review and comments !

Is there anything else that you want me to do now ?

[2017-11-07 05:22] haythamfayek commented on #413
Hi @cMadan

Here is the DOI from Zenodo:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1042860.svg)](https://doi.org/10.5281/zenodo.1042860)

There is now a version mismatch from the above. The submitted version is 0.7 vs the archived version is 0.8. How can I amend that?

[2017-11-07 10:01] iljah commented on #437
The program should work now without requiring manual editing of PYTHONPATH and I also added the NetworkX package as a requirement that I had forgotten to mention. I couldn't get the program to work with a vanilla install of Ubuntu but this seems to be a known bug for over a year now that is still unresolved: https://bugs.launchpad.net/ubuntu/+source/mpi4py/+bug/1583432 There's a workaround in the

[2017-11-07 10:11] nirum commented on #413
I updated this issue with the new version. In case you reference the version in the paper.md file, edit it there too--I think that's all you have to do.

[2017-11-07 10:35] arfon commented on #413
@whedon set 10.5281/zenodo.1042860 as archive

[2017-11-07 10:35] whedon commented on #413
OK. <a href="http://dx.doi.org/10.5281/zenodo.1042860" target="_blank">10.5281/zenodo.1042860</a> is the archive.

[2017-11-07 10:46] arfon commented on #413
@nirum - many thanks for your review and to @cMadan for editing this submission ✨

@haythamfayek - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00413 ⚡️ 🚀 💥

[2017-11-07 10:46] #413 closed

[2017-11-07 11:07] DannyArends commented on #124
Re-Re-Review of scikit-learn-contrib/forest-confidence-interval

I have checked the boxes of the things which are now fixed, but again there are some (6) remaining open major issues which according to me should be fixed before publication. Additionally 1 minor issue which may be ignored by the authors.

Major issues:

**Example usage:**
1) One of the examples use a data set from the UC Irvine Mach

[2017-11-07 11:28] leeper commented on #450
@amoeba Would you be interested in reviewing this?

[2017-11-07 15:22] biorelated commented on #445
@nelkibs just a quick ping on the status of this review?

[2017-11-07 15:44] arokem commented on #124
On Tue, Nov 7, 2017 at 11:07 AM, Danny Arends <notifications@github.com>
wrote:

Sorry - I am not sure I understand what is meant by before and after. Do
you mean a plot of the same data without error bars and then a plot with
error bars?

Does this PR address this issue?
https://github.com/scikit-learn-contrib/forest-confidence-interval/pull/62

Wasn't this addressed in this PR:
https://github.co

[2017-11-07 15:57] DannyArends commented on #124
Dear @arokem

"Does this PR address this issue? scikit-learn-contrib/forest-confidence-interval#62"
- Yes, that is enough.

However why is there a sqrt in the example code ?

line 59: np.sqrt(spam_V_IJ_unbiased[idx_ham])

"Wasn't this addressed in this PR: scikit-learn-contrib/forest-confidence-interval#59?"

- Yes it was addressed, that's why I removed it from the review list, and removed it from

[2017-11-07 18:24] amoeba commented on #450
@leeper sure. I'll probably need through this weekend to do the review.

[2017-11-07 19:10] kyleniemeyer commented on #441
Hi @philipperenard, I'm just taking a look at the actual paper now.

I notice that you have a great figure in your wiki that demonstrates a use case for the software. Could you incorporate that, along with an explanation (similar to what is also in the wiki) into the paper? I think that would help strengthen the paper, and make it more clear how the software can be used.

Also, a few additional mi

[2017-11-07 19:18] leeper commented on #450
@amoeba Excellent. Thank you!

[2017-11-07 19:18] leeper commented on #450
@whedon assign @amoeba as reviewer

[2017-11-07 19:18] whedon commented on #450
OK, the reviewer is @amoeba

[2017-11-07 19:20] leeper commented on #450
@whedon start review magic-word=bananas

[2017-11-07 19:20] whedon opened #451 "[REVIEW]: Retriever: Data Retrieval Tool"
**Submitting author:** @henrykironde (<a href="http://orcid.org/0000-0001-7105-5808">henry senyondo</a>)
**Repository:** <a href="https://github.com/weecology/retriever" target ="_blank">https://github.com/weecology/retriever</a>
**Version:** v2.1.0
**Editor:** @leeper
**Reviewer:** @amoeba
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1038272" target="_blank">10.5281/zenodo.1038272</a>

[2017-11-07 19:20] whedon commented on #450
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/451. Feel free to close this issue now!

[2017-11-07 19:20] whedon commented on #451
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @amoeba it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-11-07 19:21] leeper commented on #450
@amoeba @henrykironde Review is setup in #451, please take a look at the [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines) as needed and let me know if you have any questions.

[2017-11-07 19:21] #450 closed

[2017-11-07 22:54] arfon commented on #413
Huh, yeah, something weird going on in the [LaTeX template](https://github.com/openjournals/whedon/blob/master/resources/latex.template) we use to produce the PDF. A couple of thoughts:

- The word 'GitHub' in that sentence already links to the GitHub repository in the PDF so perhaps we don't need the URL called out separately too.
- JOSS papers by default link to the software repository already (

[2017-11-08 07:35] haythamfayek commented on #413
@arfon - I am happy to remove the link from `paper.md` (Will that auto recompile?) but the links will continue to overflow in other documents as well. We can add the `breaklinks` option to the hyperref package to allow multi-line links. Would you like me to submit a pull request?

[2017-11-08 11:23] pjotrp commented on #124
@DannyArends are you happy?

[2017-11-08 11:51] kpolimis commented on #124
Re: "Additionally, there is no description of what settings can be used in the calculation of inbag and unbiased variance and how these influence the results. Additionally no explanation is given why the Y-error bars need to be SQRT transformed before plotting. The examples provided are meaningless to me (and users) without better documentation and explanation of the code used in the examples."

p

[2017-11-08 12:18] DannyArends commented on #124
DOIs are still missing from the citations, but all in all I'm Happy.

I checked all the remaining boxes.

[2017-11-08 15:46] arfon commented on #413
Yes please do. I'll recompile the paper once you've made the change to the LaTeX template.

[2017-11-08 16:58] pjotrp commented on #124
Excellent. Thank you so much all of you! @arfon we can R&R.

[2017-11-09 01:04] arfon commented on #124
@kpolimis - could you please merge this PR https://github.com/scikit-learn-contrib/forest-confidence-interval/pull/64 and then make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-11-09 04:54] ljvmiranda921 commented on #433
**Update:** The latest commit resolves ljvmiranda921/pyswarms#61

[2017-11-09 13:11] kpolimis commented on #124
@arfon I merged PR #64 and created a DOI of the archive with Zenodo (10.5281/zenodo.1044209)

[2017-11-09 14:25] arfon commented on #124
@whedon set 10.5281/zenodo.1044209 as archive

[2017-11-09 14:25] whedon commented on #124
OK. <a href="http://dx.doi.org/10.5281/zenodo.1044209" target="_blank">10.5281/zenodo.1044209</a> is the archive.

[2017-11-09 16:21] arfon commented on #124
@DannyArends - many thanks for your review here! ✨

@kpolimis - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00124 ⚡️ 🚀 💥

[2017-11-09 16:21] #124 closed

[2017-11-09 16:56] kpolimis commented on #124
thank you @DannyArends  and @arfon for your help/suggestions throughout this process.

[2017-11-09 19:27] arokem commented on #407
After some conversation with other JOSS editors, I am starting to understand that the copyright notice certainly is not in conflict with the CC-BY license (I was wrong in stating this before), but it is also really not necessary, and your paper will be less confusing to readers if you remove it. This is because, as the contract you cite from states, you are required to use a notice that is "simila

[2017-11-09 20:49] wkearn commented on #448
@kyleniemeyer I can't seem to find a `paper.md` file for this submission.

[2017-11-09 21:19] kpolimis commented on #124
Hi Arfon,

I just checked the version of the paper that appears online (
http://www.theoj.org/joss-papers/joss.00124/10.21105.joss.00124.pdf) and it
is a previous edition of the paper and not the version from Zenodo (
https://zenodo.org/record/1044209#.WgTE-GhSzD4). Is it possible to update
the JOSS paper to the latest version on master/Zenodo?

Thanks,

Kivan

Kivan Polimis
Postdoctoral Researche

[2017-11-09 21:31] kyleniemeyer commented on #448
Hi Carine, can you point to where the paper is in the repository?

Also, could you clarify which version was submitted? I notice that there are three—is it all of them?

[2017-11-10 00:33] arfonsmith commented on #124
Sure. That should be fixed now.

On Thu, Nov 9, 2017 at 4:19 PM, Kivan Polimis <notifications@github.com>
wrote:

[2017-11-10 02:16] whedon opened #452 "[PRE REVIEW]: ros_control: A generic and simple control framework for ROS"
**Submitting author:** @bmagyar (<a href="http://orcid.org/0000-0001-8455-8674">Bence Magyar</a>)
**Repository:** <a href="https://github.com/ros-controls/joss_paper" target ="_blank">https://github.com/ros-controls/joss_paper</a>
**Version:** 0.12.0
**Editor:** @danielskatz
**Reviewer:** @progtologist

**Author instructions**

Thanks for submitting your paper to JOSS @bmagyar. The JOSS editor (sh

[2017-11-10 02:17] whedon commented on #452
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-11-10 02:29] arfon commented on #452
👋 @bmagyar. Thanks for your submission to JOSS. A couple of questions/clarifications on this submission:

- Could you confirm what the research application of the `ros-controls` suite of software is?
- I'm concerned about the amount of work any reviewer is going to have to do here to review this submission. We generally expect one repository per submission but this looks to be a collection of sepa

[2017-11-10 10:17] bmagyar commented on #452
Hi @arfon

`ros_control` is a framework for robot control for robots using the Robot Operating System (ROS). ROS is core to most modern robotics research and it is making it's way to industry as well (e.g.: warehouse robots, home-care research platforms, commercial & research-grade self driving cars). The last section of our paper has a list of some research robots where `ros_control` is used to p

[2017-11-10 10:44] virgesmith commented on #408
@leeper, @jrnold I'm keen to progress this but its all gone rather quiet...

[2017-11-10 13:43] arfon commented on #452
OK thanks @bmagyar.

Yes, I think that might be useful. Also, a forewarning: we might struggle a little to find an editor and reviewers for this submission as it's somewhat outside our 'regular' subject matter.

[2017-11-10 13:50] danielskatz commented on #452
I'm a little familiar with ROS, and could act as editor, given good suggestions for reviewers.

[2017-11-10 18:36] leeper commented on #408
@virgesmith I've just taken another look at this. I would like to see some small revisions before accepting this. Namely, it would be good for all of the R documentation pages to include small examples of code usage. It's fine to include all of these in `\dontrun{}` brackets. Similarly, can the main package [documentation page](https://github.com/virgesmith/UKCensusAPI/blob/master/R/UKCensusAPI.R)

[2017-11-10 20:25] cMadan commented on #259
@arokem I was able to test the package fine on a Windows 10 PC and it worked great. Also, as mentioned last time another person has had it work on a Mac, so we can leave that debugging for another time. The package does what's supposed to do, is well documented, and the paper seems to be in order. I recommend the submission be accepted at JOSS.

@DominiqueMakowski, sorry for the delay in testing i

[2017-11-10 21:28] stsievert commented on #433
I've updated the review, and all boxes are checked.

[2017-11-11 00:01] kyleniemeyer commented on #433
Hi @oesteban, have you had a chance to look at the software package and paper, if you are still able to?

[2017-11-11 14:03] bmagyar commented on #452
Am I allowed to suggest or does it have to come from the editors?

On Nov 10, 2017 13:50, "Daniel S. Katz" <notifications@github.com> wrote:

[2017-11-11 16:20] arfon commented on #452
We'd welcome some names (and ideally GitHub handles) for some potential reviewers.

[2017-11-11 23:33] whedon opened #453 "[PRE REVIEW]: codemetar: Generate CodeMeta Metadata for R Packages"
**Submitting author:** @cboettig (<a href="http://orcid.org/0000-0002-1642-628X">Carl Boettiger</a>)
**Repository:** <a href="https://github.com/ropensci/codemetar" target ="_blank">https://github.com/ropensci/codemetar</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @cboettig. The JOSS editor (shown at the top of t

[2017-11-11 23:33] whedon commented on #453
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-12 06:17] cboettig commented on #453
Thanks!  Just a note that this package was reviewed by two external reviewers through the rOpenSci onboarding process handled by editor @maelle https://github.com/ropensci/onboarding/issues/130

[2017-11-12 12:34] philipperenard commented on #441
Dear @kyleniemeyer,

Thank you for your suggestions. They are very much appreciated.

Here is what I did:
1. Add the same figure as in the wiki
2. Add a few sentences in the 4th paragraph explaining the figure.
3. Corrected "allowing to identify aquifer types" -> "used to identify aquifer types..."
4. Add a sentence explaining in the first paragraph whatis a  hydraulic test
5. Corrected "Hytool is

[2017-11-12 13:28] arfon commented on #453
@whedon assign @arfon as editor

[2017-11-12 13:28] whedon commented on #453
OK, the editor is @arfon

[2017-11-12 13:29] arfon commented on #453
@whedon assign @arfon as reviewer

[2017-11-12 13:29] whedon commented on #453
OK, the reviewer is @arfon

[2017-11-12 13:29] arfon commented on #453
@whedon start review magic-word=bananas

[2017-11-12 13:29] #453 closed

[2017-11-12 13:29] whedon opened #454 "[REVIEW]: codemetar: Generate CodeMeta Metadata for R Packages"
**Submitting author:** @cboettig (<a href="http://orcid.org/0000-0002-1642-628X">Carl Boettiger</a>)
**Repository:** <a href="https://github.com/ropensci/codemetar" target ="_blank">https://github.com/ropensci/codemetar</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1048320" target="_blank">10.5281/zenodo.1048320</a>

## Statu

[2017-11-12 13:29] whedon commented on #453
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/454. Feel free to close this issue now!

[2017-11-12 13:29] whedon commented on #454
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-11-12 13:30] arfon commented on #454
Accepting because of onboarding into rOpenSci here: https://github.com/ropensci/onboarding/issues/130

[2017-11-12 13:39] arfon commented on #454
@cboettig - could you please merge this PR https://github.com/ropensci/codemetar/pull/39 and once you've made those changes could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-11-12 17:42] kyleniemeyer commented on #441
Thanks @philipperenard, a caught a few other things (or new one):

- "They consist in" -> "They consist of"
- "Many types of tests involving" -> "Many types of tests involve" (unless I misunderstand your meaning)

Once those are fixed, the submission will be ready to accept!

[2017-11-12 18:13] philipperenard commented on #441
Thanks @kyleniemeyer !

I corrected the first point.

For the second, the sentence is a bit complicated, but the meaning was "Many types of tests .... had been developped...". I added some comas to clarify the structure of the sentence. In my mind, "involving...." is a parenthetic clause. I am not 100% sure that what I did  is grammaticaly correct.  I could try to split the sentence.

[2017-11-12 18:18] kyleniemeyer commented on #441
@philipperenard ok, the edits definitely cleared that up.

@arfon this submission is now accepted!

[2017-11-12 18:19] kyleniemeyer commented on #441
@philipperenard can you archive the final version and share the DOI here?

[2017-11-12 20:20] philipperenard commented on #441
Thank you  @kyleniemeyer.
Here is the doi:  10.5281/zenodo.1045538

[2017-11-12 20:24] kyleniemeyer commented on #441
@whedon set 10.5281/zenodo.1045538 as archive

[2017-11-12 20:24] whedon commented on #441
OK. <a href="http://dx.doi.org/10.5281/zenodo.1045538" target="_blank">10.5281/zenodo.1045538</a> is the archive.

[2017-11-12 20:24] kyleniemeyer commented on #441
alright @arfon, *now* it's good to go.

[2017-11-12 22:59] arfon commented on #441
@philipperenard - please could you merge this PR: https://github.com/UniNE-CHYN/hytool/pull/5

[2017-11-12 23:03] arfon commented on #441
@pboesu - many thanks for your review here and to @kyleniemeyer for editing this submission ✨

@philipperenard - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00441 ⚡️ 🚀 💥

[2017-11-12 23:03] #441 closed

[2017-11-12 23:35] leeper commented on #447
@HenrikBengtsson would you be interested in reviewing this for JOSS?

[2017-11-12 23:35] leeper commented on #447
@whedon assign @leeper as editor

[2017-11-12 23:35] whedon commented on #447
OK, the editor is @leeper

[2017-11-12 23:36] arfon commented on #238
@offray - please respond to this thread when you can. If we don't hear from you in the next two weeks we'll assume you've lost interest in this submission.

[2017-11-12 23:36] leeper commented on #449
@dominiquemakowski do you have any suggestions for whom you would like to review this?

[2017-11-12 23:36] leeper commented on #449
@whedon assign @leeper as editor

[2017-11-12 23:36] whedon commented on #449
OK, the editor is @leeper

[2017-11-12 23:42] arfon commented on #404
@whedon list editors

[2017-11-12 23:42] whedon commented on #404
Current editors:

[code]

[2017-11-12 23:42] arfon commented on #404
@whedon assign @arfon as editor

[2017-11-12 23:42] whedon commented on #404
OK, the editor is @arfon

[2017-11-12 23:43] arfon commented on #404
@whedon commands

[2017-11-12 23:43] whedon commented on #404
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-11-12 23:43] arfon commented on #404
@whedon list reviewers

[2017-11-12 23:43] whedon commented on #404
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2017-11-12 23:46] arfon commented on #404
@stsievert @effigies @oesteban would one of you be willing to review this submission for JOSS?

[2017-11-13 00:46] Kevin-Mattheus-Moerman commented on #434
Hi @agrignard how are you getting on? Let me know if you need any help.

[2017-11-13 00:48] Kevin-Mattheus-Moerman commented on #47
@v3c70r @charalambos How are you getting on? Can you post an update on progress? Thanks.

[2017-11-13 01:18] amoeba commented on #451
Grade: 2) Minor revisions

I've had a chance to sit down and found this submission meets or exceeds the submission requirements on essentially every item on the reviewer checklist. It's clear to me what the software should do, it was easy for me to get the software installed and make use of it. On top of that, the documentation is abundant and well-written and it's clear a great deal of care has b

[2017-11-13 01:23] offray commented on #238
Sorry @arfon and all about not being of respond earlier. Lot of stuff happening in the PhD front. I will be working on the issues reported on this article this week and reporting back here.

[2017-11-13 05:54] cboettig commented on #454
@arfon Thanks, merged an `paper.bib` added for the links.  Just lemme know if that all looks good and I'll create the release to get the new DOI.

[2017-11-13 06:20] pjotrp commented on #124
Thanks for the interesting submission @kpolimis! And @DannyArends for the great review!

[2017-11-13 06:46] greatfireball commented on #420
Morning, @tracykteal, @whedon, and @arfon after six weeks without anything happen at this issue, I just wanted to ask if we need to provide something I missed or what we can to provide to speed things up.

Thanks in advance!

[2017-11-13 06:50] philipperenard commented on #441
Thank you all @pboesu , @kyleniemeyer and @arfon for all your work and advices.

What you do with this journal is fantastic ! I have been editor of a traditional journal, and the procedures and way you manage this journal should inspire all of us to move into an open framework.

[2017-11-13 17:10] lheagy commented on #440
👋 Hi @bjmorgan, @jochym, @tacaswell, I sent you all an email last week checking in. How are things going? Is there anything I can help with?

In terms of checking the boxes: @bjmorgan, would you be willing to take lead? @jochym and @tacaswell, can you give an overview of your thoughts on the status of each of the review items and if you have concerns or feel there are items that need to be improve

[2017-11-13 17:46] schmeisser commented on #217
1. You're right, I've searched a bit and found a much better way to do this. Two changes: First, there's now a top-level file `EnsightLibAndTests.pro` that simply builds all other .pro files (library, tests, and examples. Didn't want to make the file name too long, though). If required, the individual pro files can of course still be compiled separately. Second, the `INCLUDE_PATH` is now defined i

[2017-11-13 21:38] cboettig commented on #454
@arfon Okay, release made, DOI is: 10.5281/zenodo.1048320

[2017-11-13 21:42] boydgreenfield commented on #378
@biorelated Thanks for offering to be the editor! I appreciate that this falls into your (probably quite limited) spare time, but have you had a chance to take a look yet? Please don't hesitate to ping me or @bovee if we can help in any way.

[2017-11-13 22:05] arfon commented on #454
@whedon set 10.5281/zenodo.1048320 as archive

[2017-11-13 22:05] whedon commented on #454
OK. <a href="http://dx.doi.org/10.5281/zenodo.1048320" target="_blank">10.5281/zenodo.1048320</a> is the archive.

[2017-11-13 22:15] arfon commented on #454
@cboettig - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00454 ⚡️ 🚀 💥

[2017-11-13 22:15] #454 closed

[2017-11-13 22:18] arfon commented on #454
Also, @cboettig - please merge this too when you get a chance https://github.com/ropensci/codemetar/pull/40

[2017-11-13 22:34] cboettig commented on #454
ok, merged, thanks!

[2017-11-13 23:55] henrykironde commented on #451
Updated to BibTeX citations

[2017-11-13 23:59] amoeba commented on #451
Great, thanks @henrykironde. Relevant checklist item is now checked.

Grade: 1) Accept

Last outstanding issue is just a quick 👍 from @leeper on fit. I have no outstanding issues.

[2017-11-14 00:02] arfon commented on #420
Yep, looks like we need to find an alternative editor for this submission.

@pjotrp @biorelated @mgymrek - would one of you be willing to edit this submission for JOSS?

[2017-11-14 02:57] whedon opened #455 "[PRE REVIEW]: A framework for generating interactive reports for cancer genome analysis"
**Submitting author:** @aokad (<a href="http://orcid.org/0000-0002-9782-5900">Ai Okada</a>)
**Repository:** <a href="https://github.com/Genomon-Project/paplot/" target ="_blank">https://github.com/Genomon-Project/paplot/</a>
**Version:** 0.5.5
**Editor:** @pjotrp
**Reviewer:** @chfi

**Author instructions**

Thanks for submitting your paper to JOSS @aokad. The JOSS editor (shown at the top of this

[2017-11-14 02:57] whedon commented on #455
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-14 02:57] arfon commented on #455
👋 @pjotrp - the submitting author suggested you as the editor.

[2017-11-14 04:33] arokem commented on #259
Great! @DominiqueMakowski :  could you please create an archive (e.g., on zenodo) of the final version of the software and share the DOI here?

[2017-11-14 04:35] arokem commented on #427
Hi - checking in here again. I think it's fine for the software to only support Python 3, as long as this is clearly documented. Is that the case here?

[2017-11-14 04:42] anotherjoshsmith commented on #427
Thanks, @arokem. With the specification of Python 3 support and linking to documentation from the Github README, MDEntropy is ready for acceptance!

[2017-11-14 04:44] arokem commented on #427
Great! @cxhernandez : could you please create an archive of the final version (e.g., using zenodo) and share the DOI here?

[2017-11-14 07:50] pjotrp commented on #455
@whedon assign @pjotrp as editor

[2017-11-14 07:50] whedon commented on #455
OK, the editor is @pjotrp

[2017-11-14 07:51] pjotrp commented on #420
@whedon assign @pjotrp as editor

[2017-11-14 07:51] whedon commented on #420
OK, the editor is @pjotrp

[2017-11-14 09:02] greatfireball commented on #420
Morning! Thanks for becoming the new editor for our submission @pjotrp Please let us know, if we can provide any assistance from our side

[2017-11-14 09:43] virgesmith commented on #408
@leeper have done the documentation changes and the release as requested.

[2017-11-14 10:13] DominiqueMakowski commented on #259
@cMadan Thanks a lot for all your suggestions and comments.

@arokem , the DOI is the following: 10.5281/zenodo.1048777

[![DOI](https://zenodo.org/badge/70266940.svg)](https://zenodo.org/badge/latestdoi/70266940)

Thank you for your work!

[2017-11-14 11:19] kyleniemeyer commented on #452
I may be able to help with a reviewer or two—I have some robotics colleagues here at Oregon State who work closely with ROS.

[2017-11-14 11:20] kyleniemeyer commented on #448
Hi @wkearn, just FYI—I am currently trying to contact the authors of this submission, since it somehow  made it through without having a GitHub account associated with the submitter.

[2017-11-14 11:22] kyleniemeyer commented on #442
I will handle this submission.

@whedon assign @kyleniemeyer as editor

[2017-11-14 11:23] kyleniemeyer commented on #442
@whedon assign @kyleniemeyer as editor

[2017-11-14 11:23] whedon commented on #442
OK, the editor is @kyleniemeyer

[2017-11-14 12:32] Datseris commented on #442
Hello, thanks for finally getting into this, I appreciate it.

The following seem to have relation to the Physics area I am interested in:

mlxd
jarvist
ahwillia

but still the connection is not that big... I hope it will be okay.

P.S.: Could you tell me how I can also apply to become a reviewer? I searched the website but I could not find where the application is. Do I just put my name in the go

[2017-11-14 14:01] danielskatz commented on #452
@bmagyar, please offer some suggestions (that don't have conflicts, of course)

[2017-11-14 14:01] danielskatz commented on #452
@whedon assign @danielskatz as editor

[2017-11-14 14:01] whedon commented on #452
OK, the editor is @danielskatz

[2017-11-14 14:33] bmagyar commented on #452
* Jose Luis Rivero: worked for the Open Source Robotics Foundation (creators & maintainers of ROS) for years | https://github.com/j-rivero

* Aris Synodinos: University of Patras, Robotics Group  | https://github.com/progtologist

* Miguel Prada: works for Tecnalia, Spain. | https://github.com/miguelprada

There are 3 more people on my list, waiting for confirmation of interest.

[2017-11-14 15:13] danielskatz commented on #437
@marksantcroos - do you have an updated status for this review?

[2017-11-14 15:32] bmagyar commented on #452
* Jorge Nicho (will be away but can either volunteer a colleague or review when back): works at Southwest Research Institute, they are part of the ROS-Industrial consortium  | https://github.com/jrgnicho

[2017-11-14 16:54] danielskatz commented on #452
@j-rivero, @progtologist, @miguelprada - would you be willing to review this submission for JOSS?

Please see http://joss.theoj.org/about#reviewer_guidelines for reviewer guidelines.

Also, please be sure you do not have any conflict of interest.

[2017-11-14 17:15] progtologist commented on #452
@danielskatz you can count me in

[2017-11-14 18:13] Kevin-Mattheus-Moerman commented on #47
@arfon the authors (@charalambos and @v3c70r ) have indictated (by e-mail to me) that they wish to withdraw this submission. Can you process the withdrawal please?

[2017-11-14 18:17] Kevin-Mattheus-Moerman commented on #47
@daviddoria thank you for your time and effort and continued involvement in this review process! Thank you also @vaheta @mikhail-matrosov for your review contributions.

[2017-11-14 18:42] jordigh commented on #430
Coming along, should be finished this week.

[2017-11-14 18:45] arfon commented on #47
Done. Thanks for all of your efforts folks.

[2017-11-14 18:45] #47 closed

[2017-11-14 18:55] daviddoria commented on #47
@Kevin-Mattheus-Moerman Can I ask why? You can imagine how this might be pretty frustrating from my end...

[2017-11-14 19:43] cxhernandez commented on #427
Here's the updated DOI: https://zenodo.org/record/1049032

[2017-11-14 20:09] ethanwhite commented on #451
Regarding fit, this seems very much in line with other software published in JOSS. E.g.,

* http://joss.theoj.org/papers/421837399efdbef2a248d0cf4a6c1d15
* http://joss.theoj.org/papers/0f59fb7eaeb2004ea510d38c00051dd3

My group is a research lab and this software was built for our research and funded as research software by both NSF and the Moore Foundation.

[2017-11-14 20:15] kyleniemeyer commented on #448
Hi @mlep, tagging you in this issue

[2017-11-14 20:16] kyleniemeyer commented on #448
@wkearn regarding the paper location, I have this from the authors:

http://www.univ-orleans.fr/mapmo/soft/FullSWOF/paper.md
You will also find the bibliography file:
http://www.univ-orleans.fr/mapmo/soft/FullSWOF/paper.bib
and the metadata file:
http://www.univ-orleans.fr/mapmo/soft/FullSWOF/codemeta.json

[2017-11-14 20:18] amoeba commented on #451
I totally agree, @ethanwhite, and imagine @leeper won't disagree either. Thanks for chiming in with those examples. Perhaps the fact that this submission is in the `review` phase is adequate confirmation of fit.

[2017-11-14 20:19] wkearn commented on #448
Great! I'll finish this up shortly. Thanks!

[2017-11-14 20:21] arokem commented on #427
@whedon set https://zenodo.org/record/1049032 as archive

[2017-11-14 20:21] whedon commented on #427
https://zenodo.org/record/1049032 doesn't look like an archive DOI.

[2017-11-14 20:22] arokem commented on #427
@whedon set 10.5281/zenodo.1049032 as archive

[2017-11-14 20:22] whedon commented on #427
OK. <a href="http://dx.doi.org/10.5281/zenodo.1049032" target="_blank">10.5281/zenodo.1049032</a> is the archive.

[2017-11-14 20:24] arokem commented on #427
@arfon : I believe this paper can now be published.

[2017-11-14 20:24] arokem commented on #259
@whedon set 10.5281/zenodo.1048777 as archive

[2017-11-14 20:24] whedon commented on #259
OK. <a href="http://dx.doi.org/10.5281/zenodo.1048777" target="_blank">10.5281/zenodo.1048777</a> is the archive.

[2017-11-14 20:25] arokem commented on #259
@arfon : I believe this paper can now be published.

[2017-11-14 21:22] HenrikBengtsson commented on #447
@leeper, it looks interesting but unfortunately I'm too busy right now.

[2017-11-15 08:32] miguelprada commented on #452
@danielskatz count me in too.

[2017-11-15 11:23] leeper commented on #451
@whedon set 10.5281/zenodo.1038272 as archive

[2017-11-15 11:23] whedon commented on #451
OK. <a href="http://dx.doi.org/10.5281/zenodo.1038272" target="_blank">10.5281/zenodo.1038272</a> is the archive.

[2017-11-15 11:24] leeper commented on #451
@amoeba Excellent. Thank you for your quick review! Very much appreciated.

@henrykironde This looks ready to me. Great submission and thanks for your quick response to the review.

@arfon Over to you.

[2017-11-15 11:26] leeper commented on #408
@whedon set 10.5281/zenodo.1048388 as archive

[2017-11-15 11:26] whedon commented on #408
OK. <a href="http://dx.doi.org/10.5281/zenodo.1048388" target="_blank">10.5281/zenodo.1048388</a> is the archive.

[2017-11-15 11:27] leeper commented on #408
@virgesmith Looks good to me. Thanks for the submission!

@arfon Over to you.

[2017-11-15 12:45] danielskatz commented on #452
Thanks @@progtologist and @miguelprada
I'll set up the review and get back to you shortly.

[2017-11-15 12:46] danielskatz commented on #452
@whedon assign @progtologist as reviewer

[2017-11-15 12:46] whedon commented on #452
OK, the reviewer is @progtologist

[2017-11-15 12:46] danielskatz commented on #452
@whedon start review magic-word=bananas

[2017-11-15 13:16] whedon opened #456 "[REVIEW]: ros_control: A generic and simple control framework for ROS"
**Submitting author:** @bmagyar (<a href="http://orcid.org/0000-0001-8455-8674">Bence Magyar</a>)
**Repository:** <a href="https://github.com/ros-controls/joss_paper" target ="_blank">https://github.com/ros-controls/joss_paper</a>
**Version:** 0.12.0
**Editor:** @danielskatz
**Reviewer:** @progtologist
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1069607" target="_blank">10.5281/zenodo.1

[2017-11-15 13:16] whedon commented on #452
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/456. Feel free to close this issue now!

[2017-11-15 13:16] whedon commented on #456
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @progtologist it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably cu

[2017-11-15 14:07] #452 closed

[2017-11-15 14:09] danielskatz commented on #456
@progtologist & @miguelprada, please use the two checklists above (one for each of you) to carry out your reviews.

An informal guideline is that we would like your review in 2 weeks, but sooner (or later) are also ok.

The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Please avoid lengthy details of difficulties in this review thread. Instead, please cre

[2017-11-15 14:28] daviddoria commented on #217
@schmeisser  Great, the process went smoothly this time!

A few final things (from me):

1) for paper.md - is this the desired format of the Markdown? https://github.com/ITWM-TVFS/Ensight4Matlab/blob/master/paper/paper.md

I see a "code block" at the top with the author list/affiliation and then the "rendered" Summary and References sections below it.

2) "Community guidelines: Are there clear gui

[2017-11-15 14:29] miguelprada commented on #456
@danielskatz My two first questions already:

First, I might be missing something really obvious here, but I cannot seem to mark the checklist items in the original comment.

Second, the repository listed in the original comment (both in the header and the first item in _general checks_) is to the contents of the paper, not the software itself. Is this ok?

To be clear, I know where to find the so

[2017-11-15 14:30] ljvmiranda921 commented on #433
Hi @kyleniemeyer , sorry I wasn't able to check this recently. Thank you for the review @stsievert !

[2017-11-15 15:00] danielskatz commented on #456
@migueldvb sorry, I need to assign you to this issue, and am working on that.

regarding the second point, you are correct, and the repo should point up one level, not to the paper.

@arfon, help on both of these points is welcome.

[2017-11-15 15:05] Kevin-Mattheus-Moerman commented on #217
In relation to 1), yes that is what the paper looks like at this stage.

[2017-11-15 15:10] arfon commented on #456
@miguelprada - you should have access now (please accept the invite from the openjournals organization).

@bmagyar - could you please advise?

[2017-11-15 15:20] arfon commented on #451
@amoeba - many thanks for your review and to @leeper for your help editing this one ✨

@henrykironde - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00451 ⚡️ 🚀 💥

[2017-11-15 15:20] #451 closed

[2017-11-15 15:44] arfon commented on #427
@anotherjoshsmith - many thanks for your review here and to @arokem for editing this one ✨

@cxhernandez - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00427 ⚡️ 🚀 :boom:

[2017-11-15 15:44] #427 closed

[2017-11-15 16:17] zhangy6x commented on #407
@arokem Thanks a lot for your help throughout this review process. Please excuse us for this belated response since I don't have much knowledge about copyright issues.
After discussion, we are glad that this copyright notice is not conflicting with the CC-BY license, and we think it is better to keep it based on the Prime Contract requirement. However, we could move this notice to a more appropria

[2017-11-15 16:20] zhangy6x commented on #407
@nicoguaro PEP8 check and formatting has been performed as you suggested. Thanks.

[2017-11-15 16:25] henrykironde commented on #451
On behalf of the Team [@Data Retriever](https://github.com/weecology/retriever) we thank you for the time taken to review this paper.

[2017-11-15 16:36] nicoguaro commented on #407
@arokem, I consider that this review is ready to go.

[2017-11-15 16:39] Datseris commented on #442
Should I tag these persons? I am not sure how things work here, sorry.

[2017-11-15 17:40] kyleniemeyer commented on #442
Hi @Datseris, I can take care of that—aside from the existing JOSS reviewers, is there anyone closer to your domain who you might recommend? (It's ok if not)

As for adding your name to the reviewer list, you can use this link: http://joss.theoj.org/reviewer-signup.html

[2017-11-15 17:41] ChrisRackauckas commented on #442
@ahwillia would be a good fit.

[2017-11-15 17:43] kyleniemeyer commented on #442
@ChrisRackauckas thanks!

Hello @ahwillia @mlxd @jarvist @ahwillia, would you be willing to review this submission for JOSS? (I prefer to have at least two reviewers, but more are also welcome if you are interested!) Thanks!

[2017-11-15 17:45] Datseris commented on #442
@kyleniemeyer unfortunately all the people that I can recommend have discussed with me the code in some way or another, therefore the conflict of interests would not go away...

[2017-11-15 17:55] kyleniemeyer commented on #442
@Datseris that's all right, let's see if we can find someone else first. Having a discussion would not be a COI, just actually contributing to the code.

[2017-11-15 18:06] pjotrp commented on #455
@whedon assign @chfi as reviewer

[2017-11-15 18:06] whedon commented on #455
OK, the reviewer is @chfi

[2017-11-15 18:07] pjotrp commented on #455
@whedon start review magic-word=bananas

[2017-11-15 18:07] whedon opened #457 "[REVIEW]: A framework for generating interactive reports for cancer genome analysis"
**Submitting author:** @aokad (<a href="http://orcid.org/0000-0002-9782-5900">Ai Okada</a>)
**Repository:** <a href="https://github.com/Genomon-Project/paplot/" target ="_blank">https://github.com/Genomon-Project/paplot/</a>
**Version:** 0.5.5
**Editor:** @pjotrp
**Reviewer:** @chfi
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1083949" target="_blank">10.5281/zenodo.1083949</a>

## Statu

[2017-11-15 18:07] whedon commented on #455
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/457. Feel free to close this issue now!

[2017-11-15 18:07] whedon commented on #457
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @chfi it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably currently

[2017-11-15 18:08] #455 closed

[2017-11-15 18:11] pjotrp commented on #457
Dear @aokad, @chfi will review your interesting submission. To expedite the process please go through above check list and see if we can tick (most) boxes. That would be very helpful. When you confirm you are set Christian will take over. Thanks, Pj.

[2017-11-15 19:22] ahwillia commented on #442
I'd be happy to review this.

[2017-11-15 19:25] cxhernandez commented on #427
Great to hear! Thanks everyone!

[2017-11-15 19:31] kyleniemeyer commented on #442
@ahwillia thanks! I'll wait a bit longer to see if any of the others tagged are also willing to review, for a second opinion.

[2017-11-15 19:32] mlxd commented on #442
Also happy to review this.

[2017-11-15 19:32] kyleniemeyer commented on #442
Excellent!

[2017-11-15 19:33] whedon commented on #442
OK, the reviewer is @ahwillia

[2017-11-15 19:33] kyleniemeyer commented on #442
@whedon start review

[2017-11-15 19:33] whedon commented on #442
You didn't say the magic word! Try this:

[code]

[2017-11-15 19:34] Datseris commented on #442
hahahahaha

[2017-11-15 19:34] kyleniemeyer commented on #442
@whedon start review magic-word=bananas

[2017-11-15 19:34] whedon commented on #442
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/458. Feel free to close this issue now!

[2017-11-15 19:34] whedon opened #458 "[REVIEW]: DynamicalBilliards.jl : An easy-to-use, modular and extendable Julia package for Dynamical Billiard systems in two dimensions."
**Submitting author:** @Datseris (<a href="http://orcid.org/0000-0002-6427-2385">George Datserus</a>)
**Repository:** <a href="https://github.com/JuliaDynamics/DynamicalBilliards.jl" target ="_blank">https://github.com/JuliaDynamics/DynamicalBilliards.jl</a>
**Version:** v1.6.1
**Editor:** @kyleniemeyer
**Reviewer:** @ahwillia
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1059092" target=

[2017-11-15 19:34] whedon commented on #458
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ahwillia it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably curren

[2017-11-15 19:35] kyleniemeyer commented on #442
Alright, @Datseris @ahwillia @mlxd we'll move over to #458 for the actual review.

Currently our infrastructure only "officially" supports one reviewer, so @ahwillia will be able to edit the checkboxes, but @mlxd please comment in the thread if you disagree with anything (along with your regular comments).

[2017-11-15 19:36] kyleniemeyer commented on #458
👋 @Datseris @ahwillia @mlxd

[2017-11-15 19:40] Datseris commented on #458
Thank you very much for accepting to review my submission.

[2017-11-15 19:46] mlxd commented on #458
Happy to participate. It will likely be the coming weekend before I can spend time going through everything in detail. As suggested by @kyleniemeyer I will leave comments to the above check-box items.

[2017-11-15 20:11] ahwillia commented on #458
Overall this looks excellent - really appreciate your attention to detail while putting this together!

@Datseris - what do you think about having an `examples/` folder containing jupyter notebooks? These could just contain the code that you have under `Tutorials` in the docs (but without the long text). That way people can flip back and forth between reading your docs and trying it. Right now the

[2017-11-15 20:15] ahwillia commented on #458
Oh two other short comments

Is this listed anywhere explicitly?

Do you mind adding DOI links to the references in your `paper.md` document? Thanks!

[2017-11-15 20:21] Datseris commented on #458
Thanks for the kind words @ahwillia . I've just added guidelines for issue reports.

I will now do your other requests:
* Add DOIS to paper.md
* Add a dedicated paragraph on the homepage of the documentation about support (we have our own chatroom on gitter)
* Add a dedicated contributors_guide file either in the repo first page or in the documentation page.

About the Jupyter notebooks... Is it p

[2017-11-15 20:50] henrykironde commented on #451
@arfon, I have just noted that I made a mistake in importing the names of the authors. The main author's name has been corrected. Is there away we could update the paper?

[2017-11-15 21:17] ahwillia commented on #458
Yep - I'm fine with no jupyter notebooks, just a suggestion.

On Wed, Nov 15, 2017 at 3:21 PM, George Datseris <notifications@github.com>
wrote:

[2017-11-15 21:24] Datseris commented on #458
@ahwillia I have done the requested changes. Now all citations of the `paper.md` have DOIs, and the homepage has 2 sections: One for support and one for contributing.

See this link: https://juliadynamics.github.io/DynamicalBilliards.jl/latest/#support

Of course, the changes apply only on the latest version, and not on the release tag 1.6.1. Should a new tag be required let me know and I will tag

[2017-11-15 21:32] ahwillia commented on #458
I'm happy to accept this - I was able to install, run tests, and reproduce some simple plots. The package supports a well-defined need and is reasonably mature. Looking forward to seeing future developments!

Now we'll just wait on @mlxd to check it over.

[2017-11-15 21:56] agrignard commented on #434
Actually yes, I was not able to run the software following the github instruction, i created an issue but I am still waiting for there answer

https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/issues/35

So I am kind of stuck in the review process, what should I do ?

[2017-11-15 23:55] #442 closed

[2017-11-16 00:20] whedon opened #459 "[PRE REVIEW]: Phonetic Algorithms in R"
**Submitting author:** howardjp (<a href="http://orcid.org/0000-0003-4530-1547">James P. Howard, II</a>)
**Repository:** <a href="https://github.com/howardjp/phonics" target ="_blank">https://github.com/howardjp/phonics</a>
**Version:** v0.7.6
**Editor:** @jasonclark
**Reviewer:** @alexhanna

**Author instructions**

Thanks for submitting your paper to JOSS howardjp. The JOSS editor (shown at the

[2017-11-16 00:20] whedon commented on #459
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-16 00:24] arfon commented on #459
👋 @jasonclark, the submitting author suggested you as the editor.

[2017-11-16 00:24] whedon opened #460 "[PRE REVIEW]: DART: Dynamic Animation and Robotics Toolkit"
**Submitting author:** @jslee02 (<a href="http://orcid.org/0000-0002-2146-7502">Jeongseok Lee</a>)
**Repository:** <a href="https://github.com/dartsim/dart" target ="_blank">https://github.com/dartsim/dart</a>
**Version:** 6.3.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @bmagyar

**Author instructions**

Thanks for submitting your paper to JOSS @jslee02. The JOSS editor (shown at the top o

[2017-11-16 00:24] whedon commented on #460
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-16 00:24] arfon commented on #460
👋 @labarba - the submitting author suggested you as the editor.

[2017-11-16 01:56] Kevin-Mattheus-Moerman commented on #434
Thanks @agrignard. The ball is in the authors court.
@zmimlitz can you please respond to the issue raised by the reviewer?

[2017-11-16 02:55] jasonclark commented on #459
@arfon Sure. I'm happy to edit this piece.

[2017-11-16 04:15] Deborah-Digges commented on #451
@arfon I have been affiliated with the University of Florida. Could this affiliation be removed?

[2017-11-16 06:10] henrykironde commented on #451
@Deborah-Digges what is your affiliation?

[2017-11-16 07:08] Deborah-Digges commented on #451
You could mention "PES Institute of Technology".

Thank you!

[2017-11-16 08:22] schmeisser commented on #217
I'm not sure about these.
I haven't set up any community guidelines, I would be fine if potential contributors contact me directly over github. Is that even possible?
The initial release version would be 1.0, I guess. Where do I have to mention this?

[2017-11-16 08:43] miguelprada commented on #456
Accepted the org invite, but I'm still unable to check the items... :sweat:

May I be doing something wrong? It should be just a matter of clicking on the checkboxes, right? I don't see any other way to edit the original post either.

[2017-11-16 11:11] arfon commented on #451
@henrykironde - please update the affiliations in `paper.md` in https://github.com/weecology/retriever and let me know when you're ready to have the paper re-generated.

[2017-11-16 11:15] arfon commented on #456
Sorry, one more thing. Please accept the invite on this page: https://github.com/openjournals/joss-reviews/invitations

(This usually happens automatically via the API but as we can't handle multiple reviewers automatically yet I have to give you access manually)

[2017-11-16 11:18] miguelprada commented on #456
Works now. Thanks @arfon!

[2017-11-16 11:48] arfon commented on #459
@whedon assign @jasonclark as editor

[2017-11-16 11:48] whedon commented on #459
OK, the editor is @jasonclark

[2017-11-16 11:49] arfon commented on #459
@jasonclark - next step is to find a reviewer for this submission. You can ask @whedon for the list of the available reviewers like this 👇

[2017-11-16 11:49] arfon commented on #459
@whedon list reviewers

[2017-11-16 11:49] whedon commented on #459
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2017-11-16 13:01] howardjp commented on #459
Just as an aside, this is my second JOSS submission and this process is really awesome to watch. 🥇

[2017-11-16 13:26] leeper commented on #447
No problem, @HenrikBengtsson. Thanks for getting back to me.

[2017-11-16 13:27] leeper commented on #447
@sckott would you be interested in reviewing this for JOSS?

[2017-11-16 14:41] arokem commented on #407
@zhangy6x : how about moving this from its own section to the "acknowledgements" section?

[2017-11-16 14:54] whedon opened #461 "[PRE REVIEW]: GitHub API TEST"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/arfon/fidgit" target ="_blank">https://github.com/arfon/fidgit</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfonsmith

**Author instructions**

Thanks for submitting your paper to JOSS @arfon. The JOSS editor (shown at the top of this issue) will

[2017-11-16 14:54] whedon commented on #461
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-16 14:54] arfon commented on #461
@whedon assign @arfonsmith as reviewer

[2017-11-16 14:54] whedon commented on #461
OK, the reviewer is @arfonsmith

[2017-11-16 14:56] arfon commented on #461
@whedon start review magic-word=bananas

[2017-11-16 14:56] #461 closed

[2017-11-16 14:56] whedon opened #462 "[REVIEW]: GitHub API TEST"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/arfon/fidgit" target ="_blank">https://github.com/arfon/fidgit</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfonsmith
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/df007b5a568f1748806f3fb8255f8d61/status.svg)](http://jos

[2017-11-16 14:56] whedon commented on #461
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/462. Feel free to close this issue now!

[2017-11-16 14:56] whedon commented on #462
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfonsmith it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably curr

[2017-11-16 16:03] zhangy6x commented on #407
@arokem : Notice of Copyright has been moved to "acknowledgments" section. Thanks!

[2017-11-16 16:13] Kevin-Mattheus-Moerman commented on #217
Hi @schmeisser. I can offer some information on community guidelines.

- Github has a useful [site](https://opensource.guide/building-community/) on setting up community and contributing guidelines. They also link [here](https://help.github.com/articles/setting-guidelines-for-repository-contributors/) for info on contributer guidelines
- You can also check [my personal project](https://github.com/

[2017-11-16 16:17] Kevin-Mattheus-Moerman commented on #217
About versions. I see you have not minted a release yet in your repository. As part of the JOSS acceptance process you will create a release (the version accepted in JOSS) and archive it for instance using ZENODO  (See [here](https://guides.github.com/activities/citable-code/) to set this up but you can wait until formal acceptance). When you create your first release make sure the version is labe

[2017-11-16 16:27] Kevin-Mattheus-Moerman commented on #217
@schmeisser in relation to your paper. Please make sure your citations are in [rMarkdown format](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html).
For instance, instead of writing [3] this citation should be written as: [@gramsch2014simulation], where the keyword after the @ symbol refers to the paper.bib file entries.

Let me know if I can help.

[2017-11-16 17:18] sckott commented on #447
@leeper sure thing

[2017-11-16 18:15] leeper commented on #447
@whedon set @sckott as reviewer

[2017-11-16 18:19] arfon commented on #447
@leeper - there's a slight inconsistency for Whedon here. You need `@whedon assign @sckott as reviewer`

[2017-11-16 18:22] leeper commented on #447
@whedon assign @sckott as reviewer

[2017-11-16 18:22] whedon commented on #447
OK, the reviewer is @sckott

[2017-11-16 18:22] leeper commented on #447
@arfon :*d'oh* reaction emoji:

[2017-11-16 18:32] leeper commented on #447
@whedon start review magic-word=bananas

[2017-11-16 18:32] whedon opened #463 "[REVIEW]: simpleCache: R caching for reproducible, distributed, large-scale projects"
**Submitting author:** @vpnagraj (<a href="http://orcid.org/0000-0003-0060-566X">VP Nagraj</a>)
**Repository:** <a href="https://github.com/databio/simpleCache" target ="_blank">https://github.com/databio/simpleCache</a>
**Version:** 0.3.1
**Editor:** @leeper
**Reviewer:** @sckott
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1140853" target="_blank">10.5281/zenodo.1140853</a>

## Status

[2017-11-16 18:32] whedon commented on #447
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/463. Feel free to close this issue now!

[2017-11-16 18:32] whedon commented on #463
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @sckott it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably currentl

[2017-11-16 18:32] leeper commented on #447
@sckott Thanks so much! Review is setup over here: https://github.com/openjournals/joss-reviews/issues/463

[2017-11-16 18:32] #447 closed

[2017-11-16 20:43] arokem commented on #407
OK. Please create an archive of the software/paper (e.g., using Zenodo) in its current state and post the DOI here.

[2017-11-16 20:55] zhangy6x commented on #407
The DOI is 10.5281/zenodo.1052005

[2017-11-16 20:56] zhangy6x commented on #407
https://zenodo.org/badge/latestdoi/97753107

[2017-11-16 21:16] arokem commented on #407
@whedon set 10.5281/zenodo.1052005 as archive

[2017-11-16 21:16] whedon commented on #407
OK. <a href="http://dx.doi.org/10.5281/zenodo.1052005" target="_blank">10.5281/zenodo.1052005</a> is the archive.

[2017-11-16 21:17] arokem commented on #407
@arfon: I believe this paper is ready for publication

[2017-11-16 23:01] henrykironde commented on #451
@arfon I have updated the paper.md

[2017-11-17 02:07] jslee02 commented on #460
Thank you for initiating this process!

I have a question about ORCID and am asking the question here because I couldn't find an available email address to the editors of JOSS.

Unfortunately, we don't have the ORCID for one of the authors because he is passed away. What could we do in this case? We could make one for him, but I wonder if it would be preferred to just leaving it empty or 0000-0000

[2017-11-17 02:14] arfon commented on #460
@jslee02 - it's ok to omit the ORCID field for the author who has passed away.

[2017-11-17 02:15] arfon commented on #451
OK thanks. I've re-generated the paper now too: https://github.com/openjournals/joss-papers/blob/8a8bb9cfd7d0d31ba84475e7708df7b4594413af/joss.00451/10.21105.joss.00451.pdf

[2017-11-17 02:16] jslee02 commented on #460
@arfon Thanks! I'll omit the ORCID field.

[2017-11-17 08:27] jdeligt commented on #420
@whedon assign @jdeligt as reviewer

[2017-11-17 08:27] whedon commented on #420
I'm sorry @jdeligt, I'm afraid I can't do that. That's something only editors are allowed to do.

[2017-11-17 08:30] pjotrp commented on #420
@whedon assign @jdeligt as reviewer

[2017-11-17 08:30] whedon commented on #420
OK, the reviewer is @jdeligt

[2017-11-17 08:32] pjotrp commented on #420
@whedon start review magic-word=bananas

[2017-11-17 08:32] whedon commented on #420
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/464. Feel free to close this issue now!

[2017-11-17 08:32] whedon opened #464 "[REVIEW]: chloroExtractor: extraction and assembly of the chloroplast genome from whole genome shotgun data"
**Submitting author:** @greatfireball (<a href="http://orcid.org/0000-0003-4166-5423">Frank Förster</a>)
**Repository:** <a href="https://github.com/chloroExtractorTeam/chloroExtractor" target ="_blank">https://github.com/chloroExtractorTeam/chloroExtractor</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @jdeligt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1148955" target="_bl

[2017-11-17 08:32] whedon commented on #464
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jdeligt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably current

[2017-11-17 08:32] #420 closed

[2017-11-17 08:39] pjotrp commented on #464
Thanks @jdeligt for being willing to review this submission! Make sure to accept the invite to the 'openjournals/joss-reviews' repository to be able to tick above boxes and read the reviewer instructions http://joss.theoj.org/about. @greatfireball it is very helpful if you can go through above checklist first and make sure the important points are implemented. Please reply here if you think it all

[2017-11-17 10:36] j-rivero commented on #452
Sorry for not answering before, I'm happy to help if you sill need someone to perform a review.

[2017-11-17 11:21] arfon commented on #407
@zhangy6x - Could you make sure you cite the references you currently have in the file `paper.bib` file in the markdown paper (`paper.md`) (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-11-17 11:28] jdeligt commented on #464
I'll wait with further review until @greatfireball has gone through the checklist.
Found one small issue in the paper.md that has been raised on their repo:
https://github.com/chloroExtractorTeam/chloroExtractor/issues/80

[2017-11-17 12:13] lheagy commented on #440
Just a quick update, @bjmorgan emailed and is willing to take the lead. @jochym and @tacaswell, please be in touch here with your comments. Thanks!

[2017-11-17 12:18] danielskatz commented on #452
that's ok - we have enough reviewers now.

[2017-11-17 13:18] jdeligt commented on #464
And please check the docker image and example usage, currently it fails:
https://github.com/chloroExtractorTeam/chloroExtractor/issues/81

[2017-11-17 14:54] zhangy6x commented on #407
@arfon : I have updated `paper.md` and created a new archive on Zenodo (DOI: 10.5281/zenodo.1054038). Thanks much.

[2017-11-17 15:07] jdeligt commented on #464
As well as the binary download:

[2017-11-17 15:56] schmeisser commented on #217
@Kevin-Mattheus-Moerman Thanks, I'll check out your links on writing a contribution guideline. I guess for the beginning it's fine to keep it simple.
Can you please check if the updated paper is formatted as required?

[2017-11-17 16:39] arfon commented on #407
@whedon set 10.5281/zenodo.1054038 as archive

[2017-11-17 16:40] whedon commented on #407
OK. <a href="http://dx.doi.org/10.5281/zenodo.1054038" target="_blank">10.5281/zenodo.1054038</a> is the archive.

[2017-11-17 16:45] bzenger commented on #446
Hi @arfon,

Is there anything else we need to do to get an editor assigned?

Thanks

[2017-11-17 17:00] arfon commented on #407
@nicoguaro - many thanks for your review here and to @arokem for editing this submission ✨

@zhangy6x - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00407 ⚡️ 🚀 💥

[2017-11-17 17:00] #407 closed

[2017-11-17 17:01] arfon commented on #446
Not right now. We need one of the JOSS editors to volunteer to edit this submission (which they've not yet done so).

Sorry for the delay.

[2017-11-17 17:03] nirum commented on #446
Hi, I don’t have the bandwidth right now to give this a thorough review. Apologies! - Niru

[2017-11-17 18:31] Kevin-Mattheus-Moerman commented on #217
@schmeisser Great, yeah you can keep it simple and simple copy past stuff from those suggested ones.
The paper seems appropriately formatted now. If there are any other issues we'll find them at the stage when the PDF is generated.

[2017-11-17 19:28] jslee02 commented on #460
Potential reviewers: @mosteo, @katyhuff, @betatim, @pragyansmita, @kyleniemeyer

[2017-11-17 23:25] labarba commented on #439
@whedon assign @SylvainCorlay as reviewer

[2017-11-17 23:25] whedon commented on #439
OK, the reviewer is @SylvainCorlay

[2017-11-17 23:28] labarba commented on #439
@whedon start review magic-word=bananas

[2017-11-17 23:28] whedon opened #465 "[REVIEW]: mpnum: A matrix product representation library for Python"
**Submitting author:** @dseuss (<a href="http://orcid.org/0000-0002-6354-457X">Daniel Suess</a>)
**Repository:** <a href="https://github.com/dseuss/mpnum" target ="_blank">https://github.com/dseuss/mpnum</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @SylvainCorlay
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1115574" target="_blank">10.5281/zenodo.1115574</a>

## Status

[![

[2017-11-17 23:28] whedon commented on #439
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/465. Feel free to close this issue now!

[2017-11-17 23:28] whedon commented on #465
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @SylvainCorlay it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably c

[2017-11-17 23:28] #439 closed

[2017-11-18 02:48] arfon commented on #446
@whedon commands

[2017-11-18 02:48] whedon commented on #446
Here are some things you can ask me to do:

[code]

[2017-11-18 08:00] bzenger commented on #446
@arfon thanks for the info and the response. Let us know if anything comes up.

[2017-11-18 08:02] betatim commented on #460
I'd be happy to look at this.

[2017-11-18 15:10] Kevin-Mattheus-Moerman commented on #460
I've also pinged my colleagues at MIT Biomechatronics

[2017-11-18 15:19] Kevin-Mattheus-Moerman commented on #460
I can be editor if @labarba can't take this one

[2017-11-18 15:22] labarba commented on #460
Feel free to take it, @Kevin-Mattheus-Moerman.

[2017-11-18 15:59] Kevin-Mattheus-Moerman commented on #460
@whedon assign @kevin-mattheus-moerman as editor

[2017-11-18 17:43] mlxd commented on #458
Everything is clearly documented, installation and use is as described. This is a very useful package, and I'd be happy to accept this too. I agree with all of @ahwillia's comments and checkboxes.

I do have one suggestion on the documentation for the examples:
For the Julia-logo Billiard example (and potentially elsewhere) [https://juliadynamics.github.io/DynamicalBilliards.jl/stable/tutorials/ex

[2017-11-18 17:45] Datseris commented on #458
This was simply a "dummy" name (indicated by the ***)... I expected users to put as a string wherever they want to save their files.

I will just replace `pwd()` since you are right, it is better.

[2017-11-18 17:50] mlxd commented on #458
Great. Excellent work on this. It was very easy to review and recommend for acceptance. Unless @ahwillia has anything else, I think we are done.

[2017-11-18 17:51] Datseris commented on #458
Awesome. Thank you for the swift and concise review!

[2017-11-18 17:52] kyleniemeyer commented on #458
@Datseris sounds like we are nearly good to go—let me know when you make the change mentioned by @mlxd above.

[2017-11-18 17:53] Datseris commented on #458
@kyleniemeyer the change is already done: https://juliadynamics.github.io/DynamicalBilliards.jl/latest/#julia-billiard-animation

[2017-11-18 18:57] Kevin-Mattheus-Moerman commented on #460
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-11-18 18:59] Kevin-Mattheus-Moerman commented on #460
@arfon I'm trying to assign myself as editor. It seems whedon removed lorena but it does not look like it assigned me. Can you see what is going on?

[2017-11-18 18:59] kyleniemeyer commented on #460
@Kevin-Mattheus-Moerman you are listed as editor above, no? it looks like @whedon just didn't assign you to the issue.

[2017-11-18 19:06] Kevin-Mattheus-Moerman commented on #460
@kyleniemeyer @arfon thanks yep it is all good

[2017-11-18 19:19] arfon commented on #460
@whedon generate pdf

[2017-11-18 19:19] whedon commented on #460
[code]

[2017-11-18 19:20] whedon commented on #460
[code]

[2017-11-18 19:22] arfon commented on #460
☝️ @Kevin-Mattheus-Moerman - Whedon can now try and compile the PDF for you. Looks like this worked (I'm trying to catch errors with the papers before they even get to the review stage now).

[2017-11-18 19:30] kyleniemeyer commented on #458
@Datseris ok, there are a few changes required for the paper.

1. The references need to be extracted from the Markdown paper file, put in a BibTeX .bib file, and then cited in the paper. You can see an example in the JOSS [author guidelines](http://joss.theoj.org/about#author_guidelines). This is necessary for our LaTeX-based compiling of the paper PDF, and also depositing the citation info in Cr

[2017-11-18 23:11] Datseris commented on #458
@kyleniemeyer I have done all the changes you requested. Please see the latest files here: https://github.com/JuliaDynamics/DynamicalBilliards.jl/tree/master/paper

I have a problem though. You said that "links to the repository will be included in the paper". I saw the example you cited but nowhere in that example there was a link to a *documentation page*. There was a link to a GitHub repository

[2017-11-19 03:20] kyleniemeyer commented on #458
@Datseris sure, that's fine—perhaps you could link on "detailed documentation archive" in the summary at the top of the paper?

[2017-11-19 09:43] Datseris commented on #458
@kyleniemeyer I am glad we could come to an agreement. I have added an in-text hyperlink.

Is that all from my side?

[2017-11-19 16:01] kyleniemeyer commented on #458
@Datseris thanks! I'm going to see if the paper compiles. The last step from you is archiving the final version of the software etc. (like using Zenodo) and then telling me the DOI here; but, wait until we're sure the paper doesn't need any more changes.

[2017-11-19 16:02] kyleniemeyer commented on #458
@whedon generate pdf

[2017-11-19 16:02] whedon commented on #458
[code]

[2017-11-19 16:17] kyleniemeyer commented on #458
@arfon ruh roh. any way to see what went wrong?

[2017-11-19 16:18] arfon commented on #458
Yeah, I'm debugging now. Getting errors reported back in here is somewhat tricky.

[2017-11-19 16:28] arfon commented on #458
@whedon generate pdf

[2017-11-19 16:28] whedon commented on #458
[code]

[2017-11-19 16:39] whedon commented on #458
[code]

[2017-11-19 16:40] arfon commented on #458
@Datseris - looks like you need to link to the `paper.bib` file. You currently have this set as `bibliography: none`

[2017-11-19 16:51] whedon commented on #458
[code]

[2017-11-19 17:22] Datseris commented on #458
@arfon I have changed it to `bibliography: paper.bib`. I hope this is enough.

[2017-11-19 17:25] Datseris commented on #458
@kyleniemeyer I actually do not know what you mean with:

Isn't the DOI the duty of the Journal and not the author? I also do not know what "Zenodo" is.

[2017-11-19 17:34] kyleniemeyer commented on #458
@Datseris we provide a DOI associated with the paper, but the author is responsible for archiving the accepted version of the software (i.e., your repository on GitHub). We do not archive the software and associated material, just the paper. You can see an example in a [recently published paper](http://www.theoj.org/joss-papers/joss.00451/10.21105.joss.00451.pdf) with the "Archive" link to the lef

[2017-11-19 17:34] kyleniemeyer commented on #458
@whedon generate pdf

[2017-11-19 17:34] whedon commented on #458
[code]

[2017-11-19 17:34] whedon commented on #458
[code]

[2017-11-19 17:36] Datseris commented on #458
@kyleniemeyer okay I see. Seems simple enough. Let me know when `whedon` can compile the pdf and then I will do it. Or should I do it now?

[2017-11-19 17:37] kyleniemeyer commented on #458
Let's wait to see if any other changes are needed for the paper first, since it looks there this is still some problem.

@arfon it looks like whedon is raising the same error, but I can see in the `paper.md` that the bibliography seems set correctly now.

[2017-11-19 20:46] arfon commented on #458
@whedon generate pdf

[2017-11-19 20:46] whedon commented on #458
[code]

[2017-11-19 20:46] whedon commented on #458
[code]

[2017-11-19 20:48] Datseris commented on #458
@arfon The compiled pdf does not have a a hyperlink to the documentation page.

[2017-11-19 21:22] kyleniemeyer commented on #458
@Datseris the link is actually present if you download the PDF, but the text is just not colored blue.

@arfon is there perhaps a `hyperref` setting for `href` links that is needed in the LaTeX template?

[2017-11-19 21:41] kyleniemeyer commented on #458
(Sorry for the paper gen hiccups @Datseris, we are still testing out our new automated paper compilation)

[2017-11-19 21:43] Datseris commented on #458
No problem! I also apologize because I did not realise that there was a link there. If you can add the standard hyperref color that would be much appreciated. If in the end of the day it appears not to be possible, then I can live with it being a "hidden link".

As a side note: how soon after the pdf generation works can I get a working DOI/reference to your journal? I am going to submit a publica

[2017-11-19 21:47] kyleniemeyer commented on #458
@Datseris you will have the JOSS DOI basically as soon as we sort out this paper issue, so you should be able to include the full published JOSS reference.

[2017-11-19 21:49] Datseris commented on #458
That is excellent. Since the paper seems to be in a final form besides this small hyperref detail, should I go ahead and perform this "Zenodo" process you described?

[2017-11-19 21:53] kyleniemeyer commented on #458
Actually, I caught one final typo fix to make first:
change

to

Once you make that fix, please go ahead and archive the repository, and then report the DOI here. On Zenodo, you can do this manually by uploading a .zip (e.g.) of the repository; alternatively, Zenodo has a [nice GitHub integration](https://guides.github.com/activities/citable-code/) where it will automatically grab everything if yo

[2017-11-19 22:08] Datseris commented on #458
Wow, the process was extremely smooth and straightforward!
I am pasting the badge here:

[![DOI](https://zenodo.org/badge/77843944.svg)](https://zenodo.org/badge/latestdoi/77843944)

[2017-11-19 22:25] Kevin-Mattheus-Moerman commented on #300
@whedon generate pdf

[2017-11-19 22:25] whedon commented on #300
[code]

[2017-11-19 22:25] whedon commented on #300
[code]

[2017-11-19 22:25] kyleniemeyer commented on #458
@whedon set 10.5281/zenodo.1059092 as archive

[2017-11-19 22:25] whedon commented on #458
OK. <a href="http://dx.doi.org/10.5281/zenodo.1059092" target="_blank">10.5281/zenodo.1059092</a> is the archive.

[2017-11-19 22:28] moorepants commented on #300
That's cool! FYI, still working on the review. I have a few more issues to close, just don't have time at the moment. Maybe I can finish over our Thanksgiving break.

[2017-11-19 22:30] Kevin-Mattheus-Moerman commented on #300
Cool eh :smile: btw,  in your paper one reference shows ???, it is @Watcher2006 should that be @Watcher2006?

[2017-11-19 22:31] Kevin-Mattheus-Moerman commented on #300
@moorepants thanks for the update. Let me know when we can resume review.

[2017-11-19 22:32] Kevin-Mattheus-Moerman commented on #434
@whedon generate pdf

[2017-11-19 22:32] whedon commented on #434
[code]

[2017-11-19 22:32] whedon commented on #434
[code]

[2017-11-19 22:35] Kevin-Mattheus-Moerman commented on #434
@zmimlitz can you respond to the reviewer's comment?

[2017-11-20 01:15] arfon commented on #306
Friendly reminder on this @ncclementi.

[2017-11-20 01:20] labarba commented on #306
This is me being a bottleneck. We had the problem of the Zenodo archive being created by one student who has now left the group. Zenodo does not have the feature to allow org accounts or sharing the ownership of a Zenodo entry. We exchanged emails with them to have this archive transferred to another account. They said yes, with approval of original uploader. This happened. Now, I have to create a

[2017-11-20 01:29] arfon commented on #458
@whedon generate pdf

[2017-11-20 01:29] whedon commented on #458
[code]

[2017-11-20 01:29] whedon commented on #458
[code]

[2017-11-20 01:33] arfon commented on #458
@kyleniemeyer @Datseris - the links in the paper are looking a bit better now.

[2017-11-20 01:35] kyleniemeyer commented on #458
Yes, looks great! Ready to accept/publish.

[2017-11-20 01:46] offray commented on #238
@labarba I have stated the research fields of data activism and civic hacking added into `paper.md` and how Dataviz is part of a set of pocket infrastructures that address the need for more inclusive practices in such fields contrasting critically it with the exclusionary practices of Big Data. I have also fixed the PDF link and added `paper.bib`.

[2017-11-20 01:47] arfon commented on #458
@ahwillia - many thanks for your review here and to @kyleniemeyer for editing this submission ✨

@Datseris - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00458 ⚡️ 🚀 💥

[2017-11-20 01:47] #458 closed

[2017-11-20 01:57] Kevin-Mattheus-Moerman commented on #443
@whedon generate pdf

[2017-11-20 01:57] whedon commented on #443
[code]

[2017-11-20 01:57] whedon commented on #443
[code]

[2017-11-20 02:00] Kevin-Mattheus-Moerman commented on #443
@arfon if there are no references, do we need an empty paper.bib file?

[2017-11-20 02:02] Kevin-Mattheus-Moerman commented on #443
@pzwang @rhiever @tacaswell @wesm @jreback @bryevdv is this [JOSS](http://joss.theoj.org/) submission your cup of tea? Would you be willing to review this?

[2017-11-20 02:02] arfon commented on #443
I guess not but in this case the `paper.md` file should not be pointing to a `paper.bib` file that doesn't exist. IMO the current paper is rather too brief and lacking context. I'd encourage the author to flesh this out (and perhaps cite related work/packages?)

[2017-11-20 06:54] cMadan commented on #436
@Kevin-Mattheus-Moerman, any update? Thanks!

[2017-11-20 07:18] aokad commented on #457
Dear @pjotrp, @chfi,

I really appreciate the prompt response to our submission.
As far as I confirmed, I believe our software satisfies most of the check list except:

1. Automated tests: Our repository currently supports automated test for the build. We will further improve so that several command executions can be checked soon.
2. Community guidelines: We will soon include clearer statement in

[2017-11-20 10:37] Datseris commented on #458
Awesome! Thanks everybody for their effort!

[2017-11-20 11:30] arfon commented on #446
@Kevin-Mattheus-Moerman @cMadan - would either of you be willing to edit this submission for JOSS? I realize it's a little out of any of our expertise areas but we could look at getting an additional reviewer to help here.

[2017-11-20 11:45] Datseris commented on #458
@ahwillia @kyleniemeyer I am sorry about this but is it possible to recompile the paper? Or "update" it?

I realized that even though I am acknowledging people properly in the repository page, this is not very transparent in the paper. Therefore I copied the Acknowledgements page from the repository and added it to the paper.md as well, so that they are more transparent.

I am sorry for forgetting

[2017-11-20 11:49] arfon commented on #458
@Datseris - yes, that's OK. The `@username` syntax in the paper is confusing Pandoc though:

<img width="701" alt="screen shot 2017-11-20 at 6 48 23 am" src="https://user-images.githubusercontent.com/4483/33017054-eb25a93e-cdbe-11e7-9b48-265d8f2ddc31.png">

[2017-11-20 11:49] arfon commented on #458
I think you should be able to quote their usernames in back-ticks e.g. ````@arfon````

[2017-11-20 11:51] Datseris commented on #458
Thanks a lot for the flexibility you provide. I changed the nametags tp have back-ticks

[2017-11-20 13:54] Kevin-Mattheus-Moerman commented on #446
I can help sure I'll take this one

[2017-11-20 13:55] Kevin-Mattheus-Moerman commented on #446
@whedon assign @Kevin-Mattheus-Moerman as editot

[2017-11-20 13:55] Kevin-Mattheus-Moerman commented on #446
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-11-20 14:20] mdoucet commented on #399
Another possible reviewer could be @nicoguaro.

[2017-11-20 14:30] arfon commented on #446
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-11-20 14:30] whedon commented on #446
OK, the editor is @Kevin-Mattheus-Moerman

[2017-11-20 14:50] leeper commented on #408
@arfon Just a bump. This one is all set.

[2017-11-20 14:51] leeper commented on #449
I'm working on identifying a reviewer for this and will update again once that person is confirmed.

[2017-11-20 14:54] paulgovan commented on #425
@rgiordan, @katyhuff

Just checking to see if you have had a chance to review my changes. Let me know if you have any additional comments.

[2017-11-20 14:57] katyhuff commented on #425
Ah!! Sorry, I was so confused -- the issues are still open! If they have been fixed, it's appropriate to close them (only you can.. we don't own this repository). I'm looking now to ensure that I can run the tests.

[2017-11-20 15:27] wesm commented on #443
I don't have the bandwidth to help unfortunately

[2017-11-20 15:29] katyhuff commented on #425
- [ ] The issue with the paper references hasn't been fixed. Much like an ordinary paper, you must actually cite things in the text in order for them to appear in the references.
- [ ] I strongly recommend a caption for the figure in your paper.
- [ ] It's not clear that your unit tests are robustly testing the method itself.
- [ ] We require either automated tests (e.g. with travis) or instructio

[2017-11-20 16:01] bzenger commented on #446
@arfon @Kevin-Mattheus-Moerman Thank you so much for your work on this. Please let us know if we can help by recommending possible external reviewers.

[2017-11-20 16:53] pjotrp commented on #457
Excellent. @chfi feel free to start.

[2017-11-20 17:04] wkearn commented on #448
FullSWOF is an excellent, mature piece of software. Everything works as advertised, and the documentation is comprehensive.

I have one minor concern to be addressed before I can recommend acceptance, and a few suggestions that would be nice to see, but aren't critical.

# Minor concern: community guidelines

There doesn't appear to be explicitly stated information on how someone might go about co

[2017-11-20 17:09] ResidentMario commented on #443
I'm happy to edit the write-up for content, I wasn't too sure how much is enough or too much. In terms of citations, there's an R package that was inspired by this Python package [here](https://www.rdocumentation.org/packages/poppr/versions/2.5.0/topics/missingno), as well as [this blog post](http://www.residentmar.io/2016/06/12/null-and-missing-data-python.html) describing the issue the package t

[2017-11-20 17:15] Kevin-Mattheus-Moerman commented on #446
@bzenger please feel free to recommend reviewers. Recommend them by tagging them in a post with their github handles. Thanks

[2017-11-20 18:38] rhiever commented on #443
Same as @wesm - bad time of the year for me. If you still need a review in mid-January, please feel free to ping me again.

[2017-11-20 18:53] Datseris commented on #458
@whedon generate pdf

[2017-11-20 18:53] whedon commented on #458
[code]

[2017-11-20 18:54] whedon commented on #458
[code]

[2017-11-20 18:56] Datseris commented on #458
@arfon everything is fine with the pdf! The only issue is that when I go to the DOI page,
the pdf linked there is not updated (it still has the old version): http://joss.theoj.org/papers/10.21105/joss.00458

[2017-11-20 18:57] arfon commented on #458
the pdf linked there is not updated (it still has the old version): http://joss.theoj.org/papers/10.21105/joss.00458

Yep, I've not updated them yet. Will get to this either later today or tomorrow.

[2017-11-20 20:38] whedon opened #466 "[PRE REVIEW]: An easy-to-use p5.js 3D object picker for visual artists"
**Submitting author:** @physicsdavid (<a href="http://orcid.org/0000-0002-8321-2062">David Harris</a>)
**Repository:** <a href="https://github.com/physicsdavid/mPicker" target ="_blank">https://github.com/physicsdavid/mPicker</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @Fil

**Author instructions**

Thanks for submitting your paper to JOSS @physicsdavid. The JOSS editor (shown at the to

[2017-11-20 20:38] whedon commented on #466
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-20 20:38] whedon commented on #466
[code]

[2017-11-20 20:39] whedon commented on #466
[code]

[2017-11-20 20:41] whedon opened #467 "[PRE REVIEW]: Bitstream - Binary Data for Humans"
**Submitting author:** @boisgera (<a href="http://orcid.org/0000-0003-4685-8099">Sébastien Boisgérault</a>)
**Repository:** <a href="https://github.com/boisgera/bitstream" target ="_blank">https://github.com/boisgera/bitstream</a>
**Version:** v2.2.0
**Editor:** @labarba
**Reviewer:** @bmcfee

**Author instructions**

Thanks for submitting your paper to JOSS @boisgera. The JOSS editor (shown at th

[2017-11-20 20:41] whedon commented on #467
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-20 20:41] whedon commented on #467
[code]

[2017-11-20 20:41] whedon commented on #467
[code]

[2017-11-20 20:42] arfon commented on #467
👋 @labarba - the submitting author suggested you as the handling editor.

[2017-11-20 20:43] whedon opened #468 "[PRE REVIEW]: PyTransport: A Python package for the calculation of inﬂationary correlation functions"
**Submitting author:** @jronayne (<a href="http://orcid.org/0000-0001-6464-6466">John Ronayne</a>)
**Repository:** <a href="https://github.com/jronayne/PyTransport" target ="_blank">https://github.com/jronayne/PyTransport</a>
**Version:** v2.0.0
**Editor:** @arfon
**Reviewer:** @joezuntz

**Author instructions**

Thanks for submitting your paper to JOSS @jronayne. The JOSS editor (shown at the top

[2017-11-20 20:43] whedon commented on #468
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-11-20 20:43] whedon commented on #468
[code]

[2017-11-20 21:03] arfon commented on #468
@whedon generate pdf

[2017-11-20 21:03] whedon commented on #468
[code]

[2017-11-20 21:04] whedon commented on #468
[code]

[2017-11-20 21:11] whedon commented on #468
[code]

[2017-11-20 21:14] physicsdavid commented on #466
Of the existing reviewer list, perhaps @fil might be most appropriate but it's unclear given that this submission is outside the scope of most JOSS submissions. In the pre-submission query, @kyleniemeyer was open to a submission of this kind. I believe you also had some discussions with the editorial team so you might have a clearer idea.

[2017-11-21 02:10] oesteban commented on #380
I think this is finished.

[2017-11-21 02:20] arfon commented on #408
@jrnold - many thanks for your review here and to @leeper for editing this submission ✨

@virgesmith - your paper is now accepted into JOSS and your paper DOI is https://doi.org/10.21105/joss.00408 ⚡️ 🚀 💥

[2017-11-21 02:20] #408 closed

[2017-11-21 02:50] arfon commented on #458
the pdf linked there is not updated (it still has the old version): http://joss.theoj.org/papers/10.21105/joss.00458

@Datseris - ok, these should be updated now.

[2017-11-21 02:52] arfon commented on #468
@jronayne - please take another look at the [submission guidelines](http://joss.theoj.org/about#paper_structure) and make sure you have a `paper.md` and `paper.bib` file in your repository.

[2017-11-21 02:54] arfon commented on #408
@virgesmith - also, please merge these changes that I had to make to complete your submission: https://github.com/virgesmith/UKCensusAPI/pull/20

[2017-11-21 02:55] arfon commented on #466
Thanks @physicsdavid.

@Fil - would you be willing to review this submission for JOSS?

[2017-11-21 05:21] kyleniemeyer commented on #448
Thanks @wkearn!

Hi @mlep, could you and your coauthors take a look at this feedback?

[2017-11-21 08:17] cMadan commented on #380
Everything looks good to me!

@raamana, could you mint a new release and provide me with the associated DOI?

[2017-11-21 09:50] marksantcroos commented on #437
Sorry for the delay again. I've completed my pass now. Ball is back to @iljah. Happy to work with you on resolving the issues.

[2017-11-21 10:05] Datseris commented on #458
@arfon thank you very much, everything looks very nice. Quick question: what is the "formal"/official form for the bibtex entry for your journal? From my DOI link I can see:

Datseris, (2017). DynamicalBilliards.jl: An easy-to-use, modular and extendable Julia package for Dynamical Billiard systems in two dimensions.. Journal of Open Source Software, 2(19), 458, doi:10.21105/joss.00458

Is there a

[2017-11-21 10:25] iljah commented on #437
Thanks, I'll start going through them...

[2017-11-21 11:11] mpadge commented on #375
@karthik @arfon any news on progress here?

[2017-11-21 13:17] raamana commented on #380
Here is the new final DOI: 10.5281/zenodo.1064012

Thank a lot Oscar and Chris, your review and suggestions helped improve the software greatly.

[2017-11-21 14:06] danielskatz commented on #437
thanks @marksantcroos and @iljah

For the record, the pass by @marksantcroos led to this set of issues in the code repo:

- https://github.com/iljah/hdintegrator/issues/1
- https://github.com/iljah/hdintegrator/issues/2
- https://github.com/iljah/hdintegrator/issues/3
- https://github.com/iljah/hdintegrator/issues/4
- https://github.com/iljah/hdintegrator/issues/5
- https://github.com/iljah/hdinte

[2017-11-21 15:09] DominiqueMakowski commented on #259
@arokem Should I do something more?

[2017-11-21 15:12] Kevin-Mattheus-Moerman commented on #466
@SimonDanish is this submission of interest to you, would you be willing to review it too?

[2017-11-21 15:24] kyleniemeyer commented on #458
@Datseris you can try using https://www.doi2bib.org/; we used to rely on it, but it isn’t always working.

[2017-11-21 15:34] danielskatz commented on #458
also see https://github.com/openjournals/joss/issues/341

[2017-11-21 22:38] labarba commented on #467
@boisgera: I read the paper and it does not illuminate the research application, I'm afraid. Could you elaborate on the research that this software enables, or if it has been used in any context where a scholarly publication would appropriately need to cite its use?

[2017-11-21 22:45] bryevdv commented on #443
Sorry, I am in the middle of a selling a house and moving across the country, I am too swamped. Additionally I don't feel especially qualified to comment on MPL related things.

[2017-11-22 03:07] karthik commented on #375
@mpadge Thanks for checking in. Apologies for the delays, but we'll provide you with an update soon.

[2017-11-22 11:02] boisgera commented on #467
@labarba: the main selling point of bitstream in the context of research is the high-level API that makes prototyping and experimenting new data compression schemes much easier/faster. However so far it has been us mostly for expository purposes in graduate courses, to replicate and demonstrate the internals of existing formats and codecs, not for any published research yet, but I believe that the

[2017-11-22 12:58] labarba commented on #467
Well, you have to explain in the paper what is the research application for the software. As indicated in the [Author Guidelines](http://joss.theoj.org/about#author_guidelines), this explanation is targeted at non-specialist readers and makes a clear statement of need. I don't have familiarity with the topic of data compression, so to look for an appropriate reviewer for your submission, I will ne

[2017-11-22 13:56] boisgera commented on #467
Fair enough! I will update the paper asap to communicate more clearly to the non-specialist what problem the library solves in data compression research. Thank you for your feedback.

[2017-11-22 16:01] nicoguaro commented on #399
@arfon, @mdoucet, I think I can review this one. But at this point of year it will probably take longer.

[2017-11-22 16:06] arfon commented on #399
@nicoguaro - fantastic, many thanks!

[2017-11-22 16:07] arfon commented on #399
@whedon assign @nicoguaro as reviewer

[2017-11-22 16:07] whedon commented on #399
OK, the reviewer is @nicoguaro

[2017-11-22 16:07] arfon commented on #399
@whedon start review magic-word=bananas

[2017-11-22 16:07] #399 closed

[2017-11-22 16:07] whedon opened #469 "[REVIEW]: Web interface for reflectivity fitting"
**Submitting author:** @mdoucet (<a href="http://orcid.org/0000-0002-5560-6478">Mathieu Doucet</a>)
**Repository:** <a href="https://github.com/neutrons/web_reflectivity" target ="_blank">https://github.com/neutrons/web_reflectivity</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @nicoguaro
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/c75ebaaeaa850eab7d27c7640280

[2017-11-22 16:07] whedon commented on #399
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/469. Feel free to close this issue now!

[2017-11-22 16:07] whedon commented on #469
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @nicoguaro it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably curre

[2017-11-22 16:07] whedon commented on #469
[code]

[2017-11-22 16:07] whedon commented on #469
[code]

[2017-11-22 16:07] whedon commented on #469
[code]

[2017-11-22 16:07] whedon commented on #469
[code]

[2017-11-22 16:09] arfon commented on #399
@nicoguaro @mdoucet - see you over in #469 for the actual paper review.

[2017-11-22 16:15] nicoguaro commented on #469
@mdoucet, should I install REFL1D to run a local server?

[2017-11-22 16:44] iljah commented on #437
I think I managed to fix the identified issues, if not feel free to reopen or create new ones.

[2017-11-22 17:38] mdoucet commented on #469
@nicoguaro, it's probably best. The interface will still work without it, but the fits won't run. I usually create myself an environment using the following description:

[https://github.com/neutrons/web_reflectivity/blob/master/test/environment/webrefl_env.yml](https://github.com/neutrons/web_reflectivity/blob/master/test/environment/webrefl_env.yml)

Here's a description of how to run a local se

[2017-11-22 17:41] ljvmiranda921 commented on #433
Hi @kyleniemeyer ! :) I am just wondering what the status of this would be. Thanks a lot!

[2017-11-22 17:42] chfi commented on #457
Dear @aokad, your submission looks very good. Installing and running was a breeze, and everything appears to work just as the excellent documentation says it should. The only things I found missing are the three parts you already identified and are working on :)

[2017-11-22 20:53] bzenger commented on #446
@Kevin-Mattheus-Moerman thanks we have a possible reviewer @CristianaCorsi​. Let us know if there is anything else we need to do.

[2017-11-22 21:04] Kevin-Mattheus-Moerman commented on #446
Thanks.  @CristianaCorsi you have been suggested as potential reviewer. If you are interested in reviewing can you please share​ your full name and perhaps a link to a professional (e.g. institutional) page? I ask this for verification and to learn about your affiliation/status/experience since your GitHub profile seems brand new and is currently empty.

[2017-11-23 00:13] jronayne commented on #468
Hello,

Apologises, I had missed that part of the guideline. I have added the paper.md and paper.bib files into the repository.

It should be good to go.

Regards,
John
From: Arfon Smith [mailto:notifications@github.com]
Sent: 21 November 2017 02:53
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: John Ronayne <j.ronayne@qmul.ac.uk>; Mention <mention@noreply.github.com>
Subject:

[2017-11-23 05:34] pjotrp commented on #457
Thanks @chfi! @aokad tell us when you are ready and we can wrap up.

[2017-11-23 08:42] CristianaCorsi commented on #446
My full name is Cristiana Corsi and my istitutional page is
https://www.unibo.it/sitoweb/cristiana.corsi3/en

Kind regards,
Cristiana Corsi

  Il 22/11/2017 22.04, Kevin Mattheus Moerman ha scritto:

--
Cristiana Corsi, PhD, Associate Professor
Department of Electric, Electronic and Information Engineering "Guglielmo Marconi" - DEI
University of Bologna
Via Risorgimento 2 - 40136 Bologna - Italy
V

[2017-11-23 09:41] Fil commented on #466
Yes! (but next week).

[2017-11-23 14:32] progtologist commented on #456
@danielskatz can you provide your feedback regarding [this](https://github.com/ros-controls/joss_paper/issues/23#issuecomment-346631876) issue?

[2017-11-23 14:47] danielskatz commented on #456
As I just wrote in the issue:

JOSS requires a ```LICENSE``` or ```LICENSE.txt``` file in the root of the repository.

[2017-11-24 06:32] aokad commented on #457
Dear @pjotrp, @chfi,
I have resolved.

1. Automated tests: I added "python setup.py test", which checks the validity of several sub-commands for generating analytical reports.
2. Community guidelines: I have included some description on community guideline to the Contact section in the documentation (http://paplot-doc.readthedocs.io/en/latest/info.html#contact)
3. References: I added DOIs to paper

[2017-11-24 12:42] mlep commented on #448
Thank you for your review and constructive comments. Please, find below our replies.

Indeed, we have overlooked this issue. In fact, we already have a short to-do list at the beginning of the changelog.txt file (https://sourcesup.renater.fr/scm/viewvc.php/trunk/changelog.txt?view=markup&root=fullswof-2d), but this list is hidden to new comers.
We have now added a paragraph in the main webpage (ht

[2017-11-24 13:09] chfi commented on #457
Looks good! I'm ready to accept this submission.

[2017-11-24 13:50] progtologist commented on #456
Grade: 1) Accept

All minor issues are now resolved as far as I am concerned. The software is research orientated with wide acceptance in the field and is actively developed and maintained.

[2017-11-24 14:03] danielskatz commented on #456
Thanks @progtologist !

@miguelprada , how's your review coming along?

[2017-11-24 14:48] lheagy commented on #440
👋 @bjmorgan, @jochym, @tacaswell: How are things going? Do you guys have an estimate of a timeline of when you will be able to take a look at this? Please let me know if I can be of assistance!

[2017-11-24 15:21] wkearn commented on #448
Looks good!

I'm happy to recommend acceptance at this point.

[2017-11-24 20:05] pjotrp commented on #457
Thanks for the fast turn around! @arfon we are ready for the next step.

[2017-11-24 22:34] arokem commented on #259
No. I believe this is in @arfon's hands for the final call.

[2017-11-25 06:23] leeper commented on #449
@whedon set @SachaEpskamp as reviewer

[2017-11-25 06:25] leeper commented on #449
@whedon assign @SachaEpskamp as reviewer

[2017-11-25 06:25] whedon commented on #449
OK, the reviewer is @SachaEpskamp

[2017-11-25 06:27] leeper commented on #449
@whedon start review magic-word=bananas

[2017-11-25 06:27] whedon commented on #449
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/470. Feel free to close this issue now!

[2017-11-25 06:27] whedon opened #470 "[REVIEW]: The psycho Package: an Efficient and Publishing-Oriented Workflow for Psychological Science"
**Submitting author:** @DominiqueMakowski (<a href="http://orcid.org/0000-0001-5375-9967">Dominique Makowski</a>)
**Repository:** <a href="https://github.com/neuropsychology/psycho.R" target ="_blank">https://github.com/neuropsychology/psycho.R</a>
**Version:** 0.0.2
**Editor:** @leeper
**Reviewer:** @SachaEpskamp
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1165620" target="_blank">10.5

[2017-11-25 06:27] whedon commented on #470
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @SachaEpskamp it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably cu

[2017-11-25 06:27] whedon commented on #470
[code]

[2017-11-25 06:27] whedon commented on #470
[code]

[2017-11-25 06:27] whedon commented on #470
[code]

[2017-11-25 06:27] whedon commented on #470
[code]

[2017-11-25 06:27] #449 closed

[2017-11-25 08:33] boisgera commented on #467
@whedon commands

[2017-11-25 08:34] whedon commented on #467
Here are some things you can ask me to do:

[code]

[2017-11-25 08:36] boisgera commented on #467
@whedon generate pdf

[2017-11-25 08:36] whedon commented on #467
[code]

[2017-11-25 08:36] whedon commented on #467
[code]

[2017-11-25 08:48] boisgera commented on #467
@labarba I have updated the paper with an explanation and statement of needs that target the non-specialist. A few colleagues (not in the field) that have read both versions considered this one more palatable. I hope it helps; please let me know if I can do something else.

[2017-11-25 16:00] joshuaulrich commented on #30
Sorry for the delay @arfon.  Started a new job on 10/9 and added child number 3 on 11/1.  It's been a busy couple of months.

@karantibrewal Here are some minor comments on the PDF:

- p2 ¶1 Unnecessary space between "futures" and comma (", futures , and")
- p2 ¶2 s/Quantopia/Quantopian/
- p2 ¶4 The abbreviation NMV is not previously defined
- p2 ¶4 Reference the figure number instead of "Below is

[2017-11-26 01:45] Kevin-Mattheus-Moerman commented on #446
Great thanks. @CristianaCorsi

[2017-11-26 01:45] Kevin-Mattheus-Moerman commented on #446
@whedon assign @CristianaCorsi as reviewer

[2017-11-26 01:48] Kevin-Mattheus-Moerman commented on #446
@whedon start review

[2017-11-26 01:48] whedon commented on #446
You didn't say the magic word! Try this:

[code]

[2017-11-26 01:49] Kevin-Mattheus-Moerman commented on #446
@whedon start review magic-word=bananas

[2017-11-26 14:39] raamana commented on #380
This DOI corresponds to the [latest GitHub release](https://github.com/raamana/hiwenet/releases/tag/0.4) tagged 0.4.

Also wouldn't JOSS be providing another DOI upon publication?

[2017-11-26 23:02] cMadan commented on #430
@jordigh, how is the review going?

[2017-11-26 23:02] cMadan commented on #380
@whedon set 10.5281/zenodo.1064012 as archive

[2017-11-26 23:02] whedon commented on #380
OK. <a href="http://dx.doi.org/10.5281/zenodo.1064012" target="_blank">10.5281/zenodo.1064012</a> is the archive.

[2017-11-26 23:06] cMadan commented on #380
@raamana, perfect! I've set the archive DOI and updated the version number. The archive DOI is for the software release, whereas the JOSS DOI will be for the paper. (There are also different kinds of DOIs--DataCite vs. CrossRef--which have differences in how their associated metadata and how they are processed by services like Google Scholar and PubMed.)

@arfon, we're all set to accept here!

[2017-11-26 23:42] katyhuff commented on #298
Ping.

[2017-11-27 02:45] raamana commented on #380
Thanks for the clarification and the review oversight.

[2017-11-27 04:29] kyleniemeyer commented on #298
@katyhuff pong!

[2017-11-27 04:29] kyleniemeyer commented on #298
Hi @scopatz, did you have a chance to complete/continue your review?

[2017-11-27 07:58] miguelprada commented on #456
I'll issue a grade 2, if only for the [missing DOI entries](https://github.com/ros-controls/joss_paper/issues/24). Will replace it with a 1 once they're in place.

[2017-11-27 12:37] jasonclark commented on #459
@alexhanna Would you be available to review "Phonetic Algorithms in R"?

An informal guideline is that we would like your review in the next week, but sooner (or later) are also ok.

The reviewer guidelines are available here: [http://joss.theoj.org/about#reviewer_guidelines](http://joss.theoj.org/about#reviewer_guidelines)

Thanks for considering.

[2017-11-27 12:42] alexhanna commented on #459
Looks interesting. I could do it by the end of next week.

On Mon, Nov 27, 2017 at 7:37 AM, Jason A. Clark <notifications@github.com>
wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2017-11-27 12:49] jasonclark commented on #459
@alexhanna Thanks for your interest and willingness to review! That timeline can work. Traveling today, but will try to put more review guideline details together tonight or tomorrow.

[2017-11-27 13:26] miguelprada commented on #456
That was quick! Grade: 1 (accept).

[2017-11-27 13:33] danielskatz commented on #456
Thanks @miguelprada !

@arfon, can I pass this over to you now for the final steps?

[2017-11-27 14:07] danielskatz commented on #437
@marksantcroos - How do things look now?

[2017-11-27 15:03] arfon commented on #375
@whedon assign @arfon as reviewer

[2017-11-27 15:03] whedon commented on #375
OK, the reviewer is @arfon

[2017-11-27 15:03] arfon commented on #375
@whedon start review magic-word=bananas

[2017-11-27 15:03] #375 closed

[2017-11-27 15:03] whedon commented on #375
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/471. Feel free to close this issue now!

[2017-11-27 15:03] whedon opened #471 "[REVIEW]: bikedata"
**Submitting author:** @mpadge (<a href="http://orcid.org/0000-0003-2172-5265">Mark Padgham</a>)
**Repository:** <a href="https://github.com/ropensci/bikedata" target ="_blank">https://github.com/ropensci/bikedata</a>
**Version:** v0.0.4
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1089207" target="_blank">10.5281/zenodo.1089207</a>

## Status

[

[2017-11-27 15:03] whedon commented on #471
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably currently

[2017-11-27 15:04] whedon commented on #471
[code]

[2017-11-27 15:04] whedon commented on #471
[code]

[2017-11-27 15:04] whedon commented on #471
[code]

[2017-11-27 15:04] whedon commented on #471
[code]

[2017-11-27 15:05] arfon commented on #471
@karthik - could you link to the rOpenSci review here please?

[2017-11-27 15:07] arfon commented on #471
@mpadge - our paper processing system expects there to be references associated with each paper. Is it possible for you to cite an related/existing work?

[2017-11-27 15:08] arfon commented on #468
@whedon generate pdf

[2017-11-27 15:08] whedon commented on #468
[code]

[2017-11-27 15:31] arfon commented on #259
@cMadan - many thanks for your review here and to @arokem for editing this one ✨

@DominiqueMakowski - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00259 ⚡️ 🚀 💥

[2017-11-27 15:31] #259 closed

[2017-11-27 15:34] arfon commented on #457
@whedon generate pdf

[2017-11-27 15:34] whedon commented on #457
[code]

[2017-11-27 15:35] whedon commented on #457
[code]

[2017-11-27 15:40] DominiqueMakowski commented on #259
@cMadan @arokem @arfon Many thanks to the reviewers and editors!

[2017-11-27 15:53] Kevin-Mattheus-Moerman commented on #446
@whedon assign @CristianaCorsi as reviewer

[2017-11-27 15:53] whedon commented on #446
OK, the reviewer is @CristianaCorsi

[2017-11-27 15:54] Kevin-Mattheus-Moerman commented on #446
@whedon start review magic-word=bananas

[2017-11-27 15:54] whedon opened #472 "[REVIEW]: PFEIFER: Preprocessing Framework of Electrograms Intermittently Fiducialized from Experimental Recordings"
**Submitting author:** @bzenger (<a href="http://orcid.org/0000-0002-0039-9184">Brian Zenger</a>)
**Repository:** <a href="https://github.com/SCIInstitute/PFEIFER" target ="_blank">https://github.com/SCIInstitute/PFEIFER</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @CristianaCorsi
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1158651" target="_blank">10.5281/z

[2017-11-27 15:54] whedon commented on #446
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/472. Feel free to close this issue now!

[2017-11-27 15:54] whedon commented on #472
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @CristianaCorsi it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-11-27 15:54] whedon commented on #472
[code]

[2017-11-27 15:54] whedon commented on #472
[code]

[2017-11-27 15:54] whedon commented on #472
[code]

[2017-11-27 15:54] whedon commented on #472
[code]

[2017-11-27 15:55] #446 closed

[2017-11-27 16:00] Kevin-Mattheus-Moerman commented on #472
@CristianaCorsi this is where the review takes place. The review is guided by the tick boxes at the top of this issue which you are able to tick. See our website and [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines) for more information. If you have comments or issues you want to report for the authors you can leave comments here. You can also post issues on the project repo a

[2017-11-27 16:00] Kevin-Mattheus-Moerman commented on #472
@CristianaCorsi could you provide an indication as to when you think you can complete this review? Thanks

[2017-11-27 16:03] Kevin-Mattheus-Moerman commented on #472
@bzenger The initial paper generation did not complete. I am unsure about the error but it looks like it cannot find your paper file. Could you please rename the paper folder and paper file to `paper` and `paper.md` respectively? Thanks

[2017-11-27 16:09] marksantcroos commented on #437
Managed to run some of the python-only examples now, so thats progress!

[2017-11-27 16:28] arfon commented on #457
@aokad - apologies for the late reply to this thread but could you please add a little more detail to your paper. Please see the guidance for authors [here](http://joss.theoj.org/about#paper_structure).

[2017-11-27 16:30] arfon commented on #380
@whedon generate pdf

[2017-11-27 16:30] whedon commented on #380
[code]

[2017-11-27 16:31] whedon commented on #380
[code]

[2017-11-27 16:51] raamana commented on #380
The PDF produced doesn't look right - image not aligned. I've updated it to try more space around it, and improved the text a bit more. If possible, it may be better to try generate the PDF again.

[2017-11-27 17:15] mpadge commented on #471
@arfon yep, of course. I'll put in a `paper.bib` tomorrow (Tues 28/11). Great that this is progressing!

[2017-11-27 17:17] danielskatz commented on #437
new issues:
- https://github.com/iljah/hdintegrator/issues/9
- https://github.com/iljah/hdintegrator/issues/10
- https://github.com/iljah/hdintegrator/issues/11
- https://github.com/iljah/hdintegrator/issues/12

[2017-11-27 17:19] danielskatz commented on #437
@marksantcroos - while you don't need to list each issues here (as I am doing for completeness) can you add a comment in this review issue when you have opened issues in the source repo, so that an editor (like me) can see where things are by just looking at this issue?  Thanks!

[2017-11-27 17:44] bjmorgan commented on #440
https://github.com/sns-chops/multiphonon/issues/76

[2017-11-27 18:05] arfon commented on #380
@whedon generate pdf

[2017-11-27 18:05] whedon commented on #380
[code]

[2017-11-27 18:05] whedon commented on #380
[code]

[2017-11-27 18:08] arfon commented on #380
@raamana - the figure has now flowed onto the next page (which might be OK?). If this works for you, perhaps you should just change the previous sentence to 'Rough scheme of computation shown in Figure 1'

[2017-11-27 18:23] raamana commented on #380
sure, updated it now. thanks.

[2017-11-27 18:33] arfon commented on #456
@bmagyar - At this point could you make an archive of the reviewed software packages in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-11-27 18:34] arfon commented on #380
@whedon generate pdf

[2017-11-27 18:34] whedon commented on #380
[code]

[2017-11-27 18:35] whedon commented on #380
[code]

[2017-11-27 18:47] arfon commented on #380
@oesteban - many thanks for your review here and to @cMadan for editing this submission ✨

@raamana - your submission is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00380 ⚡️ 🚀 💥

[2017-11-27 18:47] #380 closed

[2017-11-27 18:47] karthik commented on #471
@arfon Here is the issue: https://github.com/ropensci/onboarding/issues/116

[2017-11-27 18:57] pjotrp commented on #457
Yes, main thing is to make it clear to readers what it is about. See it as an advertisement for your work. A figure is usually a good idea. See one of our own [papers](http://joss.theoj.org/papers/84b27b28948be80a47268a5baa2701ad) as an example.

[2017-11-27 21:37] marksantcroos commented on #437
@danielskatz Ack. Note that I've been (trying) to maintain a list of issues in the checklist above. I think the system could be of more help to us with some reworking. Happy to share my thoughts there.

[2017-11-27 21:43] danielskatz commented on #437
I see - I didn't notice that, as I was just scanning the checklist to see if the boxes were getting checked, not realizing that you might add notes to the items.

Your suggestions are very welcome.  Please either open an issue at https://github.com/openjournals/joss/issues or if you are feeling brave, you can edit code and make a PR in that repo as well.

[2017-11-27 22:32] bzenger commented on #472
@Kevin-Mattheus-Moerman This should be updated now. Could we re-run the generation function?

[2017-11-27 23:23] Haacked commented on #395
Hey @arfon! It's been a long time. I've been asked to review this project as a subject matter expert in .NET and I was happy to see your involvement.

I'm happy to help review this. Just let me know next steps.

[2017-11-28 09:26] mpadge commented on #471
[`paper.bib`](https://github.com/ropensci/bikedata/blob/master/paper.bib) now inserted and referenced in [`paper.md`](https://github.com/ropensci/bikedata/blob/master/paper.md). Let me know if there are any other requirements.

[2017-11-28 09:35] iljah commented on #437
Fixed issues 9 to 12, thanks!

[2017-11-28 11:19] bmagyar commented on #456
What would you recommend for gathering up all the package into a tar and submitting for doi?
Zenodo only seems to support repo-wise archiving, figshare seems to be ok with the big tarball.

Should I add a pdf generated by me to the joss-paper repo or will that be generated by them/you?

[2017-11-28 13:38] bjmorgan commented on #440
@jochym @tacaswell I'm a solid state computational theorist and only deal with things like phonon densities of states *after* they have been extracted from experimental data. Are either of you two in a position to check whether the inputs / outputs for the examples look how you would expect?

[2017-11-28 16:11] Kevin-Mattheus-Moerman commented on #472
@whedon generate pdf

[2017-11-28 16:12] whedon commented on #472
[code]

[2017-11-28 16:12] whedon commented on #472
[code]

[2017-11-28 16:31] Kevin-Mattheus-Moerman commented on #472
@bzenger that seems to have worked. Can  you check if the affiliations are complete/correct in [your article](https://github.com/openjournals/joss-papers/blob/joss.00472/joss.00472/10.21105.joss.00472.pdf)?

[2017-11-28 21:45] ncclementi commented on #306
@arfon Here is our zenodo doi: https://doi.org/10.5281/zenodo.1067773

[2017-11-28 22:14] sckott commented on #463
Nice work @vpnagraj et al. I have a few comments, with linked issues in your GH repo as applicable

- Two of the references in the `paper.md` are missing DOIs (and the papers do have DOIs) - https://github.com/databio/simpleCache/issues/27
- Community guidelines: could be more on this front -  https://github.com/databio/simpleCache/issues/28
- Tests: tests are present, but could be improved - http

[2017-11-29 00:10] jslee02 commented on #460
There was a [correction](https://github.com/dartsim/dart/pull/945) of the affiliations. Let me regenerate the PDF.

[2017-11-29 00:10] jslee02 commented on #460
@whedon generate pdf

[2017-11-29 00:10] whedon commented on #460
[code]

[2017-11-29 02:28] bzenger commented on #472
@Kevin-Mattheus-Moerman I just updated the affiliations for clarifications. If you could have whedon run again that would be great! Thank you so much!

[2017-11-29 06:56] aokad commented on #457
@arfon, @pjotrp, thank you very much for the suggestion.
I have included detailed description on our software. Please let me know if there is any idea for improving the paper.

[2017-11-29 12:11] leeper commented on #463
Thanks for the great review, @sckott! Much appreciated.

@vpnagraj Please try to respond to Scott's points and the specific issues he's raised.

[2017-11-29 15:09] nsheff commented on #463
Thanks for the review, @sckott and @leeper. We will look into it and respond to this issues shortly!

[2017-11-29 15:12] Kevin-Mattheus-Moerman commented on #472
@whedon generate pdf

[2017-11-29 15:12] whedon commented on #472
[code]

[2017-11-29 15:12] whedon commented on #472
[code]

[2017-11-29 15:13] Kevin-Mattheus-Moerman commented on #460
@whedon generate pdf

[2017-11-29 15:13] whedon commented on #460
[code]

[2017-11-29 17:43] wgood commented on #472
@whedon generate pdf

[2017-11-29 17:43] whedon commented on #472
[code]

[2017-11-29 17:43] whedon commented on #472
[code]

[2017-11-29 18:21] arfon commented on #395
Hey Phil! Nice to see you here :-)

It would be great to have you review this submission for us. Hopefully the process should be relatively smooth and straightforward. Also, it all happens right here on GitHub. I'll issue a few commands to our robot @whedon and we should be in good shape to get started.

[2017-11-29 18:26] arfon commented on #395
@whedon assign @arfon as editor

[2017-11-29 18:26] whedon commented on #395
OK, the editor is @arfon

[2017-11-29 18:27] arfon commented on #395
@whedon assign @Haacked as reviewer

[2017-11-29 18:27] whedon commented on #395
OK, the reviewer is @Haacked

[2017-11-29 18:27] arfon commented on #395
@whedon start review magic-word=bananas

[2017-11-29 18:27] #395 closed

[2017-11-29 18:27] whedon opened #473 "[REVIEW]: Xbim.Essentials: a library for interoperable building information applications"
**Submitting author:** @CBenghi (<a href="http://orcid.org/0000-0003-3252-5461">Claudio Benghi</a>)
**Repository:** <a href="https://github.com/xBimTeam/XbimEssentials" target ="_blank">https://github.com/xBimTeam/XbimEssentials</a>
**Version:** 4.0
**Editor:** @arfon
**Reviewer:** @Haacked
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1095192" target="_blank">10.5281/zenodo.1095192</a>

[2017-11-29 18:27] whedon commented on #395
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/473. Feel free to close this issue now!

[2017-11-29 18:27] whedon commented on #473
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @Haacked it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably current

[2017-11-29 18:27] whedon commented on #473
[code]

[2017-11-29 18:28] whedon commented on #473
[code]

[2017-11-29 18:28] arfon commented on #395
@Haacked when you get a chance, please head over to #473 where the actual review of this submission should take place.

[2017-11-29 18:30] arfon commented on #473
@Haacked - please work through the checklist at the top of this issue. If you have any questions, don't hesitate to ask.

We also have some [reviewer guidelines](http://joss.theoj.org/about#reviewer_guidelines) which should help you understand the purpose and scope of the review.

[2017-11-29 18:51] whedon opened #474 "[PRE REVIEW]: The Experiment Factory: Reproducible Experiment Containers"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/expfactory/expfactory" target ="_blank">https://www.github.com/expfactory/expfactory</a>
**Version:** v3.0.0
**Editor:** @leeper
**Reviewer:** @oesteban

**Author instructions**

Thanks for submitting your paper to JOSS @vsoch. The JOSS editor (shown at

[2017-11-29 18:51] whedon commented on #474
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-29 18:51] whedon commented on #474
[code]

[2017-11-29 18:52] whedon commented on #474
[code]

[2017-11-29 18:52] arfon commented on #474
👋 @leeper - the submitting author suggested you as the handling editor.

[2017-11-29 21:05] wgood commented on #472
@whedon generate pdf

[2017-11-29 21:05] whedon commented on #472
[code]

[2017-11-29 21:06] whedon commented on #472
[code]

[2017-11-29 21:18] arfon commented on #472
@bzenger - sorry for the unhelpful errors from @whedon. I've made some fixes to your paper YAML header that were obvious problems: https://github.com/SCIInstitute/PFEIFER/pull/24

[2017-11-29 21:23] whedon commented on #472
[code]

[2017-11-29 21:23] whedon commented on #472
[code]

[2017-11-29 21:24] bzenger commented on #472
@arfon thanks so much for the assistance

[2017-11-29 21:47] vsoch commented on #474
:wave: @whedon and @arfon and @leeper, looking forward to the review!

[2017-11-30 01:26] Kevin-Mattheus-Moerman commented on #472
@arfon check the second to last reference in the pdf. The DOI seems to spill over the margin. Can that be fixed?

[2017-11-30 01:31] Kevin-Mattheus-Moerman commented on #472
@bzenger Can you check the Good et al. reference.Please add a link to the DOI (I think it should probably be: 10.23919/CIC.2016.7868928 see [here](http://ieeexplore.ieee.org/document/7868928/)).

[2017-11-30 09:21] leeper commented on #416
I have thus far been unable to find a reviewer for this. @openjournals/joss-editors - anyone have suggestions or know of willing volunteers?

[2017-11-30 09:22] whedon commented on #460
[code]

[2017-11-30 13:08] arfon commented on #472
There must be right? It's beyond my LaTeX super-powers though I'm afraid. We had a go in https://github.com/openjournals/whedon/pull/14 but this didn't help.

[2017-11-30 13:11] arfon commented on #460
@whedon generate pdf

[2017-11-30 13:11] whedon commented on #460
[code]

[2017-11-30 13:14] whedon commented on #460
[code]

[2017-11-30 13:14] whedon commented on #460
[code]

[2017-11-30 13:14] whedon commented on #460
[code]

[2017-11-30 13:31] arfon commented on #468
@whedon generate pdf

[2017-11-30 13:31] whedon commented on #468
[code]

[2017-11-30 13:31] maelle commented on #416
@njtierney ?

[2017-11-30 13:31] whedon commented on #468
[code]

[2017-11-30 13:35] arfon commented on #471
@whedon generate pdf

[2017-11-30 13:35] whedon commented on #471
[code]

[2017-11-30 13:35] whedon commented on #471
[code]

[2017-11-30 13:47] arfon commented on #471
@mpadge - please merge this PR which fixes up the YAML metadata in your paper: https://github.com/ropensci/bikedata/pull/50

[2017-11-30 13:54] arfon commented on #456
Zenodo only seems to support repo-wise archiving, figshare seems to be ok with the big tarball.

My understanding is that both figshare and Zenodo will let you archive a bunch of zip/tar files with them, Zenodo just has a cleaner/more automated approach if you're archiving a single repository.

That will be done by us. We just just need you to supply us with the archive DOI for the software that h

[2017-11-30 13:55] arfon commented on #306
@whedon set 10.5281/zenodo.1067773 as archive

[2017-11-30 13:55] whedon commented on #306
OK. <a href="http://dx.doi.org/10.5281/zenodo.1067773" target="_blank">10.5281/zenodo.1067773</a> is the archive.

[2017-11-30 14:06] arfon commented on #306
@ncclementi @labarba - when you get a chance, please merge [this PR](https://github.com/barbagroup/pygbe/pull/66) which updates the JOSS paper to the newer format.

[2017-11-30 14:13] arfon commented on #306
@kyleniemeyer many thanks for your review and to @katyhuff for editing this submission ✨

@ncclementi @labarba - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00306 ⚡️ 🚀 💥

[2017-11-30 14:13] #306 closed

[2017-11-30 14:29] Kevin-Mattheus-Moerman commented on #472
@arfon I take it you've tried some of [these suggestions](https://tex.stackexchange.com/questions/3033/forcing-linebreaks-in-url)?

[2017-11-30 15:16] arfon commented on #466
Great! Thanks @Fil.

[2017-11-30 15:16] arfon commented on #466
@whedon assign @Fil as reviewer

[2017-11-30 15:16] whedon commented on #466
OK, the reviewer is @Fil

[2017-11-30 15:17] arfon commented on #466
@whedon start review magic-word=bananas

[2017-11-30 15:17] #466 closed

[2017-11-30 15:17] whedon opened #475 "[REVIEW]: An easy-to-use p5.js 3D object picker for visual artists"
**Submitting author:** @physicsdavid (<a href="http://orcid.org/0000-0002-8321-2062">David Harris</a>)
**Repository:** <a href="https://github.com/physicsdavid/mPicker" target ="_blank">https://github.com/physicsdavid/mPicker</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @Fil
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1081934" target="_blank">10.5281/zenodo.1081934</a>

## Sta

[2017-11-30 15:17] whedon commented on #466
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/475. Feel free to close this issue now!

[2017-11-30 15:17] whedon commented on #475
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @Fil it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably currently w

[2017-11-30 15:17] whedon commented on #475
[code]

[2017-11-30 15:17] whedon commented on #475
[code]

[2017-11-30 15:17] arfon commented on #466
@Fil - please head over to #475 to carry out the actual review.

[2017-11-30 16:28] lebebr01 commented on #185
Thanks again @daattali for the review. I posted my comments on edits made here: https://github.com/lebebr01/highlightHTML/issues/5. As mentioned in that issue, most of the changes I grouped into a single commit: https://github.com/lebebr01/highlightHTML/commit/fc1cf86e2aff8a14f986bf9c7520e313611dbc78.

I'd be very interested on your thoughts on the changes. Thanks again in advance.

[2017-11-30 17:22] whedon commented on #460
[code]

[2017-11-30 18:06] CBenghi commented on #473
@Haacked,
I've noticed that you have skipped some checkboxes above, so I've improved the submission as follows:

- **Example usage**: I've added an example section in the readme.md to point to the examples available on docs.xbim.net.
- **References**: I've updated the paper.md file to fix two references that were misinterpreted in the previous version.  I've double checked that any entry that does

[2017-11-30 18:07] CBenghi commented on #473
@whedon commands

[2017-11-30 18:07] whedon commented on #473
Here are some things you can ask me to do:

[code]

[2017-11-30 18:07] CBenghi commented on #473
@whedon generate pdf

[2017-11-30 18:07] whedon commented on #473
[code]

[2017-11-30 18:07] whedon commented on #473
[code]

[2017-11-30 18:23] CBenghi commented on #473
@whedon generate pdf

[2017-11-30 18:23] whedon commented on #473
[code]

[2017-11-30 18:24] whedon commented on #473
[code]

[2017-11-30 19:44] arfon commented on #472
Yes... and to no end I'm afraid.

[2017-11-30 19:45] arfon commented on #457
@whedon generate pdf

[2017-11-30 19:45] whedon commented on #457
[code]

[2017-11-30 19:46] whedon commented on #457
[code]

[2017-11-30 19:46] Fil commented on #475
Hello David (@physicsdavid)

After a first look at the requirements, a few of them are found insufficient:
- version: needs a corresponding *release*
- statement of need (both in the software and the paper): needs a better explanation of why it's difficult to do this object picking in native p5 (maybe a link to an example of how people do it manually)
- Installation instructions: please write out

[2017-11-30 19:47] arfon commented on #457
I have included detailed description on our software. Please let me know if there is any idea for improving the paper.

@aokad - many thanks for adding some more detail to your submission. At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-11-30 20:23] Kevin-Mattheus-Moerman commented on #434
@arfon can we e-mail the submitting authors of this submission? They have not responded in a very long time.

[2017-11-30 21:35] whedon opened #476 "[PRE REVIEW]: BATMAN: Statistical analysis for expensive computer codes made easy"
**Submitting author:** @tupui (<a href="http://orcid.org/0000-0001-9816-1416">Pamphile ROY</a>)
**Repository:** <a href="https://gitlab.com/cerfacs/batman" target ="_blank">https://gitlab.com/cerfacs/batman</a>
**Version:** v1.7
**Editor:** @katyhuff
**Reviewer:** @mikeckennedy

**Author instructions**

Thanks for submitting your paper to JOSS @tupui. The JOSS editor (shown at the top of this issu

[2017-11-30 21:35] whedon commented on #476
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-11-30 21:35] whedon commented on #476
[code]

[2017-11-30 21:35] whedon opened #477 "[PRE REVIEW]: CoreRobotics: An object-oriented C++ library with cross-language wrappers for cross-platform robot control"
**Submitting author:** @CoreRobotics (<a href="http://orcid.org/0000-0003-1160-0426">Parker Owan</a>)
**Repository:** <a href="https://github.com/CoreRobotics/CoreRobotics" target ="_blank">CoreRobotics/CoreRobotics</a>
**Version:** v0.9.1
**Editor:** @danielskatz
**Reviewer:** @bmagyar

**Author instructions**

Thanks for submitting your paper to JOSS @CoreRobotics. The JOSS editor (shown at the

[2017-11-30 21:36] whedon commented on #477
[code]

[2017-11-30 21:36] whedon commented on #476
[code]

[2017-11-30 21:36] whedon opened #478 "[PRE REVIEW]: Gophernotes: the Go kernel for Jupyter and nteract"
**Submitting author:** @dwhitena (<a href="http://orcid.org/0000-0003-1155-8889">Daniel Whitenack</a>)
**Repository:** <a href="https://github.com/gopherdata/gophernotes" target ="_blank">https://github.com/gopherdata/gophernotes</a>
**Version:** v1.0.0-RC
**Editor:** @arokem
**Reviewer:** @vsivsi

**Author instructions**

Thanks for submitting your paper to JOSS @dwhitena. The JOSS editor (shown

[2017-11-30 21:36] whedon commented on #478
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-11-30 21:36] whedon commented on #478
[code]

[2017-11-30 21:36] whedon commented on #478
[code]

[2017-11-30 21:36] whedon opened #479 "[PRE REVIEW]: GIBBON: The Geometry and Image-Based Bioengineering add-ON"
**Submitting author:** @Kevin-Mattheus-Moerman (<a href="http://orcid.org/0000-0003-3768-4269">Kevin Moerman</a>)
**Repository:** <a href="https://github.com/gibbonCode/GIBBON" target ="_blank">https://github.com/gibbonCode/GIBBON</a>
**Version:** v2.5.0
**Editor:** @cMadan
**Reviewer:** @siboles

**Author instructions**

Thanks for submitting your paper to JOSS @Kevin-Mattheus-Moerman. The JOSS e

[2017-11-30 21:36] whedon commented on #479
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-11-30 21:36] whedon commented on #479
[code]

[2017-11-30 21:38] whedon commented on #479
[code]

[2017-11-30 22:22] Kevin-Mattheus-Moerman commented on #479
@cMadan I recommend the following as potential reviewers to this [JOSS](http://joss.theoj.org/about) submission: @gpeyre @siboles

[2017-11-30 22:40] bzenger commented on #472
@whedon generate pdf

[2017-11-30 22:40] whedon commented on #472
[code]

[2017-11-30 22:41] whedon commented on #472
[code]

[2017-11-30 22:59] cMadan commented on #479
@Kevin-Mattheus-Moerman - it's great to see this project submitted to JOSS! I look forward to overseeing the review process :)

@gpeyre @siboles - are either of you available to review this submission? Thanks!

[2017-11-30 23:26] CoreRobotics commented on #477
@whedon commands

[2017-11-30 23:26] whedon commented on #477
Here are some things you can ask me to do:

[code]

[2017-11-30 23:44] CoreRobotics commented on #477
Hello,

I believe the repository link of the original submission is broken.  The repository is maintained at gitlab, however a mirror is on Github.  The repository for this review needs to be updated to this link: [https://github.com/CoreRobotics/CoreRobotics](https://github.com/CoreRobotics/CoreRobotics)

From the list, @mosteo seems to be an appropriate reviewer.  @jordigh as well.

[2017-12-01 01:52] siboles commented on #479
Yes, I am happy to review this. I am a bit under load at the moment, but
will get to it before the holidays.

Best,

Scott

On 11/30/2017 03:59 PM, Christopher Madan wrote:

[2017-12-01 02:26] physicsdavid commented on #475
Thanks, Philippe (@Fil). These are very helpful comments. I believe I have addressed your issues with the following notes:
- dependencies/example: Although the two p5 addons are not strictly necessary, the standard p5.js template package includes them as part of the index.html file as they are commonly used in many p5.js applications and their inclusion in index.html appears in most p5.js applicat

[2017-12-01 05:24] Fil commented on #475
Thank you @physicsdavid for all the changes. They do indeed address all the issues!

(The only caveat is I'm not sure I understand why you have made a zip file of the example — it looked more directly accessible and readable as plain files one could look up on github or open in a browser. But it's not an issue for this review.)

@arfon my review is complete and positive for publication.

[2017-12-01 05:30] physicsdavid commented on #475
Thanks, @Fil!

One of the common ways to distribute p5.js applications is via a zip file that contains the set of index.html, sketch.js, plus other assets as required. If you develop a sketch in the online editor (as many of my students do, for example), then if you want to download the sketch, you get a pre-packaged zip with everything in the right folder structure, etc. It's certainly not necess

[2017-12-01 05:35] Fil commented on #475
Agreed, but in my (limited) understanding that is what the *release* is for.

[2017-12-01 05:40] pjotrp commented on #457
@aokad, it looks very nice! Can you check the generated PDF - there are some extraneous dashes (word breaks) and you may want to introduce a page break for the figure. If you have any plans for the future with this tooling I would add a short description of that too.

https://github.com/openjournals/joss-papers/blob/joss.00457/joss.00457/10.21105.joss.00457.pdf

[2017-12-01 06:49] tupui commented on #476
@whedon commands

[2017-12-01 06:49] whedon commented on #476
Here are some things you can ask me to do:

[code]

[2017-12-01 07:04] tupui commented on #476
For the reviewers, I propose these new names:
@mikeckennedy
@dbader

And from the list:
@ scollis
@ lheagy
@ katyhuff

[2017-12-01 07:16] tupui commented on #476
@whedon generate pdf

[2017-12-01 07:16] whedon commented on #476
[code]

[2017-12-01 07:17] whedon commented on #476
[code]

[2017-12-01 08:10] wspr commented on #479
How many reviewers do you like to have? I may also be able to assist.

[2017-12-01 08:12] gpeyre commented on #479
Hello,

I am sorry but I will not be able to make the review.

Best

Gabriel

[2017-12-01 08:40] physicsdavid commented on #475
@Fil, I've reconsidered and changed the file structure of the example to make it consistent with the release as the downloadable version with the example files easily readable as separate files within GitHub. I'm still getting used to appropriate use of GitHub!

[2017-12-01 08:43] iljah commented on #437
@marksantcroos can you spot any other issues?

[2017-12-01 08:52] marksantcroos commented on #437
@iljah I still need to test your latest changes to get the C++ stuff compiled.

[2017-12-01 13:16] arfon commented on #434
Done. I copied you @Kevin-Mattheus-Moerman

[2017-12-01 14:00] arfon commented on #477
Thanks for spotting this. It's now fixed in this review issue.

Thanks for the suggestions. We'll need an editor to assign themselves first before we can get going with the reviewers.

[2017-12-01 14:12] whedon commented on #477
OK, the editor is @danielskatz

[2017-12-01 14:13] danielskatz commented on #477
I'll take this, and will start things later today or tomorrow

[2017-12-01 15:45] Kevin-Mattheus-Moerman commented on #472
@arfon. Perhaps we can fix this by always starting the DOI link on a new line.

[2017-12-01 15:48] arfon commented on #472
Perhaps. Not sure how we would do that though?

[2017-12-01 16:48] Kevin-Mattheus-Moerman commented on #472
I've added some statements over at https://github.com/openjournals/whedon/pull/14.

[2017-12-01 20:10] danielskatz commented on #477
@bmagyar - would you be willing to be on the other side of a JOSS paper and do a review?

@mosteo and @jordigh - would one of you be willing to review this as well?

See http://joss.theoj.org/about#reviewer_guidelines for JOSS reviewer guidelines.

[2017-12-01 20:11] danielskatz commented on #404
ping ... that this seems stuck

[2017-12-01 20:11] bmagyar commented on #477
@danielskatz Sure, no problem. Assign it to me

[2017-12-01 20:12] danielskatz commented on #477
I will do so, and I will start the review once I get another reviewer, so there's no action for you at this point.

[2017-12-01 20:13] danielskatz commented on #477
@whedon assign @bmagyar as reviewer

[2017-12-01 20:13] whedon commented on #477
OK, the reviewer is @bmagyar

[2017-12-01 20:34] Kevin-Mattheus-Moerman commented on #460
@bmagyar I know @danielskatz just pinged you to review over at https://github.com/openjournals/joss-reviews/issues/477,... but if this submission interests you as well it would be great if you could assist with review here too.

[2017-12-02 11:10] bmagyar commented on #456
Thanks for the comments @arfon !

Here is the link to the archive: https://zenodo.org/record/1069607

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1069607.svg)](https://doi.org/10.5281/zenodo.1069607)

[2017-12-02 14:57] Haacked commented on #473
@CBenghi, sorry about that. I meant to get to it but I'm at a conference in the Dominican Republic so I've been very busy and didn't get a chance to finish.

I wasn't sure how to check that the DOI references are correct.

I mostly looked at the `///` style code comments for public APIs in the code. I think it could use more of them, but it looks like the important stuff is document. Is there API

[2017-12-02 20:55] CBenghi commented on #473
@Haacked,

my apologies, I had no intention to put pressure on you. There's absolutely no rush, I was only trying to improve the submission so that it would be easier for you to review.

We have no external API docs yet. We have documented the APIs with IntelliSense as you have seen, particularly in the areas where most questions and issues have been received. In our experience this seems Ok for p

[2017-12-03 19:23] stsievert commented on #404
I can review this, but probably not right away.

[2017-12-03 19:35] paulgovan commented on #425
@rgiordan, @katyhuff

I believe that issues [#6](https://github.com/paulgovan/BayesianNetwork/issues/6), [#7](https://github.com/paulgovan/BayesianNetwork/issues/7), and [#8](https://github.com/paulgovan/BayesianNetwork/issues/8) have been fixed, and they are now closed.

[2017-12-03 22:12] jasonclark commented on #459
@whedon assign @alexhanna as reviewer

[2017-12-03 22:12] whedon commented on #459
OK, the reviewer is @alexhanna

[2017-12-03 22:13] jasonclark commented on #459
@whedon start review magic-word=bananas

[2017-12-03 22:13] whedon opened #480 "[REVIEW]: Phonetic Algorithms in R"
**Submitting author:** @howardjp (<a href="http://orcid.org/0000-0003-4530-1547">James P. Howard, II</a>)
**Repository:** <a href="https://github.com/howardjp/phonics" target ="_blank">https://github.com/howardjp/phonics</a>
**Version:** v0.7.6
**Editor:** @jasonclark
**Reviewer:** @alexhanna
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1041982" target="_blank">10.5281/zenodo.1041982</a>

[2017-12-03 22:13] whedon commented on #459
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/480. Feel free to close this issue now!

[2017-12-03 22:13] whedon commented on #480
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @alexhanna it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably curre

[2017-12-03 22:13] whedon commented on #480
[code]

[2017-12-03 22:13] whedon commented on #480
[code]

[2017-12-03 22:26] #459 closed

[2017-12-04 01:08] danielskatz commented on #437
Hi @marksantcroos - any update on this?

[2017-12-04 01:13] danielskatz commented on #456
@whedon set 10.5281/zenodo.1069607 as archive

[2017-12-04 01:13] whedon commented on #456
OK. <a href="http://dx.doi.org/10.5281/zenodo.1069607" target="_blank">10.5281/zenodo.1069607</a> is the archive.

[2017-12-04 01:14] danielskatz commented on #456
@whedon generate pdf

[2017-12-04 01:14] whedon commented on #456
[code]

[2017-12-04 01:14] whedon commented on #456
[code]

[2017-12-04 01:17] danielskatz commented on #456
@bmagyar , can you merge https://github.com/ros-controls/joss_paper/pull/26 please?
Then we'll see if this fixes the problem generating the PDF

[2017-12-04 01:39] howardjp commented on #480
@alexhanna Just wanted to give you a heads up, there are a handful of non-substantive changes in the development branch.  If/when this paper is approved, I intend to push 1.0.0, so this paper will ultimately describe that version.

[2017-12-04 08:06] aokad commented on #457
@pjotrp, thank you for your suggestion. I have updated the layout of the figure.
@arfon, please re-generate pdf.

[2017-12-04 09:08] bmagyar commented on #456
Thanks for giving a shot to fix it. It's merged

On Dec 4, 2017 01:17, "Daniel S. Katz" <notifications@github.com> wrote:

[2017-12-04 13:00] mpadge commented on #471
@arfon that's done now

[2017-12-04 13:24] danielskatz commented on #456
@whedon generate pdf

[2017-12-04 13:24] whedon commented on #456
[code]

[2017-12-04 13:24] whedon commented on #456
[code]

[2017-12-04 13:25] danielskatz commented on #456
hey @arfon - this is a very painful way to debug markdown/bibtex - PDF.  Maybe we need a locally runnable option as well?

[2017-12-04 13:30] danielskatz commented on #456
@bmagyar - while the reviewers checked the references box, it looks like there is at least one paper in the bibtex file, the last one (radford2015valkyrie), that has a DOI but where the DOI is not part of the bibtext.

Please make sure all articles that you include in the bibtex that have DOIs have them in their bibtex entries.

[2017-12-04 13:33] mlep commented on #448
@wkearn: Thank you for your recommendation (and sorry for the delay).
@kyleniemeyer: What is the next stage? Do we have something to do?

[2017-12-04 14:11] miguelprada commented on #456
Sorry for not catching that one, @danielskatz :sweat:

[2017-12-04 14:17] schmeisser commented on #217
@Kevin-Mattheus-Moerman I have copied some parts of your contribution guideline as you suggested, and also added a section about code of conduct and how to seek support.

[2017-12-04 15:13] bmagyar commented on #456
Sorry for the trouble, indeed it would be nice to have something I could run locally.

I've updated the bibtex with one I took from Wiley directly, they've got DOI and ISSN.

[2017-12-04 15:19] danielskatz commented on #456
@whedon generate pdf

[2017-12-04 15:19] whedon commented on #456
[code]

[2017-12-04 15:19] whedon commented on #456
[code]

[2017-12-04 16:00] arfon commented on #456
Yes, there is a way to run locally. You need to download and install the [Whedon gem](https://github.com/openjournals/whedon) (or Pandoc etc locally).

In this case, the error is due to missing commas in the bibtex file which I've fixed up here: https://github.com/ros-controls/joss_paper/pull/27

[2017-12-04 16:07] Kevin-Mattheus-Moerman commented on #217
@whedon generate pdf

[2017-12-04 16:07] whedon commented on #217
[code]

[2017-12-04 16:07] whedon commented on #217
[code]

[2017-12-04 16:10] arfon commented on #217
A couple of obvious(?) errors with the `paper.md` - the title will need quoting in double quotes as there's an apostrophe in the title.

One of the authors is missing an affiliation.

[2017-12-04 16:15] arfon commented on #457
@whedon generate pdf

[2017-12-04 16:15] whedon commented on #457
[code]

[2017-12-04 16:15] arfon commented on #457
@aokad - you should be able to do this yourself 😁

[2017-12-04 16:15] whedon commented on #457
[code]

[2017-12-04 16:16] arfon commented on #404
Great, thanks @stsievert. No huge rush but I'll go ahead and start the main review issue.

[2017-12-04 16:17] arfon commented on #404
@whedon assign @stsievert as reviewer

[2017-12-04 16:17] whedon commented on #404
OK, the reviewer is @stsievert

[2017-12-04 16:17] arfon commented on #404
@whedon start review magic-word=bananas

[2017-12-04 16:17] #404 closed

[2017-12-04 16:17] whedon opened #481 "[REVIEW]: False arrhythmia alarm reduction in the intensive care unit"
**Submitting author:** @liandrea4 (<a href="http://orcid.org/0000-0001-8419-5527">Andrea Li</a>)
**Repository:** <a href="https://github.com/MIT-LCP/false-alarm-reduction" target ="_blank">https://github.com/MIT-LCP/false-alarm-reduction</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewer:** @stsievert
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/061fb354807880b63afd

[2017-12-04 16:17] whedon commented on #404
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/481. Feel free to close this issue now!

[2017-12-04 16:17] whedon commented on #481
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @stsievert it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably curre

[2017-12-04 16:17] whedon commented on #481
[code]

[2017-12-04 16:17] arfon commented on #404
@stsievert - see you over in #481 for the actual review.

[2017-12-04 16:18] whedon commented on #481
[code]

[2017-12-04 16:20] danielskatz commented on #456
@whedon generate pdf

[2017-12-04 16:20] whedon commented on #456
[code]

[2017-12-04 16:21] whedon commented on #456
[code]

[2017-12-04 16:27] danielskatz commented on #456
Hey @arfon

1. In the PDF, the "repository" link on the left points to the paper repo (https://github.com/ros-controls/joss_paper) rather than the high-level set of repos (https://github.com/ros-controls)  I understand why this is the case, but in this unusual paper describing a set of repos, this link should probably be changed manually.
2. Also in the PDF, the archive link seems wrong - it seems

[2017-12-04 16:33] arfon commented on #456
OK, I can fix that up.

I'm not sure it currently links to *anything*. This link is only made in the final version of the paper.

Assuming both of the above are fixed up, is this paper good to accept? If so, I can do the final pieces.

[2017-12-04 16:35] pjotrp commented on #457
@aokad if your are happy can you make you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? We can then move forward with accepting the submission.

[2017-12-04 16:40] danielskatz commented on #456
let's wait until https://github.com/ros-controls/joss_paper/pull/28 is merged, which fixes some bib issues and also includes a note about a correct URL that @bmagyar needs to find (as I can't find the right one)

[2017-12-04 19:20] arfon commented on #471
@whedon generate pdf

[2017-12-04 19:20] whedon commented on #471
[code]

[2017-12-04 19:20] whedon commented on #471
[code]

[2017-12-04 19:44] danielskatz commented on #456
@whedon generate pdf

[2017-12-04 19:44] whedon commented on #456
[code]

[2017-12-04 19:48] danielskatz commented on #456
@arfon - any idea what got stuck here?  Reticulation of splines is usually such a quick operation...

[2017-12-04 19:48] danielskatz commented on #456
anyhow, once this works, I think we are good to accept this one.

[2017-12-04 19:48] arfon commented on #456
I think Heroku might be doing some platform maintenance right now (I'm seeing some weird behaviour elsewhere). I'll do some digging.

[2017-12-04 19:49] kyleniemeyer commented on #448
@mlep I'm going to look over the paper from an editorial perspective, but once that is finalized we will need you to archive the accepted version of the software and provide us the DOI (using, e.g., Zenodo or Figshare).

[2017-12-04 19:50] kyleniemeyer commented on #448
@whedon generate pdf

[2017-12-04 19:50] whedon commented on #448
[code]

[2017-12-04 19:50] whedon commented on #448
[code]

[2017-12-04 19:53] arfon commented on #471
@mpadge - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-12-04 20:04] arfon commented on #456
@progtologist - many thanks for your review here and to @danielskatz for editing this submission ✨

@bmagyar - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00456 ⚡️ 🚀 💥

[2017-12-04 20:05] arfon commented on #448
@kyleniemeyer - @whedon won't know how to compile this automatically as the software isn't in a Git repository.

[2017-12-04 20:09] danielskatz commented on #456
Also, thanks for @miguelprada for his review.

[2017-12-04 20:31] arfon commented on #475
@Fil @physicsdavid - where are we at with this review? Is there still more to be done here?

[2017-12-04 20:57] karthik commented on #360
@jameshiebert Can you please respond to comments from Michael?

[2017-12-04 21:00] karthik commented on #161
@nhejazi Just checking in and adding a paused tag this you are ready to proceed.

[2017-12-04 21:00] Fil commented on #475
Yes @arfon my review is complete and positive. Thank you @physicsdavid for
the most recent structure changes, makes it even easier to read the example.

[2017-12-04 21:05] karthik commented on #229
@bunhoel Can you please inform us of your plans with this package?

This is not the right way to do it. You should not extract content from the built package back to source. As mentioned before, please read over the relevant chapters of Hadley Wickham's book on R packaging.

[2017-12-04 21:06] karthik commented on #302
@arfon I am unable to find a reviewer for this. Would another editor be willing to take this over?

cc @leeper

[2017-12-04 21:08] karthik commented on #361
@danilofreire Would you be kind enough to update the thread once you have finished the fixes? Until then I will leave this as paused.

[2017-12-04 21:09] karthik commented on #314
Hi @lmullen just a quick ping to check in. Please update us once you get a chance.

[2017-12-04 21:44] kyleniemeyer commented on #448
@arfon hmm, so what do we do?

[2017-12-04 22:57] arfon commented on #448
I usually process submissions like this myself locally with the `Whedon` gem. @mlep - could you please explain how I can download the source code for this repository (together with the `paper.md` and `paper.bib` files)?

[2017-12-04 22:58] arfon commented on #475
Great!

@physicsdavid - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-12-04 23:23] physicsdavid commented on #475
Here is the DOI of the archived version: 10.5281/zenodo.1081934

Thanks!
David

[2017-12-05 00:32] arfon commented on #475
@whedon set 10.5281/zenodo.1081934 as archive

[2017-12-05 00:32] whedon commented on #475
OK. <a href="http://dx.doi.org/10.5281/zenodo.1081934" target="_blank">10.5281/zenodo.1081934</a> is the archive.

[2017-12-05 00:36] arfon commented on #475
@Fil - many thanks for your review here ✨

@physicsdavid - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00475 ⚡️ 🚀 💥

[2017-12-05 00:36] #475 closed

[2017-12-05 02:19] aokad commented on #457
@arfon, @pjotrp, thank you, I have made an archive. DOI is 10.5281/zenodo.1083949.

[2017-12-05 07:40] pjotrp commented on #457
@whedon commands

[2017-12-05 07:40] whedon commented on #457
Here are some things you can ask me to do:

[code]

[2017-12-05 07:41] pjotrp commented on #457
@whedon set 10.5281/zenodo.1083949 as archive

[2017-12-05 07:41] whedon commented on #457
OK. <a href="http://dx.doi.org/10.5281/zenodo.1083949" target="_blank">10.5281/zenodo.1083949</a> is the archive.

[2017-12-05 07:42] pjotrp commented on #457
@arfon, we are ready to R&R

[2017-12-05 08:35] mlep commented on #448
Dear @arfon,

The files related to the manuscript are here:
- http://www.univ-orleans.fr/mapmo/soft/FullSWOF/paper.md
- http://www.univ-orleans.fr/mapmo/soft/FullSWOF/paper.bib
- http://www.univ-orleans.fr/mapmo/soft/FullSWOF/codemeta.json

For the source codes of the software, they are here:
- https://sourcesup.renater.fr/scm/viewvc.php?root=fullswof-2d
- https://sourcesup.renater.fr/scm/viewvc.p

[2017-12-05 08:57] graiola commented on #456
Hello, I am @graiola, one of the authors.
First of all, I would like to thank you all for your efforts in making this publication possible.
By looking at the resulting pdf I noticed that  the markdown list has not been correctly transformed (look at the robot section). Is it possible to fix it? Thanks in advance.

[2017-12-05 11:21] mpadge commented on #471
Zenodo DOI is [here](https://zenodo.org/record/844466), with [doi.org/10.5281/zenodo.844466](https://doi.org/10.5281/zenodo.844466).

[2017-12-05 12:13] danielskatz commented on #456
@arfon - if you look at https://github.com/ros-controls/joss_paper/blob/master/paper.md you will see a section
# Robots using ```ros_control```
that has a list of bullets.  In both the version at the DOI and the PDF, "ros_control" is in a too-small font, and the bullets have been lost.

Can you fix these?

[2017-12-05 12:31] danielskatz commented on #477
@CoreRobotics - Do you have any other reviewer suggestions?  Such as someone else in the robotics community who knows software and is not conflicted with your or your co-authors, but perhaps isn't yet involved with JOSS?  I would like to find a second reviewer.

[2017-12-05 14:10] cMadan commented on #479
@wspr, one reviewer is usually what we have, but am happy to have feedback from a few people and have a more thorough review process.

[2017-12-05 14:31] arfon commented on #456
Looks like Pandoc is really fussy about whitespace around the list. I've fixed it up in https://github.com/ros-controls/joss_paper/pull/29

[2017-12-05 14:36] arfon commented on #471
@whedon set 10.5281/zenodo.1089207 as archive

[2017-12-05 14:36] whedon commented on #471
OK. <a href="http://dx.doi.org/10.5281/zenodo.1089207" target="_blank">10.5281/zenodo.1089207</a> is the archive.

[2017-12-05 14:43] arfon commented on #471
@mpadge - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00471 ⚡️ 🚀 💥

[2017-12-05 14:43] #471 closed

[2017-12-05 15:28] danielskatz commented on #456
@arfon - The PR has been merged - can you regenerate the paper now?

[2017-12-05 15:30] mpadge commented on #471
Awesome, thanks @arfon and @whedon. Hey @whedon, do you respond to praise? Love your work!

[2017-12-05 15:36] arfon commented on #456
Yes, I've regenerated it.

[2017-12-05 15:39] danielskatz commented on #456
both the version at the DOI and the PDF still look not correct to me.  Am I missing something? Maybe I'm getting a cached version?

[2017-12-05 15:41] jdeligt commented on #464
Dependencies do not contain version numbers

[2017-12-05 16:03] arfon commented on #456
![screen shot 2017-12-05 at 10 45 26 am](https://user-images.githubusercontent.com/4483/33615956-754f0f42-d9a9-11e7-887c-1707cfccd172.png)

![screen shot 2017-12-05 at 11 03 05 am](https://user-images.githubusercontent.com/4483/33616772-e6e32f92-d9ab-11e7-9d53-bf132db26e34.png)

Yep, I think you must be getting a cached versions? See the screenshot of the PDF view and the website.

[2017-12-05 16:42] danielskatz commented on #456
ok, thanks.

[2017-12-05 16:42] #456 closed

[2017-12-05 18:34] rraadd88 commented on #362
Hi @afrubin, many thanks for the conda environment suggestions earlier. This has really solved the earlier issues regarding the installation.

I have fixed the new small issues. Please have a look: https://github.com/kc-lab/dms2dfe/issues/5 , https://github.com/kc-lab/dms2dfe/issues/6 , https://github.com/kc-lab/dms2dfe/issues/7 and https://github.com/rraadd88/ms_datasets/issues/2 . Thanks a lot f

[2017-12-05 18:39] vsoch commented on #474
hey @whedon @arfon @leeper anything you need from me?

[2017-12-05 18:48] arfon commented on #448
@kyleniemeyer - here's the compiled PDF: [10.21105.joss.00448.pdf](https://github.com/openjournals/joss-reviews/files/1532473/10.21105.joss.00448.pdf)

[2017-12-05 20:48] lmullen commented on #314
Hi @karthik. My apologies for the delay, especially since @AndySouth was generous to get the peer review done quickly. I have to launch a project at the middle of next week and then I will work on the issues raised by the peer review.

[2017-12-05 21:03] karthik commented on #314
No worries.  Thanks @lmullen!

[2017-12-05 21:41] leeper commented on #474
Hi @vsoch, if you have any reviewer suggestions, please let me know.

[2017-12-05 21:47] danilofreire commented on #361
Hi @karthik and @benmarwick. My co-author and I have already addressed the missings items from the checking list. We added the data source as recommended by the original authors and included a message about the Linux dependency [in this commit](https://github.com/danilofreire/prisonbrief/commit/93c748d9e48abba6b70d9e4a4827c0f66efd89a7). Also, we added tests as requested, [please see this commit](h

[2017-12-05 21:50] karthik commented on #361
Great, thanks @danilofreire
I will wait for Ben to weigh in.

[2017-12-05 22:20] Haacked commented on #473
Ok, I checked everything off. Is there anything left for me to do?

[2017-12-05 22:52] vsoch commented on #474
oh, of course! I think a mix of linux, python, and general experimental knowledge (e.g., psychology, sociology, or economics) would be a logical match, so I'll recommend any of @cMadan @nirum @oesteban  @jsta and @ctb. If we need additional recommendations I could look into others outside of the provided list, please let me know.

[2017-12-05 23:10] kyleniemeyer commented on #448
@mlep it looks like the URLs included in the text of the paper were not handled properly; rather than the single quotation marks, could you instead wrap all the links with `< >`?

Also, minor wording fix: `FullSWOF is solving these` -> `FullSWOF solves these`

[2017-12-05 23:33] arfon commented on #473
Great. Thanks @Haacked - just your confirmation that you're happy with the software you've reviewed here.

Once I have that I can proceed with accepting the submission.

[2017-12-05 23:44] Haacked commented on #473
@arfon I confirm i’m happy with it.

[2017-12-05 23:59] arfon commented on #473
@CBenghi - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-12-06 00:59] whedon opened #482 "[PRE REVIEW]: CheSweet: An application to predict glycan’s chemicals shifts"
**Submitting author:** @PabloGGaray (<a href="http://orcid.org/0000-0001-6604-0329">Pablo Garay</a>)
**Repository:** <a href="https://github.com/BIOS-IMASL/chesweet" target ="_blank">https://github.com/BIOS-IMASL/chesweet</a>
**Version:** 0.0.1
**Editor:** @arfon
**Reviewer:** @richardjgowers

**Author instructions**

Thanks for submitting your paper to JOSS @PabloGGaray. The JOSS editor (shown at

[2017-12-06 00:59] whedon commented on #482
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-06 00:59] whedon commented on #482
[code]

[2017-12-06 00:59] whedon commented on #482
[code]

[2017-12-06 00:59] whedon opened #483 "[PRE REVIEW]: kima: Exoplanet detection in radial velocities"
**Submitting author:** @j-faria (<a href="http://orcid.org/0000-0002-6728-244X">João Faria</a>)
**Repository:** <a href="https://github.com/j-faria/kima" target ="_blank">https://github.com/j-faria/kima</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @barentsen

**Author instructions**

Thanks for submitting your paper to JOSS @j-faria. The JOSS editor (shown at the top of this issue) wil

[2017-12-06 01:00] whedon commented on #483
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-06 01:00] whedon commented on #483
[code]

[2017-12-06 01:00] whedon opened #484 "[PRE REVIEW]: phyphy: A Python package for facilitating the execution and parsing of HyPhy standard analyses"
**Submitting author:** @sjspielman (<a href="http://orcid.org/0000-0002-9090-4788">Stephanie Spielman</a>)
**Repository:** <a href="https://github.com/sjspielman/phyphy" target ="_blank">https://github.com/sjspielman/phyphy</a>
**Version:** v0.1
**Editor:** @mgymrek
**Reviewer:** @luizirber

**Author instructions**

Thanks for submitting your paper to JOSS @sjspielman. The JOSS editor (shown at th

[2017-12-06 01:00] whedon commented on #484
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-06 01:00] whedon commented on #484
[code]

[2017-12-06 01:00] whedon commented on #484
[code]

[2017-12-06 01:00] whedon commented on #483
[code]

[2017-12-06 01:00] whedon opened #485 "[PRE REVIEW]: pyodesys: Straightforward numerical integration of ODE systems from Python"
**Submitting author:** @bjodah (<a href="http://orcid.org/0000-0003-0596-0222">Björn Dahlgren</a>)
**Repository:** <a href="https://github.com/bjodah/pyodesys" target ="_blank">https://github.com/bjodah/pyodesys</a>
**Version:** v0.11.5
**Editor:** @arfon
**Reviewer:** @arghdos

**Author instructions**

Thanks for submitting your paper to JOSS @bjodah. The JOSS editor (shown at the top of this iss

[2017-12-06 01:00] whedon commented on #485
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-06 01:00] whedon commented on #485
[code]

[2017-12-06 01:00] whedon opened #486 "[PRE REVIEW]: Category Encoders: a scikit-learn-contrib package of transformers for encoding categorical data"
**Submitting author:** @wdm0006 (<a href="http://orcid.org/0000-0001-5188-3577">William McGinnis</a>)
**Repository:** <a href="https://github.com/scikit-learn-contrib/categorical-encoding" target ="_blank">https://github.com/scikit-learn-contrib/categorical-encoding</a>
**Version:** v1.2.5
**Editor:** @jakevdp
**Reviewer:** @desilinguist

**Author instructions**

Thanks for submitting your paper t

[2017-12-06 01:00] whedon commented on #486
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-12-06 01:00] whedon commented on #486
[code]

[2017-12-06 01:00] whedon commented on #485
[code]

[2017-12-06 01:00] whedon commented on #486
[code]

[2017-12-06 01:00] arfon commented on #486
👋 @jakevdp - would you be willing to edit this submission for JOSS?

[2017-12-06 01:04] arfon commented on #482
@whedon assign @arfon as editor

[2017-12-06 01:04] whedon commented on #482
OK, the editor is @arfon

[2017-12-06 01:07] arfon commented on #482
:wave: @richardjgowers - would you be willing to review this submission for JOSS?

[2017-12-06 01:14] arfon commented on #484
👋 @sjspielman - it looks like you're `paper.md` file is referencing a bibtex file named `paper.bib` but there isn't a bibtex file with that name. Could you rename the bibtex file appropriately?

[2017-12-06 01:16] arfon commented on #485
👋 @bjodah - looks like there are some issues with pandoc and your bibtex file, perhaps with the LaTeX syntax on [this line](https://github.com/bjodah/pyodesys/blob/master/joss-paper/paper.bib#L46)? Perhaps these can just be replaced with `+` symbols rather than LaTeX commands?

[2017-12-06 01:17] sjspielman commented on #484
Yes, my apologies! It was accidentally named `bib.md`. I have now renamed it to `paper.bib` and pushed the change.

[2017-12-06 01:17] arfon commented on #483
@whedon assign @arfon as editor

[2017-12-06 01:17] whedon commented on #483
OK, the editor is @arfon

[2017-12-06 01:18] arfon commented on #483
👋 @barentsen - would you be interested in reviewing this submission for JOSS?

[2017-12-06 01:19] arfon commented on #484
@whedon generate pdf

[2017-12-06 01:19] whedon commented on #484
[code]

[2017-12-06 01:19] whedon commented on #484
[code]

[2017-12-06 01:22] arfon commented on #484
Great, that's looking much better. This was just a 'pre-flight' check on my part to make sure the paper was compiling OK. Don't expect much activity until one of the JOSS topic editors has volunteered to handle this submission :-)

[2017-12-06 04:27] afrubin commented on #362
@rraadd88 Looks good to me. I have closed these most recent issues.

@tracykteal @arfon Based on my assessment, the project now meets minimum requirements to be accepted.

[2017-12-06 05:16] barentsen commented on #483
@arfon It would be a privilege to review this package, however I will likely not get to it until next Monday due to travel and commitments.  Would that be acceptable?

[2017-12-06 06:28] pjotrp commented on #464
Dear @greatfireball please fix/comment before we continue.

[2017-12-06 07:00] nhejazi commented on #161
@karthik Thanks much for checking in. After the initial phase of this review, we began making extensive changes to the software package, both to address review items and for reasons related to the scope of the large research project of which this package is a part. The package has been renamed [`adaptest`](https://github.com/wilsoncai1992/adaptest), and work on the revised version is nearly comple

[2017-12-06 07:01] nhejazi commented on #302
@karthik Thanks for your efforts in searching for a reviewer for this package. Please let us know if there's anything we can do to help with the process once @leeper or another editor takes over.

[2017-12-06 12:27] cMadan commented on #474
This looks like a great project, but unfortunately I don't have time to review it currently.

[2017-12-06 12:59] arfon commented on #483
👍 yep, that would be completely acceptable :-)

[2017-12-06 13:00] arfon commented on #483
@whedon assign @barentsen as reviewer

[2017-12-06 13:00] arfon commented on #483
@whedon start review magic-word=bananas

[2017-12-06 13:00] #483 closed

[2017-12-06 13:00] whedon opened #487 "[REVIEW]: kima: Exoplanet detection in radial velocities"
**Submitting author:** @j-faria (<a href="http://orcid.org/0000-0002-6728-244X">João Faria</a>)
**Repository:** <a href="https://github.com/j-faria/kima" target ="_blank">https://github.com/j-faria/kima</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @nespinoza
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.6615350" target="_blank">10.6084/m9.figshare.6615350</a>

## Status

[2017-12-06 13:00] whedon commented on #483
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/487. Feel free to close this issue now!

[2017-12-06 13:00] whedon commented on #487
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @barentsen it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably curre

[2017-12-06 13:00] whedon commented on #487
[code]

[2017-12-06 13:00] arfon commented on #483
@barentsen - when you're ready, please head over to #487 to carry out your review.

[2017-12-06 13:01] whedon commented on #487
[code]

[2017-12-06 13:07] bjodah commented on #485
@whedon generate pdf

[2017-12-06 13:07] whedon commented on #485
[code]

[2017-12-06 13:08] whedon commented on #485
[code]

[2017-12-06 13:09] bjodah commented on #485
Looking at the list of possible reviewers, I believe @arghdos might be willing to review?

[2017-12-06 13:10] schmeisser commented on #217
@arfon Oops, I fixed that now.

[2017-12-06 13:21] richardjgowers commented on #482
@arfon Hi, yep looks like a good match

[2017-12-06 13:56] arfon commented on #217
That date doesn't actually show up in the paper anywhere so I think you can leave it as-is.

[2017-12-06 13:57] arfon commented on #482
Great, thanks! I'll go ahead and assign you and set up the main review issue next..

[2017-12-06 13:57] arfon commented on #482
@whedon assign @richardjgowers as reviewer

[2017-12-06 13:57] whedon commented on #482
OK, the reviewer is @richardjgowers

[2017-12-06 13:58] arfon commented on #482
@whedon start review magic-word=bananas

[2017-12-06 13:58] #482 closed

[2017-12-06 13:58] whedon opened #488 "[REVIEW]: CheSweet: An application to predict glycan’s chemicals shifts"
**Submitting author:** @PabloGGaray (<a href="http://orcid.org/0000-0001-6604-0329">Pablo Garay</a>)
**Repository:** <a href="https://github.com/BIOS-IMASL/chesweet" target ="_blank">https://github.com/BIOS-IMASL/chesweet</a>
**Version:** 0.0.1
**Editor:** @arfon
**Reviewer:** @richardjgowers
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1157129" target="_blank">10.5281/zenodo.1157129</a>

[2017-12-06 13:58] whedon commented on #482
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/488. Feel free to close this issue now!

[2017-12-06 13:58] whedon commented on #488
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @richardjgowers it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-12-06 13:58] whedon commented on #488
[code]

[2017-12-06 13:58] whedon commented on #488
[code]

[2017-12-06 13:58] vsoch commented on #474
No worries @cMadan, hang in there it's almost the holiday! :)

[2017-12-06 13:58] arfon commented on #482
@richardjgowers - please head over to #488 to carry out the actual review. I'll be following along there so just shout if anything isn't clear.

[2017-12-06 14:06] arfon commented on #268
*bump*

[2017-12-06 14:07] arfon commented on #30
@karantibrewal - :wave: - did you get a chance to review @joshuaulrich's feedback yet?

[2017-12-06 14:30] whedon commented on #217
[code]

[2017-12-06 14:30] whedon commented on #217
[code]

[2017-12-06 15:17] Kevin-Mattheus-Moerman commented on #217
@arfon I was going to suggest to this author to fix the link to their repo in the paper to be a hyperlink (see last line in paper). But actually I wonder if we should remove this text altogether. I know we ask people to mention the repository link in the paper. But since our PDF article now has a link rendered in it in a clear spot I think there is no need to refer to it in the text anymore. Thoug

[2017-12-06 15:19] arghdos commented on #485
@bjodah Looks interesting, I'd be happy to review

[2017-12-06 15:48] arfon commented on #217
Yes, I've generally been asking authors to remove links like this as we automatically create a prominent link in the JOSS papers.

[2017-12-06 18:24] cMadan commented on #217
@whedon generate pdf

[2017-12-06 18:24] whedon commented on #217
[code]

[2017-12-06 18:26] whedon commented on #217
[code]

[2017-12-06 19:22] karantibrewal commented on #30
Thanks for the feedback @joshuaulrich! We will turn these in soon (some delay b/c of finals period).

[2017-12-06 20:01] CoreRobotics commented on #477
@danielskatz - Hi Daniel, I'll ask around to see if I can find someone not in conflict.  - Parker

[2017-12-06 21:04] #212 closed

[2017-12-06 21:04] arfon commented on #212
Closing this as this submission isn't being considered for JOSS but feel free to keep checking back on JOSE updates @gboeing :-)

[2017-12-06 23:39] arfon commented on #362
Great, thanks!

@rraadd88 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-12-06 23:47] arfon commented on #457
@chfi - many thanks for your review here and to @pjotrp for editing this submission ✨

@aokad - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00457 ⚡️ 🚀 💥

[2017-12-06 23:47] #457 closed

[2017-12-06 23:48] whedon commented on #457
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00457/status.svg)](https://doi.org/10.21105/joss.00457)

**We need your help!**

Journal of Open Source Software

[2017-12-07 00:19] arfon commented on #217
@cMadan & @Kevin-Mattheus-Moerman - is this good to accept now?

[2017-12-07 05:32] kc-lab commented on #362
@arfon, I have archived it using zenodo.

DOI: [10.5281/zenodo.1095257](https://doi.org/10.5281/zenodo.1095257)

[2017-12-07 05:34] rraadd88 commented on #362
@arfon, I have archived it using zenodo.

DOI: [10.5281/zenodo.1095257](https://doi.org/10.5281/zenodo.1095257)

[2017-12-07 08:06] aokad commented on #457
@arfon I’m very sorry, but I have realized that there are still many remaining extra dashes in the accepted paper. I’m happy if I  can update the paper. Is it possible? The DOI of the modified version is 10.5281/zenodo.1095371.

Thank you very much in advance.

[2017-12-07 09:44] CBenghi commented on #473
@arfon,
I've issued a release and recorded it with zenodo with DOI: 10.5281/zenodo.1095192

@Haacked,
very many thanks for your support with the review process. Hugely appreciated.

The very process of submission have made us think hard about the quality of the software including the aspects of community engagement and documentation. Hopefully this practice will spread and we'll get more from the

[2017-12-07 12:05] arfon commented on #457
@whedon set 10.5281/zenodo.1095371 as archive

[2017-12-07 12:05] whedon commented on #457
OK. <a href="http://dx.doi.org/10.5281/zenodo.1095371" target="_blank">10.5281/zenodo.1095371</a> is the archive.

[2017-12-07 12:06] arfon commented on #457
@whedon generate pdf

[2017-12-07 12:06] whedon commented on #457
[code]

[2017-12-07 12:06] whedon commented on #457
[code]

[2017-12-07 12:06] arfon commented on #457
@aokad - no problem. Can you confirm this version of the paper looks good? https://github.com/openjournals/joss-papers/blob/joss.00457/joss.00457/10.21105.joss.00457.pdf

[2017-12-07 12:07] arfon commented on #473
@whedon set 10.5281/zenodo.1095192 as archive

[2017-12-07 12:07] whedon commented on #473
OK. <a href="http://dx.doi.org/10.5281/zenodo.1095192" target="_blank">10.5281/zenodo.1095192</a> is the archive.

[2017-12-07 13:19] mlep commented on #448
@kyleniemeyer We have modified the syntax for the URLs and fixed the wording. Thank you for your comments!

[2017-12-07 14:42] schmeisser commented on #217
@arfon I have made a minor edit to the title to remove and minted a v1.0.0 release.

[2017-12-07 15:51] PabloGGaray commented on #488
Hello @arfon, excuse me if this is not the place to do this question, but I have to add two line to the paper with the funding of the project, how I do that? I wait for the review or I can add that lines now?.
Thanks in advance and excuse me for the inconveniences.

[2017-12-07 16:02] arfon commented on #473
@Haacked - many thanks again for your review here ✨

@CBenghi - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00473 ⚡️ 🚀 💥

[2017-12-07 16:02] #473 closed

[2017-12-07 16:02] whedon commented on #473
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00473/status.svg)](https://doi.org/10.21105/joss.00473)

**We need your help!**

Journal of Open Source Software

[2017-12-07 16:16] jameshiebert commented on #360
Yes, thanks @mdsumner for taking the time to review. I'll try to put together a detailed response early next week.

[2017-12-07 16:19] arfon commented on #488
@PabloGGaray - authors do this pretty regularly. I would suggest adding a new section header to the `paper.md` file:

[code]

[2017-12-07 16:20] arfon commented on #362
@whedon set 10.5281/zenodo.1095257 as archive

[2017-12-07 16:20] whedon commented on #362
OK. <a href="http://dx.doi.org/10.5281/zenodo.1095257" target="_blank">10.5281/zenodo.1095257</a> is the archive.

[2017-12-07 16:24] Kevin-Mattheus-Moerman commented on #477
@amjaeger17 is this your cup of tea? Are you able to review this?

[2017-12-07 16:48] amjaeger17 commented on #477
Hi,
Yeah, I am interested, and can definetly help check off some of the boxes.

[2017-12-07 16:55] danielskatz commented on #477
Thanks @amjaeger17 - I'll start the review in a few minutes

[2017-12-07 16:56] danielskatz commented on #477
@whedon start review magic-word=bananas

[2017-12-07 16:56] whedon opened #489 "[REVIEW]: CoreRobotics: An object-oriented C++ library with cross-language wrappers for cross-platform robot control"
**Submitting author:** @CoreRobotics (<a href="http://orcid.org/0000-0003-1160-0426">Parker Owan</a>)
**Repository:** <a href="https://github.com/CoreRobotics/CoreRobotics" target ="_blank">https://github.com/CoreRobotics/CoreRobotics</a>
**Version:** v0.9.1
**Editor:** @danielskatz
**Reviewer:** @bmagyar @amjaeger17
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1166214" target="_blank">1

[2017-12-07 16:56] whedon commented on #477
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/489. Feel free to close this issue now!

[2017-12-07 16:56] whedon commented on #489
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @bmagyar it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2017-12-07 16:56] whedon commented on #489
[code]

[2017-12-07 16:56] whedon commented on #489
[code]

[2017-12-07 16:57] #477 closed

[2017-12-07 17:02] danielskatz commented on #489
@bmagyar & @amjaeger17 - this is ready to go

@amjaeger17 - you will have to accept the invitation to join the JOSS reviewers community: https://github.com/openjournals/joss-reviews/invitations before you will be able to check off items.  Once you do so, I will also assign you to the GitHub issue.

Please use the two checklists above (one for each of you) to carry out your reviews.

An informal gu

[2017-12-07 17:07] arfon commented on #362
@afrubin - many thanks for your review here and to @tracykteal for editing this submission.

@rraadd88 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00362 ⚡️ 🚀 💥

[2017-12-07 17:07] #362 closed

[2017-12-07 17:07] whedon commented on #362
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00362/status.svg)](https://doi.org/10.21105/joss.00362)

**We need your help!**

Journal of Open Source Software

[2017-12-07 17:47] scopatz commented on #298
Alright, sorry for the delay. I think that this is good to go, from my perspective.  Thanks for fixing this up @lindsayad!

[2017-12-07 18:30] kyleniemeyer commented on #448
@mlep thanks! Could you now archive the software (all elements of it—essentially the entire contents of the repository) and provide us the DOI, using something like Zenodo?

[2017-12-07 18:30] kyleniemeyer commented on #448
@arfon could you regenerate the PDF for this one, please?

[2017-12-07 18:34] arfon commented on #448
Here you go: [10.21105.joss.00448.pdf](https://github.com/openjournals/joss-reviews/files/1540195/10.21105.joss.00448.pdf)

[2017-12-07 18:43] PabloGGaray commented on #488
I'll do that, thanks @arfon.

[2017-12-07 18:43] CoreRobotics commented on #489
@whedon generate pdf

[2017-12-07 18:43] whedon commented on #489
[code]

[2017-12-07 19:36] mlep commented on #448
@kyleniemeyer Files are now archived on Zenodo. The doi is 10.5281/zenodo.1095748

[2017-12-07 19:37] kyleniemeyer commented on #448
@whedon set archive as 10.5281/zenodo.1095748

[2017-12-07 19:37] kyleniemeyer commented on #448
@whedon set 10.5281/zenodo.1095748 as archive

[2017-12-07 19:38] whedon commented on #448
OK. <a href="http://dx.doi.org/10.5281/zenodo.1095748" target="_blank">10.5281/zenodo.1095748</a> is the archive.

[2017-12-07 19:38] kyleniemeyer commented on #448
@arfon this paper is accepted and ready to be published.

[2017-12-07 19:38] mlep commented on #448
@kyleniemeyer How fast!

[2017-12-07 20:08] Kevin-Mattheus-Moerman commented on #489
@whedon generate pdf

[2017-12-07 20:08] whedon commented on #489
[code]

[2017-12-07 20:15] CoreRobotics commented on #489
Not sure what's going on with the pdf generator.  We have a pdf compiled from latex in the repository root, same content as the paper.md

[2017-12-07 20:24] arghdos commented on #485
@whedon commands

[2017-12-07 20:24] whedon commented on #485
Here are some things you can ask me to do:

[code]

[2017-12-07 20:25] arghdos commented on #485
@whedon start review

[2017-12-07 20:25] whedon commented on #485
I'm sorry @arghdos, I'm afraid I can't do that. That's something only editors are allowed to do.

[2017-12-07 20:25] arghdos commented on #485
@arfon feel free to start the review with me as the reviewer whenever

[2017-12-07 20:41] arfon commented on #489
@whedon generate pdf

[2017-12-07 20:41] whedon commented on #489
[code]

[2017-12-07 20:45] arfon commented on #489
@whedon generate pdf

[2017-12-07 20:45] whedon commented on #489
[code]

[2017-12-07 20:45] whedon commented on #489
[code]

[2017-12-07 20:45] whedon commented on #489
[code]

[2017-12-07 20:46] arfon commented on #489
I found a weird edge-case in the code that I just fixed. Looks like the paper is compiling OK now.