[2021-09-12 14:54] jbytecode commented on #3720
Dear @johncwok

You can use the site https://whedon.theoj.org/ to compile your paper and bibtex and then you can let the whedon dump the latest version here.

Do you have any suggestions for potential reviewers?  If yes, please mention them here in this thread (without tagging them with an @ - we don't want to disturb them). In addition, this [list](https://docs.google.com/spreadsheets/d/1PAPRJ63y

[2021-09-12 14:56] Kevin-Mattheus-Moerman commented on #3721
@mithun218 thanks for this submission. I will be looking for a handling editor for this work. In the mean time can you work on fixing those references :point_up:. You can call `@whedon generate pdf` here, in a comment, to update the paper and call `@whedon check references` to check those DOI's. Thanks.

[2021-09-12 14:59] Kevin-Mattheus-Moerman commented on #3721
@whedon invite @meg-simula as editor

[2021-09-12 14:59] whedon commented on #3721
@meg-simula has been invited to edit this submission.

[2021-09-12 15:05] jbytecode commented on #3720
@johncwok a small tip before inviting reviewers:

In tests of your package, it is a good practice to divide tests into categories like

[code]

instead of commenting like

[code]

[2021-09-12 15:34] jbytecode commented on #3608
Dear @blsqr 👋, @szhorvat 👋, and @martibosch  👋

I'm just pinging you to ask how your review is going. Will you have the opportunity to start this week?

Thank you in advance and best wishes!

[2021-09-12 15:45] mithun218 commented on #3721
@whedon generate pdf

[2021-09-12 15:46] whedon commented on #3721
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03721/joss.03721/10.21105.joss.03721.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03721/joss.03721/10.21105.joss.03721.pdf) :page_facing_up: :point_left:

[2021-09-12 15:47] mithun218 commented on #3721
@whedon check references

[2021-09-12 15:47] whedon commented on #3721
[code]

[2021-09-12 15:49] mithun218 commented on #3721
@Kevin-Mattheus-Moerman I checked and corrected DOIs.

[2021-09-12 16:03] johncwok commented on #3720
@whedon check references

[2021-09-12 16:03] whedon commented on #3720
[code]

[2021-09-12 16:16] johncwok commented on #3720
@jbytecode I will have a look at potential reviewers this evening, and make test sets. Thanks for the feedback.
I have another question: one of the papers I have in the references (The information bottleneck) doesn't seem to have a DOI. Is it an issue?

[2021-09-12 16:29] szhorvat commented on #3608
Yes, I can finish by the end of next week (17th), as originally planned.

[2021-09-12 16:32] jbytecode commented on #3720
it seems it is an unpublished one and I couldn't find a crossref entry either.
you can leave it as is.

[2021-09-12 17:59] alexlib commented on #3611
everything is checked in @Kevin-Mattheus-Moerman

[2021-09-12 18:53] uecker commented on #3500
**Conflict of interest**
- [X]  I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
**Code of Conduct**
- [X]  I confirm that I read and will adhere to the JOSS code of conduct.
**General checks**
- [X] Repository: Is the source code for this softw

[2021-09-12 19:55] aelissa commented on #3609
I assessed the functionalities both by following the tutorial with the example data and by using some data for England. The tutorial is reproducible and the functions easily applicable to other data. Overall, I think it is a very useful package for analyzing parks' provision. @xp-song  just a few comments:

Re Functionality

on rasterise_pop it seems that the population column needs to be named "p

[2021-09-12 20:07] meg-simula commented on #3721
@whedon assign @meg-simula as editor

[2021-09-12 20:07] whedon commented on #3721
OK, the editor is @meg-simula

[2021-09-12 20:07] meg-simula commented on #3721
Yes, can do.

[2021-09-12 20:08] meg-simula commented on #3665
Not available for this one, my apologies.

[2021-09-12 21:21] arbennett commented on #3541
Hi @elbeejay - thanks for the reminder. My completed review is below.

@ebocher - thanks for all your (and your team's) efforts in developing GeoClimate. While a bit outside of my own area of expertise I was able to understand the goals and & reasons for developing GeoClimate quite easily. I was also able to run through some of the examples that you've provided in your documentation. Overall I thi

[2021-09-12 21:30] jbytecode commented on #3720
@whedon check references

[2021-09-12 21:30] whedon commented on #3720
[code]

[2021-09-12 21:31] jbytecode commented on #3720
@whedon generate pdf

[2021-09-12 21:31] whedon commented on #3720
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: :point_left:

[2021-09-12 22:51] tclune commented on #3618
I was on vacation for the last week.  Last I checked, I was waiting on some response from the submitter on an issue.

[2021-09-12 23:17] danielskatz commented on #3618
@tclune - can you mention `openjournals/joss-reviews#3618` in your issue so that it (and its status) is visible here?

[2021-09-12 23:22] dbuscombe-usgs commented on #3666
I will try again to install and run the tests / notebooks, so I can complete the 'functionality' section of the checklist, otherwise I have read through the paper and documentation and they are both good as-is

[2021-09-13 00:02] npucino commented on #3666
Thx @chrisleaman and @dbuscombe-usgs for the reviews.
I am currently working on:
1. investigate the bugs reported by @chrisleaman
2. move the package into conda-forge as a conda recipe

So, maybe @dbuscombe-usgs you can wait until I fix those issues before running trough the code. Just a suggestion.

CHeers!

[2021-09-13 00:03] dbuscombe-usgs commented on #3666
Yes, I can certainly wait. Thanks!

[2021-09-13 00:37] diehlpk commented on #3630
@srmnitc Not that would not be too late.

[2021-09-13 04:01] johncwok commented on #3720
Looking at the list (from the bottom), I think these people might be adapted referees:
jiweiqi, metelkin, papachristoumarios

[2021-09-13 04:15] blsqr commented on #3608
I will continue with reviewing on the 20th.

[2021-09-13 05:52] kramea commented on #3429
I cannot add my review anymore. It says my invitation was revoked.

[2021-09-13 06:45] maximtrp commented on #3622
@jmschrei I have done the general checks and now testing the package.

[2021-09-13 06:47] arfon commented on #3429
@whedon re-invite @kramea as reviewer

[2021-09-13 06:47] whedon commented on #3429
OK, the reviewer has been re-invited.

@kramea please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-13 06:48] arfon commented on #3429
@kramea – could you try again now please? The invites from GitHub seem to expire after some time.

[2021-09-13 07:12] rMassimiliano commented on #3527
Hi @adi3  I started the review process and  I will follow up with specific comments in the next days. However I still can't accept the review invitation and complete the check-list. Can you help me with that?

[2021-09-13 07:14] ebocher commented on #3541
@abhishekvp

The documentation you mention is ouf of dated. Can you tell me how you found it, from a link in the wiki doc? So I will be able to fix it.

[2021-09-13 08:10] chennachaos commented on #3020
Sorry, I didn't notice that @diehlpk already responded.

Although, all the instructions seem to be available for Fedora, not everyone uses Fedora. However, installation on different architectures is only minor issues for this library. I believe that @diehlpk will help resolve the installation issues if the users struggle to install the library on other systems.

At this point, I recommend **NLMech

[2021-09-13 08:12] xp-song commented on #3609
Thank you! I've made the respective amendments in the linked commits above

[2021-09-13 08:13] TomGoffrey commented on #3618
@danielskatz Apologies, was on vacation last week. Will get started on the review this week.

[2021-09-13 08:22] martibosch commented on #3608
Hello @jbytecode,

I will try to complete the review by the end of this week. Best,

Martí

[2021-09-13 08:23] birnstiel commented on #3628
Since the reminder didn't seem to work: any news from the editorial review?

[2021-09-13 08:26] fgjorup commented on #3546
Hi @rkurchin  and @cmbiwer
I have added a line about contact on contribution in the README.md, I hope that satisfies the requirements.

Regarding the manuscript, I would be happy to include an image of the GUI, perhaps with a comparison to other common visualization tools in the community. I will also expand a bit on the statement of need, how I expect the community to use the software, and how it

[2021-09-13 08:28] zen-juen commented on #3702
Hi there! First I'd like to declare that I am one of the core team members of another software package, [NeuroKit2](https://github.com/neuropsychology/NeuroKit), of which @richrobe has made some contributions to, and some of neurokit's functions are also subsumed under BioPsyKit as mentioned in the manuscript. That said, I will try to remain fully objective in my review here. @osorensen am I able

[2021-09-13 08:48] gro5-AberUni commented on #3346
@hugoledoux

I've continued to test the plugin on various different computer systems running Windows, MacOS and Linux operating systems using different combination of QGIS versions on each, and trying a brand new fresh Windows 10 install with QGIs and i have not be been ale to recreate the errors that haver been seen in the comments above. I have used tested using both the example imagery i provid

[2021-09-13 08:53] aelissa commented on #3609
Brilliant. I have just looked at the software paper too and I am happy with it @martinfleis

[2021-09-13 08:57] destogl commented on #3490
@whedon generate paper from branch joos

[2021-09-13 08:57] whedon commented on #3490
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-13 08:57] destogl commented on #3490
@whedon generate pdf from branch joos

[2021-09-13 08:57] whedon commented on #3490
[code]

[2021-09-13 08:58] whedon commented on #3490
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03490/joss.03490/10.21105.joss.03490.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03490/joss.03490/10.21105.joss.03490.pdf) :page_facing_up: :point_left:

[2021-09-13 09:00] osorensen commented on #3702
Thanks a lot for letting me know, @zen-juen! Do I understand correctly that you have not appeared as co-authors on any scientific papers? If so, I think this is fine, and suggest you keep on with the review.

[2021-09-13 09:02] zen-juen commented on #3702
@osorensen Yes that is correct! I'll continue with the review in that case 😄

[2021-09-13 09:16] mh-skjelvareid commented on #3579
@Kevin-Mattheus-Moerman @lassoan - excuse me for not replying earlier regarding the license. And thanks, @lassoan, for your insightful comments on licensing options.

To me, the main goal of sharing this open source project is for other researchers to get a working version of a set of algorithms. Having a general, mathematical description in a paper is one thing, but an implementation reveals all

[2021-09-13 09:41] martinfleis commented on #3609
Thank you @aelissa for your review and @xp-song for a quick reaction!

@nickbearman are there any outstanding issues on your side?

[2021-09-13 09:45] martinfleis commented on #3623
Hi @nsviel, I see that the reviewers opened issues in the Lidium repository that need to be resolved before we can move on. Do you have any guess when you will be able to work on them?

[2021-09-13 09:51] jbytecode commented on #3720
👋👋👋 Dear @jiweiqi, @metelkin, and @felixcremer   👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_CategoricalTimeSeries.jl: A toolbox for categorical time-series analysis_". You can find more information at the top of t

[2021-09-13 09:54] whedon commented on #3669
:wave: @stebo85, please update us on how your review is going (this is an automated reminder).

[2021-09-13 09:54] whedon commented on #3669
:wave: @martinagvilas, please update us on how your review is going (this is an automated reminder).

[2021-09-13 10:04] nsviel commented on #3623
Hi @martinfleis, unfortunately I don't have enough free time at the moment (as I start a new job). But I will try to resolved the opened questions as soon as possible. Some issues need a certain amount of work (automated tests, documentation), I could hope to finish at the end of September.

[2021-09-13 10:07] bede commented on #3677
Review complete. This wasm'd version of the UShER tool constitutes a broadly useful approach, which I am satisfied represents a 'substantial scholarly effort' on the part of its authors. The software is packaged, easily installed and executed. Automated tests are implemented with GitHub Actions. Documentation is brief but clear and in my opinion perfectly adequate. The software paper is well writt

[2021-09-13 10:16] destogl commented on #3490
@adi3 Thanks for your patience. The holiday season behind brought hard-time to focus on this review. Next time I have to plan better and let you know.

@klevis-a, @heath-henninger: Here are my overall comments on software:

- The live code demo was very useful. Thanks for creating it. This is especially useful for target users.
- Regarding "Substantial scholarly effort": my main area of research a

[2021-09-13 10:39] Kevin-Mattheus-Moerman commented on #3020
Thanks @chennachaos. Would you be able to tick the boxes at the top if you are happy to recommend acceptance?

[2021-09-13 11:29] tclune commented on #3618
@danielskatz Thank you for the guidance.   I've added the reference to 2 open issues.   (A 3rd issue is just a minor note on quality that will not hold up the review.)

[2021-09-13 11:52] TomGoffrey commented on #3618
@tclune Whilst it's true that the 3rd issue doesn't directly block any of the review checklists, I'd personally rather see it fixed during the review process. Those warnings will become errors in future versions of matplotlib. Similar for the FPE after compiling in debug mode. Doesn't directly block any of the checklist, but clearly not desirable.

[2021-09-13 12:21] martinagvilas commented on #3669
@whedon generate pdf from branch joss

[2021-09-13 12:21] whedon commented on #3669
[code]

[2021-09-13 12:21] whedon commented on #3669
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03669/joss.03669/10.21105.joss.03669.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03669/joss.03669/10.21105.joss.03669.pdf) :page_facing_up: :point_left:

[2021-09-13 12:24] melissawm commented on #2974
Hello, folks. I know there has been some movement on the repo, but I wanted to check what is still left to do for this review to be finalized. Is there anything I might be able to help you with? Thanks!

@chkoar @geoffreyp

[2021-09-13 12:26] danielskatz commented on #3628
Sorry @birnstiel - this got a little lost (and thanks for reminding us) - I hope we'll finish the discussion soon.

[2021-09-13 12:28] danielskatz commented on #3628
👋 @openjournals/joss-eics, just a ping that we should try to finish this soon - I put a note in slack to try to move it forward again

[2021-09-13 12:34] JasonGellis commented on #3715
@whedon check references

[2021-09-13 12:34] whedon commented on #3715
[code]

[2021-09-13 12:35] JasonGellis commented on #3715
@whedon check repository

[2021-09-13 12:35] whedon commented on #3715
Wordcount for `paper.md` is 1151

[2021-09-13 12:35] whedon commented on #3715
[code]

[2021-09-13 12:35] whedon commented on #3715
Failed to discover a valid open source license.

[2021-09-13 12:39] JasonGellis commented on #3715
@arfon Hello, we have an open-source LICENSE.txt file in the repo but whedon can not detect it. There are links on the main README.md and in the paper file. Is there something wrong on our end?

[2021-09-13 12:43] rkurchin commented on #3703
@Sbozzolo and @rashti-alireza, reminder to get started on your review checklists (see above)! Let me know if you have any questions, and don't hesitate to file issues in the repository and/or ask @KAClough any questions about the work.

[2021-09-13 12:47] mh-skjelvareid commented on #3579
@whedon generate pdf

[2021-09-13 12:48] whedon commented on #3579
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: :point_left:

[2021-09-13 12:48] mh-skjelvareid commented on #3579
@Kevin-Mattheus-Moerman - thanks for your recommendations! I've followed up on them, with comments for each issue (below).

The README file has been updated to a markdown file.

The LICENSE file has been updated to a markdown file.

The CONTRIBUTING file has been updated to a markdown file, and it is linked to from README.

A COC file with updated contact info has been added.

I've added a section

[2021-09-13 13:01] lpantano commented on #3615
@whedon start review

[2021-09-13 13:01] whedon opened #3722 "[REVIEW]: Bam-readcount - rapid generation of basepair-resolution sequence metrics"
**Submitting author:** @chrisamiller (<a href="http://orcid.org/0000-0003-4266-6700">Christopher A. Miller</a>)
**Repository:** <a href="https://github.com/genome/bam-readcount" target ="_blank">https://github.com/genome/bam-readcount</a>
**Version:** v1.0.1
**Editor:** @lpantano
**Reviewers:** @friedue, @bebatut
**Archive:** <a href="https://doi.org/10.5281/zenodo.5879149" target="_blank">10.5281

[2021-09-13 13:01] whedon commented on #3615
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3722.

[2021-09-13 13:01] #3615 closed

[2021-09-13 13:01] whedon commented on #3722
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @friedue it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2021-09-13 13:01] whedon commented on #3722
[code]

[2021-09-13 13:01] whedon commented on #3722
PDF failed to compile for issue #3722 with the following error:
[code]

[2021-09-13 13:06] rkurchin commented on #3546
Up to you! @mikapfl, I think it would be useful for @fgjorup to have some of your feedback as well, here...any thoughts?

[2021-09-13 13:12] rkurchin commented on #3412
emailed Prof. MacKenzie today to follow up:

[2021-09-13 13:13] arfon commented on #3715
The license should be at the top level of the repository. It's currently nested in the `/paper` folder.

[2021-09-13 13:23] whedon commented on #3671
:wave: @aaronpeikert, please update us on how your review is going (this is an automated reminder).

[2021-09-13 13:23] whedon commented on #3671
:wave: @hayesall, please update us on how your review is going (this is an automated reminder).

[2021-09-13 13:30] hayesall commented on #3465
@diehlpk Sorry, my previous statement was vague. Those things would be *good* to have (and should probably be done in the future), but I think this is satisfactory *without* them.

Update on functionality review: I've used `nnde` to reproduce some numerical results, some notes are included here https://github.com/elwinter/nnde_demos/pull/4

[2021-09-13 13:47] KristinaRiemer commented on #3200
Hi @sandrinecharles. To update you on the current status of the reviewers, I have heard from both reviewers several times via email and they have said they will be able to finish their reviews. If they have not been able to finish the initial reviews by this Friday, I will have to look for new reviewers. Thank you so much for being patient with this process!

[2021-09-13 13:49] danielskatz commented on #3696
The current version of the work has a DOI, so that DOI should be listed in the bibtex.  The peer-review status of the work isn't important to this decision, though it may (or may not) be important to the authors when choosing to include the work as a reference.  Once the work is included, its identifier should also be included.  If it is peer-reviewed and published while the review of the JOSS pap

[2021-09-13 13:50] KristinaRiemer commented on #3467
Are you expecting the handbook URL to change? I think probably as long as that URL is maintained in the GitHub repository README, users will be able to find it.

[2021-09-13 13:54] JasonGellis commented on #3715
@whedon check repository

[2021-09-13 13:54] whedon commented on #3715
Wordcount for `paper.md` is 1151

[2021-09-13 13:54] whedon commented on #3715
[code]

[2021-09-13 13:54] whedon commented on #3715
Failed to discover a valid open source license.

[2021-09-13 14:13] pdebuyl commented on #3653
Thanks @junghans for the review!

[2021-09-13 14:14] pdebuyl commented on #3653
@lorenzo-rovigatti I see that you have checked a number of items already. Do you need extra information to proceed? You can contact the authors here or, if it makes sense, open an issue at the project directly.

[2021-09-13 14:15] JasonGellis commented on #3715
@whedon check repository

[2021-09-13 14:15] pdebuyl commented on #3653
PS: @lorenzo-rovigatti check the issue there as well https://github.com/antoinediez/Sisyphe/issues/2

[2021-09-13 14:15] whedon commented on #3715
Wordcount for `paper.md` is 1151

[2021-09-13 14:15] whedon commented on #3715
[code]

[2021-09-13 14:17] JasonGellis commented on #3715
@arfon Great! Thanks for the clarification. It's in its proper place now.

[2021-09-13 14:23] danielskatz commented on #3607
👋 @tomalrussell - I see you still have one item to check off (Functionality) - can you let us know how you are doing on this, and if you are waiting for anything from anyone else?

(I'm not trying to rush you, just checking, as this review overall is close to done now)

[2021-09-13 14:25] jiweiqi commented on #3720
Hi @jbytecode , thanks for your invitation. This package looks cool. However, I am not an expert in analyzing categorical time series (instead I am more familiar with dynamic systems with continuous variable). I would suggest someone else in this field review this paper. Thanks again and I am happy to involve in the future review processes.

[2021-09-13 14:26] danielskatz commented on #3336
@arfon - just a ping on this, since it seems to have gone somewhat silent over the last two months

[2021-09-13 14:27] danielskatz commented on #2555
👋 @ianhinder - any progress on your review?

[2021-09-13 14:29] danielskatz commented on #2495
emailed again today

[2021-09-13 14:33] danielskatz commented on #2555
Unfortunately, I have received an automated email in response to my writing to @ianhinder saying that he is on leave until November, so this may be delayed a few weeks 😞

[2021-09-13 14:53] jbytecode commented on #3720
Dear @jiweiqi, thank you for the quick response. Hope we will work together in later submissions. Who is your suggestion? Could you please mention the github id here without an @ symbol?
Thank you in advance!

[2021-09-13 14:55] srmnitc commented on #3630
@diehlpk In that case, I can review this submission. I will start the review from 15th Oct.

[2021-09-13 15:19] Zethson commented on #3622
@jmschrei I cannot edit the checklists although this is not my first review. The invite in the OP has expired already. Got any idea?

[2021-09-13 15:23] apldx commented on #3722
@whedon generate pdf from branch joss-paper

[2021-09-13 15:23] whedon commented on #3722
[code]

[2021-09-13 15:24] whedon commented on #3722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03722/joss.03722/10.21105.joss.03722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03722/joss.03722/10.21105.joss.03722.pdf) :page_facing_up: :point_left:

[2021-09-13 15:26] danielskatz commented on #3622
@whedon re-invite @Zethson as reviewer

[2021-09-13 15:27] whedon commented on #3622
OK, the reviewer has been re-invited.

@zethson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-13 15:27] arfon commented on #3336
Thanks for the ping. I just emailed @bgiacoma to ask them to try and complete their review in the next couple of weeks.

:wave: @cpalenzuela – how are you getting along with your review here?

[2021-09-13 15:27] Zethson commented on #3622
@danielskatz thank you. Works.

[2021-09-13 15:43] Zethson commented on #3622
Dear @vinisalazar,

thank you very much for your submission. I had quite some fun reading it and think that your approach to the outlined issue is very interesting. I come more from a classical bioinformatics workflow background and found your take with a "Project" centric view a novel view on the problem.

I have a couple of points/questions that I would be very happy to see addressed:

1. What i

[2021-09-13 15:47] kramea commented on #3429
Yes, works now. Thanks!

[2021-09-13 15:58] lucydot commented on #3662
Excellent ✨ -  I'll ask our bot Whedon to start a review issue thread (this is the _pre_-review thread). If you're new to the JOSS review process, be sure to read the instructions at the top of that new thread.

@govarguz @FTurci thank-you for agreeing to review. We're asking for reviews to be complete within a 4-6 week period. As the review is usually an iterative process (rather than something y

[2021-09-13 15:59] lucydot commented on #3662
@whedon assign @FTurci as reviewer

[2021-09-13 15:59] whedon commented on #3662
OK, @FTurci is now a reviewer

[2021-09-13 15:59] lucydot commented on #3662
@whedon add @govarguz as reviewer

[2021-09-13 15:59] whedon commented on #3662
OK, @govarguz is now a reviewer

[2021-09-13 16:01] whedon opened #3723 "[REVIEW]: partycls: A Python package for structural clustering"
**Submitting author:** @jorisparet (<a href="http://orcid.org/0000-0002-1300-1227">Joris Paret</a>)
**Repository:** <a href="https://github.com/jorisparet/partycls" target ="_blank">https://github.com/jorisparet/partycls</a>
**Version:** v1.1.1
**Editor:** @lucydot
**Reviewers:** @govarguz, @FTurci
**Archive:** <a href="https://doi.org/10.5281/zenodo.5639407" target="_blank">10.5281/zenodo.5639407

[2021-09-13 16:01] whedon commented on #3662
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3723.

[2021-09-13 16:01] #3662 closed

[2021-09-13 16:02] whedon commented on #3723
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @FTurci, @govarguz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-09-13 16:02] whedon commented on #3723
PDF failed to compile for issue #3723 with the following error:
[code]

[2021-09-13 16:02] whedon commented on #3723
[code]

[2021-09-13 16:08] lucydot commented on #3723
@whedon generate pdf

[2021-09-13 16:08] whedon commented on #3723
PDF failed to compile for issue #3723 with the following error:
[code]

[2021-09-13 16:08] mikapfl commented on #3546
Hi,

regarding the manuscript, I think the summary is already good and for me there is no need to replicate things already found in the docs. However, if I understand correctly, Reel is rather one building block in a "pipeline" - while it is possible to view raw measurements, it really shines when viewing refinement results. In the docs, there is a list of supported file formats, maybe you could e

[2021-09-13 16:08] Shyentist commented on #3467
I think so. If the documentation expands beyond the Handbook, I would like to arrange it in folders as the project goes on. I think the best course of action would be to link to the repository itself, with the README always bearing the updated URL for the Handbook (and whatever else might be needed).

[2021-09-13 16:09] lucydot commented on #3723
Hi @jorisparet it seems that Whedon is having problems finding your paper - a little weird as it was found ok in the pre-review thread. Have you moved the paper to another branch or folder since the initial submission per chance?

[2021-09-13 16:10] mikapfl commented on #3546
Regarding your changes in the `JOSS-submission` branch, do you intend to merge this into master? At the moment, people just landing on Reel's github presence don't get the various enhancements you already implemented.

[2021-09-13 16:10] diehlpk commented on #3630
@whedon add @srmnitc as reviewer

[2021-09-13 16:10] whedon commented on #3630
OK, @srmnitc is now a reviewer

[2021-09-13 16:11] diehlpk commented on #3630
@whedon start review

[2021-09-13 16:11] whedon opened #3724 "[REVIEW]: cRacklet: a spectral boundary integral method library for interfacial rupture simulation"
**Submitting author:** @tiburoch (<a href="http://orcid.org/0000-0002-2495-8841">Thibault Roch</a>)
**Repository:** <a href="https://gitlab.com/cracklet/cracklet.git" target ="_blank">https://gitlab.com/cracklet/cracklet.git</a>
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @srmnitc, @kylebeggs
**Archive:** <a href="https://doi.org/10.5281/zenodo.5865617" target="_blank">10.5281/zenodo.5

[2021-09-13 16:11] whedon commented on #3630
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3724.

[2021-09-13 16:11] #3630 closed

[2021-09-13 16:11] whedon commented on #3724
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @KParas, @srmnitc it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-09-13 16:11] whedon commented on #3724
Wordcount for `paper.md` is 1411

[2021-09-13 16:11] whedon commented on #3724
[code]

[2021-09-13 16:11] whedon commented on #3724
[code]

[2021-09-13 16:11] whedon commented on #3724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: :point_left:

[2021-09-13 16:12] lucydot commented on #3723
@FTurci @govarguz Thanks again for agreeing to review. Reviewer checklists have been generated for you above, feel free to get started whenever is convenient for you in the nearest few weeks. It is best to raise any issues during the review process in the [software repository](https://github.com/jorisparet/partycls/issues) and link to those issues (especially acceptance-blockers) by leaving commen

[2021-09-13 16:13] lucydot commented on #3626
Excellent thanks @bonh

[2021-09-13 16:13] lucydot commented on #3626
@whedon assign @bonh as reviewer

[2021-09-13 16:13] whedon commented on #3626
OK, @bonh is now a reviewer

[2021-09-13 16:17] jorisparet commented on #3723
Hi @lucydot :wave:! The paper is still on the same branch *joss-paper*. Whedon had the same problem at the very beginning of the pre-review thread until the person who started the thread asked it to check this branch for references. I'll try that immediately.

[2021-09-13 16:18] jorisparet commented on #3723
@whedon check references from branch joss-paper

[2021-09-13 16:18] whedon commented on #3723
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "author" (NAME) [#<BibTeX::Bibliography data=[14]>, "@", #<BibTeX::Entry >, {:title=>["Concepts, fabrication methods and applications of living crystallization-driven self-assembly of block copolymers"], :journal=>["Progress in Polymer Science"], :doi=>["10.1016/j.progpolymsci.2019.101195"]}]

[2021-09-13 16:19] jorisparet commented on #3723
@whedon generate pdf

[2021-09-13 16:19] whedon commented on #3723
PDF failed to compile for issue #3723 with the following error:
[code]

[2021-09-13 16:20] jorisparet commented on #3723
@whedon check references from branch joss-paper

[2021-09-13 16:20] whedon commented on #3723
[code]

[2021-09-13 16:20] whedon commented on #3723
[code]

[2021-09-13 16:21] jorisparet commented on #3723
@whedon generate pdf from branch joss-paper

[2021-09-13 16:22] whedon commented on #3723
[code]

[2021-09-13 16:22] whedon commented on #3723
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03723/joss.03723/10.21105.joss.03723.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03723/joss.03723/10.21105.joss.03723.pdf) :page_facing_up: :point_left:

[2021-09-13 16:24] lucydot commented on #3723
Excellent! Thanks @jorisparet

[2021-09-13 16:31] jkmacc-LANL commented on #3619
My apologies for the delay; my invitation has expired.  Can it please be resent?

[2021-09-13 16:42] danielskatz commented on #3619
@whedon re-invite @jkmacc-LANL as reviewer

[2021-09-13 16:42] whedon commented on #3619
OK, the reviewer has been re-invited.

@jkmacc-lanl please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-13 16:43] danielskatz commented on #2555
I've had a response from @ianhinder now that he might be able to get to in a couple of weeks, though he is on leave

[2021-09-13 16:44] lucydot commented on #3583
Hi @rafaelab and @villaa that's great!

I'll assign you as reviewers and then ask our bot Whedon to start a review issue thread (this is the _pre_-review thread). If you're new to the JOSS review process, be sure to read the instructions at the top of that new thread.

We're asking for reviews to be complete within a 4-6 week period. As the review is usually an iterative process (rather than somet

[2021-09-13 16:44] kellyrowland commented on #3212
Thank you @samgdotson ! We really appreciate your review.

[2021-09-13 16:44] lucydot commented on #3583
@whedon assign @rafaelab @villaa as reviewers

[2021-09-13 16:44] whedon commented on #3583
OK, @rafaelab @villaa is now a reviewer

[2021-09-13 16:45] lucydot commented on #3583
@whedon start review

[2021-09-13 16:45] whedon opened #3725 "[REVIEW]: obscura: A modular C++ tool and library for the direct detection of (sub-GeV) dark matter via nuclear and electron recoils"
**Submitting author:** @temken (<a href="http://orcid.org/0000-0002-4251-2229">Timon Emken</a>)
**Repository:** <a href="https://github.com/temken/obscura" target ="_blank">https://github.com/temken/obscura</a>
**Version:** v1.0.0
**Editor:** @lucydot
**Reviewers:** @rafaelab, @villaa
**Archive:** <a href="https://doi.org/10.5281/zenodo.5665890" target="_blank">10.5281/zenodo.5665890</a>

**:warni

[2021-09-13 16:45] whedon commented on #3583
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3725.

[2021-09-13 16:45] #3583 closed

[2021-09-13 16:45] whedon commented on #3725
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rafaelab @villaa it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-09-13 16:45] whedon commented on #3725
Wordcount for `paper.md` is 1207

[2021-09-13 16:45] whedon commented on #3725
[code]

[2021-09-13 16:45] whedon commented on #3725
[code]

[2021-09-13 16:45] whedon commented on #3725
PDF failed to compile for issue #3725 with the following error:
[code]

[2021-09-13 16:48] lucydot commented on #3725
@whedon assign @rafaelab as reviewers

[2021-09-13 16:48] whedon commented on #3725
OK, @rafaelab is now a reviewer

[2021-09-13 16:48] lucydot commented on #3725
@whedon add @villaa as reviewer

[2021-09-13 16:48] whedon commented on #3725
OK, @villaa is now a reviewer

[2021-09-13 16:50] lucydot commented on #3725
@villaa @rafaelab  Thanks again for agreeing to review. Reviewer checklists have been generated for you above, feel free to get started whenever is convenient for you in the nearest few weeks. It is best to raise any issues during the review process in the software repository and link to those issues (especially acceptance-blockers) by leaving comments in the review thread below.

I'll check back

[2021-09-13 17:09] jkmacc-LANL commented on #3619
Documentation Issue submitted: https://github.com/savage13/sacio/issues/1

[2021-09-13 17:28] kellyrowland commented on #3691
Thanks for the reviewer suggestions, @rneher !

Hello @pvanheus @kevinlibuit @EduanWilkinson 👋 - would you be interested in and available to review this paper for JOSS? We require a minimum of two reviewers per paper.

[2021-09-13 17:41] johncwok commented on #3720
@whedon generate pdf

[2021-09-13 17:42] whedon commented on #3720
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03720/joss.03720/10.21105.joss.03720.pdf) :page_facing_up: :point_left:

[2021-09-13 18:19] vinisalazar commented on #3622
Dear @Zethson,

Thank you for your comments. Here are our responses:

1. The main rationale behind this is to be able to consume processes' start and end time, standard output and error, and other relevant information from within the main BioProv process. We aimed to provide a simple framework that does this using Python standard library modules. I agree that there are excellent open-source workfl

[2021-09-13 18:21] m-stclair commented on #3495
@arfon - I have accepted your PR and [archived the software in Zenodo](https://zenodo.org/record/5504214). The DOI is 10.5281/zenodo.550421. Thank you for your assistance!

[2021-09-13 18:43] corybrunson commented on #3634
@crvernon the issues i raised have been addressed and i have completed my review, though i welcome the opportunity to review further revisions while the review remains open.

[2021-09-13 18:51] crvernon commented on #3634
Fantastic @corybrunson !   Thanks for your volunteering your time and providing a thoughtful review!

[2021-09-13 19:57] hungpham2017 commented on #3458
The authors have sufficiently clarified all of my comments hence I would be happy to recommend an acceptance.

[2021-09-13 19:59] maxkfranz commented on #3717
The [suggested DOIs](https://github.com/openjournals/joss-reviews/issues/3717#issuecomment-917360026) look correct to me.  Thanks

@whedon check references

[2021-09-13 20:13] arfon commented on #3495
@whedon set 10.5281/zenodo.550421 as archive

[2021-09-13 20:13] whedon commented on #3495
OK. <a href="https://doi.org/10.5281/zenodo.550421" target="_blank">10.5281/zenodo.550421</a> is the archive.

[2021-09-13 20:13] arfon commented on #3495
@whedon set 10.5281/zenodo.5504214 as archive

[2021-09-13 20:13] whedon commented on #3495
OK. <a href="https://doi.org/10.5281/zenodo.5504214" target="_blank">10.5281/zenodo.5504214</a> is the archive.

[2021-09-13 20:14] arfon commented on #3495
@whedon recommend-accept

[2021-09-13 20:14] whedon commented on #3495
[code]

[2021-09-13 20:14] whedon commented on #3495
[code]

[2021-09-13 20:14] whedon commented on #3495
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2585

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2585, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-13 20:16] arfon commented on #3495
@whedon accept deposit=true

[2021-09-13 20:16] whedon commented on #3495
[code]

[2021-09-13 20:17] whedon commented on #3495
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1437510671080562691) 👈 🐦🐦🐦

[2021-09-13 20:17] whedon commented on #3495
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2586
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03495](https://doi.org/10.21105/joss.03495)
2. If everything look

[2021-09-13 20:21] arfon commented on #3495
@malmans2, @steo85it – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@m-stclair – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-13 20:21] #3495 closed

[2021-09-13 20:21] whedon commented on #3495
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03495/status.svg)](https://doi.org/10.21105/joss.03495)

**We need your help!**

Journal of Open Source Softwa

[2021-09-13 20:28] m-stclair commented on #3495
@arfon awesome, thank you! one final request -- I hadn't actually noticed the tags on this issue -- would it be possible for you to remove the HCL / Tcl tags from the article page? GitHub misrecognizes SPICE kernels as code in those languages. If not, I doubt it will cause much confusion.

[2021-09-13 20:33] nkeim commented on #3611
Thanks for checking in! Sorry for my slowness; another review needed extra time last week. I should be able to finish this review this week.

[2021-09-13 20:40] hayesall commented on #3671
Hey @adi3! I saw your note a week ago, but I haven't started yet (beyond reading some of the docs). I'm planning to do my first pass this Saturday.

[2021-09-13 21:00] arfon commented on #3495
Yep, that's done now.

[2021-09-13 21:04] lorenzo-rovigatti commented on #3653
Yes, I started working on the review but then I had to stop for a few days. I'll get back to it this week. Sorry for any delay this may cause!

[2021-09-13 21:49] ml-evs commented on #3458
Great news, assuming this is okay with @jgostick!!

Thanks again @jamesrhester and @hungpham2017 for volunteering your time to review our repository; we will be sure to take your feedback on board going forward. The tutorial-style guide that we wrote as a result of this review has already proved very useful and it has enabled at least two new OPTIMADE database implementations using our package as

[2021-09-13 21:53] mingzehuang commented on #3634
Thank you so much @corybrunson and @crvernon !

[2021-09-13 22:01] ml-evs commented on #3458
@whedon generate pdf from branch joss

[2021-09-13 22:01] whedon commented on #3458
[code]

[2021-09-13 22:01] whedon commented on #3458
PDF failed to compile for issue #3458 with the following error:
[code]

[2021-09-13 22:48] klevis-a commented on #3490
@destogl thank you for chiming in on the contribution of the software - I appreciate it. We also think that it adds value to the biomechanics community, but of course, we are a bit biased.

The software has been especially useful in convincing other biomechanics researchers that Euler angles cannot be added or subtracted. My first Ph.D. project was in robotics so this was almost a given to me. But

[2021-09-13 22:50] m-stclair commented on #3495
Thanks very much.
On Mon, Sep 13, 2021 at 17:00 Arfon Smith ***@***.***> wrote:

[2021-09-13 23:52] simonpcouch commented on #3661
Okay, the DOI should be good to go! The DOI of the archived version, with correct metadata, is here: 10.5281/zenodo.5504495

[2021-09-13 23:53] simonpcouch commented on #3661
Ah, and the version tag is `v1.0.1`.

[2021-09-13 23:59] gonzalobravoargentina opened #3726 "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

[2021-09-13 23:59] whedon commented on #3726
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-13 23:59] #3726 closed

[2021-09-14 00:03] klevis-a commented on #3490
@whedon generate pdf from branch joos

[2021-09-14 00:03] whedon commented on #3490
[code]

[2021-09-14 00:04] whedon commented on #3490
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03490/joss.03490/10.21105.joss.03490.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03490/joss.03490/10.21105.joss.03490.pdf) :page_facing_up: :point_left:

[2021-09-14 00:30] Sbozzolo commented on #3703
Hi @KAClough. The paper is well written. I have two minor comments.

- It is often said that T_munu is the matter stress-energy tensor. This is not entirely accurate. For example, you can have electromagnetic fields.
- gamma_ij is never defined in the first bullet point in page 2.

Also, mostly for my own curiosity. I use the Einstein Toolkit, and it seems like that it has pretty much the same fea

[2021-09-14 01:11] mewilhel commented on #3574
Alright, I’ve finished reviewing.

I had an initial issue when attempting to use the software based on system time zones. I was able to easily work around this. I’m an American reviewer and this package appear to be more targeted for an EU end-user so I don’t consider this issue to be gating but rather a chance for continuous improvement (error log text below).

Otherwise, everything loads well on

[2021-09-14 01:26] cheginit commented on #3175
@arbennett Please let me know if you have any questions or difficulty testing the packages.

[2021-09-14 01:55] arbennett commented on #3175
@cheginit thank you! I just finished up my other review and will put it on my calendar to review this, this week. Looking forward to checking this out, it seems really relevant!

[2021-09-14 02:16] cMadan commented on #3632
@whedon re-invite @anki-xyz as reviewer

[2021-09-14 02:16] whedon commented on #3632
OK, the reviewer has been re-invited.

@anki-xyz please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-14 02:16] cMadan commented on #3632
@anki-xyz, let me know if that fixes things!

[2021-09-14 02:50] jiweiqi commented on #3720
Hi, I would recommend https://github.com/bkamins

[2021-09-14 03:47] cheginit commented on #3175
@arbennett Thanks, appreciate it! Looking forward to seeing your comments.

[2021-09-14 06:48] roderickmackenzie commented on #3412
Hi There!,
 Thanks for your mail. Sorry for not seeing this I have a special e-mail account setup for high volume stuff which I don't check.. and this went into it.. So as far as I understand the review process, I just write comments here and then the authors respond?

I am happy to take a look but will need a few days to compile and poke at the code base.  I've not used Pascal since the Borland D

[2021-09-14 07:22] chennachaos commented on #3020
Done!

[2021-09-14 07:24] lisazeyen commented on #3601
@crvernon @fraukewiese : I am finished with my review. @crvernon  has addressed all my comments.

[2021-09-14 07:39] taless474 commented on #3465
@elwinter, thank you for addressing the issues. I started checking the installation and created [#22](https://github.com/elwinter/nnde/issues/22). Would you please take a look at it?

@diehlpk, do we need the demo to be in the same repository? I am not sure if this is an issue and thank you in advance for your response.

[2021-09-14 07:39] arfon commented on #3376
@whedon re-invite @rchew as reviewer

[2021-09-14 07:39] whedon commented on #3376
OK, the reviewer has been re-invited.

@rchew please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-14 07:39] arfon commented on #3376
@MamadouSDiallo – I'm sorry this submission is taking so long, I've just emailed @rchew to see if they can complete their review in the next couple of weeks. If not, I think we'll need to find an alternative second reviewer.

[2021-09-14 07:40] taless474 commented on #3543
@oneilsh, I apologize for my belated response. I am reviewing reviews and will comment as soon as possible.

[2021-09-14 07:41] arfon commented on #2731
@c-martinez – how are you getting along here? Have you had a chance to incorporate the feedback from our reviewers?

[2021-09-14 07:44] ebocher commented on #3541
@omshinde
Thanks for the stack trace. It seems a pb with your network. Could you check if you have access to https://github.com/orbisgis/geoclimate/raw/master/models/URBAN_TYPOLOGY_BDTOPO_V2_RF_2_1.model
GeoClimate downloads this file to install it on your machine and run the machine learning algorithm.

[2021-09-14 07:50] ebocher commented on #3541
@omshinde

GeoClimate is a set of Groovy scripts so you are right there is no API but all scripts are fully documented. Here an example to apply the  machine learning algorithm :  https://github.com/orbisgis/geoclimate/blob/5bd90c2eeb36e626e5caf1b64bdae83c668e446a/geoindicators/src/main/groovy/org/orbisgis/geoclimate/geoindicators/TypologyClassification.groovy#L565

[2021-09-14 07:55] Nikoleta-v3 commented on #3538
👋 @shivam11 &  @cjbarrie, could you  please update me on how your reviews are going 😄

[2021-09-14 08:01] cjbarrie commented on #3538
Apologies for the delay on this! I am happy with how everything now looks and recommend acceptance.

[2021-09-14 08:02] Nikoleta-v3 commented on #3538
Fantastic. Thank you for your review and your time @cjbarrie!

[2021-09-14 08:07] jarvist commented on #3325
Dear ArtVoro,

I think the detailed documentation (APIs & docstrings) is of a fine standard for publication.

What I feel is either missing or too vague are the higher level descriptions, to understand what the package does, what it enables, why should someone use it.

I did see your quickstart guide, but again I didn't really understand the motivation for each section. The 'normal MD' looked like

[2021-09-14 08:19] ajstewartlang commented on #3504
Hi @Sara-ShiHo and @pmyteh just wondering how your reviews are going?

[2021-09-14 08:27] Kevin-Mattheus-Moerman commented on #3611
@nkeim great, thanks!

[2021-09-14 08:28] whedon commented on #3673
:wave: @cpgr, please update us on how your review is going (this is an automated reminder).

[2021-09-14 08:28] whedon commented on #3673
:wave: @akaszynski , please update us on how your review is going (this is an automated reminder).

[2021-09-14 08:28] whedon commented on #3673
:wave: @TobbeTripitaka, please update us on how your review is going (this is an automated reminder).

[2021-09-14 08:29] ajstewartlang commented on #3688
@whedon assign @vaneseltine as reviewer

[2021-09-14 08:29] whedon commented on #3688
OK, @vaneseltine is now a reviewer

[2021-09-14 08:30] Kevin-Mattheus-Moerman commented on #3579
@whedon generate pdf

[2021-09-14 08:31] whedon commented on #3579
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: :point_left:

[2021-09-14 08:31] Kevin-Mattheus-Moerman commented on #3579
@whedon check references

[2021-09-14 08:32] whedon commented on #3579
[code]

[2021-09-14 08:41] ArtVoro commented on #3325
understood. i will try to improve those aspects today and tell you when both documentation and paper are reworked.

there is already an example folder with jupyter notebooks in the package included (with all necessary files). the readme page also states how to run them.

[2021-09-14 08:52] cpalenzuela commented on #3336
it is going slowly after the summer, but catching up. I will also try to finish in the next few weeks

[2021-09-14 09:33] jbytecode commented on #3720
Dear @bkamins  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_CategoricalTimeSeries.jl: A toolbox for categorical time-series analysis_". You can find more information at the top of this Github issue (https://github.c

[2021-09-14 09:51] Kevin-Mattheus-Moerman commented on #3579
@mh-skjelvareid thanks. Can you also work on that potentially missing DOI? Also it looks like the `“raw data,”` issue is still in there.

[2021-09-14 11:14] fraukewiese commented on #3601
Thank you very much @lisazeyen for your thorough review!

[2021-09-14 11:18] bkamins commented on #3720
Hi, I can review it. I have one question and two comments.

The question is: what exactly should I review (code, documentation, the article proof)?

The comments are:
* it would be great to review the package against some release of it. Currently I do not see any releases nor tags for this package.
* the current state of the package when added to an environment does not allow latest version of Dat

[2021-09-14 11:19] fraukewiese commented on #3574
@mewilhel : Thank you very much for your thorough review!
@noah80 : Could you comment on the remark from mewilhel about the system time zones and the target end-users?

[2021-09-14 11:21] fraukewiese commented on #3574
For information: I am currently contacting potential second reviewer per mail.

[2021-09-14 11:23] mh-skjelvareid commented on #3579
whedon check references

[2021-09-14 11:23] mh-skjelvareid commented on #3579
@whedon check references

[2021-09-14 11:24] whedon commented on #3579
[code]

[2021-09-14 11:27] fraukewiese commented on #3625
@olejandro , please update us on how your review is going :)

[2021-09-14 11:28] fraukewiese commented on #3695
@mefuller @bocklund : If you have any questions about the review do not hesitate to ask :)

[2021-09-14 11:29] mh-skjelvareid commented on #3579
@Kevin-Mattheus-Moerman , I've fixed the missing DOI (the reference was to a Github repository that doesn't have a DOI, but the name of the repository is similar to another publication).

That `"raw data,"` issue is a real mystery, however. If you check the [markdown file for the paper](https://github.com/mh-skjelvareid/synaptus/blob/master/paper/paper.md), it's correct (i.e., `"raw data",`) while

[2021-09-14 11:35] jbytecode commented on #3720
@bkamins, Thank you for the reply. When the review starts, there will be 20 checkboxes for each reviewer that indicate the corresponding  review item including the software, the paper, and the documentation. If you accept, I will be here to help you anytime.

Since these are about reviewing, you will be able to interact with the author(s) and list a reviewing report during the process. This proces

[2021-09-14 11:47] mefuller commented on #3695
@fraukewiese would you please send me a new invite? I cannot edit the checklist and am getting an error that my invitation expired. Thanks

[2021-09-14 12:04] johncwok commented on #3720
Dear bkamins,

might I ask what you mean by release? The package was added to the julia registry some 10 months ago (https://github.com/JuliaRegistries/General/tree/master/C/CategoricalTimeSeries).
I am a bit puzzled by the restrictions on the version of dataframes, since I didn't explicitly enforce any. I tried to explicitly make it work for later release, I hope this will fix it.

[2021-09-14 12:11] noah80 commented on #3574
Thank you very much for the kind review!

The time zone error message only shows up if the time zone of the computer doesn't match the time zone you want to simulate. So if you want to select a german household, you need to set your computer to the german time zone. This is usually not an issue, since most people need load profiles for their home country. It's a bug in the library, as the error me

[2021-09-14 12:36] danielskatz commented on #3695
@whedon re-invite @mefuller as reviewer

[2021-09-14 12:36] whedon commented on #3695
OK, the reviewer has been re-invited.

@mefuller please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-14 12:39] KAClough commented on #3703
Thanks for reviewing @Sbozzolo :-) I will amend the draft for your two points, which I agree with.

It is true that we have many of the same features as ET - our main difference is that the adaptive mesh refinement is more flexible, so whereas in the ET with the Carpet driver you have a hierarchy of fixed size boxes that follow the compact objects, in our case the refined regions can be any shape

[2021-09-14 13:15] ebocher commented on #3541
The tutorial has been updated to integrate   BDTOPO v2.2 BBOX case.  see https://github.com/orbisgis/geoclimate/wiki/Bounding-box-case-%5BL%5D

[2021-09-14 13:20] bkamins commented on #3720
So I wait for the second reviewer. Right?

In https://github.com/JuliaRegistries/General/blob/master/C/CategoricalTimeSeries/Versions.toml you only have:
[code]
while in your repo in https://github.com/johncwok/CategoricalTimeSeries.jl/blob/main/Project.toml you currently have:
[code]
so as you can see the versions are inconsistent. And there is no tag for 0.1 release on your repository.
Normally

[2021-09-14 13:23] jbytecode commented on #3720
@whedon add @bkamins as reviewer

@bkamins yes, you are assigned as the first reviewer. When we set the second one, a new issue will be created. You can review the paper in there.

Thank you!

[2021-09-14 13:23] whedon commented on #3720
OK, @bkamins is now a reviewer

[2021-09-14 13:24] Sbozzolo commented on #3703
Thanks!

As you correctly mention, Carpet is not great for simulating ring/disk configurations. Erik Schnetter is leading the efforts to develop CarpetX, a new driver based on AMReX, which is supposed to be much more flexible in handling the AMR.

Let me also point out that using the code-generating tools Kranc and NRPy is not mandatory in the Einstein Toolkit. For example, the canuda suite is han

[2021-09-14 13:41] hagenw commented on #3590
I would also be willing to review.

[2021-09-14 13:46] MamadouSDiallo commented on #3376
@arfon thank you very much for the update. I am looking forward to the second review. Best regards

[2021-09-14 13:46] jbytecode commented on #3720
👋👋👋 Dear  @papachristoumarios  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_CategoricalTimeSeries.jl: A toolbox for categorical time-series analysis_". You can find more information at the top of this Github issue (

[2021-09-14 13:57] KAClough commented on #3703
Ah, thanks for that, we will fix the doxygen link.

For the templating, one example is that the CCZ4 evolution class with matter MatterCCZ4RHS is templated over a matter class, like a scalar or vector field. It is quite straightforward for a user to write their own matter class, by taking the ScalarField one and changing it, and then updating an example to use it just means replacing the template

[2021-09-14 14:46] broncio123 commented on #3482
Hello! @richardjgowers @nicoguaro @jmbr
Thank you very much for your time and energy in reviewing our work.

Now, what can we do to proceed with the publication?

[2021-09-14 16:13] galessiorob commented on #3717
@Kevin-Mattheus-Moerman Happy to take this one!

@maxkfranz I'll start reaching out to [potential reviewers](https://bit.ly/joss-reviewers), but if you have any specific suggestions feel free to ping them here.

[2021-09-14 16:13] galessiorob commented on #3717
@whedon check references

[2021-09-14 16:13] whedon commented on #3717
[code]

[2021-09-14 16:15] galessiorob commented on #3717
@maxkfranz if the suggested DOIs look good you can start adding them to the actual doc.

[2021-09-14 16:20] Kevin-Mattheus-Moerman commented on #3717
@whedon assign @galessiorob as editor

[2021-09-14 16:20] whedon commented on #3717
OK, the editor is @galessiorob

[2021-09-14 16:34] fsanchez-trigueros commented on #3383
Here is my review @KristianNelson @KristinaRiemer:

### Overall comment

Thanks to its tools and the data sets (https://zenodo.org/record/4662993/files/Geospatial_Input_Datasets.zip), gamut seems useful to streamline current environmental and socioeconomic analysis of main CONUS cities based on watershed location, but the paper may still need revisions to contextualize its basic terminology, descr

[2021-09-14 16:40] csoneson commented on #3661
@whedon set v1.0.1 as version

[2021-09-14 16:40] whedon commented on #3661
OK. v1.0.1 is the version.

[2021-09-14 16:41] csoneson commented on #3661
@whedon set 10.5281/zenodo.5504495 as archive

[2021-09-14 16:41] whedon commented on #3661
OK. <a href="https://doi.org/10.5281/zenodo.5504495" target="_blank">10.5281/zenodo.5504495</a> is the archive.

[2021-09-14 16:47] csoneson commented on #3661
Great, thanks @simonpcouch! Just one final tiny detail...could you please case protect the final "R" in the title of Pruim et al (so it shows up as 'R' instead of 'r')? Then I'll pass the submission on for the final steps.

[2021-09-14 17:19] faroit commented on #3590
@whedon add @hagenw as reviewer

[2021-09-14 17:19] whedon commented on #3590
OK, @hagenw is now a reviewer

[2021-09-14 17:20] faroit commented on #3590
@whedon check references

[2021-09-14 17:21] whedon commented on #3590
[code]

[2021-09-14 17:45] simonpcouch commented on #3661
Thank you, @csoneson! Just made that edit—your attention to detail is much appreciated.

[2021-09-14 17:46] simonpcouch commented on #3661
@whedon generate pdf

[2021-09-14 17:46] whedon commented on #3661
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03661/joss.03661/10.21105.joss.03661.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03661/joss.03661/10.21105.joss.03661.pdf) :page_facing_up: :point_left:

[2021-09-14 18:22] nkeim commented on #3611
A couple quick comments related to my remaining checklist items for the paper:
1. The authors might want to double-check the author initials, at least for trackpy; "et al" might be appropriate. Also, I recommend citing the [trackpy Zenodo DOI](https://zenodo.org/record/3492186#.YUDl3C1h3UY) for the sake of automated citation-tracking.
2. There are sophisticated particle-tracking GUIs for FIJI (Ima

[2021-09-14 18:26] rkurchin commented on #3412
Hi @roderickmackenzie, we actually do the review in another issue (this is the "pre-review" issue). Thanks for your comments! I'll copy them over into the new issue when I create it, and that will also generate a checklist for you to fill out to guide you through the review criteria.

[2021-09-14 18:26] rkurchin commented on #3412
@whedon add @roderickmackenzie as reviewer

[2021-09-14 18:26] whedon commented on #3412
OK, @roderickmackenzie is now a reviewer

[2021-09-14 18:27] rkurchin commented on #3412
@whedon start review

[2021-09-14 18:27] whedon opened #3727 "[REVIEW]: SIMsalabim: A time resolved drift-diffusion simulation software"
**Submitting author:** @ljakoster (<a href="http://orcid.org/0000-0002-6558-5295">Lambert Jan Anton Koster</a>)
**Repository:** <a href="https://github.com/kostergroup/SIMsalabim" target ="_blank">https://github.com/kostergroup/SIMsalabim</a>
**Version:** v4.05
**Editor:** @rkurchin
**Reviewer:** @UTH-Tuan, @shahmoradi, @roderickmackenzie
**Archive:** Pending

**:warning: JOSS reduced service mode

[2021-09-14 18:27] whedon commented on #3412
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3727.

[2021-09-14 18:27] #3412 closed

[2021-09-14 18:27] whedon commented on #3727
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @UTH-Tuan, @shahmoradi, @roderickmackenzie it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [o

[2021-09-14 18:27] whedon commented on #3727
Wordcount for `paper.md` is 571

[2021-09-14 18:27] whedon commented on #3727
[code]

[2021-09-14 18:27] whedon commented on #3727
[code]

[2021-09-14 18:27] whedon commented on #3727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: :point_left:

[2021-09-14 18:28] rkurchin commented on #3727
Copying @roderickmackenzie's comments from the pre-review issue #3412 ...

Hi There!,
Thanks for your mail. Sorry for not seeing this I have a special e-mail account setup for high volume stuff which I don't check.. and this went into it.. So as far as I understand the review process, I just write comments here and then the authors respond?

I am happy to take a look but will need a few days to co

[2021-09-14 18:41] whedon commented on #3675
:wave: @maxwelltsai, please update us on how your review is going (this is an automated reminder).

[2021-09-14 18:41] whedon commented on #3675
:wave: @adrn, please update us on how your review is going (this is an automated reminder).

[2021-09-14 18:46] whedon commented on #3676
:wave: @mkolopanis, please update us on how your review is going (this is an automated reminder).

[2021-09-14 18:46] whedon commented on #3676
:wave: @plaplant, please update us on how your review is going (this is an automated reminder).

[2021-09-14 19:12] maxkfranz commented on #3717
I thought this was automatic.  Assuming you mean the bib file, I'll amend that.  Thanks

Here are some suggestions:

- John Bachman @johnbachman
- Ben Gyori https://scholar.harvard.edu/bgyori/home
- Alex Pico @AlexanderPico
- Andrew Su @andrewsu
- Scooter Morris @scootermorris

[2021-09-14 19:18] maxkfranz commented on #3717
@whedon check references

[2021-09-14 19:18] whedon commented on #3717
[code]

[2021-09-14 19:32] Sara-ShiHo commented on #3504
I just looked through  jiemakel's most recent commit & updated my reviewer checklist. I'm going through the functionality right now; I might have some more suggestions/questions.

[2021-09-14 19:40] whedon commented on #3677
:wave: @kblin, please update us on how your review is going (this is an automated reminder).

[2021-09-14 20:51] whedon opened #3728 "[PRE REVIEW]: Swalbe.jl: A lattice Boltzmann solver for thin film hydrodynamics"
**Submitting author:** @Zitzeronion (<a href="http://orcid.org/0000-0002-2371-5610">Stefan Zitz</a>)
**Repository:** https://jugit.fz-juelich.de/compflu/swalbe.jl/
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** @arfon
**Reviewers:** @mbernaschi
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-09-14 20:51] whedon commented on #3728
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-14 20:51] whedon commented on #3728
[code]

[2021-09-14 20:51] whedon commented on #3728
PDF failed to compile for issue #3728 with the following error:
[code]

[2021-09-14 20:52] whedon opened #3729 "[PRE REVIEW]: SNEWPY: A Data Pipeline from Supernova Simulations to Neutrino Signals"
**Submitting author:** @JostMigenda (<a href="http://orcid.org/0000-0002-5350-8049">Jost Migenda</a>)
**Repository:** <a href="https://github.com/SNEWS2/snewpy" target ="_blank">https://github.com/SNEWS2/snewpy</a>
**Version:** v1.1b3
**Editor:** @dfm
**Reviewers:** @apizzuto, @PeterDenton
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-09-14 20:52] whedon commented on #3729
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-14 20:52] whedon commented on #3729
[code]

[2021-09-14 20:52] whedon commented on #3729
Wordcount for `paper.md` is 1075

[2021-09-14 20:53] whedon commented on #3729
[code]

[2021-09-14 20:53] whedon commented on #3729
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03729/joss.03729/10.21105.joss.03729.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03729/joss.03729/10.21105.joss.03729.pdf) :page_facing_up: :point_left:

[2021-09-14 20:53] whedon commented on #3678
:wave: @Thomieh73, please update us on how your review is going (this is an automated reminder).

[2021-09-14 20:53] whedon commented on #3678
:wave: @afrubin, please update us on how your review is going (this is an automated reminder).

[2021-09-14 20:54] Kevin-Mattheus-Moerman commented on #3579
@openjournals/dev can you see what is wrong with this :point_up:

[2021-09-14 20:55] Kevin-Mattheus-Moerman commented on #3611
@mikesmithlab :point_up: can you have a look at these comments?

[2021-09-14 20:57] Kevin-Mattheus-Moerman commented on #3611
@tacaswell thanks again for agreeing to help review this work. I think I remember you saying you'd be able to help around mid-September. This comment is just to check in with you to see how you are doing. Are you able to start with this review soon? Thanks.

[2021-09-14 21:00] Zitzeronion commented on #3728
@whedon commands

[2021-09-14 21:00] whedon commented on #3728
Here are some things you can ask me to do:

[code]

[2021-09-14 21:01] Zitzeronion commented on #3728
@whedon generate pdf from branch JOSS_submission

[2021-09-14 21:01] whedon commented on #3728
[code]

[2021-09-14 21:01] whedon commented on #3728
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03728/joss.03728/10.21105.joss.03728.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03728/joss.03728/10.21105.joss.03728.pdf) :page_facing_up: :point_left:

[2021-09-14 21:04] Sara-ShiHo commented on #3504
First off, thank you @jiemakel  for your detailed revision. I have a few more suggestions.

* I was hoping that the "Related Work" section would be added to the paper since technically it's in the "Software paper" part of the review checklist (I don't have an opinion on whether it needs to be in the README).
* For the Helsingin Sanomat documenation, add more explicit instructions for username and

[2021-09-14 21:18] diehlpk commented on #3465
I think that is not an issue, if it is well documented.

[2021-09-14 21:19] diehlpk commented on #3390
Hi @HaoZeke how is your review going?

[2021-09-14 21:19] diehlpk commented on #3390
Hi @likask how is your review going?

[2021-09-14 21:40] vyasr commented on #3662
@lucydot apologies for the late response, it looks like you've got the reviewers that you need at this point?

[2021-09-14 21:44] csoneson commented on #3661
Perfect - I'm going to hand this over now to the associate EiC on rotation for the final steps.

[2021-09-14 21:44] csoneson commented on #3661
@whedon recommend-accept

[2021-09-14 21:44] whedon commented on #3661
[code]

[2021-09-14 21:44] whedon commented on #3661
[code]

[2021-09-14 21:45] whedon commented on #3661
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2587

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2587, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-14 21:47] HaoZeke commented on #3390
@diehlpk The issues raised have not yet been addressed; so no further comments can be made at this point.

[2021-09-14 21:49] JostMigenda commented on #3729
A few suggestions for potential reviewers: **apizzuto**, **bradkav** (who has [previously reviewed a JOSS paper I submitted](https://github.com/openjournals/joss-reviews/issues/2877)), **peterdenton** (not on the JOSS reviewer list, but [interested in neutrino codes](https://peterdenton.github.io/Code/index.html)) and **rafaelab**. (And, if we extend the search a bit, also **kostunin**, **KAClough

[2021-09-14 22:05] dkauf42 commented on #3690
Sure thing. GitHub handles for the last four suggested reviewers (I don't yet know handles for the others) are:
havalapye; jessebash; lizadams; KarolinaPntzt

[2021-09-14 23:20] cpgr commented on #3673
Hi @leouieda - I must have missed the invite email so can't tick any of the checklist boxes at the moment. Can you please re-invite me?

[2021-09-14 23:39] Sbozzolo commented on #3703
Thanks!

I cannot find an overview of the features available/physics implemented. Does a such page exist? I think that it is really important to clearly present the capabilities of the code, so that people that have research projects in mind can see if GRChombo is the right tool to use or not. For instance, I couldn't clearly find if the code implements any quasi-isolated diagnostic for apparent h

[2021-09-14 23:47] danielskatz commented on #3673
@whedon re-invite @cpgr as reviewer

[2021-09-14 23:47] whedon commented on #3673
OK, the reviewer has been re-invited.

@cpgr please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-15 00:17] cpgr commented on #3673
I notice that the paper has been updated since I first read it

[2021-09-15 00:17] cpgr commented on #3673
@whedon generate pdf

[2021-09-15 00:17] whedon commented on #3673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: :point_left:

[2021-09-15 01:22] fboehm commented on #3417
Today I sent this email to Eli Jones, a collaborator of the submitting author. I copied the submitting author, too.

Hi, Eli,

Thanks so much! I really appreciate your enthusiasm and look forward to guiding you through the review process.

The only deadline is for, at a minimum, demonstration of further discussion - on the Github issue https://github.com/openjournals/joss-reviews/issues/3417 and o

[2021-09-15 03:49] akaszynski commented on #3673
Raised an issue regarding `ogs6py`: https://github.com/joergbuchwald/ogs6py/issues/14
Paper reads fairly well.  Made minor edits here: https://github.com/joergbuchwald/joss_ogs6py_VTUinterface/pull/3

[2021-09-15 08:50] Kevin-Mattheus-Moerman commented on #3603
@clarka34 thanks we'd be happy to have you help here yes. It sounds like installation could be challenging. Would you be okay with being added as an n+1th reviewer? If you manage to install and test the software that would be great, and perhaps @fibreglass2 can guide you through the process if there are any issues? If the installation proves too technical/difficult it would still be great if you c

[2021-09-15 08:50] whedon opened #3730 "[PRE REVIEW]: pyet: A Python package for estimating evaporation"
**Submitting author:** @mvremec (<a href="http://orcid.org/0000-0002-2730-494X">Matevž Vremec</a>)
**Repository:** <a href="https://github.com/phydrus/pyet" target ="_blank">https://github.com/phydrus/pyet</a>
**Version:** pyet v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-09-15 08:50] whedon commented on #3730
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-15 08:51] whedon commented on #3730
Wordcount for `paper.md` is 1401

[2021-09-15 08:51] whedon commented on #3730
[code]

[2021-09-15 08:51] whedon commented on #3730
[code]

[2021-09-15 08:51] whedon commented on #3730
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03730/joss.03730/10.21105.joss.03730.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03730/joss.03730/10.21105.joss.03730.pdf) :page_facing_up: :point_left:

[2021-09-15 08:53] Kevin-Mattheus-Moerman commented on #3729
@arfon @xuanxu @dfm this sounds like your :tea: (cup of tea), however you are both handling lots of submissions. I'll label this as waitlisted for now but let me know if you think you can take it on.

[2021-09-15 08:55] Kevin-Mattheus-Moerman commented on #3729
@JostMigenda thanks for this submission. As you can see from my comment, many of our editors in this domain are currently pre-ocupied with other submissions as JOSS is processing a bit of a backlog at the moment. As such I have listed this work as `waitlisted`, which means an editor will get to it once they are available. Thank you for your patience.

[2021-09-15 08:56] Kevin-Mattheus-Moerman commented on #3728
@whedon invite @dpsanders as editor

[2021-09-15 08:56] whedon commented on #3728
@dpsanders has been invited to edit this submission.

[2021-09-15 09:00] Kevin-Mattheus-Moerman commented on #3730
@mvremec  thanks for this submission. I have just flagged this submission for editorial board review. This is standard for submissions that are relatively small in size. This review takes about 1-2 weeks to complete. In the mean time you could work on those invalid/missing DOI's. You can call `@whedon generate pdf` and `@whedon check references` here to check if you fixed these issues.

[2021-09-15 09:02] mikldk commented on #3539
@seabbs Please respond before Sep 22 or else I will have to find another reviewer. (I have also tried to reach you multiple times by mail, including now.)

[2021-09-15 09:05] KAClough commented on #3703
We give a brief introduction to what the code can do in the "About GRChombo" page here:
https://github.com/GRChombo/GRChombo/wiki/About-GRChombo

and list tools here:
https://github.com/GRChombo/GRChombo/wiki/Existing-tools

But some of these pages are "under construction: and I agree it is a bit minimal - we can certainly update them to make them more clear. As it says in the About GRChombo page,

[2021-09-15 09:07] pdebuyl commented on #3653
Hi @lorenzo-rovigatti I want to make sure that you can proceed. JOSS recommends less than 6 weeks for the review, so there is no timing issue. Thanks for the update though.

[2021-09-15 09:36] c-martinez commented on #2731
Hi @arfon -- we are working on it, but still have a couple of points to address. I think we should be done in the next couple of weeks.

[2021-09-15 10:19] friedue opened #3731 "Contribution and authorship: Has the submitting author (@chrisamiller) made major contributions to the software? Does the full list of paper authors seem appropriate and complete?"

[2021-09-15 10:19] whedon commented on #3731
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-15 10:19] #3731 closed

[2021-09-15 10:28] arfon commented on #3579
Wow, that's deeply peculiar! No idea. I even tried writing this out as `&quot;raw data&quot;&#44;` in the `paper.md` but to no avail. I suggest we don't get blocked on this for now, but perhaps @tarleb has some ideas?

[2021-09-15 10:28] whedon commented on #3347
:wave: @baileythegreen, please update us on how your review is going (this is an automated reminder).

[2021-09-15 11:04] khinsen commented on #3558
@mjsottile This looks interesting indeed! I'd be happy to review, starting in about a week.

[2021-09-15 11:16] mdhurst1 commented on #3689
@kyleniemeyer @kbarnhart there is a license file in the JOSS-paper branch. I was under the impression I could prepare everything for this submission on a branch and then will pull request on completion of the review process if it goes to publication. I think a number of the issues highlighted here might be because you have not been looking at the branch?

[2021-09-15 11:18] mdhurst1 commented on #3689
Same for this, detailed usage instructions, documentation and example runs have been put together on the branch for the paper. See https://github.com/mdhurst1/Rocky-Profile-Model/tree/JOSS-Paper

I did look and hopefully addressed all of the journal's criteria.

[2021-09-15 11:19] mdhurst1 commented on #3689
Apologies for the delay in responding, I made the submissino the day before taking some holiday.

[2021-09-15 11:50] antviro commented on #3211
Hi @danielskatz,

Up to now, I have reviewed paper and the descriptions in the repository. They seem clear and quite interesting, I think they are ready to be published. Perhaps I miss some written documentation of the functions (besides the figure). Is there any? Despite there are two Jupyter notebooks describing its uses, It could be interesting.

Before finishing, I want to check functionality.

[2021-09-15 11:51] simonpcouch commented on #3661
Ah, that new flag for the missing `mosaic` DOI is correct. Just fixed!

[2021-09-15 11:52] simonpcouch commented on #3661
@whedon check references

[2021-09-15 11:52] whedon commented on #3661
[code]

[2021-09-15 11:52] simonpcouch commented on #3661
@whedon generate pdf

[2021-09-15 11:53] whedon commented on #3661
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03661/joss.03661/10.21105.joss.03661.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03661/joss.03661/10.21105.joss.03661.pdf) :page_facing_up: :point_left:

[2021-09-15 11:54] wkearn commented on #3707
I'd be happy to review this submission.

[2021-09-15 12:14] prashjha commented on #3668
Hello @Balaje @TLCFEM, I am wondering how is the review going?

@karthikncsu please let me know when you can start the review. If you are unable to perform the review, let me know.

[2021-09-15 12:22] leouieda commented on #3673
@cpgr let me know if you any further issues. And yes, the paper can change due to review. Please feel free to rebuild with whedon as often as you need.

[2021-09-15 12:24] leouieda commented on #3673
@akaszynski thanks for the review comments! I see a few unchecked item in your checklist and I assume they’re related to the issues you raised. Please go ahead and mark them as done things are resolved.

[2021-09-15 12:25] VivianePons commented on #3707
Thanks, that's perfect!

[2021-09-15 12:25] VivianePons commented on #3707
@whedon add @wkearn as reviewer

[2021-09-15 12:25] whedon commented on #3707
OK, @wkearn is now a reviewer

[2021-09-15 12:31] ebocher commented on #3541
@elbeejay
Comments from @arbennett and @omshinde have been fixed. We are now waiting for @abhishekvp

[2021-09-15 12:35] elbeejay commented on #3541
Great! Just to let you know how we will proceed, after all comments have been addressed I will reach out to the reviewers one last time so that they have a chance to do a final check and give their approval that the submission is ready to be published.

[2021-09-15 12:42] omshinde commented on #3541
@ebocher
I think this is the issue as it seems to be a `SSL connection error`. Thank you for addressing this.

[2021-09-15 12:45] omshinde commented on #3541
@ebocher Thank you for addressing the comments.
@elbeejay I am ready with my final review and waiting for your further instructions.

[2021-09-15 12:50] sandrinecharles commented on #3200
thanks Kristina for keeping me informed. I hesitate between laughing and crying, and this situation makes me also hesitate a lot to submit another manuscript that we currently polishing. BRs, Sandrine

[2021-09-15 12:50] elbeejay commented on #3541
Hi @omshinde, thank you for the constructive review! Once the other reviewers have finished their reviews and their comments have been addressed, I will reach out to simply confirm that you believe this submission is ready for publication. This gives you the opportunity (if you are able) to have a brief look at any new changes that have been made since your review was completed, and is the final o

[2021-09-15 13:11] whedon commented on #3679
:wave: @luciorq, please update us on how your review is going (this is an automated reminder).

[2021-09-15 13:11] whedon commented on #3679
:wave: @djmitche, please update us on how your review is going (this is an automated reminder).

[2021-09-15 13:12] danielskatz commented on #3628
After some editorial discussion, we have decided to proceed with the review.

[2021-09-15 13:18] dfm commented on #3729
@whedon assign me as editor

I'm happy to edit! As @Kevin-Mattheus-Moerman mentioned, we're a little swamped, but I'll do a first pass of editing and start tracking down reviewers in the next week or so. Thanks in advance for your patience!

[2021-09-15 13:18] whedon commented on #3729
OK, the editor is @dfm

[2021-09-15 13:18] joergbuchwald commented on #3673
@whedon generate pdf

[2021-09-15 13:19] whedon commented on #3673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: :point_left:

[2021-09-15 13:34] AlexanderJuestel commented on #3709
@crvernon is there anything that I can do in the meantime or do we have to wait for @omshinde  and @kanishkan91  to start the review?

[2021-09-15 13:35] JostMigenda commented on #3729
Thanks for volunteering—and yes, happy to wait a few days longer if it helps you stick to a sustainable workload!

One first question to the editor right away: As is common in astro/particle physics, this work was done not just by a small number of people but as part of a larger collaboration (in this case the SNEWS Collaboration). Is it possible to include the collaboration name after the author

[2021-09-15 13:59] Kevin-Mattheus-Moerman commented on #3579
@arfon Could we add an additional space to force it?

[2021-09-15 14:13] Zethson commented on #3622
Dear @vinisalazar,

thank you very much for your answers. I agree with your statements. Nevertheless, I still think that that a plugin for a workflow language could have good impact and hope that you will revisit this post publication (if no one from the OS community volunteers).

I found a typo in line 170: should be "containing"

@jmschrei I consider the paper to be well written with a novel vie

[2021-09-15 14:15] whedon commented on #3680
:wave: @hakanfriden, please update us on how your review is going (this is an automated reminder).

[2021-09-15 14:16] tarleb commented on #3579
Could you try setting

    ---
    lang: en-GB
    ---

in the YAML metadata block to force the comma out of the quote?

[2021-09-15 14:36] friedue commented on #3722
I've opened a couple of issues in the repo, most of them dealing with relatively minor issues. The main issue IMO is the installation/docker use and the lack of a proper use-case.

<https://github.com/genome/bam-readcount/issues/79>, <https://github.com/genome/bam-readcount/issues/80>, <https://github.com/genome/bam-readcount/issues/81>, <https://github.com/genome/bam-readcount/issues/82>

[2021-09-15 14:49] ljakoster commented on #3727
@rkurchin, good point. We have only published brief descriptions of the
code as one does in the method-section of a paper. So, only the
mathematical form of the equations and the iteration loop (simplified). The
difference equations, the code, the parameters, the manual are all new.

jan anton

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen

[2021-09-15 15:17] mvremec commented on #3730
Thank you for the information @Kevin-Mattheus-Moerman! I will check and correct the DOI's in the meantime.

[2021-09-15 15:27] karthikncsu commented on #3668
@prashjha, Sorry for the delay. I have started the review!

[2021-09-15 15:29] crvernon commented on #3709
Thanks for checking in @AlexanderJuestel - at this point we will wait on the first round of feedback to come in as issues/comments. You can address these as they come up to expedite the process. I'll periodically send out check-in comments that open up lines for us to communicate any blockers to progress.

[2021-09-15 15:33] arfon commented on #3579
@mh-skjelvareid – could you merge this PR so we can try @tarleb's suggestion? https://github.com/mh-skjelvareid/synaptus/pull/4

[2021-09-15 15:56] nkeim commented on #3611
I've created the 8 above-referenced issues in the software repository, none of which I think should hold up publication. Aside from my remaining checklist items mentioned above, I am done and I am happy to recommend publication. I especially appreciate the tutorial videos and the range of representative examples, and I think the software is a good fit to the stated use case of basic particle track

[2021-09-15 16:02] tmickleydoyle commented on #3330
Hey @jGaboardi 👋

I opened an [issue](https://github.com/pysal/spopt/issues/195) in the spopt repo about a challenge I am experiencing when trying to import `MCLP`. Thank you 🙇

[2021-09-15 16:02] vinisalazar commented on #3622
Thank you very much for your review. I have fixed the typo that was mentioned.

[2021-09-15 16:27] akaszynski commented on #3673
Will do.  Busy with day job, will work on it this evening.

[2021-09-15 16:46] rashti-alireza commented on #3703
Hi all,

@KAClough,
I appreciate the efforts that you and the others put to develop GRChombo and then made it open source to be used by the others as well ...

I am at the phase of installation, I have noticed a few minor things. Although they are mostly targeting Chombo but for the sake of completeness I have listed them as follows:

o. At "https://github.com/GRChombo/GRChombo/wiki/Compiling-Chom

[2021-09-15 16:52] abhishekvp commented on #3541
@ebocher @elbeejay Please find my review and comments below:

Thanks to the authors for their contribution to the Open Source Community and for their interest in publishing their work in the Journal of Open Source Software.

### Research Paper

The paper is very well organized. It discusses the GeoClimate processing toolbox that has been developed to compute complex morphological indicators and ur

[2021-09-15 17:10] KAClough commented on #3703
Thanks @rashti-alirez! I will let @mirenradia respond on this as he is our most qualified compilation expert :-)

[2021-09-15 17:40] jmschrei commented on #3622
Great, thanks so much for your review @Zethson !

[2021-09-15 18:23] jgostick commented on #2976
@whedon set V1.0.1 as version

[2021-09-15 18:23] whedon commented on #2976
OK. V1.0.1 is the version.

[2021-09-15 18:24] jgostick commented on #2976
@whedon set 10.5281/zenodo.5501541 as archive

[2021-09-15 18:25] whedon commented on #2976
OK. <a href="https://doi.org/10.5281/zenodo.5501541" target="_blank">10.5281/zenodo.5501541</a> is the archive.

[2021-09-15 18:25] jgostick commented on #2976
@whedon recommend-accept

[2021-09-15 18:25] whedon commented on #2976
[code]

[2021-09-15 18:25] whedon commented on #2976
[code]

[2021-09-15 18:26] whedon commented on #2976
PDF failed to compile for issue #2976 with the following error:
[code]

[2021-09-15 18:27] jgostick commented on #3458
@whedon check references

[2021-09-15 18:38] kbarnhart commented on #3689
@mdhurst1 I've conferred with others on the joss editorial board.
- Please put the license file on the default branch. It is important that it be there at the start of the review.
- The other content is OK to stay on a development branch while this is considered by JOSS. I will make sure to direct the reviewers to consider this branch.

Looking at the JOSS-Paper branch and the documentation, I sti

[2021-09-15 18:38] adi3 commented on #3527
@rMassimiliano @malmaud - let me try re-adding both of you as reviewer, see if that sends you a renewed link. Can you please confirm? If not, then I'll escalate the issue to the EiC

[2021-09-15 18:38] adi3 commented on #3527
@whedon add @malmaud as reviewer

[2021-09-15 18:38] whedon commented on #3527
OK, @malmaud is now a reviewer

[2021-09-15 18:38] adi3 commented on #3527
@whedon add @rMassimiliano as reviewer

[2021-09-15 18:38] whedon commented on #3527
OK, @rMassimiliano is now a reviewer

[2021-09-15 18:42] adi3 commented on #3587
@DanielMyshkin @paragkulkarni11 @dvysardana @kakirastern - Want to check in with you all once more. We already have one reviewer for this submission, and need only one more. Would any of you be interested in reviewing it?

[2021-09-15 18:52] mh-skjelvareid commented on #3579
@arfon Done!

[2021-09-15 19:07] arfon commented on #3579
@whedon generate pdf

[2021-09-15 19:08] whedon commented on #3579
PDF failed to compile for issue #3579 with the following error:
[code]

[2021-09-15 19:11] arfon commented on #3579
:sad: ok, looks like that's not a quick fix.

[2021-09-15 19:13] mschordan commented on #3519
@fAndreuzzi

If you want to mention those, then there should also be a link to the respective GitHub repo, otherwise it's not clear what you are referring to. Based on whether you want to provide a reference/link you can decide whether you want to mention it.

Indeed.

Where you mention that "our package may be useful to assess the performance", there it would be good to also provide some numbers

[2021-09-15 19:16] amkram commented on #3677
Thank you @bede! We appreciate your positive feedback, and we have included the JOSS badge in our README per your suggestion.

[2021-09-15 19:30] kblin commented on #3677
I'm hoping to finish my review this week.

[2021-09-15 19:47] Isurwars commented on #2976
@whedon generate pdf

[2021-09-15 19:48] whedon commented on #2976
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: :point_left:

[2021-09-15 20:20] djmitche commented on #3679
I think we're both waiting on issues linked above to be solved.

[2021-09-15 20:35] georgiastuart commented on #3651
I'm beginning my review, sorry for the delay!

[2021-09-15 22:05] afrubin commented on #3678
I started with the installation instructions and have opened some related issues:
https://github.com/wilkelab/Opfi/issues/198
https://github.com/wilkelab/Opfi/issues/199
https://github.com/wilkelab/Opfi/issues/200
https://github.com/wilkelab/Opfi/issues/201

[2021-09-15 22:08] ml-evs commented on #3458
@whedon generate pdf from branch joss

[2021-09-15 22:08] whedon commented on #3458
[code]

[2021-09-15 22:09] whedon commented on #3458
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: :point_left:

[2021-09-15 22:09] ml-evs commented on #3458
I have removed my email address footnote and replaced it with "corresponding author", as I think this was causing the PDF build failure. Interestingly, the PDF build did work with the whedon GH action (see https://github.com/Materials-Consortia/optimade-python-tools/runs/3600587073?check_suite_focus=true - can raise an issue if desired).

Hopefully everything is okay now.

[2021-09-15 22:10] ml-evs commented on #3458
@whedon check references

[2021-09-15 22:16] alexismhill3 commented on #3678
Thanks @afrubin, I'll get started working on these

[2021-09-15 23:45] jGaboardi commented on #3330
@tmickleydoyle Thank you opening the issue. The reason the import is failing is because the `locate` module is not part of `v0.1.1` release that is under review here. The original JOSS paper submission back in May (I believe) by @xf37 focused on regionalization because that was the only module in `spopt` at the time, with no `locate` functionality (the `locate` module is merged into code base but

[2021-09-16 01:22] soffner commented on #3559
Hi @dfm

Thanks. Any luck in the reviewer search?

For (1) I think we can be more explicit in the documentation about how to
submit issues. Right now it mentions our google group email (which reaches
all the current developers) but doesn't mention submitting a ticket to the
repository. Do you want me to make a change now to the documentation?

(2) I don't totally understand what you are suggesting

[2021-09-16 01:23] prashjha commented on #3668
@karthikncsu great. thanks!! :)

[2021-09-16 02:07] Sbozzolo commented on #3703
Does this mean that it is not possible to reproduce most of the results that presented in page 4 and 5 of the paper using the public GRChmbo (also taking into consideration the need of initial data)?

[2021-09-16 07:16] vissarion commented on #3364
@AlexanderMacL as you realize it is hard to find a second reviewer (I have also sent several emails) could you please recommend a few names to help proceeding with this submission?

[2021-09-16 07:37] mh-skjelvareid commented on #3579
@whedon generate pdf

[2021-09-16 07:37] whedon commented on #3579
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: :point_left:

[2021-09-16 07:40] mh-skjelvareid commented on #3579
Thanks for trying, @arfon ! I've reverted the change, and also decided to remove the quotation marks altogether - they're not really required in the context.

[2021-09-16 07:51] Zitzeronion commented on #3728
Added some more information to the affiliations and made .bib file spell Boltzmann with a capital B.
@whedon generate pdf from branch JOSS_submission

Another potential reviewer would be datseris.george@gmail.com, I think he is one of the founders of DrWatson.jl

[2021-09-16 07:51] Zitzeronion commented on #3728
@whedon generate pdf from branch JOSS_submission

[2021-09-16 07:51] whedon commented on #3728
[code]

[2021-09-16 07:52] whedon commented on #3728
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03728/joss.03728/10.21105.joss.03728.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03728/joss.03728/10.21105.joss.03728.pdf) :page_facing_up: :point_left:

[2021-09-16 08:33] PacoCosta commented on #3211
Hi @antviro,
There aren't such instructions. If you have already installed python3.7 on your computer you can use pip to install the requirements, as you said. The good thing about using Anaconda is that you have a version of JupyterLab/Jupyter Notebook available there. Otherwise, if you want to go through the Tutorials, you have to install Jupyter separately.
You don't need to install anything el

[2021-09-16 08:42] Shyentist commented on #3467
@whedon generate pdf

[2021-09-16 08:43] whedon commented on #3467
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03467/joss.03467/10.21105.joss.03467.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03467/joss.03467/10.21105.joss.03467.pdf) :page_facing_up: :point_left:

[2021-09-16 08:47] Shyentist commented on #3467
@KristinaRiemer I think the repository is ready for a second review. Is there something for me to do?

[2021-09-16 09:38] KAClough commented on #3703
It really is a question of how much work the user would need to do to recreate the results :-)

For vacuum spacetimes - ie BH binaries - everything is already in the public code including an adapted version of TwoPunctures for initial conditions. For any scalar field work (cosmology, ECOs, Scalar DM etc) again all of the ingredients are in the code already, but the user may need to amend the poten

[2021-09-16 09:54] NMontanaBrown commented on #2606
@avik-pal  thanks, list completed @arfon

[2021-09-16 10:46] fabian-s commented on #3652
@WildfireXIII  : please add a CONTRIBUTING.md file or similar to your repo, as pointed out by @assenmacher-mat

[2021-09-16 10:48] fabian-s commented on #3652
@sara-02 please update us on how your review is going, as you know JOSS aims for quick turnaround times.

[2021-09-16 10:50] fabian-s commented on #3686
after reviewing the code, I think I  have to agree with @arfon  's assessment.

[2021-09-16 10:50] fabian-s commented on #3686
@whedon query scope

[2021-09-16 10:50] whedon commented on #3686
Submission flagged for editorial review.

[2021-09-16 10:57] mirenradia commented on #3703
Hi, @rashti-alireza, let me try and respond to some of your comments.

The reason this is not explained is because pretty much all numerical relativity users will want to build Chombo with HDF5 support (it is necessary in order to be able to use the checkpointing feature). In fact one of the only times I have set `USE_HDF=FALSE`, is for the github action that builds and runs the GRChombo tests wit

[2021-09-16 11:07] arfon commented on #2606
:wave: @yxoos –  would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

We already have one review from @NMontanaBrown and are looking for a second reviewer to help us wrap up the JOSS review process.

The submission we'd be asking you to re

[2021-09-16 11:14] TLCFEM commented on #3668
working on it.

[2021-09-16 11:17] mikesmithlab commented on #3611
I've checked initials, and changed / added the suggested citation to the paper.bib file.  I've resolved some of the issues above. The issue about smoothing needs some more info to resolve. The other two may be small bugs that I think I can resolve fairly easily. Thanks for your efforts, much appreciated.

[2021-09-16 11:33] willu47 commented on #3601
Apologies for the delay in following up, I have been on leave.  @crvernon I am afraid I'm not fully happy with the data install yet as outlined in issue IMMM-SFA/cerf#71.  Otherwise, I'm happy that my comments have been addressed.

[2021-09-16 12:10] jbytecode commented on #3430
Dear editor @drvinceknight

The second reviewer did not give a response after the date July, 16th. Maybe in fact their notifications are not enabled. Of course, this is just a guess, sorry if I messed up the process.

Fyi, regards.

[2021-09-16 12:23] nkeim commented on #3611
@whedon generate pdf

[2021-09-16 12:23] whedon commented on #3611
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: :point_left:

[2021-09-16 12:38] nkeim commented on #3611
@mikesmithlab Thanks! One small final request: it's probably best practice to link to https://doi.org/10.5281/zenodo.3492186 instead of the zenodo.org page for trackpy. In any case I'm happy to sign off and I have checked all my boxes.

[2021-09-16 12:49] jbytecode commented on #3720
👋👋👋 Dear  @daviddewhurst  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_CategoricalTimeSeries.jl: A toolbox for categorical time-series analysis_". You can find more information at the top of this Github issue (https

[2021-09-16 12:57] ljakoster commented on #3412
@roderickmackenzie many thanks for your input; we'll be working on those
and will post a new version (I'm assuming that's how it's done).

jan anton

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Tue

[2021-09-16 13:03] Nikoleta-v3 commented on #3699
👋 @JaroslavHron & @sarats & @camillescott & @mlxd would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "SPbLA: The Library of GPGPU-powered Sparse Boolean Linear Algebra Operations". You

[2021-09-16 13:27] stewartsl commented on #3652
@fabian-s please note that there is currently a contributing.MD file in master [tx2 contributing](https://github.com/ORNL/tx2/blob/master/CONTRIBUTING.md). does this sufficiently address your concern?

[2021-09-16 13:51] abb58 commented on #3699
@Nikoleta-v3 Thanks for getting in touch. I am willing to participate in reviewing your submission to JOSS.

[2021-09-16 14:06] fabian-s commented on #3652
sure, that seems sufficient.

[2021-09-16 14:17] drewbitllama commented on #3364
Hi Vissarion,

I apologize, I just saw this email now—I’d be happy to review the paper if
you still need reviewers.

Cheers,
Drew

On Thu, Sep 16, 2021 at 12:16 AM Vissarion Fisikopoulos <
***@***.***> wrote:

[2021-09-16 14:38] vissarion commented on #3364
@drewbitllama sure!

[2021-09-16 14:38] vissarion commented on #3364
@whedon add @drewbitllama as reviewer

[2021-09-16 14:38] whedon commented on #3364
OK, @drewbitllama is now a reviewer

[2021-09-16 14:40] whedon opened #3732 "[REVIEW]: OSCILOS_brass: an acoustic solver for brass instruments"
**Submitting author:** @AlexanderMacL (<a href="http://orcid.org/0000-0002-5835-216X">Alexander MacLaren</a>)
**Repository:** https://github.com/MorgansLab/OSCILOS_brass/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @vissarion
**Reviewers:** @astanziola, @drewbitllama, @krystophny
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-09-16 14:40] whedon commented on #3364
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3732.

[2021-09-16 14:40] #3364 closed

[2021-09-16 14:40] whedon commented on #3732
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @astanziola, @drewbitllama it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-09-16 14:40] whedon commented on #3732
[code]

[2021-09-16 14:40] whedon commented on #3732
PDF failed to compile for issue #3732 with the following error:
[code]

[2021-09-16 14:43] whedon commented on #3732
[code]

[2021-09-16 14:44] vissarion commented on #3732
@whedon check references

[2021-09-16 15:07] felixcremer commented on #3720
Dear @jbytecode,

I would be willing to review this submission, but I can only start doing the review two weeks from now.

Is it a conflict of interest, that I and the main author are both employed by the Max-Planck-Society?
We are on different institutes and haven't met each other.

[2021-09-16 15:10] arfon commented on #3720
Thank you for disclosing this @felixcremer. We are happy to waive this possible conflict (i.e., we are happy to have you as a reviewer!).

[2021-09-16 15:15] jbytecode commented on #3720
@whedon add @felixcremer as reviewer

Thank you @felixcremer, it is not a problem to wait until you are available. This deadline is reasonable for us. Thank you for accepting our invitation.

[2021-09-16 15:15] whedon commented on #3720
OK, @felixcremer is now a reviewer

[2021-09-16 15:16] jbytecode commented on #3720
@whedon start review

[2021-09-16 15:16] whedon opened #3733 "[REVIEW]: CategoricalTimeSeries.jl: A toolbox for categorical time-series analysis"
**Submitting author:** @johncwok (<a href="http://orcid.org/0000-0001-6266-5575">Corentin  Nelias</a>)
**Repository:** <a href="https://github.com/johncwok/CategoricalTimeSeries.jl" target ="_blank">https://github.com/johncwok/CategoricalTimeSeries.jl</a>
**Version:** v1.1.4
**Editor:** @jbytecode
**Reviewer:** @bkamins, @felixcremer
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.169176

[2021-09-16 15:16] whedon commented on #3720
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3733.

[2021-09-16 15:16] #3720 closed

[2021-09-16 15:16] whedon commented on #3733
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bkamins, @felixcremer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-09-16 15:16] whedon commented on #3733
Wordcount for `paper.md` is 784

[2021-09-16 15:16] whedon commented on #3733
[code]

[2021-09-16 15:16] whedon commented on #3733
[code]

[2021-09-16 15:16] whedon commented on #3733
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03733/joss.03733/10.21105.joss.03733.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03733/joss.03733/10.21105.joss.03733.pdf) :page_facing_up: :point_left:

[2021-09-16 15:20] jbytecode commented on #3733
Dear @bkamins and @felixcremer 👋👋👋

This is the review issue. There are 20 check items for each reviewer. Whenever you finish reviewing the corresponding item, you can set it checked. You can also interact with the author(s), other reviewer(s) and me (editor) during the reviewing process.

Please do not hesitate to ask me anything.

Thank you in advance.

[2021-09-16 15:33] pps121 commented on #3447
Below are my thoughts and suggestions:

- should include more examples of how to use the software thinking from cross domain horizons (to solve by real-world problems)
- software documentation should be more details, including OS variants.
- Should clearly mention, how this packages are better than other baselines / commonly-used packages to decide state of the field.

Thank you.

[2021-09-16 15:41] KristinaRiemer commented on #3200
Hi @sandrinecharles, sorry for this taking so long. I do want to emphasize that this is an unusual circumstance. Most JOSS submissions get through the review process faster than this, which is also generally faster than manuscripts at most scientific journals.

@BrandonEdwards @puruckertom this is a friendly reminder to have your reviews in by tomorrow please!

[2021-09-16 15:46] KristinaRiemer commented on #3467
Thanks @Shyentist! The next step would be for @jules32 and @HeatherWelch to review the changes you've made, update the review checklists accordingly, and identify if there is anything remaining that could be addressed.

[2021-09-16 15:49] fibreglass2 commented on #3603
Certainly. I just updated the documentation to clarify some points in the installation process for Windows users and provided both single threaded and multi-threaded precompiled programs in the newest release.

[2021-09-16 16:03] rashti-alireza commented on #3703
@mirenradia,
Sounds good then! Thanks :)

[2021-09-16 16:13] sandrinecharles commented on #3200
@KristinaRiemer In case you would have to ask for another reviewers, I had suggested several ones that would be able to do a good job. Please consider these proposals in priority maybe ir order maybe to accelerate the process later on.

[2021-09-16 16:27] bshoshany commented on #3291
Dear @gkthiruvathukal, @zeroset, and @cedricchevalier19,

To add to my previous post - there is a simpler explanation for why matrix addition isn't seeing a substantial performance boost. Although the thread pool eliminates the substantial overhead of creating and destroying threads, there is still some overhead to the parallelization in the form of splitting the operation into tasks, submitting t

[2021-09-16 16:49] KristinaRiemer commented on #3200
I reached out to some of your recommended folks when I was looking for reviewers, but these two reviewers were the first to respond and agree to review. I think that sounds like a good next step, thank you.

[2021-09-16 17:37] mikesmithlab commented on #3611
@whedon generate pdf

[2021-09-16 17:38] whedon commented on #3611
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: :point_left:

[2021-09-16 17:39] mikesmithlab commented on #3611
@whedon generate pdf

[2021-09-16 17:40] whedon commented on #3611
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: :point_left:

[2021-09-16 17:42] mikesmithlab commented on #3611
Not sure what I'm doing wrong. On the paper.bib file the url is "https://doi.org/10.5281/zenodo.3492186" but in the proof it reverts to https://zenodo.org........

[2021-09-16 18:00] kevinlibuit commented on #3691
Kelly,

Yes! Would be more than happy to contribute to the review of this
manuscript.

Best,

Kevin

On Mon, Sep 13, 2021 at 10:29 AM Kelly L. Rowland ***@***.***>
wrote:

[2021-09-16 18:07] kellyrowland commented on #3691
Great! Thanks very much.

[2021-09-16 18:07] kellyrowland commented on #3691
@whedon add @kevinlibuit as reviewer

[2021-09-16 18:08] whedon commented on #3691
OK, @kevinlibuit is now a reviewer

[2021-09-16 18:37] kanishkan91 commented on #3709
@whedon generate pdf

[2021-09-16 18:38] whedon commented on #3709
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03709/joss.03709/10.21105.joss.03709.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03709/joss.03709/10.21105.joss.03709.pdf) :page_facing_up: :point_left:

[2021-09-16 18:51] Nikoleta-v3 commented on #3699
@whedon assign @abb58 as reviewer

[2021-09-16 18:51] kthyng commented on #3485
Excellent! Thanks so much for everyone's work on this and good job @fawda123! I'll work on the final steps of this process.

[2021-09-16 18:51] whedon commented on #3699
OK, @abb58 is now a reviewer

[2021-09-16 18:51] kthyng commented on #3485
@whedon check references

[2021-09-16 18:52] whedon commented on #3485
[code]

[2021-09-16 18:54] kthyng commented on #3485
@whedon generate pdf

[2021-09-16 18:55] whedon commented on #3485
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03485/joss.03485/10.21105.joss.03485.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03485/joss.03485/10.21105.joss.03485.pdf) :page_facing_up: :point_left:

[2021-09-16 19:02] kanishkan91 commented on #3709
@AlexanderJuestel I've started the review. I had some very minor questions for you related to the repository,
1. Firstly, there are two pull requests that are open [here](https://github.com/cgre-aachen/gemgis/pulls). Do these need to be merged in? Just wanted to confirm.
2. I looked at the recent commit history. It looked like the recent commits were mostly from yourself and @RichardScottOZ. Could

[2021-09-16 19:30] lucydot commented on #3662
Hi @vyasr yes we are good for reviewers, I'll be sure to ping you again in the future when there is something in a similar domain 👍

[2021-09-16 19:39] UTH-Tuan commented on #3727
I am bit confused by documentation to compile it. Sorry, my previous experience was in Object Pascal using Delphi IDE. So it might be helpful to get more clarification on how to compile it. Specifically I am thrown off by the bracket placeholder ( [zimbt] )... is this supposed to be the path to the ZimbT folder?

[2021-09-16 19:41] nicksisco1932 commented on #3598
I am happy with this as well, I didn't get any alerts so sorry if I was delaying anything. It performed as advertised and is well documented. All the best.

[2021-09-16 19:53] xf37 commented on #3330
@jGaboardi <https://github.com/jGaboardi> Thanks for taking care of this. I
am back to work now.
I am fine with both, either keeping this version or creating a new release.
Just let me know your thoughts @gegen07 <https://github.com/gegen07> (+
@qszhao <https://github.com/qszhao> & @ljwolf <https://github.com/ljwolf>)
@sjsrey <https://github.com/sjsrey>, @knaaptime
<https://github.com/knaaptime>

[2021-09-16 20:14] KAClough commented on #3703
@rashti-alireza thanks! These are good comments - I will update for them and then ask you to take another look to see if it makes more sense - probably early next week if that's ok.

[2021-09-16 20:31] clarka34 commented on #3603
@Kevin-Mattheus-Moerman I will take a look tomorrow and see how the installation goes. If it goes okay, I would be happy to do the rest!

[2021-09-16 20:33] Kevin-Mattheus-Moerman commented on #3603
@clarka34 okay thanks

[2021-09-16 20:43] Kevin-Mattheus-Moerman commented on #3638
@whedon invite @oliviaguest as editor

[2021-09-16 20:43] whedon commented on #3638
@oliviaguest has been invited to edit this submission.

[2021-09-16 20:43] Kevin-Mattheus-Moerman commented on #3638
@cMadan if @oliviaguest cannot take this, is this something you could help with?

[2021-09-16 20:44] Kevin-Mattheus-Moerman commented on #3665
@whedon invite @pibion as editor

[2021-09-16 20:44] whedon commented on #3665
@pibion has been invited to edit this submission.

[2021-09-16 21:03] Kevin-Mattheus-Moerman commented on #2976
@Isurwars

To process this work for acceptance there are some minor last steps to work on:
- [ ] Please edit (you have to do this manually) the Zenodo archive DOI such that the title matches that of the paper: `Correlation: An Analysis Tool for Liquids and for Amorphous Solids`

I have read the paper and have some minor comments below:
- [ ] Check additional space in `(rdfpy, RadialDistributionFun

[2021-09-16 21:05] dfm commented on #3199
@pikarpov-LANL — I've opened a pull request with some edits to the paper. Can you take a look at that and once you've merged and fixed the remaining issues, please take the following steps:

1. Comment `@whedon generate pdf from branch joss` on this thread and read through the manuscript to make sure that you're happy with it (it's hard to make changes later!), especially your name and affiliation

[2021-09-16 21:06] Kevin-Mattheus-Moerman commented on #3661
@whedon accept deposit=true

[2021-09-16 21:07] whedon commented on #3661
[code]

[2021-09-16 21:07] whedon commented on #3661
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1438610557687541763) 👈 🐦🐦🐦

[2021-09-16 21:07] whedon commented on #3661
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2588
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03661](https://doi.org/10.21105/joss.03661)
2. If everything look

[2021-09-16 21:10] Kevin-Mattheus-Moerman commented on #3661
@simonpcouch congratulations on getting this work published in JOSS

@csoneson, thanks for editing!

@prdm0, @kellieotto thanks a lot for your help reviewing this work!

[2021-09-16 21:10] #3661 closed

[2021-09-16 21:10] whedon commented on #3661
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03661/status.svg)](https://doi.org/10.21105/joss.03661)

**We need your help!**

Journal of Open Source Softwa

[2021-09-16 21:14] simonpcouch commented on #3661
Thank you, all!🦋

[2021-09-16 21:16] rashti-alireza commented on #3703
👍

[2021-09-16 21:20] KristinaRiemer commented on #3200
@whedon re-invite @puruckertom as reviewer

[2021-09-16 21:20] whedon commented on #3200
OK, the reviewer has been re-invited.

@puruckertom please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-16 21:24] Kevin-Mattheus-Moerman commented on #3579
@btreeby @dannyramasawmy @jarosjir @thewtex @pharshalp @Scivision @thewtex would you be interested in reviewing this work (a MATLAB/octave toolbox for ultrasound imaging) for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
The smooth [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub, and focuses on the [software](https://gi

[2021-09-16 21:28] cmaimone commented on #3617
I did an initial review - as you can see above, I added issues to the repo.

Most are around documentation.  I think this project was pulled out as a separate piece from a larger project.  The documentation still seems to reflect that and isn't yet sufficient for an independent user to come and understand and use the package.  I approached this as if I'm a researcher with a collection of legal tex

[2021-09-16 21:28] puruckertom opened #3734 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2021-09-16 21:28] whedon commented on #3734
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-16 21:28] #3734 closed

[2021-09-16 21:58] kthyng commented on #3485
Paper looks good!

[2021-09-16 21:59] kthyng commented on #3485
@fawda123 Can you verify what version of the software should be associated with your JOSS publication? Also, can you make an archive of the software at a place like Zenodo and then report the doi here to associate with your paper? Please modify the metadata of the archive as needed so that the title and author list exactly match your JOSS paper.

[2021-09-16 23:06] pibion commented on #3665
Hi all, I'm at limited bandwidth for the next week and a half.  @zhanghe9704 do you have any recommended reviewers for this submission?  If you do we can get started with invitations to them.

[2021-09-16 23:25] gkthiruvathukal commented on #3291
@zeroset  I was wondering whether you have any follow up to @bshoshany's follow-up. It seems like Barak is working to address your feedback. Would the improvements he is suggesting (two comments ago) be sufficient to move the needle forward?

Also, we definitely need to hear from @cedricchevalier19. Can you let us know your input on this submission.

@bshoshany  Can you speak more specifically to

[2021-09-16 23:53] biblicabeebli commented on #3417
(waaaooow I left this unsubmitted in an open tab.  punching the comment button now for completeness I guess.)

Hello!
I'm working with Professor Onnela, I'm one of the primary maintainers and original developers of the Beiwe platform.  I just joined the lab as an employee and can be available for this immediately.  I have an email thread open with Erik, feel free to get in direct contact with me.

[2021-09-17 01:29] jGaboardi commented on #3330
@arfon @vissarion Do you have any thoughts on this? @xf37 is OK for reworking the manuscript and we would like @gegen07 to get onboard to highlight his achievements in the `locate` module.

[2021-09-17 01:35] mingzehuang commented on #3634
Thank you so much for all of your comments @rmflight ! We've replied on all issues:) Let us know anything need to be improved:)

[2021-09-17 02:34] bshoshany commented on #3291
@gkthiruvathukal thank you so much for the quick reply!

Regarding research projects: The whole reason I started writing this thread pool in the first place was to use in my own research project, which was intended to implement general-relativistic ray-tracing in order to visualize interesting spacetime geometries such as black holes, wormholes, and warp drives. Unfortunately, that project is stil

[2021-09-17 02:52] mattdahl commented on #3617
@cmaimone Thank you! We will address those issues and make revisions in the coming days :)

[2021-09-17 03:00] cmaimone commented on #3617
I should also say that the package is impressive - I get a little focused on the checklist and issues sometimes.  But having done similar (but smaller) projects in the past, I appreciate how much effort went into this, and it's great that it's shared for others to use :)

[2021-09-17 04:52] zonca commented on #3534
@arfon no answers, do you plan to ask someone else? Thanks!

[2021-09-17 05:43] Kevin-Mattheus-Moerman commented on #3611
@whedon check references

[2021-09-17 05:44] whedon commented on #3611
[code]

[2021-09-17 07:07] linuxscout commented on #3719
I haven't access to check  options in the checklist,

[2021-09-17 07:08] ljakoster commented on #3727
We'll improve the description of how to compile the code (and where to get
the compiler re Rod's comments). About ZimT, it should work by 1)
installing the fpc compiler (no IDE is needed)
2) go to the ZimT folder (note: no b in spelling).
3) type fpc zimt.pas

jan anton
--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for

[2021-09-17 07:22] vincentberenz commented on #2752
@whedon generate pdf

[2021-09-17 07:22] whedon commented on #2752
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: :point_left:

[2021-09-17 07:23] vincentberenz commented on #2752
@gkthiruvathukal

The o80's drivers for the Franka robot have been made open source, and I updated the paper to refer to them

[2021-09-17 07:37] patrickfuchs commented on #3521
@whedon generate pdf

[2021-09-17 07:38] whedon commented on #3521
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03521/joss.03521/10.21105.joss.03521.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03521/joss.03521/10.21105.joss.03521.pdf) :page_facing_up: :point_left:

[2021-09-17 07:42] patrickfuchs commented on #3521
@richardjgowers, we updated the links to the Zenodo and Software Heritage archive, both now point to the current version, i.e. 1.6.0. The new Zenodo link is : https://zenodo.org/record/5356246.

[2021-09-17 07:55] xuanxu commented on #3641
@thomgrand: did you have the opportunity to address @lucaferranti's [comments](https://github.com/openjournals/joss-reviews/issues/3641#issuecomment-914074505)?

@RobertRosca: Any update on your review?

[2021-09-17 08:31] ChrisW09 commented on #3719
@linuxscout thanks for the update! @arfon could you help with this question "I'am not assigned to this issue, to perform the review, please assign me." thank you!

[2021-09-17 09:47] UMTti commented on #3504
I've done the following additions to the repository as @Sara-ShiHo suggested:

- Related work section has been added to the paper in this [commit](https://github.com/hsci-r/finnish-media-scrapers/commit/79e3bda4717e74f47985ac817886d46844e10911)
- In the [commit](https://github.com/hsci-r/finnish-media-scrapers/commit/8462e0fc6588bc9a8a7ae7da26587830a0648d91), instructions for signing up to HS has

[2021-09-17 10:10] ml-evs commented on #3458
Is there anything else needed from us @jgostick?

[2021-09-17 10:12] mikapfl commented on #3546
Hi,

I've updated my checklist and reported some installation problems that should be rather straight-forward to fix.

I think Reel 1.0 is a fairly intuitively usable software which can be useful for analysis of preliminary results at the beamline as well as later on in the refinement process. However, I think to make Reel a solid foundation for future updates and maintenance, it needs automated t

[2021-09-17 10:22] step21 commented on #3617
I'll get to it today or tomorrow.

[2021-09-17 10:44] fraukewiese commented on #3574
@szkafander @sptennak
Would one of you be willing to review the submission [LoadProfileGenerator: An Agent-Based Behavior Simulation for Generating Residential Load Profiles](https://github.com/FZJ-IEK3-VSA/LoadProfileGenerator) ?
The review has started already, but another reviewer could not make it, so it would be great if you could review this submission, since your programming skills with C# f

[2021-09-17 11:21] vissarion commented on #3330
@jGaboardi if `locate` module is the best way to address the [review issue](https://github.com/pysal/spopt/issues/195) I agree to work on including it (either in this release or in a fresh one) and also update the JOSS paper text.

[2021-09-17 11:24] nickbearman commented on #3609
Thanks very much @xp-song this really does make things clearer

[2021-09-17 11:24] nickbearman commented on #3609
Thanks - these look good too

[2021-09-17 11:26] nickbearman commented on #3609
Thanks @martinfleis I am now happy with the paper.

[2021-09-17 12:06] arfon commented on #3719
@linuxscout – did you accept the invitation at https://github.com/openjournals/joss-reviews/invitations ?

[2021-09-17 12:06] arfon commented on #3719
@whedon re-invite @linuxscout as reviewer

[2021-09-17 12:06] whedon commented on #3719
OK, the reviewer has been re-invited.

@linuxscout please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-17 12:11] danielskatz commented on #3617
Thanks to everyone so far!

[2021-09-17 12:35] eferrea commented on #3638
Hi @Kevin-Mattheus-Moerman, I was also suggesting other potential reviewers: Agricolab, TomDonoghue and JanCBrammer. Best

[2021-09-17 13:01] clarka34 commented on #3603
@Kevin-Mattheus-Moerman I worked on the installation today and was able to use both of the precompiled versions (windows + linux) and then compiled it successfully in windows (although with warnings). I did not have any luck compiling in linux, but I think that was a problem with the dependencies. I found a bunch of minor things that could be improved in the documentation. Do I raise issues indivi

[2021-09-17 14:15] Kevin-Mattheus-Moerman commented on #3603
@clarka34 thanks for doing that. If you would be okay with it it would be great if I can assign you as a reviewer, it sounds like you'd be able to help.

This issue here is a pre-review issue. Once I have found enough reviewers I will open a dedicated review issue (which will show tickboxes to guide your review). Also we encourage reviewers to open issues on the software repository. You can group

[2021-09-17 14:16] Kevin-Mattheus-Moerman commented on #3603
@yosefm @eguvep @dcsale would you be interested in reviewing this work for JOSS?

The review focuses on [the software](https://gitlab.com/fibreglass/pivc) itself, as well as a [short paper](https://github.com/openjournals/joss-papers/blob/joss.03603/joss.03603/10.21105.joss.03603.pdf). The streamlined [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on G

[2021-09-17 14:31] bobturneruk commented on #3642
I've completed the checklist. Sorry I was slow.

[2021-09-17 15:28] diehlpk commented on #3274
@clavigne I would like to finish this paper soon, since I want to take the next paper.

[2021-09-17 15:30] pikarpov-LANL commented on #3199
@dfm thank you for the edits! I reviewed and accepted the pull request. I would like to update the the figures a little bit to be closer to the plots from my Astrophysical Journal paper; text will remain the same. Let me just run the final version by my collaborators, and then I will go through the last steps you outlined.

[2021-09-17 15:49] linuxscout commented on #3719
ok,  thanks.

[2021-09-17 15:54] osorensen commented on #3642
Thanks a lot @bobturneruk, and no worries, the review started less than a month ago, so this was pretty fast.

[2021-09-17 15:55] lpantano commented on #3722
@whedon add @bebatut as reviewer

[2021-09-17 15:56] whedon commented on #3722
OK, @bebatut is now a reviewer

[2021-09-17 15:56] zhanghe9704 commented on #3665
Hello,

When I submitted the paper, I looked through the reviewer list. To speak
frankly, I don't know who is familiar with this topic of TPSA/DA. Outside
the list, I can think of a few persons.

Axel Huelb at Lawrence Berkeley National Laboratory,
https://github.com/ax3l
Stephen Coleman at Radiasoft, https://github.com/sjcrs

The above two are experts in computational particle beam dynamics and
a

[2021-09-17 15:58] dfm commented on #3199
@pikarpov-LANL: great! So, is there a parallel ApJ paper to this one? What is the current status of that review?

[2021-09-17 16:05] pikarpov-LANL commented on #3199
@dfm Yes, there is. We are about to submit it for review; I will include the appropriate reference. It barely includes any details on `Sapsan` itself, besides mentioning it. Results/plot wise the paper is much more extensive; JOSS paper just includes a few examples.

[2021-09-17 16:13] linuxscout commented on #3719
Hi,
I finished the review.

[2021-09-17 16:27] ChrisW09 commented on #3719
@linuxscout thanks a lot for being that quick with the review. We really appreciated your comments and the fast review process!

[2021-09-17 16:28] ChrisW09 commented on #3719
@pps121 we are already looking forward to your comments. Please let us know if anything is unclear :) thanks!

[2021-09-17 16:50] crvernon commented on #3601
@willu47 I added in the option to download the illustrative test data to a user-defined location as described in https://github.com/IMMM-SFA/cerf/pull/72

🤝 Thanks for all of your input and the thoughtful review!  I now have addressed all of your inquiries.

[2021-09-17 16:51] crvernon commented on #3601
:wave: @fraukewiese at this point I believe I have addressed all reviewer comments.  Thanks!

[2021-09-17 17:03] zbeekman commented on #3697
@ajstewartlang Anything I can do to help get this review going? Suggest fellow reviewers etc? I seem to recall that the submitting author (@simoninireland) can also peruse [the list of potential reviewers](https://bit.ly/joss-reviewershttps://bit.ly/joss-reviewers) and suggest them here. In past reviews I've always been invited by an @ mention in the comments.

[2021-09-17 17:14] ajstewartlang commented on #3697
If you could @zbeekman that would be super helpful. I've emailed a couple of possible reviewers but haven't yet had responses - I appreciate people are understandably quite busy at the moment so if you or @simoninireland spotted some potential reviewers in that [list](https://bit.ly/joss-reviewershttps://bit.ly/joss-reviewers), that would be great thanks.

[2021-09-17 17:19] sibirrer commented on #3534
sorry for not having responded @arfon ! I am currently overwhelmed with other tasks and have to pass on this (very nice) software review.

[2021-09-17 17:22] zbeekman commented on #3697
I'll give @simoninireland some time to peruse the list and suggest names here, and by midweek if we don't have more yet I'll drop some @ mentions of potential reviewers that look appropriate.

[2021-09-17 17:25] rashti-alireza commented on #3703
Also in line 85, regarding "efficient strong scaling ...", Is the any plot, reference or similar for this?

[2021-09-17 17:26] osorensen commented on #3642
@whedon generate pdf from branch paper

[2021-09-17 17:26] whedon commented on #3642
[code]

[2021-09-17 17:27] whedon commented on #3642
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: :point_left:

[2021-09-17 17:33] mjsottile commented on #3558
@whedon add @khinsen as reviewer

[2021-09-17 17:33] whedon commented on #3558
OK, @khinsen is now a reviewer

[2021-09-17 17:34] mjsottile commented on #3558
@whedon start review

[2021-09-17 17:34] whedon opened #3735 "[REVIEW]: diman: A Clojure package for dimensional analysis"
**Submitting author:** @lungsi (<a href="http://orcid.org/0000-0002-1607-0164">B. Lungsi Sharma</a>)
**Repository:** <a href="https://github.com/neuralgraphs/diman" target ="_blank">https://github.com/neuralgraphs/diman</a>
**Version:** v1.1.0
**Editor:** @mjsottile
**Reviewers:** @oyvinht, @khinsen
**Archive:** <a href="https://doi.org/10.5281/zenodo.5837630" target="_blank">10.5281/zenodo.583763

[2021-09-17 17:34] whedon commented on #3558
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3735.

[2021-09-17 17:34] #3558 closed

[2021-09-17 17:34] whedon commented on #3735
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @oyvinht, @khinsen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-09-17 17:34] whedon commented on #3735
Wordcount for `paper.md` is 1119

[2021-09-17 17:34] whedon commented on #3735
[code]

[2021-09-17 17:34] whedon commented on #3735
[code]

[2021-09-17 17:34] whedon commented on #3735
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03735/joss.03735/10.21105.joss.03735.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03735/joss.03735/10.21105.joss.03735.pdf) :page_facing_up: :point_left:

[2021-09-17 17:37] osorensen commented on #3642
@whedon check references from branch paper

[2021-09-17 17:37] whedon commented on #3642
[code]

[2021-09-17 17:38] whedon commented on #3642
[code]

[2021-09-17 17:39] osorensen commented on #3642
@solegalli, could you please correct the reference issues above?

[2021-09-17 17:40] tomalrussell commented on #3607
Yes - getting close. I now have the synthetic HighD dataset and still need to run through and understand the HighD-specific functionality. I expect to check this off early next week.

I'd also recommend making synthetic data available for all three datasets - it would then be possible for example to download them automatically and test the software without jumping through the non-open data hoops.

[2021-09-17 17:52] osorensen commented on #3642
@solegalli, please also correct the following in the manuscript:

- Line 29: change from "Feature engine" to "Feature-engine".
- Line 31: I suggest remove the comma at the end of "as well as,".
- Lines 33-34: I suggest rewriting "... the current Python’s scientific computing stack ..." to "... Python's currrent scientific computing stack ...".
- Line 45: I suggest rewriting "... data competitions

[2021-09-17 18:17] clarka34 commented on #3603
@Kevin-Mattheus-Moerman Sure thing! Just to be clear though, I definitely cannot review the code itself

[2021-09-17 18:20] fawda123 commented on #3485
@kthyng v1.1.0 should be used.  DOI link on Zenodo is [https://doi.org/10.5281/zenodo.5514034](https://zenodo.org/badge/latestdoi/184627857), w/ matching title and author list for the paper.

[2021-09-17 18:29] AlexanderJuestel commented on #3709
@kanishkan91, thanks for getting started on the review. Regarding your comments:

1. I merged one of the PRs but would like to keep the second one open as we may change some of the tutorial notebooks during the review process here in combination with updating the documentation.

2. @RichardScottOZ is a very active user providing always great feedback on typos and grammatical errors in the docstrin

[2021-09-17 18:39] AlexanderJuestel commented on #3709
@kanishkan91 I just fixed the authors in the docs. The current build of the documentation is failing though, so changes are only visible locally right now but let's tackle one thing at a time :)

[2021-09-17 18:47] kanishkan91 commented on #3709
@AlexanderJuestel  Thanks. For my point no 2 from above, could you describe the roles the different co-authors played in the development of the software? This does not need to be a part of the paper or repo but having those descriptions here in the review thread would suffice.

[2021-09-17 18:51] Isurwars commented on #2976
* [x]  Please edit (you have to do this manually) the Zenodo archive DOI such that the title matches that of the paper: `Correlation: An Analysis Tool for Liquids and for Amorphous Solids`

Done.

* [x]  Check additional space in `(rdfpy, RadialDistributionFunction )` which should be `(rdfpy, RadialDistributionFunction)`

Removed space in the paper.md

* [x]  Just a suggestion, not required: The m

[2021-09-17 18:57] AlexanderJuestel commented on #3709
@kanishkan91, I am the main developer of the software and added most of the functionality of the package. @Endarthur contributed with helpful tips with respect to the implementation of certain functionality. He basically helped me to make things run. Marius Pischke developed with me functionality within the framework of his master thesis at RWTH Aachen University, which I then implemented in GemGI

[2021-09-17 18:59] kanishkan91 commented on #3709
@AlexanderJuestel This is sufficient. Thanks.

[2021-09-17 19:23] danielskatz commented on #3607
great @tomalrussell - what you suggest seems good to me, with optional items created as issues that this review doesn't depend on

[2021-09-17 19:26] kthyng commented on #3485
@whedon set v1.1.0 as version

[2021-09-17 19:26] whedon commented on #3485
OK. v1.1.0 is the version.

[2021-09-17 19:26] kthyng commented on #3485
@whedon set 10.5281/zenodo.5514034 as archive

[2021-09-17 19:27] whedon commented on #3485
OK. <a href="https://doi.org/10.5281/zenodo.5514034" target="_blank">10.5281/zenodo.5514034</a> is the archive.

[2021-09-17 19:27] kthyng commented on #3485
Ok all set!

[2021-09-17 19:27] kthyng commented on #3485
@whedon accept deposit=True

[2021-09-17 19:27] whedon commented on #3485
[code]

[2021-09-17 19:28] whedon commented on #3485
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1438948107660800008) 👈 🐦🐦🐦

[2021-09-17 19:28] whedon commented on #3485
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2589
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03485](https://doi.org/10.21105/joss.03485)
2. If everything look

[2021-09-17 19:37] kthyng commented on #3485
Congratulations on your new publication @fawda123! Many thanks to reviewers @paleolimbot and @richardsc for your time, hard work, and expertise!!

[2021-09-17 19:37] #3485 closed

[2021-09-17 19:37] whedon commented on #3485
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03485/status.svg)](https://doi.org/10.21105/joss.03485)

**We need your help!**

Journal of Open Source Softwa

[2021-09-17 19:42] ArtVoro commented on #3325
Hello @jarvist,

I collected additional feedback and updated the paper, readme and quick guide sections of the github documentation.

- git repo: [https://github.com/KIT-MBS/pyrexMD](https://github.com/KIT-MBS/pyrexMD)
- readme: [https://kit-mbs.github.io/pyrexMD/about_pyrexMD.html](https://kit-mbs.github.io/pyrexMD/about_pyrexMD.html)
- quick guide: [https://kit-mbs.github.io/pyrexMD/quick_guide.

[2021-09-17 19:42] ArtVoro commented on #3325
@whedon generate pdf

[2021-09-17 19:43] whedon commented on #3325
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: :point_left:

[2021-09-17 19:51] ArtVoro commented on #3325
@jarvist one short comment on your previous statement:

I personally dont expect the code to be brittle. My main dependencies for wrapping are given by Gromacs and MDAnalysis.
Gromacs is very stable and didnt have any big changes since their command-line syntax change in (i believe)  version 2016. Besides I only use a small portion of very basic gromacs commands to streamline the setups.

Regardin

[2021-09-17 20:11] fawda123 commented on #3485
Thanks again @kthyng for shepherding this through and thanks of course to @richardsc and @paleolimbot for the help.  Will def sign up to review in the future.

[2021-09-17 20:34] kthyng commented on #3485
@fawda123 https://joss.theoj.org/reviewer-signup.html

[2021-09-17 21:01] samgdotson commented on #3212
Hi @mengqi-z and @kellyrowland, I completed my review of ``plutus``. The functionality promised in the paper exists, I was successfully able to generate plots using this package. All of the boxes have been checked except for two:
1. The installation box is currently unchecked because there appears to be a dependency on the ``metis`` package in order to make the plots in your example. Installation

[2021-09-17 22:05] kthyng commented on #3659
Sounds great! @KimBaldry you can use the checklist above to motivate your work through the review checklist; ultimately needing to have all the boxes checked for the review to be over. Can you put links to this review issue in the issues you are opening in the repo? That is how we keep track of the work associated with the review.

[2021-09-17 22:05] kthyng commented on #3659
@catsch Will you be able to work on your review soon?

[2021-09-17 22:07] kthyng commented on #3594
@gonzalobravoargentina Thanks for your effort on your review! Do you have some specific comments as to anything that has come up during your review, and what is preventing you from checking the final boxes? Just a reminder to open issues in the software repo and link back to this review as issues arise.

@diodon Will you be able to work on your review soon?

[2021-09-17 22:08] kthyng commented on #3344
@PythonCHB I'll ping you here to follow up on my email!

[2021-09-18 01:10] marina-haliem commented on #3712
Hi @martinfleis,
I had replied via email last week, but not sure if you saw that so I am sending it here again.

We don't really have any suggestions for reviewers and we are open to any. From this list, I think these can be the most related to the field are:
- vasudev-sharma
- smith42
- anki-xyz
- FranciscoReveriano
- bmoradi93

Best Regards,
Marina

[2021-09-18 07:00] Kevin-Mattheus-Moerman commented on #3603
@whedon add @clarka34 as reviewer

[2021-09-18 07:00] whedon commented on #3603
OK, @clarka34 is now a reviewer

[2021-09-18 07:06] thomgrand commented on #3641
Hi @lucaferranti & @xuanxu , many thanks for the initial thorough review!

I agree with most of the points and I'm preparing a commit to address many of the comments so far. It should be ready in the next days.

In this context, $\phi$ denotes the arrival time, not uncommonly found in the literature:
https://math.stackexchange.com/questions/2816941/relation-between-a-solution-of-eikonal-equation-a

[2021-09-18 07:06] Kevin-Mattheus-Moerman commented on #3603
@clarka34 thanks, that is fine. We will also include other reviewers that will look into the code structure itself. However, a line-by-line code review is not really expected. If you focus on install, documentation, and evaluation of the functionality, that would be great.
I will hopefully recruit one more reviewer before I'll trigger the formal review process. Feel free to start already if you li

[2021-09-18 07:16] Kevin-Mattheus-Moerman commented on #3603
@quynhneo @ZIQIANG059 @vitorvilela @lento234 @yosefm @eguvep @dcsale would you be interested in reviewing this work for [JOSS](https://joss.theoj.org/)?

The review focuses on [the software](https://gitlab.com/fibreglass/pivc) itself, as well as a [short paper](https://github.com/openjournals/joss-papers/blob/joss.03603/joss.03603/10.21105.joss.03603.pdf). The streamlined [review process](https://

[2021-09-18 07:18] Kevin-Mattheus-Moerman commented on #3611
@mikesmithlab is that citation issue resolved now? Let me know if I can help. Also can you check this potentially missing DOI :point_up: ?

[2021-09-18 07:29] Kevin-Mattheus-Moerman commented on #3715
@JasonGellis this submission has passed initial scope review by the editorial board. We will now proceed to assign an editor to handle this submission.

[2021-09-18 07:30] Kevin-Mattheus-Moerman commented on #3715
@whedon invite @Nikoleta-v3 as editor

[2021-09-18 07:30] whedon commented on #3715
@Nikoleta-v3 has been invited to edit this submission.

[2021-09-18 07:32] Kevin-Mattheus-Moerman commented on #3715
@Nikoleta-v3 Would you be able to handle this submission? The application (archaeology) is out of the domain for most editors, but I was hoping that given your broad background and Python experience you would be able to help. Let me know what you think. Thanks!

[2021-09-18 08:10] anki-xyz commented on #3632
Things work now, thank you!

[2021-09-18 10:51] richardjgowers commented on #3521
@whedon set 10.5281/zenodo.5356246 as doi

[2021-09-18 10:51] whedon commented on #3521
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-18 10:51] richardjgowers commented on #3521
@whedon set 10.5281/zenodo.5356246 as archive

[2021-09-18 10:51] whedon commented on #3521
OK. <a href="https://doi.org/10.5281/zenodo.5356246" target="_blank">10.5281/zenodo.5356246</a> is the archive.

[2021-09-18 10:52] richardjgowers commented on #3521
@whedon recommend-accept

[2021-09-18 10:52] whedon commented on #3521
[code]

[2021-09-18 10:53] whedon commented on #3521
[code]

[2021-09-18 10:53] whedon commented on #3521
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2590

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2590, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-18 10:54] richardjgowers commented on #3482
@whedon generate pdf

[2021-09-18 10:54] richardjgowers commented on #3482
@whedon check references

[2021-09-18 10:54] whedon commented on #3482
[code]

[2021-09-18 10:55] whedon commented on #3482
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: :point_left:

[2021-09-18 11:30] joaomcteixeira commented on #3646
First of all, congratulations on this solid and very promising software package.

I have gone through the paper, the repository, and the documentation. I am highlighting here some issues and suggestions I believe can improve the project and should be addressed before accepting the paper.

The article reads clearly. The English level is good, and there are no faults. The repository looks well organ

[2021-09-18 12:52] quynhneo commented on #3603
@Kevin-Mattheus-Moerman Yeah I would. Which aspect of the code would you like my review?

[2021-09-18 13:45] arianesasso commented on #3679
Dear Reviewers, we are almost done addressing the reviews :).

We will finish them this week, I will write back to you here once we are ready.

[2021-09-18 14:40] timdewhirst commented on #3603
I've raised a few issues; links are at the bottom of this comment.

As I understand it there were two main questions around the code: does the use of OpenMP help take advantage of multicore processors, and is the code well structured and a suitable foundation for a collaborative project implementing various PIV processing algorithms?

On OpenMP: this appears to work as expected.

On code structure

[2021-09-18 16:21] mikesmithlab commented on #3611
@whedon check references

[2021-09-18 16:22] whedon commented on #3611
[code]

[2021-09-18 16:23] mikesmithlab commented on #3611
@whendon generate pdf

[2021-09-18 16:27] mikesmithlab commented on #3611
@whedon generate pdf

[2021-09-18 16:27] whedon commented on #3611
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: :point_left:

[2021-09-18 16:28] mikesmithlab commented on #3611
Citation issue seems to be resolved now

[2021-09-18 17:11] solegalli commented on #3642
@whedon check references from branch paper

[2021-09-18 17:11] whedon commented on #3642
[code]

[2021-09-18 17:11] whedon commented on #3642
[code]

[2021-09-18 17:12] solegalli commented on #3642
@whedon generate pdf from branch paper

[2021-09-18 17:12] whedon commented on #3642
[code]

[2021-09-18 17:12] whedon commented on #3642
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: :point_left:

[2021-09-18 17:15] solegalli commented on #3642
The DOIs appear in the format that I have used in the .bib. In other words, they seem to be correct as per the below websites:
https://rss.onlinelibrary.wiley.com/action/showCitFormats?doi=10.1111%2Fj.2517-6161.1964.tb00553.x
https://www.sciencedirect.com/science/article/pii/S0925231218304843?via%3Dihub

I go them by visiting the websites and exporting the citation in bibtex format.

I tried remov

[2021-09-18 17:17] solegalli commented on #3642
Oh, I see, it populates the doi.org automatically. Slowly but steadily :p

[2021-09-18 17:22] solegalli commented on #3642
@whedon check references from branch paper

[2021-09-18 17:22] whedon commented on #3642
[code]

[2021-09-18 17:23] whedon commented on #3642
[code]

[2021-09-18 17:23] solegalli commented on #3642
@whedon generate pdf from branch paper

[2021-09-18 17:23] whedon commented on #3642
[code]

[2021-09-18 17:24] whedon commented on #3642
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: :point_left:

[2021-09-18 17:27] solegalli commented on #3642
Hi @osorensen

Thank you very much for the suggestions and checks on the articles. I think I addressed everything.

A big thank you as well to the reviewers for taking the time :)

[2021-09-18 17:42] mengqi-z commented on #3212
Hi @samgdotson , Thank you for your review. I have addressed those two issues. Please check out the updates on `Metis` instruction and CONTRIBUTING.md. We really appreciate the time you took to review `plutus`.

[2021-09-18 18:24] arfon commented on #3693
@Damonlin11 – after review by the JOSS editorial team, this submission has been deemed out of scope for JOSS due to the reasons I outline above.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI for your software. This DOI can then be used by others to cite your work.

[2021-09-18 18:24] arfon commented on #3693
@whedon reject

[2021-09-18 18:24] whedon commented on #3693
Paper rejected.

[2021-09-18 18:24] #3693 closed

[2021-09-18 18:24] arfon commented on #3665
Sounds like you're OK to take this on, albeit with a short delay. As such, I'm going to go ahead and assign this one to you, thanks!

[2021-09-18 18:25] arfon commented on #3665
@whedon assign @pibion as editor

[2021-09-18 18:25] whedon commented on #3665
OK, the editor is @pibion

[2021-09-18 18:25] arfon commented on #3694
@yanirmr – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) o

[2021-09-18 18:25] arfon commented on #3694
@whedon reject

[2021-09-18 18:25] whedon commented on #3694
Paper rejected.

[2021-09-18 18:25] #3694 closed

[2021-09-18 18:28] arfon commented on #3698
@collinsowusu – after review by the JOSS editorial team, this submission has been deemed out of scope for JOSS as we don't consider Jupyter notebooks software, and the other Python code associated with this submission has been judged to not reach our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

To encourage reuse by

[2021-09-18 18:28] arfon commented on #3698
@whedon reject

[2021-09-18 18:28] whedon commented on #3698
Paper rejected.

[2021-09-18 18:28] #3698 closed

[2021-09-18 18:29] arfon commented on #3706
@stephenturner – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-co

[2021-09-18 18:29] arfon commented on #3706
@whedon reject

[2021-09-18 18:29] whedon commented on #3706
Paper rejected.

[2021-09-18 18:29] #3706 closed

[2021-09-18 18:31] arfon commented on #3713
@eidheim – many thanks for your submission to JOSS. After review by the editorial board, we've determined that this kind of generalist package web development library does not meet our definition of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) classified as out of scope for us.

One possible alternative to JOSS is to follow [GitHub's

[2021-09-18 18:31] arfon commented on #3713
@whedon reject

[2021-09-18 18:31] whedon commented on #3713
Paper rejected.

[2021-09-18 18:31] #3713 closed

[2021-09-18 18:33] arfon commented on #3716
@andr3wli – many thanks for your submission to JOSS. After review by the editorial board, we've determined that this kind of visualisation package does not meet our definition of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) classified as out of scope for us.

One possible alternative to JOSS is to follow [GitHub's guide](https://guide

[2021-09-18 18:34] arfon commented on #3716
@whedon reject

[2021-09-18 18:34] whedon commented on #3716
Paper rejected.

[2021-09-18 18:34] #3716 closed

[2021-09-18 18:40] clavigne commented on #3274
Hi @diehlpk sorry for the delay, I was on holiday and then I moved to a new positions. I'm implementing those changes right now.

[2021-09-18 18:40] step21 commented on #3617
Hi, I also finished my initial review now.
Generally most things are fine and for the majority of the checklist I agree with @cmaimone. Especially that documentation could be more detailed, and example datasets for testing would be nice, especially to verify functionality and performance, which I partly mentioned when I first looked at the repo.
However there are tests in the repo, so I checked 'a

[2021-09-18 18:45] clavigne commented on #3274
@whedon generate

[2021-09-18 18:45] whedon commented on #3274
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-18 18:45] clavigne commented on #3274
@whedon generate pdf

[2021-09-18 18:46] whedon commented on #3274
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: :point_left:

[2021-09-18 18:47] clavigne commented on #3274
@diehlpk done, thank you for your patience.

[2021-09-18 19:53] slayoo commented on #3219
@whedon generate pdf from branch JOSS

[2021-09-18 19:53] whedon commented on #3219
[code]

[2021-09-18 19:53] slayoo commented on #3219
(API and affiliation updates)

[2021-09-18 19:53] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2021-09-18 20:33] Kevin-Mattheus-Moerman commented on #3603
@whedon add @quynhneo as reviewer

[2021-09-18 20:33] whedon commented on #3603
OK, @quynhneo is now a reviewer

[2021-09-18 20:34] Kevin-Mattheus-Moerman commented on #3603
@whedon start review

[2021-09-18 20:34] whedon opened #3736 "[REVIEW]: PIVC: A C/C++ Program for Particle Image Velocimetry Vector Computation"
**Submitting author:** @fibreglass2 (<a href="http://orcid.org/0000-0002-8099-6893">Kadeem</a>)
**Repository:** https://gitlab.com/fibreglass/pivc
**Branch with paper.md** (empty if default branch):
**Version:** v1.2-b
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @clarka34, @quynhneo
**Archive:** 10.5281/zenodo.7556040

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-09-18 20:34] whedon commented on #3603
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3736.

[2021-09-18 20:34] #3603 closed

[2021-09-18 20:34] whedon commented on #3736
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @timdewhirst, @clarka34, @quynhneo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-09-18 20:34] whedon commented on #3736
Wordcount for `paper.md` is 938

[2021-09-18 20:34] whedon commented on #3736
[code]

[2021-09-18 20:34] whedon commented on #3736
[code]

[2021-09-18 20:34] whedon commented on #3736
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03736/joss.03736/10.21105.joss.03736.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03736/joss.03736/10.21105.joss.03736.pdf) :page_facing_up: :point_left:

[2021-09-18 20:36] Kevin-Mattheus-Moerman commented on #3736
Reproducing @timdewhirst 's comments from the pre-review issue:

* https://gitlab.com/fibreglass/pivc/-/issues/1
* https://gitlab.com/fibreglass/pivc/-/issues/2
* https://gitlab.com/fibreglass/pivc/-/issues/3
* https://gitlab.com/fibreglass/pivc/-/issues/4
* https://gitlab.com/fibreglass/pivc/-/issues/5
* https://gitlab.com/fibreglass/pivc/-/issues/6
* https://gitlab.com/fibreglass/pivc/-/issues/7

[2021-09-18 20:39] Kevin-Mattheus-Moerman commented on #3736
@timdewhirst, @clarka34, @quynhneo this is where the actual review takes place. Thank you all for you help!

[2021-09-18 20:44] Kevin-Mattheus-Moerman commented on #3736
@quynhneo to answer your query over at #3603, have a look at our [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Let me know if you have questions.

[2021-09-18 21:28] Nikoleta-v3 commented on #3715
Happy to 😄

[2021-09-18 21:28] Nikoleta-v3 commented on #3715
@whedon assign me as editor

[2021-09-18 21:28] whedon commented on #3715
OK, the editor is @Nikoleta-v3

[2021-09-18 21:46] Nikoleta-v3 commented on #3715
👋 @MichaelHoltonPrice & @dombennett & @platipodium & @steko would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "PyLithics: A Python package for stone tool analysis". You can find more

[2021-09-18 22:50] MichaelHoltonPrice commented on #3715
Yes, happy to review

[2021-09-19 00:17] athulpg007 commented on #3710
Added some tests and contribution instructions. Sorry for my late response.

[2021-09-19 01:41] alexmalins commented on #3318
@whedon generate pdf from branch joss_paper

[2021-09-19 01:41] whedon commented on #3318
[code]

[2021-09-19 01:42] whedon commented on #3318
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: :point_left:

[2021-09-19 01:56] alexmalins commented on #3318
Ok, everything is now ready. The paper is updated and consistent with the latest release of radioactivedecay (v0.4.2), as are the comparisons with PyNE and Radiological Toolbox. Thom Lemoine is added as a co-author to the paper. Everything that was outstanding in @munkm's review comments ([issue 37](https://github.com/alexmalins/radioactivedecay/issues/37) is closed off.

Do you know what happens

[2021-09-19 04:26] kramea commented on #3429
Here is my review of the software:

**Installation:**

- I created an empty environment, installed the requirements and then installed the ddop package. Importing the ddop package worked.
- However, there were some issues when I tried to import ddop.newsvendor. It has a dependency of 'mpmath'. It needs to be included in the dependencies.

**Functionalities & Tutorials:**

- I tried to follow the n

[2021-09-19 06:38] steko commented on #3715
I'm available to review this submission

[2021-09-19 07:22] aaronpeikert commented on #3671
I was on vacation till last week and are now on the receiving end of a review but this is the next thing on my to-do list.

[2021-09-19 07:54] mvremec commented on #3730
@whedon generate pdf
@whedon check references

[2021-09-19 07:54] whedon commented on #3730
PDF failed to compile for issue #3730 with the following error:
[code]

[2021-09-19 08:04] arfon commented on #3534
:wave: @aureliocarnero @Pqrs6 @sibirrer – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration here is [_The Python Sky Model 3 software_](https://github.com/galsci/pysm).

[2021-09-19 08:10] thejasvibr commented on #3590
@whedon check references

[2021-09-19 08:10] whedon commented on #3590
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "doi" (NAME) [#<BibTeX::Bibliography data=[18]>, "@", #<BibTeX::Entry >, {:title=>["Birds adjust acoustic directionality to beam their antipredator calls to predators and conspecifics"], :author=>["Yorzinski, Jessica L and Patricelli, Gail L"], :journal=>["Proceedings of the Royal Society B: Biological S

[2021-09-19 08:14] lorenzo-rovigatti commented on #3653
Done!

[2021-09-19 08:17] thejasvibr commented on #3590
@whedon check references

[2021-09-19 08:17] whedon commented on #3590
[code]

[2021-09-19 08:27] thejasvibr commented on #3590
@whedon check references

[2021-09-19 08:27] whedon commented on #3590
[code]

[2021-09-19 08:29] thejasvibr commented on #3590
@faroit apologies for the delay in DOI correction - they seem to be all fixed now.
Hello @hagenw and @nils-werner many thanks for agreeing to review - looking forward to hearing from you!

[2021-09-19 09:01] whedon opened #3737 "[PRE REVIEW]: Greenhouse: Scrape Prevention using Pre-rendered Image streaming."
**Submitting author:** @god-s-perfect-idiot (<a href="http://orcid.org/0000-0003-2213-8820">Samar Musthafa</a>)
**Repository:** <a href="https://github.com/god-s-perfect-idiot/greenhouse" target ="_blank">https://github.com/god-s-perfect-idiot/greenhouse</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2021-09-19 09:01] whedon commented on #3737
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-19 09:01] whedon commented on #3737
Wordcount for `paper.md` is 735

[2021-09-19 09:01] whedon commented on #3737
[code]

[2021-09-19 09:01] whedon commented on #3737
[code]

[2021-09-19 09:02] whedon commented on #3737
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03737/joss.03737/10.21105.joss.03737.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03737/joss.03737/10.21105.joss.03737.pdf) :page_facing_up: :point_left:

[2021-09-19 09:05] arfon commented on #3737
@god-s-perfect-idiot – thanks for your submission to JOSS. Unfortunately, at ~100 lines of JavaScript, this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion. It's also not clear that this software meets [JOSS' definitions of research software](https://joss.readthedocs.io/en/latest/submitting.htm

[2021-09-19 09:05] arfon commented on #3737
@whedon reject

[2021-09-19 09:05] whedon commented on #3737
Paper rejected.

[2021-09-19 09:05] #3737 closed

[2021-09-19 09:29] fAndreuzzi commented on #3519
@whedon generate pdf

[2021-09-19 09:30] whedon commented on #3519
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03519/joss.03519/10.21105.joss.03519.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03519/joss.03519/10.21105.joss.03519.pdf) :page_facing_up: :point_left:

[2021-09-19 09:31] fAndreuzzi commented on #3519
Hi @mschordan, thank you for your suggestions, I hopefully fixed/added everything you mentioned in your last comment. What do you think?

[2021-09-19 09:56] arfon commented on #2976
@whedon set 10.5281/zenodo.5514113 as archive

[2021-09-19 09:56] whedon commented on #2976
OK. <a href="https://doi.org/10.5281/zenodo.5514113" target="_blank">10.5281/zenodo.5514113</a> is the archive.

[2021-09-19 09:56] arfon commented on #2976
@whedon set v1.0.2 as version

[2021-09-19 09:56] whedon commented on #2976
OK. v1.0.2 is the version.

[2021-09-19 09:56] arfon commented on #2976
@whedon recommend-accept

[2021-09-19 09:56] whedon commented on #2976
[code]

[2021-09-19 09:57] whedon commented on #2976
[code]

[2021-09-19 09:57] whedon commented on #2976
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2591

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2591, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-19 11:13] jbytecode commented on #3710
@athulpg007 thank you for adding tests. It is also a good practice to add a GitHub action that performs the tests after a commit so people can see the latest changes don't break the package.

[2021-09-19 11:18] jbytecode commented on #3608
@lantunes would you consider adding a GitHub action that builds and tests the package after each commit so people can see the latest changes does not break the stuff?

[2021-09-19 11:58] szhorvat commented on #3608
I have not been able to finish by Friday as planned, but I am looking at it now, and should be able to complete it soon.

[2021-09-19 13:10] szhorvat commented on #3608
I need a bit of help from  @lantunes  or reviewers who are more experienced with Python. Is it expected that animations (such as `plot2d_animate` from CellPyLib) won't work out of the box in Jupyter notebooks, when using inline graphics?

[2021-09-19 13:30] szhorvat commented on #3608
I opened a few issues in the CellPyLib repository, and I'd like to wait for responses from @lantunes before proceeding.

So far I enjoy playing with the library. There are nice tutorials which demonstrate classical concepts. The library is definitely useful to learning and teaching. Now I am trying to determine how suitable it is for research: exploring novel ideas that may not have been tried yet

[2021-09-19 13:51] szhorvat commented on #3608
This must be improved:

 1. There are basic steps for building the docs and running tests, but nothing explicit about whether contributions are welcome or how to contribute. This needs to be improved.
 2. This is implicit in the sense that the project is on GitHub, so people will assume they can use the issue tracker. IMO this is fine.
 3. There is no information about where to seek support. This

[2021-09-19 13:56] platipodium commented on #3715
I'd like to decline

[2021-09-19 14:04] danielskatz commented on #3617
👋 @step21

It's fine that you checked this, but it shouldn't be because they can be automated, but it can be simply because manual steps exist, as the criterion says.

Thanks overall for your comments.  If you can make any things that you think need to be changed but that don't yet have issues, such as your comment about the paper, can you create an issue for this in https://github.com/freelawproj

[2021-09-19 14:04] danielskatz commented on #3617
👋 @mattdahl - we'll look forward to seeing how you respond to these issues.

[2021-09-19 14:12] szhorvat commented on #3608
https://cellpylib.org/ has a very clear and concise description of what the software can do _right now_. Great job on this! However, it would be nice to indicate what the _goals_ (as opposed to _current capabilities_) of the software project is, and _who the target audience is_. Is it trying to be a learning/teaching tool? I notice that it has built-in implementations of some classic models. Is it

[2021-09-19 14:34] arfon commented on #2976
@whedon accept deposit=true

[2021-09-19 14:34] whedon commented on #2976
[code]

[2021-09-19 14:35] whedon commented on #2976
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1439599053482991620) 👈 🐦🐦🐦

[2021-09-19 14:35] whedon commented on #2976
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2592
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02976](https://doi.org/10.21105/joss.02976)
2. If everything look

[2021-09-19 14:38] arfon commented on #3521
@whedon accept deposit=true

[2021-09-19 14:38] whedon commented on #3521
[code]

[2021-09-19 14:39] whedon commented on #3521
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1439600011562606602) 👈 🐦🐦🐦

[2021-09-19 14:39] whedon commented on #3521
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2593
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03521](https://doi.org/10.21105/joss.03521)
2. If everything look

[2021-09-19 14:39] arfon commented on #2976
@awvwgk, @CFGrote – many thanks for your reviews here and to @jgostick  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Isurwars – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-19 14:39] #2976 closed

[2021-09-19 14:39] whedon commented on #2976
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02976/status.svg)](https://doi.org/10.21105/joss.02976)

**We need your help!**

Journal of Open Source Softwa

[2021-09-19 14:42] arfon commented on #3521
@lilyminium, @ojeda-e, @blakeaw – many thanks for your reviews here and to @richardjgowers for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@patrickfuchs  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-19 14:42] #3521 closed

[2021-09-19 14:42] whedon commented on #3521
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03521/status.svg)](https://doi.org/10.21105/joss.03521)

**We need your help!**

Journal of Open Source Softwa

[2021-09-19 16:00] osorensen commented on #3642
@whedon check references from branch paper

[2021-09-19 16:00] whedon commented on #3642
[code]

[2021-09-19 16:00] whedon commented on #3642
[code]

[2021-09-19 16:02] osorensen commented on #3642
@whedon set 10.5281/zenodo.5167308 as archive

[2021-09-19 16:02] whedon commented on #3642
OK. <a href="https://doi.org/10.5281/zenodo.5167308" target="_blank">10.5281/zenodo.5167308</a> is the archive.

[2021-09-19 16:02] osorensen commented on #3642
@whedon set v1.1.1 as version

[2021-09-19 16:02] whedon commented on #3642
OK. v1.1.1 is the version.

[2021-09-19 16:02] osorensen commented on #3642
@whedon recommend-accept

[2021-09-19 16:02] whedon commented on #3642
[code]

[2021-09-19 16:02] whedon commented on #3642
PDF failed to compile for issue #3642 with the following error:
[code]

[2021-09-19 16:03] osorensen commented on #3642
@whedon generate pdf from branch paper

[2021-09-19 16:03] whedon commented on #3642
[code]

[2021-09-19 16:04] whedon commented on #3642
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: :point_left:

[2021-09-19 16:04] osorensen commented on #3578
@AKUMAR0019, could you please update us on how it's going with updating the code as outlined in your post above?

[2021-09-19 16:32] Nikoleta-v3 commented on #3715
Thank you @MichaelHoltonPrice and @steko for accepting to review this 😄 and thank you @platipodium for getting back to me! Have a lovely week.

[2021-09-19 16:33] Nikoleta-v3 commented on #3715
@whedon assign @MichaelHoltonPrice  as reviewer

[2021-09-19 16:34] whedon commented on #3715
OK, @MichaelHoltonPrice  is now a reviewer

[2021-09-19 16:34] Nikoleta-v3 commented on #3715
@whedon add @steko  as reviewer

[2021-09-19 16:34] whedon commented on #3715
OK, @steko  is now a reviewer

[2021-09-19 16:34] Nikoleta-v3 commented on #3715
@whedon start review

[2021-09-19 16:34] whedon opened #3738 "[REVIEW]: PyLithics: A Python package for stone tool analysis"
**Submitting author:** @JasonGellis (<a href="http://orcid.org/0000-0002-9929-789X">Jason Gellis</a>)
**Repository:** <a href="https://github.com/alan-turing-institute/Palaeoanalytics" target ="_blank">https://github.com/alan-turing-institute/Palaeoanalytics</a>
**Version:** v1.0.0
**Editor:** @Nikoleta-v3
**Reviewer:** @MichaelHoltonPrice , @steko
**Archive:** <a href="https://doi.org/10.5281/zen

[2021-09-19 16:34] whedon commented on #3715
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3738.

[2021-09-19 16:34] #3715 closed

[2021-09-19 16:34] whedon commented on #3738
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MichaelHoltonPrice , @steko  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-09-19 16:34] whedon commented on #3738
Wordcount for `paper.md` is 1151

[2021-09-19 16:34] whedon commented on #3738
[code]

[2021-09-19 16:34] whedon commented on #3738
[code]

[2021-09-19 16:35] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2021-09-19 16:36] Nikoleta-v3 commented on #3738
👋🏼 @JasonGellis @MichaelHoltonPrice  @steko this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements 🔝 As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different

[2021-09-19 18:03] rmflight commented on #3634
Apologies for taking so long to finish looking at the responses to my issues.

I believe everything I brought up has been addressed. The authors have an awesome package, and I definitely have some more background reading to do on the different correlation measures.

[2021-09-19 18:06] AKUMAR0019 commented on #3578
Hi @osorensen. The paper, the docstrings, and the test case are expected to be added by Tuesday. We will try to have the global variable changes done the end of next weekend. However, I will inform you if they take longer.

[2021-09-19 20:07] mingzehuang commented on #3634
Thank you so much Dr. @rmflight ! We appreciate your great help!

[2021-09-19 20:10] stephenturner commented on #3706
Could someone here please help me understand the rejection? The [# LOC in the analysis above](https://github.com/openjournals/joss-reviews/issues/3706#issuecomment-916260157) does not fall below the [LOC limit for a desk rejection](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). Thank you!

[2021-09-19 20:33] samgdotson commented on #3212
Thanks for addressing the issues @mengqi-z. @kellyrowland, this completes me review. I think it looks good. Let me know if you need anything else.

[2021-09-19 20:57] crvernon commented on #3634
Thanks for your volunteering your time and providing a thoughtful review @rmflight !

[2021-09-19 21:06] Sbozzolo commented on #3703
I am compiling Chombo on Expanse with the attached option file. The compilation goes well, but the tests fail. For the attached file, refluxEdgeTest fails with Error 3. Alternatively, I tried to set `OPT` to `FALSE` and enable `DEBUG`. In that case, other errors pop up, e.g.:

[code]

How do I debug this?

[expanse.txt](https://github.com/openjournals/joss-reviews/files/7192913/expanse.txt)

[2021-09-19 21:17] jmschrei commented on #3622
@maximtrp can you provide an update on how your testing is going? Thanks!

[2021-09-19 21:20] martinfleis commented on #3609
@whedon generate pdf

[2021-09-19 21:20] whedon commented on #3609
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03609/joss.03609/10.21105.joss.03609.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03609/joss.03609/10.21105.joss.03609.pdf) :page_facing_up: :point_left:

[2021-09-19 21:21] martinfleis commented on #3609
@whedon check references

[2021-09-19 21:21] whedon commented on #3609
[code]

[2021-09-19 21:26] martinfleis commented on #3609
Thank you @nickbearman!

@xp-song The submission is now almost ready to be published.

The next steps you need to do now:

- [ ] Make a new tagged release of the software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service
- [ ] Check that the archival deposit (e.g., in Zenodo) has the correct metadata. In particular, the title

[2021-09-20 01:44] JohnVolk commented on #3418
I've implemented automated testing using a GitHub actions workflow [see here](https://github.com/Open-ET/flux-data-qaqc/actions/workflows/fluxdataqaqc_tests.yml) and included a badge in the README. I'll continue to add more tests to cover most of the package functionality. Thanks!

[2021-09-20 01:45] xp-song commented on #3609
@nickbearman @aelissa @martinfleis Thank you very much for your thoughtful review and comments. Here are requested information:

https://github.com/ecological-cities/home2park/releases/tag/v0.1.1

https://zenodo.org/record/5516698#.YUfmNi0RppQ

10.5281/zenodo.5516698

[2021-09-20 05:03] athulpg007 commented on #3710
@jbytecode thanks for the comment, I will set up the GitHub action as suggested.

[2021-09-20 05:59] osorensen commented on #3578
Thanks for the update @AKUMAR0019

[2021-09-20 06:44] OlgerSiebinga commented on #3607
great, thanks for the suggestions!

[2021-09-20 06:54] volpatto commented on #3314
2 and 3 are properly addressed on MOOSE website. However, I did not find that 1 is clear enough. I looked in MOOSE's README.md and find a link that is not working. Thus I opened [an Issue](https://github.com/idaholab/moose/issues/18856) in the MOOSE repo.

[2021-09-20 07:18] pdebuyl commented on #3653
Thanks @lorenzo-rovigatti for the review!

[2021-09-20 07:19] pdebuyl commented on #3653
@junghans @lorenzo-rovigatti can you state explicilty that you recommend acceptance? I like to see this in the process, as between the checkboxes and the comments it helps to make sure that I did not overlook something.

[2021-09-20 07:21] pdebuyl commented on #3653
Hi @antoinediez I will now proceed to the editorial steps outlined here: https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2021-09-20 07:21] lorenzo-rovigatti commented on #3653
@pdebuyl sure. I'm happy to recommend acceptance of SiSyPHE in JOSS.

[2021-09-20 07:21] pdebuyl commented on #3418
Thank you @JohnVolk for the update.

[2021-09-20 07:22] pdebuyl commented on #3418
@ashwinvis do you have a timeline for the review by now?

[2021-09-20 07:22] volpatto commented on #3314
## Functionality

The authors performed (strong) scaling analyses and space complexity estimation. Results (in the [paper](https://github.com/idaholab/moose/blob/next/modules/geochemistry/paper.md#computational-aspects) and in the [MOOSE website](https://mooseframework.inl.gov/modules/geochemistry/theory/compute_efficiencies.html)) are interesting, nearly optimal for scaling. However, I should rem

[2021-09-20 07:31] ashwinvis commented on #3418
@pdebuyl Yes. Give me some time till 3rd October.

[2021-09-20 07:39] Bisaloo commented on #3705
:wave::wave: @bernardsilenou @wesleyburr, as agreed this is a friendly reminder about your review for the serp R package and the associated paper.

This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel h

[2021-09-20 07:53] adi3 commented on #3671
@aaronpeikert no worries, enjoy your vacation! Speak to you when you're back

[2021-09-20 07:56] pdebuyl commented on #3418
thank you for the update @ashwinvis

[2021-09-20 07:58] pdebuyl commented on #3418
@JohnVolk can you describe shortly the test in the docs? There is one test file, if I understand well, that runs one typical setup and checks a few programmatic details (existence of output files) and some quantitative tests on the numerical output.

[2021-09-20 08:04] KAClough commented on #3703
Hi @Sbozzolo is this just for doing 'make run' for the Chombo tests? Do the GRChombo tests run ok? If they do, then you can usually safely ignore the errors in the Chombo tests - it is not ideal but these don't seem to affect the code used by GRChombo. Usually you can get rid of them by trying different compiler combinations depending on what modules you have available on the system, but I'd not s

[2021-09-20 08:15] ajstewartlang commented on #3688
@whedon add @andrewheiss as reviewer

[2021-09-20 08:15] whedon commented on #3688
OK, @andrewheiss is now a reviewer

[2021-09-20 08:17] ajstewartlang commented on #3688
Many thanks @vaneseltine and @andrewheiss for agreeing to review this submission - it's very much appreciated - I'll open the review issue now...

[2021-09-20 08:17] ajstewartlang commented on #3688
@whedon start review

[2021-09-20 08:17] whedon opened #3739 "[REVIEW]: electiondata: a Python package for consolidating, checking, analyzing, visualizing and exporting election results"
**Submitting author:** @sfsinger19103 (<a href="http://orcid.org/0000-0002-1373-9619">Stephanie Singer</a>)
**Repository:** <a href="https://github.com/ElectionDataAnalysis/electiondata" target ="_blank">https://github.com/ElectionDataAnalysis/electiondata</a>
**Version:** v2.0.1
**Editor:** @ajstewartlang
**Reviewer:** @vaneseltine, @andrewheiss
**Archive:** <a href="https://doi.org/10.5281/zenod

[2021-09-20 08:17] whedon commented on #3688
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3739.

[2021-09-20 08:17] #3688 closed

[2021-09-20 08:17] whedon commented on #3739
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vaneseltine, @andrewheiss it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-09-20 08:17] whedon commented on #3739
PDF failed to compile for issue #3739 with the following error:
[code]

[2021-09-20 08:25] Kevin-Mattheus-Moerman commented on #3728
@dpsanders can you help edit this submission?

[2021-09-20 08:30] martinfleis commented on #3609
@whedon set 10.5281/zenodo.5516698 as archive

[2021-09-20 08:30] whedon commented on #3609
OK. <a href="https://doi.org/10.5281/zenodo.5516698" target="_blank">10.5281/zenodo.5516698</a> is the archive.

[2021-09-20 08:32] martinfleis commented on #3609
@whedon set v0.1.1 as version

[2021-09-20 08:32] whedon commented on #3609
OK. v0.1.1 is the version.

[2021-09-20 08:32] martinfleis commented on #3609
@whedon generate pdf

[2021-09-20 08:33] whedon commented on #3609
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03609/joss.03609/10.21105.joss.03609.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03609/joss.03609/10.21105.joss.03609.pdf) :page_facing_up: :point_left:

[2021-09-20 08:41] clarka34 commented on #3736
I have added some more issues:

- https://gitlab.com/fibreglass/pivc/-/issues/12
- https://gitlab.com/fibreglass/pivc/-/issues/13
- https://gitlab.com/fibreglass/pivc/-/issues/14
- https://gitlab.com/fibreglass/pivc/-/issues/15
- https://gitlab.com/fibreglass/pivc/-/issues/16

At this stage, my main concerns are the lack of real-word examples for users that are not very familiar with PIV. Addition

[2021-09-20 08:43] martinfleis commented on #3609
Thank you @xp-song. I'm going to hand this over now to the associate EiC on rotation for the final steps.

[2021-09-20 08:43] martinfleis commented on #3609
@whedon recommend-accept

[2021-09-20 08:43] whedon commented on #3609
[code]

[2021-09-20 08:44] whedon commented on #3609
[code]

[2021-09-20 08:44] whedon commented on #3609
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2594

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2594, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-20 08:44] mlxd commented on #3699
Hi @Nikoleta-v3 I can review this beginning next week. If that's an issue and somebody else is available before then, feel free to tag them instead.

[2021-09-20 08:52] junghans commented on #3653
@pdebuyl I recommend acceptance of SiSyPHE in JOSS.

[2021-09-20 09:12] xp-song commented on #3609
@whedon accept deposit=true

[2021-09-20 09:12] whedon commented on #3609
I'm sorry @xp-song, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-09-20 09:13] xp-song commented on #3609
whoops, embarrassing mistake.

[2021-09-20 09:37] Kevin-Mattheus-Moerman commented on #3736
@fibreglass2 as you may have seen there are a number of issues open that were raised by the reviewers. :point_up:. Can you start to address these? Let me know if you have any questions.

[2021-09-20 09:50] whedon commented on #3695
:wave: @mefuller, please update us on how your review is going (this is an automated reminder).

[2021-09-20 09:50] whedon commented on #3695
:wave: @bocklund, please update us on how your review is going (this is an automated reminder).

[2021-09-20 11:34] crvernon commented on #3634
@whedon generate pdf

[2021-09-20 11:34] whedon commented on #3634
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: :point_left: