[2019-05-13 00:36] jackfoxy commented on #1214
@danielskatz  thanks for the invitation. I'm going to have to beg out...too many other commitments, and I'm probably the least qualified for this topic.

[2019-05-13 02:49] djmitche commented on #1330
@jasonclark hey, so this keeps showing up in my "assigned" queue despite there being no action required on my part.  And @whedon seems to want it that way.  Can we wrap this up?

[2019-05-13 02:49] djmitche commented on #1417
@jarvist ping!

[2019-05-13 03:40] peterjwatkins commented on #947
@labarba - here's the update :)

For the plot_modulus function, I have revised the preliminary comments to
  ## Filter (> y_threshold) is used for modulus for data visualisation
  ## Modulus values <=0 create NaNs, displaying error/warning .
  ## This results in only positive modulus values being displayed, and not
  ## negative values. For the purpose of visualisation, this is satisfactory since

[2019-05-13 03:58] cMadan commented on #1277
@whedon generate pdf from branch devel

[2019-05-13 03:58] whedon commented on #1277
[code]

[2019-05-13 03:58] whedon commented on #1277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01277/joss.01277/10.21105.joss.01277.pdf)

[2019-05-13 04:05] cMadan commented on #1277
@casperdcl, everything looks good and I'm almost ready to accept. Let me know after you merge into master and have the new GitHub release and new Zenodo DOI minted, then I'll finalise things here.

[2019-05-13 06:02] jhill1 commented on #1112
Leave for now, please. @PythonCHB is right that it should have been made v1.0, but I've already pushed pip and conda updates with 0.12 and referred to the version being the one published. I'd rather keep a cleaner history.

[2019-05-13 08:07] labarba commented on #1112
@PythonCHB — you have the "References" item unchecked. Did you find something missing there?

[2019-05-13 08:07] labarba commented on #1112
@whedon check references

[2019-05-13 08:07] whedon commented on #1112
[code]

[2019-05-13 08:07] whedon commented on #1112
[code]

[2019-05-13 08:19] labarba commented on #1112
@whedon accept

[2019-05-13 08:19] whedon commented on #1112
[code]

[2019-05-13 08:19] whedon commented on #1112
[code]

[2019-05-13 08:19] whedon commented on #1112
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/689

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/689, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-13 08:20] MKLau commented on #1312
@labarba Yes, I'm almost done with a couple of pre-submission edits based on the ROpenSci guidelines. Shooting to submit before the end of this month.

[2019-05-13 08:23] labarba commented on #922
OK, @mandar2812, we will withdraw it. You can make a new submission later on, when you have time to work on the project. Please link to this closed issue when you do so.

[2019-05-13 08:24] #922 closed

[2019-05-13 08:30] maelle commented on #1312
@MKLau before submission to rOpenSci you can open a [pre-submission inquiry](https://github.com/ropensci/software-review/issues/new/choose) so that the editors might assess whether your package is in scope. Thank you! :smile_cat:

[2019-05-13 09:06] labarba commented on #1112
@whedon accept deposit=true

[2019-05-13 09:06] whedon commented on #1112
[code]

[2019-05-13 09:06] whedon commented on #1112
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/690
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01112](https://doi.org/10.21105/joss.01112)
2. If everything looks go

[2019-05-13 09:08] labarba commented on #1112
Congratulations, @jhill1, your JOSS paper is published 🚀

Sincere thanks to our editor: @kthyng, and the reviewers: @edoddridge, @PythonCHB — we appreciate your enormous contribution! 🙏

[2019-05-13 09:08] #1112 closed

[2019-05-13 09:09] whedon commented on #1112
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01112/status.svg)](https://doi.org/10.21105/joss.01112)

**We need your help!**

Journal of Open Source Softwar

[2019-05-13 09:17] Chilipp commented on #1382
All right @leouieda, just tell me when I can start the review

[2019-05-13 09:20] PrashantVaidyanathan commented on #1214
@danielskatz I'm happy to help. I'm travelling this week so the earliest I can send in my reviews is 20th May if that's alright?

[2019-05-13 11:13] wandreopoulos commented on #693
Hello:

I just pushed the new code on a new "sqlite3" branch. The tool works with
Python3.
I replaced MySQL with sqlite3. With sqlite3 the installation on Macs will
be much easier.

Thank you for your patience,
Bill

On Sat, Mar 9, 2019 at 4:20 PM Jed Brown <notifications@github.com> wrote:

--
Thanks,
Bill

______________
William B. Andreopoulos, Ph.D.
Joint Genome Institute
LBNL

[2019-05-13 11:42] danielskatz commented on #1214
@PrashantVaidyanathan - Thanks! You will see as we start the review that a JOSS review is not a one-time read, but a set of suggestions and requests to the author, and an iterative process with the author to improve the submission (both the paper and the software)

[2019-05-13 11:42] danielskatz commented on #1214
@whedon add @PrashantVaidyanathan as reviewer

[2019-05-13 11:42] whedon commented on #1214
OK, @PrashantVaidyanathan is now a reviewer

[2019-05-13 11:42] danielskatz commented on #1214
@whedon start review

[2019-05-13 11:42] whedon opened #1445 "[REVIEW]: FSharpGephiStreamer: An idiomatic bridge between F# and network visualization"
**Submitting author:** @muehlhaus (<a href="http://orcid.org/0000-0003-3925-6778">Timo Mühlhaus</a>)
**Repository:** <a href="https://github.com/CSBiology/FSharpGephiStreamer" target ="_blank">https://github.com/CSBiology/FSharpGephiStreamer</a>
**Version:** 1.1.6
**Editor:** @danielskatz
**Reviewer:** @cgravill, @PrashantVaidyanathan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3246352" t

[2019-05-13 11:42] whedon commented on #1214
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1445. Feel free to close this issue now!

[2019-05-13 11:42] whedon commented on #1445
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cgravill, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-05-13 11:42] whedon commented on #1445
[code]

[2019-05-13 11:43] whedon commented on #1445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01445/joss.01445/10.21105.joss.01445.pdf)

[2019-05-13 11:44] #1214 closed

[2019-05-13 11:47] danielskatz commented on #1445
👋 @cgravill & @PrashantVaidyanathan - thanks for agreeing to review.

Please carry out your review in this issue by updating your checklist above. The checklist gives me some insight into the review process and any blocking issues, as well as being the full set of items that once passed will lead us to accept the submission.

And please fully read the the top 2 comments in this issue.  If you have

[2019-05-13 12:03] trallard commented on #1392
Hey  @adrena-lab it seems all is now good for publication, can you please go over this list of actions before I move onto the process:

1. Create a new release on GitHub
2. Publish the package in Zenodo and share the DOI here (the general one pointing to the code and all the versions, not the one corresponding to the latest release)
3. Check the paper for: links, authors and DOIs and call `@whedon

[2019-05-13 12:25] katyhuff commented on #1417
@jarvist : Do you still intend to complete this review?

[2019-05-13 12:33] katyhuff commented on #1433
Thanks both (@jmborr and @arose).

Unfortunately - @jmborr has made an excellent point that I hadn't noticed at first glance. @haptork - I do not see any testing here. There appear to be no unit tests and while the repository holds some example input files (and, perhaps, corresponding output) these do not seem to constitute integration tests. Can you comment on this? Tests are a requirement among

[2019-05-13 12:33] trallard commented on #1403
Thanks @dangunter I will add you now

[2019-05-13 12:33] trallard commented on #1403
@whedon add @dangunter as reviewer

[2019-05-13 12:33] whedon commented on #1403
OK, @dangunter is now a reviewer

[2019-05-13 12:34] trallard commented on #1403
Hi @jsta would you be willing to and able to take this review?

[2019-05-13 12:36] katyhuff commented on #1375
@whedon generate pdf

[2019-05-13 12:36] whedon commented on #1375
[code]

[2019-05-13 12:36] whedon commented on #1375
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01375/joss.01375/10.21105.joss.01375.pdf)

[2019-05-13 12:59] katyhuff commented on #1375
@hfriel69 Thank you for your patience. Before finalizing reviewer assignments, I typically conduct a cursory check that the basic review criteria have a chance of passing the process. In the case of your MuScatt repository, I notice a number of key review criteria that are missing. I cannot move forward with assigning reviewers without such elements, and I recommend that you withdraw your submissi

[2019-05-13 13:09] pdwaggoner commented on #1285
No worries @alexhanna . So we left that in there to alert users that they only supplied one (or two) of the three possible ip check keys. However, this shouldn't stop the function from still pinging the provided service based on the information provided. So for the error you provided, it still worked and should have produced a plot of two "clean" IPs (if you are replicating the example from the re

[2019-05-13 13:46] jsta commented on #1403
Unfortunately I cannot, as my reviewing queue is full.

[2019-05-13 14:18] MarionLegrandLogrami commented on #791
Hi @boshek - thank you for this detailed feedback on the problems encountered during installation. Depending on the error message, the problem is that you have installed an odbc driver that does not rely on the same architecture than the one used by R (you have a 64-bit R version and a 32-bit ODBC driver). There are 2 solutions:
1. Install the 64 bit odbc driver. The best way is to take the latest

[2019-05-13 16:10] whedon opened #1446 "[PRE REVIEW]: cppduals: a nestable vectorized templated dual number library for C++11"
**Submitting author:** @tesch1 (<a href="http://orcid.org/0000-0003-4096-1562">Michael Tesch</a>)
**Repository:** <a href="https://gitlab.com/tesch1/cppduals" target ="_blank">https://gitlab.com/tesch1/cppduals</a>
**Version:** v0.1.0
**Editor:** @danielskatz
**Reviewers:** @StewMH, @mdavezac

**Author instructions**

Thanks for submitting your paper to JOSS @tesch1. **Currently, there isn't an JO

[2019-05-13 16:10] whedon commented on #1446
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-13 16:10] whedon commented on #1446
[code]

[2019-05-13 16:11] whedon commented on #1446
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01446/joss.01446/10.21105.joss.01446.pdf)

[2019-05-13 16:20] arfon commented on #1446
:wave: @tesch1 - thanks for your submission to JOSS.

After giving your paper a quick read, I think it would be good to expand a little on this bullet from our [paper requirements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain):

We also have this requirement for our papers:

Are there ongoing research projects that make use of this software?

[2019-05-13 16:34] cMadan commented on #1204
@mfroeling, what are your thoughts here?

[2019-05-13 16:50] casperdcl commented on #1277
@whedon generate pdf from branch master

[2019-05-13 16:50] whedon commented on #1277
[code]

[2019-05-13 16:50] whedon commented on #1277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01277/joss.01277/10.21105.joss.01277.pdf)

[2019-05-13 17:08] casperdcl commented on #1277
@cMadan all done: merged, tagged (v4.32.0) and released on all channels (GitHub/Zenodo/PyPI/DockerHub/Snapcraft). Just waiting for Conda.

[2019-05-13 17:33] casperdcl commented on #1277
note that this is more recent than the version mentioned in the original (https://github.com/openjournals/joss-reviews/issues/1277#issue-413844605)

[2019-05-13 17:49] stefanv commented on #1247
@gnarayan Thank you very much for your detailed review; the software & documentation is in a much better state because of it.

@arfon Thank you for handling this submission, and for guiding us through the JOSS review process.

[2019-05-13 18:02] jshermeyer commented on #1047
Thanks to Zig @zhampel  for his helpful and thoughtful comments.  Also thanks to the editors @Kevin-Mattheus-Moerman @labarba  for pushing this on, I apologize for being an absentee on this.  I've gradually added onto Comet to address all of his concerns.

_A brief overview:_
-Code totally reformatted to meet pep8 standards and reorganized for simplicity
-Now has a command line API for those who w

[2019-05-13 19:07] banesullivan commented on #1384
@whedon generate pdf

[2019-05-13 19:07] whedon commented on #1384
[code]

[2019-05-13 19:07] whedon commented on #1384
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01384/joss.01384/10.21105.joss.01384.pdf)

[2019-05-13 19:18] vc1492a commented on #1308
@cMadan Thanks for considering - I'd be happy to provide a review, but it will be a few weeks until I sit down to get started due to a few other commitments and another JOSS review I am currently progressing through (referenced above). Looking at the repository, it looks like I won't be able to review the Matlab functionality, but would be able to review the Python functionality. Let me know how t

[2019-05-13 20:28] lucask07 commented on #1376
Hi @labarba
Sure, I have a labjack and so this is definitely a good fit.

[2019-05-13 20:29] labarba commented on #1376
@whedon assign @lucask07 as reviewer

[2019-05-13 20:29] whedon commented on #1376
OK, the reviewer is @lucask07

[2019-05-13 20:30] labarba commented on #1376
We'll try to get a second reviewer and then start the review. Thanks, @lucask07 !

[2019-05-13 20:57] pierrepo commented on #1390
Dear @rpetit3 & @lowandrew thank you for your reviews. I appreciate very much the time you spent to test and assess AutoClassWrapper.
You both noticed a lack in the documentation and I will try to improve this point.
Of course, I will also answer all the questions you raised.
If you agree I'll come back to you before mid-June (ping @trallard ).

[2019-05-13 21:02] ixjlyons commented on #1376
I don't have a LabJack device, but I have experience with data acquisition so I could do some code review and the usual checklist items (and I'm willing to do the review if that's sufficient). Alternatively, I know @moorepants is on the reviewer list and has LabJack hardware, though I don't know if he has one of the T series devices or bandwidth to do a review.

[2019-05-13 21:15] raamana commented on #1308
Thanks Chris for the invite. As much as I love to review this (I myself worked towards making such tools - look at [draw3dnx in graynet](https://github.com/raamana/graynet/blob/master/graynet/vis_network.py) which uses plotly also ) and contribute to JOSS, I am unfortunately very busy in the next few months (oversubscribed already). Late June or July is better time for me, but I hope the authors d

[2019-05-13 21:34] whedon opened #1447 "[PRE REVIEW]: Phy2HTML: A simple method for displaying phylogenies in webpages"
**Submitting author:** @msrosenberg (<a href="http://orcid.org/0000-0001-7882-2467">Michael S. Rosenberg</a>)
**Repository:** <a href="https://github.com/msrosenberg/Phy2HTML" target ="_blank">https://github.com/msrosenberg/Phy2HTML</a>
**Version:** 1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @drmsrosenberg. **Currently, there is

[2019-05-13 21:35] whedon commented on #1447
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-13 21:35] whedon commented on #1447
[code]

[2019-05-13 21:35] whedon commented on #1447
PDF failed to compile for issue #1447 with the following error:

 /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/psych.rb:402:in `parse': (tmp/1447/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/psych.rb:402:in `parse_stream'
	from /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/psych.rb:350:in `parse'
	from /app/

[2019-05-13 22:45] casperdcl commented on #1277
correction just released v4.32.1 with a minor bugfix

[2019-05-13 22:47] luizirber commented on #1418
Finally back on track, sorry for the delay.

I sent some PRs for small doc fixes in the original repo, so the main items missing in the checklist are:

## Automated tests

While CircleCI is set up, I didn't find any tests in the codebase. The examples are very nice, but are not automated/ran on every PR. But it seems they would be very amenable to testing, perhaps with smaller data inputs?

## Ref

[2019-05-13 22:49] vsoch commented on #1418
Thanks @luizirber ! I'll get you some tests (likely tomorrow, or day after). I just responded to the PR (thank you!) and I'll see if I can update references with DOIs.

[2019-05-13 22:57] banesullivan commented on #1382
Please note, @akaszynski and I have changed the paper title to "PyVista: 3D plotting and mesh analysis through a streamlined interface for the Visualization Toolkit (VTK)"

@whedon generate pdf

[2019-05-13 22:57] banesullivan commented on #1382
@whedon generate pdf

[2019-05-13 22:57] whedon commented on #1382
[code]

[2019-05-13 22:58] whedon commented on #1382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01382/joss.01382/10.21105.joss.01382.pdf)

[2019-05-13 23:01] banesullivan commented on #1382
@whedon commands

[2019-05-13 23:01] whedon commented on #1382
Here are some things you can ask me to do:

[code]

[2019-05-14 00:46] corybrunson commented on #1434
@csoneson i apologize for the delay on my part. I won't be able to review the submission tomorrow but i expect to this week.

[2019-05-14 01:53] MKLau commented on #1312
@maelle will do, thanks!

[2019-05-14 02:09] cMadan commented on #1277
@whedon set 10.5281/zenodo.2800317 as archive

[2019-05-14 02:09] whedon commented on #1277
OK. <a href="https://doi.org/10.5281/zenodo.2800317" target="_blank">10.5281/zenodo.2800317</a> is the archive.

[2019-05-14 02:09] cMadan commented on #1277
@whedon set v4.32.1 as version

[2019-05-14 02:09] whedon commented on #1277
OK. v4.32.1 is the version.

[2019-05-14 02:10] cMadan commented on #1277
@whedon accept

[2019-05-14 02:10] whedon commented on #1277
[code]

[2019-05-14 02:10] whedon commented on #1277
[code]

[2019-05-14 02:10] whedon commented on #1277
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/691

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/691, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-14 02:24] cMadan commented on #1308
@vc1492a, that sounds good to me. In that case, I'll assign you as reviewer and you can start (and let me know) when you're ready.

@raamana, no worries, thank you for considering!

@jg-you, I'd like to also assign you as reviewer, if you're still interested. I think reviewing alongside another reviewer here would also be helpful in seeing how we do software reviews at JOSS. Let me know if that wo

[2019-05-14 02:24] cMadan commented on #1308
@whedon add @vc1492a as reviewer

[2019-05-14 02:24] whedon commented on #1308
OK, @vc1492a is now a reviewer

[2019-05-14 02:30] cMadan commented on #1277
@openjournals/joss-eics, I think we're all set to accept here!

[2019-05-14 02:43] MKLau commented on #1312
Submitted a presub inquiry see #[300](https://github.com/ropensci/software-review/issues/300).

[2019-05-14 03:05] danlurie commented on #1308
Thanks for inviting me, @cMadan. `webweb` looks like a really net and useful tool!

Unfortunately, like @raamana, I'm pretty much booked solid from now until early July. Hopefully you're not still looking for reviewers then, but if you are feel free to ping me again.

[2019-05-14 06:12] sambitdash commented on #1323
malmaud, jameshclrk, ChrisRackauckas can be comfortable with the Julia Language I guess.

[2019-05-14 09:19] labarba commented on #1277
👋  @casperdcl — Could you edit the metadata of the Zenodo deposit, so the title and author list matches the paper? You may also want to add your ORCID.

[2019-05-14 09:41] labarba commented on #1376
Thank you, @ixjlyons! Since we have one other reviewer, your code review as described is sufficient. I'll add you and start the review now.

[2019-05-14 09:41] labarba commented on #1376
@whedon add @ixjlyons as reviewer

[2019-05-14 09:41] whedon commented on #1376
OK, @ixjlyons is now a reviewer

[2019-05-14 09:42] labarba commented on #1376
@whedon start review

[2019-05-14 09:42] whedon opened #1448 "[REVIEW]: labjack-controller: Fast Realtime Data Collection with Labjack T-Series DAQs in Python"
**Submitting author:** @nyctanthous (<a href="http://orcid.org/0000-0002-1240-5385">Benjamin Montgomery</a>)
**Repository:** <a href="https://github.com/university-of-southern-maine-physics/labjack-controller" target ="_blank">https://github.com/university-of-southern-maine-physics/labjack-controller</a>
**Version:** 0.4.1
**Editor:** @usethedata
**Reviewer:** @lucask07, @ixjlyons
**Archive:** <a

[2019-05-14 09:42] whedon commented on #1376
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1448. Feel free to close this issue now!

[2019-05-14 09:42] whedon commented on #1448
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lucask07, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-05-14 09:42] whedon commented on #1448
[code]

[2019-05-14 09:42] #1376 closed

[2019-05-14 09:42] whedon commented on #1448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01448/joss.01448/10.21105.joss.01448.pdf)

[2019-05-14 09:48] labarba commented on #1448
👋  @lucask07, @ixjlyons — Thanks for agreeing to review this submission for JOSS! This is where it happens. Follow your review checklist above, and feel free to ask questions here or post issues in the submission repository.

[2019-05-14 10:39] seabbs commented on #1434
Hi @fauvernierma,

First off this package looks great and I particularly like the detailed vignette. 👍

Broken down comments by section.

## General Checks

- [ ]  License needs references to your actual package in the appropriate places. fauvernierma/survPen#2
- [ ] Whilst your released version (i.e CRAN) matches your dev version (GitHub) I would ideally see some kind of explicit archiving of giv

[2019-05-14 11:55] casperdcl commented on #1277
@labarba done I think

[2019-05-14 12:16] fauvernierma commented on #1434
Thank you very much for @seabbs for the review

@csoneson, should I go to "pull request" in github to address each issue or can I just edit the file ?
And also am I authorized to close the issues myself when I consider that they have been addressed ?

Thanks

[2019-05-14 12:32] usethedata commented on #1376
/ooo May 14 until June 1

[2019-05-14 13:42] csoneson commented on #1434
Thanks for your review @seabbs! Regarding the author contribution statement, we currently don't require that. Ultimately, authors are responsible for deciding which contributions are sufficient for co-authorship (see more at https://joss.readthedocs.io/en/latest/review_criteria.html#authorship). @fauvernierma, since it's difficult to judge from the commit history in your repository - could you ple

[2019-05-14 13:44] csoneson commented on #1434
@fauvernierma: You don't have to make a separate pull request for each fix. It may be useful to keep each fix in a separate commit, and refer to the commit in the corresponding issue. This would keep things modular and make it easy for the reviewers to see what you changed. You can also close the issues in your repository - the evaluation from the reviewers will be recorded in the checklist in the

[2019-05-14 13:48] fauvernierma commented on #1434
Ok, thanks @csoneson .

@seabbs, as for the authorship, the four other authors/contributors and I are part of a survival working group within our research department. Two of them (Laurent Remontet and Nadine Bossard) are indeed my thesis advisors.
Laurent Roche and Laurent Remontet are cited as authors as they intervened in the core development of the package (especially in linear algebra and matr

[2019-05-14 13:53] seabbs commented on #1434
Yes, that is great #fauvernierma - thanks :smile:

[2019-05-14 13:54] osorensen commented on #1404
Dear @csoneson, @dmbates and @dirmeier

The master branch of the GitHub repository is now updated with development version 0.2.3.9001 of hdme. The following are the most important updates:

- All main methods have been renamed according to the suggestion from @dmbates, i.e., the function names are now `gmus()`, `gmu_lasso()`, .etc., rather than `fit_gmus()`, `fit_gmu_lasso()?, etc.
- print() and c

[2019-05-14 14:40] dirmeier commented on #1404
@whedon generate pdf

[2019-05-14 14:40] whedon commented on #1404
[code]

[2019-05-14 14:41] whedon commented on #1404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01404/joss.01404/10.21105.joss.01404.pdf)

[2019-05-14 14:45] alexhanna commented on #1323
@malmaud, @jameshclrk, @ChrisRackauckas -- are any of you available to edit this submission?

[2019-05-14 14:51] arfon commented on #1323
By edit, you mean _review_ right 😃

[2019-05-14 14:52] alexhanna commented on #1323
YES. Sorry. It's still before 8 AM here. :P

[2019-05-14 14:57] tesch1 commented on #1446
Thanks for the quick reply.

I've recalibrated the summary a bit, is there anything more specific about
what kind of diverse non-specialist audience is intended?  Academics with
some math, at least?

Yes, there are ongoing research projects using the software, indeed one of
them is mentioned, though there are no citations at this time.

On Mon, May 13, 2019 at 6:20 PM Arfon Smith <notifications@gi

[2019-05-14 15:03] alexhanna commented on #1285
I see now. Would it be preferable to make this a warning rather than an error?

Also, I still believe you need to add a version release, per the reviewer guidelines (Version: Does the release version given match the GitHub release (v1.1.1)?)

[2019-05-14 15:10] pdwaggoner commented on #1285
Thanks! We opted for the error for a couple reasons: first, it is slightly more efficient from our perspective, as we didn't "hard code" any error or warnings messages. It's just a default due to lack of supplied arguments, making the function run a bit quicker. And second, we like the idea of an error over a warning (but still not a stop error) as its a bit of a stronger flag to the user, "strong

[2019-05-14 15:12] alexhanna commented on #1285
Nope, I think that's it. Thanks so much. Sorry this took so long.

@yochannah I think this is ready for publication.

[2019-05-14 15:15] pdwaggoner commented on #1285
No worries at all - thanks so much for the great review! We really appreciate your perspective and feedback here @alexhanna - the paper and software are much stronger as a result.

[2019-05-14 15:18] vijaysm commented on #1432
@jedbrown I would be happy to review the paper as well if you are still looking for reviewers.

[2019-05-14 15:51] vsoch commented on #1418
@whedon generate pdf

[2019-05-14 15:51] whedon commented on #1418
[code]

[2019-05-14 15:51] whedon commented on #1418
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01418/joss.01418/10.21105.joss.01418.pdf)

[2019-05-14 15:53] vsoch commented on #1418
@whedon generate pdf again!

[2019-05-14 15:53] whedon commented on #1418
[code]

[2019-05-14 15:54] whedon commented on #1418
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01418/joss.01418/10.21105.joss.01418.pdf)

[2019-05-14 17:08] dirmeier commented on #1404
Hello, I think the `fit_gmus` and `fit_corrected_lasso` need to be updated to `gmus` and ` corrected_lasso` in the manuscript. Other than that, I think we are done with the review from my side. Great package!

[2019-05-14 18:10] osorensen commented on #1404
@whedon generate pdf

[2019-05-14 18:10] whedon commented on #1404
[code]

[2019-05-14 18:10] whedon commented on #1404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01404/joss.01404/10.21105.joss.01404.pdf)

[2019-05-14 18:11] osorensen commented on #1404
Thanks @dirmeier, `fit_gmus` and `fit_corrected_lasso` are now updated.

[2019-05-14 21:07] mfroeling commented on #1204
@cMadan I have updated the readme regarding the Mac and linux compatibility and het verified that the sripts of the demos run on a Unix server and two different macbooks.
If problems occur with compatibility i am happy to debug them in the future.
For the moment i think i have addressed all issues so i leave it up to you to decide  how to continue.

@rljacobson No problem thanks for the input so f

[2019-05-14 23:31] arfon commented on #1446
@whedon generate pdf

[2019-05-14 23:31] whedon commented on #1446
[code]

[2019-05-14 23:31] whedon commented on #1446
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01446/joss.01446/10.21105.joss.01446.pdf)

[2019-05-15 00:04] arfon commented on #1446
Thanks, I think that addition to the introduction helps.

Could you take a look at this [list of potential reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) and identify any good candidates to review this submission?

[2019-05-15 00:10] arfon commented on #1447
:wave: @msrosenberg - many thanks for your submission to JOSS.

Unfortunately this submission isn't allowed in JOSS as it falls into our ['minor utility'](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) category.

[2019-05-15 00:10] #1447 closed

[2019-05-15 00:11] whedon opened #1449 "[PRE REVIEW]: WRF-CMake: integrating CMake support into the Advanced Research WRF (ARW) modelling system"
**Submitting author:** @letmaik (<a href="http://orcid.org/0000-0003-3299-1382">Maik Riechert</a>)
**Repository:** <a href="https://github.com/WRF-CMake/WRF" target ="_blank">https://github.com/WRF-CMake/WRF</a>
**Version:** 4
**Editor:** @arfon
**Reviewers:** @zbeekman, @andreas-h

**Author instructions**

Thanks for submitting your paper to JOSS @letmaik. The JOSS editor @arfon, will work with y

[2019-05-15 00:11] whedon commented on #1449
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2019-05-15 00:11] whedon commented on #1449
[code]

[2019-05-15 00:11] whedon commented on #1449
PDF failed to compile for issue #1449 with the following error:

 Can't find any papers to compile :-(

[2019-05-15 00:11] whedon commented on #1449
Downloading of the repository (to analyze the language) for issue #1449 failed with the following error:

 Cloning into 'tmp/1449'...

[2019-05-15 00:16] arfon commented on #1449
:wave: @letmaik - many thanks for your submission to JOSS. Please review our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) and prepare a `paper.md` file (and references in a bibtex file) and add them to the repository.

[2019-05-15 00:33] leouieda commented on #1382
@whedon generate pdf

[2019-05-15 00:33] whedon commented on #1382
[code]

[2019-05-15 00:34] whedon commented on #1382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01382/joss.01382/10.21105.joss.01382.pdf)

[2019-05-15 00:45] leouieda commented on #1382
OK, I just renamed the issue and updated the link in the description to the new package. Everything seems to work and the link inserted in the PDF is the correct one now. I'm just waiting on some reviewer invitations to start the review. Hopefully that can be resolved within a week or so.

[2019-05-15 00:53] leouieda commented on #1342
:+1: Thanks @kbenoit, I just wanted to make sure that was the case.

[2019-05-15 02:31] JonathanReardon commented on #1382
I would like to do the review if possible

[2019-05-15 02:48] brainstorm commented on #1418
@vsoch LGTM, archive to Zenodo #FTW?

[2019-05-15 02:52] vsoch commented on #1418
hey @brainstorm ! I’m still finishing up some final tests, and I should have it ready to go in a couple of days at the most. Will keep you posted!

[2019-05-15 02:54] leouieda commented on #1382
@whedon add @nicoguaro as reviewer

[2019-05-15 02:54] whedon commented on #1382
OK, @nicoguaro is now a reviewer

[2019-05-15 02:56] leouieda commented on #1382
@JonathanReardon [as I said on twitter](https://twitter.com/leouieda/status/1128493607860654080) @nicoguaro beat you to it this time :slightly_smiling_face: Thanks again for volunteering and I hope you'll consider doing so again the future.

[2019-05-15 03:02] leouieda commented on #1382
@whedon start review

[2019-05-15 03:02] whedon opened #1450 "[REVIEW]: PyVista: 3D plotting and mesh analysis through a streamlined interface for the Visualization Toolkit (VTK)"
**Submitting author:** @banesullivan (<a href="http://orcid.org/0000-0001-8628-4566">C. Bane Sullivan</a>)
**Repository:** <a href="https://github.com/pyvista/pyvista/" target ="_blank">https://github.com/pyvista/pyvista</a>
**Version:** 0.20.2
**Editor:** @leouieda
**Reviewer:** @Chilipp, @nicoguaro
**Archive:** <a href="https://doi.org/10.5281/zenodo.2647611" target="_blank">10.5281/zenodo.26476

[2019-05-15 03:02] whedon commented on #1382
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1450. Feel free to close this issue now!

[2019-05-15 03:02] whedon commented on #1450
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Chilipp, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-05-15 03:02] whedon commented on #1450
[code]

[2019-05-15 03:02] #1382 closed

[2019-05-15 03:03] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-15 03:04] leouieda commented on #1382
@banesullivan @Chilipp @nicoguaro please head on over to #1450 for the actual review. Please feel free to post any comments there and open issues in the software repository. Don't hesitate to ask if you have any questions.

[2019-05-15 04:23] banesullivan commented on #1450
Probably not a big issue but I see it's on the checklist - `@whedon` marks version `0.18.1` in the checklist but PyVista is released officially on `0.20.1`

[2019-05-15 06:39] ManojWarrier commented on #1433
As co-author, these are my comments:
1) The physics and results from CSaransh are described in the following paper -> https://arxiv.org/abs/1811.10923
2) Regarding tests,
    (a) CSaransh reproduces published physics results for the "number of defects" as a function of "primary knock-on atom energy".
    (b) The part where a certain type of cluster is chosen and other similar clusters are identifi

[2019-05-15 07:08] letmaik commented on #1449
@whedon generate pdf from branch joss-paper

[2019-05-15 07:08] whedon commented on #1449
[code]

[2019-05-15 07:09] whedon commented on #1449
PDF failed to compile for issue #1449 with the following error:

 /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-fc4c5c749ca9/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-fc4c5c749ca9/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-fc

[2019-05-15 07:09] letmaik commented on #1449
@arfon Is it possible to submit papers to JOSS without affiliation?

[2019-05-15 07:39] cMadan commented on #1308
@danlurie, no worries, thanks for considering!

[2019-05-15 07:45] cMadan commented on #1204
@mfroeling @rljacobson, thank you both for all your work with these last changes. I will move ahead with acceptance and greatly appreciate @rljacobson's offer to continue to help in working on the OS compatibility issue independent of this JOSS review.

@mfroeling, I will move forward with my final checks and follow-up soon.

[2019-05-15 08:04] Kevin-Mattheus-Moerman commented on #1421
@modenaxe, @demotu thanks for agreeing to review this work. Can you give an indication as to when you can finish this review work? Thanks again

[2019-05-15 08:06] Kevin-Mattheus-Moerman commented on #1094
@ybayle since you confirmed the tests work I believe this is fine, so yes please go ahead and tick that last box. Thanks @carterenyi for the explanation.

[2019-05-15 08:06] Kevin-Mattheus-Moerman commented on #1094
@whedon generate pdf

[2019-05-15 08:06] whedon commented on #1094
[code]

[2019-05-15 08:06] whedon commented on #1094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01094/joss.01094/10.21105.joss.01094.pdf)

[2019-05-15 08:09] Kevin-Mattheus-Moerman commented on #1291
@trallard, @piermorel, @ManuelaS can you provide an update on progress for this review?

[2019-05-15 08:10] Kevin-Mattheus-Moerman commented on #1094
@whedon check references

[2019-05-15 08:10] whedon commented on #1094
[code]

[2019-05-15 08:10] whedon commented on #1094
[code]

[2019-05-15 08:13] Kevin-Mattheus-Moerman commented on #1094
@carterenyi at this point can you:

- [ ] Please archive a copy of the reviewed software on [Zenodo](http://about.zenodo.org/) (some find the steps defining [this](https://guides.github.com/activities/citable-code/) automated process useful). Once you've done that can you provide us with the DOI of the archived version?
- [ ] Can you please list the final version label for the reviewed software?

[2019-05-15 08:16] Kevin-Mattheus-Moerman commented on #1262
@r-barnes I think we are still waiting for @ybayle to implement changes and work on the issues reported. @ybayle can you provide an update as to where we stand? Thanks!

[2019-05-15 08:25] Kevin-Mattheus-Moerman commented on #1356
@celliern let us know when you've implemented all changes so we can resume review. Below are some points to consider.

- [ ] In terms of contributing guidelines, have you added anything yet? I recommend creating a CONTRIBUTING.md file and linking to it in the README.md file with a nice heading. There are [guidelines](https://help.github.com/en/articles/setting-guidelines-for-repository-contributor

[2019-05-15 08:28] Kevin-Mattheus-Moerman commented on #1012
@whedon generate pdf

[2019-05-15 08:28] whedon commented on #1012
[code]

[2019-05-15 08:29] whedon commented on #1012
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01012/joss.01012/10.21105.joss.01012.pdf)

[2019-05-15 08:31] Kevin-Mattheus-Moerman commented on #1012
@dahtah can you add the following sections/headings to your paper:

- [ ] Acknowledgements

- [ ] References

[2019-05-15 08:42] Kevin-Mattheus-Moerman commented on #1047
@labarba thanks for helping here. In relation to:

Agreed, however, although I do not feel there is evidence for a clear conflict of interest here (in fact the reviewer has been very thorough and detailed requirements), the reviewer @zhampel did point out to me that "...the author, Jake Shermeyer, is a member of a sister lab of my organization.". Hence I would prefer to find a replacement reviewer

[2019-05-15 08:48] Kevin-Mattheus-Moerman commented on #1047
@chrismattmann @dmittman I believe you pointed out you might be able to review this work over at https://github.com/openjournals/joss-reviews/issues/866. Would greatly appreciate if you would be able to help (save the day! :rocket: ) with this review? The review has already started but we now need at least one additional/replacement reviewer.

[2019-05-15 08:49] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer can you check if you need to update your paper to reflect all the changes you've made? Please run `@whedon generate pdf` here to regenerate your paper here.

[2019-05-15 08:52] Kevin-Mattheus-Moerman commented on #1012
@whedon generate pdf

[2019-05-15 08:52] whedon commented on #1012
[code]

[2019-05-15 08:53] whedon commented on #1012
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01012/joss.01012/10.21105.joss.01012.pdf)

[2019-05-15 08:55] chrisrichardson commented on #1441
@whedon commands

[2019-05-15 08:55] whedon commented on #1441
Here are some things you can ask me to do:

[code]

[2019-05-15 08:55] Kevin-Mattheus-Moerman commented on #1012
@dahtah thanks for making those changes. at this point can you:

- [ ] Please archive a copy of the reviewed software on [Zenodo](http://about.zenodo.org/) (some find the steps defining [this](https://guides.github.com/activities/citable-code/) automated process useful). Once you've done that can you provide us with the DOI of the archived version?
- [ ] Can you please list the final version label

[2019-05-15 09:07] Kevin-Mattheus-Moerman commented on #1173
@kyleniemeyer in relation to

Yes, somewhat. My key "concern" is that this submission is in my opinion borderline in terms of what it adds on top of previous work, and very close to being too minor a contribution. This work appears to largely be a collection of codes (with minor changes) developed by others, combined with a small amount of novel codes. Despite the above, I have ticked all the boxe

[2019-05-15 09:10] Kevin-Mattheus-Moerman commented on #1292
Thanks @chrisrichardson for ticking those final boxes.

[2019-05-15 09:10] Kevin-Mattheus-Moerman commented on #1292
@wedon generate pdf

[2019-05-15 09:18] chrisrichardson commented on #1441
@likask - https://bitbucket.org/likask/mofem-cephas/src/joss/media/paper.md seems not to work. Is this the correct URL anyway?

[2019-05-15 09:25] likask commented on #1441
@chrisrichardson Hello, I had to move paper to the directory visible by whedon to generate PDF. You will find it here
[https://bitbucket.org/likask/mofem-cephas/src/master/joss/paper.md](https://bitbucket.org/likask/mofem-cephas/src/master/joss/paper.md)

[2019-05-15 09:48] arfon commented on #1449
@letmaik - it is, but it's kind of a hack:

[code]

[2019-05-15 11:01] trallard commented on #1291
Hi @Kevin-Mattheus-Moerman with the chance in institutions / jobs recently I only discovered that now my MATLAB license is no longer valid. So I am afraid I cannot longer complete the rest of my review unfortunately, perhaps @piermorel can proceed?

[2019-05-15 12:00] haptork commented on #1433
@katyhuff The software includes sample inputs in the data directory as you noted. The installation steps in the manual include the steps to run the post-processors on the sample data given and view the results using the interface. I think this passes the "OK" guideline for the tests.

Different results including number of defects, cluster shapes have been verified qualitatively against prior publi

[2019-05-15 12:37] fsobral commented on #1385
@whedon generate pdf from branch joss

[2019-05-15 12:37] whedon commented on #1385
[code]

[2019-05-15 12:37] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-15 12:55] drvinceknight commented on #1371
I have started my review, and everything looks good apart from minor comments that I've left here: https://github.com/artivis/manif/pull/79, I need to work through my remaining tick boxes (all regarding functionality).

[2019-05-15 13:43] ManuelaS commented on #1291
Thanks for following up @Kevin-Mattheus-Moerman.
I have worked through all the issues raised so far by @trallard and @piermorel and addressed them either here in the review thread or directly in repo issues.
Let me know if I can help with anything to move forward with this review and thanks @trallard and @piermorel for the all the suggestions to improve HCP so far!

[2019-05-15 14:26] slithiaote commented on #1005
I believe that the bootstrapping process falls into the OK category. The process is manual, and the steps are documented. This process will run two test files which cover the expected functionality of Lepton :
- it will write files to disk, e.g. the source code
- it will run commands, e.g. the compilation commands to produce the Lepton executable
- it will produce documents, e.g. the sources for t

[2019-05-15 14:28] katyhuff commented on #1433
Thank you @haptork and @ManojWarrier .

From what I can tell, when you say "The installation steps in the manual include the steps to run the post-processors on the sample data given and view the results using the interface. "  you are referring to this statement:

While that's great, it doesn't constitute instructions for making an objective assertion of the software capabilities.

Our requiremen

[2019-05-15 14:40] Kevin-Mattheus-Moerman commented on #1291
@trallard would you be able to to use a [MATLAB trial license](https://www.mathworks.com/campaigns/products/trials.html) (valid for 30 days, can be extended) to complete the review? I think if you have it already installed you'd only need to update your license number with a trial license number so this could be fast. Please let me know what you decide, your help is greatly appreciated.

[2019-05-15 15:17] csoneson commented on #1404
@osorensen - thanks for updating the package, and @dirmeier - thanks for letting us know that you are happy with the submission! Although @dmbates has already checked all the boxes in the checklist, I would like to get a confirmation that he is also satisfied with the additions prompted by his comments above, before we move on to the next stage.

[2019-05-15 15:20] jedbrown commented on #1432
Thanks, @vijaysm. I'd be happy to have your review; there's now a checklist for you in #1441.

[2019-05-15 15:28] csoneson commented on #1407
👋 @jkanche - just checking in on your review status. There are several unticked boxes in your checklist - could you provide some comments for @IbrahimTanyalcin explaining your current reservations in some more detail?

[2019-05-15 15:47] nicoguaro commented on #1450
I did a first review of the package and I have the following comments:

- The installation instructions for ``pip`` work properly while they do not work for ``conda``.
- The examples work properly, although the colors differ from the documentation.

[2019-05-15 15:53] banesullivan commented on #1450
Thanks for the comments @nicoguaro

we are currently waiting on the Conda-forge team to merge our anaconda recipe in https://github.com/conda-forge/staged-recipes/pull/8394

This has to do with how we allow users to set plotting themes via `pyvista.set_plot_theme` the default theme a user experiences is a bit different than the `'document'` theme we use when building the docs. To have the same col

[2019-05-15 15:56] dmbates commented on #1404
The modified version has addressed my concerns.

[2019-05-15 16:43] modenaxe commented on #1421
@Kevin-Mattheus-Moerman I will try to do it by the end of next week, my apologies for the delay!

[2019-05-15 16:44] banesullivan commented on #1450
Live on Conda-forge: [![conda-forge/pyvista](https://img.shields.io/conda/vn/conda-forge/pyvista.svg)](https://anaconda.org/conda-forge/pyvista)

[2019-05-15 16:53] aelanman commented on #1234
@arfon Okay. We've made new release and archived it on Zenodo here:
[https://doi.org/10.5281/zenodo.2847055](https://doi.org/10.5281/zenodo.2847055)

[2019-05-15 17:02] evcastelani commented on #1385
@whedon generate pdf from branch joss

[2019-05-15 17:03] whedon commented on #1385
[code]

[2019-05-15 17:03] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-15 17:05] arfon commented on #1234
@whedon set 10.5281/zenodo.2847055 as archive

[2019-05-15 17:05] whedon commented on #1234
OK. <a href="https://doi.org/10.5281/zenodo.2847055" target="_blank">10.5281/zenodo.2847055</a> is the archive.

[2019-05-15 17:08] arfon commented on #1234
@whedon accept

[2019-05-15 17:08] whedon commented on #1234
[code]

[2019-05-15 17:08] whedon commented on #1234
[code]

[2019-05-15 17:08] whedon commented on #1234
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/692

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/692, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-15 17:09] arfon commented on #1234
@whedon accept deposit=true

[2019-05-15 17:09] whedon commented on #1234
[code]

[2019-05-15 17:13] arfon commented on #1234
@ygrange - many thanks for your review here ✨

@aelanman - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.01234 :zap::rocket::boom:

[2019-05-15 17:13] #1234 closed

[2019-05-15 17:13] whedon commented on #1234
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01234/status.svg)](https://doi.org/10.21105/joss.01234)

**We need your help!**

Journal of Open Source Softwar

[2019-05-15 17:29] alexhanna commented on #1409
Hi @u01ai11. Just checking in on this.

[2019-05-15 17:41] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-15 17:41] whedon commented on #1392
[code]

[2019-05-15 17:41] whedon commented on #1392
PDF failed to compile for issue #1392 with the following error:

 Can't find any papers to compile :-(

[2019-05-15 17:46] adrena-lab commented on #1392
Dear @trallard,

We created a new release on github (v1.0.1) to encompass the latest revisions. We have published the package on Zenodo and obtained the following DOI:10.5281/zenodo.2847906.  Unfortunately, there appear to be some issues with compiling the .pdf and I am unsure how to proceed.  I would appreaciate any advice.

Thank you,

Niamh

[2019-05-15 17:47] arfon commented on #1392
@whedon generate pdf

[2019-05-15 17:47] whedon commented on #1392
[code]

[2019-05-15 17:48] whedon commented on #1392
PDF failed to compile for issue #1392 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.597/279c0eb56ba260c2eb47e84a0963ff2ed937ca37.shtml': Cannot load file
  Jpeg Invalid marker used
  PNG Invalid PNG file, signature broken
  Bitmap Invalid Bitmap magic identifier
  GIF Invalid Gif signature :

  HDR Invalid radiance file signature
  Tiff Invalid endian tag value
  TGA

[2019-05-15 17:50] arfon commented on #1392
@adrena-lab - please update the URLs for images in your `paper.md` to link to GitHub RAW URLs e.g. `https://raw.githubusercontent.com/adrena-lab/Optimising-Light-Source-Positioning/Code/Figures/Figure1.png`

[2019-05-15 17:54] adrena-lab commented on #1392
Dear @arfon

Thank you very much.  I will try that now.

Niamh

[2019-05-15 17:59] sanskriti-s commented on #1420
Hi @annoviko. Sorry for the late response, I had finals. So I fixed the README, but I have a question about the DOIs. To the best of my knowledge online sources don't have DOIs and while books do, I can't find one for the book I have cited. So what should I do about them?

[2019-05-15 18:00] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-15 18:00] whedon commented on #1392
[code]

[2019-05-15 18:01] whedon commented on #1392
PDF failed to compile for issue #1392 with the following error:

[2019-05-15 18:04] adrena-lab commented on #1392
Dear @arfon,

I made those changes but am still encountering an error but it I cannot see what the error is.  Again, any advice would be appreciated.

Thank you,

Niamh

[2019-05-15 18:04] arfon commented on #1392
@whedon generate pdf

[2019-05-15 18:04] whedon commented on #1392
[code]

[2019-05-15 18:04] whedon commented on #1392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01392/joss.01392/10.21105.joss.01392.pdf)

[2019-05-15 18:04] adrena-lab commented on #1392
Thank you!

[2019-05-15 18:09] letmaik commented on #1449
@whedon generate pdf from branch joss-paper

[2019-05-15 18:09] whedon commented on #1449
[code]

[2019-05-15 18:11] whedon commented on #1449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01449/joss.01449/10.21105.joss.01449.pdf)

[2019-05-15 18:15] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-15 18:15] whedon commented on #1392
[code]

[2019-05-15 18:15] whedon commented on #1392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01392/joss.01392/10.21105.joss.01392.pdf)

[2019-05-15 18:18] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-15 18:18] whedon commented on #1392
[code]

[2019-05-15 18:19] whedon commented on #1392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01392/joss.01392/10.21105.joss.01392.pdf)

[2019-05-15 20:19] letmaik commented on #1449
@whedon generate pdf from branch joss-paper

@arfon We changed layout slightly and also replaced affiliation by "Independent scholar" which makes more sense than "None", see also https://journals.ametsoc.org/doi/full/10.1175/BAMS-D-12-00171.1 where they've done the same.

[2019-05-15 20:19] whedon commented on #1449
[code]

[2019-05-15 20:19] whedon commented on #1449
PDF failed to compile for issue #1449 with the following error:

 error: pathspec 'joss-paper?' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2019-05-15 20:21] letmaik commented on #1449
@whedon generate pdf from branch joss-paper

[2019-05-15 20:21] whedon commented on #1449
[code]

[2019-05-15 20:22] whedon commented on #1449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01449/joss.01449/10.21105.joss.01449.pdf)

[2019-05-15 20:23] csoneson commented on #1404
Thank you @dmbates!

[2019-05-15 20:23] csoneson commented on #1404
@whedon generate pdf

[2019-05-15 20:23] whedon commented on #1404
[code]

[2019-05-15 20:23] whedon commented on #1404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01404/joss.01404/10.21105.joss.01404.pdf)

[2019-05-15 20:24] csoneson commented on #1404
@whedon check references

[2019-05-15 20:24] whedon commented on #1404
[code]

[2019-05-15 20:25] whedon commented on #1404
[code]

[2019-05-15 20:32] dmey commented on #1449
@whedon generate pdf from branch joss-paper

[2019-05-15 20:32] whedon commented on #1449
[code]

[2019-05-15 20:33] whedon commented on #1449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01449/joss.01449/10.21105.joss.01449.pdf)

[2019-05-15 20:34] Chilipp commented on #1450
Dear @banesullivan,

I am done with the review and I have to say that this is a very nice package that provides valuable new functionalities for visualizations with python. I worked with Paraview before and it's Python interface, and I have to say that your methodologies are both, useful and well-documented.

There are only a few minor issues:

- [ ] **version:** The version is not set correctly (

[2019-05-15 20:36] csoneson commented on #1404
@osorensen - I had another look through your paper, and there are a few small things that should be fixed before acceptance:
* A typo in the first paragraph: satisifaction -> satisfaction
* The Eddelbuettel & Sanderson reference is missing the journal name
* For both Sørensen et al papers, there is no first name initial for the first author
* I would suggest being consistent with the use of journa

[2019-05-15 20:37] dmey commented on #1449
@whedon generate pdf from branch joss-paper

[2019-05-15 20:37] whedon commented on #1449
[code]

[2019-05-15 20:38] whedon commented on #1449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01449/joss.01449/10.21105.joss.01449.pdf)

[2019-05-15 20:40] dmey commented on #1449
@whedon generate pdf from branch joss-paper

[2019-05-15 20:40] whedon commented on #1449
[code]

[2019-05-15 20:41] whedon commented on #1449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01449/joss.01449/10.21105.joss.01449.pdf)

[2019-05-15 20:53] dmey commented on #1449
@whedon generate pdf from branch joss-paper

[2019-05-15 20:53] whedon commented on #1449
[code]

[2019-05-15 20:54] whedon commented on #1449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01449/joss.01449/10.21105.joss.01449.pdf)

[2019-05-15 21:01] dmey commented on #1449
@letmaik There is still a minor issue with the last paragraph on page 2 (it needs to be moved _after_ Figure 1 on page 3) but I would suggest leaving this for now given that we may need to make changes to the summary at review time.

[2019-05-15 21:17] banesullivan commented on #1450
@Chilipp, Please see changes in https://github.com/pyvista/pyvista/commit/6e0762b7ae946b6141746ba134d0b3526ee356f5 and https://github.com/pyvista/pyvista/commit/9563643928a2f907e3001c481194adccacf62c48 addressing your comment.

## Dependencies

I have updated the installation instructions to include an itemized list of PyVista's required dependencies and a brief description for why - please note t

[2019-05-15 21:22] letmaik commented on #1449
@dmey Yes, I agree.

@arfon We're ready, what's next?

[2019-05-15 21:27] arfon commented on #1449
@letmaik @dmey - could you suggest some potential reviewers for this submission? Either community members you know or by [looking at this list of volunteers](https://bit.ly/joss-reviewers).

[2019-05-15 21:30] leouieda commented on #1384
@whedon add @leguark as reviewer

[2019-05-15 21:30] whedon commented on #1384
OK, @leguark is now a reviewer

[2019-05-15 21:31] jshermeyer commented on #1047
No changes required.

[2019-05-15 21:31] leouieda commented on #1384
@banesullivan let us know when things are stable after the rename of vtki/pyvista so we can start this review.

[2019-05-15 21:34] banesullivan commented on #1384
@leouieda All is stable and PVGeo is released on version `2.0.0` which is the version I'd like to submit for review (not `1.2.3` mentioned above)

[2019-05-15 21:36] leouieda commented on #1450
@banesullivan thanks for pointing it out :+1: We'll update this when the review is done. The reviews might lead to changes that should be released before publication.

[2019-05-15 21:46] leouieda commented on #1450
@nicoguaro @Chilipp thank you so much for the quick reviews! :rocket: As @banesullivan addresses your comments/questions, please make sure you tick the corresponding items from the checklist when you're satisfied.

@banesullivan this might be confusing to other users as well since they'll run the code and get something different from what is "advertised". It might be more transparent to include `p

[2019-05-15 21:48] leouieda commented on #1384
OK, I'll let whedon do its magic and start the review :+1:

[2019-05-15 21:48] leouieda commented on #1384
@whedon set 2.0.0 as version

[2019-05-15 21:48] whedon commented on #1384
OK. 2.0.0 is the version.

[2019-05-15 21:48] leouieda commented on #1384
@whedon generate pdf

[2019-05-15 21:48] whedon commented on #1384
[code]

[2019-05-15 21:49] whedon commented on #1384
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01384/joss.01384/10.21105.joss.01384.pdf)

[2019-05-15 22:23] leouieda commented on #1384
@whedon start review

[2019-05-15 22:23] whedon opened #1451 "[REVIEW]: PVGeo: an open-source Python package for geoscientific visualization in VTK and ParaView"
**Submitting author:** @banesullivan (<a href="http://orcid.org/0000-0001-8628-4566">C. Bane Sullivan</a>)
**Repository:** <a href="https://github.com/OpenGeoVis/PVGeo" target ="_blank">https://github.com/OpenGeoVis/PVGeo</a>
**Version:** v2.0.1
**Editor:** @leouieda
**Reviewer:** @gassmoeller, @leguark
**Archive:** <a href="https://doi.org/10.5281/zenodo.3261820" target="_blank">10.5281/zenodo.32

[2019-05-15 22:23] whedon commented on #1384
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1451. Feel free to close this issue now!

[2019-05-15 22:23] whedon commented on #1451
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gassmoeller, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-05-15 22:23] whedon commented on #1451
[code]

[2019-05-15 22:24] whedon commented on #1451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01451/joss.01451/10.21105.joss.01451.pdf)

[2019-05-15 22:25] banesullivan commented on #1450
That's definitely a fair point - We should make sure users will have the same results "as advertised" when running the examples.

As a starting point, I have added a new example in the *Plotting* section showing off all the different themes in https://github.com/pyvista/pyvista/commit/49444c99d507338fed303341324a2a758f2c4e20

[2019-05-15 22:25] #1384 closed

[2019-05-15 22:26] leouieda commented on #1384
:wave: @banesullivan @gassmoeller @Leguark please head on over to #1451 for the review. Please don't hesitate to ask if you have any questions about the review process. We encourage reviewers to open issues/PRs in the software repo as well as leave comments on the review thread. As a reminder, if you create any issues/PRs please include `openjournals/joss-reviews#1451` in the description so that i

[2019-05-15 22:44] vsoch commented on #1418
@luizirber I'm so glad you noticed this, because I had added the circle config to build containers without finishing the actual tests for the trees and client! I'm happy to report that I now have tests for container trees, collection trees, package trees, data export, and the command line client! All just under 1K lines of code, tested and merged: https://github.com/singularityhub/container-tree/p

[2019-05-15 22:52] Chilipp commented on #1450
Thanks for your quick response @banesullivan! Yes, the changes are sufficient for me.

@leouieda: To me this paper is ready for acceptance

[2019-05-15 23:34] luizirber commented on #1418
Great job, @vsoch! And enjoy the run =]

@brainstorm all checked on my side, ready to go!

[2019-05-16 00:14] chris-prener commented on #1221
@lheagy - any updates on when the acceptance process will be complete? Thanks!

[2019-05-16 00:15] alexgarciac commented on #1384
hi. as this is python and a py package there should be some sample data so that anyone could test that the package and all the assertions being made in the paper do really work. I read the paper and there is a lot about a lot but there is no sample data to test the package.

[2019-05-16 00:17] alexgarciac opened #1452 "sample data"
hi. as this is python and a py package there should be some sample data so that anyone could test that the package and all the assertions being made in the paper do really work. I read the paper and there is a lot about a lot but there is no sample data to test the package.

[2019-05-16 00:17] whedon commented on #1452
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-16 00:17] whedon commented on #1452
[code]

[2019-05-16 00:17] whedon commented on #1452
PDF failed to compile for issue #1452 with the following error:

 Can't find any papers to compile :-(

[2019-05-16 00:18] kyleniemeyer commented on #1221
@whedon generate pdf

[2019-05-16 00:19] whedon commented on #1221
[code]

[2019-05-16 00:19] whedon commented on #1221
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01221/joss.01221/10.21105.joss.01221.pdf)

[2019-05-16 00:19] kyleniemeyer commented on #1221
@whedon check references

[2019-05-16 00:19] whedon commented on #1221
[code]

[2019-05-16 00:20] whedon commented on #1221
[code]

[2019-05-16 00:24] kyleniemeyer commented on #1221
@chris-prener some minor edits for the paper:
- could you add full affiliation details (i.e., location) for the authors?
- the first paragraph ends in a comma

[2019-05-16 00:56] leouieda commented on #1384
Hi @alexgarciac, the JOSS paper [should not contain documentation or data](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). These are expect to be included in the software documentation, which the submission does. For example: https://pvgeo.org/examples/filters-general/voxelize-points.html

[2019-05-16 01:09] arfon commented on #1452
Hi @alexgarciac - please don’t open issues on this repository - the only issues in this repository should be reviews for JOSS papers.

If you’re reviewing a JOSS submission, please open issues on that repository.

[2019-05-16 01:09] #1452 closed

[2019-05-16 01:56] chris-prener commented on #1221
@whedon generate pdf

[2019-05-16 01:56] whedon commented on #1221
[code]

[2019-05-16 01:56] whedon commented on #1221
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01221/joss.01221/10.21105.joss.01221.pdf)

[2019-05-16 01:59] chris-prener commented on #1221
@kyleniemeyer and @lheagy - made the two changes Kyle requested, and tagged a new released with the updated paper manuscript. The Zenodo DOI for the newest release is - 10.5281/zenodo.2857598

[2019-05-16 04:10] karthik commented on #1321
@diyadas Do you need help continuing the review?

[2019-05-16 06:39] trallard commented on #1291
Hi @Kevin-Mattheus-Moerman  I will try and get the trial license working, if anything fails during the process I'll let you know so that I do not stall the review any further

[2019-05-16 08:26] Kevin-Mattheus-Moerman commented on #1291
@trallard thank you so much for the extra effort involved!

[2019-05-16 08:29] piermorel commented on #1291
Hi everyone, I'm sorry for the delay in getting back on the review. I'm still here !

[2019-05-16 08:52] letmaik commented on #1449
This is the list of reviewers we think would be relevant for our paper (in order):
https://github.com/zbeekman
https://github.com/dvalters
https://github.com/hainesr
https://github.com/johnrobertlawson
https://github.com/andreas-h
https://github.com/bjarketol
https://github.com/rowanc1
https://github.com/tomchor
https://github.com/schoenemeyer

[2019-05-16 10:54] arfon commented on #1449
@zbeekman @dvalters - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The software under consideration is here: https://github.com/WRF-CMake/WRF and you can learn more about the project in this [short overview paper](https://github.com/op

[2019-05-16 11:01] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-16 11:01] whedon commented on #1392
[code]

[2019-05-16 11:02] whedon commented on #1392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01392/joss.01392/10.21105.joss.01392.pdf)

[2019-05-16 11:21] pankajkmishra commented on #1173
Thank you @vijaysm - I'll edit the repository according to your suggestions. I have already mentioned 3D in the future development. However, I am not targeting FEM users at the moment.

I do agree with @Kevin-Mattheus-Moerman remark about using mostly external codes. I could have rewritten those codes (e.g. FF's node placing, or desegment.cpp) and added it to the library, which would, probably,  r

[2019-05-16 11:30] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-16 11:30] whedon commented on #1392
[code]

[2019-05-16 11:31] whedon commented on #1392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01392/joss.01392/10.21105.joss.01392.pdf)

[2019-05-16 11:36] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-16 11:36] whedon commented on #1392
[code]

[2019-05-16 11:36] whedon commented on #1392
PDF failed to compile for issue #1392 with the following error:

 Error reading bibliography ./paper.bib (line 20, column 1):
unexpected "n"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-16 11:38] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-16 11:38] whedon commented on #1392
[code]

[2019-05-16 11:38] whedon commented on #1392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01392/joss.01392/10.21105.joss.01392.pdf)

[2019-05-16 11:51] adrena-lab commented on #1392
Hi @trallard,

we are done with all of the above. Only issue is that the link to the archive is not working. We had shared the details of Zenodo submission in our thread (DOI:10.5281/zenodo.2847906; https://zenodo.org/record/2847906#.XN1OA9NKhdA).

Can this be resolved? If so, I believe we should be ready to publish.

Thanks,
Stefan and Niamh

[2019-05-16 13:48] celliern commented on #1356
@Kevin-Mattheus-Moerman @mrava87 @poulson

Hello!

I did the requested changes: a proper benchmark of the examples, some fix in the equations. I have also linked the contrubute section of the doc in the readme and added a code of conduct.

The changes live in the dev branche

https://gitlab.com/celliern/scikit-fdiff/tree/dev
https://scikit-fdiff.readthedocs.io/en/dev/index.html

[2019-05-16 14:06] moorepants commented on #1438
@labarba I'm sorry but I do not have time to review at this time.

[2019-05-16 14:37] vjcitn commented on #1435
I found it easy to install the package and run two of the vignettes.  I did not attempt the "bootstrap cluster" vignette, which has references to HTCondor and SQUID ... it seems informative for users in a specific sort of environment.  The provision of bootstrap realizations from the legacy analyses is helpful for readers aiming to understand the significance procedure.

I think it would be helpfu

[2019-05-16 16:03] carterenyi commented on #1094
@Kevin-Mattheus-Moerman Zenodo is down, but I will take care of that as
soon as it is up.

What do you mean by final version label (is it e.g. "1.0") and where should
I list it?

Thanks,
Aaron

On Wed, May 15, 2019 at 4:14 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-05-16 16:14] zbeekman commented on #1449
@afron: I'd be happy to review this submission!

[2019-05-16 16:29] arfon commented on #1449
@whedon add @zbeekman as reviewer

[2019-05-16 16:29] whedon commented on #1449
OK, @zbeekman is now a reviewer

[2019-05-16 16:33] arfon commented on #1449
Excellent, thanks @zbeekman! I'd like to find at least two reviewers for this submission so for now please sit tight while I find another reviewer.

[2019-05-16 16:45] zbeekman commented on #1449
Sure! Just ping me with next steps once you’re ready. This will be my first
JOSS review. I’ve read through most of the docs so far. I’ve taken a
cursory look at the repository and will read through the paper.

On Thu, May 16, 2019 at 12:33 PM Arfon Smith <notifications@github.com>
wrote:

[2019-05-16 17:22] jg-you commented on #1308
Sure I'll do it. I plan to have some time in early June.

[2019-05-16 17:49] kyleniemeyer commented on #1221
@chris-prener sorry, looks like Zenodo is having some database issues right now, so I'm going to hold off moving forward until we can confirm the archive. Should be resolved within the day, I hope.

[2019-05-16 20:14] tknopp commented on #1331
@labarba: If there is anything I can do, please let me know. I have a depending paper under review and would of course like to reference the software being used. I could ask in the Julia forum for potential reviewers if @IgorBaratta has no time. Or maybe you have other reviewers in mind. Thanks!

[2019-05-16 20:19] labarba commented on #1331
I sent an email to @IgorBaratta, and he replied on May 14, saying he would work on this review and deliver by the end of the week.

[2019-05-16 20:21] tknopp commented on #1331
Thanks for the update! Did not want to be pushy, just eager to get my first JOSS review :-)

[2019-05-16 21:03] jameshclrk commented on #1323
I'm happy to review this at the weekend, hope that's ok!

[2019-05-16 21:15] alexhanna commented on #1323
@whedon assign @jameshclrk as reviewer

[2019-05-16 21:15] whedon commented on #1323
OK, the reviewer is @jameshclrk

[2019-05-16 21:15] alexhanna commented on #1323
Wonderful, thanks! @malmaud or @ChrisRackauckas, do you have any interest in joining on?

[2019-05-16 21:49] nicoguaro commented on #1450
First, I would like to congratulate the authors for the good work PyVista. I have used VTK directly from Python and this really helps in the process. I have also, used it since it was named vtkInterface and it would say that it is in a mature state now.

Regarding the review:

- I have installed using both ``pip`` and ``conda`` without problems.
- Have checked the examples.
- Have run the tests wi

[2019-05-16 22:03] banesullivan commented on #1450
Thank you @nicoguaro! That is a fair point about including mentions of other Python visualization software by name. I will make updates to address your concerns and have the paper regenerated.

Would you please open an issue on the main repository about the conflicting channels or perhaps on the pyvista-feedstock repo (which ever is more relevant): https://github.com/conda-forge/pyvista-feedstock

[2019-05-16 22:07] nicoguaro commented on #1450
@banesullivan, I did not document what I did. I will repeat it using only ``conda`` and open an issue with the info that I get from there.

[2019-05-16 23:29] diyadas commented on #1321
Thanks for your patience. I've opened issues in your repo @arsilva87. I'll be happy to take a look again after they're addressed.

[2019-05-17 07:13] banesullivan commented on #1450
@whedon generate pdf

[2019-05-17 07:13] whedon commented on #1450
[code]

[2019-05-17 07:14] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-17 10:43] nicoguaro commented on #1450
@leouieda: To me this paper is ready for acceptance

[2019-05-17 12:43] chrisrichardson commented on #1441
@likask - it seems like something must be wrong though. The URL is supposed to point at the software, not the paper?

[2019-05-17 12:51] arfon commented on #1441
@whedon generate pdf

[2019-05-17 12:51] whedon commented on #1441
[code]

[2019-05-17 12:52] arfon commented on #1441
I've updated the URL for the software at the top of the review issue.

[2019-05-17 12:53] whedon commented on #1441
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01441/joss.01441/10.21105.joss.01441.pdf)

[2019-05-17 13:10] likask commented on #1441
@arfon Thank you.

@chrisrichardson  Source for a master branch is [here](https://bitbucket.org/likask/mofem-cephas/src/master/). Alternatively, you can browse in doxygen generated web-pages [here](http://mofem.eng.gla.ac.uk/mofem/html/files.html).

[2019-05-17 13:38] ChrisRackauckas commented on #1323
Sorry I will not have the time

[2019-05-17 13:41] malmaud commented on #1323
Ya I can review this weekend.

On Fri, May 17, 2019 at 9:39 AM Christopher Rackauckas <
notifications@github.com> wrote:

[2019-05-17 13:42] alexhanna commented on #1323
Excellent.

[2019-05-17 13:42] alexhanna commented on #1323
@whedon add @malmaud as reviewer

[2019-05-17 13:42] whedon commented on #1323
OK, @malmaud is now a reviewer

[2019-05-17 13:42] alexhanna commented on #1323
@whedon start review

[2019-05-17 13:42] whedon opened #1453 "[REVIEW]: Native PDF Reader Library in Julia"
**Submitting author:** @sambitdash (<a href="http://orcid.org/0000-0003-4856-7244">Sambit Kumar Dash</a>)
**Repository:** <a href="https://github.com/sambitdash/PDFIO.jl" target ="_blank">https://github.com/sambitdash/PDFIO.jl</a>
**Version:** v0.1.8
**Editor:** @alexhanna
**Reviewers:** @malmaud, @jarvist
**Archive:** <a href="https://doi.org/10.5281/zenodo.3541938" target="_blank">10.5281/zenodo

[2019-05-17 13:42] whedon commented on #1323
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1453. Feel free to close this issue now!

[2019-05-17 13:42] whedon commented on #1453
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jameshclrk, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-05-17 13:42] whedon commented on #1453
[code]

[2019-05-17 13:43] #1323 closed

[2019-05-17 13:43] whedon commented on #1453
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01453/joss.01453/10.21105.joss.01453.pdf)

[2019-05-17 16:53] whedon opened #1454 "[PRE REVIEW]: rtweet: Collecting and analyzing Twitter data"
**Submitting author:** @mkearney (<a href="http://orcid.org/0000-0002-0730-4694">Michael Wayne Kearney</a>)
**Repository:** <a href="https://github.com/mkearney/rtweet" target ="_blank">https://github.com/mkearney/rtweet</a>
**Version:** v0.6.9
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @mkearney. **Currently, there isn't an JOSS ed

[2019-05-17 16:53] whedon commented on #1454
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-17 16:53] whedon commented on #1454
[code]

[2019-05-17 16:53] whedon commented on #1454
PDF failed to compile for issue #1454 with the following error:

 Can't find any papers to compile :-(

[2019-05-17 16:53] whedon opened #1455 "[PRE REVIEW]: tidyqwi: A Tidy Approach to Accessing The US Census Bureau's Quarterly Workforce Indicators"
**Submitting author:** @medewitt (<a href="http://orcid.org/0000-0001-8940-1967">Michael DeWitt</a>)
**Repository:** <a href="https://github.com/medewitt/tidyqwi" target ="_blank">https://github.com/medewitt/tidyqwi</a>
**Version:** v0.1.0
**Editor:** @alexhanna
**Reviewers:** @tweed1e

**Author instructions**

Thanks for submitting your paper to JOSS @medewitt. **Currently, there isn't an JOSS ed

[2019-05-17 16:53] whedon commented on #1455
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-17 16:53] whedon commented on #1455
[code]

[2019-05-17 16:53] whedon commented on #1455
PDF failed to compile for issue #1455 with the following error:

 Can't find any papers to compile :-(

[2019-05-17 16:53] whedon opened #1456 "[PRE REVIEW]: multimatch_gaze: The MultiMatch algorithm for gaze path comparison in Python"
**Submitting author:** @adswa (<a href="http://orcid.org/0000-0003-2917-3450">Adina Wagner</a>)
**Repository:** <a href="https://github.com/adswa/multimatch_gaze" target ="_blank">https://github.com/adswa/multimatch_gaze</a>
**Version:** v0.1.1
**Editor:** @kyleniemeyer
**Reviewers:** @FelixHenninger, @JonathanReardon

**Author instructions**

Thanks for submitting your paper to JOSS @AdinaWagner.

[2019-05-17 16:53] whedon commented on #1456
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-17 16:53] whedon commented on #1456
[code]

[2019-05-17 16:53] whedon opened #1457 "[PRE REVIEW]: A reproducible Snakemake pipeline to analyse Illumina paired-end data from ChiP-Seq experiments"
**Submitting author:** @mgalland (<a href="http://orcid.org/0000-0003-2161-8689">marc galland</a>)
**Repository:** <a href="https://github.com/KoesGroup/Snakemake_ChIPseq_PE" target ="_blank">https://github.com/KoesGroup/Snakemake_ChIPseq_PE</a>
**Version:** v1.2.0
**Editor:** @brainstorm
**Reviewers:** @vladsaveliev

**Author instructions**

Thanks for submitting your paper to JOSS @mgalland. **C

[2019-05-17 16:53] whedon commented on #1457
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-17 16:53] whedon commented on #1457
[code]

[2019-05-17 16:53] whedon commented on #1457
PDF failed to compile for issue #1457 with the following error:

 Error reading bibliography ./bibliography.bib (line 118, column 19):
unexpected "S"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-17 16:54] whedon commented on #1456
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01456/joss.01456/10.21105.joss.01456.pdf)

[2019-05-17 16:54] arfon commented on #1454
@whedon generate pdf

[2019-05-17 16:54] whedon commented on #1454
[code]

[2019-05-17 16:54] whedon commented on #1454
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01454/joss.01454/10.21105.joss.01454.pdf)

[2019-05-17 16:55] arfon commented on #1455
@whedon generate pdf

[2019-05-17 16:55] whedon commented on #1455
[code]

[2019-05-17 16:55] whedon commented on #1455
PDF failed to compile for issue #1455 with the following error:

 /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/psych.rb:402:in `parse': (tmp/1455/inst/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/psych.rb:402:in `parse_stream'
	from /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/psych.rb:350:in `parse'
	from

[2019-05-17 16:57] arfon commented on #1455
Hi @medewitt, thanks for your submission to JOSS. Could you please update the title field of you paper to be (note the double quotations wrapping the string):

[code]

[2019-05-17 17:00] arfon commented on #1456
:wave: @adswa, thanks for your submission to JOSS. While I identify the right editor for this submission, could you take a look at [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few individuals that might be able to review this submission?

[2019-05-17 17:04] malmaud commented on #1453
I've begun my review.

In general, I think the need is clear - this package is a utility for reading PDF files in Julia, which is clearly useful to some people.

The paper is intelligible, although suffers from grammatical errors throughout that should be fixed (as does the documentation). An example of a particularly ungrammatical sentence is  "Almost, all the functionality of PDF understanding i

[2019-05-17 17:04] medewitt commented on #1455
Hi @arfon thank you for the opportunity. I have fixed and pushed the changes to the title format.

[2019-05-17 17:11] arfon commented on #1455
@whedon generate pdf

[2019-05-17 17:11] whedon commented on #1455
[code]

[2019-05-17 17:12] whedon commented on #1455
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01455/joss.01455/10.21105.joss.01455.pdf)

[2019-05-17 17:23] mkearney commented on #1454
Oops. I just committed some minor edits to the paper before I saw the creation of this thread. Perhaps this will work to create an updated version: @whedon generate pdf

[2019-05-17 17:24] arfon commented on #1454
@whedon generate pdf

[2019-05-17 17:24] whedon commented on #1454
[code]

[2019-05-17 17:24] whedon commented on #1454
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01454/joss.01454/10.21105.joss.01454.pdf)

[2019-05-17 17:25] arfon commented on #1277
@whedon accept

[2019-05-17 17:25] whedon commented on #1277
[code]

[2019-05-17 17:26] whedon commented on #1277
[code]

[2019-05-17 17:26] whedon commented on #1277
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/694

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/694, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-17 17:29] arfon commented on #1277
@whedon accept deposit=true

[2019-05-17 17:29] whedon commented on #1277
[code]

[2019-05-17 17:32] arfon commented on #1277
@GregaVrbancic, @Benjamin-Lee - many thanks for your reviews here and to @cMadan for editing this submission ✨

@casperdcl - your paper is now accepted into JOSS and the DOI is https://doi.org/10.21105/joss.01277 :zap::rocket::boom:

[2019-05-17 17:32] whedon commented on #1277
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01277/status.svg)](https://doi.org/10.21105/joss.01277)

**We need your help!**

Journal of Open Source Softwar

[2019-05-17 17:34] medewitt commented on #1455
@whedon commands

[2019-05-17 17:34] whedon commented on #1455
Here are some things you can ask me to do:

[code]

[2019-05-17 17:36] medewitt commented on #1455
@tweed1e , @koulvi , @zedtaha might be potentially good reviewers for this package (economics/ econometrics in subject matter).

[2019-05-17 17:38] mkearney commented on #1454
possible reviewers: @maelle @andrewheiss @pachamaltese @leeper @maelle @briatte

[2019-05-17 17:46] tweed1e commented on #1455
I'd be happy to review, feel free to assign me.

[2019-05-17 17:48] maelle commented on #1454
No rOpenSci submission then? 😢 https://github.com/ropensci/software-review/issues/193

[2019-05-17 17:49] adswa commented on #1456
Hi @arfon, absolutely, many thanks for the list!
@felixhenninger 's entry in the document sounds like he is knowledgeable with regard to eye-tracking -- maybe he has time? Alternatively, maybe @oesteban or @vsoch? Thanks a lot for everyone's time!

[2019-05-17 17:49] whedon commented on #1313
[code]

[2019-05-17 17:55] andrewheiss commented on #1454
I've got a Twitter developer account already, so I can test this out and review it

[2019-05-17 17:55] mkearney commented on #1454
@maelle I learned the JOSS entry is more immediately desirable for purpose of tenure, but I actually forgot about the JOSS/Ropensci fast-track announcement. Regardless, I would still plan to submit to Ropensci!

[2019-05-17 18:10] mkearney commented on #1454
Apologies for the ropensci oversight!

@maelle I'm thinking maybe I should withdraw this JOSS submission and submit to ropensci (with the JOSS auto/fast-track publish option). Do you agree?

@andrewheiss Would you still be willing to review for/over on @ropensci?

[2019-05-17 18:43] arfon commented on #1454
If you're interested in submitting to rOpenSci then I definitely think we should close this and we can fast-track you through the JOSS process once you've been accepted there. Sound ok?

[2019-05-17 18:43] mkearney commented on #1454
Yes, that closes this. I've withdrawn this JOSS submission and have instead [submitted](https://github.com/ropensci/software-review/issues/302) to @ropensci.

[2019-05-17 18:51] pachamaltese commented on #1454
@maelle sure! I have a developer account I have used this package before.
I'm in

On Fri, May 17, 2019, 1:48 PM Maëlle Salmon <notifications@github.com>
wrote:

[2019-05-17 18:53] #1454 closed

[2019-05-17 19:56] andrewheiss commented on #1454
Yep, I'm find doing it for @ropensci

[2019-05-17 21:45] leouieda commented on #1450
@nicoguaro thanks for the quick review! :+1:  I see you have a couple of items left in your checklist. Are these intentional or forgotten?

@banesullivan I noticed a few of missing DOIs from the paper:

* Matplotlib: https://doi.org/10.1109/MCSE.2007.55
* Mayavi: https://doi.org/10.1109/MCSE.2011.35
* yt: https://doi.org/10.1088/0067-0049/192/1/9

Could you please add these to the bibtex?

[2019-05-17 21:53] banesullivan commented on #1450
@whedon generate pdf

[2019-05-17 21:53] whedon commented on #1450
[code]

[2019-05-17 21:54] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-17 21:58] banesullivan commented on #1450
@leouieda, thank you for pointing out the missing DOIs. I have updated the `paper.bib` to have DOIs for all references.

One exception being the VTK book - I cannot find a DOI for this but I added an ISBN which `@whedon` doesn't seem to render in the references section of the paper. I filled out our citation for the VTK book per how VTK's website requests (https://vtk.org/about/#citation):

[2019-05-17 22:15] kgjerde commented on #1342
@leouieda I have now updated the paper (mainly in kgjerde/corporaexplorer@b0a495c, then just a few corrections). The paper is slightly revised (most of the diffs are language edits) and I have also added a figure to illustrate the apps.

[2019-05-17 22:16] kgjerde commented on #1342
@whedon compile

[2019-05-17 22:17] banesullivan commented on #1450
@whedon generate pdf from branch joss-patch-figures

[2019-05-17 22:17] whedon commented on #1450
[code]

[2019-05-17 22:18] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-17 22:18] kgjerde commented on #1342
@whedon generate pdf

[2019-05-17 22:18] whedon commented on #1342
[code]

[2019-05-17 22:18] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-05-17 23:02] kgjerde commented on #1342
@whedon generate pdf

[2019-05-17 23:02] whedon commented on #1342
[code]

[2019-05-17 23:02] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-05-17 23:08] kgjerde commented on #1342
@leouieda Sorry about the repeated article rendering. There is just a small problem with unicode characters in the caption to figure 1, which is probably linked with whedon's pandoc pdf rendering, but I do not know how to fix it.

[2019-05-17 23:35] banesullivan commented on #1450
@whedon generate pdf from branch joss-patch-figures

[2019-05-17 23:35] whedon commented on #1450
[code]

[2019-05-17 23:36] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-17 23:41] banesullivan commented on #1450
@whedon generate pdf from branch joss-patch-figures-2

[2019-05-17 23:41] whedon commented on #1450
[code]

[2019-05-17 23:42] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-17 23:44] briatte commented on #1454
@mkearney I have never reviewed for @ropensci before, but would happily review the package there if you need a second review (I have also used the package in the past).

[2019-05-17 23:46] pachamaltese commented on #1454
I also want to review the package!

On Fri, May 17, 2019, 7:45 PM François Briatte <notifications@github.com>
wrote:

[2019-05-17 23:47] banesullivan commented on #1450
@whedon generate pdf from branch joss-patch-figures-3

[2019-05-17 23:47] whedon commented on #1450
[code]

[2019-05-17 23:47] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-17 23:50] banesullivan commented on #1450
@whedon generate pdf from branch joss-patch-figures-4

[2019-05-17 23:50] whedon commented on #1450
[code]

[2019-05-17 23:51] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-17 23:53] banesullivan commented on #1450
Looks like we got it!

@leouieda, can you inspect the last preview of the PDF? The figure looks much better than previously

I'll get a PR going to bring these changes into the master branch

[2019-05-17 23:59] banesullivan commented on #1450
@whedon generate pdf

[2019-05-17 23:59] whedon commented on #1450
[code]

[2019-05-17 23:59] leouieda commented on #1450
@banesullivan looks good now :+1: After you merge these changes, please do the following:

* Make a new release of Pyvista with the modifications made during review
* Archive this new version in Zenodo or figshare and post the DOI here

[2019-05-17 23:59] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-18 01:46] banesullivan commented on #1450
@leouieda, I have tagged a new release and the CIs are working to publish everything!

Version `0.20.2` is released, being pushed to PyPI, conda-forge, and live on Zenodo.

The Zenodo DOI that always resolves to the latest version is: `10.5281/zenodo.2647611`  (This DOI represents all versions, and will always resolve to the latest one)  Zenodo is still pushing this to DOI.org:

- https://doi.org/

[2019-05-18 01:46] banesullivan commented on #1450
@whedon generate pdf

[2019-05-18 01:46] whedon commented on #1450
[code]

[2019-05-18 01:47] whedon commented on #1450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01450/joss.01450/10.21105.joss.01450.pdf)

[2019-05-18 02:43] leouieda commented on #1450
@whedon set 0.20.2 as version

[2019-05-18 02:43] whedon commented on #1450
OK. 0.20.2 is the version.

[2019-05-18 02:44] leouieda commented on #1450
@whedon set 10.5281/zenodo.2647611 as archive

[2019-05-18 02:44] whedon commented on #1450
OK. <a href="https://doi.org/10.5281/zenodo.2647611" target="_blank">10.5281/zenodo.2647611</a> is the archive.

[2019-05-18 02:55] leouieda commented on #1450
@whedon check references

[2019-05-18 02:55] whedon commented on #1450
[code]

[2019-05-18 02:55] whedon commented on #1450
[code]

[2019-05-18 02:59] leouieda commented on #1450
OK @banesullivan, given that both reviewers have signed off on this submission, I think we are ready to accept! :confetti_ball:  A minor note: you might want to include ORCIDs of authors (specially yours) in the Zenodo archive.

@nicoguaro and @Chilipp many thanks for the speedy and constructive review! We really appreciate that you donate some of your time to JOSS.

[2019-05-18 02:59] leouieda commented on #1450
@whedon accept

[2019-05-18 02:59] whedon commented on #1450
[code]

[2019-05-18 03:00] whedon commented on #1450
[code]

[2019-05-18 03:00] whedon commented on #1450
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/696

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/696, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-18 03:04] leouieda commented on #1450
@openjournals/joss-eics this submission is ready for publication. I checked the generated PDF and XML and they look good to me.

[2019-05-18 03:05] banesullivan commented on #1450
Thanks for pointing this out @leouieda! I didn't realize our ORCIDs were missing (or that we could do this...) I'm struggling to find how/where this goes, do you have any pointers?

[2019-05-18 03:07] leouieda commented on #1450
When editing the metadata for authors, you can specify name, affiliation, and ORCID for each one.

[2019-05-18 03:13] banesullivan commented on #1450
Ah, thanks! I didn't realize I'd have to edit the archive

Relevant to https://github.com/zenodo/zenodo/issues/596

[2019-05-18 03:20] leouieda commented on #1342
Hi @kgjerde, no worries. Compiling the PDF can be troublesome. I don't know why it's not rendering the unicode in the caption when it has no problem with other characters in the text. I'll have to check with some higher-ups.

@trinker and @kbenoit in the mean time, could you please go over the paper one final time? Please let me know if you're ready to sign off on this submission. Thank you for al

[2019-05-18 03:57] jkanche commented on #1407
@csoneson, I did send a pull request with suggestions and updates to the paper, and I was waiting to hear back from @IbrahimTanyalcin until he's ready for the review again since he said he's working on new updates and integration in his last comment

[2019-05-18 05:33] csoneson commented on #1407
Thanks for the update @jkanche. @IbrahimTanyalcin - do you have an estimate of when the reviewers could have an updated version to look at (you mentioned above that you would get back to the comments at the end of last week)?

[2019-05-18 06:40] sambitdash commented on #1453
@malmaud Thanks for your review. I will update the documentation to address your concerns around the documentation. On the failing of the test cases, I guess for some reason the build step did not run when you added the package. If you can run the following command:

[code]
the test should have passed successfully.

[2019-05-18 06:57] banesullivan commented on #1451
@whedon generate pdf from branch joss-patch-figures

[2019-05-18 06:57] whedon commented on #1451
[code]

[2019-05-18 06:58] whedon commented on #1451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01451/joss.01451/10.21105.joss.01451.pdf)

[2019-05-18 07:04] banesullivan commented on #1451
@whedon generate pdf from branch joss-patch-figures-2

[2019-05-18 07:04] whedon commented on #1451
[code]

[2019-05-18 07:04] whedon commented on #1451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01451/joss.01451/10.21105.joss.01451.pdf)

[2019-05-18 07:56] brainstorm commented on #1418
Cool cool, thanks everybody! @vsoch need the zenodo DOI thingie and should be Archivable, I cannot login/hack your zenodo account ;)

[2019-05-18 08:28] IbrahimTanyalcin commented on #1407
@csoneson, getting back to it this weekend :) I merged that pull request I think.

[2019-05-18 08:33] casperdcl commented on #1277
thanks @cMadan @arfon - the metadata associated witht he DOI doesn't actually match the submission well, could you update it? Specifically the bibtex fields:

[code]

[2019-05-18 08:37] vsoch commented on #1418
This one?

https://doi.org/10.5281/zenodo.2853983

[2019-05-18 08:39] vsoch commented on #1418
And latest release https://github.com/singularityhub/container-tree/releases/tag/v0.0.49

[2019-05-18 09:53] kgjerde commented on #1342
@whedon generate pdf

[2019-05-18 09:53] whedon commented on #1342
[code]

[2019-05-18 09:53] whedon commented on #1342
PDF failed to compile for issue #1342 with the following error:

 Error producing PDF.
! LaTeX Error: File `polyglossia.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.216   \setmainlanguage

Looks like we failed to compile the PDF

[2019-05-18 09:55] kgjerde commented on #1342
@whedon generate pdf

[2019-05-18 09:55] whedon commented on #1342
[code]

[2019-05-18 09:55] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-05-18 11:42] arfon commented on #1277
@casperdcl - I've updated the author metadata in the Crossref submission, those changes should be corrected in the next few hours.

[2019-05-18 11:51] arfon commented on #1446
@danielskatz - would you be able to edit this submission?

[2019-05-18 11:53] arfon commented on #1455
:wave: @alexhanna - would you be able to edit this submission for JOSS?

[2019-05-18 11:55] arfon commented on #1456
:wave: @kyleniemeyer - would you be able to edit this submission for us?

[2019-05-18 11:56] arfon commented on #1457
:wave: @mgalland - it looks like your BibTeX file is missing a comma. Could you please fix the file and ask Whedon to compile the paper again with `@whedon generate pdf`

[2019-05-18 11:56] arfon commented on #1457
@mgymrek - would you be able to edit this submission for JOSS?

[2019-05-18 12:01] danielskatz commented on #1446
@whedon assign @danielskatz as editor

[2019-05-18 12:01] whedon commented on #1446
OK, the editor is @danielskatz

[2019-05-18 12:02] danielskatz commented on #1446
👋 @tesch1 - I repeat Arfon's request:

Could you take a look at this [list of potential reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) and identify any good candidates to review this submission?

[2019-05-18 12:02] arfon commented on #1330
Sorry @djmitche - Whedon periodically tries to fix assignments on review issues but it looks like it's been a little over-keen here.

@grantjenks - I've just emailed Jason a reminder. If we don't hear back from him in the next day or so then I'll finish up this submission for him.

[2019-05-18 12:06] danielskatz commented on #1445
👋 @cgravill & @PrashantVaidyanathan - Is there anything I can do to help with your reviews?

If you can at least check your "Conflict of interest" and "Code of Conduct" boxes when you feel ready, that would help me know that the processes are working and that you are starting :)

(And @PrashantVaidyanathan, yes, I do remember that you will not be working on this 'till next week due to travel)

[2019-05-18 12:24] carterenyi commented on #1094
@Kevin-Mattheus-Moerman I have taken care of the Zenodo DOI and listed the Version Release

[2019-05-18 13:00] cgravill commented on #1445
Sure, completed those steps @danielskatz

How precisely should these requirements be taken? For example, they have a plain text license but it includes a .txt extension. Is that OK?

[2019-05-18 13:00] tesch1 commented on #1446
Yes, I will have a look.

On Sat, May 18, 2019 at 2:02 PM Daniel S. Katz <notifications@github.com>
wrote:

[2019-05-18 13:10] danielskatz commented on #1445
You could ask that this be changed to have no extension, since the JOSS criteria says "Does the repository contain a plain-text LICENSE file with the contents of an OSI approved software license?" and since the GitHub guidance for this is for it to either have no extension or be .md.  You could open an issue in the software repo to request this, and put in a comment here pointing to that issue.

[2019-05-18 13:37] cgravill commented on #1445
I'm not aware it's a conflict of interest but for full transparency:
- @PrashantVaidyanathan and I are both employed in a group at the same institution: Microsoft Research
- I'm also a contributor to https://github.com/Microsoft/automatic-graph-layout an alternative network library to Gephi, and tools to connect to it from F#

[2019-05-18 13:43] danielskatz commented on #1445
Are you both employed in the same group? Do you work together on the same projects?

Expertise in the subject is good.

With both factors in mind, do you feel that you can provide a fair and unbiased review and advise?

[2019-05-18 14:00] cgravill commented on #1445
Yes, we're both employed in this group https://www.microsoft.com/en-us/research/group/biological-computation/ and have overlap in projects.

We've not discussed the contents of this work.

I feel I'm able to give a fair and unbiased review.

[2019-05-18 14:11] mgalland commented on #1457
Yes, no problem, just added the comma. Always funny to trigger a robot in a peer-review process!
@whedon generate pdf.

[2019-05-18 15:36] hbodory commented on #1194
Dear Lorena,

I apologize for the late reply, I am not in the office at the moment.

I will run the required tests as soon as possible in June so that the review process can go on.

Thanks in advance for your support.

Best regards,

Hugo

From: Lorena A. Barba <notifications@github.com>
Sent: Freitag, 10. Mai 2019 18:50
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Bodory, H

[2019-05-18 17:14] Kevin-Mattheus-Moerman commented on #1094
@whedon set 10.5281/zenodo.2919897 as archive

[2019-05-18 17:14] whedon commented on #1094
OK. <a href="https://doi.org/10.5281/zenodo.2919897" target="_blank">10.5281/zenodo.2919897</a> is the archive.

[2019-05-18 17:15] Kevin-Mattheus-Moerman commented on #1094
@whedon set v1.0.0 as version

[2019-05-18 17:15] whedon commented on #1094
OK. v1.0.0 is the version.

[2019-05-18 17:17] Kevin-Mattheus-Moerman commented on #1094
@openjournals/joss-eics this submission is ready to be accepted. Can you confirm the title of this archived version is okay or does it need to be amended to match this submission? https://zenodo.org/record/2919897

[2019-05-18 17:27] labarba commented on #1094
We prefer that the Zenodo deposit match the title of the paper. Also, note that here the author list needs editing, too. On editing the Zenodo metadata, I suggest that the author also add their ORCID.

[2019-05-18 18:12] arfon commented on #1457
@whedon generate pdf

[2019-05-18 18:12] whedon commented on #1457
[code]

[2019-05-18 18:12] whedon commented on #1457
PDF failed to compile for issue #1457 with the following error:

 Error reading bibliography ./bibliography.bib (line 118, column 19):
unexpected "S"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-18 18:15] carterenyi commented on #1094
@openjournals/joss-eics
<https://github.com/orgs/openjournals/teams/joss-eics> I've made the
changes to Zenodo deposit and metadata

On Sat, May 18, 2019 at 1:27 PM Lorena A. Barba <notifications@github.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-05-18 18:17] arfon commented on #1457
@mgalland looks like L118 needs changing to `title = {Anaconda Software Distribution},`

Also, when I compile locally, Pandoc complains about the following issues with your citations:

[code]

[2019-05-18 18:19] labarba commented on #1094
Is @arfon a co-author??

[2019-05-18 18:31] osorensen commented on #1404
@csoneson - I have now fixed the points above. For the fourth point, I chose to consistently use full journal names. I have generated a release, with version number 0.3.0, and it has Zenodo DOI  10.5281/zenodo.2939896.

[2019-05-18 18:32] osorensen commented on #1404
@whedon generate pdf

[2019-05-18 18:32] whedon commented on #1404
[code]

[2019-05-18 18:32] whedon commented on #1404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01404/joss.01404/10.21105.joss.01404.pdf)

[2019-05-18 19:09] arfon commented on #1094
Looks like I fixed the paper for the author: https://github.com/carterenyi/emviz/commits?author=arfon

@carterenyi - you should probably remove me from the authors on Zenodo :-)

Also, @labarba - please could I process the acceptance of this paper? I've been making some changes to Whedon I'd like to test when accepting this paper.

[2019-05-18 19:10] mgalland commented on #1457
All right, sorry for that. Silly mistakes...
@whedon generate pdf

[2019-05-18 19:57] arfon commented on #1457
@whedon generate pdf

[2019-05-18 19:57] whedon commented on #1457
[code]

[2019-05-18 19:58] whedon commented on #1457
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01457/joss.01457/10.21105.joss.01457.pdf)

[2019-05-18 21:07] csoneson commented on #1404
@whedon check references

[2019-05-18 21:07] whedon commented on #1404
[code]

[2019-05-18 21:07] whedon commented on #1404
[code]

[2019-05-18 21:08] csoneson commented on #1404
@whedon set 10.5281/zenodo.2939896 as archive

[2019-05-18 21:08] whedon commented on #1404
OK. <a href="https://doi.org/10.5281/zenodo.2939896" target="_blank">10.5281/zenodo.2939896</a> is the archive.

[2019-05-18 21:08] csoneson commented on #1404
@whedon set 0.3.0 as version

[2019-05-18 21:08] whedon commented on #1404
OK. 0.3.0 is the version.

[2019-05-18 21:09] csoneson commented on #1404
@whedon accept

[2019-05-18 21:09] whedon commented on #1404
[code]

[2019-05-18 21:09] whedon commented on #1404
[code]

[2019-05-18 21:09] whedon commented on #1404
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/697

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/697, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-18 21:10] csoneson commented on #1404
@openjournals/joss-eics - I think we are done here! @dirmeier, @dmbates - thanks a lot for reviewing!

[2019-05-18 21:58] IgorBaratta commented on #1331
Hi @tknopp, @labarba,  sorry for not addressing this review sooner!

I found the package quite practical, primarily because of the possibility of reading different file formats in a common interface. I've tested the package functionality with MDF data-sets available in the OpenMPIData repository and the Bruker MPI data-sets used in the tests.

Everything worked out smoothly.  Though it took some h

[2019-05-18 23:41] haptork commented on #1433
@katyhuff I have added unit tests with edge cases to the C++ algorithms in the directory `csaransh-pp/test` with more than 600 assertions. I have also integrated travis CI and codecov. The code coverage badge shows around 90% coverage if we exclude boilerplate in main and printing of json data. The exercise turned out really helpful and I think it can also help in understanding of the behaviour of

[2019-05-19 00:00] brainstorm commented on #1418
@whedon set https://doi.org/10.5281/zenodo.2853983 as archive

[2019-05-19 00:00] whedon commented on #1418
OK. <a href="https://doi.org/10.5281/zenodo.2853983" target="_blank">10.5281/zenodo.2853983</a> is the archive.

[2019-05-19 02:05] whedon commented on #1291
[code]

[2019-05-19 07:24] labarba commented on #1404
@osorensen — quick suggestion: you may want to add your ORCID to the Zenodo archive metadata.

[2019-05-19 10:17] tknopp commented on #1331
Thank you @IgorBaratta! These are all very good points that definitely need to be addressed. I will work on this and ping you when its ready.

[2019-05-19 12:36] danielskatz commented on #1445
Thanks for providing this info, @cgravill

Given the particular circumstances of this software and this conflict, we (the associate editors-in-chief) have decided that we will note it and waive it for this review.  So please continue the review.

[2019-05-19 12:43] cMadan commented on #1308
@jg-you, thank you for disclosing this, that's fine with me--but it is good to have that noted here in the pre-review.

I'll add you as a reviewer and start the review process.

[2019-05-19 12:43] cMadan commented on #1308
@whedon add @jg-you as reviewer

[2019-05-19 12:43] whedon commented on #1308
OK, @jg-you is now a reviewer

[2019-05-19 12:45] cMadan commented on #1308
@whedon start review

[2019-05-19 12:45] whedon opened #1458 "[REVIEW]: webweb: a tool for creating lightweight network visualizations in the browser"
**Submitting author:** @hneutr (<a href="http://orcid.org/0000-0003-2518-841X">Kenneth Hunter Wapman</a>)
**Repository:** <a href="https://github.com/dblarremore/webweb" target ="_blank">https://github.com/dblarremore/webweb</a>
**Version:** 0.0.37
**Editor:** @cMadan
**Reviewer:** @vc1492a, @jg-you
**Archive:** <a href="https://doi.org/10.5281/zenodo.3366140" target="_blank">10.5281/zenodo.336614

[2019-05-19 12:45] whedon commented on #1308
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1458. Feel free to close this issue now!

[2019-05-19 12:45] whedon commented on #1458
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vc1492a, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-05-19 12:45] whedon commented on #1458
[code]

[2019-05-19 12:45] whedon commented on #1458
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01458/joss.01458/10.21105.joss.01458.pdf)

[2019-05-19 12:46] #1308 closed

[2019-05-19 12:54] osorensen commented on #1404
@labarba - thanks, my ORCID is now added.

[2019-05-19 12:59] cMadan commented on #1204
Still doing checks.

In `README.md`, ``![demo](https://github.com/mfroeling/QMRITools/blob/master/Images/demo.png)`` doesn't match the filename, which is `demo.PNG`.

[2019-05-19 14:42] tknopp commented on #1331
@whedon generate pdf

[2019-05-19 14:42] whedon commented on #1331
[code]

[2019-05-19 14:43] whedon commented on #1331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01331/joss.01331/10.21105.joss.01331.pdf)

[2019-05-19 16:36] gkthiruvathukal commented on #1337
Just a nudge here, @JedS6391. Any update on unit tests?

[2019-05-19 16:38] gkthiruvathukal commented on #1326
@Amudtogal Just a nudge here. Any update on tests?

[2019-05-19 16:46] gkthiruvathukal commented on #1357
@federeghe Would you be willing to contribute a review for this JOSS submission?

[2019-05-19 16:47] gkthiruvathukal commented on #1357
@sepandhaghighi Would you also be willing to contribute a review for this JOSS submission?

[2019-05-19 17:08] labarba commented on #1438
👋  @ixjlyons — would you be willing to contribute a review for JOSS on this submission? "DynaMo: Dynamic Body Shape and Motion Capture with Intel RealSense Cameras"

[2019-05-19 18:16] brainstorm commented on #1418
All set here too, @labarba, ready to accept/deposit 👍

[2019-05-19 18:16] ybayle commented on #1262
Sorry for the delay, I am fixing the issues reported and will get back to you ASAP. I just have to finish something else before. I'll ping when everything will be ready!

[2019-05-19 18:19] labarba commented on #1418
I'm not on duty this week.

Ping @openjournals/joss-eics

[2019-05-19 18:22] labarba commented on #1418
@vsoch — Please edit the metadata of the Zenodo deposit (no need to get new version or new DOI) so the title and author list match the JOSS paper. You may also want to add your ORCID in the metadata.

[2019-05-19 18:33] vsoch commented on #1418
Ah thanks for the reminder - all fixed!

[2019-05-19 19:37] federeghe commented on #1357
@gkthiruvathukal Yes I would, but probably I cannot begin the review before June 1.

[2019-05-19 19:47] prasunanand commented on #1363
Review done!

[2019-05-19 20:05] arfon commented on #1404
@whedon accept

[2019-05-19 20:05] whedon commented on #1404
[code]

[2019-05-19 20:06] whedon commented on #1404
[code]

[2019-05-19 20:06] whedon commented on #1404
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/698

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/698, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-19 20:07] arfon commented on #1404
@whedon accept deposit=true

[2019-05-19 20:07] whedon commented on #1404
[code]

[2019-05-19 20:07] whedon commented on #1404
Posted to the Twitters: https://twitter.com/JOSS_TheOJ/status/1130203379832172553

[2019-05-19 20:07] whedon commented on #1404
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/699
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01404](https://doi.org/10.21105/joss.01404)
2. If everything looks go

[2019-05-19 20:11] arfon commented on #1404
@dirmeier, @dmbates -  many thanks for your reviews here and to @csoneson for editing this submission ✨

@osorensen - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-05-19 20:11] #1404 closed

[2019-05-19 20:11] whedon commented on #1404
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01404/status.svg)](https://doi.org/10.21105/joss.01404)

**We need your help!**

Journal of Open Source Softwar

[2019-05-19 20:31] arfon commented on #1418
@whedon accept

[2019-05-19 20:31] whedon commented on #1418
[code]

[2019-05-19 20:31] whedon commented on #1418
[code]

[2019-05-19 20:31] whedon commented on #1418
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/700

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/700, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-19 20:32] arfon commented on #1418
@whedon accept deposit=true

[2019-05-19 20:32] whedon commented on #1418
[code]

[2019-05-19 20:32] whedon commented on #1418
Posted to the Twitters: https://twitter.com/JOSS_TheOJ/status/1130209744663318528

[2019-05-19 20:32] whedon commented on #1418
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/701
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01418](https://doi.org/10.21105/joss.01418)
2. If everything looks go

[2019-05-19 20:37] sepandhaghighi commented on #1357
@gkthiruvathukal Hi
Yes, I'm available.

[2019-05-19 20:37] vsoch commented on #1418
It looks like the pdf is 404, do we need to wait longer? https://www.theoj.org/joss-papers/joss.01418/10.21105.joss.01418.pdf

[2019-05-19 20:38] arfon commented on #1450
@whedon accept

[2019-05-19 20:38] whedon commented on #1450
[code]

[2019-05-19 20:38] vsoch commented on #1418
Oh you know what, it's probably just github pages (this happens to me a lot!) I'll check in a few minutes.

[2019-05-19 20:39] whedon commented on #1450
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/702

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/702, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-19 20:39] whedon commented on #1450
[code]

[2019-05-19 20:40] arfon commented on #1450
@whedon accept deposit=true

[2019-05-19 20:40] whedon commented on #1450
[code]

[2019-05-19 20:40] whedon commented on #1450
Posted to the Twitters: https://twitter.com/JOSS_TheOJ/status/1130211705118711808

[2019-05-19 20:40] whedon commented on #1450
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/703
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01450](https://doi.org/10.21105/joss.01450)
2. If everything looks go

[2019-05-19 20:44] whedon opened #1459 "[PRE REVIEW]: ChAmElEoN: A Customizable Language and Suite of Interpreters for Teaching Concepts of Programming Languages"
**Submitting author:** @sperugin (<a href="http://orcid.org/0000-0002-1736-4009">Saverio Perugini</a>)
**Repository:** <a href="https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/" target ="_blank">https://bitbucket.org/chameleoninterpreter/chameleon-interpreter-in-python-release/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructio

[2019-05-19 20:44] whedon commented on #1459
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-19 20:44] whedon commented on #1459
[code]

[2019-05-19 20:44] whedon commented on #1459
PDF failed to compile for issue #1459 with the following error:

 Can't find any papers to compile :-(

[2019-05-19 20:44] whedon commented on #1459
Failed to discover a valid open source license.

[2019-05-19 20:45] arfon commented on #1459
@whedon generate pdf

[2019-05-19 20:45] whedon commented on #1459
[code]

[2019-05-19 20:45] whedon commented on #1459
PDF failed to compile for issue #1459 with the following error:

 Error reading bibliography ./paper.bib (line 15, column 1):
unexpected "@"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-19 20:46] arfon commented on #1459
@saverioperugini - please updated your `paper.bib` file to fix the error with your bibtex file.

[2019-05-19 20:46] whedon opened #1460 "[PRE REVIEW]: stardate: Combining dating methods for better stellar ages"
**Submitting author:** @ruthangus (<a href="http://orcid.org/0000-0003-4540-5661">Ruth Angus</a>)
**Repository:** <a href="https://github.com/RuthAngus/stardate" target ="_blank">https://github.com/RuthAngus/stardate</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewers:** @mattpitkin, @nespinoza

**Author instructions**

Thanks for submitting your paper to JOSS @ruthangus. **Currently, there isn

[2019-05-19 20:46] whedon commented on #1460
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-19 20:46] whedon commented on #1460
[code]

[2019-05-19 20:47] whedon commented on #1460
PDF failed to compile for issue #1460 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1460/paper/paper.md): did not find expected key while parsing a block mapping at line 11 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	fro

[2019-05-19 20:49] arfon commented on #1460
:wave: @RuthAngus - [this PR](https://github.com/RuthAngus/stardate/pull/4) should fix your paper compilation issues.

[2019-05-19 21:01] arfon commented on #1418
I've just cleared the Cloudflare cache and it's showing up for me OK. Sometimes GitHub pages is just a little slow.

[2019-05-19 21:17] chris-prener commented on #1221
@kyleniemeyer and @lheagy - looks like everything is back up on the Zenodo end. the DOI is resolving correctly and Zenodo has the correct version of the updated software.

[2019-05-19 21:40] vsoch commented on #1418
Showing up for me too! Thanks @arfon. And huge +1, GitHub pages is slow these days. Thanks to everyone for your help with this paper! :fireworks:

[2019-05-19 21:51] vsoch commented on #1418
Thanks @whedon, I think we are good and I'm ready to go party, err... keep working on other stuff, run up a hill a few times, and eat dinner :) Enjoy the rest of your robot Sunday! @arfon I can't close the issue (should I be able to?) but please feel free to do so.

[2019-05-19 22:27] #1418 closed

[2019-05-19 22:27] whedon commented on #1418
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01418/status.svg)](https://doi.org/10.21105/joss.01418)

**We need your help!**

Journal of Open Source Softwar

[2019-05-19 23:05] arfon commented on #1221
@whedon accept

[2019-05-19 23:06] whedon commented on #1221
[code]

[2019-05-19 23:06] whedon commented on #1221
[code]

[2019-05-19 23:06] whedon commented on #1221
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/704

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/704, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-19 23:07] arfon commented on #1221
@whedon accept deposit=true

[2019-05-19 23:07] whedon commented on #1221
[code]

[2019-05-19 23:07] whedon commented on #1221
Posted to the Twitters: https://twitter.com/JOSS_TheOJ/status/1130248728525385728

[2019-05-19 23:07] whedon commented on #1221
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/705
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01221](https://doi.org/10.21105/joss.01221)
2. If everything looks go

[2019-05-19 23:10] arfon commented on #1221
@sjsrey, @edzer - many thanks for your reviews here and to @lheagy for editing this submission ✨

@chris-prener - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-05-19 23:10] #1221 closed

[2019-05-19 23:10] whedon commented on #1221
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01221/status.svg)](https://doi.org/10.21105/joss.01221)

**We need your help!**

Journal of Open Source Softwar

[2019-05-20 00:53] fsobral commented on #1385
@whedon generate pdf from branch joss

[2019-05-20 00:53] whedon commented on #1385
[code]

[2019-05-20 00:53] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-20 07:08] 1313e commented on #1229
@arfon Any news/updates?

[2019-05-20 07:52] VivianePons commented on #1410
Dear all, where are we on this? I see we still have some unchecked boxes.

[2019-05-20 07:54] VivianePons commented on #1351
Thanks, sorry I was also a bit busy here. I will complete my review next week.

@dvalters did you have time to start?

[2019-05-20 09:05] mfroeling commented on #1204
@Madan Thanks for the update, im happy to perform any updates  when needed.

[2019-05-20 09:45] Kevin-Mattheus-Moerman commented on #1356
Great. @celliern. Minor point, I noticed your README says "See the contribe section of the doc" which should probably read:  "See the contribute section of the doc"

[2019-05-20 09:46] Kevin-Mattheus-Moerman commented on #1356
@mrava87 @poulson can you review these updates

[2019-05-20 09:47] Kevin-Mattheus-Moerman commented on #1047
@chrismattmann @dmittman :wave: do you think you can help review this work?
@danielskatz do you know these potential reviewers personally? We've had a reviewer drop out so we need a replacement. Thanks.

[2019-05-20 10:59] arfon commented on #1229
@crawfordsm - any news from AAS on this paper?

BTW, we've decided that the JOSS papers won't need page/issue/volume numbers for the AAS papers as long as they have the correct DOI for the AAS paper in the citation.

[2019-05-20 11:28] danielskatz commented on #1047
I sent an email in case they don't see the github notification, but it's also just 4:30 am in California ...

[2019-05-20 11:37] corybrunson commented on #1434
@fauvernierma this might not be appropriate to raise as an issue on the code repo: Could you explain the value `GPL (>= 2)` in the `DESCRIPTION` file? The `LICENSE` file describes GPL-3, which is acceptable to CRAN (see [here](https://www.r-project.org/Licenses/)), but i understand GPL-3 to be slightly more restrictive than GPL-2 and i haven't seen this notation before.

[2019-05-20 12:04] arfon commented on #1460
@whedon generate pdf

[2019-05-20 12:04] whedon commented on #1460
[code]

[2019-05-20 12:04] whedon commented on #1460
PDF failed to compile for issue #1460 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1460/paper/paper.md): could not find expected ':' while scanning a simple key at line 18 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	fro

[2019-05-20 12:07] arfon commented on #1460
Sorry, looks like you need [this fix](https://github.com/RuthAngus/stardate/pull/5) too.

@RuthAngus - does this paper accompany a submission to a AAS journal?

[2019-05-20 12:14] evcastelani commented on #1385
@whedon generate pdf from branch joss

[2019-05-20 12:14] whedon commented on #1385
[code]

[2019-05-20 12:15] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-20 12:36] fauvernierma commented on #1434
Hello @corybrunson
As the new LICENSE file for survPen now uses GPL-3 (thanks to point raised by @seabbs), this old notation is going to change in the DESCRIPTION file.

[2019-05-20 13:04] santisoler commented on #1410
Hi @VivianePons. The submitted code is robust and works as expected. The manuscript is very well written and the statement of need is very clear. The public functions are all documented inside the sources files and the repository has a lot of notebooks showing examples on how to use the code.

Most of the issues the authors are solving are related with the organization of the files inside the repo

[2019-05-20 13:06] carterenyi commented on #1094
Hello @labarba <https://github.com/labarba> and @arfon
<https://github.com/arfon>,

The only way I could figure out how to remove Arfon is to submit a new
version (v1.0.1) to zenodo.

Here is the new Zenodo DOI:
10.5281/zenodo.3051781 <https://doi.org/10.5281/zenodo.3051781>

Thank you @Kevin-Mattheus-Moerman and @ybayle <https://github.com/ybayle> for
all your time on this submission!

On Sat, Ma

[2019-05-20 13:08] arfon commented on #1094
@whedon set 10.5281/zenodo.3051781 as archive

[2019-05-20 13:08] whedon commented on #1094
OK. <a href="https://doi.org/10.5281/zenodo.3051781" target="_blank">10.5281/zenodo.3051781</a> is the archive.

[2019-05-20 13:08] arfon commented on #1094
@whedon accept

[2019-05-20 13:08] whedon commented on #1094
[code]

[2019-05-20 13:08] whedon commented on #1094
[code]

[2019-05-20 13:08] whedon commented on #1094
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/706

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/706, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-20 13:11] arfon commented on #1094
@whedon accept deposit=true

[2019-05-20 13:11] whedon commented on #1094
[code]

[2019-05-20 13:12] whedon commented on #1094
🐦🐦🐦 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1130461293377392640) 🐦🐦🐦

[2019-05-20 13:12] whedon commented on #1094
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/707
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01094](https://doi.org/10.21105/joss.01094)
2. If everything looks go

[2019-05-20 13:17] arfon commented on #1094
@ybayle - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@carterenyi - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-05-20 13:17] #1094 closed

[2019-05-20 13:18] whedon commented on #1094
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01094/status.svg)](https://doi.org/10.21105/joss.01094)

**We need your help!**

Journal of Open Source Softwar

[2019-05-20 13:19] Kevin-Mattheus-Moerman commented on #1094
@arfon did you update the version tag to `v1.0.1`?

[2019-05-20 13:21] arfon commented on #1094
@whedon set v1.0.1 as version

[2019-05-20 13:22] whedon commented on #1094
OK. v1.0.1 is the version.

[2019-05-20 13:52] lpantano commented on #1363
@whedon check references

[2019-05-20 13:52] whedon commented on #1363
[code]

[2019-05-20 13:52] whedon commented on #1363
[code]

[2019-05-20 13:54] lpantano commented on #1363
Thank @prasunanand  and @wmegchel  for the nice review. I will proceed with acceptance.

@marouenbg could you create a Zenodo archive for your repository and pass me the DOI link? Make sure the author and title match the paper information. Congrats!

[2019-05-20 13:54] schuyler-smith commented on #1442
@karthik I just want to check to make sure that everything is set for this on my end, or if there is anything that I can/need to do. Thank you!

[2019-05-20 13:57] Kevin-Mattheus-Moerman commented on #1421
@modenaxe great thanks, let me know if you have questions.

[2019-05-20 14:11] saverioperugini commented on #1459
Hi,

It is now corrected.

thanks,
Saverio

On 5/19/19 4:46 PM, Arfon Smith wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information contained in

[2019-05-20 14:13] katyhuff commented on #1433
@haptork Thanks for adding tests! I think we can go ahead with the review now that the basics have been covered and now that we have two review volunteers (thanks @jmborr and @arose !).

[2019-05-20 14:14] katyhuff commented on #1433
@whedon assign @jmborr as reviewer

[2019-05-20 14:14] whedon commented on #1433
OK, the reviewer is @jmborr

[2019-05-20 14:14] katyhuff commented on #1433
@whedon add @arose as reviewer

[2019-05-20 14:14] whedon commented on #1433
OK, @arose is now a reviewer

[2019-05-20 14:14] katyhuff commented on #1433
@whedon start review

[2019-05-20 14:15] whedon opened #1461 "[REVIEW]: CSaransh: Software Suite to Study Molecular Dynamics Simulations of Collision Cascades"
**Submitting author:** @haptork (<a href="http://orcid.org/0000-0002-1100-6059">Utkarsh Bhardwaj</a>)
**Repository:** <a href="https://github.com/haptork/csaransh" target ="_blank">https://github.com/haptork/csaransh</a>
**Version:** v0.3.2
**Editor:** @katyhuff
**Reviewer:** @jmborr, @arose
**Archive:** <a href="https://doi.org/10.5281/zenodo.3434635" target="_blank">10.5281/zenodo.3434635</a>

#

[2019-05-20 14:15] whedon commented on #1433
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1461. Feel free to close this issue now!

[2019-05-20 14:15] whedon commented on #1461
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jmborr, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-05-20 14:15] whedon commented on #1461
[code]

[2019-05-20 14:15] whedon commented on #1461
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01461/joss.01461/10.21105.joss.01461.pdf)

[2019-05-20 14:16] saverioperugini commented on #1459
Hi,

Any one with experience with programming languages and Python would
be an appropriate reviewer.

Best regards,
Saverio

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIA

[2019-05-20 14:17] seabbs commented on #1434
@csoneson - there is a methods paper under review for this package that is not available to the reviewers/users. From the references to it in the documentation (and from what @fauvernierma  has said) it contains much of the detail confirming the package functionality/performance.

What is the best approach to avoid replicating work for  @fauvernierma but still providing reviewers/users with assura

[2019-05-20 14:38] modenaxe commented on #1421
@tgeijten I installed SCONE in the past and used it, but now, after I uninstalled it completely and reinstalled v1.0.0, I cannot run it after installation. I am prompted the following error:

![image](https://user-images.githubusercontent.com/7674529/58027397-74c0db00-7b10-11e9-9749-0312babc30cc.png)

I have already tried uninstalling again, removing all installation files and resources, restartin

[2019-05-20 15:04] tgeijten commented on #1421
@modenaxe sorry for the trouble! It seems you have an old configuration file that's no longer valid. You can delete to following folder to reset the configuration:

`C:\Users\<UserName>\AppData\Local\SCONE`

After that, everything should work fine.

[2019-05-20 15:12] modenaxe commented on #1421
that worked, thank you!

[2019-05-20 15:15] alexhanna commented on #1455
Sure, I can edit this.

[2019-05-20 15:16] danielskatz commented on #1459
@whedon generate pdf

[2019-05-20 15:16] whedon commented on #1459
[code]

[2019-05-20 15:16] whedon commented on #1459
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01459/joss.01459/10.21105.joss.01459.pdf)

[2019-05-20 15:17] danielskatz commented on #1455
@whedon asssign @alexhanna as editor

[2019-05-20 15:18] danielskatz commented on #1459
👋 @labarba @kyleniemeyer - I wonder if this would better fit JOSE?  What do you think?  It seems to be more focused on education than research.

[2019-05-20 15:19] alexhanna commented on #1455
whedon typo

[2019-05-20 15:19] whedon commented on #1455
OK, the editor is @alexhanna

[2019-05-20 15:20] danielskatz commented on #1455
btw, you can assign yourself as an editor too :)

[2019-05-20 15:20] alexhanna commented on #1455
I did not know this! Thanks. :)

[2019-05-20 15:21] alexhanna commented on #1455
@whedon assign @tweed1e as reviewer

[2019-05-20 15:21] whedon commented on #1455
OK, the reviewer is @tweed1e

[2019-05-20 15:21] alexhanna commented on #1455
@whedon start review

[2019-05-20 15:21] whedon opened #1462 "[REVIEW]: tidyqwi: A Tidy Approach to Accessing The US Census Bureau's Quarterly Workforce Indicators"
**Submitting author:** @medewitt (<a href="http://orcid.org/0000-0001-8940-1967">Michael DeWitt</a>)
**Repository:** <a href="https://github.com/medewitt/tidyqwi" target ="_blank">https://github.com/medewitt/tidyqwi</a>
**Version:** v0.1.0
**Editor:** @alexhanna
**Reviewer:** @tweed1e
**Archive:** <a href="https://doi.org/10.5281/zenodo.3247760" target="_blank">10.5281/zenodo.3247760</a>

## Statu

[2019-05-20 15:21] whedon commented on #1455
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1462. Feel free to close this issue now!

[2019-05-20 15:21] whedon commented on #1462
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tweed1e it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-05-20 15:21] whedon commented on #1462
[code]

[2019-05-20 15:21] whedon commented on #1462
PDF failed to compile for issue #1462 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1462 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-fc4c5c749ca9/lib/whedo

[2019-05-20 15:23] jedbrown commented on #1431
@whedon add @akelbert as reviewer

[2019-05-20 15:23] whedon commented on #1431
OK, @akelbert is now a reviewer

[2019-05-20 15:23] jedbrown commented on #1431
@whedon add @emersodb as reviewer

[2019-05-20 15:23] whedon commented on #1431
OK, @emersodb is now a reviewer

[2019-05-20 15:23] danielskatz commented on #1455
It would be good to find a second reviewer as well, unless you are very well-versed in the area of this software (which might be the case...)  We strongly prefer to have 2 reviewers.

[2019-05-20 15:24] jedbrown commented on #1431
@whedon add @lukeolson as reviewer

[2019-05-20 15:24] whedon commented on #1431
OK, @lukeolson is now a reviewer

[2019-05-20 15:25] jedbrown commented on #1431
@whedon start review

[2019-05-20 15:25] whedon opened #1463 "[REVIEW]: emg3d: A multigrid solver for 3D electromagnetic diffusion."
**Submitting author:** @prisae (<a href="http://orcid.org/0000-0002-8575-2484">Dieter Werthmüller</a>)
**Repository:** <a href="https://github.com/empymod/emg3d" target ="_blank">https://github.com/empymod/emg3d</a>
**Version:** v0.7.1
**Editor:** @jedbrown
**Reviewer:** @akelbert, @emersodb, @lukeolson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3339421" target="_blank">10.5281/zenodo.33

[2019-05-20 15:25] whedon commented on #1431
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1463. Feel free to close this issue now!

[2019-05-20 15:25] whedon commented on #1463
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @akelbert, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-05-20 15:25] whedon commented on #1463
[code]

[2019-05-20 15:25] #1431 closed

[2019-05-20 15:25] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-05-20 15:25] alexhanna commented on #1455
Noted. @koulvi, @zedtaha would you be able to review this as well?

[2019-05-20 15:27] alexhanna commented on #1455
I don't know who @koulvi is supposed to be -- @medewitt can you clarify?

[2019-05-20 15:27] jedbrown commented on #1463
@akelbert @emersodb @lukeolson :wave:  Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [emg3d repository](https://github.com/empymod/emg3d)). I'll be watching this thread if you have any questions.

[2019-05-20 15:34] corybrunson commented on #1434
Regarding @seabbs's miscellaneous comment above, i was able to install **survPen** and reproduce the vignette using R version 3.3.2. I agree that reducing the version dependency is optional, and i wouldn't necessarily recommend it without continuous integration support or unless @fauvernierma can test it using an earlier version on their own machine.

[2019-05-20 15:41] whedon opened #1464 "[PRE REVIEW]: swisslandstats-geopy: Python tools for the land statistics datasets from the Swiss Federal Statistical Office"
**Submitting author:** @martibosch (<a href="http://orcid.org/0000-0001-8735-9144">Martí Bosch</a>)
**Repository:** <a href="https://github.com/martibosch/swisslandstats-geopy" target ="_blank">https://github.com/martibosch/swisslandstats-geopy</a>
**Version:** v0.6.1
**Editor:** @leouieda
**Reviewers:** @weikang9009, @darribas

**Author instructions**

Thanks for submitting your paper to JOSS @ma

[2019-05-20 15:41] whedon commented on #1464
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @leouieda it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@leouieda) to find some reviewers fo

[2019-05-20 15:42] whedon commented on #1464
[code]

[2019-05-20 15:42] whedon commented on #1464
PDF failed to compile for issue #1464 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1464/paper/paper.md): mapping values are not allowed in this context at line 2 column 28 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2019-05-20 15:42] saverioperugini commented on #1459
While it probably could fit either place, it is more education-oriented.

Can it the submission be automatically transferred to JOSE?

On 5/20/19 11:18 AM, Daniel S. Katz wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: htt

[2019-05-20 15:42] danielskatz commented on #1464
👋 @leouieda - note that the submitter requested you as editor and I went ahead and assigned you based on the fit - if you have any concerns, please let me know and I will find another editor

[2019-05-20 15:45] danielskatz commented on #1464
👋 @martibosch - you need to add single quotes `'` around the title in your paper.md

Once you have done so, you can enter ```@whedon generate pdf``` as a new comment here to see if that fixes the build problem

[2019-05-20 15:46] labarba commented on #1459
No, unfortunately we don't have the ability to automatically transfer a submission, and you need to do a new one with JOSE (after declaring the paper withdrawn from JOSS).
http://jose.theoj.org

[2019-05-20 15:47] saverioperugini commented on #1459
The code blocks are not rendering properly in PDF as they do in the .md.

:ballot_box_with_check: is not rendering as a checkmark in the PDF as it
does in .md.

$\lambda$-expression is not rendering properly in Table at the top of
page 3 in PDF as it does in .md.

On 5/20/19 11:16 AM, whedon wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton

[2019-05-20 15:47] danielskatz commented on #1437
👋 @fiveop - I'm going to pause this submission until we get a response to the request above.

[2019-05-20 15:48] saverioperugini commented on #1459
I'd like to declare the paper withdrawn from JOSS.

On 5/20/19 11:46 AM, Lorena A. Barba wrote:

--
Saverio Perugini, Ph.D.
Associate Professor
Department of Computer Science
University of Dayton
300 College Park
Dayton, OH  45469-2160
Tel: +1 (937) 229-4079
Fax: +1 (937) 229-2193
E-mail: saverio@udayton.edu
WWW: http://academic.udayton.edu/SaverioPerugini/

CONFIDENTIALITY NOTICE
The information

[2019-05-20 15:51] danielskatz commented on #1457
👋 bioinformatics editing team (@mgymrek @brainstorm @lpantano @csoneson) - can one of you take on this submission as editor?

[2019-05-20 15:51] danielskatz commented on #1459
ok - I will remove it - thanks!

[2019-05-20 15:57] medewitt commented on #1455
@alexhanna , I just saw @koulvi on the googlesheet list of possible reviewers with expertise in econ and R. Must not be a valid user anymore.

Also, thanks for editing.

[2019-05-20 15:59] alexhanna commented on #1455
Noted!

On Mon, May 20, 2019 at 8:57 AM Michael DeWitt <notifications@github.com>
wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2019-05-20 15:59] martibosch commented on #1464
Hello @danielskatz - my apologies. I have already added the single quotes around the title and pushed the commit to the master branch.

Thank you

[2019-05-20 16:00] arfon commented on #1455
@danielskatz ping me when you've added the second review and I'll edit the review checklist and invite the second reviewer to the review repo (so they can update their checklist).

[2019-05-20 16:03] danielskatz commented on #1455
👋 @alexhanna - the comment above that @arfon wrote to me is really for you :)

[2019-05-20 16:03] danielskatz commented on #1464
I'll do it this time...

[2019-05-20 16:03] danielskatz commented on #1464
@whedon generate pdf

[2019-05-20 16:03] whedon commented on #1464
[code]

[2019-05-20 16:04] whedon commented on #1464
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01464/joss.01464/10.21105.joss.01464.pdf)

[2019-05-20 16:05] danielskatz commented on #1464
looks good - over to @leouieda to edit...  (or to say that someone else should)

[2019-05-20 16:32] adrena-lab commented on #1392
Hi @trallard,

I was wondering whether there is an update on our paper as it seems we have addressed all outstanding issues (besides the minor comment that the link to the archive is not working). It would be great to see this work published.

Thank you and kind regards,
Stefan

[2019-05-20 16:34] lpantano commented on #1457
@danielskatz, it seems a good fit, we'll do it.

@mgallan, can you try to fix the figures. They are not centered. We'll find the editor that could handle this meanwhile.

[2019-05-20 16:34] RuthAngus commented on #1460
Thanks, @arfon! Yes, it does -- I submitted a full-length paper to AJ about the method!

[2019-05-20 17:14] arfon commented on #1460
@whedon generate pdf

[2019-05-20 17:14] whedon commented on #1460
[code]

[2019-05-20 17:14] whedon commented on #1460
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01460/joss.01460/10.21105.joss.01460.pdf)

[2019-05-20 17:50] karthik commented on #1442
@schuyler-smith All good at your end. We're just waiting for the review to come in.

[2019-05-20 18:54] kyleniemeyer commented on #1456
@arfon sure thing, I'll handle it

[2019-05-20 18:55] kyleniemeyer commented on #1456
@whedon assign @kyleniemeyer as editor

[2019-05-20 18:55] whedon commented on #1456
OK, the editor is @kyleniemeyer

[2019-05-20 18:55] karthik commented on #785
@whedon generate pdf

[2019-05-20 18:55] whedon commented on #785
[code]

[2019-05-20 18:55] karthik commented on #785
@whedon check references

[2019-05-20 18:55] whedon commented on #785
[code]

[2019-05-20 18:55] prisae commented on #1463
Great to see the review started! I repeat a question here that I asked in the original issue (https://github.com/openjournals/joss-reviews/issues/1431#issuecomment-489406698): "I saw one typo and some of the reference-bracketing in the compiled version did not turn out as I intended. Is there a way to edit them now or shall I wait for the reviews first?"

[2019-05-20 18:55] whedon commented on #785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00785/joss.00785/10.21105.joss.00785.pdf)

[2019-05-20 18:56] whedon commented on #785
[code]

[2019-05-20 18:57] danielskatz commented on #1463
You can make changes in the paper.md and paper.bib - after you have done so, enter a new comment here containing ```@whedon generate pdf``` to rebuild the pdf

[2019-05-20 18:58] karthik commented on #785
@flor14 Can you please fix the missing DOIs for the references noted above? After that I will proceed with the next steps to getting your paper accepted.

[2019-05-20 18:59] mrava87 commented on #1356
I did. Everything looks good to me, thanks for updating the documentation :)

[2019-05-20 19:08] poulson commented on #1356
I am happy to recommend this for publication as well. @Kevin-Mattheus-Moerman

[2019-05-20 19:15] danielskatz commented on #1460
👋 @arfon - do you want to edit this submission?

[2019-05-20 19:18] flor14 commented on #785
I have just added doi and url to paper.bib. I suppose it solves this

Thank you

Sent from Mail for Windows 10

From: Karthik Ram
Sent: lunes, 20 de mayo de 2019 3:58 p. m.
To: openjournals/joss-reviews
Cc: Florencia; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: ShinySSD: SpeciesSensitivity Distributions for Ecotoxicological Risk Assessment (#785)

@flor14 Can you please fix the miss

[2019-05-20 19:19] modenaxe commented on #1421
First of all, I want to congratulate @tgeijten for the quality of this software. Graphical interface and visualisation window in particular are truly remarkable for a research tool. I think that SCONE is an ambitious project with huge potential and creating the conditions for interested researchers of learning how to use it will be of paramount importance for its long-term success.
### Software pa

[2019-05-20 19:19] whedon commented on #1315
:wave: @sauln, please update us on how things are progressing here.

[2019-05-20 19:19] nelsonroque commented on #1279
@aj2duncan @acolum thank you for all your feedback. I have addressed all points raised, including a new draft of the paper, with updated references, additions and changes to readme.md, a new docs/ folder on root with changelog and feature list in markdown format.

@acolum I had a question regarding your comment: "It would be beneficial to see an example (with code) of how tsfeaturex can calculate

[2019-05-20 19:31] smk508 commented on #1422
Hi @arokem , what's the status on the paper review?

[2019-05-20 19:32] leouieda commented on #1450
@banesullivan congratulations on your publication! :tada: :confetti_ball: This was a nice monday morning surprise :slightly_smiling_face:

@nicoguaro @Chilipp thank you for taking the time to review this submission in such a short time! :1st_place_medal:

[2019-05-20 19:33] prisae commented on #1463
@whedon generate pdf

[2019-05-20 19:33] whedon commented on #1463
[code]

[2019-05-20 19:34] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-05-20 19:34] karthik commented on #785
@whedon check references

[2019-05-20 19:34] whedon commented on #785
[code]

[2019-05-20 19:34] whedon commented on #785
[code]

[2019-05-20 19:36] prisae commented on #1463
I pushed a revised version. The only thing I did was changing things a little to take into account that citations in JOSS seem to always have brackets (). So I avoided having (()), and tried to make sentences that do not have a (citation) in its flow. Nothing change with regards to the context.

[2019-05-20 19:46] leouieda commented on #1464
@danielskatz I'd be happy to edit this submission :+1:

@martibosch I'll look over your submission shortly and start searching for appropriate reviewers. Let me know if you have any questions :slightly_smiling_face:

[2019-05-20 19:50] arfon commented on #1460
@whedon assign @arfon as editor

[2019-05-20 19:50] whedon commented on #1460
OK, the editor is @arfon

[2019-05-20 19:55] danielskatz commented on #935
👋 @mpurg @kyleniemeyer - Given the long delay at this point, I suggest that withdrawing the submission might be a good option, with the idea that it can be submitted again later.

Your thoughts?

[2019-05-20 19:56] leouieda commented on #1315
Hi @sauln let me know if you need more time. I can set another reminder.

[2019-05-20 19:57] danielskatz commented on #1016
👋 @gouarin - Given that this review hasn't started, I plan to withdraw the paper, with the idea that it can be submitted when the modifications have been made and it is ready to be reviewed.  Please let me know if you disagree.

[2019-05-20 19:57] kyleniemeyer commented on #935
I agree, if @mpurg feels the same.

[2019-05-20 20:00] danielskatz commented on #980
👋 @olivertomic - are you still planning to make these changes, or should we withdraw the paper, with the idea that you can resubmit it later?

[2019-05-20 20:01] danielskatz commented on #1119
👋 @brainstorm - what's happening here?  It looks like this has been waiting for 2 new reviewer for about 6 weeks?

[2019-05-20 20:02] danielskatz commented on #1295
👋 @jdkent - What's going on with this submission?  Are you working on the comments?  Or maybe you have worked on them already, and just need to tell us here?

[2019-05-20 20:04] danielskatz commented on #1182
👋 @mconlon17 - Please note we are waiting for your changes to the paper, as requested by @arfon about 5 weeks ago.

[2019-05-20 20:05] danielskatz commented on #1256
👋 @timClicks - we haven't heard from you in about 10 weeks now - are you still planning to perform this review?

[2019-05-20 20:06] danielskatz commented on #1368
👋 @EricSchles - just checking in again...

[2019-05-20 20:08] danielskatz commented on #1387
👋 @arfon, this review seems to have stalled...

[2019-05-20 20:08] labarba commented on #935
If this submission is withdrawn (and given the long delay, I agree that it should), we would ask the authors to please provide a link to this issue when they submit again (via a comment in the Pre-Review issue). This way, we can recall the history and possibly ask the same reviewers if they are still willing to contribute a review.

[2019-05-20 20:09] danielskatz commented on #1087
👋 @arfon - this review seems to have stalled...

[2019-05-20 20:15] mpurg commented on #935
Hi all, I agree that the submission be withdrawn and apologize for any
inconvenience.
Thank you reviewers for your valuable feedback.

On Mon, May 20, 2019 at 10:08 PM Lorena A. Barba <notifications@github.com>
wrote:

[2019-05-20 20:17] danielskatz commented on #935
Thanks - I will go ahead and withdraw this.
If/when do you resubmit, please add a comment that this was already partially reviewed, so as @labarba suggests, we can reference this issue and potentially get the same review back

[2019-05-20 20:17] #935 closed

[2019-05-20 20:19] danielskatz commented on #720
👋 @offray - how is this change coming along?

[2019-05-20 20:20] danielskatz commented on #693
👋 @jedbrown - I *think* the action on this submission is now yours

[2019-05-20 20:25] flor14 commented on #785
I fixed this again according to the autor’s guidelines https://joss.readthedocs.io/en/latest/submitting.html
Now?

Thank you!

Sent from Mail for Windows 10

From: whedon
Sent: lunes, 20 de mayo de 2019 4:34 p. m.
To: openjournals/joss-reviews
Cc: Florencia; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: ShinySSD: SpeciesSensitivity Distributions for Ecotoxicological Risk Assessment (#

[2019-05-20 20:25] csoneson commented on #1434
@seabbs - thanks for raising the question about the associated methods paper. The software functionality should be possible to review with publicly available material; thus, either the methods paper should be deposited on a preprint server, or enough material to review functionality and performance claims should be included in the documentation of the software.
@fauvernierma - please note that all

[2019-05-20 20:29] karthik commented on #785
@whedon check references

[2019-05-20 20:29] whedon commented on #785
[code]

[2019-05-20 20:30] whedon commented on #785
[code]

[2019-05-20 20:51] RuthAngus commented on #1460
Hi @arfon! I noticed a typo in the paper which I have fixed now!

[2019-05-20 20:54] danielskatz commented on #1460
@whedon generate pdf

[2019-05-20 20:54] whedon commented on #1460
[code]

[2019-05-20 20:55] whedon commented on #1460
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01460/joss.01460/10.21105.joss.01460.pdf)

[2019-05-20 20:55] danielskatz commented on #1460
👋  RuthAngus - you can also tell @whedon to do this at any time by putting the same command (```@whedon generate pdf```) in a new comment

[2019-05-20 20:57] RuthAngus commented on #1460
@arfon sweet, thanks! I'll do that next time!

[2019-05-20 21:10] tknopp commented on #1331
@whedon generate pdf

[2019-05-20 21:10] whedon commented on #1331
[code]

[2019-05-20 21:10] whedon commented on #1331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01331/joss.01331/10.21105.joss.01331.pdf)

[2019-05-20 21:17] tknopp commented on #1331
@whedon generate pdf

[2019-05-20 21:17] whedon commented on #1331
[code]

[2019-05-20 21:17] whedon commented on #1331
PDF failed to compile for issue #1331 with the following error:

 Error reading bibliography ./paper.bib (line 47, column 4):
unexpected "e"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-20 21:18] tknopp commented on #1331
@whedon generate pdf

[2019-05-20 21:18] whedon commented on #1331
[code]

[2019-05-20 21:19] whedon commented on #1331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01331/joss.01331/10.21105.joss.01331.pdf)

[2019-05-20 21:25] tknopp commented on #1331
@whedon generate pdf

[2019-05-20 21:25] whedon commented on #1331
[code]

[2019-05-20 21:25] whedon commented on #1331
PDF failed to compile for issue #1331 with the following error:

 Error reading bibliography ./paper.bib (line 33, column 3):
unexpected "p"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-20 21:27] tknopp commented on #1331
@whedon generate pdf

[2019-05-20 21:27] whedon commented on #1331
[code]

[2019-05-20 21:27] whedon commented on #1331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01331/joss.01331/10.21105.joss.01331.pdf)

[2019-05-20 21:47] jedbrown commented on #693
@wandreopoulos I've tried installing with your branch and the virtualenv procedure above does not work. Some issues
* To start with, you can remove `sqlite3` from `requirements.txt` because it is part of the standard library (not a package).
* I think `nose` is really only a development requirement.
* You can also remove duplicate entries from `requirements_dev.txt` (it doesn't need to repeat thos

[2019-05-20 21:51] jedbrown commented on #693
Also:

https://nose.readthedocs.io/en/latest/

[2019-05-20 22:33] banesullivan commented on #1450
Thanks @leouieda!!! This is very exciting!

@leouieda, would you please confirm that the following would be a correct BibTex citation for this paper:

[code]

Also, is there a way to autogenerate BibTex citations on the JOSS website? I see the current autogenerated citation of:

[2019-05-20 23:17] brainstorm commented on #1457
👋  @vladsaveliev, would you like to review this pipeline for JOSS?

[2019-05-20 23:28] arfon commented on #1182
I should have updated here to say I emailed the author last night about this and he replied immediately. I would expect an update shortly.

[2019-05-20 23:28] nproellochs commented on #1087
@arfon I am planning to incorporate the feedback next weekend. Is there a deadline for the revision?

[2019-05-20 23:31] arfon commented on #1387
I've just followed up with @lpueyo over email. I think he might have just gone out on paternity leave...

[2019-05-20 23:44] dmittman commented on #1047
I find the material just outside my area of expertise, being more about satellite imagery analysis with a time-series component than pure time-series visualization.

[2019-05-20 23:48] arfon commented on #1087
No, the timing is up to you.

Please make sure though in your revisions you directly address the feedback from @kbenoit. Specifically:

In your response here I think you need to make a strong case for this being a JOSS submission rather than a [JOSE](http://jose.theoj.org) one, especially given both reviewers have the same concern here.

[2019-05-21 00:22] ixjlyons commented on #1438
Yes I can review this. It might take a couple weeks for me to get to it.

[2019-05-21 01:10] danielskatz commented on #1387
Maybe we need to find an alternate reviewer?

[2019-05-21 01:12] danielskatz commented on #1047
And @chrismattmann replied to me by email that he doesn't have time currently

[2019-05-21 01:24] danielskatz commented on #1047
@turmon, @darth-pr - would either of you be able to step in and help with a review of this submission & this software for JOSS?  (Or perhaps suggest someone else who might?)

See [JOSS review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) in case you are not aware of how JOSS works...

[2019-05-21 01:55] 1313e commented on #1229
@arfon So, is there going to be something like a unique/specific identifier going to be added to both papers (or something like a note) that states the papers are linked?

[2019-05-21 03:46] brainstorm commented on #1457
And/or @pdiakumis if @vladsaveliev keeps ignoring me ;)

[2019-05-21 03:46] jdkent commented on #1295
Hi @danielskatz, I am working through the comments still. I should have more time to dedicate to the project this week and the next.

[2019-05-21 03:51] vladsaveliev commented on #1457
Sorry, didn't have a chance to look at it to understand how much work it will require

[2019-05-21 03:55] brainstorm commented on #1457
@vladsaveliev Usually the reviewer checklist is fairly straightforward, the total time spent on the actual review, in my personal experience, is quite short (20-30min of codebase/tests/docs review), since you know your way through Snakemake, that could potentially be even less.

[2019-05-21 03:55] brainstorm commented on #1457
@vladsaveliev https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-05-21 04:54] vladsaveliev commented on #1457
@whedon start review

[2019-05-21 04:54] whedon commented on #1457
I'm sorry @vladsaveliev, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-05-21 04:55] vladsaveliev commented on #1457
I can try to review

[2019-05-21 05:01] alkirkby commented on #1358
Hi @lheagy,
We have just obtained final approval of the proof so are ready to go ahead with the next stage of the process!

[2019-05-21 05:01] alkirkby commented on #1358
version number is 1.0

[2019-05-21 05:19] brainstorm commented on #1457
@whedon assign @vladsaveliev as reviewer

[2019-05-21 05:19] brainstorm commented on #1457
@whedon assign @brainstorm as editor

[2019-05-21 05:19] whedon commented on #1457
OK, the editor is @brainstorm

[2019-05-21 05:19] brainstorm commented on #1457
@whedon start review

[2019-05-21 05:19] whedon opened #1465 "[REVIEW]: A reproducible Snakemake pipeline to analyse Illumina paired-end data from ChiP-Seq experiments"
**Submitting author:** @mgalland (<a href="http://orcid.org/0000-0003-2161-8689">marc galland</a>)
**Repository:** <a href="https://github.com/KoesGroup/Snakemake_ChIPseq_PE" target ="_blank">https://github.com/KoesGroup/Snakemake_ChIPseq_PE</a>
**Version:** v1.2.0
**Editor:** @brainstorm
**Reviewer:** @vladsaveliev
**Archive:** <a href="https://doi.org/10.5281/zenodo.3240026" target="_blank">10.5

[2019-05-21 05:19] whedon commented on #1457
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1465. Feel free to close this issue now!

[2019-05-21 05:19] whedon commented on #1465
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vladsaveliev it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-05-21 05:19] whedon commented on #1465
[code]

[2019-05-21 05:19] #1457 closed

[2019-05-21 05:19] whedon commented on #1465
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01465/joss.01465/10.21105.joss.01465.pdf)

[2019-05-21 06:37] vladsaveliev commented on #1465
**Review**

Snakemake_ChIPseq_PE is a solid Snakemake workflow, designed very much in Snakemake spirit, and makes use of its main features like conda or signularity-based runs. Self-contained assuming you have conda executable installed. Python code is clean, follows PEP guidelines an thus easy to read.

The tool is well documented, pretty clear instructions how to install and test it. One small s

[2019-05-21 06:45] brainstorm commented on #1465
Vlad, Thanks a ton for this! @mgalland, could you please apply the fixes/suggestions and generate a preliminary DOI via Zenodo?

[2019-05-21 06:47] brainstorm commented on #1465
@whedon check references

[2019-05-21 06:47] whedon commented on #1465
[code]

[2019-05-21 06:47] whedon commented on #1465
[code]

[2019-05-21 06:50] brainstorm commented on #1465
@mgalland, before you put it on Zenodo, please make sure that:

1) The paper figures render well, they seem a bit off.
2) There's better spacing on the enumerations, paragraphs and overall text structure.

Other than that, LGTM.

[2019-05-21 08:06] vladsaveliev commented on #1465
Have to clarify that I don't think that running from BAMs is a requirement to accept the article. Just a suggestion. Can go as is.

Agree about the figure rendering though, images look cropped by the right edge, especially the DAG plot.

[2019-05-21 08:12] mgalland commented on #1465
Yes, running from BAMs would be nice but, in practice, I don't really know how to implement this...
Do you think the figures are cropped because their size is too big? Jihed will look into that tonight (Amsterdam time!).

[2019-05-21 08:13] sebastkm commented on #1292
@whedon generate pdf

[2019-05-21 08:13] whedon commented on #1292
[code]

[2019-05-21 08:14] whedon commented on #1292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01292/joss.01292/10.21105.joss.01292.pdf)

[2019-05-21 08:36] xuanxu commented on #1426
@Juanlu001 What's your status with the continued review of this submission?

[2019-05-21 08:38] xuanxu commented on #1397
:wave: @melissawm - friendly reminder to take a look at this review when you get a chance.

[2019-05-21 08:47] labarba commented on #1438
@whedon add @ixjlyons as reviewer

[2019-05-21 08:47] whedon commented on #1438
OK, @ixjlyons is now a reviewer

[2019-05-21 08:47] labarba commented on #1438
@whedon start review

[2019-05-21 08:47] whedon opened #1466 "[REVIEW]: DynaMo: Dynamic Body Shape and Motion Capture with Intel RealSense Cameras"
**Submitting author:** @abhishektha (<a href="http://orcid.org/0000-0003-4260-0488">Abhishektha Boppana</a>)
**Repository:** <a href="https://github.com/anderson-cu-bioastronautics/dynamo_realsense-capture" target ="_blank">https://github.com/anderson-cu-bioastronautics/dynamo_realsense-capture</a>
**Version:** v1.1
**Editor:** @labarba
**Reviewers:** @melund, @ixjlyons, @alcantarar
**Archive:** <

[2019-05-21 08:47] whedon commented on #1438
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1466. Feel free to close this issue now!

[2019-05-21 08:47] whedon commented on #1466
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @melund, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-05-21 08:47] whedon commented on #1466
[code]

[2019-05-21 08:47] whedon commented on #1466
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01466/joss.01466/10.21105.joss.01466.pdf)

[2019-05-21 08:47] #1438 closed

[2019-05-21 08:49] labarba commented on #1466
👋  @melund, @ixjlyons — Thank you for agreeing to review for JOSS! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2019-05-21 09:15] kgjerde commented on #1342
@whedon generate pdf

[2019-05-21 09:15] whedon commented on #1342
[code]

[2019-05-21 09:15] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-05-21 09:22] Juanlu001 commented on #1426
@xuanxu Had a tough day at work, hopefully I will complete it this week

[2019-05-21 09:24] kgjerde commented on #1342
@whedon generate pdf

[2019-05-21 09:24] whedon commented on #1342
[code]

[2019-05-21 09:24] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-05-21 09:31] kgjerde commented on #1342
@leouieda As noted in https://github.com/openjournals/joss/issues/534, I have now fixed the layout issues I wanted to fix in the pdf.

[2019-05-21 09:44] vladsaveliev commented on #1465
@mgalland Snakemake is just a Python extension, so you can use `if`-`else` statements whenever you want, e.g. like that:
https://github.com/umccr/10x/blob/master/ema/Snakefile#L49-L75
https://github.com/vladsaveliev/vcf_stuff/blob/master/vcf_stuff/eval_vcf/vcf.smk#L137-L156
Hope this is helpful

[2019-05-21 09:57] kgjerde commented on #1342
@whedon generate pdf

[2019-05-21 09:57] whedon commented on #1342
[code]

[2019-05-21 09:57] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-05-21 11:08] arfon commented on #1449
@andreas-h @bjarketol - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The software under consideration is here: https://github.com/WRF-CMake/WRF and you can learn more about the project in this [short overview paper](https://github.com/

[2019-05-21 11:29] trinker commented on #1342
@leouieda I'm ready to sign off on the submission.

[2019-05-21 12:03] tgeijten commented on #1421
Thank you @modenaxe for the great feedback. I will add the suggested content to the documentation in the upcoming days. It is indeed our plan to develop a user base outside core developers, and feedback like this is essential to achieve that.

In general, the plan is to continuously improve the website and documentation based on user feedback. Funding has been secured to enable this until at least

[2019-05-21 12:06] kgjerde commented on #1342
@whedon generate pdf

[2019-05-21 12:06] whedon commented on #1342
[code]

[2019-05-21 12:06] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-05-21 12:09] kgjerde commented on #1342
Last change in pdf:
* Manually added one case of hyphenation of package name
* replaced 'highlighted text' with 'pattern matches highlighted'.

[2019-05-21 12:12] danielskatz commented on #1295
Thanks for the update.

[2019-05-21 12:19] fiveop commented on #1437
@labarba Thank you for your quick inspection and sorry that it took me so long to answer (Now, I have reenabled e-mail notifications).

To address your comment, I have reformulated my text, in particular the quoted paragraph. I hope this clarifies what we use the library for and why it is useful to our (undeniably applied) research. I don't explain it any further in this comment, because eventuall

[2019-05-21 12:23] melissawm commented on #1397
Hello, @xuanxu , maybe I didn't understand the workflow for the review process. I'm doing the review, however there are some issues that I'm waiting to be solved before I can check all of the boxes and finish the review. I've opened these issues in the source repository as instructed. Should I not wait for that?

[2019-05-21 12:25] danielskatz commented on #1437
Thanks - I think we can go ahead with the review.  You will need to put the paper in the master branch at some point, and if you are willing to do it now, it will make the review process easier.

[2019-05-21 12:25] danielskatz commented on #1437
@whedon generate pdf from branch rephrase_application_section

[2019-05-21 12:25] whedon commented on #1437
[code]

[2019-05-21 12:26] whedon commented on #1437
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01437/joss.01437/10.21105.joss.01437.pdf)

[2019-05-21 12:30] olivertomic commented on #980
Dear @danielskatz . Yes, we are still planning on making these changes. I am finally done teaching this semester and plan to finish this up by end of June. I hope this time frame is still OK.

[2019-05-21 12:31] danielskatz commented on #1437
👋 @usethedata - would you be willing to edit this submission?

[2019-05-21 12:36] danielskatz commented on #980
In my opinion, yes, if this is a firm commitment, but I will also defer to @arfon as the editor of the submission.

[2019-05-21 12:39] danielskatz commented on #1437
@fiveop - I hope you are ok with waiting 10 days until @usethedata returns.  If he is not willing/able to edit, I will do it.

[2019-05-21 12:45] fiveop commented on #1437
@danielskatz Thank you, there's no rush.

[2019-05-21 13:05] xuanxu commented on #1397
Hi @melissawm! I didn't see the issues you opened in the hankel repository, sorry. The workflow you are following is OK.
Just a detail: as the central place for the review process, it'd be ideal if you could add a short comment in this issue whenever the status changes or to keep track of the actions being taken (for example, something like "I've opened some issues in the target repo with a couple

[2019-05-21 13:16] malmaud commented on #1453
OK, I just installed and tested in a fresh Julia environment and the tests pass now.

[2019-05-21 13:26] arfon commented on #980
👍 this sounds OK to me.

[2019-05-21 14:54] whedon opened #1467 "[PRE REVIEW]: mLEARn: An Implementation of Multi-layer Perceptron in C++"
**Submitting author:** @kalu-o (<a href="http://orcid.org/0000-0002-8152-4863">Kalu U. Ogbureke</a>)
**Repository:** <a href="https://github.com/kalu-o/mLEARn" target ="_blank">https://github.com/kalu-o/mLEARn</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @kalu-o. **Currently, there isn't an JOSS editor assigned

[2019-05-21 14:54] whedon commented on #1467
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-21 14:54] whedon commented on #1467
[code]

[2019-05-21 14:54] whedon commented on #1467
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01467/joss.01467/10.21105.joss.01467.pdf)

[2019-05-21 14:57] danielskatz commented on #1467
👋 @kalu-o - your affiliation shows up as IEEE - Is this the institution where you work/study or where you worked/studied while the work was done?

[2019-05-21 15:06] lheagy commented on #1358
@whedon set 10.5281/zenodo.2698634 as archive

[2019-05-21 15:06] whedon commented on #1358
OK. <a href="https://doi.org/10.5281/zenodo.2698634" target="_blank">10.5281/zenodo.2698634</a> is the archive.

[2019-05-21 15:07] lheagy commented on #1358
@whedon set 1.0 as version

[2019-05-21 15:07] whedon commented on #1358
OK. 1.0 is the version.

[2019-05-21 15:08] lheagy commented on #1358
@whedon check references

[2019-05-21 15:08] whedon commented on #1358
[code]

[2019-05-21 15:09] rheiland commented on #1408
Hello @lheagy and @choldgraf, I welcome more feedback when you get a chance. Thanks!

[2019-05-21 15:09] whedon commented on #1358
[code]

[2019-05-21 15:10] lheagy commented on #1358
@whedon set v1.0 as version

[2019-05-21 15:10] whedon commented on #1358
OK. v1.0 is the version.

[2019-05-21 15:11] lheagy commented on #1358
:wave: @alkirkby, excellent! Would you mind updating the title in the zenodo archive to match the title of the paper: "The MTPy software package for magnetotelluric data analysis and visualisation". After that, we are good to go!

[2019-05-21 15:37] turmon commented on #1047
Maybe Kyo Lee in my group?  He's a climate/remote sensing model analysis person, who contributes to an open source regional climate model system.

https://orcid.org/0000-0003-3754-3204

Huikyo.Lee@jpl.nasa.gov

Mike

[2019-05-21 15:44] danielskatz commented on #1047
Thanks Mike - Does Kyo has a github account?  I'll let @Kevin-Mattheus-Moerman follow-up with him, as the editor.

[2019-05-21 15:46] turmon commented on #1047
I was not able to find a GH account, but I can't rule it out.
Mike

[2019-05-21 16:48] andreas-h commented on #1449
Yes, I'd be happy to review this.

Tue May 21 13:08:56 GMT+02:00 2019 Arfon Smith <notifications@github.com>:

[2019-05-21 16:53] marouenbg commented on #1363
Awesome! Thanks @prasunanand for the review. @lpantano I need a couple of day to review the text and the we can proceed with the final version. Thank you!

[2019-05-21 18:38] kalu-o commented on #1467
Hi Daniel,
I did not work/study in IEEE, but a member. The work was done at Rovira i Virgili University, Tarragona Spain.  It is a research software; I briefly looked at JOSE and think it might be better suited there.

[2019-05-21 18:39] danielskatz commented on #1467
Can I suggest that you withdraw it from JOSS (which I can do with your permission) and resubmit to JOSE instead?  That does seem like a better fit.

[2019-05-21 18:41] kalu-o commented on #1467
Yes please.

[2019-05-21 18:45] #1467 closed

[2019-05-21 18:53] gouarin commented on #1016
@danielskatz I agree. Sorry for the delay.

We will do better next time !

[2019-05-21 18:58] danielskatz commented on #1016
Thanks - we look forward to your future submission!

[2019-05-21 18:58] #1016 closed

[2019-05-21 18:59] olivertomic commented on #980
Thanks a lot @danielskatz and @arfon. A firm commitment it is. End of June.

[2019-05-21 19:30] arfon commented on #1449
@whedon add @andreas-h as reviewer

[2019-05-21 19:30] whedon commented on #1449
OK, @andreas-h is now a reviewer

[2019-05-21 19:31] arfon commented on #1449
@whedon start review

[2019-05-21 19:31] whedon opened #1468 "[REVIEW]: WRF-CMake: integrating CMake support into the Advanced Research WRF (ARW) modelling system"
**Submitting author:** @letmaik (<a href="http://orcid.org/0000-0003-3299-1382">Maik Riechert</a>)
**Repository:** <a href="https://github.com/WRF-CMake/WRF" target ="_blank">https://github.com/WRF-CMake/WRF</a>
**Version:** WRF-CMake-4.0.3
**Editor:** @arfon
**Reviewer:** @zbeekman, @andreas-h
**Archive:** <a href="https://doi.org/10.5281/zenodo.3403343" target="_blank">10.5281/zenodo.3403343</a>

[2019-05-21 19:31] whedon commented on #1449
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1468. Feel free to close this issue now!

[2019-05-21 19:31] whedon commented on #1468
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zbeekman, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-05-21 19:31] whedon commented on #1468
[code]

[2019-05-21 19:31] arfon commented on #1449
@zbeekman, @andreas-h - many thanks for agreeing to review this submission. See you over in #1468 where the full review will take place.

[2019-05-21 19:31] #1449 closed

[2019-05-21 19:31] whedon commented on #1468
PDF failed to compile for issue #1468 with the following error:

 Can't find any papers to compile :-(

[2019-05-21 19:31] arfon commented on #1468
@zbeekman, @andreas-h - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-05-21 19:32] arfon commented on #1468
@whedon generate pdf from branch joss-paper

[2019-05-21 19:32] whedon commented on #1468
[code]

[2019-05-21 19:33] whedon commented on #1468
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01468/joss.01468/10.21105.joss.01468.pdf)

[2019-05-21 19:36] arfon commented on #1460
@RuthAngus - could you suggest some potential reviewers for this submission? [This list of people](https://bit.ly/joss-reviewers) might be a good place to start.

Also cc @crawfordsm on this submission.

[2019-05-21 19:36] arfon commented on #1330
@whedon set 10.5281/zenodo.2584337 as archive

[2019-05-21 19:37] whedon commented on #1330
OK. <a href="https://doi.org/10.5281/zenodo.2584337" target="_blank">10.5281/zenodo.2584337</a> is the archive.

[2019-05-21 19:37] arfon commented on #1330
@whedon accept

[2019-05-21 19:37] whedon commented on #1330
[code]

[2019-05-21 19:37] whedon commented on #1330
[code]

[2019-05-21 19:37] whedon commented on #1330
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/708

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/708, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-21 19:41] arfon commented on #1330
:wave: @grantjenks - a couple of final changes to the paper:

- Could you remove the last sentence about the Zenodo archive? We link to the archive directly from the paper already so this is superfluous.
- When you're mentioning projects (e.g. Astropy, Dask etc.) could you cite those packages in the paper? You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and

[2019-05-21 20:06] zbeekman commented on #1468
@letmaik Is D. Meyer on GitHub? Trying to ensure no conflicts of interest but, it's hard to guarantee without being able to look up the other author. The institution/association ("Independent Scholar") is not helpful for this.

[2019-05-21 20:08] dmey commented on #1468
Howdy @zbeekman. There shouldn't be any with me.

[2019-05-21 20:11] arokem commented on #1171
Hi @tanselbaran : were you able to take another look at this?

[2019-05-21 20:19] arokem commented on #1422
Sorry - I have been traveling and away from this pre-review.

[2019-05-21 20:19] arokem commented on #1422
👋 @dirmeier : would you be willing to review this paper for JOSS?

[2019-05-21 20:33] zbeekman commented on #1468
Yup, did some git archeology and figured that was probably you. Thanks!

[2019-05-21 21:34] zbeekman commented on #1468
@arfon @letmaik the version [is listed simply as `4`](https://github.com/openjournals/joss-reviews/issues/1468#issue-446786977) but in the repository I see:

1. [Git tag `v4.0`](https://github.com/WRF-CMake/WRF/releases/tag/v4.0)
2. pre-release with assets, notes & tag `WRF-CMake-4.0`](https://github.com/WRF-CMake/WRF/releases/tag/WRF-CMake-4.0)
3. [pre-release with assets, notes & tag `WRF-CMake-

[2019-05-21 22:03] alkirkby commented on #1358
@lheagy, ok no worries, done.

[2019-05-21 22:12] arfon commented on #1468
It's important that the authors specify which version they're expecting you to review.

Yes, as long as the authors are happy to tag a new release at the end of the review based on the `pre-release` content (this often happens for JOSS reviews).

[2019-05-21 22:45] zbeekman commented on #1468
I'm working under the assumption that [pre-release with assets, notes & tag `WRF-CMake-4.0.3`](https://github.com/WRF-CMake/WRF/releases/tag/WRF-CMake-4.0.3) is the version that the authors want reviewed and that will form the basis of the new release.

@letmaik (and/or @dmey): please confirm.

[2019-05-21 23:42] lheagy commented on #1358
Many thanks @JKutt for your speedy review! and congratulations @alkirkby and team on your submission 🎉

👋 @openjournals/joss-eics, this submission is ready to be accepted!

[2019-05-22 01:33] danielskatz commented on #1358
Thanks to @JKutt for reviewing and @lheagy for editing!

[2019-05-22 01:33] danielskatz commented on #1358
@whedon accept

[2019-05-22 01:33] whedon commented on #1358
[code]

[2019-05-22 01:33] whedon commented on #1358
[code]

[2019-05-22 01:34] whedon commented on #1358
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/709

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/709, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-22 02:01] danielskatz commented on #1358
@alkirkby - I see a couple of reference problems that I've tried to fix via https://github.com/MTgeophysics/mtpy/pull/82

One is opening quotes that were backwards, and the other is an underscore that caused a URL to not work right.  I'm sure my fix will work for the quotes, but I'm not sure it will work for the URL. Can you accept the PR, and see if paper will compile?  If not, we can try to fix

[2019-05-22 03:27] leouieda commented on #1450
Hi @banesullivan I think the bibtex should be:

[code]

At least according to https://www.doi2bib.org/bib/10.21105/joss.01450

[2019-05-22 03:28] banesullivan commented on #1450
Thank you @leouieda!

[2019-05-22 04:27] pdwaggoner commented on #1285
Hi @yochannah - anything else we need to do here? Thanks!

[2019-05-22 07:18] letmaik commented on #1468
Clarification regarding the `pre-release` marker: This only refers to the pre-built binaries under assets which we'd like to declare as "experimental" (meaning use at your own risk, despite our testing efforts), the software itself is not pre-release. Please let us know if you have an idea to make this more clear.

Please review the WRF-CMake-4.0.3 tag. The main difference to the default branch `w

[2019-05-22 08:10] Kevin-Mattheus-Moerman commented on #1047
@lubiavinhas @mloning @TonyBagnall @gilbertocamara @rolfsimoes @pedro-andrade-inpe @ammaciel @jgrss @slandersson @mmann1123 @avanetten @aftimg  would you be interested in reviewing this submission (about time-series analysis of satellite image data) for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/review_criteria.h

[2019-05-22 09:10] mgalland commented on #1465
@whedon generate pdf

[2019-05-22 09:10] whedon commented on #1465
[code]

[2019-05-22 09:11] whedon commented on #1465
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01465/joss.01465/10.21105.joss.01465.pdf)

[2019-05-22 09:45] modenaxe commented on #1421
you're welcome @tgeijten! I realised I have another comment about functionality. Can SCONE be used also with just torque actuators acting at the joints? That would make the software of interest also for robotics. (This is more of a personal curiosity than a comment related to the software manuscript.)

[2019-05-22 10:15] tgeijten commented on #1421
Yes -- that's a good point. It can work with any actuator, although there is somewhat of a focus on neuromuscular control strategies. But it can definitely be used for robotics, especially assistive devices. I'll adapt the text to make that more clear.