[2017-01-08 03:09] acabunoc commented on #114
Hi 👋  @krother & @jsta! Would either of you be interested (& have time) to review this?

Also, @dghoshal-lbl, let me know you have anyone to suggest as a reviewer. It's usually good to have multiple reviewers, closer to the domain.

[2017-01-08 03:20] arfon commented on #19
@whedon list reviewers

[2017-01-08 03:20] whedon commented on #19
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-01-08 03:22] arfon commented on #19
@meyera - it seems like @Spencerx isn't going to be able to complete this review. Could you suggest any alternative reviewers who you think might be qualified to complete this review?

[2017-01-08 03:24] arfon commented on #30
Friendly new year bump on this @desilinguist 😁

[2017-01-08 03:27] arfon commented on #61
Friendly new year reminder @dgrtwo 😁

[2017-01-08 03:31] arfon commented on #108
Friendly new year reminder on this @leithes

[2017-01-08 03:32] arfon commented on #124
:wave: @kpolimis, happy new year. When do you think you might have a chance to respond/address to the reviewer's feedback here?

[2017-01-08 04:50] jdherman commented on #97
Ok thanks. I'm not sure how long it should take. @willu47 can you check if I did something wrong? It looks like the new DOI was created for the release:
https://zenodo.org/account/settings/github/repository/SALib/SALib

but still doesn't resolve after 4 hours. How long does it usually take?

[2017-01-08 05:50] roliveros-ramos commented on #64
I just pulled the lasted code and I'm getting this error:

Points 2 and 3 are fine!

[2017-01-08 06:30] kyleniemeyer commented on #97
Yeah, that's a bit strange- when I upload something to Zenodo and it gives me a DOI, it generally resolves pretty much immediately, I think.

That second link is not publicly viewable, although something that has been published/released on Zenodo *will* have a URL there in addition to the DOI (what the DOI resolves to). Perhaps the release hasn't actually been published, and is just a draft?

[2017-01-08 09:35] edusantana commented on #136
@whedon list editors

[2017-01-08 09:35] whedon commented on #136
Current JOSS editors:

[code]

[2017-01-08 09:42] edusantana commented on #136
@whedon list reviewers

[2017-01-08 09:42] whedon commented on #136
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-01-08 09:48] edusantana commented on #136
Since limarka is intended to make possible to write scientific work (according to Brazilian's rules) I think these reviewers would be interested:

@jsta : because of reproducible science and scientific writing tools
@richardlitt : because of computer science, computational linguistics, data science

@acabunoc I can deliver translations to English of important parts of documentation.

[2017-01-08 09:50] edusantana commented on #136
I do have a question, can I have the paper on a different repository just for it? I put it on a different branch, but that doesn't look good to me.

[2017-01-08 11:44] ahalterman commented on #91
@riordan Thanks so much for doing this review! I'm glad you liked it and that things checked out. I just updated the paper to include more of the statement of need. If it looks good to you, it sounds like the paper ready to go. Thanks everyone!

[2017-01-08 14:03] astrofrog commented on #140
@arfon - sorry for the delay, will review this now!

[2017-01-08 14:45] astrofrog commented on #140
I've opened a few issues in the target repository and have linked to here for the critical ones (there are four, above). Once these are addressed, I think all the requirements will be met.

[2017-01-08 14:45] astrofrog commented on #140
@whedon commands

[2017-01-08 14:45] whedon commented on #140
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-08 18:25] jdherman commented on #97
Hm still not resolving. This is a screenshot of the zenodo page, looks like it's published
![image](https://cloud.githubusercontent.com/assets/1936620/21751837/a4d9e790-d582-11e6-90dd-f45f4aeee361.png)

Maybe it just takes more time. Sorry about this!

[2017-01-08 21:57] arfon commented on #140
👍  thanks. @bhazelton - let us know when you've been able to address @astrofrog's review feedback.

[2017-01-08 22:03] arfon commented on #97
My guess is that this is an issue with Zenodo. @jdherman - might be worth emailing the Zenodo folks if this isn't fixed tomorrow.

[2017-01-08 23:07] kyleniemeyer commented on #49
@whedon assign @nicoguaro as reviewer

[2017-01-08 23:07] whedon commented on #49
OK, the reviewer is @nicoguaro

[2017-01-08 23:07] kyleniemeyer commented on #49
Hi @drcassar! It's been a few months, so I just wanted to check in and see if you've been able to work on those changes.

[2017-01-08 23:10] cMadan commented on #146
@raamana - are you still able to review this submission?

[2017-01-09 00:17] acabunoc commented on #136
Thanks @edusantana! If you're willing to provide an English translation, that would help a lot for finding reviewers. If @jsta, @RichardLitt or @rgaiacs are interested, reply with a quick ✋  -- otherwise, feel free to ignore this issue :)

For the paper, it's usually on the master branch in the main repo. Sometimes it's on a permanent branch based off the reviewed version. I'll defer to @arfon on

[2017-01-09 01:12] kpolimis commented on #124
Hi Arfon,

Thanks for the note, happy new year to you as well. I apologize for not
being more responsive during the review process. We have started adding
additional computations from the original Wager et al. 2014 paper into the
package and I was focused on implementing those changes. I appreciate the
reviewer's time and will try to respond to their feedback within the next
two weeks.

Best,

Kiv

[2017-01-09 01:23] karthik commented on #123
@arfon I've pinged a few reviewers and will update as soon as I have someone lined up.

[2017-01-09 13:19] drcassar commented on #49
Hi @kyleniemeyer. I'm sorry but I'm afraid I'm able to tackle this one right now. Is is possible for me to close/remove the submission? Thanks and all the best.

[2017-01-09 14:13] willu47 commented on #97
That's frustrating.  I have sent Zenodo support an e-mail to check up on the DOI.  It should point to [this Zenodo entry](https://zenodo.org/record/233103) but there seems to be something wrong with Zenodo as @arfon suggested.  Fingers crossed it will get fixed asap.  I have checked and rechecked @jdherman & everything seems fine.

[2017-01-09 14:23] willu47 commented on #97
Okay, DOI LIVE! 🚀 🎸

[2017-01-09 15:12] desilinguist commented on #30
Thanks @arfon!

@karantibrewal, sorry for the delay. Here are my package versions:

| Package          	| Version   	|
|------------------	|-----------	|
| assertthat       	| 0.1       	|
| backtestGraphics 	| 0.1.6     	|
| BH               	| 1.60.0-2  	|
| colorspace       	| 1.2-7     	|
| curl             	| 2.3       	|
| DBI              	| 0.5-1     	|
| devtools         	| 1.12.0    	|
|

[2017-01-09 17:10] kyleniemeyer commented on #97
@whedon set 10.5281/zenodo.233103 as archive

[2017-01-09 17:10] whedon commented on #97
OK. <a href="http://dx.doi.org/10.5281/zenodo.233103" target="_blank">10.5281/zenodo.233103</a> is the archive.

[2017-01-09 17:11] kyleniemeyer commented on #97
Alright @arfon good to go! Great job @willu47 and @jdherman, thanks for figuring that out.

[2017-01-09 17:13] kyleniemeyer commented on #49
@drcassar there is no time limit on JOSS reviews—we can leave this review thread open until you or a collaborator are able to make the changes.

[2017-01-09 17:15] jdherman commented on #97
Great, thanks Will!!

[2017-01-09 19:37] whedon opened #154 "[PRE REVIEW]: bíogo: a simple high-performance bioinformatics toolkit for the Go language"
**Submitting author:** @kortschak (<a href="http://orcid.org/0000-0001-8295-2301">Robert Daniel Kortschak</a>)
**Repository:** <a href="https://github.com/biogo/biogo" target ="_blank">https://github.com/biogo/biogo</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @brentp

**What this issue is for**

Thanks for submitting your paper to JOSS kortschak. The JOSS editor (shown at the top of

[2017-01-09 19:37] whedon commented on #154
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-09 19:38] whedon opened #155 "[PRE REVIEW]: ODES: a high level interface to ODE and DAE solvers"
**Submitting author:** @bmcage (<a href="http://orcid.org/0000-0001-8383-8068">Benny Malengier</a>)
**Repository:** <a href="https://github.com/bmcage/odes/" target ="_blank">https://github.com/bmcage/odes/</a>
**Version:** v2.3.0
**Editor:** @kyleniemeyer
**Reviewer:** @arghdos

**What this issue is for**

Thanks for submitting your paper to JOSS @bmcage. The JOSS editor (shown at the top of this

[2017-01-09 19:38] whedon commented on #155
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-09 19:38] whedon opened #156 "[PRE REVIEW]: biotmle: Targeted Learning for Biomarker Discovery"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/nhejazi/biotmle" target ="_blank">https://github.com/nhejazi/biotmle</a>
**Version:** v0.1.0
**Editor:** @karthik
**Reviewer:** @NelleV

**What this issue is for**

Thanks for submitting your paper to JOSS @nhejazi. The JOSS editor (shown at the top of this i

[2017-01-09 19:38] whedon commented on #156
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-09 19:44] arfon commented on #154
:wave: @pjotrp - would you be willing to edit this submission for JOSS?

[2017-01-09 19:46] kakearney commented on #64
Sorry, pushed that previous update without testing it; a small syntax error (spaces instead of tabs) prevented Matlab from properly importing the module.  Just corrected that (and tested it on Windows this time)... should be good to go now.

[2017-01-09 20:01] karthik commented on #123
@whedon commands

[2017-01-09 20:01] whedon commented on #123
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-09 20:01] karthik commented on #123
@whedon assign @karthik as editor

[2017-01-09 20:02] whedon commented on #123
OK, the editor is @karthik

[2017-01-09 20:02] karthik commented on #123
@whedon assign @gavinsimpson as reviewer

[2017-01-09 20:02] whedon commented on #123
OK, the reviewer is @gavinsimpson

[2017-01-09 20:29] Kevin-Mattheus-Moerman commented on #64
@kakearney great, looks like we are getting close. @roliveros-ramos can you please confirm?

[2017-01-09 20:56] raamana commented on #146
Thanks for the reminder, Chris. I will try to give it another to run and test the software on my Mac.

As @NicolasCARPi points out, it should be installed on a server, and ideally be tested by a team, neither of which I don't have access to, for this purpose. So wondering what would be an ideal way to proceed from here.

[2017-01-09 21:08] camillescott commented on #142
Thanks @genomematt. I'll add a section to the paper describing the approach in a bit more detail. I can easily add a figure with performance comps as well.

[2017-01-10 01:06] arfon commented on #124
OK thanks for the update @kpolimis. Please let us know when you've wrapped up these changes.

[2017-01-10 01:07] arfon commented on #136
@edusantana - the paper needs to be in the repository being reviewed. Is there an reason this can't be in a `docs` or `paper` folder on the `master` branch?

[2017-01-10 01:44] daviddoria commented on #47
I'm not sure I understand the question "Version: Does the release version given match the GitHub release (v4.0.0)?" - there are tons of changes since this release (7 months ago) - shouldn't we just be concerned with whether the branch that is approved here is tagged/referenceable?

[2017-01-10 01:54] daviddoria commented on #47
The test doesn't seem to look for data in the correct place (see ctest output below). Presumably it's from these lines in RunTest.cpp:

const std::string L_IMGS = "../../data/arch/leftCam/dataset1/";

That should probably be something more like:

const std::string L_IMGS = dataPath + "/data/arch/leftCam/dataset1/";

In fact, I'd rather see ctest call the SLS executable the same way a user would fr

[2017-01-10 04:30] v3c70r commented on #47
@daviddoria

Thank you for your input,
I have removed the fixed path from default command line parameter.

Regarding the test, since the main contribution of the project are the reconstruction libraries, the main purpose of the test focuses more on the libraries instead of the reconstruction binaries. Also with fixed data path, it would be easier to integrate with the CI.

[2017-01-10 06:49] karantibrewal commented on #30
Thanks, Nitin.

I'm traveling in India at the moment for field work for an internship. I
will not have stable access to Internet till 22nd Jan. Will revert shortly
after then.
On Jan 9, 2017 8:42 PM, "Nitin Madnani" <notifications@github.com> wrote:

[2017-01-10 09:25] NicolasCARPi commented on #146
@raamana I can set up a server for you if you wish. It only costs a few dollars per month :) Tell me and I'll give you an IP adress so you can follow this tutorial:
https://www.youtube.com/watch?v=K8CbQl7H5WA

[2017-01-10 13:29] daviddoria commented on #47
@v3c70r
Sorry, I'm not buying either of those arguments.

If you look at App.cpp, it is almost identical to each one of the TEST() in RunTest.cpp . Both very clearly demonstrate the library - there is almost zero overhead in the executable, so I don't know how you think the test would be "testing the binary" instead of "testing the library"?

My point here is avoiding code duplication for maintena

[2017-01-10 21:21] arfon commented on #97
Thanks for your review @stijnvanhoey and for editing this one @kyleniemeyer ✨

@jdherman - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00097 ⚡️ 🚀 💥

[2017-01-10 21:21] #97 closed

[2017-01-11 00:25] whedon opened #157 "[PRE REVIEW]: bíogo/hts: high throughput sequence handling for the Go language"
**Submitting author:** @kortschak (<a href="http://orcid.org/0000-0001-8295-2301">Robert Daniel Kortschak</a>)
**Repository:** <a href="https://github.com/biogo/hts" target ="_blank">https://github.com/biogo/hts</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @sb10

**What this issue is for**

Thanks for submitting your paper to JOSS kortschak. The JOSS editor (shown at the top of this i

[2017-01-11 00:25] whedon commented on #157
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-11 00:25] whedon opened #158 "[PRE REVIEW]: remBoot: An R package for Random Encounter Modelling"
**Submitting author:** @arcaravaggi (<a href="http://orcid.org/0000-0002-1763-8970">Anthony Caravaggi</a>)
**Repository:** <a href="https://github.com/arcaravaggi/remBoot" target ="_blank">https://github.com/arcaravaggi/remBoot</a>
**Version:** 0.0.0.9000
**Editor:** @karthik
**Reviewer:** @amoeba

**What this issue is for**

Thanks for submitting your paper to JOSS @arcaravaggi. The JOSS editor (

[2017-01-11 00:25] whedon commented on #158
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-11 00:25] whedon opened #159 "[PRE REVIEW]: RiskPortfolios"
**Submitting author:** @ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/ArdiaD/RiskPortfolios" target ="_blank">https://github.com/ArdiaD/RiskPortfolios</a>
**Version:** 2.00.11
**Editor:** @arfon
**Reviewer:** @braverock

**What this issue is for**

Thanks for submitting your paper to JOSS @ArdiaD. The JOSS editor (shown at the t

[2017-01-11 00:25] whedon commented on #159
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-11 00:33] arfon commented on #157
👋 @pjotrp - would you be willing to edit this submission for JOSS too? It's from the same authors as #154

[2017-01-11 00:34] camillescott commented on #142
Update: I have added a performance comparison figure, a section describing the method in a bit more detail, and contribution guidelines.

[2017-01-11 00:34] arfon commented on #155
👋 @kyleniemeyer - would you be willing to edit this submission for JOSS?

[2017-01-11 00:37] arfon commented on #156
👋 @mgymrek @biorelated - would either of you be willing to edit this submission for JOSS?

[2017-01-11 00:40] arfon commented on #158
👋 @karthik - would you be willing to edit this submission for JOSS?

[2017-01-11 00:58] karthik commented on #158
@whedon assign @karthik as editor

[2017-01-11 00:58] whedon commented on #158
OK, the editor is @karthik

[2017-01-11 00:58] karthik commented on #158
@arfon Sure, np.

[2017-01-11 05:34] mgymrek commented on #156
A little outside my area but I have some potential reviewers in mind that I'll reach out to.

[2017-01-11 06:05] v3c70r commented on #47
@daviddoria
As suggested, I have added two mandatory cmake parameters: `TEST_DATA_PATH` and `TEST_REF_PATH` when test is enabled. Now both application and test can be built and run out of source.

I agree with your point here, but I would like to stick with the tests on the library since it will be more flexible. I could extend the test to cover more code and add tests to test only part of the cod

[2017-01-11 11:09] arcaravaggi commented on #158
@whedon list reviewers

[2017-01-11 11:09] whedon commented on #158
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-01-11 11:14] arcaravaggi commented on #158
@karthik - Perhaps @jsta and/or @amoeba would be appropriate reviewers? Both list ecology as a topic of interest.

[2017-01-11 12:31] TermosPullo commented on #151
Hello

It appears that the management decided to close our original repository at SourceForge after we migrated to GitHub: https://github.com/kactus2/kactus2dev.

On the other hand, it appears that you are still not quite sure if the submission is eligible for the journal. Can we help you with this somehow?

[2017-01-11 12:55] edusantana commented on #136
@arfon  I did not have a `docs` folder, I use wiki for documentation, but I will create one now. And the paper will be there.

[2017-01-11 15:11] krother commented on #114
Yes, I'm in. Will take me 4-5 days though.

[2017-01-11 15:13] arfon commented on #47
This seems reasonable to me. We definitely don't want 'perfect to be the enemy of good' here and the fact that there are _any_ tests puts this software head and shoulders above much of the scientific software online.

@daviddoria - your feedback & input here is much appreciated. In your opinion how close are we to finishing up this review?

[2017-01-11 15:28] gavinsimpson opened #160 "Mute this repo for all but review(s) to which one is assigned?"
I've just agreed to provide a review for a JOSS submission but crikey that's a whole lot of email I'm now getting for the entire joss-reviews repo. Is there a way to mute the issues (reviews) I'm not involved in?

(Yes, I know I can filter the email into a folder, but I still need to parse the messages to see if any of them pertain to the one thing I involved with.)

[2017-01-11 15:28] whedon commented on #160
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-11 15:42] arfon commented on #123
@whedon start-review magic-word=bananas

[2017-01-11 15:42] arfon commented on #123
@whedon start review magic-word=bananas

[2017-01-11 15:42] whedon commented on #123
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/161. Feel free to close this issue now!

[2017-01-11 15:42] whedon opened #161 "[REVIEW]: adaptest: Data-Adaptive Statistics for High-Dimensional Testing in R"
**Submitting author:** @wilsoncai1992 (<a href="http://orcid.org/0000-0003-2680-3066">Weixin Cai</a>)
**Repository:** <a href="https://github.com/wilsoncai1992/adaptest" target ="_blank">https://github.com/wilsoncai1992/adaptest</a>
**Version:** 1.1.0
**Editor:** @karthik
**Reviewer:** @kellieotto
**Archive:** <a href="https://doi.org/10.5281/zenodo.1466019" target="_blank">10.5281/zenodo.1466019<

[2017-01-11 15:42] whedon commented on #161
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @gavinsimpson it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're pr

[2017-01-11 15:43] arfon commented on #160
Yep, this is kind of a known issue. Apologies for the noise. There are some instructions on the review issue for your paper here that describe how to get rid of most of these notifications:

https://github.com/openjournals/joss-reviews/issues/161#issuecomment-271902496

[2017-01-11 15:43] #160 closed

[2017-01-11 15:44] #123 closed

[2017-01-11 19:25] jflorence commented on #151
I am still reviewing the software.
Sorry for the delay.
Thank you for letting us know about the change of repository.

[2017-01-11 19:47] labarba commented on #151
@TermosPullo : I was going to tell @jflorence that he can open issues on the code repo to report any problems with installation, etc., when I had a quick look at the repo and see that it has issues disabled. Is there a particular reason to disallow issue reporting?

[2017-01-11 21:31] daviddoria commented on #47
"We definitely don't want 'perfect to be the enemy of good' here"

Totally agree. I thought this would be an easy fix since it was just de-duplication :)

"and the fact that there are any tests puts this software head and shoulders above much of the scientific software online."

I would philosophically disagree on this one! Just because everyone else is making crap doesn't mean we should lower the

[2017-01-12 11:00] TermosPullo commented on #151
Our project management, including issue tracker is concentrated at our redmine service: https://kactus2.cs.tut.fi/

Please notice that it requires registeration and logging in to file issues.

[2017-01-12 15:54] Kevin-Mattheus-Moerman commented on #47
As the reviewer guidelines http://joss.theoj.org/about#reviewer_guidelines say

Our guidelines/requirements in relation to tests are at present rather meagre, as it simply says:

Therefore in relation to testing, a simple or sub-optimal tests system may suffice. Having said that, obviously the reviewer should be able to actually set-up the software environment, and it should, through the tests imp

[2017-01-12 16:02] roliveros-ramos commented on #64
@Kevin-Mattheus-Moerman: everything looks fine now, I recommend the paper is accepted for publication.

[2017-01-12 16:23] Kevin-Mattheus-Moerman commented on #64
@roliveros-ramos great. Thanks for your awesome role as reviewer!
@kakearney congratulations! 🍰 We will process acceptance of your work shortly.

[2017-01-12 16:44] arfon commented on #64
@kakearney - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-01-12 16:47] arfon commented on #64
BTW, here's the latest paper:
[10.21105.joss.00064.pdf](https://github.com/openjournals/joss-reviews/files/702296/10.21105.joss.00064.pdf)

[2017-01-12 17:47] v3c70r commented on #47
I have removed those two unnecessary parameters and use `${CMAKE_SOURCE_DIR}` instead.

Regarding the comment earlier

Now the `reconstruct()` function returns a point cloud and the point cloud can be exported to ply or obj file.

There are still some documentation works to be done but the core function should be working fine now.

I'd like to thank @daviddoria and everybody here who gave me very

[2017-01-12 18:07] kakearney commented on #64
I just issued a new release, v2.1.  The new DOI is 10.5281/zenodo.17838

[2017-01-12 18:35] arfon commented on #64
@whedon set 10.5281/zenodo.240977 as archive

[2017-01-12 18:35] whedon commented on #64
OK. <a href="http://dx.doi.org/10.5281/zenodo.240977" target="_blank">10.5281/zenodo.240977</a> is the archive.

[2017-01-12 18:44] arfon commented on #64
@roliveros-ramos many thanks for your review here and to you for editing @Kevin-Mattheus-Moerman ✨

@kakearney - your paper is now accepted into JOSS and your DOI is http://joss.theoj.org/papers/10.21105/joss.00064 ⚡️ 🚀 💥

[2017-01-12 18:44] #64 closed

[2017-01-13 02:42] daviddoria commented on #47
Excellent - 'make' now works out of the box, and 'ctest' runs with no setup required and the test passes!

Some more notes (in no particular order):

- everything in test/splitstring should be able to be replaced with a couple of calls to some stdlib functions, no? (or using std::stringstream or something). It's super "old school" as-is.

- I really like how "thin" the files in app/ are!

- In Cal

[2017-01-13 04:44] v3c70r commented on #47
Thanks @daviddoria , I'm starting to work on the issues now.

I take a quick look at the boost::dynamic_bitset. It looks like exactly the library I want.

The projector is literally a projector that projects the pattern on the object for reconstruction. I'll add more details in the documentation.

Here the camera is defined as a reconstruction input device. It encapsulates image acquisition, loadi

[2017-01-13 07:44] kyleniemeyer commented on #155
@arfon sure this definitely looks quite relevant!

[2017-01-13 07:44] kyleniemeyer commented on #155
@whedon commands

[2017-01-13 07:44] whedon commented on #155
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-13 07:44] kyleniemeyer commented on #155
@whedon assign @kyleniemeyer as editor

[2017-01-13 07:45] whedon commented on #155
OK, the editor is @kyleniemeyer

[2017-01-13 08:40] bmcage commented on #155
feel free to direct any questions at me if needed

[2017-01-13 12:37] daviddoria commented on #47
I guess the point was that use of a hierarchy seems odd. I'd expect something more like a FileReader/DataInput object to take a file/folder and return a Camera. Having FileReader *derive* from camera doesn't seem like the right model.

I guess I'm also confused that the class that loads data has a function called 'undistortPixel', unless you're considering part of loading data also "preparing it"

[2017-01-13 18:44] whedon opened #162 "[PRE REVIEW]: flusight"
**Submitting author:** @lepisma (<a href="http://orcid.org/0000-0001-7137-0728">Abhinav Tushar</a>)
**Repository:** <a href="https://github.com/reichlab/flusight" target ="_blank">https://github.com/reichlab/flusight</a>
**Version:** v1.1.0
**Editor:** @arfon
**Reviewer:** @rneher

**What this issue is for**

Thanks for submitting your paper to JOSS @lepisma. The JOSS editor (shown at the top of t

[2017-01-13 18:44] whedon commented on #162
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-13 18:45] whedon opened #163 "[PRE REVIEW]: nse: Computation of Numerical Standard Errors in R"
**Submitting author:** @ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/keblu/nse" target ="_blank">https://github.com/keblu/nse</a>
**Version:** v1-00.16
**Editor:** @arfon
**Reviewer:** @braverock

**What this issue is for**

Thanks for submitting your paper to JOSS @ArdiaD. The JOSS editor (shown at the top of this issue) will

[2017-01-13 18:45] whedon commented on #163
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-01-14 00:02] genomematt commented on #142
Ok @camillescott the added bits are good.  My install issue was a conda problem and all was fine on a clean vm.

Given that there are multiple dependencies I think there should be a test step at the end of your install procedure.  This would not need to be comprehensive testing of code, just a 'if you have installed it correctly this input will give this output.'

I am giving you a scraping pass o

[2017-01-14 04:34] kyleniemeyer commented on #155
Thanks @bmcage!

[2017-01-14 04:34] kyleniemeyer commented on #155
@arghdos would you be willing to review this submission?

[2017-01-14 14:47] meyera commented on #19
@arfon - thanks for the pointer. I suggest @masalmon

[2017-01-14 15:05] masalmon commented on #19
Ok! I have just read the thread. I will try to do it soon (before January the 30th).

[2017-01-14 16:13] masalmon commented on #19
I see the repository has two issues that look like bug reports [here](https://github.com/meyera/riskscorer/issues/1) and [here](https://github.com/meyera/riskscorer/issues/2)

What is the status on these issues @meyera ?

[2017-01-14 17:37] masalmon commented on #19
Congratulations on creating this package. I can see how it can be useful to have the risk scorer as R functions instead of web interfaces, and your package could have a larger list of such scorers in the future. Here is my review, and I've opened several issues in the software repository itself.

## Reviewer questions
### General checks
- [x ] **Repository:** Is the source code for this software a

[2017-01-14 17:40] masalmon commented on #19
Also @arfon I'm sorry for doing the review before being officially assigned as a reviewer but I figured out I'd better do it when I had time + I guess the review can still be useful.

[2017-01-14 20:08] arfon commented on #19
Hey no problem. Thank you so much for picking this up!

[2017-01-14 20:09] arfon commented on #19
@whedon assign @masalmon as reviewer

[2017-01-14 20:09] whedon commented on #19
OK, the reviewer is @masalmon

[2017-01-16 04:03] pjotrp commented on #132
@chappers: can you suggest a reviewer?

[2017-01-16 13:20] edusantana commented on #136
@acabunoc I have translated the README.md and CONTRIBUTING.md files to english. You can see them at `v0.6.3-english` branch: https://github.com/abntex/limarka/tree/v0.6.3-english

The paper was also included in this version of code. It's DOI is https://doi.org/10.5281/zenodo.247247. The version of the software is now `v0.6.4` instead of `v0.5.2` and described on the issue description.

You can ask

[2017-01-16 14:53] edusantana commented on #136
It's now `v0.6.5`, with API documentation.
DOI: https://doi.org/10.5281/zenodo.247387

[2017-01-16 16:23] acabunoc commented on #114
Excellent! Thanks @krother 😄

[2017-01-16 16:24] acabunoc commented on #114
@whedon commands

[2017-01-16 16:24] whedon commented on #114
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-16 16:25] acabunoc commented on #114
@whedon assign @krother as reviewer

[2017-01-16 16:25] whedon commented on #114
OK, the reviewer is @krother

[2017-01-16 16:25] acabunoc commented on #114
@whedon start review

[2017-01-16 16:25] whedon commented on #114
You didn't say the magic word! Try this:

[code]

[2017-01-16 16:25] acabunoc commented on #114
@whedon start review magic-word=bananas 🍌

[2017-01-16 16:25] whedon commented on #114
You didn't say the magic word! Try this:

[code]

[2017-01-16 16:25] acabunoc commented on #114
@whedon start review magic-word=bananas

[2017-01-16 16:25] whedon commented on #114
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/164. Feel free to close this issue now!

[2017-01-16 16:25] whedon opened #164 "[REVIEW]: FRIEDA: Flexible Robust Intelligent Elastic Data Management Framework"
**Submitting author:** dghoshal-lbl (<a href="http://orcid.org/0000-0002-6819-6949">Devarshi Ghoshal</a>)
**Repository:** <a href="https://bitbucket.org/dghoshal/frieda" target ="_blank">https://bitbucket.org/dghoshal/frieda</a>
**Version:** v0.3.0
**Editor:** @acabunoc
**Reviewer:** @krother
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.290299" target="_blank">10.5281/zenodo.290299</a>

[2017-01-16 16:25] whedon commented on #164
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @krother it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-01-16 16:25] #114 closed

[2017-01-16 19:18] thewtex commented on #153
[code]

@lassoan Thank you for the review.  Yes, this could be clarified.  Please review this patch:

  https://github.com/KitwareMedical/SlicerITKUltrasound/pull/49

that changes the title and description to clarify that the extension performs scan conversion on image formation that is currently executed elsewhere.

[2017-01-16 19:20] thewtex commented on #153
@Kevin-Mattheus-Moerman @arfon Thanks for moving this forward!

Examining the preview here:

  http://joss.theoj.org/papers/746880f9243feff57502fae59abce923

The references in the *paper.bib* file are not rendered. Is this intended? Is there a problem with the *paper.md* file?

[2017-01-16 21:19] noamross commented on #56
This package has been reviewed and accepted by rOpenSci.  See the review thread here: https://github.com/ropensci/onboarding/issues/73 .

Note that, with repository transfer since the initial submission, the new repository URL is https://github.com/ropensci/hddtools . The current version is v0.5.0 and Zenodo DOI is http://doi.org/10.5281/zenodo.247842

[2017-01-16 22:41] arfon commented on #153
@thewtex here's the compiled paper PDF [10.21105.joss.00153.pdf](https://github.com/openjournals/joss-reviews/files/709556/10.21105.joss.00153.pdf)

[2017-01-16 23:21] thewtex commented on #153
@arfon Nice! Looks great.

[2017-01-16 23:41] lassoan commented on #153
@thewtex Thanks for updating the text to make things a bit more clear.

[2017-01-16 23:51] lassoan commented on #153
I think I kind of understand the goal of this journal and using github for storing data could work. However, you should really improve the experience for reviewers. The process and usage of tools should be much simpler, more convenient and similar to existing review systems. It's also unclear for me how useful an initial, one-time review of a software repository can be, because a software library

[2017-01-17 08:03] krother commented on #164
I'm writing comments here, because I cannot create issues in the target repository (bitbucket).

[2017-01-17 08:05] krother commented on #164
The LICENSE looks like a MIT License, but I am not sure. It would be great to reference the name of the license in the README, so that it is clear that it is an OSI-approved license.

[2017-01-17 08:10] krother commented on #164
The Summary lists at least two kinds of categories (4 stages in the lifecycle, 2 planes and the data coordinator). What is the relationship between them? Are these orthogonal dimensions or contained in each other? A bit more specific info would help me understand what the things described mean practically for me as a user.

[2017-01-17 08:14] krother commented on #164
What order of magnitude do you have in mind with "data management"? How much data is FRIEDA built for? Is FRIEDA useful if I have a human genome (4 GB) or if I have data from the CERN particle collider (100 petabytes)?

[2017-01-17 08:23] krother commented on #164
In the Overview, the line breaks in some terminal sessions are distorted on my machine (Ubuntu/Firefox). Please check the sections: "Install the following dependencies", "euca - export", "$ ssh <NERSC username>" and "Amazon EC2"

[2017-01-17 08:35] krother commented on #164
Installation: works fine on Python 2.7, great! Had to install a few packages manually. It would be great to have the 'requirements.txt' file commonly used with Python (create it with 'pip freeze > requirements.txt')

[2017-01-17 08:36] krother commented on #164
Test: There are no instructions how to run the tests (it is not 'python setup.py test', and executing 'test/test_runner.py' just gives a list of expected arguments.)

[2017-01-17 08:38] krother commented on #164
Documentation: It seems to refer to an older version of the software (refers to SVN repository instead of Github and to 'frieda_wrapper.py', a file that I am unable to find). I cannot assess how much of the documentation needs to be updated.

[2017-01-17 16:59] raamana commented on #146
Thanks for the offer. However don't you need few people and/or accounts to test the full functionality?

I am quite busy with few major deadlines end of this month. Can this wait until then? Or if another reviewer could be found to assist with this review, that will be great to keep this going.

[2017-01-17 17:06] NicolasCARPi commented on #146
@raamana, feel free to register several users.
@cMadan can you put another reviewer in there ? :)

[2017-01-17 18:38] camillescott commented on #142
What is expected for guidelines? I did add a CONTRIBUTING.md: https://github.com/camillescott/shmlast/blob/master/CONTRIBUTING.md

I followed the example of several other accepted projects on that -- should I add more?

[2017-01-17 20:30] arghdos commented on #155
@kyleniemeyer Yes, I am willing to review this

[2017-01-17 20:45] nicoguaro commented on #126
@katyhuff, I think that I can review it.

[2017-01-17 21:00] Kevin-Mattheus-Moerman commented on #153
@lassoan

Thanks for your feedback. We are continuously trying to improve our system and also our review process.  Feel free to suggest improvements to our system. You can add comments to our open issues or create new ones.

What existing systems are you referring to? Current software journals? Traditional journals? We deviate from other journals since we uniquely focus on the software. Let us kno

[2017-01-17 21:07] kyleniemeyer commented on #155
Great! Please take a look at the reviewer guidelines: http://joss.theoj.org/about#reviewer_guidelines

@whedon assign @arghdos as reviewer

[2017-01-17 21:07] kyleniemeyer commented on #155
@whedon assign @arghdos as reviewer

[2017-01-17 21:07] whedon commented on #155
OK, the reviewer is @arghdos

[2017-01-17 21:07] kyleniemeyer commented on #155
@whedon start review

[2017-01-17 21:07] whedon commented on #155
You didn't say the magic word! Try this:

[code]

[2017-01-17 21:08] kyleniemeyer commented on #155
@whedon start review magic-word=bananas

[2017-01-17 21:08] whedon commented on #155
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/165. Feel free to close this issue now!

[2017-01-17 21:08] whedon opened #165 "[REVIEW]: ODES: a high level interface to ODE and DAE solvers"
**Submitting author:** bmcage (<a href="http://orcid.org/0000-0001-8383-8068">Benny Malengier</a>)
**Repository:** <a href="https://github.com/bmcage/odes/" target ="_blank">https://github.com/bmcage/odes/</a>
**Version:** v2.3.0
**Editor:** @kyleniemeyer
**Reviewer:** @arghdos
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1183272" target="_blank">10.5281/zenodo.1183272</a>

## Status

[!

[2017-01-17 21:08] whedon commented on #165
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arghdos it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-01-17 21:08] kyleniemeyer commented on #155
OK @arghdos the actual review will take place over in #165, so I'm going to close this issue.

[2017-01-17 21:08] #155 closed

[2017-01-17 21:09] fedorov commented on #153
FYI, at least in my field, a publication in a journal that is not indexed by Medline is not recognized, so publication itself gives no credit. It is more conventional to publish a software article in a Medline-indexed journal so that both academic credit for the publication and citations can come from the same location. I am sorry to say this, but as is, I see no benefit in submitting to JOSS. For

[2017-01-17 21:39] Kevin-Mattheus-Moerman commented on #153
Thanks @fedorov @lassoan. These are good comments. To avoid clogging this review issue I invite you to look at / open issues on these questions here: https://github.com/openjournals/joss

Also some of the issues with MEDLINE/Pubmed indexing are addressed here:
https://github.com/openjournals/joss/issues/153

[2017-01-17 22:56] genomematt commented on #142
Sorry @camillescott I missed the CONTRIBUTING.md.  I suspect a lot of other people especially those with bugs or support questions would as well.  At least link it from the readme, and personally I would be inclined to put such a short section just in the readme.

[2017-01-17 22:57] genomematt commented on #142
Ok @biorelated I consider this ready to accept.

[2017-01-18 00:27] camillescott commented on #142
Copy that @genomematt -- added it to the readme :)

[2017-01-18 13:19] biorelated commented on #142
Many thanks @genomematt.

[2017-01-18 13:20] biorelated commented on #142
@arfon can we prepare this work for publication please?

[2017-01-18 14:45] ahalterman commented on #91
I wanted to check in again and see if that commit addressed your last request, @riordan. If so, I think it should be ready for a DOI.

[2017-01-18 15:01] riordan commented on #91
Totally! 👍

[2017-01-18 15:01] katyhuff commented on #126
@whedon assign @nicoguaro as reviewer

[2017-01-18 15:01] whedon commented on #126
OK, the reviewer is @nicoguaro

[2017-01-18 15:01] katyhuff commented on #126
Thanks @nicoguaro ! Please let me know if there's anything I can do to help!

[2017-01-18 15:02] arfon commented on #126
@whedon start review magic-word=bananas

[2017-01-18 15:02] whedon commented on #126
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/166. Feel free to close this issue now!

[2017-01-18 15:02] whedon opened #166 "[REVIEW]: Effective-Quadratures: Polynomials for Computational Engineering Studies"
**Submitting author:** @psesh (<a href="http://orcid.org/0000-0002-7351-012X">Pranay Seshadri</a>)
**Repository:** <a href="https://github.com/Effective-Quadratures/Effective-Quadratures" target ="_blank">https://github.com/Effective-Quadratures/Effective-Quadratures</a>
**Version:** v5.2
**Editor:** @katyhuff
**Reviewer:** @nicoguaro
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.438320"

[2017-01-18 15:02] whedon commented on #166
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @nicoguaro it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-01-18 15:03] arfon commented on #126
@nicoguaro - please carry out your review over in #166 where the review checklist is available.

[2017-01-18 15:03] #126 closed

[2017-01-18 15:03] ahalterman commented on #91
Great! Thanks. I owe you a beer next time I'm in New York or you're in Cambridge. @acabunoc or @arfon, what happens now?

[2017-01-18 15:05] katyhuff commented on #126
Thanks @arfon !

[2017-01-18 15:18] acabunoc commented on #91
Thanks for the great work here @riordan & @ahalterman 👏  🎉

@ahalterman, could you make sure there's an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? Thanks!

[2017-01-18 16:12] ahalterman commented on #91
Here it is! Thanks a lot.

[![DOI](https://zenodo.org/badge/44676568.svg)](https://zenodo.org/badge/latestdoi/44676568)

[2017-01-18 16:14] ahalterman commented on #91
Here it is! Thanks a lot.

[![DOI](https://zenodo.org/badge/61832342.svg)](https://zenodo.org/badge/latestdoi/61832342)

[2017-01-18 16:45] fedorov commented on #153
@Kevin-Mattheus-Moerman I agree, this kind of discussion does not belong to this specific issue. Sorry for hi-jacking the topic.

[2017-01-18 17:47] Kevin-Mattheus-Moerman commented on #153
@fedorov that is fine. We are a novel journal and there are definitely several creases we need to iron out and some of those are highlighted first by the reviewers at this stage so it is fine.

Now on to the review process here.
@lassoan have you finalised your end of the review process or or will you provide more detailed feedback?
@fedorov @thewtex can you confirm you are also reviewing this sub

[2017-01-18 17:49] lassoan commented on #153
I'm done with my review at this stage of the project.

[2017-01-18 17:52] thewtex commented on #153
@Kevin-Mattheus-Moerman as the submitting author, I am not reviewing.

[2017-01-18 18:06] fedorov commented on #153
I guess I am still confused by the review process. There is a bunch of checkboxes on top of this issue. Who is supposed to check all of those? Is that part of the review process or not?

[2017-01-18 18:43] Kevin-Mattheus-Moerman commented on #153
@fedorov One of the current flaws in our system is that only 1 reviewer (currently @lassoan) can be assigned to this issue through our system to check those boxes. Handling multiple reviewers in that sense is a work in progress. Of course multiple reviewers are desired so in order to handle multiple we need to be a bit creative at the moment. Currently only @lassoan is able to tick those boxes. Ho

[2017-01-18 21:46] acabunoc commented on #91
@whedon set 10.5281/zenodo.250879 as archive

[2017-01-18 21:46] whedon commented on #91
OK. <a href="http://dx.doi.org/10.5281/zenodo.250879" target="_blank">10.5281/zenodo.250879</a> is the archive.

[2017-01-18 21:47] acabunoc commented on #91
flagging @arfon, I think we're good to go here! Thanks @riordan & @ahalterman ✨

[2017-01-18 22:12] dghoshal-lbl commented on #164
Thanks for the review comments. I have added the comments as issues to the repo. You can also add to the issues now.

[2017-01-20 17:28] arfon commented on #19
@meyera - please reply here when you've had a chance to address/respond to @masalmon's review.

[2017-01-20 17:30] arfon commented on #57
@alk224 - looks like @tracykteal isn't going to be able to do this review for us. Could you suggest any people from your research field who could potentially help with a review here?

[2017-01-20 17:35] arfon commented on #102
Hi @kweis - taking a look at the list of issues that @migueldvb opened on your project it appears that you closed these with no comment:

- https://github.com/kweis/acronym/issues/5
- https://github.com/kweis/acronym/issues/6
- https://github.com/kweis/acronym/issues/7
- https://github.com/kweis/acronym/issues/8
- https://github.com/kweis/acronym/issues/9
- https://github.com/kweis/acronym/issues/

[2017-01-20 17:38] arfon commented on #135
Friendly reminder @HenrikBengtsson 😁

[2017-01-20 17:38] arfon commented on #140
Friendly reminder on this @bhazelton.

[2017-01-20 17:39] arfon commented on #149
Hi @jirotubuyaki  - I'm struggling a little for find a reviewer for this submission. Is there anyone you could recommend from your research area that might be a good candidate?

[2017-01-20 17:58] arfon commented on #159
@whedon assign @arfon as editor

[2017-01-20 17:58] whedon commented on #159
OK, the editor is @arfon

[2017-01-20 17:59] arfon commented on #159
@whedon list reviewers

[2017-01-20 17:59] whedon commented on #159
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-01-20 18:01] arfon commented on #159
@ArdiaD - I'm not sure we have any obvious reviewers for this package. Are there people in your research field you'd be able to recommend as potential candidates?

[2017-01-20 18:02] arfon commented on #156
@whedon assign @mgymrek as editor

[2017-01-20 18:02] whedon commented on #156
OK, the editor is @mgymrek

[2017-01-20 18:03] arfon commented on #154
Friendly reminder on this @pjotrp 😁

[2017-01-20 18:05] arfon commented on #150
Excellent, many thanks for the clarification here @bradleyboehmke. It's not clear that we have any reviewers suitable for this submission right now - are there any people in your research field who you would recommend as potential reviewers?

[2017-01-20 18:06] arfon commented on #127
@labarba - does @varocarbas' explanation [above](https://github.com/openjournals/joss-reviews/issues/127#issuecomment-269223883) make sense?

[2017-01-20 18:14] arfon commented on #56
👍 excellent, thanks @noamross. I'll proceed with accepting this submission now.

[2017-01-20 18:19] ArdiaD commented on #159
@arfon I think Enrico could do it, if time permits: enricoschumann on GitHub

[2017-01-20 18:31] ArdiaD commented on #159
@arfon Also, MatthieuStigler on GitHub would be able to review, if he has enough time at disposal.

[2017-01-20 19:15] arfon commented on #56
@cvitolo your paper is now accepted into JOSS. Your paper DOI is http://dx.doi.org/10.21105/joss.00056 ⚡️ 🚀 💥

[2017-01-20 19:15] #56 closed

[2017-01-20 19:19] cMadan commented on #146
@NicolasCARPi - sure, I'll try and recruit another reviewer

[2017-01-20 19:34] bradleyboehmke commented on #150
@arfon

I talked to Trevor Bihl <trevor.bihl@gmail.com> and he is willing to review.  I've got a emails out to a few others that could be potential reviewers as well.

[2017-01-20 20:43] bradleyboehmke commented on #150
@arfon

Cade Saie <cade.saie@gmail.com> is also willing to review the code.

[2017-01-20 20:57] arfon commented on #91
@ahalterman your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00091 ⚡️ 🚀 💥

[2017-01-20 20:57] #91 closed

[2017-01-20 21:02] arfon commented on #142
@camillescott - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-01-20 21:14] bhazelton commented on #140
Thank you for the reminder. We are working on addressing the issues (we've
closed several of them), but we are a distributed team of scientists with
fairly busy research schedules so it may take a little bit longer. We
really appreciate the issues that were raised and we think they will make
the project better, so we want to address them fully and properly.

On Fri, Jan 20, 2017 at 9:38 AM, Arfon

[2017-01-20 22:44] labarba commented on #127
I see the license and readme files. It's licensed under CC0, which is not an approved OSI license for software.

On the other hand, I don't think I would be able to find appropriate reviewers for this software. I can't think of anyone at the moment that I could ping to review a C# library. Perhaps another editor would be better able to take this one.

[2017-01-20 23:01] genomematt commented on #57
I will see if I can recruit a colleague

--=-=--=-=--=-=--=-=--=-=--
Matthew Wakefield
matthew@wakefield.id.au<mailto:matthew@wakefield.id.au>
+61 402 916 018

On 21 Jan 2017, at 4:30 am, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

@alk224<https://github.com/alk224> - looks like @tracykteal<https://github.com/tracykteal> isn't going to be able to do this review

[2017-01-20 23:13] sagetrey commented on #102
unsubscribe

On Fri, Jan 20, 2017 at 9:35 AM, Arfon Smith <notifications@github.com>
wrote:

[2017-01-20 23:17] arfon commented on #102
@sagetrey - please take a look at the instructions here to unsubscribe from JOSS reviews: https://github.com/openjournals/joss-reviews/issues/166#issuecomment-273498829

[2017-01-20 23:21] arfon commented on #127
Thanks for pointing this out @labarba. @varocarbas - please take a look at [this thread](https://github.com/openjournals/joss/issues/179) which describes why CC0 isn't acceptable to JOSS. Is it possible for you to change the license?

No problem @labarba. @openjournals/joss-editors would anyone else be able to volunteer to edit this submission?

[2017-01-21 00:07] arfon commented on #159
@enricoschumann @MatthieuStigler would either of you be willing to review this submission for JOSS? You can see an overview of our review process here: http://joss.theoj.org/about#reviewer_guidelines

[2017-01-21 03:54] genomematt commented on #57
@tseemann<https://github.com/tseemann> @drpowell either of you interested (or appropriate delegation)

--=-=--=-=--=-=--=-=--=-=--
Matthew Wakefield
matthew@wakefield.id.au<mailto:matthew@wakefield.id.au>
+61 402 916 018

On 21 Jan 2017, at 4:30 am, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

@alk224<https://github.com/alk224> - looks like @tracykteal<https://gi

[2017-01-21 09:05] varocarbas commented on #127
@arfon I don't want to get involved in any discussion about what is best/worse. This is your journal, you put the rules and end of the story. But here you have some ideas to help you or anyone else to adequately understand this issue and my position:

- I am not submitting a random piece of public domain (what the thread you are referring is about). I am submitting a piece of software which I have

[2017-01-21 09:22] varocarbas commented on #127
@labarba Sorry for having made you wait 10 hours for my reply (read my previous comment to @arfon where I am addressing some of your concerns). Although I guess that we are in different time zones, I don't want to be shown as an egoist and disrespectful asshole who puts his own problems (and/or insecurities) before others.

I do understand that an apology cannot fix anything, but hopefully this sm

[2017-01-21 16:13] ArdiaD commented on #159
@arfon I think that @joshuaulrich would also be a good reviewer.

[2017-01-21 18:21] labarba commented on #127
I have not accepted the reviewer role, nor the editing role.

[2017-01-21 18:40] MatthieuStigler commented on #159
Oh thanks David @ArdiaD ! I am afraid however this is a topic I am not familiar enough with to be able to review!

[2017-01-21 19:06] varocarbas commented on #127
@labarba Sorry about this misunderstanding. I retract the last sentence of my previous comment (deleted it already).

[2017-01-22 20:09] arfon commented on #159
👋  @joshuaulrich  - would you be willing to review this submission for JOSS?

[2017-01-22 20:24] arfon commented on #127
Thanks for your comments @varocarbas - I'll attempt to address them here:

I understand that this is software that you have created. The issue here is that we have a strict requirement (http://joss.theoj.org/about#author_guidelines)for all of the software reviewed here to have an [OSI approved open source license](https://opensource.org/licenses). As things currently stand CC0 is _not_ one of thes

[2017-01-22 21:30] arghdos commented on #165
This is an important and useful piece of software, providing an easy to use interface to state-of-the art stiff ODE solvers with many examples, ample documentation and unit tests.

I recommend publishing in JOSS after a few minor revisions have been made:

1. The latest release on the target repo does not match the release number submitted to JOSS [issue #45](https://github.com/bmcage/odes/issues/

[2017-01-22 21:31] arghdos commented on #165
@whedon commands

[2017-01-22 21:31] whedon commented on #165
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-22 21:32] arghdos commented on #165
@whedon start review

[2017-01-22 21:32] whedon commented on #165
I'm sorry @arghdos, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-01-22 21:35] kyleniemeyer commented on #165
Thanks for your review @arghdos! I will clarify on point 4 (https://github.com/bmcage/odes/issues/47) that we only require the DOI at the end of the review process, after all necessary changes have been made.

@bmcage can you address the above points, and the associated issues @arghdos made in the software repo?

[2017-01-23 01:19] edusantana commented on #136
@acabunoc I'm using wiki as documentation, if you need that in English as well, I can make it happen, but takes time. Do you need any section translated?

[2017-01-23 05:01] pjotrp commented on #157
@whedon commands

[2017-01-23 05:01] whedon commented on #157
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-23 05:03] pjotrp commented on #157
@whedon assign @pjotrp as editor

[2017-01-23 05:03] whedon commented on #157
OK, the editor is @pjotrp

[2017-01-23 05:06] pjotrp commented on #154
@whedon assign @pjotrp as editor

[2017-01-23 05:06] whedon commented on #154
OK, the editor is @pjotrp

[2017-01-23 05:44] pjotrp commented on #154
Dear Robert,

Thank you for submitting and sorry for the delay in review. I'll look for a reviewer. Meanwhile, can you look at some of the accepted papers to put in some more information - like proper citations? http://joss.theoj.org/papers/popular. Also a note on relevance, performance and explaining what SAM/BAM/CRAM is would be helpful to readers. Not asking you to do a lot of work, but take a

[2017-01-23 05:54] pjotrp commented on #157
Dear Robert,

Thank you for submitting and sorry for the delay in review. I'll look for a reviewer. Meanwhile, can you look at some of the accepted papers to put in some more information - like proper citations? http://joss.theoj.org/papers/popular. Also a note on relevance, performance and explaining what SAM/BAM/CRAM is would be helpful to readers. Not asking you to do a lot of work, but take a

[2017-01-23 06:04] kortschak commented on #157
@pjotrp, thank you.

I am sort of at a loss to know how to address that. The SAM specification has no proper citation (no DOI as far as I know). Part of the issue here is that there are not good metrics to cover what we are aiming for here - reviewability of code without significant performance loss. Also note that we don't cover CRAM at this stage.

@brentp do you have any input on performance nu

[2017-01-23 07:19] bmcage commented on #165
@kyleniemeyer  I'm working against some deadlines at the moment. I'll look at the points at the end of the week, should not be a problem, otherwise next week
We planned a release, but that got delayed, which is the reason for the version mismatch.

[2017-01-23 09:22] varocarbas commented on #127
@arfon

As said, no problem with that. I do perfectly understand your position (honestly, mostly on the language and complexity/size of the code fronts; still don't quite agree with the public domain issue) and, in any case, wouldn't ever expect my own views to prevail over the defining ones of the organisation accepting/rejecting my submission. I will withdraw my submission right away.

Let me ad

[2017-01-23 09:26] varocarbas commented on #127
@arfon

As said, no problem with that. I do perfectly understand your position (honestly, mostly on the language and complexity/size of the code fronts; still don't quite agree with the public domain issue) and, in any case, wouldn't ever expect my own views to prevail over the defining ones of the organisation accepting/rejecting my submission. I will withdraw my submission right away.

Let me ad

[2017-01-23 09:39] varocarbas commented on #127
@arfon I am not sure how to withdraw my submission.

Additionally I found [this issue](https://github.com/openjournals/joss/issues/177), where you are precisely requesting a way to allow authors to perform such an action by themselves. As far as this issue is pretty new and it is still open, I understand that there is still no way for me to withdraw my submission by my own?

[2017-01-23 14:46] pjotrp commented on #157
@kortschak I would check the samtools and sambamba papers - both bind to htslib

@brentp Brad has suggested you as a reviewer - would you be willing to take that on?

[2017-01-23 14:47] pjotrp commented on #154
@brentp would you be willing to review this paper?

[2017-01-23 14:48] pjotrp commented on #157
@kortschak I would check the samtools and sambamba papers - both bind to htslib

[2017-01-23 14:48] pjotrp commented on #157
@sb10 would you be willing to review this paper?

[2017-01-23 14:53] sb10 commented on #157
Yes, I can review it. Do I do the "whedon assign @username as reviewer" command, or do you?

[2017-01-23 14:59] brentp commented on #157
re performance (and utility) I just now wrote, in 30 minutes a simple program using biogo/hts to replicate the functionality in samtools flagstat:
https://gist.github.com/brentp/731895435be04f7d69ec69a6c2fcd008

On my machine, samtools flagstat takes 10.3 seconds.

the biogo/hts program takes 13.1 seconds. If I change (a single character) to allow it to use 2 cpus, then it take 8.4 seconds.

[2017-01-23 15:02] brentp commented on #154
I am, but I am a (small) contributor to this repo. Does that preclude me?

[2017-01-23 15:05] pjotrp commented on #157
whedon assign @sb10 as reviewer

[2017-01-23 15:08] pjotrp commented on #157
@whedon assign @sb10 as reviewer

[2017-01-23 15:08] whedon commented on #157
OK, the reviewer is @sb10

[2017-01-23 15:11] pjotrp commented on #154
@whedon assign @brentp as reviewer

[2017-01-23 15:11] whedon commented on #154
OK, the reviewer is @brentp

[2017-01-23 15:12] pjotrp commented on #154
@brentp - the better :)

[2017-01-23 15:22] Kevin-Mattheus-Moerman commented on #153
@thewtex sorry copied your name over by accident.

[2017-01-23 16:54] charalambos commented on #47
Hi all,

I guess this conclude the review? How shall we proceed?

Best,

C.

On Fri, 2017-01-13 at 04:37 -0800, David Doria wrote:

[2017-01-23 16:58] v3c70r commented on #47
@charalambos I'm still addressing the issues. Here is the [progress](https://github.com/theICTlab/3DUNDERWORLD-SLS-GPU_CPU/projects/2)

[2017-01-23 18:45] jflorence commented on #151
@TermosPullo I tried to create an account there a while ago, but I don't think I was successful.

If I try to create it again, it says that the email address is already taken, but if I try to recover my password, I don't receive any email...
My address is jacques.florence@gatech.edu

[2017-01-23 21:52] dghoshal-lbl commented on #164
Hi, I have incorporated the changes as suggested by the reviewer. Please find the answers under issues in the software repository (https://bitbucket.org/dghoshal/frieda/issues/1/joss-review-comments).

Please let me know if there are other concerns or comments.

[2017-01-23 22:51] kweis commented on #102
I've resolved all opened issues and moved the large binary files to a zipped file in the release docs. I released an updated [package](https://github.com/kweis/acronym/releases/latest) that highlights how I've addressed @migueldvb's feedback.

With respect to the general comment regarding the CCD reduction -- the reason for writing in-house procedures (rather than astropy's ccdproc, for instance)

[2017-01-24 00:50] kortschak commented on #157
@brentp If you would send a PR of that code to add it to biogo/hts/paper/examples or similar that would be good. Thanks.

[2017-01-24 02:37] brentp commented on #154
@whedon start review

[2017-01-24 02:37] whedon commented on #154
I'm sorry @brentp, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-01-24 06:39] arfon commented on #157
@pjotrp - looks like we're good to open up the review issue at this point? If so then you'll need this command to create the review issue (with checklist etc):

[code]

[2017-01-24 06:39] arfon commented on #154
@pjotrp - looks like we're good to open up the review issue at this point? If so then you'll need this command to create the review issue (with checklist etc):

[code]

[2017-01-24 07:24] TermosPullo commented on #151
@jflorence Your account is activated. If you cannot log in, please contact the project management with email: kactus2@cs.tut.fi

[2017-01-24 13:11] pjotrp commented on #154
@whedon start review magic-word=bananas

[2017-01-24 13:11] whedon commented on #154
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/167. Feel free to close this issue now!

[2017-01-24 13:11] whedon opened #167 "[REVIEW]: bíogo: a simple high-performance bioinformatics toolkit for the Go language"
**Submitting author:** kortschak (<a href="http://orcid.org/0000-0001-8295-2301">Robert Daniel Kortschak</a>)
**Repository:** <a href="https://github.com/biogo/biogo" target ="_blank">https://github.com/biogo/biogo</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @brentp
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.292939" target="_blank">10.5281/zenodo.292939</a>

## Status

[!

[2017-01-24 13:11] whedon commented on #167
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @brentp it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-01-24 13:11] #154 closed

[2017-01-24 13:12] pjotrp commented on #157
@whedon start review magic-word=bananas

[2017-01-24 13:12] whedon opened #168 "[REVIEW]: bíogo/hts: high throughput sequence handling for the Go language"
**Submitting author:** kortschak (<a href="http://orcid.org/0000-0001-8295-2301">Robert Daniel Kortschak</a>)
**Repository:** <a href="https://github.com/biogo/hts" target ="_blank">https://github.com/biogo/hts</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @sb10
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.268032" target="_blank">10.5281/zenodo.268032</a>

## Status

[![statu

[2017-01-24 13:12] whedon commented on #157
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/168. Feel free to close this issue now!

[2017-01-24 13:12] whedon commented on #168
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @sb10 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably c

[2017-01-24 13:12] #157 closed

[2017-01-24 14:53] sb10 commented on #168
@whedon commands

[2017-01-24 14:53] whedon commented on #168
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-24 16:55] acabunoc commented on #136
Hi @edusantana! I think that will depend on the reviewer  -- I'll spend some time later to see if I find some other possible reviewers.  Thanks for all your work here! Let me know if you think of anyone else (doesn't have to be listed as a current reviewer for JOSS)

[2017-01-24 17:21] brentp commented on #167
@whedon commands

[2017-01-24 17:21] whedon commented on #167
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-24 17:57] edusantana commented on #136
Hi @acabunoc, I have sent a few emails making the invitation.

[2017-01-24 18:02] alk224 commented on #57
@arfon @genomematt thanks for your help. I asked some colleagues about anyone they might suggest as well.

[2017-01-24 18:06] alanlivio commented on #136
Hello @acabunoc and @edusantana.
I'm interested in review the Eduardo's paper.
I'm a PhD student at Puc-Rio Brazil and my research interests are in multimedia authoring and documents.
How I proceed to review?

[2017-01-24 18:10] acabunoc commented on #136
Thanks @alanlivio! 🎉  I'll assign you as reviewer and get the review started. Review guidelines can be found here: http://joss.theoj.org/about#reviewer_guidelines

Do you read Portuguese? If so, @edusantana may not have to translate as much 😄

[2017-01-24 18:10] acabunoc commented on #136
@whedon assign @alanlivio as reviewer

[2017-01-24 18:10] whedon commented on #136
OK, the reviewer is @alanlivio

[2017-01-24 18:10] acabunoc commented on #136
@whedon start review

[2017-01-24 18:10] whedon commented on #136
You didn't say the magic word! Try this:

[code]

[2017-01-24 18:10] acabunoc commented on #136
@whedon start review magic-word=bananas

[2017-01-24 18:10] whedon commented on #136
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/169. Feel free to close this issue now!

[2017-01-24 18:10] whedon opened #169 "[REVIEW]: Limarka: making possible Brazilian students writing dissertation and thesis with Markdown"
**Submitting author:** @edusantana (<a href="http://orcid.org/0000-0002-9165-9438">Eduardo Alexandre</a>)
**Repository:** <a href="https://github.com/abntex/limarka" target ="_blank">https://github.com/abntex/limarka</a>
**Version:** v0.6.6
**Editor:** @acabunoc
**Reviewer:** @alanlivio
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.256850" target="_blank">10.5281/zenodo.256850</a>

## Sta

[2017-01-24 18:10] whedon commented on #169
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @alanlivio it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-01-24 18:11] acabunoc commented on #136
@alanlivio & @edusantana the review is now in #169! I'll close this. Let me know if you have any questions :)

[2017-01-24 18:11] #136 closed

[2017-01-24 18:12] edusantana commented on #136
@acabunoc yes, he does. He is a Brazilian.

[2017-01-24 18:13] edusantana commented on #136
@acabunoc the tag version is wrong.

[2017-01-24 18:27] acabunoc commented on #169
version updated to v0.6.6

[2017-01-24 18:48] alanlivio commented on #169
Hello @acabunoc.
I finish the review. But I found a problem in the form.
I believe that the item " Version: Does the release version given match the GitHub release (v0.5.2)?" should be changed to v0.6.6, right?

[2017-01-24 19:17] alanlivio commented on #169
@whedon commands

[2017-01-24 19:17] whedon commented on #169
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-24 19:32] edusantana commented on #169
@whedon set 10.5281/zenodo.256850 as archive

[2017-01-24 19:32] whedon commented on #169
I'm sorry @edusantana, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-01-24 19:35] alanlivio commented on #169
Hello @acabunoc.
I finish the review.
I only see the version problem.
How proceed to conclude the review.

[2017-01-25 15:30] jirotubuyaki commented on #149
@arfon
Thank you for sending a message to me. This package is made by Rcpp(R & C++).
I do not have a good candidate. Would you chose a reviewer for me.

[2017-01-25 22:14] bradleyboehmke commented on #150
@arfon , just wanted to follow up to see if either of the two reviewers I suggested worked out or if I need to ask a few others.  I've got a few more in my back pocket if necessary.  Thx.

[2017-01-26 06:25] joshuaulrich commented on #159
Thank you very much for the consideration, but I have to decline because I will be very short on time for the next few weeks.  I'm working to finish a project with a deadline looming in mid-February.  Please do consider me for other finance-related submissions though.

[2017-01-26 07:59] arfon commented on #150
Trevor didn't get back to me so I just emailed Cade.

[2017-01-26 08:13] vaheta commented on #47
@Kevin-Mattheus-Moerman Hi Kevin,
Sorry for tardy reply. I'll be able to review the project again only in about 3 weeks. Is that ok?

[2017-01-26 09:04] ArdiaD commented on #159
Thanks @MatthieuStigler and @joshuaulrich for your feedback. @arfon what should we do then? Do you want me to try to provide additional references?

[2017-01-26 10:53] JNisk commented on #152
Dear editor,
is this review process still ongoing? It has been a while since the last activity in this topic.

Yours sincerely,
JNisk

[2017-01-26 13:15] edusantana commented on #169
Hi @acabunoc Do you need any thing else? An other reviewer?

[2017-01-26 13:39] arfon commented on #152
:wave: @mgymrek - how are you getting on finding a reviewer for this submission?

[2017-01-26 14:57] cmsaie commented on #150
@arfon  I am willing to review

[2017-01-26 14:59] arfon commented on #150
✨ thanks @cmsaie

[2017-01-26 15:00] arfon commented on #150
@whedon assign @arfon as editor

[2017-01-26 15:00] arfon commented on #150
@whedon commands

[2017-01-26 15:02] whedon commented on #150
OK, the editor is @arfon

[2017-01-26 15:02] whedon commented on #150
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-26 15:03] arfon commented on #150
@whedon assign @cmsaie as reviewer

[2017-01-26 15:03] whedon commented on #150
OK, the reviewer is @cmsaie

[2017-01-26 15:04] arfon commented on #150
@whedon start review magic-word=bananas

[2017-01-26 15:05] whedon opened #170 "[REVIEW]: KraljicMatrix: An R package for implementing the Kraljic Matrix to strategically analyze a firm’s purchasing portfolio"
**Submitting author:** @bradleyboehmke (<a href="http://orcid.org/0000-0002-3611-8516">Bradley Boehmke</a>)
**Repository:** <a href="https://github.com/bradleyboehmke/KraljicMatrix" target ="_blank">https://github.com/bradleyboehmke/KraljicMatrix</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewer:** @cmsaie
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.268587" target="_blank">10.5281/z

[2017-01-26 15:05] whedon commented on #150
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/170. Feel free to close this issue now!

[2017-01-26 15:05] whedon commented on #170
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @cmsaie it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-01-26 15:05] arfon commented on #150
@cmsaie - please head over to #170 to actually carry out the review.

[2017-01-26 15:05] #150 closed

[2017-01-26 15:21] Kevin-Mattheus-Moerman commented on #47
@vaheta That is fine. It may take the authors some time to work on some of the issues discussed above so when you join in you will hopefully be able to work with the revised/updated version.

[2017-01-26 18:40] meyera commented on #19
@masalmon thank you very much for the fast review. I will start working on it and inform you once everything's done.

[2017-01-26 18:41] masalmon commented on #19
Cool, feel free to tag me here or in the repo if I can help!

[2017-01-26 19:56] HenrikBengtsson commented on #135
Haven't forgot.

[2017-01-26 21:22] acabunoc commented on #169
Thanks for the quick review @alanlivio!

The form is updated. I like how you have an Open Canvas in your docs 😄 .

Once I set the archive we should be good to go! Flagging @arfon 🎏

[2017-01-26 21:23] acabunoc commented on #169
@whedon set 10.5281/zenodo.256850 as archive

[2017-01-26 21:23] whedon commented on #169
OK. <a href="http://dx.doi.org/10.5281/zenodo.256850" target="_blank">10.5281/zenodo.256850</a> is the archive.

[2017-01-26 21:23] acabunoc commented on #169
Also, @arfon, I manually updated the version number. Not sure if this breaks something behind the scenes.

[2017-01-26 23:53] edusantana commented on #169
@acabunoc about the open canvas, I enjoy doing it. Thank you for that. I discovered it looking at your repositories. But [this tip](https://blog.cwrichardkim.com/how-to-get-hundreds-of-stars-on-your-github-project-345b065e20a2#.k7ckcoxgt) was also good, for creating an animated gif.

[2017-01-26 23:57] TJBihl commented on #150
I need a little more than 4 days notice if I'm travelling.

[2017-01-27 19:52] camillescott commented on #142
@arfon: I've archived on Zenodo; here is the DOI: http://doi.org/10.5281/zenodo.260437

note that the final published version after the requested changes is v1.1, not v1.0.2 as in Whedon's first post in this issue

[2017-01-27 21:44] arfon commented on #159
Yes please 🙏

[2017-01-27 22:27] ArdiaD commented on #159
Ok, then I can imagine @braverock or @peterccarl, or @bpfaff. Also, @enricoschumann will still be willing to review. I know all of them, and I am convinced they will make the right comments to improve the package.

[2017-01-28 08:52] arfon commented on #169
Thanks for the review here @alanlivio and for editing this submission @acabunoc ✨

@edusantana - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00169 ⚡️ 🚀 💥

[2017-01-28 08:52] #169 closed

[2017-01-28 08:53] arfon commented on #142
@whedon set 10.5281/zenodo.260437 as archive

[2017-01-28 08:53] whedon commented on #142
OK. <a href="http://dx.doi.org/10.5281/zenodo.260437" target="_blank">10.5281/zenodo.260437</a> is the archive.

[2017-01-28 09:03] arfon commented on #142
Many thanks for your review @genomematt and thanks for editing this one @biorelated ✨

@camillescott - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00142 ⚡️ 🚀 💥

[2017-01-28 09:03] #142 closed

[2017-01-28 09:05] arfon commented on #159
Thanks @ArdiaD.

👋  all. Would any of you be willing to review this submission for JOSS? You can read more about the reviewer process here: http://joss.theoj.org/about#reviewer_guidelines

[2017-01-28 09:23] braverock commented on #159
@arfon, @ArdiaD I'd be happy to take a look at the submission.

It isn't clear to me from your reviewer guidelines where my feedback should go.

[2017-01-28 09:29] arfon commented on #159
@whedon assign @braverock as reviewer

[2017-01-28 09:29] whedon commented on #159
OK, the reviewer is @braverock

[2017-01-28 09:29] arfon commented on #159
@whedon start review magic-word=bananas

[2017-01-28 09:29] whedon commented on #159
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/171. Feel free to close this issue now!

[2017-01-28 09:29] whedon opened #171 "[REVIEW]: RiskPortfolios"
**Submitting author:** ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/ArdiaD/RiskPortfolios" target ="_blank">https://github.com/ArdiaD/RiskPortfolios</a>
**Version:** 2.00.11
**Editor:** @arfon
**Reviewer:** @braverock
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.267972" target="_blank">10.5281/zenodo.267972</a>

## St

[2017-01-28 09:29] whedon commented on #171
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @braverock it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-01-28 09:29] nwoodthorpe-test1 commented on #171
![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44e.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f4af.png?v7 "Logo Title Text 1")![alt text](https://assets-cdn.github.com/images/icons/emoji/unicode/1f522.png?v7 "Logo Title

[2017-01-28 09:30] arfon commented on #159
Many thanks for agreeing to review this submission @braverock! This (pre review) issue is used to find a reviewer, the actual review thread with the checklist for you to work through is in #171.

Please let me know if you have any questions as you make progress.

[2017-01-28 09:30] #159 closed

[2017-01-28 09:44] braverock commented on #171
Current repository version is 2.00.12, not the 2.00.11 in the checklist.

[2017-01-28 10:45] ArdiaD commented on #171
Fixed, I revert to 2.00.11 as this was only documentation changes. So we stick to the version number submitted. Thanks

[2017-01-28 11:01] ArdiaD commented on #163
@whedon commands

[2017-01-28 11:01] whedon commented on #163
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-28 11:02] ArdiaD commented on #163
@arfon We have released version v1-00.16, and the version we asked for the review was v1-00.15. How can we ensure that the review will be on the current version number, v1-00.16?

[2017-01-28 13:34] braverock commented on #171
@whedon commands

[2017-01-28 13:34] whedon commented on #171
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-28 13:49] braverock commented on #171
@arfon, I have completed my review of the package code.  Everything appears to be in order.  In addition to providing some functionality that exists in other packages, the authors have added several more cases which were not well-represented in existing packages for the purposes of creating risk constrained portfolios.

What are the next steps?  The checklist is complete.

[2017-01-28 21:48] JohnGriffiths commented on #146
@cmadan - I am on board and ready to start reviewing. But despite a lot of browsing this repo it's still not clear to me how I am supposed to do this. Sorry. Please advise.

[2017-01-29 00:18] ArdiaD commented on #171
Thanks a lot for your review @braverock !

[2017-01-29 01:46] cmsaie commented on #170
@whedon commands

[2017-01-29 01:46] whedon commented on #170
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-01-30 15:34] cMadan commented on #146
@JohnGriffiths - For the most part you need to see if the statements above in the first post are true and check things off accordingly. If something isn't the case, or you otherwise have a suggestion, either post a comment to @NicolasCARPi here (or ask me) or make an issue in the project's repository (https://github.com/elabftw/elabftw) and we'll sort things out until the submission meets JOSS' gu

[2017-01-30 15:35] cMadan commented on #146
@whedon assign @JohnGriffiths as reviewer

[2017-01-30 15:35] whedon commented on #146
OK, the reviewer is @JohnGriffiths

[2017-01-30 15:53] raamana commented on #146
No problem, I would have more time starting next week, whence I can help with others if you need me to.

[2017-01-31 10:16] arfon commented on #163
Thanks for the heads up - I've updated the version at the top of this thread to track this.

[2017-01-31 10:46] ArdiaD commented on #163
Thanks for this @arfon !

[2017-01-31 12:12] ArdiaD commented on #163
Btw @arfon, maybe @braverock would also be willing to review this package.

[2017-01-31 12:17] braverock commented on #163
@arfon I agree, I am familiar with this work, and have published similar work in other places. I am willing to review the NSE package.

[2017-02-01 04:10] brentp commented on #167
This LGTM to me based on the criteria above and here: http://joss.theoj.org/about#reviewer_guidelines

I'm unclear what more I should do.

[2017-02-01 07:22] pjotrp commented on #167
Thanks @brentp for your review!

@kortschak the paper.md is short and concise, but I would suggest to add some references to similar projects (biopython, biojava, bioruby, biorust) as a clarification of what the software aims to do and give it some historic reference (it also helps people to find you!). You can also add particular strengths of this project (at this point in time) so as to advertis

[2017-02-01 07:36] kortschak commented on #167
@pjotrp I can refer explicitly to the original bioRxiv paper as that more fully details the reasoning behind the project and refers to other projects. The link to that is http://biorxiv.org/content/early/2014/05/12/005033 Do you think that would be satisfactory?

[2017-02-01 10:42] pjotrp commented on #167
Good idea. After that ping @arfon that we complete acceptance.

[2017-02-01 10:45] sb10 commented on #168
v1.0.1 passes all of the reviewer questions and I'm satisfied with it.

[2017-02-01 10:48] pjotrp commented on #168
Thank you @sb10 for the review. @arfon I think we can proceed with acceptance.

[2017-02-01 22:15] dadelson commented on #167
@kortschak excellent.

[2017-02-01 22:52] kortschak commented on #167
@arfon This is ready. Thank you.

[2017-02-01 23:51] arfon commented on #163
@whedon assign @arfon as editor

[2017-02-01 23:51] whedon commented on #163
OK, the editor is @arfon

[2017-02-01 23:51] arfon commented on #163
@whedon assign @braverock as reviewer

[2017-02-01 23:51] whedon commented on #163
OK, the reviewer is @braverock

[2017-02-01 23:51] arfon commented on #163
@whedon start review magic-word=bananas

[2017-02-01 23:51] whedon commented on #163
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/172. Feel free to close this issue now!

[2017-02-01 23:51] whedon opened #172 "[REVIEW]: nse: Computation of Numerical Standard Errors in R"
**Submitting author:** @ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/keblu/nse" target ="_blank">https://github.com/keblu/nse</a>
**Version:** v1-00.15
**Editor:** @arfon
**Reviewer:** @braverock
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.268594" target="_blank">10.5281/zenodo.268594</a>

## Status

[![status](http:

[2017-02-01 23:51] whedon commented on #172
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @braverock it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-02-01 23:52] arfon commented on #163
@braverock - many thanks. Please head over to #172 where the review should take place.

[2017-02-01 23:52] #163 closed

[2017-02-01 23:53] arfon commented on #172
@braverock - please take a look at the reviewer guidelines here (http://joss.theoj.org/about#reviewer_guidelines) and update the checklist as you proceed. Please let me know if you have any questions.

[2017-02-01 23:58] arfon commented on #170
@cmsaie - looking at the checklist it looks like you've completed your review? Were there any issues that came up when reviewing this package and do you have any written feedback for @bradleyboehmke?

[2017-02-01 23:58] arfon commented on #149
@karthik - any chance you could help us find a reviewer for this submission?

[2017-02-02 06:57] pjotrp commented on #167
I believe @arfon we can accept this paper.

[2017-02-02 12:55] arfon commented on #171
Excellent. Thanks @braverock :zap:

@ArdiaD - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-02-02 12:57] arfon commented on #168
Great. Thanks @pjotrp and thanks to @sb10 for completing the review :zap:

@kortschak - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-02-02 12:59] whedon opened #173 "[PRE REVIEW]: GSODR: Global Summary Daily Weather Data in R"
**Submitting author:** @adamhsparks (<a href="http://orcid.org/0000-0002-0061-8359">Adam H. Sparks</a>)
**Repository:** <a href="https://github.com/ropensci/GSODR" target ="_blank">https://github.com/ropensci/GSODR</a>
**Version:** 1.0.1
**Editor:** @karthik
**Reviewer:** @arfon

**What this issue is for**

Thanks for submitting your paper to JOSS @adamhsparks. The JOSS editor (shown at the top of

[2017-02-02 12:59] whedon commented on #173
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-02-02 12:59] arfon commented on #173
@noamross @karthik - is this already accepted in rOpenSci?

[2017-02-02 13:00] whedon opened #174 "[PRE REVIEW]: cleanEHR: The critical care EHR analysis tools"
**Submitting author:** @sinanshi (<a href="http://orcid.org/0000-0001-6935-0429">Sinan Shi</a>)
**Repository:** <a href="https://github.com/CC-HIC/cleanEHR" target ="_blank">https://github.com/CC-HIC/cleanEHR</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewer:** @arfon

**What this issue is for**

Thanks for submitting your paper to JOSS @sinanshi. The JOSS editor (shown at the top of this issu

[2017-02-02 13:00] whedon commented on #174
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-02-02 13:00] arfon commented on #174
@noamross - this looks to be a good candidate for rOpenSci, would you agree?

[2017-02-02 13:21] arfon commented on #167
👍

@kortschak - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-02-02 13:23] whedon opened #175 "[PRE REVIEW]: highlightHTML: CSS Formatting of R Markdown Documents"
**Submitting author:** @lebebr01 (<a href="http://orcid.org/0000-0002-1265-8761">Brandon LeBeau</a>)
**Repository:** <a href="https://github.com/lebebr01/highlightHTML" target ="_blank">https://github.com/lebebr01/highlightHTML</a>
**Version:** v 0.1.3
**Editor:** @acabunoc
**Reviewer:** @desilinguist

**What this issue is for**

Thanks for submitting your paper to JOSS @lebebr01. The JOSS editor

[2017-02-02 13:23] whedon commented on #175
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-02-02 13:23] arfon commented on #175
👋  @acabunoc - would you be willing to edit this submission for JOSS?

[2017-02-02 14:45] ArdiaD commented on #171
Hi @arfon please see [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.267972.svg)](https://doi.org/10.5281/zenodo.267972)

[2017-02-02 14:46] ArdiaD commented on #172
@braverock thanks for your time. Look forward to receiving your feedback.

[2017-02-02 14:55] braverock commented on #172
@arfon I've completed the checklist.  I was previously familiar with the NSE package, so most of what I had to do was to check that JOSS guidelines had been met.  @keblu and @ArdiaD have implemented multiple ways of computing standard errors of a given metric, many of which have not appeared in the R language previously.  It is a worthwhile contribution to the literature, and I recommend publicati

[2017-02-02 19:30] acabunoc commented on #175
yup!

[2017-02-02 19:30] acabunoc commented on #175
@whedon assign @acabunoc as editor

[2017-02-02 19:35] arfon commented on #175
@acabunoc - Whedon was being a bit slow the other day... Not sure why he didn't respond here 😕

[2017-02-02 19:35] arfon commented on #175
@whedon commands

[2017-02-02 19:39] whedon commented on #175
OK, the editor is @acabunoc

[2017-02-02 20:32] kortschak commented on #167
@arfon I would like to hold off until the release of the next version of the host compiler as there is an outstanding test suite failure with the current release candidate that should be fixed in that release. When Go1.8 is release I will update the test matrix and tag a minor version change, pinging @brentp and @pjotrp to ensure things have been done correctly. Is that OK with you?

[2017-02-02 21:16] kortschak commented on #168
![10.5281/zenodo.268032](https://zenodo.org/badge/32111947.svg)

Thank you.

[2017-02-03 00:27] HenrikBengtsson commented on #135
I've now completed my code / document review resulting in the following batchtools issues:

* https://github.com/mllg/batchtools/issues/69
* https://github.com/mllg/batchtools/issues/70
* https://github.com/mllg/batchtools/issues/73
* https://github.com/mllg/batchtools/issues/74
* https://github.com/mllg/batchtools/issues/75
* https://github.com/mllg/batchtools/issues/76
* https://github.com/mllg/

[2017-02-03 14:09] arfon commented on #171
@whedon set 10.5281/zenodo.267972 as archive

[2017-02-03 14:09] whedon commented on #171
OK. <a href="http://dx.doi.org/10.5281/zenodo.267972" target="_blank">10.5281/zenodo.267972</a> is the archive.

[2017-02-03 14:33] arfon commented on #171
Many thanks for your review @braverock ✨

@ArdiaD your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00171 ⚡️ 🚀 💥

[2017-02-03 14:33] #171 closed

[2017-02-03 15:27] pjotrp commented on #167
No problem - just tell us when you are ready.

[2017-02-03 16:31] arcaravaggi commented on #158
Dear editor (@karthik),
It has been some time since there was any activity on this issue. Could you please advise as to whether the review process is still ongoing.
Many thanks,
arcaravaggi

[2017-02-03 16:39] amoeba commented on #158
Hey @arcaravaggi, sorry I didn't catch your first mention. Unless @jsta is eager to review this one, I can do this before Monday. I'm not familiar with Random Encounter Modeling but I can probably wrap my head around it.

At a first (quick) glance, I expect I'm going to have comments about:

- The readme looks to be missing sections
- The paper looks to have too much info but I'm not sure and it m

[2017-02-03 16:52] arcaravaggi commented on #158
Hi @amoeba, thanks for agreeing to review the package. I appreciate your time and feedback.

[2017-02-03 21:34] adamhsparks commented on #173
It's already accepted: https://github.com/ropensci/onboarding/issues/79

[2017-02-03 23:38] ArdiaD commented on #172
Thanks @braverock for your review and your comments!

[2017-02-04 01:09] cmsaie commented on #170
@arfon I only have one suggestion for @bradleyboehmke.  I think when you call SAVF_score it should automatically compute the optimal rho and use it, maintain the function to call it on its own as well.

[2017-02-04 01:21] arfon commented on #168
@whedon set 10.5281/zenodo.268032 as archive

[2017-02-04 01:21] whedon commented on #168
OK. <a href="http://dx.doi.org/10.5281/zenodo.268032" target="_blank">10.5281/zenodo.268032</a> is the archive.

[2017-02-04 01:27] arfon commented on #168
@kortschak - could you please move the references in https://github.com/biogo/hts/blob/master/paper/paper.md to a separate `paper.bib` file and then reference them from your `paper.md` file. You can see an example of how to do this here: https://github.com/arfon/fidgit/tree/master/paper

[2017-02-04 01:29] arfon commented on #158
@whedon assign @amoeba as reviewer

[2017-02-04 01:29] whedon commented on #158
OK, the reviewer is @amoeba

[2017-02-04 01:29] arfon commented on #158
@whedon start review magic-word=bananas

[2017-02-04 01:30] whedon commented on #158
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/176. Feel free to close this issue now!

[2017-02-04 01:30] whedon opened #176 "[REVIEW]: remBoot: An R package for Random Encounter Modelling"
**Submitting author:** arcaravaggi (<a href="http://orcid.org/0000-0002-1763-8970">Anthony Caravaggi</a>)
**Repository:** <a href="https://github.com/arcaravaggi/remBoot" target ="_blank">https://github.com/arcaravaggi/remBoot</a>
**Version:** 0.0.0.9000
**Editor:** @karthik
**Reviewer:** @amoeba
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.4684894" target="_blank">10.6084/m9.figsha

[2017-02-04 01:30] whedon commented on #176
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @amoeba it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-02-04 01:30] arfon commented on #158
Awesome, thanks @amoeba. Please head over to #176 for the actual review issue (with checklist etc).

[2017-02-04 01:30] #158 closed

[2017-02-04 01:31] arfon commented on #173
@whedon start review magic-word=bananas

[2017-02-04 01:31] whedon opened #177 "[REVIEW]: GSODR: Global Summary Daily Weather Data in R"
**Submitting author:** @adamhsparks (<a href="http://orcid.org/0000-0002-0061-8359">Adam H. Sparks</a>)
**Repository:** <a href="https://github.com/ropensci/GSODR" target ="_blank">https://github.com/ropensci/GSODR</a>
**Version:** 1.0.1
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.260229" target="_blank">10.5281/zenodo.260229</a>

## Status

[![

[2017-02-04 01:31] whedon commented on #173
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/177. Feel free to close this issue now!

[2017-02-04 01:31] whedon commented on #177
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-02-04 01:32] arfon commented on #173
Thanks @adamhsparks. I'll process the submission over in #177

[2017-02-04 01:32] #173 closed

[2017-02-04 01:33] arfon commented on #177
@whedon assign 10.5281/zenodo.260229 as archive

[2017-02-04 01:33] arfon commented on #177
@whedon set 10.5281/zenodo.260229 as archive

[2017-02-04 01:33] whedon commented on #177
OK. <a href="http://dx.doi.org/10.5281/zenodo.260229" target="_blank">10.5281/zenodo.260229</a> is the archive.

[2017-02-04 01:38] arfon commented on #177
@adamhsparks - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00177 ⚡️ 🚀 💥

[2017-02-04 01:38] #177 closed

[2017-02-04 01:39] arfon commented on #172
Many thanks for the review here @braverock.

@ArdiaD - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-02-04 01:40] arfon commented on #170
OK many thanks @cmsaie.

@bradleyboehmke - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-02-04 01:43] arfon commented on #135
@HenrikBengtsson - many thanks for the review. You've not updated the checklist at the top of this issue - is that because you don't have (GitHub) permissions to do this?

The `paper.md` file is here: https://github.com/mllg/batchtools/blob/master/paper/paper.md . If there are issues with this then you should post them on the repository (https://github.com/mllg/batchtools) too.

[2017-02-04 01:44] arfon commented on #135
Also, @mllg - let me know when you've managed to respond to @HenrikBengtsson's feedback.

[2017-02-04 01:47] HenrikBengtsson commented on #135
@arfon, @masalmon cut'n'paste the checklist in a comment - shouldn't I do the same?  Who decides to check the top one? (given more than one reviewer?)

[2017-02-04 01:49] arfon commented on #135
Good point. I forgot there had been a review already 😄

I think it's fine for you to cut and paste in this case like @masalmon did already.

[2017-02-04 01:59] ArdiaD commented on #172
@keblu can you create a Zenodo account and create a DOI for the current nse project; please follow these steps: https://guides.github.com/activities/citable-code/

[2017-02-04 02:54] bradleyboehmke commented on #170
No problem @arfon

[![DOI](https://zenodo.org/badge/74397607.svg)](https://zenodo.org/badge/latestdoi/74397607)

Also, @cmsaie , I like your suggestion.  I'm going to change the default in the SAVF_score function so that the optimal rho value is automatically computed and used.  I'll also allow the user to override and supply a non-optimal rho value if, for some reason, they want to.  I think this

[2017-02-04 10:24] keblu commented on #172
Hi @arfon. Here you go: [![DOI](https://zenodo.org/badge/70136711.svg)](https://zenodo.org/badge/latestdoi/70136711). Thanks a lot!

[2017-02-04 12:17] arfon commented on #172
@whedon set 10.5281/zenodo.268594 as archive

[2017-02-04 12:17] whedon commented on #172
OK. <a href="http://dx.doi.org/10.5281/zenodo.268594" target="_blank">10.5281/zenodo.268594</a> is the archive.

[2017-02-04 12:30] arfon commented on #172
@braverock - many thanks for your review here ✨

@ArdiaD & @keblu your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00172 ⚡️ 🚀 💥

[2017-02-04 12:30] #172 closed

[2017-02-04 12:30] arfon commented on #170
@whedon set 10.5281/zenodo.268587 as archive

[2017-02-04 12:30] whedon commented on #170
OK. <a href="http://dx.doi.org/10.5281/zenodo.268587" target="_blank">10.5281/zenodo.268587</a> is the archive.

[2017-02-04 12:42] arfon commented on #170
@cmsaie - many thanks for your review here ✨

@bradleyboehmke - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00170 ⚡️ 🚀 💥

[2017-02-04 12:42] #170 closed

[2017-02-04 14:28] whedon opened #178 "[PRE REVIEW]: skedm: Empirical Dynamic Modeling"
**Submitting author:** @nickc1 (<a href="http://orcid.org/0000-0003-2262-663X">Nicholas Cortale</a>)
**Repository:** <a href="https://github.com/NickC1/skedm" target ="_blank">https://github.com/NickC1/skedm</a>
**Version:** v0.0.1
**Editor:** @jakevdp
**Reviewer:** @johnh2o2

**What this issue is for**

Thanks for submitting your paper to JOSS @nickc1. The JOSS editor (shown at the top of this is

[2017-02-04 14:28] whedon commented on #178
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-02-04 14:29] arfon commented on #178
👋 @jakevdp - this looks like it might be right up your street. Would you be willing to edit this submission for JOSS?

[2017-02-04 18:59] amoeba commented on #176
I've had a short break to sit down with this submission. I will finish up tomorrow at some point.

Overall, things look pretty good and I only have minor suggestions so far. I think packages like this that implement methods from the literature are great and think this would be a useful package for others.

I've copied a subset of the checklist below to make comments on particular items in the chec

[2017-02-04 23:22] kortschak commented on #168
@arfon Done.

[2017-02-05 00:40] arfon commented on #168
Many thanks @pjotrp for editing this submission and @sb10 for the review ✨

@kortschak - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00168 ⚡️ 🚀 💥

[2017-02-05 00:40] #168 closed

[2017-02-05 00:42] arfon commented on #61
:wave @dgrtwo - are you still able to review this submission for JOSS? If not, we can look for another reviewer.

[2017-02-05 00:43] arfon commented on #102
👋 @kweis - how are you getting on with this update?

[2017-02-05 00:44] arfon commented on #108
**Bump** @leithes 😁

[2017-02-05 00:45] arfon commented on #113
👋 @chenjqp - do you have any update for us on this?

[2017-02-05 00:46] arfon commented on #127
Yes, that's right. I'm afraid it's not possible to do this as the author right now. I'll go ahead and do this myself now.

[2017-02-05 00:46] #127 closed

[2017-02-05 00:52] arfon commented on #161
👋 friendly reminder on this review @gavinsimpson.

[2017-02-05 00:53] arfon commented on #162
@whedon assign @arfon as editor

[2017-02-05 00:53] whedon commented on #162
OK, the editor is @arfon

[2017-02-05 00:53] arfon commented on #162
@whedon commands

[2017-02-05 00:53] whedon commented on #162
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-02-05 00:53] arfon commented on #162
@whedon list reviewers

[2017-02-05 00:53] whedon commented on #162
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-02-05 00:54] arfon commented on #162
:wave: @nuest - would you be willing to review this submission for JOSS?

[2017-02-05 00:56] arfon commented on #164
@krother - would you be able to take another look at this submission again and let us know what you think?

[2017-02-05 00:57] arfon commented on #166
👋 @nicoguaro - how are you getting on with this review?

[2017-02-05 02:05] dghoshal-lbl commented on #164
So @krother has already provided additional reviews in the source repo. I am in the process of incorporating the changes and will let you know once done; mostly by Monday next week.

[2017-02-05 05:56] dghoshal-lbl commented on #164
@krother - I have added the suggested changes. Please let me know if you need further modifications to the release.

[2017-02-05 16:56] nicoguaro commented on #166
@arfon, the beginning of semester took my time. But I already tested the software.

The inclusion of a statement of need is important, since it shows to a broader audience the usefulness of the software. Regarding the installation, it has dependencies on ``numpy`` and ``scipy``, although this is not stated in the README. It mentions that it should use Python 2.7, but there is not apparent reason f

[2017-02-05 17:47] katyhuff commented on #166
@nicoguaro thank you for your review!
 @psesh Please let us know in this thread how you will address these comments from the review and proceed with addressing them. Don't hesitate to let us know if you have any questions.

[2017-02-05 18:35] psesh commented on #166
@nicoguaro thank you for the review :)
@katyhuff I will address these comments and get back to you shortly.

[2017-02-06 05:59] amoeba commented on #176
I just had a chance to sit down to try to verify the functionality. Things seem in order but I have some comments about how REM is calculated and a lot of general comments about the code and help docs.

- **Functionality: Have the functional claims of the software been confirmed?**

  - The `rem` function appears to do what is outlined in the methods. I found that `r` and `theta` used in the calcu

[2017-02-06 10:11] cMadan commented on #146
@JohnGriffiths - do you have any questions about the process that I might be able to help with?

[2017-02-06 15:50] krother commented on #164
@arfon Everything fine, the authors took care of everything. I suggest to move forward with publishing the article.

[2017-02-06 20:52] arcaravaggi commented on #176
Thanks for the detailed feedback, @amoeba. I'll do my very best to look at each issue in detail this week and will respond as soon as I can.

[2017-02-06 22:23] bradleyboehmke commented on #170
Fantastic!  Thanks @arfon!

[2017-02-07 05:08] mgymrek commented on #152
@whedon assign @jyuan1322 as reviewer

[2017-02-07 05:08] whedon commented on #152
OK, the reviewer is @jyuan1322

[2017-02-07 05:09] mgymrek commented on #152
Found one! Jie (@jyuan1322) has agreed to review.

[2017-02-07 05:11] mgymrek commented on #152
@whedon start review

[2017-02-07 05:11] whedon commented on #152
You didn't say the magic word! Try this:

[code]

[2017-02-07 05:12] mgymrek commented on #152
@whedon start review magic-word=bananas

[2017-02-07 05:12] whedon commented on #152
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/179. Feel free to close this issue now!

[2017-02-07 05:12] whedon opened #179 "[REVIEW]: AncesTrim - a tool for trimming complex pedigrees"
**Submitting author:** @JNisk (<a href="http://orcid.org/0000-0002-2871-6890">Julia Niskanen</a>)
**Repository:** <a href="https://github.com/JNisk/AncesTrim" target ="_blank">https://github.com/JNisk/AncesTrim</a>
**Version:** v1.0
**Editor:** @mgymrek
**Reviewer:** @jyuan1322
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.375807" target="_blank">10.5281/zenodo.375807</a>

## Status

[![s

[2017-02-07 05:12] whedon commented on #179
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jyuan1322 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-02-07 05:14] #152 closed

[2017-02-07 09:06] varocarbas commented on #127
@arfon Thanks! Excellent work!

I want to thank you and @labarba (a Spanish-speaking colleague :)) for your professional and respectful attitude. Although the final result isn't precisely ideal, I am very happy for having found this small island of good faith and correctness, where everyone is treated with respect and values like honesty and fairness always prevail; where everyone takes full respo

[2017-02-07 11:16] arfon commented on #127
❤️

[2017-02-07 11:56] varocarbas commented on #127
@arfon Just in case that you misunderstood this part (perhaps I was too subtle and brought my critic a bit too far though), note that I was sarcastically highlight an issue which I found particularly censurable: @labarba taking almost one month to answer my polite reply to her query (+ insisting message) and only one day after you asked her. The motivation (even trying to adequately address my con

[2017-02-07 12:54] arfon commented on #127
I'm locking this conversation as this topic has gone completely off the rails. @varocarbas - you are reading way to much into my and @labarba's behaviour.

I'm sorry that you feel that you had a poor experience here.

[2017-02-09 13:25] arcaravaggi commented on #176
I've dealt with a number of the corrections and will be applying myself to the others (functionality clarification, tests, sanity checks) presently. Please let me know whether the corrections entered thus far are insufficient and/or inappropriate.

- Release 0.0.0.9000 created.
- Installation instructions added to the README.
- Moved package introduction text from vignette to the README.
- Include

[2017-02-09 13:31] arcaravaggi commented on #176
Re: the external link to the vignette in `rem`. As I understand it, the html file needs to be parsed by http://htmlpreview.github.io/... for the output to be presented, as opposed to code. Is this not the case?

[2017-02-09 14:46] amoeba commented on #176
Thanks for looking at these. I'll take a look over them soon, at least by this weekend.

Regarding vignettes, I'm not familiar enough with them off-hand but usually I can run `vignette(package="remBoot")` to get a list of the vignettes provided in `remBoot` and then, if I find a vignette called 'remBoot' in that list, I can the run `vignette('remBoot', package='remBoot')` to view a nicely-rendered

[2017-02-10 17:43] fedorov commented on #153
I went over the items on the check list, and I am fine with all of them except:

- [ ] Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support - **contributing guidelines are missing**
- [ ] References: Do all archival references that should have a DOI list one (e.g. papers, datasets,

[2017-02-10 17:44] dghoshal-lbl commented on #164
@arfon Can you please let me know the DOI once the article is published?

[2017-02-10 19:22] Kevin-Mattheus-Moerman commented on #153
Thanks @fedorov, In relation to the second point, we do generate a PDF with references, here is the compiled paper PDF with some references and DOI's in place: [10.21105.joss.00153.pdf](https://github.com/openjournals/joss-reviews/files/709556/10.21105.joss.00153.pdf), so please review that document.

@thewtex let me know when you've addressed these comments.

[2017-02-10 19:30] fedorov commented on #153
@Kevin-Mattheus-Moerman indeed this resolves my second concern. Thanks!

[2017-02-10 19:32] fedorov commented on #153
@thewtex it may be my personal preference, and of course independent of this paper review, but I would recommend using a different color scheme for the documentation: light blue and grey do not work well together, in my opinion.

![image](https://cloud.githubusercontent.com/assets/313942/22841006/c811de90-ef9d-11e6-9f16-a4bdbfa25551.png)

[2017-02-10 20:40] thewtex commented on #153
@fedorov Thanks for the review.

I've added a basic *CONTRIBUTING.md* here: https://github.com/KitwareMedical/SlicerITKUltrasound/pull/52

Agreed on the colorscheme, too. I've removed the bright blue and used black for the normal text.

[2017-02-10 20:47] fedorov commented on #153
I don't have any further concerns about the check list at the top of this review. Looks good to me to be accepted!

[2017-02-10 21:11] Kevin-Mattheus-Moerman commented on #153
🎉 Great. Thank you @fedorov and @lassoan for reviewing this submission!

[2017-02-10 21:14] Kevin-Mattheus-Moerman commented on #153
@arfon We are all good to accept here

[2017-02-10 21:18] Kevin-Mattheus-Moerman commented on #47
@charalambos I noticed that on your list here https://github.com/theICTlab/3DUNDERWORLD-SLS-GPU_CPU/projects/2 several points are labelled as done. Let us know when the review process can be resumed.

[2017-02-10 21:27] Kevin-Mattheus-Moerman commented on #153
@thewtex perhaps you have done this already, but can you create an updated archive of the reviewed software in Zenodo (or figshare/other service) and update this thread with the DOI of that archive?

[2017-02-11 00:45] v3c70r commented on #47
Yes, it is almost done except some  polishing. I think we can continue review and I work on both issue fixing and polishing.

[2017-02-11 12:57] arfon commented on #164
@dghoshal-lbl - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-02-11 15:02] dghoshal-lbl commented on #164
@arfon Thanks. I archived the reviewed software in zenodo. The DOI is 10.5281/zenodo.290299

[2017-02-11 19:56] daviddoria commented on #47
Hi guys,

- Great, the build+test now works out of the box!

- The ply files produced still crash Paraview 5.2 (though it can open the obj files properly).

- I get "DOI not found" for this: http://dx.doi.org/10.21105/joss.00047 which appears in the pdf

- I would make the link to this paper https://arxiv.org/pdf/1406.6595.pdf VERY VERY PROMINENT. Without it, it's nearly impossible to figure out w

[2017-02-12 00:45] whedon opened #180 "[PRE REVIEW]: Cine: A solar-pumped fluorescence model for cometary atmospheres"
**Submitting author:** @migueldvb (<a href="http://orcid.org/0000-0002-0455-9384">Miguel de Val-Borro</a>)
**Repository:** <a href="https://github.com/migueldvb/cine" target ="_blank">https://github.com/migueldvb/cine</a>
**Version:** v0.2
**Editor:** @arfon
**Reviewer:** @eteq

**What this issue is for**

Thanks for submitting your paper to JOSS @migueldvb. The JOSS editor (shown at the top of th

[2017-02-12 00:45] whedon commented on #180
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-02-12 00:45] whedon opened #181 "[PRE REVIEW]: SHGYield"
**Submitting author:** @roguephysicist (<a href="http://orcid.org/0000-0002-4809-921X">Sean M. Anderson</a>)
**Repository:** <a href="https://github.com/roguephysicist/SHGYield" target ="_blank">https://github.com/roguephysicist/SHGYield</a>
**Version:** v1.0.1
**Editor:** @kyleniemeyer
**Reviewer:** @nicoguaro

**What this issue is for**

Thanks for submitting your paper to JOSS roguephysicist. T

[2017-02-12 00:45] whedon commented on #181
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-02-12 00:46] arfon commented on #181
👋 @kyleniemeyer - would you be willing to edit this submission for JOSS?

[2017-02-12 00:47] arfon commented on #180
:wave: @eteq - would you be willing to review this submission for JOSS? You can learn more about what that entails here: http://joss.theoj.org/about#reviewer_guidelines

[2017-02-12 11:24] arfon commented on #164
@whedon set 10.5281/zenodo.290299 as archive

[2017-02-12 11:24] whedon commented on #164
OK. <a href="http://dx.doi.org/10.5281/zenodo.290299" target="_blank">10.5281/zenodo.290299</a> is the archive.

[2017-02-12 11:34] arfon commented on #164
@dghoshal-lbl - there are a couple of issues with your paper that I need you to fix before accepting here:

1. The metadata in the paper header isn't formatted correctly. See [this PR](https://bitbucket.org/arfons/frieda/pull-requests/1/updating-paper-metadata-to-be-compatible/diff#comment-None) for a fix
2. You don't appear to cite any of the references in `paper.bib` so they're not pulled into t

[2017-02-12 11:36] arfon commented on #47
@daviddoria - don't worry about that for now. This is the DOI that the publication _will eventually_ have.

[2017-02-12 14:20] dghoshal-lbl commented on #164
@arfon : I have merged in your suggested changes and also updated the markdown version to include the references. Do I need to update the zenodo archive as well?

[2017-02-12 14:29] Kevin-Mattheus-Moerman commented on #47
@daviddoria Thanks for your hard work!

About readme.md and paper.md. The paper.md is for JOSS and forms the paper document. The paper itself can be quite minimal and might have some overlap with the readme but should reference works properly though.
See here for guidelines on what it should contain: http://joss.theoj.org/about#author_guidelines

[2017-02-12 14:45] arfon commented on #164
:+1: The archive is most important for the software so I'm happy to leave this _as is_ if you are.

[2017-02-12 19:13] dghoshal-lbl commented on #164
@arfon : Sounds good. Let me know if everything else looks okay.

[2017-02-13 01:11] arfon commented on #164
@krother many thanks for the review here and @acabunoc for editing ✨

@dghoshal-lbl - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00164 ⚡️ 🚀 💥

[2017-02-13 01:11] #164 closed

[2017-02-13 03:18] amoeba commented on #176
Thanks for making all of those changes. You'll notice I've checked off a number of the list items. Some minor details:

- Given the number of changes to the code, I suggest this submission get a new release of the package with the changes before finalizing this submission.

Documentation:

- The updated README is a good improvement. I'll sign off on this as-is but I suggest using code fences to pr

[2017-02-13 03:43] thewtex commented on #153
@Kevin-Mattheus-Moerman yes, here it is: https://zenodo.org/record/290628

[2017-02-13 11:55] arfon commented on #153
@whedon set 10.5281/zenodo.290628 as archive

[2017-02-13 11:55] whedon commented on #153
OK. <a href="http://dx.doi.org/10.5281/zenodo.290628" target="_blank">10.5281/zenodo.290628</a> is the archive.

[2017-02-13 12:02] arfon commented on #153
@lassoan @fedorov many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this one ✨

@thewtex your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00153 ⚡️ 🚀 💥

[2017-02-13 12:02] #153 closed

[2017-02-13 14:34] thewtex commented on #153
Excellent! Thanks to all!

[2017-02-13 16:36] eteq commented on #180
@arfon - can do, although probably not until late this week/early next... If that's ok, then I'm in.

[2017-02-13 22:01] arfon commented on #180
👍 that would be great.

[2017-02-13 22:02] arfon commented on #180
@whedon assign @eteq as reviewer

[2017-02-13 22:02] whedon commented on #180
OK, the reviewer is @eteq

[2017-02-13 22:02] arfon commented on #180
@whedon start review magic-word=bananas

[2017-02-13 22:02] whedon opened #182 "[REVIEW]: Cine: A solar-pumped fluorescence model for cometary atmospheres"
**Submitting author:** @migueldvb (<a href="http://orcid.org/0000-0002-0455-9384">Miguel de Val-Borro</a>)
**Repository:** <a href="https://github.com/migueldvb/cine" target ="_blank">https://github.com/migueldvb/cine</a>
**Version:** v0.2.1
**Editor:** @arfon
**Reviewer:** @eteq
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.345982" target="_blank">10.5281/zenodo.345982</a>

## Status

[!

[2017-02-13 22:02] whedon commented on #180
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/182. Feel free to close this issue now!

[2017-02-13 22:02] whedon commented on #182
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @eteq it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably c

[2017-02-13 22:03] arfon commented on #180
@eteq the actual review issue is over in #182 - please head over there to carry out your review and give feedback as required.

[2017-02-13 22:03] #180 closed

[2017-02-15 02:09] chenjqp commented on #113
Hi @mgymrek , my sincerest apologies. I'm getting some help on writing the installation script so hopefully I can get this done soon.

[2017-02-15 07:09] HenrikBengtsson commented on #135
UPDATES:

Additional feedback based on some serious testing on real compute clusters:

* https://github.com/mllg/batchtools/issues/85
* https://github.com/mllg/batchtools/issues/87
* https://github.com/mllg/batchtools/issues/88

which @mmlg is addressing.

I've now successfully tested batchtools 0.9.1-9000 with:

* `makeClusterFunctionsInteractive(external = TRUE)` on multiple system including the

[2017-02-15 21:00] HenrikBengtsson commented on #135
Also, @arfon, all the checkboxes at the top can be ticked. I don't have the permission to do it.

[2017-02-16 02:03] bhazelton commented on #140
@arfon @astrofrog I think we have now fixed all the issues that were raised, both critical and non-critical.

[2017-02-16 12:12] masalmon commented on #61
@arfon just noticed this from the CRANberries feed https://cran.r-project.org/web/packages/walkr/index.html

[2017-02-16 12:13] masalmon commented on #61
The reason for removal from CRAN is "Archived on 2017-02-16 as check problems were not corrected despite reminders."

[2017-02-16 15:50] astrofrog commented on #140
This looks good to me now, so as far as I'm concerned this can be accepted!

cc @arfon @whedon

[2017-02-16 18:34] ijstokes commented on #174
I was asked to put my name in as a reviewer.  I'd be happy to do that.  I have a background in computational biology and large scale distributed infrastructure for computational science.

[2017-02-16 20:06] mllg commented on #135
Thanks again @HenrikBengtsson for your thorough review. I will address the remaining small issues before Monday.

@arfon What is the supposed procedure to change the version number in this review (0.9.0) to match the version of the next package release (0.9.2)?

[2017-02-16 20:43] HenrikBengtsson commented on #135
Just to clarify, none of the remaining batchtools issues should prevent the acceptance of the article; they can be dealt with later and are non-critical.

[2017-02-16 20:55] arcaravaggi commented on #176
Thanks for the additional comments.

- Would you be happy for me to create a new release when we have completed the review process (prior to finalising)? If not, I can do it sooner, no problem.
- I've added code fences to README and fixed the Rowcliffe citation. I'm not sure what's wrong with the Fig. 2 reference, though.
- Re: `nboots` in `remBoot`, the parameter can either be defined in the call

[2017-02-16 21:17] amoeba commented on #176
Yes, doing just one release is ideal.

I expected there to be a figure 2 in the readme which there wasn't.

Your changes and responses are sufficient. Thanks for addressing those. I'm having a hard time actually running `remBoot` right now though:

[code]

I haven't looked at the cause or at recent commits to see what's going on here but I thought I'd bring it to your attention.

Other than that,

[2017-02-16 21:56] arcaravaggi commented on #176
Hrm, that's interesting. I might be away for a few days, so will probably have to come back to this early next week. Sorry about that.

I've not written any automated tests before, so I'll have to do some reading. Do you have any recommendations on sources and/or implementation?

[2017-02-16 22:01] amoeba commented on #176
A useful intro and guide is http://r-pkgs.had.co.nz/tests.html.  A couple of tests for `remBoot` that test the return value for structure and correctness would probably be enough to check off the automated tests checklist item. It would catch the type of issue I received above (if in fact my issue above was not my fault, which it may be).

If you'd like, I can stub out testing and a few basic test

[2017-02-16 22:13] arcaravaggi commented on #176
That'd be much appreciated, thank you.

What would be the best way to acknowledge your efforts as reviewer, by the way? I usually mention reviewers in the acknowledgements of my papers, but JOSS is a bit different.

[2017-02-16 22:14] amoeba commented on #176
I don't know, actually. Perhaps @karthik or someone at JOSS knows. I don't think there are any guidelines preventing you from putting acknowledgements in your `paper.md` so I'd probably put things there.

[2017-02-16 22:19] kortschak commented on #167
@brentp @pjotrp The required changes have now been made.

 http://doi.org/10.5281/zenodo.292939

[2017-02-17 08:57] arcaravaggi commented on #176
I've been unable to replicate your error this morning. I've re-downloaded the package and everything works on my end. Could you try reinstalling to see whether the error persists?

A quick note on `nboots` in `remBoot`: The function wasn't accepting the parameter if fed directly, so I've embedded the `boot_sd` function within `remBoot` and that seems to have fixed the issue. `boot_sd` is also stil

[2017-02-17 12:02] andyyao95 commented on #61
@arfon @masalmon  Hi. Very sorry about this. There was a minor error in compiling the package vignette on CRAN. I missed the reminder as it was in another email.

I've updated the package (same content, small vignette fix). I'll let you guys know when CRAN updates it. Thanks!

[2017-02-17 12:05] masalmon commented on #61
@andyyao95 great I had just copied this here in case you were MIA :wink: cool that you could solve the error!

[2017-02-17 13:37] bmcage commented on #165
I believe to have fixed up all needed issues.
1. release v2.3.0 done in normal way. Updated procedures to do releases so Zenodo picks them up, then did release v2.3.1 So the version here would best be changed to v2.3.1
2. readthedocs is still barebones at the moment aimed at the most common use. Nevertheless, link is now added to documentation section of the readme
3. community guidelines added
4.

[2017-02-17 14:08] pjotrp commented on #167
@arfon next stop

[2017-02-17 15:45] noamross commented on #174
Thanks, @arfon. Hello @jsinanshi . As Arfon noted, this package looks like it would be a great match for rOpenSci, which specializes in data-access R packages like this and has a joint submittal process with JOSS. If you are interested in this approach, you can find more info here: https://github.com/ropensci/onboarding. Let us know, otherwise we can continue with the submission just through JOSS.

[2017-02-17 16:48] amoeba commented on #176
Okay, maybe it was my fault. I'll double-check and get back to you. Thanks for the fix on the `nboots` param.

[2017-02-18 03:21] jyuan1322 commented on #179
Overall I found AncesTrim easy to install and run, and would only suggest minor changes to code documentation and error handling.

Functionality:
I tested AncesTrim using Python 2.7 on both an Ubuntu 14.04 and a MacOSX 10.11 machine and found no issues. The code functions as expected and performance is fast.

Documentation:
- The statement of need could be expanded to make the utility of the tool

[2017-02-18 10:59] dpshelio commented on #174
@noamross  - just mentioning @sinanshi (typo) and @docsteveharris to include them in the decission.

[2017-02-18 12:42] arfon commented on #167
@whedon set 10.5281/zenodo.292939 as archive

[2017-02-18 12:42] whedon commented on #167
OK. <a href="http://dx.doi.org/10.5281/zenodo.292939" target="_blank">10.5281/zenodo.292939</a> is the archive.

[2017-02-18 12:47] arfon commented on #167
@brentp & @pjotrp - many thanks for reviewing and editing this submission ✨

@kortschak - your paper is now accepted into JOSS. The DOI is http://dx.doi.org/10.21105/joss.00167 🚀 ⚡️ 💥

[2017-02-18 12:47] #167 closed

[2017-02-18 12:49] arfon commented on #135
Thanks for the clarification.

Just to let me know - I've made the change at the top of the thread here.

@mllg - Once you're ready, could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-02-18 12:49] arfon commented on #140
🎉 thanks @astrofrog.

@bhazelton - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-02-19 13:54] whedon opened #183 "[PRE REVIEW]: plotrr: Functions for making visual exploratory data analysis with nested data easier. Edit"
**Submitting author:** @cdcrabtree (<a href="http://orcid.org/0000-0001-5144-8671">Charles Crabtree</a>)
**Repository:** <a href="https://github.com/cdcrabtree/plotrr" target ="_blank">https://github.com/cdcrabtree/plotrr</a>
**Version:** v0.2.0
**Editor:** @pjotrp
**Reviewer:** @kbroman

**What this issue is for**

Thanks for submitting your paper to JOSS @cdcrabtree. The JOSS editor (shown at th

[2017-02-19 13:54] whedon commented on #183
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-02-19 13:54] arfon commented on #183
:Wave @noamross - this package looks like a potential good candidate for rOpenSci because of the focus on data visualization.

[2017-02-19 13:56] whedon opened #184 "[PRE REVIEW]: YoungTab"
**Submitting author:** @luk87 (<a href="http://orcid.org/0000-0001-9033-1345">Luca Romano</a>)
**Repository:** <a href="https://github.com/luk87/YoungTab" target ="_blank">https://github.com/luk87/YoungTab</a>
**Version:** v1.0
**Editor:** @danielskatz
**Reviewer:** @jmichel7

**What this issue is for**

Thanks for submitting your paper to JOSS @luk87. The JOSS editor (shown at the top of this iss

[2017-02-19 13:56] whedon commented on #184
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-02-19 16:00] kyleniemeyer commented on #181
@arfon 👍 can do.

[2017-02-19 16:00] kyleniemeyer commented on #181
@whedon set editor as @kyleniemeyer

[2017-02-19 16:01] kyleniemeyer commented on #181
@whedon commands

[2017-02-19 16:01] whedon commented on #181
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-02-19 16:02] kyleniemeyer commented on #181
@whedon assign @kyleniemeyer as editor

[2017-02-19 16:02] whedon commented on #181
OK, the editor is @kyleniemeyer

[2017-02-19 16:47] kyleniemeyer commented on #165
Hi @bmcage: thanks for making those changes!

1. Regarding mentioning the references in the paper, I agree the references should be mentioned directly in the text. You can see examples of this in a few past JOSS papers:

- [r3d2](http://joss.theoj.org/papers/10.21105/joss.00016)
- [PyGBe](http://joss.theoj.org/papers/10.21105/joss.00043)

2. In the other text of the paper, I noticed some inconsist

[2017-02-20 15:05] mgymrek commented on #179
Thanks @jyuan1322 for the review!

@JNisk: it would be great if you could respond to these points. Most importantly:

* making the suggested improvements to the README
* including a "--help" option to list all possible command-line arguments

[2017-02-20 15:52] JNisk commented on #179
Dear @jyuan1322 and @mgymrek,

thank you very much for your constructive criticism. I will now continue working with the script to address these issues.

Best regards,
JNisk

[2017-02-20 16:15] mllg commented on #135
I've published a new release on [CRAN](https://cran.r-project.org/package=batchtools) and [Github/Zenodo](https://zenodo.org/record/293835).

DOI is <http://doi.org/10.5281/zenodo.293835>.

[2017-02-20 20:33] bhazelton commented on #140
@arfon Here's the Zenodo badge: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.297348.svg)](https://doi.org/10.5281/zenodo.297348)

[2017-02-21 01:22] amoeba commented on #176
You had previously said:

I noticed the roxygen tags didn't match with this so I removed extra @export tags. Then I noticed `boot_sd` is used in the vignette so I exported `boot_sd`.

I tweaked this stuff and also ran and re-ran `devtools::check` and `devtools::document` until things ran smoothly (fixing issues along the way). See my PR. Unfortunately, it looks like RStudio clobbered your line end

[2017-02-21 09:09] sinanshi commented on #174
@noamross We really like the idea of submitting our package to rOpenSci. Do we need to withdraw the current JOSS submission?

[2017-02-21 16:24] arcaravaggi commented on #176
I left the export tags on the other functions as they didn't work locally without them, for some reason. If they work now, that's great, thanks.

RStudio really has done a number on my lines. I'll comb through and try to identify the changes.

[2017-02-21 17:17] amoeba commented on #176
Yeah I can re-PR with a non-borked version if you like. Are you on Windows? I have my RStudio set up to save UNIX-style line endings but it appears I can change them to Windows-style.

[2017-02-21 19:36] arcaravaggi commented on #176
I am, yes. Sorry about that.

[2017-02-21 20:31] amoeba commented on #176
I was unable to get my edits with RStudio to produce meaningful diffs so I made an issue and pasted what I was finding: https://github.com/arcaravaggi/remBoot/issues/17. Could you please take a look and look into fixing those issues?

[2017-02-21 20:34] acabunoc commented on #175
@whedon list reviewers

[2017-02-21 20:34] whedon commented on #175
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-02-21 21:42] acabunoc commented on #175
Hey @nuest & @desilinguist 👋 ! would either of you be interested in reviewing this paper? It looks like you both have CSS + R experience.

Also, @lebebr01 do you have any potential reviewers you can suggest? It's nice to have multiple reviewers

Review guidelines can be found here: http://joss.theoj.org/about#reviewer_guidelines

[2017-02-21 22:04] lebebr01 commented on #175
These two are not on the reviewer list, but perhaps @daattali or @sckott would be interested and I think would be good reviewers.

[2017-02-21 22:08] acabunoc commented on #175
Thanks @lebebr01!

@daattali & @sckott - would love to have you as reviewers! For an idea of what you'd do, reviewer guidelines: http://joss.theoj.org/about#reviewer_guidelines

[2017-02-21 22:08] desilinguist commented on #175
Sure I'd be happy to review :)
On Tue, Feb 21, 2017 at 5:04 PM Brandon LeBeau <notifications@github.com>
wrote:

[2017-02-21 22:09] acabunoc commented on #175
Sweet, thanks @desilinguist! 🎉

[2017-02-21 22:09] acabunoc commented on #175
@whedon assign @desilinguist as reviewer

[2017-02-21 22:09] whedon commented on #175
OK, the reviewer is @desilinguist

[2017-02-21 22:11] acabunoc commented on #175
I'll start the review now!

@nuest, @daattali or @sckott if any of you are interested in also reviewing (multiple reviewers is good!) let us know here and I'll add you to the review

[2017-02-21 22:11] acabunoc commented on #175
@whedon start review

[2017-02-21 22:11] whedon commented on #175
You didn't say the magic word! Try this:

[code]

[2017-02-21 22:11] acabunoc commented on #175
@whedon start review magic-word=bananas

[2017-02-21 22:11] whedon opened #185 "[REVIEW]: highlightHTML: CSS Formatting of R Markdown Documents"
**Submitting author:** @lebebr01 (<a href="http://orcid.org/0000-0002-1265-8761">Brandon LeBeau</a>)
**Repository:** <a href="https://github.com/lebebr01/highlightHTML" target ="_blank">https://github.com/lebebr01/highlightHTML</a>
**Version:** v 0.1.3
**Editor:** @acabunoc
**Reviewer:** @daattali
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1146049" target="_blank">10.5281/zenodo.114604

[2017-02-21 22:11] whedon commented on #175
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/185. Feel free to close this issue now!

[2017-02-21 22:11] whedon commented on #185
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @desilinguist it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're pr

[2017-02-21 22:41] daattali commented on #175
Hello! This package looks interesting, it's such a commonly needed tool.
Thanks for building it! I have a bit too much on my plate right now so as
terrible as this is for my PR, I'm going to stay out of the review process
and just wait to see it on CRAN :) Good luck!

---
Founder & Lead Consultant
AttaliTech Ltd
http://deanattali.com/shiny

On 21 February 2017 at 17:11, whedon <notifications@githu

[2017-02-21 23:19] amoeba commented on #176
@arcaravaggi and I worked from https://github.com/arcaravaggi/remBoot/issues/17 to address my remaining issues. I have now checked the automated tests list item as I wrote up a minimal set of regression tests. This package isn't particularly involved so a much larger test suite might not be strictly necessary.

I change my review to Accept. We need a new release of the R package to accompany the J

[2017-02-21 23:27] eteq commented on #182
Process question (maybe for @arfon, maybe for @whedon?) - should there be a PDF of the paper in the author's repo, or just the ``.md`` and ``.bib`` files (which are there already)?

[2017-02-21 23:32] arcaravaggi commented on #176
I have created a new release to accompany the JOSS review: https://github.com/arcaravaggi/remBoot/releases/tag/v0.1.0

[2017-02-22 10:59] arfon commented on #182
`.md` and `.bib` files are fine. We generally compile these at the end into a PDF.

[2017-02-22 18:07] arfon commented on #135
@whedon set 10.5281/zenodo.293835 as archive

[2017-02-22 18:07] whedon commented on #135
OK. <a href="http://dx.doi.org/10.5281/zenodo.293835" target="_blank">10.5281/zenodo.293835</a> is the archive.

[2017-02-22 18:20] arfon commented on #135
Many thanks for your reviews @masalmon and @HenrikBengtsson ✨

@mllg - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00135 :zap: 🚀 💥

[2017-02-22 18:20] #135 closed

[2017-02-22 18:22] arfon commented on #140
@whedon set 10.5281/zenodo.297348 as archive

[2017-02-22 18:22] whedon commented on #140
OK. <a href="http://dx.doi.org/10.5281/zenodo.297348" target="_blank">10.5281/zenodo.297348</a> is the archive.

[2017-02-22 18:37] arfon commented on #140
@astrofrog many thanks for the review here ✨

@bhazelton - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00140 :zap: 🚀 💥

[2017-02-22 18:37] #140 closed

[2017-02-22 22:17] eteq commented on #182
Alright, I've finished my initial review.  I've created migueldvb/cine#1,  migueldvb/cine#2, migueldvb/cine#4, migueldvb/cine#5 with detailed comments that need addressing.

One higher-level question (and the reason for the one un-checked item above) is the lack of API documentation.  I think this *might* be intentional (see migueldvb/cine#5), but if not, that needs to be rectified.

One other pro

[2017-02-23 08:41] arcaravaggi commented on #176
I have created a new figshare archive as required by JOSS: https://doi.org/10.6084/m9.figshare.4684894

Once the JOSS article is published and a DOI has been assigned, I will update the package's README with citation information, include a CITATION file, and add the JOSS article DOI to the figshare archive in the form of a comment.

It is likely that there will be developments in Random Encounter

[2017-02-23 11:32] JNisk commented on #179
To respond to the points made by @jyuan1322:

The first section of README has been modified to be more descriptive. In addition, a "before and after" image has been added for demonstration. I had thought of an image before and hesitated, but your suggestion made it apparent that this improves the README quite a bit. Also, the "Pedigree trimming principles" section now includes an example image.

E

[2017-02-23 12:30] sinanshi commented on #174
rOpenSci submission https://github.com/ropensci/onboarding/issues/102

[2017-02-23 12:39] arfon commented on #182
Great question @eteq. I'm in the same situation for many of the submissions as I make small edits to the `paper.md`files. Where I'm at on this:

- I think that minor contributions made during the process of review are OK but should not result in the reviewing becoming an author
- More major contributions which would likely warrant authorship are also OK but in this scenario then I think we'd want

[2017-02-23 12:39] arfon commented on #174
👍  we'll pause this for now then.

[2017-02-23 15:45] eteq commented on #182
Yep, sounds good @arfon - in that case no issue here as the PR I sent definitely falls in the "minor" category.

[2017-02-23 20:18] alk224 commented on #57
I haven't gotten any responses from willing individuals. To be clear for whomever does review this, you simply need a clean Ubuntu 14.04 OS installed natively or within a VM to run everything. Anyone new willing to take on this review? Please?

[2017-02-23 22:19] drpowell commented on #57
@serine, you willing to review this?

[2017-02-24 07:54] chenjqp commented on #113
Hi @mgymrek, I've committed a 'install.sh' bash script to aid in installation. Do let me know if this is ok for you.

At the moment, the script aims to assist in setting up the sample page. I'm in the midst of adding more functionalities to also assist in updating the configuration file.

[2017-02-24 08:02] andyyao95 commented on #61
It's back on CRAN [now.](https://cran.r-project.org/web/packages/walkr/index.html) (also updated on github.) Thank you guys for your patience. Let me know if anything else is needed in the review process.

Looking forward to hearing back, and have a nice day!

[2017-02-25 00:23] karantibrewal commented on #30
Hi @desilinguist,
I've tried recreating your bug in the past month on a bunch of computers but with little success -- however, I'm eager to work with you to fix this, and I appreciate your patience.

One possible reason that the package might be failing is if "dygraph" isn't set up properly on your computer. The following code snippet will test that:

--------------

library(backtestGraphics)
libr

[2017-02-25 01:26] jyuan1322 commented on #179
Great! The readme is excellent. Everything looks good to me. :)

[2017-02-25 14:11] whedon opened #186 "[PRE REVIEW]: MSMExplorer: Data Visualizations for Biomolecular Dynamics"
**Submitting author:** @cxhernandez (<a href="http://orcid.org/0000-0002-8146-5904">Carlos Xavier Hernández</a>)
**Repository:** <a href="https://github.com/msmexplorer/msmexplorer" target ="_blank">https://github.com/msmexplorer/msmexplorer</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewer:** @anotherjoshsmith

**What this issue is for**

Thanks for submitting your paper to JOSS @cxhernandez

[2017-02-25 14:11] whedon commented on #186
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-02-25 14:11] arfon commented on #186
👋 @arokem - would you be willing to edit this submission for JOSS?

[2017-02-25 14:12] whedon opened #187 "[PRE REVIEW]: spatial-efd: A spatial-aware implementation of elliptical Fourier analysis"
**Submitting author:** @sgrieve (<a href="http://orcid.org/0000-0003-1893-7363">Stuart Grieve</a>)
**Repository:** <a href="https://github.com/sgrieve/spatial_efd" target ="_blank">https://github.com/sgrieve/spatial_efd</a>
**Version:** v1.0.3
**Editor:** @cmadan
**Reviewer:** @jsta

**What this issue is for**

Thanks for submitting your paper to JOSS @sgrieve. The JOSS editor (shown at the top of

[2017-02-25 14:12] whedon commented on #187
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-02-25 14:13] danielskatz commented on #186
If @arokem doesn't want it, I would be happy to take it.

[2017-02-25 18:41] eteq commented on #182
@migueldvb - just to clarify in case you missed it above: migueldvb/cine#1 and migueldvb/cine#5 are currently awaiting response. Depending on the answer to migueldvb/cine#5, there *may* be additional documentation requirements, but once those issues are addressed, I think this is good to go.

[2017-02-25 19:51] arokem commented on #186
Actually, I'd be happy to edit this! And I have a potential reviewer in mind...

@anotherjoshsmith, would you like to review this paper for JOSS (see: http://joss.theoj.org/about#reviewer_guidelines)?

[2017-02-26 11:49] arfon commented on #186
@whedon assign @arokem as editor

[2017-02-26 11:50] whedon commented on #186
OK, the editor is @arokem

[2017-02-26 12:27] sgrieve commented on #187
@whedon commands

[2017-02-26 12:27] whedon commented on #187
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-02-26 21:53] serine commented on #57
Thanks @drpowell, @alk224 yeh I'll be keen to do it. I've done a bit of work on S16 like profiling (viruses instead of bacteria) and used usearch and its related tools, but I also used vsearch faily extensively. My qiime knowledge are more theoretical then practical, never the less I've used most of the tools that qiime wraps around and will be happy to write it up.

p.s @alk224 easy and clean ins

[2017-02-27 01:28] cMadan commented on #187
@whedon assign @cmadan as editor

[2017-02-27 01:28] whedon commented on #187
OK, the editor is @cmadan

[2017-02-27 01:29] cMadan commented on #187
@whedon list reviewers

[2017-02-27 01:29] whedon commented on #187
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-02-27 01:33] cMadan commented on #187
@tacaswell, @decvalts, @Mankoff, @sealhuang, @jsta - would any of you be interested/available to be a reviewer for this submission? Thanks!

[2017-02-27 01:34] cMadan commented on #146
@raamana, @JohnGriffiths - are either of you able to review this submission?

[2017-02-27 01:43] labarba commented on #151
@jflorence Hi there—would you give us an update here of what your assessment is so far? I see that you've been ticking off items on the review checklist, yet some remain. Can you summarize the status of this review? Thanks!

[2017-02-27 13:05] arfon commented on #57
@whedon assign @serine as reviewer

[2017-02-27 13:05] whedon commented on #57
OK, the reviewer is @serine

[2017-02-27 13:06] arfon commented on #57
Wonderful, thanks @serine. Please take a look at the reviewer guidelines (http://joss.theoj.org/about#reviewer_guidelines) to get started. Basically, you just need to work through the check list above as you proceed. Feel free to ask questions here of the submitting authors.

[2017-02-27 13:40] jsta commented on #187
I would be interested in reviewing. This technique looks fascinating and very useful!

[2017-02-27 13:58] JNisk commented on #179
Thank you @jyuan1322! Should I now deposit the up-to-date repository to an archive or do I wait for the editor @mgymrek to accept this?

Best regards,
JNisk

[2017-02-27 14:45] JohnGriffiths commented on #146
Trying to but so far haven't been able to install

https://github.com/elabftw/elabftw/issues/349

[2017-02-27 15:42] alk224 commented on #57
@serine Thanks so much!

miniconda install came after I started working on this. The installer here: https://github.com/alk224/akutils_ubuntu_installer as per the instructions here: http://alk224.github.io/akutils-v1.2/ will do all of the work for you.

QIIME2 will be released pretty soon, yes, but this is all based on 1.9/1.9.1 so if it doesn't get out soon it will be obsolete. The QIIME team hav

[2017-02-27 16:38] anotherjoshsmith commented on #186
Sounds like an exciting tool. @arokem I'd be happy to review.

[2017-02-27 17:30] pjotrp commented on #183
@arfon I can edit this one if you like.

[2017-02-27 18:25] arokem commented on #186
@whedon assign @anotherjoshsmith as reviewer

[2017-02-27 18:25] whedon commented on #186
OK, the reviewer is @anotherjoshsmith

[2017-02-27 19:28] noamross commented on #183
@arfon Thanks. This doesn't meet the threshold for us as an extension beyond base or ggplot graphics.

[2017-02-27 19:42] arfon commented on #183
@whedon assign @pjotrp as editor

[2017-02-27 19:42] whedon commented on #183
OK, the editor is @pjotrp

[2017-02-27 19:43] arfon commented on #183
Thanks @pjotrp.

[2017-02-27 19:43] arfon commented on #186
@whedon start review magic-word=bananas

[2017-02-27 19:43] whedon opened #188 "[REVIEW]: MSMExplorer: Data Visualizations for Biomolecular Dynamics"
**Submitting author:** @cxhernandez (<a href="http://orcid.org/0000-0002-8146-5904">Carlos Xavier Hernández</a>)
**Repository:** <a href="https://github.com/msmexplorer/msmexplorer" target ="_blank">https://github.com/msmexplorer/msmexplorer</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewer:** @anotherjoshsmith
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.439774" target="_blank">10.

[2017-02-27 19:43] whedon commented on #186
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/188. Feel free to close this issue now!

[2017-02-27 19:43] whedon commented on #188
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @anotherjoshsmith it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you'r

[2017-02-27 19:44] arfon commented on #186
@arokem @anotherjoshsmith please head over to #188 to actually carry out the review.

[2017-02-27 19:44] #186 closed

[2017-02-27 21:00] serine commented on #57
@arfon great, I'll get into it

[2017-02-27 21:18] cMadan commented on #146
@JohnGriffiths - thanks for the update!

[2017-02-27 21:19] cMadan commented on #187
@jsta - much appreciated, I'll assign you as the reviewer and start the review process :)

[2017-02-27 21:19] cMadan commented on #187
@whedon assign @jsta as reviewer

[2017-02-27 21:19] whedon commented on #187
OK, the reviewer is @jsta

[2017-02-27 21:20] cMadan commented on #187
@whedon start review

[2017-02-27 21:20] whedon commented on #187
You didn't say the magic word! Try this:

[code]

[2017-02-27 21:20] cMadan commented on #187
@whedon start review magic-word=bananas

[2017-02-27 21:20] whedon commented on #187
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/189. Feel free to close this issue now!

[2017-02-27 21:20] whedon opened #189 "[REVIEW]: spatial-efd: A spatial-aware implementation of elliptical Fourier analysis"
**Submitting author:** @sgrieve (<a href="http://orcid.org/0000-0003-1893-7363">Stuart Grieve</a>)
**Repository:** <a href="https://github.com/sgrieve/spatial_efd" target ="_blank">https://github.com/sgrieve/spatial_efd</a>
**Version:** v1.0.3
**Editor:** @cmadan
**Reviewer:** @jsta
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.322453" target="_blank">10.5281/zenodo.322453</a>

## Status

[2017-02-27 21:20] whedon commented on #189
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jsta it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably c

[2017-02-27 21:20] #187 closed

[2017-02-27 21:23] cMadan commented on #189
@jsta - As you've done before, the reviewer guidelines are here: http://joss.theoj.org/about#reviewer_guidelines. For the most part you need to see if the statements above in the first post are true and check things off accordingly (as you've already started). If something isn't the case, or you otherwise have a suggestion, just post a comment to @sgrieve here (or ask me) and we'll sort things out

[2017-02-27 21:41] jyuan1322 commented on #179
I think wait for @mgymrek - I'm not sure exactly what the procedure is.

[2017-02-27 22:18] migueldvb commented on #182
@eteq thank you for the review.

I have clarified that the code is supposed to be run as a script in the README file. In the future it could be useful to be imported into python when defining the input model using python in the excitation code LIME is available. There is some work done in this direction but it has not yet been merged into LIME and this may take some time...

The missing orcid in t

[2017-02-28 08:53] pjotrp commented on #183
I am asking around for reviewers.

[2017-02-28 13:33] pjotrp commented on #183
@whedon assign @kbroman as reviewer

[2017-02-28 13:33] whedon commented on #183
OK, the reviewer is @kbroman

[2017-02-28 13:33] pjotrp commented on #183
@whedon start review magic-word=bananas

[2017-02-28 13:33] whedon commented on #183
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/190. Feel free to close this issue now!

[2017-02-28 13:33] whedon opened #190 "[REVIEW]: plotrr: Functions for making visual exploratory data analysis with nested data easier. Edit"
**Submitting author:** @cdcrabtree (<a href="http://orcid.org/0000-0001-5144-8671">Charles Crabtree</a>)
**Repository:** <a href="https://github.com/cdcrabtree/plotrr" target ="_blank">https://github.com/cdcrabtree/plotrr</a>
**Version:** v0.2.0
**Editor:** @pjotrp
**Reviewer:** @kbroman
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.344900" target="_blank">10.5281/zenodo.344900</a>

## St

[2017-02-28 13:33] whedon commented on #190
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kbroman it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-02-28 13:34] pjotrp commented on #183
All set. Use the link above.

[2017-02-28 13:34] #183 closed

[2017-02-28 13:34] pjotrp commented on #190
@whedon assign @kbroman as reviewer

[2017-02-28 13:35] whedon commented on #190
OK, the reviewer is @kbroman

[2017-02-28 14:28] arcaravaggi commented on #176
@amoeba What happens with the submission, now?

[2017-02-28 15:10] amoeba commented on #176
@whedon commands

[2017-02-28 15:10] whedon commented on #176
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-02-28 15:15] arfon commented on #176
I think next steps are on me now to accept this submission.

@arcaravaggi - nope. This is totally fine 😁

[2017-02-28 15:15] amoeba commented on #176
Thanks @arfon!

[2017-02-28 15:16] arcaravaggi commented on #176
Thanks, @arfon. Sorry if I appeared impatient - I was just unsure. Thanks for the clarification, too.  :)

[2017-02-28 15:54] arfon commented on #176
@whedon assign 10.6084/m9.figshare.4684894 as archive

[2017-02-28 15:55] arfon commented on #176
@whedon set 10.6084/m9.figshare.4684894 as archive

[2017-02-28 15:55] whedon commented on #176
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.4684894" target="_blank">10.6084/m9.figshare.4684894</a> is the archive.

[2017-02-28 15:58] arfon commented on #176
@arcaravaggi - could you please move your references into a `paper.bib` file and cite them inline from the `paper.md` markdown file? We compile the paper using pandoc which handles the production of the PDF etc.

[2017-02-28 17:12] arfon commented on #176
@amoeba many thanks for reviewing this submission ✨

@arcaravaggi - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00176 :zap: 🚀 💥

[2017-02-28 17:12] #176 closed

[2017-02-28 17:31] arcaravaggi commented on #176
Thanks, @arfon. Thanks for all your efforts, @amoeba. ✨

[2017-02-28 18:26] amoeba commented on #176
It was a pleasure working with you @arcaravaggi ! Congratulations.

[2017-02-28 23:47] jsta commented on #189
@cMadan @sgrieve Looks good to me. I made several style suggestions in the repo issue thread (https://github.com/sgrieve/spatial_efd/issues/1) but overall I think this paper is good to go. :+1:

[2017-03-01 01:21] kbroman commented on #190
I sent @cdcrabtree a pull request with several small changes, plus added a couple of issues with a few other minor suggestions.

Removing `\dontrun{}` from the examples would make it so `R CMD check` would give at least the simplest tests, of whether the functions can run without giving an error.

It would be great if the authors could add a formal [vignette](http://kbroman.org/pkg_primer/pages/vi

[2017-03-01 07:28] cdcrabtree commented on #190
@kbroman Thanks for the helpful suggestions and changes. We've just finished going through and incorporating your pull request, addressing the issues, and addressing your comments here. We've updated the version number of the software to reflect these changes and creates a NEWS file that enumerates them. Specific to your comments here, we've removed all instances of `dontrun{}`, added a vignette t

[2017-03-01 14:37] kbroman commented on #190
Looks great, @cdcrabtree!

[2017-03-01 14:57] cdcrabtree commented on #190
Thanks, @kbroman! Is there anything else that we need to do at this point?

[2017-03-01 19:31] jflorence commented on #151
@labarba @TermosPullo Hello,
Here is my assessment so far:
I would grade the software as MINOR REVISIONS needed.
Mostly, those revisions are in the documentation.
The detail of those can be found as issues 336, 337, 338, 339, 340 on the SW's issues tracker https://kactus2.cs.tut.fi/issues/

Overall, the software meets the criteria of the JOSS.

To address the specific concern you had about whether

[2017-03-02 10:41] kweis commented on #102
Apologies for the delay, I should have an update here quite soon

[2017-03-02 16:32] cMadan commented on #189
@jsta - awesome, thank you!
@sgrieve - let me know if you're set and I'll do a final pass to confirm that everything follows JOSS' guidelines

[2017-03-02 17:15] sgrieve commented on #189
@cMadan - Everything is done on my end. I have just incremented the version number and updated the package on pypi, so everything is good to go!

[2017-03-02 20:36] arokem commented on #188
@arfon : why does this say "Does the release version given match the GitHub release (v1.0.0)?"?

The current release version on Github is 0.3. Where does the `1.0.0` come from?

[2017-03-02 20:58] cxhernandez commented on #188
@arokem: That's my fault. My intention was to hold off on making a v1.0.0 release until the review is done. In my previous experience with JOSS, the reviewer at the time requested additional functionality to package, and it required us to cut a new release anyways.

[2017-03-02 23:48] arokem commented on #188
Gotcha - thanks! That means that @anotherjoshsmith should go through everything else, wait until everything else is in order, and then wait for you to cut a v1.0.0 before checking that box. Is that your intention?

[2017-03-02 23:52] cxhernandez commented on #188
Yeah, that would be great!

[2017-03-03 15:47] desilinguist commented on #185
It would be really useful if there was some example included in the repository and in the README that made it easy to try out this package. `vignette(highlightHTML)` also doesn't show me how to use this. What does the `tags` argument take in the `highlight_html()` function? The README just says that it takes a "Vector of CSS code" which is not very helpful.

It'd be really helpful if a usage examp

[2017-03-04 15:38] whedon opened #191 "[PRE REVIEW]: hdbscan: A high performance implementation of HDBSCAN* clustering."
**Submitting author:** @lmcinnes (<a href="http://orcid.org/0000-0003-2143-6834">Leland McInnes</a>)
**Repository:** <a href="https://github.com/scikit-learn-contrib/hdbscan" target ="_blank">https://github.com/scikit-learn-contrib/hdbscan</a>
**Version:** v0.8.8
**Editor:** @danielskatz
**Reviewer:** @zhaozhang

**What this issue is for**

Thanks for submitting your paper to JOSS @lmcinnes. The J

[2017-03-04 15:38] whedon commented on #191
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-04 15:38] arfon commented on #191
👋 @jakevdp - would you be able to edit this one?

[2017-03-04 15:39] whedon opened #192 "[PRE REVIEW]: Fitting a Gamma-Gompertz survival model to capture-recapture data collected on free-ranging animal populations"
**Submitting author:** oliviergimenez (<a href="http://orcid.org/0000-0001-7001-5142">Olivier Gimenez</a>)
**Repository:** <a href="https://github.com/oliviergimenez/GammaGompertzCR" target ="_blank">https://github.com/oliviergimenez/GammaGompertzCR</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewer:** @bbolker

**What this issue is for**

Thanks for submitting your paper to JOSS oliviergimen

[2017-03-04 15:39] whedon commented on #192
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-04 15:40] arfon commented on #192
👋 @karthik - would you be able to edit this one?

[2017-03-04 15:40] whedon opened #193 "[PRE REVIEW]: lawn: An R client for the Turf Javascript Library for Geospatial Analysis"
**Submitting author:** @jhollist (<a href="http://orcid.org/0000-0002-9254-9740">Jeffrey W Hollister</a>)
**Repository:** <a href="https://github.com/ropensci/lawn" target ="_blank">https://github.com/ropensci/lawn</a>
**Version:** v0.3.1
**Editor:** @arfon
**Reviewer:** @arfon

**What this issue is for**

Thanks for submitting your paper to JOSS @jhollist. The JOSS editor (shown at the top of thi

[2017-03-04 15:40] whedon commented on #193
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-03-04 15:40] arfon commented on #193
@whedon assign @arfon as reviewer

[2017-03-04 15:41] arfon commented on #193
@whedon commands

[2017-03-04 15:41] whedon commented on #193
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-04 15:41] arfon commented on #193
@whedon assign @arfon as reviewer

[2017-03-04 15:41] whedon commented on #193
OK, the reviewer is @arfon

[2017-03-04 15:41] arfon commented on #193
@whedon start review magic-word=bananas

[2017-03-04 15:41] whedon commented on #193
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/194. Feel free to close this issue now!

[2017-03-04 15:41] whedon opened #194 "[REVIEW]: lawn: An R client for the Turf Javascript Library for Geospatial Analysis"
**Submitting author:** @jhollist (<a href="http://orcid.org/0000-0002-9254-9740">Jeffrey W Hollister</a>)
**Repository:** <a href="https://github.com/ropensci/lawn" target ="_blank">https://github.com/ropensci/lawn</a>
**Version:** v0.3.1
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.345991" target="_blank">10.5281/zenodo.345991</a>

## Status

[![s

[2017-03-04 15:41] #193 closed

[2017-03-04 15:41] whedon commented on #194
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-03-04 15:42] whedon opened #195 "[PRE REVIEW]: bíogo/ncbi: interfaces to NCBI services for the Go language"
**Submitting author:** @kortschak (<a href="http://orcid.org/0000-0001-8295-2301">Robert Daniel Kortschak</a>)
**Repository:** <a href="https://github.com/biogo/ncbi" target ="_blank">https://github.com/biogo/ncbi</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @ngoto

**What this issue is for**

Thanks for submitting your paper to JOSS kortschak. The JOSS editor (shown at the top of thi

[2017-03-04 15:42] whedon commented on #195
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-04 15:42] arfon commented on #195
👋 @pjotrp @mgymrek @biorelated - would one of you be willing to edit this submission?

[2017-03-04 15:43] whedon opened #196 "[PRE REVIEW]: Automated Material Parameter Detection Under Compressive and Tensile Deformation Conditions"
**Submitting author:** @ednusi (<a href="http://orcid.org/0000-0002-7527-4474">Edward Nusinovich</a>)
**Repository:** <a href="https://github.com/ednusi/MatPy" target ="_blank">https://github.com/ednusi/MatPy</a>
**Version:** v1.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS @ednusi. The JOSS editor (shown at the

[2017-03-04 15:43] whedon commented on #196
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-04 15:43] arfon commented on #196
👋 @kyleniemeyer @Kevin-Mattheus-Moerman would either of you be willing to edit this submission?

[2017-03-04 20:02] Kevin-Mattheus-Moerman commented on #196
I can take this as editor. @kyleniemeyer would you be able to review this?

[2017-03-04 20:02] Kevin-Mattheus-Moerman commented on #196
@whedon commands

[2017-03-04 20:02] whedon commented on #196
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-04 20:03] Kevin-Mattheus-Moerman commented on #196
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-03-04 20:03] whedon commented on #196
OK, the editor is @Kevin-Mattheus-Moerman

[2017-03-04 20:04] kyleniemeyer commented on #196
@Kevin-Mattheus-Moerman tbh this would be a bit of a stretch in terms of domain for me—can you try finding some other reviewers first?

[2017-03-04 20:07] Kevin-Mattheus-Moerman commented on #196
@kyleniemeyer, sure. @ednusi if at this point you want to suggest any reviewers let me know.

[2017-03-04 20:15] ednusi commented on #196
Not sure, but from the people on the site, maybe it's close to Lorena
Barba's research?

In a nutshell, the software includes (among other things) the automation of
what has often been a manual and subjective process: determining the yield
stress of a material when only given stress strain data.

On Sat, Mar 4, 2017 at 3:07 PM, Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Edward N

[2017-03-04 20:15] kyleniemeyer commented on #196
@whedon list reviewers

[2017-03-04 20:15] whedon commented on #196
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-03-04 20:19] ednusi commented on #196
Oh, ok, from this list maybe: krother, moorepants, katyhuff, or jkahn

On Sat, Mar 4, 2017 at 3:15 PM, whedon <notifications@github.com> wrote:

--
Edward Nusinovich
B.S. in Mathematics
University of Maryland, College Park
Cell: 240-672-1690
Home: 301-424-0820
edward.nusinovich@gmail.com

[2017-03-04 20:20] kyleniemeyer commented on #196
We can ask a current JOSS reviewer, but also generally like to bring in someone that might bring in more domain experience (if not available in the list). Do you have any colleagues you could recommend as well?

[2017-03-04 20:22] ednusi commented on #196
Unfortunately I don't think so, my lab mentor (who might be the most
appropriate to ask) has had a leave of absence from NIST where I conducted
the research.

On Sat, Mar 4, 2017 at 3:20 PM, Kyle Niemeyer <notifications@github.com>
wrote:

--
Edward Nusinovich
B.S. in Mathematics
University of Maryland, College Park
Cell: 240-672-1690
Home: 301-424-0820
edward.nusinovich@gmail.com

[2017-03-04 20:23] kyleniemeyer commented on #196
@ednusi Ah, that would probably be a conflict of interest—I was thinking more of someone externally you know working in the same/similar area, like someone you would suggest as a reviewer for a paper using this software. If you can't think of anyone, that's ok—we can use our reviewer pool.

[2017-03-04 20:25] ednusi commented on #196
Oh, I see. I wish I could suggest someone, I'm actually a student focusing
in Applied Math, so most researchers I know outside of the lab where I
worked are doing very disparate research from what I did over the summer,
sorry about that!

On Sat, Mar 4, 2017 at 3:23 PM, Kyle Niemeyer <notifications@github.com>
wrote:

--
Edward Nusinovich
B.S. in Mathematics
University of Maryland, College Park
Ce

[2017-03-04 20:49] arfon commented on #190
@cdcrabtree - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-03-05 00:52] cdcrabtree commented on #190
@arfon Here is the Zenodo DOI: 10.5281/zenodo.344900. We plan on making future updates to this package. Is there a way of updating the DOI as we move forward? Or is it always pegged to the reviewed software release? Thanks!

[2017-03-05 11:15] pjotrp commented on #190
It is pegged. One advantage is that you can submit a new paper on a future release.

[2017-03-05 12:39] arfon commented on #190
@whedon set 10.5281/zenodo.344900 as archive

[2017-03-05 12:39] whedon commented on #190
OK. <a href="http://dx.doi.org/10.5281/zenodo.344900" target="_blank">10.5281/zenodo.344900</a> is the archive.

[2017-03-05 12:49] arfon commented on #190
@cdcrabtree - could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-03-05 15:04] sagetrey commented on #190
Unsubscribe

Sent from my iPhone

[2017-03-05 15:45] cdcrabtree commented on #190
@arfon We've now done that.

[2017-03-06 00:27] eteq commented on #182
Alright, great @migueldvb.

@arfon, the author has addressed my concerns, so I think I can recommend this paper for acceptance.  There is one question remaining, though: as indicated in migueldvb/cine#1, one of the co-authors doesn't have an orcid yet, but @migueldvb thinks he might get one later.  Is it possible to update the author list after the facts and have whatever metadata is relevant be u

[2017-03-06 00:44] arfon commented on #182
It's now or never I'm afraid. We only update paper metadata if there's been an error with a submission.

[2017-03-06 00:46] arfon commented on #194
@jhollist - could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-03-06 00:48] jhollist commented on #194
Yep.  First thing in the AM!

On Mar 5, 2017 7:46 PM, "Arfon Smith" <notifications@github.com> wrote:

[2017-03-06 00:59] arfon commented on #190
Thanks for your review @kbroman and editing this submission @pjotrp ✨
@cdcrabtree your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00190 ⚡️ 🚀 💥

[2017-03-06 00:59] #190 closed

[2017-03-06 01:02] cdcrabtree commented on #190
Thanks @arfon, @pjotrp, and @kbroman for a great submission experience.

@arfon, if I can help by reviewing something in the future, please let me know. Thanks.

[2017-03-06 01:04] arfon commented on #190
Thanks @cdcrabtree. Please could you add yourself to this file? That way we'll know to call on you sometime in the future: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-03-06 03:03] cMadan commented on #189
@whedon set 10.5281/zenodo.322453 as archive

[2017-03-06 03:04] whedon commented on #189
OK. <a href="http://dx.doi.org/10.5281/zenodo.322453" target="_blank">10.5281/zenodo.322453</a> is the archive.

[2017-03-06 03:07] cMadan commented on #189
@sgrieve - Congratulations, I'm happy to accept your submission in it's current form

@jsta - Thank you for reviewing this submission

@arfon - We're all set to accept here! :)

[2017-03-06 03:40] migueldvb commented on #182
I was also wondering if the paper could be updated with the orcid
identifier later...

If the paper can be accepted as it is with a missing orcid for one author,
I would go ahead without it and close the issue in the repo.

On Sunday, March 5, 2017, Arfon Smith <notifications@github.com> wrote:

whatever metadata is relevant be updated, or is the orcid a now-or-nothing
thing?

been an error with a

[2017-03-06 10:00] sgrieve commented on #189
That's great news! Thanks for the help and suggestions @jsta  and @cMadan

[2017-03-06 13:48] labarba commented on #151
Thank you for your review, @jflorence !!

@TermosPullo Back to you. Minor revisions, as described above. Let us know here when you think the revision is ready.

[2017-03-06 14:23] arfon commented on #182
It can.

@migueldvb - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-03-06 14:49] lebebr01 commented on #185
Thanks for the comments. I agree, the README could have been better. This has been updated to reflect three things, installation is focused more on the CRAN version. Secondly, an example has been pulled from the vignette to remove the vague line about the tags argument. Third, description about installing the vignettes from the development version was added as well.

A second note, there is a vign

[2017-03-06 15:29] katyhuff commented on #166
@psesh, how are the edits going?

[2017-03-06 18:03] migueldvb commented on #182
@arfon I have made a DOI for the v0.2.1 release with Zenodo:
https://doi.org/10.5281/zenodo.345982

The title in the markdown paper file is changed to be more especific, 'Cine: line excitation by infrared fluorescence in cometary atmospheres', could you update it in the submission?

[2017-03-06 20:21] migueldvb commented on #102
Thanks @kweis I have updated the issue checklist at the top of the review with the current status of the package. I will be glad to review the updated version when it is ready.

[2017-03-07 11:51] arfon commented on #189
Many thanks for the review here @jsta and for editing this submission @cMadan ✨

@sgrieve - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00189 ⚡️ 🚀 💥

[2017-03-07 11:51] #189 closed

[2017-03-07 11:53] arfon commented on #182
@whedon set 10.5281/zenodo.345982 as archive

[2017-03-07 11:53] whedon commented on #182
OK. <a href="http://dx.doi.org/10.5281/zenodo.345982" target="_blank">10.5281/zenodo.345982</a> is the archive.

[2017-03-07 12:00] arfon commented on #182
Many thanks for the excellent review here @eteq ✨

@migueldvb - your paper is now accepted into JOSS and the DOI is http://dx.doi.org/10.21105/joss.00182 ⚡️ 🚀 💥

[2017-03-07 12:00] #182 closed

[2017-03-07 12:02] whedon opened #197 "[PRE REVIEW]: `learningCurve`: An implementation of Crawford's and Wright's learning curve production functions"
**Submitting author:** @bradleyboehmke (<a href="http://orcid.org/0000-0002-3611-8516">Bradley Boehmke</a>)
**Repository:** <a href="https://github.com/Auburngrads/learningCurve" target ="_blank">https://github.com/Auburngrads/learningCurve</a>
**Version:** v1.1.1
**Editor:** @arfon
**Reviewer:** @TJBihl

**What this issue is for**

Thanks for submitting your paper to JOSS @bradleyboehmke. The JOS

[2017-03-07 12:02] whedon commented on #197
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-07 12:02] whedon opened #198 "[PRE REVIEW]: VCC: A framework for building containerized reproducible cluster software environments"
**Submitting author:** @joshiggins (<a href="http://orcid.org/0000-0003-1551-5552">Joshua Higgins</a>)
**Repository:** <a href="https://github.com/hpchud/vccjs" target ="_blank">https://github.com/hpchud/vccjs</a>
**Version:** v1.0
**Editor:** @pjotrp
**Reviewer:** @brainstorm

**What this issue is for**

Thanks for submitting your paper to JOSS @joshiggins. The JOSS editor (shown at the top of th

[2017-03-07 12:02] whedon commented on #198
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-07 12:02] whedon opened #199 "[PRE REVIEW]: Weave.jl: Scientific Reports Using Julia"
**Submitting author:** @mpastell (<a href="http://orcid.org/0000-0002-5810-4801">Matti Pastell</a>)
**Repository:** <a href="https://github.com/mpastell/weave.jl" target ="_blank">https://github.com/mpastell/weave.jl</a>
**Version:** v0.4.0
**Editor:** @arfon
**Reviewer:** @vchuravy

**What this issue is for**

Thanks for submitting your paper to JOSS @mpastell. The JOSS editor (shown at the top o

[2017-03-07 12:02] whedon commented on #199
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-07 12:02] whedon opened #200 "[PRE REVIEW]: Virtual Bumblebees"
**Submitting author:** @howardjp (<a href="http://orcid.org/0000-0003-4530-1547">James P. Howard, II</a>)
**Repository:** <a href="https://github.com/howardjp/bumblebees" target ="_blank">https://github.com/howardjp/bumblebees</a>
**Version:** 1.1
**Editor:** @arfon
**Reviewer:** @pjotrp

**What this issue is for**

Thanks for submitting your paper to JOSS howardjp. The JOSS editor (shown at the t

[2017-03-07 12:02] whedon commented on #200
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-07 12:04] arfon commented on #194
@whedon set 10.5281/zenodo.345991 as archive

[2017-03-07 12:04] whedon commented on #194
OK. <a href="http://dx.doi.org/10.5281/zenodo.345991" target="_blank">10.5281/zenodo.345991</a> is the archive.

[2017-03-07 12:08] arfon commented on #194
@jhollist - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00194 ⚡️ 🚀 💥

[2017-03-07 12:08] #194 closed

[2017-03-07 12:12] jhollist commented on #194
Awesome!  Thanks, @arfon.

On Mar 7, 2017 7:08 AM, "Arfon Smith" <notifications@github.com> wrote:

[2017-03-07 12:37] bradleyboehmke commented on #197
@whedon commands

[2017-03-07 12:37] whedon commented on #197
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-07 12:45] bradleyboehmke commented on #197
@arfon , not sure if you'll be the editor on this submission but I know last time you had asked for potential reviewers that were familiar with the mathematical/statistical area that our R package focused on.  For this submission, [Trevor Bihl](https://github.com/TJBihl) (trevor.bihl@gmail.com) would be a good candidate for review.

[2017-03-07 18:56] mgymrek commented on #179
@arfon I think we can accept this.

@JNisk I believe next is to make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive.

[2017-03-07 18:59] mgymrek commented on #113
Thanks @chenjqp. I'll take a look this week at the install script.

[2017-03-08 02:43] psesh commented on #166
Hi @katyhuff almost done, will be done by Sunday hopefully :)

[2017-03-08 10:20] JNisk commented on #179
I have now archived version 1.1, and the DOI is **10.5281/zenodo.375807**. I also updated the codemeta.json with the DOI.

Best regards,
JNisk

[2017-03-08 11:08] arfon commented on #179
@whedon set 10.5281/zenodo.375807 as archive

[2017-03-08 11:08] whedon commented on #179
OK. <a href="http://dx.doi.org/10.5281/zenodo.375807" target="_blank">10.5281/zenodo.375807</a> is the archive.

[2017-03-08 11:18] arfon commented on #179
@jyuan1322 many thanks for your review here and @mgymrek for editing this submission ✨

@JNisk - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00179 ⚡️ 🚀 💥

[2017-03-08 11:18] #179 closed

[2017-03-08 11:19] arfon commented on #197
:wave: @TJBihl - would you be willing to review this submission for JOSS? You can read more about what that involves here: http://joss.theoj.org/about#reviewer_guidelines

[2017-03-08 14:10] whedon opened #201 "[PRE REVIEW]: Text-Fabric: Text representation for text with stand-off annotations and linguistic features"
**Submitting author:** @dirkroorda (<a href="http://orcid.org/0000-0002-2680-8724">Dirk Roorda</a>)
**Repository:** <a href="https://github.com/ETCBC/text-fabric" target ="_blank">https://github.com/ETCBC/text-fabric</a>
**Version:** v2.3.6
**Editor:** @acabunoc
**Reviewer:** @47rooks

**What this issue is for**

Thanks for submitting your paper to JOSS @dirkroorda. The JOSS editor (shown at the t

[2017-03-08 14:10] whedon commented on #201
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-08 21:59] TJBihl commented on #197
Yes, I am up for reviewing it.

[2017-03-09 00:18] arfon commented on #197
Wonderful, thanks!

[2017-03-09 00:19] arfon commented on #197
@whedon assign @arfon as editor

[2017-03-09 00:19] whedon commented on #197
OK, the editor is @arfon

[2017-03-09 00:19] arfon commented on #197
@whedon assign @TJBihl as reviewer

[2017-03-09 00:19] whedon commented on #197
OK, the reviewer is @TJBihl

[2017-03-09 00:19] arfon commented on #197
@whedon start review magic-word=bananas

[2017-03-09 00:19] whedon commented on #197
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/202. Feel free to close this issue now!

[2017-03-09 00:19] whedon opened #202 "[REVIEW]: `learningCurve`: An implementation of Crawford's and Wright's learning curve production functions"
**Submitting author:** @bradleyboehmke (<a href="http://orcid.org/0000-0002-3611-8516">Bradley Boehmke</a>)
**Repository:** <a href="https://github.com/Auburngrads/learningCurve" target ="_blank">https://github.com/Auburngrads/learningCurve</a>
**Version:** v1.1.1
**Editor:** @arfon
**Reviewer:** @TJBihl
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.570062" target="_blank">10.5281/zenodo.

[2017-03-09 00:19] whedon commented on #202
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @TJBihl it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-03-09 00:19] arfon commented on #197
@TJBihl - please carry out the review over in #202.

[2017-03-09 00:19] #197 closed

[2017-03-09 05:00] mgymrek commented on #113
Thanks for the install script, this was helpful. I was able to get this installed, but still haven't successfully run it. I can get the webserver started with the sample data in the install script, but when I launch it I just see a Google login button. When I press I get a 400 error with the message "origin_mismatch." Any suggestions?

A couple other comments:
* There is still a significant part o

[2017-03-09 10:14] serine commented on #57
@alk224 Hey sorry took a bit of time to get to this and I also mis-understood what I was reviewing.. I got it :). Your lience missing year and holder

```Copyright (c) <year> <copyright holders>``` bottom of the licence file

[2017-03-09 10:24] serine commented on #57
@alk224 with your git repo. It's a little confusing (to me at least). Usually you'd have a single repo e.g `akutils` and `git clone http://blah/akults.git` and then you have branches and tags (releases) with different versions. I can see that you have at least one other akutils repo - [akutils-v1.1.1](https://github.com/alk224/akutils-v1.1.1). I'm sure you have a reason for that, but little confus

[2017-03-09 10:40] serine commented on #57
Am I missing something.. but can't get it going...

[code]

I can get it going this way, but then I get stuck at the config step and it just hangs there

[code]

[2017-03-09 11:23] luk87 commented on #184
@whedon commands

[2017-03-09 11:23] whedon commented on #184
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-09 11:30] serine commented on #57
One other thing before I go to bed.. me personaly I don't like that you "silently" append stuff to `~/.bashrc`.  It's nice thought, but

[2017-03-09 11:32] serine commented on #57
@arfon didn't meant to close this issue... my mistake, sorry

[2017-03-09 15:45] alk224 commented on #57
@serine Sorry about the confusion and the .bashrc. I can add in the license information.

Sometimes the source .bashrc doesn't seem to work and you just have to do a reboot. Also, I've had a few of the sources from the install script miss something this time or that and then just rerun the installer and it usually fills everything in. The .bashrc changes are meant to make it easy to use the akutil

[2017-03-09 15:46] alk224 commented on #57
@serine meant to use a code block there. Do:

    akutils update

[2017-03-09 22:52] serine commented on #57
@alk224 sorry but I can't get it working. I took a quick pick at your `intall` script and I couldn't figure out what you are doing with the path.. if I simply `export PATH=/path/to/akutils-v1.2/scripts:$PATH` I can get `akutils` on cmd, but still the same problem - it finds no existing config file, then gives me options to select - I pick `local`.. and nothing happens. I think this is actually a b

[2017-03-09 23:05] serine commented on #57
@arfon Is this intentional to have this question twice?

[code]

[2017-03-09 23:30] alk224 commented on #57
@serine Sorry about that. It is entirely likely there is a bug as all the sources seem to shift freely and without announcing that they will do so. I'll run a clean install on a VM in the morning and hopefully get this all working again.

[2017-03-09 23:54] serine commented on #57
I think I missed something..Can akutils work without VM? or can it only work in a particular environmnet? Provided I have all of the tools installed it should work right?

[2017-03-09 23:58] arfon commented on #57
Yes, this is intentional. The point being that there should be a statement of need (presumably the same one?) in both the documentation and the paper.

[2017-03-10 00:01] serine commented on #57
right, cool

[2017-03-10 00:01] alk224 commented on #57
@serine You want a clean Ubuntu 14.04 environment. See http://alk224.github.io/akutils-v1.2/

[2017-03-10 00:04] serine commented on #57
What does that mean? Like you want no varibales set in your current shell? Can I just get a new shell and unset everything, something like this `env -i env`

[2017-03-10 00:10] alk224 commented on #57
@serine Generally just a fresh install using the 14.04.1 .iso. You could use a system that has other things installed, but given all the nuance of a QIIME install, you may find some things present or absent or incorrect versions of dependencies here and there. I have tried to enforce compatible versions during the install which could further break existing tools that you may like and want. I've ne

[2017-03-10 00:18] serine commented on #57
To me first point is confusing

http://old-releases.ubuntu.com/releases/14.04.2/ubuntu-14.04.1-desktop-amd64.iso

I think you should either remove it or simplify to something like requires ubuntu 14.04.1 distro. It is still very restrictive. I would have thought that at least within ubuntu everything should be failry similar. Not sure if you want to go this far, but docker or other containers migh

[2017-03-10 00:39] alk224 commented on #57
@serine I could specify 14.04.1, but that wouldn't strictly be true. My workstation at work is now on 14.04.5 because I continue to run all security updates. Ubuntu repos change with every release, and for some reason as they pack more bits into subsequent iterations of the same release (.1, .2 etc), the system behavior can change here and there. Annoying yes. I do not think I have the time to lea

[2017-03-10 00:46] serine commented on #57
My bad, yes `if` statement has bunch of other stuff in it, It was hard to read, cause of differnet indentations style.

I followed installtion guide. I `git clone http:/blah/auktils-v1.2` I tested that, didn't work for me. I then `git checkout v1.2.3` which is your current release right? but still can't get pass configuration step

Any ideas what I am doing wrong?

[2017-03-10 00:52] alk224 commented on #57
That was one of my first exercises with conditionals. Some of my inexperience will still be glaring in terms of indents and such.

Can you delete your cloned akutils repo `rm -r ~/akutils-v1.2`

Then try a fresh clone of the repo in your $HOME directory followed by the bash install command from within the cloned directory?

[2017-03-10 00:56] serine commented on #57
[code]

[2017-03-10 01:01] alk224 commented on #57
Does it hang right there?

[2017-03-10 01:06] alk224 commented on #57
And did you restart your terminal? I see you entered your own $PATH command.

[2017-03-10 01:06] serine commented on #57
yep

[2017-03-10 01:06] alk224 commented on #57
OK, thanks for persisting. I will check it out in the morning at work on a clean VM.

[2017-03-10 01:07] serine commented on #57
can you refresh, this github page. I removed mine `export` command. Yours worked fine after `source ~/.bashrc`

[2017-03-10 01:09] alk224 commented on #57
Wait it is working now?

[2017-03-10 01:10] serine commented on #57
I can run `akutils` but it hangs at the configuration step :)
[code]

[2017-03-10 01:11] alk224 commented on #57
I see. That is less catastrophic than I was thinking. I'll fix this in the morning. I appreciate you bringing it to my attention.

[2017-03-10 01:12] serine commented on #57
no probs, thanks

[2017-03-10 09:59] TermosPullo commented on #151
@jflorence Hello again. We have now done the revisions. Your feed back was really useful for us! Moreover, reviewing a newer version than earlier is no problem to us. Please let us know if more is needed.

@labarba Could it be feasible to change the repository address of our submission? The current address is no longer functional and it appears I cannot change it myself.
The submission: http://jos

[2017-03-10 12:02] arfon commented on #151
@labarba - I've updated this.

[2017-03-10 13:08] TermosPullo commented on #151
@arfon Thank you.

[2017-03-10 16:12] alk224 commented on #57
Starting on this now.

[2017-03-10 19:57] alk224 commented on #57
Looks like there are issues with pip and python. No surprise there in my experience as they change available module names pretty continuously. I know this all worked when I submitted akutils for review back in October. I will get it working again and then ping you on this thread to get the review going again. I don't think I will be able to completely solve these issues today or even this weekend.

[2017-03-11 12:41] whedon opened #203 "[PRE REVIEW]: Text detection in screen images with a Convolutional Neural Network"
**Submitting author:** @domoritz (<a href="http://orcid.org/0000-0002-3110-1053">ROBYN DOMINIK MORITZ</a>)
**Repository:** <a href="https://github.com/domoritz/label_generator" target ="_blank">https://github.com/domoritz/label_generator</a>
**Version:** v1.1
**Editor:** @jakevdp
**Reviewer:** @ekolve

**What this issue is for**

Thanks for submitting your paper to JOSS @domoritz. The JOSS editor

[2017-03-11 12:41] whedon commented on #203
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-11 12:49] arfon commented on #203
👋 @arokem @jakevdp @danielskatz - would one of you be willing to edit this submission for JOSS?

[2017-03-12 00:50] labarba commented on #151
@jflorence The author reports completing the requested revisions. Are you satisfied with them to recommend acceptance? I still see five unchecked boxes in the review checklist.
Thanks!

[2017-03-12 19:47] arfon commented on #47
Friendly reminder @charalambos - have you made any progress here?

[2017-03-12 19:49] arfon commented on #61
:wave: @dgrtwo - are you still able to review this submission?

@andyyao95 - I think we might need to find an alternative reviewer here.

[2017-03-12 19:52] arfon commented on #124
:wave: @kpolimis - have you had a chance to review this feedback yet?

[2017-03-12 19:53] arfon commented on #132
@pjotrp - any luck finding a reviewer for this submission?

[2017-03-12 19:54] arfon commented on #149
:wave: @pragyansmita - would you be willing to review this submission for JOSS?