[2021-06-07 16:08] glyg commented on #2973
@whedon generate pdf

[2021-06-07 16:09] whedon commented on #2973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: :point_left:

[2021-06-07 16:10] shihyuntang commented on #3095
@whedon generate pdf

[2021-06-07 16:11] whedon commented on #3095
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03095/joss.03095/10.21105.joss.03095.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03095/joss.03095/10.21105.joss.03095.pdf) :page_facing_up: :point_left:

[2021-06-07 16:15] diehlpk commented on #3060
@openjournals/dev Could on please have a look at the compilation error?

[2021-06-07 16:16] diehlpk commented on #3060
@vavrines I asked the support team for help, since I do not know what is going wrong.

[2021-06-07 16:17] tleonardi commented on #3214
Hi @lpantano, thanks for considering me but unfortunately I really don't have time to provide a timely review at the moment.  I can suggest @ocroci as a potential reviewer. Happy to help reviewing other submissions in the future!

[2021-06-07 16:25] arfon commented on #3060
The issue here is that the `Reviewers:` string `@rdeits @jarvist, @rdeits` is missing a comma, and so Whedon is passing `@jarvist` as a variable into the compilation step which is being interpreted as a citation.

So, the fix here is to add a comma between `@rdeits @jarvist` in the reviewer list above (which I'm going to do now).

[2021-06-07 16:25] arfon commented on #3060
@whedon generate pdf

[2021-06-07 16:26] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-06-07 16:30] virgesmith commented on #3268
@kthyng it is rather generic, I'm afraid - the techniques* are commonly applied in social sciences, e.g. geography, demography, epidemiology, I've personally used it for demographic modelling and more recently criminology. But it can be applied to any application where modelling the evolution and interactions of individual entities is required.

Re: editors I tried to pick social-scientists with C

[2021-06-07 16:45] shihyuntang commented on #3095
Thank you @jmbrewer !

Two questions for @dfm :
1. Is the pdf I just asked whedon to generate serves as the *proof* as other traditional journals do?
2. About the `Telfit` package installation issue (a pkg used in `IGRINS RV`). I am still waiting for its author (kgullikson88) to merge my pull request [here](https://github.com/kgullikson88/Telluric-Fitter/pull/32) and make a new release of pip. If

[2021-06-07 16:54] cjbarrie commented on #3272
This is fine, thank you! Apologies for the confusion.

[2021-06-07 17:03] danielskatz commented on #3272
@whedon accept deposit=true

[2021-06-07 17:04] whedon commented on #3272
[code]

[2021-06-07 17:04] whedon commented on #3272
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1401948238438096898) 👈 🐦🐦🐦

[2021-06-07 17:04] whedon commented on #3272
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2368
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03272](https://doi.org/10.21105/joss.03272)
2. If everything look

[2021-06-07 17:07] jamesdamillington commented on #3065
The revisions look good to me (and I have closed [the issue](https://github.com/JoelForamitti/agentpy/issues/13) I opened). I did [wonder the same things](https://github.com/openjournals/joss-reviews/issues/3065#issuecomment-854723095) as @martibosch about the 'summary', but I also agree that the second paragraph of the Introduction section is a good summary if a dedicated Summary section is not n

[2021-06-07 17:15] vsoch commented on #3311
@zbeekman @rcannood since the review started I had new centers request additional container technologies (Podman, Docker) for shpc, and they are now released. Would you like me to update the paper to reflect this?

[2021-06-07 17:17] danielskatz commented on #3272
Congratulations to @cjbarrie (Christopher Barrie) and co-author!!

And thanks to @medewitt and @JosiahParry for their reviewing!

[2021-06-07 17:17] #3272 closed

[2021-06-07 17:17] whedon commented on #3272
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03272/status.svg)](https://doi.org/10.21105/joss.03272)

**We need your help!**

Journal of Open Source Softwa

[2021-06-07 17:23] timtroendle commented on #3203
@potterzot, we need to finish the first round of reviews. Can you please let us know where you stand with your review?

[2021-06-07 17:37] vavrines commented on #3060
@whedon set v0.7.4 as version

[2021-06-07 17:37] whedon commented on #3060
I'm sorry @vavrines, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-06-07 17:38] vavrines commented on #3060
@whedon generate pdf

[2021-06-07 17:38] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-06-07 17:43] kthyng commented on #2973
Ok I think everything looks good!

[2021-06-07 17:43] kthyng commented on #2973
@whedon accept deposit=true

[2021-06-07 17:43] whedon commented on #2973
[code]

[2021-06-07 17:44] whedon commented on #2973
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1401958263667691520) 👈 🐦🐦🐦

[2021-06-07 17:44] whedon commented on #2973
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2369
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02973](https://doi.org/10.21105/joss.02973)
2. If everything look

[2021-06-07 17:52] kthyng commented on #2973
Congrats on your new publication @glyg! Thanks to @pdebuyl for editing and to reviewers @fcooper8472 and @SergeDmi for your time, hard work, and expertise!!

[2021-06-07 17:52] #2973 closed

[2021-06-07 17:52] whedon commented on #2973
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02973/status.svg)](https://doi.org/10.21105/joss.02973)

**We need your help!**

Journal of Open Source Softwa

[2021-06-07 17:53] cjbarrie commented on #3272
Fantastic! Thanks so much for all your help with this. I will be letting colleagues know of JOSS. Honestly so impressed with this review process.

What a brilliant initiative. I will, of course, be adding my name to the list of potential reviewers.

Chris

[2021-06-07 17:54] kthyng commented on #3172
@whedon re-invite @joferkington  as reviewer

[2021-06-07 17:54] whedon commented on #3172
OK, the reviewer has been re-invited.

@joferkington  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-07 17:55] kthyng commented on #3172
@joferkington give it a try now!

[2021-06-07 18:07] kthyng commented on #3127
@tyronerees Can you verify the version associated with this publication?

[2021-06-07 18:08] kthyng commented on #3127
Zenodo archive looks good ✅

[2021-06-07 18:08] kthyng commented on #3127
@whedon generate pdf

[2021-06-07 18:08] whedon commented on #3127
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03127/joss.03127/10.21105.joss.03127.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03127/joss.03127/10.21105.joss.03127.pdf) :page_facing_up: :point_left:

[2021-06-07 18:14] kthyng commented on #3127
Paper looks good!

[2021-06-07 18:31] zbeekman commented on #3311
Could someone at JOSS please re-invite me to the JOSS reviewers org? The invitation has expired. I’ve started the review and hope to have it finished (depending on how many/intensive any issues to address are) by the end of the week.

[2021-06-07 18:39] danielskatz commented on #3311
@whedon re-invite @zbeekman as reviewer

[2021-06-07 18:39] whedon commented on #3311
OK, the reviewer has been re-invited.

@zbeekman please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-07 18:43] zbeekman commented on #3311
Thanks, sorry about that!

[2021-06-07 18:43] teuben commented on #3068
How strict are we only filenames.    If so, the license.txt file should be renamed to LICENSE

[2021-06-07 19:20] dfm commented on #3095
Yes! There will possibly be one final round of edits later in the process, but now is the time to check for any final issues.

[2021-06-07 19:28] dfm commented on #3068
Thanks @teuben! `license.txt` is an acceptable name for the license, although it looks like perhaps the copyright info is a little out of date. It would be fine (encouraged?) to change that to `LICENSE.txt` or `LICENSE` to be more consistent with standard practices, but I wouldn't require it!

[2021-06-07 19:29] mark-koren commented on #3312
Sorry, to clarify -- Is this something you need before you can continue the review? Or is this a longer-term add?

[2021-06-07 19:39] vijaysm commented on #3020
@diehlpk Some review comments on the paper.

- Line 19: Replace "I.e." with "i.e.,"
- Line 21: Missing commas: "radius $\delta$, centered at x, where"
- Line 44: Correct this: "Figure Figure 2"
- Figure 2: Caption. Fix "Adapted"
- It may help to talk about the theory and the software implementation of it separately, rather than mixing them under the same section. Specifically, look at lines 53-56.

[2021-06-07 19:46] teuben commented on #3068
@jmsexton03 @dfm I have some suggestion for the article. Here or in an issue?

[2021-06-07 19:55] mjacob1002 commented on #3247
Thanks @will-rowe for letting me know. Here is the updated archive: https://zenodo.org/record/4905077#.YL55eJNKirw

[2021-06-07 19:58] giodegas commented on #3312
Yes, please, I consider it to be my revision request. We are not just reviewinh the paper content, but the accompaining software as well.

[2021-06-07 20:01] teuben commented on #3068
@jmsexton03 @dfm   I also went over the install using the documentation. It works, but I find it a bit frustrating that there are two install methods:   make and cmake.  with make there is no configure, plus the name of the executable (in e.g. the MiniSB example) depends not only on make/cmake, but even on the settings in the GNUMakefile. Thus I could not run an example via copy/paste. Is it reall

[2021-06-07 20:05] mark-koren commented on #3312
Sure thing, I'll ping you when I have that working.

[2021-06-07 20:08] dfm commented on #3068
@teuben: The standard procedure here would be to open an issue (or several) on AMReX-Astro/Nyx with your comments. It's useful (for me, especially!) if you can reference this issue thread on those issues.

[2021-06-07 20:20] DARSakthi commented on #3247
Note that Joe Weaver is listed twice in the compiled document under 'reviewers.' Could be related to the earlier issue of having to add him twice. May want to remove it @will-rowe

DS

[2021-06-07 20:28] diehlpk commented on #3020
@whedon generate pdf from branch joss

[2021-06-07 20:28] whedon commented on #3020
[code]

[2021-06-07 20:28] whedon commented on #3020
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: :point_left:

[2021-06-07 20:31] marcosvital commented on #3117
Hi, @OliverFishCode! Some recommendations would be great, thank you!

@rerickson-usgs, unfortunately I've got no responses from the emails I sent... I'll keep trying to find additional reviewers, ok?

[2021-06-07 20:31] diehlpk commented on #3020
@whedon generate pdf from branch joss

[2021-06-07 20:32] whedon commented on #3020
[code]

[2021-06-07 20:32] whedon commented on #3020
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: :point_left:

[2021-06-07 20:34] diehlpk commented on #3020
@vijaysm Thanks for the comments. The above build of the paper addresses all of your comments.

[2021-06-07 20:46] OliverFishCode commented on #3117
The following people would be good reviewer choices in no particular order.

Mathew Clement
***@***.***

Bill Hintz
***@***.***

Alison  Coulter
***@***.***

Michael Kaller
***@***.***

On Mon, Jun 7, 2021, 1:31 PM Marcos Vital (LEQ-UFAL) <
***@***.***> wrote:

[2021-06-07 20:55] bzindovic commented on #3114
Hello Katy,

I've reviewed the changes and, although my comments were non-essential, authors addressed them and I think that article can be accepted.

Regards,
Budo

[2021-06-07 20:59] bjodah commented on #3239
@kellyrowland sorry, I might have been a bit hasty in accepting the role as reviewer here. I'm afraid I'm swamped now and for quite a while. Sorry @alexmalins (I glanced over your package it looks really nice)!

[2021-06-07 21:02] kellyrowland commented on #3239
No problem @bjodah , thanks for the heads up! I will unassign your reviewer status over in #3318 .

[2021-06-07 21:03] kellyrowland commented on #3318
@whedon remove @bjodah as reviewer

[2021-06-07 21:03] whedon commented on #3318
OK, @bjodah is no longer a reviewer

[2021-06-07 21:11] vijaysm commented on #3020
Excellent. Thanks for quickly addressing the comments. @diehlpk I'll be able to test installation, examples etc in the next two days and can give you my final set of comments. Sorry about the delay.

[2021-06-07 22:29] PythonCHB commented on #3179
@kthyng: Yes, I should be able to do it.

-CHB

[2021-06-07 22:43] joferkington commented on #3172
@kthyng - That works. Thanks a ton!

[2021-06-07 23:40] mcsiple commented on #3094
I think all my comments are all addressed! The only lingering one is that dotted line at zero sightings on the y-axis-- I suggest just bringing that line to the front and making it a contrasting color if it's hard to see, or making the bars in that plot lighter so it's easier to see them at the same time. From a data viz perspective, I think it is confusing to put a possible number of sightings th

[2021-06-08 06:53] glyg commented on #2973
this is really great!!! Thank you all for the great review process!!!

[2021-06-08 08:31] tyronerees commented on #3127
@kthyng -- the version that was first reviewed was 0.1.0.  The version with the changes to the paper requested and the zenodo release (with correct metadata) is 0.1.4.  No new features added between these releases -- just a couple of bug fixes and documentation tweaks.

Please let me know if you need anything else from us.

[2021-06-08 09:26] tramarobin commented on #3159
@cMadan, what is the procedure if a reviewer does not respond ?

[2021-06-08 09:31] AndreasPhilippi commented on #3280
@danielskatz - Do you have any news for us regarding the query scope?

[2021-06-08 09:35] whedon commented on #3312
:wave: @giodegas, please update us on how your review is going (this is an automated reminder).

[2021-06-08 09:35] whedon commented on #3312
:wave: @abhiramm7, please update us on how your review is going (this is an automated reminder).

[2021-06-08 11:31] AndreasPhilippi commented on #3280
@danielskatz - As reviewer we suggest rlucas7, g4brielvs, or kramea

[2021-06-08 12:11] danielskatz commented on #3280
@AndreasPhilippi - I'm sorry for the delay, but this discussion has not been as brief as most other editor discussions - I'm pinging the AEiC currently on duty about this: @openjournals/joss-eics to help move it forward to a decision

[2021-06-08 12:36] meg-simula commented on #3328
Have to decline this one I'm afraid, not in my area of expertise.

[2021-06-08 13:33] JoelForamitti commented on #3065
Fantastic, thank you! @sbenthall I have made a final commit to add acknowledgments to the paper

[2021-06-08 13:33] JoelForamitti commented on #3065
@whedon generate pdf

[2021-06-08 13:33] whedon commented on #3065
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: :point_left:

[2021-06-08 13:57] KristinaRiemer commented on #3094
Great, thanks @mcsiple!

@hansenjohnson if you want to implement a change based on @mcsiple's comment in the previous message, feel free to do that. The next steps then are to review the paper for typos, etc., and then generate archives.

[2021-06-08 13:57] KristinaRiemer commented on #3094
@whedon generate pdf

[2021-06-08 13:57] KristinaRiemer commented on #3094
@whedon check references

[2021-06-08 13:57] whedon commented on #3094
[code]

[2021-06-08 13:57] whedon commented on #3094
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: :point_left:

[2021-06-08 14:18] dhhagan commented on #3127
@whedon set https://doi.org/10.5281/zenodo.4892752 as archive

[2021-06-08 14:18] whedon commented on #3127
OK. <a href="https://doi.org/10.5281/zenodo.4892752" target="_blank">10.5281/zenodo.4892752</a> is the archive.

[2021-06-08 14:18] dhhagan commented on #3127
@whedon set v0.1.4 as version

[2021-06-08 14:18] whedon commented on #3127
OK. v0.1.4 is the version.

[2021-06-08 14:18] dhhagan commented on #3127
@whedon recommend-accept

[2021-06-08 14:18] whedon commented on #3127
[code]

[2021-06-08 14:18] whedon commented on #3127
[code]

[2021-06-08 14:19] whedon commented on #3127
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2370

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2370, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-08 14:20] whedon opened #3338 "[PRE REVIEW]: Osmenrich: An R package to enrich geocoded data"
**Submitting author:** @leonardovida (<a href="http://orcid.org/0000-0002-0461-016X">Leonardo Vida</a>)
**Repository:** <a href="https://github.com/sodascience/osmenrich" target ="_blank">https://github.com/sodascience/osmenrich</a>
**Version:** v1.2.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-06-08 14:20] whedon commented on #3338
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-08 14:20] whedon opened #3339 "[PRE REVIEW]: "JEOL_eds: A Python package to read and process binary EDS data acquired by JEOL's __Analysis Station__ software""
**Submitting author:** @ialxn (<a href="http://orcid.org/0000-0002-9389-9849">Ivo Alxneit</a>)
**Repository:** <a href="https://github.com/ialxn/JEOL_eds" target ="_blank">https://github.com/ialxn/JEOL_eds</a>
**Version:** v1.7.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandem

[2021-06-08 14:20] whedon commented on #3338
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "--446" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["Edzer Pebesma"], :title=>["{Simple Features for R: Standardized Support for Spatial Vector Data}"], :year=>"2018", :journal=>["{The R Journal}"], :doi=>["10.32614/RJ-2018-009"], :url=>["https://doi.org/10.32614/RJ-2018-

[2021-06-08 14:20] whedon commented on #3339
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-08 14:20] whedon commented on #3338
[code]

[2021-06-08 14:20] whedon opened #3340 "[PRE REVIEW]: Kinetics Toolkit: An Open-Source Python Package to Facilitate Research in Biomechanics"
**Submitting author:** @felixchenier (<a href="http://orcid.org/0000-0002-2085-6629">Félix Chénier</a>)
**Repository:** <a href="https://github.com/felixchenier/kineticstoolkit_joss" target ="_blank">https://github.com/felixchenier/kineticstoolkit_joss</a>
**Version:** 0.5.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

[2021-06-08 14:20] whedon commented on #3340
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-08 14:20] whedon commented on #3339
[code]

[2021-06-08 14:20] whedon commented on #3340
[code]

[2021-06-08 14:20] whedon commented on #3339
PDF failed to compile for issue #3339 with the following error:
[code]

[2021-06-08 14:20] whedon commented on #3340
[code]

[2021-06-08 14:20] whedon commented on #3338
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03338/joss.03338/10.21105.joss.03338.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03338/joss.03338/10.21105.joss.03338.pdf) :page_facing_up: :point_left:

[2021-06-08 14:21] whedon opened #3341 "[PRE REVIEW]: LoadProfileGenerator: An Agent-Based Behavior Simulation for Generating Residential Load Profiles"
**Submitting author:** @noah80 (<a href="http://orcid.org/0000-0002-1982-8794">Noah</a>)
**Repository:** <a href="https://github.com/FZJ-IEK3-VSA/LoadProfileGenerator" target ="_blank">https://github.com/FZJ-IEK3-VSA/LoadProfileGenerator</a>
**Version:** v10.5
**Editor:** @fraukewiese
**Reviewers:** @samuelduchesne , @mewilhel
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode

[2021-06-08 14:21] whedon commented on #3341
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-08 14:21] whedon commented on #3340
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03340/joss.03340/10.21105.joss.03340.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03340/joss.03340/10.21105.joss.03340.pdf) :page_facing_up: :point_left:

[2021-06-08 14:21] whedon opened #3342 "[PRE REVIEW]: OSTIR: open source translation initiation rate prediction"
**Submitting author:** @jeffreybarrick (<a href="http://orcid.org/0000-0003-0888-7358">Jeffrey Barrick</a>)
**Repository:** <a href="https://github.com/barricklab/ostir" target ="_blank">https://github.com/barricklab/ostir</a>
**Version:** v1.0.4
**Editor:** @csoneson
**Reviewers:** @ayush9pandey, @standage
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-06-08 14:21] whedon commented on #3342
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-08 14:21] whedon commented on #3341
[code]

[2021-06-08 14:21] whedon commented on #3341
[code]

[2021-06-08 14:21] whedon commented on #3341
Failed to discover a valid open source license.

[2021-06-08 14:21] whedon commented on #3342
[code]

[2021-06-08 14:21] whedon commented on #3342
[code]

[2021-06-08 14:21] whedon commented on #3341
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03341/joss.03341/10.21105.joss.03341.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03341/joss.03341/10.21105.joss.03341.pdf) :page_facing_up: :point_left:

[2021-06-08 14:22] whedon commented on #3342
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03342/joss.03342/10.21105.joss.03342.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03342/joss.03342/10.21105.joss.03342.pdf) :page_facing_up: :point_left:

[2021-06-08 14:22] kthyng commented on #3338
@whedon query scope

[2021-06-08 14:22] whedon commented on #3338
Submission flagged for editorial review.

[2021-06-08 14:23] kthyng commented on #3338
Hi @leonardovida and thanks for your submission! It is a bit on the small side, so I have tagged it for the editorial board to check it for being in scope for the journal. This process will take 1-2 weeks. Thanks.

[2021-06-08 14:24] kthyng commented on #3339
@whedon query scope

[2021-06-08 14:24] whedon commented on #3339
Submission flagged for editorial review.

[2021-06-08 14:24] kthyng commented on #3339
Hi @ialxn and thanks for your submission! It is a bit on the small side, so I have tagged it for the editorial board to check it for being in scope for the journal. This process will take 1-2 weeks. Thanks.

[2021-06-08 14:25] kthyng commented on #3339
@whedon generate pdf from branch JOSS_submitted

[2021-06-08 14:25] whedon commented on #3339
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03339/joss.03339/10.21105.joss.03339.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03339/joss.03339/10.21105.joss.03339.pdf) :page_facing_up: :point_left:

[2021-06-08 14:26] felixchenier commented on #3340
Hi @kthyng
Here: https://github.com/felixchenier/kineticstoolkit

[2021-06-08 14:30] kthyng commented on #3341
Hi @noah80 and thanks for your submission! We have a backlog of submissions at the moment that I am adding your submission to. An editor with relevant expertise will get to this as soon as possible. Thanks for your patience.

[2021-06-08 14:31] kthyng commented on #3342
@csoneson is this near your field of expertise and could you edit it?

[2021-06-08 14:32] kthyng commented on #3342
@whedon invite @csoneson as editor

[2021-06-08 14:32] whedon commented on #3342
@csoneson has been invited to edit this submission.

[2021-06-08 14:38] kthyng commented on #3127
@whedon accept deposit=true

[2021-06-08 14:39] whedon commented on #3127
[code]

[2021-06-08 14:39] whedon commented on #3127
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1402274123741552641) 👈 🐦🐦🐦

[2021-06-08 14:39] whedon commented on #3127
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2371
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03127](https://doi.org/10.21105/joss.03127)
2. If everything look

[2021-06-08 14:40] kthyng commented on #3328
@meg-simula fair enough, thanks for letting me know!

[2021-06-08 14:42] KristinaRiemer commented on #3094
@hansenjohnson the only change to make to the paper would be to change "html" to "HTML" in line 53. Otherwise the paper and its references look good!

[2021-06-08 14:42] felixchenier commented on #3340
I checked at the list and I think these persons who I don't know may be relevant for this review:

alcantarar
ixjlyons
melund

then

CELavecchia
anmuller
BabakNSafa
cpontonn

then

trallard
moorepants

[2021-06-08 14:42] kthyng commented on #3179
Thanks @PythonCHB! I need to find a second reviewer and then we can move forward to the review step.

[2021-06-08 14:42] kthyng commented on #3179
@whedon assign @PythonCHB as reviewer

[2021-06-08 14:42] whedon commented on #3179
OK, @PythonCHB is now a reviewer

[2021-06-08 14:43] kthyng commented on #3179
@lheagy are you missing some JOSS from your life? If so, maybe you'd want to review this submission?

[2021-06-08 14:44] kthyng commented on #3127
Congrats on your new publication @tyronerees! Thanks to editor @dhhagan and reviewers @johnsamuelwrites and @djmitche for your time, hard work, and expertise!!

[2021-06-08 14:44] #3127 closed

[2021-06-08 14:44] whedon commented on #3127
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03127/status.svg)](https://doi.org/10.21105/joss.03127)

**We need your help!**

Journal of Open Source Softwa

[2021-06-08 14:46] hansenjohnson commented on #3094
Good catch @KristinaRiemer! I have made that change [here](https://github.com/hansenjohnson/WhaleMap/commit/e388cd161ee5f71cfec3adf3052ca2d88d857018). What are the next steps?

[2021-06-08 15:02] tyronerees commented on #3127
That's great news -- very many thanks all!

[2021-06-08 15:12] KristinaRiemer commented on #3094
Next steps:

1. Create a tagged release of the GitHub repo (instructions [here](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-releases-in-a-repository#creating-a-release)) and post the version number here
2. Generate a DOI by archiving the code on Zenodo, figshare, an institutional repository, etc. and provide that DOI. Make sure the archive has

[2021-06-08 15:15] kthyng commented on #3340
Hi @felixchenier — can you resubmit your submission but with https://github.com/felixchenier/kineticstoolkit as the input url associated with your submission instead of the paper url? Usually the JOSS paper just sits in the software repo in a subdirectory or in a branch. Please copy over your helpful list of reviewer suggestions, too. I will withdraw your current submission now to start this proce

[2021-06-08 15:15] kthyng commented on #3340
@whedon withdraw

[2021-06-08 15:15] whedon commented on #3340
Paper withdrawn.

[2021-06-08 15:15] #3340 closed

[2021-06-08 15:24] lheagy commented on #3179
Best reviewer invite @kthyng 😄 ! I would be happy to be a reviewer here.

[2021-06-08 15:32] felixchenier commented on #3340
Hi @kthyng
OK, this is done, I just resubmitted it. Sorry for my misunderstanding.

[2021-06-08 15:42] whedon opened #3343 "[PRE REVIEW]: Kinetics Toolkit: An Open-Source Python Package to Facilitate Research in Biomechanics"
**Submitting author:** @felixchenier (<a href="http://orcid.org/0000-0002-2085-6629">Félix Chénier</a>)
**Repository:** <a href="https://github.com/felixchenier/kineticstoolkit" target ="_blank">https://github.com/felixchenier/kineticstoolkit</a>
**Version:** 5.0.1
**Editor:** @meg-simula
**Reviewers:** @alcantarar, @melund
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :wa

[2021-06-08 15:42] whedon commented on #3343
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-08 15:43] whedon commented on #3343
PDF failed to compile for issue #3343 with the following error:
[code]

[2021-06-08 15:43] whedon commented on #3343
[code]

[2021-06-08 15:44] kthyng commented on #3179
haha, excellent! Thanks @lheagy and glad to have you around a JOSS issue once again.

[2021-06-08 15:44] kthyng commented on #3179
@whedon add @lheagy as reviewer

[2021-06-08 15:44] whedon commented on #3179
OK, @lheagy is now a reviewer

[2021-06-08 15:45] kthyng commented on #3343
@whedon generate pdf from branch JOSS

[2021-06-08 15:45] whedon commented on #3343
[code]

[2021-06-08 15:45] kthyng commented on #3179
Ok we can get this review process started now!

[2021-06-08 15:45] kthyng commented on #3179
@whedon start review

[2021-06-08 15:45] whedon opened #3344 "[REVIEW]: The Babelizer: language interoperability for model coupling in the geosciences"
**Submitting author:** @mcflugen (<a href="http://orcid.org/0000-0002-5864-6459">ERIC HUTTON</a>)
**Repository:** https://github.com/csdms/babelizer/
**Branch with paper.md** (empty if default branch): develop
**Version:** v0.3.9
**Editor:** @kthyng
**Reviewers:** @lheagy, @cheginit
**Archive:** 10.5281/zenodo.6329737

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-06-08 15:45] whedon commented on #3179
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3344.

[2021-06-08 15:45] #3179 closed

[2021-06-08 15:45] whedon commented on #3344
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @PythonCHB, @lheagy it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-06-08 15:45] whedon commented on #3344
[code]

[2021-06-08 15:45] whedon commented on #3343
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03343/joss.03343/10.21105.joss.03343.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03343/joss.03343/10.21105.joss.03343.pdf) :page_facing_up: :point_left:

[2021-06-08 15:45] whedon commented on #3344
PDF failed to compile for issue #3344 with the following error:
[code]

[2021-06-08 15:46] kthyng commented on #3343
@meg-simula is this type of biomechanics closer to your area of expertise?

[2021-06-08 15:47] kthyng commented on #3343
@whedon invite @meg-simula as editor

[2021-06-08 15:47] whedon commented on #3343
@meg-simula has been invited to edit this submission.

[2021-06-08 15:50] AP6YC commented on #3321
@arfon You've got it! I totally understand the backlog. I just appreciate any attention that you are able to give and when you are able to give it, especially in these strange and challenging times.

[2021-06-08 15:51] AP6YC commented on #3321
I have made some changes to the affiliations field and will attempt to rerun here:
@whedon generate pdf
@whedon check references

[2021-06-08 15:51] AP6YC commented on #3321
@whedon generate pdf

[2021-06-08 15:51] AP6YC commented on #3321
@whedon check references

[2021-06-08 15:51] whedon commented on #3321
[code]

[2021-06-08 15:52] whedon commented on #3321
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03321/joss.03321/10.21105.joss.03321.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03321/joss.03321/10.21105.joss.03321.pdf) :page_facing_up: :point_left:

[2021-06-08 15:52] AP6YC commented on #3320
@whedon generate pdf

[2021-06-08 15:52] AP6YC commented on #3320
@whedon check references

[2021-06-08 15:52] whedon commented on #3320
[code]

[2021-06-08 15:52] whedon commented on #3320
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03320/joss.03320/10.21105.joss.03320.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03320/joss.03320/10.21105.joss.03320.pdf) :page_facing_up: :point_left:

[2021-06-08 16:10] alexmalins commented on #3239
@bjodah No problem! Thanks again for your consideration.

[2021-06-08 16:11] jorge-lip commented on #3295
@whedon generate pdf

[2021-06-08 16:14] nicholst commented on #3159
This is a nicely documented and focused statistical Matlab tool that provides inference for ANOVA designs of 1D and 2D functional data by extending the spm1d package.  While the review guidelines of JOSS specified that tests should be examined and verified, I didn't find any tests in the repo; I reviewed the documentation and examples.

I have raised a few superficial comments in this issue: https

[2021-06-08 16:27] hansenjohnson commented on #3094
1. The tagged release is version [1.0.0](https://github.com/hansenjohnson/WhaleMap/releases/tag/1.0.0)
2. The DOI is 10.5281/zenodo.4913270

Let me know if there are any issues!

[2021-06-08 16:32] pibion commented on #2764
@andrewpaulreeves just checking in on your review progress.  If you know you'll be out for a while and have an idea of when you'll be back I can set a reminder.

[2021-06-08 16:49] KristinaRiemer commented on #3094
@whedon set v1.0.0 as version

[2021-06-08 16:49] whedon commented on #3094
OK. v1.0.0 is the version.

[2021-06-08 16:52] meg-simula commented on #3343
@whedon assign @meg-simula as editor

[2021-06-08 16:52] whedon commented on #3343
OK, the editor is @meg-simula

[2021-06-08 16:52] KristinaRiemer commented on #3094
For the Zenodo archive, could you add the other authors as authors there? And the title should match the submission's title of "WhaleMap: a tool to collate and display whale survey1results in near real-time". Could you let me know when those are updated?

[2021-06-08 17:02] sibirrer commented on #3283
tag: 1.8.2_JOSS

[2021-06-08 17:26] danielskatz commented on #3283
@whedon set 1.8.2_JOSS as version

[2021-06-08 17:26] whedon commented on #3283
OK. 1.8.2_JOSS is the version.

[2021-06-08 17:41] isidentical commented on #3296
My AWS account is also now got approved, so here is the exact steps to use `reiz` with only `docker`/`docker-compose` and ssh; https://reizio.readthedocs.io/en/latest/installation-to-aws.html

[2021-06-08 17:50] sibirrer commented on #3283
And here is the DOI: 10.5281/zenodo.4913700

@danielskatz : Please let me know what you need from my side in addition. Thank you very much!

[2021-06-08 17:53] hansenjohnson commented on #3094
I just made those changes, sorry for not doing that the first time around! Let me know if any others are necessary

[2021-06-08 17:54] danielskatz commented on #3283
@whedon set 10.5281/zenodo.4913700 as archive

[2021-06-08 17:54] whedon commented on #3283
OK. <a href="https://doi.org/10.5281/zenodo.4913700" target="_blank">10.5281/zenodo.4913700</a> is the archive.

[2021-06-08 17:56] danielskatz commented on #3283
I note the zenodo DOI isn't yet working, but I see it listed in https://zenodo.org/record/4913700#.YL-vNi1h131 so will proceed for now

[2021-06-08 17:56] danielskatz commented on #3283
@whedon recommend-accept

[2021-06-08 17:56] whedon commented on #3283
[code]

[2021-06-08 17:57] whedon commented on #3283
[code]

[2021-06-08 17:57] whedon commented on #3283
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2372

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2372, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-08 17:58] jorge-lip commented on #3295
The changes since v1.1.1 are now highlighted in text. The external tools used by udocker are highlighted in the documentation and in the acknowledgements, the licenses are included in the tools tarball and since the just released v1.3.0  they are extracted to the installation directory under (.udocker/doc). The installation documentation was revised and now makes clear what source code repositorie

[2021-06-08 17:58] danielskatz commented on #3283
@sibirrer - it looks like the @whedon DOI suggestion is correct - can you add that DOI to the appropriate bib entry?

[2021-06-08 18:00] sibirrer commented on #3283
@danielskatz Yes, can do that. Do I need to regenerate a Zenodo DOI and GitHub release or can I just add it to the branch on GitHub?

[2021-06-08 18:01] danielskatz commented on #3283
You don't need to update the code repository if changes are just in the paper.  But tell me which branch (if not main/master) I need to build the paper from

[2021-06-08 18:12] danielskatz commented on #3283
I also have suggested some small edits in the paper in https://github.com/sibirrer/lenstronomy/pull/261 - please merge this, or let me know what you disagree with.

[2021-06-08 18:17] danielskatz commented on #3295
Thanks - I'll look forward to hearing opinions from @vsoch and @mviereck

[2021-06-08 18:20] sibirrer commented on #3283
Thank you @danielskatz ! I added the DOI and merged the JOSS_paper branch to main. So you can trigger either from the JOSS_paper branch or main branch.

[2021-06-08 18:21] danielskatz commented on #3283
@whedon recommend-accept

[2021-06-08 18:21] whedon commented on #3283
[code]

[2021-06-08 18:22] whedon commented on #3283
[code]

[2021-06-08 18:22] whedon commented on #3283
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2373

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2373, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-08 18:24] danielskatz commented on #3283
@whedon accept deposit=true

[2021-06-08 18:24] whedon commented on #3283
[code]

[2021-06-08 18:25] whedon commented on #3283
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1402330886553673728) 👈 🐦🐦🐦

[2021-06-08 18:25] whedon commented on #3283
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2374
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03283](https://doi.org/10.21105/joss.03283)
2. If everything look

[2021-06-08 18:29] danielskatz commented on #3251
I'll go ahead and take this one

[2021-06-08 18:29] danielskatz commented on #3251
@whedon assign me as editor

[2021-06-08 18:29] whedon commented on #3251
OK, the editor is @danielskatz

[2021-06-08 18:29] danielskatz commented on #3251
👋 @ad48 - if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-06-08 18:31] danielskatz commented on #3251
👋 @jodischneider - Would you (or someone in your group) be willing to review this submission to JOSS?  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-08 18:32] danielskatz commented on #3283
I'm going to leave this open until the DOI resolves, which hopefully will be and normally would have already happened, but the internet was broken earlier today and might still be catching up

[2021-06-08 18:33] KristinaRiemer commented on #3094
@whedon generate pdf

[2021-06-08 18:34] whedon commented on #3094
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: :point_left:

[2021-06-08 18:34] KristinaRiemer commented on #3094
@whedon set 10.5281/zenodo.4913270 as archive

[2021-06-08 18:34] sibirrer commented on #3283
I had also some issues with automatic zenodo pushes from GitHub and needed to do it manually. Hope it gets resolved but it's not urgent. Thank you very much!

[2021-06-08 18:34] whedon commented on #3094
OK. <a href="https://doi.org/10.5281/zenodo.4913270" target="_blank">10.5281/zenodo.4913270</a> is the archive.

[2021-06-08 18:35] danielskatz commented on #3251
👋 @jasonpriem, @hpiwowar, @mfenner - Would one of you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-08 18:36] KristinaRiemer commented on #3094
That all looks good @hansenjohnson! I'm going to recommend acceptance, an EiC will double check everything, and then finalize submission acceptance.

[2021-06-08 18:36] KristinaRiemer commented on #3094
@whedon recommend-accept

[2021-06-08 18:36] whedon commented on #3094
[code]

[2021-06-08 18:36] whedon commented on #3094
[code]

[2021-06-08 18:37] whedon commented on #3094
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2375

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2375, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-08 18:37] danielskatz commented on #3268
@whedon assign me as editor

[2021-06-08 18:37] whedon commented on #3268
OK, the editor is @danielskatz

[2021-06-08 18:38] danielskatz commented on #3268
👋 @virgesmith - if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-06-08 18:58] kthyng commented on #3094
I see version and archive look good ✔️

[2021-06-08 19:02] kthyng commented on #3094
The paper looks good though a question: what are the stars at the bottom of the first page, and I don't think you need a section "Figures".

[2021-06-08 19:15] sbenthall commented on #3013
@feddelegrand7 Would you be able to review this package?

[2021-06-08 19:20] will-rowe commented on #3247
Thanks @DARSakthi - I've seen this before but usually need the EiC to fix it. Will try another reassign first.

[2021-06-08 19:21] will-rowe commented on #3247
@whedon remove @joeweaver as reviewer

[2021-06-08 19:21] whedon commented on #3247
OK, @joeweaver is no longer a reviewer

[2021-06-08 19:21] will-rowe commented on #3247
@whedon generate pdf

[2021-06-08 19:22] will-rowe commented on #3247
@whedon add @joeweaver as reviewer

[2021-06-08 19:22] whedon commented on #3247
OK, @joeweaver is now a reviewer

[2021-06-08 19:23] will-rowe commented on #3247
@whedon generate pdf

[2021-06-08 19:23] whedon commented on #3247
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: :point_left:

[2021-06-08 19:24] will-rowe commented on #3247
@whedon set 10.5281/zenodo.4905077 as archive

[2021-06-08 19:25] will-rowe commented on #3247
@whedon set v1.0.2 as version

[2021-06-08 19:25] whedon commented on #3247
OK. v1.0.2 is the version.

[2021-06-08 19:25] will-rowe commented on #3247
Thanks again everyone. I'll ping the EiC now.

[2021-06-08 19:25] will-rowe commented on #3247
@whedon recommend-accept

[2021-06-08 19:26] whedon commented on #3247
[code]

[2021-06-08 19:34] kbarnhart commented on #3168
@whedon set 10.5281/zenodo.4900067 as archive

[2021-06-08 19:34] whedon commented on #3168
OK. <a href="https://doi.org/10.5281/zenodo.4900067" target="_blank">10.5281/zenodo.4900067</a> is the archive.

[2021-06-08 19:34] kbarnhart commented on #3168
@whedon set v0.2.0 as version

[2021-06-08 19:34] whedon commented on #3168
OK. v0.2.0 is the version.

[2021-06-08 19:35] kbarnhart commented on #3168
@whedon recommend-accept

[2021-06-08 19:35] whedon commented on #3168
[code]

[2021-06-08 19:35] whedon commented on #3168
[code]

[2021-06-08 19:35] whedon commented on #3168
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2377

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2377, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-08 19:38] kbarnhart commented on #3114
@whedon check references

[2021-06-08 19:53] kthyng commented on #3247
Version looks good.

@mjacob1002 can you update the title and author list in the Zenodo archive metadata to exactly match your JOSS paper?

[2021-06-08 19:55] kbarnhart commented on #3114
@piyueh I've made one pull requests with very small changes to the text. On that PR I've also made some notes regarding updates to the references. Please consider this PR and update the references. After you have done so, please test that the article builds correctly here, and presuming it does, do the following:

- Make a tagged release of your software, and list the version tag of the archived v

[2021-06-08 19:57] mjacob1002 commented on #3247
Hi @kthyng,

I changed the affiliation in the Zenodo to be RxCovea, New York University. I believe it should know match the JOSS paper, but let me know if there are other specific things that need to be changed.

[2021-06-08 20:00] kthyng commented on #3247
Paper comments:
* Your affiliation is pretty empty. Can you make this more standardized?
* 2nd paragraph: there are a bunch of acronyms without being written out. Is there a reason you don't explain what they are?
* "The ICU models..." sentence ends with the period in the wrong place and incorrect spacing.
* In Statement of need: spacing with the Fujie reference is off.
* Epidemics on Networks: th

[2021-06-08 20:00] kthyng commented on #3247
Please change the title and author list in the Zenodo archive metadata to exactly match your JOSS paper.

[2021-06-08 20:02] kthyng commented on #3168
Everything looks great! Ready to go!

[2021-06-08 20:02] kthyng commented on #3168
@whedon accept deposit=true

[2021-06-08 20:02] whedon commented on #3168
[code]

[2021-06-08 20:03] whedon commented on #3168
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1402355617289867268) 👈 🐦🐦🐦

[2021-06-08 20:03] whedon commented on #3168
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2378
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03168](https://doi.org/10.21105/joss.03168)
2. If everything look

[2021-06-08 20:15] gully commented on #3095
OK @shihyuntang `telfit` has `pip install` working for python 3, including the change you made for the setup.py configuration.  Thank you!  You have one open PR over there ("resolution2") that that I think I can merge next.

[2021-06-08 20:20] sibirrer commented on #3283
something is weird with the DOI, earlier and later announcements by JOSS did result in a link (the twitter announcement is kind of lost without the DOI link). Is there a way to re-trigger the DOI generation @danielskatz?

[2021-06-08 20:27] danielskatz commented on #3283
Yes, I'm aware of this and we are looking into it

[2021-06-08 20:34] feddelegrand7 commented on #3013
Hello @sbenthall. Thank you for asking, unfortunately I don't have the "time series" background and  necessary skills to review the package.

[2021-06-08 20:39] kthyng commented on #3168
Congrats on your new publication @davemlz! Thank you to editor @kbarnhart and reviewers @giswqs, @elbeejay, and @patrickcgray for your hard work and expertise!

[2021-06-08 20:39] #3168 closed

[2021-06-08 20:39] whedon commented on #3168
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03168/status.svg)](https://doi.org/10.21105/joss.03168)

**We need your help!**

Journal of Open Source Softwa

[2021-06-08 20:43] hpiwowar commented on #3251
Sorry Dan, @jasonpriem and I are swamped right now and not able to do any reviews.

[2021-06-08 20:46] danielskatz commented on #3251
@hpiwowar - thanks for the quick response in any case

[2021-06-08 21:15] piyueh commented on #3114
@whedon check reference

[2021-06-08 21:15] piyueh commented on #3114
@whedon check references

[2021-06-08 21:16] whedon commented on #3114
[code]

[2021-06-08 21:16] piyueh commented on #3114
@whedon generate pdf

[2021-06-08 21:17] whedon commented on #3114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03114/joss.03114/10.21105.joss.03114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03114/joss.03114/10.21105.joss.03114.pdf) :page_facing_up: :point_left:

[2021-06-08 21:48] shihyuntang commented on #3095
Hi @gully
Wow, thank you!
My other pull request ("resolution2") for `Telfit` is not only changing the resolution --> resolution2, but also fixed the print statements for example Fit.py file to let it be py3.X compatible.
(I have fixed the conflict for that branch. Now you should be able to just pull it.)

[2021-06-08 22:15] whedon opened #3345 "[PRE REVIEW]: pyDeltaRCM: a flexible numerical delta model"
**Submitting author:** @amoodie (<a href="http://orcid.org/0000-0002-6745-036X">Andrew Moodie</a>)
**Repository:** <a href="https://github.com/DeltaRCM/pyDeltaRCM" target ="_blank">https://github.com/DeltaRCM/pyDeltaRCM</a>
**Version:** v2.0
**Editor:** @kbarnhart
**Reviewers:** @zsylvester, @jhnienhuis
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-06-08 22:15] whedon commented on #3345
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-08 22:16] whedon commented on #3345
[code]

[2021-06-08 22:16] whedon commented on #3345
[code]

[2021-06-08 22:17] kthyng commented on #3345
Hi @amoodie and thanks for your submission! I am adding it to the backlog of submissions that we have currently until an editor with relevant expertise is available. Thank you for your patience.

[2021-06-08 22:19] kbarnhart commented on #3345
@kthyng I can take this on. I'm currently handling two submissions, but one should be done very soon (maybe even tomorrow).

[2021-06-08 22:22] kbarnhart commented on #3345
@whedon assign @kbarnhart as editor

[2021-06-08 22:22] whedon commented on #3345
OK, the editor is @kbarnhart

[2021-06-08 22:32] kbarnhart commented on #3345
@amoodie I'll follow up in the next couple of days with any pre-review comments or issues. In the meantime, please identify reviewers you think would be appropriate for this submission (mention them without the @ in front of their github username).

[2021-06-08 23:14] piyueh commented on #3114
Thank you @kbarnhart

1. The missing DOIs were added to the references.
2. I couldn't find the dates of the websites of Hydronia and RPS Group, so I just left them with `n.d.`
3. The release tag is `v1.0`: https://github.com/barbagroup/geoclaw-landspill/releases/tag/v1.0
4. The DOI of Zenodo archive: 10.5281/zenodo.4914798 (http://doi.org/10.5281/zenodo.4914798)

[2021-06-08 23:43] amoodie commented on #3345
Awesome, thank you @kbarnhart!

I'll get the malformed doi whedon pointed out above fixed, along with anything you point out that needs to be corrected.

Some potential reviewers:
* Katherine Ratliff (river avulsion and floodplain evolution model `rafem` developer) `katmratliff`
* Nathan Lyons (Python model development) `nathanlyons`
* Zoltán Sylvester (Python model development, surface processes)

[2021-06-09 01:41] alicia-ziying-yang commented on #3244
Hi, I have fixed the suggested DOI. Please check again.

[2021-06-09 02:09] majensen commented on #2880
Thanks for your response, @vahid-sb. I've been there. I appreciate your submission and the contributions of @AngryMaciek and @adi3. Feel free to resubmit the paper if and when you are ready to do so; recommend me as editor.

[2021-06-09 02:09] majensen commented on #2880
@whedon withdraw

[2021-06-09 02:09] whedon commented on #2880
I'm sorry @majensen, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-06-09 02:10] majensen commented on #2880
@openjournals/jose-eics - @vahid-sb has requested that this submission be withdrawn. Thanks for your attention to this.

[2021-06-09 02:30] ashleychontos commented on #3331
Thank you so much @benjaminpope for providing this extremely helpful review so quickly! We also acknowledge the importance of reproducing the paper figure but have been stuck on the best way to implement this. We were wondering if JOSS has a recommended data-hosting website, something analogous to [CDS](http://cds.u-strasbg.fr) for data releases associated with astronomy papers. Providing the powe

[2021-06-09 02:44] matthewfeickert commented on #3174
I'm a bit short on time this week, so I can get more detailed later, but so that you get some response sooner then later:

- Demonstrations are fully runnable examples that are showing a user how one interacts with the grammar of the API and a potential use workflow. They ideally exist in as a mixture of both code as well as through annotation and discussion on the purpose (here the physics) or wh

[2021-06-09 02:48] labarba commented on #2880
@openjournals/joss-editors

[2021-06-09 03:35] danhey commented on #3331
Hi all, this has been a pleasure to review! It's a great piece of software, and I have no doubt it will be extremely useful for asteroseismology. Overall, I believe pySYD satisfies the JOSS criteria for publication after a few points have been addressed.

I agree with all of Ben's comments, especially regarding the distinction between a command-line vs. API tool. It appears to me that the function

[2021-06-09 03:59] benjaminpope commented on #3331
Agree with all of @danhey's comments.

Re @ashleychontos' question about data hosting - there are a few ways to do this... you could just upload a static .ipnyb that implements the required calculations, and describe where the input data come from - I imagine these are programmatically pulled from MAST or KASOC/TASOC. Or you could do it all on git-lfs. Finally, many universities have large, perman

[2021-06-09 04:29] jni commented on #3098
@vyasr apologies, I have been overwhelmed by other work — I will make another push here. Thank you for your patience! 🙏

[2021-06-09 05:11] hugoledoux commented on #3279
@whedon add @Geogoeroe as reviewer

[2021-06-09 05:11] whedon commented on #3279
OK, @Geogoeroe is now a reviewer

[2021-06-09 05:12] hugoledoux commented on #3279
@whedon start review

[2021-06-09 05:12] whedon opened #3346 "[REVIEW]: The Region Growing Plugin (RegionGrow)"
**Submitting author:** @gro5-AberUni (<a href="http://orcid.org/0000-0002-5054-1548">Gregory Oakes</a>)
**Repository:** <a href="https://github.com/gro5-AberUni/RegionGrow" target ="_blank">https://github.com/gro5-AberUni/RegionGrow</a>
**Version:** V4.1
**Editor:** @hugoledoux
**Reviewer:** @jorgegil, @Geogoeroe
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-06-09 05:12] whedon commented on #3279
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3346.

[2021-06-09 05:12] #3279 closed

[2021-06-09 05:12] whedon commented on #3346
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jorgegil, @Geogoeroe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-06-09 05:12] whedon commented on #3346
[code]

[2021-06-09 05:12] whedon commented on #3346
[code]

[2021-06-09 05:13] whedon commented on #3346
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03346/joss.03346/10.21105.joss.03346.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03346/joss.03346/10.21105.joss.03346.pdf) :page_facing_up: :point_left:

[2021-06-09 05:57] davemlz commented on #3168
Thank you very much, @kbarnhart and @kthyng, it looks amazing!

Big thanks to @elbeejay, @giswqs, @patrickcgray for the awesome help with the eemont review!

[2021-06-09 06:51] JoelForamitti commented on #3065
@whedon generate pdf

[2021-06-09 06:52] whedon commented on #3065
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: :point_left:

[2021-06-09 06:54] JoelForamitti commented on #3065
@sbenthall I have added the citation

[2021-06-09 06:56] virgesmith commented on #3268
Some reviewer suggestions: zeroset, platipodium, tresoldi

Also not sure why it's tagged python, shell, tex? C++, python would be more appropriate

[2021-06-09 07:28] arfon commented on #3283
The DOI should now be resolving!

[2021-06-09 07:28] #3283 closed

[2021-06-09 07:28] whedon commented on #3283
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03283/status.svg)](https://doi.org/10.21105/joss.03283)

**We need your help!**

Journal of Open Source Softwa

[2021-06-09 07:31] xuanxu commented on #3065
@sbenthall The paper should include a summary, but is not mandatory to title the section as 'Summary', it is recommended, but 'Introduction' is also OK.

[2021-06-09 07:44] faroit commented on #3244
@whedon check references

[2021-06-09 07:45] whedon commented on #3244
[code]

[2021-06-09 07:48] alicia-ziying-yang commented on #3244
@whedon check references

[2021-06-09 07:49] whedon commented on #3244
[code]

[2021-06-09 07:54] sappelhoff commented on #3293
@whedon remind @sappelhoff in 2 weeks

If I don't reply anymore, please notify me via email, that you should be able to see from my GH profile.

[2021-06-09 07:54] whedon commented on #3293
I'm sorry @sappelhoff, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-06-09 07:54] vissarion commented on #3255
@Kevin-Mattheus-Moerman almost all of my comments/issues above are addressed by the author (thanks @LiangliangNan !). There is only one left https://github.com/LiangliangNan/Easy3D/issues/81 where I asked for some more clarifications.

[2021-06-09 08:12] ad48 commented on #3251
Hi @danielskatz Thanks for helping with our submission. We will take a look at the list and get back to you.

[2021-06-09 08:18] faroit commented on #3244
@whedon generate pdf

[2021-06-09 08:18] whedon commented on #3244
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03244/joss.03244/10.21105.joss.03244.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03244/joss.03244/10.21105.joss.03244.pdf) :page_facing_up: :point_left:

[2021-06-09 08:26] faroit commented on #3244
@whedon check repository

[2021-06-09 08:27] whedon commented on #3244
Failed to discover a `Statement of need` section in paper

[2021-06-09 08:27] whedon commented on #3244
[code]

[2021-06-09 08:39] faroit commented on #3244
@alicia-ziying-yang

thanks, looks good.

Can you also modify the markdown section headers so that they match the [JOSS template](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)? E.g. `# 2. Statement of Need` -> `# Statement of need`... etc.

[2021-06-09 08:56] csoneson commented on #3342
@whedon assign @csoneson as editor

[2021-06-09 08:56] whedon commented on #3342
OK, the editor is @csoneson

[2021-06-09 08:57] csoneson commented on #3342
👋🏻 @jeffreybarrick - I will handle your submission and start by finding some suitable reviewers. If you have any suggestions (e.g., from the list linked in the first post above), please let me know!

[2021-06-09 09:03] alicia-ziying-yang commented on #3244
@whedon check repository

[2021-06-09 09:03] whedon commented on #3244
Failed to discover a `Statement of need` section in paper

[2021-06-09 09:03] whedon commented on #3244
[code]

[2021-06-09 09:06] alicia-ziying-yang commented on #3244
@whedon check repository

[2021-06-09 09:06] whedon commented on #3244
[code]

[2021-06-09 10:00] mfenner commented on #3251
I can review.

[2021-06-09 10:23] ad48 commented on #3251
@danielskatz I looked at the spreadsheet and found these names who seem like they would have the right skills and interests.

-- Bibliometrics + Python
gagolews
(there are a few others with Bibliometrics / Scientometrics in their skills, but not Python)

-- ScholComms + Python
dhimmel

-- NLP + Python
bagheria
indika.kahanda at montana
(the NLP in our application is very basic, so on the one hand

[2021-06-09 11:11] hansenjohnson commented on #3094
Thanks @kthyng! I have removed the "Figures" sections as well as the stars at the bottom of the page. Let me know if anything else is necessary!

[2021-06-09 11:12] hansenjohnson commented on #3094
@whedon generate pdf

[2021-06-09 11:12] whedon commented on #3094
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: :point_left:

[2021-06-09 11:38] LiangliangNan commented on #3255
@vissarion I've added a "Test" section in the ReadMe file. Thanks!

[2021-06-09 12:07] danielskatz commented on #3283
Congratulations to @sibirrer (Simon Birrer) and co-authors!!

And thanks to @smsharma and @coljac for reviewing!

[2021-06-09 12:12] danielskatz commented on #3268
I think that's just what code was found in the repo - don't worry about it

[2021-06-09 12:13] danielskatz commented on #3251
Thanks @mfenner - I'll add you, but we won't start the review (which will happen in a new issue) until we find one more reviewer as well.

[2021-06-09 12:13] danielskatz commented on #3251
@whedon assign @mfenner as reviewer

[2021-06-09 12:13] whedon commented on #3251
OK, @mfenner is now a reviewer

[2021-06-09 12:14] danielskatz commented on #3268
👋 @zeroset, @platipodium, @tresoldi - Would a couple of you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-09 12:16] danielskatz commented on #3251
👋 @gagolews, @dhimmel  - Would one of you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-09 12:46] platipodium commented on #3268
I am happy to take on this review if you think I satisfy the definition of "social-scientists with C++ and python skills"

[2021-06-09 12:48] danielskatz commented on #3268
Thanks - Let's try and see how it works out.  I'll add you, but we won't start the review until we also find a second reviewer.

[2021-06-09 12:48] platipodium commented on #3268
I certainly agree, there definitely is a gap in the market for python-based ABM tools.

[2021-06-09 12:48] danielskatz commented on #3268
@whedon assign @platipodium as reviewer

[2021-06-09 12:48] whedon commented on #3268
OK, @platipodium is now a reviewer

[2021-06-09 12:53] whedon commented on #3313
:wave: @samuelduchesne, please update us on how your review is going (this is an automated reminder).

[2021-06-09 12:53] whedon commented on #3313
:wave: @ritwikagarwal, please update us on how your review is going (this is an automated reminder).

[2021-06-09 13:38] alicia-ziying-yang commented on #3244
fixed.

[2021-06-09 14:30] whedon commented on #3244
[code]

[2021-06-09 14:30] faroit commented on #3244
@whedon generate pdf

[2021-06-09 14:31] whedon commented on #3244
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03244/joss.03244/10.21105.joss.03244.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03244/joss.03244/10.21105.joss.03244.pdf) :page_facing_up: :point_left:

[2021-06-09 14:32] faroit commented on #3244
@whedon start review

[2021-06-09 14:32] whedon opened #3347 "[REVIEW]: ConTEXT Explorer: a web-based text analysis tool for exploring and visualizing concepts across time"
**Submitting author:** @alicia-ziying-yang (<a href="http://orcid.org/0000-0001-7705-3280">Ziying Yang</a>)
**Repository:** <a href="https://github.com/alicia-ziying-yang/conTEXT-explorer" target ="_blank">https://github.com/alicia-ziying-yang/conTEXT-explorer</a>
**Version:** 1.0.0
**Editor:** @faroit
**Reviewer:** @sara-02, @baileythegreen
**Archive:** <a href="https://doi.org/10.5281/zenodo.576

[2021-06-09 14:32] whedon commented on #3244
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3347.

[2021-06-09 14:32] #3244 closed

[2021-06-09 14:32] whedon commented on #3347
[code]

[2021-06-09 14:32] whedon commented on #3347
[code]

[2021-06-09 14:32] whedon commented on #3347
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03347/joss.03347/10.21105.joss.03347.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03347/joss.03347/10.21105.joss.03347.pdf) :page_facing_up: :point_left:

[2021-06-09 14:33] kthyng commented on #3094
Ok thanks @hansenjohnson! Everything looks good to go!

[2021-06-09 14:34] kthyng commented on #3094
@whedon accept deposit=true

[2021-06-09 14:34] whedon commented on #3094
[code]

[2021-06-09 14:34] whedon commented on #3094
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1402635273968750594) 👈 🐦🐦🐦

[2021-06-09 14:34] whedon commented on #3094
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2379
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03094](https://doi.org/10.21105/joss.03094)
2. If everything look

[2021-06-09 14:36] kthyng commented on #2880
@whedon withdraw

[2021-06-09 14:36] whedon commented on #2880
Paper withdrawn.

[2021-06-09 14:36] #2880 closed

[2021-06-09 14:41] kthyng commented on #3094
Congrats on your new publication @hansenjohnson! Thanks to editor @KristinaRiemer and reviewers @pjbouchet and @mcsiple for your hard work and expertise!!

[2021-06-09 14:41] #3094 closed

[2021-06-09 14:41] whedon commented on #3094
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03094/status.svg)](https://doi.org/10.21105/joss.03094)

**We need your help!**

Journal of Open Source Softwa

[2021-06-09 14:51] KristinaRiemer commented on #3200
Hi @puruckertom and @BrandonEdwards, just checking in to see if you have a timeline for when you could start working on this review? Please let me know if I can help in any way!

[2021-06-09 14:52] sibirrer commented on #3283
Thank you @danielskatz @smsharma @coljac on behalf of all authors!

[2021-06-09 14:54] BrandonEdwards commented on #3200
Hi @KristinaRiemer apologies for the delay, and thank you for the poke! Any chance I could have until next Wednesday (16 June) for this?

[2021-06-09 15:06] KristinaRiemer commented on #3200
Hi @BrandonEdwards, next Wednesday would be great!

[2021-06-09 15:06] SunilAnandatheertha commented on #3190
@whedon generate pdf

[2021-06-09 15:06] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-06-09 15:08] SunilAnandatheertha commented on #3190
@whedon check references

[2021-06-09 15:08] whedon commented on #3190
[code]

[2021-06-09 15:11] SunilAnandatheertha commented on #3190
@whedon check references

[2021-06-09 15:11] whedon commented on #3190
[code]

[2021-06-09 15:22] hansenjohnson commented on #3094
Fantastic! Thank you so much again to all of you for your time, feedback, and guidance through this process. Your efforts have greatly improved the manuscript and application. Submitting to JOSS was a wonderful experience!

[2021-06-09 15:25] arfon commented on #2989
@hadware – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the autho

[2021-06-09 15:26] arfon commented on #2989
@whedon check references

[2021-06-09 15:26] whedon commented on #2989
[code]

[2021-06-09 15:29] whedon commented on #3314
:wave: @smolins, please update us on how your review is going (this is an automated reminder).

[2021-06-09 15:39] hadware commented on #2989
Ok @arfon , will do! Should I just copy the DOI here, or is there a specific way to do this with @whedon ?

[2021-06-09 15:40] SunilAnandatheertha commented on #3190
Sorry, I used check references command, which is an editorial command. Did not know about it.

[2021-06-09 15:43] KristinaRiemer commented on #3094
Thanks for your submission @hansenjohnson, and to @pjbouchet and @mcsiple for your reviews!

[2021-06-09 15:46] SunilAnandatheertha commented on #3190
@whedon generate pdf

[2021-06-09 15:46] whedon commented on #3190
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03190/joss.03190/10.21105.joss.03190.pdf) :page_facing_up: :point_left:

[2021-06-09 15:47] faroit commented on #3347
@sara-02, @baileythegreen - This is the review thread for the paper. All of our communications will happen here from now on.

I guess you are both familiar with the JOSS review procedure...

As always, both of you have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. The

[2021-06-09 15:49] arfon commented on #2989
Just copy here. Thanks @hadware.

[2021-06-09 15:49] platipodium commented on #3268
Hey @whedon, I guess you forgot to update your doi rules, as the reference with https://doi.org/ is now the recommended way to cite DOis

[2021-06-09 15:50] platipodium commented on #3268
@arfon How can I update my reviewer profile in  this [list of people ](https://bit.ly/joss-reviewers) ?

[2021-06-09 15:54] danielskatz commented on #3268
But this isn't how bibtex works - leave off the prefix in the bibtex entry, and it will be added back in the pandoc/tex processing

[2021-06-09 16:02] hadware commented on #2989
All right:

10.5281/zenodo.4917244

Here's the ZENODO DOI, and here's the package's page : https://zenodo.org/record/4917244 .
I hope this fits the bill.

[2021-06-09 16:21] zeroset commented on #3268
Hi @danielskatz, unfortunately i already have another ongoing review and too less time. Sorry.

[2021-06-09 16:21] zbeekman commented on #3311
I have a minor preference for updating the paper to reflect the new capabilities, but this is absolutely *NOT* a deal breaker for me either way, and I think you should probably do what makes the most sense for you. Thanks for the heads up though!!! Easier for me to play around with if it includes docker too!

[2021-06-09 16:24] danielskatz commented on #3268
👋 @virgesmith - while we wait to hear back from tresoldi, do you have any other suggestions for people to try?  They don't have to be from our list, and they don't have be people on GitHub (though it's much easier if they are)

[2021-06-09 16:26] whedon commented on #3294
:wave: @kanderso-nrel, please update us on how your review is going (this is an automated reminder).

[2021-06-09 16:29] crvernon commented on #3294
My last item was just addressed yesterday and closed in https://github.com/PyPSA/atlite/issues/143

I am now good to sign off on recommending that this article is ready for publication from my perspective as a reviewer.  Great work @FabianHofmann , @euronion and team!

[2021-06-09 16:37] arfon commented on #2989
@whedon set 10.5281/zenodo.4917244 as archive

[2021-06-09 16:37] whedon commented on #2989
OK. <a href="https://doi.org/10.5281/zenodo.4917244" target="_blank">10.5281/zenodo.4917244</a> is the archive.

[2021-06-09 16:38] arfon commented on #2989
@whedon recommend-accept

[2021-06-09 16:38] whedon commented on #2989
[code]

[2021-06-09 16:38] FabianHofmann commented on #3294
Thank you very much @crvernon, this is good news! And the feedback was very helpful :)

[2021-06-09 16:38] whedon commented on #2989
[code]

[2021-06-09 16:38] whedon commented on #2989
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2380

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2380, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-09 16:40] shihyuntang commented on #3095
Dear @dfm ,

-->Done

--> v1.0.0

--> DOI: 10.5281/zenodo.4917291. On [https://zenodo.org/record/4917291#.YMDuNC_fC-Y](https://zenodo.org/record/4917291#.YMDuNC_fC-Y)

Thank you!

[2021-06-09 16:46] dhimmel commented on #3251
I accept!

[2021-06-09 16:56] kbarnhart commented on #3114
@whedon set 10.5281/zenodo.4914798 as archive

[2021-06-09 16:56] whedon commented on #3114
OK. <a href="https://doi.org/10.5281/zenodo.4914798" target="_blank">10.5281/zenodo.4914798</a> is the archive.

[2021-06-09 16:56] kbarnhart commented on #3114
@whedon set v1.0 as version

[2021-06-09 16:56] whedon commented on #3114
OK. v1.0 is the version.

[2021-06-09 16:57] kbarnhart commented on #3114
@whedon recommend-accept

[2021-06-09 16:57] whedon commented on #3114
[code]

[2021-06-09 16:57] whedon commented on #3114
[code]

[2021-06-09 16:57] whedon commented on #3114
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2381

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2381, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-09 16:58] kbarnhart commented on #3114
@piyueh I've now recommended that this submission be accepted. One of the @openjournals/joss-eics will handle the final steps of this process. Congratulations on a valuable contribution. Many thanks to reviewers @dlgeorge, @jmansour, @bzindovic for you thoughtful and constructive reviews.

[2021-06-09 17:13] danielskatz commented on #3251
great, thanks! - I'll add you and we'll get started

[2021-06-09 17:13] danielskatz commented on #3251
@whedon add @dhimmel as reviewer

[2021-06-09 17:13] whedon commented on #3251
OK, @dhimmel is now a reviewer

[2021-06-09 17:13] danielskatz commented on #3251
@whedon start review

[2021-06-09 17:13] whedon opened #3348 "[REVIEW]: The SAGE Rejected Article Tracker"
**Submitting author:** @ad48 (<a href="http://orcid.org/0000-0002-8529-9990">Adam Day</a>)
**Repository:** <a href="https://github.com/sagepublishing/rejected_article_tracker_pkg" target ="_blank">https://github.com/sagepublishing/rejected_article_tracker_pkg</a>
**Version:** 1.5.8
**Editor:** @danielskatz
**Reviewer:** @mfenner, @dhimmel
**Archive:** <a href="https://doi.org/10.5281/zenodo.515597

[2021-06-09 17:13] whedon commented on #3251
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3348.

[2021-06-09 17:13] #3251 closed

[2021-06-09 17:14] whedon commented on #3348
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mfenner, @dhimmel it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-06-09 17:14] whedon commented on #3348
[code]

[2021-06-09 17:14] whedon commented on #3348
[code]

[2021-06-09 17:14] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-06-09 17:15] danielskatz commented on #3348
@mfenner and @dhimmel - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Pl

[2021-06-09 17:16] piyueh commented on #3114
Thank you @kbarnhart @dlgeorge @jmansour @bzindovic! I really appreciate your time and help!

[2021-06-09 17:39] vsoch commented on #3311
@whedon generate pdf

[2021-06-09 17:40] whedon commented on #3311
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03311/joss.03311/10.21105.joss.03311.pdf) :page_facing_up: :point_left:

[2021-06-09 17:41] dfm commented on #3095
@whedon set 10.5281/zenodo.4917291 as archive

[2021-06-09 17:41] dfm commented on #3095
@whedon set v1.0.0 as version

[2021-06-09 17:41] whedon commented on #3095
OK. v1.0.0 is the version.

[2021-06-09 17:42] dfm commented on #3095
@whedon recommend-accept

[2021-06-09 17:43] whedon commented on #3095
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2382

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2382, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-09 17:47] zbeekman commented on #3311
Sounds perfect! I'll look at the updated draft!

[2021-06-09 18:03] jeffreybarrick commented on #3342
@csoneson - Thanks! Here are some reviewers we'd suggest from the list: rpetit3, ayush9pandey, standage, mjsull

[2021-06-09 20:08] diehlpk commented on #3274
@camillescott How is your review going?

[2021-06-09 20:57] jodischneider commented on #3251
Sorry, I'm overbooked - but feel free to ask me for another scholcomm
project in the future, or if you lose a quorum of reviewers on this one!

On Tue, Jun 8, 2021 at 1:31 PM Daniel S. Katz ***@***.***>
wrote:

[2021-06-09 20:59] Kevin-Mattheus-Moerman commented on #3055
@wimvanderbauwhede can you comment on whether you are happy to recommend accept or if there are any remaining issues? Thanks!

[2021-06-09 21:13] Kevin-Mattheus-Moerman commented on #3226
After a discussion with the editorial board we decided that contribution does constitute a conflict of interest. We will therefore proceed to remove @logankilpatrick as a reviewer.

@logankilpatrick thanks for offering to help. We'd love your help reviewing other packages for JOSS in the future if you are available.

[2021-06-09 21:14] Kevin-Mattheus-Moerman commented on #3226
@whedon remove @logankilpatrick as reviewer

[2021-06-09 21:14] whedon commented on #3226
OK, @logankilpatrick is no longer a reviewer

[2021-06-09 21:15] Kevin-Mattheus-Moerman commented on #3226
@jkrumbiegel @gaelforget @fverdugo I will now initiate the review process.

[2021-06-09 21:15] Kevin-Mattheus-Moerman commented on #3226
@whedon start review

[2021-06-09 21:15] whedon opened #3349 "[REVIEW]: Makie.jl: Flexible high-performance data visualization for Julia"
**Submitting author:** @jkrumbiegel (<a href="http://orcid.org/0000-0002-8409-5590">Julius Krumbiegel</a>)
**Repository:** <a href="https://github.com/JuliaPlots/Makie.jl" target ="_blank">https://github.com/JuliaPlots/Makie.jl</a>
**Version:** v.0.15.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @fverdugo, @gaelforget
**Archive:** <a href="https://doi.org/10.5281/zenodo.5106448" target="_bl

[2021-06-09 21:15] whedon commented on #3226
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3349.

[2021-06-09 21:15] #3226 closed

[2021-06-09 21:15] whedon commented on #3349
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fverdugo, @gaelforget it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-06-09 21:15] whedon commented on #3349
[code]

[2021-06-09 21:15] whedon commented on #3349
PDF failed to compile for issue #3349 with the following error:
[code]

[2021-06-09 21:16] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel @gaelforget @fverdugo this is where the review will take place.

[2021-06-09 21:16] Kevin-Mattheus-Moerman commented on #3349
@whedon generate pdf from branch joss-paper

[2021-06-09 21:16] whedon commented on #3349
[code]

[2021-06-09 21:17] whedon commented on #3349
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03349/joss.03349/10.21105.joss.03349.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03349/joss.03349/10.21105.joss.03349.pdf) :page_facing_up: :point_left:

[2021-06-09 22:22] mbobra commented on #3331
@ashleychontos Agree with @benjaminpope. You can provide code that queries and downloads the data and then makes the figure from that downloaded data. Then it is the user's responsibility to store the data (for ~300 MB, not too big an ask), but all they need to do to reproduce the figure is run the provided code.

[2021-06-09 23:49] gagolews commented on #3251
Apologies, extremely busy atm too.

[2021-06-10 02:13] jmp75 commented on #3332
@whedon generate pdf

[2021-06-10 02:55] gerudo7 commented on #3174
Okay, I think that clears things up for me. Thank you!

[2021-06-10 02:58] mjacob1002 commented on #3247
Hi @kthyng ,

Thanks for your feedback. I've gone through the paper and cleaned up phrasing and syntax errors, but please let me know if I missed any. Additionally, I changed the Zenodo and author list to match the JOSS paper.

Let me know if there is anything else I should modify in the Zenodo archive or the paper.

- Mathew

[2021-06-10 03:29] vyasr commented on #3098
No problem, whenever you can fit this into your schedule is fine with me! I appreciate your efforts.

[2021-06-10 07:55] vissarion commented on #3255
@Kevin-Mattheus-Moerman I am done with my review and happily suggest acceptance.

@LiangliangNan thanks for writing and maintaining such as useful package and thanks for your collaboration during the review process.

[2021-06-10 08:17] Kevin-Mattheus-Moerman commented on #3255
@adi3 @bhajay can you provide an update on review progress? Can you tick any boxes that you feel can be ticked and summarize what you feel needs work? Thanks again for your help!

[2021-06-10 08:18] tramarobin commented on #3159
@cMadan,  after a quick discussion with the reviewers (https://github.com/tramarobin/fctSPM/issues/21), I would like to know if it was possible to change the name of the function, as well as the name of the paper.

The function's name would be `fctSnPM`, and the title of the article `'fctSnPM: Factorial ANOVA and post-hoc tests for Statistical nonParametric Mapping in MATLAB'`

This name better su

[2021-06-10 08:19] Kevin-Mattheus-Moerman commented on #3260
@mikesmithlab I'll be your handling editor for this submission. I will now proceed to find reviewers for this work. If you'd like to suggest reviewers at this point that would be helpful. You can mention their github names but leave out the @ symbols for the moment. Thanks.

[2021-06-10 08:20] adi3 commented on #3255
@Kevin-Mattheus-Moerman I'll progress through my checklist this weekend

[2021-06-10 08:34] Kevin-Mattheus-Moerman commented on #3260
@mikesmithlab  Some points to consider below.

- [ ] Can you please check that invalid DOI in the paper, see the reference check :point_up:
- [ ] Can you work on adding clear contribution guidelines (see [here](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors) for more information)? I recommend adding a CONTRIBU

[2021-06-10 09:07] leonardovida commented on #3338
Hi @kthyng, thank you for the answer and for the update!

[2021-06-10 09:12] whedon opened #3350 "[PRE REVIEW]: TsgFEM: Tensegrity Finite Element Method"
**Submitting author:** @Muhao-Chen (<a href="http://orcid.org/0000-0003-1812-6835">Muhao Chen</a>)
**Repository:** <a href="https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM" target ="_blank">https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM</a>
**Version:** v1.1
**Editor:** @diehlpk
**Reviewers:** @HaoZeke, @Kevin-Mattheus-Moerman
**Managing EiC:** Kevin M.

[2021-06-10 09:12] whedon commented on #3350
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-10 09:12] whedon commented on #3350
[code]

[2021-06-10 09:12] whedon commented on #3350
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03350/joss.03350/10.21105.joss.03350.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03350/joss.03350/10.21105.joss.03350.pdf) :page_facing_up: :point_left:

[2021-06-10 09:15] whedon commented on #3350
[code]

[2021-06-10 09:30] SunilAnandatheertha commented on #3190
@yangbai90 @littlelazy6 @ksyang2013 Hi I have incorporated changes accroding to your comments and replied here: [https://github.com/openjournals/joss-reviews/issues/3190#issuecomment-857788910]. Thank you.

[2021-06-10 10:14] Kevin-Mattheus-Moerman commented on #3350
@Muhao-Chen thanks for this submission to JOSS. We have some questions in relation to this work.

This looks like it is a continuation of work you and your co-workers previously submitted to JOSS, namely MOTES ([paper](https://joss.theoj.org/papers/10.21105/joss.01613), [review](https://github.com/openjournals/joss-reviews/issues/1613), [software repository](https://github.com/ramaniitrgoyal92/Mod

[2021-06-10 11:19] tresoldi commented on #3268
@danielskatz I have checked the code and the draft. The library seems robust and useful (I will probably consider it for a project we are just beginning to plan!) and I would be happy to take this review.

Note, however, that an ABM tool lies a bit too much outside my domains of expertise (historical linguistics and evolutionary studies in general, especially phylogenetics). While I am confident I

[2021-06-10 11:23] platipodium commented on #3268
@tresoldi

I am proficient in ABM modeling and applications, so we should make a good complementary reviewer team!

[2021-06-10 11:31] tresoldi commented on #3268
@platipodium perfect! If @danielskatz agrees, I see no reason not to proceed. :)

[2021-06-10 12:03] danielskatz commented on #3268
great, thanks - let's get started

[2021-06-10 12:04] danielskatz commented on #3268
@whedon add @tresoldi as reviewer

[2021-06-10 12:04] whedon commented on #3268
OK, @tresoldi is now a reviewer

[2021-06-10 12:04] danielskatz commented on #3268
@whedon start review

[2021-06-10 12:04] whedon opened #3351 "[REVIEW]: neworder: a dynamic microsimulation framework for python"
**Submitting author:** @virgesmith (<a href="http://orcid.org/0000-0002-9951-6642">Andrew Smith</a>)
**Repository:** <a href="https://github.com/virgesmith/neworder" target ="_blank">https://github.com/virgesmith/neworder</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewer:** @platipodium, @tresoldi
**Archive:** <a href="https://doi.org/10.5281/zenodo.5090120" target="_blank">10.5281/zenod

[2021-06-10 12:04] whedon commented on #3268
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3351.

[2021-06-10 12:04] #3268 closed

[2021-06-10 12:04] whedon commented on #3351
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @platipodium, @tresoldi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-06-10 12:04] whedon commented on #3351
[code]

[2021-06-10 12:04] whedon commented on #3351
[code]

[2021-06-10 12:04] whedon commented on #3351
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03351/joss.03351/10.21105.joss.03351.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03351/joss.03351/10.21105.joss.03351.pdf) :page_facing_up: :point_left:

[2021-06-10 12:06] danielskatz commented on #3351
👋 @platipodium and @tresoldi - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelin

[2021-06-10 12:17] virgesmith commented on #3351
thanks @danielskatz @platipodium @tresoldi! I'll aim to respond to any issues you raise as quickly as possible

[2021-06-10 12:35] holukas commented on #2575
Thanks @KristinaRiemer for checking the PDF. I made the corrections and adjustments, except regarding the reference International Agrophysics. It seems like that the ellipsis was added when the PDF was generated and I am not sure I can change this from my side. In the .bib file all authors are included with their full name. Regarding the double captions for the figures, I now left the captions emp

[2021-06-10 13:33] rcannood commented on #3311
I think the proposed changes definitely adds value to the manuscript since it widens the audience. :+1:

[2021-06-10 13:44] vsoch commented on #3311
Awesome, thank you!

[2021-06-10 14:07] csoneson commented on #3342
👋🏻 @rpetit3, @ayush9pandey - would you be interested in reviewing this submission for JOSS?

[2021-06-10 14:42] aj2duncan commented on #3292
Apologies @gkthiruvathukal , I'm now ready to start the review but appear to have missed the timings on the invitation. Could it possibly be sent again? Sorry.

[2021-06-10 14:48] kthyng commented on #3247
@whedon generate pdf

[2021-06-10 14:48] whedon commented on #3247
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: :point_left:

[2021-06-10 14:49] whedon opened #3352 "[PRE REVIEW]: mcboost: Multi-Calibration Boosting for R"
**Submitting author:** @pfistfl (<a href="http://orcid.org/0000-0001-8867-762X">Florian Pfisterer</a>)
**Repository:** <a href="https://github.com/mlr-org/mcboost" target ="_blank">https://github.com/mlr-org/mcboost</a>
**Version:** v0.3.0
**Editor:** @osorensen
**Reviewers:** @mwt, @OwenWard
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-06-10 14:49] Kevin-Mattheus-Moerman commented on #3350
@Muhao-Chen thanks for this explanation.

[2021-06-10 14:49] whedon commented on #3352
[code]

[2021-06-10 14:49] whedon commented on #3352
[code]

[2021-06-10 14:49] whedon commented on #3352
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03352/joss.03352/10.21105.joss.03352.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03352/joss.03352/10.21105.joss.03352.pdf) :page_facing_up: :point_left:

[2021-06-10 14:49] whedon opened #3353 "[PRE REVIEW]: mpi4jax: Zero-copy MPI communication of JAX arrays"
**Submitting author:** @dionhaefner (<a href="http://orcid.org/0000-0002-4465-7317">Dion Häfner</a>)
**Repository:** <a href="https://github.com/mpi4jax/mpi4jax-joss" target ="_blank">https://github.com/mpi4jax/mpi4jax-joss</a>
**Version:** v0.3.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-06-10 14:49] whedon commented on #3353
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-10 14:49] whedon commented on #3353
[code]

[2021-06-10 14:49] whedon commented on #3353
Failed to discover a valid open source license.

[2021-06-10 14:49] whedon commented on #3353
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03353/joss.03353/10.21105.joss.03353.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03353/joss.03353/10.21105.joss.03353.pdf) :page_facing_up: :point_left:

[2021-06-10 14:50] whedon commented on #3353
[code]

[2021-06-10 14:51] kthyng commented on #3247
Ok everything looks good @mjacob1002!

[2021-06-10 14:52] kthyng commented on #3247
@whedon accept deposit=true

[2021-06-10 14:52] whedon commented on #3247
[code]

[2021-06-10 14:52] whedon commented on #3247
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1403002173240221702) 👈 🐦🐦🐦

[2021-06-10 14:52] whedon commented on #3247
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2383
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03247](https://doi.org/10.21105/joss.03247)
2. If everything look

[2021-06-10 14:52] whedon opened #3354 "[PRE REVIEW]: Sync Toolbox: A Python Package for Efficient, Robust, and Accurate Music Synchronization"
**Submitting author:** @yiitozer (<a href="http://orcid.org/0000-0003-2235-8655">Yigitcan Özer</a>)
**Repository:** <a href="https://github.com/meinardmueller/synctoolbox" target ="_blank">https://github.com/meinardmueller/synctoolbox</a>
**Version:** 1.0.0
**Editor:** @faroit
**Reviewers:** @lutzhamel, @magdalenafuentes
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warni

[2021-06-10 14:52] whedon commented on #3354
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-10 14:53] whedon commented on #3354
[code]

[2021-06-10 14:53] whedon commented on #3354
PDF failed to compile for issue #3354 with the following error:
[code]

[2021-06-10 14:53] Kevin-Mattheus-Moerman commented on #3350
@Muhao-Chen can you check if all those references are actually cited in the paper? :point_up: Perhaps clean up the .bib file so it is only the papers from the paper and also add those missing DOIs please. You can call `@whedon generate pdf` to update the paper.

[2021-06-10 14:53] whedon opened #3355 "[PRE REVIEW]: Lumen: A software for the interactive visualization of probabilistic models together with data"
**Submitting author:** @nandaloo (<a href="http://orcid.org/0000-0002-6687-8209">Philipp Lucas</a>)
**Repository:** <a href="https://github.com/lumen-org/lumen" target ="_blank">https://github.com/lumen-org/lumen</a>
**Version:** v0.9
**Editor:** @vissarion
**Reviewers:** @crhea93, @szkafander
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-06-10 14:53] whedon commented on #3355
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-10 14:53] whedon opened #3356 "[PRE REVIEW]: TweetClip: A command line tool for streamlining Twitter JSON data"
**Submitting author:** @republicof1 (<a href="http://orcid.org/0000-0002-6608-9648">Benjamin Green</a>)
**Repository:** <a href="https://github.com/Republicof1/TweetClip" target ="_blank">https://github.com/Republicof1/TweetClip</a>
**Version:** v2.6.6
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-06-10 14:53] whedon commented on #3356
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-10 14:53] whedon commented on #3355
[code]

[2021-06-10 14:53] whedon commented on #3355
[code]

[2021-06-10 14:53] whedon commented on #3355
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03355/joss.03355/10.21105.joss.03355.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03355/joss.03355/10.21105.joss.03355.pdf) :page_facing_up: :point_left:

[2021-06-10 14:54] whedon commented on #3356
[code]

[2021-06-10 14:54] whedon commented on #3356
Failed to discover a valid open source license.

[2021-06-10 14:54] whedon commented on #3356
PDF failed to compile for issue #3356 with the following error:
[code]

[2021-06-10 14:54] kthyng commented on #3247
Congrats on your new publication @mjacob1002! Thanks to editor @will-rowe and reviewers @DARSakthi and @joeweaver for your hard work and expertise!!

[2021-06-10 14:54] #3247 closed

[2021-06-10 14:54] whedon commented on #3247
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03247/status.svg)](https://doi.org/10.21105/joss.03247)

**We need your help!**

Journal of Open Source Softwa

[2021-06-10 14:55] kthyng commented on #3353
Hi @dionhaefner and thanks for your submission. What is the software repo that you want reviewed?

[2021-06-10 14:55] kthyng commented on #3354
@whedon generate pdf from branch paper

[2021-06-10 14:56] whedon commented on #3354
[code]

[2021-06-10 14:56] whedon commented on #3354
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03354/joss.03354/10.21105.joss.03354.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03354/joss.03354/10.21105.joss.03354.pdf) :page_facing_up: :point_left:

[2021-06-10 14:57] kthyng commented on #3352
@whedon query scope

[2021-06-10 14:57] whedon commented on #3352
Submission flagged for editorial review.

[2021-06-10 14:57] dionhaefner commented on #3353
👋 @kthyng, thanks for having us!

That would be [mpi4jax/mpi4jax](https://github.com/mpi4jax/mpi4jax).

[2021-06-10 14:58] kthyng commented on #3352
Hi @pfistfl and thanks for your submission! Since it is a bit on the small side, I have triggered a process for the editorial board to check to make sure it is in scope. This process should take 1-2 weeks. Thanks for your patience.

[2021-06-10 14:59] kthyng commented on #3354
Hi @faroit are you interested in editing this submission?

[2021-06-10 14:59] kthyng commented on #3354
@whedon invite @faroit as editor

[2021-06-10 14:59] whedon commented on #3354
@faroit has been invited to edit this submission.

[2021-06-10 14:59] mjacob1002 commented on #3247
Thanks so much @kthyng, @will-rowe, @joeweaver, and @DARSakthi for your hardwork in reviewing my submission - it means a lot (this is my first time publishing, and it has been a wonderful experience!)

Quick follow up question: on the JOSS website, it says that there is a 404 error when trying to display the paper - will this clear up or is something wrong on my end?

[2021-06-10 15:04] kthyng commented on #3356
Hi @Republicof1 and thanks for your submission. I am going to trigger a scope query for it to have the editorial board check to make sure it is in scope before we proceed, the main trigger at this point being its relatively small size. This will take 1-2 weeks; thanks for your patience.

[2021-06-10 15:04] whedon commented on #3356
[code]

[2021-06-10 15:05] whedon commented on #3356
PDF failed to compile for issue #3356 with the following error:
[code]

[2021-06-10 15:06] kthyng commented on #3355
Hi @nandaloo and thanks for your submission. We have a backlog of submissions that I am adding this submission to. When an editor with relevant expertise is available, they will take this on. Thanks for your patience.

[2021-06-10 15:07] kthyng commented on #3356
@whedon query scope

[2021-06-10 15:07] whedon commented on #3356
Submission flagged for editorial review.

[2021-06-10 15:07] kyleniemeyer commented on #3247
@mjacob1002 sometimes it takes a few minutes for the changes to propagate—it displays correctly for me now

[2021-06-10 15:08] faroit commented on #3354
@kthyng I would be happy to edit this.

Just a disclosure: I had one [paper published](https://qmro.qmul.ac.uk/xmlui/handle/123456789/26103) with @meinardmueller (the first author of this submission) 4 years ago and we were both employed by the same institution at that time. Other than that, I don't see any part of the [JOSS COI policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.htm

[2021-06-10 15:08] kthyng commented on #3353
Ok great! The easiest thing to do here is: I will "withdraw" the current submission, and ask you to resubmit this software but using that github url that points to the software itself. Please do this when you can, I'll withdraw now.

[2021-06-10 15:08] kthyng commented on #3353
@whedon withdraw

[2021-06-10 15:08] whedon commented on #3353
Paper withdrawn.

[2021-06-10 15:08] #3353 closed

[2021-06-10 15:09] kthyng commented on #3354
Thank you for stating this @faroit. I'm comfortable with you proceeding as editor in this case.

[2021-06-10 15:13] kthyng commented on #2989
Hi @hadware! Can I verify the version you want associated with this submission before we wrap up?

[2021-06-10 15:15] faroit commented on #3354
@whedon assign me as editor

[2021-06-10 15:15] whedon commented on #3354
OK, the editor is @faroit

[2021-06-10 15:18] kthyng commented on #2989
@hadware a few comments on your paper:

* is this how you usually display your affiliations?
* first sentence under Statement of Need: the reference shouldn't be in parentheses — remove the [] around the reference.
* Same with the final sentence in that paragraph and several more times in the paper. Please update all of these.

[2021-06-10 15:23] yiitozer commented on #3354
Dear JOSS team,

Thank you for starting the prereview process.

I would suggest as possible reviewers faroit, brunaw, expectopatronum and lutzhamel.

[2021-06-10 15:24] kthyng commented on #3114
Hi @piyueh, just one comment on your paper to wrap up:
* first paragraph under STatement of Need: the Belvederesi reference is maybe supposed to be before the period?

[2021-06-10 15:29] kthyng commented on #3095
@dfm made this easy on me!! Looks ready to go!

[2021-06-10 15:29] kthyng commented on #3095
@whedon accept deposit=true

[2021-06-10 15:29] whedon commented on #3095
[code]

[2021-06-10 15:30] whedon commented on #3095
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1403011751877267462) 👈 🐦🐦🐦

[2021-06-10 15:30] whedon commented on #3095
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2384
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03095](https://doi.org/10.21105/joss.03095)
2. If everything look

[2021-06-10 15:32] BenMql commented on #2978
Dear all,

The issue that have been thoroughly reported by @rhaas80  and @robertsawko  are now fixed.

IMHO, only issue #13 still deserves some additional work: I tried my best to have a pedagogical and gradual approach for teaching the user how to enter PDEs in the solver Coral. I am still working to streamline the process. On the bright side, the user is now provided with 3 full benchmarks taken

[2021-06-10 15:38] kthyng commented on #3095
Congrats on your new publication @shihyuntang! Many thanks to editor @dfm and reviewers @jmbrewer and @gully for your hard work and expertise!

[2021-06-10 15:38] #3095 closed

[2021-06-10 15:39] whedon commented on #3095
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03095/status.svg)](https://doi.org/10.21105/joss.03095)

**We need your help!**

Journal of Open Source Softwa

[2021-06-10 15:47] KristinaRiemer commented on #2575
@whedon generate pdf

[2021-06-10 15:48] whedon commented on #2575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02575/joss.02575/10.21105.joss.02575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02575/joss.02575/10.21105.joss.02575.pdf) :page_facing_up: :point_left:

[2021-06-10 15:52] KristinaRiemer commented on #2575
Okay, I can't figure out why it truncated the author list for that reference, but I guess it's a default for a reason, so we can leave it. Thanks for making all those changes to the paper!

The next steps for you to do @holukas are: 1) Create a tagged release of the GitHub repo (instructions [here](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-r

[2021-06-10 15:56] gflofst commented on #2484
The project passes my evaluation now.

[2021-06-10 16:47] labarba commented on #3114
Done!

[2021-06-10 16:54] kthyng commented on #3228
Hi @zgcarvalho. Unfortunately the editorial board has determined this submission to be out of scope. The functionality of the tool is too narrow and a fair amount of the code is for UI logic. Overall, the amount of functionality contributed by this package is too small at the moment. We are willing to reconsider the package in the future if the scope is expanded. Thank you.

[2021-06-10 16:55] kthyng commented on #3228
@whedon reject

[2021-06-10 16:55] whedon commented on #3228
Paper rejected.

[2021-06-10 16:55] #3228 closed

[2021-06-10 17:00] kthyng commented on #3276
Hi @epi-zen. Unfortunately the editorial board has determined that this submission is not in scope in terms of [substantial scholarly contribution](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), though of course that not a statement on how useful the package is. The number of lines of code is relatively small, and the package offers a relatively minor utility.

[2021-06-10 17:00] kthyng commented on #3276
@whedon reject

[2021-06-10 17:01] whedon commented on #3276
Paper rejected.

[2021-06-10 17:01] #3276 closed

[2021-06-10 17:24] hadware commented on #2989
Hey @kthyng !

The current version (0.1.6) is good :)

Sorry for the refs, i thought the brackets were mandatory to render a citation. I'll update those and tell you when it's done.

[2021-06-10 17:41] kthyng commented on #3335
Here is cloc for the 2nd repo mentioned:
[code]

[2021-06-10 17:42] kthyng commented on #3335
@martindevora Both of these repositories individually are pretty borderline and may not pass the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) bar. However, combined they are probably fine. Would you want to combine these two packages together for the review?

[2021-06-10 17:44] hadware commented on #2989
Sorry again for the double message: yes, this is how my affiliation is usually displayed.

[2021-06-10 17:47] kthyng commented on #3334
Hi @jsingh811. The editorial board is finding this submission to be borderline. Part of what is holding it back from getting over the bar of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) is that the general packaging for the software isn't all that great. I think if you could improve the documentation, including clear tutorials/e

[2021-06-10 17:47] kthyng commented on #3334
@whedon reject

[2021-06-10 17:47] whedon commented on #3334
Paper rejected.

[2021-06-10 17:47] #3334 closed

[2021-06-10 17:53] kthyng commented on #2989
@whedon set v0.1.6 as version

[2021-06-10 17:53] whedon commented on #2989
OK. v0.1.6 is the version.

[2021-06-10 17:53] kthyng commented on #2989
ok let me know when you're done with paper changes.

[2021-06-10 17:55] rerickson-usgs commented on #3117
@marcosvital if you are having trouble after that list, please let me know and I would be a happy to post on the Stan User Forum.

[2021-06-10 18:19] martindevora commented on #3335
Hi @kthyng What do you mean by combining the packages?

[2021-06-10 18:45] kthyng commented on #3335
At times in the past, we have considered two repositories together as a single JOSS submission, if they are complementary. This has made sense when the individual repositories are too small individually but do contribute to greater functionality together. What do you think?

[2021-06-10 20:14] whedon opened #3357 "[PRE REVIEW]: mpi4jax: Zero-copy MPI communication of JAX arrays"
**Submitting author:** @dionhaefner (<a href="http://orcid.org/0000-0002-4465-7317">Dion Häfner</a>)
**Repository:** <a href="https://github.com/mpi4jax/mpi4jax" target ="_blank">https://github.com/mpi4jax/mpi4jax</a>
**Version:** v0.3.0
**Editor:** @kellyrowland
**Reviewers:** @1313e, @csadorf
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-06-10 20:14] whedon commented on #3357
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-10 20:14] whedon commented on #3357
[code]

[2021-06-10 20:14] whedon commented on #3357
PDF failed to compile for issue #3357 with the following error:
[code]

[2021-06-10 20:16] kthyng commented on #3357
@dionhaefner can you put your paper in a branch of mpi4jax if you don't want it in your main repo?

[2021-06-10 20:26] Muhao-Chen commented on #3350
@whedon generate pdf

[2021-06-10 20:27] whedon commented on #3350
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03350/joss.03350/10.21105.joss.03350.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03350/joss.03350/10.21105.joss.03350.pdf) :page_facing_up: :point_left:

[2021-06-10 20:29] whedon commented on #3114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03114/joss.03114/10.21105.joss.03114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03114/joss.03114/10.21105.joss.03114.pdf) :page_facing_up: :point_left:

[2021-06-10 20:31] whedon commented on #3114
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1403087466282823684) 👈 🐦🐦🐦

[2021-06-10 20:31] whedon commented on #3114
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2385
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03114](https://doi.org/10.21105/joss.03114)
2. If everything look

[2021-06-10 20:36] kthyng commented on #3243
Hi @pboesu! Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typically iterative

[2021-06-10 20:38] dfm commented on #3285
@benjaminpope, @grburgess: Thanks again so much for your thorough reviews! I've gone through and addressed all of your comments, I think. Here's [the project showing all the related issues and PRs](https://github.com/orgs/exoplanet-dev/projects/2). The big ones were:

- https://github.com/exoplanet-dev/exoplanet/pull/186: Outlines @benjaminpope's suggestions and links to specific issues or PRs for

[2021-06-10 20:38] dfm commented on #3285
@whedon generate pdf

[2021-06-10 20:38] kthyng commented on #3114
Congrats on your new publication @piyueh and @labarba! Many thanks to editor @kbarnhart and reviewers @dlgeorge, @jmansour, and @bzindovic for your time, hard work, and expertise!

[2021-06-10 20:38] #3114 closed

[2021-06-10 20:38] whedon commented on #3114
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03114/status.svg)](https://doi.org/10.21105/joss.03114)

**We need your help!**

Journal of Open Source Softwa

[2021-06-10 20:38] whedon commented on #3285
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03285/joss.03285/10.21105.joss.03285.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03285/joss.03285/10.21105.joss.03285.pdf) :page_facing_up: :point_left:

[2021-06-10 20:39] labarba commented on #3114
Thank you, @kthyng !!

And a huge thanks to our handling editor @kbarnhart, and the reviewers @dlgeorge, @jmansour, @bzindovic — you are all very generous and we appreciate it 🙏

[2021-06-10 20:40] kthyng commented on #3245
@sbenthall could you edit this submission?

[2021-06-10 20:40] kthyng commented on #3245
@whedon invite @sbenthall as editor

[2021-06-10 20:40] whedon commented on #3245
@sbenthall has been invited to edit this submission.

[2021-06-10 20:41] piyueh commented on #3114
Thank you @kthyng !

[2021-06-10 20:42] kthyng commented on #3259
@KristinaRiemer could you edit this submission?

[2021-06-10 20:42] kthyng commented on #3259
@whedon invite @KristinaRiemer as editor

[2021-06-10 20:42] whedon commented on #3259
@KristinaRiemer has been invited to edit this submission.

[2021-06-10 20:43] kthyng commented on #3261
@pdebuyl could you take on this submission?

[2021-06-10 20:43] kthyng commented on #3261
@whedon invite @pdebuyl as editor

[2021-06-10 20:43] whedon commented on #3261
@pdebuyl has been invited to edit this submission.

[2021-06-10 20:45] kthyng commented on #3307
@diehlpk could you take on this submission?

[2021-06-10 20:45] kthyng commented on #3307
@whedon invite @diehlpk as editor

[2021-06-10 20:45] whedon commented on #3307
@diehlpk has been invited to edit this submission.

[2021-06-10 20:46] diehlpk commented on #3307
@whedon assign @diehlpk as editor

[2021-06-10 20:46] whedon commented on #3307
OK, the editor is @diehlpk

[2021-06-10 20:49] diehlpk commented on #3307
Hey, @balos1 @joeweaver @justingray @atismer @zeroset would you be interested to review this paper?

[2021-06-10 20:51] martindevora commented on #3335
@whedon generate pdf

[2021-06-10 20:55] martindevora commented on #3335
@kthyng please let me know if it is clear enough now or you feel like some additional statements are needed. Now we are mentioning the package twice in the paper as a by-product of the same work (in the Summary and in the first sections). I'm sorry for the misunderstanding.

[2021-06-10 21:10] kellyrowland commented on #3212
Hi @neerajdhanraj - please provide an update on your review status as soon as you're able to (especially if you have any questions or are stuck on anything).

If you need to withdraw from the review for any reason, just let me know.

[2021-06-10 21:29] rpetit3 commented on #3342
@csoneson Unfortunately, I'm going to have to pass this time. I've just started a new job and am a bit stretched for time.

[2021-06-10 21:35] Muhao-Chen commented on #3350
@whedon generate pdf

[2021-06-10 21:35] whedon commented on #3350
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03350/joss.03350/10.21105.joss.03350.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03350/joss.03350/10.21105.joss.03350.pdf) :page_facing_up: :point_left:

[2021-06-10 21:36] faroit commented on #3354
👋  Hi @yiitozer @meinardmueller, thanks for your submission to JOSS! I will be serving as the editor for this (so I obviously won't review myself). We'll use this issue to identify reviewers and resolve technical issues. Thanks for the list of potential reviewers you provided. That looks good to me, I would also like to add @ magdalenafuentes if you agree that would be a good fit as well.

[2021-06-10 21:38] eloisabentivegna commented on #2978
Thanks for the update, @BenMql! I am glad this process has prompted you to further develop Coral (for one reason or another!).

@rhaas80, @robertsawko, do you have any comments?

[2021-06-10 21:41] Muhao-Chen commented on #3350
@Kevin-Mattheus-Moerman Thank you so much for your help! I removed all the unused bib files and also added the missing DOIs. The pdf format looks good now. Please let me know if there are any questions. Thank you!

[2021-06-10 22:10] kellyrowland commented on #3206
Hi @iimog and @7omasz - would you be available and willing to review this paper for JOSS?

[2021-06-10 22:15] kellyrowland commented on #3318
Hi @shyamd 👋 - would you be available and willing to review this paper for JOSS?

[2021-06-10 22:35] lpantano commented on #3214
Hi @stemangiola, would you be interested on reviewing this R tool? thanks!

[2021-06-10 22:46] benjaminpope commented on #3285
@dfm - thanks for the updates. I have looked through the paper - happy with the new density of citations and the new figures, it's great. I have also looked at the new case studies and autodiff page - these are some of the most professional tutorial pages I have ever seen. I will be linking people to the autodiff one especially.

With that, all requested changes are complete and to a very high sta

[2021-06-10 22:48] thurber commented on #3221
thanks @cheginit, I believe I have addressed both these points in the latest PR, which adds a link to a Jupyter notebook with a tutorial that includes steps to use restart files and steps to drive with dynamic input: https://github.com/IMMM-SFA/mosartwmpy/blob/main/notebooks/tutorial.ipynb

[2021-06-10 23:14] cheginit commented on #3221
@kthyng All my concerns have been addressed and, in my opinion, the submission is ready for publication.

[2021-06-11 00:15] stemangiola commented on #3214
Hello @lpantano, sure I will review.

[2021-06-11 00:34] lpantano commented on #3214
@whedon add @stemangiola as reviewer

[2021-06-11 00:34] whedon commented on #3214
OK, @stemangiola is now a reviewer

[2021-06-11 00:36] lpantano commented on #3214
@whedon start review

[2021-06-11 00:36] whedon opened #3358 "[REVIEW]: experDesign: helping performing experiments on batches"
**Submitting author:** @llrs (<a href="http://orcid.org/0000-0001-9747-2570">Lluís Revilla Sancho</a>)
**Repository:** <a href="https://github.com/llrs/experDesign" target ="_blank">https://github.com/llrs/experDesign</a>
**Version:** v0.1.1
**Editor:** @lpantano
**Reviewer:** @abartlett004, @stemangiola
**Archive:** <a href="https://doi.org/10.5281/zenodo.5718051" target="_blank">10.5281/zenodo.5

[2021-06-11 00:36] whedon commented on #3214
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3358.

[2021-06-11 00:36] #3214 closed

[2021-06-11 00:36] whedon commented on #3358
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @abartlett004, @stemangiola it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-06-11 00:36] whedon commented on #3358
[code]

[2021-06-11 00:36] whedon commented on #3358
PDF failed to compile for issue #3358 with the following error:
[code]

[2021-06-11 02:13] whedon opened #3359 "[PRE REVIEW]: grapesAgri1-Collection of shiny applications for data analysis in Agriculture-Part 1"
**Submitting author:** @pratheesh3780 (<a href="http://orcid.org/0000-0003-3290-0436">Pratheesh P Gopinath</a>)
**Repository:** <a href="https://github.com/pratheesh3780/grapesAgri1" target ="_blank">https://github.com/pratheesh3780/grapesAgri1</a>
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewers:** @adithirgis, @elimillera
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mod

[2021-06-11 02:13] whedon commented on #3359
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-11 02:13] whedon commented on #3359
Failed to discover a `Statement of need` section in paper

[2021-06-11 02:13] whedon commented on #3359
[code]

[2021-06-11 02:13] whedon commented on #3359
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03359/joss.03359/10.21105.joss.03359.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03359/joss.03359/10.21105.joss.03359.pdf) :page_facing_up: :point_left:

[2021-06-11 02:13] whedon commented on #3359
[code]

[2021-06-11 02:13] whedon opened #3360 "[PRE REVIEW]: Abmarl: Connecting Agent-Based Simulations with Multi-Agent Reinforcement Learning"
**Submitting author:** @rusu24edward (<a href="http://orcid.org/0000-0003-1033-439X">Edward Rusu</a>)
**Repository:** <a href="https://github.com/LLNL/Abmarl/" target ="_blank">https://github.com/LLNL/Abmarl/</a>
**Version:** 0.1.2
**Editor:** @drvinceknight
**Reviewers:** @seba-1511, @abhiramm7
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-06-11 02:13] whedon commented on #3360
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-11 02:14] whedon commented on #3360
PDF failed to compile for issue #3360 with the following error:
[code]

[2021-06-11 02:14] whedon commented on #3360
[code]

[2021-06-11 02:14] whedon commented on #3360
[code]

[2021-06-11 02:18] kthyng commented on #3359
Hi @pratheesh3780 and thanks for your submission. We currently have a backlog of submissions that I am adding this to. It will be handled as soon as an editor with relevant expertise is available. Thanks for your patience.

[2021-06-11 02:20] kthyng commented on #3360
Hi @rusu24edward and thanks for your submission. We currently have a backlog of submissions that I am adding this to. It will be handled as soon as an editor with relevant expertise is available. Thanks for your patience.

[2021-06-11 02:20] whedon opened #3361 "[PRE REVIEW]: pyAudioProcessing: Audio Processing, Feature Extraction and Building Machine Learning Models from Audio Data"
**Submitting author:** @jsingh811 (<a href="http://orcid.org/0000-0002-5442-3004">Jyotika Singh</a>)
**Repository:** <a href="https://github.com/jsingh811/pyAudioProcessing" target ="_blank">https://github.com/jsingh811/pyAudioProcessing</a>
**Version:** v1.1.9
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-06-11 02:20] whedon commented on #3361
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-11 02:21] whedon commented on #3361
[code]

[2021-06-11 02:21] whedon commented on #3361
[code]

[2021-06-11 02:21] whedon commented on #3361
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03361/joss.03361/10.21105.joss.03361.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03361/joss.03361/10.21105.joss.03361.pdf) :page_facing_up: :point_left:

[2021-06-11 02:22] kthyng commented on #3361
Note that this is a resubmission of #3334. We had asked for more thorough packaging and if possible some more functionality in the code. This is the follow up resubmission.

[2021-06-11 02:22] kthyng commented on #3361
Hi @jsingh811 and thanks for this resubmission! I'll ping the editorial board for input to follow up on the previous conversation. Thank you.

[2021-06-11 02:22] kthyng commented on #3361
@whedon query scope

[2021-06-11 02:22] whedon commented on #3361
Submission flagged for editorial review.

[2021-06-11 02:35] jsingh811 commented on #3361
@whedon generate pdf

[2021-06-11 02:36] whedon commented on #3361
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03361/joss.03361/10.21105.joss.03361.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03361/joss.03361/10.21105.joss.03361.pdf) :page_facing_up: :point_left:

[2021-06-11 03:01] jsingh811 commented on #3361
@whedon generate pdf

[2021-06-11 03:01] whedon commented on #3361
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03361/joss.03361/10.21105.joss.03361.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03361/joss.03361/10.21105.joss.03361.pdf) :page_facing_up: :point_left:

[2021-06-11 05:55] mih commented on #3262
Hey! Thanks in advance to the reviewers for wading through our code and docs -- certainly not a quick thing. I would nevertheless like to ask if there is anything we can do to streamline the process. I am only aware of one issue having been reported https://github.com/datalad/datalad/issues/5685

Have @jkanche @szorowi1 found something that we could proactively tackle?

Thx and best!

[2021-06-11 06:46] csoneson commented on #3342
Thank you both for your quick replies! @ayush9pandey - I'll assign you now, and we'll start the review once we have secured a second reviewer.
@rpetit3 - no problem, good luck with the new job!

[2021-06-11 06:46] csoneson commented on #3342
@whedon assign @ayush9pandey as reviewer

[2021-06-11 06:46] whedon commented on #3342
OK, @ayush9pandey is now a reviewer

[2021-06-11 06:47] csoneson commented on #3342
👋🏻 @standage - would you be interested in reviewing this submision for JOSS?

[2021-06-11 07:04] joeweaver commented on #3307
I'll take a look at my calendar and the scope of the project and let you
know by the end of the day (UK time).

On Thu, Jun 10, 2021 at 9:49 PM Patrick Diehl ***@***.***>
wrote:

[2021-06-11 07:28] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-06-11 07:29] whedon commented on #3358
[code]

[2021-06-11 07:38] atismer commented on #3307
Generally yes, I'm interested to review the paper. But when reading the summary of the paper I was thinking if my limited experience in FEM is sufficient.

[2021-06-11 07:40] zeroset commented on #3307
Hi, unfortunately i am not able to review this in time and i am also not very sound in the topic. Sorry.

[2021-06-11 07:47] dionhaefner commented on #3357
@whedon generate pdf from branch joss-paper

[2021-06-11 07:47] whedon commented on #3357
[code]

[2021-06-11 07:58] grburgess commented on #3285
@dfm I second acceptance. The docs look fantastic and very useful. Thanks for taking the time to make this project pedagogical as well as a beneficial to the community.

[2021-06-11 08:12] aj2duncan commented on #3292
Sorry (again) @gkthiruvathukal I am still unable to edit the checklist. No rush as I'm happy to proceed with the review and catch up on the checklist later.

[2021-06-11 08:39] markheckmann commented on #3292
@aj2duncan : Thanks, I will have a look at it. Could you add info which OS and which R version you use? Best would be a copy of  the `sessionInfo()` output. Thanks!

[2021-06-11 08:59] jmp75 commented on #3332
I am about halfway through the checklist. I note that I cannot tick the boxes above, as the process suggests, and the link to the invitation is not active or not anymore.

[2021-06-11 10:40] dionhaefner commented on #3357
Seems like whedon is down, I'll try again later.

[2021-06-11 10:44] nandaloo commented on #3355
Hi @kthyng,
thanks a lot!
I had a look at the list of available reviewers, and here are some suggestions. I looked more into matching topics than into matching programming languages:

- Carter Rhea (crhea93)
- Pál Tóth (szkafander)
- Abhishek Dutta (thelinuxmaniac)
- Matthew Graham (matt-graham)
- maximtrp
- prasantapal

[2021-06-11 11:27] leouieda commented on #2766
👋🏽  Hi everyone, I'm very sorry for the disappearance. Thank you for continuing on with the review in my absence 🙂

I've gone over the comments and replies and I'm happy to see that all has been properly addressed and both reviewers are happy. I'll do a final proof reading of the paper now and will be happy to move on to publication afterwards.

[2021-06-11 11:30] leouieda commented on #2766
@znicholls I see that the latest version of the paper is in the `paper-typos` branch. I'll my proof-reading on that version. Afterwards, it would be good to merge everything into `master`.

[2021-06-11 11:30] leouieda commented on #2766
@whedon check references

[2021-06-11 11:35] marcosvital commented on #3117
@OliverFishCode, can you send me their contact information? I'll try to reach them. You can send me by email: marcosvital at gmail.com

[2021-06-11 11:36] marcosvital commented on #3117
Thank you, @rerickson-usgs! Let's wait to see if one of the recommendations above will work, ok?

[2021-06-11 12:10] iimog commented on #3206
I'd be willing to review this paper for JOSS. I can start working on the review next week.

[2021-06-11 12:18] danielskatz commented on #3292
@whedon re-invite @aj2duncan as reviewer

[2021-06-11 12:18] whedon commented on #3292
OK, the reviewer has been re-invited.

@aj2duncan please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-11 12:18] danielskatz commented on #3292
👋 @aj2duncan - ☝️ this should enable you to check the boxes...

[2021-06-11 12:19] danielskatz commented on #3332
@whedon re-invite @jmp75 as reviewer

This 👇 should fix the problem

[2021-06-11 12:19] whedon commented on #3332
OK, the reviewer has been re-invited.

@jmp75 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-11 12:21] danielskatz commented on #3357
@whedon generate pdf from branch joss-paper

[2021-06-11 12:21] whedon commented on #3357
[code]

[2021-06-11 12:23] danielskatz commented on #3357
I don't think `@whedon` is down, since it is starting to compile the .md, it's just not finishing, and it's not reporting an error, which probably indicates a bug, so I'm pinging @openjournals/dev here to look into this

[2021-06-11 12:25] dionhaefner commented on #3357
That's strange, it still worked fine yesterday.

[2021-06-11 12:35] danielskatz commented on #3357
The preview service seems to hang on it too, so my guess is there's something subtly wrong in the paper/references

[2021-06-11 13:06] znicholls commented on #2766
Awesome thanks

[2021-06-11 13:53] KristinaRiemer commented on #3259
I can take on this submission.

[2021-06-11 13:53] KristinaRiemer commented on #3259
@whedon assign me as editor

[2021-06-11 13:53] whedon commented on #3259
OK, the editor is @KristinaRiemer

[2021-06-11 13:59] pdebuyl commented on #3261
@whedon assign me as editor

[2021-06-11 13:59] whedon commented on #3261
OK, the editor is @pdebuyl

[2021-06-11 13:59] pdebuyl commented on #3261
Hi @JohnVolk I will start looking for reviewers next week. Thank you for providing recommendations.

[2021-06-11 14:50] pibion commented on #2484
@whedon remove @cmbiwer as review

[2021-06-11 14:50] whedon commented on #2484
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-11 14:52] pibion commented on #2484
@whedon commands

[2021-06-11 14:52] whedon commented on #2484
Here are some things you can ask me to do:

[code]

[2021-06-11 14:53] pibion commented on #2484
@whedon remove @cmbiwer as reviewer

[2021-06-11 14:53] whedon commented on #2484
OK, @cmbiwer is no longer a reviewer

[2021-06-11 14:56] pibion commented on #2484
@colbrydi @gflofst @atrisovic thank you all for your outstanding work on this paper!

[2021-06-11 14:58] pibion commented on #2484
@dghoshal-lbl we're ready to begin the formal acceptance process for your paper.  I'll need you to create an archive (on Zenodo, figshare, or other) and post the archive DOI here.

Then I can recommend acceptance.  Sometimes there are further edit requests at that stage, but it's safe to say you're in the home stretch!

[2021-06-11 15:11] standage commented on #3342
@csoneson I'm on a review panel through June 16th, so I wouldn't be able to get to this until later next week. But if that's ok with everybody I'd be happy to review this.

[2021-06-11 15:12] joeweaver commented on #3307
This looks like a very useful project and I think it's really cool that the
other wrote it so that it has no hard dependencies on their simulation
tool, which appears to be Simmetrix.  However, I do not have Simmetrix
access nor sufficient time to commit to learning how apply the framework to
a different simulation tool so that I could do a proper review.

On Thu, Jun 10, 2021 at 9:49 PM Patrick D

[2021-06-11 15:51] whedon commented on #2766
[code]

[2021-06-11 15:51] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-06-11 15:51] whedon commented on #3357
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03357/joss.03357/10.21105.joss.03357.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03357/joss.03357/10.21105.joss.03357.pdf) :page_facing_up: :point_left:

[2021-06-11 15:53] arfon commented on #3357
Not sure what was going on here but Whedon seems to be alive again.

[2021-06-11 15:55] arfon commented on #3285
@dfm – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the authors o

[2021-06-11 15:59] diehlpk commented on #3307
@jacobmerson can you please clarify if reviewers need access to Simmetrix to review the paper?

[2021-06-11 16:06] csoneson commented on #3342
@standage That's all good - thanks a lot!

[2021-06-11 16:06] csoneson commented on #3342
@whedon add @standage as reviewer

[2021-06-11 16:06] whedon commented on #3342
OK, @standage is now a reviewer

[2021-06-11 16:07] kellyrowland commented on #3206
Great, thank you!

[2021-06-11 16:07] whedon opened #3362 "[REVIEW]: OSTIR: open source translation initiation rate prediction"
**Submitting author:** @jeffreybarrick (<a href="http://orcid.org/0000-0003-0888-7358">Jeffrey Barrick</a>)
**Repository:** <a href="https://github.com/barricklab/ostir" target ="_blank">https://github.com/barricklab/ostir</a>
**Version:** v1.0.6
**Editor:** @csoneson
**Reviewer:** @ayush9pandey, @standage
**Archive:** <a href="https://doi.org/10.5281/zenodo.5227845" target="_blank">10.5281/zenodo

[2021-06-11 16:07] whedon commented on #3342
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3362.

[2021-06-11 16:07] #3342 closed

[2021-06-11 16:07] whedon commented on #3362
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ayush9pandey, @standage it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-06-11 16:07] kellyrowland commented on #3206
@whedon add @iimog as reviewer

[2021-06-11 16:07] whedon commented on #3206
OK, @iimog is now a reviewer

[2021-06-11 16:07] whedon commented on #3362
[code]

[2021-06-11 16:07] whedon commented on #3362
[code]

[2021-06-11 16:08] whedon commented on #3362
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03362/joss.03362/10.21105.joss.03362.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03362/joss.03362/10.21105.joss.03362.pdf) :page_facing_up: :point_left:

[2021-06-11 16:08] csoneson commented on #3362
👋🏼 @jeffreybarrick, @ayush9pandey, @standage - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other jou

[2021-06-11 16:18] hadware commented on #2989
All right @kthyng : refs are fixed (it does look much cleaner now). @arfon I merged your PR (thanks again for this, super helpful!). I did leave a small question on the PR, you might want to check that out.

[2021-06-11 16:20] dghoshal-lbl commented on #2484
@pibion  @colbrydi  @gflofst  @atrisovic The review comments were extremely useful, and made the paper, documentation and software much better. Thank you!

@pibion I will create an archive on Zenodo and share the DOI here.

[2021-06-11 16:28] whedon commented on #3318
:wave: @munkm, please update us on how your review is going (this is an automated reminder).

[2021-06-11 16:34] shyamd commented on #3318
Sounds good!

[2021-06-11 16:36] kellyrowland commented on #3318
Great, thanks so much!

[2021-06-11 16:40] arfon commented on #2989
@whedon generate pdf

[2021-06-11 16:40] whedon commented on #2989
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02989/joss.02989/10.21105.joss.02989.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02989/joss.02989/10.21105.joss.02989.pdf) :page_facing_up: :point_left:

[2021-06-11 17:08] shyamd commented on #3318
Hmm. I think I need a new invite to the repository. I can't edit the checkboxes and the invite URL doesn't work.

[2021-06-11 17:14] danielskatz commented on #3318
@whedon re-invite @shyamd as reviewer

[2021-06-11 17:14] whedon commented on #3318
OK, the reviewer has been re-invited.

@shyamd please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-11 17:16] jacobmerson commented on #3307
@diehlpk Simmetrix should not be needed to review the paper.

If you compile `model-traits` without Simmetrix support the only thing that's missing is the Simmetrix (smd) reader. The YAML reader is most likely preferred by 99% of people since it's not linking against a proprietary library, is human readable, etc. Actually, one of my goals is that it should be easy to add new readers and writers be

[2021-06-11 17:20] kellyrowland commented on #3318
Oops - good call @shyamd and thanks @danielskatz!

[2021-06-11 17:33] 7omasz commented on #3206
Hi @kellyrowland, happy to help, but may need a couple weeks to complete.

[2021-06-11 18:12] keunwoochoi commented on #3218
Hi @faroit, thanks for this! I can do it.

[2021-06-11 18:25] kellyrowland commented on #3206
@gaurav - is that review timeframe okay for you? I'm okay with it if you are.

[2021-06-11 18:29] dfm commented on #3285
@arfon: Thanks! I'm waiting for a final round of comments from co-authors, but I'll tag a release next week.

[2021-06-11 19:15] dghoshal-lbl commented on #2484
@pibion I have uploaded a zip archive of the Science Capsule software to Zenodo. The DOI is: 10.5281/zenodo.4926769

Let me know if you need any additional information. Thanks!

[2021-06-11 19:20] arfon commented on #3354
:wave: @meinardmueller @yiitozer – I just took a cursory look at the paper and the software repository here and wondered if there was a reason for the authorship order, especially given that it looks like @yiitozer made the majority of the code contributions here?

Just to be clear, JOSS doesn't police authorship decisions, but we do flag when things look anomalous.

<img width="924" alt="Screensh

[2021-06-11 19:43] JohnVolk commented on #3261
Thank you!

[2021-06-11 20:01] diehlpk commented on #3307
@joeweaver would you change your mind with the knowledge that Simmetrix is not needed?

[2021-06-11 20:05] hagenw commented on #3218
Thanks for asking, but I guess you have enough reviewers now?

[2021-06-11 20:08] faroit commented on #3218
@hagenw for now, only @keunwoochoi accepted the invitation. I would be very happy if you could review the submission :-)

[2021-06-11 20:10] faroit commented on #3218
@whedon assign @keunwoochoi as reviewer

[2021-06-11 20:10] whedon commented on #3218
OK, @keunwoochoi is now a reviewer

[2021-06-11 20:12] hagenw commented on #3218
OK, great, I would then also agree to review.

[2021-06-11 20:32] kbarnhart commented on #3345
@amoodie a few things follow. All are minor so feel free to address them along with reviewer comments:

1. CI failing. Looking at it, it seems like its not failing tests, but just failing coverage upload (https://github.com/DeltaRCM/pyDeltaRCM/runs/2776370520?check_suite_focus=true).
2. Some reference fixes
    * The invalid DOI you noted.
    * Reference ambiguity (M. Liang vs Man Liang, to fix m

[2021-06-11 20:43] joeweaver commented on #3307
I'm aware Simmetrex isn't needed  The issue is that while I see the
framework can be used generally, I don't have a concrete example within
which to use it.

I can see the potential of this project to define to models in a manner
independent of the simulator, but to evaluate that I'd either have to see
concrete example implementations of some readers and writers or implement
them myself (Thinking

[2021-06-11 21:03] kbarnhart commented on #2276
@KevinShook I wanted to check in and see how you were doing with addressing remaining comments.

[2021-06-11 21:26] faroit commented on #3218
@whedon assign @hagenw as reviewer

[2021-06-11 21:26] whedon commented on #3218
OK, @hagenw is now a reviewer

[2021-06-11 21:27] joeweaver commented on #3307
Sorry, mixed up people's names there.

On Fri, Jun 11, 2021, 21:43 Joseph Weaver ***@***.***> wrote:

[2021-06-11 21:27] faroit commented on #3218
@whedon add @keunwoochoi as reviewer

[2021-06-11 21:27] whedon commented on #3218
OK, @keunwoochoi is now a reviewer

[2021-06-11 21:27] faroit commented on #3218
@whedon list reviewers

[2021-06-11 21:27] whedon commented on #3218
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-06-11 22:04] KevinShook commented on #2276
Thanks. I've just been in contact with the other team members. We should be submitting something shortly.

[2021-06-11 22:11] kbarnhart commented on #2276
@KevinShook thanks for the update!

[2021-06-11 22:19] amoodie commented on #3345
Alright, should be all good to go now. Just released v2.0.0, which is the version to review. :+1:

[2021-06-11 22:40] kbarnhart commented on #3345
Sounds good. I've started reaching out to reviewers over email and when confirmed will add them here.

[2021-06-12 00:08] znicholls commented on #2766
@whedon generate pdf

[2021-06-12 00:09] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2021-06-12 00:09] znicholls commented on #2766
All merged into master, preview above looks good. Thanks again everyone for your efforts here!

[2021-06-12 00:10] znicholls commented on #2766
Oops I forgot to fix my initials

[2021-06-12 00:10] znicholls commented on #2766
@whedon generate pdf

[2021-06-12 00:11] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2021-06-12 02:21] majensen commented on #3246
@amoeba would you have time/interest in review [this submission](#3246) for JOSS? Appreciate the consideration as always.

[2021-06-12 11:40] arfon commented on #2989
@whedon generate pdf

[2021-06-12 11:41] whedon commented on #2989
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02989/joss.02989/10.21105.joss.02989.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02989/joss.02989/10.21105.joss.02989.pdf) :page_facing_up: :point_left:

[2021-06-12 11:41] arfon commented on #2989
@whedon accept

[2021-06-12 11:41] whedon commented on #2989
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-12 11:44] arfon commented on #2989
@whedon recommend-accept

[2021-06-12 11:44] whedon commented on #2989
[code]

[2021-06-12 11:45] whedon commented on #2989
[code]

[2021-06-12 11:45] whedon commented on #2989
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2386

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2386, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-12 11:48] arfon commented on #2989
@whedon accept deposit=true

[2021-06-12 11:48] whedon commented on #2989
[code]

[2021-06-12 11:49] whedon commented on #2989
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1403680812181168130) 👈 🐦🐦🐦

[2021-06-12 11:49] whedon commented on #2989
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2387
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02989](https://doi.org/10.21105/joss.02989)
2. If everything look

[2021-06-12 12:39] AlexChristensen commented on #3308
Hi all,

I'll be working on the review over the weekend. Sorry for the delay.

Alex

[2021-06-12 13:24] david-barnett commented on #3201
Thanks for raising these issues marypiper, I have taken actions to address your points, and I included descriptions of the changes I have made directly on the relevant issues. Do let me know if there is more to be done. Thanks!

[2021-06-12 14:40] richardjgowers commented on #3301
@nicoguaro @davidcortesortuno would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-12 15:22] hkaiser commented on #3143
@danielskatz I have to apologize for the delay. I was trying to find the time to set up a special environment to be able to test the library under review. I failed :(

I have to recuse myself from being a reviewer on this paper as the library can't be built on my day-today development platform (Windows).

[2021-06-12 15:47] arfon commented on #2989
@faroit, @apiad – many thanks for your reviews here! JOSS relies upon the volunteer efforts of folks like you and we simply wouldn't be able to do this without you ✨

@hadware – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-06-12 15:47] #2989 closed

[2021-06-12 15:47] whedon commented on #2989
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02989/status.svg)](https://doi.org/10.21105/joss.02989)

**We need your help!**

Journal of Open Source Softwa

[2021-06-12 16:26] szymon-datalions commented on #2869
@whedon generate pdf from branch paper

[2021-06-12 16:26] whedon commented on #2869
[code]

[2021-06-12 16:27] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-06-12 16:30] Manolomon commented on #2692
Hello again @marcosvital. I'm sorry this revision has taken so long. During the last months, I had been dealing with all my graduation-related processes and couldn't find the time to keep maintaining uvehavior. Now I and my colleagues have updated the repository and most importantly, generated full-length documentation on the [wiki site](https://github.com/Manolomon/uvehavior-desktop/wiki), as req

[2021-06-12 17:10] szymon-datalions commented on #2869
@whedon generate pdf from branch paper

[2021-06-12 17:10] whedon commented on #2869
[code]

[2021-06-12 17:11] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-06-12 17:13] hadware commented on #2989
Thanks to all for your help and feedback with this paper :) I've already volunteered to be a reviewer to JOSS, i'll be waiting for new packages to review :)

[2021-06-12 17:35] szymon-datalions commented on #2869
@whedon generate pdf

[2021-06-12 17:35] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-06-12 17:45] szymon-datalions commented on #2869
@hugoledoux I've removed table from the paper and create numbered list from it. I don't know why but in the previous compilations `wheadon` has compiled paper from the custom branch `paper` but after while it was changed to the version from the `main` branch. You may check timestamps: I've updated paper in the custom branch `paper` and three minutes later I've initialized `wheadon`. When I had che

[2021-06-12 17:52] whedon opened #3363 "[PRE REVIEW]: Genetic code finder: Determine CUG codon usage in yeasts"
**Submitting author:** @smuehlh (<a href="http://orcid.org/0000-0002-2979-8082">Stefanie Mühlhausen</a>)
**Repository:** <a href="https://github.com/smuehlh/genetic-code-finder" target ="_blank">https://github.com/smuehlh/genetic-code-finder</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-06-12 17:52] whedon commented on #3363
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-12 17:52] whedon commented on #3363
[code]

[2021-06-12 17:52] whedon commented on #3363
[code]

[2021-06-12 17:53] whedon commented on #3363
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03363/joss.03363/10.21105.joss.03363.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03363/joss.03363/10.21105.joss.03363.pdf) :page_facing_up: :point_left:

[2021-06-12 17:56] danielskatz commented on #3363
@smuehlh - Thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.  I also ask that the editors look at the packaging.

[2021-06-12 18:35] marypiper commented on #3201
@lpantano, I have completed my review of microViz. I initially had issues testing out the interactive component of microViz and had questions regarding the novelty of the functions. However, @david-barnett addressed these, fixing the interactive visualizations so that they now function appropriately and he has provided additional documentation for users. David has provided the updated reference fo

[2021-06-12 19:14] nicoguaro commented on #3301
@richardjgowers, I think that I can review it.

[2021-06-12 22:49] rusu24edward commented on #3360
Potential relevant reviewers, as per whedon's instructions above: satpreetsingh, seba-1511, abhiramm7, bozutemiz, mhetrerajat, giodegas, ionlights.

I'm not sure why the pdf did not build because it builds fine in my GitHub Action. I also don't understand the missing DOI error...

Thanks!

[2021-06-13 01:35] apiad commented on #2989
It has been my pleasure! Count me on whenever you need, I'll do my best to be available :smiley:

[2021-06-13 02:08] diehlpk commented on #3307
@jacobmerson Can you recommend more reviewers?

[2021-06-13 02:28] yuhc commented on #3296
Hi @isidentical-
I took a look at the updated README, and it looks good in general. There are some nits:
* The login section can be removed. Port forwarding is actually not necessary or recommended.
* `git fetch` and `git reset --hard` lines can be removed.
* User should expect to visit reiz via `instance_ip:8000` instead of `localhost:8000`.
** Or you can remove anything related to AWS and change

[2021-06-13 02:33] yuhc commented on #3296
Hi @mjsottile, the article proof link is broken. Could you help fix it?

[2021-06-13 02:43] yuhc commented on #3296
While waiting for the article proof, I have a question for you, @isidentical:
The software is about code search **at scale**, but the database setup seems to take a long time and there's no experiment showing the query latency for scaled datasets. Is there any evidence with which you claim the search system to be "at scale"? (Something like algorithms, complexity analysis would be fine. Just for r

[2021-06-13 06:05] mjsottile commented on #3296
@whedon generate pdf

[2021-06-13 06:06] whedon commented on #3296
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: :point_left:

[2021-06-13 08:23] isidentical commented on #3296
Yes, indeed. Reiz does multiple phases while aggregating data to the database. This spans from the actual downloading of the projects to generate a one-time [node-tag](https://github.com/reizio/reiz.io/blob/cff3cc6eaad532ac1a956c1f7c7a58d97ea00e4b/reiz/serialization/transformers.py#L48-L69) (a fingerprint of the node) and since all of these have to be done in the setup/indexing part, neither users

[2021-06-13 10:16] mviereck commented on #3295
There is already a [paper for udocker](https://www.sciencedirect.com/science/article/pii/S0010465518302042) as @vsoch already pointed out in the preview.
udocker has seen some development since then, but the major difference is still not obvious.
Discussion at: https://github.com/indigo-dc/udocker/issues/312

@danielskatz It is normal that software evolves further after a paper has published. How

[2021-06-13 13:44] danielskatz commented on #3295
The general feeling on this in JOSS is that each JOSS paper should be a clear contribution, in the same way that a research project can lead to multiple papers, some of which can be incremental progress in an area that was previously published. It's up the reviewers to decide if there is sufficient new material/progress.  This is described in https://joss.readthedocs.io/en/latest/submitting.html#s

[2021-06-13 13:53] danielskatz commented on #3356
@whedon generate pdf from branch JOSS.md

[2021-06-13 13:54] whedon commented on #3356
[code]

[2021-06-13 13:54] whedon commented on #3356
PDF failed to compile for issue #3356 with the following error:
[code]

[2021-06-13 13:56] danielskatz commented on #3356
@whedon check references from branch JOSS.md

[2021-06-13 13:56] whedon commented on #3356
[code]

[2021-06-13 13:59] danielskatz commented on #3356
👋 @Republicof1 - as you might have seen, there are a bunch of issues here:

1.  there is no open source license that whedon is detecting, and this is a requirement for JOSS to review the submission
2. the paper does not compile. It looks like there's a problem in line 20 of the .md file, which is probably not following the example paper we provided in https://joss.readthedocs.io/en/latest/submitti

[2021-06-13 14:00] danielskatz commented on #3356
@whedon reject

[2021-06-13 14:00] whedon commented on #3356
Paper rejected.

[2021-06-13 14:00] #3356 closed

[2021-06-13 14:05] danielskatz commented on #3338
@leonardovida - While the scope discussion progresses, you could work on error(s) in your .bib file that whedon found. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-06-13 14:59] samuelduchesne commented on #3313
Hi @amandadsmith, just had a chance to go trough this. A tool to automatically generate weather files from NOAA data is very useful! I must say that this submission is of very good quality and it shows the care you and your team put to provide an open-source tool to the building energy modeling community.

I the spirit of making the tool even better I have some recommendations that I invite your t

[2021-06-13 15:48] chennachaos commented on #3020
Thank you @diehlpk for your responses!

2) The link to "10.1007/s42452-020-03784-x" in the paper  "Please cite following publications, if you use the code" is broken.

[2021-06-13 16:20] chennachaos commented on #3020
1.) This is fine in that case.

2.) The link to "10.1007/s42452-020-03784-x" in the paper "Please cite following publications, if you use the code" is broken.

3.) I understand that the equations are provided in the paper but the online documentation should contain some basic equations, if not all, so that the reader can easily relate to what is being solved without needing to refer to the papers

[2021-06-13 18:23] yuhc commented on #3296
Seems there are some misunderstandings of "at scale". Reiz is a good tool, and I just wanted to know whether its title is a bit overstated.

That's the concern. How long does it take to generate a dataset for 1k projects, 100k, 1M, 10M...? 50k files, 500k, 5M, 50M...? 50k files and 1k projects are of small scale to be honest. In most cases, the generation/update also has to be done on-line for a s

[2021-06-13 18:39] isidentical commented on #3296
Fair points! I wasn't imagining on those points, and my comparison was with limited tools. I'll try to update the docs with benchmarks on the data that I can easily collect through the already integrated sampling process, and also drop the `at scale` tag at the end. Thanks!

[2021-06-13 19:50] jacobmerson commented on #3307
Sure, below are some possible reviewers. I picked people who have C++ listed as a primary language who also look like they have experience with solving boundary value problems.

1. pratikvn
2. jmansour
3. capitalaslash
4. thelfer
5. bonh
6. corentin-dev
7. fhorrobin
8. daniellivingston
9. hertzsprung
10. chennachaos

[2021-06-13 21:27] rusu24edward commented on #3360
Also, as I mentioned in the submission, please review the branch Abmarl-87-interface-release, since this is the release and the extra content on main is not.

[2021-06-13 23:00] rdeits commented on #3060
I've completed my review checklist, and the submission looks good to me.

[2021-06-13 23:26] kanderso-nrel commented on #3294
Hi folks, I apologize for the delay.  Overall looking good and I've opened issues for the remaining checkboxes.  However I'll ask for guidance from @timtroendle on some possible license issues:

1) The license text is not contained in a root-level `LICENSE` file but instead in the `LICENSES` folder.
2) The BSD-2 file has placeholders in the first line: `Copyright (c) <year> <owner>. All rights res

[2021-06-13 23:48] adi3 commented on #3255
@Kevin-Mattheus-Moerman I am finished my review and recommend acceptance.

@LiangliangNan great work!

[2021-06-14 01:05] diehlpk commented on #3307
Hi @hertzsprung, @daniellivingston, @fhorrobin, @corentin-dev, @thelfer would you be interested in reviewing this paper?

[2021-06-14 01:07] diehlpk commented on #3060
@rdeits Thanks, I just checked, and it seems that `Quality of writing` is unchecked. Could you please have a look?

[2021-06-14 01:09] diehlpk commented on #3060
@whedon commands

[2021-06-14 01:09] whedon commented on #3060
Here are some things you can ask me to do:

[code]

[2021-06-14 01:10] diehlpk commented on #3060
@whedon remind @jarvist in 2 weeks

[2021-06-14 01:10] whedon commented on #3060
Reminder set for @jarvist in 2 weeks

[2021-06-14 01:14] diehlpk commented on #3274
@whedon remind @camillescott in one week

[2021-06-14 01:14] whedon commented on #3274
Reminder set for @camillescott in one week

[2021-06-14 01:16] diehlpk commented on #3311
Hi @ArangoGutierrez how is your review going?

[2021-06-14 01:16] diehlpk commented on #3311
Hi @zbeekman how is your review going?

[2021-06-14 01:32] diehlpk commented on #3020
@chennachaos That is fixed now.

[2021-06-14 01:55] diehlpk commented on #3020
@chennachaos That was added to the Readme.md and the main page of the documentation.

[2021-06-14 02:10] majensen commented on #3173
Sorry for the continued delay @tresoldi -- finally able to have a look.

What I appreciate about the paper is the idea of "technology transfer" of phylogenetic methods from biology to linguistics. (Although, I think biology imported the basic ideas from comparative linguistics a long long time ago!)

I have to agree with @rvosa, however, that there are many and extensive tools that have been devel

[2021-06-14 02:15] majensen commented on #2558
@whedon generate pdf from branch devel/cito

[2021-06-14 02:15] whedon commented on #2558
[code]

[2021-06-14 02:24] jungtaekkim commented on #3322
Hi @hknd23,

I read your article and looked into the repository.

I think .gitignore file should contain the rules that exclude Python-related files such as __pycache__ and *.pyc. Please refer to the .gitignore template provided by GitHub or any other examples. Regarding this, idecempy/__pycache__ should be removed.

Moreover, in the article, please mention an installation guide or link to the onl

[2021-06-14 02:35] majensen commented on #2558
@whedon generate pdf

[2021-06-14 03:01] majensen commented on #2558
@egonw  - I have made some very minor suggestions to smooth out the English:
[10.21105.joss.02558-maj.pdf](https://github.com/openjournals/joss-reviews/files/6645339/10.21105.joss.02558-maj.pdf). While I'm not in the chem business, I can certainly appreciate the new life Bacting appears to be breathing into a useful and venerable toolkit.

Once you have made these changes, can you provide me with

[2021-06-14 03:11] cMadan commented on #3159
@tramarobin, I'm perfectly fine with that change. After you change the repository accordingly, I'll make the related changes to this issue thread name and first issue post.

[2021-06-14 03:28] igarizio commented on #3203
Hi @Eugenio2192!
Thanks for all the changes you have already made.

I'm not 100% sure this is relevant for JOSS (maybe @timtroendle can tell us), but it could be to you. I was wondering if you had the proper rights for the data on your repo. I'm asking this because I saw [CEPCI.csv](https://gitlab.com/dlr-ve/autumn/-/blob/master/autumn/default/CEPCI.csv) and [where you had obtained it](https://aut

[2021-06-14 03:44] rdeits commented on #3060
Ah, sorry. Fixed now

[2021-06-14 03:55] egonw commented on #2558
@majensen, I'm on it

[2021-06-14 04:33] egonw commented on #2558
@majensen, just to make sure... a new Zenodo archive, just for the paper, right? You do not mean to update the paper for the most recent Bacting release, right?

[2021-06-14 04:44] egonw commented on #2558
The Bacting version described in the article is 0.15, with DOI: https://doi.org/10.5281/zenodo.4400601

The DOI for the updated Bacting paper: to follow asap, awaiting PDF generation by Whedon...

[2021-06-14 04:57] egonw commented on #2558
ping @majensen, like this?

[2021-06-14 05:04] whedon commented on #2558
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: :point_left:

[2021-06-14 05:06] arfon commented on #2558
@whedon generate pdf

[2021-06-14 05:06] whedon commented on #2558
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: :point_left:

[2021-06-14 06:17] Eugenio2192 commented on #3203
Thank you for your remarks @igarizio

I understand your concern regarding the data in the repository, we took special care on this area. All the data provided is either produced directly by us or added as a placeholder. If you take a second look into the CEPC.csv provided in the repository you'll notice is not the same as the one provided in the suggested source. We provided, a dummy CEPCI collect

[2021-06-14 07:23] tramarobin commented on #3159
@cMadan, thank you. The changes have been made.

[2021-06-14 07:35] yiitozer commented on #3354
Hi @faroit, thank you for taking care of this! I agree that @magdalenafuentes would be a great fit. Thanks for your suggestion.

[2021-06-14 08:04] ranocha commented on #3315
Hi! Is there anything I can do to help and support the process?

[2021-06-14 08:29] oliviaguest commented on #3169
Amazing! @neuromusic please check the new changes out. 😊

[2021-06-14 09:39] ayush-1506 commented on #3208
Ping.

[2021-06-14 10:18] McGregor14 commented on #3270
Nathan and I will work on it this afternoon. Apologies again for the delay.

[2021-06-14 10:38] alexmalins commented on #3318
@whedon generate pdf

[2021-06-14 10:38] whedon commented on #3318
PDF failed to compile for issue #3318 with the following error:
[code]

[2021-06-14 10:39] alexmalins commented on #3318
@whedon generate pdf from branch joss_paper

[2021-06-14 10:39] whedon commented on #3318
[code]

[2021-06-14 10:39] whedon commented on #3318
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: :point_left:

[2021-06-14 10:46] jarvist commented on #3060
I seem to have lost my 'collaborator' badge, and so cannot tick off things on my checklist.
I'm just reviewing this package and paper now, so will make a note separately as I go.

[2021-06-14 11:05] jarvist commented on #3060
@vavrines - it's a bit suboptimal that Kinetic (rather KitBase) has a dependency on Plots. Currently this has actually broken precompilation on my machine, due to some kind of interaction with the way Plots is being initialised & attempting to pull in GR (which is a binary package, and breaks not irregularly).

It would require quite a lot of refactoring, but using PlotsRecipes avoids this issue,

[2021-06-14 11:13] jarvist commented on #3060
@vavrines Could you please confirm that the example given in the JOSS paper works OK?
I'm currently getting:
[code]

[2021-06-14 11:17] vavrines commented on #3060
Hi @jarvist

It shoud be fine. The CI test passed here (https://github.com/vavrines/Kinetic.jl/blob/master/test/runtests.jl).
Could you please check the version of Kinetic?
There was a bug in v0.7.0 and has been fixed in the latest version.

[2021-06-14 11:24] lutzhamel commented on #3296
Hello:

I have some comments on the current state of the manuscript/software:

1. The documentation does not explain how to set up the software package for a user specific project, GitHub or otherwise.  It only demonstrates the functionality on some prepackaged set of projects.
2. The query language feels rough and the syntax is unwieldy, creating a huge barrier of entry to the package.  Basically

[2021-06-14 11:43] vavrines commented on #3060
@jarvist
I Just tested the code again. Actually I never saw such error beforehand. It seems that Julia doesn't recognize any text in the config file (if it's not empty).
I'm not sure how you generate the config (maybe an encoding thing?), but I guess a copy-paste of the CI config file will help get rid of this.
Please let me know if it doesn't work.

[2021-06-14 12:02] jarvist commented on #3060
@vavrines Thanks! It seems I ended up pinned on an old version of Kinetic due to version incompatibility with other installed packages. I've got that sorted now, and the example from the JOSS (copied + pasted out of the PDF, as I assumed that someone would try that at some point...) seems to be solving.

[2021-06-14 12:05] danielskatz commented on #3060
@whedon re-invite @jarvist as reviewer

[2021-06-14 12:05] whedon commented on #3060
OK, the reviewer has been re-invited.

@jarvist please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-14 12:10] danielskatz commented on #3280
👋 @AndreasPhilippi - note that we are awaiting your answer.

[2021-06-14 12:10] meinardmueller commented on #3354
Dear @arfon, many thanks for asking concerning the authorship order. Yes, there are some reasons that we want to explain briefly. The Sync Toolbox is a long-term project, which beginnings go back to 2006. The first synchronization procedures were developed by the first author @meinardmueller, resulting in internal research source code. This code has been successively expanded by various people fro

[2021-06-14 12:11] danielskatz commented on #3158
👋  @hankchilds, @ARSanderson, @BradWhitlock, @jankatins, @alexanderfurnas, @a-slide, @tuchandra - re-ping...

I'm looking for one additional reviewer to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-14 12:12] danielskatz commented on #3143
Ok, thanks @hkaiser

[2021-06-14 12:12] danielskatz commented on #3143
@whedon remove @hkaiser as reviewer

[2021-06-14 12:12] whedon commented on #3143
OK, @hkaiser is no longer a reviewer

[2021-06-14 12:13] danielskatz commented on #3143
👋 @nkallima - do you have any more reviewer suggestions, since we need to find one more now?

@jarrah42, if you know of anyone you could suggest, that would be also be useful

[2021-06-14 12:18] danielskatz commented on #3143
👋 @cedricchevalier19, @mkaguilera, @icalciu, @jamesreinders - Would one of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews of the software and paper here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

As you can see, one of our assigned reviewers was unable to review as he didn't have access to

[2021-06-14 12:20] danielskatz commented on #3348
@dhimmel - just a ping that if you can accept the reviewer invitation in the first comment in this issue, that would be great - it will eventually expire which will make it harder for you to start the review (when you are ready)

[2021-06-14 12:21] sbenthall commented on #3245
Yes, I can edit this one. Sign me up!

[2021-06-14 12:22] danielskatz commented on #3245
Hi @sbenthall  - the best option at this point is for you to sign yourself up, by doing what I am going to do below

[2021-06-14 12:22] danielskatz commented on #3245
@whedon assign @sbenthall as editor

you can do this yourself, or you can also do `@whedon assign me as editor`

[2021-06-14 12:22] whedon commented on #3245
OK, the editor is @sbenthall

[2021-06-14 12:23] danielskatz commented on #3211
👋 @PierreGuilbertF - It doesn't seem like you've started your review - can you let us know when you will?

[2021-06-14 12:23] danielskatz commented on #3211
👋 @adi3 - Can you let us know where this in your opinion? What is blocking you from moving forward?

[2021-06-14 12:25] sbenthall commented on #3065
Super. This paper passes review.

We can move on with the next steps!

[2021-06-14 12:25] sbenthall commented on #3065
@whedon generate pdf

[2021-06-14 12:25] sbenthall commented on #3065
@whedon check references

[2021-06-14 12:26] whedon commented on #3065
[code]

[2021-06-14 12:26] whedon commented on #3065
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: :point_left:

[2021-06-14 12:26] whedon opened #3364 "[PRE REVIEW]: OSCILOS_brass: an acoustic solver for brass instruments"
**Submitting author:** @AlexanderMacL (<a href="http://orcid.org/0000-0002-5835-216X">Alexander MacLaren</a>)
**Repository:** <a href="https://github.com/MorgansLab/OSCILOS_brass/" target ="_blank">https://github.com/MorgansLab/OSCILOS_brass/</a>
**Version:** v1.0
**Editor:** @vissarion
**Reviewers:** @astanziola, @drewbitllama
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mod

[2021-06-14 12:26] whedon commented on #3364
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-14 12:26] whedon commented on #3364
[code]

[2021-06-14 12:26] whedon opened #3365 "[PRE REVIEW]: pointcloudset: Efficient analysis of large datasets of point clouds recorded over time"
**Submitting author:** @tgoelles (<a href="http://orcid.org/0000-0002-3925-6260">Thomas Goelles</a>)
**Repository:** <a href="https://github.com/virtual-vehicle/pointcloudset/" target ="_blank">https://github.com/virtual-vehicle/pointcloudset/</a>
**Version:** 0.2.2
**Editor:** @hugoledoux
**Reviewers:** @RonaldEnsing, @hechth
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode

[2021-06-14 12:26] whedon commented on #3365
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-14 12:26] whedon commented on #3364
PDF failed to compile for issue #3364 with the following error:
[code]

[2021-06-14 12:26] whedon opened #3366 "[PRE REVIEW]: OGRe: An Object-Oriented General Relativity Package for Mathematica"
**Submitting author:** @bshoshany (<a href="http://orcid.org/0000-0003-2222-127X">Barak Shoshany</a>)
**Repository:** <a href="https://github.com/bshoshany/OGRe" target ="_blank">https://github.com/bshoshany/OGRe</a>
**Version:** v1.5
**Editor:** @VivianePons
**Reviewers:** @kostunin, @amelialdrew
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-06-14 12:26] platipodium commented on #3351
Created https://github.com/virgesmith/neworder/issues/60 regarding functionality and example testing.

[2021-06-14 12:26] whedon commented on #3366
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-14 12:26] whedon opened #3367 "[PRE REVIEW]: Kinematics-vis: A Visualization Tool for the Mathematics of Human Motion"
**Submitting author:** @heath-henninger (<a href="http://orcid.org/0000-0002-3635-1289">Heath Henninger</a>)
**Repository:** <a href="https://github.com/klevis-a/kinematics-vis.git" target ="_blank">https://github.com/klevis-a/kinematics-vis.git</a>
**Version:** v.1.0.0
**Editor:** @adi3
**Reviewers:** @destogl, @nnadeau
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warn

[2021-06-14 12:26] whedon commented on #3367
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-14 12:26] whedon opened #3368 "[PRE REVIEW]: Survival: Survival Analysis in Python"
**Submitting author:** @derrynknife (<a href="http://orcid.org/0000-0002-6636-6318">Derryn Knife</a>)
**Repository:** <a href="https://github.com/derrynknife/SurPyval" target ="_blank">https://github.com/derrynknife/SurPyval</a>
**Version:** 0.4.0
**Editor:** @dfm
**Reviewers:** @CamDavidsonPilon, @MatthewReid854
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

[2021-06-14 12:26] whedon commented on #3368
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-14 12:26] whedon opened #3369 "[PRE REVIEW]: Building, Importing, and Exporting GEXF Graph Files with rgexf"
**Submitting author:** @gvegayon (<a href="http://orcid.org/0000-0002-3171-0844">George Vega Yon</a>)
**Repository:** <a href="https://github.com/gvegayon/rgexf/" target ="_blank">https://github.com/gvegayon/rgexf/</a>
**Version:** 0.16.1
**Editor:** @fabian-s
**Reviewers:** @jonjoncardoso, @corneliusfritz
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-06-14 12:26] whedon commented on #3369
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-14 12:27] whedon commented on #3365
[code]

[2021-06-14 12:27] whedon commented on #3365
PDF failed to compile for issue #3365 with the following error:
[code]

[2021-06-14 12:27] whedon commented on #3366
[code]

[2021-06-14 12:27] whedon commented on #3367
[code]

[2021-06-14 12:27] whedon commented on #3366
PDF failed to compile for issue #3366 with the following error:
[code]

[2021-06-14 12:27] whedon commented on #3367
PDF failed to compile for issue #3367 with the following error:
[code]

[2021-06-14 12:27] whedon commented on #3368
[code]

[2021-06-14 12:27] whedon commented on #3368
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03368/joss.03368/10.21105.joss.03368.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03368/joss.03368/10.21105.joss.03368.pdf) :page_facing_up: :point_left:

[2021-06-14 12:27] whedon commented on #3368
[code]

[2021-06-14 12:27] whedon commented on #3369
Failed to discover a `Statement of need` section in paper

[2021-06-14 12:27] whedon commented on #3369
[code]

[2021-06-14 12:27] whedon commented on #3369
[code]

[2021-06-14 12:28] whedon commented on #3369
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03369/joss.03369/10.21105.joss.03369.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03369/joss.03369/10.21105.joss.03369.pdf) :page_facing_up: :point_left:

[2021-06-14 12:28] sbenthall commented on #3013
@daviddewhurst would you be able to review this package?

[2021-06-14 12:28] melissawm commented on #3208
I'm sorry for the delay, @ayush-1506 . If you do have suggestions, that would be great :)

[2021-06-14 12:28] sbenthall commented on #3065
@whedon check references

[2021-06-14 12:29] whedon commented on #3065
[code]

[2021-06-14 12:31] platipodium commented on #3351
Created https://github.com/virgesmith/neworder/issues/61 for duplicated CPU work

[2021-06-14 12:35] sbenthall commented on #3065
I've proofread the article. It looks great. I'm also excited for the publication of this work -- this is software I could use in my work!

@JoelForamitti could you please make a new tagged release and archive it using Zenoda, and then report the version number and archive DOI in this thread?

[2021-06-14 12:37] bshoshany commented on #3366
@whedon generate pdf from branch paper

[2021-06-14 12:37] whedon commented on #3366
[code]

[2021-06-14 12:38] whedon commented on #3366
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03366/joss.03366/10.21105.joss.03366.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03366/joss.03366/10.21105.joss.03366.pdf) :page_facing_up: :point_left:

[2021-06-14 12:39] sbenthall commented on #3245
@ziotom78 @gcdeshpande would you be able to review this work?

[2021-06-14 12:41] danielskatz commented on #3363
@whedon query scope

[2021-06-14 12:41] whedon commented on #3363
Submission flagged for editorial review.

[2021-06-14 12:43] danielskatz commented on #3369
@gvegayon - please add a section entitle "Statement of Need" to your paper, and please explain what types of research (in some example fields) this software supports/enables.

[2021-06-14 12:43] whedon opened #3370 "[PRE REVIEW]: optimade-python-tools: a Python library for serving and consuming materials data via OPTIMADE APIs"
**Submitting author:** @ml-evs (<a href="http://orcid.org/0000-0002-1182-9098">Matthew L Evans</a>)
**Repository:** <a href="https://github.com/Materials-Consortia/optimade-python-tools" target ="_blank">https://github.com/Materials-Consortia/optimade-python-tools</a>
**Version:** v0.15.3
**Editor:** @jgostick
**Reviewers:** @hungpham2017, @jamesrhester
**Managing EiC:** Daniel S. Katz

**:warning

[2021-06-14 12:43] whedon commented on #3370
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-14 12:43] whedon commented on #3370
[code]