[2019-04-22 14:59] danielskatz commented on #1398
👋 @arfon - see the comment above and the broken link that was generated in the second comment in this issue...  Can you fix the underlying code that generated it?

[2019-04-22 15:05] xuanxu commented on #1398
@danielskatz / @williamjameshandley I have already ask @tacaswell, we are waiting for his response :)

[2019-04-22 15:16] sanskriti-s commented on #1383
@whedon generate pdf

[2019-04-22 15:16] whedon commented on #1383
[code]

[2019-04-22 15:16] whedon commented on #1383
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01383/joss.01383/10.21105.joss.01383.pdf)

[2019-04-22 15:21] alexhanna commented on #1322
@whedon accept

[2019-04-22 15:21] whedon commented on #1322
No archive DOI set. Exiting...

[2019-04-22 15:22] alexhanna commented on #1322
You'll need to get a DOI for your repository, @KateHyoung. You'll need to create an archive (on Zenodo, figshare, or somewhere else, if you haven't already) and post the archive DOI here.

[2019-04-22 15:23] danielskatz commented on #1383
👋 @arokem - would you be willing to edit this submission?

[2019-04-22 15:25] danielskatz commented on #1381
👋 bioinformatics editing team (@pjotrp @mgymrek @brainstorm @lpantano) - can one of you take on this submission as editor?

[2019-04-22 15:26] aquilesC commented on #1352
I will update it soon!
I was overwhelmed by some other tasks, but this week is going to be easier
for me. Overall is OK, I have some comments regarding the documentation. As
soon as I can seat down on my PC, I'll update you.

On Mon, Apr 22, 2019, 15:59 Brandon Dube <notifications@github.com> wrote:

[2019-04-22 15:26] jedbrown commented on #1396
@whedon add @iljah as reviewer

[2019-04-22 15:26] whedon commented on #1396
OK, @iljah is now a reviewer

[2019-04-22 15:27] jedbrown commented on #1396
@whedon add @markadams as reviewer

[2019-04-22 15:27] whedon commented on #1396
OK, @markadams is now a reviewer

[2019-04-22 15:27] jedbrown commented on #1396
@whedon start review

[2019-04-22 15:27] whedon opened #1400 "[REVIEW]: ppiclF: A Parallel Particle-In-Cell Library in Fortran"
**Submitting author:** @dpzwick (<a href="http://orcid.org/0000-0001-5329-6341">David Zwick</a>)
**Repository:** <a href="https://github.com/dpzwick/ppiclF/" target ="_blank">https://github.com/dpzwick/ppiclF/</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewer:** @iljah, @markadams
**Archive:** <a href="https://doi.org/10.5281/zenodo.2667285" target="_blank">10.5281/zenodo.2667285</a>

## St

[2019-04-22 15:27] whedon commented on #1396
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1400. Feel free to close this issue now!

[2019-04-22 15:27] whedon commented on #1400
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @iljah, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-04-22 15:27] whedon commented on #1400
[code]

[2019-04-22 15:28] whedon commented on #1400
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01400/joss.01400/10.21105.joss.01400.pdf)

[2019-04-22 15:28] nicoguaro commented on #1394
@Kevin-Mattheus-Moerman, currently I am reviewing another work for JOSS. So, I will decline this one.

[2019-04-22 15:28] #1396 closed

[2019-04-22 15:30] sambitdash commented on #1323
@danielskatz Sorry for the delay on my part. I will be able to submit the paper by the end of this week. If that's not too late will request to keep this request active for now.

[2019-04-22 15:32] jedbrown commented on #1400
@iljah @markadams :wave:  Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [ppiclF repository](https://github.com/dpzwick/ppiclF/). I'll be watching this thread if you have any questions.

[2019-04-22 15:45] jedbrown commented on #1147
@whedon generate pdf

[2019-04-22 15:45] whedon commented on #1147
[code]

[2019-04-22 15:46] jedbrown commented on #1147
@whedon check references

[2019-04-22 15:46] whedon commented on #1147
[code]

[2019-04-22 15:46] whedon commented on #1147
[code]

[2019-04-22 15:46] whedon commented on #1147
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01147/joss.01147/10.21105.joss.01147.pdf)

[2019-04-22 16:01] ianhbell commented on #1147
Looks good to me!

[2019-04-22 16:07] KateHyoung commented on #1322
Hello @alexhanna,

Here is the archive DOI.
https://zenodo.org/badge/latestdoi/113074713

Thank you for kindly letting me know the information.

[2019-04-22 16:09] lmcinnes commented on #1315
Sorry for being so slow. Once I got the time this went very quickly because everything was mostly very well laid out and easy to test and check. I agree with @ixjlyons that a sphinx-gallery style approach to the examples might be nice (and hopefully not that hard to set up).

You can also add DOIs for a few of the references. Carlssons paper is hDOI: 10.1090/S0273-0979-09-01249-X, and Edelsbrunner

[2019-04-22 16:09] alexhanna commented on #1322
@whedon set 10.5281/zenodo.2648643 as archive

[2019-04-22 16:09] whedon commented on #1322
OK. <a href="https://doi.org/10.5281/zenodo.2648643" target="_blank">10.5281/zenodo.2648643</a> is the archive.

[2019-04-22 16:10] alexhanna commented on #1322
@whedon accept

[2019-04-22 16:10] whedon commented on #1322
[code]

[2019-04-22 16:10] whedon commented on #1322
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/635

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/635, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-22 16:11] whedon commented on #1322
[code]

[2019-04-22 16:14] alexhanna commented on #1322
@whedon accept deposit=true

[2019-04-22 16:14] whedon commented on #1322
I'm sorry @alexhanna, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-04-22 16:15] alexhanna commented on #1322
@kyleniemeyer and @arfon, this is ready for deposit.

[2019-04-22 16:20] danielskatz commented on #1322
Hi - in the future, please notify @openjournals/joss-eics to get the AEiC on duty (me this week)

[2019-04-22 16:27] danielskatz commented on #1322
@KateHyoung - before we accept this, please fix the references in the paper.

1. Items that should be in upper case may need additional {}s around them to preserve the case.
1. For the Salam reference, some additional detail about the paper is needed.  "In. EECS." is not sufficient for someone else to find this.

Once you've done this, please check the resulting pdf by entering ```@whedon generate

[2019-04-22 16:28] danielskatz commented on #1322
👋 @briatte & @andrewheiss - thanks for your reviews!
And @alexhanna, thanks for your editing!

[2019-04-22 16:50] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 16:50] whedon commented on #1322
[code]

[2019-04-22 16:51] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-04-22 16:59] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 16:59] whedon commented on #1322
[code]

[2019-04-22 17:00] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-04-22 17:19] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 17:19] whedon commented on #1322
[code]

[2019-04-22 17:19] whedon commented on #1322
PDF failed to compile for issue #1322 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     81      0 --:--:-- --:--:-- --:--:--    81
Error reading bib

[2019-04-22 17:20] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 17:20] whedon commented on #1322
[code]

[2019-04-22 17:21] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-04-22 17:23] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 17:23] whedon commented on #1322
[code]

[2019-04-22 17:23] stulp commented on #1225
@danielskatz - I've just merged the branches in which I was addressing the remaining issues.

My main change has been to completely rewrite the code in demos/dmp_bbo_robot (and renaming it to demo_robot/). The directory https://github.com/stulp/dmpbbo/blob/master/demo_robot has been the result of that, and the programs/scripts/README in that directory have not been reviewed yet. I think this shoul

[2019-04-22 17:24] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-04-22 17:27] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 17:27] whedon commented on #1322
[code]

[2019-04-22 17:27] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-04-22 17:28] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 17:28] whedon commented on #1322
[code]

[2019-04-22 17:29] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-04-22 17:33] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 17:33] whedon commented on #1322
[code]

[2019-04-22 17:34] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-04-22 17:36] KateHyoung commented on #1322
@whedon generate pdf

[2019-04-22 17:36] whedon commented on #1322
[code]

[2019-04-22 17:37] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-04-22 17:39] danielskatz commented on #1225
👋 @studywolf - I know you thought you were done, but I would greatly appreciate your confirmation that the submission, with these changes, is still acceptable (and ideally has improved).

[2019-04-22 17:46] demotu commented on #1394
yes, I can review it

@demotu <https://github.com/demotu>
-
Marcos Duarte
http://demotu.org/

On Mon, Apr 22, 2019 at 10:54 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2019-04-22 17:49] KateHyoung commented on #1322
Dear @danielskatz,
I have corrected and added information for the references and checked other parts of the paper as well. My apology for several attempts for compiling. A style `whedon`  generated differs from my internal compiling system.   I think the draft looks good.

I would like to express my gratitude to the editor, @alexhanna, and the reviewers; @briatte and @andrewheiss, again for their

[2019-04-22 18:33] jedbrown commented on #1147
Can you please merge the above PR and comment on the 2009 paper that seems to have not been published in the stated venue? Then we can double-check the paper before archiving. Thanks.

[2019-04-22 18:49] cMadan commented on #1313
@zmeers, everything looks good to me! Can you create a Github release corresponding to the current repo and tell me the new version number that now incorporates the recent changes? You also need to deposit the code somewhere archival (e.g., Zenodo or figshare) and tell me the DOI? Thanks!

[2019-04-22 18:53] danielskatz commented on #1322
@whedon accept

[2019-04-22 18:53] whedon commented on #1322
[code]

[2019-04-22 18:53] whedon commented on #1322
[code]

[2019-04-22 18:53] whedon commented on #1322
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/636

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/636, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-22 18:57] danielskatz commented on #1322
Can you also merge https://github.com/KateHyoung/UTDEventData/pull/12 or make similar changes?

[2019-04-22 19:01] KateHyoung commented on #1322
@danielskatz, I have merged the changes in the bib file. Thank you.

[2019-04-22 19:24] stulp commented on #1225
The new release is here: https://github.com/stulp/dmpbbo/releases/tag/v1.0.0

Archives of the repository are downloadable at the end of that release.

[2019-04-22 19:24] danielskatz commented on #1322
@whedon accept

[2019-04-22 19:24] whedon commented on #1322
[code]

[2019-04-22 19:24] whedon commented on #1322
[code]

[2019-04-22 19:25] whedon commented on #1322
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/637

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/637, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-22 19:25] danielskatz commented on #1322
@whedon accept deposit=true

[2019-04-22 19:25] whedon commented on #1322
[code]

[2019-04-22 19:26] whedon commented on #1322
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/638
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01322](https://doi.org/10.21105/joss.01322)
2. If everything looks go

[2019-04-22 19:26] #1322 closed

[2019-04-22 19:26] whedon commented on #1322
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01322/status.svg)](https://doi.org/10.21105/joss.01322)

**We need your help!**

Journal of Open Source Softwar

[2019-04-22 20:07] karthik commented on #785
Thanks Lorena, I'll follow up again. Otherwise try to assign someone new.

[2019-04-22 20:09] pdwaggoner commented on #1285
Hi @alexhanna (CC: @yochannah ) - Many thanks for the review! All great points to consider. I have updated everything accordingly:

1. I updated the example in the source code (the `rIP` file in the `R` folder in the repo) to include two real IPs, along with a real IP Hub key that any user could run successfully.

2. I added a `CONTRIBUTING` .txt file in the repo with corresponding responsibilitie

[2019-04-22 20:13] pdwaggoner commented on #1285
@whedon check references

[2019-04-22 20:13] whedon commented on #1285
[code]

[2019-04-22 20:13] whedon commented on #1285
[code]

[2019-04-22 22:15] ianhbell commented on #1147
Hornby paper has been removed in https://github.com/usnistgov/CEGO/commit/d99957e2ffb65d0d632a94c15385e752ac70368a

[2019-04-22 22:15] ianhbell commented on #1147
@whedon generate pdf

[2019-04-22 22:15] whedon commented on #1147
[code]

[2019-04-22 22:16] whedon commented on #1147
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01147/joss.01147/10.21105.joss.01147.pdf)

[2019-04-23 00:18] crawfordsm commented on #1053
@jason-neal You have done a really great job of updating the documentation along with the notebooks!  It really makes the package much more accessible and now I really feel I can jump in to using it with the clear API.

I recommend Eniric for publication in JOSS.

[2019-04-23 01:23] peterjwatkins commented on #947
@labarba - apologies for the delay in responding - I will attend to this over the next few days

[2019-04-23 02:51] lpantano commented on #1381
Hi, we will take, we need to decide some logistics. Thanks!

[2019-04-23 04:19] jedbrown commented on #1147
@whedon accept

[2019-04-23 04:19] whedon commented on #1147
No archive DOI set. Exiting...

[2019-04-23 04:23] jedbrown commented on #1147
@ianhbell Looks good. Please tag a release ([annotated tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags) preferred), archive on Zenodo or similar, and report the DOI here.

[2019-04-23 05:11] pankajkmishra commented on #1173
@kyleniemeyer I am waiting for @Kevin-Mattheus-Moerman 's response.

[2019-04-23 07:03] csoneson commented on #1379
👋 @IbrahimTanyalcin -thanks for your submission, I am in the process of reaching out to possible reviewers. I just had a quick look at your repository, and I could not find a valid license file (see https://joss.readthedocs.io/en/latest/review_criteria.html#software-license) - could you check that?

[2019-04-23 07:25] IbrahimTanyalcin commented on #1379
Added MIT, thanks for reminding, long forgotten.

[2019-04-23 09:08] VivianePons commented on #1351
Yes, I understand the necessity of the two options. My comment was mostly reflecting on the fact that this is not reflected clearly in the documentation.

You can indeed release a new version.

[2019-04-23 09:19] MarionLegrandLogrami commented on #791
Hi @boshek and @arfon,

The progam we provided to help to install everything is a cmd file. So it is an executable file. To launch it, you have to double-clik on the file. Doing this you will launch the program with some default settings. If you want to change these default settings you have to call the program in a console (start menu / cmd+enter to call the command) and enter the settings you ne

[2019-04-23 12:02] arfon commented on #1053
👍 thanks @crawfordsm.

@jason-neal - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-04-23 12:25] shawnbanasick commented on #1360
Thanks @alexhanna for your help.  The archive doi is    10.5281/zenodo.2649145

[2019-04-23 13:15] csoneson commented on #1379
@whedon assign @hrhotz as reviewer

[2019-04-23 13:15] whedon commented on #1379
OK, the reviewer is @hrhotz

[2019-04-23 13:22] whedon opened #1401 "[PRE REVIEW]: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis"
**Submitting author:** @prmiles (<a href="http://orcid.org/0000-0002-7501-5114">Paul Miles</a>)
**Repository:** <a href="https://github.com/prmiles/pymcmcstat" target ="_blank">https://github.com/prmiles/pymcmcstat</a>
**Version:** v1.7.0
**Editor:** @katyhuff
**Reviewers:** @djmitche, @jarvist

**Author instructions**

Thanks for submitting your paper to JOSS @prmiles. **Currently, there isn't an

[2019-04-23 13:22] whedon commented on #1401
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-23 13:22] whedon commented on #1401
[code]

[2019-04-23 13:22] whedon commented on #1401
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01401/joss.01401/10.21105.joss.01401.pdf)

[2019-04-23 13:23] danielskatz commented on #1401
👋 @katyhuff - the submitter requested you as the editor - are you willing to accept?

[2019-04-23 13:23] whedon opened #1402 "[PRE REVIEW]: hdme: High-Dimensional Regression with Measurement Error"
**Submitting author:** @osorensen (<a href="http://orcid.org/0000-0003-0724-3542">Øystein Sørensen</a>)
**Repository:** <a href="https://github.com/osorensen/hdme" target ="_blank">https://github.com/osorensen/hdme</a>
**Version:** v0.2.3
**Editor:** @csoneson
**Reviewers:** @dirmeier, @dmbates

**Author instructions**

Thanks for submitting your paper to JOSS @osorensen. **Currently, there isn't

[2019-04-23 13:23] whedon commented on #1402
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-23 13:23] whedon commented on #1402
[code]

[2019-04-23 13:24] whedon commented on #1402
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01402/joss.01402/10.21105.joss.01402.pdf)

[2019-04-23 13:24] danielskatz commented on #1402
👋 @csoneson - the submitter requested you as the editor - are you willing to edit this submission?

[2019-04-23 13:25] whedon opened #1403 "[PRE REVIEW]: DEEPaaS API: a REST API for Machine Learning and Deep Learning models"
**Submitting author:** @alvarolopez (<a href="http://orcid.org/0000-0002-0013-4602">Álvaro López García</a>)
**Repository:** <a href="https://github.com/indigo-dc/DEEPaaS" target ="_blank">https://github.com/indigo-dc/DEEPaaS</a>
**Version:** 0.3.0
**Editor:** @trallard
**Reviewers:** @dangunter, @krother, @rougier

**Author instructions**

Thanks for submitting your paper to JOSS @alvarolopez. **

[2019-04-23 13:25] whedon commented on #1403
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-23 13:25] whedon commented on #1403
[code]

[2019-04-23 13:25] whedon commented on #1403
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01403/joss.01403/10.21105.joss.01403.pdf)

[2019-04-23 13:25] danielskatz commented on #1403
👋 @trallard - this submission requests you as the editor - are you willing to do so?

[2019-04-23 13:26] katyhuff commented on #1401
yes!

[2019-04-23 13:27] katyhuff commented on #1401
@whedon set @katyhuff as editor

[2019-04-23 13:27] katyhuff commented on #1401
@whedon assign @katyhuff as editor

[2019-04-23 13:27] whedon commented on #1401
OK, the editor is @katyhuff

[2019-04-23 13:28] csoneson commented on #1402
@danielskatz yes, I'd be happy to.

[2019-04-23 13:29] katyhuff commented on #1401
Thank you for your submission @prmiles .  I'll now identify appropriate reviewers and request their assistance with this review.

[2019-04-23 13:31] danielskatz commented on #1402
@whedon assign @csoneson as editor

[2019-04-23 13:32] whedon commented on #1402
OK, the editor is @csoneson

[2019-04-23 13:57] katyhuff commented on #1401
I've found some great folks. Now @prmiles , let's ping a few fitting reviewers, with python, statistics (ideally bayesian), and some computational physics expertise. We can start the review once two or three of them accept the request to review.

[2019-04-23 13:57] katyhuff commented on #1401
Dear @jarvist :

I have identified you as a fitting reviewer for this paper, which will require experts with python, statistics (ideally bayesian), and some computational physics expertise. Are you able to and interested in taking on this JOSS review?

Title: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis
Summary:  A Python program for running Marko

[2019-04-23 13:58] katyhuff commented on #1401
Dear @ivergara :

I have identified you as a fitting reviewer for this paper, which will require experts with python, statistics (ideally bayesian), and some computational physics expertise. Are you able to and interested in taking on this JOSS review?

Title: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis
Summary:  A Python program for running Mark

[2019-04-23 13:58] katyhuff commented on #1401
Dear @djmitche:

I have identified you as a fitting reviewer for this paper, which will require experts with python, statistics (ideally bayesian), and some computational physics expertise. Are you able to and interested in taking on this JOSS review?

Title: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis
Summary:  A Python program for running Marko

[2019-04-23 13:59] katyhuff commented on #1401
Dear @malmaud:

I have identified you as a fitting reviewer for this paper, which will require experts with python, statistics (ideally bayesian), and some computational physics expertise. Are you able to and interested in taking on this JOSS review?

Title: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis
Summary:  A Python program for running Markov

[2019-04-23 13:59] katyhuff commented on #1401
Dear @betatim:
I have identified you as a fitting reviewer for this paper, which will require experts with python, statistics (ideally bayesian), and some computational physics expertise. Are you able to and interested in taking on this JOSS review?

Title: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis
Summary:  A Python program for running Markov

[2019-04-23 13:59] katyhuff commented on #1401
Dear @ejolly:

I have identified you as a fitting reviewer for this paper, which will require experts with python, statistics (ideally bayesian), and some computational physics expertise. Are you able to and interested in taking on this JOSS review?

Title: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis
Summary:  A Python program for running Markov

[2019-04-23 14:00] djmitche commented on #1401
I have good experience in Python and minimal statistical experience.  On that basis, I'm happy to help.

[2019-04-23 14:08] katyhuff commented on #1401
@djmitche : Thank you! I particularly hoped that you could contribute with regard to reviewing the testing coverage!

[2019-04-23 14:08] katyhuff commented on #1401
@whedon assign @djmitche as reviewer

[2019-04-23 14:08] whedon commented on #1401
OK, the reviewer is @djmitche

[2019-04-23 14:13] jarvist commented on #1401
This software package has good overlap with my expertise, and I am happy to review. As the package is quite extensive in features and size of code-base, review may take a while.

[2019-04-23 14:30] katyhuff commented on #1401
@jarvist  : Thank you! I appreciate your engagement. If good software-development practices have been employed, I've found that even large code bases become much more straightforward to review. It is my hope this is the case with this submission. We'll start the review as soon as we have one more reviewer.

[2019-04-23 14:30] katyhuff commented on #1401
@whedon add @jarvist as reviewer

[2019-04-23 14:30] whedon commented on #1401
OK, @jarvist is now a reviewer

[2019-04-23 15:31] ianhbell commented on #1147
Here it is: 10.5281/zenodo.2649254

Annotated tag added too

[2019-04-23 15:36] jedbrown commented on #1147
Thanks. Please update the author info to remove my name.

[2019-04-23 15:36] jedbrown commented on #1147
@whedon set 10.5281/zenodo.2649254 as archive

[2019-04-23 15:36] whedon commented on #1147
OK. <a href="https://doi.org/10.5281/zenodo.2649254" target="_blank">10.5281/zenodo.2649254</a> is the archive.

[2019-04-23 15:38] ianhbell commented on #1147
Hmm - where is your name listed as author?

[2019-04-23 15:41] jedbrown commented on #1147
In the Zenodo archive; follow DOI link above or direct here: https://zenodo.org/record/2649254

[2019-04-23 15:43] ianhbell commented on #1147
Got it -- fixed

[2019-04-23 15:51] cgravill commented on #1214
@PrashantVaidyanathan may also be able to help

[2019-04-23 15:53] markadams commented on #1400
I think having the data lurk in common blocks will limit the extensibility of this project. I would suggest a more object oriented approach like provide a particle list object and iterators of some sort, and methods that operate on these lists. For instance, using multiple species of particles does not look feasible now. I don't know what the long term goal of this project is but it is young and I

[2019-04-23 15:55] alexhanna commented on #1360
@whedon set 10.5281/zenodo.2649145 as archive

[2019-04-23 15:55] whedon commented on #1360
OK. <a href="https://doi.org/10.5281/zenodo.2649145" target="_blank">10.5281/zenodo.2649145</a> is the archive.

[2019-04-23 15:55] alexhanna commented on #1360
@whedon accept

[2019-04-23 15:55] whedon commented on #1360
[code]

[2019-04-23 15:56] whedon commented on #1360
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/639

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/639, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-23 15:56] whedon commented on #1360
[code]

[2019-04-23 15:59] alexhanna commented on #1360
Hi @openjournals/joss-eics, this is ready for acceptance.

[2019-04-23 16:09] jedbrown commented on #1147
@whedon accept

[2019-04-23 16:09] whedon commented on #1147
[code]

[2019-04-23 16:09] whedon commented on #1147
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/640

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/640, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-23 16:10] whedon commented on #1147
[code]

[2019-04-23 16:10] danielskatz commented on #1360
Thanks for reviewing @davekinkead and for editing @alexhanna

[2019-04-23 16:12] danielskatz commented on #1360
@whedon accept deposit=true

[2019-04-23 16:12] whedon commented on #1360
[code]

[2019-04-23 16:13] jedbrown commented on #1147
@openjournals/joss-eics We're ready for you.

[2019-04-23 16:13] whedon commented on #1360
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/641
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01360](https://doi.org/10.21105/joss.01360)
2. If everything looks go

[2019-04-23 16:16] #1360 closed

[2019-04-23 16:16] whedon commented on #1360
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01360/status.svg)](https://doi.org/10.21105/joss.01360)

**We need your help!**

Journal of Open Source Softwar

[2019-04-23 16:20] danielskatz commented on #1147
Thanks for the reviews, @sarats, @sjvrijn, @mmenickelly, and for the editing, @jedbrown

[2019-04-23 16:20] danielskatz commented on #1147
@whedon accept deposit=true

[2019-04-23 16:20] whedon commented on #1147
[code]

[2019-04-23 16:21] whedon commented on #1147
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/642
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01147](https://doi.org/10.21105/joss.01147)
2. If everything looks go

[2019-04-23 16:24] danielskatz commented on #1147
👋 @arfon - can you check on this?

There seems to be a problem with the paper, specifically https://www.theoj.org/joss-papers/joss.01147/10.21105.joss.01147.pdf isn't there.

[2019-04-23 16:29] jedbrown commented on #1147
It's there now?

[2019-04-23 16:34] danielskatz commented on #1147
really? When I try it on a wifi network and on my phone, I don't see it on either

[2019-04-23 16:35] danielskatz commented on #1147
The DOI resolves correctly, and the landing page for the paper is fine, but the PDF of the paper is 404 for me

[2019-04-23 16:36] ianhbell commented on #1147
Link works for me!

[2019-04-23 16:37] kyleniemeyer commented on #1147
I can see the pdf from that link

[2019-04-23 16:39] williamjameshandley commented on #1398
@FaustinCarter may be interested in reviewing this, as he maintains a package with some overlap in functionality [pygtc](https://pygtc.readthedocs.io/en/latest/)

[2019-04-23 16:40] danielskatz commented on #1147
<img width="751" alt="Screen Shot 2019-04-23 at 12 39 37 PM" src="https://user-images.githubusercontent.com/2913845/56599608-e7e43980-65c4-11e9-8809-c653fb05946e.png">

[2019-04-23 16:40] danielskatz commented on #1147
weird...

[2019-04-23 16:42] danielskatz commented on #1147
@arfon, any thoughts on this before I close the issue?  I'll also try again in 2 hours from another location and see if it works there

[2019-04-23 16:58] dpzwick commented on #1400
Thank you, that is a good suggestion. Indeed I think we may head that direction in the future. Either by upgrading to Fortran 90 or possibly even a while C++ overhaul.

While this would be helpful, it shouldn't hinder the current capabilities of ppiclF. Multiple species can be done already since the user can solve whichever equations they want and also store arbitrary numbers of properties in thei

[2019-04-23 17:18] danielskatz commented on #1147
Now it’s working for me

[2019-04-23 17:18] #1147 closed

[2019-04-23 17:18] whedon commented on #1147
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01147/status.svg)](https://doi.org/10.21105/joss.01147)

**We need your help!**

Journal of Open Source Softwar

[2019-04-23 17:20] arfon commented on #1147
The PDFs are cached in Cloudflare which means that if you click the link to the PDF before GitHub pages has had a chance to build (and deploy) then you can get a 404. Your browser (and Cloudflare) can then sometimes cache the 404 response (I think).

[2019-04-23 17:21] moorepants commented on #1394
I am not currently available to review.

[2019-04-23 18:31] csoneson commented on #1402
👋Hi @dirmeier, @dmbates, @fabian-s - would you be interested in reviewing this submission for JOSS? It looks like a nice fit to your expertise!

[2019-04-23 18:36] dirmeier commented on #1402
Hey, sure thing! I'd be happy to review.

[2019-04-23 18:40] csoneson commented on #1402
@dirmeier Fantastic, thanks! I'll try to get one more reviewer on board before opening the actual review issue.

[2019-04-23 18:40] csoneson commented on #1402
@whedon assign @dirmeier as reviewer

[2019-04-23 18:40] whedon commented on #1402
OK, the reviewer is @dirmeier

[2019-04-23 18:45] dmbates commented on #1402
I am also happy to review.

[2019-04-23 18:47] csoneson commented on #1402
@dmbates Excellent, thank you!

[2019-04-23 18:47] csoneson commented on #1402
@whedon add @dmbates as reviewer

[2019-04-23 18:47] whedon commented on #1402
OK, @dmbates is now a reviewer

[2019-04-23 18:48] csoneson commented on #1402
@whedon start review

[2019-04-23 18:48] whedon opened #1404 "[REVIEW]: hdme: High-Dimensional Regression with Measurement Error"
**Submitting author:** @osorensen (<a href="http://orcid.org/0000-0003-0724-3542">Øystein Sørensen</a>)
**Repository:** <a href="https://github.com/osorensen/hdme" target ="_blank">https://github.com/osorensen/hdme</a>
**Version:** 0.3.0
**Editor:** @csoneson
**Reviewer:** @dirmeier, @dmbates
**Archive:** <a href="https://doi.org/10.5281/zenodo.2939896" target="_blank">10.5281/zenodo.2939896</a>

[2019-04-23 18:48] whedon commented on #1402
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1404. Feel free to close this issue now!

[2019-04-23 18:49] whedon commented on #1404
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dirmeier, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-04-23 18:49] whedon commented on #1404
[code]

[2019-04-23 18:49] whedon commented on #1404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01404/joss.01404/10.21105.joss.01404.pdf)

[2019-04-23 18:50] csoneson commented on #1402
Ok - the review is started in #1404 - I'll close this issue, and we'll continue over there! Thanks again for agreeing to review.

[2019-04-23 18:50] #1402 closed

[2019-04-23 19:04] csoneson commented on #1379
Hi @jkanche - would you be interested in reviewing this submission for JOSS? Looks like a nice fit for your expertise!

[2019-04-23 19:19] lheagy commented on #1372
👋 Hi @dangunter, would you be willing to review this submission for JOSS?

[2019-04-23 19:50] studywolf commented on #1225
I should be able to look into this on Sunday :+1:

[2019-04-23 20:06] whedon opened #1405 "[PRE REVIEW]: insight: Easy Access to Model Information for Various Model Objects"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/easystats/insight" target ="_blank">https://github.com/easystats/insight</a>
**Version:** 0.2.1
**Editor:** @karthik
**Reviewers:** @alexpghayes

**Author instructions**

Thanks for submitting your paper to JOSS @strengejacke. The JOSS editor @alexhan

[2019-04-23 20:06] whedon commented on #1405
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexhanna it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@alexhanna) to find some reviewers

[2019-04-23 20:06] whedon commented on #1405
[code]

[2019-04-23 20:06] whedon commented on #1405
PDF failed to compile for issue #1405 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a17

[2019-04-23 20:07] danielskatz commented on #1405
👋 @alexhanna - this submission suggested you as the editor - is this ok with you?

[2019-04-23 20:08] danielskatz commented on #1405
@strengejacke - I don't see a paper.bib file in your repo - please see https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography for an example of how the paper.md and paper.bib work together

[2019-04-23 20:09] whedon opened #1406 "[PRE REVIEW]: fmcmc: A friendly MCMC framework"
**Submitting author:** @gvegayon (<a href="http://orcid.org/0000-0002-3171-0844">George Vega Yon</a>)
**Repository:** <a href="https://github.com/USCbiostats/fmcmc" target ="_blank">https://github.com/USCbiostats/fmcmc</a>
**Version:** 0.1-0
**Editor:** @arokem
**Reviewers:** fabian-s

**Author instructions**

Thanks for submitting your paper to JOSS @gvegayon. **Currently, there isn't an JOSS edi

[2019-04-23 20:09] whedon commented on #1406
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-23 20:09] whedon commented on #1406
[code]

[2019-04-23 20:09] whedon commented on #1406
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01406/joss.01406/10.21105.joss.01406.pdf)

[2019-04-23 20:12] danielskatz commented on #1406
👋 @arokem - would you be able to edit this submission?

[2019-04-23 20:22] strengejacke commented on #1405
Thanks @danielskatz for starting the pre-review. Actually, the package is more "technical" and does not implement methods proposed in (statistical) papers... That's why we haven't included a bibliography. If it's required, we could at least cite the R-software, if this is OK for you?

[2019-04-23 20:25] danielskatz commented on #1405
yes, please do - it seems that we expect something ...

[2019-04-23 20:31] strengejacke commented on #1405
Ok, bibliography added.
Suggested reviewers, with no preferred order:

@amoeba
@cschwem2er
@Ohlsen
@jsta
@corybrunson

[2019-04-23 20:32] danielskatz commented on #1405
@whedon generate pdf

[2019-04-23 20:32] whedon commented on #1405
[code]

[2019-04-23 20:32] whedon commented on #1405
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01405/joss.01405/10.21105.joss.01405.pdf)

[2019-04-23 20:35] danielskatz commented on #1405
Ok, it looks like you don't actually have to cite anything, but you do need a paper.bib file.
If you want to cite R, you will need to put a reference to it in the paper.md file - see the example for how to do this.  If not, I guess it's fine, but it's a bit odd to have a paper about research software that has no citations of previous work.  The reviewers can discuss this issue...
(If you do make c

[2019-04-23 20:36] strengejacke commented on #1405
I have cited R in the appropriate place, but indeed I forgot a _References_ heading at the end...

[2019-04-23 20:39] strengejacke commented on #1405
@whedon genrate pdf

I will also discuss with the co-authors if and where it makes sense to add references.

[2019-04-23 20:39] strengejacke commented on #1405
@whedon generate pdf

[2019-04-23 20:39] whedon commented on #1405
[code]

[2019-04-23 20:40] whedon commented on #1405
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01405/joss.01405/10.21105.joss.01405.pdf)

[2019-04-23 20:43] jkanche commented on #1379
Hi @csoneson, Yes, I'm interested in reviewing this. This would be my first review for JOSS, I was wondering what the official process is ?

[2019-04-23 21:03] csoneson commented on #1379
@jkanche Awesome! You can find reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Basically, in a few minutes I will assign you as one of the reviewers of the submission, and open the 'actual' review issue (there will be a link posted here). The review will take place in that issue - there will be a checklist for you to go through and evaluate the submission

[2019-04-23 21:03] csoneson commented on #1379
@whedon add @jkanche as reviewer

[2019-04-23 21:03] whedon commented on #1379
OK, @jkanche is now a reviewer

[2019-04-23 21:05] csoneson commented on #1379
@whedon add @imallona as reviewer

[2019-04-23 21:05] whedon commented on #1379
OK, @imallona is now a reviewer

[2019-04-23 21:07] csoneson commented on #1379
Ok, we have a great set of reviewers ready - thanks @hrhotz, @jkanche and @imallona!

[2019-04-23 21:07] csoneson commented on #1379
@whedon start review

[2019-04-23 21:07] whedon opened #1407 "[REVIEW]: Lexicon-Mono-Seq, DOM Text Based Async MSA Viewer"
**Submitting author:** @IbrahimTanyalcin (<a href="http://orcid.org/0000-0003-0327-5096">Ibrahim  Tanyalcin</a>)
**Repository:** <a href="https://github.com/IbrahimTanyalcin/lexicon-mono-seq" target ="_blank">https://github.com/IbrahimTanyalcin/lexicon-mono-seq</a>
**Version:** v0.19.0
**Editor:** @csoneson
**Reviewer:** @hrhotz, @jkanche, @imallona
**Archive:** <a href="https://doi.org/10.5281/ze

[2019-04-23 21:07] whedon commented on #1379
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1407. Feel free to close this issue now!

[2019-04-23 21:07] whedon commented on #1407
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hrhotz, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-04-23 21:07] whedon commented on #1407
[code]

[2019-04-23 21:07] whedon commented on #1407
PDF failed to compile for issue #1407 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1407 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-23 21:08] csoneson commented on #1379
Reviewers - please head over to #1407 for the actual review!

[2019-04-23 21:08] #1379 closed

[2019-04-23 21:10] csoneson commented on #1407
@whedon generate pdf

[2019-04-23 21:10] whedon commented on #1407
[code]

[2019-04-23 21:11] whedon commented on #1407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01407/joss.01407/10.21105.joss.01407.pdf)

[2019-04-23 21:18] lmoresi commented on #1324
@VivianePons - did you have any luck with those suggestions or would you like us to extend the list ? (also, fyi, @brmather)

[2019-04-23 21:18] csoneson commented on #1407
@labarba (or @openjournals/joss-eics) - just to say that the manual change of the path to the submitted repository in the PRE-REVIEW issue (#1379) did not seem to carry over here. I manually changed it again above, which I think should be fine for the review, but I'm not sure whether anything else needs to be changed somewhere for a more permanent effect.

[2019-04-23 21:24] csoneson commented on #1404
@dirmeier, @dmbates - please perform your review in this issue, by updating your checklist above and posting comments. If you have any questions, don't hesitate to ping me.

[2019-04-23 21:25] csoneson commented on #1407
@hrhotz, @jkanche, @imallona - please perform your review in this issue, by updating your checklist above and posting comments. If you have any questions, don't hesitate to ping me.

[2019-04-23 23:09] lheagy commented on #1221
@whedon generate pdf

[2019-04-23 23:09] whedon commented on #1221
[code]

[2019-04-23 23:10] whedon commented on #1221
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01221/joss.01221/10.21105.joss.01221.pdf)

[2019-04-23 23:18] lheagy commented on #1221
@whedon check references

[2019-04-23 23:18] whedon commented on #1221
[code]

[2019-04-23 23:18] whedon commented on #1221
[code]

[2019-04-23 23:21] lheagy commented on #1221
many thanks @chris-prener. Please have another look at the compiled pdf above and double-check that all looks good (nothing jumped out at me). If it is fine, then please create a new release and archive the software on [zenodo](https://zenodo.org/). The title and author list on the zenodo archive should match the paper. Once you have done this, please post the version number and doi here and we ca

[2019-04-23 23:22] lheagy commented on #1328
Many thanks @dvalters, please let me know if you have any questions along the way

[2019-04-23 23:23] lheagy commented on #1358
Thanks @zhang01GA! @JKutt, would you mind taking another look when you have a chance?

[2019-04-23 23:25] lheagy commented on #1372
I am still on the look-out for another reviewer, but I will start the review so that @choldgraf can get started in the mean-time

[2019-04-23 23:25] lheagy commented on #1372
@whedon start review

[2019-04-23 23:25] whedon opened #1408 "[REVIEW]: xml2jupyter: Mapping parameters between XML and Jupyter widgets"
**Submitting author:** @rheiland (<a href="http://orcid.org/0000-0002-7440-2905">Randy Heiland</a>)
**Repository:** <a href="https://github.com/rheiland/xml2jupyter" target ="_blank">https://github.com/rheiland/xml2jupyter</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewers:** @choldgraf, @lheagy
**Archive:** <a href="https://doi.org/10.5281/zenodo.3261541" target="_blank">10.5281/zenodo.32615

[2019-04-23 23:25] whedon commented on #1372
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1408. Feel free to close this issue now!

[2019-04-23 23:25] whedon commented on #1408
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @choldgraf it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-04-23 23:25] whedon commented on #1408
[code]

[2019-04-23 23:25] whedon commented on #1408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01408/joss.01408/10.21105.joss.01408.pdf)

[2019-04-23 23:34] rheiland commented on #1408
Article proof is acceptable to me, just slightly strange with Fig 1 appearing in the middle of an XML block and a couple of line breaks in `quoted_strings`.

[2019-04-23 23:35] lheagy commented on #1408
👋 Hi @choldgraf, thanks for being willing to review 🎉: If you haven't yet accepted the JOSS invite, please do so here: https://github.com/openjournals/joss-reviews/invitations. This will let you check off the boxes in the issue thread above. You will also probably want to set yourself as "not watching" this repo so that you don't get flooded with all of the JOSS-review traffic.

As for the review,

[2019-04-24 00:14] alexhanna commented on #1405
@danielskatz -- I'm not sure I'm the best editor for this, but will handle it if there's no better fit.

[2019-04-24 06:26] osorensen commented on #1404
@whedon generate pdf

[2019-04-24 06:26] whedon commented on #1404
[code]

[2019-04-24 06:26] whedon commented on #1404
PDF failed to compile for issue #1404 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1404/paper.md): invalid leading UTF-8 octet at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/ruby-2.4.4/lib/ruby/2

[2019-04-24 06:42] 1313e commented on #1229
@crawfordsm @arfon @arokem
Alright, so I am currently in the process of revising the AAS Journals submission.
One of the things that still needs to be done, is linking the JOSS submission and the AAS Journals submission together.
However, as neither submission will get accepted before the other, no DOI exists for either submission.
This makes it hard for me to cite one submission in the other, whi

[2019-04-24 07:11] alexhanna commented on #1367
@whedon assign @u01ai11 as reviewer

[2019-04-24 07:11] whedon commented on #1367
OK, the reviewer is @u01ai11

[2019-04-24 07:12] alexhanna commented on #1367
@whedon start review

[2019-04-24 07:12] whedon opened #1409 "[REVIEW]: Multi-Attribute Decision task builder for online experiments"
**Submitting author:** @Yury-Shevchenko (<a href="http://orcid.org/0000-0002-3397-8465">Yury Shevchenko</a>)
**Repository:** <a href="https://github.com/Yury-Shevchenko/mad" target ="_blank">https://github.com/Yury-Shevchenko/mad</a>
**Version:** 1.0.0
**Editor:** @alexhanna
**Reviewer:** @u01ai11
**Archive:** <a href="https://doi.org/10.5281/zenodo.3247311" target="_blank">10.5281/zenodo.3247311<

[2019-04-24 07:12] whedon commented on #1367
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1409. Feel free to close this issue now!

[2019-04-24 07:12] whedon commented on #1409
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @u01ai11 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-04-24 07:12] whedon commented on #1409
[code]

[2019-04-24 07:12] #1367 closed

[2019-04-24 07:12] osorensen commented on #1404
@whedon generate pdf

[2019-04-24 07:12] whedon commented on #1404
[code]

[2019-04-24 07:12] whedon commented on #1409
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01409/joss.01409/10.21105.joss.01409.pdf)

[2019-04-24 07:13] whedon commented on #1404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01404/joss.01404/10.21105.joss.01404.pdf)

[2019-04-24 07:15] osorensen commented on #1404
Thanks to @dirmeier and @dmbates for agreeing to review. Just a note; I added doi to all references in paper.bib and recompiled the article. The content in paper.md is unchanged.

[2019-04-24 08:49] yxliang01 commented on #1349
@whedon generate pdf

[2019-04-24 08:49] whedon commented on #1349
[code]

[2019-04-24 08:50] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-04-24 09:52] arfon commented on #1229
@whedon generate pdf

[2019-04-24 09:52] whedon commented on #1229
[code]

[2019-04-24 09:53] whedon commented on #1229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)

[2019-04-24 09:54] arfon commented on #1229
@1313e - we actually know ahead of time what the JOSS DOI will be - in this case it's https://doi.org/10.21105/joss.01229 (this won't resolve yet though).

I also believe that AAS _should_ know their DOI towards the end of their editorial process. @crawfordsm - is that the case?

[2019-04-24 10:16] ivergara commented on #1401
@katyhuff unfortunately I cannot take this review, Bayesian statistics falls (at the moment) too far from my knowledge corpus to be able to provide a good feedback on how the package works.

[2019-04-24 10:17] 1313e commented on #1229
@arfon Right, I forgot that the DOI for JOSS submissions is actually really easy.
However, I still wanted to raise this, as I think it is a good idea to discuss how to proceed.

[2019-04-24 10:31] arfon commented on #1229
Yes, definitely worth discussing! @crawfordsm and I are overdue producing some documentation for authors such as yourself describing how all of this works 😄

[2019-04-24 11:30] alvarolopez commented on #1403
@whedon generate pdf from branch paper

[2019-04-24 11:30] whedon commented on #1403
[code]

[2019-04-24 11:30] whedon commented on #1403
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01403/joss.01403/10.21105.joss.01403.pdf)

[2019-04-24 11:35] alvarolopez commented on #1403
I see that my name is wrong in the proofs. We Spaniards have 2 surnames (López García), but only my last surname is being considered as such (García). Is there an easy way to indicate that "López García" are two surnames, rather than joining them with a hyphen?

[2019-04-24 11:44] danielskatz commented on #1403
👋 @arfon - How do we do this?

[2019-04-24 11:51] hrhotz commented on #1407
@IbrahimTanyalcin - I have made a pull request with some minor suggestions for the paper text.
Also, please consider adding the names of a few examples for browsers using DOM Text + SVG. Same for MAS viewers relying on the canvas element. This might help putting the text in a wider context.

[2019-04-24 12:31] aj2duncan commented on #1279
There has actually been progress made, in that having noticed the package has been updated, I reinstalled it and reran the example code. This time I get a different error.

The example code currently reads

[code]
This gives errors about `group_var` and `id_var` within the functions `final.df()` and `cor.d()`. However, if I add these so the code becomes

[code]
The code runs and I only get a warni

[2019-04-24 12:38] VivianePons commented on #1324
I have asked 10 people so far, and I got either no response or too busy. At the moment, I'm waiting for an answer from Robert Renka and another person who was suggested by busy people.

[2019-04-24 12:41] lpantano commented on #1363
Thanks for this.

@wmegchel and @prasunanand, it is possible to give an update on the reviewing process?

Thanks so much!

[2019-04-24 13:02] arfon commented on #1403
This is something we have to fix manually I'm afraid. We generally do this at the point of accepting the submission.

[2019-04-24 13:07] danielskatz commented on #1403
Thanks @arfon  - So @alvarolopez, please be sure we fix this manually at the end of review/acceptance, and don't worry about it for now.

[2019-04-24 13:31] VivianePons commented on #1324
@whedon assign @santisoler as reviewer

[2019-04-24 13:32] whedon commented on #1324
OK, the reviewer is @santisoler

[2019-04-24 13:33] VivianePons commented on #1324
Good news! We have one confirmed reviewer. I would still feel more comfortable with a second one. Anyway, this has been taking quite some time already so I will create the review issue right now and add the second reviewer when I find someone.

[2019-04-24 13:34] VivianePons commented on #1324
@whedon create review

[2019-04-24 13:34] VivianePons commented on #1324
@whedon start review

[2019-04-24 13:34] whedon opened #1410 "[REVIEW]: Stripy: A Python module for (constrained) triangulation in Cartesian coordinates and on a sphere"
**Submitting author:** @lmoresi (<a href="http://orcid.org/0000-0003-3685-174X">Louis Moresi</a>)
**Repository:** <a href="https://github.com/underworldcode/stripy" target ="_blank">https://github.com/underworldcode/stripy</a>
**Version:** 1.0.1
**Editor:** @VivianePons
**Reviewers:** @santisoler, @rrenka
**Archive:** <a href="https://doi.org/10.5281/zenodo.3243511" target="_blank">10.5281/zenodo.

[2019-04-24 13:34] whedon commented on #1324
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1410. Feel free to close this issue now!

[2019-04-24 13:34] whedon commented on #1410
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @santisoler it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-04-24 13:34] whedon commented on #1410
[code]

[2019-04-24 13:34] whedon commented on #1410
PDF failed to compile for issue #1410 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1410 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-24 13:48] santisoler commented on #1410
@whedon generate pdf from branch paper

[2019-04-24 13:49] whedon commented on #1410
[code]

[2019-04-24 13:49] whedon commented on #1410
PDF failed to compile for issue #1410 with the following error:

 sh: 1: cd: can't cd to tmp/1410
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1410 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2019-04-24 13:57] santisoler commented on #1410
@VivianePons seems like `whedon` is having some problems generating the PDF.
Is this related to the fact that the repository ulr is pointing to the `paper` branch instead of pointing to the repo itself (https://github.com/underworldcode/stripy/)?

[2019-04-24 14:06] cmsquared commented on #1370
The team has addressed the points outlined in the Issue raised above via a series of commits.  I am happy to recommend this article for publication.

[2019-04-24 14:19] santisoler commented on #1410
Hi @lmoresi and @brmather. I was assigned as reviewer for your submitted paper.
Let me read through your PDF, explore your `stripy` repo and experiment with your software.
I'll try to meet the two weeks deadline, but in case I get delayed I'll let you know so you don't get worried about the status of the review.

I'm still thinking my review strategy, but I'll probably will open issues on your rep

[2019-04-24 14:34] lpantano commented on #1381
@whedon assign @lpantano as editor

[2019-04-24 14:34] whedon commented on #1381
OK, the editor is @lpantano

[2019-04-24 14:35] lpantano commented on #1381
@whedon assign @vbarrera as reviewer

[2019-04-24 14:35] whedon commented on #1381
OK, the reviewer is @vbarrera

[2019-04-24 14:35] lpantano commented on #1381
@whedon check references

[2019-04-24 14:35] whedon commented on #1381
[code]

[2019-04-24 14:35] whedon commented on #1381
[code]

[2019-04-24 14:37] lpantano commented on #1381
@whedon start review

[2019-04-24 14:37] whedon opened #1411 "[REVIEW]: “Blaster” – a graphical user interface for common sequences analysis tools"
**Submitting author:** @snowformatics (<a href="http://orcid.org/0000-0003-0536-835X">Stefanie Lueck</a>)
**Repository:** <a href="https://github.com/snowformatics/BlasterQt" target ="_blank">https://github.com/snowformatics/BlasterQt</a>
**Version:** v.1.2.4
**Editor:** @lpantano
**Reviewer:** @vbarrera
**Archive:** <a href="https://doi.org/10.5281/zenodo.3576574" target="_blank">10.5281/zenodo.3

[2019-04-24 14:37] whedon commented on #1381
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1411. Feel free to close this issue now!

[2019-04-24 14:37] whedon commented on #1411
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vbarrera it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-04-24 14:37] whedon commented on #1411
[code]

[2019-04-24 14:38] #1381 closed

[2019-04-24 14:38] whedon commented on #1411
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01411/joss.01411/10.21105.joss.01411.pdf)

[2019-04-24 14:52] karthik commented on #1405
Sure I can.

[2019-04-24 15:04] whedon commented on #1405
OK, the editor is @karthik

[2019-04-24 15:07] katyhuff commented on #1401
Thank you for letting me know @ivergara .

[2019-04-24 15:32] lmoresi commented on #1410
Thanks - we’ll work with the way you prefer to review. issues sounds like the obvious strategy. We have a “paper” branch of the code to make sure that any developments we make during the review process do not cause problems for you. Any suggestions you make st this stage will be merged back when the process is done.

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au

[2019-04-24 16:25] alvarolopez commented on #1403
@danielskatz @arfon cool, thanks for the info.

[2019-04-24 19:13] tanselbaran commented on #1171
@arokem  Sorry for the delay. Yes, I have been looking into it further. I think this would be a useful package, but I currently have some concerns regarding the items that I didn't check off on the list. I am not familiar with the level of detail that is expected from the authors for the documentation and the example tests, but I couldn't really see any example usage or a simple test provided by t

[2019-04-24 20:29] azazel7 commented on #1357
A paragraph has been refactored to add the required information. The goal of OrpailleCC is to provide a consistent environment to study data stream algorithms for embedded systems. I will use this library for my own research as well.
@whedon generate pdf

[2019-04-24 21:51] IbrahimTanyalcin commented on #1407
@hrhotz, ty for the suggestions:

- merged your pull request
- added names to the examples
- added jsdelivr/npm link for downloading the script
- added a minified version from jsdelivr (~40kB)
- added 4 new citations, 2 tools that are similar (DOM text) to lexicon-mono-seq, and 2 that are canvas based (IGV and MSA Viewer)

[2019-04-24 22:14] choldgraf commented on #1408
Hey all - I took a pass through the repository and have a few comments and thoughts! I've opened issues for each, will take another pass as things get addressed etc!

I'll update this comment periodically as things change.

# Issues added to repository

## Blockers
- [ ] Installation instructions: https://github.com/rheiland/xml2jupyter/issues/1
- [ ] Improved context / purpose of project: https:/

[2019-04-25 01:30] karthik commented on #1405
@whedon assign @alexpghayes as reviewer

[2019-04-25 01:30] whedon commented on #1405
OK, the reviewer is @alexpghayes

[2019-04-25 01:30] karthik commented on #1405
@whedon start review

[2019-04-25 01:30] whedon opened #1412 "[REVIEW]: insight: Easy Access to Model Information for Various Model Objects"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/easystats/insight" target ="_blank">https://github.com/easystats/insight</a>
**Version:** 0.2.1
**Editor:** @karthik
**Reviewer:** @alexpghayes
**Archive:** <a href="https://doi.org/10.5281/zenodo.3256639" target="_blank">10.5281/zenodo.3256639</a>

#

[2019-04-25 01:30] whedon commented on #1405
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1412. Feel free to close this issue now!

[2019-04-25 01:30] whedon commented on #1412
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexpghayes it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-04-25 01:30] whedon commented on #1412
[code]

[2019-04-25 01:30] #1405 closed

[2019-04-25 01:31] whedon commented on #1412
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01412/joss.01412/10.21105.joss.01412.pdf)

[2019-04-25 01:35] karthik commented on #1412
Thanks again @alexpghayes! Be sure to unwatch the repo, and then work through the list.  You can build the pdf anytime with `@whedon generate pdf` as a comment here.

[2019-04-25 02:37] kbenoit commented on #1342
Sorry for the delay. I've now had time to examine the package and the paper in detail, and here are my comments.

### Overall

I really like the application and its simplicity. It looks great and is very functional. I had almost no problem installing it and testing it. I think this makes a nice addition to text analysis tools. However given the JOSS criteria I think it could be improved a in few w

[2019-04-25 04:52] lheagy commented on #1408
Many thanks for your review @choldgraf - these are constructive points.

@rheiland - please take a look through the comments above and keep us posted on your progress

[2019-04-25 05:12] zmeers commented on #1313
@cMaden, Sure, it's all done. The updated version of the R package is v.2.1.0 in the dev branch. The DOI for Zenodo is 10.5281/zenodo.2650709. Thanks!

[2019-04-25 09:07] trallard commented on #1403
Hi @danielskatz  I would be happy to take this review as the editor

[2019-04-25 09:08] trallard commented on #1394
I am sorry @Kevin-Mattheus-Moerman  but I have some other reviews down the line that I really need to get going so I am going to pass on this one

[2019-04-25 09:16] modenaxe commented on #1394
I can review it. Also, I have tried the alpha version of SCONE few months ago - just disclosing this in case it constitutes a problem -.

[2019-04-25 09:19] danielskatz commented on #1403
@whedon assign @trallard as editor

[2019-04-25 09:20] whedon commented on #1403
OK, the editor is @trallard

[2019-04-25 09:46] kgjerde commented on #1342
@kbenoit Thank you very much indeed for the review and proposals! I will start pondering them this weekend.

[2019-04-25 10:00] VivianePons commented on #1410
@whedon generate pdf from branch paper

[2019-04-25 10:00] whedon commented on #1410
[code]

[2019-04-25 10:00] #1324 closed

[2019-04-25 10:00] whedon commented on #1410
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01410/joss.01410/10.21105.joss.01410.pdf)

[2019-04-25 12:15] yxliang01 commented on #1349
@mviereck Sorry about the delay. I have read through the paper and have the following doubts:

1.  [Typo?] "dependency packaging" and "minimal requirements of system environment (i.e. only the container runtime)" are not properties of containers. "dependency packaging" is instead something can be achieved via containerization.
2. [Mirror] You mentioned that virtualization and containers are techni

[2019-04-25 12:21] yxliang01 commented on #1349
@mviereck I have just also suggested edits in the PR https://github.com/mviereck/x11docker/pull/149 . Some of the suggestions are related to the doubts mentioned in comment https://github.com/openjournals/joss-reviews/issues/1349#issuecomment-486647502 and also mirror changes.

**Note that the created PR has no way to block the review process of this submission and should be considered independent

[2019-04-25 12:25] yxliang01 commented on #1349
@arfon The generated PDF has incorrect reference in the footer. Maybe you would want to check the PDF compilation?

[2019-04-25 13:04] arfon commented on #1349
@whedon generate pdf

[2019-04-25 13:04] whedon commented on #1349
[code]

[2019-04-25 13:04] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-04-25 13:06] arfon commented on #1349
This is because of `paper.yml` file. The name is currently: `name: Martin Viereck, Germany`

[2019-04-25 13:47] yxliang01 commented on #1349
I see, @mviereck maybe you want to modify the name section to only contain your name without the country? (Assuming Germany is not your last name?)

[2019-04-25 15:11] katyhuff commented on #1401
@malmaud @ejolly @betatim Are any of you available to conduct this review? It would be great to have a 3rd reviewer. Thank you!

Title: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis
Summary: A Python program for running Markov Chain Monte Carlo (MCMC) simulations. Included in this package is the ability to use different Metropolis based sampling te

[2019-04-25 16:59] cMadan commented on #1313
@whedon set v.2.1.0 as version

[2019-04-25 16:59] whedon commented on #1313
OK. v.2.1.0 is the version.

[2019-04-25 17:00] nelsonroque commented on #1279
I am so sorry @labarba @aj2duncan @arfon I am just seeing this now. I had noticed the error pointed out post submission. I will be sure to update the examples in the next day. Again sorry for my delay.

[2019-04-25 17:00] cMadan commented on #1313
@whedon set 10.5281/zenodo.2650709 as archive

[2019-04-25 17:00] whedon commented on #1313
OK. <a href="https://doi.org/10.5281/zenodo.2650709" target="_blank">10.5281/zenodo.2650709</a> is the archive.

[2019-04-25 17:01] cMadan commented on #1313
@whedon accept

[2019-04-25 17:01] whedon commented on #1313
[code]

[2019-04-25 17:02] whedon commented on #1313
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/643

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/643, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-25 17:03] cMadan commented on #1313
@openjournals/joss-eics, I think we're all set to accept here!

[2019-04-25 18:19] santisoler commented on #1410
@lmoresi @brmather

Thanks for pointing this out. I've started reviewing some of the more basic aspects of the publication.
I'll open some issues on your repo so we can start talking about them.
I'll try to get into the other subjects next week, so I can continue opening issues if they are needed.
So far the paper is looking great and most of the issues I found are really minor and very easy to ta

[2019-04-25 18:26] edifice1989 commented on #1255
Hi @labarba <http://lorenabarba.com/>,

   Thanks for your inquiry! Have you heard anything back from @mgymrek
<https://github.com/mgymrek> ?

   It is almost a month since I addressed her comments.

  Thank you very much!!

On Sat, Apr 13, 2019 at 10:40 AM Lorena A. Barba <notifications@github.com>
wrote:

[2019-04-25 18:47] danielskatz commented on #1313
@zmeers - please add DOIs for references that have them, such as the journal papers.  See the [example files](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) if needed

[2019-04-25 18:47] danielskatz commented on #1313
@whedon check references

[2019-04-25 18:47] whedon commented on #1313
[code]

[2019-04-25 18:51] danielskatz commented on #1313
👋 @arfon - any idea what's going on?  Either check references isn't completing, or it's very slow. Also note that it didn't complete when accept was run.

[2019-04-25 18:57] labarba commented on #1255
@openjournals/joss-eic — This review needs your attention. It looks like we need @mgymrek to come back to it.

[2019-04-25 19:16] dmbates commented on #1404
It appears that the last release in the repository is 0.2.2, not 0.2.3

[2019-04-25 19:24] danielskatz commented on #1255
👋 @mgymrek - Please take a look at this review again, since there are changes based on your previous feedback.

[2019-04-25 19:40] osorensen commented on #1404
Thanks for pointing this out, @dmbates. I have now tagged the appropriate commit in the repository to version 0.2.3, which is the one currently on CRAN. Note that there have been some small commits to the development version since the release.

https://github.com/osorensen/hdme/releases

[2019-04-25 20:16] mgymrek commented on #1255
I apologize for the delay. Thank you for addressing the comments, this looks good. Can you now make a Zenodo archive and report the DOI in this thread?

[2019-04-25 20:16] mgymrek commented on #1256
@timClicks can you give us an update if you will be able to complete this review?

[2019-04-25 20:35] leouieda commented on #1384
Hi @banesullivan, just an update: I'm trying to find reviewers for your two submissions but I'm having a hard time tracking down people with the right balance of skills. I'm still waiting on a few replies but I'm hoping to get this started soon.

I'm also not too familiar with the manuscript building pipeline. Try moving the figure higher up in the document. You can ask Whedon to compile the PDF f

[2019-04-25 20:38] arfon commented on #1313
I'm guessing that this line might be causing failures: https://github.com/RobWHickman/ggparliament/blob/master/paper/paper.bib#L46 @zmeers - any chance you could take a look at cleaning up this entry?

[2019-04-25 22:19] banesullivan commented on #1384
Thank you for the update, @leouieda!

I'll experiment on another branch with the figure layouts - thanks for the tip!

[2019-04-25 22:37] JKutt commented on #1358
All seems good now! No issues second time around.

[2019-04-26 01:58] 1313e commented on #1229
@whedon generate pdf

[2019-04-26 01:58] whedon commented on #1229
[code]

[2019-04-26 01:59] whedon commented on #1229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)

[2019-04-26 02:08] 1313e commented on #1229
Also, if I am looking at the volume and issue number logic of previously accepted papers, I am assuming that this one is going to be `4(37)` (as it is probably not going to be accepted this month).
I am asking as I want to include the full citation to the JOSS paper in the AAS Journals submission, and I can pretty much guess what the entire bibtex entry is going to look like.

[2019-04-26 02:21] tacaswell commented on #1398
Yes, I can review.

[2019-04-26 04:19] edifice1989 commented on #1255
Here is the DOI from Zenodo: 10.5281/zenodo.2651751

Thanks!!

On Thu, Apr 25, 2019 at 1:16 PM Melissa Gymrek <notifications@github.com>
wrote:

[2019-04-26 07:55] danielskatz commented on #1406
👋 @arokem - ping...

[2019-04-26 07:56] danielskatz commented on #1383
👋 @arokem - ping...

[2019-04-26 07:56] danielskatz commented on #1357
@whedon generate pdf

[2019-04-26 07:56] whedon commented on #1357
[code]

[2019-04-26 07:57] whedon commented on #1357
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01357/joss.01357/10.21105.joss.01357.pdf)

[2019-04-26 07:58] danielskatz commented on #1357
@azazel7 - At some point, you will need to add DOIs to references that have them.  Once you have done so, you can regenerate the PDF by adding a new comment here that is ```@whedon generate pdf``` (not as part of another comment, but as a new comment)

[2019-04-26 08:01] danielskatz commented on #1357
@whedon check references

[2019-04-26 08:01] whedon commented on #1357
[code]

[2019-04-26 08:02] whedon commented on #1357
[code]

[2019-04-26 08:03] danielskatz commented on #1357
see the above for suggestions, but be aware, it is not always completely correct, so take it with a grain of salt...

[2019-04-26 08:03] danielskatz commented on #1357
👋 @gkthiruvathukal - would you be willing to edit this submission?

[2019-04-26 08:04] whedon opened #1413 "[PRE REVIEW]: Netwulf: Interactive visualization of networks in Python"
**Submitting author:** @ulfaslak (<a href="http://orcid.org/0000-0003-4704-3609">Ulf Aslak</a>)
**Repository:** <a href="https://github.com/benmaier/netwulf" target ="_blank">https://github.com/benmaier/netwulf</a>
**Version:** 0.0.14
**Editor:** @leouieda
**Reviewers:** @camillescott, @vc1492a

**Author instructions**

Thanks for submitting your paper to JOSS @ulfaslak. **Currently, there isn't a

[2019-04-26 08:04] whedon commented on #1413
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-26 08:04] whedon commented on #1413
[code]

[2019-04-26 08:04] whedon commented on #1413
PDF failed to compile for issue #1413 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1413/paper/paper.md): mapping values are not allowed in this context at line 2 column 15 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2019-04-26 08:13] danielskatz commented on #1413
👋 @ulfaslak - For JOSS, your submission must have a research application that is clearly defined in the README and paper.  Since I can't see your paper now, I'm just looking at the repo, but I don't see this there.  Please explain what the research application of this software is.

Also, please try to fix your paper, following [our example](https://joss.readthedocs.io/en/latest/submitting.html#exa

[2019-04-26 08:34] xuanxu commented on #1398
@tacaswell :sparkles: thanks! I'll assign you and start the review issue now

[2019-04-26 08:35] xuanxu commented on #1398
@whedon assign @tacaswell as reviewer

[2019-04-26 08:35] whedon commented on #1398
OK, the reviewer is @tacaswell

[2019-04-26 08:35] xuanxu commented on #1398
@whedon start review

[2019-04-26 08:35] whedon opened #1414 "[REVIEW]: anesthetic: nested sampling visualisation"
**Submitting author:** @williamjameshandley (<a href="http://orcid.org/0000-0002-5866-0445">Will Handley</a>)
**Repository:** <a href="https://github.com/williamjameshandley/anesthetic" target ="_blank">https://github.com/williamjameshandley/anesthetic</a>
**Version:** 1.0.2
**Editor:** @xuanxu
**Reviewer:** @tacaswell
**Archive:** <a href="https://doi.org/10.5281/zenodo.2762773" target="_blank">1

[2019-04-26 08:35] whedon commented on #1398
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1414. Feel free to close this issue now!

[2019-04-26 08:35] whedon commented on #1414
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tacaswell it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-04-26 08:35] whedon commented on #1414
[code]

[2019-04-26 08:36] whedon commented on #1414
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01414/joss.01414/10.21105.joss.01414.pdf)

[2019-04-26 08:36] xuanxu commented on #1398
@tacaswell, please head over to #1414 for the actual review

[2019-04-26 08:36] #1398 closed

[2019-04-26 08:43] ygrange commented on #1234
Thanks for the complete reply to all the points I made! I will not reply to each of them separately because I agree with all points you make there.

Nice to see that testing is not only mentioned in the README, but decent testing is part of the design to begin with.

Paper looks good!

The following comments al are rather minor.
* It may be sensible to link to comparison.rst from README.rst but th

[2019-04-26 08:44] ygrange commented on #1234
If you reply to the poins made, I'm fully ok with proceeding without you guys having to wait for another OK from my side BTW.

[2019-04-26 09:33] zmeers commented on #1313
Hey @arfon, I believe all of the issues have been fixed in the dev branch. I've added DOIs for all articles or entries that have DOI as well. Unfortunately, a few entries do not have DOIs. You will need to compile the paper from the dev branch though, I hope that's not a problem!

[2019-04-26 09:38] danielskatz commented on #1313
@whedon accept

[2019-04-26 09:38] whedon commented on #1313
[code]

[2019-04-26 09:39] danielskatz commented on #1313
@zmeers - is there a reason you can't put these changes in the master branch?

[2019-04-26 09:40] whedon commented on #1313
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/644

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/644, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-26 09:52] ulfaslak commented on #1413
@whedon generate pdf

[2019-04-26 09:52] whedon commented on #1413
[code]

[2019-04-26 09:53] whedon commented on #1413
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01413/joss.01413/10.21105.joss.01413.pdf)

[2019-04-26 09:54] ulfaslak commented on #1413
Hi @danielskatz.

I updated the README with a clear statement about research purpose (in the About section).

Works now.

[2019-04-26 10:08] whedon opened #1415 "[PRE REVIEW]: tcherry: Learning the structure of tcherry trees"
**Submitting author:** @katrinekirkeby (<a href="http://orcid.org/0000-0001-6065-1583">Katrine Kirkeby</a>)
**Repository:** <a href="https://github.com/nvihrs14/tcherry" target ="_blank">https://github.com/nvihrs14/tcherry</a>
**Version:** 0.1.1
**Editor:** @jasonclark
**Reviewers:** @kellieotto

**Author instructions**

Thanks for submitting your paper to JOSS @katrinekirkeby. **Currently, there

[2019-04-26 10:08] whedon commented on #1415
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-26 10:08] whedon commented on #1415
[code]

[2019-04-26 10:09] whedon commented on #1415
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01415/joss.01415/10.21105.joss.01415.pdf)

[2019-04-26 10:16] danielskatz commented on #1415
👋 @jasonclark - would you be able to edit this submission?

[2019-04-26 11:06] sambitdash commented on #1323
@danielskatz submitted the paper in the Github folder. Kindly, review the submission and provide your feedback.

[2019-04-26 11:19] justinshenk commented on #1389
@kmichael08 Thanks for the quick response and edits.

@katyhuff My review (https://github.com/openjournals/joss-reviews/issues/1389#issuecomment-484024162) is now complete.

[2019-04-26 11:38] arfon commented on #1313
☝️@whedon needs these changes to be in `master` before we can accept.

[2019-04-26 11:39] arfon commented on #1229
`4(37)` <- yes, if the paper is accepted in May then this will the be correct volume/issue.

[2019-04-26 12:17] danielskatz commented on #1323
You can also issue the command I'm going to give next, by putting the same text in a new comment, in case the paper isn't quite right in your opinion, or if anything fails in the build.

[2019-04-26 12:18] danielskatz commented on #1323
@whedon generate pdf

[2019-04-26 12:18] whedon commented on #1323
[code]

[2019-04-26 12:18] whedon commented on #1323
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01323/joss.01323/10.21105.joss.01323.pdf)

[2019-04-26 12:25] danielskatz commented on #1323
@sambitdash - note there are some issues with your reference that you can fix - otherwise, thanks, this looks fine to proceed, which we will do

[2019-04-26 12:29] danielskatz commented on #1323
👋 @yochannah - would you be willing to edit this submission?

[2019-04-26 12:31] danielskatz commented on #1413
👋 @leouieda - would you be willing to edit this submission?

[2019-04-26 12:52] danielskatz commented on #1415
@whendon generate pdf

[2019-04-26 12:54] danielskatz commented on #1415
@whedon generate pdf

[2019-04-26 12:54] whedon commented on #1415
[code]

[2019-04-26 12:54] whedon commented on #1415
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01415/joss.01415/10.21105.joss.01415.pdf)

[2019-04-26 13:00] santisoler commented on #1410
Hi @VivianePons. I have a small question regarding how versioning works on the review process.
The authors have submitted the `0.7.0` version of `stripy`, although on the review process they'll surely make some changes.
Is it possible that after acceptance the authors create a new release, `0.7.1` for instance, and make that the *final* version?
Thanks in advance!

[2019-04-26 13:26] gkthiruvathukal commented on #1357
@danielskatz Yes.

[2019-04-26 14:03] danielskatz commented on #1357
@whedon assign @gkthiruvathukal as editor

[2019-04-26 14:03] whedon commented on #1357
OK, the editor is @gkthiruvathukal

[2019-04-26 14:19] sambitdash commented on #1323
@whedon generate pdf

[2019-04-26 14:19] whedon commented on #1323
[code]

[2019-04-26 14:19] whedon commented on #1323
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01323/joss.01323/10.21105.joss.01323.pdf)

[2019-04-26 14:22] sambitdash commented on #1323
@whedon commands

[2019-04-26 14:22] whedon commented on #1323
Here are some things you can ask me to do:

[code]

[2019-04-26 14:25] sambitdash commented on #1323
@whedon generate pdf from branch debug

[2019-04-26 14:25] whedon commented on #1323
[code]

[2019-04-26 14:25] whedon commented on #1323
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01323/joss.01323/10.21105.joss.01323.pdf)

[2019-04-26 14:31] sambitdash commented on #1323
Looks like @@whendon is picking up the older files still. I did some modification to the files I am hopeful that should fix the issues as such.

[2019-04-26 14:59] gweissman commented on #1345
@gkthiruvathukal I have completed my review. Some of the check boxes I am unable to adequately assess. For example, I don't speak or read any of the languages in question so I can't make claims about functionality of the software.

- Not all of the references contained a DOI
- I did not see explicit community guidelines for participation
- I am unable to determine if there are automated tests in t

[2019-04-26 15:09] jkanche commented on #1407
@IbrahimTanyalcin - I created a pull request with a few minor edits and fixes to the paper. Couple of things

- version number of the release does not match the one in the paper
- I'd consider adding this to examples
   - https://github.com/dariober/ASCIIGenome
- renaming files in examples with specific names so that its easier to browse

[2019-04-26 15:29] azazel7 commented on #1357
@danielskatz Ok.

[2019-04-26 15:29] azazel7 commented on #1357
@whedon check references

[2019-04-26 15:29] whedon commented on #1357
[code]

[2019-04-26 15:29] whedon commented on #1357
[code]

[2019-04-26 15:30] azazel7 commented on #1357
@whedon generate pdf

[2019-04-26 15:30] whedon commented on #1357
[code]

[2019-04-26 15:31] whedon commented on #1357
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01357/joss.01357/10.21105.joss.01357.pdf)

[2019-04-26 15:36] azazel7 commented on #1357
@danielskatz I found most of the DOIs of the references in the paper, except for two of them.

[2019-04-26 16:32] andreysmelter commented on #1388
Hi @brainstorm @vsoch
I just have a quick question if I have a minor revisions/comments where do I write them? Trying to finalize review over this weekend.

Thank you.

[2019-04-26 16:35] vsoch commented on #1388
hey @andreysmelter this is great news!

For specific questions or edits that need to be made, what I've typically done is open up an issue for each. It might seem like overkill, but it's easier for both author and reviewer to keep track of what has been fixed, and what not. What I would likely do is reference each issue in one or more PRs to address them.

[2019-04-26 16:45] andreysmelter commented on #1388
Sounds great, @vsoch

Thank you!

[2019-04-26 17:18] sambitdash commented on #1323
@whedon generate pdf

[2019-04-26 17:18] whedon commented on #1323
[code]

[2019-04-26 17:18] whedon commented on #1323
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01323/joss.01323/10.21105.joss.01323.pdf)

[2019-04-26 17:21] sambitdash commented on #1323
Looks like @@whendon is picking up the older files still. I did some modification to the files I am hopeful that should fix the issues as such.

[2019-04-26 20:05] chris-prener commented on #1221
hi @lheagy - I corrected a few additional typos and added a citation for the `microbenchmark` package. The most recent paper has been pushed to the repo and released. The zendo repository has been updated with a `.zenodo.json` file to make sure it is formatted the way you described above.

[2019-04-26 20:05] chris-prener commented on #1221
@whedon generate pdf

[2019-04-26 20:05] whedon commented on #1221
[code]

[2019-04-26 20:06] whedon commented on #1221
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01221/joss.01221/10.21105.joss.01221.pdf)

[2019-04-26 20:07] chris-prener commented on #1221
@whedon check references

[2019-04-26 20:07] whedon commented on #1221
[code]

[2019-04-26 20:08] whedon commented on #1221
[code]

[2019-04-26 20:08] chris-prener commented on #1221
@lheagy - everything looks good. Is there a way to force the sample `R` code onto the next page so it isn't broken up by the page break?

[2019-04-26 20:25] IbrahimTanyalcin commented on #1407
@jkanche, ty for the suggestions
- merged your PR
- add a new reference for ascii genome
- changed the example names in the repo

[2019-04-26 21:44] zmeers commented on #1313
@arfon, @danielskatz, it's now in the master branch! Sorry for any confusion.

[2019-04-26 22:11] sambitdash commented on #1323
@whedon generate pdf

[2019-04-26 22:11] whedon commented on #1323
[code]

[2019-04-26 22:12] whedon commented on #1323
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01323/joss.01323/10.21105.joss.01323.pdf)

[2019-04-26 22:14] shaunpwilkinson commented on #1350
Hi @labarba very sorry about the delay on this, I'm back now and working on this review, will have it done either this weekend or very early next week. Thanks for your patience, and apologies again - S

[2019-04-26 22:20] sambitdash commented on #1323
@whedon  generate pdf

[2019-04-26 22:23] sambitdash commented on #1323
@whedon generate pdf

[2019-04-26 22:23] whedon commented on #1323
[code]

[2019-04-26 22:24] whedon commented on #1323
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01323/joss.01323/10.21105.joss.01323.pdf)

[2019-04-26 22:25] sambitdash commented on #1323
The reference issue is now addressed.

[2019-04-26 22:52] karthik commented on #1350
Thank you @shaunpwilkinson!

[2019-04-27 06:28] danielskatz commented on #1313
@whedon accept

[2019-04-27 06:28] whedon commented on #1313
[code]

[2019-04-27 06:30] whedon commented on #1313
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/646

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/646, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-27 06:34] danielskatz commented on #1313
Thanks to @andrewheiss for reviewing and @cMadan for editing!

[2019-04-27 06:34] danielskatz commented on #1313
@whedon accept deposit=true

[2019-04-27 06:34] whedon commented on #1313
[code]

[2019-04-27 06:35] whedon commented on #1313
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/647
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01313](https://doi.org/10.21105/joss.01313)
2. If everything looks go

[2019-04-27 06:36] danielskatz commented on #1357
Great - for the couple of the conference proceedings where the cases are incorrect, you might add another {} around the text where you want to preserve the case in the .bib file.

[2019-04-27 06:37] #1313 closed

[2019-04-27 06:37] whedon commented on #1313
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01313/status.svg)](https://doi.org/10.21105/joss.01313)

**We need your help!**

Journal of Open Source Softwar

[2019-04-27 09:13] vsoch commented on #1343
Hey guys are we ready to move forward?

[2019-04-27 11:32] iljah commented on #1400
Documentation (README.md as far as I can tell) could use a bit longer statement of need and is missing installation instructions and community guidelines.

[2019-04-27 11:40] iljah commented on #1400
According to my instructions there should be API documentation but I don't see any in the repository. Where can I learn e.g. how `ppiclc_solve_InitBoxFilter` works?

[2019-04-27 11:50] iljah commented on #1400
Readme also doesn't say anything about testing the library.

[2019-04-27 12:08] aquilesC commented on #1352
I have finished reviewing Prysm. It is a very nice package and I think it fulfills all the criteria to be published in JOSS. I have two small suggestions to improve the repository for the future:

- Contributing guidelines could be expanded. Perhaps adding an extra file in the docs, like [Pandas](https://pandas-docs.github.io/pandas-docs-travis/development/contributing.html) or [Numpy](https://www

[2019-04-27 12:10] iljah commented on #1400
Added some installation issues to library repo:
 - https://github.com/dpzwick/ppiclF/issues/25
 - https://github.com/dpzwick/ppiclF/issues/26
 - https://github.com/dpzwick/ppiclF/issues/27

[2019-04-27 12:13] iljah commented on #1400
One more: https://github.com/dpzwick/ppiclF/issues/28

[2019-04-27 12:44] Kevin-Mattheus-Moerman commented on #1394
@whedon assign @modenaxe as reviewer

[2019-04-27 12:44] whedon commented on #1394
OK, the reviewer is @modenaxe

[2019-04-27 12:45] Kevin-Mattheus-Moerman commented on #1394
@whedon add @demotu as reviewer

[2019-04-27 12:45] whedon commented on #1394
OK, @demotu is now a reviewer

[2019-04-27 12:46] Kevin-Mattheus-Moerman commented on #1394
@tgeijten let me know if you'd like to recommend and reviewers

[2019-04-27 19:35] dpzwick commented on #1400
Thank you for the feedback @iljah. I think issues dpzwick/ppiclF#25, dpzwick/ppiclF#26, and dpzwick/ppiclF#28 are a simple misunderstanding of not being able to see the documentation website.

While the link to the website was in the compiled JOSS pdf, I made it more clear in the README.md file along with your previous suggestions to that file (see [this commit](https://github.com/dpzwick/ppiclF/c

[2019-04-27 19:39] dpzwick commented on #1400
Also, to address your question above about where to find information about items such as: ppiclc_solve_InitBoxFilter, there is extensive information on the documentation website [here](https://dpzwick.github.io/ppiclF-doc/user/external.html).

[2019-04-28 08:49] mviereck commented on #1349
Of course, done in https://github.com/mviereck/x11docker/commit/b109cc0bd0306301941589598accc404671d9e54

I've also changed `affiliations: None` to `affiliations: No affiliations`. I believe that looks better in the title.

Setups with VNC or HTML5 are terribly slow in general, I don't think I need to prove that. However, you are right that an xpra setup with shared unix sockets is significantly b

[2019-04-28 08:50] mviereck commented on #1349
@whedon generate pdf

[2019-04-28 08:50] whedon commented on #1349
[code]

[2019-04-28 08:50] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-04-28 09:34] yxliang01 commented on #1349
@mviereck Indeed, for comparing with HTML5, intuitively, it would be slower. That can be treated as "common sense" I believe. However, for the case of VNC, I am unsure. The best way to prove this would be having a benchmark result if feasible(I guess not too straightforward and time-consuming?). If infeasible and you are willing, you can also remove this performance claim?

[2019-04-28 09:56] shaunpwilkinson commented on #1350
This is a very helpful package that fills a critical gap in the R workflow for phylogenetic analysis. The accompanying paper is clear and well written, and an example is included demonstrating the use of the package to improve the resolution of a phylogeny by factoring in column-wise alignment uncertainty.
The tutorial needs some refining and additional notes to help users through the process with

[2019-04-28 10:14] mviereck commented on #1349
Ok, I have just dropped the performance claim. It is not essential overall.
The next pdf generation won't contain the sentence.

[2019-04-28 12:23] arfon commented on #1349
👍 this is OK.

[2019-04-28 12:51] yxliang01 commented on #1349
@mviereck Alright then. Please let me know when you are done amending.

[2019-04-28 13:29] zingale commented on #1399
added an issue about installing: https://github.com/abatten/fruitbat/issues/27

[2019-04-28 13:30] mviereck commented on #1349
@whedon generate pdf

[2019-04-28 13:30] whedon commented on #1349
[code]

[2019-04-28 13:30] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-04-28 13:48] mviereck commented on #1349
Ok, I am ready. :-)
In `paper.md` I just fixed one typo (`Container` to `container` in a subtitle.)

@arfon:
I would like to change the submitted x11docker version from `5.5.1` to `5.6.0` (upcoming release, can be released right now). Can that be done?

Changes important for this review have been done in `README.md` and in the output of `x11docker --help` (and of course in `paper.md` and `paper.bi

[2019-04-28 13:57] zingale commented on #1399
adding an issue about reproducing the simple example: https://github.com/abatten/fruitbat/issues/29

[2019-04-28 16:52] whedon opened #1416 "[PRE REVIEW]: qtl2pleio: Testing pleiotropy vs. separate QTL in multiparental populations"
**Submitting author:** @fboehm (<a href="http://orcid.org/0000-0002-1644-5931">Frederick Boehm</a>)
**Repository:** <a href="https://github.com/fboehm/qtl2pleio" target ="_blank">https://github.com/fboehm/qtl2pleio</a>
**Version:** v0.1.3
**Editor:** @csoneson
**Reviewers:** @vjcitn, @rcorty

**Author instructions**

Thanks for submitting your paper to JOSS @fboehm. **Currently, there isn't an JOS

[2019-04-28 16:52] whedon commented on #1416
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-28 16:52] whedon commented on #1416
[code]

[2019-04-28 16:53] whedon commented on #1416
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01416/joss.01416/10.21105.joss.01416.pdf)

[2019-04-28 16:56] danielskatz commented on #1416
👋 bioinformatics editing team (@pjotrp @mgymrek @brainstorm @lpantano) - can one of you take on this submission as editor?

[2019-04-28 18:48] karthik commented on #1350
Thanks @shaunpwilkinson!
@FranzKrah Can you please make these fixes and respond here? I opened a couple of issues on your repo.

[2019-04-28 21:32] kyleniemeyer commented on #1370
Thanks @cmsquared!

@RemiLehe @MatthewTurk just wanted to check in on the status of your reviews

[2019-04-28 23:35] danielskatz commented on #1368
👋 @EricSchles - any update?

[2019-04-29 01:01] ejolly commented on #1401
@katyhuff This package looks really great and I would be happy to help review however this week and for the next 3 weeks I'll be traveling so I likely won't be able to assist reviewing for about a month. If that timeline works I'm happy to conduct the review then. Otherwise, I'd suggest finding someone else who can review on a shorter timeline. Apologies!

[2019-04-29 01:27] EricSchles commented on #1368
Sorry for the delay, i’m working on it.  I tend to write pretty slow
unfortunately.

Thanks for checking in!

On Sun, Apr 28, 2019 at 7:35 PM Daniel S. Katz <notifications@github.com>
wrote:

[2019-04-29 05:45] FranzKrah commented on #1350
Hi Karthik,

I copy-pasted Shauns comments below and answered to each. We addressed all the comments, which improved the package! Thanks!

Cheers,
Franz

This is a very helpful package that fills a critical gap in the R workflow for phylogenetic analysis. The accompanying paper is clear and well written, and an example is included demonstrating the use of the package to improve the resolution of a

[2019-04-29 07:26] tgeijten commented on #1394
Friedl de Groote, Seungmoon Song. Perhaps @chrisdembia knows anyone else?

[2019-04-29 07:32] iljah commented on #1400
Documentation on external website should be ok now that there's also a link to it in readme but it's also missing a statement of need or at least the target audience.

About performance: is there are particular reason why ghost particle send doesn't seem to scale past 1000 ranks, or at all? Also how many particles / s does ppiclF process on one core?

A link to vulcan page at LLNL in performance s

[2019-04-29 07:54] prasunanand commented on #1363
@marouenbg  I am unable to download
Dependencies
IBM CPLEX v12.6 (free for academics)

[2019-04-29 08:44] katrinekirkeby commented on #1415
Am I allowed to change the Version, if i found some small errors in the code?

[2019-04-29 09:32] xuanxu commented on #1352
Thanks @aquilesC!

[2019-04-29 09:32] xuanxu commented on #1352
@whedon generate pdf

[2019-04-29 09:32] whedon commented on #1352
[code]

[2019-04-29 09:33] whedon commented on #1352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01352/joss.01352/10.21105.joss.01352.pdf)

[2019-04-29 09:45] hrhotz commented on #1407
@IbrahimTanyalcin - I have been looking at the "clustalW.html" example and I have a few questions/comments:

- what is the "aa" color scheme based on?
- would it make sense to offer more than just one color set for amino acids?
- how do you deal with sequences containing Selenocysteine? I have modified your example by replacing an "A" with and "U" and the complete sequence is no longer displayed,

[2019-04-29 09:53] xuanxu commented on #1352
@whedon check references

[2019-04-29 09:53] whedon commented on #1352
[code]

[2019-04-29 09:53] whedon commented on #1352
[code]

[2019-04-29 09:55] arfon commented on #1349
@whedon set v5.6.0 as version

[2019-04-29 09:55] whedon commented on #1349
OK. v5.6.0 is the version.

[2019-04-29 09:56] arfon commented on #1349
@mviereck - are you finished with your updates based on feedback from the reviews here?

[2019-04-29 10:01] mviereck commented on #1349
Yes.
I would only need to set the version number and publish release `v5.6.0`, can be done within minutes.

[2019-04-29 10:03] xuanxu commented on #1352
@brandondube I just found a minor typo in the article proof: `propgations` -> `propagations`. Other than that everything looks good for publication.

Once you fix the typo, please create an archive in zenodo/figshare/other and report the DOI here (if needed edit the deposit metadata so it matches the title and author name of [the JOSS paper](https://github.com/openjournals/joss-papers/blob/joss.01

[2019-04-29 10:23] arfon commented on #1349
@whedon generate pdf

[2019-04-29 10:23] whedon commented on #1349
[code]

[2019-04-29 10:23] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-04-29 10:24] arfon commented on #1349
OK great!

@yxliang01, @sgyzetrov, @1138-4EB - could you confirm you're happy with the updates from @mviereck? If so, I think we're ready to accept this submission into JOSS.

[2019-04-29 11:05] dpzwick commented on #1400
Thank you for the feedback. I updated the readme to include a target audience in [this commit](https://github.com/dpzwick/ppiclF/commit/db29738bc62cc4ae659a27a4ed240f668a736f97) and [this commit](https://github.com/dpzwick/ppiclF/commit/0f154f3cd1c2b5ee8f28e0cde1ad4f45b3921b8a).

Regarding the ghost particles, the reason for this is the underlying all-to-all communication. At best all-to-all commu

[2019-04-29 11:18] sgyzetrov commented on #1349
The new release looks good, for now I do not have newly raised issues.

[2019-04-29 12:20] hfriel69 commented on #1375
Dear Kathryn, does the PDF compile now? It should work now. Or does the make command not work. In any case please send error list - then I know better....

[2019-04-29 12:30] imallona commented on #1407
Hi @IbrahimTanyalcin,

Thanks for the resource. I have some comments/questions regarding the rendered PDF version of the paper, and the resource and its documentation.

I noticed the paper update has fixed some typos already (dna -> DNA), but I still find some in citations. Namely,
- ES6 citation is currently is listed as (International, 2018) instead of (Ecma International, 2018).
- The reference

[2019-04-29 12:45] danielskatz commented on #1415
of course, but you can also wait until the end of the review process in case additional changes are needed based on the reviews

[2019-04-29 12:52] danielskatz commented on #1413
👋 @leouieda - ping...

[2019-04-29 12:54] danielskatz commented on #1323
👋 @yochannah - ping...

[2019-04-29 12:55] iljah commented on #1400
Thanks, I was asking about solved particles per second per core not number of particles.

What fraction of CPU time was used by the fluid solver and was that included in timings provided in performance section? I can imagine with only 300 particles per process the fluid solution would take much more time than particles which would improve particle scaling since time spent transferring particle dat

[2019-04-29 12:55] danielskatz commented on #1261
@FLCN17 - Given the lack of responses over the last ~2 months, I will now remove this submission. You can resubmit as a new submission when you are ready.

[2019-04-29 12:56] #1261 closed

[2019-04-29 12:57] rljacobson commented on #1204
@mfroeling I have had my own set of technical issues on top of both professional and family distractions. Both of my machines suffered incapacitation for different reasons. @cMadan, I hate to hold up the review of a submission for what is arguably an unreasonable amount of time. If @mfroeling is still willing to wait for my review, I am very happy to do it. On the other hand, he has been superlati

[2019-04-29 13:22] katyhuff commented on #1375
@whedon generate pdf

[2019-04-29 13:23] whedon commented on #1375
[code]

[2019-04-29 13:23] whedon commented on #1375
PDF failed to compile for issue #1375 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1375/paper.md): found character that cannot start any token while scanning for the next token at line 7 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325

[2019-04-29 13:24] katyhuff commented on #1401
Ok -- it looks like folks are pretty busy -- we'll move forward with two reviewers on this one. Thanks for letting me know, @betatim @ejolly !

[2019-04-29 13:25] katyhuff commented on #1401
@whedon start review

[2019-04-29 13:25] whedon opened #1417 "[REVIEW]: pymcmcstat: A Python Package for Bayesian Inference Using Delayed Rejection Adaptive Metropolis"
**Submitting author:** @prmiles (<a href="http://orcid.org/0000-0002-7501-5114">Paul Miles</a>)
**Repository:** <a href="https://github.com/prmiles/pymcmcstat" target ="_blank">https://github.com/prmiles/pymcmcstat</a>
**Version:** v1.7.1
**Editor:** @katyhuff
**Reviewers:** @djmitche, @katyhuff
**Archive:** <a href="https://doi.org/10.5281/zenodo.2660145" target="_blank">10.5281/zenodo.2660145</a

[2019-04-29 13:25] whedon commented on #1401
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1417. Feel free to close this issue now!

[2019-04-29 13:25] whedon commented on #1417
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @djmitche, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-04-29 13:25] whedon commented on #1417
[code]

[2019-04-29 13:25] whedon commented on #1417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01417/joss.01417/10.21105.joss.01417.pdf)

[2019-04-29 13:26] katyhuff commented on #1401
Ok @prmiles @djmitche @jarvist , let's move to #1417 and start the review over there!

[2019-04-29 13:26] #1401 closed

[2019-04-29 13:37] dpzwick commented on #1400
In the scaling cases the fluid was not timed. Since Nek5000 was used, the times for the fluid solver are highly dependent on problem set setup since the fluid solver will iterate on a pressure poisson system. For this reason, the times on the scaling plots are only for ppiclF and not for any part of the fluid solver that it was coupled to.

[2019-04-29 13:41] marouenbg commented on #1363
@whedon generate pdf

[2019-04-29 13:41] whedon commented on #1363
[code]

[2019-04-29 13:42] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-04-29 13:44] marouenbg commented on #1363
@prasunanand Thanks for the feedback. I fixed the missing doi in the summary. Which error did you get when you could not download CPLEX?
Otherwise, you can skip the installation part and check an installed version at code ocean https://codeocean.com/capsule/4395814/tree

[2019-04-29 13:56] hfriel69 commented on #1375
Dear all,
this looks ok for me now.
Best,
Henrich

Am 29.04.2019 um 15:23 schrieb whedon <notifications@github.com<mailto:notifications@github.com>>:

PDF failed to compile for issue #1375<https://github.com/openjournals/joss-reviews/issues/1375> with the following error:

/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in parse': (tmp/1375/paper.md): found character that cannot start any token

[2019-04-29 13:59] hfriel69 commented on #1375
Looks ok for me now

[2019-04-29 14:12] katyhuff commented on #1375
@whedon generate pdf

[2019-04-29 14:12] whedon commented on #1375
[code]

[2019-04-29 14:12] whedon commented on #1375
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01375/joss.01375/10.21105.joss.01375.pdf)

[2019-04-29 14:13] VivianePons commented on #1410
Yes, don't worry about the version. When the paper is approved, we update the version before the final publication

[2019-04-29 14:32] azazel7 commented on #1357
@whedon generate pdf

[2019-04-29 14:32] whedon commented on #1357
[code]

[2019-04-29 14:33] whedon commented on #1357
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01357/joss.01357/10.21105.joss.01357.pdf)

[2019-04-29 14:36] katyhuff commented on #1375
Thank you @hfriel69 - it is indeed building a pdf now! A few comments, before we start assigning reviewers.

- I'm going to edit this issue to incorporate your github username (@hfriel69) rather than your bitbucket one.
- The "name" parameter in the paper.md file typically contains the author's actual name, rather than their username.  (in your case, "Henrich Frielinghaus" is the appropriate entry

[2019-04-29 14:36] VivianePons commented on #1410
I have a question for @arfon : I have contacted Robert Renka to be a second reviewer on this paper (as suggested by the author). He would be willing to do it but he is also the author of the original Fortran code on which the software is based. He is wondering if this is a case of conflict of interest.

I believe it's ok. I actually think that his opinion on the paper would be very valuable. Besid

[2019-04-29 14:54] hfriel69 commented on #1375
My suggestions for Referees:
Stefano Cozzini, https://dssc.units.it/people/stefano-cozzini, cozzini@iom.cnr.it
Joachim Wuttke, Sci Computing Group at MLZ, Garching, j.wuttke@fz-juelich.de
Piotr Zolnierczuk, Instrument responsible ORNL, USA, p.zolnierczuk@fz-juelich.de
Andrew Jackson, ESS Lund, Sweden, andrew.jackson@esss.se

[2019-04-29 14:59] azazel7 commented on #1357
@whedon generate pdf

[2019-04-29 14:59] whedon commented on #1357
[code]

[2019-04-29 15:00] whedon commented on #1357
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01357/joss.01357/10.21105.joss.01357.pdf)

[2019-04-29 15:04] katyhuff commented on #1375
@hfriel69 Thank you for these suggestions. As soon as you are able to make the preliminary changes I suggested [above](https://github.com/openjournals/joss-reviews/issues/1375#issuecomment-487605023), I will assign reviewers.

[2019-04-29 15:11] azazel7 commented on #1357
I think it's fixed.

[2019-04-29 15:33] arokem commented on #1383
@whedon assign arokem as editor

[2019-04-29 15:33] whedon commented on #1383
OK, the editor is arokem

[2019-04-29 15:33] arokem commented on #1406
@whedon assign arokem as editor

[2019-04-29 15:33] whedon commented on #1406
OK, the editor is arokem

[2019-04-29 15:34] arokem commented on #1406
@gvegayon : do you have any suggestion for potential reviewers?

[2019-04-29 15:35] arokem commented on #1383
@sanskriti-s : do you have any suggestions for reviewers?

[2019-04-29 15:46] gvegayon commented on #1406
:wave: @arokem and @danielskatz ! I do have a couple in mind. Will check with my coauthor (@pmarjora) and get back to you today/tomorrow. Thanks!

[2019-04-29 15:48] 1138-4EB commented on #1349
LGTM.

[2019-04-29 16:06] hfriel69 commented on #1375
Intro added for non specialists

[2019-04-29 16:07] hfriel69 commented on #1375
Dear Kathy,
I added an intro for non-specialists.
Best,
Henrich

Am 29.04.2019 um 17:04 schrieb Katy Huff <notifications@github.com<mailto:notifications@github.com>>:

@hfriel69<https://github.com/hfriel69> Thank you for these suggestions. As soon as you are able to make the preliminary changes I suggested above<https://github.com/openjournals/joss-reviews/issues/1375#issuecomment-487605023>, I wi

[2019-04-29 16:11] katyhuff commented on #1375
@whedon generate pdf

[2019-04-29 16:11] whedon commented on #1375
[code]

[2019-04-29 16:11] whedon commented on #1375
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01375/joss.01375/10.21105.joss.01375.pdf)

[2019-04-29 16:15] katyhuff commented on #1375
@hfriel69 : I think you may have misunderstood my comment about the name field.

The "name" parameter in the paper.md file typically contains the author's actual name, rather than their username. (in your case, "Henrich Frielinghaus" is the appropriate entry.) Would you mind please editing the paper to use your name?

[2019-04-29 16:37] grantjenks commented on #1330
@jasonclark let me know if I can help close this out.

[2019-04-29 17:19] edifice1989 commented on #1255
Hi @mgymrek <https://github.com/mgymrek> Does the Zenodo archive and DOI
look good? Is there anything else I need to do? thank you very much!

On Thu, Apr 25, 2019 at 9:18 PM Mingze He <edifice1989@gmail.com> wrote:

[2019-04-29 17:33] karthik commented on #1350
@whedon check references

[2019-04-29 17:33] whedon commented on #1350
[code]

[2019-04-29 17:33] whedon commented on #1350
[code]

[2019-04-29 17:33] karthik commented on #1350
@whedon generate pdf

[2019-04-29 17:33] whedon commented on #1350
[code]

[2019-04-29 17:34] whedon commented on #1350
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01350/joss.01350/10.21105.joss.01350.pdf)

[2019-04-29 17:36] karthik commented on #1350
@FranzKrah The captions are there now (after the conclusions).

[2019-04-29 17:45] danielskatz commented on #1323
👋 @alexhanna - would you be willing to edit this submission?

[2019-04-29 17:52] FranzKrah commented on #1350
@whedon generate pdf

[2019-04-29 17:52] whedon commented on #1350
[code]

[2019-04-29 17:53] whedon commented on #1350
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01350/joss.01350/10.21105.joss.01350.pdf)

[2019-04-29 17:59] karthik commented on #1350
Everything looks good to me. @shaunpwilkinson Did you skip checking off on the installation instructions list item for a good reason? If not please check that off and I can proceed to acceptance. 🙏

[2019-04-29 18:22] kyleniemeyer commented on #1255
@whedon set  10.5281/zenodo.2651751 as archive

[2019-04-29 18:22] whedon commented on #1255
OK. <a href="https://doi.org/10.5281/zenodo.2651751" target="_blank">10.5281/zenodo.2651751</a> is the archive.

[2019-04-29 18:22] kyleniemeyer commented on #1255
@whedon generate pdf

[2019-04-29 18:22] whedon commented on #1255
[code]

[2019-04-29 18:23] whedon commented on #1255
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01255/joss.01255/10.21105.joss.01255.pdf)

[2019-04-29 18:24] arfon commented on #1410
👍 this sounds OK to me. Thanks for checking.

[2019-04-29 18:25] kyleniemeyer commented on #1255
@whedon check references

[2019-04-29 18:26] whedon commented on #1255
[code]

[2019-04-29 18:26] whedon commented on #1255
[code]

[2019-04-29 18:57] yxliang01 commented on #1349
This paper looks good to me for acceptance.

This comment is valid for mviereck/x11docker@56de629 This is however invalid for new updates on the paper.

[2019-04-29 19:17] sanskriti-s commented on #1383
@desilinguist Would you be open to reviewing?

[2019-04-29 19:26] shaunpwilkinson commented on #1350
@karthik done

[2019-04-29 19:44] studywolf commented on #1225
i will have comments / gone through the code by wednesday night

[2019-04-29 19:54] arokem commented on #1383
Let me see if we can find someone other than me.

@annoviko: would you be willing to review this JOSS submission?

[2019-04-29 19:56] karthik commented on #1350
@whedon accept

[2019-04-29 19:56] whedon commented on #1350
No archive DOI set. Exiting...

[2019-04-29 19:57] karthik commented on #1350
Oops. @FranzKrah Can you please archive the package on Zenodo and post a DOI here?

[2019-04-29 19:57] arokem commented on #1171
@tanselbaran : thank you for your comments. These are all well within the scope of this review and should be addressed in a revision.

[2019-04-29 20:10] FranzKrah commented on #1350
Sorry, wasn't aware of that...

10.5281/zenodo.2653906

[2019-04-29 20:12] RemiLehe commented on #1370
Thanks for the reminder! I'll try to send my review comments today.

[2019-04-29 20:26] hfriel69 commented on #1375
Name is correct now. Other smaller changes added. Sorry: I'm completely new to the github world, and especially the convention of md files is a little confusing.

[2019-04-29 21:22] diyadas commented on #1321
The README still directs users to install from CRAN, which I gather has not been updated. Installation proceeds with `devtools::install_github` - please update the README.

[2019-04-29 21:33] katrinekirkeby commented on #1415
Okay, thanks for the quick response

[2019-04-29 22:35] karthik commented on #1350
@whedon set 10.5281/zenodo.2653906 as archive

[2019-04-29 22:35] whedon commented on #1350
OK. <a href="https://doi.org/10.5281/zenodo.2653906" target="_blank">10.5281/zenodo.2653906</a> is the archive.

[2019-04-29 22:45] karthik commented on #1350
@FranzKrah Almost there. Can you edit the metadata on Zenodo to reflect you as the author (rather than just your GitHub handle)?

[2019-04-29 22:49] brandondube commented on #1352
@xuanxu Thanks for the catch!  I fixed the typo in the paper.  For Zenodo/etc, do I upload prysm@v0.15.1, 0.15.1 patched with the paper typo fix, or latest?  And is the convention to zip up the entire contents of the root directory, less .git?  Or just the minimum artifacts for the software to install?

[2019-04-29 23:04] RemiLehe commented on #1370
I have completed the review ; here are a few comments regarding the checklist itself:

- Regarding possible perceived COI: As mentioned off-line to @kyleniemeyer, I am currently working and collaborating with the AMReX team for the [WarpX project](https://github.com/ECP-WarpX/WarpX.git). I am not developing the AMReX source code, though.

- Regarding the license: AMReX uses a modified 3-clause BSD

[2019-04-29 23:37] arsilva87 commented on #1321
@diyadas README file updated.

[2019-04-30 02:12] leouieda commented on #1413
@danielskatz sorry for the delay. I'd be happy to edit this submission :+1:

[2019-04-30 02:23] leouieda commented on #1342
Thanks for the comments @kbenoit :+1:

@kgjerde please make sure to link back to the review issue in any issues or PRs opened in the software repo. Let us know when you have addressed the comments or if you want any clarification or further input.

[2019-04-30 02:32] leouieda commented on #1315
@lmcinnes thank you for your feedback!

 @sauln both reviews are very positive and there only a few minor things that need to be implemented. Please let us know when you've had time to implement the suggestions of both reviewers. To make it easier to track, here is a checklist (feel free to tick things off as you go):

- [ ] More contextual information for the examples
- [ ] Add missing DOIs
- [ ]

[2019-04-30 04:20] FranzKrah commented on #1350
@karthik I am not sure how to do this. I tried changing the .zenodo.json file but got an error...

[2019-04-30 04:34] gvegayon commented on #1406
Hey, we think @pboesu and @fabian-s would be great reviewers :)

[2019-04-30 05:12] FranzKrah commented on #1350
@karthik Ok. My name is now changed in the metadata in Zenodo. I hope is what you meant...

[2019-04-30 05:55] karthik commented on #1350
@FranzKrah One more change (i.e. the title). It currently has your GitHub handle in the software title too. Can you fix that as well?  Current citation:

[code]

Otherwise the citation for the software archive will also have your Github handle rather than just the name of your software. See a [correct example](https://zenodo.org/record/2650709)

[2019-04-30 06:17] FranzKrah commented on #1350
@karthik I changed the title but I cannot get rid of "FranzKrah/rGUIDANCE: ".
I tried already to include a .zenodo.json file in the root of my GitHub repo but this creates errors in Zenodo...

[2019-04-30 06:44] iljah commented on #1400
So there was no ppiclF communication going on while fluid solver was running?

In any case I think all checklist items have been addressed so @jedbrown to me this looks good to go. Thanks!

[2019-04-30 08:19] IbrahimTanyalcin commented on #1407
@hrhotz  Thank you for the well raised comments, let me go over some of these:

- the "aa" (amino acid) color scheme is from a thread I found here: http://ugene.net/forum/YaBB.pl?num=1337064665    not perfect but made some sense at the time.
- You can add any custom color scheme, using the [`instance.registerType`](https://github.com/IbrahimTanyalcin/lexicon-mono-seq#methods) method. It looks like

[2019-04-30 09:47] IbrahimTanyalcin commented on #1407
@imallona Thank you for pointing out these blind spots. I will go over the citations, did not realize that they were incomplete.

For the performance, I just tested the [first example](https://github.com/IbrahimTanyalcin/lexicon-mono-seq/blob/master/examples/1000x10000RandomSeq.html) and the [letters of PI](https://github.com/IbrahimTanyalcin/lexicon-mono-seq/blob/master/examples/PI10Million.html)

[2019-04-30 10:03] xuanxu commented on #1352
@brandondube usually you would release a new version with all the changes made during the review process, once you do that I'll update the version here and that would be the version you need to upload to Zenodo.

The convention is to upload the zip that GitHub provides in the release page (example: [link to zip here in the 'Assets' section](https://github.com/brandondube/prysm/releases/tag/v0.15.1

[2019-04-30 10:21] dpzwick commented on #1400
There were barriers set so that just the timings for ppiclF could be tested. In real applications there may be some overlap of communication with computation though.

Thanks for your insight and suggestions @iljah and @markadams!

[2019-04-30 10:34] danielskatz commented on #1413
@whedon assign @leouieda as editor

[2019-04-30 10:34] whedon commented on #1413
OK, the editor is @leouieda

[2019-04-30 10:48] brainstorm commented on #1343
@whedon assign @brainstorm as editor

[2019-04-30 10:48] whedon commented on #1343
OK, the editor is @brainstorm

[2019-04-30 10:48] brainstorm commented on #1343
@whedon assign @luizirber as reviewer

[2019-04-30 10:49] whedon commented on #1343
OK, the reviewer is @luizirber

[2019-04-30 10:49] brainstorm commented on #1343
@whedon start review

[2019-04-30 10:49] whedon opened #1418 "[REVIEW]: Container Tree: Software to Model Container Filesystems, Packages, and Inheritance"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/singularityhub/container-tree" target ="_blank">https://www.github.com/singularityhub/container-tree</a>
**Version:** 0.0.48
**Editor:** @brainstorm
**Reviewer:** @luizirber
**Archive:** <a href="https://doi.org/10.5281/zenodo.2853983" target="_blank">10

[2019-04-30 10:49] whedon commented on #1343
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1418. Feel free to close this issue now!

[2019-04-30 10:49] whedon commented on #1418
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @luizirber it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-04-30 10:49] whedon commented on #1418
[code]

[2019-04-30 10:49] brainstorm commented on #1343
Let's do it! :)

[2019-04-30 10:49] #1343 closed

[2019-04-30 10:49] whedon commented on #1418
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01418/joss.01418/10.21105.joss.01418.pdf)

[2019-04-30 11:07] xuanxu commented on #1352
@whedon generate pdf

[2019-04-30 11:07] whedon commented on #1352
[code]

[2019-04-30 11:08] whedon commented on #1352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01352/joss.01352/10.21105.joss.01352.pdf)

[2019-04-30 11:16] whedon opened #1419 "[PRE REVIEW]: sslf: A simple spectral line finder"
**Submitting author:** @cjordan (<a href="http://orcid.org/0000-0002-1220-2940">Christopher H. Jordan</a>)
**Repository:** <a href="https://gitlab.com/chjordan/sslf" target ="_blank">https://gitlab.com/chjordan/sslf</a>
**Version:** v0.1.9
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @cjordan. **Currently, there isn't an JOSS editor a

[2019-04-30 11:16] whedon commented on #1419
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-30 11:16] whedon commented on #1419
[code]

[2019-04-30 11:16] whedon commented on #1419
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01419/joss.01419/10.21105.joss.01419.pdf)

[2019-04-30 11:28] connorourke commented on #1306
@mkhorton - I've added some brief community guidelines (as well as sorting out the other issues you pointed out. Thanks for the tip on `Black` - found that very useful)

[2019-04-30 11:29] connorourke commented on #1306
@katyhuff  @vahtras,

I was wondering if you guys have any update on the status of this review?

Thanks!

[2019-04-30 11:37] santisoler commented on #1410
Thanks for answering this @VivianePons!

[2019-04-30 11:44] hrhotz commented on #1407
@IbrahimTanyalcin - Thanks for your feedback, please allow me to go a little bit deeper into some of my comments (which I now have numbered) wrt to the "clustalW.html" example:

1. - your chosen "aa" color scheme does make sense. Though, you should probably acknowledge the person who set it up originally.
2. - the option to add a custom color scheme is great. It might help if you document this (wi

[2019-04-30 12:00] jgostick commented on #1296
Hi All, what's the situation here?  I think everything is done on our end.  I would like be able to 'announce' this paper at the upcoming interpore conference in Valencai, which is May 6-10...assuming our submission is acceptable, will it be possible to make a decision by this date?

[2019-04-30 12:11] lpantano commented on #1416
Hi @danielskatz , it makes sense. we'll try to find the best one for this.

Thanks!

[2019-04-30 12:46] tgeijten commented on #1394
@Kevin-Mattheus-Moerman how many reviewers are needed?

[2019-04-30 13:14] effigies commented on #1171
Hi all, sorry about the delay as well. I've left the Functionality section of the review to @tanselbaran as discussed above. My concerns remain mostly with the documentation. In addition to the below, the documentation does not appear to be hosted, and I built it myself. I don't know if web-accessible documentation is a requirement for JOSS, so I'm just noting that.

This is present in the paper b

[2019-04-30 13:57] csoneson commented on #1416
@whedon assign @csoneson as editor

[2019-04-30 13:57] whedon commented on #1416
OK, the editor is @csoneson

[2019-04-30 13:59] dvalters commented on #1328
Apologies for the delay to my review @lheagy, @zhaozhang, this has been due to difficulty in obtaining access to the proprietary Intel compiler required for the installation process.

Can I ask @lheagy, would this requirement be a barrier to acceptance in JOSS?

@zhaozhang , is there a way to compile this with an open-source compiler (i.e. gcc) ?

[2019-04-30 14:01] danielskatz commented on #1328
👋 @dvalters - you've written to @zhaozhang above, but the software is by @zhangning737

[2019-04-30 14:03] dvalters commented on #1328
Apolgies @zhangning737, my question was if there is a way to compile with an open source compiler, or plans to include this functionality in the near future?

[2019-04-30 14:09] csoneson commented on #1416
Thanks for your submission @fboehm. I will have a first look at your repository and identify suitable reviewers - please let me know if you have suggestions for people that might be good reviewers!

[2019-04-30 14:12] vsoch commented on #1418
@whedon commands

[2019-04-30 14:12] whedon commented on #1418
Here are some things you can ask me to do:

[code]

[2019-04-30 14:13] vsoch commented on #1418
@whedon generate pdf

[2019-04-30 14:13] whedon commented on #1418
[code]

[2019-04-30 14:14] whedon commented on #1418
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01418/joss.01418/10.21105.joss.01418.pdf)

[2019-04-30 14:17] vsoch commented on #1418
@whedon generate pdf

[2019-04-30 14:17] whedon commented on #1418
[code]

[2019-04-30 14:18] whedon commented on #1418
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01418/joss.01418/10.21105.joss.01418.pdf)

[2019-04-30 14:20] vsoch commented on #1418
okay, looks good! Thanks @whedon. I had some "n.d" dates that I wanted to fix up. The manuscript should be ready now. Thanks for reviewing @luizirber and overseeing @brainstorm.

[2019-04-30 14:27] tyarkoni commented on #1294
@whedon generate pdf from branch joss-review

[2019-04-30 14:27] whedon commented on #1294
[code]

[2019-04-30 14:27] whedon commented on #1294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01294/joss.01294/10.21105.joss.01294.pdf)

[2019-04-30 14:41] VivianePons commented on #1410
@whedon add @rrenka as reviewer

[2019-04-30 14:41] whedon commented on #1410
OK, @rrenka is now a reviewer

[2019-04-30 14:47] andreysmelter commented on #1388
Hi @brainstorm @vsoch
I have completed my review and raised several issues that I have found against the watchme repo. They have already been fixed and merged. Everything else looks excellent to me and ready to go to the next step (acceptance/publishing?).

Thank you.

[2019-04-30 16:01] karthik commented on #1350
@FranzKrah Can you just create a new Zenodo release from scratch? And make sure all the metadata look correct. Then I can update it here and proceed with accepting? Otherwise you'll have an incorrect citation.

[2019-04-30 16:34] TheChymera commented on #1171
@tanselbaran @effigies thank you for your comments. Could you please open issues ont he package so that I know exactly what I should add, and we can keep better track of when this has been resolved?

Regarding hosted docs, I do not thing this is required by JOSS, but they do exist:

https://cosplay.readthedocs.io/en/latest/?badge=latest

[2019-04-30 16:46] FranzKrah commented on #1350
@karthik No I do not see how this would be possible. I think it is ok as is...

[2019-04-30 16:50] TheChymera commented on #1171
Regarding the other issues of contributing guidelines and dependencies, these have now been resolved. If there is anything else left, please create an issue.

[2019-04-30 17:24] annoviko commented on #1383
Hello, @arocem,I am little bit surprised to be suggested as a reviewer for this submission, because I am not even in the reviewer list. But anyway I have read the paper and have looked through the repository, so if there are no any other candidates, I can review it.1:39, 30 апреля 2019 г., Ariel Rokem <notifications@github.com>:Let me see if we can find someone other than me.
@annoviko: would you

[2019-04-30 17:36] karthik commented on #1350
@whedon set 10.5281/zenodo.2654302 as archive

[2019-04-30 17:36] whedon commented on #1350
OK. <a href="https://doi.org/10.5281/zenodo.2654302" target="_blank">10.5281/zenodo.2654302</a> is the archive.

[2019-04-30 17:38] karthik commented on #1350
@FranzKrah When you go to the above linked DOI, click edit on the top right, then edit the metadata. Remove your GitHub user/repo from the title and save. Then it will generate a new DOI. You can post that here.

[2019-04-30 17:46] FranzKrah commented on #1350
@karthik I changed the title and saved but DOI is the same:
10.5281/zenodo.2654302

[2019-04-30 17:48] usethedata commented on #1296
@whedon set 10.5281/zenodo.2642818 as archive

[2019-04-30 17:48] whedon commented on #1296
OK. <a href="https://doi.org/10.5281/zenodo.2642818" target="_blank">10.5281/zenodo.2642818</a> is the archive.

[2019-04-30 17:49] usethedata commented on #1296
@whedon generate pdf

[2019-04-30 17:49] whedon commented on #1296
[code]

[2019-04-30 17:49] usethedata commented on #1296
@whedon check references

[2019-04-30 17:50] whedon commented on #1296
[code]

[2019-04-30 17:50] whedon commented on #1296
[code]

[2019-04-30 17:50] whedon commented on #1296
PDF failed to compile for issue #1296 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2019-04-30 17:50] karthik commented on #1350
@whedon generate pdf

[2019-04-30 17:50] whedon commented on #1350
[code]

[2019-04-30 17:51] usethedata commented on #1296
@whedon generate pdf

[2019-04-30 17:51] whedon commented on #1296
[code]

[2019-04-30 17:51] whedon commented on #1350
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01350/joss.01350/10.21105.joss.01350.pdf)

[2019-04-30 17:52] karthik commented on #1350
@whedon accept

[2019-04-30 17:52] whedon commented on #1350
[code]

[2019-04-30 17:52] whedon commented on #1296
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01296/joss.01296/10.21105.joss.01296.pdf)

[2019-04-30 17:53] whedon commented on #1350
[code]

[2019-04-30 17:53] whedon commented on #1350
PDF failed to compile for issue #1350 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0

[2019-04-30 17:54] karthik commented on #1350
@arfon Can you take a look at the error and proceed with accepting when resolved?

[2019-04-30 17:59] usethedata commented on #1296
@jgostick My apologies for the delay.  Some elder care issues have needed my attention.

@openjournals/joss-eics I believe this is ready to go.

[2019-04-30 18:00] usethedata commented on #1296
@jgostick If you want to give the PDF one final review to make sure you don't see any mistakes (author list, etc), that would be good.  It's a pain to fix once the article has been published.

[2019-04-30 19:06] arfon commented on #1350
@whedon accept

[2019-04-30 19:06] whedon commented on #1350
[code]

[2019-04-30 19:06] whedon commented on #1350
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/648

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/648, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-30 19:07] whedon commented on #1350
[code]

[2019-04-30 19:08] arfon commented on #1350
@whedon accept deposit=true

[2019-04-30 19:08] whedon commented on #1350
[code]

[2019-04-30 19:09] whedon commented on #1350
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/649
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01350](https://doi.org/10.21105/joss.01350)
2. If everything looks go

[2019-04-30 19:12] #1350 closed

[2019-04-30 19:12] whedon commented on #1350
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01350/status.svg)](https://doi.org/10.21105/joss.01350)

**We need your help!**

Journal of Open Source Softwar

[2019-04-30 19:47] jgostick commented on #1296
Everything looks good!

[2019-04-30 22:00] arokem commented on #1406
👋 @pboesu : would you be willing to review this article for [JOSS](http://joss.theoj.org/)?

[2019-04-30 22:01] arokem commented on #1383
Thank you! I identified you as a potential reviewer based on your own recent JOSS paper.

[2019-04-30 22:02] arokem commented on #1383
@whedon assign @annoviko as reviewer

[2019-04-30 22:02] whedon commented on #1383
OK, the reviewer is @annoviko

[2019-04-30 22:02] arokem commented on #1383
@whedon start review

[2019-04-30 22:02] whedon opened #1420 "[REVIEW]: ECabc: A feature tuning program focused on Artificial Neural Network hyperparameters"
**Submitting author:** @sanskriti-s (<a href="http://orcid.org/0000-0002-9884-7351">Sanskriti Sharma</a>)
**Repository:** <a href="https://github.com/ECRL/ecabc" target ="_blank">https://github.com/ECRL/ecabc</a>
**Version:** v2.2.2
**Editor:** @arokem
**Reviewer:** @annoviko
**Archive:** <a href="https://doi.org/10.5281/zenodo.3256403" target="_blank">10.5281/zenodo.3256403</a>

## Status

[![sta

[2019-04-30 22:02] whedon commented on #1383
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1420. Feel free to close this issue now!

[2019-04-30 22:02] whedon commented on #1420
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @annoviko it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-04-30 22:02] whedon commented on #1420
[code]

[2019-04-30 22:03] arokem commented on #1383
Head on over to #1420 for the review. I will close this issue now.

[2019-04-30 22:03] #1383 closed

[2019-04-30 22:03] whedon commented on #1420
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01420/joss.01420/10.21105.joss.01420.pdf)

[2019-04-30 22:05] arokem commented on #1171
@whedon generate pdf

[2019-04-30 22:05] whedon commented on #1171
[code]

[2019-04-30 22:06] whedon commented on #1171
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01171/joss.01171/10.21105.joss.01171.pdf)

[2019-04-30 22:08] arokem commented on #1171
@TheChymera : thank you for the quick turnaround!

@tanselbaran , @effigies : when you get a chance, could you please take another look?

[2019-04-30 23:56] kyleniemeyer commented on #1394
@tgeijten Generally JOSS likes to have at least two reviewers, though we can also have one if the editor serves as a second reviewer.

[2019-05-01 00:16] kyleniemeyer commented on #1296
@whedon accept

[2019-05-01 00:16] whedon commented on #1296
[code]

[2019-05-01 00:16] whedon commented on #1296
[code]

[2019-05-01 00:16] whedon commented on #1296
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/650

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/650, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-01 00:17] kyleniemeyer commented on #1296
Hi @jgostick, before I do the final accept, could you edit the metadata for the Zenodo archive so that the authors match the paper? And also add full names/ORCID rather than just GitHub handles.

[2019-05-01 00:29] kyleniemeyer commented on #1255
Hi @edifice1989, I submitted a minor PR for the paper that fixed some of the references: https://github.com/edifice1989/rocker-c-rex/pull/2

Please merge that, and we can move forward with the final acceptance.

[2019-05-01 00:40] edifice1989 commented on #1255
Hi Kyle,

     I have merged your request.

    Thank you very much for your help!!

Best,
Ming

On Tue, Apr 30, 2019 at 5:29 PM Kyle Niemeyer <notifications@github.com>
wrote:

[2019-05-01 00:41] kyleniemeyer commented on #1255
@whedon generate pdf

[2019-05-01 00:41] whedon commented on #1255
[code]

[2019-05-01 00:42] whedon commented on #1255
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01255/joss.01255/10.21105.joss.01255.pdf)

[2019-05-01 00:43] kyleniemeyer commented on #1255
@whedon accept

[2019-05-01 00:43] whedon commented on #1255
[code]

[2019-05-01 00:44] whedon commented on #1255
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/651

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/651, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-01 00:44] whedon commented on #1255
[code]

[2019-05-01 00:44] kyleniemeyer commented on #1255
@whedon accept deposit=true

[2019-05-01 00:45] whedon commented on #1255
[code]

[2019-05-01 00:45] whedon commented on #1255
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/652
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01255](https://doi.org/10.21105/joss.01255)
2. If everything looks go

[2019-05-01 00:46] kyleniemeyer commented on #1255
@edifice1989 congrats on your paper's acceptance in JOSS! Thanks to @byandell for reviewing and @mgymrek for editing.

[2019-05-01 00:46] #1255 closed

[2019-05-01 00:46] whedon commented on #1255
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01255/status.svg)](https://doi.org/10.21105/joss.01255)

**We need your help!**

Journal of Open Source Softwar

[2019-05-01 02:08] brandondube commented on #1352
@xuanxu thanks.  The change was pushed, but to dev.  It is on master now, along with about 90 commits of other changes :)

I'm within spitting distance (a week or so) of releasing v0.16 -- would it be alright to save the finalization here until then?

[2019-05-01 02:09] brandondube commented on #1352
@whedon generate pdf

[2019-05-01 02:09] whedon commented on #1352
[code]

[2019-05-01 02:09] whedon commented on #1352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01352/joss.01352/10.21105.joss.01352.pdf)

[2019-05-01 03:13] jgostick commented on #1296
I think it's done now...hopefully I edited the right places

[2019-05-01 04:02] kyleniemeyer commented on #1296
@jgostick this is what I'm seeing:
<img width="802" alt="Screen Shot 2019-04-30 at 8 59 31 PM" src="https://user-images.githubusercontent.com/190432/57005222-ea2d3180-6b8a-11e9-8c3c-9c0a5d558e01.png">

In addition to the GitHub handles instead of names, I also see names on Zenodo that aren't on the paper, and vice versa.

On the other hand, for version 1.1.1 in Zenodo, I see this:
<img width="811"

[2019-05-01 08:45] Kevin-Mattheus-Moerman commented on #1394
@tgeijten I usually aim for at least 2, which we already have, but I wanted to give you the chance to add some recommended reviewers. To avoid further delay we'll start the review process now.

[2019-05-01 08:45] Kevin-Mattheus-Moerman commented on #1394
@whedon start review

[2019-05-01 08:45] whedon opened #1421 "[REVIEW]: SCONE: Open Source Software for Predictive Simulation of Biological Motion"
**Submitting author:** @tgeijten (<a href="http://orcid.org/0000-0001-8352-8107">Thomas Geijtenbeek</a>)
**Repository:** <a href="https://github.com/opensim-org/SCONE" target ="_blank">https://github.com/opensim-org/SCONE</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @modenaxe, @demotu
**Archive:** <a href="https://doi.org/10.5281/zenodo.3245810" target="_blank">10.5281

[2019-05-01 08:45] whedon commented on #1394
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1421. Feel free to close this issue now!

[2019-05-01 08:45] whedon commented on #1421
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @modenaxe, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-05-01 08:45] whedon commented on #1421
[code]

[2019-05-01 08:45] #1394 closed

[2019-05-01 08:46] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-05-01 09:36] brainstorm commented on #1388
@whedon check references

[2019-05-01 09:36] whedon commented on #1388
[code]

[2019-05-01 09:36] whedon commented on #1388
[code]

[2019-05-01 11:25] xuanxu commented on #1352
@brandondube I'm ok with waiting for a week for the new release. Please tell us here once you are ready for the v0.16 and I'll ping aquilesC then for a quick re-review so we are sure everything is still fine. Is that ok with you @aquilesC ?

[2019-05-01 11:41] ybayle commented on #1094
@carterenyi The provided test works for me.

However, this is not an automated test nor a suite of unit tests.
If I refer to this: `Automated tests: Are there automated tests or manual steps described so that the function of the software can be verified?`, yes there is one manual test that can check the output of the whole program but no there are not test verfying the output of each function.
@Ke

[2019-05-01 12:32] aquilesC commented on #1352
It is fine with me! Let me know when the new version is out!

[2019-05-01 13:36] carterenyi commented on #1094
Thanks @ybayle and @Kevin-Mattheus-Moerman for your patience with me. While
I know signal processing, I don't know much about software development
standards--and I'm learning a lot with this process!

Unfortunately, while I am understanding better the nature of an automated
test, it is not possible for me to redeploy the windows version of the
software right now (I bought a used windows machine bu

[2019-05-01 13:44] jgostick commented on #1296
ahhh, I clicked save, but not publish, because I thought it already was published.

Names, affiliation and orcid should be ok now, but I'm a bit confused which DOI to use...

The DOI for V1.1.2 is 10.5281/zenodo.2642818, but zenodo offers one for "all versions" which seems more useful since a new doi is issued for every minor version bump.  The one for all versions is 10.5281/zenodo.2633284, which

[2019-05-01 15:07] kyleniemeyer commented on #1296
In this case, we should use the specific DOI associated with the version published—we don't want the archived software referenced in the paper to point to a future version, if you update the archive later.

The paper also points to the software repo, so it will direct to the latest version in that way.

[2019-05-01 15:08] kyleniemeyer commented on #1296
@whedon set 10.5281/zenodo.2642818 as archive

[2019-05-01 15:08] whedon commented on #1296
OK. <a href="https://doi.org/10.5281/zenodo.2642818" target="_blank">10.5281/zenodo.2642818</a> is the archive.

[2019-05-01 15:08] kyleniemeyer commented on #1296
@whedon accept

[2019-05-01 15:08] whedon commented on #1296
[code]

[2019-05-01 15:08] whedon commented on #1296
[code]

[2019-05-01 15:09] whedon commented on #1296
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/653

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/653, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-01 15:10] kyleniemeyer commented on #1296
@whedon accept deposit=true

[2019-05-01 15:10] whedon commented on #1296
[code]

[2019-05-01 15:10] whedon commented on #1296
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/654
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01296](https://doi.org/10.21105/joss.01296)
2. If everything looks go

[2019-05-01 15:12] kyleniemeyer commented on #1296
Congrats @jgostick on your paper's acceptance in JOSS! Thanks to @yxqd and @cr458 for reviewing, and @usethedata for editing.

[2019-05-01 15:12] #1296 closed

[2019-05-01 15:12] whedon commented on #1296
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01296/status.svg)](https://doi.org/10.21105/joss.01296)

**We need your help!**

Journal of Open Source Softwar

[2019-05-01 15:18] danielskatz commented on #1157
Hi @taqtiqa-mark and @justinalsing,

Just to make sure I understand where things are, it looks like Mark has created three issues

- https://github.com/justinalsing/dlmmc/issues/6
- https://github.com/justinalsing/dlmmc/issues/7
- https://github.com/justinalsing/dlmmc/issues/8

that are blocking his acceptance of the installation part of the submission, which is the last part that needs to be reso

[2019-05-01 15:24] danielskatz commented on #1188
@cbjuan - How are things going?
If there's been progress, or will be soon, let us know.
If not, I wonder if we should withdraw this submission with the idea that a new submission could be made later.

[2019-05-01 15:43] lheagy commented on #1221
Thanks @chris-prener.

@arfon: is there an easy way to keep a code-block together in the paper? (see code split over page 2-3 here: https://github.com/openjournals/joss-papers/blob/joss.01221/joss.01221/10.21105.joss.01221.pdf)

[2019-05-01 15:49] lheagy commented on #1328
Thanks @dvalters! I have started issue zhangning737/rdbsp#1 to discuss compiler options. @zhangning737: could you please provide some pointers on where to access compilers for the code? It would be preferable if this could be achieved with an open source compiler. If this is not possible, I will check with the editorial board on any concerns for acceptance.

[2019-05-01 15:51] lheagy commented on #1358
👋 @JKutt: it looks like the box for `automated-tests` is still un-checked. Do you have any other comments wrt testing? or can this be ticked off? Thanks!

[2019-05-01 15:51] #1372 closed

[2019-05-01 15:54] whedon opened #1422 "[PRE REVIEW]: Fireworks: Reproducible Machine Learning with PyTorch"
**Submitting author:** @smk508 (<a href="http://orcid.org/0000-0003-4686-4923">Saad Khan</a>)
**Repository:** <a href="https://github.com/kellylab/Fireworks" target ="_blank">https://github.com/kellylab/Fireworks</a>
**Version:** 0.3.0
**Editor:** @arokem
**Reviewers:** dirmeier

**Author instructions**

Thanks for submitting your paper to JOSS @smk508. **Currently, there isn't an JOSS editor assi

[2019-05-01 15:54] whedon commented on #1422
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-01 15:54] whedon commented on #1422
[code]

[2019-05-01 15:54] whedon commented on #1422
PDF failed to compile for issue #1422 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Saad Khan, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:57:in `each'
	fr

[2019-05-01 15:56] JKutt commented on #1358
@lheagy darn, I missed that one! Apologies. No concern on the testing, simply missed ticking it off. Should be good now!

[2019-05-01 15:57] fboehm commented on #1416
Thanks for your assistance, @csoneson! I think that @pjotrp attended a talk that I gave about the project related to this software. I'm sure that he would be a great reviewer.

[2019-05-01 16:05] jlincbio commented on #1374
@lpantano - sorry I don't mean to rush you at all with this, but I am going to be out of the office for a few days next week. Is there anything I should do before that?

[2019-05-01 16:23] lheagy commented on #1358
@whedon check references

[2019-05-01 16:23] whedon commented on #1358
[code]

[2019-05-01 16:24] whedon commented on #1358
[code]

[2019-05-01 16:26] lheagy commented on #1358
Many thanks @JKutt for your review!!

@alkirkby, It looks like there is one missing DOI in the paper:
[code]

Also, I posted an issue about the documentation website - currently, it looks like the auto-documentation isn't functioning as expected (MTgeophysics/mtpy#80). Please take a look when you have a chance.

[2019-05-01 16:30] smk508 commented on #1422
@whedon commands

[2019-05-01 16:30] whedon commented on #1422
Here are some things you can ask me to do:

[code]

[2019-05-01 16:31] smk508 commented on #1422
@whedon generate pdf

[2019-05-01 16:31] whedon commented on #1422
[code]

[2019-05-01 16:31] whedon commented on #1422
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01422/joss.01422/10.21105.joss.01422.pdf)

[2019-05-01 16:47] lpantano commented on #1374
Hi @jlincbio

I am still trying to find a reviewer, I hope I can get somebody this week. I think you are all set, it is my fault.

Thanks!

[2019-05-01 17:09] arfon commented on #1221
Perhaps a `\newpage` would help here? I _think_ this works with Pandoc/Markdown.

[2019-05-01 17:17] arfon commented on #1087
:wave: @nproellochs - friendly reminder to get back to this soon.

[2019-05-01 17:19] arfon commented on #1387
:wave: @lpueyo - how are you getting along here?

[2019-05-01 17:21] zingale commented on #1399
There are two more issues to be resolved:

https://github.com/abatten/fruitbat/issues/32
https://github.com/abatten/fruitbat/issues/31

otherwise, it looks good.

[2019-05-01 17:22] arfon commented on #1393
:wave: @Cadair - how are you getting along here? Do you think you might be able to complete your review in the next week?

[2019-05-01 17:26] arfon commented on #1234
@aelanman - please revisit this submission when you get a chance.

[2019-05-01 17:28] terrytangyuan commented on #1087
@arfon My feedback and opinion still remains unchanged for the reasons I mentioned earlier. I'd recommend @nproellochs submitting this article to other journals, e.g. JOSE mentioned above.

[2019-05-01 17:30] arfon commented on #1349
@mviereck - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-05-01 17:32] arfon commented on #1087
Understood. Thanks @terrytangyuan.

[2019-05-01 17:33] Cadair commented on #1393
Hey, sorry for the delay I should be able to get to this hopefully by the end of the week :smile:

[2019-05-01 17:58] lpantano commented on #1374
@whedon add @darogan as reviewer

[2019-05-01 17:58] whedon commented on #1374
OK, @darogan is now a reviewer

[2019-05-01 17:58] lpantano commented on #1374
@whedon check references

[2019-05-01 17:58] whedon commented on #1374
[code]

[2019-05-01 17:59] whedon commented on #1374
[code]

[2019-05-01 17:59] lpantano commented on #1374
@whedon start review

[2019-05-01 17:59] whedon opened #1423 "[REVIEW]: CRED: a rapid peak caller for Chem-seq data"
**Submitting author:** @jlincbio (<a href="http://orcid.org/0000-0002-8086-3185">Jason Lin</a>)
**Repository:** <a href="https://github.com/jlincbio/cred" target ="_blank">https://github.com/jlincbio/cred</a>
**Version:** 0.1
**Editor:** @lpantano
**Reviewer:** @darogan
**Archive:** <a href="https://doi.org/10.5281/zenodo.2667613" target="_blank">10.5281/zenodo.2667613</a>

## Status

[![status](h

[2019-05-01 17:59] whedon commented on #1374
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1423. Feel free to close this issue now!

[2019-05-01 17:59] whedon commented on #1423
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @darogan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-05-01 17:59] whedon commented on #1423
[code]

[2019-05-01 18:00] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-01 18:00] #1374 closed

[2019-05-01 18:32] nelsonroque commented on #1279
@labarba @aj2duncan @arfon the example code has been modified to run without error. Thank you for your time and feedback!

[2019-05-01 19:13] leouieda commented on #1382
:wave: Hi @rgmyr @Chilipp would you be interested in reviewing this submission for JOSS?

[2019-05-01 19:20] leouieda commented on #1384
:wave: Hi @ngoldbaum @rowanc1 would you be interested in reviewing this submission for JOSS?

[2019-05-01 19:22] ngoldbaum commented on #1384
I can't, I'm sorry.

[2019-05-01 19:42] chris-prener commented on #1221
@whedon generate pdf

[2019-05-01 19:42] whedon commented on #1221
[code]

[2019-05-01 19:42] whedon commented on #1221
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01221/joss.01221/10.21105.joss.01221.pdf)

[2019-05-01 19:44] chris-prener commented on #1221
worked perfectly - thanks @arfon!

[2019-05-01 19:46] leouieda commented on #1413
:wave: Hi @camillescott @vc1492a would you be interested in reviewing this submission for JOSS?

[2019-05-01 19:48] chris-prener commented on #1221
@lheagy - just tagged a new released on GitHub/Zenodo.

[2019-05-01 20:02] leouieda commented on #1384
@ngoldbaum thanks for the quick reply :tada: No worries.

[2019-05-01 20:45] camillescott commented on #1413
Sure thing, seems up my alley.

On Wed, May 1, 2019 at 12:46 PM Leonardo Uieda <notifications@github.com>
wrote:

--
Camille Scott

Graduate Group in Computer Science (GGCS)
Lab for Data Intensive Biology
University of California, Davis

cswel@ucdavis.edu (or)
camille.scott.w@gmail.com

[2019-05-01 20:49] leouieda commented on #1413
Thanks, Camille!

@whedon assign @camillescott as reviewer

[2019-05-01 20:50] leouieda commented on #1413
@whedon assign @camillescott as reviewer

[2019-05-01 20:50] whedon commented on #1413
OK, the reviewer is @camillescott

[2019-05-01 21:21] effigies commented on #1171
@arokem My two outstanding issues, corresponding to **A statement of need** and **Example usage**: https://github.com/IBT-FMI/COSplay/issues/37

For **Functionality**, **Performance** and **Automated tests**, I'm deferring to @tanselbaran's assessment of these and leaving them unchecked until he checks them off.

[2019-05-01 21:28] justinalsing commented on #1157
Hi @danielskatz @taqtiqa-mark

I've responded to the remaining three issues. As far as I can see the install instructions seem to be working fine, having already been changed from `pip` to `conda` following @Chilipp's suggestion, and the MPI example script provided in the Git repo is not an integral part of this package (as has been discussed multiple times) so I personally don't feel that this sh

[2019-05-01 23:07] Chilipp commented on #1382
Hey @leouieda and @banesullivan!

I am looking forward to review this during the next week. Looks very interesting.

[2019-05-01 23:25] leouieda commented on #1382
@Chilipp thanks for the quick response! Can I just get a confirmation that you're agreeing to review this submission? (just to make sure)

[2019-05-01 23:44] alkirkby commented on #1358
@whedon check references

[2019-05-01 23:44] whedon commented on #1358
[code]

[2019-05-01 23:44] whedon commented on #1358
[code]

[2019-05-01 23:46] alkirkby commented on #1358
Hi @lheagy, okay great!

@zhang01GA is looking into the documentation issue and will link the user guide from the main page. I've just fixed the doi issue. Nearly there!

[2019-05-02 01:17] lmoresi commented on #1410
@whedon generate pdf from branch master

[2019-05-02 01:17] whedon commented on #1410
[code]

[2019-05-02 01:17] whedon commented on #1410
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01410/joss.01410/10.21105.joss.01410.pdf)

[2019-05-02 02:58] alkirkby commented on #1358
Hi @lheagy, @zhang01GA has now fixed the documentation issue and has added a link to the user guide to the front page.

[2019-05-02 04:09] boshek commented on #791
Hi @MarionLegrandLogrami - just a quick check in here to ask if you've considered putting all this into a docker container which can reproducibly run. That was you'd only have to provide instructions to the user on how to use docker. How feasible do you think that would be?

[2019-05-02 04:37] jedbrown commented on #1400
@dpzwick Some minor tweaks to the paper:
1. No need to cite the repository for this software; it appears in the margin.
2. Please check `[-@` and `@` syntax for your references. https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax
3. The displayed equation is completely general, but presumably one would not use this when `Y` is exclusively mesh-based field data

[2019-05-02 05:04] Chilipp commented on #1382
sure, sorry @leouieda . Yes, I agree to review it

[2019-05-02 05:08] banesullivan commented on #1382
👋 Hi @Chilipp, thanks for taking the time to review `vtki`!!

[2019-05-02 05:53] abatten commented on #1399
I have fixed all the issues that you mentioned it the last couple of pull requests.

[2019-05-02 06:50] abatten commented on #1399
Whilst we are here, do you know if it is possible to get the TeX files that produce the JOSS paper? This would be required if I want to submit the paper to the ArXiv. I just tested it with the PDF created by Whedon and it was rejected, requesting for all the TeX files instead of a PDF.

[2019-05-02 09:07] ManuelaS commented on #1359
@whedon check references

[2019-05-02 09:07] whedon commented on #1359
[code]

[2019-05-02 09:08] whedon commented on #1359
[code]

[2019-05-02 09:54] janfreyberg commented on #1389
## Installation

Installing the package in a fresh docker alpine image leads to dependencies being installed that I don't think need to be, for example sphinx, m2r, codecov, etc.

There are a few ways around this so I haven't made a PR but I think you can do the following:

Split requirements into actual requirements (what's needed to run the package), documentation requirements, and test requirem

[2019-05-02 10:25] hfriel69 commented on #1375
@katyhuff: Is there everything fine with the manuscript and the program? I assume you are searching for referees...

[2019-05-02 10:39] justinalsing commented on #1157
Hi @taqtiqa-mark - I've done some more work on the install instructions and responded to your outstanding issues. I hope we are getting close now!

[2019-05-02 10:45] hfriel69 commented on #1375
two more referee could be:
Jan Skov Pedersen, Uni Aarhus, jsp@chem.au.dk
Torsten Bögershausen, ESS - DMSC Copenhagen, Torsten.Bogershausen@esss.se

[2019-05-02 10:53] ManuelaS commented on #1359
Hi @jdrugo,

I have started to review `VBLinLogit`. I really enjoyed reviewing this library, I like its simplicity and I will definitely try it out on some of my work in the future!
Based on JOSS reviewing criteria, I have the following comments so far:

### Software:

- [ ]  **Installation:** Installation steps should be documented in the ReadMe as some potential users may have never used 3rd par

[2019-05-02 10:57] ManuelaS commented on #1291
@whedon check references

[2019-05-02 10:57] whedon commented on #1291
[code]

[2019-05-02 12:03] darogan commented on #1423
@whedon commands

[2019-05-02 12:03] whedon commented on #1423
Here are some things you can ask me to do:

[code]

[2019-05-02 12:03] darogan commented on #1423
@whedon check references

[2019-05-02 12:03] whedon commented on #1423
[code]

[2019-05-02 12:04] whedon commented on #1423
[code]

[2019-05-02 12:05] djmitche commented on #1417
I'm happy aside from the above-referenced two issues.

While this does not have a very "pythonic" interface, that's justified in the documentation as an effort to match the MATLAB functionality, and I think will match the expectations of users of this sort of application nicely.  In particular, I'd highlight that many methods "display" data by printing to stdout rather than return it, and that run

[2019-05-02 13:33] dpzwick commented on #1400
@whedon generate pdf

[2019-05-02 13:33] whedon commented on #1400
[code]

[2019-05-02 13:34] pdwaggoner commented on #1285
HI @yochannah 0 no rush, just following up to see if we need to do anything else here? Happy to do so, if needed. Thanks!

[2019-05-02 13:37] dpzwick commented on #1400
Thanks for the feedback @jedbrown .

I updated the PDF based on your suggestions.

[2019-05-02 13:38] zingale commented on #1399
@xuanxu all of my issues have been address and I've completed the checklist and accept this for publication.

[2019-05-02 13:47] adrena-lab commented on #1392
@whedon generate pdf

[2019-05-02 13:47] whedon commented on #1392
[code]

[2019-05-02 13:48] whedon commented on #1392
PDF failed to compile for issue #1392 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1392 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-05-02 14:02] zhangning737 commented on #1328
@lheagy @dvalters Actually[ Intel compiler ](https://software.intel.com/en-us/parallel-studio-xe/choose-download)provide free license to open source contributors. I think just refer this repo could get a free license. Here chooses intel compiler since this software using a mkl subroutine. Of cource it could be compiled with gcc and vc community after minor changes. But I think Intel complier provi

[2019-05-02 14:13] darogan commented on #1423
@whedon generate pdf

[2019-05-02 14:13] whedon commented on #1423
[code]

[2019-05-02 14:15] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-02 14:18] imallona commented on #1407
Hi @IbrahimTanyalcin,

Thank you for your feedback. I see, so setting thresholds for performance is a difficult task due to the huge variety of hardware available. My comment arose from the paper's sentence _The amount of sequences is limited to your browsers capacity, recommended limit is 8000 sequences with 100000 characters long each_, which I found not very useful as it does not specify what h

[2019-05-02 14:22] darogan commented on #1423
@jlincbio The references don't appear in the article proof - is this some thing you can fix?

Also, would it be appropriate to cite your recent PLoS One (10.1371/journal.pone.0215247) paper as I can imagine both tools being used during a project

[2019-05-02 15:04] katyhuff commented on #1417
Thank you @djmitche for your prompt review! You've made some very good points that perhaps @prmiles could consider as improvements to the package!

[2019-05-02 15:37] vc1492a commented on #1413
@leouieda would be happy to review this work and provide my comments, thanks.

[2019-05-02 15:37] gkthiruvathukal commented on #1345
@mikahama Can you please follow up with how you intend to address the 3 issues reported by @gweissman? All three of these issues should be addressed before we can proceed further.

[2019-05-02 15:41] gkthiruvathukal commented on #1326
@Amudtogal I am seeing that we (or I, more precisely) did not respond to your question about model tests. Sorry for the delay as it has been a busy ending to my academic year here.

Can you please add some basic model tests so we can check off the last box? I'd feel a lot better if there were at least a few tests, which would establish a basis for more expanded testing at a later date. As soon as

[2019-05-02 15:42] gkthiruvathukal commented on #1337
Thanks, @JedS6391. Please let us know when you've had a chance to add unit tests.

[2019-05-02 15:45] gkthiruvathukal commented on #1357
@azazel7 Can you take a look at https://bit.ly/joss-reviewers and suggest any reviewers?

[2019-05-02 15:48] jedbrown commented on #1400
Thanks. The ICPP `booktitle` field needs case protection. For the Nek5000 and CMT-nek references, I would use "in-text" style, `... Navier-Stokes solver Nek5000 [-@nek5000] ...`.

[2019-05-02 15:48] kyleniemeyer commented on #1399
@abatten regarding the TeX files, unfortunately the conversion using Pandoc happens automatically with our whedon bot, so it isn't *super* easy to get those files. You may be able to do the conversion yourself manually based on the LaTeX template here: https://github.com/openjournals/whedon/tree/master/resources

[2019-05-02 15:52] katyhuff commented on #1375
Thanks for these suggestions. Indeed, I'm identifying referees from our pool and am investigating your suggestions. I'll be able to give this some more attention this weekend.

[2019-05-02 15:57] katyhuff commented on #1389
Thanks for the speedy reviews, @janfreyberg @justinshenk . And, thanks for responding quickly to the suggestions @kmichael08 .

@kmichael08 , there are a few items in @janfreyberg's review that will need to be handled before we should move forward with acceptance:

- [ ] Package installation instructions should be cleaned up to remove tensorflow if it's not used anywhere.
- [ ] Though I'm not sure

[2019-05-02 16:02] rrenka commented on #1410
I believe this software adds enormous value to my code, and
it is gratifying to see that the geophysics community is benefiting
from my efforts.

[2019-05-02 16:34] xuanxu commented on #1399
Thanks @zingale!

[2019-05-02 16:34] xuanxu commented on #1399
@whedon generate pdf

[2019-05-02 16:34] whedon commented on #1399
[code]

[2019-05-02 16:35] whedon commented on #1399
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01399/joss.01399/10.21105.joss.01399.pdf)

[2019-05-02 16:35] xuanxu commented on #1399
@whedon check references

[2019-05-02 16:35] whedon commented on #1399
[code]

[2019-05-02 16:36] whedon commented on #1399
[code]

[2019-05-02 16:42] xuanxu commented on #1399
@abatten Could you please release a new version with all the recent changes?
Once you do that I need you to create an archive of that version in zenodo/figshare/other and report the DOI here.

[2019-05-02 17:24] whedon opened #1424 "[PRE REVIEW]: sbpy: A Python module for small-body planetary astronomy"
**Submitting author:** @mommermi (<a href="http://orcid.org/0000-0002-8132-778X">Michael Mommert</a>)
**Repository:** <a href="https://github.com/NASA-Planetary-Science/sbpy" target ="_blank">https://github.com/NASA-Planetary-Science/sbpy</a>
**Version:** v0.1
**Editor:** @xuanxu
**Reviewers:** @Juanlu001

**Author instructions**

Thanks for submitting your paper to JOSS @mommermi. **Currently, th

[2019-05-02 17:24] whedon commented on #1424
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-02 17:24] whedon commented on #1424
[code]

[2019-05-02 17:24] whedon commented on #1424
Failed to discover a valid open source license.

[2019-05-02 17:24] whedon commented on #1424
PDF failed to compile for issue #1424 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1424/publications/joss/paper.md): mapping values are not allowed in this context at line 2 column 6 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	f

[2019-05-02 17:24] kyleniemeyer commented on #1424
Hi @xuanxu, this looks to fall nicely in your area of expertise. Can you edit this submission?

[2019-05-02 17:28] kyleniemeyer commented on #1424
@mommermi I just submitted a PR (NASA-Planetary-Science/sbpy#143) that should fix the paper compilation issue.

[2019-05-02 17:35] aelanman commented on #1234
@arfon @ygrange Thank you for looking over the revisions. I've been trying to reproduce your errors. Are you installing via the repo or through the PyPi package?

The h5py dependence is only in one part of one test and should be easy enough to remove, so I'll do that.

I will also put a link to the comparison page in the README.

[2019-05-02 17:47] dpzwick commented on #1400
@whedon generate pdf

[2019-05-02 17:47] whedon commented on #1400
[code]

[2019-05-02 17:48] whedon commented on #1400
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01400/joss.01400/10.21105.joss.01400.pdf)

[2019-05-02 17:50] dpzwick commented on #1400
The references are update now. Although it doesn't seem like the [-@nek5000] has an effect.

[2019-05-02 17:57] kyleniemeyer commented on #1424
@whedon generate pdf

[2019-05-02 17:57] whedon commented on #1424
[code]

[2019-05-02 17:58] whedon commented on #1424
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01424/joss.01424/10.21105.joss.01424.pdf)

[2019-05-02 18:02] fsobral commented on #1385
@whedon generate pdf from branch joss

[2019-05-02 18:02] whedon commented on #1385
[code]

[2019-05-02 18:03] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-02 18:16] jedbrown commented on #1400
Ah, that formatting is because the bib entries don't have an `author` field. Surely there are some people, or "Nek5000 Development Team", that make sense to list as authors.

[2019-05-02 18:23] kyleniemeyer commented on #1422
@smk508 I am looking for a JOSS editor to handle the submission; once someone is assigned, they will work to assign reviewers.

[2019-05-02 18:37] dpzwick commented on #1400
I can probably find some people but that is the recommended citation style
on their website. What do you think?

On Thu, May 2, 2019, 2:16 PM Jed Brown <notifications@github.com> wrote:

[2019-05-02 18:37] smk508 commented on #1422
Ok thanks!

[2019-05-02 19:48] csoneson commented on #1416
👋@sirsharpest - would you be interested in reviewing this submission for JOSS? Looks like a great fit to your expertise.

[2019-05-02 19:51] csoneson commented on #1416
@fboehm - thanks for your suggestion. I noticed that @pjotrp has relatively recently published together with one of the authors of this submission, which would not be compatible with the JOSS conflict of interest statement. I have invited a couple of other great people - let's see if they are available!

[2019-05-02 19:58] mikahama commented on #1345
As far as DOIs go, I have improved the situation with the latest version of UralicNLP. It is now possible to use uralicApi.model_info("fin") which will output information about the authors, copyright and such details. At least this will output a url to the Giellatekno repository where the FST and CG models are from. I have also gathered as much information as possible from the files in the Giellat

[2019-05-02 20:28] mommermi commented on #1424
@whedon generate pdf

[2019-05-02 20:28] whedon commented on #1424
[code]

[2019-05-02 20:29] whedon commented on #1424
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01424/joss.01424/10.21105.joss.01424.pdf)

[2019-05-02 20:35] mommermi commented on #1424
@whedon generate pdf

[2019-05-02 20:35] whedon commented on #1424
[code]

[2019-05-02 20:36] whedon commented on #1424
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01424/joss.01424/10.21105.joss.01424.pdf)

[2019-05-02 21:02] leouieda commented on #1413
@whedon add @vc1492a as reviewer

[2019-05-02 21:02] whedon commented on #1413
OK, @vc1492a is now a reviewer

[2019-05-02 21:02] leouieda commented on #1413
@whedon start review

[2019-05-02 21:02] whedon opened #1425 "[REVIEW]: Netwulf: Interactive visualization of networks in Python"
**Submitting author:** @ulfaslak (<a href="http://orcid.org/0000-0003-4704-3609">Ulf Aslak</a>)
**Repository:** <a href="https://github.com/benmaier/netwulf" target ="_blank">https://github.com/benmaier/netwulf</a>
**Version:** 0.1.4
**Editor:** @leouieda
**Reviewers:** @camillescott, @vc1492a, @leouieda
**Archive:** <a href="https://doi.org/10.5281/zenodo.3402870" target="_blank">10.5281/zenodo.3

[2019-05-02 21:02] whedon commented on #1413
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1425. Feel free to close this issue now!

[2019-05-02 21:02] whedon commented on #1425
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @camillescott, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-05-02 21:02] whedon commented on #1425
[code]

[2019-05-02 21:03] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-05-02 21:04] #1413 closed

[2019-05-02 21:08] leouieda commented on #1425
@vc1492a @camillescott thank you for volunteering your time for this review :1st_place_medal: This is the review issue where you can leave comments and check items from your checklists. If you open any issues or PRs in the software repository, please remember to link back to this issue using `openjournals/joss-reviews#1425` in the issue/PR so we can keep track of progress.

@ulfaslak @vc1492a @cam

[2019-05-02 21:09] leouieda commented on #1382
@whedon assign @Chilipp as reviewer

[2019-05-02 21:09] whedon commented on #1382
OK, the reviewer is @Chilipp

[2019-05-02 21:22] mviereck commented on #1349
I have archived x11docker at Zenodo: https://zenodo.org/record/2658749

The archived files are the identical to x11docker release v5.6.0 at github: https://github.com/mviereck/x11docker/releases/tag/v5.6.0

[2019-05-02 21:27] jlincbio commented on #1423
@whedon generate pdf

[2019-05-02 21:27] whedon commented on #1423
[code]

[2019-05-02 21:27] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-02 21:28] taqtiqa-mark commented on #1157
@danielskatz: LGTM

[2019-05-02 21:31] azazel7 commented on #1357
@gkthiruvathukal : I had a look at the list and I would suggest the following names:
- federeghe
- sepandhaghighi
- aaronyd
- gcdeshpande
- conradsnicta
- adavidzh
- lisitsyn

I made sure that all have a background in C++ as well as knowledge on embedded systems and machine learning. None of them are known by me or any author of OrpailleCC.

[2019-05-02 21:40] jlincbio commented on #1423
@whedon generate pdf

[2019-05-02 21:40] whedon commented on #1423
[code]

[2019-05-02 21:41] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-02 21:47] jlincbio commented on #1423
@darogan thanks for reviewing CRED, Dr. Hamilton. I apologize for the delay.

I am trying to figure out why the references are not showing up - I suspected that it is the bibTex entries but paper.bib seemed to pass the BibTex quality checker (https://biblatex-linter.herokuapp.com/validate); I will continue to try to fix it.

Re: your comment about the recent PLoS ONE publication -  I did not expli

[2019-05-02 21:47] jlincbio commented on #1423
@whedon generate pdf

[2019-05-02 21:47] whedon commented on #1423
[code]

[2019-05-02 21:48] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-02 21:48] jlincbio commented on #1423
@lpantano Thanks for setting the review process up :)

[2019-05-02 22:06] danielskatz commented on #1157
👋 @justinalsing - can you make a new archive of the software in zenodo, figshare, etc.?  And paste the DOI here?  Also, if the version has changed, please let me know the new version number.

[2019-05-02 22:06] danielskatz commented on #1157
Thanks very much @taqtiqa-mark and @Chilipp for your work on this review!

[2019-05-02 22:18] sauln commented on #1315
Thank you @leouieda, @lmcinnes, and @ixjlyons for taking the time to edit and review.  The feedback is encouraging and we are working on each of the changes that have been suggested.

@leouieda, the past few weeks have been crazy for me, but I am working on the examples and mutable defaults currently. I hope to finish up within the next 2 weeks.

I've created the checklist here, as github won't le

[2019-05-02 22:56] kyleniemeyer commented on #1419
Hi @cjordan, the JOSS editors discussed your submission, and decided that—while useful—we classify it more as a minor utility than what we consider research software.

However, some folks did find is useful, and suggested that the novel elements of this code would be a good addition to existing community software packages such as https://github.com/astropy/specutils

[2019-05-02 22:56] #1419 closed

[2019-05-02 23:47] cjordan commented on #1419
Thank you for your correspondence @kyleniemeyer.

[2019-05-03 01:30] arfon commented on #1349
@whedon set 10.5281/zenodo.2658749 as archive

[2019-05-03 01:30] whedon commented on #1349
OK. <a href="https://doi.org/10.5281/zenodo.2658749" target="_blank">10.5281/zenodo.2658749</a> is the archive.

[2019-05-03 01:30] arfon commented on #1349
@whedon accept

[2019-05-03 01:30] whedon commented on #1349
[code]

[2019-05-03 01:30] whedon commented on #1349
PDF failed to compile for issue #1349 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1349 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-05-03 01:31] arfon commented on #1349
@whedon accept

[2019-05-03 01:31] whedon commented on #1349
[code]

[2019-05-03 01:31] whedon commented on #1349
[code]

[2019-05-03 01:31] whedon commented on #1349
PDF failed to compile for issue #1349 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    159      0 --:--:-- --:--:-- --:--:--   160
sh: 0: getcwd() f

[2019-05-03 01:32] whedon commented on #1349
[code]

[2019-05-03 01:40] arfon commented on #1349
@whedon accept

[2019-05-03 01:40] whedon commented on #1349
[code]

[2019-05-03 01:41] whedon commented on #1349
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/655

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/655, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-03 01:41] whedon commented on #1349
[code]

[2019-05-03 01:42] arfon commented on #1349
@whedon accept deposit=true

[2019-05-03 01:42] whedon commented on #1349
[code]

[2019-05-03 01:43] whedon commented on #1349
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/656
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01349](https://doi.org/10.21105/joss.01349)
2. If everything looks go

[2019-05-03 01:45] arfon commented on #1349
@yxliang01, @sgyzetrov, @1138-4EB - many thanks for your reviews here ✨

@mviereck - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-05-03 01:45] #1349 closed

[2019-05-03 01:45] whedon commented on #1349
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01349/status.svg)](https://doi.org/10.21105/joss.01349)

**We need your help!**

Journal of Open Source Softwar

[2019-05-03 02:19] jlincbio commented on #1423
@whedon generate pdf

[2019-05-03 02:19] whedon commented on #1423
[code]

[2019-05-03 02:20] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-03 02:26] jlincbio commented on #1423
@whedon generate pdf

[2019-05-03 02:26] whedon commented on #1423
[code]

[2019-05-03 02:27] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-03 02:31] jlincbio commented on #1423
@whedon generate pdf

[2019-05-03 02:31] whedon commented on #1423
[code]

[2019-05-03 02:33] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-03 02:35] jlincbio commented on #1423
@darogan sorry about the delay. It turned out that I didn't properly set the reference property names properly and was not calling them in the manuscript. This latest version seemed to have fixed it:

[2019-05-03 04:14] jedbrown commented on #1400
Oh, I see what you mean. That's unfortunate. I don't think there's a way to format the link optimally, so would type it manually `Nek5000 (2019)` and drop in the `nocite`. If that looks right, we'll be ready to tag and archive.

[2019-05-03 07:18] jason-neal commented on #1053
Here you go

[![DOI](https://zenodo.org/badge/76452634.svg)](https://zenodo.org/badge/latestdoi/76452634)

[2019-05-03 07:59] mviereck commented on #1349
Great!

Much thanks for all your friendly help and work, @arfon, @yxliang01, @sgyzetrov, @1138-4EB  ! :+1:  :+1: :+1:

:-)

[2019-05-03 08:41] xuanxu commented on #1424
@kyleniemeyer yes, I can edit this submission

[2019-05-03 08:43] xuanxu commented on #1424
@whedon assign @xuanxu as editor

[2019-05-03 08:43] whedon commented on #1424
OK, the editor is @xuanxu

[2019-05-03 08:49] xuanxu commented on #1424
:wave: @Juanlu001 Would you be willing to review this paper? I think your expertise in Astrodynamics and Astropy packages makes you a great fit for this submission.

[2019-05-03 08:52] Juanlu001 commented on #1424
¡Hola @xuanxu! Sure, I would be glad to review the sbpy paper :new_moon:

[2019-05-03 08:57] xuanxu commented on #1424
@Juanlu001 Great! I'll assign you and start the review issue now