[2022-03-03 16:01] dankelley commented on #3594
@kthyng actually, the `docker` method fails for me (maybe something to do with the fact I'm on osx).  Maybe you can try `@editorialbot recommend-accept` again, since it (sensibly) won't let me do that.   (I don't think these checks are done when I do `@editorialbot generate pdf`, based on the fact that I hadn't seen these errors before).

[2022-03-03 16:08] kthyng commented on #3594
@editorialbot recommend-accept

[2022-03-03 16:08] kthyng commented on #3594
@dankelley yes apparently things that are warnings when generating the PDFs regularly become errors at this stage.

[2022-03-03 16:17] danielskatz commented on #4062
@editorialbot set 10.5281/zenodo.6325732 as archive

[2022-03-03 16:20] nasserma commented on #3742
@lucydot @WilkAndy @bonh I have confirmed that the latest PDF is the correct/updated version of the manuscript. Sorry for not catching this earlier, but the preview PDF built correctly and I did not check the Github version thinking that it would be exactly the same.

Since the revised manuscript is significantly different than before, I am hoping that both reviewers can revisit their comments and

[2022-03-03 16:20] danielskatz commented on #4062
@ddeehere - Please check that the Zenodo item has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on it - I should be removed). You may also add the authors' ORCID.

You can change metadata and then republish the zenodo item without getting or needing a new DOI, as long as you d

[2022-03-03 16:45] kyleniemeyer commented on #4163
Hello @KonradHoeffner, the JOSS editorial board reviewed your submission, and unfortunately have found it out of scope for review by JOSS since it is primarily focused on visualization, which is outside our definition of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software). It also seems a bit focused on teaching, which is similarly outside s

[2022-03-03 16:45] kyleniemeyer commented on #4163
@editorialbot reject

[2022-03-03 16:48] kyleniemeyer commented on #4204
@DanielRivasMD if you review our definition of what we expect in terms of ["substantial scholarly effort"](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), software packages that are under 1000 lines of source code are automatically flagged for review, and those under 300 are automatically rejected. Although lines of source code (non-comment) is not a perfect me

[2022-03-03 16:49] kyleniemeyer commented on #3849
Congratulations @inpefess on your article's publication in JOSS!

Many thanks to @lutzhamel and @quickbeam123 for reviewing this, and @VivianePons for editing.

[2022-03-03 16:49] #3849 closed

[2022-03-03 16:49] kyleniemeyer commented on #3594
Congratulations @dankelley on your article's publication in JOSS!

Many thanks to @gonzalobravoargentina and @patrickcgray for reviewing this, and @kthyng for editing.

[2022-03-03 16:49] #3594 closed

[2022-03-03 16:52] dankelley commented on #3594
Thanks, @kthyng, @gonzalobravoargentina and @patrickcgray, for your insights, your generosity and your patience.  Dan.

[2022-03-03 16:54] Kevin-Mattheus-Moerman commented on #3980
@editorialbot set JOSS-review as branch

[2022-03-03 16:55] Kevin-Mattheus-Moerman commented on #3980
@editorialbot generate pdf

[2022-03-03 16:56] Kevin-Mattheus-Moerman commented on #3980
@editorialbot generate pdf

[2022-03-03 17:00] Kevin-Mattheus-Moerman commented on #3980
@PolymerGuy apologies, the editorial bot recently changed as you can see. It should work now as shown.

1. Can you clarify some things. Did you say that the changes in the paper have not been reviewed yet? If so I'll ask the reviewers to have a quick look.
2. On the ZENODO archive, you need to edit the title and add your other authors (like on the paper). Have you been able to edit the archive? ZE

[2022-03-03 17:17] diehlpk commented on #4075
@editorialbot commands

[2022-03-03 17:17] diehlpk commented on #4075
@editorialbot check references

[2022-03-03 17:18] diehlpk commented on #4075
@editorialbot generate pdf

[2022-03-03 17:29] KonradHoeffner commented on #4163
Thanks for the advice! I will definitely consider submitting a paper to JOSE.

[2022-03-03 17:36] pythonpanda2 commented on #4166
@galessiorob  Not sure if this is an issue due to Safari. I still cannot select the tick option in check list. I am going to try again in Firefox.

[2022-03-03 17:54] kyleniemeyer commented on #4014
Hi @symmy596, I just submitted a minor PR that fixes some formatting things with the paper: https://github.com/symmy596/SurfinPy/pull/29

Could you merge that? Then, I can accept the paper.

[2022-03-03 18:00] symmy596 commented on #4014
PR merged

[2022-03-03 18:03] kyleniemeyer commented on #4014
@editorialbot generate pdf

[2022-03-03 18:05] kyleniemeyer commented on #4014
@editorialbot accept

[2022-03-03 18:07] ddeehere commented on #4062
@danielskatz Thank you for all your help! Metadata is edited.

[2022-03-03 18:18] kyleniemeyer commented on #3574
Hi @noah80, I just submitted a small PR to fix some reference formatting in the paper: https://github.com/FZJ-IEK3-VSA/LoadProfileGenerator/pull/15

Could you merge this? I can then accept the paper.

[2022-03-03 18:18] kyleniemeyer commented on #4014
Congratulations @jstse on your article's publication in JOSS!

Many thanks to @awvwgk and @dandavies99 for reviewing this, and @lucydot for editing.

[2022-03-03 18:18] #4014 closed

[2022-03-03 18:19] sbenthall commented on #4144
Thank you, @gradvohl
 I'll add you as a reviewer

[2022-03-03 18:20] sbenthall commented on #4144
@editorialbot add @gradvohl as reviewer

[2022-03-03 18:24] danielskatz commented on #4062
@editorialbot recommend-accept

[2022-03-03 18:28] danielskatz commented on #4062
👋 @xuanxu - Any ideas on this error?

[2022-03-03 18:30] chchch commented on #4022
Hi, I think the paper should be ready now! Thanks.

[2022-03-03 18:38] kyleniemeyer commented on #3905
@editorialbot accept

[2022-03-03 18:42] kyleniemeyer commented on #4021
@editorialbot accept

[2022-03-03 18:44] kyleniemeyer commented on #3905
Congratulations @FredDeCeuster on your article's publication in JOSS!5887-8498))

Many thanks to @gonsie and @CFGrote for reviewing this, and @xuanxu for editing.

[2022-03-03 18:44] #3905 closed

[2022-03-03 18:48] kyleniemeyer commented on #4021
Congratulations @ni1o1 on your article's publication in JOSS!

Many thanks to @jGaboardi and @anitagraser for reviewing this, and @martinfleis for editing.

[2022-03-03 18:48] #4021 closed

[2022-03-03 18:52] kyleniemeyer commented on #4179
Thanks @mattpitkin, we are going to move forward with this one.

@jbytecode could you edit this?

[2022-03-03 18:52] kyleniemeyer commented on #4179
@editorialbot invite @jbytecode as editor

[2022-03-03 18:54] kyleniemeyer commented on #4178
@martinfleis could you this submission?

[2022-03-03 18:54] kyleniemeyer commented on #4178
@editorialbot invite @martinfleis as editor

[2022-03-03 18:58] kyleniemeyer commented on #4161
Hello @StephanStock, the JOSS editors reviewed your submission, and unfortunately found that it does not meet our requirements to proceed to review in its current state. Although it is on the small side, it looks useful; however, it does not appear extensible, and the documentation, packaging, and testing standards do not meet our expectations.

If you are able to further develop the software pack

[2022-03-03 18:58] kyleniemeyer commented on #4161
@editorialbot reject

[2022-03-03 18:58] #4161 closed

[2022-03-03 18:58] jbytecode commented on #4179
@kyleniemeyer - of course, gladly

[2022-03-03 18:58] jbytecode commented on #4179
@editorialbot set me as editor

[2022-03-03 18:59] jbytecode commented on #4179
@editorialbot commands

[2022-03-03 19:00] kyleniemeyer commented on #4192
Hello @InCogNiTo124, the JOSS editors reviewed your submission, and unfortunately this software package does not meet our requirements of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) due to its small size.

One possible alternative to JOSS is to follow GitHub's guide on how to create a permanent archive and DOI for your software

[2022-03-03 19:00] kyleniemeyer commented on #4192
@editorialbot reject

[2022-03-03 19:00] #4192 closed

[2022-03-03 19:00] jbytecode commented on #4179
@editorialbot assign @jbytecode as editor

[2022-03-03 19:02] kyleniemeyer commented on #4197
@editorialbot reject

[2022-03-03 19:02] #4197 closed

[2022-03-03 19:02] jbytecode commented on #4179
@editorialbot set paper as branch

[2022-03-03 19:03] jbytecode commented on #4179
@editorialbot check references

[2022-03-03 19:03] jbytecode commented on #4179
@editorialbot generate pdf

[2022-03-03 19:04] jbytecode commented on #4179
Dear @mattpitkin,

Do you have any suggestions for potential reviewers? You can use the list given at the top of this issue.

[2022-03-03 19:14] martinfleis commented on #4178
@editorialbot assign me as editor

[2022-03-03 19:16] martinfleis commented on #4178
@kyleniemeyer yes, I should be able to edit this submission.

[2022-03-03 19:52] noah80 commented on #3574
Done!

[2022-03-03 19:58] kyleniemeyer commented on #3574
@editorialbot generate pdf

[2022-03-03 19:58] kratzert commented on #4050
Hi @elbeejay,

I will try to make the changes today yes, definitely plan to add them prior to the publication (tagged release), since it is not a lot of work. Also thanks for the typo, I will make sure that is fixed. I will come back to you as soon as I have everything done.

[2022-03-03 20:02] kyleniemeyer commented on #3574
@editorialbot accept

[2022-03-03 20:07] kyleniemeyer commented on #3574
Congratulations @noah80 on your article's publication in JOSS!

Many thanks to @mewilhel and @szkafander for reviewing this, and @fraukewiese for editing it.

[2022-03-03 20:07] #3574 closed

[2022-03-03 20:14] xuanxu commented on #4062
It looks like both figures have the same id (fig:PopMedNet) in the paper.md file. Changing it in any of them should fix it.

[2022-03-03 20:25] danielskatz commented on #4062
Thanks @xuanxu

[2022-03-03 20:25] danielskatz commented on #4062
@ddeehere - can you update this?  We don't need a new zenodo deposit, as we only require the software to be archived, not the final paper

[2022-03-03 20:27] ddeehere commented on #4062
@danielskatz Yes, just updated.

[2022-03-03 20:27] tpurcell90 commented on #3960
@jarvist is this ready to go?

[2022-03-03 20:27] danielskatz commented on #4062
@editorialbot recommend-accept

[2022-03-03 20:28] dhhagan commented on #3219
@slayoo Can you update the title and author list in zenodo to make it match the paper?

[2022-03-03 20:28] dhhagan commented on #3219
@editorialbot set v1.27 as version

[2022-03-03 20:32] danielskatz commented on #4062
@editorialbot check references

[2022-03-03 20:37] danielskatz commented on #4062
@ddeehere - there are a couple of things I'm not happy about in the metadata and pdf, but these are issues on the JOSS side, not on what you submitted.  Until these are fixed, I'm not going to to ahead with the final acceptance and publishing, but hopefully this won't take long to resolve

[2022-03-03 20:55] arcuri82 commented on #4197
Hi @kyleniemeyer
  thanks for taking time to review this submission. It is unfortunate, but I understand. We will consider other venues.

I have only one comment/suggestion: you might want to update the instructions regarding [scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), in particular the sentence

considering this submitted software has mo

[2022-03-03 21:28] inpefess commented on #3849
@lutzhamel @quickbeam123 thank you for your valuable comments! @VivianePons thank you for finding great reviewers and coordinating the process!

[2022-03-03 21:31] kratzert commented on #4050
- Link to tagged version: https://github.com/neuralhydrology/neuralhydrology/releases/tag/v.1.2.3
- Link to archived software: https://zenodo.org/record/6326394
- Checked all authors names, added ORCID ids
- DOI: https://doi.org/10.5281/zenodo.6326394

The paper is also updated with the typo fix.

Anything else you need?

[2022-03-03 22:05] ha0ye commented on #3888
@fboehm No more issues to report from me.

[2022-03-03 22:29] mcsiple commented on #3888
Thanks @ha0ye -- and thank you for adding the Markdown child doc thing as its own issue. I  don't know if this is required, but the automated review thingy might be waiting until you check off boxes above.

@fboehm Let me know if there are other things I should address, otherwise I eagerly await your decision!

[2022-03-03 22:33] nulberry commented on #4038
To fully integrate Windows and MacOS into my CI, I am working on setting up `windows-2022` and `macos-latest` runners to perform the same testing that was running on `ubuntu-latest`. I have only basic experience with GitHub Workflows so it might take another day or two.

[2022-03-03 22:45] yhtang commented on #4171
@elizabethnewman: I'm having some difficulties running the [timing result notebook](https://github.com/elizabethnewman/hessQuik/blob/main/hessQuik/examples/hessQuikTimingTest.ipynb) on my local machine. Specifically, the problem seems to be related to invoking system commands (e.g. `!python`) in a notebook cell. In that case, the system's default Python interpreter gets called, instead of the one

[2022-03-03 22:54] Cole-Monnahan-NOAA commented on #3444
I'm looking at this branch https://code.usgs.gov/umesc/quant-ecology/fishstan/-/commits/joss-cole

and don't see much in the way of addressing my comments. Am I missing something? Could you point me to the commits addressing the issues above? thanks!

[2022-03-03 23:43] hfmark commented on #3858
Hi @leouieda, I'm happy to review this. I also haven't reviewed for JOSS before - I'll look over the documentation.

[2022-03-04 00:01] ddeehere commented on #4062
@danielskatz I appreciate the status. Looking forward to having it approved in the near future. Thanks!

[2022-03-04 00:05] davidegraff commented on #3950
is there anything else that needs to be done now @richardjgowers ?

[2022-03-04 00:26] arepstein commented on #4164
@rkurchin I don't think the paper compiled correctly. Is that an issue with the repo that I should raise or is it with JOSS? Thanks

[2022-03-04 01:28] HaoZeke commented on #3390
Hi @diehlpk and @Muhao-Chen. Apologies for the delay. My original comments have been adequately resolved and I am happy to recommend this for publication in its current form.

[2022-03-04 01:32] pythonpanda2 commented on #4166
@galessiorob I am not able to get the checklist sorted out even after switching to Firefox. I am just going to go ahead and start the review. Thanks a lot for your patience.

[2022-03-04 02:22] ColCarroll commented on #4113
Looks like both of these have been addressed, as have all my issues -- I am happy to recommend acceptance. Thanks for the nice software @jeremiecoullon !

[2022-03-04 02:23] galessiorob commented on #4166
@pythonpanda2 thank you!

[2022-03-04 02:25] galessiorob commented on #4166
@kyleniemeyer could you help us troubleshoot please?

[2022-03-04 02:26] galessiorob commented on #4022
@editorialbot generate pdf

[2022-03-04 02:31] galessiorob commented on #4022
@kinow and @xiaohk thank you so much for your review! We really value the time and effort you put into this paper 🎉

@chchch  The next thing we need from you is to deposit your software in Zenodo and post the DOI here and the most recent version. After that, we can set the final version, generate a final proof, and have an Editor in Chief do the publishing.

[2022-03-04 02:33] kinow commented on #4022
Thank you too for the support and patience @galessiorob ! And congrats on the paper @chchch !

[2022-03-04 03:27] shamsiharis commented on #3861
What simulation environments do you mean? AixCaliBuHA aims at calibration, not simulation. If there is a new simulation environment that wants to use AixCaliBuHA, a SimulationAPI child-class could be written to enable said simulation environment. I could clarify this point in the paper if need, or did I understood your comment the wrong way?

@FWuellhorst I apologize I completely missed your comme

[2022-03-04 06:07] leouieda commented on #3858
Thank you @hfmark! 🚀  Please see [our reviewer guide](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for more details and feel to ask any time.  I'll post a comment with more general instructions as soon as I start the review thread.

[2022-03-04 06:07] leouieda commented on #3858
@editorialbot add @hfmark as reviewer

[2022-03-04 06:07] leouieda commented on #3858
@editorialbot start review

[2022-03-04 06:07] editorialbot opened #4217 "[REVIEW]: pyprop8: A lightweight code to simulate seismic observables in a layered half-space"
**Submitting author:** @valentineap (<a href="http://orcid.org/0000-0001-6134-9351">Andrew Valentine</a>)
**Repository:** https://github.com/valentineap/pyprop8
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.2
**Editor:** @leouieda
**Reviewers:** @hemmelig, @hfmark
**Archive:** 10.5281/zenodo.7019949

## Status

[![status](https://joss.theoj.org/papers/695768d664162b443c5dec

[2022-03-04 06:07] #3858 closed

[2022-03-04 06:10] leouieda commented on #3858
@valentineap @hfmark @hemmelig I've now started the review in issue #4217. This means all communication should now be done through that issue instead of this one. I'll post some more instructions there and there should already be information provided by our @editorialbot (formerly @whedon). Thank you for agreeing to review this submission!

[2022-03-04 06:21] leouieda commented on #4217
:wave: @valentineap @hemmelig @hfmark welcome to the review thread for the paper! All of our communications will happen here from now on.

**Before we start:** Both reviewers need to post the comment `@editorialbot generate my checklist` in this thread to generate their review checklist.

The JOSS review is different from most other journals:

* Our goal is to work with the authors to help them me

[2022-03-04 08:35] mishioo commented on #4164
The paper is on a separate branch "joss", but maybe I'll just merge it to "master" to make its compilation straightforward.

[2022-03-04 08:38] mishioo commented on #4164
@whedon generate pdf

[2022-03-04 08:39] mishioo commented on #4164
@editorialbot generate pdf

[2022-03-04 09:46] PolymerGuy commented on #3980
@Kevin-Mattheus-Moerman The state of the papers is as it was when the reviewers replied that the amendments made were answering their comments.
I have now been able to edit the ZENODO archive and the meta-data now matches the JOSS-paper.

[2022-03-04 09:56] mithun218 commented on #3885
Thank you so much @meg-simula. I have carefully read through the paper and fixed all the grammatical errors [here](https://github.com/mithun218/GiNaCDE/pull/37) and [here](https://github.com/mithun218/GiNaCDE/pull/38). Please check these.

[2022-03-04 10:10] AlexanderJuestel commented on #3709
I will give the docs another try @crvernon, so hopefully, they will build now!

[2022-03-04 10:15] peircej commented on #4045
Yes, there is now a brief State of the Field section now and all my items are ticked.

@nastaran62 I'm slightly embarassed pointing this out, but there is actually a journal article for PsychoPy that you can cite. It really helps other academic FOSS authors to have citations made properly
https://link.springer.com/article/10.3758/s13428-018-01193-y

Surprisingly, I couldn't find a way to cite Lab

[2022-03-04 10:25] tleonardi commented on #4094
Hi, apologies for the slow reply. Same thing for me, this is outside my field of expertise and I would be able to do a proper job!

[2022-03-04 10:26] mattpitkin commented on #4179
Hi @jbytecode, a few options would be:

sbacchio
Het-Shah
db87
myousefi2016
jakryd

I've tried to chose some from further down the list as I expect people near the top get more requests than others!

[2022-03-04 10:58] whedon opened #4218 "[PRE REVIEW]: Testing custom branch"
**Submitting author:** @xuanxu (<a href="http://orcid.org/0000-0001-7699-3983">Juanjo Bazán</a>)
**Repository:** https://github.com/n8thangreen/BCEA/
**Branch with paper.md** (empty if default branch): JOSS-paper
**Version:** v2.4.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Juanjo Bazán

## Status

[![status](https://joss.theoj.org/papers/0f9cfa18f9d7d37337d98174be299609/status.

[2022-03-04 11:01] xuanxu commented on #4218
Wrong repo

[2022-03-04 11:01] #4218 closed

[2022-03-04 11:42] valentineap commented on #4217
@hemmelig @hfmark Thank you both for agreeing to do this - don't hesitate to get in touch if you have any questions!

[2022-03-04 12:04] richardjgowers commented on #3950
@whedon generate pdf

[2022-03-04 12:05] richardjgowers commented on #3950
@editorialbot generate pdf

[2022-03-04 12:06] richardjgowers commented on #3950
@editorialbot check references

[2022-03-04 12:08] richardjgowers commented on #3950
@davidegraff thanks for your patience, I think we're ready to move forwards.  Can you archive a release of the software on zenodo (or similar) and report the DOI back here?  Also is the version still v1.1.1?

[2022-03-04 12:08] richardjgowers commented on #3950
@editorialbot generate pdf from branch joss-paper

[2022-03-04 12:09] richardjgowers commented on #3950
@editorialbot set joss-paper as branch

[2022-03-04 12:09] richardjgowers commented on #3950
@editorialbot generate pdf

[2022-03-04 12:09] richardjgowers commented on #3950
@editorialbot check references

[2022-03-04 12:11] Kevin-Mattheus-Moerman commented on #3980
@editorialbot set 10.5281/zenodo.6324870 as archive

[2022-03-04 12:13] Kevin-Mattheus-Moerman commented on #3980
@openjournals/dev are the archive links no longer presented as URLs (in both the return comment and the DOI listed at the top of this issue)? I think it would be better to have them be URLs to so that I can click on them to verify the link points to the right thing.

[2022-03-04 12:13] Kevin-Mattheus-Moerman commented on #3980
@editorialbot recommend-accept

[2022-03-04 12:18] Kevin-Mattheus-Moerman commented on #3980
@openjournals/dev am I doing something wrong here? :point_up:

[2022-03-04 13:12] xuanxu commented on #3980
The bib file contains references with multiple/duplicated ISBNs.
[This PR](https://github.com/PolymerGuy/recolo/pull/1) should fix it.

[2022-03-04 13:32] pdebuyl commented on #4205
Thanks @mattpitkin for the review!

[2022-03-04 13:37] AlexanderJuestel commented on #3709
@crvernon I managed to get my documentation running again, finally. I am trying now to finish the remaining open remarks of @omshinde and @kanishkan91

[2022-03-04 13:43] hfmark commented on #4217
@editorialbot generate my checklist

[2022-03-04 13:47] hemmelig commented on #4217
@editorialbot generate my checklist

[2022-03-04 14:04] AlexanderJuestel commented on #3709
@kanishkan91  I would like to ask you to check the following points off your checklist:

- **Example usage**: Here you can find many examples of using GemGIS: https://gemgis.readthedocs.io/en/latest/getting_started/tutorial/index.html

- **Functionality documentation**: I was just able to build the documentation again. See for example https://readthedocs.org/projects/gemgis/builds/16267667/

- **C

[2022-03-04 14:10] Kevin-Mattheus-Moerman commented on #3980
Thanks, @xuanxu did you also see my other query on the urls for DOIs? :point_up:

[2022-03-04 14:11] Kevin-Mattheus-Moerman commented on #3980
@PolymerGuy can you check that PR? :point_up:

[2022-03-04 14:16] xuanxu commented on #3980
Saw it now. Yeah we'll add links, at least in the reply comment.

[2022-03-04 14:19] arfon commented on #4062
@editorialbot recommend-accept

[2022-03-04 14:29] raerickson commented on #3444
@Cole-Monnahan-NOAA I'll include my reconciliation here. Sorry for the frustration this system is causing you.

**Thank you for your review**, @Cole-Monnahan-NOAA

**JOSS's example paper is two pages long as well,
<https://joss.theoj.org/papers/10.21105/joss.00388>. We are open to pull
requests to speed up our package's build time.**

**We will investigate `pkgdown` for future packages. We do not

[2022-03-04 14:30] arfon commented on #4062
@danielskatz – these should be addressed now.

[2022-03-04 14:59] fraukewiese commented on #3861
Thanks you very much for the thorough review @shamsiharis .
We will now wait for the further review of @samanmostafavi - are there any open questions you would like to be adressed?

[2022-03-04 15:17] rkurchin commented on #4164
Glad you worked this out! For future reference, we can compile papers from other branches, I just need to tell the bot which branch it should look on. So if you want to move it back, that's fine – just let me know.

[2022-03-04 15:48] danielskatz commented on #4062
thanks @arfon

[2022-03-04 15:48] danielskatz commented on #4062
@editorialbot accept

[2022-03-04 15:52] davidegraff commented on #3950
@richardjgowers the version is still 1.1.1 and the DOI from zenodo is 10.5281/zenodo.6327783

[2022-03-04 16:02] danielskatz commented on #4062
Congratulations to @ddeehere (Daniel Dee) and co-authors!!

And thanks to @jhancock4d and @lrasmus for reviewing!
We couldn't do this without you

[2022-03-04 16:02] #4062 closed

[2022-03-04 16:13] wesleyburr commented on #4029
@KristinaRiemer - I'm all done my review. This is a highly complex package, with many moving parts, so I have not verified all of the interaction and functionality, but the package installs, has some excellent thoughtful elements (e.g., the Docker setup), and has a tremendous breadth of applications. The help system is thorough and well written. I only came across one issue, which Rick immediately

[2022-03-04 16:16] jbytecode commented on #4179
@mattpitkin - thank you, this is very helpful.

[2022-03-04 16:16] jbytecode commented on #4179
👋👋👋 Dear @sbacchio  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**lintegrate: A C/Python numerical integration library for working in log-space**". You can find more information at the top of this Github issue (http

[2022-03-04 16:16] Cole-Monnahan-NOAA commented on #3444
@raerickson thanks for pasting that in and responding to my thoughts

@marcosvital I support this MS moving forward and have completed the checklist. Let me know if there is more to be done on my end. Thanks -Cole

[2022-03-04 16:17] jbytecode commented on #4179
👋👋👋 Dear @Het-Shah  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**lintegrate: A C/Python numerical integration library for working in log-space**". You can find more information at the top of this Github issue (http

[2022-03-04 16:30] pmli commented on #4078
I believe I'm done with the review. All of the [issues](https://github.com/florisvb/PyNumDiff/issues?q=author%3Apmli+) I opened are closed.

[2022-03-04 16:33] zhanghe9704 commented on #3665
Hello,

Could anyone give me some update on this review? Thanks a lot!
Have a good weekend!

He

On Thu, Feb 24, 2022 at 6:58 AM Zhang He ***@***.***> wrote:

[2022-03-04 17:05] slayoo commented on #3219
just added one more funding acknowledgement to the paper.md

[2022-03-04 17:05] slayoo commented on #3219
@whedon generate pdf from branch master

[2022-03-04 17:06] jiahecui commented on #4075
@diehlp Hello and sorry for waiting, we have now addressed the final item in response to Reviewer 1 and provided concluding remarks for our tests on different operating systems. These can now be found in lines 68-73 of the paper, and are also attached below for convenience.

"_The software fully operates in Windows under both ‘debug mode’ and ‘standard mode’ for hardware control. For Linux and mac

[2022-03-04 17:07] slayoo commented on #3219
nice to meet you, @editorialbot

[2022-03-04 17:07] slayoo commented on #3219
@editorialbot generate pdf from branch master

[2022-03-04 17:07] slayoo commented on #3219
@editorialbot commands

[2022-03-04 17:08] slayoo commented on #3219
@editorialbot generate pdf

[2022-03-04 17:19] slayoo commented on #3219
@dhhagan the markdown-to-latex-to-pdf workflow makes it tricky for us to control line breaks in the list of authors and affiliations:
![image](https://user-images.githubusercontent.com/89685/156810607-9a73177e-846f-4fe6-aba2-8ed67eaafc7e.png)

Some kludge workarounds seem to be possible by inserting non-braking spaces here and there, but it is cumbersome, and I'm not sure if it will actually even

[2022-03-04 17:28] arepstein commented on #4164
Thanks @mishioo !

[2022-03-04 17:44] mishioo commented on #4164
Oh, I was thinking about merging the paper after it's accepted anyway, so it's fine. Hopefully it will stay there for good. ;)

[2022-03-04 18:09] jonathanHuwP commented on #4108
Hello,

Sorry for the delayed response.

I have picked out a set of possible reviewers, see the attached spreadsheet.

Thanks,
Jonathan
________________________________
From: Lucy Whalley ***@***.***>
Sent: 22 February 2022 15:19
To: openjournals/joss-reviews ***@***.***>
Cc: Jonathan Pickering ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: CrysalGrowthTr

[2022-03-04 18:12] mdhaber commented on #4159
@whedon generate pdf from branch joss_studentized_range

[2022-03-04 18:12] mdhaber commented on #4159
@editorialbot generate pdf from branch joss_studentized_range

[2022-03-04 18:13] mdhaber commented on #4159
@editorialbot commands

[2022-03-04 18:13] mdhaber commented on #4159
@editorialbot set joss_studentized_range as branch

[2022-03-04 18:13] mdhaber commented on #4159
@editorialbot generate pdf

[2022-03-04 18:18] pibion commented on #3665
@zhanghe9704 apologies for the extremely slow start.  I've been having a hard time finding reviewers and am increasing my emailing rate to 15 potential editors per week.

One of the ways I find people to email is through related papers - so if you could refer me to papers that are related to this work that would be helpful!

[2022-03-04 18:18] pibion commented on #3665
@ax3l would you be interested and able to be a reviewer for this paper?  Your technical perspective would be a useful one!

[2022-03-04 18:22] pibion commented on #3821
@janmandel just checking in on the open review items in your list.  Has @fjprichard addressed all your issues, or is there more work that needs to be done?

[2022-03-04 18:57] kellyrowland commented on #3318
I'm going to be finishing out the review for this paper; I have taken the remaining items from @munkm and assigned them to myself.

[2022-03-04 19:02] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-03-04 19:03] nastaran62 commented on #4045
@editorialbot generate pdf from branch master

[2022-03-04 19:07] danielskatz commented on #4045
@editorialbot set master as branch

[2022-03-04 19:08] danielskatz commented on #4045
@editorialbot generate pdf

[2022-03-04 19:11] elbeejay commented on #4050
@editorialbot set v.1.2.3 as version

[2022-03-04 19:13] elbeejay commented on #4050
@editorialbot set 10.5281/zenodo.6326394 as archive

[2022-03-04 19:19] elbeejay commented on #4050
@kratzert that is it, thank you for taking care of those last items. I wanted to thank the folks that peer-reviewed this submission once again as well - so thank you to @jhamman, @ammilten, and @chuckaustin.

At this time I will be recommending that we accept and publish this submission in JOSS. The paper and metadata will get one final review by an Editor-in-Chief prior to publication.

[2022-03-04 19:19] elbeejay commented on #4050
@editorialbot recommend-accept

[2022-03-04 19:22] kratzert commented on #4050
Also thank you from my side for taking care of the entire review process @elbeejay and  @jhamman, @ammilten and @chuckaustin  for reviewing our package and providing useful feedback!

Juhu :tada:

[2022-03-04 19:23] mcflugen commented on #3344
@kthyng No worries about the delay, it was an unusual submission that made it difficult to find reviewers and part of the delay was definitely on our side.

Anyway, the version we would like associated with this JOSS paper is *v0.3.9*. I've created a release, and uploaded it to Zenodo.

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.6329737.svg)](https://doi.org/10.5281/zenodo.6329737)

[2022-03-04 19:24] kellyrowland commented on #3318
@alexmalins this all looks great. 🙂 I would have loved to have a tool like this to check my own decay calculations.

[2022-03-04 19:25] kellyrowland commented on #3318
@editorialbot set v0.4.9 as version

[2022-03-04 19:25] kellyrowland commented on #3318
@editorialbot generate pdf

[2022-03-04 19:26] kellyrowland commented on #3318
@editorialbot set joss_paper as branch

[2022-03-04 19:26] kellyrowland commented on #3318
@editorialbot generate pdf

[2022-03-04 19:28] kellyrowland commented on #3318
@editorialbot check references

[2022-03-04 19:31] kellyrowland commented on #3318
@alexmalins I'm ready to recommend this for acceptance. Please create an archive of the v0.4.9 tagged release and archive it (on Zenodo, figshare, or elsewhere) and post the DOI here.

[2022-03-04 19:35] nastaran62 commented on #4045
@editorialbot generate pdf

[2022-03-04 19:38] nastaran62 commented on #4045
@peircej Thank you very much for your review. Sorry about my mistake. I cited the PsychoPy paper too. I also couldn't find any original paper for LSL to cite. There are only some papers that used LSL.

[2022-03-04 19:48] ashleychontos commented on #3331
Great, thank you @mbobra!

@MaryumSayeed and I just finished chatting about the action items for `pySYD` and both agreed that 2 weeks seems like a reasonable amount of time to finish up the remaining tasks (also paging @danxhuber). _**However,**_ her and I will reconvene again in a week to make sure we are still good for time. I have a general question (that would possibly affect the timeline) --

[2022-03-04 20:01] diehlpk commented on #4075
@jiahecui I think we are done with the edits.

Please

- [ ] Do a new release including all changes during the review and post the version here.
- [ ] Upload this release to Zenodo or FigShare and post the DOI here. Note that the title and authors have to match with the paper.

[2022-03-04 20:02] diehlpk commented on #3390
@Muhao-Chen Please address the requested changes in a timely manner, so we can finalize the paper.

[2022-03-04 21:21] zarrarkhan commented on #4015
@maczokni

Thank you for the helpful comments and suggestions. We have addressed these in commit [da9c41574820679fae9e0cb4871cf014edf2213c](https://github.com/JGCRI/rmap/commit/da9c41574820679fae9e0cb4871cf014edf2213c) with responses below:

- **Comment on Target Audience:** Sorry if this wasn't clear but by targeting non-GIS users we did not mean that this would not require data cleaning or proce

[2022-03-04 21:27] kyleniemeyer commented on #4166
@galessiorob @pythonpanda2  I think the issue is that since we switched to the new editorialbot infrastructure, the checklists at the top no longer work (@arfon is that right?)

Instead, @pythonpanda2 can you comment `@editorialbot generate my checklist` ? This will generate one for you that you can edit.

[2022-03-04 21:45] kyleniemeyer commented on #4050
Hi @kratzert, I made a small PR with some formatting fixes to the paper: https://github.com/neuralhydrology/neuralhydrology/pull/79

Could you merge this? Then I can publish the paper.

[2022-03-04 21:46] Het-Shah commented on #4179
I am fine reviewing. Thank you!

[2022-03-04 21:56] cmaimone commented on #3741
@chartgerink I've started the review and added several issues to the project repo.  I've asked for clarification, but the package seems to primarily implement methods that accompany another paper by the authors - so this seems to fall under https://joss.readthedocs.io/en/latest/submitting.html#co-publication-of-science-methods-and-software -- just a heads up; can wait for authors to clarify full f

[2022-03-04 22:03] kratzert commented on #4050
Done. Thanks for the fixes.

[2022-03-04 22:04] kyleniemeyer commented on #4050
@editorialbot accept

[2022-03-04 22:09] kyleniemeyer commented on #4050
Congratulations @kratzert on your article's publication in JOSS!
Many thanks to @ammilten, @chuckaustin, and @jhamman for reviewing this, and @elbeejay for editing.

[2022-03-04 22:09] #4050 closed

[2022-03-04 22:36] florisvb commented on #4078
Thanks for your patience and attention to detail, Petar, I really
appreciate it!

- Floris

On Fri, Mar 4, 2022 at 8:30 AM Petar Mlinarić ***@***.***>
wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate Program for Neuroscience
University of Nevada, Reno

Wildlife and Landscape Photography
Galleries: http://www.ArtInNaturePho

[2022-03-04 22:57] garrettj403 commented on #2688
I've taken an initial look through the `Hardware-control` package. In general, installation was relatively straight forward, the documentation is excellent, there are lots of examples to get started and I like the GUI widgets. However, this package supports far fewer instruments than other open-source projects, e.g., [InstrumentKit](https://github.com/Galvant/InstrumentKit). I've had a hard time a

[2022-03-05 00:20] jiahecui commented on #4075
Hi @diehlp, thank you very much for the instructions!

The version of the new release is v1.0.0.

This release has been uploaded to Zenodo. The DOI is 10.5281/zenodo.6330145, I've checked the title and authors, but please let me know if you spot any other problems with the Zenodo archiving. Many thanks again!

[2022-03-05 02:14] erik-whiting commented on #4061
Hey @prashjha just wanted to ping you and let you know I'm pretty sure this review is complete

[2022-03-05 05:25] jbytecode commented on #4179
@editorialbot add @Het-Shah as reviewer

[2022-03-05 08:06] PolymerGuy commented on #3980
@Kevin-Mattheus-Moerman I have now verified the changes made in the PR and ensured that the ISBN numbers are correct. The PR has been accepted and merged.

[2022-03-05 08:23] arfon commented on #4159
We should probably fix those (PRs welcome!). I'd prefer that we use a capital first letter too.

[2022-03-05 12:45] zhanghe9704 commented on #3665
Here is a paper on the tpsa package used in MAD-X:

https://cds.cern.ch/record/2141771/files/mopje039.pdf

He

On Fri, Mar 4, 2022 at 1:18 PM pibion ***@***.***> wrote:

[2022-03-05 13:20] maczokni commented on #4015
I'm really not trying to be difficult, but I believe the package requires extensive testing anyway. I just tried again with a different data set to map Local Authority areas in London and this is the result:

![map_param_KMEANS](https://user-images.githubusercontent.com/7291547/156884047-33587e37-33e1-453a-bb55-2634753e788e.png)

Here's the code:

[code]

Again I know you can manually find a bette

[2022-03-05 15:59] andr1976 commented on #4131
@fraukewiese , I can review :-)

[2022-03-05 17:54] arunpersaud commented on #2688
thanks for the initial feedback. And thanks for reporting the issues, we will try to address them this week. We can also try to get some of the instrument you mentioned supported, but we have none of those instruments available in our lab :( so we will not be able to test on our side.

[2022-03-05 19:01] ixjlyons commented on #4045
I have just one minor comment on the most recent paper version: line 92 (first paragraph of Research perspective section), maybe change "In another research" to "In another study" or "In another research study".

Aside from that, everything looks good to me. Nice job on the figure.

[2022-03-05 19:32] jeremiecoullon commented on #4113
@editorialbot generate pdf

[2022-03-05 19:33] Kevin-Mattheus-Moerman commented on #3980
@editorialbot recommend-accept

[2022-03-05 19:35] editorialbot opened #4219 "[PRE REVIEW]: rabpro: global watershed boundaries, river elevation profiles, and catchment statistics"
**Submitting author:** @jonschwenk (<a href="http://orcid.org/0000-0001-5803-9686">Jon Schwenk</a>)
**Repository:** https://github.com/VeinsOfTheEarth/rabpro
**Branch with paper.md** (empty if default branch):
**Version:** 0.4.0
**Editor:** @crvernon
**Reviewers:** @thurber, @AtrCheema
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/dac944874c90aecf8cd4a29ea

[2022-03-05 19:43] jeremiecoullon commented on #4113
@editorialbot generate pdf

[2022-03-05 19:45] Kevin-Mattheus-Moerman commented on #4209
@editorialbot invite @mikldk as editor

[2022-03-05 19:47] editorialbot opened #4220 "[PRE REVIEW]: Astronomical échelle spectroscopy data analysis with muler"
**Submitting author:** @gully (<a href="http://orcid.org/0000-0002-4020-3457">Michael Gully-Santiago</a>)
**Repository:** https://github.com/OttoStruve/muler
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.0
**Editor:** @xuanxu
**Reviewers:** @bmorris3, @wtgee
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/c889fa9eeb8a63103533494a1f0b0

[2022-03-05 19:50] Kevin-Mattheus-Moerman commented on #4219
@jonschwenk thanks for this submission. I will be looking for a handling editor.

For the moment, can you check those potentially missing DOI's :point_up:

[2022-03-05 19:52] Kevin-Mattheus-Moerman commented on #4219
@editorialbot invite @crvernon as editor

[2022-03-05 19:53] editorialbot opened #4221 "[PRE REVIEW]: Pipeline for Optical/infraredTelescopes in Python for Reducing Images (POTPyRI)"
**Submitting author:** @KerryPaterson (<a href="http://orcid.org/0000-0001-8340-3486">Kerry Paterson</a>)
**Repository:** https://github.com/CIERA-Transients/POTPyRI
**Branch with paper.md** (empty if default branch):
**Version:** v1.20
**Editor:** @christinahedges
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/c6cf54f56e69d350a6405cd

[2022-03-05 19:59] Kevin-Mattheus-Moerman commented on #4220
@editorialbot invite @xuanxu as editor

[2022-03-05 20:01] Kevin-Mattheus-Moerman commented on #4220
@christinahedges you were suggested as editor here but I see you are handling quite a few submissions already. Perhaps if @xuanxu is not available you could consider it?

[2022-03-05 20:03] editorialbot opened #4222 "[PRE REVIEW]: VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data"
**Submitting author:** @baxmittens (<a href="http://orcid.org/0000-0001-9954-294X">maximilian bittens</a>)
**Repository:** https://github.com/baxmittens/VTUFileHandler
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.3
**Editor:** @jbytecode
**Reviewers:** @dmbates, @mkitti
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/d0b4c4084b6c7ce45

[2022-03-05 20:05] Kevin-Mattheus-Moerman commented on #4221
@editorialbot invite @christinahedges as editor

[2022-03-05 20:07] editorialbot opened #4223 "[PRE REVIEW]: UCSPy-Engine: An Extensible Framework for solving the University Course Scheduling Problem"
**Submitting author:** @AluBhorta (<a href="http://orcid.org/0000-0003-3496-7466">Farhim Ferdous</a>)
**Repository:** https://github.com/AluBhorta/UCSPy-Engine
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/7b924cbf9bf07d676c7207478cd70535/stat

[2022-03-05 20:10] Kevin-Mattheus-Moerman commented on #4222
@editorialbot query scope

[2022-03-05 20:15] Kevin-Mattheus-Moerman commented on #4222
@baxmittens thanks for this submision, I am the AEiC for JOSS on call the coming week. I've briefly reviewed this submission and have just triggered an additional scope review by our editorial board. This is normal for submissions of this size (in terms of lines of code and functionality). This scope review should take about 2 weeks to complete.
In the mean time, perhaps you can check and address

[2022-03-05 20:16] editorialbot opened #4224 "[PRE REVIEW]: rbmi: A R package for standard and reference-based multiple imputation methods"
**Submitting author:** @nociale (<a href="http://orcid.org/0000-0002-0110-7358">Alessandro Noci</a>)
**Repository:** https://github.com/insightsengineering/rbmi
**Branch with paper.md** (empty if default branch):
**Version:** 1.1.0
**Editor:** @fboehm
**Reviewers:** @DanielRivasMD, @JoranTiU
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/c23a2dbed03cd0c8a1e

[2022-03-05 20:25] Kevin-Mattheus-Moerman commented on #4223
@AluBhorta thanks for this submission. I am the AEiC on call for JOSS and will help handle this work. The first step is to get the paper to compile. The paper error looks like it relates to the missing affiliations. Please add these as shown here:
https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography. You can call: `@editorialbot generate pdf` here to update the pape

[2022-03-05 20:26] editorialbot opened #4225 "[PRE REVIEW]: BioDeg: A finite element software for the simulation of the corrosion and biodegradation process in metallic biomaterials"
**Submitting author:** @mbarzegary (<a href="http://orcid.org/0000-0002-1456-0610">Mojtaba Barzegari</a>)
**Repository:** https://github.com/mbarzegary/BioDeg-UI/
**Branch with paper.md** (empty if default branch):
**Version:** v0.8
**Editor:** @danasolav
**Reviewers:** @kerstinvg, @yangbai90
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/19c10bbfe074c8403a

[2022-03-05 20:28] editorialbot opened #4226 "[PRE REVIEW]: shinyshval: A User-Friendly Shiny implementation of the EFSA SHVAL tool for the use in Bee risk assessment"
**Submitting author:** @EDiLD (<a href="http://orcid.org/0000-0001-5376-1194">Eduard Szöcs</a>)
**Repository:** https://github.com/basf/shinyshval
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/96403317a80cf275bba3413b5bb19775/status.svg)](https

[2022-03-05 20:37] Kevin-Mattheus-Moerman commented on #4224
@nociale thanks for this submission. I am the AEiC on call for the coming week and will be looking for a handling editor. In the meantime perhaps you can address those potentially missing DOIs :point_up: , you can update the paper by calling `@editorialbot generate pdf` and you can use `@editorialbot check references` to check those DOIs again.

[2022-03-05 20:41] Kevin-Mattheus-Moerman commented on #4224
@nociale I have just assigned the `waitlisted` label here. This is because it appears all editors in this domain are currently handling many other submission. We will assign an editor once one becomes available.

[2022-03-05 22:50] majensen commented on #3431
Congratulations @benjaminbolling ! Thanks for the update and try to get some sleep...

[2022-03-05 22:51] majensen commented on #3940
@kechi putting this review on pause. Please reach out here or at maj \-dot\- fortinbras \-at\- gmail \-dot\- com when you are ready to restart. Thanks!

[2022-03-05 22:55] majensen commented on #4136
@editorialbot generate pdf

[2022-03-05 23:17] majensen commented on #4136
@editorialbot check references

[2022-03-05 23:52] majensen commented on #4136
@bgyori this is a nice tool and appears to be a very complete representation of the underlying spec. The notebooks are detailed and give a user a way in to the practical use of this framework.

Can you please fix the following issues in the references (line numbers from the latest PDF generation above):

l. 107 - capitalize "-Parser" - per original reference
l. 147 - capitalize "Python" - ''
l. 15

[2022-03-06 00:27] bgyori commented on #4136
@editorialbot generate pdf

[2022-03-06 00:32] bgyori commented on #4136
@majensen thank you for your feedback! I fixed all of the issues you pointed out above.

[2022-03-06 04:02] majensen commented on #4136
Great - thanks @bgyori  - the last item before we ask the associate editors-in-chief to review is to create an open archive of the the latest state of the code repo. This can be done with Zenodo, FigShare, or similar. (Here is a brief tutorial using Zenodo: https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729.)
JOSS prefers that the name of the archive match that of the

[2022-03-06 08:07] baxmittens commented on #4222
@editorialbot generate pdf

[2022-03-06 08:07] baxmittens commented on #4222
@editorialbot check reference

[2022-03-06 08:07] baxmittens commented on #4222
@editorialbot check references

[2022-03-06 08:08] baxmittens commented on #4222
@editorialbot generate pdf

[2022-03-06 08:09] baxmittens commented on #4222
@editorialbot check references

[2022-03-06 11:34] jeremiecoullon commented on #4113
@canyon289 I have closed the last of the issues; do you have any other suggested changes for the library/paper?

[2022-03-06 12:22] diehlpk commented on #4075
@editorialbot set v1.0.0 as version

[2022-03-06 12:23] diehlpk commented on #4075
@editorialbot set 10.5281/zenodo.6330145 as archive

[2022-03-06 12:25] diehlpk commented on #4075
@editorialbot generate pdf

[2022-03-06 12:51] bgyori commented on #4136
Hi @majensen, here is the DOI for the Zenodo archive: 10.5281/zenodo.6331584 (https://doi.org/10.5281/zenodo.6331584). Thank you!

[2022-03-06 13:40] zarrarkhan commented on #4015
@maczokni of course you are not being difficult and on the contrary we appreciate you taking the time and effort to give your detailed feedback. We will look at the issues you have pointed out and a more through test of the existing maps and get back to you.

[2022-03-06 13:42] timtroendle commented on #2688
@untzag, are you still available to review this submission?

[2022-03-06 15:37] pitsianis commented on #3965
A few minor observations for the document manuscript as I read through to complete my review:

matlab -> Matlab in the title

Matrix(I,size(M,1),size(M,2)) -> Matrix(I,size(M))

Indent the matrix entries properly for `Matlab`, `Julia` and `C++` in all listings

[code]

Refer to Castor in the same way, please.

`argsort` is a function from `NumPy` which is not properly covered in this article, perh

[2022-03-06 15:58] fboehm commented on #4148
@arcaldwell49 - the pdf paper looks really good! please make the minor corrections below.

A few minor fixes are needed in the pdf. I think that these can be accomplished by updating the bib file as needed.

line 110: R needs to be capitalized. You can accomplish this by putting braces around capital R in your bib file, like {R}
line 115: capitalize R.
line 117: Do you need to capitalize Bland-Alt

[2022-03-06 16:14] fboehm commented on #3888
@mcsiple - the reviewers have recommended your submission for publication. Before we officially publish it, please make the following changes to your paper.md and bib file:

There's one small typo that needs fixing:

line 56 (of the pdf): delete "based"

Also, please cite R and shiny and include the references in your bibliography.

We can proceed towards publication once these changes are made.

[2022-03-06 16:35] dfm commented on #4107
@Moyoxkit, @JDonaldM — I'm very sorry about the delay here. I'm still working on finding a second reviewer, but hope to be able to get the review started ASAP. Thanks for your patience!

[2022-03-06 16:37] dfm commented on #4107
@Moyoxkit: in the meantime, [as the bot requested above](https://github.com/openjournals/joss-reviews/issues/4107#issuecomment-1024745904), can you add a "Statement of need" section to the paper?

[2022-03-06 17:36] mcsiple commented on #3888
Hi @fboehm -- just fixed those two things. Thanks for your help!

[2022-03-06 17:42] jonschwenk commented on #4219
@editorialbot generate pdf

[2022-03-06 17:55] jonschwenk commented on #4219
@editorialbot generate pdf

[2022-03-06 18:01] jonschwenk commented on #4219
Added all the DOIs I could find, including all those specified as missing by editorialbot.

[2022-03-06 18:08] editorialbot opened #4227 "[PRE REVIEW]: DuoDIC: 3D Digital Image Correlation in MATLAB"
**Submitting author:** @danasolav (<a href="http://orcid.org/0000-0003-3215-0401">Dana Solav</a>)
**Repository:** https://github.com/SolavLab/DuoDIC
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @mrudangm, @abhishektha
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/cd98bc67c6d762e996be45d65f667357/sta

[2022-03-06 18:18] tmigot commented on #4129
Hi @cgrudz ! Sorry, I am a bit late in the review. But, I saw @peanutfun already did a great job.
I am checking the  `Functionality` section.
- Installation: Does installation proceed as outlined in the documentation?

Everything works following your suggestions. However, when adding your package the "usual" way in Julia, i.e.
[code]
I get the following error when testing
[code]
Maybe the error co

[2022-03-06 18:21] tmigot commented on #4129
@cgrudz Have you thought about making a real documentation hosted with Github Pages and using `Documenter.jl`?

See docs for Documenting in Julia: https://juliadocs.github.io/Documenter.jl/stable/

I have a package that has been recently published in JOSS as an example: https://github.com/JuliaSmoothOptimizers/DCISolver.jl (you can access the doc via the badges dev and stable in the readme).

This

[2022-03-06 19:51] majensen commented on #4136
@editorialbot set 0.0.1 as version

[2022-03-06 19:51] majensen commented on #4136
@editorialbot set 10.5281/zenodo.6331584 as archive

[2022-03-06 19:52] majensen commented on #4136
@editorialbot recommend-accept

[2022-03-06 19:55] jeremiecoullon commented on #4113
@editorialbot generate pdf

I made a small change in the paper: I specify that jax is the main requirement.

[2022-03-06 20:01] majensen commented on #4136
Help @xuanxu - there was a fail in the crossref xml validation (see  https://github.com/openjournals/joss-papers/runs/5440427063?check_suite_focus=true#step:6:53). But here is the crossref element:
`<isbn>1367-4811 (Electronic)</isbn>`
so maybe the validation is too strict?

thanks

[2022-03-06 20:06] blthayer commented on #4093
@brandons209 - We're close! I've added three issues (one optional) to my [issue-tracking-checklist](https://github.com/openjournals/joss-reviews/issues/4093#issuecomment-1030686522). After these are addressed, I will consider my review complete.

Nice work! I hope that between mine and Sarthak's review that you feel that `PyPVRPM` has been made better and more approachable.

My general advice for

[2022-03-06 20:20] xuanxu commented on #4136
@majensen in this case it looks like that entry is incorrect. The ISBN [is invalid](https://isbnsearch.org/search?s=1367-4811) and the value should not include the `(Electronic)` part.
In the bib file the isbn and issn [are the same](https://github.com/indralab/pybiopax/blob/master/paper/paper.bib#L123-L124), I guess that is an error.

And (not related) in that same reference the [url value](https

[2022-03-06 20:29] majensen commented on #4136
Thanks @xuanxu  - since the Crossref XML is created by the bot, not sure what the options would be.

[2022-03-06 20:47] brandons209 commented on #4093
We are planning to add a real world case, once we finish up a paper that uses PyPVRPM for showing how monitoring effects LCOE. The paper should be done in the next month or two (hopefully).

Thank you for the kind words! I do agree that in academia documentation and good software practices aren't used that often like for industry products (and even a lot of industry products too!).
I also agree th

[2022-03-06 21:07] bgyori commented on #4136
@majensen @xuanxu done, I fixed the problematic reference.

[2022-03-06 21:08] chainsawriot commented on #4036
@sbenthall

As the review is now officially two months old and the package has been updated five times since then (it's now 0.1.5), I was wondering when should I expect an update from the reviewers?

[2022-03-06 21:13] majensen commented on #4136
@editorialbot recommend-accept

[2022-03-06 21:50] nastaran62 commented on #4045
@ixjlyons Thank you very much for your review. I changed it to study. Thank you.

[2022-03-06 22:03] gdetor commented on #3974
@tiagoseq Thank you for the update.
@jarvist @rougier Both the manuscript and the source code repository look good to me. All my comments have been addressed.

[2022-03-06 23:17] diehlpk commented on #4075
@editorialbot recommend accept

[2022-03-06 23:26] blthayer commented on #4093
@brandons209 - thanks for addressing the issues, and good work!

@jgostick - I now consider my review complete. ✔️

Please let me know if there's anything needed from me in order to take this submission over the finish line.

[2022-03-06 23:40] diehlpk commented on #4075
@editorialbot commands

[2022-03-07 00:25] diehlpk commented on #4075
@editorialbot recommend-accept

[2022-03-07 00:46] diehlpk commented on #4075
@editorialbot generate pdf

[2022-03-07 01:21] arcaldwell49 commented on #4148
@fboehm good catches on my dumb typos!

All requested typos fixed.

[2022-03-07 02:21] diehlpk commented on #4075
@arfon Could you please have a look why the paper compiles itself, but not for recommend-accept.

[2022-03-07 02:22] fboehm commented on #4148
Thank you, @arcaldwell49 !

[2022-03-07 02:22] fboehm commented on #4148
@editorialbot generate pdf

[2022-03-07 02:24] fboehm commented on #3888
Thank you, @mcsiple !

[2022-03-07 02:24] fboehm commented on #3888
@editorialbot generate pdf

[2022-03-07 02:29] fboehm commented on #3888
@mcsiple - one small fix is needed in the new reference to Shiny: Please fix the bib file so that R is capitalized on line 114 of the pdf. You can accomplish this by placing braces around a capital R, like {R} within the bibtex entry. Thanks again!

[2022-03-07 02:31] fboehm commented on #4148
@editorialbot check references

[2022-03-07 02:31] fboehm commented on #3888
@editorialbot check references

[2022-03-07 02:32] diehlpk commented on #4115
@streeve could you please respond to the comments above?

[2022-03-07 02:33] diehlpk commented on #3959
@krober10nd, @vijaysm could you please try again to install the software?

[2022-03-07 02:34] fboehm commented on #4148
@arcaldwell49 - can you double-check the DOIs that are mentioned in the above comment? If the editorialbot gave the correct doi for the "Quantifying Test-Retest..." article, please add it to the bib file so that it appears in the pdf. Also, please update the doi that is supposedly invalid. Thanks again!

[2022-03-07 02:43] mcsiple commented on #3888
Fixed! Sorry about that. I copied from `citation` in R and didn't realize I needed that extra formatting to get the caps. Should be good now.

[2022-03-07 02:48] arcaldwell49 commented on #4148
Oh wow, good catch! It seems JSCR has resolved the doi issue. Pushing new version in a minute...

[2022-03-07 04:56] omtazi commented on #4211
@editorialbot generate my checklist

[2022-03-07 08:04] lukassnoek commented on #4210
@editorialbot generate my checklist

[2022-03-07 08:19] oliviaguest commented on #3270
Sorry for not replying sooner here. I somehow missed that I must have read this and not replied. Apologies. Indeed, agreed with all above.

[2022-03-07 08:40] EDiLD commented on #4226
Looking through the list of agreed reviewers these seem to have a good fit (from bottom to top): kauedesousa, sandrinecharles, puruckertom

[2022-03-07 08:40] EDiLD commented on #4226
@editorialbot commands

[2022-03-07 08:56] Kevin-Mattheus-Moerman commented on #3980
@editorialbot accept deposit=true

[2022-03-07 08:59] Kevin-Mattheus-Moerman commented on #3980
@editorialbot accept

[2022-03-07 09:05] Kevin-Mattheus-Moerman commented on #3980
@PolymerGuy congratulations on getting this work published in JOSS! Thanks for your patience during this longer than usual review process.

@nicoguaro, @corentin-dev thanks for your review efforts!!!

[2022-03-07 09:05] #3980 closed

[2022-03-07 09:18] fabian-s commented on #4082
:wave: @jhollist @corybrunson @cole-brokamp

would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-07 09:19] Kevin-Mattheus-Moerman commented on #4219
@editorialbot check references

[2022-03-07 09:26] lukassnoek commented on #4210
Hi all,

I completed (the first round of) my review for the `inaFaceAnalyzer` package. I think it is a well-developed, feature-complete package with an intuitive and extensive API. Installation went smoothly (tested on a remote server running Ubuntu 20.04 with a Quadro RTX 8000 GPU; installed without a conda environment) and all outlined functionality worked as expected. In addition, the tutorial

[2022-03-07 09:27] Kevin-Mattheus-Moerman commented on #4194
@osorensen is this something you think you could help edit? It is waitlisted at the moment but seems related to your field too.

[2022-03-07 09:32] Kevin-Mattheus-Moerman commented on #4191
@Cristianetaniguti this submission as passed the initial scope review. We will now proceed to seek a handling editor for this submission.

[2022-03-07 09:32] Kevin-Mattheus-Moerman commented on #4191
@editorialbot invite @mikldk as editor

[2022-03-07 09:34] Kevin-Mattheus-Moerman commented on #4185
@Samuel-Wagner, @emanuelhuber I hope you are doing well. Could you provide an update on how the review is going or if you have started yet? No worries if you haven't started yet, I am just checking in. Thanks again for your help.

[2022-03-07 09:35] Kevin-Mattheus-Moerman commented on #3736
@timdewhirst, @clarka34, @quynhneo. I am just checking in to see how the review is going. Could you provide an update? Thanks again for your help.

[2022-03-07 09:37] Kevin-Mattheus-Moerman commented on #3920
@deepakri201 can you review the changes made? :point_up:
Also I've noticed you've one box unticked. Can you comment if anything is still missing or needs to be addressed? Thanks.

[2022-03-07 09:37] Kevin-Mattheus-Moerman commented on #3920
@lassoan I hope you are well. Can you provide an update on the review? Thanks.

[2022-03-07 09:37] ajstewartlang commented on #4045
@editorialbot generate pdf

[2022-03-07 09:38] ajstewartlang commented on #4045
@editorialbot check references

[2022-03-07 09:39] Kevin-Mattheus-Moerman commented on #4157
@PetrKryslUCSD, @Leticia-maria, @jedbrown I am just checking in to see how things are going. Could you please provide an update on review progress? If you need more time that is okay too. Thanks again for your help!

[2022-03-07 09:41] Kevin-Mattheus-Moerman commented on #4211
@oriolcg thanks again for your help with this review. Let me know if you have any questions. Are you able to start the review process too? You can call `@editorialbot generate my checklist` to get a list like shown :point_up:, this will guide you through the review process. Thanks!

[2022-03-07 09:41] osorensen commented on #4194
@editorialbot assign @osorensen as editor

[2022-03-07 09:43] ajstewartlang commented on #4045
@nastaran62 did you update the paper on the master branch? I see line 92 still has the phrase "In another research," rather than "In another study,"

[2022-03-07 09:44] corybrunson commented on #4082
@fabian-s i would be glad to! I have deadlines this week but can conduct my review next week (March 14–18).

[2022-03-07 09:48] fabian-s commented on #4082
@editorialbot add @corybrunson as reviewer

[2022-03-07 09:49] fabian-s commented on #4082
@editorialbot add @kuesterc9 as reviewer

[2022-03-07 09:49] fabian-s commented on #4082
@editorialbot start review

[2022-03-07 09:49] editorialbot opened #4228 "[REVIEW]: ALUES: An R package for Agricultural Land Use Evaluation System"
**Submitting author:** @alstat (<a href="http://orcid.org/0000-0003-3784-8593">Al-Ahmadgaid Asaad</a>)
**Repository:** https://github.com/alstat/ALUES
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.1
**Editor:** @fabian-s
**Reviewers:** @corybrunson, @kuesterc9
**Archive:** 10.5281/zenodo.6529873

## Status

[![status](https://joss.theoj.org/papers/11269cd0052a7e141aeec03933

[2022-03-07 09:49] #4082 closed

[2022-03-07 09:52] fabian-s commented on #4228
👋🏼 @alstat @corybrunson @kuesterc9
this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers please first create your checklist  by running this command in a separate comment to create the checklist:

`@editorialbot generate my checklist`

As you go over the submission, please check any items that you feel have been satisfied. There are also l

[2022-03-07 09:53] fabian-s commented on #4228
@alstat please also correct the two invalid DOIs in your references (see editorialbot-comment above)

[2022-03-07 10:09] eferrea commented on #3956
Hi @puolival and (hi @oliviaguest), thanks again for reviewing the manuscript. Since we have a manuscript and a grant pending on this paper I would ask if a much longer time is needed for the review so that in case we will go ahead with the other submissions. Please let me also know if meanwhile, I could provide additional information to agevolate the process. Thanks again for your work and best r

[2022-03-07 10:12] chchch commented on #4022
Hello,
I've made a new release so that it gets tracked by Zenodo: https://zenodo.org/account/settings/github/repository/chchch/sanskrit-alignment

I don't have a citation.cff file in the repository yet, but I guess I would do that after publication of the JOSS paper? The only thing is that the Zenodo DOI would be pointing to a release without a citation.cff file.

[2022-03-07 10:12] AluBhorta commented on #4223
Hi @Kevin-Mattheus-Moerman, thanks for the directions. Seems like I made a typo when specifying the DOIs. Didn't get this when I used the online preview service (https://whedon.theoj.org/).

[2022-03-07 10:12] AluBhorta commented on #4223
Pushed the fix.

@editorialbot generate pdf

[2022-03-07 10:13] AluBhorta commented on #4223
@editorialbot generate pdf

[2022-03-07 10:16] lucydot commented on #4108
@jonathanHuwP I can't see anything attached (I'm not sure it is possible to attach something to a Github issue thread). Have you acted on the earlier message re: the formatting of your submission? Please visit the issue thread (if viewing through email) to see the full discussion.

[2022-03-07 10:18] lucydot commented on #3742
@editorialbot check references

[2022-03-07 10:24] takainvest commented on #4223
@editorialbot generate pdf

[2022-03-07 10:24] mikldk commented on #4209
@editorialbot assign me as editor

[2022-03-07 10:24] AluBhorta commented on #4223
@editorialbot generate pdf

[2022-03-07 10:24] mikldk commented on #4191
@editorialbot assign me as editor

[2022-03-07 10:26] mbarzegary commented on #4225
I think the software report is not accurate enough since `cloc` is not able to detect FreeFEM codes, which are the core of the submitted software. running `cloc`  with `--force-lang="C++",idp --force-lang="C++",edp` options to force it detect FreeFEM codes as C++ results in

[code]

[2022-03-07 10:28] mikldk commented on #4191
@Cristianetaniguti  - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers) - please do not tag (`@`) anyone yet? I see you already suggested one, can you suggest two more?

[2022-03-07 10:33] mbarzegary commented on #4225
@editorialbot commands

[2022-03-07 10:37] mbarzegary commented on #4225
my suggestions for potential reviewers are as follow (without tagging them with @) :

1. yangbai90
2. peanutfun
3. schruste
4. felipefr

[2022-03-07 10:48] lucydot commented on #3742
Hi @nasserma please could you confirm the missing DOIs listed above are correct, and if so, add them to your paper?

[2022-03-07 11:11] samanmostafavi commented on #3861
@FWuellhorst
I have tested the software. Here's my review:

## Software documentation:
I think [this page](https://ebc.pages.rwth-aachen.de/EBC_all/github_ci/AixCaliBuHA/master/docs/index.html) can be significantly improved by adding more images (results, graph demonstrating workflow, etc.) and explaining the methods of choice, even if the majority of it will be done by citing other works. In addi

[2022-03-07 11:15] AluBhorta commented on #4223
The paper compilation seems to have been triggered twice.

❌ The failed attempt was likely cause I had mistakenly used my work account to post the `generate pdf` command, which I removed shortly after.
✅ It succeeded otherwise.

Feel free to let me know if anything else is required from my end @Kevin-Mattheus-Moerman.

[2022-03-07 11:30] pan-pavel commented on #4120
Hello Daniel,

It is almost complete. I hope to finish the review in a week.

Pavel

[2022-03-07 11:48] jonathanHuwP commented on #4108
Hello Lucy,

I have found the original mail and corrected the author affiliation.

Regards,
Jonathan
________________________________
From: Lucy Whalley ***@***.***>
Sent: 07 March 2022 10:16
To: openjournals/joss-reviews ***@***.***>
Cc: Jonathan Pickering ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: CrysalGrowthTracker: A Python package for calculatin

[2022-03-07 12:14] xuanxu commented on #4220
:wave: I can take it

[2022-03-07 12:14] xuanxu commented on #4220
@editorialbot assign me as editor

[2022-03-07 12:20] sbenthall commented on #4036
@chainsawriot That's an entirely reasonable question.

@kbenoit When will you be able to complete your review?

[2022-03-07 13:22] danielskatz commented on #3967
@bmagyar wrote to me that he "will need a few more days to double check the review responses"

[2022-03-07 13:24] danielskatz commented on #4120
@oscarhiggott - I see you've check all your boxes now. Does this indicate you are satisfied for this to proceed to publication?

[2022-03-07 13:36] alexmalins commented on #3318
Thank you @kellyrowland

The Zenodo DOI is: [10.5281/zenodo.6334651](https://doi.org/10.5281/zenodo.6334651)

[2022-03-07 14:02] sbenthall commented on #4144
@gradvohl Thanks for your question. I am in the process of searching for a second reviewer. When I have one confirmed, I will begin the review process, which will create a new issue with a checklist for reviewers.

If you would like to do your review ahead of time, I suggest you use this checklist:

https://joss.readthedocs.io/en/latest/review_checklist.html

... and record your review responses i

[2022-03-07 14:14] Kevin-Mattheus-Moerman commented on #4223
@editorialbot check references

[2022-03-07 14:15] editorialbot opened #4229 "[PRE REVIEW]: CESAR-P: A dynamic urban building energy simulation tool"
**Submitting author:** @kristina-o (<a href="http://orcid.org/0000-0001-6491-7641">Kristina Orehounig</a>)
**Repository:** https://github.com/hues-platform/cesar-p-core
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** V2.0.1
**Editor:** @timtroendle
**Reviewers:** @olejandro, @noah80, @jasondegraw
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.the

[2022-03-07 14:15] editorialbot opened #4230 "[PRE REVIEW]: wisdom_of_crowds: A Python package for social-epistemological network profiling"
**Submitting author:** @cvklein (<a href="http://orcid.org/0000-0002-7406-4010">Colin Klein</a>)
**Repository:** https://github.com/cvklein/wisdom-of-crowds
**Branch with paper.md** (empty if default branch):
**Version:** v1.01
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/fa1d727ba7b561ebde5982c363ccf401/status.s

[2022-03-07 14:37] fboehm commented on #4148
@editorialbot check references

[2022-03-07 14:38] fboehm commented on #4148
@editorialbot generate pdf

[2022-03-07 14:43] nasserma commented on #3742
@editorialbot check references

[2022-03-07 14:48] KristinaRiemer commented on #4030
Hi @hongyuanjia! How is your progress on the list of issues going? Do you need anything to help facilitate right now?

[2022-03-07 14:51] liquidcronos commented on #3967
Hey, @danielskatz, thanks for the update!

[2022-03-07 14:51] streeve commented on #4115
Hey, I fell a little behind on this. ECP-copa/Cabana/issues/502 has been addressed and (for both reviewers) improving documentation is under way in ECP-CoPA/Cabana/issues/#352 and ECP-CoPA/Cabana/issues/#496

You're right that the benchmarks section of the wiki is also out of date with the repo; in addition to the CPU-only AoSoA performance we will add results from the main benchmark kernels on Su

[2022-03-07 14:53] KristinaRiemer commented on #4029
Thank you for doing your review @wesleyburr! @rickhelmus, I know you're going on leave soon, so we'll try to get this wrapped up quickly. Before doing the logistical pre-publication steps, I would like to get final confirmation from both @hechth and @wesleyburr that they confirm their acceptance of the submission in its current state please?

[2022-03-07 14:55] fboehm commented on #3888
Thank you, @mcsiple.

[2022-03-07 14:55] fboehm commented on #3888
@editorialbot generate pdf

[2022-03-07 14:57] KristinaRiemer commented on #4029
@editorialbot generate pdf

[2022-03-07 14:58] KristinaRiemer commented on #4029
@editorialbot check references

[2022-03-07 15:08] rickhelmus commented on #4029
Many thanks @KristinaRiemer!! I will have a look tomorrow morning. I will then also probably release a new minor version of patRoon with the fixes coming from the review issues and update the Zenodo links in the manuscript.

[2022-03-07 15:09] KristinaRiemer commented on #4029
@rickhelmus I was going to ask you to do those tasks anyways, so sounds great! If you can provide the version number for the newest release and the DOI for the updated Zenodo archive, that would be great.

[2022-03-07 15:16] Kevin-Mattheus-Moerman commented on #4223
@AluBhorta I have just flagged this submission for additional scope review by the editorial board. The reasons for this are twofold. First of all this work is relatively small in terms of lines of code, so we'll review if it complies with our ["significant scholarly effort"](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criteria. Secondly, it is not clear if t

[2022-03-07 15:18] crvernon commented on #4219
@editorialbot assign @crvernon as editor

[2022-03-07 15:19] crvernon commented on #4219
:wave: @jonschwenk - I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=shari

[2022-03-07 15:21] crvernon commented on #4039
@jhollist I'll check on that DOI but if it's resolving we should be OK.  Just let me know when you are ready for me to move forward.  Thanks!

[2022-03-07 15:23] oscarhiggott commented on #4120
Hi @danielskatz - yes I am happy for it to proceed to publication

[2022-03-07 15:23] crvernon commented on #3709
:wave: @kanishkan91 and @omshinde please see @AlexanderJuestel comments above and feel free to post any questions.

[2022-03-07 15:23] hechth commented on #4029
@KristinaRiemer Yes, I confirm accepting the manuscript :).

[2022-03-07 15:30] Kevin-Mattheus-Moerman commented on #4226
@EDiLD thanks for this submission. I am the AEiC on call this week. I have just added the `query-scope` label here, which is to trigger an additional scope review by our editorial board. The reasons for this are twofold. First of all this work is relatively small in terms of lines of code, so we'll review if it complies with our ["significant scholarly effort"](https://joss.readthedocs.io/en/lates

[2022-03-07 15:33] Kevin-Mattheus-Moerman commented on #4229
@editorialbot set joss-paper as branch

[2022-03-07 15:33] Cristianetaniguti commented on #4191
Hello @mikldk , thank you for being the editor.

More two suggestions: JohnCoene, cpalmer718

[2022-03-07 15:36] Kevin-Mattheus-Moerman commented on #4229
@editorialbot check references

[2022-03-07 15:39] Kevin-Mattheus-Moerman commented on #4229
@editorialbot invite @timtroendle as editor

[2022-03-07 15:41] Kevin-Mattheus-Moerman commented on #4229
@kristina-o thanks for this submission. I am the AEiC on call this week and have started to look for a handling editor. In the meantime, can you try to address to potentially invalid DOIs? :point_up: You can call `@editorialbot check references` here to check the references and use `@editorialbot generate pdf` to update the paper as well. Thanks.

[2022-03-07 15:44] crvernon commented on #3852
👏 Nice work on the revisions @jlarsen-usgs

Please check on the above missing and invalid DOIs ⬆️ and see if we can get those fixed up.  Then I will be ready to move to the next step in this process.  Also, you may want to check the spelling of "hydraulicly" on Line 21; may need two l's.

[2022-03-07 16:10] Kevin-Mattheus-Moerman commented on #4225
@mbarzegary I have just waitlisted this submission as myself and others in this domain are currently handling many other submissions. We'll assign an editor once one becomes available.

[2022-03-07 16:12] crvernon commented on #4219
:wave:   @thurber  - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-07 16:14] crvernon commented on #4219
:wave:  @AtrCheema - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-07 16:23] jbytecode commented on #4179
👋👋👋 Dear @myousefi2016  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**lintegrate: A C/Python numerical integration library for working in log-space**". You can find more information at the top of this Github issue (

[2022-03-07 16:26] jbytecode commented on #3965
Dear @matthieuaussal

It seems our reviewers have just completed their major tasks. Please consider applying the latest minor suggestions, then I am going to start my editorial stuff.

Thank you in advance.

[2022-03-07 16:32] KristinaRiemer commented on #4029
Thanks @wesleyburr & @hechth!

@rickhelmus I only found a couple of small errors in the paper to be fixed, as listed below:

- instances of "e.g." should be followed by a comma
- line 134: "is outlined **in** the project..."
- Depke et al. (2017) reference: possible to superscript the 2 in "MS2"?
- Krier et al. (2022) reference: capitalize L in Luxembourg in title

I'm not sure where the two DOIs

[2022-03-07 16:33] melissawm commented on #4198
Hi @yhtang

- it seems you are using a slightly modified version of the [BSD-3 clause LBNL License](https://opensource.org/BSD-3-Clause-LBNL) - can you remove the added text at the beginning of  the first line so that the standard license text is used?
- On line 99, the citation to Tensor Toolbox is malformed - it seems there is a "and " missing before "others";
- Can you clarify the citation for

[2022-03-07 16:34] melissawm commented on #4198
@editorialbot generate pdf from branch workspace/joss-submission

[2022-03-07 16:35] melissawm commented on #4198
@editorialbot generate pdf

[2022-03-07 16:36] raerickson commented on #3444
@marcosvital bump

[2022-03-07 16:37] thurber commented on #4219
@crvernon I am willing, thanks!

[2022-03-07 16:40] melissawm commented on #4198
:wave: @jamiehadd @g4brielvs would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Thanks!

[2022-03-07 17:23] yhtang commented on #4198
Hi @melissawm,

I tried to compare our license with the standard BSD one but could not figure out where the significant differences are. Could you please let us know which particular text in the license is causing the issue?

I'll then discuss this with our intellectual property office to see what the options are.

We'll take care of the rest of the action items shortly.

Thanks!

[2022-03-07 17:24] crvernon commented on #4219
@editorialbot add @thurber as reviewer

[2022-03-07 17:38] lpantano commented on #4048
Hi @jvkersch, still trying to look for another reviewer. Could you go over the possible reviewers file and see if anyone there could fit for this tool? Thanks

[2022-03-07 17:39] jlarsen-usgs commented on #3852
@editorialbot generate pdf

[2022-03-07 17:45] jlarsen-usgs commented on #3852
@editorialbot check references

[2022-03-07 17:52] jlarsen-usgs commented on #3852
@crvernon

I updated "hydraulicly to hydraulically" in the paper. Thanks for catching this!

I checked the DOI. In the PDF that's generated the DOI is listed as `10.1061/(ASCE)WR.1943-5452.0000034`, which is the correct (valid) DOI. The `check references` method seems either to not be recognising or ignoring the parenthesis around (ASCE) which is causing it to report falsely that the DOI is invali

[2022-03-07 17:54] myousefi2016 commented on #4179
Hi @jbytecode, thanks for the invitation. I'll be happy to help to review this submission.

[2022-03-07 17:56] jbytecode commented on #4179
@editorialbot add @myousefi2016 as reviewer

[2022-03-07 17:57] jbytecode commented on #4179
@editorialbot start review

[2022-03-07 17:57] editorialbot opened #4231 "[REVIEW]: lintegrate: A C/Python numerical integration library for working in log-space"
**Submitting author:** @mattpitkin (<a href="http://orcid.org/0000-0003-4548-526X">Matthew Pitkin</a>)
**Repository:** https://github.com/mattpitkin/lintegrate
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.1.11
**Editor:** @jbytecode
**Reviewers:** @Het-Shah, @myousefi2016
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/0ffdcdc31991e47d8c8c3469

[2022-03-07 18:04] Het-Shah commented on #4231
@editorialbot generate my checklist

[2022-03-07 18:15] jbytecode commented on #4171
Dear @elizabethnewman,

Could you please update your status?

Thank you in advance.

[2022-03-07 18:33] diehlpk commented on #4075
@editorialbot recommend-accept

[2022-03-07 18:49] yhtang commented on #4198
@melissawm Regarding

It appears unfortunately that there is no DOI associated with the article. Even though the URL reads like it does contain one, i.e. `10.5555/3322706.3322732`, looking it up on [doi.org](https://www.doi.org/) returns nothing. The paper's [JMLR page](https://www.jmlr.org/papers/v20/18-277.html) (and the `bib` link therein) also does not contain a DOI.

[2022-03-07 18:51] elizabethnewman commented on #4171
Hi @yhtang

Thank you for running the code.  To ensure reproducibility, timing result notebook is designed to be run on Google Colab only.  However, the script run_timing_test.py, which is called in the notebook, should be compatible with your local machine.  I have clarified the instructions in the examples directory README file.  I hope this helps!

[2022-03-07 18:53] elizabethnewman commented on #4171
Hi @jbytecode

Thank you for checking in.  I am addressing the helpful questions and comments from the reviewers now.  Is there anything else I have to do to update my status?

[2022-03-07 18:56] jbytecode commented on #4171
Dear @elizabethnewman,

I just wanted to ping you and be sure if you were receiving the notifications.

Thank you!

[2022-03-07 19:27] LeonieFierz commented on #4229
@editorialbot check references

[2022-03-07 19:29] nastaran62 commented on #4045
@ajstewartlang, Yes I did. Sorry, I forgot to regenerate the PDF. I could see the correct one in the pdf that you generated and it seems correct.
About the invalid DOI, it is related to my paper that would be published by the end of this month, and still, its DOI is inactive. In the following issue, I asked how to cite it and Afron answered "Feel free to cite with the DOI that is not yet available

[2022-03-07 19:32] LeonieFierz commented on #4229
@editorialbot check references

[2022-03-07 20:14] LeonieFierz commented on #4229
@editorialbot check references

[2022-03-07 20:20] LeonieFierz commented on #4229
@Kevin-Mattheus-Moerman thank you for looking into our submission. I tried to fix the invalid DOIs, but could not get this one
"10.1016/S0378-7788(00)00114-6" working because the brackets are removed. Could you please tell me how to escape them? I tried with (( and \( and changed back to just the single bracket now.

[2022-03-07 20:25] diehlpk commented on #4075
@openjournals/dev Could you please have a look into the issues with the recommend-accept command?

[2022-03-07 20:28] EDiLD commented on #4226
Thanks @Kevin-Mattheus-Moerman.

We see this work fitting to JOSS, because it _"makes addressing research challenges significantly better (e.g., faster, easier, simpler)"_. It refactors an R-script with hard-to used IO that does not adhere to best research software practices into a well tested & documented R package. Additionally it makes ecotoxicological research simpler, faster &  easier by prov

[2022-03-07 20:45] jeremiecoullon commented on #4113
@editorialbot generate pdf

(Another paper fix)

[2022-03-07 21:03] drvinceknight commented on #3968
Thank you @arfon.

Apologies for the delay @IvanIsCoding, let me know if there's anything else you need at this stage.

[2022-03-07 21:04] arfon commented on #4075
@editorialbot recommend-accept

[2022-03-07 21:30] Gab0 commented on #4209
Hello @mikldk, I'm available to review this article.
While this would be my first article review, I'm aware of the reviewer guidelines.
So I'm waiting for further instructions.

[2022-03-07 21:33] arfon commented on #4075
@diehlpk – looks like there's an issue with the font?

[2022-03-07 21:33] ArkajyotiSaha commented on #3780
Hi @fabian-s I just noticed that the link to the software archive at https://joss.theoj.org/papers/10.21105/joss.03780 is not working. This directs to 10.21105/zenodo.6257157 instead of the original zenodo archive at 10.5281/zenodo.6257157 . I was wondering if there is a way to fix this. Thanks!

[2022-03-07 21:38] diehlpk commented on #4075
@arfon Yes, but why does `@editorialbot generate pdf` works and `@editorialbot recommend-accept ` not?

[2022-03-07 21:48] pythonpanda2 commented on #4166
https://github.com/dgbowl/yadg/issues/43

[2022-03-07 22:23] emanuelhuber commented on #4185
@Kevin-Mattheus-Moerman  I started the review, installed Octave . Hope to be finished by the end of the week.
Best,
Emanuel

[2022-03-08 00:01] yhtang commented on #4171
I'll get it a try. Thanks!

This actually brings up another issue that I wanted to ask while reading through the paper. Since Colab assigns GPUs based on resource availability (and in my own experience we can potentially get anything from a decade-old K80 to a newer model like V100), I'm not quite sure that it is the best platform to showcase reproducibility --- at least not so quantitatively. Som

[2022-03-08 00:14] AtrCheema commented on #4219
@crvernon yes I am willing to review it. Can you enlighten me about the deadline?

[2022-03-08 00:25] deepakri201 commented on #3920
I left the one box unticked because I believe there still are a few comments to be addressed here: https://github.com/R-Vessel-X/SlicerRVXLiverSegmentation/issues/1

[2022-03-08 00:54] cgrudz commented on #4129
@tmigot, no worries, thank you very much for your helpful suggestions and for catching the bug with the package add.  As I mentioned above I will start to work on these revisions in earnest in one to two months, once I determine the availability of a research assistant to help with these tasks.  I'll address these items as soon as I can. Cheers!

[2022-03-08 01:19] galessiorob commented on #4022
@whedon set 10.5281/zenodo.6334073 as archive

[2022-03-08 01:20] galessiorob commented on #4022
@editorialbot set 10.5281/zenodo.6334073 as archive

[2022-03-08 01:21] galessiorob commented on #4022
@editorialbot set v0.55 as version

[2022-03-08 01:21] galessiorob commented on #4022
@editorialbot recommend-accept

[2022-03-08 01:24] galessiorob commented on #4022
[Note the missing citation.cff file](https://github.com/openjournals/joss-reviews/issues/4022#issuecomment-1060428253), please advice.

[2022-03-08 01:25] galessiorob commented on #4022
@chchch an editor in chief will run the final steps to get it published. Thanks so much for working through the review and congrats!

[2022-03-08 01:28] galessiorob commented on #4133
Hi @glatard @mwegrzyn and @JoaoRodrigues any updates on your reviews? Please let me know if you are unable to complete it so we can get this process started. Thanks!

[2022-03-08 01:40] fboehm commented on #3888
@editorialbot set v1.0.0 as version

[2022-03-08 01:41] fboehm commented on #3888
@editorialbot set 10.5281/zenodo.6336011 as archive

[2022-03-08 01:42] fboehm commented on #3888
@editorialbot recommend-accept

[2022-03-08 01:50] fboehm commented on #3888
@openjournals/joss-eics - can you explain the error message that we're getting? I'm unfamiliar with it. Thanks!

[2022-03-08 03:04] MariaPoliti commented on #3829
@alberto-battistel There seems to be one task not checked off from your list. I believe we have addressed it, but I am just double checking with you.

@gkthiruvathukal What are the next steps after the review is completed? When can we expect for a final decision to be made about this publication?

Thank you agian all for your great feedback and your reviews

[2022-03-08 03:41] kanishkan91 commented on #3709
@AlexanderJuestel , @crvernon Thanks. I'l complete this latest by EOD tomorrow (8th March 2022)

[2022-03-08 04:08] gkthiruvathukal commented on #3829
Hi @MariaPoliti, I'm sorry for the delay. I am ready to recommend acceptance.  Stay tuned for the next steps.

[2022-03-08 04:11] gkthiruvathukal commented on #3829
@MariaPoliti, please do the following:

  [ ] Make a tagged release of your software, and list the version tag of the archived version here.
  [ ] Archive the reviewed software in Zenodo
  [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on it); y

[2022-03-08 04:12] omshinde commented on #3709
Thanks @AlexanderJuestel, @crvernon for the update. I will match with @kanishkan91 and review the updates by March 8th EOD.

[2022-03-08 04:14] gkthiruvathukal commented on #3999
@whedon add @ixjlyons as reviewer

[2022-03-08 04:14] gkthiruvathukal commented on #3999
@editorialbot add @ixjlyons as reviewer

[2022-03-08 04:15] gkthiruvathukal commented on #3999
@editorialbot start review

[2022-03-08 04:15] editorialbot opened #4232 "[REVIEW]: SimpleFOC: A Field Oriented Control (FOC) Library for Controlling Brushless Direct Current (BLDC) and Stepper Motors"
**Submitting author:** @askuric (<a href="http://orcid.org/0000-0002-3323-4482">Antun Skuric</a>)
**Repository:** https://github.com/simplefoc/Arduino-FOC/
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v2.2.2
**Editor:** @gkthiruvathukal
**Reviewers:** @sea-bass, @ixjlyons
**Archive:** 10.5281/zenodo.6510536

## Status

[![status](https://joss.theoj.org/papers/4382445

[2022-03-08 04:15] #3999 closed

[2022-03-08 04:15] gkthiruvathukal commented on #3884
@editorialbot commands

[2022-03-08 04:16] gkthiruvathukal commented on #3884
@ricopicone Can you provide an update on the status of your review? Thank you!

[2022-03-08 04:17] gkthiruvathukal commented on #3292
@markheckmann It's amazing how February always seems to come and go without a warning.  Can you let us know how things are going with your changes? If you need more time, no problem!

[2022-03-08 09:19] EDiLD commented on #4226
We clarified the scope & refactoring in the manusscript.

@editorialbot generate pdf

[2022-03-08 09:21] EDiLD commented on #4226
@editorialbot generate pdf

[2022-03-08 09:29] xuanxu commented on #3888
The error is caused because there are two invalid issn values in the bib file: [here](https://github.com/mcsiple/mmrefpoints/blob/master/paper.bib#L69) and [here](https://github.com/mcsiple/mmrefpoints/blob/master/paper.bib#L86).

[2022-03-08 09:35] editorialbot opened #4233 "[PRE REVIEW]: OTTO: A Python package to simulate, solve and visualize the source-tracking POMDP"
**Submitting author:** @auroreloisy (<a href="http://orcid.org/0000-0002-8089-8636">Aurore Loisy</a>)
**Repository:** https://github.com/C0PEP0D/otto
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @VivianePons
**Reviewers:** @11michalis11
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/51c451ddeeb1affdb1533a4fa1582f4c/statu

[2022-03-08 09:56] auroreloisy commented on #4233
Reviewer suggestion: vkrajnak

On Tue, Mar 8, 2022 at 10:37 AM The Open Journals editorial robot <
***@***.***> wrote:

[2022-03-08 10:04] EDiLD commented on #4226
Described now also efforts to switch from proprietary license to open source license.

[2022-03-08 10:04] EDiLD commented on #4226
@editorialbot generate pdf

[2022-03-08 10:39] aquilesC commented on #4024
I have finished reviewing the manuscript. The only concern I have is regarding the **references**, and I would ask @emdupre for guidance on the matter.

The authors claim:

At the same time, in the manuscript they say:

They do implement several localisation algorithms, but only one for tracking and it is based on Trackpy.

Generally speaking, the PiSCAT package has [23 dependencies](https://githu

[2022-03-08 10:47] jeremiecoullon commented on #4113
@editorialbot generate pdf

(Another paper fix)

[2022-03-08 11:13] Kevin-Mattheus-Moerman commented on #4221
@christinahedges is this something you can help edit?

[2022-03-08 11:13] editorialbot opened #4234 "[PRE REVIEW]: DMT-core: A Python Toolkit for Semiconductor Device Engineers"
**Submitting author:** @miesli (<a href="http://orcid.org/0000-0003-1274-3429">Mario Krattenmacher</a>)
**Repository:** https://gitlab.com/dmt-development/dmt-core
**Branch with paper.md** (empty if default branch):
**Version:** 1.4.0
**Editor:** @lucydot
**Reviewers:** @dilawar, @phoebe-p
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/f9829bb4e4c10b85144b2

[2022-03-08 11:16] Kevin-Mattheus-Moerman commented on #4233
@editorialbot invite @VivianePons as editor

[2022-03-08 11:21] Kevin-Mattheus-Moerman commented on #4234
@editorialbot invite @lucydot as editor

[2022-03-08 11:23] Kevin-Mattheus-Moerman commented on #4234
@miesli thanks for this submission. I am the AEiC on call this week for JOSS. I have started to search for a handling editor. In the mean time, could you address those potentially invalid/missing DOIs :point_up: ? You can update the paper here by calling `@editorialbot generate pdf`, and you can check the references again by calling `@editorialbot check references`. It looks like you can perhaps a

[2022-03-08 11:36] timtroendle commented on #4229
@openjournals/joss-eics, happy to serve as an editor for this submission.

[2022-03-08 11:56] tiagoseq commented on #3974
Hi @gdetor thank you for your help in improvig the manuscript and the source code!

In order to move on with this process, I think you must complete your check list, as @rougier did, at the top of this thread.

Thanks,
Tiago

[2022-03-08 12:22] arfon commented on #4229
@editorialbot assign @timtroendle as editor

[2022-03-08 12:28] Kevin-Mattheus-Moerman commented on #3920
@deepakri201 thanks for the update.

[2022-03-08 12:55] leonardgoeke commented on #4158
I've added my comments to the review thread, but I don't manage to edit the checklist. My best guess is I'm missing the permission.

[2022-03-08 13:17] lucydot commented on #4234
@editorialbot set @lucydot as editor

[2022-03-08 13:17] lucydot commented on #4234
@editorialbot commands

[2022-03-08 13:17] lucydot commented on #4234
@editorialbot assign @lucydot as editor

[2022-03-08 13:18] lucydot commented on #4234
@Kevin-Mattheus-Moerman I'm happy to edit this submission 🎈

[2022-03-08 13:39] mikldk commented on #4159
@editorialbot generate pdf

[2022-03-08 13:41] mikldk commented on #4191
@dsurujon, @JohnCoene: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-03-08 13:44] miesli commented on #4234
Hello @Kevin-Mattheus-Moerman thank you good to know. Yes I will clean the references. But for some of them, the bot seems to be wrong. Example:

INVALID DOIs

- 10.1016/0749-60368590119-3 is INVALID

In the paper.bib file:

[code]

The DOI 10.1016/0749-6036(85)90119-3 is perfectly valid: [link](https://doi.org/10.1016/0749-6036(85)90119-3)

It seems that the bot drops the brackets. Can you confir

[2022-03-08 13:44] mikldk commented on #4159
@tylerwmarrs, @ali-ramadhan: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-03-08 13:48] kanishkan91 commented on #3709
@AlexanderJuestel I ticked off the items on my list. But I had a couple of follow up questions so that I can close all issues that I opened.

- Since the tests are all set up now, could you create a codecov badge for your repository , so I can check the the percentage of the code covered by tests? If you've not linked this repo to codecov, it is possible here -https://about.codecov.io/blog/python-

[2022-03-08 13:52] bkmi commented on #4205
This is a good point! I will make an issue and include this in the next release.

It isn't really obvious how to do this to me, except through some kind of hacks... If you have the likelihood for a problem (swyft aims to assist in problems in which the likelihood is unknown), in principle you can estimate the likelihood-to-evidence ratio and then compute `likelihood * (1 / likelihood-to-evidence r

[2022-03-08 14:02] miesli commented on #4234
@editorialbot check references

[2022-03-08 14:11] pdebuyl commented on #4100
Hi @lilyminium I have some issues with the pip install, I'll get back to you when it is solved. It is not an issue with PsiRESP per se indeed, but given the choice I always try pip first and the postgresql routines in qcfractal are not portable.

[2022-03-08 14:21] martinfleis commented on #4178
Hi @sebastien-plutniak!

A few editorial comments before we'll find reviewers for your package.

1. The repository currently does not contain the `LICENSE` file with the OSI approved license under which your software is distributed. Can you please add it?
2. The paper needs to be shortened as pointed out by @danielskatz above. I suggest removing the `Use case` section and moving it to the document

[2022-03-08 14:29] lpantano commented on #4048
Hi @sdhutchins, would you like to review this tool? thanks!

[2022-03-08 15:02] rickhelmus commented on #4029
Hi @KristinaRiemer,

Thanks! I just pushed the manuscript corrections and released a new version of patRoon (2.0.1). The Zenodo link in the manuscript is now updated. The missing DOI was indeed missing and I added it to the references. The invalid DOI is actually not invalid, my guess is that the [parentheses in the DOI](https://github.com/rickhelmus/patRoon/blob/4ca0dcec9afb0f4808aec610197f6e0bb0

[2022-03-08 15:28] VivianePons commented on #4233
@editorialbot set @VivianePons as editor

[2022-03-08 15:30] VivianePons commented on #4233
@editorialbot assign @VivianePons as editor

[2022-03-08 15:54] mcsiple commented on #3888
Thanks @xuanxu -- I fixed the .bib entries. Do I need to create another release?

[2022-03-08 15:55] rkurchin commented on #4104
Hi reviewers @andyfaff and @sangpham171, just wanted to check in – it seems there's a reply from @fanchercm on most of the issues that have been filed, so take a look again when you have a chance, if you haven't already!

[2022-03-08 15:56] rkurchin commented on #4040
Hi all, just wanted to check in on this – reviewers, have you been able to get the software running to check the functionality claims?

[2022-03-08 16:04] wcwitt commented on #4040
I believe we're still waiting on example input (https://gitlab.com/moerman1/fhi-cc4s/-/issues/5), although happy to be corrected

[2022-03-08 16:07] PetrKryslUCSD commented on #4157
@whedon generate pdf from branch joss_paper

[2022-03-08 16:07] PetrKryslUCSD commented on #4157
@editorialbot generate pdf from branch joss_paper

[2022-03-08 16:07] PetrKryslUCSD commented on #4157
@editorialbot generate pdf

[2022-03-08 16:08] mortele commented on #4149
Hi @rkurchin, sorry again for the delay, I am just getting back into things. I will be starting work on resolving the review issues in the next couple of days.

[2022-03-08 16:22] fboehm commented on #3888
@whedon set version as v 1.0.1

[2022-03-08 16:22] fboehm commented on #3888
@editorialbot set version as v 1.0.1

[2022-03-08 16:24] fboehm commented on #3888
@editorialbot set v 1.0.1 as version

[2022-03-08 16:25] fboehm commented on #3888
set 10.5281/zenodo.6338110 as archive

[2022-03-08 16:29] fboehm commented on #3888
@editorialbot set 10.5281/zenodo.6338110 as archive

[2022-03-08 16:30] fboehm commented on #3888
@editorialbot recommend-accept

[2022-03-08 16:37] editorialbot opened #4235 "[PRE REVIEW]: imucal - A Python library to calibrate 6 DOF IMUs"
**Submitting author:** @AKuederle (<a href="http://orcid.org/0000-0002-5686-281X">Arne Küderle</a>)
**Repository:** https://github.com/mad-lab-fau/imucal
**Branch with paper.md** (empty if default branch):
**Version:** v2.1.0
**Editor:** @adi3
**Reviewers:** @tuliofalmeida, @finsberg
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/3dd1a7dd5ba06ce024326eee2e9

[2022-03-08 16:51] AKuederle commented on #4235
Suggestions for reviewers: tuliofalmeida, aaa34169, jizecn, sptennak

The suggestions are based on knowledge in Python and movement analysis or wireless sensor tech.

[2022-03-08 16:52] Kevin-Mattheus-Moerman commented on #4235
@AKuederle thanks for this submission. I am the AEiC on call this week for JOSS. As you can see I have started looking for a handling editor.
In the meantime you could perhaps check those potentially invalid DOIs. :point_up: You can update the paper by calling `@editorialbot generate pdf`, and you can check the references by calling `@editorialbot check references`.

[2022-03-08 17:08] gdetor commented on #3974
@jarvist @tiagoseq It seems I cannot access the check list. Any help?

[2022-03-08 17:09] kellyrowland commented on #3318
@editorialbot set 10.5281/zenodo.6334651 as archive

[2022-03-08 17:09] kellyrowland commented on #3318
@editorialbot recommend-accept

[2022-03-08 17:11] vijaysm commented on #3959
It took me couple of iterations, but I think I have dune-mmesh successfully installed now in a Docker container. It may be simple to document this explicitly in your README for someone wanting to get started.
[code]
I can now clone the repository and play with the examples locally. I have the image with dune-mmesh installed but have not had the time to experiment with the scripts. Meanwhile, any u

[2022-03-08 17:14] AKuederle commented on #4235
10.1016/0924-42479480031-6:  This seems to be incorrectly extracted from the bot. In the bibtex file and the paper the following doi is listed 10.1016/0924-4247(94)80031-6, which resolves correctly (Notice the brackets around the 94)

10.1088/0967: This DOI is indeed incorrect. However, it seems that no proper DOI exists for this paper. I could find the website corresponding to the original publis

[2022-03-08 17:30] Kevin-Mattheus-Moerman commented on #4235
@openjournals/dev I've been seeing a lot of these "false" invalid DOIs :point_up: most seem to be due to the brackets. Is this something we can fix in our system?

[2022-03-08 17:32] Kevin-Mattheus-Moerman commented on #4235
@AKuederle thanks for checking that. On the second paper, if it does not have a DOI, so be it, you can leave it out, that is no problem.

[2022-03-08 17:36] AKuederle commented on #4235
@editorialbot generate pdf

[2022-03-08 17:41] sebastien-plutniak commented on #4178
Hi @martinfleis,
thank you for handling this submission and for this first series of comments.
1. I added a license file
2. I moved the use case to the README and to the vignette of the package
3. the DESCRIPTION file includes a `BugReports` line and my email. Is this not enough?

About potential reviewers, I might suggest: platipodium, benmarwick, steko (from the JOSS reviewers list) and, additio

[2022-03-08 17:50] Kevin-Mattheus-Moerman commented on #4157
@PetrKryslUCSD thanks for your help here! Are you able to tick that last box? The license box is un-ticked. Note the MIT license used is OSI approved and accepted for JOSS.

[2022-03-08 17:51] Kevin-Mattheus-Moerman commented on #4157
@editorialbot set joss_paper as branch

[2022-03-08 17:51] Kevin-Mattheus-Moerman commented on #4157
@editorialbot generate pdf

[2022-03-08 17:56] diehlpk commented on #4075
@jiahecui Could you please fix the paper? No need to do a new release or update the DOI. Just push the fixed paper.md to master, and I will compile again.

[2022-03-08 17:56] PetrKryslUCSD commented on #4157
Sorry, I overlooked that.

[2022-03-08 18:09] xuanxu commented on #4235
Yes, code validating DOI updated! It should be fixed now

[2022-03-08 18:10] xuanxu commented on #4235
@editorialbot check references

[2022-03-08 18:23] arcaldwell49 commented on #4148
Hi @fboehm, I will make the tagged release ASAP. As far as the archive goes, are you wanting something like a Zenodo archive of the paper.md file?

[2022-03-08 18:29] JohnCoene commented on #4191
I do apologise, I would have loved to but I'm overwhelmed with work and won't have time.

I wish you all the best!

[2022-03-08 19:10] csoneson commented on #4188
👋🏻 @BatoolMM, @waldeyr - would you be interested in reviewing this submission for JOSS?

[2022-03-08 19:11] csoneson commented on #4182
👋🏻 Hi all - just wanted to check in how things are going here - let me know if you have any questions!

[2022-03-08 19:14] csoneson commented on #3990
👋🏻 Hi all - just wanted to check in to see how things are going here. Just let me know if there are any questions! Thanks!

[2022-03-08 19:19] ajstewartlang commented on #4045
:wave: @nastaran62 I'm just having a final pass through and have spotted a few small things in the reference list that need correcting.

- For the Chen et al. (2020) paper could you add the volume/issue/page numbers please after the journal title to be consistent with the rest of the references: Journal of Personality and Social Psychology, 121(5), 1029–1056
- Looks like there is a formatting typo

[2022-03-08 19:27] jspaezp commented on #3990
@csoneson I just noticed the reply to my comments in the issue I created within the project (4 days ago), at first glance it looks amazing and I dont expect any blocking issue to be left. I will take a deeper look later in the week but I should be able to give it a "good to go" by the end of the week.

Amazing job @joewandy

[2022-03-08 19:34] jiahecui commented on #4075
Hi @diehlp, sorry I didn't know this symbol wasn't available. I think I have fixed it now. Please let me know if it isn't.

[2022-03-08 20:02] nastaran62 commented on #4045
@editorialbot generate pdf

[2022-03-08 20:02] diehlpk commented on #4075
@editorialbot recommend-accept

[2022-03-08 20:03] nastaran62 commented on #4045
@editorialbot check references

[2022-03-08 20:08] diehlpk commented on #4075
@jiahecui I am so sorry, but there is another issue with the references
[code]

[2022-03-08 20:17] nastaran62 commented on #4045
@editorialbot generate pdf

[2022-03-08 20:23] sdhutchins commented on #4048
Hey, @lpantano! I'm open to reviewing it.

[2022-03-08 20:36] timtroendle commented on #4229
👋 @LeonieFierz, looking forward to working on your submission! I started looking for reviewers. If you have any suggestions, please let me know.

[2022-03-08 20:38] timtroendle commented on #4229
:wave: @samuelduchesne, @ralphevins & @jasondegraw, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-08 20:39] jiahecui commented on #4075
Hi @diehlp no worries, I have now deleted the line that's causing error, maybe try again? Many thanks!

[2022-03-08 20:43] jhollist commented on #4039
@crvernon, first thanks for keeping this moving along.

I've made the edits, added mention of the CONTRIBUTING to the README, and have created a pkgdown site which is available via https://jhollist.github.io/nsink.  I do not have admin rights on the https://github.com/usepa/nsink repository so haven't added this link to the About section.  I can add a link to the README if you think that is good.

[2022-03-08 20:50] nastaran62 commented on #4045
@editorialbot generate pdf

[2022-03-08 20:52] csoneson commented on #3990
Thanks for the update @jspaezp!

[2022-03-08 20:53] nastaran62 commented on #4045
@ajstewartlang I checked all references and fixed the items that you mentioned and some others. Hopefully, this time all of them are correct. Thank you very much for your comments and editing.

[2022-03-08 20:53] lpantano commented on #4048
@editorialbot add @sdhutchins as reviewer

[2022-03-08 20:53] lpantano commented on #4048
Thank you so much! I am starting the review now!

[2022-03-08 20:53] lpantano commented on #4048
@editorialbot start review

[2022-03-08 20:53] editorialbot opened #4236 "[REVIEW]: VPsearch: fast exact sequence similarity search for genomic sequences"
**Submitting author:** @jvkersch (<a href="http://orcid.org/0000-0002-5813-5659">Joris Vankerschaver</a>)
**Repository:** https://github.com/enthought/vpsearch
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.2
**Editor:** @lpantano
**Reviewers:** @tamarahadz, @sdhutchins
**Archive:** 10.5281/zenodo.7142747

## Status

[![status](https://joss.theoj.org/papers/6fa23d3972137c139

[2022-03-08 20:53] #4048 closed

[2022-03-08 21:04] joewandy commented on #3990
My apologies @jspaezp @MKoesters! I forgot to let you know here that last week I had replied to the issues that were created in our project github.

[2022-03-08 21:10] ralphevins commented on #4229
Unfortunately I must decline as I have a conflict of interest with the author.

[2022-03-08 21:10] diehlpk commented on #4075
@editorialbot recommend-accept

[2022-03-08 21:20] diehlpk commented on #4075
Yeah, not it seems correct.

[2022-03-08 21:39] Evmoerman commented on #4040
Yes, I am working on the tutorial at the moment. Returned from Vienna this week.

[2022-03-08 21:43] sbillinge commented on #3119
Dear @arfon and @remram44 .  Thanks for your review and your patience.  We have now responded to all the issues that were raised in @remram44 's initial review.     I will post our responses below.

The second issue @arfon raised was to help finding a second referee.  Do you want suggestions of names or do you want me to reach out directly to people?  Do you have input on the conflict of issue asp

[2022-03-08 22:02] sbillinge commented on #3119
Here are responses to the @remram44 review points from above:

 _We changed the project name to `shed-streaming` and the module name to `shed_streaming`. The new package is released in the conda-forge channel._

_We deleted the pip.txt since it is not used in the installation. All dependencies are installed using conda._

_We add a bash script for users to install the package using the source repo

[2022-03-08 22:04] sbillinge commented on #3119
Here are names of potential second reviewers:

* Dylan McReynolds (@dylanmcreynolds) at Advanced Light Source, Lawrence Berkeley National Laboratory (LBNL)
* Blaise Thompson (@untzag) University of Wisconson
* Hari Krishnan (@HarinarayanKrishnan) at LBNL

[2022-03-08 22:31] BatoolMM commented on #4188
Hi @csoneson , Would it be alright if I submit my review by Monday or do you need it sooner?

[2022-03-08 22:54] crvernon commented on #4219
Thanks @AtrCheema !  We usually try to turn these reviews around in 4 to 6 weeks.  So first review in about 2 generally.

[2022-03-08 22:56] crvernon commented on #4219
👋 Alright @jonschwenk @thurber  @AtrCheema - I am going to close this Pre-Review and kick off the full review which you should receive a notification for. Thanks!

[2022-03-08 22:58] editorialbot opened #4237 "[REVIEW]: rabpro: global watershed boundaries, river elevation profiles, and catchment statistics"
**Submitting author:** @jonschwenk (<a href="http://orcid.org/0000-0001-5803-9686">Jon Schwenk</a>)
**Repository:** https://github.com/VeinsOfTheEarth/rabpro
**Branch with paper.md** (empty if default branch):
**Version:** v0.5.2
**Editor:** @crvernon
**Reviewers:** @thurber, @kanishkan91
**Archive:** 10.5281/zenodo.6600803

## Status

[![status](https://joss.theoj.org/papers/dac944874c90aecf8cd4a

[2022-03-08 22:58] #4219 closed

[2022-03-08 23:06] crvernon commented on #4039
@jhollist  we are almost there!  Next is just setting up the archive for your new release.

- We want to make sure the archival has the correct metadata that JOSS requires.  This includes a title that matches the paper title and a correct author list.

So here is what we have left to do:
- [ ] Conduct a GitHub release of the current reviewed version of the software you now have on the `main` and a

[2022-03-08 23:10] krober10nd commented on #3959
Okay. I've tried the identical set of steps and it's failed on my end although I don't have Ubuntu to test on. The fact that it's been this challenging to install is not a good sign. How are other users using this code? Can this be simplified?

[2022-03-08 23:37] arcaldwell49 commented on #4148
@fboehm Release is up. https://github.com/arcaldwell49/SimplyAgree/releases/tag/0.0.3

 I have a draft in Zenodo of v0.0.3 that I will publish with your confirmation that this is how you would like me to proceed.

[2022-03-08 23:57] auroreloisy commented on #4233
Suggested reviewers from the list: abhiramm7, g4brielvs, 11michalis11,
giodegas, ulf1, dglmoore

On Tue, Mar 8, 2022 at 4:30 PM The Open Journals editorial robot <
***@***.***> wrote:

[2022-03-09 00:18] kellyrowland commented on #3318
@editorialbot generate pdf

[2022-03-09 00:32] florisvb commented on #4078
@whedon -- what are the next steps to proceed with the review?

- Floris

On Fri, Mar 4, 2022 at 2:35 PM Floris van Breugel ***@***.***>
wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate Program for Neuroscience
University of Nevada, Reno

Wildlife and Landscape Photography
Galleries: http://www.ArtInNaturePhotography.com/

[2022-03-09 00:35] florisvb commented on #4078
@editorialbot -- what are the next steps to proceed with the review?

On Tue, Mar 8, 2022 at 4:32 PM The Open Journals editorial robot <
***@***.***> wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate Program for Neuroscience
University of Nevada, Reno

Wildlife and Landscape Photography
Galleries: http://www.ArtInNaturePhot

[2022-03-09 00:37] florisvb commented on #4078
@editorialbot commands

On Tue, Mar 8, 2022 at 4:36 PM The Open Journals editorial robot <
***@***.***> wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate Program for Neuroscience
University of Nevada, Reno

Wildlife and Landscape Photography
Galleries: http://www.ArtInNaturePhotography.com/
Blog: http://www.ArtInNaturePhoto

[2022-03-09 00:58] florisvb commented on #4078
@christinahedges - I just wanted to check in to see where we are at with
the review. I resolved all of Petar's issues, but have not gotten any tasks
from Bill Tubbs.

I am new to this type of review process, so I apologize if I have missed
something.

- Floris

On Tue, Mar 8, 2022 at 4:37 PM The Open Journals editorial robot <
***@***.***> wrote:

--
Floris van Breugel   |   http://www.florisvanbr

[2022-03-09 01:06] ricopicone commented on #3884
Apologies for the delay in getting back to this. This week I'll see if I can follow the authors' responses to the issues I opened to finish the review. Thanks for the reminder.

[2022-03-09 02:13] YuliyaLab commented on #4080
Hello @jmschrei,
we have proofread the manuscript and uploaded the latest version.
It would be great if we could move forward with acceptance.
Thank you,
Yuliya

[2022-03-09 02:27] jmschrei commented on #4080
@editorialbot generate pdf from branch dev2

[2022-03-09 02:28] jmschrei commented on #4080
@editorialbot set dev2 as branch

[2022-03-09 02:28] jmschrei commented on #4080
@editorialbot generate pdf

[2022-03-09 02:33] jmschrei commented on #4080
@Assistedevolution would you mind checking off the final checkmark in functionality->performance if you've found that to be satisfactory? Then we can move forward with acceptance.

[2022-03-09 02:38] AlphonsG commented on #4080
Hello @jmschrei, the branch containing the accepted changes by the reviewers and latest paper is now main, thanks.

[2022-03-09 02:39] jmschrei commented on #4080
@editorialbot set main as branch

[2022-03-09 02:39] jmschrei commented on #4080
@editorialbot generate pdf

[2022-03-09 03:20] JoaoRodrigues commented on #4182
Hi all,

Thanks for the invitation to review and congrats on the submission.

The general idea behind this submission is sound, and follows-up on a 2021 publication from the same authors on E2EDNA v1.0, published in JCIM. From my understanding, the code is essentially a re-write to use OpenMM instead of Tinker as the MD engine. While this is valuable - makes it simpler to install/run - the authors

[2022-03-09 03:29] mbobra commented on #3331
Thanks for the update, @ashleychontos! To answer your question -- it depends.

The JOSS reviewers will go through the checklist above and to determine whether pySYD satisfies the review criteria. If pySYD does not satisfy some given criterion, then they will open an issue on the repo. Those issues must be resolved before pySYD passes review. However, you absolutely do not need to resolve other iss

[2022-03-09 06:20] danasolav commented on #4227
Thanks @editorialbot <https://github.com/editorialbot>.
Here are some potential reviewers:
Manuel Rausch, UT Austin
Alexander Dickinson, University of Southampton
Paolo Ferraiuoli, University of Sheffield
John Hebert, Louisiana State University
Anika Kao/Gregory J. Gerling,  University of Virginia
Elizabeth Gacek/Victor H. Barocas, University of Minnesota

From the list of joss reviewers:
moorepan

[2022-03-09 06:59] csoneson commented on #4188
@BatoolMM - oh, no such hurry! 🙂  If you accept the review assignment, and once we have secured one more reviewer, I will open a separate review issue on GitHub, where you will have a checklist with the things that we ask our reviewers to look for. Once we're there the review can start and we would typically like to have an initial round of comments within two weeks or so (although JOSS reviews ar

[2022-03-09 07:13] osorensen commented on #4194
:wave: @jwirsich @adbartni @jameschapman19 would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-09 07:29] mwegrzyn commented on #4133
Hi @galessiorob , thank you for your message and please excuse the delay. I will try to finish the review today. Best, Martin

[2022-03-09 07:35] timtroendle commented on #4229
Ok. Thanks for letting us know!

[2022-03-09 07:55] alberto-battistel commented on #3829
Sorry, I forgot to tick the last one.

[2022-03-09 08:16] mikldk commented on #4191
@cpalmer718: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-03-09 08:59] hugoledoux commented on #4032
@editorialbot generate pdf

[2022-03-09 09:08] hugoledoux commented on #4032
@editorialbot check references

[2022-03-09 09:12] Moyoxkit commented on #4107
Should be added/changed now. @whedon generate pdf

[2022-03-09 10:53] ajstewartlang commented on #4045
Many thanks @nastaran62 - the paper now looks good to me. Thanks for submitting this great work to JOSS - and many thanks again to @peircej and @ixjlyons for reviewing!

[2022-03-09 10:53] ajstewartlang commented on #4045
@editorialbot recommend-accept

[2022-03-09 10:56] ajstewartlang commented on #4045
:wave: @nastaran62 If you could now do the following please, that would be great:

- Make a [tagged release](https://docs.github.com/en/github/administering-a-repository/releasing-projects-on-github/managing-releases-in-a-repository) of the software.
- Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- Check the archival deposit (e.g., in Z

[2022-03-09 12:07] marcosvital commented on #3444
Alright! Thank you, @Cole-Monnahan-NOAA and @MikeKaller for all the effort you put in reviewing this submission.

[2022-03-09 12:07] marcosvital commented on #3444
@editorialbot check references

[2022-03-09 12:09] marcosvital commented on #3444
@raerickson, can you check those potentially missing DOIs and correct the invalid? Once you've done that, we will proceed to have a final look on the manuscript to see if everything is ok.

[2022-03-09 12:38] rowlandseymour commented on #4206
@editorialbot generate my checklist

[2022-03-09 12:45] fboehm commented on #4148
Thanks, @arcaldwell49 . The archive should contain the entire repository, not just the paper.md file. I think that what you've shared is what's needed. Please correct me if I'm mistaken.

[2022-03-09 12:46] fboehm commented on #4148
Please publish it and report the doi here.

[2022-03-09 13:38] editorialbot opened #4238 "[PRE REVIEW]: Fidgit"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** https://github.com/arfon/fidgit
**Branch with paper.md** (empty if default branch): on-a-branch
**Version:** v1.9
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/9f56e19633d6e6e915be3fa3f1022d5e/status.svg)](htt

[2022-03-09 13:45] arfon commented on #4238
@editorialbot reject

/ cc @xuanxu

[2022-03-09 13:45] #4238 closed

[2022-03-09 14:34] lucass-carneiro commented on #4077
@editorialbot generate pdf from branch paper

[2022-03-09 14:38] bonh commented on #3742
@editorialbot generate pdf

[2022-03-09 14:41] hugoledoux commented on #4032
@fnattino your paper is indeed accepted by the 2 reviewers and I am happy to start its official acceptance.

First, I fixed a few things, please accept the PR: https://github.com/phenology/cgc/pull/83
I must say that the paper is very-well written and clear, and the code and package was near perfection when you submitted. Well done.

At this point could you:
- [ ] Ensure that the copyright in the

[2022-03-09 14:51] diehlpk commented on #3959
@samuelburbulla What about proving some Docker image with the latest stable version or master for testing the code?

[2022-03-09 14:51] diehlpk commented on #3959
Or at least a Docker file with the installation instructions?

[2022-03-09 14:52] raerickson commented on #3444
@marcosvital  I have checked the DOIs and updated them in the master branch.

Also, is it okay if I delete the JOSS branch and reviewer branches?

[2022-03-09 14:53] jhollist commented on #4039
@crvernon I have created a new release, uploaded that to Zenodo and have the DOI: 10.5281/zenodo.6341565

Anything else, just holler!

[2022-03-09 14:55] KristinaRiemer commented on #4029
@editorialbot check references

[2022-03-09 14:59] rowlandseymour commented on #4206
I've completed my review of the package and overall I think this is a very well executed package and submission for JOSS. The package is already on CRAN and has a user base meaning that you meet a high standard for usability and contribution. There is a book on using the package, which is the ultimate form of documentation. Running goodpractice and dev tools checks highlight only very minor concer

[2022-03-09 15:06] marcosvital commented on #3444
@editorialbot generate pdf

[2022-03-09 15:11] marcosvital commented on #3444
@raerickson yes, it's ok to delete those branches.

And please take a careful look at the new pdf version of the manuscript above. Let me know if everything is fine or if you need to make any final corrections.

[2022-03-09 15:26] cescalara commented on #4077
Hi @lucass-carneiro,

Thanks again for taking all the comments on board.

That sounds right, although it should be able to pick up existing tags. If there are still any issues after tagging your new release, you can always just clear out the `gh-pages` branch and rerun the action (at least this has worked for me).

No worries, this really isn't a big deal.

That would be great, I think then I can

[2022-03-09 15:31] KristinaRiemer commented on #4029
The JOSS bot has been fixed to accept DOIs with parentheses now, thanks to @xuanxu! All of the DOIs in the paper are good now, thanks @rickhelmus.

[2022-03-09 15:32] KristinaRiemer commented on #4029
@editorialbot set 10.5281/zenodo.6337883 as archive

[2022-03-09 15:33] KristinaRiemer commented on #4029
@editorialbot recommend-accept

[2022-03-09 15:34] KristinaRiemer commented on #4029
@rickhelmus thank you for taking care of the updated archive and new version. The final step here is for an EiC to look over everything and confirm submission acceptance.

[2022-03-09 15:50] psanan commented on #4070
@whedon generate pdf

[2022-03-09 15:50] psanan commented on #4070
@editorialbot generate pdf

[2022-03-09 16:00] lucydot commented on #4234
Hello @miesli I'll be your editor for this submission 👋 .

Do you have any suggestions for potential reviewers? If so it'd be useful if you could mention them here in this thread (without tagging them with an @). In addition, [this list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) of people have already agreed to review for JOSS and may b

[2022-03-09 16:07] lucydot commented on #4108
@editorialbot set joss-submission as branch

[2022-03-09 16:08] lucydot commented on #4108
@jonathanHuwP I cannot see your list of proposed reviewers?...please post them directly in the thread (without the @ sign)

[2022-03-09 16:12] mstimberg commented on #3956
Hi everyone. In case there are any doubts about this: I still recommend the acceptance of the paper in its most recent version.
Quite obviously @puolival's review was  more "demanding" than my own, but I also agree that the changes to address the raised points improved the manuscript/code/documentation.

I hope I am not overstepping my role as a reviewer here, but let me mention two points from th

[2022-03-09 16:41] omshinde commented on #3709
@whedon generate pdf

[2022-03-09 16:42] omshinde commented on #3709
@editorialbot generate pdf

[2022-03-09 16:46] crvernon commented on #4039
@editorialbot generate pdf

[2022-03-09 16:50] crvernon commented on #4039
NOTE:  the invalid DOI resolves correctly per the author's comment:

[2022-03-09 16:51] crvernon commented on #4039
@editorialbot set 10.5281/zenodo.6341565 as archive

[2022-03-09 16:52] omshinde commented on #3709
@AlexanderJuestel @crvernon
I am ready with my final review and I have checked off the remaining items. The authors have done a great job to provide neat software and I congratulate them for their contributions. The updated documentation is comprehensive and detailed. Thank you to the authors for their efforts. From my side, I am happy to recommend the work to be published in JOSS.

Thanks, @crver

[2022-03-09 16:54] crvernon commented on #4039
@jhollist  - thanks for putting together a really nice software product!  Thanks to @jmp75  and @ldecicco-USGS for a constructive and timely review!

I am recommending that your submission be accepted.  An EIC will review this shortly and confirm final publication if all goes well.

[2022-03-09 16:55] crvernon commented on #4039
@editorialbot recommend-accept

[2022-03-09 17:05] jhollist commented on #4039
Thank you, @crvernon, @ldecicco-USGS, and @jmp75!  JOSS is one of my favorite journals to submit to and review for!

[2022-03-09 17:24] mwegrzyn commented on #4133
Dear all,

I have finished my review and opened an issue outlining my comments [here](https://github.com/erling6232/imagedata/issues/3#issue-1164224377).

Best,
Martin

[2022-03-09 19:00] bgyori commented on #4136
@majensen sorry to bug you, it seems like we are very close here. The artifacts seem to have generated well per the message above.

[2022-03-09 19:08] majensen commented on #4136
@bgyori. yes, I'm afraid this is in the hands of other volunteer, unpaid people with day jobs now, the @openjournals/joss-eics.

[2022-03-09 19:42] gkthiruvathukal commented on #3829
Thanks, @alberto-battistel. @MariaPoliti, let me know when you have a chance to act on the above checklist of final steps.

[2022-03-09 19:44] pdebuyl commented on #4077
Hi @lucass-carneiro I did not consider that @JamieBamber might not read his notifications from GitHub, which happens not so unfrequently with JOSS reviewers. It was the case and he confirmed today that he would review. Sorry for the delay about this!

[2022-03-09 19:46] pdebuyl commented on #4077
@editorialbot set paper as branch

[2022-03-09 19:47] pdebuyl commented on #4077
@editorialbot generate pdf

[2022-03-09 21:03] pdebuyl commented on #4077
Regarding the citations, there is a mismatched curly brace at https://github.com/lucass-carneiro/QuasinormalModes.jl/blob/paper/paper/paper.bib#L131 so the bibtex parsing fails.

[2022-03-09 21:54] fnattino commented on #4032
Thank you so much, very happy to hear!

Merged!

The copyright year on the README file has been fixed and I have added the ORCIDs to the Zenodo metadata, thanks for the tips!

I have made a tagged release of the software, with tag [v0.6.2](https://github.com/phenology/cgc/releases/tag/v0.6.2).
This tagged version has been archived [on Zenodo](https://zenodo.org/record/6342263) with DOI: https://do

[2022-03-09 22:37] kellyrowland commented on #3318
@editorialbot generate pdf

[2022-03-09 22:50] kellyrowland commented on #3318
Hi @alexmalins there's a bit of inconsistency with the editoralbot behavior that the JOSS team is working to resolve; the `recommend-acceptance` command is currently failing because of some warnings. The intended behavior is that the `generate pdf` command should also be failing, so we don't get to this mismatched point.

The repeated warnings in the acceptance pipeline look to be all of the form:

[2022-03-09 23:08] BatoolMM commented on #4188
Thank you for the clarification! It makes more sense now - my only experience with reviewing research software is `R Journal`, so thank you for elaborate explanation. This paper looks interesting - I'm happy to accept the review assignment!

[2022-03-09 23:46] MariaPoliti commented on #3829
@gkthiruvathukal
Find the requested information below:

1. Release name: `HARDy v1.0.1 Release` ; Tag: `v1.0.1`
2. Zenodo Link: https://zenodo.org/record/6339767
3. Zenodo DOI: 10.5281/zenodo.6339767

Let me know if I have missed something

[2022-03-09 23:53] gkthiruvathukal commented on #3829
@editorialbot set v1.0.1 as version

[2022-03-09 23:54] gkthiruvathukal commented on #3829
@editorialbot  set Zenodo DOI as archive

[2022-03-09 23:54] gkthiruvathukal commented on #3829
@editorialbot commands

[2022-03-09 23:55] gkthiruvathukal commented on #3829
@editorialbot set 10.5281/zenodo.6339767 as archive

[2022-03-09 23:55] gkthiruvathukal commented on #3829
@whedon generate pdf

[2022-03-09 23:56] gkthiruvathukal commented on #3829
@editorialbot generate pdf

[2022-03-10 00:00] gkthiruvathukal commented on #3829
@editorialbot recommend-accept

[2022-03-10 00:03] gkthiruvathukal commented on #3829
@MariaPoliti  Thank you for your patience.
@andrewtarzia and @alberto-battistel Thank you for your great help on reviewing this submission.

I have recommended acceptance and look forward to seeing this work published in JOSS.

[2022-03-10 06:47] hugoledoux commented on #4032
@editorialbot generate pdf

[2022-03-10 06:50] hugoledoux commented on #4032
one small fix @fnattino : the capitalisation of the title of the paper is different on zenodo, can you edit it to match exactly please?

[2022-03-10 07:37] fnattino commented on #4032
Done @hugoledoux - the title of the paper has been updated!

[2022-03-10 07:51] hugoledoux commented on #4032
@editorialbot set https://doi.org/10.5281/zenodo.6342263 as archive

[2022-03-10 07:51] hugoledoux commented on #4032
@editorialbot set v0.6.2 as version

[2022-03-10 07:52] hugoledoux commented on #4032
@editorialbot recommend-accept

[2022-03-10 07:53] hugoledoux commented on #4032
congratulations @fnattino , your paper will now be handled by an EiC (who might want a few fixes if we omitted something).

Thanks @Subho07 and @Narayana-Rao for the reviewers, it went smoothly 👍

[2022-03-10 08:09] bkmi commented on #4205
I implemented the change w.r.t. labels!

[2022-03-10 08:52] miesli commented on #4234
Hello @lucydot,

in our field, there are very few people working with open-source code or python. So from your list, all python specialists who have knowledge in semiconductors or electrical engineering are maybe the best choices:

Dalonsoa
dilwar
allenzhu
garrettj403

I hope some of them agree to review our project.

[2022-03-10 08:53] csoneson commented on #4188
Brilliant, thanks @BatoolMM!

[2022-03-10 09:11] martinfleis commented on #4178
@editorialbot generate pdf

[2022-03-10 09:12] xuanxu commented on #4220
@aureliocarnero / @zpace: would you be willing to review this paper? I think your knowledge of Astrophysics and Python makes both of you a great fit for this submission.

[2022-03-10 09:13] martinfleis commented on #4178
@editorialbot check references

[2022-03-10 09:19] martinfleis commented on #4178
That does not cover all what I mentioned.

[code]

I would also suggest using an open platform for support, rather than an email. It can be via Github issues as well but you don't want to answer the same questions repeatedly so the support forum should be searchable. You should also explicitly state how others could contribute to the software.

[2022-03-10 10:42] alberto-battistel commented on #3829
I ticked the missing point. Is there anything else?

[2022-03-10 11:27] tpurcell90 commented on #3960
@jarvist Do I need to do anything else for this?

[2022-03-10 11:43] editorialbot opened #4239 "[PRE REVIEW]: DIRECT: Deep Image REConstruction Toolkit"
**Submitting author:** @georgeyiasemis (<a href="http://orcid.org/0000-0002-1348-8987">George Yiasemis</a>)
**Repository:** https://github.com/NKI-AI/direct
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** v1.0.1
**Editor:** @osorensen
**Reviewers:** @estenhl, @sairamgeethanath
**Managing EiC:** Arfon M. Smith

## Status

[![status](https://joss.theoj.org/papers/150

[2022-03-10 11:44] Kevin-Mattheus-Moerman commented on #4221
@editorialbot invite @christinahedges as editor

[2022-03-10 11:44] Kevin-Mattheus-Moerman commented on #4199
@fraukewiese do you think you can handle this submission?

[2022-03-10 11:45] Kevin-Mattheus-Moerman commented on #4235
@adi3 do you think you can handle this submission?

[2022-03-10 11:57] tiagoseq commented on #3974
I searched for an answer in [JOSS readthedocs](https://joss.readthedocs.io/en/latest/index.html) and didn't see anything with respect on how complete the checklist.

@jarvist can you give any help? Or maybe @rougier could give some insight on how complete the check list

[2022-03-10 12:00] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 I hope you are doing well. I am just checking in to see how you are getting on addressing those issues. Can you provide an update? No worries if you need more time.

[2022-03-10 13:05] meg-simula commented on #3885
@editorialbot generate pdf

[2022-03-10 13:06] meg-simula commented on #3885
@editorialbot check references

[2022-03-10 13:13] meg-simula commented on #3885
Very good, thank you! At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and aut

[2022-03-10 14:21] raerickson commented on #3444
@marcosvital  I fixed one small typo and updated the draft in my manuscript.

On line 34: I changed "liner" to be "linear"

Please let me know if you need anything else.

[2022-03-10 15:08] KristinaRiemer commented on #4029
Whoops! "archive" was supposed to be "version" here, let me try that again.

[2022-03-10 15:09] KristinaRiemer commented on #4029
@editorialbot set v2.0.1 as version

[2022-03-10 16:45] christinahedges commented on #4078
Hi Floris, Thanks for reaching out, let me get in touch with @billtubbs and ask whether they are having trouble with the review!

[2022-03-10 16:47] christinahedges commented on #4078
Hi Floris, thanks for checking in. @billtubbs it does look like you're review checklist is almost complete, do you have any comments for the authors of the tool and paper that you'd like them to address, and are you still checking, for example, the functionality of the tool? It does look like the review is close to complete.

[2022-03-10 16:48] dfm commented on #4107
@editorialbot add @kstoreyf as reviewer

Thanks Kate for agreeing to review, and thanks all for your patience! I'll get the main review started now in a new issue.

[2022-03-10 16:48] editorialbot opened #4240 "[REVIEW]: swift-emulator: A Python package for emulation of simulated scaling relations"
**Submitting author:** @Moyoxkit (<a href="http://orcid.org/0000-0003-0862-8639">Roi Kugel</a>)
**Repository:** https://github.com/SWIFTSIM/emulator
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.0
**Editor:** @dfm
**Reviewers:** @JDonaldM, @kstoreyf
**Archive:** 10.5281/zenodo.6447216

## Status

[![status](https://joss.theoj.org/papers/61d082196ef861cc0b612486c1fa6d40/stat

[2022-03-10 16:48] #4107 closed

[2022-03-10 16:49] christinahedges commented on #4017
@editorialbot remove @DougBurke from reviewers

[2022-03-10 16:50] christinahedges commented on #4017
@editorialbot add @dfm as reviewer

[2022-03-10 16:53] dfm commented on #4017
@editorialbot generate my checklist

[2022-03-10 16:56] christinahedges commented on #4153
Hi @reichherzerp, just checking in to let you know I am still searching for reviewers for this submission. If you have any suggestions for people who are experts, but aren't conflicted (which is sometimes quite difficult!) please do let me know, otherwise I will keep up my search.

[2022-03-10 17:12] taylormcd commented on #3997
@Kevin-Mattheus-Moerman
Jupyter notebook versions of the examples are now available.

[2022-03-10 17:29] chchch commented on #4022
Thanks everyone!

[2022-03-10 17:42] billtubbs commented on #4078
Hi @christinahedges, yes sorry, I was just waiting to do some more testing of one of the methods on some data I have from my current research.  I have done this now.  I probably don't have time to test all the methods but I will run their example notebooks on my computer just to make sure there are no bugs.  I haven't found any problems, bugs, or other improvement suggestions at all yet so I am li

[2022-03-10 17:53] lilyminium commented on #4100
@pdebuyl rats, that's annoying. I think QCFractal does have some notes somewhere that installation by pip is not optimal; perhaps it's related. Which architecture are you on? Do you find that it works with conda? I just ask because the `conda install psiresp` package should functionally do a `pip install psiresp`, followed by conda installing the remaining dependencies.

[2022-03-10 18:04] matthieuaussal commented on #3965
@editorialbot generate pdf

[2022-03-10 18:10] pdebuyl commented on #4100
I use debian. Googling postgresql initdb resulted in interesting finds about debian (and Ubuntu I believe) being different w.r.t. postgresql setup. I'll try once more and if it doesn't work go the conda route.

[2022-03-10 18:17] taless474 commented on #4162
@OlgerSiebinga any other potential reviewers?

[2022-03-10 18:19] taless474 commented on #4073
@marksantcroos, @burch-cm, please update on your reviews.

[2022-03-10 18:25] taless474 commented on #4162
@torressa are you interested in reviewing this?

[2022-03-10 18:25] matthieuaussal commented on #3965
Dear @pitsianis,

We apply all your recommandations, except teletype font for `sgemm`, as it was already done (if we well understand).  We don't cover `argsort` in this article, but it's fully done in the documentation. `Sortperm` function would be to achieve  in furthers developments.

Many thanks for your review

[2022-03-10 18:32] marcosvital commented on #3444
Thank you, @raerickson!
I'll take a look at the manuscript, and will let you know if there is anything else to be done.

[2022-03-10 18:32] marcosvital commented on #3444
@editorialbot generate pdf

[2022-03-10 18:41] bmcfee commented on #3934
Just checking in again - how are things going here?

[2022-03-10 18:42] marcosvital commented on #3444
@editorialbot set 10.5066/P9TT3ILO as archive

[2022-03-10 18:43] marcosvital commented on #3444
@editorialbot set v2.0.0 as version

[2022-03-10 18:44] marcosvital commented on #3444
@editorialbot recommend-accept

[2022-03-10 18:47] marcosvital commented on #3220
Dear @ViniciusBRodrigues and @FlukeAndFeather, any news on the reviewing process?

[2022-03-10 18:47] marcosvital commented on #2692
Hello againd, @Manolomon. Any news concerning your submission?

[2022-03-10 19:36] adbartni commented on #4194
@osorensen Thanks for reaching out, I'd be glad to review!

[2022-03-10 19:41] markheckmann commented on #3292
@gkthiruvathukal: well, what can I say 🙈🙈🙈. I have found time to implement some of the changes. But especially the request to add an interactive analysis output (not only the static Excel analysis to download) will require some more time. I have two weeks of holiday in April, in which I am confident to find enough time to finish the project. So yes, more time would be appreciated.

[2022-03-10 21:09] kyleniemeyer commented on #3780
Ah, that appears to be some typo in the archive. @arfon can this be corrected after the fact?

[2022-03-10 21:44] elbeejay commented on #4207
@editorialbot add @BrodiePearson as reviewer

[2022-03-10 21:55] BrodiePearson commented on #4207
@editorialbot generate my checklist

[2022-03-10 23:35] kyleniemeyer commented on #3888
Hi @mcsiple, I've made a small PR for the paper that does some minor formatting changes: https://github.com/mcsiple/mmrefpoints/pull/62

Could you merge this? I will then accept your paper.

[2022-03-10 23:38] mcsiple commented on #3888
Hi @kyleniemeyer -- done. Thank you!

[2022-03-10 23:39] kyleniemeyer commented on #3888
@editorialbot generate pdf

[2022-03-10 23:48] kyleniemeyer commented on #4075
Hi @jiahecui, I submitted a small PR that fixes some formatting issues in the paper: https://github.com/jiahecui/SenAOReFoc/pull/1

Could you merge this? I can then accept the paper.

[2022-03-11 00:41] kyleniemeyer commented on #3888
@editorialbot accept

[2022-03-11 01:04] jamesrhester commented on #4200
@editorialbot generate my checklist

[2022-03-11 01:20] ixjlyons commented on #4026
@whedon generate pdf

[2022-03-11 01:23] ixjlyons commented on #4026
@editorialbot generate pdf

[2022-03-11 01:28] jamesrhester commented on #4200
@wojdyr I can't find anything that might be interpreted as "community guidelines" in either the `README.md` or the Introduction on readthedocs. I would be satisifed with a couple of headings along the lines of "Contributing to GEMMI" explaining how to contribute, and another header "Support" explaining support options. The former would make sense in the `README.md` and the latter in the introducti

[2022-03-11 01:30] ixjlyons commented on #4026
@prashjha we've made some updates to the paper including adding a statement of need section.

[2022-03-11 01:32] jamesrhester commented on #4200
Another minor comment: I think it is worth mentioning somewhere in the Summary which major platforms the software compiles and runs on, or maybe just insert the word "cross-platform" somewhere.

[2022-03-11 03:03] fboehm commented on #4148
Thanks, @arcaldwell49 !

[2022-03-11 03:03] fboehm commented on #4148
@editorialbot set v0.0.3 as version

[2022-03-11 03:04] fboehm commented on #4148
@editorialbot set 10.5281/zenodo.6338611 as archive

[2022-03-11 03:05] fboehm commented on #4148
@editorialbot check references

[2022-03-11 03:08] fboehm commented on #4148
@editorialbot recommend-accept

[2022-03-11 03:10] christinahedges commented on #4221
@editorialbot assign me as editor

[2022-03-11 03:12] christinahedges commented on #4221
@kerrypaterson thank you so much for your submission to JOSS! I will check in very shortly with some further instructions, watch this space!

[2022-03-11 06:37] osorensen commented on #4194
Oooops.. Sorry!

[2022-03-11 06:38] osorensen commented on #4194
@editorialbot add @adbartni as reviewer

[2022-03-11 08:38] jiahecui commented on #4075
Hi @kyleniemeyer, I have now merged the PR, thank you very much!

[2022-03-11 08:39] jiahecui commented on #4075
Hi @diehlpk, thank you for all your help editing this paper!

[2022-03-11 10:24] adi3 commented on #4235
@Kevin-Mattheus-Moerman I'll take it from here. Thanks!

[2022-03-11 10:26] adi3 commented on #4235
@editorialbot assign me as editor

[2022-03-11 10:33] adi3 commented on #3671
@aaronpeikert @hayesall - looks like your review is only left with the *Software paper* portion. Is everything in the code repository to your satisfaction at this point? Would be great if we can have the reviews finished sometime this month. Can you please shoot for it? Thanks in advance!

[2022-03-11 10:35] adi3 commented on #3527
@editorialbot commands

[2022-03-11 10:36] adi3 commented on #3671
@editorialbot remind @aaronpeikert @hayesall  in 2 weeks

[2022-03-11 10:37] adi3 commented on #3527
@AP6YC - Final attempt to obtain any updates at your end. Are you still interested in proceeding with this review?

[2022-03-11 10:57] Kevin-Mattheus-Moerman commented on #3444
@rerickson-usgs I have proofread the paper and it seems to be in order. Below are some minor comments to address/consider:

- [ ] For consistency with other submissions can you please add `United States of America` to your affiliations? Also add the city to the second affiliation. Furthermore, you may remove the zip-code from the first affiliation if you like.
- [ ] This is not a requirement but c

[2022-03-11 11:11] tuliofalmeida commented on #4235
Hi @adi3 ! I can review this article, count on me. Thanks

[2022-03-11 11:19] aaa34169 commented on #4235
Hi @adi3
i am not the best person for dealing with IMU.

[2022-03-11 11:24] Kevin-Mattheus-Moerman commented on #3829
@MariaPoliti I have proofread your paper and it seems in order, but please do consider the following comment;

- [ ] Use a capital letter for names like `python` see for instance `python-based` in the text which should read `python-based`, please check throughout.

If you make changes to the paper please update it here using `@editorialbot generate pdf`. Thanks.

[2022-03-11 12:03] Kevin-Mattheus-Moerman commented on #4201
@hechth I am the AEiC on call for JOSS this week. The JOSS board has determined this submission may be in scope for JOSS. I have therefore removed the query scope label, and we'll therefore proceed to find and assign a handling editor.

[2022-03-11 12:03] Kevin-Mattheus-Moerman commented on #4201
@editorialbot invite @dhhagan as editor

[2022-03-11 13:33] arendsee commented on #4193
@Chjulian I'm still not quite done with the response, but it is high on my TODO list. I should be able to find a block of time soon.

[2022-03-11 13:53] melissawm commented on #4198
Hi @jdmoorman, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [joss.readthedocs.io/en/latest/review_criteria.html](https://joss.readthedocs.io/en/latest/review_criteria.html)

[2022-03-11 14:40] standage commented on #4209
Hi @mikldk! I've reviewed a handful of submissions before, and I would be happy to review this one!

[2022-03-11 14:53] raerickson commented on #3444
@Kevin-Mattheus-Moerman thank you for the proofing.

1. I have added "United States of America" to our affiliations and "Oneonta, NY" to the second affiliation. I also removed the zip code.
2.  I added a citation for JAGS and Stan.

The DOI is issued by my agency, the USGS. We are required by US policy and law to post our source code to a `*.gov` webpage. code. As an agency, we have Trusted Digita

[2022-03-11 15:11] ColemanRHarris commented on #4180
Hi @osorensen, any updates on these reviews? Thanks in advance!

[2022-03-11 15:15] raerickson commented on #3444
@Kevin-Mattheus-Moerman the doi now points to the repo

[2022-03-11 15:52] osorensen commented on #4180
@askerdb @tijeco can you please update us on how it's going with your reviews?

[2022-03-11 15:52] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 yes you can keep responding/fixing as the comments/issues come in. There is no former review round system. So yes people do start addressing reviewer comments and continue to do so.

[2022-03-11 15:58] tijeco commented on #4180
@osorensen I'm terribly sorry for the delay. I've had some unexpected events come up that I've been dealing with. I have the review on my calendar for this weekend. I hope that's okay.

[2022-03-11 16:16] mcsiple commented on #3888
Upon step 0, I found that one of the authors has an extra L in his name in paper.md🤦🏻‍♀️ It's correct everywhere else and I just fixed it. What do I do next? Sorry for the inconvenience...

[2022-03-11 16:16] osorensen commented on #4180
Thanks for the quick reply @tijeco. That's absolutely fine

[2022-03-11 16:43] KristinaRiemer commented on #4029
@editorialbot recommend-accept

[2022-03-11 17:06] Manolomon commented on #2692
Hello everyone.

Over the past year, my active participation in the development of the project entitled [Uvhevior](https://github.com/Manolomon/uvehavior-desktop) has been on hold and is not comparable to what it was at the time this submission started.
Unfortunately, this difference has escalated to a point that hinders the review from proceeding.
Due to this, my co-authors have come to the decis

[2022-03-11 17:08] crvernon commented on #3709
@editorialbot generate pdf

[2022-03-11 17:23] sebastien-plutniak commented on #4178
Ok, I added a “Community guidelines” section and the required
information in the README.

In addition, two other potential reviewers: Clemens Schmid, Néhémie
Strupler

[2022-03-11 17:25] crvernon commented on #3709
@editorialbot check references

[2022-03-11 17:42] Datseris commented on #4207
Hello @elbeejay , I would like to submit my review:

## Summary
PlanktonIndividuals.jl is a Julia package that simulates the lifecycle and transport of plankton in oceanic currents. It has strong performance capabilities utilizing GPU infrastructure. The paper makes a clear case supporting the need for the package. The paper and authors satisfy the official checklist of JOSS. As far as I can tell,

[2022-03-11 17:54] editorialbot opened #4241 "[PRE REVIEW]: FlowSieve: A Coarse-Graining Utility for Geophysical Flows on the Sphere"
**Submitting author:** @bastorer (<a href="http://orcid.org/0000-0001-5955-2158">Benjamin Storer</a>)
**Repository:** https://github.com/husseinaluie/FlowSieve
**Branch with paper.md** (empty if default branch):
**Version:** v3.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/62a2bfe9452051063e099fa9eebbab77/stat

[2022-03-11 18:34] rafaelmds commented on #4070
@rbeucher @psanan

We published a new release of [Mandyoc v.0.1.5](https://github.com/ggciag/mandyoc/releases/tag/v0.1.5) addressing most of the review issues.

We kept issues open, since we made comments on each of them.

[2022-03-11 18:34] rafaelmds commented on #4070
@editorialbot generate pdf

[2022-03-11 18:42] dhhagan commented on #4201
@Kevin-Mattheus-Moerman Sure thing - it's a bit unclear how I accept to edit?

[2022-03-11 18:49] Kevin-Mattheus-Moerman commented on #4201
You can comment: `@editorialbot assign me as editor`

[2022-03-11 18:57] marcosvital commented on #2692
Thank you for leting us know, @Manolomon.

@SteveViss and @62442katieb, thank you so much for all the effort you put on reviewing this submission.

[2022-03-11 19:00] marcosvital commented on #2692
@openjournals/joss-eics the author requests a withdraw.

[2022-03-11 19:27] pr4deepr commented on #3957
I've completed my review and am happy with the software and prompt responses by @nanthony21.
Please note that I am not as familiar with partial wave spectroscopy microscopy data and any functionality claims have been tested only using the examples and datasets provided in the library.

I think PWSpy is modular with an intuitive API, and makes data preprocessing and analysis straightforward.  This

[2022-03-11 19:30] kyleniemeyer commented on #3888
@arfon can you correct the published paper?

[2022-03-11 19:30] kyleniemeyer commented on #4075
@editorialbot generate pdf

[2022-03-11 19:42] jbytecode commented on #3965
@editorialbot check references

[2022-03-11 19:42] jbytecode commented on #3965
@editorialbot generate pdf

[2022-03-11 20:07] jgostick commented on #3957
Thanks SOO much @pr4deepr.  The peer review process is such a thankless task but the whole enterprise grinds to a halt without it.

[2022-03-11 20:07] jbytecode commented on #3965
Dear @matthieuaussal

I have made some corrections and additions in the paper and the bibliography.

Please apply the pull request if you are agreed with them.

[2022-03-11 20:09] christinahedges commented on #4078
Hi @billtubbs, thank you that sounds great. Please let us know here or on an issue on the PyNumDiff repo if you do find any issues to discuss, I'll check back in when you've had a little more time. @florisvb it seems like we are nearly there!

[2022-03-11 20:18] jbytecode commented on #4231
@myousefi2016 - do you receive this notification? Could you please generate your checklist as described above?

Thank you in advance.

[2022-03-11 20:26] kstoreyf commented on #4240
@editorialbot generate my checklist

[2022-03-11 20:39] jeremylt commented on #4172
@jedbrown, could you resend the invite? I waited too long before clicking the link.

[2022-03-11 20:45] kyleniemeyer commented on #4075
@editorialbot accept

[2022-03-11 21:17] kyleniemeyer commented on #4075
Congratulations @jiahecui on your paper's publication in JOSS!

Many thanks to @abhilash12iec002 , @JackTyson, and @alvesjnr for reviewing this, and @diehlpk for editing.

[2022-03-11 21:17] #4075 closed

[2022-03-11 21:18] kyleniemeyer commented on #2692
@editorialbot withdraw

[2022-03-11 21:19] #2692 closed

[2022-03-11 21:19] kyleniemeyer commented on #2692
Understood @Manolomon, thanks for letting us know. Thank you to @marcosvital, @SteveViss, and @62442katieb for your efforts.

[2022-03-11 21:26] kyleniemeyer commented on #4136
@editorialbot accept

[2022-03-11 21:46] jiahecui commented on #4075
@kyleniemeyer @diehlpk @abhilash12iec002 @JackTyson @alvesjnr Thank you very much for everyone's time and for accepting the paper!

[2022-03-11 21:49] kyleniemeyer commented on #4136
Congratulations @bgyori on your article's publication in JOSS!

Many thanks to @dhimmel and @leonweber for reviewing this, and @majensen for editing.

[2022-03-11 21:49] #4136 closed

[2022-03-11 21:53] jedbrown commented on #4172
Whedon retired young so we now ask `@editorialbot generate my checklist`. You don't need an invite.

[2022-03-11 21:53] kyleniemeyer commented on #4022
Hi @chchch can you clean up the Zenodo metadata so that the author name matches the paper? Also, it looks like the Barbook et al. reference has a DOI (10.1038/29667), could you add this? Once you resolve those things I can accept the submission.

[2022-03-11 21:59] jeremylt commented on #4172
@editorialbot generate my checklist

[2022-03-11 22:31] YohannDudouit commented on #4172
@editorialbot generate my checklist

[2022-03-11 22:32] pr4deepr commented on #3957
Thank you for the opportunity. I enjoyed this a lot and learned quite a bit too..

[2022-03-11 22:51] matthieuaussal commented on #3965
Dear @jbytecode <https://github.com/jbytecode>,

It’s done, thanks for the corrections.

[2022-03-11 23:46] kyleniemeyer commented on #4039
@editorialbot accept

[2022-03-12 00:00] kyleniemeyer commented on #4039
Congratulations @jhollist on your article's publication in JOSS!

Many thanks to @jmp75 and @ldecicco-USGS for reviewing this, and @crvernon for editing.

[2022-03-12 00:00] #4039 closed

[2022-03-12 00:59] mkitti commented on #3965
Excellent. Thank you for this contribution.

[2022-03-12 02:04] pythonpanda2 commented on #4166
@PeterKraus

https://github.com/dgbowl/yadg/issues/45

https://github.com/dgbowl/yadg/issues/46

[2022-03-12 04:18] lucass-carneiro commented on #4077
Hi @cescalara

I have made a few additions both of code examples and documentation to the package. Since I think all of these changes are important to the package as a whole, the have been pushed directly to `master`.

1. There are two new examples, [here](https://github.com/lucass-carneiro/QuasinormalModes.jl/blob/master/examples/harmonic_oscillator_roots_and_poles.jl) and [here](https://github.c

[2022-03-12 04:55] finagle29 commented on #3612
Thanks @tarleb !!
Is it possible to rerender the PDF displayed at https://joss.theoj.org/papers/10.21105/joss.03612 ?

[2022-03-12 06:25] jbytecode commented on #3965
Dear @matthieuaussal

- [ ] I sent another pull request with a small change (macos -> macOS). If you agree with it, please apply.

- [ ] Please re-check the whole paper by means of both language and format.

- [ ] make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/latest/submitting.html#the-review-process>), and report th

[2022-03-12 08:02] mcsiple commented on #3888
Found two more copy edits in paper.md (sorry, and thank you)-- see below.

[2022-03-12 08:06] Kevin-Mattheus-Moerman commented on #3444
@editorialbot generate pdf

[2022-03-12 08:15] Kevin-Mattheus-Moerman commented on #3444
@raerickson thanks for amending those affiliation descriptions.
About the DOI. I am afraid pointing to the repository is "even worse" (since the repository version is always in flux). The point of archiving the software is such that a non-changing permanent record is maintained of the software. So it should be a static snapshot of the reviewed software and it should be stored permanently. Next the

[2022-03-12 08:31] Kevin-Mattheus-Moerman commented on #4029
@editorialbot accept

[2022-03-12 08:36] Kevin-Mattheus-Moerman commented on #4029
Congratualtions @rickhelmus on getting this work published in JOSS! :partying_face:

Thanks for editing @KristinaRiemer!

And thank you so much to the reviewers: @wesleyburr and @hechth !!!!

[2022-03-12 08:36] Kevin-Mattheus-Moerman commented on #4148
@arcaldwell49
- [ ] Please add city and country information to your affiliations, for consistency with other submissions.
- [ ]

[2022-03-12 08:40] Kevin-Mattheus-Moerman commented on #4148
@openjournals/dev @xuanxu @arfon I think we have an issue with multiple affiliations for one author. Here the paper features the yaml `affiliation: "1, 2"` However, the affiliation appears as superscript `12` rather than `1, 2`.

![Screenshot from 2022-03-12 08-38-14](https://user-images.githubusercontent.com/8392709/158010764-81f0f8c5-6eb1-4fd5-bda7-d07f3347390e.png)

[2022-03-12 08:48] #4029 closed

[2022-03-12 09:45] tarleb commented on #3612
I believe @arfon might be able to do that.

[2022-03-12 13:49] Kevin-Mattheus-Moerman commented on #4201
@editorialbot assign @dhhagan as editor

[2022-03-12 14:09] tijeco commented on #4180
@osorensen @ColemanRHarris I'm going through this now. I've installed the software in a fresh environment and have a few notes / suggestions for the author to include in the documentation. On my end, it wouldn't install unless lme4 and nloptr were also installed. I've raised this as an issue on the mxnorm repo (https://github.com/ColemanRHarris/mxnorm/issues/4)

[2022-03-12 14:17] tijeco commented on #4180
@osorensen @ColemanRHarris I don't see automated tests. I see the test scripts though! I've raised an issue here (https://github.com/ColemanRHarris/mxnorm/issues/5)

[2022-03-12 14:19] tijeco commented on #4180
@osorensen @ColemanRHarris I'm not sure if this needs its own separate issue, but I don't see a contributing section.

[2022-03-12 14:22] cpalmer718 commented on #4191
@mikldk Hi, apologies for the delay. I'd be happy to review, this seems like a good fit.

[2022-03-12 14:35] tijeco commented on #4180
@osorensen @ColemanRHarris I ran into an interesting issue when going through the examples in the README, I've raised a separate issue (https://github.com/ColemanRHarris/mxnorm/issues/6).

[2022-03-12 16:32] cpalmer718 commented on #4181
Hi @osorensen I'm ready to post the review, but I can't edit the checklist message. I'm logged in, and I tried the invitation link but it said it couldn't find an invitation. Can you reinvite me? I apologize if this was (quite likely) because I waited too long to click the link.

[2022-03-12 17:04] AlexanderJuestel commented on #3709
@crvernon please let me know if there is anything I need to do prior to the publication

Cheers Alex

[2022-03-12 17:21] wojdyr commented on #4200
@jamesrhester Thanks a lot for the review.

We indeed don't have any guidelines or suggestions regarding contributing to GEMMI. Default Github's Community Guidelines apply. I think it makes reporting bugs easier – the user doesn't need to read and conform to a given protocol. Contributing code to GEMMI has not been formalized yet. To formalize it we'd need to decide how to handle copyrights (shoul

[2022-03-12 18:28] osorensen commented on #4180
Thanks for all your points, @tijeco!

[2022-03-12 18:29] osorensen commented on #4181
Thanks for reaching out @cpalmer718. I hope @openjournals/dev can help us with this issue.

[2022-03-12 18:31] osorensen commented on #4181
Or perhaps you could try running the following comment in this issue, @cpalmer718: `@editorialbot generate my checklist`. This should generate a new checklist, which you can edit.

[2022-03-12 18:34] cpalmer718 commented on #4181
@editorialbot generate my checklist

[2022-03-12 18:35] cpalmer718 commented on #4181
@osorensen oooh excellent, thank you

[2022-03-12 18:38] osorensen commented on #4181
Glad it worked @cpalmer718. Then just use this checklist rather than the one at the top.

[2022-03-12 19:46] thelfer commented on #4135
@Nikoleta-v3. All my questions and comments have been answered by @PaulSt (See Issues 2 to 9). I consider my review as over and would recommend the publication of the paper.

I think that we can congratulate @PaulSt for his patience.

[2022-03-12 19:55] PaulSt commented on #4135
Thank you again @thelfer for the detailed review and very helpful feedback!

[2022-03-12 20:24] elbeejay commented on #4207
Thank you for the thorough review @Datseris! I agree with your comments about the documentation being quite comprehensive and clear, and your suggestions to @zhenwu0728 and co-authors seem reasonable to me.

[2022-03-12 21:13] cpalmer718 commented on #4181
Extended comments/issue links:

- practical test coverage around 4.47%: https://github.com/blind-contours/CVtreeMLE/issues/10
- contribution link broken: https://github.com/blind-contours/CVtreeMLE/issues/8
- I concur about function documentation: https://github.com/blind-contours/CVtreeMLE/issues/4
- package is not on CRAN, as mentioned above; but also the devel version instructions don't work ei

[2022-03-12 21:14] cpalmer718 commented on #4181
Thanks for having me @osorensen _et al._! Hope it goes well, and I'd be happy to take a second look.

[2022-03-12 22:25] andrew-f-murphy commented on #3632
Hey, @henrykironde we've gone through and cleaned up language and typos. Do you require anything else from our end?

[2022-03-13 00:22] henrykironde commented on #3632
I still cannot get this package to install. Could someone from the team be free to have a thorough walk through meeting. I am okey with whatever time works for any of the members.

[2022-03-13 01:08] jedbrown commented on #3380
Hi, @jcorbino. I see you've pushed some changes to the repository so I'll rebuild the paper. Could you let us know how things are going?

[2022-03-13 01:08] jedbrown commented on #3380
@editorialbot generate pdf

[2022-03-13 01:17] jedbrown commented on #3982
@tisaac @wence- :wave: How are your reviews going?

[2022-03-13 09:48] cescalara commented on #4077
Hi @lucass-carneiro,

Thank you for the further additions, I think these together help to show the subtleties of using your package in a robust way. I confirm the new examples run without issue and that I can reproduce the results shown in the documentation.

From my side I think I can conclude the review and I look forward to the thoughts of @JamieBamber.

[2022-03-13 14:16] osorensen commented on #4181
Thanks a lot for your review, @cpalmer718. Please notify us when these issues have been resolved, @blind-contours, and don't hesitate to reach out if I can be of any help.

[2022-03-13 14:20] osorensen commented on #4194
@szorowi1 @jsheunis would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-13 14:50] Kevin-Mattheus-Moerman commented on #3997
@taylormcd thanks for adding those. I'll have a look later the coming week. Where can I find the new Jupyter notebook versions?

[2022-03-13 15:11] xuanxu commented on #3318
@alexmalins That `\varLambda` error is a problem in the [TeXMath package](https://github.com/jgm/texmath) used to parse math. The underlying issue is it's no longer enough for math to show up correctly in PDF, but that it must also be parseable by pandoc.

There's now a PR to fix `\varLambda` support in TeXMath (https://github.com/jgm/texmath/pull/190). It's been merged, so I guess the problem wil

[2022-03-13 16:45] conorheins commented on #4098
Hi @seankmartin , thanks for your comments and reviewing our package. We believe we have addressed the main API issues you raised. The latest version of the RTD page with new sections for `Agent` and `Env` API documentation can be found here: https://pymdp-rtd.readthedocs.io/en/paper_branch.

I haven't addressed your issue about the README.md badges yet: https://github.com/infer-actively/pymdp/iss

[2022-03-13 18:35] mikldk commented on #4191
@editorialbot add @cpalmer718 as reviewer

[2022-03-13 19:17] wvxvw commented on #3632
Hi @henrykironde what time zone are you in? I'm not sure about Monday and Tuesday due to a family emergency, but after that, I'll try to help you.

[2022-03-13 19:42] arfon commented on #3896
@Chiil, @wdeconinckm – how are you getting on here? Do you think you might be able to complete your review in the next couple of weeks?

[2022-03-13 19:43] arfon commented on #4210
Excellent, thanks for the update @lukassnoek!

@vimalthilak – have you managed to get started on your review yet?

[2022-03-13 19:47] arfon commented on #3119
:wave: @dylanmcreynolds @untzag @HarinarayanKrishnan – you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

We already have one reviewer (@remram44) and are looking to find a second.

The package under review is [_SHED: Streaming Heterogeneous E

[2022-03-13 21:04] Chiil commented on #3896
Yup, will do.

[2022-03-13 21:08] Evmoerman commented on #4040
@awvwgk @wcwitt @rkurchin I have finally added a tutorial, which can be found on the "For FHI-aims users" page of the documentation.

I also addressed all other current issues as far as I see, including contributing guidelines and specification of the required OS.
If I forgot something, please tell me so.

[2022-03-13 21:51] seankmartin commented on #4098
Thanks for the update @conorheins - the docs look good!

No worries about the README badges, that is just a suggestion, not required by any means.

[2022-03-13 22:01] emanuelhuber commented on #4185
(@Kevin-Mattheus-Moerman should I leave the check box "Installation instructions" unchecked if the requirement seems to be not completely fulfilled?

Here are some points I rise

## Documentation

- readme.md file: In the summary the author explains that the toolbox is for a certain type of data but he does not explain what exactly the toolbox do (i.e., focusing these kind of data). I do not know

[2022-03-13 22:45] nastaran62 commented on #4045
@ajstewartlang Thank you very much.
I did all steps and here is the DOI of the archived version.  10.5281/zenodo.6350710

[2022-03-13 23:09] henrykironde commented on #3632
ES, any time works for me, night or day.

[2022-03-14 00:50] elbeejay commented on #4207
@navidcy I was going to ping you so that hopefully this review doesn't slip through the cracks before you are unavailable - the new JOSS procedure requires you to create your own reviewer checklist with the command `@editorialbot generate my checklist`

Thanks!

[2022-03-14 05:36] jmschrei commented on #4080
Alright, without hearing from either of the reviewers I'm going to go ahead and take steps to accept the paper.

@AlphonsG have you issued a tagged release corresponding to this submission? You should upload it to something like Zenodo and then share the DOI here.

[2022-03-14 05:36] jmschrei commented on #4080
@editorialbot check references

[2022-03-14 07:00] OlgerSiebinga commented on #4162
@taless474, I had another look at the list, maybe one of these people would be interested in reviewing:

bnriiitb
sea-bass
destogl

[2022-03-14 07:29] csoneson commented on #4188
👋🏻  @afrendeiro, @kelly-sovacool - would one of you be interested in reviewing this submission for JOSS?

[2022-03-14 08:45] PeterKraus commented on #4166
Alright, I'm losing my mind trying to get the conference proceedings formatted properly for https://github.com/dgbowl/yadg/issues/45. @galessiorob, @kyleniemeyer does either of you know how to do this? The following bibtex doesn't seem to work well:

[code]

The title of the conference gets pulled out properly, but `publisher` and `howpublished` do not.

[2022-03-14 08:51] ajstewartlang commented on #4045
@editorialbot set 10.5281/zenodo.6350710 as archive

[2022-03-14 08:55] ajstewartlang commented on #4045
@editorialbot set v3.1.1 as version

[2022-03-14 08:55] etouber commented on #4186
@whedon generate pdf

[2022-03-14 08:55] etouber commented on #4186
@editorialbot generate pdf

[2022-03-14 08:55] ajstewartlang commented on #4045
@editorialbot recommend-accept

[2022-03-14 08:58] askerdb commented on #4180
Sorry about the delay, I somewhat overestimated how much time I had to do this. I will get to it within this week!

[2022-03-14 08:59] ajstewartlang commented on #4045
Just to highlight @openjournals/dev the invalid DOI warning was discussed [here](https://github.com/openjournals/joss/issues/1042#issuecomment-1041878032) with @arfon giving the thumbs up to citing without that DOI being available.

[2022-03-14 09:01] po60nani commented on #4024
@aquilesC, Thanks for clarifying. We can add Trackpy references to the place where we mention tracking based on your explanation. You can find the updated version of the manuscript in the following.

[2022-03-14 09:24] po60nani commented on #4024
@editorialbot generate pdf from branch JOSS-paper

[2022-03-14 09:28] osorensen commented on #4180
Thanks @askerdb, looking forward to hearing back from you.

[2022-03-14 09:29] po60nani commented on #4024
@editorialbot set JOSS-paper as branch

[2022-03-14 09:29] po60nani commented on #4024
@editorialbot generate pdf

[2022-03-14 10:06] rickhelmus commented on #4029
Super happy to see it online now!! Thanks again @hechth, @wesleyburr, @KristinaRiemer! The submission led to a very nice and useful experience with JOSS.

[2022-03-14 10:14] wdeconinck commented on #3896
Certainly, thanks for the reminder :)

[2022-03-14 10:28] wence- commented on #3982
Slowly, but I have no commitments from close of play Friday, so next week?

[2022-03-14 10:40] jeremiecoullon commented on #4113
@editorialbot generate pdf

(Another paper fix)

[2022-03-14 11:03] Assistedevolution commented on #4080
Have updated the performance checkbox

Can confirm 10.1109/iccv48922.2021.00963  is valid a DOI for Learning to Estimate Hidden Motions with Global Motion Aggregation, the Arxiv reference given in the paper accurate..

In case there was any doubt I propose acceptance of the work

[2022-03-14 11:23] richardjgowers commented on #3950
@editorialbot set 10.5281/zenodo.6327783 as archive

[2022-03-14 11:26] richardjgowers commented on #3950
@editorialbot recommend-accept

[2022-03-14 11:39] JDonaldM commented on #4240
@editorialbot generate my checklist

[2022-03-14 12:28] askerdb commented on #4180
@osorensen I can't edit the checklist I suspect I forgot to accept the invite before it expired, is it possible to make a new one?

[2022-03-14 12:45] PeterKraus commented on #4166
@editorialbot generate pdf

[2022-03-14 12:45] osorensen commented on #4180
@askerdb, could you try running `@editorialbot generate my checklist`? It should generate a new checklist which you can use instead.

[2022-03-14 12:49] askerdb commented on #4180
@editorialbot generate my checklist

[2022-03-14 12:54] wcwitt commented on #4040
Thanks, I'll have a look this week.

[2022-03-14 13:16] raerickson commented on #3444
@Kevin-Mattheus-Moerman  I have moved the DOI back to the version 2.0 tag https://doi.org/10.5066/P9TT3ILO

The tag is immutable and cannot be changed. The code.usgs.gov page should be stable in the long term. The USGS considers software releases to code.usgs.gov to a formal product type, similar to our data releases on sciencebase.gov, our agencies maps, or our different types of reports.

I am n

[2022-03-14 13:16] raerickson commented on #3444
@Kevin-Mattheus-Moerman  Also, thank you for your patience in working through this!

[2022-03-14 13:21] pythonpanda2 commented on #4166
Thank you @PeterKraus

I think my part is done @galessiorob

[2022-03-14 14:08] alexmalins commented on #3318
@whedon generate pdf from branch joss_paper

[2022-03-14 14:09] alexmalins commented on #3318
@editorialbot generate pdf from branch joss_paper

[2022-03-14 14:09] alexmalins commented on #3318
@editorialbot generate pdf

[2022-03-14 14:22] askerdb commented on #4180
I added an issue about references to the underlying software https://github.com/ColemanRHarris/mxnorm/issues/7
and am waiting for clarification on the automated tests and contributors file the other reviewer raised. The software installed (from cran) and ran perfectly for me.

[2022-03-14 14:49] danielskatz commented on #3967
👋 @bmagyar - any update?  We're so close to done...

[2022-03-14 14:50] danielskatz commented on #3996
👋 @fredstro - any news on this?

[2022-03-14 14:50] danielskatz commented on #3996
@videlec - I wonder if you can make progress on other parts of the review, such as the paper and documentation?

[2022-03-14 14:52] danielskatz commented on #4120
👋 @pan-pavel - Can you let us know if you are ok with this now proceeding to publication?

[2022-03-14 15:18] ColemanRHarris commented on #4180
Hi @askerdb and @tijeco, thank you so much for your feedback here! I'm going to address these issues in the next week and follow up -- much appreciated!

[2022-03-14 15:25] myousefi2016 commented on #4231
@editorialbot generate my checklist

[2022-03-14 15:33] taylormcd commented on #3997
They're linked from the relevant pages in the documentation. Note that I haven't yet created a new release with the changes, so the notebooks are only linked from the development version of the documentation..

[2022-03-14 15:49] VivianePons commented on #4233
@editorialbot assign @11michalis11 as reviewer

[2022-03-14 15:51] VivianePons commented on #4233
@editorialbot add @11michalis11 as reviewer

[2022-03-14 16:08] PeterKraus commented on #4166
@pythonpanda2 I think there are a couple unticked/unchecked items wrt. documentation. The testing/CI is done via github actions, and the example usage is now included in a short section in the paper, and it will be added to the docs. See:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.6351210.svg)](https://doi.org/10.5281/zenodo.6351210)

[2022-03-14 16:52] kellyrowland commented on #4094
Hi @jessdtate - would you be able to recommend any folks who might be able to review this paper?

[2022-03-14 17:09] christinahedges commented on #4153
@editorialbot add @carmeloevoli as reviewer

[2022-03-14 17:11] christinahedges commented on #4153
@carmeloevoli Welcome to the review! Please do check the [Conflicts of Interest](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) policy and please double check for me that you aren't conflicted with the submitting authors of PropPy. I'll kick off the review when I have found the second reviewer.

[2022-03-14 17:18] arepstein commented on #4164
Hi @rkurchin and @mishioo, I've completed my checklist and I think Tesliper meets all of the criteria for publication in JOSS. The scientific paper establishes a clear need for a free, open-source spectroscopy tool that includes conformers and it explains why Tesliper addresses that need. I tested basic functionality with some of my own Gaussian output files both using the GUI and a Python noteboo

[2022-03-14 17:49] lucass-carneiro commented on #4077
@cescalara Thank your review, work and suggestions. I wish you all the best!

[2022-03-14 17:51] matthieuaussal commented on #3965
@editorialbot generate pdf

[2022-03-14 18:03] jgostick commented on #4093
Hi @brandons209, below are a few checkboxes for you to address so we can move ahead with this:

# Additional Author Tasks After Review is Complete
- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the rele

[2022-03-14 18:04] jgostick commented on #4093
# Editor Task Prior to Acceptance
- [ ] Set article DOI with ``@whedon set <DOI here> as archive``
- [ ] Set version with ``@whedon set <version here> as version``
- [ ] Double check rendering of paper with ``@whedon generate pdf``
- [ ] Specifically check the references with ``@whedon check references`` and ask author(s) to update as needed
- [ ] Do a 'dry run' of acceptance with ``@whedon recomm

[2022-03-14 18:13] matthieuaussal commented on #3965
Done, and the DOI is:
10.5281/zenodo.6354098

and the code is here:
https://zenodo.org/record/6354098

Thank you for your reviews, your precious advice and your editorial support! :-)

[2022-03-14 18:14] timtroendle commented on #4229
👋 @noah80 & @olejandro, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-14 18:19] jbytecode commented on #3965
@matthieuaussal -  Please verify that the archive deposit has the correct metadata (title and author list), or edit these if that is not the case.

[2022-03-14 18:52] corybrunson commented on #4228
@editorialbot generate my checklist

[2022-03-14 18:53] jgostick commented on #4093
@whedon check references

[2022-03-14 18:54] jgostick commented on #4093
@editorialbot check references

[2022-03-14 18:55] jgostick commented on #4093
@editorialbot generate pdf

[2022-03-14 18:56] SarthakJariwala commented on #4093
@jgostick I haven't been able to verify the functionality of the software primarily because it isn't running as expected on macOS. Otherwise, I am happy with everything else and agree you can overlook that given @blthayer review of the functionality.

@brandons209 I would recommend you add a note for your users in your docs (preferably in the installation section) that there are issues getting it

[2022-03-14 19:27] taoliu032 commented on #4182
@JoaoRodrigues Thank you for the comments! Our responses have been added to the same issue.

[2022-03-14 19:36] taless474 commented on #4162
@bnriiitb are you interested in reviewing this?

[2022-03-14 19:38] reichherzerp commented on #4153
Thanks @christinahedges for finding the first reviewer. If you need more ideas, I would suggest Amit Seta and Pedro De La Torre Luque. Both are experienced with propagation codes and experts in the field.

[2022-03-14 20:47] christinahedges commented on #4221
Hi @KerryPaterson and colleagues! Thanks so much for your submission to JOSS. I took some time to read your submission paper and take a look at the POTPyRI repository. I can see that there is a lot of work here, and I think this is a valuable contribution to astronomy open source software.

I’ve had a chat about this submission with the editorial team. At the moment, there is some work that needs

[2022-03-14 20:49] christinahedges commented on #4153
Hi @reichherzerp, thanks, Pedro De La Torre Luque is unfortunately not able to review but I will ping your other suggestion. Thanks!

[2022-03-14 20:52] Cristianetaniguti commented on #4191
Hello, two more suggestions:  jkanche and raivivek

[2022-03-14 20:56] slayoo commented on #3896
Thank you, @arfon, @Chiil, @wdeconinck

[2022-03-14 21:07] jsheunis commented on #4194
@osorensen I'd be happy to help. One question, what's the expected timeline for finishing a review? I just started working again after parental leave, so I have a backlog of tasks to get done first.

[2022-03-14 21:59] MariaPoliti commented on #3829
@editorialbot generate pdf

[2022-03-14 22:00] MariaPoliti commented on #3829
@Kevin-Mattheus-Moerman Thank you for pointing out the issues with capitalization. I have fixed those I could find in the manuscript and generated a new .pdf using the command you indicated.

[2022-03-14 22:15] wincowgerDEV commented on #4038
@aaronpeikert @nulberry @jmschrei, My review is complete, the software is working as expected and I have reviewed the rest of the tasks, looking forward to seeing this published.

[2022-03-14 23:24] kyleniemeyer commented on #3829
@editorialbot generate pdf

[2022-03-14 23:24] kyleniemeyer commented on #3829
👋 Hi @MariaPoliti! Good to "see" you here!

[2022-03-14 23:41] kyleniemeyer commented on #3829
@MariaPoliti I made a few more minor formatting edits in this PR, can you merge it? https://github.com/EISy-as-Py/hardy/pull/17

[2022-03-14 23:44] MariaPoliti commented on #3829
@kyleniemeyer it is good to "see" you too here! Thank you for the help with the paper formatting!

[2022-03-14 23:47] kyleniemeyer commented on #3829
@editorialbot generate pdf

[2022-03-14 23:50] kyleniemeyer commented on #3829
This looks all good now, ready to publish!

[2022-03-14 23:50] kyleniemeyer commented on #3829
@editorialbot accept

[2022-03-14 23:56] kyleniemeyer commented on #3829
Congratulations @MariaPoliti on your article's publication in JOSS!

Many thanks to @andrewtarzia and @alberto-battistel for reviewing this, and @gkthiruvathukal for editing it.

[2022-03-14 23:56] #3829 closed

[2022-03-15 02:58] humanfactors commented on #4162
I begun my review this week and have spent quite a bit of time trying to validate the functionality.

Unfortunately, I am unable to get CARLA compiled on my computer. I followed the steps specified, but I am having some errors reported on their Github by other users too (related to  `-[install_rpclib]:  - Make sure "CMake" is installed. ` during PythonAPI Make despite CMake being on path). I admit

[2022-03-15 05:17] alstat commented on #4228
Noted on this. Thanks.

[2022-03-15 05:25] bnriiitb commented on #4162
@taless474 sure I will do it.

[2022-03-15 05:32] AlphonsG commented on #4080
Sure, here's the DOI: 10.5281/zenodo.6355080

[2022-03-15 05:54] brandons209 commented on #4093
Version 1.7.4 is the final release version for the paper. All the authors are correct.

Here is the archive on Zenodo: [10.5281/zenodo.6355115](https://doi.org/10.5281/zenodo.6355115)

I have confirmed the title and everything else looks good for the paper!

[2022-03-15 05:56] jmschrei commented on #4080
Great. Do you have a tagged release on GitHub for this paper?

[2022-03-15 06:08] AlphonsG commented on #4080
Yeah, this one:

https://github.com/AlphonsG/Rainbow-Optical-Flow-For-ALI/releases/tag/v0.1.0

[2022-03-15 06:16] jmschrei commented on #4080
@editorialbot set <v0.1.0> as version

[2022-03-15 06:19] jmschrei commented on #4080
@editorialbot set v0.1.0 as version

[2022-03-15 06:19] jmschrei commented on #4080
@editorialbot set 10.5281/zenodo.6355080 as archive

[2022-03-15 06:19] jmschrei commented on #4080
@editorialbot recommend-accept

[2022-03-15 06:49] osorensen commented on #4194
Thanks @jsheunis. There's no strict timeline, but if you can complete the first round of review within a month it would be great. Does that sound ok?

[2022-03-15 07:02] aaronpeikert commented on #4038
Sorry for the delay. I was on vacation and will take a look today.

[2022-03-15 08:04] jsheunis commented on #4194
That will work 👍

[2022-03-15 08:42] osorensen commented on #4194
@editorialbot add @jsheunis as reviewer

[2022-03-15 09:14] bauer-alex commented on #4056
@fernandomayer Any update on the revision process? If you don't find time we could maybe also find another reviewer (which would of course be up to @Nikoleta-v3 to decide)?

[2022-03-15 09:37] arfon commented on #3888
@editorialbot recommend-accept

[2022-03-15 09:43] Kevin-Mattheus-Moerman commented on #4225
@editorialbot invite @danasolav as editor

[2022-03-15 09:44] danasolav commented on #4225
@editorialbot assign me as editor

[2022-03-15 09:48] Kevin-Mattheus-Moerman commented on #4225
@danasolav a PhD student in our department who works on biodegradation of implants, is interested in helping with this review, her GitHub handle is @kerstinvg.

[2022-03-15 10:04] arfon commented on #3888
@editorialbot recommend-accept

[2022-03-15 10:10] arfon commented on #3888
@editorialbot accept

[2022-03-15 10:48] arfon commented on #3888
@kyleniemeyer – this should be updated now. Note that the new PDF might take a few hours to show up on the JOSS site due to caching.

[2022-03-15 10:48] #3888 closed

[2022-03-15 10:58] arfon commented on #3780
@editorialbot set 10.5281/zenodo.6257157 as archive

[2022-03-15 10:59] arfon commented on #3780
@editorialbot accept

[2022-03-15 11:39] adi3 commented on #3125
@tkonolige having trouble installing the tool. Cargo is existing with this error:

[code]

I'm on Ubuntu LTS 20.04. Can you please see what might be wrong? Either you can fix this, or perhaps you could let me know which exact platform you tested your software on?

[2022-03-15 12:02] ziotom78 commented on #4173
@amoradinejad, I have just posted another issue on your repository ([#11](https://github.com/amoradinejad/limHaloPT/issues/11)) to add examples to the README.

I have a general comment. The lack of examples in the README misses one of the requirements for a paper to be accepted by JOSS, as shown in the checklist that is shown above in this page and stated here («Documentation» / «Example usage»):

[2022-03-15 12:16] mikldk commented on #4191
@jkanche, @raivivek: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-03-15 13:03] dhhagan commented on #3219
Hey @piotrbartman It looks like the title still doesn't match in the archive. Can you please change it to "PySDM v1: particle-based cloud modelling package for warm-rain microphysics and aqueous chemistry".

May also want to remove one of the "l"'s in "modeling".

[2022-03-15 13:41] jkanche commented on #4191
Happy to review this

[2022-03-15 13:47] lucydot commented on #3742
Excellent @bonh thank-you very much for reviewing for JOSS.

@WilkAndy please could you give an update on your review?

[2022-03-15 13:48] jgostick commented on #4093
@editorialbot set 1.7.4 as the version

[2022-03-15 13:50] jgostick commented on #4093
@editorialbot set 10.5281/zenodo.6355115 as archive

[2022-03-15 13:50] jgostick commented on #4093
@editorialbot recommend accept

[2022-03-15 13:50] jgostick commented on #4093
@editorialbot commands

[2022-03-15 13:51] jgostick commented on #4093
@editorialbot recommend-accept

[2022-03-15 13:52] jgostick commented on #4093
@brandons209 Congrats.  An editor in chief will be notified that the submission is ready to go, and will make it official shortly.

[2022-03-15 13:53] Kevin-Mattheus-Moerman commented on #4175
@schruste, @mscroggs, @mikaem, @likask, @tjhei, @diehlpk, would you be interested in reviewing this work featuring a C++ library for finite element analysis and multiphysics for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/)? The [JOSS review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#reviewing-for-joss) focuses on evaluation of [the software](ht

[2022-03-15 13:59] kthyng commented on #3344
@editorialbot set 10.5281/zenodo.6329737 as archive

[2022-03-15 14:00] kthyng commented on #3344
@editorialbot set v0.3.9 as version

[2022-03-15 14:00] danasolav commented on #4225
@yangbai90, @schruste, @tjhei, @chennachaos, @kerstinvg, @thelfer, @capitalaslash, @pratikvn, @pratikvn, @jamiebramwell, @Balaje, would you be interested in reviewing this work about finite element analysis of biodegradation for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/)?

The [JOSS review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#reviewing-

[2022-03-15 14:00] kthyng commented on #3344
@editorialbot accept deposit=true

[2022-03-15 14:00] kthyng commented on #3344
@editorialbot recommend-accept

[2022-03-15 14:02] kthyng commented on #3344
@editorialbot set develop as branch

[2022-03-15 14:03] kthyng commented on #3344
@editorialbot recommend-accept

[2022-03-15 14:10] raivivek commented on #4191
@mikldk Yes, sure!

[2022-03-15 14:13] lucydot commented on #4234
Thanks for the suggestions @miesli . I'll hold back from inviting Dalonsoa at this point as I know that he has reviewed for JOSS very recently.

@dilawar, @allenzhu, @garrettj403 are you available to review this submission for JOSS?

[2022-03-15 14:18] mikldk commented on #4191
@editorialbot add @jkanche as reviewer

[2022-03-15 14:20] mikldk commented on #4191
@editorialbot add @raivivek as reviewer

[2022-03-15 14:20] diehlpk commented on #3959
@samuel.burbulla could you please respond to the comments above?

[2022-03-15 14:21] bmagyar commented on #3967
All green from my side too. Apologies for the large delay, I had a daughter born in the mean time :)

[2022-03-15 14:21] mikldk commented on #4191
@editorialbot start review

[2022-03-15 14:22] editorialbot opened #4242 "[REVIEW]: VIEWpoly: a visualization tool to integrate and explore results of polyploid genetic analysis"
**Submitting author:** @cristianetaniguti (<a href="http://orcid.org/0000-0002-2021-6883">Taniguti, C. H.</a>)
**Repository:** https://github.com/mmollina/viewpoly
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0
**Editor:** @mikldk
**Reviewers:** @cpalmer718, @jkanche, @raivivek
**Archive:** 10.5281/zenodo.6621089

## Status

[![status](https://joss.theoj.org/papers/2667549

[2022-03-15 14:23] mscroggs commented on #4135
@PaulSt Nice software and nice paper!

I've opened a PR (https://github.com/PaulSt/NGSTrefftz/pull/10) to remove some brackets around references and add a reference to the paper that the FreeHyTe people wrote. Once that PR is resolve, I think this is ready to be accepted

[2022-03-15 14:29] raivivek commented on #4242
@editorialbot generate my checklist

[2022-03-15 14:30] Nikoleta-v3 commented on #4135
Thank you @thelfer and @mscroggs for your time and your reviews! @PaulSt once you have addressed the reviewers comments I am also going to have a final look 👍🏻

[2022-03-15 14:34] danielskatz commented on #3967
pesky babies :)  More seriously, thanks!!

[2022-03-15 14:35] danielskatz commented on #3967
@editorialbot generate pdf

[2022-03-15 14:35] danielskatz commented on #3967
@editorialbot set paper as branch

[2022-03-15 14:36] danielskatz commented on #3967
@editorialbot check references

[2022-03-15 14:36] danielskatz commented on #3967
@editorialbot generate pdf

[2022-03-15 14:55] danielskatz commented on #3967
👋 @liquidcronos - I've suggested a bunch of changes in https://github.com/TriPed-Robot/trip_kinematics/pull/75  If these are ok, please merge them. If not, we can discuss.  Then we can move to final acceptance and publication.

[2022-03-15 15:00] Nikoleta-v3 commented on #4056
No worries 😄  Let's wait for the reviewer to get back to us.

[2022-03-15 15:06] dsurujon commented on #4094
Hi, sorry for the delayed response. This seems outside my area of expertise as well. I'm not super familiar with the application. Maybe @bmomeni might be able to help?

[2022-03-15 15:38] mishioo commented on #4164
Thank you for your insight, @arepstein! And also for words of appreciation, as I was a bit concerned if this project will be useful enough for a broader public, but I really hope so! Please, let me address you comments below:

- About errors: if you mean just adding a `logging.info` or a `logging.warning` at the end of parsing an output file that has an error or that ended abruptly, then it's easi

[2022-03-15 15:38] mikldk commented on #4242
@cpalmer718, @jkanche, @raivivek: Thanks for agreeing to review. Please carry out your review in this issue by first creating a checklist (`@editorialbot generate my checklist`) and then updating it as the review proceeds. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's

[2022-03-15 15:39] bmomeni commented on #4094
Sorry, it's outside of my expertise too.

[2022-03-15 15:56] billtubbs commented on #4078
HI @christinahedges, I completed the tests.  No issues or bugs.  I have completed the review checklist above. Thanks.

[2022-03-15 15:58] martinfleis commented on #4052
Hi @d-eggert, as far as I can see, you have responded to all comments, correct?

[2022-03-15 16:11] arepstein commented on #4164
- For the errors, I do think a `warning` could be more helpful for a user debugging. But I would also leave that up to you, I don't think it's an absolutely necessary change. The example I used was deleting several frequencies as if the job timed out and that's when I got an error in the glassware -- it is a very expected error because the output file was wrong, so I think the error was supposed t

[2022-03-15 16:12] dilawar commented on #4234
@lucydot I can give it a shot if better reviewers are available.

TCAD was part of my masters' curriculum, but it has been over 10 years since I've worked with VLSI tech. Second, I am busier than usual these days, so the communication may be slower than the ideal.

[2022-03-15 17:15] kellyrowland commented on #4094
No worries, thanks for the responses all.

[2022-03-15 17:29] danielskatz commented on #3967
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2022-03-15 17:50] christinahedges commented on #4153
@amitseta90 Welcome to the review! Please do check the [Conflicts of Interest](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) policy and please double check for me that you aren't conflicted with the submitting authors of PropPy.

We now have two reviewers and we're ready to kick off the review. This will start a new `REVIEW` issue.

[2022-03-15 17:51] editorialbot opened #4243 "[REVIEW]: PropPy -- Correlated random walk propagation of cosmic rays in magnetic turbulence"
**Submitting author:** @reichherzerp (<a href="http://orcid.org/0000-0003-4513-8241">Patrick Reichherzer</a>)
**Repository:** https://gitlab.ruhr-uni-bochum.de/reichp2y/proppy
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v1.1.1
**Editor:** @christinahedges
**Reviewers:** @carmeloevoli, @amitseta90
**Archive:** 10.5281/zenodo.6573056

## Status

[![status](https://jos

[2022-03-15 17:51] #4153 closed, assigned to christinahedges

[2022-03-15 17:54] d-eggert commented on #4052
As far as I can tell, yes.

[2022-03-15 17:54] christinahedges commented on #4243
@reichherzerp,  @carmeloevoli, @amitseta90 – This is the review thread for the PropPy paper. Please don't hesitate to message me here if you have questions (use @christinahedges). ✉️

Please read the "Reviewer instructions & questions" in the first comment above to get started. If you get lost, you can also see the reviewer guidelines. You will have to generate your review "checklist" by adding th