[2019-03-27 21:36] pjotrp commented on #1269
ping eic @openjournals/joss-eics

[2019-03-27 21:37] pjotrp commented on #1286
Yes

[2019-03-27 22:15] r-barnes commented on #1262
ybayle/Scyland3D#1

[2019-03-27 22:32] patrikhuber commented on #1262
I am moving my comments from the closed thread to here, I think they would be more appropriate here since the other thread is closed.
---
### Overview

It seems to me that in general, this software is for a very, _**very**_ limited use case (which of course isn't necessarily bad!). Basically, the main thing it does:
1) Reads `.pts` landmarks from a software called "Landmark software (v3.6)" and co

[2019-03-27 22:45] r-barnes commented on #1262
As far as I can tell there are no tests. Is this a problem?

[2019-03-27 22:48] r-barnes commented on #1262
I've completed the JOSS rubric and have raised concerns linked above.

[2019-03-27 23:08] r-barnes commented on #1262
(I want to apologize for the delay in getting to this review, I've been experiencing some issues with RSI which is made it difficult to keep up with computer-based tasks. I'm now using a speech recognition program to do the review, so I apologize for any grammatical  errors or odd choices of words.)

Many of the issues that I've raised are on the target repository.

I share @patrikhuber's concerns

[2019-03-28 03:14] taqtiqa-mark commented on #1157
@danielskatz, In light of the feedback I'd say I'm substantively finished the review.  I'm happy with the open tickets tracking the outstanding issues.

I'm about to work through the installation instructions and run the examples-as-test-suite... which raise a question:
**Rather than installation instructions etc, would JOSS accept a link(s) VM image(s) that is publicly available?** e.g. https://w

[2019-03-28 05:18] mdbartos commented on #1336
ping @justinshenk

[2019-03-28 07:09] justinalsing commented on #1157
Hi @taqtiqa-mark - super, thanks for the message. Regarding the VM - looking back at the thread, maybe I answered in haste earlier. All I did at that point was re-clone the repo and run everything through (including re-compiling the models, but not re-installing dependencies), I didn't do this in a VM.

I could definitely try what you suggest, though - I guess I'd have to do this for a bunch of di

[2019-03-28 07:54] arfon commented on #1201
Yes please remove the entry from the bibtex file (but don't delete it).

[2019-03-28 08:06] sambitdash commented on #1323
@danielskatz Thanks for the update. I will take a few more days to complete the paper submission.

[2019-03-28 10:11] mikaem commented on #1340
@rainwoodman Thank you for the comments. A few remarks are given below

There are no plans or roadmaps regarding this. The distribution of a global array is an intricate part of the algorithm implemented in mpi4py-fft. We do not really aim for a generic distributed array package. Note that the distributed array requires at least one undivided axis, and this is suboptimal for most applications.

Th

[2019-03-28 10:18] matbesancon commented on #1318
@poulson yes I'd be glad to review this paper

[2019-03-28 12:48] justinshenk commented on #1336
@VivianePons Yes, I've reviewed the recent changes from @mdbartos and updated the checklist. Looks good to me!

[2019-03-28 13:02] danielskatz commented on #1269
@whedon accept

[2019-03-28 13:02] whedon commented on #1269
[code]

[2019-03-28 13:02] whedon commented on #1269
PDF failed to compile for issue #1269 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1269 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-03-28 13:03] danielskatz commented on #1348
👋 @katyhuff - ping...

[2019-03-28 13:06] danielskatz commented on #1269
👋 @zabore - something in your change causes the paper to no longer compile.

Please try to fix it - once you have made a change, you can enter ```@whedon generate pdf``` as a new comment here.  Once you are happy that the paper compiles and is correct, please let me know, and I'll continue the acceptance process.

[2019-03-28 13:06] danielskatz commented on #1269
@whedon generate pdf

[2019-03-28 13:06] whedon commented on #1269
[code]

[2019-03-28 13:07] katyhuff commented on #1348
Hi both,
I don't have any R expertise and will not be able to appropriately vet reviewers for this submission.

[2019-03-28 13:07] danielskatz commented on #1269
👋 @zabore - never mind - the problem is not in the paper.

[2019-03-28 13:08] sgyzetrov commented on #1349
@whedon check references

[2019-03-28 13:08] whedon commented on #1349
[code]

[2019-03-28 13:08] whedon commented on #1349
[code]

[2019-03-28 13:08] danielskatz commented on #1269
👋 @arfon - can you look at this and see what's failing in whedon's accept functionality?

[2019-03-28 13:09] danielskatz commented on #1269
trying again in case it was a one-time problem...

[2019-03-28 13:09] danielskatz commented on #1269
@whedon accept

[2019-03-28 13:09] whedon commented on #1269
[code]

[2019-03-28 13:10] katyhuff commented on #1348
Sorry -- I misread the README. I see now it's a python package mimicking an R package. I am ok with editing this, though the author should be alerted that I will be unresponsive from April 3-9.

[2019-03-28 13:11] katyhuff commented on #1348
@whedon assign @katyhuff as editor

[2019-03-28 13:11] whedon commented on #1348
OK, the editor is @katyhuff

[2019-03-28 13:11] whedon commented on #1269
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/585

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/585, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-28 13:12] danielskatz commented on #1348
@katyhuff - this is python, as far as I can tell, though it is based on something in R

[2019-03-28 13:12] danielskatz commented on #1269
👋 @arfon - never mind, the problem seems to have been transient.

[2019-03-28 13:14] danielskatz commented on #1269
@whedon accept deposit=true

[2019-03-28 13:14] whedon commented on #1269
[code]

[2019-03-28 13:14] whedon commented on #1269
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/586
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01269](https://doi.org/10.21105/joss.01269)
2. If everything looks go

[2019-03-28 13:15] danielskatz commented on #1269
Thanks to @pjotrp for editing and @avhoeck for reviewing!!

[2019-03-28 13:16] whedon commented on #1269
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01269/status.svg)](https://doi.org/10.21105/joss.01269)

**We need your help!**

Journal of Open Source Softwar

[2019-03-28 13:21] kmichael08 commented on #1348
Hello, yes it's a Python package. There is just a mention of the same idea being implemented earlier in R
(by one of the co-authors).

[2019-03-28 13:21] katyhuff commented on #1306
@vahtras This submission is waiting on your review. What is your status?

[2019-03-28 13:22] katyhuff commented on #1306
@mkhorton - It looks like this review may have stalled mid-stream. Are there installation issues holding up progress? Thank you!

[2019-03-28 13:24] VivianePons commented on #1336
@whedon check references

[2019-03-28 13:24] whedon commented on #1336
[code]

[2019-03-28 13:24] whedon commented on #1336
[code]

[2019-03-28 13:24] katyhuff commented on #1348
Yes, I see that now () sorry about that -- was in a bit of a rush this morning. I'll try to identify appropriate reviewers today, but if you have anyone in mind, @kmichael08 suggestions are always welcome.

[2019-03-28 13:31] labarba commented on #1269
This XML deposit has a _lot_ of false citations, coming from the `.bib` file, and which are not cited in the paper. I've observed several instances of this lately. I don't know how serious it is.

[2019-03-28 13:32] danielskatz commented on #1269
I don't understand this - I thought the PDF generation process would only add to the references when there was a citation in the paper, like bibtex normally does

[2019-03-28 13:32] labarba commented on #1269
@arfon — Please clarify this issue: when authors have many entries in their `.bib` file, they get picked up by `whedon` and added to the XML, which presumably enters false citations for those works in Crossref.

[2019-03-28 13:34] labarba commented on #1269
@danielskatz — I always visually check the XML created after `@whedon accept` and look at the list of citations, then inspect the PDF and count the citations. Sometimes they don't match, and I go back to the authors and ask them to edit the `.bib` file.

[2019-03-28 13:35] labarba commented on #1269
This XML file has 116 citations entries ...
https://github.com/openjournals/joss-papers/blob/bea64c63597ea5a91ad64dc6e622e6eada7c7bcd/joss.01269/10.21105.joss.01269.crossref.xml#L425

[2019-03-28 13:37] danielskatz commented on #1269
It seems a bit awkward, as most authors probably have a .bib file with lots of entries that they don't expect to all show up in the metadata.  Maybe this indicates a bug in whedon?

[2019-03-28 13:41] VivianePons commented on #1336
This paper is good to go! :)

@mdbartos could you create an online archive (for example on Zenodo) and give the reference?

[2019-03-28 13:45] matbesancon commented on #1278
Absolutely no trouble, glad to hear you're doing good

[2019-03-28 14:37] xuanxu commented on #1339
:wave: @aquilesC: Would you be willing to review this paper? I think your expertise in Python and Optics makes you a great fit for this submission.

[2019-03-28 15:57] mkhorton commented on #1306
Hi @katyhuff, thanks for following up/for the reminder! There were installation and test issues but these have been resolved and I am now continuing with the review.

[2019-03-28 16:00] mkhorton commented on #1306
@connorourke, just a small note that your PyPI formatting doesn't seem to be working correctly, see [here](https://packaging.python.org/guides/making-a-pypi-friendly-readme/)

[2019-03-28 16:55] mkhorton commented on #1306
@connorourke the only other checklist item missing is a guideline for contributions.

From a functionality point of view, I'm happy to recommend this software, and all functionality seems to be present and correct. I think this will be a very useful tool for the community (and, indeed, having studied percolation myself in the past, wish I had had this tool available!)

From a code point of view, I

[2019-03-28 17:50] rainwoodman commented on #1340
Does runtest.sh script use the source in tree or the currently installed version of software?

[2019-03-28 18:23] rainwoodman commented on #1340
It is because anaconda installed the MKL package. This issue was documented in the installation guide.

[2019-03-28 18:24] rainwoodman commented on #1340
My checklist is all cleared. All the best!

[2019-03-28 18:32] poulson commented on #1278
:wave: @vissarion -- it's been a little while and the other reviewer has provided their feedback. Would you be able to provide your input some time in the near future?

[2019-03-28 18:40] mdbartos commented on #1336
Hi @VivianePons,

I created an archive with Zenodo using their Github integration service:
https://zenodo.org/record/2613881

Unfortunately, to get the integration to work I had to update the release to 0.3.1

Would it be possible to update the version to 0.3.1 for consistency?

Thanks again,
MDB

[2019-03-28 18:44] karthik commented on #1350
@whedon generate pdf

[2019-03-28 18:44] whedon commented on #1350
[code]

[2019-03-28 18:45] whedon commented on #1350
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01350/joss.01350/10.21105.joss.01350.pdf)

[2019-03-28 18:46] karthik commented on #1350
Franz: Thanks for catching that. Your figure captions render locally for me but we'll work to get this sorted out before publication.

[2019-03-28 19:20] mikaem commented on #1340
@VivianePons I think that's a wrap!

[2019-03-28 19:41] lpantano commented on #1299
Just pinging again @openjournals/jose-editors and @arfon in case this was missed. The paper is accepted.

[2019-03-28 19:59] arfon commented on #1269
Let's file this as a bug with Whedon. I don't have an immediate fix unfortunately as we currently take whatever is in the bibtex and generate the Crossref citation metadata based on that. For now, we need to do the check that @labarba is suggesting sorry.

[2019-03-28 20:02] danielskatz commented on #1269
👋 @zabore - Can you remove the entries from your .bib file that are not actually being cited in the paper?  Then we will regenerate the backend XML - This should not change your paper or anything visible to a reader/user.

[2019-03-28 20:49] annoviko commented on #1230
@whedon generate pdf

[2019-03-28 20:49] whedon commented on #1230
[code]

[2019-03-28 20:49] whedon commented on #1230
PDF failed to compile for issue #1230 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    194      0 --:--:-- --:--:-- --:--:--   197
Error reading bib

[2019-03-28 20:51] annoviko commented on #1230
@whedon generate pdf

[2019-03-28 20:51] whedon commented on #1230
[code]

[2019-03-28 20:51] whedon commented on #1230
PDF failed to compile for issue #1230 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    114      0 --:--:-- --:--:-- --:--:--   115
Error reading bib

[2019-03-28 20:52] annoviko commented on #1230
@whedon generate pdf

[2019-03-28 20:52] whedon commented on #1230
[code]

[2019-03-28 20:53] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-28 20:53] annoviko commented on #1230
@whedon check references

[2019-03-28 20:53] whedon commented on #1230
[code]

[2019-03-28 20:53] whedon commented on #1230
[code]

[2019-03-28 21:00] annoviko commented on #1230
@whedon generate pdf

[2019-03-28 21:01] whedon commented on #1230
[code]

[2019-03-28 21:01] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-28 21:02] annoviko commented on #1230
@whedon check references

[2019-03-28 21:02] whedon commented on #1230
[code]

[2019-03-28 21:02] whedon commented on #1230
[code]

[2019-03-28 21:07] annoviko commented on #1230
Hello, @poulson

Thank you for your remarks! I have updated the paper in line with them: added examples, rephrased and changed pointed places. Additionally, I have corrected all DOIs (thanks to @adavidzh with DOI for book 'The design and analysis of spatial data structures'). Could you please review updated paper?

[2019-03-28 21:27] taqtiqa-mark commented on #1157
This is up to you.  What OS users will you support? What OS's have you tested this with?

I think it is reasonable to expect that you have tried your instructions starting from a "clean" system.

A VM is the most natural and easiest way to get a clean system.  Please record or link to the VM image you start from.

You could try to nuke your bare-metal installation, but in my experience you tend to

[2019-03-28 21:45] kyleniemeyer commented on #1347
@whedon assign @kyleniemeyer as editor

[2019-03-28 21:45] whedon commented on #1347
OK, the editor is @kyleniemeyer

[2019-03-28 21:46] kyleniemeyer commented on #1347
Hi @asalmgren, thanks for your submission! I will try to find a reviewer from the JOSS pool to assign, but I generally prefer two or three reviewers for submissions. Do you have any suggestions for potential reviewers with domain-specific expertise? I will then reach out to them.

[2019-03-28 22:19] asalmgren commented on #1347
I'm not sure if you allow users of the software to be reviewers?

If so, then I recommend

Brandon Runnels, Univ of Colorado, Colorado Springs:   brunnels@uccs.edu

Jordan Musser, NETL Jordan.Musser@netl.doe.gov <grote1@llnl.gov>

Remi Lehe, LBNL  rlehe@lbl.gov

If you want reviewers who aren't using AMReX (or AMReX-based application
codes), then perhaps

Chris Malone, LANL cmalone@lanl.gov

Matt

[2019-03-28 23:45] rainwoodman commented on #1340
@mikaem  What are the 'hard to address MKL bugs' mentioned in the doc?
If you can file it as an issue then maybe some day someone can look into it.

[2019-03-29 00:47] tpetricek commented on #1005
@slithiaote Going back to the checklist above, there are two more items "Automated tests" and "Community guidelines" that I did not see in the repo - assuming those are required by the JOSS, would you be able to add those?

[2019-03-29 02:23] arokem commented on #1171
No problem, @tanselbaran

[2019-03-29 02:25] jason-neal commented on #1053
I have managed to finish documentation on read the docs https://eniric.readthedocs.io/en/latest/

The latest version is currently still in the develop branch but will merge into master and change to v1.0 once it is approved.

[2019-03-29 02:25] arokem commented on #1076
@whedon set 10.5281/zenodo.2610844 as archive

[2019-03-29 02:25] whedon commented on #1076
OK. <a href="https://doi.org/10.5281/zenodo.2610844" target="_blank">10.5281/zenodo.2610844</a> is the archive.

[2019-03-29 02:25] arokem commented on #1076
@whedon set v1.0.3b as version

[2019-03-29 02:25] whedon commented on #1076
OK. v1.0.3b is the version.

[2019-03-29 02:26] arokem commented on #1076
OK. This is ready to be accepted.

One of the EIC will come by, make comments if they have any, and finish the process.

[2019-03-29 02:27] jason-neal commented on #1053
@whedon generate pdf from branch develop

[2019-03-29 02:27] whedon commented on #1053
[code]

[2019-03-29 02:28] whedon commented on #1053
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01053/joss.01053/10.21105.joss.01053.pdf)

[2019-03-29 06:33] sgyzetrov commented on #1349
https://github.com/mviereck/x11docker/commit/d699254fa52513d2774c229d5e5d0b934c698d75 looks good enough to me! Since all issues have been addressed, I move to recommend this paper for acceptance.

[2019-03-29 06:38] arfon commented on #1269
@whedon generate pdf

[2019-03-29 06:38] whedon commented on #1269
[code]

[2019-03-29 06:39] whedon commented on #1269
PDF failed to compile for issue #1269 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    368      0 --:--:-- --:--:-- --:--:--   372
Can't compile the

[2019-03-29 06:39] arfon commented on #1269
@zabore - please see the output from @whedon above listing the extraneous references in your `paper.bib`

[2019-03-29 06:55] aquilesC commented on #1339
@xuanxu , sure!

[2019-03-29 06:59] arfon commented on #1349
@whedon generate pdf

[2019-03-29 06:59] whedon commented on #1349
[code]

[2019-03-29 06:59] whedon commented on #1349
PDF failed to compile for issue #1349 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    434      0 --:--:-- --:--:-- --:--:--   448
Can't compile the

[2019-03-29 07:01] arfon commented on #1349
@mviereck - it looks like you have an entry in your bibtex file (`@project_jupyter-proc-scipy-2018`) that isn't being cited in your paper. Please either cite this item directly in the paper or remove it from your bibtex file.

[2019-03-29 07:01] adavidzh commented on #1348
Sorry, am afraid I cannot take this one at this point in time.

[2019-03-29 07:08] expectopatronum commented on #1348
What would be the time schedule? I would be happy to review, but I have a paper deadline coming up.

[2019-03-29 07:21] celliern commented on #1333
I'm happy to see that the software interest you. If we still lack of reviewer, I could ask to the scipy user / dev mailing list if someone is interested to help in the review process?

[2019-03-29 07:30] VivianePons commented on #1336
@whedon set 0.3.1 as version

[2019-03-29 07:30] whedon commented on #1336
OK. 0.3.1 is the version.

[2019-03-29 07:33] VivianePons commented on #1336
Can you update the Zenodo metadata so that the title matches the paper title?

Your name and Sara Troutman's name are also a bit different in both (missing the middle name letter) and the order is different.

Thanks

Viviane

[2019-03-29 07:34] VivianePons commented on #1340
@whedon check references

[2019-03-29 07:34] whedon commented on #1340
[code]

[2019-03-29 07:34] whedon commented on #1340
[code]

[2019-03-29 07:35] VivianePons commented on #1340
Perfect! I will take care of the last editorial details very soon.

[2019-03-29 07:41] mikaem commented on #1340
@VivianePons I have updated a few of the references in the latest commit to master. Not sure about the missing titles above?

[2019-03-29 07:42] mikaem commented on #1340
@whedon generate pdf

[2019-03-29 07:42] whedon commented on #1340
[code]

[2019-03-29 07:43] whedon commented on #1340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01340/joss.01340/10.21105.joss.01340.pdf)

[2019-03-29 07:43] mikaem commented on #1340
There is a doi for version 2.0.1 here: 10.5281/zenodo.2613971

[2019-03-29 07:47] mviereck commented on #1349
Strange - it is cited in the paper and I didn't change `paper.md` or `paper.bib` since last successful pdf generation. I'll try again.

[2019-03-29 07:48] mviereck commented on #1349
@whedon generate pdf

[2019-03-29 07:48] whedon commented on #1349
[code]

[2019-03-29 07:48] whedon commented on #1349
PDF failed to compile for issue #1349 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    436      0 --:--:-- --:--:-- --:--:--   448
Can't compile the

[2019-03-29 07:53] mikaem commented on #1340
@rainwoodman See, e.g., [this link](https://github.com/pyFFTW/pyFFTW/issues/40). I have not looked further into it, but I agree, we should file an issue.

[2019-03-29 07:54] janfreyberg commented on #1348
I'd be happy to review this.

[2019-03-29 08:07] mdbartos commented on #1336
Ok, it is done.

Thanks,
MDB

[2019-03-29 08:07] arfon commented on #1349
Apologies @mviereck - this is a bug in Whedon which I've now fixed. Please ignore my [previous comment](https://github.com/openjournals/joss-reviews/issues/1349#issuecomment-477890908).

[2019-03-29 08:51] Kevin-Mattheus-Moerman commented on #1333
@whedon add @poulson as reviewer

[2019-03-29 08:51] whedon commented on #1333
OK, @poulson is now a reviewer

[2019-03-29 09:10] xuanxu commented on #1339
Great! Thanks @aquilesC!
I'll assign you now and start the review issue

[2019-03-29 09:10] xuanxu commented on #1339
@whedon assign @aquilesC as reviewer

[2019-03-29 09:10] whedon commented on #1339
OK, the reviewer is @aquilesC

[2019-03-29 09:11] xuanxu commented on #1339
@whedon start review

[2019-03-29 09:11] whedon opened #1352 "[REVIEW]: prysm: A Python optics module"
**Submitting author:** @brandondube (<a href="http://orcid.org/0000-0002-3837-605X">Brandon Dube</a>)
**Repository:** <a href="https://github.com/brandondube/prysm" target ="_blank">https://github.com/brandondube/prysm</a>
**Version:** v0.16
**Editor:** @xuanxu
**Reviewer:** @aquilesC
**Archive:** <a href="https://doi.org/10.5281/zenodo.2672954" target="_blank">10.5281/zenodo.2672954</a>

## Statu

[2019-03-29 09:11] whedon commented on #1339
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1352. Feel free to close this issue now!

[2019-03-29 09:11] whedon commented on #1352
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aquilesC it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-29 09:11] whedon commented on #1352
[code]

[2019-03-29 09:11] whedon commented on #1352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01352/joss.01352/10.21105.joss.01352.pdf)

[2019-03-29 09:12] xuanxu commented on #1339
@aquilesC, please head over to #1352 for the actual review

[2019-03-29 09:12] #1339 closed

[2019-03-29 09:21] NelleV commented on #1286
@whedon generate pdf

[2019-03-29 09:21] whedon commented on #1286
[code]

[2019-03-29 09:21] whedon commented on #1286
PDF failed to compile for issue #1286 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    289      0 --:--:-- --:--:-- --:--:--   290
Can't compile the

[2019-03-29 09:25] NelleV commented on #1286
I'm not sure why the pdf is not compiling anymore: I changed the affiliation of my co-author Nicolas (INSERM is now INSERM U900). Any help would be appreciated.

[2019-03-29 09:44] VivianePons commented on #1336
@whedon set 10.5281/zenodo.2613881 as archive

[2019-03-29 09:44] whedon commented on #1336
OK. <a href="https://doi.org/10.5281/zenodo.2613881" target="_blank">10.5281/zenodo.2613881</a> is the archive.

[2019-03-29 09:49] VivianePons commented on #1336
This paper is now good to go @openjournals/joss-eics ! Thank you @mdbartos for the paper and @justinshenk and @vc1492a for the reviews! :) :)

[2019-03-29 10:20] justinshenk commented on #1348
I’d be happy to review this.

[2019-03-29 11:03] danielskatz commented on #1336
And thanks @VivianePons for editing

[2019-03-29 11:03] danielskatz commented on #1336
@whedon accept

[2019-03-29 11:03] whedon commented on #1336
[code]

[2019-03-29 11:03] whedon commented on #1336
[code]

[2019-03-29 11:03] whedon commented on #1336
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/587

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/587, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-29 11:08] danielskatz commented on #1336
@whedon accept deposit=true

[2019-03-29 11:08] whedon commented on #1336
[code]

[2019-03-29 11:09] whedon commented on #1336
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/588
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01336](https://doi.org/10.21105/joss.01336)
2. If everything looks go

[2019-03-29 11:10] #1336 closed

[2019-03-29 11:10] whedon commented on #1336
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01336/status.svg)](https://doi.org/10.21105/joss.01336)

**We need your help!**

Journal of Open Source Softwar

[2019-03-29 11:13] danielskatz commented on #1076
thanks to @arokem for editing and @Kevin-Mattheus-Moerman for reviewing!!

[2019-03-29 11:13] danielskatz commented on #1076
@whedon accept

[2019-03-29 11:13] whedon commented on #1076
[code]

[2019-03-29 11:13] whedon commented on #1076
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/589

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/589, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-29 11:13] whedon commented on #1076
[code]

[2019-03-29 11:14] whedon opened #1353 "[PRE REVIEW]: WGS2NCBI - Toolkit for preparing genomes for submission to NCBI"
**Submitting author:** @rvosa (<a href="http://orcid.org/0000-0001-9254-7318">Rutger Vos</a>)
**Repository:** <a href="https://github.com/naturalis/wgs2ncbi" target ="_blank">https://github.com/naturalis/wgs2ncbi</a>
**Version:** v1.0.0
**Editor:** @lpantano
**Reviewers:** @druvus

**Author instructions**

Thanks for submitting your paper to JOSS @rvosa. **Currently, there isn't an JOSS editor ass

[2019-03-29 11:14] whedon commented on #1353
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-29 11:14] whedon commented on #1353
[code]

[2019-03-29 11:14] whedon commented on #1353
PDF failed to compile for issue #1353 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0c/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0c/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-546

[2019-03-29 11:17] danielskatz commented on #1353
@rvosa, please check your paper source, using https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography as an example/template.  When you've made changes, enter ```@whedon generate pdf``` as a new comment here, and iterate until you are happy with the paper.  Then we'll start the pre-review process by assigning an editor.

[2019-03-29 11:17] desilinguist commented on #1348
Sorry, I’m in the middle of reviewing papers for our annual conference so
I’ll have to bow out for this one.

On Fri, Mar 29, 2019 at 6:20 AM Justin Shenk <notifications@github.com>
wrote:

--
Linguist, Desi Linguist
http://www.desilinguist.org

[2019-03-29 11:17] whedon opened #1354 "[PRE REVIEW]: SMACT: Semiconducting Materials by Analogy and Chemical Theory"
**Submitting author:** @dandavies99 (<a href="http://orcid.org/0000-0003-4094-5992">D. W. Davies</a>)
**Repository:** <a href="https://github.com/WMD-group/SMACT/" target ="_blank">https://github.com/WMD-group/SMACT/</a>
**Version:** v2.0.2
**Editor:** @usethedata
**Reviewers:** @symmy596, @utf

**Author instructions**

Thanks for submitting your paper to JOSS @dandavies99. **Currently, there isn'

[2019-03-29 11:17] whedon commented on #1354
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-29 11:17] whedon commented on #1354
[code]

[2019-03-29 11:18] whedon commented on #1354
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01354/joss.01354/10.21105.joss.01354.pdf)

[2019-03-29 11:18] danielskatz commented on #1354
👋 @usethedata - the submitters suggested you as the editor. Are you able to accept?

[2019-03-29 11:20] danielskatz commented on #1076
@whedon accept deposit=true

[2019-03-29 11:20] whedon commented on #1076
[code]

[2019-03-29 11:21] whedon opened #1355 "[PRE REVIEW]: The MTPy software package for magnetotelluric data analysis and visualisation"
**Submitting author:** @alkirkby (<a href="http://orcid.org/0000-0003-1361-440X">Alison Kirkby</a>)
**Repository:** <a href="https://github.com/MTgeophysics/mtpy" target ="_blank">https://github.com/MTgeophysics/mtpy</a>
**Version:** v0.1
**Editor:** @lheagy
**Reviewers:** @JKutt

**Author instructions**

Thanks for submitting your paper to JOSS @alkirkby. **Currently, there isn't an JOSS editor a

[2019-03-29 11:21] whedon commented on #1355
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-29 11:21] whedon commented on #1355
[code]

[2019-03-29 11:21] whedon commented on #1076
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/590
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01076](https://doi.org/10.21105/joss.01076)
2. If everything looks go

[2019-03-29 11:21] whedon commented on #1355
PDF failed to compile for issue #1355 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1355 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0c/lib/whedo

[2019-03-29 11:22] danielskatz commented on #1355
👋 @lheagy - the submitters suggested you as the editor.  Are you able to accept?

[2019-03-29 11:23] danielskatz commented on #1355
@whedon generate pdf

[2019-03-29 11:23] whedon commented on #1355
[code]

[2019-03-29 11:23] #1076 closed

[2019-03-29 11:23] whedon commented on #1076
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01076/status.svg)](https://doi.org/10.21105/joss.01076)

**We need your help!**

Journal of Open Source Softwar

[2019-03-29 11:23] whedon commented on #1355
PDF failed to compile for issue #1355 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0c/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0c/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0

[2019-03-29 11:25] zabore commented on #1269
Yes I do typically work from a larger master .bib file but I will remove
all unused references and let you know when it's complete.

On Fri, Mar 29, 2019, 2:39 AM Arfon Smith <notifications@github.com> wrote:

[2019-03-29 11:26] danielskatz commented on #1355
👋 @alkirkby - in your paper metadata, you say the bib file is mtpy.bib but it really is paper.bib.

Please fix this, and then enter ```@whedon generate pdf``` as a new comment to check to see that it works.

[2019-03-29 11:29] ChrisRackauckas commented on #1318
Sorry I will not be available right now.

[2019-03-29 11:43] dandavies99 commented on #1354
Suggested potential reviewers: @utf, @symmy596, @kjappelbaum.

[2019-03-29 11:58] vissarion commented on #1278
@poulson sorry for being inactive here, I can do it by the end of next week if this is not an issue.

[2019-03-29 13:35] danielskatz commented on #1353
👋 bioinformatics editing team (@pjotrp @mgymrek @brainstorm @lpantano) - can one of you take on this submission as editor?

[2019-03-29 14:01] yxliang01 commented on #1349
@whedon generate pdf

[2019-03-29 14:01] whedon commented on #1349
[code]

[2019-03-29 14:01] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-03-29 14:46] rvosa commented on #1353
@whedon generate pdf

[2019-03-29 14:46] whedon commented on #1353
[code]

[2019-03-29 14:46] whedon commented on #1353
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01353/joss.01353/10.21105.joss.01353.pdf)

[2019-03-29 14:52] Kevin-Mattheus-Moerman commented on #1333
@celliern I'll start the review process now but if you find more potential reviewers via the scipy list let me know and I can still add them later.

[2019-03-29 14:53] Kevin-Mattheus-Moerman commented on #1333
@whedon start review

[2019-03-29 14:53] whedon opened #1356 "[REVIEW]: scikit-finite-diff, a new tool for PDE solving"
**Submitting author:** @celliern (<a href="http://orcid.org/0000-0002-3759-3546">Nicolas Cellier</a>)
**Repository:** <a href="https://gitlab.com/celliern/scikit-fdiff/" target ="_blank">https://gitlab.com/celliern/scikit-fdiff/</a>
**Version:** v0.6.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @mrava87, @poulson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3236970" target="_blank">

[2019-03-29 14:53] whedon commented on #1333
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1356. Feel free to close this issue now!

[2019-03-29 14:53] whedon commented on #1356
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mrava87, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-29 14:53] whedon commented on #1356
[code]

[2019-03-29 14:53] whedon commented on #1356
PDF failed to compile for issue #1356 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    254      0 --:--:-- --:--:-- --:--:--   260
Can't compile the

[2019-03-29 15:07] ailiop commented on #1076
Thank you all very much!

[2019-03-29 15:42] lbenet commented on #1043
@jedbrown Is there something left to be done here?

[2019-03-29 15:44] lheagy commented on #1355
Happy to @danielskatz!

[2019-03-29 15:45] lheagy commented on #990
@whedon check references

[2019-03-29 15:45] whedon commented on #990
[code]

[2019-03-29 15:46] whedon commented on #990
[code]

[2019-03-29 15:48] lheagy commented on #990
:wave: @openjournals/joss-eics: This submission is ready to be accepted!

Congratulations @laempy  🎉

[2019-03-29 15:51] lheagy commented on #1136
Many thanks for your review @flohorovicic!!

@rbeucher, please take a look at @flohorovicic's comments above and let us know when you have addressed them. To help keep track of things, I would recommend that you open up an issue per item and link them here. Please let me know if you have any questions.

[2019-03-29 15:54] lheagy commented on #1221
Many thanks for your thorough response @chris-prener!

@edzer, @sjsrey would you be willing to take a look through @chris-prener's response? Please check off items in the checklist that have been adequately addressed, and if there are any remaining items that you think should be changed before acceptance, please leave comments here. Thank you both!

[2019-03-29 15:57] danielskatz commented on #1355
@whedon assign @lheagy as editor

[2019-03-29 15:57] whedon commented on #1355
OK, the editor is @lheagy

[2019-03-29 15:58] danielskatz commented on #990
@whedon accept

[2019-03-29 15:58] whedon commented on #990
[code]

[2019-03-29 15:58] danielskatz commented on #990
(there will now be a few hour pause in the processing...)

[2019-03-29 15:58] whedon commented on #990
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/591

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/591, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-29 15:58] lheagy commented on #1221
Many thanks @chris-prener for your thorough response!

:wave: Hi @edzer, @sjsrey: it looks like most of the items on your checklist are checked-off. Do you have any remaining comments before we proceed with accepting the submission?

[2019-03-29 15:58] whedon commented on #990
[code]

[2019-03-29 16:06] sjsrey commented on #1221
I think the author has responded to the points I raised, and I have no further comments. Looking forward to seeing it published.

[2019-03-29 16:19] whedon commented on #1230
[code]

[2019-03-29 16:25] whedon commented on #1230
[code]

[2019-03-29 17:15] cMadan commented on #1308
@jg-you @antoineallard, will get back to you soon. I want to try and get someone who's done a software review also on board and then perhaps have one of you as an additional reviewer.

@count0, no problem, thank you for considering!

@hneutr, can you take a look at the JOSS reviewer list (linked in the first comment in this issue), and see if anyone there might be a good fit? It would be preferabl

[2019-03-29 17:17] cMadan commented on #1252
@mir-am, thinks look good and I'm almost ready to accept. Can you mint a new release that includes the changes from the review process? I also need a DOI for an archived version of the code (i.e., from Zenodo or figshare).

[2019-03-29 20:21] leouieda commented on #1341
@mancellin thank you for keeping us updated :+1:

:wave: @harpolea just checking in: I see that there are some checklist items remaining for you. Please let me know when you have a chance to go through those remaining items.

[2019-03-29 20:24] leouieda commented on #1315
:wave: @ixjlyons @lmcinnes just a gentle reminder in case this fell through the cracks. Please let me know when you have a chance to start going through this submission.

[2019-03-29 20:25] hneutr commented on #1308
Hey @cMadan — took a look at the list and, prioritizing for web-involved people with experience in Javascript and python, found three that seemed to me reasonably aligned with the project: krischer, wtgee, and Danbo3004. More than a few others would probably work, too, but these three were the ones that caught!

[2019-03-29 20:45] lmcinnes commented on #1315
I can start working on it next week once I have SciPy2019 commitments out of the way.

[2019-03-29 21:01] #1333 closed

[2019-03-29 21:24] ixjlyons commented on #1315
@leouieda Apologies, I hadn't forgotten about this but it got pushed around a bit. I started my review and I'll allocate some time this weekend to finish up the first pass.

[2019-03-29 21:44] danielskatz commented on #990
👋 @laempy - I've suggested a bunch of changes in the paper text in https://github.com/laempy/pyoints/pull/12 - please make whichever of them you think are useful.  Most are to make the English more idiomatic, some are spelling and grammar fixes as well.

[2019-03-30 02:50] alkirkby commented on #1355
@whedon generate pdf

[2019-03-30 02:50] whedon commented on #1355
[code]

[2019-03-30 02:50] whedon commented on #1355
PDF failed to compile for issue #1355 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0c/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0c/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5469df74be0

[2019-03-30 03:07] alkirkby commented on #1355
Sorry, looks like the figures didn't upload to the repository correctly. I won't be able to access them til Monday so will upload them then.

[2019-03-30 08:10] arfon commented on #1269
@zabore - actually don't worry about this. I've fixed some of our tooling to ignore un-cited entries.

[2019-03-30 08:11] #1269 closed

[2019-03-30 08:12] whedon commented on #1269
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01269/status.svg)](https://doi.org/10.21105/joss.01269)

**We need your help!**

Journal of Open Source Softwar

[2019-03-30 12:54] usethedata commented on #1354
@whedon assign @usethedata as editor

[2019-03-30 12:55] whedon commented on #1354
OK, the editor is @usethedata

[2019-03-30 13:03] usethedata commented on #1296
Checking in on status.  I'm reading that there are a couple of issues opened that are being worked.  Anything in particular that needs help to move this forward? @jgostick @cr458 @yxqd

[2019-03-30 13:08] usethedata commented on #1314
@jdrugo My apologies for my delays in getting back to this submission.  My work life got a bit intense.  The revised manuscript looks good from my perspective.  Let me see about getting some reviewers assigned to this.

[2019-03-30 13:46] kmichael08 commented on #1348
Fantastic! @katyhuff it looks like we've found some great reviewers?

[2019-03-30 14:35] jgostick commented on #1296
@cr458 will make a list of missing unit tests, but otherwise I think we addressed all of @yxqd's comments.

[2019-03-30 15:00] cr458 commented on #1296
Going through and making  a list of missing lists, documentation and issues I'm encountering when using the data, should be done fairly soon!

[2019-03-30 15:28] mrava87 commented on #1356
Hi @celliern,
nice library. Here are some comments. As they are all quite general I have not created issues on the repo yet. Please have a look and let me know if everything is clear and if you agree with the suggested points and I will create some specific issues for those tasks you agree you will be able to tackle:

- General comment: I find this tool very nice and valuable. When reading your do

[2019-03-30 16:37] celliern commented on #1356
Hi @mrava87 ! Thanks for the review !

I will answer to the different points :

- I wasn't aware of Devito, I will look at the paper and sure discuss with the team ! Some part of scikit-fdiff could may use Devito internal, reducing development / maintenance cost of the software.
- Second order time derivative can be solved with using an intermediate variable and solving two first order equation in

[2019-03-30 17:04] mrava87 commented on #1356
No problem :) Let me know when you have added things and I will take another look

Just a quick follow up:

I assumed that would have been the case but wasn't sure if you could do it with second order time derivative as well, good to know :)

Maybe I wasn't precise enough, I meant a time-space dependent external forcing `f`, for example say I want to implement this set of equations:
[code]
where `

[2019-03-30 21:11] yxliang01 commented on #1349
@mviereck Few partial comments/questions:

1. In introduction of README, it says "The result is similar to a virtual machine, but needs less resources.". Containers are actually quite different from virtual machine. As such, the important information from this sentence is only that it consumes less resources than virtual machine on the similar tasks which might be more accurate to say so.
2. In th

[2019-03-30 21:56] mviereck commented on #1349
@whedon generate pdf

[2019-03-30 21:56] whedon commented on #1349
[code]

[2019-03-30 21:56] whedon commented on #1349
PDF failed to compile for issue #1349 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd9060/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd9060/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d

[2019-03-30 21:59] mviereck commented on #1349
@whedon generate pdf

[2019-03-30 21:59] whedon commented on #1349
[code]

[2019-03-30 22:00] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-03-30 22:05] mviereck commented on #1349
@yxliang01 Thanks for your suggestions!

1) > the important information from this sentence is only that it consumes less resources than virtual machine on the similar tasks which might be more accurate to say so.

I've reworded to:
"Containers need much less resources than [virtual machines](https://en.wikipedia.org/wiki/Virtual_machine) for similar tasks."
The same sentence has been in `paper.md`

[2019-03-31 02:45] mnarayan commented on #1169
The scikit-posthocs package implements several statistical testing procedures to conduct pairwise multiple comparisons after the global null in an ANOVA has been rejected. It fills a clear gap in the python ecosystem and has been created as an analog to the `PMCMRplus` package in R.

@maximtrp has addressed all my issues and the package implementation meets all the requirements for JOSS.

[2019-03-31 08:03] whedon opened #1357 "[PRE REVIEW]: OrpailleCC: a Library for Data Stream Analysis on Embedded Systems"
**Submitting author:** @Azazel7 (<a href="http://orcid.org/0000-0003-2129-5517">Martin Khannouz</a>)
**Repository:** <a href="https://github.com/big-data-lab-team/OrpailleCC" target ="_blank">https://github.com/big-data-lab-team/OrpailleCC</a>
**Version:** V1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @sepandhaghighi

**Author instructions**

Thanks for submitting your paper to JOSS @Azazel7. *

[2019-03-31 08:03] whedon commented on #1357
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-31 08:03] whedon commented on #1357
[code]

[2019-03-31 08:04] whedon commented on #1357
PDF failed to compile for issue #1357 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd9060/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Martin Khannouz, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd9060/lib/whedon/author.rb:57:in `eac

[2019-03-31 08:06] danielskatz commented on #1357
👋 @azazel7 - there's a problem with your paper, as seen from the whedon comment above.  Please make changes, following the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography), and then enter ```@whedon generate pdf``` as a new comment here to recompile the paper, and repeat until you are happy with it.

[2019-03-31 08:07] danielskatz commented on #1357
In this case, the affiliations in the author block need to be simple integers that refer to the affiliations block, not complete affiliations in the author block.  Again, see the example.

[2019-03-31 08:12] danielskatz commented on #1357
👋 @eramirem - would you be able to edit this submission?

[2019-03-31 13:30] mir-am commented on #1252
@cMadan
Thanks for considering our research work in the Journal of Open Source Software.
I have released a [new version](https://github.com/mir-am/LightTwinSVM/releases) of the program that contains changes from the review process.
I have also uploaded the new version on Zenodo to get a DOI.
[10.5281/zenodo.2619436](https://zenodo.org/record/2619436)

[2019-03-31 13:31] djmitche commented on #1169
@mnarayan there are a few more check-boxes in your section of the review.

@whedon commands

[2019-03-31 13:32] djmitche commented on #1169
@whedon generate pdf

[2019-03-31 13:32] whedon commented on #1169
[code]

[2019-03-31 13:32] whedon commented on #1169
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01169/joss.01169/10.21105.joss.01169.pdf)

[2019-03-31 13:38] djmitche commented on #1169
Looks good to me!

[2019-03-31 13:48] maximtrp commented on #1169
@djmitche @mnarayan Thank you for reviews! Your comments were _very_ helpful.

[2019-03-31 15:44] lheagy commented on #1355
:wave: @JKutt: would you be willing to review this submission for JOSS?

[2019-03-31 15:59] cMadan commented on #1308
@krischer @danbo3004 @wtgee, would you be interested/available to review this project for publication in JOSS? Thank you for considering!

[2019-03-31 16:00] cMadan commented on #1252
@whedon set v0.6.0 as version

[2019-03-31 16:00] whedon commented on #1252
OK. v0.6.0 is the version.

[2019-03-31 16:00] cMadan commented on #1252
@whedon set 10.5281/zenodo.2619436 as archive

[2019-03-31 16:00] whedon commented on #1252
OK. <a href="https://doi.org/10.5281/zenodo.2619436" target="_blank">10.5281/zenodo.2619436</a> is the archive.

[2019-03-31 16:01] cMadan commented on #1252
@whedon accept

[2019-03-31 16:01] whedon commented on #1252
[code]

[2019-03-31 16:01] whedon commented on #1252
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/592

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/592, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-31 16:02] whedon commented on #1252
[code]

[2019-03-31 16:02] cMadan commented on #1277
@Benjamin-Lee, could you take a quick look to see if your last comments were suitably addressed? Thanks!

[2019-03-31 16:03] cMadan commented on #1252
@openjournals/joss-eics, I think we're all set to accept here!

[2019-03-31 16:38] kyleniemeyer commented on #1173
@Kevin-Mattheus-Moerman does the explanation above satisfy your concerns?

@pankajkmishra It may be helpful to specifically differentiate your work from the F&F paper and mention how you build on that. Also, any code in `ext` that came from somewhere else should be cited in the paper.

[2019-03-31 16:44] lheagy commented on #1355
@whedon assign @JKutt as reviewer

[2019-03-31 16:44] whedon commented on #1355
OK, the reviewer is @JKutt

[2019-03-31 16:44] lheagy commented on #1355
@whedon start review

[2019-03-31 16:44] whedon opened #1358 "[REVIEW]: The MTPy software package for magnetotelluric data analysis and visualisation"
**Submitting author:** @alkirkby (<a href="http://orcid.org/0000-0003-1361-440X">Alison Kirkby</a>)
**Repository:** <a href="https://github.com/MTgeophysics/mtpy" target ="_blank">https://github.com/MTgeophysics/mtpy</a>
**Version:** v1.0
**Editor:** @lheagy
**Reviewer:** @JKutt
**Archive:** <a href="https://doi.org/10.5281/zenodo.2698634" target="_blank">10.5281/zenodo.2698634</a>

## Status

[![

[2019-03-31 16:44] whedon commented on #1355
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1358. Feel free to close this issue now!

[2019-03-31 16:44] whedon commented on #1358
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JKutt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2019-03-31 16:44] whedon commented on #1358
[code]

[2019-03-31 16:44] #1355 closed

[2019-03-31 16:45] whedon commented on #1358
PDF failed to compile for issue #1358 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd9060/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd9060/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd906

[2019-03-31 16:49] lheagy commented on #1358
:wave: Many thanks @JKutt for being willing to review! Above there is a checklist to help guide your review. Please feel free to open issues on the [target repository](https://github.com/MTgeophysics/mtpy) with comments or suggestions for improvement in the submission and link them here by mentioning openjournals/joss-reviews#1358 in the issue text.

The author @alkirkby mentioned that she will fi

[2019-03-31 17:02] arfon commented on #1302
:wave: how are you getting along finding a reviewer @lpantano?

[2019-03-31 17:03] alex-konovalov commented on #1325
Hi @poulson - thanks for the suggestion, I can try to evaluate its usability and mathematical functionality, but I am not experienced in C++ and will not be able to comment on that. If you can counterbalance this by appropriate C++ skills of another reviewer, then I will be happy to do this.

[2019-03-31 17:31] azazel7 commented on #1357
@danielskatz Thanks. I made the modifications.

[2019-03-31 17:31] azazel7 commented on #1357
@whedon generate pdf

[2019-03-31 17:31] whedon commented on #1357
[code]

[2019-03-31 17:32] whedon commented on #1357
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01357/joss.01357/10.21105.joss.01357.pdf)

[2019-03-31 17:40] edifice1989 commented on #1255
@whedon <https://github.com/whedon> generate pdf

On Mon, Mar 25, 2019 at 8:57 AM Melissa Gymrek <notifications@github.com>
wrote:

[2019-03-31 17:43] edifice1989 commented on #1255
@whedon generate pdf

[2019-03-31 17:43] whedon commented on #1255
[code]

[2019-03-31 17:44] whedon commented on #1255
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01255/joss.01255/10.21105.joss.01255.pdf)

[2019-03-31 17:44] pjotrp commented on #1269
Thank you @zabore and @avhoeck for your contribution to JOSS!

[2019-03-31 17:47] pjotrp commented on #1353
We'll take it on. Thanks @rvosa for submitting this interesting tool!

[2019-03-31 17:48] pjotrp commented on #1286
@arfon I think we need some help here.

[2019-03-31 17:49] pjotrp commented on #1286
Oh, I see it now. @NelleV you need to remove the references in the bibtex file that you do not use in the paper. This is a recent check added to @whedon

[2019-03-31 17:53] edifice1989 commented on #1255
@mgymrek <https://github.com/mgymrek> thanks for your kind and helpful
comments!

I have updated README.md to include table of contents, more information
about the purpose of C-REx and 3 more example usages

Also, I added a section of statement of need  in paper.md with references
(updated paper.bib) to explain how C-REx is different than other
approaches, especially where enrichment analysis fail

[2019-03-31 17:53] lpantano commented on #1302
Hi Arfon,

I was still trying to find somebody. People in metabolomics I contacted
found this challenging because they don't have a mathematical background to
understand enough the tool.
And we have an internal meeting tomorrow to solve this issue some who.
Thanks for proposing a reviewer.

Cheers

[2019-03-31 18:13] arfon commented on #1299
Hi @lpantano - looks like we missed the ping last week, my apologies.

[2019-03-31 18:14] arfon commented on #1299
@whedon accept

[2019-03-31 18:14] whedon commented on #1299
[code]

[2019-03-31 18:14] whedon commented on #1299
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/593

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/593, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-31 18:15] whedon commented on #1299
[code]

[2019-03-31 18:15] arfon commented on #1299
@whedon accept deposit=true

[2019-03-31 18:15] whedon commented on #1299
[code]

[2019-03-31 18:16] whedon commented on #1299
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/594
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01299](https://doi.org/10.21105/joss.01299)
2. If everything looks go

[2019-03-31 18:17] arfon commented on #1299
@CosteaPaul - many thanks for your review here and to @lpantano for editing this submission ✨

@grabear - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-31 18:17] #1299 closed

[2019-03-31 18:17] whedon commented on #1299
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01299/status.svg)](https://doi.org/10.21105/joss.01299)

**We need your help!**

Journal of Open Source Softwar

[2019-03-31 18:18] arfon commented on #1286
@whedon generate pdf

[2019-03-31 18:18] whedon commented on #1286
[code]

[2019-03-31 18:19] whedon commented on #1286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01286/joss.01286/10.21105.joss.01286.pdf)

[2019-03-31 18:41] NelleV commented on #1286
Thanks! The affiliation has been updated fine, and I added the introductory paragraph as well as a figure to show the data.

[2019-03-31 19:13] cr458 commented on #1296
@jgostick have left some issues on the repo. If most of them seem nitpickiy it's because it's a very nice package and I found no major issues :).

- PMEAL/porespy#164
- PMEAL/porespy#163
- PMEAL/porespy#162
- PMEAL/porespy#161
- PMEAL/porespy#160
- PMEAL/porespy#159

[2019-03-31 19:18] arfon commented on #1345
:wave: @gweissman - how are you getting on with your review?

[2019-03-31 19:18] arfon commented on #1337
:wave: @homonecloco - how are you getting along with your review?

[2019-03-31 19:19] arfon commented on #1338
:wave: @morganericsson - how are you getting along with your review?

[2019-03-31 19:23] danielskatz commented on #1252
@whedon accept deposit=true

[2019-03-31 19:23] whedon commented on #1252
[code]

[2019-03-31 19:24] whedon commented on #1252
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/595
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01252](https://doi.org/10.21105/joss.01252)
2. If everything looks go

[2019-03-31 19:25] grabear commented on #1299
Thanks, @whedon @lpantano @CosteaPaul @sdhutchins for working through this!

Cheers!!
@grabear

[2019-03-31 19:25] danielskatz commented on #1252
Thanks for editing @cMadan and for reviewing @stefanv & @rougier

[2019-03-31 19:25] #1252 closed

[2019-03-31 19:25] whedon commented on #1252
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01252/status.svg)](https://doi.org/10.21105/joss.01252)

**We need your help!**

Journal of Open Source Softwar

[2019-03-31 19:54] ManuelaS commented on #1291
Hi @piermorel,
Thanks for reviewing the HCP package!

I changed the permissions in the settings for the issue tracker to allow for public and anonymous issues to be created, let me know if you run into problems.

This was a typo in the parameter name in the ReadMe. It should have read 'show_feature_dendrogram' instead. I have checked in a fix for the ReadMe in commit 46da0cc.

Yes, this is the int

[2019-03-31 20:14] alexhanna commented on #1285
Having a look today.

On Sat, Mar 23, 2019 at 3:41 PM Yo Yehudi <notifications@github.com> wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2019-03-31 20:16] alexhanna commented on #1300
Hi, sorry to be tardy on this. @mbod, @adammichaelwood, and @davekinkead. Can any of you act as reviewer on this submission?

[2019-03-31 21:06] jgostick commented on #1296
Loving it, many thanks.  I will address asap, then merge dev into master, upgrade version number to 1.1 and deploy to PyPI.   I would like that version to be the official JOSS version.  How does that work?

[2019-03-31 21:38] brainstorm commented on #1119
Hello @SwamyDev, I peeked at your https://github.com/SwamyDev/q_network QKD framework and thought that you could assist JOSS (Journal of Open Source Software) on reviewing this software:

https://gitlab.com/QComms/cqptoolkit

The review process is held via this issue and here on Github, please let us know if you are interested in reviewing this software publication.

[2019-03-31 21:59] stsievert commented on #989
This review is complete! This software package is ready for acceptance. One question:

Significant changes have been made since the initial submission (some changes are in https://github.com/openjournals/joss-reviews/issues/989#issuecomment-469061459). I feel there should be a new release for this – I wouldn't have accepted `0.1-alpha`, but I'm willing to accept the `master` branch now. How should

[2019-03-31 22:03] alkirkby commented on #1358
@whedon generate pdf

[2019-03-31 22:03] whedon commented on #1358
[code]

[2019-03-31 22:04] whedon commented on #1358
PDF failed to compile for issue #1358 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd9060/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd9060/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-96d847bd906

[2019-03-31 22:09] alkirkby commented on #1358
@whedon generate pdf

[2019-03-31 22:09] whedon commented on #1358
[code]

[2019-03-31 22:10] whedon commented on #1358
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01358/joss.01358/10.21105.joss.01358.pdf)

[2019-03-31 22:12] alkirkby commented on #1358
@whedon generate pdf

[2019-03-31 22:13] whedon commented on #1358
[code]

[2019-03-31 22:13] whedon commented on #1358
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01358/joss.01358/10.21105.joss.01358.pdf)

[2019-04-01 00:31] r-barnes commented on #1262
@Kevin-Mattheus-Moerman

[2019-04-01 03:08] rrwick commented on #1316
Thanks for the feedback! I think I've addressed all your points in the relevant issues pages on the Badread wiki.

[2019-04-01 04:39] davekinkead commented on #1300
@alexhanna I can review this later this week

[2019-04-01 05:05] alexhanna commented on #1300
Great! I'll add you as a reviewer.

[2019-04-01 05:05] alexhanna commented on #1300
@whedon assign @davekinkead as reviewer

[2019-04-01 05:05] whedon commented on #1300
OK, the reviewer is @davekinkead

[2019-04-01 05:30] rbeucher commented on #1136
Hi  @flohorovicic

Thank you very much for taking the time to review our project. Your comments and suggestions were very useful.

I have open a series of issues on the repository where I quickly list the changes made.
They essentially affect the documentation in the README and on READTHEDOCS.
All the changes were squashed into one single commit. https://github.com/underworldcode/UWGeodynamics/com

[2019-04-01 06:38] celliern commented on #1356
You can do that in two way :
If you have the explicit `q` function, you can define put it in the model :

[code]

or use the subs argument to lighten a bit the writting

[code]

Or, if you cannot write `q` as a sympy expr, you can provide it as a parameters, then update it using a hook.

[code]

[2019-04-01 07:28] laempy commented on #990
Thank you @lheagy for accepting my paper. @danielskatz - Thank you for the suggestions in laempy/pyoints#12. I am going to add your modifications and create the final release. I will post the corresponding zenodo DOI here as soon as possible.

[2019-04-01 07:31] davekinkead commented on #1300
@whedon commands

[2019-04-01 07:31] whedon commented on #1300
Here are some things you can ask me to do:

[code]

[2019-04-01 08:52] laempy commented on #990
The new zenodo DOI is 10.5281/zenodo.2619945

[2019-04-01 09:07] danielskatz commented on #990
@whedon set 10.5281/zenodo.2619945 as archive

[2019-04-01 09:07] whedon commented on #990
OK. <a href="https://doi.org/10.5281/zenodo.2619945" target="_blank">10.5281/zenodo.2619945</a> is the archive.

[2019-04-01 09:07] danielskatz commented on #990
@whedon accept

[2019-04-01 09:07] whedon commented on #990
[code]

[2019-04-01 09:08] whedon commented on #990
PDF failed to compile for issue #990 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    168      0 --:--:-- --:--:-- --:--:--   170
sh: 0: getcwd() fa

[2019-04-01 09:08] whedon commented on #990
[code]

[2019-04-01 09:09] danielskatz commented on #990
@whedon generate pdf

[2019-04-01 09:10] whedon commented on #990
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00990/joss.00990/10.21105.joss.00990.pdf)

[2019-04-01 09:11] danielskatz commented on #990
@whedon accept

[2019-04-01 09:11] whedon commented on #990
[code]

[2019-04-01 09:11] whedon commented on #990
PDF failed to compile for issue #990 with the following error:

 Can't find any papers to compile :-(

[2019-04-01 09:12] danielskatz commented on #990
👋 @arfon - something's wrong here - can you help?

[2019-04-01 09:14] whedon commented on #990
[code]

[2019-04-01 11:32] usethedata commented on #1314
@whedon assign @ManuelaS as reviewer

[2019-04-01 11:33] whedon commented on #1314
OK, the reviewer is @ManuelaS

[2019-04-01 11:33] usethedata commented on #1314
@whedon start review

[2019-04-01 11:33] whedon opened #1359 "[REVIEW]: VBLinLogit: Variational Bayesian linear and logistic regression"
**Submitting author:** @jdrugo (<a href="http://orcid.org/0000-0002-7846-0408">Jan Drugowitsch</a>)
**Repository:** <a href="https://github.com/DrugowitschLab/VBLinLogit" target ="_blank">https://github.com/DrugowitschLab/VBLinLogit</a>
**Version:** v0.3
**Editor:** @usethedata
**Reviewers:** @ManuelaS, @usethedata
**Archive:** <a href="https://doi.org/10.5281/zenodo.3255135" target="_blank">10.52

[2019-04-01 11:33] whedon commented on #1314
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1359. Feel free to close this issue now!

[2019-04-01 11:33] whedon commented on #1359
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ManuelaS it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-04-01 11:33] whedon commented on #1359
[code]

[2019-04-01 11:33] usethedata commented on #1314
closing pre-review issue.

[2019-04-01 11:33] #1314 closed

[2019-04-01 11:33] whedon commented on #1359
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01359/joss.01359/10.21105.joss.01359.pdf)

[2019-04-01 12:46] usethedata commented on #1354
@whedon assign @symmy596 as reviewer

[2019-04-01 12:46] whedon commented on #1354
OK, the reviewer is @symmy596

[2019-04-01 13:00] mrava87 commented on #1356
Nice :) I followed this and got an example working but I think there are still some issues with dispersion due to source injection. Let's take this off this issue and do it here https://gitlab.com/celliern/scikit-fdiff/issues/2

[2019-04-01 13:23] harpolea commented on #1341
@leouieda and @mancellin I'm really sorry for the delay - I was travelling last week and had far less time/wifi availability than I had anticipated. I have completed most of the checks I had intended to do, but just wanted to do a couple more things before I sign off on my review. I shall have a look at them this evening and should be finished by the end of the day.

[2019-04-01 13:32] betteridiot commented on #1316
Thank you @rrwick. @brainstorm this article is good to go on my end.

[2019-04-01 13:54] drvinceknight commented on #1325
Hi @poulson, I'm very happy to act as a review however, much like @alex-konovalov my C++ expertise is limited.

[2019-04-01 14:49] alexhanna commented on #1300
@whedon start review

[2019-04-01 14:49] whedon opened #1360 "[REVIEW]: KADE: A desktop application for Q methodology"
**Submitting author:** @shawnbanasick (<a href="http://orcid.org/0000-0003-2696-5874">Shawn Banasick</a>)
**Repository:** <a href="https://github.com/shawnbanasick/kade" target ="_blank">https://github.com/shawnbanasick/kade</a>
**Version:** v1.0.0
**Editor:** @alexhanna
**Reviewer:** @davekinkead
**Archive:** <a href="https://doi.org/10.5281/zenodo.2649145" target="_blank">10.5281/zenodo.2649145<

[2019-04-01 14:50] whedon commented on #1300
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1360. Feel free to close this issue now!

[2019-04-01 14:50] whedon commented on #1360
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @davekinkead it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-04-01 14:50] whedon commented on #1360
[code]

[2019-04-01 14:50] #1300 closed

[2019-04-01 14:50] whedon commented on #1360
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01360/joss.01360/10.21105.joss.01360.pdf)

[2019-04-01 15:39] jdkent commented on #1295
Thank you so much for the in-depth review @snastase! I will be working on addressing these comments via issues/pull requests this week.

[2019-04-01 15:41] morganericsson commented on #1338
@arfon I've had some issues with the software. Since this is my first review for JOSS, I am unsure where/how to voice my concerns, but I'll do it here and then we can edit if it is the wrong place.

- The current version seems to be 0.2, so my comments are based on that version.
- It is not clear who this is intended for, see the next item...
- The documentation (apart from compiling) is quite poo

[2019-04-01 16:26] usethedata commented on #1354
@whedon add @utf as reviewer

[2019-04-01 16:26] whedon commented on #1354
OK, @utf is now a reviewer

[2019-04-01 16:26] usethedata commented on #1354
@whedon check references

[2019-04-01 16:26] whedon commented on #1354
[code]

[2019-04-01 16:27] whedon commented on #1354
[code]

[2019-04-01 16:27] usethedata commented on #1354
@whedon start review

[2019-04-01 16:27] whedon opened #1361 "[REVIEW]: SMACT: Semiconducting Materials by Analogy and Chemical Theory"
**Submitting author:** @dandavies99 (<a href="http://orcid.org/0000-0003-4094-5992">D. W. Davies</a>)
**Repository:** <a href="https://github.com/WMD-group/SMACT/" target ="_blank">https://github.com/WMD-group/SMACT/</a>
**Version:** v2.1
**Editor:** @usethedata
**Reviewer:** @symmy596, @utf
**Archive:** <a href="https://doi.org/10.5281/zenodo.3242315" target="_blank">10.5281/zenodo.3242315</a>

#

[2019-04-01 16:27] whedon commented on #1354
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1361. Feel free to close this issue now!

[2019-04-01 16:27] whedon commented on #1361
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @symmy596, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-04-01 16:27] whedon commented on #1361
[code]

[2019-04-01 16:27] whedon commented on #1361
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01361/joss.01361/10.21105.joss.01361.pdf)

[2019-04-01 16:51] leouieda commented on #1341
Thanks for the update, @harpolea :+1: I'm sure we're can all sympathize with your situation :slightly_smiling_face:

[2019-04-01 17:37] trallard commented on #1317
Hi @becarioprecario and @sunhwan I have not seen much activity on this repo for a bit so I was wondering if there is anything you need help with?

[2019-04-01 17:59] celliern commented on #1356
Hello again !
A word to say that most of the point addressed have been fixed. There is just the creation of the cookbook that is missing, but you can already look at the new version of the documentation if you want.

It will be in the dev branch :

- https://gitlab.com/celliern/scikit-fdiff/tree/dev
- https://scikit-fdiff.readthedocs.io/en/dev/

[2019-04-01 18:18] sunhwan commented on #1317
Thanks for reminding me. I'll work on this soon.

[2019-04-01 19:38] JKutt opened #1362 "Genralize language to include if use on a Mac is working correctly #1385"
Windows and Linux use is stated but nothing about use on a Mac. Suggesting the mention if only to be used explicitly on Windows or Linux.

[2019-04-01 19:38] whedon commented on #1362
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-01 19:38] whedon commented on #1362
[code]

[2019-04-01 19:38] whedon commented on #1362
PDF failed to compile for issue #1362 with the following error:

 Can't find any papers to compile :-(

[2019-04-01 19:44] becarioprecario commented on #1317
Thanks for reminding me. I’ll try to look into this asap.

Virgilio

[2019-04-01 20:25] homonecloco commented on #1337
Hi,
I'm still figuring out how to do the reviews in here.

[2019-04-01 20:48] homonecloco commented on #1337
The documentation is extensive and detailed. However, the links to the API are broken. Reported as an issue in JedS6391/LGP#55

[2019-04-01 21:10] homonecloco commented on #1337
There is a link to the Thesis of the author, http://www.jedsimson.co.nz/static/assets/thesis/Open-Source%20Linear%20Genetic%20Programming.pdf Would it be appropriate to also include the supervisor as author?

[2019-04-01 21:16] pjotrp commented on #1286
@NelleV excellent. We are close to completion. To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI in the bibliography (if one exists).

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service.

T

[2019-04-01 21:41] homonecloco commented on #1337
I had issues running the program, as stated JedS6391/LGP#56 . I'll continue the review once this issue is resolved.

[2019-04-01 21:48] harpolea commented on #1341
Sorry again for the delay - I've finished up with the checks I had intended to do and recommend this for acceptance @leouieda

This is a really nice package - the documentation in particular is very thorough and was great for a new user like myself!

[2019-04-01 23:00] brainstorm commented on #1316
@whedon check references

[2019-04-01 23:00] whedon commented on #1316
[code]

[2019-04-01 23:00] whedon commented on #1316
[code]

[2019-04-01 23:01] brainstorm commented on #1316
Great, thanks much @betteridiot. @rrwick, can you please generate a Zenodo DOI for archival purposes?

[2019-04-01 23:58] sjvrijn commented on #1147
A few more remarks:

- Could you expand the Community Guidelines a bit more? They do mention contributions/bugs, but regular help with using the package is not addressed

- Notebooks seem to work as intended, but are not consistent in their presentation. I don't mind it that much, but at least explicitly listing the intended global optimum and a reference for the used function would be nice

    -

[2019-04-02 00:30] CameronDevine commented on #1326
I opened two more issues today, dfki-ric/phobos#180 and dfki-ric/phobos#181. Both of these issue relate to a minor difficulties I experienced while configuring Phobos.

[2019-04-02 00:47] arfon commented on #1327
:wave: @mkhorton - how are you getting along with your review?

[2019-04-02 01:35] mkhorton commented on #1327
Hi @arfon, I haven't started this review yet, I intend to get to it next week at the latest however (when I was invited to review I communicated that I would not have time to begin before early April)

[2019-04-02 03:03] gweissman commented on #1345
@arfon This my first time reviewing for JOSS so still trying to learn the checklist, which I have completed above. Additional comments I would like to include in the review are:

- Most of the code examples in the README.md file work with the following exception: when I type `cg.disambiguate(tokens)` I get the following error:

[code]

- When I type `uralicApi.download("fin")` the download appears

[2019-04-02 05:53] JKutt commented on #1358
Hi @lheagy, I managed to complete my review! I had a bit of a stumble at first getting things running but after following the Linux install more thoroughly I managed to get it going. Once up and running everything went quite smooth! A lot of good stuff in here. I found a few things and created an issue for one but the others already exist (e.g. error with print statements due to python 2 vs. 3).

[2019-04-02 05:54] omoliavko commented on #1338
@morganericsson Thanks for the valuable feedback, we'll improve the documentation as soon as feasible. Now answers to your specific comments:
1) Current version is 0.2 - we're actively developing the uJVM, taking feedback from multiple sources into account; indeed, you're welcome to give feedback if you have time and feel inclined to do so
2) We'll update the article to specify intended applicatio

[2019-04-02 06:14] omoliavko commented on #1338
@whedon generate pdf

[2019-04-02 06:14] whedon commented on #1338
[code]

[2019-04-02 06:15] whedon commented on #1338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01338/joss.01338/10.21105.joss.01338.pdf)

[2019-04-02 06:18] omoliavko commented on #1338
@whedon generate pdf

[2019-04-02 06:18] whedon commented on #1338
[code]

[2019-04-02 06:18] whedon commented on #1338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01338/joss.01338/10.21105.joss.01338.pdf)

[2019-04-02 06:21] omoliavko commented on #1338
@hainesr @morganericsson We've added expected uJVM audience list to paper

[2019-04-02 06:58] danielskatz commented on #990
👋 @arfon - ping - help needed...

[2019-04-02 08:46] mikahama commented on #1345
@gweissman It seems that you do not have VISL CG-3 installed. It is required for constraint grammars and unfortunately cannot be installed over pip as a dependency. This requirement has been stated in the readme file.

I think that adding an indicator (or a progress bar) for downloading the models is a great idea. Thanks for the suggestion.

[2019-04-02 09:26] arfon commented on #1201
@whedon accept

[2019-04-02 09:26] whedon commented on #1201
[code]

[2019-04-02 09:26] whedon commented on #1201
[code]

[2019-04-02 09:27] whedon commented on #1201
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/596

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/596, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-02 09:28] arfon commented on #1201
@whedon accept deposit=true

[2019-04-02 09:28] whedon commented on #1201
[code]

[2019-04-02 09:29] whedon commented on #1201
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/597
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01201](https://doi.org/10.21105/joss.01201)
2. If everything looks go

[2019-04-02 09:31] arfon commented on #1201
@amoeba - many thanks for your review here and to @pjotrp for editing this submission ✨

@dleehr - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-04-02 09:31] #1201 closed

[2019-04-02 09:31] whedon commented on #1201
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01201/status.svg)](https://doi.org/10.21105/joss.01201)

**We need your help!**

Journal of Open Source Softwar

[2019-04-02 09:36] symmy596 commented on #1361
I am happy and indeed keen to review SMACT.

However I would like to flag that I know the lead author Dan as we have worked in the same department (Bath University) in the past, although he has since moved on. With that said we have had no collaborations, have no current plans for future collaborations. I feel there is no conflict of interest, however I do want to flag it now in the interest of tr

[2019-04-02 09:44] symmy596 commented on #1361
Update - Dan left Bath in October.

[2019-04-02 09:48] danielskatz commented on #1361
As an associate editor in chief, I don't think this conflict should prevent you from reviewing the submission, but we do greatly appreciate you mentioning and recording it.

[2019-04-02 09:56] kmichael08 commented on #1348
Hello @katyhuff . You've mentioned your absence for April 3-9. I wonder, maybe it's possible to assign reviewers before that period?

[2019-04-02 10:43] NelleV commented on #1286
I've deposited the code in OSF already. Is that a suitable DOI issuer?
The DOI is 10.17605/OSF.IO/N6WHX

[2019-04-02 10:47] NelleV commented on #1286
@whedon generate pdf

[2019-04-02 10:47] whedon commented on #1286
[code]

[2019-04-02 10:47] whedon commented on #1286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01286/joss.01286/10.21105.joss.01286.pdf)

[2019-04-02 10:48] NelleV commented on #1286
I've added the DOI for all of the references.

[2019-04-02 11:33] usethedata commented on #1296
@jgostick I've double checked, and the answer to your question is that when we're ready, you make a deposit of the desired version (such as with Zenodo).  Put the DOI for that archive here in this thread, and I'll use that to set the archive version associated with the paper.

[2019-04-02 12:53] annoviko commented on #1230
@poulson, kindly reminder.

[2019-04-02 14:02] lpantano commented on #1302
@whedon assign ﻿﻿﻿@wmegchel as reviewer

[2019-04-02 14:02] lpantano commented on #1302
@whedon start review

[2019-04-02 14:02] whedon commented on #1302
OK, the reviewer is ﻿﻿﻿@wmegchel

[2019-04-02 14:03] lpantano commented on #1302
@whedon start review

[2019-04-02 14:15] VivianePons commented on #1340
@whedon check references

[2019-04-02 14:15] whedon commented on #1340
[code]

[2019-04-02 14:16] lpantano commented on #1302
@whedon add @prasunanand as reviewer

[2019-04-02 14:16] whedon commented on #1302
OK, @prasunanand is now a reviewer

[2019-04-02 14:16] whedon commented on #1340
[code]

[2019-04-02 14:17] lpantano commented on #1302
@arfon, whedon is not starting the review, anything else I have to trigger to move this to review?

[2019-04-02 14:37] kyleniemeyer commented on #1340
Hi @mikaem, it looks like the Frigo and Johnson (2005) reference should include the DOI 10.1109/jproc.2004.840301. Could you add this?

[2019-04-02 14:38] mikaem commented on #1340
@whedon check references

[2019-04-02 14:38] whedon commented on #1340
[code]

[2019-04-02 14:39] whedon commented on #1340
[code]

[2019-04-02 14:39] mikaem commented on #1340
@kyleniemeyer Done!

[2019-04-02 14:40] arfon commented on #1302
@whedon start review

[2019-04-02 14:40] mikaem commented on #1340
@whedon generate pdf

[2019-04-02 14:40] whedon commented on #1340
[code]

[2019-04-02 14:41] whedon commented on #1340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01340/joss.01340/10.21105.joss.01340.pdf)

[2019-04-02 14:42] arfon commented on #1302
@whedon assign @wmegchel as reviewer

[2019-04-02 14:43] whedon commented on #1302
OK, the reviewer is @wmegchel

[2019-04-02 14:43] arfon commented on #1302
@whedon add @prasunanand as reviewer

[2019-04-02 14:43] whedon commented on #1302
OK, @prasunanand is now a reviewer

[2019-04-02 14:43] arfon commented on #1302
@whedon start review

[2019-04-02 14:43] whedon opened #1363 "[REVIEW]: ACHR.cu: GPU sampling of metabolic networks."
**Submitting author:** @marouenbg (<a href="http://orcid.org/0000-0001-5934-966X">Marouen Ben Guebila</a>)
**Repository:** <a href="https://github.com/marouenbg/ACHR.cu" target ="_blank">https://github.com/marouenbg/ACHR.cu</a>
**Version:** v0.2
**Editor:** @lpantano
**Reviewer:** @wmegchel, @prasunanand
**Archive:** <a href="https://doi.org/10.5281/zenodo.3233085" target="_blank">10.5281/zenodo.3

[2019-04-02 14:43] whedon commented on #1302
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1363. Feel free to close this issue now!

[2019-04-02 14:43] whedon commented on #1363
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wmegchel, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-04-02 14:43] whedon commented on #1363
[code]

[2019-04-02 14:44] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-04-02 14:45] kyleniemeyer commented on #1347
@asalmgren thanks! I've reached out to a few potential reviewers.

[2019-04-02 14:47] #1302 closed

[2019-04-02 14:51] arfon commented on #1302
Not sure what was going on with Whedon. Re-assigning the reviewers seemed to help here.

[2019-04-02 15:09] gweissman commented on #1345
@mikahama You are correct this is mentioned in the README.md file. I have nothing further to add. Congratulations on what appears to be a very useful software package.

[2019-04-02 15:14] kyleniemeyer commented on #1347
@whedon add @MatthewTurk as reviewer

[2019-04-02 15:14] whedon commented on #1347
OK, @MatthewTurk is now a reviewer

[2019-04-02 15:26] IgorBaratta commented on #1292
@Kevin-Mattheus-Moerman
All boxes are now ticked, and from my side, this is good to go.
Just need to update the pdf to reflect the changes in the doi.

[2019-04-02 15:31] omoliavko commented on #1338
@hainesr @morganericsson Javadoc documentation generation is added to uJVM to view info on supported Java classes; updated README.md to reflect this and added uJVM_functionality_description.md file to docs folder.

[2019-04-02 15:47] VivianePons commented on #1340
Can you please:
 * update the archive with the latest changes
 * update the archive metainfo so that the title is the same than the paper title
 * Add David Elliot Keyes to the list of authors in the archive

[2019-04-02 16:19] VivianePons commented on #1324
@lmoresi I have trouble finding available reviewers, do you have any suggestions?

[2019-04-02 16:27] mikaem commented on #1340
@VivianePons Created a new release and there's a new doi: 10.5281/zenodo.2621442
This one has all three authors and the same title as the paper.

[2019-04-02 16:27] mikaem commented on #1340
@whedon set version 2.0.2

[2019-04-02 16:28] mikaem commented on #1340
@whedon set 2.0.2 as version

[2019-04-02 16:29] whedon commented on #1340
I'm sorry @mikaem, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-04-02 16:29] mikaem commented on #1340
@VivianePons Looks like you need to update the version to 2.0.2

[2019-04-02 16:33] VivianePons commented on #1340
@whedon set 2.0.2 as version

[2019-04-02 16:33] whedon commented on #1340
OK. 2.0.2 is the version.

[2019-04-02 16:34] VivianePons commented on #1340
@whedon set 10.5281/zenodo.2621442 as archive

[2019-04-02 16:34] whedon commented on #1340
OK. <a href="https://doi.org/10.5281/zenodo.2621442" target="_blank">10.5281/zenodo.2621442</a> is the archive.

[2019-04-02 16:34] VivianePons commented on #1340
@whedon generate pdf

[2019-04-02 16:34] whedon commented on #1340
[code]

[2019-04-02 16:34] whedon commented on #1340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01340/joss.01340/10.21105.joss.01340.pdf)

[2019-04-02 16:37] VivianePons commented on #1340
Congratulations, this paper is good to go! Thank you @mikaem for this submission and @iljah and @rainwoodman for the reviews!

@openjournals/joss-eics it's up to you

[2019-04-02 17:31] lheagy commented on #1136
Thank you for your thorough response @rbeucher!

👋 @flohorovicic: would you be willing to take a look at @rbeucher's response and updates to see if these address the items you raised?

[2019-04-02 17:47] VivianePons commented on #1351
Hi @Azais

I am trying to install the software but I am running into issues. I have a miniconda on my machine but I am quite new with it and I can't find how to upgrade the different lib. I created an environment for treex but when I try the install command, I run into:

[code]

Maybe I am just missing the right channels. As I said, I usually don't use conda that much. I only had a miniconda insta

[2019-04-02 17:49] VivianePons commented on #1351
Note: when I try installing libedit for example, which seems to be required, with this command

``` conda install -c conda-forge libedit```

it only installs version 3.1.20170329 , which is not good enough

[2019-04-02 20:23] kyleniemeyer commented on #1340
@whedon accept

[2019-04-02 20:23] whedon commented on #1340
[code]

[2019-04-02 20:24] whedon commented on #1340
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/598

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/598, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-02 20:24] whedon commented on #1340
[code]

[2019-04-02 20:27] mviereck commented on #1349
To address this point to more then "Run an example image and see if it works" I am currently developing a special security and feature check image `x11docker/check`.

github source: https://github.com/mviereck/dockerfile-x11docker-check
docker hub: https://hub.docker.com/r/x11docker/check
Note in README.md: https://github.com/mviereck/x11docker#security-and-feature-check

The image is in early dev

[2019-04-02 20:27] kyleniemeyer commented on #1340
@whedon accept deposit=true

[2019-04-02 20:27] whedon commented on #1340
[code]

[2019-04-02 20:28] whedon commented on #1340
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/599
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01340](https://doi.org/10.21105/joss.01340)
2. If everything looks go

[2019-04-02 20:40] kyleniemeyer commented on #1340
@mikaem congrats on your JOSS publication, and thanks to @iljah and @rainwoodman for reviewing and @VivianePons for editing!

[2019-04-02 20:40] #1340 closed

[2019-04-02 20:40] whedon commented on #1340
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01340/status.svg)](https://doi.org/10.21105/joss.01340)

**We need your help!**

Journal of Open Source Softwar

[2019-04-02 21:19] yxliang01 commented on #1349
@mviereck Will check tomorrow. However, for the conflict of interest matter, I am still awaiting for @arfon 's confirmation. Sorry for hanging this review.

[2019-04-02 21:35] mviereck commented on #1349
@yxliang01 Don't worry, no need to hurry!

[2019-04-02 21:43] #1362 closed

[2019-04-02 22:42] jedbrown commented on #1043
@lbenet Thanks for your patience. (I was offline last week.) Please fix this citation https://github.com/JuliaDiff/TaylorSeries.jl/commit/98281c271e83193037c7805a2ccf2d6711c50b74#r33009220
There is also a comment in figure 3 that spills into the margin. Can you shorten it? We should be ready to archive once these formatting issues are fixed.

[2019-04-03 00:32] lbenet commented on #1043
@whedon generate pdf from branch joss3

[2019-04-03 00:32] whedon commented on #1043
[code]

[2019-04-03 00:33] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-04-03 00:51] lbenet commented on #1043
@jedbrown I just opened https://github.com/JuliaDiff/TaylorSeries.jl/pull/203; the citation was fixed (link to Wikipedia) and the comment of Fig 3 shortened. I also added the tex files to generate the pdf's (I cropped the pdf's manually though).

[2019-04-03 00:54] lbenet commented on #1043
Let me know if I need to do something else before merging.

[2019-04-03 00:57] pjotrp commented on #1286
@whedon set 10.17605/OSF.IO/N6WHX as archive

[2019-04-03 00:57] whedon commented on #1286
OK. <a href="https://doi.org/10.17605/OSF.IO/N6WHX" target="_blank">10.17605/OSF.IO/N6WHX</a> is the archive.

[2019-04-03 00:58] pjotrp commented on #1286
Whedon accepts the DOI. Maybe the EIC team wants to have a look.

ping eic @openjournals/joss-eics

[2019-04-03 02:49] kyleniemeyer commented on #1286
Hi @NelleV, just a few final suggestions/corrections for the article:

- I think "As any genomics experiments" is missing a word.
- You don't need to cite the software in the paper, since there is already a link to the archive, and this paper serves as a reference for the software. (If you really want to keep it, it does need some fixing—th names aren't showing up correct, and it should have 2019

[2019-04-03 04:11] NelleV commented on #1286
@whedon generate pdf

[2019-04-03 04:11] whedon commented on #1286
[code]

[2019-04-03 04:12] whedon commented on #1286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01286/joss.01286/10.21105.joss.01286.pdf)

[2019-04-03 05:20] lheagy commented on #1221
@whedon generate pdf

[2019-04-03 05:20] whedon commented on #1221
[code]

[2019-04-03 05:21] whedon commented on #1221
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01221/joss.01221/10.21105.joss.01221.pdf)

[2019-04-03 06:04] kyleniemeyer commented on #1286
@whedon accept

[2019-04-03 06:04] whedon commented on #1286
[code]

[2019-04-03 06:05] whedon commented on #1286
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/600

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/600, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-03 06:05] whedon commented on #1286
[code]

[2019-04-03 06:09] kyleniemeyer commented on #1286
@NelleV sorry to come back with another question, but I'm a little confused about the OSF DOI—from what I can tell, OSF is not actually archiving the accepted version of the software, but really linking to the GitHub repo, which can change. For our purposes, we really want an archived snapshot of the accepted version that could be downloaded, and usually people use Zenodo or Figshare for this purp

[2019-04-03 06:11] NelleV commented on #1286
You are correct. I can upload the code to zenodo.

[2019-04-03 06:19] NelleV commented on #1286
@whedon generate pdf

[2019-04-03 06:19] whedon commented on #1286
[code]

[2019-04-03 06:20] whedon commented on #1286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01286/joss.01286/10.21105.joss.01286.pdf)

[2019-04-03 06:26] NelleV commented on #1286
I've created a zenodo archive (/http://doi.org/10.5281/zenodo.2622857). I think everything is fine now, but the archive link on the article proof is not working.

[2019-04-03 06:43] rrwick commented on #1316
Okay, I've made a Zenodo DOI (https://zenodo.org/record/2622997) and added this shiny new badge to Badread's README:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.2622997.svg)](https://doi.org/10.5281/zenodo.2622997)

[2019-04-03 06:44] danielskatz commented on #990
@whedon accept

[2019-04-03 06:44] whedon commented on #990
[code]

[2019-04-03 06:45] whedon commented on #990
[code]

[2019-04-03 06:45] whedon commented on #990
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/601

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/601, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-03 06:48] danielskatz commented on #990
@whedon accept deposit=true

[2019-04-03 06:48] whedon commented on #990
[code]

[2019-04-03 06:48] whedon commented on #990
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/602
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00990](https://doi.org/10.21105/joss.00990)
2. If everything looks go

[2019-04-03 06:50] danielskatz commented on #990
@laempy sorry for the delays - Our bot @whedon was acting up, but seems to be ok again...

[2019-04-03 06:50] #990 closed

[2019-04-03 06:50] whedon commented on #990
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00990/status.svg)](https://doi.org/10.21105/joss.00990)

**We need your help!**

Journal of Open Source Softwar

[2019-04-03 06:52] danielskatz commented on #1353
👋 @pjotrp @mgymrek @brainstorm @lpantano - it would be great if whichever of you is willing to edit this would assign it your self as editor :)

[2019-04-03 07:27] laempy commented on #990
Great! Thanks a lot!

[2019-04-03 08:26] omoliavko commented on #1338
@hainesr  @morganericsson A guide on building apps for uJVM was added - please see docs/java_app_creating_guide.md file. We'd be grateful for your opinion on it.

[2019-04-03 09:26] arfon commented on #1286
That's correct.

This is only 'linked up' in the final proofs.

[2019-04-03 09:26] arfon commented on #1286
@whedon set 10.5281/zenodo.2622857 as archive

[2019-04-03 09:26] whedon commented on #1286
OK. <a href="https://doi.org/10.5281/zenodo.2622857" target="_blank">10.5281/zenodo.2622857</a> is the archive.

[2019-04-03 09:26] arfon commented on #1286
@whedon accept

[2019-04-03 09:27] whedon commented on #1286
[code]

[2019-04-03 09:27] whedon commented on #1286
[code]

[2019-04-03 09:27] whedon commented on #1286
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/603

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/603, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-03 10:32] Kevin-Mattheus-Moerman commented on #1292
@whedon generate pdf

[2019-04-03 10:32] whedon commented on #1292
[code]

[2019-04-03 10:33] whedon commented on #1292
PDF failed to compile for issue #1292 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0     30      0 --:--:-- --:--:-- --:--:--    30
Error reading bib

[2019-04-03 14:23] sebastkm commented on #1292
@whedon generate pdf

[2019-04-03 14:24] whedon commented on #1292
[code]

[2019-04-03 14:24] whedon commented on #1292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01292/joss.01292/10.21105.joss.01292.pdf)

[2019-04-03 15:30] kyleniemeyer commented on #1286
@whedon accept deposit=true

[2019-04-03 15:30] whedon commented on #1286
[code]

[2019-04-03 15:30] whedon commented on #1286
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/604
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01286](https://doi.org/10.21105/joss.01286)
2. If everything looks go

[2019-04-03 15:31] kyleniemeyer commented on #1286
Congrats @NelleV on your article published in JOSS!  Thanks @robinweide for reviewing and @pjotrp for editing.

[2019-04-03 15:31] #1286 closed

[2019-04-03 15:31] whedon commented on #1286
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01286/status.svg)](https://doi.org/10.21105/joss.01286)

**We need your help!**

Journal of Open Source Softwar

[2019-04-03 15:41] cMadan commented on #989
@stsievert, perfect, thank you for confirming! Thanks for highlighting this difference :). After I do a final pass of the submission, I will ask @ccurtis7 to mint a new release and archive the code (@ccurtis7, wait until I do a final pass though!) and this will then be the version that is accepted.

@ccurtis7, sit tight for now and I will let you know how the last steps proceed shortly.

[2019-04-03 15:44] ccurtis7 commented on #989
Thanks @cMadan! And thanks @stsievert for all your hard work through the review!

[2019-04-03 16:15] lheagy commented on #1221
@whedon check referenced

[2019-04-03 16:15] lheagy commented on #1221
@whedon check references

[2019-04-03 16:15] whedon commented on #1221
[code]

[2019-04-03 16:15] whedon commented on #1221
[code]

[2019-04-03 16:17] lheagy commented on #1221
@chris-prener: I left a few comments for grammar in the paper in slu-openGIS/areal#20, and it looks like there are a few missing doi's in the references. Would you please take a look at these and ping here when you are done? Thanks!

[2019-04-03 19:35] lpantano commented on #1353
@whedon  assign @lpantano as editor

[2019-04-03 19:45] lpantano commented on #1353
@danielskatz  @arfon I think whedon doesn't like me anymore ..... it doesn't assign me as editor, maybe I lost permissions :/

[2019-04-03 19:53] kyleniemeyer commented on #1353
@whedon assign @lpantano as editor

[2019-04-03 19:53] whedon commented on #1353
OK, the editor is @lpantano

[2019-04-03 19:54] kyleniemeyer commented on #1353
@lpantano weird! I had also been noticing some delays with whedon, maybe that was the issue.

[2019-04-03 20:03] flohorovicic commented on #1136
Hi @rbeucher,

Great to hear that the comments were helpful!

The clarifications are very useful, especially on the distinction to underworld and the section on contributing. Looking forward to seeing this project evolve and being used in research and teaching eben more!

@lheagy: All fine from my side!

Kind regards,

     — Florian —

[2019-04-03 21:43] arfon commented on #1353
@whedon list editors

[2019-04-03 21:43] whedon commented on #1353
Current editors:

[code]

[2019-04-03 21:43] arfon commented on #1353
Hrm, not sure what's up here.

[2019-04-03 23:25] alkirkby commented on #1358
Hey @JKutt, thanks for the review! We're glad you managed to install MTPy in the end, but we are tidying up some of the issues at the moment to make it easier for users.
I was wondering if you could let me know the issue numbers for the issues you mentioned above? I can't find anything in the issues page about print statements with python 2 vs 3, for example. I need to go through the issues page a

[2019-04-04 02:22] brainstorm commented on #1316
@whedon set https://zenodo.org/record/2622997 as archive

[2019-04-04 02:22] whedon commented on #1316
https://zenodo.org/record/2622997 doesn't look like an archive DOI.

[2019-04-04 02:23] brainstorm commented on #1316
@whedon set 10.5281/zenodo.2622997 as archive

[2019-04-04 02:23] whedon commented on #1316
OK. <a href="https://doi.org/10.5281/zenodo.2622997" target="_blank">10.5281/zenodo.2622997</a> is the archive.

[2019-04-04 02:25] brainstorm commented on #1316
@danielskatz, I think we are done here, ready to accept!

[2019-04-04 02:58] kyleniemeyer commented on #1316
@whedon generate pdf

[2019-04-04 02:58] whedon commented on #1316
[code]

[2019-04-04 02:58] whedon commented on #1316
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01316/joss.01316/10.21105.joss.01316.pdf)

[2019-04-04 03:05] kyleniemeyer commented on #1316
@whedon accept

[2019-04-04 03:05] whedon commented on #1316
[code]

[2019-04-04 03:05] whedon commented on #1316
[code]

[2019-04-04 03:05] whedon commented on #1316
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/605

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/605, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-04 03:07] kyleniemeyer commented on #1316
@whedon accept deposit=true

[2019-04-04 03:07] whedon commented on #1316
[code]

[2019-04-04 03:07] whedon commented on #1316
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/606
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01316](https://doi.org/10.21105/joss.01316)
2. If everything looks go

[2019-04-04 03:19] kyleniemeyer commented on #1316
Congrats @rrwick on your JOSS article acceptance! Thanks to @betteridiot for reviewing and @brainstorm for editing.

[2019-04-04 03:19] #1316 closed

[2019-04-04 03:19] whedon commented on #1316
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01316/status.svg)](https://doi.org/10.21105/joss.01316)

**We need your help!**

Journal of Open Source Softwar

[2019-04-04 06:43] TomDonoghue commented on #1272
Hey @TomDLT & @arokem

I've finished up a version of an example using MNE, as was suggested in the review, and the relevant PR has now been merged:
https://github.com/neurodsp-tools/neurodsp/pull/146
You can also see the hosted version of this example here:
https://neurodsp-tools.github.io/neurodsp/auto_examples/plot_mne_example.html#sphx-glr-auto-examples-plot-mne-example-py

One more thing - we

[2019-04-04 07:11] rrwick commented on #1316
Thanks to everyone involved - much appreciated!

[2019-04-04 07:32] mfroeling commented on #1204
@cMadan is there anything i can do to finalize the review?
The last open issue should be fixed but needs to be confirmed by the reviewers.

[2019-04-04 09:15] RomainAzais commented on #1351
Hello @VivianePons
Could you try to update conda with `conda update conda`?
If it doesn't work, could you comment with the output of `conda info`?
Thanks.

[2019-04-04 10:32] lmoresi commented on #1324
We're discussing the possible choices. A queston of joss etiquette - is it appropriate to name people here in the open forum ?

[2019-04-04 10:34] vissarion commented on #1278
Hello, and again sorry for the late review. It is now complete. I raised and issue here: https://github.com/matbesancon/BilevelOptimization.jl/issues/14 regarding documentation.

[2019-04-04 11:26] adrena-lab commented on #1241
Hi @trallard ,

would you have any update on our manuscript draft? Looking forward to hearing from you.

Thanks,
Stefan

[2019-04-04 14:16] connorourke commented on #1306
@mkhorton,

Thanks for taking the time to do such a thorough review of the code, and for the useful suggestions. I'll make the changes you suggested, sort out the PyPi formatting issue and cross off the final checklist items asap.

I'd agree that the examples would benefit from a known-true example being included - and you are right that the results are dependent upon the size of supercell being u

[2019-04-04 15:28] slithiaote commented on #1005
@tpetricek I believe that "Automated tests" is covered by "Bootstrapping", as this exploits the functionality for which Lepton was written. Bootstrapping will in fact process two embedded files, i.e. run two test files.

I included "Community guidelines" in the "Contributing" section in `Readme.md`, as this is what I found in other recently published JOSS papers.

[2019-04-04 15:31] grlee77 commented on #1237
Just wanted to check in with @souopgui as the review seems to have stalled: Are there still remaining items to address?

I think the only substantial change in master made subsequent to the review comments was updating the underlying testing framework used from `nose` to `pytest` since `nose` is no longer being updated. The tests themselves are the same as before (but hopefully will be refactored

[2019-04-04 15:55] mrava87 commented on #1356
Great :)

Looks very good to me. Just one minor thing:
- make sure to remove `News / TODO / Roadmad` etc. from the list of index in the README as now their link is broken.

Congrats with a nice software and documentation. This is good to go for me when you get the cookbook and adapt the paper (don't see it the pdf here)

[2019-04-04 16:59] mkhorton commented on #1306
Great! Looking forward to seeing it :)

Just to re-iterate, the additional comments don't have a bearing on my JOSS review (as I understand the JOSS guidelines). It's really the user's responsibility if they correctly extrapolate with supercell size etc. As long as the code itself works, is tested, documented, etc. and fulfills the other JOSS criteria, which it looks like it does, then I'm happy t

[2019-04-04 17:13] TomDLT commented on #1272
Nice MNE example, and moving swm and lagged coherence in the same module makes sense.
Everything is ok on my side.

[2019-04-04 17:18] jedbrown commented on #1043
Looks good to me, thanks. Please merge and tag ([annotated tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags) preferred) and archive on Zenodo or similar, then report the DOI back here.

[2019-04-04 17:45] cMadan commented on #1204
@mfroeling, for now I'd like to wait for the reviewer to follow-up.

@rljacobson, can you check if the last fixes resolve the OS compatibility issue?

[2019-04-04 18:01] lbenet commented on #1043
Thanks a lot @jedbrown for all your work and comments.

I merged JuliaDiff/TaylorSeries.jl#203, just tagged a new minor version (0.9.2), which has been accepted in METADATA.jl (current central repo of registered packages, but not for long). (I hope I annotated it properly; sorry if not.) The DOI at zenodo (v0.9.2) is: [10.5281/zenodo.2628898](http://doi.org/10.5281/zenodo.2628898).

[2019-04-04 19:03] lheagy commented on #1328
👋 Hi @dvalters, just checking in this review. Please let me know if you have any questions.

[2019-04-04 19:45] VivianePons commented on #1324
We usually do it that way but if you'd rather send me an email about it, please do so.

[2019-04-04 19:53] VivianePons commented on #1351
Thanks, it worked!

[2019-04-04 20:13] lpantano commented on #1353
@whedon assign @druvus as reviewer

[2019-04-04 20:13] whedon commented on #1353
OK, the reviewer is @druvus

[2019-04-04 20:15] lpantano commented on #1353
@whedon start review

[2019-04-04 20:15] whedon opened #1364 "[REVIEW]: WGS2NCBI - Toolkit for preparing genomes for submission to NCBI"
**Submitting author:** @rvosa (<a href="http://orcid.org/0000-0001-9254-7318">Rutger Vos</a>)
**Repository:** <a href="https://github.com/naturalis/wgs2ncbi" target ="_blank">https://github.com/naturalis/wgs2ncbi</a>
**Version:** v1.0.3
**Editor:** @lpantano
**Reviewer:** @druvus
**Archive:** <a href="https://doi.org/10.5281/zenodo.2645762" target="_blank">10.5281/zenodo.2645762</a>

## Status

[!

[2019-04-04 20:15] whedon commented on #1353
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1364. Feel free to close this issue now!

[2019-04-04 20:15] whedon commented on #1364
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @druvus it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-04-04 20:15] whedon commented on #1364
[code]

[2019-04-04 20:15] whedon commented on #1364
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01364/joss.01364/10.21105.joss.01364.pdf)

[2019-04-04 20:15] #1353 closed

[2019-04-04 21:31] karthik commented on #1321
@arsilva87 Following up from the issue I raised in your repo, the reviewers and I are unable to install your software with reasonable effort. It's because of your dependency on rpanel, which requires a dated Tcltk widget called `BWidget`. Can you please articulate why you need these dependencies, how you are using them and why you are unable to refactor with modern alternatives? I'm pausing the re

[2019-04-04 23:03] lheagy commented on #1358
Many thanks for your speedy review @JKutt! @alkirkby: it looks they are issues
- MTgeophysics/mtpy#77
- MTgeophysics/mtpy#78

[2019-04-05 00:10] alkirkby commented on #1358
Great thanks @lheagy. I've checked both those issues - #78 has been addressed and I have now addressed #77.

[2019-04-05 00:24] souopgui commented on #1237
@grlee77 , I have not paid attention to email coming from github lately.
The toolbox is great and I am already recommending people to give it a try. For a topic of the importance of the wavelet, a toolbox like this one was missing. With the implementation of all the filters you guys implemented, this is a great tools.
With that, I am done with my review. Being less familiar with the review on gith

[2019-04-05 02:45] lmoresi commented on #1324
It's fine. I just wanted to make sure there were no privacy issues. We have the following suggestions that are mainly from the Earth Science side as we think that is the primary audience for stripy and maybe that will help. We also suggest contacting professor Renka whose original code we wrapped as the starting point for the package (email details below)

  - Paul Wessel (U. Hawaii) - pwessel_at_

[2019-04-05 03:13] jedbrown commented on #1237
@souopgui There are points unchecked in your [review checklist](https://github.com/openjournals/joss-reviews/issues/1237#issue-406976574) at the top of this issue. Can you confirm those points so we can move forward with acceptance? Thanks!

[2019-04-05 03:23] jedbrown commented on #1043
@whedon set v0.9.2 as version

[2019-04-05 03:23] whedon commented on #1043
OK. v0.9.2 is the version.

[2019-04-05 03:23] jedbrown commented on #1043
@whedon set 10.5281/zenodo.2628898 as archive

[2019-04-05 03:23] whedon commented on #1043
OK. <a href="https://doi.org/10.5281/zenodo.2628898" target="_blank">10.5281/zenodo.2628898</a> is the archive.

[2019-04-05 03:23] jedbrown commented on #1043
@whedon accept

[2019-04-05 03:23] whedon commented on #1043
[code]

[2019-04-05 03:23] whedon commented on #1043
[code]

[2019-04-05 03:24] whedon commented on #1043
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/607

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/607, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-05 03:26] jedbrown commented on #1043
@openjournals/joss-eics Over to you, please.

[2019-04-05 04:54] jedbrown commented on #1049
@whedon generate pdf

[2019-04-05 04:55] whedon commented on #1049
[code]

[2019-04-05 04:55] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2019-04-05 05:19] jedbrown commented on #1049
@DavideNardone Please check you citation format. Separate multiple citations with semicolon and choose whether they are in-text.  https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax
Please also check capitalization of your references (some need to be protected). Please also consider changing your long first paragraph with numbered parts to use a bulleted or nu

[2019-04-05 05:19] jedbrown commented on #1049
@whedon check references

[2019-04-05 05:19] whedon commented on #1049
[code]

[2019-04-05 05:19] whedon commented on #1049
[code]

[2019-04-05 06:12] DavideNardone commented on #1049
@whedon generate pdf

[2019-04-05 06:12] whedon commented on #1049
[code]

[2019-04-05 06:12] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2019-04-05 06:15] DavideNardone commented on #1049
@whedon generate pdf

[2019-04-05 06:15] whedon commented on #1049
[code]

[2019-04-05 06:15] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2019-04-05 06:17] DavideNardone commented on #1049
@whedon generate pdf

[2019-04-05 06:17] whedon commented on #1049
[code]

[2019-04-05 06:18] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2019-04-05 06:20] DavideNardone commented on #1049
@jedbrown how can i manipulate images (resize, stretch, etcc ) ?

Thank you

[2019-04-05 06:21] DavideNardone commented on #1049
@jedbrown how do I manipulate images (resize, stretch, etcc ) ?

Thank you

[2019-04-05 06:24] DavideNardone commented on #1049
@whedon generate pdf

[2019-04-05 06:24] whedon commented on #1049
[code]

[2019-04-05 06:25] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2019-04-05 11:19] matbesancon commented on #1278
thanks, on it today

[2019-04-05 12:12] morganericsson commented on #1338
I've reviewed the added files and the updated paper, and updated my review checklist accordingly. Overall, I think it's fine and all of my concerns have been addressed. The documentation, of course, should improve over time, but I think it's sufficient for now.

[2019-04-05 12:36] omoliavko commented on #1338
@morganericsson Thank you once again for your time, and a separate thank you for vote of confidence.

[2019-04-05 13:01] jasonclark commented on #1330
@djmitche Yep. Thanks for your review.

[2019-04-05 13:02] jasonclark commented on #1330
@whedon generate pdf

[2019-04-05 13:02] whedon commented on #1330
[code]

[2019-04-05 13:03] whedon commented on #1330
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01330/joss.01330/10.21105.joss.01330.pdf)

[2019-04-05 13:04] jasonclark commented on #1182
@whedon generate pdf

[2019-04-05 13:04] whedon commented on #1182
[code]

[2019-04-05 13:05] whedon commented on #1182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01182/joss.01182/10.21105.joss.01182.pdf)

[2019-04-05 13:08] jasonclark commented on #1182
Hi, @mconlon17. We are close to finishing this paper. There is a final step where you make an archive of the software in [Zenodo](https://zenodo.org/) and report the DOI. Can you do that and let me know the DOI here?

[2019-04-05 13:09] jasonclark commented on #1330
Hi, @grantjenks. We are close to finishing this paper. There is a final step where you make an archive of the software in Zenodo and report the DOI. Can you do that and let me know the DOI here?

[2019-04-05 13:43] vissarion commented on #1278
@matbesancon thanks for addressing the issue on documentation. I closed https://github.com/matbesancon/BilevelOptimization.jl/issues/14 and finished my review check-list.

[2019-04-05 14:47] grantjenks commented on #1330
I think that's done. I believe the DOI is: 10.5281/zenodo.2584337
Here's the Zenodo link: https://zenodo.org/record/2584337
And the DOI link: https://doi.org/10.5281/zenodo.2584337

[2019-04-05 15:28] TomDonoghue commented on #1272
Awesome - thanks for doing the review @TomDLT!

@arokem is it okay if I merge paper updates? And is there anything else you need from us?

[2019-04-05 15:49] JKutt commented on #1358
Hi @alkirkby the "print" statements issue was brought up in MTgeophysics/mtpy#63

[2019-04-05 15:50] davekinkead commented on #1360
@alexhanna @shawnbanasick outstanding review issues raised here https://github.com/shawnbanasick/kade/issues

I've only been able to review the software on MacOS (demo works as per readme) so can't comment to its functionality on Windows or Linux.

[2019-04-05 16:19] jedbrown commented on #1049
Your figures would be much better as vector graphics, e.g., PDF includes. You can set width by adding `![caption](file.png){width=4in}`.

Please check in-text and capitalization for your references.

[2019-04-05 17:20] edifice1989 commented on #1255
Hi @mgymrek <https://github.com/mgymrek>,

   Could you please take a look of my updated README.md and paper.me with
statement of need? I am looking forward for your feedback!

   Thank you very much!

Best,
Ming

On Sun, Mar 31, 2019 at 10:53 AM Mingze He <edifice1989@gmail.com> wrote:

[2019-04-05 19:09] arsilva87 commented on #1321
@karthik The problem was solved by removing the dependencies with none or minimal losses, only for a single functionality of the package.

[2019-04-05 19:33] mconlon17 commented on #1182
Very good to hear. Will do.

[2019-04-05 21:13] cMadan commented on #1294
@tyarkoni, how have things gone with getting people to confirm co-authorship? (E.g., how many have confirmed, how many have not responded)

[2019-04-05 21:36] ixjlyons commented on #1315
My review:

The purpose of Kepler Mapper is clear from the docs and paper, and it appears to me to fulfill that purpose. I appreciate the background page of the docs as well as the applications page. The tutorials take the documentation above and beyond a reference for library usage and look nice overall. The code seems to be structured sensibly and it looks like the library is quite flexible/exte

[2019-04-05 21:44] tyarkoni commented on #1294
Thanks for the reminder! I think ~3 people haven't responded (am on phone and can't easily look). I guess despite my earlier reservations, it may be best to just go ahead without those folks. Maybe I'll try to track them down via email if I can find one, but assuming I don't hear back in the next day or two, should we stick to the standard opt-in approach?

[2019-04-05 21:46] ianhbell commented on #1147
Thanks @sjvrijn -- those were all great recommendations.  I have made all them and am ready for another look-see.  Some comments:

0) I wasn't entirely clear what you had in mind here, so I added ```To get started, you should check out the Jupyter notebooks in the notebooks folder; they demonstrate some of the capabilities of CEGO.```
1) The call to pyswarms doesn't satisfy the constraints since p

[2019-04-05 21:49] whedon opened #1365 "[PRE REVIEW]: hankel: A Python library for performing simple and accurate Hankel transformations"
**Submitting author:** @steven-murray (<a href="http://orcid.org/0000-0003-3059-3823">Steven Murray</a>)
**Repository:** <a href="https://github.com/steven-murray/hankel" target ="_blank">https://github.com/steven-murray/hankel</a>
**Version:** v0.3
**Editor:** @xuanxu
**Reviewers:** @melissawm

**Author instructions**

Thanks for submitting your paper to JOSS @steven-murray. **Currently, there is

[2019-04-05 21:50] whedon commented on #1365
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-05 21:50] whedon commented on #1365
[code]

[2019-04-05 21:50] whedon commented on #1365
PDF failed to compile for issue #1365 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1365 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedo

[2019-04-05 21:50] kyleniemeyer commented on #1365
Hi @xuanxu, the author suggested you as an editor for this submission. Can you take this on?

[2019-04-05 21:51] whedon opened #1366 "[PRE REVIEW]: Tradestatistics: Open Trade Statistics API Wrapper and Utility Program"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/ropensci/tradestatistics" target ="_blank">https://github.com/ropensci/tradestatistics</a>
**Version:** 0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @pachamaltese. **Currently, there

[2019-04-05 21:51] whedon commented on #1366
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-05 21:51] whedon commented on #1366
[code]

[2019-04-05 21:51] kyleniemeyer commented on #1366
@karthik looks like this is an rOpenSci-related submission. Can you edit?

[2019-04-05 21:52] whedon commented on #1366
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01366/joss.01366/10.21105.joss.01366.pdf)

[2019-04-05 21:52] whedon opened #1367 "[PRE REVIEW]: Multi-Attribute Decision task builder for online experiments"
**Submitting author:** @Yury-Shevchenko (<a href="http://orcid.org/0000-0002-3397-8465">Yury Shevchenko</a>)
**Repository:** <a href="https://github.com/Yury-Shevchenko/mad" target ="_blank">https://github.com/Yury-Shevchenko/mad</a>
**Version:** 1.0.0
**Editor:** @alexhanna
**Reviewers:** @u01ai11

**Author instructions**

Thanks for submitting your paper to JOSS @Yury-Shevchenko. **Currently, th

[2019-04-05 21:52] whedon commented on #1367
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-05 21:52] whedon commented on #1367
[code]

[2019-04-05 21:52] whedon commented on #1367
PDF failed to compile for issue #1367 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1367/paper.md): found character that cannot start any token while scanning for the next token at line 4 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:

[2019-04-05 21:52] kyleniemeyer commented on #1367
Hi @alexhanna, can you edit this submission?

[2019-04-05 22:20] poulson commented on #1230
@annoviko Please excuse the delay. I will pick this back up today!

[2019-04-05 22:30] DavideNardone commented on #1049
@whedon generate pdf

[2019-04-05 22:30] whedon commented on #1049
[code]

[2019-04-05 22:30] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2019-04-05 22:31] DavideNardone commented on #1049
This command does not work for me..

[2019-04-05 22:50] jedbrown commented on #1049
I looked at your repository and don't understand how you could have determined that it doesn't work.

[2019-04-05 22:57] DavideNardone commented on #1049
It doesn't work on Github preview. Anyway I am sick of your pinickness about everything and I want you to remove my software from your """journal""".

Thank you.

[2019-04-05 23:00] DavideNardone commented on #1049
It doesn't work on Github preview. Anyway I am sick of your fussiness about everything and I want you to remove my software from your """journal""".

[2019-04-05 23:14] jedbrown commented on #1049
1. Your repository does not contain a commit adding `{width=...}` to a figure. I don't know how you concluded that the syntax did not work without pushing it to the repo.
2. Formatting/style standards are a normal part of research publishing. JOSS does not have staff to do post-acceptance typesetting, thus editors/reviewers will point out those issues.
3. JOSS generally does not "reject" papers af

[2019-04-06 00:05] poulson commented on #1230
@whedon generate pdf

[2019-04-06 00:05] whedon commented on #1230
[code]

[2019-04-06 00:06] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-04-06 00:47] lheagy commented on #1136
@whedon check references

[2019-04-06 00:47] whedon commented on #1136
[code]

[2019-04-06 00:47] whedon commented on #1136
[code]

[2019-04-06 00:48] lheagy commented on #1136
@whedon generate pdf

[2019-04-06 00:48] whedon commented on #1136
[code]

[2019-04-06 00:49] whedon commented on #1136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01136/joss.01136/10.21105.joss.01136.pdf)

[2019-04-06 00:53] lheagy commented on #1136
Many thanks @flohorovicic for taking the time to review!!

@rbeucher: One clarifying question:

- [ ] Do you have a contributor guide or similar?  I did not see a doc in the repository or page in the documentation that satisfies the criteria

[2019-04-06 01:44] poulson commented on #1230
@annoviko Thank you for having spent the time to incorporate some of the suggestions.

The wording is honestly still quite rough, and, in many places, redundant.

I will provide more detailed comments.

Introduction
=========
You begin with:
"""
The exponential growth of data from sensors, devices, mobile networks, social media, and other data sources leads to an appearance of new disciplines such

[2019-04-06 01:53] poulson commented on #1230
I would recommend removing the entire next paragraph on oscillatory networks and moving the citations into the earlier references to the technique. I do not feel that the paragraph is elucidating enough of a review of the mechanism behind oscillatory neural networks to warrant inclusion.

For the final paragraph of the Summary: note that 'valgrind' has been misspelled as 'valgri'. With that said:

[2019-04-06 02:57] rbeucher commented on #1136
Hi @lheagy

I have instructions in the Readme

[2019-04-06 03:26] souopgui commented on #1237
@jedbrown I just checked those points based on the responses to my questions from the authors. I fully recommend the software.

[2019-04-06 03:44] jedbrown commented on #1237
@whedon check references

[2019-04-06 03:44] whedon commented on #1237
[code]

[2019-04-06 03:45] whedon commented on #1237
[code]

[2019-04-06 03:47] jedbrown commented on #1237
@grlee77 There is one citation `Stephan Mallat [@mallat2008wavelet]` that is "in-text" and should be written `Stephan Mallat [-@mallat2008wavelet]` or `@mallat2008wavelet`. See https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax for syntax. That's all I notice so I think we'll be ready to archive after that one minor fix.

[2019-04-06 09:47] arfon commented on #1366
@pachamaltese - could you please add a little more detail to your paper explaining what people might use this for, including any links to associated research? We have some guidelines in our documentation here: https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2019-04-06 15:21] matbesancon commented on #1278
@vissarion thanks for the discussion, I will adapt the paper to also include the signatures of `build_blp_model`

[2019-04-06 15:58] matbesancon commented on #1278
@whedon generate pdf from branch doc-joss

[2019-04-06 15:58] whedon commented on #1278
[code]

[2019-04-06 15:59] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-04-06 16:00] matbesancon commented on #1278
@whedon generate pdf from branch doc-joss

[2019-04-06 16:00] whedon commented on #1278
[code]

[2019-04-06 16:01] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-04-06 16:13] matbesancon commented on #1278
@whedon generate pdf from branch doc-joss

[2019-04-06 16:13] whedon commented on #1278
[code]

[2019-04-06 16:13] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-04-06 17:04] matbesancon commented on #1278
@whedon generate pdf

[2019-04-06 17:04] whedon commented on #1278
[code]

[2019-04-06 17:04] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-04-07 00:29] jason-neal commented on #1053
@whedon generate pdf

[2019-04-07 00:29] whedon commented on #1053
[code]

[2019-04-07 00:30] jason-neal commented on #1053
@labarba It is ready now and merged into master.

[2019-04-07 00:34] whedon commented on #1053
PDF failed to compile for issue #1053 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    360      0 --:--:-- --:--:-- --:--:--   369

[2019-04-07 10:05] homonecloco commented on #1337
The installation consists on downloading the jars. There is also an option to do it from Maven.

[2019-04-07 14:52] kyleniemeyer commented on #1043
@whedon accept deposit=true

[2019-04-07 14:52] whedon commented on #1043
[code]

[2019-04-07 14:52] whedon commented on #1043
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/608
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01043](https://doi.org/10.21105/joss.01043)
2. If everything looks go

[2019-04-07 14:56] kyleniemeyer commented on #1043
Congrats @lbenet on your article's publication in JOSS!

Thanks to @sriharikrishna and  @tobydriscoll for reviewing, and @jedbrown for editing.

[2019-04-07 14:56] #1043 closed

[2019-04-07 14:56] whedon commented on #1043
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01043/status.svg)](https://doi.org/10.21105/joss.01043)

**We need your help!**

Journal of Open Source Softwar

[2019-04-07 15:14] carterenyi commented on #1094
@whedon generate pdf

[2019-04-07 15:14] whedon commented on #1094
[code]

[2019-04-07 15:14] whedon commented on #1094
PDF failed to compile for issue #1094 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Aaron Carter-Ényì, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon/author.rb:57:in `e

[2019-04-07 15:15] carterenyi commented on #1094
@whedon generate pdf

[2019-04-07 15:15] whedon commented on #1094
[code]

[2019-04-07 15:16] whedon commented on #1094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01094/joss.01094/10.21105.joss.01094.pdf)

[2019-04-07 15:17] carterenyi commented on #1094
@Kevin-Mattheus-Moerman, @ybayle,

I've fixed the typos, are we good to go?

[2019-04-07 15:48] annoviko commented on #1230
Hello, @poulson
Thank you very much for detailed remarks related to the paper. I have update the paper in line with your comments.

About your question:

Each algorithm is implemented using Python and vast majority of algorithms are implemented using C++. If platform is not supported then Python implementation is used for processing, for example, for cluster analysis. If platform is supported, the

[2019-04-07 15:49] annoviko commented on #1230
@whedon generate pdf

[2019-04-07 15:49] whedon commented on #1230
[code]

[2019-04-07 15:49] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-04-07 16:38] alexhanna commented on #1367
Sure.

[2019-04-07 16:38] alexhanna commented on #1367
@whedon assign @alexhanna as editor

[2019-04-07 16:38] whedon commented on #1367
OK, the editor is @alexhanna

[2019-04-07 16:41] alexhanna commented on #1367
@Yury-Shevchenko can you suggest some possible reviewers for this piece? You can see the list of possible reviewers earlier in this thread.

Can you also ensure that your paper.md file is formatted correctly? Our build script seems to be failing. The paper.md format details are in the [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html).

[2019-04-07 16:56] cMadan commented on #1294
@tyarkoni, yes, that sounds like even more reason to stick with the standard opt-in approach. It would be  good to try and email those last few people in case they're not so active on GitHub. Let me know how it goes!

[2019-04-07 17:02] cMadan commented on #989
@ccurtis7, everything look good and I'm almost ready to accept. Can you mint a new release that includes the changes from the review process? I also need a DOI for an archived version of the code (i.e., from Zenodo or figshare).

[2019-04-07 17:15] ccurtis7 commented on #989
@cMadan, I have minted a new release, [v0.1-beta](https://github.com/ccurtis7/diff_classifier/releases/tag/v0.1-beta), and the DOI is 10.5281/zenodo.2631862

[2019-04-07 17:56] alexhanna commented on #1322
Thanks so much for the comprehensive comments, @briatte, and your responses @KateHyoung.

@andrewheiss have you had a chance to look through the submission?

[2019-04-07 18:30] Yury-Shevchenko commented on #1367
Dear @alexhanna , I've fixed formatting in the paper.md and paper.bib files, hope it will work now.
As a reviewer I would suggest @andytwoods based on the language (JavaScript) and the domain (psychology).

[2019-04-07 18:31] alexhanna commented on #1367
@whedon generate pdf

[2019-04-07 18:31] whedon commented on #1367
[code]

[2019-04-07 18:32] whedon commented on #1367
PDF failed to compile for issue #1367 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1367/paper.md): found character that cannot start any token while scanning for the next token at line 4 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:

[2019-04-07 18:33] alexhanna commented on #1367
Still not working. Ideas, @kyleniemeyer?

@andytwoods are you able to review this submission?

[2019-04-07 18:51] Yury-Shevchenko commented on #1367
@whedon generate pdf

[2019-04-07 18:51] whedon commented on #1367
[code]

[2019-04-07 18:51] kyleniemeyer commented on #1367
@Yury-Shevchenko I think the issue may be in the header of your `paper.md`. Could you modify the author and affiliation part to look like:
[code]

[2019-04-07 18:51] whedon commented on #1367
PDF failed to compile for issue #1367 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1367/paper.md): found character that cannot start any token while scanning for the next token at line 4 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:

[2019-04-07 18:55] Yury-Shevchenko commented on #1367
@whedon generate pdf

[2019-04-07 18:55] whedon commented on #1367
[code]

[2019-04-07 18:55] whedon commented on #1367
PDF failed to compile for issue #1367 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1367/paper.md): found character that cannot start any token while scanning for the next token at line 4 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:

[2019-04-07 19:00] kyleniemeyer commented on #1367
@Yury-Shevchenko I just submitted a second PR, which makes GitHub preview the paper.md file the way it does for the rest of our papers. Let's give that a shot—not exactly sure what the issue was.

[2019-04-07 19:01] kyleniemeyer commented on #1367
@whedon generate pdf

[2019-04-07 19:01] whedon commented on #1367
[code]

[2019-04-07 19:01] whedon commented on #1367
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01367/joss.01367/10.21105.joss.01367.pdf)

[2019-04-07 19:02] Yury-Shevchenko commented on #1367
@kyleniemeyer Thanks a lot,:)

[2019-04-07 19:03] kyleniemeyer commented on #1367
@Yury-Shevchenko @alexhanna success! It looks like there still might be some content things to fix regarding the figures, but at least it's compiling now.

[2019-04-07 19:06] Yury-Shevchenko commented on #1367
If I may, I'll fix the figures, and recompile the pdf.

[2019-04-07 19:17] Yury-Shevchenko commented on #1367
@whedon generate pdf

[2019-04-07 19:17] whedon commented on #1367
[code]

[2019-04-07 19:17] whedon commented on #1367
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01367/joss.01367/10.21105.joss.01367.pdf)

[2019-04-07 19:21] danielskatz commented on #1225
👋 @studywolf - How is the review going?  What's currently blocking you?

[2019-04-07 19:22] danielskatz commented on #1157
👋 @justinalsing - I think this is waiting on you at this point

[2019-04-07 19:24] danielskatz commented on #1157
👋 @taqtiqa-mark - I wonder if there are some more items in your review checklist that you can check off? This would help make clear what the blocking items are.

[2019-04-07 19:41] alexhanna commented on #1367
Excellent, thanks for your help, @kyleniemeyer.

[2019-04-07 19:51] kyleniemeyer commented on #1347
@RemiLehe has agreed to serve as a second reviewer, after disclosing a potential conflict of interest due to collaboration on another project (https://github.com/ECP-WarpX/WarpX)

[2019-04-07 19:54] kyleniemeyer commented on #1347
@whedon add @RemiLehe  as reviewer

[2019-04-07 19:54] whedon commented on #1347
OK, @RemiLehe  is now a reviewer

[2019-04-07 20:18] whedon opened #1368 "[PRE REVIEW]: Drifter-ML: Testing Machine Learning Algorithms"
**Submitting author:** @EricSchles (<a href="http://orcid.org/0000-0003-1160-366X">Eric Schles</a>)
**Repository:** <a href="https://github.com/EricSchles/drifter_ml" target ="_blank">https://github.com/EricSchles/drifter_ml</a>
**Version:** 0.18
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @EricSchles. **Currently, there isn't an JOS

[2019-04-07 20:18] whedon commented on #1368
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-07 20:18] whedon commented on #1368
[code]

[2019-04-07 20:18] whedon commented on #1368
PDF failed to compile for issue #1368 with the following error:

 Can't find any papers to compile :-(

[2019-04-07 20:18] whedon opened #1369 "[PRE REVIEW]: Atlas toolkit for Python"
**Submitting author:** @epeios-q37 (<a href="http://orcid.org/0000-0002-5928-236X">Claude Simon</a>)
**Repository:** <a href="http://github.com/epeios-q37/atlas-python" target ="_blank">http://github.com/epeios-q37/atlas-python</a>
**Version:** 0.7
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @epeios-q37. **Currently, there isn't an J

[2019-04-07 20:18] whedon commented on #1369
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-07 20:18] whedon commented on #1369
[code]

[2019-04-07 20:18] whedon commented on #1369
PDF failed to compile for issue #1369 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a1723d160bb6/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-a17

[2019-04-07 20:21] kyleniemeyer commented on #1369
Hi @epeios-q37, before we proceed with finding an editor for your submission, could you provide some justification as to how your software is research software? We have these overall requirements (among others):
 - The software should have an obvious research application
- The software should be a significant contribution to the available open source software that either enables some new research

[2019-04-07 20:22] kyleniemeyer commented on #1368
Hi @EricSchles, before we proceed, we need a paper associated with the submission. Please review our author guidelines: https://joss.readthedocs.io/en/latest/submitting.html

[2019-04-07 20:30] arokem commented on #1272
Yes. Please do merge the paper updates and the updates. I think that it would be better for the paper to represent a more up-to-date version of the software. Once you do that, I'll take another look at the rendered PDF to make sure that everything is in order. Then, I'll ask you to deposit an archive with the accepted version of the software and article, and then, we can move on to ask the EIC for

[2019-04-07 20:31] arokem commented on #1172
@whedon render pdf

[2019-04-07 21:03] lucydot commented on #1327
@wojciech-n I'll follow up on the review started a couple of weeks ago - let me know if you have any questions about my comments but please note I will be away on holiday with limited access to internet from 11/04-21/04  <--- This is also useful info for the editors @labarba @arfon.

### Documentation

- In the conclusion section of your paper you nicely summarise who the target audience is. JOSS

[2019-04-07 21:46] grlee77 commented on #1237
@whedon generate pdf

[2019-04-07 21:46] whedon commented on #1237
[code]

[2019-04-07 21:46] whedon commented on #1237
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01237/joss.01237/10.21105.joss.01237.pdf)

[2019-04-07 22:01] arokem commented on #1172
@whedon commands

[2019-04-07 22:01] whedon commented on #1172
Here are some things you can ask me to do:

[code]

[2019-04-07 22:01] arokem commented on #1172
@whedon generate pdf

[2019-04-07 22:01] whedon commented on #1172
[code]

[2019-04-07 22:02] whedon commented on #1172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01172/joss.01172/10.21105.joss.01172.pdf)

[2019-04-07 22:15] pachamaltese commented on #1366
@whedon commands

[2019-04-07 22:15] whedon commented on #1366
Here are some things you can ask me to do:

[code]

[2019-04-07 22:15] pachamaltese commented on #1366
@whedon generate pdf

[2019-04-07 22:15] whedon commented on #1366
[code]

[2019-04-07 22:16] whedon commented on #1366
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01366/joss.01366/10.21105.joss.01366.pdf)

[2019-04-07 22:17] pachamaltese commented on #1366
Dear @arfon
I added more descriptive text. It is my intention to write a short article for the R package and another article for the API/data curation methodology. What do you think?

[2019-04-07 23:35] grlee77 commented on #1237
Thanks @jedbrown. It looks like the suggested `[-@mallat2008wavelet]` fixed the issue.

[2019-04-08 00:48] jedbrown commented on #1237
Looks good, thanks. One more minor issue: please remove the last sentence (citing your old Zenodo archive). A link to the current Zenodo archive will be in the sidebar so the 2018 archive will just be confusing. After removing that sentence, go ahead and create a current archive and report the DOI here.

[2019-04-08 03:00] taqtiqa-mark commented on #1157
Checklist updated.
Blocking items (Given the last comment I'm assuming the MPI/parallel use cases are out of scope).

- Complete installation instructions (excl. MPI)

[2019-04-08 03:47] grlee77 commented on #1237
Okay, I can remove that sentence as well as the prior Zenodo reference from the .bib.

FYI, I was following the [example in the author guidelines](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) when I originally added that line. Perhaps the example should also remove that line if it is no longer recommended?

I think I will backport the `paper.md` and .bib to

[2019-04-08 03:51] andrewheiss commented on #1322
Hi! Yep, I've been traveling way too much and have had unreliable internet access, but I should be able to do the formal review tomorrow. Sorry for the delay!

[2019-04-08 04:13] jedbrown commented on #1237
Thanks for pointing out the source of that verbiage. I've created a PR: https://github.com/openjournals/joss/pull/520
Yes, tagging v1.0.3 would be perfect.

[2019-04-08 04:24] arokem commented on #1172
@lucask07 : I apologize for the delay here. As @brainstorm has given this the 👍 and @casteer seems to have disappeared, I am inclined to move ahead with your article. I have the following comments:

1. The authors in the bibliography sometimes don't make sense. For PyVISA, please ask the maintainers how to refer to the software (maybe they should publish in JOSS...). For the SCPI syntax and style

[2019-04-08 05:04] poulson commented on #1230
Thank you, Andrei (@annoviko)!

Would you mind creating a Zenodo DOI and sharing it here?

[2019-04-08 06:25] omoliavko commented on #1338
@arfon Could you please explain what steps we should take now that  @morganericsson has completed the checklist?

[2019-04-08 08:21] Kevin-Mattheus-Moerman commented on #1094
@whedon remove @gwynethbradbury as reviewer

[2019-04-08 08:21] whedon commented on #1094
OK, @gwynethbradbury is no longer a reviewer

[2019-04-08 08:26] sjvrijn commented on #1147
Glad you found them useful!

RE: 0., Based on https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines, your community guidelines explicitly covers the first two (contributions and reporting issues) but not yet the third: seeking support. A quick line on what they can do in that case would complete it for me. It could e.g. be raising an issue here on Github, sending you an e

[2019-04-08 08:26] Kevin-Mattheus-Moerman commented on #1094
@carterenyi would it be easy to add a basic script to automate these manual steps?

[2019-04-08 08:39] epeios-q37 commented on #1369
Hi @kyleniemeyer. Thank you for handling my submission.

Most of the research software have a command-line interface. With such an interface, a software is very handy, but not easy to use for someone who is not familiar with it, especially if the software has numerous parameters, which are set through command line arguments and/or configuration files. You often have to go deep into the documentati

[2019-04-08 08:46] Kevin-Mattheus-Moerman commented on #1094
@carterenyi some comments on the paper:

- [ ] "is brilliant" can you rephrase this more professionally? e.g. perhaps you mean to say something like: innovative and useful?
- [ ] Missing ) bracket in: "(now available in MATLAB Runtime[)], and ATAVizM (currently being developed in Python)"
- [ ] Should "C+" be written as "C++"?
- [ ] Are there any references/links (Zenodo, Github, website,...) for

[2019-04-08 08:57] oxinabox commented on #1013
@Kevin-Mattheus-Moerman  his this good to go now?
I am submitting my final corrected version of my thesis soon, and it would be nice to be able to switch this from "Under Review"  to "Published".

[2019-04-08 10:40] Kevin-Mattheus-Moerman commented on #1013
@oxinabox apologies for the delay. I'll get to this now.

[2019-04-08 10:45] Kevin-Mattheus-Moerman commented on #1013
@oxinabox looks good.

One minor thing. Currently it says "an long", this should be "a long". Also, since now you do not reuse the acronym LSTM, consider removing it all together, or if the acronym is used more often than the spelled out form use:  "LSTM (long short term memory)" rather than "long short term memory (LSTM)".

[2019-04-08 10:45] Kevin-Mattheus-Moerman commented on #1013
@whedon check references

[2019-04-08 10:45] whedon commented on #1013
[code]

[2019-04-08 10:46] whedon commented on #1013
[code]

[2019-04-08 11:38] gkthiruvathukal commented on #1338
@omoliavko I will await a response from @arfon or @kyleniemeyer. It looks like we are pretty close.

[2019-04-08 11:41] annoviko commented on #1230
Hello, Jack (@poulson) ,

There is already DOI for 0.8.2 release that is described in the paper: https://zenodo.org/record/1491324#.XKszIlUzaUk

[code]

[2019-04-08 11:45] hainesr commented on #1338
I'm aware that I need to complete my checklist too. I will endeavour to do so in the next couple of days.

[2019-04-08 11:54] gkthiruvathukal commented on #1338
Thanks @hainesr.  We will wait for your checklist.

[2019-04-08 13:02] Kevin-Mattheus-Moerman commented on #1013
@whedon generate pdf

[2019-04-08 13:02] whedon commented on #1013
[code]

[2019-04-08 13:02] whedon commented on #1013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01013/joss.01013/10.21105.joss.01013.pdf)

[2019-04-08 15:09] mviereck commented on #1349
@arfon Could you please have a look?

Three points:
 1. @yxliang01  has a question due to possible conflict of interest. See https://github.com/openjournals/joss-reviews/issues/1349#issuecomment-478289746.
 2. I am a private person. How should affiliations be handled? Compare point 2 of https://github.com/openjournals/joss-reviews/issues/1349#issuecomment-478293243
 3. I consider to move the proje

[2019-04-08 15:17] steven-murray commented on #1365
I am wondering if the PDF failed to compile because the paper.md is not on the master branch. Is there a way to point to an alternate branch, or must we point to the master branch?

[2019-04-08 15:21] kyleniemeyer commented on #1365
@whedon generate pdf from branch joss-paper

[2019-04-08 15:21] whedon commented on #1365
[code]

[2019-04-08 15:22] whedon commented on #1365
PDF failed to compile for issue #1365 with the following error:

 sh: 1: cd: can't cd to tmp/1365
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1365 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2019-04-08 15:23] steven-murray commented on #1365
@whedon commands

[2019-04-08 15:23] whedon commented on #1365
Here are some things you can ask me to do:

[code]

[2019-04-08 15:23] kyleniemeyer commented on #1365
Ahh, well I'm not sure why that didn't work. @arfon to the rescue?

[2019-04-08 16:48] kyleniemeyer commented on #1347
@whedon add @cmsquared as reviewer

[2019-04-08 16:48] whedon commented on #1347
OK, @cmsquared is now a reviewer

[2019-04-08 16:48] kyleniemeyer commented on #1347
OK @asalmgren we now have three reviewers, so I'll start the actual review process in a new issue.

[2019-04-08 16:49] kyleniemeyer commented on #1347
@whedon start review magic-word=bananas

[2019-04-08 16:49] whedon opened #1370 "[REVIEW]: AMReX: a framework for block-structured adaptive mesh refinement"
**Submitting author:** @asalmgren (<a href="http://orcid.org/0000-0003-2103-312X">Ann Almgren</a>)
**Repository:** <a href="https://github.com/AMReX-Codes/amrex" target ="_blank">https://github.com/AMReX-Codes/amrex</a>
**Version:** current master branch on github
**Editor:** @kyleniemeyer
**Reviewer:** @MatthewTurk, @RemiLehe , @cmsquared
**Archive:** <a href="https://doi.org/10.5281/zenodo.27547

[2019-04-08 16:49] whedon commented on #1347
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1370. Feel free to close this issue now!

[2019-04-08 16:49] whedon commented on #1370
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MatthewTurk, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-04-08 16:49] #1347 closed

[2019-04-08 16:49] whedon commented on #1370
[code]

[2019-04-08 16:49] kyleniemeyer commented on #1370
👋 @asalmgren @MatthewTurk @RemiLehe  @cmsquared

The actual review will take place in this issue; you can find the individual reviewer checklists above. Thanks!

[2019-04-08 16:51] whedon commented on #1370
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01370/joss.01370/10.21105.joss.01370.pdf)

[2019-04-08 16:53] asalmgren commented on #1370
Looks good.

On Mon, Apr 8, 2019 at 9:51 AM whedon <notifications@github.com> wrote:

[2019-04-08 17:49] ianhbell commented on #1147
Great, I added
[code]

[2019-04-08 18:22] carterenyi commented on #1094
@whedon generate pdf

On Mon, Apr 8, 2019 at 4:46 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-04-08 18:22] whedon commented on #1094
[code]

[2019-04-08 18:24] whedon commented on #1094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01094/joss.01094/10.21105.joss.01094.pdf)

[2019-04-08 18:26] marouenbg commented on #1363
@lpantano @wmegchel  @prasunanand
I thought that it can be cumbersome to go through all the dependencies with potentially no access to NVIDIA GPU, below I provide a code ocean capsule which is a container with all the dependencies cached. You can also have reproducible runs of an example.
https://codeocean.com/capsule/4395814/tree
I have that helps your assessment.

[2019-04-08 18:28] carterenyi commented on #1094
Hi @Kevin-Mattheus-Moerman,

Thanks for the suggested revisions and all your help through this process.

I have responded to all:
-revised wording as you suggested
-the check is basically is automated, the short CSV file and visualization
are the output of running the test file and the user can just briefly
compare it to those printed in the manual, I'm not sure how I would make it
more automated

[2019-04-08 18:47] cmsquared commented on #1370
Just to disclose a possible perceived COI:  In the last 4 years, I have been on published papers or meeting abstracts with Zhang, Almgren, Beckner, Bell, Friesen, Katz, Nonaka, and Zingale from the author list.  Most of this was for work we had done together either on astrophysics or utilizing/writing tools that were based on the predecessor of AMReX: BoxLib.  I do not feel this is an *actual* COI

[2019-04-08 19:52] andrewheiss commented on #1322
**UTDEventData** is a fantastic new package that provides easy access to [UT Dallas's event data server](http://eventdata.utdallas.edu/). This is an important package, given the complexities involved in pulling event data from half a dozen different sources, and I've already started to use it in my own research. The package is easy to install and use, and I only came across a few issues, noted bel

[2019-04-08 20:25] Kevin-Mattheus-Moerman commented on #1094
@ybayle If you can confirm the somewhat automated tests @carterenyi describes then this is sufficient. If so, are you able to tick the last box? Thanks!

[2019-04-08 20:34] jgostick commented on #1296
Hello all:  I have now merged everything onto master, bumped the version number to V1.1.0, and pushed official release to PyPI.  I have also enabled Zenodo, and received the following DOI for this release:  10.5281/zenodo.2633285

[2019-04-08 20:39] labarba commented on #1049
👋 @DavideNardone — I am the Associate Editor in Chief on rotation this week. I want to tell you that the volunteer team of editors and reviewers for JOSS dutifully works to improve the quality of the software submitted, and the communication about the software (via the paper and the documentation) to potential users. Some of the process is automated (like checking all DOIs of the references proper

[2019-04-08 20:40] jgostick commented on #1296
Hold the presses...there is a failing test that I thought we'd fixed, but stupidly forgot about.  Very sorry.  I will get back to you tomorrow with the truly corrected information.

[2019-04-08 20:54] andrewheiss commented on #1313
Sorry for the delay! Here's my review:

---

**ggparliament** is a fantastic new package that extends **ggplot2** with custom geometries for political data. It includes a dataset of a handful of parliamentary elections and provides an easy-to-use function for creating your own legislative data. The `geom_*()` and `theme_ggparliament()` functions it provides are well documented and easy to follow,

[2019-04-08 21:01] leouieda commented on #1315
@ixjlyons thank you for your review and suggestions :clap:

@sauln I see you've opened issues for the points raised by @ixjlyons (thank you for doing that). Please try to address these points, in particular the use of mutable defaults. This is a dangerous pitfall in Python that lead to extremely hard to catch bugs (I speak from experience).

[2019-04-08 21:02] leouieda commented on #1341
@harpolea thank you for your review!

[2019-04-08 21:03] leouieda commented on #1341
@whedon check references

[2019-04-08 21:03] whedon commented on #1341
[code]

[2019-04-08 21:03] whedon commented on #1341
[code]

[2019-04-08 21:05] whedon commented on #1341
[code]

[2019-04-08 21:05] whedon commented on #1341
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01341/joss.01341/10.21105.joss.01341.pdf)

[2019-04-08 21:06] sauln commented on #1315
@leouieda, will do. It'll probably take a week or two to finish up everything. I'll ping you once the changes have been made.

[2019-04-08 21:17] leouieda commented on #1341
@mancellin I have given the paper a final check and I'm happy to accept it for publication in JOSS :tada: :tada:

There a few steps that we need to take before publication. Please make a new release with any changes that can about after submission (if required) and archive a copy of the source code on Zenodo or figshare. Once that is done, please post the DOI of the archive here.

[2019-04-08 21:24] leouieda commented on #1342
:wave: Hi @kbenoit @trinker, just checking in on the progress of this review.

@trinker thank you for posting the issues on the repo :1st_place_medal:  I see that you edited the initial review comment to link to the issues. Please post these as a comment on this issue instead. Otherwise I don't get notifications and it's difficult to keep track of the review progress.

[2019-04-08 22:13] rljacobson commented on #1204
@cMadan @mfroeling Very sorry for the delay. I have been away from GitHub and did not see this notification for some reason. I will review it by tomorrow evening if not sooner.

[2019-04-08 23:10] trinker commented on #1342
Will do.  Makes sense on the notifications.  This might be better clarified in the review process as it says:

Maybe jsut add the phrase "as a reply" in the thread below.

[2019-04-08 23:38] alkirkby commented on #1358
Hi @JKutt, Fei tells me that the print statements issue was resolved, are you able to specify where in MTPy you're encountering these issues?

[2019-04-08 23:55] cMadan commented on #989
@whedon set v0.1-beta as version

[2019-04-08 23:55] whedon commented on #989
OK. v0.1-beta is the version.

[2019-04-08 23:56] cMadan commented on #989
@whedon set 10.5281/zenodo.2631862 as archive

[2019-04-08 23:56] whedon commented on #989
OK. <a href="https://doi.org/10.5281/zenodo.2631862" target="_blank">10.5281/zenodo.2631862</a> is the archive.

[2019-04-08 23:56] cMadan commented on #989
@whedon accept

[2019-04-08 23:56] whedon commented on #989
[code]

[2019-04-08 23:57] whedon commented on #989
PDF failed to compile for issue #989 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    233      0 --:--:-- --:--:-- --:--:--   236
Error producing PD

[2019-04-08 23:58] whedon commented on #989
[code]

[2019-04-09 00:01] cMadan commented on #989
@ccurtis7, it looks like a recent change broke the paper.md (or bib)

[2019-04-09 00:04] cMadan commented on #1313
@andrewheiss, thank you for the well-written and comprehensive review, I really appreciate it!

@zmeers, let me know when you've had a chance to incorporate these suggestions and the review will continue from there :).

[2019-04-09 00:04] cMadan commented on #1204
@rljacobson, thank you for the update, it's much appreciated!

[2019-04-09 00:41] studywolf commented on #1225
Was able to check off a few more, mostly available time is blocking me. I had one remaining issue on the repo (and just raised another), should I not be waiting for them to be resolved before checking off the corresponding box?

[2019-04-09 00:41] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 00:41] whedon commented on #939
[code]

[2019-04-09 00:42] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    388      0 --:--:-- --:--:-- --:--:--   395
Error producing PD

[2019-04-09 01:09] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:09] whedon commented on #939
[code]

[2019-04-09 01:10] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    251      0 --:--:-- --:--:-- --:--:--   253
Error producing PD

[2019-04-09 01:12] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:12] whedon commented on #939
[code]

[2019-04-09 01:12] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 01:16] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:16] whedon commented on #939
[code]

[2019-04-09 01:17] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    164      0 --:--:-- --:--:-- --:--:--   166
pandoc-citeproc: r

[2019-04-09 01:19] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:19] whedon commented on #939
[code]

[2019-04-09 01:19] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    349      0 --:--:-- --:--:-- --:--:--   354
Error producing PD

[2019-04-09 01:28] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:28] whedon commented on #939
[code]

[2019-04-09 01:29] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 01:30] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:30] whedon commented on #939
[code]

[2019-04-09 01:31] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 01:32] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:32] whedon commented on #939
[code]

[2019-04-09 01:33] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    179      0 --:--:-- --:--:-- --:--:--   180
Error producing PD

[2019-04-09 01:35] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:36] whedon commented on #939
[code]

[2019-04-09 01:36] whedon commented on #939
PDF failed to compile for issue #939 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    299      0 --:--:-- --:--:-- --:--:--   303
Error producing PD

[2019-04-09 01:43] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 01:43] whedon commented on #939
[code]

[2019-04-09 01:44] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 02:09] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 02:09] whedon commented on #939
[code]

[2019-04-09 02:09] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 02:17] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 02:17] whedon commented on #939
[code]

[2019-04-09 02:18] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 02:26] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 02:26] whedon commented on #939
[code]

[2019-04-09 02:27] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 02:40] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 02:40] whedon commented on #939
[code]

[2019-04-09 02:41] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 02:43] ccurtis7 commented on #939
@whedon generate pdf

[2019-04-09 02:43] whedon commented on #939
[code]

[2019-04-09 02:43] whedon commented on #939
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00939/joss.00939/10.21105.joss.00939.pdf)

[2019-04-09 02:47] ccurtis7 commented on #989
@whedon generate pdf

[2019-04-09 02:47] whedon commented on #989
[code]

[2019-04-09 02:48] whedon commented on #989
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00989/joss.00989/10.21105.joss.00989.pdf)

[2019-04-09 02:50] ccurtis7 commented on #989
Hmmm, it appears that whedon has changed how it treats Latex characters in the title. Previously, I had to type `diff\_classifier` for it to render correctly, but now I no longer have to warn it with a `\`. I can just type `diff_classifier`. I have updated the file in my master branch accordingly.

Do I have to generate another release, or is the `paper.md` file in the master branch OK @cMadan?

[2019-04-09 04:52] rbeucher commented on #1136
Is it OK @lheagy ?
I have noticed a typo in the paper title...
@whedon generate pdf

[2019-04-09 04:53] rbeucher commented on #1136
@whedon generate pdf

[2019-04-09 04:53] whedon commented on #1136
[code]

[2019-04-09 04:53] whedon commented on #1136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01136/joss.01136/10.21105.joss.01136.pdf)

[2019-04-09 07:47] Kevin-Mattheus-Moerman commented on #1013
Great. Thanks @oxinabox. At this point can you provide a DOI to an archived version of the final reviewed software through a service like [ZENODO](https://zenodo.org/) (some find [these steps](https://guides.github.com/activities/citable-code/) useful)? Once you've done that can you provide the version tag of the final version of the reviewed software?

[2019-04-09 07:50] Kevin-Mattheus-Moerman commented on #1012
@whedon remove @NikEfth as reviewer

[2019-04-09 07:50] whedon commented on #1012
OK, @NikEfth is no longer a reviewer

[2019-04-09 07:51] Kevin-Mattheus-Moerman commented on #1012
@whedon check references

[2019-04-09 07:51] whedon commented on #1012
[code]

[2019-04-09 07:52] whedon commented on #1012
[code]

[2019-04-09 07:52] Kevin-Mattheus-Moerman commented on #1292
@whedon check references

[2019-04-09 07:52] whedon commented on #1292
[code]

[2019-04-09 07:52] whedon commented on #1292
[code]

[2019-04-09 07:52] Kevin-Mattheus-Moerman commented on #1012
@whedon generate pdf

[2019-04-09 07:52] whedon commented on #1012
[code]

[2019-04-09 07:53] whedon commented on #1012
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01012/joss.01012/10.21105.joss.01012.pdf)

[2019-04-09 07:54] Kevin-Mattheus-Moerman commented on #1292
@chrisrichardson thanks again for agreeing to review this work. Can you summarize where we stand at this point? What should @sebastkm be working on? If you have opened issues on the project repository can you link to them here? Thanks!

[2019-04-09 08:02] Kevin-Mattheus-Moerman commented on #1012
@arfon do you know why the references are not listed for this paper?

[2019-04-09 08:03] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer :point_up:

[2019-04-09 08:05] Kevin-Mattheus-Moerman commented on #941
@whedon set 10.5281/zenodo.2609228 as archive

[2019-04-09 08:05] whedon commented on #941
OK. <a href="https://doi.org/10.5281/zenodo.2609228" target="_blank">10.5281/zenodo.2609228</a> is the archive.

[2019-04-09 08:06] Kevin-Mattheus-Moerman commented on #941
@whedon set 0.5.6. as version

[2019-04-09 08:06] whedon commented on #941
OK. 0.5.6. is the version.

[2019-04-09 08:07] whedon commented on #941
I'm sorry @Kevin-Mattheus-Moerman, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-04-09 08:07] Kevin-Mattheus-Moerman commented on #941
@whedon accept

[2019-04-09 08:07] whedon commented on #941
[code]

[2019-04-09 08:07] whedon commented on #941
[code]

[2019-04-09 08:08] whedon commented on #941
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/609

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/609, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-09 08:09] Kevin-Mattheus-Moerman commented on #941
@openjournals/joss-eics I recommend this submission is accepted

[2019-04-09 08:11] Kevin-Mattheus-Moerman commented on #1291
@trallard, @piermorel can you update me on progress or resume review at this point? Thanks!

[2019-04-09 08:14] trallard commented on #1291
Hi @Kevin-Mattheus-Moerman  I was ooo until yesterday so I will do my best to catch-up with this in the next couple of days

[2019-04-09 08:14] Kevin-Mattheus-Moerman commented on #1262
Thanks @r-barnes for your review work and detailed comments!

[2019-04-09 08:20] Kevin-Mattheus-Moerman commented on #1262
Thanks @patrikhuber also for your comments here!

[2019-04-09 08:20] Kevin-Mattheus-Moerman commented on #1262
@ybayle can you formulate a detailed reply to the above comments?

[2019-04-09 08:23] Kevin-Mattheus-Moerman commented on #1356
@poulson can you please also contribute your side of the review? Thanks!

[2019-04-09 08:25] Kevin-Mattheus-Moerman commented on #922
@mandar2812 hope you are doing well on your PhD. Any thoughts on when to resume the review of this submission?

[2019-04-09 09:00] mancellin commented on #1341
Thank you @leouieda, @harpolea and @mikaem!

I've read the paper once more and found a small typo in the bibliography. I have pushed a correction.

The DOI of the latest archive is 10.5281/zenodo.2633744

[2019-04-09 09:45] oxinabox commented on #1013
Thanks:
DOI:  10.5281/zenodo.2633789
Version: 0.3.1

[2019-04-09 12:07] arfon commented on #791
Friendly reminder that we’re waiting on your input here @boshek :smile:

[2019-04-09 12:09] arfon commented on #1087
@nproellochs - could you give us an update on your progress?

[2019-04-09 13:13] DavideNardone commented on #1049
Hello there,

I think the work I've done is more than enough for this journal. If you don't think so then I will not agree on doing any other work and therefore it's better to proceed with a withdraw.

Sincerely,
DN

[2019-04-09 15:17] labarba commented on #1049
@DavideNardone, it sounds like you feel like you are working _for_ the journal, when in fact it's the journal (and its volunteers) that is working for you. It's a bit sad, but we also care about looking after our collegial community, and your demand to accept your terms is incompatible with our ethos.

[2019-04-09 15:18] labarba commented on #1049
To our reviewers, @krischer and @karlrupp, a heartfelt thank you for the time invested in this review, and for choosing to be a part of our community. We couldn't do it without you! 🙏

[2019-04-09 15:29] jhill1 commented on #1112
@whedon generate pdf

[2019-04-09 15:31] jedbrown commented on #1237
@grlee77 Could you please update the Zenodo archive's author list to match the paper?

[2019-04-09 15:47] grlee77 commented on #1237
There are six contributors who had an order of magnitude more commits and LOC than others and I was able to contact and get an affirmative response for authorship from 5 of the 6, so those are the ones I had listed for the JOSS publication. I was not able to get a response from Holger Nahrstaedt and so mentioned him and the other contributors in the acknowledgements instead.

Oddly, it seems that

[2019-04-09 15:47] grlee77 commented on #1237
@rgommers: please see the prior comment on authorship. I'm curious if you have any idea why Kai's contributions are no longer visible?

[2019-04-09 16:01] rgommers commented on #1237
No idea, that's very odd. If it's not a short glitch on GitHub's part, then it's worth opening a support issue about that I think.

[2019-04-09 16:06] rgommers commented on #1237
It's not a big deal but for the record: I don't really like this. Paper author do not have to match software authors as a rule; there are authors who choose not to participate, or who can't be reached for permission to put their name on the paper. Manually removing one of our major contributors from Zenodo only for v1.0.3 doesn't feel quite right.

[2019-04-09 16:11] jedbrown commented on #1237
:point_up: Cc: @openjournals/joss-eics

[2019-04-09 16:11] grlee77 commented on #1237
I would also prefer to be more inclusive rather than less on Zenodo. @jedbrown, did you raise the issue because Kai wasn't listed there but was in the paper author list or does it need to be a 1:1 match?

[2019-04-09 16:16] Kevin-Mattheus-Moerman commented on #1013
@whedon set 10.5281/zenodo.2633789 as archive

[2019-04-09 16:16] whedon commented on #1013
OK. <a href="https://doi.org/10.5281/zenodo.2633789" target="_blank">10.5281/zenodo.2633789</a> is the archive.

[2019-04-09 16:17] jedbrown commented on #1237
We normally ask for those lists to match. Note that JOSS reviews actually review the software, not just the paper. It sounds like there may be extenuating circumstances in this case. https://joss.readthedocs.io/en/latest/editing.html#after-acceptance

[2019-04-09 16:17] Kevin-Mattheus-Moerman commented on #1013
@whedon set 0.3.1 as version

[2019-04-09 16:17] whedon commented on #1013
OK. 0.3.1 is the version.

[2019-04-09 16:19] Kevin-Mattheus-Moerman commented on #1013
@openjournals/joss-eics I recommend this work is accepted in JOSS

[2019-04-09 16:30] rgommers commented on #1237
okay thanks @jedbrown, then I suggest we add back our one major contributor who is not on the paper.

[2019-04-09 16:35] boshek commented on #791
@arfon. Sorry this got missed on the last reminder for some reason. I will allot some time towards this.

[2019-04-09 16:35] rgommers commented on #1237
That doesn't really matter for who ends up being a paper author I would say. A JOSS paper is still a real academic paper with affiliations in it, so we can't just put people on that don't respond or don't want to be listed (I understand a match is desirable of course)

[2019-04-09 16:40] grlee77 commented on #1237
Pending any further feedback here, I added Holger (but not the full list of minor contributors) back to the author list for v1.0.3 on Zenodo for now. The first 5 authors listed there match the JOSS publication.

[2019-04-09 16:59] mistrm82 commented on #1344
Apologies for the delay, I should have this complete by tomorrow

[2019-04-09 18:02] cMadan commented on #989
@ccurtis7, yes, I know you previously had the `\`, but you're right that this functionality has changed now. `whedon` is it's own software package that's being improved over time, so I suppose these things can happen. There's no need to generate a new release for this.

[2019-04-09 18:02] cMadan commented on #989
@whedon accept

[2019-04-09 18:02] whedon commented on #989
[code]

[2019-04-09 18:03] whedon commented on #989
[code]

[2019-04-09 18:03] whedon commented on #989
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/610

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/610, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-09 18:06] cMadan commented on #989
@openjournals/joss-eics, I think we're all set to accept here!

[2019-04-09 18:21] leouieda commented on #1341
@whedon generate pdf

[2019-04-09 18:21] whedon commented on #1341
[code]

[2019-04-09 18:21] whedon commented on #1341
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01341/joss.01341/10.21105.joss.01341.pdf)

[2019-04-09 18:22] leouieda commented on #1341
@mancellin thanks for catching that!

[2019-04-09 18:24] leouieda commented on #1341
@whedon set v1.0.1 as version

[2019-04-09 18:24] whedon commented on #1341
OK. v1.0.1 is the version.

[2019-04-09 18:24] leouieda commented on #1341
@whedon set 10.5281/zenodo.2633744 as archive

[2019-04-09 18:24] whedon commented on #1341
OK. <a href="https://doi.org/10.5281/zenodo.2633744" target="_blank">10.5281/zenodo.2633744</a> is the archive.

[2019-04-09 18:26] leouieda commented on #1341
:wave: @openjournals/joss-eics this submission is ready to be accepted

[2019-04-09 20:35] labarba commented on #1237
JOSS assumes that the author list of the paper includes all major contributors. The paper is, after all, a _software paper_. As we state in the JOSS guidelines, it is up to the authors themselves to determine who should be credited with authorship. But you are right that authors should agree to be listed.

Zenodo grabs the author list automatically from all commits to the repo, and this usually bl

[2019-04-09 21:01] labarba commented on #989
@ccurtis7 — Since we will have the Zenodo archive DOI on the front page of the paper, as part of the metadata shown in the margin note, we don't include a citation to it or mention it in the paper. Can you delete that?

And while you're at it, please edit:
- "principle component analysis" >> principal
- add comms after "e.g."

[2019-04-09 21:10] labarba commented on #941
@stenskjaer — Since we will have the Zenodo archive DOI on the front page of the paper, as part of the metadata shown in the margin note, we don't include a citation to it or mention it in the paper. Can you delete that?

[2019-04-09 21:13] ccurtis7 commented on #989
@whedon generate pdf

[2019-04-09 21:14] whedon commented on #989
[code]

[2019-04-09 21:14] whedon commented on #989
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00989/joss.00989/10.21105.joss.00989.pdf)

[2019-04-09 21:15] ccurtis7 commented on #989
I have made the requested changes @labarba, thank you.

[2019-04-09 21:57] poulson commented on #1230
Thank you, @annoviko !

[2019-04-09 21:57] poulson commented on #1230
@whedon set 10.5281/zenodo.1491324 as archive

[2019-04-09 21:57] whedon commented on #1230
OK. <a href="https://doi.org/10.5281/zenodo.1491324" target="_blank">10.5281/zenodo.1491324</a> is the archive.

[2019-04-09 21:57] poulson commented on #1230
@whedon set 0.8.2 as version

[2019-04-09 21:57] whedon commented on #1230
OK. 0.8.2 is the version.

[2019-04-09 21:59] poulson commented on #1230
The paper is ready to be accepted! @openjournals/joss-eics

[2019-04-09 22:58] grlee77 commented on #1237
@kwohlfahrt: If you would like to restore your commits to the contributors page again for PyWavelets, you will probably have to reach out to GitHub support. I got the following response from GitHub Support regarding their disappearance:

[2019-04-09 23:05] jedbrown commented on #1237
:point_up: Does GitHub not support `.mailmap` files (https://github.com/git/git/blob/master/.mailmap)?

[2019-04-10 00:00] labarba commented on #989
@whedon accept

[2019-04-10 00:00] whedon commented on #989
[code]

[2019-04-10 00:01] whedon commented on #989
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/611

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/611, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-10 00:01] whedon commented on #989
[code]

[2019-04-10 00:02] labarba commented on #989
@whedon accept deposit=true

[2019-04-10 00:02] whedon commented on #989
[code]

[2019-04-10 00:03] whedon commented on #989
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/612
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00989](https://doi.org/10.21105/joss.00989)
2. If everything looks go

[2019-04-10 00:05] labarba commented on #989
Congratulations, @ccurtis7, your JOSS paper is published!

Sincere thanks to the editor: @cMadan, and reviewer: @stsievert — Merci, gracias, danke 🙏

[2019-04-10 00:05] #989 closed

[2019-04-10 00:05] whedon commented on #989
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00989/status.svg)](https://doi.org/10.21105/joss.00989)

**We need your help!**

Journal of Open Source Softwar