[2022-01-20 18:26] pdebuyl commented on #3755
@whedon add @cescalara as reviewer

[2022-01-20 18:26] whedon commented on #3755
OK, @cescalara is now a reviewer

[2022-01-20 18:27] pdebuyl commented on #3755
@whedon start review

[2022-01-20 18:27] whedon opened #4077 "[REVIEW]: QuasinormalModes.jl: A Julia package for computing1 discrete eigenvalues of second order ODEs"
**Submitting author:** @lucass-carneiro (<a href="http://orcid.org/0000-0001-6764-1812">Lucas Timotheo Sanches</a>)
**Repository:** https://github.com/lucass-carneiro/QuasinormalModes.jl/
**Branch with paper.md** (empty if default branch): master
**Version:** v1.1.0
**Editor:** @pdebuyl
**Reviewers:** @JamieBamber, @cescalara
**Archive:**  10.5281/zenodo.6478503

**:warning: JOSS reduced service m

[2022-01-20 18:27] whedon commented on #3755
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4077.

[2022-01-20 18:27] #3755 closed

[2022-01-20 18:27] whedon commented on #4077
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JamieBamber, @cescalara it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2022-01-20 18:27] whedon commented on #4077
[code]

[2022-01-20 18:27] whedon commented on #4077
PDF failed to compile for issue #4077 with the following error:
[code]

[2022-01-20 18:29] pdebuyl commented on #4077
@whedon generate pdf from branch paper

[2022-01-20 18:29] whedon commented on #4077
[code]

[2022-01-20 18:30] whedon commented on #4077
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04077/joss.04077/10.21105.joss.04077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04077/joss.04077/10.21105.joss.04077.pdf) :page_facing_up: :point_left:

[2022-01-20 18:54] whedon commented on #4036
:wave: @cmaimone, please update us on how your review is going (this is an automated reminder).

[2022-01-20 18:54] whedon commented on #4036
:wave: @kbenoit, please update us on how your review is going (this is an automated reminder).

[2022-01-20 19:18] christinahedges commented on #3922
@whedon add @biletubes as reviewer

[2022-01-20 19:18] whedon commented on #3922
OK, @biletubes is now a reviewer

[2022-01-20 19:19] christinahedges commented on #3922
@whedon assign @pmli as reviewer

[2022-01-20 19:19] whedon commented on #3922
OK, @pmli is now a reviewer

[2022-01-20 19:20] christinahedges commented on #3922
@whedon add @billtubbs as reviewer

[2022-01-20 19:20] whedon commented on #3922
OK, @billtubbs is now a reviewer

[2022-01-20 19:22] christinahedges commented on #3922
Hi @florisvb I was able to find our second reviewer who has experience in running this tool. Thanks so much @pmli and @billtubbs for joining us! I'll be kicking off the review now, which will start a new issue with a new number. You'll get a notification for the review issue, please join me over there and there will be further instructions!

[2022-01-20 19:22] christinahedges commented on #3922
@whedon start review

[2022-01-20 19:22] whedon opened #4078 "[REVIEW]: PyNumDiff: A Python package for numerical differentiation of noisy time-series data"
**Submitting author:** @florisvb (<a href="http://orcid.org/0000-0001-6538-7179">Floris van Breugel</a>)
**Repository:** https://github.com/florisvb/PyNumDiff
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.2.4
**Editor:** @christinahedges
**Reviewers:** @pmli, @billtubbs
**Archive:** 10.5281/zenodo.6374098

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2022-01-20 19:23] whedon commented on #3922
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4078.

[2022-01-20 19:23] #3922 closed

[2022-01-20 19:23] whedon commented on #4078
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pmli, @billtubbs it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2022-01-20 19:23] whedon commented on #4078
Wordcount for `paper.md` is 799

[2022-01-20 19:23] whedon commented on #4078
[code]

[2022-01-20 19:23] whedon commented on #4078
[code]

[2022-01-20 19:23] whedon commented on #4078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04078/joss.04078/10.21105.joss.04078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04078/joss.04078/10.21105.joss.04078.pdf) :page_facing_up: :point_left:

[2022-01-20 19:27] JackTyson commented on #4023
Hi @diehlpk, yes, this area sits within my expertise and I would be happy to review.

[2022-01-20 19:27] christinahedges commented on #4078
@florisvb, @pmli , @billtubbs – This is the review thread for the PyNumDiff paper. Please don't hesitate to message me here if you have questions (use @christinahedges). ✉️

Please read the "Reviewer instructions & questions" in the first comment above to get started. If you get lost, you can also see the reviewer guidelines.

Both reviewers have checklists at the top of this thread (in that first

[2022-01-20 19:31] jingnanshi commented on #3884
Hi @gkthiruvathukal , sorry for the delay --- I didn't set a deadline so it slipped past me. I will try to get it done this weekend. Let me know if that's fast enough. Thanks!

[2022-01-20 19:38] diehlpk commented on #4023
@whedon add @JackTyson as reviewer

[2022-01-20 19:38] whedon commented on #4023
OK, @JackTyson is now a reviewer

[2022-01-20 19:44] mikldk commented on #3941
@mbhall88 You don't have to merge the `joss_paper` branch into the `main` branch. It's up to you. Please let me know once you have made a release that is accessible at e.g. Zenodo.

[2022-01-20 19:46] alvesjnr commented on #4023
Hi,

I would be happy to review.

On Thu, Jan 20, 2022, 17:29 Patrick Diehl ***@***.***> wrote:

[2022-01-20 21:03] vishwas1984 commented on #3766
@eviatarbach
Thanks for the detailed comments. I have used BFG as suggested to remove the blobs and the size of the repo after blob deletion is 8.27 MB (from this site https://citizendot.github.io/gh-info/). Thanks a lot for the suggestion.

Notebooks:
I have added a toy example for demonstrating 3D case in the notebook and for this problem the memory requirements are much lesser. I have left the

[2022-01-20 21:04] melissawm commented on #3915
Hello @GuillaumeDerval! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-20 21:05] nmoran commented on #3711
@whedon generate pdf from branch joss-paper

[2022-01-20 21:06] whedon commented on #3711
[code]

[2022-01-20 21:06] whedon commented on #3711
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: :point_left:

[2022-01-20 21:06] lootie commented on #3766
@eviatarbach Thank you for your detailed comments. I have made the changes to the paper that you've suggested, and have recompiled the paper. Additional comments below.

Documentation

Checklist items
A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?

Automated tests: Are there automated tests or manual steps described

[2022-01-20 21:10] nmoran commented on #3711
@obliviateandsurrender thanks for positively reviewing the updates and spotting the issue with the reference (fixed now).

[2022-01-20 21:37] GuillaumeDerval commented on #3915
I can spend some time to review this next week :-)

[2022-01-20 21:43] danielskatz commented on #4058
👋 @dionhaefner & @AustinTSchaffer - It looks like you are currently reviewing JOSS submissions, but in case one of you is able to take on one more, please let me know if you can review this one.

[2022-01-20 21:46] dionhaefner commented on #4058
Sorry, my pipeline is full at the moment.

[2022-01-20 22:21] rkurchin commented on #3935
Emailed two more of the options from the suggestions I got...

[2022-01-20 22:22] rkurchin commented on #4040
👋 @wcwitt, just checking in whether you've been able to start your review yet!

[2022-01-20 22:30] wcwitt commented on #4040
I haven't, apologies, but I will ASAP.

On Thu, Jan 20, 2022 at 10:23 PM Rachel Kurchin ***@***.***>
wrote:

[2022-01-20 23:15] jmp75 commented on #4039
@crvernon I am dragging the chain a bit, apologies. I'll allocate solid time over the coming two days.

[2022-01-21 00:06] AustinTSchaffer commented on #4058
I have 2 others, but seeing that this one is Python, I'd love to.

On Thu, Jan 20, 2022, 4:47 PM Dion Häfner ***@***.***> wrote:

[2022-01-21 00:17] danielskatz commented on #4058
Thanks very much @AustinTSchaffer - I'll add you and we'll get started

[2022-01-21 00:17] danielskatz commented on #4058
@whedon add @AustinTSchaffer as reviewer

[2022-01-21 00:17] whedon commented on #4058
OK, @AustinTSchaffer is now a reviewer

[2022-01-21 00:17] danielskatz commented on #4058
@whedon start review

[2022-01-21 00:18] whedon opened #4079 "[REVIEW]: SEEDPOD Ground Risk: A Python application and library for Uncrewed Aerial Systems ground risk analysis and risk-aware path finding"
**Submitting author:** @aliaksei135 (<a href="http://orcid.org/0000-0003-0023-0300">Aliaksei Pilko</a>)
**Repository:** https://github.com/aliaksei135/seedpod_ground_risk/
**Branch with paper.md** (empty if default branch):
**Version:** v0.15.1
**Editor:** @danielskatz
**Reviewers:** @kylebeggs, @AustinTSchaffer
**Archive:** 10.5281/zenodo.6363635

**:warning: JOSS reduced service mode :warning:**

[2022-01-21 00:18] whedon commented on #4058
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4079.

[2022-01-21 00:18] #4058 closed

[2022-01-21 00:18] whedon commented on #4079
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kylebeggs, @AustinTSchaffer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2022-01-21 00:18] whedon commented on #4079
Wordcount for `paper.md` is 713

[2022-01-21 00:18] whedon commented on #4079
[code]

[2022-01-21 00:18] whedon commented on #4079
[code]

[2022-01-21 00:18] whedon commented on #4079
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04079/joss.04079/10.21105.joss.04079.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04079/joss.04079/10.21105.joss.04079.pdf) :page_facing_up: :point_left:

[2022-01-21 00:19] danielskatz commented on #4079
@kylebeggs and @AustinTSchaffer - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guide

[2022-01-21 00:44] mbarall commented on #3658
@kbarnhart I am satisfied with the changes.  I recommend that you accept pyCSEP for publication.

[2022-01-21 00:44] whedon commented on #4038
:wave: @aaronpeikert, please update us on how your review is going (this is an automated reminder).

[2022-01-21 00:44] whedon commented on #4038
:wave: @wincowgerDEV, please update us on how your review is going (this is an automated reminder).

[2022-01-21 00:53] wincowgerDEV commented on #4038
I have submitted several issues to the repo I am reviewing and currently cannot get the software running on my machine so that is preventing me from progressing on my review but hopefully that will be remedied soon.

[2022-01-21 01:38] emilydolson commented on #3948
I'm satisfied that all items on the review checklist are complete!

[2022-01-21 01:53] malmaud commented on #3937
I completed my review and recommend acceptance.

* This package is using all the latest best-practices for Julia packages (eg the Project.toml dependency system, CI based on Github actions, modular code organization under the `src` directory).
* The documentation is thorough.
* I was able to locally install the package and run the unit tests without error.
* As far as I know, there is no other nat

[2022-01-21 03:56] Assistedevolution commented on #3944
I am happy to review this..

Can you point me a quick overview of your Github based review process?

[2022-01-21 07:10] jmschrei commented on #3944
Great! I'll get the process started. That'll create a new issue with instructions.

[2022-01-21 07:11] jmschrei commented on #3944
@whedon add @Assistedevolution as reviewer

[2022-01-21 07:11] whedon commented on #3944
OK, @Assistedevolution is now a reviewer

[2022-01-21 07:11] jmschrei commented on #3944
@whedon start review

[2022-01-21 07:11] whedon opened #4080 "[REVIEW]: Rainbow: Automated Air-Liquid Interface Cell Culture Analysis Using Deep Optical Flow"
**Submitting author:** @AlphonsG (<a href="http://orcid.org/0000-0002-9607-2839">Alphons Gwatimba</a>)
**Repository:** https://github.com/AlphonsG/Rainbow-Optical-Flow-For-ALI
**Branch with paper.md** (empty if default branch): main
**Version:** v0.1.0
**Editor:** @jmschrei
**Reviewers:** @tpeulen, @Assistedevolution
**Archive:** 10.5281/zenodo.6355080

**:warning: JOSS reduced service mode :warni

[2022-01-21 07:11] whedon commented on #3944
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4080.

[2022-01-21 07:11] #3944 closed

[2022-01-21 07:11] whedon commented on #4080
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tpeulen, @Assistedevolution it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2022-01-21 07:12] whedon commented on #4080
Wordcount for `paper.md` is 1005

[2022-01-21 07:12] whedon commented on #4080
[code]

[2022-01-21 07:12] whedon commented on #4080
[code]

[2022-01-21 07:13] jmschrei commented on #4080
Howdy @tpeulen and @Assistedevolution

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above in the checklist from @whedon. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues in the repository itself to point out issues you encounter. Keep in mind that our aim is to improve the submission t

[2022-01-21 07:13] whedon commented on #4080
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04080/joss.04080/10.21105.joss.04080.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04080/joss.04080/10.21105.joss.04080.pdf) :page_facing_up: :point_left:

[2022-01-21 08:44] csoneson commented on #3990
👋🏻 @jspaezp, @MKoesters - could you give us an update on how your reviews are progressing? Thanks!

[2022-01-21 09:39] Bisaloo commented on #3948
Thanks @emilydolson!

@TimKam, could you give us an update for your review of this library+paper please? Please let me know if you need anything.

[2022-01-21 09:48] TimKam commented on #3948
Sorry, I should be able to complete the review within roughly (but perhaps not exactly) one week.

[2022-01-21 09:48] Bisaloo commented on #3776
Great, @jessicatytam, please let us know when you have made progress on various points raised in the review. Feel free to open an issue for each item if helpful :relaxed:

@kamapu, I think you missed this question :wink::

[2022-01-21 10:12] samuelburbulla commented on #3959
Hi @vijaysm,
as you mentioned, we discussed this issue in [#2](https://github.com/samuelburbulla/dune-mmesh/issues/2) and I proposed the following solution:

[code]

Somehow, CMake finds the package OpenMP and sets OPENMP_FOUND, but afterwards the compiler does not find the `<omp.h>` header. I just cross checked this behaviour on my Mac both with and without OpenMP, but unfortunately I am not able

[2022-01-21 11:15] ilyamandel commented on #3838
@kyleniemeyer:
- Thank you for catching the copy/paste mistake to Zenodo.  Name corrected, all the ORCIDs I know added.
- Bibliography updated on the JOSS branch.

[2022-01-21 11:16] ilyamandel commented on #3838
@whedon generate pdf from branch JOSS

[2022-01-21 11:16] whedon commented on #3838
[code]

[2022-01-21 11:17] whedon commented on #3838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: :point_left:

[2022-01-21 11:24] maczokni commented on #4015
Hi @zarrarkhan thanks for the update - sorry just getting back to this now but I have a major concern - you are right there are duplicates, as there are USA counties which share the same name. **This means that the county names is not actually an appropriate column on which to join.** This means that if I do want to join the full dataset (rather than the 10 subset you used) then I cannot do this w

[2022-01-21 12:36] dfm commented on #4033
Good question, @changhoonhahn!

With this type of apparent conflict we are generally happy to proceed after disclosure, as long as the authors and reviewers feel confident that the review can be impartial. If not, that's no worries - I'm happy to recruit a different reviewer to fill in for you.

@changhoonhahn & @kadglass: can you let me know here or via email what your stance on this potential CO

[2022-01-21 13:08] hugoledoux commented on #4018
@Scivision @thomakra @xzyaoi

I think you are suitable for this reviewer, if you are interested let me know here please!

[2022-01-21 13:27] changhoonhahn commented on #4033
@dfm I feel confident that the review can be impartial and happy to proceed with the review.

[2022-01-21 14:52] d-eggert commented on #4052
As mentioned in https://git.geomar.de/digital-earth/dasf/dasf-messaging-python/-/issues/41
I started to work on the frameworks documentation. I will expand it in the upcoming days, nonetheless it should be sufficient to get the reviewers started.

@uellue & @sk1p & @cjwu checkout the documentation at https://digital-earth.pages.geomar.de/dasf/dasf-messaging-python

Feel free to provide some first

[2022-01-21 14:54] bmcfee commented on #3937
@whedon generate pdf

[2022-01-21 14:55] whedon commented on #3937
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03937/joss.03937/10.21105.joss.03937.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03937/joss.03937/10.21105.joss.03937.pdf) :page_facing_up: :point_left:

[2022-01-21 14:59] larkz commented on #3804
hi @adi3 just a gentle reminder, did you get a chance to look over the published code on Zenodo?

[2022-01-21 15:04] kthyng commented on #3690
@dhhagan This submission looks like a better fit for your expertise — could you take it on?

[2022-01-21 15:04] kthyng commented on #3690
@whedon invite @dhhagan as editor

[2022-01-21 15:04] whedon commented on #3690
@dhhagan has been invited to edit this submission.

[2022-01-21 15:16] kbarnhart commented on #3658
@mbarall thanks for contributing your review.

[2022-01-21 15:18] whedon commented on #4039
:wave: @ldecicco-USGS, please update us on how your review is going (this is an automated reminder).

[2022-01-21 15:18] whedon commented on #4039
:wave: @jmp75, please update us on how your review is going (this is an automated reminder).

[2022-01-21 15:52] jhollist commented on #4039
@ldecicco-USGS and @crvernon thanks for the comments!  There is a CONTRIBUTING.md but it is a little hidden inside of the .github folder.  This is the defualt location for `usethis::use_tidy_contributing` which is what I used as an initial template for my contributing.  This is one of the standard locations suggested by GitHub: https://docs.github.com/en/communities/setting-up-your-project-for-hea

[2022-01-21 16:01] ldecicco-USGS commented on #4039
Ack, sorry for not realizing that! Sure enough, it does make sense to put it in there.

[2022-01-21 16:07] jspaezp commented on #3990
Hello @csoneson, Indeed I have been working on the review here: https://github.com/glasgowcompbio/vimms/issues/230 overall the project is a lot larger than I expected and It has been taking longer than I though. I Should be able to finish the review by this weekend. (overall it seems to comply with all the criteria for acceptance, but there are a couple of things I would like to suggest as "code r

[2022-01-21 16:08] jhollist commented on #4039
I will openly admit that I googled, "why is my contributing.md in the .github folder" prior to responding!

[2022-01-21 16:25] csoneson commented on #3990
@jspaezp - thanks for the update!

[2022-01-21 16:29] dhhagan commented on #3690
Hey @kthyng sure thing. I should be able to get to this on Tues morning if that's okay?

[2022-01-21 16:30] kadglass commented on #4033
@dfm Agreed - I believe that the review will be impartial.

[2022-01-21 17:08] diehlpk commented on #4023
@whedon add  @alvesjnr as reviewer

[2022-01-21 17:08] whedon commented on #4023
OK,  @alvesjnr is now a reviewer

[2022-01-21 17:14] dfm commented on #4033
@changhoonhahn, @kadglass: thanks for the quick response! In this case, let's proceed as planned and don't hesitate to get in touch if you have any related or unrelated questions/comments as we go. Thanks again!

[2022-01-21 17:26] bmcfee commented on #3937
@whedon check references

[2022-01-21 17:26] whedon commented on #3937
[code]

[2022-01-21 17:26] bmcfee commented on #3937
Thanks @lostanlen and @malmaud !

I'm proof-reading the paper now, and have the following comments / suggestions:

- line 43/44: I think this would be a bit easier to read if you changed the order of "acdwt" and "sdwt" to agree with the order of presentation in the previous sentence.
- Only your first example is numbered, the rest are unnumbered subsections.  I think they should be either all numb

[2022-01-21 17:56] zengfung commented on #3937
Thanks @bmcfee for your suggestions! I’ve updated the paper in the most recent [commit](https://github.com/UCD4IDS/WaveletsExt.jl/commit/1f841062c3537e64f8beaad2462099fcdd30d5e8) to the `master` branch.

[2022-01-21 18:11] PetrKryslUCSD commented on #3997
@whedon generate pdf

[2022-01-21 18:11] whedon commented on #3997
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03997/joss.03997/10.21105.joss.03997.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03997/joss.03997/10.21105.joss.03997.pdf) :page_facing_up: :point_left:

[2022-01-21 18:19] kyleniemeyer commented on #3838
@whedon recommend-accept

[2022-01-21 18:19] whedon commented on #3838
[code]

[2022-01-21 18:20] whedon commented on #3838
[code]

[2022-01-21 18:20] whedon commented on #3838
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2898

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2898, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-21 18:21] kyleniemeyer commented on #3838
@whedon recommend-accept from branch JOSS

[2022-01-21 18:21] whedon commented on #3838
[code]

[2022-01-21 18:22] whedon commented on #3838
[code]

[2022-01-21 18:22] whedon commented on #3838
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2899

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2899, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-21 18:24] kyleniemeyer commented on #3838
@whedon accept deposit=true from branch JOSS

[2022-01-21 18:24] whedon commented on #3838
[code]

[2022-01-21 18:25] whedon commented on #3838
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1484593103705096194) 👈 🐦🐦🐦

[2022-01-21 18:25] whedon commented on #3838
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2900
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03838](https://doi.org/10.21105/joss.03838)
2. If everything look

[2022-01-21 18:28] kyleniemeyer commented on #3838
@arfon @openjournals/dev whoops, I forgot that I needed to ping you about manually fixing the PDF to handle the large author list... hope this doesn't cause any headaches post-acceptance.

[2022-01-21 18:29] kyleniemeyer commented on #3838
Congratulations @ilyamandel on your article's publication in JOSS!

Many thanks to @katiebreivik and @HeloiseS for reviewing this submission, and @christinahedges for editing it.

(I am going to leave the issue open until that PDF formatting issue is resolved.)

[2022-01-21 18:32] bmcfee commented on #3937
@whedon generate pdf

[2022-01-21 18:33] whedon commented on #3937
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03937/joss.03937/10.21105.joss.03937.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03937/joss.03937/10.21105.joss.03937.pdf) :page_facing_up: :point_left:

[2022-01-21 18:35] bmcfee commented on #3937
Great, thanks @zengfung !  Next steps for you:

1. Create and tag release of the package (unless the most recent release already addresses all reviewer comments)
2. Archive the release (eg at zenodo or figshare)
3. Report back here with the version number and DOI for the archive

[2022-01-21 18:51] puolival commented on #3956
### Review 21.1.2022

**Manuscript**

1. The manuscript is currently too short. Please report results at least from one actual experiment. How good cursor control performance can be achieved using this software? Please also compare the performance to a typical state-of-the-art BCI experiment. Please also state more clearly the main functions of this software and how does it compare to the other ex

[2022-01-21 18:54] puolival commented on #3956
@oliviaguest It seems that I am not able to edit the checklist even though I am logged in.

[2022-01-21 19:15] kyleniemeyer commented on #4065
👋 @jeffersonfparil - I'm sorry to say that after discussion among the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software

[2022-01-21 19:15] kyleniemeyer commented on #4065
@whedon reject

[2022-01-21 19:15] whedon commented on #4065
Paper rejected.

[2022-01-21 19:15] #4065 closed

[2022-01-21 19:44] kyleniemeyer commented on #4069
@whedon invite @csoneson as editor

👋 Hi @csoneson, could you edit this one?

[2022-01-21 19:44] whedon commented on #4069
@csoneson has been invited to edit this submission.

[2022-01-21 19:53] whedon opened #4081 "[PRE REVIEW]: UltaNet Implementing a antithesis neural network for Human Activity Recognition with Keras"
**Submitting author:** @engrhamzaaliimran (<a href="http://orcid.org/0000-0001-7365-3326">Hamza Ali Imran</a>)
**Repository:** <a href="https://github.com/engrhamzaaliimran/UltaNet" target ="_blank">https://github.com/engrhamzaaliimran/UltaNet</a>
**Version:** 1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to th

[2022-01-21 19:53] whedon commented on #4081
[code]

[2022-01-21 19:54] whedon commented on #4081
PDF failed to compile for issue #4081 with the following error:
[code]

[2022-01-21 19:54] whedon opened #4082 "[PRE REVIEW]: ALUES: An R package for Agricultural Land Use Evaluation System"
**Submitting author:** @alstat (<a href="http://orcid.org/0000-0003-3784-8593">Al-Ahmadgaid Asaad</a>)
**Repository:** https://github.com/alstat/ALUES
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.1
**Editor:** @fabian-s
**Reviewers:** @corybrunson, @kuesterc9
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2022-01-21 19:54] whedon commented on #4082
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 19:54] whedon commented on #4082
[code]

[2022-01-21 19:54] whedon commented on #4082
[code]

[2022-01-21 19:54] whedon commented on #4082
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04082/joss.04082/10.21105.joss.04082.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04082/joss.04082/10.21105.joss.04082.pdf) :page_facing_up: :point_left:

[2022-01-21 19:56] nvanderelst commented on #3658
@kbarnhart I was able to get everything to work and I've completed my review.

[2022-01-21 19:56] kyleniemeyer commented on #4082
@whedon invite @KristinaRiemer as editor

👋  Hi @KristinaRiemer, could you edit this one?

[2022-01-21 19:56] whedon commented on #4082
@KristinaRiemer has been invited to edit this submission.

[2022-01-21 20:02] kyleniemeyer commented on #4081
Hello @engrhamzaaliimran, unfortunately your submission does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html), because it is a Jupyter Notebook and not a software package. This analysis looks useful and important for supporting your research article, but this is not a fully featured research code like what JOSS reviews.

Please see https://joss.readthed

[2022-01-21 20:02] kyleniemeyer commented on #4081
@whedon reject

[2022-01-21 20:02] whedon commented on #4081
Paper rejected.

[2022-01-21 20:02] #4081 closed

[2022-01-21 20:08] whedon opened #4083 "[PRE REVIEW]: Video event segmentation tool (VEST) for qualitative coding of video clips"
**Submitting author:** @jcheong0428 (<a href="http://orcid.org/0000-0002-9255-1648">Jin Hyun Cheong</a>)
**Repository:** <a href="https://github.com/jcheong0428/vest" target ="_blank">https://github.com/jcheong0428/vest</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2022-01-21 20:08] whedon commented on #4083
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 20:08] whedon commented on #4083
Wordcount for `paper.md` is 518

[2022-01-21 20:08] whedon commented on #4083
[code]

[2022-01-21 20:08] whedon commented on #4083
[code]

[2022-01-21 20:09] whedon commented on #4083
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04083/joss.04083/10.21105.joss.04083.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04083/joss.04083/10.21105.joss.04083.pdf) :page_facing_up: :point_left:

[2022-01-21 20:11] lpantano commented on #3722
@whedon set v1.0.1 as version

[2022-01-21 20:11] whedon commented on #3722
OK. v1.0.1 is the version.

[2022-01-21 20:12] taylormcd commented on #3997
@whedon generate pdf

[2022-01-21 20:13] whedon commented on #3997
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03997/joss.03997/10.21105.joss.03997.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03997/joss.03997/10.21105.joss.03997.pdf) :page_facing_up: :point_left:

[2022-01-21 20:14] whedon opened #4084 "[PRE REVIEW]: SGMCMCJax: a lightweight JAX library for stochastic gradient Markov chain Monte Carlo algorithms"
**Submitting author:** @jeremiecoullon (<a href="http://orcid.org/0000-0002-7032-3425">Jeremie Coullon</a>)
**Repository:** <a href="https://github.com/jeremiecoullon/SGMCMCJax" target ="_blank">https://github.com/jeremiecoullon/SGMCMCJax</a>
**Version:** 0.2.9
**Editor:** @dfm
**Reviewers:** @canyon289, @ColCarroll
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2022-01-21 20:14] whedon commented on #4084
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 20:14] whedon commented on #4084
Wordcount for `paper.md` is 704

[2022-01-21 20:14] whedon commented on #4084
[code]

[2022-01-21 20:14] whedon commented on #4084
[code]

[2022-01-21 20:14] whedon commented on #4084
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04084/joss.04084/10.21105.joss.04084.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04084/joss.04084/10.21105.joss.04084.pdf) :page_facing_up: :point_left:

[2022-01-21 20:16] kyleniemeyer commented on #4084
Hi @jeremiecoullon, while we are getting started, could you take a look at that potentially missing DOI? I also noticed some formatting issues with your references, if you could take a look at those too.

For reference, the available citation commands are:
- `@author:2001`  ->  "Author et al. (2001)"
- `[@author:2001]` -> "(Author et al., 2001)"
- `[@author1:2001; @author2:2001]` -> "(Author1 et a

[2022-01-21 20:17] kyleniemeyer commented on #4084
@whedon invite @dfm as editor

👋 @dfm could you edit this one?

[2022-01-21 20:17] whedon commented on #4084
@dfm has been invited to edit this submission.

[2022-01-21 20:19] whedon opened #4085 "[PRE REVIEW]: GridapDistributed: a massively parallel finite element toolbox in Julia"
**Submitting author:** @amartinhuertas (<a href="http://orcid.org/0000-0001-5751-4561">Dr. Alberto F. Martin</a>)
**Repository:** <a href="https://github.com/gridap/GridapDistributed.jl/" target ="_blank">https://github.com/gridap/GridapDistributed.jl/</a>
**Version:** v0.2.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @PetrKryslUCSD, @Leticia-maria, @jedbrown
**Managing EiC:** Kyle Niemeye

[2022-01-21 20:19] whedon commented on #4085
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 20:19] whedon commented on #4085
[code]

[2022-01-21 20:19] whedon commented on #4085
PDF failed to compile for issue #4085 with the following error:
[code]

[2022-01-21 20:21] kyleniemeyer commented on #4085
@whedon generate pdf from branch joss_paper

[2022-01-21 20:21] whedon commented on #4085
[code]

[2022-01-21 20:21] whedon commented on #4085
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04085/joss.04085/10.21105.joss.04085.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04085/joss.04085/10.21105.joss.04085.pdf) :page_facing_up: :point_left:

[2022-01-21 20:22] kyleniemeyer commented on #4085
@whedon check references from branch joss_paper

[2022-01-21 20:22] whedon commented on #4085
[code]

[2022-01-21 20:22] whedon commented on #4085
[code]

[2022-01-21 20:24] kyleniemeyer commented on #4085
@whedon invite @Kevin-Mattheus-Moerman as editor

👋 @Kevin-Mattheus-Moerman I hesitate slightly to ask you to edit this, since you've already got a solid workload, but it looks *right* in your wheelhouse...

[2022-01-21 20:24] whedon commented on #4085
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2022-01-21 20:24] whedon opened #4086 "[PRE REVIEW]: swyft: Truncated Marginal Neural Ratio Estimation in Python"
**Submitting author:** @bkmi (<a href="http://orcid.org/0000-0003-0387-8727">Benjamin Miller</a>)
**Repository:** https://github.com/undark-lab/swyft
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.0
**Editor:** @pdebuyl
**Reviewers:** @mattpitkin, @olgadoronina
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2022-01-21 20:25] whedon commented on #4086
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 20:25] whedon commented on #4086
PDF failed to compile for issue #4086 with the following error:
[code]

[2022-01-21 20:25] dfm commented on #4084
@whedon assign me as editor

Sure thing! @jeremiecoullon give me a few days to do a first editorial pass and then I'll start recruiting reviewers. Let me know if you have any questions as the process progresses.

[2022-01-21 20:25] whedon commented on #4086
[code]

[2022-01-21 20:25] whedon commented on #4084
OK, the editor is @dfm

[2022-01-21 20:27] kthyng commented on #3690
@dhhagan sounds perfect. Thank you!

[2022-01-21 20:27] kthyng commented on #3690
@whedon assign @dhhagan as editor

[2022-01-21 20:28] whedon commented on #3690
OK, the editor is @dhhagan

[2022-01-21 20:28] kyleniemeyer commented on #4086
Hi @bkmi, is your JOSS paper located in a particular branch? Our bot (and I) can't seem to find it.

[2022-01-21 20:30] whedon opened #4087 "[PRE REVIEW]: HDMIA: An Architect for High Demand Medical Image 2 Analysis using Deep Learning"
**Submitting author:** @magedhelmy1 (<a href="http://orcid.org/0000-0003-1504-8536">Maged Helmy</a>)
**Repository:** <a href="https://github.com/magedhelmy1/capillarydetection" target ="_blank">https://github.com/magedhelmy1/capillarydetection</a>
**Version:** 0.1
**Editor:** @Bisaloo
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to t

[2022-01-21 20:30] whedon commented on #4087
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 20:30] whedon commented on #4087
[code]

[2022-01-21 20:31] whedon commented on #4087
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04087/joss.04087/10.21105.joss.04087.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04087/joss.04087/10.21105.joss.04087.pdf) :page_facing_up: :point_left:

[2022-01-21 20:32] danielskatz commented on #4086
@whedon generate pdf from branch joss-submission-do-not-delete

[2022-01-21 20:32] whedon commented on #4086
[code]

[2022-01-21 20:32] danielskatz commented on #4086
@whedon check references from branch joss-submission-do-not-delete

[2022-01-21 20:32] kyleniemeyer commented on #4087
Hello @magedhelmy1, thanks for your interest in JOSS.

I noticed that you described your submission as an "original research study". JOSS does not actually review or publish original research, but instead research software packages: https://joss.readthedocs.io/en/latest/submitting.html

Original research should be submitted to a domain journal for review; we would review software that was develope

[2022-01-21 20:33] whedon commented on #4086
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04086/joss.04086/10.21105.joss.04086.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04086/joss.04086/10.21105.joss.04086.pdf) :page_facing_up: :point_left:

[2022-01-21 20:33] whedon commented on #4086
[code]

[2022-01-21 20:36] kyleniemeyer commented on #4086
@danielskatz 😂 thanks, somehow I missed that branch...

[2022-01-21 20:36] kyleniemeyer commented on #4086
@bkmi you can disregard my above message! As we are getting started, though, please take a look at those missing DOI messages for your article.

[2022-01-21 20:37] kyleniemeyer commented on #4086
@whedon invite @fabian-s as editor

👋 @fabian-s can you edit this submission?

[2022-01-21 20:37] whedon commented on #4086
@fabian-s has been invited to edit this submission.

[2022-01-21 20:45] PetrKryslUCSD commented on #3997
@whedon help

[2022-01-21 20:45] whedon commented on #3997
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-21 20:46] PetrKryslUCSD commented on #3997
@whedon commands

[2022-01-21 20:46] whedon commented on #3997
Here are some things you can ask me to do:

[code]

[2022-01-21 20:59] inpefess commented on #3849
@VivianePons I see only you and lutzhamel as assignees for this review. Is that OK?

[2022-01-21 21:00] eferrea commented on #3956
Hi @puolival (and hi @oliviaguest), many thanks for your review.
It seems I can fix all of the reported issues.

Please bear in mind that the software was a necessary requirement (and NOT a minor side product) to perform BCI studies in our non-human primate labs and other different studies are now arising from this software.  In addition, to the best of our knowledge, there is no software grouping

[2022-01-21 21:02] PetrKryslUCSD commented on #3997
@prashjha I am sorry, I can't figure out how to submit the review. Is there a whedon command?

[2022-01-21 21:27] whedon commented on #4040
:wave: @awvwgk, please update us on how your review is going (this is an automated reminder).

[2022-01-21 21:27] whedon commented on #4040
:wave: @wcwitt, please update us on how your review is going (this is an automated reminder).

[2022-01-21 22:05] whedon opened #4088 "[PRE REVIEW]: Imagedata: A Python library to handle medical image data in NumPy array subclass Series"
**Submitting author:** @erling6232 (<a href="http://orcid.org/0000-0001-8268-1206">Erling Andersen</a>)
**Repository:** <a href="https://github.com/erling6232/imagedata" target ="_blank">https://github.com/erling6232/imagedata</a>
**Version:** 1.4.0
**Editor:** @galessiorob
**Reviewers:** @glatard, @mwegrzyn, @joaorodrigues
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :wa

[2022-01-21 22:05] whedon commented on #4088
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 22:05] whedon commented on #4088
Wordcount for `paper.md` is 1653

[2022-01-21 22:05] whedon commented on #4088
[code]

[2022-01-21 22:05] whedon commented on #4088
[code]

[2022-01-21 22:06] whedon commented on #4088
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04088/joss.04088/10.21105.joss.04088.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04088/joss.04088/10.21105.joss.04088.pdf) :page_facing_up: :point_left:

[2022-01-21 22:06] kyleniemeyer commented on #4088
@whedon invite @galessiorob as editor

👋 Hi @galessiorob, could you edit this one?

[2022-01-21 22:06] whedon commented on #4088
@galessiorob has been invited to edit this submission.

[2022-01-21 22:07] whedon opened #4089 "[PRE REVIEW]: GEMMI: A library for structural biology"
**Submitting author:** @wojdyr (<a href="http://orcid.org/0000-0003-3980-4092">Marcin Wojdyr</a>)
**Repository:** https://github.com/project-gemmi/gemmi/
**Branch with paper.md** (empty if default branch):
**Version:** v0.5.1
**Editor:** @kellyrowland
**Reviewers:** @jamesrhester, @dominiquesydow
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2022-01-21 22:07] whedon commented on #4089
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 22:07] whedon commented on #4089
PDF failed to compile for issue #4089 with the following error:
[code]

[2022-01-21 22:07] whedon commented on #4089
[code]

[2022-01-21 22:08] kyleniemeyer commented on #4089
@whedon invite @will-rowe as editor

👋 Hi @will-rowe, could you edit this one?

[2022-01-21 22:08] whedon commented on #4089
@will-rowe has been invited to edit this submission.

[2022-01-21 22:10] whedon opened #4090 "[PRE REVIEW]: yadg: yet another datagram"
**Submitting author:** @PeterKraus (<a href="http://orcid.org/0000-0002-4359-5003">Peter Kraus</a>)
**Repository:** <a href="https://github.com/dgbowl/yadg" target ="_blank">https://github.com/dgbowl/yadg</a>
**Version:** v4.0.0
**Editor:** @galessiorob
**Reviewers:** @aozorahime, @1mikegrn
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2022-01-21 22:10] whedon commented on #4090
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 22:10] whedon opened #4091 "[PRE REVIEW]: py_SBeLT: A Python software for stochastic sediment transport under rarefied conditions"
**Submitting author:** @szwiep (<a href="http://orcid.org/0000-0002-0812-9509">Sarah Zwiep</a>)
**Repository:** https://github.com/szwiep/py_SBeLT
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @kbarnhart
**Reviewers:** @pfeiffea, @tdoane
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2022-01-21 22:10] whedon commented on #4090
Wordcount for `paper.md` is 1191

[2022-01-21 22:10] whedon commented on #4091
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 22:10] whedon commented on #4090
[code]

[2022-01-21 22:10] whedon commented on #4090
[code]

[2022-01-21 22:10] whedon commented on #4091
Wordcount for `paper.md` is 1104

[2022-01-21 22:10] whedon commented on #4091
[code]

[2022-01-21 22:10] whedon commented on #4091
[code]

[2022-01-21 22:10] whedon commented on #4091
PDF failed to compile for issue #4091 with the following error:
[code]

[2022-01-21 22:10] whedon commented on #4090
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04090/joss.04090/10.21105.joss.04090.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04090/joss.04090/10.21105.joss.04090.pdf) :page_facing_up: :point_left:

[2022-01-21 22:12] kyleniemeyer commented on #4091
Hi @szwiep, I think the empty `orcid:` field under your name is causing the paper build issue. Can you either add your ORCID, or remove the field?

[2022-01-21 22:14] kyleniemeyer commented on #4090
Hi @PeterKraus, normally we would find an editor at this stage, who would then identify and assign reviewers for your submission—unfortunately none of the editors with relevant expertise are available right now, so we have to put your submission on our waitlist for the time being.

In the meantime, it would be a great help if you could suggest any reviewers, to help speed up the process once we do

[2022-01-21 22:15] kyleniemeyer commented on #4091
@whedon invite @kbarnhart as editor

👋 Hi @kbarnhart, could you edit this one? Note that the paper has a build issue at the moment, but that should be resolved quickly.

[2022-01-21 22:15] whedon commented on #4091
@kbarnhart has been invited to edit this submission.

[2022-01-21 22:18] kyleniemeyer commented on #4083
👋 @jcheong0428 Thanks for your interest in JOSS. Since your submission does not quite appear to be a typical, distributable research software package, the editorial board is going to review your submission to ensure it meets our [requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) to be reviewed. This should take at most a week or two.

[2022-01-21 22:18] kyleniemeyer commented on #4083
@whedon query scope

[2022-01-21 22:18] whedon commented on #4083
Submission flagged for editorial review.

[2022-01-21 22:26] kyleniemeyer commented on #4066
👋 @RimoAccelerator I'm sorry to say that after discussion among the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS, due to its relatively small size.

Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-r

[2022-01-21 22:26] kyleniemeyer commented on #4066
@whedon reject

[2022-01-21 22:27] whedon commented on #4066
Paper rejected.

[2022-01-21 22:27] #4066 closed

[2022-01-21 22:27] kyleniemeyer commented on #4059
👋 @rowlandseymour I'm sorry to say that after discussion among the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS, due to its small size.

Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and

[2022-01-21 22:27] kyleniemeyer commented on #4059
@whedon reject

[2022-01-21 22:27] whedon commented on #4059
Paper rejected.

[2022-01-21 22:27] #4059 closed

[2022-01-21 22:35] szwiep commented on #4091
Hi @kyleniemeyer, I added my ORCID to the field. Thanks for letting me know.

[2022-01-21 22:38] kyleniemeyer commented on #4091
@whedon generate pdf

[2022-01-21 22:38] whedon commented on #4091
PDF failed to compile for issue #4091 with the following error:
[code]

[2022-01-21 22:44] kyleniemeyer commented on #4091
@szwiep ah, I'm sorry, it was actually the affiliation field for your coauthor that was causing the problem. (Or perhaps both things.)

Could you change `affiliation: 1, 2` to `affiliation: "1, 2"` (with the quotation marks)?

[2022-01-21 22:44] kyleniemeyer commented on #4054
👋 @dnanto Unfortunately, after discussion among the JOSS editors, we have decided that this submission does not meet the [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) criterion for review by JOSS, since the software package focuses exclusively on visualization. (Again, this is not a statement that your software is not useful!)

Please

[2022-01-21 22:44] kyleniemeyer commented on #4054
@whedon reject

[2022-01-21 22:44] whedon commented on #4054
Paper rejected.

[2022-01-21 22:44] #4054 closed

[2022-01-21 22:47] whedon opened #4092 "[PRE REVIEW]: davos: The Python package smuggler"
**Submitting author:** @paxtonfitzpatrick (<a href="http://orcid.org/0000-0003-0205-3088">Paxton Fitzpatrick</a>)
**Repository:** <a href="https://github.com/ContextLab/davos" target ="_blank">https://github.com/ContextLab/davos</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-01-21 22:47] whedon commented on #4092
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-21 22:47] whedon commented on #4092
Wordcount for `paper.md` is 1478

[2022-01-21 22:47] whedon commented on #4092
[code]

[2022-01-21 22:47] whedon commented on #4092
[code]

[2022-01-21 22:48] whedon commented on #4092
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04092/joss.04092/10.21105.joss.04092.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04092/joss.04092/10.21105.joss.04092.pdf) :page_facing_up: :point_left:

[2022-01-21 22:51] szwiep commented on #4091
@kyleniemeyer done! Field has been updated.

[2022-01-21 22:53] kyleniemeyer commented on #4091
@whedon generate pdf

[2022-01-21 22:53] whedon commented on #4091
PDF failed to compile for issue #4091 with the following error:
[code]

[2022-01-21 22:56] kyleniemeyer commented on #4091
@szwiep this just won't quite resolve! I notice one issue but miss the others, apparently...

The sub-fields under your coauthor's name should not have dashes, since that is used to mark new entries in the `authors` list. So, can you replace the second author block with
[code]

[2022-01-21 22:59] szwiep commented on #4091
@kyleniemeyer Thanks for helping sort this out. I'll update the dashes. One potential problem: would the second affiliation need an `index: 2` sub-field? Right now it doesn't.

[2022-01-21 23:00] kyleniemeyer commented on #4091
@szwiep no, combining two affiliations within quotes like that is the correct approach. (See the example paper: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)

[2022-01-21 23:04] szwiep commented on #4091
@kyleniemeyer sorry, I meant in the affiliations section. Looks like we we're missing the index:

[code]
Just committed those (dashes and index) changes.

[2022-01-21 23:07] kbarnhart commented on #4091
@kyleniemeyer I can handle this. I'll go ahead and assign myself.

@szwiep I'll be able to start handling this actively in the middle of next week. At that point I'll do a standard pre-review check of the submission, depending on the results of that I may provide some feedback, and then will start to look for reviewers. Please let me know if you have questions at any point either here or at krbarn

[2022-01-21 23:07] kbarnhart commented on #4091
@whedon assign @kbarnhart as editor

[2022-01-21 23:07] whedon commented on #4091
OK, the editor is @kbarnhart

[2022-01-21 23:09] kyleniemeyer commented on #4091
@whedon generate pdf

[2022-01-21 23:10] whedon commented on #4091
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04091/joss.04091/10.21105.joss.04091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04091/joss.04091/10.21105.joss.04091.pdf) :page_facing_up: :point_left:

[2022-01-21 23:10] kbarnhart commented on #3658
@nvanderelst thanks for contributing your review.

@wsavran I will be able to do my final steps for this submission on Monday and will move forward then.

[2022-01-21 23:10] kyleniemeyer commented on #4091
@szwiep it built!

@kbarnhart thanks!

[2022-01-21 23:12] kyleniemeyer commented on #4092
@whedon query scope

[2022-01-21 23:12] whedon commented on #4092
Submission flagged for editorial review.

[2022-01-21 23:19] kyleniemeyer commented on #3428
@cwentland0 thanks for the update! (And sorry it took so long for me to get back to this.) Yes, we will use the Zenodo DOI of the repo, though you will also get one for the paper itself.

@Himscipy can you possibly take another look at the updates, to see if your issues are now satisfied?

@clemaitre58 are you still able to review this submission?

[2022-01-21 23:20] smchartrand commented on #4091
@kyleniemeyer @kbarnhart thanks for your support getting the pdf build issues resolved! Much appreciated.

[2022-01-21 23:34] paxtonfitzpatrick commented on #4092
Thanks @kyleniemeyer! While the README is written to appeal to a general audience and serve as documentation, the paper (particularly the Statement of Need) better explains its intended use as research software.

[2022-01-21 23:38] kyleniemeyer commented on #4092
@paxtonfitzpatrick got it, thanks. We'll make sure to consider that!

[2022-01-22 00:00] magedhelmy1 commented on #4087
Hi @kyleniemeyer , thanks for your comment.

Indeed, this is not an original research study to be published here. But this is a research software package intended to address a research challenge: quantifying blood capillaries in patients. This software research package aims to support the functioning of research instruments (blood vessel quantification) and the execution of research experiments (q

[2022-01-22 00:10] prashjha commented on #3997
Hi @PetrKryslUCSD, to review, you need to look at the checklists provided, open issues in the software repository to fix issues that you have in mind, and add comments here to the corresponding authors if any. Once your issues have been addressed and you are satisfied with the response and overall quality of the submission, you will simply let me know your decision here.

[2022-01-22 01:01] dnanto commented on #4054
Thanks for taking the time to review the paper!

[2022-01-22 01:19] PetrKryslUCSD commented on #3997
OK. In that case I would like to report the review is finished. Recommendation: publish.

[2022-01-22 01:29] prashjha commented on #3997
@PetrKryslUCSD, got it. Thank you for taking the time to review this.

[2022-01-22 02:30] jlarsen-usgs commented on #3852
@crvernon - Thanks for checking in, I've hit a minor snag and am going through a second USGS software security review. Once this is done, I should be able to more forward. I sincerely appologise for the delays on my end.

[2022-01-22 02:57] jgostick commented on #4063
I'm going to start the reivew despite having only one reviewer for now.  I will add the second later.

[2022-01-22 02:57] jgostick commented on #4063
@whedon start review

[2022-01-22 02:58] whedon opened #4093 "[REVIEW]: PyPVRPM: Photovoltaic Reliability and Performance Model in Python"
**Submitting author:** @brandons209 (<a href="http://orcid.org/0000-0001-8278-7158">Brandon Silva</a>)
**Repository:** https://github.com/FSEC-Photovoltaics/pvrpm-lcoe
**Branch with paper.md** (empty if default branch):
**Version:** 1.7.4
**Editor:** @jgostick
**Reviewers:** @blthayer, @SarthakJariwala
**Archive:** 10.5281/zenodo.6355115

**:warning: JOSS reduced service mode :warning:**

Due to t

[2022-01-22 02:58] whedon commented on #4063
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4093.

[2022-01-22 02:58] #4063 closed

[2022-01-22 02:58] whedon commented on #4093
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @SarthakJariwala it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2022-01-22 02:58] whedon commented on #4093
Wordcount for `paper.md` is 728

[2022-01-22 02:58] whedon commented on #4093
[code]

[2022-01-22 02:58] whedon commented on #4093
[code]

[2022-01-22 02:58] whedon commented on #4093
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04093/joss.04093/10.21105.joss.04093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04093/joss.04093/10.21105.joss.04093.pdf) :page_facing_up: :point_left:

[2022-01-22 03:11] jgostick commented on #4063
Hi @brandons209 can suggest a few names how may be able to review this?  My search so far have yielded a pretty small and interconnected group of people.

[2022-01-22 03:24] ilyamandel commented on #3838
A huge thanks to all the reviewers and editors -- we really appreciate all of your work!

[2022-01-22 03:29] luizirber commented on #4006
@whedon assign @nlhepler as reviewer

[2022-01-22 03:29] whedon commented on #4006
OK, @nlhepler is now a reviewer

[2022-01-22 03:44] brandons209 commented on #4063
Hello! I am not sure what you are asking. Are you asking me to recommend some people outside of JOSS to help review this? I can recommend some people from NREL if that's the case.

[2022-01-22 04:39] zengfung commented on #3937
Hi @bmcfee, I have completed the steps you mentioned.

1. Package has been tagged to [v0.1.16](https://github.com/UCD4IDS/WaveletsExt.jl).
2. Release is archived at Zenodo with DOI: [10.5281/zenodo.5889625](https://zenodo.org/record/5889625#.YeuKUurMK3A)

[2022-01-22 04:44] hongyuanjia commented on #4030
Thank you @mitmat for taking the time to give such thorough reviews of epwshiftr! I will start to address all your comments and issues opened in the epwshiftr repo in the following days.

I agree that the documentation needs improvements, especially for the description of the algorithm used to statistical downscaling climate data.

epwshiftr is released under MIT license. Unlike GPL license, MIT l

[2022-01-22 09:56] wojdyr commented on #4089
@whedon generate pdf from branch paper

Regarding reviewer suggestion: the joss_reviewers list has a few people with "structural biology" topic:
joaorodrigues shriyaamittal joaomcteixeira rvhonorato nicksisco1932

If you'd like someone from outside this list, you could try people from here:
https://phenix-online.org/people
They won't have any conflicts of interest as we never collaborated.

[2022-01-22 09:57] whedon commented on #4089
[code]

[2022-01-22 12:24] thomakra commented on #4018
I'm sorry, but I do not have the capacity at this time.

-Thomas-

On Fri, 21 Jan 2022 at 14:09, Hugo Ledoux ***@***.***> wrote:

[2022-01-22 13:24] jeremiecoullon commented on #4084
@kyleniemeyer : thanks for these tips!
- I fixed the reference formatting issue (Baker et al, 2019, Abadi et al 2015). Is this what you meant?
- I added the missing DOI for Baker et al (2019)

Let me know if there are any other issues I can help with

[2022-01-22 13:57] PeterKraus commented on #4090
Hi @kyleniemeyer, no worries, I understand the delays. I had a look at the reviewer list, and here are some suggestions, as requested starting at the bottom of the list:

- synthaze (general python tools)
- 1mikegrn (material science & chemistry & cheminformatics)
- varlottaang (data science & data ethics)
- bobturneruk (data engineering & good software engineering practices)
- alberto-battistel (

[2022-01-22 16:48] janfreyberg commented on #3897
Apologies for the delay. Looks good to me - ready to publish :)

[2022-01-22 17:43] alexrockhill commented on #3897
Thanks so much @janfreyberg and @TomDonoghue for your reviews! I know it's a hectic and overstretched time for everyone so I appreciate you finding the time for thoughtful feedback that definitely has improved the publication. Cheers!

[2022-01-22 19:33] fibreglass2 commented on #3736
As a follow up to my last comment, PIVC has just been updated. It is now fully working in Windows. Please see version 1.2, windows branch, of the repository. The documentation has been updated to reflect the changes. Thank you to all of the reviewers for their patience in this process.

[2022-01-22 20:19] kyleniemeyer commented on #4084
@whedon generate pdf

[2022-01-22 20:20] whedon commented on #4084
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04084/joss.04084/10.21105.joss.04084.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04084/joss.04084/10.21105.joss.04084.pdf) :page_facing_up: :point_left:

[2022-01-22 20:21] kyleniemeyer commented on #4084
@jeremiecoullon yep, looks good!

@dfm Thanks!

[2022-01-22 20:33] bmcfee commented on #3937
@whedon set 10.5281/zenodo.5889625 as archive

[2022-01-22 20:33] whedon commented on #3937
OK. <a href="https://doi.org/10.5281/zenodo.5889625" target="_blank">10.5281/zenodo.5889625</a> is the archive.

[2022-01-22 20:33] bmcfee commented on #3937
@whedon set v0.1.16 as version

[2022-01-22 20:34] whedon commented on #3937
OK. v0.1.16 is the version.

[2022-01-22 20:34] bmcfee commented on #3937
@whedon recommend-accept

[2022-01-22 20:34] whedon commented on #3937
[code]

[2022-01-22 20:34] whedon commented on #3937
[code]

[2022-01-22 20:35] whedon commented on #3937
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2901

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2901, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-22 22:28] xzyaoi commented on #4018
@hugoledoux  I am sorry, I don't think I am qualified and suitable for reviewing this paper.
Hope you will get a better reviewer.

Best regards

[2022-01-23 03:23] zengfung commented on #3937
Hi @bmcfee I was just proof-reading our work for one last time, and I found that some of the code snippets contain lines of codes that are too long. I made the necessary fixes, and the updates are:

VERSION: v0.1.17
DOI: 10.5281/zenodo.5893843

I hope this isn't too late for changes. Apologies for the inconvenience caused.

[2022-01-23 05:54] zarrarkhan commented on #4015
@maczokni
Thanks for your comments and notes. We have addressed your comments as follows:

- US County duplicates:
rmap::mapUS49County@data (which is from the official census.gov webpage: https://www.census.gov/geographies/mapping-files/time-series/geo/carto-boundary-file.html) had all unique rows, even though as you found, six subRegions had duplicate names in spite of being unique entries (which

[2022-01-23 06:17] amartinhuertas commented on #4085
@kyleniemeyer, suggestions for reviewers:
 * PetrKryslUCSD
 * KristofferC
 * ranocha

[2022-01-23 07:54] mdbartos commented on #3852
You can check off my review. Everything looks good to me.

[2022-01-23 09:36] arfon commented on #3612
Wonderful, thanks for the update @arjunsavel. @crhea93 – could you provide an update here on the status of your review?

[2022-01-23 09:39] arfon commented on #3895
@jpdunc23 – I've updated the paper based on your changes. The updated PDF might take 24 hours to show properly due to caching on the JOSS site.

[2022-01-23 09:40] arfon commented on #3649
Yes, it's possible. @PTierz – please make the changes to your `paper.md` file (in the repo) and let me (@arfon) know when you've done this.

[2022-01-23 10:21] whedon opened #4094 "[PRE REVIEW]: UncertainSCI: A Python Package for Noninvasive Parametric Uncertainty Quantification of Simulation Pipelines"
**Submitting author:** @jessdtate (<a href="http://orcid.org/0000-0002-2934-1453">Jess Tate</a>)
**Repository:** https://github.com/SCIInstitute/UncertainSCI
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0b
**Editor:** @kellyrowland
**Reviewers:** @shahmoradi, @RichardClayton
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2022-01-23 10:21] whedon commented on #4094
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-23 10:21] whedon commented on #4094
Wordcount for `paper.md` is 1182

[2022-01-23 10:22] whedon commented on #4094
[code]

[2022-01-23 10:22] whedon commented on #4094
[code]

[2022-01-23 10:22] whedon commented on #4094
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04094/joss.04094/10.21105.joss.04094.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04094/joss.04094/10.21105.joss.04094.pdf) :page_facing_up: :point_left:

[2022-01-23 10:22] Nikoleta-v3 commented on #3738
@whedon generate pdf

[2022-01-23 10:23] Nikoleta-v3 commented on #3738
@whedon check references

[2022-01-23 10:23] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2022-01-23 10:23] whedon commented on #3738
[code]

[2022-01-23 10:31] Nikoleta-v3 commented on #3738
👋🏻  @JasonGellis. I `missing DOI` that `whedon` is recommending is the DOI to a review of the book. So please ignore the message (feel free to also check).

Anyway, everything looks good to me!

At this point could you:

- [ ] Make a  new tagged release of your software if you think that it is needed (current one is v1.0), and list the version tag of the archived version here.
- [ ] Archive the re

[2022-01-23 10:45] arfon commented on #4046
@gabrielelubatti – many thanks for your submission to JOSS. After a review by our editorial team, this submission has been considered not eligible for review in JOSS.

In particular:

- The packaging of this software looks incomplete. The DESCRIPTION file of the R package still has the text from the template, and the installation instructions look unnecessarily complicated.
- All the R scripts app

[2022-01-23 10:45] arfon commented on #4046
@whedon reject

[2022-01-23 10:45] whedon commented on #4046
Paper rejected.

[2022-01-23 10:45] #4046 closed

[2022-01-23 10:48] arfon commented on #4064
@pragma-once - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission is out of scope for JOSS as we don't believe it meets our definition of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software).

One possible alternative to JOSS is to follow [GitHub's guide](https://gu

[2022-01-23 10:48] arfon commented on #4064
@whedon reject

[2022-01-23 10:48] whedon commented on #4064
Paper rejected.

[2022-01-23 10:48] #4064 closed

[2022-01-23 11:00] arfon commented on #4068
@OHildreth - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2022-01-23 11:00] arfon commented on #4068
@whedon reject

[2022-01-23 11:00] whedon commented on #4068
Paper rejected.

[2022-01-23 11:00] #4068 closed

[2022-01-23 11:08] arfon commented on #3838
No problem. I've just fixed this. @ilyamandel – the updated paper might take ~24 hours to show as updated on the JOSS site due to caching we have in place.

[2022-01-23 11:08] #3838 closed

[2022-01-23 11:08] whedon commented on #3838
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03838/status.svg)](https://doi.org/10.21105/joss.03838)

**We need your help!**

Journal of Open Source Softwa

[2022-01-23 11:09] arfon commented on #3937
@whedon set v0.1.17 as version

[2022-01-23 11:09] whedon commented on #3937
OK. v0.1.17 is the version.

[2022-01-23 11:09] arfon commented on #3937
@whedon set 10.5281/zenodo.5893843 as archive

[2022-01-23 11:09] whedon commented on #3937
OK. <a href="https://doi.org/10.5281/zenodo.5893843" target="_blank">10.5281/zenodo.5893843</a> is the archive.

[2022-01-23 11:09] arfon commented on #3937
@whedon recommend-accept

[2022-01-23 11:09] whedon commented on #3937
[code]

[2022-01-23 11:10] whedon commented on #3937
[code]

[2022-01-23 11:10] whedon commented on #3937
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2902

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2902, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-23 11:12] arfon commented on #3937
@whedon accept deposit=true

[2022-01-23 11:12] whedon commented on #3937
[code]

[2022-01-23 11:13] whedon commented on #3937
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1485209144097443842) 👈 🐦🐦🐦

[2022-01-23 11:13] whedon commented on #3937
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2903
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03937](https://doi.org/10.21105/joss.03937)
2. If everything look

[2022-01-23 11:16] arfon commented on #3937
@lostanlen, @malmaud – many thanks for your reviews here and to @bmcfee for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ShozenD – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-23 11:16] #3937 closed

[2022-01-23 11:16] whedon commented on #3937
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03937/status.svg)](https://doi.org/10.21105/joss.03937)

**We need your help!**

Journal of Open Source Softwa

[2022-01-23 14:25] JasonGellis commented on #3738
Hi @Nikoleta-v3 I'm a bit unclear.
1) The version is still v1.0 so we'll keep that.
2) What am I supposed to archive on Zenodo - a copy of the repo? A pdf of the paper?
3) I understand this.
4) Will the zenodo DOI be different from the one provided by JOSS?

[2022-01-23 14:50] TimKam commented on #3948
I have completed the review and have created [an issue in the source code repository](https://github.com/bramvandijk88/cacatoo/issues/19) that outlines some shortcomings/improvements, with respect to some issues around installation & instructions, automated tests, community guidelines, and the software paper (minor comments).
Conceptually/w.r.t. scholarly effort, I assess the paper as reasonable (

[2022-01-23 17:43] AustinTSchaffer opened #4095 "Installation: Does installation proceed as outlined in the documentation?"

[2022-01-23 17:43] whedon commented on #4095
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-01-23 17:43] #4095 closed

[2022-01-23 17:44] AustinTSchaffer commented on #4095
Sorry, clicked the wrong button in the review thread.

[2022-01-23 18:24] AustinTSchaffer commented on #4061
@kasbot I left 2 issue threads on the repository about clarifying the installation steps, OS-compatibility, and community guidelines. I believe this submission is overall a high quality project, apart from a few minor clarifications that could be added to the readme. I love that the repository includes links to videos that show how the software works and what it does, which was helpful in determin

[2022-01-23 18:24] Nikoleta-v3 commented on #3738
1. 👍🏻
2. Please archive the repository! In case you are not familiar, Zenodo and Github work quite nicely together ([Referencing and citing content](https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content)). You can create an archive by selecting the repo and a tagged release. I can see that you haven't made a tagged release of the software on GitHub: [

[2022-01-23 18:41] jpdunc23 commented on #3895
Thank you!

[2022-01-23 18:54] rkurchin commented on #3727
Hi again @kostergroup @ljakoster, just checking in on this!

[2022-01-23 18:54] rkurchin commented on #3992
@justinshenk reminder to finish this up, we're almost there! 🚀

[2022-01-23 18:59] rkurchin commented on #3935
@sangpham171, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-23 19:47] smchartrand commented on #4091
Just a note that I have addressed the doi issues raised above by @whedon during the pdf build process.

[2022-01-23 20:58] cgurrr commented on #4012
Hi @martejulie, we now released version 0.3 and updated the documentation (it is now on readthedocs with continuous updates).

[2022-01-23 21:04] markheckmann commented on #3292
Dear @gkthiruvathukal , thanks for following up on this! I will definitely be able to make the changes by the end of February.

[2022-01-23 21:52] sangpham171 commented on #3935
Hello, I can do it with pleasure. But these days I have a lot of projects to finish, so maybe it will be a bit late.

[2022-01-23 23:32] milnus commented on #4007
No worries about the delay.
Here are two reviewer suggestions, from the list of existing reviewers:
asafpr
ayaanhossain

[2022-01-23 23:33] mbhall88 commented on #3941
Hi @mikldk I have merged `joss_paper` into `master` and tagged a release with v0.6.1. It's on Zenodo at https://doi.org/10.5281/zenodo.5895111

[2022-01-24 01:54] AlphonsG commented on #4080
Hello @jmschrei, just want to confirm if [these](https://github.com/AlphonsG/Rainbow-Optical-Flow-For-ALI/issues/21) suggestions/questions should be there or in this issue page?

[2022-01-24 02:05] jmschrei commented on #4080
Either way, but it makes more sense to me for issues to be opened in that repo and resolved there, and high level remarks, such as saying that he review is done, are reported here.

[2022-01-24 02:10] AlphonsG commented on #4080
Alright no problem, thanks.

[2022-01-24 02:24] mjsottile commented on #3896
:wave: @slayoo Hello again.  I promise I haven't forgotten about your submission.  I have been reaching out to potential reviewers via email since contacting people via GitHub has proven to be ineffective for some reason.  I really hope I can get this review kickstarted again soon with responsive reviewers.  Thanks for your patience.

[2022-01-24 02:34] cmbiwer commented on #3998
I've gone through the package again after the installation was updated. The package is well documented and the automated tests have good coverage. I marked off nearly every item on the checklist. However, the only functionality I have found not working on the ``main`` branch is still the unit error using ``plot_sensitivity_curve`` and also ``ax.fill_between`` that was reported here: https://github

[2022-01-24 02:54] dpsanders commented on #3866
👋 @krystophny and @sweichwald: Many thanks for your reviews and comments; apologies for the delay here.

@kellertuer: Many apologies for the long delay. I'll proceed to check through the latest version of the paper.

[2022-01-24 02:55] dpsanders commented on #3866
@whedon generate pdf from branch joss

[2022-01-24 02:55] whedon commented on #3866
[code]

[2022-01-24 02:55] whedon commented on #3866
It looks like this paper includes an ORCID (0000-0003-0872-7098) that is probably not correct.

[2022-01-24 02:55] whedon commented on #3866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: :point_left:

[2022-01-24 02:59] dpsanders commented on #3747
@lscalfi: Many thanks for your detailed review. I'll re-invite you

[2022-01-24 03:00] dpsanders commented on #3747
@whedon commands

[2022-01-24 03:00] whedon commented on #3747
Here are some things you can ask me to do:

[code]

[2022-01-24 03:00] dpsanders commented on #3747
@whedon re-invite @lscalfi as reviewer

[2022-01-24 03:00] whedon commented on #3747
OK, the reviewer has been re-invited.

@lscalfi please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-24 03:08] emdupre commented on #4067
:wave: Hi @seankmartin, @richrobe, @semihakbayrak, @patrickmineault !

Would you be willing to review _pymdp: A Python library for active inference in discrete state spaces_ for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org/)?

You can learn more about reviewing for JOSS -- including our conflict of interest policy -- [here](https://joss.readthedocs.io/en/latest/reviewer_guid

[2022-01-24 04:14] majensen commented on #4002
Hello @rvhonorato - would you be willing to review [this work](#4002) for [JOSS](https://joss.theoj.org)? I would appreciate your expertise here. Please let me by responding to this thread or reaching out to me at maj \-dot\- fortinbras \-at\- gmail \-dot\- com. Thanks for your consideration!

[2022-01-24 04:18] majensen commented on #4002
Hi @dhimmel - would you be available to review [this work](#4002) for [JOSS](https://joss.theoj.org)? Your experience and expertise would be great to have - please let me know on this thread or at maj -dot- fortinbras -at- gmail -dot- com. Thanks for your consideration! --@majensen

[2022-01-24 04:39] samanmostafavi commented on #3861
@fraukewiese  As far as those questions are concerned yes. @FWuellhorst your updates look good to me.
As far as the rest of the review goes, I am testing the software. I plan to finish my review soon. Thank you both for your patience.

[2022-01-24 04:39] jingnanshi commented on #3884
@gkthiruvathukal I have completed my review (waiting for authors' feedbacks on the reference format).

[2022-01-24 04:44] gkthiruvathukal commented on #3884
Thank you, @jingnanshi! Will await input from @ricopicone.

[2022-01-24 05:15] kellertuer commented on #3866
Cool! Ah and sorry I somehow scrambled my orcid. Just fixed that.

[2022-01-24 05:15] kellertuer commented on #3866
@whedon generate pdf from branch joss

[2022-01-24 05:15] whedon commented on #3866
[code]

[2022-01-24 05:16] whedon commented on #3866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: :point_left:

[2022-01-24 05:22] kellertuer commented on #3866
And carefully checking the paper (in the just generated pdf) I just found one type (a missing ` at the end of a code markup). But the rest seems fine.

[2022-01-24 07:10] ljakoster commented on #3727
@rkurchin: thanks. We're almost done!

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Sun, Jan 23, 2022 at 7:54 PM Rachel Kurchin ***@***.***>
wrote:

[2022-01-24 07:45] richrobe commented on #4067
Hi @emdupre, sorry, I can't do a review right now :/ Hopefully next time!

Best,
Robert

[2022-01-24 07:51] jbytecode commented on #3991
@jbcaillau just because you wrote

in your previous entries, may I ask if you forgot to check the corresponding reviewing item? (and possibly others?)

Thank you.

[2022-01-24 07:56] jbytecode commented on #3965
Well, it seems @mkitti has got only one unchecked items in their task list (thank you!), and @pitsianis has got many (thank you too!).

@pitsianis  Since we are a little bit ahead of the normal reviewing times could you please continue reviewing?

[2022-01-24 08:19] TimKam commented on #3948
@bramvandijk88 responded rather promptly and we have concluded the revisions and discussions regarding my review. I have now completed the review checklist.

[2022-01-24 09:06] aaronpeikert commented on #3671
@AP6YC  I am almost satisfied (as soon as you merge dev and formally release a new version). The only thing that prevents me from ticking a box is https://github.com/AP6YC/AdaptiveResonance.jl/issues/23

While I do not consider them blocking, https://github.com/AP6YC/AdaptiveResonance.jl/issues/28 & https://github.com/AP6YC/AdaptiveResonance.jl/issues/25 would really increase the value of the pape

[2022-01-24 09:15] seankmartin commented on #4067
Hi @emdupre

Sure, I'm good to review pymdp!

[2022-01-24 09:30] rvhonorato commented on #4002
Thanks for considering me for reviewing this but unfortunately I won't have time to do it in the coming weeks. It looks like a very interesting paper, good luck!

[2022-01-24 09:36] cthoyt commented on #4002
Hi @majensen @bgyori the group behind https://github.com/dmis-lab/BERN2 seems to actively be looking for NEN solutions to improve their NER system, so I suggested on their issue tracker that Gilda would be an appropriate solution. Its lead author `@mjeensung` might be appropriate to invite as a reviewer as they may be looking to the software already.

[2022-01-24 09:51] bramvandijk88 commented on #3948
@TimKam not sure if this is intended, but one of your checkboxes is still unticked.

[2022-01-24 10:00] mjw98 commented on #3658
Thank you, @mbarall , for the thorough review.

[2022-01-24 10:01] mjw98 commented on #3658
Thanks @nvanderelst for the useful review!

[2022-01-24 10:02] justusschock commented on #4008
@taless474 Sorry for asking again, but is there something we can do to speed up the process?

[2022-01-24 10:11] eloisabentivegna commented on #2555
Update: a private request has been sent to the reviewers, asking for the final thoughts.

[2022-01-24 10:16] TimKam commented on #3948
Thx, now it's ticked!

[2022-01-24 11:06] JasonGellis commented on #3738
Hi @Nikoleta-v3
1) The software has been tagged v1.0.0
2) The repo/software are now archived on Zenodo
3) The metadata on Zenodo is correct
4) https://zenodo.org/badge/latestdoi/303727518

[2022-01-24 11:24] semihakbayrak commented on #4067
Hi @emdupre! Unfortunately I am not available. Bests!

[2022-01-24 11:53] whedon commented on #4045
:wave: @peircej, please update us on how your review is going (this is an automated reminder).

[2022-01-24 11:53] whedon commented on #4045
:wave: @ixjlyons, please update us on how your review is going (this is an automated reminder).

[2022-01-24 12:00] Nikoleta-v3 commented on #3738
@whedon set 10.5281/zenodo.5897149 as archive

[2022-01-24 12:00] whedon commented on #3738
OK. <a href="https://doi.org/10.5281/zenodo.5897149" target="_blank">10.5281/zenodo.5897149</a> is the archive.

[2022-01-24 12:00] Nikoleta-v3 commented on #3738
@whedon set v1.0.0 as version

[2022-01-24 12:00] whedon commented on #3738
OK. v1.0.0 is the version.

[2022-01-24 12:01] Nikoleta-v3 commented on #3738
@whedon recommend-accept

[2022-01-24 12:01] whedon commented on #3738
[code]

[2022-01-24 12:01] whedon commented on #3738
[code]

[2022-01-24 12:02] whedon commented on #3738
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2904

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2904, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-24 12:02] Nikoleta-v3 commented on #3738
Please note that the missing DOI that whedon is recommending is the DOI to a review of the book.

[2022-01-24 12:03] Nikoleta-v3 commented on #3738
Thank you all for your work! 🚀🙏🏻

[2022-01-24 12:20] JasonGellis commented on #3738
@Nikoleta-v3 There is  an error in the author order

[2022-01-24 12:54] JasonGellis commented on #3738
@Nikoleta-v3 While I'm waiting to sort out hte issue with Zenodo, how do I see a copy of the paper? I followed the link above and coudn't generate a PDF.

[2022-01-24 12:57] Nikoleta-v3 commented on #3738
@whedon generate pdf

[2022-01-24 12:58] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2022-01-24 13:01] JasonGellis commented on #3738
@Nikoleta-v3 Ok, thank you for this. I've sorted what's happened with Zenodo. I manually changed the metadata file through their website, not realizing it was drawing infomation from the CFF file in the repo. I had hit save and thought that is was all sorted. I will update you ASAP. The paper looks good (and author names are in correct order)! Thank you for all your help.

[2022-01-24 13:06] MLRichter commented on #3992
https://github.com/delve-team/delve/pull/65

This PR should address all remaining issues.
Please briefly read through my changed made in line 104-105 regarding the covariance matrix and let me know if this satisfies you.

[2022-01-24 13:44] cc-a commented on #3824
@crvernon Thanks for the paper feedback. This has now been incorporated to the `joss` branch.

[2022-01-24 13:47] mikldk commented on #3941
@whedon set 10.5281/zenodo.5895111 as archive

[2022-01-24 13:47] whedon commented on #3941
OK. <a href="https://doi.org/10.5281/zenodo.5895111" target="_blank">10.5281/zenodo.5895111</a> is the archive.

[2022-01-24 13:48] mikldk commented on #3941
@whedon set v0.6.1 as version

[2022-01-24 13:48] whedon commented on #3941
OK. v0.6.1 is the version.

[2022-01-24 13:48] mikldk commented on #3941
@mbhall88: Can you add "B." initial to Zenodo? (Or remove it from the paper.)

[2022-01-24 13:49] eviatarbach commented on #3766
Excellent, thank you for the fast reply! The performance comparisons are quite helpful. Everything looks good to me now.

[2022-01-24 14:49] jgostick commented on #4063
Not to worry, I found someone.

[2022-01-24 14:50] jgostick commented on #4093
@whedon add @blthayer as reviewer

[2022-01-24 14:50] whedon commented on #4093
OK, @blthayer is now a reviewer

[2022-01-24 14:50] mkitti commented on #3965
Correct. I have a few outstanding questions above.

It would be nice to clarify the segmentation fault or have some note that it is currently expected with VTK 9.1 on some operating systems.

[2022-01-24 14:54] jgostick commented on #4093
Hi @blthayer and @SarthakJariwala.  Thank you for being a reviewer for JOSS.  At the top of this thread you will see a checklist for you to use as a guideline for your review.  At JOSS we generally work with the authors to help them get their submission into publishable form (if it is not already), so you can interact with them here or on their repo regarding any changes you think are needed.  Rem

[2022-01-24 14:59] VivianePons commented on #3849
Probably because I added @ian-bunner afterward

[2022-01-24 14:59] VivianePons commented on #3849
@whedon re-invite @ian-bunner

[2022-01-24 14:59] whedon commented on #3849
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-24 14:59] VivianePons commented on #3849
@whedon reinvite @ian-bunner

[2022-01-24 14:59] whedon commented on #3849
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-24 15:03] whedon commented on #3849
The reviewer already has a pending invite.

@ian-bunner please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-24 15:29] dhimmel commented on #4002
Yes

[2022-01-24 15:36] pitsianis commented on #3965
I will trry to wrap up my review this week

[2022-01-24 15:38] bkmi commented on #4086
Just saw this thread, sorry for the slow reply. I will certainly look at those missing DOIs tomorrow!

[2022-01-24 15:47] whedon opened #4096 "[PRE REVIEW]: Fast k-medoids Clustering in Rust and Python"
**Submitting author:** @kno10 (<a href="http://orcid.org/0000-0001-9143-4880">Erich Schubert</a>)
**Repository:** <a href="https://github.com/kno10/python-kmedoids.git" target ="_blank">https://github.com/kno10/python-kmedoids.git</a>
**Version:** 0.2.0
**Editor:** @mikldk
**Reviewers:** @timClicks, @TahiriNadia
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due

[2022-01-24 15:47] whedon commented on #4096
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-24 15:47] whedon commented on #4096
PDF failed to compile for issue #4096 with the following error:
[code]

[2022-01-24 15:48] arfon commented on #4096
@whedon generate pdf from branch JOSS-draft

[2022-01-24 15:48] whedon commented on #4096
[code]

[2022-01-24 15:48] whedon commented on #4096
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04096/joss.04096/10.21105.joss.04096.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04096/joss.04096/10.21105.joss.04096.pdf) :page_facing_up: :point_left:

[2022-01-24 15:52] dr-suhadalishaheed commented on #3393
- [ ] @arfon

[2022-01-24 15:52] dr-suhadalishaheed commented on #3393
- [ ] []()
be save

[2022-01-24 15:53] dr-suhadalishaheed commented on #3393
- [ ] Hi 👋

[2022-01-24 15:59] fabian-s commented on #4086
Sorry for the late reply -- I'd rather not, since I don't know Python and the problem this package solves is outside my area of expertise.

[2022-01-24 16:00] pitsianis commented on #3965
@whedon generate pdf

[2022-01-24 16:01] whedon commented on #3965
PDF failed to compile for issue #3965 with the following error:
[code]

[2022-01-24 16:05] jbytecode commented on #3965
@pitsianis whedon successfully compiles the pdf, as in http://res.cloudinary.com/hkvhhndao/image/upload/v1643040300/wkkkql3ryhyiejpyqona.pdf

and I will try it again here

[2022-01-24 16:06] jbytecode commented on #3965
@whedon generate pdf

[2022-01-24 16:06] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2022-01-24 16:49] kbarnhart commented on #3658
@whedon check references

[2022-01-24 16:50] kbarnhart commented on #3658
@whedon generate pdf

[2022-01-24 16:50] whedon commented on #3658
PDF failed to compile for issue #3658 with the following error:
[code]

[2022-01-24 16:51] kbarnhart commented on #3658
@whedon generate pdf from branch pycsep_joss

[2022-01-24 16:51] whedon commented on #3658
[code]

[2022-01-24 16:52] whedon commented on #3658
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03658/joss.03658/10.21105.joss.03658.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03658/joss.03658/10.21105.joss.03658.pdf) :page_facing_up: :point_left:

[2022-01-24 16:52] kbarnhart commented on #3658
@whedon check references from branch pycsep_joss

[2022-01-24 16:52] whedon commented on #3658
[code]

[2022-01-24 16:52] whedon commented on #3658
[code]

[2022-01-24 17:08] kno10 commented on #4096
Thank you @arfon!
The majority of the code lives in the Rust sister repository (we maybe should have put the paper draft there - the python part really is just a wrapper, but will likely have many more users) - maybe you can run whedon statistics on that repository instead:
https://github.com/kno10/rust-kmedoids
and of course much of the scholarly effort previously went into the Java version - the

[2022-01-24 17:36] kbarnhart commented on #3658
@wsavran @mjw98 and co-authors:

Please address the following:
- [ ] fix the missing and invalid DOIs listed above
- [ ] consistent formatting of pyCSEP in the manuscript (e.g., line 12 different from line 16)
- [ ] remove the "type" entry in the .bib file (e.g., type = {Journal Article})
- [ ] line 165: I think the i before the colon should be capitalized (enclose in curly braces)

Sorry to miss

[2022-01-24 17:45] MLRichter commented on #3992
@whedon generate pdf

[2022-01-24 17:46] whedon commented on #3992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: :point_left:

[2022-01-24 17:52] alex2cris commented on #3790
@whedon generate pdf

[2022-01-24 17:53] whedon commented on #3790
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03790/joss.03790/10.21105.joss.03790.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03790/joss.03790/10.21105.joss.03790.pdf) :page_facing_up: :point_left:

[2022-01-24 17:57] ekinney-lang commented on #3701
Hey @oliviaguest - Sorry, just seeing this now.

I could potentially look and review sometime mid February (week of Feb. 17th?) if that works. Sorry for the delay again. Let me know, and if you need it earlier, I totally understand.

Thanks for thinking of me!

[2022-01-24 18:21] christinahedges commented on #4017
@DougBurke just checking in, how is your review coming?

[2022-01-24 18:59] whedon opened #4097 "[PRE REVIEW]: pyemgpipeline: A Python package for electromyography processing"
**Submitting author:** @tlwu (<a href="http://orcid.org/0000-0002-1823-6818">Tsung-Lin Wu</a>)
**Repository:** <a href="https://github.com/aalhossary/pyemgpipeline" target ="_blank">https://github.com/aalhossary/pyemgpipeline</a>
**Version:** v0.1.0
**Editor:** @osorensen
**Reviewers:** @tuliofalmeida
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2022-01-24 18:59] whedon commented on #4097
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-24 18:59] whedon commented on #4097
Wordcount for `paper.md` is 700

[2022-01-24 18:59] whedon commented on #4097
[code]

[2022-01-24 18:59] whedon commented on #4097
[code]

[2022-01-24 18:59] whedon commented on #4097
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04097/joss.04097/10.21105.joss.04097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04097/joss.04097/10.21105.joss.04097.pdf) :page_facing_up: :point_left:

[2022-01-24 19:16] wcwitt commented on #4040
I've managed to install the interface package, and I'm working on installing the rest (it took a while to get FHI-aims - thanks @Evmoerman for your help with that!).

My main initial reaction is that a full example is really necessary (also mentioned by @awvwgk https://gitlab.com/moerman1/fhi-cc4s/-/issues/5).

The paper and documentation also suggest it should be straightforward to use this inter

[2022-01-24 19:39] cgurrr commented on #4012
@whedon generate pdf

[2022-01-24 19:39] Evmoerman commented on #4040
@wcwitt Currently, CC-aims is only used in combination with FHI-aims. This is merely the result of me working at the Fritz-Haber-Institute, in the group which develops the FHI-aims code.
However, there is nothing in CC-aims, which assumes that FHI-aims is the ab-initio code being used. The quantities required by CC-aims can be provided by any code which meets the criteria stated in the documentati

[2022-01-24 19:40] whedon commented on #4012
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: :point_left:

[2022-01-24 19:48] cgurrr commented on #4012
@whedon generate pdf

[2022-01-24 19:48] whedon commented on #4012
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: :point_left:

[2022-01-24 20:10] awvwgk commented on #4040
On that note it might be worth to compare to Crystal/Cryscor ([_Phys. Chem. Chem. Phys._, **2012**,14, 7615-7628](https://doi.org/10.1039/C2CP23927B)) since the general design of FHI-aims/CC-aims seems similar on the first glance. Also, what (open source) QC programs would be primary targets for interfacing with CC-aims?

[2022-01-24 20:11] majensen commented on #4002
@whedon assign @dhimmel as reviewer

[2022-01-24 20:11] whedon commented on #4002
OK, @dhimmel is now a reviewer

[2022-01-24 20:34] mkitti commented on #3965
Let me be more specific:
1. Is there a version of VTK that does not result in a segmentation fault on Windows and Linux? Does 9.0 work?
2. Can we do a `git bisect` on https://github.com/Kitware/VTK to narrow down the causing commit?
3. Can we point an bug report or issue with VTK on this issue? Perhaps this already describes the issue?
https://gitlab.kitware.com/vtk/vtk/-/issues/18372

[2022-01-24 20:42] lilyminium commented on #4005
Hi there, just checking in on the progress of this submission.

[2022-01-24 21:06] csoneson commented on #4069
@whedon assign @csoneson as editor

[2022-01-24 21:06] whedon commented on #4069
OK, the editor is @csoneson

[2022-01-24 21:07] csoneson commented on #4069
👋🏻 @Sulstice - I'll handle your submission and start by looking for suitable reviewers. If you have suggestions, please mention them here (but don't tag them with `@`). Thanks!

[2022-01-24 21:15] rkurchin commented on #3992
@whedon check references

[2022-01-24 21:15] whedon commented on #3992
[code]

[2022-01-24 21:15] rkurchin commented on #3992
@whedon recommend-accept

[2022-01-24 21:16] whedon commented on #3992
[code]

[2022-01-24 21:16] whedon commented on #3992
[code]

[2022-01-24 21:16] whedon commented on #3992
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2905

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2905, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-24 21:16] Sulstice commented on #4069
Hey @csoneson, thanks for accepting.

Perhaps these folk if they are available?

- olivertomic (Don't know if he is still here with JOSS)
- richardjgowers
- lucydot

What do you think?

[2022-01-24 21:49] Evmoerman commented on #4040
Indeed, CRYSTAL would be a great candidate, as it provides a localized basis+density fitting but - as far as I remember - only offers MP2. Hence, an interface to CC4S would expand its range of functionality immensely.
Another code, which would very likely benefit from an interface like CC-aims is QuantumATK, which is not open-source but free-ware for academic use.
It is hard to come up with a list

[2022-01-24 22:00] magedhelmy1 commented on #4087
Hi @kyleniemeyer , I hope you had a good weekend.

In addition to the previous answer, I include a detailed answer below to each point in the link [shared](https://joss.readthedocs.io/en/latest/submitting.html).

### Submission requirements

- [X] The software must be open source as per the OSI definition.
- [X] The software must have an obvious research application.

- [X] You must be a major con

[2022-01-24 22:27] mbhall88 commented on #3941
Changed on Zenodo.

[2022-01-25 00:13] patrickmineault commented on #4067
@emdupre I can do it

[2022-01-25 00:55] emdupre commented on #4067
Hi everyone, thanks for your quick responses !

I'll go ahead and add @seankmartin and @patrickmineault as reviewers for this submission and start the review process :rocket:

[2022-01-25 00:55] emdupre commented on #4067
@whedon add @seankmartin as reviewer

[2022-01-25 00:55] whedon commented on #4067
OK, @seankmartin is now a reviewer

[2022-01-25 00:56] emdupre commented on #4067
@whedon add @patrickmineault as reviewer

[2022-01-25 00:56] whedon commented on #4067
OK, @patrickmineault is now a reviewer

[2022-01-25 00:57] emdupre commented on #4067
@whedon start review

[2022-01-25 00:57] whedon opened #4098 "[REVIEW]: pymdp: A Python library for active inference in discrete state spaces"
**Submitting author:** @conorheins (<a href="http://orcid.org/0000-0002-5884-7728">Conor Heins</a>)
**Repository:** https://github.com/infer-actively/pymdp
**Branch with paper.md** (empty if default branch): master
**Version:** v0.0.5
**Editor:** @emdupre
**Reviewers:** @seankmartin, @patrickmineault
**Archive:** 10.5281/zenodo.6484849

**:warning: JOSS reduced service mode :warning:**

Due to the

[2022-01-25 00:57] whedon commented on #4067
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4098.

[2022-01-25 00:57] #4067 closed

[2022-01-25 00:57] whedon commented on #4098
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @seankmartin, @patrickmineault it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2022-01-25 00:58] whedon commented on #4098
[code]

[2022-01-25 00:58] whedon commented on #4098
PDF failed to compile for issue #4098 with the following error:
[code]

[2022-01-25 00:59] emdupre commented on #4098
@whedon generate pdf from branch paper_branch

[2022-01-25 00:59] whedon commented on #4098
[code]

[2022-01-25 00:59] whedon commented on #4098
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04098/joss.04098/10.21105.joss.04098.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04098/joss.04098/10.21105.joss.04098.pdf) :page_facing_up: :point_left:

[2022-01-25 01:00] emdupre commented on #4098
@whedon check references from branch paper_branch

[2022-01-25 01:00] whedon commented on #4098
[code]

[2022-01-25 01:00] whedon commented on #4098
[code]

[2022-01-25 01:02] emdupre commented on #4098
Hi everyone :wave: Thanks again for agreeing to review this submission ! The review will take place in this issue.

Whenever possible, please open relevant issues on the [linked software repository ](https://github.com/infer-actively/pymdp)(and cross-link them with this issue) rather than discussing them here. This helps to make sure that feedback is translated into actionable items to improve the

[2022-01-25 01:07] shamsiharis commented on #3861
@FWuellhorst Errors have been fixed. The examples all run smoothly now.

I keep getting just this small error in the **Tutorial** under **Advanced Calibration>> Multiple classes calibration**.

ERROR FMU_API: Error: Scalar system is always singular, it may be possible to evaluate parameters to avoid this, for valve.Kv = ((if valve.LinearCharacteristic then valve.kv0+(1-valve.kv0)*valve.yLim/valve.

[2022-01-25 02:33] tlwu commented on #4097
@whedon commands

[2022-01-25 02:33] whedon commented on #4097
Here are some things you can ask me to do:

[code]

[2022-01-25 03:47] henrykironde commented on #3994
software is well packaged to the standard and satisfies substantial scholarly effort. However, we should confirm the submission as @tuelwer mentioned

@akaptano thank you for submitting this package. The YouTube videos on PySINDy, made everything move smoothly, and I am sure the users find it easy to use the tool.

[2022-01-25 04:55] arokem commented on #3124
@conradsnicta @vchuravy @abuccts: would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [Logodetect: One-shot detection of logos in image and video data, a Python package for detecting logos in ima

[2022-01-25 07:05] mikldk commented on #3941
@whedon check references

[2022-01-25 07:05] whedon commented on #3941
[code]

[2022-01-25 07:07] mikldk commented on #3941
@whedon recommend-accept

[2022-01-25 07:07] whedon commented on #3941
[code]

[2022-01-25 07:07] whedon commented on #3941
[code]

[2022-01-25 07:07] whedon commented on #3941
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2906

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2906, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-25 10:57] hugoledoux commented on #4018
@whedon assign @Shiming94 as reviewer

[2022-01-25 10:57] whedon commented on #4018
OK, @Shiming94 is now a reviewer

[2022-01-25 11:35] matthieuaussal commented on #3965
@mkitti
We add a community guidelines at the root of the castor repertory :
--> https://github.com/leprojetcastor/castor/blob/master/CONTRIBUTING.md

We can't back to VTK8.2 because it's not the same API (no retro-compatibility). To fix it, we have to rewrite the major part of graphics.hpp, because the segfault is due to a pointers clearing inside the VTK function :

--> vtkContextView::GetInterac

[2022-01-25 12:00] seankmartin commented on #4098
Cool, thanks!
I should be able to get to doing the review fairly soon

[2022-01-25 12:01] seankmartin commented on #4098
@whedon commands

[2022-01-25 12:01] whedon commented on #4098
Here are some things you can ask me to do:

[code]

[2022-01-25 12:27] kostergroup commented on #3727
@roderickmackenzie

ANS

OK, thanks for bearing with us. We have opted for option 2. So, we have implemented the possibility of defining multiple trap levels (either bulk or interfacial). To validate the approach, we have put in a distribution of bulk trap levels below the conduction band that follows an Urbach tail of 100 meV and analysed the data as per your publication. We get the following:

S

[2022-01-25 13:55] roderickmackenzie commented on #3727
Good effort! And thanks for all your work. My only final suggestion is that you put a paragraph in the manual saying that a distribution of trap states are important when simulating disordered materials. That way people won't be tempted to run simulations/publish papers with no traps. best, Rod

[2022-01-25 14:03] dhhagan commented on #3820
@whedon set 10.5281/zenodo.5838361 as archive

[2022-01-25 14:03] whedon commented on #3820
OK. <a href="https://doi.org/10.5281/zenodo.5838361" target="_blank">10.5281/zenodo.5838361</a> is the archive.

[2022-01-25 14:04] whedon commented on #3820
OK. v1.2 is the version.

[2022-01-25 14:04] dhhagan commented on #3820
@whedon recommend-accept

[2022-01-25 14:04] whedon commented on #3820
[code]

[2022-01-25 14:04] whedon commented on #3820
[code]

[2022-01-25 14:05] whedon commented on #3820
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2907

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2907, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-25 14:06] dhhagan commented on #3219
Hey @slayoo I am going to try to reach Dan R. offline to see if he can finish this up before needing to find another reviewer. Sorry for the delay here!

[2022-01-25 14:08] lucydot commented on #3898
@whedon generate pdf from branch joss

[2022-01-25 14:08] whedon commented on #3898
[code]

[2022-01-25 14:13] lucydot commented on #3898
Excellent @tcaduser we are at the final steps now.

Please can you do the following:
- Make a tagged release of your software
- Archive this release on Zenodo (or similar)
  - The archive should have exactly the same title and author list as your JOSS paper
 - Report the archive DOI and version number in this thread

[2022-01-25 14:21] bkmi commented on #4086
@whedon check references from branch joss-submission-do-not-delete

[2022-01-25 14:21] whedon commented on #4086
[code]

[2022-01-25 14:23] whedon commented on #4086
[code]

[2022-01-25 14:28] arfon commented on #4083
@jcheong0428 – thanks for your submission to JOSS. Unfortunately after review, the JOSS editorial team has decided this submission is not in scope for JOSS.

The primary challenge we see here is that software cannot reasonably be reviewed by others by virtue of the fact that all of the source code is contained in one large JavaScript file.

For this project to be considered for review in JOSS we w

[2022-01-25 14:28] arfon commented on #4083
@whedon reject

[2022-01-25 14:29] whedon commented on #4083
Paper rejected.

[2022-01-25 14:29] #4083 closed

[2022-01-25 14:33] ajstewartlang commented on #3764
@zbeekman It would be helpful if you could check off the final points in your checklist soon. Please reach out if you are having any issues.

[2022-01-25 14:36] dhhagan commented on #3690
@whedon scope query

[2022-01-25 14:36] lucydot commented on #3993
Hello @altavir - regarding state of the field: we do not usually require that there is a quantative comparison made with other  software. This section can include a qualitative comparison of functionality against other existing software (as is the case here), however if performance claims are made (e.g. that it runs faster) this must be backed up. As performance claims are not made for this code (

[2022-01-25 14:36] whedon commented on #3690
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-25 14:36] dhhagan commented on #3690
@whedon query scope

[2022-01-25 14:56] tlwu commented on #4097
Based on the preferred programming languages and domains/topic areas in the [list](https://bit.ly/joss-reviewers), potential reviewers are as follows:
(row id in the list) username or email

(1804) (email) gcarreno@iee.org
(951) GerJuli
(741) abhishektha
(489) ixjlyons
(482) melund
(63) trallard
(44) moorepants

[2022-01-25 14:57] lucydot commented on #3742
Hi @bonh @WilkAndy, have either of you been able to succesfully run the tests after installation? As highlighted above, this is the current sticking point. The relevant issue thread (uw-comphys/opencmp#19) has been updated and apt-get has been suggested rather than using conda for install.

[2022-01-25 15:07] bkmi commented on #4086
May I suggest @dfm as editor? If he's willing, of course. Although generally applicable to simulation-based inference, our software is utilized in astrophysics papers.

[2022-01-25 15:44] Nikoleta-v3 commented on #3738
🤔 I am not sure which date Zenodo uses as the default - I would have thought that it would use the release date. Anyways, you can edit the upload manually if you want and you can change the date to be the same as the date of the release. Picture for example:

<img src="https://user-images.githubusercontent.com/19708408/151009185-126eac96-7446-4542-9bcf-153bcef0b990.png" alt="drawing" width="500"/>

[2022-01-25 15:44] Nikoleta-v3 commented on #3738
@JasonGellis 😄

[2022-01-25 15:55] altavir commented on #3993
@lucydot the problem in this particular case is the only aim of this piece of software is a simulation of a specific process. Without a comparison, it is not possible to decide if the aim of the development is achieved. In simulations it is quite easy to get completely wrong result even with correct theory. Therefore, I believe that at least some comparison should be made. Eithere with an experime

[2022-01-25 16:13] pdebuyl commented on #4005
Hi @lilyminium sorry about this. I was getting another submission started and will look for reviewers quickly.

[2022-01-25 16:50] JasonGellis commented on #3738
@Nikoleta-v3
1) Ok, I've changed this in the fields that you've shown. I'm guessing once I hit publish on the Zenodo page that it will change everything. Is this correct?
2) I've updated the images in the paper to all be the same size. The proof you listed above doesn't show this change. I've checked it in the Whendon Paper Preview Service, and it looks correct. These correctly sized images are no

[2022-01-25 18:06] villaa commented on #3993
@lucydot @altavir we are committed to putting in the comparison with Geant4 at this point in any case. We also already have regression tests in the queue to be released. So, perhaps those things will be enough to satisfy all.

[2022-01-25 18:11] arfon commented on #3998
⚡  thanks for the update @cmbiwer. @TomWagg - over to you here on next steps here.

[2022-01-25 18:14] TomWagg commented on #3998
Yeah thanks @cmbiwer! Indeed, we're on it @arfon, once we merge [PR #87](https://github.com/TeamLEGWORK/LEGWORK/pull/87) I think we'll be good to go! 😄

[2022-01-25 18:26] AustinTSchaffer commented on #4071
@adi3 I have some concerns about this submission that I believe extend beyond minor technicalities. In my view, this project misses the mark on [the JOSS guidelines for substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), apart from the total number of lines of code. I am not sure how to proceed with the review of this project, so I'd j

[2022-01-25 19:01] McWhity commented on #3337
@pdebuyl: SenSARP is now archived on zenodo. The DOI is [10.5281/zenodo.5903483](https://zenodo.org/record/5903484) (Version v0.2).

[2022-01-25 20:23] pdebuyl commented on #3337
@whedon set v0.2 as version

[2022-01-25 20:24] whedon commented on #3337
OK. v0.2 is the version.

[2022-01-25 20:24] pdebuyl commented on #3337
@whedon set 10.5281/zenodo.5903483 as archive

[2022-01-25 20:24] whedon commented on #3337
OK. <a href="https://doi.org/10.5281/zenodo.5903483" target="_blank">10.5281/zenodo.5903483</a> is the archive.

[2022-01-25 20:25] pdebuyl commented on #3337
Thank you @McWhity for the update

[2022-01-25 20:39] pdebuyl commented on #3337
@whedon recommend-accept

[2022-01-25 20:39] whedon commented on #3337
[code]

[2022-01-25 20:39] whedon commented on #3337
[code]

[2022-01-25 20:40] whedon commented on #3337
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2908

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2908, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-25 20:40] pdebuyl commented on #3337
Note to the EiC: I accepted to perform the functionality check in place of the second reviewer for availability reasons.

[2022-01-25 20:48] akaptano commented on #3994
Hopefully last thing... added funding acknowledgment for Zach

[2022-01-25 20:48] akaptano commented on #3994
@whedon generate pdf

[2022-01-25 20:50] whedon commented on #3994
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: :point_left:

[2022-01-25 21:03] wsavran commented on #3658
@whedon check references from branch pycsep_joss

[2022-01-25 21:03] whedon commented on #3658
[code]

[2022-01-25 21:03] wsavran commented on #3658
@whedon generate pdf from branch pycsep_joss

[2022-01-25 21:03] whedon commented on #3658
[code]

[2022-01-25 21:03] whedon commented on #3658
[code]

[2022-01-25 21:04] whedon commented on #3658
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03658/joss.03658/10.21105.joss.03658.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03658/joss.03658/10.21105.joss.03658.pdf) :page_facing_up: :point_left:

[2022-01-25 21:04] taless474 commented on #4008
I apologize; we need to find someone
@richrobe, @smith42, @sergioburdisso is any of you interested in reviewing this work?

[2022-01-25 21:55] whedon commented on #4050
:wave: @jhamman, please update us on how your review is going (this is an automated reminder).

[2022-01-25 21:55] whedon commented on #4050
:wave: @ammilten, please update us on how your review is going (this is an automated reminder).

[2022-01-25 21:55] whedon commented on #4050
:wave: @chuckaustin, please update us on how your review is going (this is an automated reminder).

[2022-01-25 21:56] dstansby commented on #4053
👋 all. I'm afraid I am away for the next two weeks, so won't get a complete review finished before then. I have done a preliminary pass of the documentation and code, checked off some items, and opened issues (linked in the original post) for other items that need resolving. When I get back I will finish running the examples given in the documentation to check they work as expected.

@samaloney, I

[2022-01-25 21:58] wsavran commented on #3658
https://zenodo.org/record/5904124

[2022-01-25 21:58] wsavran commented on #3658
@whedon generate pdf from branch pycsep_joss

[2022-01-25 21:58] whedon commented on #3658
[code]

[2022-01-25 21:59] whedon commented on #3658
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03658/joss.03658/10.21105.joss.03658.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03658/joss.03658/10.21105.joss.03658.pdf) :page_facing_up: :point_left:

[2022-01-25 22:09] elbeejay commented on #4050
Hi all, just to check-in and clarify - that is a 2 week reminder above. As JOSS is still in a "[reduced service mode](https://blog.joss.theoj.org/2020/05/reopening-joss)" due to COVID, we are looking for your reviews to be complete within 6 weeks total, which would be 4 weeks from today (Feb. 22).

We are of course understanding of any potential delays or personal issues which may prevent you from

[2022-01-25 23:58] kbarnhart commented on #3658
@wsavran what's the final version number? v0.5.2, yes?

[2022-01-25 23:59] kbarnhart commented on #3658
@whedon set 10.5281/zenodo.5904124 as archive

[2022-01-25 23:59] whedon commented on #3658
OK. <a href="https://doi.org/10.5281/zenodo.5904124" target="_blank">10.5281/zenodo.5904124</a> is the archive.

[2022-01-26 00:16] wsavran commented on #3658
@kbarnhart yes, v0.5.2, is the latest release

[2022-01-26 01:06] mbhall88 commented on #3941
Final proof looks good to me. Do I accept this or do you @mikldk?

[2022-01-26 02:10] TomWagg commented on #3998
[PR 87](https://github.com/TeamLEGWORK/LEGWORK/pull/87) is merged into LEGWORK (bringing us up to v.0.2.3)! 😁 I _think_ this means we have now addressed each of @cmbiwer's comments (but please do let me know if not!). If that's the case I think we'll also need the final go-ahead from @dbkeitel before moving forward 🙂

[2022-01-26 02:20] kbarnhart commented on #3658
@whedon set v0.5.2 as version

[2022-01-26 02:20] whedon commented on #3658
OK. v0.5.2 is the version.

[2022-01-26 02:21] kbarnhart commented on #3658
@whedon recommend-accept

[2022-01-26 02:21] whedon commented on #3658
[code]

[2022-01-26 02:21] whedon commented on #3658
PDF failed to compile for issue #3658 with the following error:
[code]

[2022-01-26 02:22] kbarnhart commented on #3658
@whedon recommend-accept from branch pycsep_joss

[2022-01-26 02:22] whedon commented on #3658
[code]

[2022-01-26 02:23] whedon commented on #3658
[code]

[2022-01-26 02:23] whedon commented on #3658
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2909

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2909, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-26 02:23] kbarnhart commented on #3658
@wsavran I've recommended that this paper be accepted. One of the @openjournals/joss-eics will handle the submission from here. Congratulations on contributing a valuable piece of research software. Many thanks to @nvanderelst and @mbarall for your reviews.

[2022-01-26 04:21] akaptano commented on #3994
@whedon generate pdf

[2022-01-26 04:22] whedon commented on #3994
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: :point_left:

[2022-01-26 04:22] akaptano commented on #3994
Fixed two typos, sorry about that.

[2022-01-26 04:22] akaptano commented on #3994
@whedon generate pdf

[2022-01-26 04:24] whedon commented on #3994
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: :point_left:

[2022-01-26 06:50] taqtiqa-mark commented on #3496
@sbenthall this is well outside my wheelhouse.  Apologies I couldn't be more help this time.

[2022-01-26 07:25] whedon commented on #4051
:wave: @EricaEgg, please update us on how your review is going (this is an automated reminder).

[2022-01-26 07:25] whedon commented on #4051
:wave: @mefuller, please update us on how your review is going (this is an automated reminder).

[2022-01-26 07:45] erling6232 commented on #4088
@whedon generate pdf

[2022-01-26 07:45] whedon commented on #4088
PDF failed to compile for issue #4088 with the following error:
[code]

[2022-01-26 07:46] erling6232 commented on #4088
@whedon generate pdf

[2022-01-26 07:47] whedon commented on #4088
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04088/joss.04088/10.21105.joss.04088.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04088/joss.04088/10.21105.joss.04088.pdf) :page_facing_up: :point_left:

[2022-01-26 07:51] mikldk commented on #3941
@mbhall88 Neither of us - an EiC will do that when they have checked that everything looks fine.

[2022-01-26 07:53] hugoledoux commented on #4018
@tpurcell90 @lucaferranti @ekorudiawan

I think you are suitable for this reviewer, if you are interested let me know here please!

[2022-01-26 07:58] erling6232 commented on #4088
@whedon generate pdf

[2022-01-26 07:59] whedon commented on #4088
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04088/joss.04088/10.21105.joss.04088.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04088/joss.04088/10.21105.joss.04088.pdf) :page_facing_up: :point_left:

[2022-01-26 08:09] carstenbauer commented on #3885
@meg-simula Sorry for the delay, I will finish my review by Monday.

[2022-01-26 08:19] fabian-s commented on #3780
@ArkajyotiSaha please let us know how much time you'll need for your edits.

[2022-01-26 08:21] fabian-s commented on #4082
hey @kyleniemeyer,  if @KristinaRiemer is busy at the moment I could take this on as well
;)

[2022-01-26 08:47] pdebuyl commented on #4005
@hannahbrucemacdonald @ptmerz would you review the article "PsiRESP: calculating RESP charges with Psi4" for the Journal of Open Source Software?

[2022-01-26 08:54] lucaferranti commented on #4018
@hugoledoux yes I can review this

[2022-01-26 08:56] csoneson commented on #4069
👋🏻 @olivertomic, @RMeli - would you be interested in reviewing this submission for JOSS?

Both @lucydot and @richardjgowers are currently JOSS editors and thus, I suspect, mostly busy with other submissions. Nevertheless, in case one of you would like to review this one, it's of course highly appreciated :)

[2022-01-26 08:58] csoneson commented on #4069
@Sulstice - while we are waiting for reviewers, could you fix some of the references in the paper that don't display properly? E.g.
```E., W. M., & al., et. (2010). Privileged scaffolds for library design and drug discovery.```
and similar

[2022-01-26 09:37] hugoledoux commented on #4018
@whedon add @lucaferranti  as reviewer

[2022-01-26 09:38] whedon commented on #4018
OK, @lucaferranti  is now a reviewer

[2022-01-26 09:38] hugoledoux commented on #4018
@whedon start review

[2022-01-26 09:38] whedon opened #4099 "[REVIEW]: OfflineMOT: A Python Package for multiple objects detection and tracking from bird view stationary drone videos"
**Submitting author:** @engyasin (<a href="http://orcid.org/0000-0002-5282-7259">Yasin Yousif</a>)
**Repository:** https://github.com/engyasin/Offline_MOT
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.9
**Editor:** @hugoledoux
**Reviewers:** @Shiming94, @lucaferranti
**Archive:** 10.5281/zenodo.6644282

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-01-26 09:38] whedon commented on #4018
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4099.

[2022-01-26 09:38] #4018 closed

[2022-01-26 09:38] whedon commented on #4099
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Shiming94, @lucaferranti  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2022-01-26 09:38] whedon commented on #4099
Wordcount for `paper.md` is 1254

[2022-01-26 09:39] whedon commented on #4099
[code]

[2022-01-26 09:39] whedon commented on #4099
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04099/joss.04099/10.21105.joss.04099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04099/joss.04099/10.21105.joss.04099.pdf) :page_facing_up: :point_left:

[2022-01-26 09:39] whedon commented on #4099
[code]

[2022-01-26 10:03] kostergroup commented on #3727
@roderickmackenzie
Good effort! And thanks for all your work. My only final suggestion is that you put a paragraph in the manual saying that a distribution of trap states are important when simulating disordered materials. That way people won't be tempted to run simulations/publish papers with no traps. best, Rod

ANS

Thanks for your final suggestion; this is our final modification. You provided

[2022-01-26 10:28] RMeli commented on #4069
Hi @csoneson , I can review this submission.

[2022-01-26 10:31] csoneson commented on #4069
@RMeli - brilliant, thanks! Once we have secured one more reviewer I will open the dedicated review issue where you will find your review checklist etc.

[2022-01-26 12:04] vijaysm commented on #3959
I apologize for the delay. I have been unwell and plan to restart my review next week. I will update more soon. @diehlpk @samuelburbulla

[2022-01-26 12:12] ptmerz commented on #4005
@pdebuyl Yes, I'd be happy to review!

[2022-01-26 12:12] danielskatz commented on #4082
@whedon assign @fabian-s as editor

great, thanks @fabian-s!

[2022-01-26 12:12] whedon commented on #4082
OK, the editor is @fabian-s

[2022-01-26 12:15] noah80 commented on #3574
All issues should be adressed now and the Python interface has been released as open source.

[2022-01-26 12:22] whedon commented on #4052
:wave: @uellue, please update us on how your review is going (this is an automated reminder).

[2022-01-26 12:22] whedon commented on #4052
:wave: @sk1p, please update us on how your review is going (this is an automated reminder).

[2022-01-26 12:22] whedon commented on #4052
:wave: @cjwu, please update us on how your review is going (this is an automated reminder).

[2022-01-26 12:27] uellue commented on #4052
Quick update on reviewing: I had a look at the added documentation at https://digital-earth.pages.geomar.de/dasf/dasf-messaging-python/usage/quickstart.html. Many thanks for the information there, this is already helpful! Looking at the document, I'll have to allocate some time to deploy DASF with all its components in order to complete the "Functionality" item. Right now I am tied up in work, so

[2022-01-26 12:30] meg-simula commented on #3885
Excellent, we much appreciate your expertise and willingness to review.

[2022-01-26 12:36] RafalKucharskiPK commented on #3761
Dear Editor, Dear Authors @marina-haliem ,

sorry for the delayed process and sorry that you did not manage to collect more reviewers.
I believe we may divide the review process into two separate parts:
1. Paper
2. Software

Since the software is well reviewed by @martinfleis and I had similar issues at the installation, I will focus more on the **paper**:

1. I am missing the use-cases. You well

[2022-01-26 13:01] whedon commented on #4053
:wave: @samaloney, please update us on how your review is going (this is an automated reminder).

[2022-01-26 13:01] whedon commented on #4053
:wave: @dstansby, please update us on how your review is going (this is an automated reminder).

[2022-01-26 13:05] KristinaRiemer commented on #4082
Thank you @fabian-s! Yes, a little slammed at the moment.

[2022-01-26 13:07] dfm commented on #4053
@dstansby, @samaloney — sorry about the bot messages!

@dstansby — thanks for the update and all your review comments so far. No stress! See you in two weeks.

[2022-01-26 13:11] pdebuyl commented on #4005
Thank you very much @ptmerz The review will only start once a second reviewer is onboard.

[2022-01-26 13:11] pdebuyl commented on #4005
@whedon assign @ptmerz as reviewer

[2022-01-26 13:11] whedon commented on #4005
OK, @ptmerz is now a reviewer

[2022-01-26 13:12] Bisaloo commented on #3948
Great! Thank you again @emilydolson and @TimKam for your valuable comments!

@bramvandijk88, I'll now do a last review for typos. I encourage you to do the same because there is no proofing after acceptance at JOSS. Once this is done, we can take the final steps to accept this submission.

[2022-01-26 13:12] Bisaloo commented on #3948
@whedon generate pdf

[2022-01-26 13:13] whedon commented on #3948
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03948/joss.03948/10.21105.joss.03948.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03948/joss.03948/10.21105.joss.03948.pdf) :page_facing_up: :point_left:

[2022-01-26 13:14] Bisaloo commented on #3948
@whedon check references

[2022-01-26 13:14] whedon commented on #3948
[code]

[2022-01-26 13:18] pdebuyl commented on #4005
@whedon set v0.3 as version

[2022-01-26 13:18] whedon commented on #4005
OK. v0.3 is the version.

[2022-01-26 13:19] pdebuyl commented on #4005
@whedon set v0.3.1 as version

[2022-01-26 13:19] whedon commented on #4005
OK. v0.3.1 is the version.

[2022-01-26 13:46] JasonGellis commented on #3738
Hi @Nikoleta-v3 everything looks good on my end and I'm happy for things to move forward to publication. I have updated Zenodo and the publication date on it is now correct: https://zenodo.org/record/5898149

The DOI: 10.5281/zenodo.5898149

[2022-01-26 13:47] Bisaloo commented on #3948
Shouldn't https://github.com/bramvandijk88/cacatoo/blob/65b6e7a2daac8175d65a6052b4f2f6d3652d08b7/paper/paper.bib#L1-L10 be `@article` instead of `@misc` anyways?

[2022-01-26 13:58] olivertomic commented on #4069
@csoneson - right now I have a bit too much on my shoulders. Sorry, I'll have to decline this time.

[2022-01-26 14:20] richrobe commented on #4008
Hi @taless474!

I would be happy to review this work for JOSS, but I'm not that familiar with pytorch. However, a colleague of mine, @reneraab, is very familiar with pytorch, but has not yet submitted or reviewed for JOSS, so he's not that familiar with the reviewing process. Would it be possible to do the review together?

[2022-01-26 14:24] Sulstice commented on #4069
@csoneson done!

[2022-01-26 14:28] Borda commented on #4008
I would say that `pyTorch` is rather a tool than the core that paper aims at... :rabbit:

[2022-01-26 14:28] Nikoleta-v3 commented on #3738
👋🏻 @JasonGellis

I just saw: https://github.com/openjournals/joss-reviews/issues/3738#issuecomment-1021395240.

I can see that you fix the metadata for Zenodo 🔥  and the paper is under the Creative Commons Attribution 4.0 International License (CC BY 4.0) 😄

[2022-01-26 14:28] Nikoleta-v3 commented on #3738
@whedon generate pdf

[2022-01-26 14:29] whedon commented on #3738
OK. <a href="https://doi.org/10.5281/zenodo.5898149" target="_blank">10.5281/zenodo.5898149</a> is the archive.

[2022-01-26 14:31] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2022-01-26 14:31] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2022-01-26 14:38] samuelburbulla commented on #3959
I created a notebook on Google Colab where I was able to install dune-mmesh and run a short example:

https://colab.research.google.com/drive/1CB8HohQ0gE2LU0PET-N2bTnElzRILBbR?usp=sharing

Maybe this is useful for testing code? At least, you might compare your setup with this one.
Unfortunately, the usability there is a bit unhandy in my opinion, and it takes its time to compile everything when st

[2022-01-26 14:58] JasonGellis commented on #3738
@Nikoleta-v3 It looks great! Let publish!

[2022-01-26 15:16] whedon commented on #4024
[code]

[2022-01-26 15:16] whedon commented on #4024
It looks like this paper includes an ORCID (0000-0003-0872-7098) that is probably not correct.

[2022-01-26 15:17] whedon commented on #4024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: :point_left:

[2022-01-26 15:26] po60nani commented on #4024
@whedon generate pdf from branch JOSS-paper

[2022-01-26 15:27] whedon commented on #4024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04024/joss.04024/10.21105.joss.04024.pdf) :page_facing_up: :point_left:

[2022-01-26 15:46] Nikoleta-v3 commented on #3738
🤔  I didn't quite understand the question. Do you mean where is the Zenodo information on the paper?

<img src="https://user-images.githubusercontent.com/19708408/151196444-28f49b86-bb24-47e8-a1e8-822dd4b93c7e.png" alt="drawing" width="500"/>

[2022-01-26 15:51] JasonGellis commented on #3738
@Nikoleta-v3 That answers my question. Ready to go!

[2022-01-26 15:53] JasonGellis commented on #3738
@Nikoleta-v3  Does the archive open on your PDF?

[2022-01-26 15:55] Nikoleta-v3 commented on #3738
@whedon generate pdf

[2022-01-26 15:56] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2022-01-26 15:58] Nikoleta-v3 commented on #3738
@whedon set 10.5281/zenodo.5898149 as archive

[2022-01-26 15:58] whedon commented on #3738
OK. <a href="https://doi.org/10.5281/zenodo.5898149" target="_blank">10.5281/zenodo.5898149</a> is the archive.

[2022-01-26 15:59] Nikoleta-v3 commented on #3738
@whedon generate pdf

[2022-01-26 16:00] whedon commented on #3738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03738/joss.03738/10.21105.joss.03738.pdf) :page_facing_up: :point_left:

[2022-01-26 16:05] Nikoleta-v3 commented on #3738
👋 @openjournals/joss-eics, the paper is now ready to be accepted!

I am having an issue with the `Archive` link in the paper. It doesn't redirect you to Zenodo 🤔 I tried setting the DOI again and generating the paper but that didn't work. Could you please advice? Thank you!

[2022-01-26 16:11] JasonGellis commented on #3738
@Nikoleta-v3 Does it work if you use this?:

https://doi.org/10.5281/zenodo.5898149

[2022-01-26 16:12] alberto-battistel commented on #3829
Hello @MariaPoliti,
I apologize for my very slow response.

I am trying installing the package. I tried all proposed methods, but they all fail.

**Installation via conda**
Installing the package via conda as suggested, but it failed. I opened an Issue with the description, see [https://github.com/EISy-as-Py/hardy/issues/13#issue-1114920637](url).

**Installation via GitHub repository**
I also tri

[2022-01-26 16:41] richardjgowers commented on #4069
@whedon query scope

[2022-01-26 16:41] whedon commented on #4069
Submission flagged for editorial review.

[2022-01-26 16:55] bramvandijk88 commented on #3948
I've added the DOI of "Introduction: the secret lives of Mobile genetic Elements".

Google indexed that citation as @misc, probably because it's not an article in the strict sense, it's just an overview of the content in the special issue.

[2022-01-26 17:00] bramvandijk88 commented on #3948
I've checked the proof for typos (caught a few!) Please let me know what happens next.

[2022-01-26 17:09] tiagoseq commented on #3974
Hello,
I've released a new major version of the manuscript, with the following changes:
- Reformulated the Package usage section, i think now is more straight to the point. (both reviewers suggestion @rougier and @gdetor);
- The code example had some modifications;
- Introduced the delay term in the equation (both reviewers suggestion), as well as the delayed stochastic NFE;
- Added more context a

[2022-01-26 17:17] hannahbrucemacdonald commented on #4005
Hey - the paper looks interesting, happy to review!

[2022-01-26 17:25] Bisaloo commented on #3948
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2022-01-26 18:02] pdebuyl commented on #4005
Thank you very much @hannahbrucemacdonald !

[2022-01-26 18:02] pdebuyl commented on #4005
@whedon start review

[2022-01-26 18:02] whedon opened #4100 "[REVIEW]: PsiRESP: calculating RESP charges with Psi4"
**Submitting author:** @lilyminium (<a href="http://orcid.org/0000-0002-6095-6704">Lily Wang</a>)
**Repository:** https://github.com/lilyminium/psiresp
**Branch with paper.md** (empty if default branch):
**Version:** 0.3.2
**Editor:** @pdebuyl
**Reviewers:** @ptmerz, @hannahbrucemacdonald
**Archive:** 10.5281/zenodo.6501898

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-01-26 18:02] whedon commented on #4005
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4100.

[2022-01-26 18:02] #4005 closed

[2022-01-26 18:03] whedon commented on #4100
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ptmerz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2022-01-26 18:03] whedon commented on #4100
Wordcount for `paper.md` is 1317

[2022-01-26 18:03] whedon commented on #4100
[code]

[2022-01-26 18:03] whedon commented on #4100
[code]

[2022-01-26 18:03] whedon commented on #4100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04100/joss.04100/10.21105.joss.04100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04100/joss.04100/10.21105.joss.04100.pdf) :page_facing_up: :point_left:

[2022-01-26 18:07] pdebuyl commented on #4100
@ptmerz @hannahbrucemacdonald thanks for accepting to review for JOSS! Make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2022-01-26 18:07] wsavran commented on #3658
@kbarnhart Thanks for your help throughout this process! Also, thanks @mbarall and @nvanderelst for your reviews of the software. I think your suggestions have improved the documentation and user experience significantly.

[2022-01-26 18:34] SimonMolinsky commented on #2869
Hi @chrisbrunsdon , Hi @sdesabbata

I hope that you're doing ok. It's just a reminder about the review from my side,

Thanks,
Simon

[2022-01-26 19:24] whedon commented on #4056
:wave: @strengejacke , please update us on how your review is going (this is an automated reminder).

[2022-01-26 20:15] jonsampedro commented on #3820
Thank you @dhhagan . Is there any additional action expected from my side? Thanks!

[2022-01-26 21:59] cmaimone commented on #4036
@sbenthall I'm not assigned on this in github, so I can't edit the checklist - sorry if I missed accepting something via github

[2022-01-26 22:02] danielskatz commented on #4036
@whedon re-invite @cmaimone as reviewer

[2022-01-26 22:02] whedon commented on #4036
The reviewer already has a pending invite.

@cmaimone please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-26 22:03] danielskatz commented on #4036
If that doesn't work, let me know - sometimes there's a weird timing bug

[2022-01-26 22:16] ArkajyotiSaha commented on #3780
@fabian-s I am done with the initial edits (which have reduced the word count ~800 words as per your recommendations) and presently working on finalizing them. Hope to submit the final version by the end of the next week!

[2022-01-26 22:40] cmaimone commented on #4036
@danielskatz  Nope - first said it was expired, then revoked

[2022-01-26 22:47] danielskatz commented on #4036
@whedon re-invite @cmaimone as reviewer

I think this one will work

[2022-01-26 22:47] whedon commented on #4036
OK, the reviewer has been re-invited.

@cmaimone please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-26 22:53] kbarnhart commented on #4091
@whedon generate pdf

[2022-01-26 22:54] cmaimone commented on #4036
Hmm, that just took me to https://github.com/openjournals/joss-reviews

[2022-01-26 22:54] whedon commented on #4091
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04091/joss.04091/10.21105.joss.04091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04091/joss.04091/10.21105.joss.04091.pdf) :page_facing_up: :point_left:

[2022-01-26 22:54] kbarnhart commented on #4091
@whedon check references

[2022-01-26 22:54] whedon commented on #4091
[code]

[2022-01-26 22:55] cmaimone commented on #4036
I can do the checklist now though -- just not an assignee

[2022-01-26 22:55] cmaimone commented on #4036
ah, but I could assign myself - all set

[2022-01-26 23:07] hannahbrucemacdonald commented on #4100
Hey @pdebuyl  - I think I was missed off at the top as a reviewer, do I need this to get an editable checklist?

thanks!

[2022-01-27 00:20] cmbiwer commented on #3998
I have check that PR#87 has addressed my last issues. And I have marked off all the items on the checklist now.

In my opinion, LEGWORK meets JOSS's requirements for publication and I recommend it is published in JOSS.

[2022-01-27 03:21] taless474 commented on #4008
@whedon add @richrobe as reviewer

[2022-01-27 03:21] whedon commented on #4008
OK, @richrobe is now a reviewer

[2022-01-27 03:22] taless474 commented on #4008
@whedon add @reneraab as reviewer

[2022-01-27 03:22] whedon commented on #4008
OK, @reneraab is now a reviewer

[2022-01-27 03:25] taless474 commented on #4008
@richrobe, thank you for your response. I believe we can have 3 reviewers for this work, so I added @reneraab. @reneraab, thank you for offering to review. Please ask us if you have any questions.

[2022-01-27 03:26] taless474 commented on #4008
@whedon start review

[2022-01-27 03:26] whedon opened #4101 "[REVIEW]: TorchMetrics - Measuring Reproducibility in PyTorch"
**Submitting author:** @justusschock (<a href="http://orcid.org/0000-0003-0512-3053">Justus Schock</a>)
**Repository:** <a href="https://github.com/PyTorchLightning/metrics" target ="_blank">https://github.com/PyTorchLightning/metrics</a>
**Version:** v0.7.2
**Editor:** @taless474
**Reviewer:** @inpefess, @richrobe, @reneraab
**Archive:** <a href="https://doi.org/10.5281/zenodo.6037875" target="_b

[2022-01-27 03:26] whedon commented on #4008
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4101.

[2022-01-27 03:26] #4008 closed

[2022-01-27 03:26] whedon commented on #4101
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @inpefess, @richrobe, @reneraab it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2022-01-27 03:26] whedon commented on #4101
Wordcount for `paper.md` is 1168

[2022-01-27 03:26] whedon commented on #4101
PDF failed to compile for issue #4101 with the following error:
[code]

[2022-01-27 03:26] whedon commented on #4101
[code]

[2022-01-27 03:26] whedon commented on #4101
[code]

[2022-01-27 03:31] taless474 commented on #3976
@ysimillides are you interested in reviewing this?

[2022-01-27 03:34] taless474 commented on #3651
@georgiastuart Would you please let us know what is needed from authors so they can go forward with the last checkmark? If you made an issue, would you please refer to it here?

[2022-01-27 06:47] lavaux commented on #4033
@dfm I am finding some issues in the tagged version to review but the `master` may have already fixed those. Should I review master or the tagged version?

[2022-01-27 08:08] pdebuyl commented on #4100
Hi @hannahbrucemacdonald indeed, I started the review without adding you as a reviewer in the pre-review stage. Sorry about this. I'll add you and duplicate the the checklist.

[2022-01-27 08:08] pdebuyl commented on #4100
@whedon add @hannahbrucemacdonald as reviewer

[2022-01-27 08:09] whedon commented on #4100
OK, @hannahbrucemacdonald is now a reviewer

[2022-01-27 08:09] pdebuyl commented on #4100
@whedon reinvite @hannahbrucemacdonald

[2022-01-27 08:09] whedon commented on #4100
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-27 08:09] pdebuyl commented on #4100
@whedon commands

[2022-01-27 08:10] whedon commented on #4100
Here are some things you can ask me to do:

[code]

[2022-01-27 08:10] pdebuyl commented on #4100
@whedon re-invite @hannahbrucemacdonald as reviewer

[2022-01-27 08:10] whedon commented on #4100
The reviewer already has a pending invite.

@hannahbrucemacdonald please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-27 08:37] jbcaillau commented on #3991
@jbytecode @tmigot Hi, thank you for your patience:
- wanted to run some tests before checking items in the list, and had some trouble with Julia 1.6.x / 1.7
- I am not sure of what is expected regarding item « Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified? » so I left it unchecked

All in all, this is a very nice and

[2022-01-27 08:43] jbytecode commented on #3991
@jbcaillau what kind of trouble you had, could you please clarify?

Submissions on JOSS requires software testing in any means, btw, in our case, this is a Julia package, so we expect

julia>]
test DCISolver

to pass all of the tests in Julia REPL. Please check.

And, of course, the test directory should be capable of testing the whole of the functionality that the package serves.

[2022-01-27 09:04] jbytecode commented on #3991
In my Julia 1.7 setup, the test procedure produces the following output and it is a little bit verbose, btw, seems okay:

[code]

[2022-01-27 09:07] jbytecode commented on #3991
@tmigot In the README.md file the title "Bug reports and discussions" is okay, however, please add some information here on how to contribute to software by means of adding new functionality, improving the methods, etc. because the current information is only about reporting bugs. Thank you in advance.

[2022-01-27 09:46] Borda commented on #4101
not sure if it is important, but the actual version is `v0.7.0`

[2022-01-27 11:16] dfm commented on #4033
@lavaux — please review the development branch, we'll update the tagged version at the end. Thank you!

[2022-01-27 13:21] dhhagan commented on #3820
@jonsampedro You should be good unless the EiC has a comment.

[2022-01-27 13:32] jonsampedro commented on #3820
Perfect @dhhagan , thank you!

[2022-01-27 13:50] cjwu commented on #4052
@martinfleis hello, I missed the invitation (the invitation link is revoked). could you please reactivated it!

[2022-01-27 14:19] tmigot commented on #3991
Thank you for the suggestion. Could you be more specific?

We wrote `Focused suggestions and requests can also be opened as issues. Before opening a pull request, start an issue or a discussion on the topic, please.` in this spirit. The idea is to open an issue to discuss new functionalities.

If you mean to specify the future projects for the package, we also use the Github Projects.

[2022-01-27 14:25] jbytecode commented on #3991
please follow the sample repo here: https://github.com/jbytecode/JMcDM

the design pattern of implementing a new functionality is described.

if this is not current for the submission and implementing a new feature is not the case, you can leave it as is.

[2022-01-27 14:58] cjwu commented on #4052
hi @d-eggert, in the doc and readme file, have a note for zsh (pip install -e ".[dev]") will be nice.

[2022-01-27 15:27] d-eggert commented on #4052
Hi @cjwu ,

thanks for your feedback.

So, I guess you cloned the `dasf-messaging-python` repository and working directly in it. This case is covered in the 'Contributing' section of the README.md (hinting at the very same command you provided ;-).

Well, the actual use case would be the usage of the package in your very own project. In this case you add the [backend] dependencies as stated in the

[2022-01-27 15:34] whedon opened #4102 "[PRE REVIEW]: DeepSynth: Scaling Neural Program Synthesis with Distribution-based Search"
**Submitting author:** @Theomat (<a href="http://orcid.org/0000-0002-5043-3221">Théo Matricon</a>)
**Repository:** <a href="https://github.com/nathanael-fijalkow/DeepSynth" target ="_blank">https://github.com/nathanael-fijalkow/DeepSynth</a>
**Version:** v1.0
**Editor:** @terrytangyuan
**Reviewers:** @njuaplusplus, @Kraks
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warnin

[2022-01-27 15:34] whedon commented on #4102
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-27 15:35] whedon commented on #4102
PDF failed to compile for issue #4102 with the following error:
[code]

[2022-01-27 15:35] whedon commented on #4102
[code]

[2022-01-27 15:36] whedon commented on #4102
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04102/joss.04102/10.21105.joss.04102.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04102/joss.04102/10.21105.joss.04102.pdf) :page_facing_up: :point_left:

[2022-01-27 15:41] arfon commented on #4102
Noting from the author submission information that there is a related paper (accepted into AAAI22) that describes the methodology https://arxiv.org/abs/2110.12485

[2022-01-27 15:59] martinfleis commented on #4052
@whedon re-invite @cjwu as reviewer

@cjwu try now

[2022-01-27 15:59] whedon commented on #4052
OK, the reviewer has been re-invited.

@cjwu please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-27 16:10] cjwu commented on #4052
cool, I will try it.

[2022-01-27 16:22] sbenthall commented on #3994
Ok. I've checked in with the editors-in-chief, and resubmission is allowed if there's substantial scholarly effort and a genuinely new major release, which this is.

@akaptano, can you please:
 - make a tagged release
 - make an archive with a DOI on Zenodo or the like
 - report the version number and DOI here

[2022-01-27 16:24] sbenthall commented on #3496
@jessie-dotson Yes, it's perfectly fine for reviewers to review packages that they are unlikely to use themselves.

Thank you for volunteering! I'll assign you as the second reviewer.

[2022-01-27 16:25] sbenthall commented on #3496
@whedon add jessie-dotson as reviewer

[2022-01-27 16:47] akaptano commented on #3994
@sbenthall The new release is v1.6.2 and the DOI Zenodo archive is [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.5842612.svg)](https://doi.org/10.5281/zenodo.5842612)

DOI: 10.5281/zenodo.5842612

[2022-01-27 16:49] csoneson commented on #3990
👋🏻 @MKoesters - I see that you have ticked almost all the boxes in your checklist above (thanks!), could you comment briefly on whether you are done with the first round of review and what you would like to see the authors address in order to tick the remaining one? Thank you.

[2022-01-27 16:50] sbenthall commented on #3994
@whedon set 10.5281/zenodo.5842612 as archive

[2022-01-27 16:51] whedon commented on #3994
OK. <a href="https://doi.org/10.5281/zenodo.5842612" target="_blank">10.5281/zenodo.5842612</a> is the archive.

[2022-01-27 16:51] sbenthall commented on #3994
@whedon set v1.6.2 as version

[2022-01-27 16:51] whedon commented on #3994
OK. v1.6.2 is the version.

[2022-01-27 16:51] sbenthall commented on #3994
Thank you @akaptano for the submission and @tuelwer and @henrykironde for the reviews.

I recommend this article for acceptance.

[2022-01-27 16:52] whedon commented on #3994
[code]

[2022-01-27 16:53] whedon commented on #3994
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2910

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2910, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-27 16:53] whedon commented on #3994
[code]

[2022-01-27 16:58] prashjha commented on #4026
Hi @ixjlyons, could you please respond to my comments above? Thanks!

[2022-01-27 16:59] prashjha commented on #3897
Thank you, @TomDonoghue and @janfreyberg, for reviewing this submission.

[2022-01-27 17:00] prashjha commented on #3897
@alexrockhill, I will go over the draft and minor things this week and if all looks good, I will hand it over to EiC who will finally make a decision.

[2022-01-27 17:22] JasonGellis commented on #3738
Hi @Nikoleta-v3 any updates on this?

[2022-01-27 17:39] dbkeitel commented on #3998
Hi @TomWagg the updated paper looks good, seems you just missed one of my citation requests: please cite the LIGO first detection paper where "the direct detection" is mentioned (now L39).

[2022-01-27 18:22] dbkeitel commented on #3998
The package itself is also almost ready to sign off from my side, with most of my issues resolved well. A few open points though:
- [ ] the updated conda installation instructions don't work for me -> https://github.com/TeamLEGWORK/LEGWORK/issues/89
- [ ] another small documentation issue -> https://github.com/TeamLEGWORK/LEGWORK/issues/90
- [ ] I'm not entirely sure if any specific comments have

[2022-01-27 18:37] pitsianis commented on #3965
@matthieuaussal  here are some trivial changes that give the draft a consistent look.

Use highlighting in all codes not just some.

`C++`  in some places is in capitals, in some it has a space etc.

Capitalize correctly the reference titles, for example "university of florida"

File names appear some of the times in italics and in some straight. Use a fixed width style.

The first code example is

[2022-01-27 18:45] smchartrand commented on #4091
@kbarnhart - I am following up on the above request for suggested reviewers. After looking through the JOSS reviewer list, here are some suggestions (I searched for keyword "geomorphology" and started at the bottom of the list and made it halfway):

1. marda-science and dbuscombe-usgs
2. ldominguezruben
3. katmratliff
4. pwernette
5. chrisleaman
6. kellykochanski

[2022-01-27 18:51] katiebreivik commented on #3998
Thanks @dbkeitel! We will get to work on the first two open points. For the third, we decided to add a scope/limitations section to the docs ([here](https://legwork.readthedocs.io/en/latest/limitations.html)). We settled on this because we didn't want to repeat the same explanation in many different sections of the docs. I'd be interested to hear your thoughts on whether this is appropriate. Maybe

[2022-01-27 18:52] chrisamiller commented on #3722
Just checking in - is there anything else we need to do here?  @lpantano   Thanks!

[2022-01-27 18:53] lpantano commented on #3722
sorry, got into some other tasks. I asked, and it seems it is ok not to have the title match.

[2022-01-27 18:54] lpantano commented on #3722
@whedon set  10.5281/zenodo.5879149 as archive

[2022-01-27 18:54] whedon commented on #3722
OK. <a href="https://doi.org/10.5281/zenodo.5879149" target="_blank">10.5281/zenodo.5879149</a> is the archive.

[2022-01-27 18:54] lpantano commented on #3722
@whedon recommend-accept t

[2022-01-27 18:54] whedon commented on #3722
[code]

[2022-01-27 18:54] whedon commented on #3722
PDF failed to compile for issue #3722 with the following error:
[code]

[2022-01-27 19:33] dbkeitel commented on #3998
Thanks @katiebreivik I had completely overlooked that section! I agree it's a good solution. A link at the very end of the quickstart may indeed be a good idea too,

[2022-01-27 19:54] will-rowe commented on #4007
Very sorry for the delay and thank you for the reviewer suggestions. Let's see if they can do it - @asafpr and @ayaanhossain , are you able to review this submission for JOSS?

[2022-01-27 20:07] mbod opened #4103 "License: Does the repository contain a plain-text LICENSE file with the contents of an OSI approved software license?"

[2022-01-27 20:07] whedon commented on #4103
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-01-27 20:07] #4103 closed

[2022-01-27 20:10] mbod commented on #3741
@chartgerink apologies for the delay. I am working to get this done by Feb 4.

[2022-01-27 20:11] mbod commented on #4103
The `LICENSE.md` contains an appropriate license. Is the `LICENSE` file needed?

[2022-01-27 20:14] ayaanhossain commented on #4007
Sure! Love to take a look.

[2022-01-27 20:16] will-rowe commented on #4007
Great - thanks @ayaanhossain! Not sure if you've reviewed for us before but what happens now is we find our second reviewer before starting the review process in a new issue tracker (but feel free to get started early if that works for you).

[2022-01-27 20:16] will-rowe commented on #4007
@whedon assign @ayaanhossain as reviewer

[2022-01-27 20:16] whedon commented on #4007
OK, @ayaanhossain is now a reviewer

[2022-01-27 20:22] danielskatz commented on #4103
@mbod - note that this issue was automatically closed, as mentioned [above](https://github.com/openjournals/joss-reviews/issues/4103#issuecomment-1023595761).  Please make your comments in the software repository for the software that you are reviewing, not this one which is for the JOSS system overall.

[2022-01-27 20:23] whedon commented on #4061
:wave: @AustinTSchaffer, please update us on how your review is going (this is an automated reminder).

[2022-01-27 20:23] whedon commented on #4061
:wave: @erik-whiting, please update us on how your review is going (this is an automated reminder).

[2022-01-27 20:28] mcsiple commented on #3888
Thank you all for your patience and both Hao and Taylor for your reviews. I have been working on addressing both reviewers' comments in the following issues:

1. @ha0ye 's review notes:  mcsiple/mmrefpoints#57
2. Detailed responses and commits related to functionality review from @ha0ye : mcsiple/mmrefpoints#54
3. @tbrown122387 's coverage comments: mcsiple/mmrefpoints#58

I have been working thro

[2022-01-27 21:18] kbarnhart commented on #4091
@szwiep @smchartrand Thanks for this submission, I think it is a great contribution and I look forward to seeing it through the JOSS review process. I've gone through my standard pre-review evaluation of this submission and I have identified some issues that I think would be beneficial to address before I find reviewers and start review. Most of these comments are directly related to the [review c

[2022-01-27 22:26] ha0ye commented on #3888
I believe you can go in to Zenodo -> Upload to manually select and then update the info on an existing deposit. Or if you're set up for auto-archiving of releases, then the newer DOI will have the updated information.

[2022-01-27 23:10] whedon commented on #4062
:wave: @jhancock4d, please update us on how your review is going (this is an automated reminder).

[2022-01-27 23:10] whedon commented on #4062
:wave: @lrasmus, please update us on how your review is going (this is an automated reminder).

[2022-01-27 23:38] smchartrand commented on #4091
Thanks very much @kbarnhart. Really appreciate this feedback and the proactiveness. @szwiep and I plan to get these addressed in the middle of February and submitted shortly thereafter. Hope this helps for your own schedule juggling and planning.

[2022-01-28 01:15] ayaanhossain commented on #4007
@whedon commands

[2022-01-28 01:15] whedon commented on #4007
Here are some things you can ask me to do:

[code]

[2022-01-28 01:36] rkurchin commented on #3935
@whedon add @sangpham171 as reviewer

[2022-01-28 01:36] whedon commented on #3935
OK, @sangpham171 is now a reviewer

[2022-01-28 01:36] rkurchin commented on #3935
@whedon start review

[2022-01-28 01:37] whedon opened #4104 "[REVIEW]: pyRS: A Python package for the reduction and analysis of neutron residual stress data"
**Submitting author:** @fanchercm (<a href="http://orcid.org/0000-0002-3952-5168">Chris Fancher</a>)
**Repository:** https://github.com/neutrons/PyRS/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @rkurchin
**Reviewers:** @andyfaff, @sangpham171
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pande

[2022-01-28 01:37] whedon commented on #3935
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4104.

[2022-01-28 01:37] #3935 closed

[2022-01-28 01:37] whedon commented on #4104
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @andyfaff, @sangpham171 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2022-01-28 02:54] conradsnicta commented on #3124
@arokem Apologies - I'm snowed under with work

[2022-01-28 04:01] ni1o1 commented on #4021
Hi @martinfleis @anitagraser @jGaboardi. Thank you for all the comments. We have finished our revision of the paper and the repo, details include:
1. Language Translation: We have translated all docstrings, error messages and comments into English, include the Ipynb notebook examples.
2. Adding Code Tests: Tests were added and the test coverage is now at 94%.
3. Paper Enhancing: We added two parts

[2022-01-28 04:02] ni1o1 commented on #4021
@whedon generate pdf

[2022-01-28 04:02] ni1o1 commented on #4021
@whedon check references

[2022-01-28 04:03] whedon commented on #4021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: :point_left:

[2022-01-28 04:03] whedon commented on #4021
[code]

[2022-01-28 04:25] ni1o1 commented on #4021
@whedon check references

[2022-01-28 04:25] whedon commented on #4021
[code]

[2022-01-28 05:02] jhamman commented on #4050
I'm grateful I was able to review this submission. I have a few comments relative to my review:

- The article indicates the package is installable via `pip` but upon inspection, the package has not been published on PyPI (or another package manager like conda-forge).  I've opened https://github.com/neuralhydrology/neuralhydrology/issues/66 to suggest this be done.
- There appears to be a missing

[2022-01-28 05:13] jspaezp commented on #3990
@joewandy I believe that we can start discussing/addressing several of the issues raised in my thread. My general perception is that there is really good code quality and long form documentation. Nonetheless there is a fair amount of technical debt in the form of unused sub-directories and in-code documentation (docstrings/parameter documentation), which is natural for a project of this size/age.

[2022-01-28 07:05] csoneson commented on #3990
@jspaezp - the invite has probably expired. Let me invite you again (in the end we need the checkboxes to be ticked also in this issue for record keeping. Thanks!

[2022-01-28 07:05] csoneson commented on #3990
@whedon re-invite @jspaezp as reviewer

[2022-01-28 07:05] whedon commented on #3990
The reviewer already has a pending invite.

@jspaezp please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-28 08:31] Nikoleta-v3 commented on #3738
@whedon recommend-accept

[2022-01-28 08:32] whedon commented on #3738
[code]

[2022-01-28 08:32] whedon commented on #3738
[code]

[2022-01-28 08:32] whedon commented on #3738
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2911

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2911, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-28 09:28] Nikoleta-v3 commented on #3738
Apologies for the spam! 🙈 I just checked the `Archive` url in the final proof [openjournals/joss-papers#2911](https://github.com/openjournals/joss-papers/pull/2911) and it works just fine 👍🏻

@JasonGellis, nothing more to do on our side. Now we just wait for one of the members of the editorial board to have a final look at the  submission and accept it 🎉 Thank you again for your work.

[2022-01-28 10:21] peircej commented on #4045
I'm able to tick "yes" to most of the requirements already. 🥳 A couple of things remain

**Community guidelines:** at the moment I can't see any information about how users/contributors should get involved with the project. There is the GitHub issues list, which has a single closed issue. There's a page in the docs for [developement](https://octopus-sensing.nastaran-saffar.me/development.html) but

[2022-01-28 10:30] inpefess commented on #4101
'Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution.' --> https://github.com/PyTorchLightning/metrics/issues/808

[2022-01-28 10:56] Borda commented on #4101
yes, the problem seems to be related to PyTorch as they do not provide binaries for python 3.10 yet, and moreover, they suggest using their package warehouse... on the other hand, all shall be well working in the Conda environment >> https://anaconda.org/conda-forge/torchmetrics

cc: @justusschock

[2022-01-28 11:22] justusschock commented on #4101
@taless474 is there a way to have authors without affiliations (@maximsch2 chose not to have an affiliation here)?

[2022-01-28 11:39] JasonGellis commented on #3738
@Nikoleta-v3 Great news! Thanks again for all your help. It's been a great experience seeing this all come together in this (new to me) context.

[2022-01-28 12:27] martejulie commented on #4012
@meg-simula @cgurrr I have now finished my checklist and I support the publication of this software.

[2022-01-28 13:25] kbarnhart commented on #4091
@smchartrand glad to hear. I look forward to seeing the revisions to the submission.

[2022-01-28 13:38] jschlenger commented on #3061
Hi all (@hugoledoux @CBenghi @abdoulayediak @aothms),

just a short reminder that this review is still open.
I believe we are quite close to the end, only a few boxes that are left tick.
So I kindly remind the reviewers that haven't completed their review yet to take a look at our latest changes.
In case there are questions or things that are unclear just let me know and I'll do my best to clarify

[2022-01-28 13:55] melissawm commented on #3915
Sure - sorry about that!

[2022-01-28 13:56] melissawm commented on #3915
@whedon add @GuillaumeDerval as reviewer

[2022-01-28 13:56] whedon commented on #3915
OK, @GuillaumeDerval is now a reviewer

[2022-01-28 13:56] melissawm commented on #3915
@whedon remove @sfuxy as reviewer

[2022-01-28 13:56] whedon commented on #3915
OK, @sfuxy is no longer a reviewer

[2022-01-28 13:58] melissawm commented on #3915
@GuillaumeDerval please let me know if you have any trouble ticking the items on the checklist or if you have any other questions. Thanks!

[2022-01-28 14:06] CBenghi commented on #3061
Hello @jschlenger,
thanks for the reminder, I got to it straight away and checked the final boxes.
The review is complete as far as I'm concerned.
Congratulations to @pjanck and the rest of the team!

[2022-01-28 14:44] oliviaguest commented on #3701
@ekinney-lang Thanks! 😊 I think that's sensible, given both that I think you will do a great job and that it's not too far off. Is this OK with you @gcattan?

[2022-01-28 14:48] danielskatz commented on #3970
@LeonidPryadko - hi - I've been having great difficulty finding a second reviewer, after lots of emails and a tweet asked for help.  Do you have have any more suggestions?

[2022-01-28 14:48] gcattan commented on #3701
Absolutely! Thank you both for your time reviewing this!

[2022-01-28 14:53] danielskatz commented on #3996
@fredstro - any update?

[2022-01-28 14:55] oliviaguest commented on #3956
@puolival I think you need to be reinvited by @whedon because you didn't accept the last time. No problem tho!

[2022-01-28 14:56] oliviaguest commented on #3956
@whedon add @puolival as reviewer

[2022-01-28 14:58] danielskatz commented on #3956
@whedon remove @puolival as reviewer

We just need each reviewer once :)

[2022-01-28 14:58] whedon commented on #3956
OK, @puolival is no longer a reviewer

[2022-01-28 14:58] danielskatz commented on #3956
@whedon re-invite @puolival as reviewer

this is the way to get a new invitation...

[2022-01-28 14:58] whedon commented on #3956
The reviewer already has a pending invite.

@puolival please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-28 14:58] oliviaguest commented on #3956
Ooops, thanks @danielskatz!

[2022-01-28 14:59] danielskatz commented on #3956
If that link fails, tell me and I'll reissue it - there's a timing bug that sometimes happens here.

[2022-01-28 14:59] danielskatz commented on #3956
ok, @whedon didn't do what I wanted and removed both @puolival's - let's add one back

[2022-01-28 14:59] danielskatz commented on #3956
@whedon add @puolival as reviewer

[2022-01-28 14:59] whedon commented on #3956
OK, @puolival is now a reviewer

[2022-01-28 15:00] danielskatz commented on #3956
Whedon and the issue now are correct, so we just need to make sure @puolival is able to check off items by accepting the invitation, and if they cannot, we need to reissue it one more time, then it should work

[2022-01-28 16:05] GuillaumeDerval commented on #3915
I don't have a lot to add: not only @marwahaha already highlighted most of the things that needed to be fixed, but @Viech already fixed them :-)

Just a minor remark: for the tutorial, I lost quite some time understanding that while I had GLPK installed, I didn't have its python bindings, leading to an error while running the first example.

1. Wouldn't it be simpler to just remove (or comment) th

[2022-01-28 16:35] corentin-dev commented on #3980
Hi,

Sorry for the delay, concerning the software, I'm just starting to try to use it.

Please consider rebuilding the paper, no sure if it was updated by whedon.

### Installation

Most of it runs smoothly but,

- pytest does not run (at least on my machine). What I did : `python -m venv env`, `source ./env/bin/activate`, `pip install -r requirements.txt`, `pytest recolo`. I get an error: `E   Mo

[2022-01-28 17:12] FWuellhorst commented on #3861
@shamsiharis : Thanks again for the review, the comments, and the time associated with this.
The error now should be fixed, see https://github.com/RWTH-EBC/AixCaliBuHA/issues/30.
Regarding your overall review, I created an issue and will update the paper slightly to indicate that the main focus of the toolchain lies in dynamic simulations of HVAC and buildings.
One question regarding your comment:

[2022-01-28 17:52] Viech commented on #3915
Thank you for the fast review!

Explicit solver choice is done to make the automatic validation of documentation examples portable, e.g. for some of the problems different solvers find different optimal points and this would make the doctests fail either remotely or locally. I do agree with your argument that showcasing automatic selection would be nice and I'll keep that in mind for a future docu

[2022-01-28 18:35] alberto-battistel commented on #3829
Dear @MariaPoliti <https://github.com/MariaPoliti>,

I have read the manuscript. I used the version it was send by .@wedon in
the very beginning.

See in the attachment for a couple of comments I have for the text.

In  hardy/joss-paper/paper.md I see the .md file, but the captions for
the figures are missing. This was a point to improve mentioned by
@andrewtarzia <https://github.com/andrewtarzia>

[2022-01-28 18:39] ptmerz commented on #4100
Hi @lilyminium, I started the review today. I didn't have time yet to review the package in all details, so I won't comment on it yet, but it definitely looks to be in great shape!

I did review the paper already, and I think it's very well written. A few things I noted:
* The author instructions (https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) ask to start the

[2022-01-28 19:00] Kevin-Mattheus-Moerman commented on #4085
@whedon assign me as editor

[2022-01-28 19:00] whedon commented on #4085
OK, the editor is @Kevin-Mattheus-Moerman

[2022-01-28 19:33] fredstro commented on #3996
I have done everything suggested in the issues so I am just waiting for @videlec to comment on the last issue before I close it.

[2022-01-28 19:55] sangpham171 opened #4105 "Contribution and authorship: Has the submitting author (@fanchercm) made major contributions to the software? Does the full list of paper authors seem appropriate and complete?"

[2022-01-28 19:55] whedon commented on #4105
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-01-28 19:55] #4105 closed

[2022-01-28 22:30] crvernon commented on #3824
@whedon generate pdf from branch joss

[2022-01-28 22:30] whedon commented on #3824
[code]

[2022-01-28 22:31] whedon commented on #3824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03824/joss.03824/10.21105.joss.03824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03824/joss.03824/10.21105.joss.03824.pdf) :page_facing_up: :point_left:

[2022-01-28 22:45] TomWagg commented on #3998
Hi again everyone, @katiebreivik and I have just merged in PR[#92](https://github.com/TeamLEGWORK/LEGWORK/pull/92) and [#93](https://github.com/TeamLEGWORK/LEGWORK/pull/93) and I believe they address all of @dbkeitel's remaining comments.

We've added the LIGO citation to the paper.md file, updated the installation instructions, added a link in the quickstart to the limitations page and made sure

[2022-01-28 22:45] TomWagg commented on #3998
@whedon generate pdf from branch joss

[2022-01-28 22:45] whedon commented on #3998
[code]

[2022-01-28 22:46] whedon commented on #3998
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03998/joss.03998/10.21105.joss.03998.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03998/joss.03998/10.21105.joss.03998.pdf) :page_facing_up: :point_left:

[2022-01-28 22:54] taless474 commented on #4101
@justusschock yes, authors without affiliations are allowed

[2022-01-28 23:11] danielskatz commented on #4101
No, they are not. See affiliation 3 in https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography for how to handle this.

[2022-01-28 23:41] whedon opened #4106 "[PRE REVIEW]: FlexWing-ROM: A matlab framework for data-driven reduced-order modeling of flexible wings"
**Submitting author:** @urban-fasel (<a href="http://orcid.org/0000-0002-3716-686X">Urban Fasel</a>)
**Repository:** https://github.com/urban-fasel/FlexWingROM
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @oriolcg, @omtazi
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2022-01-28 23:41] whedon commented on #4106
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-28 23:41] whedon opened #4107 "[PRE REVIEW]: swift-emulator: A Python package for emulation of simulated scaling relations"
**Submitting author:** @Moyoxkit (<a href="http://orcid.org/0000-0003-0862-8639">Roi Kugel</a>)
**Repository:** https://github.com/SWIFTSIM/emulator
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @dfm
**Reviewers:** @JDonaldM, @kstoreyf
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandem

[2022-01-28 23:41] whedon commented on #4107
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-28 23:41] whedon opened #4108 "[PRE REVIEW]: CrysalGrowthTracker: A Python package for calculating the face advancment rates of crystals from videos taken using synchrotron radiation"
**Submitting author:** @jonathanHuwP (<a href="http://orcid.org/0000-0001-5283-8065">Jonathan Pickering</a>)
**Repository:** https://github.com/jonathanHuwP/CrystalGrowthTracker
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** v0.9
**Editor:** @lucydot
**Reviewers:** @CFGrote, @KedoKudo
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2022-01-28 23:41] whedon commented on #4108
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-28 23:42] whedon commented on #4106
Wordcount for `paper.md` is 1430

[2022-01-28 23:42] whedon commented on #4106
[code]

[2022-01-28 23:42] whedon commented on #4107
Failed to discover a `Statement of need` section in paper

[2022-01-28 23:42] whedon commented on #4107
Wordcount for `paper.md` is 1247

[2022-01-28 23:42] whedon commented on #4107
[code]

[2022-01-28 23:42] arfon commented on #4108
@whedon generate pdf from branch joss-submission

[2022-01-28 23:42] whedon commented on #4108
[code]

[2022-01-28 23:42] whedon commented on #4106
[code]

[2022-01-28 23:42] whedon commented on #4107
[code]

[2022-01-28 23:42] whedon commented on #4108
[code]

[2022-01-28 23:42] whedon commented on #4106
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04106/joss.04106/10.21105.joss.04106.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04106/joss.04106/10.21105.joss.04106.pdf) :page_facing_up: :point_left:

[2022-01-28 23:42] whedon opened #4109 "[PRE REVIEW]: Cabana: A Performance Portable Library for Particle-Based Simulations"
**Submitting author:** @streeve (<a href="http://orcid.org/0000-0002-4250-9476">Samuel Reeve</a>)
**Repository:** <a href="https://github.com/ECP-copa/Cabana" target ="_blank">https://github.com/ECP-copa/Cabana</a>
**Version:** 0.5
**Editor:** @diehlpk
**Reviewers:** @atmyers, @XzzX
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2022-01-28 23:42] whedon commented on #4109
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-28 23:42] whedon commented on #4108
PDF failed to compile for issue #4108 with the following error:
[code]

[2022-01-28 23:42] whedon commented on #4108
PDF failed to compile for issue #4108 with the following error:
[code]

[2022-01-28 23:42] whedon opened #4110 "[PRE REVIEW]: GBOML: Graph-Based Optimization Modeling Language"
**Submitting author:** @MiftariB (<a href="http://orcid.org/0000-0001-5334-0234">Bardhyl Miftari</a>)
**Repository:** <a href="https://gitlab.uliege.be/smart_grids/public/gboml" target ="_blank">https://gitlab.uliege.be/smart_grids/public/gboml</a>
**Version:** v0.1.0
**Editor:** @fraukewiese
**Reviewers:** @odow, @leonardgoeke
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :

[2022-01-28 23:42] whedon commented on #4110
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-28 23:42] whedon commented on #4109
[code]

[2022-01-28 23:42] whedon commented on #4107
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04107/joss.04107/10.21105.joss.04107.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04107/joss.04107/10.21105.joss.04107.pdf) :page_facing_up: :point_left:

[2022-01-28 23:42] whedon commented on #4109
PDF failed to compile for issue #4109 with the following error:
[code]

[2022-01-28 23:43] whedon commented on #4110
Wordcount for `paper.md` is 1119

[2022-01-28 23:43] whedon commented on #4110
PDF failed to compile for issue #4110 with the following error:
[code]

[2022-01-28 23:43] whedon commented on #4110
[code]

[2022-01-28 23:43] whedon commented on #4110
[code]

[2022-01-28 23:52] streeve commented on #4109
@whedon generate pdf from branch joss

[2022-01-28 23:52] whedon commented on #4109
[code]

[2022-01-28 23:53] whedon commented on #4109
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04109/joss.04109/10.21105.joss.04109.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04109/joss.04109/10.21105.joss.04109.pdf) :page_facing_up: :point_left:

[2022-01-28 23:53] lilyminium commented on #4100
Thanks for your feedback, @ptmerz! I have opened a PR updating the paper at https://github.com/lilyminium/psiresp/pull/68 -- does that  address your comments?

[2022-01-28 23:55] streeve commented on #4109
We'd like to suggest XzzX and atmyers as reviewers

[2022-01-29 00:07] arfon commented on #3337
@whedon accept deposit=true

[2022-01-29 00:08] whedon commented on #3337
[code]

[2022-01-29 00:08] whedon commented on #3337
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1487216102446878720) 👈 🐦🐦🐦

[2022-01-29 00:08] whedon commented on #3337
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2912
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03337](https://doi.org/10.21105/joss.03337)
2. If everything look

[2022-01-29 00:15] arfon commented on #3337
[@arthur-e](https://github.com/arthur-e), [@danclewley](https://github.com/danclewley) – many thanks for your reviews here and to @pdebuyl for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@McWhity – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-29 00:15] #3337 closed