[2022-09-23 14:50] #4522 closed

[2022-09-23 15:00] the-hampel commented on #4623
Hi,
I just noticed that we included a back-slash in the title in the markdown file, which is weirdly shown in the title: `solid\_dmft` . In the pdf this looks fine. Is there still a chance to change this? Sorry for the late notice, but in the pdf everything is fine. It just shown on the joss webpage.

[2022-09-23 15:43] lorenzo-rovigatti commented on #4693
@editorialbot generate pdf

[2022-09-23 15:46] kyleniemeyer commented on #4623
@openjournals/dev do you know how to fix this issue?

[2022-09-23 15:54] jbytecode commented on #4563
@editorialbot check references

[2022-09-23 15:55] jbytecode commented on #4563
@editorialbot generate pdf

[2022-09-23 16:31] jbytecode commented on #4563
@schochastics - I have just sent a pull request which contains some text correction in paper.md

Please review the changes and apply the pull request if you are agreed with them.

Please consider these task:

- [ ] the figure `figures/dbces.pdf` is not cited/referenced in text and it is not clear how one can generate it and/or which code part is responsible to generate it and/or what does it show.

[2022-09-23 17:03] sdhutchins commented on #4236
Hey, @jvkersch! It looks like you've finished everything I asked for in terms of the review!

@lpantano I think this is ready to take the next steps.

[2022-09-23 17:11] schochastics commented on #4563
thanks! just merged the PR. I'll report back once I made the required changes

[2022-09-23 17:14] jbytecode commented on #4563
@editorialbot generate pdf

[2022-09-23 17:48] kyleniemeyer commented on #4764
Hello @dgromer, unfortunately, after further review, the JOSS editorial team has decided that your submission does not fit our scope as [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) to proceed to review. This is not a judgment about the quality or usefulness of your software.

We encourage you to pursue [alternate venues](https://joss.

[2022-09-23 17:48] kyleniemeyer commented on #4764
@editorialbot reject

[2022-09-23 17:48] #4764 closed

[2022-09-23 17:50] kyleniemeyer commented on #4760
Hello @teddygroves, unfortunately, after further review, the JOSS editorial team has decided that your submission does not fit our scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) to proceed to review. This is not a judgment about the quality or usefulness of your software.

We encourage you to pursue [alternate ve

[2022-09-23 17:51] kyleniemeyer commented on #4760
@editorialbot reject

[2022-09-23 17:51] #4760 closed

[2022-09-23 17:51] kyleniemeyer commented on #4765
Hello @JunOu, unfortunately, after further review, the JOSS editorial team has decided that your submission does not fit our scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) to proceed to review. This is not a judgment about the quality or usefulness of your software.

We encourage you to pursue [alternate venues](

[2022-09-23 17:51] kyleniemeyer commented on #4765
@editorialbot reject

[2022-09-23 17:51] #4765 closed

[2022-09-23 18:03] elbeejay commented on #4715
@NoraLoose would you be interested in reviewing this submission to JOSS? I know this isn't your exact specialty, but I believe you have the Python experience as well as the scientific background to provide a thorough and constructive review.

[2022-09-23 18:07] MartianColonist commented on #4709
@arfon just touching base to see if an editor might be available? Thank you!

[2022-09-23 18:24] teddygroves commented on #4760
@kyleniemeyer thanks for the pre-review! I’d really like to resubmit this project in the future if possible so I’d very much appreciate some advice if it’s not too much trouble.

First, is it possible to confirm whether the project is in scope as research software? This was part of the original query I think.

Second, is there a particular area that I should focus on in order to demonstrate additi

[2022-09-23 18:29] schochastics commented on #4563
@editorialbot generate pdf

@jbytecode I made the changes you suggested

[2022-09-23 18:29] kthyng commented on #4697
@rkurchin That would be great! I'll add you.

[2022-09-23 18:29] kthyng commented on #4697
@editorialbot assign @rkurchin as editor

[2022-09-23 18:36] jbytecode commented on #4563
Dear @schochastics

- [ ] I have just sent a pull request for a minor change in your paper.md, please apply the PR if you are agreed with them.
- [ ] Please read the paper pdf carefully, one more time, correct any issue if exists. Please perform a full grammar check.
- [ ] Create a tagged release in the newest version of the software repository. Report the version here. The version should be in fo

[2022-09-23 18:50] kyleniemeyer commented on #4760
@teddygroves the feedback focused on the small size, and the fact that it looked more like a minor utility rather than research software. There was also a question about whether a cookie cutter/template would be research software; the software packages that your utility relies on to do the actual calculations/processing/etc. certainly are.

[2022-09-23 19:08] teddygroves commented on #4760
Thanks a lot for the extra feedback! It sounds like the research software scope question came up but wasn’t settled definitively, and that the main issue regarding scholarly effort is the amount of code. Good to know!

[2022-09-23 19:29] jbytecode commented on #4563
@editorialbot generate pdf

[2022-09-23 19:58] galessiorob commented on #4751
Update: Just sent out another batch of invites. I'll open the review issue once we have two reviewers.

[2022-09-23 19:59] schochastics commented on #4563
@jbytecode :
- [x] paper checked again, no changes
- [x] tagged version `v1.2.0` [Link](https://github.com/schochastics/netrankr/releases/tag/v1.2.0)
- [x] DOI: https://doi.org/10.5281/zenodo.7109040
- [x] Zenodo Archive: https://zenodo.org/record/7109041

[2022-09-23 20:01] kyleniemeyer commented on #4531
Hi @psanan, just wanted to check on your progress.

[2022-09-23 20:06] kyleniemeyer commented on #4766
@editorialbot invite @emdupre as editor

Hi @emdupre, could you edit this one?

[2022-09-23 20:13] editorialbot opened #4776 "[PRE REVIEW]: Identify Differentially Methylated Regions for Microarray Data"
**Submitting author:** @DanielAlhassan (<a href="http://orcid.org/0000-0003-0944-5818">Daniel Alhassan</a>)
**Repository:** https://github.com/DanielAlhassan/idDMR
**Branch with paper.md** (empty if default branch):
**Version:** v0.5.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/f96ccc629e6b2c75fa60926b55bcbc8c/sta

[2022-09-23 20:18] kyleniemeyer commented on #4776
Hello @DanielAlhassan, due to the relatively small size of your software package, the JOSS editorial board is going to review your submission to see if it meets our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). We will hopefully get back to you within a week or two.

[2022-09-23 20:18] kyleniemeyer commented on #4776
@editorialbot query scope

[2022-09-23 20:19] editorialbot opened #4777 "[PRE REVIEW]: Wakeflow: A python package for semi-analytic models of planetary wakes"
**Submitting author:** @TomHilder (<a href="http://orcid.org/0000-0001-7641-5235">Thomas Hilder</a>)
**Repository:** https://github.com/TomHilder/wakeflow
**Branch with paper.md** (empty if default branch): master
**Version:** v1.2.0
**Editor:** @dfm
**Reviewers:** @richteague, @andizq
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/22d35f9b0bb35a8df4dab85b0b6f

[2022-09-23 20:27] kyleniemeyer commented on #4777
Hello @TomHilder, this is the issue where we will find an editor and reviewers for your submission.

Unfortunately, we do not have any editors available in this area right now, and I have to place this on our wait list for the time being. In the meantime, any reviewer suggestions you can give would be helpful for when we do find an editor.

[2022-09-23 20:29] editorialbot opened #4778 "[PRE REVIEW]: DearEIS - A GUI program for analyzing impedance spectra"
**Submitting author:** @vyrjana (<a href="http://orcid.org/0000-0001-5779-5201">Ville Yrjänä</a>)
**Repository:** https://github.com/vyrjana/DearEIS
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 3.1.2
**Editor:** @jgostick
**Reviewers:** @Aslan-Kosakian, @mdmurbach
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/0c39f36c71490967927

[2022-09-23 20:30] kyleniemeyer commented on #4778
@editorialbot invite @jgostick as editor

Hi @jgostick, are you able to edit one additional submission? Thanks!

[2022-09-23 20:38] editorialbot opened #4779 "[PRE REVIEW]: SWAMPE: A Shallow-Water Atmospheric Model in Python for Exoplanets"
**Submitting author:** @kathlandgren (<a href="http://orcid.org/0000-0001-6029-5216">Ekaterina Landgren</a>)
**Repository:** https://github.com/kathlandgren/SWAMPE
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.2
**Editor:** @dfm
**Reviewers:** @mark-hammond, @imalsky
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/ef9e88a2db11cb4c962b8a1

[2022-09-23 20:39] editorialbot opened #4780 "[PRE REVIEW]: saccadr: A Modular and Extendable R Package to Extract (Micro)Saccades from Gaze Samples via an Ensemble of Methods Approach"
**Submitting author:** @alexander-pastukhov (<a href="http://orcid.org/0000-0002-8738-8591">Alexander Pastukhov</a>)
**Repository:** https://github.com/alexander-pastukhov/saccadr
**Branch with paper.md** (empty if default branch): main
**Version:** v0.1.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/90c71951cda53a6

[2022-09-23 20:40] kyleniemeyer commented on #4780
@editorialbot check repository

[2022-09-23 20:47] kyleniemeyer commented on #4779
@editorialbot check repository

[2022-09-23 20:50] kyleniemeyer commented on #4779
Hi @kathlandgren, we will use this issue to assign an editor and find reviewers.

Unfortunately, we do not have any editors in this area available to handle this right now, so I need to put this on our wait list until someone can take it on. In the meantime, any reviewer suggestions would be welcome.

Also, it looks like some of your references in the paper are missing journal names, likely due to

[2022-09-23 20:56] kyleniemeyer commented on #4780
@editorialbot set main as branch

[2022-09-23 20:56] kyleniemeyer commented on #4780
@editorialbot check repository

[2022-09-23 20:58] kyleniemeyer commented on #4780
@editorialbot query scope

[2022-09-23 20:58] kyleniemeyer commented on #4780
Hi @alexander-pastukhov, due to the relatively small size of the software package, the editorial board is going to review your submission to see if it meets our standards for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). We will hopefully get back to you within a week or so.

[2022-09-23 21:01] editorialbot opened #4781 "[PRE REVIEW]: abcvoting: A Python package for approval-based multi-winner voting rules"
**Submitting author:** @martinlackner (<a href="http://orcid.org/0000-0003-2170-0770">Martin Lackner</a>)
**Repository:** https://github.com/martinlackner/abcvoting
**Branch with paper.md** (empty if default branch):
**Version:** v2.5.0
**Editor:** @martinfleis
**Reviewers:** @sdmccabe, @cjbarrie
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/222ca400e0f171e4b

[2022-09-23 21:02] kyleniemeyer commented on #4781
@editorialbot invite @martinfleis as editor

Hi @martinfleis, could you edit this one?

[2022-09-24 00:17] jvkersch commented on #4236
@sdhutchins thanks for the follow-up! There are actually two more things from your review that I wanted to get done: moving the docs to Sphinx (https://github.com/enthought/vpsearch/issues/30) and adding the badges (https://github.com/enthought/vpsearch/issues/31). However, we sort of got onto a side track because we fixed an issue with our build process while addressing your other issue. I can pr

[2022-09-24 04:58] jbytecode commented on #4563
@editorialbot set v1.2.0 as version

[2022-09-24 04:58] jbytecode commented on #4563
@editorialbot set 10.5281/zenodo.7109041 as archive

[2022-09-24 05:12] jbytecode commented on #4563
@editorialbot recommend-accept

[2022-09-24 06:15] editorialbot opened #4782 "[PRE REVIEW]: GLUE Code: A framework handling communication and interfaces between scales"
**Submitting author:** @apachalieva (<a href="http://orcid.org/0000-0003-1246-0410">Aleksandra Pachalieva</a>)
**Repository:** https://github.com/lanl/GLUE
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a200507cb0091621b80baa85ee59186c/status.svg)](

[2022-09-24 06:16] editorialbot opened #4783 "[PRE REVIEW]: BlenderProc2"
**Submitting author:** @themasterlink (<a href="http://orcid.org/0000-0002-1557-2234">Maximilian Denninger</a>)
**Repository:** https://github.com/DLR-RM/BlenderProc
**Branch with paper.md** (empty if default branch):
**Version:** v2.4.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @nicoguaro, @BradyAJohnston, @natevm, @SelvamArul
**Managing EiC:** Arfon Smith

## Status

[![status](https://

[2022-09-24 06:16] editorialbot opened #4784 "[PRE REVIEW]: SPyCi-PDB: A modular command-line interface for back-calculating experimental datatypes of protein structures"
**Submitting author:** @menoliu (<a href="http://orcid.org/0000-0002-8357-8507">Zi Hao Liu</a>)
**Repository:** https://github.com/julie-forman-kay-lab/SPyCi-PDB
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.10
**Editor:** @ppxasjsm
**Reviewers:** @dotsdl
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/6a56ce7708734f55141bcf61f5286b62/stat

[2022-09-24 06:16] editorialbot opened #4785 "[PRE REVIEW]: Fluximplied: A novel approach integrates rate limiting steps and differential expression for pathway analysis"
**Submitting author:** @sportiellomike (<a href="http://orcid.org/0000-0003-1690-8702">Mike Sportiello</a>)
**Repository:** https://github.com/sportiellomike/fluximplied
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/1292ec6afebeaa621c50bb5f66114327

[2022-09-24 06:17] editorialbot opened #4786 "[PRE REVIEW]: NIMPHS: Numerous Instruments to Manipulate and Post-process Hydraulic Simulations"
**Submitting author:** @Failxxx (<a href="http://orcid.org/0000-0002-7159-2168">Félix Olart</a>)
**Repository:** https://github.com/Artelia/NIMPHS
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.4.1
**Editor:** @hugoledoux
**Reviewers:** @bnase, @liberostelios
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/63596babdb26138c6eb1886b094c00a

[2022-09-24 06:17] editorialbot opened #4787 "[PRE REVIEW]: kep_solver: A Python package for kidney exchange programme exploration"
**Submitting author:** @WPettersson (<a href="http://orcid.org/0000-0003-0040-2088">William Pettersson</a>)
**Repository:** https://gitlab.com/wpettersson/kep_solver
**Branch with paper.md** (empty if default branch):
**Version:** 2.1.0
**Editor:** @jmschrei
**Reviewers:** @arianesasso, @igarizio
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/46198c037f6e26fbb0e

[2022-09-24 06:17] editorialbot opened #4788 "[PRE REVIEW]: teiphy: A Python Package for Converting TEI XML Collations to NEXUS and Other Formats"
**Submitting author:** @jjmccollum (<a href="http://orcid.org/0000-0002-5647-0365">Joey McCollum</a>)
**Repository:** https://github.com/jjmccollum/teiphy
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.2
**Editor:** @majensen
**Reviewers:** @tresoldi, @SimonGreenhill
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/e0a813f4cdf56e9f6ae5d555ce

[2022-09-24 06:17] editorialbot opened #4789 "[PRE REVIEW]: carrrotter: An R package to interactively inspect and process Avaatech XRF Corescanner data"
**Submitting author:** @blaidd4drwg (<a href="http://orcid.org/0000-0001-8449-9600">Remo L. Roethlin</a>)
**Repository:** https://github.com/blaidd4drwg/carrrotter
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a563ad5828b881edefd9ffc6402c

[2022-09-24 06:17] editorialbot opened #4790 "[PRE REVIEW]: PySwarming: a research toolkit for Swarm Robotics"
**Submitting author:** @mrsonandrade (<a href="http://orcid.org/0000-0002-5023-8733">Emerson Andrade</a>)
**Repository:** https://github.com/mrsonandrade/pyswarming
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/4f9aeeafa3bdc62c9bd4a1234f0c56f5/stat

[2022-09-24 06:17] editorialbot opened #4791 "[PRE REVIEW]: localcovid19now: processing and mapping COVID-19 case data at subnational scales"
**Submitting author:** @sjbeckett (<a href="http://orcid.org/0000-0002-4410-2960">Stephen Beckett</a>)
**Repository:** https://github.com/sjbeckett/localcovid19now
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.0.9900
**Editor:** @galessiorob
**Reviewers:** @richelbilderbeek
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a350d5e6dd0610b411a

[2022-09-24 06:19] arfon commented on #4782
@editorialbot set manuscript as branch

[2022-09-24 06:21] arfon commented on #4783
@themasterlink – many thanks for your submission to JOSS. I see you note a rewrite of the API for BlenderProc2 – would it be possible to provide a diff between the earlier version of the codebase and this one submitted for review here? e.g., like described here: https://docs.github.com/en/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits

[2022-09-24 06:23] arfon commented on #4785
@sportiellomike - thanks for your submission to JOSS. Unfortunately, this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI for your so

[2022-09-24 06:23] arfon commented on #4785
@editorialbot reject

[2022-09-24 06:23] #4785 closed

[2022-09-24 06:25] arfon commented on #4789
@editorialbot query scope

@blaidd4drwg – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-09-24 06:27] arfon commented on #4790
@editorialbot query scope

@mrsonandrade – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-09-24 06:28] editorialbot opened #4792 "[PRE REVIEW]: rigr: Regression, Inference, and General Data Analysis Tools in R"
**Submitting author:** @yiqunchen (<a href="http://orcid.org/0000-0002-4100-1507">Yiqun Chen</a>)
**Repository:** https://github.com/statdivlab/rigr
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** v1.0.4
**Editor:** @osorensen
**Reviewers:** @stefanocoretta, @tomsing1
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/32b5abe35923079

[2022-09-24 06:30] editorialbot opened #4793 "[PRE REVIEW]: Linopy: Linear optimization with n-dimensional labeled variables"
**Submitting author:** @fabianhofmann (<a href="http://orcid.org/0000-0002-6604-5450">Fabian Hofmann</a>)
**Repository:** https://github.com/PyPSA/linopy
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.0.11
**Editor:** @Fei-Tao
**Reviewers:** @torressa, @g4brielvs
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/1cb9253438483e4d336508d9a26

[2022-09-24 06:31] editorialbot opened #4794 "[PRE REVIEW]: FAME-Core: An open Framework for distributed Agent-based Modelling of Energy systems"
**Submitting author:** @KriNiTi (<a href="http://orcid.org/0000-0003-4180-6767">Kristina Nienhaus</a>)
**Repository:** https://gitlab.com/fame-framework/fame-core
**Branch with paper.md** (empty if default branch): 86-publish-paper
**Version:** 1.4.1
**Editor:** @fraukewiese
**Reviewers:** @xtruan, @pgranato
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/90d9042

[2022-09-24 06:31] editorialbot opened #4795 "[PRE REVIEW]: FAME-Io: Configuration tools for complex agent-based simulations"
**Submitting author:** @dlr_fn (<a href="http://orcid.org/0000-0002-9824-3371">Felix Nitsch</a>)
**Repository:** https://gitlab.com/fame-framework/fame-io
**Branch with paper.md** (empty if default branch): 139-prepare-publication
**Version:** 1.6
**Editor:** @fraukewiese
**Reviewers:** @imcatta, @robbiemorrison
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/0fb

[2022-09-24 06:31] editorialbot opened #4796 "[PRE REVIEW]: AMIRIS: Agent-based Market model for the Investigation of Renewable and Integrated energy Systems"
**Submitting author:** @KriNiTi (<a href="http://orcid.org/0000-0003-4180-6767">Kristina Nienhaus</a>)
**Repository:** https://gitlab.com/dlr-ve/esy/amiris/amiris
**Branch with paper.md** (empty if default branch): 3-prepare-publication-at-joss
**Version:** 1.2.3.3
**Editor:** @fraukewiese
**Reviewers:** @sebastianboblest, @imcatta
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.

[2022-09-24 06:31] editorialbot opened #4797 "[PRE REVIEW]: BurnMan -- a Python toolkit for planetary geophysics, geochemistry and thermodynamics"
**Submitting author:** @bobmyhill (<a href="http://orcid.org/0000-0001-9489-5236">Robert Myhill</a>)
**Repository:** https://github.com/geodynamics/burnman
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/b9b95117098cf85598bb01dadbe62ee2/status.

[2022-09-24 06:36] arfon commented on #4796
@KriNiTi – please remove the extra licensing information at the top of you paper.md (it's breaking things) and format as you have for other related papers e.g., https://gitlab.com/fame-framework/fame-io/-/raw/139-prepare-publication/paper/paper.md

[2022-09-24 06:36] arfon commented on #4795
This work is a joint submission with https://github.com/openjournals/joss-reviews/issues/4794

[2022-09-24 06:37] arfon commented on #4796
This is a joint/related submission to https://github.com/openjournals/joss-reviews/issues/4794

[2022-09-24 07:16] WPettersson commented on #4787
I've fixed the invalid DOI issue and added DOIs for all references that didn't have them.

@editorialbot generate pdf

[2022-09-24 08:11] bobmyhill commented on #4797
Potential Reviewers:
* aswolf (not on your list)
* SHDShim (not on your list)
* ghfbsd (not on your list)
* anowacki (row 1049)
* hemmelig (row 2175 tenuous)

[2022-09-24 08:25] bobmyhill commented on #4797
List of potential reviewers updated.

[2022-09-24 09:12] fxnitsch commented on #4796
Thank you @arfon for the notification. I fixed the `paper.md` accordingly.

[2022-09-24 09:34] csoneson commented on #4494
Thanks all - it would be great to have a confirmation that the unit tests indeed pass (either from @marshallmcdonnell, or if you can point us to where to look in the GitHub Actions if it's there). If possible, it would also be great if @chryswoods would be able to tick the remaining boxes in the checklist above before we move on.

[2022-09-24 09:37] csoneson commented on #4545
👋🏻 @mschubert, @gvegayon - would one of you be available and interested in reviewing this submission for JOSS?

dsBinVal: Conducting distributed ROC analysis and Calibration using DataSHIELD

Thanks in advance!

[2022-09-24 10:23] mschubert commented on #4545
Hi @csoneson, thanks for the invite but I'm unfortunately swamped for the next couple of weeks and won't be able to review

[2022-09-24 10:30] zhubonan commented on #4504
@jarvist I have completed my review, all looks good to me.

[2022-09-24 12:57] Failxxx commented on #4786
@editorialbot check references

[2022-09-24 12:57] Failxxx commented on #4786
@editorialbot generate pdf

[2022-09-24 13:02] tijeco commented on #4775
@editorialbot generate my checklist

[2022-09-24 13:07] Failxxx commented on #4786
Looking at the list of potential reviewers, maybe these people could fit for a review ?
- myxie
- zfergus
- idoby
- ... need for other recommendations?

[2022-09-24 14:31] junghans commented on #4782
@editorialbot generate pdf

[2022-09-24 15:03] pjb7687 commented on #4720
I've run the benchmarks.

1. I had to change below in Makefile:

[code]

to:

[code]

so that it works properly. I've also installed all required Python and R packages.

2. Unfortunately, it takes forever for me to download `ERR6668574` from SRA, I had to run the benchmarks with a FASTQ file that I have.

3. I mainly focused on reproducing the second panel of the figure in the paper, which shows t

[2022-09-24 15:07] tijeco commented on #4775
@kavir1698 I've started going through the examples. I started with the following `agentdata, modeldata, model = runmodel("examples/paramfile1.jl")` and ran into an error, which I believe is due to a typo in the paramfile. I've raised an issue here (https://github.com/kavir1698/EvoDynamics.jl/issues/33).

[2022-09-24 15:25] tijeco commented on #4775
As is, the example in `examples/paramfile2.jl` works as expected. I'd say the documentation on setting up the model parameters and running the simulations is well done, but there seems to be very little on the interpretation of what the output is.

For example, the `runmodel()` function that is used to create `agentdata, modeldata, model`,  a dataframe with values `mean_fitness_per_species` and `s

[2022-09-24 17:31] jmschrei commented on #4767
Thanks for the review @petebankhead! @bmskinner, let me know if there are any challenges addressing these points.

[2022-09-24 21:12] vlad0x00 commented on #4720
Hi @pjb7687 ,

Thank you for additional feedback! To address your concerns:

Thank you for spotting this, I've removed the misplaced include and library paths in the paper branch Makefile.

I've noticed that downloading sequences from there sometimes takes a bit and is fast at other times.

If your sequences aren't particularly long, the effects won't be visible since the time spent in the critica

[2022-09-24 22:52] rbturnbull commented on #4788
Sorry, we missed a couple DOIs. They should be OK now.

[2022-09-24 22:52] rbturnbull commented on #4788
@editorialbot check references

[2022-09-25 03:37] ThomasThelen commented on #4562
@editorialbot generate pdf

[2022-09-25 04:19] ThomasThelen commented on #4562
Hey @marcosvital I went ahead and updated the manuscript and feel that this should be the final version; there was one section where the code had been cut off on the right side margin so I added line breaks. The content itself wasn't changed.

[2022-09-25 08:36] sidihamady commented on #4443
Hi @rkurchin,
As far as I know, there are no performance claims of the software, this is why I checked off this item.
So there is no action required from @EwaGomez.
Sidi

[2022-09-25 11:26] Viech commented on #4468
I've re-read the paper, which to me is much clearer now! I've also reviewed parmoo/parmoo#39 and this looks good to me. From my point of view, the submission can be accepted as is.

Unfortunately I do not have any more insight and I suppose `exec` is not so different from `import`, anyway.

Just as a side remark, if this kind of explicit/self-documenting code is important to you, I should advertis

[2022-09-25 11:43] editorialbot opened #4798 "[PRE REVIEW]: EEG WEAVER REPORTER. A open source app for neurophysiologic reports."
**Submitting author:** @paulokanda (<a href="http://orcid.org/0000-0002-0959-0540">Paulo Afonso Medeiros Kanda</a>)
**Repository:** https://github.com/paulokanda/EEG_Weaver_Reporter_G
**Branch with paper.md** (empty if default branch): paper/
**Version:** V2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ce4b82f7d4816

[2022-09-25 11:49] arfon commented on #4798
@paulokanda – thanks for your submission to JOSS. Please review the submission guidelines and prepare your paper _exactly_ as specified here: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

The current paper isn't named `paper.md` and the metadata is incorrectly formatted.

Additionally I am querying the scope of this submission as it doesn't look to be struct

[2022-09-25 11:49] arfon commented on #4798
@editorialbot query scope

[2022-09-25 11:56] arfon commented on #4623
Please just update the Markdown to remove the backslash in the title and we can re-process. It's Markdown we're dealing with here not LaTeX.

[2022-09-25 12:14] Nikoleta-v3 commented on #4742
@jsun and @gtonkinhill thank you both very much for your time and for your reviews! 🙏🏻 🎉

@LTLA my apologies for the delay on my part. I am going to look over the reviews and the submission one last time this week and let you know if there are any more issues you have to address 😃

[2022-09-25 12:25] Nikoleta-v3 commented on #4683
Hey 👋🏼 @georgiastuart and @salrm8 😄 any update on your reviews?

[2022-09-25 15:00] the-hampel commented on #4623
Hi @arfon ,
I removed all backslashes in the markdown: https://github.com/TRIQS/solid_dmft/commit/6d10d49d0c19529146b3609b593490f2632bc37d on our JOSS branch. No other changes. If you could re-process it would be awesome. Thank you!

[2022-09-25 15:34] jmejia8 commented on #4723
@idoby, thank you very much for the positive comments 🎉. I will update the document considering the suggestions you kindly made  🧑‍💻

[2022-09-25 16:37] sportiellomike commented on #4785
@arfon,

Good morning,

I hope all is well. Thank you for taking the time to consider our manuscript. I am writing in reply to the fluximplied editorial decision. I have reread through the "substantial effort" section, and I was curious for which metric it was rejected. Were you able to read our bioarxiv paper I linked to in the submission? I hope it's clear that we demonstrated utility and substa

[2022-09-25 17:42] slwu89 commented on #4775
@editorialbot generate my checklist

[2022-09-25 18:03] arfon commented on #4623
@editorialbot reaccept

[2022-09-25 18:06] arfon commented on #4623
OK, that should all be fixed up now.

[2022-09-25 20:06] degiacom commented on #4693
Yes, happy to

[2022-09-25 20:07] ppxasjsm commented on #4693
@editorialbot assign @degiacom as reviewer

[2022-09-25 20:08] ppxasjsm commented on #4693
@editorialbot add @degiacom as reviewer

[2022-09-25 20:09] degiacom commented on #4693
@editorialbot generate my checklist

[2022-09-25 20:28] quietlychris commented on #4737
To the best of my ability, I've completed my review of this library. I have tentatively checked the box labeled "Functionality: Have the functional claims of the software been confirmed?"--while I have given the math itself a look-over, as mentioned, I am not an expert in the area. Apart from that caveat, however, I can give a positive review to all other aspects of this submission. If you require

[2022-09-25 20:40] nasserma commented on #3742
Hi @tarleb , the situation is as you expected and line 106 of the current version of the Markdown source for the paper should be removed. I will push a revision of the file to the OpenCMP repository, but since this does not result in a change in the compiled PDF does anything else need to be done?

[2022-09-26 00:26] kyleniemeyer commented on #4563
@editorialbot accept

[2022-09-26 00:36] kyleniemeyer commented on #4563
Congratulations @schochastics on your article's publication in JOSS!

Many thanks to @akbaritabar and @corybrunson for reviewing this, and @jbytecode for editing.

[2022-09-26 00:36] #4563 closed

[2022-09-26 02:36] ixjlyons commented on #4627
## General comments

It's mentioned in the paper and documentation that the ingester will remove stale data from the Redis DB once it's deemed sufficiently stale -- it's not quite clear to me how staleness is determined. Perhaps some additional detail could be added to the tutorial.

While I did find that a `river_test` binary is built, I didn't see anything in the documentation referring to it fo

[2022-09-26 02:46] jedbrown commented on #4603
@editorialbot generate pdf

[2022-09-26 03:45] emdupre commented on #4766
Happy to take this ! Thanks for the invitation, @kyleniemeyer.

[2022-09-26 03:46] emdupre commented on #4766
@editorialbot assign @emdupre as editor

[2022-09-26 03:48] emdupre commented on #4766
👋 Hi @edeno, and thanks for your submission to JOSS ! I see that you have already suggested potential reviewers in thread ; I'll look through these suggestions and send out invitations soon.

[2022-09-26 04:05] jedbrown commented on #4603
Thank you for the updates and sorry about my slow handling. The paper looks much better. I have two remaining concerns:
1. The build is still quite manual and hard to maintain. For example, it seems likely that the various `makefile_*` files will get out of sync. A different approach would be to have one makefile that `include`s a machine-specific file (perhaps determined using `$(shell uname)` or

[2022-09-26 04:55] SotaYoshida commented on #4694
@editorialbot set v2.0.1 as version

[2022-09-26 05:36] SotaYoshida commented on #4694
@mdavezac Apologies for the delay.

I have made dozens of modifications on the package according to your valuable comment, and then tagged the latest one as v2.0.1.
(For the above command , I didn't understand how to interact with the bot. Please do not care.)

Here is the summary and reply to your comment:

1. For the documantation

    I have made new pages, [HowToUse](https://sotayoshida.github

[2022-09-26 06:05] fabian-s commented on #4448
@timClicks please respond

[2022-09-26 07:03] rbturnbull commented on #4788
Here are some names for possible JOSS reviewers who use phylogenetics in similar ways to what we are doing in this paper (and have Python as one of their preferred languages):

- SimonGreenhill
- tresoldi
- Anaphory

Here are some other potential reviewers who use phylogenetics and have Python as one of their preferred languages.
- marekborowiec
- rachelss
- tkchafin
- petaripenev
- jmcbroome

[2022-09-26 07:26] fraukewiese commented on #4472
@mcgrathc : Could you please give us an update regarding the issues raised by chrklemm?

[2022-09-26 07:29] fraukewiese commented on #4712
Ok. Thanks a lot @EwaGomez and @fneum for agreeing to review! I will add you as reviewer and start the review issue, but I am aware that you will not start the review before mid-October.

[2022-09-26 07:30] fraukewiese commented on #4712
@editorialbot add @EwaGomez as reviewer

[2022-09-26 07:30] fraukewiese commented on #4712
@editorialbot add @fneum as reviewer

[2022-09-26 07:30] fraukewiese commented on #4712
@editorialbot start review

[2022-09-26 07:30] editorialbot opened #4799 "[REVIEW]: CLOVER: A modelling framework for sustainable community-scale energy systems"
**Submitting author:** @phil-sandwell (<a href="http://orcid.org/0000-0003-1117-5095">Philip Sandwell</a>)
**Repository:** https://github.com/CLOVER-energy/CLOVER
**Branch with paper.md** (empty if default branch): publish
**Version:** v5.0.6
**Editor:** @fraukewiese
**Reviewers:** @EwaGomez, @fneum
**Archive:** 10.5281/zenodo.7575877

## Status

[![status](https://joss.theoj.org/papers/be3c026bd5

[2022-09-26 07:30] #4712 closed

[2022-09-26 07:32] fraukewiese commented on #4712
@EwaGomez , @fneum , @phil-sandwell : See you over in #4799  where the review will take place :)

[2022-09-26 07:32] martinlackner commented on #4781
Looking at the possible reviewers, maybe manmeetkaurbaxi, cosimameyer, hknd23 or pmyteh would be interested? They mention political science and/or computational social science - so there's some connection to abcvoting's topic (voting and computational social choice).

[2022-09-26 07:49] martinlackner commented on #4781
@editorialbot commands

[2022-09-26 07:51] martinlackner commented on #4781
@editorialbot check references

[2022-09-26 07:56] tarleb commented on #3742
Thanks for the feedback. I'm generating JATS from a copy of the paper sources, so I can fix locally. With the PDF looking as intended, there is nothing else we'd need to do here. The rest is on my side. :+1:

[2022-09-26 08:39] KonradHoeffner commented on #4755
@editorialbot commands

[2022-09-26 08:46] jarvist commented on #4504
Dear Bonan, thank you for being so prompt with your review.
I will do some final checks and make an editorial decision later today.

[2022-09-26 08:53] arfon commented on #4071
@adi3 – it seems like the author has abandoned this submission. As such, I'm going to proceed to reject.

@adi3, @AustinTSchaffer, @sneakers-the-rat – thanks for your efforts here, sorry this one didn't work out.

[2022-09-26 08:53] arfon commented on #4071
@editorialbot reject

[2022-09-26 08:53] #4071 closed

[2022-09-26 08:58] FabianHofmann commented on #4793
@editorialbot commands

[2022-09-26 09:01] KonradHoeffner commented on #4755
@kellyrowland: I am finished with my first review and checked all the boxes I feel comfortable checking.
Unfortunately I cannot accept the paper at the current state due to the reasons commented above.
However if the authors fix the two acceptance blockers (issues filed at the target repository because of failing installation and failing tests) and address the other comments, this can be changed i

[2022-09-26 09:10] FabianHofmann commented on #4793
Possible reviewers:

* matbesancon
* mskwark
* torressa
* e-dub
* bleyerj
* mvaldes
* mewilhel
* brynpickering

[2022-09-26 09:14] micheder commented on #4576
@arfon @pibion @Kevin-Mattheus-Moerman - We have submitted this paper more than 2 months ago. May we politely ask to speed up the editorial process? Thank you very much for your understanding :)

[2022-09-26 09:16] cagret commented on #4363
@editorialbot generate pdf

[2022-09-26 09:21] cagret commented on #4363
i change \ell to 'l' maybe it can fix this.. PDF :  "reduce the final score by ℓ−k/ℓ , whereas the percentage of identity is ℓ−1/ℓ .
Latex : $\frac{\ell-k}{\ell}$, whereas the percentage of identity is $\frac{l-1}{l}$. new latex : $\frac{l-k}{l}$, whereas the percentage of identity is $\frac{l-1}{l}$.

[2022-09-26 09:27] lucydot commented on #4624
Hello @hgandhi2411 , @darinddv - how are your reviews going? Please let me know if you have any questions about the process. An indication of the timeline you are working to would be useful.

@darinddv are you still able to review this submission? I can see that you have not generated the checklist yet - let me know if you have any questions.

[2022-09-26 09:28] lucydot commented on #4333
@editorialbot generate pdf

[2022-09-26 09:28] lucydot commented on #4333
@editorialbot check references

[2022-09-26 09:32] lucydot commented on #4333
OK @jonathanHuwP the pdf looks good to me - final steps now. Please can you do the following:

- Make a tagged release of your software
- Archive this release on Zenodo (or similar)
    - The archive should have exactly the same title and author list as your JOSS paper
- Report the archive DOI in this thread

[2022-09-26 09:32] cagret commented on #4363
@editorialbot generate pdf

[2022-09-26 09:34] cagret commented on #4363
@editorialbot generate pdf

[2022-09-26 09:39] cagret commented on #4363
How can I see the files that are compiled by the latex? I have a feeling that they are not the right files.

[2022-09-26 09:40] peanutfun commented on #4680
@editorialbot generate pdf

[2022-09-26 09:45] cagret commented on #4363
@editorialbot generate pdf

[2022-09-26 09:52] martinfleis commented on #4781
@kyleniemeyer this is not a field of my expertise but I can handle the review if needed. But I'll fully rely on reviewers here.

[2022-09-26 10:42] jarvist commented on #4504
@editorialbot check references

[2022-09-26 10:43] jarvist commented on #4504
@editorialbot check repository

[2022-09-26 11:40] degiacom commented on #4693
I find the article is overall well-written. Beyond the pertinent observations by @ptmerz, I have two additional comments.

- it is expected that the Summary section features "_a clear description of the high-level functionality and purpose of the software_". In this spirit, I suggest the authors add one sentence stating what oxDNA is/does.
- In the section "_Related Software_", I find that that th

[2022-09-26 11:56] kavir1698 commented on #4775
Thank you @tijeco for your feedback. I have addressed the issue. Once all the issue of this review are addressed, I will release a new version of the package.

[2022-09-26 12:03] the-hampel commented on #4623
yes - thank you so much. Looks all good now.

[2022-09-26 12:19] geraintpalmer commented on #4607
@editorialbot generate my checklist

[2022-09-26 12:22] lavrovaliz commented on #4668
@danielskatz @cMadan  hi, I just wanted to leave a kind reminder about this branch :-)

[2022-09-26 13:18] kyleniemeyer commented on #4781
@martinfleis thanks - unfortunately I don't think we have anyone in exactly this area

[2022-09-26 13:21] osorensen commented on #4555
How is it going with this @Matthew-Jennings?

[2022-09-26 13:23] osorensen commented on #4691
@jingpengw, could you please let us now if the last edits by the authors address the remaining issues on your checklist?

[2022-09-26 13:26] osorensen commented on #4691
@estenhl, thanks for your review!

Is the missing check in the **Reproducibility** section related to the results reported in this section of the paper?

<img width="744" alt="image" src="https://user-images.githubusercontent.com/21175639/192288629-d9c3cb7a-311c-485d-ba73-b1ba7aa1604c.png">

[2022-09-26 13:26] rkurchin commented on #4694
@SotaYoshida thanks for all your work on these changes! Just so you know, adding the version tag via the bot is something only I as the editor have the permission to do. I usually wait until the end of the review to do that so it can just be set when it's finalized. So don't worry about it!

[2022-09-26 13:30] osorensen commented on #4655
👋 @neerajdhanraj, @kauedesousa, could you please update us on how it's going with your reviews?

[2022-09-26 13:38] osorensen commented on #4684
👋 @tomfaulkenberry, @garretrc, could you please update us on how it's going with your reviews?

Feel free to add comments to your reviews in this thread, or to open issues in the [source repository](https://github.com/easystats/datawizard)

[2022-09-26 13:41] martinfleis commented on #4781
@editorialbot assign me as editor

[2022-09-26 13:46] garretrc commented on #4684
I've had the chance to incoporate many of the datawizard functions into my own workflow to test the functionality, I'll wrap up checking some of the remaining functions that I haven't been able to test today.

This package has a lot of useful functions even for experienced R users, so I'm also thinking about ways this package could best communicate that.

[2022-09-26 14:08] euronion commented on #4472
I share @chrklemm opinion. The test coverage improved a little bit but is still low. Since there are a number of additional functionalities included in the package which do not represent the packages core functionality (e.g. visualisation) I would be fine with a test coverage in the range of 50% as long as core functionalities are covered by the tests.
Specifically the tests to "ensure high level

[2022-09-26 14:09] CZHU20 commented on #4118
@Kevin-Mattheus-Moerman
Dear Kevin, I have made all the changes. We have created a new release (2022.09.26) based on the reviewed version of svFSI. The DOI of the ZENODO archive is [10.5281/zenodo.6673060](https://zenodo.org/record/7113485#.YzGv0C0RqZw). All records on ZENODO has been made consistent with the JOSS submission. Please let me know if there are other issues. Thank you very much.

[2022-09-26 14:13] themasterlink commented on #4783
@editorialbot commands

[2022-09-26 14:14] themasterlink commented on #4783
@editorialbot check references

[2022-09-26 14:25] langmm commented on #4756
Related issue opened on Gitlab: https://gitlab.com/robizzard/libcdict/-/issues/7

[2022-09-26 14:28] jingpengw commented on #4691
thank you! I think it is good to go!

[2022-09-26 14:34] pibion commented on #4576
@micheder apologies for the delay and the lack of communication - I've been swamped but will be un-swamped as of this Wednesday, so I'll be focusing on this paper starting this Thursday.

[2022-09-26 14:45] jgostick commented on #4778
@editorialbot assign @jgostick as editor

[2022-09-26 14:46] peanutfun commented on #4680
@editorialbot generate pdf

[2022-09-26 14:52] sdhutchins commented on #4236
Sounds good! Just didn't want to hold up the review for these things, but they definitely would add to your package. Thanks for following up on that @jvkersch.

[2022-09-26 14:53] jgostick commented on #4397
@editorialbot recommend-accept

[2022-09-26 14:58] fboehm commented on #4674
@diazrenata - please see the replies from @DominiqueMaucieri above and feel free to continue the conversation in this thread. Thanks again!

[2022-09-26 15:00] peanutfun commented on #4680
@danielskatz @ryanmrichard Thank you for your understanding. I concluded my review and I recommend the submission for publication.

@ryanmrichard @AutonomicPerfectionist Thank you for your work! I see you are working hard on this project and the speed with which you engage into discussions, update the documentation, and implement new features is impressive. Keep it up! 🙌

[2022-09-26 15:00] fboehm commented on #4720
@MaximLippeveld and @pjb7687 - Thank you for the thorough discussions! Please see the replies from @vlad0x00 above and feel free to continue the conversation. Please let me know if there is anything that I can do to help. Thanks again!

[2022-09-26 15:54] lorenzo-rovigatti commented on #4693
Thanks for the review! I have updated the paper following your comments. Here is a list of changes:

- Added the following sentence at the end of the Summary section: "Here we present `oxDNA`, a software package that has been designed to efficiently run coarse-grained simulations of DNA and RNA and also features an analysis suite aimed at post-processing the analysis of oxDNA/oxRNA trajectories."

[2022-09-26 15:54] lorenzo-rovigatti commented on #4693
@editorialbot generate pdf

[2022-09-26 16:06] lbluque commented on #4504
Thanks, @jarvist  I don't have an archive DOI, but I'll look into creating one later today.

[2022-09-26 16:07] gvegayon commented on #4545
I'm sorry, @csoneson, but I don't have enough time right now. I suggest asking Dr @zhiiiyang.

[2022-09-26 16:43] jarvist commented on #4504
@editorialbot check repository

[2022-09-26 16:48] archermarx commented on #4672
Thanks! I'll revise my paper with some additional references and to address some of the changes suggested by Dr. Sahu in the next few days.

[2022-09-26 17:42] csoneson commented on #4545
@zhiiiyang - I am aware that I have already invited you as a potential reviewer for this submission and you were busy at the time, but as that was a few months ago I'll take a chance and check if there's a possibility that you might be interested and available now... 🙂

[2022-09-26 17:46] rkurchin commented on #4697
👋 @zhubonan and @VHchavez, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-09-26 17:51] mcgrathc commented on #4472
@fraukewise given the issues raised by both @chrklemm and @euronion we are currently working to increase the test coverage to 50%, focusing on the core functionalities. I will update here when that is complete and ready for review. Thank you all for your valuable inputs!

[2022-09-26 18:38] jbytecode commented on #4718
@klb2 - Could you please check the issues that are created in the target repo and update your status? Thank you in advance.

[2022-09-26 18:40] jbytecode commented on #4708
@cprudhom - could you please update your status and inform us on how is your edits going?

[2022-09-26 18:50] jbytecode commented on #4736
Dear @jmejia8 and @HaoZeke,

I am so sorry if I am bothering you sending this post, it seems you have some progress checking some items off in your task lists, but if it is possible, could you please update your status and inform us on how is your review going?

Do you have any suggestions on both the software and paper?

Thank you in advance and have a nice week.

[2022-09-26 19:02] jmejia8 commented on #4736
Dear @tmigot and @jbytecode

I have finished reviewing the paper and code related to PDENLPModels. The structure of the document is clear, and the writing is acceptable. The package seems to be well-coded, tested, and organized. The installation, tests, and examples worked perfectly in my Julia distribution.

Below are some initial comments:

1. The documentation can be improved in presenting exam

[2022-09-26 19:05] jbytecode commented on #4736
@jmejia8 - thank you for the review and suggestions.

@tmigot - could you please take the suggestions into consideration and apply your changes and ping us?

Thank you in advance.

[2022-09-26 19:10] klb2 commented on #4718
Hey @jbytecode
Thank you for the reminder. I won't be able to work on these issues this week. I will continue working on them next week and send an update in this thread.

[2022-09-26 19:12] jbytecode commented on #4718
Dear @klb2,

Thank you for setting a deadline.  I will be here waiting to hear from you for your updates.

[2022-09-26 19:24] MaximLippeveld commented on #4720
Thanks for uploading the code to reproduce the figures. I am able to reproduce figure 1A up to 64 threads. I don't have access to a bigger machine.

Figure 1B is for me also not showing a significant advantage for SeqReader, but I would like to rerun it to make sure. In any case, I think figure 1B should be added to the paper as it at least shows that SeqReader is on par with kseq, which is also g

[2022-09-26 19:36] garretrc commented on #4684
Review finished. Everything I've tested returns the correct results and runs quickly. A couple comments:

1. I don't think the readme highlights the benefits of datawizard for an experienced R user (yes, a lot of the functions are quick to code up on your own, but you might save 5-10 minutes/a trip to stack overflow by using some datawizard "magic"). However, the easystats ecosystem page addresses

[2022-09-26 19:47] osorensen commented on #4684
Thanks a lot for your review @garretrc!

[2022-09-26 19:47] YuhanLiin commented on #4737
I've also completed checking over the code and have checked the "Documentation" section of the checklist. While I haven't reviewed the underlying paper or math, since it's outside my expertise, I have no issues with the code itself.

[2022-09-26 19:51] VHchavez commented on #4697
Hello @rkurchin & @ireaml, ShakeNBreak looks fantastic.
I, unfortunately, don't have much experience with solids, nor have I run any calculations using the codes mentioned (VASP, CP2K, Quantum-Espresso, CASTEP & FHI-aims). Thus I don't think I'm fit for this review.

[2022-09-26 19:56] zhubonan commented on #4697
@rkurchin Thanks for the invitation, and this does fall under my expertise. Unfortunately, I am in the same group as the lead author (used to be), so I don't think I can review this.

[2022-09-26 20:37] jgostick commented on #4778
@editorialbot add @Aslan-Kosakian as reviewer

[2022-09-26 21:29] Elchin commented on #4704
Hi @nicholas512, I am almost done with my reviews, just waiting for you to address my [comments](https://github.com/openjournals/joss-papers/issues/3518).

[2022-09-26 22:02] eloisabentivegna commented on #4651
@Pizzuti92, it's proving a bit challenging to find reviewers for this submission. Not to worry! I will just have to search further. In the meantime, I will start the review so @ttricco can get started. Also, if you have suggestions for colleagues who may be available to review this paper, please put them forward.

[2022-09-26 22:02] eloisabentivegna commented on #4651
@editorialbot start review

[2022-09-26 22:02] eloisabentivegna commented on #4651
@editorialbot add @ttricco as reviewer

[2022-09-26 22:03] eloisabentivegna commented on #4651
@editorialbot start review

[2022-09-26 22:03] editorialbot opened #4800 "[REVIEW]: MG-MAMPOSSt, a Fortran code to test gravity at 2 galaxy-cluster scales"
**Submitting author:** @Pizzuti92 (<a href="http://orcid.org/0000-0001-5654-7580">Lorenzo Pizzuti</a>)
**Repository:** https://github.com/Pizzuti92/MG-MAMPOSSt
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.2
**Editor:** @eloisabentivegna
**Reviewers:** @ttricco, @eloisabentivegna
**Archive:** 10.5281/zenodo.7515195

## Status

[![status](https://joss.theoj.org/papers/d

[2022-09-26 22:03] #4651 closed

[2022-09-26 22:25] rkurchin commented on #4697
No problem both, thanks for the quick response!

@zhubonan, if you have any other suggestions for good reviewers without conflicts of interest, feel free to pass them on!

[2022-09-26 22:37] krober10nd commented on #4366
Hello, Sorry I apologize for the delay. I am currently unable to install the package on Python 3.10 following the instructions on the source codes' webpage. I also cannot post issues without registering on gitlab. Are there specific versions of Python this software is compatible with? If so, it would be helpful to list them on the landing page.

What are the advantages of gitlab over GitHub? Seems

[2022-09-27 01:40] pjb7687 commented on #4720
I tried it again yesterday and successfully downloaded the fastq file.

Now I clearly understand the point. My fastq file only contains short reads as it is conventional Illumina sequencing data. I'll test it with the downloaded sequencing data.

Now I believe that it is actually a pretty good point, and the figure should be included in the manuscript. I also would like to ask the authors to add j

[2022-09-27 02:25] blthayer commented on #4516
@stinefm - as I got further into the documentation I found that you're using forward-backward sweep (FBS) (or backward-forward sweep, same thing :smile:) for solving the power flow. My understanding is that FBS is only valid for radial systems. With that in mind, I have two suggestions:
- Mention up front (first or second paragraph in README page and documentation) that RELSAD is _only_ for radial

[2022-09-27 02:29] DanielAlhassan commented on #4776
Hi @kyleniemeyer, thanks for the feedback. I await the response from the editorial board.

[2022-09-27 03:48] TomHilder commented on #4777
Hi @kyleniemeyer! Looking over the reviewer list I would suggest ttricco, ddhendriks, hlim88, anthony-arnold, athulpg007 would all be suitable. Cheers

[2022-09-27 05:09] CFGrote commented on #4607
@editorialbot generate my checklist

[2022-09-27 06:16] CFGrote commented on #4607
@editorialbot generate pdf

[2022-09-27 06:22] bluefoxr commented on #4567
Dear @jbytecode I have addressed all the open issues raised by the reviewers so far. Just waiting for @paulrougieux to see if this issue (https://github.com/bluefoxr/COINr/issues/15) can be closed after some revisions I made to the paper. Not sure if the reviewers want to raise further issues at this stage?

[2022-09-27 07:03] NRaillard commented on #4366
Dear Keith,

Python 3.10 is not supported yet as pyarrow binaries are not available. The dependencies are listed on the JOSS branch (https://gitlab.ifremer.fr/resourcecode/resourcecode/-/tree/joss_paper) and the landing page will be modified when this branch is merged with the main, if the paper is accepted.

IMHO, there are no real advantages of gitlab over github, except that our organisation of

[2022-09-27 07:10] paulrougieux commented on #4567
Hi, I'll update this evening.

[2022-09-27 07:23] jfowkes commented on #4377
Many thanks @stsievert we've now merged both the outstanding issue and your suggestion into the docs.

[2022-09-27 07:32] cprudhom commented on #4708
I'm waiting for a paragraph from my co-author about industrial applications.
If that does not seem relevant to you, I will post-pone it and do my best to consider reviews by the end of the week

[2022-09-27 07:34] patRyserWelch8 commented on #4545
Good morning,

I must apologise for the delay. It has been some quite busy times.

I reviewed and sent you my finding by email last week (i.e., 20/09/2022). I am more than happy to copy it again in this email.

Best wishes,

Pat

General checks

  *   Repository: Is the source code for this software available at the https://github.com/difuture-lmu/dsBinVal<https://eur01.safelinks.protection.outloo

[2022-09-27 07:56] AoifeHughes commented on #4753
Good morning, @mbarzegary, @sdelandtsheer, can I check how the reviews are getting on?

[2022-09-27 08:03] bauer-alex commented on #4567
Hi all,
I'm on it. Will have some more comments about the content of the paper.
Since I'm quite involved in work you'll get my update mid / end next week.

[2022-09-27 08:47] ggonnella commented on #4755
Thank you for the reviews. We will address the issues and answer to the comments.

[2022-09-27 09:27] Pizzuti92 commented on #4651
Dear @eloisabentivegna, thank you for letting me know. No problem for us, I can immagine since we are at our first submission and may be several things to be addressed by the reviewer. If needed (and if he is available), I can suggest Daniele Tavagnacco (@dtava on github) as reviewer.

[2022-09-27 10:30] ozgurakgun commented on #4708
Just to confirm, I have gone through the checklist and am generally happy with the text. Adding that paragraph about industrial applications will only help the paper, so assuming we are not in a rush I would vote for waiting a little bit. Thanks for doing the work for this @cprudhom - increasing Choco's (and hence CP's) visibility in the open-source software development community is definitely a g

[2022-09-27 10:38] AoifeHughes commented on #4738
Hi, I would be happy to sign off on the publication of this project with one minor issue:

- [ ] Contribution guidelines

I think adding these are a requirement (ref reviewer checklist), and I think a small note on the README.md would facilitate this.

Once this point is addressed, I would support the publication.

[2022-09-27 11:16] sdelandtsheer commented on #4753
Hi, looking good, the documentation is really nice. Will post my review by Saturday latest.

[2022-09-27 11:21] Jammy2211 commented on #4475
I have respond to all comments and fixed them on the project `master` branches.

A `pip` release will follow in the next week or so, we are doing a big switch to automated build servers so trying not to rock the boat with a release until everything is fully tested.

[2022-09-27 12:19] danielskatz commented on #4277
Everyone - as @kthyng has returned from her leave, I'm going to give this submission back to her as editor again

[2022-09-27 12:19] danielskatz commented on #4277
@editorialbot assign @kthyng as editor

[2022-09-27 12:20] danielskatz commented on #4722
👋 @vitorsr, @DanNixon, and @lucaferranti - Can let me know where you are, and anything that might be blocking you from making progress that either I or the authors can act on? Thanks!

[2022-09-27 12:23] danielskatz commented on #4705
We need the software to be in an archival repository, such as zenodo, figshare, an institutional one, etc.  Please do this, and let me know the DOI to the archived version of the software

[2022-09-27 12:23] danielskatz commented on #4705
@editorialbot set v0.0.2 as version

[2022-09-27 12:25] danielskatz commented on #4735
@munkm - when do you think you will get a chance to create your checklist and start your review?  (it was also nice seeing you briefly in person last week 🙂)

[2022-09-27 12:25] danielskatz commented on #4735
👋 @yadudoc - how is your review coming?

[2022-09-27 12:27] danielskatz commented on #4680
Thanks @peanutfun

[2022-09-27 12:30] robertodr commented on #4680
I confirm CMakePP/CMinx#121 is beyond the scope of this review.

[2022-09-27 12:36] csoneson commented on #4545
Thank you @patRyserWelch8! I'm sorry, I did not receive your email last week. Could you please generate the review checklist as indicated in the first post in this issue:

[code]

and check the boxes that you feel are satisfied by the current state of the submission? It will make it easier to get an overview and follow up on the outstanding issues. Thanks!

[2022-09-27 12:38] munkm commented on #4735
@danielskatz I have time this week! Also, it was nice seeing you too!!!

[2022-09-27 12:39] danielskatz commented on #4680
And you are happy for this to be accepted?

[2022-09-27 12:39] faroit commented on #4739
@hadware @hbredin can you update us on the status on your reviews?

We aim for reviews to be completed within about 2-4 weeks (~one more week to go). Please let me know if any of you require some more time.

[2022-09-27 12:42] robertodr commented on #4680
Yes, this paper should be accepted.

[2022-09-27 12:50] EtienneCmb commented on #3842
Dear @meg-simula, @travisbthomp, @madvn, could we have an update on the review status?

[2022-09-27 12:52] danielskatz commented on #4680
@ryanmrichard - I'm now going to proofread the paper, followed by which I might request changes

[2022-09-27 12:52] danielskatz commented on #4680
@editorialbot check references

[2022-09-27 12:52] danielskatz commented on #4680
@editorialbot generate pdf

[2022-09-27 13:00] danielskatz commented on #4680
@ryanmrichard - other than that you've made me wonder about "invaluable" vs "valuable", I just have a few suggested changes: see https://github.com/CMakePP/CMinx/pull/130. Please merge this, or let me know what you disagree with, then we can proceed to the remaining acceptance/publication steps.

[2022-09-27 13:23] hbredin commented on #4739
As mentioned [here](https://github.com/openjournals/joss-reviews/issues/4584#issuecomment-1224234397), I cannot start working on this review before the end of September.

I apologize if my initial statement was not clear enough...

[2022-09-27 13:24] nicholas512 commented on #4704
Thanks for letting me know @Elchin - I didn't get notified on github.  I'll take a look at those.

[2022-09-27 13:35] askuric commented on #4762
@editorialbot generate my checklist

[2022-09-27 13:42] danielskatz commented on #4680
The word is up to you...

In either case, at this point, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the

[2022-09-27 13:58] fboehm commented on #4720
@MaximLippeveld - yes, short examples of code are fairly regular features in JOSS articles.

[2022-09-27 14:03] chmarti1 commented on #4757
Thanks very much for your work.  I'll make a few comments here:

**With Respect to Test Suites**
This idea really needs to be divided into two parts: (1) the testing required to validate a new data set that is imported into the suite, and (2) testing required to validate new class functionality or new features.

(1) New data are carefully validated against reference data provided by the same sourc

[2022-09-27 14:29] ryanmrichard commented on #4680
The tag is v1.0.12, and here's a [link](https://github.com/CMakePP/CMinx/releases/tag/v1.0.12) to the release.
The DOI is 10.5281/zenodo.7116609 and here's a [link](https://zenodo.org/record/7116609#.YzMId9LMJKs) to the Zenodo page.

[2022-09-27 14:33] danielskatz commented on #4680
@editorialbot set v1.0.12 as version

[2022-09-27 14:33] danielskatz commented on #4680
@editorialbot set 10.5281/zenodo.7116609 as archive

[2022-09-27 14:36] danielskatz commented on #4680
@editorialbot accept

[2022-09-27 15:00] dfm commented on #4568
👋 @ColmTalbot — Any updates? Let us know your ETA. Thanks!

[2022-09-27 15:07] editorialbot opened #4801 "[PRE REVIEW]: bmiptools: BioMaterials Image Processing TOOLS"
**Submitting author:** @lcmpikg (<a href="http://orcid.org/0000-0002-1184-2516">Luca Curcuraci</a>)
**Repository:** https://gitlab.mpikg.mpg.de/curcuraci/bmiptools
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.1
**Editor:** @AoifeHughes
**Reviewers:** @taw10, @mooniean
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a5f6168cdb0601bfab6709f2

[2022-09-27 15:07] editorialbot opened #4802 "[PRE REVIEW]: directChillFoam: an OpenFOAM application for direct-chill casting"
**Submitting author:** @blebon (<a href="http://orcid.org/0000-0002-9389-1329">Bruno Lebon</a>)
**Repository:** https://github.com/blebon/directChillFoam
**Branch with paper.md** (empty if default branch):
**Version:** OF9.0.1
**Editor:** @meg-simula
**Reviewers:** @chennachaos, @bzindovic
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/71097ad0617d8fd3da4c519687

[2022-09-27 15:08] editorialbot opened #4803 "[PRE REVIEW]: X-PSI: A Python package for neutron star X-ray Pulse Simulation and Inference"
**Submitting author:** @drannawatts (<a href="http://orcid.org/0000-0002-1009-2354">Anna Watts</a>)
**Repository:** https://github.com/xpsi-group/xpsi
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @adonath
**Reviewers:** @JohannesBuchner, @matteobachetti
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/273bb2617b21963c43bd58b2

[2022-09-27 15:08] editorialbot opened #4804 "[PRE REVIEW]: RCaNmodel: a R package for Chance and Necessity modelling"
**Submitting author:** @elfunesto (<a href="http://orcid.org/0000-0001-9206-0040">Hilaire Drouineau</a>)
**Repository:** https://github.com/inrae/RCaNmodel/
**Branch with paper.md** (empty if default branch): master
**Version:** v2.0
**Editor:** @fabian-s
**Reviewers:** @juanvillada, @amoeba, @fabian-s
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/80d54a054caa7

[2022-09-27 15:10] arfon commented on #4804
@editorialbot set master as branch

[2022-09-27 15:11] arfon commented on #4804
@editorialbot check repository

[2022-09-27 15:26] crvernon commented on #4695
@tonyewong that is A-OK.  I'll go ahead and add you and get this review kicked off.

[2022-09-27 15:32] bcjaeger commented on #4705
Done! here is the DOI: 10.5281/zenodo.7116855

I had to make a new release to get a zenodo DOI, and elected to use the tag of v0.0.3 since `aorsf` v0.0.3 incorporates all changes based on the rOpenSci review.

[2022-09-27 15:34] arfon commented on #4776
@editorialbot reject

@DanielAlhassan - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.co

[2022-09-27 15:34] #4776 closed

[2022-09-27 15:34] arfon commented on #4780
@editorialbot reject

@alexander-pastukhov – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.gith

[2022-09-27 15:34] #4780 closed

[2022-09-27 15:35] danielskatz commented on #4705
@editorialbot set 10.5281/zenodo.7116855 as archive

[2022-09-27 15:35] danielskatz commented on #4705
@bcjaeger - I'll do more on this later today

[2022-09-27 15:36] arfon commented on #4789
@editorialbot reject

@blaidd4drwg – Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activit

[2022-09-27 15:36] #4789 closed

[2022-09-27 15:38] arfon commented on #4790
@editorialbot reject

@mrsonandrade - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/

[2022-09-27 15:46] mbarzegary commented on #4753
Hi. I will finish the review by the end of next week.

[2022-09-27 15:50] xinyiguan commented on #4738
Hi @AoifeHughes 👋🏼

Thank you so much for your feedback. I just updated the [how to contribute](https://xinyiguan.github.io/py2lispIDyOM/how_to_contribute.html) section on the documentation page and added a small note section of "contribution guideline" on the README.md.

[2022-09-27 15:50] blaidd4drwg commented on #4789
Is there a possibility for reconsideration? This package fulfils the "supports the functioning of research instruments or the execution of research experiments" category precisely, and it is not below 1000 LOC either. Additionally, it is comparable to similar shiny dashboards accepted by JOSS in range of functionality and complexity or even surpasses their functionality.
The package is set in a ve

[2022-09-27 15:53] crvernon commented on #4695
👋 - Alright @mabesa , @mengqi-z , and @tonyewong I am going to close this Pre-Review and kick off the full review which you should receive a notification for. Thanks!

[2022-09-27 15:54] crvernon commented on #4695
@editorialbot start review

[2022-09-27 15:54] editorialbot opened #4805 "[REVIEW]: riversCentralAsia: An R package to support data pre- and postprocessing for hydrological modelling with RS MINERVE"
**Submitting author:** @mabesa (<a href="http://orcid.org/0000-0003-2089-3478">Beatrice Marti</a>)
**Repository:** https://github.com/hydrosolutions/riversCentralAsia/
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.2.0
**Editor:** @crvernon
**Reviewers:** @mengqi-z, @tonyewong
**Archive:** 10.5281/zenodo.7583428

## Status

[![status](https://joss.theoj.org/papers/2d590d

[2022-09-27 15:54] #4695 closed

[2022-09-27 15:55] crvernon commented on #4805
👋 @mabesa , @mengqi-z, @tonyewong This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been

[2022-09-27 15:57] arfon commented on #4704
Thanks for the feedback in this issue @Elchin (https://github.com/openjournals/joss-papers/issues/3518). We ideally would like review comments to be posted either here and/or on the software repo directly (https://gitlab.com/permafrostnet/teaspoon).

I'm going to close https://github.com/openjournals/joss-papers/issues/3518 but just wanted to reinforce that I'm grateful for the review but am simpl

[2022-09-27 16:03] IndrajeetPatil commented on #4684
Dear @garretrc,

Thanks a lot for your wonderful assessment of `{datawizard}`. We are delighted to hear that you found the package useful, and think that it is equally accessible and useful for both naive and advanced R users.

I will respond to your nitpicks point-by-point.

1. You are absolutely right that we could be doing a better job of outlining functionality offered by the package. I have c

[2022-09-27 16:13] lbluque commented on #4504
Hi @jarvist here's the archive DOI https://doi.org/10.5281/zenodo.7115050

[2022-09-27 16:14] crvernon commented on #4675
👋 - @aj2duncan Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-09-27 16:15] garretrc commented on #4684
@IndrajeetPatil I'll leave a comment on that issue if I think of anything!

I didn't know you could supply the first argument like that to change the tooltip, it definitely improves the experience. Not really in your control to make sure a user inputs the first argument before pressing tab.

[2022-09-27 16:17] kbarnhart commented on #4704
@Elchin  and @mdpiper thank you for these reviews. Sorry that I also missed your review comment @Elchin. I'll paste the contents in the tsp repository shortly.

@nicholas512 - when you have completed addressing all reviewer comments, please ping me. I'll review the changes and then ask the reviewers to revisit their reviews.

[2022-09-27 16:18] lbluque commented on #4504
I was not able to figure out how to archive a version already released, so created a new one with a few recent changes. This version still is consistent with the manuscript.

[2022-09-27 16:21] kbarnhart commented on #4704
I've placed @Elchin 's comments here: https://gitlab.com/permafrostnet/teaspoon/-/issues/14

[2022-09-27 17:38] Elchin commented on #4704
@editorialbot generate pdf

[2022-09-27 18:28] danielskatz commented on #4680
Congratulations to @ryanmrichard (Ryan M. Richard) and co-author!!

And thanks to @robertodr and @peanutfun for reviewing!
We couldn't do this without you

[2022-09-27 18:28] #4680 closed

[2022-09-27 18:29] danielskatz commented on #4705
@editorialbot recommend-accept

[2022-09-27 18:30] AKuederle commented on #4667
brunaw, itismeghasyam, hayesall, gagolews, billchenxi, andreysmelter

@adi3 Unfortunately, it seems like no further people from the original list responded. Here are some more suggestions.

As a sidenote, the paper is not really related to robotics but more about fundamental ML and software engineering.

Let me know, if I can do anything further to move this further.

[2022-09-27 18:32] ryanmrichard commented on #4680
@danielskatz is it normal for the link to still be a 404?

[2022-09-27 18:33] kellijohnson-NOAA commented on #4724
@editorialbot generate my checklist

[2022-09-27 18:37] danielskatz commented on #4705
@bcjaeger - please check your bib file - it seems like there's a bib label (menze2011oblique) that's being used twice.

[2022-09-27 18:54] liamconnor commented on #4692
@editorialbot generate my checklist

[2022-09-27 18:56] bcjaeger commented on #4705
Sorry about that, the duplicated label has been removed.

[2022-09-27 19:27] danielskatz commented on #4705
@editorialbot recommend-accept

[2022-09-27 19:28] cMadan commented on #4668
@lavrovaliz, sorry!! I had gone on leave before the semester and then lost track here. I'll look through your reviewer suggestions and see who's available.

[2022-09-27 19:34] cMadan commented on #4668
@sealhuang @krother @sahilseth, would you be available and interested in reviewing this submission?

[2022-09-27 20:04] liamconnor commented on #4692
@editorialbot generate pdf

[2022-09-27 20:08] jranalli commented on #4757
@editorialbot generate pdf

[2022-09-27 20:27] jranalli commented on #4757
Fixes implemented in the repository:
- [License file extended](https://github.com/chmarti1/PYroMat/pull/56)
- [README demo corrected](https://github.com/chmarti1/PYroMat/pull/57)
- [Continuous Integration for functionality tests added](https://github.com/chmarti1/PYroMat/pull/59)
- [Moved unfinished code (i.e. `apps` folder) to a separate branch to eliminate confusion](https://github.com/chmarti1/

[2022-09-27 20:38] faroit commented on #4739
@hbredin yes, Sorry i forgot your schedule. No worries. That's all fine. Thanks a lot again

[2022-09-27 20:47] travisbthomp commented on #3842
@meg-simula I've checked the remaining boxes.

[2022-09-27 21:40] danielskatz commented on #4705
@bcjaeger - please update the zenodo metadata (which does not require a new deposit, version, or DOI) so that the title and authors match those of the paper

[2022-09-28 00:48] bcjaeger commented on #4705
Good catch - the title and author list on the zenodo release now match the paper.

[2022-09-28 01:21] zhiiiyang commented on #4545
Hi @csoneson, thank you for reaching out. Sorry, I don't have the time recently, but I have identified a few friends and colleagues who would like to take on this opportunity. @lejianleohe7 @Epic19mz and Dr. @EugeneHao

[2022-09-28 01:33] EugeneHao commented on #4545
@zhiiiyang, thank you for inviting me! Hi @csoneson, I am a Ph.D. in Statistics from Iowa State University and currently a biostatistician at Bristol Myers Squibb. I am willing to have an opportunity to review this project!

[2022-09-28 02:47] yadudoc commented on #4735
@danielskatz, I was away for a bit, and haven't had a chance to look at this closely. I'm aiming to have this review completed this weekend.

[2022-09-28 02:48] mengqi-z commented on #4805
@editorialbot generate my checklist

[2022-09-28 05:43] vinisalazar commented on #4755
Hi, I checked the first few boxes of the review checklist but I will only be able to resume my review in the next week. So, if requested changes are incorporated by then, I can take them into account for my review.

Thanks
V

[2022-09-28 07:09] patRyserWelch8 commented on #4545
Hi

I am happy to do that, if you tell me how to do it, please.

Best wishes,

P.

Dr Pat Ryser-Welch

Associate lecturer  - T192, T193, T914, TM351,TM352,TM356, TM356, TM470

Referred as: Her/She

Let's remember:

Start by doing what's necessary; then do what's possible; and suddenly you are doing the impossible.

 Francis of Assisi

Mankind remains the most extraordinary computer of all....

Joh

[2022-09-28 07:11] csoneson commented on #4545
@patRyserWelch8  You need to type the following into a post in [this GitHub issue](https://github.com/openjournals/joss-reviews/issues/4545):

[code]

[2022-09-28 07:29] AoifeHughes commented on #4738
Fantastic, thanks @xinyiguan for the quick response.

@faroit I can sign off on this now :)

[2022-09-28 07:36] fabian-s commented on #4448
@editorialbot add @fabian-s as reviewer

[2022-09-28 07:37] fabian-s commented on #4448
@editorialbot generate my checklist

[2022-09-28 07:41] EtienneCmb commented on #3842
Thank you @travisbthomp for all of the comments. The documentation and the clarity of the manuscript improved a lot. We will wait for @madvn and @meg-simula feedbacks.

[2022-09-28 07:46] fabian-s commented on #4448
@editorialbot commands

[2022-09-28 07:47] fabian-s commented on #4448
@editorialbot remove @timClicks  from reviewers

[2022-09-28 07:52] estefaniatalavera commented on #4611
Hello,

Can you please change the contact email to the one from my new employer? The old one has been deactivated.

***@***.*** ***@***.***>

Thank you!
Best regards,
Estefania

——————————————————————————
Dr. Estefanía Talavera | Assistant Professor
Data Management and Biometrics | University of Twente
Zilverling room 4098
https://estefaniatalavera.github.io/ <https://estefaniatalavera.github.io/>

[2022-09-28 08:15] timClicks commented on #4448
@editorialbot remove reviewer @timClicks

[2022-09-28 08:17] timClicks commented on #4448
Sorry once more for being unable to complete this task in a timely manner 😞 .

[2022-09-28 08:18] timClicks commented on #4448
@editorialbot generate my checklist

[2022-09-28 08:20] timClicks commented on #4448
@fabian-s I have completed the review checklist to avoid any problems with editorialbot, but please feel free to remove me as a reviewer for the paper.

[2022-09-28 08:27] fabian-s commented on #4448
hi @zStupan, i'm filling in as the 2nd reviewer here, sorry again for the delays.

Almost everything seems fine, but please see firefly-cpp/NiaARM#66 for one small request to add a more explicit comparison to other packages to your statement of need section.

I also had to run `import nltk; nltk.download('stopwords'); nltk.download('punkt') ` to get the textmining example to run, but I admittedly

[2022-09-28 08:29] rreinecke commented on #4721
@editorialbot generate pdf

[2022-09-28 08:35] patRyserWelch8 opened #4806 "review"
@editorialbot generate my checklist

General checks
Repository: Is the source code for this software available at the [https://github.com/difuture-lmu/dsBinVal](https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdifuture-lmu%2FdsBinVal&data=05%7C01%7Cp.ryser-welch%40open.ac.uk%7C7ab4361f2bbb41ff642908da628dfd35%7C0e2ed45596af4100bed3a8e5fd981685%7C0%7C0%7C63793065921945

[2022-09-28 08:35] #4806 closed

[2022-09-28 08:41] AoifeHughes commented on #4806
Hi @patRyserWelch8, are you maybe looking for https://joss.theoj.org/papers/new ?

[2022-09-28 08:56] rreinecke commented on #4721
@Basvanstein the docker description is working flawless but I have a couple remarks on the example use case description:
Basvanstein/GSAreport/issues/18
Other remarks:
- Also I was not able to find any automated tests of your application
- Where can I find a documentation of the API? What if I would like to add support for a different SA method not support by SAlib. Or a different sampling scheme.

[2022-09-28 08:57] AoifeHughes commented on #4753
Excellent, thanks both

[2022-09-28 09:05] blebon commented on #4802
There are only two OpenFOAM reviewers on the spreadsheet:

- li.dy@dyfluid.com (I doubt their username is really `Yes` as mentionned in the spreadsheet. It seems to be https://github.com/dyfluid instead).
- [ctdegroot](https://github.com/ctdegroot )

This is an active OpenFOAM developer but he is not on the reviewer list:
- [ancolli](https://github.com/ancolli) Disclosure: he did contact me at one

[2022-09-28 09:24] ppxasjsm commented on #4784
@editorialbot assign @ppxasjsm as editor

[2022-09-28 09:27] jarvist commented on #4504
@editorialbot set 10.5281/zenodo.7115050 as archive

[2022-09-28 09:27] ppxasjsm commented on #4784
Hi @menoliu, I'll be the editor for your submission. In order to get started with the review process, it would be fantastic if you could suggest 5 potential reviewers [from this list](https://bit.ly/joss-reviewers), or if you can think of other people who would be suitable for review we can invite them as reviewers.

[2022-09-28 09:27] jarvist commented on #4504
@editorialbot check repository

[2022-09-28 09:28] blebon commented on #4802
Fixed references and resized DC casting figure.

@editorialbot generate pdf

[2022-09-28 09:28] jarvist commented on #4504
@editorialbot generate pdf

[2022-09-28 09:29] blebon commented on #4802
@editorialbot generate pdf

[2022-09-28 09:31] jarvist commented on #4504
OK, looks like just some of the auto checks are not working?

[2022-09-28 09:33] jarvist commented on #4504
@editorialbot recommend-accept

Everything is looking good manually for me. Thank you @TomTranter and @zhubonan for your reviews, @zhubonan for being so responsive and considerate of the time the paper has been in review, and @lbluque for your patience. 🎉

[2022-09-28 09:37] jarvist commented on #4504
Congratulations @lbluque ! This should be the end of my role as Editor. One of the Editor in Chief team should be along to do a final executive round of checks, and hopefully take the paper forwards to publication.

[2022-09-28 09:40] PaulDebus commented on #4723
Hey @jmejia8

thanks for contributing this interesting work, I am having a good time working on my review and even learned some things ;)

It clearly shows you put a lot of effort in to produce a high quality software tool, that has some clear applications and can be useful. The documentation is very good and shows all the features and how to use them - really nice.

I have opened a [separate issu

[2022-09-28 10:13] aj2duncan commented on #4675
Hi @crvernon , I should be able to help with a review on this. Thanks for the invite.

[2022-09-28 10:17] Kevin-Mattheus-Moerman commented on #4118
@editorialbot set 10.5281/zenodo.6673060 as archive

[2022-09-28 10:19] Kevin-Mattheus-Moerman commented on #4118
@editorialbot set 10.5281/zenodo.7113485 as archive

[2022-09-28 10:20] Kevin-Mattheus-Moerman commented on #4118
@editorialbot set 2022.09.26 as version

[2022-09-28 10:22] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 I think your text listed the wrong ZENODO archive so I fixed it, since it seems it should have been: [10.5281/zenodo.7113485](https://doi.org/10.5281/zenodo.7113485).

Can you check what the version tag should be, are you happy with what I set just now `2022.09.26`, I am just checking since it was submitted as `v1.0.0` which is a different version tagging format. This tag is up to you so j

[2022-09-28 10:36] danielskatz commented on #4705
@editorialbot accept

[2022-09-28 10:37] dfm commented on #4568
@editorialbot generate pdf

[2022-09-28 10:37] dfm commented on #4568
@editorialbot check references

[2022-09-28 10:43] danielskatz commented on #4705
Congratulations to @bcjaeger (Byron Jaeger) and co-authors!!

[2022-09-28 10:43] #4705 closed

[2022-09-28 10:46] idoby commented on #4723
@editorialbot generate pdf
@PaulDebus Changes have been made to the paper since the last proof was generated

[2022-09-28 10:46] danielskatz commented on #4711
@jhstaudacher - the scope query has been successful, though there are some issues with packaging that will probably come up in the review.

[2022-09-28 10:47] idoby commented on #4723
@editorialbot generate pdf

[2022-09-28 10:47] danielskatz commented on #4711
This will now go on the waiting list until a suitable editor is available

[2022-09-28 10:48] idoby commented on #4723
@vissarion the bot doesn't seem to take commands if there are multiple lines in the comment, is this intentional? Would just make for longer/noisier threads

[2022-09-28 10:49] danielskatz commented on #4713
@ZacharyJia - this has passed the scope review for now, though reviewers may have additional questions

[2022-09-28 10:50] danielskatz commented on #4713
@editorialbot assign me as editor

[2022-09-28 10:51] danielskatz commented on #4713
Can you now make suggestions for potential reviewers by please mentioning them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-09-28 10:56] idoby commented on #4723
Looks like it did eventually, never mind :)

[2022-09-28 10:57] danielskatz commented on #4782
@editorialbot assign me as editor

[2022-09-28 10:59] danielskatz commented on #4782
👋 @apachalieva - I'll be the editor for your submission.

Please provide some suggestions for potential reviewers by mentioning them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-09-28 11:16] bcjaeger commented on #4705
Thank you!!

[2022-09-28 11:21] mscheltienne commented on #4564
@editorialbot generate pdf

[2022-09-28 11:29] dfm commented on #4568
@GregoryAshton, @ColmTalbot — Thank you for your volunteered time and constructive reviews!! We couldn't do this without you and I really appreciate the time you gave us! 🚀

@mattpitkin — I've opened a PR with some minor edits to the paper. After merging or responding to that, here are the final steps that I'll need from you:

1. Take one last read through the manuscript to make sure that you're h

[2022-09-28 11:29] hadware commented on #4739
I started reading the code and the paper, but I'm currently on holidays. I'll start giving some feedback in the first week of october as well.

[2022-09-28 11:40] d-eggert commented on #4052
@martinfleis

I created tagged release of DASF
Version: v0.3.0
DOI: https://doi.org/10.5880/GFZ.1.4.2021.008

[2022-09-28 11:42] WPettersson commented on #4787
Okay, I've had some time to look at potential reviewers. I first filtered for Python, obviously, but then finding no experts on kidney exchange (unsurprising) so I first looked for terms like game theory, economics, matchings, optimisation, or data science. The first three because kidney exchange falls into those, optimisation because the problem is solved as an optimisation problem, and the last

[2022-09-28 12:04] samhorsfield96 commented on #4363
@lpantano @cagret There are a few things that I have noted in the automatically generated pdf and the repository:
- There are no automated tests, although there is a manual guide for checking the installation. However the expected output is missing in the repository https://gite.lirmm.fr/doccy/RedOak#:~:text=resources/makeRedOakQsubYaml.sh-,SGE%20command,-example%20obtained%20with
- The automatica

[2022-09-28 12:25] mattpitkin commented on #4568
Thanks @GregoryAshton and @ColmTalbot.

@dfm Thanks for the edits. I'll get these added in this evening.

[2022-09-28 13:06] elfunesto commented on #4804
Here is a list of potential reviewers:
Marta Call (CSIC, SPAIN)
Nathalie Niquil (CNRS, FRANCE)
K Soetaert  (NIOZ, Netherlands)
D van Oevelen  (NIOZ, Netherlands)
Jeffrey Dambacher (CSIRO, Australia)
Beth Fulton  (CSIRO, Australia)
Eva Plaganyi (CSIRO, Australia)
Jeroen Steenbeek

[2022-09-28 13:36] crvernon commented on #4675
Thanks @aj2duncan !

[2022-09-28 13:36] crvernon commented on #4675
@editorialbot add @aj2duncan as reviewer

[2022-09-28 13:39] crvernon commented on #4675
@editorialbot start review

[2022-09-28 13:39] editorialbot opened #4807 "[REVIEW]: {histoc} histocompatibility functions for organ transplantation"
**Submitting author:** @balima78 (<a href="http://orcid.org/0000-0001-9090-4457">Bruno A Lima</a>)
**Repository:** https://github.com/txopen/histoc
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.1
**Editor:** @crvernon
**Reviewers:** @turgeonmaxime, @aj2duncan
**Archive:** 10.5281/zenodo.7338242

## Status

[![status](https://joss.theoj.org/papers/1913c20af5e50aa417117816233

[2022-09-28 13:39] #4675 closed

[2022-09-28 13:41] crvernon commented on #4807
👋 @balima78,  @turgeonmaxime, @aj2duncan - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel h

[2022-09-28 14:03] turgeonmaxime commented on #4807
@editorialbot generate my checklist

[2022-09-28 14:29] sjbeckett commented on #4791
@editorialbot generate pdf

[2022-09-28 14:36] diehlpk commented on #4617
@JeWaVe just checking if you have time to repsond.

[2022-09-28 14:38] diehlpk commented on #4730
@f-t-s can you please reply to my question above?

[2022-09-28 14:45] kanderso-nrel commented on #4443
Thanks @EwaGomez and @rkurchin for your patience.  Here are a few suggestions for the manuscript:
- In the title, "Hollistic" may be a misspelling of "Holistic" (although perhaps this is regional variation?)
- Cuavas 2005 reference: month is "juni" instead of "june"
- Regarding the submissions to WCPEC-8, consider changing "submitted to" to "presented at" now that the conference will soon be over

[2022-09-28 14:47] diehlpk commented on #4730
Hi @Scivision would you have time to review this paper?

[2022-09-28 14:48] diehlpk commented on #4730
Hi @ansgarwenzel would you have time to review this paper?

[2022-09-28 14:48] diehlpk commented on #4730
Hi @sjvrijn  would you have time to review this paper?

[2022-09-28 14:50] ansgarwenzel commented on #4730
Hi Patrick,

Sure.

Kind regards,

Ansgar

Patrick Diehl ***@***.***> schrieb am Mi., 28. Sept. 2022,
16:48:

[2022-09-28 15:09] mstimberg commented on #4706
Hi. Apologies for the delay in reviewing the software in detail. I agree with @janfreyberg that this is a very useful software, providing access to many different tools in a single interface. I encountered a few issues, though, mostly around advertised functionality that I cannot test (ZeitgeberH/patchview#8, ZeitgeberH/patchview#9, ZeitgeberH/patchview#10). There are also a few things in the inte

[2022-09-28 15:10] KriNiTi commented on #4794
@editorialbot commands

[2022-09-28 15:16] KriNiTi commented on #4794
Dear editors,
Thank you very much for these helpful processes. We suggest the following reviewers:
xtruan
mado89
arcuri82
danieledipompeo

[2022-09-28 15:20] zhanghe9704 commented on #3665
Hello,

Just want to ask if there's any updates and if there's anything I can help
with.

Best regards,
He Zhang

On Sat, Sep 10, 2022 at 10:43 AM Arfon Smith ***@***.***>
wrote:

[2022-09-28 15:29] hechth commented on #4494
@csoneson @chryswoods I re-ran all tests manually and they all pass (and are actually run), as well as on the CI - see [here](https://github.com/RECETOX/MSMetaEnhancer/actions/runs/3144614358).

See the log output beneath for more information:

[code]

[2022-09-28 15:37] KriNiTi commented on #4796
Dear editors,
Thank you very much for these helpful processes. We suggest the following reviewers:
BasTesterink
zoltanmaric
jordanperr

[2022-09-28 15:50] KriNiTi commented on #4796
@editorialbot generate pdf

[2022-09-28 15:58] jgostick commented on #4778
@editorialbot start review

[2022-09-28 15:58] editorialbot opened #4808 "[REVIEW]: DearEIS - A GUI program for analyzing impedance spectra"
**Submitting author:** @vyrjana (<a href="http://orcid.org/0000-0001-5779-5201">Ville Yrjänä</a>)
**Repository:** https://github.com/vyrjana/DearEIS
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 3.4.2
**Editor:** @jgostick
**Reviewers:** @Aslan-Kosakian, @mdmurbach
**Archive:** 10.5281/zenodo.7371986

## Status

[![status](https://joss.theoj.org/papers/0c39f36c7149096

[2022-09-28 15:58] #4778 closed

[2022-09-28 16:00] jgostick commented on #4808
Hi @mdmurbach and @Aslan-Kosakian, this thread is where the review will take place.  There are some instructions above about how to generate your checklist, which lists all the things we ask reviewers to consider.  Thanks again for donating your time to JOSS!

[2022-09-28 16:18] cprudhom commented on #4708
@skadio

Actually, there are (at least) two other mature constraint solvers in Java : [JaCoP](https://github.com/radsz/jacop) and [ACE (ex-Abscon)](https://github.com/xcsp3team/ace).
Both of them are very good constraint solver and their performances are quite similar to the ones of Choco but I think that Choco is more user-oriented (documentation, tutorials, frequent releases, regression and perf

[2022-09-28 16:19] cprudhom commented on #4708
@ozgurakgun It will be added by the end of the week

[2022-09-28 17:58] lbluque commented on #4504
Just made a (hopefully last) round of edits to the manuscript.

[2022-09-28 17:58] lbluque commented on #4504
@editorialbot generate pdf

[2022-09-28 18:34] kbarnhart commented on #4704
@editorialbot check references

[2022-09-28 18:34] kbarnhart commented on #4704
@editorialbot generate pdf

[2022-09-28 18:55] kbarnhart commented on #4704
@Elchin and @mdpiper , thank you for your reviews. I have looked at the reviews, @nicholas512's responses, and the changes to the code base and paper. I've concluded that @nicholas512 has responded sufficiently. Please revisit your review, check any remaining checkboxes (@mdpiper you have one remaining) and make a comment on this thread confirming that you think this submission can move forward to

[2022-09-28 19:06] zhubonan commented on #4697
@rkurchin I have two suggestions for reviewers (GitHub usernames): mkhorton, obaica.

Both of them should have no COI issue that I am aware of.

[2022-09-28 19:20] mdpiper commented on #4704
@kbarnhart This submission can move forward.

[2022-09-28 19:37] nicholas512 commented on #4704
@kbarnhart : Thanks for catching those issues; I've made the changes in commit [`cd74fb9a`](https://gitlab.com/permafrostnet/teaspoon/-/commit/cd74fb9a726b9421603d23bb1cfa3a96d89cf120)

[2022-09-28 19:37] Elchin commented on #4704
@kbarnhart I mean the latter. As I mentioned in my comments, the permafrost data are not ground temperatures only. It is more diverse and requires acknowledgment of this fact. That said it would be nice to think about how the current product could be possibly extended to address a more diverse data spectrum.

[2022-09-28 20:16] kbarnhart commented on #4704
@Elchin thanks for the clarification. Much appreciated.

[2022-09-28 20:17] skadio commented on #4708
Thank you @cprudhom. Appreciate the input and revisions.

It might be good for the general user to be aware of other Java solvers then, with commentary on how Choco adds value along with some constructive verbiage around on those differences. This would help people position this work with respect to the field, and more such options also prove the maturity/applicability/relevance of the field as op

[2022-09-28 20:18] kbarnhart commented on #4704
@nicholas512 at this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list

[2022-09-28 21:00] nicholas512 commented on #4704
* [Tagged release created](https://gitlab.com/permafrostnet/teaspoon/-/tags/v1.3.1) (version 1.3.1)
* [Reviewed software archived on Zenodo](https://zenodo.org/record/7121289)
* Metadata is correct
    * **title**: _tsp ("Teaspoon"): A library for ground temperature data_
    * **author**: _Nicholas Brown_
    * **ORCID**: _0000-0002-2719-0671_
* DOI of archived version is https://doi.org/10.5281/

[2022-09-28 21:05] kbarnhart commented on #4704
@editorialbot check references

[2022-09-28 21:05] kbarnhart commented on #4704
@editorialbot generate pdf

[2022-09-28 21:07] kbarnhart commented on #4704
@editorialbot set 10.5281/zenodo.7121289 as archive

[2022-09-28 21:07] kbarnhart commented on #4704
@editorialbot set v1.3.1 as version

[2022-09-28 21:12] kbarnhart commented on #4704
@nicholas512 many thanks. I will now recommend that your submission be accepted. The Editor in Chief will handle the remaining steps, and may request additional, typically minor, changes.

My sincere thanks to @Elchin and @mdpiper for contributing reviews.

[2022-09-28 21:12] kbarnhart commented on #4704
@editorialbot recommend-accept

[2022-09-28 21:30] Fei-Tao commented on #4793
@editorialbot assign me as editor

[2022-09-28 21:33] Fei-Tao commented on #4793
Hi @matbesancon @mskwark @torressa @e-dub @bleyerj @mvaldes @mewilhel @brynpickering @duhd1993, if you'd like to review this submission, please comment here! Feel free to unsubscribe from this issue if you are not interested.

[2022-09-28 21:34] mattpitkin commented on #4568
@editorialbot generate pdf

[2022-09-28 21:40] mattpitkin commented on #4568
@dfm - I've made some additional minor changes to the paper, but it looks good now. One minor thing is that Greg and Colm appear listed twice (once with fully lowercase Github usernames and again with camel case usernames) in the reviewers section of the paper.

I get a new release of the software drafted now.

[2022-09-28 22:01] mattpitkin commented on #4568
I've update the version to v0.9.0.

[2022-09-28 22:22] mattpitkin commented on #4568
The Zenodo DOI is [10.5281/zenodo.7121400](https://doi.org/10.5281/zenodo.7121400)

[2022-09-29 01:47] tonyewong commented on #4805
@editorialbot generate my checklist

[2022-09-29 02:35] sixpearls commented on #4329
@enekomartinmartinez @pdebuyl

All of my concerns have been addressed, I recommend publication.

[2022-09-29 02:58] Matthew-Jennings commented on #4555
Just to clarify: the new tagged released would be version 0.**39**.0. Is this the version that we should list here, archive in Zenodo and for which we should list the DOI? Or the previous version, 0.**38**.0)?

I'd note that a forthcoming 0.39.0 probably more closely matches what was reviewed, since virtually all of the changes in `main` made since the 0.38.0 release were made prior to commencemen

[2022-09-29 03:53] SimonBiggs commented on #4555
@Matthew-Jennings, it makes the most sense that 0.39.0 is the reviewed version. No need to wait for a response here, move forward with 0.39.0 being the one, and have the changelog reflect that.

[2022-09-29 06:38] rreinecke commented on #4721
Thank you for your swift responses. I have to disagree on the unit tests. Your code does not only simply generate a html file but also trains a model and processes complex input and output. I would advice to have unit tests for that.

[2022-09-29 06:46] ZacharyJia commented on #4713
Dear editor,
Thank you very much for the progress. We would like to suggest these reviewers:
- Qingfengmufeng
- rreinecke
- pausz

[2022-09-29 06:52] Basvanstein commented on #4721
Ok, I can add unit tests for those functions that do not generate files. It will take a bit of time though.

[2022-09-29 07:06] rreinecke commented on #4721
Thanks! As soon as this is implemented I am ready to give my ok. No other remarks.

[2022-09-29 07:48] timtroendle commented on #4261
@noah80 could you let us know if this solved your last remaining issue?

@olejandro, any updates from your side?

[2022-09-29 08:00] csoneson commented on #4545
@zhiiiyang - thanks a lot for the reply and for reaching out to colleagues!
@EugeneHao - many thanks for volunteering! In the end it seems that we do have our two reviewers for this submission - apologies for the noise, and it would be really great if we could reach out to you for another review in the future. Thanks again!

[2022-09-29 08:10] noah80 commented on #4261
Fine for me.

Just wanted to point out that the bot seems to be configured to take the paper from the JOSS branch, which is completely outdated.

[2022-09-29 08:11] editorialbot opened #4809 "[PRE REVIEW]: HydroMT: Automated and reproducible model building and analysis"
**Submitting author:** @dirkeilander (<a href="http://orcid.org/0000-0002-0951-8418">Dirk Eilander</a>)
**Repository:** https://github.com/Deltares/hydromt
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v0.5.0
**Editor:** @elbeejay
**Reviewers:** @JannisHoch, @mcflugen, @LejoFlores
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/71294

[2022-09-29 08:12] fabian-s commented on #4448
@editorialbot generate pdf

[2022-09-29 08:13] fabian-s commented on #4448
@editorialbot check references

[2022-09-29 08:14] arfon commented on #4798
@paulokanda – many thanks for your submission to JOSS. After review by the JOSS editorial team we've determined this submission does not meet the level of quality we expect before submissions are sent out for review.

In particular, the packaging and structure (e.g., a couple of very large/long Python files) of this project would make it very challenging for any reviewer to reasonably test and giv

[2022-09-29 08:14] arfon commented on #4798
@editorialbot reject

[2022-09-29 08:15] #4798 closed

[2022-09-29 08:17] arfon commented on #4803
@drannawatts – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:17] arfon commented on #4794
@KriNiTi – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:17] arfon commented on #4795
@KriNiTi – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:18] arfon commented on #4796
@KriNiTi – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:18] arfon commented on #4786
@Failxxx – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:19] arfon commented on #4802
@blebon – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:23] fabian-s commented on #4448
@zStupan seems like we're finally *almost* there -- please add the missing DOI (see above) and then:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check that your archival deposit (e.g., in Zenodo) has the correct metadata. T

[2022-09-29 08:24] jagnobli commented on #4600
@oliviaguest this review process appears to be stuck somewhere? Did we miss something to get it up and running again?

[2022-09-29 08:25] timtroendle commented on #4261
Thanks @noah80 .

[2022-09-29 08:25] timtroendle commented on #4261
@editorialbot check references

[2022-09-29 08:26] arfon commented on #4783
@themasterlink - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:27] arfon commented on #4792
@yiqunchen – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:32] arfon commented on #4809
@DirkEilander - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:32] timtroendle commented on #4261
@LeonieFierz, with two of the reviewers accepting your submission, let's move on.

There are a few tiny issues in the paper that need fixes:

- [ ]  Is there a DOI for the first reference, Allan et al 2021, that you can add?
- [ ] The reference to MURRAY_ET_AL_2020 is broken.
- [ ] You may want to add a full stop to the third item in the list in the "Statement of need" section.

Once this is done

[2022-09-29 08:33] arfon commented on #4788
@rbturnbull - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-09-29 08:38] rbturnbull commented on #4788
Thanks @arfon - that's fine. Thanks for letting us know.

[2022-09-29 08:38] oliviaguest commented on #4600
@samhforbes and @htwangtw maybe haven't as time yet. September is a very busy month for everybody.

[2022-09-29 08:54] jjmccollum commented on #4788
Thanks @arfon! We'll look forward to updates when the review process resumes.

[2022-09-29 09:07] zStupan commented on #4448
@fabian-s the version tag is `0.2.1` and the DOI is `10.5281/zenodo.7123879`

[2022-09-29 09:36] fabian-s commented on #4448
@editorialbot check references

[2022-09-29 09:36] fabian-s commented on #4448
@editorialbot generate pdf

[2022-09-29 09:40] fabian-s commented on #4448
@editorialbot set 10.5281/zenodo.7123879 as archive

[2022-09-29 09:41] fabian-s commented on #4448
@editorialbot set 0.2.1 as version

[2022-09-29 09:49] fabian-s commented on #4448
small issue:

[2022-09-29 10:30] osorensen commented on #4555
I agree. Just make sure that the version reported here corresponds to the Zenodo version.

[2022-09-29 11:37] samhforbes commented on #4600
Hi there - thanks for checking in, I've just been catching up. Most of my issues are resolved, and as mentioned above I'm really impressed with the software. The only thing that I've mentioned above that seems not to have been addressed in depth is the issue of linking the end user documentation and repository with a bit of hand holding for the user, so there's explicit links in the landing page o

[2022-09-29 11:58] DirkEilander commented on #4809
Thanks for starting the review process.

Here's a list of potential reviewers (github username) to speed up the process:
-Qiusheng Wu (giswqs)
-Jon Schwenk (jonschwenk)
-Jannis Hoch (JannisHoch)
-Hans van der Kwast (jvdkwast)

[2022-09-29 12:01] tonyewong commented on #4805
I see that EditorialBot found this as well, but I opened an issue in the repo, regarding an open source license (https://github.com/hydrosolutions/riversCentralAsia/issues/97). Can one be added to the top level of the repo and a short section in the top level README.md that summarizes license info?

[2022-09-29 12:06] danielskatz commented on #4713
👋 @Qingfengmufeng, @rreinecke, @pausz - would two of you be willing to review this submission?

[2022-09-29 12:11] EwaGomez commented on #4443
Thanks @kanderso-nrel - it was indeed a typo!
I made all the suggested changes.

Thank you to both reviewers, @sidihamady and @kanderso-nrel and to @rkurchin - I learned so much in this process and developed BifacialSimu into a better and easier-to-use version. Now it will be difficult to go back to the old school of non-visible scientific review.

[2022-09-29 12:41] Basvanstein commented on #4721
Thank you! I have added pytest tests in the src/test folder and have updated the readme to include instructions. Due to relative imports you need to run

[code]

in order to execute the tests. I execute them in the automated github action as well on each merge request.
The tests cover data loading, data generation, generation of the bokeh plots, sampling with default scheme, sampling with model an

[2022-09-29 12:50] pdebuyl commented on #4329
Hi @sixpearls thanks for completing the review! And thanks for joining an already started review!

@enekomartinmartinez I will now go through the post-acceptance editorial steps, for which I should find time in the coming days.

[2022-09-29 13:06] sixpearls commented on #4329
@pdebuyl You're welcome, I'm happy to contribute when I can.

@enekomartinmartinez Congratulations on the accepted paper.

[2022-09-29 13:41] JulianKarlBauer commented on #4389
@Kevin-Mattheus-Moerman It seems that all boxes are ticked now :)

[2022-09-29 14:16] pdebuyl commented on #4649
@editorialbot assign me as editor

[2022-09-29 14:17] pdebuyl commented on #4649
I was busy with other submissions, sorry for the delay

[2022-09-29 14:19] rkurchin commented on #4443
Thanks everyone! And so glad you've found the process a positive one, @EwaGomez – that's definitely what we strive for here at JOSS. 😁 I'll do an editorial pass over the manuscript and send any further comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the pap

[2022-09-29 14:20] rkurchin commented on #4697
👋 @mkhorton and @obaica, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-09-29 14:23] pjb7687 commented on #4720
![image](https://user-images.githubusercontent.com/1440536/193056616-d71d41b2-758d-4f67-bfca-af0ddaed7991.png)

Yes, now I can reproduce the figure.

As I mentioned in the above comment, I would like to kindly ask the authors to add just one sentence to clarify this. I do not have any further concerns.

[2022-09-29 14:34] obaica commented on #4697
I am more than willing, and it is my honor to review this submission for JOSS.

What is the exact process we need to do next?

Thank you very much.

Gang Tang
________________________________
Advanced Research Institute of Multidisciplinary Science
Beijing Institute of Technology
No. 5 Zhongguancun South Street, Haidian District
Beijing, 100081 P. R. China.
***@***.*** or ***@***.***
Researchgate

[2022-09-29 14:36] rkurchin commented on #4697
Great, thanks so much! I'll add you as a reviewer, and once we have at least two reviewers, a new issue will be opened where there will be a checklist to guide you through the process. If you want to learn more now, you can read more details [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) -> note particularly the criteria and checklist links on the navigation bar to the left

[2022-09-29 14:36] rkurchin commented on #4697
@editorialbot add @obaica as reviewer

[2022-09-29 15:09] htwangtw commented on #4600
Thanks for the heads up. In my opinion, the issues have been addressed and I am happy with it's current form.

[2022-09-29 15:33] mabesa commented on #4805
Thank you for pointing that out. I added a license file and added a section in the README.

[2022-09-29 15:47] EwaGomez commented on #4443
Thank you for the instructions.
I just published version 1.1.1 under this doi: 10.5281/zenodo.7125653

[2022-09-29 15:48] arfon commented on #4397
@editorialbot accept

[2022-09-29 15:58] arfon commented on #4448
Acknowledging that @fabian-s provided the second review here.

@zStupan – could you please merge this PR which removes the AAS-related stuff which doesn't apply here.

[2022-09-29 16:02] drannawatts commented on #4803
We think we have identified the issue (with an ORCID) and fixed it.  That said, the JOSS Github action managed to generate a pdf for us on the 1st version without a problem!

[2022-09-29 16:06] arfon commented on #4504
@editorialbot recommend-accept

[2022-09-29 16:24] ppxasjsm commented on #4784
Thank you! I'll get in touch with reviewers and see if they'd be happy to help.

[2022-09-29 16:25] ppxasjsm commented on #4784
Hi @dotsdl, I am not sure how busy you are at the moment, but would you be interested in reviewing this submission?

[2022-09-29 16:35] rkurchin commented on #4443
@editorialbot set 10.5281/zenodo.7125653 as archive

[2022-09-29 16:35] rkurchin commented on #4443
@editorialbot check references

[2022-09-29 16:37] rkurchin commented on #4443
@EwaGomez please do fix the missing DOI indicated above ☝️

I'll do my editorial pass in the meantime...

[2022-09-29 16:41] rkurchin commented on #4443
@editorialbot generate pdf

[2022-09-29 16:44] EwaGomez commented on #4443
@rkurchin - done. I added the missing doi.

[2022-09-29 16:51] kadglass commented on #4033
@dfm - Metadata is now updated on the Zenodo archive.  Thank you for your patience!

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.7086886.svg)](https://doi.org/10.5281/zenodo.7086886)

[2022-09-29 16:51] NoraLoose commented on #4715
Thanks for the invitation @elbeejay! Besides lidar observations being outside of my area of expertise, I am currently also busy with another review for JOSS. So I'm afraid I have to decline this time. Sorry! 😐

[2022-09-29 16:56] rkurchin commented on #4443
Some cosmetic suggestions:
* lines 12-13: rephrase to "...increases the overall efficiency and energy yield of a PV module of the same area compared to monofacial PV."
* 15: I would move "usually the ground" into parentheses to clarify the flow of this sentence
* 16-17: "programmed in python" reads awkwardly to me, I would remove that and rephrase to "...BifacialSimu, a python package developed at

[2022-09-29 17:24] lbluque commented on #4504
Thanks @arfon ! The proof looks good on my end.

[2022-09-29 17:30] dfm commented on #4033
@editorialbot check references

[2022-09-29 17:30] dfm commented on #4033
@editorialbot generate pdf

[2022-09-29 17:31] dfm commented on #4033
@editorialbot set 1.2.0 as version

[2022-09-29 17:33] dfm commented on #4033
@editorialbot set 10.5281/zenodo.7086886 as archive

[2022-09-29 17:36] dfm commented on #4033
@editorialbot recommend-accept

[2022-09-29 17:38] dfm commented on #4033
@kadglass — I've now handed this off to the managing editors who may have some final edits before publication. Thanks for your submission and your responses to the reviewers!!

@changhoonhahn, @lavaux — Thanks again for your reviews!!

[2022-09-29 17:40] dfm commented on #4568
@editorialbot set v0.9.0 as version

[2022-09-29 17:42] dfm commented on #4568
@editorialbot check references

[2022-09-29 17:42] dfm commented on #4568
@editorialbot generate pdf

[2022-09-29 17:47] dfm commented on #4568
@openjournals/dev — There's an issue with this review where the reviewers are listed twice. I think this happened because their usernames were initially saved as all lowercase and I had to re-add them to get the usernames saved properly. I updated the first comment in this thread to remove the duplicate usernames, but the generated PDF still has the lowercase usernames listed. Should we just accep

[2022-09-29 17:49] dfm commented on #4568
@editorialbot recommend-accept

[2022-09-29 17:50] dfm commented on #4568
@mattpitkin — I've now handed this off to the managing editors who may have some final edits before publication. Thanks for your submission and your responses to the reviewers!!

@GregoryAshton, @ColmTalbot — Thanks again for your reviews!!

[2022-09-29 18:33] mbobra commented on #3331
@danielskatz Could one of you please advise here? This submission has been active since June 4, 2021. In July 2021 we set a deadline for one month; in August, we pushed it to September. Now it is September 29, 2022.

[2022-09-29 18:40] Aslan-Kosakian commented on #4808
@editorialbot generate my checklist

[2022-09-29 19:21] arfon commented on #4504
@editorialbot accept

[2022-09-29 19:23] arfon commented on #4448
@editorialbot recommend-accept

[2022-09-29 19:33] arfon commented on #4504
@TomTranter, @zhubonan – many thanks for your reviews here and to @jarvist for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@lbluque – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-29 19:33] #4504 closed

[2022-09-29 19:57] mkhorton commented on #4697
I would be happy to review! What's the current timeline requested for completion of reviews?

[2022-09-29 20:50] untzag commented on #4762
@editorialbot generate my checklist

[2022-09-29 20:55] Fei-Tao commented on #4793
@torressa great! thanks for agreeing to review this submission.

[2022-09-29 20:56] Fei-Tao commented on #4793
@editorialbot assign @torressa as reviewer

[2022-09-29 21:00] Fei-Tao commented on #4793
@editorialbot add @torressa as reviewer

[2022-09-29 21:05] untzag commented on #4762
@Ajstros you might want to look into formatting details for your paper, some of the lines are escaping the page.

[2022-09-29 21:12] arfon commented on #4033
@editorialbot accept

[2022-09-29 21:16] arfon commented on #4397
@andyfaff, @daguiam  – many thanks for your reviews here and to @jgostick  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@RBrearton  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-29 21:16] #4397 closed

[2022-09-29 21:17] arfon commented on #4033
@changhoonhahn, @lavaux – many thanks for your reviews here and to @dfm  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@kadglass  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-29 21:17] #4033 closed

[2022-09-29 21:18] arfon commented on #4448
@editorialbot accept

[2022-09-29 21:21] timClicks commented on #4448
Well done @zStupan. Sorry again for slowing this process down.

[2022-09-29 21:24] arfon commented on #4568
@editorialbot accept

[2022-09-29 21:26] meg-simula commented on #3842
Thank you very much @EtienneCmb and @travisbthomp for your feedback and responses, your work is much appreciated!

@madvn We are now waiting for the finalization of your review. Could you let us know when you would have a chance to take a look at the revised package++?

[2022-09-29 21:28] arfon commented on #4704
@editorialbot accept

[2022-09-29 21:29] arfon commented on #4568
@GregoryAshton, @ColmTalbot – many thanks for your reviews here and to @dfm  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@mattpitkin  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-29 21:29] #4568 closed

[2022-09-29 21:32] rkurchin commented on #4697
Great! We don't normally impose strict deadlines since the time commitment can vary a fair bit depending on how elaborate the software is and how much feedback you have as a reviewer, so I'm generally more interested that you can get started relatively soon (within a week or so) than exactly how long it will take. I think unless it's an unusually large/intricate piece of software, it would be good

[2022-09-29 22:13] xtruan commented on #4721
Thank you for addressing my earlier issues and for making the other fixes outlined. I was able to build and test the application from end to end. I very much like the look of the generated reports!

I have created one last minor issue to deal with spaces in the user's working directory impacting the Docker commands. When this is resolved I will check my final box and give my ok: https://github.com

[2022-09-29 22:24] jedbrown commented on #4172
@editorialbot generate pdf

[2022-09-29 22:33] jedbrown commented on #4172
@YohannDudouit How do you feel about these revisions? Would this be sufficient to complete your review?

[2022-09-29 23:32] mkhorton commented on #4697
A month sounds reasonable, thank you, by all means add me as a reviewer.

[2022-09-30 00:57] Qingfengmufeng commented on #4713
OK，I will review it as soon as possible

[2022-09-30 01:16] majensen commented on #4566
Promise to see to this weekend; again my apologies.

[2022-09-30 01:18] majensen commented on #4678
Hi @mzabrams - how is the work progressing on the reviewer comments?

[2022-09-30 04:27] winstonyym commented on #4664
I have completed my second pass of ur-scape and expanding testing of the main package functionalities. The authors have kindly addressed the raised issues and we have resolved them successfully. The package works really well, use cases are interesting as well. It was quite an amazing user experience and ur-scape will definitely benefit many city planners in Southeast Asia.

[2022-09-30 04:39] luyuhao0326 commented on #4664
Thank you @winstonyym for pointing out these overlooked issues of ur-scape and working with us during the review process. Much appreciated from the ur-scape team 🙏

[2022-09-30 06:56] hbredin commented on #4739
@editorialbot generate my checklist

[2022-09-30 08:37] mscheltienne commented on #4564
@editorialbot generate pdf

[2022-09-30 08:40] Basvanstein commented on #4721
Thank you for your review and the positive comments! Good point about the `pwd` and docker instructions. I have updated the readme and online documentation accordingly.

[2022-09-30 11:02] pdebuyl commented on #4649
@StanczakDominik @akaptano would you review the article "Vlasiator.jl: A Julia package for processing Vlasiator data" for the Journal of Open Source Software?

[2022-09-30 11:25] arfon commented on #4704
@Elchin, @mdpiper – many thanks for your reviews here and to @kbarnhart for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

This is @kbarnhart's final paper as editor. Thank you @kbarnhart for all of your amazing work! 💖

@nicholas512 – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-30 11:25] #4704 closed

[2022-09-30 11:31] EwaGomez commented on #4443
@editorialbot generate pdf

[2022-09-30 11:34] EwaGomez commented on #4443
@editorialbot generate pdf

[2022-09-30 11:37] EwaGomez commented on #4443
@rkurchin I made all the suggested changes. Thank you!

[2022-09-30 12:51] mcavs commented on #4773
@editorialbot generate my checklist

[2022-09-30 12:52] editorialbot opened #4810 "[PRE REVIEW]: Diart: A Python Library for Real-Time Speaker Diarization"
**Submitting author:** @juanmc2005 (<a href="http://orcid.org/0000-0002-5035-147X">Juan Manuel Coria</a>)
**Repository:** https://github.com/juanmc2005/StreamingSpeakerDiarization
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.5.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/cc9807c6de75ea4c2

[2022-09-30 12:58] danielskatz commented on #4713
👋 @Qingfengmufeng - thanks.  I'll add you in the system, but we won't actually start the review until we find one more reviewer as well.

[2022-09-30 12:58] danielskatz commented on #4713
@editorialbot add @Qingfengmufeng as reviewer

[2022-09-30 13:01] mscheltienne commented on #4564
Hello everyone! Apologies for the delay in the response and for the time we took to address your comments.
We addressed all the remaining reviews through several PR. To summarize, the issues still open are:
- @AJQuinn: https://github.com/vferat/pycrostates/issues/60
- @anshu-97: https://github.com/vferat/pycrostates/issues/65 and https://github.com/vferat/pycrostates/issues/64

We added comments s

[2022-09-30 15:02] elbeejay commented on #4715
No worries, thanks for the response @NoraLoose !

[2022-09-30 15:04] elbeejay commented on #4574
:wave: @wcjochem , @JosiahParry and @mikemahoney218 just wanted to page you all again to make sure returning to this review isn't a task that slips through the cracks!

[2022-09-30 15:25] akaptano commented on #4649
@pdebuyl Thanks for considering me, but I am too busy this fall to review this properly.

Best wishes,
Alann

[2022-09-30 15:37] xtruan commented on #4721
Fantastic! My review is now complete.

[2022-09-30 15:47] pdebuyl commented on #4649
Thank you for the prompt reply @akaptano ! Consider unsubscribing to this issue to avoid more notifications in the future.

[2022-09-30 15:55] diehlpk commented on #4730
@editorialbot add @ansgarwenzel as reviewer

[2022-09-30 15:56] diehlpk commented on #4730
Thanks, I invited you as a reviewer.

[2022-09-30 16:06] rkurchin commented on #4443
@editorialbot check references

[2022-09-30 16:09] rkurchin commented on #4443
@editorialbot recommend-accept

[2022-09-30 16:41] michakraus commented on #2954
In the manuscript as well as the documentation, we added the following section:

_The library aims at providing efficient implementations of diverse algorithms in order to be able to perform simulations and benchmarks with millions or even billions of time steps that facilitate the study of the long-time behaviour of both numerical algorithms and dynamical systems.
The current scope of application

[2022-09-30 16:52] michakraus commented on #2954
I guess I gave a new definition to "getting far behind".

A paragraph has been added to the paper:

_As most geometric integrators are not easily combined with time step adaption in a structure-preserving way, GeometricIntegrators.jl does not provide any general infrastructure for adaptive time stepping. Nonetheless, individual integrators can implement their own adaptivity strategies as long as t

[2022-09-30 17:00] michakraus commented on #2954
@arfon To summarise, I think these are the open points, practically all concerning the documentation:

* [ ] revise and extend tutorial
* [ ] revise and extend documentation of integrators
* [ ] add examples for the different integrator families
* [ ] add overview that shows which algorithms work for which problems
* [ ] add developer docs
   * [ ] custom integrators
   * [ ] code integration (low

[2022-09-30 17:18] paulrougieux commented on #4567
I see 2 issues remaining :
- minor issue https://github.com/bluefoxr/COINr/issues/15  with the country codes in figure one in the paper
- make the test suite run in a Github action to automate them  bluefoxr/COINr#23

Once these are clarified or fixed, the paper is OK from my side.

[2022-09-30 17:55] jessie-dotson commented on #3496
@whedon generate pdf

[2022-09-30 17:59] jessie-dotson commented on #3496
@whedon commands

[2022-09-30 18:01] jessie-dotson commented on #3496
@editorialbot generate pdf

[2022-09-30 18:25] pibion commented on #3665
@zhanghe9704 I believe I've found a second reviewer, checking in with him on when he can start!

[2022-09-30 18:27] pibion commented on #4576
@micheder just wanted to let you know that I'm working on this now, apologies for the delay!

[2022-09-30 18:30] pibion commented on #4576
@editorialbot generate pdf

[2022-09-30 18:41] pibion commented on #4576
@sigvaldm
@Christovis
@ketch
@vickysharma0812
@robashaw

would any of you be interested in reviewing this submission for JOSS?  Reviewing will mean going though a checklist to make sure the code meets JOSS publication standards (for example, there's instructions on installation, a test suite, and contribution instructions).

[2022-09-30 18:43] pibion commented on #4576
@micheder a comment on the paper - I'm still not seeing a comparison of similar software packages.  Perhaps I'm missing it?  Or, if there are no similar software packages, or fusion software packages that provide this particular set of calculations, that would be useful to state explicitly.

[2022-09-30 19:48] sbenthall commented on #4536
@tretherington Would you be able to review this submission?

[2022-09-30 19:48] pdebuyl commented on #4329
@editorialbot generate pdf

[2022-09-30 19:49] sbenthall commented on #4536
@pboesu Would you be able to review this submission?

[2022-09-30 21:53] vlad0x00 commented on #4720
Hi!

I've added an example of how to use SeqReader in the manuscript, as well as two more examples for ntHash and Counting Bloom Filter. Additionally, I've included a sentence that clarifies that SeqReader excels when loading long reads since they take more I/O time and consequently in the critical section as well.

The `paper` branch has the latest manuscript, and the following commit shows the c

[2022-09-30 22:00] angerhang commented on #4741
@editorialbot generate my checklist

[2022-09-30 22:36] kathlandgren commented on #4779
Thank you, @kyleniemeyer!

Here are some reviewer suggestions:

- harpolea
- mikaem
- ali-ramadhan
- zingale
- JoshKarpel
- ysimillides

I have replaced the macros with typed-out journal names. Some references do not have associated journals (a dissertation and a technical note).

[2022-09-30 23:10] angerhang commented on #4741
Overall, I found `activAnalyzer` easy to navigate and use. The documentation and paper are well-written and easy to follow. So happy to see another open source software trying to reduce the hurdle of the costly ActiLife software in the community. The added integration of COPD questionnaires is excellent. I am happy to tick most of the checkboxes above with a few minor comments:

* [ Limited gender

[2022-09-30 23:12] dsurujon commented on #4365
@editorialbot generate my checklist

[2022-10-01 00:49] dsurujon commented on #4365
Thank you for your patience with this review. I was able to go through the checklist partially, and have included some comments about the documentation and the paper itself. My biggest issue was the installation, so I hope the authors can address

**Documentation**
The Readme file on GitHub has a summary, installation instructions, example usage and contribution guidelines. However the PLMLab has

[2022-10-01 10:22] fxnitsch commented on #4795
added missing DOIs to `paper.bib`

[2022-10-01 10:22] fxnitsch commented on #4795
@editorialbot generate pdf

[2022-10-01 11:51] arfon commented on #4443
@EwaGomez – I found a couple of additional typos in your paper. Could you please merge this PR? https://github.com/arfon/BifacialSimu/pull/1

[2022-10-01 11:53] arfon commented on #3119
@sbillinge @CJ-Wright – it's now more than six months since we've heard from you. If we don't hear back from you in the next two weeks, we will assume you're no-longer interested in publishing this paper and reject the submission.

[2022-10-01 11:55] arfon commented on #3312
@mark-koren – it's a couple of months since we've heard anything from you on this submission. If we don't hear back from you in the next couple of weeks we will assume you're no-longer interested in publishing this paper and will proceed to reject.

[2022-10-01 11:55] editorialbot opened #4811 "[PRE REVIEW]: EnsembleKalmanProcesses.jl: Derivative-free ensemble-based model calibration"
**Submitting author:** @odunbar (<a href="http://orcid.org/0000-0001-7374-0382">Oliver Dunbar</a>)
**Repository:** https://github.com/CliMA/EnsembleKalmanProcesses.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.13.0
**Editor:** @jbytecode
**Reviewers:** @odow, @ziyiyin97
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5cb2d4c6af8840af61b44

[2022-10-01 11:56] editorialbot opened #4812 "[PRE REVIEW]: elapid: Species distribution modeling tools for Python"
**Submitting author:** @earth-chris (<a href="http://orcid.org/0000-0001-7392-4368">Christopher Anderson</a>)
**Repository:** https://github.com/earth-chris/elapid
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** v0.3.14
**Editor:** @graciellehigino
**Reviewers:** @chrisborges, @gabrieldansereau
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj

[2022-10-01 12:13] arfon commented on #4371
:wave: folks. Just checking in again here – @nlhepler, @rcannood – are your reviews mostly complete?

[2022-10-01 12:15] arfon commented on #4737
:wave: @bytesnake – how are you getting along here? How much more time do you think you will need for your review?

[2022-10-01 12:16] arfon commented on #2954
Got it. Thanks for the update @michakraus!

[2022-10-01 12:17] arfon commented on #4699
@editorialbot invite @galessiorob as editor

:wave: @galessiorob – would you be willing to edit this submission for JOSS?

[2022-10-01 12:19] arfon commented on #4711
@editorialbot invite @meg-simula as editor

:wave: @meg-simula – would you be willing to edit this submission for JOSS?

[2022-10-01 12:21] rcannood commented on #4371
I made my suggestions in https://github.com/scverse/anndata/issues/769, waiting for the authors to get back to us.

[2022-10-01 12:22] sbillinge commented on #3119
Dear Arfon,

So sorry about this.   I know the reviewers have put in a lot of work on
this so I am embarrassed, but actually, since CJ left for his job in
fintech, no-one has been maintaining this code base.   My new students have
not taken it over and so we are not in a position to make the changes and
updates, and it is probably fair to say that the package is no longer being
maintained and so i

[2022-10-01 12:23] arfon commented on #4749
:wave: @jmschrei – just checking if you're able to edit this submission for us?

[2022-10-01 12:41] bobmyhill commented on #4797
Thanks for letting me know, @arfon. If there's anything I can do to help (reviewing other submissions, for example), I'll be happy to do so.

[2022-10-01 14:59] mdmurbach commented on #4808
@editorialbot generate my checklist

[2022-10-01 16:51] EwaGomez commented on #4443
@arfon Thank you! Merging didn't work somehow, but I made the changes manually.

[2022-10-01 18:21] Ajstros commented on #4762
@editorialbot generate pdf

[2022-10-01 18:26] pboesu commented on #4536
@sbenthall Unfortunately I am tied up with editorial duties elsewhere. Sorry!

[2022-10-01 18:27] Ajstros commented on #4762
Thanks @untzag, those lines have been fixed now.

[2022-10-01 21:13] arfon commented on #4443
Ah yeah, I somehow made the PR against my own fork 🤦

[2022-10-01 21:13] arfon commented on #4443
@editorialbot recommend-accept

[2022-10-01 21:18] arfon commented on #4443
@editorialbot accept

[2022-10-01 21:49] stsievert commented on #4377
@editorialbot my review is finished. I've checked off all the boxes in https://github.com/openjournals/joss-reviews/issues/4377#issuecomment-1118435375, and I think this paper is ready for publication!

[2022-10-02 03:06] pausz commented on #4713
@danielskatz sure!

[2022-10-02 08:44] askuric commented on #4762
Hi everyone,
My review of Pyripherals  is here:

## Pyripherals

Pyripherals is  a python pip package facilitating the communication to different FPGA based peripheral devices. It provides an user-friendly abstraction layer to different communication protocols and implements interfaces to many different standard FPGA based data acquisition devices. This all makes Pyripherals an useful tool for set

[2022-10-02 09:08] arfon commented on #3612
@editorialbot reaccept

[2022-10-02 09:09] arfon commented on #4443
@sidihamady, @kanderso-nrel – many thanks for your reviews here and to @rkurchin  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@EwaGomez  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-02 09:09] #4443 closed

[2022-10-02 09:10] editorialbot opened #4813 "[PRE REVIEW]: UBayFS: An R Package for User Guided Feature Selection"
**Submitting author:** @annajenul (<a href="http://orcid.org/0000-0002-6919-3483">Anna Jenul</a>)
**Repository:** https://github.com/annajenul/UBayFS
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.0
**Editor:** @osorensen
**Reviewers:** @dhvalden, @aaronpeikert, @EugeneHao
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a7ebe73cf7176

[2022-10-02 09:10] editorialbot opened #4814 "[PRE REVIEW]: VICTORIA, the Voxel Interactive Contour Tool for Online Radiation Intensity Analytics"
**Submitting author:** @ellieb (<a href="http://orcid.org/0000-0001-7256-855X">Elise Badun</a>)
**Repository:** https://github.com/ellieb/VICTORIA
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/c4a4eb2f20de3fd3b3585d06dac719b6/status.svg)](htt

[2022-10-02 09:12] arfon commented on #3612
@finagle29 – can you check this new PDF looks good? https://github.com/openjournals/joss-papers/blob/13c81ea7f6403838a32bbfbc9ae0835754b5e7d9/joss.03612/10.21105.joss.03612.pdf

[2022-10-02 09:14] arfon commented on #4813
@editorialbot set master as branch

[2022-10-02 09:14] arfon commented on #4813
@editorialbot check repository

[2022-10-02 09:14] arfon commented on #4813
@editorialbot generate pdf

[2022-10-02 10:11] arfon commented on #4814
Thanks for your submission to JOSS @ellieb. A few questions to help me understand this submission a little better:

- In your submission letter you say "I realize it is still ~very~ rough around the edges" – could you tell me more about where the known issues are here? In order to not ask too much of reviewer time, JOSS reviews are not designed to give a deep review that will substantially address

[2022-10-02 10:18] arfon commented on #4810
@juanmc2005 - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-02 10:19] arfon commented on #4811
@odunbar - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-02 10:20] arfon commented on #4812
@earth-chris - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-02 10:21] arfon commented on #4813
@annajenul - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-02 10:22] arfon commented on #4801
@lcmpikg - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-02 12:38] danielskatz commented on #4713
@pausz - thanks!  I'll add you, and start the review

[2022-10-02 12:38] danielskatz commented on #4713
@editorialbot add @pausz as reviewer

[2022-10-02 12:38] danielskatz commented on #4713
@editorialbot start review

[2022-10-02 12:38] editorialbot opened #4815 "[REVIEW]: OPSDN: an enhanced SDN simulation framework for OPNET Modeler"
**Submitting author:** @ZacharyJia (<a href="http://orcid.org/0000-0002-7144-4448">Zequn Jia</a>)
**Repository:** https://github.com/ZacharyJia/opsdn
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.2.
**Editor:** @danielskatz
**Reviewers:** @Qingfengmufeng, @pradeeban
**Archive:** 10.5281/zenodo.7708397

## Status

[![status](https://joss.theoj.org/papers/888bd72686dac709bec0

[2022-10-02 12:38] #4713 closed

[2022-10-02 12:39] danielskatz commented on #4815
👋 @Qingfengmufeng and @pausz - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission,

[2022-10-02 15:41] jbytecode commented on #4736
@jmejia8 - is the issue about the community guidelines okay?

@HaoZeke - could you please update your status?

Thank you in advance.

[2022-10-02 16:49] villaa commented on #4694
@editorialbot generate my checklist

[2022-10-02 18:03] majensen commented on #4566
@editorialbot  check references

[2022-10-02 18:04] majensen commented on #4566
@editorialbot commands

[2022-10-02 18:05] majensen commented on #4566
@editorialbot check references

[2022-10-02 18:13] villaa commented on #4694
@SotaYoshida I started reviewing, I think the paper is well written I submitted one [issue ](https://github.com/SotaYoshida/NuclearToolkit.jl/issues/31) on GitHub relating to reference links and DOIs for arXiv-only references. I generally tag the issues related to my review with [JOSS Review].

I will continue reviewing the software!

[2022-10-02 19:34] majensen commented on #4566
@hrossman - thanks very much for this submission, and for your patience. The package provides a number of very useful features based on the estimators you have developed.

I have just a couple of wording suggestions, below. The line numbers are based on the PDF proof generated at https://github.com/openjournals/joss-reviews/issues/4566#issuecomment-1236207482 above. I would also look at the bot-su

[2022-10-02 19:50] jmejia8 commented on #4736
@jbytecode, the issue on the community guidelines is fulfilled.

[2022-10-02 20:00] tretherington commented on #4536
@sbenthall sorry, I'm too busy right now to commit ☹️

[2022-10-02 20:09] asitha-sena commented on #4569
@banesullivan Have you had a chance to look at my responses to the issues that you opened in the Gitlab repo?

[2022-10-02 21:00] fboehm commented on #4720
@MaximLippeveld - please feel free to continue the conversation once you've reviewed the latest changes from the authors.

Thanks again!

[2022-10-02 21:22] finagle29 commented on #3612
lgtm!

[2022-10-02 23:51] elimillera commented on #4741
@editorialbot generate my checklist

[2022-10-03 02:49] luyuhao0326 commented on #4664
Dear editor(s) @editorialbot @hugoledoux: the authors have addressed the comments from @winstonyym. Please advise our next step moving forward :)

[2022-10-03 03:34] pausz commented on #4815
@editorialbot generate my checklist

[2022-10-03 03:51] earth-chris commented on #4812
Thanks for the notice, @arfon! I've added myself to the list of volunteer reviewers so I can be conscripted to help battle the backlog as necessary.

**Recommended reviewers**

From the volunteer list:

- ethanwhite
- ghislainv
- dlebauer
- dm807cam

Additional:

- Jamie Kass (jamiemkass)

[2022-10-03 04:02] earth-chris commented on #4812
Added missing DOIs.

@editorialbot generate pdf

[2022-10-03 04:33] meg-simula commented on #4711
@arfon Not my field of expertise I'm afraid.

[2022-10-03 06:09] prashjha commented on #4557
@phpuech sorry for the delay. I just got back from my trip which was extended for some personal reasons. @danielskatz sorry for the delay; I was on a trip.

[2022-10-03 06:09] prashjha commented on #4557
@editorialbot check references

[2022-10-03 06:11] prashjha commented on #4557
@editorialbot generate pdf

[2022-10-03 06:17] prashjha commented on #4557
Hello @smsaladi, we think that this JOSS submission might be of interest to you. Is there a chance you could review this submission? Please let me know!

[2022-10-03 06:20] prashjha commented on #4557
Hello @ryEllison, this JOSS submission may be related to your interests. Would you have time to review this submission?

[2022-10-03 06:23] prashjha commented on #4654
Hello, @jameshgrn and @vijaysm. Could you please suggest if you are satisfied with the response and if there are no further comments for the author to address? Also, please provide your decision on acceptance of this submission. Thank you!!

[2022-10-03 06:27] prashjha commented on #4647
@editorialbot generate pdf

[2022-10-03 06:30] bluefoxr commented on #4567
Hi @paulrougieux I have made some commits to fix these issues. Please take a look and see if you think they fix the problems. Thanks.

[2022-10-03 06:55] prashjha commented on #4647
@aaron-bray sorry for the delay; I was traveling and just came back. This is an excellent submission. It will be helpful if you could suggest a few potential reviewers for this submission. Thanks.

[2022-10-03 07:06] pdebuyl commented on #4329
@editorialbot check references

[2022-10-03 07:14] prashjha commented on #4727
@editorialbot generate pdf

[2022-10-03 07:21] pdebuyl commented on #4329
Hello,

Can you confirm that v3.7.1 is the suitable release? If so, can you archive it on zenodo and mention the link to the zenodo archive here? You can use a rolling DOI with zenodo if you wish but the one given here should point to the reviewed version.

I had a look at the pdf and have no further editorial comments on the paper itself.

[2022-10-03 07:23] hugoledoux commented on #4664
@luyuhao0326 I have seen yes.

Now we need to wait for @cforgaci feedback, he promised me to do it this week.

[2022-10-03 07:25] prashjha commented on #4727
Hi @szhorvat, sorry for the delay. This is an excellent submission. Could you please provide the names of a few potential reviewers from this [list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)?

[2022-10-03 07:49] MaximLippeveld commented on #4720
@editorialbot generate pdf

[2022-10-03 07:54] szhorvat commented on #4727
Hello @prashjha, my suggestions for reviewers are in this comment: https://github.com/openjournals/joss-reviews/issues/4727#issuecomment-1234689545 See towards the end of the comment for suggestions taken from the Google Sheets you linked.

[2022-10-03 08:02] MaximLippeveld commented on #4720
Thanks for adding the code samples. I have one final remark concerning the Design & Implementation section. It is not very clear to me if the listed algorithms and datastructures are reimplementations of existing software or if they are all original pieces of code. I assume the Bloom and Counting Bloom filter and Sequence I/O are original implementations, and ntHash, Multi-index bloom filter and I

[2022-10-03 08:41] micheder commented on #4576
@pibion - First of all, thank you very much for your comments and reviewing :)
Regarding similar software packages: For that purpose we have added the 3rd paragraph to the paper where we list various codes that solve the guiding-center equations. Furthermore, there we also state how our code differs from existing codes that solve these equations.
Do you have suggestions how we can improve this par

[2022-10-03 09:06] arfon commented on #4787
@WPettersson - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-03 09:07] arfon commented on #4791
@sjbeckett - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-03 09:08] arfon commented on #4804
@elfunesto - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-03 09:12] paulrougieux commented on #4567
Both issues  bluefoxr/COINr#23 and  bluefoxr/COINr#15  are fixed, I ticked all boxes in the checklist above.

[2022-10-03 09:34] ppxasjsm commented on #4784
/ooo October 4 until October 13

[2022-10-03 09:35] ppxasjsm commented on #4693
/ooo October 4 until October 13

[2022-10-03 09:36] ppxasjsm commented on #4719
/ooo October 4 until October 13

[2022-10-03 10:06] mdavezac commented on #4694
@SotaYoshida, thank-you for all your work. I'm afraid I have not been able to get to it yet, but I hope to finish the review by next week.

[2022-10-03 10:41] fabian-s commented on #4773
hi @marastadler @mcavs, thanks for filling out the review checklists.

please help @fskurnaz adress the problems you have identified by adding some more specific comments on what's missing (and how to fix them, if you have ideas), preferably by opening corresponding review issues or pull requests at https://github.com/fatmasevinck/enetLTS/issues and linking them back to this issue by including `Se

[2022-10-03 11:22] OllyK commented on #4691
@estenhl  Feel free to ask if there's anything that needs clarifying or updating. The paper doesn't contain any original results, it references studies where we've used earlier versions of the code to segment data. Best Wishes.

[2022-10-03 11:39] hrossman commented on #4566
@majensen,  Thank you for the detailed review!
We will take care of all the typos and DOIs shortly.

I’ve consulted with my co-authors and would like to respond to the main point raised before proceeding:
We do believe it important to collate the statistical machinery in this paper as currently presented. We made considerable effort to summarize the important parts of it and believe it is valuable

[2022-10-03 11:39] ryEllison commented on #4557
Hey @prashjha, I would love to review this submission!

[2022-10-03 12:57] prashjha commented on #4557
@ryEllison awesome..thanks!

[2022-10-03 12:58] prashjha commented on #4557
@editorialbot add @ryEllison as reviewer

[2022-10-03 12:58] prashjha commented on #4727
@szhorvat thanks.

[2022-10-03 12:59] prashjha commented on #4727
Hello @TomKellyGenetics, any chance you could review this submission for JOSS?

[2022-10-03 14:06] apachalieva commented on #4782
Hi, @danielskatz! We think that govarguz and Raffaello Potestio (raffaello.potestio@unitn.it) will be suitable reviewers for our submission.

[2022-10-03 14:10] danielskatz commented on #4782
Thanks @apachalieva - Given that we need 2 reviewers, a few more suggestions would also be welcome.

[2022-10-03 14:11] danielskatz commented on #4782
👋 @govarguz - Would you be willing to review this JOSS submission?

[2022-10-03 14:15] danielskatz commented on #4782
👋 @potestiolab - would you be willing to review this submission for JOSS?

JOSS is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!).

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conversations are encouraged.

JOSS reviews inv

[2022-10-03 14:20] apachalieva commented on #4782
Hi, @danielskatz - these are some more reviewers I think would be suitable: jeffhammond, corettialessandro, and KEIPERTK.

Thanks!

[2022-10-03 14:45] phpuech commented on #4557
Hi,
@prashjha no worries... since we are new in the procedure, we were afraid to have missed something important... We hope that everything is going well for you.
@ryEllison thanks for accepting the review
sincerely
for the authors
PH Puech

[2022-10-03 15:02] jeffreyhanson commented on #4594
Massive thank you to @Jo-Schie and @DrMattG for making the time to review this submission. Their feedback was extremely helpful for improving the package and manuscript! I think I've fully addressed all of their comments now - but please correct me if I've got this wrong - so what should I do next?

[2022-10-03 15:03] jeffreyhanson commented on #4594
Ah, I'll ensure that the PDF version in this issue is up to date - might be useful.

@editorialbot generate pdf

[2022-10-03 15:18] ajstewartlang commented on #4517
:wave: @stain how is your review going?

[2022-10-03 15:18] jeffreyhanson commented on #4594
Ah - thanks @danielskatz!

[2022-10-03 15:18] jeffreyhanson commented on #4594
@editorialbot generate pdf

[2022-10-03 15:20] ajstewartlang commented on #4707
:wave: @debruine how's your review going?

[2022-10-03 15:24] jeffreyhanson commented on #4594
@editorialbot generate pdf

[2022-10-03 15:34] galessiorob commented on #4699
Happy to!

[2022-10-03 15:35] galessiorob commented on #4699
@editorialbot add @galessiorob as editor

[2022-10-03 15:38] diehlpk commented on #4730
Hi @dmbates would you have time to review this paper?

[2022-10-03 15:39] diehlpk commented on #4730
Hi @lindemann09 would you have time to review this paper?

[2022-10-03 15:40] jameshgrn commented on #4654
Fine with me: Accept!

[2022-10-03 15:41] diehlpk commented on #4377
@stsievert Thanks for finishing your review.

[2022-10-03 15:42] diehlpk commented on #4377
Hi @jonjoncardoso how is your review going?

[2022-10-03 15:43] diehlpk commented on #4611
Hi @ estefaniatalavera could you change your email address?

How is your review going?

[2022-10-03 15:58] galessiorob commented on #4699
Hi @RamziHalabi

I'm looking forward to working with you on this review. I'll send out review invites shortly, and once we have two reviewers we can open a fresh issue (the actual review issue.) If you have any suggestions for reviewers please let me know (post a comment with their handles), and I can reach out to them.

[2022-10-03 16:00] thomasgillis commented on #4637
Hi, thanks for the heads-up.
I will look at this over the coming week

[2022-10-03 16:06] jbytecode commented on #4567
@paulrougieux - Thank you for completing your review and spending your valuable time.

[2022-10-03 16:07] vijaysm commented on #4654
I am happy with the responses of the author to address all the questions I've raised. The software and the manuscript are in good shape now as well. I recommend the submission be accepted for publication. I have also marked all pending items as complete in my review. Congratulations @stefsmeets !

[2022-10-03 16:23] vlad0x00 commented on #4720
Except for sequence I/O, all of the code in btllib started out in different projects in our lab. To make it easier to reuse, we moved the commonly used code into btllib which now has the reference/latest implementations for the listed algorithms. The code wasn't just moved, though, in general most of it had some improvements in efficiency, portability, or readability. For some of the algorithms/da

[2022-10-03 16:26] prashjha commented on #4654
Thank you both for your quick response!!

[2022-10-03 16:26] prashjha commented on #4654
@editorialbot check references

[2022-10-03 16:27] prashjha commented on #4654
@stefsmeets could you please update the JOSS article to fix the above DOI error?

[2022-10-03 16:28] prashjha commented on #4654
@editorialbot generate pdf

[2022-10-03 16:33] prashjha commented on #4654
Hi, @stefsmeets; while you fix the doi error, I will go over the JOSS paper. If there are suggestions on the draft, I will share them here. Once you have incorporated them, I will hand the paper to the editor-in-chief for a final decision.

[2022-10-03 16:34] banesullivan commented on #4569
Fantastic work, @asitha-sena! I think you've addressed all of my concerns and I am happy to submit my review as completed now!

I'm not thrilled with the multi-platform testing situation, but that seems to be a limitation of GitLab CI rather than a lack of effort. I might recommend using a third-party CI service until GitLab CI comes up to par so that the CI tests are actually "continuously integr

[2022-10-03 16:49] bluefoxr commented on #4567
Thanks @paulrougieux for your valuable input!

[2022-10-03 17:26] asitha-sena commented on #4569
@banesullivan Thanks so much for your helpful suggestions and encouraging words. I agree about the multi platform testing and we are keeping a close eye on the developments of Gitlab CI.

[2022-10-03 17:47] rMassimiliano commented on #3527
@adi3 Sorry that it took more than expected.

@AP6YC can you confirm that you addressed my previous comments?

By looking at the package documentation and at the Readme it does not seem so.

###### Examples:

1. the software is still under documented. The documentation of the function `DB()` - that is used as example - has not been updated. It still read:
[code]

2. The `README.md` file refers to

[2022-10-03 17:49] majensen commented on #4566
Hi @hrossman - I agree with your considerations and we can go ahead with the version as written. Then I would just make the following minor smoothing edits:

105: “T denotes” -> “T denote”
123: “All of the above” -> “For all of the above”
145: “any unknown parameter is replaced by its estimator” -> “replacing any unknown parameter by its estimator”

thanks!

[2022-10-03 17:52] SYalouz commented on #4759
Dear @jarvist,

I contact you regarding citations to the package QuantNbody.

There are actually two papers from my group which have been realised using QuantNbody.  One is already on arxiv, (see: https://arxiv.org/abs/2209.10302) and submitted to a journal, the second one will appear on arxiv by the end of the week (and submitted to a journal also this week).

I am wondering: May I inject explici

[2022-10-03 17:55] jvkersch commented on #4236
@lpantano @sdhutchins I just wanted to let you know that we've addressed the remaining issues (and some more, too, that came up while we were working on the package). Please let me know if there's anything else you'd like us to address, and thanks again for the many insightful (and actionable!) comments.

[2022-10-03 18:16] sdhutchins commented on #4236
Great job! @jvkersch!!

My review is complete, @lpantano.

[2022-10-03 18:19] hrossman commented on #4566
Much appreciated @majensen
All done now, fixed the typos and the DOIs. I think we're good to go. Please let us know if anything else is needed,
Thanks!

[2022-10-03 19:13] enekomartinmartinez commented on #4329
Hi,

Thank you!

Yes, v3.7.1 is the suitable release. I think the zenodo account permissions belong to @JamesPHoughton. However, DOIs are automatically generated for all releases. Is it enough or do we need to do something else?

10.5281/zenodo.7094483

[2022-10-03 19:46] apachalieva commented on #4782
@editorialbot commands

[2022-10-03 19:47] apachalieva commented on #4782
@editorialbot check references

[2022-10-03 19:54] galessiorob commented on #4751
Getting additional reviewers is taking longer than expected, so I'll open the review issue so @Smatter can get started.

[2022-10-03 19:57] galessiorob commented on #4751
@editorialbot start review

[2022-10-03 19:57] editorialbot opened #4816 "[REVIEW]: GNOLL: Efficient Multi-Lingual Software for Real-World Dice Notation and Extensions"
**Submitting author:** @ianfhunter (<a href="http://orcid.org/0000-0003-3408-8138">Ian Hunter</a>)
**Repository:** https://github.com/ianfhunter/GNOLL
**Branch with paper.md** (empty if default branch):
**Version:** v4.3.2
**Editor:** @galessiorob
**Reviewers:** @Smattr, @steven-murray
**Archive:** 10.5281/zenodo.7542433

## Status

[![status](https://joss.theoj.org/papers/c704c5148e622d3240394832

[2022-10-03 19:57] #4751 closed

[2022-10-03 19:59] galessiorob commented on #4816
👋 @Smattr, please create your checklist typing: `@editorialbot generate my checklist`

This will give you an itemized list for you to follow. Please let me know if you have any questions.

[2022-10-03 20:10] sportiellomike commented on #4785
Good afternoon @arfon,

I was curious if you had a chance to read my last message. Thank you for your consideration.

[2022-10-03 20:19] galessiorob commented on #4699
Invites sent! I'll add reviewers as they accept the invites and once we have at least two, we can start the review.

[2022-10-03 20:33] lucask07 commented on #4699
Hi @galessiorob
Sure I'd be happy to review this submission.

[2022-10-03 20:41] apachalieva commented on #4782
@editorialbot check references

[2022-10-03 21:11] ZeitgeberH commented on #4706
Hi @mstimberg Thanks very much for your suggestions.  I believe I have addressed all of the issues (details under each issue in the repo).  Additional test data, documentation and PyPI package has been updated.

[2022-10-03 21:11] pdebuyl commented on #4329
@editorialbot set 10.5281/zenodo.7094483 as archive

[2022-10-03 21:13] AP6YC commented on #3527
@rMassimiliano Thank you for your feedback! I can immediately address both of your points:

1. I chose to document the citations and information about the CVIs in the structs themselves, listed under the [full-index](https://ap6yc.github.io/ClusterValidityIndices.jl/dev/man/full-index/). However, I agree that some more information could be included in the constructor docstrings themselves.
2. I am

[2022-10-03 21:16] pdebuyl commented on #4329
@editorialbot set v3.7.1 as version

[2022-10-03 21:17] pdebuyl commented on #4329
@editorialbot recommend-accept

[2022-10-03 21:21] majensen commented on #4566
@editorialbot check references

[2022-10-03 21:24] majensen commented on #4566
Thanks @hrossman - now we need to create an open archive of the software repo. Can you please use Zenodo, FigShare or similar to do this? (There is a short tutorial at [this comment](https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729).)

Once that is done, please report the assigned DOI back to this thread.

[2022-10-03 21:37] hrossman commented on #4566
Done. Upadated Zenodo
DOI: 10.5281/zenodo.7140849

[2022-10-03 22:02] apachalieva commented on #4782
@editorialbot check references

[2022-10-03 22:07] mcgrathc commented on #4472
@fraukewiese, @euronion, @chrklemm, We thank the reviewers for raising the coverage issue. In response to this suggestion, we’ve again reviewed the codebase for opportunities to increase our code coverage. We implemented several new tests which brought the code coverage up to 48.49% for the package. All of the core functions of `tell` are now covered. The changes are available on the `main`[ branc

[2022-10-03 22:15] galessiorob commented on #4699
@editorialbot add @lucask07 as reviewer

[2022-10-03 22:16] galessiorob commented on #4699
Thanks so much, @lucask07! Looking forward to working with you.

[2022-10-03 22:46] lpantano commented on #4236
@editorialbot generate pdf

[2022-10-03 22:50] lpantano commented on #4236
@editorialbot check references

[2022-10-03 22:52] lpantano commented on #4236
@jvkersch, At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (m

[2022-10-03 22:56] thchang commented on #4468
Thanks @Viech

We are aware of the hinting features, and it is definitely something that we want to look into in the future, but I think it is not so easy in our case since we are simulating polymorphism by defining some function behaviors based on the input types (thereby allowing for multiple different input types).

Not sure what the recommendation/policy is in these cases:  e.g., suppose ``arg

[2022-10-04 00:31] SotaYoshida commented on #4694
@editorialbot generate pdf

[2022-10-04 00:36] SotaYoshida commented on #4694
@editorialbot  generate pdf from branch main

[2022-10-04 00:38] SotaYoshida commented on #4694
@editorialbot set main as branch

[2022-10-04 00:38] SotaYoshida commented on #4694
@editorialbot generate pdf

[2022-10-04 00:42] SotaYoshida commented on #4694
@editorialbot generate pdf

[2022-10-04 00:46] SotaYoshida commented on #4694
@editorialbot generate pdf

[2022-10-04 00:50] SotaYoshida commented on #4694
@editorialbot generate pdf

[2022-10-04 01:39] jmejia8 commented on #4723
@editorialbot check references

[2022-10-04 01:46] jmejia8 commented on #4723
@editorialbot check references

[2022-10-04 01:47] jmejia8 commented on #4723
@editorialbot generate pdf

[2022-10-04 02:30] SotaYoshida commented on #4694
@editorialbot generate pdf

[2022-10-04 02:32] SotaYoshida commented on #4694
Sorry for the repetition of the commands.
I finally found out that how to generate the pdf with GitHub Actions so I will use it...

[2022-10-04 05:56] leotrs commented on #4727
@prashjha this is right up my alley. Yes.

[2022-10-04 06:52] martinfleis commented on #4594
@Jo-Schie I see that you have not checked **Performance** and **State of the field** in the checklist above. Is that something that still needs to be clarified from authors?

[2022-10-04 07:50] vissarion commented on #4723
Hi all, please allow me to make a brief status update here.

@PaulDebus is waiting for @jmejia8 to address the issue opened in the repository https://github.com/jmejia8/Metaheuristics.jl/issues/36

@idoby you have some unchecked boxes in your review checklist. Are you waiting for some issue to be addressed by the author?

@JustinSGray any updates on your review progress?

[2022-10-04 08:19] NRaillard commented on #4366
Dear @krober10nd, just a kind reminder that if you want to have access to the CI/CD configuration, post issues for questions/remarks about the code, I just need you email so that I can ask for the creation of a personal account on our organization gitlab instance.

[2022-10-04 08:26] csoneson commented on #4545
@patRyserWelch8 - could you please check that you can generate your checklist and tick the boxes that you feel are satisfied? Thanks.

[2022-10-04 08:33] idoby commented on #4723
@vissarion I have updated my checklist according to the latest revision of the paper from yesterday. I think the review has already contributed to the improvement of the paper and package and as far as I'm concerned, all issues have been addressed.

@jmejia8 I have just one last comment - I think that printing out status information out of your library is a usability obstacle for a lot of potentia

[2022-10-04 09:04] stain commented on #4517
@editorialbot generate my checklist

[2022-10-04 09:30] marastadler commented on #4773
Hi @fatmasevinck,
I like the general structure of your paper. The text itself still needs a little polishing.
 - In some places the quotation is in brackets, although it is part of the sentence (see, for example, lines 26/27, 42, 71, 92/93).
- Sometimes spaces are missing in the text (e.g. enetLTS()function (line 87), nCsteps (line 57)).
- Also, the manuscript should be double-checked for typos (l

[2022-10-04 09:32] cagret commented on #4363
@editorialbot generate pdf

[2022-10-04 09:40] cagret commented on #4363
@editorialbot generate pdf

[2022-10-04 09:48] stefsmeets commented on #4654
Cheers, I just accepted the PR, letme know if there is anything else I can do :-)

[2022-10-04 09:50] marastadler commented on #4773
@fatmasevinck You add plots in Readme.md in the multinomial regression section that are not in the manuscript.
When plotting the coefficients in the first of these plots, the x-axis label is difficult to read. You could sort the features by importance and/or show only a subset of the coefficients.

[2022-10-04 09:56] jvkersch commented on #4236
@lpantano Thanks for the quick follow-up. Please find the requested information below. Please let me know if anything is missing or incomplete.

- The tagged version: https://github.com/enthought/vpsearch/releases/tag/0.1.2-joss
- Zenodo record: https://zenodo.org/record/7142747
- Zenodo DOI: [10.5281/zenodo.7142747](https://doi.org/10.5281/zenodo.7142747)

[2022-10-04 10:00] cagret commented on #4363
@editorialbot generate pdf

[2022-10-04 10:09] cagret commented on #4363
@editorialbot generate pdf

[2022-10-04 10:11] estenhl commented on #4691
Sorry for the late reply @osorensen, the missing check was purely due to a mistake on my part. @OllyK, great work, and thanks for the detailed replies to @jinpengw's questions, both here and in the pre-review thread

[2022-10-04 10:16] cagret commented on #4363
i'll reduce the size of the structure

[2022-10-04 10:16] cagret commented on #4363
@editorialbot generate pdf

[2022-10-04 10:19] stain commented on #4517
Sorry for my late reviews - github emails got drowned in the wrong mailbox

Although I am not an expert on this domain I have reviewed this mainly from a Web developer aspect. The author has taken many steps to make this software usable for third-party users and I am quite happy to recommend this paper.

A few small improvements can still be done as detailed below, but I would not put them as bloc

[2022-10-04 10:26] fwitte commented on #4757
Quick update from me @jgostick, @jranalli: I will start working on the review this week and hope to finish it on the weekend.

[2022-10-04 10:36] marastadler commented on #4773
@fatmasevinck the community guidelines are missing. One option to add such guidelines can be seen here: https://github.com/fabian-sp/GGLasso.

[2022-10-04 10:36] osorensen commented on #4691
@OllyK, I will now read through the manuscript a final time, and let you know if I have any suggested changes. Meanwhile, could you
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has

[2022-10-04 10:37] osorensen commented on #4555
Any updates on this one @Matthew-Jennings?

[2022-10-04 11:06] dfm commented on #4503
@editorialbot add @dfm as reviewer

@taylorbell57 — It unfortunately sounds like @christinahedges is overcommitted and won't be able to find the time to finish the review. Since we already have ~1.5 reviews, I'll take over and review myself to get the fastest turnaround. I probably won't be able to get to it this week because I'm running a conference, but I'll get onto it ASAP! Thanks all for your

[2022-10-04 11:06] dfm commented on #4503
@editorialbot generate my checklist

[2022-10-04 11:12] dfm commented on #4456
@VChristiaens — Just an update that I've contacted @jgagneastro a number of times also via email over the past few weeks and I'm hoping for a response, since I'd much rather not assign a new reviewer. I'll keep you updated!

[2022-10-04 11:33] d-eggert commented on #4052
@martinfleis do you have everything to wrap this up, or is still something missing?

[2022-10-04 11:56] Viech commented on #4468
A simple (but not very strict) approach is via `Union`:
[code]

If you want to model explicitly how return types depend on input types, you can use the [typing.overload](https://docs.python.org/3/library/typing.html#typing.overload) decorator for this.

[2022-10-04 12:44] mzabrams commented on #4678
@majensen I've made some progress on these -- two issues remain open, one may need to be closed with a note made to system requirements to run the package (there seems to be a Windows-based issue that I've been unable to resolve to this point, potentially based on the way Windows handles memory usage compared to macOS and Linux systems), and I'm working on fixing the packaging for download from co

[2022-10-04 12:49] krober10nd commented on #4366
@NRaillard okay my email is kroberts@baird.com thanks

[2022-10-04 12:54] osorensen commented on #4684
@tomfaulkenberry could you please update us on how it's going with your review?

[2022-10-04 12:55] osorensen commented on #4655
@adriancorrendo, for your information: since I'm not able to get in touch with the reviewers, I'll try to find new reviewers for this submission. Sorry for the delay.

[2022-10-04 12:58] osorensen commented on #4655
👋  @wiljnich @simonpcouch @Emma-k-ward, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-04 13:01] NRaillard commented on #4366
Ok, my bad: it seems that you already have an account on our gitlab with another email ( @usp). You should have received an emil on this email with a password to access gitlab.ifremer.fr
Let me know if you have some issues in connecting.

[2022-10-04 13:02] krober10nd commented on #4366
I no longer have access to my institution account unfortunately.

[2022-10-04 13:27] wiljnich commented on #4655
@osorensen yes, I am able and willing to review this submission.

[2022-10-04 13:29] adonath commented on #4639
Just a short reminder on the API docs and license file @Jammy2211, thanks!

[2022-10-04 13:31] majensen commented on #4566
Thanks @hrossman - would you be able to set the title of the archive to the the title of the paper, and add your third author to the archive authors? This is just a best practice that JOSS prefers. Let me know if that works for you.

[2022-10-04 13:31] adonath commented on #4626
@tibordome I still do not have a positive response from a 2nd reviewer. I'm still in contact with some potential reviewers and will keep you up to date...

[2022-10-04 13:49] hrossman commented on #4566
@majensen  done. Title changed, Author added. Thanks

[2022-10-04 13:57] osorensen commented on #4655
@editorialbot add @wiljnich as reviewer

[2022-10-04 13:58] osorensen commented on #4655
Perfect @wiljnich! You can get started by issuing the command `@editorialbot generate my checklist`.

[2022-10-04 13:58] ctdegroot commented on #4637
Thanks, I will look at it in the next week as well.

[2022-10-04 14:01] wiljnich commented on #4655
@editorialbot generate my checklist

[2022-10-04 14:02] simonpcouch commented on #4655
@osorensen I'd be happy to review this submission!👍

[2022-10-04 14:08] IndrajeetPatil commented on #4684
Thank you so much for the quick response, @tomfaulkenberry!

We are glad to hear that you find the functionality useful and intuitive :)

[2022-10-04 14:09] IndrajeetPatil commented on #4684
@osorensen What's the next step here?

[2022-10-04 14:27] osorensen commented on #4655
@editorialbot add @simonpcouch as reviewer

[2022-10-04 14:28] osorensen commented on #4655
Thanks @simonpcouch :-)  You can get started by issuing the command @editorialbot generate my checklist.

[2022-10-04 14:28] danielskatz commented on #4782
👋 @jeffhammond, @corettialessandro, and @KEIPERTK - would two of you be willing to review this submission for JOSS?

[2022-10-04 14:31] danielskatz commented on #4782
👋 @apachalieva - note that the reference check looks at all references in your .bib file. If you are not using some of them in your paper, you can remove them from this file, then not worry about if they have DOIs. On the other hand, if the references associated with the invalid DOIs are needed in your paper, you will need to fix the invalid DOIs.

[2022-10-04 14:31] danielskatz commented on #4735
@yadudoc - ping on this...

[2022-10-04 14:31] danielskatz commented on #4735
@munkm - ping on this...

[2022-10-04 14:32] danielskatz commented on #4722
👋 @DanNixon - any update?

[2022-10-04 14:32] danielskatz commented on #4722
👋 @lucaferranti - any update?

[2022-10-04 14:33] danielskatz commented on #4722
👋 @vitorsr - how is your review going?

[2022-10-04 14:34] danielskatz commented on #4762
@Ajstros - can you respond to the comments from @askuric above?

[2022-10-04 14:35] danielskatz commented on #4762
@untzag - can you now make further progress on your review?  Or is anything blocking you?

[2022-10-04 14:37] Shreyas911 commented on #4679
Hello @svchb @crvernon,

Just checking in to see what we are supposed to do next, we have done our best to address the issues raised before.

Thanks,
Shreyas

[2022-10-04 14:37] jmejia8 commented on #4723
First of all, thank you all for taking the time to write this review.

@PaulDebus, I just commented on the issue https://github.com/jmejia8/Metaheuristics.jl/issues/36

@idoby, your last comment is very important. As far as I understand, Julia can handle the [I/O](https://docs.julialang.org/en/v1/base/io-network/) depending on the context. The package overloads the [show](https://docs.julialang.or

[2022-10-04 14:38] sdelandtsheer commented on #4753
Hello all, I am nearly done, sorry for the delay, other things keep popping up.
I'll finish this up tomorrow, but it seems that everything is fine from my side, the code is excellent

[2022-10-04 14:39] OllyK commented on #4691
Thanks very much @osorensen ! And once again many thanks to @jingpengw and @estenhl for taking the time to review

 - [x ]  Make a tagged release of your software, and list the version tag of the archived version here.
 - [x ]  Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
 - [x ]  Check the archival deposit (e.g., in Zenodo) has the cor

[2022-10-04 14:42] diazrenata commented on #4674
@DominiqueMaucieri  Thank you for the revision! It looks good to me at this point - one small point on the Shiny app, but totally optional, and more a question of streamlining the user experience!

## State of the field/statement of need

Thank you for clarifying this, and highlighting the intention of providing a standardized workflow for novices working with CoralNet data.

## Documentation

The

[2022-10-04 14:44] govarguz commented on #4782
Hi, @danielskatz! I can review this submission!

[2022-10-04 14:46] danielskatz commented on #4782
Thanks @govarguz - I'll add you to the system, but we won't start the review until we find one more reviewer as well

[2022-10-04 14:49] simonpcouch commented on #4655
@editorialbot generate my checklist

[2022-10-04 14:55] osorensen commented on #4691
@editorialbot generate pdf

[2022-10-04 14:55] osorensen commented on #4691
@editorialbot check references

[2022-10-04 14:56] osorensen commented on #4691
@editorialbot set 10.5281/zenodo.7143363 as archive

[2022-10-04 14:56] osorensen commented on #4691
@editorialbot v0.2.7 as version

[2022-10-04 14:56] osorensen commented on #4691
@editorialbot set v0.2.7 as version

[2022-10-04 15:22] marastadler commented on #4773
@fatmasevinck in the chapter "related software" you name a few packages. It would be useful to elaborate a bit more on how these packages differ from `enetLTS` (e.g. would the package `pense` in the linear model case give the same results as `enetLTS`, or are they different and, if so, why?)

[2022-10-04 15:25] osorensen commented on #4691
@OllyK, I think the paper is clear and well written. As you see, I have opened some rather small issues in the source repository. Please let me know when they are fixed (or if you disagree with my suggestions, which is absolutely fine), and I can move forward with accepting the submission.

[2022-10-04 15:26] osorensen commented on #4684
@editorialbot check references

[2022-10-04 15:26] osorensen commented on #4684
@editorialbot generate pdf

[2022-10-04 15:38] IndrajeetPatil commented on #4684
@osorensen Thanks for the checklist.

I have taken all the necessary steps here:

- [x]  Make a tagged release of your software, and list the version tag of the archived version here.
- [x]  Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [x]  Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title

[2022-10-04 15:47] osorensen commented on #4684
@editorialbot set 10.5281/zenodo.714 as archive

[2022-10-04 15:47] osorensen commented on #4684
@editorialbot set 0.6.2 as version

[2022-10-04 15:52] osorensen commented on #4684
Thanks @IndrajeetPatil. As you see, I've added a few editorial comments in the source repository. Please let me know when they have been resolved, and I can then move forward with accepting the submission.

[2022-10-04 15:55] IndrajeetPatil commented on #4684
Thanks for your careful read and helpful editorial suggestions on the paper, @osorensen! I have addressed all of them.

Let me know if you want me to make any other changes.

[2022-10-04 15:56] osorensen commented on #4684
@editorialbot generate pdf

[2022-10-04 15:58] osorensen commented on #4684
@editorialbot recommend-accept

[2022-10-04 16:36] idoby commented on #4723
@jmejia8 Up to you. Ultimately, it's a matter of preference. I always prefer to decouple I/O from processing and use structured information instead of unstructured information.
It's much easier to print out structured information than to have to parse in I/O after the fact, if/when the need arises (even if Julia can handle different MIME types).

[2022-10-04 17:10] OwenWard commented on #4771
@editorialbot generate my checklist

[2022-10-04 17:15] prashjha commented on #4654
Hi, @stefsmeets, see if these suggestions make sense for your draft:

- L18. `Many meshing libraries ...` in this sentence, you may want to say meshing libraries from images (??) so that the following sentence on not many software being available makes sense? Otherwise, for simple meshing given the definition of the domain, there are many open source software.
- L21. Should you have a comma after

[2022-10-04 17:18] prashjha commented on #4727
@leotrs thanks for confirming quickly!

[2022-10-04 17:18] prashjha commented on #4727
@editorialbot add @leotrs as reviewer

[2022-10-04 17:25] StanczakDominik commented on #4649
Hey, I'm sorry, but I'm also overcommited for now and need to catch up on the backlog a little, first :(

[2022-10-04 17:26] StanczakDominik commented on #4672
Hey! I'm terribly sorry, but I think I overestimated the time I'd have available for now, so I don't think I'm going to be able to do this review promptly. Sincerest apologies :(

[2022-10-04 17:43] PaulDebus commented on #4723
Hey,

thanks for addressing my questions and concerns over at https://github.com/jmejia8/Metaheuristics.jl/issues/36
This resolves the remaining points for me, and I updated my checklist accordingly.

For me, this paper can be accepted (possibly after my last tiny pull request to fix a typo is merged :wink: ) to JOSS

Good work to the authors and reviewers, especially @idoby for your good input an

[2022-10-04 18:08] mhesselbarth commented on #4771
Is there any recommendations what to put into the README and into vignettes in general? I opened https://github.com/skiptoniam/ppmData/issues/26 related to this, but personally don't have any strong opinion if that should be in the README or an additionally vignette. But some more guidance would be great!

[2022-10-04 18:43] OwenWard commented on #4771
For JOSS I don't think so, but https://r-pkgs.org/vignettes.html has some ideas about vignettes.
My opinion would be that from the README you can tell if the package does what you want/need, and then if you are going to use it a vignette would give you the details to actually implement it.

I agree with the issue about the README, and would encourage (but not require) a vignette, so that it would

[2022-10-04 19:01] elbeejay commented on #4771
This is correct, as JOSS covers a wide array of programming languages we do not provide guidance on language-specific forms of documentation such as vignettes. Even for README files we provide only minimal suggestions as these can vary based on the language and community. Suggestions above are all appropriate as far as I can tell.

[2022-10-04 19:16] simon-lewis commented on #4628
Apologies @gkthiruvathukal but not sure if I needed to formally close my review. All issues raised are now closed / resolved. Great comms and action from @perdelt. A pleasure to complete this review. Open to follow-up questions any time.
Thanks team.

[2022-10-04 19:17] majensen commented on #4566
@editorialbot set v0.2 as version

[2022-10-04 19:17] majensen commented on #4566
@editorialbot set 10.5281/zenodo.7140849 as archive

[2022-10-04 19:18] majensen commented on #4566
@editorialbot recommend-accept

[2022-10-04 19:35] melissawm commented on #4502
Hi folks, any updates on this review? Thanks!

[2022-10-04 19:36] LeonieFierz commented on #4261
@editorialbot generate pdf

[2022-10-04 19:38] melissawm commented on #2974
Folks - I am really sorry for the delay, entirely due to personal issues on my part.

@chkoar I see you still have the "Automated tests" checklist item unchecked, but I am assuming we can move forward based on your answer above.

At this point I will generate a new proof and ask @geoffreyp to review and make sure everything is alright.

[2022-10-04 19:38] melissawm commented on #2974
@editorialbot generate pdf

[2022-10-04 19:40] melissawm commented on #2974
@editorialbot check references

[2022-10-04 19:50] melissawm commented on #4291
Hello, folks - I am truly sorry for the delay, entirely due to personal issues on my side. If you are available to review @frankecurtis you can follow Arfon's message above. Please feel free to ask any additional questions if you have any.

It appears Dr. Julian Hall is also available to review this, so I will make sure to add him as soon as I get confirmation.

Thanks again!

[2022-10-04 19:52] bytesnake commented on #4737
Finished my review to the best of my ability. The code quality adheres high standard, is automated tested and fully documented. It fulfills the promises by providing some useful examples. The paper is well-written (there is one "gausian", spot single "s", typo), has a good introduction and a clear statement of need. Finally references to papers and established software packages are in place and co

[2022-10-04 19:57] bytesnake commented on #4737
sorry was on vacation and just came back to keyboard today, thank you for providing this service to research communities

[2022-10-04 19:58] melissawm commented on #4291
Welcome @jajhall - please review the [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for JOSS and let us know if you have further questions. Thank you!

[2022-10-04 19:59] LeonieFierz commented on #4261
@editorialbot generate pdf

[2022-10-04 20:06] lpantano commented on #4236
@editorialbot set 10.5281/zenodo.7142747 as archive

[2022-10-04 20:16] LeonieFierz commented on #4261
@editorialbot generate pdf

[2022-10-04 20:36] thchang commented on #4468
Oh, thanks for this tip.  I was not aware of ``Union``. That is probably a good approach to take, although I still need to check the Python version support before implementing something like this.

[2022-10-04 20:39] lpantano commented on #4236
@editorialbot set v0.1.2 as version

[2022-10-04 20:43] lpantano commented on #4236
@editorialbot recommend-accept

[2022-10-04 21:36] apachalieva commented on #4782
@editorialbot check references

[2022-10-04 22:04] jmejia8 commented on #4723
@editorialbot generate pdf

[2022-10-04 23:46] robchallen commented on #4707
I've been working through @craig-willis comments, and made quite a few updates. These are in a new branch [joss-fixes-0.2.4.9000](https://github.com/terminological/dtrackr/tree/joss-fixes-0.2.4.9000). Would it be better to do additional review there?

[2022-10-05 00:18] Ajstros commented on #4762
Yes, I will work on addressing those comments this week. Thanks for the feedback!

[2022-10-05 00:20] elbeejay commented on #4715
@jdiasn just want to let you know I am contacting other potential reviwers via e-mail, this hasn't been forgotten!

[2022-10-05 02:02] fboehm commented on #4674
Thanks so much for your reviews, @ViniciusBRodrigues and @diazrenata !

@DominiqueMaucieri - the reviewers have recommended your submission for publication. There are a few more small steps before it gets published. The next step requires me to proofread the manuscript. I anticipate completing that within a few days. I'll comment here again once I've done so. Thanks again!

[2022-10-05 02:26] TomKellyGenetics commented on #4727
@prashjha apologies I am not available to review at this time. @szhorvat best of luck for your submission.

[2022-10-05 06:37] MaximLippeveld commented on #4720
Ok, thanks for clarifying. Yes, it would be nice if this is reflected in the manuscript. Perhaps you could add in the Design & Implementation section that implementations for ntHash, Multi-index Bloom filter and Indexlr were adapted from previously existing work. Other than that, I have no further remarks!

[2022-10-05 07:06] debruine commented on #4707
I’m sorry I got swamped with work and am running late. I’ll start my review in this branch and aim to complete by Monday.

[2022-10-05 07:39] ajstewartlang commented on #4707
Sure - I'll set that as the review branch now.

[2022-10-05 07:39] ajstewartlang commented on #4707
@editorialbot set joss-fixes-0.2.4.9000 as branch

[2022-10-05 07:53] Matthew-Jennings commented on #4555
Hi @osorensen,

We are just [completing a patch to include most of the authors ORCIDs in the paper](https://github.com/pymedphys/pymedphys/pull/1749). I expect that we'll have v0.39.1 archived on Zenodo archive by tomorrow.

[2022-10-05 07:53] lucaferranti commented on #4722
Apologies for the huge delay, pretty busy period. I have now allocated Saturday 8th morning (European time) to this.

Small side-comment: when I previously reviewed to JOSS, I was put as assignee on the review issue. This was very helpful, because I generally start and end my workday by checking what is assigned to me on github and so I did not forget about it (it also made finding the issue easie

[2022-10-05 08:03] pdebuyl commented on #4649
Thanks for the reply @StanczakDominik . As for the other invited reviewer, consider unsubscribing to this issue to avoid more notifications in the future.

[2022-10-05 08:27] svchb commented on #4679
@Shreyas911 I was on vacation. I will continue my review later today.

[2022-10-05 08:28] svchb commented on #4679
@editorialbot generate pdf

[2022-10-05 09:24] OllyK commented on #4691
That's brilliant, thanks @osorensen ! I hope to resolve those issues today and will update you.

[2022-10-05 09:55] mstimberg commented on #4706
Hi @ZeitgeberH, thanks for the changes, everything looks good from my side now.

@jmschrei I am happy to recommend the software/article for acceptance.

[2022-10-05 10:19] cprudhom commented on #4708
@editorialbot generate pdf

[2022-10-05 10:22] cprudhom commented on #4708
I just pushed a new version of the article, with (mainly) a new paragraph on industrial applications.
I also conclude the `Features and Functionality` paragraph with few words on other Java solvers (but to be clear, I'm not really comfortable with this). I though it was easier for me to write this here instead of `Statement of need` because it mentioned concepts/functionalities presented after.

B

[2022-10-05 11:21] OllyK commented on #4691
@osorensen  Have updated the paper with the requested changes and closed the issues as you may have seen.  Best wishes, OllyK

[2022-10-05 11:44] osorensen commented on #4691
@editorialbot generate pdf

[2022-10-05 11:49] osorensen commented on #4691
@editorialbot recommend-accept

[2022-10-05 12:35] IndrajeetPatil commented on #4684
@osorensen I have checked the final proofs and everything looks good to me.

Let me know if there is anything else that I need to do. Thanks.

[2022-10-05 14:01] OlgerSiebinga commented on #4250
Hi All,
A quick update from our side. We have updated JOAN to support Carla 0.9.13. This new version of JOAN (v1.2.0) is currently on the develop branch waiting for this review to finish before we merge it in the main branch. This update to Carla 0.9.13 means that the installation procedure does no longer depend on visual studio 2017. Which should make installation a bit easier.

Are there any upd

[2022-10-05 14:15] galessiorob commented on #4816
@editorialbot add @ziotom78 as reviewer

[2022-10-05 14:40] oliviaguest commented on #4600
@editorialbot generate pdf

[2022-10-05 14:52] jmschrei commented on #4706
Great, thanks for your efforts @mstimberg !

@janfreyberg you have one item left on the checklist to mark off. Do you think that's been sufficiently addressed?

[2022-10-05 16:10] fabian-s commented on #4773
hi @mcavs, thank you for filling out the review checklist.

Please help @fatmasevinck adress the problems you have identified by adding some more specific comments on what's missing (and how to fix them, if you have ideas), preferably by opening corresponding review issues or pull requests at https://github.com/fatmasevinck/enetLTS/issues and linking them back to this issue by including See openjo

[2022-10-05 16:10] fabian-s commented on #4773
@fatmasevinck
please start adressing the problems pointed out by the reviewers as soon as possible - what is your timeframe for doing so?

[2022-10-05 16:33] cprudhom commented on #4708
Thinking twice, I'm not satisfied with the comparison with the (two) other solvers.
Even if I could have made it deeper, it certainly requires a fair comparison with other CSP solvers, Java or not, with a commercial licence or not. But, I believe this is out of the scope.
What do you think?

[2022-10-05 16:44] janfreyberg commented on #4706
Yes, sorry - these were addressed. Thanks @ZeitgeberH and @jmschrei, looking forward to seeing it published :)

[2022-10-05 16:51] jmschrei commented on #4706
@editorialbot check references

[2022-10-05 17:01] vitorsr commented on #4722
Hi @danielskatz, this is a somewhat large project and I am carefully
reviewing it piecewise as time allows. Please let me know if there is any
urgency.

On Wed, Oct 5, 2022 at 4:53 AM Luca Ferranti ***@***.***>
wrote:

[2022-10-05 17:29] rkurchin commented on #4697
@editorialbot add @mkhorton as reviewer

[2022-10-05 17:31] rkurchin commented on #4697
@editorialbot start review

[2022-10-05 17:31] editorialbot opened #4817 "[REVIEW]: ShakeNBreak: Navigating the defect configurational landscape"
**Submitting author:** @ireaml (<a href="http://orcid.org/0000-0001-7651-0814">Irea Mosquera-Lois</a>)
**Repository:** https://github.com/SMTG-UCL/ShakeNBreak
**Branch with paper.md** (empty if default branch):
**Version:** 22.11.6
**Editor:** @rkurchin
**Reviewers:** @obaica, @mkhorton
**Archive:** 10.5281/zenodo.7377173

## Status

[![status](https://joss.theoj.org/papers/6545bcc1a0439b16360ace6

[2022-10-05 17:31] #4697 closed

[2022-10-05 17:34] rkurchin commented on #4694
(No worries! I cleaned up the comment history a bit for readability 😉)

[2022-10-05 17:43] ZeitgeberH commented on #4706
@jmschrei I just published current version on [Zenodo](https://zenodo.org/record/7149877) with DOI:
10.5281/zenodo.7149877

[2022-10-05 17:45] pibion commented on #3665
@editorialbot assign @chrisrogers1234 as reviewer

[2022-10-05 17:45] pibion commented on #3665
@editorialbot commands

[2022-10-05 17:46] pibion commented on #3665
@editorialbot add @chrisrogers1234 as reviewer

[2022-10-05 17:48] pibion commented on #3665
@chrisrogers1234 welcome!  I'm going to go ahead and start this review.  We'll be joined by a second reviewer shortly, but we don't need to wait to move forward.

[2022-10-05 17:48] pibion commented on #3665
@editorialbot start review

[2022-10-05 17:48] editorialbot opened #4818 "[REVIEW]: cppTPSA/pyTPSA: a C++/Python package for truncated power series algebra"
**Submitting author:** @zhanghe9704 (<a href="http://orcid.org/0000-0001-7701-4118">He Zhang</a>)
**Repository:** https://github.com/zhanghe9704/tpsa
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @pibion
**Reviewers:** @dtabell, @chrisrogers1234
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/1fa756415c650531cdfd292233b4cc8d/status.sv