[2022-02-07 08:46] mefuller commented on #4051
I have completed my review and recommend the paper for acceptance

[2022-02-07 08:56] Nikoleta-v3 commented on #4112
Hey @thelfer! That’s absolutely fine on my end 😄  I will assign you as a reviewer now – thank you for your time!

[2022-02-07 08:58] Nikoleta-v3 commented on #4112
@whedon add @thelfer  as reviewer

[2022-02-07 08:58] whedon commented on #4112
OK, @thelfer  is now a reviewer

[2022-02-07 08:59] Nikoleta-v3 commented on #4112
@whedon start review

[2022-02-07 08:59] whedon opened #4135 "[REVIEW]: NGSTrefftz: Add-on to NGSolve for Trefftz methods"
**Submitting author:** @PaulSt (<a href="http://orcid.org/0000-0001-5073-3366">Paul Stocker</a>)
**Repository:** https://github.com/PaulSt/NGSTrefftz
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** @Nikoleta-v3
**Reviewers:** @mscroggs, @thelfer
**Archive:** 10.5281/zenodo.6394628

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2022-02-07 08:59] whedon commented on #4112
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4135.

[2022-02-07 08:59] #4112 closed

[2022-02-07 08:59] whedon commented on #4135
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mscroggs, @thelfer  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2022-02-07 08:59] whedon commented on #4135
Wordcount for `paper.md` is 546

[2022-02-07 08:59] whedon commented on #4135
[code]

[2022-02-07 08:59] whedon commented on #4135
[code]

[2022-02-07 09:00] whedon commented on #4135
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04135/joss.04135/10.21105.joss.04135.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04135/joss.04135/10.21105.joss.04135.pdf) :page_facing_up: :point_left:

[2022-02-07 09:01] Nikoleta-v3 commented on #4135
👋🏼  @PaulSt @mscroggs & @thelfer this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements 🔝 As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2022-02-07 09:04] leonweber commented on #4002
Hi @majensen , I can review this work

[2022-02-07 09:07] eloisabentivegna commented on #2555
Dear @aaron-bray and @rclipp, I have just finished reviewing the current paper draft.

Could you possibly change the author format to adhere to the JOSS standard (https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)? In particular, please remove the titles after some of the authors’ names.

Please also address the missing DOIs in the bibliography. Some suggestions

[2022-02-07 09:21] mishioo commented on #4127
Understood, thanks for the update. Can't wait for the review to start, I'm very excited about this submission!

[2022-02-07 10:05] timtroendle commented on #3596
@whedon generate pdf from branch joss-paper

[2022-02-07 10:06] timtroendle commented on #3596
@whedon check references from branch joss-paper

[2022-02-07 10:06] whedon commented on #3596
[code]

[2022-02-07 10:08] timtroendle commented on #3596
@whedon set 10.5281/zenodo.5989170 as archive

[2022-02-07 10:08] whedon commented on #3596
OK. <a href="https://doi.org/10.5281/zenodo.5989170" target="_blank">10.5281/zenodo.5989170</a> is the archive.

[2022-02-07 10:09] timtroendle commented on #3596
@whedon set v1.1.2 as version

[2022-02-07 10:10] timtroendle commented on #3596
Thanks @nick-gorman. It all looks good and I will now recommend your submission for acceptance.

[2022-02-07 10:10] timtroendle commented on #3596
@whedon recommend-accept

[2022-02-07 10:10] whedon commented on #3596
[code]

[2022-02-07 10:11] whedon commented on #3596
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2932

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2932, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-07 10:11] whedon commented on #3596
[code]

[2022-02-07 10:25] fabian-s commented on #3780
@ArkajyotiSaha please let us know about your progress

[2022-02-07 10:34] joewandy commented on #3990
Thank you both reviewers. It's certainly not an easy task going through our codebase, and on behalf of the whole ViMMS team, I'd like to say we really appreciate your effort.

@csoneson can I confirm that we could start working on addressing the issues raised by the reviewers? I'm not familiar with the procedure here, so thanks a lot!

[2022-02-07 10:38] reneraab commented on #4101
I have completed my review as well and agree with @inpefess! Thank you for your work on this very useful package!

[2022-02-07 10:39] csoneson commented on #3990
@joewandy - yes, that would be great! Feel free to discuss either in this issue or in the respective issues opened in your repository (perhaps easier), and please let us know when you are ready for the reviewers to take another look, or if you have any questions. Thanks!

[2022-02-07 10:59] Borda commented on #4101
@richrobe could we kindly ask you for your review? Thank you :rabbit:

[2022-02-07 11:29] tiagoseq commented on #3974
@gdetor
- During this week I'll provide the documentation for the auxiliary functions and the functors present in the SolveStruct.jl and others that might need more insights and explanation.
- Regarding the contributors to the package, (until now) I was the one responsible for writing it. But I'll specify that in the README file as you suggested.
- Yes, I'll write the community guidelines.

The ne

[2022-02-07 11:29] tiagoseq commented on #3974
@whedon generate pdf

[2022-02-07 11:30] whedon commented on #3974
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03974/joss.03974/10.21105.joss.03974.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03974/joss.03974/10.21105.joss.03974.pdf) :page_facing_up: :point_left:

[2022-02-07 12:18] sara-02 commented on #4002
@majensen I am available to hrlp post 10th-Feb to help, but it feels like @leonweber would be a better fit and he is willing to review. If no one picks up I will be happy to help.

[2022-02-07 13:30] szhorvat commented on #3968
Here's the gist of my opinion:

The package shows good promise and I certainly hope that it will be published in JOSS _eventually_. However, the quality needs to be improved before then. I am not sure how much times JOSS is willing to give authors to make changes. The reason why I recommended later resubmission was to avoid putting time pressure on all those involved (especially the authors).

I s

[2022-02-07 13:53] jstse commented on #4014
We are almost complete with the majority of the changes.  I have issued a pull request this morning to the code base and double checking the changes before merging.  I will post an detailed update and regernerate the paper when the merge has been complete.

[2022-02-07 14:34] majensen commented on #4002
Thanks @leonweber!

[2022-02-07 14:35] majensen commented on #4002
@sara-02 very much appreciated. I will assign leonweber and come back to you on the next one.

[2022-02-07 14:36] majensen commented on #4002
@whedon add @leonweber as reviewer

[2022-02-07 14:36] whedon commented on #4002
OK, @leonweber is now a reviewer

[2022-02-07 14:37] whedon opened #4136 "[REVIEW]: PyBioPAX: biological pathway exchange in Python"
**Submitting author:** @bgyori (<a href="http://orcid.org/0000-0001-9439-5346">Benjamin M. Gyori</a>)
**Repository:** https://github.com/indralab/pybiopax
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.1
**Editor:** @majensen
**Reviewers:** @dhimmel, @leonweber
**Archive:** 10.5281/zenodo.6331584

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2022-02-07 14:37] whedon commented on #4136
Wordcount for `paper.md` is 1074

[2022-02-07 14:37] whedon commented on #4136
[code]

[2022-02-07 14:37] whedon commented on #4136
[code]

[2022-02-07 14:38] majensen commented on #4002
@dhimmel @leonweber @bgyori please join the review proper at issue #4136. Thanks

[2022-02-07 14:39] martinmodrak commented on #2708
Sorry for the delay on my side. I finally got to review the changes made.

I still don't think a change to the underlying MCMC method is necessary/recommended for JOSS acceptance, but I think the current version of the package sets the users up for failure in several ways, neither of which was fixed by the update (which seems to have changed little beyond the JOSS paper itself):

1) The potential

[2022-02-07 14:47] MiftariB commented on #4110
Dear @fraukewiese,

In case none of the reviewers respond, we went through the list of JOSS reviewers and think that brynpickering, timtroendle, fneum and sevberg could be potential reviewers for the submission.

Regards,

Miftari B

[2022-02-07 14:52] matbesancon commented on #4110
Dear @fraukewiese, thank you for reaching out, I sadly won't be able to review this paper

[2022-02-07 15:01] danielskatz commented on #4120
👋 @oscarhiggott and @pan-pavel - this is just a quick check-in here a week into the process.

@oscarhiggott, it looks like you haven't yet accepted [the GitHub invitation](https://github.com/openjournals/joss-reviews/invitations) to the review process. Please do when you have a minute, as described in the first two comments in this issue.

@pan-pavel - thanks for starting your review, checking-off

[2022-02-07 15:02] danielskatz commented on #4079
@kylebeggs & @AustinTSchaffer - how are things going in your reviews?  Are there any problems I can help with?

[2022-02-07 15:05] danielskatz commented on #3967
Hi - I'm just checking in on this review.

@bmagyar - it doesn't look like you've gotten started on your checklist.  How are things going?

@SeungBack - thanks for your progress so far.

@liquidcronos - thanks for responding to issues/comments

Let me know if there are any problems I can help with.

[2022-02-07 15:07] danielskatz commented on #3996
@fredstro - in the meantime, are there other items in your checklist that you can check off, or raise issues about if you can't check them off?

[2022-02-07 15:08] danielskatz commented on #4062
@jhancock4d - I note you didn't check off the license item - can you?  Or is there a problem?

[2022-02-07 15:08] danielskatz commented on #4062
@lrasmus - It doesn't look like you've gotten started on your checklist. Are there any problems I can help with?

[2022-02-07 15:11] danielskatz commented on #4062
@jhancock4d - can you say a bit more? Is this something where you are unsure about what is needed, or where you know what's needed and are unsure if it's being met?  Is https://joss.readthedocs.io/en/latest/review_criteria.html#tests helpful?

[2022-02-07 15:19] bmagyar commented on #3967
Hey guys, sorry it took so long but life got in the way... Will be working on the review now

[2022-02-07 15:41] diehlpk commented on #4115
I would say mention other frameworks with GPU support would be a good addition. Maybe discuss the supported hardware and explain why this framework is different.

[2022-02-07 15:57] rkurchin commented on #3727
@shahmoradi, are you okay to accept this?

[2022-02-07 15:59] rkurchin commented on #4104
@fanchercm, have you had a chance to look at the issues @andyfaff opened?

@sangpham171, reminder to continue working on your checklist!

[2022-02-07 16:02] rkurchin commented on #4042
👋 @yhtang, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-07 16:43] jedbrown commented on #4125
@whedon set v4.2.2 as version

[2022-02-07 16:44] jedbrown commented on #4125
Thanks, Luke. It's common that there are updates during review and we'll set the version when it's time to archive for acceptance.

[2022-02-07 16:52] chchch commented on #4022
Ok, I've updated the joss-paper branch.

[2022-02-07 17:18] rclipp commented on #2555
@eloisabentivegna I have updated the authors, added the DOIs that I was able to access, and made the requested paper modifications. We are working on regenerating the figures now. Thanks.

[2022-02-07 17:33] kylebeggs commented on #4079
@danielskatz I am swamped with work right now. I will be able to get to it next week. If that is too long then we may have to find another reviewer. Apologies.

[2022-02-07 17:50] danielskatz commented on #4079
That's fine - I'm just checking in to make sure it doesn't get lost...

[2022-02-07 17:52] Viech commented on #3915
Forgot to mention @melissawm on this ↑

[2022-02-07 18:12] sangpham171 commented on #4104
@rkurchin Hello, I will find my time to finish the review

[2022-02-07 18:15] fanchercm commented on #4104
I have started looking at the issues opened by @andyfaff<https://github.com/andyfaff>. I created at branch https://github.com/neutrons/PyRS/tree/JOSS_ISSUE that has corrected details about installing and using the pyrs code.

On Feb 7, 2022, at 1:12 PM, sangpham171 ***@***.******@***.***>> wrote:

@rkurchin<https://github.com/rkurchin> Hello, I will find my time to finish the review

—
Reply to th

[2022-02-07 19:46] shahmoradi commented on #3727
Looks good to me. Thank you.

[2022-02-07 20:47] will-rowe commented on #4007
Hi @shenwei356 - would you be interested in reviewing this JOSS submission?

[2022-02-07 20:50] richrobe commented on #4101
Yes – I will complete my review upon the end of the week!

[2022-02-07 21:12] ArkajyotiSaha commented on #3780
@fabian-s I completed my edits and sent them to my coauthors for comments. I am waiting to hear back from them. I have also sent them a reminder. Hope to submit the final version by end of the week.

[2022-02-07 21:26] rkurchin commented on #3727
Great, so @ljakoster, once the couple last things above are addressed, this is ready to rock! 🚀

[2022-02-07 21:31] Kevin-Mattheus-Moerman commented on #4116
@taoliu032 I have just `waitlisted` this submission since none of the editors in the bioinformatics domain are currently available. We will assign an editor once one becomes available.

[2022-02-07 21:36] Kevin-Mattheus-Moerman commented on #4089
@wojdyr I have just `waitlisted` this submission since none of the editors in domains relevant to this submission (e.g. chemistry, bioinformatics) are currently available. We will assign an editor once one becomes available.

[2022-02-07 21:37] whedon opened #4137 "[PRE REVIEW]: CAMML: an R package for multi-label cell typing of single cell RNA-sequencing data"
**Submitting author:** @schiebout (<a href="http://orcid.org/0000-0002-4830-8237">Courtney Schiebout</a>)
**Repository:** <a href="https://github.com/schiebout/CAMML" target ="_blank">https://github.com/schiebout/CAMML</a>
**Version:** v.0.1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2022-02-07 21:37] whedon commented on #4137
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-07 21:37] whedon commented on #4137
Wordcount for `paper.md` is 1157

[2022-02-07 21:37] whedon commented on #4137
[code]

[2022-02-07 21:37] whedon commented on #4137
[code]

[2022-02-07 21:37] whedon commented on #4137
Failed to discover a valid open source license.

[2022-02-07 21:38] whedon commented on #4137
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04137/joss.04137/10.21105.joss.04137.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04137/joss.04137/10.21105.joss.04137.pdf) :page_facing_up: :point_left:

[2022-02-07 21:40] Kevin-Mattheus-Moerman commented on #4116
@whedon invite @csoneson as editor

@csoneson do you think you'd be able to help edit this submission?

[2022-02-07 21:40] whedon commented on #4116
@csoneson has been invited to edit this submission.

[2022-02-07 21:41] taoliu032 commented on #4116
@Kevin-Mattheus-Moerman Thank you very much! I was just wondering today if I should follow up :)

[2022-02-07 21:43] Kevin-Mattheus-Moerman commented on #4089
@whedon invite @kellyrowland as editor

@kellyrowland do you think you could edit this submission?

[2022-02-07 21:43] whedon commented on #4089
@kellyrowland has been invited to edit this submission.

[2022-02-07 21:45] oscarhiggott commented on #4120
Hi @danielskatz, I just accepted the GitHub invitation but I still can't seem to edit the checklist for some reason, do you know why that is? Thanks!

[2022-02-07 21:47] Kevin-Mattheus-Moerman commented on #4137
@schiebout I have just flagged this submission for additional scope review by the editorial board. In particular we need to review if this work complies with our criteria around ["substantial scholarly effort"](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). The additional scope review will take approximately 2 weeks to complete.

[2022-02-07 21:53] hayesall commented on #3465
The DOI/zenodo probably need attention too, the link from earlier still isn't working.

[2022-02-07 21:53] danielskatz commented on #4120
I'm not sure. One possibility is that you have multiple github accounts.  Another is that something just went wrong, so we can try again

[2022-02-07 21:53] danielskatz commented on #4120
@whedon re-invite @oscarhiggott as reviewer

[2022-02-07 21:54] whedon commented on #4120
OK, the reviewer has been re-invited.

@oscarhiggott please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-02-07 21:56] oscarhiggott commented on #4120
Great, thanks @danielskatz, all working now

[2022-02-07 22:01] alexrockhill commented on #3897
Just checking in on the status of this, thanks

[2022-02-07 22:08] diehlpk commented on #3465
@whedon set v1.0 as version

[2022-02-07 22:09] whedon commented on #3465
OK. v1.0 is the version.

[2022-02-07 22:11] diehlpk commented on #3465
@elwinter If I click on the DOI, I see the following error:

![image](https://user-images.githubusercontent.com/3922435/152880712-266943bd-c852-4c74-9384-c84f14c52f84.png)

[2022-02-07 22:28] taylormcd commented on #3997
@Kevin-Mattheus-Moerman
 - The broken link is fixed now.
 - I used ![Documenter.jl](https://github.com/JuliaDocs/Documenter.jl) for the documentation and examples, which is pretty standard practice in Julia.  I would rather not have two versions of the same examples due to the headaches that causes for maintenance.  That being said, using ![Literate.jl](https://github.com/fredrikekre/Literate.jl)

[2022-02-08 00:23] elwinter commented on #3465
Ok checking that now.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Patrick Diehl ***@***.***>
Sent: Monday, February 7, 2022 5:11:20 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: nnde: A Python package for solving differential equations using neural networ

[2022-02-08 00:35] elwinter commented on #3465
OK try again when you have a chance. I had never used Zenodo before. My
file was there, and the URI was the same, but I apparently missed another
button that said "Publish".

Eric

On Mon, Feb 7, 2022 at 7:23 PM Eric Winter ***@***.***> wrote:

[2022-02-08 00:38] kellyrowland commented on #4089
Hi @Kevin-Mattheus-Moerman 👋 I can take this on.

[2022-02-08 00:58] whedon commented on #4098
:wave: @seankmartin, please update us on how your review is going (this is an automated reminder).

[2022-02-08 00:58] whedon commented on #4098
:wave: @patrickmineault, please update us on how your review is going (this is an automated reminder).

[2022-02-08 01:08] taless474 commented on #3651
@whedon generate pdf

[2022-02-08 01:08] whedon commented on #3651
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03651/joss.03651/10.21105.joss.03651.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03651/joss.03651/10.21105.joss.03651.pdf) :page_facing_up: :point_left:

[2022-02-08 01:13] taless474 commented on #3651
@whedon check references

[2022-02-08 01:13] whedon commented on #3651
[code]

[2022-02-08 01:14] taless474 commented on #3651
@SamDuffield would you please take care of the missing DOI?

[2022-02-08 02:16] cartemic commented on #3176
Hi @kyleniemeyer, is there anything I should be doing to help keep the ball rolling on this? Thanks!

[2022-02-08 05:28] tcaduser commented on #3898
Version 2.0.1
https://github.com/devsim/devsim/releases/tag/v2.0.1

[10.5281/zenodo.5908666](https://zenodo.org/record/5908666)

Thank you,

Juan

[2022-02-08 05:50] AlphonsG commented on #4080
@whedon generate pdf from branch dev2

[2022-02-08 05:50] whedon commented on #4080
[code]

[2022-02-08 05:51] whedon commented on #4080
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04080/joss.04080/10.21105.joss.04080.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04080/joss.04080/10.21105.joss.04080.pdf) :page_facing_up: :point_left:

[2022-02-08 07:43] ljakoster commented on #3727
Dear All,

great! I would like to thank the reviewers for their patience and input;
the project has greatly improved as a result of it.

@rkurchin: Marten and I are working on this.

best wishes,
Jan Anton
--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsal

[2022-02-08 08:20] matthieuaussal commented on #3965
@mkitti
I see that all the boxes are checked. Thank you very much for your careful review.

@pitsianis
Could you give us a complete list of all the elements to be specified to tick all the boxes please? If possible, we would like to complete this work within the month.

[2022-02-08 08:33] SamDuffield commented on #3651
@whedon check references

[2022-02-08 08:34] whedon commented on #3651
[code]

[2022-02-08 08:47] SamDuffield commented on #3651
@taless474 looks all good now!

[2022-02-08 09:11] Bisaloo commented on #4087
Thanks for your quick answer @tuelwer, I'll ping you again in a couple of weeks if necessary :slightly_smiling_face:

[2022-02-08 09:16] Bisaloo commented on #4123
Hi @peterdekker :wave:, the authors of this submission identified you as a potential review for this submission, would you be able to review this [paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04123/joss.04123/10.21105.joss.04123.pdf) and [python library](https://github.com/Anaphory/lexedata/) for [JOSS](https://joss.readthedocs.io/en/latest/)?

[2022-02-08 10:08] chryswoods commented on #3914
Thanks - we've thought about writing it up, but are unsure where would be a good place to get it published.

We have the connection set up to Zenodo so that an archive and DOI are created every time we make a release. The DOI for 1.6.1 is [10.5281/zenodo.5562738](https://doi.org/10.5281/zenodo.5562738), while the "general" DOI for all releases is [10.5281/zenodo.5562738](https://doi.org/10.5281/ze

[2022-02-08 11:21] Kevin-Mattheus-Moerman commented on #4090
:wave: @galessiorob do you think you can take this one on?

[2022-02-08 11:23] whedon opened #4138 "[PRE REVIEW]: CVtreeMLE: Efficient Estimation of Mixed Exposures using Data Adaptive Decision Trees and Cross-Validated Targeted Maximum Likelihood Estimation in R"
**Submitting author:** @blind-contours (<a href="http://orcid.org/0000-0002-5515-6307">David McCoy</a>)
**Repository:** <a href="https://github.com/blind-contours/CVtreeMLE" target ="_blank">https://github.com/blind-contours/CVtreeMLE</a>
**Version:** v1.0.0
**Editor:** @osorensen
**Reviewers:** @GaryBAYLOR, @cpalmer718
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :war

[2022-02-08 11:23] whedon commented on #4138
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-08 11:23] whedon commented on #4138
Wordcount for `paper.md` is 1243

[2022-02-08 11:23] whedon commented on #4138
[code]

[2022-02-08 11:23] whedon commented on #4138
[code]

[2022-02-08 11:24] whedon commented on #4138
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04138/joss.04138/10.21105.joss.04138.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04138/joss.04138/10.21105.joss.04138.pdf) :page_facing_up: :point_left:

[2022-02-08 11:26] whedon opened #4139 "[PRE REVIEW]: HSF as a Future-Proof Solution to Hippocampal Subfields Segmentation in MRI"
**Submitting author:** @clementpoiret (<a href="http://orcid.org/0000-0002-1571-2161">Clément POIRET</a>)
**Repository:** https://github.com/clementpoiret/HSF
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2022-02-08 11:26] whedon commented on #4139
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-08 11:26] whedon commented on #4139
Wordcount for `paper.md` is 1372

[2022-02-08 11:26] whedon commented on #4139
[code]

[2022-02-08 11:26] whedon commented on #4139
[code]

[2022-02-08 11:26] whedon commented on #4139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04139/joss.04139/10.21105.joss.04139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04139/joss.04139/10.21105.joss.04139.pdf) :page_facing_up: :point_left:

[2022-02-08 11:29] Kevin-Mattheus-Moerman commented on #4139
@clementpoiret thanks for this submission. I have just flagged this submission for additional scope assessment by our editorial board. This is common for submissions of this size (see also our requirements around [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)). This scope review should be completed within 2 weeks.

[2022-02-08 11:31] Kevin-Mattheus-Moerman commented on #4138
@blind-contours thanks for this submission. Normally we aim to assign a handling editor at this point. However unfortunately all our editors in the domains relevant to this submission (biostatistics) are currently preoccupied with other submissions. Hence I have just flagged this submission as `waitlisted`. We will assign an editor once one becomes available.

[2022-02-08 12:05] jstse commented on #4014
Hi, The pull request has now been merged and will give a detailed response below:

### Installation
- Removed specific versions of requirements causing issues in installation.  After checking became apparent that we do not need specific versions of these codes. (Waiting on confirmation that this has solved installation issues before closing issue)
- As suggested also cleaned up installation instru

[2022-02-08 12:09] Bisaloo commented on #4123
@whedon add @peterdekker as reviewer

[2022-02-08 12:09] whedon commented on #4123
OK, @peterdekker is now a reviewer

[2022-02-08 12:09] Bisaloo commented on #4123
@whedon start review

[2022-02-08 12:09] whedon opened #4140 "[REVIEW]: Lexedata: A Python toolbox to edit CLDF lexical datasets"
**Submitting author:** @Anaphory (<a href="http://orcid.org/0000-0002-8155-9089">Gereon Kaiping</a>)
**Repository:** <a href="https://github.com/Anaphory/lexedata/" target ="_blank">https://github.com/Anaphory/lexedata/</a>
**Version:** v1.0.0
**Editor:** @Bisaloo
**Reviewer:** @xrotwang, @peterdekker
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2022-02-08 12:09] whedon commented on #4123
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4140.

[2022-02-08 12:10] whedon commented on #4140
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xrotwang, @peterdekker it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2022-02-08 12:10] whedon commented on #4140
Wordcount for `paper.md` is 433

[2022-02-08 12:10] whedon commented on #4140
[code]

[2022-02-08 12:10] whedon commented on #4140
[code]

[2022-02-08 12:10] whedon commented on #4140
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04140/joss.04140/10.21105.joss.04140.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04140/joss.04140/10.21105.joss.04140.pdf) :page_facing_up: :point_left:

[2022-02-08 12:12] Bisaloo commented on #4140
:wave: :wave: :wave: @Anaphory @xrotwang @peterdekker, this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is

[2022-02-08 12:14] Bisaloo commented on #4140
@xrotwang, I saw you already opened some issues in the repository. Thanks for your efficiency! :rocket:

I'll link the issues here for future reference:

https://github.com/Anaphory/lexedata/issues/296
https://github.com/Anaphory/lexedata/issues/297
https://github.com/Anaphory/lexedata/issues/298

[2022-02-08 12:32] magedhelmy1 commented on #4087
Hey @Bisaloo , happy to suggest other names if needed besides the 13 above.

[2022-02-08 13:07] clementpoiret commented on #4139
@Kevin-Mattheus-Moerman thanks for taking the time to process our paper. In the meantime, I remain at your disposal for any additional information request.

[2022-02-08 13:38] Bisaloo commented on #4087
Hi @fepegar :wave:, I see you volunteered to review submissions for JOSS. [This submission](https://github.com/magedhelmy1/capillarydetection), with [the associated pape](https://github.com/openjournals/joss-papers/blob/joss.04087/joss.04087/10.21105.joss.04087.pdf?rgh-link-date=2022-02-04T14%3A15%3A41Z)r, seems to fit quite well with your expertise. Would you be able to review it?

[2022-02-08 13:43] Bisaloo commented on #4087
Hi @michaelberks :wave:, I see you volunteered to review submissions for JOSS. [This submission](https://github.com/magedhelmy1/capillarydetection), with [the associated paper](https://github.com/openjournals/joss-papers/blob/joss.04087/joss.04087/10.21105.joss.04087.pdf?rgh-link-date=2022-02-04T14%3A15%3A41Z), seems to fit quite well with your expertise. Would you be able to review it?

Please no

[2022-02-08 14:14] fboehm commented on #4126
@whedon list reviewers

[2022-02-08 14:15] whedon commented on #4126
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2022-02-08 14:19] fboehm commented on #4126
@itismeghasyam, @slwu89, @ramiromagno - Would you be willing to review this submission to JOSS? We conduct our checklist-driven reviews in Github issues. Thank you for considering this!

[2022-02-08 14:21] psanan commented on #4070
@whedon generate pdf

[2022-02-08 14:22] whedon commented on #4070
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04070/joss.04070/10.21105.joss.04070.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04070/joss.04070/10.21105.joss.04070.pdf) :page_facing_up: :point_left:

[2022-02-08 14:45] whedon commented on #4094
@jni has been invited to edit this submission.

[2022-02-08 15:14] ljakoster commented on #3727
@rkurchin:

I think we have done all the things you requested. We have a doi:
https://doi.org/10.5281/zenodo.6010442
All the changes already were in the latest version (4.29) and we have
created a new version tag: v4.29-JOSS
<https://github.com/kostergroup/SIMsalabim/releases/tag/v4.29-JOSS>.

Thanks for editing the paper; we've modified the text. Please let me know
if we've missed something.

bes

[2022-02-08 15:56] kyleniemeyer commented on #3176
@cartemic ah sorry about that, this fell off my radar screen after struggling to find a second reviewer. I will make one or two more requests, and if I can't find someone else, I'll do the second review myself.

[2022-02-08 16:36] kthyng commented on #3594
Hi @SeascapeScience! You have done a huge favor by being willing to take on this submission after we lost a reviewer. However, we are at the point where we'll need to get this review started, or I can search for a replacement reviewer. How is your availability looking for this review? Thanks!

[2022-02-08 17:10] itismeghasyam commented on #4126
@fboehm I would be happy to review this submission. This is my first time reviewing for JOSS, how/where do I get started?

[2022-02-08 17:34] pmli commented on #4078
@billtubbs No problem, looks good.

[2022-02-08 17:56] lucass-carneiro commented on #4077
Hi @cescalara,

Thank you for your review and comments. They were all very helpful and have improved the quality of the package. Here is a brief list of changes made in the "paper" and "gh-pages" branches to address your comments:

1. Both the documentation and the tests have now their own `Project.toml` and `Manifest.toml` files with their dependencies tracked.
2. I have found no other place in t

[2022-02-08 18:13] rkurchin commented on #3727
@whedon set v4.29-JOSS as version

[2022-02-08 18:13] whedon commented on #3727
OK. v4.29-JOSS is the version.

[2022-02-08 18:13] rkurchin commented on #3727
@whedon set https://doi.org/10.5281/zenodo.6010442 as archive

[2022-02-08 18:13] whedon commented on #3727
OK. <a href="https://doi.org/10.5281/zenodo.6010442" target="_blank">10.5281/zenodo.6010442</a> is the archive.

[2022-02-08 18:14] rkurchin commented on #3727
@whedon generate pdf

[2022-02-08 18:14] whedon commented on #3727
PDF failed to compile for issue #3727 with the following error:
[code]

[2022-02-08 18:15] rkurchin commented on #3727
@whedon generate pdf from branch paper

[2022-02-08 18:15] whedon commented on #3727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: :point_left:

[2022-02-08 18:17] rkurchin commented on #3727
@whedon check references from branch paper

[2022-02-08 18:18] whedon commented on #3727
[code]

[2022-02-08 18:18] whedon commented on #3727
[code]

[2022-02-08 18:20] rkurchin commented on #3727
Dear @ljakoster and reviewers @UTH-Tuan, @shahmoradi, and @roderickmackenzie,

Whew, this review has been a bit of a saga! Thank you all for your continued thoughtfulness, engagement, courtesy, and good faith throughout the process. I think everyone can agree the submission improved substantially (both in functionality and clarity of messaging), which is really the goal and gold standard of JOSS r

[2022-02-08 18:20] rkurchin commented on #3727
@whedon recommend-accept

[2022-02-08 18:20] whedon commented on #3727
[code]

[2022-02-08 18:20] whedon commented on #3727
PDF failed to compile for issue #3727 with the following error:
[code]

[2022-02-08 18:22] rkurchin commented on #3727
@whedon recommend-accept from branch paper

[2022-02-08 18:22] whedon commented on #3727
[code]

[2022-02-08 18:22] whedon commented on #3727
[code]

[2022-02-08 18:22] whedon commented on #3727
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2933

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2933, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-08 18:32] zadehsey commented on #3176
@kyleniemeyer appreciate your invitation. As I find the manuscript outside the area of knowledgeability, I am afraid that I will not be able to provide constructive feedback on the work. Please consider me for future nanoscale transport related work.

[2022-02-08 18:47] slwu89 commented on #4126
@fboehm yes I agree to review this JOSS submission, thanks.

[2022-02-08 20:19] diehlpk commented on #3465
@elwinter One last thing

`nnde`: A Python package for solving differential equations using neural networks

The apostrophes around `nnde`: look strange. Would you mind removing them? You can just change the title without generating a new DOI.

[2022-02-08 20:58] yangbai90 commented on #4051
@whedon commands

[2022-02-08 20:58] whedon commented on #4051
Here are some things you can ask me to do:

[code]

[2022-02-08 20:59] NoraLoose commented on #3947
Thanks @elbeejay! We have finished the last revisions (all tasks in the [JOSS project](https://github.com/ocean-eddy-cpt/gcm-filters/projects/1) are moved to "Done"). So I think we are ready to move on to the final steps.

Before doing so, I would like to make a small request. Between when we started the review and now, Paige Martin (@paigem) has started to work on PR https://github.com/ocean-eddy

[2022-02-08 21:00] whedon commented on #3947
PDF failed to compile for issue #3947 with the following error:
[code]

[2022-02-08 21:03] NoraLoose commented on #3947
@whedon generate pdf

[2022-02-08 21:04] whedon commented on #3947
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: :point_left:

[2022-02-08 21:05] mayrmt commented on #4125
@jedbrown I have started to look into the proposed code etc. Should I kick-off the official review process via `[at]whedon start review` or are there any other steps that have to happen before that?

[2022-02-08 21:08] yangbai90 commented on #4051
@whedon check references

[2022-02-08 21:08] whedon commented on #4051
[code]

[2022-02-08 21:08] yangbai90 commented on #4051
@whedon check repository

[2022-02-08 21:09] whedon commented on #4051
Wordcount for `paper.md` is 1556

[2022-02-08 21:09] whedon commented on #4051
[code]

[2022-02-08 21:09] yangbai90 commented on #4051
@whedon generate pdf

[2022-02-08 21:09] whedon commented on #4051
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04051/joss.04051/10.21105.joss.04051.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04051/joss.04051/10.21105.joss.04051.pdf) :page_facing_up: :point_left:

[2022-02-08 21:12] yangbai90 commented on #4051
I have finished my review part, now it's ready for the next step.

[2022-02-08 21:42] EricaEgg opened #4141 "Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)."

[2022-02-08 21:42] whedon commented on #4141
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-08 21:42] #4141 closed

[2022-02-08 21:50] kellertuer commented on #3866
I hope I finished most of your requests.

1. every application mentioned now also has a reference
2. I link to ManifoldsBase.jl on first occurrence (similar for Manifolds.jl) – but ManifoldsBase.jl does (not yet) have a zenodo DOI - we plan to do that with the next major release, which will also cover an own documentation (independent from Manifolds.jl) but this might still take a while.+

I alrea

[2022-02-08 21:50] kellertuer commented on #3866
@whedon generate pdf from branch joss

[2022-02-08 21:50] whedon commented on #3866
[code]

[2022-02-08 21:51] whedon commented on #3866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: :point_left:

[2022-02-08 21:57] jedbrown commented on #4125
Sure, I'll start it now and add another reviewer when I get replies.

[2022-02-08 21:57] jedbrown commented on #4125
@whedon start review

[2022-02-08 21:57] whedon opened #4142 "[REVIEW]: PyAMG: Algebraic Multigrid Solvers in Python"
**Submitting author:** @lukeolson (<a href="http://orcid.org/0000-0002-5283-6104">Luke Olson</a>)
**Repository:** https://github.com/pyamg/pyamg/
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v4.2.3
**Editor:** @jedbrown
**Reviewers:** @mayrmt, @mattmartineau
**Archive:** 10.5281/zenodo.6463617

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-02-08 21:57] whedon commented on #4125
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4142.

[2022-02-08 21:57] #4125 closed

[2022-02-08 21:57] whedon commented on #4142
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mayrmt it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2022-02-08 21:57] whedon commented on #4142
PDF failed to compile for issue #4142 with the following error:
[code]

[2022-02-08 21:58] whedon commented on #4142
[code]

[2022-02-08 21:58] jedbrown commented on #4142
Hi @mayrmt ! wave Welcome to JOSS and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the PyAMG repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria inst

[2022-02-08 21:59] jedbrown commented on #4142
@whedon generate pdf from branch joss-paper

[2022-02-08 21:59] whedon commented on #4142
[code]

[2022-02-08 22:00] whedon commented on #4142
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04142/joss.04142/10.21105.joss.04142.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04142/joss.04142/10.21105.joss.04142.pdf) :page_facing_up: :point_left:

[2022-02-08 22:06] elwinter commented on #3465
Done. Sorry, missed that when I pasted in the title.

On Tue, Feb 8, 2022 at 3:19 PM Patrick Diehl ***@***.***>
wrote:

[2022-02-08 22:12] diehlpk commented on #3465
@whedon check references

[2022-02-08 22:12] whedon commented on #3465
[code]

[2022-02-08 22:13] diehlpk commented on #3465
@elwinter Now it looks good, and I can recommend the paper for acceptance.

[2022-02-08 22:13] diehlpk commented on #3465
@whedon recommend accept

[2022-02-08 22:13] whedon commented on #3465
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-08 22:14] diehlpk commented on #3465
@whedon commands

[2022-02-08 22:14] whedon commented on #3465
Here are some things you can ask me to do:

[code]

[2022-02-08 22:14] diehlpk commented on #3465
@whedon recommend-accept

[2022-02-08 22:14] whedon commented on #3465
[code]

[2022-02-08 22:14] whedon commented on #3465
[code]

[2022-02-08 22:15] whedon commented on #3465
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2934

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2934, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-08 22:15] diehlpk commented on #3465
@taless474 and @hayesall thanks for your efforts, without you, we can not run JOSS.

[2022-02-08 22:47] cartemic commented on #3176
@kyleniemeyer no worries, I understand that you're very busy. Thanks for continuing the search, and for offering to review if needed!

[2022-02-08 22:56] nasserma commented on #3742
Hi @lucydot , @bonh was able to run all of our tests, please see the thread here,

https://github.com/uw-comphys/opencmp/issues/19

there was an issue with the pytest module's parsing of the --runslow option, which is corrected in our documentation. From my understanding we have addressed all of the reviewers' comments and, with our most recent version, now have two tutorials which demonstrate 3D

[2022-02-08 23:03] fepegar commented on #4087
Please note that this is a somewhat complex submission with several layers. If you want to review only one of these layers (e.g., the python backend but not the react frontend), this is perfectly fine 🙂

Hi, @Bisaloo. Thanks for pinging me. Unfortunately, this topic is not really close to my areas of knowledge. Good luck finding someone!

[2022-02-08 23:15] lrasmus commented on #4062
@danielskatz - I am sorry, this was me not being able to balance priorities w/ projects at work.  Things have cleared up, will work on it now and get done ASAP.  Very sorry for the delays.

[2022-02-08 23:32] taless474 commented on #4101
@whedon check references

[2022-02-08 23:32] whedon commented on #4101
[code]

[2022-02-08 23:33] taless474 commented on #4101
@Borda Would you please take care of the missing DOI?

[2022-02-08 23:37] taless474 commented on #4101
@whedon generate pdf

[2022-02-08 23:38] whedon commented on #4101
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04101/joss.04101/10.21105.joss.04101.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04101/joss.04101/10.21105.joss.04101.pdf) :page_facing_up: :point_left:

[2022-02-08 23:39] elwinter commented on #3465
My thanks as well for your patience.  This was my first time for lot of this.

Take care
Eric

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Patrick Diehl ***@***.***>
Sent: Tuesday, February 8, 2022 5:15:47 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: nnde

[2022-02-09 00:01] Borda commented on #4101
we are already generating DOI for each release since `v0.7.0` with Zenodo as it is referred in [docs](https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content): https://zenodo.org/account/settings/github/repository/PyTorchLightning/metrics
Do you find it sufficient, otherwise I'll sync with @justusschock to complete it :rabbit:

[2022-02-09 00:43] taless474 commented on #3651
The next step is to issue a new tagged release of the software (if changed) and archive it (on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), as explained [here](https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance).
Thank you, @SamDuffield, and thank you @matt-graham and @georgiastuart for all your effort.

[2022-02-09 00:44] danielskatz commented on #4062
@lrasmus - no worries - issues come up for all of us

[2022-02-09 00:53] taless474 commented on #4101
Good! Would you please add the reference for PyTorch too?

[2022-02-09 01:12] taless474 commented on #4101
This link doesn't work for me; says Permission Required. Would you please modify it?

[2022-02-09 01:12] jiweiqi commented on #3176
hi @kyleniemeyer , thanks for your invitation! Detonation is out of my expertise. I would recommend @wenkailiang.

[2022-02-09 01:56] elbeejay commented on #3947
@whedon check references

[2022-02-09 01:56] whedon commented on #3947
[code]

[2022-02-09 01:59] elbeejay commented on #3947
@NoraLoose that all sounds good :+1:

I'm going to give this a closer look over the next few days just to make sure there are no typos and the like in the paper and I will get back to you with next steps shortly.

[2022-02-09 03:26] dpsanders commented on #3866
Thanks, the Zenodo archive I meant is for the software. So I think we're good, thanks.

[2022-02-09 06:35] kellertuer commented on #3866
Supert! I just merged the JOSS branch (it still exists of course to not confuse whedon) and registered that as a new version.

the new DOI including the paper is [10.5281/zenodo.6019027](https://doi.org/10.5281/zenodo.6019027), it includes the paper as well as a script file for the example done in the paper – and this example also recreates the figure if run.

Thanks for all your help :)

[2022-02-09 07:52] eloisabentivegna commented on #3908
Update: I have possibly identified a second reviewer, who will confirm within a few days whether they have capacity to carry out a review shortly.

[2022-02-09 07:59] Borda commented on #4101
I have exported the badge [![DOI](https://zenodo.org/badge/323721661.svg)](https://zenodo.org/badge/latestdoi/323721661), mind it try now? and we add it also to readme

[2022-02-09 08:45] fraukewiese commented on #4110
@matbesancon : Thanks for the reply!

[2022-02-09 08:46] fraukewiese commented on #4110
@MiftariB : Thanks for the suggestions. I try to reach out to the two requested reviewers who have not yet replied by Mail. If I get negative answers, I will come back to your suggestions.

[2022-02-09 08:47] fraukewiese commented on #4131
Yes, I can edit this submission.

[2022-02-09 08:47] fraukewiese commented on #4131
@whedon assign me as editor

[2022-02-09 08:48] whedon commented on #4131
OK, the editor is @fraukewiese

[2022-02-09 08:48] fraukewiese commented on #4131
@DCoppitters : Do you have suggestions for reviewers of our submission?

[2022-02-09 09:06] jbytecode commented on #3991
@jbcaillau could you please update your status? thanks.

[2022-02-09 09:38] whedon commented on #4099
:wave: @lucaferranti , please update us on how your review is going (this is an automated reminder).

[2022-02-09 09:38] whedon commented on #4099
:wave: @Shiming94, please update us on how your review is going (this is an automated reminder).

[2022-02-09 10:09] DCoppitters commented on #4131
Dear @fraukewiese,

Many thanks for editing the submission.
I went through the list of potential reviewers and suggest the following reviewers:
brynpickering
sevberg
fneum
timtroendle

Best regards,

@DCoppitters

[2022-02-09 10:14] justusschock commented on #4101
@taless please have a look on https://github.com/PyTorchLightning/metrics/issues/809 about why the doi on keras is wrongly stated as missing

Sorry, this must have been lost during fixing other review comments. Addressed in https://github.com/PyTorchLightning/metrics/pull/830

[2022-02-09 10:24] Borda commented on #4101
@taless474 it is merged, so shall be fixed now :rabbit:

[2022-02-09 10:48] Assistedevolution commented on #4080
Successfully installed and ran code in the Dev2 branch.
Successfully Tested both in CLI and GUI mode.
Waiting on:
 -Some notes on documentation
 -Some notes on tests
 -Improvements in readability of paper layout

[2022-02-09 11:23] ljakoster commented on #3727
@rkurchin: we have checked the proof and it looks perfect, thanks!
--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Tue, Feb 8, 2022 at 7:23 PM whedon ***@***.***> wrote:

[2022-02-09 11:31] SamDuffield commented on #3651
Archived version v1.3 on Zenodo at  [DOI: 10.5281/zenodo.6023275](https://doi.org/10.5281/zenodo.6023275)

Yes thank you @matt-graham and @georgiastuart for your efforts, and @taless474 for staying on top of things!

[2022-02-09 14:11] BjoernBiltzinger commented on #4017
Hi @christinahedges, I just wanted to ask if there are any updates on the review?

[2022-02-09 15:12] rvhonorato commented on #3950
Done on my part! I don't have the resources right now to test the performance and I've opened some issues about things that could be improved. 🎉

[2022-02-09 15:52] rvhonorato commented on #3950
Fine with me! Probably all needs to be resolved before the review can be finished @richardjgowers?

[2022-02-09 15:58] richardjgowers commented on #3950
Yep that’s the usual process.

On Wed, Feb 9, 2022 at 15:53, Rodrigo V Honorato ***@***.***>
wrote:

[2022-02-09 15:58] antoinevacavant commented on #3920
@whedon generate pdf

[2022-02-09 15:59] whedon commented on #3920
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03920/joss.03920/10.21105.joss.03920.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03920/joss.03920/10.21105.joss.03920.pdf) :page_facing_up: :point_left:

[2022-02-09 17:02] justusschock commented on #4101
@whedon generate pdf

[2022-02-09 17:16] jbcaillau commented on #3991
@tmigot @jbytecode Hi guys, sorry for being unclear on this:
- from my side the review is done and the paper / package ready for JOSS (tests are OK, see post [above](https://github.com/openjournals/joss-reviews/issues/3991#issuecomment-1028413238)
- running the *benchmark* on my usual linux server raises some issues that are, as point by @tmigot, related to my Ipopt install, not to DCI. Closed.

R

[2022-02-09 17:17] cc-a commented on #3824
Thanks for the reminder. I've archived a new release at https://doi.org/10.5281/zenodo.6026417

[2022-02-09 17:27] dpsanders commented on #3866
@whedon set archive as https://doi.org/10.5281/zenodo.6019027

[2022-02-09 17:27] whedon commented on #3866
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-09 17:28] dpsanders commented on #3866
@whedon set https://doi.org/10.5281/zenodo.6019027 as archive

[2022-02-09 17:28] whedon commented on #3866
OK. <a href="https://doi.org/10.5281/zenodo.6019027" target="_blank">10.5281/zenodo.6019027</a> is the archive.

[2022-02-09 17:28] dpsanders commented on #3866
@whedon set 0.3.17 as version

[2022-02-09 17:28] whedon commented on #3866
OK. 0.3.17 is the version.

[2022-02-09 17:28] dpsanders commented on #3866
@whedon dry-accept

[2022-02-09 17:28] whedon commented on #3866
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-09 17:28] dpsanders commented on #3866
@whedon commands

[2022-02-09 17:28] whedon commented on #3866
Here are some things you can ask me to do:

[code]

[2022-02-09 17:29] dpsanders commented on #3866
@whedon recommend-accept

[2022-02-09 17:29] whedon commented on #3866
[code]

[2022-02-09 17:30] whedon commented on #3866
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2935

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2935, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-09 17:52] crvernon commented on #3824
@editorialbot set v2.1.0 as version

[2022-02-09 17:54] whedon commented on #3824
OK. <a href="https://doi.org/10.5281/zenodo.6026417" target="_blank">10.5281/zenodo.6026417</a> is the archive.

[2022-02-09 17:54] crvernon commented on #3824
@whedon set v2.1.0 as version

[2022-02-09 17:54] whedon commented on #3824
OK. v2.1.0 is the version.

[2022-02-09 17:56] crvernon commented on #3824
🎉  @cc-a thanks for putting together a really nice software product! Thanks to @thurber and @acrlakshman for a constructive and timely review!

I am recommending that your submission be accepted. An EIC will review this shortly and confirm final publication if all goes well.

[2022-02-09 17:57] crvernon commented on #3824
@whedon recommend-accept

[2022-02-09 17:57] whedon commented on #3824
PDF failed to compile for issue #3824 with the following error:
[code]

[2022-02-09 17:58] crvernon commented on #3824
@whedon recommend-accept from branch joss

[2022-02-09 17:58] mikemhenry commented on #3950
I'm in the same boat, everything is reviewed and just need the renaming issues resolved, please feel free to ping me if you have any questions!

[2022-02-09 17:58] whedon commented on #3824
[code]

[2022-02-09 17:58] whedon commented on #3824
[code]

[2022-02-09 17:58] whedon commented on #3824
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2936

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2936, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-09 18:03] whedon commented on #4100
:wave: @ptmerz, please update us on how your review is going (this is an automated reminder).

[2022-02-09 18:12] jbytecode commented on #3991
@jbcaillau thank you for the response.
could you please check the corresponding review item in your reviewing list?

After finalizing the task, I will start my editorial stuff.

Thank you!

[2022-02-09 19:22] csoneson commented on #4116
👋🏻 @taoliu032 - I had a quick look at the submission, and I was wondering if you could perhaps quickly clarify a couple of things before we move on:

* The relation to E2EDNA ([repo](https://github.com/InfluenceFunctional/E2EDNA), [paper](https://pubs.acs.org/doi/10.1021/acs.jcim.1c00696)) - admittedly this is not really my field of expertise, but it wasn't totally clear to me. The paper mentions

[2022-02-09 19:37] aaron-bray commented on #2555
I have completed the checklist and used Zenodo

DOI: 10.5281/zenodo.6015024

https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/tags/JOSS

Should be good to go

Let us know what else we can do

[2022-02-09 20:41] xiaohk commented on #4022
Hey @galessiorob, could you please add me as an assignee for this issue? Currently I can't click the checklist :P

Hi @chchch, I have finished my review. This work looks very nice and the software is well-organized. I especially like the documentation page.

My main concern is the potentially inconsistent license for this project (see https://github.com/chchch/sanskrit-alignment/issues/7). I am ok

[2022-02-09 20:55] Bisaloo commented on #4087
Hi @robbisg :wave:, the author has identified you as a potential good reviewer for this submission.

Would you be available to review this [piece of software](https://github.com/magedhelmy1/capillarydetection) and [associated paper](https://github.com/openjournals/joss-papers/blob/joss.04087/joss.04087/10.21105.joss.04087.pdf?rgh-link-date=2022-02-08T23%3A03%3A33Z) for JOSS?

[2022-02-09 21:01] whedon commented on #4022
OK, @xiaohk is now a reviewer

[2022-02-09 21:03] galessiorob commented on #4022
@xiaohk just added you as a reviewer via whedon and assigned you. Please let me know if the issue persists. Thank you so much for your review, I'll run through it in the next coming days.

[2022-02-09 21:03] jbytecode commented on #3991
@whedon check references

[2022-02-09 21:03] galessiorob commented on #4090
@whedon add @galessiorob as editor

[2022-02-09 21:03] whedon commented on #4090
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-09 21:04] galessiorob commented on #4090
@whedon assign @galessiorob as editor

[2022-02-09 21:04] whedon commented on #4090
OK, the editor is @galessiorob

[2022-02-09 21:08] jbytecode commented on #3991
@editorialbot check references

[2022-02-09 21:30] danielskatz commented on #4022
@whedon re-invite @xiaohk as reviewer

this should give you the invitation that you may need to accept to be able to check items in the checklist

[2022-02-09 21:30] whedon commented on #4022
@xiaohk already has access.

[2022-02-09 21:31] danielskatz commented on #4022
never mind :)

[2022-02-09 21:33] lrasmus commented on #4062
Status update - unchecked items are pending responses from open issues in source repo.

[2022-02-09 21:35] danielskatz commented on #3991
@whedon check references from branch joss-paper-branch

[2022-02-09 21:35] whedon commented on #3991
[code]

[2022-02-09 21:36] whedon commented on #3991
[code]

[2022-02-09 21:36] danielskatz commented on #3991
@whedon generate pdf from branch joss-paper-branch

[2022-02-09 21:36] whedon commented on #3991
[code]

[2022-02-09 21:37] whedon commented on #3991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: :point_left:

[2022-02-09 21:54] alexrockhill commented on #3897
Does this PR mean that JOSS publications will be indexed on PubMed now? https://github.com/openjournals/joss-papers/pull/2831

[2022-02-09 22:33] EricaEgg commented on #4051
Great work!
I have completed my review. My only recommendation is that it was not clear in the documentation that LaTeX is required. Please add this to installation instructions.

[2022-02-09 22:39] streeve commented on #4115
@whedon generate pdf from branch joss

[2022-02-09 22:39] whedon commented on #4115
[code]

[2022-02-09 22:40] whedon commented on #4115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04115/joss.04115/10.21105.joss.04115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04115/joss.04115/10.21105.joss.04115.pdf) :page_facing_up: :point_left:

[2022-02-09 22:47] streeve commented on #4115
We've added citations to a couple nice general frameworks and are happy to add further discussion as needed

[2022-02-09 22:52] chchch commented on #4022
Hmm, I'm actually not so clear about the difference between licensing text and software — is it better to use a software license to cover documentation as well?

[2022-02-09 23:04] xiaohk commented on #4022
A fix might be changing "this work" to "this documentation" in the documentation, and declare dual-license in your repo (since the documentation is also included in the repo): [Declaring multiple licences in a GitHub project](https://softwareengineering.stackexchange.com/questions/304874/declaring-multiple-licences-in-a-github-project).

[2022-02-09 23:16] kthyng commented on #3596
Hi @nick-gorman! Items for wrapping up:

1. I see your Zenodo archive and looks good, except there seems to be a "2" in the middle of your title?
2. Please check the capitalization in your references. For example, Grozev et al has "australia" uncapitalized. You can preserve capitalization by putting {} around characters or strings in your .bib file.

[2022-02-09 23:29] kthyng commented on #3465
Hi @elwinter! A few items to finish up:

1. version and zenodo look good.
2. Does your co-author want to go by initials only?
3. In your paper, you shouldn't have an additional seciton underneath the affiliations stating your full listing.
4. Your reference section is repeated twice — not sure how that is happening!

[2022-02-09 23:36] kthyng commented on #3727
Hi @ljakoster! A few last items:

1. zenodo and version look good.
2. I recommend putting `` around `SIMsalabim` so it stands out as software.
3. Is Hu et al missing a title?
4. MacKenzie et al seems like it is missing information?
5. Do your references just happen to stop at M? Seems odd.

[2022-02-09 23:56] nick-gorman commented on #3596
Thanks @kthyng

Not sure how that 2 got there, or how I didn't see it. Good tip with the curly brackets.

These issues should be resolved.

[2022-02-10 00:29] jessie-dotson commented on #3496
Recommend fixing use of tibble to avoid compatibility warning.  Documented in https://github.com/Natsiopoulos/ARDL/issues/8#issue-1129251801

[2022-02-10 01:17] wenkailiang commented on #3176
@kyleniemeyer @jiweiqi Sure. I can review this work. Thanks.

[2022-02-10 01:52] kyleniemeyer commented on #3176
@whedon add @wenkailiang as reviewer

[2022-02-10 01:52] whedon commented on #3176
OK, @wenkailiang is now a reviewer

[2022-02-10 01:53] kyleniemeyer commented on #3176
Thanks for the quick responses!

@wenkailiang @mefuller @cartemic I am going to start the review issue now, see you over there

[2022-02-10 01:53] kyleniemeyer commented on #3176
@whedon start review

[2022-02-10 01:53] whedon opened #4143 "[REVIEW]: pypbomb: A Python package with tools for the design of detonation tubes"
**Submitting author:** @cartemic (<a href="http://orcid.org/0000-0002-5559-936X">Mick Carter</a>)
**Repository:** https://github.com/cartemic/pypbomb/
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @kyleniemeyer
**Reviewers:** @mefuller, @wenkailiang
**Archive:** 10.5281/zenodo.6558618

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2022-02-10 01:53] whedon commented on #3176
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4143.

[2022-02-10 01:53] #3176 closed

[2022-02-10 01:53] whedon commented on #4143
Wordcount for `paper.md` is 1318

[2022-02-10 01:53] whedon commented on #4143
[code]

[2022-02-10 01:54] whedon commented on #4143
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04143/joss.04143/10.21105.joss.04143.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04143/joss.04143/10.21105.joss.04143.pdf) :page_facing_up: :point_left:

[2022-02-10 01:54] whedon commented on #4143
[code]

[2022-02-10 01:54] kyleniemeyer commented on #4143
👋 @wenkailiang @mefuller @cartemic

[2022-02-10 02:58] kthyng commented on #3596
@whedon generate pdf

[2022-02-10 02:59] whedon commented on #3596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: :point_left:

[2022-02-10 03:02] kthyng commented on #3596
@whedon generate pdf from branch joss-paper

[2022-02-10 03:02] whedon commented on #3596
[code]

[2022-02-10 03:03] whedon commented on #3596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: :point_left:

[2022-02-10 03:05] kthyng commented on #3596
@nick-gorman ok everything looks good! But, do you want me to  accept this submission from the `joss-paper` branch or were you going to merge it first? Either way is fine, I just need to know which.

[2022-02-10 03:14] kthyng commented on #3866
Hi @kellertuer! a few items:

1. version and zenodo look good ✅
2. paper:
- statement of need, first paragraph: you have a list of references but each are in their own set of parentheses. Put the brackets on the outside of the list, with ";" between, to get one set of parentheses on the outside. [docs](@whedon generate pdf from branch joss-paper)
- functionality, paragraph 2: "see e.g. (..." but t

[2022-02-10 03:19] kthyng commented on #3824
Hi @cc-a! Looks ready to go!!

[2022-02-10 03:19] kthyng commented on #3824
@whedon accept deposit=true from branch joss

[2022-02-10 03:19] whedon commented on #3824
[code]

[2022-02-10 03:19] whedon opened #4144 "[PRE REVIEW]: TrackerControl: Transparency and Choice around App Tracking"
**Submitting author:** @kasnder (<a href="http://orcid.org/0000-0002-7412-8731">Konrad Kollnig</a>)
**Repository:** https://github.com/TrackerControl/tracker-control-android
**Branch with paper.md** (empty if default branch):
**Version:**
**Editor:** @sbenthall
**Reviewers:** @gradvohl, @gcdeshpande
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2022-02-10 03:19] whedon commented on #4144
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-10 03:20] whedon commented on #3824
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1491612941925466113) 👈 🐦🐦🐦

[2022-02-10 03:20] whedon commented on #3824
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2937
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03824](https://doi.org/10.21105/joss.03824)
2. If everything look

[2022-02-10 03:20] whedon commented on #4144
[code]

[2022-02-10 03:20] whedon commented on #4144
PDF failed to compile for issue #4144 with the following error:
[code]

[2022-02-10 03:20] whedon opened #4145 "[PRE REVIEW]: cspp: A Tool for the Correlates of State Policy Project Data"
**Submitting author:** @caleblucas (<a href="http://orcid.org/0000-0003-0049-4680">Caleb Lucas</a>)
**Repository:** <a href="https://github.com/correlatesstatepolicy/cspp/" target ="_blank">https://github.com/correlatesstatepolicy/cspp/</a>
**Version:** 0.3.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2022-02-10 03:20] whedon commented on #4145
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-10 03:20] whedon commented on #4145
Wordcount for `paper.md` is 659

[2022-02-10 03:20] whedon commented on #4145
[code]

[2022-02-10 03:20] whedon opened #4146 "[PRE REVIEW]: hessQuik: Fast Hessian computation of composite functions"
**Submitting author:** @elizabethnewman (<a href="http://orcid.org/0000-0002-6309-7706">Elizabeth Newman</a>)
**Repository:** <a href="https://github.com/elizabethnewman/hessQuik" target ="_blank">https://github.com/elizabethnewman/hessQuik</a>
**Version:** v0.0.1
**Editor:** @jbytecode
**Reviewers:** @GregaVrbancic, @yhtang
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :w

[2022-02-10 03:20] whedon commented on #4145
[code]

[2022-02-10 03:20] whedon commented on #4145
PDF failed to compile for issue #4145 with the following error:
[code]

[2022-02-10 03:20] whedon commented on #4145
Failed to discover a valid open source license.

[2022-02-10 03:20] whedon commented on #4146
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-10 03:20] whedon commented on #4146
Wordcount for `paper.md` is 2045

[2022-02-10 03:20] whedon commented on #4146
[code]

[2022-02-10 03:20] whedon opened #4147 "[PRE REVIEW]: GEMA: An open-source Python library for self-organizing-maps"
**Submitting author:** @albertoceiec (<a href="http://orcid.org/0000-0003-4951-8102">Alberto Nogales</a>)
**Repository:** <a href="https://github.com/ufvceiec/GEMA" target ="_blank">https://github.com/ufvceiec/GEMA</a>
**Version:** v0.4.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2022-02-10 03:20] whedon commented on #4147
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-10 03:20] whedon commented on #4146
[code]

[2022-02-10 03:21] whedon commented on #4147
Wordcount for `paper.md` is 1116

[2022-02-10 03:21] whedon commented on #4147
[code]

[2022-02-10 03:21] whedon commented on #4146
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04146/joss.04146/10.21105.joss.04146.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04146/joss.04146/10.21105.joss.04146.pdf) :page_facing_up: :point_left:

[2022-02-10 03:21] whedon commented on #4147
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04147/joss.04147/10.21105.joss.04147.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04147/joss.04147/10.21105.joss.04147.pdf) :page_facing_up: :point_left:

[2022-02-10 03:21] whedon commented on #4147
[code]

[2022-02-10 03:22] kthyng commented on #3824
Congratulations on your new publication @cc-a!! Many thanks to editor @crvernon and reviewers @thurber and @acrlakshman for your time, hard work, and expertise!

[2022-02-10 03:22] #3824 closed

[2022-02-10 03:22] whedon commented on #3824
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03824/status.svg)](https://doi.org/10.21105/joss.03824)

**We need your help!**

Journal of Open Source Softwa

[2022-02-10 03:22] kthyng commented on #4144
@whedon generate pdf from branch joss

[2022-02-10 03:22] whedon commented on #4144
[code]

[2022-02-10 03:23] whedon commented on #4144
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04144/joss.04144/10.21105.joss.04144.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04144/joss.04144/10.21105.joss.04144.pdf) :page_facing_up: :point_left:

[2022-02-10 03:27] kthyng commented on #4147
Hi @albertoceiec and thanks for your submission! I am going to run a "scope query" meaning that the greater editorial board will be asked to check if this is in scope for JOSS. The main question is the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This process will take 1-2 weeks. Thanks for your patience.

[2022-02-10 03:27] kthyng commented on #4147
@whedon query scope

[2022-02-10 03:27] whedon commented on #4147
Submission flagged for editorial review.

[2022-02-10 03:29] nick-gorman commented on #3596
@kthyng I've just merged joss-paper into master, so should be good to go from master

[2022-02-10 03:29] caleblucas commented on #4145
@whedon commands

[2022-02-10 03:29] whedon commented on #4145
Here are some things you can ask me to do:

[code]

[2022-02-10 03:30] caleblucas commented on #4145
@whedon check repository

[2022-02-10 03:30] whedon commented on #4145
Wordcount for `paper.md` is 663

[2022-02-10 03:30] whedon commented on #4145
[code]

[2022-02-10 03:31] whedon commented on #4145
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04145/joss.04145/10.21105.joss.04145.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04145/joss.04145/10.21105.joss.04145.pdf) :page_facing_up: :point_left:

[2022-02-10 03:34] caleblucas commented on #4145
We licensed it under GNU General Public License v3.0 (8b2f2d82b31edc09331fbbb3789bfe705fa6aac2), but not sure which @whedon command validates that.

[2022-02-10 03:36] caleblucas commented on #4145
@whedon list reviewers

[2022-02-10 03:36] whedon commented on #4145
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2022-02-10 03:40] kthyng commented on #3596
@whedon generate pdf

[2022-02-10 03:40] whedon commented on #3596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: :point_left:

[2022-02-10 03:41] kthyng commented on #3596
@whedon accept deposit=true

[2022-02-10 03:41] whedon commented on #3596
[code]

[2022-02-10 03:42] whedon commented on #3596
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1491618526934749184) 👈 🐦🐦🐦

[2022-02-10 03:42] whedon commented on #3596
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2938
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03596](https://doi.org/10.21105/joss.03596)
2. If everything look

[2022-02-10 03:42] caleblucas commented on #4145
We can recommend @andrewheiss, @josiahparry, and @pmohanty as potential reviewers. Thank you.

[2022-02-10 03:43] kthyng commented on #3596
Congratulations on your new publication @nick-gorman! Many thanks to editor @timtroendle and reviewers @noah80 and @robinroche for your time, hard work, and expertise!!

[2022-02-10 03:43] #3596 closed

[2022-02-10 03:43] whedon commented on #3596
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03596/status.svg)](https://doi.org/10.21105/joss.03596)

**We need your help!**

Journal of Open Source Softwa

[2022-02-10 03:47] nick-gorman commented on #3596
Thank you @noah80 @robinroche @timtroendle and @kthyng!

[2022-02-10 04:50] canyon289 commented on #4113
@jeremiecoullon
I left my initial set of comments. Do know that the issue tickets are biased towards issues. Overall the library is quite easy to navigate and understand given all the code examples. I also am quite excited to see a comprehensive library of SHGMCMC implementations, and the hope that others will contribute more as the field advances.

For the issues reported I see no major deficienc

[2022-02-10 05:08] taless474 commented on #4101
@whedon set 10.5281/zenodo.5963986 as archive

[2022-02-10 05:08] whedon commented on #4101
OK. <a href="https://doi.org/10.5281/zenodo.5963986" target="_blank">10.5281/zenodo.5963986</a> is the archive.

[2022-02-10 05:09] taless474 commented on #4101
@whedon set v0.7.1 as version

[2022-02-10 05:09] whedon commented on #4101
OK. v0.7.1 is the version.

[2022-02-10 05:09] taless474 commented on #4101
@whedon recommend-accept

[2022-02-10 05:10] whedon commented on #4101
[code]

[2022-02-10 05:10] whedon commented on #4101
[code]

[2022-02-10 05:10] whedon commented on #4101
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2939

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2939, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-10 05:22] taless474 commented on #4101
@justusschock just one thing, the zenodo archive has a different title and authors than the paper. Typically, these are the same for a JOSS-related paper. Note that you can manually change the metadata of the zenodo archive.

[2022-02-10 05:28] taless474 commented on #3651
@SamDuffield LGTM! Would you please change the title in zanodo to match the title of your paper? Typically, these are the same for a JOSS-related paper. Note that you can manually change the metadata of the zenodo archive.

[2022-02-10 05:29] taless474 commented on #3651
@whedon set v1.3 as version

[2022-02-10 05:29] whedon commented on #3651
OK. v1.3 is the version.

[2022-02-10 05:35] kellertuer commented on #3866
Thanks for the tipps

* I actually only learned about `;` in cites yesterday and had hoped I changed all places – seem to have missed the one in the fist paragraph - thanks, fixed that
* oh, I was not aware of the inline cite. I adapted the mention cite and all other places where the text was using online cites – they even work with ; - nice!
* sorry for the capitalisation errors, I was a little u

[2022-02-10 05:36] kellertuer commented on #3866
@whedon generate pdf from branch joss

[2022-02-10 05:36] whedon commented on #3866
[code]

[2022-02-10 05:36] whedon commented on #3866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: :point_left:

[2022-02-10 06:51] psanan commented on #4070
@victorsacek, thanks for the submission! @rbeucher has opened several issues on the Mandyoc tracker, which cover the majority of points I wanted to make, at least generally, so I will just add my own comments to those issues where appropriate, and open new ones (limited in scope) if one of those issues is resolved but I still think some further change is required for acceptance.

[2022-02-10 07:09] antoinevacavant commented on #3920
@Kevin-Mattheus-Moerman We have revised/generated the paper, and solved a first issue for the repo. We need more time to solve the second issue (tutorial video, etc.).
Would it be possible to continue the review process despite this unsolved issue?
Thanks.

[2022-02-10 07:18] jbytecode commented on #3991
Dear @tmigot

- [ ] I sent a pull request (https://github.com/JuliaSmoothOptimizers/DCISolver.jl/pull/86) that includes adding a citation and formatting numbers. If you agree with them, please apply.

- [ ] Please re-check the whole paper by means of both language and format.

- [ ] make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readth

[2022-02-10 07:42] Borda commented on #4101
The zendo points to the latest release so it seems that the title will always change according to the release name which is rather dependent on the particular release content... also for having the last edit from https://github.com/PyTorchLightning/metrics/pull/830 in a release we would need to make one more `v0.7.2` which we can then name exactly as the paper title... :rabbit:

[2022-02-10 08:13] whedon commented on #2688
:wave: @garrettj403, please update us on how your review is going (this is an automated reminder).

[2022-02-10 08:13] whedon commented on #2688
:wave: @untzag, please update us on how your review is going (this is an automated reminder).

[2022-02-10 09:30] SamDuffield commented on #3651
Ok should have matching title now!

[2022-02-10 09:33] ljakoster commented on #3727
@whedon <https://github.com/whedon> generate pdf from branch paper

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Thu, Feb 10, 2022 at 12:37 AM Kristen Thyng ***@***.***>
wrote:

[2022-02-10 09:33] whedon commented on #3727
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-10 09:35] kostergroup commented on #3727
@whedon generate pdf from branch paper
--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Thu, Feb 10, 2022 at 10:33 AM Jan Anton Koster ***@***.***>
wrote:

[2022-02-10 09:35] whedon commented on #3727
[code]

[2022-02-10 09:36] whedon commented on #3727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: :point_left:

[2022-02-10 09:58] TomTranter commented on #4051
Thanks all, @EricaEgg I have now updated the documentation

[2022-02-10 10:18] ljakoster commented on #3727
Dear Kristen,

thanks for your email.

2: thanks, done.

3: yes, this was missing; we've added the title, looks like this was a
BibTeX issue.

4: This is a reference to an internet site. We've asked this author (= one
of the reviewers) how they would like to be cited and they have provided
this reference.

5: that is odd, yet correct!

best wishes,

Jan Anton
--
Prof. Dr. L.J.A. (Jan Anton) Koster

[2022-02-10 10:30] arfon commented on #3896
@whedon assign me as editor

[2022-02-10 10:58] arfon commented on #3896
Hi all, I'm going to take over here as editor and help @mjsottile out a little.

@dmikushin, @olekravchenko – are you still able to review this submission for JOSS? If not, I will proceed to identify new reviewer candidates.

[2022-02-10 10:59] jeremiecoullon commented on #4113
@canyon289 : thanks very much for these comments! I will start addressing these today.

[2022-02-10 11:51] arfon commented on #3896
@whedon re-invite @dmikushin as reviewer

[2022-02-10 11:52] whedon commented on #3896
@dmikushin already has access.

[2022-02-10 13:14] Zitzeronion commented on #3728
Dear @dpsanders,
Is it possible to have a status update on the review process?
Some time has passed, which is not a problem at all, but I would like to know if our contribution is still considered for review or not.
And if there is anything I can do to help with the process?

In the meantime, we submitted a manuscript for publication based on the software of this submission.
The preprint can be fo

[2022-02-10 14:04] dpsanders commented on #3728
👋 @Zitzeronion: I apologize for the long delay. Let me get back to you soon.

Do you have suggestions for reviewers who are familiar with lattice Boltzmann, but who are not necessarily members of the Julia community? Perhaps authors of similar packages in other languages?

[2022-02-10 14:31] ajstewartlang commented on #3764
@whedon add @amritagos as reviewer

[2022-02-10 14:52] fraukewiese commented on #4110
simnh and nworbmot declined via Mail.

[2022-02-10 14:56] fboehm commented on #4126
@whedon assign @slwu89 as reviewer

[2022-02-10 14:56] whedon commented on #4126
OK, @slwu89 is now a reviewer

[2022-02-10 14:56] fboehm commented on #4126
@whedon add @itismeghasyam as reviewer

[2022-02-10 14:56] whedon commented on #4126
OK, @itismeghasyam is now a reviewer

[2022-02-10 14:57] fboehm commented on #4126
@whedon start review

[2022-02-10 14:57] whedon opened #4148 "[REVIEW]: SimplyAgree: An R package and jamovi Module for Simplifying Agreement and Reliability Analyses"
**Submitting author:** @arcaldwell49 (<a href="http://orcid.org/0000-0002-4541-6283">Aaron R. Caldwell</a>)
**Repository:** https://github.com/arcaldwell49/SimplyAgree
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.3
**Editor:** @fboehm
**Reviewers:** @slwu89, @itismeghasyam
**Archive:** 10.5281/zenodo.6338611

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2022-02-10 14:57] whedon commented on #4126
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4148.

[2022-02-10 14:57] #4126 closed

[2022-02-10 14:57] whedon commented on #4148
[code]

[2022-02-10 14:57] whedon commented on #4148
[code]

[2022-02-10 14:59] fraukewiese commented on #4131
@andr1976, @sevberg, @brynpickering
– would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [RHEIA: Robust design optimization of r

[2022-02-10 15:00] fboehm commented on #4126
@itismeghasyam and @slwu89 - Thank you for agreeing to review this submission. We've placed the review checklist over in the "review issue", #4148. There, you'll find a checklist for each of you. You'll want to evaluate whether the submission meets each of the criteria in the checklist. If it doesn't satisfy one of the items, please describe why it doesn't in the comment thread. You can also open

[2022-02-10 15:37] jbytecode commented on #3991
your version schema is correct.

it seems the zenodo archive is a little bit outdated as it has been created in December 2021. Does thIs repo include latest changes that you applied during the review?

if its content is outdated, please create a new archive and provide the required information.

if it is okay as it is, please inform me.

[2022-02-10 15:40] tmigot commented on #3991
Ok, I see. I can make a new release to v0.2.6 so it will be up-to-date.

[2022-02-10 16:34] tmigot commented on #3991
Here is the doi of the version 0.2.6: 10.5281/zenodo.6037298

https://zenodo.org/record/6037298#.YgU-X4TMKUk

[2022-02-10 16:44] elbeejay commented on #3947
Hi @NoraLoose, I think the paper reads well. My only minor suggestions are to consider rewording/rephrasing in a few sections (see below) where `ndimage.gaussian_filter` and `GCM-Filters` end up being broken across lines. Up to you, but could be more aesthetically pleasing.

![image](https://user-images.githubusercontent.com/1770513/153453848-86383a16-edaa-4c2b-913e-2a519aebd87e.png)

![image](htt

[2022-02-10 16:49] whedon commented on #3991
[code]

[2022-02-10 16:49] whedon commented on #3991
[code]

[2022-02-10 16:50] jbytecode commented on #3991
@whedon generate pdf from branch joss-paper-branch

[2022-02-10 16:50] whedon commented on #3991
[code]

[2022-02-10 16:50] whedon commented on #3991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: :point_left:

[2022-02-10 16:52] jbytecode commented on #3991
@whedon set as 10.5281/zenodo.6037298 as archive

[2022-02-10 16:52] rkurchin commented on #4042
👋 @csadorf, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-10 16:53] jbytecode commented on #3991
@whedon set v0.2.6 as version

[2022-02-10 16:53] whedon commented on #3991
OK. v0.2.6 is the version.

[2022-02-10 16:56] whedon commented on #3991
[code]

[2022-02-10 16:56] whedon commented on #3991
[code]

[2022-02-10 16:56] whedon commented on #3991
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2940

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2940, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-10 17:06] justusschock commented on #4101
@whedon set v0.7.2 as version

[2022-02-10 17:06] whedon commented on #4101
I'm sorry @justusschock, I'm afraid I can't do that. That's something only editors are allowed to do.

[2022-02-10 18:22] NoraLoose commented on #3947
@whedon generate pdf

[2022-02-10 18:23] whedon commented on #3947
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: :point_left:

[2022-02-10 18:24] terrytangyuan commented on #4102
@whedon assign @njuaplusplus as reviewer

[2022-02-10 18:25] danielskatz commented on #4102
2

[2022-02-10 18:41] majensen commented on #3914
@chryswoods I think this should work.
I will ask @openjournals/joss-eics to please review https://github.com/openjournals/joss-reviews/issues/3914#issuecomment-1032431728 - I would request that we use the existing MetaWards DOI as the doi of record for JOSS, even though it's title doesn't precisely match the paper's.

[2022-02-10 18:45] yhtang commented on #4042
@rkurchin Happy to help!

[2022-02-10 18:48] EricaEgg commented on #4051
Perfect! Looks great. I recommend this paper for acceptance.

[2022-02-10 19:02] rkurchin commented on #4042
@whedon start review

[2022-02-10 19:02] whedon opened #4149 "[REVIEW]: HylleraasMD: Massively parallel hybrid particle-field molecular dynamics in python"
**Submitting author:** @mortele (<a href="http://orcid.org/0000-0003-4244-4876">Morten Ledum</a>)
**Repository:** https://github.com/Cascella-Group-UiO/HyMD
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.9
**Editor:** @rkurchin
**Reviewers:** @blakeaw, @yhtang, @abb58
**Archive:** 10.5281/zenodo.7839898

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-02-10 19:02] whedon commented on #4042
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4149.

[2022-02-10 19:41] lucydot commented on #3898
Thanks @tcaduser that's great 🎈

[2022-02-10 19:42] lucydot commented on #3898
@whedon set 10.5281/zenodo.5908666 as archive

[2022-02-10 19:42] whedon commented on #3898
OK. <a href="https://doi.org/10.5281/zenodo.5908666" target="_blank">10.5281/zenodo.5908666</a> is the archive.

[2022-02-10 19:42] whedon commented on #3898
OK. v2.0.1 is the version.

[2022-02-10 19:42] whedon commented on #3898
[code]

[2022-02-10 19:44] VivianePons commented on #3849
@whedon add @quickbeam123 as reviewer

[2022-02-10 19:44] whedon commented on #3849
OK, @quickbeam123 is now a reviewer

[2022-02-10 19:44] lucydot commented on #3898
I'd like to thank @jgoldfar and @dalonsoa for their reviews 👏

[2022-02-10 19:45] whedon commented on #3898
[code]

[2022-02-10 19:45] whedon commented on #3898
PDF failed to compile for issue #3898 with the following error:
[code]

[2022-02-10 19:47] lucydot commented on #3898
@whedon generate pdf from branch joss

[2022-02-10 19:47] whedon commented on #3898
[code]

[2022-02-10 19:48] whedon commented on #4101
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-10 19:48] whedon commented on #3898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: :point_left:

[2022-02-10 19:48] kthyng commented on #4101
@whedon set 10.5281/zenodo.6037875 as archive

[2022-02-10 19:48] whedon commented on #4101
OK. <a href="https://doi.org/10.5281/zenodo.6037875" target="_blank">10.5281/zenodo.6037875</a> is the archive.

[2022-02-10 19:49] whedon commented on #4101
OK. v0.7.2 is the version.

[2022-02-10 19:50] lucydot commented on #3898
Hello @openjournals/joss-eics I think this paper is ready for the final checks from the EiC team before publication...

[2022-02-10 19:52] yhtang commented on #4149
I found another article on ChemRxiv titled [HylleraasMD: A Domain Decomposition-Based Hybrid Particle-Field Software for Multi-Scale Simulations of Soft Matter](https://doi.org/10.26434/chemrxiv-2021-796ql) from the same group of authors.

It seems that both papers focus on the HylleraasMD software and the ChenRxiv one is more elaborated. Is it meant for a more traditional platform?

Could the aut

[2022-02-10 19:53] yhtang opened #4150 "Substantial scholarly effort: Does this submission meet the scope eligibility described in the JOSS guidelines"

[2022-02-10 19:53] whedon commented on #4150
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-10 19:53] #4150 closed

[2022-02-10 19:54] kthyng commented on #4101
Hi @justusschock! A few items to wrap up:

1. version and archive should be updated now ✅
2. paper:
- paragraph after the code on pg 2.: the references should be inline not parenthetical, so remove the [] around them.
- can you check your references for correct capitalization? I'm guessing Heusel et al should have "nash" capitalized since isn't that a name? You can preserve capitalization by putti

[2022-02-10 20:05] kthyng commented on #3991
Hi @tmigot! Just a few things to wrap up:

1. can you update the metadata in your zenodo archive so the title and author list exactly match your JOSS paper? This gives nice continuity across the snapshot in time the paper represents.
2. Orban et al 2021 in the paper references I think should have "julia" capitalized? You can preserve capitalization with {} around characters in your .bib file. Plea

[2022-02-10 20:15] lucydot commented on #3742
Hello @nasserma  - thank you for the update. @bonh @WilkAndy if you are able to give us updates on your review in the next fortnight or so that would very useful. I'm aware this review has been taking some time, hopefully now we are at a stage where the functionality and central claims of the software can be assessed. If you have any questions or are unavailable to review over the immediate time p

[2022-02-10 20:21] lucydot commented on #3993
@villaa I can see you are currently working on the Geant4 comparison testing (villano-lab/nrCascadeSim#75) - do you have a rough timescale for completion? Your software has travelled so far on the JOSS journey, I want to keep the train moving! 🚂

[2022-02-10 20:24] diehlpk commented on #3390
@HaoZeke, @Kevin-Mattheus-Moerman, @likask some of your comments were addressed by @Muhao-Chen. Would you mind having a look?

[2022-02-10 20:30] terrytangyuan commented on #4102
@njuaplusplus Thanks!

@Kraks Would you be willing to review for this submission?

[2022-02-10 20:33] Kraks commented on #4102
@njuaplusplus @terrytangyuan Thanks for inviting me! Yes, I'm happy to review this submission.

[2022-02-10 20:33] kthyng commented on #3914
Yep that is fine!

[2022-02-10 20:34] whedon commented on #3914
OK. <a href="https://doi.org/10.5281/zenodo.5562738" target="_blank">10.5281/zenodo.5562738</a> is the archive.

[2022-02-10 20:38] kthyng commented on #3866
@whedon generate pdf from branch joss

[2022-02-10 20:38] whedon commented on #3866
[code]

[2022-02-10 20:38] whedon commented on #3866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: :point_left:

[2022-02-10 20:40] whedon commented on #3898
[code]

[2022-02-10 20:41] kellertuer commented on #3866
Hm, that is strange – one point might be, that I merged the joss branch into master before doing the zenodo mentioned above, I can just add them to master as well, but Whedon should take the joss branch as we both called it – but I can also not see the changes in the current article proofs.

[2022-02-10 20:42] kthyng commented on #3898
@tcaduser a few items before we wrap up:
1. version and archive look good ✅
2. Can you check out those missing dois, unless you have already checked previously? They aren't always correct.
3. Check the capitalization in your references. For example, Alonso-Alvarez et al has "python" uncapitalized. You can preserve capitalization with {} around characters in your .bib file.

[2022-02-10 20:44] terrytangyuan commented on #4102
@whedon add @Kraks as reviewer

[2022-02-10 20:44] kthyng commented on #3866
Yeah Zenodo shouldn't impact! Weird. I see you are doing some stuff. Let's try generating again until we can see the changes.

[2022-02-10 20:45] terrytangyuan commented on #4102
@whedon start review

[2022-02-10 20:45] whedon opened #4151 "[REVIEW]: DeepSynth: Scaling Neural Program Synthesis with Distribution-based Search"
**Submitting author:** @Theomat (<a href="http://orcid.org/0000-0002-5043-3221">Théo Matricon</a>)
**Repository:** https://github.com/nathanael-fijalkow/DeepSynth
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @njuaplusplus, @bzz
**Archive:** 10.5281/zenodo.7194579

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-02-10 20:45] whedon commented on #4102
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4151.

[2022-02-10 20:45] #4102 closed

[2022-02-10 20:45] whedon commented on #4151
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @njuaplusplus, @Kraks it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2022-02-10 20:46] terrytangyuan commented on #4102
Thank you! @njuaplusplus and @Kraks. See you at https://github.com/openjournals/joss-reviews/issues/4151.

[2022-02-10 20:46] terrytangyuan commented on #4151
@whedon generate pdf

[2022-02-10 20:46] whedon commented on #4151
PDF failed to compile for issue #4151 with the following error:
[code]

[2022-02-10 20:47] whedon commented on #3866
[code]

[2022-02-10 20:47] whedon commented on #3866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03866/joss.03866/10.21105.joss.03866.pdf) :page_facing_up: :point_left:

[2022-02-10 20:48] whedon commented on #4151
[code]

[2022-02-10 20:48] kellertuer commented on #3866
Maybe Whedon was confused, now the changes are also in the PDF :)

[2022-02-10 20:49] whedon commented on #4151
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04151/joss.04151/10.21105.joss.04151.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04151/joss.04151/10.21105.joss.04151.pdf) :page_facing_up: :point_left:

[2022-02-10 20:52] kthyng commented on #4069
@whedon reject

[2022-02-10 20:52] whedon commented on #4069
Paper rejected.

[2022-02-10 20:58] gerudo7 commented on #3993
@villaa Yes. The Geant4 comparison feature branch is just about ready to be merged back, so I think a few days is a reasonable timescale to incorporate that information into the paper.

[2022-02-10 21:02] kthyng commented on #4094
Hi @kellyrowland! Is this is your wheelhouse at all?

[2022-02-10 21:02] kthyng commented on #4094
@whedon invite @kellyrowland as editor

[2022-02-10 21:02] whedon commented on #4094
@kellyrowland has been invited to edit this submission.

[2022-02-10 21:07] kthyng commented on #4108
@lucydot Now that you've wrapped up another submission.... ready for this one?? :)

[2022-02-10 21:07] kthyng commented on #4108
@whedon invite @lucydot as editor

[2022-02-10 21:07] whedon commented on #4108
@lucydot has been invited to edit this submission.

[2022-02-10 21:10] tcaduser commented on #3898
@whedon generate pdf from branch joss

[2022-02-10 21:11] whedon commented on #3898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: :point_left:

[2022-02-10 21:11] yhtang commented on #4149
@mortele Thanks for the clarification! That's very helpful.

[2022-02-10 21:13] kthyng commented on #4124
Hi @Bisaloo! Is this a reasonable fit for you?

[2022-02-10 21:13] whedon commented on #4124
@Bisaloo has been invited to edit this submission.

[2022-02-10 21:23] kthyng commented on #4138
@KristinaRiemer Would this be an ok fit for you?

[2022-02-10 21:23] kthyng commented on #4138
@whedon invite @KristinaRiemer as editor

[2022-02-10 21:23] whedon commented on #4138
@KristinaRiemer has been invited to edit this submission.

[2022-02-10 21:26] kthyng commented on #4144
@sbenthall would this be a good fit for you?

[2022-02-10 21:30] kthyng commented on #4146
Hi @jbytecode! Is this a reasonable fit for you?

[2022-02-10 21:30] kthyng commented on #4146
@whedon invite @jbytecode as editor

[2022-02-10 21:31] NoraLoose commented on #3947
* version tag: v0.2.3
* archived version: [DOI: 10.5281/zenodo.6039860](https://doi.org/10.5281/zenodo.6039860)

[2022-02-10 21:31] whedon opened #4152 "[PRE REVIEW]: dNami: a framework for solving systems of balance laws using explicit numerical schemes on structured meshes"
**Submitting author:** @etouber (<a href="http://orcid.org/0000-0002-7553-0351">Emile Touber</a>)
**Repository:** <a href="https://github.com/dNamiLab/dNami" target ="_blank">https://github.com/dNamiLab/dNami</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @JamieJQuinn, @mancellin
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2022-02-10 21:31] whedon commented on #4152
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-10 21:32] whedon commented on #4152
Wordcount for `paper.md` is 1584

[2022-02-10 21:32] whedon commented on #4152
[code]

[2022-02-10 21:32] NoraLoose commented on #3947
@whedon generate pdf

To be consistent between zenodo archive and JOSS paper, I changed v0.2 to v0.2.3 in the paper.

[2022-02-10 21:32] whedon commented on #4152
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04152/joss.04152/10.21105.joss.04152.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04152/joss.04152/10.21105.joss.04152.pdf) :page_facing_up: :point_left:

[2022-02-10 21:33] whedon commented on #3947
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: :point_left:

[2022-02-10 21:35] kthyng commented on #3866
Ok, whatever the problem was, seems better now! We can proceed.

[2022-02-10 21:37] kthyng commented on #3866
@whedon accept from branch joss deposit=true

[2022-02-10 21:38] whedon commented on #3866
To recommend a paper to be accepted use `@whedon recommend-accept`

[2022-02-10 21:38] kthyng commented on #3866
@whedon recommend-accept from branch joss

[2022-02-10 21:38] whedon commented on #3866
[code]

[2022-02-10 21:39] whedon commented on #3866
[code]

[2022-02-10 21:39] whedon commented on #3866
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2941

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2941, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-10 21:39] tcaduser commented on #3898
Hello @kthyng ,

In addition, The URL for Lucy Whalley in the left panel does not work correctly in macOS Preview.  It probably needs the `https://` prefix

[2022-02-10 21:41] whedon commented on #3866
[code]

[2022-02-10 21:42] whedon commented on #3866
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1491890401858695168) 👈 🐦🐦🐦

[2022-02-10 21:42] whedon commented on #3866
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2942
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03866](https://doi.org/10.21105/joss.03866)
2. If everything look

[2022-02-10 21:50] kthyng commented on #3866
Congrats on your new publication @kellertuer! Many thanks to editor @dpsanders and reviewers @krystophny and @sweichwald for your time, hard work, and expertise!!

[2022-02-10 21:50] #3866 closed

[2022-02-10 21:51] whedon commented on #3866
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03866/status.svg)](https://doi.org/10.21105/joss.03866)

**We need your help!**

Journal of Open Source Softwa

[2022-02-10 22:10] kellyrowland commented on #4094
Hi @kthyng - this is admittedly a bit out of my core areas of expertise but I think I could take it on.

[2022-02-10 22:13] kthyng commented on #4094
@kellyrowland You can choose — don't feel like you have to!

[2022-02-10 22:18] kellyrowland commented on #4094
🙂 I'll pick it up; part of the benefits of being a JOSS editor is learning new things.

[2022-02-10 22:23] kthyng commented on #4094
@whedon assign @kellyrowland as editor

[2022-02-10 22:23] whedon commented on #4094
OK, the editor is @kellyrowland

[2022-02-10 22:36] whedon opened #4153 "[PRE REVIEW]: PropPy -- Correlated random walk propagation of cosmic rays in magnetic turbulence"
**Submitting author:** @reichherzerp (<a href="http://orcid.org/0000-0003-4513-8241">Patrick Reichherzer</a>)
**Repository:** https://gitlab.ruhr-uni-bochum.de/reichp2y/proppy
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @christinahedges
**Reviewers:** @carmeloevoli, @amitseta90
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:*

[2022-02-10 22:36] whedon commented on #4153
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-10 22:37] whedon commented on #4153
Wordcount for `paper.md` is 2698

[2022-02-10 22:37] whedon commented on #4153
[code]

[2022-02-10 22:37] whedon commented on #4153
[code]

[2022-02-10 22:37] whedon commented on #4153
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04153/joss.04153/10.21105.joss.04153.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04153/joss.04153/10.21105.joss.04153.pdf) :page_facing_up: :point_left:

[2022-02-10 23:23] tmigot commented on #3991
We updated the Zenodo page: https://zenodo.org/record/6040222#.YgWdf4TMKUk
This is a v0.2.6-alpha release as we took the chance to add a CITATION.cff in the repo.

Thanks @kthyng  for the comments.

[2022-02-10 23:57] sara-02 commented on #4146
@jbytecode I am interested in reviewing this.

[2022-02-10 23:58] sara-02 commented on #4130
Not an R person but I am interested in reviewing this. @Kevin-Mattheus-Moerman @bretsw

[2022-02-11 00:01] taless474 commented on #3651
@whedon set 10.5281/zenodo.6023275 as archive

[2022-02-11 00:01] whedon commented on #3651
OK. <a href="https://doi.org/10.5281/zenodo.6023275" target="_blank">10.5281/zenodo.6023275</a> is the archive.

[2022-02-11 00:02] taless474 commented on #3651
@whedon recommend-accept

[2022-02-11 00:02] whedon commented on #3651
[code]

[2022-02-11 00:03] whedon commented on #3651
[code]

[2022-02-11 00:51] stephenwinn16 commented on #4152
@whedon generate pdf

[2022-02-11 00:51] whedon commented on #4152
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04152/joss.04152/10.21105.joss.04152.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04152/joss.04152/10.21105.joss.04152.pdf) :page_facing_up: :point_left:

[2022-02-11 01:13] WilkAndy commented on #3742
I'm kind of pulling my hair out over here in Australia!!    I'm pretty sure i installed and tested the software, but have since got a new computer and am having lots of trouble installing ngsolve.  It's a real beast with the conda version not working, the mac version not working properly with opencmp, and properly testing opencmp being problematic (for me) on windows.

I'm disappointed that the au

[2022-02-11 01:39] prashjha commented on #3897
@whedon generate pdf from branch joss-ecog-gui

[2022-02-11 01:39] whedon commented on #3897
[code]

[2022-02-11 01:40] whedon commented on #3897
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: :point_left:

[2022-02-11 01:44] cartemic commented on #4143
Thanks @wenkailiang and @mefuller for agreeing to review, and @kyleniemeyer for agreeing to edit!

[2022-02-11 02:02] prashjha commented on #3897
Hi @alexrockhill, see if these suggestions make sense for your draft:

- Line 72: it should be "complete analysis and visualization of ..."?
- Lines 87-88, "Python-based libraries for image analysis and requires ..."?
- Lines 88-89, "MNE-Python code base benefits" does not make sense in this sentence.
- Line 102, "is implemented following coding best practices ..."?

After you have updated the dra

[2022-02-11 03:00] stephenwinn16 commented on #4152
@whedon check references

[2022-02-11 03:01] whedon commented on #4152
[code]

[2022-02-11 03:24] elbeejay commented on #3947
@whedon set v0.2.3 as version

[2022-02-11 03:24] whedon commented on #3947
OK. v0.2.3 is the version.

[2022-02-11 03:28] elbeejay commented on #3947
@whedon set 10.5281/zenodo.6039860 as archive

[2022-02-11 03:28] whedon commented on #3947
OK. <a href="https://doi.org/10.5281/zenodo.6039860" target="_blank">10.5281/zenodo.6039860</a> is the archive.

[2022-02-11 03:29] elbeejay commented on #3947
@whedon generate pdf

[2022-02-11 03:29] elbeejay commented on #3947
@whedon check references

[2022-02-11 03:30] whedon commented on #3947
[code]

[2022-02-11 03:30] whedon commented on #3947
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03947/joss.03947/10.21105.joss.03947.pdf) :page_facing_up: :point_left:

[2022-02-11 03:53] elbeejay commented on #3947
Hi @NoraLoose, this looks good to me, I'll be recommending this for publication in JOSS; the final step is just going to involve one of the Editors-in-Chief looking over this review issue and the paper which should happen over the next few days. Thanks again to @AleksiNummelin, @callumrollo, and @isgiddy for volunteering your time and peer reviewing this submission.

[2022-02-11 03:53] elbeejay commented on #3947
@whedon recommend-accept

[2022-02-11 03:53] whedon commented on #3947
[code]

[2022-02-11 03:53] whedon commented on #3947
[code]

[2022-02-11 03:54] whedon commented on #3947
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2944

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2944, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-11 03:55] elbeejay commented on #3947
I'll note for the EiC that looks into this that there is no DOI associated with Dask; the reference used in this paper matches the citation recommended by Dask [here](https://docs.dask.org/en/latest/faq.html#how-do-i-cite-dask).

[2022-02-11 03:56] etouber commented on #4152
Hello, we suggest the following list of reviewers:
akaptano
ashwinvis
mikaem
mancellin
jamiejquinn
rabernat
rajeshrinet

[2022-02-11 04:36] majensen commented on #3914
@whedon set 1.6.1 as version

[2022-02-11 04:36] whedon commented on #3914
OK. 1.6.1 is the version.

[2022-02-11 04:37] majensen commented on #3914
@whedon check references from branch joss

[2022-02-11 04:37] whedon commented on #3914
[code]

[2022-02-11 04:37] whedon commented on #3914
[code]

[2022-02-11 04:38] majensen commented on #3914
@whedon show commands

[2022-02-11 04:38] whedon commented on #3914
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-11 04:38] majensen commented on #3914
@whedon commands

[2022-02-11 04:38] whedon commented on #3914
Here are some things you can ask me to do:

[code]

[2022-02-11 04:39] majensen commented on #3914
@whedon recommend-accept

[2022-02-11 04:39] whedon commented on #3914
[code]

[2022-02-11 04:39] whedon commented on #3914
PDF failed to compile for issue #3914 with the following error:
[code]

[2022-02-11 04:40] majensen commented on #3914
@whedon recommend-accept from branch joss

[2022-02-11 04:40] whedon commented on #3914
[code]

[2022-02-11 04:41] whedon commented on #3914
[code]

[2022-02-11 04:41] whedon commented on #3914
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2945

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2945, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-11 07:11] slayoo commented on #3896
thank you, @arfon; thank you, @mjsottile

[2022-02-11 08:11] eloisabentivegna commented on #2555
Thanks, @aaron-bray!

[2022-02-11 08:12] eloisabentivegna commented on #2555
@whedon generate pdf from branch joss

[2022-02-11 08:12] whedon commented on #2555
[code]

[2022-02-11 08:18] justusschock commented on #4101
Hi @kthyng , Thanks a lot!

With your points you are completely correct and they have been addressed in https://github.com/PyTorchLightning/metrics/pull/836 .

Anything else we need to do on this?

[2022-02-11 08:31] eloisabentivegna commented on #2555
@aaron-bray, I see that you've added a new section with an introduction to the LBM. This looks good to me, but can I quickly ask one of the reviewers (@ianhinder, @gouarin) to double check?

[2022-02-11 08:37] eloisabentivegna commented on #2555
@whedon check references from branch joss

[2022-02-11 08:37] whedon commented on #2555
[code]

[2022-02-11 08:38] whedon commented on #2555
[code]

[2022-02-11 08:46] eloisabentivegna commented on #2555
@aaron-bray, could you also remove the prefix in your DOIs, as per the error messages above? That should fix the problem.

[2022-02-11 09:39] Assistedevolution commented on #4080
Checklist complete on Dev2 branch.
Waiting for addition of instructions to run test added to the readme.
And suggestion of breaking up the paper text in smaller paragraphs

[2022-02-11 10:52] Zitzeronion commented on #3728
👋 @dpsanders: We came up with a few names.

However, I think all of them did not review for JOSS yet.
Some possible reviewers could be:
Mathias Krause (mathias.krause@kit.edu), Max Gaedtke (maximilian.gaedtke@kit.edu), Giorgio Amati (g.amati@cineca.it), Massimo Bernaschi (massimo.bernaschi@cnr.it) or Dominique Derome (dominique.derome@usherbrooke.ca) or Jan Carmeliet (cajan@ethz.ch).
Especially Ma

[2022-02-11 11:35] whedon commented on #4118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04118/joss.04118/10.21105.joss.04118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04118/joss.04118/10.21105.joss.04118.pdf) :page_facing_up: :point_left:

[2022-02-11 11:49] JaroslavHron commented on #4118
Hi @Kevin-Mattheus-Moerman - it seems that i have missed the invitation, and its now expired - could you reinvite me.

[2022-02-11 11:52] Kevin-Mattheus-Moerman commented on #4118
@whedon re-invite @JaroslavHron a reviewer

[2022-02-11 11:52] whedon commented on #4118
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-11 12:14] axel-loewe commented on #4118
Zhu et al. present svFSI, a simulation software for cardiac physiology. It covers multiple cardiac functions (physics): solid mechanics, hemodynamics and apparently cardiac electrophysiology. The effort of developing a software for this challenging coupled problem and making if publicly available is appreciated.

- While there is no `LICENSE` file, there is `Copyright-Simvasscular.txt` which holds

[2022-02-11 12:20] bonh commented on #3742
I get the feeling that you, @nasserma, and your coauthors find me rather annoying to be honest. If so, I am really sorry, but I think it is my duty to be thorough and a little pushy. Sadly, you seldom engage in a discussion with me.

I would like to reopen uw-comphys/opencmp/issues/18 as I am not done with the documentation yet. Same for uw-comphys/opencmp/issues/6 as I was stuck with testing and

[2022-02-11 13:02] nasserma commented on #3742
Sorry that you are having trouble with the installation using Anaconda and MacOS, we will definitely work with the NGSolve developers to try and find out what issues exist and how to fix them. Similarly to you having issues testing on these platforms, we have issues testing on other platforms since we predominantly use some variation of Linux for desktop and high-performance computing.

Regarding

[2022-02-11 13:09] bonh commented on #3742
I started to carefully read the paper. Comments are in https://github.com/uw-comphys/opencmp/issues/22.

[2022-02-11 13:10] nasserma commented on #3742
I am sorry if you get the feeling that I am annoyed with you or am not engaging in conversation. You have to understand, this is a very different peer review process from what I am accustomed to. I am doing my best to adapt to it, but I also must consult with my co-authors before responding, making changes to the code, and revising the manuscript. This takes time, as I am sure you understand.

Reg

[2022-02-11 13:23] aaron-bray commented on #2555
Ok @eloisabentivegna

I updated the DOI's in our bib file

The summary at the beginning has been there
We did tweek some verbiage here and there as needed, but should still be pretty consistent

For Zenodo, it wanted a description field, so I just pasted the summary section in there.

[2022-02-11 13:31] gouarin commented on #2555
@eloisabentivegna, the summary looks good to me.

[2022-02-11 13:44] pdebuyl commented on #4077
Thanks @cescalara for the review so far!

@lucass-carneiro JOSS appreciates to see the best practices for a specific field or language but the choice of camel case vs snake case is not relevant for the review :-)

[2022-02-11 13:45] pdebuyl commented on #4100
Hi @ptmerz and @hannahbrucemacdonald thanks for the review so far!

[2022-02-11 14:00] kostergroup commented on #3727
Dear Kristen,

ah, sorry, we misunderstood. We've changed all mentions of SIMsalabim to
the `` version.

best wishes,
Jan Anton

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Thu, Feb 10, 2022 at 9:0

[2022-02-11 15:45] bmcfee commented on #3934
:wave: @sergioburdisso no pressure, just checking in again to see how things are going.

[2022-02-11 15:56] bmcfee commented on #3934
Great, thanks for the quick response!

[2022-02-11 16:30] jbytecode commented on #4146
@whedon assign me as editor

of course @kthyng, thank you.

[2022-02-11 16:30] whedon commented on #4146
OK, the editor is @jbytecode

[2022-02-11 16:50] csoneson commented on #4116
@whedon assign @csoneson as editor

[2022-02-11 16:50] whedon commented on #4116
OK, the editor is @csoneson

[2022-02-11 16:50] po60nani commented on #4024
**I was able to install it successfully and ran examples following the instructions provided by the authors. Their manuscript is well-written: it explains the need for this package and clearly outlines its structure.**

- _We appreciate the reviewer's acknowledgment of our paper's and package's utility and effectiveness._

**At the end of the manuscript, the authors mention future plans such as GP

[2022-02-11 16:51] csoneson commented on #4116
@taoliu032 Thanks! I'll start by looking for a couple of suitable reviewers for this submission - if you have any suggestions (e.g. from the list in the first comment above), feel free to mention them here.

[2022-02-11 16:56] alexrockhill commented on #3897
Great, here is the archived release https://doi.org/10.5281/zenodo.6047183

[2022-02-11 17:17] mbobra commented on #3331
@whedon remind @ashleychontos @mbobra @danielskatz in 2 weeks

[2022-02-11 17:17] whedon commented on #3331
Reminder set for @ashleychontos @mbobra @danielskatz in 2 weeks

[2022-02-11 17:20] mbobra commented on #3331
@danhey @benjaminpope The submitting author agreed to wrap this up in two weeks. Thank you for all your efforts thus far and I apologize for taking up so much of your volunteer time. Are you two still available to review? Please let me know!

[2022-02-11 17:26] cgrudz commented on #4129
@peanutfun, thanks so much for these useful and detailed suggestions for improvement.  I'll start working through them slowly as I'm also in a somewhat reduced service mode with this project, as I just started a new position.  Cheers!

[2022-02-11 17:27] Nikoleta-v3 commented on #4132
@whedon check references

[2022-02-11 17:27] whedon commented on #4132
[code]

[2022-02-11 17:30] Nikoleta-v3 commented on #4132
Thank you for the suggestions @MaxVortman 👍🏻

Regarding the DOI. My apologies for the unclear message what I meant was can you fix the potential missing/invalid DOIs of your references ⬆️

[2022-02-11 17:34] peanutfun commented on #4129
@cgrudz, no worries, take your time. Then I can also take a more relaxed pace with the review 😇

[2022-02-11 18:00] fboehm commented on #3888
@ha0ye - Thanks for your message. Would it be reasonable for you to review things before March 1, 2022?

Thanks again!

[2022-02-11 18:09] kthyng commented on #3991
@whedon set 10.5281/zenodo.6040222 as archive

[2022-02-11 18:09] whedon commented on #3991
OK. <a href="https://doi.org/10.5281/zenodo.6040222" target="_blank">10.5281/zenodo.6040222</a> is the archive.

[2022-02-11 18:10] kthyng commented on #3991
@whedon set v0.2.6-alpha as version

[2022-02-11 18:10] whedon commented on #3991
OK. v0.2.6-alpha is the version.

[2022-02-11 18:11] elizabethnewman commented on #4146
Dear @jbytecode,

Thank you for your fast response!  Here is a list of potential reviewers:

- jamiehadd
- jdmoorman
- GregaVrbancic
- yhtang

Please let me know if you need any additional information.

[2022-02-11 18:12] kthyng commented on #3991
@whedon generate pdf  from branch joss-paper-branch

[2022-02-11 18:12] whedon commented on #3991
PDF failed to compile for issue #3991 with the following error:
[code]

[2022-02-11 18:16] kthyng commented on #4101
@whedon generate pdf

[2022-02-11 18:16] whedon commented on #4101
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04101/joss.04101/10.21105.joss.04101.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04101/joss.04101/10.21105.joss.04101.pdf) :page_facing_up: :point_left:

[2022-02-11 18:21] kthyng commented on #4101
ok looks good!

[2022-02-11 18:21] kthyng commented on #4101
@whedon accept deposit=true

[2022-02-11 18:21] whedon commented on #4101
[code]

[2022-02-11 18:22] jbytecode commented on #4146
👋👋👋 Dear @jamiehadd  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**hessQuik: Fast Hessian computation of composite functions**". You can find more information at the top of this Github issue (https://github.com/open

[2022-02-11 18:22] whedon commented on #4101
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1492202445358997515) 👈 🐦🐦🐦

[2022-02-11 18:22] whedon commented on #4101
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2946
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.04101](https://doi.org/10.21105/joss.04101)
2. If everything look

[2022-02-11 18:22] jbytecode commented on #4146
👋👋👋 Dear @jdmoorman  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**hessQuik: Fast Hessian computation of composite functions**". You can find more information at the top of this Github issue (https://github.com/open

[2022-02-11 18:24] kthyng commented on #4101
Congratulations on your new publication @justusschock! Many thanks to editor @taless474 and reviewers @inpefess, @richrobe, and @reneraab for your time, hard work, and expertise!!

[2022-02-11 18:24] #4101 closed

[2022-02-11 18:24] whedon commented on #4101
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.04101/status.svg)](https://doi.org/10.21105/joss.04101)

**We need your help!**

Journal of Open Source Softwa

[2022-02-11 18:24] tmigot commented on #3991
@whedon generate pdf from branch joss-paper-branch

[2022-02-11 18:25] kthyng commented on #3991
@whedon generate pdf from branch joss-paper-branch

[2022-02-11 18:25] whedon commented on #3991
[code]

[2022-02-11 18:25] tmigot commented on #3991
@kthyng Sorry, I think there was something strange with the version name on github, should be ok now.

[2022-02-11 18:25] whedon commented on #3991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: :point_left:

[2022-02-11 18:41] jbytecode commented on #3991
@tmigot have you changed anything between the time interval of two pdf generation attempts?

[2022-02-11 19:00] rkurchin commented on #3727
@whedon generate pdf from branch paper

[2022-02-11 19:01] whedon commented on #3727
[code]

[2022-02-11 19:01] whedon commented on #3727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: :point_left:

[2022-02-11 19:02] tmigot commented on #3991
Yes, for some reason the version title was v0.2.6-cff (meaning the one you see on github's interface) while the version name was v0.2.6-alpha. So, I fixed the title to be v0.2.6-alpha.

[2022-02-11 19:09] jbytecode commented on #3991
@kthyng I think we don't need to change the version and the archive DOI, right?

[2022-02-11 19:19] kthyng commented on #3991
@jbytecode my understanding was that @tmigot wanted to incorporate the last few changes into the zenodo archive and also needed that update to change the title/authors. @tmigot did I understand correctly? Which zenodo archive and version do you want associated with your JOSS paper?

[2022-02-11 19:22] kthyng commented on #3898
@whedon check references from branch joss

[2022-02-11 19:22] whedon commented on #3898
[code]

[2022-02-11 19:22] whedon commented on #3898
[code]

[2022-02-11 19:27] kthyng commented on #3898
@openjournals/dev Can you check the links in the produced pdfs? As the author said above, the links for Lucy and for the archive in the left panel of the pdf do not work.

[2022-02-11 19:32] ha0ye commented on #3888
Yup, that will work!

[2022-02-11 19:34] kthyng commented on #3651
Amazing! Looks perfect.

[2022-02-11 19:34] kthyng commented on #3651
@whedon accept deposit=true

[2022-02-11 19:34] whedon commented on #3651
[code]

[2022-02-11 19:35] whedon commented on #3651
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1492220641621295104) 👈 🐦🐦🐦

[2022-02-11 19:35] whedon commented on #3651
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2947
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03651](https://doi.org/10.21105/joss.03651)
2. If everything look

[2022-02-11 19:37] kthyng commented on #3947
Everything looks perfect and ready to go!

[2022-02-11 19:37] kthyng commented on #3947
@whedon accept deposit=true

[2022-02-11 19:38] kthyng commented on #3651
Congratulations on your new publication @SamDuffield! Many thanks to editor @taless474 and reviewers @georgiastuart and @matt-graham for your time, hard work, and expertise!!

[2022-02-11 19:38] #3651 closed

[2022-02-11 19:38] whedon commented on #3651
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03651/status.svg)](https://doi.org/10.21105/joss.03651)

**We need your help!**

Journal of Open Source Softwa

[2022-02-11 19:38] whedon commented on #3947
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1492221621624578048) 👈 🐦🐦🐦

[2022-02-11 19:38] whedon commented on #3947
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2948
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03947](https://doi.org/10.21105/joss.03947)
2. If everything look

[2022-02-11 19:42] JaroslavHron commented on #4118
@Kevin-Mattheus-Moerman - it seems that there was some typo in the re-invitation and it failed

[2022-02-11 19:44] danielskatz commented on #4118
@whedon re-invite @JaroslavHron as reviewer

[2022-02-11 19:44] whedon commented on #4118
OK, the reviewer has been re-invited.

@jaroslavhron please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-02-11 19:44] kthyng commented on #3947
Congratulations on your new publication @NoraLoose! Many thanks to editor @elbeejay and reviewers @callumrollo, @AleksiNummelin, and @isgiddy for your time, hard work, and expertise!!

[2022-02-11 19:44] #3947 closed

[2022-02-11 19:44] whedon commented on #3947
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03947/status.svg)](https://doi.org/10.21105/joss.03947)

**We need your help!**

Journal of Open Source Softwa

[2022-02-11 19:47] lpantano commented on #4048
@whedon assign @tamarahadz as reviewer

[2022-02-11 19:47] whedon commented on #4048
OK, @tamarahadz is now a reviewer

[2022-02-11 20:06] yhtang commented on #4149
I noticed that the automated test coverage is around 50%. Should this be considered something that needs improvement? @rkurchin @blakeaw

[2022-02-11 20:11] bzz commented on #4102
I'm sorry for the delay - I have started looking into reviewing the paper but got distracted and was not familiar with the workflow.

Is it too late and I shall stop, or would it be possible to join at #4151 ?
Thanks!

[2022-02-11 20:13] Kevin-Mattheus-Moerman commented on #4118
@whedon re-invite @JaroslavHron as reviewer

[2022-02-11 20:13] whedon commented on #4118
@jaroslavhron already has access.

[2022-02-11 20:15] terrytangyuan commented on #4151
@whedon add @bzz as reviewer

[2022-02-11 20:15] whedon commented on #4151
OK, @bzz is now a reviewer

[2022-02-11 20:19] terrytangyuan commented on #4102
@bzz Yes you can still join! I just added you as reviewer as well.

[2022-02-11 20:24] KristinaRiemer commented on #4029
Hi @wesleyburr, just checking in again about your review?

And @rickhelmus, how is it going with addressing the issues from @hechth's review? It looks like some things are still in progress?

[2022-02-11 20:25] NoraLoose commented on #3947
Thanks @kthyng, @elbeejay, @isgiddy, @AleksiNummelin, and @callumrollo for your time, reviews, and editing. This has been a fun and great experience!

[2022-02-11 20:42] tmigot commented on #3991
The v0.2.6 and v0.2.6-alpha are the same. Since you suggest changing the title and author, we decided to do this automatically by adding a CITATION.cff file in the repository.
So, if you can do v0.2.6-alpha for Zenodo and v0.2.6 for the repo (as the v0.2.6-alpha is not a Julia version) that would be perfect.

[2022-02-11 20:44] jbytecode commented on #3991
could you please report the final version and doi for consistency?

[2022-02-11 20:50] tmigot commented on #3991
The doi for the v0.2.6 can be set as 10.5281/zenodo.6040222

[2022-02-11 20:51] Kevin-Mattheus-Moerman commented on #4085
@jedbrown I was wondering if you'd be okay being assigned as a reviewer at this point. Note though you can take your time. We can give you all the time you need (terms and conditions apply :wink: ) but I think we could use your help.

[2022-02-11 20:52] KristinaRiemer commented on #4138
@kthyng this is pretty far outside my statistical background, so I think for that reason alone it might be better to find a more suitable editor. I'm also a little swamped right now and have been meaning to modify my editorial load accordingly.

[2022-02-11 20:53] Kevin-Mattheus-Moerman commented on #3736
@timdewhirst, @clarka34, the author has made several updates, could you please resume the review at this point or update us on the process? Thanks a lot again for your continued help!!

[2022-02-11 20:59] KristinaRiemer commented on #4030
@hongyuanjia have you had a chance to look over @bczernecki's comments yet?

@bczernecki, with regards to coauthorship, our [JOSS authorship guidelines](https://joss.readthedocs.io/en/latest/submitting.html#authorship) err on the side of letting the authors decide who has made meaningful enough non-code contributions to warrant authorship. It sounds like those contributions were sufficient in this

[2022-02-11 21:01] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant can you clarify what issue is unresolved? Can you link to it here?

Also can you clarify if you addressed @deepakri201 's points above :point_up: about the statement of need and references?

[2022-02-11 21:02] kthyng commented on #3991
@whedon set 10.5281/zenodo.6040222 as archive

[2022-02-11 21:03] whedon commented on #3991
OK. <a href="https://doi.org/10.5281/zenodo.6040222" target="_blank">10.5281/zenodo.6040222</a> is the archive.

[2022-02-11 21:03] kthyng commented on #3991
@whedon set v0.2.6 as version

[2022-02-11 21:03] whedon commented on #3991
OK. v0.2.6 is the version.

[2022-02-11 21:03] kthyng commented on #3991
Ok I think we're good to go now!

[2022-02-11 21:03] kthyng commented on #3991
@whedon accept deposit=true from branch joss-paper-branch

[2022-02-11 21:03] whedon commented on #3991
[code]

[2022-02-11 21:04] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant also note the reviews for JOSS are quite fluid so issues can be resolved simultaneously or incrementally / one at a time, irrespective of what reviewer raised them. So the review remains "ongoing" until all points for all reviewers are addressed, So there are no review "rounds" like for a classic journal. Does this help clarify things?

[2022-02-11 21:04] whedon commented on #3991
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1492243252472332295) 👈 🐦🐦🐦

[2022-02-11 21:04] whedon commented on #3991
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2949
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03991](https://doi.org/10.21105/joss.03991)
2. If everything look

[2022-02-11 21:07] kthyng commented on #3727
Ok everything looks great!

[2022-02-11 21:07] kthyng commented on #3727
@whedon accept deposit=true from branch paper

[2022-02-11 21:07] whedon commented on #3727
[code]

[2022-02-11 21:08] whedon commented on #3727
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1492244082378346504) 👈 🐦🐦🐦

[2022-02-11 21:08] whedon commented on #3727
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2950
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03727](https://doi.org/10.21105/joss.03727)
2. If everything look

[2022-02-11 21:09] kthyng commented on #3991
Congratulations on your new publication @tmigot! Many thanks to editor @jbytecode and reviewers @odow and @jbcaillau for your time, hard work, and expertise!!

[2022-02-11 21:09] #3991 closed

[2022-02-11 21:09] whedon commented on #3991
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03991/status.svg)](https://doi.org/10.21105/joss.03991)

**We need your help!**

Journal of Open Source Softwa

[2022-02-11 21:10] kthyng commented on #3727
Congratulations on your new publication @ljakoster! Many thanks to editor @rkurchin and reviewers @UTH-Tuan, @shahmoradi, and @roderickmackenzie for your time, hard work, and expertise!!

[2022-02-11 21:10] whedon commented on #3727
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03727/status.svg)](https://doi.org/10.21105/joss.03727)

**We need your help!**

Journal of Open Source Softwa

[2022-02-11 21:10] vijaysm commented on #3959
I had no success in getting the installation working on my Ubuntu (18.04) workstation either. I am unsure whether it was due to my CMake version not being up to the requirement. However, I'm going to try to see if I can get a clean environment on a Docker container with Ubuntu-latest to run your commands from the notebook to see if I can make progress. I apologize that this has taken more time tha

[2022-02-11 21:10] eloisabentivegna commented on #2555
@whedon generate pdf from branch joss

[2022-02-11 21:10] whedon commented on #2555
[code]

[2022-02-11 21:11] tmigot commented on #3991
Thanks @kthyng @jbytecode @odow @jbcaillau it's the first time I submitted to JOSS and it was a great experience!

[2022-02-11 21:11] eloisabentivegna commented on #2555
@whedon check references from branch joss

[2022-02-11 21:11] whedon commented on #2555
[code]

[2022-02-11 21:11] whedon commented on #2555
[code]

[2022-02-11 21:11] whedon commented on #2555
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02555/joss.02555/10.21105.joss.02555.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02555/joss.02555/10.21105.joss.02555.pdf) :page_facing_up: :point_left:

[2022-02-11 21:12] kthyng commented on #3914
Hi @chryswoods! Just a few things to wrap up:

1. doi and version look good ✅
2. references don't have correct capitalization. For example, Danon et al 2021 has the country names uncapitalized. You can preserve capitalization in your .bib file with {} around characters. Please check the rest of your references too.

[2022-02-11 21:13] jbytecode commented on #3991
@tmigot do not forget to add the new citation info in your repo, and great hopes you to have infinite number of cites to your paper! :) thank you all @odow and @jbcaillau

[2022-02-11 21:13] kthyng commented on #4138
@KristinaRiemer Ok got it, thanks!

[2022-02-11 21:17] kthyng commented on #4138
@osorensen would this be a good fit for you?

[2022-02-11 21:17] kthyng commented on #4138
@whedon invite @osorensen as editor

[2022-02-11 21:17] whedon commented on #4138
@osorensen has been invited to edit this submission.

[2022-02-11 21:20] eloisabentivegna commented on #2555
@aaron-bray, I was referring to the text immediately after the header "gLBM in action", around equations (1) and (2).

Could you make sure the tag points to this latest version, and that this is also the version deposited in Zenodo?

Once you confirm this, I will finalize and recommend acceptance.

[2022-02-11 21:24] andrewheiss commented on #4145
I'd be happy to review!

[2022-02-11 21:28] kthyng commented on #4137
@schiebout Sorry to follow up so quickly with bad news, but actually when the LOC are around 300 as in this submission, we do have a policy of desk rejection. This is not a commentary on how useful the code is, by any means. If the package were to expand a lot in functionality we would be happy to reconsider in the future. Thank you.

[2022-02-11 21:28] kthyng commented on #4137
@whedon reject

[2022-02-11 21:28] whedon commented on #4137
Paper rejected.

[2022-02-11 21:28] #4137 closed

[2022-02-11 21:33] jbcaillau commented on #3991
Thanks @jbytecode for the patient editing, and congrats @tmigot *et al* for the paper!

[2022-02-11 21:37] jbytecode commented on #3991
@jbcaillau and @odow great thanks are for you just because you consumed your valuable time for reviewing!

I feel lucky to share the same space and time with you!

hope we will work together in later submissions and works!

It was nice to stand on the shoulders of giants with you all!

[2022-02-11 21:37] kthyng commented on #4145
Hi @caleblucas and thanks for your submission! Looks like it is off to a great start here but first I need to run a "scope query" check to make sure the submission is in scope for JOSS. I need to do this when the LOC < 1000. This will take 1-2 weeks; thanks for your patience.

[2022-02-11 21:37] kthyng commented on #4145
@whedon query scope

[2022-02-11 21:37] whedon commented on #4145
Submission flagged for editorial review.

[2022-02-11 21:38] whedon opened #4154 "[PRE REVIEW]: ausdex: A Python package for using Australian economic indexing data"
**Submitting author:** @rbturnbull (<a href="http://orcid.org/0000-0003-1274-6750">Robert Turnbull</a>)
**Repository:** https://github.com/rbturnbull/ausdex
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.2
**Editor:** @ajstewartlang
**Reviewers:** @konstantinstadler, @potterzot
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2022-02-11 21:38] whedon commented on #4154
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-11 21:38] whedon commented on #4154
Wordcount for `paper.md` is 1656

[2022-02-11 21:38] whedon commented on #4154
[code]

[2022-02-11 21:38] whedon opened #4155 "[PRE REVIEW]: BCEA: An R Package for Cost-Effectiveness Analysis"
**Submitting author:** @n8thangreen (<a href="http://orcid.org/0000-0003-2745-1736">Nathan Green</a>)
**Repository:** https://github.com/n8thangreen/BCEA/
**Branch with paper.md** (empty if default branch):
**Version:** v2.4.1
**Editor:** @ajstewartlang
**Reviewers:** @rowlandseymour, @volkerschmid
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2022-02-11 21:38] whedon commented on #4154
PDF failed to compile for issue #4154 with the following error:
[code]

[2022-02-11 21:38] whedon commented on #4154
[code]

[2022-02-11 21:38] whedon commented on #4155
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-11 21:39] whedon commented on #4155
PDF failed to compile for issue #4155 with the following error:
[code]

[2022-02-11 21:39] whedon commented on #4155
[code]

[2022-02-11 21:40] kthyng commented on #4153
For record-keeping, this is a resubmission of #3762.

[2022-02-11 21:43] kthyng commented on #4153
@christinahedges would this submission be a reasonable fit for you?

[2022-02-11 21:43] kthyng commented on #4153
@whedon invite @christinahedges as editor

[2022-02-11 21:43] whedon commented on #4153
@christinahedges has been invited to edit this submission.

[2022-02-11 21:45] aaron-bray commented on #2555
That section was update during one of our preveious reviews here, so should be good to go
https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/blame/master/joss/paper.md

I moved our JOSS tag

I cannot upload to the previous zenodo publication
I can either make a new publication or append this as a version.
Both of which would result in a new DOI

Is there a preference?

[2022-02-11 21:46] kthyng commented on #4152
@kbarnhart are you interested in editing this submission?

[2022-02-11 21:46] kthyng commented on #4152
@whedon invite @kbarnhart as editor

[2022-02-11 21:46] whedon commented on #4152
@kbarnhart has been invited to edit this submission.

[2022-02-11 21:48] kthyng commented on #4154
@ajstewartlang would this be a reasonable fit for you?

[2022-02-11 21:49] whedon commented on #4154
@ajstewartlang has been invited to edit this submission.

[2022-02-11 21:49] kthyng commented on #4155
@whedon generate pdf from branch JOSS-paper

[2022-02-11 21:49] whedon commented on #4155
[code]

[2022-02-11 21:50] whedon commented on #4155
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04155/joss.04155/10.21105.joss.04155.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04155/joss.04155/10.21105.joss.04155.pdf) :page_facing_up: :point_left:

[2022-02-11 21:53] kthyng commented on #4155
@whedon invite @jbytecode as editor

[2022-02-11 21:53] whedon commented on #4155
@jbytecode has been invited to edit this submission.

[2022-02-11 22:06] MaxVortman commented on #4132
@whedon check references

[2022-02-11 22:06] whedon commented on #4132
[code]

[2022-02-11 22:07] MaxVortman commented on #4132
@whedon generate pdf

[2022-02-11 22:07] whedon commented on #4132
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04132/joss.04132/10.21105.joss.04132.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04132/joss.04132/10.21105.joss.04132.pdf) :page_facing_up: :point_left:

[2022-02-11 22:09] MaxVortman commented on #4132
@Nikoleta-v3, done 🤟

[2022-02-11 22:35] yhtang commented on #4149
I am now stuck at the functionality and performance check due to a difficulty in installing `h5py` in Fedora as already documented in https://github.com/Cascella-Group-UiO/HyMD/issues/157. I will resume as soon as a workaround has been found.

[2022-02-11 22:40] kellyrowland commented on #4089
Hi @nicksisco1932 @jamesrhester 👋

Would you be interested in and available to review this JOSS submission?

[2022-02-11 22:40] bzz commented on #4151
HI @ Theomat.

I’ve started reviewing the submission and got a couple of questions that are not immediately related to the code, so posting it here.

“What should my paper contain” of [JOSS  submission guideline](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) and “citations of relevant work” of[JOSS Review Criteria](https://joss.readthedocs.io/en/latest/review_

[2022-02-11 22:40] danhey commented on #3331
No problem at all!

[2022-02-11 22:50] kellyrowland commented on #4094
Hi @NMontanaBrown @dsurujon 👋

Would you be interested in and available to review this JOSS submission?

[2022-02-11 22:51] benjaminpope commented on #3331
Certainly!

———————————————
Dr Benjamin Pope (he/him)
Lecturer in Astrophysics
University of Queensland
benjaminpope.github.io
________________________________
From: Daniel ***@***.***>
Sent: Saturday, February 12, 2022 8:41:00 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Benjamin Pope ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: pySYD: Automated measu

[2022-02-11 23:38] caleblucas commented on #4145
@kthyng Sounds great, thanks very much! I appreciate it.

[2022-02-12 00:18] alexrockhill commented on #3897
@whedon generate pdf from branch joss-ecog-gui

[2022-02-12 00:18] whedon commented on #3897
[code]

[2022-02-12 00:23] alexrockhill commented on #3897
We had added a few features since the images were generated (most notably lines for stereoelectrodes) so I updated the figures and did one last read-through for copy edits. I don't plan on any more changes, this is good to go by me.

[2022-02-12 00:43] jamesrhester commented on #4089
Yes, happy to review this. I have contributed to a previous project of the author but I don't think this rises to the level of conflict of interest as it is not ongoing and not recent.

[2022-02-12 01:13] jmp75 commented on #4039
@crvernon I have gone through the checklist and I do not have other suggestions than that already provided by Laura.

I could not edit the checklist though, the link provided to validate it (accept the invitation) says it does not exist or not anymore, or a message to that effect.

[2022-02-12 03:34] prashjha commented on #3897
@whedon generate pdf from branch joss-ecog-gui

[2022-02-12 03:34] whedon commented on #3897
[code]

[2022-02-12 03:35] whedon commented on #3897
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: :point_left:

[2022-02-12 03:39] prashjha commented on #4061
@kasbot if you want you can merge the changes!

[2022-02-12 03:41] prashjha commented on #3897
@alexrockhill great...handing it to EiC!

[2022-02-12 03:41] prashjha commented on #3897
@whedon recommend-accept

[2022-02-12 03:42] whedon commented on #3897
No archive DOI set. Exiting...

[2022-02-12 03:42] prashjha commented on #3897
@whedon set 10.5281/zenodo.6047183 as archive

[2022-02-12 03:43] whedon commented on #3897
OK. <a href="https://doi.org/10.5281/zenodo.6047183" target="_blank">10.5281/zenodo.6047183</a> is the archive.

[2022-02-12 03:43] prashjha commented on #3897
@whedon recommend-accept

[2022-02-12 03:43] whedon commented on #3897
[code]

[2022-02-12 03:43] whedon commented on #3897
PDF failed to compile for issue #3897 with the following error:
[code]

[2022-02-12 03:47] prashjha commented on #3897
@whedon generate pdf from branch joss-ecog-gui

[2022-02-12 03:47] whedon commented on #3897
[code]

[2022-02-12 03:48] whedon commented on #3897
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03897/joss.03897/10.21105.joss.03897.pdf) :page_facing_up: :point_left:

[2022-02-12 03:48] prashjha commented on #3897
@whedon check references

[2022-02-12 03:51] prashjha commented on #3897
@whedon check references from branch joss-ecog-gui

[2022-02-12 03:51] whedon commented on #3897
[code]

[2022-02-12 03:51] whedon commented on #3897
[code]

[2022-02-12 03:53] prashjha commented on #3897
@whedon recommend-accept from branch joss-ecog-gui

[2022-02-12 03:54] whedon commented on #3897
[code]

[2022-02-12 03:54] whedon commented on #3897
[code]

[2022-02-12 03:55] prashjha commented on #3897
Thank you, @TomDonoghue, @janfreyberg, for your efforts in reviewing this submission. @alexrockhill your paper is now with EiC for final decision.

[2022-02-12 03:55] whedon commented on #3897
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2951

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2951, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-12 06:33] jbytecode commented on #4155
@kthyng - I feel comfortable with R but I have nothing with the cost-effectiveness analysis and health economic modeling.

[2022-02-12 06:58] osorensen commented on #4138
@whedon assign @osorensen as editor

[2022-02-12 06:58] whedon commented on #4138
OK, the editor is @osorensen

[2022-02-12 10:35] Nikoleta-v3 commented on #4132
👋 @ritwikagarwal & @JoyMitra & @adk9 & @ocramz would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "LangToGroup: A Haskell package for group presentation construction from formal langua

[2022-02-12 11:39] Viech commented on #3915
I released PICOS `2.4` today, including all changes discussed here. The tag is `v2.4`. (The paper source still resides on the `joss` branch.) The DOI for this version is [10.5281/zenodo.6053359](https://zenodo.org/record/6053359), using same name and authors as the paper.

[2022-02-12 14:04] danielskatz commented on #3897
👋 @alexrockhill - I'm the AEiC on duty now, and have read your paper.  I've suggested a few small changes in https://github.com/mne-tools/mne-python/pull/10327 - please merge this or let me know what you disagree with, then we can continue to publishing.

[2022-02-12 14:31] ajstewartlang commented on #4154
@whedon assign me as editor

[2022-02-12 14:31] whedon commented on #4154
OK, the editor is @ajstewartlang

[2022-02-12 16:21] alexrockhill commented on #3897
Great thanks for the readover! I added everything except the Oxford commas. I appreciate your spending time to make corrections, thanks again.

[2022-02-12 16:36] chchch commented on #4022
Ah, I see, I've updated the documentation to make it more clear.

[2022-02-12 16:41] galessiorob commented on #4022
@whedon generate pdf from branch joss-paper

[2022-02-12 16:41] whedon commented on #4022
[code]

[2022-02-12 16:42] whedon commented on #4022
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: :point_left:

[2022-02-12 17:24] galessiorob commented on #4022
@chchch I put together a few edit suggestions in this [PR.](https://github.com/chchch/sanskrit-alignment/pull/8)

[2022-02-12 17:27] galessiorob commented on #4133
@glatard, @mwegrzyn, @JoaoRodrigues

Thanks again for volunteering to review this paper! Could you please give us an ETA on your review, please? No hard pressure, just want to manage timelines and expectations.

[2022-02-12 17:29] galessiorob commented on #4090
👋 Hi @PeterKraus

I'm in the process of finding editors for this paper. If you have any suggestions feel free to add their handles in a comment, and I can send them invites. Looking forward to working on this paper!

[2022-02-12 17:35] PeterKraus commented on #4090
Hi @gallesiorob, pleasure to have you as an editor. I've listed a few names of folks who seem to have the right interest & coding preferences from the lower parts of the "signed-up reviewers" sheet [here](https://github.com/openjournals/joss-reviews/issues/4090#issuecomment-1019274321) - not sure if you want me to actually tag them or what's the process?

[2022-02-12 17:40] galessiorob commented on #4090
Awesome, thanks so much @PeterKraus! I can reach out to them and once we have two or three volunteers I'll open a review issue with a checklist for them to use as a guide.

[2022-02-12 18:16] osorensen commented on #4097
@whedon start review

[2022-02-12 18:16] whedon opened #4156 "[REVIEW]: pyemgpipeline: A Python package for electromyography processing"
**Submitting author:** @tlwu (<a href="http://orcid.org/0000-0002-1823-6818">Tsung-Lin Wu</a>)
**Repository:** https://github.com/aalhossary/pyemgpipeline
**Branch with paper.md** (empty if default branch):
**Version:** version 1.0.0_RC
**Editor:** @osorensen
**Reviewers:** @tuliofalmeida, @osorensen
**Archive:** 10.5281/zenodo.6422544

**:warning: JOSS reduced service mode :warning:**

Due to the

[2022-02-12 18:16] whedon commented on #4097
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4156.

[2022-02-12 18:16] #4097 closed

[2022-02-12 18:16] whedon commented on #4156
Wordcount for `paper.md` is 700

[2022-02-12 18:16] whedon commented on #4156
[code]

[2022-02-12 18:16] whedon commented on #4156
[code]

[2022-02-12 18:17] whedon commented on #4156
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04156/joss.04156/10.21105.joss.04156.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04156/joss.04156/10.21105.joss.04156.pdf) :page_facing_up: :point_left:

[2022-02-12 18:26] osorensen commented on #4138
@blind-contours, I am the associate editor for this submission now, and will try to find reviewers. In the meantime, could you please correct the following in the submitted manuscript:

- Line 63: rewrite "represenation" to "representation".
- Lines 77-78: I assume "general additive models" should be "generalized additive models"?

[2022-02-12 18:29] osorensen commented on #4138
:wave: @GaryBAYLOR @cpalmer718 @Metafrancois, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-12 19:50] aaron-bray commented on #2555
Yeah, I thought we were good to do and merged joss into master

Here is the new DOI

10.5281/zenodo.6055691

[2022-02-12 20:04] eloisabentivegna commented on #2555
Perfect!

[2022-02-12 20:05] eloisabentivegna commented on #2555
@whedon set JOSS as version

[2022-02-12 20:06] eloisabentivegna commented on #2555
@whedon recommend-accept

[2022-02-12 20:07] whedon commented on #2555
[code]

[2022-02-12 20:07] whedon commented on #2555
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2952

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2952, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-12 22:18] taless474 commented on #4073
@burch-cm, how is the review going?

[2022-02-12 22:19] danielskatz commented on #2555
The source in Gitlab is tagged as version JOSS, and that's what we are now using here, but the version on zenodo seems to be v1.0.0  Which of these should we be using here?

[2022-02-12 22:19] danielskatz commented on #2555
👋 @ianhinder - you haven't checked the performance box on your checklist. Can you please check it, or state what you need in order to do so?

[2022-02-12 22:25] aaron-bray commented on #2555
Use the joss tag of the repo
I had to make a new zenodo version to get the latest version in zenodo

On Sat, Feb 12, 2022, 5:20 PM Daniel S. Katz ***@***.***>
wrote:

[2022-02-12 23:13] villaa commented on #3993
Ok @lucydot @altavir and @matthewfeickert we have just released `v1.4.0` -- the build system has been migrated to CMake and we have clearly documented comparisons to Geant4. These were the issues that were considered necessary for us to move on.

Huge thanks to @gerudo7 who took care of the Geant4 comparison and generally did a lot of work to get our code up to par.

[2022-02-13 00:38] majensen commented on #3914
thanks @kthyng !!

[2022-02-13 04:41] ammilten commented on #4050
I really enjoyed going through this code. Once I got the intro script working and figured out the structure of the code, I really started to appreciate the amount of effort the author put in to making deep learning accessible. The way the code uses .yml files to set the training, etc. settings makes it really easy to work with deep learning.

Before publishing, the only thing I see that needs to b

[2022-02-13 04:56] jedbrown commented on #4085
Okay, go ahead and assign me.

[2022-02-13 07:13] altavir commented on #3993
Looks good now. The comparison with GEANT4 shows a lot of differences, but it is for users to decide if the approximation is right or wrong in their case. The change of build configuration is also nice.

[2022-02-13 07:36] antoinevacavant commented on #3920
@Kevin-Mattheus-Moerman
This issue is solved: https://github.com/R-Vessel-X/SlicerRVXLiverSegmentation/issues/2 (Community guidelines)
This one is still unresolved: https://github.com/R-Vessel-X/SlicerRVXLiverSegmentation/issues/1
And we addressed the points raised by @deepakri201 in the new version of the paper (statement of need + references).

[2022-02-13 07:40] whedon commented on #4085
OK, @jedbrown is now a reviewer

[2022-02-13 07:46] Kevin-Mattheus-Moerman commented on #4085
@whedon start review

[2022-02-13 07:46] whedon opened #4157 "[REVIEW]: GridapDistributed: a massively parallel finite element toolbox in Julia"
**Submitting author:** @amartinhuertas (<a href="http://orcid.org/0000-0001-5751-4561">Dr. Alberto F. Martin</a>)
**Repository:** <a href="https://github.com/gridap/GridapDistributed.jl/" target ="_blank">https://github.com/gridap/GridapDistributed.jl/</a>
**Version:** v0.2.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @PetrKryslUCSD, @Leticia-maria, @jedbrown
**Archive:** Pending

**:warnin

[2022-02-13 07:46] whedon commented on #4085
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4157.

[2022-02-13 07:47] whedon commented on #4157
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @PetrKryslUCSD, @Leticia-maria, @jedbrown it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [ou

[2022-02-13 07:47] whedon commented on #4157
[code]

[2022-02-13 07:47] whedon commented on #4157
PDF failed to compile for issue #4157 with the following error:
[code]

[2022-02-13 07:49] Kevin-Mattheus-Moerman commented on #4157
@PetrKryslUCSD, @Leticia-maria, @jedbrown, @amartinhuertas this is where the review takes places. The reviewers may now start their review, guided by the check lists at the top of those issue.
Reviewers can provide feedback here or open dedicated issues on the projects repository and link to them here.

[2022-02-13 10:12] adi3 commented on #3671
@AP6YC can you address the final few issues brought up by @aaronpeikert ? I also see some of the issues opened by @hayesall as still open so please tend to them as well once you have a chance. We're on the home stretch here and need just a tiny more effort to get this across the finish line!

[2022-02-13 10:20] adi3 commented on #3527
@AP6YC can you provide any updates on this? In the absence of any updates, I would recommend you withdraw this submission and re-submit it when you have more bandwidth to address reviewer concerns. Let me know how you'd like to proceed.

[2022-02-13 10:22] adi3 commented on #3125
@arfon this slipped through the nets as I was focused on my editorial duties. I'll get to this review sometime this month. Those automated whedon reminders are a boon to forgotten reviews.

[2022-02-13 12:33] leonardgoeke commented on #4110
I can do it.

[2022-02-13 13:35] jedbrown commented on #4157
@whedon generate pdf from branch joss_paper

[2022-02-13 13:35] jedbrown commented on #4157
@whedon check references from branch joss_paper

[2022-02-13 13:35] whedon commented on #4157
[code]

[2022-02-13 13:35] whedon commented on #4157
[code]

[2022-02-13 13:36] whedon commented on #4157
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04157/joss.04157/10.21105.joss.04157.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04157/joss.04157/10.21105.joss.04157.pdf) :page_facing_up: :point_left:

[2022-02-13 15:03] ianhinder commented on #2555
Done.

[2022-02-13 15:11] cjwu commented on #4052
@d-eggert
For a little feedback, the dsaf-[backend](https://git.geomar.de/digital-earth/dasf/dasf-messaging-python/-/tree/master/demessaging/backend) performed similar functions to the Nginx + nchan module. The dsaf-[backend](https://git.geomar.de/digital-earth/dasf/dasf-messaging-python/-/tree/master/demessaging/backend) is based on Apache Pulsar, a scalable message broker, it provides a good use

[2022-02-13 17:12] whedon commented on #4113
:wave: @ColCarroll, please update us on how your review is going (this is an automated reminder).

[2022-02-13 17:12] whedon commented on #4113
:wave: @canyon289, please update us on how your review is going (this is an automated reminder).

[2022-02-13 17:49] hongyuanjia commented on #4030
@KristinaRiemer Sorry for the late. I just came back to work from the Chinese New Year holiday. I will start to address @bczernecki comments in the following week.

### License
Thank you @KristinaRiemer for further elaboration on the coauthorship requirement of JOSS.
Please see https://github.com/openjournals/joss-reviews/issues/4030#issuecomment-1019049222. Adrian contributed a lot to the develop

[2022-02-13 18:43] csoneson commented on #4116
👋🏻 @ayush9pandey, @ayaanhossain - would you be interested in reviewing this submission for JOSS?

[2022-02-13 18:49] canyon289 commented on #4113
I plan on assessing functionality this week. With all the examples and documentation I am not concerned at all.

[2022-02-13 18:55] dfm commented on #4113
@canyon289: Thanks! And sorry about the bot reminder - it sends that regardless of the fact that you only just commented.

[2022-02-13 19:21] dominiquesydow commented on #3951
Hi @richardjgowers,

Good news - the `opencadd` zenodo entry is finally updated to the latest `opencadd` release 🥳
https://zenodo.org/record/6065555

Please let me know if there is anything else for me to do. Thank you!

[2022-02-13 20:13] kratzert commented on #4050
Thanks @ammilten for your time and your valuable feedback on our tutorials.

- The reference is fixed, see above (and I will invoke the bot to recompile the paper for this thread).

Regarding your suggestions:
- Not sure if this is what you mean, but we already have utilities for reading/writing .yml files. Most of it is related to our `Config` class (see [docs](https://neuralhydrology.readthedocs

[2022-02-13 20:14] kratzert commented on #4050
@whedon generate pdf from branch paper

[2022-02-13 20:14] whedon commented on #4050
[code]

[2022-02-13 20:14] whedon commented on #4050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04050/joss.04050/10.21105.joss.04050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04050/joss.04050/10.21105.joss.04050.pdf) :page_facing_up: :point_left:

[2022-02-13 20:39] xiaohk commented on #4022
Thanks! It looks better now. I have checked all items in my review check list and suggest accept this paper. 🎉

[2022-02-13 21:20] GaryBAYLOR commented on #4138
@osorensen Thanks for reaching out. I will be glad to review it!

[2022-02-14 01:05] SeascapeScience commented on #3594
Hi @kthyng  On reflection, I think it makes more sense to find a replacement. I'm so sorry to have dropped the ball on this. Thanks for your understanding.

[2022-02-14 01:07] ColCarroll commented on #4113
+1 started, and hoping to be done this week!

[2022-02-14 01:30] AlphonsG commented on #4080
@whedon generate pdf from branch dev2

[2022-02-14 01:31] whedon commented on #4080
[code]

[2022-02-14 01:32] whedon commented on #4080
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04080/joss.04080/10.21105.joss.04080.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04080/joss.04080/10.21105.joss.04080.pdf) :page_facing_up: :point_left:

[2022-02-14 03:32] ColCarroll commented on #4113
Update: I've completed my first round of reviews, and will wait for @jeremiecoullon to address the opened issues. No rush from me there, but I will not be imminently opening new issues, and will just be watching for discussion on the open ones!

[2022-02-14 04:25] Himscipy commented on #3428
Hi 👋  @kyleniemeyer,

I have completed my review checklist for PERFORM.
@cwentland0 PERFORM software tool is a great addition to the research and engineering teaching community.

Best,
Himanshu Sharma

[2022-02-14 07:01] mwegrzyn commented on #4133
Dear Gabriela,

thank you for your message. I will need approx. until March 6.

Best,
Martin

[2022-02-14 07:09] osorensen commented on #4138
@whedon add @GaryBAYLOR as reviewer

[2022-02-14 07:10] whedon commented on #4138
OK, @GaryBAYLOR is now a reviewer

[2022-02-14 07:27] AlphonsG commented on #4080
@whedon check references

[2022-02-14 07:28] whedon commented on #4080
[code]

[2022-02-14 07:29] AlphonsG commented on #4080
@whedon check references from branch dev2

[2022-02-14 07:29] whedon commented on #4080
[code]

[2022-02-14 07:30] whedon commented on #4080
[code]

[2022-02-14 08:01] lucydot commented on #4108
@kthyng I'm happy to edit this submission 💎

[2022-02-14 08:01] lucydot commented on #4108
@whedon assign @lucydot as editor

[2022-02-14 08:01] whedon commented on #4108
OK, the editor is @lucydot

[2022-02-14 08:14] dandavies99 commented on #4014
The changes look like they answer all my queries. Looks good to me now @lucydot :shipit:

[2022-02-14 08:33] hechth commented on #4029
There is only a single issue which would be good to address before release (https://github.com/rickhelmus/patRoon/issues/40), otherwise things are fine from my side - there are some bugs in the packages which are bundled within patRoon, but this is somewhat unavoidable and not the main responsibility of the author.

[2022-02-14 08:49] fraukewiese commented on #4110
Great. Thanks @leonardgoeke

[2022-02-14 08:50] fraukewiese commented on #4110
@whedon add @leonardgoeke as reviewer

[2022-02-14 08:50] whedon commented on #4110
OK, @leonardgoeke is now a reviewer

[2022-02-14 08:51] fraukewiese commented on #4110
@whedon start review

[2022-02-14 08:51] whedon opened #4158 "[REVIEW]: GBOML: Graph-Based Optimization Modeling Language"
**Submitting author:** @MiftariB (<a href="http://orcid.org/0000-0001-5334-0234">Bardhyl Miftari</a>)
**Repository:** https://gitlab.uliege.be/smart_grids/public/gboml
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.1
**Editor:** @fraukewiese
**Reviewers:** @odow, @leonardgoeke
**Archive:** 10.5281/zenodo.6470268

**:warning: JOSS reduced service mode :warning:**

Due to the

[2022-02-14 08:51] whedon commented on #4110
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4158.

[2022-02-14 08:51] #4110 closed

[2022-02-14 08:51] whedon commented on #4158
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @odow, @leonardgoeke it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2022-02-14 08:52] whedon commented on #4158
Wordcount for `paper.md` is 1140

[2022-02-14 08:52] whedon commented on #4158
[code]

[2022-02-14 08:52] whedon commented on #4158
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04158/joss.04158/10.21105.joss.04158.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04158/joss.04158/10.21105.joss.04158.pdf) :page_facing_up: :point_left:

[2022-02-14 08:52] whedon commented on #4158
[code]

[2022-02-14 08:54] fraukewiese commented on #4110
@leonardgoeke @odow – thanks a lot for agreeing to review here! See you over in https://github.com/openjournals/joss-reviews/issues/4158 where the actual review will take place.

[2022-02-14 08:55] fraukewiese commented on #4158
@odow @leonardgoeke  – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. T

[2022-02-14 09:08] d-eggert commented on #4052
@cjwu Thank you for your feedback. I had a closer look at the `nchan` nginx-module. It appears to offer similar functions like the Apache Pulsar system we use in our setup. But after all, the used messaging system is just a means to an end. Since DASF is built on top of the messaging system, you could (with some effort of course) replace the Pulsar with the nchan/nginx system.

Regarding more exam

[2022-02-14 09:38] ajstewartlang commented on #4154
@whedon generate pdf

[2022-02-14 09:38] whedon commented on #4154
PDF failed to compile for issue #4154 with the following error:
[code]

[2022-02-14 09:44] ajstewartlang commented on #4154
@danielskatz any idea why the PDF isn't building? Looks like it's something to do with `rsvg-convert`

[2022-02-14 10:00] drvinceknight commented on #3968
Thank you @szhorvat.

[2022-02-14 10:16] chryswoods commented on #3914
Thanks @kthyng - very useful to learn that. I've updated the references and I think all of the capitalisation in the titles is ok. I've pushed the change to the joss branch in the MetaWards repo.

I've also been through the proof and it looks great :-)

[2022-02-14 10:47] ayush9pandey commented on #4116
I don't think I have the right expertise to be a reviewer for this submission, so I'll pass.

[2022-02-14 10:51] fabian-s commented on #3780
@whedon generate pdf

[2022-02-14 10:56] awvwgk commented on #4014
Thanks, all my points are addressed than.

[2022-02-14 10:57] whedon commented on #4114
:wave: @raybecker, please update us on how your review is going (this is an automated reminder).

[2022-02-14 10:57] whedon commented on #4114
:wave: @ekinney-lang, please update us on how your review is going (this is an automated reminder).

[2022-02-14 10:57] richardjgowers commented on #3951
@whedon set 10.5281/zenodo.6065555 as archive

[2022-02-14 10:57] whedon commented on #3951
OK. <a href="https://doi.org/10.5281/zenodo.6065555" target="_blank">10.5281/zenodo.6065555</a> is the archive.

[2022-02-14 10:58] richardjgowers commented on #3951
@whedon set v1.0.1 as version

[2022-02-14 10:58] whedon commented on #3951
OK. v1.0.1 is the version.

[2022-02-14 10:58] richardjgowers commented on #3951
@whedon recommend-accept

[2022-02-14 10:58] whedon commented on #3951
[code]

[2022-02-14 10:59] whedon commented on #3951
[code]

[2022-02-14 10:59] whedon commented on #3951
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2953

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2953, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-14 11:14] fabian-s commented on #3780
Thanks -- almost done here, finally!
Please take a look at the typos / grammatical errors I fixed at https://github.com/fabian-s/RandomForestsGLS/pull/1, incorporate as necessary/sensible, then please do run another spell check and proof-read closely and ping me again.

[2022-02-14 12:10] rickhelmus commented on #4029
Hi @KristinaRiemer & @hechth,

I hope to finalize rickhelmus/patRoon#40 this week. The feedback of @hechth has been very useful, many thanks!

[2022-02-14 13:01] melissawm commented on #3915
@whedon generate pdf

[2022-02-14 13:01] whedon commented on #3915
PDF failed to compile for issue #3915 with the following error:
[code]

[2022-02-14 13:02] melissawm commented on #3915
@whedon generate pdf from branch joss

[2022-02-14 13:02] whedon commented on #3915
[code]

[2022-02-14 13:03] whedon commented on #3915
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03915/joss.03915/10.21105.joss.03915.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03915/joss.03915/10.21105.joss.03915.pdf) :page_facing_up: :point_left:

[2022-02-14 13:17] aaron-bray commented on #2555
Ok @eloisabentivegna

I merged in @danielskatz changes

I updated the tag, and uploaded the latest to zendo (As version 1.0.3)

New DOI is 10.5281/zenodo.6076998

[2022-02-14 13:29] whedon commented on #3905
[code]

[2022-02-14 13:29] Kevin-Mattheus-Moerman commented on #3920
@lassoan I hope you are doing well. Are you able to provide update on progress on this review? Thanks again for your help.

[2022-02-14 13:31] xuanxu commented on #3905
@gonsie @CFGrote please update us on the current status of your reviews

[2022-02-14 13:32] magedhelmy1 commented on #4087
Kind remainder to Bisaloo comments to check if you are available to review the paper submitted to JOSS :)

@michaelberks
@robbisg

[2022-02-14 13:36] Viech commented on #3915
Proof looks good to me, though maybe I should also put my master's thesis that I reference on Zenodo?

[2022-02-14 13:39] danielskatz commented on #4154
From the error message, it looks like an issue with an svg image.  Perhaps the image could be stored in the different format.  If not, the help address to contact is `@openjournals/dev `

[2022-02-14 13:45] danielskatz commented on #2555
@whedon set 10.5281/zenodo.6076998 as archive

[2022-02-14 13:45] whedon commented on #2555
OK. <a href="https://doi.org/10.5281/zenodo.6076998" target="_blank">10.5281/zenodo.6076998</a> is the archive.

[2022-02-14 13:45] danielskatz commented on #2555
@whedon recommend-accept

[2022-02-14 13:45] whedon commented on #2555
[code]

[2022-02-14 13:45] whedon commented on #2555
[code]

[2022-02-14 13:46] whedon commented on #2555
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2954

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2954, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-14 13:48] melissawm commented on #3915
Sorry, I don't see the reference that you mention. But if you want to add it to the paper that's fine with me 👍🏻

[2022-02-14 13:51] danielskatz commented on #2555
🧇 @aaron-bray - note that there's now a DOI that doesn't resolve. This DOI wasn't in the previous version. IOS Press says this is right (https://ebooks.iospress.nl/publication/42549) but the DOI system doesn't.  I'm going to keep it as written, and assume IOS Press will fix it at some point.

[2022-02-14 13:51] danielskatz commented on #2555
@whedon accept deposit=true

[2022-02-14 13:51] whedon commented on #2555
[code]

[2022-02-14 13:53] whedon commented on #2555
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1493221769506926595) 👈 🐦🐦🐦

[2022-02-14 13:53] danielskatz commented on #3914
@whedon recommend-accept from branch joss

[2022-02-14 13:53] whedon commented on #3914
[code]

[2022-02-14 13:54] whedon commented on #3914
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2956

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2956, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-14 13:55] danielskatz commented on #3914
@whedon accept deposit=true from branch joss

[2022-02-14 13:55] whedon commented on #3914
[code]

[2022-02-14 13:58] melissawm commented on #3915
Can you also add the DOI for CVXPY? I tried using the DOI from the URL `https://dl.acm.org/doi/10.5555/2946645.3007036` but it doesn't seem to resolve.

[2022-02-14 13:59] danielskatz commented on #2555
Congratulations @rclipp, @aaron-bray, and co-authors!!

And thanks to @ianhinder and @gouarin for reviewing, and @eloisabentivegna for editing!
We couldn't do this without you!

[2022-02-14 13:59] #2555 closed

[2022-02-14 13:59] whedon commented on #2555
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02555/status.svg)](https://doi.org/10.21105/joss.02555)

**We need your help!**

Journal of Open Source Softwa

[2022-02-14 14:01] danielskatz commented on #3914
Congratulations @chryswoods and co-authors!!

And thanks to @klmedeiros and @acolum for reviewing, and @majensen for editing!
We couldn't do this without you!

[2022-02-14 14:01] whedon commented on #3914
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03914/status.svg)](https://doi.org/10.21105/joss.03914)

**We need your help!**

Journal of Open Source Softwa

[2022-02-14 14:12] fabian-s commented on #3780
@whedon generate pdf

[2022-02-14 14:12] whedon commented on #3780
[code]

[2022-02-14 14:13] whedon commented on #3780
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: :point_left:

[2022-02-14 14:14] fabian-s commented on #3780
:partying_face: @[ArkajyotiSaha](https://github.com/ArkajyotiSaha)

Wonderful -- at this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. Thi

[2022-02-14 14:21] arfon commented on #3125
:zap: thanks @adi3!

[2022-02-14 14:23] mikldk commented on #4096
@lmcinnes, @gagolews: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-02-14 14:28] TomTranter commented on #4051
@timtroendle are we waiting on anything else?

[2022-02-14 14:32] whedon commented on #4052
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04052/joss.04052/10.21105.joss.04052.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04052/joss.04052/10.21105.joss.04052.pdf) :page_facing_up: :point_left:

[2022-02-14 14:36] chryswoods commented on #3914
Thanks everyone. This has been the nicest paper publishing and reviewing experience that I've had. You have all been very welcoming, supportive and helpful. Thanks :-)

[2022-02-14 14:46] martinfleis commented on #3761
@RafalKucharskiPK Can you please update your checklist above?

[2022-02-14 14:52] ajstewartlang commented on #4154
@rbturnbull can you try having the image in a different format so we can see if the pdf then builds please?

[2022-02-14 14:58] chartgerink commented on #3741
@dustinstoltz it appears that the review is further delayed. I will attempt to find a new reviewer.

Again, my apologies for the delay on this paper.

[2022-02-14 15:12] danielskatz commented on #3465
👋 @elwinter - note that we're waiting for your responses to continue the acceptance/publishing process

[2022-02-14 15:12] dfm commented on #4107
@whedon add @JDonaldM as reviewer

Thanks Jamie for agreeing to review! Once we have a second reviewer lined up, we'll get the review rolling.

[2022-02-14 15:13] danielskatz commented on #3898
👋 @openjournals/dev - help please...

[2022-02-14 15:15] robbisg commented on #4087
Sorry for the delay! Yes I'm available!

[2022-02-14 15:21] danielskatz commented on #3951
@dominiquesydow - I've also suggested a few minor changes in the paper in https://github.com/volkamerlab/opencadd/pull/140

[2022-02-14 15:22] #4074 closed

[2022-02-14 15:22] whedon commented on #4074
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.04074/status.svg)](https://doi.org/10.21105/joss.04074)

**We need your help!**

Journal of Open Source Softwa

[2022-02-14 15:23] danielskatz commented on #4124
👋 @Bisaloo - just a ping...

[2022-02-14 15:24] danielskatz commented on #4127
@whedon invite @rkurchin as editor

[2022-02-14 15:25] danielskatz commented on #4155
@jbytecode - are you saying that you would prefer not to edit this?

[2022-02-14 15:26] whedon opened #4159 "[PRE REVIEW]: tukey_hsd: An Accurate Implementation of the Tukey Honestly Significant Difference Test in Python"
**Submitting author:** @mdhaber (<a href="http://orcid.org/0000-0003-4806-3601">Matt Haberland</a>)
**Repository:** https://github.com/mdhaber/scipy/
**Branch with paper.md** (empty if default branch): joss_studentized_range
**Version:** 1.8.0
**Editor:** @mikldk
**Reviewers:** @mcavs, @acolum
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-02-14 15:26] whedon commented on #4159
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j