[2020-08-20 18:38] tbrown122387 commented on #2559
I searched "statist*" [here](https://joss.theoj.org/about#editorial_board) and I noticed several editors who have experience with statistical techniques: fboehm, mikldk, mjsottile, marcosvital, usethedata @diehlpk you are the only editor who mentions c++ explicitly in his/her bio on that page, although many editors have github repos whose primary language is c++

[2020-08-20 18:51] jessie-dotson commented on #2382
I also have completed my review and am happy for catwoman to be accepted by JOSS.  The future improvements identified by @barentsen would be extremely useful!  Please do keep those in mind for the future.

[2020-08-20 18:59] diehlpk commented on #2559
@tbrown122387 I asked for people of your community to review this paper? The editors do normally do not have the capactiy to review papers and edit them.

[2020-08-20 19:06] kbarnhart commented on #2568
Thanks all for the enthusiasm!! Given your expertise in particle methods in geodynamic models I'm inclined to include you as a reviewer. I'll now start the review with @dbuscombe-usgs and @gassmoeller as reviewers.  Thanks again!

[2020-08-20 19:06] kbarnhart commented on #2568
@whedon add @gassmoeller as reviewer

[2020-08-20 19:06] kbarnhart commented on #2568
@whedon start review

[2020-08-20 19:06] whedon opened #2585 "[REVIEW]: dorado: A Python package for simulating passive particle transport in shallow-water flows"
**Submitting author:** @elbeejay (<a href="http://orcid.org/0000-0002-1343-193X">Jayaram Hariharan</a>)
**Repository:** <a href="https://github.com/passaH2O/dorado" target ="_blank">https://github.com/passaH2O/dorado</a>
**Version:** v2.1.0
**Editor:** @kbarnhart
**Reviewer:** @dbuscombe-usgs, @gassmoeller
**Archive:** <a href="https://doi.org/10.5281/zenodo.4118342" target="_blank">10.5281/zenodo

[2020-08-20 19:06] whedon commented on #2568
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2585.

[2020-08-20 19:07] #2568 closed

[2020-08-20 19:07] whedon commented on #2585
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dbuscombe-usgs, @gassmoeller it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2020-08-20 19:08] whedon commented on #2585
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02585/joss.02585/10.21105.joss.02585.pdf)

[2020-08-20 19:11] kbarnhart commented on #2585
@dbuscombe-usgs and @gassmoeller thanks for agreeing to review this submission to JOSS. As noted above, we are trying to adjust to authors, reviewers, and editors needs under COVID. Thus we are asking reviewers try and complete reviews in 6 weeks. I am going to use whedon the editorial bot to remind you about your review in three weeks, half way through the requested timeline.

If there are any qu

[2020-08-20 19:12] kbarnhart commented on #2585
@whedon remind @dbuscombe-usgs in three weeks

[2020-08-20 19:12] whedon commented on #2585
Reminder set for @dbuscombe-usgs in three weeks

[2020-08-20 19:13] kbarnhart commented on #2585
@whedon remind @gassmoeller in three weeks

[2020-08-20 19:13] whedon commented on #2585
Reminder set for @gassmoeller in three weeks

[2020-08-20 19:15] tbrown122387 commented on #2559
@diehlpk understood. There are no members of my professional network that are familiar with JOSS’ requirements, so I have no suggestions.

[2020-08-20 19:17] xuanxu commented on #2382
Great! Thanks @jessie-dotson & @barentsen!

[2020-08-20 19:17] xuanxu commented on #2382
@whedon generate pdf

[2020-08-20 19:18] whedon commented on #2382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02382/joss.02382/10.21105.joss.02382.pdf)

[2020-08-20 19:18] xuanxu commented on #2382
@whedon check references

[2020-08-20 19:19] whedon commented on #2382
[code]

[2020-08-20 19:27] lorenanicole commented on #2316
@whedon accept deposit=true

[2020-08-20 19:27] whedon commented on #2316
I'm sorry @lorenanicole, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-08-20 19:27] lorenanicole commented on #2316
Oops. Heh! My bad, we're just waiting on the EiCs now @blsqr!

[2020-08-20 19:29] romainmartinez commented on #2431
@Kevin-Mattheus-Moerman, with issue [#107](https://github.com/pyomeca/pyomeca/issues/107) just accepted and closed, [all issues](https://github.com/openjournals/joss-reviews/issues/2431#issuecomment-669236807) have been addressed 🎉 .

Perhaps @mitkof6 could confirm that the modifications made in the paper [here](https://github.com/pyomeca/pyomeca/pull/109) are suitable for him.

[2020-08-20 19:30] xuanxu commented on #2382
OK @KathrynJones1, everything looks good now, here are the next steps:

- Please release a new [tagged version](https://github.com/KathrynJones1/catwoman/releases) from the current main branch so it includes all the changes made during the review process
- Then archive that latest release in Zenodo (or a similar service).
- Check the Zenodo deposit has the correct metadata: title and author names

[2020-08-20 19:42] zbeekman commented on #2049
@sjvrijn It looks like either the installation procedure for conda installs and from source via git clone are not identical between [the README](https://github.com/sjvrijn/mf2#installation) and the [Sphinx/RTD docs](https://mf2.readthedocs.io/en/latest/install.html). In particular, for conda, the channel specified is different between the documents, and the from source installation differs on the

[2020-08-20 19:46] davidbeckingsale commented on #2352
Thank you! Please tag me when ready for another review.

[2020-08-20 19:54] cmparlettpelleriti commented on #2523
@ronikobrosly Everything looks wonderful, and the notebook now works perfectly after updating to 0.3.7 !

[2020-08-20 19:56] ronikobrosly commented on #2523
Great! Thanks helping improve this @cmparlettpelleriti .

Hi @oliviaguest , I believe this means I've addressed the comments of these three reviewers. Is there anything I should do next?

[2020-08-20 20:13] zbeekman commented on #2049
@sjvrijn I know this is not your fault or your responsibility, however the Simon Fraser University website links (with the matlab codes) that the documentation links to appear to all be broken. If you know of an updated URL that works, it would be nice to "fix" that, but I suspect it may just be unmaintained by the authors.

[2020-08-20 20:21] Kevin-Mattheus-Moerman commented on #2431
@mitkof6 it looks like changes were made to the paper. Can you review them? :point_up: thanks!

@BKillen05 your only unticked box is "references". Can you comment on that or can that box be ticked now too?

@mitkof6, @BKillen05, if, after reviewe the changes made, you are happy to formulate a recommendation e.g. to accept this submission, please do so. Thanks!

[2020-08-20 20:21] Kevin-Mattheus-Moerman commented on #2431
@whedon check references

[2020-08-20 20:22] whedon commented on #2431
[code]

[2020-08-20 20:29] whedon opened #2586 "[PRE REVIEW]: NO-DOUBT: A Decision Support Web Platformbased on AHP"
**Submitting author:** @gdede-hua (<a href="http://orcid.org/0000-0003-2947-7470">Georgia Dede</a>)
**Repository:** <a href="https://github.com/gdede-hua/decision-survey-platform" target ="_blank">https://github.com/gdede-hua/decision-survey-platform</a>
**Version:** v1.0
**Editor:** @sbenthall
**Reviewers:** @remram44, @alexssandrofc
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced se

[2020-08-20 20:29] whedon commented on #2586
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-20 20:29] whedon commented on #2586
[code]

[2020-08-20 20:29] whedon commented on #2586
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02586/joss.02586/10.21105.joss.02586.pdf)

[2020-08-20 20:29] whedon commented on #2586
[code]

[2020-08-20 20:29] whedon opened #2587 "[PRE REVIEW]: PINE: An open source collaborative text annotation tool"
**Submitting author:** @brantapl (<a href="http://orcid.org/0000-0002-6174-4201">Brant Chee</a>)
**Repository:** <a href="https://github.com/jhuapl/PINE" target ="_blank">https://github.com/jhuapl/PINE</a>
**Version:** v1.0
**Editor:** @majensen
**Reviewers:** @bill-baumgartner, @bensonml
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-08-20 20:29] whedon commented on #2587
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-20 20:30] whedon commented on #2587
PDF failed to compile for issue #2587 with the following error:

 Can't find any papers to compile :-(

[2020-08-20 20:30] whedon commented on #2587
[code]

[2020-08-20 20:30] whedon opened #2588 "[PRE REVIEW]: pyFBS: A Python package for Frequency Based Substructuring"
**Submitting author:** @tb93 (<a href="http://orcid.org/0000-0002-5587-5619">Tomaž Bregar</a>)
**Repository:** <a href="https://gitlab.com/pyFBS/pyFBS" target ="_blank">https://gitlab.com/pyFBS/pyFBS</a>
**Version:** 0.1.1
**Editor:** @kyleniemeyer
**Reviewers:** @ngoiz, @LolloCappo, @Gunnstein
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2020-08-20 20:30] whedon commented on #2588
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-20 20:30] whedon commented on #2588
PDF failed to compile for issue #2588 with the following error:

 Can't find any papers to compile :-(

[2020-08-20 20:31] whedon commented on #2588
Failed to discover a `Statement of need` section in paper

[2020-08-20 20:33] Kevin-Mattheus-Moerman commented on #2586
@whedon query scope

[2020-08-20 20:33] whedon commented on #2586
Submission flagged for editorial review.

[2020-08-20 20:33] whedon commented on #2588
[code]

[2020-08-20 20:34] Kevin-Mattheus-Moerman commented on #2587
@whedon generate pdf from branch JOSS

[2020-08-20 20:34] whedon commented on #2587
[code]

[2020-08-20 20:35] whedon commented on #2587
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02587/joss.02587/10.21105.joss.02587.pdf)

[2020-08-20 20:39] Kevin-Mattheus-Moerman commented on #2588
@openjournals/dev whedon cannot find the paper, which is here: https://gitlab.com/pyFBS/pyFBS/-/tree/master/joss, is this because they should move it out of that `joss` folder?

[2020-08-20 20:41] Kevin-Mattheus-Moerman commented on #2587
@whedon query scope

[2020-08-20 20:41] zbeekman commented on #2049
@sjvrijn I will summarize and consolidate (in a comment) the tweaks etc. I'd like to see, but for now I'm going to keep enumerating them as they come up as their own individual comment.

I think the README and/or RTD should have a stronger **statement of need**. I think this could be achieved by succinctly, but explicitly describing the problem mf2 is solving, and the intended audience. You could

[2020-08-20 20:41] whedon commented on #2587
Submission flagged for editorial review.

[2020-08-20 20:42] whedon opened #2589 "[PRE REVIEW]: rFBP: Replicated Focusing Belief Propagation algorithm"
**Submitting author:** @Nico-Curti (<a href="http://orcid.org/0000-0001-5802-1195">Nico Curti</a>)
**Repository:** <a href="https://github.com/Nico-Curti/rFBP" target ="_blank">https://github.com/Nico-Curti/rFBP</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewers:** @bblais, @justusschock
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-08-20 20:42] whedon commented on #2589
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-20 20:43] whedon commented on #2589
PDF failed to compile for issue #2589 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2589/paper/paper.md): did not find expected alphabetic or numeric character while scanning an alias at line 16 column 19 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych

[2020-08-20 20:43] whedon opened #2590 "[PRE REVIEW]: 'GenGrab: A python toolkit for acquiring gene segments from genomes'"
**Submitting author:** @avvypaks (<a href="http://orcid.org/0000-0001-5876-0203">Avas Pakrashi</a>)
**Repository:** <a href="https://github.com/avvypaks/GenGrab" target ="_blank">https://github.com/avvypaks/GenGrab</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2020-08-20 20:43] whedon commented on #2590
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-20 20:43] whedon commented on #2590
Failed to discover a `Statement of need` section in paper

[2020-08-20 20:43] whedon commented on #2590
[code]

[2020-08-20 20:43] whedon commented on #2590
[code]

[2020-08-20 20:43] whedon commented on #2590
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02590/joss.02590/10.21105.joss.02590.pdf)

[2020-08-20 20:44] Kevin-Mattheus-Moerman commented on #2567
@harpolea would you be able to handle this submission?

[2020-08-20 20:46] DorianDepriester commented on #2094
@meg-simula, here are the answers to all the points you have raised:

- [x] A clear Statement of Need has been added (see https://github.com/DorianDepriester/MTEX2Gmsh/commit/afd5ebbe34fb63173765c18be54a48dadc0aa6ac )
- [x] There is no representative set of past or ongoing research projects using the software and nor recent scholarly publications enabled by it.
- [x] This project is not financiall

[2020-08-20 20:46] DorianDepriester commented on #2094
@whedon generate pdf

[2020-08-20 20:47] whedon commented on #2094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02094/joss.02094/10.21105.joss.02094.pdf)

[2020-08-20 20:47] Kevin-Mattheus-Moerman commented on #2552
@whedon generate pdf

[2020-08-20 20:47] whedon commented on #2552
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02552/joss.02552/10.21105.joss.02552.pdf)

[2020-08-20 20:53] Kevin-Mattheus-Moerman commented on #2590
@whedon query scope

[2020-08-20 20:53] whedon commented on #2590
Submission flagged for editorial review.

[2020-08-20 20:54] Kevin-Mattheus-Moerman commented on #2589
@openjournals/dev can you help trouble shoot this error :point_up:

[2020-08-20 20:58] Kevin-Mattheus-Moerman commented on #2552
@trallard @csoneson @jedbrown @danielskatz could one of you handle this submission?

[2020-08-20 21:16] antviro commented on #2480
My comments are also addressed. And as I mentioned before I think the project is quite interesting, so I also recommend to publish.

[2020-08-20 21:16] eloisabentivegna commented on #2338
@bluescarni, does the request by @jangmys and @dgoldri25 make sense to you? Can you expand the literature review?

[2020-08-20 21:18] zbeekman commented on #2049
sorry I did not mean to hit close & comment. I hope that didn't mess things up with @whedon

[2020-08-20 21:21] antviro commented on #2480
It is hard to suggest as the names are going to be used in different machines (propeller and turbines), I would write in the opposite way pitch for the global one, and twist for the one linked to each blade element (as it is usually called in wind power). However, I also consider it good as it is right now, as the explanation is clear enough, so that the user knows what is setting when changing an

[2020-08-20 21:41] zbeekman commented on #2049
I have effectively concluded my review. Things look great! However, in my opinion, the following minor issues still need addressing before publication:

1. README / Documentation **statement of need**: It would be good to briefly improve this is in the readme and documentation to better adhere to JOSS review criteria. These explicitly state what the package does, but do not explicitly state what p

[2020-08-21 00:06] majensen commented on #2331
Thanks @dawbarton and @mstimberg for all your work on this submission.

@funasoul - I'm assuming that you are not able to review. I will unassign you at this time. If there are any issues with this, please contact me directly at maj \-dot\- fortinbras \-at\- gmail \-dot\- com.

[2020-08-21 00:07] majensen commented on #2331
@whedon remove @funasoul as reviewer

[2020-08-21 00:07] whedon commented on #2331
OK, @funasoul is no longer a reviewer

[2020-08-21 02:04] akcochrane commented on #2535
No, it was not a typo.

[2020-08-21 02:45] bittremieux commented on #2411
Excellent. I don't think the mzML paper is actually cited yet in the manuscript where it is first mentioned though.

[2020-08-21 02:47] majensen commented on #2044
Hey @scwest - I felt that (1) this work has been in the hopper a long time, (2) if I am a reviewer I should do something, and (3) it was fun and not onerous. I have checked off the remaining items and so both @SiminaB and I now recommend acceptance.

To move forward, can you create a public archive of the latest version of the master branch in a service such as [Zenodo](https://zenodo.org)? Here i

[2020-08-21 02:54] scwest commented on #2044
Thanks @majensen - I will do so over this weekend and report back.

[2020-08-21 05:10] avvypaks commented on #2590
@Kevin-Mattheus-Moerman the "statement of need" and .bib DOI's have been added.

[2020-08-21 06:08] CFGrote commented on #2436
@whedon generate pdf

[2020-08-21 06:09] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-08-21 06:24] florian-huber commented on #2411
@whedon generate pdf

[2020-08-21 06:25] whedon commented on #2411
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02411/joss.02411/10.21105.joss.02411.pdf)

[2020-08-21 06:28] florian-huber commented on #2411
Thanks a lot for checking this! I corrected the reference entry, it should now be inserted where mzML is first mentioned.

[2020-08-21 07:13] arfon commented on #2574
The way I recommend doing this is with a footnote next to the name of the first (or second) author stating that they are joint first authors e.g.:

[code]

[2020-08-21 07:16] arfon commented on #2388
@whedon accept deposit=true

[2020-08-21 07:16] whedon commented on #2388
[code]

[2020-08-21 07:17] whedon commented on #2388
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1296707968680026112) 👈 🐦🐦🐦

[2020-08-21 07:17] whedon commented on #2388
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1651
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02388](https://doi.org/10.21105/joss.02388)
2. If everything looks g

[2020-08-21 07:47] arcuri82 commented on #2153
Hi @s0nata,

   having a demo project would indeed be useful. Although these weeks I am quite busy with the starting of teaching semester, so might take a while before I have time to prepare it.

Anyway, for the current time, you can look at the following: from the [main readme](https://github.com/EMResearch/EvoMaster), there is a link to the [EMB](https://github.com/EMResearch/EMB) repository, wh

[2020-08-21 07:52] kinnala commented on #2369
@whedon generate pdf

[2020-08-21 07:52] whedon commented on #2369
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02369/joss.02369/10.21105.joss.02369.pdf)

[2020-08-21 07:53] cMadan commented on #2535
@whedon set v00.77.12 as version

[2020-08-21 07:54] whedon commented on #2535
OK. v00.77.12 is the version.

[2020-08-21 08:05] mitkof6 commented on #2431
On my part I accept the paper. Congratulations to the authors for their nice work.

[2020-08-21 08:07] kinnala commented on #2369
Thanks @meg-simula . Hopefully I did the fixes correctly.

The tagged release happens to be 2.0.0. The major version increment does not signify other than that we happened to remove some (undocumented) features deprecated already 6 months ago while waiting for the review to finish, and hence semantic versioning mandates such an increment.

Here is the Zenodo archive: https://zenodo.org/record/3994

[2020-08-21 08:33] BKillen05 commented on #2431
@Kevin-Mattheus-Moerman I have checked the references and now checked this box

As @mitkof6  , I am happy with the changes the authors have made to the documentation and also the manuscript.

Congratulations and good work from the authors

[2020-08-21 08:49] cMadan commented on #2535
@whedon accept

[2020-08-21 08:49] whedon commented on #2535
[code]

[2020-08-21 08:49] whedon commented on #2535
[code]

[2020-08-21 08:49] whedon commented on #2535
PDF failed to compile for issue #2535 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e09ec0a48e3/lib/whedon/bibtex_parser.rb:45:in `block in generate_citations': undefined method `key' for #<BibTeX::Preamble " \newcommand{\noop}[1]{} "> (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/gems/bibtex-ruby-5.1.4/lib/bibtex/bibliography.rb:149:in `each'
	from /app/vend

[2020-08-21 08:50] tomazbregar commented on #2588
I tested the paper compilation with [https://whedon.theoj.org/](url) and the PDF in fact compiles successfully (
[od30rut28esfdu4jhjeg.pdf](https://github.com/openjournals/joss-reviews/files/5107809/od30rut28esfdu4jhjeg.pdf)).

[2020-08-21 08:50] cMadan commented on #2535
@arfon, can you look into this?

[2020-08-21 12:49] whedon opened #2591 "[PRE REVIEW]: astrosource: automating optical astronomy measurement, calibration and analysis for variable stellar sources from provided photometry"
**Submitting author:** @mfitzasp (<a href="http://orcid.org/0000-0001-6554-1826">Michael Fitzgerald</a>)
**Repository:** <a href="https://github.com/zemogle/astrosource/" target ="_blank">https://github.com/zemogle/astrosource/</a>
**Version:** v1.4.0
**Editor:** @arfon
**Reviewers:** @bsipocz, @joshspeagle
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-08-22 17:21] whedon opened #2592 "[PRE REVIEW]: SeismicMesh: Triangular meshing for seismology"
**Submitting author:** @krober10nd (<a href="http://orcid.org/0000-0002-8470-0359">Keith Roberts</a>)
**Repository:** <a href="https://github.com/krober10nd/SeismicMesh" target ="_blank">https://github.com/krober10nd/SeismicMesh</a>
**Version:** v1.2
**Editor:** @meg-simula
**Reviewers:** @nschloe, @jorgensd
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2020-08-23 11:07] whedon opened #2593 "[PRE REVIEW]: biopeaks: a graphical user interface for feature extraction from heart- and breathing biosignals"
**Submitting author:** @JanCBrammer (<a href="http://orcid.org/0000-0002-7664-3753">Jan C. Brammer</a>)
**Repository:** <a href="https://github.com/JanCBrammer/biopeaks" target ="_blank">https://github.com/JanCBrammer/biopeaks</a>
**Version:** v1.4.0
**Editor:** @oliviaguest
**Reviewers:** @TomDonoghue, @sappelhoff, @jamesheathers
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service

[2020-08-23 19:22] gkthiruvathukal commented on #2356
Thanks, @sara-02, I will assign now now!

[2020-08-23 19:23] gkthiruvathukal commented on #2356
@whedon assign @sara-02 as reviewer.

[2020-08-23 19:23] whedon commented on #2356
OK, @sara-02 is now a reviewer

[2020-08-23 21:36] holukas commented on #2575
Proof looks good!

[2020-08-23 21:53] alexssandrofc commented on #2586
Hi @sbenthall, I'm also available for the review, thanks!

[2020-08-23 22:29] Maghnuso commented on #2556
@whedon generate pdf

[2020-08-23 22:30] whedon commented on #2556
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02556/joss.02556/10.21105.joss.02556.pdf)

[2020-08-23 22:49] Maghnuso commented on #2556
Hi @jdbaugher and @majensen, I have reviewed the SeroTools package and manuscript. It's very clearly laid out and as a microbiologist with very little experience using Python or similar packages, I largely found it easy to install and execute. I commend the effort you have made to make this a useful and accessible tool for both computational and non-computational biologists. The paper is well writ

[2020-08-24 00:23] spectralcode commented on #2580
@brandondube thank you very much for your feedback!
**Performance:**
Thank you for testing the performance and providing this information!
Have you used the same data dimensions and the same batch size as stated in the paper? (1024 samples per raw A-scan, 512 A-scans per B-scan, 256 B-scans per volume and batch size: 256 B-scans per buffer)

**Paper:**

&rarr; Fixed!

&rarr; Done! I couldn't find

[2020-08-24 00:23] spectralcode commented on #2580
@whedon generate pdf

[2020-08-24 00:24] whedon commented on #2580
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02580/joss.02580/10.21105.joss.02580.pdf)

[2020-08-24 00:32] nnadeau commented on #2533
@mjsottile , thanks for checking in. I'm waiting for some progress on the linked PRs/issues before completing my review.

[2020-08-24 01:10] jni commented on #2578
@puolival this is just a kind and gentle ping, since I don't see any tick marks above. 😊

[2020-08-24 01:12] jni commented on #2579
@thejohnhoffer Did you see the comments above? I think at this point the reviewers are waiting on you to clarify where the code under review is.

[2020-08-24 01:55] scwest commented on #2044
Here are the requested numbers:

10.5281/zenodo.3996816
Version 1

Thanks for the tutorial!

[2020-08-24 02:45] tresoldi commented on #2356
@gkthiruvathukal yes, glad to help, but I can only work on it from next week on (currently on vacation)

[2020-08-24 02:56] gkthiruvathukal commented on #2356
@tresoldi Thanks so much! That is not a problem at all. I will add you now and get this review started.

[2020-08-24 02:57] gkthiruvathukal commented on #2356
@whedon add @tresoldi as reviewer

[2020-08-24 02:57] whedon commented on #2356
OK, @tresoldi is now a reviewer

[2020-08-24 02:57] gkthiruvathukal commented on #2356
@whedon start review

[2020-08-24 02:57] whedon opened #2594 "[REVIEW]: textnets: A Python package for text analysis with networks"
**Submitting author:** @jboynyc (<a href="http://orcid.org/0000-0003-2118-4702">John Boy</a>)
**Repository:** <a href="https://github.com/jboynyc/textnets" target ="_blank">https://github.com/jboynyc/textnets</a>
**Version:** v0.4.10
**Editor:** @gkthiruvathukal
**Reviewer:** @sara-02, @tresoldi
**Archive:** <a href="https://doi.org/10.5281/zenodo.4028610" target="_blank">10.5281/zenodo.4028610</a

[2020-08-24 02:57] whedon commented on #2356
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2594.

[2020-08-24 02:57] #2356 closed

[2020-08-24 02:57] whedon commented on #2594
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sara-02, @tresoldi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-08-24 02:57] whedon commented on #2594
PDF failed to compile for issue #2594 with the following error:

 Can't find any papers to compile :-(

[2020-08-24 03:03] gkthiruvathukal commented on #2481
@99991, thanks for the excellent follow up. I think adding these applications would be helpful.

@ziatdinovmax, does @99991's follow up address your concern about audience?

[2020-08-24 03:05] jgostick commented on #2381
@whedon set 10.5281/zenodo.3991638 as archive

[2020-08-24 03:05] whedon commented on #2381
OK. <a href="https://doi.org/10.5281/zenodo.3991638" target="_blank">10.5281/zenodo.3991638</a> is the archive.

[2020-08-24 03:05] jgostick commented on #2381
@whedon accept

[2020-08-24 03:05] whedon commented on #2381
[code]

[2020-08-24 03:05] whedon commented on #2381
[code]

[2020-08-24 03:05] whedon commented on #2381
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1663

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1663, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-24 03:06] jgostick commented on #2381
Hi @merrygoat this paper is now acceptable, and an Editor in Chief will come make the final acceptance. Thanks to the reviewers for time!

[2020-08-24 03:11] gkthiruvathukal commented on #2153
@arcuri82, Given that I, too, am working intensely to be prepared for classes this week (with lots of video recording to do, being online) I am going to nudge you & the reviewers in a week or two. As you know, I want to bring this submission to closure, especially  given how long you had to wait.

@s0nata and @UTH-Tuan, please do let me know if @arcuri82's suggestion helps you to move forward with

[2020-08-24 03:12] gkthiruvathukal commented on #2459
@carlosjoseRG, Are you willing to contribute a review for this JOSS submission? I need two reviewers before I can proceed.

[2020-08-24 03:15] gkthiruvathukal commented on #2546
@neurons and @sonal-raj, Are you willing to contribute a review for this JOSS submission?

[2020-08-24 03:16] gkthiruvathukal commented on #2362
@e-dub Just a gentle nudge to find out when we can expect your review? I know this is a busy time of year for many, including me.

[2020-08-24 03:17] ziatdinovmax commented on #2481
@gkthiruvathukal  Yes, it does.

[2020-08-24 04:01] gkthiruvathukal commented on #2481
@ziatdinovmax Thanks!

@99991 Please go ahead and make the revisions you proposed for including proper references.  Then I think we can move toward acceptance. (I will post a final checklist of things we need to do, once your article is updated.)

[2020-08-24 06:11] dpsanders commented on #2355
👋 @labarba. Yes this submission has proved challenging! I'm waiting on responses from more people I've reached out to by email.

[2020-08-24 06:30] ziotom78 commented on #2559
Hi @diehlpk , sorry for the delay, but I'm currently on vacation till mid-September. I could work on this only once I came back to work, don't know if this fits the time scale of this review.

[2020-08-24 07:26] mikapfl commented on #2381
In the generated pdf (https://github.com/openjournals/joss-papers/blob/5c52f575ebfaac4c6c44846620f181dd6859ae5a/joss.02381/10.21105.joss.02381.pdf) the citations at the end of the first paragraph look funny. They somehow use `[]` instead of `()` and the `Hammersley_2016` also doesn't look right.

[2020-08-24 07:34] jonasrauber commented on #2574
@terrytangyuan

Here are some suggestions for potential reviewers from the list:

- ethanwharris
- rasbt
- willprice

And some more potential reviewers from the list:

- GregaVrbancic
- JesseLivezey
- nilesh-patil

It’s difficult to find someone from the specific field (adversarial robustness) on the list, so here is another suggestion, but he is not (yet) on the list:

- ttbrunner (Note: we are c

[2020-08-24 08:02] salanne commented on #2373
@richardjgowers @mattwthompson Sorry I was on holidays the past 3 weeks. Thank you for the review, we will look at this asap.

[2020-08-24 08:02] whedon opened #2595 "[PRE REVIEW]: MewMew : Programming in Cats' Language"
**Submitting author:** @bauripalash (<a href="http://orcid.org/0000-0002-0498-628X">Palash Bauri</a>)
**Repository:** <a href="https://github.com/bauripalash/mewmew/" target ="_blank">https://github.com/bauripalash/mewmew/</a>
**Version:** v0.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-08-24 08:03] whedon commented on #2595
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-24 08:03] whedon commented on #2595
Failed to discover a `Statement of need` section in paper

[2020-08-24 08:03] whedon commented on #2595
[code]

[2020-08-24 08:03] whedon commented on #2595
[code]

[2020-08-24 08:03] arfon commented on #2595
@whedon query scope

[2020-08-24 08:03] whedon commented on #2595
Submission flagged for editorial review.

[2020-08-24 08:03] whedon commented on #2595
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02595/joss.02595/10.21105.joss.02595.pdf)

[2020-08-24 08:04] arfon commented on #2595
@bauripalash - thanks for your submission to JOSS. While this submission is very fun 😺, it's not in scope for JOSS sorry.

[2020-08-24 08:04] arfon commented on #2595
@whedon reject

[2020-08-24 08:04] whedon commented on #2595
Paper rejected.

[2020-08-24 08:04] #2595 closed

[2020-08-24 08:07] bauripalash commented on #2595
🤷‍♂️ Thank you 😔

[2020-08-24 08:40] arfon commented on #2287
Update: I emailed @hpparvi this morning to see when they might be able to complete their review by.

[2020-08-24 09:13] jni commented on #2593
@labarba (👋!) sorry, unfortunately I don't have the bandwidth to take on one more paper right now... (But @JanCBrammer thanks for the reviewer suggestions! They will make the editor's job much easier!)

[2020-08-24 09:19] JanCBrammer commented on #2593
@jni, no worries, thanks for the quick response! @labarba, alternatively the following editors seem to fit the subject domain: oliviaguest, cMadan, arokem.

[2020-08-24 09:24] labarba commented on #2593
@whedon invite @oliviaguest as editor

[2020-08-24 09:24] whedon commented on #2593
@oliviaguest has been invited to edit this submission.

[2020-08-24 09:27] labarba commented on #2593
👋 @oliviaguest — can you take this extra submission to handle? I know you are already handling two others, but the other two suggested editors are listed in 'reduced mode' on our tracking. Tough times!

[2020-08-24 09:29] fverdugo commented on #2520
Hi @Kevin-Mattheus-Moerman,

the reviewers have given their approval several days ago.  Is something preventing the next steps towards the final publication?

[2020-08-24 10:56] peanutfun commented on #2313
@meg-simula I created a [tagged release](https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie/-/releases/v2.0.1) of the reviewed software including the updates proposed by the reviewers. I [archived](https://doi.org/10.5281/zenodo.3997152) this version at Zenodo and added the appropriate metadata. The DOI for the exact version archive is `10.5281/zenodo.3997152`.

I also fixed the grammatical error

[2020-08-24 10:57] peanutfun commented on #2313
@whedon generate pdf from branch joss-paper

[2020-08-24 10:57] whedon commented on #2313
[code]

[2020-08-24 10:57] meg-simula commented on #2592
@whedon generate pdf

[2020-08-24 10:57] whedon commented on #2592
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02592/joss.02592/10.21105.joss.02592.pdf)

[2020-08-24 10:58] whedon commented on #2313
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02313/joss.02313/10.21105.joss.02313.pdf)

[2020-08-24 11:07] meg-simula commented on #2592
@santisoler @nschloe would you be available to review this submission for JOSS? Please take a look at our reviewer guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html, and let us know. Your help would be much appreciated.

[2020-08-24 11:10] meg-simula commented on #2313
@whedon check references from branch joss-paper

[2020-08-24 11:10] whedon commented on #2313
[code]

[2020-08-24 11:11] whedon commented on #2313
[code]

[2020-08-24 11:11] meg-simula commented on #2313
@whedon set version as 2.0.1

[2020-08-24 11:11] whedon commented on #2313
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-24 11:12] meg-simula commented on #2313
@whedon set 2.0.1 as version

[2020-08-24 11:12] whedon commented on #2313
OK. 2.0.1 is the version.

[2020-08-24 11:12] meg-simula commented on #2313
@whedon set 10.5281/zenodo.3997152 as archive

[2020-08-24 11:12] whedon commented on #2313
OK. <a href="https://doi.org/10.5281/zenodo.3997152" target="_blank">10.5281/zenodo.3997152</a> is the archive.

[2020-08-24 11:12] meg-simula commented on #2313
@whedon accept

[2020-08-24 11:13] whedon commented on #2313
[code]

[2020-08-24 11:13] whedon commented on #2313
PDF failed to compile for issue #2313 with the following error:

 Can't find any papers to compile :-(

[2020-08-24 11:18] tuelwer commented on #2481
@ziatdinovmax @gkthiruvathukal thank you for your fast responses! We added the references to the paper and included the statement about the target audience in the first section of the paper.

We also made some further changes to the first section and the formatting of the references.

[2020-08-24 11:18] tuelwer commented on #2481
@whedon generate pdf from branch joss-submission

[2020-08-24 11:18] whedon commented on #2481
[code]

[2020-08-24 11:19] whedon commented on #2481
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02481/joss.02481/10.21105.joss.02481.pdf)

[2020-08-24 12:26] merrygoat commented on #2381
@mikapfl Thank you - you are right, we had missed an @ symbol there. Corrected and released as version v1.1.2.

@jgostick Is it possible to tell whedon to use another version? The updated doi is: `10.5281/zenodo.3997251`

We would also like to thank both reviewers - your comments were insightful and lead to significant improvements.

[2020-08-24 12:27] arfon commented on #2313
@whedon accept from branch joss-paper

[2020-08-24 12:27] whedon commented on #2313
[code]

[2020-08-24 12:27] whedon commented on #2313
[code]

[2020-08-24 12:28] whedon commented on #2313
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1664

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1664, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-24 12:58] dfm commented on #2540
@smutch and @benjaminpope have kindly agreed to review this submission - thanks Simon and Ben!

I'll add you both as reviewers and then get the review started. Let me know if any of you have any questions as things progress.

[2020-08-24 12:58] dfm commented on #2540
@whedon assign @smutch as reviewer

[2020-08-24 12:58] whedon commented on #2540
OK, @smutch is now a reviewer

[2020-08-24 12:58] dfm commented on #2540
@whedon add @benjaminpope as reviewer

[2020-08-24 12:58] whedon commented on #2540
OK, @benjaminpope is now a reviewer

[2020-08-24 12:59] dfm commented on #2540
@whedon start review

[2020-08-24 12:59] whedon opened #2596 "[REVIEW]: maxsmooth: Derivative Constrained Function Fitting"
**Submitting author:** @htjb (<a href="http://orcid.org/0000-0002-4367-3550">Harry Bevins</a>)
**Repository:** <a href="https://github.com/htjb/maxsmooth" target ="_blank">https://github.com/htjb/maxsmooth</a>
**Version:** 1.2.0
**Editor:** @dfm
**Reviewer:** @smutch, @benjaminpope
**Archive:** <a href="https://doi.org/10.5281/zenodo.4059338" target="_blank">10.5281/zenodo.4059338</a>

**:warning:

[2020-08-24 12:59] whedon commented on #2540
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2596.

[2020-08-24 12:59] #2540 closed

[2020-08-24 12:59] whedon commented on #2596
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @smutch, @benjaminpope it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-08-24 13:00] whedon commented on #2596
[code]

[2020-08-24 13:00] whedon commented on #2596
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02596/joss.02596/10.21105.joss.02596.pdf)

[2020-08-24 13:00] dfm commented on #2540
@htjb, @smutch, @benjaminpope: We can head over to #2596 now for the main review where you'll find more instructions and the reviewer checklists. See you all there!

[2020-08-24 13:04] stheid commented on #2435
You are absolutely right. Something went broken with the linking to the source code, perhaps we renamed files. We will definetly check it again. Thanks a lot for discovering that !

[2020-08-24 13:14] kullrich commented on #2424
@KristinaRiemer I have now added the Code of Conduct and Contributing section. Maybe you can check if this is sufficient for JOSS.

Concerning submitting the package to CRAN or Bioconductor using Cygwin I was able to build the external resources on win10.
However it is still a bit complicated to parse the automatic R check (Cygwin is not included in travis.ci, while MSYS is, but MSYS uses the wind

[2020-08-24 13:31] zbeekman commented on #2049
Since both projects are GPL, I personally would archive the MATLAB code in a folder with a readme describing when it was retrieved, from where, references etc. But I'm not saying you need to do that for a successful JOSS review.

It now looks perfect to me! I think this will help others who stumble upon the project to better understand how and why to use it!

Great, I always like to try to make th

[2020-08-24 13:34] jodemaey commented on #2549
Ok, we suggest Sadie Bartholomew (sadielbartholomew) then.

[2020-08-24 13:43] diehlpk commented on #2559
@ziotom78 Thanks for your positive response. It will be fine if you start after your vacation with the review.

[2020-08-24 13:44] diehlpk commented on #2559
@whedon assign @ziotom78 as reviewer

[2020-08-24 13:44] whedon commented on #2559
OK, @ziotom78 is now a reviewer

[2020-08-24 13:50] harpolea commented on #2549
Thanks!

:wave: @sadielbartholomew, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-08-24 13:52] rabernat commented on #2549
Hi all--sorry for the slow response. I have been on vacation for most of August.

I am not able to review this submission right now. Some great alternatives might be @mfjansen, @francispoulin, @navidcy, @pittwolfe, and @mbueti, all of whom have worked on [pyqg](https://github.com/pyqg/pyqg).

[2020-08-24 13:57] andremrsantos commented on #2559
Sorry for the delay. I would be glad to review the paper if you're still accepting reviewers. If so, could you please link me to the journal review criteria and guidelines?

[2020-08-24 14:11] sadielbartholomew commented on #2549
Hi, thanks for the request and yes I am happy to review this, assuming you are happy to wait one week or so for me to start reviewing since I am currently a JOSS reviewer for another library and will need to devote a little more time to that review before I should accept another.

[2020-08-24 14:13] harpolea commented on #2549
@sadielbartholomew great, thanks! And yes, that's totally fine – we typically ask that reviews are completed within 6 weeks or so, so that should give you plenty of time to finish up with the other review first!

[2020-08-24 14:13] harpolea commented on #2549
@whedon add @sadielbartholomew as reviewer

[2020-08-24 14:13] whedon commented on #2549
OK, @sadielbartholomew is now a reviewer

[2020-08-24 14:14] whedon opened #2597 "[REVIEW]: qgs: A flexible Python framework of reduced-order multiscale climate models"
**Submitting author:** @jodemaey (<a href="http://orcid.org/0000-0002-5098-404X">Jonathan Demaeyer</a>)
**Repository:** <a href="https://github.com/Climdyn/qgs" target ="_blank">https://github.com/Climdyn/qgs</a>
**Version:** v0.2.0
**Editor:** @harpolea
**Reviewer:** @eviatarbach, @sadielbartholomew
**Archive:** <a href="https://doi.org/10.5281/zenodo.4368844" target="_blank">10.5281/zenodo.43688

[2020-08-24 14:14] whedon commented on #2549
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2597.

[2020-08-24 14:14] whedon commented on #2597
PDF failed to compile for issue #2597 with the following error:

 Can't find any papers to compile :-(

[2020-08-24 14:15] harpolea commented on #2597
@whedon generate pdf from branch joss

[2020-08-24 14:15] whedon commented on #2597
[code]

[2020-08-24 14:16] whedon commented on #2597
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02597/joss.02597/10.21105.joss.02597.pdf)

[2020-08-24 14:21] ali-ramadhan commented on #2018
@whedon generate pdf from branch joss-paper

[2020-08-24 14:21] whedon commented on #2018
[code]

[2020-08-24 14:21] whedon commented on #2018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02018/joss.02018/10.21105.joss.02018.pdf)

[2020-08-24 14:26] labarba commented on #2313
@whedon accept deposit=true from branch joss-paper

[2020-08-24 14:26] whedon commented on #2313
[code]

[2020-08-24 14:28] whedon commented on #2313
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1297903513817755649) 👈 🐦🐦🐦

[2020-08-24 14:28] whedon commented on #2313
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1665
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02313](https://doi.org/10.21105/joss.02313)
2. If everything looks g

[2020-08-24 14:28] labarba commented on #2313
Congratulations, @peanutfun, your JOSS paper is published! 🚀

Big thanks to our editor: @meg-simula, and the reviewers: @gassmoeller, @pratikvn — we couldn't do this without you 🙏

[2020-08-24 14:29] #2313 closed

[2020-08-24 14:29] whedon commented on #2313
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02313/status.svg)](https://doi.org/10.21105/joss.02313)

**We need your help!**

Journal of Open Source Softwa

[2020-08-24 14:37] victorvalgenti commented on #2183
@VivianePons @mzszym @miketuri I have reviewed the latest changes.

1. Installation instructions and scripts added. The dependencies from CPAN were substantial and require some familiarity with Perl, but are workable.
2. There are now a set of tests and they pass given that the correct modules are installed.
3. The script API is built and documented and populated in the docs/ directory.
4. The exa

[2020-08-24 14:48] dpsanders commented on #2355
@whedon add davidjohannesmeyer as reviewer

[2020-08-24 14:48] whedon commented on #2355
OK, davidjohannesmeyer is now a reviewer

[2020-08-24 14:48] dpsanders commented on #2355
@whedon add @davidjohannesmeyer as reviewer

[2020-08-24 14:49] whedon commented on #2355
OK, @davidjohannesmeyer is now a reviewer

[2020-08-24 14:49] dpsanders commented on #2355
@whedon start review

[2020-08-24 14:49] whedon opened #2598 "[REVIEW]: set6: R6 Mathematical Sets Interface"
**Submitting author:** @RaphaelS1 (<a href="http://orcid.org/0000-0001-9225-4654">Raphael E. B. Sonabend</a>)
**Repository:** <a href="https://github.com/xoopR/set6" target ="_blank">https://github.com/xoopR/set6</a>
**Version:** 0.2.0
**Editor:** @dpsanders
**Reviewers:** @dmbates, @wch, @davidjohannesmeyer
**Archive:** <a href="https://doi.org/10.5281/zenodo.3712054" target="_blank">10.5281/zeno

[2020-08-24 14:49] whedon commented on #2355
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2598.

[2020-08-24 14:49] #2355 closed

[2020-08-24 14:49] whedon commented on #2598
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dmbates, @davidjohannesmeyer, @davidjohannesmeyer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that mea

[2020-08-24 14:49] whedon commented on #2598
[code]

[2020-08-24 14:50] peanutfun commented on #2313
Many thanks to everybody involved! 😊

[2020-08-24 14:50] whedon commented on #2598
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02598/joss.02598/10.21105.joss.02598.pdf)

[2020-08-24 14:53] tomazbregar commented on #2588
@arfon - sorry for the large repository size, I forgot to clean the old datasets. The new updated repository contains only relevant data and its much smaller (< 100 Mb).

@labarba - I rewrote the Summary and added a section *Statement of need* to the paper (branch name *joss_paper*). Regarding the state of the field, as pointed out in the paper, there is currently no opensource package to support

[2020-08-24 14:53] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-24 14:53] whedon commented on #2352
[code]

[2020-08-24 14:55] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-24 14:57] diehlpk commented on #2352
@davidbeckingsale Please find above the revised version. We are looking forward to your review.

[2020-08-24 15:08] diehlpk commented on #2559
@andremrsantos

Please find the review criteria here

https://joss.readthedocs.io/en/latest/review_criteria.html

and the review checklist here

https://joss.readthedocs.io/en/latest/review_checklist.html

[2020-08-24 15:09] diehlpk commented on #2559
@whedon add @andremrsantos as reviewer

[2020-08-24 15:09] whedon commented on #2559
OK, @andremrsantos is now a reviewer

[2020-08-24 15:09] diehlpk commented on #2559
@whedon start review

[2020-08-24 15:09] whedon opened #2599 "[REVIEW]: A Short Introduction to PF: A C++ Library for Particle Filtering"
**Submitting author:** @tbrown122387 (<a href="http://orcid.org/0000-0003-4972-6251">Taylor Brown</a>)
**Repository:** <a href="https://github.com/tbrown122387/pf" target ="_blank">https://github.com/tbrown122387/pf</a>
**Version:** v1.0.3
**Editor:** @diehlpk
**Reviewer:** @ziotom78, @andremrsantos
**Archive:** <a href="https://doi.org/10.5281/zenodo.4068564" target="_blank">10.5281/zenodo.406856

[2020-08-24 15:09] whedon commented on #2559
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2599.

[2020-08-24 15:09] #2559 closed

[2020-08-24 15:09] whedon commented on #2599
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ziotom78, @andremrsantos it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-08-24 15:10] whedon commented on #2599
[code]

[2020-08-24 15:10] whedon commented on #2599
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02599/joss.02599/10.21105.joss.02599.pdf)

[2020-08-24 15:12] arokem commented on #2589
Hi @Nico-Curti and co-authors: thank you for this submission. I have now read the article and looked through the software. The next steps are for me to offer some comments on this initial submission and for us to find appropriate reviewers.

First, my comments on the article:

1. The readership of JOSS is expected to be very broad, so you will need to provide a bit more context for the software. F

[2020-08-24 15:41] sjvrijn commented on #2049
That sounds like a decent solution to preserve the code. I'll add it to a subfolder in the [`docs/scripts`](https://github.com/sjvrijn/mf2/tree/master/docs/scripts) folder for completeness' sake.

No worries, I realised it wasn't, but simply thought it was a good idea as I hadn't realised GitHub points to it when writing issues/PRs. Thanks again for fixing the link 👍

Thanks for the review! 🎉

[2020-08-24 16:00] diehlpk commented on #2403
Hey @lukasheinrich are you still available for the review? If you can not finish the review, it would be great if you let me know, so I could start to find some replacement for you.

[2020-08-24 16:00] zbeekman commented on #2049
Stay well and stay safe!

[2020-08-24 16:00] kbarnhart commented on #2407
@Xunius thanks for checking in. The JOSS review process can sometimes be a bit more iterative than a traditional journal. For example, if there is an issue that prevents a reviewer from completing their review (e.g., installation issues), then they may start the review, make an issue, wait for the authors address it, and then the reviewers can resume their review.

It appears that there are a few

[2020-08-24 16:28] arfon commented on #2588
:+1: great!

[2020-08-24 16:34] thejohnhoffer commented on #2579
Hi @jni and @will-moore .

I'm sorry for the confusion. We have indeed split the code for this project among four separate repositories. Instructions for where to access these repositories is hidden on the [Minerva Story Wiki](https://github.com/labsyspharm/minerva-story/wiki/For-Developers), but I'll replicate that here.

### Minerva Story
The GitHub Pages site build is stored at [minerva-story](

[2020-08-24 16:49] blsqr commented on #2316
Big thanks from us, too! We really enjoyed the review process and are grateful for the feedback we got on dantro. 😊

[2020-08-24 16:50] mathieuboudreau commented on #2478
Thanks - I'm on it this afternoon.

[2020-08-24 16:55] kbarnhart commented on #2361
@tylunel thanks for making these changes. I definitely think that expanding your examples into notebooks and adding explanatory text substantially improves the package documentation. I also tried out the binder instance and it worked well! I find Binder is a great way to allow potential users to try out software quickly. Nice work 👍

Perhaps I'm mistaken, but I still don't see API documentation th

[2020-08-24 16:56] kbarnhart commented on #2276
@whedon remind kbarnhart in 2 weeks

@KevinShook just setting a reminder for myself to check in on this in a few weeks.

[2020-08-24 16:57] whedon commented on #2276
Reminder set for kbarnhart in 2 weeks

[2020-08-24 17:07] whedon commented on #2377
:wave: @Emma-k-ward, please update us on how your review is going.

[2020-08-24 18:47] arfon commented on #2049
@whedon generate pdf

[2020-08-24 18:47] arfon commented on #2049
@whedon check references

[2020-08-24 18:47] whedon commented on #2049
PDF failed to compile for issue #2049 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedon/compilers.rb:158:in `initialize': No such file or directory @ rb_sysopen - tmp/2049/JOSS-paper/markdown-metadata.yaml (Errno::ENOENT)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedon/compilers.rb:158:in `open'
	from /app/vendor/b

[2020-08-24 18:47] whedon commented on #2049
[code]

[2020-08-24 18:49] arfon commented on #2049
@whedon generate pdf

[2020-08-24 18:49] whedon commented on #2049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02049/joss.02049/10.21105.joss.02049.pdf)

[2020-08-24 18:56] arfon commented on #2049
@sjvrijn - I made a couple of minor changes in https://github.com/sjvrijn/mf2/pull/8 to your paper.

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make s

[2020-08-24 19:11] sp94 commented on #2239
Hi @dpsanders, have you had a chance to look at these changes?

[2020-08-24 19:51] mathieuboudreau commented on #2478
Thanks to some clarifications from the authors (https://github.com/ritagnunes/PulseqDiffusion/issues/4#issuecomment-669341558, https://github.com/ritagnunes/PulseqDiffusion/issues/6), I’ve been able to better understand the authors goal for the code and test it out a bit more.

After testing the code a bit, to my understanding (and as @grlee77 pointed out) this submission is more of a collection o

[2020-08-24 20:56] mccabete commented on #2575
@KristinaRiemer I think the dyco repository aka [ target repository](https://gitlab.ethz.ch/holukas/dyco-dynamic-lag-compensation) is being hosted through ETH Zurich. I seem to need an ETH Zurich log-in to add issues. How do you want me to proceed?

[2020-08-24 21:32] bmcfee commented on #2344
Indeed -- I've been trying, oh how I've been trying! -- but august is tough even in good times.  I'll put out another blast shortly.

[2020-08-24 22:07] sjvrijn commented on #2049
Hi @arfon I've published version v2020.8.0, the zenodo DOI is [10.5281/zenodo.3998591](https://zenodo.org/record/3998591)

[2020-08-24 22:34] fboehm commented on #2402
@homonecloco and @tomsing1 - we have the updated pdf now. What are your feelings about it and the package in the current state? As you work through the last of the checklists, please feel free to continue offering suggestions for improvement as needed, and please do let me know how I can assist you. Thanks again!!

[2020-08-24 22:42] fboehm commented on #2474
Thank you, @craddm for mentioning the issue. @tomaslaz - Do you have any questions on how to proceed with revisions based on the open issue from @craddm?

@janfreyberg Is there anything that I can do to help as you review the submission? Do you have any questions about the checklist? Thanks again!!

[2020-08-24 23:07] will-moore commented on #2579
Hi @thejohnhoffer, thanks for that.
Is there any more info on how to build the source code from https://github.com/labsyspharm/minerva-browser into the bundle.js at https://github.com/labsyspharm/minerva-story/blob/master/_includes/bundle.js?
I can see a webpack build config etc for minerva-author-ui but not for minerva-browser?
 Many thanks,
  Will.

[2020-08-25 04:02] pibion commented on #2484
Thanks @dghoshal-lbl !

[2020-08-25 06:47] arfon commented on #2049
@whedon set 10.5281/zenodo.3998591 as archive

[2020-08-25 06:47] whedon commented on #2049
OK. <a href="https://doi.org/10.5281/zenodo.3998591" target="_blank">10.5281/zenodo.3998591</a> is the archive.

[2020-08-25 06:47] arfon commented on #2049
@whedon set v2020.8.0 as version

[2020-08-25 06:47] whedon commented on #2049
OK. v2020.8.0 is the version.

[2020-08-25 06:47] arfon commented on #2049
@whedon remove @petroniocandido as reviewer

[2020-08-25 06:47] whedon commented on #2049
OK, @petroniocandido is no longer a reviewer

[2020-08-25 06:49] arfon commented on #2049
@whedon accept

[2020-08-25 06:49] whedon commented on #2049
[code]

[2020-08-25 06:49] whedon commented on #2049
[code]

[2020-08-25 06:50] whedon commented on #2049
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1666

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1666, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-25 06:54] arfon commented on #2049
@whedon accept deposit=true

[2020-08-25 06:54] whedon commented on #2049
[code]

[2020-08-25 06:55] whedon commented on #2049
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1298151931479756801) 👈 🐦🐦🐦

[2020-08-25 06:55] whedon commented on #2049
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1667
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02049](https://doi.org/10.21105/joss.02049)
2. If everything looks g

[2020-08-25 06:59] arfon commented on #2049
@torressa, @zbeekman - many thanks for your reviews and to @melissawm for editing this submission ✨

@sjvrijn - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-08-25 06:59] #2049 closed

[2020-08-25 06:59] whedon commented on #2049
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02049/status.svg)](https://doi.org/10.21105/joss.02049)

**We need your help!**

Journal of Open Source Softwa

[2020-08-25 07:26] tylunel commented on #2361
Ho sorry! Actually you were very clear on what you expected, and I did the changes accordingly. But it seems that the documentation builds correctly only locally, and not when I push it on GitHub and readthedocs. So I'm embarrassed, I forgot to check that my last changes on API build well online too... I will investigate why local and online builds differ on that.

[2020-08-25 08:11] puolival commented on #2578
@jni I am almost finished with the review (1–2 more days), so I thought I would send all comments at once.

[2020-08-25 08:53] csoneson commented on #2440
ping @neuromusic

[2020-08-25 09:29] holukas commented on #2575
@mccabete @KristinaRiemer I will check with ETH Zurich how they handle this and if they can open the registration.

[2020-08-25 09:36] Kevin-Mattheus-Moerman commented on #2520
@fverdugo apologies for the delay. This looks good and I will now proceed to process this paper for acceptance.

[2020-08-25 09:44] Kevin-Mattheus-Moerman commented on #2520
@fverdugo some final steps:

- [ ] I've reviewed your paper and confirm it looks good. However can you remove this last sentence:
`The source code for Gridap has been archived to Zenodo with the linked DOI 10.5281/zenodo.3934468.`, I ask this since the paper will have a link (top left) to the latest and more accurate archived version anyway.

- [ ] This work is about to be processed for acceptance

[2020-08-25 09:54] Kevin-Mattheus-Moerman commented on #2478
Thank you @mathieuboudreau for highlighting these important points.

@grlee77 it would be great if you could also weigh in on these comments. Based on @mathieuboudreau 's comments this work does not warrant publication in JOSS (given https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). Do you agree with his statements?

[2020-08-25 09:56] Kevin-Mattheus-Moerman commented on #2527
@openjournals/dev can you help advise as to how to change the title of a submission?

[2020-08-25 09:57] Kevin-Mattheus-Moerman commented on #2527
@grlee77 thanks again for your help. Can you review the changes implemented by the authors.
You have two boxes unticked (state of the field, references), can you comment/summarize to the authors what is needed for these to be checked?

[2020-08-25 10:41] zemogle commented on #2591
Hey @arfon! Ideas for reviewers are @bsipocz and @rzellem

The DOIs should be fixed now 👍

[2020-08-25 10:42] zemogle commented on #2591
@whedon check references

[2020-08-25 10:42] teamPSG commented on #2377
Hello @oliviaguest! I'd return to my questions from last week: I would like to ask you to please consider making a decision about acceptance of our paper as editor (or as board of editors). I am asking this because I feel the review of our paper got stuck. A brief summary of where we are: I submitted the paper on **May 20** (https://joss.theoj.org/papers/5726bdd4b144467c8093e90df0169c25), the revi

[2020-08-25 10:42] whedon commented on #2591
[code]

[2020-08-25 10:47] zemogle commented on #2591
Hmmm. Those are the DOIs referenced in ATOM. It looks like they don't resolve correctly.

[2020-08-25 10:47] janfreyberg commented on #2474
Hi all - apologies for the long delay in my review, I should have updated you earlier. I've just updated the checklist and created an issue on the DetectorChecker repo!

[2020-08-25 11:13] Kevin-Mattheus-Moerman commented on #2372
@whedon set 10.5281/zenodo.3995623 as archive

[2020-08-25 11:13] whedon commented on #2372
OK. <a href="https://doi.org/10.5281/zenodo.3995623" target="_blank">10.5281/zenodo.3995623</a> is the archive.

[2020-08-25 11:16] Kevin-Mattheus-Moerman commented on #2372
@whedon accept

[2020-08-25 11:16] whedon commented on #2372
[code]

[2020-08-25 11:16] whedon commented on #2372
[code]

[2020-08-25 11:16] whedon commented on #2372
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1668

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1668, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-25 11:20] Kevin-Mattheus-Moerman commented on #2372
@whedon accept deposit=true

[2020-08-25 11:20] whedon commented on #2372
[code]

[2020-08-25 11:21] whedon commented on #2372
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1298218873221677058) 👈 🐦🐦🐦

[2020-08-25 11:21] whedon commented on #2372
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1669
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02372](https://doi.org/10.21105/joss.02372)
2. If everything looks g

[2020-08-25 11:22] #2372 closed

[2020-08-25 11:22] whedon commented on #2372
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02372/status.svg)](https://doi.org/10.21105/joss.02372)

**We need your help!**

Journal of Open Source Softwa

[2020-08-25 11:53] VivianePons commented on #2183
I see things are progressing! Thank you @miketuri for the work and @victorvalgenti for the review.

@mzszym do you think you'll have time to review the new version anytime soon?

[2020-08-25 12:22] mzszym commented on #2183
@VivianePons I will have a look at it later this week, hopefully it will be possible to finish the interview from my side.

[2020-08-25 12:39] wallscheid commented on #2498
As @wkirgsn announced we have revised the paper based on the reviewer remarks. Hence, we are looking forward to further comments on the paper.

In the meantime we are working on a major update of the master branch, which can already be previewed on the nightly branch.

[2020-08-25 12:40] wallscheid commented on #2498
@whedon generate pdf

[2020-08-25 12:41] whedon commented on #2498
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02498/joss.02498/10.21105.joss.02498.pdf)

[2020-08-25 12:51] fboehm commented on #2474
Excellent - thanks @janfreyberg ! @tomaslaz - please let me know if you have any questions about the opened issues. Thanks again!!

[2020-08-25 13:14] holukas commented on #2575
@mccabete @KristinaRiemer I just got feedback from ETH. While the code itself is open to everyone, issues can only be added after registering an account with an email address from the ETH domain. However, there is the possibility to create a guest account for the purpose of adding issues. Would this still be in line with JOSS requirements?

[2020-08-25 13:35] arfon commented on #2591
:wave: @bsipocz & @rzellem - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-08-25 13:35] arfon commented on #2591
Indeed. I've enquired here: https://twitter.com/arfon/status/1298252048861814784

[2020-08-25 13:36] bluescarni commented on #2338
@whedon generate pdf

[2020-08-25 13:36] whedon commented on #2338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf)

[2020-08-25 13:37] arfon commented on #2527
Just change the title of the paper in the `paper.md` file.

[2020-08-25 13:43] grlee77 commented on #2527
You have two boxes unticked (state of the field, references), can you comment/summarize to the authors what is needed for these to be checked?

These were addressed by the revised statement of need. I have now checked them off and am satisfied with the publication.

[2020-08-25 13:50] bluescarni commented on #2338
@eloisabentivegna @jangmys @dgoldri25 @darioizzo we have added a section about related projects/frameworks and fixed the typos. Please let us know if there is anything else.

@jangmys regarding your question about the GPU: what pagmo provides is an API to compute the fitness evaluation of a group of independent decision vectors in a (possibly) parallel fashion. Such API can then be used by optimis

[2020-08-25 13:57] kerkelae commented on #2527
Thank you to all the reviewers!

@arfon and @Kevin-Mattheus-Moerman, I have changed the title in the `paper.md` file. I just wanted to know if there is something more I need to do because the old title was still shown on the [JOSS website](https://joss.theoj.org/papers/ee3aa136859cb47595de7de8eb84b441)

[2020-08-25 14:15] grlee77 commented on #2478
Yes, I think those comments are accurate and was also uncertain that it met those the criteria. I agree with his summary:

The only difference I see from what @mathieuboudreau reported is that the `process_data.m` example did work for me (FSL 5.0.11 on my system had the required `eddy_openmp` binary).

I did also try running the unit tests today via `runTests_ReconAndProcessing.m`. Some passed, bu

[2020-08-25 14:48] fverdugo commented on #2520
@whedon generate pdf from branch joss

[2020-08-25 14:48] whedon commented on #2520
[code]

[2020-08-25 14:49] whedon commented on #2520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02520/joss.02520/10.21105.joss.02520.pdf)

[2020-08-25 15:02] thejohnhoffer commented on #2579
Hi @will-moore ,

We have a webpack build config, but it has not yet been integrated into either minerva-story or minerva-browser. Today, I will refactor the code slightly to include in the minerva-story repo a proper build setup for the minerva-browser bundle.

[2020-08-25 15:09] fverdugo commented on #2520
The source code for Gridap has been archived to Zenodo with the linked DOI 10.5281/zenodo.3934468., I ask this since the paper will have a link (top left) to the latest and more accurate archived version anyway.

I have removed the line (see the proof). **Note however, that the link to the archive (top left in the proof) is not working.**

It is ok from my side (except the broken link, which has t

[2020-08-25 15:09] arfon commented on #2527
The version on the JOSS site will update when the paper is published.

[2020-08-25 15:32] kbarnhart commented on #2361
@tylunel no problem. Whenever the API builds are live online, just ping me here and I'll take a look.

[2020-08-25 15:45] MrMinimal64 commented on #2392
Hello @dpsanders, @saschatimme, @alex-konovalov, @henrik227,
This review already started 2 month ago.
What is the current status and the timeline for the next steps?
With kind regards,
Jannik Michelfeit

[2020-08-25 16:11] diehlpk commented on #2291
@dglaeser Can you recommend someone on your community as a potential reviewer?

[2020-08-25 18:09] miketuri commented on #2183
Thank you @VivianePons, @mzszym, and @victorvalgenti for reviewing and overseeing my submission during this time.

And thank you @victorvalgenti for the review; for your question, yes, there is no warranty or guarantee with this software, however, I can be emailed if there are questions, and bugs or feature requests can be submitted via the repository's issues tracker.  I noticed that I included t

[2020-08-25 18:28] mccabete commented on #2575
I can't speak to JOSS requirements, but I am happy to create a guest account for the review.

[2020-08-25 18:34] zpace commented on #2567
Sorry, I can't commit to this at the moment. Would love to review something in a couple weeks, though

[2020-08-25 18:40] harpolea commented on #2567
@zpace Thanks for your response! We typically ask that reviews are completed within 6 weeks – do you think that you'd be able to complete a review within that time frame?

[2020-08-25 18:42] rzellem commented on #2591
Normally I'd be happy to review submissions, @arfon, but I'm refereeing another 3 journals at the moment. I recommend you reach out to @pearsonkyle

[2020-08-25 19:09] arcuri82 commented on #2153
In the end, it took less than I thought.
I created a small example of API, available at [rest-api-example](https://github.com/EMResearch/rest-api-example).
I also made a [video](https://youtu.be/ORxZoYw7LnM) showing how to implement an`EMDriver` to enable white-box testing with EvoMaster.
Video is now linked from the main Readme documentation.

[2020-08-25 19:38] arfon commented on #2591
👍 thanks for the quick response @rzellem! :wave: @pearsonkyle - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-08-25 20:02] neuromusic commented on #2440
Thanks for the ping :D I'll follow up on the remaining issues shortly.

[2020-08-25 20:20] thejohnhoffer commented on #2579
Hi @will-moore,

I've updated Minerva Story [to include webpack instructions](https://github.com/labsyspharm/minerva-story#rebuilding-minerva-browser) for rebuilding Minerva Browser.

[2020-08-25 20:47] lootie commented on #2463
[code]

[2020-08-25 20:48] davidbeckingsale commented on #2352
I like the refactored applications piece - can you make it a section (or sub section) so it stands out?

Other changes look good.

[2020-08-25 20:55] dpsanders commented on #2392
👋 @MrMinimal64, apologies for my absence.

👋 @henrik227, @alex-konovalov, @saschatimme: How are your reviews of this submission coming along? Hopefully we can have a first round of comments finished, say, by the end of August? Thanks!

[2020-08-25 20:56] dpsanders commented on #2384
👋 @Shibabrat: Just checking in to see if you have been able to make progress with your review on this submission? Thanks!

[2020-08-25 21:12] dpsanders commented on #2182
👋 @joglekara: I added a couple of issues in the repo.

[2020-08-25 21:13] Kevin-Mattheus-Moerman commented on #2520
@whedon set 10.5281/zenodo.3999839 as archive

[2020-08-25 21:13] whedon commented on #2520
OK. <a href="https://doi.org/10.5281/zenodo.3999839" target="_blank">10.5281/zenodo.3999839</a> is the archive.

[2020-08-25 21:13] Kevin-Mattheus-Moerman commented on #2520
@whedon set v0.13.4 as version

[2020-08-25 21:13] whedon commented on #2520
OK. v0.13.4 is the version.

[2020-08-25 21:13] Kevin-Mattheus-Moerman commented on #2520
@whedon generate pdf

[2020-08-25 21:13] dpsanders commented on #2239
👋  @sp94: Sorry for the delay. Everything is looking good to me, thanks!

I'll start looking for reviewers.

[2020-08-25 21:13] whedon commented on #2520
PDF failed to compile for issue #2520 with the following error:

 Can't find any papers to compile :-(

[2020-08-25 21:14] Kevin-Mattheus-Moerman commented on #2520
@whedon generate pdf from branch joss

[2020-08-25 21:14] whedon commented on #2520
[code]

[2020-08-25 21:15] dpsanders commented on #2456
@whedon generate pdf

[2020-08-25 21:15] whedon commented on #2520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02520/joss.02520/10.21105.joss.02520.pdf)

[2020-08-25 21:15] whedon commented on #2456
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02456/joss.02456/10.21105.joss.02456.pdf)

[2020-08-25 21:18] Kevin-Mattheus-Moerman commented on #2520
@fverdugo the link should work in the accepted paper form. You asked @santiagobadia to review the paper as well so I'll wait until I hear back from yourself or @santiagobadia if we can proceed with acceptance.

[2020-08-25 21:19] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch are you still able to help with this review? Please let us know. Thanks.

[2020-08-25 22:11] mfitzasp commented on #2591
@whedon check references

[2020-08-25 22:12] whedon commented on #2591
[code]

[2020-08-25 22:23] bsipocz commented on #2591
@arfon - what is the expected timeline? I'm fully occupied this week and next with AstroHackWeek, but would be happy to start with the review afterwards.

[2020-08-25 22:31] santiagobadia commented on #2520
Everything OK. @Kevin-Mattheus-Moerman you can proceed with acceptance.

[2020-08-25 22:34] Kevin-Mattheus-Moerman commented on #2520
@whedon accept

[2020-08-25 22:34] whedon commented on #2520
[code]

[2020-08-25 22:34] whedon commented on #2520
PDF failed to compile for issue #2520 with the following error:

 Can't find any papers to compile :-(

[2020-08-25 22:36] Kevin-Mattheus-Moerman commented on #2520
@whedon accept from branch joss

[2020-08-25 22:36] whedon commented on #2520
[code]

[2020-08-25 22:37] whedon commented on #2520
[code]

[2020-08-25 22:37] whedon commented on #2520
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1670

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1670, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-25 22:47] Kevin-Mattheus-Moerman commented on #2520
@fverdugo @santiagobadia I'll process the final steps in the morning. In the meantime you can check the above PDF.

[2020-08-25 23:24] santiagobadia commented on #2520
@Kevin-Mattheus-Moerman everything OK

[2020-08-26 00:55] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-26 00:55] whedon commented on #2352
[code]

[2020-08-26 00:56] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-26 00:59] diehlpk commented on #2352
@davidbeckingsale I moved the applications to a new section. Please let me know if this change is sufficient.

[2020-08-26 04:31] dineshresearch commented on #2498
Hello,

Sorry for the late reply because of my busy schedule. Invitation has
expired for me and can you please send me a new invite.

On Wed, Aug 26, 2020 at 2:50 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Kind Regards
Amara Dinesh Kumar
“Alone we can do so little and together we can do much” — Helen Keller
Research Info <https://sites.google.com/view/dineshkumaramara/home> |

[2020-08-26 05:57] fverdugo commented on #2520
@Kevin-Mattheus-Moerman everything OK

[2020-08-26 06:23] arfon commented on #2591
Ideally sometime in the next ~4 weeks?

[2020-08-26 07:26] dglaeser commented on #2291
I would have one person in mind, do you want me to tag him here or send you an email adress?

[2020-08-26 08:01] VivianePons commented on #2463
Dear all,

where are we on this?

[2020-08-26 08:02] VivianePons commented on #2463
@whedon generate pdf

[2020-08-26 08:03] whedon commented on #2463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02463/joss.02463/10.21105.joss.02463.pdf)

[2020-08-26 08:30] Kevin-Mattheus-Moerman commented on #2520
@whedon accept deposit=true from branch joss

[2020-08-26 08:30] whedon commented on #2520
[code]

[2020-08-26 08:31] whedon commented on #2520
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1298538586267099136) 👈 🐦🐦🐦

[2020-08-26 08:31] whedon commented on #2520
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1671
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02520](https://doi.org/10.21105/joss.02520)
2. If everything looks g

[2020-08-26 08:36] Kevin-Mattheus-Moerman commented on #2520
@fverdugo @santiagobadia congratulations on getting this nice work published! It was a pleasure to edit.

P.S. I have also personally started to explore this interesting software and am impressed by its speed/simplicity. It would be great if future work included the use of Julia based visualization, e.g. by using Makie for all meshing, boundary condition specification, and result visualizations.

[2020-08-26 08:36] Kevin-Mattheus-Moerman commented on #2520
@PetrKryslUCSD, @TeroFrondelius, @KristofferC thanks for reviewing this work!

[2020-08-26 08:37] #2520 closed

[2020-08-26 08:37] whedon commented on #2520
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02520/status.svg)](https://doi.org/10.21105/joss.02520)

**We need your help!**

Journal of Open Source Softwa

[2020-08-26 08:42] henrik227 commented on #2392
@dpsanders I was waiting on a decision regarding whether this project is considered a "substantial scholarly effort". Wouldn't it make sense to decide on that first?

[2020-08-26 08:58] Yomguithereal commented on #2405
Hello @labarba. Sorry for the delay. I haven't progressed much but I should be able to find time to do so in september. Times indeed are tough :). Thanks for enquiring.

[2020-08-26 09:25] santiagobadia commented on #2520
Thanks @Kevin-Mattheus-Moerman for your work

Excellent!!!

Take a look at this repos wrt Makie + Gridap

https://github.com/gridap/GridapMakie.jl

@jw3126 is a new collaborator of the Gridap project that is doing an excellent job leading this dev

[2020-08-26 09:33] florian-huber commented on #2411
@arfon Let me know if there is anything we should do to proceed. Thanks!

[2020-08-26 09:47] arfon commented on #2381
@whedon set v1.1.2 as version

[2020-08-26 09:47] whedon commented on #2381
OK. v1.1.2 is the version.

[2020-08-26 09:47] arfon commented on #2381
@whedon set 10.5281/zenodo.3997251 as archive

[2020-08-26 09:47] whedon commented on #2381
OK. <a href="https://doi.org/10.5281/zenodo.3997251" target="_blank">10.5281/zenodo.3997251</a> is the archive.

[2020-08-26 09:48] arfon commented on #2381
@whedon accept

[2020-08-26 09:48] whedon commented on #2381
[code]

[2020-08-26 09:48] whedon commented on #2381
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1672

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1672, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-26 09:48] whedon commented on #2381
[code]

[2020-08-26 09:50] arfon commented on #2411
@whedon generate pdf

[2020-08-26 09:51] whedon commented on #2411
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02411/joss.02411/10.21105.joss.02411.pdf)

[2020-08-26 09:51] arfon commented on #2411
@bittremieux & @kaibioinfo - if you have a moment to revisit the checklists above to mark off the last few items (which I believe have now been addressed) that would be much appreciated.

[2020-08-26 10:03] arfon commented on #2411
@florian-huber - I've made a couple of minor edits in https://github.com/matchms/matchms/pull/137.

After merging https://github.com/matchms/matchms/pull/137, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? Fo

[2020-08-26 10:31] geekysquirrel commented on #2537
I added a sentence explaining it although I tried to keep it as brief as possible as it still looks ever so slightly too long.

[2020-08-26 10:38] arfon commented on #2591
@bsipocz - I'm going to take your 👍 to [my comment](https://github.com/openjournals/joss-reviews/issues/2591#issuecomment-680683904) above as consent to add you as a reviewer. Please let me know if this isn't correct!

[2020-08-26 10:38] arfon commented on #2591
@whedon add @bsipocz as reviewer

[2020-08-26 10:38] whedon commented on #2591
OK, @bsipocz is now a reviewer

[2020-08-26 10:58] olebole commented on #2581
@whedon generate pdf

[2020-08-26 10:59] whedon commented on #2581
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02581/joss.02581/10.21105.joss.02581.pdf)

[2020-08-26 11:03] olebole commented on #2581
I am now happy with the paper and would recommend to accept it.

[2020-08-26 11:05] whedon opened #2600 "[PRE REVIEW]: RCaller: A Java package for interfacing R"
**Submitting author:** @jbytecode (<a href="http://orcid.org/0000-0002-9402-1982">Mehmet Hakan Satman</a>)
**Repository:** <a href="https://github.com/jbytecode/rcaller/" target ="_blank">https://github.com/jbytecode/rcaller/</a>
**Version:** v3.0
**Editor:** @mikldk
**Reviewers:** @xin-huang, @nthomasCUBE
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due t

[2020-08-26 11:05] whedon commented on #2600
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-26 11:05] whedon commented on #2600
PDF failed to compile for issue #2600 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2600 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-08-26 11:06] whedon commented on #2600
[code]

[2020-08-26 11:08] Kevin-Mattheus-Moerman commented on #2600
@openjournals/dev Can you help trouble shoot the above error? :point_up:

[2020-08-26 11:11] whedon opened #2601 "[PRE REVIEW]: FHI-vibes: Ab initio Vibrational Simulations"
**Submitting author:** @flokno (<a href="http://orcid.org/0000-0002-7132-039X">Florian Knoop</a>)
**Repository:** <a href="https://gitlab.com/vibes-developers/vibes" target ="_blank">https://gitlab.com/vibes-developers/vibes</a>
**Version:** v1.0.0
**Editor:** @jgostick
**Reviewers:** @keipertk
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2020-08-26 11:11] whedon commented on #2601
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-26 11:12] whedon opened #2602 "[PRE REVIEW]: PyAstroPol : A Python package for the instrumental polarization analysis of the astronomical optics."
**Submitting author:** @hemanthpruthvi (<a href="http://orcid.org/0000-0002-4892-6561">Hemanth Pruthvi</a>)
**Repository:** <a href="https://github.com/hemanthpruthvi/PyAstroPol" target ="_blank">https://github.com/hemanthpruthvi/PyAstroPol</a>
**Version:** v0.1.0
**Editor:** @pibion
**Reviewers:** @aquilesC, @caldarolamartin, @mwcraig
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced s

[2020-08-26 11:12] whedon commented on #2602
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-26 11:12] whedon commented on #2601
[code]

[2020-08-26 11:12] whedon commented on #2602
Failed to discover a `Statement of need` section in paper

[2020-08-26 11:12] whedon commented on #2602
[code]

[2020-08-26 11:12] whedon commented on #2601
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02601/joss.02601/10.21105.joss.02601.pdf)

[2020-08-26 11:12] whedon commented on #2601
[code]

[2020-08-26 11:12] whedon commented on #2602
[code]

[2020-08-26 11:12] whedon commented on #2602
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02602/joss.02602/10.21105.joss.02602.pdf)

[2020-08-26 11:13] whedon opened #2603 "[PRE REVIEW]: Ripserer.jl: flexible and efficient persistent homology computation in Julia"
**Submitting author:** @mtsch (<a href="http://orcid.org/0000-0003-0734-2719">Matija Čufar</a>)
**Repository:** <a href="https://github.com/mtsch/Ripserer.jl" target ="_blank">https://github.com/mtsch/Ripserer.jl</a>
**Version:** v0.14.7
**Editor:** @VivianePons
**Reviewers:** @juliohm, @sauln
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-08-26 11:13] whedon commented on #2603
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-26 11:14] whedon commented on #2603
[code]

[2020-08-26 11:14] whedon commented on #2603
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02603/joss.02603/10.21105.joss.02603.pdf)

[2020-08-26 11:18] Kevin-Mattheus-Moerman commented on #2603
@whedon check repository

[2020-08-26 11:18] whedon commented on #2603
Failed to discover a `Statement of need` section in paper

[2020-08-26 11:18] whedon commented on #2603
[code]

[2020-08-26 11:23] Kevin-Mattheus-Moerman commented on #2603
@mtsch can you work on the following:

- [ ] Can you check/fix those missing/invalid DOI's :point_up:? You can call `@whedon check references` to check these here
- [ ] As recommended in [our guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) can you rework/add text to have a `Statement of Need` section in your paper? You can call `@whedon generate pdf`

[2020-08-26 11:25] ritagnunes commented on #2478
Hi  @grlee77, I believe that is a Matlab version issue. The behaviour of
the norm function must have changed.
We have modified the code to use our own implementation. Let me know if you
still have problems.

Thanks

On Tue, Aug 25, 2020 at 3:15 PM Gregory R. Lee <notifications@github.com>
wrote:

[2020-08-26 11:26] Kevin-Mattheus-Moerman commented on #2603
@VivianePons @xuanxu @drvinceknight could one of you handle this submission?

[2020-08-26 11:29] jni commented on #2578
@whedon add @emilljungberg as reviewer

[2020-08-26 11:29] whedon commented on #2578
OK, @emilljungberg is now a reviewer

[2020-08-26 11:30] Kevin-Mattheus-Moerman commented on #2601
@jgostick @pibion @pdebuyl could one of you handle this submission?

[2020-08-26 11:30] Kevin-Mattheus-Moerman commented on #2601
@flokno can you check those missing DOIs :point_up:

[2020-08-26 11:32] Kevin-Mattheus-Moerman commented on #2498
@whedon reinvite @dineshresearch

[2020-08-26 11:32] whedon commented on #2498
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-26 11:32] jni commented on #2578
@emilljungberg thank you so much for agreeing to review the paper! At the top of this issue there is a reviewer checklist that you should make your way down. See also the section titled "Reviewer instructions & questions" and links therein. Any questions, just ping me on this issue!

[2020-08-26 11:34] Kevin-Mattheus-Moerman commented on #2498
@whedon re-invite @dineshresearch as reviewer

[2020-08-26 11:34] whedon commented on #2498
OK, the reviewer has been re-invited.

@dineshresearch please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-26 11:35] Kevin-Mattheus-Moerman commented on #2498
Thanks @dineshresearch for getting back to us. Let me know if you have any questions/difficulties.

[2020-08-26 11:39] Kevin-Mattheus-Moerman commented on #2527
@whedon generate pdf

[2020-08-26 11:40] whedon commented on #2527
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02527/joss.02527/10.21105.joss.02527.pdf)

[2020-08-26 11:40] Kevin-Mattheus-Moerman commented on #2527
@whedon check references

[2020-08-26 11:40] whedon commented on #2527
[code]

[2020-08-26 11:46] Kevin-Mattheus-Moerman commented on #2527
@kerkelae I've checked your paper and can confirm it looks in order.

These are final steps to complete:

- [ ] Please archive a copy of the software on ZENODO and report back here with the DOI of the archived version. When you create this archived version be sure to have the title and author meta data match that of the paper (you may need to manually alter this).

- [ ] Can you inform me of the m

[2020-08-26 11:47] VivianePons commented on #2603
I can

[2020-08-26 11:47] VivianePons commented on #2603
@whedon assign @VivianePons as editor

[2020-08-26 11:47] whedon commented on #2603
OK, the editor is @VivianePons

[2020-08-26 11:53] Kevin-Mattheus-Moerman commented on #2381
@merrygoat These are some required steps before we proceed:

- [ ] Please amend the archive meta data, in terms of the title and authors (you can edit this on ZENODO) such that it matches your paper (@jgostick, thanks for handling this submission. For future reference this :point_up: is a check the handling editor should also).
- [ ] I've checked your paper and it seems in order. This work is abou

[2020-08-26 11:56] dawbarton commented on #2331
Everything is good from my perspective, I've checked off all the items on the checklist. I've made a few comments on the community guidelines in https://github.com/flintproject/Flint/commit/9029aecc7433040f405c5db501b2f6686335f150 but they are pretty minor.

[2020-08-26 11:59] Kevin-Mattheus-Moerman commented on #2478
@whedon check repository

[2020-08-26 12:00] whedon commented on #2478
[code]

[2020-08-26 12:09] kerkelae commented on #2527
@Kevin-Mattheus-Moerman

Since we changed a few things during the review, I created a [new release](https://github.com/kerkelae/disimpy/releases/tag/v0.1.1): `v0.1.1`. I archived this version on [Zenodo](https://zenodo.org/record/4001687). The DOI is http://doi.org/10.5281/zenodo.4001687.

[2020-08-26 12:16] danielskatz commented on #2581
Thanks @olebole!

[2020-08-26 12:16] Kevin-Mattheus-Moerman commented on #2527
@kerkelae thanks. However you still need to amend the title of that archive to match the paper title. Let me know when you've completed that.

[2020-08-26 12:16] Kevin-Mattheus-Moerman commented on #2527
@whedon set 10.5281/zenodo.4001687 as archive

[2020-08-26 12:16] whedon commented on #2527
OK. <a href="https://doi.org/10.5281/zenodo.4001687" target="_blank">10.5281/zenodo.4001687</a> is the archive.

[2020-08-26 12:17] Kevin-Mattheus-Moerman commented on #2527
@whedon set v0.1.1 as version

[2020-08-26 12:17] whedon commented on #2527
OK. v0.1.1 is the version.

[2020-08-26 12:17] danielskatz commented on #2581
👋 @zpace - it looks like you are close to finishing as well, other than the references checkbox

Is this correct?

[2020-08-26 12:19] Kevin-Mattheus-Moerman commented on #2478
@ritagnunes both reviewers have indicated this work is out of scope for JOSS. In particular it is deemed insufficiently complete and is classed as a "minor utility" tool as it stands (see [our guidelines](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)). This does not mean the software is not useful or of a low quality, it merely means that in terms of required

[2020-08-26 12:19] Midnighter commented on #2342
@whedon generate pdf

[2020-08-26 12:19] Kevin-Mattheus-Moerman commented on #2478
@whedon reject

[2020-08-26 12:19] whedon commented on #2342
PDF failed to compile for issue #2342 with the following error:

 Cloning into 'tmp/2342'...

[2020-08-26 12:19] whedon commented on #2478
Paper rejected.

[2020-08-26 12:19] #2478 closed

[2020-08-26 12:20] DerJH commented on #2584
Hi,
I am trying to install pirecorder at the moment, but both using _sudo pip install pirecorder_ and the GitHub version i am running into the following error code (I attached the whole commandline dialog as a text file). It seems to have something to do with "h5py". I then tried to install with "sudo pip install h5py", which also failed.

Command "/usr/bin/python -u -c "import setuptools, tokeniz

[2020-08-26 12:22] kerkelae commented on #2527
@Kevin-Mattheus-Moerman It's fixed now.

[2020-08-26 12:23] davidtourigny commented on #2342
That is strange. It compiles fine with the preview service...

@marcosvital apart from this it appears we are now ready!

[2020-08-26 12:26] davidtourigny commented on #2342
@whedon generate pdf

[2020-08-26 12:26] Kevin-Mattheus-Moerman commented on #2527
@whedon accept

[2020-08-26 12:26] whedon commented on #2527
[code]

[2020-08-26 12:27] whedon commented on #2342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02342/joss.02342/10.21105.joss.02342.pdf)

[2020-08-26 12:27] whedon commented on #2527
[code]

[2020-08-26 12:27] whedon commented on #2527
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1673

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1673, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-26 12:30] Kevin-Mattheus-Moerman commented on #2527
@whedon accept deposit=true

[2020-08-26 12:30] whedon commented on #2527
[code]

[2020-08-26 12:31] davidtourigny commented on #2342
@marcosvital all done!

[2020-08-26 12:31] whedon commented on #2527
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1298598917542678528) 👈 🐦🐦🐦

[2020-08-26 12:31] whedon commented on #2527
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1674
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02527](https://doi.org/10.21105/joss.02527)
2. If everything looks g

[2020-08-26 12:33] Kevin-Mattheus-Moerman commented on #2343
@62442katieb I see @agahkarakuzu was able to make changes to address some of your points. Please let us know if there are any other remaining issues. Thanks again!

[2020-08-26 12:34] flokno commented on #2601
Hi @Kevin-Mattheus-Moerman , I'll check, thanks for picking this up.

Since this is written in python and related to ASE and FHI-aims, a potential reviewer would be Adam Jackson (@ajjackson), who I cannot find on the list though.

[2020-08-26 12:35] danielskatz commented on #2352
@diehlpk  - while we are waiting for @davidbeckingsale , I took at a look at the paper.  It would be good to fix the casing on the references - for example

should be

[2020-08-26 12:39] diehlpk commented on #2291
Put his name here without the @ and I will ask him.

[2020-08-26 12:44] JolleJolles commented on #2584
Hi Jan,

That seems to be an error with the h5py package, not with pirecorder. I have never encountered it. I have installed pirecorder on fresh raspbian systems on rpi2,3, and 4 and then do not get this error. I am not sure how to solve the h5 install error, perhaps try updating your raspberry pi?

h5py is not actually used by pirecorer but only by 1 function in my [pythutils package](https://git

[2020-08-26 12:45] flokno commented on #2601
@whedon  commands

[2020-08-26 12:45] whedon commented on #2601
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-26 12:49] zpace commented on #2581
@danielskatz everything looks good to me, as well. The authors have addressed my relatively few suggestions. I recommend accepting this submission.

[2020-08-26 12:53] danielskatz commented on #2581
Thanks @olebole and @zpace - that was remarkably fast and easy

[2020-08-26 12:55] danielskatz commented on #2581
👋 @biboyd (Brendan Boyd) - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) an

[2020-08-26 12:56] flokno commented on #2601
@whedon commands

[2020-08-26 12:56] whedon commented on #2601
Here are some things you can ask me to do:

[code]

[2020-08-26 12:57] flokno commented on #2601
@whedon generate pdf from branch joss

[2020-08-26 12:57] whedon commented on #2601
[code]

[2020-08-26 12:58] whedon commented on #2601
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02601/joss.02601/10.21105.joss.02601.pdf)

[2020-08-26 13:02] flokno commented on #2601
@whedon check references from branch joss

[2020-08-26 13:02] whedon commented on #2601
[code]

[2020-08-26 13:03] whedon commented on #2601
[code]

[2020-08-26 13:11] hemanthpruthvi commented on #2602
@whedon commands

[2020-08-26 13:11] whedon commented on #2602
Here are some things you can ask me to do:

[code]

[2020-08-26 13:12] hemanthpruthvi commented on #2602
@whedon check references

[2020-08-26 13:13] whedon commented on #2602
[code]

[2020-08-26 13:13] hemanthpruthvi commented on #2602
@whedon generate pdf

[2020-08-26 13:14] whedon commented on #2602
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02602/joss.02602/10.21105.joss.02602.pdf)

[2020-08-26 13:22] hemanthpruthvi commented on #2602
@whedon generate pdf

[2020-08-26 13:23] whedon commented on #2602
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02602/joss.02602/10.21105.joss.02602.pdf)

[2020-08-26 13:27] flokno commented on #2601
@whedon check references

[2020-08-26 13:27] whedon commented on #2601
[code]

[2020-08-26 13:33] DerJH commented on #2584
Hi Jolle,
ok after upgrading raspbian and using apt-get python-h5py and apt-get python3-h5py the installation worked!
I'll try to test all the functions in your program in the next 2 days.
Greetings,
 Jan

[2020-08-26 13:40] majensen commented on #2044
@whedon set 10.5281/zenodo.3996816 as archive

[2020-08-26 13:40] whedon commented on #2044
OK. <a href="https://doi.org/10.5281/zenodo.3996816" target="_blank">10.5281/zenodo.3996816</a> is the archive.

[2020-08-26 13:41] majensen commented on #2044
@whedon set version as 1

[2020-08-26 13:41] whedon commented on #2044
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-26 13:41] majensen commented on #2044
@whedon set 1 as version

[2020-08-26 13:41] whedon commented on #2044
OK. 1 is the version.

[2020-08-26 13:42] majensen commented on #2044
@whedon accept

[2020-08-26 13:42] whedon commented on #2044
[code]

[2020-08-26 13:42] whedon commented on #2044
[code]

[2020-08-26 13:42] whedon commented on #2044
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1675

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1675, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-26 13:45] majensen commented on #2044
@scwest - can you look at https://github.com/openjournals/joss-reviews/issues/2044#issuecomment-680887845 and add those refs? Re: the invalid DOI, I believe you want to reference just the "10.1371/..." portion in the bib file, and whedon adds the prefix. Thanks!

[2020-08-26 14:01] scwest commented on #2044
I have added the updated DOIs to the paper.bib file. I then prepared a new release with the changes.

[2020-08-26 14:35] florian-huber commented on #2411
I merged the minor edits and made a new release (0.5.2) which is now on Zenodo.
The DOI is 10.5281/zenodo.4001991

[2020-08-26 14:37] dglaeser commented on #2291
I was thinking of Eirik Keilegavlen (keileg on GitHub).

[2020-08-26 14:38] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-26 14:38] whedon commented on #2352
[code]

[2020-08-26 14:38] whedon commented on #2352
PDF failed to compile for issue #2352 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2352/docs/joss_paper/paper.md): did not find expected '-' indicator while parsing a block collection at line 9 column 2 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.

[2020-08-26 14:44] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-26 14:44] whedon commented on #2352
[code]

[2020-08-26 14:46] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-26 14:56] diehlpk commented on #2352
@danielskatz The BibTeX entries are corrected in the version above.

[2020-08-26 15:02] davidbeckingsale commented on #2352
@diehlpk - it looks like moving the applications to a section has messed up the formatting of the list.

[2020-08-26 15:08] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-26 15:08] whedon commented on #2352
[code]

[2020-08-26 15:09] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-26 15:15] diehlpk commented on #2352
@davidbeckingsale

The list is correct in the version above. Was some mix of tabs and spaces.

[2020-08-26 15:16] davidbeckingsale commented on #2352
Looks good. I second @danielskatz's request - please take another look at your references to fix up capitalization, e.g.:

[2020-08-26 15:18] danielskatz commented on #2352
No, sorry, not all of them - for example
* Supercomputing frontiers and innovations
* Proceedings of the eighth annual conference on Object-oriented programming systems, languages, and applications
* 2018 ieee international parallel and distributed processing symposium workshops (ipdpsw)

[2020-08-26 15:47] hemanthpruthvi commented on #2602
Potential reviewers:
caldarolamartin
aquilesC

[2020-08-26 15:50] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-26 15:50] whedon commented on #2352
[code]

[2020-08-26 15:51] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-26 15:52] diehlpk commented on #2352
@danielskatz and @davidbeckingsale I hope to found all of them in the latest version. To all of my co-authors, please in future check references you added.

[2020-08-26 15:53] diehlpk commented on #2352
@whedon check references from branch JOSS

[2020-08-26 15:53] whedon commented on #2352
[code]

[2020-08-26 15:53] KristinaRiemer commented on #2424
I think the contribution guidelines and code of conduct are sufficient, and want to make sure the reviewers @a-r-j and @clauswilke agree?

@kullrich I think you may want to revisit @clauswilke's [suggestions about the documentation.

[2020-08-26 15:54] whedon commented on #2352
[code]

[2020-08-26 15:58] KristinaRiemer commented on #2424
I think the contribution guidelines and code of conduct are sufficient, and want to make sure the reviewers @a-r-j and @clauswilke agree?

@kullrich I think you may want to revisit @clauswilke's [suggestions](https://github.com/openjournals/joss-reviews/issues/2424#issuecomment-662621967) about the documentation. Specifically either filling out or removing the empty paranome vignette and the third

[2020-08-26 16:09] danielskatz commented on #2352
@davidbeckingsale - please let me know when you have checked off the last time in your list.  At that point, I'll do a final copyediting read of the paper, and we'll move on to processing it

[2020-08-26 16:12] biboyd commented on #2581
@danielskatz I made a new release and archived on zenodo. Here is the information

Release: v1.0.0

zenodo archive: https://zenodo.org/record/4002068#.X0aJKxl7lhE

DOI: 10.5281/zenodo.4002067

[2020-08-26 16:15] meg-simula commented on #2592
@whedon assign @nschloe as reviewer

[2020-08-26 16:15] whedon commented on #2592
OK, @nschloe is now a reviewer

[2020-08-26 16:27] clauswilke commented on #2424
@KristinaRiemer I agree with all of your points.

[2020-08-26 16:46] KristinaRiemer commented on #2575
@holukas if it's possible to use guest accounts to create issues in the repository, and the issues and their comments are able to be seen publicly, I think that would be the best route. Let me know if that ends up not being possible though!

[2020-08-26 16:49] danielskatz commented on #2581
@whedon set v1.0.0 as version

[2020-08-26 16:49] whedon commented on #2581
OK. v1.0.0 is the version.

[2020-08-26 16:50] bittremieux commented on #2411
Checklist completed.

[2020-08-26 16:52] danielskatz commented on #2581
@whedon set 10.5281/zenodo.4002067 as archive

[2020-08-26 16:53] whedon commented on #2581
OK. <a href="https://doi.org/10.5281/zenodo.4002067" target="_blank">10.5281/zenodo.4002067</a> is the archive.

[2020-08-26 16:59] SteveMacenski commented on #2572
Hi, just following back up here. Anything I can do to help most this forward?

[2020-08-26 17:04] davidbeckingsale commented on #2352
I think this is good to go. Thanks @diehlpk & @hkaiser for addressing all the issues promptly.

[2020-08-26 17:06] danielskatz commented on #2581
@whedon check references

[2020-08-26 17:06] whedon commented on #2581
[code]

[2020-08-26 17:07] danielskatz commented on #2581
@whedon generate pdf

[2020-08-26 17:08] whedon commented on #2581
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02581/joss.02581/10.21105.joss.02581.pdf)

[2020-08-26 17:09] danielskatz commented on #2352
@diehlpk - At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (

[2020-08-26 17:15] danielskatz commented on #2581
I found a few small fixes needed in the paper - https://github.com/biboyd/SALSA/pull/5

Otherwise, this looks ready to go to me

Please let me know when you have merged this, or what you disagree with

[2020-08-26 17:35] dpsanders commented on #2392
@henrik227 That's a fair point. In my opinion this submission **does** meet the criteria for a "substantial scholarly effort" and should be reviewed.

[2020-08-26 17:48] biboyd commented on #2581
@whedon generate pdf

[2020-08-26 17:49] whedon commented on #2581
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02581/joss.02581/10.21105.joss.02581.pdf)

[2020-08-26 17:52] biboyd commented on #2581
I merged in your small changes. I also reopened one of the reviewers issues https://github.com/biboyd/SALSA/issues/2 because it wasn't properly addressed. I just added a short snippet referencing the yt software in the paper and then edited the annotations accordingly.

[2020-08-26 18:08] diehlpk commented on #2291
Hi @keileg would you be interested to review this paper?

[2020-08-26 18:11] danielskatz commented on #2581
@whedon accept

[2020-08-26 18:11] whedon commented on #2581
[code]

[2020-08-26 18:11] whedon commented on #2581
[code]

[2020-08-26 18:12] whedon commented on #2581
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1676

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1676, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-26 18:19] diehlpk commented on #2577
@chennachaos Thanks for your review.

[2020-08-26 18:22] danielskatz commented on #2581
@whedon accept deposit=true

[2020-08-26 18:22] whedon commented on #2581
[code]

[2020-08-26 18:23] whedon commented on #2581
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1298687626430623744) 👈 🐦🐦🐦

[2020-08-26 18:23] whedon commented on #2581
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1677
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02581](https://doi.org/10.21105/joss.02581)
2. If everything looks g

[2020-08-26 18:25] diehlpk commented on #2352
@danielskatz We currently are working on a version of HPX, which includes all the changes and the paper. This will be done by next week, so I will work on your checklist next week.

[2020-08-26 18:25] danielskatz commented on #2581
Thanks to @olebole & @zpace for reviewing!

And congratulations to @biboyd (Brendan Boyd) and co-authors!!

[2020-08-26 18:25] #2581 closed

[2020-08-26 18:25] whedon commented on #2581
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02581/status.svg)](https://doi.org/10.21105/joss.02581)

**We need your help!**

Journal of Open Source Softwa

[2020-08-26 18:28] diehlpk commented on #2577
@mou3adb I talked to the first reviewer (@ilyasst) and he will respond to the above review soon. I think in the current state, we can not accept the paper and the code as it is. Following the reviewers, I think a major revision of the paper is needed.

[2020-08-26 18:41] keileg commented on #2291
Sure, I can have a look. This looks like an interesting review process, in addition to the paper itself.

[2020-08-26 18:46] xuanxu commented on #2600
@whedon generate pdf

[2020-08-26 18:47] whedon commented on #2600
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02600/joss.02600/10.21105.joss.02600.pdf)

[2020-08-26 18:59] a-r-j commented on #2424
Yes, I am in agreement too.

[2020-08-26 19:31] diehlpk commented on #2291
@whedon add @keileg as reviewer

[2020-08-26 19:31] whedon commented on #2291
OK, @keileg is now a reviewer

[2020-08-26 20:12] mccabete commented on #2575
@holukas How should I request guest access?

[2020-08-26 20:17] diehlpk commented on #2291
## Reviewer instructions & questions

@keileg, please carry out your review in this issue by updating the checklist below. If you cannot edit the checklist please:
1. Make sure you're logged in to your GitHub account
2. Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

The reviewer guidelines are available here: https://joss.readthedocs.io/en/lates

[2020-08-26 21:55] pfeiffea commented on #2341
Hi @kthyng -- Let me know if you need anything else from us in terms of a resubmission. I'm still new to this whole github-based review process!

[2020-08-26 23:15] lincoln-harris commented on #2432
i believe everything has now been addressed.

most changes were made in [this PR](https://github.com/czbiohub/cerebra/pull/109), which I've since integrated into [`master`](https://github.com/czbiohub/cerebra/tree/master). that PR is annotated with a pretty thorough checklist of everything that I improved upon.

if I'm missing anything or there are any further comments, please let me know!

[2020-08-26 23:46] edifice1989 commented on #2534
Hi Mikkel,

    The invitation link has expired for me
https://github.com/openjournals/joss-reviews/invitations

    Could you please resend it?

Thanks,
Ming

On Wed, Aug 19, 2020 at 5:24 AM Mikkel Meyer Andersen <
notifications@github.com> wrote:

[2020-08-27 01:19] nwu63 commented on #2564
Hi Mathieu, I agree with your points and I will push an update to the paper soon.

[2020-08-27 02:49] mtsch commented on #2603
@whedon check references

[2020-08-27 02:49] whedon commented on #2603
[code]

[2020-08-27 03:00] mtsch commented on #2603
@whedon check references

[2020-08-27 03:00] whedon commented on #2603
[code]

[2020-08-27 03:01] mtsch commented on #2603
@whedon generate pdf

[2020-08-27 03:01] whedon commented on #2603
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02603/joss.02603/10.21105.joss.02603.pdf)

[2020-08-27 03:04] mtsch commented on #2603
Ok, I fixed the DOIs and added a statement of need.

[2020-08-27 06:14] keileg commented on #2291
@diehlpk having read the COI policy, there are one or two things to clarify. Do I write here or in an email?

[2020-08-27 07:53] mancellin commented on #2018
@ali-ramadhan Thank you for your reply.

Yes, I managed to run a simulation on GPU after updating Oceananigans!
However, some tests from the Oceananigans test suite seem to be still failing on GPU. I'll open an issue on that.

FYI, the plots seem to be missing from the documentation page.
In the "Verification experiments" section of the documentation, you could maybe add links to the relevant sour

[2020-08-27 07:55] mancellin commented on #2018
@kthyng Everything looks good to me. I can recommend the paper for publication.

[2020-08-27 08:43] bernatgel commented on #2560
Hi @lpantano, I'm afraid I'll have to decline this. I don't have the expertise to evaluate this software. Thanks for the invitation.

[2020-08-27 08:43] VivianePons commented on #2603
@mtsch thank you for fixing the DOI

do you have any recommendations for potential reviewers? You can look at [our list of potential reviewers](https://bit.ly/joss-reviewers) but also suggest names outside the list

[2020-08-27 09:15] YoungFaithful commented on #2034
Dear @katyhuff and @labarba, sorry for the delay on my end. I now found the time to go through the paper and docs and to find any grammar and spelling mistakes left. I connected the repository with Zenodo and the DOI is `DOI: 10.5281/zenodo.4003566` Thanks for your support!

[2020-08-27 09:28] mtsch commented on #2603
I looked through the list and the intersection between topological data analysis and Julia appears to be empty.

Maybe @sauln might find this project interesting? Potentially @juliohm as well?

[2020-08-27 09:29] jbytecode commented on #2600
@whedon check references

[2020-08-27 09:29] whedon commented on #2600
[code]

[2020-08-27 09:29] jbytecode commented on #2600
@whedon generate pdf

[2020-08-27 09:30] whedon commented on #2600
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02600/joss.02600/10.21105.joss.02600.pdf)

[2020-08-27 09:42] pratikvn commented on #2260
@whedon check references

[2020-08-27 09:43] pratikvn commented on #2260
@whedon generate pdf

[2020-08-27 09:44] pratikvn commented on #2260
@mjsottile , Here is the Zenodo record: https://zenodo.org/record/4003613 and the DOI for the archive is:

10.5281/zenodo.4003613

Please also update the version of the library to 1.3.0.

Thanks!

[2020-08-27 09:44] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-08-27 10:12] jangmys commented on #2338
@bluescarni @eloisabentivegna @dgoldri25 @darioizzo I think the additional paragraph addresses the existing state-of-the-art appropriately (and I therefore checked the corresponding box). I also agree with the "Concurrent fitness evaluation" section which  now clarifies that there is no "out-of-the-box" GPU support, but rather a clean interface that could allow users to build one on their own. Fro

[2020-08-27 10:49] mikldk commented on #2534
@edifice1989 Don't you have access over at the review in #2583?

[2020-08-27 11:18] diehlpk commented on #2291
If you feel comfortable, please write them here.

[2020-08-27 12:04] VivianePons commented on #2603
Indeed, I have just asked them, let's see!

[2020-08-27 12:11] Ohlsen commented on #2445
I finished my review, too. I had some feature requests focusing in particular on the packages functionality towards lavaan-models, which are already solved . I recommend accept as well.

[2020-08-27 12:11] keileg commented on #2291
No problem, it is all public:
1. Over the last 2-3 years I have collaborated with the first and second author of the paper on a benchmarking problem. This has resulted in two manuscripts on arXiv (a [benchmark specification](https://arxiv.org/abs/1809.06926) and a draft [paper](https://arxiv.org/abs/2002.07005)), the latter of which is under review in a journal.
2. The fourth author has an adjoint

[2020-08-27 12:32] kthyng commented on #2497
Hi @castelao and @kakearney! Do you have a timeline in mind for when you could work on your reviews? Thanks!

[2020-08-27 12:42] mtsch commented on #2603
Thank you!

[2020-08-27 12:42] kthyng commented on #2018
@ali-ramadhan It looks like you've responded to @funsim's previous comments, in which case I will check off the final boxes since he made it clear those were the remaining issues.

Also @ali-ramadhan can you respond to @mancellin's last comments and after these last bits we can wrap up the review!

[2020-08-27 12:43] danielskatz commented on #2581
👋 @biboyd - sorry I forgot to ask you this before - is this submission associated with an AAS publication?

[2020-08-27 12:47] kthyng commented on #2425
@whedon generate pdf

[2020-08-27 12:47] whedon commented on #2425
PDF failed to compile for issue #2425 with the following error:

 Can't find any papers to compile :-(

[2020-08-27 12:48] kthyng commented on #2425
@whedon generate pdf from branch joss-paper

[2020-08-27 12:48] whedon commented on #2425
[code]

[2020-08-27 12:48] whedon commented on #2425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02425/joss.02425/10.21105.joss.02425.pdf)

[2020-08-27 12:49] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-08-27 12:50] whedon commented on #2392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf)

[2020-08-27 12:56] kthyng commented on #2425
@whedon check references

[2020-08-27 12:59] kthyng commented on #2425
@gmaze Just read through your paper. Looks good, but can you edit your references? I see that "Argo" is not coming through capitalized, in particular. You'll need to put {} around "Argo", like "{Argo}", to preserve capitalization. Please look at your references in detail to see if there are other tweaks too.

[2020-08-27 13:01] kthyng commented on #2341
@pfeiffea Looks like you've addressed reviewer comments. I'd like to check in with them.

@zsylvester, @ebgoldstein: Please see comments from @pfeiffea above and let us know if you have more comments or if you are satisfied in the responses. Thanks!

[2020-08-27 13:01] kthyng commented on #2425
@whedon check references from branch joss-paper

[2020-08-27 13:02] whedon commented on #2425
[code]

[2020-08-27 13:02] whedon commented on #2425
[code]

[2020-08-27 13:03] strengejacke commented on #2445
Thanks, @Ohlsen, for your suggestions. Regarding your issues:

1) We revised the output for structural equation models, so `model_parameters()` now also include self-defined parameters (https://github.com/easystats/parameters/issues/290).
2) Since the vignettes on `model_parameters()` for the _lavaan_ package only focussed on CFA, we also added a small example for SEM as well.
3) We fixed some typ

[2020-08-27 13:03] gmaze commented on #2425
Done !

@whedon check references from branch joss-paper

[2020-08-27 13:04] gmaze commented on #2425
@whedon check references from branch joss-paper

[2020-08-27 13:04] whedon commented on #2425
[code]

[2020-08-27 13:04] whedon commented on #2425
[code]

[2020-08-27 13:10] gmaze commented on #2425
@whedon check references from branch joss-paper

[2020-08-27 13:10] whedon commented on #2425
[code]

[2020-08-27 13:10] whedon commented on #2425
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "Year" (NAME) [#<BibTeX::Bibliography data=[2]>, "@", #<BibTeX::Entry >, {:author=>["Annie Wong and coauthors"], :journal=>["Frontiers in Marine Science, section Ocean Observation"], :title=>["{Argo} 1999-2019: two million temperature-salinity profiles and subsurface velocity observations from a global a

[2020-08-27 13:11] gmaze commented on #2425
@whedon check references from branch joss-paper

[2020-08-27 13:11] whedon commented on #2425
[code]

[2020-08-27 13:12] whedon commented on #2425
[code]

[2020-08-27 13:12] merrygoat commented on #2381
@Kevin-Mattheus-Moerman Ah yes - thank you. I forgot I would have to update the metadata again with the new version. I have done that now.

I am also happy with the proof.

[2020-08-27 13:13] gmaze commented on #2425
@kthyng One of the reference has just been accepted, I have the DOI, but it's not online yet, that's why whedon fails to find the doi.
What do you recommend in this situation ?

[2020-08-27 13:15] ebgoldstein commented on #2341
the responses, paper changes, and tutorial notebook changes all look good to me. I have no more comments.

[2020-08-27 13:16] VivianePons commented on #2603
@whedon assign @juliohm as reviewer

[2020-08-27 13:16] whedon commented on #2603
OK, @juliohm is now a reviewer

[2020-08-27 13:21] kthyng commented on #2425
@gmaze if that is the correct doi, let's just proceed with it as is.

[2020-08-27 13:21] kthyng commented on #2425
@whedon generate pdf from branch joss-paper

[2020-08-27 13:21] whedon commented on #2425
[code]

[2020-08-27 13:22] whedon commented on #2425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02425/joss.02425/10.21105.joss.02425.pdf)

[2020-08-27 13:22] gmaze commented on #2425
Yes, I have double-checked

[2020-08-27 13:27] kthyng commented on #2425
@gmaze The author list is incorrect for the first reference, and NetCDF should be properly capitalized too.

[2020-08-27 13:39] kyleniemeyer commented on #2095
Thanks @dlagrava!

[2020-08-27 13:39] kyleniemeyer commented on #2095
@harpolea did you ever finish your review?

[2020-08-27 13:44] gmaze commented on #2425
@kthyng Thanks for your careful reading ! Refs should now be ok.

[2020-08-27 13:47] kyleniemeyer commented on #2128
Hi @jdber1, sorry for letting this slide. Part of the problem is none of the folks I emailed to review ever responded... additional suggestions would be welcome, but I will also seek out another from the JOSS reviewer pool (we need two reviewers).

[2020-08-27 13:48] kyleniemeyer commented on #2128
Hi @rajeshrinet and @abhishekbajpayee, would either of you be interested (and available) to review this submission? Thanks!

[2020-08-27 13:51] kyleniemeyer commented on #1766
Hi @toph-allen, it's been a little while and I just wanted to check in. Have you been able to make progress on the issues raised?

[2020-08-27 13:59] diehlpk commented on #2291
@keileg I think the recent immediate collaborators results in a conflict. Could you point me to a different reviewer?

[2020-08-27 14:00] diehlpk commented on #2291
@whedon remove @keileg as reviewer

[2020-08-27 14:00] whedon commented on #2291
OK, @keileg is no longer a reviewer

[2020-08-27 14:01] diehlpk commented on #2291
@johntfoster Are you still interested to do the review? If not could you recommend a new reviewer?

[2020-08-27 14:03] diehlpk commented on #2403
@sritchie @lukasheinrich told me to finish the review by next week.

[2020-08-27 14:04] ali-ramadhan commented on #2018
Thanks @mancellin!

Not sure if these are similar to the GPU test failures you experienced but I fixed some GPU tests yesterday (see issue https://github.com/CliMA/Oceananigans.jl/issues/864 and PR https://github.com/CliMA/Oceananigans.jl/pull/878). But if you can open an issue we'd appreciate it very much!

Also thanks for pointing out the convergence tests. I'll make sure all the convergence tes

[2020-08-27 14:07] ali-ramadhan commented on #2018
Thanks @kthyng!

Just curious whether the package version in the original post (v0.18.0) matters? v0.18.0 is an ancient version at this point and we're about to release v0.35.0 but it doesn't seem to show up in the JOSS paper so maybe it doesn't matter.

[2020-08-27 14:14] rajeshrinet commented on #2128
Hi @kyleniemeyer, yes, I would be happy to review this submission.

[2020-08-27 14:30] gmaze commented on #2425
@whedon generate pdf from branch joss-paper

[2020-08-27 14:30] whedon commented on #2425
[code]

[2020-08-27 14:30] whedon commented on #2425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02425/joss.02425/10.21105.joss.02425.pdf)

[2020-08-27 14:54] majensen commented on #2044
@whedon check references

[2020-08-27 14:54] whedon commented on #2044
[code]

[2020-08-27 14:54] majensen commented on #2044
@whedon accept

[2020-08-27 14:55] whedon commented on #2044
[code]

[2020-08-27 14:55] whedon commented on #2044
[code]

[2020-08-27 14:55] whedon commented on #2044
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1678

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1678, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-27 15:09] kyleniemeyer commented on #2128
@whedon add @rajeshrinet as reviewer

Thanks so much @rajeshrinet!

[2020-08-27 15:09] whedon commented on #2128
OK, @rajeshrinet is now a reviewer

[2020-08-27 15:10] kyleniemeyer commented on #2128
@whedon start review

[2020-08-27 15:10] whedon opened #2604 "[REVIEW]: OpenDrop: Open-source software for pendant drop tensiometry & contact angle measurements"
**Submitting author:** @jdber1 (<a href="http://orcid.org/0000-0002-0961-7782">Joe Berry</a>)
**Repository:** <a href="https://github.com/jdber1/opendrop" target ="_blank">https://github.com/jdber1/opendrop</a>
**Version:** v3.2.2
**Editor:** @kyleniemeyer
**Reviewers:** @rajeshrinet, @FelixKratz
**Archive:** <a href="https://doi.org/10.5281/zenodo.4555201" target="_blank">10.5281/zenodo.4555201</

[2020-08-27 15:10] whedon commented on #2128
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2604.

[2020-08-27 15:10] #2128 closed

[2020-08-27 15:10] whedon commented on #2604
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cryos, @rajeshrinet it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-08-27 15:10] kyleniemeyer commented on #2128
OK, after a long delay, @jdber1 , @cryos , and @rajeshrinet , I have now started the actual review issue in #2604. See you over there!

[2020-08-27 15:10] whedon commented on #2604
[code]

[2020-08-27 15:11] whedon commented on #2604
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02604/joss.02604/10.21105.joss.02604.pdf)

[2020-08-27 15:11] kyleniemeyer commented on #2604
👋 @jdber1 @cryos  @rajeshrinet

[2020-08-27 15:12] kyleniemeyer commented on #2604
@jdber1 while the reviewers begin looking at the software, there are a few issues with the paper you can take care of. It looks like your bib file has a number of references that are not cited in the paper, and then any references you do cite need DOIs

[2020-08-27 15:22] dgoldri25 commented on #2338
@bluescarni @eloisabentivegna @jangmys @darioizzo I concur with jangmys' assessment, I've also checked the box for "State of the Field".

I recommend to accept the paper as well.

[2020-08-27 15:39] vahid-sb commented on #2466
@danielskatz @oliviaguest @kyleniemeyer @sara-02 Just wanted to apologise to you all for not responding to you all in a timely manner. I thought I get an email notification when I receive a message in github, but apparently not. Hence, I completely missed this conversation. So, my sincere apologies for missing out on your messages.
I will add the pdf files following the journal guidelines to the r

[2020-08-27 15:41] vahid-sb commented on #2452
@danielskatz @jni @kyleniemeyer Just wanted to apologise to you all for not responding to you all in a timely manner. I thought I get an email notification when I receive a message in github, but apparently not. Hence, I completely missed this conversation. So, my sincere apologies for missing out on your messages.
I will add the pdf files following the journal guidelines to the repo and will subm

[2020-08-27 15:49] spectralcode commented on #2580
Just a small update: I received feedback regarding the logo and it should stay the way it is.

[2020-08-27 15:50] lucask07 commented on #2584
Hi @marcosvital,
Sorry, I just came to this and the invite has expired. Is there a way you could resend?

[2020-08-27 16:07] keileg commented on #2291
Okay.

You may want to try Michael Sargado, GitHub user name jmsargado.

[2020-08-27 16:11] govarguz commented on #2576
Hi @whedon, the invitation link has expired. I think, I have accepted it but I changed recently of terminal. Do I need to accept the review invitation again?
Thanks for your attention, Horacio.

[2020-08-27 16:15] kakearney commented on #2497
I’ll be submitting mine this afternoon... just compiling all my notes into
issues and a summary now.

On Thu, Aug 27, 2020 at 5:33 AM Kristen Thyng <notifications@github.com>
wrote:

[2020-08-27 16:24] mjsottile commented on #2260
Great!  I will issue the final commands and then hand the paper off to the acting EIC for final processing.

[2020-08-27 16:24] mjsottile commented on #2260
@whedon set v1.3.0 as version

[2020-08-27 16:24] whedon commented on #2260
OK. v1.3.0 is the version.

[2020-08-27 16:24] mjsottile commented on #2260
@whedon set 10.5281/zenodo.4003613 as archive

[2020-08-27 16:24] whedon commented on #2260
OK. <a href="https://doi.org/10.5281/zenodo.4003613" target="_blank">10.5281/zenodo.4003613</a> is the archive.

[2020-08-27 16:25] mjsottile commented on #2260
@whedon accept

[2020-08-27 16:25] whedon commented on #2260
[code]

[2020-08-27 16:26] whedon commented on #2260
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1679

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1679, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-27 16:31] lucask07 commented on #2584
Hi @JolleJolles,
A quick question before I dig too deep. Is your package targeting a specific Raspberry Pi compatible camera? Have you documented the cameras your software has been tested with? I suspect the compatible cameras are set by the Picamera package. I see these "official" Raspberry Pi cameras that connect via the MIPI port [here](https://www.raspberrypi.org/documentation/hardware/camera/

[2020-08-27 17:07] edifice1989 commented on #2534
Yes. I have. But I can't click the checklist for me.
When I click the invitation link, it says 'the link has expired'

On Thu, Aug 27, 2020 at 3:50 AM Mikkel Meyer Andersen <
notifications@github.com> wrote:

[2020-08-27 18:02] mikldk commented on #2583
@whedon add reviewer @edifice1989

[2020-08-27 18:03] whedon commented on #2583
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-27 18:04] mikldk commented on #2583
@whedon add @edifice1989 as reviewer

[2020-08-27 18:04] whedon commented on #2583
OK, @edifice1989 is now a reviewer

[2020-08-27 18:05] mikldk commented on #2583
@edifice1989 Are you now able to edit your checklist?

[2020-08-27 18:08] diehlpk commented on #2291
Hi @jmsargado would you be interested to review this paper?

[2020-08-27 18:16] edifice1989 commented on #2583
yes, problem solved!

Thank you very much!

Ming

On Thu, Aug 27, 2020 at 11:06 AM Mikkel Meyer Andersen <
notifications@github.com> wrote:

[2020-08-27 18:21] puolival commented on #2578
I'll send my comments regarding this submission in two parts. In this first part, I have offered comments regarding the manuscript. In the second part, I will refer to the submission checklist and the GitHub repository.

**Comment regarding the software paper**

The manuscript needs to be improved before publication. I have offered below a number of comments, which are all intended as constructive

[2020-08-27 18:24] sritchie commented on #2403
Thanks for the update, @diehlpk !

[2020-08-27 18:52] edifice1989 commented on #2583
There is an issue when loading the 'emba' package. I opened a separate issue in  submission's [repository ](https://github.com/bblodfon/emba/issues/2#issue-687461142) please resolve it

[2020-08-27 19:09] sbenthall commented on #2586
@whedon assign @remram44 as reviewer

[2020-08-27 19:09] whedon commented on #2586
OK, @remram44 is now a reviewer

[2020-08-27 19:09] sbenthall commented on #2586
@whedon add @alexssandrofc as reviewer

[2020-08-27 19:09] whedon commented on #2586
OK, @alexssandrofc is now a reviewer

[2020-08-27 19:10] sbenthall commented on #2586
Thanks to both of you!

[2020-08-27 19:10] sbenthall commented on #2586
@whedon start review

[2020-08-27 19:10] whedon opened #2605 "[REVIEW]: NO-DOUBT: A Decision Support Web Platform based on AHP"
**Submitting author:** @gdede-hua (<a href="http://orcid.org/0000-0003-2947-7470">Georgia Dede</a>)
**Repository:** <a href="https://github.com/gdede-hua/decision-survey-platform" target ="_blank">https://github.com/gdede-hua/decision-survey-platform</a>
**Version:** v1.0
**Editor:** @sbenthall
**Reviewer:** @remram44, @alexssandrofc
**Archive:** Pending

**:warning: JOSS reduced service mode :war

[2020-08-27 19:10] whedon commented on #2586
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2605.

[2020-08-27 19:10] #2586 closed

[2020-08-27 19:10] whedon commented on #2605
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @remram44, @alexssandrofc it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-08-27 19:10] whedon commented on #2605
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02605/joss.02605/10.21105.joss.02605.pdf)

[2020-08-27 19:11] whedon commented on #2605
[code]

[2020-08-27 19:12] sbenthall commented on #2445
Thank you, reviewers.

@strengejacke , as a next step, would you please :
* issue a new tagged release of the software (if changed),
* archive it (on Zenodo, figshare, or other).
* post the version number and archive DOI in this REVIEW issue.

[2020-08-27 19:19] biboyd commented on #2581
@danielskatz No it is not

[2020-08-27 19:23] strengejacke commented on #2445
Thank you @sbenthall

- new release with latest changes from the revisions of this review is tagged: https://github.com/easystats/parameters/releases/tag/0.8.3
- archive for latest release on Zenodo created: https://zenodo.org/record/4004846#.X0gIBMgzaUk
- Version number: 0.8.3; DOI: 10.5281/zenodo.4004846

[2020-08-27 19:34] remram44 commented on #2605
It seems that the paper is missing figures. In addition the references don't render correctly, because the `title` of most entries are URL, which get capitalized (`Https://github.com/airicyu/ahp`).

I assume the paper is still being worked on but I thought I'd make a note of it regardless.

[2020-08-27 19:44] danielskatz commented on #2581
Thanks - there's a slightly more complicated process that links the two publications together in that case, and it was pointed out to me that we might have missed it - great to know!

[2020-08-27 22:20] andybond13 commented on #2496
Learning how to use docker...

FYI: As instructed in the documentation, "docker run -it barischrooneyj/bridge-sim:v0.0.8.5" returns error "docker: Error response from daemon: manifest for barischrooneyj/bridge-sim:v0.0.8.5 not found: manifest unknown: manifest unknown."

using "docker run -it barischrooneyj/bridge-sim:v0.0.8" seems to work.

[2020-08-27 23:16] sbenthall commented on #2605
Does that sound right, @gdede-hua?

[2020-08-27 23:23] kakearney commented on #2497
In my review checklist, I have checked off the places where I think this submission meets the requirements of JOSS.  Overall, I believe this is a nice toolbox that fills a need in the ocean data community.  However, I do have a few concerns about the current functionality of the toolbox.  I believe the issues I have raised should be able to be corrected without too much additional effort.

To test

[2020-08-28 01:04] majensen commented on #2044
@openjournals/joss-eics this paper is, in fact, ready. Thanks.

[2020-08-28 01:06] majensen commented on #2556
@whedon remind @majensen in 4 days

[2020-08-28 01:06] whedon commented on #2556
Reminder set for @majensen in 4 days

[2020-08-28 01:13] majensen commented on #2558
Hi @arcuri82 - just checking in. Have you had a chance to start looking at this work?
Thanks.

[2020-08-28 02:15] manparvesh commented on #2496
hi @diehlpk sorry, please remove me from the reviewers list.

[2020-08-28 03:51] MikeHeiber commented on #2307
Can we please wrap up this review process? I have two other submitted manuscripts waiting on this. I'd really like to cite this software tool as my colleagues and I have done some cool science with it.

[2020-08-28 05:30] andybond13 commented on #2496
Hi @diehlpk , I am getting through the review. Plan to complete this weekend.

[2020-08-28 05:37] brandondube commented on #2580
I do not remember the precise settings I used for the sample data configuration 😅  - been too many days.  I used the settings listed in the documentation where it is referenced.  If those are different to the settings in the paper, then the perf may differ.

No sweat on the logos - if you are required to use them by your funding agencies, that is quite a strong "permission to use."  We would not w

[2020-08-28 06:32] urbanophile commented on #2262
Hi I'm sorry, I need to check my github notifications more frequently but I am happy to review this.

[2020-08-28 06:36] gdede-hua commented on #2605
@sbenthall <https://github.com/sbenthall> I have checked the paper and it
worked. It also passed the Joss compilation. My apologies. Do you want to
revise the paper and resubmit it?

On Fri, Aug 28, 2020 at 2:17 AM Sebastian Benthall <notifications@github.com>
wrote:

--
Dr. Georgia Dede
Research Associate and Adjunct Lecturer
Harokopio University of Athens
Department of Informatics and Telematics

[2020-08-28 07:48] gmaze commented on #2425
Proof ok for me !

[2020-08-28 08:58] arcuri82 commented on #2558
Hi @majensen - unfortunately haven't had time to start yet :(  but hopefully should be able to start next week

[2020-08-28 09:20] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-08-28 09:21] whedon commented on #2392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf)

[2020-08-28 09:22] MrMinimal64 commented on #2392
I tried to incorporate all the objections made by the reviewers in the latest version of the paper.

[2020-08-28 09:40] egonw commented on #2558
@arcuri82, that sounds fine. I have not been able to work on the package this week anyway.

[2020-08-28 10:00] arfon commented on #2580
@whedon add @jrasakanthan as reviewer

[2020-08-28 10:01] whedon commented on #2580
OK, @jrasakanthan is now a reviewer

[2020-08-28 10:01] arfon commented on #2580
@whedon remove @phtomlins as reviewer

[2020-08-28 10:01] whedon commented on #2580
OK, @phtomlins is no longer a reviewer

[2020-08-28 10:03] arfon commented on #2580
:wave: @jrasakanthan - thanks for agreeing to take the place of @phtomlins as a reviewer here. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-08-28 10:09] JolleJolles commented on #2584
Hi @lucask07. No the package does not target a specific camera and should work with all cameras, official and non-official that connect with the MIPI port as it builds on the picamera package.
Thanks

[2020-08-28 10:17] terrytangyuan commented on #2262
@whedon add @urbanophile as reviewer

[2020-08-28 10:17] whedon commented on #2262
OK, @urbanophile is now a reviewer

[2020-08-28 10:17] terrytangyuan commented on #2262
@whedon start review

[2020-08-28 10:17] whedon opened #2606 "[REVIEW]: TorchGAN: A Flexible Framework for GAN Training and Evaluation"
**Submitting author:** @avik-pal (<a href="http://orcid.org/0000-0002-3938-7375">Avik Pal</a>)
**Repository:** <a href="https://github.com/torchgan/torchgan/" target ="_blank">https://github.com/torchgan/torchgan/</a>
**Version:** v0.0.4
**Editor:** @terrytangyuan
**Reviewer:** @Paul92, @urbanophile
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2020-08-28 10:17] whedon commented on #2262
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2606.

[2020-08-28 10:17] #2262 closed

[2020-08-28 10:17] whedon commented on #2606
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Paul92, @urbanophile it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-08-28 10:18] terrytangyuan commented on #2262
Thanks! Please head over to the new issue for review!

[2020-08-28 10:18] jdavidli commented on #2580
@spectralcode
I've been doing testing on a computer with the following specs:
i9-9900X
RTX 2080Ti
64 GB RAM
Windows 10 Pro

I got similar performance numbers to @brandondube
Without 3D
3.7505 volumes/second
60 buffers/second
960 B-scans/second
A-scans/second 491520
Buffer size [MB] 26
Data throughput [MB/s] 1560

With 3D
3.7505 volumes/second
60 buffers/second
960 B-scans/second
A-scans/second 491

[2020-08-28 10:18] whedon commented on #2606
PDF failed to compile for issue #2606 with the following error:

 Can't find any papers to compile :-(

[2020-08-28 10:55] puolival commented on #2578
This is the second part of the review, in which I have referred to the checklist above.

**Contribution and authorship**

The submitting author has contributed to the repository. However, @imr-framework doesn’t appear to belong to any particular person but to a working group. While I think there is no reason to not allow this, I wasn’t able to find a JOSS policy regarding the matter. Therefore, I

[2020-08-28 11:02] jni commented on #2578
@puolival

This is a collective requirement for the paper as a whole, not meant to be interpreted as needing 3 months of work *per author*. So I think this means you agree that the requirement is met?

[2020-08-28 11:06] puolival commented on #2578
@jni Sorry, I thought it was per person. I do agree that the requirement is met collectively. I have now updated the checklist.

[2020-08-28 11:15] avik-pal commented on #2606
@whedon generate pdf from branch ap/joss_paper

[2020-08-28 11:15] whedon commented on #2606
[code]

[2020-08-28 11:16] whedon commented on #2606
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02606/joss.02606/10.21105.joss.02606.pdf)

[2020-08-28 11:49] Luthaf commented on #2307
All of my concerns have been addressed, and I can recommend the publication of this paper in JOSS!

Regarding potential future improvements, I encourage @MikeHeiber to think about modifying the build system for easier integration with different systems (other OS/compilers/CPU architechture/etc.); and continue improving the user manual & documentation to empower both new and power users of his soft

[2020-08-28 11:56] lshep commented on #2560
Sorry I never responded.  I'm honestly overloaded with work and don't think I have the time to give it a fair review.

[2020-08-28 12:07] diehlpk commented on #2496
Sure, could you please recommend someone else?

[2020-08-28 12:08] diehlpk commented on #2496
@whedon remove @manparvesh as reviewer

[2020-08-28 12:08] whedon commented on #2496
OK, @manparvesh is no longer a reviewer

[2020-08-28 12:41] YoungFaithful commented on #2034
Dear @katyhuff and @labarba, sorry for the delay on my end. I now found the time to go through the paper and docs and to find any grammar and spelling mistakes left. I connected the repository with Zenodo and the DOI is `DOI: 10.5281/zenodo.4003566` Thanks for your support!

[2020-08-28 13:05] lnferris commented on #2497
Thank you for your extremely detailed review, @kakearney!! I will get started on these edits as soon as I can. @kthyng, what is my timeline for making corrections?

[2020-08-28 13:08] terrytangyuan commented on #2574
👋 Hi @ethanwharris @rasbt @willprice @GregaVrbancic, if you would like to review for this submission, please let us know here! We need at least two reviewers.

[2020-08-28 13:14] arfon commented on #2600
@whedon check repository

[2020-08-28 13:14] whedon commented on #2600
[code]

[2020-08-28 13:20] GregaVrbancic commented on #2574
Hi @terrytangyuan, I am available to review this submission, but unfortunately, not before the end of next week. Sadly, I do not work in this specific field but I do most of my work training deep CNNs, so I think I would be able to adequately review this submission.

[2020-08-28 13:25] spectralcode commented on #2580
@jdavidli thank you very much for testing! I'm not sure why your are not able to replicate the processing rates from the paper. Here is some information that may help to clear things up:
- The settings described in the documentation are chosen such that the test data works on almost all GPUs.
- The settings described in the paper are optimized for the used GPU.
- The buffer size has major effect o

[2020-08-28 13:36] jbytecode commented on #2600
since this repo is moved from old [code.google.com](https://code.google.com/archive/p/rcaller/source/default/commits), I am represented in above table by more than one nicknames, so 'hako', 'jbytecode','Mehmet Hakan Satman', and 'mhsatman' are both I am. fyi.

[2020-08-28 13:39] spectralcode commented on #2580
@jdavidli sorry, the parameters in my last message are incorrect. They actually reduce the buffer size!
Here the correct parameters: 1664 samples per raw A-scan, 512 A-scans per B-scan, 32 B-scans per buffer, 8 Buffers per volume, 8 Buffers to read from file
With those parameters the buffer size should be 52 MB

[2020-08-28 13:55] AshKelly commented on #2567
Hi @harpolea  - I'm very happy to review this!

[2020-08-28 13:55] remram44 commented on #2605
@whedon generate pdf

[2020-08-28 13:57] whedon commented on #2605
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02605/joss.02605/10.21105.joss.02605.pdf)

[2020-08-28 14:34] diehlpk commented on #2496
Hi @CBenghi @mdelcambre @satish-annigeri @abhiramm7 would you be interested to review this paper?

[2020-08-28 14:49] diehlpk commented on #2291
Hi @katyhuff @Kevin-Mattheus-Moerman @moorepants would you be interested to review this paper?

[2020-08-28 14:52] stheid commented on #2435
Dear @gonsie, all changes are now merged to master.

[2020-08-28 15:06] terrytangyuan commented on #2574
@whedon assign @GregaVrbancic as reviewer

[2020-08-28 15:06] whedon commented on #2574
OK, @GregaVrbancic is now a reviewer

[2020-08-28 15:07] terrytangyuan commented on #2574
Yes that would work. We still need another reviewer. Anyone else?

[2020-08-28 15:12] mdavezac commented on #2307
I'm also happy to recommend the publication of the paper in JOSS!

Just a last few comments and recommendation:

- the updated build system did work. However I would recommend adding a few sentences to the installation instructions for non-standard compilers (e.g. run with COMPILER and/or FLAGS set to something) or non-standard compiler names. Such things are not unheard of on HPC platforms. Of co

[2020-08-28 15:15] johntfoster commented on #2291
Apologies, I'm trying to get to it.  I've been very busy.

On Thu, Aug 27, 2020 at 9:02 AM Patrick Diehl <notifications@github.com>
wrote:

[2020-08-28 15:40] ethanwharris commented on #2574
Hi @terrytangyuan, I would be very happy to review this. I have limited experience with the specific area of adversarial robustness research but have done a good amount with deep learning and interpretability :smiley:

[2020-08-28 15:40] dfm commented on #2550
Just pinging @arm61 and @eteq to make sure that this is still on your radar. Let me know if you have any questions!

[2020-08-28 16:22] zsylvester commented on #2341
It all looks great! Now I understand better the differences between this model and the one in Czuba (2018). Only a few minor comments:

- The 'Repository' link on the first page links to the Landlab repo; wouldn't it be better if it linked to [NST](https://github.com/landlab/landlab/tree/master/landlab/components/network_sediment_transporter)?
- There is no URL associated with 'Archive' (page 1)
-

[2020-08-28 16:30] terrytangyuan commented on #2574
@whedon add @ethanwharris as reviewer

[2020-08-28 16:30] whedon commented on #2574
OK, @ethanwharris is now a reviewer

[2020-08-28 16:30] terrytangyuan commented on #2574
@whedon start review

[2020-08-28 16:30] whedon opened #2607 "[REVIEW]: Foolbox Native: Fast adversarial attacks to benchmark the robustness of machine learning models in PyTorch, TensorFlow, and JAX"
**Submitting author:** @jonasrauber (<a href="http://orcid.org/0000-0001-6795-9441">Jonas Rauber</a>)
**Repository:** <a href="https://github.com/bethgelab/foolbox" target ="_blank">https://github.com/bethgelab/foolbox</a>
**Version:** v3.2.1
**Editor:** @terrytangyuan
**Reviewer:** @GregaVrbancic, @ethanwharris
**Archive:** <a href="https://doi.org/10.5281/zenodo.4050932" target="_blank">10.5281/

[2020-08-28 16:30] whedon commented on #2574
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2607.

[2020-08-28 16:30] #2574 closed

[2020-08-28 16:30] whedon commented on #2607
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GregaVrbancic, @ethanwharris it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2020-08-28 16:31] whedon commented on #2607
[code]

[2020-08-28 16:32] whedon commented on #2607
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02607/joss.02607/10.21105.joss.02607.pdf)

[2020-08-28 17:22] katyhuff commented on #2291
I'm sorry I won't have the bandwidth or the expertise to do this review.

[2020-08-28 17:41] dpsanders commented on #2598
@whedon add @wch as reviewer

[2020-08-28 17:41] whedon commented on #2598
OK, @wch is now a reviewer

[2020-08-28 18:16] ali-ramadhan commented on #2018
@mancellin @kthyng The docs on latest version of Oceananigans.jl should have all the convergence plots now: https://clima.github.io/OceananigansDocumentation/latest/verification/convergence_tests/

[2020-08-28 19:24] harpolea commented on #2567
@AshKelly Great, thanks!

[2020-08-28 19:24] harpolea commented on #2567
@whedon assign @AshKelly as reviewer

[2020-08-28 19:24] whedon commented on #2567
OK, @AshKelly is now a reviewer

[2020-08-28 19:38] zpace commented on #2567
@harpolea yes, after a little though, I think that's doable. I'd be happy to referee! :smile:

[2020-08-28 19:38] harpolea commented on #2567
@zspace thank you!

[2020-08-28 19:39] harpolea commented on #2567
@whedon add @zpace as reviewer

[2020-08-28 19:39] whedon commented on #2567
OK, @zpace is now a reviewer

[2020-08-28 19:39] harpolea commented on #2567
@whedon start review

[2020-08-28 19:39] whedon opened #2608 "[REVIEW]: AstroPaint: A Python Package for Painting Halo Catalogs into Celestial Maps"
**Submitting author:** @syasini (<a href="http://orcid.org/0000-0003-1978-6325">Siavash Yasini</a>)
**Repository:** <a href="https://github.com/syasini/AstroPaint" target ="_blank">https://github.com/syasini/AstroPaint</a>
**Version:** 0.1.1
**Editor:** @harpolea
**Reviewer:** @AshKelly, @zpace
**Archive:** <a href="https://doi.org/10.5281/zenodo.4243176" target="_blank">10.5281/zenodo.4243176</a>

[2020-08-28 19:39] whedon commented on #2567
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2608.

[2020-08-28 19:39] #2567 closed

[2020-08-28 19:39] whedon commented on #2608
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AshKelly, @zpace it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2020-08-28 19:39] whedon commented on #2608
[code]

[2020-08-28 19:40] whedon commented on #2608
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02608/joss.02608/10.21105.joss.02608.pdf)

[2020-08-28 22:28] holukas commented on #2575
@mccabete I am currently in contact with ETH to open a guest account and get back to you soon.

[2020-08-28 23:55] syasini commented on #2567
Thanks @AshKelly and @zpace for accepting to review our work. And thanks @harpolea for your help in organizing the review process.

Looking forward to the future steps and all your feedback!

[2020-08-29 01:11] joglekara commented on #2182
@dpsanders @TomGoffrey Both of your issues had to do with a small update that was necessary for the run file. It's in now.

[2020-08-29 01:11] joglekara commented on #2182
@whedon generate pdf

[2020-08-29 01:13] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-08-29 07:19] arfon commented on #2411
@whedon set 10.5281/zenodo.4001991 as archive

[2020-08-29 07:19] whedon commented on #2411
OK. <a href="https://doi.org/10.5281/zenodo.4001991" target="_blank">10.5281/zenodo.4001991</a> is the archive.

[2020-08-29 07:20] arfon commented on #2411
@whedon accept

[2020-08-29 07:20] whedon commented on #2411
[code]

[2020-08-29 07:20] whedon commented on #2411
[code]

[2020-08-29 07:20] whedon commented on #2411
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1680

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1680, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-29 07:25] arfon commented on #2411
[code]

[2020-08-29 07:35] florian-huber commented on #2411
Thanks a lot @arfon!

And short feedback: as first-time submitter to JOSS I really liked the clear and transparent process, as well as the constructive feedback. Really nice!

[2020-08-29 08:59] oliviaguest commented on #2593
I can do this, yes. 😄

[2020-08-29 09:00] oliviaguest commented on #2593
@whedon assign @oliviaguest  as editor

[2020-08-29 09:01] whedon commented on #2593
OK, the editor is @oliviaguest

[2020-08-29 12:22] Emma-k-ward commented on #2377
Hi everyone, sorry I disappeared, I moved to a new country and transitioned from PhD to Postdoc and it was a lot.

I am happy with the changes and think the paper looks good! I will tick the remaining boxes now.

Best wishes, Emma

[2020-08-29 13:50] pdebuyl commented on #2307
@Luthaf @mdavezac thank you for the reviews!

@MikeHeiber I will go over the paper this week for the rest of the editorial process.

[2020-08-29 13:58] juliohm commented on #2603
@VivianePons I remember JOSS had a check list on each submission. Is it still available? I remember the bot was responsible for creating this checklist. The review process already started?

[2020-08-29 14:01] pdebuyl commented on #2494
@yuxiang-gao Can you address the comments by @ixjlyons ?

[2020-08-29 14:19] skapfer commented on #2538
@whedon generate pdf from branch joss

[2020-08-29 14:19] whedon commented on #2538
[code]

[2020-08-29 14:20] whedon commented on #2538
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02538/joss.02538/10.21105.joss.02538.pdf)

[2020-08-29 14:51] skapfer commented on #2538
Dear @kenohori ,
thank you for the constructive feedback. We have addressed your comments in the code repository and the paper.

Specifically:
- we have made sure that the software builds correctly with CGAL 5 and Python 3
- we have included the JavaScript binding in the repository
- we have reorganized the repository to more clearly identify the components
- we have added a README, including inst

[2020-08-29 17:00] lpantano commented on #2560
@chorscroft, I am still trying to find reviewers, if you know of any, let me know. Thanks!

[2020-08-29 17:04] lpantano commented on #2560
Hey @acolum, @jean997,  would you like to review this tool?

[2020-08-29 18:27] nicolet5 commented on #2477
@labarba Thank you for pointing that out! I wasn't previously aware that was a needed section. I have updated the paper to include the _Statement of need_ section.

[2020-08-29 18:58] cryos commented on #2604
@kyleniemeyer it looks like I didn't accept the invitation in time, and it had expired when I started going through the instructions.

[2020-08-29 20:20] jdavidli commented on #2580
@spectralcode with your new suggested parameters, I get the following:
Volumes/second: 7.5
Buffers/second: 60
B-scans/second: 1920
A-scans/second: 9.8e5
Buffer size: 52
Data throughput: 3120

The volume rate is still significantly lower than what I would expect compared to your benchmarks in the paper. The A-scans/second also seems really low and I suspect might be might affecting the volume rate?

[2020-08-29 21:05] acolum commented on #2560
Unfortunately, I'm not available to review this tool.

[2020-08-29 22:35] MikeHeiber commented on #2307
Thank you @Luthaf and @mdavezac again for your feedback.  I have filed several issues capturing your final suggestions and will look to implement these additional improvements in the future.

All updates derived from this review process are now merged into master, and I have released v1.0.0 of the software.

@pdebuyl @arfon I have another manuscript in the proofing stage waiting for this process t

[2020-08-29 22:36] MikeHeiber commented on #2307
@whedon set 10.5281/zenodo.4008122 as archive

[2020-08-29 22:36] whedon commented on #2307
I'm sorry @MikeHeiber, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-08-29 22:37] MikeHeiber commented on #2307
@whedon generate pdf

[2020-08-29 22:38] whedon commented on #2307
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02307/joss.02307/10.21105.joss.02307.pdf)

[2020-08-29 22:59] MikeHeiber commented on #2307
@whedon generate pdf from branch joss-proofing

[2020-08-29 22:59] whedon commented on #2307
[code]

[2020-08-29 23:00] whedon commented on #2307
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02307/joss.02307/10.21105.joss.02307.pdf)

[2020-08-30 00:58] jgostick commented on #2477
@whedon assign @jgostick as editor

[2020-08-30 00:58] whedon commented on #2477
OK, the editor is @jgostick

[2020-08-30 01:19] jgostick commented on #2477
@WardLT, you have been suggested as a potential reviewer for this package.  I don't have your email address, otherwise I'd contact you directly.  If you're interested and available, please let me know by responding this thread.  If I don't hear from you in 7 days I'll look for others.  Thanks!

[2020-08-30 03:55] onurvarol commented on #2530
Dear @lorenanicole, @nhejazi was unavailable and @rdrr1990 haven't responded. How should we proceed?

[2020-08-30 05:57] hemanthpruthvi commented on #2602
@whedon generate pdf

[2020-08-30 05:57] whedon commented on #2602
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02602/joss.02602/10.21105.joss.02602.pdf)

[2020-08-30 06:54] arfon commented on #2307
We need @pdebuyl to make his last review before handing this off to the EiC on rotation. It sounds like this should happen in the next few days.

[2020-08-30 07:15] arfon commented on #2034
@whedon set 10.5281/zenodo.4003566 as doi

[2020-08-30 07:15] whedon commented on #2034
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-30 07:16] arfon commented on #2034
@whedon set 10.5281/zenodo.4003566 as archive

[2020-08-30 07:16] whedon commented on #2034
OK. <a href="https://doi.org/10.5281/zenodo.4003566" target="_blank">10.5281/zenodo.4003566</a> is the archive.

[2020-08-30 07:16] arfon commented on #2034
@whedon accept

[2020-08-30 07:16] whedon commented on #2034
[code]

[2020-08-30 07:17] whedon commented on #2034
[code]

[2020-08-30 07:17] whedon commented on #2034
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1681

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1681, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-30 07:18] arfon commented on #2165
@whedon generate pdf

[2020-08-30 07:19] whedon commented on #2165
PDF failed to compile for issue #2165 with the following error:

 Can't find any papers to compile :-(

[2020-08-30 07:19] arfon commented on #2165
@whedon generate pdf from branch joss-paper

[2020-08-30 07:19] whedon commented on #2165
[code]

[2020-08-30 07:20] whedon commented on #2165
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02165/joss.02165/10.21105.joss.02165.pdf)

[2020-08-30 07:25] arfon commented on #2165
@whedon check references

[2020-08-30 07:25] arfon commented on #2165
@whedon check references from branch joss-paper

[2020-08-30 07:25] whedon commented on #2165
[code]

[2020-08-30 07:26] whedon commented on #2165
[code]

[2020-08-30 07:28] arfon commented on #2165
@peanutfun - could you check that last DOI suggestion from Whedon above (`Mesa: An Agent-Based Modeling Framework`) and add it to your BibTeX if it is correct.

After that, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of t

[2020-08-30 08:40] mjsottile commented on #2533
:wave: @ionlights - you had mentioned that you were busy until mid-August when we opened the review, so I assume you've been busy with your pre-existing commitment.  Does it look like you'll have capacity to handle the review in the not-too-distant future?  No pressure to rush - I'm just checking to make sure you're still interested and available.

[2020-08-30 13:46] alvations commented on #2184
Sorry for the non-response for the past few months, has been a whirlwind of things happening. Will look at it in the reviewing few weeks.

[2020-08-30 13:59] danielskatz commented on #2282
👋 @jcolomb - another checkin - how are you coming on the open issues?

[2020-08-30 14:01] danielskatz commented on #2552
👋 @iaklampanos - do you have any progress to report?

[2020-08-30 14:01] danielskatz commented on #2552
@whedon assign me as editor

[2020-08-30 14:01] whedon commented on #2552
OK, the editor is @danielskatz

[2020-08-30 14:22] whedon opened #2609 "[PRE REVIEW]: StatAid: a R package with a graphical user interface for data analysis"
**Submitting author:** @VincentAlcazer (<a href="http://orcid.org/0000-0003-1843-6286">Vincent Alcazer</a>)
**Repository:** <a href="https://github.com/VincentAlcazer/StatAid" target ="_blank">https://github.com/VincentAlcazer/StatAid</a>
**Version:** v1.0
**Editor:** @mikldk
**Reviewers:** @nistara, @adithirgis
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due

[2020-08-30 14:22] whedon commented on #2609
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-30 14:23] whedon opened #2610 "[PRE REVIEW]: Your: Your Unified Reader"
**Submitting author:** @KshitijAggarwal (<a href="http://orcid.org/0000-0002-2059-0525">Kshitij Aggarwal</a>)
**Repository:** <a href="https://github.com/thepetabyteproject/your" target ="_blank">https://github.com/thepetabyteproject/your</a>
**Version:** v0.5.1
**Editor:** @dfm
**Reviewers:** @pravirkr, @paulray
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due

[2020-08-30 14:23] whedon commented on #2610
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-30 14:23] whedon opened #2611 "[PRE REVIEW]: BioGears: A C++ library for whole body physiology simulations"
**Submitting author:** @ajbaird (<a href="http://orcid.org/0000-0002-4711-3016">Austin Baird</a>)
**Repository:** <a href="https://github.com/BioGearsEngine/core" target ="_blank">https://github.com/BioGearsEngine/core</a>
**Version:** v7.3.1
**Editor:** @meg-simula
**Reviewers:** @fcooper8472, @MiroK
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-08-30 14:23] whedon commented on #2609
[code]

[2020-08-30 14:23] whedon commented on #2611
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-30 14:23] whedon opened #2612 "[PRE REVIEW]: Psifr: Analysis and visualization of free recall data"
**Submitting author:** @mortonne (<a href="http://orcid.org/0000-0002-2631-2710">Neal Morton</a>)
**Repository:** <a href="https://github.com/mortonne/psifr" target ="_blank">https://github.com/mortonne/psifr</a>
**Version:** v0.4.2
**Editor:** @cMadan
**Reviewers:** @samhforbes, @paxtonfitzpatrick
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-08-30 14:23] whedon commented on #2612
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-30 14:23] whedon commented on #2609
[code]

[2020-08-30 14:23] whedon commented on #2610
Failed to discover a `Statement of need` section in paper

[2020-08-30 14:23] whedon opened #2613 "[PRE REVIEW]: Moran Pycess: a Python package to simulate Moran processes driven by game theory"
**Submitting author:** @AngryMaciek (<a href="http://orcid.org/0000-0003-1361-7301">Maciej Bak</a>)
**Repository:** <a href="https://github.com/AngryMaciek/angry-moran-simulator" target ="_blank">https://github.com/AngryMaciek/angry-moran-simulator</a>
**Version:** v1.0.0
**Editor:** @majensen
**Reviewers:** @xin-huang, @tkchafin
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode

[2020-08-30 14:23] whedon commented on #2613
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-30 14:23] whedon commented on #2610
[code]

[2020-08-30 14:24] whedon commented on #2610
[code]

[2020-08-30 14:24] whedon commented on #2609
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02609/joss.02609/10.21105.joss.02609.pdf)

[2020-08-30 14:24] whedon commented on #2610
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02610/joss.02610/10.21105.joss.02610.pdf)

[2020-08-30 14:24] whedon commented on #2611
PDF failed to compile for issue #2611 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2611 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-08-30 14:24] whedon commented on #2612
[code]

[2020-08-30 14:25] whedon commented on #2612
[code]

[2020-08-30 14:25] whedon commented on #2613
PDF failed to compile for issue #2613 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2613 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-08-30 14:25] whedon commented on #2612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02612/joss.02612/10.21105.joss.02612.pdf)

[2020-08-30 14:28] arfon commented on #2611
@whedon check repository

[2020-08-30 14:31] arfon commented on #2611
@whedon generate pdf from branch f/abard-JOSSPaper

[2020-08-30 14:31] whedon commented on #2611
[code]

[2020-08-30 14:31] whedon commented on #2611
[code]

[2020-08-30 14:33] whedon commented on #2611
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02611/joss.02611/10.21105.joss.02611.pdf)

[2020-08-30 14:34] arfon commented on #2613
@whedon check repository

[2020-08-30 14:35] whedon commented on #2613
[code]

[2020-08-30 14:35] arfon commented on #2613
@whedon generate pdf from branch paper

[2020-08-30 14:35] whedon commented on #2613
[code]

[2020-08-30 14:36] whedon commented on #2613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02613/joss.02613/10.21105.joss.02613.pdf)

[2020-08-30 15:30] shashwat-bhattacharya commented on #2185
@jedbrown I would like to thank you again for your useful recommendations. We have implemented them to the best of our ability as follows:

* We mention in the README and in the revised paper that any MPI-1 implementation will suffice.
* We have cited all the software dependencies in the revised paper.
* In the updated code, it is possible to use pkg-config to use yaml-cpp and blitz++ libraries. H

[2020-08-30 15:37] spectralcode commented on #2580
@jdavidli thank you very much, this is great that you was able to change the parameters and perform processing without crash. This tells me at least that there is not a major bug in the software that I have missed and that performance on your system can be increased by adjusting the Virtual OCT System parameters.

The documentation now contains [detailed information about processing performance](h

[2020-08-30 15:50] spectralcode commented on #2580
@whedon generate pdf

[2020-08-30 15:51] whedon commented on #2580
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02580/joss.02580/10.21105.joss.02580.pdf)

[2020-08-30 15:54] jean997 commented on #2560
I'm sorry I'm not available either (plus selection isn't really my area of expertise). Looking at the list maybe shaunpwilkinson, giraola, juanvillada, stulacy, r-barnes, vbaliga, CFGrote,  or dwinter could be worth a try

[2020-08-30 15:54] jgostick commented on #2477
Hello @yangbai90, you have listed yourself as volunteer JOSS reviewer, and have listed 'battery modeling' as an area of expertise.  I was hoping you'd be interested in reviewing this contribution, since it's about batteries...though more from a systems perspective and less about FEM based performance.  Please let me know here in this thread or contact me by the email address associated with my Git

[2020-08-30 17:29] fboehm commented on #2521
@jacobsoj - I just wanted to check in to see how things are going. I recognize that this is your first JOSS review, so it might be a little confusing. We primarily use the checklist that's available above to review the software and manuscript. Please let me know if you have any questions or concerns. Thanks again!!

[2020-08-30 17:35] kellieotto commented on #1608
@labarba @Ji-Zhang I think I should step down as reviewer here. I realize my turnaround time has been very slow. I'm not sure whether it's the package or my installation of Python + associated packages, but I just can't get it to install and build correctly. I'm very sorry for the time wasted.

[2020-08-30 17:52] chainsawriot commented on #2461
Dear @kakiac ,

According to the blog post about the current [reduced service mode](https://blog.joss.theoj.org/2020/05/reopening-joss), a review is expected to be finished in 6 weeks (was [2 weeks](https://joss.readthedocs.io/en/latest/editing.html)). If it takes longer than that, you, as an editor, is expected to intervene. According to my calendar (probably yours too), it has been 7 weeks. I wa

[2020-08-30 18:32] teamPSG commented on #2377
Hi @Emma-k-ward! Glad you're back and thanks for finishing the review.

Hope you'll enjoy living in a new country and you can stay safe there. Good luck with your Postdoc! :woman_scientist:

Best, Tamás

[2020-08-30 18:40] will-rowe commented on #2451
Hi again @mjsull. Just want to see how you are getting on? Let me know if you need anything or if want to pause your submission?

[2020-08-30 19:42] Ji-Zhang commented on #1608
Hi @kellieotto , I think it is because some dependent packages are outdated. I fixed it by updating the setup file. Run `pip install datacleanbot` in a newly created environment, the example should work. Thanks for all the time you have devoted so far.

[2020-08-30 19:48] jvdkwast commented on #2537
I went through the review checklist. The software runs fine on my laptop and I could play around with the configuration based on the documentation.
Here are a few questions/remarks following the order of the checklist.

Documentation:
- I've tried to run the tests as descrobed [here](https://gitlab.com/geekysquirrel/bigx/-/blob/dev/src/manual.md#development). But unit test and lint failed on the d

[2020-08-30 20:49] sylvaticus commented on #2512
Hello, in the meantime I did update the library, adding a module on Decision Trees/Random Forests.
Whot is the standard procedure for Joss submissions? Should I also update the paper, or that remains the paper for the version of the software as at the time of the submission?

[2020-08-30 20:59] arcuri82 commented on #2558
I made a first set of comments.
However, there is one thing I would like to get clarified. The program is written Java, but, its intended usage seems for Groovy. I do not know Groovy. And unfortunately I do not have the time to learn a new programming language just for doing a review. If all examples are going to be only in Groovy, I am not sure I can really try out this software, and give a prope

[2020-08-30 21:44] jedbrown commented on #2176
Sorry about my delays. It's looking great.
* Could you note that a Lagrangian mesh is used (so the mesh moves with `v_s`; this is done at the very start of the website docs, but didn't make it here yet)?
* Is it necessary to switch from operator to index notation for eq 2 and 3? (Perhaps yes if you don't like `:` for contraction over both indices, but I want to make sure it's an affirmative choice

[2020-08-30 22:22] WilkAndy commented on #2176
Sounds good.  I shall make those changes and archive the software soon.  Idaho National Labs has been experiencing some sort of software/hardware/electrical problems for a while and consequently the MOOSE testing/merging/etc has been held up.  So it might be a couple of weeks before these changes+archiving gets completed.

[2020-08-30 22:48] arokem commented on #2589
👋 @justusschock : would you be willing to review this article for JOSS? This submissions seems like a good match for your expertise.

[2020-08-30 22:49] arokem commented on #2589
:wave: @georgiastuart : would you be willing to review this article for JOSS? It seems like a good match for your expertise.

[2020-08-30 23:08] jedbrown commented on #2176
FWIW, these small changes to the paper do not need to appear in the archived version, but it should be a tagged release that includes any substantive changes resulting from the review. I see [only one tag](https://github.com/idaholab/moose/tags) in the MOOSE repository; let us know if tagging a release (`v1.0.1` or some such) is problematic.

[2020-08-31 05:55] arfon commented on #1608
Hi @Ji-Zhang. This review has been going on for a very long time (more than 1 year) and both reviewers have struggled with this software. As a result, I've just taken a deeper look at this submission and I have to say that I think this software is still well below the standard that is allowable in JOSS. For example:

- Multiple blocks of commented out code: [here](https://github.com/Ji-Zhang/datac

[2020-08-31 05:55] whedon commented on #1608
Deposits are paused currently sorry

[2020-08-31 06:00] arfon commented on #1608
@whedon reject

[2020-08-31 06:00] whedon commented on #1608
Paper rejected.

[2020-08-31 06:00] #1608 closed

[2020-08-31 06:19] arfon commented on #2044
@whedon accept deposit=true

[2020-08-31 06:19] whedon commented on #2044
[code]

[2020-08-31 06:20] whedon commented on #2044
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1300317436802105345) 👈 🐦🐦🐦

[2020-08-31 06:20] whedon commented on #2044
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1682
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02044](https://doi.org/10.21105/joss.02044)
2. If everything looks g

[2020-08-31 06:22] arfon commented on #2044
@SiminaB, @majensen - may thanks for your reviews here and to @majensen for editing too ✨

@scwest - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-08-31 06:22] #2044 closed

[2020-08-31 06:22] whedon commented on #2044
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02044/status.svg)](https://doi.org/10.21105/joss.02044)

**We need your help!**

Journal of Open Source Softwa

[2020-08-31 06:23] arfon commented on #2034
@whedon accept deposit=true

[2020-08-31 06:23] whedon commented on #2034
[code]

[2020-08-31 06:24] whedon commented on #2034
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1300318584992862214) 👈 🐦🐦🐦

[2020-08-31 06:24] whedon commented on #2034
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1683
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02034](https://doi.org/10.21105/joss.02034)
2. If everything looks g

[2020-08-31 06:26] arfon commented on #2034
@sjpfenninger, @ali-ramadhan - many thanks for your reviews here and to @katyhuff for editing this submission ✨

@YoungFaithful - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-08-31 06:26] #2034 closed

[2020-08-31 06:26] whedon commented on #2034
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02034/status.svg)](https://doi.org/10.21105/joss.02034)

**We need your help!**

Journal of Open Source Softwa

[2020-08-31 06:27] arfon commented on #2260
@whedon accept deposit=true

[2020-08-31 06:27] whedon commented on #2260
[code]

[2020-08-31 06:29] whedon commented on #2260
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1300319786040205314) 👈 🐦🐦🐦

[2020-08-31 06:29] whedon commented on #2260
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1684
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02260](https://doi.org/10.21105/joss.02260)
2. If everything looks g

[2020-08-31 06:49] arfon commented on #2411
@whedon accept deposit=true

[2020-08-31 06:49] whedon commented on #2411
[code]

[2020-08-31 06:52] whedon commented on #2411
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1300325537156657152) 👈 🐦🐦🐦

[2020-08-31 06:52] whedon commented on #2411
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1685
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02411](https://doi.org/10.21105/joss.02411)
2. If everything looks g

[2020-08-31 07:16] oliviaguest commented on #2377
@whedon generate pdf

[2020-08-31 07:19] whedon commented on #2377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02377/joss.02377/10.21105.joss.02377.pdf)

[2020-08-31 07:22] oliviaguest commented on #2523
@whedon set 10.5281/zenodo.3996524 as archive

[2020-08-31 07:22] whedon commented on #2523
OK. <a href="https://doi.org/10.5281/zenodo.3996524" target="_blank">10.5281/zenodo.3996524</a> is the archive.

[2020-08-31 07:22] oliviaguest commented on #2523
@ronikobrosly can you make the title of the repo on zenodo the same as the title here, please?

[2020-08-31 07:28] nuest commented on #2409
Just FYI: I'll be on vacation next week, back Sep 15.

[2020-08-31 07:31] oliviaguest commented on #2523
@whedon set v0.3.2 as version

[2020-08-31 07:31] whedon commented on #2523
OK. v0.3.2 is the version.

[2020-08-31 07:31] oliviaguest commented on #2523
@whedon generate pdf

[2020-08-31 07:32] whedon commented on #2523
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02523/joss.02523/10.21105.joss.02523.pdf)

[2020-08-31 07:44] oliviaguest commented on #2377
@whedon accept

[2020-08-31 07:44] whedon commented on #2377
No archive DOI set. Exiting...

[2020-08-31 07:45] oliviaguest commented on #2377
@teamPSG can you please deposit the code in an appropriate place like zenodo or figshare and then post the DOI here?

[2020-08-31 07:54] justusschock commented on #2589
@arokem Sure!

[2020-08-31 07:58] pmkruyen commented on #2506
Hi @cMadan, have you heard anything back from @gcdeshpande?

Best,
Peter

[2020-08-31 08:02] arfon commented on #2411
@bittremieux, @kaibioinfo - many thanks for your reviews here ✨

@florian-huber - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-08-31 08:02] #2411 closed

[2020-08-31 08:02] whedon commented on #2411
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02411/status.svg)](https://doi.org/10.21105/joss.02411)

**We need your help!**

Journal of Open Source Softwa

[2020-08-31 08:08] YoungFaithful commented on #2034
Thank you all for your support!

[2020-08-31 08:13] oliviaguest commented on #2523
@whedon accept

[2020-08-31 08:13] whedon commented on #2523
[code]

[2020-08-31 08:13] whedon commented on #2523
[code]

[2020-08-31 08:14] whedon commented on #2523
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1686

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1686, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-31 08:23] oliviaguest commented on #2593
@whedon add @TomDonoghue as reviewer

[2020-08-31 08:24] whedon commented on #2593
OK, @TomDonoghue is now a reviewer

[2020-08-31 08:26] oliviaguest commented on #2593
@whedon add @ sappelhoff as reviewer

[2020-08-31 08:26] whedon commented on #2593
OK, @ sappelhoff is now a reviewer

[2020-08-31 08:26] oliviaguest commented on #2593
@whedon add @sappelhoff as reviewer

[2020-08-31 08:26] whedon commented on #2593
OK, @sappelhoff is now a reviewer

[2020-08-31 08:27] jcolomb commented on #2282
I am on it, probably get something showable this week.