[2021-03-05 22:28] danielskatz commented on #3090
@connorjmccabe - note that JOSS requires an explicit "Statement of Need" section - please add such a section, perhaps containing some of the existing text.  This would ideally explain some disciplines in which this software would be used.

[2021-03-05 22:32] Atif-Anwer commented on #3072
Six weeks is ample time. Ill be able to do it before that for sure. Thanks!

[2021-03-05 22:33] znicholls commented on #2766
Hi @sadielbartholomew, thanks for the update and please look after your health first. There isn't a rush on this just good to know it hasn't disappeared completely.

[2021-03-05 22:50] jbuisine commented on #2812
@melissawm  I have been careful to take each of your remarks into account. I have updated the paper consequently.

[2021-03-05 22:50] jbuisine commented on #2812
@whedon generate pdf

[2021-03-05 22:51] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-03-05 23:29] mbobra commented on #3072
@whedon assign @Atif-Anwer as reviewer

[2021-03-05 23:29] whedon commented on #3072
OK, @Atif-Anwer is now a reviewer

[2021-03-05 23:29] mbobra commented on #3072
@whedon add @tuelwer as reviewer

[2021-03-05 23:29] whedon commented on #3072
OK, @tuelwer is now a reviewer

[2021-03-05 23:30] mbobra commented on #3072
@whedon start review

[2021-03-05 23:30] whedon opened #3091 "[REVIEW]: imea: A Python package for extracting 2D and 3D shape measurements from images"
**Submitting author:** @nilskroell (<a href="http://orcid.org/0000-0002-6016-5144">Nils Kroell</a>)
**Repository:** <a href="https://git.rwth-aachen.de/ants/sensorlab/imea" target ="_blank">https://git.rwth-aachen.de/ants/sensorlab/imea</a>
**Version:** v0.3.1
**Editor:** @mbobra
**Reviewer:** @Atif-Anwer, @tuelwer
**Archive:** <a href="https://doi.org/10.5281/zenodo.4659161" target="_blank">10.52

[2021-03-05 23:30] whedon commented on #3072
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3091.

[2021-03-05 23:30] #3072 closed

[2021-03-05 23:30] whedon commented on #3091
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Atif-Anwer, @tuelwer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-03-05 23:31] mbobra commented on #3072
@Atif-Anwer @tuelwer See you over in #3091 where the review will take place!

[2021-03-05 23:31] whedon commented on #3091
[code]

[2021-03-05 23:31] whedon commented on #3091
[code]

[2021-03-05 23:31] whedon commented on #3091
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: :point_left:

[2021-03-05 23:33] mbobra commented on #3091
👋  @Atif-Anwer @tuelwer Thank you so much for agreeing to review! You can find the article in the comment box above ⬆️ , and the checklist and software repository linked in the first comment box on this issue. We ask that you complete your review within six weeks, but let me know if you need more time.

JOSS is an open review process and we encourage communication between the reviewers, the submit

[2021-03-05 23:45] connorjmccabe commented on #3090
@whedon generate pdf from branch JOSS-MS

[2021-03-05 23:45] whedon commented on #3090
[code]

[2021-03-05 23:46] whedon commented on #3090
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03090/joss.03090/10.21105.joss.03090.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03090/joss.03090/10.21105.joss.03090.pdf) :page_facing_up: :point_left:

[2021-03-05 23:47] connorjmccabe commented on #3090
@danielskatz Thanks for noting this. I have just made this change.

[2021-03-06 01:22] arosen93 commented on #3089
Fantastic. I plan to start my review towards the latter half of next week. Looking forward to learning about IFermi!

[2021-03-06 01:55] Sulstice commented on #3050
Ah I am catching up on the threads. @f3rmion  I was reading the README first and then comments. I've begun the review and looking through the docs first. I can close some of the issues if you want me to.

For your gitbook - is there a way.I can make suggestion edits in there? or should I continue with github issues?

Apologies for taking some time to respond - weird situation over here in texas...

[2021-03-06 07:07] ranocha commented on #3053
Changing `LICENSE.md` from
[code]
to something like
[code]
should help. You should basically use the text from the link I posted above with only minor modifications such that GitHub recognizes the license automatically and displays it in the summary part of the repo, e.g.
![image](https://user-images.githubusercontent.com/12693098/110198456-e89db600-7e52-11eb-89f1-ebbc3e6c8124.png)
instead of
![im

[2021-03-06 10:02] f3rmion commented on #3050
Hi @Sulstice,

no problem I totally understand the current situation. There is a separate kallisto [GitBook repository](https://github.com/f3rmion/gitbook-kallisto). Just open issues there and I'll try to resolve them. Cheers.

[2021-03-06 10:43] chennachaos commented on #2831
Hello @Kevin-Mattheus-Moerman.
Apologies for the delay. Been occupied with a lot of teaching and admin activities. I have ticked the boxes now. Apart from my concern regarding the amount of work, everything else is fine with this library.
Thank you for the opportunity once again.

[2021-03-06 11:30] navidcy commented on #3053
OK I see! Thanks.
Done via [1439a25](https://github.com/FourierFlows/GeophysicalFlows.jl/commit/1439a259e42556ae4d72f7d931ce8f0cdca07b0d).

[2021-03-06 14:47] niceume commented on #3063
@danielskatz - I am sorry for being late. I needed to take time for my family. Testing part is now added, and it can be done with docker.

[2021-03-06 16:27] CBenghi commented on #3061
Just a quick line to let you know that I'm flat out working until Thursday, but I'll be able to pick up the review swiftly after that. Apologies for the delay.

[2021-03-06 17:10] bonh commented on #3019
@melissawm will do, thanks!

[2021-03-06 17:14] inakleinbottle commented on #3054
I submitted a new issue for my review: https://github.com/AlexanderFabisch/gmr/issues/25

[2021-03-06 18:34] dfm commented on #2968
@whedon generate pdf

[2021-03-06 18:35] whedon commented on #2968
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: :point_left:

[2021-03-06 18:35] dfm commented on #2968
@whedon check references

[2021-03-06 18:36] whedon commented on #2968
[code]

[2021-03-06 19:06] mrtommyb commented on #2845
Thanks for your response @ekaterinailin. I think that the tight integration with Lightkurve means that not having the software compatible with Lightkurve 2 means that the software is not entirely functional. I think that it's important to be able to use the current release of Lightkurve, without pinning the installation to an old and unmaintained version of Lightkurve.

[2021-03-06 19:16] dfm commented on #2968
@wvanzeist: I've opened a tiny pull request with some minor edits to the paper. Can you take a look at that and once you've merged, please take the following steps:

1. Comment `@whedon generate pdf` on this thread and read through the manuscript to make sure that you're happy with it (it's hard to make changes later!), especially author names and affiliations.
2. Increment the version number of t

[2021-03-06 19:16] f3rmion commented on #3050
@Sulstice I closed all issues:
- added a python 3.7 badge
- linked all developers in README.md
- added @pprcht to the pyproject.toml

[2021-03-06 19:35] dfm commented on #3015
@D-K-E: Thanks for your patience! The paper is looking better, but I think that the online documentation could still use some work to make it more accessible. Right now the README seems to be the main source of documentation with the doxygen API docs hosted separately. It would be good to connect these (probably by moving most of the functionality discussion to the doxygen pages, but feel free to

[2021-03-06 20:39] D-K-E commented on #3015
@dfm Hi ! It is really nice to here from you. The Viva-Lambda repository, is also me, a part of the code is live coded in my twitch channel (twitch.tv/vivalambda) and some of my viewers, mostly graduate students in CS, were interested in seeing the code, so I uploaded it to channel's repository as well. I can remove it, if you feel it's necessary, or add a notice to readme which repo is the origin

[2021-03-06 22:58] RMeli commented on #3050
@whedon generate pdf

[2021-03-06 22:58] whedon commented on #3050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: :point_left:

[2021-03-07 04:52] sarathsp06 commented on #3075
@farshidtz had a brief look at the article proof and repository
well done! Liked the clear and concise documentation within the code.

I had some minor concerns
* There are some dead code
       * eg: [`enumValues_DataSchemaType` ](https://github.com/linksmart/thing-directory/blob/42b5f6f97c6fb63c89760a01160b89713f6c040b/wot/thing_description.go#L466)

* There are some semantic issues like having

[2021-03-07 07:50] omshinde commented on #2805
Hi @fduchatea and authors!
cc: @galessiorob

System settings while reviewing:

    Installation - Local Machine
    OS - Ubuntu 20.04 (WSL)
    Python version - 3.8.5

Thank you for submitting a wonderful application, I foresee Predihood's utility as a great application for predicting insights about a (the) neighborhood (s). Please find my thoughts below regarding the points mentioned in the revie

[2021-03-07 09:19] whedon commented on #3050
:wave: @rmeli, please update us on how your review is going (this is an automated reminder).

[2021-03-07 09:19] whedon commented on #3050
:wave: @Sulstice, please update us on how your review is going (this is an automated reminder).

[2021-03-07 11:43] Natsiopoulos commented on #3013
Hello @kyleniemeyer, @Kevin-Mattheus-Moerman, @kthyng,
Thank you for helping with our submission.

Since this work is part of my PhD, and it's been over a month from the first submission, me and my coauthor and supervisor, we are wondering if you have an estimation about when the process is going to start?
Could another editor be invited since sbenthall has not responded yet?

Thank you for your h

[2021-03-07 12:13] Kevin-Mattheus-Moerman commented on #2831
@whedon generate pdf

[2021-03-07 12:14] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2021-03-07 12:16] Kevin-Mattheus-Moerman commented on #2831
@whedon check references

[2021-03-07 12:16] whedon commented on #2831
[code]

[2021-03-07 13:11] Kevin-Mattheus-Moerman commented on #2831
@oalii congrats we will now process the last steps to help accept this work in JOSS.

Below are some final suggested changes on the paper:
- [ ] Consider changing `aims at fulfilling` to `aims to fulfill`.
- [ ] Consider changing `serve as a communication and education22mean between experienced users and novice` to something like (note the different use of "mean") `serve as a means for experienced

[2021-03-07 13:20] Kevin-Mattheus-Moerman commented on #2831
Thanks for your help @chennachaos!

[2021-03-07 13:25] farshidtz commented on #3075
Thank you very much for your review, @sarathsp06.
I've addressed your concerns. Please find the responses inline:

This is not used by this software, but others who import the package may use it to check if the value of [DataSchema.DataType](https://github.com/linksmart/thing-directory/blob/4a5dd20b04039a9b7253a794813e7a72c70d8d33/wot/thing_description.go#L276) is one of the allowed ones. I've [ad

[2021-03-07 13:31] sarathsp06 commented on #3075
Thank you , I think the following was not clear # probably in my explanation

main.registerDNSSDService:  does not seem to do what was expected as line 21 instance assignment is ineffective. ie, . in conf.DNSSD.Publish.Instance in effect is not replaces

The first replace is ignored as the following line is over writing the same variable

[2021-03-07 13:39] cescalara commented on #3045
Hi @JohannesBuchner, Thanks for all your work on BXA! Overall it looks like things are working and well-documented, but I do have a few comments/questions. I have opened a couple of issues dealing with code-related things:

* Documentation - [#19](https://github.com/JohannesBuchner/BXA/issues/19)
* Examples/tests - [#20](https://github.com/JohannesBuchner/BXA/issues/20)

And also a few comments on

[2021-03-07 13:58] jpsnijder commented on #3041
Hi @oliviaguest, is there anything else for me to do when I finished the checklist and posted additional notes in this comment section?

[2021-03-07 14:27] farshidtz commented on #3075
Right, good catch. [Fixed it and added unit tests](https://github.com/linksmart/thing-directory/commit/b469a462704b7c602f1221088ff8d750d72ee418).

[2021-03-07 14:30] SunilAnandatheertha commented on #3018
Hi. I hope the reviewer list was ok. Could i please request an update. Thanks.

[2021-03-07 14:54] Sulstice commented on #3050
@f3rmion Awesome, I've got more incoming as I go line by line through your stuff.

[2021-03-07 20:15] eloisabentivegna commented on #2978
Thanks @rhaas80 for your thorough comments, and @BenMql for addressing them promptly!

@robertsawko, do you have any update to report at this stage?

[2021-03-07 20:24] eloisabentivegna commented on #2862
@mengaldo, have you had a chance to work on the reviews yet? Could you post an update?

[2021-03-07 20:26] eloisabentivegna commented on #2555
@ianhinder, @gouarin, will you have the chance to complete your reviews shortly? You only seem to have a few unchecked items each, so hopefully this won't require too much longer.

[2021-03-07 20:51] thomakra commented on #2980
Hei George,

Sorry for the late reply. I also have very limited time these days, but
since you say you are happy with slow progress I can try to have a look
over the coming few weeks.

-Thomas-

On Sun, 21 Feb 2021 at 22:43, George K. Thiruvathukal <
notifications@github.com> wrote:

[2021-03-07 21:05] gkthiruvathukal commented on #2980
@thomakra Great, I will assign you and see if I can get a second reviewer. So it might take a little while to get things going anyway.

[2021-03-07 21:05] gkthiruvathukal commented on #2980
@whedon assign @thomakra as reviewer

[2021-03-07 21:05] whedon commented on #2980
OK, @thomakra is now a reviewer

[2021-03-07 21:33] ikayz commented on #3049
@wuruchi so I've done I think half of the review. Some feedback, the node_modules folder causes an issue on Windows-based machines (Tried it on two machines, same result). I noticed they were not ignored in the gitiginore file. I had to delete the directory and reinstall the dependencies by running `npm install`. The tests are failing to run due to canvas.node

![image](https://user-images.githubu

[2021-03-07 21:48] gkthiruvathukal commented on #2980
@yc015 Can you please suggest a few more possible reviewers from our reviewer list? Thanks!

[2021-03-07 22:49] wvanzeist commented on #2968
@whedon generate pdf

[2021-03-07 22:49] whedon commented on #2968
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: :point_left:

[2021-03-07 22:58] djmitche commented on #3049
Yikes, how did I miss that?  `node_modules` definitely should not be in version control!  Note, too, that `yarn` sees to be the de-facto replacement for `npm`.  Assuming `node_modules` is in the repo due to some bug with `npm`, switching to `yarn` is probably the fix.

[2021-03-07 23:13] wvanzeist commented on #2968
@dfm Would you know of a way to prevent the PDF from breaking the word "Riroriro" weirdly without a line-break hyphen at line 62?

[2021-03-07 23:39] olgadoronina commented on #2095
Hi @roshansamuel, thank you for your updates, I was able to compile solver by following you installation instructions, but when I run the testSaras.sh, I get the following output:
[code]

If I run compileSaras.sh with `TEST_RUN="TEST_RUN"` I get the following errors:
[code]

[2021-03-08 01:29] whedon commented on #3051
:wave: @uellue, please update us on how your review is going (this is an automated reminder).

[2021-03-08 01:29] whedon commented on #3051
:wave: @JaroslavHron, please update us on how your review is going (this is an automated reminder).

[2021-03-08 01:35] conradsnicta commented on #3051
Update: we're still working on the revision -- been flat out with the day job.

[2021-03-08 01:59] navidcy commented on #3053
@ranocha, regarding your remarks on

- You should consider reformatting the license file LICENSE.md such that GitHub recognizes the license type automatically, cf. https://opensource.org/licenses/MIT
Done; see release [v0.11.5](https://github.com/FourierFlows/GeophysicalFlows.jl/releases/tag/v0.11.5)

- The currently latest release is v0.8.5 but the README tells people to cite v0.11.4 - that's rea

[2021-03-08 02:07] wvanzeist commented on #2968
@whedon generate pdf

[2021-03-08 02:07] whedon commented on #2968
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: :point_left:

[2021-03-08 02:50] mengaldo commented on #2862
@eloisabentivegna yes, I have almost completed all the points raised. I am now looking at the few remaining ones. I believe that by the end of March the process will be complete.

[2021-03-08 03:52] whedon commented on #3052
:wave: @mdpiper, please update us on how your review is going (this is an automated reminder).

[2021-03-08 03:52] whedon commented on #3052
:wave: @arcuri82, please update us on how your review is going (this is an automated reminder).

[2021-03-08 04:10] sadielbartholomew commented on #2766
## Summary of review

I am very satisfied with both the software and the paper, notably that they meet the requirements. Therefore I have now ticked all review list checkboxes and I am happy to recommend acceptance of the OpenSCM Two Layer Model paper for publication.

Please do consider the minor comments I raise below @znicholls, though they are merely suggestions or questions that came to me du

[2021-03-08 05:53] ranocha commented on #3053
Nice work and good updates! Please find below two additional questions/comments.

- [ ] Could you please explain your reasons for creating several submodules such as `TwoDNavierStokes`? A more Julian approach seems to be to create some equations type and pass that around using multiple dispatch. That would probably make it easier to use GeophysicalFlows.jl as a library with multiple physical setup

[2021-03-08 06:24] dpsanders commented on #2809
👋 Hi @thowell, have you been able to look over the paper again? Thanks!

[2021-03-08 06:27] oalii commented on #2831
@whedon generate pdf from branch joss-review

[2021-03-08 06:27] whedon commented on #2831
[code]

[2021-03-08 06:28] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2021-03-08 06:38] arokem commented on #3017
:wave: @abhishekbajpayee: would you be willing to review this paper for JOSS? Thanks!

[2021-03-08 06:39] arokem commented on #3017
👋 @neuroimaginador : would you be willing to review this paper for JOSS? Thanks!

[2021-03-08 07:06] jni commented on #3069
@kthyng I just finished my last review, and this is in my wheelhouse, so I'd be happy to take this on.

@vyasr if you have suggestions for reviewers that don't [have a conflict of interest per the JOSS guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy), please let us know!

[2021-03-08 07:19] hugoledoux commented on #2869
@whedon add @sdesabbata as reviewer

[2021-03-08 07:19] whedon commented on #2869
OK, @sdesabbata is now a reviewer

[2021-03-08 07:31] ayush-1506 commented on #3052
Thanks a lot for the reviews, @arcuri82 and @mdpiper . I'll start working on making the changes this week.

[2021-03-08 07:39] hugoledoux commented on #2970
@Narayana-Rao is it clear to you that the review is iterative? I am asking because you wrote a formal response to reviewer in a PDF, and while it's fine, I believe it would be better if you just answered here in plain text and discussed with the reviewers.

For the name, as I said, this is up to you, but as @HenrikJanPersson  pointed out, it would be a better name and furthermore I reckon that sin

[2021-03-08 07:43] arfon commented on #2882
:wave: @satybald and @ajoer - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is a Python package: [_Magicwand: A platform to provide high-quality, reliable, and reproducible data sets for

[2021-03-08 07:58] whedon commented on #3053
:wave: @eviatarbach, please update us on how your review is going (this is an automated reminder).

[2021-03-08 07:58] whedon commented on #3053
:wave: @ranocha, please update us on how your review is going (this is an automated reminder).

[2021-03-08 08:31] oalii commented on #2831
@Kevin-Mattheus-Moerman,

That's a great news, thanks! we are very so happy and proud :)
Concerning the last remarks:
* I've just checked the spelling and grammar mistakes you pointed in your message, they are fixed now.
* I confirm that the released version will be V 1.0.0
* I did a final proof reading of the manuscript (and updated the affiliation to our new standard).

We are currently looking

[2021-03-08 08:35] vissarion commented on #3034
:wave: @GISerDaishaoqing, @becarioprecario, @fpl, @fabian-s, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-08 08:39] sjpfenninger commented on #2677
@whedon generate pdf

[2021-03-08 08:40] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-03-08 08:40] ranocha commented on #3053
I already posted comments above.

[2021-03-08 08:42] sjpfenninger commented on #2677
@whedon check references

[2021-03-08 08:42] whedon commented on #2677
[code]

[2021-03-08 08:47] amritagos commented on #3034
@vissarion I am so sorry for the late reply. I'm really busy with some deadlines and will not be able to review.

[2021-03-08 08:48] fabian-s commented on #3034
@vissarion I'll do it :smiley_cat:

[2021-03-08 08:54] JaroslavHron commented on #3051
Yes, that title gives much better idea what to expect from the library.

[2021-03-08 08:55] oalii commented on #2831
@Kevin-Mattheus-Moerman,

Sorry to bother, but I have a quick question concerning the Zenodo archive: The procedure you pointed to is related to GitHub repositories... And we are using a Gitlab one, which apparently does not support an automated procedure to create an archive every time a new release is generated...

My question: would a Zenodo archive simply based on a "zip" of the library (V 1.0

[2021-03-08 08:56] vissarion commented on #3034
@amritagos no problem at all!
@fabian-s thanks for the quick reply!

[2021-03-08 08:56] vissarion commented on #3034
@whedon add @fabian-s as reviewer

[2021-03-08 08:56] whedon commented on #3034
OK, @fabian-s is now a reviewer

[2021-03-08 08:57] vissarion commented on #3034
@whedon start review

[2021-03-08 08:57] whedon opened #3092 "[REVIEW]: bleiglas: An R package for interpolation and visualisation of spatiotemporal data with 3D tessellation"
**Submitting author:** @nevrome (<a href="http://orcid.org/0000-0003-3448-5715">Clemens Schmid</a>)
**Repository:** <a href="https://github.com/nevrome/bleiglas" target ="_blank">https://github.com/nevrome/bleiglas</a>
**Version:** 1.0.0
**Editor:** @vissarion
**Reviewer:** @corybrunson , @fabian-s
**Archive:** <a href="https://doi.org/10.17605/OSF.IO/AGMD6" target="_blank">10.17605/OSF.IO/AGMD6</

[2021-03-08 08:57] whedon commented on #3034
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3092.

[2021-03-08 08:57] #3034 closed

[2021-03-08 08:57] whedon commented on #3092
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @corybrunson , @fabian-s it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-03-08 08:57] whedon commented on #3092
Failed to discover a `Statement of need` section in paper

[2021-03-08 08:57] whedon commented on #3092
[code]

[2021-03-08 08:58] whedon commented on #3092
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03092/joss.03092/10.21105.joss.03092.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03092/joss.03092/10.21105.joss.03092.pdf) :page_facing_up: :point_left:

[2021-03-08 08:58] whedon commented on #3092
[code]

[2021-03-08 09:00] felipeZ commented on #3039
@whedon, @robashaw  and I have been discussing some issues in the [libecpint repository](https://github.com/robashaw/libecpint). Robert has addressed the issues that I have raised and solved the questions that I had.

[2021-03-08 09:00] whedon commented on #3039
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-08 09:08] Kevin-Mattheus-Moerman commented on #2831
No need to mirror. You can just upload the Gitlab content to Zenodo (so no need to set up the automated github approach). Just make sure to check all the meta data (there may be fields to enter to say it is software also).

Here is another accepted submission which used Gitlab I think they did the same: https://joss.theoj.org/papers/10.21105/joss.02165

[2021-03-08 09:43] oalii commented on #2831
Thanks !

[2021-03-08 09:57] becarioprecario commented on #3034
Hi,

Thanks but I am not available at the moment.

Best,

Virgilio

El 8 mar 2021, a las 9:35, Vissarion Fisikopoulos <notifications@github.com<mailto:notifications@github.com>> escribió:

👋 @GISerDaiShaoqing<https://github.com/GISerDaiShaoqing>, @becarioprecario<https://github.com/becarioprecario>, @fpl<https://github.com/fpl>, @fabian-s<https://github.com/fabian-s>, would any of you be willing t

[2021-03-08 10:02] cMadan commented on #2839
@0todd0000, that would be great, thank you! The detailed instructions, and review itself haven't started yet. Ideally we'd have two reviewers before we begin.

@typically, would you be interested and available to review this? I think it is related to some of your current work and may even be useful to use there.

[2021-03-08 10:02] cMadan commented on #2839
@whedon add @0todd0000 as reviewer

[2021-03-08 10:02] whedon commented on #2839
OK, @0todd0000 is now a reviewer

[2021-03-08 10:03] cMadan commented on #3046
I don't think I can take on another review at this time, sorry!

[2021-03-08 10:15] fabian-s commented on #3092
## Review checklist for @fabian-s
### Conflict of interest

- [x] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [x] I confirm that I read and will adhere to th

[2021-03-08 10:20] pdebuyl commented on #3053
Hi @ranocha sorry for this, whedon is our automated chat bot and sometimes makes these unfortunate reminder. I'll ask about them to the JOSS team to disable them when possible.

[2021-03-08 10:24] pdebuyl commented on #3053
@navidcy the "Statement of need" is actually required for all JOSS papers since some time. It was not flagged for submission as the paper is not in the master branch for your repository, but you should add it. See https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain + the checklist. It should be section titled "Statement of need".

[2021-03-08 10:27] whedon commented on #3054
:wave: @vs74, please update us on how your review is going (this is an automated reminder).

[2021-03-08 10:27] whedon commented on #3054
:wave: @inakleinbottle, please update us on how your review is going (this is an automated reminder).

[2021-03-08 10:28] corentin-dev commented on #2939
With the additions made to the package, I have no more comments or changes to request for the software.
Congratulation for the work!
@diehlpk I have finished my review.
Best regards, and sorry for the delay.

[2021-03-08 10:45] f3rmion commented on #3050
@Sulstice OK, I'll check your issues within the repo :)

@RMeli First commit to resolve all suggestions in ``paper.md`` and ``paper.bib``

@whedon generate pdf

[2021-03-08 10:47] f3rmion commented on #3050
@whedon generate pdf

[2021-03-08 10:48] whedon commented on #3050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: :point_left:

[2021-03-08 10:53] wuruchi commented on #3049
Hello @ikayz @djmitche

We can say that at BSC we are open to collaboration, and any team willing to seek support to adapt/modify/improve this application can contact us. I added a line about it at the end of the README.

I guess we included it at some point in the repository because we were not really sure about our dependencies. I have deleted the node_modules folder and included the necessary i

[2021-03-08 10:54] f3rmion commented on #3050
@whedon check references

[2021-03-08 10:55] whedon commented on #3050
[code]

[2021-03-08 11:05] roshansamuel commented on #2095
Hi @olgadoronina, the error you are getting is most likely due to MPI failing to initialize at ``MPI_Init()``. I suspect that not just SARAS, but any MPI code might give the same error. Can you please confirm if a simple MPI example code runs on your system? If you are running MacOS, [this link](https://stackoverflow.com/questions/23112515/mpich2-gethostbyname-failed) might help.

The second set o

[2021-03-08 13:29] yc015 commented on #2980
@gkthiruvathukal  Sorry for being so late in giving out my suggestions. I would suggest dr-xenia, hanayik, macrocosme, and adamltyson as potential reviewers for our submission. @thomakra Thank you so much for your time reviewing our work! Also, thank stsievert again for his great comment, I have improved the documentation and software repo in general over the past two weeks.

[2021-03-08 13:33] diehlpk commented on #2939
@corentin-dev I just checked and three checkboxes below functionality are unchecked. Could you please have a look?

[2021-03-08 13:36] diehlpk commented on #2939
@Balaje I will read the paper from the editor perspective this week. Please check for my comments and address them soon, so we can publish your paper.

[2021-03-08 14:13] jgostick commented on #2940
Hi @samaygarg   Here is a list of what to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here.
- [ ] Make sure that the title and author lis

[2021-03-08 14:29] gkthiruvathukal commented on #2980
@dr-xenia Are you willing to contribute a review for this JOSS submission?

[2021-03-08 14:35] csoneson commented on #3081
@borishejblum - would you be interested in reviewing this submission for JOSS?

[2021-03-08 14:38] KristinaRiemer commented on #2721
Hi @FrancisBanville & @tpoisot. Thank you for your patience, some folks are reaching out to see if they can get in contact with @kellykochanski.

[2021-03-08 14:57] majensen commented on #3030
Hey @amoeba, do you have time and inclination to review [this work](#3030) for [JOSS](https://joss.theoj.org)? Would be awesome.

[2021-03-08 15:05] borishejblum commented on #3081
Hi @csoneson, yes I'd be happy to act as a reviewer for this submission.

[2021-03-08 15:10] danielskatz commented on #2282
👋 @mikerspencer - checking in again

[2021-03-08 15:28] nsaunier commented on #3017
Yes. Is that the correct way to accept and how should I submit the review? Sorry, I am a beginner here.

[2021-03-08 15:36] ctodd26labs commented on #2882
Hello @arfon,

I got the update today from this thread and I have not seen any updates on https://github.com/openjournals/joss-reviews/issues/3032 in ~16 days. Is there anything needed from me or are we choosing a new reviewer for the paper?

I appreciate you keeping an eye on it and updating the ticket.

[2021-03-08 16:48] arfon commented on #2882
Let's sit tight for now. My comment earlier today was to try and find a second reviewer to go along with the one we already have (JOSS has a minimum of two reviewers per submission)

[2021-03-08 16:53] gkthiruvathukal commented on #3062
@whedon commands

[2021-03-08 16:53] whedon commented on #3062
Here are some things you can ask me to do:

[code]

[2021-03-08 16:54] gkthiruvathukal commented on #3062
@wtbarnes and @gorlapraveen, just checking how things are coming along with the review.

[2021-03-08 17:01] khanx169 commented on #3000
@danielskatz @dbkeitel I've gone through the review checklist and everything looks good to me. I've one minor suggestion: In the Github repo, there's a `run_all_examples.py` script. The docs point to GitHub, but it might be good to also explicitly mention this script there (especially since some examples need to be executed in order).

[2021-03-08 17:25] danielskatz commented on #3000
Thanks @khanx169! That sounds like a good suggestion.

[2021-03-08 17:37] dbkeitel commented on #3000
@khanx169 Thanks for the positive feedback!

This script was so far mostly intended for our own use - we run it as a manually-triggered action before releases to make sure the examples don't break. (But not automatically, because it takes much longer to run than the regular integration tests.) But if you found it useful, we're of course happy do document it more clearly.

To make sure, where are y

[2021-03-08 17:46] arokem commented on #3017
@nsaunier: yes - thank you for accepting! As soon as I find one more reviewer, I will start the review issue, where you will find your reviewer check list to work from. In the meanwhile, please stand by.

[2021-03-08 17:59] prdm0 commented on #2769
Dear Editors,

I proceeded with the changes suggested by the reviewers. I modified the documentation on GitHub and the library website as suggested by one of the reviewers, as well as made several changes to the paper. Among them I mention the inclusion of a benchmark, changes in writing and a better explanation of some concepts.

@whedon

[2021-03-08 18:13] prdm0 commented on #2769
@whedon generate pdf

[2021-03-08 18:14] junjun-zhang commented on #2979
`minimo` certainly has the potential to address the need of a system that helps researchers to organize and track their data together with associated metadata.

Installation and getting the app up and running was straightforward, thanks to the nice documentation.

My comments are more on useability from a user’s perspective:

1. The term `form` in the `MANAGE FORMS` is a bit confusing. It seems mo

[2021-03-08 18:14] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-08 18:40] khanx169 commented on #3000
@dbkeitel I was thinking specifically of the `Examples` section of readthedocs. I understand most users would probably want to look at some specific example at a time, but my thought process when I reached that section was: "It'd be nice if I could run all the examples first, and then come back and look at the scripts and outputs one by one to familiarize myself with the package". I suspect occasi

[2021-03-08 18:48] csoneson commented on #3081
Great, thanks a lot @borishejblum!

[2021-03-08 18:48] csoneson commented on #3081
@whedon assign @tgerke as reviewer

[2021-03-08 18:48] whedon commented on #3081
OK, @tgerke is now a reviewer

[2021-03-08 18:49] csoneson commented on #3081
@whedon add @borishejblum as reviewer

[2021-03-08 18:49] whedon commented on #3081
OK, @borishejblum is now a reviewer

[2021-03-08 18:49] csoneson commented on #3081
@whedon start review

[2021-03-08 18:49] whedon opened #3093 "[REVIEW]: dataquieR: assessment of data quality in epidemiological research"
**Submitting author:** @struckma
**Repository:** <a href="https://gitlab.com/libreumg/dataquier.git" target ="_blank">https://gitlab.com/libreumg/dataquier.git</a>
**Version:** 1.0.6
**Editor:** @csoneson
**Reviewers:** @borishejblum, @cmirzayi
**Archive:** <a href="https://doi.org/10.5281/zenodo.4767836" target="_blank">10.5281/zenodo.4767836</a>

**:warning: JOSS reduced service mode :warning:**

[2021-03-08 18:49] whedon commented on #3081
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3093.

[2021-03-08 18:49] #3081 closed

[2021-03-08 18:49] whedon commented on #3093
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tgerke, @borishejblum it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-03-08 18:49] whedon commented on #3093
[code]

[2021-03-08 18:49] whedon commented on #3093
PDF failed to compile for issue #3093 with the following error:

 Can't find any papers to compile :-(

[2021-03-08 18:53] csoneson commented on #3093
👋🏼 @struckma, @tgerke, @borishejblum - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. O

[2021-03-08 18:53] csoneson commented on #3093
@whedon generate pdf from branch JOSS

[2021-03-08 18:53] whedon commented on #3093
[code]

[2021-03-08 18:54] whedon commented on #3093
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03093/joss.03093/10.21105.joss.03093.pdf) :page_facing_up: :point_left:

[2021-03-08 19:07] RobertRosca commented on #3000
Hey, I also went through the checklist, everything looks good!

I have some suggestions but none of them are major:

- Installation:
  - Pretty subjective, but I think having all the extra requirements under `extras_require` would be nice, then you could have some for `docs`, `style`, `test`, etc... which makes development and contribution a bit easier, also makes the CI scripts cleaner since ever

[2021-03-08 19:07] mwillsey commented on #3078
Low-level feedback
- Line 26: "Theories can then be executed". Theories should be introduced first, this is an abrupt start.
- "rust" should be "Rust" throughout

Overall the paper, software, and documentation (especially) looks good. As the egg author, I view "egg in Julia" as a sufficient contribution, given that Metatheory.jl capitalizes on then dynamic nature of Julia with, e.g. homoiconicity,

[2021-03-08 19:45] danielskatz commented on #3000
Thanks @khanx169 and @RobertRosca - you both are great!

@RobertRosca - there are a lot of your checkboxes in the review unchecked. Can you check all those you are comfortable with, and if any need more work before you can check them (as opposed to suggestions for improvements that you would like but don't think are required), please let us know about that work too, though I don't think you are sa

[2021-03-08 20:27] RobertRosca commented on #3000
@danielskatz ah yes my bad, forgot to actually check them off as I went through everything, that's fixed now!

[2021-03-08 20:31] danielskatz commented on #3000
Thanks - so over to @dbkeitel now to make the optional changes and improvements ...

Once this is done, let us all know so we can check how things look and do a final signoff, then we can do the final acceptance and publishing

[2021-03-08 20:52] dbkeitel commented on #3000
Thanks a lot for the helpful suggestions! It's late here in Spain, so I'll respond in more detail tomorrow.

[2021-03-08 20:53] nickwimer commented on #2095
Hi @roshansamuel I have had no more success with installing SARAS on MacOS. I have also attempted install on Eagle supercomputer and again, it failed.

Finally, I switched to NERSC Cori machine and everything installed correctly as described in your documentation. I have tried running the `testSaras.sh` script and it appears to run correctly, however when I try to run `validate_ldc.py`, the error

[2021-03-08 21:15] eloisabentivegna commented on #2862
@mengaldo, that's OK, but let's take the end of March as an official hard deadline as this task has been open for over two months. If you think you might not be unable to complete the process by the end of the month, please let us know promptly.

[2021-03-08 23:25] vyasr commented on #3069
@jni thanks for touching base. Looking through the spreadsheet of reviewers @amritagos, @Jacob-Barhak, and @tmaric are three people who might be interested.

[2021-03-08 23:54] navidcy commented on #3053
Thanks for pointing this out -- I missed the fact that it was an actual requirement to have a section titles so. I looked at previous JOSS papers and followed their pattern (e.g. [Oceananigans.jl](https://joss.theoj.org/papers/10.21105/joss.02018)) and didn't see that. But sure, we'll restructure the paper to include a *Statement of need* section.

[2021-03-09 00:14] kbarnhart commented on #2952
@whedon check references

[2021-03-09 00:14] whedon commented on #2952
[code]

[2021-03-09 00:15] kbarnhart commented on #2952
@whedon compile pdf

[2021-03-09 00:15] whedon commented on #2952
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-09 00:23] 0x0f0f0f commented on #3078
Thank you max! I really appreciate your comments and suggestions. I wanted to keep this paper short and introductory (focusing on the important contributions) to leave a more theoretical (and analytical) approach to a follow-up. I'd be really happy to read and write more about classical rewriting. Please send me an email if you have any paper to suggest!

[2021-03-09 00:35] kbarnhart commented on #2952
@whedon generate pdf

[2021-03-09 00:36] whedon commented on #2952
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: :point_left:

[2021-03-09 00:47] mwillsey commented on #3078
@0x0f0f0f I really like this survey paper, it discusses most of the seminal works in this area: http://www.math.tau.ac.il/~nachumd/papers/taste-fixed.pdf

[2021-03-09 00:55] navidcy commented on #3053
@glwagner, regarding @ranocha's question:

do you have access to a machine with multiple GPUs to check what happens in this case?

[2021-03-09 01:00] kbarnhart commented on #2952
@jonschwenk I've proposed some very minor copyedits at jonschwenk/RivGraph/pull/48

Please consider, and if you don't disagree, merge. Once you've done that please double check that the paper compiles and complete the following next steps:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar

[2021-03-09 01:41] glwagner commented on #3053
I will check but I believe that `CUDA.jl` somehow generates a list of devices (possibly in a different order than the list returned by `nvidia-smi`) and selects the first device of the list. It's explained in [a blog post on the CUDA.jl website](https://juliagpu.org/2020-07-18-cuda_1.3/):

[code]

We could implement a convenience interface to `device` by adding an argument to the `GPU()` construct

[2021-03-09 03:35] wvanzeist commented on #2968
In order to deal with the weird line break at line 62, I decided to just rearrange the sentence so that the word with the special formatting wasn't at the end of the line. It's fixed now.

[2021-03-09 03:36] wvanzeist commented on #2968
@whedon generate pdf

[2021-03-09 03:36] whedon commented on #2968
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: :point_left:

[2021-03-09 05:46] Jacob-Barhak commented on #3069
Hi Vyas,

This paper looks interesting - if you want my review - I will make it
publicly below

I read through, I saw many claims that the thing I missed most was an
example. If the Authors would give a simple example and show how they apply
their claims to it it will give a good idea to what they are doing.

Calculating volumes for examples has been practiced in CAD systems for many
years - algo

[2021-03-09 06:00] ranocha commented on #3053
@navidcy That would be good :+1:

[2021-03-09 06:57] sjpfenninger commented on #2677
@TheoChristiaanse: Almost there!

The very first link on https://besos.readthedocs.io/en/stable/ is still broken: [examples overview page](https://besos.readthedocs.io/en/stable/ExamplesOverview.html). Further down there are more broken links, e.g. https://besos.readthedocs.io/en/stable/installation.

Could you please double-check the links in the docs, especially on the index page where people ar

[2021-03-09 07:07] sjpfenninger commented on #2677
@TheoChristiaanse could you also point me to the answer to @fneum's questions about authorship of the paper? I cannot see it here nor in the review issues fneum created in your repo.

[2021-03-09 07:41] f3rmion commented on #3050
@whedon check references

[2021-03-09 07:42] whedon commented on #3050
[code]

[2021-03-09 07:54] mfherbst commented on #2838
Hi all ... short update from me. I'm going through a pretty busy period at the moment, so I'm not sure I'll get to doing the review within the next two weeks. Sorry about that.

[2021-03-09 08:18] mikldk commented on #2878
@r-barnes still needs to check a few boxes. Can you give a status update?

[2021-03-09 09:55] aghaynes commented on #3030
@majensen sorry for the delay... The only people that come to my mind might be biased (people I know or have collaborated with). If you're fine with that then I could nominate certainly one person...

[2021-03-09 10:14] mattpitkin commented on #3001
@JohannesBuchner thanks for the updates. If you could just address https://github.com/openjournals/joss-reviews/issues/3001#issuecomment-771025395 I'll sign-off my final tick box for the review.

[2021-03-09 10:47] whedon commented on #3055
:wave: @p-costa, please update us on how your review is going (this is an automated reminder).

[2021-03-09 10:47] whedon commented on #3055
:wave: @wimvanderbauwhede, please update us on how your review is going (this is an automated reminder).

[2021-03-09 11:15] whedon commented on #3056
:wave: @rmorgan10, please update us on how your review is going (this is an automated reminder).

[2021-03-09 11:15] whedon commented on #3056
:wave: @cescalara, please update us on how your review is going (this is an automated reminder).

[2021-03-09 11:38] oliviaguest commented on #3041
@jpsnijder normally this is a dialogue with the author(s) until they meet your requirements and feedback. Does this make sense?

[2021-03-09 11:45] dfm commented on #2845
Thanks @mrtommyb!

@ekaterinailin: I agree with Tom that lightkurve compatibility is pretty crucial since it's a major dependency, but also a common element in the workflow of many of your users. I think that it would be worth taking the time to look carefully into what it would take to support lightkurve 2+. Even better, how painful would it be to support both? If it's really infeasible, one opti

[2021-03-09 12:00] sdparsons commented on #3041
Just to check, can/should I begin working to address the feedback so far now? I don't want to confuse the process by starting too early if it's not ok to do so.

[2021-03-09 12:05] jni commented on #3069
@Jacob-Barhak thank you for jumping right in, but review hasn't started! :sweat_smile: I should have been more clear above. Review proceeds in a new issue where you would get a reviewer checklist, along with clear criteria for review. If you agree to be a reviewer, the guide is here

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
https://joss.readthedocs.io/en/latest/review_criteri

[2021-03-09 12:06] whedon commented on #3069
OK, the editor is @jni

[2021-03-09 12:33] corentin-dev commented on #2939
You are right. They are now checked!

[2021-03-09 12:50] tmaric commented on #3069
Sure, please include me as well.

On 3/9/21 1:05 PM, Juan Nunez-Iglesias wrote:

[2021-03-09 13:00] roshansamuel commented on #2095
Hi @nickwimer the error in opening ``Soln_0030.0000.h5`` was due to a bug in ``validate_ldc.py`` and it has been corrected. The README has also been updated as you suggested. We thank you for inputs.

It would be very helpful if you can post the error you faced when installing on Eagle supercomputer and MacOS. The error in ``MPI_Init()`` in MacOS can be resolved using the suggestion in [this link]

[2021-03-09 13:07] majensen commented on #3030
@aghaynes sure

[2021-03-09 13:18] fboehm commented on #2995
@JDRomano2 how is your review going? Do you have additional comments for the authors? Please feel free to check the boxes if the current state of the repository meets the requirements. Thanks again!

[2021-03-09 13:39] oalii commented on #2831
@Kevin-Mattheus-Moerman,

A few remarks:
* We've just made the Zenodo archive. We got the following DOI: 10.5281/zenodo.4590758
* Contrary to what I told you yesterday, we had to update the version to 1.0.1, sorry about that.
* We had therefore to update the conda-forge recipe  and we do not have yet the 1.0.1 package available. We don't know how long this might take.

Is it ok for you ?
Let me kn

[2021-03-09 13:53] Jacob-Barhak commented on #3069
So Juan,

You will find my opinion in the paper posted already. I will go no further
than this, especially after seeing the links you sent me.

You see, there is a difference between giving an opinion and performing
tests on a system to give it approval by guidelines one does not agree
with. You went a bit too far with those guidelines.

Especially I did not like the channeling of the license to O

[2021-03-09 14:29] KristinaRiemer commented on #3047
@whedon assign @pjbouchet as reviewer

[2021-03-09 14:29] whedon commented on #3047
OK, @pjbouchet is now a reviewer

[2021-03-09 14:31] whedon commented on #2831
OK. <a href="https://doi.org/10.5281/zenodo.4590758" target="_blank">10.5281/zenodo.4590758</a> is the archive.

[2021-03-09 14:31] Kevin-Mattheus-Moerman commented on #2831
@whedon set v1.0.1 as version

[2021-03-09 14:31] whedon commented on #2831
OK. v1.0.1 is the version.

[2021-03-09 14:34] Kevin-Mattheus-Moerman commented on #2831
@whedon generate pdf

[2021-03-09 14:35] whedon commented on #2831
PDF failed to compile for issue #2831 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (e0eb212ceaecb4955ceaf8f0/paper/paper.md): could not find expected ':' while scanning a simple key at line 22 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390

[2021-03-09 14:39] whedon commented on #3086
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-03-09 14:48] Kevin-Mattheus-Moerman commented on #2831
@oalii Can you check this error? Did you move the paper? Can  you update the paper here?

As you can see :point_up: I have updated the version tag and set the archive link.

- [ ] Also can  you amend the DOI archive so it also lists the author first names?

[2021-03-09 15:12] prdm0 commented on #2769
Dear, I did one more complete review of the article's English. I believe that the article is now in a presentable format. Thank you for all the suggestions that have enriched the material.

[2021-03-09 15:12] prdm0 commented on #2769
@whedon generate pdf

[2021-03-09 15:13] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-09 15:36] oalii commented on #2831
@whedon generate pdf

[2021-03-09 15:36] whedon commented on #2831
PDF failed to compile for issue #2831 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (b6becd530a0609deaf51dd85/paper/paper.md): could not find expected ':' while scanning a simple key at line 22 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390

[2021-03-09 15:40] oalii commented on #2831
@whedon generate pdf from branch master

[2021-03-09 15:40] whedon commented on #2831
[code]

[2021-03-09 15:41] whedon commented on #2831
PDF failed to compile for issue #2831 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (df4efce0c78135100ae1eabc/paper/paper.md): could not find expected ':' while scanning a simple key at line 22 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390

[2021-03-09 15:53] oalii commented on #2831
@whedon generate pdf

[2021-03-09 15:54] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2021-03-09 15:56] oalii commented on #2831
@Kevin-Mattheus-Moerman,

The bug with the paper seams solved.
I also amended the author names on Zenodo.

[2021-03-09 15:58] jonschwenk commented on #2952
@whedon generate pdf

[2021-03-09 15:59] whedon commented on #2952
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: :point_left:

[2021-03-09 16:33] jonschwenk commented on #2952
@whedon generate pdf

[2021-03-09 16:34] whedon commented on #2952
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02952/joss.02952/10.21105.joss.02952.pdf) :page_facing_up: :point_left:

[2021-03-09 16:38] jonschwenk commented on #2952
@kbarnhart Checklist complete.

- [x]  Recompiled paper
- [x]  New tagged release has been created: v0.4
- [x]  v0.4 has been stored at Zenodo.
- [x] Metadata matches title and authors, includes ORCIDs.
- [x] Zenodo DOI: 10.5281/zenodo.4591559

[2021-03-09 17:01] tyronerees commented on #3080
Hi @dhhagan -- the readme is now updated to include links to the relevant sections.

[2021-03-09 17:54] thowell commented on #2809
Looks good to me!

[2021-03-09 17:54] whedon commented on #3060
:wave: @KristofferC, please update us on how your review is going (this is an automated reminder).

[2021-03-09 17:54] whedon commented on #3060
:wave: @rdeits, please update us on how your review is going (this is an automated reminder).

[2021-03-09 18:27] whedon commented on #3047
OK, @mcsiple is now a reviewer

[2021-03-09 18:28] whedon opened #3094 "[REVIEW]: WhaleMap: a tool to collate and display whale survey results in near real-time"
**Submitting author:** @hansenjohnson (<a href="http://orcid.org/0000-0002-3086-6759">Hansen Johnson</a>)
**Repository:** <a href="https://github.com/hansenjohnson/WhaleMap" target ="_blank">https://github.com/hansenjohnson/WhaleMap</a>
**Version:** v1.0.0
**Editor:** @KristinaRiemer
**Reviewer:** @pjbouchet, @mcsiple
**Archive:** <a href="https://doi.org/10.5281/zenodo.4913270" target="_blank">10

[2021-03-09 18:28] whedon commented on #3047
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3094.

[2021-03-09 18:28] #3047 closed

[2021-03-09 18:29] whedon commented on #3094
[code]

[2021-03-09 18:29] whedon commented on #3094
[code]

[2021-03-09 18:30] whedon commented on #3094
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03094/joss.03094/10.21105.joss.03094.pdf) :page_facing_up: :point_left:

[2021-03-09 18:30] KristinaRiemer commented on #3047
Thanks to @pjbouchet and @mcsiple for agreeing to review this submission! The review will happen in the GitHub issue linked to above. Feel free to ask me questions there! Use the checklist as a guide for your review, and file issues in the submission repo to suggest improvements.

[2021-03-09 18:33] mosteo commented on #2783
I am finished, sorry for the delay. A couple of observations:

In the SLAM tutorial at https://navigation.ros.org/tutorials/docs/navigation2_with_slam.html, the command at step 1:

` ros2 launch nav2_bringup nav2_navigation_launch.py` should be
`ros2 launch nav2_bringup navigation_launch.py`

At step 4 with the shortcut, the last `True` is given in lowercase and should be in uppercase: `ros2 launc

[2021-03-09 19:04] mdpiper commented on #3052
Hi @gkthiruvathukal -- I've finished my review, pending responses to a series of issues I've opened in the authors' repository.

[2021-03-09 20:44] kbarnhart commented on #2952
@whedon set 10.5281/zenodo.4591559 as archive

[2021-03-09 20:44] whedon commented on #2952
OK. <a href="https://doi.org/10.5281/zenodo.4591559" target="_blank">10.5281/zenodo.4591559</a> is the archive.

[2021-03-09 20:44] kbarnhart commented on #2952
@whedon set v0.4 as version

[2021-03-09 20:44] whedon commented on #2952
OK. v0.4 is the version.

[2021-03-09 20:44] kbarnhart commented on #2952
@whedon accept

[2021-03-09 20:44] whedon commented on #2952
[code]

[2021-03-09 20:45] whedon commented on #2952
[code]

[2021-03-09 20:46] kbarnhart commented on #2952
@jonschwenk I've now recommended that is submission be accepted and published. One of the JOSS EICs will handle the final steps @openjournals/joss-eics. Congratulations to you and @elbeejay on a valuable contribution to research software.

Many thanks to reviewers @leotrs and @eriknes for contributing thoughtful and constructive reviews.

[2021-03-09 20:46] whedon commented on #2952
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2137

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2137, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-09 23:28] kbarnhart commented on #3088
:wave:  @mandli @dlgeorge @jmansour @bzindovic would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "geoclaw-landspill: an oil land-spill and overland flow simulator for pipeline rupture events" and I'm contacting you based o

[2021-03-09 23:59] mandli commented on #3088
I have been at least vaguely involved with this work from its genesis so it may be better for the other candidates to provide another perspective on the work than myself who has already provided some feedback.  Of course if that's not possible I would be happy to help.

[2021-03-10 04:35] galessiorob commented on #2805
Thank you so much for your thoughtful and thorough review @omshinde!

@fduchatea I'd encourage you to consider using a Docker container to avoid these installation issues, please take note of the other issues all the reviewers have raised and let me know if you have any questions or if I can support you in any way.

[2021-03-10 05:37] kanishkan91 commented on #2890
@whedon generate pdf

[2021-03-10 05:38] whedon commented on #2890
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: :point_left:

[2021-03-10 05:41] kanishkan91 commented on #2890
@dhhagan @jhollist Just an FYI- We did a new release for ambrosia (v1.3.2) with some minor documentation updates and updates to the user tutorial. The above pdf reflects the changes. Please let us know what you think.

[2021-03-10 06:43] ekaterinailin commented on #2845
@mrtommyb @dfm Agreed! I have a few deadlines coming up, but I hope that  - if feasible - I can make lightkurve2+ compatibility happen in early April. If that works out I also shall see if I can make the software work for both old and new lightkurve :+1:

[2021-03-10 06:55] timtroendle commented on #2769
@whedon remove @sahilseth as reviewer

[2021-03-10 06:55] whedon commented on #2769
OK, @jgoldfar is no longer a reviewer

[2021-03-10 07:00] timtroendle commented on #2769
Thank you for the update, @prdm0. @pratikvn and @myousefi2016, could you please have a look at the revisions and update your corresponding checklist above? Also, a review issue is still open: https://github.com/prdm0/ropenblas/issues/21. @pratikvn, can you please close the issue if the changes have been implemented sufficiently?

[2021-03-10 07:13] yadudoc commented on #3075
Hi @farshidtz, I've looked over the paper, documentation and poked around with a local deployment as well as the swagger UI, and overall I'm very pleased. I'd also echo @sarathsp06's comment that the code documentation is remarkable!

Here are the couple of items that I've raised as issues in the repo:
- [ ] Citation to a more recent survey paper (https://github.com/linksmart/thing-directory/issue

[2021-03-10 07:16] aghaynes commented on #3030
@majensen then perhaps @PatrickRWright would be able and willing?

[2021-03-10 07:40] pratikvn commented on #2769
@whedon check references

[2021-03-10 07:40] whedon commented on #2769
[code]

[2021-03-10 07:45] pratikvn commented on #2769
@timtroendle , Everything looks good to me modulo some final paper changes which I have provided on https://github.com/prdm0/ropenblas/issues/21 .

After these changes have been implemented, I can close that issue and we can proceed here.

[2021-03-10 08:05] eloisabentivegna commented on #2555
Thanks, @gouarin. There are some changes to the package itself, if not the paper, that address your points. Could you see if any of those allow you to make progress on the checklist?

@rclipp, @aaron-bray, could you incorporate all suggested changes to your paper? Some are just typo fixes and other easy aspects to correct. It should not take too much work.

[2021-03-10 08:06] eloisabentivegna commented on #2555
@whedon generate pdf from branch joss

[2021-03-10 08:06] whedon commented on #2555
[code]

[2021-03-10 08:07] whedon commented on #2555
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02555/joss.02555/10.21105.joss.02555.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02555/joss.02555/10.21105.joss.02555.pdf) :page_facing_up: :point_left:

[2021-03-10 08:43] csoneson commented on #2440
👋 @neuromusic - just a gentle reminder that if we don't have a resolution of the few remaining issues here within a week, I will move to recommend rejecting the submission at its current stage and welcome a resubmission at a later point in time.

[2021-03-10 09:34] mosteo commented on #2783
Yes, the navigation panel does show. What I'm missing there is the options about map manipulation mentioned in the README, i.e. the panel shown at the end of section https://github.com/SteveMacenski/slam_toolbox#rviz-plugin. I had tried the `Add Panels -> Add New Panel`, where the same Nav2 panel exists, but nothing else about slam.

Now, I've found that there's a config file `foxy/share/slam_tool

[2021-03-10 10:22] geoffreyp commented on #2974
Hi, I don't know if you received a notification, but I answered directly in your issues: https://github.com/moead-framework/framework/issues

[2021-03-10 12:38] pdebuyl commented on #2973
@fcooper8472 ping

[2021-03-10 12:41] pdebuyl commented on #3053
@ranocha are you waiting for the authors for further changes? I am sorry but I can't figure properly from the discussion above if it is the case.

Regards, Pierre

[2021-03-10 12:53] ranocha commented on #3053
@pdebuyl Yes, exactly. I checked the boxes next to my comments that have been resolved. The other ones are still open (as far as I know).

[2021-03-10 13:13] pdebuyl commented on #3053
Thank you for the reply @ranocha

[2021-03-10 13:22] nuest commented on #2805
I ran into the same installation problems and reported here: https://gitlab.com/fduchate/predihood/-/issues/1#note_526210425

Most other comments I had seem to be addressed, though it's not that easy to get into the project again. As I'd probably have to start my review from the beginning, I'd prefer to do this only once and would prefer to wait until

1. _all_ installation problems are resolved,

[2021-03-10 14:04] jhollist commented on #2890
Perfect timing!  I hope to work on this review today...

On Wed, Mar 10, 2021 at 12:41 AM Kanishka Narayan ***@***.***>
wrote:

--
Jeffrey W. Hollister
email: ***@***.***
cell: 401 556 4087
https://jwhollister.com

[2021-03-10 14:08] whedon commented on #3061
:wave: @aothms, please update us on how your review is going (this is an automated reminder).

[2021-03-10 14:08] whedon commented on #3061
:wave: @CBenghi, please update us on how your review is going (this is an automated reminder).

[2021-03-10 16:09] rclipp commented on #2555
@gouarin @eloisabentivegna @ianhinder Sorry for the paper updates. I am working on them now and should be able to address them today. Thanks.

[2021-03-10 16:21] ethanwhite commented on #3027
@ViniciusBRodrigues the proof is now linked above.

[2021-03-10 17:59] dfm commented on #3007
@whedon add @gully as reviewer

Gully has agreed to be the second reviewer. Thank you! I'll get the review started in a separate issue thread and we'll get started over there. Please let me know if any of you have questions as we proceed.

[2021-03-10 17:59] whedon commented on #3007
OK, @gully is now a reviewer

[2021-03-10 18:00] dfm commented on #3007
@whedon start review

[2021-03-10 18:00] whedon opened #3095 "[REVIEW]: IGRINS RV: A Python Package for Precision Radial Velocities with Near-Infrared Spectra"
**Submitting author:** @shihyuntang (<a href="http://orcid.org/0000-0003-4247-1401">Shih-Yun Tang</a>)
**Repository:** <a href="https://github.com/shihyuntang/igrins_rv" target ="_blank">https://github.com/shihyuntang/igrins_rv</a>
**Version:** v1.0.0
**Editor:** @dfm
**Reviewer:** @jmbrewer, @gully
**Archive:** <a href="https://doi.org/10.5281/zenodo.4917291" target="_blank">10.5281/zenodo.491729

[2021-03-10 18:00] #3007 closed

[2021-03-10 18:01] whedon commented on #3095
[code]

[2021-03-10 18:01] whedon commented on #3095
[code]

[2021-03-10 18:01] whedon commented on #3095
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03095/joss.03095/10.21105.joss.03095.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03095/joss.03095/10.21105.joss.03095.pdf) :page_facing_up: :point_left:

[2021-03-10 18:02] dfm commented on #3095
@jmbrewer, @gully – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any it

[2021-03-10 18:12] melissawm commented on #3019
Thank you, @bonh !

Looks like we have two reviewers, so I will proceed - this issue will be closed and you will all be tagged in the REVIEW issue. I'll give you further instructions in a bit.

[2021-03-10 18:13] melissawm commented on #3019
@whedon add @bonh as reviewer

[2021-03-10 18:13] whedon commented on #3019
OK, @bonh is now a reviewer

[2021-03-10 18:14] whedon opened #3096 "[REVIEW]: Precise calculations on hypercomplex numbers in C++"
**Submitting author:** @AngryMaciek (<a href="http://orcid.org/0000-0003-1361-7301">Maciej Bak</a>)
**Repository:** <a href="https://github.com/AngryMaciek/hypercomplex" target ="_blank">https://github.com/AngryMaciek/hypercomplex</a>
**Version:** v1.0.0
**Editor:** @melissawm
**Reviewers:** @dvberkel, @nnadeau
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-03-10 18:14] whedon commented on #3019
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3096.

[2021-03-10 18:14] #3019 closed

[2021-03-10 18:14] whedon commented on #3096
[code]

[2021-03-10 18:14] whedon commented on #3096
[code]

[2021-03-10 18:14] whedon commented on #3096
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03096/joss.03096/10.21105.joss.03096.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03096/joss.03096/10.21105.joss.03096.pdf) :page_facing_up: :point_left:

[2021-03-10 18:23] melissawm commented on #2812
Thank you, @jbuisine ! I think we are ready to go.

At this point could you:
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a smal

[2021-03-10 18:34] SteveMacenski commented on #2783
The map manipulation tools are only available in ROS1 due to the incomplete port of interactive markers in ROS2 (this document is talking about ROS1) You can enter interactive mode and see the interactive markers but unfortunately the "dragging" of them to reposition them for manipulation is still unavailable.

That's not an excuse for the rviz config issue, I've removed the slam toolbox rviz conf

[2021-03-10 18:35] kyleniemeyer commented on #2952
@whedon accept deposit=true

Looks good to me!

[2021-03-10 18:35] whedon commented on #2952
[code]

[2021-03-10 18:35] JustinSGray commented on #2809
it sounds like all the reviewers have approved. I just wanted to double check on the process here and make sure we're good? Is there any further action needed from the authors on this?

[2021-03-10 18:36] whedon commented on #2952
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1369718803068841989) 👈 🐦🐦🐦

[2021-03-10 18:36] whedon commented on #2952
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2138
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02952](https://doi.org/10.21105/joss.02952)
2. If everything looks g

[2021-03-10 18:40] mosteo commented on #2783
Thanks, @SteveMacenski. I'm not that worried about some things being only available for ROS1 (I known the migration to ROS2 is not being trivial), but about the confusion a newcomer may experience.

[2021-03-10 18:41] SteveMacenski commented on #2783
Totally fair - I removed that config file from `ros2` branch and very shortly `foxy` too. Let me know if there's anything more I can do to help!

[2021-03-10 18:42] kyleniemeyer commented on #2952
Congrats @jonschwenk on your article's publication in JOSS!

Many thanks to @eriknes and @leotrs for reviewing this, and @kbarnhart for editing.

(FYI, the DOI successfully resolves, but it looks like the final PDF is not yet appearing—this should change shortly.)

[2021-03-10 18:42] #2952 closed

[2021-03-10 18:42] whedon commented on #2952
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02952/status.svg)](https://doi.org/10.21105/joss.02952)

**We need your help!**

Journal of Open Source Softwa

[2021-03-10 18:51] fboehm commented on #3086
@whedon add @chrisvoncsefalvay as reviewer

[2021-03-10 18:52] whedon commented on #3086
OK, @chrisvoncsefalvay is now a reviewer

[2021-03-10 19:15] dpsanders commented on #2809
I think we're good. I was going to do a final read over the PDF.

[2021-03-10 19:27] JustinSGray commented on #2809
Great. Thanks for all the time/patience from the editors and reviewer here. If there are any more changes at all, we're more than happy to address them!

[2021-03-10 20:24] wvanzeist commented on #2968
I have completed each of these steps, is there anything else I need to do now?

[2021-03-10 20:27] esteinig commented on #3086
Happy to review this @fboehm

[2021-03-10 20:35] szymon-datalions commented on #2869
Hi,

I forgot to update paper here, but many changes were made! Additionally, new version of package was updated to PyPi.

[2021-03-10 20:35] whedon commented on #2869
[code]

[2021-03-10 20:36] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-03-10 20:56] rclipp commented on #2555
@gouarin @eloisabentivegna @ianhinder We have addressed the paper comments. A quick summary for each comment is below.

There is a typo in the first paragraph: properites -> properties - CORRECTED

Links to the references don't work for me. Is it the same for you? - I am not sure. The references are at the end of the paper and look correct, but if they are supposed to be linked within the paper, t

[2021-03-10 21:02] navidcy commented on #3053
@ranocha, regarding the items involving ApproxFun.jl, time stepping with DifferentialEquations.jl, and using PencilFFTs.jl:
We feel that there is nothing else to do after what we [replied above](https://github.com/openjournals/joss-reviews/issues/3053#issuecomment-792408616). But happy to discuss more on it if you think differently :)

[2021-03-10 21:05] fboehm commented on #3086
@whedon add @esteinig as reviewer

[2021-03-10 21:05] whedon commented on #3086
OK, @esteinig is now a reviewer

[2021-03-10 21:06] fboehm commented on #3086
@whedon start review

[2021-03-10 21:06] whedon opened #3097 "[REVIEW]: epipack: An infectious disease modeling package for Python"
**Submitting author:** @benmaier (<a href="http://orcid.org/0000-0001-7414-8823">Benjamin F. Maier</a>)
**Repository:** <a href="https://github.com/benmaier/epipack" target ="_blank">https://github.com/benmaier/epipack</a>
**Version:** v0.1.2
**Editor:** @fboehm
**Reviewer:** @chrisvoncsefalvay, @esteinig
**Archive:** <a href="https://doi.org/10.5281/zenodo.4655616" target="_blank">10.5281/zenodo.

[2021-03-10 21:06] whedon commented on #3086
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3097.

[2021-03-10 21:06] #3086 closed

[2021-03-10 21:06] whedon commented on #3097
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @chrisvoncsefalvay, @esteinig it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-03-10 21:06] whedon commented on #3097
Failed to discover a `Statement of need` section in paper

[2021-03-10 21:06] whedon commented on #3097
[code]

[2021-03-10 21:06] whedon commented on #3097
[code]

[2021-03-10 21:07] whedon commented on #3097
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: :point_left:

[2021-03-10 21:08] fboehm commented on #3097
Thank you, @esteinig and @chrisvoncsefalvay , for agreeing to review this submission. You can see above your checklists for the review process. Please reach out to me when questions come up.

[2021-03-10 21:24] dfm commented on #2968
@wvanzeist: whoops! I hadn't seen the DOI and version number in the previous comment - sorry! I think you're all set. I'll pass this off to the Editors in Chief who might have some final edits before final processing.

@GregoryAshton, @katiebreivik: thanks again for your reviews!!

[2021-03-10 21:24] dfm commented on #2968
@whedon set 10.5281/zenodo.4588070 as archive

[2021-03-10 21:24] whedon commented on #2968
OK. <a href="https://doi.org/10.5281/zenodo.4588070" target="_blank">10.5281/zenodo.4588070</a> is the archive.

[2021-03-10 21:25] dfm commented on #2968
@whedon set v1.0.0 as version

[2021-03-10 21:25] whedon commented on #2968
OK. v1.0.0 is the version.

[2021-03-10 21:25] dfm commented on #2968
@whedon accept

[2021-03-10 21:25] whedon commented on #2968
[code]

[2021-03-10 21:26] whedon commented on #2968
[code]

[2021-03-10 21:59] arosen93 commented on #3089
@utf: I just read through the paper. It is clearly written, has a nice introduction to the importance of Fermi surfaces, discusses prior software in this area, and makes it clear where IFermi fits within the existing software ecosystem. As such, I have no major suggestions for changes to the text.

I only have a couple very trivial comments on the paper, unrelated to the software or science underl

[2021-03-10 22:19] utf commented on #3089
Thanks for catching those errors @arosen93. I've updated the manuscript accordingly.

@whedon generate pdf from branch paper

[2021-03-10 22:19] utf commented on #3089
@whedon generate pdf from branch paper

[2021-03-10 22:19] whedon commented on #3089
[code]

[2021-03-10 22:41] jni commented on #3069
@whedon assign @tmaric as reviewer

[2021-03-10 22:41] whedon commented on #3069
OK, @tmaric is now a reviewer

[2021-03-10 22:45] jni commented on #3069
@wolfv I wonder if as author of scikit-geometry you might be able/willing to review this submission? Please see [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for our reviewer guide and feel free to ask below if you have any questions about the process. Essentially, the review is focused on ensuring functionality, documentation, and community around the software described b

[2021-03-10 22:47] Jacob-Barhak commented on #3069
So Juan,

If this is not the proper venue please direct the discussion to the proper
venue. Hopefully a good public discussion can remedy things.

If you believe there is value in the venue, then the discussion
should continue somewhere to improve things - hopefully you have a
suggestion. If you cannot suggest one, since this venue triggered the issue
and it is public, it would be good enough. Yet

[2021-03-10 22:48] chrisvoncsefalvay commented on #3097
The paper does not contain a 'statement of need' section. However, it is my view that the substance of this requirement (pasted below for reference) is addressed adequately in para.s 1 through 3. With that in mind, I would consider requirement 1 of the Documentation section to be met.

[2021-03-10 22:54] prdm0 commented on #2769
@pratikvn, obrigado pelas sugestões. Irei proceder com as melhorias e em breve gerarei um novo PDF.

[2021-03-10 23:00] jni commented on #3069
Yeah I actually looked around for an appropriate forum but couldn't exactly find one. Our pre-submission enquiries go to https://github.com/openjournals/joss, so creating a new issue there is probably the best bet. I would recommend separate issues for CoI and license requirements discussions.

[2021-03-10 23:16] esteinig commented on #3097
Agreed, it is well addressed in the paragraphs

[2021-03-10 23:38] kyleniemeyer commented on #2968
@whedon accept deposit=true

[2021-03-10 23:38] whedon commented on #2968
[code]

[2021-03-10 23:39] whedon commented on #2968
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1369795096259002369) 👈 🐦🐦🐦

[2021-03-10 23:39] whedon commented on #2968
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2140
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02968](https://doi.org/10.21105/joss.02968)
2. If everything looks g

[2021-03-10 23:41] kyleniemeyer commented on #2968
Congratulations @wvanzeist on your article's publication in JOSS!

Many thanks to  @GregoryAshton and @katiebreivik for reviewing this, and @dfm for editing it.

[2021-03-10 23:41] #2968 closed

[2021-03-10 23:41] whedon commented on #2968
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02968/status.svg)](https://doi.org/10.21105/joss.02968)

**We need your help!**

Journal of Open Source Softwa

[2021-03-11 00:27] kbarnhart commented on #3088
Thanks for that information @mandli. I'm hoping to get reviewers who both know Clawpack well (e.g., you or @dgeorge) as well as reviewers who are unfamiliar with it. Presuming you are not disqualified by the JOSS Conflict of Interest policy, I'd be interested in your review given your experience with the most recent versions of Clawpack. I think @dgeorge may also be willing to review, such that re

[2021-03-11 00:42] wvanzeist commented on #2968
Great thanks for all the reviewers and editors!

@kyleniemeyer When I go to the theoj.org page for this article, the place where the PDF is supposed to be appears empty, and clicking "download paper" gives "file not found". Might there be a bug of some sort, or is it just taking some time for the website to update?

[2021-03-11 00:45] kyleniemeyer commented on #2968
@wvanzeist yeah, sometimes I have found that caches / different DNS resolvers (or something) take a bit for the PDF to propagate and become available. It loads fine for me, so I would just give it some time on your end.

[2021-03-11 01:31] prdm0 commented on #2769
Dear @pratikvn and @timtroendle, I made all the requested changes. @pratikvn I made the corrections to the text you requested, I eliminated unnecessary parts, as indicated in [prdm0/ropenblas#21](https://github.com/prdm0/ropenbla/issues/21). I also improved the benchmarks for building a presentable table. The benchmark plot now includes two algebraic routines for comparison. The new PDF of the pap

[2021-03-11 01:32] prdm0 commented on #2769
@whedon generate pdf

[2021-03-11 01:32] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-11 01:36] prdm0 commented on #2769
@whedon generate pdf

[2021-03-11 01:37] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-11 01:40] prdm0 commented on #2769
@whedon generate pdf

[2021-03-11 01:40] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-11 02:40] eviatarbach commented on #3053
I commend the authors for the excellent package. I just have a few more comments before I can recommend publication:

- I think you should also compare GeophysicalFlows.jl to [MAOOAM](https://gmd.copernicus.org/articles/9/2793/2016/) and [qgs](https://joss.theoj.org/papers/10.21105/joss.02597) in the paper, as they are also open-source packages with QG implementations.
- Please separate the paper

[2021-03-11 03:02] navidcy commented on #3053
@eviatarbach, minor edits were taken care of by [054afc](https://github.com/FourierFlows/GeophysicalFlows.jl/commit/054afcdf59dbfb8ecd9d72f43a2524f727e1726a). Thanks.

[2021-03-11 03:48] wvanzeist commented on #2968
Thanks! Now it loads correctly for me, too.

[2021-03-11 05:02] whedon commented on #3062
:wave: @wtbarnes, please update us on how your review is going (this is an automated reminder).

[2021-03-11 05:02] whedon commented on #3062
:wave: @gorlapraveen, please update us on how your review is going (this is an automated reminder).

[2021-03-11 05:34] Jacob-Barhak commented on #3069
Thanks Juan,

The license issue is now listed here:
https://github.com/openjournals/joss/issues/889

The discussion should continue in that link.

The other issues are minor compared to this one. Hopefully it will gain
attention and will be resolved.

Thank you for redirecting

Jacob

On Wed, Mar 10, 2021 at 5:00 PM Juan Nunez-Iglesias <
notifications@github.com> wrote:

[2021-03-11 07:29] sjpfenninger commented on #2677
@TheoChristiaanse You have multiple published papers without a DOI, for example `evins2014new`. Can you fix those?

[2021-03-11 07:43] wolfv commented on #3069
Hi @jni I'd be happy to help review this contribution.

[2021-03-11 08:38] fduchatea commented on #2805
@omshinde  Thank you for the review. We are working on facilitating the installation with docker, then we will address your comments.

@nuest We keep you updated when the docker installation is working.
We are not maintaining both git repositories (the liris repository is still up, but only with a short readme file referring to the gitlab repository) and we will update the paper accordingly.

[2021-03-11 09:19] jbuisine commented on #2812
@melissawm Thank you for your feedback.

I added the archive on Zenodo which is available at the following link: [https://doi.org/10.5281/zenodo.4595986](https://doi.org/10.5281/zenodo.4595986)

Tell me if I need to do anything more.

[2021-03-11 10:39] amritagos commented on #3069
Hi @jni , thank you for nominating me but I'm a little too busy now and I would have decline.

[2021-03-11 11:26] jni commented on #3069
Awesome! Thank you @wolfv and no worries @amritagos thanks for getting back to us!

[2021-03-11 11:26] jni commented on #3069
@whedon start review

[2021-03-11 11:26] whedon opened #3098 "[REVIEW]: coxeter: A Python package for working with Shapes"
**Submitting author:** @vyasr (<a href="http://orcid.org/0000-0001-5181-9532">Vyas Ramasubramani</a>)
**Repository:** <a href="https://github.com/glotzerlab/coxeter" target ="_blank">https://github.com/glotzerlab/coxeter</a>
**Version:** v0.6.1
**Editor:** @jni
**Reviewers:** @wolfv, @evetion
**Archive:** <a href="https://doi.org/10.5281/zenodo.5106336" target="_blank">10.5281/zenodo.5106336</a>

[2021-03-11 11:26] whedon commented on #3069
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3098.

[2021-03-11 11:26] #3069 closed

[2021-03-11 11:26] whedon commented on #3098
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tmaric it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2021-03-11 11:27] whedon commented on #3098
[code]

[2021-03-11 11:27] whedon commented on #3098
[code]

[2021-03-11 11:28] whedon commented on #3098
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03098/joss.03098/10.21105.joss.03098.pdf) :page_facing_up: :point_left:

[2021-03-11 11:28] jni commented on #3098
@whedon add @wolfv as reviewer

[2021-03-11 11:28] whedon commented on #3098
OK, @wolfv is now a reviewer

[2021-03-11 11:33] jni commented on #3098
@tmaric @wolfv, thank you again for volunteering to review, much appreciated! :pray: In case this is your first time here, JOSS reviews have a nice, guided structure described in our [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html), and the checklist above. Reviews are collaborative, m

[2021-03-11 11:46] pratikvn commented on #2769
@timtroendle, the paper looks good from my side.

[2021-03-11 11:48] timtroendle commented on #2769
Thank you @pratikvn.

[2021-03-11 12:35] Borchardt commented on #2979
Thanks for your feedback, junjun-zhang. Comments/responses below:

1. Good point; agree. Will be fixed by solution to point 2.
2. We think that this is a good suggestion. I've created [an issue in the tracker](https://github.com/focolab/minimo/issues/32) for this work.
3. We agree that the text here probably needs to change, but we're still discussing what alternative might make the most sense. I'

[2021-03-11 12:37] Borchardt commented on #2979
(As an aside: I'm unfamiliar with this review process! If I'm not meant to be responding to these comments, or if there's anything else that I *should* be doing, please let me know, and I will adjust accordingly.)

[2021-03-11 12:56] pdebuyl commented on #3053
Thank you @eviatarbach for the review!

[2021-03-11 14:09] mikerspencer commented on #2948
@kbarnhart I've finished my review. It's a really solid piece of work and was a pleasure to review. Well done to @kadyb.

[2021-03-11 14:16] danielskatz commented on #2948
@mikerspencer - I didn't realize you were reviewing this submission as well - now I feel bad for bugging you on the other one, but not bad enough that I'm not semi-subtly reminding you about that one too :)

[2021-03-11 14:20] mikerspencer commented on #2948
@danielskatz Yes, a little bit of awkward timing that the other one came back at a similar time. Don't worry, I've not forgotten - it's in my home tabs, so I see it each time I open a browser session. I'd like to get it off my desk this week, for my own sanity along with yours and the authors!

[2021-03-11 14:59] gaelforget commented on #2813
@whedon generate pdf from branch josspaper

[2021-03-11 14:59] whedon commented on #2813
[code]

[2021-03-11 15:01] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2021-03-11 15:04] kadyb commented on #2948
@mikerspencer, thank you very much for your time, all comments and kind words. Good luck with the second review!

[2021-03-11 15:09] gaelforget commented on #2813
I just added a couple illustrations of the package applied to Atmosphere (#1) and Ocean (#2), plus a reference to them at the end of paragraph 1

[2021-03-11 15:25] gaelforget commented on #2813
Hi @milankl

Please dont hesitate to let me know if there is something else that I would need to address in order to complete the review. I am standing by, with the hope that we are ready to wrap things up

[2021-03-11 15:27] wimvanderbauwhede commented on #3055
I opened two issues: https://github.com/uDALES/u-dales/issues/137 and https://github.com/uDALES/u-dales/issues/138

[2021-03-11 18:03] gorlapraveen commented on #3062
@whedon and @gkthiruvathukal review is in positive progress!

[2021-03-11 18:03] whedon commented on #3062
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-11 18:32] wtbarnes commented on #3062
My review is in progress. Sorry for the delayed response!

[2021-03-11 18:38] AJQuinn commented on #2977
@whedon generate pdf from branch 33-joss-revisions

[2021-03-11 18:38] whedon commented on #2977
[code]

[2021-03-11 18:41] whedon commented on #2977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: :point_left:

[2021-03-11 19:29] dbkeitel commented on #3000
Thanks again to both reviewers! I've now opened issues over on our repo to track the suggestions.

I think we can resolve @khanx169's suggestion about the all-examples script quickly.

For @RobertRosca's suggestions, the examples handling and codecov are something we had planned (but not yet opened issues for) anyway, but the given pointers will be very helpful to it. The suggestion about installa

[2021-03-11 19:40] melissawm commented on #2812
Thank you! Just one last check: I think the license for the Zenodo archive should be the same as what you use on your code - the MIT License. Can you check the Zenodo archive for that? Otherwise, the metadata looks good.

[2021-03-11 19:47] kyleniemeyer commented on #3013
Hello @Natsiopoulos, thanks for your patience. Unfortunately, many in our editorial board are still at reduced capacity right now, but submissions have not really slowed.

I will be looking for an alternative editor, but it may take a bit longer still as we work through the backlog.

[2021-03-11 20:16] majensen commented on #2979
@Borchardt this is awesome, please carry on!

[2021-03-11 20:21] jbuisine commented on #2812
Indeed I forgot to look at the license. I just modified the Zenodo publication accordingly with MIT Licence.

[2021-03-11 21:28] melissawm commented on #2812
@whedon set 10.5281/zenodo.4595986 as archive

[2021-03-11 21:28] whedon commented on #2812
OK. <a href="https://doi.org/10.5281/zenodo.4595986" target="_blank">10.5281/zenodo.4595986</a> is the archive.

[2021-03-11 21:29] melissawm commented on #2812
@whedon accept

[2021-03-11 21:29] whedon commented on #2812
[code]

[2021-03-11 21:30] whedon commented on #2812
[code]

[2021-03-11 21:31] whedon commented on #2812
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2141

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2141, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-11 21:34] melissawm commented on #2812
Looks like I missed a DOI for an ISBN in the references, sorry about this!

[2021-03-11 21:48] kyleniemeyer commented on #2812
No worries @melissawm!

Hi @jbuisine, I'm doing some final checks before publishing—can you add that missing DOI that the bot pointed out above?

[2021-03-12 00:53] whedon commented on #3065
:wave: @jamesdamillington, please update us on how your review is going (this is an automated reminder).

[2021-03-12 00:53] whedon commented on #3065
:wave: @martibosch , please update us on how your review is going (this is an automated reminder).

[2021-03-12 07:29] koenderks commented on #2733
Dear @drvinceknight, dear @trstewart212,

Recently I have split off all the files that are included in JASP for Audit (the current submission) from the remaining code in JASP. As there is now a completely separate repository specifically for JASP for Audit, I was wondering if it is possible to change the submission repository from https://github.com/koenderks/jasp-desktop (branch JfA-JOSS) to the

[2021-03-12 07:57] jbuisine commented on #2812
@whedon generate pdf

[2021-03-12 07:58] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-03-12 07:58] jbuisine commented on #2812
@whedon check references

[2021-03-12 07:59] whedon commented on #2812
[code]

[2021-03-12 08:05] jbuisine commented on #2812
@melissawm, @kyleniemeyer Hi!

I'm sorry but I do not understand why this reference is not checked. The DOI refers to this [article](https://link.springer.com/chapter/10.1007%2F978-3-319-42432-3_37).

Could you please tell me what I might have forgotten?

[2021-03-12 08:42] whedon commented on #3066
:wave: @TolisChal, please update us on how your review is going (this is an automated reminder).

[2021-03-12 08:42] whedon commented on #3066
:wave: @omendezmorales, please update us on how your review is going (this is an automated reminder).

[2021-03-12 08:54] eloisabentivegna commented on #2555
Thanks, @rclipp! @gouarin, @ianhinder, could you check whether your requests have been addressed to your satisfaction?

[2021-03-12 08:54] JohannesBuchner commented on #3001
I think this is fixed now at https://johannesbuchner.github.io/UltraNest/installation.html

[2021-03-12 09:49] mattpitkin commented on #3001
@JohannesBuchner Great, thanks.

@fboehm I've ticked off all my check boxes, so am happy with the review.

[2021-03-12 09:50] whedon commented on #3067
:wave: @astrom-tom , please update us on how your review is going (this is an automated reminder).

[2021-03-12 09:50] whedon commented on #3067
:wave: @ygrange, please update us on how your review is going (this is an automated reminder).

[2021-03-12 10:36] JohannesBuchner commented on #3001
I believe I addressed this now. Please let me know of any remaining issues.

The following modules should not be considered, as they are in development and not referenced in the remaining documentation or paper: dychmc, dyhmc, flatnuts, pathsampler.

[2021-03-12 10:42] JohannesBuchner commented on #3001
I sent this a few minutes too early ... just uploading the docs now.

[2021-03-12 10:59] sophietheis commented on #2973
Hi @SergeDmi

You can find in the [PR](https://github.com/DamCB/tyssue/pull/225) the modification made to our manuscript according to your comments.

1. Statement of need
_The statement of need does a good job of explaining the context, but lacks in describing the actual need for the software. A mention of existing software is also lacking. Instead, this paragraph gives a short description of Tyss

[2021-03-12 11:03] sophietheis commented on #2973
@whedon check references

[2021-03-12 11:03] whedon commented on #2973
[code]

[2021-03-12 11:03] sophietheis commented on #2973
@whedon generate pdf

[2021-03-12 11:04] whedon commented on #2973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: :point_left:

[2021-03-12 11:11] ygrange commented on #3067
I created a directory and cloned the repo... Sorry, things are nog going as fast as I'd like :). I will try to push doing something the coming period

[2021-03-12 12:02] melissawm commented on #2812
You need to include the DOI link in the reference just as you did for the others. You have included an ISBN, but not the DOI.

[2021-03-12 12:14] whedon commented on #2812
[code]

[2021-03-12 12:15] jbuisine commented on #2812
@melissawm Thank you for your reply!

@kyleniemeyer I have now added the DOI.

[2021-03-12 13:19] trstewart212 commented on #2733
Hi Koen,
Thanks for this. Just acknowledging receipt. I will try to get to this early next week.
Trevor

Trevor Stewart
175 West 13th Street, Apt 19D
New York, NY 10011
+1(212)929-0321
+1(917)402-9800 iPhone
***@***.***

On Mar 12, 2021, at 02:29, Koen Derks ***@***.***> wrote:

Dear @drvinceknight <https://github.com/drvinceknight>, dear @trstewart212 <https://github.com/trstewart212>,

Recently

[2021-03-12 13:19] whedon commented on #3068
:wave: @bwoshea, please update us on how your review is going (this is an automated reminder).

[2021-03-12 13:31] Narayana-Rao commented on #2970
Thank you very much for your constructive comments. Please find the attached document for a detailed response to your comments.

[Response_to_review_comments_2970_R2.pdf](https://github.com/openjournals/joss-reviews/files/6129963/Response_to_review_comments_2970_R2.pdf)

[2021-03-12 14:42] nespinoza commented on #3071
Hi @arfon, thanks for the breakdown! I'm ready to start marking checkboxes but my invitation link has expired (oops). Can I get a new one :-)? Thanks!

N.

[2021-03-12 14:46] danielskatz commented on #3071
@whedon re-invite @nespinoza as reviewer

[2021-03-12 14:47] whedon commented on #3071
OK, the reviewer has been re-invited.

@nespinoza please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-12 14:51] GISerDaiShaoqing commented on #3034
Hi,

Sorry to reply to you late. Thanks for the invitation. If necessary now, I also could be a reviewer.

Best,

Shaoqing Dai

[2021-03-12 15:32] oalii commented on #2831
Hi @Kevin-Mattheus-Moerman,

Just checking in, we have just fixed a minor bug on the CI/CD pipeline.
Everything is running smoothly now.

Do you need anything else ?

[2021-03-12 15:35] cimentadaj commented on #3030
@majensen I can't at the moment. Thanks!

[2021-03-12 15:43] j-faria commented on #3071
Hi @arfon, any problem in cross-referencing the issues as I did above? Please let me know if there's a more standard approach.

[2021-03-12 16:16] whedon commented on #2890
:wave: @jhollist, please update us on how your review is going (this is an automated reminder).

[2021-03-12 16:18] nespinoza commented on #3071
Hi everyone,

 I have reviewed the submitted manuscript and software presented by @rodluger. This is a fantastic piece of software --- thanks for writing this Rodrigo! I checked all the claims and functionalities following the tutorials in the documentation. I found them very helpful and as a developer that will be implementing this in its own library, I found them to be enlightening on how easy t

[2021-03-12 16:54] majensen commented on #3030
Thanks @cimentadaj - appreciate your consideration!

[2021-03-12 16:58] majensen commented on #3030
@PatrickRWright - any chance you would be willing to review [this work](#3030) for [JOSS](https://joss.theoj.org)? Please have a look at [these reviewing guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for some additional info. Thanks for considering-

[2021-03-12 19:41] TheoChristiaanse commented on #2677
I've added more doi's.

on the authors:

@fneum The main author of the paper "Paul Westernmann" is someone who wrote the first draft of the paper as well as contributed to the conceptualization of the main objects( evaluator, parameter, sampling), adaptive sampling, and code review. We continuously have new students under the supervision of me, Dr Evins or Mr. Kovacs join help work on the repo. Th

[2021-03-12 19:56] jhollist commented on #2890
Working on the review right now!  Should have it finished today or Monday.

On Fri, Mar 12, 2021 at 11:16 AM whedon ***@***.***> wrote:

--
Jeffrey W. Hollister
email: ***@***.***
cell: 401 556 4087
https://jwhollister.com

[2021-03-12 20:14] eloisabentivegna commented on #3003
@whedon add @eloisabentivegna as reviewer

[2021-03-12 20:14] whedon commented on #3003
OK, @eloisabentivegna is now a reviewer

[2021-03-12 20:15] eloisabentivegna commented on #3003
@Sbozzolo, finding reviewers is taking longer than expected. I have added myself as a reviewer and will start the actual review issue now, but will continue looking for a third reviewer in the meantime.

[2021-03-12 20:15] eloisabentivegna commented on #3003
@whedon start review

[2021-03-12 20:15] whedon opened #3099 "[REVIEW]: kuibit: Analyzing Einstein Toolkit simulations with Python"
**Submitting author:** @sbozzolo (<a href="http://orcid.org/0000-0003-3696-6408">Gabriele Bozzola</a>)
**Repository:** <a href="https://github.com/Sbozzolo/kuibit/" target ="_blank">https://github.com/Sbozzolo/kuibit/</a>
**Version:** 1.0.0
**Editor:** @eloisabentivegna
**Reviewer:** @yurlungur, @eloisabentivegna
**Archive:** <a href="https://doi.org/10.5281/zenodo.4681119" target="_blank">10.5281

[2021-03-12 20:15] whedon commented on #3003
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3099.

[2021-03-12 20:15] #3003 closed

[2021-03-12 20:15] whedon commented on #3099
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yurlungur, @eloisabentivegna it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-03-12 20:16] whedon commented on #3099
PDF failed to compile for issue #3099 with the following error:

 Can't find any papers to compile :-(

[2021-03-12 20:16] whedon commented on #3099
[code]

[2021-03-12 20:19] Sbozzolo commented on #3003
Thank you very much, @eloisabentivegna. I really appreciate it.

[2021-03-12 20:34] JohannesBuchner commented on #3001
Should be online now.

[2021-03-12 20:36] JohannesBuchner commented on #3001
@ziatdinovmax Please check if you can tick the "Functionality documentation" box with the updated docs, or give further comments if something is missing.

[2021-03-12 20:41] ziatdinovmax commented on #3001
@JohannesBuchner Looks great, thanks for addressing it!

[2021-03-12 21:15] vbaliga commented on #3074
Hi everyone - Thanks sincerely to @brunaw for your review. I am happy to incorporate your feedback. If it's OK, I'd like to hold off until @cddesja has a chance to submit his review too, so that he does not have to review a moving target.

Best regards,
Vikram
🐢

[2021-03-12 21:34] kyleniemeyer commented on #2812
@whedon generate pdf

[2021-03-12 21:35] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-03-12 21:47] yadudoc commented on #3075
@whedon generate pdf

[2021-03-12 21:48] whedon commented on #3075
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03075/joss.03075/10.21105.joss.03075.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03075/joss.03075/10.21105.joss.03075.pdf) :page_facing_up: :point_left:

[2021-03-12 22:03] kyleniemeyer commented on #2812
@whedon accept

[2021-03-12 22:03] whedon commented on #2812
[code]

[2021-03-12 22:04] whedon commented on #2812
[code]

[2021-03-12 22:05] whedon commented on #2812
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2142

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2142, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-12 22:09] kyleniemeyer commented on #2812
@whedon accept deposit=true

[2021-03-12 22:09] whedon commented on #2812
[code]

[2021-03-12 22:11] whedon commented on #2812
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1370497802254614538) 👈 🐦🐦🐦

[2021-03-12 22:11] whedon commented on #2812
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2143
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02812](https://doi.org/10.21105/joss.02812)
2. If everything looks g

[2021-03-12 22:41] kyleniemeyer commented on #2812
Congrats @jbuisine on your article's publication in JOSS!

Many thanks to  @stsievert and @torressa for reviewing this, and @melissawm for editing.

[2021-03-12 22:41] #2812 closed

[2021-03-12 22:41] whedon commented on #2812
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02812/status.svg)](https://doi.org/10.21105/joss.02812)

**We need your help!**

Journal of Open Source Softwa

[2021-03-12 23:30] JohannesBuchner commented on #3045
Good idea. I used their code to understand how to hook into sherpa, but as you say, little of that is left. I added a line in the acknowledgements.

There are a bunch of environments, including Spex, ISIS, 3ML, Xspec, sherpa, and probably others (it is hard to do a full survey). It is possible to do meaningful spectral analysis with any of them, they do not differ fundamentally (only in defaults,

[2021-03-12 23:30] JohannesBuchner commented on #3045
@whedon generate pdf from branch joss-paper

[2021-03-12 23:30] whedon commented on #3045
[code]

[2021-03-12 23:31] whedon commented on #3045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: :point_left:

[2021-03-12 23:42] JohannesBuchner commented on #3045
@jgostick I read the COI guidelines, and wanted to mention that @grburgess is employed at the same institute as me. None of the other COI criteria apply, however (no joint papers, funded work, etc.). Not sure if it is a real issue, but I wanted to bring it to your attention for the sake of transparency.

[2021-03-12 23:47] kakearney commented on #3002
I updated my version of Matlab to R2020b and downloaded the most recent version of the NLSIG-COVID19Lab tool, and was now able to complete my review.

To test it, I first played around with the App; I ran simulations using the default parameters and also tested entering new values in each of the dropdown menus.  This new version of the app is well-designed, with a straightforward user interface an

[2021-03-13 00:20] kyleniemeyer commented on #3013
@whedon invite @kakiac as editor

Hi @kakiac, could you edit this?

[2021-03-13 00:20] whedon commented on #3013
@kakiac has been invited to edit this submission.

[2021-03-13 00:36] kyleniemeyer commented on #3063
@whedon invite @lorenanicole as editor

Hi @lorenanicole, could you edit this one?

[2021-03-13 00:36] whedon commented on #3063
@lorenanicole has been invited to edit this submission.

[2021-03-13 00:37] kyleniemeyer commented on #3046
Hi @csinva, it looks like editor availability in this area is a bit low at the moment (many of our editors are at reduced capacity at the moment), so I'm going to put this in the waitlist for now.

[2021-03-13 00:38] whedon opened #3100 "[PRE REVIEW]: ExaFMM: a high-performance fast multipole method library with C++ and Python interfaces"
**Submitting author:** @tingyu66 (<a href="http://orcid.org/0000-0003-2520-0511">Tingyu Wang</a>)
**Repository:** <a href="https://github.com/exafmm/exafmm-t" target ="_blank">https://github.com/exafmm/exafmm-t</a>
**Version:** v0.1.1
**Editor:** @poulson
**Reviewers:** @berenger-eu, @pitsianis
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-03-13 00:38] whedon commented on #3100
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-13 00:39] whedon commented on #3100
[code]

[2021-03-13 00:39] whedon commented on #3100
[code]

[2021-03-13 00:39] whedon commented on #3100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03100/joss.03100/10.21105.joss.03100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03100/joss.03100/10.21105.joss.03100.pdf) :page_facing_up: :point_left:

[2021-03-13 00:40] kyleniemeyer commented on #3100
@whedon invite @poulson as editor

Hi @poulson, could you edit this submission for us?

[2021-03-13 00:40] whedon commented on #3100
@poulson has been invited to edit this submission.

[2021-03-13 00:44] kyleniemeyer commented on #3090
Hi @connorjmccabe, thanks for your interest in JOSS, and work on the paper. Due to the relatively small size (under 1000 source lines of code) of your submission, the editorial board is going to review this and determine whether it should continue on to review.

[2021-03-13 00:44] kyleniemeyer commented on #3090
@whedon query scope

[2021-03-13 00:44] whedon commented on #3090
Submission flagged for editorial review.

[2021-03-13 00:47] poulson commented on #3100
@whedon set @poulson as editor

[2021-03-13 00:47] whedon commented on #3100
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-13 00:47] poulson commented on #3100
@whedon assign @poulson as editor

[2021-03-13 00:47] whedon commented on #3100
OK, the editor is @poulson

[2021-03-13 00:50] poulson commented on #3100
Hi Tingyu (@tingyu66) :wave: .

Please let me know if there are any reviewers from the following list
    https://bit.ly/joss-reviewers
which you feel would be especially suited for providing feedback on your submission. It's possible to have someone not on this list review, but it is much preferred if they have already signed up for JOSS.

[2021-03-13 01:57] yadudoc commented on #3075
Following the discussion over [here](https://github.com/linksmart/thing-directory/issues/40), @farshidtz provided the keys for write access to the demo instance of the thing-directory. I've tested the advertised functionality using the [swagger UI](https://linksmart.github.io/swagger-ui/dist/?url=https://demo.linksmart.eu/thing-directory/openapi-spec-proxy/thing-directory/) and can confirm that ev

[2021-03-13 02:37] milankl commented on #2813
Hey @gaelforget, nice work! Yes, so I managed to feed IndividualDisplacements.jl with data from ShallowWaters.jl and can verify the particle advection here with the semi-Lagrangian advection scheme therein. So that ticks all the boxes from above. I'm happy for this work to get published so that hopefully more people will start using it, improving its features. There's still some issues that I may

[2021-03-13 03:40] kenohori commented on #2869
Hello @szymon-datalions,

I've had a look at the revised paper. First of all, thank you for adding the sections on the state of the art, the types of kriging performed in your software and the new use case. I think the paper is much more complete and easier to follow.

That being said, I'm honestly a bit unsure about what to make of the new breast cancer use case. I'm (very much) not a medical doc

[2021-03-13 03:50] amoeba commented on #3030
Hi @majensen, I do have time and could have a review in on or before March 21 if that works.

[2021-03-13 08:12] whedon commented on #3071
:wave: @nespinoza, please update us on how your review is going (this is an automated reminder).

[2021-03-13 08:12] whedon commented on #3071
:wave: @j-faria, please update us on how your review is going (this is an automated reminder).

[2021-03-13 09:25] somefunAgba commented on #3002
@whedon generate pdf

[2021-03-13 09:26] whedon commented on #3002
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: :point_left:

[2021-03-13 09:39] somefunAgba commented on #3002
Thanks for the review @kakearney. I have fixed the remaining concerns you raised.

[2021-03-13 13:22] Sulstice commented on #3050
@f3rmion Completed the Code Review! There are only 3 things I had questions about and filed them as issues. The last thing I have to do is read the paper.

@richardjgowers Do you mind if I could get another invitation link?

[2021-03-13 13:38] szymon-datalions commented on #2869
Hi @kenohori,

I'm extremely grateful for your comments!

You have right that spatial correlation in the case of cancer is weak. Usually Poisson Kriging in the case of public health studies serves rather as a smoother (outliers removal) and/or a kind of filter to avoid visual bias of choropleth maps related to the different population density patterns within administrative units. Anyway, you made

[2021-03-13 14:18] tuelwer commented on #3091
@mbobra @nilskroell This is my review for the submission:

The author proposes a Python library called imea which provides different functions to measure shapes in 2D or 3D images. Some of these functions are implemented from scratch, other wrap existing functions (from scikit-image and open-cv). After calculating the volume/area/surface measurements are returned as a pandas dataframe.

The toolbo

[2021-03-13 14:36] cescalara commented on #3045
Sure, A full survey of what's out there isn't easy. Perhaps just list the tools you mentioned (I wasn't aware of Spex/ISIS) without going into details, and highlight what separates BXA. As far as I can tell, BXA is cool as it is an interface to Bayesian analysis tools that you can easily apply to existing analyses in the very widely used Xspec and sherpa frameworks. So, you get lots of nice featur

[2021-03-13 14:46] majensen commented on #3030
Thanks @amoeba that would be perfect

[2021-03-13 14:46] majensen commented on #3030
@whedon assign @amoeba as reviewer

[2021-03-13 14:46] whedon commented on #3030
OK, @amoeba is now a reviewer

[2021-03-13 14:47] majensen commented on #3002
Hi @agahkarakuzu -- how is your review coming along? Thanks

[2021-03-13 16:36] grburgess commented on #3045
At the moment, I am unable to get  Sherpa to install in a clean virtual environment with python 3.8 on MacOS.

And pip.

It is also not possible to install XSPEC in a non system-breaking way with  homebrew.

@cescalara how were you able to work around this?

[2021-03-13 18:11] AlexanderFabisch commented on #3054
@whedon generate pdf

[2021-03-13 18:12] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-03-13 18:29] fboehm commented on #3001
@whedon generate pdf

[2021-03-13 18:30] fboehm commented on #3001
@whedon check references

[2021-03-13 18:30] whedon commented on #3001
PDF failed to compile for issue #3001 with the following error:

 Can't find any papers to compile :-(

[2021-03-13 18:31] fboehm commented on #3001
@whedon generate pdf from branch joss-paper

[2021-03-13 18:31] whedon commented on #3001
[code]

[2021-03-13 18:32] whedon commented on #3001
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03001/joss.03001/10.21105.joss.03001.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03001/joss.03001/10.21105.joss.03001.pdf) :page_facing_up: :point_left:

[2021-03-13 18:35] fboehm commented on #3001
@whedon check references

[2021-03-13 18:35] fboehm commented on #3001
@whedon check references from branch joss-paper

[2021-03-13 18:36] whedon commented on #3001
[code]

[2021-03-13 18:38] whedon commented on #3001
[code]

[2021-03-13 18:41] fboehm commented on #3001
The DOIs look good. I checked all of them manually after downloading the pdf of the paper.

[2021-03-13 18:44] fboehm commented on #3001
@JohannesBuchner - the reviewers have recommended your submission for publication. Would you please make a tagged release and archive and report the version number and archive DOI in the review thread?

You'll need to be sure that the author and title of the archive match exactly those of the paper. You can use zenodo or figshare for the archiving.

[2021-03-13 19:13] nilskroell commented on #3091
👋 @tuelwer,

thanks a lot for the detailed and very well written review. I really appreciate your invested time and effort for the review. These are all important points which will help to improve imea further.

To adress all your points properly, I've created 10 new [issues ](https://git.rwth-aachen.de/ants/sensorlab/imea/-/issues) in the imea repository  and will work on them in the next days. I

[2021-03-13 20:55] jpsnijder commented on #3041
@oliviaguest Yes, that makes sense, but I was  wondering when the author(s) meet the requirements of my feedback, is there somewhere I can finalize the review on here?

[2021-03-13 21:12] D-K-E commented on #3015
@dfm I have moved usage examples to doxygen main page as I understood from:

I'll see what I can do about adding more context. Would you mind giving an example repository who does this well ? I am not sure how to approach it

[2021-03-13 22:12] cddesja commented on #3074
This is my first thing to do on Monday morning.
Chris

On Fri, Mar 12, 2021 at 4:15 PM Vikram Baliga ***@***.***>
wrote:

[2021-03-14 00:52] samaygarg commented on #2940
@whedon generate pdf

[2021-03-14 00:53] whedon commented on #2940
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02940/joss.02940/10.21105.joss.02940.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02940/joss.02940/10.21105.joss.02940.pdf) :page_facing_up: :point_left:

[2021-03-14 03:25] jgostick commented on #2940
Hey @samaygarg, please see my check list above, I need a few more things from you, like version number and DOI.

[2021-03-14 03:54] adamhsparks commented on #2948
Code all looks good. I've added comments in the PDF that I've attached here for my comments on the paper as requested.

[10.21105.joss.02948.pdf](https://github.com/openjournals/joss-reviews/files/6136046/10.21105.joss.02948.pdf)

[2021-03-14 04:55] samaygarg commented on #2940
@jgostick I am just waiting for all authors to confirm their affiliations; I think I should should be able to archive the release and post the DOI sometime tomorrow

[2021-03-14 05:49] neuromusic commented on #2440
Thank you @csoneson! I have a PR open to address the outstanding issues. 2 of the 3 are fixed and I will have a solution for the final issue within the week (by Friday, 3/19).

https://github.com/spacetx/starfish/pull/1938

[2021-03-14 08:36] grburgess commented on #3045
Are there notes somewhere for how to install Sherpa + CIAO on Mac OS? @cescalara which platforms did you use?

[2021-03-14 09:13] cescalara commented on #3045
Hi @grburgess,

I tested the installation on Ubuntu in a docker env and followed the instructions linked to in the docs.
* CIAO/Sherpa: https://cxc.harvard.edu/ciao/download/
* Xspec: https://heasarc.gsfc.nasa.gov/

I did not yet have time to test on MacOS, but I want to do so.

Some comments for @JohannesBuchner:
* I found the whole Sherpa/CIAO part a bit confusing, it seems there is also a pytho

[2021-03-14 09:20] grburgess commented on #3045
@cescalara aha. Ok, I am currently also installing everything in a linux environment so I hope to be able to proceed from there. I have experience with XSPEC in both linux and macos environments and will only be able to test the XSPEC version within linux. XSPEC now has a docker... but this of course means linux only.

I agree, the sherpa install is very confusing and the capabilities required by

[2021-03-14 09:25] cescalara commented on #3045
This would certainly be useful.

[2021-03-14 10:57] JohannesBuchner commented on #3045
There are four possibilities to have a working ciao/sherpa environment:
- install with their conda channel: https://cxc.cfa.harvard.edu/ciao/download/
- install with the ciao-install installation bash script https://cxc.cfa.harvard.edu/ciao/download/ciao_install.html
- install only sherpa through pip (and optionally obtain xspec models manually)
- use a server at your institute where ciao/sherpa i

[2021-03-14 11:32] cescalara commented on #3056
Hi @rrjbca, I am impressed with SkyPy. The code was easy to install, test and get working with quickly. The code itself is also carefully documented. In general, I agree with the recommendations and issues raised by @rmorgan10, and have added a comment in [#433](https://github.com/skypyproject/skypy/issues/443) with my thoughts. I also add some further comments/questions below.

* Can you clarify

[2021-03-14 11:53] grburgess commented on #3045
I've listed a few issues with getting started here:

https://github.com/JohannesBuchner/BXA/issues/21
https://github.com/JohannesBuchner/BXA/issues/22

Currently, running examples is available only on linux and require XSPEC. Thus testing a Sherpa only install appears impossible, but I am perhaps missing something.

[2021-03-14 13:23] grburgess commented on #3045
As the XSPEC install / examples are working on linux I've completed the basic review of this part of the code and documentation:

[#23](https://github.com/JohannesBuchner/BXA/issues/23)
[#24](https://github.com/JohannesBuchner/BXA/issues/24)
[#25](https://github.com/JohannesBuchner/BXA/issues/25)

[2021-03-14 14:02] grburgess commented on #3045
@JohannesBuchner

It is understood, and there is no way to put the burden of maintenance of an enhancement software. Have you communicated with the maintainers of these softwares for the possibility of releasing dockers or some other work around? I've seen statements by the XSPEC maintainers that hint at them not caring too much what is done with the code. But you are providing an enhancement and

[2021-03-14 18:59] pjanck commented on #3061
Just wanted to drop by and ask if you need any assistance from our side? How can we help you make some progress?

[2021-03-14 19:02] kadyb commented on #2948
@adamhsparks, thanks. I corrected all these shortcomings in https://github.com/kadyb/rgugik/commit/265692224a7b6398cdec68f7c89cc0c39347ad7c. Test coverage should be ~87% (https://github.com/kadyb/rgugik/commit/ee186247c3fd885bd61034a7fe53a3171b12b3b0).

[2021-03-14 19:06] pjanck commented on #3061
@whedon generate pdf from branch joss_submission

[2021-03-14 19:06] whedon commented on #3061
[code]

[2021-03-14 19:07] whedon commented on #3061
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: :point_left:

[2021-03-14 19:53] whedon opened #3101 "[PRE REVIEW]: RustBCA: A High-Performance, Binary-Collision-Approximation Code for Ion-Material Interactions"
**Submitting author:** @drobnyjt (<a href="http://orcid.org/0000-0002-9733-6058">Jon Drobny</a>)
**Repository:** <a href="https://github.com/lcpp-org/RustBCA" target ="_blank">https://github.com/lcpp-org/RustBCA</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @HaoZeke, @joglekara
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-03-14 19:53] whedon commented on #3101
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 19:53] whedon opened #3102 "[PRE REVIEW]: Semi-Automatic Classification Plugin: A Python tool for the download and processing of remote sensing images in QGIS"
**Submitting author:** @semiautomaticgit (<a href="http://orcid.org/0000-0001-7283-116X">Luca Congedo</a>)
**Repository:** <a href="https://github.com/semiautomaticgit/SemiAutomaticClassificationPlugin" target ="_blank">https://github.com/semiautomaticgit/SemiAutomaticClassificationPlugin</a>
**Version:** 7.8.0
**Editor:** @kthyng
**Reviewers:** @bstabler, @joferkington
**Managing EiC:** Arfon Smi

[2021-03-14 19:53] whedon commented on #3102
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 19:53] whedon opened #3103 "[PRE REVIEW]: TE-dependent analysis of multi-echo fMRI with *tedana*"
**Submitting author:** @tsalo (<a href="http://orcid.org/0000-0001-9813-3167">Taylor Salo</a>)
**Repository:** <a href="https://github.com/ME-ICA/tedana" target ="_blank">https://github.com/ME-ICA/tedana</a>
**Version:** 0.0.9
**Editor:** @oliviaguest
**Reviewers:** @martinagvilas, @stebo85
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-03-14 19:53] whedon commented on #3101
[code]

[2021-03-14 19:53] whedon commented on #3103
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 19:53] whedon opened #3104 "[PRE REVIEW]: Traja: A Python toolbox for animal trajectory analysis"
**Submitting author:** @justinshenk (<a href="http://orcid.org/0000-0002-0664-7337">Justin Shenk</a>)
**Repository:** <a href="https://github.com/traja-team/traja" target ="_blank">https://github.com/traja-team/traja</a>
**Version:** v0.2.5
**Editor:** @jni
**Reviewers:** @a-paxton, @abigailmcgovern
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-03-14 19:54] whedon commented on #3101
[code]

[2021-03-14 19:54] whedon commented on #3104
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 19:54] whedon opened #3105 "[PRE REVIEW]: Fear Learning and Anxiety Response (FLARe): Open-source software for remote human fear conditioning experiments."
**Submitting author:** @McGregor14 (<a href="http://orcid.org/0000-0003-0024-7049">Thomas McGregor</a>)
**Repository:** <a href="https://github.com/flare-kcl/flare-app" target ="_blank">https://github.com/flare-kcl/flare-app</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewers:** @peircej, @KirstensGitHub, @EleonoraVagnoni
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mod

[2021-03-14 19:54] whedon commented on #3101
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03101/joss.03101/10.21105.joss.03101.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03101/joss.03101/10.21105.joss.03101.pdf) :page_facing_up: :point_left:

[2021-03-14 19:54] whedon commented on #3105
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 19:54] whedon opened #3106 "[PRE REVIEW]: BIDSonym - a BIDSapp for the pseudo-anonymization of neuroimaging datasets"
**Submitting author:** @peerherholz (<a href="http://orcid.org/0000-0002-9840-6257">Peer Herholz</a>)
**Repository:** <a href="https://github.com/PeerHerholz/BIDSonym/" target ="_blank">https://github.com/PeerHerholz/BIDSonym/</a>
**Version:** v0.0.4
**Editor:** @oliviaguest
**Reviewers:** @deep-introspection, @chrisgorgo, @neuromusic
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service

[2021-03-14 19:54] whedon commented on #3106
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 19:54] whedon commented on #3102
PDF failed to compile for issue #3102 with the following error:

 Can't find any papers to compile :-(

[2021-03-14 19:54] whedon commented on #3103
[code]

[2021-03-14 19:54] whedon commented on #3102
[code]

[2021-03-14 19:55] whedon commented on #3104
[code]

[2021-03-14 19:55] whedon commented on #3103
PDF failed to compile for issue #3103 with the following error:

 Can't find any papers to compile :-(

[2021-03-14 19:55] whedon commented on #3105
Failed to discover a `Statement of need` section in paper

[2021-03-14 19:55] whedon commented on #3104
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03104/joss.03104/10.21105.joss.03104.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03104/joss.03104/10.21105.joss.03104.pdf) :page_facing_up: :point_left:

[2021-03-14 19:56] whedon commented on #3105
[code]

[2021-03-14 19:56] whedon commented on #3105
PDF failed to compile for issue #3105 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Gerome Breen, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:71:in `each'

[2021-03-14 19:56] whedon commented on #3106
[code]

[2021-03-14 19:56] whedon commented on #3106
PDF failed to compile for issue #3106 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:155:in `new'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a

[2021-03-14 19:56] whedon commented on #3104
[code]

[2021-03-14 20:00] whedon opened #3107 "[PRE REVIEW]: FielDHub: An R Shiny Package for Design of Experiments in Life Sciences"
**Submitting author:** @DidierMurilloF (<a href="http://orcid.org/0000-0003-3685-4959">Didier Murillo Florez</a>)
**Repository:** <a href="https://github.com/DidierMurilloF/FielDHub" target ="_blank">https://github.com/DidierMurilloF/FielDHub</a>
**Version:** 0.1.0
**Editor:** @csoneson
**Reviewers:** @Prof-ThiagoOliveira, @dlebauer
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service m

[2021-03-14 20:00] whedon commented on #3107
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 20:00] whedon opened #3108 "[PRE REVIEW]: ngsxfem: Add-on to NGSolve for geometrically unfitted finite element discretizations"
**Submitting author:** @schruste (<a href="http://orcid.org/0000-0003-0170-8468">Christoph Lehrenfeld</a>)
**Repository:** <a href="https://github.com/ngsxfem/ngsxfem" target ="_blank">https://github.com/ngsxfem/ngsxfem</a>
**Version:** v2.0
**Editor:** @meg-simula
**Reviewers:** @mscroggs, @mikaem, @mikaem
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-03-14 20:00] whedon commented on #3108
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 20:00] whedon commented on #3107
Failed to discover a `Statement of need` section in paper

[2021-03-14 20:00] whedon commented on #3107
[code]

[2021-03-14 20:00] whedon opened #3109 "[PRE REVIEW]: Qlunc: Quantification of lidar uncertainty"
**Submitting author:** @PacoCosta (<a href="http://orcid.org/0000-0003-1318-9677">F. Costa García</a>)
**Repository:** <a href="https://github.com/SWE-UniStuttgart/Qlunc" target ="_blank">https://github.com/SWE-UniStuttgart/Qlunc</a>
**Version:** v091
**Editor:** @danielskatz
**Reviewers:** @adi3, @PierreGuilbertF
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2021-03-14 20:00] whedon commented on #3109
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 20:00] whedon commented on #3107
[code]

[2021-03-14 20:00] whedon opened #3110 "[PRE REVIEW]: INCHEM-Py: An open source Python box model for indoor air chemistry"
**Submitting author:** @DrDaveShaw (<a href="http://orcid.org/0000-0001-5542-0334">David Shaw</a>)
**Repository:** <a href="https://github.com/DrDaveShaw/INCHEM-Py" target ="_blank">https://github.com/DrDaveShaw/INCHEM-Py</a>
**Version:** v1.0
**Editor:** @dhhagan
**Reviewers:** @goldmanm, @khinsen
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-03-14 20:00] whedon commented on #3110
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 20:00] whedon commented on #3108
Failed to discover a `Statement of need` section in paper

[2021-03-14 20:00] whedon opened #3111 "[PRE REVIEW]: statsExpressions: R Package for Tidy Dataframes and Expressions with Statistical Details"
**Submitting author:** @IndrajeetPatil (<a href="http://orcid.org/0000-0003-1995-6531">Indrajeet Patil</a>)
**Repository:** <a href="https://github.com/IndrajeetPatil/statsExpressions" target ="_blank">https://github.com/IndrajeetPatil/statsExpressions</a>
**Version:** 1.0.0
**Editor:** @mikldk
**Reviewers:** @humanfactors, @tomfaulkenberry
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced s

[2021-03-14 20:00] whedon commented on #3111
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 20:00] whedon commented on #3108
[code]

[2021-03-14 20:00] whedon opened #3112 "[PRE REVIEW]: `bwsample`: Processing Best-Worst Scaling data"
**Submitting author:** @ulf1 (<a href="http://orcid.org/0000-0002-0440-4868">Ulf Hamster</a>)
**Repository:** <a href="https://github.com/satzbeleg/bwsample" target ="_blank">https://github.com/satzbeleg/bwsample</a>
**Version:** 0.6.0
**Editor:** @mikldk
**Reviewers:** @ejhigson, @jakryd
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-03-14 20:01] whedon commented on #3112
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-14 20:01] whedon commented on #3107
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03107/joss.03107/10.21105.joss.03107.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03107/joss.03107/10.21105.joss.03107.pdf) :page_facing_up: :point_left:

[2021-03-14 20:01] whedon commented on #3109
Failed to discover a `Statement of need` section in paper

[2021-03-14 20:01] whedon commented on #3109
[code]

[2021-03-14 20:01] whedon commented on #3108
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03108/joss.03108/10.21105.joss.03108.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03108/joss.03108/10.21105.joss.03108.pdf) :page_facing_up: :point_left:

[2021-03-14 20:01] whedon commented on #3109
PDF failed to compile for issue #3109 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (76e2c6ee44bc4f69fca0403f/Docs/JOSS_202102/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 10 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-

[2021-03-14 20:01] whedon commented on #3110
Failed to discover a `Statement of need` section in paper

[2021-03-14 20:01] whedon commented on #3110
[code]

[2021-03-14 20:01] whedon commented on #3110
[code]

[2021-03-14 20:01] whedon commented on #3108
[code]

[2021-03-14 20:01] tsalo commented on #3103
The manuscript is located at https://github.com/ME-ICA/tedana/blob/joss/paper/paper.md. Is there a way to make it easier for the bot to locate it?

[2021-03-14 20:02] whedon commented on #3111
Failed to discover a `Statement of need` section in paper

[2021-03-14 20:02] whedon commented on #3111
[code]

[2021-03-14 20:02] whedon commented on #3111
[code]

[2021-03-14 20:02] whedon commented on #3110
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03110/joss.03110/10.21105.joss.03110.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03110/joss.03110/10.21105.joss.03110.pdf) :page_facing_up: :point_left:

[2021-03-14 20:02] whedon commented on #3111
PDF failed to compile for issue #3111 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Indrajeet Patil, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:71:in `eac

[2021-03-14 20:02] whedon commented on #3112
[code]

[2021-03-14 20:02] whedon commented on #3112
[code]

[2021-03-14 20:02] whedon commented on #3112
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03112/joss.03112/10.21105.joss.03112.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03112/joss.03112/10.21105.joss.03112.pdf) :page_facing_up: :point_left:

[2021-03-14 20:04] arfon commented on #3101
@whedon invite @luizirber as editor

:wave: @luizirber - I realize this it out of your field, but I wondered if you might want to take it on as I know you like Rust 😬

[2021-03-14 20:04] whedon commented on #3101
@luizirber has been invited to edit this submission.

[2021-03-14 20:05] arfon commented on #3102
@whedon generate pdf from branch paper

[2021-03-14 20:05] whedon commented on #3102
[code]

[2021-03-14 20:05] whedon commented on #3102
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03102/joss.03102/10.21105.joss.03102.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03102/joss.03102/10.21105.joss.03102.pdf) :page_facing_up: :point_left:

[2021-03-14 20:07] arfon commented on #3102
@whedon invite @bstabler as editor

:wave: @bstabler - would you be able to edit this paper for JOSS?

[2021-03-14 20:07] whedon commented on #3102
@bstabler has been invited to edit this submission.

[2021-03-14 20:08] emdupre commented on #3103
Let's try :

 @whedon generate pdf from branch joss

[2021-03-14 20:10] arfon commented on #3103
@whedon generate pdf from branch joss

[2021-03-14 20:10] whedon commented on #3103
[code]

[2021-03-14 20:11] arfon commented on #3103
@emdupre - thanks. Whedon is a little fussy and expects the command as the first string in a comment...

[2021-03-14 20:11] whedon commented on #3103
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03103/joss.03103/10.21105.joss.03103.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03103/joss.03103/10.21105.joss.03103.pdf) :page_facing_up: :point_left:

[2021-03-14 20:12] arfon commented on #3103
@whedon invite @jni as editor

:wave: @jni - would you be able to edit this paper for JOSS?

[2021-03-14 20:12] whedon commented on #3103
@jni has been invited to edit this submission.

[2021-03-14 20:16] arfon commented on #3104
@whedon invite @jni as editor

👋 @jni would you be willing to edit this submission for JOSS? I realized that #3103 might be a better fit for @cMadan.

[2021-03-14 20:16] whedon commented on #3104
@jni has been invited to edit this submission.

[2021-03-14 20:17] arfon commented on #3103
@whedon invite @cMadan as editor

:wave: @cMadan - would you be able to edit this submission for JOSS?

[2021-03-14 20:17] whedon commented on #3103
@cMadan has been invited to edit this submission.

[2021-03-14 20:26] arfon commented on #3063
I'm pretty sure @lorenanicole is currently unable to take on an additional paper so I'm going to make this submission as waitlisted for now.

@niceume - it may be a little while before an editor is assigned to your paper sorry. We have a backlog of submissions right now I'm afraid.

[2021-03-14 20:29] arfon commented on #3090
Thanks for your submission to JOSS @connorjmccabe. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it fails to meet our [substantial scholarly effort criterion](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities

[2021-03-14 20:29] arfon commented on #3090
@whedon reject

[2021-03-14 20:29] whedon commented on #3090
Paper rejected.

[2021-03-14 20:29] #3090 closed

[2021-03-14 20:36] arfon commented on #3105
@McGregor14 - this PR should fix your paper https://github.com/flare-kcl/flare-app/pull/110

[2021-03-14 20:37] arfon commented on #3105
@whedon invite @oliviaguest as editor

:wave: @oliviaguest - would you be willing to edit this submission for JOSS?

[2021-03-14 20:37] whedon commented on #3105
@oliviaguest has been invited to edit this submission.

[2021-03-14 20:45] arfon commented on #3106
@PeerHerholz - please remove the line with the missing `orcid` for your author entry. Also, the editors in your area are a little overloaded right now so I'm going to put your submission into the backlog.

[2021-03-14 20:47] arfon commented on #3107
@whedon invite @csoneson as editor

:wave: @csoneson - would you be able to edit this submission for JOSS?

[2021-03-14 20:47] whedon commented on #3107
@csoneson has been invited to edit this submission.

[2021-03-14 20:49] arfon commented on #3108
@whedon invite @meg-simula as editor

:wave: @meg-simula - are you able to take on an additional paper at this time?

[2021-03-14 20:49] whedon commented on #3108
@meg-simula has been invited to edit this submission.

[2021-03-14 20:53] arfon commented on #3109
@PacoCosta - this PR should fix your paper compilation https://github.com/SWE-UniStuttgart/Qlunc/pull/105

[2021-03-14 20:54] arfon commented on #3109
Also, the editors for this area are a little busy right now so I'm going to mark this submission as 'waitlisted'. When an editor becomes available, we'll assign them.

[2021-03-14 20:56] arfon commented on #3110
@whedon invite @dhhagan as editor

👋 @dhhagan - would you be able to edit this submission for JOSS?

[2021-03-14 20:56] whedon commented on #3110
@dhhagan has been invited to edit this submission.

[2021-03-14 20:59] dhhagan commented on #3110
@arfon I can indeed.

[2021-03-14 20:59] dhhagan commented on #3110
@whedon assign @dhhagan as editor

[2021-03-14 20:59] whedon commented on #3110
OK, the editor is @dhhagan

[2021-03-14 21:00] arfon commented on #3111
@IndrajeetPatil - this PR should fix your paper compilation https://github.com/IndrajeetPatil/statsExpressions/pull/81

[2021-03-14 21:00] PeerHerholz commented on #3106
Hi @arfon,

thx for the pointer and update.
Sorry for the obvious error...I compiled it locally via the `docker image` and also the `web version`, but overlooked my missing `orcid` both times. I updated the `paper.md` and added my `orcid`.
Re editors: of course, I understand, thx for letting me know.

Cheers, Peer

[2021-03-14 21:00] arfon commented on #3111
@whedon invite @karthik as editor

👋 @karthik - would you be able to edit this submission for JOSS?

[2021-03-14 21:00] whedon commented on #3111
@karthik has been invited to edit this submission.

[2021-03-14 21:02] arfon commented on #3112
Thanks for your submission to JOSS @ulf1. Unfortunately all of our editors in this area are very busy right now so I've added this paper to the waitlist.

[2021-03-14 21:06] Yurlungur commented on #3099
@Sbozzolo Overall the paper reads quite well! One thing I noticed is that there is not much comparison to other visualization and analysis tools. For example, how does kuibit compare to visit, yt, or even pycactus? It may also be enough to mention that many users of the Einstein Toolkit write their own visualization pipelines by hand. I have created an issue to discuss on your repo [here](https://

[2021-03-14 21:09] arfon commented on #2796
@whedon assign me as editor

[2021-03-14 21:09] whedon commented on #2796
OK, the editor is @arfon

[2021-03-14 21:10] arfon commented on #2796
@CJ-Wright - I'm sorry it has taken so very long to move this paper forward. Unfortunately, @katyhuff was unable to edit this submission for us and so I shall take it over from here.

[2021-03-14 21:19] arfon commented on #2796
👋 @remram44 - are you still willing to provide a review for this submission?

[2021-03-14 21:23] arfon commented on #2796
:wave: @julianpistorius @mbdemoraes – would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review is [_SHED: Streaming Heterogeneous Event Data Tracking with Provenance_](https://github.com/xpdAcq/SHED).

[2021-03-14 21:26] csoneson commented on #2440
Great, thanks @neuromusic! I will un-pause this submission then and check in again by the end of the week.

[2021-03-14 21:28] arfon commented on #2395
:wave: @ionlights @GregaVrbancic @ankur-gupta – would you be willing to step in on behalf of @thomwolf here and review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd be asking you to review is [_gobbli: A uniform interface to deep learning for

[2021-03-14 21:53] Sbozzolo commented on #3099
Thanks, I added a paragraph that lists all the software officially recommended in this page https://docs.einsteintoolkit.org/et-docs/Analysis_and_post-processing.

The only other software that is comparable to `kuibit` is `SimulationTools`, but it requires Mathematica (non-free). Most of the other software for analysis appears to be outdated, unmaintained, and/or lacking documentation (including `

[2021-03-14 21:56] arokem commented on #3017
👋 @jmadera : would you be willing to review this article for JOSS? Thanks!

[2021-03-14 21:56] arokem commented on #3017
👋 @rewbenio : would you be willing to review this article for JOSS? Thanks!

[2021-03-14 22:14] ankur-gupta commented on #2395
Yes, I can review. Thanks.

[2021-03-14 22:17] kbarnhart commented on #2948
@adamhsparks and @mikerspencer thanks so much for revisiting your reviews after @kadyb made revisions.

@adamhsparks it looks like there are a couple of remaining check boxes on your list. If these issues have been addressed, please check them off. Otherwise, let @kadyb know what is needed to address them.

[2021-03-14 22:21] Yurlungur commented on #3099
Thanks, @Sbozzolo Yes, that looks great.

[2021-03-14 22:45] Yurlungur commented on #3099
Your contribution rules also look quite good. I added an issue with one question I had about them [here](https://github.com/Sbozzolo/kuibit/issues/13).

[2021-03-14 22:47] kbarnhart commented on #3088
:wave:  @dlgeorge @jmansour @bzindovic @mattkram @p-costa @zgxn would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "geoclaw-landspill: an oil land-spill and overland flow simulator for pipeline rupture events" and I'm conta

[2021-03-15 01:08] jmansour commented on #3088
Hi @kbarnhart

I'd be happy to provide a review for `geoclaw-landspill`.

[2021-03-15 01:39] bwoshea commented on #3068
@whedon I'm sorry, I haven't had the chance to start reviewing this yet.  It's going to be impossible for me to do it this week, but I will be able to work on it the week of March 22nd.

[2021-03-15 01:39] whedon commented on #3068
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-15 01:40] bwoshea commented on #3068
@jmsexton03 apologies for the delay on the review - I'm happy to do it, but it's hitting at a very difficult time of the semester!

[2021-03-15 01:55] adamhsparks commented on #2948
@kbarnhart, since @kadyb has just addressed my comments I can now go back and check everything and will update.

[2021-03-15 02:02] jni commented on #3103
@arfon I only have bandwidth for one more concurrent submission (really -1, but I'll stretch a bit! 😅), so I'll decline this one. 🙏

[2021-03-15 02:05] jni commented on #3104
@whedon assign me as editor

[2021-03-15 02:05] whedon commented on #3104
OK, the editor is @jni

[2021-03-15 02:11] adamhsparks commented on #2948
The paper's grammar looks good now but the test coverage, both with the badge and with the paper is still an issue. I just pulled the latest and ran `covr::report()` and got this result of ~80% coverage. Not 87% or 89%?
<img width="1095" alt="Screen Shot 2021-03-15 at 10 06 59 am" src="https://user-images.githubusercontent.com/3195906/111094712-d02a4b80-8576-11eb-9c7b-20adc0097653.png">

[2021-03-15 02:22] navidcy commented on #3053
@pdebuyl I plan to respond to everything and push a new version of the paper ideally in the next 2 weeks. Does this sound reasonable?

[2021-03-15 03:09] jni commented on #3104
Hi @justinshenk,

Thanks for your submission. While I look for reviewers (feel free to suggest any here, without @-mentioning them), could you please:

a) fix the references in the paper as suggested by [this comment](https://github.com/openjournals/joss-reviews/issues/3104#issuecomment-798969286) from our bot,
b) make sure you cite appropriate papers for any software you use. For example, I don't

[2021-03-15 03:36] prdm0 commented on #2769
@timtroendle , Do I have to do anything else for the paper to be finalized? Best regards.

[2021-03-15 06:51] hugoledoux commented on #3061
At this moment nothing, we expect the first feedback from the reviewers within about 2w usually.

Based on these, you are expected to modify/update your code/docs/paper and discuss with them. Usually it takes a few iterations like this.

[2021-03-15 07:02] r-barnes commented on #2878
Sorry for going MIA. I've noticed github's notification system has improved, so hopefully I can make better use of that in the future. I'll take another look and see if we can get this wrapped up.

[2021-03-15 07:02] r-barnes commented on #2575
Sorry for going MIA. I've noticed github's notification system has improved, so hopefully I can make better use of that in the future. I'll take another look and see if we can get this wrapped up.

[2021-03-15 07:05] ulf1 commented on #3112
Hello @arfon I moved the repository into a new organisation but couldn't change URL anymore. The new location is https://github.com/satzbeleg/bwsample
Is there a way to change the path?

[2021-03-15 07:26] dvberkel commented on #3096
@melissawm I finished my review of the paper. In my opinion the software presented is of excellent quality and in my book ticks all the required marks.
Furthermore, the software goes above and beyond to provide a good library.

[2021-03-15 07:29] PatrickRWright commented on #3030
Hi @majensen thanks for considering me but I'm swamped right now.

[2021-03-15 07:30] PacoCosta commented on #3109
Dear Arfon,

Thanks for your comments.
Do you know how many time will take the complete process before publishing?
Thanks for your time and effort.

BR,
Paco

[2021-03-15 07:43] oliviaguest commented on #3042
@whedon re-invite @RealPolitiX as reviewer

[2021-03-15 07:43] whedon commented on #3042
OK, the reviewer has been re-invited.

@realpolitix please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-15 07:53] oliviaguest commented on #3105
@whedon assign @oliviaguest as reviewer

[2021-03-15 07:53] whedon commented on #3105
You need to assign an editor first.

[2021-03-15 07:53] oliviaguest commented on #3105
@whedon assign @oliviaguest as editor

[2021-03-15 07:53] whedon commented on #3105
OK, the editor is @oliviaguest

[2021-03-15 07:57] oliviaguest commented on #3041
@sdparsons start when you are ready. ☺️ @jpsnijder it's a dialogue, so you should/could all be discussing this back-and-forth as required. See examples I linked to above. Thanks!

[2021-03-15 07:58] pdebuyl commented on #3053
@navidcy it is ok. Make sure to update us here.

[2021-03-15 08:05] pdebuyl commented on #3076
@georgiastuart @martinmodrak gentle reminder

[2021-03-15 08:05] arfon commented on #3106
@whedon generate pdf

[2021-03-15 08:06] whedon commented on #3106
PDF failed to compile for issue #3106 with the following error:

 pandoc: Bidsonym.bib: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2021-03-15 08:06] arfon commented on #2395
@whedon remove @thomwolf as reviewer

[2021-03-15 08:06] whedon commented on #2395
OK, @thomwolf is no longer a reviewer

[2021-03-15 08:06] arfon commented on #2395
@whedon add @ankur-gupta as reviewer

[2021-03-15 08:06] whedon commented on #2395
OK, @ankur-gupta is now a reviewer

[2021-03-15 08:07] arfon commented on #2395
@ankur-gupta - many thanks for agreeing to take over here!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JO

[2021-03-15 08:10] arfon commented on #3112
Yep, I've gone ahead and done that for you.

[2021-03-15 08:12] arfon commented on #3106
@PeerHerholz - Pandoc is case sensitive for filenames your BibTeX file has a different case from how you're referencing it in the `paper.md`.

[2021-03-15 08:49] bzindovic commented on #3088
Dear all,

I'd also be available for reviewing geoclaw-landspill.

Regards,
Budo Zindovic

On Mon, Mar 15, 2021, 02:08 John Mansour ***@***.***> wrote:

[2021-03-15 08:54] timtroendle commented on #2769
Not at this point, thanks @prdm0 .

[2021-03-15 08:54] timtroendle commented on #2769
@myousefi2016, did you have a chance to look at the updates?

[2021-03-15 09:08] p-costa commented on #3088
Thank you for the invitation! Unfortunately I will have to decline it this time. Perhaps @ ashwinvis or @ vezeli would be a good fit.

[2021-03-15 09:19] RealPolitiX commented on #3042
The paper from @fmatuschke is well-written apart from a few grammar errors. The references are thorough. I think due to the novelty of the measurement technique used for reconstruction of neuronal fibers, it's not used elsewhere in general. You can probably cite some of the references from [OpenPolScope](https://openpolscope.org/pages/Literature.htm), since it's related and discuss your unique con

[2021-03-15 09:34] fmatuschke commented on #3042
I added the missing section about the software compares mentioned by @glyg.
Additionally I fixed some typos I found.

Thank you @RealPolitiX for opening https://github.com/3d-pli/fastpli/issues/11. I fixed it.

Just a small summary for @all.
I have addressed all the issues so far. The main changes since the opening of the review are a complete rework of my Wiki and API documentation.

[2021-03-15 09:41] dlgeorge commented on #3088
Hi Katy,

yes, I'm willing to review. Thanks,

dave

On Tue, Mar 9, 2021 at 3:29 PM Katy Barnhart ***@***.***>
wrote:

--
----------------------------------------------------
David L George ***@***.***)
Research Mathematician
Cascades Volcano Observatory
U.S. Geological Survey
Vancouver, WA
-----------------------------------------------------

[2021-03-15 10:15] kadyb commented on #2948
`geonames_download()` and `borders_download()` functions are just for data download and do not contain any complex logic. They are not automatically tested because the downloaded files are large (e.g., 375 MB) and server space is limited. We use [this](https://github.com/kadyb/rgugik/blob/master/.github/workflows/test-coverage.yml) configuration file to calculate the test coverage value on [codeco

[2021-03-15 10:33] adamhsparks commented on #2948
Ah, thanks for the explanation.

I’m curious, why not use the `#nocov` tags in these files to exclude coverage if they aren’t/don’t need to be tested?

[2021-03-15 10:34] adamhsparks commented on #2948
@kbarnhart, @kadyb has done a fantastic job with this. I've ticked off the remaining boxes (my previous question notwithstanding).

[2021-03-15 11:00] kadyb commented on #2948
I could be wrong, but I think the preferred way is to use the `function_exclusions` argument. However, there are many ways to achieve the effect.

@adamhsparks, thanks for your time and helpful comments!

[2021-03-15 11:02] kadyb commented on #2948
@whedon generate pdf

[2021-03-15 11:03] adamhsparks commented on #2948
Thanks, in that case I may be doing it wrong! I’ve learned something new doing this review.

[2021-03-15 11:03] whedon commented on #2948
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: :point_left:

[2021-03-15 11:30] whedon commented on #3073
:wave: @JonnyTran, please update us on how your review is going (this is an automated reminder).

[2021-03-15 11:30] whedon commented on #3073
:wave: @FedericoComoglio, please update us on how your review is going (this is an automated reminder).

[2021-03-15 11:45] dfm commented on #3068
@bwoshea: thanks for the update! No stress - let me know if you have any questions as you get started on the review.

[2021-03-15 11:48] arfon commented on #3109
I don't sorry. JOSS reviews usually take up to two months (but sometimes more), but this is once an editor has been assigned. I would hope you will have an editor assigned in the next few weeks.

[2021-03-15 11:51] niceume commented on #3063
@arfon @lorenanicole - I understand. I will wait until you have time to review. Thank you.

[2021-03-15 11:57] PacoCosta commented on #3109
Ok, thanks 👍

[2021-03-15 12:00] whedon opened #3113 "[PRE REVIEW]: Analysis of Prehistoric Iconography with the R package iconr"
**Submitting author:** @zoometh (<a href="http://orcid.org/0000-0002-1112-6122">Huet Thomas</a>)
**Repository:** <a href="https://github.com/zoometh/iconr" target ="_blank">https://github.com/zoometh/iconr</a>
**Version:** v0.1.0
**Editor:** @hugoledoux
**Reviewers:** @fbiljecki, @benmarwick
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-03-15 12:00] whedon commented on #3113
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-15 12:01] whedon commented on #3113
[code]

[2021-03-15 12:01] whedon commented on #3113
Failed to discover a valid open source license.

[2021-03-15 12:01] whedon commented on #3113
[code]

[2021-03-15 12:01] whedon commented on #3113
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03113/joss.03113/10.21105.joss.03113.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03113/joss.03113/10.21105.joss.03113.pdf) :page_facing_up: :point_left:

[2021-03-15 12:08] dfm commented on #3015
@D-K-E:

- Thanks for the clarification re: Viva-Lambda; I think it would be good to add a link to that README highlighting that the D-K-E version is the primary repo and clarifying the relationship, but otherwise all sounds good!
- I think that moving the README content to the doxygen pages really helps and it's getting closer. I'd say that the main major component that is still missing is the [E

[2021-03-15 12:12] schruste commented on #3108
As for the potential reviewers:
Perfect matches, but both not on the list, would be santiagobadia and chr-engwer.
From the list the following persons seem to qualify as potential reviewers as well (in that order):
- jaroslavhron,
- mscroggs,
- mikaem,
- capitalaslash

[2021-03-15 12:24] arfon commented on #3113
@whedon query scope

@zoometh – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-03-15 12:24] whedon commented on #3113
Submission flagged for editorial review.

[2021-03-15 12:50] cddesja commented on #3074
I have waited too long and now my invitation has expired. Can I get a new
invitation so that I can work on this today?

On Mon, Mar 1, 2021 at 12:36 PM whedon ***@***.***> wrote:

[2021-03-15 14:28] hugoledoux commented on #2970
@Narayana-Rao Great that you changed the named 👍

For the GUI, I agree with @liberostelios that a processing interface would be better, but also realise that perhaps it is asking too much. However, I think you have to at least harmonise with other plugins, and provide an "OK/Run" button at the bottom right, and a "Cancel" button too. Right now there is no cancel button whatsoever. Also, the help s

[2021-03-15 14:45] diehlpk commented on #2939
@Balaje

- [ ] Please add the city and province/state to the affiliations.
- [ ] In Equation 1 please describe the quantities: K, M, B, f, and lambda briefly since not all people know these symbols.
- [ ] Please add a link to the README.md in the last line of the first page.
- [ ] I think it would help to give a brief definition of the coarse and fine space in the caption of Figure 1
- [ ] Can we

[2021-03-15 14:48] diehlpk commented on #2939
@Balaje

I checked the references, and sometimes you use `Journal of Fluids and Structures` and sometimes you use `J. Fluids Struct.,`.

It is not important which you use, but please be consistent and only use one type for all references.

[2021-03-15 14:51] diehlpk commented on #2496
@barischrooneyj  How is the major revision going? Any plans to submit it within the next three months?

[2021-03-15 14:53] diehlpk commented on #3060
Reminder set for @KristofferC in 2 weeks

[2021-03-15 14:53] diehlpk commented on #3060
@whedon remind @rdeits in 2 weeks

[2021-03-15 14:53] whedon commented on #3060
Reminder set for @rdeits in 2 weeks

[2021-03-15 15:10] Sbozzolo commented on #3099
Thanks, I updated the `CONTRIBUTING` document with a detailed list of the steps to contribute.

[2021-03-15 15:54] dfm commented on #3015
@whedon assign @eigenfoo as reviewer

@eigenfoo has agreed to review - thanks George!! Once we have a second reviewer, I'll get the review started in a separate thread.

[2021-03-15 15:54] whedon commented on #3015
OK, @eigenfoo is now a reviewer

[2021-03-15 15:54] luizirber commented on #3101
@whedon assign @luizirber as editor

[2021-03-15 15:54] whedon commented on #3101
OK, the editor is @luizirber

[2021-03-15 15:59] arosen93 commented on #3089
I have concluded my review of IFermi. In short, IFermi is an excellent software package that I believe should be published in JOSS.

Overall, I am incredibly pleased with the detailed documentation, easy-to-follow tutorials, and accessible code layout. I believe that this will become the de facto tool for generating and analyzing Fermi surfaces for VASP users (and hopefully users of other codes on

[2021-03-15 16:03] CBenghi commented on #2496
Hello, I'm already involved in a different review at the moment.
If you still need a reviewer once that one is completed I'd be happy to help, but I'd like to take up one at a time, if possible.

[2021-03-15 16:07] Yurlungur commented on #3099
Perfect!

[2021-03-15 16:12] sjpfenninger commented on #2677
@whedon generate pdf

[2021-03-15 16:13] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-03-15 16:24] sjpfenninger commented on #2677
@TheoChristiaanse thanks for the DOIs and the authorship clarification. I've suggested [some minor language/clarity edits](https://gitlab.com/energyincities/besos/-/merge_requests/125). Please consider those and merge as appropriate. Then we're ready to accept: make a tagged release on GitHub and archive that release, for example on Zenodo or figshare, and report the version number and archive DOI

[2021-03-15 16:33] zgxn commented on #3088
Dear all,

If still needed, I'd also be willing to review.

Best wishes,
Ilhan Ozgen

On 3/15/21 1:49 AM, Budo Zindovic wrote:

--
Ilhan Özgen Xian
Lawrence Berkeley National Laboratory
California, USA
‣ https://watershed.lbl.gov/
‣ https://ideas-productivity.org/ideas-watersheds/

[2021-03-15 16:37] liberostelios commented on #2970
I agree with @hugoledoux comments about GUI, but other than that I can raise any big objections on the publication of the paper. So I've filled all checkboxes from my side.

[2021-03-15 16:56] jhollist commented on #2890
@kanishkan91 Just wanted to let you know that I posted my review as an issue in your repository: https://github.com/JGCRI/ambrosia/issues/29.  Details on the unchecked items are in that review plus a few other things.

Overall, nice job!

Any questions let me know.

[2021-03-15 17:36] whedon commented on #3074
:wave: @brunaw, please update us on how your review is going (this is an automated reminder).

[2021-03-15 17:36] whedon commented on #3074
:wave: @cddesja, please update us on how your review is going (this is an automated reminder).

[2021-03-15 17:41] cddesja commented on #3074
I need a new invitation to complete the review and I can finish it.

On Mon, Mar 15, 2021 at 1:37 PM whedon ***@***.***> wrote:

[2021-03-15 17:46] danielskatz commented on #3074
@whedon re-invited @cddesja as reviewer

[2021-03-15 17:46] whedon commented on #3074
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-15 17:46] danielskatz commented on #3074
@whedon re-invite @cddesja as reviewer

[2021-03-15 17:46] whedon commented on #3074
OK, the reviewer has been re-invited.

@cddesja please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-15 17:49] 0x0f0f0f commented on #3078
@jpfairbanks how does the current documentation look? Anything you think I should add?
Thank you Max! Very interesting paper. Well written and full of examples.

[2021-03-15 18:05] myousefi2016 commented on #2769
@timtroendle Yes, I checked and it looks good to me as well.

[2021-03-15 18:27] kbarnhart commented on #3088
Thanks all for the overwhelming enthusiasm for serving as reviewers. I'll move forward with @dlgeorge @bzindovic and @jmansour as reviewers. After assigning them here I'll start the review on a new issue.

[2021-03-15 18:28] kbarnhart commented on #3088
@whedon add @dlgeorge as reviewer

[2021-03-15 18:28] whedon commented on #3088
OK, @dlgeorge is now a reviewer

[2021-03-15 18:29] kbarnhart commented on #3088
@whedon add @jmansour as reviewer

[2021-03-15 18:29] whedon commented on #3088
OK, @jmansour is now a reviewer

[2021-03-15 18:29] kbarnhart commented on #3088
@whedon add @bzindovic as reviewer

[2021-03-15 18:29] whedon commented on #3088
OK, @bzindovic is now a reviewer

[2021-03-15 18:29] kbarnhart commented on #3088
@whedon start review

[2021-03-15 18:29] whedon opened #3114 "[REVIEW]: geoclaw-landspill: an oil land-spill and overland flow simulator for pipeline rupture events"
**Submitting author:** @piyueh (<a href="http://orcid.org/0000-0001-6330-2709">Pi-Yueh Chuang</a>)
**Repository:** <a href="https://github.com/barbagroup/geoclaw-landspill" target ="_blank">https://github.com/barbagroup/geoclaw-landspill</a>
**Version:** v1.0
**Editor:** @kbarnhart
**Reviewer:** @dlgeorge, @jmansour, @bzindovic
**Archive:** <a href="https://doi.org/10.5281/zenodo.4914798" target="

[2021-03-15 18:30] whedon commented on #3088
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3114.

[2021-03-15 18:30] #3088 closed

[2021-03-15 18:30] whedon commented on #3114
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dlgeorge, @jmansour, @bzindovic it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2021-03-15 18:30] whedon commented on #3114
[code]

[2021-03-15 18:30] whedon commented on #3114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03114/joss.03114/10.21105.joss.03114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03114/joss.03114/10.21105.joss.03114.pdf) :page_facing_up: :point_left:

[2021-03-15 18:31] whedon commented on #3114
[code]

[2021-03-15 18:35] kbarnhart commented on #3114
@dlgeorge @jmansour @bzindovic - thanks for agreeing to review this submission to JOSS. In the prior comments there is a checklist that you can use to guide you through your review.

We have an automatic reminder set up in two weeks to ask you how the review is going. At present we request that reviewers complete their reviews within 6 weeks. JOSS is trying to be mindful of changes people have exp

[2021-03-15 18:35] kbarnhart commented on #2948
@whedon check references

[2021-03-15 18:36] whedon commented on #2948
[code]

[2021-03-15 18:37] kbarnhart commented on #2948
@whedon generate pdf

[2021-03-15 18:37] whedon commented on #2948
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: :point_left:

[2021-03-15 19:02] rhaas80 commented on #2978
@eloisabentivegna  Sorry about the long delay. I am unfortunately not yet done with the review.

[2021-03-15 19:19] labarba commented on #3100
Possible reviewers:

- sivaramambikasaran is the first author of [HODLRlib](https://joss.theoj.org/papers/10.21105/joss.01167) in JOSS (H-matrices, a related method)
- pitsianis is the first author of [SG-t-SNE-Π](https://joss.theoj.org/papers/10.21105/joss.01577) in JOSS, and also a co-author of the [parallel AFMPB code](https://doi.org/10.1016/j.cpc.2014.12.022), targeting the same problem setti

[2021-03-15 19:27] piyueh commented on #3114
Hi @kbarnhart @dlgeorge @jmansour @bzindovic, thanks in advance for reviewing our submission. I want to provide extra information that may help to examine the length of history of our work (one of the review items under _substantial scholarly effort_):

We developed the Fortran code initially in another repository at [https://github.com/barbagroup/geoclaw](https://github.com/barbagroup/geoclaw/tre

[2021-03-15 19:30] j-faria commented on #3071
I finished reviewing the paper and the software. There were a couple of minor issues with the README (some that @nespinoza also identified) and a plot/animation; they were all fixed.
Everything else looks good so all lights are green from my side to accept this submission.

This is an outstanding piece of work, congratulations to @rodluger and the other contributors.
I'm looking forward to using `

[2021-03-15 19:36] KristinaRiemer commented on #3074
Thanks for doing that @danielskatz! Let us know if that doesn't work @cddesja.

[2021-03-15 19:38] kbarnhart commented on #3114
Thanks for that information @piyueh.

[2021-03-15 19:38] KristinaRiemer commented on #2575
Thanks for the update @r-barnes. I've struggled some with GitHub notifications, including accidentally turning off notifications for this entire repository (and therefore notifications for all submissions I'm editor for!), so I definitely understand that pain point.

[2021-03-15 19:45] kbarnhart commented on #2948
@kadyb at this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make

[2021-03-15 20:00] aothms commented on #3061
Hi @pjanck

Thanks for submitting this. This is obviously very welcomed work by the community. Before I check off the checklist, let me start with some general comments (more might follow, just wanted to get the conversation going).

The paper, nor documentation attempts at contrasting this work with the other libraries for similar purposes. Two of your reviewers work on software libraries with ov

[2021-03-15 21:06] kadyb commented on #2948
1. https://github.com/kadyb/rgugik/releases/tag/v0.2.1 (version tag: `v0.2.1`)
2. https://zenodo.org/record/4606706
3. Done.
4. https://doi.org/10.5281/zenodo.4606705 (`10.5281/zenodo.4606706`)

If something is wrong, please let me know.

[2021-03-15 21:09] ViniciusBRodrigues commented on #3027
Alright you can add me as reviewer.

[2021-03-15 21:19] rMassimiliano commented on #3041
Hi @oliviaguest, I also think that the package overall is in good shape. I opened a couple of issues reguarding the documentation but nothing major so far.

Hi @sdparsons I also have some minor suggestions on the `Readme.md`, in addition to the ones proposed by @Nathaniel-Haines

### Comments on the readme:

* In the section **A note on pre-processing**, I think that in the first snippet
the funct

[2021-03-15 21:21] melissawm commented on #3096
Thank you, @dvberkel !

[2021-03-15 22:44] henrykironde commented on #3040
I will try to finish the evaluation by the end of this week.

[2021-03-15 22:51] eloisabentivegna commented on #2978
Thanks for your progress so far, @rhaas80. I can see your checklist is not complete, but your help up to this point is very appreciated.

[2021-03-15 23:42] kbarnhart commented on #2948
@whedon set version as v0.2.1

[2021-03-15 23:42] whedon commented on #2948
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-15 23:43] kbarnhart commented on #2948
@whedon set v0.2.1 as version

[2021-03-15 23:43] whedon commented on #2948
OK. v0.2.1 is the version.

[2021-03-15 23:44] samaygarg commented on #2940
Author names, affiliations, and ORCIDs have all been confirmed
Version: v1.0.1
Zenodo DOI: 10.5281/zenodo.4606814
please let me know if there is anything else I should do!

[2021-03-15 23:46] kbarnhart commented on #2948
@whedon set 10.5281/zenodo.4606706 as archive

note 10.5281/zenodo.4606706 is the DOI for this version and 10.5281/zenodo.4606705 is the DOI for all versions.

[2021-03-15 23:46] whedon commented on #2948
OK. <a href="https://doi.org/10.5281/zenodo.4606706" target="_blank">10.5281/zenodo.4606706</a> is the archive.

[2021-03-15 23:47] kbarnhart commented on #2948
@whedon recommend accept

[2021-03-15 23:47] whedon commented on #2948
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-15 23:47] kbarnhart commented on #2948
@whedon accept

[2021-03-15 23:48] whedon commented on #2948
[code]

[2021-03-15 23:48] whedon commented on #2948
[code]

[2021-03-15 23:48] whedon commented on #2948
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2144

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2144, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-15 23:49] kbarnhart commented on #2948
@kadyb I've now recommended that this submission be accepted and published. One of the JOSS editors in chief @openjournals/joss-eics will handle the submission from here. Congratulations.

Thanks to @adamhsparks and @mikerspencer for contributing thoughtful and thorough reviews.

[2021-03-16 00:08] jgostick commented on #2940
@whedon set 10.5281/zenodo.4606814 as archive

[2021-03-16 00:08] whedon commented on #2940
OK. <a href="https://doi.org/10.5281/zenodo.4606814" target="_blank">10.5281/zenodo.4606814</a> is the archive.

[2021-03-16 01:50] jgostick commented on #2940
@whedon set v1.0.1 as version

[2021-03-16 01:50] whedon commented on #2940
OK. v1.0.1 is the version.

[2021-03-16 01:50] jgostick commented on #2940
@whedon generate pdf

[2021-03-16 01:51] whedon commented on #2940
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02940/joss.02940/10.21105.joss.02940.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02940/joss.02940/10.21105.joss.02940.pdf) :page_facing_up: :point_left:

[2021-03-16 01:52] jgostick commented on #2940
@whedon accept

[2021-03-16 01:52] whedon commented on #2940
[code]

[2021-03-16 01:52] whedon commented on #2940
[code]

[2021-03-16 01:53] whedon commented on #2940
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2145

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2145, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-16 01:54] jgostick commented on #2940
@samaygarg Congratulations, everything looks good.  an Editor-in-Chief will drop in here shortly to make the acceptance and publication official.

[2021-03-16 02:44] samaygarg commented on #2940
Thank you!

[2021-03-16 05:02] whedon commented on #3075
:wave: @sarathsp06, please update us on how your review is going (this is an automated reminder).

[2021-03-16 07:43] csoneson commented on #3107
@whedon assign @csoneson as editor

[2021-03-16 07:43] whedon commented on #3107
OK, the editor is @csoneson

[2021-03-16 07:51] csoneson commented on #3107
👋 @DidierMurilloF - thanks for submitting to JOSS. I will handle your submission, and start by finding a couple of suitable reviewers. If you have any suggestions (e.g., from the list linked in the first post above), please mention them here (without tagging them with `@`).

I noticed that your paper is currently missing a 'Statement of Need' section (see [here](https://joss.readthedocs.io/en/late

[2021-03-16 08:16] salrm8 commented on #2871
@drvinceknight Hello. Sorry for reminding again, but I wonder if it could be possible to invite another reviewer to review the work?

[2021-03-16 08:20] RobertRosca commented on #3000
Awesome! If I have free time I may do some PRs for those issues myself, so to avoid duplicating work could you (or others working on the project) leave a quick comment on an issue saying that work has started on them already?

[2021-03-16 08:22] dbkeitel commented on #3000
Hi @RobertRosca that would be awesome and much appreciated!
Generally, if there is no answer to one of the issues yet, nor a linked PR as in https://github.com/PyFstat/PyFstat/issues/287 , then you can safely assume we haven't started on it yet.

[2021-03-16 08:36] lucydot commented on #3089
@danielskatz I'm in the process of working through the tutorials for my own dataset - I'll report back later today. All good so far!

[2021-03-16 09:24] robertsawko commented on #2978
Apologies for a radio silence. I am going to get back to reviewing this week. I have been reporting on GH issues of the software repository as I think that's the recommendation with JOSS. Made a few comments about the documentation. Unfortunately I run into an issue with the build on Arch Linux, but I think I should be able to resolve it now.

[2021-03-16 10:43] arfon commented on #2940
@samaygarg - please merge these changes before I accept the paper: https://github.com/samaygarg/fuelcell/pull/7

[2021-03-16 10:53] arfon commented on #2948
@kadyb - I've made a few formatting fixes and small language changes in https://github.com/kadyb/rgugik/pull/74 - please let me know what you think.

Also, the footnotes on the first page were overflowing the margin of the paper so I moved them to links. Hopefully this is OK? If not, an alternative would be to make these proper references in the BibTeX.

<img width="746" alt="Screen Shot 2021-03-1

[2021-03-16 12:11] dfm commented on #3015
@whedon add @ankurankan as reviewer

Ankur will be our second reviewer - thanks!!

@D-K-E, @eigenfoo, @ankurankan: I'll start the main review thread now so all conversation will move there. Please don't hesitate to ask if any of you have any questions as the review progresses. Thanks all for participating!

[2021-03-16 12:11] whedon commented on #3015
OK, @ankurankan is now a reviewer

[2021-03-16 12:11] dfm commented on #3015
@whedon start review

[2021-03-16 12:11] whedon opened #3115 "[REVIEW]: PyGModels: A Python package for exploring Probabilistic Graphical Models with Graph Theoretical Structures"
**Submitting author:** @D-K-E (<a href="http://orcid.org/0000-0002-1552-8938">D. Kaan Eraslan</a>)
**Repository:** <a href="https://github.com/D-K-E/graphical-models/" target ="_blank">https://github.com/D-K-E/graphical-models/</a>
**Version:** v0.1.0
**Editor:** @dfm
**Reviewer:** @eigenfoo, @ankurankan
**Archive:** <a href="https://doi.org/10.5281/zenodo.4751740" target="_blank">10.5281/zenodo.4

[2021-03-16 12:12] whedon commented on #3015
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3115.

[2021-03-16 12:12] #3015 closed

[2021-03-16 12:12] whedon commented on #3115
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eigenfoo, @ankurankan it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-03-16 12:12] whedon commented on #3115
[code]

[2021-03-16 12:12] whedon commented on #3115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: :point_left:

[2021-03-16 12:13] whedon commented on #3115
[code]

[2021-03-16 12:14] dfm commented on #3115
@eigenfoo, @ankurankan — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check a

[2021-03-16 12:15] dfm commented on #3115
@D-K-E: Can you add those missing DOIs are reported above to the paper?

[2021-03-16 13:14] cddesja commented on #3074
I am done with my review as well.

- A couple of references need to be fixed, line 14 and line 30.
- The last sentence of the paper you may want to change the word "the" to "an"
- As @brunaw stated there's no contribution guide.
- I do suspect there are some 2d Gaussian packages in R that could be cited as relevant, if not providing, similar functionality. A quick search finds package with similar

[2021-03-16 13:22] brunaw commented on #3074
Hello @cddesja and @vbaliga,

After I posted my review, I was thinking about my comment about the `R` version. Indeed it's not "too much" to ask for `R` to be at least 4.0.0, because it's been a while that this version is available so maybe it's my obligation as the package user to update my `R` already.

So in summary, I think this is up to the authors to decide on. I would personally not request

[2021-03-16 13:24] cddesja commented on #3074
"I would personally not request a certain R version if my package really didn't depend on it (to avoided issues like I had)"

This is a good reason to not require 4.0. So, I think @brunaw you're right that this requirement should be removed.