[2019-12-24 12:41] labarba commented on #1972
Thanks, @majensen! I will assign you now (so the submission comes out of our "without an editor" weekly email), and you can come back to it when you're ready. Everyone is taking a break now, which is good! 🎄

[2019-12-24 12:41] labarba commented on #1972
@whedon assign @majensen as editor

[2019-12-24 12:41] whedon commented on #1972
OK, the editor is @majensen

[2019-12-24 13:18] alexhanna commented on #1967
Hi! I don't have the bandwidth for this right now. Looks like a cool project, though.

[2019-12-24 17:55] lpantano commented on #1774
Thanks! glad it worked, @munkm can you put the link here?

[2019-12-24 17:58] lpantano commented on #1980
@druvus, @coughls, would you like to review this at the beginning of the next year?

[2019-12-24 19:56] johnbachman commented on #1708
I contacted @GullyAPCBurns by email on Dec 13th, he said he would be able to review.

[2019-12-24 20:12] Shibabrat commented on #1684
@kthyng We have now updated the documentation (https://uposham.readthedocs.io/en/latest/) and the new tests have also passed (https://github.com/WyLyu/UPOsHam/pull/49). How do we proceed now?

[2019-12-25 01:41] cMadan commented on #1849
Thank you for the thorough reviews, @danasolav and @sreschechtko!

[2019-12-25 01:41] cMadan commented on #1849
@whedon set v2.2.1 as version

[2019-12-25 01:41] whedon commented on #1849
OK. v2.2.1 is the version.

[2019-12-25 01:42] cMadan commented on #1849
@whedon set 10.5281/zenodo.3589990 as archive

[2019-12-25 01:42] whedon commented on #1849
OK. <a href="https://doi.org/10.5281/zenodo.3589990" target="_blank">10.5281/zenodo.3589990</a> is the archive.

[2019-12-25 01:43] cMadan commented on #1849
@SwathiSheshadri, please revise the archive name in Zenodo to match the name of your submission.

[2019-12-25 05:25] cMadan commented on #1849
@whedon check references

[2019-12-25 05:25] whedon commented on #1849
[code]

[2019-12-25 05:26] whedon commented on #1849
[code]

[2019-12-25 05:32] cMadan commented on #1849
@whedon generate pdf

[2019-12-25 05:32] whedon commented on #1849
[code]

[2019-12-25 05:33] whedon commented on #1849
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01849/joss.01849/10.21105.joss.01849.pdf)

[2019-12-25 06:31] jedbrown commented on #1716
Thanks for your patience.

Although I know what you mean, this just reads like a typo. Perhaps drop the bold and just write something like the following?

Is MPI-3.1 really needed, or would an earlier standard suffice?

I'm curious about failure. Is a job allowed to fail? What if it exceeds memory capacity (e.g., due to adaptive methods or large Krylov space)? The interaction between MPI and `fork

[2019-12-25 09:04] SwathiSheshadri commented on #1849
@whedon generate pdf

[2019-12-25 09:04] whedon commented on #1849
[code]

[2019-12-25 09:05] whedon commented on #1849
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01849/joss.01849/10.21105.joss.01849.pdf)

[2019-12-25 10:20] SwathiSheshadri commented on #1849
@whedon generate pdf

[2019-12-25 10:20] whedon commented on #1849
[code]

[2019-12-25 10:22] whedon commented on #1849
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01849/joss.01849/10.21105.joss.01849.pdf)

[2019-12-25 10:41] SwathiSheshadri commented on #1849
@cMadan, thank you for your quick response! I have updated the archive name in Zenodo to match the name of our JOSS paper. Also, I have proofread the PDF file and have updated the paper.md file to have improved formatting for PDF. During the process, I noticed that the link in the paper PDF file to the archive is broken, please help with fixing the same.

[2019-12-25 20:47] ygrange commented on #1977
Perfect! I should've mentioned that I prefer being part of multiple reviewers anyhow.

Happy holidays y'all!

[2019-12-25 22:53] cMadan commented on #1849
@SwathiSheshadri, I'm not sure why that isn't working, but will look into it.

@openjournals/joss-eics, it looks like the archive link in the compiled PDF isn't working. Any ideas why (or how we might otherwise resolve this)?

[2019-12-26 04:03] majensen commented on #1962
@uellue - just a heads-up, I won't be working too much until the new year, but I haven't forgotten your submission! Should see more action here then-- thanks for your patience! --@majensen

[2019-12-26 08:30] Kevin-Mattheus-Moerman commented on #1849
@cMadan

Those links should be fixed in the final accepted version. Some automatically generated links are not active in these proofs (all author generated links should work though).

[2019-12-26 08:38] Kevin-Mattheus-Moerman commented on #1952
@arfon here are some more potential (FEA related) reviewers:
`@chrisrichardson, @IgorBaratta, @sebastkm, @lindsayad, @mikaem`

[2019-12-26 08:46] Kevin-Mattheus-Moerman commented on #1963
The reviewers/authors from these submissions might be interested in reviewing:
https://github.com/openjournals/joss-reviews/issues/1173
https://github.com/openjournals/joss-reviews/issues/1636
https://github.com/openjournals/joss-reviews/issues/1370
https://github.com/openjournals/joss-reviews/issues/1450

[2019-12-26 08:47] SwathiSheshadri commented on #1849
@cMadan and @Kevin-Mattheus-Moerman, thank you for your quick responses! I have checked that the other links in the document are working fine.

[2019-12-26 08:56] Kevin-Mattheus-Moerman commented on #1822
@vitorsr no. I think this looks good.

[2019-12-26 08:56] Kevin-Mattheus-Moerman commented on #1822
@whedon generate pdf

[2019-12-26 08:56] whedon commented on #1822
[code]

[2019-12-26 08:56] whedon commented on #1822
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01822/joss.01822/10.21105.joss.01822.pdf)

[2019-12-26 08:57] Kevin-Mattheus-Moerman commented on #1822
@whedon check references

[2019-12-26 08:57] whedon commented on #1822
[code]

[2019-12-26 08:57] whedon commented on #1822
[code]

[2019-12-26 09:06] Kevin-Mattheus-Moerman commented on #1822
@vitorsr
- [ ] Your paper is about to be processed for acceptance. Can you double check the paper yourself too?
- [ ] Can you check and extend you affiliation to include the city and country?
- [ ] Can you rephrase the following `...starting from the most performing ones...`? Perhaps use something like this instead (feel free to disagree and propose an alternative form): `...starting with the most

[2019-12-26 09:09] Kevin-Mattheus-Moerman commented on #1825
@isaacvandor, @bw4sz :point_up: Thanks again for your help!

[2019-12-26 09:09] janfreyberg commented on #1862
Thanks @benoit-combes - I've left a few comments about the documentation. I think aside from a fix / answer to the issues on your gitlab issue, I didn't feel able to tick off "state of the field" - would you be able to add this to the paper, even if it's just "Currently you have to read array data manually and program all the table creations yourself" or something along those lines.

[2019-12-26 09:10] Kevin-Mattheus-Moerman commented on #1825
@whedon generate pdf

[2019-12-26 09:10] whedon commented on #1825
[code]

[2019-12-26 09:10] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2019-12-26 09:11] Kevin-Mattheus-Moerman commented on #1825
@whedon check references

[2019-12-26 09:11] whedon commented on #1825
[code]

[2019-12-26 09:13] whedon opened #1985 "[PRE REVIEW]: A Framework to Quality Control Oceanographic Data"
**Submitting author:** @castelao (<a href="http://orcid.org/0000-0002-6765-0708">Guilherme Castelao</a>)
**Repository:** <a href="https://github.com/castelao/CoTeDe" target ="_blank">https://github.com/castelao/CoTeDe</a>
**Version:** 0.21.0
**Editor:** @kthyng
**Reviewers:** @jessicaaustin, @evanleeturner

**Author instructions**

Thanks for submitting your paper to JOSS @castelao. **Currently, t

[2019-12-26 09:13] whedon commented on #1985
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-26 09:13] whedon commented on #1985
[code]

[2019-12-26 09:13] whedon commented on #1985
[code]

[2019-12-26 09:13] whedon commented on #1985
PDF failed to compile for issue #1985 with the following error:

 Can't find any papers to compile :-(

[2019-12-26 09:14] Kevin-Mattheus-Moerman commented on #1985
@castelao our bot `@whedon` cannot find the paper.md file. Where is it located?

[2019-12-26 09:16] Kevin-Mattheus-Moerman commented on #1985
@openjournals/dev the paper is here, on a different branch: https://github.com/castelao/CoTeDe/tree/joss/joss
What is the process for handling this again? Thanks

[2019-12-26 09:18] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels can you respond to the reviewers comments/issues and summarize your actions here? Thanks :christmas_tree:

[2019-12-26 09:20] Kevin-Mattheus-Moerman commented on #1262
@r-barnes when you are ready can you check the fixes implemented. Let me know if you need more time. Let us know if anything else is stopping you from ticking that last box. Thanks! :christmas_tree:

[2019-12-26 13:22] arfon commented on #1952
@chrisrichardson, @IgorBaratta - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-12-26 15:00] danielskatz commented on #1985
@whedon generate pdf from branch joss

[2019-12-26 15:00] whedon commented on #1985
[code]

[2019-12-26 15:01] whedon commented on #1985
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01985/joss.01985/10.21105.joss.01985.pdf)

[2019-12-26 15:02] arcuri82 commented on #1960
hi,
 here some feedback, in no specific order of importance:

 - when I started the review, the repository had 0 stars.
   I starred it. You might want to do the same, as more stars give it a better impression.

 - "Download the source code and generate an executable jar file."
   That is not such a great approach.
   On GitHub, on the "release" page
   https://github.com/phillima/asniffer/release

[2019-12-26 15:38] castelao commented on #1985
Thanks @Kevin-Mattheus-Moerman . I can merge the joss branch into the master if that helps.

A suggestion of reviewers: efiring and koldunovn

[2019-12-26 15:48] vitorsr commented on #1822
@Kevin-Mattheus-Moerman, thanks for the additions. I have incorporated all in the latest commit. Also,  I have double-checked the paper, and it is sound on my end.

[2019-12-26 16:41] whedon commented on #1985
[code]

[2019-12-26 17:42] rhenanbartels commented on #1867
Hi @Kevin-Mattheus-Moerman,  regarding [issue 16](https://github.com/rhenanbartels/hrv/issues/16) and  [Issue 17](https://github.com/rhenanbartels/hrv/issues/17),  I've implemented features for artifact and baseline trend removal, and I've worked on documentation-related and CI features, respectively:

## Already concluded

#### [Issue 16](https://github.com/rhenanbartels/hrv/issues/16) - Suggeste

[2019-12-26 18:42] osolari commented on #1904
I am currently finishing my review.

[2019-12-26 19:12] osolari commented on #1904
Hi, I wasn't able to install the package. Did others manage to install it using simple pip?

[2019-12-26 19:15] osolari commented on #1904
@whedon @arokem I finished my review, but could not install the package using pip. Have you given it a try?

[2019-12-26 19:16] osolari commented on #1904
@bernease I finished my review, but could not install the package using pip. Have you given it a try?

[2019-12-26 19:17] So-Cool commented on #1904
@osolari, have you tried `pip install fat-forensics`?

[2019-12-26 19:19] osolari commented on #1904
yes!

[2019-12-26 19:22] So-Cool commented on #1904
@osolari, could you please paste here the log of executing this command?

[2019-12-26 19:22] osolari commented on #1904
ERROR: Could not find a version that satisfies the requirement fat-forensics (from versions: none)
ERROR: No matching distribution found for fat-forensics

[2019-12-26 19:27] osolari commented on #1904
nvm. I tried it on my own machine and it was installed. sorry!

[2019-12-26 19:29] So-Cool commented on #1904
Are you trying to install it on Windows? At the moment only Linux and MacOS are supported. You may try to install it directly from sources (which may or may not work):
[code]

[2019-12-26 19:30] osolari commented on #1904
both machines were Macs. Solved thanks!

Btw, should I just ping @whedon  when I'm done?

[2019-12-26 19:54] osolari commented on #1904
@whedon @arfon @arokem I'm done with the review!

[2019-12-27 03:03] poulson commented on #1655
Thank you, @torressa!

:wave: @stsievert -- Do you have have any lingering concerns given David's updates?

It looks like you might still be concerned about: functionality, performance, examles, statement of need, and community guidelines.

[2019-12-27 05:22] aebergl commented on #1830
Thanks for the exellent review and great suggestions by @ManuelaS. Your comments have greatly improved the functionality of MatSurv.

**Review**
Apologies for the delay to getting to this review.
I enjoyed reading through the manuscript and using MatSurv. MatSurv is well-written, easy to “install” and use, has good documentation and offers plenty of options to tailor Kaplan-Meier plots to the spec

[2019-12-27 10:29] johannes-titz commented on #1900
Thank you for the feedback! In the papers that are under review the cognitive model is explained "verbally" and formally in detail. As soon as the papers are published, I will update the references (add a doi). For now, I do not want to upload a preprint version of the submitted papers since I stated that the material has not been disseminated before. The submitted papers already link to the code

[2019-12-27 11:01] oliviaguest commented on #1900
@johannes-titz FWIW and perhaps for future reference, you can check out what policy the journal you have submitted to has w.r.t. preprints: http://sherpa.ac.uk/romeo/index.php

[2019-12-27 11:07] dmey commented on #1934
@mjsottile I have added some more suggestions for Reviewers below.

[code]

[2019-12-27 12:37] corybrunson commented on #1944
@drvinceknight and @magnusrahm thank you for your patience. I'm beginning my review now.

[2019-12-27 13:02] phillima commented on #1960
Hello @arcuri82 , thank you very much for your comments and considerations. I will begin working on them.

- Regarding the "authorship", I would like to point out that @guerraem (Eduardo Guerra) and @paulormm (Paulo Meirelles) are my PhD Advisors and they were major contributors to the design and modelling of the tool. And also the definition and proposal of the metrics suite, the ones the ASniffe

[2019-12-27 15:02] corybrunson commented on #1944
@magnusrahm thank you for the elegant software and thorough documentation behind this submission. In most respects i think it quite meets the needs of JOSS, and the few issues i've raised should be quick to resolve. I had no problems along the way other than those raised in the issues. The concepts are quite new to me, but i hope that i've grasped them well enough to give useful feedback. I'll be

[2019-12-27 15:50] stfbnc commented on #1828
@ashwinvis

I have added some links and described the differences with fathon

I have added tests to reproduce the same results obtained in the Ihlen's paper "Introduction to Multifractal Detrended Fluctuation Analysis in Matlab" (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3366552/)

I have added a sentence in the README (Prerequisites -> External libraries section)

I have added the missing lab

[2019-12-27 16:52] klho commented on #1906
@whedon generate pdf

[2019-12-27 16:52] whedon commented on #1906
[code]

[2019-12-27 16:53] whedon commented on #1906
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01906/joss.01906/10.21105.joss.01906.pdf)

[2019-12-27 16:54] klho commented on #1906
@whedon check references

[2019-12-27 16:54] whedon commented on #1906
[code]

[2019-12-27 16:54] whedon commented on #1906
[code]

[2019-12-27 17:10] ashwinvis commented on #1828
I am not sure either. Presumably in the manuscript's metadata that your wrote? The editors should know.

Yes. Something like: [`fathon.DFA`](https://fathon.readthedocs.io/en/latest/fun_class/fathon.DFA.html).

[2019-12-27 17:24] arokem commented on #1904
Hi @osolari,  Thanks for your review! I see that there are still two boxes left unchecked in your review (functionality and references). Is this because you still have issues with these two items? If these are not properly addressed right now, could you please make some comments about the changes you believe need to be made?

[2019-12-27 18:20] osolari commented on #1904
Sorry I forgot to check functionality.

About the other two though. I think a brief literature review of the field with more references would help me understand the importance of the work better. Currently the report only references FATFORENSIC itself.

[2019-12-27 18:21] osolari commented on #1904
*by check I meant "check off".

[2019-12-27 19:46] wingtorres commented on #1825
hey @Kevin-Mattheus-Moerman thanks for checking in! KC and I had some time over the holidays to improve the GUI and add one feature (measure area), so we would like to make some minor updates to the paper figures and text before publication. Would it be alright if we had until Tuesday Dec. 31 to push these changes before closing review?

[2019-12-27 20:07] Kevin-Mattheus-Moerman commented on #1825
Sure that is fine.

[2019-12-28 03:35] geoffbacon commented on #1953
@gkthiruvathukal I'd be happy to review!

[2019-12-28 15:03] gkthiruvathukal commented on #1953
Happy holidays, @geoffbacon and @desilinguist. Thanks for your willingness to serve as reviewers. I will get the review started now but will work with your schedules. I know many are on holiday break/travel, so January is fine for getting the actual work started.

[2019-12-28 15:04] gkthiruvathukal commented on #1953
@whedon assign @geoffbacon as reviewer

[2019-12-28 15:04] whedon commented on #1953
OK, the reviewer is @geoffbacon

[2019-12-28 15:04] gkthiruvathukal commented on #1953
@whedon add @desilinguist as reviewer

[2019-12-28 15:04] whedon commented on #1953
OK, @desilinguist is now a reviewer

[2019-12-28 15:04] gkthiruvathukal commented on #1953
@whedon start review

[2019-12-28 15:04] whedon opened #1986 "[REVIEW]: DAFSA: a Python library for Deterministic Acyclic FiniteState Automata"
**Submitting author:** @tresoldi (<a href="http://orcid.org/0000-0002-2863-1467">Tiago Tresoldi</a>)
**Repository:** <a href="https://github.com/tresoldi/dafsa" target ="_blank">https://github.com/tresoldi/dafsa</a>
**Version:** v1.0.zenodo
**Editor:** @gkthiruvathukal
**Reviewer:** @geoffbacon, @desilinguist
**Archive:** <a href="https://doi.org/10.5281/zenodo.3668870" target="_blank">10.5281/zen

[2019-12-28 15:04] whedon commented on #1953
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1986. Feel free to close this issue now!

[2019-12-28 15:04] whedon commented on #1986
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @geoffbacon, @desilinguist it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-12-28 15:04] whedon commented on #1986
[code]

[2019-12-28 15:04] whedon commented on #1986
[code]

[2019-12-28 15:04] #1953 closed

[2019-12-28 15:04] whedon commented on #1986
[code]

[2019-12-28 15:05] whedon commented on #1986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01986/joss.01986/10.21105.joss.01986.pdf)

[2019-12-28 15:06] gkthiruvathukal commented on #1936
Hi, @ixjlyons and @sarats, are either of you willing to contribute a review for this JOSS submission? I need one other reviewer. Thanks!

[2019-12-28 17:11] Sulstice commented on #1916
@csoneson No worries! I'm not in a rush to get it published. Please let me know if there is anything I can do to help as well.

[2019-12-28 17:36] KshitijAggarwal commented on #1977
@arfon, sorry for the late reply, I was traveling this week.
Yes, I can review this submission.

[2019-12-29 01:39] arfon commented on #1977
@whedon add @KshitijAggarwal as reviewer

[2019-12-29 01:39] whedon commented on #1977
OK, @KshitijAggarwal is now a reviewer

[2019-12-29 01:39] arfon commented on #1977
@whedon start review

[2019-12-29 01:39] whedon opened #1987 "[REVIEW]: Hoki: Making BPASS accessible through Python"
**Submitting author:** @heloises (<a href="http://orcid.org/0000-0002-0504-4323">H. F. Stevance</a>)
**Repository:** <a href="https://github.com/HeloiseS/hoki" target ="_blank">https://github.com/HeloiseS/hoki</a>
**Version:** v1.3.2b0
**Editor:** @arfon
**Reviewer:** @ygrange, @KshitijAggarwal
**Archive:** <a href="https://doi.org/10.5281/zenodo.3629869" target="_blank">10.5281/zenodo.3629869</a>

[2019-12-29 01:39] whedon commented on #1977
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1987. Feel free to close this issue now!

[2019-12-29 01:39] whedon commented on #1987
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ygrange, @KshitijAggarwal it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-12-29 01:39] whedon commented on #1987
[code]

[2019-12-29 01:39] whedon commented on #1987
[code]

[2019-12-29 01:40] whedon commented on #1987
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01987/joss.01987/10.21105.joss.01987.pdf)

[2019-12-29 01:41] arfon commented on #1977
@ygrange, @KshitijAggarwal - many thanks for agreeing to review this. I've gone ahead and opened the main review issue over in #1987 but I realize this is a busy time of year with holidays etc. Please don't feel under any pressure to work on this during the holiday season!

[2019-12-29 01:41] #1977 closed

[2019-12-29 01:41] whedon commented on #1987
[code]

[2019-12-29 01:41] arfon commented on #1987
@ygrange, @KshitijAggarwal - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-12-29 03:33] artemyk commented on #1609
Hello @whedon. I have completed my review. Apologies for the delay.

First, I think this is a very welcome package that could be useful to a lot of different research communities.

I have two comments:

1) I agree with all of the issues raised by @ajgates42 .

2) It seems to me that the paper and documentation omits an important piece of information: how is mutual information actually estimated?

[2019-12-29 05:25] madvn commented on #1609
Thank you, @ajgates42 and @artemyk . I will respond to all your comments in the coming days.

[2019-12-29 13:00] arfon commented on #1849
Yeah, sorry about this. That's undocumented behaviour and very confusing...

[2019-12-29 13:00] arfon commented on #1849
@whedon accept

[2019-12-29 13:00] whedon commented on #1849
[code]

[2019-12-29 13:01] arfon commented on #1849
@cMadan - as an editor you are able to ask Whedon to make final proofs of the PDF with `@whedon accept` and these PDFs should have working links.

[2019-12-29 13:02] whedon commented on #1849
[code]

[2019-12-29 13:02] whedon commented on #1849
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1202

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1202, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-29 14:41] danielskatz commented on #1967
@whedon assign @danielskatz as editor

[2019-12-29 14:41] whedon commented on #1967
OK, the editor is @danielskatz

[2019-12-29 14:45] danielskatz commented on #1967
@JosiahParry - due to the holidays, this will likely take a little time to get reviewers assigned. Do you have additional suggestions for reviewers, perhaps based on people who have written other software in this field, with GitHub handles (but please don't tag them with @'s, since we don't want to add lots of people to the notifications of this thread) or email addresses or even just names?

[2019-12-29 14:52] EduPH commented on #1944
I agree with the other two reviewers. The package fulfils all the requirements.

[2019-12-29 16:01] faroit commented on #1967
@danielskatz @JosiahParry I could do it but I am no expert on R software and also I work mainly with audio whereas this contribution is more focussed on text metadata if I'm not mistaken.

[2019-12-29 16:07] danielskatz commented on #1967
Thanks @faroit - let me see if I can find some reviewers with closer expertise

[2019-12-29 17:03] faroit commented on #1967
Maybe consider @bmcfee he's also a python head but has significantly more experience with core MIR

[2019-12-29 17:51] danielskatz commented on #1967
👋 @bmcfee - would you be interested in reviewing this submission for JOSS?

[2019-12-29 20:51] ygrange commented on #1987
Not only will I not work during the break, I will also not do much in the first working week of the nwe year :). Will be looking at this after that though. Looking forward to it!

[2019-12-29 22:20] DARSakthi commented on #1970
If you are still looking to grab a second reviewer I would be interested in looking at this paper

[2019-12-30 11:42] labarba commented on #1970
Thank you for the offer, Dalton! I see you have already reviewed for us. I'll go ahead ad add you, and start the review.

[2019-12-30 11:43] labarba commented on #1970
@whedon add @DARSakthi as reviewer

[2019-12-30 11:43] whedon commented on #1970
OK, @DARSakthi is now a reviewer

[2019-12-30 15:37] bmcfee commented on #1967
Sure @danielskatz , thanks for the invitation!  I'm not too much of an R user, so it might not be a bad idea to get an R person to chime in as well.

[2019-12-30 16:05] danielskatz commented on #1967
Thanks - I'll add you to the system and continue to look for another reviewer before we start the review

[2019-12-30 16:05] danielskatz commented on #1967
@whedon add @bmcfee as reviewer

[2019-12-30 16:06] whedon commented on #1967
OK, @bmcfee is now a reviewer

[2019-12-30 17:56] JosiahParry commented on #1967
Thank you @danielskatz for figuring this all out! And thank you @bmcfee for being willing to review it :) It is very much appreciated.

[2019-12-30 19:43] sam-greenwood commented on #1720
I think I have now addressed all of the issues. I have created the html documentation with sphinx and the comments by @banesullivan above:

1. Figure 1 is now cited at the end of the paragraph prior to it. The figure caption describes it as a cartoon if you feel this is sufficient?
2. Grammar issues changed
3. I have decided to combine 2 of the figure together but leave the last figure separate.
4

[2019-12-31 00:23] malcolmbarrett commented on #1975
Thanks all, and happy new year! If another reviewer is needed, I took a look at the list and here are some folks who might be good fits: dcassol, clauswilke, rcannood. Otherwise, people interested in dimension reduction, performant computing, bioinformatics, or generally working with genetic data may be interested.

[2019-12-31 05:49] munkm commented on #1774
yep! here it is!

https://zenodo.org/record/3583416

[2019-12-31 17:00] kthyng commented on #1684
@Shibabrat Looks like [#49](https://github.com/WyLyu/UPOsHam/pull/49) is good to go from the reviewers and maybe we can hear on [#50](https://github.com/WyLyu/UPOsHam/pull/50) from @dpsanders.

I see there are a few more small tasks to clean up.  Otherwise, @dpsanders and @JoshKarpel, could you give an overview of what's left to do at this point? I see unchecked boxes but perhaps some can be check

[2019-12-31 18:16] kthyng commented on #1935
Happy New Year @dvalters and @nicgaspar! Here is a friendly reminder for your review, maybe in a few days after you have celebrated the new year coming in. Thanks!

[2019-12-31 19:25] wingtorres commented on #1825
@whedon generate pdf

[2019-12-31 19:25] whedon commented on #1825
[code]

[2019-12-31 19:26] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2019-12-31 21:41] HaoZeke commented on #1701
Hi, I just pulled changes, and I am wondering if there should be a version update? Or a tagged release, if the tests are complete?

[2020-01-01 00:51] wingtorres commented on #1825
@whedon generate pdf

[2020-01-01 00:51] whedon commented on #1825
[code]

[2020-01-01 00:51] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2020-01-01 00:53] wingtorres commented on #1825
@Kevin-Mattheus-Moerman okay it's good to go!

[2020-01-01 17:46] labarba commented on #1555
👋  @jayten — Do let us know what your timeline looks like for the work you have proposed to do. Best wishes for the New Year! 🎆

[2020-01-01 17:53] likask commented on #1441
@chrisrichardson @Kevin-Mattheus-Moerman  Do you have any New Year commitments?

@jedbrown

[2020-01-01 17:59] labarba commented on #1783
@whedon assign @story645 as reviewer

[2020-01-01 17:59] whedon commented on #1783
OK, the reviewer is @story645

[2020-01-01 18:03] labarba commented on #1783
👋  @rgerum — Apologies for the slow-moving review here. I had a hard time finding willing reviewers, and then dropped the ball, I'm afraid. We now have one reviewer, and am looking for a second. Stay tuned!

Thank you for agreeing to review, @story645! Have a look at the [JOSS Reviewer Guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and let me know if you have any quest

[2020-01-01 20:15] coughls commented on #1980
Yes I can review this!

[2020-01-01 20:21] osolari commented on #1904
@arokem I was wondering if I would receive an email indicating that I have completed my review service. :-)

[2020-01-01 21:02] whedon opened #1988 "[PRE REVIEW]: Scripts for Easier Use of Spice (SEUS): A Perl script package for simulating and creating batches of circuit netlists for Monte Carlo simulations when using Ngspice or Ngspice-based simulators"
**Submitting author:** @miketuri (<a href="http://orcid.org/0000-0002-9171-5305">Michael Turi</a>)
**Repository:** <a href="https://bitbucket.org/miketuri/perl-spice-sim-seus/" target ="_blank">https://bitbucket.org/miketuri/perl-spice-sim-seus/</a>
**Version:** v1.0.0
**Editor:** @VivianePons
**Reviewers:** @mzszym, @victorvalgenti

**Author instructions**

Thanks for submitting your paper to JOS

[2020-01-01 21:02] whedon commented on #1988
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-01 21:02] whedon commented on #1988
[code]

[2020-01-01 21:02] whedon commented on #1988
[code]

[2020-01-01 21:02] whedon commented on #1988
[code]

[2020-01-01 21:03] whedon commented on #1988
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01988/joss.01988/10.21105.joss.01988.pdf)

[2020-01-01 21:05] kthyng commented on #1988
Hi @miketuri! I have a few questions to learn more about your submission.

* what specific workflows are enabled by your tool? I'd like to know more about why an additional tool on top of the base software being used is needed. Is there a large audience for this tool?
* why can't it be merged into SPICE itself?
* how does it support provenance and model intercomparison or verification and validati

[2020-01-02 00:23] arokem commented on #1904
Hey @osolari : have your previously-raised concerns ([here](https://github.com/openjournals/joss-reviews/issues/1904#issuecomment-569320507)) been addressed?

[2020-01-02 00:24] osolari commented on #1904
@arokem no it hasn't. :-)

[2020-01-02 01:48] sptennak commented on #1970
I started reviewing the paper.  At this point, I could locate the repository, install the software and run the GUI. The software installed and GUI loads as specified in the documentation. Good work from the authors!  However, I see some room for improvements there. I greatly appreciate if the author can provide some details on using the software to allow me testing the functionality.

I also sugge

[2020-01-02 06:04] tacaswell commented on #1783
Sorry for the slow response, my github notifications are a dumpster fire.

I am willing to review this.

[2020-01-02 06:29] ixjlyons commented on #1936
Apologies for the delay. I'm able to review.

[2020-01-02 07:23] druvus commented on #1980
yes I can review it too.

[2020-01-02 09:42] swgeoscience commented on #1946
Hi Katy,

Apologies, I’ve just found this email – combination of being on leave and not having my github linked to the right account!

If you still require a review from me I am happy to complete it.

Again, apologies!

Best wishes,
Chris

From: Katy Barnhart <notifications@github.com>
Sent: 18 December 2019 18:01
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Chris Yeomans <y

[2020-01-02 11:44] labarba commented on #1783
@whedon add @tacaswell as reviewer

[2020-01-02 11:44] whedon commented on #1783
OK, @tacaswell is now a reviewer

[2020-01-02 11:44] labarba commented on #1783
@whedon start review

[2020-01-02 11:44] whedon opened #1989 "[REVIEW]: pylustrator: code generation for reproducible figures for publication"
**Submitting author:** @rgerum (<a href="http://orcid.org/0000-0001-5893-2650">Richard Gerum</a>)
**Repository:** <a href="https://github.com/rgerum/pylustrator" target ="_blank">https://github.com/rgerum/pylustrator</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @story645, @tacaswell
**Archive:** <a href="https://doi.org/10.5281/zenodo.3952417" target="_blank">10.5281/zenodo.3952417</

[2020-01-02 11:44] whedon commented on #1783
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1989. Feel free to close this issue now!

[2020-01-02 11:44] whedon commented on #1989
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @story645, @tacaswell it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-01-02 11:44] whedon commented on #1989
[code]

[2020-01-02 11:44] whedon commented on #1989
[code]

[2020-01-02 11:44] whedon commented on #1989
[code]

[2020-01-02 11:44] #1783 closed

[2020-01-02 11:45] whedon commented on #1989
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01989/joss.01989/10.21105.joss.01989.pdf)

[2020-01-02 11:46] labarba commented on #1989
👋  @story645, @tacaswell — Thank you for agreeing to review for JOSS! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2020-01-02 13:03] lpantano commented on #1980
@whedon assign @coughls as reviewer

[2020-01-02 13:03] whedon commented on #1980
OK, the reviewer is @coughls

[2020-01-02 13:03] lpantano commented on #1980
@whedon add @druvus as reviewer

[2020-01-02 13:03] whedon commented on #1980
OK, @druvus is now a reviewer

[2020-01-02 13:04] lpantano commented on #1980
@whedon start review

[2020-01-02 13:04] whedon opened #1990 "[REVIEW]: NCBImeta: efficient and comprehensive metadata retrieval from NCBI databases"
**Submitting author:** @ktmeaton (<a href="http://orcid.org/0000-0001-6862-7756">Katherine Eaton</a>)
**Repository:** <a href="https://github.com/ktmeaton/NCBImeta" target ="_blank">https://github.com/ktmeaton/NCBImeta</a>
**Version:** v0.6.3
**Editor:** @lpantano
**Reviewer:** @coughls, @druvus
**Archive:** <a href="https://doi.org/10.5281/zenodo.3627329" target="_blank">10.5281/zenodo.3627329</a

[2020-01-02 13:04] whedon commented on #1980
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1990. Feel free to close this issue now!

[2020-01-02 13:04] whedon commented on #1990
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @coughls, @druvus it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2020-01-02 13:04] whedon commented on #1990
[code]

[2020-01-02 13:04] whedon commented on #1990
[code]

[2020-01-02 13:04] whedon commented on #1990
[code]

[2020-01-02 13:05] whedon commented on #1990
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01990/joss.01990/10.21105.joss.01990.pdf)

[2020-01-02 13:05] lpantano commented on #1774
@whedon set 10.5281/zenodo.3583416 as archive

[2020-01-02 13:05] whedon commented on #1774
OK. <a href="https://doi.org/10.5281/zenodo.3583416" target="_blank">10.5281/zenodo.3583416</a> is the archive.

[2020-01-02 13:06] lpantano commented on #1774
@whedon set  v0.3.2 as version

[2020-01-02 13:06] whedon commented on #1774
OK.  v0.3.2 is the version.

[2020-01-02 13:07] lpantano commented on #1774
Hi @openjournals/joss-eics, I think you can check this one now. happy new year!

[2020-01-02 15:07] martindurant commented on #1943
Note that the links are not clickable in the github-rendered version of the PDF, only in the download. This is doubtless not a fault of the authors.

I find that the paper does indeed convey that Pooch exists, is and says how and when it might be used. It completes the purpose, therefore, of submitting to JOSS. I am still disappointed by the comparison with the rest of the field and Intake in part

[2020-01-02 15:49] kbarnhart commented on #1946
@swgeoscience no worries. I think that we are good with three reviewers. If you are interested in generally being considered as a JOSS reviewer 🎉,  please consider filling out the 1-minute form at [this link](https://joss.theoj.org/reviewer-signup.html).

[2020-01-02 15:59] hmaarrfk commented on #1943
Looks good. I think a few numbers and facts can be given to accentuate the impact of the paper.

* Scientific software is also used to "Capture" or "Acquire" data
* "The usual" -> "One common approach" when talking about smaller datasets.
* The sentence that describes the challenge with including datasets in the github repo should come before the "Larger datasets [...]" sentence.
* HTTP -> HTTPS
*

[2020-01-02 16:00] hmaarrfk commented on #1943
Truthfully, if pinged, I will accept for JOSS, but I think a few extra words could go a long way.

[2020-01-02 16:19] danielskatz commented on #1943
Yes, this is a function of GitHub - and some of the links in the paper will not fully work until the paper is closer to being accepted, such as the link to the archived software.

[2020-01-02 16:22] danielskatz commented on #1943
Thanks @martindurant & @hmaarrfk!

It looks to me like a bit more work would really help this paper, particularly in terms of the state of the field part.

Also, I notice both of you have not checked off the functionality box - Can you let us know what you think is still needed to enable you to check this off?

[2020-01-02 16:26] hmaarrfk commented on #1943
I would like a checkbox for `Functionality` to be incldued in the `Software Paper` section. My comments mostly refer to that.

[2020-01-02 16:49] danielskatz commented on #1943
I'm confused by your comment.

The software paper section includes

```Summary: Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?```

This is intended to ask if the paper sufficiently describes the functionality of the software at a high-level.

The functionality section includes

```Functionality: Have the fun

[2020-01-02 16:50] hmaarrfk commented on #1943
I guess the question is:

Do you want a deeper discussion of the functionality in the paper for a more technical audience as well?

If so, some of the comments I made refer to that.

[2020-01-02 17:55] danielskatz commented on #1943
JOSS papers are not intended to be long, and they are really intended to support/introduce the software itself and its documentation, so the paper should be more of a high-level introduction to what the software does, and the software documentation should include the deeper discussion

[2020-01-02 19:13] mbdemoraes commented on #1970
@sptennak thank you very much for your suggestions! I'm going to provide the details. I’ll let you know as soon as I've finished.

[2020-01-02 20:00] ornlpmcp commented on #1656
@terrytangyuan Happy new year! Would you please help move this forward? Thanks a lot!

[2020-01-02 20:41] terrytangyuan commented on #1656
The reviewers probably already received enough notifications. I’d expect some delays due to the holidays so let us be patient.

[2020-01-02 20:58] fcooper8472 commented on #1848
@labarba thanks - sorry for the delay.

I will update the paper shortly with clarification that it is substantially different, and will address the remaining point from finsberg's review.

[2020-01-02 21:02] ryanpmcg commented on #1930
@kbarnhart of course that is no problem, I expected things to be put on hold during the holidays. I am sorry for not replying sooner myself.

As for a second reviewer, you may try contacting Andrew.Fullhart@ars.usda.gov (he told me that he would be willing to review the software).

[2020-01-02 22:00] gabersyd commented on #1797
A comment: the installation folder (underworld2/docs/install_guides/) contains examples only for large HPC facilities. It would be useful to offer one also for a smaller machine, so that students could try using it in a smaller machine like a powerful desktop or a small cluster that they might want to access.

I tried to follow some existing instructions like the one for Caltech fram on our Queen

[2020-01-02 22:32] gabersyd commented on #1797
I finished the review. I just have an issue as I struggled with
dependencies when trying to install it on our largest cluster here in
Louisiana. Maybe we can look at it together, as the dependencies were not
all clear to me when I tried.

Thank you
Gabriele

Gabriele Morra
<http://scholar.google.com/citations?sortby=pubdate&hl=en&user=DDuTppAAAAAJ&view_op=list_works>
Associate Professor <https://p

[2020-01-03 06:58] BIPL-HORIE commented on #1785
@whedon  generate pdf

[2020-01-03 07:00] BIPL-HORIE commented on #1785
@whedon generate pdf

[2020-01-03 07:00] whedon commented on #1785
[code]

[2020-01-03 07:00] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2020-01-03 07:05] BIPL-HORIE commented on #1785
@whedon check references

[2020-01-03 07:05] whedon commented on #1785
[code]

[2020-01-03 07:06] whedon commented on #1785
[code]

[2020-01-03 07:07] BIPL-HORIE commented on #1785
@whedon check references

[2020-01-03 07:08] whedon commented on #1785
[code]

[2020-01-03 07:08] whedon commented on #1785
[code]

[2020-01-03 07:11] csoneson commented on #1975
@malcolmbarrett Happy New Year! Thanks, those are good reviewer suggestions. I would like to have at least two reviewers looking at the submission.

[2020-01-03 07:11] csoneson commented on #1975
👋 @dcassol, @clauswilke, @rcannood - would one of you be interested in reviewing this submission for JOSS?

[2020-01-03 07:12] FlorianRhiem commented on #1949
@eteq Thank you, that would be great! :)

@trallard It's been two weeks, should we wait for a reply from @usethedata or @jsta due to the holidays, or should I look for other reviewer candidates from the google doc?

[2020-01-03 07:13] BIPL-HORIE commented on #1785
@whedon check references

[2020-01-03 07:13] whedon commented on #1785
[code]

[2020-01-03 07:13] whedon commented on #1785
[code]

[2020-01-03 07:14] BIPL-HORIE commented on #1785
@whedon generate pdf

[2020-01-03 07:14] whedon commented on #1785
[code]

[2020-01-03 07:14] whedon commented on #1785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01785/joss.01785/10.21105.joss.01785.pdf)

[2020-01-03 07:15] BIPL-HORIE commented on #1785
@whedon check references

[2020-01-03 07:15] whedon commented on #1785
[code]

[2020-01-03 07:15] whedon commented on #1785
[code]

[2020-01-03 07:19] csoneson commented on #1916
👋 @olivertomic - Happy New Year! Would you still be interested and available in mid-February to review this submission for JOSS?

[2020-01-03 10:27] lgeiger commented on #1746
@whedon generate pdf

[2020-01-03 10:27] whedon commented on #1746
[code]

[2020-01-03 10:27] whedon commented on #1746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01746/joss.01746/10.21105.joss.01746.pdf)

[2020-01-03 11:33] lgeiger commented on #1746
Happy 2020 everyone 🎉

@sbrugman Thanks for clarifying. I rewrote the introduction to make it less confusing.

@casperdcl That is a good point, I haven't though about that. I consolidated the spread out statement of need into its own section.

@casperdcl Thanks for catching this, indeed performance claims like this can be very misleading. The "64 times speed-up" stems from the `n^2` logic gates pe

[2020-01-03 14:56] JoshKarpel commented on #1684
The last major fix that I see is https://github.com/WyLyu/UPOsHam/issues/55. I think I'll be ready to approve once the fix for that is merged.

[2020-01-03 16:16] kbarnhart commented on #1930
@ryanpmcg thanks for the recommendation.

[2020-01-03 16:42] clauswilke commented on #1975
Sure.

[2020-01-03 18:28] csoneson commented on #1975
@clauswilke - Brilliant, thanks!

[2020-01-03 18:28] csoneson commented on #1975
@whedon add @clauswilke as reviewer

[2020-01-03 18:28] whedon commented on #1975
OK, @clauswilke is now a reviewer

[2020-01-03 18:30] csoneson commented on #1975
@whedon start review

[2020-01-03 18:30] whedon opened #1991 "[REVIEW]: partition: A fast and flexible framework for data reduction in R"
**Submitting author:** @malcolmbarrett (<a href="http://orcid.org/0000-0003-0299-5825">Malcolm Barrett</a>)
**Repository:** <a href="https://github.com/USCbiostats/partition" target ="_blank">https://github.com/USCbiostats/partition</a>
**Version:** v0.1.1.9000
**Editor:** @csoneson
**Reviewer:** @lmweber, @clauswilke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3713898" target="_blank">10

[2020-01-03 18:30] whedon commented on #1975
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1991. Feel free to close this issue now!

[2020-01-03 18:30] whedon commented on #1991
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lmweber, @clauswilke it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-01-03 18:30] whedon commented on #1991
[code]

[2020-01-03 18:30] whedon commented on #1991
[code]

[2020-01-03 18:30] #1975 closed

[2020-01-03 18:31] whedon commented on #1991
[code]

[2020-01-03 18:31] whedon commented on #1991
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01991/joss.01991/10.21105.joss.01991.pdf)

[2020-01-03 18:35] csoneson commented on #1991
@lmweber, @clauswilke, thanks for agreeing to review this submission. This is where the review takes place. Please see the instructions in the post above, and don't hesitate to ping me if you have any questions!

[2020-01-03 19:15] clauswilke commented on #1991
Comments on the paper:

1. I don't understand the first sentence, "Data are increasingly wider". What does that mean? People are increasingly reluctant to store their data in long format? I don't think that's what you're trying to say, but that's what this sentence means to me. I suggest you write a first sentence that is less confusing, e.g., "Data are increasingly feature rich, ..." and then exp

[2020-01-03 19:26] rcannood commented on #1975
Sure! :)

[2020-01-03 19:27] rcannood commented on #1975
Oh. Seems I replied to this issue a little too late! No matter :)

[2020-01-03 20:10] jsta commented on #1949
@trallard I cannot take on a reviewing task at this time. Best of luck!

[2020-01-03 20:17] csoneson commented on #1975
Thanks @rcannood! Yes, I think we are set for this one, but I hope we can come back to you for another review in the future :)

[2020-01-04 04:31] olivertomic commented on #1916
@csoneson - Happy New Year to you too! Sure, I would be still interested to do it from the proposed time.

[2020-01-04 10:43] csoneson commented on #1916
@olivertomic - brilliant, thanks! Then I'll add you as a reviewer and start the review issue. I'll also ask our bot whedon to send an automated reminder in mid-February.

[2020-01-04 10:43] csoneson commented on #1916
@whedon add @olivertomic as reviewer

[2020-01-04 10:43] whedon commented on #1916
OK, @olivertomic is now a reviewer

[2020-01-04 10:44] csoneson commented on #1916
@whedon start review

[2020-01-04 10:44] whedon opened #1992 "[REVIEW]: Cocktail Shaker: An open source drug expansion and enumeration library for peptides"
**Submitting author:** @Sulstice (<a href="http://orcid.org/0000-0002-1342-9258">Suliman Sharif</a>)
**Repository:** <a href="https://github.com/Sulstice/cocktail-shaker" target ="_blank">https://github.com/Sulstice/cocktail-shaker</a>
**Version:** 1.1.8
**Editor:** @csoneson
**Reviewers:** @olivertomic, @richardjgowers
**Archive:** <a href="https://doi.org/10.5281/zenodo.3981540" target="_blank">

[2020-01-04 10:44] whedon commented on #1916
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1992. Feel free to close this issue now!

[2020-01-04 10:44] whedon commented on #1992
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @floux, @olivertomic it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-01-04 10:44] whedon commented on #1992
[code]

[2020-01-04 10:44] #1916 closed

[2020-01-04 10:44] whedon commented on #1992
[code]

[2020-01-04 10:44] whedon commented on #1992
[code]

[2020-01-04 10:44] whedon commented on #1992
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01992/joss.01992/10.21105.joss.01992.pdf)

[2020-01-04 10:52] csoneson commented on #1992
👋@floux, @olivertomic - thanks for accepting to review this submission. This is where the review happens! Please see the instructions in the first post above, and don't hesitate to ping me if you have questions.

@Sulstice - please have a look at the reviewer checklists above. If you notice something missing from your submission, you can add it already now to simplify the review process.

[2020-01-04 10:53] csoneson commented on #1992
@whedon remind @olivertomic in 6 weeks

[2020-01-04 10:53] whedon commented on #1992
Reminder set for @olivertomic in 6 weeks

[2020-01-04 17:22] AJQuinn commented on #1982
Hello - thanks all for your time with our submission.

Apologies for the issue board issue, this was a bit more complicated on a self-hosted gitlab than we expected. We'll make it public ASAP and update here once it is ready.

Please let me know if there are any other issues in the meantime.

Cheers,
Andrew

[2020-01-04 17:50] rhenanbartels commented on #1867
Hi @Kevin-Mattheus-Moerman,

    I've just put the finishing touches on the article`s text. It is already available in the develop branch in the repo.
    What is the next step?

Best,
Rhenan

[2020-01-04 20:26] phillima commented on #1960
Hello @arcuri82 . Once again, thank you for your comments and considerations. I have taken all off them in consideration and generated a new version of the tool (2.1.0). Please, feel free to make new comments and suggestions. Following is my response to your comments.

1. when I started the review, the repository had 0 stars.
I starred it. You might want to do the same, as more stars give it a bet

[2020-01-04 23:49] jmansour commented on #1797
Thanks @gabersyd!

Note that there are updated installation instructions on the development (and joss) branch. Apologies, I thought I'd mentioned that earlier, but checking this thread I can't see mention of it. Here's the corresponding ReadTheDocs page:

https://underworld2.readthedocs.io/en/development/Installation.html

I think that should give reasonable coverage for native machine installatio

[2020-01-05 10:00] jayten commented on #1555
@labarba
The proposed work has been completed. The changes have been tested and merged with the master branch. Please review the changes [here](https://github.com/FEST3D/FEST-3D/pull/10).

The summary of the changes made is:

1. Added **install bash script** for automatic installation of FEST-3D with dependencies on Ubuntu, CentOS, and MacOS platforms. This script will install dependencies, build

[2020-01-05 11:42] Shibabrat commented on #1684
@kthyng @JoshKarpel @dpsanders
the pending PRs https://github.com/WyLyu/UPOsHam/pull/57, https://github.com/WyLyu/UPOsHam/pull/58, and https://github.com/WyLyu/UPOsHam/pull/59 are now ready for review. The major update is the package is now installable as a module and the scripts can load the system-specific functions and method-specific functions using, for example,

[code]

As these PRs get appr

[2020-01-05 12:32] labarba commented on #1555
👋  @hariradh, @rouson — The authors of this submission have made substantial improvements, and we ask that you take a look a this work and advice on the state of the software now. If you are ready to recommend this for publication, please let us know. Thank you!

[2020-01-05 17:51] dfm commented on #1958
@effigies, @mnarayan: Happy new year! I'm checking in to remind you about this review and to see if you have any questions going through the review checklist. Please let me know if there are any issues. Thanks!

[2020-01-05 21:11] martinju commented on #1948
@terrytangyuan If possible I would really appreciate getting the review rolling soon. Please let me know if there is anything I can do to speed up the process. For instance, do you need help to find more potential reviewers?

[2020-01-05 22:12] terrytangyuan commented on #1948
@whedon assign @frycast as reviewer

[2020-01-05 22:12] whedon commented on #1948
OK, the reviewer is @frycast

[2020-01-05 22:13] terrytangyuan commented on #1948
We just need another reviewer now

[2020-01-06 01:31] arfon commented on #1834
:wave: @gmorello - happy new year!

Could you give me an update on the status of your updates based on the reviewer feedback?

[2020-01-06 01:31] arfon commented on #1952
:wave: @sebastkm @lindsayad - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-01-06 01:45] njtierney commented on #1937
Hello! Sorry I haven't managed this yet, I am aiming for the end of Jan, if that is alright?

[2020-01-06 03:06] tomsing1 commented on #1981
I have completed my review and checked all but one box below:

  - :rocket: The package vignettes are extensive and carefully written.

  - :warning: No mention is made of other software performing a similar task. Perhaps the authors can
    comment on the absence of (and hence need for) the package's functionality in the text?

  - I found a few typos and filed them as [an issue in the package's

[2020-01-06 07:43] martinju commented on #1948
@ja-thomas ?

[2020-01-06 08:43] drvinceknight commented on #1944
(Me closing the issue was a miss click)

Thank you very much for your work reviewing @EduPH, @mzszym, @corybrunson!

I'll be looking through this later today with any final minor editorial requests :+1:

[2020-01-06 08:45] arcuri82 commented on #1960
@phillima: thanks. it looks like you have addressed all concerns I had.

[2020-01-06 11:09] VivianePons commented on #1970
Thank you @DARSakthi for accepting the review and @sptennak for your suggestions! I am happy to see things are moving on.
I have been kept busy by the holiday season and hadn't had time to check in in the past two weeks. Thank you @labarba for adding the second reviewer and letting me know about the policy, this makes perfect sense.

[2020-01-06 12:11] Shibabrat commented on #1684
@kthyng @dpsanders @JoshKarpel we are ready for the next step of the review. The tests have also passed after the recent merge. How do we proceed now?

[2020-01-06 13:04] corybrunson commented on #1937
Thank you all!

@akeshavan is there anything i need to do before the review begins? (I have made some slight edits to the paper.)

@whedon generate pdf

[2020-01-06 13:29] corybrunson commented on #1937
@whedon generate pdf

[2020-01-06 13:29] whedon commented on #1937
[code]

[2020-01-06 13:30] whedon commented on #1937
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01937/joss.01937/10.21105.joss.01937.pdf)

[2020-01-06 13:30] danielskatz commented on #1937
Hi @corybrunson - whedon commands have to be the start of a comment, like the following

[2020-01-06 13:30] danielskatz commented on #1937
ah, you also figured this out - never mind...

[2020-01-06 13:42] danielskatz commented on #1974
👋 @marcosvital - just a post-holiday reminder of this request to edit...

[2020-01-06 13:55] danielskatz commented on #1988
👋 @miketuri - note that we are waiting for your responses

[2020-01-06 13:59] danielskatz commented on #1845
👋 @alessandroBombelli  - Can you give us a post-holiday status update?

[2020-01-06 14:00] danielskatz commented on #1845
👋 @ctsilva - have you started your review? (I don't see any boxes checked off yet)

[2020-01-06 14:01] danielskatz commented on #1844
👋 @gonsie - just a reminder on this once you are back...

[2020-01-06 14:04] danielskatz commented on #1967
Now after the holidays, I've tweeted about finding another reviewer - https://twitter.com/danielskatz/status/1214185648279572481

[2020-01-06 14:07] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-06 14:07] whedon commented on #1862
[code]

[2020-01-06 14:07] danielskatz commented on #1943
@hmaarrfk - To continue our discussion, if the functionality of the software is as claimed, please check off the functionality box. If you have further thoughts on the software paper or documentation, let's talk about them as well.

[2020-01-06 14:07] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-06 14:09] danielskatz commented on #1943
👋 @leouieda - I think we are also waiting for you to address some of @martindurant's comments on the state of the field description in the paper. Please let us know how this is going.

[2020-01-06 14:09] whedon opened #1993 "[PRE REVIEW]: CMasher: Scientific colormaps for making accessible, informative and 'cmashing' plots"
**Submitting author:** @1313e (<a href="http://orcid.org/0000-0002-1559-9832">Ellert van der Velden</a>)
**Repository:** <a href="https://github.com/1313e/CMasher" target ="_blank">https://github.com/1313e/CMasher</a>
**Version:** v1.2.0
**Editor:** @mbobra
**Reviewers:** @tacaswell, @wafels

**Author instructions**

Thanks for submitting your paper to JOSS @1313e. **Currently, there isn't an JOSS

[2020-01-06 14:09] whedon commented on #1993
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-06 14:09] whedon commented on #1993
[code]

[2020-01-06 14:09] whedon commented on #1993
[code]

[2020-01-06 14:10] whedon commented on #1993
[code]

[2020-01-06 14:10] whedon commented on #1993
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01993/joss.01993/10.21105.joss.01993.pdf)

[2020-01-06 14:15] tacaswell commented on #1993
I will review this once it has an editor.

[2020-01-06 14:17] martindurant commented on #1943
(just to reiterate: my comments were friendly suggestions only, and if the authors decide not to change anything, they are welcome to say so)

[2020-01-06 14:19] danielskatz commented on #1993
👋 @mbobra - would you be willing to edit this submission for JOSS? (Note that one reviewer has already volunteered)

[2020-01-06 14:21] alessandroBombelli commented on #1845
Hello @danielskatz , I started applying changes, but I need more time. I do not expect to have much time in the next month or so, because I have a couple of work-related deadlines. As such, a reasonable estimate for an updated version of the code is late February.  If this is an issue, I completely understand and will accept every decision you should take.
Thanks again for your time and help

[2020-01-06 14:22] faroit commented on #1967
One more suggestions: I know @heraldoborges who is an active R user and a researcher in Machine Learning/Information Retrieval.

[2020-01-06 14:23] danielskatz commented on #1845
We will wait until then - I will mark this as paused in the meantime.

[2020-01-06 14:24] ygrange commented on #1987
Just wanted to check off the first bunch of boxes this week and that leads to one comment:
- The visual on the repo README page calls itself HOKI beta. Not really sure what the JOSS policy is but I would expect it to be that the published release is not in beta state. Probably more a question to @arfon.

[2020-01-06 14:25] danielskatz commented on #1967
👋 @heraldoborges - would you be willing to review this for JOSS?  (If you haven't reviewed for JOSS before, please see our [intro to reviewing](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html))

[2020-01-06 14:37] danielskatz commented on #1849
@SwathiSheshadri  - please fix the cases (upper vs lower) in the bib entries - use {}s to protect cases where needed.

[2020-01-06 14:38] danielskatz commented on #1849
@cMadan - Other than the case issue in the bib, is this otherwise ready to accept?

[2020-01-06 15:41] arfon commented on #1987
I guess this kind of depends upon what _kind_ of a beta this is. Wasn't Gmail famously in beta for > 10 years 😁?

@HeloiseS - can you advise?

[2020-01-06 16:12] JoshKarpel commented on #1684
I'm happy with the changes, have checked off all my boxes, and recommend acceptance.

[2020-01-06 16:21] will-rowe commented on #1973
Hi @standage and @luizirber - would you please be able to review this submission?

[2020-01-06 16:22] dpsanders commented on #1684
@whedon generate pdf

[2020-01-06 16:22] whedon commented on #1684
[code]

[2020-01-06 16:22] whedon commented on #1684
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01684/joss.01684/10.21105.joss.01684.pdf)

[2020-01-06 16:25] standage commented on #1973
I'd be happy to. Note: I have another JOSS review in progress, so it may be a couple weeks before I can get to this.

[2020-01-06 16:25] will-rowe commented on #1956
Hi @leios and @ninjin. Just chasing up this review - don't worry if you've not started yet, I realise it was the holidays etc.

Please let me know if you need anything. Cheers.

[2020-01-06 16:28] will-rowe commented on #1976
Hey @RHagenson and @joaorodrigues - would you be please able to review this for us?

[2020-01-06 16:31] will-rowe commented on #1973
Thanks @standage!

[2020-01-06 16:40] luizirber commented on #1973
Sure!

[2020-01-06 16:42] will-rowe commented on #1973
Great! Let's kick off the review process then.

[2020-01-06 16:42] will-rowe commented on #1973
@whedon assign @standage as reviewer

[2020-01-06 16:42] whedon commented on #1973
OK, the reviewer is @standage

[2020-01-06 16:42] SwathiSheshadri commented on #1849
@whedon generate pdf

[2020-01-06 16:42] whedon commented on #1849
[code]

[2020-01-06 16:42] will-rowe commented on #1973
@whedon add @luizirber as reviewer

[2020-01-06 16:43] whedon commented on #1973
OK, @luizirber is now a reviewer

[2020-01-06 16:43] will-rowe commented on #1973
@whedon start review

[2020-01-06 16:43] whedon opened #1994 "[REVIEW]: ReferenceSeeker: rapid determination of appropriate reference genomes"
**Submitting author:** @oschwengers (<a href="http://orcid.org/0000-0003-4216-2721">Oliver Schwengers</a>)
**Repository:** <a href="https://github.com/oschwengers/referenceseeker" target ="_blank">https://github.com/oschwengers/referenceseeker</a>
**Version:** v1.6
**Editor:** @will-rowe
**Reviewer:** @standage, @luizirber
**Archive:** <a href="https://doi.org/10.5281/zenodo.3635630" target="_blan

[2020-01-06 16:43] whedon commented on #1973
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1994. Feel free to close this issue now!

[2020-01-06 16:43] whedon commented on #1994
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @standage, @luizirber it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-01-06 16:43] whedon commented on #1994
[code]

[2020-01-06 16:43] whedon commented on #1994
[code]

[2020-01-06 16:43] #1973 closed

[2020-01-06 16:43] whedon commented on #1994
[code]

[2020-01-06 16:44] whedon commented on #1994
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01994/joss.01994/10.21105.joss.01994.pdf)

[2020-01-06 16:44] whedon commented on #1849
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01849/joss.01849/10.21105.joss.01849.pdf)

[2020-01-06 16:51] SwathiSheshadri commented on #1849
@danielskatz, thank you for your response and input on the case issue in the .bib file. It is now updated.

[2020-01-06 17:22] drvinceknight commented on #1944
@whedon generate pdf

[2020-01-06 17:22] whedon commented on #1944
[code]

[2020-01-06 17:22] whedon commented on #1944
PDF failed to compile for issue #1944 with the following error:

 Can't find any papers to compile :-(

[2020-01-06 17:24] drvinceknight commented on #1944
@whedon generate pdf from branch joss-paper

[2020-01-06 17:24] whedon commented on #1944
[code]

[2020-01-06 17:25] whedon commented on #1944
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01944/joss.01944/10.21105.joss.01944.pdf)

[2020-01-06 17:27] drvinceknight commented on #1944
@whedon check references from branch joss-paper

[2020-01-06 17:27] whedon commented on #1944
[code]

[2020-01-06 17:27] whedon commented on #1944
[code]

[2020-01-06 17:35] drvinceknight commented on #1944
@magnusrahm everything looks good to me, would you be able to make a Zenodo archive, and report the DOI in the review thread (here).

Could you make sure the Zenodo deposit has the correct metadata (title and author list should match the paper).

[2020-01-06 17:38] leouieda commented on #1943
:wave: @danielskatz just catching up with notifications from the holidays and will start working on replies/fixes.

@martindurant @hmaarrfk thank you for the reviews! They are all appreciated and I'll provide detailed replies soon.

@martindurant your comments are more than welcome and that is precisely why I suggested you as a reviewer :slightly_smiling_face:

[2020-01-06 17:49] arfon commented on #1984
:wave: @lindenb - thanks for your submission to JOSS. Before I look for an editor to handle this submission, could you please clarify a little what software is associated with this submission? The paper seems to be referencing a specific tool (`BamWithoutBai`) that forms part of a larger set of packages (https://github.com/lindenb/jvarkit).

Would it be correct to say that this submission is assoc

[2020-01-06 17:56] lindenb commented on #1984
@arfon thanks for the message. yes you're right ! The main code is here;

https://github.com/lindenb/jvarkit/blob/master/src/main/java/com/github/lindenb/jvarkit/tools/nobai/BamWithoutBai.java

and the test:

https://github.com/lindenb/jvarkit/blob/master/src/test/java/com/github/lindenb/jvarkit/tools/nobai/BamWithoutBaiTest.java

As stated in the paper.md , the main documentation for this softwar

[2020-01-06 18:02] heraldoborges commented on #1967
Yes.

Em seg, 6 de jan de 2020 3:25 PM, Daniel S. Katz <notifications@github.com>
escreveu:

[2020-01-06 18:19] kyleniemeyer commented on #1961
Hi @vsoch, thanks for your patience for our response. I brought your response back to the editorial board for some more discussion, and then I was on break. Unfortunately, the consensus is still that this submission falls outside our scope of research software (using our definition). We don't question that it looks useful for researchers, but fundamentally it doesn't appear to be a tool that would

[2020-01-06 18:20] #1961 closed

[2020-01-06 18:41] gabersyd commented on #1797
Hi John, thank you for your answer. I have tried to follow all the
instructions and got stuck again into the installation of scons. I am not
familiar with this library. I looker at scons.org and it seems that they
have mostly developed for
Python 2.*, which is quite obsolete. I tried to install it manually on the
cluster, and I have gotten:

UnsatisfiableError: The following specifications were fo

[2020-01-06 19:44] mbobra commented on #1993
@whedon assign @mbobra as editor

[2020-01-06 19:44] whedon commented on #1993
OK, the editor is @mbobra

[2020-01-06 19:50] dgasmith commented on #1945
My requested changes have been integrated! I believe I have completed the review process.

[2020-01-06 19:52] mbdemoraes commented on #1970
@sptennak I added all your suggestions. Can you please verify it? Concerning how to test the software, I included a section in both readme and documentation about it. As you'll see, it is rather simple, just download a dataset in arff format which you want to experiment, run MOA with MOAFS and set the parameters accordingly to what you desire. Then run it. I think it will be easier now that I've i

[2020-01-06 20:08] danielskatz commented on #1967
@whedon add @heraldoborges as reviewer

[2020-01-06 20:08] whedon commented on #1967
OK, @heraldoborges is now a reviewer

[2020-01-06 20:09] danielskatz commented on #1967
@whedon start review

[2020-01-06 20:09] whedon opened #1995 "[REVIEW]: genius: analysis ready song lyric retrieval"
**Submitting author:** @josiahparry (<a href="http://orcid.org/0000-0001-9910-865X">Josiah Parry</a>)
**Repository:** <a href="https://github.com/josiahparry/genius" target ="_blank">https://github.com/josiahparry/genius</a>
**Version:** 2.2.1
**Editor:** @danielskatz
**Reviewer:** @bmcfee, @heraldoborges
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/cfdc4edf88ef8ea69d4

[2020-01-06 20:09] whedon commented on #1967
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1995. Feel free to close this issue now!

[2020-01-06 20:09] whedon commented on #1995
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bmcfee, @heraldoborges it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-01-06 20:09] whedon commented on #1995
[code]

[2020-01-06 20:09] whedon commented on #1995
[code]

[2020-01-06 20:09] #1967 closed

[2020-01-06 20:09] whedon commented on #1995
[code]

[2020-01-06 20:09] whedon commented on #1995
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01995/joss.01995/10.21105.joss.01995.pdf)

[2020-01-06 20:11] danielskatz commented on #1995
👋 @bmcfee & @heraldoborges - thanks for agreeing to review this! Your job now is to go through the review criteria in your checklist above, as discussed in the first 2 comments in this thread. If you can check things off, please do. When you see things that need to be addressed, if they are short, add comments here, and if they are more complex, add issues in the source repo and put the URL of thi

[2020-01-06 20:13] VivianePons commented on #1970
We can both do it

[2020-01-06 20:13] VivianePons commented on #1970
@whedon generate pdf

[2020-01-06 20:13] whedon commented on #1970
[code]

[2020-01-06 20:14] whedon commented on #1970
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01970/joss.01970/10.21105.joss.01970.pdf)

[2020-01-06 20:20] kyleniemeyer commented on #1682
Hi @zhuyouliang, I've set this submission as paused until we hear back from you.

[2020-01-06 21:22] kbarnhart commented on #1978
👋 @cmillion, @mollenburger, just a quick reminder to complete your reviews. As always, if you have any questions, please feel free to ping me here.

[2020-01-06 23:00] bmcfee commented on #1995
@danielskatz meta-question for you.  I've looked through the code of this package, and it appears that it works by web-scraping, and not through an officially sanctioned API.  IANAL, but I worry about whether the use of this package potentially violates terms of service, and whether it's appropriate for publication in JOSS given the strong dependency on (the benevolence of) a commercial entity.

T

[2020-01-06 23:33] Shibabrat commented on #1684
@dpsanders I'll go through this version to check for typos and update the pdf. Do you want us to address any of the 3 remaining things in your checklist?

@JoshKarpel thanks for the approval.

[2020-01-06 23:34] dcassol commented on #1975
Of course! :)

[2020-01-06 23:52] mbobra commented on #1809
@whedon check references

[2020-01-06 23:52] whedon commented on #1809
[code]

[2020-01-07 01:25] gonsie commented on #1844
The updated readme looks really nice and I've been able to successfully traverse the 'quick start' guide. I'll try to poke around a bit more this week to further test the functionality... but my review is close to being done 👍

[2020-01-07 01:57] 1313e commented on #1993
@whedon generate pdf

[2020-01-07 01:57] whedon commented on #1993
[code]

[2020-01-07 01:58] whedon commented on #1993
PDF failed to compile for issue #1993 with the following error:

 Error producing PDF.
! LaTeX Error: Environment cslreferences undefined.

See the LaTeX manual or LaTeX Companion for explanation.
Type  H <return>  for immediate help.
 ...

l.458 \begin{cslreferences}

Looks like we failed to compile the PDF

[2020-01-07 01:59] 1313e commented on #1993
Oh, I guess I cannot use references in figure captions.

[2020-01-07 02:01] 1313e commented on #1993
@whedon generate pdf

[2020-01-07 02:01] whedon commented on #1993
[code]

[2020-01-07 02:01] whedon commented on #1993
PDF failed to compile for issue #1993 with the following error:

 Error producing PDF.
! LaTeX Error: Environment cslreferences undefined.

See the LaTeX manual or LaTeX Companion for explanation.
Type  H <return>  for immediate help.
 ...

l.458 \begin{cslreferences}

Looks like we failed to compile the PDF

[2020-01-07 02:08] jmansour commented on #1797
Unfortunately `scons` is the package we use to build Underworld, so it is necessary.  There should be no issue with using it with Py3, but I don't have experience with `conda`.  Typically, I just use `pip install scons` (or perhaps `pip install --user scons` for local install).   Actually, you should simply be able to download it from the `scons` project page, untar, and then update your `PATH` en

[2020-01-07 02:11] 1313e commented on #1993
Guess that is not the issue.
@mbobra Any ideas?

[2020-01-07 02:18] majensen commented on #1945
Excellent @dgasmith - @mkhorton - how is your review coming along? Your checklist is almost complete.
Thanks all

[2020-01-07 02:27] majensen commented on #1962
@alvarolopez - feliz año nuevo! Would you be willing to review [this paper](#1962) for [JOSS](https://joss.theoj.org)? Information on reviewing can be found [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).
Thanks for your consideration! --@majensen

[2020-01-07 02:45] majensen commented on #1942
Hi @Chilipp - just wanted to ping you and ask if you are still willing to review this submission around 20 Jan. Thanks!

[2020-01-07 02:59] majensen commented on #1979
Happy New Year @timClicks, @tleonardi - just a gentle reminder to please begin your review of #1979.
Thanks

[2020-01-07 06:02] castelao commented on #1985
@whedon commands

[2020-01-07 06:02] whedon commented on #1985
Here are some things you can ask me to do:

[code]

[2020-01-07 06:04] castelao commented on #1985
@whedon generate pdf

[2020-01-07 06:05] whedon commented on #1985
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01985/joss.01985/10.21105.joss.01985.pdf)

[2020-01-07 06:10] castelao commented on #1985
Hi @Kevin-Mattheus-Moerman  and @danielskatz , do I need to do anything else or just wait? Thanks!

[2020-01-07 08:22] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-07 08:22] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-07 08:44] HeloiseS commented on #1987
Hello !

The main reason it says beta is because user testing has been limited to a few people at a workshop and me so far and it hadn't been reviewed by other programmers. I also expect that significant features I may not have thought about will be requested by BPASS and hoki users in the upcoming months.

I'm happy to take it out of beta after this review :) It makes more sense to me to have the

[2020-01-07 08:51] alvarolopez commented on #1962
@majensen sure, count on me.

Cheers.

[2020-01-07 09:06] SuperKam91 commented on #1809
Hi @mbobra apologies for the delay in including the reference DOIs. I am basically waiting on my university to provide me with a DOI for one of the cited papers, but they are taking an age to do so. As soon as they provide it I will update and the references should be good to go!

[2020-01-07 09:11] Amudtogal commented on #1326
@gkthiruvathukal I just wanted to check back in, if there are still things missing (or whether my post got lost in the pre-Christmas stress). Happy new year by the way :smile:

[2020-01-07 09:52] benoit-combes commented on #1862
@janfreyberg. Thanks for all these valuable points. I tried to address them with my last pushes. Concerning the point you raised in your comment, I added to the joss paper (end of section 1):

"Such an analysis needs to iterate over all MR volumes to read them and to
extract the relevant statistics. To the best of our knowledge, there is no
dedicated framework to ease such tasks, which may result

[2020-01-07 09:56] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-07 09:57] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-07 11:31] chrisrichardson commented on #1441
I'm not quite sure where to find the release number (v0.8.22) - currently seems to be 0.9.0?

[2020-01-07 11:33] chrisrichardson commented on #1441
I also got a fail when running `ctest`:

[2020-01-07 11:47] likask commented on #1441
Hello @chrisrichardson, how you install code? If you have source code you can checkout to version 0.8.22

[code]

I see that you install all for ubuntu with own compiled libraries. I see your test error, as well, I investigate this.

[2020-01-07 11:49] likask commented on #1441
@chrisrichardson We continuously develop code, will not do harm and you are OK with this, if you could work with v0.9.0, in fact, we have another version in the pipeline.

[2020-01-07 12:12] likask commented on #1441
@chrisrichardson About the error,

In webpage about Ubuntu type installation, all is fixed to Petsc version 3.8.4 which comes with MoAB 5.0.0.  If I remember we have some problem in past with nondeterministic behaviour of MoAB since entity handlers were numbered based on the pointers (locations in the memory).  So to a different memory, allocations would lead to two different numbers of entities (

[2020-01-07 12:24] arfon commented on #1987
Yes, this sounds very reasonable. This happens semi-regularly here.

[2020-01-07 12:24] ygrange commented on #1987
You are making good points! My personal opinion (please ignore anything I say if you disagree) would be here that little usage testing certainly makes a good case for beta status but it would be nice for you to have an idea when you think it is ok.
Adding functionality (even if it is considered significant features) could be part of the standard release process so I would not necessarily make it a

[2020-01-07 12:28] leouieda commented on #1943
@martindurant I had seen fsspec while investigating Intake but to be honest, I didn't understand that this is what it does after reading the README or the documentation front page. In hind sight, I should have dug deeper as using fsspec would have simplified some of the work we did on Pooch.

You're right that fsspec is a much more flexible and comprehensive tool and people should definitely use i

[2020-01-07 12:51] magnusrahm commented on #1944
@drvinceknight I have uploaded a Zenodo archive (10.5281/zenodo.3600252, https://doi.org/10.5281/zenodo.3600252). I have also merged the joss-paper branch into the master branch and deleted the former. Some very minor additions were made to the paper (https://gitlab.com/materials-modeling/wulffpack/commit/82b4e1771798733a6022ff292982bc17ea7b6310).

[2020-01-07 13:46] danielskatz commented on #1985
@castelao - the action is now for @Kevin-Mattheus-Moerman to find reviewers - you don't need to do anything more at this point

[2020-01-07 13:51] Shibabrat commented on #1684
@whedon generate pdf

[2020-01-07 13:52] whedon commented on #1684
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01684/joss.01684/10.21105.joss.01684.pdf)

[2020-01-07 13:58] danielskatz commented on #1995
I don't see a problem with this, if there is no public/published API. If you think there is a better way to approach this, please suggest it.

[2020-01-07 13:59] danielskatz commented on #1995
And, if you think this violates the terms of service, then please say so. None of us are lawyers, so this gets a bit tricky to figure out.

[2020-01-07 14:03] dpsanders commented on #1684
There are a few typos and English issues (mainly singular / plural) in the paper that should be checked.

I think somewhere it needs to be made clearer exactly what is shown in the figures -- presumably contours of the Hamiltonian (which is not stated anywhere as far as I can see) and the periodic orbits computed by the code.

Other than that everything looks good and I recommend acceptance.

[2020-01-07 14:05] gkthiruvathukal commented on #1326
@Amudtogal Happy new year & thanks for the gentle nudge. Just getting back into the swing of things after the holiday/new year (and getting ready for the upcoming academic semester).

@openjournals/joss-editors I am ready to proceed toward acceptance of this submission.

Thanks to @CameronDevine and @trallard for your reviews!

[2020-01-07 14:06] janfreyberg commented on #1862
Great, thanks. This addresses all my concerns.

[2020-01-07 14:11] bmcfee commented on #1995
Genius does have an API, but it very intentionally does not provide lyrics data (which I'm sure they do not own), as far as I can tell.

[2020-01-07 14:22] aebergl commented on #1830
@cMadan We have addressed and commented on the changes that we have made to MatSurv. What should we do next?
I'm a bit new to the process, so sorry if I have missed anything.

[2020-01-07 14:23] terrytangyuan commented on #1326
@gkthiruvathukal I think you want to use `@openjournals/joss-editors` instead of `@openjournals/joss-editors`.

[2020-01-07 14:25] Chilipp commented on #1942
Yes @majensen, I will do so.

[2020-01-07 14:25] gkthiruvathukal commented on #1326
@openjournals/joss-eics  I am ready to proceed toward acceptance of this submission.  My bad for not checking the completion properly (editors instead of eics).

[2020-01-07 14:27] terrytangyuan commented on #1957
@VarIr Looks like there are some missing DOIs. Could you fix it?

[2020-01-07 14:35] danielskatz commented on #1995
Ok, thanks - as long as you don't think there's a problem here in this software violating the genius terms of service, please continue the review

[2020-01-07 14:42] danielskatz commented on #1326
@whedon accept

[2020-01-07 14:42] whedon commented on #1326
No archive DOI set. Exiting...

[2020-01-07 14:42] danielskatz commented on #1326
@whedon set 10.5281/zenodo.3581101 as archive

[2020-01-07 14:42] whedon commented on #1326
OK. <a href="https://doi.org/10.5281/zenodo.3581101" target="_blank">10.5281/zenodo.3581101</a> is the archive.

[2020-01-07 14:43] danielskatz commented on #1326
@whedon set v1.0.1 as version

[2020-01-07 14:43] whedon commented on #1326
OK. v1.0.1 is the version.

[2020-01-07 14:43] danielskatz commented on #1326
@whedon accept

[2020-01-07 14:43] whedon commented on #1326
[code]

[2020-01-07 14:43] whedon commented on #1326
[code]

[2020-01-07 14:43] whedon commented on #1326
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1203

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1203, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-07 14:47] danielskatz commented on #1326
👋 @arfon - note that ref 2 in the xml has the same problem as we've seen before with an incomplete URL...
This is otherwise ready for accepting.

[2020-01-07 14:54] arfon commented on #1326
OK thanks @danielskatz. Let's accept here and I'll fix post publication.

[2020-01-07 14:54] danielskatz commented on #1326
@whedon accept deposit=true

[2020-01-07 14:54] whedon commented on #1326
[code]

[2020-01-07 14:55] whedon commented on #1326
PDF failed to compile for issue #1326 with the following error:

[2020-01-07 14:55] danielskatz commented on #1326
@whedon accept deposit=true

[2020-01-07 14:55] whedon commented on #1326
[code]

[2020-01-07 14:56] whedon commented on #1326
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1214561435402952707) 👈 🐦🐦🐦

[2020-01-07 14:56] whedon commented on #1326
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1204
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01326](https://doi.org/10.21105/joss.01326)
2. If everything looks g

[2020-01-07 14:57] danielskatz commented on #1326
Thanks to @CameronDevine & @trallard for reviewing!
And to @gkthiruvathukal for editing!
And congratulations to @Amudtogal and co-authors!

[2020-01-07 14:57] danielskatz commented on #1326
👋 @arfon - can you fix the XML, and then close this?

[2020-01-07 15:00] vc1492a commented on #1983
**Overview**: This was an interesting piece of software to review as its use case it outside of my typical area, but makes use of many Python software packages I use in my work and side projects. I appreciate the authors commitment to providing docstring throughout the code base which allowed me to dive in more deeply and provide some suggestions for further improvement.

Below are my comments on

[2020-01-07 15:01] danielskatz commented on #1907
Sorry for the delay in getting back to this - our rotating associate editor-in-chief system showed some flaws over the holidays

[2020-01-07 15:02] bmcfee commented on #1995
Sorry, this is unclear to me.  Are you saying "as long as it's okay to violate ToS, proceed" or "as long as this software does not violate ToS, proceed"?

Going off recent news, I think I can confidently predict that this does violate ToS: https://www.theverge.com/2019/12/3/20993621/genius-google-lawsuit-stolen-lyrics-lyricfind

The question I have is what JOSS's stance on this kind of thing is, g

[2020-01-07 15:04] danielskatz commented on #1907
@whedon assign @danielskatz as editor

[2020-01-07 15:04] whedon commented on #1907
OK, the editor is @danielskatz

[2020-01-07 15:05] castelao commented on #1985
Great, thanks!

[2020-01-07 15:06] danielskatz commented on #1993
👋 @arfon - can you see the problem here?

[2020-01-07 15:08] danielskatz commented on #1907
@michael-hartmann - do you have any suggestions for potential reviewers? If so, please mention them here in this thread, without @-tagging them. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission. Please take a look and see if you see any potentially-applicable reviewers.

[2020-01-07 15:10] danielskatz commented on #1985
no, sorry, my mistake - we first need an editor - @Kevin-Mattheus-Moerman started handling this as the rotating associate editor-in-chief, not as the editor

[2020-01-07 15:11] danielskatz commented on #1985
👋 @kthyng - would you be willing to edit this submission?

[2020-01-07 15:12] whedon opened #1996 "[PRE REVIEW]: vfi: Classification by Voting Feature Intervals"
**Submitting author:** @chkoar (<a href="http://orcid.org/0000-0002-5021-1442">Christos K. Aridas</a>)
**Repository:** <a href="https://github.com/chkoar/vfi" target ="_blank">https://github.com/chkoar/vfi</a>
**Version:** 0.0.1
**Editor:** @mbobra
**Reviewers:** @jakryd, @dflemin3

**Author instructions**

Thanks for submitting your paper to JOSS @chkoar. The JOSS editor @mbobra, will work with y

[2020-01-07 15:12] whedon commented on #1996
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mbobra it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-07 15:12] whedon commented on #1996
[code]

[2020-01-07 15:13] whedon commented on #1996
[code]

[2020-01-07 15:13] whedon commented on #1996
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01996/joss.01996/10.21105.joss.01996.pdf)

[2020-01-07 15:15] danielskatz commented on #1996
👋 @mbobra - sorry again, I started this as assigned to you without checking first.  Are you able to edit it?  If not, I will find someone else.

[2020-01-07 15:18] danielskatz commented on #1995
I meant "as long as this software does not violate ToS, proceed"

But given what you have said, let's pause for a little bit and I'll discuss this with the other editors.

[2020-01-07 15:20] whedon opened #1997 "[PRE REVIEW]: FGTpartitioner: A rapid method for parsimonious delimitation of ancestry breakpoints in large genome-wide SNP datasets"
**Submitting author:** @tkchafin (<a href="http://orcid.org/0000-0001-8687-5905">Tyler Chafin</a>)
**Repository:** <a href="https://github.com/tkchafin/FGTpartitioner" target ="_blank">https://github.com/tkchafin/FGTpartitioner</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @tkchafin. **Currently, there isn't an

[2020-01-07 15:20] whedon commented on #1997
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-07 15:20] whedon commented on #1997
[code]

[2020-01-07 15:20] whedon commented on #1997
[code]

[2020-01-07 15:21] whedon commented on #1997
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01997/joss.01997/10.21105.joss.01997.pdf)

[2020-01-07 15:25] danielskatz commented on #1997
👋 @tkchafin - The "Do What The Fuck You Want To Public License" is not an OSI-approved license, so I am going to reject this from JOSS

If you want to change the license to an OSI-approved one, please feel free to resubmit at that time.  If not, I hope you will be able to find another suitable publication venue.

(and sorry for delay in processing this, due to the holidays)

[2020-01-07 15:25] #1997 closed

[2020-01-07 15:26] whedon opened #1998 "[PRE REVIEW]: pyGOURGS - global optimization of n-ary tree representable problems using uniform random global search"
**Submitting author:** @pySRURGS (<a href="http://orcid.org/0000-0002-3050-8943">Sohrab Towfighi</a>)
**Repository:** <a href="https://github.com/pySRURGS/pyGOURGS" target ="_blank">https://github.com/pySRURGS/pyGOURGS</a>
**Version:** 0.1
**Editor:** @arokem
**Reviewers:** @iljah, @nicoguaro

**Author instructions**

Thanks for submitting your paper to JOSS @pySRURGS. **Currently, there isn't an

[2020-01-07 15:26] whedon commented on #1998
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-07 15:27] whedon commented on #1998
[code]

[2020-01-07 15:27] whedon commented on #1998
PDF failed to compile for issue #1998 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:153:in `block in check_orcids': Problem with ORCID (https://orcid.org/0000-0002-3050-8943) for Sohrab Towfighi (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:151:in `each'

[2020-01-07 15:27] whedon commented on #1998
[code]

[2020-01-07 15:28] danielskatz commented on #1998
👋 @arokem - would you be willing to edit this submission?

[2020-01-07 15:28] whedon opened #1999 "[PRE REVIEW]: thresholdmodeling: A Python package for modeling excesses over a threshold using the Peak-Over-Threshold Method and the Generalized Pareto Distribution"
**Submitting author:** @iagolemos1 (<a href="http://orcid.org/0000-0002-5829-7711">Iago Lemos</a>)
**Repository:** <a href="https://github.com/iagolemos1/thresholdmodeling" target ="_blank">https://github.com/iagolemos1/thresholdmodeling</a>
**Version:** v0.0.1
**Editor:** @drvinceknight
**Reviewers:** @bahung, @kellieotto

**Author instructions**

Thanks for submitting your paper to JOSS @iagolem

[2020-01-07 15:28] whedon commented on #1999
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-07 15:29] whedon commented on #1999
[code]

[2020-01-07 15:29] whedon commented on #1999
[code]

[2020-01-07 15:29] whedon commented on #1999
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01999/joss.01999/10.21105.joss.01999.pdf)

[2020-01-07 15:32] danielskatz commented on #1999
👋 @drvinceknight - are you willing to edit this JOSS submission?

[2020-01-07 15:32] whedon opened #2000 "[PRE REVIEW]: mhealthtools: A Modular R Package for Extracting Features from Mobile and Wearable Sensor Data"
**Submitting author:** @philerooski (<a href="http://orcid.org/0000-0002-6967-2185">Phillip Snyder</a>)
**Repository:** <a href="https://github.com/Sage-Bionetworks/mhealthtools" target ="_blank">https://github.com/Sage-Bionetworks/mhealthtools</a>
**Version:** 0.2.0
**Editor:** @trallard
**Reviewers:** @Ebedthan, @AKuederle

**Author instructions**

Thanks for submitting your paper to JOSS @phile

[2020-01-07 15:32] whedon commented on #2000
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-07 15:32] whedon commented on #2000
[code]

[2020-01-07 15:33] whedon commented on #2000
[code]

[2020-01-07 15:33] tkchafin commented on #1997
Oops- sorry about that... Changed to GPL3 and resubmitted. Thanks for the opportunity to correct this. 😅

[2020-01-07 15:33] whedon commented on #2000
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02000/joss.02000/10.21105.joss.02000.pdf)

[2020-01-07 15:35] danielskatz commented on #2000
👋 @trallard - would you be willing to edit this submission for JOSS?

[2020-01-07 15:36] arfon commented on #1993
@whedon generate pdf

[2020-01-07 15:36] whedon opened #2001 "[PRE REVIEW]: EvoMaster: A Search-Based System Test Generation Tool"
**Submitting author:** @arcuri82 (<a href="http://orcid.org/0000-0003-0799-2930">Andrea Arcuri</a>)
**Repository:** <a href="https://github.com/EMResearch/EvoMaster" target ="_blank">https://github.com/EMResearch/EvoMaster</a>
**Version:** v1.0.0
**Editor:** @gkthiruvathukal
**Reviewers:** @mado89, @jaynanavati

**Author instructions**

Thanks for submitting your paper to JOSS @arcuri82. **Current

[2020-01-07 15:36] whedon commented on #2001
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-07 15:37] whedon commented on #2001
[code]

[2020-01-07 15:37] whedon commented on #2001
[code]

[2020-01-07 15:37] whedon commented on #1993
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01993/joss.01993/10.21105.joss.01993.pdf)

[2020-01-07 15:37] whedon commented on #2001
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02001/joss.02001/10.21105.joss.02001.pdf)

[2020-01-07 15:38] arfon commented on #1993
Sorry, this was an unintended side effect of upgrading Pandoc last night. It's now fixed.

[2020-01-07 15:38] majensen commented on #1962
@whedon assign @alvarolopez as reviewer

[2020-01-07 15:38] whedon commented on #1962
OK, the reviewer is @alvarolopez

[2020-01-07 15:39] danielskatz commented on #2001
👋 @gkthiruvathukal  - would you be willing to edit this JOSS submission?

[2020-01-07 15:40] whedon opened #2002 "[PRE REVIEW]: FGTpartitioner: A rapid method for parsimonious delimitation of ancestry breakpoints in large genome-wide SNP datasets"
**Submitting author:** @tkchafin (<a href="http://orcid.org/0000-0001-8687-5905">Tyler Chafin</a>)
**Repository:** <a href="https://github.com/tkchafin/FGTpartitioner" target ="_blank">https://github.com/tkchafin/FGTpartitioner</a>
**Version:** v1.0.0
**Editor:** @lpantano
**Reviewers:** @dangeles, @YichaoOU

**Author instructions**

Thanks for submitting your paper to JOSS @tkchafin. The JOSS edi

[2020-01-07 15:40] whedon commented on #2002
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lpantano it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-07 15:40] whedon commented on #2002
[code]

[2020-01-07 15:40] whedon commented on #2002
[code]

[2020-01-07 15:40] whedon commented on #2002
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02002/joss.02002/10.21105.joss.02002.pdf)

[2020-01-07 15:41] danielskatz commented on #2002
👋 @lpantano - I apologize for assigning this to you (by submitter request) without asking you first.  Are you willing to edit it?

[2020-01-07 15:43] jedbrown commented on #1995
The lawsuit appears to be primarily concerned with commercial use (see page 36 of [the filing](https://iapps.courts.state.ny.us/nyscef/ViewDocument?docIndex=3E0o8kQz4X3cWcbbid67wQ==)), but the terms related to scraping look relevant here (emphasis mine):

[2020-01-07 15:43] danielskatz commented on #1882
@slumnitz - any news on this?

[2020-01-07 15:46] kthyng commented on #1684
@Shibabrat let us know when you've finished with @dpsanders comment!

[2020-01-07 15:46] danielskatz commented on #1608
Hi - As the JOSS Associate Editor-in-Chief on duty this week, I'm going through some submissions with little recent action, and I can't quite tell what is going on in this submission. @usethedata - can you help me understand what is the next action?

[2020-01-07 15:47] danielskatz commented on #1847
Hi - As the JOSS Associate Editor-in-Chief on duty this week, I'm going through some submissions with little recent action, and I can't quite tell what is going on in this submission. @cMadan - can you help me understand what is the next action?

[2020-01-07 15:47] kthyng commented on #1326
@danielskatz I'm worried that I am missing problems in the XML when finishing up submissions. What do you see that is incorrect?

[2020-01-07 15:48] danielskatz commented on #1929
👋 @meg-simula - it looks like this is waiting for you to find/assign reviewers...

[2020-01-07 15:49] kthyng commented on #1985
@whedon assign @kthyng as editor

[2020-01-07 15:49] whedon commented on #1985
OK, the editor is @kthyng

[2020-01-07 15:51] danielskatz commented on #1744
👋 @csoneson - since it looks like you haven't heard back from the author, you may need to ping them via email at this point

[2020-01-07 15:53] danielskatz commented on #1832
👋 Hi all - just checking that we are still waiting for the ApJ paper's DOI?

[2020-01-07 15:56] drvinceknight commented on #1944
@whedon generate pdf

[2020-01-07 15:57] whedon commented on #1944
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01944/joss.01944/10.21105.joss.01944.pdf)

[2020-01-07 15:57] danielskatz commented on #1326
see line 89 of the XML in https://github.com/openjournals/joss-papers/pull/1204/files where the "https" is missing at the start of the URL

[2020-01-07 15:57] HeloiseS commented on #1987
That makes a lot of sense. I think I'll take the beta off when this review is done. Also you make a good point as to where do I draw the line with feature additions being a part of a pre release or a full release - I don't think there will ever be one. This code base will HAVE to evolve with the field so you're right, that's more a matter of big releases that a beta status.

:) Anyway, the beta is

[2020-01-07 15:58] drvinceknight commented on #1944
@whedon set 10.5281/zenodo.3600252 as archive

[2020-01-07 15:58] whedon commented on #1944
OK. <a href="https://doi.org/10.5281/zenodo.3600252" target="_blank">10.5281/zenodo.3600252</a> is the archive.

[2020-01-07 15:59] drvinceknight commented on #1944
@openjournals/joss-eics this paper is ready to be accepted :+1:

[2020-01-07 16:00] danielskatz commented on #1944
@magnusrahm  - it looks like this is now version 1.1 - correct?

[2020-01-07 16:01] magnusrahm commented on #1944
Yes, that's correct.

[2020-01-07 16:02] drvinceknight commented on #1999
Yup happy to :+1:

[2020-01-07 16:02] danielskatz commented on #1944
@whedon set v1.1 as version

[2020-01-07 16:03] whedon commented on #1944
OK. v1.1 is the version.

[2020-01-07 16:03] danielskatz commented on #1944
@whedon accept

[2020-01-07 16:03] whedon commented on #1944
[code]

[2020-01-07 16:03] drvinceknight commented on #1999
@whedon assign @drvinceknight  as editor

[2020-01-07 16:03] whedon commented on #1999
OK, the editor is @drvinceknight

[2020-01-07 16:03] whedon commented on #1944
[code]

[2020-01-07 16:04] whedon commented on #1944
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1205

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1205, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-07 16:04] arfon commented on #1832
Yes, I believe so. Any news on this front @crawfordsm ?

[2020-01-07 16:06] danielskatz commented on #1944
@whedon accept deposit=true

[2020-01-07 16:06] whedon commented on #1944
[code]

[2020-01-07 16:07] whedon commented on #1944
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1214579352266035211) 👈 🐦🐦🐦

[2020-01-07 16:07] whedon commented on #1944
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1206
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01944](https://doi.org/10.21105/joss.01944)
2. If everything looks g

[2020-01-07 16:10] kthyng commented on #1985
@koldunovn and @efiring You've been suggested as a potential reviewer for this submission to the Journal for Open Source Software, which is largely code-review based for software with scientific applications. Are you interested in reviewing this submission? We ask for reviews within about 3 weeks if possible, and you can find more information about the process here: https://joss.readthedocs.io/en/

[2020-01-07 16:10] drvinceknight commented on #1999
@iagolemos1 some initial comments after a brief scan through the [pdf](https://github.com/openjournals/joss-papers/blob/joss.01999/joss.01999/10.21105.joss.01999.pdf):

- The `url = ` does not fit on the page
- The paper is a bit on the long side for a joss submission, but this is mainly taken up by graphics. Would these be better suited in documentation with a single minimal example in the paper

[2020-01-07 16:11] danielskatz commented on #1849
@whedon accept

[2020-01-07 16:11] whedon commented on #1849
[code]

[2020-01-07 16:12] whedon commented on #1849
[code]

[2020-01-07 16:12] whedon commented on #1849
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1207

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1207, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-07 16:13] danielskatz commented on #1849
👋 @arfon - note ref6 has the same incomplete URL problem...

[2020-01-07 16:13] kthyng commented on #1985
@castelao I see that your package is self-described as "old" and doesn't use more modern packages like pandas and xarray. As a potential user of your package but also a pythonista who is trying to stay modern in my code, can you justify this more to me and others? If there is a small amount of work that could make your package at least able to tie into these other packages, that would be hugely us

[2020-01-07 16:13] danielskatz commented on #1849
@whedon accept deposit=true

[2020-01-07 16:13] whedon commented on #1849
[code]

[2020-01-07 16:15] kthyng commented on #1326
How did you find that? Were you looking for that type of error in particular? I have been only checking the first few lines for name and title.

[2020-01-07 16:15] whedon commented on #1849
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1214581451771072514) 👈 🐦🐦🐦

[2020-01-07 16:15] whedon commented on #1849
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1208
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01849](https://doi.org/10.21105/joss.01849)
2. If everything looks g

[2020-01-07 16:16] iagolemos1 commented on #1999
Ok, Dr. Vince. I am going to make the changes. The README leads to the package documentation. Hence, I think it will be better to put the graphics in the README and just some of them in the paper for a little example. I am going to take the installation instructions out too.
For reviewers, I don't have any suggestions.

[2020-01-07 16:16] danielskatz commented on #1944
Thanks to @EduPH, @mzszym, @corybrunson for reviewing!
And @drvinceknight for editing!
And congratulations to @magnusrahm and co-authors!

[2020-01-07 16:17] danielskatz commented on #1944
I'm now waiting for the DOI to resolve, after which I will close this issue

[2020-01-07 16:17] danielskatz commented on #1849
Thanks to @danasolav and @sreschechtko for reviewing!
And to @cMadan for editing!
And congratulations to @SwathiSheshadri and co-authors!

[2020-01-07 16:17] danielskatz commented on #1849
👋 @arfon - can you fix the XML (ref6), and then close this?

[2020-01-07 16:19] danielskatz commented on #1326
just through scanning the XML to see if everything looks ok - sorry I can't be more helpful

[2020-01-07 16:19] iagolemos1 commented on #1999
Would you have any suggestions of what grpahics I should leave in the paper?

[2020-01-07 16:20] danasolav commented on #1875
Is it open for review already, or only after finding additional reviewers?

[2020-01-07 16:21] Amudtogal commented on #1326
Thanks everyone!
Just checking back:
The Zenodo Archive is currently a *draft*, I have not published it, because I was not sure, whether I should put any information about the Journal into the Zenodo form...

Shall I go online or fill in this stuff:
![joss](https://user-images.githubusercontent.com/18306764/71910387-bbc81300-3169-11ea-9215-71d9dbdbf956.png)

[2020-01-07 16:22] kthyng commented on #1774
I can jump in here!

[2020-01-07 16:23] arcuri82 commented on #2001
Hi. Looking at the review list starting from bottom, some possibilities could be:
mado89, bzz, chrisma and neurons

[2020-01-07 16:23] magnusrahm commented on #1944
Thank you! 😃

[2020-01-07 16:25] kthyng commented on #1774
@whedon generate pdf

[2020-01-07 16:25] whedon commented on #1774
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01774/joss.01774/10.21105.joss.01774.pdf)

[2020-01-07 16:33] kthyng commented on #1774
Hi @munkm! I am going to finish up the processing of your paper.

I am going through your paper now. Can you look into the reference for Ipywidgets? Should the final author be Min RK or should it be his full name?

[2020-01-07 16:36] arfon commented on #1849
Fixed.

[2020-01-07 16:36] #1849 closed

[2020-01-07 16:36] whedon commented on #1849
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01849/status.svg)](https://doi.org/10.21105/joss.01849)

**We need your help!**

Journal of Open Source Softwa

[2020-01-07 16:37] iagolemos1 commented on #1999
The edited paper is in the repository.

[2020-01-07 16:37] arfon commented on #1326
This is fixed.

@Amudtogal - I don't think you need to put the journal information into this form.

[2020-01-07 16:38] pySRURGS commented on #1998
@whedon generate pdf

[2020-01-07 16:38] iagolemos1 commented on #1999
@whedon generate pdf

[2020-01-07 16:38] whedon commented on #1998
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01998/joss.01998/10.21105.joss.01998.pdf)

[2020-01-07 16:38] kthyng commented on #1774
I see there is an issue with the references in the 2nd paragraph under "motivation" but I'm having trouble figuring out the source. For one thing, is there no author available for your "jupyter-matplotlib_2019" reference, nor "itkwidgets_2019", "bokeh_2019", and "bqplot_2019"?

[2020-01-07 16:38] whedon commented on #1999
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01999/joss.01999/10.21105.joss.01999.pdf)

[2020-01-07 16:40] Amudtogal commented on #1326
In that case,
:fireworks: :champagne: :fireworks:

Thank you so much for your time and effort! I am glad, this went through and excited to maybe meet some of you one day!

[2020-01-07 16:44] #1326 closed

[2020-01-07 16:44] whedon commented on #1326
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01326/status.svg)](https://doi.org/10.21105/joss.01326)

**We need your help!**

Journal of Open Source Softwa

[2020-01-07 16:46] Cadair commented on #1832
As far as I know we have seen some proofs of the ApJ paper, but not a DOI yet.

[2020-01-07 17:06] munkm commented on #1774
Hi @kthyng -- thank you for catching these! Min's name should indeed be longer. I'll update it and push again.

For the references in the 2nd paragraph, I used Zotero to import citation data on github repositories. None of these have a citation file, but there is a "publisher" information (e.g. Matplotlib developers) that was imported that could be used as authorship. When I use citeas it looks li

[2020-01-07 17:16] #1944 closed

[2020-01-07 17:16] whedon commented on #1944
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01944/status.svg)](https://doi.org/10.21105/joss.01944)

**We need your help!**

Journal of Open Source Softwa

[2020-01-07 17:50] iagolemos1 commented on #1999
@drvinceknight
The [README](https://github.com/iagolemos1/thresholdmodeling/blob/master/README.md) was updated.

[2020-01-07 18:09] iagolemos1 commented on #1999
Sorry @drvinceknight, I didn't see the list of possible reviewers. Sending some usernames:

kellieotto
molgor
jmbr
GalenStocking
bahung
matloff
mskwark
tuchandra
kose-y
dirmeier
adavidzh
alanfairless

[2020-01-07 18:26] mbobra commented on #1996
I am happy to edit, @danielskatz!

[2020-01-07 18:34] ktmeaton commented on #1990
@whedon generate pdf

[2020-01-07 18:35] whedon commented on #1990
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01990/joss.01990/10.21105.joss.01990.pdf)

[2020-01-07 18:38] ktmeaton commented on #1990
@whedon check references

[2020-01-07 18:39] whedon commented on #1990
[code]

[2020-01-07 18:42] arfon commented on #2002
@whedon check repository

[2020-01-07 18:42] whedon commented on #2002
[code]

[2020-01-07 18:46] ktmeaton commented on #1990
I removed the redundant website reference NCBI (n.d.) which was flagged as MISSING DOIs. The information contained in Table 1 comes from Entrez Help (2016) which is a more substantial source.

[2020-01-07 19:06] lpantano commented on #2002
@whedon assign @lpantano as editor

[2020-01-07 19:06] whedon commented on #2002
OK, the editor is @lpantano

[2020-01-07 19:11] lpantano commented on #2002
@whedon assign @dangeles as reviewer

[2020-01-07 19:11] whedon commented on #2002
OK, the reviewer is @dangeles

[2020-01-07 19:15] Shibabrat commented on #1684
@kthyng @dpsanders we've made the corrections.

@whedon generate pdf

[2020-01-07 19:15] lpantano commented on #2002
@aedin do you think you would like to review this tool?

[2020-01-07 19:19] Shibabrat commented on #1684
@whedon generate pdf

[2020-01-07 19:19] whedon commented on #1684
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01684/joss.01684/10.21105.joss.01684.pdf)

[2020-01-07 19:59] dpsanders commented on #1684
Thanks, LGTM!

[2020-01-07 20:31] michael-hartmann commented on #1907
@danielskatz Thank you for your reply.

I had a look at the list of JOSS reviewers and think jochym and jwuttke are good candidates. Both have a background in theoretical physics, experience in scattering (might be helpful), and listed C among their programming languages.

[2020-01-07 20:34] danielskatz commented on #1907
👋 @jochym and @jwuffke - Would either (or ideally) both of you be willing to review this for JOSS?

[2020-01-07 20:34] danielskatz commented on #1907
👋 @jwuttke - Would you be willing to review this for JOSS?

[2020-01-07 21:52] kthyng commented on #1774
@munkm Whoa I didn't "citeas" existed! Very cool! I think if a project hasn't given a preferred citation and doesn't have a clear paper to cite, using the "citeas" approach of the publisher as author will probably look best. Can you try that out and see how it looks inline? You can test here if you want: https://whedon.theoj.org/

[2020-01-07 21:59] madvn commented on #1609
@whedon generate pdf

[2020-01-07 22:00] whedon commented on #1609
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01609/joss.01609/10.21105.joss.01609.pdf)

[2020-01-07 22:08] madvn commented on #1609
@whedon generate pdf

[2020-01-07 22:09] whedon commented on #1609
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01609/joss.01609/10.21105.joss.01609.pdf)

[2020-01-07 22:12] madvn commented on #1609
Hi @ajgates42,
Thank you for review comments. Please find responses below and the updated pdf version of the paper [here](https://github.com/openjournals/joss-papers/blob/joss.01609/joss.01609/10.21105.joss.01609.pdf).

It is indeed true that the focus of this package is on continuous variables. This was deliberate since there are other existing packages that focus on discrete data (e.g., dit). As

[2020-01-07 22:13] madvn commented on #1609
Thank you for your comments. Please find responses below and the updated pdf version of the paper [here](https://github.com/openjournals/joss-papers/blob/joss.01609/joss.01609/10.21105.joss.01609.pdf).

(a) prominently state the statistical estimator of mutual information that is being used,
(b) explain (even if briefly) how it works
(c) explain the bias properties of this estimator,

We have used

[2020-01-07 22:24] artivis commented on #1371
@whedon generate pdf from branch joss

[2020-01-07 22:24] IgorBaratta commented on #1952
Hi @arfon , I am back from holidays and now I can review this submission.
I don't have a strong background in mechanics, but I make myself available for the review.

[2020-01-07 22:25] whedon commented on #1371
[code]

[2020-01-07 22:25] whedon commented on #1371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01371/joss.01371/10.21105.joss.01371.pdf)

[2020-01-07 22:27] artivis commented on #1371
@whedon check references

[2020-01-07 22:28] whedon commented on #1371
[code]

[2020-01-07 22:32] arfon commented on #1952
I don't have a strong background in mechanics, but I make myself available for the review.

Great, thanks @IgorBaratta! I'll add you now and start the review.

[2020-01-07 22:32] arfon commented on #1952
@whedon add @IgorBaratta as reviewer

[2020-01-07 22:32] whedon commented on #1952
OK, @IgorBaratta is now a reviewer

[2020-01-07 22:32] arfon commented on #1952
@whedon start review

[2020-01-07 22:32] whedon opened #2003 "[REVIEW]: The MFrontGenericInterfaceSupport project"
**Submitting author:** @thelfer (<a href="http://orcid.org/0000-0003-2460-5816">Thomas Helfer</a>)
**Repository:** <a href="https://github.com/thelfer/MFrontGenericInterfaceSupport" target ="_blank">https://github.com/thelfer/MFrontGenericInterfaceSupport</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewer:** @srmnitc, @IgorBaratta
**Archive:** <a href="https://doi.org/10.5281/zenodo.3762856" ta

[2020-01-07 22:32] artivis commented on #1371
@whedon generate pdf from branch joss

[2020-01-07 22:32] whedon commented on #1952
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2003. Feel free to close this issue now!

[2020-01-07 22:32] whedon commented on #1371
[code]

[2020-01-07 22:32] whedon commented on #2003
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @srmnitc, @IgorBaratta it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-01-07 22:33] mbobra commented on #1993
@whedon assign @tacaswell as reviewer

[2020-01-07 22:33] whedon commented on #1993
OK, the reviewer is @tacaswell

[2020-01-07 22:33] whedon commented on #2003
[code]

[2020-01-07 22:33] arfon commented on #1952
@thelfer, @srmnitc, @IgorBaratta - see you all over in #2003 where the review will take place.

[2020-01-07 22:33] #1952 closed

[2020-01-07 22:33] mbobra commented on #1993
@whedon add @wafels as reviewer

[2020-01-07 22:33] whedon commented on #1993
OK, @wafels is now a reviewer

[2020-01-07 22:33] whedon commented on #1371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01371/joss.01371/10.21105.joss.01371.pdf)

[2020-01-07 22:33] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-01-07 22:33] mbobra commented on #1993
@whedon start review

[2020-01-07 22:34] arfon commented on #2003
@srmnitc, @IgorBaratta - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-01-07 22:34] whedon opened #2004 "[REVIEW]: CMasher: Scientific colormaps for making accessible, informative and 'cmashing' plots"
**Submitting author:** @1313e (<a href="http://orcid.org/0000-0002-1559-9832">Ellert van der Velden</a>)
**Repository:** <a href="https://github.com/1313e/CMasher" target ="_blank">https://github.com/1313e/CMasher</a>
**Version:** v1.2.2
**Editor:** @mbobra
**Reviewer:** @tacaswell, @wafels
**Archive:** <a href="https://doi.org/10.5281/zenodo.3637633" target="_blank">10.5281/zenodo.3637633</a>

##

[2020-01-07 22:34] whedon commented on #1993
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2004. Feel free to close this issue now!

[2020-01-07 22:34] whedon commented on #2004
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tacaswell, @wafels it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2020-01-07 22:34] #1993 closed

[2020-01-07 22:34] whedon commented on #2004
[code]

[2020-01-07 22:34] whedon commented on #2004
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02004/joss.02004/10.21105.joss.02004.pdf)

[2020-01-07 22:35] artivis commented on #1371
@whedon generate pdf from branch joss

[2020-01-07 22:35] whedon commented on #1371
[code]

[2020-01-07 22:36] mbobra commented on #2004
@tacaswell @wafels Thank you for agreeing to review this submission! Whedon generated a checklist and linked a reviewer guide above -- please let me know if you have any questions or comments.

[2020-01-07 22:36] whedon commented on #1371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01371/joss.01371/10.21105.joss.01371.pdf)

[2020-01-07 22:37] artivis commented on #1371
@whedon check references

[2020-01-07 22:37] whedon commented on #1371
[code]

[2020-01-07 22:39] AJQuinn commented on #1982
Hello, we've fixed the issue and the repo is now open for external users to post issues etc. There are now also instructions and details on contributing in the top-level README.

We've tested this ourselves, so should be working for anyone. Please let me know if there are any further problems.

Thanks again for your time.

Cheers
Andrew

[2020-01-07 22:44] mbobra commented on #1828
Once this paper passes review, the submitting author will [archive their release on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI. The "Archive" link will then lead to this Zenodo entry.

[2020-01-07 22:45] artivis commented on #1371
Hi @poulson, sorry for the late reply, end of the year etc...
I addressed your comments as follows:

1. Added two relevant references for Lie theory formulation in robotics.
Added a classical mathematical reference at the very end of the first paragraph.
Kept the reference to our own publication as is.

2/3/4/6/7/8. Reworded sentences as suggested.

5. Introduced SO/SE by name. Not sure what you m

[2020-01-07 22:46] poulson commented on #1371
Hi @artivis -- the rewrite looks wonderful to me! Thank you.

Would you mind creating a DOI on zenodo and posting the link here?

[2020-01-07 22:52] Shibabrat commented on #1684
@kthyng we are finished with the final changes.

[2020-01-07 22:53] artivis commented on #1371
@poulson Sure thing, just the time for me to check how to do so.

[2020-01-07 23:09] artivis commented on #1371
@poulson So I found a 'Zenodo how to'  that I'm following. To create a DOI I have first to issue a release of the repo. If the document is done with reviews and if you agree I propose the following course of action:
1. I'll merge the branch `joss` on which the paper lives to the main branch (`devel`) and then sync the release branch (`master`).
2. Issue a first tagged release from the release bran

[2020-01-07 23:19] poulson commented on #1371
@artivis I believe you will need to use the same version from this paper. Is there something wrong with using the `joss` branch?

[2020-01-07 23:23] ali-ramadhan commented on #1828
Thanks for adding the six functionality tests @stfbnc. The tests are now automated on Travis CI and the tests cover functionality via functionality and regression tests, which is awesome.

Just ticked off the last item on my checklist so I think fathon should be accepted into JOSS.

[2020-01-07 23:25] artivis commented on #1371
@poulson The `joss` branch was forked a year ago now. If the functionalities and API haven't change much, the library has known a lot of internal changes, bug-fixes and such. In my mind this branch was always meant to be merged at some point, especially because the repo is supposed to follow a develop/release branching scheme. But maybe the workflow is different here?

[2020-01-07 23:44] slumnitz commented on #1882
@danielskatz I will start working on it slowly again now. It got a bit delayed due to snowmageddon and a couple of electricity outages here in BC, Canada, which are expected to ease in the next wo weeks.

[2020-01-07 23:48] poulson commented on #1371
@alex-konovalov @drvinceknight @jordigh: Which branch of the software did you review? The `joss` branch or `master`?

[2020-01-08 00:03] dfm commented on #1966
@LRydin: After a pre-review of your submission, and an assessment by the editorial board at large, we find that it does not meet [our submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Thank you fo

[2020-01-08 00:03] #1966 closed

[2020-01-08 00:41] mbobra commented on #1828
@ashwinvis I see four items left on your checklist, can you please let me know if those are still issues? Thanks!

[2020-01-08 01:53] majensen commented on #1972
@gsaksena - would you be willing to review this software submission (#1972) for [JOSS](https://joss.theoj.org)? Details on the review process are [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Really appreciate your consideration! --@majensen

[2020-01-08 02:35] sptennak commented on #1970
Thanks @mbdemoraes . I will soon review the new materials you added.

[2020-01-08 05:01] castelao commented on #1985
@kthyng, thanks for raising this point. I see CoTeDe as an old package but not outdated. Yes, I also use and appreciate pandas and xarray, so I intend to provide a direct connection to them, but that will be an optional resource, so I do not force more dependencies than required. A few groups and packages already use CoTeDe, and I do not want to impose more dependencies than necessary. For instanc

[2020-01-08 05:39] 1313e commented on #2004
@mbobra Can you remind me, after the review process has finished, to do something about the placement of Figure 2 in the paper?
I will probably remember it, but just to be sure.

[2020-01-08 06:19] ashwinvis commented on #1828
Thanks for clarification. I am satisfied with the latest version of the manuscript and I recommend the paper to be accepted, @mbobra! Cheers @stfbnc!

[2020-01-08 07:54] koldunovn commented on #1985
@kthyng Thank you for the nomination, but I am afraid I can't do it fast due to the huge amount of work and family commitments I have at the moment. Moreover, observations are not really my thing anymore, I am in the modeling business for over 15 years now, and the set of problems is quite different. I suggest to contact @ocefpaf @ledm @zklaus . They have experience in both python and oceanography

[2020-01-08 07:57] VarIr commented on #1957
Thanks for reminding me! I'll look to it asap.

[2020-01-08 09:27] LRydin commented on #1966
Dear @dfm. Thank you for the reply. Althought this might seem uncommon, I hope you can take the following under consideration:
Althought the python package might seem "thin", the applicability of MFDFA is extensive. I refer here mainly to the work of Espen Ihlen, [Introduction to multifractal detrended fluctuation analysis in Matlab](https://doi.org/10.3389/fphys.2012.00141), which has gained a lo

[2020-01-08 10:11] stfbnc commented on #1828
@whedon generate pdf

[2020-01-08 10:12] whedon commented on #1828
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01828/joss.01828/10.21105.joss.01828.pdf)

[2020-01-08 10:16] stfbnc commented on #1828
@ali-ramadhan @ashwinvis thank you very much for reviewing fathon, and for all the valuable suggestions.

I've recompiled the paper, there were a few typos and now there are also the links to the modules' documentation (as @ashwinvis suggested).

[2020-01-08 10:43] leouieda commented on #1882
@slumnitz thank you for the update :+1: Please keep us informed of your progress.

[2020-01-08 11:16] statsmaths commented on #1800
Hi everyone. I know things get slowed down around the winter holidays, but wanted to check in now that things are starting to pick up again. I answered some issues that @jgonggrijp opened in the dvt repository, but had not seen anything since then.

If there are any issues people are running into, please let us know. If additional reviewers are needed I can try to recommend someone. Thanks again f

[2020-01-08 11:26] arfon commented on #1800
Thanks for the update @statsmaths. I've also heard back over email from @elektrobohemian that they should be starting their review imminently.

[2020-01-08 11:31] VarIr commented on #1957
@whedon generate pdf

[2020-01-08 11:31] whedon commented on #1957
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01957/joss.01957/10.21105.joss.01957.pdf)

[2020-01-08 11:34] VarIr commented on #1957
@whedon commands

[2020-01-08 11:35] whedon commented on #1957
Here are some things you can ask me to do:

[code]

[2020-01-08 11:35] VarIr commented on #1957
@whedon check references

[2020-01-08 11:35] whedon commented on #1957
[code]

[2020-01-08 11:39] VarIr commented on #1957
@terrytangyuan The missing DOI is for an article from arXiv, which does not provide DOIs, afaik. What should I do about this?

[2020-01-08 11:43] raphaeltimbo commented on #1929
If you need suggestions, I have filtered the joss-reviewers list for python and mechanical engineering:
- kyleniemeyer
- moorepants
- trallard
- nnadeau
- ctdegroot
- srmnitc

[2020-01-08 12:19] arfon commented on #1957
@VarIr - perhaps you can update your reference to what looks to be the (journal) published version of the same article. This way, the authors will receive citation credit from you. BTW, this comment assumes that the arXiv version is the same paper as https://doi.org/10.1109/tpami.2018.2889473 which during my very brief inspection appears to be the case.

[2020-01-08 12:23] arfon commented on #1984
Hi @lindenb. Thanks again for your submission to JOSS. Unfortunately after discussing this with the editorial team we have determined this is out of scope for JOSS due to its ['minor utility'](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) nature.

[2020-01-08 12:23] #1984 closed

[2020-01-08 12:36] lindenb commented on #1984
@tomwhite FYI

[2020-01-08 12:43] VarIr commented on #1957
Thank you for the hint! Indeed, I missed that it was eventually published in a journal.

[2020-01-08 12:46] VarIr commented on #1957
@whedon check references

[2020-01-08 12:46] whedon commented on #1957
[code]

[2020-01-08 12:47] VarIr commented on #1957
@whedon generate pdf

[2020-01-08 12:47] whedon commented on #1957
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01957/joss.01957/10.21105.joss.01957.pdf)

[2020-01-08 12:48] VarIr commented on #1957
@whedon check references

[2020-01-08 12:49] whedon commented on #1957
[code]

[2020-01-08 13:01] iagolemos1 commented on #1999
Answers in  https://github.com/openjournals/joss-reviews/issues/1999.

Em ter., 7 de jan. de 2020 às 13:39, whedon <notifications@github.com>
escreveu:

[2020-01-08 13:22] majensen commented on #1972
Hey @wrathematics, @adavidzh - would either of you be willing to review this submission (#1972) for [JOSS](https://joss.theoj.org]? Thanks for your consideration! --@majensen

[2020-01-08 13:27] danielskatz commented on #1995
👋 @JosiahParry - The editors have decided to reject this submission due to the fact that the software appears to violate the terms of service for the service it uses (Genius).

@bmcfee & @heraldoborges - sorry for the unneeded work you may have done on this already, and @bmcfee, thanks specifically for noticing and bringing up this issue

[2020-01-08 13:27] #1995 closed

[2020-01-08 13:28] wrathematics commented on #1972
Sure, happy to.

[2020-01-08 13:40] jgonggrijp commented on #1800
@statsmaths @arfon Just letting you know that this is still on my agenda. I hope to continue (and preferably finish) this Friday.

[2020-01-08 13:47] ali-ramadhan commented on #1965
@whedon generate pdf from branch joss-paper

[2020-01-08 13:47] whedon commented on #1965
[code]

[2020-01-08 13:48] whedon commented on #1965
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01965/joss.01965/10.21105.joss.01965.pdf)

[2020-01-08 13:56] ali-ramadhan commented on #1965
@kthyng Thank you for agreeing to review our submission as editor!

It seems that our submission was already assigned a DOI (`10.21105/joss.01965`) so I was curious whether it would be safe to use the following citation in another manuscript that wishes to cite this JOSS submission, or if you would refrain from any citations during the review process.

[code]

[2020-01-08 15:07] bmcfee commented on #1995
Thanks for the clarification @danielskatz , and sorry @josiahparry that this didn't work out!

@danielskatz - is there any discussion of getting some general verbiage in place to clarify these points (namely, tos violation and dependency on proprietary services) in the JOSS guidelines?  I'd be happy to help out with that if you think it would be useful.

[2020-01-08 15:09] danielskatz commented on #1995
It would be great if you could suggest something in our docs via a PR, or an issue, in the [JOSS repo](https://github.com/openjournals/joss)

[2020-01-08 16:16] kthyng commented on #1684
@Shibabrat Great! I see that the version is listed as 1.0.0. Is this still correct? I encourage you to set up a release of your code at the version you want, also: https://help.github.com/en/github/administering-a-repository/creating-releases

[2020-01-08 16:16] kthyng commented on #1684
After that, please archive your code at something like Zenodo, then report the DOI here.

[2020-01-08 16:17] kthyng commented on #1684
@whedon generate pdf

[2020-01-08 16:18] whedon commented on #1684
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01684/joss.01684/10.21105.joss.01684.pdf)

[2020-01-08 16:18] kthyng commented on #1684
@whedon check references

[2020-01-08 16:18] whedon commented on #1684
[code]

[2020-01-08 16:28] kthyng commented on #1684
I am editing your paper now and I don't know how to fix this sentence, but it is grammatically incorrect with "the dynamics":

"In two degree of freedom systems, the phase space is four dimensional and the dynamics is on the three dimensional energy surface..."

[2020-01-08 16:28] shirubana commented on #1865
@melissawm touching base on this review, what are the next steps? We have improved the documentation for installation of Radiance as much as we can with what has worked for some of our users. Are we getting another reviewer? How do we move forward?

Thank you

[2020-01-08 16:34] labarba commented on #1684
Hi @kthyng ... it looks fine to me, but perhaps a verb change would help. Also, add hyphens to the compound modifiers:

"In two-degree-of-freedom systems, the phase space is four dimensional and the dynamics takes place on the three-dimensional energy surface…"

[2020-01-08 16:38] kthyng commented on #1684
Also, you go between using and not using your acronym UPO frequently through the paper — seems a little odd but is ok.

I've made more small grammar changes in PR [#60](https://github.com/WyLyu/UPOsHam/pull/60) that you can merge if you agree with the changes.

[2020-01-08 16:47] drvinceknight commented on #1999
Thanks @iagolemos1 :+1:

[2020-01-08 16:50] kthyng commented on #1684
Here's another PR for your references: [#61](https://github.com/WyLyu/UPOsHam/pull/61)

[2020-01-08 16:50] drvinceknight commented on #1999
@kellieotto @galenstocking @bahung would you be able to review this paper on a piece of software for extreme value analysis? There is information about what that involves here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and I'm happy to answer any questions you may have.

[2020-01-08 16:55] kthyng commented on #1985
@castelao Thank you for your response. Another possibility would be to check to see if pandas or xarray are installed and then extend possible behavior, or something similar. This happens in cartopy for example, which uses different algorithms if shapely is installed. I agree that simple is good, but it is also good to keep modernizing instead of being held back by old code that users have. Someth

[2020-01-08 17:04] kthyng commented on #1985
Thanks for letting me know @koldunovn!

Hi @ocefpaf @ledm @zklaus! You've all been suggested as possible reviewers for this submission to the Journal for Open Source Software, which is largely code-review based for software with scientific applications. Are you interested in reviewing this submission? We ask for reviews within about 3 weeks if possible, and you can find more information about the

[2020-01-08 17:06] iagolemos1 commented on #1999
You are welcome @drvinceknight  :)

[2020-01-08 17:08] kthyng commented on #1965
@openjournals/joss-eics Is it ok to start using the joss-assigned DOI for an incoming submission while it is under review? (pre-review currently actually)

[2020-01-08 17:10] kthyng commented on #1965
@funsim and @rsignell-usgs Are you interested and willing to review this submission to the Journal for Open Source Software? We ask for reviews within about 3 weeks, and you can learn more about the review process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-01-08 17:16] Shibabrat commented on #1684
I think it will be better to say version = 0.1.0. Ok, let me do those merges and changes now.

[2020-01-08 18:10] Shibabrat commented on #1684
@kthyng http://doi.org/10.5281/zenodo.3601504 which I've tagged as v0.1.0 release. Please note that at the moment doi on the readme links to the JOSS submitted version.

[2020-01-08 18:34] mbobra commented on #1996
@whedon assign @jakryd as reviewer

[2020-01-08 18:34] whedon commented on #1996
OK, @jakryd is now a reviewer

[2020-01-08 18:50] mbobra commented on #1828
@ali-ramadhan @ashwinvis Thank you sincerely for all of the time and effort you dedicated to this review. I truly appreciate that you took it so seriously and gave @stfbnc tons of great feedback that greatly improved the submission. Thank you so much for volunteering to review for JOSS ☀️

@stfbnc Congratulations 🎉 Thank you for working so hard on this submission and integrating all the feedback f

[2020-01-08 18:55] iagolemos1 commented on #1999
@drvinceknight I just need to wait now while you find some reviewers?

[2020-01-08 18:56] iagolemos1 commented on #1999
@drvinceknight I just need to wait now while it is found some interested reviewers?

[2020-01-08 19:01] danielskatz commented on #1965
It's not really up to us. Using it is possible, but it won't resolve until the submission is accepted, so it will look odd to anyone trying it. I personally would instead call this an "under review" submission and not use the URL until it is accepted.

[2020-01-08 19:13] efiring commented on #1985
@kthyng I'm sorry, but I won't be able to help with this.  If you need additional suggestions for reviewers, I suspect @ocefpaf might have good ones.

[2020-01-08 19:13] majensen commented on #1972
@whedon assign @wrathematics as reviewer

[2020-01-08 19:14] whedon commented on #1972
OK, @wrathematics is now a reviewer

[2020-01-08 19:47] castelao commented on #1985
More suggestions for reviewers: ggalibert, gmaze, and paulfvliz.

[2020-01-08 20:38] adavidzh commented on #1972
Thank you for considering me but at this time I am afraid I cannot take on this assignment; while I think I understand the mechanism used this is a topic and an area I am not quite that familiar with.

[2020-01-08 21:40] ali-ramadhan commented on #1965
Thank you for the clarification @danielskatz, we'll do that.

[2020-01-08 21:42] stfbnc commented on #1828
@mbobra Thank you! I'm really happy with the final outcome!

Here is the Zenodo DOI: https://zenodo.org/badge/latestdoi/214290119
It is also included in the readme.

[2020-01-08 21:54] mbobra commented on #1828
@whedon generate pdf

[2020-01-08 21:55] whedon commented on #1828
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01828/joss.01828/10.21105.joss.01828.pdf)

[2020-01-08 21:57] mbobra commented on #1828
@whedon check references

[2020-01-08 21:57] whedon commented on #1828
[code]

[2020-01-08 22:01] mbobra commented on #1828
@stfbnc Can you update your `paper.bib` files with the appropriate DOIs, so they appear as links in the paper? For example, the `podobnik_2008` entry in `paper.bib` file should be modified to include the DOI as follows:

[code]

[2020-01-08 22:20] mbobra commented on #1996
@whedon add @dflemin3 as reviewer

[2020-01-08 22:20] whedon commented on #1996
OK, @dflemin3 is now a reviewer

[2020-01-08 22:22] mbobra commented on #1996
@whedon start review

[2020-01-08 22:22] whedon opened #2005 "[REVIEW]: vfi: Classification by Voting Feature Intervals"
**Submitting author:** @chkoar (<a href="http://orcid.org/0000-0002-5021-1442">Christos K. Aridas</a>)
**Repository:** <a href="https://github.com/chkoar/vfi" target ="_blank">https://github.com/chkoar/vfi</a>
**Version:** 0.0.1
**Editor:** @mbobra
**Reviewer:** @jakryd, @dflemin3
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/e62d4675044e138e648b93e418dd6e32/status.svg)

[2020-01-08 22:22] whedon commented on #1996
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2005. Feel free to close this issue now!

[2020-01-08 22:22] whedon commented on #2005
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jakryd, @dflemin3 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2020-01-08 22:22] #1996 closed

[2020-01-08 22:22] whedon commented on #2005
[code]

[2020-01-08 22:22] whedon commented on #2005
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02005/joss.02005/10.21105.joss.02005.pdf)

[2020-01-08 22:24] mbobra commented on #2005
@jakryd @dflemin3 Thank you for agreeing to review this submission! Whedon generated a checklist and linked a reviewer guide above -- please feel free to ask me any questions you may have throughout this process.

[2020-01-08 22:33] stfbnc commented on #1828
@whedon check references

[2020-01-08 22:33] whedon commented on #1828
[code]

[2020-01-08 22:33] stfbnc commented on #1828
@whedon generate pdf

[2020-01-08 22:34] whedon commented on #1828
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01828/joss.01828/10.21105.joss.01828.pdf)

[2020-01-08 22:35] stfbnc commented on #1828
@whedon check references

[2020-01-08 22:35] whedon commented on #1828
[code]

[2020-01-08 22:35] stfbnc commented on #1828
@mbobra DOIs added!

[2020-01-08 22:36] mjsottile commented on #1934
:wave: @zbeekman @ethan-nelson @mdelorme @edoddridge Would any of you be interested in reviewing this submission for JOSS?

[2020-01-08 22:43] mbobra commented on #1828
@whedon set 10.5281/zenodo.3601637 as archive

[2020-01-08 22:43] whedon commented on #1828
OK. <a href="https://doi.org/10.5281/zenodo.3601637" target="_blank">10.5281/zenodo.3601637</a> is the archive.

[2020-01-08 22:43] mbobra commented on #1828
@whedon set v0.1.2  as version

[2020-01-08 22:44] whedon commented on #1828
OK. v0.1.2  is the version.

[2020-01-08 22:45] mbobra commented on #1828
@openjournals/joss-eics This paper is accepted and ready for final processing! Nice work, @stfbnc 🎉

[2020-01-08 22:49] gabersyd commented on #1797
Thank you, John, I think that my review is finished. I am sure that many will use this version of Underworld as it is more user friendly than the previous version.

[2020-01-08 22:55] danielskatz commented on #1828
Thanks @mbobra - just as a minor correction, let's call it "ready-to-accept" until the final processing is done :)

[2020-01-08 22:56] danielskatz commented on #1828
@whedon accept

[2020-01-08 22:56] whedon commented on #1828
[code]

[2020-01-08 22:56] whedon commented on #1828
[code]

[2020-01-08 22:56] whedon commented on #1828
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1209

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1209, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-08 23:07] danielskatz commented on #1828
👋 @stfbnc - please merge https://github.com/stfbnc/fathon/pull/6 or let me know what parts you disagree with

[2020-01-08 23:23] stfbnc commented on #1828
@danielskatz Thanks for the corrections, I've merged your pull request.

[2020-01-08 23:47] GullyBurns commented on #1708
Sincere apologies for having been unresponsive. I will recommit to completing this review as quickly as possible in the next two weeks.

[2020-01-08 23:48] stsievert commented on #1655
I think most of my concerns have been resolved (but will need to look more carefully). I'd still like to see a simple use case on the documentation, alongside a clear description of the features of a CSP problem.

[2020-01-08 23:51] GullyAPCBurns commented on #1708
@whedon commands

[2020-01-08 23:51] whedon commented on #1708
Here are some things you can ask me to do:

[code]

[2020-01-09 00:20] majensen commented on #1972
@adavidzh thanks for considering and your quick response

[2020-01-09 00:32] mjsottile commented on #1982
@szorowi1 I believe the problem you encountered regarding submitting issues has been addressed.  Please let me know if you or @mnarayan run into any further issues completing the review.

[2020-01-09 00:51] JoaoRodrigues commented on #1976
Hi @will-rowe

Thanks for the invitation but I am not sure I have the right expertise to review this paper adequately, particuarly in terms of relevance to the field and appropriate methodology. If you're fine with me reviewing only the software component, I will be more than happy to contribute.

Cheers

[2020-01-09 01:13] danielskatz commented on #1828
@whedon accept

[2020-01-09 01:13] whedon commented on #1828
[code]

[2020-01-09 01:14] whedon commented on #1828
[code]

[2020-01-09 01:14] whedon commented on #1828
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1210

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1210, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-09 01:15] danielskatz commented on #1828
@whedon accept deposit=true

[2020-01-09 01:15] whedon commented on #1828
[code]

[2020-01-09 01:15] whedon commented on #1828
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1215079679000023041) 👈 🐦🐦🐦

[2020-01-09 01:15] whedon commented on #1828
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1211
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01828](https://doi.org/10.21105/joss.01828)
2. If everything looks g

[2020-01-09 01:17] danielskatz commented on #1828
Thanks to @ali-ramadhan & @ashwinvis for reviewing, and @mbobra for editing!
And congratulations to @stfbnc!!

[2020-01-09 01:17] #1828 closed

[2020-01-09 01:17] whedon commented on #1828
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01828/status.svg)](https://doi.org/10.21105/joss.01828)

**We need your help!**

Journal of Open Source Softwa

[2020-01-09 03:04] bahung commented on #1999
Hi @drvinceknight,
I would be happy to help,
Just let me know when I should start and return the review.

Best,
Hung

[2020-01-09 04:41] waseemsheikh commented on #1883
Hi,
I was just checking the status of my paper. It's been a while and it's still not being assigned to a reviewer. Thank you for providing me an update on its status.

[2020-01-09 04:42] ryEllison commented on #1957
I'm satisfied that the requirements for publication have been met, and as such, I'm happy to see this accepted and published as submitted.

The documentation is extensive and functionality is exemplified both in text and through example usages. In an odd confluence of events, my lab has recently advanced a technique for time-series data, specifically in neurobiological sciences, related to some of

[2020-01-09 04:55] dvberkel commented on #1883
@akeshavan sorry, I missed your original request to be a reviewer.

I am willing and able to review this paper.

@waseemsheikh sorry, for the long delay. Things will kick into gear soon

[2020-01-09 05:06] aozorahime commented on #1957
I probably don't give any comment since the quality of the paper and the novelty are both good. and I learned a lot from your paper. Congrats and good luck for next findings :)

[2020-01-09 08:05] mdelorme commented on #1934
Hi, @mjsottile, I'm sorry I cannot review this paper. This really not my area of knowledge.

[2020-01-09 08:52] VarIr commented on #1957
Thank you both @ryEllison and @aozorahime  for reviewing my work and your positive feedback!

@ryEllison Do you mind pointing me to a paper of yours regarding the technique you mentioned? I'm interested, because I've got some neuroscience background and, to add to the odd events, just recently started a small project about neurophysiological time series.
Also thanks for bringing the `annoy` issue

[2020-01-09 09:26] gbertoldo commented on #1701
Hi, @HaoZeke!

Current version is 1.0.0. Please, update the version number according to the following rules:

This quote was extracted from https://www.computerhope.com/jargon/v/version.htm

[2020-01-09 09:50] gmorello commented on #1834
@steven-murray<https://github.com/steven-murray>

I think I have addressed all your points except the first part of point 2:

There are many limb-darkening calculators such as SAIL, the discussion of the performances is section 3.1 of the arXiv/AJ paper, but I would avoid to just report a long list of references with a negative statement without detailed explanations. I propose to refer to the AJ

[2020-01-09 10:07] leouieda commented on #1797
@gabersyd thank you for your review! I see that all review items have been checked so I assume that you are happy to sign off on this.

SCons used to be Python 2.7 only but recent versions are Python 3.5+ only. Installing from PyPI (using pip) will get you the latest version (3.1.2), which should work. You can also install with conda from [conda-forge](https://github.com/conda-forge/scons-feedstoc

[2020-01-09 10:09] leouieda commented on #1797
@whedon check referencess

[2020-01-09 10:18] leouieda commented on #1797
@whedon check references

[2020-01-09 10:19] leouieda commented on #1797
@whedon generate pdf

[2020-01-09 10:20] whedon commented on #1797
PDF failed to compile for issue #1797 with the following error:

 Can't find any papers to compile :-(

[2020-01-09 10:21] leouieda commented on #1797
@whedon generate pdf from branch joss

[2020-01-09 10:21] whedon commented on #1797
[code]

[2020-01-09 10:22] whedon commented on #1797
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01797/joss.01797/10.21105.joss.01797.pdf)

[2020-01-09 10:22] whedon commented on #1797
[code]

[2020-01-09 10:24] whedon commented on #1797
[code]

[2020-01-09 11:03] leouieda commented on #1797
@jmansour could you please add the missing DOIs for the references outlined by Whedon above?

[2020-01-09 11:04] uellue commented on #1962
@majensen No worries, I was on vacation myself and already expected that most people are on holidays. Happy new year! :-)

[2020-01-09 11:05] uellue commented on #1962
Unfortunately, the wouldn't be happy about it.

[2020-01-09 11:48] iagolemos1 commented on #1999
@whedon commands

[2020-01-09 11:48] whedon commented on #1999
Here are some things you can ask me to do:

[code]

[2020-01-09 13:16] steven-murray commented on #1834
@gmorello is there an updated version of the paper I can read?

If you don't want to fully recapitulate the discussion concerning comparison to other codes in this paper, perhaps you could abbreviate it by saying something like "More details, and a comprehensive comparison to other relevant codes, can be found in ....".

[2020-01-09 13:16] ocefpaf commented on #1985
@efiring and @koldunovn thanks for thinking of me.

@kthyng I'm sorry to refuse but I cannot review this in a timely fashion. I just had knee surgery and I'm in bed for 4 weeks following a slow recovery relaying on crutch. The few hours I get in front of the laptop will be for the day job.

[2020-01-09 13:20] danielskatz commented on #1907
👋 @eschnett & @stevenrbrandt - would either of you be willing to review this, or have suggestions for others who might?

[2020-01-09 13:21] danielskatz commented on #1998
👋 @arokem - a second ping...

[2020-01-09 13:22] danielskatz commented on #2000
👋 @trallard - a 2nd ping...

[2020-01-09 13:22] danielskatz commented on #2001
👋 @gkthiruvathukal - a 2nd ping...

[2020-01-09 13:30] jwuttke commented on #1907
What are reviewers supposed to do?

[2020-01-09 13:38] danielskatz commented on #1907
Sorry, I thought you were familiar with JOSS - see https://joss.readthedocs.io/en/latest/reviewer_guidelines.html for general info about the reviewing process, and https://joss.readthedocs.io/en/latest/review_criteria.html for the specific review criteria.  In brief, a JOSS review is of the short paper and the software repository, and it is open and collaborative, seeking to improve the paper and

[2020-01-09 13:38] gkthiruvathukal commented on #2001
So sorry, @danielskatz. I'm definitely willing to edit this submission. Will assign myself now and get it started.

[2020-01-09 13:38] gkthiruvathukal commented on #2001
@whedon assign @gkthiruvathukal as editor

[2020-01-09 13:38] whedon commented on #2001
OK, the editor is @gkthiruvathukal

[2020-01-09 13:39] gkthiruvathukal commented on #2001
@mado89, are you willing to contribute a review or this submission?

[2020-01-09 13:40] gkthiruvathukal commented on #2001
@bzz, are you willing to contribute a review for this submission? (I need two reviewers.)

[2020-01-09 13:54] trallard commented on #2000
Hey @danielskatz  sure, assign this to me!

[2020-01-09 14:01] will-rowe commented on #1976
No worries @JoaoRodrigues - thank you for your reply. I'll try and find someone else on this occasion. Thanks again.

[2020-01-09 14:03] will-rowe commented on #1976
Hey @flashton2003 - would you be willing to review this paper for JOSS?

[2020-01-09 14:10] danielskatz commented on #2000
Thanks @trallard - you can do it yourself by doing what I do in the next command :)

[2020-01-09 14:11] danielskatz commented on #2000
@whedon assign @trallard as editor

[2020-01-09 14:11] whedon commented on #2000
OK, the editor is @trallard

[2020-01-09 14:25] iagolemos1 commented on #1999
I did some minimal changes in the citations on the paper.
@whedon generate pdf

[2020-01-09 14:26] iagolemos1 commented on #1999
@whedon generate pdf

[2020-01-09 14:27] whedon commented on #1999
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01999/joss.01999/10.21105.joss.01999.pdf)

[2020-01-09 15:51] arokem commented on #1998
Yes. I can take this one.

[2020-01-09 15:52] arokem commented on #1998
@whedon assign @arokem as editor

[2020-01-09 15:52] whedon commented on #1998
OK, the editor is @arokem

[2020-01-09 16:12] pySRURGS commented on #1998
@whedon generate pdf

[2020-01-09 16:13] whedon commented on #1998
PDF failed to compile for issue #1998 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1998/papers/JOSS/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'

[2020-01-09 16:15] arokem commented on #1998
Hmm. Looks like I broke things in my PR (https://github.com/pySRURGS/pyGOURGS/pull/1). But it wasn't working before either (the title was mis-rendered and the bibliography wasn't rendering)

[2020-01-09 16:17] pySRURGS commented on #1998
I'll figure this out by end of today. Please leave to me.

[2020-01-09 16:18] rhagenson commented on #1976
@will-rowe I seem to be in the same boat as João in that I lack the necessary expertise to review the paper adequately. I do not work with viral genomes, nor know the solution space of similar tools to judge this tool's merit within appropriate context; therefore, I must politely decline the request to review.

[2020-01-09 16:22] waseemsheikh commented on #1883
Thank you very much!

[2020-01-09 16:23] pySRURGS commented on #1998
@whedon generate pdf

[2020-01-09 16:23] whedon commented on #1998
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01998/joss.01998/10.21105.joss.01998.pdf)

[2020-01-09 16:25] pySRURGS commented on #1998
@whedon generate pdf

[2020-01-09 16:25] whedon commented on #1998
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01998/joss.01998/10.21105.joss.01998.pdf)

[2020-01-09 16:29] pySRURGS commented on #1998
@whedon generate pdf

[2020-01-09 16:29] arokem commented on #1998
👍 In the meanwhile, could you please recommend potential reviewers for this article? There is a list of potential reviewers [here](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing), but feel free to suggest other people as well. Please _do not_ tag these people into this issue for now, but provide their GitHub user-name (_without_ the `@` sign)

[2020-01-09 16:30] whedon commented on #1998
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01998/joss.01998/10.21105.joss.01998.pdf)

[2020-01-09 16:34] pySRURGS commented on #1998
Consider hausen and trallard

[2020-01-09 16:36] zbeekman commented on #1934
I'd love to, but I'm drowning in work until the end of Feb. (Big contract coming to a close and there's a lot left to get in order.)

[2020-01-09 16:39] pySRURGS commented on #1998
@whedon generate pdf

[2020-01-09 16:39] whedon commented on #1998
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01998/joss.01998/10.21105.joss.01998.pdf)

[2020-01-09 17:51] lpantano commented on #1584
Hi @mikkonie, just wanted to check if you still need to work more on the paper before I ping the reviewers again. Just let us know when everything is ready, for a another round. Thanks! and happy new year!.

[2020-01-09 18:07] GullyAPCBurns commented on #1708
@danielskatz, I can't seem to check any of the boxes on the above form. Am I missing something very obvious?

[2020-01-09 18:08] ethan-nelson commented on #1934
Hi @mjsottile sure, happy to review

[2020-01-09 18:13] majensen commented on #1962
Thanks to @mamcdona77 for agreeing to review! He is a TEM and imaging processing expert at NCI.

[2020-01-09 18:13] majensen commented on #1962
@whedon add @mamcdona77 as reviewer

[2020-01-09 18:13] whedon commented on #1962
OK, @mamcdona77 is now a reviewer

[2020-01-09 18:13] majensen commented on #1962
@whedon start review

[2020-01-09 18:14] whedon opened #2006 "[REVIEW]: LiberTEM: Software platform for scalable multidimensional data processing in transmission electron microscopy"
**Submitting author:** @uellue (<a href="http://orcid.org/0000-0001-6635-9567">Dieter Weber</a>)
**Repository:** <a href="https://github.com/LiberTEM/LiberTEM" target ="_blank">https://github.com/LiberTEM/LiberTEM</a>
**Version:** 0.5.0
**Editor:** @majensen
**Reviewers:** @alvarolopez, @fedorov
**Archive:** <a href="https://doi.org/10.5281/zenodo.3763313" target="_blank">10.5281/zenodo.3763313</a

[2020-01-09 18:14] whedon commented on #1962
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2006. Feel free to close this issue now!

[2020-01-09 18:14] whedon commented on #2006
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alvarolopez, @mamcdona77 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2020-01-09 18:14] whedon commented on #2006
[code]

[2020-01-09 18:14] majensen commented on #1962
All please join the review at #2006 -- closing the pre-review issue out now.

[2020-01-09 18:14] #1962 closed

[2020-01-09 18:14] whedon commented on #2006
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02006/joss.02006/10.21105.joss.02006.pdf)

[2020-01-09 18:19] danielskatz commented on #1708
Please see the first comment - did you accept the invite as mentioned in step 2 there?

[2020-01-09 18:22] GullyAPCBurns commented on #1708
Got it. Confirmed and yet more apologies for the delay.

[2020-01-09 18:43] ckoerber commented on #1936
Happy New Year!

Thank you for agreeing to referee our paper, @ixjlyons.

@gkthiruvathukal, please let us know if you need any additional information from us.

[2020-01-09 19:00] potterzot commented on #1911
@melissawm, I think this submission is ready for publication, thanks!

[2020-01-09 20:08] melissawm commented on #1911
Hi @potterzot, thanks! Can you please check the remaining items on your checklist?

I'll check the last details as soon as possible. Thank you all!

[2020-01-09 20:10] potterzot commented on #1911
@melissawm right, sorry. All set!

[2020-01-09 20:45] gkthiruvathukal commented on #1936
@whedon add @ixjlyons as reviewer

[2020-01-09 20:45] whedon commented on #1936
OK, @ixjlyons is now a reviewer

[2020-01-09 20:46] gkthiruvathukal commented on #1936
Hi @ckoerber, no additional info needed. We have two reviewers now, so I can get the review process started.

[2020-01-09 20:46] gkthiruvathukal commented on #1936
@whedon start review

[2020-01-09 20:46] whedon opened #2007 "[REVIEW]: EspressoDB: A scientific database for managing high-performance computing workflows"
**Submitting author:** @ckoerber (<a href="http://orcid.org/0000-0002-9271-8022">Christopher Körber</a>)
**Repository:** <a href="https://github.com/callat-qcd/espressodb" target ="_blank">https://github.com/callat-qcd/espressodb</a>
**Version:** v1.1.0
**Editor:** @gkthiruvathukal
**Reviewer:** @remram44, @ixjlyons
**Archive:** <a href="https://doi.org/10.5281/zenodo.3677432" target="_blank">10.5

[2020-01-09 20:46] whedon commented on #1936
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2007. Feel free to close this issue now!

[2020-01-09 20:46] whedon commented on #2007
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @remram44, @ixjlyons it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-01-09 20:47] whedon commented on #2007
[code]

[2020-01-09 20:47] whedon commented on #2007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02007/joss.02007/10.21105.joss.02007.pdf)

[2020-01-09 21:14] Marcdh3 commented on #1983
@vc1492a Thank you so much for the detailed review of our software! We really appreciate the effort you made into making that pull request. As of now, that request has been merged, and we are working on incorporating all of the other changes you pointed out. Also, we have improved the median normalization code so it no longer takes hours but minutes, so if you ever get free time and want to play a

[2020-01-09 22:11] mjsottile commented on #1934
Excellent.  I have two reviewers now, so I'll initiate the review process.

[2020-01-09 22:13] mjsottile commented on #1934
@whedon assign @rasmussn as reviewer

[2020-01-09 22:13] whedon commented on #1934
OK, @rasmussn is now a reviewer

[2020-01-09 22:13] mjsottile commented on #1934
@whedon add @ethan-nelson as reviewer

[2020-01-09 22:13] whedon commented on #1934
OK, @ethan-nelson is now a reviewer

[2020-01-09 22:14] mjsottile commented on #1934
@whedon start review

[2020-01-09 22:14] whedon opened #2008 "[REVIEW]: Enhanced software and platform for the Town Energy Balance (TEB) model"
**Submitting author:** @dmey (<a href="http://orcid.org/0000-0002-7071-7547">D. Meyer</a>)
**Repository:** <a href="https://github.com/teb-model/teb" target ="_blank">https://github.com/teb-model/teb</a>
**Version:** 4.0.0
**Editor:** @mjsottile
**Reviewers:** @ethan-nelson, @jayten
**Archive:** <a href="https://doi.org/10.5281/zenodo.3887081" target="_blank">10.5281/zenodo.3887081</a>

## Status

[2020-01-09 22:14] whedon commented on #1934
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2008. Feel free to close this issue now!

[2020-01-09 22:14] whedon commented on #2008
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rasmussn, @ethan-nelson it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2020-01-09 22:14] #1934 closed

[2020-01-09 22:14] whedon commented on #2008
PDF failed to compile for issue #2008 with the following error:

 Can't find any papers to compile :-(

[2020-01-09 22:21] dmey commented on #2008
@whedon generate pdf from branch joss-paper

[2020-01-09 22:21] whedon commented on #2008
[code]

[2020-01-09 22:21] whedon commented on #2008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02008/joss.02008/10.21105.joss.02008.pdf)

[2020-01-09 22:27] whedon commented on #2008
[code]

[2020-01-09 22:36] dmey commented on #2008
@whedon generate pdf from branch joss-paper

[2020-01-09 22:36] whedon commented on #2008
[code]

[2020-01-09 22:37] whedon commented on #2008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02008/joss.02008/10.21105.joss.02008.pdf)

[2020-01-09 22:44] dmey commented on #2008
@mjsottile, @rasmussn, @ethan-nelson I have added the three missing DOIs. Will keep the summary paper on a separate branch (`joss-paper`) in case of any changes and will only merge it into `master` once you are all happy with it.

[2020-01-09 23:06] nicgaspar commented on #1935
Hi @kthyng! I'm behind as always. I just realized that I have a COI. I am still willing to go ahead with the review if you think it is OK. But I actively collaborate with Katy Barnhart and Greg Tucker, both of whom are co-authors. As in we are working on papers together now, and have published together in the last year.

I feel I can be unbiased, but I should let you know. Sorry this took so long.

[2020-01-10 01:36] jmansour commented on #1797
@whedon generate pdf from branch joss

[2020-01-10 01:36] whedon commented on #1797
[code]

[2020-01-10 01:37] whedon commented on #1797
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01797/joss.01797/10.21105.joss.01797.pdf)

[2020-01-10 01:41] jmansour commented on #1797
Ok, I think they should all be good now @leouieda.

And can confirm using `scons 3.12` with Py3 works fine. Thanks for input @leouieda.

[2020-01-10 03:16] majensen commented on #1972
Hello @tgerke - would you be able to review this submission (#1972) for [JOSS](https://joss.theoj.org)? Much obliged for your consideration! --@majensen

[2020-01-10 05:05] arokem commented on #1904
Hey @bernease : have you had a chance to take a look at this? Thanks!

[2020-01-10 05:06] arokem commented on #1959
Hi @professoralkmin and @ryEllison : have you had a chance to take a look?

[2020-01-10 05:07] arokem commented on #1785
@dirmeier, @HaoZeke : where do things currently stand? Have you had a chance to take a look?

[2020-01-10 05:08] arokem commented on #1998
Unfortunately, these proposed reviewers are both currently reviewing other submissions. Let me see if I can find some other appropriate reviewers in our pool.

[2020-01-10 05:10] arokem commented on #1998
👋 @andim: would you be willing to review this paper for JOSS?

[2020-01-10 05:10] arokem commented on #1998
👋 @rowanc1 : would you be willing to review this paper for JOSS?

[2020-01-10 07:25] GullyAPCBurns commented on #1708
I was able to review the paper and software. The code looks great and the documentation is exemplary. I ran the available Jupyter notebooks and was able to disambiguate 'Gut Cancer (GC)' effectively.

Again, I apologize for not having done this immediately. I'd recommend that you proceed with publication 'as is'.

[2020-01-10 07:30] brainstorm commented on #1708
Great, thanks @GullyAPCBurns!

[2020-01-10 07:30] brainstorm commented on #1708
@whedon check references from branch joss-paper

[2020-01-10 07:30] whedon commented on #1708
[code]

[2020-01-10 07:30] whedon commented on #1708
[code]

[2020-01-10 07:32] brainstorm commented on #1708
@whedon generate pdf

[2020-01-10 07:32] whedon commented on #1708
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01708/joss.01708/10.21105.joss.01708.pdf)

[2020-01-10 07:37] brainstorm commented on #1708
Looks good to my too, @johnbachman, next step is for you to deposit it on Zenodo and we'll archive it in JOSS, let me know if you run into any problems with that. Pretty close to publication now ;)

[2020-01-10 08:22] benoit-combes commented on #1862
Dear @arokem, may I ask you whether you get supplemental information about @neuroimaginador availability to review the work ? Thanks in advance.

[2020-01-10 10:28] professoralkmin commented on #1959
Hello @arokem. Yes, I read and tested everything. Now, I already finished and ticked all according to my work experience and academic technology life. Thanks. :)

[2020-01-10 11:31] iagolemos1 commented on #1999
@drvinceknight is there something I should do or just wait for now long?

[2020-01-10 11:48] melissawm commented on #1911
@tomalrussell if you haven't already, can you create an archive (on Zenodo, figshare, or other) and post the archive DOI here? Thanks!

[2020-01-10 11:55] melissawm commented on #1912
Hello all, just checking in on this review, is there anything I can help you with?

[2020-01-10 12:03] drvinceknight commented on #1999
@whedon assign @bahung as reviewer

[2020-01-10 12:03] whedon commented on #1999
OK, @bahung is now a reviewer

[2020-01-10 12:03] drvinceknight commented on #1999
Thanks @bahung, once we have another reviewer, an issue will be opened where the review will take place so no need for action just yet.

[2020-01-10 12:04] drvinceknight commented on #1999
Nothing to do just yet, I will wait to give the other people I ping'd a chance to respond and if they do not I will continue to search for reviewers.

[2020-01-10 12:07] iagolemos1 commented on #1999
@drvinceknight Great. Thanks!

[2020-01-10 12:17] melissawm commented on #1955
@cscherrer sorry for taking so long to respond, the holidays were a busy period for me. I know you indicated some names above, but I can't find them in the list of past JOSS reviewers. I'll try some people from our reviewers list first, if that's ok.

[2020-01-10 12:29] matbesancon commented on #1912
still a few code-related issues we are discussing with the author on my side

[2020-01-10 12:58] juliohm commented on #1912
Thank you for checking the status of the submission Melissa. The author
didn't address all the issues raised. I can take a look again if any update
is triggered.

On Fri, Jan 10, 2020, 09:29 Mathieu Besançon <notifications@github.com>
wrote:

[2020-01-10 13:58] kirui93 commented on #1912
Hello @juliohm, I addressed all the issues that you had raised concerning the software paper. All the other issues also that were raised concerning the package are also addressed. You had mentioned some times back that I should comment on all the issues raised on how I addressed them and I did. Please have a look on my comments on the way I addressed the issues.

[2020-01-10 14:00] kirui93 commented on #1912
Hello @matbesancon, I gave you a reply on what we were threading on last time. Please have a look on it.

[2020-01-10 14:00] kirui93 commented on #1912
Hi @melissawm, thank you for reaching out again

[2020-01-10 14:14] will-rowe commented on #1976
No worries @rhagenson

[2020-01-10 14:15] will-rowe commented on #1976
Hi @nhejazi - would you please be able to review this?

[2020-01-10 14:40] flashton2003 commented on #1976
Hi @will-rowe, I’m not really qualified for this but my deskmate @lamhm would be great for this.

[2020-01-10 14:43] will-rowe commented on #1976
Hey @flashton2003 - I was hoping you might know someone if you couldn't do it. Thanks very much for the tip off.

Hi @lamhm - it would be fantastic if you could review this submission for us. Please do let me know if you can or if you need any information on how the review process works at JOSS.

[2020-01-10 15:08] eschnett commented on #1907
@danielskatz I accept.

[2020-01-10 15:27] arokem commented on #1862
Sorry about the delay here. Let me try to track this reviewer done, as they have not responded here.

[2020-01-10 15:47] malmans2 commented on #1720
Hi @sam-greenwood and Happy New Year!
I'll take a look at everything in the next few days.
In the meantime, could you please re-compile the paper?
Also, it looks like readthedocs is not able to build the documentation: https://readthedocs.org/projects/taco-vis
I'm I looking at the wrong link or are you still working on it?

[2020-01-10 16:10] danielskatz commented on #1907
@jwuttke - are you willing to be a reviewer for this?

[2020-01-10 16:10] danielskatz commented on #1907
@whedon assign @eschnett as reviewer

[2020-01-10 16:10] whedon commented on #1907
OK, @eschnett is now a reviewer

[2020-01-10 16:11] danielskatz commented on #1907
Thanks @eschnett - we'll start the review once we get another reviewer assigned

[2020-01-10 16:51] sam-greenwood commented on #1720
Hi @malmans2, happy new year to you too. Thanks for spotting that, I've fixed that now, forgot to commit an earlier change I made. I'll recompile the paper now.

[2020-01-10 16:52] sam-greenwood commented on #1720
@whedon generate pdf

[2020-01-10 16:52] whedon commented on #1720
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01720/joss.01720/10.21105.joss.01720.pdf)

[2020-01-10 16:55] sam-greenwood commented on #1720
With the paper, is there a way to control the figure sizes (at the moment it's just expanding them to fit the page width)?

[2020-01-10 17:24] kellieotto commented on #1999
@drvinceknight @iagolemos1 I can review this

[2020-01-10 17:51] arfon commented on #2005
Hi all, my sincere apologies for not catching this sooner but I'm afraid we're going to have to reject this submission. While it looks to be a useful little package, this falls into our ['minor utility'](https://joss.readthedocs.io/en/latest/submitting.html) category.

@chkoar @mbobra - apologies for not catching this at the `pre-review` stage of the process when editorial decisions in JOSS like t

[2020-01-10 17:52] arfon commented on #2005
@whedon reject

[2020-01-10 17:52] whedon commented on #2005
Paper rejected.

[2020-01-10 17:52] #2005 closed

[2020-01-10 18:08] iagolemos1 commented on #1999
@kellieotto thank you.

[2020-01-10 18:50] mbobra commented on #2005
@arfon No worries, I understand. @danielskatz asked me to edit this submission and I was happy to do so.

I do want to point out that @jakryd @dflemin3 were both excited about reviewing for JOSS and @dflemin3 even went through the trouble of reading the JOSS Editorial Guide to prep for this review. So I hope we can be a little better about identifying minor submissions before we solicit reviewers.

[2020-01-10 19:00] wtgee commented on #1771
Hi folks,

My sincere apologies for the ridiculous delay. Also thanks to @Juanlu001 for earlier reviews. The repository looks much improved from when I had first reviewed it before.  I agree that this is ready, just a few comments:

* Obviously I would like to see automated testing and encourage the authors to get in the future habit of developing tests as you develop software.
* There is a `contr

[2020-01-10 19:01] danielskatz commented on #2005
Sorry - I think the new stats that we get when start a pre-review will help in seeing submissions that need more inspection

[2020-01-10 19:28] neuroimaginador commented on #1862
Sorry about the delay, @arokem  and @benoit-combes , I'm now reviewing the paper and the package. Just opened an issue regarding a potential enhancement by using a "testthat" folder structure as described in http://r-pkgs.had.co.nz/tests.html, which is a standard and completely automated way of testing, and required by CRAN submissions.

[2020-01-10 20:01] artivis commented on #1371
** `joss` branch or `devel`.
Notice that all changes requested by the reviewers (except those concerning the paper itself) were done in branch `devel`.

[2020-01-10 20:50] shah314 commented on #1843
@whedon generate pdf

[2020-01-10 20:50] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-01-10 20:52] shah314 commented on #1843
@whedon generate pdf

[2020-01-10 20:52] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-01-10 20:53] shah314 commented on #1843
@whedon generate pdf

[2020-01-10 20:54] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-01-10 21:00] shah314 commented on #1843
@whedon generate pdf

[2020-01-10 21:00] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-01-10 21:20] mkhorton commented on #1945
I've also completed my review on this code and it's ready to go. Overall, this is a nice example of using the Django framework to create an interactive web app for exploring a materials database.

[2020-01-10 21:26] pitsianis commented on #1906
Sorry for the delay. I will complete the review this weekend.

[2020-01-10 22:50] gonsie commented on #1844
My review is complete. Looks great to me!

[2020-01-10 23:16] russellpierce commented on #1900
I'm clearly being unacceptably late here. Further I know it'll be at least two weeks before I can pick this back up. I'm sorry for holding up the works. At this late date it might be better to select an alternative reviewer. I'm sorry.

[2020-01-10 23:40] shah314 commented on #1843
@HaoZeke I have made the changes you requested.

@ProbShin Any thoughts or questions?

[2020-01-11 00:27] danielskatz commented on #1844
@whedon check references

[2020-01-11 00:27] whedon commented on #1844
[code]

[2020-01-11 00:27] danielskatz commented on #1844
@whedon generate pdf

[2020-01-11 00:28] whedon commented on #1844
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01844/joss.01844/10.21105.joss.01844.pdf)

[2020-01-11 00:30] danielskatz commented on #1844
@jjmortensen - it looks like one of your references needs a DOI to be added
Also, please use {}s in the tex to protect the cases (upper, lower) where needed - for example, JSSPP in that reference.  Once you've made changed, you can add a new comment here with ```@whedon generate pdf``` to generate a new version.  I will also proof-read the paper fairly soon.

[2020-01-11 02:33] juliohm commented on #1912
Thank you @kirui93 for the update. On my side you are ready to go, let's wait for @matbesancon 's comments, he may have further comments to improve the work.

[2020-01-11 04:38] majensen commented on #1945
Thanks very much all! I will proceed with some editorial checks -- @raullaasner these may lead to some minor PRs from me.

[2020-01-11 06:47] sivaramambikasaran commented on #1906
Sorry for the delay. Will finish it by Jan 20th.

[2020-01-11 07:55] Kevin-Mattheus-Moerman commented on #1262
@r-barnes best wishes for 2020! :tada:
Please can you check the above. Thank!

[2020-01-11 07:55] Kevin-Mattheus-Moerman commented on #1822
@whedon generate pdf

[2020-01-11 07:56] whedon commented on #1822
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01822/joss.01822/10.21105.joss.01822.pdf)

[2020-01-11 07:56] Kevin-Mattheus-Moerman commented on #1875
@danasolav I'm still looking for an additional reviewer. If you would like to start earlier I can open up the review issue if you like.

[2020-01-11 07:56] Kevin-Mattheus-Moerman commented on #1875
@gkontoudis @cmavrogiannis @liarokapis would you be interested in reviewing this submission for JOSS on prosthetic socket design? christmas_tree

[2020-01-11 07:59] Kevin-Mattheus-Moerman commented on #1867
@hooman650, @PGomes92, @paulvangentcom thanks for your help so far. The author has made various changes to address your comments. Can you please pick up the review at this point and review these changes? Please summarize any remaining issues you might have. Thanks!

[2020-01-11 08:02] Kevin-Mattheus-Moerman commented on #1822
@whedon accept

[2020-01-11 08:02] whedon commented on #1822
No archive DOI set. Exiting...

[2020-01-11 08:03] Kevin-Mattheus-Moerman commented on #1822
@vitorsr at this point can you please archive the software on Zenodo and report back with the DOI of the archived version here?
Please make sure the meta data for the archived version (i.e. the authors and title) match that of the JOSS paper.

[2020-01-11 08:08] Kevin-Mattheus-Moerman commented on #1825
@wingtorres I have one minor comment on the paper. The accepted version will have links to your repo so please remove the last sentence:
`Source code and manual are available at https: //github.com/wingtorres/morphometrix/`

[2020-01-11 08:13] whedon opened #2009 "[PRE REVIEW]: ExTemp: A computational and image-processing suite for extracting temporal barcodes"
**Submitting author:** @shalinshah1993 (<a href="http://orcid.org/0000-0002-1406-3577">Shalin Shah</a>)
**Repository:** <a href="https://github.com/shalinshah1993/temporalDNAbarcodes" target ="_blank">https://github.com/shalinshah1993/temporalDNAbarcodes</a>
**Version:** 1.0
**Editor:** @csoneson
**Reviewers:** @lbugnon, @SirSharpest, @RealPolitiX

**Author instructions**

Thanks for submitting yo

[2020-01-11 08:13] whedon commented on #2009
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-11 08:14] whedon commented on #2009
[code]

[2020-01-11 08:14] whedon commented on #2009
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02009/joss.02009/10.21105.joss.02009.pdf)

[2020-01-11 08:14] whedon commented on #2009
[code]

[2020-01-11 08:17] Kevin-Mattheus-Moerman commented on #2009
@shalinshah1993 I will be looking for an editor to help with this submission. In the mean time can you check the above DOI's which appear to be missing? You can update the pdf here yourself by running `@whedon generate pdf`.

[2020-01-11 08:21] Kevin-Mattheus-Moerman commented on #2009
@will-rowe @csoneson would one of you be able to edit this one?

[2020-01-11 08:27] whedon opened #2010 "[PRE REVIEW]: fastpos: A fast R implementation to find the critical point of stability for a correlation"
**Submitting author:** @johannes-titz (<a href="http://orcid.org/0000-0002-1102-5719">Johannes Titz</a>)
**Repository:** <a href="https://github.com/johannes-titz/fastpos" target ="_blank">https://github.com/johannes-titz/fastpos</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @johannes-titz. **Currently, there is

[2020-01-11 08:27] whedon commented on #2010
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-11 08:28] whedon commented on #2010
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02010/joss.02010/10.21105.joss.02010.pdf)

[2020-01-11 08:28] whedon commented on #2010
[code]

[2020-01-11 10:20] oliviaguest commented on #1900
Thank you for being clear and honest, @russellpierce... OK, lemme tag @labarba for advice since I am not sure on the exact policy here.

[2020-01-11 10:50] kirui93 commented on #1912
@juliohm Thank you so much for your insightful comments as well as your time to review our package and the paper.

[2020-01-11 11:53] labarba commented on #1900
This is up to you to handle as you see fit, @oliviaguest. You can ask the author if they are open to waiting another two weeks,  or you can look for a replacement reviewer. (If you do the latter, you run  `@whedon add @user as reviewer` then manually edit the checklist in the header comment to this thread.)

[2020-01-11 12:13] oliviaguest commented on #1900
Thanks, OK.

1. I propose we wait to see what @russellpierce means by two weeks: please elaborate if you meant that literally. And..

2. we wait to how @johannes-titz feels about having to wait probably another 3-4 weeks (assuming 2 weeks is a rough estimate but not too far off) before getting something back from @russellpierce.  Are you OK with this set-up and if not can you propose another revie

[2020-01-11 13:32] mado89 commented on #2001
I could be a reviewer. However:
* I'd need some time. I don't think I can give this software a thorough review in just two weeks. By looking at it I think I can manage to do it until the end of February
* I'd possibly need more instructions on how to use the software. By looking at it I was not able to get a grasp how to use it (but I did not spend too much time on it)

So its up to you @gkthiruva

[2020-01-11 14:42] alex-konovalov commented on #1371
@poulson I can't recollect, but I think my suggestions did not depend much on the branch...

[2020-01-11 16:11] jjmortensen commented on #1844
@whedon generate pdf

[2020-01-11 16:12] whedon commented on #1844
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01844/joss.01844/10.21105.joss.01844.pdf)

[2020-01-11 16:21] jjmortensen commented on #1844
Added the missing DOI and upper cased JSSPP

[2020-01-11 16:27] dfm commented on #1966
@LRydin: The editorial board has reconsidered and we stand by our initial assessment. The classification of "minor utility" is not a statement about whether or not a piece of software is useful. Instead, we're assessing on the scope of the library (in this case, a single method of <50 lines of code, based on an existing implementation in MATLAB) and whether or not that justifies a JOSS publication

[2020-01-11 18:01] shalinshah1993 commented on #2009
@whedon generate pdf

[2020-01-11 18:02] whedon commented on #2009
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02009/joss.02009/10.21105.joss.02009.pdf)

[2020-01-11 18:28] jrosen48 commented on #1941
Hi, sorry for my delay on this. I will aim to proceed with my review this week.

[2020-01-11 19:28] chkoar commented on #2005
Dear @arfon, @mbobra  and @danielskatz,

I respectively disagree that the package is a "minor utility" and I would incline you to reconsider. Currently, it contains a real world classifier and even at this stage it can be used in research works. My main motivation, in order to identify if the package at this stage could be considered as minor utility and make the submission, were utilities like [t

[2020-01-11 19:48] danielskatz commented on #1844
@whedon accept

[2020-01-11 19:48] whedon commented on #1844
No archive DOI set. Exiting...

[2020-01-11 19:49] danielskatz commented on #1844
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and author list (make sure the

[2020-01-11 20:26] dirmeier commented on #1785
I made my reviews a month ago or so ... haven't heard back so far

[2020-01-11 21:13] szorowi1 commented on #1982
Happy new year all! To confirm, I am now successfully able to submit issues/PRs in the target repository.

Today I've continued my review. In brief, I've completed the following:
- Downloaded and installed the package.
- Recreated the tutorials on my personal computer.
- Tested out core functions on independently simulated and actual time-series data (my own EEG data).
- Reviewed the JOSS paper.
-

[2020-01-11 22:43] HaoZeke commented on #1785
Hi, I'm also waiting for the author to update the repository before continuing.

[2020-01-12 01:26] mnarayan commented on #1982
@mjsottile It looks like I am unable to check off boxes on my checklist. This has never happened before?

[2020-01-12 02:28] russellpierce commented on #1900
@oliviaguest If @johannes-titz is okay with a 3-4 week window, then I can recommit to that timeframe.

[2020-01-12 02:38] majensen commented on #1945
@whedon generate pdf

[2020-01-12 02:39] whedon commented on #1945
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01945/joss.01945/10.21105.joss.01945.pdf)

[2020-01-12 02:54] majensen commented on #1945
@raullaasner the proof looks good. Can you please create an archive of the software repository using [Zenodo](https://zenodo.org) or similar? [This comment](https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729) gives a quick overview for creating one on Zenodo.

When you have done that, please report the archive DOI back to us here -- thanks!

[2020-01-12 12:42] arfon commented on #1982
@mnarayan - you need to accept this invite before you can work on the checklist: https://github.com/openjournals/joss-reviews/invitations

[2020-01-12 14:43] arfon commented on #2005
Dear @chkoar, firstly I want to apologize again for how this submission was handled. This submission was flagged for rejection early on by a handling editor but got lost in a transition between editors over the holiday season.

To address your concern about this submission being treated differently to those of a similar size/scope: the JOSS editorial team has recently carried out a significant rev