[2020-09-05 22:28] jeffcsauer commented on #2450
Thanks for these detailed initial comments! I will incorporate them over the next couple of days and tag you when done.

[2020-09-05 23:17] bluescarni commented on #2338
@whedon generate pdf

[2020-09-05 23:17] whedon commented on #2338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf)

[2020-09-05 23:18] bluescarni commented on #2338
@whedon check references

[2020-09-05 23:19] bluescarni commented on #2338
@eloisabentivegna thanks for the PR! I have changed the title of the archive DOI.

[2020-09-05 23:20] whedon commented on #2338
[code]

[2020-09-06 10:47] cMadan commented on #2166
@hvgazula, can you also add DOIs for all bib entries? See the recent comment from whedon for suggestions (but please double check these yourself!)

[2020-09-06 12:46] lnferris commented on #2497
I have fixed and closed "Remove eval (lnferris/ocean_data_tools#12)".

[2020-09-06 13:27] dfm commented on #2610
:wave: @olebole: Are you available to review this one? (I know you just recently finished your previous review so no worries if this is too much!)

[2020-09-06 13:33] rozmanowna commented on #2613
Thank you @majensen!
Based on the list, I would also suggest @xin-huang, @dwinter and @tkchafin for potential reviewers.

[2020-09-06 13:40] whedon opened #2642 "[PRE REVIEW]: QGameTheory: A Quantum Game Theory Simulator"
**Submitting author:** @indrag49 (<a href="http://orcid.org/0000-0002-7964-1307">Indranil Ghosh</a>)
**Repository:** <a href="https://github.com/indrag49/QGameTheory" target ="_blank">https://github.com/indrag49/QGameTheory</a>
**Version:** v0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-09-06 13:40] whedon commented on #2642
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-06 13:40] whedon commented on #2642
Failed to discover a `Statement of need` section in paper

[2020-09-06 13:40] whedon commented on #2642
[code]

[2020-09-06 13:41] danielskatz commented on #2642
@whendon query scope

[2020-09-06 13:41] whedon commented on #2642
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02642/joss.02642/10.21105.joss.02642.pdf)

[2020-09-06 13:42] danielskatz commented on #2642
@whedon query scope

[2020-09-06 13:42] whedon commented on #2642
Submission flagged for editorial review.

[2020-09-06 14:19] indrag49 commented on #2642
Hi, I am new to submitting to JOSS. Just to clarify, am I supposed to wait now? Or am I supposed to make changes to the paper.md as I see there is a "Failed to discover a Statement of need section in paper" message?

[2020-09-06 14:37] lnferris commented on #2497
I have fixed and closed "Demo script hard-coded paths (lnferris/ocean_data_tools#31)".

[2020-09-06 15:30] arfon commented on #1643
@ashleefv - this was fixed in https://github.com/openjournals/joss-papers/commit/5f08ae368b4f81d8c7783bd4be821829cb0a3335 although the paper might take a few hours to show as updated on the JOSS website as there's caching in place.

[2020-09-06 15:39] nedRad88 commented on #2619
Hi,
The paper has been updated, the missing DOI has been added.

Thanks!

On Sat, Sep 5, 2020 at 1:24 AM Gabby <notifications@github.com> wrote:

[2020-09-06 15:40] tresoldi commented on #2594
@jboynyc great library, thank you! I can see myself using it for at least one project I have in mind.

I've just filed an issue on the only real problem I saw. Some additional points/comments here:

- Given your audience, it might be valid to offer the library as a conda package as well
- I suggest putting

[2020-09-06 17:07] danielskatz commented on #2642
If you want to, you can add a Statement of Need section in the paper, than add a new comment here with ```@whedon generate pdf``` to regenerate the pdf.  However, note that because of the small amount of code in this submission, it also will go through a check of the editors to determine if meets the [Substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-s

[2020-09-06 17:35] fboehm commented on #2402
@homonecloco and @tomsing1 - I hope that your reviews are progressing well. Is there something that I can assist with right now? With help from Arfon, we've created the pdf. Do you feel that additional revisions are needed? Are there any checkboxes that need attention from @anwarbio ? Thanks again!!

[2020-09-06 18:41] bradyrx commented on #2531
@usethedata, @davidhassell

Hi all, thanks for the patience here. It looks like this is stuck in pre-review? I have time now to do this so I'm just going to post my review here using the checklist I used last time I reviewed for JOSS.

Overall, `cfdm` looks great and I'm happy to suggest its acceptance to JOSS following some minor corrections I've listed below. Some are nitpicky grammar on the pap

[2020-09-06 19:42] pmkruyen commented on #2506
@whedon generate pdf

[2020-09-06 19:43] whedon commented on #2506
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf)

[2020-09-06 19:45] pmkruyen commented on #2506
Hi @cMadan and @kinow,

FYI: the published version on the App Store + Google Play is now completely in sync with the GitHub version (`1.0.49`).

Cheers,
Peter

[2020-09-06 20:33] xin-huang commented on #2613
I am happy to review.

[2020-09-06 20:44] tkchafin commented on #2613
Also happy to review if needed - Tyler

[2020-09-06 21:07] kegiljarhus commented on #2480
Thank you, @sjpfenninger! I have merged your PR and tagged a v1.0 release.

Here is the Zenodo DOI: [10.5281/zenodo.4016951](https://zenodo.org/record/4016951)

[2020-09-06 21:37] oliviaguest commented on #2640
@whedon add @typically as reviewer

[2020-09-06 21:37] whedon commented on #2640
OK, @typically is now a reviewer

[2020-09-06 23:38] majensen commented on #2613
@xin-huang and @tkchafin Thanks very much for stepping up -- I agree with @rozmanowna that you both would bring excellent experience to this review. Please refresh your memories regarding the [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). I will assign you as reviewers and then begin the review. The review proper will take place in a separate GitHub issue.
Much a

[2020-09-06 23:39] majensen commented on #2613
@spond, @rhagenson - we have found reviewers for this work. Thanks for your consideration.
--@majensen

[2020-09-06 23:39] majensen commented on #2613
@whedon assign @xin-huang as reviewer

[2020-09-06 23:39] whedon commented on #2613
OK, @xin-huang is now a reviewer

[2020-09-06 23:40] majensen commented on #2613
@whedon add @tkchafin as reviewer

[2020-09-06 23:40] whedon commented on #2613
OK, @tkchafin is now a reviewer

[2020-09-06 23:40] majensen commented on #2613
@whedon start review

[2020-09-06 23:40] whedon opened #2643 "[REVIEW]: Moran Pycess: a Python package to simulate Moran processes driven by game theory"
**Submitting author:** @AngryMaciek (<a href="http://orcid.org/0000-0003-1361-7301">Maciej Bak</a>)
**Repository:** <a href="https://github.com/AngryMaciek/angry-moran-simulator" target ="_blank">https://github.com/AngryMaciek/angry-moran-simulator</a>
**Version:** 1.0.0
**Editor:** @majensen
**Reviewer:** @xin-huang, @tkchafin
**Archive:** <a href="https://doi.org/10.5281/zenodo.4114143" target="

[2020-09-06 23:40] whedon commented on #2613
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2643.

[2020-09-06 23:40] #2613 closed

[2020-09-06 23:40] whedon commented on #2643
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xin-huang, @tkchafin it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-09-06 23:40] whedon commented on #2643
PDF failed to compile for issue #2643 with the following error:

 Can't find any papers to compile :-(

[2020-09-06 23:41] majensen commented on #2613
@xin-huang @tkchafin @AngryMaciek (and @rozmanowna ) , the review will proceed over in #2643 -- thanks!

[2020-09-06 23:43] majensen commented on #2643
@whedon generate pdf from branch paper

[2020-09-06 23:43] whedon commented on #2643
[code]

[2020-09-06 23:43] whedon commented on #2643
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02643/joss.02643/10.21105.joss.02643.pdf)

[2020-09-06 23:53] majensen commented on #2331
@whedon generate pdf

[2020-09-06 23:54] whedon commented on #2331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02331/joss.02331/10.21105.joss.02331.pdf)

[2020-09-06 23:59] majensen commented on #2331
@tabe we are ready to move forward. Can I ask you to create an archive of the Flint repository (using [Zenodo](https://zenodo.org), [FigShare](https://figshare.com), or similar)? The title of your archive should match the title of the paper. Then please report back the DOI of the archive in this thread.
Please let me know if you have any questions -

[2020-09-07 00:26] jni commented on #2578
@emilljungberg I see your checklist filling up, and now those issues on the source repo — awesome, thanks for that!

@puolival thank you also for the review above.

@imr-framework @Mmj94 I think at this point we are waiting for some fixes/improvements/responses on your end. Please let us know if you need additional guidance or clarification!

[2020-09-07 00:29] jni commented on #2579
Just a status report from my perspective:

- @thejohnhoffer, could you address the [comments](https://github.com/openjournals/joss-reviews/issues/2579#issuecomment-684823383) from @will-moore above?
- We are still waiting for review from @sofroniewn, but he has already noted that it's on the way.

[2020-09-07 02:03] tabe commented on #2331
@majensen, uploaded an archive to Zenodo:
https://doi.org/10.5281/zenodo.4017040
I hope this works for you.

[2020-09-07 02:05] majensen commented on #2331
@whedon set Flint-2.4.0RC1-JOSS  as version

[2020-09-07 02:05] whedon commented on #2331
OK. Flint-2.4.0RC1-JOSS  is the version.

[2020-09-07 02:06] majensen commented on #2331
@whedon set 10.5281/zenodo.4017040 as archive

[2020-09-07 02:06] whedon commented on #2331
OK. <a href="https://doi.org/10.5281/zenodo.4017040" target="_blank">10.5281/zenodo.4017040</a> is the archive.

[2020-09-07 02:07] majensen commented on #2331
@whedon accept

[2020-09-07 02:07] whedon commented on #2331
[code]

[2020-09-07 02:07] whedon commented on #2331
[code]

[2020-09-07 02:07] whedon commented on #2331
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1713

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1713, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-07 05:26] adithirgis commented on #2630
Started review [here.](https://github.com/VincentAlcazer/StatAid/issues/1)

[2020-09-07 06:23] tukiains commented on #2123
Thank you @jedbrown and @kthyng for editing and publishing the paper, and big thanks @josephhardinee and @ekschuman for reviewing!

[2020-09-07 07:26] VivianePons commented on #2183
Perfect!

@miketuri could you make an archive (on Zenodo, figshare, or other) and send it to me? Please use the same title as for the JOSS paper.

[2020-09-07 07:37] bluescarni commented on #2338
@whedon generate pdf

[2020-09-07 07:38] whedon commented on #2338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf)

[2020-09-07 07:42] bluescarni commented on #2338
@whedon check references

[2020-09-07 07:42] whedon commented on #2338
[code]

[2020-09-07 07:45] bluescarni commented on #2338
@whedon generate pdf

[2020-09-07 07:46] whedon commented on #2338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf)

[2020-09-07 07:48] bluescarni commented on #2338
@whedon check references

[2020-09-07 07:48] whedon commented on #2338
[code]

[2020-09-07 08:14] sjpfenninger commented on #2475
@whedon add @marouenbg as reviewer

[2020-09-07 08:14] whedon commented on #2475
OK, @marouenbg is now a reviewer

[2020-09-07 08:19] sjpfenninger commented on #2620
@whedon add @fneum as reviewer

[2020-09-07 08:19] whedon commented on #2620
OK, @fneum is now a reviewer

[2020-09-07 08:20] sjpfenninger commented on #2620
@fneum Great, thanks! As soon as I have a second reviewer, we'll start the review proper.

[2020-09-07 08:29] sjpfenninger commented on #2480
@whedon set 10.5281/zenodo.4016951 as archive

[2020-09-07 08:29] whedon commented on #2480
OK. <a href="https://doi.org/10.5281/zenodo.4016951" target="_blank">10.5281/zenodo.4016951</a> is the archive.

[2020-09-07 08:30] sjpfenninger commented on #2480
@whedon set v1.0 as version

[2020-09-07 08:30] whedon commented on #2480
OK. v1.0 is the version.

[2020-09-07 08:31] sjpfenninger commented on #2480
@whedon accept

[2020-09-07 08:31] whedon commented on #2480
[code]

[2020-09-07 08:31] whedon commented on #2480
[code]

[2020-09-07 08:31] whedon commented on #2480
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1714

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1714, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-07 08:31] sjpfenninger commented on #2480
@kegiljarhus Almost there! @rafmudaf @antviro Many thanks for your reviews!

[2020-09-07 08:40] will-rowe commented on #2493
Thanks @kuangmeng - I think this meets are criteria for review now. Let's find some reviewers and then start the process.

[2020-09-07 08:42] will-rowe commented on #2493
Hi @CFGrote and @VivekTodur - would you both be willing to review this submission please?

[2020-09-07 08:44] sjpfenninger commented on #2475
@whedon add @krystophny as reviewer

[2020-09-07 08:44] whedon commented on #2475
OK, @krystophny is now a reviewer

[2020-09-07 08:47] kuangmeng commented on #2493
Many thanks. @will-rowe

[2020-09-07 08:48] sjpfenninger commented on #2475
@whedon start review

[2020-09-07 08:48] whedon opened #2644 "[REVIEW]: GENRE (GPU Elastic-Net REgression): A CUDA-Accelerated Package for Massively Parallel Linear Regression with Elastic-Net Regularization"
**Submitting author:** @Christopher-Khan (<a href="http://orcid.org/0000-0003-3201-3423">Christopher Khan</a>)
**Repository:** <a href="https://github.com/VU-BEAM-Lab/GENRE" target ="_blank">https://github.com/VU-BEAM-Lab/GENRE</a>
**Version:** v1.0.1
**Editor:** @sjpfenninger
**Reviewer:** @marouenbg, @krystophny
**Archive:** <a href="https://doi.org/10.5281/zenodo.4076520" target="_blank">10.528

[2020-09-07 08:48] whedon commented on #2475
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2644.

[2020-09-07 08:48] #2475 closed

[2020-09-07 08:48] whedon commented on #2644
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @marouenbg, @krystophny it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-09-07 08:48] whedon commented on #2644
[code]

[2020-09-07 08:48] sjpfenninger commented on #2475
@marouenbg, @krystophny thanks for agreeing to review. Let's head over to #2644 for the actual review!

[2020-09-07 08:48] whedon commented on #2644
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf)

[2020-09-07 08:50] CFGrote commented on #2493
Thanks for the offer, I accept.

[2020-09-07 09:24] meg-simula commented on #2611
Thanks @ajbaird!This looks very much ready for review. I'll reach out to reviewers, and get back to you

[2020-09-07 09:25] meg-simula commented on #2611
@mirok @fcooper8472 Would you be available to review this submission for JOSS?

Feel free to take a look at our reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-09-07 09:28] meg-simula commented on #2626
Thanks - I suggest you update this submission with a revised version of the paper. Perhaps some of thematerial to be cut could be included in the documentation instead?

[2020-09-07 09:42] pdebuyl commented on #2634
@whedon assign me as editor

[2020-09-07 09:42] whedon commented on #2634
OK, the editor is @pdebuyl

[2020-09-07 10:02] pdebuyl commented on #2634
@coatless @emilyriederer @agisga would you review the paper "Empirical and non-parametric copula models with the `cort` R package" for the Journal of Open Source Software?

[2020-09-07 11:18] fcooper8472 commented on #2611
Yes, happy to review.

[2020-09-07 11:39] Thyre commented on #2623
I'd like to list up some additional potential reviewers,
- alexrockhill
- agricolab
- Athanasiamo
- rly
- madvn
- peerherholz
- matteomancini
- snastase

[2020-09-07 11:47] fruzsinaagocs commented on #2515
These changes look great, @ketch.

I have now ran the example notebooks, they run smoothly and have a good amount of detail. Running them automatically as tests is a neat idea.

Documenting a package with so much functionality is no small task, but with the existing examples and docs I trust that the few missing bits will soon be covered and I'm happy to tick this off. (As it happens, testing dens

[2020-09-07 11:59] MiroK commented on #2611
Same here.

[2020-09-07 12:06] VivianePons commented on #2515
Thank you very much @fruzsinaagocs !

@wingtorres do you think you'll have time to work on this soon?

[2020-09-07 12:11] chennachaos commented on #2577
Hi @mou3adb. Thank you for your response! Your MSc thesis is great; however, your arguments are not convincing. I do not recommend this library in its current form for publication in JOSS.

The primary issue in recommending this library for publication in JOSS is the lack of content. There is not much one can do with this library. The type of problems that can be readily solved using this library

[2020-09-07 12:28] mikerspencer commented on #2282
Cheers!

[2020-09-07 12:48] iaklampanos commented on #2552
Thank you, I've merged your suggestions and changed "It delivers mappings to diverse computing infrastructures" to " It can translate higher-level workflows to diverse computing contexts, such as Apache Storm, MPI and plain shared-memory multi-core"

Re reviewers, I could suggest the following:

Katerina Doka, National Technical University of Athens, Greece - http://www.cslab.ece.ntua.gr/~doka/ind

[2020-09-07 12:57] meg-simula commented on #2611
Thanks @MiroK and @fcooper8472 for the rapid and positive response. I'll get the review issue started.

[2020-09-07 12:57] meg-simula commented on #2611
@whedon assign @fcooper8472 as reviewer

[2020-09-07 12:58] whedon commented on #2611
OK, @fcooper8472 is now a reviewer

[2020-09-07 12:58] meg-simula commented on #2611
@whedon add @MiroK as reviewer

[2020-09-07 12:58] whedon commented on #2611
OK, @MiroK is now a reviewer

[2020-09-07 12:58] meg-simula commented on #2611
@whedon start review

[2020-09-07 12:58] whedon opened #2645 "[REVIEW]: BioGears: A C++ library for whole body physiology simulations"
**Submitting author:** @ajbaird (<a href="http://orcid.org/0000-0002-4711-3016">Austin Baird</a>)
**Repository:** <a href="https://github.com/BioGearsEngine/core" target ="_blank">https://github.com/BioGearsEngine/core</a>
**Version:** v7.3.2
**Editor:** @meg-simula
**Reviewer:** @fcooper8472, @MiroK
**Archive:** <a href="https://doi.org/10.5281/zenodo.4304604" target="_blank">10.5281/zenodo.43046

[2020-09-07 12:58] whedon commented on #2611
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2645.

[2020-09-07 12:58] #2611 closed

[2020-09-07 12:58] whedon commented on #2645
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fcooper8472, @MiroK it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-09-07 12:58] whedon commented on #2645
PDF failed to compile for issue #2645 with the following error:

 Can't find any papers to compile :-(

[2020-09-07 12:59] meg-simula commented on #2645
@whedon generate pdf from branch f/abard-JOSSPaper

[2020-09-07 13:00] whedon commented on #2645
[code]

[2020-09-07 13:00] meg-simula commented on #2645
@whedon check references from branch f/abard-JOSSPaper

[2020-09-07 13:00] whedon commented on #2645
[code]

[2020-09-07 13:00] whedon commented on #2645
PDF failed to compile for issue #2645 with the following error:

 sh: 1: cd: can't cd to tmp/2645
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2645 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2020-09-07 13:01] Mmj94 commented on #2578
@jni @emilljungberg @puolival Thank you so much for your comments and reviews.
Sorry for the delay in my response, I just came back from vacation but I'll definitely start working on all the issues asap.

[2020-09-07 13:01] whedon commented on #2645
[code]

[2020-09-07 13:02] meg-simula commented on #2645
@ajbaird Could you look at the paper compilation issue reported by @whedon above at your earliest convenience?

[2020-09-07 13:02] flofaucher commented on #2626
Ok, I have updated the repository with a new version which is less than 1000 words (excluding the bibliography).
Indeed, most of the details are already in the documentation. Yet I wanted to keep the pictures which, I hope, improve the readability.

[2020-09-07 13:14] fboehm commented on #2474
@tomaslaz - I see that the issue from @janfreyberg remains open. Do you have any questions on how to resolve it? I think that it's one of the last hurdles before we can publish this.

[2020-09-07 13:16] fboehm commented on #2474
@craddm - It looks like three boxes remain unchecked in your checklist. If you haven't had a chance to suggest improvements for the documentation and functionality claims, please feel free to do so. Thanks again!

[2020-09-07 13:47] dfm commented on #2610
@pravirkr has agreed to act as a reviewer - thanks! Once we have a second, I'll get the review started.

[2020-09-07 13:47] dfm commented on #2610
@whedon assign @pravirkr as reviewer

[2020-09-07 13:47] whedon commented on #2610
OK, @pravirkr is now a reviewer

[2020-09-07 13:49] olebole commented on #2610
@dfm sorry, too busy in the moment. I'd look however forward next time!

[2020-09-07 13:50] dfm commented on #2596
@htjb: Don't worry about version numbers re: this review at this point, just handle them however you normally would. I'll walk you through synchronizing the versions at the end.

[2020-09-07 14:16] fcdimitr commented on #2616
Hello, there is Statement of need in the paper, I am guessing the parsing failed because sections were defined with

[code]

I have fixed them, will recompile the PDF.

[2020-09-07 14:16] fcdimitr commented on #2616
@whedon generate pdf

[2020-09-07 14:17] whedon commented on #2616
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02616/joss.02616/10.21105.joss.02616.pdf)

[2020-09-07 14:42] danielskatz commented on #2331
👋 @tabe - this looks good, and I'm working on the final processing.
Can you merge https://github.com/flintproject/Flint/pull/24, which has some minor changes to the paper?
Also, I think the SUNDIALS TOMS paper should have 10.1145/1089014.1089020 added as the DOI.

[2020-09-07 14:51] danielskatz commented on #2480
👋 @kegiljarhus - this looks almost ready to accept, which I am working on.  I see some reference issues that need to be fixed first, mostly by protecting cases with {}s:
 - Glauert has "Aerodynamic theory" which should be "Aerodynamic Theory" I think
 - in Gohard, should the "tr" in the middle of the tech report number be "TR"?
 - Hericzek et al. has "uav" in the title which I think should be UAV

[2020-09-07 14:53] danielskatz commented on #2018
Please let us know when this is done

[2020-09-07 14:54] danielskatz commented on #2445
@sbenthall  - it looks like this is ready for you to ```@whedon accept``` and then I can take it, do a final proofread, and then publish it

[2020-09-07 15:15] breezykermo commented on #2131
Hi @poulson; although I do not have any expertise in BA, I would be happy to help review if you think it would be useful. What exactly would a review require from me? I have not reviewed or contributed through JOSS yet. :)

[2020-09-07 16:48] lnferris commented on #2497
I have fixed and closed "Bathymetry data reloaded for plots (lnferris/ocean_data_tools#11)".

[2020-09-07 17:46] miketuri commented on #2183
Hello @VivianePons, I have just made an archive on Zenodo; it can be found at https://doi.org/10.5281/zenodo.4017949
Let me know if you need to make any changes or need anything else.  Thank you!

[2020-09-07 17:54] kegiljarhus commented on #2480
:wave: @danielskatz, thank you for the suggestions, they are implemented now in the latest commit.

[2020-09-07 18:12] danielskatz commented on #2480
@whedon generate pdf

[2020-09-07 18:12] whedon commented on #2480
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02480/joss.02480/10.21105.joss.02480.pdf)

[2020-09-07 18:13] danielskatz commented on #2480
@whedon accept

[2020-09-07 18:13] whedon commented on #2480
[code]

[2020-09-07 18:14] whedon commented on #2480
[code]

[2020-09-07 18:14] whedon commented on #2480
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1715

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1715, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-07 18:14] danielskatz commented on #2480
@whedon accept deposit=true

[2020-09-07 18:15] whedon commented on #2480
[code]

[2020-09-07 18:15] whedon commented on #2480
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1303034232739180546) 👈 🐦🐦🐦

[2020-09-07 18:15] whedon commented on #2480
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1716
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02480](https://doi.org/10.21105/joss.02480)
2. If everything looks g

[2020-09-07 18:20] lnferris commented on #2497
I have fixed and closed "Selection popup instructions (lnferris/ocean_data_tools#21)".

[2020-09-07 18:22] danielskatz commented on #2480
Thanks to @rafmudaf & @antviro for reviewing and @sjpfenninger for editing!

And congratulations to @kegiljarhus (Knut Erik Teigen Giljarhus)!!

[2020-09-07 18:22] #2480 closed

[2020-09-07 18:22] whedon commented on #2480
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02480/status.svg)](https://doi.org/10.21105/joss.02480)

**We need your help!**

Journal of Open Source Softwa

[2020-09-07 18:34] xuanxu commented on #2536
@grburgess / @JamesPaynter: Have you been able to move forward with the pending review issues?

[2020-09-07 18:37] xuanxu commented on #2382
@KathrynJones1 are you having any problem or doubt about the version release/archiving process?

[2020-09-07 18:47] xuanxu commented on #2640
@kthyng (sorry for the delayed response) There is no database, Whedon gets the information from the issue body, so changing the URL there (in the **repository** entry) should make it work.

[2020-09-07 18:58] marcosvital commented on #2584
It's pretty much up to you, @JolleJolles. Most authors will work on improvements and corrections as they come, but it's not a rule at all. So feel free to follow the path you think is better.

Now, if you choose to go working as the suggestions come in, I would suggest you to address the changes you make here in this issue, so reviewers can easily track down what is already covered. Also, both you

[2020-09-07 19:21] marcosvital commented on #2635
Thank you for the suggestions, @Manolomon, I'll contact them.

In the meantime, you can work on a couple of suggestions, while we wait to hear from the potential reviewers:
* The paper should have a "statement of need" on a separate paragraph, with it's own header (this came to be a norm on all JOSS papers recently).
* The repository need to show "clear guidelines for third parties wishing to 1) C

[2020-09-07 19:27] marcosvital commented on #2635
Dear @felixhenninger, @SteveViss and @arose, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If y

[2020-09-07 19:49] xin-huang commented on #2643
The authors implemented a python package to perform simulation with different evolutionary strategies under Moran process. This is an interesting simulator in population biology, because there are very few user-friendly simulators for evolutionary game currently. After testing this package and reading the paper, I have several concerns on the documentation and software paper. I have opened some is

[2020-09-07 21:02] tkchafin commented on #2643
The authors have provided a flexible and user-friendly software to generate simulations under several different scenarios from evolutionary game theory. I was able to verify functionality of the simulated processes and built-in plotting functions under MacOS, after minor changes to the documented installation instructions provided by the authors. After completing my review, I would recommend publi

[2020-09-07 21:07] SteveViss commented on #2635
Hi @marcosvital, I can do the review for this submission. Let me know when we're ready to start.

[2020-09-07 22:00] pdebuyl commented on #2494
@yuxiang-gao gentle reminder

[2020-09-07 23:42] tabe commented on #2331
Dear @danielskatz,

Done.

Added at https://github.com/flintproject/Flint/commit/c90b99a53b3930b1e46d570e79e3e6f3d39c9b6e.

[2020-09-07 23:46] danielskatz commented on #2331
@whedon generate pdf

[2020-09-07 23:47] whedon commented on #2331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02331/joss.02331/10.21105.joss.02331.pdf)

[2020-09-07 23:48] danielskatz commented on #2331
@whedon accept

[2020-09-07 23:48] whedon commented on #2331
[code]

[2020-09-07 23:48] whedon commented on #2331
[code]

[2020-09-07 23:48] whedon commented on #2331
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1717

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1717, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-07 23:49] danielskatz commented on #2331
@whedon accept deposit=true

[2020-09-07 23:49] whedon commented on #2331
[code]

[2020-09-07 23:50] whedon commented on #2331
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1303118585074774016) 👈 🐦🐦🐦

[2020-09-07 23:50] whedon commented on #2331
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1718
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02331](https://doi.org/10.21105/joss.02331)
2. If everything looks g

[2020-09-07 23:56] danielskatz commented on #2331
Thanks to @mstimberg, @dawbarton for reviewing, and @majensen for editing!

And congratulations to @tabe (Takeshi Abe) and co-author!!

[2020-09-07 23:56] #2331 closed

[2020-09-07 23:56] whedon commented on #2331
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02331/status.svg)](https://doi.org/10.21105/joss.02331)

**We need your help!**

Journal of Open Source Softwa

[2020-09-08 01:27] arose commented on #2635
Hi, @marcosvital, I can NOT review this submission.

[2020-09-08 01:37] JamesPaynter commented on #2536
@xuanxu I think there is just one last issue to close off re: instrumental dead time / using proper count data.
I must admit that I have been meaning to chase this up with @grburgess but I got distracted by another paper's referee feedback that I am addressing.

[2020-09-08 01:53] joshia5 commented on #2513
@zingale, @eloisabentivegna following are my comments and questions:

1. Explicit instructions or commands for loading modules could be given in the installation
instructions, I found that python>=3.7 might not be preloaded on all systems

2. I could not find significant commits in the repo for author John bell.

3. I could run the test case but is there a specific version requirement on Paraview

[2020-09-08 02:17] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-09-08 02:18] whedon commented on #2644
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf)

[2020-09-08 03:28] smutch commented on #2596
Hi everyone,

I just wanted to quickly give an apology for my radio silence thus far. I've just returned from annual leave and will be working my way through my review hopefully by the end of this week.

[2020-09-08 05:15] rmjarvis commented on #2538
Some comments re installation:
* I had to manually add -std=c++11 (or later).  I don't think this breaks newer compilers and is required for older ones, so I'd recommend just adding that to the Makefile.
* I hit an error compiling the demos because I didn't have CGAL installed.  Nothing in the README says that this is required, so I'd recommend at least adding that instruction to the README file.

[2020-09-08 05:26] grburgess commented on #2536
Yes, I was just waiting to see what the plans were to deal with a few of the issues I raised. Especially re: summing of detectors.

[2020-09-08 06:14] tomaslaz commented on #2474
thank you @fboehm  and @janfreyberg @craddm for the suggestions and recommendations! We are planning to work on the changes and resolve the raised issues soon.

[2020-09-08 06:40] cMadan commented on #2506
@pmkruyen, unfortunately I still haven't heard anything from @gcdeshpande

[2020-09-08 07:00] sambit-giri commented on #2582
Hi @dfm
I am unable to edit the reviewer's checklist. I don't remember if I had accepted the invitation. I apologise for it. When I try to do it now, I get the following message:
"Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

[2020-09-08 07:30] DerJH commented on #2584
Hi @JolleJolles
Just  a small comment about the "statement of need". I think it would be sufficient to basically just place a header after the first summary paragraph, as you clearly outline why you made the software there.

You could also place a similar statement of need paragraph on the front page of the software documentation and then I guess the two JOSS points about the "statement of need" w

[2020-09-08 07:37] eloisabentivegna commented on #2338
@bluescarni, thanks for checking everything!

By a manual inspection, I noticed three further missing DOIs, and created a new pull request. @arfon, do you know why these three references might have not been picked up by the automated check?

Also @arfon, is it OK that the paper "Repository" link points to the paper repository, not the pagmo/pygmo ones? If not, is there a way to fix this?

Other th

[2020-09-08 07:40] csoneson commented on #2440
👋 @neuromusic - just checking in here. Do you have an ETA for the remaining fixes? Of course, let us know if there are any questions.

[2020-09-08 07:51] arfon commented on #2338
Whedon simply uses the Crossref API to check for missing DOIs, they presumably aren't being found there...

It's not ideal but this is a consequence of having the paper in a separate repository. I would suggest directly linking to both variants of the software `pymgo` and `pagmo` in the body of the paper to make it easier for the reader.

[2020-09-08 07:59] davidhassell commented on #2531
@bradyrx

Thank you very much for taking the time to do this review - we'll get back to you in a day or two on the points that you've raised.

[2020-09-08 09:15] joannawolthuis commented on #2410
@whedon generate pdf from branch joss-paper

[2020-09-08 09:15] whedon commented on #2410
[code]

[2020-09-08 09:16] whedon commented on #2410
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02410/joss.02410/10.21105.joss.02410.pdf)

[2020-09-08 09:30] joannawolthuis commented on #2410
@lpantano Hi! There are still some bugs open, but I know from experience that that can keep going on forever, so I will not hunt for more after the ones I currently addressed are fixed, then that is done :) I would ideally like some improvements to the State of the Field section, I opened an issue here, do you agree @jkanche? https://github.com/girder/viime/issues/624

[2020-09-08 10:09] oliviaguest commented on #2640
@whedon generate pdf

[2020-09-08 10:09] whedon commented on #2640
PDF failed to compile for issue #2640 with the following error:

 Can't find any papers to compile :-(

[2020-09-08 10:10] oliviaguest commented on #2640
@whedon generate pdf from branch joss

[2020-09-08 10:10] whedon commented on #2640
[code]

[2020-09-08 10:10] whedon commented on #2640
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02640/joss.02640/10.21105.joss.02640.pdf)

[2020-09-08 10:51] JamesPaynter commented on #2536
Should we continue this discussion on my GitHub issues?

re: detector summing, is it then appropriate to have a radiation field which is convolved / folded with the triggered detector response matrices to then compare to observed counts in the Poisson likelihood?
This would work for the tte data.

I'm still not sure of a way forward using the main available datatypes (eg discsc 64ms binned data) a

[2020-09-08 11:06] jorgensd commented on #2592
Im available.

[2020-09-08 11:09] skadio commented on #2615
@danielskatz quick q: do you know how can I get the Review Checklist displayed here. I could not see a whedon command but may it's related to the review tag/stage

[2020-09-08 11:31] usethedata commented on #2625
Possible, but I'll be a bit slower than usual.  This is end of fiscal year time in the midst of a reorganization, so my work load is a bit crazy.

[2020-09-08 11:48] danielskatz commented on #2625
Thanks - that's fine

[2020-09-08 11:48] danielskatz commented on #2625
@whedon assign @usethedata as editor

[2020-09-08 11:48] whedon commented on #2625
OK, the editor is @usethedata

[2020-09-08 11:49] emilljungberg commented on #2578
# Review Summary
The `OCTOPUS` software package consists of python implementations of three different off-resonance correction methods for MRI reconstruction. The package was designed with the intention of making implementation of these methods easier to use, with the motivation that current available software packages, typically in MATLAB, are not flexible enough to accommodate different acquisit

[2020-09-08 11:49] danielskatz commented on #2615
yes, it will appear when we start the review - but you can also see https://joss.readthedocs.io/en/latest/review_checklist.html

[2020-09-08 11:52] lpantano commented on #2432
Thank you @betteridiot.
@afrubin, Did the authors addressed all your comments? Thanks.

[2020-09-08 11:53] lpantano commented on #2410
Thank you @joannawolthuis.
@jkanche, can you share your thoughts for the state of the changes? Thanks

[2020-09-08 11:54] danielskatz commented on #2582
@whedon re-invite @sambit-giri as reviewer

[2020-09-08 11:55] whedon commented on #2582
OK, the reviewer has been re-invited.

@sambit-giri please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-08 12:12] dhhagan commented on #2435
@whedon remind @gonsie in 2 days

[2020-09-08 12:12] whedon commented on #2435
Reminder set for @gonsie in 2 days

[2020-09-08 12:17] danielskatz commented on #2615
@whedon add @prw99r as reviewer

[2020-09-08 12:17] whedon commented on #2615
OK, @prw99r is now a reviewer

[2020-09-08 12:17] danielskatz commented on #2615
@whedon add @r-a-hoggarth as reviewer

[2020-09-08 12:17] whedon commented on #2615
OK, @r-a-hoggarth is now a reviewer

[2020-09-08 12:19] danielskatz commented on #2615
👋 @prw99r & @r-a-hoggarth - thanks for agreeing to review - I've added you, and we'll now start the review, which will be in a different issue

[2020-09-08 12:20] danielskatz commented on #2615
@whedon start review

[2020-09-08 12:21] whedon opened #2646 "[REVIEW]: CircuitGraph: A Python package for Boolean circuits"
**Submitting author:** @jpsety (<a href="http://orcid.org/0000-0002-3775-8638">Joseph Sweeney</a>)
**Repository:** <a href="https://github.com/circuitgraph/circuitgraph" target ="_blank">https://github.com/circuitgraph/circuitgraph</a>
**Version:** v0.0.3
**Editor:** @danielskatz
**Reviewer:** @skadio, @prw99r, @r-a-hoggarth
**Archive:** <a href="https://doi.org/10.5281/zenodo.4302741" target="_bl

[2020-09-08 12:21] whedon commented on #2615
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2646.

[2020-09-08 12:21] #2615 closed

[2020-09-08 12:21] whedon commented on #2646
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @skadio, @prw99r, @r-a-hoggarth it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2020-09-08 12:21] whedon commented on #2646
[code]

[2020-09-08 12:21] whedon commented on #2646
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02646/joss.02646/10.21105.joss.02646.pdf)

[2020-09-08 12:21] jkanche commented on #2410
Most of the issues I had before were addressed. I agree with @joannawolthuis on the "Related Work" section. The focus of this section has been based on one tool - MetaboAnalyst. I think it would be great if the authors can talk about other metabolomics tools out there.

[2020-09-08 12:23] danielskatz commented on #2646
👋 @skadio, @prw99r, @r-a-hoggarth - Thanks again for agreeing to review.  Please read the comments above before starting.

This is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There

[2020-09-08 12:28] VivianePons commented on #2183
@whedon set v1.1.4 as version

[2020-09-08 12:28] whedon commented on #2183
OK. v1.1.4 is the version.

[2020-09-08 12:29] VivianePons commented on #2183
@whedon set 10.5281/zenodo.4017949 as archive

[2020-09-08 12:29] whedon commented on #2183
OK. <a href="https://doi.org/10.5281/zenodo.4017949" target="_blank">10.5281/zenodo.4017949</a> is the archive.

[2020-09-08 12:29] VivianePons commented on #2183
@whedon accept

[2020-09-08 12:30] whedon commented on #2183
[code]

[2020-09-08 12:30] whedon commented on #2183
[code]

[2020-09-08 12:30] whedon commented on #2183
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1719

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1719, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-08 12:33] VivianePons commented on #2463
Hi @felixcremer and @daviddewhurst do you think you'll have time to work on this review soon enough?

Do not hesitate to post comments to the author even if your review is not finished

[2020-09-08 12:53] danielskatz commented on #2183
@VivianePons - just to check, you've proofread this and it's ready to go in your opinion?

[2020-09-08 12:58] VivianePons commented on #2183
Yes!

[2020-09-08 13:17] danielskatz commented on #2183
@whedon accept deposit=true

[2020-09-08 13:17] whedon commented on #2183
[code]

[2020-09-08 13:18] whedon commented on #2183
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1303321861443457024) 👈 🐦🐦🐦

[2020-09-08 13:18] whedon commented on #2183
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1720
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02183](https://doi.org/10.21105/joss.02183)
2. If everything looks g

[2020-09-08 13:19] danielskatz commented on #2600
@kakearney is not an editor?  Maybe you meant @kakiac ?

[2020-09-08 13:20] danielskatz commented on #2600
👋 @kakiac - can you edit this submission?

[2020-09-08 13:22] whedon opened #2647 "[PRE REVIEW]: medrxivr: Accessing and searching medRxiv and bioRxiv preprint data in R"
**Submitting author:** @mcguinlu (<a href="http://orcid.org/0000-0001-8730-9761">Luke A McGuinness</a>)
**Repository:** <a href="https://github.com/ropensci/medrxivr" target ="_blank">https://github.com/ropensci/medrxivr</a>
**Version:** v0.0.3
**Editor:** @danielskatz
**Reviewers:** @danielskatz
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2020-09-08 13:22] whedon commented on #2647
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-08 13:22] whedon opened #2648 "[PRE REVIEW]: dymos: A Python package for optimal control of multidisciplinary systems"
**Submitting author:** @robfalck (<a href="http://orcid.org/0000-0001-9864-4928">Rob Falck</a>)
**Repository:** <a href="https://github.com/OpenMDAO/dymos" target ="_blank">https://github.com/OpenMDAO/dymos</a>
**Version:** v0.16.0
**Editor:** @dpsanders
**Reviewers:** @goerz, @thowell
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-09-08 13:23] whedon commented on #2648
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-08 13:23] whedon opened #2649 "[PRE REVIEW]: PyCS3: A Python toolbox for time-delay measurements in lensed quasars"
**Submitting author:** @martin-millon (<a href="http://orcid.org/0000-0001-7051-497X">Martin Millon</a>)
**Repository:** <a href="https://gitlab.com/cosmograil/PyCS3" target ="_blank">https://gitlab.com/cosmograil/PyCS3</a>
**Version:** v3.0.2
**Editor:** @arfon
**Reviewers:** @danhey, @coljac
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-09-08 13:23] whedon commented on #2649
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-08 13:23] whedon opened #2650 "[PRE REVIEW]: pd-parser: A tool for Matching Photodiode Deflection Events to Time-Stamped Events"
**Submitting author:** @alexrockhill (<a href="http://orcid.org/0000-0003-3868-7453">Alexander Rockhill</a>)
**Repository:** <a href="https://github.com/alexrockhill/pd-parser" target ="_blank">https://github.com/alexrockhill/pd-parser</a>
**Version:** 0.1
**Editor:** @oliviaguest
**Reviewers:** @rougier, @rly
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due

[2020-09-08 13:23] whedon commented on #2647
[code]

[2020-09-08 13:23] whedon commented on #2650
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-08 13:23] whedon commented on #2647
Failed to discover a `Statement of need` section in paper

[2020-09-08 13:23] whedon commented on #2647
[code]

[2020-09-08 13:24] whedon commented on #2648
Failed to discover a `Statement of need` section in paper

[2020-09-08 13:24] danielskatz commented on #2183
Thanks to @mzszym & @victorvalgenti for reviewing, and @VivianePons for editing!

Congratulations to @miketuri (Michael Turi)!!

[2020-09-08 13:24] #2183 closed

[2020-09-08 13:24] whedon commented on #2648
[code]

[2020-09-08 13:24] whedon commented on #2648
[code]

[2020-09-08 13:24] whedon commented on #2183
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02183/status.svg)](https://doi.org/10.21105/joss.02183)

**We need your help!**

Journal of Open Source Softwa

[2020-09-08 13:24] whedon commented on #2647
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02647/joss.02647/10.21105.joss.02647.pdf)

[2020-09-08 13:24] whedon commented on #2649
[code]

[2020-09-08 13:25] whedon commented on #2649
[code]

[2020-09-08 13:25] whedon commented on #2648
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02648/joss.02648/10.21105.joss.02648.pdf)

[2020-09-08 13:26] whedon commented on #2650
[code]

[2020-09-08 13:26] whedon commented on #2650
[code]

[2020-09-08 13:26] whedon commented on #2649
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02649/joss.02649/10.21105.joss.02649.pdf)

[2020-09-08 13:26] whedon commented on #2650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02650/joss.02650/10.21105.joss.02650.pdf)

[2020-09-08 13:34] danielskatz commented on #2552
👋  @rafaelfsilva - would you be willing to review this submission (short paper and software) for JOSS?  (See https://joss.readthedocs.io/en/latest/reviewer_guidelines.html for more on what this means)

[2020-09-08 13:37] danielskatz commented on #2552
👋 @julianpistorius & @satybald - would either of you be wiling to review this submission for JOSS?

[2020-09-08 13:43] danielskatz commented on #2650
👋 @alexrockhill - please add something to the README that explains how this is research software.  What kinds of researchers need this software? (this is in the paper)

Also, note that some images in the README seem broken

[2020-09-08 13:46] danielskatz commented on #2650
👋 @oliviaguest - would you be willing to edit this submission?

[2020-09-08 13:47] danielskatz commented on #2650
@whedon invite @oliviaguest as editor

[2020-09-08 13:47] whedon commented on #2650
@oliviaguest has been invited to edit this submission.

[2020-09-08 13:50] sambit-giri commented on #2582
Hi @steven-murray
Here are a few comments on the software paper:

1. In paragraph 1, you say “Between these extremes lies an especially versatile middle-ground: fast semi-numerical models that approximate the full 3D evolution of the relevant fields: density, velocity, temperature, ionization, and radiation.” It is not clear which radiation you are talking about.
2. In paragraph 1, you say  “...so

[2020-09-08 13:52] danielskatz commented on #2649
👋 @martin-millon - Is this submission associated with a AAS paper submission?

[2020-09-08 13:53] danielskatz commented on #2649
@whedon invite @dfm as editor

[2020-09-08 13:53] whedon commented on #2649
@dfm has been invited to edit this submission.

[2020-09-08 13:55] danielskatz commented on #2648
👋 @robfalck - please add an explicit "Statement of need" section

[2020-09-08 13:58] arfon commented on #2649
@danielskatz - I can take this one.

[2020-09-08 13:58] arfon commented on #2649
@whedon assign me as editor

[2020-09-08 13:58] whedon commented on #2649
OK, the editor is @arfon

[2020-09-08 13:59] danielskatz commented on #2648
👋 @meg-simula - would you be willing to edit this submission?

[2020-09-08 13:59] arfon commented on #2649
:wave: @martin-millon if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-09-08 13:59] danielskatz commented on #2648
@whedon invite @meg-simula as editor

[2020-09-08 13:59] whedon commented on #2648
@meg-simula has been invited to edit this submission.

[2020-09-08 14:01] jboynyc commented on #2594
Thanks, @tresoldi! I will push a new version of the paper by the end of the week adding a more detailed statement of need to the background section and doing my best to fix figure placement. I'll let you know when I'm ready.

I also really like your idea of creating a Conda package. I've started looking into it.

[2020-09-08 14:01] danielskatz commented on #2647
@whedon query scope

[2020-09-08 14:01] whedon commented on #2647
Submission flagged for editorial review.

[2020-09-08 14:03] meg-simula commented on #2648
@danielskatz Thanks for the suggestion - but I would like to advance some with my on-going submission before taking another one on.

[2020-09-08 14:11] agisga commented on #2634
Hi @pdebuyl, I would be interested to review this paper but am not sure whether I can find sufficient amount of time for it in the next couple of weeks. What would be the review timeline (duration)?

[2020-09-08 14:15] danielskatz commented on #2648
👋 @katyhuff - any chance you could help out JOSS and edit this submission?

[2020-09-08 14:15] danielskatz commented on #2648
@whedon invite @katyhuff as editor

[2020-09-08 14:16] whedon commented on #2648
@katyhuff has been invited to edit this submission.

[2020-09-08 14:19] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila thanks for your help here. Would you be able to log in to GitHub and to comment in this issue with your findings? Also you should be able to tick the boxes related to the review items at the top of this issue (let me know if you are not able to tick them). Let me know if you have any questions.

[2020-09-08 14:21] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch please can you finalize this review at your earliest convenience? Thanks again for your help.

[2020-09-08 14:40] mcguinlu commented on #2647
This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/380<https://github.com/ropensci/software-review/issues/380#issue-comment-box> @ropensci/editors
________________________________
From: whedon <notifications@github.com>
Sent: Tuesday, September 8, 2020 3:01:59 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Luke McGuinness <luke.mc

[2020-09-08 14:44] danielskatz commented on #2647
Ok, thanks - that's important to know, as it changes the path forward

[2020-09-08 14:45] danielskatz commented on #2647
@whedon assign @danielskatz as editor

[2020-09-08 14:45] whedon commented on #2647
OK, the editor is @danielskatz

[2020-09-08 14:45] danielskatz commented on #2647
@whedon assign @danielskatz as reviewer

[2020-09-08 14:45] whedon commented on #2647
OK, @danielskatz is now a reviewer

[2020-09-08 14:45] danielskatz commented on #2647
@whedon start review

[2020-09-08 14:45] whedon opened #2651 "[REVIEW]: medrxivr: Accessing and searching medRxiv and bioRxiv preprint data in R"
**Submitting author:** @mcguinlu (<a href="http://orcid.org/0000-0001-8730-9761">Luke A McGuinness</a>)
**Repository:** <a href="https://github.com/ropensci/medrxivr" target ="_blank">https://github.com/ropensci/medrxivr</a>
**Version:** v0.0.3
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3860023" target="_blank">10.5281/zenodo.3860023</a

[2020-09-08 14:45] whedon commented on #2647
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2651.

[2020-09-08 14:45] #2647 closed

[2020-09-08 14:45] whedon commented on #2651
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2020-09-08 14:45] whedon commented on #2651
[code]

[2020-09-08 14:46] whedon commented on #2651
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02651/joss.02651/10.21105.joss.02651.pdf)

[2020-09-08 14:57] lnferris commented on #2497
I have fixed and closed "Bathymetry plotting along a transect (lnferris/ocean_data_tools#19)".

[2020-09-08 15:18] KristinaRiemer commented on #2575
Any progress on the guest accounts, @holukas?

[2020-09-08 15:20] KristinaRiemer commented on #2424
@kullrich do you have any questions about these documentation/paper improvements? These should be fairly minor and straightforward to implement.

[2020-09-08 15:21] lnferris commented on #2497
I have fixed and closed "DOI for each release  (lnferris/ocean_data_tools#33)".

[2020-09-08 15:36] rmjarvis commented on #2538
Now some tests on a linux box.  Specifically Scientific Linux release 7.3:
* Test suite runs but fails.  The failures seem to be from testing double precision equality for things that are not exactly equal at machine precision.  Probably just the unit tests should be testing with some tolerance in the difference (say 1.e-12)
[code]
* The demos sersic, banana, and imganalysis compiled fine after ad

[2020-09-08 15:36] kthyng commented on #2640
Ok thanks @xuanxu, that makes sense. @oliviaguest thanks for updating accordingly.

[2020-09-08 15:40] Manolomon commented on #2635
Hi, @marcosvital. I just updated the repository to meet the review criteria.
And thanks to @SteveViss and @arose for their answers.

[2020-09-08 15:40] Manolomon commented on #2635
@whedon generate pdf

[2020-09-08 15:41] whedon commented on #2635
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02635/joss.02635/10.21105.joss.02635.pdf)

[2020-09-08 15:43] FelixHenninger commented on #2635
Thanks everyone, and apologies for the late response, I'm glad you have this covered already! 👍

[2020-09-08 15:51] rmjarvis commented on #2538
Onto a third system now: SUSE Linux Enterprise Server 15, which has gcc 8.3.0.
* The unit tests compiled and ran successfully.
* I had to add the right `-I` and `-L` locations manually to tell it where CCfits and CGAL were installed.  But then `banana`, `sersic` and `imganalysis` all built successfully.
* `ppanalysis` compiled successfully, but failed the linking step:
[code]
I see a number of lib

[2020-09-08 16:10] fboehm commented on #2521
@whedon add @jacobsoj as reviewer

[2020-09-08 16:10] whedon commented on #2521
OK, @jacobsoj is now a reviewer

[2020-09-08 16:14] ali-ramadhan commented on #2018
Oceananigans v0.36.0 has been archived on Zenodo with the following DOI: [10.5281/zenodo.4019272](https://doi.org/10.5281/zenodo.4019272)

I've edited the authors of the Zenodo entry to reflect the author list on the software paper but I don't think the change has been reflected in the Zenodo page yet?

[2020-09-08 16:14] ali-ramadhan commented on #2018
@whedon set v0.36.0 as version

[2020-09-08 16:15] whedon commented on #2018
I'm sorry @ali-ramadhan, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-09-08 16:15] ali-ramadhan commented on #2018
Ah sorry was just hoping to bump the version to v0.36.0 to reflect the Zenodo entry.

[2020-09-08 16:17] pfeiffea commented on #2341
@kthyng let us know if these changes adequately address @zsylvester 's comments.

If so, what are our next steps?

[2020-09-08 16:25] jeffcsauer commented on #2450
@whedon generate pdf

[2020-09-08 16:25] whedon commented on #2450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02450/joss.02450/10.21105.joss.02450.pdf)

[2020-09-08 16:27] jeffcsauer commented on #2450
Hi @edonnachie,

Thank you so much for the detailed comments! They were very helpful for improving the paper. I have updated the `paper.md` with several changes and provide responses to each of your comments below.

---

*Author responses to reviewer comments:*

This is an excellent point. I have done a few things to address your comment. Firstly, I rewrote the opening of the introduction to conte

[2020-09-08 16:28] lnferris commented on #2497
I have fixed and closed "general_depth_subset z-axis (lnferris/ocean_data_tools#20)".

[2020-09-08 16:33] TheoChristiaanse opened #2652 "@TheoChristiaanse Thanks for your submission! A very quick initial comment is that was not straightforward for me to:"
@TheoChristiaanse Thanks for your submission! A very quick initial comment is that was not straightforward for me to:

1. find the documentation (the links to the notebooks and tutorials at https://besos.uvic.ca/#documentation don't work )
2. understand which parts of this can be run offline and how that relates to what you describe as the "cloud-based portal" -- is what you offer online simply a

[2020-09-08 16:33] whedon commented on #2652
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-08 16:33] whedon commented on #2652
PDF failed to compile for issue #2652 with the following error:

 Can't find any papers to compile :-(

[2020-09-08 16:34] TheoChristiaanse commented on #2620
Thanks for the notification. I've noticed that the docs haven't been merged yet. Will fix ASAP.

[2020-09-08 16:39] cMadan commented on #2506
Fyi. I heard back from @gcdeshpande by email and he said he will do the review within the next 15 days.

[2020-09-08 16:48] arfon commented on #2652
@TheoChristiaanse - please do not open new issues on this repository. Make your comments in the dedicated review thread for this paper: https://github.com/openjournals/joss-reviews/issues/2620#issuecomment-686974509

[2020-09-08 16:48] #2652 closed

[2020-09-08 17:08] sayanddude commented on #2278
@whedon generate pdf

[2020-09-08 17:10] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-09-08 17:15] sayanddude commented on #2278
Hi @pat-s  , Thanks for your comments! I have addressed all the comments and updated both the manuscript and the package. The latest pdf is generated above.  Please find below my response to each of your comments.
-------------------------------------------------------------------------------------------------------------------

**Package Structure**
•	Roxygen version is outdated- Thanks for point

[2020-09-08 17:19] sayanddude commented on #2278
Hi @dfm, sorry it took us some time to update the package and address some of teh concerns of the reviewers in the paper. Please find above the latest pdf and my response to the comments of the second reviewer. We have addressed the comments of both the reviewers. Please "un-pause" this thread and let us know the next steps.

Thanks and Regards,
Sayan

[2020-09-08 17:57] majensen commented on #2643
Wow @xin-huang and @tkchafin, you may have set some kind of record. Thanks very much.

[2020-09-08 18:15] diehlpk commented on #2577
Thanks @chennachaos.

[2020-09-08 18:15] diehlpk commented on #2577
@ilyasst Do you like to add something?

[2020-09-08 18:39] diehlpk commented on #2577
`There is not much one can do with this library. The type of problems that can be readily solved using this library is very limited. In fact, it is limited to a problem with a single rod with prescribed force and coupled to another discrete oscillator model. This code is not for direct numerical simulations of the interaction of thin rods with fluid flow. Considering the dimensionality of the prob

[2020-09-08 18:48] jgostick commented on #2563
Hi @mkhorton and @srmnitc
How is the review coming along?  I see many 'unchecked' check boxes in the list above...are you having any difficulties with this software?

[2020-09-08 18:52] jgostick commented on #2601
Hello @keipertk ...you've listed yourself as a potential reviewer for molecular dynamics software, but according to the JOSS statistics, have not done one yet.  Would you be interested and available to do review this submission?

[2020-09-08 18:53] danielskatz commented on #2616
👋 @fcdimitr  - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort] criteria for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2020-09-08 18:53] danielskatz commented on #2616
@whedon reject

[2020-09-08 18:53] whedon commented on #2616
Paper rejected.

[2020-09-08 18:53] #2616 closed

[2020-09-08 18:54] danielskatz commented on #2622
👋 @kevinblighe  - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort] criteria for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2020-09-08 18:54] keipertk commented on #2601
Yes sure

[2020-09-08 18:55] danielskatz commented on #2622
@whedon reject

[2020-09-08 18:55] whedon commented on #2622
Paper rejected.

[2020-09-08 18:55] #2622 closed

[2020-09-08 18:58] danielskatz commented on #2627
👋 @SJaffa - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2020-09-08 18:58] danielskatz commented on #2627
@whedon reject

[2020-09-08 18:58] whedon commented on #2627
Paper rejected.

[2020-09-08 18:58] #2627 closed

[2020-09-08 18:59] danielskatz commented on #2636
👋 @GLOrozcoM - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pac

[2020-09-08 18:59] danielskatz commented on #2636
@whedon reject

[2020-09-08 18:59] whedon commented on #2636
Paper rejected.

[2020-09-08 18:59] #2636 closed

[2020-09-08 18:59] jgostick commented on #2601
@keipertk, thanks for the positive and expedient reply!  I need to find a second reviewer, then I will start the official review in a new issue...stay posted.

[2020-09-08 18:59] jgostick commented on #2601
Hello @tonigi, you are listed as a potential volunteer reviewer for JOSS, and according to our spreadsheet of statistics, haven't had the pleasure of doing one yet.  Would you be interested/available to review this submission?

[2020-09-08 18:59] danielskatz commented on #2632
👋 @JSSpaulding - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-p

[2020-09-08 18:59] danielskatz commented on #2632
@whedon reject

[2020-09-08 18:59] whedon commented on #2632
Paper rejected.

[2020-09-08 18:59] #2632 closed

[2020-09-08 19:04] rafaelfsilva commented on #2552
@danielskatz I will be happy to do this review. I will try to finalize it in the upcoming 2 weeks (most probably sooner).

[2020-09-08 19:13] danielskatz commented on #2588
@whedon generate pdf

[2020-09-08 19:13] whedon commented on #2588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02588/joss.02588/10.21105.joss.02588.pdf)

[2020-09-08 19:13] tonigi commented on #2601
Hm... I'm more on the biomolecular side, so not a perfect match, but can still do a technical review if necessary.

[2020-09-08 19:14] danielskatz commented on #2600
@mikldk  - I'm going to assign this to you, based on your semi-willingness and the fact that @kakiac also has another request right now.  Thanks!

[2020-09-08 19:14] danielskatz commented on #2600
@whedon assign @mikldk as editor

[2020-09-08 19:14] whedon commented on #2600
OK, the editor is @mikldk

[2020-09-08 19:19] danielskatz commented on #2588
In the statement of need section, I see a "dnamic" that should be "dynamic".  Also, can you add a little about of the kind of problems that can be solved with this software, and the kinds of researchers who need to solve them, remembering that the editors/reviewers/readers are a very diverse group in terms of their disciplinary expertise.

[2020-09-08 19:20] rmjarvis commented on #2538
Some high-level comments, mostly about the paper and documentation:
* You piqued my interest about the utility of this package with some statements about how it provides a richer description of the shape or geometry of objects than say the 2d inertia.  I work in gravitational lensing, so we regularly use 2d moments to describe the shape (and indirectly the shear) of galaxies.  It works well for we

[2020-09-08 19:22] mkhorton commented on #2563
Hi @jgostick, no major issues, just a few integration tests not running. Need to re-compile a dependency (castep) first :-)

For @ml-evs, only comment for testing is to add a note about `test_requirements.txt` in the testing instructions.

[2020-09-08 19:23] vincentberenz commented on #2459
@gkthiruvathukal Hi, any chance this may go forward ?

[2020-09-08 19:25] danielskatz commented on #2588
👋 @kyleniemeyer - would you be willing to take this as the editor?

[2020-09-08 19:25] danielskatz commented on #2588
@whedon invite @kyleniemeyer as editor

[2020-09-08 19:25] whedon commented on #2588
@kyleniemeyer has been invited to edit this submission.

[2020-09-08 19:27] danielskatz commented on #2552
Thanks @rafaelfsilva - I will assign you, but we will not start the review (in a new issue) once we get another reviewer as well.

[2020-09-08 19:27] danielskatz commented on #2552
@whedon assign @rafaelfsilva as reviewer

[2020-09-08 19:27] whedon commented on #2552
OK, @rafaelfsilva is now a reviewer

[2020-09-08 19:28] katyhuff commented on #2648
I could take this on, but I'm stretched a little thin at the moment and I think dpsanders might be a closer fit for this submission if he's available.

[2020-09-08 19:29] danielskatz commented on #2282
Does that translate into American as "I'll get back to my review soon"? 🙂

[2020-09-08 19:34] danielskatz commented on #2648
👋 @dpsanders - are you willing to edit this submission?

[2020-09-08 19:34] danielskatz commented on #2648
@whedon invite @dpsanders as editor

[2020-09-08 19:34] whedon commented on #2648
@dpsanders has been invited to edit this submission.

[2020-09-08 19:35] gkthiruvathukal commented on #2459
Hi @vincentberenz. Yes, it will more forward. I need a second reviewer. Thank you for your patience. Trying to keep up with everything as my academic year started two weeks ago. Going to invite anotehr now to join @giodegas.

[2020-09-08 19:35] gkthiruvathukal commented on #2459
@carlosjoseRG Are you willing to contribute a review for this JOSS submission?

[2020-09-08 19:39] ml-evs commented on #2563
Good spot, thanks. Let me know if there's any trouble with CASTEP and/or the integration tests.

[2020-09-08 20:07] rajeshrinet commented on #2604
@ kyleniemeyer I have now gone through the paper and successfully installed the library from the GitHub repo. The paper is well-written and the sofware looks very good! Please can I request the authors to respond to my following comments such that I can complete my review checklist:

1. The **installation** works as indicated on the [docs](https://opendrop.readthedocs.io/en/latest/getting_started/

[2020-09-08 20:28] chainsawriot commented on #2461
Dear @arfon,

I've contacted both the editor @kakiac and the reviewer @mbod about it through Github and e-mail and there is nothing going on with this review. Could you assign another reviewer? Thank you very much!

Regards,
Chung-hong Chan

[2020-09-08 20:32] chainsawriot commented on #2521
@fboehm I just want to make sure that I don't need to take any action about the above changes, right?

[2020-09-08 20:43] TheoChristiaanse commented on #2620
should be fixed now!

[2020-09-08 20:51] pitsianis commented on #2616
Dear @danielskatz @kthyng @labarba

We are surprised by the automatic or semi-supervised  rejection.
1. We have followed the JOSS criteria carefully.
2. The released software is the result of intense effort by the authors, since early March. Its quality and value cannot be measured by the development time length, nor by the code length. We actually paid extra attention to make the code as light-we

[2020-09-08 20:57] kbarnhart commented on #2276
@KevinShook I wanted to check in and see how things were going with addressing reviewer comments.

[2020-09-08 21:03] skapfer commented on #2538
Wow, thank you for the huge amount of feedback, Mike! First of all I'd like to point out that I've never received so valuable and extensive feedback in peer review. Thank you for that!

About C++11: This is quite tough news. We just removed -std=c++11 from the Makefile because it broke CGAL 5 support, which was requested by the other referee, Ken. C++ on Unixes does seem to be moving at a quick pa

[2020-09-08 21:08] KevinShook commented on #2276
Thanks for getting in touch.
I just merged a pull request today which should have all of the fixes to date.
The GUI has been converted from Python 2 to 3, and no-longer crashes.
I believe that the style issues have also been addressed.
The main outstanding issues are a) there's still one warning left to fix, and b) although we have a makefile, it's not included as it needs a bit of work.
The paper

[2020-09-08 21:17] arfon commented on #2461
@chainsawriot - I'll follow up and with @kakiac myself to see what we can do to help move this along.

For your information, six weeks is a _guideline_ for reviewers, not a hard time limit.

[2020-09-08 21:22] arfon commented on #2471
@ysohn - I've just emailed @kakiac to ask her to check in with this submission.

[2020-09-08 21:23] rmjarvis commented on #2538
Ah, I didn't realize this.  I'm used to reading significantly longer papers, so this paper felt very short to me.  But if that's the case, probably my suggestions about increasing the scope of the paper are off base.  Maybe just some quick overviews of some of the ways you can use the code for science then, with pointers to the relevant papers that use these techniques for people to read up on fur

[2020-09-08 21:25] edonnachie commented on #2450
Hi @jeffcsauer ,

Thanks for the detailed response, the updated paper looks good and better explains some of the background. I'm almost through with the review and hope to complete by the end of the week.

@bmcfee : I can't edit the reviewer checklist above; my invitation has expired. Do you need to issue a new invitation or am I missing something?

[2020-09-08 21:28] danielskatz commented on #2450
@whedon re-invite @edonnachie as reviewer

[2020-09-08 21:28] whedon commented on #2450
OK, the reviewer has been re-invited.

@edonnachie please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-08 21:52] edonnachie commented on #2450
Thank you @danielskatz. I am now able to edit.

[2020-09-08 22:51] holukas commented on #2575
@KristinaRiemer Sorry to keep you waiting, there were some surprising obstacles to overcome that should be solved now. @mccabete Can you get in contact with my via email (_lukas.hoertnagl [at] usys.ethz.ch_) so we can set up the guest account?

[2020-09-08 22:59] emilyriederer commented on #2634
Hi @pdebuyl , I would love to help and this project looks very interesting. Unfortunately, I'd have to admit that it is far enough out of my domain that I worry I would add much of substance.

[2020-09-09 00:58] mou3adb commented on #2577
Hi @diehlpk and @chennachaos. Thank you for these replies. Please consider the responses below, we clarified the points that we think raised confusion.

For the claim that `There is not much one can do with this library`, we say first that RodiCS is not a 'single-function package' nor a 'thin API client.' RodiCS can reproduce the modelling results of the following papers (Buchak, Eloy, & Reis, 201

[2020-09-09 01:34] jgostick commented on #2601
@tonigi, No probs, I'll keep looking, but may circle back to you if I can't find anyone.

[2020-09-09 01:39] jgostick commented on #2601
Hi @pszi1ard, would you be interested/available in reviewing this submission?  You're listed as an volunteer with expertise in the area, and have not done a review yet, so this is your chance ;-)

[2020-09-09 02:49] dormezil commented on #2528
The software works and is useful for working with ARDL models. There is a typo in the 2nd paragraph, "Next, the parameters [are] used ...."

[2020-09-09 03:03] ilyasst commented on #2577
I am sorry about the delay (classes 😅). I have filled my review section.
Thank you for the previous review and responses @chennachaos and @mou3adb. I believe that in this current state, this code does not seem ready for publication in JOSS. The main comment I have is regarding the current way the code is written (structure and format). The code presented here is a collection of scripts that contai

[2020-09-09 05:37] sayanddude commented on #2278
@whedon generate pdf

[2020-09-09 05:38] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-09-09 05:45] hugoledoux commented on #2538
Indeed, we try to keep the paper <1000words. The software and the docs are the main results for JOSS.

[2020-09-09 05:50] hugoledoux commented on #2538
This sounds good. There was a discussion among JOSS editors whether software should use the latest version libraries, and yes we'd prefer that very much. The discussion was whether Python2.7 should be the only Python supported, and the answer was a clear no, Python3 ought to be supported. For CGAL, v5 would be nice, but indeed I can imagine that 4.x is still used if compilers are older.

[2020-09-09 05:55] kullrich commented on #2424
No, there was just no time due to two kids at home and COVID-19 pandemic regulations for school and kindergarden in Germany.

--
Kristian Ullrich, Ph.D.
Scientific IT group
Department of Evolutionary Genetics
Max Planck Institute for Evolutionary Biology
August Thienemann Str. 2
24306 Plön
Germany
+49 4522 763 313
ullrich@evolbio.mpg.de

--
CONFIDENTIALITY NOTICE:
The contents of this email messag

[2020-09-09 07:27] ysohn commented on #2471
@arfon Thank you very much!

[2020-09-09 07:39] ketch commented on #2515
@fruzsinaagocs Thanks again for the detailed and thorough review.  If you let me know more specifically what you're hoping to test regarding dense output, I can probably add the needed functionality or documentation to the package.

[2020-09-09 07:46] srmnitc commented on #2563
@jgostick No problems here too. Sorry, I just got delayed with other things and did not yet check the code. I plan to go through this week.

[2020-09-09 08:22] KathrynJones1 commented on #2382
Hi @xuanxu, apologies, I have been moving countries this past week and have not got round to this yet, I will get back to you within the week with the DOI.

[2020-09-09 08:37] wingtorres commented on #2515
@VivianePons sorry for the delay! I was out for a few weeks. I will have time to work on this next week

[2020-09-09 08:51] martin-millon commented on #2649
@danielskatz This submission is not associated with any particular AAS publication but we used this software for several of our papers published in Astronomy & Astrophysics.

@arfon I think that the reviewer would need some knowledge in astronomy, cosmology and python. Based on your list, I would suggest as potential reviewer : cavestruz, Teuben, astrom-tom, coljac, danhey, aureliocarner, Deech08,

[2020-09-09 08:54] will-rowe commented on #2493
Thanks @CFGrote - that's brilliant. I'll track down one more reviewer and then we'll start

[2020-09-09 09:05] pdebuyl commented on #2634
@agisga the expected review time is currently of six weeks. It is usually a bit shorter (four weeks) but is extended until the working conditions improve in regard to the covid-19 pandemic. Let me know if that would work for you.

[2020-09-09 09:06] pdebuyl commented on #2634
@emilyriederer thank you for the quick reply! You may want to unsubscribe from this issue thread, else you will keep receiving emails while I look for other reviewers.

[2020-09-09 09:09] arfon commented on #2649
:wave: @coljac, @cavestruz, @danhey - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-09-09 09:23] labarba commented on #2616
hi 👋  — I'm not sure why I was tagged on this Pre-Review, as I was not on AEiC rotation when this was processed, nor involved in the discussions... But let me clarify that when a submission is labeled with `query-scope` due to its size, we have a process behind the scenes where members of the editorial board inspect the submission and vote on it going to review or not. What is automatic is the sof

[2020-09-09 10:50] leouieda commented on #2236
👋🏽 Hi @lheagy would you be interested in reviewing this submission? I know it's a bit outside your field but I would appreciate your perspective on this.

[2020-09-09 11:02] marcosvital commented on #2635
Thank you so much, @SteveViss, we will let you know when you are ready.

@arose, thank you for your prompt reply.

@FelixHenninger, we actually need two or three reviewers, so let us know if you are available, ok?

[2020-09-09 12:16] mjsull commented on #2451
Hi @will-rowe

I think I've addressed everything. Please find my comments for each reviewer in their issue threads.

https://github.com/mjsull/chromatiblock/issues/10
https://github.com/mjsull/chromatiblock/issues/12

Best,

Mitch

[2020-09-09 12:49] fruzsinaagocs commented on #2515
I'm specifically looking for testing the efficiency of the continuous extension of Runge-Kutta formulas. To compare efficiencies of two formulas, [Shampine: Some practical Runge-Kutta formulas](https://doi.org/10.2307/2008219 ) offers a method in Section 3. "Interpolation", based on the truncation error coefficients of the formula, expressions for which Chapter 6 of [Hall, Watt: Modern numerical m

[2020-09-09 12:59] rpetit3 commented on #2451
@mjsull everything looks great! I have merged your latest release into Bioconda (https://github.com/bioconda/bioconda-recipes/pull/24287). Once its synced to Anaconda's CDN, I'll give it a test run and report back (hopefully today).

[2020-09-09 13:02] ThomasLecocq commented on #2236
Heyyyyyyyyyyyyyyy seems I was ping'ed here 👍
I can do it !

[2020-09-09 13:12] danielskatz commented on #2588
👋 @bstabler - would you be able to edit this submission?  @kyleniemeyer thinks you are a better fit than him, but if not, he will edit it

[2020-09-09 13:13] danielskatz commented on #2588
@whedon invite @bstabler as editor

[2020-09-09 13:13] whedon commented on #2588
@bstabler has been invited to edit this submission.

[2020-09-09 13:48] diehlpk commented on #2577
@mou3adb having the second review, I really think that the code is not in the shape to be considered for a publication in JOSS. Note that a JOSS publication is about the source code, in your case the Python code. I do believe that the research you have done is good and interesting, however, you got credit for that in your master thesis and the publication under review. I recommend to not accept th

[2020-09-09 13:56] diehlpk commented on #2599
Hi @ziotom78 and @andremrsantos how are your reviews going?

[2020-09-09 13:57] diehlpk commented on #2514
Hi @emconsta @debdeepbh @gardner48 how is your review going? Please let me know if I can assist in any way.

[2020-09-09 14:58] coatless commented on #2634
@pdebuyl more than happy to review the software! I'm excited to see an improvement in copula estimation within _R_.

[2020-09-09 15:03] frederickgosselin commented on #2577
I would like to thank the reviewers and editor for their time and their feedback.

[2020-09-09 15:49] diehlpk commented on #2403
@sritchie How are things going? When do you estimate to finalize the submission?

[2020-09-09 15:58] jmuhlich commented on #2579
Regarding the comparison to other tools, we thought the reference to our other publication Rashid 2020 (in review at another journal) would be sufficient -- that work surveys the field much more comprehensively than we have room for here. Would you prefer we include a small summary of that review in this manuscript? If not, we can at least make it more clear in the text that this information can b

[2020-09-09 16:05] sbenthall commented on #2445
@whedon accept

[2020-09-09 16:05] whedon commented on #2445
[code]

[2020-09-09 16:06] whedon commented on #2445
[code]

[2020-09-09 16:06] whedon commented on #2445
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1721

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1721, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-09 16:06] sbenthall commented on #2445
Your submission is accepted, @strengejacke

Thank you for your article!

[2020-09-09 16:10] sbenthall commented on #2528
@andyphilips can you please make the corrections based on the second review?

[2020-09-09 16:22] lnferris commented on #2497
I have fixed and closed "Unsuppressed command window output (lnferris/ocean_data_tools#23)".

[2020-09-09 16:28] sritchie commented on #2403
Hey @diehlpk , apologies, I had seen the first item but not the checklist. I should be able to finalize this in the next couple of days!

[2020-09-09 16:32] strengejacke commented on #2445
Thanks for editing this publication!

[2020-09-09 16:33] danielskatz commented on #2445
@sbenthall - FYI, this is not accepted, it's "recommended for acceptance".  See the label...

Accepted happens when it is published, which I hope will happen soon :)

[2020-09-09 16:35] danielskatz commented on #2445
@strengejacke  - please update the metadata in the Zenodo archive so that the title matches the paper title.

[2020-09-09 16:37] danielskatz commented on #2445
Also, for the Saefken reference, please add the URL to the arxiv abstract

[2020-09-09 16:38] danielskatz commented on #2445
Once these are done, I will finalize the acceptance and publication

[2020-09-09 16:52] strengejacke commented on #2445
@whedon generate pdf

[2020-09-09 16:53] whedon commented on #2445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02445/joss.02445/10.21105.joss.02445.pdf)

[2020-09-09 16:53] strengejacke commented on #2445
I revised the title of the Zenodo archive and added the URL. Generating PDF again to check if URL is fine...

[2020-09-09 16:53] strengejacke commented on #2445
Yes, URL is ok!

[2020-09-09 17:10] danielskatz commented on #2445
@whedon accept deposit=true

[2020-09-09 17:10] whedon commented on #2445
[code]

[2020-09-09 17:11] whedon commented on #2445
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1303742793186185216) 👈 🐦🐦🐦

[2020-09-09 17:11] whedon commented on #2445
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1722
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02445](https://doi.org/10.21105/joss.02445)
2. If everything looks g

[2020-09-09 17:27] danielskatz commented on #2445
Congratulations to @strengejacke (Daniel Lüdecke) and co-authors!!

Thanks to @cmaimone & @Ohlsen for reviewing, and @sbenthall for editing!

[2020-09-09 17:27] #2445 closed

[2020-09-09 17:27] whedon commented on #2445
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02445/status.svg)](https://doi.org/10.21105/joss.02445)

**We need your help!**

Journal of Open Source Softwa

[2020-09-09 17:45] lucask07 commented on #2584
Hi @JolleJolles,
I'm going through the paper and have a few concerns/nitpicks that I'd suggest you clarify.

- The paper references "get the optimal camera shutter speed". This is a rather complex calculation that attempts to limit saturation while simultaneously having the darkest pixels collect the most possible light. I can't find any auto exposure calculations in your code. Can you clarify how

[2020-09-09 18:02] galessiorob commented on #2639
👋 Hi @skadio

I am in the process of assigning reviewers to this submission, but if you have any suggestions for reviewers please let me know.

In the meantime, it looks like you're only missing 3 DOIs, if you could nail those down that would be great.

Many thanks!

Basic checks:

 - [ ] There’s a general description of the software
 - [ ] The software is within the scope as research software
 -

[2020-09-09 18:07] juanvillada commented on #2638
Hi @lpantano
Hi @chorscroft

The PDF failed to compile. I will resume my review once it has been fixed.

Some notes for now:

1. The Repository URL is linking to the paper URL (https://github.com/chorscroft/zalpha/tree/master/paper) and not the repository itself.

2. It looks like the LICENSE is not one of the [OSI approved](https://opensource.org/licenses/alphabetical) software licenses.

[2020-09-09 18:18] galessiorob commented on #2639
@whedon assign @HaoZeke as reviewer

[2020-09-09 18:18] whedon commented on #2639
OK, @HaoZeke is now a reviewer

[2020-09-09 18:23] galessiorob commented on #2619
@whedon assign @GregaVrbancic as reviewer

[2020-09-09 18:23] whedon commented on #2619
OK, @GregaVrbancic is now a reviewer

[2020-09-09 18:41] lskatz commented on #2334
Hi @erinyoung
Good catch!  You are right.  I have made the documentation changes in 09def0a and fc3e6a2.

Thank you for pushing a little harder on the container @erinyoung :)  I am still a novice on creating containers but fortunately we have our expert @kapsakcj.  If we can figure out how to optimize it further, we will.  However, I believe we have an unavoidable problem of many dependencies.

[2020-09-09 18:50] pdebuyl commented on #2634
Thank you @coatless ! When the selection of a second reviewer is done, the review will start in a second github issue.

[2020-09-09 18:50] pdebuyl commented on #2634
@whedon assign @coatless as reviewer

[2020-09-09 18:50] whedon commented on #2634
OK, @coatless is now a reviewer

[2020-09-09 19:03] mathpluscode commented on #2633
Hi @kthyng @Kevin-Mattheus-Moerman,

Is there anything we need to do from author part? Or we just need to be patient and wait for the submission to be under review?

Thx!

[2020-09-09 19:27] chorscroft commented on #2638
@whedon generate pdf

[2020-09-09 19:27] whedon commented on #2638
PDF failed to compile for issue #2638 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2638 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-09-09 19:34] chorscroft commented on #2638
How odd, it compiled on the original thread for danielskatz on Aug 9th and I haven't changed anything! https://github.com/openjournals/joss-reviews/issues/2560

The licence is an MIT licence, I thought that was okay? Please let me know if it's not!
https://github.com/chorscroft/zalpha/blob/master/LICENSE.md
https://opensource.org/licenses/MIT

And apologies for linking to the wrong place, the subm

[2020-09-09 19:34] andremrsantos commented on #2599
Hi @diehlpk , I am working on it. Should I reply to my checklist here?

[2020-09-09 19:35] agisga commented on #2634
Hi @pdebuyl , thank you, with a review time of 6 weeks I am available to review this submission.

[2020-09-09 19:36] dpsanders commented on #2648
I have quite a lot on my plate but it is a good fit for me so yes.

[2020-09-09 19:36] dpsanders commented on #2648
@whedon assign @dpsanders as editor

[2020-09-09 19:36] whedon commented on #2648
OK, the editor is @dpsanders

[2020-09-09 19:37] danielskatz commented on #2648
thanks!

[2020-09-09 19:43] rpetit3 commented on #2451
Hi @will-rowe

I have tested @mjsull's latest release of Chromatiblock (v0.5.1) and everything looks good. The only major hold up on my end was the SVG, PNG, PDF output, which is now fixed in the latest version. I think @mjsull really went above and beyond responding to the rest of my comments.

I am happy to recommend this manuscript for publication!

Thank you for your time!
Robert

[2020-09-09 19:43] diehlpk commented on #2599
Hi @andremrsantos yes, please reply in this thread or for more major things please open tickets in the repo and mention this thread here.

[2020-09-09 19:51] danielskatz commented on #2638
I've changed the URL

[2020-09-09 19:51] danielskatz commented on #2638
@whedon generate pdf

[2020-09-09 19:52] whedon commented on #2638
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02638/joss.02638/10.21105.joss.02638.pdf)

[2020-09-09 19:53] danielskatz commented on #2638
I think I changed the URL manually in the pre-review issue, but it was set back in this review issue

[2020-09-09 19:57] juanvillada commented on #2638
Excellent! The PDF of the paper looks good now. Thanks @danielskatz  ✅

Yes, that one is ok. ✅
I just got confused with the other license file in the repo (https://github.com/chorscroft/zalpha/blob/master/LICENSE).

I will resume my review.

[2020-09-09 20:15] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-09-09 20:15] whedon commented on #2392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf)

[2020-09-09 20:18] andremrsantos commented on #2599
Dear all,
here are some comments regarding the manuscript and the software package.

Overall, the PF library developed by the authors is a useful and interesting package for development of Particle Filters. I believe the code and document are suitable for publication after answer some of the comments below regarding the manuscript and code base.

## Comments

### Documentation

- [ ] **Installatio

[2020-09-09 20:35] rozmanowna commented on #2643
@whedon generate pdf from branch paper

[2020-09-09 20:35] whedon commented on #2643
[code]

[2020-09-09 20:36] whedon commented on #2643
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02643/joss.02643/10.21105.joss.02643.pdf)

[2020-09-09 20:38] pdebuyl commented on #2634
Thank you @agisga !

[2020-09-09 20:39] pdebuyl commented on #2634
@whedon add @agisga as reviewer

[2020-09-09 20:39] whedon commented on #2634
OK, @agisga is now a reviewer

[2020-09-09 20:42] pdebuyl commented on #2634
@whedon start review

[2020-09-09 20:42] whedon opened #2653 "[REVIEW]: Empirical and non-parametric copula models with the `cort` R package"
**Submitting author:** @lrnv (<a href="http://orcid.org/0000-0002-7508-999X">Oskar Laverny</a>)
**Repository:** <a href="https://github.com/lrnv/cort" target ="_blank">https://github.com/lrnv/cort</a>
**Version:** v0.3.2
**Editor:** @pdebuyl
**Reviewer:** @coatless, @agisga
**Archive:** <a href="https://doi.org/10.5281/zenodo.4301435" target="_blank">10.5281/zenodo.4301435</a>

**:warning: JOSS re

[2020-09-09 20:42] whedon commented on #2634
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2653.

[2020-09-09 20:42] #2634 closed

[2020-09-09 20:42] whedon commented on #2653
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @coatless, @agisga it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-09-09 20:43] whedon commented on #2653
[code]

[2020-09-09 20:43] whedon commented on #2653
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf)

[2020-09-09 20:46] pdebuyl commented on #2436
I am not subscribed to the issues at the repo and did not see @blakeaw 's positive evaluation of the changes at https://github.com/mpievolbio-scicomp/cancer_sim/issues/16 . @CFGrote I will proceed to the coming editorial steps in the coming days.

[2020-09-09 21:58] blakeaw commented on #2436
Sorry about that @pdebuyl. I forgot to come back and comment here after I finished reviewing the changes.
I've checked off all the boxes in my Reviewer Checklist except the Functionality:Functionality one. For that, I'm planning to execute a few more test simulations with different parameter sets to make sure the code operates smoothly outside of the provided template/examples. I'll update within

[2020-09-09 22:50] fboehm commented on #2521
@chainsawriot - Thanks for asking. I apologize for any confusion. No, you don't need to do anything. Thanks again!!

[2020-09-10 01:20] majensen commented on #2587
@kthyng I would be happy to edit if @kakiac is unable-

[2020-09-10 02:10] lnferris commented on #2497
I have fixed and closed "Plotting function customization (lnferris/ocean_data_tools#14)".

[2020-09-10 03:06] danhey commented on #2649
Hi @arfon, I am available to review.

[2020-09-10 03:22] coljac commented on #2649
@arfon - I could do this;  apologies to the authors, I may need more than a week before I can commence.

[2020-09-10 04:37] pdebuyl commented on #2436
@blakeaw thanks for the correction. I am not used yet to parts of the review occurring at the software's repository. I'll make sure to check the checklist here and the issues there!

[2020-09-10 05:26] moorepants commented on #2291
No, I am already committed to other reviews.

[2020-09-10 05:30] tomazbregar commented on #2588
@danielskatz - Sorry for the grammatical error, I only had it corrected on the branch *joss_paper*, I have now moved the up-to-date version to *master* branch.

[2020-09-10 06:28] arfon commented on #2649
@whedon add @danhey as reviewer

[2020-09-10 06:28] whedon commented on #2649
OK, @danhey is now a reviewer

[2020-09-10 06:28] arfon commented on #2649
@whedon add @coljac as reviewer

[2020-09-10 06:28] whedon commented on #2649
OK, @coljac is now a reviewer

[2020-09-10 06:28] arfon commented on #2649
@whedon start review

[2020-09-10 06:28] whedon opened #2654 "[REVIEW]: PyCS3: A Python toolbox for time-delay measurements in lensed quasars"
**Submitting author:** @martin-millon (<a href="http://orcid.org/0000-0001-7051-497X">Martin Millon</a>)
**Repository:** <a href="https://gitlab.com/cosmograil/PyCS3" target ="_blank">https://gitlab.com/cosmograil/PyCS3</a>
**Version:** v3.0.2
**Editor:** @arfon
**Reviewer:** @danhey, @coljac
**Archive:** <a href="https://doi.org/10.5281/zenodo.4046260" target="_blank">10.5281/zenodo.4046260</a>

[2020-09-10 06:28] whedon commented on #2649
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2654.

[2020-09-10 06:28] #2649 closed

[2020-09-10 06:28] whedon commented on #2654
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danhey, @coljac it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-09-10 06:29] whedon commented on #2654
[code]

[2020-09-10 06:29] arfon commented on #2649
@danhey, @coljac - thanks for agreeing to review this submission - see you over in #2654 where the actual review will take place.

[2020-09-10 06:29] whedon commented on #2654
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02654/joss.02654/10.21105.joss.02654.pdf)

[2020-09-10 06:30] arfon commented on #2654
@danhey, @coljac - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. Ther

[2020-09-10 06:52] JanCBrammer commented on #2621
@sappelhoff, thanks for your thorough and helpful review so far, much appreciated! I'm offline next week (week 38), so I won't get around to address your questions and suggestions until the week after the next (week 39). Looking forward to it :)

[2020-09-10 07:38] nistara commented on #2630
@whedon check references

[2020-09-10 07:38] whedon commented on #2630
[code]

[2020-09-10 07:39] nistara commented on #2630
Review process started [here](https://github.com/VincentAlcazer/StatAid/issues/2).

[2020-09-10 07:52] mikldk commented on #2600
@jbytecode Can you please explain/clarify why the other (major) committers are not co-authors (maybe they declined?)?

[2020-09-10 08:05] jbytecode commented on #2600
@mikldk the most active contributer, Paul, is not interested in the project any more, so I didn't ask him to join. Should I offer them to participate?

[2020-09-10 08:29] Kevin-Mattheus-Moerman commented on #2633
@mathpluscode at this point I'm looking for reviewers for this submission and will invite some shortly. If you have any suitable reviewers in mind please suggest them here (remove the @ when you quote GitHub handles).

[2020-09-10 08:33] will-rowe commented on #2451
@whedon generate pdf

[2020-09-10 08:34] whedon commented on #2451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02451/joss.02451/10.21105.joss.02451.pdf)

[2020-09-10 08:34] will-rowe commented on #2451
@whedon check references

[2020-09-10 08:35] whedon commented on #2451
[code]

[2020-09-10 08:38] VivianePons commented on #2515
@wingtorres no problem! I just wanted to make sure we were still on track :)

[2020-09-10 09:03] will-rowe commented on #2451
Hi @mjsull - this is looking really nice. Just playing with the software now and am having no difficulties. The paper is also reading nicely. The only thing needing changing from my point of view is a fix for the Sibelia reference.

Thank you again @telatin and @rpetit3 - your reviews were excellent and this submission is looking great. Well done @mjsull with the responses.

@telatin has offered t

[2020-09-10 09:42] mathpluscode commented on #2633
@Kevin-Mattheus-Moerman I checked the reviewer lists and maybe we'd like to suggest ethanwharris, mamrehn, billchenxi.

[2020-09-10 09:50] rozmanowna commented on #2643
@whedon generate pdf from branch paper

[2020-09-10 09:50] whedon commented on #2643
[code]

[2020-09-10 09:50] whedon commented on #2643
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02643/joss.02643/10.21105.joss.02643.pdf)

[2020-09-10 10:00] Kevin-Mattheus-Moerman commented on #2633
@mathpluscode thanks. I'll check those out. FYI they needn't be just from that list, I can also invite new reviewers

[2020-09-10 10:02] mathpluscode commented on #2633
@Kevin-Mattheus-Moerman sure! We will ask around and recommend more if people are available. Thanks!

[2020-09-10 10:14] Kevin-Mattheus-Moerman commented on #2633
@stefanklein @mstaring @thewtex @ljod @fedorov @ethanwharris @mamrehn @billchenxi as editor for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org/) I'd like to invite you to review _"DeepReg: a deep learning toolkit for medical image registration"_.

You can comment here to let me know if you are interested. Thanks!

We have a smooth GitHub based [review process](https://joss.rea

[2020-09-10 10:22] bluescarni commented on #2338
@whedon generate pdf

[2020-09-10 10:22] whedon commented on #2338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf)

[2020-09-10 10:23] bluescarni commented on #2338
@whedon check references

[2020-09-10 10:23] whedon commented on #2338
[code]

[2020-09-10 10:26] bluescarni commented on #2338
@arfon @eloisabentivegna Thanks a lot for the PR, we have re-checked the proofs and everything seems in order.

[2020-09-10 10:32] JolleJolles commented on #2584
Thanks for all your comments. I will address them all together from next Monday (14th), making sure to add each point as an issue to the repository.
Thanks

[2020-09-10 10:45] ethanwharris commented on #2633
Hi @Kevin-Mattheus-Moerman, I'd be happy to review this :smiley:

[2020-09-10 11:03] oliviaguest commented on #2650
@danielskatz sure. 😊

[2020-09-10 11:04] oliviaguest commented on #2650
@whedon assign @oliviaguest as editor

[2020-09-10 11:04] whedon commented on #2650
OK, the editor is @oliviaguest

[2020-09-10 11:09] Kevin-Mattheus-Moerman commented on #2633
@whedon assign @ethanwharris as reviewer

[2020-09-10 11:09] whedon commented on #2633
OK, @ethanwharris is now a reviewer

[2020-09-10 11:15] oliviaguest commented on #2650
@alexrockhill if you can drop some names for potential reviewers when you get a chance that would be super useful.

[2020-09-10 12:02] danielskatz commented on #2588
@whedon generate pdf

[2020-09-10 12:03] whedon commented on #2588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02588/joss.02588/10.21105.joss.02588.pdf)

[2020-09-10 12:11] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch :wave:

[2020-09-10 12:11] oliviaguest commented on #2650
@whedon add @rougier as reviewer

[2020-09-10 12:11] whedon commented on #2650
OK, @rougier is now a reviewer

[2020-09-10 12:12] whedon commented on #2435
:wave: @gonsie, please update us on how your review is going.

[2020-09-10 12:13] skadio commented on #2639
Thank you @galessiorob and thanks to our reviewer @HaoZeke!

On the basic checks:

- [ ] There’s a general description of the software
--> Indeed, a general description is available for our reviewers.

- [ ] The software is within the scope as research software
--> This library is an outcome of a research collaboration between CMU and Fidelity and will be presented at INFORMS 2020 as an invited ta

[2020-09-10 12:21] danielskatz commented on #2588
@tomazbregar  - the paper still does not say what specific types of problems it can solve, as I wrote previously

[2020-09-10 12:22] danielskatz commented on #2552
👋 @colbrydi & @Himscipy - would either of you be wiling to review this submission for JOSS?

[2020-09-10 12:23] whedon opened #2655 "[PRE REVIEW]: POMDPStressTesting.jl: Adaptive Stress Testing for Black-Box Systems"
**Submitting author:** @mossr (<a href="http://orcid.org/0000-0003-2403-454X">Robert Moss</a>)
**Repository:** <a href="https://github.com/sisl/POMDPStressTesting.jl" target ="_blank">https://github.com/sisl/POMDPStressTesting.jl</a>
**Version:** v0.4.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-09-10 12:23] whedon commented on #2655
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-10 12:23] whedon commented on #2655
Failed to discover a `Statement of need` section in paper

[2020-09-10 12:23] whedon opened #2656 "[PRE REVIEW]: DE-Sim: an object-oriented, discrete-event simulation tool for data-intensive modeling of complex systems in Python"
**Submitting author:** @artgoldberg (<a href="http://orcid.org/0000-0003-2772-1484">Arthur Goldberg</a>)
**Repository:** <a href="https://github.com/KarrLab/de_sim" target ="_blank">https://github.com/KarrLab/de_sim</a>
**Version:** 0.1.1
**Editor:** @danielskatz
**Reviewers:** @gonsie, @carothersc
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-09-10 12:23] whedon commented on #2655
[code]

[2020-09-10 12:23] whedon commented on #2656
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-10 12:23] whedon opened #2657 "[PRE REVIEW]: StarBLAST: a scalable BLAST+ solution for the classroom"
**Submitting author:** @cosimichele (<a href="http://orcid.org/0000-0001-7609-1939">Michele Cosi</a>)
**Repository:** <a href="https://github.com/LyonsLab/StarBLAST/" target ="_blank">https://github.com/LyonsLab/StarBLAST/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2020-09-10 12:23] whedon commented on #2656
Failed to discover a `Statement of need` section in paper

[2020-09-10 12:23] whedon commented on #2657
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-10 12:23] whedon commented on #2656
[code]

[2020-09-10 12:23] whedon opened #2658 "[PRE REVIEW]: Minimalist And Customizable Optimization Package"
**Submitting author:** @jbuisine (<a href="http://orcid.org/0000-0001-6071-744X">Jérôme BUISINE</a>)
**Repository:** <a href="https://github.com/jbuisine/macop" target ="_blank">https://github.com/jbuisine/macop</a>
**Version:** v1.0.0
**Editor:** @melissawm
**Reviewers:** @stsievert, @torressa
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-09-10 12:23] whedon commented on #2655
[code]

[2020-09-10 12:23] whedon commented on #2658
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-10 12:24] whedon opened #2659 "[PRE REVIEW]: c212: An R Package for the Detection of Safety Signals in Clinical Trials Using Body-Systems (System Organ Classes)"
**Submitting author:** @rcarragh (<a href="http://orcid.org/0000-0002-0120-625X">Raymond Bernard Carragher</a>)
**Repository:** <a href="https://github.com/rcarragh/c212" target ="_blank">https://github.com/rcarragh/c212</a>
**Version:** 0.98
**Editor:** @csoneson
**Reviewers:** @rrrlw, @emilydolson
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-09-10 12:24] whedon commented on #2659
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-10 12:24] whedon commented on #2655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02655/joss.02655/10.21105.joss.02655.pdf)

[2020-09-10 12:24] whedon opened #2660 "[PRE REVIEW]: J2suscep: Calculation of magnetic exchange coupling and temperature dependence of magnetic susceptibility"
**Submitting author:** @Swetanshu (<a href="http://orcid.org/0000-0002-0626-0626">Swetanshu Tandon</a>)
**Repository:** <a href="https://github.com/WatsonGroupTCD/J2suscep" target ="_blank">https://github.com/WatsonGroupTCD/J2suscep</a>
**Version:** 1.0
**Editor:** @dpsanders
**Reviewers:** @mturiansky, @mfherbst
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

[2020-09-10 12:24] whedon commented on #2660
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-10 12:24] whedon commented on #2657
[code]

[2020-09-10 12:24] whedon commented on #2656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02656/joss.02656/10.21105.joss.02656.pdf)

[2020-09-10 12:24] whedon commented on #2657
PDF failed to compile for issue #2657 with the following error:

 Can't find any papers to compile :-(

[2020-09-10 12:24] whedon commented on #2658
Failed to discover a `Statement of need` section in paper

[2020-09-10 12:24] whedon commented on #2658
[code]

[2020-09-10 12:24] whedon commented on #2656
[code]

[2020-09-10 12:24] whedon commented on #2658
[code]

[2020-09-10 12:25] whedon commented on #2659
[code]

[2020-09-10 12:25] whedon commented on #2659
Failed to discover a valid open source license.

[2020-09-10 12:25] whedon commented on #2659
PDF failed to compile for issue #2659 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Raymond Carragher, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedon/author.rb:71:in `e

[2020-09-10 12:25] whedon commented on #2658
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02658/joss.02658/10.21105.joss.02658.pdf)

[2020-09-10 12:25] whedon commented on #2660
Failed to discover a `Statement of need` section in paper

[2020-09-10 12:25] whedon commented on #2660
[code]

[2020-09-10 12:25] whedon commented on #2659
[code]

[2020-09-10 12:25] whedon commented on #2660
[code]

[2020-09-10 12:26] whedon commented on #2660
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02660/joss.02660/10.21105.joss.02660.pdf)

[2020-09-10 12:41] danielskatz commented on #2660
👋 @Swetanshu - please add an explicit "Statement of need" section to your paper, then regenerate the PDF by adding ```@whedon generate pdf``` as a new comment here.

[2020-09-10 12:42] danielskatz commented on #2587
@majensen - done, thanks!

[2020-09-10 12:42] danielskatz commented on #2587
@whedon assign @majensen as editor

[2020-09-10 12:42] whedon commented on #2587
OK, the editor is @majensen

[2020-09-10 12:43] danielskatz commented on #2660
👋 @usethedata - I know you have a few papers already, but would you be willing to edit this one as well?

[2020-09-10 12:44] danielskatz commented on #2660
@whedon invite @usethedata as editor

[2020-09-10 12:44] whedon commented on #2660
@usethedata has been invited to edit this submission.

[2020-09-10 12:51] danielskatz commented on #2659
@rcarragh - As you can see by comments in this issue from whedon, there are some problems to be fixed.

In the repo, I see no license.  I also see no README.

In the paper, you need to change the multiple affiliation line to have commas between affiliations - see https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

You also have some extra metadata in the paper whi

[2020-09-10 12:54] danielskatz commented on #2658
👋 @jbuisine - thanks for your submission.  The next step will be an internal discussion by JOSS editors about the scope, which will take about a week, then we will get back to you about the next steps

[2020-09-10 12:54] danielskatz commented on #2658
@whedon query scope

[2020-09-10 12:54] whedon commented on #2658
Submission flagged for editorial review.

[2020-09-10 12:56] danielskatz commented on #2657
👋 @CosiMichele - this submission is too small for JOSS to review - see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

Additionally, the education aspect makes me think it might be better suited to [JOSE](https://jose.theoj.org) if it was larger.

[2020-09-10 12:56] danielskatz commented on #2657
@whedon reject

[2020-09-10 12:56] whedon commented on #2657
Paper rejected.

[2020-09-10 12:56] #2657 closed

[2020-09-10 13:01] danielskatz commented on #2656
@artgoldberg - there are some problems to resolve before we move forward:

1. Your paper is too long - the tutorial part in particular should not be in the paper, but in the software repo documentation.  See https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain
2. There is no explicit "Statement of need" section.
3. There are some DOI problems - please make sure your .

[2020-09-10 13:04] danielskatz commented on #2655
@mossr - Please add an explicit "Statement of need" section to your paper, then add ```@whedon regenerate pdf``` as a new comment here to regenerate the pdf

[2020-09-10 13:08] krober10nd commented on #2592
hey @meg-simula Sorry to bother, but  has the review officially started yet?  Nico and I have been going back and forth for some time now.

[2020-09-10 13:11] danielskatz commented on #2655
👋 @Kevin-Mattheus-Moerman - I wonder if you might be able to edit this submission?

[2020-09-10 13:11] danielskatz commented on #2655
@whedon invite @Kevin-Mattheus-Moerman as editor

[2020-09-10 13:11] whedon commented on #2655
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2020-09-10 13:12] danielskatz commented on #2612
@whedon invite @cMadan as editor

[2020-09-10 13:12] whedon commented on #2612
@cMadan has been invited to edit this submission.

[2020-09-10 13:13] danielskatz commented on #2612
👋 @cMadan - just a reminder... (and the notification last time may not have worked for some reason)

[2020-09-10 13:14] danielskatz commented on #2018
@whedon set v0.36.0 as version

[2020-09-10 13:14] whedon commented on #2018
OK. v0.36.0 is the version.

[2020-09-10 13:14] danielskatz commented on #2018
@whedon set 10.5281/zenodo.4019272 as archive

[2020-09-10 13:14] whedon commented on #2018
OK. <a href="https://doi.org/10.5281/zenodo.4019272" target="_blank">10.5281/zenodo.4019272</a> is the archive.

[2020-09-10 13:16] danielskatz commented on #2018
👋 @funsim - I see three boxes you have not checked off - are these done now from your point of view?  If so, can you check them off?

[2020-09-10 13:26] vissarion commented on #2564
I finished my review.

I agree with the points listed above. I would also like to see a high-level example probably with the comment that links to the documentation for more details.

One more comment, I think it would be useful to note in the paper the current release version of the package.

[2020-09-10 13:41] dineshresearch commented on #2498
Sorry for the delay as I was busy but will submit the review in next 2 days

On Thu, Sep 10, 2020 at 5:41 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Kind Regards
Amara Dinesh Kumar
“Alone we can do so little and together we can do much” — Helen Keller
Research Info <https://sites.google.com/view/dineshkumaramara/home> | Github
Profile <https://github.com/dineshresearch> | Cyb

[2020-09-10 13:44] cMadan commented on #2612
@danielskatz, sure, am happy to edit this one. (The notification didn't come through last time.)

[2020-09-10 13:44] cMadan commented on #2612
@whedon assign @cMadan as editor

[2020-09-10 13:44] whedon commented on #2612
OK, the editor is @cMadan

[2020-09-10 13:52] ali-ramadhan commented on #2018
Not sure if @funsim is still active on GitHub (their review was posted a while back) but @kthyng suggested she might be able to check those boxes off in an earlier comment: https://github.com/openjournals/joss-reviews/issues/2018#issuecomment-681924429

[2020-09-10 13:52] cMadan commented on #2612
@snastase @jeremymanning @samhforbes, would you be available and interested in reviewing this submission?

[2020-09-10 13:58] ali-ramadhan commented on #2018
Also not sure if it matters but since the review started the repository location has moved from https://github.com/climate-machine/Oceananigans.jl to https://github.com/CliMA/Oceananigans.jl

[2020-09-10 14:06] danielskatz commented on #2018
I'll change the repo location, but I'll leave the next step to @kthyng as the editor

[2020-09-10 14:07] danielskatz commented on #2018
@whedon generate pdf

[2020-09-10 14:07] whedon commented on #2018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02018/joss.02018/10.21105.joss.02018.pdf)

[2020-09-10 14:12] mado89 commented on #2153
The video looks good. I took some notes while watchin it and will share them with you. Maybe they could be helpful for potential users of EvoMaster.
Using the video I think I will be able to do my own testing using Evo Master.

Just one thing: Right at the end of the video either the audio cuts off or you stop speaking. Either way it is a bit hard to follow what you are doing (but I think I might

[2020-09-10 14:16] nwu63 commented on #2564
Hi Mathieu and Vissarion,

Thanks for your feedback and apologies for not replying sooner, but I have been working with co-authors to update the paper. There are some substantial changes:
- I have added a `Features` section to explain in more detail some salient features of the software which are not found elsewhere
- I have added a section containing an example optimization script. There is no gu

[2020-09-10 14:21] jeremymanning commented on #2612
@cMadan I’m super time-limited at the moment.  I could probably start taking a look sometime in October or November, so feel free to reach out then if you’re still having trouble finding reviewers.  But if you’re able to find someone who can turn this around faster I suggest going with them.  You might reach out to @andrewheusser and/or @paxtonfitzpatrick, who were both developers of our lab’s (re

[2020-09-10 14:29] Swetanshu commented on #2660
@whedon commands

[2020-09-10 14:29] vissarion commented on #2564
Thanks for the substantial revision Neil. The paper now looks much better and useful for the reader. I do not have further comments.

[2020-09-10 14:29] whedon commented on #2660
Here are some things you can ask me to do:

[code]

[2020-09-10 14:30] Swetanshu commented on #2660
@whedon generate pdf

[2020-09-10 14:33] Swetanshu commented on #2660
@whedon check references

[2020-09-10 14:35] samhforbes commented on #2612
It's a little outside of my area @cMadan, but it looks interesting and I'm happy to have a look if you're happy to have me.

[2020-09-10 14:41] Swetanshu commented on #2660
Hi @danielskatz,
Potential reviewers: Alex ganose (username: utf) and Benjamin Morgan (username: bjmorgan).

[2020-09-10 14:43] danielskatz commented on #2660
Thanks @Swetanshu  - the next step will be assigning an editor, who will then work on reviewers

[2020-09-10 14:59] lnferris commented on #2497
I have fixed and closed "GSW compatibility (lnferris/ocean_data_tools#27)".

[2020-09-10 15:02] AnaWaldila commented on #2548
Hi, Kelvin
I opened this e-mail in GitHub and I see all boxes. Thank you for help me. I cheked some boxes and next, here, I will put my considerations, because the author needs to rectify some cases in paper.
All parts in bold are my answers.

Functionality
•	Functionality: Have the functional claims of the software been confirmed? **All of results presents in repository confirmed the functional o

[2020-09-10 15:03] mossr commented on #2655
@whedon `regenerate pdf`

[2020-09-10 15:03] whedon commented on #2655
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-10 15:03] mossr commented on #2655
@whedon regenerate pdf

[2020-09-10 15:03] whedon commented on #2655
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-10 15:04] mossr commented on #2655
`@whedon regenerate pdf`

[2020-09-10 15:04] mossr commented on #2655
@whedon generate pdf

[2020-09-10 15:05] whedon commented on #2655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02655/joss.02655/10.21105.joss.02655.pdf)

[2020-09-10 15:14] danielskatz commented on #2655
ooops - sorry about that....

[2020-09-10 15:14] rcarragh commented on #2659
@whedon generate pdf

[2020-09-10 15:15] whedon commented on #2659
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02659/joss.02659/10.21105.joss.02659.pdf)

[2020-09-10 15:22] xin-huang commented on #2643
Hi @majensen I have checked off all the items on the checklist. The authors already addressed my concerns. I have no further comments.

[2020-09-10 15:32] whedon commented on #2659
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02659/joss.02659/10.21105.joss.02659.pdf)

[2020-09-10 15:51] matbesancon commented on #2564
@whedon generate pdf from branch paper

[2020-09-10 15:51] whedon commented on #2564
[code]

[2020-09-10 15:52] whedon commented on #2659
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02659/joss.02659/10.21105.joss.02659.pdf)

[2020-09-10 15:52] whedon commented on #2564
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02564/joss.02564/10.21105.joss.02564.pdf)

[2020-09-10 16:01] lnferris commented on #2497
I have fixed and closed "Installation instructions (lnferris/ocean_data_tools#26)".

[2020-09-10 16:03] katyhuff commented on #2291
@diehlpk I'm sorry, this is not my field.

Looking through the joss reviewer list (and avoiding topic editors, who are usually swamped anyway), I see some candidates with some expertise in fractures, geomechanics, structural mechanics, solid mechanics etc.. Perhaps you have already considered bhajay, whimian, corentin-dev, yangbai90
iagolemos1, thelfer, mattkram?

[2020-09-10 16:17] rcarragh commented on #2659
@whedon generate pdf

[2020-09-10 16:18] whedon commented on #2659
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02659/joss.02659/10.21105.joss.02659.pdf)

[2020-09-10 16:23] rcarragh commented on #2659
@whedon generate pdf

[2020-09-10 16:24] whedon commented on #2659
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02659/joss.02659/10.21105.joss.02659.pdf)

[2020-09-10 16:30] waxlamp commented on #2410
Thank you for the feedback. My team is working on improving the related work section, and I will send a ping from here when we're ready for a new round of reviewing.

[2020-09-10 16:31] rcarragh commented on #2659
@openjournals/joss-eics

Apologies for the errors in the author affiliations section and any additional overhead caused.
(I couldn't see a full compiled version through the whedon web test interface before I submitted the paper, although I could generate a pdf wth pandoc.)

I've made the following changes:

1. I have fixed the affiliations section.
2. I have added a LICENSE file to the repository.

[2020-09-10 16:41] alexrockhill commented on #2650
Maybe @TomDonoghue has time now that he's finished his PhD (congratulations by the way!) or @sappelhoff?

[2020-09-10 16:52] pibion commented on #2602
@hemanthpruthvi apologies for the slow start on my end!  I'll begin inviting reviewers; once three have accepted we'll get the review underway.

Also, thank you for providing reviewer suggestions!

[2020-09-10 16:56] mikldk commented on #2600
@jbytecode Yes, please ask all who contributed one way or another.

[2020-09-10 16:59] pibion commented on #2602
:wave: @caldarolamartin & @aquilesC & @cavestruz, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-10 17:03] pibion commented on #2617
:wave: @yguitton & @biswapriyamisra, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-10 17:15] hemanthpruthvi commented on #2602
@pibion It's all good

[2020-09-10 17:54] whedon commented on #2659
[code]

[2020-09-10 17:58] danielskatz commented on #2659
👋 @csoneson - would you be willing to edit this submission for JOSS?

[2020-09-10 17:59] danielskatz commented on #2659
@whedon invite @csoneson as editor

[2020-09-10 17:59] whedon commented on #2659
@csoneson has been invited to edit this submission.

[2020-09-10 17:59] whedon opened #2661 "[PRE REVIEW]: Hardware-Control: Instrument Control and Automation Package"
**Submitting author:** @Grant-Giesbrecht (<a href="http://orcid.org/0000-0003-2885-4801">Grant Giesbrecht</a>)
**Repository:** <a href="https://bitbucket.org/berkeleylab/hardware-control/src/main/" target ="_blank">https://bitbucket.org/berkeleylab/hardware-control/src/main/</a>
**Version:** v1.0.0
**Editor:** @timtroendle
**Reviewers:** @aquilesC, @untzag, @garrettj403
**Managing EiC:** Daniel S.

[2020-09-10 17:59] whedon commented on #2661
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-10 18:00] whedon commented on #2661
[code]

[2020-09-10 18:00] whedon commented on #2661
[code]

[2020-09-10 18:00] whedon commented on #2661
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02661/joss.02661/10.21105.joss.02661.pdf)

[2020-09-10 18:04] arfon commented on #2654
@whedon generate pdf

[2020-09-10 18:05] whedon commented on #2654
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02654/joss.02654/10.21105.joss.02654.pdf)

[2020-09-10 18:06] danielskatz commented on #2661
👋 @Grant-Giesbrecht  - thanks for your submission.  Can you explain (and probably add to the paper) some examples of how this is (or will be) used in research, including what kinds of research?

[2020-09-10 18:07] mbobra commented on #2629
/ooo September 14 until September 18

[2020-09-10 19:12] whedon commented on #2585
:wave: @dbuscombe-usgs, please update us on how your review is going.

[2020-09-10 19:13] whedon commented on #2585
:wave: @gassmoeller, please update us on how your review is going.

[2020-09-10 19:22] aquilesC commented on #2602
I can review the paper

[2020-09-10 19:41] jbytecode commented on #2600
Dear editor @mikldk, I have just opened an issue in RCaller repo and I invited them to participate. fyi.

[2020-09-10 20:34] matbesancon commented on #2564
Posted on https://github.com/mdolab/pyoptsparse/issues/145 for the testing part which seems to have issues

[2020-09-10 20:35] takojunior commented on #2639
Thank you @skadio, @galessiorob, @HaoZeke!

The missing DOIs have been resolved.

[2020-09-10 20:42] majensen commented on #2643
Thanks @xin-huang  - so @AngryMaciek I will look for https://github.com/AngryMaciek/angry-moran-simulator/issues/7 to be addressed and @tkchafin to then tick the final box on that review. I'll then proceed with editorial checks. Thanks all!

[2020-09-10 20:45] majensen commented on #2587
@wdduncan - would you have time and interest to review [this work](#2587) for [JOSS](https://joss.theoj.org)? Consideration is much appreciated!

[2020-09-10 20:50] matbesancon commented on #2564
Ok nevermind the tests do work. On the installation instructions [here](https://mdolab-pyoptsparse.readthedocs-hosted.com/en/latest/install.html), I would recommend you state upfront that a fortran compiler is needed (maybe recommend gfortran directly)

[2020-09-10 20:54] majensen commented on #2587
@yongqunh - this is @majensen, we have worked in the KPMP consortium together.
As a Topic Editor for [JOSS](https://joss.theoj.org), I am wondering - would you be willing to perform a software review on [this work](#2587) for the journal?
An overview of the review process is [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Please let me know here in this thread, or feel free

[2020-09-10 21:18] diehlpk commented on #2291
@whedon add @ctdegroot as reviewer

[2020-09-10 21:18] whedon commented on #2291
OK, @ctdegroot is now a reviewer

[2020-09-10 21:19] diehlpk commented on #2291
## Reviewer instructions & questions

@ctdegroot, please carry out your review in this issue by updating the checklist below. If you cannot edit the checklist please:
1. Make sure you're logged in to your GitHub account
2. Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

The reviewer guidelines are available here: https://joss.readthedocs.io/en/la

[2020-09-10 21:37] eloisabentivegna commented on #2338
@bluescarni, thanks for all the changes and the checks. I will now complete pre-publication.

[2020-09-10 21:38] bsipocz commented on #2641
@arfon - in this the place to ask paper related questions (rather than software related)?

E.g. authorship related questions should be discussed here, for example the explicit opt in from authors, or in an issue in the repo? (I would this here is better, but there may be a guideline saying otherwise that I missed). Also, I didn't see any discussion in the guidelines about authors for whom there is

[2020-09-10 21:38] eloisabentivegna commented on #2338
@whedon set 10.5281/zenodo.4013250 as archive

[2020-09-10 21:38] whedon commented on #2338
OK. <a href="https://doi.org/10.5281/zenodo.4013250" target="_blank">10.5281/zenodo.4013250</a> is the archive.

[2020-09-10 21:40] eloisabentivegna commented on #2338
@whedon set v2.15.0 as version

[2020-09-10 21:40] whedon commented on #2338
OK. v2.15.0 is the version.

[2020-09-10 21:40] eloisabentivegna commented on #2338
@whedon accept

[2020-09-10 21:40] whedon commented on #2338
[code]

[2020-09-10 21:40] danielskatz commented on #2641
These discussions can happen here or in issues in the repo (tagged with this issue to create a link between them).

[2020-09-10 21:41] whedon commented on #2338
[code]

[2020-09-10 21:41] diehlpk commented on #2599
Hi,  @tbrown122387, please post your comments here. If you have a pull request, please mention this ticket here. So the reviewers can comment on your pull request.

[2020-09-10 21:41] whedon commented on #2338
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1723

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1723, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-10 21:44] eloisabentivegna commented on #2338
@bluescarni, this will now pass to the editors in chief for the final steps. Thanks for submitting this great software to JOSS!

Just as importantly, thanks to @jangmys and @dgoldri25 for the thorough and insightful reviews!

[2020-09-10 21:45] nwu63 commented on #2564
I've updated the installation instructions [in this PR](https://github.com/mdolab/pyoptsparse/pull/161).

[2020-09-10 21:52] matbesancon commented on #2564
perfect thanks!

[2020-09-10 21:52] galessiorob commented on #2639
@whedon add @shreyasbapat as reviewer

[2020-09-10 21:52] whedon commented on #2639
OK, @shreyasbapat is now a reviewer

[2020-09-10 21:57] galessiorob commented on #2639
🎉 Thanks for volunteering to be reviewers @shreyasbapat and @HaoZeke!

I'll generate a "review issue" that will contain individual checklists to go through, feel free to get started at your earliest convenience, don't hesitate to ask if you need clarification or help - you can @mention me directly on the issue.

[2020-09-10 21:57] galessiorob commented on #2639
@whedon start review

[2020-09-10 21:57] whedon opened #2662 "[REVIEW]: Seq2Pat: Sequence-to-Pattern Generation Library"
**Submitting author:** @skadio (<a href="http://orcid.org/0000-0002-4672-6830">Serdar Kadioglu</a>)
**Repository:** <a href="https://github.com/fidelity/seq2pat" target ="_blank">https://github.com/fidelity/seq2pat</a>
**Version:** v1.1.1
**Editor:** @galessiorob
**Reviewers:** @HaoZeke, @shreyasbapat, @TimKam
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-09-10 21:57] whedon commented on #2639
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2662.

[2020-09-10 21:57] #2639 closed

[2020-09-10 21:57] whedon commented on #2662
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke, @shreyasbapat it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-09-10 21:58] whedon commented on #2662
[code]

[2020-09-10 21:58] whedon commented on #2662
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02662/joss.02662/10.21105.joss.02662.pdf)

[2020-09-10 22:02] galessiorob commented on #2662
@whedon generate pdf

[2020-09-10 22:02] whedon commented on #2662
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02662/joss.02662/10.21105.joss.02662.pdf)

[2020-09-10 22:05] bsipocz commented on #2641
@mfitzasp - Since you and @zemoge interacted with the JOSS submission I take it as your agreement to be authors. I don't see any interactions in the repo with the other two authors though, have they been actively agreed to be listed?

Also, I wonder whether you considered adding the third person as author, who contributing to the package, especially early on helping with setting up the package ske

[2020-09-10 22:06] danielskatz commented on #2338
@bluescarni - a bunch of small changes in the paper:
* The last sentence in the summary has a grammar problem
* page 1, "is called decision" should be "is called the decision"
* page 2, "also depend from" should be "also depend on"
* "have no additional help to approach" isn't clear to me. Should this be "do not help the user to approach"?  Or something different?
* "referred to also as chromosome

[2020-09-10 22:09] galessiorob commented on #2662
@skadio the last and third to last cited reference need DOIs (not sure why whedon is not catching both of them), would you mind adding them, please? 🙏

[2020-09-10 22:11] matbesancon commented on #2564
@jgoldfar I might have checked your tick boxes by accident, not sure

[2020-09-10 22:13] arokem commented on #2589
:wave: @DanielLenz : would you be willing to review this article for JOSS?

[2020-09-10 22:13] arokem commented on #2589
:wave: @zbeekman : would you be willing to review this article for JOSS?

[2020-09-10 22:22] bblais commented on #2589
Sure, I can review (didn't notice this invite the first time).  I see the editorial guide, but is there a guide for the process of submitting a review?  is it by individual issues or all at once?  is there a deadline or expected timeframe for review?  thanks!

[2020-09-10 22:47] gonsie commented on #2435
@whedon generate pdf

[2020-09-10 22:48] whedon commented on #2435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02435/joss.02435/10.21105.joss.02435.pdf)

[2020-09-10 22:53] gonsie commented on #2435
@stheid Thanks for the changes. I’m satisfied with my review.

@dhhagan Thanks, I’ve completed my review.

[2020-09-10 23:25] danielskatz commented on #2641
@whedon check repository

[2020-09-10 23:25] whedon commented on #2641
[code]

[2020-09-10 23:43] arokem commented on #2589
@whedon assign @bblais as reviewer

[2020-09-10 23:44] whedon commented on #2589
OK, @bblais is now a reviewer

[2020-09-10 23:44] arokem commented on #2589
@whedon add @justusschock as reviewer

[2020-09-10 23:44] whedon commented on #2589
OK, @justusschock is now a reviewer

[2020-09-10 23:44] arokem commented on #2589
@whedon start review

[2020-09-10 23:44] whedon opened #2663 "[REVIEW]: rFBP: Replicated Focusing Belief Propagation algorithm"
**Submitting author:** @Nico-Curti (<a href="http://orcid.org/0000-0001-5802-1195">Nico Curti</a>)
**Repository:** <a href="https://github.com/Nico-Curti/rFBP" target ="_blank">https://github.com/Nico-Curti/rFBP</a>
**Version:** v1.0.3
**Editor:** @arokem
**Reviewers:** @justusschock, @DanielLenz
**Archive:** <a href="https://doi.org/10.5281/zenodo.4106174" target="_blank">10.5281/zenodo.4106174</

[2020-09-10 23:44] whedon commented on #2589
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2663.

[2020-09-10 23:44] #2589 closed

[2020-09-10 23:44] whedon commented on #2663
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bblais, @justusschock it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-09-10 23:44] Shibabrat commented on #2384
@dawbarton I've finished my review and satisfied with the current version of the package.

@wilsonrljr can you add a section on testing to the README page? I see the tests are available but it may not be obvious to a first time user. Otherwise, LGTM.

[2020-09-10 23:45] whedon commented on #2663
[code]

[2020-09-10 23:45] whedon commented on #2663
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02663/joss.02663/10.21105.joss.02663.pdf)

[2020-09-10 23:46] arokem commented on #2589
@bblais , @justusschock : please head over to #2663. There you will have a checklist with items to check off. As you go along, feel free to comment and make suggestions in that review issue, or to post issues on the software repository (might want to mention that the issue stems from the JOSS review). And please do let me know if you have any further questions.

[2020-09-10 23:47] arokem commented on #2589
@daniellenz, @zbeekman : sorry for the false alarm. Looks like we will not your service as reviewers this time around

[2020-09-11 00:57] robfalck commented on #2648
I've added an explicit Statement of Need section.

[2020-09-11 01:02] dpsanders commented on #2648
@whedon generate pdf

[2020-09-11 01:03] whedon commented on #2648
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02648/joss.02648/10.21105.joss.02648.pdf)

[2020-09-11 05:15] smutch commented on #2596
@dfm My invitation has expired. Sorry! Can you please send through a new one.

[2020-09-11 05:46] ziotom78 commented on #2599
Hi @diehlpk , I plan to start this review next week, I came back from holidays just yesterday and I first need to catch up with a few emails.

[2020-09-11 07:23] tomazbregar commented on #2588
@danielskatz -  My mistake, I forgot to include the explanation. The paper now contains a paragraph which briefly explains in which field the software is intended to be used (in *Statement of need* section).

[2020-09-11 07:27] sappelhoff commented on #2650
According to the [JOSS conflict of interest policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) I'd have such a conflict for reviewing this piece, because I am working with Alex on [mne-bids](https://github.com/mne-tools/mne-bids/), which we published a paper on in 2019.

I think I could still make a relatively impartial judgment (this is up to

[2020-09-11 08:00] gdede-hua commented on #2605
@alexssandrofc  I have made the modifications in my paper according to your instructions, but the whedon paper preview service appears this message:

"Your paper failed to compile with the following errors:

{}"

It seems there is no error but the paper is not compiled. May I kindly ask you to further assist me on this issue?

Thank you.

[2020-09-11 08:14] sigven commented on #2617
@pibion Sorry for my late response to this one. I'll be happy to assist with the review process.

Sincerely,
Sigve

[2020-09-11 08:37] arfon commented on #2660
@whedon generate pdf

[2020-09-11 08:38] whedon commented on #2660
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02660/joss.02660/10.21105.joss.02660.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02660/joss.02660/10.21105.joss.02660.pdf) :page_facing_up: :point_left:

[2020-09-11 09:10] KathrynJones1 commented on #2382
Okay so for v1.0.12, which I have labelled as the JOSS version the DOI from Zenodo is 10.5281/zenodo.3999513. Let me know if that is okay!

[2020-09-11 09:23] oliviaguest commented on #2650
@sappelhoff Fine with me, yup.

[2020-09-11 09:23] oliviaguest commented on #2650
@whedon add @sappelhoff as reviewer

[2020-09-11 09:23] whedon commented on #2650
OK, @sappelhoff is now a reviewer

[2020-09-11 09:29] xuanxu commented on #2382
@whedon set v1.0.12 as version

[2020-09-11 09:29] whedon commented on #2382
OK. v1.0.12 is the version.

[2020-09-11 09:30] xuanxu commented on #2382
@whedon set 10.5281/zenodo.3999513 as archive

[2020-09-11 09:30] whedon commented on #2382
OK. <a href="https://doi.org/10.5281/zenodo.3999513" target="_blank">10.5281/zenodo.3999513</a> is the archive.

[2020-09-11 09:31] xuanxu commented on #2382
@whedon accept

[2020-09-11 09:31] whedon commented on #2382
[code]

[2020-09-11 09:31] whedon commented on #2382
[code]

[2020-09-11 09:31] whedon commented on #2382
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1724

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1724, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-11 09:40] zemogle commented on #2641
That's a really good call. @joesingo would you like to be an author? You helped substantially with  the `tom_astrosource` aspect as well as setting up RTD and Travis.

The last 2 authors provided development input before I was involved, and before the code was in GitHub.

[2020-09-11 09:59] caldarolamartin commented on #2602
I can also review the paper, if you are still interested.

Let me know.

Best,
Martin

-------------------------

Martín Caldarola

On Thu, 10 Sep 2020 at 18:59, pibion <notifications@github.com> wrote:

[2020-09-11 10:25] dfm commented on #2596
@whedon re-invite @smutch as reviewer

[2020-09-11 10:25] whedon commented on #2596
OK, the reviewer has been re-invited.

@smutch please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-11 10:55] arfon commented on #2382
@xuanxu @openjournals/joss-eics - just a reminder that we shouldn't publish this until we have the AAS (AJ) DOI.

[2020-09-11 11:27] trstewart212 commented on #2152
I am prepared to review, though it will be more for the auditing/statistical content than the code.

[2020-09-11 11:52] danielskatz commented on #2650
I think this is ok if we can argue that there aren't others who could review this, but if there are, I would prefer we avoid this conflict.

[2020-09-11 11:54] danielskatz commented on #2382
Until then, I'm going to mark this as paused

[2020-09-11 12:12] jbytecode commented on #2600
@whedon generate pdf

[2020-09-11 12:12] whedon commented on #2600
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02600/joss.02600/10.21105.joss.02600.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02600/joss.02600/10.21105.joss.02600.pdf) :page_facing_up: :point_left:

[2020-09-11 12:32] Kevin-Mattheus-Moerman commented on #2655
@danielskatz

I can take it if nobody else can, however this is quite far from my domain of expertise so it may take me a while to find suitable reviewers.

[2020-09-11 12:55] oliviaguest commented on #2650
@danielskatz I was going to add a 3rd reviewer, is that OK? Or do you prefer to just have 2 without the conflict?

[2020-09-11 13:13] danielskatz commented on #2650
My preference would be to avoid the appearance of conflicts unless we don't have a good alternative, which it sounds like we do, in this case.

[2020-09-11 13:17] oliviaguest commented on #2650
Gotcha, @danielskatz — and that makes sense!

[2020-09-11 13:17] oliviaguest commented on #2650
@whedon remove @sappelhoff as reviewer

[2020-09-11 13:18] whedon commented on #2650
OK, @sappelhoff is no longer a reviewer

[2020-09-11 13:18] will-moore commented on #2579
Hi @jmuhlich, Thanks, I see that Rashid et.al exactly ticks the box of "describe how this software compares to other commonly-used packages" but I guess that could be made a little clearer.
I found that the DOI for Rashid seems to be incorrect: https://doi.org/10.1051/0004-6361/201322068
Google led me to https://www.biorxiv.org/content/10.1101/2020.03.27.001834v1 but I ended up reading the current

[2020-09-11 13:18] oliviaguest commented on #2650
@sappelhoff I'm gonna email you about something else. ☺️

[2020-09-11 13:30] drvinceknight commented on #2152
That's fantastic, thanks @trstewart212.

[2020-09-11 13:31] drvinceknight commented on #2152
@whedon assign @trstewart212  as reviewer

[2020-09-11 13:31] whedon commented on #2152
OK, @trstewart212  is now a reviewer

[2020-09-11 13:33] drvinceknight commented on #2152
@trstewart212 once a second reviewer has been identified I will start the review.

[2020-09-11 13:49] vrx- commented on #2631
@whedon generate pdf

[2020-09-11 14:00] colbrydi commented on #2552
@danielskatz, thank you for asking.  Unfortunately I am currently overwhelmed with my coursework.  Please feel free to ask again in a couple of weeks but right now I need to pass.

[2020-09-11 14:18] telatin commented on #2451
Hello @will-rowe!
@mjsull answered my comments and I have been happy with the improvements.
I am happy to recommend this manuscript for publication!

Thank you all,
Andrea

[2020-09-11 15:09] will-rowe commented on #2451
perfect, thanks @telatin!

@mjsull - we can flag this for acceptance once you have done the following:
* fix that DOI
* tag a new release and archive it
* report the version and archive DOI back here

[2020-09-11 15:22] danielskatz commented on #2552
👋 @julianpistorius & @satybald & @Himscipy - One more try to see if one of you would be wiling to review this submission for JOSS

[2020-09-11 15:24] csoneson commented on #2659
@whedon assign @csoneson as editor

[2020-09-11 15:24] whedon commented on #2659
OK, the editor is @csoneson

[2020-09-11 15:29] danielskatz commented on #2552
👋 @alvarolopez - Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-11 15:29] shreyasbapat commented on #2662
I will review as soon as this is done :D

[2020-09-11 15:32] danielskatz commented on #2655
@whedon invite @bstabler as editor

[2020-09-11 15:32] whedon commented on #2655
@bstabler has been invited to edit this submission.

[2020-09-11 15:32] danielskatz commented on #2655
👋 @bstabler - would you be willing to edit this submission?

[2020-09-11 15:35] csoneson commented on #2659
👋 @rcarragh - I will handle this submission. Do you have any suggestions for suitable reviewers (e.g., from the spreadsheet linked in the first post above)?

Looking at your repository, it seems that you have different licenses indicated in the `DESCRIPTION` file and in the repository itself - could you please harmonize that? I also notice that your package doesn't seem to have any unit tests. We

[2020-09-11 15:48] lheagy commented on #2236
Hi @leouieda, thanks for thinking of me -- this looks like an interesting project! I am pretty loaded at the moment unfortunately, so I don't have the bandwidth to take this on. I wonder if, given the focus on the #subsurface channel of Swung on interoperability between software packages / data representations (xarray, pandas, etc), if there would be someone there who would be interested?

[2020-09-11 15:50] skadio commented on #2662
Interesting. We had a PR yesterday to fix just that. @takojunior can you take another look at the whedon output above?

[2020-09-11 15:54] Himscipy commented on #2552
Hi @danielskatz,

I will be willing to review the submission, you can add me as a reviewer for the submission.

Thank you.

Himanshu

[2020-09-11 16:23] danielskatz commented on #2552
Thanks @Himscipy - I'll add you and we'll get started.

[2020-09-11 16:23] danielskatz commented on #2552
@whedon add @Himscipy as reviewer

[2020-09-11 16:23] whedon commented on #2552
OK, @Himscipy is now a reviewer

[2020-09-11 16:23] danielskatz commented on #2552
@whedon start review

[2020-09-11 16:23] whedon opened #2664 "[REVIEW]: DARE Platform: a Developer-Friendly and Self-Optimising Workflows-as-a-Service Framework for e-Science on the Cloud"
**Submitting author:** @iaklampanos (<a href="http://orcid.org/0000-0003-0478-4300">Iraklis Klampanos</a>)
**Repository:** <a href="https://gitlab.com/project-dare/dare-platform" target ="_blank">https://gitlab.com/project-dare/dare-platform</a>
**Version:** v3.5
**Editor:** @danielskatz
**Reviewer:** @rafaelfsilva, @Himscipy
**Archive:** <a href="https://doi.org/10.5281/zenodo.4095463" target="_b

[2020-09-11 16:23] whedon commented on #2552
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2664.

[2020-09-11 16:23] #2552 closed

[2020-09-11 16:23] whedon commented on #2664
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rafaelfsilva, @Himscipy it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-09-11 16:23] whedon commented on #2664
[code]

[2020-09-11 16:24] whedon commented on #2664
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02664/joss.02664/10.21105.joss.02664.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02664/joss.02664/10.21105.joss.02664.pdf) :page_facing_up: :point_left:

[2020-09-11 16:26] danielskatz commented on #2664
👋 @rafaelfsilva & @Himscipy - thanks again for agreeing to review this submission. Please be sure to read the comments above, and let me know if you have any questions.  Basically, your job is to check the article proof and repository and check items off your checklist above.

If you see small problems that need to be discussed, feel free to discuss them here.  But if you can, create a new issue i

[2020-09-11 16:30] danielskatz commented on #2623
@Thyre - as I look for an editor, who will then look for reviewers, I wanted to share a comment that we had during our scope discussion: "Looks like it should be added on PyPI and turned into a callable library (that could also offer a CLI)"  This is just input, not a requirement.

[2020-09-11 16:33] danielskatz commented on #2623
👋 @oliviaguest - I'm sorry to ask again so soon, but could you also take on this submission?

[2020-09-11 16:33] danielskatz commented on #2623
@whedon invite @oliviaguest as editor

[2020-09-11 16:33] whedon commented on #2623
@oliviaguest has been invited to edit this submission.

[2020-09-11 16:33] oliviaguest commented on #2623
@danielskatz can do!

[2020-09-11 16:34] whedon opened #2665 "[PRE REVIEW]: Reorient: A Web tool for reorienting and cropping MRI data."
**Submitting author:** @katjaq (<a href="http://orcid.org/0000-0002-7237-0196">Katja Heuer</a>)
**Repository:** <a href="https://github.com/neuroanatomy/paper-reorient" target ="_blank">https://github.com/neuroanatomy/paper-reorient</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-09-11 16:34] whedon commented on #2665
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-11 16:34] whedon opened #2666 "[PRE REVIEW]: Multiscale Solar Water Heating"
**Submitting author:** @milicag (<a href="http://orcid.org/0000-0003-1640-3931">Milica Grahovac</a>)
**Repository:** <a href="https://github.com/LBNL-ETA/MSWH" target ="_blank">https://github.com/LBNL-ETA/MSWH</a>
**Version:** v1.0.0
**Editor:** @sjpfenninger
**Reviewers:** @brynpickering, @nmstreethran
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-09-11 16:34] whedon commented on #2666
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-11 16:34] oliviaguest commented on #2623
@whedon assign @oliviaguest as editor

[2020-09-11 16:34] whedon commented on #2623
OK, the editor is @oliviaguest

[2020-09-11 16:34] whedon commented on #2665
[code]

[2020-09-11 16:35] whedon commented on #2666
PDF failed to compile for issue #2666 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2666 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-09-11 16:35] whedon commented on #2665
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02665/joss.02665/10.21105.joss.02665.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02665/joss.02665/10.21105.joss.02665.pdf) :page_facing_up: :point_left:

[2020-09-11 16:35] danielskatz commented on #2642
👋 @indrag - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2020-09-11 16:36] danielskatz commented on #2642
@whedon reject

[2020-09-11 16:36] whedon commented on #2642
Paper rejected.

[2020-09-11 16:36] #2642 closed

[2020-09-11 16:37] oliviaguest commented on #2623
@Thyre can you drop some names of people who might be able to review this, please?

[2020-09-11 16:39] danielskatz commented on #2666
@whedon generate pdf

[2020-09-11 16:39] jacobsoj commented on #2521
This package has a lot of useful features particularly the N_FACTORS and COMPARE() functions. The sequential chi-square model test on its own would save a lot of time, but then being able to evaluate across so many different extraction methods makes doing an EFA even more efficient and why I look forward to teaching my students about this package.

I found the examples in the vignette easy to foll

[2020-09-11 16:39] whedon commented on #2666
PDF failed to compile for issue #2666 with the following error:

 Can't find any papers to compile :-(

[2020-09-11 16:41] danielskatz commented on #2666
@milicag - where in this repo is the JOSS paper?  We also require an OSI-approved license, normally a file called LICENSE

[2020-09-11 16:42] danielskatz commented on #2665
@whedon check repository

[2020-09-11 16:42] whedon commented on #2665
[code]

[2020-09-11 16:44] danielskatz commented on #2665
@katjaq - I'm going to mark this as withdrawn.  Can you resubmit with the paper in the software repository?  Or in a branch, if you don't want it in master for some reason?

[2020-09-11 16:44] danielskatz commented on #2665
@whedon withdraw

[2020-09-11 16:44] whedon commented on #2665
Paper withdrawn.

[2020-09-11 16:44] #2665 closed

[2020-09-11 17:03] oliviaguest commented on #2623
@whedon add @ alexrockhill as reviewer

[2020-09-11 17:03] whedon commented on #2623
OK, @ alexrockhill is now a reviewer

[2020-09-11 17:03] oliviaguest commented on #2623
@whedon add @alexrockhill as reviewer

[2020-09-11 17:03] whedon commented on #2623
OK, @alexrockhill is now a reviewer

[2020-09-11 17:03] oliviaguest commented on #2623
@whedon remove @ alexrockhill  as reviewer

[2020-09-11 17:03] whedon commented on #2623
OK, @ alexrockhill  is no longer a reviewer

[2020-09-11 17:41] katjaq commented on #2665
Hi @danielskatz !
Thank you very much. Sorry for my confusion on how this is supposed to work.

I just submitted again – now from the good repo :D
Very best
katja

[2020-09-11 17:57] alexrockhill commented on #2650
More reviewer suggestions are @voytek or @TomDLT or @libertyh if they have the time :)

[2020-09-11 18:08] milicag commented on #2666
@danielskatz The paper is on a branch: https://github.com/LBNL-ETA/MSWH/tree/issue5_submit_to_joss. Let me know if you'd need it merged into the master and I can do that.

The license is in the l[egal.md](https://github.com/LBNL-ETA/MSWH/blob/issue5_submit_to_joss/legal.md) file.

[2020-09-11 18:08] milicag commented on #2666
@danielskatz The paper compiled fine in the test you provide.

[2020-09-11 18:18] milicag commented on #2666
@whedon generate pdf

[2020-09-11 18:19] whedon commented on #2666
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02666/joss.02666/10.21105.joss.02666.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02666/joss.02666/10.21105.joss.02666.pdf) :page_facing_up: :point_left:

[2020-09-11 18:20] milicag commented on #2666
@danielskatz compiled, see above.

[2020-09-11 18:20] danielskatz commented on #2666
Which OSI-approved license is this?

[2020-09-11 18:22] milicag commented on #2666
BSD-3-Clause

[2020-09-11 18:27] danielskatz commented on #2666
This is modified from https://opensource.org/licenses/BSD-3-Clause which we don't allow.

Can you break this off into a LICENSE file that is just the BSD license, without any changes other than in the first line?

[2020-09-11 18:29] milicag commented on #2666
dalonsoa, brynpickering, kramea, nmstreethran, dsryberg are potential editors based on the topics.

[2020-09-11 18:30] wilsonrljr commented on #2384
Thanks, @Shibabrat!

Following your suggestion, I added the following note to the README on Development section:

"Note: we use the pytest package for testing. The test functions are located in tests subdirectories at each folder inside sysidentpy, which check the validity of the algorithms.

Run the pytest in the respective folder to perform all the tests of the corresponding sub-packages.

Curre

[2020-09-11 18:31] libertyh commented on #2650
Happy to do it, but I've never reviewed for JOSS before, so let me know if there are any general guidelines for how to do this and I'm happy to.

[2020-09-11 18:31] milicag commented on #2666
So you need me to place the https://github.com/LBNL-ETA/MSWH/blob/issue5_submit_to_joss/legal.md#license-agreement into a separate file?

[2020-09-11 18:34] cMadan commented on #2612
@andrewheusser @paxtonfitzpatrick, if either of you are available, it would great to have you as a reviewer here!

@jeremymanning, thanks for that offer. I'll see if I can get someone that's more available but will ping you again in a few weeks if I still need another reviewer.

@samhforbes, great, thank you! If you find some of the demos need a bit more explaining to make sense to you, that will

[2020-09-11 18:34] cMadan commented on #2612
@whedon add @samhforbes as reviewer

[2020-09-11 18:34] whedon commented on #2612
OK, @samhforbes is now a reviewer

[2020-09-11 18:35] milicag commented on #2666
Can you tell me why the license must be in a separate file?

[2020-09-11 18:37] alexrockhill commented on #2650
The documentation for reviewing is here https://joss.readthedocs.io/en/latest/reviewer_guidelines.html :)

[2020-09-11 18:40] dpsanders commented on #2384
I wouldn't know how to "run the pytest". Could you make that more explicit, please?

[2020-09-11 18:42] milicag commented on #2666
[Here is the license file as a separate file.](https://github.com/LBNL-ETA/MSWH/blob/master/LICENSE.md)

[2020-09-11 18:42] danielskatz commented on #2666
the problem is you are adding to the standard license, which we don't allow.  It also makes it harder to compare what you have with the standard license.

The open source community in general is good at dealing with standard files in standard locations, and this isn't standard.

[2020-09-11 18:43] danielskatz commented on #2666
Thanks - but you have modified the 3rd clause from the standard

[2020-09-11 18:43] wilsonrljr commented on #2384
Absolutely! Later today I will add an example of how to do that.

[2020-09-11 18:44] milicag commented on #2666
Sure, no problem, I just like to understand. The modifications are how the license was granted by LBNL. What is not standard in the license? Thank you so much for any clarifications.

[2020-09-11 18:49] milicag commented on #2666
I just did a detailed read and the license has the same 3 clauses and provides the same ability to the users.

[2020-09-11 18:50] danielskatz commented on #2666
I'm sorry, now I realize that this is not a BSD 3-clause license but it is almost a Lawrence Berkeley National Labs BSD Variant License (BSD-3-Clause-LBNL) license: https://opensource.org/BSD-3-Clause-LBNL.

The only change that is needed is to remove the extra text at the start of the first line, so that this line starts with "Copyright".

[2020-09-11 18:51] danielskatz commented on #2666
BSD-3-Clause-LBNL is an OSI-approved license, so once you make this small change, it will be fine.

[2020-09-11 18:54] milicag commented on #2666
Great, I've pushed the fix as required.

[2020-09-11 18:56] libertyh commented on #2650
One very minor potential conflict of interest is that Nicole Swann and I were on this paper together (https://www.nature.com/articles/s41597-019-0105-7), but this is a large list of authors (N=39) with a large number of iEEG contributors, and I have otherwise not worked with these authors directly. But just for transparency's sake I thought I'd mention, though it does rule out many iEEG/ECoG peopl

[2020-09-11 19:10] milicag commented on #2666
Just as fyi, if you were to write a parser for the license, LBNL first writes the name of the software, so as was written in my initial version:
[code]
I see how the https://opensource.org/BSD-3-Clause-LBNL switches the order, so I've aligned the license in the separate file with this one, so:
[code]

[2020-09-11 19:30] danielskatz commented on #2650
From the point of view of JOSS, this is not a conflict that should cause a problem

[2020-09-11 19:40] danielskatz commented on #2666
I'm sorry to be picky about this, but can you change the first line from

to

[2020-09-11 19:47] milicag commented on #2666
Sure! Just let me know what edits are needed.

[2020-09-11 19:54] danielskatz commented on #2666
Exactly what I wrote in the previous comment :)

[2020-09-11 19:59] milicag commented on #2666
It is changed as you instructed.

[2020-09-11 20:12] paxtonfitzpatrick commented on #2612
@cMadan I'd be happy to review this 🙂

[2020-09-11 20:15] valeriewelborn commented on #2576
Hi @richardjgowers @amandadumi @govarguz, just checking on the status of this review as it's been a while. Have you had a chance to look at it? Thank you

[2020-09-11 20:18] danielskatz commented on #2666
@whedon check repository

[2020-09-11 20:18] whedon commented on #2666
[code]

[2020-09-11 20:18] danielskatz commented on #2666
@whedon check references

[2020-09-11 20:19] whedon commented on #2666
[code]

[2020-09-11 20:20] oliviaguest commented on #2650
@whedon add @sneakers-the-rat as reviewer

[2020-09-11 20:20] danielskatz commented on #2666
@milicag - can you add the missing DOI?

[2020-09-11 20:20] whedon commented on #2650
OK, @sneakers-the-rat is now a reviewer

[2020-09-11 20:22] oliviaguest commented on #2650
OK, cool! @libertyh do you want to review this given the above (no conflict from JOSS' perspective)?

[2020-09-11 20:27] milicag commented on #2666
@whedon check references

[2020-09-11 20:28] whedon commented on #2666
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "," (COMMA) [#<BibTeX::Bibliography data=[11]>, "@", #<BibTeX::Entry >, {:title=>["Laboratory Performance Evaluation of Residential Integrated Heat Pump Water Heaters"], :author=>["Sparn, B. and Hudon, K. and Christensen, D."], :abstractnote=>["This report discusses how a significant opportunity for ener

[2020-09-11 20:28] sneakers-the-rat commented on #2650
re: COI, Alex and I are both at University of Oregon (though I believe in different departments), I've done some light troubleshooting of a server with him but haven't collaborated on any major work. I think I can be impartial but also know that doesn't quite work for COI.

let me know if that is ok for JOSS

[2020-09-11 20:30] milicag commented on #2666
@whedon check references

[2020-09-11 20:31] whedon commented on #2666
[code]

[2020-09-11 20:31] danielskatz commented on #2666
👋 @sjpfenninger - you were suggested to edit this by the submitters. Are you willing to do so?

[2020-09-11 20:31] danielskatz commented on #2666
@whedon invite @sjpfenninger as editor

[2020-09-11 20:31] whedon commented on #2666
@sjpfenninger has been invited to edit this submission.

[2020-09-11 20:32] whedon opened #2667 "[PRE REVIEW]: Reorient: A Web tool for reorienting and cropping MRI data."
**Submitting author:** @katjaq (<a href="http://orcid.org/0000-0002-7237-0196">Katja Heuer</a>)
**Repository:** <a href="https://github.com/neuroanatomy/reorient" target ="_blank">https://github.com/neuroanatomy/reorient</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewers:** @sneakers-the-rat, @pauldmccarthy
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:

[2020-09-11 20:32] whedon commented on #2667
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-11 20:32] whedon commented on #2667
[code]

[2020-09-11 20:33] whedon commented on #2667
PDF failed to compile for issue #2667 with the following error:

 Can't find any papers to compile :-(

[2020-09-11 20:35] danielskatz commented on #2667
@whedon generate pdf from branch joss-paper-branch

[2020-09-11 20:35] whedon commented on #2667
[code]

[2020-09-11 20:36] whedon commented on #2667
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02667/joss.02667/10.21105.joss.02667.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02667/joss.02667/10.21105.joss.02667.pdf) :page_facing_up: :point_left:

[2020-09-11 20:36] danielskatz commented on #2667
@whedon check references from branch joss-paper-branch

[2020-09-11 20:36] whedon commented on #2667
[code]

[2020-09-11 20:37] whedon commented on #2667
[code]

[2020-09-11 20:39] danielskatz commented on #2667
👋 @cMadan - Is there any chance you can take on one more submission to edit?

[2020-09-11 20:39] danielskatz commented on #2667
@whedon invite @cMadan as editor

[2020-09-11 20:39] whedon commented on #2667
@cMadan has been invited to edit this submission.

[2020-09-11 20:41] cMadan commented on #2667
@danielskatz, unfortunately, I'm at capacity right now.

[2020-09-11 20:43] oliviaguest commented on #2650
@danielskatz I think that's borderline but not a COI? Assuming I mean reading the documentation properly?

[2020-09-11 20:49] danielskatz commented on #2650
Well

So this is a conflict for that reason.  Again, if we can find a reviewer without conflicts, that would be better.  If not, I think this is ok.

[2020-09-11 20:54] danielskatz commented on #2667
👋 @oliviaguest - any chance you could take even one more submission to edit?

[2020-09-11 20:54] oliviaguest commented on #2650
Damn! This is so COI-y. OK, I'll try my best.

[2020-09-11 20:54] danielskatz commented on #2667
@whedon invite @oliviaguest as editor

[2020-09-11 20:54] whedon commented on #2667
@oliviaguest has been invited to edit this submission.

[2020-09-11 20:54] milicag commented on #2666
Thanks @danielskatz for guidance.

[2020-09-11 21:01] amandadumi commented on #2576
Hello @valeriewelborn, thanks for your patience. I am nearly done! Just writing up some final comments which should be posted by tomorrow. I appreciate your patience.

[2020-09-11 21:17] oliviaguest commented on #2667
@danielskatz There is a non-zero chance I can take this on. By which I mean, yes.

[2020-09-11 21:17] oliviaguest commented on #2667
@whedon assign @oliviaguest as editor

[2020-09-11 21:17] whedon commented on #2667
OK, the editor is @oliviaguest

[2020-09-11 21:27] oliviaguest commented on #2667
@katjaq when you get a moment can you drop some names for potential reviewers, please? 😊

[2020-09-11 21:30] oliviaguest commented on #2650
@whedon remove @sneakers-the-rat as reviewer

[2020-09-11 21:30] whedon commented on #2650
OK, @sneakers-the-rat is no longer a reviewer

[2020-09-11 21:35] oliviaguest commented on #2667
@whedon add @sneakers-the-rat as reviewer

[2020-09-11 21:35] whedon commented on #2667
OK, @sneakers-the-rat is now a reviewer

[2020-09-11 21:36] takojunior commented on #2662
@whedon check references

[2020-09-11 21:37] whedon commented on #2662
[code]

[2020-09-11 21:40] takojunior commented on #2662
Hi @galessiorob, @shreyasbapat, @HaoZeke, @skadio

The missing DOIs are updated. Thanks.

[2020-09-11 22:01] Deech08 commented on #2554
@s-goldman - a minor comment on your paper: The last sentence states its easy to create and add model grids, but it doesn't seem like this is a current feature, but rather something that you plan to implement in the future. It may be best to state that more clearly.

Other than the last couple minor issues I opened, i think you've addressed most of my other concerns. I'll check through all the lat

[2020-09-11 22:31] edonnachie commented on #2450
@bmcfee @jeffcsauer I've now completed my review. The paper, package documentation and functionality are quite impressive. I submitted one minor pull request to bring the documentation up to date  (2014 instead of 2012). Otherwise, I don't find any further issues.

[2020-09-11 23:09] lfaller commented on #2334
@lskatz minor suggestion: it would be nice to document what pipeline of plugins Sneakernet runs for the example. I figured it out *after* running the example by looking at the logs, but it would be useful to provide that information in the readme. You could even provide a figure showing that pipeline.

[2020-09-11 23:28] rcarragh commented on #2659
@csoneson - I will make these updates (licence and tests) and let you know when they are complete.
Thanks

[2020-09-11 23:36] rrrlw commented on #2526
Apologies for the delay with this review - overall, this looks like a solid submission. The (minor) issues that I opened were addressed and closed. I think this will be a useful addition to the JOSS literature. I have left the "Examples" box unchecked until it's addressed (looks like pointing to data analysis sections of existing manuscripts (ideally ones that have the source code available?) in p

[2020-09-11 23:48] jeffcsauer commented on #2450
Sounds good, I have notified the `arcos` maintainers of your PR and it will be addressed shortly.

Thank you very much for the detailed feedback @edonnachie and @jaeyk! Your review has greatly improved the packages and will surely enhance the experience of future users. We greatly appreciate your time and effort during the JOSS reduced service mode.

If there is anything else we can do, please let

[2020-09-12 00:45] lnferris commented on #2497
I have fixed and closed "In-file documentation (lnferris/ocean_data_tools#29)".

[2020-09-12 01:17] wilsonrljr commented on #2384
I added more information concerning the tests, including an example of how to run it. If you have any more suggestions, just let me know!

[2020-09-12 03:57] lnferris commented on #2497
I have fixed and closed "Input parsing and validation (lnferris/ocean_data_tools#10)".

[2020-09-12 04:06] lnferris commented on #2497
Hello @kthyng @kakearney @castelao! I believe I have addressed the required issues and some of the suggested issues (hope to get to the others when time allows). The only one marked as required which I have chosen not to implement is #28; there is an explanation about this in the issue itself. Please let me know if there are more changes and or/tasks needed from my end. Thanks again for your detai

[2020-09-12 05:48] smutch commented on #2596
Hi @htjb,

This is a really nice, and very useful, package.

First, I'll begin by saying that I agree with all of the feedback already provided by @benjaminpope. I also had no issues installing and using the package and have only minor feedback.

### The paper

I have little to add here beyond @benjaminpope's comments. The paper is well written, concise and covers all of the bases.

	* It would be

[2020-09-12 06:23] amandadumi commented on #2576
Great work! This is a nice addition to the analysis tools for force fields, especially one that is open source and handles large data efficiently. I have submitted some issues for feedback according to specific section of the review WelbornGroup/ELECTRIC#17, WelbornGroup/ELECTRIC#18.

I have one general question about the Tinker modified for ELECTRIC. The ELECTRIC repository references this adapte

[2020-09-12 07:28] katjaq commented on #2667
Hello @oliviaguest ! Thank you so much for being editor for our paper.
As reviewers, we would like to suggest Anibal Solon (anibalsolon), Katie Bottenhorn (62442katieb), Felix Henninger (felixhenninger). Finally, Paul McCarthy (pauldmccarthy): he's the developer of FSLeyes, however, he's not in the reviewer pool for JOSS yet...

[2020-09-12 07:42] oliviaguest commented on #2667
@katjaq thanks. I tried to find contact info (like email) for Paul McCarthy (@pauldmccarthy) but can't so I'll tag the username you gave me.

[2020-09-12 10:31] mdsteiner commented on #2521
Thank you @jacobsoj  for your review and your suggestions. We are happy to hear that the package was well received and that it will be used for teaching purposes!

Concerning community guidelines, we have now added our email addresses in the README, such that the sentence you referenced now reads: "If you want to contribute or report bugs, please open an issue on GitHub or email us at markus.d.ste

[2020-09-12 10:56] oliviaguest commented on #2640
@whedon add @vitay as reviewer

[2020-09-12 10:56] whedon commented on #2640
OK, @vitay is now a reviewer

[2020-09-12 10:57] oliviaguest commented on #2640
@whedon start review

[2020-09-12 10:57] whedon opened #2668 "[REVIEW]: BrainGlobe Atlas API: a common interface for neuroanatomical atlases"
**Submitting author:** @adamltyson (<a href="http://orcid.org/0000-0003-3225-1130">Adam Luke Tyson</a>)
**Repository:** <a href="https://github.com/brainglobe/bg-atlasapi/" target ="_blank">https://github.com/brainglobe/bg-atlasapi/</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewer:** @typically, @vitay
**Archive:** <a href="https://doi.org/10.5281/zenodo.4065389" target="_blank">10.5281

[2020-09-12 10:57] whedon commented on #2640
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2668.

[2020-09-12 10:57] #2640 closed

[2020-09-12 10:57] whedon commented on #2668
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @typically, @vitay it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-09-12 10:57] whedon commented on #2668
PDF failed to compile for issue #2668 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2668 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-132474d2711b/lib/whedo

[2020-09-12 10:58] oliviaguest commented on #2668
@whedon generate pdf from branch joss

[2020-09-12 10:58] whedon commented on #2668
[code]

[2020-09-12 10:59] whedon commented on #2668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02668/joss.02668/10.21105.joss.02668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02668/joss.02668/10.21105.joss.02668.pdf) :page_facing_up: :point_left:

[2020-09-12 11:00] oliviaguest commented on #2668
Hey 👋 @typically, @vitay: this is where the review will take place. Please make sure to read the instructions above.

For any and all things worthy of discussion or comment, use this issue right here — so drop comments or questions for me, the author, etc., here. For any very code-specific things please feel free to start an issue on the repo of the code itself (if appropriate!) and link back to i

[2020-09-12 15:22] marouenbg commented on #2644
@whedon generate pdf

[2020-09-12 15:22] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-12 15:41] ajbaird commented on #2645
sorry just noticed this, I can update DOIs today, Thanks!

[2020-09-12 15:45] joglekara commented on #2182
Hi @dpsanders , hope all is well.

I see that you're in the midst of a super cool class this fall so just wanted to help out with a friendly `bump` here ;)

[2020-09-12 16:21] tbrown122387 commented on #2599
@andremrsantos thanks very much for your work reviewing my paper. I found the feedback spot-on and very useful.

For the sake of organization, I'll respond to your suggestions point by point.

First, there were some changes I was able to make relatively quickly:

I added a section to the README that precedes the installation instructions and that mentions dependencies with specific versions: [here

[2020-09-12 16:40] dpsanders commented on #2182
👋 @joglekara: Thanks for the bump (and the kind words). Apologies for the absence.
I'll do a final check over.

[2020-09-12 16:41] dpsanders commented on #2182
@whedon generate pdf

[2020-09-12 16:41] dpsanders commented on #2182
(By the way, it would be neat to see a version of VlaPy in Julia!).

[2020-09-12 16:41] whedon commented on #2182
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02182/joss.02182/10.21105.joss.02182.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf) :page_facing_up: :point_left:

[2020-09-12 16:52] dpsanders commented on #2182
Is it possible to include a short example code in the paper?

[2020-09-12 17:02] katjaq commented on #2667
@whedon generate pdf

[2020-09-12 17:02] whedon commented on #2667
PDF failed to compile for issue #2667 with the following error:

 Can't find any papers to compile :-(

[2020-09-12 17:04] artgoldberg commented on #2656
Thank you @danielskatz I will address the issues you and whedon raise shortly.
Arthur

[2020-09-12 17:04] dpsanders commented on #2182
I think we're ready to proceed to publication!

Could you please make a tagged release and archive the software (e.g. on Zenodo or Figshare), and report the version number and archive DOI here. Thanks!

[2020-09-12 17:06] katjaq commented on #2667
@whedon generate pdf from branch joss-paper-branch

[2020-09-12 17:06] whedon commented on #2667
[code]

[2020-09-12 17:07] whedon commented on #2667
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02667/joss.02667/10.21105.joss.02667.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02667/joss.02667/10.21105.joss.02667.pdf) :page_facing_up: :point_left:

[2020-09-12 17:13] joglekara commented on #2182
Yes! That's why I did a huge refactor recently where you can swap the internal solvers.

Next up is pyjulia!

[2020-09-12 17:13] joglekara commented on #2182
On it.

Will do once I address your other changes. Give me a few hours.

[2020-09-12 17:18] dpsanders commented on #2384
@whedon generate pdf

[2020-09-12 17:18] whedon commented on #2384
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02384/joss.02384/10.21105.joss.02384.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02384/joss.02384/10.21105.joss.02384.pdf) :page_facing_up: :point_left:

[2020-09-12 17:21] katjaq commented on #2667
I have a question regarding the indication of corresponding authors: Is there a way to simply have an asterisk twice, for Roberto and me to indicate corresponding authors instead of star and cross?

I would like to just have
Katja Heuer* and Roberto Toro*.

What it does though is
Katja Heuer* and Roberto Toro†

The syntax I use is
Katja Heuer^[Corresponding author] and same later for Roberto Toro^

[2020-09-12 18:00] dpsanders commented on #2384
Once the final details have been fixed, I think we're ready to proceed to publication!

Could you please make a tagged release and archive the software (e.g. on Zenodo or Figshare), and report the version number and archive DOI here. Thanks!

[2020-09-12 18:10] dpsanders commented on #2392
👋 @alex-konovalov: Will you be able to complete your review of this paper soon?

[2020-09-12 18:21] r03ert0 commented on #2667
hello! Thank you @oliviaguest for your help!

[2020-09-12 18:34] dpsanders commented on #2392
👋 @saschatimme and @henrik227: Many thanks for your very useful feedback in the issues on the repo! Are you happy with the current version?

[2020-09-12 18:36] dpsanders commented on #2598
👋 Hi @davidjohannesmeyer, @dmbates and @wch. Just checking in to see how your reviews are going.
Please feel free to open issues directly in the repo, https://github.com/xoopR/set6. Thanks!

[2020-09-12 18:40] wilsonrljr commented on #2384
I made a new release (release name -> SysIdentPy v0.1.2, version v0.1.2).

Zenodo registered two DOIs:
- DOI for v0.1.2 -> DOI: 10.5281/zenodo.4026516;
- DOI for all versions -> DOI 10.5281/zenodo.4026515

[2020-09-12 19:07] pauldmccarthy commented on #2667
More than happy to review, will reply to your email @oliviaguest :)

[2020-09-12 19:13] artgoldberg commented on #2656
@whedon check references

[2020-09-12 19:13] whedon commented on #2656
[code]

[2020-09-12 19:18] dhhagan commented on #2435
Hi @katyhuff - any chance you've had time to review the proposed changes by @stheid per your review? Thanks!

[2020-09-12 19:27] artgoldberg commented on #2656
Hello openjournals/joss-eics:

The paper had included a section that contained the statement of need, but without that section title. I have renamed it "Statement of need".

I have renamed the tutorial from the paper. It is available on-line in a Jupyter notebook at https://sandbox.karrlab.org/notebooks/de_sim/1.%20DE-Sim%20tutorial.ipynb.

The article proof generated by whedon looks fine.

The mi

[2020-09-12 19:39] cMadan commented on #2612
@paxtonfitzpatrick, great, thank you!

@mortonne @samhforbes @paxtonfitzpatrick, I will go ahead and start the review now. Our friendly bot friend will be closing this issue and making a new one for us to do the actual review in, along with the instructions and checklists. Please comment there and tag me if you have any questions as things go along :).

[2020-09-12 19:39] cMadan commented on #2612
@whedon add @paxtonfitzpatrick as reviewer

[2020-09-12 19:39] whedon commented on #2612
OK, @paxtonfitzpatrick is now a reviewer

[2020-09-12 19:39] cMadan commented on #2612
@whedon start review

[2020-09-12 19:39] whedon opened #2669 "[REVIEW]: Psifr: Analysis and visualization of free recall data"
**Submitting author:** @mortonne (<a href="http://orcid.org/0000-0002-2631-2710">Neal Morton</a>)
**Repository:** <a href="https://github.com/mortonne/psifr" target ="_blank">https://github.com/mortonne/psifr</a>
**Version:** v0.4.4
**Editor:** @cMadan
**Reviewer:** @samhforbes, @paxtonfitzpatrick
**Archive:** <a href="https://doi.org/10.5281/zenodo.4086188" target="_blank">10.5281/zenodo.4086188<

[2020-09-12 19:39] whedon commented on #2612
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2669.