[2020-01-22 18:30] kyleniemeyer commented on #2028
@whedon accept

[2020-01-22 18:30] whedon commented on #2028
[code]

[2020-01-22 18:30] whedon commented on #2028
[code]

[2020-01-22 18:31] whedon commented on #2028
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1241

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1241, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-22 18:50] kyleniemeyer commented on #2028
@whedon accept deposit=true

[2020-01-22 18:50] whedon commented on #2028
[code]

[2020-01-22 18:51] whedon commented on #2028
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1220056352103505920) 👈 🐦🐦🐦

[2020-01-22 18:51] whedon commented on #2028
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1242
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02028](https://doi.org/10.21105/joss.02028)
2. If everything looks g

[2020-01-22 19:34] desilinguist commented on #1986
I think the package and the paper both look great! I have some suggestions to improve the [documentation](https://github.com/tresoldi/dafsa/issues/3), the [dependencies](https://github.com/tresoldi/dafsa/issues/4), and the [packaging](https://github.com/tresoldi/dafsa/issues/5).

[2020-01-22 20:24] kbarnhart commented on #2020
:wave: @lheagy @fhorrobin a friendly reminder to consider reviewing this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. Once there are sufficient reviewers (usually 2-3), I will open a new issue where the review

[2020-01-22 20:52] dmey commented on #2008
Hi @mjsottile, @rasmussn, @ethan-nelson I was wondering if you had a chance to look at this? Thanks

[2020-01-22 22:44] mjsottile commented on #2008
:wave: @rasmussn, @ethan-nelson Please let me know if you are having any trouble with the items on the checklist at the top of this thread for the review.

[2020-01-22 23:21] #2028 closed

[2020-01-22 23:21] whedon commented on #2028
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02028/status.svg)](https://doi.org/10.21105/joss.02028)

**We need your help!**

Journal of Open Source Softwa

[2020-01-22 23:23] arfon commented on #2028
@embruna - one quick question on this submission. Is there a reason why you have `formatted_doi:
` as a field in your YAML header? Having this as a blank entry caused some issues in our publishing pipeline earlier.

[2020-01-22 23:24] kyleniemeyer commented on #2028
@arfon I wondered why the DOI didn't resolve earlier...

[2020-01-22 23:30] arfon commented on #2028
😄 yeah. `formatted_doi` is one of the variables we pass into the Pandoc template. Having this in the YAML header of the `paper.md` file overrides the values that Whedon was passing in.

[2020-01-22 23:44] labarba commented on #2033
👋 @xuanxu — Could you handle this submission as editor? Thanks!

[2020-01-22 23:47] whedon opened #2035 "[PRE REVIEW]: Install and run programs, outside of R, inside of R"
**Submitting author:** @dombennett (<a href="http://orcid.org/0000-0003-2722-1359">Dominic Bennett</a>)
**Repository:** <a href="https://github.com/ropensci/outsider" target ="_blank">https://github.com/ropensci/outsider</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @dombennett. **Currently, there isn't an JOSS e

[2020-01-22 23:47] whedon commented on #2035
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-22 23:47] whedon commented on #2035
[code]

[2020-01-22 23:47] whedon commented on #2035
PDF failed to compile for issue #2035 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2035/paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2020-01-22 23:47] labarba commented on #2035
👋  @arfon — This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/282, @ropensci/editors

[2020-01-22 23:49] whedon opened #2036 "[PRE REVIEW]: osfr: An R Interface to the Open Science Framework"
**Submitting author:** @aaronwolen (<a href="http://orcid.org/0000-0003-2542-2202">Aaron R Wolen</a>)
**Repository:** <a href="https://github.com/ropensci/osfr" target ="_blank">https://github.com/ropensci/osfr</a>
**Version:** v0.2.7
**Editor:** @kthyng
**Reviewers:** @kthyng

**Author instructions**

Thanks for submitting your paper to JOSS @aaronwolen. **Currently, there isn't an JOSS editor as

[2020-01-22 23:49] whedon commented on #2036
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-22 23:49] whedon commented on #2036
[code]

[2020-01-22 23:49] whedon commented on #2036
[code]

[2020-01-22 23:49] whedon commented on #2036
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02036/joss.02036/10.21105.joss.02036.pdf)

[2020-01-22 23:55] labarba commented on #2036
👋 @trallard — Could you handle this JOSS submission as editor? Let us know! Thx.

[2020-01-22 23:55] geoffbacon commented on #1986
Thanks for the great package! I can definitely see myself using this in research and classes. I've left comments and new issues with suggestions.

[2020-01-22 23:56] whedon opened #2037 "[PRE REVIEW]: A Parametric Method for Generating Synthetic Data"
**Submitting author:** @SidharthMacherla (<a href="http://orcid.org/0000-0002-4825-2026">Sidharth Macherla</a>)
**Repository:** <a href="https://github.com/SidharthMacherla/conjurer" target ="_blank">https://github.com/SidharthMacherla/conjurer</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @SidharthMacherla. **C

[2020-01-22 23:56] whedon commented on #2037
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-22 23:56] whedon commented on #2037
[code]

[2020-01-22 23:56] arfon commented on #2035
@DomBennett - could you please merge this change to your paper to allow it to compile: https://github.com/ropensci/outsider/pull/15

Also, Pandoc gives me the following errors about your references when compiling:

[code]

[2020-01-22 23:56] whedon commented on #2037
[code]

[2020-01-22 23:56] whedon commented on #2037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02037/joss.02037/10.21105.joss.02037.pdf)

[2020-01-23 00:00] labarba commented on #2037
👋 @SidharthMacherla — thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

As described, it looks like the target applications are in data science in commercial settings. Can you elaborate how this would be used in research set

[2020-01-23 00:16] labarba commented on #1970
@whedon set 10.6084/m9.figshare.11663307.v2 as archive

[2020-01-23 00:16] whedon commented on #1970
OK. <a href="https://doi.org/10.6084/m9.figshare.11663307.v2" target="_blank">10.6084/m9.figshare.11663307.v2</a> is the archive.

[2020-01-23 00:17] labarba commented on #1970
@whedon accept

[2020-01-23 00:17] whedon commented on #1970
[code]

[2020-01-23 00:17] whedon commented on #1970
[code]

[2020-01-23 00:18] whedon commented on #1970
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1243

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1243, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-23 00:26] labarba commented on #1970
@whedon accept deposit=true

[2020-01-23 00:26] whedon commented on #1970
[code]

[2020-01-23 00:27] whedon commented on #1970
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1220140914330537986) 👈 🐦🐦🐦

[2020-01-23 00:27] whedon commented on #1970
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1244
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01970](https://doi.org/10.21105/joss.01970)
2. If everything looks g

[2020-01-23 00:27] labarba commented on #1970
Congratulations, @mbdemoraes, your JOSS paper is published! 🚀

Huge thanks to our editor: @VivianePons, and the reviewers: @sptennak, @DARSakthi — we couldn't do this without you 🙏

[2020-01-23 00:55] aaronwolen commented on #2036
@whedon commands

[2020-01-23 00:55] whedon commented on #2036
Here are some things you can ask me to do:

[code]

[2020-01-23 01:00] aaronwolen commented on #2036
@whedon generate pdf

[2020-01-23 01:01] whedon commented on #2036
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02036/joss.02036/10.21105.joss.02036.pdf)

[2020-01-23 01:02] aaronwolen commented on #2036
Thanks, @whedon. You rock.

This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/279, @ropensci/editors

[2020-01-23 01:52] mbdemoraes commented on #1970
@labarba thank you very much!!

I would like to thank you @VivianePons , @sptennak and @DARSakthi for all the support. You were amazing!

[2020-01-23 02:22] akeshavan commented on #2023
hi! Happy to edit, but I’m on vacation now and will be back on Monday!

[2020-01-23 02:51] majensen commented on #1979
@timClicks, how is it going with your review?

[2020-01-23 02:52] majensen commented on #2006
@alvarolopez - very much appreciated!
@mamcdona77 - how are things progressing?

[2020-01-23 02:54] majensen commented on #1972
@scwest - having some trouble getting traction on this work. Can you provide recommendations for reviewers? I can (prob will) review myself, but want to get your input please.

[2020-01-23 02:55] majensen commented on #1942
Hi @pythonpanda2 and @Chilipp  -- looking forward to your reviews. Thank you very much for your time on this!

[2020-01-23 03:01] fhorrobin commented on #2020
This is right up my ally as well, happy to assist.

[2020-01-23 03:12] pythonpanda2 commented on #1942
@majensen

Looking forward to the response to the  queries.

[2020-01-23 07:01] DanielAndreasen commented on #2033
Dear @xuanxu (or if another is going to be editor on this submission). First of all, thank you for your great work you do here.
In regard to the code, I would like to point out that MOOG (in `FASMA/MOOG`) is an external software. We have included it here (as similar software to FASMA has done too) for convenience of the end user.
Therefor I do not think that part requires much attention/review. Ra

[2020-01-23 08:43] Chilipp commented on #1942
Dear @majensen and @benjaminbolling. My apologies for the delay and thank you very much for your patience! I am done with my review (so far) and note a high number of issues to work on concerning the DynaGUI package. As these are so many, I did not want to create an issue for each individual point, but rather want to give @benjaminbolling the chance to comment on each of these.

My general feeling

[2020-01-23 08:54] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-23 08:54] benoit-combes commented on #1862
@whedon check references

[2020-01-23 08:54] whedon commented on #1862
[code]

[2020-01-23 08:54] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-23 09:12] benjaminbolling commented on #1942
Dear Philipp,

Many thanks for your review. I will rewrite the code for the package shortly so that it does not consist solely “of a bunch of scripts” but instead of a whole package and I will include an installation method with instructions, and instructions / a README file with clear instructions.

I will be more clear in the list of contributors, which have been included in the acknowledgments

[2020-01-23 09:14] benoit-combes commented on #1862
@whedon check references

[2020-01-23 09:14] whedon commented on #1862
[code]

[2020-01-23 09:21] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-23 09:22] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-23 09:23] benoit-combes commented on #1862
@whedon check references

[2020-01-23 09:23] whedon commented on #1862
[code]

[2020-01-23 09:25] VivianePons commented on #1970
Congratulation @mbdemoraes ! Thank you @sptennak and @DARSakthi for the great reviews. And thank you @labarba for the support on this submission

[2020-01-23 09:25] tresoldi commented on #1986
Thank you, everyone! I will work on the issues during the weekend.

[2020-01-23 09:26] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-23 09:26] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-23 09:28] benoit-combes commented on #1862
@whedon check references

[2020-01-23 09:28] whedon commented on #1862
[code]

[2020-01-23 09:29] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-23 09:29] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-23 09:30] benoit-combes commented on #1862
@whedon check reference

[2020-01-23 09:30] whedon commented on #1862
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-01-23 09:32] benoit-combes commented on #1862
@whedon check references

[2020-01-23 09:32] whedon commented on #1862
[code]

[2020-01-23 10:06] MAnalytics commented on #2019
Dear @kyleniemeyer, I forgot to tag you in the above email.
Best,
Monsuru.

[2020-01-23 10:22] will-rowe commented on #2022
Hi @kyleniemeyer. Sorry for the delay - I had to take a few days unexpected leave! Not my area but sounds interesting and I'm happy to edit for this submission.

[2020-01-23 10:23] will-rowe commented on #2022
@whedon assign @will-rowe as editor

[2020-01-23 10:23] whedon commented on #2022
OK, the editor is @will-rowe

[2020-01-23 10:24] will-rowe commented on #2022
Hi @jspaezp - sorry for the delay here. Do you have any reviewer suggestions? If not, I will consult our JOSS list to see if I can identify some suitable people.

[2020-01-23 10:34] benoit-combes commented on #1862
Dear @arokem.

Thanks for your responsiveness and for these nice suggestions, I added all of them, expect the one consisting in capitalizing "miet" as "Miet". In the last version, I used "Miet" to start a new sentence (and title), but it seems to me that this is actually not the conventional practice and that this may have motivated your suggestion. In the revised version I proposed to use "miet"

[2020-01-23 10:57] xuanxu commented on #2033
@whedon assign @xuanxu as editor

[2020-01-23 10:57] whedon commented on #2033
OK, the editor is @xuanxu

[2020-01-23 11:02] xuanxu commented on #2033
@DanielAndreasen: about redistributing MOOG with FASMA: you are releasing FASMA under MIT so to avoid license conflicts I'd recommend to add MOOG's license file inside the `FASMA/MOOG` directory (I don't know what their license is) and mention somewhere you are just redistributing it without modifications.

[2020-01-23 11:10] xuanxu commented on #2033
@MariaTsantaki whedon suggest [this](https://ui.adsabs.harvard.edu/abs/1974ApJ...189..493S/abstract) as the article referenced by your `Carbon and Nitrogen Abundances in Metal-Poor Stars` entry in the paper.bib file. Is that it? Author and title are the same but publication year is different.

[2020-01-23 11:25] trallard commented on #1917
@AustinNar have you got any updates on this?
@alexanderfurnas  have you got any time to help with the review?

[2020-01-23 11:27] trallard commented on #2000
@philerooski let's start by finding some reviewers. Have you got someone in mind already? if not you can check the list of registered reviewers :<https://bit.ly/joss-reviewers> and suggest some
(⚠️ please make sure to not use the @ when adding their names to this issue)

[2020-01-23 11:29] AJQuinn commented on #1982
Hello, we've completed quite a big set of changes (mostly docs) as rightly suggested by @szorowi1. We've closed several smaller issues but have left the one with the big changes to the doc open for now in case anything else comes up (https://vcs.ynic.york.ac.uk/analysis/sails/issues/32; https://vcs.ynic.york.ac.uk/analysis/sails/merge_requests/30). You can view the docs build for that branch here(

[2020-01-23 11:32] trallard commented on #2036
Sure assign this to me! I'll be happy to edit

[2020-01-23 11:53] DomBennett commented on #2035
@whedon generate pdf

[2020-01-23 11:53] whedon commented on #2035
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02035/joss.02035/10.21105.joss.02035.pdf)

[2020-01-23 11:57] DomBennett commented on #2035
@whedon generate pdf

[2020-01-23 11:58] whedon commented on #2035
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02035/joss.02035/10.21105.joss.02035.pdf)

[2020-01-23 12:19] DomBennett commented on #2035
@whedon generate pdf

[2020-01-23 12:20] whedon commented on #2035
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02035/joss.02035/10.21105.joss.02035.pdf)

[2020-01-23 12:22] DomBennett commented on #2035
👋 @arfon

Thanks for handling the submission! I've merged your changes and made a few changes of my own. I think it looks good now.

Let me know if there's anything else I should do.

[2020-01-23 12:23] labarba commented on #2036
@whedon assign @trallard as editor

[2020-01-23 12:23] whedon commented on #2036
OK, the editor is @trallard

[2020-01-23 12:24] natallah commented on #2022
I would say perhaps Mark Jensen, Charlotte Soneson, and you would be whom I would suggest

[2020-01-23 12:26] natallah commented on #2022
Marcos Vital and Lorena Pantano would be too other great options for reviewers

[2020-01-23 12:33] Chilipp commented on #1942
Great to hear @benjaminbolling, I am looking forward to it. Just tell me, when you are ready for another round of review or if there is anything else.

Thanks for your work on this!

[2020-01-23 12:52] majensen commented on #1942
@benjaminbolling please remember also to review @pythonpanda2 's questions that were created as issues on the DynaGUI repo.  thanks!

[2020-01-23 13:01] sjpfenninger commented on #2025
@whedon assign @Chilipp as reviewer

[2020-01-23 13:01] whedon commented on #2025
OK, @Chilipp is now a reviewer

[2020-01-23 13:54] ethan-nelson commented on #2008
@mjsottile @dmey working through it--should have things completed by tomorrow US time!

[2020-01-23 14:20] aaronwolen commented on #2036
A few potential reviewers from the list that might be a good fit:
* benmarwick
* milesmcbain
* clauswilke

[2020-01-23 14:54] arfon commented on #2035
@whedon add @arfon as editor

[2020-01-23 14:54] whedon commented on #2035
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-01-23 14:54] arfon commented on #2035
@whedon assign @arfon as editor

[2020-01-23 14:54] whedon commented on #2035
OK, the editor is @arfon

[2020-01-23 14:55] arfon commented on #2035
@whedon add @arfon as reviewer

[2020-01-23 14:55] whedon commented on #2035
OK, @arfon is now a reviewer

[2020-01-23 14:56] arfon commented on #2035
@whedon start review

[2020-01-23 14:56] #2035 closed

[2020-01-23 14:56] whedon opened #2038 "[REVIEW]: Install and run programs, outside of R, inside of R"
**Submitting author:** @dombennett (<a href="http://orcid.org/0000-0003-2722-1359">Dominic Bennett</a>)
**Repository:** <a href="https://github.com/ropensci/outsider" target ="_blank">https://github.com/ropensci/outsider</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3615177" target="_blank">10.5281/zenodo.3615177</a>

## Status

[2020-01-23 14:56] whedon commented on #2035
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2038. Feel free to close this issue now!

[2020-01-23 14:56] whedon commented on #2038
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watch

[2020-01-23 14:56] arfon commented on #2038
@whedon set 10.5281/zenodo.3615177 as archive

[2020-01-23 14:56] whedon commented on #2038
OK. <a href="https://doi.org/10.5281/zenodo.3615177" target="_blank">10.5281/zenodo.3615177</a> is the archive.

[2020-01-23 14:56] whedon commented on #2038
[code]

[2020-01-23 14:56] whedon commented on #2038
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02038/joss.02038/10.21105.joss.02038.pdf)

[2020-01-23 14:57] arfon commented on #2038
Accepting as reviewed in https://github.com/ropensci/software-review/issues/282

[2020-01-23 14:57] arfon commented on #2038
@whedon accept

[2020-01-23 14:57] whedon commented on #2038
[code]

[2020-01-23 14:58] whedon commented on #2038
[code]

[2020-01-23 14:58] whedon commented on #2038
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1245

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1245, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-23 15:02] arfon commented on #2038
@whedon accept deposit=true

[2020-01-23 15:02] whedon commented on #2038
[code]

[2020-01-23 15:03] whedon commented on #2038
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1220361353254313985) 👈 🐦🐦🐦

[2020-01-23 15:03] whedon commented on #2038
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1246
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02038](https://doi.org/10.21105/joss.02038)
2. If everything looks g

[2020-01-23 15:26] simonom commented on #1918
Hi @dhhagan and @andreas-h, will you be able to complete the review?

[2020-01-23 15:37] arfon commented on #2003
Thanks @srmnitc for your feedback here. To respond directly to ☝️this comment - I think this is probably OK as-is. We generally try to avoid lengthy discussions of e.g. the API structure (something that should be in docs) but some examples such as these are reasonable I think.

[2020-01-23 15:37] arfon commented on #2038
@DomBennett - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-01-23 15:37] #2038 closed

[2020-01-23 15:38] whedon commented on #2038
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02038/status.svg)](https://doi.org/10.21105/joss.02038)

**We need your help!**

Journal of Open Source Softwa

[2020-01-23 16:16] kbarnhart commented on #2020
@whedon add @fhorrobin as reviewer

[2020-01-23 16:16] whedon commented on #2020
OK, @fhorrobin is now a reviewer

[2020-01-23 16:26] csoneson commented on #1744
I have been in contact with @RafalUrniaz via email, and he would like to withdraw this submission since he will not have time to get back to it in the near future.

@openjournals/joss-eics - I will close this issue and add the 'withdrawn' label, is there anything else that should be done from my side?

@jlincbio, @VivekTodur - thanks a lot for your reviews, really appreciate your time and input.

[2020-01-23 16:28] kbarnhart commented on #2020
Thanks for being willing to review this package @fhorrobin 👍 .

I'd like to find one more reviewer for this before I move it from the pre-review to the review stage.

:wave: @rowanc1 @leouieda would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.htm

[2020-01-23 16:28] #1744 closed

[2020-01-23 16:32] kyleniemeyer commented on #2023
@whedon assign @akeshavan as editor

[2020-01-23 16:32] whedon commented on #2023
OK, the editor is @akeshavan

[2020-01-23 16:32] kyleniemeyer commented on #2023
@akeshavan no problem, thanks!

[2020-01-23 16:33] kyleniemeyer commented on #2022
@natallah thanks for the suggestions, but those are from our editor list—could you look at the [reviewer list][(https://bit.ly/joss-reviewers) instead?

[2020-01-23 16:33] labarba commented on #1744
We have to withdraw the submission on the AEIC interface, which I just did now.

[2020-01-23 16:37] natallah commented on #2022
Oh sorry about that:  skummerf, afrubin,dpolychr,mschubert,adamhsparks would all be good

[2020-01-23 17:09] karthik commented on #2019
👋 @MAnalytics I'l be the editor handling your submission. A quick look shows that you have no unit tests at all. Can you please add sufficient tests to cover all functionality of your package?

[2020-01-23 17:11] whedon commented on #2035
[code]

[2020-01-23 17:23] MAnalytics commented on #2019
@karthik Thank you very much for accepting to handle my submission. I will add the tests asap to cover all functionality, and get back to you.
Regards, Monsuru.

[2020-01-23 17:23] cMadan commented on #1830
@whedon check references

[2020-01-23 17:24] whedon commented on #1830
[code]

[2020-01-23 17:24] cMadan commented on #1830
@whedon generate pdf

[2020-01-23 17:25] whedon commented on #1830
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01830/joss.01830/10.21105.joss.01830.pdf)

[2020-01-23 17:26] DARSakthi commented on #1970
Congratulations @mbdemoraes!

[2020-01-23 17:41] andreas-h commented on #1918
Yes but I won't be able to do it within the next ten days.

[2020-01-23 17:42] kthyng commented on #1985
Hi @gmaze, that is certainly a trend right now!

@callumrollo I see you are on the JOSS reviewer list with an expertise in Marine Technology. Do you work with oceanographic data? This submission to JOSS is about quality control of ocean data so I'm looking for reviewers with this background plus Python expertise. I'm hoping to move through reviews in the next 3 weeks if possible. Any interest?

[2020-01-23 17:44] kthyng commented on #1985
@castelao I'm willing to keep recruiting reviewers to try to review your submission before Ocean Sciences, but I could use more suggestions. I'd really like to include people with data experience in particular. If you have suggestions, please list them without @-mentioning them here.

@gmaze Just to be clear, I am going to see if I can find reviewers who can work on this sooner, but if not I would

[2020-01-23 17:55] mamcdona77 commented on #2006
Will update early next week

Michael
Michael A McDonald, MD, PhD

[2020-01-23 18:14] YichaoOU commented on #2030
The documentation and manuscript are well written. Installation and test cases are easy to follow.

In my case, `./FGTpartitioner.py -h` does not work, but `python FGTpartitioner.py -h` works.

The GitHub repo provides examples but the documentation didn't specifically provide test commands such as, `python FGTpartitioner.py -v examples/example_1.vcf.gz`

Minor comments:

1.  What is the time comp

[2020-01-23 18:47] embruna commented on #2028
Yup, it was in the template...but not anymore.  Deleted.

[2020-01-23 19:24] philerooski commented on #2000
@trallard There is a paper similar to this that has been published in JOSS (https://joss.theoj.org/papers/10.21105/joss.01778) that was reviewed by Abhishektha Boppana (`abhishektha`), although this reviewer is not familiar with R. Arne Küderle (`AKuederle`) is familiar with the conceptual aspects of this paper (IMUs, motion/gait analysis), but they do not list R as a programming language that the

[2020-01-23 19:29] kthyng commented on #2032
@whedon assign @kthyng as editor

[2020-01-23 19:29] whedon commented on #2032
OK, the editor is @kthyng

[2020-01-23 19:44] #1970 closed

[2020-01-23 19:44] whedon commented on #1970
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01970/status.svg)](https://doi.org/10.21105/joss.01970)

**We need your help!**

Journal of Open Source Softwa

[2020-01-23 19:46] labarba commented on #2019
@whedon assign @karthik as editor

[2020-01-23 19:46] whedon commented on #2019
OK, the editor is @karthik

[2020-01-23 20:01] arfon commented on #2028
:+1: is there some guidance/documentation that suggested you should add this field that needs correcting?

[2020-01-23 20:20] melissawm commented on #2031
Thank you, @kyleniemeyer , I can take this one.

@sjvrijn I'll be contacting potential reviewers shortly, thanks for the suggestions.

[2020-01-23 20:20] melissawm commented on #2031
@whedon assign @melissawm as editor

[2020-01-23 20:20] whedon commented on #2031
OK, the editor is @melissawm

[2020-01-23 20:20] kthyng commented on #1988
@arfon It's weird that other reviews are being tied in here because of ooo references I think

[2020-01-23 20:32] kthyng commented on #1988
@miketuri Sorry for the delay. I'd like to follow up on your responses, keeping in mind that I am not in your field of expertise. Are you saying that this submission address a deficiency in former versions of Spice, but is not as relevant for current versions?

I'm discussing with the editorial board to help determine how well this fits in scope. Can you tell me about how a user of your software (

[2020-01-23 20:40] ygrange commented on #1987
Ok, there we go:

The paper is clearly written, readable and concise. The software is clearly documented and the jupyter notebook tutorials are a pretty good way to get a feeling of how to use the tool. In general I really like this submission. So I fully agree with @KshitijAggarwal that this was an enjoyable package to review and that even without any experience in using BPASS data I can imagine

[2020-01-23 20:43] ygrange commented on #1987
Small issue I noticed when having another glance at the readthedocs: you may want to link the notebook tutorials somewhere in the intro.

[2020-01-23 20:45] ygrange commented on #1987
Ok, last one: all boxes checked!

[2020-01-23 20:51] arfon commented on #1988
@kthyng the OoO bot is managed at the repository level (`openjournals/joss-reviews`) so if you've marked yourself as out of the office on any of the review issues then the bot will respond on all of them. Does that make sense?

[2020-01-23 21:36] poulson commented on #1609
Hi @ajgates42 -- thank you for all of your volunteering on this so far.

It seems you still haven't checked the following boxes: functionality, performance, installation, community guidelines, authors statement, statement of need, and references.

Do you have lingering concerns on any of these issues? If so, would you mind articulating them?

[2020-01-23 21:44] aebergl commented on #1830
The proofs looks good. No edits from me

[2020-01-23 21:52] poulson commented on #1371
In that case, @artivis, can you post the DOI with your commended process? I think it makes the most sense to use the version that the reviewers reviewed.

We should be able to quickly move onto finalizing the paper and formally recommending it for acceptance.

Thank you for your patience!

[2020-01-23 21:54] poulson commented on #1655
Hi @hausen :wave: -- please let me know if you think you will be able to make progress on your review in the next few days. @stsievert has been nearly done with theirs for a few weeks and it would be good for us to promptly respond to the authors.

[2020-01-23 22:39] miketuri commented on #1988
Hello @kthyng, thank you for your questions.  It is not a problem with the delay; my semester has just started as well.  I have provided answers/explanations to your questions below:

Yes, this is correct.  Without this Perl package, I would not have been able to perform Monte Carlo circuit simulations with the version of *ngspice* I was using (this was a closed-source version tied to a particular

[2020-01-23 23:44] mbobra commented on #2004
@tacaswell, @wafels Let me know if you still have time to review -- if you're too busy, no worries at all and I can find other reviewers.

[2020-01-24 00:06] jlincbio commented on #1744
@csoneson Thanks for the notice. If there are other manuscripts needing review please do not hesitate to let me know.

[2020-01-24 01:03] IgorBaratta commented on #1848
@whedon generate pdf

[2020-01-24 01:05] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2020-01-24 01:21] HeloiseS commented on #1987
Thanks @ygrange ! Here's a quick response/summary:

Fixes
----

- I added the description I have of BPASS in the readthedocs to the README :heavy_check_mark:
- added wheel to the requirements, although when i created a python 3.7 env to reinstall from scratch to reproduce your error, conda installed wheel automatically. Better safe than sorry so I added it anyway! :heavy_check_mark:
- Added instru

[2020-01-24 03:04] SidharthMacherla commented on #2037
Hi @labarba ,
  This paper details synthetic data methodology. The concept of synthetic data generation has application in research setting. To elaborate, synthetic data generation is used in testing new algorithms proposed by researchers. Following are some examples that could be cited. I will be happy to help you with any further clarifications.

1. The following publication (page 230) speaks ab

[2020-01-24 04:38] arokem commented on #1862
Yes - that sounds fine to me! With these changes, I believe that your submissions is ready for final review by the editors in chief. Before we proceed to this step, could you please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutiona

[2020-01-24 06:02] munkm commented on #1774
Hi @kthyng! I just heard about `citeas` recently, too! I'm a big fan! ❤️

Thank you for linking the paper preview service! It's so helpful.

I've fixed the references based on opening issues in a few repositories to check what the package developers preferred. I think I've fixed most of the weird citation issues now and they look good in the preview service to me. Can you let me know if everything

[2020-01-24 06:02] munkm commented on #1774
@whedon generate pdf

[2020-01-24 06:03] whedon commented on #1774
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01774/joss.01774/10.21105.joss.01774.pdf)

[2020-01-24 08:38] dvberkel commented on #2016
@akeshavan I have completed my review

[2020-01-24 09:23] benoit-combes commented on #1862
Thanks for these detailed steps. So here is :
* is the tagged release of miet : https://gitlab.inria.fr/miet/miet/-/tags/v0.2
* the associated Zenodo archival deposit: https://doi.org/10.5281/zenodo.3626693

If I am correct, this fills the 4 steps detailed above, if it is not the case, please let me know.

Moreover, the paper title has changed from "**M**iet: an R package for region of interest an

[2020-01-24 12:49] marcosvital commented on #1941
Hi, everyone!

@cddesja , sorry about the delayed reply, I'm still organizing myself after a few weeks out of office.

@wjakethompson , @jrosen48 and @markhwhiteii, let us know when you have the time to look into this review, ok? And please feel free to contact me if you have any questions about the reviewing process.

Best regards

Marcos

[2020-01-24 13:05] marcosvital commented on #1974
Hi, @rhagenson , sorry about the delayed reply, I was still organizing myself after some weeks out of office.

If everything seems to be ok with the article proof, we can move on to assigning reviewers for you submission. We usually ask the authors for suggestions, so let me know if you have anyone in mind that could do this.

You can also check this [list of people](https://bit.ly/joss-reviewers)

[2020-01-24 13:20] arokem commented on #1862
@whedon set 10.5281/zenodo.3626693 as archive

[2020-01-24 13:20] whedon commented on #1862
OK. <a href="https://doi.org/10.5281/zenodo.3626693" target="_blank">10.5281/zenodo.3626693</a> is the archive.

[2020-01-24 13:21] arokem commented on #1862
@openjournals/joss-eics : I believe this is ready for your final review.

In particular, not submitter's question [above](https://github.com/openjournals/joss-reviews/issues/1862#issuecomment-578053546):

Does it?

[2020-01-24 13:36] will-rowe commented on #2022
Hi @afrubin and  @mschubert - would you please be able to review this submission for JOSS?

[2020-01-24 13:39] simonom commented on #1918
Thank you, appreciate the update.

[2020-01-24 14:12] bernease commented on #1904
I have completed the review to the best of my ability.

I have some concerns about the lack of references to related work as well as discussion of related software in the field, leading me keep these two fields unchecked for now. There is a singular reference to a pre-print manuscript describing the FATForensics software package in depth, Sokol, Santos-Rodriguez, and Flach (2019).

At minimum, wou

[2020-01-24 14:36] So-Cool commented on #1904
Thank you for the review, @bernease. I'll address your and @osolari's comments over the weekend and update the paper. I'll make sure to let you know when this is done.

[2020-01-24 14:39] eschnett commented on #2011
@michael-hartmann The last item on my to-do list is a description of the state of the field. Can you let me know when/whether you have added this?

[2020-01-24 14:57] michael-hartmann commented on #2011
@eschnett Sorry for the delay, I have not forgotten this point. The week tended out to be busier than expected. I will add the remark either on the weekend. :-)

[2020-01-24 15:01] kthyng commented on #2032
Hi @activemargins! I'm doing a little investigating on my end and will be back to check in shortly. Thanks!

[2020-01-24 15:56] rhagenson commented on #1974
@marcosvital, looking at the list of reviewers, the folks I found via a search for Go and visualization experience are:

@ djmitche
@ terrytangyuan
@ rabdill

Spaces after the @ to let you make the decision who to reach out to and in what order.

[2020-01-24 16:38] jedbrown commented on #1441
@whedon check references

[2020-01-24 16:39] whedon commented on #1441
[code]

[2020-01-24 16:44] dsurujon commented on #1830
The changes on the manuscript, software and documentation look great. I am happy to recommend this updated version for publication!

[2020-01-24 17:36] embruna commented on #2028
That would be useful - either removal from the template OR a note that it should be deleted.

[2020-01-24 17:57] likask commented on #1441
@whedon check references

[2020-01-24 17:57] whedon commented on #1441
[code]

[2020-01-24 17:58] likask commented on #1441
@whedon generate pdf

[2020-01-24 17:59] whedon commented on #1441
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01441/joss.01441/10.21105.joss.01441.pdf)

[2020-01-24 18:00] likask commented on #1441
@whedon check references

[2020-01-24 18:00] whedon commented on #1441
[code]

[2020-01-24 18:05] jedbrown commented on #1441
I think these three are missing.

https://doi.org/10.1007/BF00298636
https://doi.org/10.1007/s00366-006-0049-3
https://doi.org/10.1016/j.compositesb.2019.03.027

[2020-01-24 18:19] arfon commented on #2028
So this field _is_ included in a template somewhere? If so, could you please point me to it?

[2020-01-24 18:31] likask commented on #1441
@whedon generate pdf

[2020-01-24 18:33] whedon commented on #1441
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01441/joss.01441/10.21105.joss.01441.pdf)

[2020-01-24 18:34] likask commented on #1441
@whedon check references

[2020-01-24 18:34] whedon commented on #1441
[code]

[2020-01-24 18:42] jedbrown commented on #1441
Great! Please tag a release (may be minor or subminor), archive your repository on Zenodo or similar, and report the DOI back here.

[2020-01-24 18:43] ethan-nelson commented on #2008
This is my first review with JOSS, so thanks for this opportunity. Code looks to be in good shape. Tests run fine and physical values in the raw output of testing are reasonable. Modules are documented on the corresponding website, model scientific documentation is available, and namelist parameters are defined. The paper covers the important points of the software and highlights where it aligns w

[2020-01-24 19:14] mbobra commented on #1809
@SuperKam91 Do you want to go ahead and publish the paper without the DOI for that one citation? That's fine with me -- we don't need to hold up your publication just for that singular DOI.

[2020-01-24 19:27] jessepisel commented on #1969
@kbarnhart I have completed my review of `corebreakout`. The authors have addressed the issues that I raised over on the repository homepage and my review is now complete. Please let me know if you have any questions.

[2020-01-24 19:34] IgorBaratta commented on #1848
Hi @meg-simula, I have completed my review.

Yet, there are still two boxes unchecked, both concerning the software paper:
- State of the field – As [previosly noted](https://github.com/openjournals/joss-reviews/issues/1848#issuecomment-553086261) by @finsberg, a comparison to other commonly-used packages is missing.
- References – There seem to be some inconsistencies in the citation format in th

[2020-01-24 19:47] likask commented on #1441
10.5281/zenodo.3627253

[http://doi.org/10.5281/zenodo.3627253](http://doi.org/10.5281/zenodo.3627253)

[2020-01-24 19:52] likask commented on #1441
@jedbrown Master branch is tagged v0.9.0.

[2020-01-24 19:53] jedbrown commented on #1441
The archive says it's v0.9.0, but you just tagged v0.9.1 (from last month)?

[2020-01-24 19:55] jedbrown commented on #1441
[code]
Probably shouldn't do that. Best to make a new tag.

[2020-01-24 20:04] likask commented on #1441
Yes, it was stupid form my side,
[code]
should fix the problem.

The archive is uploaded for version v0.9.0, it is tarball from the master branch. We will yet to merge develop branch with the master when all is ready.

[2020-01-24 20:08] likask commented on #1441
@jedbrown You can note that zipped file in Zenode has in name "0a18bd77be0a" that is commit SHA for current master.

[2020-01-24 20:22] jedbrown commented on #1441
It doesn't:
[code]

I'm entirely capable of fixing this situation on my end, but still question whether this is really what you want to do to all your users and co-developers who may have a clone or fork of the repository, and to anyone who may have referenced v0.9.0 as it was released in October.

[2020-01-24 20:34] likask commented on #1441
OK

I put tag v0.9.0 on the old commit, where it was, set new tag v0.9.0-joss on top of the master branch.

A mess which I created, should be unnoticed by others.

[2020-01-24 21:19] remram44 commented on #2007
The software side looks fine to me! There are automated tests, extensive documentation including examples.

One missing item is the "community guidelines" explaining how to contribute, but that's easy to add. (I don't know if *you need one*, but it's on the JOSS checklist :wink:)

Here are my remarks looking around the documentation and code:

* there is a branch `v1.0.0` with the same name as the

[2020-01-24 21:40] jedbrown commented on #1441
@whedon set 10.5281/zenodo.3627253 as archive

[2020-01-24 21:40] whedon commented on #1441
OK. <a href="https://doi.org/10.5281/zenodo.3627253" target="_blank">10.5281/zenodo.3627253</a> is the archive.

[2020-01-24 21:40] jedbrown commented on #1441
@likask Could you adjust the Zenodo metadata to match `v0.9.0-joss`?

[2020-01-24 21:45] likask commented on #1441
It is now.

[2020-01-24 21:46] jedbrown commented on #1441
@whedon set v0.9.0-joss as version

[2020-01-24 21:46] whedon commented on #1441
OK. v0.9.0-joss is the version.

[2020-01-24 21:47] jedbrown commented on #1441
@whedon accept

[2020-01-24 21:47] whedon commented on #1441
[code]

[2020-01-24 21:48] whedon commented on #1441
[code]

[2020-01-24 21:49] whedon commented on #1441
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1247

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1247, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-24 21:50] jedbrown commented on #1441
@openjournals/joss-eics :wave: We're ready for you.

[2020-01-24 21:54] likask commented on #1441
Thank you all @jedbrown @tjhei  @vijaysm @chennachaos @Kevin-Mattheus-Moerman @chrisrichardson

Time, help and patience. BTW Experience with the open journal and open review is great.

[2020-01-24 21:56] ktmeaton commented on #1990
I’ve updated the repositories Issues and Pull Requests, thank you @druvus for creating the bioconda recipe! Apologies for the delay, I just needed some time to research and experiment with how conda integration will work for long-term support.

[2020-01-24 21:58] IgorBaratta commented on #2003
I started the review by trying the _experimental_ Julia binding, and the installation of the package was straightforward. However, for the C++ library itself, I couldn't find any documentation of the installation process.  So at this point, I could not honestly evaluate the **Functionality**.

Concerning the **Documentation**, some items are missing or not easily accessible:
- Community guidelines

[2020-01-24 23:00] arfon commented on #1862
@whedon generate pdf

[2020-01-24 23:01] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-24 23:02] arfon commented on #1862
@arokem @benoit-combes - the PDF has the correct title so I think this should be fine (i.e. no additional changes are necessary).

[2020-01-24 23:59] kaashif commented on #1835
I'll have some time to work on this project this weekend. I think I can have all of the issues closed in a few days, I just didn't have much time over Christmas and New Year.

[2020-01-25 10:13] iagolemos1 commented on #2013
@whedon generate pdf

[2020-01-25 10:14] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-01-25 11:59] SuperKam91 commented on #1809
@whedon check references

[2020-01-25 12:02] SuperKam91 commented on #1809
Hi @mbobra in the end I've lost patience with regard to my university providing me the DOI of the reference, so I just created one for it myself using Zenodo. Hopefully this is sufficient, in which case we can proceed.

[2020-01-25 12:03] SuperKam91 commented on #1809
@whedon generate pdf

[2020-01-25 12:03] whedon commented on #1809
PDF failed to compile for issue #1809 with the following error:

 Error reading bibliography ./paper.bib (line 10, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-01-25 12:23] arfon commented on #1277
Dear @casperdcl, @lrq3000, @noamraph and other tqdm contributors. The JOSS editorial board has considered the concerns raised by @lrq3000 and agree the authorship of this paper is problematic. JOSS’s [policy on authorship states](https://joss.theoj.org/about#ethics):

While we recognize that @casperdcl made an [attempt to include](https://github.com/openjournals/joss-reviews/issues/1277#issuecomme

[2020-01-25 12:51] ocefpaf commented on #1985
@kthyng I spoke with Jessica Austin (@jessicaaustin), from Axiom DataScience, and she is willing to review it. Jessica a lot of experience with scientific Software development applied to oceanography and is the lead developer for the IOOS QA/QC QARTOD implementation.

[2020-01-25 12:56] hadim commented on #1277
I guess I am kind of late to the party. I am the person who forked the original repo to `tqdm/tqdm` and maintained it for a few weeks before I let the other devs taking over.

I am not sure I should be on that paper but at least my name should be cited in it wherever it's in an acknowledgment paragraph or a an history paragraph about the birth and re-birth of the project (this section would be coo

[2020-01-25 13:14] arfon commented on #1277
Yes, please discuss this topic in https://github.com/tqdm/tqdm and report back here when you have a resolution.

[2020-01-25 13:36] labarba commented on #1862
@whedon set v0.2 as version

[2020-01-25 13:36] whedon commented on #1862
OK. v0.2 is the version.

[2020-01-25 13:55] labarba commented on #1862
@benoit-combes — Your last reference is missing its DOI. I found it is [10.1093/scan/nsm006](https://doi.org/10.1093/scan/nsm006).

Would you consider formatting the software title with code font? It looks a bit odd to see the word miet in the text with normal font, so I'm suggesting using `miet`. What do you think?

In a couple of places, you have a reference inside a parenthetical, resulting in

[2020-01-25 15:49] labarba commented on #1441
@whedon accept

[2020-01-25 15:49] whedon commented on #1441
[code]

[2020-01-25 15:50] whedon commented on #1441
[code]

[2020-01-25 15:51] whedon commented on #1441
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1248

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1248, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-25 15:51] labarba commented on #1441
@whedon accept deposit=true

[2020-01-25 15:51] whedon commented on #1441
[code]

[2020-01-25 15:53] whedon commented on #1441
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1221098695594254337) 👈 🐦🐦🐦

[2020-01-25 15:53] whedon commented on #1441
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1249
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01441](https://doi.org/10.21105/joss.01441)
2. If everything looks g

[2020-01-25 15:54] labarba commented on #1441
Congratulations, @likask, your JOSS paper is published! 🚀

Huge thanks to our editor, @jedbrown, and to the hard-working team of reviewers here! JOSS depends on volunteers like you, and we are grateful 🙏

[2020-01-25 15:54] #1441 closed

[2020-01-25 15:54] whedon commented on #1441
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01441/status.svg)](https://doi.org/10.21105/joss.01441)

**We need your help!**

Journal of Open Source Softwa

[2020-01-25 16:40] casperdcl commented on #1277
@arfon thanks for your time and review.

Clearly we shouldn't have any issues with @lrq3000 (and @hadim/@kmike) going forward but I'm concerned about @noamraph - I've never managed to contact him and as far as I know nobody else has either, despite very serious efforts (year ago, we were about to rename the project - https://github.com/tqdm/tqdm/issues/2, https://github.com/tqdm/tqdm/issues/30, ht

[2020-01-25 17:13] SuperKam91 commented on #1809
@whedon check references

[2020-01-25 17:13] whedon commented on #1809
[code]

[2020-01-25 17:16] SuperKam91 commented on #1809
@whedon generate pdf

[2020-01-25 17:16] whedon commented on #1809
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01809/joss.01809/10.21105.joss.01809.pdf)

[2020-01-25 17:33] lrq3000 commented on #1277
Yes we can surely work it out together.

About Noam, the total code contribution is irrelevant IMO in his case as he invented the very foundation and concept of this project, so the code quantity is irrelevant in his case.

But indeed he may be hard to reach, although I'll try my best to. In the worst case, if he cannot be reached despite our best attempts, I propose Noam to be mentioned in contex

[2020-01-25 17:37] drwaseemsheikh commented on #2016
Thank you @dvberkel for completing the review.

@akeshavan, I haven't heard from the second reviewer for over a month now. Perhaps he missed the email. Could you please remind him to start the review. I will appreciate it. Thanks!

[2020-01-25 18:19] arfon commented on #1277
I’ve actually heard directly from @noamraph over email twice in the last couple of days. I will ask him to participate in this discussion.

[2020-01-25 18:45] noamraph commented on #1277
Hi all, I apologize for being so unresponsive, and for the trouble this has caused. Anyway, thankfully I'm alive, and I'll try to be more responsive now.

[2020-01-25 19:27] whedon commented on #1809
[code]

[2020-01-25 21:27] lrq3000 commented on #1277
Dear @noamraph, I am very pleased and honored to talk with you, that's awesome! I will open an issue on tqdm repo before tomorrow with some propositions so we can further discuss there. Thank you for coming in and no worries about the time! :D

[2020-01-25 23:50] whedon opened #2039 "[PRE REVIEW]: RADWave: Python code for ocean surface wave analysis by satellite radar altimeter"
**Submitting author:** @CourtneySmith32 (<a href="http://orcid.org/0000-0002-9556-6626">Courtney Smith</a>)
**Repository:** <a href="https://github.com/pyReef-model/RADWave" target ="_blank">https://github.com/pyReef-model/RADWave</a>
**Version:** 0.02
**Editor:** @sjpfenninger
**Reviewers:** @bradyrx, @scivision

**Author instructions**

Thanks for submitting your paper to JOSS @CourtneySmith32.

[2020-01-25 23:50] whedon commented on #2039
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-25 23:50] whedon commented on #2039
[code]

[2020-01-25 23:50] whedon commented on #2039
[code]

[2020-01-25 23:50] whedon commented on #2039
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02039/joss.02039/10.21105.joss.02039.pdf)

[2020-01-25 23:54] labarba commented on #2039
👋  @sjpfenninger — Could you handle this JOSS submission as editor?
(The subject area fits more closely with @kthyng, but she is editing 4 submissions right now.)
Have a look, and let me know.

[2020-01-25 23:56] whedon opened #2040 "[PRE REVIEW]: SpiceyPy: a Pythonic Wrapper for the SPICE Toolkit"
**Submitting author:** @andrewannex (<a href="http://orcid.org/0000-0002-0253-2313">Andrew Annex</a>)
**Repository:** <a href="https://github.com/AndrewAnnex/SpiceyPy" target ="_blank">https://github.com/AndrewAnnex/SpiceyPy</a>
**Version:** v3.0.1
**Editor:** @mbobra
**Reviewers:** @hayesla, @jessie-dotson

**Author instructions**

Thanks for submitting your paper to JOSS @andrewannex. **Currentl

[2020-01-25 23:56] whedon commented on #2040
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-25 23:56] whedon commented on #2040
[code]

[2020-01-25 23:56] whedon commented on #2040
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02040/joss.02040/10.21105.joss.02040.pdf)

[2020-01-25 23:56] whedon commented on #2040
[code]

[2020-01-26 00:01] labarba commented on #2040
👋  @mbobra — The submitting author suggested you as handling editor. Can you take this to the finish line?

[2020-01-26 00:02] whedon opened #2041 "[PRE REVIEW]: hypr: An R package for hypothesis-driven contrast coding"
**Submitting author:** @mmrabe (<a href="http://orcid.org/0000-0002-2556-5644">Maximilian Rabe</a>)
**Repository:** <a href="https://github.com/mmrabe/hypr" target ="_blank">https://github.com/mmrabe/hypr</a>
**Version:** v0.1.6
**Editor:** @marcosvital
**Reviewers:** @tomfaulkenberry , @JonathanReardon

**Author instructions**

Thanks for submitting your paper to JOSS @mmrabe. **Currently, there

[2020-01-26 00:02] whedon commented on #2041
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-26 00:02] whedon commented on #2041
[code]

[2020-01-26 00:02] whedon commented on #2041
Failed to discover a valid open source license.

[2020-01-26 00:02] whedon commented on #2041
[code]

[2020-01-26 00:02] whedon commented on #2041
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02041/joss.02041/10.21105.joss.02041.pdf)

[2020-01-26 00:10] labarba commented on #2041
👋 @marcosvital — Could you handle this JOSS submission as editor? Let me know!

[2020-01-26 00:13] labarba commented on #1889
@gioacchinowang — do update us on the status/timeline of your AAS publication, when opportune.

[2020-01-26 00:44] labarba commented on #1833
👋  @samuelduchesne — Checking in again on this JOSS submission. What is your timeline now?

[2020-01-26 00:46] labarba commented on #1989
Hi folks! @story645, @tacaswell — How is your review going? I don't see items ticked off on your checklists. Do you have any questions for us?

[2020-01-26 00:48] labarba commented on #1656
👋  @terrytangyuan — would you like to reach out to the reviewers via email, at this point? It's been a long while...

[2020-01-26 00:55] labarba commented on #1834
@whedon generate pdf

[2020-01-26 00:56] whedon commented on #1834
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01834/joss.01834/10.21105.joss.01834.pdf)

[2020-01-26 00:57] labarba commented on #1834
👋  @steven-murray — you can find a new proof above

[2020-01-26 03:58] AndrewAnnex commented on #2040
Potential reviewers:
Juanlu001
emilyselwood
jessie-dotson
hayesla
adi3
adrn

[2020-01-26 09:08] terrytangyuan commented on #1656
I did.

[2020-01-26 10:29] noamraph commented on #1277
Thank you @lrq3000! You're making me blush...

[2020-01-26 11:32] mschubert commented on #2022
I'd be happy to!

Side note @will-rowe: is there a way to update my topics on the reviewer list? (there's many more reviewers than when I put them it, so they should be more detailed now)

[2020-01-26 11:38] michael-hartmann commented on #2011
@jwuttke: Are you fine with the solution proposed for https://github.com/michael-hartmann/caps/issues/150?

[2020-01-26 12:12] rreinecke commented on #1935
@DavidLitwin @kthyng I'm done.

Cheers

@DavidLitwin Just to let you know landlab did not pass all tests for me: "199 failed, 2665 passed, 61 skipped, 24 warnings, 19 error in 106.32 seconds" but the groundwater component tests worked as expected so I don't see a reason why dragging this review further along.

[2020-01-26 14:58] kbarnhart commented on #1935
@rreinecke could you make an issue in Landlab and paste int the output of the failing tests? I'm surprised that they are failing, and want to make sure that this is addressed. Thanks for your review!

[2020-01-26 15:07] michael-hartmann commented on #2011
@whedon generate pdf

[2020-01-26 15:08] whedon commented on #2011
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02011/joss.02011/10.21105.joss.02011.pdf)

[2020-01-26 15:11] michael-hartmann commented on #2011
@eschnett: We have added an additional paragraph mentioning two other packages that are able to compute the Casimir free energy and briefly describing the different focus. It is the second to last paragraph befor the acknowldgements starting with "Other packages that allow...".

[2020-01-26 15:18] eschnett commented on #2011
@danielskatz I recommend to accept the manuscript.

[2020-01-26 15:30] szorowi1 commented on #1982
To update: just had the chance to look through the updated docs and I think they look great! @AJQuinn  mentioned there may be more restructuring to their API documentation, so I'll wait to see if that gets implemented. Otherwise, I'm thinking things are looking very good!

[2020-01-26 15:46] danielskatz commented on #2011
@jwuttke - how does this now look to you?

[2020-01-26 16:24] AndrewAnnex commented on #2040
@whedon commands

[2020-01-26 16:24] whedon commented on #2040
Here are some things you can ask me to do:

[code]

[2020-01-26 16:35] AndrewAnnex commented on #2040
updated paper.bib to include those missing dois...
@whedon check references

[2020-01-26 16:37] AndrewAnnex commented on #2040
@whedon check references

[2020-01-26 16:38] whedon commented on #2040
[code]

[2020-01-26 16:39] AndrewAnnex commented on #2040
hmm, well I updated the master branch paper.bib file to include the above dois

[2020-01-26 16:49] jwuttke commented on #2011
looks good

[2020-01-26 16:54] danielskatz commented on #2011
👋 @michael-hartmann - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and auth

[2020-01-26 16:56] arfon commented on #2040
@whedon check references

[2020-01-26 16:56] whedon commented on #2040
[code]

[2020-01-26 16:57] gertingold commented on #2011
@eschnett, @jwuttke: Thank you very much for the effort you have put into the review and for the constructive criticism.

[2020-01-26 17:25] michael-hartmann commented on #2011
A big thank you to @eschnett and @jwuttke for taking time to review and your good suggestions. Also thank you @danielskatz for your work and time.

The necessary information:
 * The git tag is [v0.5](https://github.com/michael-hartmann/caps/releases/tag/v0.5).
 * zenodo DOI: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3627969.svg)](https://doi.org/10.5281/zenodo.3627969)

[2020-01-26 19:44] kellieotto commented on #2013
@drvinceknight I recommend the package for approval. @iagolemos1 has responded to all of my comments.

[2020-01-26 20:05] danielskatz commented on #2011
@whedon set 0.5 as version

[2020-01-26 20:05] whedon commented on #2011
OK. 0.5 is the version.

[2020-01-26 20:06] danielskatz commented on #2011
@whedon set 10.5281/zenodo.3627969 as archive

[2020-01-26 20:06] whedon commented on #2011
OK. <a href="https://doi.org/10.5281/zenodo.3627969" target="_blank">10.5281/zenodo.3627969</a> is the archive.

[2020-01-26 20:06] danielskatz commented on #2011
@whedon check references

[2020-01-26 20:06] whedon commented on #2011
[code]

[2020-01-26 20:12] ygrange commented on #1987
I think this clarifies the status of the data :).

My way of reproducting the wheel issue was to build python 3.8 from source and removing all packages (the cluster I use for testing didn't have a reliable python3 module so we had to create one for this cause; don't even ask :) ).

On the clarifications:
* Ugh, don't we love code without license, name and probably even a clear origin? I think keep

[2020-01-26 20:15] danielskatz commented on #2011
@michael-hartmann  Please merge https://github.com/michael-hartmann/caps/pull/163  Also, please check the cases of titles and journals in the references, using {}s to protect cases in the .bib file.  For example, in Buks, "casimer" in the title should probably be "Casimer". There's at least one other title with the same issue, and might be other titles that also need fixing.

[2020-01-26 20:19] michael-hartmann commented on #2011
Thank you for the info, I will check the titles right now.

[2020-01-26 20:21] ActiveMargins commented on #2032
Hi @kthyng I would like to withdraw this submission. I'm sorry to waste your time. Some issues regarding this software and collaborators on another project has come up.

Sorry again. I know that editors are pretty maxed these days.

All the best,
Danny.

[2020-01-26 20:26] michael-hartmann commented on #2011
I just realized that the journal names are inconsistent: some are abbreviated, others not. I guess all journal names should be abbreviated?

[2020-01-26 20:39] danielskatz commented on #2011
we don't have a fixed style for this, so you can choose the style you want, but please be consistent

[2020-01-26 20:40] danielskatz commented on #2011
let me know when you are ready for the next steps in the process

[2020-01-26 20:40] michael-hartmann commented on #2011
Okay, then let's go for all journal names abbreviated.

@gertingold Can you have a look at the PR https://github.com/michael-hartmann/caps/pull/165 and merge it if it's okay?

[2020-01-26 20:42] gertingold commented on #2011
Is there an established style for citing JOSS? Should it be "JOSS" or would "J. Open Source Softw." also be ok?

[2020-01-26 20:50] gertingold commented on #2011
@danielskatz, we have just merged a commit consistently abbreviating all journal titles. The only open question concerns the abbreviation of JOSS (see my previous commit). If "J. Open Source Softw." is fine, all journal titles should now be consistent. If JOSS is preferred, we will make one more change.

[2020-01-26 21:32] danielskatz commented on #2011
I think that’s fine

[2020-01-26 21:36] gertingold commented on #2011
We just moved to unabbreviated titles to prevent this issue... In any case, journal titles are now consistent.

[2020-01-26 22:09] HeloiseS commented on #1987
@ygrange

Is there anything else you'd like me to do? I'm happy to make further modifications to the paper or code!

I notice you've not marked the "statement of need" box as finished, is there anything I can do to clarify that need?

[2020-01-26 22:56] iagolemos1 commented on #2013
@kellieotto Thanks!

[2020-01-26 22:59] iagolemos1 commented on #2013
@kellieotto Thanks for the support and to help my paper to get better!

[2020-01-26 23:25] danielskatz commented on #2011
@whedon generate pdf

[2020-01-26 23:26] whedon commented on #2011
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02011/joss.02011/10.21105.joss.02011.pdf)

[2020-01-26 23:26] danielskatz commented on #2011
@whedon accept

[2020-01-26 23:26] whedon commented on #2011
[code]

[2020-01-26 23:26] whedon commented on #2011
[code]

[2020-01-26 23:27] whedon commented on #2011
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1250

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1250, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-26 23:28] danielskatz commented on #2011
@whedon accept deposit=true

[2020-01-26 23:28] whedon commented on #2011
[code]

[2020-01-26 23:29] whedon commented on #2011
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1221575831442673670) 👈 🐦🐦🐦

[2020-01-26 23:29] whedon commented on #2011
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1251
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02011](https://doi.org/10.21105/joss.02011)
2. If everything looks g

[2020-01-26 23:36] danielskatz commented on #2011
Thanks to @eschnett & @jwuttke for reviewing!
Congratulations to @michael-hartmann & @gertingold!

[2020-01-26 23:36] #2011 closed

[2020-01-26 23:36] whedon commented on #2011
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02011/status.svg)](https://doi.org/10.21105/joss.02011)

**We need your help!**

Journal of Open Source Softwa

[2020-01-27 08:51] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-27 08:51] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-27 09:53] danieledipompeo commented on #1960
My comments follow.

### General checks

- [x] **Repository:** Is the source code for this software available at the <a target="_blank" href="https://github.com/phillima/asniffer/">repository url</a>?
- [x] **License:** Does the repository contain a plain-text LICENSE file with the contents of an [OSI approved](https://opensource.org/licenses/alphabetical) software license?
- **Contribution and au

[2020-01-27 09:54] drvinceknight commented on #2013
Thank you @kellieotto, I believe we are no waiting on @bahung to finish their review?

[2020-01-27 09:55] tleonardi commented on #1979
@whedon generate pdf

[2020-01-27 09:56] whedon commented on #1979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01979/joss.01979/10.21105.joss.01979.pdf)

[2020-01-27 10:05] will-rowe commented on #2022
Thanks @mschubert! I don't seem to have edit rights on the JOSS reviewers doc - pinging @arfon to see if he can let us know how to update reviewer topics

[2020-01-27 10:06] will-rowe commented on #2022
Hi @skummerf - would you be able to review this submission for us?

[2020-01-27 10:09] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-27 10:10] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-27 10:15] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-27 10:15] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-27 10:29] druvus commented on #1990
@lpantano @ktmeaton I am happy with improved version of the software. Everything looks good to me.

[2020-01-27 10:32] benoit-combes commented on #1862
@whedon check references

[2020-01-27 10:32] whedon commented on #1862
[code]

[2020-01-27 10:35] benoit-combes commented on #1862
Dear @labarba,

thanks for your inputs. I generated a new article proof where:

* I added the mission DOI.
*  I changed the title according to your suggestion ; I fully agree your feeling about the original verion.
* I rephrased the references to avoid the "))" sequences.
* I corrected the "colmun" typo.

If I can do anything that may help you in the editing process, please let me know.

[2020-01-27 10:39] tleonardi commented on #1979
Hi @titipata,
I'm happy with all the changes you've made, great job writing and automating the tests!
I only have a few concerns left, mostly regarding the README and documentation.

I think it would be important, at the beginning of the README, to describe what kind of information is contained in the XML files and what can be obtained with pubmed_parser.
You could also add an index with links to

[2020-01-27 11:07] whedon commented on #1809
[code]

[2020-01-27 11:14] steven-murray commented on #1834
That looks good, thank you. I'm happy with this.

[2020-01-27 11:21] arfon commented on #2022
@mschubert - could you email me directly on arfon.smith@gmail.com to request these changes?

[2020-01-27 11:22] arfon commented on #1834
Thanks @steven-murray. There are a few checkboxes in the review unchecked still - could you give these a quick look again?

[2020-01-27 11:37] sjpfenninger commented on #2025
@whedon add @dsryberg as reviewer

[2020-01-27 11:38] whedon commented on #2025
OK, @dsryberg is now a reviewer

[2020-01-27 11:38] sjpfenninger commented on #2025
@whedon start review

[2020-01-27 11:38] whedon opened #2042 "[REVIEW]: MetSim: A Python package for estimation anddisaggregation of meteorological data"
**Submitting author:** @arbennett (<a href="http://orcid.org/0000-0002-7742-3138">Andrew Bennett</a>)
**Repository:** <a href="https://github.com/UW-Hydro/MetSim" target ="_blank">https://github.com/UW-Hydro/MetSim</a>
**Version:** v2.2.1
**Editor:** @sjpfenninger
**Reviewer:** @Chilipp, @dsryberg
**Archive:** <a href="https://doi.org/10.5281/zenodo.3728015" target="_blank">10.5281/zenodo.3728015<

[2020-01-27 11:39] whedon commented on #2025
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2042.

[2020-01-27 11:39] #2025 closed

[2020-01-27 11:39] whedon commented on #2042
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Chilipp, @dsryberg it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2020-01-27 11:39] whedon commented on #2042
[code]

[2020-01-27 11:39] whedon commented on #2042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02042/joss.02042/10.21105.joss.02042.pdf)

[2020-01-27 11:41] sjpfenninger commented on #2025
@Chilipp and @dsryberg, thanks for agreeing to review! Head over to the review issue #2042 for the review process. Let me know if you have any questions!

[2020-01-27 11:42] sjpfenninger commented on #2039
@labarba Can do.

[2020-01-27 11:56] Chilipp commented on #2042
Thanks @sjpfenninger! I am busy this week with other appointments, but I will do the review on monday in a week.

[2020-01-27 12:11] whedon commented on #1900
:wave: @russellpierce, please update us on how your review is going.

[2020-01-27 12:11] oliviaguest commented on #1900
@whedon remind @russellpierce in one weeks

[2020-01-27 12:12] whedon commented on #1900
Reminder set for @russellpierce in one weeks

[2020-01-27 12:12] oliviaguest commented on #1900
Hi @russellpierce, as promised I am bothering two weeks later and set up a reminder for in a week too. Let us know how this going and what ETA is realistic. Thank you! :smile:

[2020-01-27 12:28] labarba commented on #2039
@whedon assign @sjpfenninger as editor

[2020-01-27 12:28] whedon commented on #2039
OK, the editor is @sjpfenninger

[2020-01-27 12:51] MariaTsantaki commented on #2033
Yes Daniel. This is true. MOOG is an external code used as a black box here. The goal of FASMA is to use the output of MOOG and fit the data by the minimization process.

[2020-01-27 12:53] labarba commented on #1862
Oops. Now you've left citations appearing in the sentences without any brackets at all. Have a look at the [Citation Syntax](https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax) guidelines we like to apply. When the citation is part of the sentence, it appears as: Author (year). If the citation is not part of the sentence, then it appears in parenthesis. E.g.

[2020-01-27 13:05] MariaTsantaki commented on #2033
Thanks! I was referring to the PhD thesis where the code was first presented but maybe the format of that reference is not valid for JOSS. I can change it to the reviewed journal reference.

[2020-01-27 13:28] titipata commented on #1979
@tleonardi Thank you so much for the details comments! I'll update the API documentation according to your comment by the end of this week. I will also edit the README so that it contains information about the XML files. I'll tag you once it's done.

[2020-01-27 14:44] scwest commented on #1972
@majensen
<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_majensen&d=DwMFaQ&c=Cu5g146wZdoqVuKpTNsYHeFX_rg6kWhlkLF8Eft-wwo&r=u6KSyX1ix4-0aQ2-Xzd9a_xhs3muWm7qOpqtGf4LIc8&m=iDPuoPQZE2mHeNc65ocLmSMVb-R7ul0g1j8b7uZ9Hs8&s=Gt106W2CglZorw9L6_YUI_0o6jm9tqN4aCma__hpQ04&e=>
- I understand the difficulty. I can recommend @rhagenson
<https://github.com/RHagenson>. I'll have to review other JOS

[2020-01-27 14:52] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-27 14:52] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-27 14:58] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-27 14:59] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-27 15:06] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-27 15:06] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2020-01-27 15:10] MariaTsantaki commented on #2033
Latest commit [here](https://github.com/MariaTsantaki/FASMA-synthesis/commit/68b9267aa53a1e7023f84f59a4dad76f815cfe3b).

[2020-01-27 15:24] kbarnhart commented on #1969
@jessepisel thanks for completing your review and letting me know. Once all the reviewers have completed their reviews and the authors have finished addressing them, I will ask you (and the other reviewers) to affirm recommendation to accept in JOSS.

👋 @brendonhall and @JesperDramsch a friendly reminder to complete your review. If you have a time estimate, please let me know. Thanks again for bei

[2020-01-27 15:26] kbarnhart commented on #2020
I'm going to move this forward from pre-review to review stage.

If possible, I'd like to add one more reviewer. @lheagy, @rowanc1, @leouieda if you are interested, able, or have another reviewer to recommend, please let me know.

[2020-01-27 15:26] kbarnhart commented on #2020
@whedon start review

[2020-01-27 15:26] whedon opened #2043 "[REVIEW]: SeisModels.jl: A Julia package for models of the Earth's interior"
**Submitting author:** @anowacki (<a href="http://orcid.org/0000-0001-7669-7383">Andy Nowacki</a>)
**Repository:** <a href="https://github.com/anowacki/SeisModels.jl" target ="_blank">https://github.com/anowacki/SeisModels.jl</a>
**Version:** v1.1.0
**Editor:** @kbarnhart
**Reviewers:** @daniellivingston, @joa-quim
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.11993313" target="_blank"

[2020-01-27 15:27] whedon commented on #2020
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2043.

[2020-01-27 15:27] #2020 closed

[2020-01-27 15:27] whedon commented on #2043
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @daniellivingston, @fhorrobin it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2020-01-27 15:27] whedon commented on #2043
[code]

[2020-01-27 15:27] whedon commented on #2043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02043/joss.02043/10.21105.joss.02043.pdf)

[2020-01-27 15:27] rhagenson commented on #1972
@majensen, I am happy to review this.

@scwest, the list of potential reviewers is found [here](https://bit.ly/joss-reviewers) if more reviewers are necessary.

[2020-01-27 15:31] kbarnhart commented on #2043
:wave: @anowacki, @daniellivingston, @fhorrobin this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is differe

[2020-01-27 15:40] benoit-combes commented on #1862
Thanks @labarba. It seems, that for any reason, I indeed missed the correct syntax for citation. Sorry for that. I hope that the newly generated version now follows the standard.

Moreover, as suggested I "codify" each instance of miet in the text.

If I can do anything that may help you in the editing process, please let me know.

[2020-01-27 15:50] YoungFaithful commented on #2034
@whedon generate pdf from branch paper

[2020-01-27 15:50] whedon commented on #2034
[code]

[2020-01-27 15:51] whedon commented on #2034
PDF failed to compile for issue #2034 with the following error:

 sh: 1: cd: can't cd to tmp/2034
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2034 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2020-01-27 16:08] dmey commented on #2008
@ethan-nelson many thanks for your useful comments. I will get back to you when I receive the second review and can more easily combine changes in the code in case of further feedback.

[2020-01-27 16:11] labarba commented on #1862
@whedon accept

[2020-01-27 16:11] whedon commented on #1862
[code]

[2020-01-27 16:11] whedon commented on #1862
[code]

[2020-01-27 16:12] whedon commented on #1862
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1252

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1252, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-27 16:19] labarba commented on #1862
@whedon accept deposit=true

[2020-01-27 16:19] whedon commented on #1862
[code]

[2020-01-27 16:20] whedon commented on #1862
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1221830340563685376) 👈 🐦🐦🐦

[2020-01-27 16:20] whedon commented on #1862
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1253
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01862](https://doi.org/10.21105/joss.01862)
2. If everything looks g

[2020-01-27 16:20] labarba commented on #1862
Congratulations, @benoit-combes, your JOSS paper is published! 🚀

Huge thanks to our editor: @arokem, and the reviewers: @janfreyberg, @neuroimaginador — your contributions to JOSS are invaluable 🙏

[2020-01-27 16:21] #1862 closed

[2020-01-27 16:21] whedon commented on #1862
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01862/status.svg)](https://doi.org/10.21105/joss.01862)

**We need your help!**

Journal of Open Source Softwa

[2020-01-27 16:30] dangeles commented on #2030
This is a neat algorithm that addresses an important problem for non-canonical model organism genomics. The README and paper are well-written, and in general the code is well-documented and nicely written.

Doc-strings are missing from all defined function in `FGTpartitioner.py`. It would improve the code significantly to add short doc-strings explaining the input, output and purpose of each funct

[2020-01-27 16:32] SiminaB commented on #1972
Hi! So sorry, I just saw this! I can try to review it but will need some time (like 2-3 weeks). I also haven't done a JOSS review before now so will need to familiarize myself.

[2020-01-27 16:36] iagolemos1 commented on #2013
@whedon generate pdf

[2020-01-27 16:36] whedon commented on #2013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02013/joss.02013/10.21105.joss.02013.pdf)

[2020-01-27 16:57] MariaTsantaki commented on #2033
I think that the labels set by @whedon can be misleading. I think we should stick to python instead of Fortran, R, DIGITAL Command Language.

[2020-01-27 17:30] labarba commented on #2037
@SidharthMacherla — After a pre-review of your submission, and an assessment by the editorial board at large, we find that it does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

[2020-01-27 17:32] #2037 closed

[2020-01-27 18:21] r-barnes commented on #1262
@Kevin-Mattheus-Moerman : Things look largely good to me. The software/repo seem to be in good shape. The readability and documentation of the code is sufficient. The pip installation works. I remain concerned about the specificity of the software, but leave that to the editors.

[2020-01-27 19:41] majensen commented on #1972
@SiminaB that would be great! I would be happy to help, and I think the [docs](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) are very good.

[2020-01-27 19:42] majensen commented on #1972
@rhagenson  thanks very much! I believe we have a quorum.

[2020-01-27 19:42] majensen commented on #1972
@whedon add @SiminaB as reviewer

[2020-01-27 19:42] whedon commented on #1972
OK, @SiminaB is now a reviewer

[2020-01-27 19:42] majensen commented on #1972
@whedon add @rhagenson as reviewer

[2020-01-27 19:43] whedon commented on #1972
OK, @rhagenson is now a reviewer

[2020-01-27 19:43] majensen commented on #1972
@whedon start review

[2020-01-27 19:43] whedon opened #2044 "[REVIEW]: NEEP: null empirically estimated p-values for high-throughput molecular survival analysis"
**Submitting author:** @scwest (<a href="http://orcid.org/0000-0002-1394-1999">Sean West</a>)
**Repository:** <a href="https://github.com/thecodingdoc/neep/" target ="_blank">https://github.com/thecodingdoc/neep/</a>
**Version:** 1
**Editor:** @majensen
**Reviewers:** @SiminaB, @majensen
**Archive:** <a href="https://doi.org/10.5281/zenodo.3996816" target="_blank">10.5281/zenodo.3996816</a>

## St

[2020-01-27 19:43] whedon commented on #1972
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2044.

[2020-01-27 19:43] #1972 closed

[2020-01-27 19:43] whedon commented on #2044
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wrathematics, @SiminaB, @rhagenson it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, yo

[2020-01-27 19:43] whedon commented on #2044
[code]

[2020-01-27 19:44] whedon commented on #2044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02044/joss.02044/10.21105.joss.02044.pdf)

[2020-01-27 19:44] majensen commented on #1972
All, thanks so much for agreeing to review. Please join the review issue at #2044.

[2020-01-27 20:14] likask commented on #1441
@labarba @jedbrown It is possible to fix link to the repository? See the following
[https://bitbucket.org/likask/mofem-cephas/src/joss/media/paper.md](https://bitbucket.org/likask/mofem-cephas/src/joss/media/paper.md)

An error was created on very beginning by me from misunderstanding how Weldon searching for the location of paper.md. The fix is simple, the link has to be changed to [https://bitbu

[2020-01-27 20:35] mbobra commented on #1809
@whedon set 10.5281/zenodo.3569956 as archive

[2020-01-27 20:35] whedon commented on #1809
OK. <a href="https://doi.org/10.5281/zenodo.3569956" target="_blank">10.5281/zenodo.3569956</a> is the archive.

[2020-01-27 20:35] mbobra commented on #1809
@whedon set v1.01 as version

[2020-01-27 20:35] whedon commented on #1809
OK. v1.01 is the version.

[2020-01-27 20:36] mbobra commented on #1809
@openjournals/joss-eics the paper is ready for final processing

[2020-01-27 20:37] samuelduchesne commented on #1833
Hi! Working on this now. I will publish some changes this week and check-in with the reviewers. Should be able to finish up by the end of next week.

[2020-01-27 20:37] ygrange commented on #1987
Whoops, sorry that was my mistake! Statement of need is (very) clear!

I think the main issues you didn't mention in your comments are the two on terminology:
1. in one of the notebooks a "BPASS input file" is mentioned and I didn't really know what that was supposed to mean. Maybe would  be good to clarify
2. "Standard BPASS constants" in the feature list (in the paper) is also a bit I didn't rea

[2020-01-27 20:39] melissawm commented on #1865
Hello all,

Due to the problems that @wholmgren faced during installation, I believe it would be best if another reviewer could step in and continue the review. I understand in this case there is sufficient documentation for the software in question, however the installation issues stem from a dependency, and that is not under the author's control.

I would like to thank @wholmgren for his work in

[2020-01-27 20:40] melissawm commented on #1865
@mankoff, would you be willing to review this software paper for JOSS? Thanks in advance!

[2020-01-27 20:41] melissawm commented on #1865
@shirubana I would like to point out that the license file is still not a standard BSD-3 license (as previously mentioned above). Can you please check that?

[2020-01-27 20:43] melissawm commented on #1911
@whedon generate pdf

[2020-01-27 20:43] whedon commented on #1911
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01911/joss.01911/10.21105.joss.01911.pdf)

[2020-01-27 20:44] melissawm commented on #1911
@whedon check references

[2020-01-27 20:44] whedon commented on #1911
[code]

[2020-01-27 20:54] melissawm commented on #1911
@whedon set 10.5281/zenodo.3583132 as archive

[2020-01-27 20:54] whedon commented on #1911
OK. <a href="https://doi.org/10.5281/zenodo.3583132" target="_blank">10.5281/zenodo.3583132</a> is the archive.

[2020-01-27 20:54] melissawm commented on #1911
@openjournals/joss-eics looks like this is ready :)

[2020-01-27 21:00] melissawm commented on #1955
@malmaud Hello, would you be willing/available to review this software paper for JOSS?

[2020-01-27 21:09] melissawm commented on #1955
@kose-y Hello, would you be willing/available to review this software paper for JOSS?

[2020-01-27 21:09] kthyng commented on #1985
Awesome, thanks @ocefpaf!

@jessicaaustin JOSS is the Journal for Open Source Software, which involves largely code-review based for software with research applications. Are you interested in reviewing this submission? We ask for reviews within about 3 weeks if possible, and you can find more information about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

I'm lo

[2020-01-27 21:12] labarba commented on #1441
Yikes.

@openjournals/dev The author notifies us of a mistake in the repository URL, post-publication. Can you help?

[2020-01-27 21:23] kthyng commented on #2032
@ActiveMargins No worries, I will withdraw the submission.

[2020-01-27 21:24] #2032 closed

[2020-01-27 21:55] cdeline commented on #1865
Hi.  I’m not sure what the hold-up on the BSD-3 license is exactly.  Github is not auto-detecting our license file as a BSD-3, but we are using the BSD-3 license template and this is a standard BSD-3 license.  Because our organization is ‘Alliance for Sustainable Energy, LLC’ aka NREL, and we’re a federally funded national lab, we are contractually obligated to include the US Government and Depart

[2020-01-27 21:59] jessicaaustin commented on #1985
@kthyng Yes, I am happy to review this submission

[2020-01-28 02:02] HeloiseS commented on #1987
My bad, I forgot to say I changed the phrasing of the CMD jupyter notebook, now the description of the input file location and and naming convention is given at the same time as that of the stellar models:

The notebook also tells people where they are going to be using these input files in this sentence:

As for BPASS constants, I'm not sure what to say, they are constants used in BPASS - I don't

[2020-01-28 02:40] karthik commented on #1816
@joshday I am still looking for reviewers without much success. Are you able to recommend anyone that can review without any conflict of interest?

[2020-01-28 02:40] mjsottile commented on #2008
To update, I've reached out to the other reviewer via email to see what their status is.  Hopefully will have an update relatively soon.

[2020-01-28 02:43] mjsottile commented on #1982
@mnarayan It looks like the issue with the checklist should be resolved - are you able to proceed with the review?

[2020-01-28 02:59] arfon commented on #1441
Fixed!

[2020-01-28 03:19] SidharthMacherla commented on #2037
Thank you for your time and feedback. I believe I can rework on my paper to articulate how the package  has a wider application in research. I will come back with a fresh submission when I am ready. Thank you.

[2020-01-28 07:57] kose-y commented on #1955
Yes, I would like to review this paper.

[2020-01-28 08:48] sjvrijn commented on #2031
@melissawm Have you had any time to look at the reviewers yet?

[2020-01-28 09:39] oschwengers commented on #1994
@whedon generate pdf

[2020-01-28 09:39] whedon commented on #1994
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01994/joss.01994/10.21105.joss.01994.pdf)

[2020-01-28 09:41] will-rowe commented on #2014
Hi @betteridiot and @lamhm - just checking in with you to see how the reviews are going and if you need anything.

[2020-01-28 09:41] oschwengers commented on #1994
I briefly mentioned the new support for `bidirectional` computations of `ANI` and `conserved DNA` values in the manuscript.

[2020-01-28 09:43] will-rowe commented on #1956
Hi @ninjin - just pinging you to see how your review is going? Thanks!

[2020-01-28 10:41] ninjin commented on #1956
@will-rowe: Ouch, sorry. On it today. Sorry for being the slowest reviewer you have on the roster and thank you for the poke.

@leios: I would prefer: “日本語はひらがなとカタカナと漢字で表されます。” (“Japanese is expressed using hiragana, katakana, and kanji.”) over your example sentence. Sure, this one is way more formal, but yours somehow sounds a bit odd to me. Perhaps because it expresses something somewhat intimat

[2020-01-28 11:09] marcosvital commented on #2041
Hi, @labarba !

Yes, I'll be happy to handle this submission.

[2020-01-28 11:47] marcosvital commented on #2041
@whedon assign @marcosvital as editor

[2020-01-28 11:47] whedon commented on #2041
OK, the editor is @marcosvital

[2020-01-28 13:36] ygrange commented on #1987
1. Ah ok, makes sense. I think what confused me, to begin with, was that the BPASS input files are actually outputs of the model. So this went hand in hand with my misunderstanding of the way BPASS data is provided. Since this is clarified on both ends, even I now would get it :).

2. I wasn't really sure whether to interpret that as physical constants (things like Hubble constant but maybe also t

[2020-01-28 13:57] steven-murray commented on #1834
@arfon ah yes, re-checked them.

[2020-01-28 14:17] benoit-combes commented on #1862
@whedon generate pdf

[2020-01-28 14:23] labarba commented on #1862
Please explain the situation here, and point to the correction you want made. The paper is already published so any corrections need to be made _by hand_.

Ping @openjournals/dev

[2020-01-28 14:43] benoit-combes commented on #1862
Dear @labarba,
I changed the "paper.md" in the gitlab repository. Is it possible to regenerate the final proof ?
Thanks for your consideration.
B.

[2020-01-28 14:44] benoit-combes opened #2045 "Request to regenerate final proof"
Dear @labarba,
I changed the "paper.md" in the gitlab repository. Is it possible to regenerate the final proof ?
Thanks for your consideration.
B.

_Originally posted by @benoit-combes in https://github.com/openjournals/joss-reviews/issues/1862#issuecomment-579278220_

[2020-01-28 14:44] whedon commented on #2045
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-28 14:44] whedon commented on #2045
PDF failed to compile for issue #2045 with the following error:

 Can't find any papers to compile :-(

[2020-01-28 14:45] #2045 closed

[2020-01-28 14:51] benoit-combes commented on #1862
Dear @labarba,
I would like to remove the age and sex colmuns in the data. These data are not needed for the paper/analysis and should be avoided in the paper. If I can do anything to help you in the process please let me know.
Thanks in advance for your patience and consideration,
B.

[2020-01-28 15:34] standage commented on #1994
Hi @oschwengers, thanks for the update. As of late last week I am almost done with my review. I hope to post it within the next day or two.

[2020-01-28 15:45] betteridiot commented on #2014
Thank you @will-rowe for pinging us. I am still actively reviewing the paper, but I do have a question regarding the review process. Regarding the "Quality of writing" stage; are we expected to give revisions or specific notes or just request them to have an editor review it for them?

[2020-01-28 16:04] will-rowe commented on #2014
Thanks @betteridiot. If you can give some specific points, that would be great - if not a general comment would also be useful. Now that you've flagged it in your review, I'll assess it after the author has had chance to respond to reviewer comments.

[2020-01-28 16:29] embruna opened #2046 "> formatted_doi in template"
So this field _is_ included in a template somewhere? If so, could you please point me to it?

_Originally posted by @arfon in https://github.com/openjournals/joss-reviews/issues/2028#issuecomment-578242951_

@arfon @kyleniemeyer Sorry to make a new issue, but the previous thread (#2028) where a request to point to location of formatted_doi in template was closed.
___
It took me a bit, but i figure

[2020-01-28 16:29] whedon commented on #2046
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-28 16:30] whedon commented on #2046
PDF failed to compile for issue #2046 with the following error:

 Can't find any papers to compile :-(

[2020-01-28 16:43] kyleniemeyer commented on #2046
Hi @embruna- sorry, but this repository is just for reviews of JOSS submissions. I'm going to move this issue to the https://github.com/openjournals/joss repository

[2020-01-28 17:33] pkofod commented on #1816
@karthik I can review but I do have to disclose that we are both employed by Julia Computing. Though, we do live 7000km from each other, and have never worked on projects together. I have never used OnlineStats.jl either, although I'm aware of it's existence.

[2020-01-28 17:57] karthik commented on #1816
@pkofod  That's totally fine! In fact I've tried to get a few people from Julia Computing to review. Thanks so much for stepping in, assigning you now.

[2020-01-28 17:57] karthik commented on #1816
@@whedon assign @pkofod as reviewer

[2020-01-28 17:58] karthik commented on #1816
@whedon remove @vchuravy as reviewer

[2020-01-28 17:58] whedon commented on #1816
OK, @vchuravy is no longer a reviewer

[2020-01-28 17:58] karthik commented on #1816
@whedon assign @pkofod as reviewer

[2020-01-28 17:58] whedon commented on #1816
OK, @pkofod is now a reviewer

[2020-01-28 18:02] karthik commented on #1816
@pkofod I have updated the checklist above with your name. Please work through that list. Reviewer guidelines are here: http://joss.theoj.org/about#reviewer_guidelines

[2020-01-28 18:23] HeloiseS commented on #1987
@ygrange yes that's a great idea!

They are not physical constants, they're things defined in BPASS - that's why  some BPASS users might use them, but you're right that applying the term advance BPASS user makes sense here because for most people it will be hidden by hoki.

I added this to to paper now! :D

[2020-01-28 19:30] thelfer commented on #2003
@IgorBaratta, @srmnitc Sorry for not responding earlier. Thank you for this first round of review and those very constructive feed-backs.

I just uploaded a new version of the `INSTAL-cmake.md` file which now fully describes the installation process. Let me know if this file is self-explanatory (it requires some knowledge of `cmake` tough).

[2020-01-28 19:30] ygrange commented on #1987
Ah perfect!

I think that's all from me. Sorry for holding it up just a bit longer. I hope my comments added a delta to the quality of this already pretty good submission!

Finally, let me test if I understand how Whedon works so I can look at the final paper:

@whedon generate pdf

[2020-01-28 19:33] thelfer commented on #2003
To run the tests, you must type `make check` in the `build` directory. Tests are only available if the `TFEL/MFront` package is available. As explained in the paper, without `TFEL/MFront`, the package is barely useless. Yet, technically, `TFEL/MFront` is *not* a dependency of `MGIS`.

[2020-01-28 19:34] ygrange commented on #1987
@whedon generate pdf

[2020-01-28 19:34] thelfer commented on #2003
The `C++` library is *always* built. The `Julia` bindings just wraps the `C++` methods using the `CxxWrap` package.

[2020-01-28 19:35] whedon commented on #1987
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01987/joss.01987/10.21105.joss.01987.pdf)

[2020-01-28 19:35] thelfer commented on #2003
@IgorBaratta  Are those required ?

[2020-01-28 19:38] thelfer commented on #2003
@IgorBaratta  Indeed, this document is the main entry point for the `C++` library. The `MGIS` library is indeed quite small so it provides a convenient introduction/overview.

Interested users then have a look at the `tests` directory where examples are provided.

 I do appreciate your feed-backs on the documentation.

[2020-01-28 20:09] pkofod commented on #1816
I have looked at the repo for the first part and everything looks fine. It's structured like a typical Julia package, and has docs, CI, a proper readme with examples and a clear indication that contributions are welcome but Josh has strong preference for the design choices. I will try to find time to read the actual paper tomorrow or the day after.

[2020-01-28 20:15] betteridiot commented on #2014
@will-rowe, @babinyurii these are my reviewer comments for the review of `recan` as the package stands right now.

[2020-01-28 20:49] Kevin-Mattheus-Moerman commented on #1867
@hooman650, @paulvangentcom can you check on the above?

[2020-01-28 20:49] Kevin-Mattheus-Moerman commented on #1867
@PGomes92 are you still able to assist with this review? If so, when do you think you will be able to complete your side of the review? Thanks.

[2020-01-28 20:58] arfon commented on #1987
@whedon accept

[2020-01-28 20:58] whedon commented on #1987
No archive DOI set. Exiting...

[2020-01-28 20:59] arfon commented on #1987
@HeloiseS - it looks like both @ygrange and @KshitijAggarwal have completed their reviews now ✨

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure

[2020-01-28 21:02] Kevin-Mattheus-Moerman commented on #1262
Thanks @r-barnes @patrikhuber for your additional comments and all the help with this review! I understand the concerns about the specificity of the software. Our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) do not currently list restrictions in relation to how extremely specific/niche software might be. We've had to reject submission in

[2020-01-28 21:03] Kevin-Mattheus-Moerman commented on #1262
@whedon generate pdf

[2020-01-28 21:03] whedon commented on #1262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01262/joss.01262/10.21105.joss.01262.pdf)

[2020-01-28 21:05] Kevin-Mattheus-Moerman commented on #1774
@kthyng are you still processing this one or do I help here too this week?

[2020-01-28 21:09] HeloiseS commented on #1987
@arfon, So the DOI should be a different DOI than the one I already have for Hoki? I'm a bit confused.

[2020-01-28 21:22] arfon commented on #1987
Does the DOI you already have include all of the changes that have resulted from this review?

[2020-01-28 21:27] Cadair commented on #1832
@whedon generate pdf from branch joss_paper

[2020-01-28 21:27] whedon commented on #1832
[code]

[2020-01-28 21:28] whedon commented on #1832
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01832/joss.01832/10.21105.joss.01832.pdf)

[2020-01-28 21:58] HeloiseS commented on #1987
Not yet! I will push a final version and update pypi and remove beta status (was waiting for final approval).

The name of the Zenodo folder tho will evolve after each release - so I can can call this release the same thing as the paper but it's going to change. Is that okay?

Here is a link to the current Zenodo folder (Iatest release was as I was submitting to JOSS): https://zenodo.org/record/35

[2020-01-28 22:14] rhagenson commented on #2044
@majensen, after reading the conflict of interest statement and reviewing the authors of this paper I have notable conflict of interest as the last author on this paper (Dario Ghersi) is my MS thesis advisor from three years ago -- which I did not notice prior to accepting the offer to review. If you will allow me, I still would like to read the work and offer my help to its authors in the form of

[2020-01-28 22:36] mbobra commented on #2040
@whedon assign @mbobra as editor

[2020-01-28 22:37] whedon commented on #2040
OK, the editor is @mbobra

[2020-01-28 22:48] lpantano commented on #1990
@coughls, you have almost checked everything, but I am not sure the things are left needs to be addressed by the authors or not, could you update on that, please? Thanks a lot!

[2020-01-28 22:58] russellpierce commented on #1900
Thank you very much for the ping.  I've been able to do a first pass review the software; I want to kick the functionality tires a bit more and dig into the software paper.  But, there is progress at least.  I have one more hour on my schedule for tomorrow after which I'll wrap things up one way or another.  So far, very good!

[2020-01-29 00:35] standage commented on #1994
The authors describe ReferenceSeeker, a Python package designed to select the most appropriate reference genome given a draft genome assembly. ReferenceSeeker implements a two-stage selection procedure: in the first, candidate reference genomes (CRGs) are identified using rapid k-mer based operations; in the second, it performs more computationally intensive alignment-based operations on a small n

[2020-01-29 01:08] majensen commented on #2044
Thanks @rhagenson - I appreciate your raising this issue. I myself would definitely find it very helpful if you are willing to assist and even comment in the review. Since we have 2 other reviewers, JOSS guidelines are met. Onward!

[2020-01-29 01:13] majensen commented on #1979
@timClicks are you still able to review this work (#1979)? Thanks for any update.

[2020-01-29 01:23] timClicks commented on #1979
Really sorry about letting this slip. I will have a review within 12h.

On Wed, 29 Jan 2020 at 14:13, Mark Jensen <notifications@github.com> wrote:

[2020-01-29 01:35] rhagenson commented on #2044
@majensen, thank you for your understanding. To ensure I, as a commenter, am not stalling the review process I will try to get the bulk of the work done in the next few days.

Not sure if I have proper permissions to run this whedon command, but we will find out!

@whedon remove @rhagenson as reviewer

[2020-01-29 02:08] akeshavan commented on #2016
hi @ati-ozgur ! Have you had a chance to take a look at this review?

[2020-01-29 02:18] akeshavan commented on #2023
hi :wave: @tjmahr, @mdogucu and @jkarreth -- would you be willing to review this paper for JOSS?

[2020-01-29 07:12] ixjlyons commented on #2007
I've completed my review. Overall, EspressoDB provides a fairly rich set of features for relatively little programming effort. It seems to fulfill an important role in managing complex datasets while encouraging documentation (by making it simple to generate), which is often overlooked. The documentation of EspressoDB itself is fairly thorough and provides a straightforward path to getting started

[2020-01-29 08:30] lamhm commented on #2014
I have only four minor issues with this publication: `Performance`, `Example usage`, `Community guidelines`, and `Quality of writing`. Most of these have been pointed out by @betteridiot.

I have checked off the `Automated tests` section in my checklist because I do not have any experience with the topic (I do not do formal development in Python).

[2020-01-29 08:39] thelfer commented on #2003
@IgorBaratta At this stage, the `Julia` bindings are rather beta stage.

[2020-01-29 08:48] Kevin-Mattheus-Moerman commented on #1911
@whedon set v1.0.2 as version

[2020-01-29 08:48] whedon commented on #1911
OK. v1.0.2 is the version.

[2020-01-29 08:57] Kevin-Mattheus-Moerman commented on #1911
@tomalrussell I'm the AEiC handling the processing for this submission. Below are some remaining minor points to work on. Let me know when you've processed these.

- [ ] Please ensure the [archive](https://zenodo.org/record/3583132#.XjFGZeGnxKg) meta data matches that for the paper i.e. the paper title and the author name(s) should be the same
- [ ]  Can you confirm that the version tag v1.0.2 is

[2020-01-29 09:14] oschwengers commented on #1994
@standage Thank you so much for this excitingly comprehensive & constructive feedback!

- I adopted the `ANI` & `conDNA` calculation from `Goris et al., 2007` but I totally agree that an exact explanation and formula is more than appropriate, especially since the formula is somehow "hidden" in prosa in the original article.
- Also I agree that at least a tiny test for the users or even an automate

[2020-01-29 09:26] Kevin-Mattheus-Moerman commented on #1809
@SuperKam91 I am the AEiC helping to process this submission. Below are some remaining minor points to work on in relation to your paper.

- [ ] The first sentence is quite difficult to read. Can you consider rephrasing, splitting into multiple sentences, or adding more comma's?
- [ ] Please change `...present here is a based on...` to `...present here is based on...`
- [ ] Fix typo in `intutive`

[2020-01-29 09:35] oliviaguest commented on #1900
@russellpierce Great!

[2020-01-29 09:40] Kevin-Mattheus-Moerman commented on #1262
@ybayle I will now proceed to process this submission for acceptance in JOSS.

At this point can you:
- [ ] Archive the software on ZENODO and report back the DOI of the archived version here? Please ensure the title and author list of the ZENODO archived version match those of the paper (you may need to edit this information manually) .
- [ ] Can you inform me of the version tag that matches that

[2020-01-29 09:42] will-rowe commented on #2014
Brilliant - thank you very much @betteridiot and @lamhm ! These are thorough reviews and I'm sure these issues can be addressed by @babinyurii

@babinyurii - please can you take a look at these issues and respond to them. Let me know if you need any assistance.

[2020-01-29 09:47] tomalrussell commented on #1911
Thanks @Kevin-Mattheus-Moerman - I think this is all okay:
- [x] archive and paper are both Oughton and Russell
- [x] v1.0.2 is the most accurate version tag
- [x] I've read through the paper again

[2020-01-29 09:47] whedon opened #2047 "[PRE REVIEW]: `continuum_mechanics`: A Python package for Continuum Mechanics"
**Submitting author:** @nicoguaro (<a href="http://orcid.org/0000-0002-9435-1914">Nicolas Guarin-Zapata</a>)
**Repository:** <a href="https://github.com/nicoguaro/continuum_mechanics" target ="_blank">https://github.com/nicoguaro/continuum_mechanics</a>
**Version:** v0.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @

[2020-01-29 09:47] whedon commented on #2047
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-01-29 09:47] whedon commented on #2047
[code]

[2020-01-29 09:47] whedon commented on #2047
PDF failed to compile for issue #2047 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2047/paper/paper.md): found character that cannot start any token while scanning for the next token at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.r

[2020-01-29 09:49] will-rowe commented on #2022
Hi @dpolychr - would you be willing to review this submission for us?

[2020-01-29 09:51] Kevin-Mattheus-Moerman commented on #2047
@openjournals/dev can you help diagnose this error? It looks like it refers to the use of the ` symbol in this line of YAML text:

[code]

@nicoguaro can you remove the ` symbols in the title YAML field and call `@whedon generate pdf` here once you are done?

[2020-01-29 10:11] xuanxu commented on #2047
The title string is yaml-invalid. [This PR](https://github.com/nicoguaro/continuum_mechanics/pull/100) should fix it.

[2020-01-29 10:21] srmnitc commented on #2003
@whedon generate pdf

[2020-01-29 10:22] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-01-29 10:35] timClicks commented on #1979
@titipata Thank you for taking the time to publish this package as open source software. I've reviewed it and the paper, and have nothing further to add above @tleonardi's comments.

@majensen I have reviewed the submission and recommend accepting it for publication.

[2020-01-29 11:02] arfon commented on #1987
Great, thanks @HeloiseS. Please could you make the following adjustments to the [Zenodo release](https://zenodo.org/record/3629869#.XjC2tnUzbmE), making sure that:

- The title of the archive is the same as the JOSS paper title
- That the authors of the archive are the same as the JOSS paper authors

[2020-01-29 11:13] arfon commented on #1834
@gmorello - I've made a couple of minor updates to your paper for readability in https://github.com/ucl-exoplanets/ExoTETHyS/pull/18

Also, do you know that the status of the AAS companion paper is here? Before we can publish this we should add the AAS paper DOI to the YAML header of the `paper.md`.

[2020-01-29 11:13] arfon commented on #1834
/ cc @crawfordsm for visibility on this submission that has now completed review and is accepted into JOSS.

[2020-01-29 11:19] xuanxu commented on #2033
:wave: @ipelupessy: would you be willing to review this paper? I think your knowledge of astronomy and Python makes you a great fit for this submission.

[2020-01-29 11:20] xuanxu commented on #2033
:wave: @warrickball would you be willing to review this paper? I think your expertise on stellar physics makes you a great fit for this submission.

[2020-01-29 11:48] coughls commented on #1990
@lpantano @ktmeaton I am finished my review now and did not find anything that needed to be addressed so I am happy with it. Thanks.

[2020-01-29 11:49] Kevin-Mattheus-Moerman commented on #1911
@tomalrussell The title of the archive is still different, can you make it match the paper title? Thanks

[2020-01-29 12:07] warrickball commented on #2033
Hi @xuanxu, I'm happy to review this paper. Let me know how to proceed.

It isn't clear to me how the bundling of an external program happens in JOSS. FASMA appears to be a wrapper for the Fortran 77 code MOOG, presumably to make it easier to use. Though the [license file for MOOG in the repo](https://github.com/MariaTsantaki/FASMA-synthesis/blob/68b9267aa53a1e7023f84f59a4dad76f815cfe3b/FASMA/MOOG

[2020-01-29 12:15] tomalrussell commented on #1911
@Kevin-Mattheus-Moerman I've now edited the archive metadata, title is now "cdcam: Cambridge Digital Communications Assessment Model".

[2020-01-29 12:19] ipelupessy commented on #2033
@xuanxu: yes, though please let me know what you expect from me!

[2020-01-29 12:23] xuanxu commented on #2033
Great, thanks @warrickball! Once I have the second reviewer confirmed I'll start a new issue where the actual review will take place.

You are right, this should be clarified during the review to make sure MOOG allows redistribution of the software.

Wrappers are common but in general the external codes are not included.

Yes, if redistribution is not allowed, this is the easiest solution.

[2020-01-29 12:24] xuanxu commented on #2033
@ipelupessy Great, thanks!

[2020-01-29 12:25] xuanxu commented on #2033
@ipelupessy @warrickball  I'm going to assign both of you as reviewers now and then start the review issue. There you'll find instructions and a checklist for each one of you.

[2020-01-29 12:26] xuanxu commented on #2033
@whedon add @warrickball as reviewer

[2020-01-29 12:26] whedon commented on #2033
OK, @warrickball is now a reviewer

[2020-01-29 12:26] xuanxu commented on #2033
@whedon add @ipelupessy as reviewer

[2020-01-29 12:26] whedon commented on #2033
OK, @ipelupessy is now a reviewer

[2020-01-29 12:27] xuanxu commented on #2033
@whedon start review

[2020-01-29 12:27] whedon opened #2048 "[REVIEW]: FASMA 2.0: A Python package for stellar parameters and chemical abundances"
**Submitting author:** @MariaTsantaki (<a href="http://orcid.org/0000-0002-0552-2313">Maria Tsantaki</a>)
**Repository:** <a href="https://github.com/MariaTsantaki/FASMA-synthesis" target ="_blank">https://github.com/MariaTsantaki/FASMA-synthesis</a>
**Version:** v2.0
**Editor:** @xuanxu
**Reviewer:** @warrickball, @ipelupessy
**Archive:** <a href="https://doi.org/10.5281/zenodo.3885291" target="_

[2020-01-29 12:27] whedon commented on #2033
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2048.

[2020-01-29 12:27] #2033 closed

[2020-01-29 12:27] whedon commented on #2048
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @warrickball, @ipelupessy it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2020-01-29 12:27] whedon commented on #2048
[code]

[2020-01-29 12:27] whedon commented on #2048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02048/joss.02048/10.21105.joss.02048.pdf)

[2020-01-29 12:27] xuanxu commented on #2033
@ipelupessy, @warrickball please head over to #2048 where the review will take place.

[2020-01-29 12:30] xuanxu commented on #2048
@MariaTsantaki, @warrickball, @ipelupessy : this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different

[2020-01-29 12:34] melissawm commented on #1955
@whedon assign @kose-y as reviewer

[2020-01-29 12:34] whedon commented on #1955
OK, @kose-y is now a reviewer

[2020-01-29 12:40] ipelupessy commented on #2048
@MariaTsantaki I think the install procedure should not require sudo

[2020-01-29 12:43] melissawm commented on #2031
@petroniocandido Hello, would you be willing/available to review this software paper for JOSS? Thank you!

[2020-01-29 12:44] melissawm commented on #2031
@benjamin-lee Hello, would you be willing/available to review this software paper for JOSS? Thank you!

[2020-01-29 12:46] ipelupessy commented on #2048
@MariaTsantaki I see that the install procedure calls for editing the source code of MOOG by hand and then build/installing this seperately; it would be nicer if the setup.py does this for you (both things). Also the model data extraction can also be put in the setup.py. fixing this would allow a ```pip install FASMA```

[2020-01-29 12:47] ipelupessy commented on #2048
@MariaTsantaki at first sight I see only two tests in FASMA/tests. is this correct?

[2020-01-29 12:53] ipelupessy commented on #2048
@MariaTsantaki the repository contains compiled .o and executable files of MOOG. I would suggest these be removed.

[2020-01-29 12:54] DanielAndreasen commented on #2048
@ipelupessy (I'm co-author of FASMA). It is true that there currently only are two unit tests. We plan to add more continously, but it hasn't been a priority.

[2020-01-29 12:57] MariaTsantaki commented on #2048
@ipelupessy Thanks for reviewing! It's true, only 2 tests. My reason is that errors can be checked by modifying the configuration file and running fasma. But I can include more tests if it is more efficient for the testing.

[2020-01-29 13:07] ipelupessy commented on #2048
ok, you need at least basic tests where you go through some simple cases (confirming the install went ok etc) - this will help you enormously when you change something in the install, making sure nothing breaks..

another comment: have you tried to minimize your prerequisites? e.g. I think at the moment astropy is only needed for for fits support - its a big prereq. for a small task..your package

[2020-01-29 14:12] nicoguaro commented on #2047
@whedon generate pdf

[2020-01-29 14:12] whedon commented on #2047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02047/joss.02047/10.21105.joss.02047.pdf)

[2020-01-29 14:19] whedon commented on #2047
[code]

[2020-01-29 14:20] Kevin-Mattheus-Moerman commented on #2047
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-01-29 14:20] whedon commented on #2047
OK, the editor is @Kevin-Mattheus-Moerman

[2020-01-29 14:24] Kevin-Mattheus-Moerman commented on #2047
@nicoguaro Can you check those missing DOI's :point_up: and regenerate the pdf when you are ready?

[2020-01-29 14:26] Kevin-Mattheus-Moerman commented on #1911
@tomalrussell

Great. This looks good now

[2020-01-29 14:26] Kevin-Mattheus-Moerman commented on #1911
@whedon accept

[2020-01-29 14:26] whedon commented on #1911
[code]

[2020-01-29 14:27] nicoguaro commented on #2047
@Kevin-Mattheus-Moerman, ``muhaochen`` is a potential reviewer.

[2020-01-29 14:27] whedon commented on #1911
[code]

[2020-01-29 14:27] whedon commented on #1911
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1254

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1254, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-29 14:29] Kevin-Mattheus-Moerman commented on #1911
@whedon accept deposit=true

[2020-01-29 14:29] whedon commented on #1911
[code]

[2020-01-29 14:30] whedon commented on #1911
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1222527488825446400) 👈 🐦🐦🐦

[2020-01-29 14:30] whedon commented on #1911
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1255
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01911](https://doi.org/10.21105/joss.01911)
2. If everything looks g

[2020-01-29 14:31] #1911 closed

[2020-01-29 14:31] whedon commented on #1911
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01911/status.svg)](https://doi.org/10.21105/joss.01911)

**We need your help!**

Journal of Open Source Softwa

[2020-01-29 14:45] nicoguaro commented on #2047
@whedon generate pdf

[2020-01-29 14:45] whedon commented on #2047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02047/joss.02047/10.21105.joss.02047.pdf)

[2020-01-29 14:50] nicoguaro commented on #2047
I forgot to push the commit before regenerating the pdf ...

@whedon generate pdf

[2020-01-29 15:42] jkarreth commented on #2023
My apologies, but I'm overloaded with other tasks for the next few weeks and don't have the bandwidth to review this right now. Might @jayrobwilliams be available and interested?

[2020-01-29 15:54] nicoguaro commented on #2047
@whedon generate pdf

[2020-01-29 15:55] whedon commented on #2047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02047/joss.02047/10.21105.joss.02047.pdf)

[2020-01-29 15:58] hausen commented on #1655
@poulson Sorry for the extremely long delay. I'll send you my comments by Friday.

[2020-01-29 16:54] warrickball commented on #2048
@MariaTsantaki I've just tried to install the program following the instructions on the GitHub repo. Like @ipelupessy, it shouldn't be necessary to install with `sudo`, so I had a look at the top-level [`makefile`](https://github.com/MariaTsantaki/FASMA-synthesis/blob/68b9267aa53a1e7023f84f59a4dad76f815cfe3b/makefile), on which I have several comments.

First, this doesn't make use of any of Make'

[2020-01-29 17:04] kthyng commented on #1774
@Kevin-Mattheus-Moerman Yes, sorry for my delay. I hope to get to it this afternoon.

[2020-01-29 17:05] warrickball commented on #2048
I'm not familiar with everything that `setup.py` can do but if it can handle extracting the atmosphere tables, then I agree that's the best way to handle installation (which would override my remarks above).

[2020-01-29 17:09] mdogucu commented on #2023
I am sorry but I am also unable to review.

[2020-01-29 17:29] mbobra commented on #2040
@whedon assign @hayesla as reviewer

[2020-01-29 17:29] whedon commented on #2040
OK, @hayesla is now a reviewer

[2020-01-29 17:55] kthyng commented on #1774
Hi @munkm! I just read through your paper, and have just a couple of typos in this [PR](https://github.com/data-exp-lab/widgyts/pull/51)

[2020-01-29 18:08] ninjin commented on #1956
Repository:

1. No installation instructions as far as I can see. Although a bit silly for Julia, a single reference to the necessary command is enough.

Paper:

1. I do not believe I have ever seen normalisation as a part of tokenisation, thus I would remove: “Such word tokenization also often includes some normalizing, such as correcting unusual spellings or removing all punctuations.”.

2. It m

[2020-01-29 18:25] munkm commented on #1774
Thanks for catching them 🙏, it's really appreciated! Your fixes have been merged.

[2020-01-29 19:05] jayrobwilliams commented on #2023
Happy to review, but won't be able to get to this until after 2/7. If that timeline works, go ahead and assign me.

[2020-01-29 19:10] kthyng commented on #1774
@whedon check references

[2020-01-29 19:10] whedon commented on #1774
[code]

[2020-01-29 19:11] kthyng commented on #1774
@whedon accept

[2020-01-29 19:11] whedon commented on #1774
[code]

[2020-01-29 19:11] whedon commented on #1774
[code]

[2020-01-29 19:12] whedon commented on #1774
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1256

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1256, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-29 19:16] kthyng commented on #1774
Hi all! This submission is almost wrapped up from my end, but I just perused the checklists and other items above and I see that @KayleighRutherford gave approval (though wasn't able to check the final items off due to permissions) but I'm not sure we heard a final word from @harpolea, particularly given an open issue [#45](https://github.com/data-exp-lab/widgyts/issues/45). I'd like to make sure

[2020-01-29 19:19] HeloiseS commented on #1987
@arfon Yeah I fixed it! https://zenodo.org/record/3629869#.XjHauXUzZNw :D

[2020-01-29 19:22] majensen commented on #1979
@timClicks very much appreciated. I will start my due diligence -- @titipata you may see some minor PRs come your way. Hope to accomplish over next couple of days.

[2020-01-29 19:27] arfon commented on #1987
@whedon set 10.5281/zenodo.3629869 as archive

[2020-01-29 19:27] whedon commented on #1987
OK. <a href="https://doi.org/10.5281/zenodo.3629869" target="_blank">10.5281/zenodo.3629869</a> is the archive.

[2020-01-29 19:27] arfon commented on #1987
@whedon accept

[2020-01-29 19:27] whedon commented on #1987
[code]

[2020-01-29 19:28] whedon commented on #1987
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1257

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1257, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-29 19:28] whedon commented on #1987
[code]

[2020-01-29 19:31] arfon commented on #1987
@whedon accept deposit=true

[2020-01-29 19:31] whedon commented on #1987
[code]

[2020-01-29 19:32] whedon commented on #1987
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1222603544894767105) 👈 🐦🐦🐦

[2020-01-29 19:32] whedon commented on #1987
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1258
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01987](https://doi.org/10.21105/joss.01987)
2. If everything looks g

[2020-01-29 19:37] arfon commented on #1987
@ygrange, @KshitijAggarwal - many thanks for your reviews here ✨

@HeloiseS - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-01-29 19:37] #1987 closed

[2020-01-29 19:37] whedon commented on #1987
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01987/status.svg)](https://doi.org/10.21105/joss.01987)

**We need your help!**

Journal of Open Source Softwa

[2020-01-29 19:39] HeloiseS commented on #1987
OMG THANKS!!

Can I put it on ARxiv??

[2020-01-29 19:41] harpolea commented on #1774
I'm happy to sign off on this - the modifications to the paper have addressed the suggestions I made, so all looks good to me!

[2020-01-29 21:00] kthyng commented on #1774
@harpolea Thanks!

I think we can finish then.

[2020-01-29 21:00] kthyng commented on #1774
@whedon accept deposit=true

[2020-01-29 21:00] whedon commented on #1774
[code]

[2020-01-29 21:01] whedon commented on #1774
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1222625770868178944) 👈 🐦🐦🐦

[2020-01-29 21:01] whedon commented on #1774
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1259
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01774](https://doi.org/10.21105/joss.01774)
2. If everything looks g

[2020-01-29 21:02] kthyng commented on #1774
Congrats on your new paper @munkm!!! Thanks very much to @lpantano for editing and to reviewers @harpolea and @KayleighRutherford — this couldn't happen without your time and expertise.

[2020-01-29 21:02] #1774 closed

[2020-01-29 21:02] whedon commented on #1774
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01774/status.svg)](https://doi.org/10.21105/joss.01774)

**We need your help!**

Journal of Open Source Softwa

[2020-01-29 21:02] petroniocandido commented on #2031
@melissawm Yes, sure! It is my first review for FOSS,  is chefe a manual of good practices?

[2020-01-29 21:27] Kevin-Mattheus-Moerman commented on #2047
@whedon check references

[2020-01-29 21:27] whedon commented on #2047
[code]

[2020-01-29 21:31] So-Cool commented on #1904
@whedon generate pdf

[2020-01-29 21:31] whedon commented on #1904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01904/joss.01904/10.21105.joss.01904.pdf)

[2020-01-29 21:36] lpantano commented on #1990
@openjournals/joss-eics, this is almost there, but can somebody double-check the size of the paper will be good and not too long. One I did in the past was too long and we needed to update the archive and the version at the very last step. Trying to avoid that. Thanks!

[2020-01-29 21:43] So-Cool commented on #1904
We revised the paper taking into consideration your feedback and comments. @osolari and @bernease, please let us know if you find something that we can improve.

[2020-01-29 23:57] titipata commented on #1979
Thank you so much @tleonardi  @timClicks @majensen for all your efforts and great reviews! We really appreciate it! Looking forward to the PRs.

[2020-01-30 02:37] ckoerber commented on #2007
Hello @gkthiruvathukal, @ixjlyons, and @remram44,

Thank you for your time and the feedback you have provided. We believe that your comments help to improve EsspressoDB. To keep updates transparent, we filed issues for suggested changes and intend to merge them into the new version `v1.1.0`. The filed issues are collected in a new [project on EsspressoDB](https://github.com/callat-qcd/espressodb/p

[2020-01-30 02:43] gkthiruvathukal commented on #2007
@gkthiruvathukal Just letting @ckoerber and all know that I'm keeping an eye on the thread. It sounds like the feedback from @ixjlyons, and @remram44 has been well received and there is a plan to work on the issues raised during review.

After the issues are addressed, I'll have the reviewers take another look.

I'd like to ask for everyone's help here. I have no reason to doubt that all authors o

[2020-01-30 04:29] remram44 commented on #2007
I confirm that @ckoerber made major contributions to the software, and that the list of authors match the major contributors of the software.

It seems that @cchang5 goes by "Jason Chang" on his GitHub profile and "Chia Cheng Chang" on the paper, but it looks like this is intended.

[2020-01-30 05:05] gioacchinowang commented on #1889
@labarba The AAS publication is under the final revision, and the editor expect it to be done within a few days. I have been asked to include the JOSS reference and DOI in the resubmition. Thanks for asking!

[2020-01-30 07:20] Kevin-Mattheus-Moerman commented on #1990
@lpantano thanks for your comment. I think the paper looks fine. It is slightly long but it look likes it needs the length to treat the components asked for and there are no sections/paragraphs (as far as I could tell from having a glance at the paper) that should be removed (e.g. if they would double documentation content).
You said "almost there", are there further developments we are waiting fo

[2020-01-30 08:02] mado89 commented on #2001
@arcuri82 sorry for not getting back to you until now. I see that the official review process has not started yet. Currently, I am under a lot of stress but I hope that starting from next week things will ease a little bit. Then I will start giving your software a thorough investigation and let you know where I need help.
@gkthiruvathukal whats the current status on the review process?

[2020-01-30 08:56] will-rowe commented on #1956
Thanks for some excellent reviews @leios and @ninjin.

@oxinabox - can you please address @ninjin 's comments and let me know when you are ready for me to take a final look. We should be close to acceptance!

[2020-01-30 10:59] danielskatz commented on #1889
And similarly, the JOSS paper will include the AAS reference and DOI

[2020-01-30 11:04] ybayle commented on #1262
Thank you for all your helpful comments. Before archiving the repo we'll update the last comments on the article and the code. We'll keep you updated.

[2020-01-30 11:38] SuperKam91 commented on #1809
Hi @Kevin-Mattheus-Moerman, I can confirm I have addressed the changes proposed above. Furthermore I have given the paper a final proofread.

[2020-01-30 11:38] SuperKam91 commented on #1809
@whedon generate pdf

[2020-01-30 11:38] whedon commented on #1809
PDF failed to compile for issue #1809 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1809/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/

[2020-01-30 11:41] SuperKam91 commented on #1809
@whedon check references

[2020-01-30 12:29] ipelupessy commented on #2048
@MariaTsantaki  as @warrickball remarked, the installation instructions are not complete. You need sm plotting package. I am not sure the plotting is needed; in any case it compiles if you add a .f file with stubs for the sm calls.

Then, when running fasma, MOOG fails because missing data (Barklem.dat), I pulled this from https://github.com/hmtabernero/StePar (there is also a stub library for sm

[2020-01-30 12:38] melissawm commented on #2031
@petroniocandido you can check the general reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), and if you have any questions, please let me know.

Once I've assigned you as reviewer, this issue is going to be closed and a review issue will be opened with a checklist for each of the reviewers.

[2020-01-30 12:38] melissawm commented on #2031
@whedon add @petroniocandido as reviewer

[2020-01-30 12:38] whedon commented on #2031
OK, @petroniocandido is now a reviewer

[2020-01-30 12:39] melissawm commented on #2031
@whedon start review

[2020-01-30 12:39] whedon opened #2049 "[REVIEW]: MF2: A Collection of Multi-Fidelity Benchmark Functions in Python"
**Submitting author:** @sjvrijn (<a href="http://orcid.org/0000-0001-6159-041X">Sander van Rijn</a>)
**Repository:** <a href="https://github.com/sjvrijn/mf2" target ="_blank">https://github.com/sjvrijn/mf2</a>
**Version:** v2020.8.0
**Editor:** @melissawm
**Reviewers:** @torressa, @zbeekman
**Archive:** <a href="https://doi.org/10.5281/zenodo.3998591" target="_blank">10.5281/zenodo.3998591</a>

##

[2020-01-30 12:39] whedon commented on #2031
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2049.

[2020-01-30 12:39] #2031 closed

[2020-01-30 12:39] whedon commented on #2049
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @petroniocandido it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2020-01-30 12:39] whedon commented on #2049
[code]

[2020-01-30 12:39] whedon commented on #2049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02049/joss.02049/10.21105.joss.02049.pdf)

[2020-01-30 12:48] lpantano commented on #1990
Thanks @Kevin-Mattheus-Moerman, I just need to make sure to have the archive and the version correct.

@ktmeaton, could you create a Zenodo archive of your repo for the current version and give me the doi? Please make sure the title and authors match the paper exactly. And that will be all if nothing happens. :)

[2020-01-30 12:50] benoit-combes commented on #1862
Dear @labarba,

I added more information to my last message. Do you think it is sufficient to apply the correction ? If not please, let me know.

Thanks in advance for your consideration,
B.

[2020-01-30 12:51] ipelupessy commented on #2048
some comments on running:
- the configuration with StarMe_synth.cfg is not very intuitive; it seems to need a particular formatting; it would be better if you could provide these through python keyword arguments directly
- I made a cfg file with just the following:
[code]
fasma then complaints about a missing intervals file. so i copied over intervals.lst. it still complained. Error reporting does

[2020-01-30 12:55] ipelupessy commented on #2048
@MariaTsantaki some further comments:
for this kind of wrapping it is nice if you can continue from within python with the results - so like:
result = fasma(**kwargs)
with kwargs the options as keyword arguments (as mentioned above) and result a python object encapsulating the output with some metadata. Now you are going to have to parse data files in some obscure format...

[2020-01-30 12:59] ipelupessy commented on #2048
https://github.com/MariaTsantaki/FASMA-synthesis/pull/15 contains the above mentioned stub for sm

[2020-01-30 13:09] labarba commented on #1862
The EiC (@arfon) can help you with a post-publication correction. This is a manual process.

[2020-01-30 14:13] aebergl commented on #1830
@cMadan
Hello again. What is the next step?
Cheers,
/Anders

[2020-01-30 14:45] funsim commented on #2018
Overall this software package is very well set up and I recommend the submission to be accepted by JOSS after addressing the following comments:

**Software paper**
I cannot find the software paper - could you please send me a link?

**Performance**
* The performance plots on the README.md file show that the single precision speed up for CPUs is below 1. This is surprising and should be commented

[2020-01-30 15:15] arfon commented on #1862
This is now updated. It may take a few hours to show up differently on the JOSS site due to caching.

[2020-01-30 16:29] Kevin-Mattheus-Moerman commented on #1809
@whedon generate pdf

[2020-01-30 16:29] whedon commented on #1809
PDF failed to compile for issue #1809 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1809/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/

[2020-01-30 16:31] Kevin-Mattheus-Moerman commented on #1809
@SuperKam91 did you have the ` symbols in the title field for the YAML content at the top of your paper there before?
[code]
Perhaps change it to the following and try again:
[code]

[2020-01-30 16:39] arfon commented on #1809
@SuperKam91 - this PR will fix your paper compilation: https://github.com/SuperKam91/gns/pull/6

[2020-01-30 16:50] kthyng commented on #2018
@funsim You can find the paper above by clicking "check article proof"

Please note, for both @funsim and @ali-ramadhan: if there will be more discussion on the points noted above, it's preferable to have that discussion in individual issues that are opened and linked to this review issue. That way this issue remains more of an overview and details can be hashed out elsewhere. Thanks!

[2020-01-30 18:20] cMadan commented on #1830
@aebergl @jhcreed, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title

[2020-01-30 19:01] leouieda commented on #1797
:wave: hi @jmansour, just checking in on the progress here.

[2020-01-30 19:10] kthyng commented on #1985
@evanleeturner JOSS is the Journal for Open Source Software, which involves largely code-review based for software with research applications. Are you interested in reviewing this submission? We ask for reviews within about 3 weeks if possible, and you can find more information about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
I'm looking for one more reviewer!

[2020-01-30 19:43] standage commented on #1994
@whedon generate pdf

[2020-01-30 19:43] whedon commented on #1994
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01994/joss.01994/10.21105.joss.01994.pdf)

[2020-01-30 19:48] standage commented on #1994
Hi @will-rowe, my main concerns have been addressed, and I endorse this paper for publication at JOSS! This concludes my review.

Hi @oschwengers, thanks for sharing your work. Feel free to reach out in the future if needed.

[2020-01-30 19:56] leouieda commented on #2020
Hi @kbarnhart sorry, I don't have the bandwidth for this right now. But I would recommend seisman or joa-quim.

[2020-01-30 19:59] funsim commented on #2018
Found the paper, thanks. Apart from the comments above, I have no further comments.

[2020-01-30 20:08] leouieda commented on #1882
@slumnitz thank you keeping us in the loop. As @martinfleis said, the figures weren't rendering properly. I submitted a PR fixing this.

Also, we now have a compilation service that you can use to preview the paper (even on branches before merging PRs): https://whedon.theoj.org

@ResidentMario I see you still have the "Installation" review item unchecked. Could you please see if this has been addr

[2020-01-30 20:11] SuperKam91 commented on #1809
So sorry about that @arfon, don't know how that occurred!

[2020-01-30 20:11] SuperKam91 commented on #1809
@whedon generate pdf

[2020-01-30 20:12] whedon commented on #1809
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01809/joss.01809/10.21105.joss.01809.pdf)

[2020-01-30 20:20] kthyng commented on #1988
I'm concerned about this submission meeting the submission requirement of
"The software should be a significant contribution to the available open source software that either enables some new research challenges to be addressed or makes addressing research challenges significantly better (e.g., faster, easier, simpler)." (https://joss.readthedocs.io/en/latest/submitting.html#submission-requirement

[2020-01-30 20:41] mbobra commented on #2040
@AndrewAnnex I'm working on finding you another reviewer -- give me a couple more days!

[2020-01-30 21:04] AndrewAnnex commented on #2040
@mbobra can you tell I check this page every hour 😱??? mostly kidding.
BTW I was wondering if I could list this as a "in review" or "submitted" on a CV I'll be sending on next week. Any suggestions of what is fair to say?

[2020-01-30 21:25] martinfleis commented on #1882
@leouieda I kept it unchecked due to figures formatting issue. Your PR resolves it, but note that you made a PR to your forked repo not the original repo.

I'll take it as resolved and finish my review.

[2020-01-30 21:46] 1313e commented on #2004
@mbobra I don't think this is going anywhere anytime soon?
Sadly, the one person I could come up with as a reviewer already is one for this paper, so that doesn't really work.

[2020-01-30 23:07] cchang5 commented on #2007
@gkthiruvathukal
I'd like to ask for everyone's help here. I have no reason to doubt that all authors of the software are represented on the paper submission, but can each of you (authors and reviewers) please confirm for me?

I am confirming that I am an author of the software.

[2020-01-30 23:08] jmansour commented on #1797
Hi @leouieda

Just finalising some details for the release.  Should be ready next week.

[2020-01-30 23:11] whedon commented on #1809
[code]

[2020-01-30 23:16] ckoerber commented on #2007
I can confirm that @cchang5, @walkloud, and I are the authors of EspressoDB (and LatteDB).

[2020-01-30 23:40] ixjlyons commented on #2007
Confirming I've re-checked the author list against the contributors based on git history.

[2020-01-30 23:52] miketuri commented on #1988
Hello @kthyng,

I have tried to provide more information for your questions below.

"The software should be a significant contribution to the available open source software that either enables some new research challenges to be addressed or makes addressing research challenges significantly better (e.g., faster, easier, simpler)." (https://joss.readthedocs.io/en/latest/submitting.html#submission-r

[2020-01-31 00:00] oschwengers commented on #1994
Hi @standage , once again thank you very much for your very constructive and helpful review. I adopted the manuscript as requested and implemented all other suggestions:
- a tiny test case to check local software installations: oschwengers/referenceseeker/issues/4
- added unit tests and setup CI via GitHub actions: oschwengers/referenceseeker/issues/5
- custom database creations: oschwengers/refer

[2020-01-31 00:10] gkthiruvathukal commented on #2007
Thanks for all responses!

[2020-01-31 00:36] standage commented on #1994
Nope, I just missed that box. It's checked now. 👍

[2020-01-31 01:21] aebergl commented on #1830
@cMadan
v1.1.0
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3632122.svg)](https://doi.org/10.5281/zenodo.3632122)

[2020-01-31 03:51] ResidentMario commented on #1882
I had the installation mark unchecked due to splot#88, but that's now been fixed so I went ahead and checked the box.

[The new docs](http://pysal.org/notebooks/viz/splot/intro.html) look great!

That's everything from me.

[2020-01-31 08:20] benoit-combes commented on #1862
Dear Joss Editor @labarba @arfon,

thanks a lot for having considered my request quickly and gently. I am now very happy of the paper and greatly appreciated my experience as an author.

B.

[2020-01-31 10:23] ralfHielscher commented on #1963
Hi Marie,

I also agree to review. What are the next steps?

Ralf.

********************************************************************
Ralf Hielscher                   Tel: +371-531-38556
Fakultät für Mathematik               +371-531-22200 (Sekr.)
Technische Universität Chemnitz  Fax: +371-531-22109
Reichenhainer Str. 39            E-mail:
ralf.hielscher@mathematik.tu-chemnitz.de
D-09126 Chemni

[2020-01-31 10:42] pkofod commented on #1816
Everything looks pretty good. There is one thing missing IMO, but it might be a matter of focus and/or intent. Either OnlineStats.jl is mainly seen as a platform for developing online algorithms, and in that case the example is fine: it shows how to implement an algorithm using the structure provided by the package. However, if the goal (as I understood it at least) is mainly to provide implementa

[2020-01-31 12:20] uellue commented on #2006
@whedon generate pdf

[2020-01-31 12:21] uellue commented on #2006
Would it be OK to include a small wording improvement in the first sentence?

[2020-01-31 12:21] whedon commented on #2006
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02006/joss.02006/10.21105.joss.02006.pdf)

[2020-01-31 13:36] csoneson commented on #2026
👋 @lbugnon, @SirSharpest, @RealPolitiX - I just wanted to check in on your reviews. Do you have an update on when you think you would be able to provide some comments for @shalinshah1993 (I see that @SirSharpest has opened an issue in the repo)?

[2020-01-31 14:30] oschwengers commented on #1994
@will-rowe  I just released [v1.5](https://github.com/oschwengers/referenceseeker/releases/tag/v1.5) containing all recent changes & updates related to @standage 's fruitful comments. v1.5 is already deployed to `PyPI` and `BioConda`. Is it possible to point this submission/review to this new release instead of v1.4?

[2020-01-31 14:36] majensen commented on #2006
@uellue of course!

[2020-01-31 14:37] majensen commented on #2044
@whedon remove @rhagenson as reviewer

[2020-01-31 14:37] whedon commented on #2044
OK, @rhagenson is no longer a reviewer

[2020-01-31 14:38] majensen commented on #1942
Hi @benjaminbolling - how are things proceeding?

[2020-01-31 14:43] oschwengers commented on #1994
Just fixed 2 typos.

@whedon generate pdf

[2020-01-31 14:49] oschwengers commented on #1994
@whedon generate pdf

[2020-01-31 14:50] whedon commented on #1994
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01994/joss.01994/10.21105.joss.01994.pdf)

[2020-01-31 14:50] oschwengers commented on #1994
@whedon generate pdf

[2020-01-31 14:51] whedon commented on #1994
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01994/joss.01994/10.21105.joss.01994.pdf)

[2020-01-31 15:21] SirSharpest commented on #2026
Yes, I'll have my review finished before Monday, I think that all my issues are addressed and just need to verify before I can sign off.

[2020-01-31 16:51] akeshavan commented on #2023
Thanks @jayrobwilliams!

[2020-01-31 16:51] akeshavan commented on #2023
@whedon assign @jayrobwilliams as reviewer

[2020-01-31 16:51] whedon commented on #2023
OK, @jayrobwilliams is now a reviewer

[2020-01-31 19:19] mbobra commented on #2040
I guess it is not technically in review, which is my fault. Once I find a second reviewer, I will close this issue and start the review issue. Then it will be in review. At the moment, it is submitted. Check back next week before you submit the CV, we might have a second reviewer by then :)

[2020-01-31 19:20] mbobra commented on #2004
@openjournals/joss-eics Can you help us with this?

[2020-01-31 19:27] kthyng commented on #2004
@mbobra just pinged @tacaswell by other means. Have you tried email for @wafels?

[2020-01-31 19:45] rhagenson commented on #1974
@marcosvital, I have listed above three potential reviewers found among the list of volunteers. I will leave it up to you to reach out to them as, acting in my role as the author, I feel it is outside my power to offer the review. Is there anything else you need from me?

[2020-01-31 19:51] tacaswell commented on #2004
I approve this paper :+1:

[2020-01-31 19:56] tacaswell commented on #2004
As a side note, @1313e proposed some of these color maps for inclusion in Matplotlib and we suggested a stand-alone package.  I think that this has ended up in a vastly better state than if the color maps had been added to core.  There is great value in an curated set of color maps that are nicely name spaced and more opinionated than we can be on core.

[2020-01-31 19:59] tacaswell commented on #1989
Sorry, I got behind on everything.  Will be done by Monday.

[2020-01-31 20:59] mbobra commented on #2004
Thank you, @tacaswell!!!

[2020-01-31 21:09] mbobra commented on #2004
@1313e An update for you: I pinged wafels via e-mail and he's working on it!

[2020-01-31 21:45] ali-ramadhan commented on #2018
Thank you @funsim for the quick review! You bring up good points that will improve the package. Certainly the documentation needs more work as you've pointed out, and we've been meaning to add a verification experiment with some convergence results so thank you for bringing it up.

I have opened an issue for each of your comments where we will work towards addressing them:
1. https://github.com/cl

[2020-01-31 21:55] phillima commented on #1960
Hello @danieledipompeo , thank you very much for your comments. I will work on them. I would like to point out some points.

- Regarding the missing maven dependency (JAXB), can you please confirm that you are using JDK 11 or higher? I checked that after JDK 11, some libraries (such as JAXB) were removed from the JDK. Since I developed the ASniffer on top of JDK 8 it was not necessary to add this

[2020-01-31 23:06] cMadan commented on #1830
@whedon set v1.1.0 as version

[2020-01-31 23:06] whedon commented on #1830
OK. v1.1.0 is the version.

[2020-01-31 23:07] cMadan commented on #1830
@whedon set 10.5281/zenodo.3632122 as archive

[2020-01-31 23:07] whedon commented on #1830
OK. <a href="https://doi.org/10.5281/zenodo.3632122" target="_blank">10.5281/zenodo.3632122</a> is the archive.

[2020-01-31 23:08] cMadan commented on #1830
@whedon accept

[2020-01-31 23:08] whedon commented on #1830
[code]

[2020-01-31 23:08] whedon commented on #1830
[code]

[2020-01-31 23:08] whedon commented on #1830
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1260

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1260, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-01-31 23:12] cMadan commented on #1830
@openjournals/joss-eics, I think we're all set to accept here!

[2020-01-31 23:29] 1313e commented on #2004
Yeah, after you proposed to me to make my own package, I had several others telling me to do the same thing, and that is why *CMasher* exists.

[2020-02-01 00:37] mbobra commented on #2040
@whedon add @jessie-dotson as reviewer

[2020-02-01 00:37] whedon commented on #2040
OK, @jessie-dotson is now a reviewer

[2020-02-01 00:37] mbobra commented on #2040
@whedon start review

[2020-02-01 00:37] whedon opened #2050 "[REVIEW]: SpiceyPy: a Pythonic Wrapper for the SPICE Toolkit"
**Submitting author:** @andrewannex (<a href="http://orcid.org/0000-0002-0253-2313">Andrew Annex</a>)
**Repository:** <a href="https://github.com/AndrewAnnex/SpiceyPy" target ="_blank">https://github.com/AndrewAnnex/SpiceyPy</a>
**Version:** v3.0.2
**Editor:** @mbobra
**Reviewer:** @hayesla, @jessie-dotson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3676146" target="_blank">10.5281/zenodo

[2020-02-01 00:37] whedon commented on #2040
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2050.

[2020-02-01 00:37] #2040 closed

[2020-02-01 00:37] whedon commented on #2050
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hayesla, @jessie-dotson it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2020-02-01 00:37] whedon commented on #2050
[code]

[2020-02-01 00:38] whedon commented on #2050
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02050/joss.02050/10.21105.joss.02050.pdf)

[2020-02-01 00:39] mbobra commented on #2050
@hayesla @jessie-dotson Thank you for agreeing to review this submission! Whedon generated a checklist and linked a reviewer guide above. Please feel free to ask me (or the submitting author, or each other) if you have any questions :)

[2020-02-01 00:40] mbobra commented on #2050
@AndrewAnnex Your paper is officially in review!

[2020-02-01 01:38] rhagenson commented on #2044
@scwest, I opened an issue with all the edits I see as necessary, in addition to suggested edits that I think improve quality-of-life for either yourself as maintainer or others as users.

[2020-02-01 01:48] majensen commented on #1979
@whedon generate pdf

[2020-02-01 01:49] whedon commented on #1979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01979/joss.01979/10.21105.joss.01979.pdf)

[2020-02-01 01:52] majensen commented on #1979
@whedon check references

[2020-02-01 01:52] whedon commented on #1979
[code]

[2020-02-01 03:15] majensen commented on #1979
Hi @titipata - I've created a PR for you to consider: https://github.com/titipata/pubmed_parser/pull/84

Also, in the code example in the text, would you consider changing
`data/medline16n0902.xml.gz`
to
`data/pubmed20n0014.xml.gz`
since the latter file is actually present in the `data` directory of the repo? Then a user can simply run the sample code after cloning and installing.

thanks

[2020-02-01 03:17] majensen commented on #1979
Hi @tleonardi - I notice one box is left unchecked on your review (_Functionality documentation_). Do you still have issues here? Thanks for having a look.

[2020-02-01 04:16] frycast commented on #2027
This package looks great. The vignette is especially detailed and useful.

I have two comments/questions:
NorskRegnesentral/shapr/pull/172 - A small typo here.
NorskRegnesentral/shapr/pull/171 - You may need to add the full MIT license here.

Thank you @martinju for making this package!

[2020-02-01 06:50] whedon opened #2051 "[PRE REVIEW]: PyEscape"
**Submitting author:** @sirsharpest (<a href="http://orcid.org/0000-0002-4572-5828">Nathan Hughes</a>)
**Repository:** <a href="https://github.com/SirSharpest/NarrowEscapeSimulator" target ="_blank">https://github.com/SirSharpest/NarrowEscapeSimulator</a>
**Version:** 1.0
**Editor:** @drvinceknight
**Reviewers:** @pdebuyl, @markgalassi

**Author instructions**

Thanks for submitting your paper to

[2020-02-01 06:50] whedon commented on #2051
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 06:50] whedon commented on #2051
[code]

[2020-02-01 06:50] whedon commented on #2051
Failed to discover a valid open source license.

[2020-02-01 06:50] whedon commented on #2051
PDF failed to compile for issue #2051 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2051/paper.md): mapping values are not allowed in this context at line 2 column 16 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/r

[2020-02-01 06:53] Kevin-Mattheus-Moerman commented on #2051
@SirSharpest I think your paper is not compiling because you used a ` symbol in the YAML code at the top for the title. Can you replace:
[code]
with
[code]
Once you made the change you can call `@whedon generate pdf` here to reattempt the creation of the the pdf.

[2020-02-01 06:58] Kevin-Mattheus-Moerman commented on #2051
@drvinceknight, @dfm, @majensen can one of you edit this submission? Thanks

[2020-02-01 07:05] Kevin-Mattheus-Moerman commented on #1809
@SuperKam91 thanks for making those changes. Looks like we are all set now.

[2020-02-01 07:05] Kevin-Mattheus-Moerman commented on #1809
@whedon accept

[2020-02-01 07:05] whedon commented on #1809
[code]

[2020-02-01 07:06] whedon commented on #1809
[code]

[2020-02-01 07:06] whedon commented on #1809
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1261

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1261, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-01 07:07] Kevin-Mattheus-Moerman commented on #2051
@openjournals/dev am I right to say it is the ` symbol? Or are those allowed in YAML?

[2020-02-01 07:08] Kevin-Mattheus-Moerman commented on #1809
@whedon accept deposit=true

[2020-02-01 07:08] whedon commented on #1809
[code]

[2020-02-01 07:09] whedon commented on #1809
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1223503513793302528) 👈 🐦🐦🐦

[2020-02-01 07:09] whedon commented on #1809
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1262
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01809](https://doi.org/10.21105/joss.01809)
2. If everything looks g

[2020-02-01 07:09] #1809 closed

[2020-02-01 07:09] whedon commented on #1809
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01809/status.svg)](https://doi.org/10.21105/joss.01809)

**We need your help!**

Journal of Open Source Softwa

[2020-02-01 07:11] whedon opened #2052 "[PRE REVIEW]: The pdb2sql Python Package: Parsing, Manipulation and Analysis of PDB Files Using SQL Queries"
**Submitting author:** @NicoRenaud (<a href="http://orcid.org/0000-0001-9589-2694">Nicolas Renaud</a>)
**Repository:** <a href="https://github.com/DeepRank/pdb2sql" target ="_blank">https://github.com/DeepRank/pdb2sql</a>
**Version:** 0.2.2
**Editor:** @lpantano
**Reviewers:** @i-mtz, @JoaoRodrigues

**Author instructions**

Thanks for submitting your paper to JOSS @NicoRenaud. **Currently, there

[2020-02-01 07:11] whedon commented on #2052
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 07:11] whedon commented on #2052
[code]

[2020-02-01 07:11] whedon commented on #2052
[code]

[2020-02-01 07:11] whedon commented on #2052
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02052/joss.02052/10.21105.joss.02052.pdf)

[2020-02-01 07:17] Kevin-Mattheus-Moerman commented on #2052
@VivianePons, @lpantano, @will-rowe, @majensen would one of you be able to edit this submission?

[2020-02-01 07:18] whedon opened #2053 "[PRE REVIEW]: Latexify.jl, translating mathematical Julia objects to renderable equations and tables."
**Submitting author:** @korsbo (<a href="http://orcid.org/0000-0001-9811-3190">Niklas Korsbo</a>)
**Repository:** <a href="https://github.com/korsbo/Latexify.jl" target ="_blank">https://github.com/korsbo/Latexify.jl</a>
**Version:** v0.12.3
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @korsbo. **Currently, there isn't an JOSS editor

[2020-02-01 07:18] whedon commented on #2053
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 07:18] whedon commented on #2053
[code]

[2020-02-01 07:18] whedon commented on #2053
PDF failed to compile for issue #2053 with the following error:

 Can't find any papers to compile :-(

[2020-02-01 07:26] Kevin-Mattheus-Moerman commented on #2053
@korsbo thanks for your submission. Our bot `@whedon` has failed to find your paper.md file. Where is it located? Can you place it in an appropriate spot for our system (see https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements)

I've had a glance at your repository. This submission certainly seems to be a very useful piece of work e.g. for me I can think of uses for the de

[2020-02-01 07:26] whedon opened #2054 "[PRE REVIEW]: Annotating text with ontologies using jabberwocky’s catch"
**Submitting author:** @sap218 (<a href="http://orcid.org/0000-0002-6169-0135">Samantha Pendleton</a>)
**Repository:** <a href="https://github.com/sap218/jabberwocky" target ="_blank">https://github.com/sap218/jabberwocky</a>
**Version:** v0.1.0.2
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @sap218. **Currently, there isn't an JOSS e

[2020-02-01 07:26] whedon commented on #2054
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 07:26] whedon commented on #2054
[code]

[2020-02-01 07:27] whedon commented on #2054
[code]

[2020-02-01 07:27] whedon commented on #2054
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02054/joss.02054/10.21105.joss.02054.pdf)

[2020-02-01 07:31] whedon opened #2055 "[PRE REVIEW]: scPCA: A toolbox for sparse contrastive principal component analysis in R"
**Submitting author:** @PhilBoileau (<a href="http://orcid.org/0000-0002-4850-2507">Philippe Boileau</a>)
**Repository:** <a href="https://github.com/PhilBoileau/scPCA" target ="_blank">https://github.com/PhilBoileau/scPCA</a>
**Version:** v1.1.6
**Editor:** @csoneson
**Reviewers:** @fabian-s, @LTLA

**Author instructions**

Thanks for submitting your paper to JOSS @PhilBoileau. **Currently, there

[2020-02-01 07:31] whedon commented on #2055
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 07:31] whedon commented on #2055
[code]

[2020-02-01 07:31] whedon commented on #2055
[code]

[2020-02-01 07:31] whedon commented on #2055
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02055/joss.02055/10.21105.joss.02055.pdf)

[2020-02-01 07:33] Kevin-Mattheus-Moerman commented on #2055
@lpantano, @csoneson, @will-rowe, would one you be able to edit this submission?

[2020-02-01 07:36] whedon opened #2056 "[PRE REVIEW]: Using drones to quantify the length of marine animals"
**Submitting author:** @egemose (<a href="http://orcid.org/0000-0002-6765-8216">Henrik Dyrberg Egemose</a>)
**Repository:** <a href="https://github.com/egemose/DroneVideoMeasure" target ="_blank">https://github.com/egemose/DroneVideoMeasure</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @abhishekbajpayee, @jizecn

**Author instructions**

Thanks for submitting your paper to JOSS @egemo

[2020-02-01 07:36] whedon commented on #2056
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 07:36] whedon commented on #2056
[code]

[2020-02-01 07:36] whedon commented on #2056
[code]

[2020-02-01 07:36] whedon commented on #2056
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02056/joss.02056/10.21105.joss.02056.pdf)

[2020-02-01 07:40] Kevin-Mattheus-Moerman commented on #2056
@egemose thanks for your submission. I recommend adding the software name in the paper title e.g.
`DroneVideoMeasure: Using drones to quantify the length of marine animals`

[2020-02-01 07:42] Kevin-Mattheus-Moerman commented on #2056
@kthyng the authors suggested you as editor. Would you be able to edit this submission? You can likely also invite the authors/reviewers from this submission: https://github.com/openjournals/joss-reviews/issues/1825 to review this work.
If you cannot take this I can take it myself.

[2020-02-01 07:43] whedon opened #2057 "[PRE REVIEW]: COLNA: A Python Package to Analyze Complex, Linear Networks"
**Submitting author:** @pstrk (<a href="http://orcid.org/0000-0002-7389-5592">Pascal Stark</a>)
**Repository:** <a href="https://github.com/IBM/complex-linear-network-analyzer" target ="_blank">https://github.com/IBM/complex-linear-network-analyzer</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @brandondube, @DiegoJRR

**Author instructions**

Thanks for submitting your paper to JOSS @pst

[2020-02-01 07:43] whedon commented on #2057
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 07:43] whedon commented on #2057
[code]

[2020-02-01 07:44] whedon commented on #2057
[code]

[2020-02-01 07:44] whedon commented on #2057
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02057/joss.02057/10.21105.joss.02057.pdf)

[2020-02-01 07:48] Kevin-Mattheus-Moerman commented on #2057
@danielskatz, @drvinceknight, @VivianePons, @mjsottile, could one of you edit this submission?

[2020-02-01 07:48] whedon opened #2058 "[PRE REVIEW]: covtobed: a simple and fast tool to extract coverage tracks from BAM files"
**Submitting author:** @telatin (<a href="http://orcid.org/0000-0001-7619-281X">Andrea Telatin</a>)
**Repository:** <a href="https://github.com/telatin/covtobed/" target ="_blank">https://github.com/telatin/covtobed/</a>
**Version:** v1.0.0
**Editor:** @will-rowe
**Reviewers:** @jdeligt, @brentp

**Author instructions**

Thanks for submitting your paper to JOSS @telatin. **Currently, there isn't a

[2020-02-01 07:48] whedon commented on #2058
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 07:48] whedon commented on #2058
[code]

[2020-02-01 07:49] whedon commented on #2058
[code]

[2020-02-01 07:49] whedon commented on #2058
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02058/joss.02058/10.21105.joss.02058.pdf)

[2020-02-01 07:54] Kevin-Mattheus-Moerman commented on #2058
@csoneson, @will-rowe, @majensen, @lpantano could one of you edit this submission? Also can you judge if this work is significant enough to pass our "minor-utility" check?

[2020-02-01 07:59] Kevin-Mattheus-Moerman commented on #2058
@telatin thanks for your submission. I recommend that you reformulate your readme to be a bit more suitable to somebody from outside of this domain (like myself). It contains 2 undefined acronyms for instance. Perhaps create a lay-persons summary at the top so it is clear what this software is for to new comers.
Furthermore if this work is reviewed at a later stage our reviewers will demand clear

[2020-02-01 07:59] whedon opened #2059 "[PRE REVIEW]: fleck: Fast approximate light curves for starspot rotational modulation"
**Submitting author:** @bmorris3 (<a href="http://orcid.org/0000-0003-2528-3409">Brett Morris</a>)
**Repository:** <a href="https://github.com/bmorris3/fleck" target ="_blank">https://github.com/bmorris3/fleck</a>
**Version:** v0.1
**Editor:** @dfm
**Reviewers:** @nespinoza, @rodluger

**Author instructions**

Thanks for submitting your paper to JOSS @bmorris3. **Currently, there isn't an JOSS edi

[2020-02-01 07:59] whedon commented on #2059
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-01 07:59] whedon commented on #2059
[code]

[2020-02-01 07:59] whedon commented on #2059
[code]

[2020-02-01 08:00] whedon commented on #2059
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02059/joss.02059/10.21105.joss.02059.pdf)

[2020-02-01 08:03] Kevin-Mattheus-Moerman commented on #2059
@dfm, @xuanxu, can one of you edit this submission?

[2020-02-01 08:15] Kevin-Mattheus-Moerman commented on #1830
@jhcreed below are some remaining minor points in relation to the paper. You can implement them and call `@whedon generate pdf` here to recreate the pdf. Thanks.

- [ ] Can you type out the state and country in your affiliation? E.g.
`Moffitt Cancer Center, Tampa, Florida, United States`
- [ ] In `The methods described below was developed for...`, methods is plural so use "were" i.e.:
`The methods

[2020-02-01 08:17] Kevin-Mattheus-Moerman commented on #1875
I'll be the 2nd reviewer here to avoid further delay. I'll now trigger the review process.

[2020-02-01 08:17] Kevin-Mattheus-Moerman commented on #1875
@whedon start review

[2020-02-01 08:17] whedon opened #2060 "[REVIEW]: ampscan: A lightweight Python package for shape analysis of prosthetics and orthotics"
**Submitting author:** @JoshuaSteer (<a href="http://orcid.org/0000-0002-6288-1347">Joshua Steer</a>)
**Repository:** <a href="https://github.com/abel-research/ampscan" target ="_blank">https://github.com/abel-research/ampscan</a>
**Version:** v0.3.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @danasolav, @Kevin-Mattheus-Moerman
**Archive:** <a href="https://doi.org/10.5281/zenodo.3741495"

[2020-02-01 08:17] whedon commented on #1875
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2060.

[2020-02-01 08:17] #1875 closed

[2020-02-01 08:17] whedon commented on #2060
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danasolav it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently w

[2020-02-01 08:18] whedon commented on #2060
[code]

[2020-02-01 08:18] Kevin-Mattheus-Moerman commented on #2060
@whedon add @Kevin-Mattheus-Moerman as reviewer

[2020-02-01 08:18] whedon commented on #2060
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02060/joss.02060/10.21105.joss.02060.pdf)

[2020-02-01 08:18] whedon commented on #2060
OK, @Kevin-Mattheus-Moerman is now a reviewer

[2020-02-01 08:19] Kevin-Mattheus-Moerman commented on #2060
@whedon commands

[2020-02-01 08:19] whedon commented on #2060
Here are some things you can ask me to do:

[code]

[2020-02-01 08:20] Kevin-Mattheus-Moerman commented on #2060
@whedon check repository

[2020-02-01 08:20] whedon commented on #2060
[code]

[2020-02-01 08:24] Kevin-Mattheus-Moerman commented on #2060
@JoshuaSteer from the above report it looks like Omar Animashaun contributed but it is not listed as an author or acknowledged in the paper. Can you comment on this? If they are not included as author (e.g. if their contributions were minor enough), perhaps you can still acknowledge other contributors like these in the paper?

[2020-02-01 08:30] Kevin-Mattheus-Moerman commented on #2060
@whedon check references

[2020-02-01 08:31] whedon commented on #2060
[code]

[2020-02-01 08:32] Kevin-Mattheus-Moerman commented on #2060
@danasolav :wave: we've started reviewing here. Thanks again for your help!

[2020-02-01 08:34] csoneson commented on #2055
I can take this one

[2020-02-01 08:34] csoneson commented on #2055
@whedon assign @csoneson as editor

[2020-02-01 08:35] whedon commented on #2055
OK, the editor is @csoneson

[2020-02-01 08:36] Kevin-Mattheus-Moerman commented on #1591
@taqtiqa-mark we are sorry to hear about your loss. Let @alexhanna know whenever you are ready to resume this review. Thanks again for your help!

[2020-02-01 09:31] SirSharpest commented on #2051
@whedon generate pdf

[2020-02-01 09:32] whedon commented on #2051
PDF failed to compile for issue #2051 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2051/paper.md): mapping values are not allowed in this context at line 2 column 16 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/r

[2020-02-01 09:35] SirSharpest commented on #2051
@whedon generate pdf

[2020-02-01 09:36] whedon commented on #2051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02051/joss.02051/10.21105.joss.02051.pdf)

[2020-02-01 09:44] xuanxu commented on #2051
The error is that the parser considers `PyEscape:` a YAML key, out of place, so it errors.
To keep the title, quoting the whole string will make it:
[code]

[2020-02-01 09:45] SirSharpest commented on #2051
@whedon generate pdf

[2020-02-01 09:45] whedon commented on #2051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02051/joss.02051/10.21105.joss.02051.pdf)

[2020-02-01 09:47] danieledipompeo commented on #1960
My comments below.

Yes, if you use the JDK 11 you have to add the dependency, while if you use the JDK 8 you don't need because the JDK 8 is  "self-contained".

Yes, if you add a running example or a simple one, it will be useful.

Ok, it's fine with me. It was just a suggestion. If you consider that your tool is the first one in this area you cannot find related work.

Kind Regards
Daniele

[2020-02-01 09:47] SirSharpest commented on #2051
All good now, sorry for the issues!

[2020-02-01 11:24] whedon commented on #2051
[code]

[2020-02-01 12:07] dfm commented on #2059
Sure! I'm happy to edit. I'm mostly offline for the next few days, but I'll start the process before the end of the week.

@bmorris3: take a look at [this list of potential reviewers](https://bit.ly/joss-reviewers) and let me know if you think anyone would be an especially good fit (but please don't @ them!).

[2020-02-01 12:08] dfm commented on #2059
@whedon assign @dfm as editor

[2020-02-01 12:09] whedon commented on #2059
OK, the editor is @dfm

[2020-02-01 12:10] nikolase90 commented on #2027
@frycast I've opened two issues based on your review.

- [ ] https://github.com/NorskRegnesentral/shapr/issues/173
- [ ] https://github.com/NorskRegnesentral/shapr/issues/175

[2020-02-01 12:24] dfm commented on #1889
@gioacchinowang the DOI for the JOSS publication will be: https://doi.org/10.21105/joss.01889 Once your AAS paper has been accepted and you have a DOI, let us know, and we'll do the same. Thanks!

[2020-02-01 13:22] frycast commented on #2027
Thanks @nikolase90 for resolving both of those issues, and thanks for writing this great package along with @martinju .

I've opened one more small issue:

NorskRegnesentral/shapr#176

[2020-02-01 13:33] arfon commented on #1558
@ionlights - could you give me an update on the status of this review? For @ikuyamada's sake, I would really like to wrap up this submission ASAP.

[2020-02-01 13:35] arfon commented on #1558
@whedon assign @arfon as editor

[2020-02-01 13:35] arfon commented on #1558
@usethedata - I'll take this one from here.

[2020-02-01 13:55] arfon commented on #1608
@whedon assign @arfon as editor

[2020-02-01 13:56] arfon commented on #1608
:wave: all, I'm going to step in here and try and wrap up this submission on behalf of @usethedata.

[2020-02-01 14:01] arfon commented on #1685
👋 all, I'm going to step in here and try and wrap up this submission on behalf of @usethedata.

[2020-02-01 14:03] arfon commented on #1558
@ionlights @usethedata - I've been in touch with the author (@ikuyamada) and they have decided to withdraw this paper from JOSS. Thanks for your efforts on this, and I'm sorry this paper didn't make it to accept/publish.

[2020-02-01 14:03] arfon commented on #1558
@whedon withdraw

[2020-02-01 14:03] whedon commented on #1558
Paper withdrawn.

[2020-02-01 14:03] #1558 closed

[2020-02-01 14:27] arfon commented on #1685
@whedon accept

[2020-02-01 14:27] whedon commented on #1685
No archive DOI set. Exiting...

[2020-02-01 14:28] arfon commented on #1685
@whedon generate pdf

[2020-02-01 14:28] whedon commented on #1685
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01685/joss.01685/10.21105.joss.01685.pdf)

[2020-02-01 14:39] arfon commented on #1685
@fblavoie - please merge this pull request that makes a number of small changes to your paper: https://github.com/fblavoie/doenova/pull/4

When you have done this could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive

[2020-02-01 14:57] bmorris3 commented on #2059
Thanks @dfm! Some potential reviewers include Cadair, nespinoza, ngoldbaum, dhuppenkothen.

[2020-02-01 15:37] sam-greenwood commented on #1720
Happy to make the necessary changes for these, I'll get round to this next week.

[2020-02-01 15:54] wafels commented on #2004
I approve this paper and look forward to seeing the colormaps used in the scientific community.

[2020-02-01 16:05] malmaud commented on #1955
Yes, I can review.

[2020-02-01 17:36] arfon commented on #1608
:wave: @kellieotto, @jjmcnelis, in [their most recent comment](https://github.com/openjournals/joss-reviews/issues/1608#issuecomment-559885510) it sounds like @Ji-Zhang has simplified some of the requirements here.

Do you think you could both take another look at this software again and confirm you're able to install it now? If at all possible, I'd love to get this review wrapped up in the next c

[2020-02-01 17:47] arfon commented on #2051
@SirSharpest - could you please truncate your bibtex file to only include the entries that this paper actually cites?

[2020-02-01 18:01] arfon commented on #2057
@whedon invite @arfon as editor

[2020-02-01 18:01] whedon commented on #2057
@arfon has been invited to edit this submission.

[2020-02-01 18:01] arfon commented on #2057
@whedon assign @arfon as editor

[2020-02-01 18:01] whedon commented on #2057
OK, the editor is @arfon

[2020-02-01 18:02] arfon commented on #2057
@pstrk - many thanks for your submission to JOSS. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-02-01 18:31] SirSharpest commented on #2051
@whedon generate pdf

[2020-02-01 18:31] whedon commented on #2051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02051/joss.02051/10.21105.joss.02051.pdf)

[2020-02-01 20:26] phillima commented on #1960
Hi @danieledipompeo, once again, thank you for your comments. I have generated a new version of the ASniffer tool (2.2.0) that aims to address your review. Please, feel free to make new comments and suggestions.

- I have added this missing dependency to the pom.xml file, to make the ASniffer compatible with the Java version 11 and higher.

- The missing dependency was added!

- In the Readme file

[2020-02-01 22:13] Kevin-Mattheus-Moerman commented on #2051
@whedon invite @drvinceknight as editor

[2020-02-01 22:13] whedon commented on #2051
@drvinceknight has been invited to edit this submission.

[2020-02-01 22:14] Kevin-Mattheus-Moerman commented on #2052
@NicoRenaud can you check the potentially missing DOI :point_up:, thanks

[2020-02-01 22:17] Kevin-Mattheus-Moerman commented on #2052
@whedon invite @lpantano as editor

[2020-02-01 22:17] whedon commented on #2052
@lpantano has been invited to edit this submission.

[2020-02-01 22:36] Kevin-Mattheus-Moerman commented on #2054
@sap218 thank you for your submission. After reviewing your repository and the software functionality the JOSS editorial board has determined that although this work appears to be useful, it is at present not acceptable for publication in JOSS. In particular it is classified as a "minor utility" package (see our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submis

[2020-02-01 22:37] Kevin-Mattheus-Moerman commented on #2054
@whedon reject

[2020-02-01 22:37] whedon commented on #2054
Paper rejected.

[2020-02-01 22:37] #2054 closed

[2020-02-01 23:00] Kevin-Mattheus-Moerman commented on #2047
@nicoguaro this software certainly seems useful to me but for JOSS a clear research application and functionality beyond that of a minor utility package is required (see our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements)). Would you be able to elaborate on why you feel this work, which appears to be a type of interface to SymPy, classifies

[2020-02-02 00:58] lpantano commented on #2052
@whedon assign @lpantano as editor

[2020-02-02 00:58] whedon commented on #2052
OK, the editor is @lpantano

[2020-02-02 13:34] tresoldi commented on #1986
@whedon generate pdf

[2020-02-02 13:35] whedon commented on #1986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01986/joss.01986/10.21105.joss.01986.pdf)

[2020-02-02 17:05] gkthiruvathukal commented on #2001
@mado89 Sorry for the delay. I have been working on a manuscript and finally finished drafting the last chapter. I'm getting this started right away.

[2020-02-02 17:07] gkthiruvathukal commented on #2001
@whedon assign @mado89 as reviewer

[2020-02-02 17:07] whedon commented on #2001
OK, @mado89 is now a reviewer

[2020-02-02 17:09] gkthiruvathukal commented on #2001
@neurons or @bzz Are you willing to contribute a review for this JOSS submission? I really need a second reviewer so we can start review.

[2020-02-02 17:12] nikolase90 commented on #2027
Hi @frycast; https://github.com/NorskRegnesentral/shapr/pull/174 and https://github.com/NorskRegnesentral/shapr/pull/177 are now merged into master. Let us know if you have any further comments, and thanks for the nice comment about the package!

[2020-02-02 17:13] gkthiruvathukal commented on #2007
@ckoerber Just checking on the status to address the review feedback. The next step will be for the reviewers to confirm that the feedback has been addressed to their satisfaction. Then I will be in a position to make my recommendation.

[2020-02-02 17:13] gkthiruvathukal commented on #1752
@KingZee Just checking in. Let us know when you are ready for us to take another look. Ok?

[2020-02-02 17:39] ckoerber commented on #2007
Hello @gkthiruvathukal, we anticipate to respond in detail at the beginning of next week.

[2020-02-02 21:00] matbesancon commented on #1912
As an update, only https://github.com/kirui93/ScenTrees.jl/issues/15 remains on the documentation side, I'll do a last pass on the paper but it starts to all look good to me, @juliohm do you have something more?

[2020-02-02 21:52] juliohm commented on #1912
Everything is good to go on my side @matbesancon , thanks for pinging.

[2020-02-02 22:10] JesperDramsch commented on #1969
I apologize for the delay. I had started my review early January, but life got in the way. I know this is frustrating, so I'll do my best to be as helpful as I can.

My main problem reviewing the package at the moment, is grasping the scope of the package and working through the documentation and API.

## Scope
The paper and description say the package is "for depth alignment and segmentation" and

[2020-02-02 22:29] kirui93 commented on #1912
@whedon generate pdf

[2020-02-02 22:30] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2020-02-03 00:02] frycast commented on #2027
Thank you @nikolase90 . I've ticked off my review checklist, and now we wait to hear from @expectopatronum .

[2020-02-03 00:50] 1313e commented on #2004
@mbobra I have just fixed the placement of Figure 2 in the paper.
Shall I make a GitHub release for v1.2.2, which automatically makes a Zenodo archive, and post the DOI here?

[2020-02-03 01:52] rouson commented on #1555
@labarba  This is a very impressive step forward.  I recommend acceptance.  I just installed FEST-3D on macOS and had a much better experience with the process this time.  After I issued the one simple installation command provided in the repository's README.md, the installation completed without problem, including running and passing all 25 unit tests and all 3 integration tests.  Ease of install

[2020-02-03 02:24] kbarnhart commented on #1969
@JesperDramsch thanks for the comments here and for your work reviewing this contribution. I would recommend that you create at least two (maybe three) issues in the main project repository. If you could tag this issue (openjournals/joss-reviews/issues/1969) it will help create a link between the changes in the main repository and this review.

I would make a separate issue for each major concern

[2020-02-03 02:24] shah314 commented on #1843
@HaoZeke I have made the changes you requested (I think). Any further thoughts?

[2020-02-03 02:25] shah314 commented on #1843
@ProbShin I see you have worked with ColPack but this code is in Java. Any questions on the implementation or the programming language?

[2020-02-03 03:40] arokem commented on #1959
Hi @jasmainak: have you had a chance to address these comments? In particular, I tend to agree with @professoralkmin's comment that more detail is needed in the example usage. These include brief introductions that provide context, but there is not enough detail to understand the various steps taken and to understand the outputs. I'd suggest adding these details.

[2020-02-03 03:46] arokem commented on #1998
I apologize for how long this has taken. Let me try finding alternative reviewers.

[2020-02-03 03:46] arokem commented on #1998
@nicoguaro : would you be willing to review this article for JOSS?