[2020-08-11 15:40] whedon commented on #2490
OK, @vissarion is now a reviewer

[2020-08-11 15:41] poulson commented on #2490
@whedon add @matbesancon as reviewer

[2020-08-11 15:41] whedon commented on #2490
OK, @matbesancon is now a reviewer

[2020-08-11 15:41] poulson commented on #2490
@whedon start review

[2020-08-11 15:41] whedon opened #2564 "[REVIEW]: pyOptSparse: A Python framework for large-scale constrained nonlinear optimization of sparse systems"
**Submitting author:** @nwu63 (<a href="http://orcid.org/0000-0001-8856-9661">Neil Wu</a>)
**Repository:** <a href="https://github.com/mdolab/pyoptsparse/" target ="_blank">https://github.com/mdolab/pyoptsparse/</a>
**Version:** v2.2.1
**Editor:** @poulson
**Reviewer:** @jgoldfar, @vissarion, @matbesancon
**Archive:** <a href="https://doi.org/10.5281/zenodo.4110792" target="_blank">10.5281/zenodo.

[2020-08-11 15:41] whedon commented on #2490
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2564.

[2020-08-11 15:41] #2490 closed

[2020-08-11 15:41] whedon commented on #2564
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jgoldfar, @vissarion, @matbesancon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2020-08-11 15:41] whedon commented on #2564
PDF failed to compile for issue #2564 with the following error:

 Can't find any papers to compile :-(

[2020-08-11 15:42] poulson commented on #2564
:warning: As noted by @vissarion and @matbesancon in the pre-review, both of them expect to be unable to start their review until September. :warning:

[2020-08-11 15:43] kbarnhart commented on #2407
A follow up regarding what to do about the Ralph et al. (2011) DOI. Based on consultation with the rest of the JOSS editorial board, we think the best thing to do is nothing. The citation information provided in the .bib file is correct and the paper is real. I don't know exactly why the DOI doesn't work, but it is clearly the correct DOI.

[2020-08-11 15:43] poulson commented on #2564
@whedon generate pdf from branch paper

[2020-08-11 15:43] whedon commented on #2564
[code]

[2020-08-11 15:44] kthyng commented on #2425
@gmaze how are your responses to the reviewers going along?

[2020-08-11 15:44] whedon commented on #2564
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02564/joss.02564/10.21105.joss.02564.pdf)

[2020-08-11 15:45] kthyng commented on #2341
@pfeiffea How are your changes coming along? I think the reviews are waiting on you currently.

[2020-08-11 15:46] kthyng commented on #2497
Hi @lnferris I have heard from @chadagreene that he won't be able to review your submission, unfortunately. I will remove him as a reviewer and search for another reviewer.

In the meantime, a ping to @castelao to keep this on his radar!

[2020-08-11 15:47] danielskatz commented on #2561
Unfortunately, these are editors, not reviewers.  We will find an editor.  You should suggest reviewers.   [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-08-11 15:48] kthyng commented on #2497
Hi @kakearney! @chadagreene suggested that you would be a good reviewer for this package. Are you interested in reviewing this for JOSS? The review process is of the software itself and a short paper, and since this is already the review issue on github, you can see the checklist-based approach above. You can also get more information here: https://joss.readthedocs.io/en/latest/reviewer_guidelines

[2020-08-11 15:52] lnferris commented on #2497
@kthyng it looks like @castelao isn't an assignee, are they supposed to be assigned?

[2020-08-11 15:54] kthyng commented on #2497
@lnferris He might not have accepted the invitation to review yet. I'll invite again just in case.

[2020-08-11 15:54] kthyng commented on #2497
@whedon re-invite @castelao as reviewer

[2020-08-11 15:54] whedon commented on #2497
The reviewer already has a pending invite.

@castelao please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-11 16:00] cokelaer commented on #2561
I believe those reviewers (non exhaustive list of users) should be relevant:

fabianomenegidio, daissi, eteq, jeanmdavidson, smarkel

[2020-08-11 16:59] ali-ramadhan commented on #2018
@whedon generate pdf from branch joss-paper

[2020-08-11 16:59] whedon commented on #2018
[code]

[2020-08-11 17:00] whedon commented on #2018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02018/joss.02018/10.21105.joss.02018.pdf)

[2020-08-11 17:11] skhilton commented on #2353
@csoneson: @huddlej and I finished addressing this round of reviewer comments. We are happy to go back and re-open discussions/issues where appropriate.

[2020-08-11 17:25] LukasAdamowicz commented on #2449
@whedon generate pdf

[2020-08-11 17:25] whedon commented on #2449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02449/joss.02449/10.21105.joss.02449.pdf)

[2020-08-11 17:26] LukasAdamowicz commented on #2449
Hi @galessiorob,
After a discussion with my co-author, we decided instead to remove the citation to the pending paper.

Let me know if there is anything else to do now, at this point.

[2020-08-11 17:32] ali-ramadhan commented on #2018
@whedon generate pdf from branch joss-paper

[2020-08-11 17:32] whedon commented on #2018
[code]

[2020-08-11 17:32] whedon commented on #2018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02018/joss.02018/10.21105.joss.02018.pdf)

[2020-08-11 17:36] peanutfun commented on #2165
@szhorvat, can we perhaps give you any assistance for your review?

[2020-08-11 17:37] LukasAdamowicz commented on #2449
@whedon generate pdf

[2020-08-11 17:38] whedon commented on #2449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02449/joss.02449/10.21105.joss.02449.pdf)

[2020-08-11 17:52] cadop commented on #2404
@trallard  Thanks for moving all these things along.

I made a release of the software https://github.com/cadop/seg1d/releases/tag/v0.1.2

and made a zenodo upload:
https://zenodo.org/record/3979649#.XzLab55KiUk

DOI 10.5281/zenodo.3979649

Is this all correct?

Thanks

[2020-08-11 17:54] cadop commented on #2404
@AKuederle  @ejhigson  Thank you for the helpful feedback and improvements!

[2020-08-11 19:21] pfeiffea commented on #2341
@kthyng Changes are nearly complete-- we're just waiting for them to be published in the newest release of landlab/landlab. We should have a new draft to you all in the next few days.

[2020-08-11 19:26] jonwong12 commented on #2372
@rram84 I just pulled a fresh copy and was able to verify that it works! It must have been some leftover cmake files that were causing the error.

[2020-08-11 19:51] kakearney commented on #2497
Yes, I can review this, and should be able to meet the 3-4 week deadline.

-Kelly

On Tue, Aug 11, 2020 at 8:49 AM Kristen Thyng <notifications@github.com>
wrote:

[2020-08-11 20:48] usethedata commented on #2483
@crangelsmith -- Thanks for the comment.  I'm thinking I'll do the second review, as I'd like to dig into this work more carefully than I have so far, as it relates to some of what I do in my day job.

[2020-08-11 21:09] usethedata commented on #2531
Sorry for the delays.  I've got a couple of requests for reviewers out.

[2020-08-11 21:11] fboehm commented on #2474
@craddm and @janfreyberg - just wanted to check in to see how the review is going. Please let me know if there's something that I can do to help. Thanks again!!

[2020-08-11 21:15] fboehm commented on #2402
@anwarbio thank you for the updates! @homonecloco and @tomsing1 - Thanks for your work with the reviews. If you find that you can't yet check some of the boxes in the checklist, please continue to suggest improvements. Please let me know if I can help with anything. Thanks again!!

[2020-08-11 21:18] usethedata commented on #2553
@perdigao1 -- Do you have any suggestions for reviewers.  I've looked through the list of people who've volunteered to review for JOSS, and I can only find one with VB experience, and the domain is way out of field for them.  I'm asking around through my colleagues who do microscopy, but not getting much.  Almost all of the people I know who do work in this domain are Mac users.

[2020-08-11 21:28] kthyng commented on #2497
@kakearney awesome! I am going to do a reviewer switcharoo on this issue above. I will invite you as a reviewer after a few steps and let me know if you don't have permission to edit the checklist after you accept the invitation (which should be emailed to you).

[2020-08-11 21:29] kthyng commented on #2497
@whedon remove @chadagreene as reviewer

[2020-08-11 21:29] whedon commented on #2497
OK, @chadagreene is no longer a reviewer

[2020-08-11 21:29] kthyng commented on #2497
@whedon add @kakearney as reviewer

[2020-08-11 21:29] whedon commented on #2497
OK, @kakearney is now a reviewer

[2020-08-11 21:31] kthyng commented on #2497
@whedon add @castelao as reviewer

[2020-08-11 21:31] whedon commented on #2497
OK, @castelao is now a reviewer

[2020-08-11 21:31] kthyng commented on #2497
@whedon invite @kakearney as reviewer

[2020-08-11 21:31] whedon commented on #2497
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-11 21:32] kthyng commented on #2497
@whedon re-invite @kakearney as reviewer

[2020-08-11 21:32] whedon commented on #2497
The reviewer already has a pending invite.

@kakearney please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-11 21:32] kthyng commented on #2497
@whedon remove @castelao as reviewer

[2020-08-11 21:32] whedon commented on #2497
OK, @castelao is no longer a reviewer

[2020-08-11 21:33] kthyng commented on #2497
@whedon add @castelao as reviewer

[2020-08-11 21:33] whedon commented on #2497
OK, @castelao is now a reviewer

[2020-08-11 22:06] kthyng commented on #2497
things should be good to go, let me know if otherwise.

[2020-08-11 23:15] teuben commented on #2559
If it's that general a filter, why isn't this just a table?  The "particle" is then a row in the table, it has many attributes, and you can filter them.   Is that description as accurate?  I guess I'm asking, what make your row a particle, and not a row in a table. Are there other properties linking the rows?

[2020-08-11 23:28] homonecloco commented on #2402
@fboehm , can you produce the PDF again, so I can check the changes?

[2020-08-12 00:14] Xunius commented on #2407
[this commit](https://github.com/ihesp/IPART/commit/20b5f349c100f9577b494c8e0cf995fbede80a8d) fixed the 3 invalid DOIs, added the missing DOI (10.1109/mcse.2011.37) for numpy, and deleted the record for _Statistical methods in the atmospheric sciences_ which is not referenced in paper.

[2020-08-12 00:27] Xunius commented on #2407
@whedon generate pdf

[this commit](https://github.com/ihesp/IPART/commit/20b5f349c100f9577b494c8e0cf995fbede80a8d) fixed the 3 invalid DOIs, added the missing DOI (10.1109/mcse.2011.37) for numpy, and deleted the record for _Statistical methods in the atmospheric sciences_ which is not referenced in paper.

[2020-08-12 00:28] whedon commented on #2407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf)

[2020-08-12 00:37] bstabler commented on #2409
@whedon remind @mikejohnson51 in 1 day

[2020-08-12 00:37] whedon commented on #2409
Reminder set for @mikejohnson51 in 1 day

[2020-08-12 00:47] lydialucchesi commented on #2409
Following is an open-access link to the second reference in the paper: https://publications.csiro.au/publications/#publication/PIcsiro:EP168206. Best, Lydia

[2020-08-12 02:05] conradsnicta commented on #2131
@poulson Apologies for the late response. Been very busy.  Based on the contents of the paper draft, I currently don't have sufficient knowledge in the applicable areas (SfM and SLAM).

[2020-08-12 02:18] fboehm commented on #2402
@whedon generate pdf

[2020-08-12 02:19] whedon commented on #2402
PDF failed to compile for issue #2402 with the following error:

 pandoc-citeproc: reference homonecloco not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.331 }

Looks like we failed to compile the PDF

[2020-08-12 02:22] fboehm commented on #2402
@anwarbio - I failed to produce the pdf. It looks like there's a problem with pandoc-citeproc. By chance did you use the text  "@homonecloco" somewhere in your document? If so, you might need to specify that you aren't intending to cite the key "homonecloco" in your text. You might be able to do this by preceding the at sign by two backslashes, but I could be mistaken on that.

[2020-08-12 02:36] tbrown122387 commented on #2559
If I understand you correctly @teuben it isn't really a table. That analogy wouldn't work if each sample had dimension greater than 1, but more importantly, you're not really adding "rows."

The primary bits of data in each class are two "rows" (`std::array`s). One stores samples that target the filtering distribution (I also suspect we're not using the same definition of that word, too), and the

[2020-08-12 04:27] castelao commented on #2497
Hi @kthyng , how do I update my review checklist? Was I supposed to have editing permissions on the very first post?

[2020-08-12 06:19] matbesancon commented on #2564
@whedon remind @matbesancon in 3 weeks

[2020-08-12 06:19] whedon commented on #2564
I'm sorry @matbesancon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-08-12 06:49] afrubin commented on #2353
@csoneson Looks great to me!

@skhilton I did find https://github.com/dms-view/dms-view.github.io/issues/179 when was checking over the changes, but that should be easy to handle.

The manuscript cites MaveVis using its Zenodo DOI, but as it was initially described in Esposito et al. (the MaveDB paper) you could use that citation instead if you prefer.

[2020-08-12 07:03] arfon commented on #2402
I can fix the issue here folks, looks like Pandoc is getting confused with the reviewer handles and citations. Pls hold...

[2020-08-12 07:49] csoneson commented on #2353
Thanks @afrubin!

[2020-08-12 07:57] eloisabentivegna commented on #2513
@bonh, thanks for your questions about the reference list box -- please feel free to leave it unticked.

Regarding the code tests, we only really expect reviewers to check the small-scale examples (as a rough rule of thumb, those that can be executed on a reasonable laptop). For all the other tests, please simply check that the results appear sensible and generally consistent.

Thanks for all the

[2020-08-12 08:07] kerkelae commented on #2527
@grlee77 and @DARSakthi, thank you for the feedback. We have made a number of changes to the manuscript and the documentation. Please see the points below.

- We made the small fixes and changes suggested by @grlee77. We also have no particular preference for the word "synthesize" which we replaced by "generate". The updated manuscript contains the changed title but I am not sure how to change the

[2020-08-12 08:07] kerkelae commented on #2527
@whedon generate pdf

[2020-08-12 08:08] whedon commented on #2527
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02527/joss.02527/10.21105.joss.02527.pdf)

[2020-08-12 08:11] rram84 commented on #2372
@jwong12
Thank you for the review Jonathan!

[2020-08-12 09:15] gmaze commented on #2425
Hi @kthyng
I've taken into account all reviewers comments (thank you @DamienIrving and @dhruvbalwada ) and basically finished a [more complete contribution guidelines on the documentation webpage](https://argopy.readthedocs.io/en/joss-paper/contributing.html). I've also incorporated all edits to the manuscript.
So, I guess I'm done do address reviews and the JOSS-paper branch is now up to date and

[2020-08-12 10:48] arfon commented on #2402
@whedon generate pdf

[2020-08-12 10:48] whedon commented on #2402
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02402/joss.02402/10.21105.joss.02402.pdf)

[2020-08-12 10:51] joannawolthuis commented on #2410
Just checking in, thanks for your patience! I have opened some more issues. The installation works well now, just have some issues on startup in terms of example datasets etc. (opened an issue on their github)
Just another question - they are currently dealing with some bugs, as one always has with a tool, new updates will always add new bugs - should i only check off the mark for expected/promise

[2020-08-12 10:53] joannawolthuis commented on #2410
Oh, one more - is there a supplemental info or something for this paper? Otherwise they have no comparison at all with other tools/state of the art, should I address that on their Github page or through another channel?

[2020-08-12 10:53] joannawolthuis commented on #2410
@lpantano, whoops forgot to tag you  :)

[2020-08-12 11:03] antviro commented on #2480
I have already my review report:
- I think it is a good idea to publish a BEM code in Python, despite there are already some free software which include such method (like the ones cited in the paper). A python BEM package allows its use in teaching and thesis which is interesting, moreover, this package also allows propellers to be simulated.
- Regarding its use in Wind Power, I think it would be

[2020-08-12 11:09] perdigao1 commented on #2553
Dear Dr. Wilson,
Thank you for your interest in the article I submitted. Sorry that you are having difficulty finding a suitable person to review my article.
I can perhaps provide some suggested names of people who can have a look at the software, in the field of molecular visualisation or scanning probe microscopy, but I am pretty sure they have not volunteered to review for JOSS, and I don't kno

[2020-08-12 11:16] usethedata commented on #2553
@perdigao1 -- That would be helpful, particularly if you know anyone else working in VB.  I, and a few others, have used it in the distant (15+ years) past.  Easiest way to do that and protect privacy is if you send the info to my work email address -- wilsonbe@ornl.gov

[2020-08-12 11:48] fboehm commented on #2402
Thanks, @arfon !

[2020-08-12 12:02] lpantano commented on #2560
@lshep, @Kayla-Morrell, are you interested in reviewing this software? Some information if you are new to JOSS system: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks!

[2020-08-12 12:05] lpantano commented on #2410
@joannawolthuis, if they don't point to anything else in the paper, there is not. You can address this by an issue in their repo and you can add that is related to this review. Thanks!

[2020-08-12 12:13] ml-evs commented on #2563
Tagging the other author here, @ajm143.

[2020-08-12 13:03] joannawolthuis commented on #2410
@lpantano  Alright, thanks, opened an issue! And for their bugfixing, I'll just wait until they get it all working properly and then check the box, is that OK? :)

[2020-08-12 13:57] diehlpk commented on #2559
Hi @jordigh @hausen @pragyansmita @conradsnicta @dvalters @abhishekbajpayee @jmbr @Volkerschmid  would you be interested in reviewing this paper for JOSS?

[2020-08-12 14:00] EiffL commented on #2505
I've just finally found some free time, doing this now.

[2020-08-12 14:03] dawbarton commented on #2331
Yes, I can do it. Hope to take a look tomorrow or Friday; early next week at the latest.

[2020-08-12 14:07] lpantano commented on #2410
Absolutely!

[2020-08-12 14:14] dfm commented on #2505
@whedon re-invite @EiffL as reviewer

[2020-08-12 14:14] whedon commented on #2505
OK, the reviewer has been re-invited.

@eiffl please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-12 15:02] usethedata commented on #2531
@whedon add @bradyrx as reviewer

[2020-08-12 15:02] whedon commented on #2531
OK, @bradyrx is now a reviewer

[2020-08-12 15:16] xillig commented on #2507
Hi @sara-02 and @aozorahime,
we uploaded an updated version of our paper, embedding your suggestions.

[2020-08-12 15:21] EiffL commented on #2505
@janfb just making sure I resolve all authors correctly, can you confirm that @meteore is in fact Alvaro ? :-)

[2020-08-12 15:26] teuben commented on #2559
@tbrown122387 I think my background is playing havoc with me, since I do (astrophysical) N-body simulations.  Reading on one particular wikipedia page particle was defined as a candidate solution, and I could see that if you have a swarm of solutions and want to find the optimal one, filtering is one way to weed out the bad cases. So if it's the nomenclature, I can begin to understand your lingo.

[2020-08-12 15:30] meteore commented on #2505
Hi François, I can confirm I am Álvaro ;). I added my name on my [GitHub profile page](https://github.com/meteore) now.

[2020-08-12 15:31] EiffL commented on #2505
Thank you :-D

[2020-08-12 15:37] sara-02 commented on #2507
@whedon generate pdf

[2020-08-12 15:37] whedon commented on #2507
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02507/joss.02507/10.21105.joss.02507.pdf)

[2020-08-12 15:39] merrygoat commented on #2381
Thank you yes - we have added those paper changes [here](https://github.com/LightForm-group/xrdfit/commit/72f923164bd66fb82eb92ae42f49ace08bd20053) and [here](https://github.com/LightForm-group/xrdfit/commit/434660e240a52a48e1e18f10e2fde18d184be9ed).

We are just finishing up the last of the issues the reviewers raised, and adding a little more documentation for the data preparation step and we sh

[2020-08-12 16:13] jmbr commented on #2559
@diehlpk I can't this time around but I remain interested in reviewing for JOSS in the future.

[2020-08-12 16:25] kthyng commented on #2497
@whedon re-invite @castelao as reviewer

[2020-08-12 16:25] whedon commented on #2497
OK, the reviewer has been re-invited.

@castelao please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-12 16:26] kthyng commented on #2497
@castelao you can click on the link above. 👆

[2020-08-12 16:26] EiffL commented on #2505
Everything looks great, install is a breeze, runs on colab, nice documentation, nice test suite, very useful package!
Very happy to accept, and many thanks to the team for this tool :-)

[2020-08-12 16:37] castelao commented on #2497
@kthyng , it's working. Thanks!

[2020-08-12 17:20] cranmer commented on #2505
Hello,

Sorry for the delay, a few unexpected things fell on me.

I have time now, but my invitation has expired.

Kyle

[2020-08-12 17:25] dfm commented on #2505
@whedon re-invite @cranmer as reviewer

[2020-08-12 17:25] whedon commented on #2505
OK, the reviewer has been re-invited.

@cranmer please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-12 17:26] dfm commented on #2505
No worries - that's where we all are these days! You should have a new invitation now.

[2020-08-12 17:44] tbrown122387 commented on #2559
@teuben yes it would. I myself have a hard time understanding any of the search results obtained from my searching "N-body simulations." I just linked in the Wiki page in the first sentence.

[2020-08-12 17:46] cranmer commented on #2505
The check list has:

I wasn't sure where to find what is considered the “paper authors” at first, and then I found the PDF for the article proof.

Misc feedback for JOSS would be to have link to the PDF in the checklist. (Or maybe it would normally be there and it just failed for some reason).

[2020-08-12 17:49] cranmer commented on #2505
I know that Jakob H. Macke is part of this effort and belongs on author list (GitHub organization is Mackelab) but noting it since he doesn't show up on contributor list.

[2020-08-12 18:46] cranmer commented on #2505
Ok, I'm basically done. I don't know if I needed to explicitly run all the tests, they take a while. I did install the environment locally and can confirm that the tests are running.

The package is very nice, the interface to simulators seems natural, and I was able to run tutorial examples! The examples themselves are well chosen.

I created a few issues recommending improvements in documentatio

[2020-08-12 19:24] rafmudaf commented on #2480
Sorry for the hold up. I'm going through the review now and will continue to work on it through the week.

[2020-08-12 19:50] dfm commented on #2502
@sambit-giri has kindly agreed to act as a reviewer. Thanks!

Note that Sambit has previously co-authored with two authors of this submission (Grieg and Mesinger) as part of a larger collaboration, but we believe that this will not affect his ability to provide an impartial review so I don't think that this should present a conflict of interest. @steven-murray please let me know (here or via email

[2020-08-12 19:51] dfm commented on #2502
@whedon assign @sambit-giri as reviewer

[2020-08-12 19:51] whedon commented on #2502
OK, @sambit-giri is now a reviewer

[2020-08-12 19:52] cmbiwer commented on #2484
Hi, I think I need a new invitation. When I try to accept the invitation I get:
[code]

[2020-08-12 20:06] TomGoffrey commented on #2182
@whedon generate pdf from branch origin/paper

[2020-08-12 20:06] whedon commented on #2182
[code]

[2020-08-12 20:07] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-08-12 20:38] steven-murray commented on #2502
@dfm I know @sambit-giri but have never published with him. I am more than happy for him to review. Thanks!

[2020-08-12 20:49] sadielbartholomew commented on #2407
Thanks for asking about this and reporting back, @kbarnhart. That sounds like a sensible decision to me.

[2020-08-12 20:49] sadielbartholomew commented on #2407
@whedon check references

[2020-08-12 20:50] whedon commented on #2407
[code]

[2020-08-12 21:02] DARSakthi commented on #2527
Is the test script you linked to available in the repo too? I can't seem to find it. If not, I think it could be a good thing to include from an end - user stand point, so as to evaluate whether to use the software or not.

With the most recent round of changes, I am happy to recommend the paper for publication. Well done!

[2020-08-12 21:26] sadielbartholomew commented on #2407
Great, thanks @Xunius the references are all good.

Though, if I may be pedantic, I've noticed that the reference for ``networkx`` that is correct in the ``.bib`` is converted to lower case by BibTeX and therefore on the rendered paper it goes from having the correct capitalisation, as in:

https://github.com/ihesp/IPART/blob/20b5f349c100f9577b494c8e0cf995fbede80a8d/joss/paper.bib#L111

to being a

[2020-08-12 21:55] TomGoffrey commented on #2554
Looking at the paper I have a couple of general comments:

1. I think you should list all the available grids, with the appropriate citations, as you've done on in the online documentation. A table format might be appropriate (name, size, description + citation)?
2. The included figures would be a lot more useful if you included a description of what they are and how they were generated using desk

[2020-08-12 22:03] Deech08 commented on #2554
@arfon I'm having trouble getting "edit" access to the checklist. The link to accept the invitation seemed to have expired on my end (sorry I didn't get around to doing that sooner).

[2020-08-12 22:05] s-goldman commented on #2554
@TomGoffrey This works fine for me. Thanks for the feedback so far. @Deech08 I hope the defense went well!

[2020-08-12 22:11] arfon commented on #2554
@whedon re-invite @Deech08 as reviewer

[2020-08-12 22:11] whedon commented on #2554
OK, the reviewer has been re-invited.

@deech08 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-12 22:11] arfon commented on #2554
No problem. These unfortunately expire these days but you should be able to accept the invite again now ☝️

[2020-08-12 22:51] TomGoffrey commented on #2554
@s-goldman Could I also check if desk has been used in any previous publications? If so, these should be listed as per the guidance on paper contents, and would obviously strengthen the statement of need.

If it hasn't been used, that's certainly not a problem, but some discussion of how this work fits in with the wider context would be helpful. For example, are there large data sets that could be

[2020-08-12 22:51] Sulstice commented on #1992
@csoneson

 Version: 1.1.8
 DOI: 10.5281/zenodo.3981540

[2020-08-13 00:21] Xunius commented on #2407
@whedon generate pdf

@sadielbartholomew Thanks. PR https://github.com/ihesp/IPART/pull/11 merged.

[2020-08-13 00:22] whedon commented on #2407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf)

[2020-08-13 00:37] whedon commented on #2409
:wave: @mikejohnson51, please update us on how your review is going.

[2020-08-13 01:52] majensen commented on #2556
Thanks @amoeba. The license is a good catch- @jdbaugher, this is a hard requirement for JOSS; can you review [Open Source Initiative-approved licenses](https://opensource.org/licenses) to see if you would be willing to apply one of these? If there are special circumstances to discuss, please reach out to me directly (maj \-dot\- fortinbras \-at
- gmail \-dot\- com).

As for scholarly effort, I am

[2020-08-13 02:02] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-08-13 02:03] whedon commented on #2182
[code]

[2020-08-13 02:03] whedon commented on #2182
PDF failed to compile for issue #2182 with the following error:

 Error producing PDF.
! Package amsmath Error: \tilde allowed only in math mode.

See the amsmath package documentation for explanation.
Type  H <return>  for immediate help.
 ...

l.396 ...a_D\), \(\tilde{m} = m / m_e\), \tilde{q}

Looks like we failed to compile the PDF

[2020-08-13 02:06] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-08-13 02:06] whedon commented on #2182
[code]

[2020-08-13 02:07] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-08-13 03:58] rram84 commented on #2372
@Kevin-Mattheus-Moerman
I think all three reviews have been completed.

[2020-08-13 04:21] miketuri commented on #2183
Thank you for taking a look at this again @victorvalgenti.  I have just added a new version (currently 1.1.3) to the repository to add a README/walk-through for the files in the examples/ directory.  I have also added a few more files to the examples/ directory to allow users to test running the scripts on the netlists there.  If you (or @mzszym and @VivianePons) have any more questions or recomme

[2020-08-13 07:06] mikldk commented on #2388
@whedon generate pdf

[2020-08-13 07:07] whedon commented on #2388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02388/joss.02388/10.21105.joss.02388.pdf)

[2020-08-13 07:08] mikldk commented on #2388
@whedon check references

[2020-08-13 07:08] whedon commented on #2388
[code]

[2020-08-13 07:15] mikldk commented on #2388
Comments:

* A missing space before reference here: "supported by fst package(Klik, 2020)."
* When I go to <https://github.com/hope-data-science/tidyfst/graphs/contributors> I also only see @hope-data-science (Tian-Yuan Huang) contributing. Also, in the paper under "Acknowledgement" a singular "me" is used - yet the paper has two authors.  Can you please here in this review thread briefly describe

[2020-08-13 08:23] kaibioinfo commented on #2411
I'm happy with the revision.

[2020-08-13 08:35] TeroFrondelius commented on #2520
@whedon generate pdf from branch joss

[2020-08-13 08:35] whedon commented on #2520
[code]

[2020-08-13 08:35] whedon commented on #2520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02520/joss.02520/10.21105.joss.02520.pdf)

[2020-08-13 08:41] stheid commented on #2435
@gonsie Is there anything we can do to continue the review progress.

@dhhagan maybe can you send out a new reminder?

[2020-08-13 08:59] csoneson commented on #1992
Thanks. Could you please fix the metadata of the Zenodo archive so that it has the same title and author list as the JOSS paper.
Also, the paper says that "it will now be released with version 1.1.0", while the current version is 1.1.8 - I would suggest changing the formulation in the paper to avoid confusion.

[2020-08-13 09:00] teamPSG commented on #2377
Thanks @oliviaguest then I'll go with the solution I have for current affiliation.

@Emma-k-ward please let me know if I can do anything further to help you proceed with the review process. Looking back at the comments I submitted my responses almost 3 weeks ago...

[2020-08-13 09:02] TeroFrondelius commented on #2520
This is a well-written software/documentation/paper. I have raised a few minor issues which all have been addressed promptly by the authors. Therefore, I recommend accepting this paper. At the end, I want to thank you for the interesting experience of open/transparent peer-review.

[2020-08-13 09:54] hope-data-science commented on #2388
Response to comments:

•A missing space before reference here: "supported by fst package(Klik, 2020)."
**Reply**: Corrected as suggested.

•When I go to https://github.com/hope-data-science/tidyfst/graphs/contributors I also only see @hope-data-science (Tian-Yuan Huang) contributing. Also, in the paper under "Acknowledgement" a singular "me" is used - yet the paper has two authors. Can you please

[2020-08-13 09:54] hope-data-science commented on #2388
@whedon generate pdf

[2020-08-13 09:54] whedon commented on #2388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02388/joss.02388/10.21105.joss.02388.pdf)

[2020-08-13 12:41] csoneson commented on #2353
@whedon generate pdf

[2020-08-13 12:42] whedon commented on #2353
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02353/joss.02353/10.21105.joss.02353.pdf)

[2020-08-13 13:34] lorenanicole commented on #2220
@jonathanblaney thanks for the additional reviewer.

[2020-08-13 13:35] lorenanicole commented on #2220
Hi @alexdma, circling back! would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html!

[2020-08-13 13:41] lorenanicole commented on #2316
Hi hi hi @blsqr thanks for reaching out! Checking in on the status now, thanks @arfon for confirming the DOI status.

[2020-08-13 13:45] lorenanicole commented on #2316
@blsqr tonight I'll review the paper again and update when I have done so. Provided, minus the DOI noted issues, all is well there I'll move towards accepting for final review.

[2020-08-13 13:48] blsqr commented on #2316
@lorenanicole Perfect, thanks for the update! 😊

[2020-08-13 13:53] lorenanicole commented on #2316
Of course!

[2020-08-13 14:01] PetrKryslUCSD commented on #2520
I am satisfied that the software and the paper meet the requirements for publication (with the exception of the symbols in the code, which are still not typeset correctly). I recommend publication, provided the typesetting errors can be resolved.

[2020-08-13 14:28] s-goldman commented on #2554
The method has been used in each of my previous first author publications and [Orosz et al. 2017](https://ui.adsabs.harvard.edu/abs/2017AJ....153..119O/abstract), but not mentioned explicitly by name. It was also mentioned in [Nanni et al. 2019](https://ui.adsabs.harvard.edu/abs/2019MNRAS.487..502N/abstract), but results from the code were not used. I'm not sure if these count?

I have used the pa

[2020-08-13 14:53] dhhagan commented on #2479
@whedon remind @RCHG in 1 day

[2020-08-13 14:53] whedon commented on #2479
Reminder set for @RCHG in 1 day

[2020-08-13 15:02] dhhagan commented on #2435
Hi @stheid - I will send another reminder to @gonsie but otherwise will give them one more week to complete their review within the six-week period.

[2020-08-13 15:24] adam-m-jcbs commented on #2260
Hi all :wave: !

I want to confirm that through the resolution of these issues (and those linked therein):
https://github.com/ginkgo-project/ginkgo/issues/618
https://github.com/ginkgo-project/ginkgo/issues/597

The `ginkgo` developers have satisfied all criteria for JOSS publication and I recommend acceptance of the submission.

Speaking personally, I want to thank the developers and JOSS for you

[2020-08-13 15:28] bblodfon commented on #2534
@whedon commands

[2020-08-13 15:28] whedon commented on #2534
Here are some things you can ask me to do:

[code]

[2020-08-13 15:29] bblodfon commented on #2534
@whedon generate pdf

[2020-08-13 15:29] whedon commented on #2534
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02534/joss.02534/10.21105.joss.02534.pdf)

[2020-08-13 15:45] fverdugo commented on #2520
@whedon generate pdf from branch joss

[2020-08-13 15:45] whedon commented on #2520
[code]

[2020-08-13 15:46] whedon commented on #2520
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02520/joss.02520/10.21105.joss.02520.pdf)

[2020-08-13 15:50] fverdugo commented on #2520
@Kevin-Mattheus-Moerman I have added the code sniped as a figure. Now the code symbols are visualized correctly.

I would say that this fixes all issues.

[2020-08-13 15:54] pibion commented on #2484
@cmbiwer the only thing you need to be able to do for the review is post on this thread.

Some reviewers do contribute to the code in the actual software repository, but until you want to do that non-write public access should be all you need.

Does this help?

[2020-08-13 15:56] PetrKryslUCSD commented on #2520
Looks good. I recommend publication as is.

[2020-08-13 16:23] diehlpk commented on #2514
Hi @emconsta @debdeepbh @gardner48 how is your review going? Please let me know if I can assist in any way.

[2020-08-13 16:48] bonh commented on #2513
So I am done :+1:

[2020-08-13 17:46] kegiljarhus commented on #2480
Thank you for the nice comments and constructive suggestions, @antviro. I have the following replies:

- Adding a global adjustment to the pitch is an excellent suggestion. This has been implemented in commit kegiljarhus/pyBEMT@c905ee45db6fc89dcb8a4f0ea6b9e41b6a2521e6. It may be confusing to mix pitch and twist in these definitions, so other suggestions for names are appreciated.
- I have added a

[2020-08-13 18:00] Gabriel-p commented on #2308
@astrom-tom I see you marked **Community guidelines** as checked. Where did you find this in the docs? I was not able to find such requirements.

[2020-08-13 18:04] astrom-tom commented on #2308
It is in the readme of the repo. I asked them to add it in the front page.

[2020-08-13 18:55] cranmer commented on #2505
Thanks to @michaeldeistler of SBI team to quickly address problem. There is a PR that will fix the API documentation, and an example is planned to follow @dfm I'm not really sure about the procedure here. Do we wait for the PR to be merged and new API docs to be generated, or do we proceed assuming that it's in progress and on the way? (The example demonstrating this feature is nice, but I don't t

[2020-08-13 19:26] s-goldman commented on #2554
Thanks for these suggestions. I have added a more descriptive figure caption and a table with the grid parameters. The Markdown table format wouldn't fit, so the table is added as a png, and the latex files used to create the figure are now in the paper directory.

[2020-08-13 19:39] dfm commented on #2505
@cranmer: Thanks for the update! If you think that the functionality claims in the paper are sufficiently well justified once the `embedding_net`, etc. parameters are documented then I think it would be fine to proceed once that pull request has been merged without waiting for the full example in the docs.

[2020-08-13 20:11] pdebuyl commented on #2436
@jenzopr @blakeaw , @CFGrote update his submissions, can you provide an update to the review?

[2020-08-13 20:32] csoneson commented on #2353
👋 @skhilton - I submitted a pull request with a couple of minor fixes to the text. Please check and merge if it looks ok. For consistency, could you represent the country in all affiliations in the same way (now there's USA, United States and United States of America 😃)? Also, it would be good to indicate somewhere what the asterisk means.

The next steps are the following:
- [ ] Create a tagged r

[2020-08-13 20:40] mikldk commented on #2388
@tomsing1, @rcannood: Can you confirm that you have both finished the review?

@hope-data-science:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/latest/submitting.html#the-re

[2020-08-13 21:28] blakeaw commented on #2436
@pdebuyl, yes, I will start looking over the submission updates.

[2020-08-13 22:08] huddlej commented on #2353
@csoneson, @skhilton and I intended for the asterisks to indicate shared co-first authorship. Is there a more formal way to represent this authorship status for JOSS, or is it sufficient to add a legend below the authorship section describing what the asterisk means? Thank you!

[2020-08-13 22:37] tamasgal commented on #2456
This issue probably got a bit lost due to JuliaCon 😅

[2020-08-13 22:54] jeffcsauer commented on #2450
@jaeyk, no problem! If it's alright, might I ask what the next steps look like? Happy to incorporate feedback from @edonnachie.

[2020-08-14 04:31] CFGrote commented on #2436
not done yet
Aug 13, 2020 22:12:42 Pierre de Buyl <notifications@github.com>:

[2020-08-14 05:15] pdebuyl commented on #2436
@CFGrote sorry, I thought it was. You can notify us when the update is ready.

[2020-08-14 06:59] mjsottile commented on #2260
Thanks for the review @adam-m-jcbs - no problem on the delays.  These days things are a bit unpredictable.

I have a deadline that I need to meet by tomorrow, so once that's cleared I'll finalize the review process.

[2020-08-14 07:31] ysohn commented on #2471
@kakiac Dear editor, I'd appreciate if you could let me know if there is anything we need to do in the pre-review stage. Thank you!

[2020-08-14 08:23] rcannood commented on #2388
Everything is OK for me! :)

[2020-08-14 10:50] hope-data-science commented on #2388
@whedon generate pdf

[2020-08-14 10:51] whedon commented on #2388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02388/joss.02388/10.21105.joss.02388.pdf)

[2020-08-14 10:54] hope-data-science commented on #2388
Response:
1. Please have a final read though of the paper, checking language etc.
Reply: Done as suggested.

2. Have a final check of the proofs with @whedon generate pdf
Reply: Done as suggested.

3. Please make a tagged release and archive (e.g. with Zenodo) as described here, and report the version number and archive DOI in this thread. Please verify that the archive deposit has the correct met

[2020-08-14 11:05] pdebuyl commented on #2307
/ooo August 14 until August 31

[2020-08-14 11:23] csoneson commented on #2353
@huddlej - the way we often recommend for indicating shared co-first authorship is to include a footnote, e.g., as done here: https://joss.theoj.org/papers/10.21105/joss.02145

[2020-08-14 12:31] sbenthall commented on #2528
This is still waiting on @dormezil for review.

[2020-08-14 12:32] sbenthall commented on #2445
This is still waiting on @Ohlsen for review

[2020-08-14 13:29] merrygoat commented on #2381
That's it - I think we have addressed all of the outstanding issues. Let me know if I have missed anything!

[2020-08-14 13:56] lorenanicole commented on #2316
@whedon generate pdf

[2020-08-14 13:56] whedon commented on #2316
PDF failed to compile for issue #2316 with the following error:

 Can't find any papers to compile :-(

[2020-08-14 13:57] lorenanicole commented on #2316
@whedon generate pdf from branch add-joss-paper

[2020-08-14 13:57] whedon commented on #2316
[code]

[2020-08-14 13:57] whedon commented on #2316
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02316/joss.02316/10.21105.joss.02316.pdf)

[2020-08-14 14:11] jedbrown commented on #2333
Sorry about the slow start here. I found a great reviewer and a likely second and will start the review.

[2020-08-14 14:12] jedbrown commented on #2333
@whedon add @eileenrmartin as reviewer

[2020-08-14 14:12] whedon commented on #2333
OK, @eileenrmartin is now a reviewer

[2020-08-14 14:12] jedbrown commented on #2333
@whedon start review

[2020-08-14 14:12] whedon opened #2565 "[REVIEW]: rsudp: A Python package for real-time seismic monitoring with Raspberry Shake instruments"
**Submitting author:** @iannesbitt (<a href="http://orcid.org/0000-0001-5828-6070">Ian Nesbitt</a>)
**Repository:** <a href="https://github.com/raspishake/rsudp" target ="_blank">https://github.com/raspishake/rsudp</a>
**Version:** 1.1.0
**Editor:** @jedbrown
**Reviewers:** @fwalter, @calum-chamberlain
**Archive:** <a href="https://doi.org/10.5281/zenodo.5771026" target="_blank">10.5281/zenodo.577

[2020-08-14 14:12] whedon commented on #2333
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2565.

[2020-08-14 14:12] #2333 closed

[2020-08-14 14:12] whedon commented on #2565
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eileenrmartin it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.j

[2020-08-14 14:12] whedon commented on #2565
[code]

[2020-08-14 14:12] whedon commented on #2565
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02565/joss.02565/10.21105.joss.02565.pdf)

[2020-08-14 14:15] KristinaRiemer commented on #2545
@camillescott @r-barnes @sgrieve @nmstreethran would any of y'all be able to review this submission for JOSS?

[2020-08-14 14:21] jedbrown commented on #2565
@eileenrmartin :wave: Welcome to JOSS and thanks for agreeing to review!

The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the rsudp repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria

[2020-08-14 14:27] lorenanicole commented on #2316
@blsqr did another re-read and we look good ✅ minus the noted DOI on the  Utopia. please archive a tagged release of your submission on an archive site such as Zenodo or figshare, and post the DOI for the archive to this issue thread. Finally, ensure that the version number for the submission at the top of this issue matches the version of the archived code. If it does not, let me know what the co

[2020-08-14 14:54] whedon commented on #2479
:wave: @RCHG, please update us on how your review is going.

[2020-08-14 15:12] lorenanicole commented on #2530
Sure! Let's go for it.

[2020-08-14 15:12] lorenanicole commented on #2530
@whedon assign me as editor

[2020-08-14 15:12] whedon commented on #2530
OK, the editor is @lorenanicole

[2020-08-14 15:12] lorenanicole commented on #2530
@whedon check repository

[2020-08-14 15:13] whedon commented on #2530
Failed to discover a `Statement of need` section in paper

[2020-08-14 15:13] whedon commented on #2530
[code]

[2020-08-14 15:14] lorenanicole commented on #2530
@onurvarol wow what a collection of potential reviewers you have collected [here](https://bit.ly/joss-reviewers). As we need two, any you have particular recommendations on?

[2020-08-14 15:47] justinwang97 commented on #2541
@whedon commands

[2020-08-14 15:47] whedon commented on #2541
Here are some things you can ask me to do:

[code]

[2020-08-14 16:07] dawbarton commented on #2331
Installation: I like the list of dependencies for different Linux distributions. The one dependency that isn't listed is gnuplot - it might be worth adding that to the list given that it is required for viewing the plots. I built the package from source under Linux using the supplied Makefile and it was a smooth process.

A statement of need: I can't see any sort of statement of need, comparison w

[2020-08-14 16:13] dawbarton commented on #2384
All looks good to me now. I've ticked off all the items on the checklist.

[2020-08-14 16:18] dpsanders commented on #2384
Thanks a lot @dawbarton!

@Shibabrat Just checking in to see how progress is with your review?

[2020-08-14 16:21] dpsanders commented on #2384
@wilsonrljr: I was wondering if http://www.nonlinearbenchmark.org/ is relevant?

[2020-08-14 16:29] wilsonrljr commented on #2384
Thank you, @dawbarton!

@dpsanders Regarding the that site, it is really good! It contains a set of really great data for system identification. I have an exemple here for the F-16 dataset (since I have used it in my dissertation). I'll add an notebook in example folder later today. I have other examples with real world data used as benchmark for SI already implemented and I'll upload them in the

[2020-08-14 16:49] dawbarton commented on #2384
Regarding http://www.nonlinearbenchmark.org/ I should mention that it's quite a nice meeting that runs each year and is directly relevant to your software package; it's well worth attending if the situation ever allows. (I went a few years ago.)

[2020-08-14 16:53] r-barnes commented on #2545
Sure.

[2020-08-14 17:12] KristinaRiemer commented on #2545
Excellent! Thanks @r-barnes.

[2020-08-14 17:12] KristinaRiemer commented on #2545
@whedon add @r-barnes as reviewer

[2020-08-14 17:13] whedon commented on #2545
OK, @r-barnes is now a reviewer

[2020-08-14 18:10] ronikobrosly commented on #2523
Hi @alexjonesphd , I went ahead and revised the [online documentation](https://causal-curve.readthedocs.io/en/latest/). There is now an `introduction` section and I tried to make it a gentle intro to experimentation, interpreting the causal curve, etc.

[2020-08-14 18:59] whedon opened #2566 "[PRE REVIEW]: RodiCS: a finite element solver of Kirchhoff rods under fluid flow and more"
**Submitting author:** @mou3adb (<a href="http://orcid.org/0000-0002-4908-4589">Mouad Boudina</a>)
**Repository:** <a href="https://github.com/lm2-poly/RodiCS" target ="_blank">https://github.com/lm2-poly/RodiCS</a>
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @ilyasst, @chennachaos
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-08-14 18:59] whedon commented on #2566
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 18:59] whedon commented on #2566
[code]

[2020-08-14 18:59] whedon commented on #2566
[code]

[2020-08-14 18:59] whedon commented on #2566
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02566/joss.02566/10.21105.joss.02566.pdf)

[2020-08-14 19:00] kyleniemeyer commented on #2566
Hi @diehlpk, the author suggested you to edit this submission. Do you have the bandwidth to take this one on?

[2020-08-14 19:01] kyleniemeyer commented on #2566
@whedon invite @diehlpk as editor

[2020-08-14 19:01] whedon commented on #2566
@diehlpk has been invited to edit this submission.

[2020-08-14 19:02] whedon opened #2567 "[PRE REVIEW]: AstroPaint: A Python Package for Painting Halo Catalogs into Celestial Maps"
**Submitting author:** @syasini (<a href="http://orcid.org/0000-0003-1978-6325">Siavash Yasini</a>)
**Repository:** <a href="https://github.com/syasini/AstroPaint" target ="_blank">https://github.com/syasini/AstroPaint</a>
**Version:** 0.1.1
**Editor:** @harpolea
**Reviewers:** @AshKelly, @zpace
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-08-14 19:02] whedon commented on #2567
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 19:02] whedon commented on #2567
[code]

[2020-08-14 19:02] whedon commented on #2567
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02567/joss.02567/10.21105.joss.02567.pdf)

[2020-08-14 19:03] kyleniemeyer commented on #2567
Hi @harpolea, could you edit this submission?

[2020-08-14 19:03] kyleniemeyer commented on #2567
@whedon invite @harpolea as editor

[2020-08-14 19:03] whedon commented on #2567
@harpolea has been invited to edit this submission.

[2020-08-14 19:05] whedon opened #2568 "[PRE REVIEW]: dorado: A Python package for simulating passive particle transport in shallow-water flows"
**Submitting author:** @elbeejay (<a href="http://orcid.org/0000-0002-1343-193X">Jayaram Hariharan</a>)
**Repository:** <a href="https://github.com/passaH2O/dorado" target ="_blank">https://github.com/passaH2O/dorado</a>
**Version:** v1.0.0
**Editor:** @kbarnhart
**Reviewers:** @dbuscombe-usgs, @gassmoeller
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2020-08-14 19:05] whedon commented on #2568
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 19:05] Ohlsen commented on #2445
Hi, @sbenthall, apparently i missed some notification and am also not able to edit the checklist. Could you start the invitation again? Sorry for the trouble my self-assignment caused. I´m new to this as well ...

[2020-08-14 19:05] whedon commented on #2568
[code]

[2020-08-14 19:06] diehlpk commented on #2566
@kyleniemeyer Yes, I can take it, but after that one I have six and can not handle more.

[2020-08-14 19:06] kyleniemeyer commented on #2568
Hi @kbarnhart, can you edit this submission?

[2020-08-14 19:07] kyleniemeyer commented on #2568
@whedon invite @kbarnhart as editor

[2020-08-14 19:07] whedon commented on #2568
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02568/joss.02568/10.21105.joss.02568.pdf)

[2020-08-14 19:07] whedon commented on #2568
@kbarnhart has been invited to edit this submission.

[2020-08-14 19:07] diehlpk commented on #2403
Hey @lukasheinrich when do you anticipate to finsih the review?

[2020-08-14 19:08] whedon opened #2569 "[PRE REVIEW]: Thermoelasticity-based analysis: collection of python packages"
**Submitting author:** @LolloCappo (<a href="http://orcid.org/0000-0002-1333-9930">Lorenzo Capponi</a>)
**Repository:** <a href="https://github.com/LolloCappo/Thermoelasticity-based-analysis-collection-of-python-packages" target ="_blank">https://github.com/LolloCappo/Thermoelasticity-based-analysis-collection-of-python-packages</a>
**Version:** 1.0
**Editor:** Pending
**Reviewer:** Pending
**Mana

[2020-08-14 19:08] whedon commented on #2569
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 19:08] whedon commented on #2569
[code]

[2020-08-14 19:08] whedon commented on #2569
Failed to discover a valid open source license.

[2020-08-14 19:08] kyleniemeyer commented on #2569
@whedon query scope

[2020-08-14 19:08] whedon commented on #2569
Submission flagged for editorial review.

[2020-08-14 19:08] diehlpk commented on #2566
@whedon assign @diehlpk as editor

[2020-08-14 19:08] whedon commented on #2566
OK, the editor is @diehlpk

[2020-08-14 19:09] whedon commented on #2569
[code]

[2020-08-14 19:09] whedon commented on #2569
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02569/joss.02569/10.21105.joss.02569.pdf)

[2020-08-14 19:09] whedon opened #2570 "[PRE REVIEW]: Minerva: a light-weight, narrative image browser for multiplexed tissue images"
**Submitting author:** @thejohnhoffer (<a href="http://orcid.org/0000-0002-5877-4266">John Hoffer</a>)
**Repository:** <a href="https://github.com/labsyspharm/minerva-story" target ="_blank">https://github.com/labsyspharm/minerva-story</a>
**Version:** v1.0.0
**Editor:** @jni
**Reviewers:** @will-moore, @sofroniewn
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2020-08-14 19:09] whedon commented on #2570
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 19:09] whedon commented on #2570
Failed to discover a `Statement of need` section in paper

[2020-08-14 19:09] whedon commented on #2570
[code]

[2020-08-14 19:09] whedon commented on #2570
[code]

[2020-08-14 19:10] whedon commented on #2570
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02570/joss.02570/10.21105.joss.02570.pdf)

[2020-08-14 19:10] kyleniemeyer commented on #2570
Hi @jni, can you edit this submission?

[2020-08-14 19:10] kyleniemeyer commented on #2570
@whedon invite @jni as editor

[2020-08-14 19:10] whedon commented on #2570
@jni has been invited to edit this submission.

[2020-08-14 19:11] kyleniemeyer commented on #2570
Hi @thejohnhoffer, thanks for your submission to JOSS. It looks like your article is missing one of the required elements: https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2020-08-14 19:12] whedon opened #2571 "[PRE REVIEW]: Covid19data.website"
**Submitting author:** @malouche (<a href="http://orcid.org/0000-0002-0494-7141">dhafer malouche</a>)
**Repository:** <a href="https://malouche.github.io/covid19data/" target ="_blank">https://malouche.github.io/covid19data/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-08-14 19:12] whedon commented on #2571
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 19:12] kyleniemeyer commented on #2571
@whedon query scope

[2020-08-14 19:13] whedon commented on #2571
Submission flagged for editorial review.

[2020-08-14 19:13] whedon commented on #2571
PDF failed to compile for issue #2571 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2571 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e09ec0a48e3/lib/whedo

[2020-08-14 19:14] diehlpk commented on #2566
Hey @JaroslavHron @tupi @wkearn @dlagrava @adam-m-jcbs @mzamoraz @ctdegroot @mancellin @zbeekman would you be interested to review this paper?

[2020-08-14 19:15] whedon opened #2572 "[PRE REVIEW]: SLAM Toolbox: SLAM for the dynamic world"
**Submitting author:** @stevemacenski (<a href="http://orcid.org/0000-0003-1090-7733">Steven Macenski</a>)
**Repository:** <a href="https://github.com/SteveMacenski/slam_toolbox" target ="_blank">https://github.com/SteveMacenski/slam_toolbox</a>
**Version:** 2.3.0
**Editor:** @arfon
**Reviewers:** @mosteo, @carlosjoserg
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warnin

[2020-08-14 19:15] whedon commented on #2572
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 19:15] whedon commented on #2572
PDF failed to compile for issue #2572 with the following error:

 Can't find any papers to compile :-(

[2020-08-14 19:15] whedon commented on #2572
[code]

[2020-08-14 19:15] kyleniemeyer commented on #2572
Hi @bstabler, this might be a little bit outside your wheelhouse, but could you edit it?

[2020-08-14 19:15] kyleniemeyer commented on #2572
@whedon invite @bstabler as editor

[2020-08-14 19:15] whedon commented on #2572
@bstabler has been invited to edit this submission.

[2020-08-14 19:16] whedon opened #2573 "[PRE REVIEW]: Dittodb: A Test Environment for Database Requests"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/ropensci/dittodb" target ="_blank">https://github.com/ropensci/dittodb</a>
**Version:** 0.1.1.9001
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-08-14 19:16] whedon commented on #2573
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 19:16] kyleniemeyer commented on #2573
@whedon query scope

[2020-08-14 19:16] whedon commented on #2573
Failed to discover a `Statement of need` section in paper

[2020-08-14 19:16] whedon commented on #2573
Submission flagged for editorial review.

[2020-08-14 19:16] whedon commented on #2573
[code]

[2020-08-14 19:16] whedon commented on #2573
[code]

[2020-08-14 19:17] whedon commented on #2573
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02573/joss.02573/10.21105.joss.02573.pdf)

[2020-08-14 19:17] whedon opened #2574 "[PRE REVIEW]: Foolbox Native: Fast adversarial attacks to benchmark the robustness of machine learning models in PyTorch, TensorFlow, and JAX"
**Submitting author:** @jonasrauber (<a href="http://orcid.org/0000-0001-6795-9441">Jonas Rauber</a>)
**Repository:** <a href="https://github.com/bethgelab/foolbox" target ="_blank">https://github.com/bethgelab/foolbox</a>
**Version:** v3.1.0
**Editor:** @terrytangyuan
**Reviewers:** @GregaVrbancic, @ethanwharris
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

D

[2020-08-14 19:17] whedon commented on #2574
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-08-14 19:17] kyleniemeyer commented on #2574
Hi @terrytangyuan, do you have the bandwidth to edit this submission?

[2020-08-14 19:17] kyleniemeyer commented on #2574
@whedon invite @terrytangyuan as editor

[2020-08-14 19:17] whedon commented on #2574
@terrytangyuan has been invited to edit this submission.

[2020-08-14 19:17] whedon commented on #2574
[code]

[2020-08-14 19:17] whedon commented on #2574
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02574/joss.02574/10.21105.joss.02574.pdf)

[2020-08-14 19:23] onurvarol commented on #2530
@lorenanicole, we want to have multiple options, incase they might not be available. Feel free to choose any two reviewers, they are all have interests and expertise that might match with the project.

[2020-08-14 19:45] SteveMacenski commented on #2572
I'm not sure why it couldn't find the file, it built fine with the preview tool. Its on the `joss` branch.

carlosjoseRG, mosteo, or traversaro could make good editors (all listing C++ and robotics)

[2020-08-14 20:50] wilsonrljr commented on #2384
Thanks for pointing that out, dawbarton. I worked with some of those datasets on my master dissertation. Some of the authors collaborating with the website are reference on system identification using NARMAX models. It's really important to share our work with researchers on the field with examples that make sense for them.

I updated the master branch with the F-16 example. It's a simple showcase

[2020-08-14 20:54] KristinaRiemer commented on #2545
@whedon start review

[2020-08-14 20:54] whedon opened #2575 "[REVIEW]: DYCO: A Python package to dynamically detect and compensate for time lags in ecosystem time series"
**Submitting author:** @holukas (<a href="http://orcid.org/0000-0002-5569-0761">Lukas Hörtnagl</a>)
**Repository:** <a href="https://github.com/holukas/dyco" target ="_blank">https://github.com/holukas/dyco</a>
**Version:** v1.1.2
**Editor:** @KristinaRiemer
**Reviewer:** @mccabete, @r-barnes
**Archive:** <a href="https://doi.org/10.5281/zenodo.4964068" target="_blank">10.5281/zenodo.4964068</a>

[2020-08-14 20:54] whedon commented on #2545
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2575.

[2020-08-14 20:54] #2545 closed

[2020-08-14 20:54] whedon commented on #2575
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mccabete, @r-barnes it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-08-14 20:55] whedon commented on #2575
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02575/joss.02575/10.21105.joss.02575.pdf)

[2020-08-14 20:56] KristinaRiemer commented on #2545
@mccabete @r-barnes if you want to check out the issue linked to in the above comment, that is where the actual review will take place and let me know if you have questions!

[2020-08-14 21:05] diehlpk commented on #2566
@mou3adb Could you please check the missing DOIs and add them if they are missing?

[2020-08-14 21:07] diehlpk commented on #2566
@mou3adb Could you please add Montreal as city to both affiliations? Even it is mentioned in the school's name, we need the city as well.

[2020-08-14 21:38] jordanperr commented on #2171
@sjpfenninger OpenOA 2.0 is now released. We are now updating the paper. Please allow us some time to finish the update to the paper. I will ping you here when it's ready.

[2020-08-14 21:55] Sulstice commented on #1992
Alright, should be done! does that all work out?

[2020-08-14 22:03] gonsie commented on #2435
## gonsie review

Sorry for the delay in my review. Unfortunately, I had many technical issues: I only have access to a Mac and I seem unable to mark the checkboxes in my review section at the top of this issue 😞 That said, here is my best effort at reviewing the documentation and paper.

- [X] conflict of interest
- [X] code of conduct
- [X] repo
- [X] License
- [X] contribution and authorship
-

[2020-08-14 22:08] colbrydi commented on #2484
Here are some notes from my review:

Science Capsule allows the capturing of Command line activities inside a user specified working directory.  These activities include file systems events (using inotify) and process events (using strace) using the python watchdog module.  The results can be monitored using a live web interface.  The captured information is intended to help identify artifacts of

[2020-08-14 22:25] terrytangyuan commented on #2574
Yes, I can edit this one.

[2020-08-14 22:36] skhilton commented on #2353
@csoneson: The new tagged version of the software is v1.1.0 (https://github.com/dms-view/dms-view.github.io/releases/tag/v1.1.0) and the zenodo doi is 10.5281/zenodo.3986155. @huddlej updated the affiliations. Let us know if there are any issues!

[2020-08-14 22:55] mou3adb commented on #2566
Hi @diehlpk. I added the city, and fixed the DOIs, except for the book Elasticity and Geometry since it already has an ISBN.

[2020-08-14 22:55] mou3adb commented on #2566
@whedon generate pdf

[2020-08-14 22:56] whedon commented on #2566
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02566/joss.02566/10.21105.joss.02566.pdf)

[2020-08-14 23:03] alexjonesphd commented on #2523
Thanks @ronikobrosly that looks great. Nice work! As before very happy to endorse and hope this gets some serious use by the Python community.

[2020-08-14 23:43] elbeejay commented on #2568
We think that reviewers from the fields of hydrology or geomorphology might best. I went through the list of reviewers to come up with the following list of potential reviewers (in no particular order):

Mankoff
dvalters
sgrieve
lheagy
krischer
Scivision
rmsare
amabdallah
nathanlyons
margauxmouchene
kmarkert
leouieda
kellykochanski
martibosch
tretherington
castelao
pytzcarraldo
Lachlangrose
dbusco

[2020-08-15 03:26] jni commented on #2570
@whedon add me as editor

[2020-08-15 03:26] whedon commented on #2570
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-15 03:26] jni commented on #2570
@whedon assign me as editor

[2020-08-15 03:26] whedon commented on #2570
OK, the editor is @jni

[2020-08-15 06:42] jonasrauber commented on #2574
We had one small technical issue when creating the paper: the „joint senior authors“ footnote could only be added to one senior author. This seems to be a limitation of the Markdown to LaTeX conversion.
Any ideas how we can fix this?
How do you usually indicate joint first authors?

[2020-08-15 10:54] malouche commented on #2571
Thank you for your email.

I have updated my paper.md file. I’m attaching also my pdf file.

Thank you

Dhafer

On Aug 14, 2020, at 8:13 PM, whedon <notifications@github.com<mailto:notifications@github.com>> wrote:

PDF failed to compile for issue #2571<https://github.com/openjournals/joss-reviews/issues/2571> with the following error:

/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in block in

[2020-08-15 12:21] ejhigson commented on #2535
@whedon check references

[2020-08-15 12:28] ejhigson commented on #2535
Hi @akcochrane - congratulations on a nice software package! I only have a few minor comments:

1. It might be worth adding instructions on running the package's tests to the install section of the README.
2. Some of the references are missing DOIs - please can you add these if they are available (no worries if not). I had thought that commenting "@whedon check references" would check your referen

[2020-08-15 13:19] blsqr commented on #2316
Glad to hear! Thanks, @lorenanicole! :)

We created a tagged release, v0.14.0, and uploaded it [to zenodo](https://zenodo.org/record/3986628). The corresponding DOI is: `10.5281/zenodo.3986628`

The version number indeed _changed_ to `v0.14.0`.

[2020-08-15 13:34] usethedata commented on #2483
@whedon add @usethedata as reviewer

[2020-08-15 13:34] whedon commented on #2483
OK, @usethedata is now a reviewer

[2020-08-15 13:42] usethedata commented on #2553
Suggestions received from author.  Inquiries sent.

[2020-08-15 13:47] mdavezac commented on #2307
/ooo August 12 until August 27

[2020-08-15 14:11] richardjgowers commented on #2429
Hi @amandadumi @govarguz would you be available to review this?

[2020-08-15 14:13] richardjgowers commented on #2373
@mattwthompson I don't see any issues open on the tracker, have you comments been addressed?

[2020-08-15 14:16] richardjgowers commented on #2277
@mih are you still available to review this?

@dvm-shlee you've got comments from a reviewer on the repo still waiting to be addressed

[2020-08-15 16:37] amandadumi commented on #2429
Hello @richardjgowers. Yes, this looks very interesting and well suited for my background!

[2020-08-15 17:21] govarguz commented on #2429
Hi @richardjgowers. Yes, I will be available to review this Ms./implementation. Best,

[2020-08-15 17:41] galessiorob commented on #2448
@whedon generate pdf

[2020-08-15 17:41] whedon commented on #2448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02448/joss.02448/10.21105.joss.02448.pdf)

[2020-08-15 17:45] galessiorob commented on #2448
@whedon set v1.3.0 as version

[2020-08-15 17:45] whedon commented on #2448
OK. v1.3.0 is the version.

[2020-08-15 17:46] galessiorob commented on #2448
@whedon accept

[2020-08-15 17:46] whedon commented on #2448
No archive DOI set. Exiting...

[2020-08-15 17:46] galessiorob commented on #2448
@whedon set 10.5281/zenodo.3974614 as archive

[2020-08-15 17:46] whedon commented on #2448
OK. <a href="https://doi.org/10.5281/zenodo.3974614" target="_blank">10.5281/zenodo.3974614</a> is the archive.

[2020-08-15 17:48] galessiorob commented on #2448
@whedon generate pdf

[2020-08-15 17:49] whedon commented on #2448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02448/joss.02448/10.21105.joss.02448.pdf)

[2020-08-15 17:51] galessiorob commented on #2448
@whedon accept

[2020-08-15 17:51] whedon commented on #2448
[code]

[2020-08-15 17:51] whedon commented on #2448
[code]

[2020-08-15 17:51] whedon commented on #2448
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1638

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1638, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-15 18:01] galessiorob commented on #2448
@whedon generate pdf

[2020-08-15 18:02] whedon commented on #2448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02448/joss.02448/10.21105.joss.02448.pdf)

[2020-08-15 18:06] galessiorob commented on #2448
@whedon accept

[2020-08-15 18:06] whedon commented on #2448
[code]

[2020-08-15 18:06] whedon commented on #2448
[code]

[2020-08-15 18:07] whedon commented on #2448
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1639

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1639, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-15 18:10] galessiorob commented on #2448
@cicirello could you please give this last version a final proof read? An editor in chief will take it from here and get it published now ✨

[2020-08-15 18:12] galessiorob commented on #2449
@whedon check references

[2020-08-15 18:13] whedon commented on #2449
[code]

[2020-08-15 18:16] galessiorob commented on #2449
@LukasAdamowicz I think leaving the pending paper citation out is fine, at this point the next thing we need from you is to deposit your software in Zenodo and post the DOI here. After that, we can set the final version, generate a final proof and have an Editor in Chief do the publishing.

[2020-08-15 18:25] Ohlsen commented on #2445
@whedon commands

[2020-08-15 18:25] whedon commented on #2445
Here are some things you can ask me to do:

[code]

[2020-08-15 18:28] diehlpk commented on #2566
@whedon assign @ilyasst as reviewer

[2020-08-15 18:28] whedon commented on #2566
OK, @ilyasst is now a reviewer

[2020-08-15 18:29] Ohlsen commented on #2445
I´m still not able to edit the checklist. Perhaps it might work if i´m re-invited and not only re-assigned?

[2020-08-15 18:43] akcochrane commented on #2535
Thank you for the input @ejhigson ! I've implemented your suggestions.

Just out of curiosity, is it typical to include instructions for tests to be included in high-level introductory documentation? In my minimal experience tests had struck me as being developer-oriented, but knowing more about user-oriented tests would probably help me write better docs and tests!

[2020-08-15 19:37] cicirello commented on #2448
@galessiorob I proofread the latest version, and it looks fine. Thank you for your time and expertise overseeing the review.

[2020-08-15 20:23] richardjgowers commented on #2429
@whedon add @amandadumi as reviewer

[2020-08-15 20:23] whedon commented on #2429
OK, @amandadumi is now a reviewer

[2020-08-15 20:23] richardjgowers commented on #2429
@whedon add @govaguz as reviewer

[2020-08-15 20:23] whedon commented on #2429
OK, @govaguz is now a reviewer

[2020-08-15 20:27] richardjgowers commented on #2429
@whedon remove @govaguz as reviewer

[2020-08-15 20:27] whedon commented on #2429
OK, @govaguz is no longer a reviewer

[2020-08-15 20:27] richardjgowers commented on #2429
@whedon add @govarguz as reviewer

[2020-08-15 20:27] whedon commented on #2429
OK, @govarguz is now a reviewer

[2020-08-15 20:27] richardjgowers commented on #2429
@whedon start review

[2020-08-15 20:27] whedon opened #2576 "[REVIEW]: ELECTRIC: Electric fields Leveraged from multipoleExpansion Calculations in Tinker Rapid Interface Code"
**Submitting author:** @valeriewelborn (<a href="http://orcid.org/0000-0003-0834-4441">Valerie Vaissier</a>)
**Repository:** <a href="https://github.com/WelbornGroup/ELECTRIC" target ="_blank">https://github.com/WelbornGroup/ELECTRIC</a>
**Version:** v1.0.0
**Editor:** @richardjgowers
**Reviewer:** @amandadumi, @govarguz
**Archive:** <a href="https://doi.org/10.5281/zenodo.4116258" target="_blank"

[2020-08-15 20:27] whedon commented on #2429
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2576.

[2020-08-15 20:27] #2429 closed

[2020-08-15 20:27] whedon commented on #2576
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amandadumi, @govarguz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-08-15 20:28] whedon commented on #2576
[code]

[2020-08-15 20:28] whedon commented on #2576
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02576/joss.02576/10.21105.joss.02576.pdf)

[2020-08-15 20:31] richardjgowers commented on #2576
Hi @amandadumi and @govarguz thanks for agreeing to review, we'll be doing that in this issue.  In general it works best if you raise issues against the ELECTRIC repository when you find issues.  Let me know if you run into any issues.

[2020-08-15 20:37] kenohori commented on #2538
Hello,

Started working on the review today and noticed a few things. Regarding the code:
* The Makefile broadly works, but it doesn't look for paths, and so is not really an automated solution. Include and library paths need to be added manually. It doesn't link (-l) against python (for pypaya2).
* The Python module is 2.x only, which was retired on January 1.
* The software fails to build with C

[2020-08-15 21:41] Himscipy commented on #2444
@berenger-eu Thank you for addressing the documentation comments and for the response.

Here are my comments about the installation process/ functionality testing;
- Please add First Step-1 in the installation procedure : Clone the current repo or rewrite them as individual steps I quote from documentation.
 ``` The build process consists in the following steps: adding git submodules (optional), c

[2020-08-16 00:42] diehlpk commented on #2566
@whedon add @chennachaos as reviewer

[2020-08-16 00:42] whedon commented on #2566
OK, @chennachaos is now a reviewer

[2020-08-16 00:42] diehlpk commented on #2566
@whedon start review

[2020-08-16 00:42] whedon opened #2577 "[REVIEW]: RodiCS: a finite element solver of Kirchhoff rods under fluid flow and more"
**Submitting author:** @mou3adb (<a href="http://orcid.org/0000-0002-4908-4589">Mouad Boudina</a>)
**Repository:** <a href="https://github.com/lm2-poly/RodiCS" target ="_blank">https://github.com/lm2-poly/RodiCS</a>
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewer:** @ilyasst, @chennachaos
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2020-08-16 00:42] whedon commented on #2566
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2577.

[2020-08-16 00:42] #2566 closed

[2020-08-16 00:42] whedon commented on #2577
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ilyasst, @chennachaos it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-08-16 00:43] whedon commented on #2577
[code]

[2020-08-16 00:43] whedon commented on #2577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02577/joss.02577/10.21105.joss.02577.pdf)

[2020-08-16 01:26] diehlpk commented on #2496
@barischrooneyj Hope you finished your moving. Could you find some time to update the paper?

[2020-08-16 07:05] arfon commented on #2571
@whedon generate pdf

[2020-08-16 07:06] whedon commented on #2571
PDF failed to compile for issue #2571 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2571 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-0e09ec0a48e3/lib/whedo

[2020-08-16 07:08] arfon commented on #2571
@malouche - where is the source code for this project please? @whedon needs to be able to clone the source repository and `https://malouche.github.io/covid19data/` is not a git repository which is causing errors for us.

[2020-08-16 07:30] csoneson commented on #1992
@whedon generate pdf

[2020-08-16 07:31] whedon commented on #1992
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01992/joss.01992/10.21105.joss.01992.pdf)

[2020-08-16 07:34] csoneson commented on #1992
@whedon set 10.5281/zenodo.3981540 as archive

[2020-08-16 07:35] whedon commented on #1992
OK. <a href="https://doi.org/10.5281/zenodo.3981540" target="_blank">10.5281/zenodo.3981540</a> is the archive.

[2020-08-16 07:36] csoneson commented on #1992
@whedon set 1.1.8 as version

[2020-08-16 07:36] whedon commented on #1992
OK. 1.1.8 is the version.

[2020-08-16 07:44] csoneson commented on #1992
Looks good!

[2020-08-16 07:45] csoneson commented on #1992
@whedon accept

[2020-08-16 07:45] whedon commented on #1992
[code]

[2020-08-16 07:45] whedon commented on #1992
[code]

[2020-08-16 07:45] whedon commented on #1992
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1640

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1640, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-16 07:46] csoneson commented on #2353
@whedon generate pdf

[2020-08-16 07:47] whedon commented on #2353
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02353/joss.02353/10.21105.joss.02353.pdf)

[2020-08-16 07:50] csoneson commented on #2353
@whedon set 10.5281/zenodo.3986155 as archive

[2020-08-16 07:50] whedon commented on #2353
OK. <a href="https://doi.org/10.5281/zenodo.3986155" target="_blank">10.5281/zenodo.3986155</a> is the archive.

[2020-08-16 07:51] csoneson commented on #2353
@whedon set v1.1.0 as version

[2020-08-16 07:51] whedon commented on #2353
OK. v1.1.0 is the version.

[2020-08-16 07:51] csoneson commented on #2353
@skhilton, @huddlej - looks good! I'll hand over to an AEiC for the final steps.

[2020-08-16 07:52] csoneson commented on #2353
@whedon accept

[2020-08-16 07:52] whedon commented on #2353
[code]

[2020-08-16 07:52] whedon commented on #2353
[code]

[2020-08-16 07:52] whedon commented on #2353
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1641

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1641, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-16 07:55] csoneson commented on #2440
👋 @neuromusic - just wanted to check in quickly to see how things are going. Let us know if there are any questions.

[2020-08-16 10:54] ejhigson commented on #2535
Thank you for this @akcochrane! Personally I like to include a line for how to run tests in software install documentation (you can always say running tests is optional). If you want to keep the start of the README high-level and concise then I would be happy for you to include the test instructions elsewhere in the documentation instead if you prefer - up to you.

Although the package seems to ge

[2020-08-16 15:07] akcochrane commented on #2535
Thanks for pointing that out. I'm not super familiar with the intricacies of devtools, but it looks like installing locally (i.e., `install('dir')` includes tests but installing from github (i.e., `install_github('repo')` can't. In that case, it looks like users might need to download the repo and use `devtools::install()` from there.

I'd be happy to hear other suggestions, particularly if there'

[2020-08-16 17:46] mikldk commented on #2388
@hope-data-science I'm not sure if it is v0.9.7 or v0.9.8 that you are aiming to publish? Please ensure that title and authors are the same on Zenodo and the paper.

[2020-08-16 17:49] terrytangyuan commented on #2574
@jonasrauber if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2020-08-16 18:27] akcochrane commented on #2535
@whedon generate pdf

[2020-08-16 18:27] whedon commented on #2535
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02535/joss.02535/10.21105.joss.02535.pdf)

[2020-08-16 18:48] ejhigson commented on #2535
Installing locally with ```devtools::install()``` from a download of the latest version of master from github makes the test run for me! Please can you note this in the documentation somewhere to avoid confusion for users who want to run the tests? I get some errors when I run the tests though due to "undefined columns selected" - do you get these too/do you know why they are occuring?
[code]
Here

[2020-08-16 19:13] akcochrane commented on #2535
I included the suggested instructions (to download and run locally) near the end of the README.

Would you mind trying again with the latest version (TEfits_00.77.09)? Thanks!

[2020-08-16 19:16] Zethson commented on #2558
Hi,

this is the first time that I am reviewing for JOSS, so feel free to tell me if I am doing something wrong.

1. I identified an issue with the installation instructions: https://github.com/egonw/bacting/issues/8 , which were promptly solved.
2. A question regarding the license: https://github.com/egonw/bacting/issues/9
3. Several issues regarding the community guidelines and documentation: ht

[2020-08-16 19:37] akcochrane commented on #2535
It appears as though the issue is a R 4.x incompatibility. I'll let you know when that's fixed.

[2020-08-16 19:49] ejhigson commented on #2535
Ok great thank you. The docs look good so once the tests are fixed I am happy to recomend this paper for publication. For reference the error messages I get with v00.77.09 look the same:

[code]
Session info:
[code]

[2020-08-16 21:30] danielskatz commented on #2532
@biboyd - sorry this is taking longer than expected to find a second reviewer - I'm still working on it

[2020-08-16 21:32] danielskatz commented on #2532
👋 @namurphy & @marcocamma - I'm just checking with you again to see if one of you would be able to review this submission

[2020-08-16 21:36] akcochrane commented on #2535
Evidently I'd accidentally left a necessary dependency on a package that I'd meant to be optional. That bug should be fixed now, and the tests should run.

[2020-08-16 21:36] danielskatz commented on #2532
👋 @cwchurchill-DrQSO, @gkacprzak, MTMurphy77 - would one of you be willing to review this submission to JOSS? You were suggested by a colleague at CfA.

If you're not familiar with JOSS's review style/guidelines, we are basically checklist driven and use GitHub, where reviewers, editors, and authors work openly and iteratively to ideally improve submissions to the point where they can be accepted.

[2020-08-16 21:37] danielskatz commented on #2352
👋 @davidbeckingsale - just checking on the status of your review again

[2020-08-16 21:37] danielskatz commented on #2352
👋 @bhatele - note that the authors are waiting for your response

[2020-08-17 00:26] kinow commented on #2506
We now have documentation on how to build DearScholar, scripts in-place that help others to build in their own environments, and also simple unit tests and some functional tests in BrowserStack (@pmkruyen is writing even more tests now :tada: ).

I am done with the review, the DearScholar app passes all the items in the checklist. I've left performance unchecked as there are no claims about it in

[2020-08-17 01:12] mjsottile commented on #2260
@pratikvn I‘ve looked the reviews over and we’re mostly done.  The only remaining request that I have is that you update your bibliography entries for some software packages.  For example, the Eigen package authors provide a BiBTeX entry for citing their work (http://eigen.tuxfamily.org/index.php?title=BibTeX).  PetSc as well (https://www.mcs.anl.gov/petsc/documentation/referencing.html).  SuiteSp

[2020-08-17 01:32] majensen commented on #2044
@scwest Can you ping here? Thanks.

[2020-08-17 01:34] majensen commented on #1942
@benjaminbolling Have you been able to take care of benjaminbolling/DynaGUI#3 per @pythonpanda2 ?

[2020-08-17 01:36] majensen commented on #2558
Looks good to me @Zethson - onward!

[2020-08-17 01:55] oliviaguest commented on #2523
@whedon re-invite @cmparlettpelleriti as reviewer

[2020-08-17 01:55] whedon commented on #2523
OK, the reviewer has been re-invited.

@cmparlettpelleriti please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-17 02:08] scwest commented on #2044
Yes! Sorry. Expect an update this week.

On Sun, Aug 16, 2020 at 8:32 PM Mark Jensen <notifications@github.com>
wrote:

[2020-08-17 02:08] hope-data-science commented on #2388
@mikldk  When I submit the draft, the software is at the v0.9.7. But after the revision, I submit is again on CRAN and it leaps to v0.9.8. I am not sure which version should the draft belong, is there a routine way to provide it?

[2020-08-17 02:32] majensen commented on #2556
@amoeba @jdbaugher I've finally reviewed the [license](https://github.com/CFSAN-Biostatistics/SeroTools/blob/master/LICENSE).

First, I state that I am not an attorney, and the following is merely an interpretation based the question of appropriateness for JOSS publication, and does not represent an opinion on any legal matter.

The SeroTools license as presented is not unusual in government-creat

[2020-08-17 02:45] jgostick commented on #2381
@merrygoat  Here is a list of what to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here.
- [ ] Make sure that the title and author list (i

[2020-08-17 03:29] amoeba commented on #2556
Thanks for diving into this, @majensen. Your analysis seems reasonable to me so I'll go ahead and check this off. At this point my review is nearly an Accept and just waits on @jdbaugher's last changes Re: https://github.com/CFSAN-Biostatistics/SeroTools/issues/1. Will keep you updated.

[2020-08-17 04:13] kyleniemeyer commented on #2574
@whedon assign @terrytangyuan as editor

[2020-08-17 04:13] whedon commented on #2574
OK, the editor is @terrytangyuan

[2020-08-17 04:14] kyleniemeyer commented on #2574
@openjournals/dev any ideas about this author footnote issue?

[2020-08-17 04:18] kyleniemeyer commented on #2572
@whedon generate pdf from branch joss

[2020-08-17 04:18] whedon commented on #2572
[code]

[2020-08-17 04:19] whedon commented on #2572
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02572/joss.02572/10.21105.joss.02572.pdf)

[2020-08-17 04:24] cMadan commented on #2506
@kinow, that sounds great, yes, you're all done here. Thank you for the thorough review!

@pmkruyen, I have sent an email to @gcdeshpande to remind him about this review.

[2020-08-17 04:25] cMadan commented on #2166
Fyi. I just sent an email to remind @gkiar and @yarikoptic about this review.

[2020-08-17 04:27] hvgazula commented on #2166
Thank you very much.

[2020-08-17 04:34] bhatele commented on #2352
@danielskatz @diehlpk I read the software paper. I believe these two things from the list of requirements above are missing:
1. The paper does not have a clear statement of need -- what problems is this software designed to solve (note that the paper lists the benefits of using the software)
2. Even though the paper has list of AMT's that are similar, it does not provide how this software compares

[2020-08-17 04:45] kyleniemeyer commented on #2448
@whedon accept deposit=true

[2020-08-17 04:45] whedon commented on #2448
[code]

[2020-08-17 04:46] whedon commented on #2448
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1295220312028717057) 👈 🐦🐦🐦

[2020-08-17 04:46] whedon commented on #2448
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1642
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02448](https://doi.org/10.21105/joss.02448)
2. If everything looks g

[2020-08-17 04:53] kinow commented on #2506
Thanks @cMadan !

[2020-08-17 05:05] kyleniemeyer commented on #1992
Hi @Sulstice, I'm doing some final review steps—can you add more info to the RDKit citation? It looks like you can add either a DOI for the most recent version (https://zenodo.org/record/3981263), or for all versions (10.5281/zenodo.591637)

[2020-08-17 05:20] egonw commented on #2558
Regarding the license question, I also replied in the issue tracker, but here copy it here for convenience: There is a lot of code being reused, a good bit of which has not been written by me, but other Bioclipse developers. I cannot change the license. But I like the suggestion and will look into the (dis)advantages and discuss those with all original authors.

[2020-08-17 05:56] kyleniemeyer commented on #2353
@whedon accept deposit=true

[2020-08-17 05:56] whedon commented on #2353
[code]

[2020-08-17 05:57] whedon commented on #2353
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1295238290866667520) 👈 🐦🐦🐦

[2020-08-17 05:57] whedon commented on #2353
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1643
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02353](https://doi.org/10.21105/joss.02353)
2. If everything looks g

[2020-08-17 05:57] kyleniemeyer commented on #2448
Congrats @cicirello on your article's publication in JOSS!

Many thanks to @nnadeau and @mbdemoraes for reviewing this, and @galessiorob for editing.

[2020-08-17 05:57] #2448 closed

[2020-08-17 05:57] whedon commented on #2448
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02448/status.svg)](https://doi.org/10.21105/joss.02448)

**We need your help!**

Journal of Open Source Softwa

[2020-08-17 06:00] kyleniemeyer commented on #2353
Congrats @skhilton on your article's publication in JOSS!

Many thanks to @afrubin, @andrefaure, and @thorvere for reviewing this, and @csoneson for editing it.

[2020-08-17 06:00] #2353 closed

[2020-08-17 06:00] whedon commented on #2353
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02353/status.svg)](https://doi.org/10.21105/joss.02353)

**We need your help!**

Journal of Open Source Softwa

[2020-08-17 06:08] pmkruyen commented on #2506
Hi @cMadan,

I really appreciated @kinow's constructive and pleasant input, questions, and help (he even constructed a docker file for the project to automate the installation). He helped me to push the project to another level! I learned a lot from him and hope we stay connected and and he stays connected to the project in some way. 👍

Peter

PS. And thanks for sending a reminder to @gcdeshpande,

[2020-08-17 06:13] kyleniemeyer commented on #2543
Hi @KMountris, the JOSS editorial board considered your submission, and we have decided that the software is too minor for JOSS to review—see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. (This is not a statement about the usefulness of your software.) We encourage you to consider JOSS at a later time if more effort and code goes into this software, or alterna

[2020-08-17 06:13] kyleniemeyer commented on #2543
@whedon reject

[2020-08-17 06:13] whedon commented on #2543
Paper rejected.

[2020-08-17 06:13] #2543 closed

[2020-08-17 06:17] kyleniemeyer commented on #2541
Hello @justinwang97, the JOSS editorial board considered your submission, and we have decided that the software does not meet our requirement for substantial scholarly effort—see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. (This is not a statement about the usefulness of your software.) We encourage you to consider publishing the software to Zenodo to get a

[2020-08-17 06:18] kyleniemeyer commented on #2541
@whedon reject

[2020-08-17 06:18] whedon commented on #2541
Paper rejected.

[2020-08-17 06:18] #2541 closed

[2020-08-17 06:20] kyleniemeyer commented on #2547
Hello @dlrbf, the JOSS editorial board considered your submission, and we have decided that the software is too minor for JOSS to review—see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. (This is not a statement about the usefulness of your software.) We encourage you to consider JOSS at a later time if more effort and code goes into this software, or alternat

[2020-08-17 06:20] kyleniemeyer commented on #2547
@whedon reject

[2020-08-17 06:20] whedon commented on #2547
Paper rejected.

[2020-08-17 06:20] #2547 closed

[2020-08-17 06:46] tabe commented on #2331
Dear @dawbarton,

Thank you very much for your constructive comments.

Added sentences about requiring gnuplot in INSTALL.org and PORTABILITY.org.

Improved the introductory part in README and the user guide.

We will publish a community guidelines soon.  I've filed an issue to work: https://github.com/flintproject/Flint/issues/21

So far we've wondered automated tests through wxWidgets' wxUIActio

[2020-08-17 07:19] mikldk commented on #2388
@whedon set 10.5281/zenodo.3970861 as archive

[2020-08-17 07:19] whedon commented on #2388
OK. <a href="https://doi.org/10.5281/zenodo.3970861" target="_blank">10.5281/zenodo.3970861</a> is the archive.

[2020-08-17 07:19] mikldk commented on #2388
@whedon set v0.9.8 as version

[2020-08-17 07:19] whedon commented on #2388
OK. v0.9.8 is the version.

[2020-08-17 07:20] mikldk commented on #2388
@hope-data-science Please fix title etc. at Zenodo so that they match the paper's.

[2020-08-17 08:10] pratikvn commented on #2260
@whedon check references from branch joss-paper

[2020-08-17 08:10] whedon commented on #2260
[code]

[2020-08-17 09:01] ejhigson commented on #2535
@akcochrane thank you very much for fixing this! The tests now all pass for me.

I am happy to recommend this paper for publication in JOSS. Congratulations on a nice software package!

[2020-08-17 09:20] jni commented on #2511
@whedon start review

[2020-08-17 09:20] whedon opened #2578 "[REVIEW]: Off-resonance CorrecTion OPen soUrce Software (OCTOPUS)"
**Submitting author:** @imr-framework (<a href="http://orcid.org/0000-0002-1141-2049">Marina Manso Jimeno</a>)
**Repository:** <a href="https://github.com/imr-framework/OCTOPUS" target ="_blank">https://github.com/imr-framework/OCTOPUS</a>
**Version:** v1.0.0
**Editor:** @jni
**Reviewers:** @puolival, @emilljungberg
**Archive:** <a href="https://doi.org/10.5281/zenodo.4574444" target="_blank">10.5

[2020-08-17 09:21] whedon commented on #2511
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2578.

[2020-08-17 09:21] #2511 closed

[2020-08-17 09:21] whedon commented on #2578
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @puolival it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-08-17 09:21] whedon commented on #2578
[code]

[2020-08-17 09:21] whedon commented on #2578
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02578/joss.02578/10.21105.joss.02578.pdf)

[2020-08-17 09:24] jni commented on #2578
@imr-framework @puolival fyi I'm having a bit of trouble finding a second reviewer, so I've decided to start the review early and add the second reviewer manually when I find them.

@puolival thank you again for agreeing to review, please see above for review instructions and a checklist, and please ping me if you have any queries at all!

[2020-08-17 09:31] trallard commented on #2404
@whedon set 10.5281/zenodo.3979649 as archive

[2020-08-17 09:31] whedon commented on #2404
OK. <a href="https://doi.org/10.5281/zenodo.3979649" target="_blank">10.5281/zenodo.3979649</a> is the archive.

[2020-08-17 09:31] trallard commented on #2404
@whedon set v0.1.2 as version

[2020-08-17 09:31] whedon commented on #2404
OK. v0.1.2 is the version.

[2020-08-17 09:32] trallard commented on #2404
@whedon accept

[2020-08-17 09:32] whedon commented on #2404
[code]

[2020-08-17 09:32] whedon commented on #2404
[code]

[2020-08-17 09:32] whedon commented on #2404
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1644

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1644, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-17 09:33] trallard commented on #2404
@cadop Thanks all seems in order. I have proceeded and completed my editorial duties. The Editor in Chief will take from here for acceptance.

Thanks everyone for your patience in these busy times and your contribution is much appreciated.

[2020-08-17 09:34] trallard commented on #2562
/ooo from August 17 to September 2

[2020-08-17 10:01] arfon commented on #2245
@whedon add @phtomlins as reviewer

[2020-08-17 10:01] whedon commented on #2245
OK, @phtomlins is now a reviewer

[2020-08-17 10:19] arfon commented on #2245
:wave: @dntrinca @DanNixon @brandondube - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-08-17 10:21] arfon commented on #2245
@phtomlins - while we're waiting to find a second reviewer, feel free to familiarize yourself with the JOSS reviewer guidelines https://joss.readthedocs.io/en/latest/reviewer_guidelines.html . Once we have a second reviewer, I'll go ahead and set up the actual review.

[2020-08-17 10:43] will-moore commented on #2570
@jni I'd be happy to review this.
Not reviewed for JOSS before, so might need some pointers...

[2020-08-17 11:06] puolival commented on #2578
@jni The URL for accepting the invitation (2. item on reviewer instruction list) doesn't work for some reason. I get the error message "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account".

[2020-08-17 11:25] dfm commented on #2540
@htjb: Just a quick update here. I'm still working on finding reviewers and I'll keep you posted as I do. Sorry for the delay and thanks for your patience!

[2020-08-17 11:43] Sulstice commented on #1992
@kyleniemeyer Done :) I added the DOI for all versions and in the docs a `RDKit 2019.09.1+` -> ran tests on latest RDKit 2020 release and passing.

[2020-08-17 11:47] lpantano commented on #2560
@bernatgel, @naumenko-sa, would you be interested in reviewing this tool?

[2020-08-17 12:03] mattwthompson commented on #2373
The installation issues I encountered earlier are in a closed issue; I'll raise the others now

[2020-08-17 12:09] pratikvn commented on #2260
@whedon generate pdf from branch joss-paper

[2020-08-17 12:09] whedon commented on #2260
[code]

[2020-08-17 12:10] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-08-17 12:13] jni commented on #2570
Awesome, thank you so much, @will-moore!

This is actually my second review as editor, but thankfully the JOSS process well documented, essentially:
- read the reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
- read the review criteria: https://joss.readthedocs.io/en/latest/review_criteria.html
- work your way through the checklist, which will also appear in

[2020-08-17 12:13] jni commented on #2570
@whedon assign @will-moore as reviewer

[2020-08-17 12:13] whedon commented on #2570
OK, @will-moore is now a reviewer

[2020-08-17 12:15] jni commented on #2570
@whedon add @sofroniewn as reviewer

@sofroniewn, thanks for agreeing to review, and please see my [comment above](https://github.com/openjournals/joss-reviews/issues/2570#issuecomment-674845258) for a summary of the JOSS review process!

[2020-08-17 12:15] whedon commented on #2570
OK, @sofroniewn is now a reviewer

[2020-08-17 12:15] jni commented on #2570
@whedon start review

[2020-08-17 12:15] whedon opened #2579 "[REVIEW]: Minerva: a light-weight, narrative image browser for multiplexed tissue images"
**Submitting author:** @thejohnhoffer (<a href="http://orcid.org/0000-0002-5877-4266">John Hoffer</a>)
**Repository:** <a href="https://github.com/labsyspharm/minerva-story" target ="_blank">https://github.com/labsyspharm/minerva-story</a>
**Version:** 1.0.0
**Editor:** @jni
**Reviewer:** @will-moore, @sofroniewn
**Archive:** <a href="https://doi.org/10.5281/zenodo.4088741" target="_blank">10.5281

[2020-08-17 12:15] whedon commented on #2570
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2579.

[2020-08-17 12:15] #2570 closed

[2020-08-17 12:15] whedon commented on #2579
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @will-moore, @sofroniewn it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-08-17 12:16] whedon commented on #2579
[code]

[2020-08-17 12:16] whedon commented on #2579
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02579/joss.02579/10.21105.joss.02579.pdf)

[2020-08-17 12:18] jni commented on #2579
btw @sofroniewn @will-moore feel free to ping me with any questions about the process!

[2020-08-17 12:20] jni commented on #2578
Hmm, @arfon @lpantano any ideas?

[2020-08-17 12:21] jni commented on #2578
(@puolival sorry about that! :grimacing: :construction: :grimacing: hold please!)

[2020-08-17 12:34] htjb commented on #2540
@dfm No problem, thank you for the update!

[2020-08-17 12:39] fboehm commented on #2521
@jacobsoj - I just wanted to ask if you have any questions about the review process. Please feel free to check the boxes as you examine the package and manuscript. Thanks again!

[2020-08-17 12:40] pratikvn commented on #2260
@whedon check references from branch joss-paper

[2020-08-17 12:40] whedon commented on #2260
[code]

[2020-08-17 12:40] pratikvn commented on #2260
@whedon generate pdf from branch joss-paper

[2020-08-17 12:40] whedon commented on #2260
[code]

[2020-08-17 12:40] hope-data-science commented on #2388
@mikldk Thanks. Done as suggested. Please find it in <https://zenodo.org/record/3970861>.

[2020-08-17 12:41] whedon commented on #2260
PDF failed to compile for issue #2260 with the following error:

 error: pathspec 'joss-paper' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-08-17 12:41] whedon commented on #2260
[code]

[2020-08-17 12:44] pratikvn commented on #2260
@mjsottile , thank you for pointing that out. I have added the proper citations for the references. I could not find any citation guides for `gflags`, `gtest` and `sonarcloud` and hence I left the github repository links in for them. For Trilinos, I had to adapt a bit as their citation format does not seem to work well atleast for the markdown setup here.

[2020-08-17 12:45] arfon commented on #2578
@whedon re-invite @puolival as reviewer

[2020-08-17 12:45] whedon commented on #2578
OK, the reviewer has been re-invited.

@puolival please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-17 12:45] pratikvn commented on #2260
@whedon generate pdf from branch joss-paper

[2020-08-17 12:45] whedon commented on #2260
[code]

[2020-08-17 12:46] arfon commented on #2578
@puolival @jni - not sure what went wrong there. @puolival - could you try clicking the link above again now?

[2020-08-17 12:46] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-08-17 12:51] danielskatz commented on #2532
👋 @zpace  - would you be willing to review this JOSS submission?

[2020-08-17 12:52] szhorvat commented on #2165
I have not been able to find the time to finish implementing a complete model, but I have tried the existing models, and I think I have seen enough to complete the review. _I support publication in JOSS._

----

Some soft comments for the authors, which I hope will be helpful to make improvements:

I found the learning curve to be quite steep. The general impression I got is that this feels like a

[2020-08-17 12:53] szhorvat commented on #2165
@arfon I completed the review and support publication.

[2020-08-17 12:54] puolival commented on #2578
@arfon @jni It worked now and I got a message saying that I was granted push access. Thanks!

[2020-08-17 13:01] stheid commented on #2435
@gonsie Thank you for your review. We will discuss it this friday in our team and try to also find a solution for mac, but it will probably be impossible to provide lasting OSX support as our group does not have regular access to a Mac.

In general it is possible to use FMI on Mac, but the precompiled FMUs provided by us are only built for Linux and Windows as we have not mac available and didn't

[2020-08-17 13:07] cadop commented on #2404
Thank you @trallard

[2020-08-17 13:09] chainsawriot commented on #2461
@whedon generate pdf

[2020-08-17 13:10] whedon commented on #2461
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02461/joss.02461/10.21105.joss.02461.pdf)

[2020-08-17 13:14] chainsawriot commented on #2461
Dear Professor O'Donnell (@mbod) & @kakiac ,

I have made a minor update to the manuscript to reflect the changes in the bibliography (A cited paper is no longer "in press"). I hope it can facilitate the review. Thank you very much!

Regards,
Chung-hong Chan

[2020-08-17 13:37] sahilseth commented on #2534
Sure I can review, thanks

[2020-08-17 13:45] daviddewhurst commented on #2526
See completed review (except for two bullet point) and corresponding two issues on repo.

[2020-08-17 13:46] sjpfenninger commented on #2171
@jordanperr I still see v1.1 in the master branch, are you sure it's been merged?

[2020-08-17 13:48] sjpfenninger commented on #2480
Thanks @antviro for completing your review, can you confirm here if you are happy with the changes @kegiljarhus made in response to your comments?

[2020-08-17 13:49] sjpfenninger commented on #2480
Thanks @rafmudaf for keeping this moving. Can you confirm here once you are done with your review?

[2020-08-17 13:51] sjpfenninger commented on #2475
@mlxd No worries and thanks for the rapid response

[2020-08-17 14:10] arfon commented on #2245
@whedon add @jdavidli as reviewer

[2020-08-17 14:10] whedon commented on #2245
OK, @jdavidli is now a reviewer

[2020-08-17 14:10] arfon commented on #2245
@whedon start review

[2020-08-17 14:10] whedon opened #2580 "[REVIEW]: Open Source Optical Coherence Tomography Software"
**Submitting author:** @spectralcode (<a href="http://orcid.org/0000-0002-4494-6127">Miroslav Zabic</a>)
**Repository:** <a href="https://github.com/spectralcode/OCTproZ" target ="_blank">https://github.com/spectralcode/OCTproZ</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @jdavidli, @brandondube
**Archive:** <a href="https://doi.org/10.5281/zenodo.4148992" target="_blank">10.5281/zeno

[2020-08-17 14:10] whedon commented on #2245
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2580.

[2020-08-17 14:10] #2245 closed

[2020-08-17 14:11] whedon commented on #2580
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @phtomlins, @jdavidli it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-08-17 14:11] whedon commented on #2580
[code]

[2020-08-17 14:11] arfon commented on #2245
@phtomlins, @jdavidli - thanks for agreeing to review this submission. See you over in #2580 where the actual review will take place.

[2020-08-17 14:11] whedon commented on #2580
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02580/joss.02580/10.21105.joss.02580.pdf)

[2020-08-17 14:12] arfon commented on #2580
@phtomlins, @jdavidli - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-08-17 14:27] diehlpk commented on #2352
@bhatele  we have already following high-level statement

[code]

I would say that providing more details would go to deep in the implementation specifics of HPX and other distributed AMTs and might not appropriate for this paper. Can you please let us know how deep we should go for the comparison?

[2020-08-17 14:28] Maghnuso commented on #2556
Thanks @amoeba and @majensen for identifying and resolving the potential issues of substantial scholarly effort and whether or not the license requirement has been met. I concur on both as they currently stand. My apologies too for joining the process a little late, planning to evaluate SeroTools today and tomorrow. Best, Maghnus

[2020-08-17 14:45] pratikvn commented on #2260
I believe the doi of this submission is already set (10.21105/joss.02260) . Do I put that in while creating a new upload on Zenodo ?

[2020-08-17 15:03] kthyng commented on #2425
Excellent @gmaze!

@dhruvbalwada, @DamienIrving I see that you have both spoken highly of this package and think the review is nearly complete. Could you each review the final work from @gmaze and confirm if you are satisfied?

[2020-08-17 15:14] LukasAdamowicz commented on #2449
https://zenodo.org/record/3988351

DOI: 10.5281/zenodo.3988351

[2020-08-17 15:25] jacobsoj commented on #2521
Sorry for the delay. I am one of those people juggling work and young kids w/o daycare. I should be able to finish going through the package today and submit my review by tomorrow.
Jill

Jill A. Jacobson, Ph.D. Office Phone  613-533-2847
Associate Professor, Social-Personality Program
Lab Phone 613-533-6000 x75417
Queen's University      FAX  613-533-2499
Department of Psychology        Email  jil

[2020-08-17 15:28] arfon commented on #2165
Perfect, thanks @szhorvat! @peanutfun - there's some [thoughtful feedback](https://github.com/openjournals/joss-reviews/issues/2165#issuecomment-674862947) from @szhorvat above. Please let me know when you've had a chance to digest and respond.

[2020-08-17 15:29] pratikvn commented on #2260
@mjsottile , please give us a few more days to merge some of the related pull requests and create a tag for upload on Zenodo. I will ping you here as soon as I have the Zenodo DOI for you.

[2020-08-17 15:39] szhorvat commented on #2165
To avoid any misunderstanding, I wrote the feedback in the hope that it might be useful to the authors. There is no deal-breaker here, and I do recommend publication. Everything I tried worked as advertised. Clearly, a lot of work went into building Utopia, and there is value in this system. However, at the moment, the greatest weakness seems to be that the cost of starting to use the system (for

[2020-08-17 16:08] jordanperr commented on #2171
Looks like it's been merged to me: https://github.com/NREL/OpenOA/blob/25960a95656197216a2dff8f4c990bde9d7b7146/operational_analysis/__init__.py#L1

As a reminder, the paper has not yet been updated.

[2020-08-17 16:31] brandondube commented on #2245
👋 @arfon @spectralcode I can perform this review.  I do not think it constitutes COI, but I am an alumni ('18) of a group that does research on OCT, e.g. [a recent publication](https://www.osapublishing.org/oe/abstract.cfm?uri=oe-28-14-19937&origin=search).  I never worked in any depth on any of the OCT stuff.

[2020-08-17 16:35] arfon commented on #2245
Great, thanks @brandondube. I'd love to have you as a third reviewer. I'll go ahead and add you to #2580 now.

[2020-08-17 16:35] arfon commented on #2580
@whedon add @brandondube as reviewer

[2020-08-17 16:35] whedon commented on #2580
OK, @brandondube is now a reviewer

[2020-08-17 16:36] kbarnhart commented on #2568
@kyleniemeyer I'd be happy to handle this.

@elbeejay thanks for this submission and for the proposed reviewers. I'll start the process of requesting reviewers in the next 2-3 days. Between then and now I'll do my standard pre-review look through the submission and get you any associated feedback.

[2020-08-17 16:36] kbarnhart commented on #2568
@whedon assign @kbarnhart as editor

[2020-08-17 16:36] whedon commented on #2568
OK, the editor is @kbarnhart

[2020-08-17 16:47] cmparlettpelleriti commented on #2523
Thanks for your patience waiting for my review, I thought this was a beautifully organized paper and repository. As someone who doesn't do a ton of causal modeling, I still found it relatively easy to follow. You got me excited to do more causal modeling!

Some minor fixes:

**In the main example file:** Under Distributions of Scaled Test Scores the x axis labels might be incorrect (they still say

[2020-08-17 16:49] tkonolige commented on #2131
@poulson I'm new to the joss community, so I don't know anyone who make a good reviewer.

[2020-08-17 16:57] kyleniemeyer commented on #2190
Hi @CarstenCroonenbroeck, I'm sorry for the continued delay here—this fell off my radar.

The JOSS editorial board evaluated your submission, and while we do find it in scope for the journal, your package needs some additional work before we solicit reviewers. In particular, it seems to be missing a number of the elements that JOSS looks for:
- There is minimal documentation, including even a READ

[2020-08-17 17:06] ronikobrosly commented on #2523
Thanks so much for the review and the kind words @cmparlettpelleriti 😄 ! Ok I'll look into your comments ASAP and let you know here how I fixed them.

[2020-08-17 17:07] oliviaguest commented on #2377
@teamPSG if @Emma-k-ward doesn't get back to us by next week, I'll email her. Thank you for your patience.

[2020-08-17 17:07] oliviaguest commented on #2377
@whedon remind @Emma-k-ward in 1 week

[2020-08-17 17:07] whedon commented on #2377
Reminder set for @Emma-k-ward in 1 week

[2020-08-17 17:08] bstabler commented on #2572
@kyleniemeyer - yes, I'm happy to edit it.  It looks like an interesting toolbox.

[2020-08-17 17:13] mikldk commented on #2388
@whedon accept

[2020-08-17 17:13] whedon commented on #2388
[code]

[2020-08-17 17:13] whedon commented on #2388
[code]

[2020-08-17 17:14] whedon commented on #2388
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1645

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1645, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-17 17:14] matbesancon commented on #2564
1. Comparisons

I took a preliminary look at the paper, it would be interesting to compare the features with other optimization packages including solvers like Ipopt, SCIP and their Python bindings and solver-agnostic modelling languages like Pyomo or JuMP.
Is PyOpt more a solving or modeling package. If it is of the latter, what solvers are currently supported and how easy is it to switch between

[2020-08-17 17:15] huddlej commented on #2353
@csoneson Thank you for all of your help with this review process! I just noticed a minor issue in the author list on the right-hand navigation of the paper's page (https://joss.theoj.org/papers/10.21105/joss.02353) where my name is listed as "John Huddleston$". I think this has to do with the Latex code I added to place an asterisk next to my name.

Is it possible to change this to remove the "$"

[2020-08-17 17:15] mikldk commented on #2534
@whedon assign @sahilseth as reviewer

[2020-08-17 17:15] whedon commented on #2534
OK, @sahilseth is now a reviewer

[2020-08-17 17:16] mikldk commented on #2534
We still need one reviewer. I have tried quite a few. @bblodfon, do you have any suggestions?

[2020-08-17 17:27] kyleniemeyer commented on #2572
@whedon assign @bstabler as editor

[2020-08-17 17:27] whedon commented on #2572
OK, the editor is @bstabler

[2020-08-17 17:30] kyleniemeyer commented on #1992
@whedon generate pdf

[2020-08-17 17:31] whedon commented on #1992
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01992/joss.01992/10.21105.joss.01992.pdf)

[2020-08-17 17:31] kyleniemeyer commented on #1992
@Sulstice thanks! looks good

[2020-08-17 17:31] kyleniemeyer commented on #1992
@whedon accept deposit=true

[2020-08-17 17:31] whedon commented on #1992
[code]

[2020-08-17 17:32] whedon commented on #1992
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1295413280555651073) 👈 🐦🐦🐦

[2020-08-17 17:32] whedon commented on #1992
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1646
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01992](https://doi.org/10.21105/joss.01992)
2. If everything looks g

[2020-08-17 17:39] vchuravy commented on #2131
@poulson Since both BA and Rust are outside of my expertise I don't think I would make a good reviewer.

[2020-08-17 17:44] kyleniemeyer commented on #1992
Congrats @Sulstice on your article's publication in JOSS!

Many thanks to @olivertomic and @richardjgowers for reviewing this, and @csoneson for editing.

[2020-08-17 17:44] #1992 closed

[2020-08-17 17:44] whedon commented on #1992
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01992/status.svg)](https://doi.org/10.21105/joss.01992)

**We need your help!**

Journal of Open Source Softwa

[2020-08-17 18:01] teamPSG commented on #2377
Thank you very much @oliviaguest! I was actually planning to ask you tomorrow is there is any deadline or targeted maximal length of a review. Also, what happens if a reviewer becomes silent during a review (anything might happen these days :mask:) -- like, can you make an editorial decision on publishing | rejecting a paper if one the reviewers doesn't finalize their review for a long time? But O

[2020-08-17 18:10] hkaiser commented on #2352
We thought that paragraph 4 (the one starting with
[code]
) would be sufficient. But I will try to sharpen this to emphasize the goal of HPX.

[2020-08-17 18:28] nwu63 commented on #2564
Hi Mathieu, thanks for taking your time to do this review.

1. pyOptSparse is a wrapper for several popular optimizers, with a particular focus on large-scale nonlinear programming of continuous variables. As such, it is closer to frameworks such as pyomo and scipy, where the optimization problem is defined in a particular syntax and pyOptSparse performs the conversion to the specific form require

[2020-08-17 18:29] gkiar commented on #2166
I have updated my review. The only remaining piece from my perspective is the addition of issue guidelines and PR templates for contributors and users, fitting the description provided in the review template above.

[2020-08-17 18:32] ronikobrosly commented on #2523
@cmparlettpelleriti , quick question for you: Would you mind telling me what version of `scipy` you're using? Maybe the easiest way to find out would be to type `pip freeze` in the terminal within your virtual environment.

[2020-08-17 18:35] kyleniemeyer commented on #2353
@openjournals/dev can you help @huddlej update the paper?

[2020-08-17 18:42] danielskatz commented on #2352
@hkaiser - You might think of this the other way around: not what is the goal of HPX, but what is the goal of users of HPX that HPX satisfies.

[2020-08-17 18:57] ritagnunes commented on #2527
I really enjoyed being able to run the Tutorial on Google Colaboratory. That was a really nice addition!
It will be very helpful for potential/new users to have a quick grasp of the implemented software features.

Also, the provided examples make it easy to verify the requirement of simulating a high number of random walkers to match the theoretical predictions motivating the need for this softwar

[2020-08-17 19:13] lorenanicole commented on #2316
@whedon set 10.5281/zenodo.3986628 as archive

[2020-08-17 19:13] whedon commented on #2316
OK. <a href="https://doi.org/10.5281/zenodo.3986628" target="_blank">10.5281/zenodo.3986628</a> is the archive.

[2020-08-17 19:14] lorenanicole commented on #2316
@whedon set v0.14.0 as version

[2020-08-17 19:14] whedon commented on #2316
OK. v0.14.0 is the version.

[2020-08-17 19:14] lorenanicole commented on #2316
@whedon accept

[2020-08-17 19:14] whedon commented on #2316
[code]

[2020-08-17 19:15] whedon commented on #2316
[code]

[2020-08-17 19:15] whedon commented on #2316
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1647

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1647, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-17 19:16] lorenanicole commented on #2316
@blsqr feel free to review https://github.com/openjournals/joss-reviews/issues/2316#issuecomment-675062999 as well!

[2020-08-17 19:17] lorenanicole commented on #2530
OK, that works @onurvarol !

[2020-08-17 19:20] lorenanicole commented on #2530
@nhejaz, your name was provided as a possible reviewer for this submission for JOSS. Would you be interested in reviewing?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-08-17 19:21] ronikobrosly commented on #2523
The reason I'm asking @cmparlettpelleriti is I think that older versions of `scipy` give that error. I created a fresh virtual environment, pip installed requirements (including the latest `scipy`), ran notebook, and didn't see the error. I'm running version `1.5.2`.

I'd rather not pin the versions of the dependencies in the `requirements.txt` file but maybe what I could do is specify in the docu

[2020-08-17 19:25] lorenanicole commented on #2530
@rdrr1990, your name was provided as a possible reviewer for this submission for JOSS. Would you be interested in reviewing?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-08-17 19:25] lpantano commented on #2432
Hi @lincoln-harris,

Any update on the latest @afrubin's comment?

@betteridiot, any update for this review?

Thanks!

[2020-08-17 20:06] pfeiffea commented on #2341
@kthyng, @ebgoldstein and @zsylvester:

Thank you for your thorough reading and suggestions on the first draft of our submission. We have edited the component, notebooks, and text. The updated version is now published on the main branch of Landlab (v2.2.0): https://github.com/landlab/landlab

Our response to individual comments are included below.

**A)** Computational Replication / Comparison to

[2020-08-17 20:29] galessiorob commented on #2449
@whedon set v1.1.2 as version

[2020-08-17 20:29] whedon commented on #2449
OK. v1.1.2 is the version.

[2020-08-17 20:30] galessiorob commented on #2449
@whedon set 10.5281/zenodo.3988351 as archive

[2020-08-17 20:30] whedon commented on #2449
OK. <a href="https://doi.org/10.5281/zenodo.3988351" target="_blank">10.5281/zenodo.3988351</a> is the archive.

[2020-08-17 20:30] galessiorob commented on #2449
@whedon generate pdf

[2020-08-17 20:31] whedon commented on #2449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02449/joss.02449/10.21105.joss.02449.pdf)

[2020-08-17 20:47] galessiorob commented on #2449
@whedon accept

[2020-08-17 20:47] whedon commented on #2449
[code]

[2020-08-17 20:47] whedon commented on #2449
[code]

[2020-08-17 20:48] whedon commented on #2449
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1648

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1648, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-17 20:51] galessiorob commented on #2449
@LukasAdamowicz  could you please give this last version a final proofread? An editor in chief will take it from here and get it published now ✨

[2020-08-17 20:53] diehlpk commented on #2559
@tbrown122387 Do you have some reviewers in mind?

[2020-08-17 21:04] betteridiot commented on #2432
Yes, tomorrow I will drop all my notes on the Issues page.

[2020-08-17 21:11] gonsie commented on #2435
Thanks @stheid. Perhaps a container image could be made available?

In any case, I’m sure that @katyhuff ‘s review covers most of the issues with actually running the software.

[2020-08-17 21:23] barentsen commented on #2382
I completed my review and am happy for `catwoman` to be accepted by JOSS. :+1:

For future versions, I would encourage the authors to consider the following improvements:
* Add one or more automated unit tests.
* Expand the documentation to include more details on the following topics:
  * How to build the package from source.
  * How to contribute to the project.
  * Ideas for future improvements

[2020-08-17 21:41] diehlpk commented on #2559
Hi @pboesu @ziotom78 @zhampel @nespinoza @williamjameshandley @adavidzh @andremrsantos @fpl  would you be interested in reviewing this paper for JOSS?

[2020-08-17 22:13] DamienIrving commented on #2425
I'm satisfied :smile:

[2020-08-17 22:46] skhilton commented on #2353
@csoneson, @kyleniemeyer: Could we also change the link software repository link from https://github.com/jbloomlab/dms-view-ms to https://github.com/dms-view/dms-view.github.io/. During the review process we moved the manuscript to the main software repository. Thanks!

[2020-08-17 23:19] fboehm commented on #2521
Thanks, @jacobsoj ! I really appreciate your assistance with this.

Just to clarify - JOSS reviews are a little different from those at many journals. You'll want to see which items you can check off in the checklist above as you review the software and manuscript. For any boxes that you can't check right now, you'll want to tell the authors why you can't check the box, ie, what is missing or what

[2020-08-17 23:32] gkacprzak commented on #2532
HI Daniel,

I am sorry, I just don't have the time. With full lockdown in Australia, no daycare, and two full time jobs are making it impossible to do this at this time.
Sorry about that.

Thank you,
Glenn

-----------------------------------------------------------

A/Prof. Glenn G. Kacprzak

Centre for Astrophysics & Supercomputing
Swinburne University of Technology
H29, PO Box 218,
Hawthorn, Vi

[2020-08-17 23:41] bhatele commented on #2352
@diehlpk @hkaiser I thought the need should mention what's missing or challenging to do in the current models (whether bulk synchronous or AMT), and how HPX solves those challenges or "missing" features. I couldn't find this in the current paper, basically "Why HPX?" and not continue to use MPI or whatever model I like.

[2020-08-17 23:44] bhatele commented on #2352
My understand of the comparison was that this would read something like the related work section of a paper, and have statements such as Uintah does X, and Chapel does Y but we do X better and/or provide Z. I'll leave this up to @danielskatz to decide what level of detail should go in this software paper.

[2020-08-17 23:52] cmbiwer commented on #2484
@pibion Okay thanks. I wasn't sure if it was needed to fill out the checklist in the first post. Though, I can post it all here as the previous post.

[2020-08-18 00:02] diehlpk commented on #2352
@bhatele We refer to this comparative review paper about AMTs

Thoman, P., Dichev, K., Heller, T. et al. A taxonomy of task-based parallel programming technologies for high-performance > computing. J Supercomput 74, 1422–1434 (2018). https://doi.org/10.1007/s11227-018-2238-4

and were thinking that we just mention the high-level differences. The interested reader could follow up in this reference

[2020-08-18 00:20] Sulstice commented on #1992
Thank you guys! @csoneson you really helped make this process pretty simple!

[2020-08-18 00:47] tbrown122387 commented on #2559
@diehlpk I don’t have anyone in mind but I’ll do some digging once I get back from vacation.

[2020-08-18 01:31] brandondube commented on #2580
:wave: @spectralcode good news at the start - the 1.2 release opens on my desktop with no issue.  I did not easily find an example file in the repository or referenced in the documentation.  Is there one available to demo the software with?

[2020-08-18 01:32] cMadan commented on #2166
Great, thank you, @gkiar!

[2020-08-18 01:34] cMadan commented on #2506
@pmkruyen @kinow, that's great that you've both enjoyed the process here, that's what we like to hear :).

[2020-08-18 01:57] zpace commented on #2532
Yes, I think I can commit to this.

[2020-08-18 02:05] syasini commented on #2567
Thanks for initiating the review and edit process! Looking forward to your feedback.

[2020-08-18 04:30] cMadan commented on #2535
@ejhigson, thank you for your thorough review!

@akcochrane, you're almost done! Next step is for me to do some final checks.

[2020-08-18 04:31] gschivley commented on #2171
Hey @jordanperr and @sjpfenninger. Sorry for being MIA - I was hoping to get a couple hours this evening but ended up doing emergency toilet repairs instead. Fingers crossed I'll be back on it tomorrow evening.

[2020-08-18 05:49] CarstenCroonenbroeck commented on #2190
Dear Kyle,

thanks a lot for your effort so far. However, I'm a little bit puzzled by some of your comments. Please let me answer to them point-by-point:

- There is minimal documentation, including even a README.

How can you say that? Every exported function, every data object and the package itself has a thorough documentation following the CRAN package policies. Those are the ".Rd" files in th

[2020-08-18 06:14] spectralcode commented on #2580
Hi @brandondube thank you very much for reviewing!
That's great that the software opens without issues. To get a link to a test data set, please have a look at the "Download and Installation" section in the readme.md. The same link can also be found in the quick start guide of the user manual.

[2020-08-18 07:23] arfon commented on #2049
I just sent an email to @zbeekman to ask if they could complete their review in the next couple of weeks.

[2020-08-18 07:36] malouche commented on #2571
Sorry I can’t provide the source code of the project

On Aug 16, 2020, at 8:08 AM, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

@malouche<https://github.com/malouche> - where is the source code for this project please? @whedon<https://github.com/whedon> needs to be able to clone the source repository and https://malouche.github.io/covid19data/ is not a git reposi

[2020-08-18 07:38] arfon commented on #2571
Unfortunately this means we can't review this submission. As per our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

[2020-08-18 07:38] arfon commented on #2571
@whedon reject

[2020-08-18 07:39] whedon commented on #2571
Paper rejected.

[2020-08-18 07:39] #2571 closed

[2020-08-18 07:40] malouche commented on #2571
Thank you

On Aug 18, 2020, at 8:39 AM, whedon <notifications@github.com<mailto:notifications@github.com>> wrote:

Paper rejected.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/openjournals/joss-reviews/issues/2571#issuecomment-675313276>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AECNGEV74FS7X6CFTVYL

[2020-08-18 08:05] sjpfenninger commented on #2171
@jordanperr you are right, the version string is at v2.0; I was only looking at `CHANGELOG.md` which is _not_ updated for v2.0

[2020-08-18 08:14] blsqr commented on #2316
@lorenanicole Looks good to us! 😊

[2020-08-18 08:22] arfon commented on #2287
:wave: @hpparvi - just checking in on when you think you might be able to complete your review by?

[2020-08-18 08:26] hugoledoux commented on #2421
@whedon assign me as editor

[2020-08-18 08:26] whedon commented on #2421
OK, the editor is @hugoledoux

[2020-08-18 08:28] hugoledoux commented on #2421
@jedbrown would you like to review this paper?

[2020-08-18 09:29] hugoledoux commented on #2537
I wasn't aware of QGIS Cloud and the pricing option. So yes it does make sense.

Could you add this somehow to the paper? This seems important, and it positions the paper well wrt to others.

[2020-08-18 09:57] pboesu commented on #2559
@diehlpk Unfortunately I do not have time to review this at the moment.

[2020-08-18 10:33] will-moore commented on #2579
I'm failing at "Is the source code for this software available at the repository url?" for 2 reasons:
 - Seems that all the JS code is minified in https://github.com/labsyspharm/minerva-story/blob/master/_includes/bundle.js and the MinervaStory source code isn't included in the repository
 - Also, half the paper is about https://github.com/labsyspharm/minerva-author so should the checklist above b

[2020-08-18 10:56] cokelaer commented on #2561
@danielskatz not sure how the review works. I have made some  changes to the paper (mostly in moving text in the correct summary/background/statement of need sections) and have now updated the repository accordingly. The latest version of the software (0.4.3)  has also been updated on pypi and the paper.md.

[2020-08-18 12:54] danielskatz commented on #2532
Thanks @zpace  - I'll add you, and we'll start in a new review issue

[2020-08-18 12:54] danielskatz commented on #2532
@whedon add @zpace as reviewer

[2020-08-18 12:54] whedon commented on #2532
OK, @zpace is now a reviewer

[2020-08-18 12:55] danielskatz commented on #2532
@whedon start review

[2020-08-18 12:55] whedon opened #2581 "[REVIEW]: SALSA: A Python Package for Constructing Synthetic Quasar Absorption Line Catalogs from Astrophysical Hydrodynamic Simulations"
**Submitting author:** @biboyd (<a href="http://orcid.org/0000-0002-5419-9751">Brendan Boyd</a>)
**Repository:** <a href="https://github.com/biboyd/SALSA" target ="_blank">https://github.com/biboyd/SALSA</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewer:** @olebole, @zpace
**Archive:** <a href="https://doi.org/10.5281/zenodo.4002067" target="_blank">10.5281/zenodo.4002067</a>

**:warning

[2020-08-18 12:55] whedon commented on #2532
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2581.

[2020-08-18 12:55] #2532 closed

[2020-08-18 12:55] whedon commented on #2581
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @olebole, @zpace it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-08-18 12:55] whedon commented on #2581
[code]

[2020-08-18 12:55] whedon commented on #2581
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02581/joss.02581/10.21105.joss.02581.pdf)

[2020-08-18 12:58] danielskatz commented on #2581
👋 @olebole & @zpace - thanks again for agreeing to review!

This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any item

[2020-08-18 13:10] bblodfon commented on #2534
Hi @mikldk, I do not currently have any specific suggestions. Should we try more people from the volunteers list?

[2020-08-18 13:19] danielskatz commented on #2352
This seems reasonable to me.

[2020-08-18 13:27] iaklampanos commented on #2552
Dear editors, @openjournals/jose-eics, @danielskatz

I am writing this as a gentle reminder. I see this is still in pre-review and as @openjournals/jose-eics does not autocomplete I am wondering whether I've misspelt it. I would greatly appreciate your feedback.

Many thanks in advance

[2020-08-18 13:44] danielskatz commented on #2552
Thanks - the correct address is @openjournals/joss-eics (JOSE is a different journal).  Sorry for my misleading typo.

Also FYI, we have a system of rotating AEiCs, and I am not on duty this week, nor was I last week.

This week's AEiC should be able to work on this.

[2020-08-18 13:47] iaklampanos commented on #2552
Thanks @danielskatz, I realise this, I included you as I wasn't sure who to contact.

[2020-08-18 13:55] adavidzh commented on #2559
I'm afraid I have to sit this one out, @diehlpk. Thank you for asking.

[2020-08-18 14:25] kbarnhart commented on #2341
@whedon check references

[2020-08-18 14:25] kbarnhart commented on #2341
@whedon generate pdf

[2020-08-18 14:26] whedon commented on #2341
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02341/joss.02341/10.21105.joss.02341.pdf)

[2020-08-18 14:35] lskatz commented on #2334
Hi @erinyoung and @lfaller,
I thought I would check in and bring the conversation back to here (although, it was very useful to have the conversation on the SneakerNet site for posterity and for future users!).  Recently, we updated the container and its instructions to address some of your concerns here in this thread, and in a couple of threads over here: https://github.com/lskatz/SneakerNet/iss

[2020-08-18 14:39] kbarnhart commented on #2341
@pfeiffea I just checked the PDF and found a few formatting things to fix (e.g., reference capitalization, @mcflugen's  affiliation was incorrect). Am fixing it and will update here when done.

[2020-08-18 14:47] kbarnhart commented on #2341
@whedon generate pdf from branch barnhark/small_joss_fixes_nst

[2020-08-18 14:47] whedon commented on #2341
[code]

[2020-08-18 14:48] whedon commented on #2341
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02341/joss.02341/10.21105.joss.02341.pdf)

[2020-08-18 15:24] kyleniemeyer commented on #2190
Hi @CarstenCroonenbroeck, while what you did may meet the minimum needs of CRAN, our standards our higher—in fact, one of the reasons JOSS exists is to ensure software follows best, sustainable practices, rather than the minimum of what is necessary to create a package. For R packages, the [rOpenSci developer guide](https://devguide.ropensci.org) is going to be your best resource, rather than the

[2020-08-18 15:28] alexdma commented on #2220
Hi @lorenanicole - yes, sorry for the delay in getting back to you, but I still do not quite understand where and how I am supposed to write my review. Do I have to open an issue here, comment on this one or... what? And where do I go to issue commands to whedon?

[2020-08-18 15:42] jordanperr commented on #2171
@sjpfenninger Oops, that was an oversight. Thanks for catching it. I have updated the changelog to reflect the release of v2.0.0.

[2020-08-18 16:05] jaeyk commented on #2450
@jeffcsauer Done with my part of the review and informed the editor regarding the current status.

[2020-08-18 16:44] nespinoza commented on #2559
Thanks for the invite to review this --- I will have to decline @diehlpk, however.

[2020-08-18 17:02] dfm commented on #2502
@sultanier has agreed to act as the second reviewer. I'll add him and then get the main review started. It will be in a separate issue thread so we'll head over there once `@whedon` gives us the link.

Thanks all and let me know if any of you have questions as the review progresses!

[2020-08-18 17:02] dfm commented on #2502
@whedon add @sultanier as reviewer

[2020-08-18 17:02] whedon commented on #2502
OK, @sultanier is now a reviewer

[2020-08-18 17:02] dfm commented on #2502
@whedon start review

[2020-08-18 17:02] whedon opened #2582 "[REVIEW]: 21cmFAST v3: A Python-integrated C code for generating 3D realizations of the cosmic 21cm signal."
**Submitting author:** @steven-murray (<a href="http://orcid.org/0000-0003-3059-3823">Steven Murray</a>)
**Repository:** <a href="https://github.com/21cmFAST/21cmFAST" target ="_blank">https://github.com/21cmFAST/21cmFAST</a>
**Version:** v3.0.3
**Editor:** @dfm
**Reviewer:** @sambit-giri, @sultan-hassan
**Archive:** <a href="https://doi.org/10.5281/zenodo.4107189" target="_blank">10.5281/zenodo.4

[2020-08-18 17:03] whedon commented on #2502
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2582.

[2020-08-18 17:03] #2502 closed

[2020-08-18 17:03] whedon commented on #2582
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sambit-giri, @sultanier it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-08-18 17:03] whedon commented on #2582
PDF failed to compile for issue #2582 with the following error:

 Can't find any papers to compile :-(

[2020-08-18 17:03] dfm commented on #2582
@whedon generate pdf from branch joss-paper

[2020-08-18 17:03] whedon commented on #2582
[code]

[2020-08-18 17:03] kyleniemeyer commented on #2190
@CarstenCroonenbroeck Also, I would just like to point out that (a) I was stating things that JOSS would expect, and require you to improve upon—you did submit your software package to us for review, after all, with (I hope) the understanding that you would receive constructive feedback to improve it; and (b) your response falls a bit short of our standards laid out in the [JOSS Code of Conduct](h

[2020-08-18 17:04] whedon commented on #2582
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf)

[2020-08-18 17:42] cmparlettpelleriti commented on #2523
@ronikobrosly great suggestion! I was running 1.4.1, I upgraded to 1.5.2 and now got this error. Perhaps a different package that I need to update (I'm not on my normal work computer so things may be out of date; full list copied below)? Sorry about this, it seems like this is more user error than a problem with your code.

I totally agree that you don't want to specify a specific version, I think

[2020-08-18 17:47] ronikobrosly commented on #2523
@cmparlettpelleriti whoops I forgot to mention this yesterday: I actually got this `Expect x to not have duplicates` too yesterday. This is because of a real bug in the code (this line needs to be fixed: https://github.com/ronikobrosly/causal-curve/blob/93f9219b41e3174a14b96a0ebb271da730b92c56/causal_curve/mediation.py#L520). I fixed it locally and it seems to work but I haven't pushed anything to

[2020-08-18 17:57] nhejazi commented on #2530
Unfortunately, I will not be able to provide a timely review at this time due to outstanding commitments and deadlines.

[2020-08-18 18:05] kbarnhart commented on #2341
@whedon generate pdf

[2020-08-18 18:06] whedon commented on #2341
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02341/joss.02341/10.21105.joss.02341.pdf)

[2020-08-18 18:10] kbarnhart commented on #2341
OK @pfeiffea I've fixed the small formatting things (was at landlab/landlab/pull/1235)

[2020-08-18 19:17] steven-murray commented on #2582
Thanks again @sambit-giri and @sultanier for reviewing! And @dfm for editing.

[2020-08-18 19:18] dhruvbalwada commented on #2425
I am also satisfied.

[2020-08-18 20:57] betteridiot commented on #2432
My notes have been posted @lpantano and @lincoln-harris. If they are addressed, then my review will be complete. Sorry for the delay.

[2020-08-18 21:25] jedbrown commented on #2421
If needed (quite busy already with JOSS editing), but perhaps @uvilla or @npetra would be available?

[2020-08-18 22:57] joethorley commented on #2447
@nhejazi and @marcosvital - I've completed my review and I am of the opinion that the authors have satisfied all the requirements for publication in JOSS.

[2020-08-19 00:23] jni commented on #2579
I think this means @thejohnhoffer needs to update the code in the repo to be readable, and include the code for minerva-author somewhere in the submission repo as well, but I hope @lpantano can confirm this or clarify...

[2020-08-19 04:43] bhatele commented on #2352
@danielskatz The authors are working on 1. and that was my last suggestion. Other than that, my review is done. This looks good from my end.

[2020-08-19 08:11] jni commented on #2579
Just got confirmation from @arfon:

- The authors should unminify all code for review, though that bundle might be external libraries?

- The source code under review should preferably be together in this repo, but otherwise, the authors should point to the source code to be reviewed, *and* they will have to produce a complete bundle for the Zenodo archive at the time of acceptance.

[2020-08-19 08:29] mikldk commented on #2534
@edifice1989, @jkanche: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-08-19 08:45] hugoledoux commented on #2421
I have already asked 2 other persons (on the JOSS reviewers list).

I just saw it was close to your expertise and thought that would be an easy way to recruit the first reviewer! But I understand, let's wait then.

[2020-08-19 09:05] TomGoffrey commented on #2182
@dpsanders Is there anything specific I need to do to mark this review as complete?

[2020-08-19 09:22] will-rowe commented on #2473
Hi @ramadatta  - just another ping to see how you are getting on?

[2020-08-19 09:22] will-rowe commented on #2451
Hi @mjsull - just checking in to see how things are going with your submission?

[2020-08-19 10:02] LolloCappo commented on #2569
What should I do now?

[2020-08-19 10:32] strengejacke commented on #2445
@xuanxu Do you have a guess, why @Ohlsen cannot edit the review-checkboxes?

[2020-08-19 11:09] merrygoat commented on #2381
@jgostick Thank you.

- ORCIDs and Names checked
- Release v1.1.1 - https://github.com/LightForm-group/xrdfit/releases/tag/v1.1.1
- Zenodo DOI: 10.5281/zenodo.3991638
- Names match between Zenodo and paper

[2020-08-19 11:10] ramadatta commented on #2473
Hi @will-rowe - thank you. I am in the process of documenting of the package. Once I am done with this, I will start editing the final paper possibly this weekend and aim to submit soon.

[2020-08-19 11:56] LukasAdamowicz commented on #2449
@galessiorob Paper looks good in proofread. Thanks for your time!

[2020-08-19 11:58] scwest commented on #2044
Thank you Mark for those changes! You really made my life super easy here. I've tested the current master to ensure that it is working and installs correctly on my end. I have generated a new release.

[2020-08-19 12:07] danielskatz commented on #2352
👋 @davidbeckingsale - just checking on the status of your review again

[2020-08-19 12:09] edifice1989 commented on #2534
Sure! I am in!

Ming

On Wed, Aug 19, 2020 at 1:29 AM Mikkel Meyer Andersen <
notifications@github.com> wrote:

[2020-08-19 12:24] mikldk commented on #2534
@whedon add @edifice1989 as reviewer

[2020-08-19 12:24] whedon commented on #2534
OK, @edifice1989 is now a reviewer

[2020-08-19 12:24] mikldk commented on #2534
@whedon start review

[2020-08-19 12:24] whedon opened #2583 "[REVIEW]: emba: R package for analysis and visualization of biomarkers in boolean model ensembles"
**Submitting author:** @bblodfon (<a href="http://orcid.org/0000-0002-3609-8674">John Zobolas</a>)
**Repository:** <a href="https://github.com/bblodfon/emba" target ="_blank">https://github.com/bblodfon/emba</a>
**Version:** v0.1.7
**Editor:** @mikldk
**Reviewers:** @neerajdhanraj, @edifice1989
**Archive:** <a href="https://doi.org/10.5281/zenodo.4043085" target="_blank">10.5281/zenodo.4043085</a>

[2020-08-19 12:24] whedon commented on #2534
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2583.

[2020-08-19 12:24] #2534 closed

[2020-08-19 12:24] whedon commented on #2583
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sahilseth, @edifice1989 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-08-19 12:25] mikldk commented on #2583
@sahilseth, @edifice1989: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this re

[2020-08-19 12:27] whedon commented on #2583
PDF failed to compile for issue #2583 with the following error:

[2020-08-19 13:28] janfb commented on #2505
@cranmer @dfm Please note we just released a new version of `sbi` adressing the above issues. The `docs` should be up to date now as well.

[2020-08-19 13:39] bblodfon commented on #2583
@whedon generate pdf

[2020-08-19 13:39] whedon commented on #2583
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02583/joss.02583/10.21105.joss.02583.pdf)

[2020-08-19 13:42] florian-huber commented on #2411
@whedon generate pdf

[2020-08-19 13:43] whedon commented on #2411
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02411/joss.02411/10.21105.joss.02411.pdf)

[2020-08-19 13:46] kyleniemeyer commented on #2569
Hello @LolloCappo, thank you for your interest in JOSS.

The JOSS editorial board has considered your submission, and found that it is too minor for JOSS to review—see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort for what we consider "substantial scholarly effort". (This is not a statement about the usefulness of your work.) We encourage you to consider JOSS a

[2020-08-19 13:46] kyleniemeyer commented on #2569
@whedon reject

[2020-08-19 13:46] whedon commented on #2569
Paper rejected.

[2020-08-19 13:46] #2569 closed

[2020-08-19 13:50] kyleniemeyer commented on #2573
Hello @pachamaltese, thank you for your interest in JOSS.

The JOSS editorial board considered your submission, and in our view the software is both too minor for JOSS to review, and not in our definition of research software—see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort and https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-soft

[2020-08-19 13:51] kyleniemeyer commented on #2573
@whedon reject

[2020-08-19 13:51] whedon commented on #2573
Paper rejected.

[2020-08-19 13:51] #2573 closed

[2020-08-19 13:53] kyleniemeyer commented on #2561
Hello @cokelaer, thank you for your interest in JOSS.

The JOSS editorial board considered your submission, and we have decided that the software is too minor for JOSS to review—see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort for a description of what we consider substantial scholarly effort that warrants review/publication. (This is not a statement about the

[2020-08-19 13:53] kyleniemeyer commented on #2561
@whedon reject

[2020-08-19 13:53] whedon commented on #2561
Paper rejected.

[2020-08-19 13:53] #2561 closed

[2020-08-19 14:03] nhejazi commented on #2447
Thanks very much for the detailed review @joethorley, it’s much appreciated.

@klmedeiros, just a friendly reminder about this review whenever you have some time open up.

[2020-08-19 14:27] kyleniemeyer commented on #2449
Hello @LukasAdamowicz, everything looks good, except for one minor set of changes needed in the paper: can you please add commas after "e.g." throughout? Thanks!

[2020-08-19 15:02] cMadan commented on #2535
@whedon generate pdf

[2020-08-19 15:03] whedon commented on #2535
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02535/joss.02535/10.21105.joss.02535.pdf)

[2020-08-19 15:07] cMadan commented on #2535
@whedon check references

[2020-08-19 15:09] MAnalytics commented on #2379
Dear @karthik @njtierney

This is to inform you that I have now addressed all the issues raised above.
I know you must be very busy, especially during this time period, I will greatly appreciate it if you can promptly review these corrections so that we can proceed to the next stage.
Thank you very much.
MA

**Summary of revisions:**
1. Included unit tests for all function, and all package codes.

[2020-08-19 15:22] cMadan commented on #2535
@whedon check references

[2020-08-19 15:35] kbarnhart commented on #2568
@whedon check repository

[2020-08-19 15:35] whedon commented on #2568
[code]

[2020-08-19 15:40] kbarnhart commented on #2568
@elbeejay I've now completed my pre-review checks and will begin looking for reviewers. I found one minor item that I think would be good to address before review begins: you have tests, but no instructions for how to run them. I would recommend indicating how a potential users would test their install somewhere on the readme and/or docs.

[2020-08-19 15:53] zbeekman commented on #2049
My sincerest apologies for the delays. A host of issues have conspired against me, including, most recently, being without power and internet for 10 days. I will devote time today and tomorrow to finalizing the review. Sorry once again, and thanks for your patience.

[2020-08-19 16:00] cmparlettpelleriti commented on #2523
Thanks @ronikobrosly, glad to hear it was something you already knew about!! :)

[2020-08-19 16:34] arfon commented on #2535
@whedon check references

[2020-08-19 16:35] whedon commented on #2535
[code]

[2020-08-19 16:49] cMadan commented on #2535
@akcochrane,  looks like that ref should have DOI of 10.1167/jov.20.8.16 and no longer "in press" (https://pubmed.ncbi.nlm.nih.gov/32790849/).

After that, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct meta

[2020-08-19 16:53] arfon commented on #2049
Wonderful, thanks for the update @zbeekman! Sounds like it has been a challenging time for you recently. We're very grateful for your time here 💖

[2020-08-19 17:01] xuanxu commented on #2445
Maybe the invitation expired? Let's try to re-invite

[2020-08-19 17:01] xuanxu commented on #2445
@whedon re-invite @Ohlsen as reviewer

[2020-08-19 17:01] whedon commented on #2445
OK, the reviewer has been re-invited.

@ohlsen please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-08-19 17:45] cmbiwer commented on #2484
Here are my notes below.

Science Capsule is a tool to capture the command line and state of directories with information such as new or deleted files. There is a HTML viewer that organizes this information for the user. These capabilities in Science Capsule have been designed to facilitate the reproduction of analyses and sharing results.

The strengths of this submission are its walkthrough docu

[2020-08-19 18:19] kbarnhart commented on #2568
:wave: @dbuscombe-usgs @gassmoeller @TomasBeuzen would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This submission is for "dorado: A Python package for simulating passive particle transport in shallow-water flows". I'm reaching out to you b

[2020-08-19 18:24] dbuscombe-usgs commented on #2568
Yes, I can do it

[2020-08-19 18:37] karthik commented on #2379
Some of these issues still remain. Here are a few examples.

https://github.com/MAnalytics/akmedoids/blob/master/R/akmedoids.clust.R#L153

https://github.com/MAnalytics/akmedoids/blob/master/R/akmedoids.clust.R#L167

https://github.com/MAnalytics/akmedoids/blob/master/R/dataImputation.R#L175

[2020-08-19 18:45] MAnalytics commented on #2379
@karthik I really appreciate your prompt review.
**The highlighted issues have now been resolved.** Thanks, MA

[2020-08-19 18:52] karthik commented on #2379
There are still several more of these issues. Please look through your code where you do 1:nrow or 1:ncol. If the dimensions are 0 you will get silent errors that will go uncaught.

https://github.com/MAnalytics/akmedoids/blob/master/R/statPrint.R#L126
https://github.com/MAnalytics/akmedoids/blob/master/R/statPrint.R#L210
https://github.com/MAnalytics/akmedoids/blob/master/R/statPrint.R#L261
https

[2020-08-19 19:01] dpsanders commented on #2182
@TomGoffrey No, thanks, that message is a perfectly good signal. Many thanks for your hard work on this!

[2020-08-19 19:02] dpsanders commented on #2182
@whedon generate pdf from branch origin/paper

[2020-08-19 19:02] whedon commented on #2182
[code]

[2020-08-19 19:02] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-08-19 19:15] MAnalytics commented on #2379
@karthik I have gone through all the functions and corrected these issues accordingly.
Thanks, MA

[2020-08-19 19:26] akcochrane commented on #2535
@whedon generate pdf

[2020-08-19 19:26] whedon commented on #2535
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02535/joss.02535/10.21105.joss.02535.pdf)

[2020-08-19 19:58] akcochrane commented on #2535
Thank you all for your attentive help during this review process!

version tag: v00.77.12

Zenodo archived doi: 10.5281/zenodo.3992314

[2020-08-19 21:42] WilkAndy commented on #2176
Hi @jedbrown .  Just wondering about the status of this JOSS paper.   I think we've addressed all referee and editorial iteams and it's read to go.  If not, please tell me what needs to be done.

[2020-08-19 21:42] cMadan commented on #2535
@whedon set 10.5281/zenodo.3992314 as archive

[2020-08-19 21:42] whedon commented on #2535
OK. <a href="https://doi.org/10.5281/zenodo.3992314" target="_blank">10.5281/zenodo.3992314</a> is the archive.

[2020-08-19 21:43] cMadan commented on #2535
@akcochrane I see it is in Zenodo as well, but did you mean for the version number to have to zeros before the decimal place?

[2020-08-19 22:06] akcochrane commented on #2535
Yes, that was my intention. Would it be better for me to remove them?

[2020-08-19 22:16] hkaiser commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-19 22:16] whedon commented on #2352
[code]

[2020-08-19 22:17] whedon commented on #2352
PDF failed to compile for issue #2352 with the following error:

 error: pathspec 'JOSS
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-08-19 22:18] hkaiser commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-19 22:18] whedon commented on #2352
[code]

[2020-08-19 22:19] whedon commented on #2352
PDF failed to compile for issue #2352 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2352/paper.md): invalid trailing UTF-8 octet at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/ruby-2.4.4/lib/ruby/

[2020-08-19 23:12] njtierney commented on #2379
Running `googpractice::gp()` I found a few missed cases:

I note that `1:length` is used here:

https://github.com/MAnalytics/akmedoids/blob/master/tests/testthat/test_rates.R#L19

FYI There are minor also some style changes that can be fixed

- using = instead of <-
- using T and F instead of TRUE and FALSE
- using trailing `;`

But I can resume my review from here, these are minor things. I woul

[2020-08-20 00:33] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-20 00:33] whedon commented on #2352
[code]

[2020-08-20 00:34] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-20 00:35] hkaiser commented on #2352
@bhatele @danielskatz I think we have addressed the remaining review comments.

[2020-08-20 00:35] diehlpk commented on #2352
@bhatele We addressed your last concern in the version above. Please let us know if you like to have more changes.

[2020-08-20 00:52] bhatele commented on #2352
Changes look good to me. Thanks!

[2020-08-20 01:41] MAnalytics commented on #2379
@njtierney Thank you  very much for the suggestion of googpractice::gp()
I have now used the package to fix all the issues.
Thanks.

[2020-08-20 01:42] amoeba commented on #2556
Hey @majensen, my review is now an Accept as all items on my checklist are completed.

[2020-08-20 02:48] ronikobrosly commented on #2523
Ok @cmparlettpelleriti , I just pushed those changes. If you upgrade your version of `causal-curve` to version `0.3.7`, the notebook should work for you all the way through. Could you verify that for you me?

Also, I made those misc changes:
- I fixed the axis titles in the plots in the notebook and documentation
- Fixed the Imai typo
- I add a couple of links to useful resources in the introducti

[2020-08-20 03:03] majensen commented on #2556
@amoeba Thanks as usual for your careful review!

[2020-08-20 03:06] bittremieux commented on #2411
It looks good for me as well, I just have a few really minor comments:

- Missing reference for mzML on page 1: [10.1074/mcp.R110.000133](http://www.mcponline.org/content/10/1/R110.000133.abstract)
- I would recommend consistent and correct spelling of some terms throughout the manuscript and figures, for example: Inchi/InchiKey -> InChI/InChIKey, Smiles -> SMILES, _m/z_ should be italicized, NumP

[2020-08-20 06:07] ziatdinovmax commented on #2481
My apologies for the delay in responding... Congrats to the authors on their very nice library! It installs and runs smoothly, and the documentation is in good order. The only minor comment that I have is about the paper. When I was reading it, I kept wondering (perhaps out of my ignorance) who is the target audience and what specific applications it can be used for. The statement at the beginning

[2020-08-20 08:52] dglaeser commented on #2291
Thank you all for your efforts! Let me know if there is anything I can do to help!

[2020-08-20 09:26] matbesancon commented on #2564
I agree that listing the solvers is not super relevant to the paper which should be more of a permanent document presenting the package. The fact that multiple solvers can be used with the same uniform syntax should be highlighted more.

I think this could be presented in the paper, as it can be of interest to the reader comparing different frameworks.

For the second point, I think more should go

[2020-08-20 09:50] cMadan commented on #2535
@akcochrane, I'm fine with it, just thought it was a bit unconventional and thought I'd check it's not a typo.

[2020-08-20 10:42] marcosvital commented on #2458
Hi, @JolleJolles, thank you so much for you patience. We are finally ready to start the reviewing process, and @DerJH will join us for that, along with @lucask07.

This will make us move to a new issue, and this one will be closed soon.

[2020-08-20 10:43] marcosvital commented on #2458
@whedon assign @lucask07 as reviewer

[2020-08-20 10:43] whedon commented on #2458
OK, @lucask07 is now a reviewer

[2020-08-20 10:44] marcosvital commented on #2458
@whedon add @DerJH as reviewer

[2020-08-20 10:44] whedon commented on #2458
OK, @DerJH is now a reviewer

[2020-08-20 10:44] marcosvital commented on #2458
@whedon start review

[2020-08-20 10:44] whedon opened #2584 "[REVIEW]: pirecorder: Controlled and automated image and video recording with the raspberry pi"
**Submitting author:** @JolleJolles (<a href="http://orcid.org/0000-0001-9905-2633">Jolle Wolter Jolles</a>)
**Repository:** <a href="http://github.com/jollejolles/pirecorder" target ="_blank">http://github.com/jollejolles/pirecorder</a>
**Version:** v3.2.0
**Editor:** @marcosvital
**Reviewer:** @lucask07, @DerJH
**Archive:** <a href="https://doi.org/10.5281/zenodo.4058628" target="_blank">10.5281

[2020-08-20 10:44] whedon commented on #2458
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2584.

[2020-08-20 10:44] #2458 closed

[2020-08-20 10:44] whedon commented on #2584
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lucask07, @DerJH it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2020-08-20 10:45] whedon commented on #2584
[code]

[2020-08-20 10:45] whedon commented on #2584
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02584/joss.02584/10.21105.joss.02584.pdf)

[2020-08-20 10:46] marcosvital commented on #2584
Dear @JolleJolles: your manuscript will be reviewed in this issue, and you can reply any comments and suggestions that the reviewers might address right here.

[2020-08-20 10:47] marcosvital commented on #2584
@lucask07 and @DerJH: thank you all for for accepting review this submission for JOSS.

Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under Reviewer instructions & questions and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let me know if you need any assi

[2020-08-20 10:50] JolleJolles commented on #2584
Thanks everyone for your help. Looking forward.

[2020-08-20 11:26] berenger-eu commented on #2444
Dear @Himscipy,

Thanks for your message.
Here are my answers to your remarks.

You are right that this was definitively missing.
I updated the README to include the cloning stage.

Unfortunately, the Inria gitlab access policy changed few weeks ago.
However, there is a mirrored repository on github: https://github.com/berenger-eu/tbfmm
Therefore, you can of course open an issue there, and I wrote

[2020-08-20 11:27] florian-huber commented on #2411
@whedon generate pdf

[2020-08-20 11:28] whedon commented on #2411
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02411/joss.02411/10.21105.joss.02411.pdf)

[2020-08-20 11:35] peanutfun commented on #2165
@szhorvat, thanks a lot for your thorough review and honest feedback, and for recommending the publication!

We envisage Utopia a a *comprehensive* framework for model development, meaning that it can (and should be) a single tool for model implementation, configuration, and analysis. This in itself is a bold ambition, but reasonable in our perspective because these aspects of model development ar

[2020-08-20 11:39] florian-huber commented on #2411
@whedon generate pdf

[2020-08-20 11:40] whedon commented on #2411
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02411/joss.02411/10.21105.joss.02411.pdf)

[2020-08-20 11:46] florian-huber commented on #2411
Thanks for the comments @bittremieux.
We changed spelling as you suggested (in text and figures).

[2020-08-20 12:03] LukasAdamowicz commented on #2449
@kyleniemeyer Done!

[2020-08-20 12:14] dfm commented on #2505
@whedon generate pdf from branch joss-submission

[2020-08-20 12:14] whedon commented on #2505
[code]

[2020-08-20 12:14] whedon commented on #2505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02505/joss.02505/10.21105.joss.02505.pdf)

[2020-08-20 12:15] dfm commented on #2505
@whedon check references from branch joss-submission

[2020-08-20 12:15] whedon commented on #2505
[code]

[2020-08-20 12:15] whedon commented on #2505
[code]

[2020-08-20 12:25] fruzsinaagocs commented on #2515
Hi all,

Thanks for writing this great package! Bringing together techniques from
classic numerical analysis works was much needed, and this certainly has the potential to be
widely used in research. I've ticked off most things on the reviewer checklist, I'll
organise the remaining points below.

### Python 3 compatibility and dependencies

* In the readthedocs [Dependencies](https://nodepy.readth

[2020-08-20 12:31] danielskatz commented on #2352
Thanks @bhatele!

[2020-08-20 12:42] dfm commented on #2505
@janfb: Looks good! I just opened a pull request with some formatting edits for the manuscript. The following steps for you:

- [x] Accept that pull request
- [ ] Comment `@whedon generate pdf from branch joss-submission` on this issue thread
- [ ] Check the proof that `@whedon` generates to make sure everything looks good to you (it's harder to change later!)
- [ ] It looks like you just bumped t

[2020-08-20 12:43] dfm commented on #2505
I'd also like to send a huge thanks to @EiffL and @cranmer for their constructive reviews!

[2020-08-20 12:51] Kevin-Mattheus-Moerman commented on #2431
@romainmartinez any more updates :point_up: ?

[2020-08-20 12:52] Kevin-Mattheus-Moerman commented on #2431
@mitkof6 I see your boxes are all ticked, are you happy to formulate a recommendation on this submission? E.g. accept?

[2020-08-20 12:53] Kevin-Mattheus-Moerman commented on #2498
@wkirgsn any updates to report?

[2020-08-20 12:53] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch when can we expect your review contribution? Thanks again for your help

[2020-08-20 12:55] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila, @CBenghi this is where the review takes place. Please can you let me know when you expect to be able to complete your review? Thanks again for your help! Let me know if you have any questions.

[2020-08-20 12:56] Kevin-Mattheus-Moerman commented on #2343
@62442katieb thanks again for your help here. You have some boxes that remain unticked. Can you summarize what the authors can do to resolve any remaining issues you have? Thanks!

[2020-08-20 12:58] Kevin-Mattheus-Moerman commented on #2478
@mathieuboudreau, @grlee77 if you attended ISMRM I hope you enjoyed it. This is just a friendly check in to see where we stand with this submission. Let me know if you have any questions.

[2020-08-20 12:59] Kevin-Mattheus-Moerman commented on #2372
@hugoledoux, @jhale, @jonwong12 thanks for your review efforts here!!!

Since all boxes are ticked I will proceed with processing this work for acceptance in JOSS.

[2020-08-20 13:00] Kevin-Mattheus-Moerman commented on #2372
@whedon generate pdf

[2020-08-20 13:01] whedon commented on #2372
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02372/joss.02372/10.21105.joss.02372.pdf)

[2020-08-20 13:02] Kevin-Mattheus-Moerman commented on #2372
@whedon check references

[2020-08-20 13:02] whedon commented on #2372
[code]

[2020-08-20 13:12] janfb commented on #2505
@dfm thanks for the instructions! And many thanks again for editing this paper!

[2020-08-20 13:12] janfb commented on #2505
@whedon generate pdf from branch joss-submission

[2020-08-20 13:12] whedon commented on #2505
[code]

[2020-08-20 13:12] whedon commented on #2505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02505/joss.02505/10.21105.joss.02505.pdf)

[2020-08-20 13:14] mitkof6 commented on #2431
Yes, I was OK with #105. The authors will have to update the manuscript based on our discussion.

[2020-08-20 13:19] romainmartinez commented on #2431
I still have two more points to address among the [issues](https://github.com/openjournals/joss-reviews/issues/2431#issuecomment-669236807).

I have one more point to address in [#105](https://github.com/pyomeca/pyomeca/issues/105).
I am waiting for @BKillen05 to approve [#107](https://github.com/pyomeca/pyomeca/issues/107).

[2020-08-20 13:22] Kevin-Mattheus-Moerman commented on #2372
@rram84 can you work on these final steps:

**Points on the paper:**
- [ ] You mention `simulating models` in the first sentence. I feel models are the entities used to perform simulations. So one does not simulate a model but one uses a model to do simulations. I suggest you rephrase this. Perhaps you can just say: `The success of finite element simulations arising in....`

- [ ] Check and fix th

[2020-08-20 13:49] janfb commented on #2505
Regarding the version, yes, the most recent one is 0.12.1.

Two questions
1) we already have a version on arxiv: https://arxiv.org/abs/2007.09114 Is OK if we just make a new version of this submission with the most recent version of the paper?

2) The JOSS version of the article already has a DOI (10.21105/joss.02505) no? Or shall I create a new DOI using Zenodo?

[2020-08-20 14:12] kbarnhart commented on #2568
@whedon add @dbuscombe-usgs as reviewer

[2020-08-20 14:12] whedon commented on #2568
OK, @dbuscombe-usgs is now a reviewer

[2020-08-20 14:17] mstimberg commented on #2331
@tabe Thank you for all the changes to the instructions, user manual and article, I think they improved a lot. I agree with @dawbarton that there should be some minimal form of community guidelines (where to submit bugs, etc.), and this is the only real blocker to acceptance from my side.

[2020-08-20 14:22] wkirgsn commented on #2498
@Kevin-Mattheus-Moerman The initial estimate of mid september for the major update still seems to hold for now.
The nightly branch is updated continuously, and the paper is also currently worked on, incorporating moorepants' remarks.

[2020-08-20 14:26] janfb commented on #2505
I double-checked the article -- all looks good!
I created a DOI using Zenodo and upload the zipped code of v0.12.1 (and not the paper PDF), the DOI is [10.5281/zenodo.3993098](https://doi.org/10.5281/zenodo.3993098) Is this how it should be?

[2020-08-20 14:44] 62442katieb commented on #2343
Hi @Kevin-Mattheus-Moerman ! I've had a couple issues with installation on our cluster. Those issues have been resolved, but now it appears the download links in the [installation instructions](https://qmrlab.readthedocs.io/en/master/install.html) are broken (https://github.com/qMRLab/qMRLab/releases/latest/download/qMRLab_latest.zip, https://github.com/qMRLab/qMRLab/releases/download/v2.4.0/qMRLa

[2020-08-20 14:47] dfm commented on #2505
@whedon set v0.12.1 as version

[2020-08-20 14:47] whedon commented on #2505
OK. v0.12.1 is the version.

[2020-08-20 14:47] whedon commented on #2505
OK. <a href="https://doi.org/10.5281/zenodo.3993098" target="_blank">10.5281/zenodo.3993098</a> is the archive.

[2020-08-20 14:48] dfm commented on #2505
@whedon accept

[2020-08-20 14:48] whedon commented on #2505
PDF failed to compile for issue #2505 with the following error:

 Can't find any papers to compile :-(

[2020-08-20 14:49] dfm commented on #2505
@whedon accept from branch joss-submission

[2020-08-20 14:49] whedon commented on #2505
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1650

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1650, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-20 14:49] whedon commented on #2505
[code]

[2020-08-20 14:52] agahkarakuzu commented on #2343
@62442katieb can you download the `v2.4.0` from the assets section of [this link](https://github.com/qMRLab/qMRLab/releases/tag/v2.4.0)?

You can also check out the [master](https://github.com/qMRLab/qMRLab/archive/master.zip) version, where previous comments were addressed.

I'll fix the broken hyperlinks.

[2020-08-20 14:52] dfm commented on #2505
@janfb: This has now been handed off to the editors in chief who will (perhaps after some final edits) do the final processing of the paper.

[2020-08-20 14:53] romainmartinez commented on #2431
Done in [PR #109](https://github.com/pyomeca/pyomeca/pull/109) @mitkof6.

[2020-08-20 14:53] romainmartinez commented on #2431
@whedon generate pdf

[2020-08-20 14:54] whedon commented on #2431
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02431/joss.02431/10.21105.joss.02431.pdf)

[2020-08-20 15:01] rafmudaf commented on #2480
My comments to the repository have been addressed, and I've finished reviewing. This tool is a great addition to the existing suite of simulation software for turbine and propeller aerodynamics. I recommend to publish.

[2020-08-20 15:02] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-20 15:02] whedon commented on #2352
[code]

[2020-08-20 15:04] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-20 15:11] gassmoeller commented on #2568
@kbarnhart: I can review this as well.

[2020-08-20 15:21] cranmer commented on #2505
this is fascinating to watch.

[2020-08-20 16:00] meg-simula commented on #2369
@thelfer @AnjaliSandip Thank you very much for the diligent review, and @kinnala for the follow-up!

[2020-08-20 16:01] meg-simula commented on #2369
@whedon generate pdf

[2020-08-20 16:02] meg-simula commented on #2369
@whedon check references

[2020-08-20 16:02] whedon commented on #2369
PDF failed to compile for issue #2369 with the following error:

 sh: 0: getcwd() failed: No such file or directory
sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02369.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-08-20 16:03] meg-simula commented on #2369
@whedon generate pdf

[2020-08-20 16:04] whedon commented on #2369
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02369/joss.02369/10.21105.joss.02369.pdf)

[2020-08-20 16:11] danielskatz commented on #2352
In email, @davidbeckingsale said to me that he will get this done by the end of the week

[2020-08-20 16:13] s0nata commented on #2153
Dear everybody, thank you for your patience with me. Got significantly affected at work due to covid situation, and only recently was able to return to a schedule that premits time for the review.

For my review the only missing part is the evaluation, and @arcuri82 , by any chance is there and example project I can set up and run EvoMaster on? I saw the links in the docs for black- and white-box

[2020-08-20 16:17] meg-simula commented on #2369
@kinnala This looks very nice, well done.

- [ ] Two very minor grammatical comments:  please replace (i) "FEM" by "the FEM" in the second paragraph and (ii) "examples on" by "examples by" at the top of page 2.

Next, could you please:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar serv

[2020-08-20 16:20] meg-simula commented on #2094
@whedon check references

[2020-08-20 16:21] meg-simula commented on #2094
@whedon generate pdf

[2020-08-20 16:28] davidbeckingsale commented on #2352
Formatting issue in the paper:

I think "section" should be a link somewhere else. Also, there is no sketch of the components.

Overall, I think the paper is okay. The first few paragraphs of the summary are good and the example code is excellent. However, the section listing out the components is too complex, and even the first few paragraphs do not (in my opinion) provide a clear description for

[2020-08-20 16:38] meg-simula commented on #2094
@DorianDepriester Thanks for your patience with this submission.

I've gone through the paper, and ask that you please consider the following suggestions:

- [ ] Include a clear Statement of Need that illustrates the research purpose of the software.
- [ ] Mention (if applicable) a representative set of past or ongoing research projects using the software and recent scholarly publications enabled

[2020-08-20 16:39] meg-simula commented on #2094
@whedon check references

[2020-08-20 16:39] whedon commented on #2094
[code]

[2020-08-20 16:40] meg-simula commented on #2313
@whedon generate pdf

[2020-08-20 16:40] meg-simula commented on #2313
@whedon check references

[2020-08-20 16:40] whedon commented on #2313
PDF failed to compile for issue #2313 with the following error:

 Can't find any papers to compile :-(

[2020-08-20 16:40] meg-simula commented on #2313
@whedon generate pdf from branch joss-paper

[2020-08-20 16:40] whedon commented on #2313
[code]

[2020-08-20 16:41] whedon commented on #2313
PDF failed to compile for issue #2313 with the following error:

 error: pathspec 'joss-paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-08-20 16:41] meg-simula commented on #2313
@whedon check references from branch joss-paper

[2020-08-20 16:41] whedon commented on #2313
[code]

[2020-08-20 16:41] meg-simula commented on #2313
@whedon generate pdf from branch joss-paper

[2020-08-20 16:41] whedon commented on #2313
[code]

[2020-08-20 16:41] whedon commented on #2313
PDF failed to compile for issue #2313 with the following error:

 error: pathspec 'joss-paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-08-20 16:45] meg-simula commented on #2313
@peanutfun Thanks for your patience on this submission. Would you know of any changes to the branch structure - making it hard for whedon to find the paper?

[2020-08-20 17:33] whedon commented on #2313
[code]

[2020-08-20 17:33] whedon commented on #2313
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02313/joss.02313/10.21105.joss.02313.pdf)

[2020-08-20 17:34] arfon commented on #2313
@whedon check references from branch joss-paper

[2020-08-20 17:34] whedon commented on #2313
[code]

[2020-08-20 17:35] whedon commented on #2313
[code]

[2020-08-20 17:35] AnaWaldila commented on #2548
Hi,
I need more 2 weeks, please. My father had an ischemic stroke and I am in hospital with him.
Kind regards,
Ana Reis

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
De: Kevin Mattheus Moerman <notifications@github.com>
Enviado: quinta-feira, 20 de agosto de 2020 09:55
Para: openjournals/joss-reviews
Cc: Ana Waldila; Mention
Assunto: Re: [openjournals/joss-

[2020-08-20 17:44] pibion commented on #2484
@cmbiwer thanks for these comments!

[2020-08-20 17:55] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-20 17:55] whedon commented on #2352
[code]

[2020-08-20 17:56] pibion commented on #2484
@dghoshal-lbl, it sounds like most of the technical aspects of your software (installation, tests, usage) already meet JOSS standards for publication.

The most important thing to address is the "statement of need" as that's critical in determining whether software is within the scope of JOSS.  I'll let the reviewers comment for themselves; @colbrydi says that the package might be useful in his sc

[2020-08-20 17:57] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-20 18:11] TomasBeuzen commented on #2568
@kbarnhart: I can do this too.

[2020-08-20 18:14] gassmoeller commented on #2568
@TomasBeuzen: If you prefer to review, I am happy to step back, I am still involved in another review with JOSS at the moment.

[2020-08-20 18:16] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-08-20 18:17] whedon commented on #2352
[code]

[2020-08-20 18:19] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-08-20 18:20] TomasBeuzen commented on #2568
@gassmoeller - sure no preference, I'm happy with whatever @kbarnhart decides. FYI I'm more experienced with Python than hydrodynamics so my review will focus mostly on the code (style, usability, functionality, etc.) and clarity of the manuscript.

[2020-08-20 18:20] diehlpk commented on #2352
@davidbeckingsale

`I think "section" should be a link somewhere else. Also, there is no sketch of the components.`

I am sorry but in the latest version there was an issue with the Figure. In the latest PDF there is Figure 1 and there is a reference to the figure.

`The paragraph listing applications using hpx is good, but needs reformatting to make it easier to read rather than just being a list