[2017-05-03 19:17] domoritz commented on #235
Thank you for the review and the suggestions to improve the docs and code @ekolve!

[2017-05-03 22:21] dvalters commented on #250
Hi @gauteh, my review is below:

## Software functionality and installation

I was able to download and install the software, although really it is just a script rather than a package that can be installed using a setup script or package manager. (Though I notice you are working on one in the master branch? If you could include this in the release it would improve this software by automating the i

[2017-05-03 23:22] ctb commented on #253
I can review.

[2017-05-04 00:17] nicoguaro commented on #242
@roguephysicist, you could check steps 5 - 7 from this [link](http://www.davidketcheson.info/2015/05/10/rock_solid_code.html). Basically, it is good to automate the testing and use something like ``nosetest``.

Regarding your tests this is the output I get

    Loading reference data.
    Calculating SHG yield for comparison.
    Traceback (most recent call last):

      File "<ipython-input-1-bc5

[2017-05-04 00:22] ekolve commented on #235
I am getting an error running the find_bad.py command:
`python find_bad.py read-s3 escience.washington.edu.viziometrics acl_anthology/json > anthology_bad.txt`
Run 0 of 1

ERROR:root:Not a json file acl_anthology/json/

This might be coming from boto.

[2017-05-04 03:12] domoritz commented on #235
Looks like boto has changed its behavior. I'm asking boto to enumerate all the files in a directory and they now also list the directory itself. Strange but not a big problem. Fixed in https://github.com/domoritz/label_generator/commit/d2a7eb54e93898df005a416807d65f3993b3912c

[2017-05-04 09:20] cmutel commented on #244
@hugoledoux Thanks for your detailed questions!

## Example usage

Not sure what went wrong in your installation, I have successfully tested the [installation instructions](http://pandarus.readthedocs.io/?badge=latest#installation) on OS X and Windows. Maybe there are path problems due to multiple Python installations? I normally don't make miniconda the default Python, and so have to do things a

[2017-05-04 09:53] pjotrp commented on #253
@whedon assign @pjotrp as editor

[2017-05-04 09:53] whedon commented on #253
OK, the editor is @pjotrp

[2017-05-04 09:54] pjotrp commented on #253
@whedon assign @ctb as reviewer

[2017-05-04 09:54] whedon commented on #253
OK, the reviewer is @ctb

[2017-05-04 09:54] pjotrp commented on #253
@whedon start review magic-word=bananas

[2017-05-04 09:54] whedon opened #255 "[REVIEW]: xphyle: Extraordinarily simple file handling"
**Submitting author:** @jdidion (<a href="http://orcid.org/0000-0002-8111-6261">John Didion</a>)
**Repository:** <a href="https://github.com/jdidion/xphyle" target ="_blank">https://github.com/jdidion/xphyle</a>
**Version:** 3.0.1
**Editor:** @pjotrp
**Reviewer:** @ctb
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.808540" target="_blank">10.5281/zenodo.808540</a>

## Status

[![status](ht

[2017-05-04 09:54] whedon commented on #253
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/255. Feel free to close this issue now!

[2017-05-04 09:54] whedon commented on #255
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @ctb it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably cu

[2017-05-04 09:55] #253 closed

[2017-05-04 09:56] pjotrp commented on #255
@jdidion to make life a bit easier for us, can you go through above check list and see if you match the important criteria? Thanks! After confirmation we'll start review.

[2017-05-04 15:10] hugoledoux commented on #244
@cmutel

No idea about the Jupyter thing, but that's obviously on my side. The added py file works fine, including the output to geojson.

Projection: as a GIS person, I still think that projecting to something else is not optimal, but I also understand that your users are probably not even aware of CRS. So your solution is probably the best.

As far as I am concerned, this is it. Your library is

[2017-05-04 15:41] roguephysicist commented on #242
@nicoguaro, I will take a look and improve the tests. I will need to try the program on a windows machine to figure out the problem. So far, it has worked fine for me under Linux and macOS. I will hopefully be able to do this next week.

I will enhance the JOSS paper as well according to both your suggestions. Thanks!

[2017-05-04 15:55] jdidion commented on #255
@pjotrp Yes, it meets all the guidelines.

[2017-05-04 16:23] danielskatz commented on #221
The idea of community guidelines is that the project should be welcoming of new contributors, and should explain how they can join in and contribute.  The text can be somewhat generic, but needs to be part of the project repo/documentation.

[2017-05-04 16:30] offray commented on #251
@SergeStinckwich

Please update to the last development version from the Update docking bar menu or Monticello to see the issues solved. I plan to package it in a minor release soon, so the default installation includes all the fixes.

Some more detailed comments about your comment:

Fixed.

I can't reproduce that bug. All documents are downloaded here. After updating Dataviz and documentation the

[2017-05-04 17:09] arfon commented on #244
@hugoledoux - I think you've done a great job here. Can you confirm that @cmutel has addressed your feedback? If so, I think we should be good to accept here.

[2017-05-04 17:24] hugoledoux commented on #244
He has addressed all issues indeed. I'd accept.

On Thu, 4 May 2017 at 19:11, Arfon Smith <notifications@github.com> wrote:

[2017-05-04 17:25] arfon commented on #244
👍 thanks for confirming.

@cmutel - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-04 18:16] luk87 commented on #221
@danielskatz thank you for clarifying. I have added the guidelines in the README.

[2017-05-04 19:56] danielskatz commented on #221
@jmichel7 please see if you are ok with the test and guidelines now

[2017-05-04 21:53] cmutel commented on #244
@arfon New version with revision sugested by Hugo uploaded to [Zenodo](https://zenodo.org/record/571547) with DOI 10.5281/zenodo.571547. Note version update to 1.0.4.

Thanks everyone!

[2017-05-04 22:26] jmichel7 commented on #221
You are a better judge than me if the criteria are now met, but I have checked the remaining buttons on
the reviewer questions.

[2017-05-05 07:14] pjotrp commented on #255
@ctb please review at your convenience :)

[2017-05-05 11:14] danielskatz commented on #221
@jmichel7 thanks for your work on this

@arfon over to you for the next step

[2017-05-05 11:47] arfon commented on #221
@luk87 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-05 14:16] nickreich commented on #231
In response to the comment

I just committed a few additional links in the first paragraph of the About page.

We have completed our round of revisions, based on comments from @rneher and will wait to hear from JOSS about next steps. Thanks for the review!

[2017-05-05 20:01] ekolve commented on #235
I am getting an error running this command:
` python label_gen.py read testdata/paper.pdf /tmp/test --dbg-image --debug`

DEBUG:root:Run pdffigures /home/erick/label_generator/testdata/paper.pdf
DEBUG:root:Finished. Now look for the JSON and generate labels.
Traceback (most recent call last):
  File "label_gen.py", line 193, in <module>
    arguments['--dbg-image'], False)
  File "label_gen.py", l

[2017-05-05 21:01] luk87 commented on #221
@jmichel7  thank you. @arfon ok, I will do this and I will be back with the DOI.

[2017-05-05 21:32] domoritz commented on #235
Did you rebuild pdffigures?

On Fri, May 5, 2017, 13:01 Eric Kolve <notifications@github.com> wrote:

[2017-05-05 23:51] howardjp commented on #200
Hi, sorry for my own delay.  The final week of class is dense, to say the least.  As it is, not really.  My education is in public policy.  I literally wrote Bumblebees as a one-off while sitting at my son's chess tournament, as I described in a [blog post](https://jameshoward.us/2015/03/14/introducing-my-bumblebees/), based on something I was messing with 20-odd years ago.  I just wanted someone

[2017-05-06 07:06] luk87 commented on #221
@arfon here is the DOI

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.572276.svg)](https://doi.org/10.5281/zenodo.572276)

[2017-05-08 00:02] arokem commented on #254
@cMadan : would you like to review this for JOSS?

[2017-05-08 00:03] arokem commented on #218
No response there.

@nirum: would you like to review this for JOSS?

[2017-05-08 03:56] nirum commented on #218
Sure I'd be happy to!

[2017-05-08 06:43] jessdtate commented on #224
@meg-simula,  I an error when trying to test the installation as describe in the install doc.  The error is:
No module named 'dolfinimport'
I installed the fenics in my anaconda build, and I can import the dolfin module fine. Do I have to install dolfin separately, or is there something else wrong? .  I'm running on OS X 10.12.

[2017-05-08 06:50] meg-simula commented on #224
Are you using Python 2 or 3?

On Mon, May 8, 2017, 08:43 Jess Tate <notifications@github.com> wrote:

[2017-05-08 11:13] arfon commented on #221
@whedon set 10.5281/zenodo.572276 as archive

[2017-05-08 11:13] whedon commented on #221
OK. <a href="http://dx.doi.org/10.5281/zenodo.572276" target="_blank">10.5281/zenodo.572276</a> is the archive.

[2017-05-08 11:21] arfon commented on #221
@luk87 - as per the [author guidelines](http://joss.theoj.org/about#author_guidelines) your `paper.md` should only contain two sections (Summary/References). The other content you have here (Installation/Usage/Example) should be moved to either the repository README or some other docs.

In addition, please make sure you're citing the references in your bibtex file correctly as they won't be includ

[2017-05-08 11:24] arfon commented on #231
@rneher - would you be able to take another look at this submission in response to the reviewer updates?

[2017-05-08 11:26] arfon commented on #200
@whedon assign @arfon as editor

[2017-05-08 11:26] whedon commented on #200
OK, the editor is @arfon

[2017-05-08 11:27] arfon commented on #200
@whedon assign @pjotrp as reviewer

[2017-05-08 11:27] whedon commented on #200
OK, the reviewer is @pjotrp

[2017-05-08 11:27] arfon commented on #200
@whedon start review magic-word=bananas

[2017-05-08 11:27] #200 closed

[2017-05-08 11:27] whedon commented on #200
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/256. Feel free to close this issue now!

[2017-05-08 11:27] whedon opened #256 "[REVIEW]: Virtual Bumblebees"
**Submitting author:** @howardjp (<a href="http://orcid.org/0000-0003-4530-1547">James P. Howard, II</a>)
**Repository:** <a href="https://github.com/howardjp/bumblebees" target ="_blank">https://github.com/howardjp/bumblebees</a>
**Version:** 1.1
**Editor:** @arfon
**Reviewer:** @pjotrp
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.574887" target="_blank">10.5281/zenodo.574887</a>

## St

[2017-05-08 11:27] whedon commented on #256
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-05-08 11:32] arfon commented on #244
@whedon set 10.5281/zenodo.571547 as archive

[2017-05-08 11:32] whedon commented on #244
OK. <a href="http://dx.doi.org/10.5281/zenodo.571547" target="_blank">10.5281/zenodo.571547</a> is the archive.

[2017-05-08 11:37] arfon commented on #244
@hugoledoux many thanks for your review here ✨

@cmutel - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00244 ⚡️ 🚀 💥

[2017-05-08 11:37] #244 closed

[2017-05-08 11:58] rneher commented on #231
all my comments have been addressed.

[2017-05-08 13:08] arfon commented on #231
@lepisma - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-08 15:18] jessdtate commented on #224
OK, I'll try python 2

[2017-05-08 22:11] ekolve commented on #235
I am trying to re-run the label generation:
`parallel --resume -j +6 --no-run-if-empty --eta --joblog /tmp/par.log python label_gen.py read-s3 escience.washington.edu.viziometrics acl_anthology/pdf/{} escience.washington.edu.viziometrics acl_anthology --dbg-image :::: acl_papers.txt
`
And I am getting this error:
  File "label_gen.py", line 190, in <module>
    arguments['--use-ramdisk'], argument

[2017-05-09 09:12] pjotrp commented on #256
@howardjp: I started review. Thank you for your contribution to JOSS. Two minor comments:

1. Please merge your development branch with master
2. Check github recognizes the LICENSE - in the repo header

When that is done I'll tick the final boxes.

[2017-05-09 09:29] luk87 commented on #221
@arfon I have improved the paper and the references. However my affiliation in the meanwhile has changed. For the moment I have no affiliation, while when I submitted the paper I was affiliated with the Leibniz universität hannover. Could this be a problem and what affiliation should I specify in the paper?

[2017-05-09 10:09] SergeStinckwich commented on #251
Thank you Offray for solving the issues.

Do you have some kind of API documentation as required by the documentation reviewing criteria ?

[2017-05-09 10:17] SergeStinckwich commented on #251
I have update Dataviz and when I try ```OffshoreLeaksDB openIntroNotebook```, the files are not found (see picture below). Apparently the dataviz files are not at the correct place. They are located close to the image file.

![screen shot 2017-05-09 at 12 14 59](https://cloud.githubusercontent.com/assets/327334/25846241/60642376-34b1-11e7-9875-f4749b068d4f.png)

[2017-05-09 10:25] offray commented on #251
Hi,

Well, is just the normal "API documentation" in the Pharo/Smalltalk way,
as stated in the Readme: a command to browse the protocols inside the
image.

follows the custom of making the API documentation available inside a
dynamic environment, instead in some static web page. To open the
Grafoscopio package inside the system browser, and see the messages
organized by protocols execute:

1
2
3
4

[2017-05-09 10:38] arfon commented on #221
I think it's OK to keep the affiliation the same. Have you completed your changes?

[2017-05-09 10:45] SergeStinckwich commented on #251
From me this is not mandatory, but the reviewing criteria ask about that.

I know Pharo is a live environment but I guess for people outside the community this will be better to have a static version of the API, without having to launch the tool. This will ease also the work of search engine like the Google one also. I know this is possible to generate an HTML file documentation from Pharo classes

[2017-05-09 10:46] offray commented on #251
Hi Serge,

It seems that something in the documentation dowloanding is failing.
Could you please try to update Grafoscopio, Dataviz and Documentation
from the "Update" dockbar menu (in that order) to see if the problem is
fixed?

Thanks,

On 09/05/17 05:17, Serge Stinckwich wrote:

[2017-05-09 10:51] offray commented on #251
Hi,

On 09/05/17 05:45, Serge Stinckwich wrote:

OK. I find so little documentation packaged like this in the Pharo
projects and community (I mean as external static API documentation
files) that feels really alien, and the community seems fine of not
having static API docs indexed in search engines.

I'll ask and fix the comments.

Thanks,

Offray

[2017-05-09 13:35] howardjp commented on #256
1. Check, now version 1.2.1
2. Wow, I just want to say, that was an entirely nontrivial operation

[2017-05-09 13:35] SergeStinckwich commented on #251
Now when I try to update Documentation, I have the following error

![screen shot 2017-05-09 at 15 34 47](https://cloud.githubusercontent.com/assets/327334/25853460/1e5765ee-34cd-11e7-9387-eb3e9acfbecd.png)

[2017-05-09 13:45] luk87 commented on #221
@arfon Yes I have completed the changes.

[2017-05-09 15:26] arfon commented on #221
@jmichel7 - many thanks for your review here and to @danielskatz for editing this one ✨

@luk87 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00221 ⚡️ 🚀 💥

[2017-05-09 15:26] #221 closed

[2017-05-09 15:40] cMadan commented on #254
Sure, I can be a reviewer for this

[2017-05-09 16:26] brainstorm commented on #206
I've been having a look at it for a couple of days but I'm in ;)

@whedon review

[2017-05-09 18:05] arfon commented on #206
@whedon assign @brainstorm as editor

[2017-05-09 18:05] whedon commented on #206
OK, the editor is @brainstorm

[2017-05-09 18:06] arfon commented on #206
@brainstorm 👍 thanks. Next step would be to find a reviewer for this.

[2017-05-09 18:12] brainstorm commented on #206
Perhaps @roryk would be interested?

[2017-05-09 18:41] roryk commented on #206
This looks great, would definitely be doing for reviewing it. @mikelove would be another good pick but he might be super busy.

[2017-05-09 18:56] mikelove commented on #206
I can review if needed

[2017-05-09 19:36] arfon commented on #206
@brainstorm - I'll let you drive @whedon but you need the following two commands to start the process:

[code]
☝️ these need to be issued as separate commands. @whedon will then open a new review issue for @roryk to work through.

[2017-05-09 19:38] brainstorm commented on #206
@whedon assign @roryk as reviewer

[2017-05-09 19:38] whedon commented on #206
OK, the reviewer is @roryk

[2017-05-09 19:39] brainstorm commented on #206
@whedon start review magic-word=bananas

[2017-05-09 19:39] whedon opened #257 "[REVIEW]: Varistran: Anscombe's variance stabilizing transformation for RNA-seq gene expression data"
**Submitting author:** @pfh (<a href="http://orcid.org/0000-0002-3980-268X">Paul Harrison</a>)
**Repository:** <a href="https://github.com/MonashBioinformaticsPlatform/varistran" target ="_blank">https://github.com/MonashBioinformaticsPlatform/varistran</a>
**Version:** v1.0.1
**Editor:** @brainstorm
**Reviewer:** @roryk
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.846925" target="_blank

[2017-05-09 19:39] whedon commented on #206
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/257. Feel free to close this issue now!

[2017-05-09 19:39] whedon commented on #257
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @roryk it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-05-10 06:36] pjotrp commented on #256
Your software is compliant ;). One last niggle, can you make a release of the software under version 1.2.1? Once that is done we can in principle assign a DOI.

[2017-05-10 07:34] lepisma commented on #231
We have updated the version to [v1.3.3](https://github.com/reichlab/flusight/releases/tag/v1.3.3).
DOI : [https://doi.org/10.5281/zenodo.573580](https://doi.org/10.5281/zenodo.573580).

[2017-05-10 09:10] andim commented on #218
Thanks @nirum, looking forward to your input ! Great to see this move forward. Is this moving automatically to a review thread @arokem or do I need to take any action right now?

[2017-05-10 09:48] #206 closed

[2017-05-10 11:31] whedon opened #258 "[REVIEW]: Noisyopt"
**Submitting author:** @andim (<a href="http://orcid.org/0000-0002-6643-7622">Andreas Mayer</a>)
**Repository:** <a href="https://github.com/andim/noisyopt" target ="_blank">https://github.com/andim/noisyopt</a>
**Version:** v0.2
**Editor:** @arokem
**Reviewer:** @nirum
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.580120" target="_blank">10.5281/zenodo.580120</a>

## Status

[![status](h

[2017-05-10 11:40] arfon commented on #231
@rneher - many thanks for your review here ✨

@lepisma - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00231 ⚡️ 🚀 :boom:

[2017-05-10 11:40] #231 closed

[2017-05-10 16:34] domoritz commented on #235
I just tested `python label_gen.py read testdata/paper.pdf /tmp/test --dbg-image --debug` and get

[code]

I suspect that you get the second error because of permission issues on S3, which I consider outside the scope of this review. When running over S3 data, the code always just calls the same method that is used for local generation (https://github.com/domoritz/label_generator/blob/master/label

[2017-05-10 21:16] ekolve commented on #235
Looks like I am getting an error from pdffigures:

Running this pdf: X98-1018.pdf

pdffigures/pdffigures -j /tmp/tmp70kZSJ/X98-1018 /tmp/tmp70kZSJ/X98-1018.pdf

Gives this output:
Body text appears to be encoded as graphics, skipping (use -i to parse these kinds of documents)
Running pdffigures version 1.0.6

[2017-05-10 21:21] domoritz commented on #235
Interesting. I think this should only be a warning. Does it crash the
script?

On Wed, May 10, 2017, 15:16 Eric Kolve <notifications@github.com> wrote:

[2017-05-10 21:23] ekolve commented on #235
It doesn't crash the script, but pdffigures doesn't write anything out so there is no json to read which causes the code to failure a few lines later.

[2017-05-10 21:24] ekolve commented on #235
Actually, hold on - i am seeing JSON - let me look at this a little more.

[2017-05-10 21:28] ekolve commented on #235
Okay, I not sure what is going on with pdffigures, but this is what I am seeing:

`pdffigures/pdffigures -j /tmp/X98-1018 /tmp/X98-1018.pdf.pdf`

works - I get a file in /tmp/X98-1018.json

If i run:

`mkdir /tmp/foo`
`pdffigures/pdffigures -j /tmp/foo/X98-1018 /tmp/X98-1018.pdf.pdf`

no json file gets placed in /tmp/foo

[2017-05-10 21:48] domoritz commented on #235
Yeah, I can confirm. The directory needs to exist.

[code]

Only works if `tmp/json` exists.

[2017-05-10 21:52] domoritz commented on #235
Running

[code]

Works even when only `/tmp` exists and it generates the labels correctly for me. I'm using pdffigures version 1.0.6.

Again, thank you so much for putting the effort into testing the label generator thoroughly. I'm at a conference so please excuse the slow replies lately.

[2017-05-10 22:33] ekolve commented on #235
Could you try the pdf that I was using?

[2017-05-10 23:06] domoritz commented on #235
Sure! Can you send me a link to the file or the S3 location?

[2017-05-10 23:09] domoritz commented on #235
Found it: https://s3-us-west-2.amazonaws.com/escience.washington.edu.viziometrics/acl_anthology/pdf/X98-1018.pdf

[2017-05-10 23:15] domoritz commented on #235
Ahh, yes. That was a bug. The problem was that pdffigures doesn't create a JSON file when it couldn't extract any figures from the paper.

Fixed in https://github.com/domoritz/label_generator/commit/8c665df0ec37f249818455b7c100fdec5440605e. I just added a check for whether the JSON file exists.

[2017-05-11 18:06] pjotrp commented on #256
Thank you @howardjp. The release should match the paper version.

@arfon I think we can go ahead and accept this submission.

[2017-05-11 18:08] arfon commented on #256
@howardjp - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-11 20:13] howardjp commented on #256
Awesome! http://doi.org/10.5281/zenodo.574887

[2017-05-11 23:48] arfon commented on #256
@whedon set 10.5281/zenodo.574887 as archive

[2017-05-11 23:48] whedon commented on #256
OK. <a href="http://dx.doi.org/10.5281/zenodo.574887" target="_blank">10.5281/zenodo.574887</a> is the archive.

[2017-05-11 23:54] arfon commented on #256
Many thanks for your review @pjotrp ✨

@howardjp - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00256 ⚡️ 🚀 💥

[2017-05-11 23:54] #256 closed

[2017-05-11 23:56] howardjp commented on #256
Thank you @arfon and @pjotrp for seeing this through!

[2017-05-12 17:15] arokem commented on #254
@whedon assign @cMadan as reviewer

[2017-05-12 17:15] whedon commented on #254
OK, the reviewer is @cMadan

[2017-05-12 17:15] arokem commented on #254
@whedon start review magic-word=bananas

[2017-05-12 17:16] whedon commented on #254
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/259. Feel free to close this issue now!

[2017-05-12 17:16] whedon opened #259 "[REVIEW]: Neuropsydia.py: A Python Module for Creating Experiments, Tasks and Questionnaires"
**Submitting author:** @DominiqueMakowski (<a href="http://orcid.org/0000-0001-5375-9967">Dominique Makowski</a>)
**Repository:** <a href="https://github.com/neuropsychology/Neuropsydia.py/" target ="_blank">https://github.com/neuropsychology/Neuropsydia.py/</a>
**Version:** 1.0.4
**Editor:** @arokem
**Reviewer:** @cMadan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1048777" target="_bla

[2017-05-12 17:16] whedon commented on #259
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @cMadan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-05-12 17:16] arokem commented on #254
Thanks @cMadan!

Please head over to the aforementioned issue for the review itself.

I will close this one.

[2017-05-12 17:16] #254 closed

[2017-05-12 17:30] cMadan commented on #259
@DominiqueMakowski - I just did a quick first pass at going through the JOSS reviewer questions, but not yet testing the functionality of the software itself. There are a few things I noticed that need to be addressed, and I will continue and test the code itself within a few days.

Version - You list the software as being version 1.0.4 in the repo, but haven't minted a 'release' in Github to go w

[2017-05-13 12:17] rorynolan commented on #246
Hello again,
My reviewer suggestions are @jsta, @masalmon, @benmarwick and @cdcrabtree.
In reality, any avid R user would be appropriate, the package is quite general and easy to understand.
Rory

[2017-05-13 20:07] karthik commented on #246
Thanks Rory.
@benmarwick could you please review this submission?

[2017-05-14 06:15] benmarwick commented on #246
No worries, happy to review!

[2017-05-15 01:00] Kevin-Mattheus-Moerman commented on #47
@v3c70r any updates to report?

[2017-05-15 03:02] benmarwick commented on #246
Review of filesstrings

I'm using the [ropensci reviewer template](https://github.com/ropensci/onboarding/blob/master/reviewer_template.md) here:

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work

#### Documentation

The package includes all the following forms of documentation:

y: yes
i: could be improved
n: no

- [i] **A statement of need** clea

[2017-05-15 08:27] karthik commented on #246
@whedon assign @benmarwick as reviewer

[2017-05-15 08:27] whedon commented on #246
OK, the reviewer is @benmarwick

[2017-05-15 08:27] karthik commented on #246
@whedon start review

[2017-05-15 08:27] whedon commented on #246
You didn't say the magic word! Try this:

[code]

[2017-05-15 08:27] karthik commented on #246
@whedon start review magic-word=bananas

[2017-05-15 08:27] whedon commented on #246
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/260. Feel free to close this issue now!

[2017-05-15 08:27] whedon opened #260 "[REVIEW]: filesstrings: An R package for file and string manipulation"
**Submitting author:** @rorynolan (<a href="http://orcid.org/0000-0002-5239-4043">Rory Nolan</a>)
**Repository:** <a href="https://github.com/rorynolan/filesstrings" target ="_blank">https://github.com/rorynolan/filesstrings</a>
**Version:** v0.4.1
**Editor:** @karthik
**Reviewer:** @benmarwick
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.801452" target="_blank">10.5281/zenodo.801452</a>

[2017-05-15 08:27] whedon commented on #260
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @benmarwick it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-05-15 08:28] karthik commented on #246
@benmarwick Thanks so much! At JOSS we review on a separate thread. Could you move your comments over to #260, please?

[2017-05-15 11:45] karthik commented on #161
@wilsoncai1992  Checking in. Do you need any help from us to move this along?

[2017-05-15 11:45] karthik commented on #214
@jirotubuyaki  Do you need more time to respond to these comments? Can you please update us when you get a chance?

[2017-05-15 18:33] nhejazi commented on #161
We've had a bit of a delay in working out the requested changes, but will be working towards having them done by the end of the month. @karthik Thanks for the offer of help -- we'll update on this thread when the changes have all been made.

[2017-05-16 06:15] kortschak commented on #234
@ngoto I believe I have addressed all of your concerns.

[2017-05-16 07:59] ngoto commented on #234
It seems that no description about performance (only a phrase "light weight" ?). I suppose the running performance is fully depended on NCBI.

[2017-05-16 09:02] kortschak commented on #234
We make no claims about performance since the vast majority of computational effort is made by the NCBI servers or the local BLAST executable.

I don't believe that syntactic weight constitutes performance, but I guess that could be assessed by comparison of exported function count or SLOC with other similar suites.

[2017-05-16 12:29] gauteh commented on #250
Hi Declan, thanks for the review, the extensive testing and the very
useful comments. I have created a new release: v1.1 which hopefully
fixes the issues you have raised.

Please see my comments inline:

Declan Valters writes on mai 4, 2017 0:21:

A requirements.txt file have been included.

The figure is now included in the paper with a small example.

See your bug-report for the unclosed-files w

[2017-05-16 18:44] benmarwick commented on #260
Review of filesstrings

I'm using the [ropensci reviewer template](https://github.com/ropensci/onboarding/blob/master/reviewer_template.md) here:

- [x] As the reviewer I confirm that there are no conflicts of interest for me to review this work

y: yes
i: could be improved
n: no

### General checks

- [y] **Repository:** Is the source code for this software available at the <a target="_blank" hre

[2017-05-16 18:45] #246 closed

[2017-05-16 21:28] dvalters commented on #250
Hi Gaute,

Thanks for addressing the comments in the review - I am happy that the software and paper meet the requirements. @arfon I think it is good to go now!

[2017-05-17 09:05] pjotrp commented on #234
Thanks @ngoto! Looks like we are pretty much done. There are no real claims on performance, so it is OK not to tick that box. If you are happy we can push for publication.

[2017-05-17 10:29] karthik commented on #260
👋 Hi  @rorynolan, Can you please respond to Ben's comments and update this thread please?

[2017-05-17 13:29] Kevin-Mattheus-Moerman commented on #252
@arfon @akhuettel Apologies for the late reply. I have some LabView experience but am not very familiar with Perl. I'll nevertheless attempt to be an editor for this submission but I need some help from the authors.

@akhuettel

1. Can you please check if you meet all our requirements? http://joss.theoj.org/about e.g. on the license your site mentions:

 (c) 2010, 2011 Daniel Schröer, Andreas K. H

[2017-05-17 13:33] Kevin-Mattheus-Moerman commented on #252
I've just noticed that on this site http://search.cpan.org/dist/Lab-Measurement/ on CPAN you mention this license http://dev.perl.org/licenses/. That seems to be general Perl license which offers the option of several types of licenses. For your work can you pick a single OSI approved license and also refer to it appropriately on your website?

[2017-05-17 14:59] rorynolan commented on #260
Dear Ben,
Thank you for taking the time to review my package. I agree with all of your points and will amend my package accordingly. I'll have it ready in a few weeks.
Regarding the renaming of the package, since it's already on CRAN, I think I'll leave the name as it is, even though filestrings would be better for sure.
Regarding the snake_case naming of functions, I made the package according to

[2017-05-17 15:11] karthik commented on #260
@rorynolan Great! Please at mention me when you're ready for us. thanks!

[2017-05-17 15:22] arfon commented on #250
@gauteh - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-17 16:27] gauteh commented on #250
Arfon Smith writes on mai 17, 2017 17:22:

Hi Arfon,

the DOI is: 10.5281/zenodo.580775  (https://zenodo.org/record/580775)

- gaute

[2017-05-17 22:54] jessdtate commented on #224
I got it working with python 2.  This detail should be noted in the installation documentation.

It might help to have some other hints about the installation process.  For instance, using conda the py.test will not work (at least not for me) as it doesn't copy the py.test executable to the fenics environment.  However, using the docker method, there are problems getting the plots to visualize.  I

[2017-05-18 11:51] whedon opened #261 "[PRE REVIEW]: CLOOPSy - Copernicus Land cOver crOwdsourcing Platform for Sentinel-based mapping"
**Submitting author:** @dandev89 (<a href="http://orcid.org/0000-0001-8600-7657">Daniele De Vecchi</a>)
**Repository:** <a href="https://bitbucket.org/cloopsy/android/" target ="_blank">https://bitbucket.org/cloopsy/android/</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @MWieland

**Author instructions**

Thanks for submitting your paper to JOSS @dandev89. The JOSS editor (shown at the to

[2017-05-18 11:51] whedon commented on #261
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-05-18 11:51] whedon opened #262 "[PRE REVIEW]: root_numpy: The interface between ROOT and NumPy"
**Submitting author:** @ndawe (<a href="http://orcid.org/0000-0003-0202-3284">Edmund Dawe</a>)
**Repository:** <a href="https://github.com/scikit-hep/root_numpy" target ="_blank">https://github.com/scikit-hep/root_numpy</a>
**Version:** 4.7.2
**Editor:** @danielskatz
**Reviewer:** @wlav

**Author instructions**

Thanks for submitting your paper to JOSS @ndawe. The JOSS editor (shown at the top of

[2017-05-18 11:51] whedon commented on #262
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-05-18 11:51] whedon opened #263 "[PRE REVIEW]: Windrose"
**Submitting author:** @scls19fr (<a href="http://orcid.org/0000-0001-9987-4338">Sébastien Celles</a>)
**Repository:** <a href="https://github.com/python-windrose/windrose/" target ="_blank">https://github.com/python-windrose/windrose/</a>
**Version:** 1.6
**Editor:** @arfon
**Reviewer:** @tacaswell

**Author instructions**

Thanks for submitting your paper to JOSS @scls19fr. The JOSS editor (show

[2017-05-18 11:51] whedon commented on #263
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-05-18 11:52] whedon opened #264 "[PRE REVIEW]: Mosquitto"
**Submitting author:** ralight (<a href="http://orcid.org/0000-0001-9218-7797">Roger A. Light</a>)
**Repository:** <a href="https://github.com/eclipse/mosquitto" target ="_blank">https://github.com/eclipse/mosquitto</a>
**Version:** v1.4.11
**Editor:** @arfon
**Reviewer:** @brainstorm

**Author instructions**

Thanks for submitting your paper to JOSS ralight. The JOSS editor (shown at the top of t

[2017-05-18 11:52] whedon commented on #264
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-05-18 11:59] scls19fr commented on #263
Given the fact that this library is written using Python language and deals with plotting @tacaswell @desilinguist are probably potential reviewers

[2017-05-18 12:55] meg-simula commented on #224
Thanks @jessdtate, I have updated the installation instructions to require Python 2 for now.

[2017-05-18 13:16] akhuettel commented on #252
About the license... In the Perl ecosystem it's actually quite common to release software "under the same license as Perl itself", which is what we're doing. (The http://dev.perl.org/licenses/ link is autogenerated from that on CPAN.) The Perl license is dual-licensing under "GPL-1 or later" and "Artistic" (1), so whoever wants to use / reproduce / modify the software can chose from this list. At

[2017-05-18 13:19] labarba commented on #224
What about the other suggestions in the second paragraph?

[2017-05-18 13:23] akhuettel commented on #252
About the software repository. Well, there are technically three URLs.

1) the project homepage, http://www.labmeasurement.de/
2) the page on CPAN where releases are uploaded and distributed, http://search.cpan.org/dist/Lab-Measurement/
3) the git repository on Github for software development, https://github.com/lab-measurement/lab-measurement

The "repository" is probably best given by 3). I'm ju

[2017-05-18 13:23] meg-simula commented on #224
If you give me a concrete suggestion for what to add and where, I would be happy to do so.

Plotting in Docker is clearly FEniCS work-in-progress, but I would rather avoid duplication of issues in FEniCS in the cbcbeat documentation. I'm not familiar with using conda, so I wouldn't quite know what to write regarding py.test.

[2017-05-18 14:25] akhuettel commented on #252
About reviewers... Well, I don't know anyone except us who uses Perl to measure, so I unfortunately can't really make immediate suggestions.

* There are some similar projects, but more limited in scope, in other programming languages, e.g. pyvisa (and the "normal" software to use in this type of application is of course Labview).
* For Perl, people with similar interests might be among the author

[2017-05-18 17:35] jessdtate commented on #224
these are suggestion to make the installation easier for those that may not know FEniCS or your software.  Since the cbcbeat API is based of FEniCS's, the users need to be familiar with the API of FEniCS, which should but noted in the documentation.  You could emphasis this in the documentation with statements like: 'Users should familiarize themselves with the FEniCS package..' or '...requires a

[2017-05-18 17:46] jessdtate commented on #224
I had a problem getting the niederer-benchmark demo to work.   It seems to need a case file that I cannot find.

[2017-05-18 17:52] jessdtate commented on #224
I'm also having trouble running the biventricular example.  I get the error:

`File "demo_biventricular.py", line 195, in main
    vs_timeseries = TimeSeries(mpi_comm, "%s/vs" % directory)
NameError: global name 'TimeSeries' is not defined`

[2017-05-18 18:36] jessdtate commented on #224
I'm a bit confused as to the description of the software for applications of forward and inverse cardiac electrophysiology.  My concern is that the description takes away the focus of what I think is a useful software.

The examples provided are all tissue or cell models, which are forward problems in the technical sense, but traditional use of the term of cardiac forward problem most often refers

[2017-05-18 18:54] meg-simula commented on #224
Thanks for taking the time to look carefully at this Jess! I'll respond in sequence below. (Sidenote: threaded issues would be practical on Github, does that exist?)

1. Installation and testing: I've updated the main readme doc, hopefully in accordance with your suggestions and pointed new users towards the FEniCS and dolfin-adjoint tutorials, and added your suggestions re: testing/development on

[2017-05-18 18:57] meg-simula commented on #224
2. The niederer-demo runs out of the box on a clean clone of the repository for me. Could you please report the error message you get in (possibly) a separate issue?

[2017-05-18 19:03] jessdtate commented on #224
@whedon commands

[2017-05-18 19:03] whedon commented on #224
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-05-18 19:10] meg-simula commented on #224
3. I'm not able to reproduce the TimeSeries error. Which version of FEniCS have you installed for conda?
(Try e.g.:
$ dolfin-version
)

[2017-05-18 19:16] jessdtate commented on #224
This is a different setup than most github repos.  Normally, we would split these into separate issues and each would be a thread.  I cannot create issues in bitbucket, but I could add these to your github repo.

[2017-05-18 19:17] jessdtate commented on #224
dolfin-version: 2016.2.0

[2017-05-18 19:18] meg-simula commented on #224
4. This sounds like naming/differing communities issue. How about just replacing:

"cbcbeat [@cbcbeat] is a Python-based software collection targeting forward and inverse solution of computational cardiac electrophysiology problems"

with

"cbcbeat [@cbcbeat] is a Python-based software collection targeting computational cardiac electrophysiology problems."

The next sentences then describe what cb

[2017-05-18 19:29] meg-simula commented on #224
3.2 The TimeSeries error would be a pure FEniCS + conda issue, I can follow that up with the maintainers of the FEniCS conda packages. (See the top of the demo_biventricular.py demo for a recommendation of running the demo with --T 1.0 to make it complete faster.)

2.2 The niederer-demo issue would belong with the cbcbeat Bitbucket repo. If you can provide the error message, that would be useful.

[2017-05-18 19:33] jessdtate commented on #224
re 4.  That description is much more clear.

[2017-05-18 19:34] jessdtate commented on #224
hmm.  Looks like the niederer-demo is working with docker build now.

[2017-05-18 19:35] jessdtate commented on #224
3.2 the biventricular demo is failing in the docker build.  It reports 'killed' without an error message.

[2017-05-18 19:38] cMadan commented on #217
@Kevin-Mattheus-Moerman, have you had a chance to try compiling the code again?

[2017-05-18 20:00] meg-simula commented on #224
3.2: I'm assuming this is not with --T 1.0... Thanks for patiently testing, I've just pushed a fix. Could you please test with Docker again?

[2017-05-18 20:02] meg-simula commented on #224
4.2: Text updated, and I've added an issue re adding an inverse demo.

[2017-05-18 20:22] meg-simula commented on #224
3.2: I've also removed the use of the old style TimeSeries, so perhaps it also works with Conda now.

[2017-05-18 20:27] jessdtate commented on #224
Both the biventricular and becnchmark examples are working in docker.

I no longer get the TimeSeries error, but now I'm getting this error with both in the conda version:
NameError: global name 'HDF5File' is not defined

[2017-05-18 20:37] meg-simula commented on #224
Good! Missing TimeSeries/HDF5 in the conda packages seem to be a known FEniCS issue/feature see e.g:
  https://github.com/conda-forge/fenics-feedstock/issues/37
  https://github.com/conda-forge/fenics-feedstock/issues/5

[2017-05-18 21:06] rorynolan commented on #260
Hi @benmarwick
Apart from renaming the package and changing the style, I've implemented everything you said and pushed the changes to github.
In particular, I've
* tried to improve the vignettes
* structured the NEWS file as suggested
* added function names `file.move()` and `dir.delete()` to comply with base R naming style
* changed the paper and README to include a better statement of purpose
*

[2017-05-19 17:59] ngoto commented on #234
Thanks. Finished. Sorry for delay.

[2017-05-19 18:19] ekolve commented on #235
I am going to try and train the network - I pulled down all the data that I generated using the parallel command from s3. Now I have a directory acl_anthology with three directories inside of it: img, json, text-masked.  Which directory of images do I use to train the network?

[2017-05-19 20:39] domoritz commented on #235
@ekolve I think the main contribution of my code (and what others are using it for) is the label generation. IMHO, you don't necessarily need to do the training because I just use darknet and these days better models exist.

[2017-05-19 23:40] ekolve commented on #235
Okay, that sounds good.

The only remaining points I have to verify are: Community guidelines and Automated Tests.

Could you add a section to the README to satisfy community guidelines (description for how to contribute, etc.)?

For automated tests, I am able to run the example label_gen.py you have in the README, but I don't necessarily know if my output is what is expected.  Could you provide s

[2017-05-20 04:12] pjotrp commented on #234
Thank you so much @ngoto! @arfon we are ready to R&R!

[2017-05-20 08:50] labarba commented on #247
@arfon -- We are ready to accept this paper.

[2017-05-20 17:16] domoritz commented on #235
Thank you! I'll do that today. For intimated tests, I should probably add a
test that runs a full image generation on Travis and compares the outputs.

On Fri, May 19, 2017, 16:40 Eric Kolve <notifications@github.com> wrote:

[2017-05-21 23:40] brainstorm commented on #264
This is a great piece of software, I've been using it together with The Things Network lately, happy to review its paper :)

@whedon assign @brainstorm as reviewer

[2017-05-22 04:57] kdmurray91 commented on #232
Hi all, I've pushed changes that hopefully address all the review comments, as detailed in https://github.com/kdmurray91/libqcpp/issues/3.

[2017-05-22 05:46] domoritz commented on #235
I've added some guidelines and set up basic tests on travis. As a basic test, compare your output of `python label_gen.py read testdata/paper.pdf /tmp/test --dbg-image` with the content of [`testoutput`](https://github.com/domoritz/label_generator/tree/master/testoutput). I also created a new [tag 1.2](https://github.com/domoritz/label_generator/releases/tag/1.2).

[2017-05-22 12:05] dandev89 commented on #261
@whedon commands

[2017-05-22 12:05] whedon commented on #261
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-05-22 12:08] dandev89 commented on #261
@whedon list editors

[2017-05-22 12:08] whedon commented on #261
Current JOSS editors:

[code]

[2017-05-22 12:10] dandev89 commented on #261
@whedon assign @MWieland as reviewer

[2017-05-22 12:10] whedon commented on #261
I'm sorry @dandev89, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-05-22 12:11] dandev89 commented on #261
@whedon assign @MWieland as editor

[2017-05-22 12:11] whedon commented on #261
I'm sorry @dandev89, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-05-22 12:12] dandev89 commented on #261
@whedon start review

[2017-05-22 12:12] whedon commented on #261
I'm sorry @dandev89, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-05-22 12:18] dandev89 commented on #261
@arfon  I'd suggest @MWieland as reviewer

[2017-05-22 14:06] arfon commented on #264
@whedon assign @arfon as editor

[2017-05-22 14:06] whedon commented on #264
OK, the editor is @arfon

[2017-05-22 14:06] arfon commented on #264
@whedon assign @brainstorm as reviewer

[2017-05-22 14:06] whedon commented on #264
OK, the reviewer is @brainstorm

[2017-05-22 14:06] arfon commented on #264
@whedon start review magic-word=bananas

[2017-05-22 14:06] #264 closed

[2017-05-22 14:06] whedon opened #265 "[REVIEW]: Mosquitto"
**Submitting author:** @ralight (<a href="http://orcid.org/0000-0001-9218-7797">Roger A. Light</a>)
**Repository:** <a href="https://github.com/eclipse/mosquitto" target ="_blank">https://github.com/eclipse/mosquitto</a>
**Version:** v1.4.11
**Editor:** @arfon
**Reviewer:** @brainstorm
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.582351" target="_blank">10.5281/zenodo.582351</a>

## Stat

[2017-05-22 14:06] whedon commented on #264
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/265. Feel free to close this issue now!

[2017-05-22 14:07] whedon commented on #265
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @brainstorm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-05-22 14:07] arfon commented on #264
@brainstorm thanks for volunteering to review this. Please head over to #265 for the review.

[2017-05-22 15:55] brainstorm commented on #265
Since, coincidentally I've been using this software recently for my experiments with The Things Network, it has been a breeze to validate its functionality and performance. Good piece of software, @ralight 👍

@arfon, I'm done with it, ready to deposit.

[2017-05-22 16:35] arfon commented on #234
@kortschak - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-22 16:36] arfon commented on #247
@bjmorgan - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-22 16:38] arfon commented on #250
@whedon set 10.5281/zenodo.580775 as archive

[2017-05-22 16:38] whedon commented on #250
OK. <a href="http://dx.doi.org/10.5281/zenodo.580775" target="_blank">10.5281/zenodo.580775</a> is the archive.

[2017-05-22 16:52] arfon commented on #250
@dvalters - many thanks for your review here ✨

@gauteh - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00250 ⚡️ 🚀 💥

[2017-05-22 16:52] #250 closed

[2017-05-22 19:15] gauteh commented on #250
@arfon: great! many thanks!

@dvalters: Thanks for the thorough review!

Arfon Smith writes on mai 22, 2017 18:52:

[2017-05-22 20:07] whedon opened #266 "[PRE REVIEW]: Bézier"
**Submitting author:** @dhermes (<a href="http://orcid.org/0000-0001-7366-173X">Daniel Hermes</a>)
**Repository:** <a href="https://github.com/dhermes/bezier" target ="_blank">https://github.com/dhermes/bezier</a>
**Version:** 0.3.0
**Editor:** @arfon
**Reviewer:** @tacaswell

**Author instructions**

Thanks for submitting your paper to JOSS @dhermes. The JOSS editor (shown at the top of this issu

[2017-05-22 20:07] whedon commented on #266
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-05-22 21:09] bjmorgan commented on #247
@arfon Would it be appropriate to bump the version number to e.g. 1.0.1 to differentiate from the as submitted version?

[2017-05-22 21:29] ralight commented on #265
Well awesome, that is a nice coincidence and this was a lot more straightforward than I was expecting. Thanks very much.

[2017-05-22 22:48] ralight commented on #265
I've uploaded an archive to zenodo: http://doi.org/10.5281/zenodo.582351

[2017-05-23 00:26] kortschak commented on #234
@arfon Done.

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.582354.svg)](https://doi.org/10.5281/zenodo.582354)

`doi:10.5281/zenodo.582354`

[2017-05-23 06:26] pjotrp commented on #249
@matthieugomez ping!

[2017-05-23 06:28] pjotrp commented on #255
@ctb ping!

[2017-05-23 07:17] bjmorgan commented on #247
The doi for the "as accepted" version (1.0.1) is 10.5281/zenodo.582402
The doi for the original submitted version (1.0.0) is 10.5281/zenodo.546262

[2017-05-23 08:48] labarba commented on #247
@asmit3 : Thank you for your review, and I hope you enjoyed being part of this new publishing model and you'll consider submitting to JOSS in the future!

[2017-05-23 13:35] ctb commented on #255
on it! slowly... but surely... https://github.com/jdidion/xphyle/issues/9

[2017-05-23 13:51] jdidion commented on #255
Is it still not working for you after upgrading to 3.0.2?

[2017-05-23 17:46] nirum commented on #258
The author(s) have addressed all of my comments and closed the issues, which are linked below.

https://github.com/andim/noisyopt/issues/4

[2017-05-23 17:49] nirum commented on #258
@arfon @arokem what's the next step here? It looks like @andim has already created a DOI for the package:

[![DOI](https://zenodo.org/badge/54976198.svg)](https://zenodo.org/badge/latestdoi/54976198)

[2017-05-23 20:29] jessdtate commented on #224
@labarba what's the procedure now.  I'm satisfied with the changes.  There are plans to add another example, otherwise everything else is done.  Do we wait for the example to finish the review, or finish it up now.  Do I just close the issue when it is done, or are there other procedures?

[2017-05-23 22:27] labarba commented on #224
I see all the checkboxes are ticked. If you are happy with all fixes, @jessdtate, then we just ping @arfon to initiate acceptance, and ask @meg-simula to make an archive of the fixed software to get a DOI update.

[2017-05-23 22:31] tacaswell commented on #266
:wave: I can volunteer to review this (sorry if I am out of order here).

[2017-05-23 22:32] tacaswell commented on #263
:wave: I can review this.

[2017-05-23 23:37] tacaswell commented on #242
@tacaswell pinging my self so I get updates.  I will be a second reviewer on this.

I agree on automated tests.  It looks like you already have a good reference result (the hard part!), using `np.assert_almost_equal` instead of plotting should be easy.  I advise against `nose`, the authors have declared it effectively un-maintained, I suggest `pytest` instead.

[2017-05-23 23:40] arfon commented on #266
✨ thanks @tacaswell!

[2017-05-23 23:41] arfon commented on #266
@whedon assign @arfon as editor

[2017-05-23 23:41] whedon commented on #266
OK, the editor is @arfon

[2017-05-23 23:41] arfon commented on #266
@whedon assign @tacaswell as reviewer

[2017-05-23 23:41] whedon commented on #266
OK, the reviewer is @tacaswell

[2017-05-23 23:41] arfon commented on #266
@whedon start review magic-word=bananas

[2017-05-23 23:41] #266 closed

[2017-05-23 23:41] whedon commented on #266
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/267. Feel free to close this issue now!

[2017-05-23 23:41] whedon opened #267 "[REVIEW]: Bézier"
**Submitting author:** @dhermes (<a href="http://orcid.org/0000-0001-7366-173X">Daniel Hermes</a>)
**Repository:** <a href="https://github.com/dhermes/bezier" target ="_blank">https://github.com/dhermes/bezier</a>
**Version:** 0.3.0
**Editor:** @arfon
**Reviewer:** @tacaswell
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.838308" target="_blank">10.5281/zenodo.838308</a>

## Status

[![sta

[2017-05-23 23:41] whedon commented on #267
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @tacaswell it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-05-23 23:41] arfon commented on #266
Thanks again @tacaswell - please head over to #267 for the actual review.

[2017-05-23 23:42] arfon commented on #263
@whedon assign @arfon as editor

[2017-05-23 23:42] whedon commented on #263
OK, the editor is @arfon

[2017-05-23 23:42] arfon commented on #263
@whedon assign @tacaswell as reviewer

[2017-05-23 23:42] whedon commented on #263
OK, the reviewer is @tacaswell

[2017-05-23 23:42] arfon commented on #263
@whedon start review magic-word=bananas

[2017-05-23 23:42] whedon commented on #263
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/268. Feel free to close this issue now!

[2017-05-23 23:42] whedon opened #268 "[REVIEW]: Windrose"
**Submitting author:** @scls19fr (<a href="http://orcid.org/0000-0001-9987-4338">Sébastien Celles</a>)
**Repository:** <a href="https://github.com/python-windrose/windrose/" target ="_blank">https://github.com/python-windrose/windrose/</a>
**Version:** 1.6.5
**Editor:** @arfon
**Reviewer:** @amoeba
**Archive:** <a href="https://doi.org/10.5281/zenodo.1406384" target="_blank">10.5281/zenodo.1406384

[2017-05-23 23:42] whedon commented on #268
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @tacaswell it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-05-23 23:43] arfon commented on #263
@tacaswell - thanks for volunteering to review this and #267. Please don't feel like you need to do these in parallel!!

[2017-05-23 23:43] #263 closed

[2017-05-23 23:43] ctb commented on #255
it is - just pointing out that I was doing *something*, albeit slowly...

[2017-05-24 01:46] nickc1 commented on #207
@johnh2o2 @jakevdp Realized I inadvertently left off the citation that actually coined the term empirical dynamic modeling. Any way to add it in in the first sentence after the first mention of the term? or is it all locked in?

Thanks!

Ye, Hao, et al. "Equation-free mechanistic ecosystem forecasting using empirical dynamic modeling." Proceedings of the National Academy of Sciences 112.13 (2015):

[2017-05-24 03:21] tacaswell commented on #267
- There are 145 commits to master from the 0.3.0 tag, changes include dependency changes
 - missing link to docs on the github page (ended up using google to find them)
 - could the `DEVELOPMENT.rst` page be included in the html docs?
 - a bit more narrative as to the applications of this package on the main page would be good

Can not get the functional tests to run following the directions (more

[2017-05-24 05:56] dhermes commented on #267
Indeed. I have had issues with the Windows build since adding the Fortran speedups. I'd love to do a release but don't want to leave out Windows users.

There is a badge "docs | latest" in the README. I'm open to suggestions on adding something else / where you'd like to see it added.

![screenshot from 2017-05-23 22-48-11](https://cloud.githubusercontent.com/assets/520669/26388564/eeb9f390-4009-1

[2017-05-24 13:01] tacaswell commented on #267
RE: link to docs:  :sheep: I was looking for a blue link that said 'documentation' and totally skipped over the badges!

RE: narrative:  both the README and the RTD docs (but content should be very similar).  On the "here's what a Bezier curve / surface / etc. is and you might want one because ..." to address the statement of need.

----

The test failure is in `def test___repr__custom_triangle(se

[2017-05-24 15:17] dhermes commented on #267
@tacaswell You're seeing this failure at `HEAD` or at the `0.3.0` tag?

[2017-05-24 19:11] luizirber commented on #232
The tutorial is great, thanks @kdmurray91!

[2017-05-24 19:12] luizirber commented on #232
@whedon commands

[2017-05-24 19:12] whedon commented on #232
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-05-24 19:14] luizirber commented on #232
@arfon all boxes are checked, I think this is good to go!

[2017-05-25 03:15] dhermes commented on #267
FYI @tacaswell I [added][1] the DEVELOPMENT doc to the HTML / Sphinx docs: http://bezier.readthedocs.io/en/latest/development.html

[1]: https://github.com/dhermes/bezier/commit/8915b040cecb62758b3d7056a1847374d0aa4995

[2017-05-25 14:12] roguephysicist commented on #242
@nicoguaro @tacaswell, sorry for the absence -- work and long weekends have gotten in the way.

@tacaswell, Thanks for the suggestions -- I definitely agree that a numeric comparison is much simpler than plotting. I already implemented a small test using `pytest` and it was indeed very easy. I will produce a simple test suite encompassing the most important components of the program.

@nicoguaro,

[2017-05-25 14:27] kyleniemeyer commented on #242
@roguephysicist those plans sound great!

[2017-05-26 00:09] arfon commented on #261
@dandev89 yep, it might take a week or so for one of the JOSS editors to volunteer to handle this submission. Thanks for recommending a reviewer - that will be very helpful.

[2017-05-26 00:16] arfon commented on #265
@ralight - do you have an institutional affiliation? If so, could you add it to your `paper.md` file please?

[2017-05-26 00:22] arfon commented on #234
@whedon set 10.5281/zenodo.582354 as archive

[2017-05-26 00:22] whedon commented on #234
OK. <a href="http://dx.doi.org/10.5281/zenodo.582354" target="_blank">10.5281/zenodo.582354</a> is the archive.

[2017-05-26 00:31] arfon commented on #234
@ngoto - many thanks for your review here and thanks to @pjotrp for editing this submission ✨

@kortschak - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00234 ⚡️ 🚀 💥

[2017-05-26 00:31] #234 closed

[2017-05-26 00:32] arfon commented on #247
@whedon set 10.5281/zenodo.582402 as archive

[2017-05-26 00:32] whedon commented on #247
OK. <a href="http://dx.doi.org/10.5281/zenodo.582402" target="_blank">10.5281/zenodo.582402</a> is the archive.

[2017-05-26 00:33] arfon commented on #247
Hi @bjmorgan - could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)). They are automatically compiled into the PDF when we process the paper.

[2017-05-26 00:35] arfon commented on #232
@kdmurray91 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-26 02:38] kdmurray91 commented on #232
Hi @arfon

I've cut a new release, 0.4.1, that incorporates @luizirber's comments. The Zenodo doi for this is  http://doi.org/10.5281/zenodo.583325

Cheers,
Kevin

[2017-05-26 06:06] bjmorgan commented on #247
@arfon: I have updated the `paper.md`.

https://github.com/bjmorgan/lattice_mc/commit/3ec30748f24614b5404da739b64171d0549806b7
https://github.com/bjmorgan/lattice_mc/commit/4fc9d0380177dc1ca2994a2440acd11840be4d20

[2017-05-26 08:17] ralight commented on #265
I do, but I'd prefer not to list it for this paper, the work is not affiliated to UoN.

[2017-05-26 10:41] arfon commented on #232
@whedon set 10.5281/zenodo.583325 as archive

[2017-05-26 10:41] whedon commented on #232
OK. <a href="http://dx.doi.org/10.5281/zenodo.583325" target="_blank">10.5281/zenodo.583325</a> is the archive.

[2017-05-26 10:46] arfon commented on #232
@luizirber - many thanks for the review here ✨

@kdmurray91 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00232 ⚡️:rocket: 💥

[2017-05-26 10:46] #232 closed

[2017-05-26 10:51] arfon commented on #247
@asmit3 many thanks for your review and to @labarba for editing this submission ✨

@bjmorgan - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00247 ⚡️:rocket: :boom:

[2017-05-26 10:51] #247 closed

[2017-05-26 10:54] arfon commented on #265
@whedon set 10.5281/zenodo.582351 as archive

[2017-05-26 10:54] whedon commented on #265
OK. <a href="http://dx.doi.org/10.5281/zenodo.582351" target="_blank">10.5281/zenodo.582351</a> is the archive.

[2017-05-26 10:57] arfon commented on #265
@brainstorm - many thanks for your review ✨

@ralight - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00265 ⚡️:rocket: :boom:

[2017-05-26 10:57] #265 closed

[2017-05-26 11:18] kdmurray91 commented on #232
Thanks heaps @luizirber @arfon !

[2017-05-26 15:29] offray commented on #251
Fixed uncommented classes:

  Author: OffrayLuna
  Time: 26 May 2017, 10:25:17.580541 am
  UUID: e8cb7fae-d00c-0d00-bdc7-ae1f045b3609
  Ancestors: Grafoscopio-OffrayLuna.280
  Fixing uncommented classes for the JOSS paper.
  See details at:
  https://github.com/openjournals/joss-reviews/issues/251#issuecomment-300128786

For documentation installation issues, like the one reported about NeoJSON de

[2017-05-29 11:11] whedon opened #269 "[PRE REVIEW]: RefManageR: Import and Manage BibTeX and BibLaTeX References in R"
**Submitting author:** @mwmclean (<a href="http://orcid.org/0000-0002-7891-9645">Mathew McLean</a>)
**Repository:** <a href="https://github.com/mwmclean/RefManageR" target ="_blank">https://github.com/mwmclean/RefManageR</a>
**Version:** v0.13.4
**Editor:** @karthik
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @mwmclean. The JOSS editor (shown at the top

[2017-05-29 11:11] whedon commented on #269
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-05-29 11:14] arfon commented on #269
👋 @noamross - would this package be suitable for rOpenSci?

[2017-05-29 11:15] whedon opened #270 "[PRE REVIEW]: khmer release v2.1: software for biological sequence analysis"
**Submitting author:** @standage (<a href="http://orcid.org/0000-0003-0342-8531">Daniel S. Standage</a>)
**Repository:** <a href="https://github.com/dib-lab/khmer" target ="_blank">https://github.com/dib-lab/khmer</a>
**Version:** v2.1
**Editor:** @biorelated
**Reviewer:** @sjackman

**Author instructions**

Thanks for submitting your paper to JOSS @standage. The JOSS editor (shown at the top of t

[2017-05-29 11:15] whedon commented on #270
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @biorelated it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-05-29 11:15] arfon commented on #270
👋 @biorelated - would you be willing to edit this submission for JOSS?

[2017-05-29 11:15] whedon opened #271 "[PRE REVIEW]: Kindel: indel-aware consensus for nucleotide sequence alignments"
**Submitting author:** @bede (<a href="http://orcid.org/0000-0002-3480-3819">Bede Constantinides</a>)
**Repository:** <a href="https://github.com/bede/kindel" target ="_blank">https://github.com/bede/kindel</a>
**Version:** v0.2.0
**Editor:** @mgymrek
**Reviewer:** @genomematt

**Author instructions**

Thanks for submitting your paper to JOSS @bede. The JOSS editor (shown at the top of this issue)

[2017-05-29 11:16] whedon commented on #271
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-05-29 11:16] arfon commented on #271
👋 @mgymrek - would you be willing to edit this submission for JOSS?

[2017-05-29 12:46] standage commented on #270
Both @macmanes and @sjackman have been users of khmer (at some point, at least). It appears that neither has reviewed for JOSS before, but were they available they would be able to provide informed reviews for this submission.

[2017-05-29 19:43] sjackman commented on #270
I can review khmer 2.1.

[2017-05-30 06:07] biorelated commented on #270
@whedon commands

[2017-05-30 06:07] whedon commented on #270
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-05-30 06:07] biorelated commented on #270
@whedon assign @sjackman  as reviewer

[2017-05-30 06:07] whedon commented on #270
OK, the reviewer is @sjackman

[2017-05-30 06:12] biorelated commented on #270
@whedon start review magic-word=bananas

[2017-05-30 06:12] whedon commented on #270
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/272. Feel free to close this issue now!

[2017-05-30 06:12] whedon opened #272 "[REVIEW]: khmer release v2.1: software for biological sequence analysis"
**Submitting author:** @standage (<a href="http://orcid.org/0000-0003-0342-8531">Daniel S. Standage</a>)
**Repository:** <a href="https://github.com/dib-lab/khmer" target ="_blank">https://github.com/dib-lab/khmer</a>
**Version:** v2.1
**Editor:** @biorelated
**Reviewer:** @sjackman
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.822478" target="_blank">10.5281/zenodo.822478</a>

## Status

[2017-05-30 06:12] whedon commented on #272
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @sjackman it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-05-30 06:12] #270 closed

[2017-05-30 10:48] arfon commented on #272
👋  @sjackman - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let @biorelated know.

[2017-05-30 12:11] meg-simula commented on #224
@labarba @jessdtate Sounds good. Will you let me know when things are ready for me to make a fixed archive? And, what is the best way of doing so?

[2017-05-30 13:08] labarba commented on #224
@jessdtate : We will need a statement from you indicating that you are satisfied and recommend acceptance.

[2017-05-30 13:45] andim commented on #258
Just wanted to ping you again @arfon @arokem ! Let me know if any action is needed from my side at this point.

[2017-05-30 15:48] jessdtate commented on #224
I am satisfied with the response to the feedback I provided and recommend acceptance.  @arfon

[2017-05-30 22:00] arfon commented on #224
@meg-simula - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-30 23:40] dhermes commented on #267
@tacaswell Anything you are waiting on from me?

[2017-05-31 00:06] arfon commented on #258
@whedon set 10.5281/zenodo.580120 as archive

[2017-05-31 00:06] whedon commented on #258
OK. <a href="http://dx.doi.org/10.5281/zenodo.580120" target="_blank">10.5281/zenodo.580120</a> is the archive.

[2017-05-31 00:15] arfon commented on #258
@nirum - many thanks for your review here and to @arokem for editing this one ✨

@andim - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00258 ⚡️:rocket: :boom:

[2017-05-31 00:15] #258 closed

[2017-05-31 02:07] noamross commented on #269
Yes, this may be eligible for rOpenSci under our reproducibility and data access categories.  @mwmclean, if you are interested in joint submission, you may find more information [here](https://github.com/ropensci/onboarding#how-to-submit-your-package-for-review).

[2017-05-31 02:40] benmarwick commented on #260
Thanks, I've reviewed the changes made at https://github.com/rorynolan/filesstrings/commit/dc5338deb72af5c7c3489e275efb3b6b9ec0e3bf, and they are excellent. I'm delighted to say that the author has responded to my review and made changes to my satisfaction. I recommend approving this package. Congratulations on such high quality work on a very useful package!

[2017-05-31 10:49] arfon commented on #260
@rorynolan - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-31 13:47] arfon commented on #165
How are we getting on here @bmcage?

[2017-05-31 13:50] arfon commented on #57
How are we getting on here @alk224?

[2017-05-31 14:28] rorynolan commented on #260
Thanks @benmarwick for the review and kind words.
Thanks @karthik for everything.
Thanks @arfon for the great JOSS service.  DOI: 10.5281/zenodo.801452

[2017-05-31 18:39] meg-simula commented on #224
Done. DOI: 10.5281/zenodo.801552 cf: https://zenodo.org/record/801552#.WS8Nxx8xDb1

[2017-05-31 18:50] arfon commented on #224
@whedon set 10.5281/zenodo.801552  as archive

[2017-05-31 18:50] whedon commented on #224
OK. <a href="http://dx.doi.org/10.5281/zenodo.801552" target="_blank">10.5281/zenodo.801552</a> is the archive.

[2017-05-31 23:56] arfon commented on #224
@jessdtate many thanks for your review here and to @labarba for editing this submission ✨

@meg-simula - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00224 :zap: :rocket: :boom:

[2017-05-31 23:56] #224 closed

[2017-06-01 00:49] aragilar commented on #165
I've made some progress on 4, but the main blocker there is working out what to do with cython. I may end up splitting the docs between rtd for the main documentation, and using github pages or similar for  the API docs.

[2017-06-02 16:17] karthik commented on #269
@arfon we are discussing this internally, will update thread shortly.

[2017-06-02 18:03] domoritz commented on #235
@ekolve Let me know if there is anything else to do. Again, thanks for the thorough review!

[2017-06-02 23:45] arfon commented on #260
@whedon set 10.5281/zenodo.801452 as archive

[2017-06-02 23:45] whedon commented on #260
OK. <a href="http://dx.doi.org/10.5281/zenodo.801452" target="_blank">10.5281/zenodo.801452</a> is the archive.

[2017-06-02 23:48] arfon commented on #260
@rorynolan - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)). The citations in `paper.bib` are automatically compiled into the final PDF by Pandoc and so they don't need to be listed at the end of the `paper.md

[2017-06-03 01:25] karthik commented on #260
👍

[2017-06-03 19:47] whedon opened #273 "[PRE REVIEW]: BioPandas: Working with molecular structures in pandas DataFrames"
**Submitting author:** @rasbt (<a href="http://orcid.org/0000-0001-6989-4493">Sebastian Raschka</a>)
**Repository:** <a href="https://github.com/rasbt/biopandas" target ="_blank">https://github.com/rasbt/biopandas</a>
**Version:** v2.1.0
**Editor:** @pjotrp
**Reviewer:** @krother

**Author instructions**

Thanks for submitting your paper to JOSS @rasbt. The JOSS editor (shown at the top of this is

[2017-06-03 19:47] whedon commented on #273
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-03 19:47] whedon opened #274 "[PRE REVIEW]: OpenSpace: An open-source astrovisualization framework"
**Submitting author:** @alexanderbock (<a href="http://orcid.org/0000-0002-2849-6146">Alexander Bock</a>)
**Repository:** <a href="https://github.com/OpenSpace/OpenSpace" target ="_blank">https://github.com/OpenSpace/OpenSpace</a>
**Version:** v0.8.0
**Editor:** @danielskatz
**Reviewer:** @MatthewTurk

**Author instructions**

Thanks for submitting your paper to JOSS @alexanderbock. The JOSS edito

[2017-06-03 19:47] whedon commented on #274
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-03 19:47] whedon opened #275 "[PRE REVIEW]: kerasR: R Interface to the Keras Deep Learning Library"
**Submitting author:** @statsmaths (<a href="http://orcid.org/0000-0003-0576-0669">Taylor Arnold</a>)
**Repository:** <a href="https://github.com/statsmaths/kerasR" target ="_blank">https://github.com/statsmaths/kerasR</a>
**Version:** 0.6.1
**Editor:** @karthik
**Reviewer:** @kaneplusplus

**Author instructions**

Thanks for submitting your paper to JOSS @statsmaths. The JOSS editor (shown at the

[2017-06-03 19:47] whedon commented on #275
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-03 19:48] whedon opened #276 "[PRE REVIEW]: Moltres: finite element based simulation of molten salt reactors"
**Submitting author:** @lindsayad (<a href="http://orcid.org/0000-0002-6988-2123">Alexander Lindsay</a>)
**Repository:** <a href="https://github.com/arfc/moltres" target ="_blank">https://github.com/arfc/moltres</a>
**Version:** v0.1.0
**Editor:** @kyleniemeyer
**Reviewer:** @scopatz

**Author instructions**

Thanks for submitting your paper to JOSS @lindsayad. The JOSS editor (shown at the top of

[2017-06-03 19:48] whedon commented on #276
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-03 19:48] whedon opened #277 "[PRE REVIEW]: AmgXWrapper: An interface between PETSc and the NVIDIA AmgX library"
**Submitting author:** @piyueh (<a href="http://orcid.org/0000-0001-6330-2709">Pi-Yueh Chuang</a>)
**Repository:** <a href="https://github.com/barbagroup/AmgXWrapper" target ="_blank">https://github.com/barbagroup/AmgXWrapper</a>
**Version:** v1.0
**Editor:** @danielskatz
**Reviewer:** @jedbrown

**Author instructions**

Thanks for submitting your paper to JOSS @piyueh. The JOSS editor (shown at t

[2017-06-03 19:48] whedon commented on #277
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-03 19:48] arfon commented on #274
👋 @danielskatz - the submitting author suggested you as an editor. What do you think?

[2017-06-03 19:48] arfon commented on #277
👋 @danielskatz - the submitting author suggested you as an editor. What do you think?

[2017-06-03 19:49] arfon commented on #276
👋 @kyleniemeyer - the submitting author suggested you as an editor. What do you think?

[2017-06-03 19:49] arfon commented on #275
👋 @karthik - would you be willing to edit this submission?

[2017-06-03 19:49] arfon commented on #273
👋 @pjotrp - would you be willing to edit this submission?

[2017-06-03 20:04] danielskatz commented on #277
ok

[2017-06-03 20:06] danielskatz commented on #277
@wrathematics - would you be willing to review this submission?

[2017-06-03 20:08] danielskatz commented on #274
ok

[2017-06-03 20:09] danielskatz commented on #274
@MatthewTurk - would you be willing to review this?  Or if not, can you suggest other potential reviewers?

[2017-06-03 21:10] karthik commented on #275
@arfon sure

[2017-06-03 21:11] karthik commented on #275
@statsmaths While I seek reviewers, are there any folks you are able to suggest?

[2017-06-03 21:17] rasbt commented on #273
Looking at the list, I think @krother @genomematt and @ctb are good candidates! Anyone of you interested and open to review the biopandas package?

[2017-06-03 21:23] krother commented on #273
me me me!!!

[2017-06-03 21:23] krother commented on #273
@whedon commands

[2017-06-03 21:23] whedon commented on #273
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-03 21:24] krother commented on #273
@whedon assign @krother as reviewer

[2017-06-03 21:24] whedon commented on #273
I'm sorry @krother, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-06-03 21:24] krother commented on #273
I want to review this paper

[2017-06-03 21:25] rasbt commented on #273
Wow, that was quick! Thanks @krother I really appreciate it :)

[2017-06-03 21:28] arfon commented on #273
@whedon assign @krother as reviewer

[2017-06-03 21:28] whedon commented on #273
OK, the reviewer is @krother

[2017-06-03 21:28] arfon commented on #273
@krother - let's wait until @pjotrp is able to edit this submission before getting started.

[2017-06-04 06:59] rorynolan commented on #260
Hi @arfon,
This is done now.
Thanks again,
Rory

[2017-06-04 10:53] statsmaths commented on #275
Here are a few people who would be good reviewers but were not involved with the package itself: Mike Kane (@kaneplusplus), Akitaka Matsuo (@amatsuo), Adam Obeng (@adamobeng).

[2017-06-04 13:08] arfon commented on #260
@benmarwick - many thanks for your review here and to @karthik for editing this one ✨

@rorynolan - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00260 ⚡️:rocket: :boom:

[2017-06-04 13:08] #260 closed

[2017-06-04 13:23] rorynolan commented on #260
Thanks again everyone. JOSS has been a fantastic experience, I'll be recommending it to all my colleagues.

[2017-06-04 16:52] labarba commented on #277
As explained in the README, this code enables PETSc-based application software to use the NVIDIA AmgX library, bestowing multi-GPU powers. Needless to say, testing the code will require both PETSc and AmgX, both big libraries.

Right now, you need to be a registered CUDA developer to download AmgX for free—but NVIDIA folks told me they have decided to open-source it. Great news! The bad news is th

[2017-06-04 17:06] labarba commented on #277
On the list of registered reviewers, I found only one who lists GPU computing among their interests: @arghdos.

[2017-06-04 20:14] whedon opened #278 "[PRE REVIEW]: opty: Software For Trajectory Optimization and Parameter Identification Using Direct Collocation"
**Submitting author:** @moorepants (<a href="http://orcid.org/0000-0002-8698-6143">Jason K. Moore</a>)
**Repository:** <a href="https://github.com/csu-hmc/opty" target ="_blank">https://github.com/csu-hmc/opty</a>
**Version:** v0.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @cybanical

**Author instructions**

Thanks for submitting your paper to JOSS @moorepants. The JOSS editor (shown at

[2017-06-04 20:14] whedon commented on #278
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-04 20:14] arfon commented on #278
👋 @Kevin-Mattheus-Moerman - the submitting author suggested you as an editor. Whaddya think?

[2017-06-04 20:53] akhuettel commented on #252
@Kevin-Mattheus-Moerman I might be able to better help if you give me an idea what you're e.g. looking for in a reviewer...

[2017-06-04 22:09] danielskatz commented on #277
@labarba - Do you have other reviewers you might suggest outside the list of JOSS volunteers?

[2017-06-04 23:04] labarba commented on #277
I wonder if @jedbrown might give reviewing for JOSS a go.

[2017-06-04 23:34] arfon commented on #257
👋 @roryk - friendly reminder that this review is waiting for you 😄

[2017-06-04 23:35] arfon commented on #229
👋 @karthik - would you be willing to edit this submission for JOSS?

[2017-06-04 23:36] arfon commented on #124
👋 @DannyArends - would you mind taking another look at this submission?

[2017-06-05 00:11] jedbrown commented on #277
What's the timeline?

[2017-06-05 00:19] danielskatz commented on #277
how about 2 weeks?

[2017-06-05 00:21] arfon commented on #185
👋 @desilinguist - does @lebebr01's last comment help here?

[2017-06-05 00:21] arfon commented on #201
@47rooks - would you be willing to review this submission for JOSS?

[2017-06-05 00:34] arfon commented on #261
👋 @MWieland - would you be willing to review this submission for JOSS?

[2017-06-05 00:35] arfon commented on #30
@whedon list reviewers

[2017-06-05 00:35] whedon commented on #30
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-06-05 00:36] arfon commented on #30
👋 @cdcrabtree - would you be willing to review this submission for JOSS?

[2017-06-05 00:59] labarba commented on #277
@jedbrown : (In case it hasn't show up in your feeds yet…) JOSS reviews involve downloading and installing the software, and inspecting the repository for key elements.
http://joss.theoj.org/about#reviewer_guidelines

Editors and reviewers post comments on the GitHub issue tracker, and authors are expected to respond to the comments and improve their submission until acceptance (or withdraw, if th

[2017-06-05 01:33] jedbrown commented on #277
Thanks. I can review but can't promise I'll be able to put time into it until after the PETSc meeting (June 14-16), which I'm organizing.

[2017-06-05 05:11] kyleniemeyer commented on #276
@arfon sure, I can take this one.

@lindsayad to start, can you recommend a potential reviewer or two? My preference is to get one set of eyes familiar with the topic/domain, and another more general reviewer.

[2017-06-05 10:43] pjotrp commented on #273
@whedon start review

[2017-06-05 10:43] whedon commented on #273
You didn't say the magic word! Try this:

[code]

[2017-06-05 10:43] pjotrp commented on #273
@whedon start review magic-word=bananas

[2017-06-05 10:43] whedon opened #279 "[REVIEW]: BioPandas: Working with molecular structures in pandas DataFrames"
**Submitting author:** @rasbt (<a href="http://orcid.org/0000-0001-6989-4493">Sebastian Raschka</a>)
**Repository:** <a href="https://github.com/rasbt/biopandas" target ="_blank">https://github.com/rasbt/biopandas</a>
**Version:** v0.2.2
**Editor:** @pjotrp
**Reviewer:** @krother
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.804030" target="_blank">10.5281/zenodo.804030</a>

## Status

[!

[2017-06-05 10:43] whedon commented on #273
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/279. Feel free to close this issue now!

[2017-06-05 10:43] whedon commented on #279
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @krother it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-06-05 10:43] #273 closed

[2017-06-05 15:29] DannyArends commented on #124
Hey all,

I can look into the submission again this week.
However, I cannot see the attached response to reviewers _"Lastly, my response to the review is attached as a .docx"_

I will go through the issues I submitted and see if they are fixed

Gr,
Danny

[2017-06-05 15:31] MatthewTurk commented on #274
Yes, I'd be happy to.

[2017-06-05 15:44] DannyArends commented on #124
Re-Review of scikit-learn-contrib/forest-confidence-interval

Still some issues with the version in the paper branch, also why haven't changes been pushed to the master branch of the scikit-learn-contrib repository ?

I have checked the boxes of the things which are now fixed, the remaining open issues are listed below.

**Performance:**
The software makes no performance claims, a performance comp

[2017-06-05 17:27] lindsayad commented on #276
Ok I'm thinking initial suggestions...@friedmud and @scopatz

[2017-06-05 17:56] danielskatz commented on #277
That's fine in term of timing - I'll start the review and notify you about it.

[2017-06-05 17:57] danielskatz commented on #277
@whedon start review magic-word=bananas

[2017-06-05 17:58] danielskatz commented on #274
great, thanks

[2017-06-05 17:58] danielskatz commented on #274
@whedon start review magic-word=bananas

[2017-06-05 17:58] danielskatz commented on #274
@whedon commands

[2017-06-05 17:58] whedon commented on #274
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-05 17:58] danielskatz commented on #274
@whedon assign @MatthewTurk as reviewer

[2017-06-05 17:59] whedon commented on #274
OK, the reviewer is @MatthewTurk

[2017-06-05 17:59] danielskatz commented on #277
@whedon assign @jedbrown as reviewer

[2017-06-05 17:59] whedon commented on #277
OK, the reviewer is @jedbrown

[2017-06-05 17:59] danielskatz commented on #274
@whedon start review magic-word=bananas

[2017-06-05 17:59] danielskatz commented on #277
@whedon start review magic-word=bananas

[2017-06-05 17:59] whedon commented on #274
You didn't say the magic word! Try this:

[code]

[2017-06-05 17:59] whedon opened #280 "[REVIEW]: AmgXWrapper: An interface between PETSc and the NVIDIA AmgX library"
**Submitting author:** @piyueh (<a href="http://orcid.org/0000-0001-6330-2709">Pi-Yueh Chuang</a>)
**Repository:** <a href="https://github.com/barbagroup/AmgXWrapper" target ="_blank">https://github.com/barbagroup/AmgXWrapper</a>
**Version:** v1.0
**Editor:** @danielskatz
**Reviewer:** @jedbrown
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.852471" target="_blank">10.5281/zenodo.852471</a

[2017-06-05 17:59] whedon commented on #277
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/280. Feel free to close this issue now!

[2017-06-05 17:59] whedon commented on #280
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jedbrown it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-06-05 17:59] danielskatz commented on #274
@whedon start review magic-word=bananas

[2017-06-05 17:59] whedon opened #281 "[REVIEW]: OpenSpace: An open-source astrovisualization framework"
**Submitting author:** @alexanderbock (<a href="http://orcid.org/0000-0002-2849-6146">Alexander Bock</a>)
**Repository:** <a href="https://github.com/OpenSpace/OpenSpace" target ="_blank">https://github.com/OpenSpace/OpenSpace</a>
**Version:** v0.8.0
**Editor:** @danielskatz
**Reviewer:** @MatthewTurk
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.835206" target="_blank">10.5281/zenodo.835

[2017-06-05 17:59] whedon commented on #274
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/281. Feel free to close this issue now!

[2017-06-05 17:59] whedon commented on #281
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @MatthewTurk it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're pro

[2017-06-05 18:00] #274 closed

[2017-06-05 18:00] #277 closed

[2017-06-05 18:01] danielskatz commented on #281
@MatthewTurk - this is ready for you to review.  You should review the reviewer instructions on http://joss.theoj.org/about. Let me know if you have any problems.

[2017-06-05 18:02] danielskatz commented on #280
@jedbrown - this is ready for you to review.  You should review the reviewer instructions on http://joss.theoj.org/about. Let me know if you have any problems.

[2017-06-05 18:12] labarba commented on #280
@jedbrown : I have enquired with NVIDIA about the trial license of AmgX. They are sure going to open source it, but it's undergoing code review right now.

[2017-06-05 18:16] roguephysicist commented on #242
Hi all,

I have finally finished the aforementioned additions to the program.

@nicoguaro, I added a Jupyter notebook tutorial in the `examples/` directory. I think it contains most of the relevant theory and code, but it was hard to keep it from getting too long with all the math.

@tacaswell, I added a test script in `tests/` that works with `pytest` under both MacOS and Linux (Windows pending).

[2017-06-05 20:04] nicoguaro commented on #242
@roguephysicist, I just ran your test under Windows, this is the output:

    ============================= test session starts =============================
    platform win32 -- Python 3.6.0, pytest-3.0.5, py-1.4.32, pluggy-0.4.0
    rootdir: C:\Users\nguarinz\workspace\SHGYield\tests, inifile:
    collected 0 items / 1 errors

    =================================== ERRORS =====================

[2017-06-05 20:38] roguephysicist commented on #242
@nicoguaro, you have to run "pytest" in the `root/` directory, not in the `tests/` directory.

[2017-06-05 22:05] nicoguaro commented on #242
@roguephysicist, you are right. It works nicely now.

[2017-06-05 22:18] roguephysicist commented on #242
Thanks @nicoguaro. I don't know why I said "`root/`," but I'm glad worked
anyway 😅.

On Jun 6, 2017 00:05, "Nicolás Guarín-Zapata" <notifications@github.com>
wrote:

@roguephysicist <https://github.com/roguephysicist>, you are right. It
works nicely now.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openjournals/joss-revie

[2017-06-05 22:30] krother commented on #279
The PDB parsing works out of the box and does not require further explanation. It is a killer app in itself. I found a (probably small) issue in the RMSD calculation feature.
At this moment, I am unable to establish the functional claims "reading and parsing millions of small molecule structures (from multi-MOL2 files)" and "filtering molecules by the presence of functional groups" based on the do

[2017-06-05 22:38] krother commented on #279
DOI references for the PDB could be:
Nature Structural Biology 10, 980 (2003); doi: 10.1038/nsb1203-980
and
The Protein Data Bank
Helen M. Berman
John Westbrook
Zukang Feng
Gary Gilliland
T. N. Bhat
Helge Weissig
Ilya N. Shindyalov
Philip E. Bourne
Nucleic Acids Res (2000) 28 (1): 235-242.
DOI: https://doi.org/10.1093/nar/28.1.235

[2017-06-05 22:40] krother commented on #279
For pandas, a book written by Wes exists (http://shop.oreilly.com/product/0636920023784.do), but it has no DOI. I'd leave the pandas and MOL reference as they are.

[2017-06-05 23:53] rasbt commented on #279
Thanks for the feedback!

I saw a note about that issue in the biopandas repo and will take a look at it tonight and hopefully resolve it.

When I wrote this I had another paper in mind that I was working on recently. I am just waiting for the co-author feedback and then the manuscript is going to be submitted to JCIM ~ next week. But I guess it will probably take a bit longer until that's publish

[2017-06-06 00:00] ekolve commented on #235
lgtm, want me to close out the issue?

[2017-06-06 00:01] rasbt commented on #279
Thanks, updated those references!

[2017-06-06 00:02] krother commented on #279
argh, I didn't spot the menu bar on top on the documentation page. It's quite impressive and complete as it is, thanks! :+1:

[2017-06-06 00:03] domoritz commented on #235
@ekolve Can you check the last boxes in this issue?

@jakevdp What happens next?

[2017-06-06 01:19] rasbt commented on #279
This should be fixed in the master branch now (https://github.com/rasbt/biopandas/pull/34). For JOSS, I assume I need to make a new version release so that this change takes effect? It's not a problem, I think I should hold off a bit in case there's something else that needs to be addressed. (Once everything looks fine, I can make a new stable release, i.e., 2.1.0 -> 2.1.1 or 2.2.0). Is that okay?

[2017-06-06 06:03] krother commented on #279
Checked the changed version by installing with pip directly from github. Great you put this in the documentation! And it works, too.

[2017-06-06 06:09] krother commented on #279
Created a PR where I indicated a possible location for the DOI in the PDB reference. No more issues from me. Congratulations to this contribution, it is time to get the word out!

[2017-06-06 14:25] rasbt commented on #279
Thanks @krother . Just merged the DOI PR, and I am happy to hear that everything looks fine now :)

[2017-06-06 15:28] krother commented on #279
OK, review done.

[2017-06-06 15:49] pjotrp commented on #279
@krother thanks! @arfon must be a record here. Ready to R&R.

[2017-06-06 18:54] kyleniemeyer commented on #242
@roguephysicist Your changes look great, between the paper, example Jupyter notebook, and addition of tests. Thanks! Could you now give the DOI for an archived version of the software, via (e.g.) Zenodo?

@nicoguaro for completeness, could you check off the review items at the top of the issue?

@arfon Do we need to update the version of the software in this issue? The software is now at v1.1, vs.

[2017-06-06 19:20] kyleniemeyer commented on #276
@whedon list reviewers

[2017-06-06 19:20] whedon commented on #276
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-06-06 19:24] kyleniemeyer commented on #276
Hi @friedmud & @scopatz, would either (or both!) of you be willing to review this submission to JOSS?

From the JOSS reviewer pool, @tacaswell are you able/willing to review this?

[2017-06-06 21:08] scopatz commented on #276
Hi @kyleniemeyer @whedon @arfon - definitely willing, but what is the timeline / deadline for the review? I am traveling a lot this summer.

[2017-06-06 21:47] roguephysicist commented on #242
Thanks @kyleniemeyer. I went ahead and added one more release with all these changes (v1.1.1). The Zenodo DOI for this release is `10.5281/zenodo.803483`. It does not resolve yet, but should be working in a few hours.

Let me know if anything else is needed on my part. Thanks again!

[2017-06-06 22:19] bede commented on #271
Hi @genomematt, might you be willing to review this submission? Thank you.

[2017-06-07 00:16] sjackman commented on #272
@standage Could the DOIs be made into links using http://dx.doi.org ? https://github.com/dib-lab/khmer/blob/master/papers/paper-v2.1.md#references

[2017-06-07 00:31] sjackman commented on #272
I tried to verify the memory usage of `--small-count` and ran into an issue, reported at https://github.com/dib-lab/khmer/issues/1722

[2017-06-07 01:37] genomematt commented on #271
I am happy to review but probably won't get to it until late next week.

[2017-06-07 04:21] kyleniemeyer commented on #276
@scopatz: great! If you can commit to reviewing within the next few weeks, that would be great.

[2017-06-07 04:27] kyleniemeyer commented on #242
@whedon commands

[2017-06-07 04:28] whedon commented on #242
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-07 04:28] kyleniemeyer commented on #242
@whedon set 10.5281/zenodo.803483 as archive

[2017-06-07 04:28] whedon commented on #242
OK. <a href="http://dx.doi.org/10.5281/zenodo.803483" target="_blank">10.5281/zenodo.803483</a> is the archive.

[2017-06-07 04:29] kyleniemeyer commented on #242
@arfon ok, this one is good to go, other than the potential version change (which may not be necessary)!

[2017-06-07 06:12] dhermes commented on #267
@tacaswell I have added a [Why Bezier?][1] section and also done a `0.4.0` release.

AFAICT I have addressed all of the current feedback, LMK what I need do from here (e.g. if the `0.4.0` release has thrown a wrench into this process).

[1]: https://bezier.readthedocs.io/en/0.4.0/#why-b-eacute-zier

[2017-06-07 06:40] pjotrp commented on #124
@kpolimis I think these are good suggestions and are easy to fix. You don't have to state anything about performance. We prefer to see comments in the issue tracker or your source tree so they remain visible over time. Docx may not be the best format to use for sharing. Not everyone likes using Microsoft formats.

[2017-06-07 06:52] pjotrp commented on #124
Let's have a fast turnaround. This paper is overdue!

[2017-06-07 07:06] kpolimis commented on #124
Thanks for the feedback, everyone. I'm defending my dissertation this
Friday and will try to turn around these revisions by 6/16.

Best,

Kivan

On Jun 6, 2017 11:52 PM, "Pjotr Prins" <notifications@github.com> wrote:

[2017-06-07 12:27] bede commented on #271
Thanks @genomematt, that'd be great.

[2017-06-07 12:38] arfon commented on #271
@whedon assign @genomematt as reviewer

[2017-06-07 12:38] whedon commented on #271
OK, the reviewer is @genomematt

[2017-06-07 12:38] arfon commented on #271
@whedon start review magic-word=bananas

[2017-06-07 12:38] #271 closed

[2017-06-07 12:38] whedon commented on #271
You didn't say the magic word! Try this:

[code]

[2017-06-07 12:39] whedon commented on #271
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/282. Feel free to close this issue now!

[2017-06-07 12:39] whedon opened #282 "[REVIEW]: Kindel: indel-aware consensus for nucleotide sequence alignments"
**Submitting author:** @bede (<a href="http://orcid.org/0000-0002-3480-3819">Bede Constantinides</a>)
**Repository:** <a href="https://github.com/bede/kindel" target ="_blank">https://github.com/bede/kindel</a>
**Version:** v0.2.0
**Editor:** @mgymrek
**Reviewer:** @genomematt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.826723" target="_blank">10.5281/zenodo.826723</a>

## Status

[![st

[2017-06-07 12:39] whedon commented on #282
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @genomematt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-06-07 12:39] arfon commented on #271
@genomematt @bede see you over in #282 for the actual paper review.

[2017-06-07 13:05] arfon commented on #242
@roguephysicist - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-06-07 13:06] arfon commented on #279
@rasbt - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

When you've done that could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the arc

[2017-06-07 14:47] rasbt commented on #279
@arfon  no problem.

I moved the references to a separate bibtex file, paper.bib.

Here's the link for the 0.2.1 version that was reviewed:

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.574879.svg)](https://doi.org/10.5281/zenodo.574879)

This existed prior to the submission though and thus, it doesn't include the paper.md and paper.bib files.

 I made a new biopandas version (v0.2.1 -> v0.

[2017-06-07 15:05] roguephysicist commented on #242
@arfon, I made an attempt at this, but I don't have any way to test it. Let me know if I need to do something different.

[2017-06-07 18:20] standage commented on #272
Sure, I'll take care of that.

[2017-06-07 20:49] sjackman commented on #272
I tried to run `examples/stamps/do.sh` and encountered the error `unrecognized arguments: --savetable`, reported at https://github.com/dib-lab/khmer/issues/1725

[2017-06-07 20:50] sjackman commented on #272
Thanks, Daniel.

[2017-06-07 20:50] sjackman commented on #272
I tried to run `examples/stamps/do.sh` and encountered the error `unrecognized arguments: --savetable`, reported at https://github.com/dib-lab/khmer/issues/1725

[2017-06-07 21:51] arfon commented on #279
@whedon set 10.5281/zenodo.804030 as archive

[2017-06-07 21:51] whedon commented on #279
OK. <a href="http://dx.doi.org/10.5281/zenodo.804030" target="_blank">10.5281/zenodo.804030</a> is the archive.

[2017-06-07 21:59] arfon commented on #279
@krother many thanks for your rapid review here and to @pjotrp for editing this submission ✨

@rasbt - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00279 ⚡️:rocket: :boom:

[2017-06-07 21:59] #279 closed

[2017-06-07 22:04] rasbt commented on #279
That's awesome! Thanks a lot, everyone, for all the work and the very seamless process!

[2017-06-07 22:53] arfon commented on #242
@nicoguaro many thanks for your review here and to @kyleniemeyer for editing this one ✨

@roguephysicist - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00242 :zap: :rocket: :boom:

[2017-06-07 22:53] #242 closed

[2017-06-07 23:24] standage commented on #272
Links fixed in https://github.com/dib-lab/khmer/pull/1727.

[2017-06-08 04:46] kyleniemeyer commented on #242
:tada:

[2017-06-08 06:09] roguephysicist commented on #242
🎉

[2017-06-08 12:04] pjotrp commented on #124
@kpolimis great and good luck!

[2017-06-08 13:08] whedon opened #283 "[PRE REVIEW]: Web-based text anonymization with Node.js: Introducing NETANOS (Named entity-based Text Anonymization for Open Science)"
**Submitting author:** @ben-aaron188 (<a href="http://orcid.org/0000-0003-1658-9086">Bennett Kleinberg</a>)
**Repository:** <a href="https://github.com/ben-aaron188/netanos" target ="_blank">https://github.com/ben-aaron188/netanos</a>
**Version:** v1.1.0
**Editor:** @acabunoc
**Reviewer:** @RichardLitt

**Author instructions**

Thanks for submitting your paper to JOSS @ben-aaron188. The JOSS edito

[2017-06-08 13:08] whedon commented on #283
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @acabunoc it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-08 13:09] whedon opened #284 "[PRE REVIEW]: wktmo: converting weekly data to monthly data"
**Submitting author:** @leoly2017 (<a href="http://orcid.org/0000-0002-8506-8439">You Li</a>)
**Repository:** <a href="https://github.com/leoly2017/wktmo" target ="_blank">https://github.com/leoly2017/wktmo</a>
**Version:** 1.0.3
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @leoly2017. The JOSS editor (shown at the top of this issue)

[2017-06-08 13:09] whedon commented on #284
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-06-08 13:10] whedon opened #285 "[PRE REVIEW]: EBSCOHost XML Parser Excel macro"
**Submitting author:** @profwhy (<a href="http://orcid.org/0000-0002-5144-968X">Yana Weinstein</a>)
**Repository:** <a href="https://github.com/profwhy/cite-managers" target ="_blank">https://github.com/profwhy/cite-managers</a>
**Version:** V1.0
**Editor:** @cmadan
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @profwhy. The JOSS editor (shown at the top

[2017-06-08 13:10] whedon commented on #285
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-06-08 13:10] whedon opened #286 "[PRE REVIEW]: Launcher: A simple tool for executing high throughput computing workloads"
**Submitting author:** @lwilson (<a href="http://orcid.org/0000-0002-0686-3152">Lucas Wilson</a>)
**Repository:** <a href="https://github.com/TACC/launcher" target ="_blank">https://github.com/TACC/launcher</a>
**Version:** v3.1
**Editor:** @danielskatz
**Reviewer:** @kc9qey

**Author instructions**

Thanks for submitting your paper to JOSS @lwilson. The JOSS editor (shown at the top of this issue

[2017-06-08 13:10] whedon commented on #286
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-06-08 13:10] whedon opened #287 "[PRE REVIEW]: ClimDown: Climate Downscaling in R"
**Submitting author:** @jameshiebert (<a href="http://orcid.org/0000-0002-4171-9586">James Hiebert</a>)
**Repository:** <a href="https://github.com/pacificclimate/ClimDown" target ="_blank">https://github.com/pacificclimate/ClimDown</a>
**Version:** 1.0.3
**Editor:** @karthik
**Reviewer:** @mdsumner

**Author instructions**

Thanks for submitting your paper to JOSS @jameshiebert. The JOSS editor (

[2017-06-08 13:10] whedon commented on #287
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-06-08 13:10] whedon opened #288 "[PRE REVIEW]: traceR: Profiling Framework for the R Language"
**Submitting author:** @ingo-k (<a href="http://orcid.org/0000-0002-0041-9894">Ingo Korb</a>)
**Repository:** <a href="https://github.com/allr/tracer" target ="_blank">https://github.com/allr/tracer</a>
**Version:** rolling release
**Editor:** @pjotrp
**Reviewer:** @kbroman

**Author instructions**

Thanks for submitting your paper to JOSS @ingo-k. The JOSS editor (shown at the top of this issue)

[2017-06-08 13:10] whedon commented on #288
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-06-08 13:16] danielskatz commented on #286
@whedon assign @danielskatz as editor

[2017-06-08 13:16] whedon commented on #286
OK, the editor is @danielskatz

[2017-06-08 13:19] danielskatz commented on #286
@kc9qey - would you be willing to review this submission for JOSS?

[2017-06-08 13:24] arfon commented on #288
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#author_guidelines). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)?

Many thanks!

[2017-06-08 13:25] arfon commented on #283
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#author_guidelines). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)?

Many thanks!

[2017-06-08 13:50] kc9qey commented on #286
Yeah, only because I can :

===============================================================================
                          --- Stampede 2 is coming
---
     --- Stampede 1 will start phased decommissioning in January 2017
---
          --- The KNLs are now available <> Start migrating today
---
            https://portal.tacc.utexas.edu/user-news/-/news/101909

            https://porta

[2017-06-08 14:07] danielskatz commented on #286
@whedon assign @kc9qey as reviewer

[2017-06-08 14:07] whedon commented on #286
OK, the reviewer is @kc9qey

[2017-06-08 14:08] danielskatz commented on #286
@whedon commands
tell me about how I phrase the "secret" banana again?

[2017-06-08 14:08] whedon commented on #286
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-08 14:08] danielskatz commented on #286
@whedon start review
but what about the banana?

[2017-06-08 14:08] whedon commented on #286
You didn't say the magic word! Try this:

[code]

[2017-06-08 14:09] danielskatz commented on #286
@whedon start review magic-word=bananas
I can't figure out how anyone benefits from this bananas thingee

[2017-06-08 14:09] whedon commented on #286
You didn't say the magic word! Try this:

[code]

[2017-06-08 14:09] danielskatz commented on #286
@whedon start review magic-word=bananas

[2017-06-08 14:09] whedon commented on #286
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/289. Feel free to close this issue now!

[2017-06-08 14:09] whedon opened #289 "[REVIEW]: Launcher: A simple tool for executing high throughput computing workloads"
**Submitting author:** @lwilson (<a href="http://orcid.org/0000-0002-0686-3152">Lucas Wilson</a>)
**Repository:** <a href="https://github.com/TACC/launcher" target ="_blank">https://github.com/TACC/launcher</a>
**Version:** v3.1
**Editor:** @danielskatz
**Reviewer:** @kc9qey
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.841337" target="_blank">10.5281/zenodo.841337</a>

## Status

[![stat

[2017-06-08 14:09] whedon commented on #289
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kc9qey it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-06-08 14:09] #286 closed

[2017-06-08 14:10] danielskatz commented on #289
@kc9qey - this is ready for you to review. You should review the reviewer instructions on http://joss.theoj.org/about. Let me know if you have any problems.

[2017-06-08 14:52] cMadan commented on #285
@whedon set @cmadan as editor

[2017-06-08 14:53] cMadan commented on #285
@whedon assign @cmadan as editor

[2017-06-08 14:53] whedon commented on #285
OK, the editor is @cmadan

[2017-06-08 14:53] leoly2017 commented on #284
Hello. Many thanks for your comment.

wktmo is an R package which converts weekly time series to monthly. This package, now available in CRAN (v1.0.3), is also included in CRAN task of Time Series Analysis. This is widely applied to researchers working with time series data, especially those working with data that are collected or aggregated on a weekly basis.

For example, in human diseases surve

[2017-06-08 15:17] ben-aaron188 commented on #283
@arfon Hi. Yes, our tool is written for the purpose of helping researchers share their text data. In the linguistic and content-based research field, a key reason why researchers don't post their data online (and hence refuse access to others) is that the data needs to be anonymized in order to protect the privacy of the participants who provided (or are mentioned in) the text data (e.g interviews

[2017-06-08 15:20] ben-aaron188 commented on #283
@whedon From your reviewers list, suggestions might be:
richardlitt (comp. linguistics + Javascript)
nuest (reprod. science + Javascript)

[2017-06-08 15:35] acabunoc commented on #283
Hi @richardlitt & @nuest 👋 would either of you be up for reviewing this?

Review guidelines can be found here: http://joss.theoj.org/about#reviewer_guidelines

[2017-06-08 16:21] leoly2017 commented on #284
And if possible, I would like to suggest @amoeba and/or @pboesu as the reviewer(s). Thank you.

[2017-06-08 18:01] cMadan commented on #285
Hi @profwhy, I took a quick look at your submission and have a few suggestions before we start the actual review.
- Can you include an example XML input file, and an example output file (preferably saved in an 'open' format like CSV) so a user can test your software with a known input/output
- More documentation of how it works is necessary
- Preferably include a snippet of example output in the R

[2017-06-08 18:29] kc9qey commented on #289
TACC/launcher Functionality documentation needed.
    #21 opened a minute ago by kc9qey
    TACC/launcher Along with example usage, missing automated test(s).
    #20 opened 2 minutes ago by kc9qey
    TACC/launcher missing example usage
    #19 opened 3 minutes ago by kc9qey
    TACC/launcher pre-requisite needs mentioned
    #18 opened 5 minutes ago by kc9qey

[2017-06-08 19:19] danielskatz commented on #289
just adding links to make it easier to follow the previous comment:

[2017-06-08 19:34] Kevin-Mattheus-Moerman commented on #196
I think it is best to retract this submission for now because
1) The software is currently not functional
2) I have not been able to find reviewers willing to review (and simultaneously debug) this as the moment

I suggest @ednusi resubmits once the issues have been fixed and he can confirm the system is fully operational again.

[2017-06-08 19:34] Kevin-Mattheus-Moerman commented on #196
@arfon see above. I recommend we withdraw this submission for now

[2017-06-08 19:37] ednusi commented on #196
Ok, that works. Is there anything I have to do for it to be retracted or
will it be retracted on your end?

--

Edward Nusinovich
B.S. in Mathematics
University of Maryland, College Park
Cell: 240-672-1690
Home: 301-424-0820
edward.nusinovich@gmail.com

On Jun 8, 2017 3:35 PM, "Kevin Mattheus Moerman" <notifications@github.com>
wrote:

[2017-06-08 21:35] scopatz commented on #276
Yep yep, I'll try to get to it next week!

[2017-06-09 05:56] 47rooks commented on #201
Hey arfon, I can take a look. I don't see a paper to look at here but then this would be my first review so I need to find my way around. If you can point me to the text I can take a look.
Thx
D

[2017-06-09 07:46] nhejazi commented on #156
Would it be possible to inquire whether there might be other JOSS editors that might be less busy than the individual assigned? Nothing at all against @mgymrek, just that we haven't heard anything from them at all on this thread since 10 January.

[2017-06-09 13:51] whedon opened #290 "[PRE REVIEW]: Simulated Physics and Environment for Autonomous Risk Studies (SPEARS)"
**Submitting author:** @zmimlitz (<a href="http://orcid.org/0000-0001-5431-8362">Zac Mimlitz</a>)
**Repository:** <a href="https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/" target ="_blank">https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/</a>
**Version:** 3.0.5
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @agrignard

**Author instructions**

Thanks for submitting you

[2017-06-09 13:51] whedon commented on #290
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-06-09 22:20] karthik commented on #156
Sorry @nhejazi

I will take this over and assign a reviewer by early next week.

[2017-06-09 22:21] karthik commented on #156
@whedon assign @karthik as editor

[2017-06-09 22:21] whedon commented on #156
OK, the editor is @karthik

[2017-06-11 13:16] RichardLitt commented on #283
I've partially reviewed the paper. Due to my current work circumstances (not on my main machine and traveling), I wasn't able to install Java to test out the install. I'll be able to do this in approximately 14 days when I am back with my work computer. I've added a reminder to my calendar to come back to this review at that time.

In the meanwhile, I've raised three issues above which I feel ough

[2017-06-11 15:58] arfon commented on #156
👍 thanks @karthik

[2017-06-11 23:24] arokem commented on #259
@DominiqueMakowski : have you had a chance to address the comments that @cMadan made?

[2017-06-11 23:24] danielskatz commented on #280
@jedbrown - I talked to @labarba last week, and I believe she's working on getting NVIDIA to provide a license for AmgX for you.

[2017-06-11 23:25] danielskatz commented on #281
Hi @MatthewTurk - any news on this review?

[2017-06-11 23:27] danielskatz commented on #289
Hi @lwilson - It looks like you've resolves one of the four issues above, but still need to work on the other three.  I'm just checking on the status of them, so it's clear who has the ball currently.

[2017-06-11 23:30] nhejazi commented on #156
Thanks very much, @karthik!

[2017-06-12 01:36] jedbrown commented on #280
Joe Eaton sent me a license a few days ago.  Thanks.

"Daniel S. Katz" <notifications@github.com> writes:

[2017-06-12 08:23] MWieland commented on #261
@arfon - Yes, I would be willing to review this submission for JOSS. Please instruct me on how to proceed further.

[2017-06-12 11:46] labarba commented on #284
In my opinion, this software classifies as a "utility" package, not research software. I don't think it is eligible for JOSS. We need to draw the line somewhere!

[2017-06-12 13:09] arfon commented on #261
@whedon assign @arfon as editor

[2017-06-12 13:09] whedon commented on #261
OK, the editor is @arfon

[2017-06-12 13:09] arfon commented on #261
@whedon assign @MWieland as reviewer

[2017-06-12 13:10] whedon commented on #261
OK, the reviewer is @MWieland

[2017-06-12 13:10] arfon commented on #261
@whedon start review magic-word=bananas

[2017-06-12 13:10] whedon commented on #261
You didn't say the magic word! Try this:

[code]

[2017-06-12 13:10] arfon commented on #261
@whedon start review magic-word=bananas

[2017-06-12 13:10] whedon commented on #261
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/291. Feel free to close this issue now!

[2017-06-12 13:10] whedon opened #291 "[REVIEW]: CLOOPSy - Copernicus Land cOver crOwdsourcing Platform for Sentinel-based mapping"
**Submitting author:** @dandev89 (<a href="http://orcid.org/0000-0001-8600-7657">Daniele De Vecchi</a>)
**Repository:** <a href="https://bitbucket.org/cloopsy/android/" target ="_blank">https://bitbucket.org/cloopsy/android/</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @MWieland
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.825709" target="_blank">10.5281/zenodo.825709</a>

## S

[2017-06-12 13:10] whedon commented on #291
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @MWieland it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-06-12 13:11] arfon commented on #261
@MWieland - please head over to #291 to carry out the review.

[2017-06-12 13:11] #261 closed

[2017-06-12 13:11] arfon commented on #291
:wave: @MWieland - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2017-06-12 20:17] whedon opened #292 "[PRE REVIEW]: cuIBM: A GPU-based immersed boundary method code"
**Submitting author:** @mesnardo (<a href="http://orcid.org/0000-0001-5335-7853">Olivier Mesnard</a>)
**Repository:** <a href="https://github.com/barbagroup/cuIBM" target ="_blank">https://github.com/barbagroup/cuIBM</a>
**Version:** v0.1
**Editor:** @kyleniemeyer
**Reviewer:** @arghdos

**Author instructions**

Thanks for submitting your paper to JOSS @mesnardo. The JOSS editor (shown at the top

[2017-06-12 20:17] whedon commented on #292
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-14 00:05] ctb commented on #255
Very nice - works well for me and I've already adopted the `xopen` idiom in my own projects! I'm sad that it's Python 3 and above only, as otherwise I'd be able to use it in existing projects.

I left a small pile of issues [here](https://github.com/jdidion/xphyle/issues/11) but nothing particularly problematic.

The only thing I'm stuck with this whether and how to evaluate performance claims. @j

[2017-06-14 00:21] jdidion commented on #255
Thanks for the speedy review and the kind words! The Python 3 only decision is definitely a selfish one - there are big i/o differences from 2 to 3 that I don’t really want to hassle with. I’m happy to accept contributions from anyone that wants to take on the back port.

Regarding the benchmark - this should be straight-forward. I’ll just dummy up a couple of files (lorem ipsum, fastq), compress

[2017-06-14 02:48] jdidion commented on #255
Added basic performance testing. I generate two sets of files - one using lorem ipsum, and one by randomly generating sequences in fastq format. I then three separate operations: reading the lines of the file using the python gzip package directly (use_system=None), using xopen with use_system option==False, and with use_system==True. Things run 4-5x faster using system-level compression (on my 20

[2017-06-14 03:12] jdidion commented on #255
Oops... There was a mistaken divide by 1000, so multiply all those timings by 1000

[2017-06-14 10:13] arfon commented on #283
❤️ many thanks @RichardLitt. I'm going to move this over to an actual review issue so when you come back we can wrap this up.

[2017-06-14 10:13] arfon commented on #283
@whedon assign @RichardLitt as reviewer

[2017-06-14 10:14] whedon commented on #283
OK, the reviewer is @RichardLitt

[2017-06-14 10:14] arfon commented on #283
@whedon start review magic-word=bananas

[2017-06-14 10:14] whedon opened #293 "[REVIEW]: Web-based text anonymization with Node.js: Introducing NETANOS (Named entity-based Text Anonymization for Open Science)"
**Submitting author:** @ben-aaron188 (<a href="http://orcid.org/0000-0003-1658-9086">Bennett Kleinberg</a>)
**Repository:** <a href="https://github.com/ben-aaron188/netanos" target ="_blank">https://github.com/ben-aaron188/netanos</a>
**Version:** v1.1.5
**Editor:** @acabunoc
**Reviewer:** @RichardLitt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.817892" target="_blank">10.5281/zenodo.81

[2017-06-14 10:14] whedon commented on #283
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/293. Feel free to close this issue now!

[2017-06-14 10:14] whedon commented on #293
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @RichardLitt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're pro

[2017-06-14 10:17] #283 closed

[2017-06-14 10:17] arfon commented on #196
Understood. This paper is now withdrawn.

[2017-06-14 10:17] #196 closed

[2017-06-14 10:19] arfon commented on #201
@whedon assign @47rooks as reviewer

[2017-06-14 10:19] whedon commented on #201
OK, the reviewer is @47rooks

[2017-06-14 10:19] arfon commented on #201
@whedon start review magic-word=bananas

[2017-06-14 10:19] whedon opened #294 "[REVIEW]: Text-Fabric: Text representation for text with stand-off annotations and linguistic features"
**Submitting author:** @dirkroorda (<a href="http://orcid.org/0000-0002-2680-8724">Dirk Roorda</a>)
**Repository:** <a href="https://github.com/ETCBC/text-fabric" target ="_blank">https://github.com/ETCBC/text-fabric</a>
**Version:** v2.3.6
**Editor:** @acabunoc
**Reviewer:** @47rooks
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/24d593e78c794f4c2c4641bbb69e0136/status.s

[2017-06-14 10:19] whedon commented on #201
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/294. Feel free to close this issue now!

[2017-06-14 10:19] whedon commented on #294
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @47rooks it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-06-14 10:20] arfon commented on #201
@47rooks - please head over to #294 for the actual review.

[2017-06-14 10:20] #201 closed

[2017-06-14 10:21] arfon commented on #294
@47rooks - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let @acabunoc or myself know.

[2017-06-14 10:22] arfon commented on #262
👋 @jakevdp - are you able to handle this submission for us?

[2017-06-14 10:26] arfon commented on #285
I'm learning towards saying this isn't acceptable as there's no open source _code_ here (I realize that Excel doesn't really make this an option): https://opensource.org/faq#non-distribution

What do @openjournals/joss-editors think?

[2017-06-14 11:41] labarba commented on #285
It looks like this is a utility to extract bibliographic information from a proprietary database (EBSCOHost) into an Excel spreadsheet. First, I agree that this is not "open-source code." Second, even if this was, say, a Python script, it still would not be research software. I would categorize this application as information or library services.

We need to stay the course with JOSS as a venue fo

[2017-06-14 12:15] arfon commented on #285
Yes, me too. I didn't have an instinctive response though that this package isn't a valid use-case though. My reason being that I've been thinking that the following (from JOSS submission criteria):

..._could_ include software that's part of the research cycle, that is, software that is tailored to the needs of a research audience. That might include the definitions you've written here @labarba b

[2017-06-14 19:58] karthik commented on #156
@whedon assign @NelleV as reviewer

[2017-06-14 19:59] karthik commented on #156
@NelleV Thank you so much for agreeing to review this submission 🙏. I realize you are busy this week, so if you able to review in the next two weeks, we would be super grateful. Please start your review in the issue below and I will close this (pre-review request) out.

[2017-06-14 20:00] karthik commented on #156
@whedon start review

[2017-06-14 20:00] whedon commented on #156
You didn't say the magic word! Try this:

[code]

[2017-06-14 20:00] karthik commented on #156
@whedon start review magic-word=bananas

[2017-06-14 20:00] whedon opened #295 "[REVIEW]: biotmle: Targeted Learning for Biomarker Discovery"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/nhejazi/biotmle" target ="_blank">https://github.com/nhejazi/biotmle</a>
**Version:** v0.1.0
**Editor:** @karthik
**Reviewer:** @NelleV
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.834849" target="_blank">10.5281/zenodo.834849</a>

## Status

[![sta

[2017-06-14 20:00] whedon commented on #156
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/295. Feel free to close this issue now!

[2017-06-14 20:00] whedon commented on #295
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @NelleV it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-06-14 20:01] #156 closed

[2017-06-14 20:03] nhejazi commented on #156
@karthik and @NelleV, many thanks for the help in starting the review!

[2017-06-14 20:05] karthik commented on #214
@jirotubuyaki Just a friendly reminder to give us an update when you are know more.

[2017-06-14 20:09] karthik commented on #269
Have sent a request to @cboettig for a review. Will update thread soon.

[2017-06-14 20:11] karthik commented on #275
@statsmaths Thanks for those suggestions. Quick update that I'm trying to get this sorted out asap.

[2017-06-14 20:19] karthik commented on #275
@whedon assign @kaneplusplus as reviewer

[2017-06-14 20:19] whedon commented on #275
OK, the reviewer is @kaneplusplus

[2017-06-14 20:20] karthik commented on #275
@whedon start review magic-word=bananas

[2017-06-14 20:20] whedon opened #296 "[REVIEW]: kerasR: R Interface to the Keras Deep Learning Library"
**Submitting author:** @statsmaths (<a href="http://orcid.org/0000-0003-0576-0669">Taylor Arnold</a>)
**Repository:** <a href="https://github.com/statsmaths/kerasR" target ="_blank">https://github.com/statsmaths/kerasR</a>
**Version:** 0.6.1
**Editor:** @karthik
**Reviewer:** @kaneplusplus
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.814996" target="_blank">10.5281/zenodo.814996</a>

##

[2017-06-14 20:20] whedon commented on #275
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/296. Feel free to close this issue now!

[2017-06-14 20:20] whedon commented on #296
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kaneplusplus it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're pr

[2017-06-14 20:21] karthik commented on #275
@kaneplusplus Thanks very much for agreeing to review this submission 🙏. I'm going to close this issue since we have now assigned you. Please continue your review at #296 and let me know if you have any questions or run into issues.

[2017-06-14 20:26] karthik commented on #269
@cboettig Please ignore this request. I see that @noamross has already pinged you at ropensci onboarding. Will place this issue into holding till the review is complete there. @noamross Please ping when that is done.

[2017-06-15 00:36] karthik commented on #229
@whedon assign @karthik as editor

[2017-06-15 00:36] whedon commented on #229
OK, the editor is @karthik

[2017-06-15 00:36] karthik commented on #229
Hi @bunhoel
I've done an editorial review of your submission and am sorry to inform you that your R package does not meet the JOSS standards.  Your software does not meet criteria for at least the following reasons:
- Does not contain a README (*Place where things happen.* is not acceptable) with a description and install instructions
- Does not pass any package checks, and is currently not instal

[2017-06-15 05:39] 47rooks commented on #294
@arfon The license is Unlicense (http://unlicense.org) which is not listed on the OSI page you list but I would expect it to qualify at least from an intent standpoint. Is this ok ? Also the Github version has shifted from 2.3.6 to 2.3.7 in the time between submission and now I guess.

Regarding installation I would only mention that Python 3.6 is required at a minimum rather than just 3.
I don't

[2017-06-15 10:50] jirotubuyaki commented on #214
I am sorry for being late to improve my software.
I plan some improvement for my GitHub repository.

[2017-06-15 14:47] arfon commented on #294
Actually this isn't acceptable to JOSS (see a similar recent thread [here](https://github.com/openjournals/joss/issues/248)). Probably the easiest option would be to dual-license the repository with an [OSI approved](https://opensource.org/licenses/alphabetical) license. @dirkroorda - would this be possible?

[2017-06-15 16:57] arfon commented on #284
@labarba - I'm inclined to agree with you here. @leoly2017 - this seems like very generic utility-level software and isn't suitable for JOSS. Do you have any plans to extend the functionality of this package to make it more tailored to a particular research application?

[2017-06-15 17:45] kyleniemeyer commented on #290
@arfon I can probably take this, unless (e.g.) @Kevin-Mattheus-Moerman wants to.

[2017-06-15 17:53] sjackman commented on #272
Is there an upper limit on the value of *k*?

Consider italicizing each occurrence of *k*, e.g. *k*-mer and *k* > 32.

[2017-06-15 18:06] standage commented on #272
Nope, MurmurHash3 will handle arbitrarily large inputs. Of course, the larger *k* gets the more likely collisions in *k*-mer hash space are. But this is offset by two factors: 1) *k*-mers observed in genomes are sparse with respect to the entire *k*-mer space, especially as *k* gets larger; 2) collisions in *k*-mer hash space are orders of magnitude less frequent than collisions in the probabilist

[2017-06-15 18:23] sjackman commented on #272
[code]

The authors describe version 2.1 of their software khmer for various analyses of sequencing data. khmer implements primarily two data structures, the Bloom filter to store *k*-mer presence/absence and Count-Min Sketch to store *k*-mer counts. This release adds new features including variable-coverage trimming, supporting *k* > 32, reduced memory utilization for the Count-Min Sketch by usin

[2017-06-15 18:24] sjackman commented on #272
@biorelated Hi, George. I have completed my review of khmer 2.1.

[2017-06-16 12:08] biorelated commented on #272
Thank you very much @sjackman  for taking time to review. You have raised a couple of points that you would like to see although they might be out of scope of  this manuscript. @standage could you confirm whether these are items that you would like to add to the current software package (and manuscript) or it is something that you would like to implement in a future release.

[2017-06-16 13:27] akhuettel commented on #252
@Kevin-Mattheus-Moerman @arfon Any news?

[2017-06-16 18:51] whedon opened #297 "[PRE REVIEW]: ACEInhibPKPD: An open-source MATLAB app for a pharmacokinetic/pharmacodynamic model of ACE inhibition"
**Submitting author:** @ashleefv (<a href="http://orcid.org/0000-0001-9059-5703">Ashlee N. Ford Versypt</a>)
**Repository:** <a href="https://github.com/ashleefv/ACEInhibPKPD" target ="_blank">https://github.com/ashleefv/ACEInhibPKPD</a>
**Version:** v1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @sdelandtsheer

**Author instructions**

Thanks for submitting your paper to JOSS @ashleefv. T

[2017-06-16 18:51] whedon commented on #297
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-16 18:51] arfon commented on #297
👋 @labarba - the submitting authors suggested you as a potential editor.

[2017-06-16 19:40] standage commented on #272
Thanks for your comments and your generosity with time, @sjackman and @biorelated!

Support for GFA output is something we've been discussing recently (see https://github.com/dib-lab/khmer/issues/1467), but this didn't get prioritized for the 2.1 release.
I'm hoping it's something we can include by version 3.0.

The graph compaction code is convenient but also intentionally unsophisticated; it’s n

[2017-06-16 20:01] scopatz commented on #276
It would be helpful if this link were somewhere in the original post: http://joss.theoj.org/about#reviewer_guidelines

[2017-06-16 20:06] scopatz commented on #276
Also, it would be helpful if @lindsayad could provide links to the PDF of the paper and the API documentation.  Also also, is there a standard form or format for the review? It just seems like we are "encouraged to open issues against the repository." So it is not clear what a review truly entails. A little more formalism for the reviewer would be very helpful to me.

[2017-06-16 20:43] kyleniemeyer commented on #276
Hi @scopatz, the main review format is based on the items given at the top, with the checkboxes. You can check off items if you feel they are satisfied—otherwise bring up comments here or issues in the source repo if something is not satisfied.

[2017-06-16 20:43] kyleniemeyer commented on #276
d'oh, I didn't start the actual review! My fault.

[2017-06-16 20:43] kyleniemeyer commented on #276
@whedon set reviewer as @scopatz

[2017-06-16 20:44] kyleniemeyer commented on #276
@whedon commands

[2017-06-16 20:44] whedon commented on #276
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-16 20:44] kyleniemeyer commented on #276
@whedon assign @scopatz as reviewer

[2017-06-16 20:44] whedon commented on #276
OK, the reviewer is @scopatz

[2017-06-16 20:44] kyleniemeyer commented on #276
@whedon start review magicword=bananas

[2017-06-16 20:44] whedon commented on #276
You didn't say the magic word! Try this:

[code]

[2017-06-16 20:44] kyleniemeyer commented on #276
@whedon start review magic-word=bananas

[2017-06-16 20:44] whedon commented on #276
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/298. Feel free to close this issue now!

[2017-06-16 20:44] whedon opened #298 "[REVIEW]: Moltres: finite element based simulation of molten salt reactors"
**Submitting author:** @lindsayad (<a href="http://orcid.org/0000-0002-6988-2123">Alexander Lindsay</a>)
**Repository:** <a href="https://github.com/arfc/moltres" target ="_blank">https://github.com/arfc/moltres</a>
**Version:** v0.1.0
**Editor:** @kyleniemeyer
**Reviewer:** @scopatz
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1137726" target="_blank">10.5281/zenodo.1137726</a>

## Stat

[2017-06-16 20:45] whedon commented on #298
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @scopatz it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-06-16 20:45] kyleniemeyer commented on #276
@scopatz the aforementioned review checklist will be in #298, so let's move the conversation over there.

[2017-06-16 20:45] #276 closed

[2017-06-16 22:58] nhejazi commented on #295
To the reviewer (@NelleV) -- please make sure to evaluate only the `develop` branch of this project, as it contains several important changes that have not yet been moved to `master` (this is because `master` is currently in line with the version of this package currently available on Bioconductor). Thanks!

[2017-06-16 23:16] NelleV commented on #295
I'll keep this in mind.

[2017-06-17 05:08] biorelated commented on #272
Thank you Daniel (@standage)  for the quick response and thank you again Shaun (@sjackman) for your review. @arfon please could we get this ready for publication?
Thank you
George

[2017-06-17 07:35] arfon commented on #272
👍

@standage - Could you move the references you currently have in the `paper-v2.1.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-06-17 23:18] ctb commented on #255
Hello @pjotrp I am done with the review - do you need something more formal than "it all looks good!" and all the boxes ticked?

[2017-06-17 23:23] ctb commented on #255
works well, thanks! but pre-Python 3.6, 'random.choices' doesn't exist.

You might consider putting in CI for the earliest version of Python you
want to support ;)

[2017-06-17 23:33] jdidion commented on #255
Ah right, thanks. I couldn't find any backports for the random package, so I just copied and adapted the function from the python source (with attribution of course).

[2017-06-18 11:58] danielskatz commented on #289
Hi @lwilson - just another ping...

[2017-06-18 12:08] danielskatz commented on #280
@jedbrown - thanks. let me know if you have any problems in the review.

[2017-06-18 12:10] danielskatz commented on #281
Hi @MatthewTurk - any news on this review?

[2017-06-18 15:16] pjotrp commented on #255
@ctb thank you so much for your review! @arfon we are good to R&R

[2017-06-18 15:37] arfon commented on #255
@whedon set 10.5281/zenodo.808540 as archive

[2017-06-18 15:37] whedon commented on #255
OK. <a href="http://dx.doi.org/10.5281/zenodo.808540" target="_blank">10.5281/zenodo.808540</a> is the archive.

[2017-06-18 15:45] arfon commented on #255
@ctb many thanks for your review and to @pjotrp for editing this submission ✨

@jdidion - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00255 :zap: :rocket: :boom:

[2017-06-18 15:45] #255 closed

[2017-06-18 20:07] kyleniemeyer commented on #292
Hi @mesnardo, thanks for submitting cuIBM to JOSS!

(For full disclosure, I've encountered cuIBM before; one of my students forked it and developed his own methods using that. However, I haven't contributed to cuIBM itself.)

Where possible, I like to find two reviewers: one close to the domain, and another perhaps coming from a bit further away.

@boyceg @namupatel and/or @arghdos, would you be w

[2017-06-19 00:33] kaneplusplus commented on #296
This is a package I have begun using when applying deep learning models. This interface mirrors Python's making it very easy to transition between the two languages. Constructing a model, fitting it, and predicting is easy. The examples in the documentation were helpful and I liked that the vignette includes references for other deep learning resources.

The package should be accepted. While going

[2017-06-19 01:35] cMadan commented on #285
Thanks for your thoughts on this, @arfon and @labarba.

@profwhy - Unfortunately it looks like your submission doesn't fit the criteria for publication at JOSS. I do think it's a useful tool though, and I hope you nonetheless improve the documentation so that others can more easily benefit from it.

[2017-06-19 01:35] #285 closed

[2017-06-19 06:46] DominiqueMakowski commented on #259
@arokem I plan to address them by the end of the week. Sorry for the delay!

[2017-06-19 08:46] dirkroorda commented on #294
I like to stick to the Unlicense. I find it the best expression of my intent. This piece of software is like the pond in front of my house: not part of the world of copyright. It is also simple. A dual-license is an unnecessary complication. I've seen discussions why the Unlicense is not good enough, but I have not been persuaded.
If this means that this repo cannot be reviewed for the JOSS, so be

[2017-06-19 11:42] arfon commented on #294
I'm afraid it does. No hard feelings 😄.

@47rooks - I'm going to withdraw the paper on @dirkroorda's behalf on the JOSS site. Many thanks for your review.

[2017-06-19 11:42] #294 closed

[2017-06-19 15:34] statsmaths commented on #296
@kaneplusplus Thank you very much for reviewing this submission and your very helpful feedback. I just pushed version 0.7.0 to GitHub, which I believe implements your three suggestions. Namely:

- The package now gives an explicit warning message whenever any keras-related function is called if the keras package is not available. Details instructions for using pip to install the requirements are n

[2017-06-19 16:06] kaneplusplus commented on #296
This is great. I have no other issues or suggestions.

[2017-06-20 02:12] genomematt commented on #282
@whedon commands

[2017-06-20 02:12] whedon commented on #282
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-20 02:40] genomematt commented on #282
Looks quite good.  Only issues are:
The lack of a clear example usage.  I would recommend something that shows some input and output.  (Probably easiest to do by just working through an analysis in an ipynb)

The paper is quite sparse.  It definitely needs to cite ococo like the main page does.  A simplified diagram example of input and output would help a lot, especially for someone slightly off

[2017-06-20 09:23] bede commented on #282
Thanks for your comments Matt. I'll reply again once I've incorporated the following:
- Example usage (Jupyter notebook or otherwise)
- Additional detail to the paper, perhaps including a diagrammatic explanation of usage
- Contribution guidelines

[2017-06-20 17:24] labarba commented on #297
It's quite removed from any expertise of mine. I have no idea how to even begin finding a reviewer for this. (Not to mention it's a GUI app for MATLAB.)

[2017-06-20 17:51] ashleefv commented on #297
The science has already been peer-reviewed and published this spring:
http://www.sciencedirect.com/science/article/pii/S009813541730145X. The
code also includes stand alone .m files that can be viewed in any editor.

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Science

[2017-06-20 18:02] Kevin-Mattheus-Moerman commented on #252
@akhuettel @arfon Sorry for the delay! I have finally found a suitable reviewer!

[2017-06-20 18:03] Kevin-Mattheus-Moerman commented on #252
@whedon commands

[2017-06-20 18:03] whedon commented on #252
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-20 18:03] Kevin-Mattheus-Moerman commented on #252
@whedon assign @kippkitts as reviewer

[2017-06-20 18:03] whedon commented on #252
OK, the reviewer is @kippkitts

[2017-06-20 18:03] Kevin-Mattheus-Moerman commented on #252
@whedon start review

[2017-06-20 18:04] whedon commented on #252
You didn't say the magic word! Try this:

[code]

[2017-06-20 18:04] Kevin-Mattheus-Moerman commented on #252
@whedon start review magic-word=bananas

[2017-06-20 18:04] whedon opened #299 "[REVIEW]: Lab::Measurement - measurement control with Perl"
**Submitting author:** @akhuettel (<a href="http://orcid.org/0000-0001-5794-5919">Andreas K. Hüttel</a>)
**Repository:** <a href="http://www.labmeasurement.de/" target ="_blank">http://www.labmeasurement.de/</a>
**Version:** 3.542
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @kippkitts
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/df7931bc709f8176aa761256f69520b2/st

[2017-06-20 18:04] whedon commented on #252
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/299. Feel free to close this issue now!

[2017-06-20 18:04] whedon commented on #299
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kippkitts it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-06-20 18:04] #252 closed

[2017-06-20 18:06] Kevin-Mattheus-Moerman commented on #299
@akhuettel @kippkitts Let the reviewing begin. Let me know if I can help.

[2017-06-20 18:18] Kevin-Mattheus-Moerman commented on #278
@jakevdp Do you want to review this? If yes, great I can remain editor. If not, could you be editor and/or help find a reviewer?

[2017-06-20 18:22] lindsayad commented on #276
@scopatz The link to the "paper", which is really just a summary, is [here](https://github.com/arfc/moltres/blob/devel/paper/paper.pdf). Doxygen pages are [here](https://arfc.github.io/moltres/)

[2017-06-20 18:28] Kevin-Mattheus-Moerman commented on #47
Hi @v3c70r how are you getting on? Do you think we can resume the review process soon? Any updates to report? Thanks

[2017-06-20 18:43] moorepants commented on #278
Here are some potential reviewer sources:

Main contributors to:
- Casadi: https://github.com/casadi/casadi/graphs/contributors
- Opensim: https://github.com/opensim-org/opensim-core/graphs/contributors
- BTK: https://github.com/Biomechanical-ToolKit/BTKCore/graphs/contributors
- Simbody: https://github.com/simbody/simbody/graphs/contributors
- Drake: https://github.com/RobotLocomotion/drake/graph

[2017-06-20 18:45] moorepants commented on #278
I'm pinging my co-author @tvdbogert so that he is subscribed to this thread.

[2017-06-20 19:27] v3c70r commented on #47
Hi @Kevin-Mattheus-Moerman. Sorry there's no update since last time. I'm currently working intensively on a project which will last at least for 3 months. Sorry for the inconvenience.

[2017-06-20 19:52] karthik commented on #296
@kaneplusplus Thank you very much for the review. We really appreciate it.

@statsmaths Could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-06-20 20:14] Kevin-Mattheus-Moerman commented on #47
@v3c70r Okay.  Thanks for the update. When you are ready to restart let us know. I hope @daviddoria will be able to remain reviewer and pick up at that point.

[2017-06-20 20:21] Kevin-Mattheus-Moerman commented on #278
@whedon commands

[2017-06-20 20:21] whedon commented on #278
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-20 20:22] Kevin-Mattheus-Moerman commented on #278
@whedon assign @cybanical as reviewer

[2017-06-20 20:22] whedon commented on #278
OK, the reviewer is @cybanical

[2017-06-20 20:23] Kevin-Mattheus-Moerman commented on #278
@whedon start review

[2017-06-20 20:23] whedon commented on #278
You didn't say the magic word! Try this:

[code]

[2017-06-20 20:23] Kevin-Mattheus-Moerman commented on #278
@whedon start review magic-word=bananas

[2017-06-20 20:23] whedon commented on #278
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/300. Feel free to close this issue now!

[2017-06-20 20:23] whedon opened #300 "[REVIEW]: opty: Software For Trajectory Optimization and Parameter Estimation Using Direct Collocation"
**Submitting author:** @moorepants (<a href="http://orcid.org/0000-0002-8698-6143">Jason K. Moore</a>)
**Repository:** <a href="https://github.com/csu-hmc/opty" target ="_blank">https://github.com/csu-hmc/opty</a>
**Version:** v0.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @stavness
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1162870" target="_blank">10.5281/zenodo.1162870</a>

[2017-06-20 20:23] whedon commented on #300
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @cybanical it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-06-20 20:30] #278 closed

[2017-06-20 20:32] Kevin-Mattheus-Moerman commented on #300
@moorepants @tvdbogert this is where the review process happens

[2017-06-20 20:34] Kevin-Mattheus-Moerman commented on #300
@chrisdembia our formal system currently handles a single reviewer but would you be able to act as a second reviewer on this?

[2017-06-20 20:47] Kevin-Mattheus-Moerman commented on #297
Not my field either but myself and @cMadan are MATLAB experts so perhaps we can have a look here too.

[2017-06-20 20:51] Kevin-Mattheus-Moerman commented on #297
The [readme.md](https://github.com/ashleefv/ACEInhibPKPD/blob/master/README.md) and [paper.md](https://github.com/ashleefv/ACEInhibPKPD/blob/master/paper.md) emphasize "This software is intended to be used by engineering educators working with college freshmen or high school students and by systems biology researchers investigating pharmaceuticals to modulate the renin-angiotensin system.". Can yo

[2017-06-20 20:56] Kevin-Mattheus-Moerman commented on #300
@chrisdembia has also agreed to review.

[2017-06-20 21:13] statsmaths commented on #296
@karthik Thanks. I archived the current version of the software to Zenodo with this DOI: 10.5281/zenodo.814996

[2017-06-20 21:16] Kevin-Mattheus-Moerman commented on #290
I am quite swamped at the moment but will check briefly to see if I can find a reviewer here at MIT. Can the authors recommend any reviewers at this point?

In the mean time (I gave this a super quick glance) could the authors expand the [readme](https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/blob/master/README.md) to leave a few more bread crumbs for people to follow when they view

[2017-06-20 21:22] standage commented on #272
Done. See latest commit in `maint/2.1` branch.

[2017-06-20 21:53] karthik commented on #296
@whedon set 10.5281/zenodo.814996 as archive

[2017-06-20 21:53] whedon commented on #296
OK. <a href="http://dx.doi.org/10.5281/zenodo.814996" target="_blank">10.5281/zenodo.814996</a> is the archive.

[2017-06-20 23:26] moorepants commented on #300
It is worth nothing that Chris is a co-author of mine (at least in the last few years) and we are good friends. I'm not sure of JOSS rules, but in other journals this would likely be a conflict of interest. FYI.

[2017-06-21 03:19] chenjqp commented on #113
My apologies, i have been on maternity leave for the past 3 months. Let me look into this and i will get back ASAP.

[2017-06-21 13:51] Kevin-Mattheus-Moerman commented on #300
@moorepants thank you for pointing this out. I will arrange another reviewer.

[2017-06-21 17:10] scopatz commented on #298
For reference, the link to the "paper", which is really just a summary, is [here](https://github.com/arfc/moltres/blob/devel/paper/paper.pdf). Doxygen pages are [here](https://arfc.github.io/moltres/)

[2017-06-21 17:10] scopatz commented on #276
Thanks @lindsayad!

[2017-06-21 17:25] scopatz commented on #298
Hi @lindsayad, there doesn't seem to be a conda package for moose. Can you confirm and/or create one? That would be the easiest way for me to verify the installation procedures. Thanks!

[2017-06-21 17:46] mesnardo commented on #292
Hi @kyleniemeyer , thank you for being the editor for this paper.

I just release version 0.1.1 of cuIBM that includes a small bug-fix: downgrading the external library yaml-cpp from version 0.5.3 to 0.5.1.
(yaml-cpp is bundled into cuIBM, in the `external` folder.)
With version 0.5.3, yaml-cpp throws an error when a key parameter is not present in the YAML configuration file, whereas the expected

[2017-06-21 18:41] arghdos commented on #292
@kyleniemeyer I'm willing to review this

[2017-06-21 19:40] kyleniemeyer commented on #292
Awesome, thanks @arghdos! Dan Magee (@osumageed) has also agreed to serve as a second reviewer.

@whedon set reviewer as @arghdos

[2017-06-21 19:42] kyleniemeyer commented on #292
@whedon assign @arghdos as reviewer

[2017-06-21 19:42] whedon commented on #292
OK, the reviewer is @arghdos

[2017-06-21 19:43] kyleniemeyer commented on #292
@whedon start review magic-word=bananas

[2017-06-21 19:43] whedon opened #301 "[REVIEW]: cuIBM: A GPU-based immersed boundary method code"
**Submitting author:** @mesnardo (<a href="http://orcid.org/0000-0001-5335-7853">Olivier Mesnard</a>)
**Repository:** <a href="https://github.com/barbagroup/cuIBM" target ="_blank">https://github.com/barbagroup/cuIBM</a>
**Version:** v0.1
**Editor:** @kyleniemeyer
**Reviewer:** @arghdos
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.832338" target="_blank">10.5281/zenodo.832338</a>

## Sta

[2017-06-21 19:43] whedon commented on #292
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/301. Feel free to close this issue now!

[2017-06-21 19:43] whedon commented on #301
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arghdos it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-06-21 19:43] kyleniemeyer commented on #292
OK @arghdos @osumageed and any others following, we'll move over to #301 for the actual review.

[2017-06-21 19:43] #292 closed

[2017-06-21 19:47] ashleefv commented on #297
I updated both the readme.md and paper.md with additional statements about
the scientific applications. Is further clarification needed?

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences
Center
420 Engineering North, OSU, Stillwater, OK 74078
Ph: 405-744-5280
ashl

[2017-06-21 19:54] kyleniemeyer commented on #301
@arghdos and @osumageed, this is where the review will take place.

@arghdos since you are the "primary" reviewer (and JOSS is only really set up to handle one reviewer), I'll ask you to check off the boxes at the top. However @osumageed you should also go through and make sure you agree that they are satisfied. Thanks!

[2017-06-21 20:16] Kevin-Mattheus-Moerman commented on #297
Thanks for making the changes. I'll review these and let you know. Although I am happy implementing/reviewing MATLAB code this is not my field of study. Can you recommend any reviewers (e.g. researchers that would be interested in your work but were not involved in its creation)?

[2017-06-21 20:17] Kevin-Mattheus-Moerman commented on #297
@arfon @labarba I can take this as editor

[2017-06-21 20:44] ashleefv commented on #297
potential reviewers:

   - Fulden Buyukozturk
   https://www.linkedin.com/in/fulden-buyukozturk-b4384910/
   - Gilbert Koch https://www.ukbb.ch/en/personal/personen/koch-gilbert.php

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences
Center
420 Engineering North, OS

[2017-06-22 01:36] zmimlitz commented on #290
Author here.  We have no one to recommended as a reviewer at this point but
would encourage that it should be someone with experience reading Java.  We
will reach out for possible reviewers and work on updating the readme file.

Thank you,

Zac Mimlitz
Colorado School of Mines
Chairman, Mines Council of the Arts
Capital Resources Manager, Blaster Hackers
Undergraduate Research Fellow, Van Bossuyt

[2017-06-22 08:55] arfon commented on #296
@kaneplusplus many thanks for your review here and to @karthik for editing this one :sparkles:

@statsmaths - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00296 :zap: 🚀:boom:

[2017-06-22 08:55] #296 closed

[2017-06-22 13:35] Kevin-Mattheus-Moerman commented on #297
@whedon commands

[2017-06-22 13:35] whedon commented on #297
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-22 13:37] Kevin-Mattheus-Moerman commented on #297
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-06-22 13:37] whedon commented on #297
OK, the editor is @Kevin-Mattheus-Moerman

[2017-06-22 14:29] Kevin-Mattheus-Moerman commented on #297
@dpastoor, @ronkeizer, @billdenney, @PavelBal + @TheiBa (or a colleague at Open Systems Pharmacology team) would you willing to review this JOSS submission?

Here is the [JOSS](http://joss.theoj.org/) website
Here is the repository for this project: https://github.com/ashleefv/ACEInhibPKPD
Reviewing JOSS submissions generally does not take a lot of time and is largely focused on the claims and fun

[2017-06-22 14:49] dpastoor commented on #297
@Kevin-Mattheus-Moerman Thanks for your interest. First, I would like to commend @ashleefv for putting her research in the open. This is a fantastic first step, however the core functionality is written in matlab, which is not FOSS. Looking at the guidelines, this does not seem to directly violate the journal requirements, however as I do not have a copy of matlab I will not be able to review.

I

[2017-06-22 14:50] Kevin-Mattheus-Moerman commented on #290
I just found this: https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/wiki/Running-a-Simulation
That link gives a much better impression on what the software does than the readme or paper. As I said please expand the readme and the paper on what the software is for and try to include graphical examples on how it is used.
I'm waiting to hear back from potential reviewers.

[2017-06-22 14:53] Kevin-Mattheus-Moerman commented on #297
@dpastoor thanks for your fast reply. I understand your points. We do not exclude works in principle that require proprietor hardware or software (e.g. a runtime like MATLAB). As long as it adheres to the OSI definitions of open source.
If we were able to set-up a free to use MATLAB environment (have to enquire), would you consider reviewing this work?

[2017-06-22 14:56] Kevin-Mattheus-Moerman commented on #297
@ashleefv can you briefly inquire if translation to something like [octave](https://www.gnu.org/software/octave/) is easy to achieve? Translation is NOT a requirement but it would be good to state here if you believe it to be achievable in principle.

[2017-06-22 15:02] dpastoor commented on #297
@Kevin-Mattheus-Moerman I have 2 problems reviewing this (I probably _could_ get ahold of matlab myself).

First and foremost, as I a have not written any matlab, I would not feel comfortable evaluating the implementation, which I believe is an important part of any scientific review. I can handle R, python, go, or javascript implementations, if at some point it is translated to any of those langu

[2017-06-22 15:05] ashleefv commented on #297
I looked into octave. Unfortunately, even for the code that doesnt need the
GUI, octave cannot handle the .mat files used for storing data and
variables for various cases.

On Jun 22, 2017 9:57 AM, "Kevin Mattheus Moerman" <notifications@github.com>
wrote:

[2017-06-22 15:33] Kevin-Mattheus-Moerman commented on #297
@ashleefv thanks for your reply. I understand.

[2017-06-22 15:36] Kevin-Mattheus-Moerman commented on #297
@dpastoor Thanks for your detailed reply. I understand your points. We would be happy to have you as reviewer on other projects. And here is a list of currently open reviews:
https://github.com/openjournals/joss-reviews/issues/

[2017-06-22 19:11] RichardLitt commented on #293
Version: The GitHub release does not match, and the npm release is now ahead of the release for this review (as it is 1.1.3, instead of 1.1.0). I don't know how to best suggest moving forward; perhaps committing and tagging a GitHub release as 1.1.3, and then updating this submission here?

[2017-06-22 19:30] RichardLitt commented on #293
Opened issues for Version and References. Otherwise, this is all good. Note: not sure what to do about versions. See above.

[2017-06-22 19:31] RichardLitt commented on #293
Note: I am happy with the changes I suggested in https://github.com/openjournals/joss-reviews/issues/283. These have now been fixed.

[2017-06-22 19:34] friedmud commented on #276
I'm a bit late to the party (been traveling) but I would be willing to do a
review as well.  Please advise if my review is needed at this point.

On Wed, Jun 21, 2017 at 1:10 PM Anthony Scopatz <notifications@github.com>
wrote:

[2017-06-22 20:08] Kevin-Mattheus-Moerman commented on #298
@kyleniemeyer over at https://github.com/openjournals/joss-reviews/issues/276#issuecomment-310480159 @friedmud volunteered to review as well. Can you use another reviewer?

[2017-06-22 23:56] lindsayad commented on #298
I would certainly be appreciated if @friedmud could review. As the creator of MOOSE and a developer of his own MOOSE applications, I think he could give some very helpful feedback...

[2017-06-22 23:57] lindsayad commented on #298
@scopatz I will look into/get started on a conda package

[2017-06-23 03:37] kyleniemeyer commented on #298
Hi @friedmud, your additional review is absolutely welcome. I believe @scopatz is taking care of checking the boxes above, but it would be great if you also go through each item and ensure you agree that they are satisfied (otherwise mention it here).

[2017-06-23 03:37] kyleniemeyer commented on #276
@friedmud absolutely! the actual review is taking place in #298, your contributions over there are welcome.

[2017-06-23 10:02] DominiqueMakowski commented on #259
Dear @arokem, sorry for the long answer, and thanks a ***lot*** to @cMadan for his first comments.

**Version - You list the software as being version 1.0.4 in the repo, but haven't minted a 'release' in Github to go with this. If someone wanted to specifically run version 1.0.4 in the future, this wouldn't be possible. Also, JOSS will later require you to archive the accepted version of the softw

[2017-06-23 10:12] whedon opened #302 "[PRE REVIEW]: origami - Cross-validation Framework"
**Submitting author:** @jeremyrcoyle (<a href="http://orcid.org/0000-0002-9874-6649">Jeremy Coyle</a>)
**Repository:** <a href="https://github.com/jeremyrcoyle/origami" target ="_blank">https://github.com/jeremyrcoyle/origami</a>
**Version:** v0.8
**Editor:** @karthik
**Reviewer:** @wrathematics

**Author instructions**

Thanks for submitting your paper to JOSS @jeremyrcoyle. The JOSS editor (show

[2017-06-23 10:12] whedon commented on #302
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-23 16:07] whedon opened #303 "[PRE REVIEW]: PyGBe-LSPR: Python and GPU Boundary-integral solver for electrostatics"
**Submitting author:** @ncclementi (<a href="http://orcid.org/0000-0002-0575-5520">Natalia C. Clementi</a>)
**Repository:** <a href="https://github.com/barbagroup/pygbe" target ="_blank">https://github.com/barbagroup/pygbe</a>
**Version:** 0.3
**Editor:** @katyhuff
**Reviewer:** @nicoguaro

**Author instructions**

Thanks for submitting your paper to JOSS @ncclementi. The JOSS editor (shown at the

[2017-06-23 16:07] whedon commented on #303
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-23 17:40] karthik commented on #302
@jeremyrcoyle Thanks for the submission. Please hang on while I do some preliminary checks and find reviewers.

[2017-06-23 17:58] Kevin-Mattheus-Moerman commented on #217
Apologies for the delay! I will resume review this weekend

[2017-06-24 11:45] ben-aaron188 commented on #293
@RichardLitt Thanks for pointing that versioning issue out. We've tried to address this as follows:

1. Latest version is in the GitHub repo
2. Latest version is in the npm release with v1.1.4
3. On the GitHub repo, we created a release tag to the master branch with v1.1.4 and refer to the npm link in the release description

Does this sound like an option? We would need to change the version for

[2017-06-24 16:04] RichardLitt commented on #293
Sounds good to me! Changing the version in the JOSS submission also seems like a smart move. @arfon that's the last thing that needs to be done, and then I consider this to be worthy of accepting as is.

[2017-06-24 16:05] RichardLitt commented on #293
@whedon commands

[2017-06-24 16:05] whedon commented on #293
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-24 16:05] RichardLitt commented on #293
@arfon Looks like we need to have an 'Update version' command, and an 'accept paper' command.

[2017-06-25 02:02] karantibrewal commented on #30
hey @arfon, gentle follow up: could you please give us an update? Thanks.

[2017-06-25 08:03] arfon commented on #30
:wave: @nuest - would you be willing to review this submission for JOSS?

[2017-06-25 08:03] arfon commented on #30
Still looking for a new reviewer sorry.

[2017-06-25 08:04] arfon commented on #293
👍 yep, that's next on my todo list.

[2017-06-25 08:14] arfon commented on #293
@ben-aaron188 - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

I've also made a small fix to your paper meta data here: https://github.com/ben-aaron188/netanos/pull/7

After fixing these two items up, could y

[2017-06-25 08:29] arfon commented on #272
@standage - there's still some problems here sorry.

1. Please link to the `paper.bib` file in the YAML header: `bibliography: paper.bib` (see the example paper here: https://raw.githubusercontent.com/arfon/fidgit/master/paper/paper.md)
2. Please add a `# References` section to the `paper-v2.1.md` file (this is where the pandoc compilation adds your BibTeX references automatically)
3. Please make

[2017-06-25 11:31] ben-aaron188 commented on #293
@arfon The references are updated and the pull request is merged. To avoid any versioning inaccuracies with npm, we’ve updated the npm release with these changes (which unfortunately implied that we needed to provide a new version in the `package.json`).
If possible, could you update the JOSS version to `v1.1.5`?

We’ve linked the `v1.1.5` tree in the master branch to Zenodo. Here’s the DOI 10.528

[2017-06-25 15:13] RichardLitt commented on #293
Small note: thanks @ben-aaron188 for being so receptive to changes and fixes!

[2017-06-25 16:06] arfon commented on #293
@whedon set 10.5281/zenodo.817892 as archive

[2017-06-25 16:07] whedon commented on #293
OK. <a href="http://dx.doi.org/10.5281/zenodo.817892" target="_blank">10.5281/zenodo.817892</a> is the archive.

[2017-06-25 16:13] arfon commented on #293
@RichardLitt many thanks for your review here ✨

@ben-aaron188 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00293 ⚡️:rocket: :boom:

[2017-06-25 16:13] #293 closed

[2017-06-25 16:23] ben-aaron188 commented on #293
@RichardLitt Thanks for your helpful review and for taking the time with this tool! Much appreciated.

@arfon What a fantastic, smooth review process this is. I will recommend your journal to colleagues eager to put their open source research software out there! I think this kind of open reviewing will be the future of academic peer reviewing soon!

[2017-06-25 16:40] arfon commented on #293
💖 Thanks!

[2017-06-25 17:37] domoritz commented on #235
Ping @ekolve @jakevdp

[2017-06-26 01:36] katyhuff commented on #303
Thanks for submitting, @ncclementi !
 @jordigh or @nicoguaro , would either of you be interested in reviewing this paper?

[2017-06-26 01:46] nicoguaro commented on #303
@katyhuff, I think I can do it.

[2017-06-26 06:19] danielskatz commented on #280
@jedbrown - please let us know how this is going

[2017-06-26 06:20] danielskatz commented on #281
Hi @MatthewTurk - any news on this review?

[2017-06-26 06:21] danielskatz commented on #289
@lwilson - the review process is waiting on your resolution of the last 3 issues created by @kc9qey

[2017-06-26 07:13] whedon opened #304 "[PRE REVIEW]: osmdata"
**Submitting author:** @mpadge (<a href="http://orcid.org/0000-0003-2172-5265">Mark Padgham</a>)
**Repository:** <a href="https://github.com/ropensci/osmdata" target ="_blank">https://github.com/ropensci/osmdata</a>
**Version:** v0.0.2
**Editor:** @karthik
**Reviewer:** @karthik

**Author instructions**

Thanks for submitting your paper to JOSS @mpadge. The JOSS editor (shown at the top of this is

[2017-06-26 07:13] whedon commented on #304
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-06-26 07:14] arfon commented on #304
@openjournals/ropensci - could you link the associated rOpenSci onboarding issue here please?

[2017-06-26 07:16] karthik commented on #304
Accepting without additional review: https://github.com/ropensci/onboarding/issues/103

[2017-06-26 07:18] karthik commented on #304
@mpadge Please update the thread with the Zenodo/figshare DOI so we can move forward with this.

[2017-06-26 07:31] pjotrp commented on #249
@matthieugomez are you going ahead with this submission or should we ask you to retract it?

[2017-06-26 07:38] pjotrp commented on #288
Performance and research into performance definitely have application in research. I wish there was more of it. @ingo-k maybe it would be good to show an actual use case. Do you have anything?

[2017-06-26 07:39] mpadge commented on #304
[https://doi.org/10.5281/zenodo.803231](https://doi.org/10.5281/zenodo.803231)

[2017-06-26 07:57] arfon commented on #304
@whedon assign @karthik as reviewer

[2017-06-26 07:57] whedon commented on #304
OK, the reviewer is @karthik

[2017-06-26 07:57] arfon commented on #304
@whedon start review magic-word=bananas

[2017-06-26 07:57] #304 closed

[2017-06-26 07:57] whedon commented on #304
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/305. Feel free to close this issue now!

[2017-06-26 07:57] whedon opened #305 "[REVIEW]: osmdata"
**Submitting author:** @mpadge (<a href="http://orcid.org/0000-0003-2172-5265">Mark Padgham</a>)
**Repository:** <a href="https://github.com/ropensci/osmdata" target ="_blank">https://github.com/ropensci/osmdata</a>
**Version:** v0.0.2
**Editor:** @karthik
**Reviewer:** @karthik
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.803231" target="_blank">10.5281/zenodo.803231</a>

## Status

[![

[2017-06-26 07:57] whedon commented on #305
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-06-26 07:58] arfon commented on #305
@whedon set 10.5281/zenodo.803231 as archive

[2017-06-26 07:58] whedon commented on #305
OK. <a href="http://dx.doi.org/10.5281/zenodo.803231" target="_blank">10.5281/zenodo.803231</a> is the archive.

[2017-06-26 07:58] arfon commented on #305
Accepting without additional review: https://github.com/ropensci/onboarding/issues/103

[2017-06-26 08:05] arfon commented on #305
@mpadge - your paper is now accepted into JOSS. Your DOI is http://dx.doi.org/10.21105/joss.00305 :zap: :rocket: :boom:

[2017-06-26 08:05] #305 closed

[2017-06-26 12:49] standage commented on #272
Updated. Thanks @arfon.

The text already cited those references as is. Perhaps the message appeared because I had not properly included the `.bib` file and/or included a header for the **References** section?

Hopefully this addresses it. Let me know if anything is still amiss.

[2017-06-26 14:49] katyhuff commented on #303
Excellent. Thanks @nicoguaro .

[2017-06-26 14:49] katyhuff commented on #303
@whedon assign @nicoguaro as reviewer.

[2017-06-26 14:49] whedon commented on #303
OK, the reviewer is @nicoguaro

[2017-06-26 14:50] katyhuff commented on #303
@whedon start review magic-word=bananas

[2017-06-26 14:50] whedon commented on #303
You didn't say the magic word! Try this:

[code]

[2017-06-26 14:50] katyhuff commented on #303
@whedon start review magic-word=bananas

[2017-06-26 14:50] whedon opened #306 "[REVIEW]: PyGBe-LSPR: Python and GPU Boundary-integral solver for electrostatics"
**Submitting author:** @ncclementi (<a href="http://orcid.org/0000-0002-0575-5520">Natalia C. Clementi</a>)
**Repository:** <a href="https://github.com/barbagroup/pygbe" target ="_blank">https://github.com/barbagroup/pygbe</a>
**Version:** 0.3
**Editor:** @katyhuff
**Reviewer:** @kyleniemeyer
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1067773" target="_blank">10.5281/zenodo.1067773</a>

[2017-06-26 14:50] whedon commented on #303
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/306. Feel free to close this issue now!

[2017-06-26 14:50] whedon commented on #306
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @nicoguaro it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-06-26 14:50] #303 closed

[2017-06-26 14:51] katyhuff commented on #303
@nicoguaro and @ncclementi , please head over to #306 for the actual review.

[2017-06-26 15:41] arfon commented on #272
The issue was still there I'm afraid - case sensitive references not being picked up. I've fixed up the issues in https://github.com/dib-lab/khmer/pull/1739

When you've merged https://github.com/dib-lab/khmer/pull/1739 could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the s

[2017-06-26 22:23] lindsayad commented on #298
@scopatz So Moltres sits on top of MOOSE which does not do releases nor does it itself have a conda package. I could include MOOSE as a submodule of Moltres. However, MOOSE relies on a lot of dependencies like MPI and PetSc and needs environment variables like MPI_HOME and PETSC_DIR. Current MOOSE installation relies on providing a redistributable package which contains dependencies like MPI and P

[2017-06-27 06:50] pjotrp commented on #288
@whedon commands

[2017-06-27 06:50] whedon commented on #288
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-06-27 06:50] pjotrp commented on #288
@whedon assign @pjotrp as editor

[2017-06-27 06:50] whedon commented on #288
OK, the editor is @pjotrp

[2017-06-27 06:51] pjotrp commented on #288
@whedon assign @kbroman as reviewer

[2017-06-27 06:51] whedon commented on #288
OK, the reviewer is @kbroman

[2017-06-27 06:56] pjotrp commented on #288
@ingo-k before we start review we would highly appreciate you make sure to tick the following boxes:

### General checks

- [ ] **Repository:** Is the source code for this software available at the <a target="_blank" href="http://mutabit.com/repos.fossil/grafoscopio/">repository url</a>?
- [ ] **License:** Does the repository contain a plain-text LICENSE file with the contents of an [OSI approved]

[2017-06-27 16:16] lindsayad commented on #298
@scopatz If it's of interest, and maybe of use for build questions, you can see an example of our automated build and test process [here](https://www.moosebuild.org/job/97233/)

[2017-06-27 18:48] scopatz commented on #298
Hi @lindsayad can you please provide a VM or a docker container or something with all of the dependencies.  I know that it is kind of a pain to get all of the dependencies. I don't do moose development, and so I am looking for a way to evaluate Moltres without having to drill down the whole stack myself. Anything you can provide will be most useful.

[2017-06-28 01:49] Kevin-Mattheus-Moerman commented on #290
@AlexisDrogoul @rinde @eclab @alexlin0 at [JOSS](http://joss.theoj.org/) we are looking for reviewers for this submission. If [this work](https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/) looks interesting to you and you are willing to [review](http://joss.theoj.org/about#reviewer_guidelines) for JOSS please let me know.

[2017-06-28 13:56] Kevin-Mattheus-Moerman commented on #290
@agrignard is this your cup of tea? Are you available to review this submission?

[2017-06-28 13:56] Kevin-Mattheus-Moerman commented on #290
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-06-28 13:57] whedon commented on #290
OK, the editor is @Kevin-Mattheus-Moerman

[2017-06-28 13:57] Kevin-Mattheus-Moerman commented on #290
@kyleniemeyer I got this

[2017-06-28 16:20] bede commented on #282
I've done the following:
- Created an example usage notebook
- Added detail to the paper, including two diagrams
- Reviewed a handful of accepted JOSS papers, and added a contribution section to the README

Are you happy with the changes @genomematt ?

[2017-06-28 18:36] lindsayad commented on #298
Ok, the image is about 5.5 GB, but you can get an image with all the MOOSE dependencies installed as well as an already built moltres if it's needed for any reason. You can get it by running
[code]

[2017-06-29 08:25] arfon commented on #267
Friendly reminder on this @tacaswell 😁

[2017-06-29 08:26] arfon commented on #268
Friendly reminder on this review @tacaswell 😁

[2017-06-29 08:26] arfon commented on #291
Friendly reminder on this review @MWieland 😁

[2017-06-29 08:28] arfon commented on #235
@domoritz - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-06-29 18:17] domoritz commented on #235
Thanks @arfon. The DOI is https://doi.org/10.5281/zenodo.821196.

[2017-06-29 19:40] zmimlitz commented on #290
Thank you Kevin

Zac Mimlitz

On Jun 28, 2017 7:57 AM, "Kevin Mattheus Moerman" <notifications@github.com>
wrote:

[2017-07-01 19:54] labarba commented on #306
@nicoguaro : Do you have access to a GPU to run this? Let us know if you need anything.

[2017-07-01 19:55] labarba commented on #280
@jedbrown Do you have access to a GPU system to run this? Let us know if you need anything.

[2017-07-02 05:19] genomematt commented on #282
This now ticks all the boxes.  I think we are ready to accept @mgymrek

[2017-07-02 23:42] karthik commented on #284
I concur with @labarba and @arfon that this submission is not suitable for JOSS in the current form.

[2017-07-03 00:18] karantibrewal commented on #30
No problem, we understand completely. Thanks for your help.

[2017-07-03 13:31] danielskatz commented on #289
Hi @lwilson - this is another ping...

[2017-07-03 15:19] arghdos commented on #301
@kyleniemeyer @mesnardo

I have completed a preliminary review of cuIBM.  This is a valuable software that enables CUDA based solution of the 2D incompressible Navier-Stokes equations using immersed boundary methods.  Installation is relatively easy, and is laid out comprehensively in the Readme, there are many examples for use, and there is API level documentation of the doe.

Most of the require

[2017-07-03 17:34] gymreklab commented on #282
This looks great to me. @arfon I think this is ready to go.

[2017-07-03 18:55] standage commented on #272
Sorry about the case sensitivity issues, and thanks for your PR. The archive is now posted to Zenodo at [doi:10.5281/zenodo.822478](http://dx.doi.org/10.5281/zenodo.822478).

[2017-07-03 19:21] arfon commented on #272
@whedon set 10.5281/zenodo.822478 as archive

[2017-07-03 19:21] whedon commented on #272
OK. <a href="http://dx.doi.org/10.5281/zenodo.822478" target="_blank">10.5281/zenodo.822478</a> is the archive.

[2017-07-03 19:26] arfon commented on #272
@sjackman many thanks for your review here and to @biorelated for editing this submission ✨

@standage - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00272 :zap: 🚀 💥

[2017-07-03 19:26] #272 closed

[2017-07-03 19:28] standage commented on #272
Great news. Thanks to @arfon, @biorelated, and @sjackman for you contributions to the review and publishing process!

[2017-07-03 19:29] arfon commented on #282
@bede - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-07-04 01:14] alexanderbock commented on #281
I think it's my turn...   any news? :)

[2017-07-04 06:49] arfon commented on #235
@whedon set 10.5281/zenodo.821196 as archive

[2017-07-04 06:49] whedon commented on #235
OK. <a href="http://dx.doi.org/10.5281/zenodo.821196" target="_blank">10.5281/zenodo.821196</a> is the archive.

[2017-07-04 06:50] arfon commented on #235
Thanks @domoritz.

Your paper (and the JOSS website) link directly to GitHub. I don't know about the Zenodo linking sorry other than I think they include links to the GitHub repository in their metadata for the DOI.

[2017-07-04 06:58] domoritz commented on #235
Sounds good. Thanks for moving this forward @arfon!

[2017-07-04 07:00] OSUmageed commented on #301
@kyleniemeyer @arghdos @mesnardo

I completely agree with @arghdos' preliminary review.  And I have a few things to add.

First, I want to say the documentation is really spectacular.  I'm still relatively new to this field, but this is the most well documented source code I've ever read.

I definitely think there needs to be a link to the API in the readme or instructions to build and view it, if

[2017-07-04 07:04] arfon commented on #235
@ekolve - many thanks for your review here.

@domoritz - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00235 ⚡️ 🚀 💥

[2017-07-04 07:04] #235 closed

[2017-07-04 07:05] arfon commented on #262
@openjournals/joss-editors - would anyone else be able to handle this submission for JOSS?

[2017-07-04 07:30] domoritz commented on #235
Thank you @arfon and @jakevdp for finding reviewers and finalizing the acceptance and @ekolve for the review!

[2017-07-04 08:32] MWieland commented on #291
The software complies with the journal standards and I suggest its publication in JOSS. My only suggestions are to add more functional documentation to the repository itself. I assume that the authors intended to provide more documentation through their external software website (https://cloopsy.unipv.it), which they reference in the repository. Unfortunately, at the time of this review the websit

[2017-07-04 09:26] bede commented on #282
@arfon Thanks! Now sorted.

I'd seen a lot of JOSS submissions using hardcoded citations and just followed suit. This is much cleaner.

[2017-07-04 13:24] danielskatz commented on #262
I can take it

[2017-07-04 16:14] arfon commented on #262
👍 many thanks @danielskatz

[2017-07-05 10:22] mesnardo commented on #301
Thank you @arghdos for the preliminary review and for your suggestions.

I have added a link to the Doxygen API documentation in the README of cuIBM.
(Note that there is also a link to API documentation at the top of the GitHub page of cuIBM, next to the title.)
I have also added community guidelines in the file `CONTRIBUTING.md`.

Those changes are now available in the branch `joss-reviews-hotfix

[2017-07-05 12:36] danielskatz commented on #262
@whedon assign @danielskatz as editor

[2017-07-05 12:36] whedon commented on #262
OK, the editor is @danielskatz

[2017-07-05 13:26] dandev89 commented on #291
Thanks @MWieland. I confirm that the server is down at the moment and we are working to recover it. Anyway, I'll follow your suggestion to include more documentation within the repository.

[2017-07-05 14:32] bede commented on #282
@arfon Also, is it possible to revise the text on this page? http://joss.theoj.org/papers/117efd1fc35bb2011311f73d3fa0b545

[2017-07-06 00:24] kyleniemeyer commented on #301
Thanks for your reviews @arghdos and @OSUmageed! Do the documentation and community guideline changes that @mesnardo made satisfy those concerns? If so, you can close those issues / check the boxes above.

@mesnardo It seems like the performance claim is the only remaining issue—do you have a response on that?

[2017-07-06 10:54] danielskatz commented on #262
I'm looking for reviewer volunteers now.  @betatim, @jpivarski, and @wlav have all been suggested.  Would one of you be willing to review this paper for JOSS?  (for more info about the journal and process, see http://joss.theoj.org/about, and particularly http://joss.theoj.org/about#reviewer_guidelines)

[2017-07-06 13:17] dandev89 commented on #291
The server is up and running now. I've also added a functionality document to the repository describing the data flow and the APIs.

[2017-07-06 16:28] wlav commented on #262
Sure can do, assuming that I pass the COI threshold.

[2017-07-06 16:42] arghdos commented on #301
@kyleniemeyer I've closed my issues and updated the review

[2017-07-06 17:14] danielskatz commented on #262
@wlav
Did you contribute to the code?
What other potential COIs should we be concerned with?

[2017-07-06 17:36] wlav commented on #262
No, I did not contribute nor did I use the code. However, root_numpy uses PyROOT extensively, and I was the main developer of that. Thus, I very much like root_numpy to succeed.

[2017-07-06 17:41] danielskatz commented on #262
I don't see any COIs then.

So I will take "Sure can do" as an accept :)
and start the review process - more notifications will follow

[2017-07-06 17:42] danielskatz commented on #262
@whedon assign @wlav as reviewer

[2017-07-06 17:42] whedon commented on #262
OK, the reviewer is @wlav

[2017-07-06 17:43] danielskatz commented on #262
@whedon start review magic-word=bananas

[2017-07-06 17:43] whedon commented on #262
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/307. Feel free to close this issue now!

[2017-07-06 17:43] whedon opened #307 "[REVIEW]: root_numpy: The interface between ROOT and NumPy"
**Submitting author:** @ndawe (<a href="http://orcid.org/0000-0003-0202-3284">Edmund Dawe</a>)
**Repository:** <a href="https://github.com/scikit-hep/root_numpy" target ="_blank">https://github.com/scikit-hep/root_numpy</a>
**Version:** 4.7.2
**Editor:** @danielskatz
**Reviewer:** @wlav
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.842249" target="_blank">10.5281/zenodo.842249</a>

## Sta

[2017-07-06 17:43] whedon commented on #307
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @wlav it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably c

[2017-07-06 17:44] danielskatz commented on #307
Ok, @wlav - this is ready to go.

Please carry out your review in this issue by updating the checklist above (please make sure you're logged in to GitHub)

The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Please avoid lengthy details of difficulties in this review thread. Instead, please create a new issue in the target repository and link to those issue

[2017-07-06 19:56] arfon commented on #282
This will be replaced by your paper content once we've accepted the paper.

Thanks for making the edits to `paper.md`, take a look at the compiled PDF here [10.21105.joss.00282.pdf](https://github.com/openjournals/joss-reviews/files/1129066/10.21105.joss.00282.pdf)

I'm wondering if you should remove the sections (`Core functionality` etc) and just replace these with slightly longer captions? The