[2020-09-28 18:00] nhejazi commented on #2447
@whedon build pdf

[2020-09-28 18:00] whedon commented on #2447
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-28 18:01] nhejazi commented on #2447
@whedon generate pdf

[2020-09-28 18:02] whedon commented on #2447
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02447/joss.02447/10.21105.joss.02447.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02447/joss.02447/10.21105.joss.02447.pdf) :page_facing_up: :point_left:

[2020-09-28 18:03] xiaohk commented on #2676
Hello @nedRad88. Very helpful and interesting work!

I have added some comments on the issues raised by @GregaVrbancic on SCALAR repo.

My main concern is that the installation instruction is not very easy to follow. It would be much easier for other users to set up their SCALAR if the instruction provides a list of _all exact commands_ that they needs to run in order to set it up.

Other minor co

[2020-09-28 18:08] henrykironde commented on #2704
@terrytangyuan could you give me permission to the checklist.

[2020-09-28 18:11] terrytangyuan commented on #2704
@arfon Could you take a look at the request above? Thanks.

[2020-09-28 19:03] mbobra commented on #2629
@teuben @hasantahir How is the review going? Do you need any help? Please let me know, I'm happy to help!

[2020-09-28 19:13] pmkruyen commented on #2506
Hi @cMadan, did you hear back from @gcdeshpande yet? Cheers, Peter

[2020-09-28 19:36] gcdeshpande commented on #2506
Hi @pmkruyen and @cMadan,
I am extremely sorry the delay in reviewing.
I just finished reading the article.
I found the work interesting. Exploring similar apps.. will provide feedback on or before Thursday.

[2020-09-28 19:39] pmkruyen commented on #2506
Thanks for starting the review @gcdeshpande.

[2020-09-28 19:55] gcdeshpande commented on #2506
@cMadan, I am unable to update the checklist. I think the invitation expired. I request you to resend it.

[2020-09-28 19:57] arfon commented on #2704
@henrykironde - please click the link above (https://github.com/openjournals/joss-reviews/invitations) to accept the invite to the repository. Then you will be able to edit the checklist.

[2020-09-28 20:29] Kevin-Mattheus-Moerman commented on #2633
@whedon add @lbrea as reviewer

[2020-09-28 20:29] whedon commented on #2633
OK, @lbrea is now a reviewer

[2020-09-28 20:31] Kevin-Mattheus-Moerman commented on #2633
@whedon add @zhangfanmark as reviewer

[2020-09-28 20:31] whedon commented on #2633
OK, @zhangfanmark is now a reviewer

[2020-09-28 20:31] Kevin-Mattheus-Moerman commented on #2633
@whedon start review

[2020-09-28 20:31] whedon opened #2705 "[REVIEW]: DeepReg: a deep learning toolkit for medical image registration"
**Submitting author:** @mathpluscode (<a href="http://orcid.org/0000-0002-1184-7421">Yunguan Fu</a>)
**Repository:** <a href="https://github.com/DeepRegNet/DeepReg" target ="_blank">https://github.com/DeepRegNet/DeepReg</a>
**Version:** v0.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @ethanwharris, @lbrea, @zhangfanmark
**Archive:** <a href="https://doi.org/10.5281/zenodo.4210215" target=

[2020-09-28 20:31] whedon commented on #2633
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2705.

[2020-09-28 20:31] #2633 closed

[2020-09-28 20:31] whedon commented on #2705
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ethanwharris, @lbrea, @zhangfanmark it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blo

[2020-09-28 20:31] whedon commented on #2705
[code]

[2020-09-28 20:32] whedon commented on #2705
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02705/joss.02705/10.21105.joss.02705.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02705/joss.02705/10.21105.joss.02705.pdf) :page_facing_up: :point_left:

[2020-09-28 20:55] diehlpk commented on #2599
@tbrown122387  I checked the references and please update

    Murray, L. M. (2013). Bayesian state-space modelling on high-performance hardware using LibBi. (add the arxiv.org information)
    Taylor, S. (1982). Financial returns modelled by the product of two stochastic processes, a study of daily sugar prices 1961-79,1. (Add the journal)
    Brown, T. R. (2020). Approximating posterior predicti

[2020-09-28 20:58] cMadan commented on #2669
@samhforbes @paxtonfitzpatrick, thank you both for your thorough and constructive comments!

@mortonne, I will now do some final checks within the next few days and then advise on the last steps. You're almost done!

[2020-09-28 21:00] cMadan commented on #2506
@gcdeshpande, thanks for following up with this review, I will re-send the invitation now.

[2020-09-28 21:00] cMadan commented on #2506
@whedon re-invite @gcdeshpande as reviewer

[2020-09-28 21:00] whedon commented on #2506
OK, the reviewer has been re-invited.

@gcdeshpande please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-28 21:58] andyphilips commented on #2528
Thanks @sbenthall!

1. We updated the paper accordingly with your suggestion of adding an equation early on, did a final proofread, and uploaded.
2. We archived the current version of the program on Zenodo. DOI is https://doi.org/10.5281/zenodo.4057108. The current version of the software is 0.1.11.

[2020-09-28 21:59] eloisabentivegna commented on #2555
@gouarin, you are assigned to this review issue. Are you having trouble editing/accessing something?

[2020-09-29 02:53] smutch commented on #2596
Hi @htjb,

Sorry for the delayed reply (again). I had to take last minute leave last week...

I'm very happy with the changes and improvements. I think it's looking great!

I do have one minor suggestion below but, regardless of this, I am very happy to sign-off on the review:

Since the plotting functions save to a PDF and do not return the underlying matplotlib figure object, the plots do not ap

[2020-09-29 05:30] gouarin commented on #2555
@eloisabentivegna It is the first time I make a JOSS review. So, I don't know exactly how it should work. But I can't check the boxes. I try to click on "accept the invite" but the link is expired. I think this is my issue.

Could you send me a new invite?

[2020-09-29 06:28] TomDonoghue commented on #2621
Just a note that I have basically finished my first round of review. Thanks to @sappelhoff for making my job easier, as he already pointed out a lot of good suggestions! I made some additional suggestions, mostly by opening a couple issues on the tool repo. As a general note, I consider a few of the issues I opened as _suggestions_ (not strictly required for the paper), and so to guide what I thin

[2020-09-29 06:52] mikldk commented on #2600
@nthomasCUBE, @xin-huang: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-09-29 06:53] berenger-eu commented on #2444
Dear @pitsianis @sarats, I just would like to know if I missed something and if the ball is on my side or not. If that is the case, please could you point me to what I am supposed to do? Otherwise, I will simply wait for comments. Thanks a lot.

[2020-09-29 07:05] robinroche commented on #2637
@kbarnhart
Reading @samuelduchesne 's comments, I realize that I somehow forgot to paste my comments on the technical (application) and conclusions. However they are similar to @samuelduchesne 's. This a nice contribution that can be useful to both researchers and designers of such systems.

[2020-09-29 07:52] flokno commented on #2671
Hi, I was waiting to merge https://gitlab.com/vibes-developers/vibes/-/merge_requests/23 until @ajjackson has made additional comments, any news there?

[2020-09-29 07:53] emilydolson commented on #2659
Me too!

[2020-09-29 08:00] Christopher-Khan commented on #2644
Hi @sjpfenninger. Sorry for the late response. I made one more edit to the paper. I forgot for the benchmarks to account for the fact that MATLAB code can sometimes run slower the first time it is called than subsequent calls due to MATLAB's execution engine. Therefore, I reran and updated the benchmarks in order to account for this. The times didn't change much, but I still wanted to update them

[2020-09-29 08:09] csoneson commented on #2659
Brilliant, thanks both! I'll assign you and start the review issue.

[2020-09-29 08:09] csoneson commented on #2659
@whedon assign @rrrlw as reviewer

[2020-09-29 08:09] whedon commented on #2659
OK, @rrrlw is now a reviewer

[2020-09-29 08:09] csoneson commented on #2659
@whedon add @emilydolson as reviewer

[2020-09-29 08:09] whedon commented on #2659
OK, @emilydolson is now a reviewer

[2020-09-29 08:10] csoneson commented on #2659
@whedon start review

[2020-09-29 08:10] whedon opened #2706 "[REVIEW]: c212: An R Package for the Detection of Safety Signals in Clinical Trials Using Body-Systems (System Organ Classes)"
**Submitting author:** @rcarragh (<a href="http://orcid.org/0000-0002-0120-625X">Raymond Bernard Carragher</a>)
**Repository:** <a href="https://github.com/rcarragh/c212" target ="_blank">https://github.com/rcarragh/c212</a>
**Version:** 1.00
**Editor:** @csoneson
**Reviewers:** @rrrlw, @MelvinSMunsaka
**Archive:** <a href="https://doi.org/10.5281/zenodo.4304831" target="_blank">10.5281/zenodo.430

[2020-09-29 08:10] whedon commented on #2659
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2706.

[2020-09-29 08:10] #2659 closed

[2020-09-29 08:10] whedon commented on #2706
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rrrlw, @emilydolson it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-09-29 08:11] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-09-29 08:11] ajjackson commented on #2671
This is a sufficient set of contribution guidelines in my opinion, feel free to merge

[2020-09-29 08:11] csoneson commented on #2706
Ok @rrrlw, @emilydolson - this is where the review will take place. Please find your respective checklists above together with some more instructions, and don't hesitate to ping me if you have any questions.

[2020-09-29 08:12] whedon commented on #2706
[code]

[2020-09-29 08:13] csoneson commented on #2706
And just a note to  myself that we're still looking to add a reviewer directed more towards the clinical trials methodology.

[2020-09-29 08:17] csoneson commented on #2440
@neuromusic - any update on the remaining issues?

[2020-09-29 08:24] bsipocz commented on #2641
@arfon - I got a bit swamped and dropped the ball, will try to get back to it over the weekend.

[2020-09-29 08:40] pauldmccarthy commented on #2670
Hi @oliviaguest, I'm aiming to complete my review in the next 7 days.

[2020-09-29 08:55] Kevin-Mattheus-Moerman commented on #2705
@ethanwharris, @lbrea, @zhangfanmark, this is where the review takes place. There are instructions, and a set of checkboxes for each of you at the top of this issue which will guide you through the process. We would appreciate it if you could complete the review within about 2-3 weeks. Please let me know if you have any questions.

Let the reviewing begin! :tada:

[2020-09-29 08:57] Kevin-Mattheus-Moerman commented on #2705
@lbrea, @zhangfanmark, could you please consider updating your GitHub profile with your full name, and preferably a link to a professional (e.g. university) profile, ORCID, or equivalent.

[2020-09-29 09:06] whedon opened #2707 "[PRE REVIEW]: distFit: An R package to investigate goodness-of-fit with statistical distributions"
**Submitting author:** @pbeagon (<a href="http://orcid.org/0000-0002-6555-7550">Paul Beagon</a>)
**Repository:** <a href="https://github.com/pbeagon/distFit" target ="_blank">https://github.com/pbeagon/distFit</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2020-09-29 09:07] whedon commented on #2707
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-29 09:07] whedon commented on #2707
PDF failed to compile for issue #2707 with the following error:

 Can't find any papers to compile :-(

[2020-09-29 09:07] whedon commented on #2707
[code]

[2020-09-29 09:07] whedon commented on #2707
Failed to discover a valid open source license.

[2020-09-29 09:09] whedon commented on #2707
[code]

[2020-09-29 09:11] Kevin-Mattheus-Moerman commented on #2660
@pdebuyl @usethedata @pibion @dpsanders could one of you handle this submission?

[2020-09-29 09:36] Kevin-Mattheus-Moerman commented on #2662
@skadio thanks for your submission to JOSS. Several reviewers raised concerns in terms of this work potentially being out of scope. The handling editor, @galessiorob, consulted the JOSS editorial board who has now also reviewed and discussed this work in detail. Unfortunately the editorial board agreed that this work is out of scope for JOSS as it stands. In particular it is deemed too minor in te

[2020-09-29 09:36] Kevin-Mattheus-Moerman commented on #2662
@whedon reject

[2020-09-29 09:36] whedon commented on #2662
Paper rejected.

[2020-09-29 09:36] #2662 closed

[2020-09-29 09:50] pbeagon commented on #2707
Hi

I just added the DOIs as separate items in the paper.bib file

Thanks

Paul

[2020-09-29 10:06] pbeagon commented on #2707
Hi

I added the licence file again, but this time I ticked "add to master branch" and it now appears as a file at
https://github.com/pbeagon/distFit

Paul

[2020-09-29 10:21] pbeagon commented on #2707
PDF failed to compile for issue #2707 with the following error:

 Can't find any papers to compile :-(

_Originally posted by @whedon in https://github.com/openjournals/joss-reviews/issues/2707#issuecomment-700571970_

Hello

I already mentioned it at submission, but I uploaded the paper in PDF version in addition to R markdown and the markdown generated by R using Pandocs v 2.10.1. My attempts wi

[2020-09-29 10:32] pbeagon commented on #2707
Hi Kevin,

I looked through the linked spreadsheet and found a few reviewers with R expertise (preferred or other language) and also know the energy domain:

elimillera  R and energy
jordanperr R (other language) Energy systems
kramea  R Energy

I noticed Modelica as a reviewer's language. Does JOSS publish Modelica energy models also?

Thanks

Paul Beagon
Paul Beagon

[2020-09-29 10:48] typically commented on #2668
Okay, done reviewing. In summary, I love the tool, especially its simplicity and extensibility. I could definitely see how this could be integrated into any number of projects, including my own.

- Nice simple tool
- Excellent documentation
- Well organized Github page
- Easy to install (pip 20.1.1)
- Paper is readable and makes a good case for need

There are good basic examples of how to use the

[2020-09-29 11:27] marcosvital commented on #2447
@whedon set v0.3.4 as version

[2020-09-29 11:27] whedon commented on #2447
OK. v0.3.4 is the version.

[2020-09-29 11:29] marcosvital commented on #2447
@nhejazi, I'll read the last proof you generated, and will let you know if I find any issues. Please also take a careful (and probably final) look at it, ok? We are almost finished!

[2020-09-29 11:37] Kevin-Mattheus-Moerman commented on #2707
@whedon check repository

[2020-09-29 11:37] whedon commented on #2707
[code]

[2020-09-29 11:46] Kevin-Mattheus-Moerman commented on #2707
@pbeagon

I am not familiar with Modelica but judging from a quick look at https://www.modelica.org it appears to be an open source language which would be in scope for JOSS. I am not sure what "energy models" are though. You can always submit and we can review suitability. If the work is open source, has sufficient scholarly content (not too minor), has a significant research application, and we

[2020-09-29 11:55] marcosvital commented on #2584
@JolleJolles, everything seems fine, and I would like to ask for one more change: please include the "statement of need" as a titled paragraph. I believe that could be done with your second paragraph, as it seems to cover this content. It should look [like in this paper](https://joss.theoj.org/papers/10.21105/joss.02607).

[2020-09-29 11:55] lpantano commented on #2432
@lincoln-harris thanks for updating this, could you update the title to match the paper’s title? That would be the last thing missing. Thanks!

[2020-09-29 12:08] JanCBrammer commented on #2621
@sappelhoff, @TomDonoghue, thank you for you clear and thorough reviews! I'll try to address your issues over the coming two weeks. I'll keep you in the loop by tagging you once I've resolved an issue. Also, I will notify you here once I think the repo is ready for your final evaluation / sign-off (in case you don't have time and/or resources to keep track of single issues).

[2020-09-29 12:10] pbeagon commented on #2707
@whedon generate pdf

[2020-09-29 12:11] whedon commented on #2707
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02707/joss.02707/10.21105.joss.02707.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02707/joss.02707/10.21105.joss.02707.pdf) :page_facing_up: :point_left:

[2020-09-29 12:19] pbeagon commented on #2707
Hi

Using info at https://github.com/rstudio/rticles, now JOSS PDF renders both on my PC and by whedon as above.

Looks much better now. Thanks

Paul

[2020-09-29 13:18] iaklampanos commented on #2664
Thank you @rafaelfsilva and @Himscipy for your suggestions. We have addressed you comments re the deployment instructions and we have now provided a state of the field section which covers some related work.

[2020-09-29 14:32] victorsapucaia commented on #2698
@whedon commands

[2020-09-29 14:32] whedon commented on #2698
Here are some things you can ask me to do:

[code]

[2020-09-29 14:49] dfm commented on #2596
@whedon generate pdf

[2020-09-29 14:49] whedon commented on #2596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02596/joss.02596/10.21105.joss.02596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02596/joss.02596/10.21105.joss.02596.pdf) :page_facing_up: :point_left:

[2020-09-29 14:49] dfm commented on #2596
@whedon check references

[2020-09-29 14:51] whedon commented on #2596
[code]

[2020-09-29 14:58] xin-huang commented on #2600
Hi @mikldk, I am happy to help

[2020-09-29 14:59] dfm commented on #2596
@smutch & @benjaminpope: Thanks for your reviews!! I really appreciate your contributions and I believe that your suggestions have helped improve the clarity and impact of the paper and documentation.

@htjb: It looks like we're in good shape here. The only change I would request for the paper is that in the statement of need it says "supports version >=3 [of Python]", but only versions 3.6 and ab

[2020-09-29 15:00] dfm commented on #2610
I'm still working on finding a second reviewer over here (perhaps because many people are starting their semester right now!). Thanks for your patience!

[2020-09-29 15:54] pibion commented on #2693
Thanks @arfon , shoulda checked the whedon docs :/

[2020-09-29 15:55] JolleJolles commented on #2584
I have incorporated your requested change and committed my suggested changes to the paper.

@whedon generate pdf

[2020-09-29 15:56] ziotom78 commented on #2599
Hi @tbrown122387 , I have completed my review and have no further comments to make. Thanks!

[2020-09-29 15:58] JolleJolles commented on #2584
@whedon check references

[2020-09-29 15:58] whedon commented on #2584
[code]

[2020-09-29 16:08] JolleJolles commented on #2584
@whedon generate pdf

[2020-09-29 16:08] lincoln-harris commented on #2432
done, the titles now match!

[2020-09-29 16:09] whedon commented on #2584
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02584/joss.02584/10.21105.joss.02584.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02584/joss.02584/10.21105.joss.02584.pdf) :page_facing_up: :point_left:

[2020-09-29 16:17] JolleJolles commented on #2584
I noticed some small errors with the references so fixed them now.

[2020-09-29 16:18] JolleJolles commented on #2584
@whedon generate pdf

[2020-09-29 16:18] whedon commented on #2584
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02584/joss.02584/10.21105.joss.02584.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02584/joss.02584/10.21105.joss.02584.pdf) :page_facing_up: :point_left:

[2020-09-29 16:19] adamltyson commented on #2668
Hi @typically, thanks for your review!

For your first suggestion, I'm not 100% clear what you meant, do you mean something like:
1) How the voxel spacing in  the images corresponds to the "real world"? i.e. showing that you can query the different resolution atlases in microns, and get the same results? And also show that the generated meshes for each brain region are in micron units (not voxels)

[2020-09-29 16:26] JolleJolles commented on #2584
Okay the final proofs looks good. I have committed the final changes and release pirecorder 3.2.0, which is now also available on pypi.

[2020-09-29 16:43] onurvarol commented on #2530
Dear @lorenanicole it's been almost a month since we last attempted to assign a  reviewer for our submission. Can we make another attempt?

[2020-09-29 16:56] steven-murray commented on #2582
Hi @sambit-giri, thanks for the very useful suggestions!

I've made these changes in https://github.com/21cmfast/21cmFAST/pull/172 (hopefully merged soon). The description is short but hopefully helpful.

Done in the above PR as well.

Running automated tests post-installation is only possible if one clones the repo itself and installs that way. We expect that to happen only for those who want to

[2020-09-29 17:20] lpantano commented on #2432
@whedon set 10.5281/zenodo.4050557 as archive

[2020-09-29 17:20] whedon commented on #2432
OK. <a href="https://doi.org/10.5281/zenodo.4050557" target="_blank">10.5281/zenodo.4050557</a> is the archive.

[2020-09-29 17:21] untzag commented on #2688
WOW @aquilesC what amazingly detailed review---just amazing. I'd like to give a few humble "big picture" comments as someone who is interested in this kind of software and is also working in this space.

First off, I agree that ideally you should find an existing framework and contribute to that rather than inventing your own approach for driver abstraction. We have a bunch of competing approaches

[2020-09-29 17:21] lpantano commented on #2432
@whedon accept

[2020-09-29 17:22] whedon commented on #2432
[code]

[2020-09-29 17:23] whedon commented on #2432
PDF failed to compile for issue #2432 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon/bibtex_parser.rb:77:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon/bibtex_parser.rb:64:in `make_citation'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2020-09-29 17:25] lpantano commented on #2432
ops, @lincoln-harris do you think is related to your paper? did you change something from the last time it compiled here?

[2020-09-29 17:33] danielskatz commented on #2664
@iaklampanos - if you make changes in the paper source, you then need to regenerate the pdf, as I will do in the next comment

[2020-09-29 17:33] danielskatz commented on #2664
@whedon generate pdf

[2020-09-29 17:34] whedon commented on #2664
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02664/joss.02664/10.21105.joss.02664.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02664/joss.02664/10.21105.joss.02664.pdf) :page_facing_up: :point_left:

[2020-09-29 17:35] untzag commented on #2688
Regarding publication, I think I'm less pessimistic than @aquilesC. My understanding is that JOSS does not review based on novelty. I think that hardware-control could be reasonable JOSS publication if the authors meet the following criteria:
- [ ] a much better job covering prior art and comparing hardware-control to those packages within the paper
- [ ] a description in the paper / documentation

[2020-09-29 17:39] untzag commented on #2688
@aquilesC can you say more here? I'm not sure I understand your point. I understand that daqmx isn't message based, but I do think I could write a class that parameterizes the functionality of an NI card into hardware-control messages.

[2020-09-29 17:42] typically commented on #2668
Hi @adamltyson, I'm thinking of human templates, but more generally stereotaxic spaces. How would one map an image to Cartesian coordinates such as MNI-152, Talairach space, or rat stereotaxic coordinates, relative to bregma? You would need an origin and a basis vector, I assume. Just a suggestion though!

[2020-09-29 18:18] nhejazi commented on #2447
Thanks @marcosvital, I gave the paper another read through and made some minor corrections to improve its readability. I think I'm all set with it, but happy to correct any issues you might find. I'll rebuild the latest proof below.

[2020-09-29 18:19] nhejazi commented on #2447
@whedon generate pdf

[2020-09-29 18:19] whedon commented on #2447
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02447/joss.02447/10.21105.joss.02447.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02447/joss.02447/10.21105.joss.02447.pdf) :page_facing_up: :point_left:

[2020-09-29 18:23] nhejazi commented on #2447
@whedon generate pdf

[2020-09-29 18:24] whedon commented on #2447
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02447/joss.02447/10.21105.joss.02447.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02447/joss.02447/10.21105.joss.02447.pdf) :page_facing_up: :point_left:

[2020-09-29 19:02] artgoldberg commented on #2685
Hi @danielskatz. @gonsie finds that one of DE Sim's unit tests fails because of a problem in the [`capturer`](https://github.com/xolox/python-capturer) testing library. The test passes on multiple platforms (local, Docker on local, Docker in CircleCI) for me and I have not reproduced the `capturer` failure thus far. See [`KarrLab/de_sim#55`](https://github.com/KarrLab/de_sim/issues/55) for the det

[2020-09-29 19:18] diehlpk commented on #2599
@andremrsantos can you please confirm that you finished the review as well?

[2020-09-29 19:20] diehlpk commented on #2599
@tbrown122387 I will do the final pass of the paper this week. Please let me know once you updated the references and I will proceed.

[2020-09-29 19:24] danielskatz commented on #2685
It seems to me that either there is a problem that should be discussed in the documentation, with a workaround, or something else.

[2020-09-29 19:56] andremrsantos commented on #2599
@diehlpk I am happy with the modifications and I've finished my review.

[2020-09-29 20:55] arunpersaud commented on #2688
@untzag thanks for the review. Both reviews are very helpful and we will change our project to incorporate them. Perhaps merging the backends into an existing project would be the way to go (which would make our codebase a lot smaller). Also adding tests seems more doable now after I have seen how other projects are handling this. This will take us a while though (including reviewing all the other

[2020-09-29 21:43] rabernat commented on #2631
Hi all. I'm very grateful for the work of the editors and reviewers so far on this paper. Thanks so much for your time!

The authors have conferred and have decided that we would like to suspend (if possible) or withdraw this paper. We have concluded that publishing a paper about xgcm with an all-male author list is not a good idea. I wish we had realized this before submitting, but the recent Num

[2020-09-29 21:50] lorenanicole commented on #2530
@onurvarol let's pull in some more folks. Thank you!

[2020-09-29 21:54] lorenanicole commented on #2530
@emilydolson & @ajoer your names were provided as a possible reviewer for this submission for JOSS. Would you be interested in reviewing?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-09-29 21:55] lorenanicole commented on #2530
@onurvarol if we find we are still casting too wide a net, it can be better for us to better microtarget individuals. We can timebox this for a shorter time window. I'll flag to circle back by end of week.

[2020-09-29 21:56] lorenanicole commented on #2220
@alexdma We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines 👉 https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. If you can please confirm, after reviewing these guidelines, that you are prepared to be a reviewer I can move us to the next step. We will open a separate issue for review.

[2020-09-29 22:20] tbrown122387 commented on #2599
@ziotom78 thanks very much for your very helpful and valuable comments! @diehlpk so far I have addressed all of the problems except for two: updating the references and writing a speed comparison example. I should be done relatively soon. Apologies for the delay--this is a busy week for me.

[2020-09-29 23:28] lincoln-harris commented on #2432
I dont think so? [paper.md](https://github.com/czbiohub/cerebra/blob/master/paper/paper.md) hasnt been changed since Aug 26, and it seemed to compile fine [Sept 15th](https://github.com/openjournals/joss-reviews/issues/2432#issuecomment-693142249)

[2020-09-30 02:59] wch commented on #2598
I've finished my review. Other than the code error in the example and a few small comments I made in https://github.com/xoopR/set6/issues/55, it looks good. (If there's more needed from me for a review, please let me know -- the JOSS review process is unfamiliar to me.)

[2020-09-30 03:35] aquilesC commented on #2688
@untzag , perhaps I should have made it clearer. I do agree with you, and I followed the checklist. I checked the 'scholarly effort' that mentions the JOSS guidelines. However, there are other things that I could not tick, and I included this sentence in my original review:

Then, the rest of the suggestions are to be taken as that, an opportunity to improve the code and not the mininum effort tha

[2020-09-30 03:44] aquilesC commented on #2688
Sorry, the economy of words made the sentence miss the point. In the package they can use an NI card because there is a python wrapper for the underlying C library. The rest of the backends work with message-based devices (at least, the ones I remember checking). If I wanted to include another type of device, such as a camera, or a digitizer that streams data, there is no clear path within the doc

[2020-09-30 06:04] hugoledoux commented on #2184
👋 @alvations and @desilinguist, do you think you could give it another try soon? I'd like to not let that review stall too much.

[2020-09-30 07:31] eloisabentivegna commented on #2555
@whedon re-invite @gouarin as reviewer.

Certainly! Let me know if things work now.

[2020-09-30 07:31] whedon commented on #2555
OK, the reviewer has been re-invited.

@gouarin please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-30 07:44] gouarin commented on #2555
Now it works.
Thanks!
I will make my review next week.

[2020-09-30 07:55] oliviaguest commented on #2670
@whedon remind @pauldmccarthy in 2 weeks

[2020-09-30 07:55] whedon commented on #2670
Reminder set for @pauldmccarthy in 2 weeks

[2020-09-30 08:00] sgrieve commented on #2479
I'm afraid I don't have any capacity to take on a review for the next few weeks at least.

[2020-09-30 08:05] oliviaguest commented on #2668
@adamltyson I will leave you to think about any changes you might want to make before getting this officially accepted and published. So just drop a message here if you plan to do that, etc. 💯

[2020-09-30 08:16] nthomasCUBE commented on #2600
Hi, me too

[2020-09-30 08:36] adamltyson commented on #2668
Thanks for clarifying @typically. We don't have any method for converting between coordinate systems, but this would certainly be useful. Currently we only have one coordinate system for each species (e.g. each of the mouse atlases uses the same coordinates). If there's interest (and data available) for atlases with additional coordinate spaces, we could also provide methods to transform coordinat

[2020-09-30 08:38] Kevin-Mattheus-Moerman commented on #2548
@asmusskar can you report any updates on progress? Thanks

[2020-09-30 08:40] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch please finalize the review at your earliest convenience. If you are no longer able to complete this review please let us know so we can find an alternative reviewer. Thanks for your help.

[2020-09-30 08:53] typically commented on #2668
Hi @adamltyson, sounds good to me! Thanks for making this tool available. :)

[2020-09-30 08:55] typically commented on #2668
(sorry, closed inadvertently)

[2020-09-30 09:00] htjb commented on #2596
@whedon generate pdf

[2020-09-30 09:01] whedon commented on #2596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02596/joss.02596/10.21105.joss.02596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02596/joss.02596/10.21105.joss.02596.pdf) :page_facing_up: :point_left:

[2020-09-30 09:12] tylunel commented on #2637
Thanks for you very constructive comments @samuelduchesne @robinroche ! I will address the points you raise and come back to you with the corresponding improvements.

But before I have two questions. The first is about the warnings in the tests:

I am not sure what is the best practice here, and unfortunately internet did not provide a clear answer on it either haha. I added several warnings in my

[2020-09-30 09:16] Kevin-Mattheus-Moerman commented on #2707
@pbeagon thanks for your submission. Unfortunately the editorial board has determined this work is not in scope for JOSS. In particular it is deemed too minor in terms of its functionality (see [our guidelines)](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This conclusion does not mean the software is not useful or of a low quality, it merely means that in t

[2020-09-30 09:16] Kevin-Mattheus-Moerman commented on #2707
@whedon reject

[2020-09-30 09:16] whedon commented on #2707
Paper rejected.

[2020-09-30 09:16] #2707 closed

[2020-09-30 09:52] htjb commented on #2596
@smutch Thank you for your comments again. I have edited the notebooks so that they include the missing plots.

@dfm I have updated the paper with the appropriate supported python version >=3.6 and proof read through the manuscript. I made one minor change to the wording of one sentence.

The version numbering should be at 1.2.0 on the repository, documentation ect now.

I have also uploaded to Ze

[2020-09-30 10:09] sneakers-the-rat commented on #2670
yes give me the same - setting reminder for 10/7

[2020-09-30 10:38] dfm commented on #2596
@htjb: Thanks! Can you please update the Zenodo metadata to have your full name as author instead of just your GitHub username?

[2020-09-30 10:39] dfm commented on #2596
@whedon set 1.2.0 as version

[2020-09-30 10:39] whedon commented on #2596
OK. 1.2.0 is the version.

[2020-09-30 10:39] dfm commented on #2596
@whedon set 10.5281/zenodo.4059338 as archive

[2020-09-30 10:39] whedon commented on #2596
OK. <a href="https://doi.org/10.5281/zenodo.4059338" target="_blank">10.5281/zenodo.4059338</a> is the archive.

[2020-09-30 10:43] htjb commented on #2596
@dfm Thanks for highlighting this I have changed the author on Zenodo to my full name.

[2020-09-30 10:46] dfm commented on #2596
Great! I'll pass this off to the editors in chief for final processing.

@htjb: Congrats and thanks for your submission!

@smutch, @benjaminpope: Thanks again for your reviews!

[2020-09-30 10:46] dfm commented on #2596
@whedon accept

[2020-09-30 10:46] whedon commented on #2596
[code]

[2020-09-30 10:47] whedon commented on #2596
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1766

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1766, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-30 10:47] whedon commented on #2596
[code]

[2020-09-30 10:49] htjb commented on #2596
@dfm, @smutch, @benjaminpope  Thank you all for all your help and useful comments!

[2020-09-30 10:52] benjaminpope commented on #2596
No worries - congratulations on the acceptance.

On Wed, 30 Sep 2020 at 8:50 pm, htjb <notifications@github.com> wrote:

Dr Benjamin Pope
NASA Sagan Fellow
Center for Cosmology and Particle Physics // Center for Data Science
New York University
benjaminpope.github.io

[2020-09-30 12:14] henrik227 commented on #2392
Looks good!

[2020-09-30 12:28] jennywagner commented on #2538
@rmjarvis Are you happy with the changes we made or is there anything left to do until the work can be published?

[2020-09-30 13:09] joshspeagle commented on #2641
Same situation here — I’ve been absolutely swamped but will get to it this weekend. Apologies for the delay.

[2020-09-30 14:09] kthyng commented on #2631
@rabernat I understand your concern. I think the best course of action is to heartily thank the reviewers for their time. xgcm should be reviewed at the time you want to publish because all of the software at the time of publishing should be reviewed, not just what is in the repo today. The future authors you hope to recruit will make changes that should be included in the review.

So, my suggesti

[2020-09-30 14:17] jsta commented on #2479
I too am unable to take on a review at this time.

[2020-09-30 14:17] eloisabentivegna commented on #2555
Thanks, @gouarin.

[2020-09-30 14:26] diehlpk commented on #2599
@tbrown122387 Take your time. Just let me know once I can do the editorial processing.

[2020-09-30 14:30] ianhinder commented on #2555
@eloisabentivegna, sorry there's not been much progress apart from the initial look over the project.  I'll devote some time to it, and as with @gouarin, will aim to complete the review next week.

[2020-09-30 15:08] matteomancini commented on #2675
Apologies for the delayed reply, I should be able to provide a review by Friday the 16th of October.

[2020-09-30 15:17] kbarnhart commented on #2637
@robinroche and @samuelduchesne Thanks for your thoughtful reviews! At this point in the JOSS process we will now let @tylunel address these issues. If more extensive discussion needs to take place I would recommend that @tylunel make an issue in the submitted repository, paste and link to the above review comments, and focus the discussion there. This makes it easier to keep track of multiple thr

[2020-09-30 15:19] kbarnhart commented on #2276
@KevinShook another quick check in from me. No rush if you and your co-authors are still addressing issues raised by the reviewers.

[2020-09-30 15:27] kbarnhart commented on #2407
@Xunius I wanted to check in and see if you had any thoughts regarding @sadielbartholomew's comment about paper structure.

At present there are two remaining issues in the source repository associated with this review. I've just commented there to move us forward. Once those are resolved I suspect it would be appropriate for @sadielbartholomew and @rabernat to re-assess the review checklist and i

[2020-09-30 16:07] artgoldberg commented on #2685
Thanks @danielskatz

OK. I have replaced the failing code in DE Sim's tests with a method from Python's standard library that will hopefully avoid the problem. See [`KarrLab/de_sim#55`](https://github.com/KarrLab/de_sim/issues/55) for further details.

Arthur

[2020-09-30 16:12] dpsanders commented on #2598
Thanks @wch!

[2020-09-30 16:58] rly commented on #2674
@oliviaguest I'll have this done by October 8.

[2020-09-30 16:59] rly commented on #2675
@oliviaguest I'll have this done by October 8.

[2020-09-30 18:02] kaustubh-sadekar commented on #2533
@nnadeau thank you very much for the reviews, they helped me a lot to learn about testing and deployment. I have completed all the modifications based on your reviews and suggestions. So yes :+1:  ... ready for the next round of reviews and looking forward to learning from them.

[2020-09-30 18:06] ml-evs commented on #2563
Thanks for the constructive review @mkhorton.

I should be able to find the time to address @srmnitc's remaining comments this week, in this PR https://github.com/ml-evs/matador/pull/125.

[2020-09-30 19:03] saschatimme commented on #2392
@MrMinimal64  @dpsanders  This now also looks good for me!

[2020-09-30 20:13] sarats commented on #2444
@berenger-eu Himanshu has done a comprehensive review and got to some of the documentation issues I ran into.

Just a couple of general questions/comments about computational approach:
* What are your plans for execution on GPUs? Note that GPU implementation is not necessary and outside the scope of the JOSS paper.
* I see that your testbed has Intel Cascade Lake (https://ark.intel.com/content/www

[2020-09-30 20:22] sarats commented on #2444
A minor comment:

I have noticed related work at Supercomputing conference series over the years and your related work/references  didn't appear to capture those.
I'm not affiliated with the authors, just pointing out one from my preliminary search...
https://ieeexplore.ieee.org/abstract/document/6375552

So, adding some discussion on how your approach differs from those would be great.

[2020-09-30 21:05] kakiac commented on #2408
@whedon generate pdf

[2020-09-30 21:06] whedon commented on #2408
PDF failed to compile for issue #2408 with the following error:

 Error reading bibliography ./paper.bib (line 239, column 1):
unexpected "@"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-09-30 21:08] MrMinimal64 commented on #2392
Thanks for the fair review!

@dpsanders are there any open points?

[2020-09-30 21:12] dpsanders commented on #2392
@whedon commands

[2020-09-30 21:12] whedon commented on #2392
Here are some things you can ask me to do:

[code]

[2020-09-30 21:14] dpsanders commented on #2392
@whedon generate pdf

[2020-09-30 21:15] whedon commented on #2392
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: :point_left:

[2020-09-30 21:24] TomGoffrey commented on #2554
OK, so my last remaining point is a question over the references in the table. I think these ought to be in the references for the paper, but they're missing.

I'm guessing this is related to the fact you've had to include an image of the table rather than include it directly as markdown. Could I clarify what the issue with the markdown for the table was? Did it just not fit on the page?

[2020-09-30 21:31] kakiac commented on #2405
@whedon remind @Yomguithereal in two weeks

[2020-09-30 21:31] whedon commented on #2405
Reminder set for @Yomguithereal in two weeks

[2020-09-30 21:31] dpsanders commented on #2392
It looks good to me!

Could you please create a software archive, e.g. at zenodo.org, and paste the version number and the DOI here? Thanks!

[2020-09-30 21:31] dpsanders commented on #2392
@whedon check references

[2020-09-30 21:33] whedon commented on #2392
[code]

[2020-09-30 21:39] eloisabentivegna commented on #2555
Thanks @ianhinder. I look forward to your reviews.

[2020-09-30 21:55] MrMinimal64 commented on #2392
@whedon check references

[2020-09-30 21:55] whedon commented on #2392
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "doi" (NAME) [#<BibTeX::Bibliography data=[17]>, "@", #<BibTeX::Entry >, {:title=>["Efficient evaluation of large polynomials"], :author=>["Leiserson, Charles E and Li, Liyun and Maza, Marc Moreno and Xie, Yuzhen"], :booktitle=>["International Congress on Mathematical Software"], :pages=>["342--353"], :y

[2020-09-30 21:57] MrMinimal64 commented on #2392
@whedon check references

[2020-09-30 21:57] dpsanders commented on #2392
I guess you're fixing the missing DOIs, thanks!

[2020-09-30 21:58] whedon commented on #2392
[code]

[2020-09-30 21:59] MrMinimal64 commented on #2392
The last remaining DOI is actually incorrect. Many books have this name.

[2020-09-30 22:04] robfalck commented on #2648
@dpsanders

We've made some edits that hopefully will address your concerns here.

I would like to know the intent of demonstrating it's use within the paper itself.  Developing dymos models and optimizing them is not easily demonstrated in a compact format.

I've included an example but I wonder if we should instead link to examples in the repo.  Including this example significantly increases the

[2020-09-30 22:05] kakiac commented on #2408
:wave @Kuifje02 @skadio @bstabler @arfon many thanks for all your contributions and great work on the paper! Just going through the final checks for the paper to finalise and publish 🎆

* in reply to https://github.com/openjournals/joss-reviews/issues/2408#issuecomment-671821850 - yes, fine to have an additional author included, I can see his contribution evidenced as well on the repository. @Halv

[2020-09-30 22:15] kakiac commented on #2408
@whedon check references

[2020-09-30 22:15] whedon commented on #2408
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "@" (AT) [#<BibTeX::Bibliography data=[20]>, "@", #<BibTeX::Entry >, {:title=>["Automation and combination of linear-programming based stabilization techniques in column generation"], :author=>["Pessoa, Artur and Sadykov, Ruslan and Uchoa, Eduardo and Vanderbeck, Fran{\\c{c}}ois"], :journal=>["INFORMS Jo

[2020-09-30 22:18] dpsanders commented on #2392
It seems to be https://doi.org/10.1017/CBO9780511612916 ?

[2020-09-30 22:22] MrMinimal64 commented on #2392
Indeed. Thanks. I will add it.

[2020-09-30 22:28] MrMinimal64 commented on #2392
The current version number is v2.1.1
and the DOI 10.5281/zenodo.4060365

[2020-09-30 22:32] KevinShook commented on #2276
Thanks for checking in.
We are still finishing a few issues.
We are replacing the makefile with cmake as was suggested by r-barnes (thanks!).
We are also working on having the program work with a single executable. Previously, the GUI called a separate executable, from the command line version, which is obviously not desireable.
One these are done, the manual will need to be updated.
I'm going awa

[2020-09-30 22:37] dpsanders commented on #2392
@whedon set version as 2.1.1

[2020-09-30 22:37] whedon commented on #2392
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-30 22:37] dpsanders commented on #2392
@whedon set archive as 10.5281/zenodo.4060365

[2020-09-30 22:37] whedon commented on #2392
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-30 22:38] dpsanders commented on #2392
@whedon set 2.1.1 as version

[2020-09-30 22:38] whedon commented on #2392
OK. 2.1.1 is the version.

[2020-09-30 22:38] dpsanders commented on #2392
@whedon set 10.5281/zenodo.4060365 as archive

[2020-09-30 22:38] whedon commented on #2392
OK. <a href="https://doi.org/10.5281/zenodo.4060365" target="_blank">10.5281/zenodo.4060365</a> is the archive.

[2020-09-30 22:38] dpsanders commented on #2392
@whedon accept

[2020-09-30 22:38] whedon commented on #2392
[code]

[2020-09-30 22:39] whedon commented on #2392
[code]

[2020-09-30 22:39] whedon commented on #2392
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1767

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1767, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-30 22:50] smutch commented on #2596
Congrats! 👍

[2020-09-30 22:53] skadio commented on #2408
@kakiac  @Kuifje02 Yes, I confirm the changes which improve the library/paper. I assume that the author can easily fix the remaining missing bib, etc. With that, my recommendation is to accept.

[2020-09-30 22:59] kakiac commented on #2408
Pre-publication steps (for @kakiac):

- [ ] Get a new proof with the @whedon generate pdf command.
- [ ] Download the proof, check all references have DOIs, follow the links and check the references. Whedon can help check references with the command @whedon check references
- [ ] Proof-read the paper and ask authors to fix any remaining typos, badly formed citations, awkward wording, etc..
- [ ] A

[2020-09-30 23:00] kakiac commented on #2408
@skadio Thanks :)

[2020-09-30 23:11] vigji commented on #2668
@typically now both the [tutorial notebook](https://github.com/brainglobe/bg-atlasapi/blob/master/tutorials/Atlas%20API%20usage.ipynb) and the `Usage` section of the docs [here](https://docs.brainglobe.info) discuss more diffusely the hierarchy. As for the mapping from one atlas to the other, pure translations of the origin and changes in resolution and axes order can be done using [https://github

[2020-09-30 23:14] kakiac commented on #2461
Dear Chung-hong Chan (@chainsawriot), many thanks for your patience and for your work on the submission so far (I have sent you a separate email explaining further).

I am following up with @mbod this week to ask how he is progressing with the review and whether he is still available to review. I will also assign an additional reviewer to speed things up. I should be in touch through this issue ag

[2020-09-30 23:16] kakiac commented on #2461
@whedon generate pdf

[2020-09-30 23:17] whedon commented on #2461
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: :point_left:

[2020-09-30 23:23] kakiac commented on #2461
@whedon check references

[2020-09-30 23:25] whedon commented on #2461
[code]

[2020-09-30 23:59] kakiac commented on #2471
Thanks everyone for your help and work with the submission so far - my apologies for the delay in moving this submission forward!

@ysohn thanks for the changes to the submission, you have greatly improved the paper 👍

@akbaritabar @marcjwilliams1 @ejolly @martinmodrak thanks all for your expressions of interest. I am aware it has been a bit of time since I asked you of your availability to review

[2020-10-01 00:00] kakiac commented on #2471
@whedon generate pdf

[2020-10-01 00:01] kakiac commented on #2471
@whedon assign @akbaritabar as reviewer

[2020-10-01 00:01] whedon commented on #2471
OK, @akbaritabar is now a reviewer

[2020-10-01 00:01] whedon commented on #2471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02471/joss.02471/10.21105.joss.02471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02471/joss.02471/10.21105.joss.02471.pdf) :page_facing_up: :point_left:

[2020-10-01 00:01] kakiac commented on #2471
@whedon add @marcjwilliams1 as reviewer

[2020-10-01 00:01] whedon commented on #2471
OK, @marcjwilliams1 is now a reviewer

[2020-10-01 00:02] kakiac commented on #2471
@whedon add @martinmodrak as reviewer

[2020-10-01 00:02] whedon commented on #2471
OK, @martinmodrak is now a reviewer

[2020-10-01 00:04] kakiac commented on #2471
@whedon start review

[2020-10-01 00:04] whedon opened #2708 "[REVIEW]: NetworkChange: Analyzing Network Changes in R"
**Submitting author:** @ysohn (<a href="http://orcid.org/0000-0002-9496-1907">Yunkyu Sohn</a>)
**Repository:** https://github.com/jongheepark/NetworkChange
**Branch with paper.md** (empty if default branch):
**Version:** v0.6
**Editor:** @arfon
**Reviewers:** @akbaritabar, @marcjwilliams1, @martinmodrak
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-10-01 00:04] whedon commented on #2471
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2708.

[2020-10-01 00:04] #2471 closed

[2020-10-01 00:04] whedon commented on #2708
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @akbaritabar, @marcjwilliams1, @martinmodrak it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in

[2020-10-01 00:05] whedon commented on #2708
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02708/joss.02708/10.21105.joss.02708.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02708/joss.02708/10.21105.joss.02708.pdf) :page_facing_up: :point_left:

[2020-10-01 00:05] whedon commented on #2708
[code]

[2020-10-01 00:11] kakiac commented on #2708
Editorial Comments carried over from [Pre-review] https://github.com/openjournals/joss-reviews/issues/2471 (@kakiac to check):

-[ ] Your software repository does not appear to include an open source license
-[ ] Your paper is missing an explicit Statement of Need section, which is now required for articles as described in our documentation
-[ ] Please remove these lines from your paper's YAML hea

[2020-10-01 00:13] kakiac commented on #2471
@ejolly re this https://github.com/openjournals/joss-reviews/issues/2471#issuecomment-658327413 I have requested a change in the spreadsheet, so hopefully you will not be getting more requests on R!

[2020-10-01 01:27] rafaelfsilva commented on #2664
@iaklampanos Thank you for the updated installation instructions. I managed to install the platform on Ubuntu and test the main functionalities. The only thing that is missing is a reference to where I can find the `jupyterhub-config.yaml` file. Although this is not critical for testing the functionalities of the system, it would be good to completely test the [Toy Example](https://project-dare.gi

[2020-10-01 03:18] ejolly commented on #2471
Thanks @kakiac !

[2020-10-01 06:03] arokem commented on #2663
@justusschock : thanks for these comments.

@Nico-Curti  : you can start addressing these issues in the meanwhile.

@DanielLenz : have you had a chance to take a look?

[2020-10-01 06:54] timtroendle commented on #2688
Thanks for these amazing reviews, @aquilesC and @untzag . Regarding the two questions raised: First, yes, not all points mentioned are necessary for a publication in JOSS. If there were any specific points for which you are unsure whether they are necessary, @arunpersaud , I'd suggest to bring them up here so we can discuss.

However, you already indicated that you are interested in implementing t

[2020-10-01 07:19] whedon opened #2709 "[PRE REVIEW]: polypy - Analysis Tools for Solid State Molecular Dynamics and Monte Carlo Trajectories"
**Submitting author:** @symmy596 (<a href="http://orcid.org/0000-0001-6059-497X">Adam Symington</a>)
**Repository:** <a href="https://github.com/symmy596/Polypy" target ="_blank">https://github.com/symmy596/Polypy</a>
**Version:** 0.8
**Editor:** @richardjgowers
**Reviewers:** @hmacdope, @lscalfi
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-10-01 07:19] whedon commented on #2709
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-01 07:19] whedon commented on #2709
PDF failed to compile for issue #2709 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2709 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-10-01 07:19] whedon commented on #2709
[code]

[2020-10-01 07:20] whedon opened #2710 "[PRE REVIEW]: ParaMonte: A high-performance serial/parallel Monte Carlo simulation library for C, C++, Fortran"
**Submitting author:** @shahmoradi (<a href="http://orcid.org/0000-0002-9720-8937">Amir Shahmoradi</a>)
**Repository:** <a href="https://github.com/cdslaborg/paramonte" target ="_blank">https://github.com/cdslaborg/paramonte</a>
**Version:** v1.2.0
**Editor:** @VivianePons
**Reviewers:** @milancurcic, @williamfgc
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

[2020-10-01 07:20] whedon commented on #2710
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-01 07:20] whedon commented on #2710
PDF failed to compile for issue #2710 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2710 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-10-01 07:22] whedon commented on #2710
[code]

[2020-10-01 07:29] iaklampanos commented on #2664
Thank you @rafaelfsilva. Perhaps @sissythem can help with this.

[2020-10-01 07:46] whedon opened #2711 "[PRE REVIEW]: PyGDH ("pigged"): Python Grid Discretization Helper"
**Submitting author:** @kfhiga (<a href="http://orcid.org/0000-0003-4866-0748">Kenneth Higa</a>)
**Repository:** <a href="https://bitbucket.org/berkeleylab/esdr-pygdh/" target ="_blank">https://bitbucket.org/berkeleylab/esdr-pygdh/</a>
**Version:** 0.4.1
**Editor:** @melissawm
**Reviewers:** @JamieJQuinn, @zhaowei0566
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warni

[2020-10-01 07:46] whedon commented on #2711
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-01 07:46] whedon opened #2712 "[PRE REVIEW]: REGENS: an open source Python package for simulating realistic autosomal genotypes"
**Submitting author:** @greggj2016 (<a href="http://orcid.org/0000-0002-2619-3440">John Gregg</a>)
**Repository:** <a href="https://github.com/EpistasisLab/regens" target ="_blank">https://github.com/EpistasisLab/regens</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2020-10-01 07:46] whedon commented on #2711
PDF failed to compile for issue #2711 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2711 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-10-01 07:46] whedon commented on #2712
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-01 07:46] whedon opened #2713 "[PRE REVIEW]: IndividualDisplacements.jl: a Julia package to simulate and study particle displacements within the climate system"
**Submitting author:** @gaelforget (<a href="http://orcid.org/0000-0002-4234-056X">Gael Forget</a>)
**Repository:** <a href="https://github.com/JuliaClimate/IndividualDisplacements.jl" target ="_blank">https://github.com/JuliaClimate/IndividualDisplacements.jl</a>
**Version:** v0.2.0
**Editor:** @kthyng
**Reviewers:** @milankl, @visr
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced ser

[2020-10-01 07:46] whedon commented on #2713
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-01 07:46] whedon commented on #2712
Failed to discover a `Statement of need` section in paper

[2020-10-01 07:47] whedon commented on #2712
PDF failed to compile for issue #2712 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2712/paper/paper.md): mapping values are not allowed in this context at line 56 column 6 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2020-10-01 07:47] whedon commented on #2711
[code]

[2020-10-01 07:47] whedon commented on #2713
[code]

[2020-10-01 07:47] whedon commented on #2712
[code]

[2020-10-01 07:47] whedon commented on #2713
PDF failed to compile for issue #2713 with the following error:

 Can't find any papers to compile :-(

[2020-10-01 07:55] Kevin-Mattheus-Moerman commented on #2660
:wave:  @pdebuyl @jgostick @usethedata @pibion @dpsanders could one of you handle this submission?

[2020-10-01 07:57] Kevin-Mattheus-Moerman commented on #2709
@whedon generate pdf

[2020-10-01 07:57] Kevin-Mattheus-Moerman commented on #2709
@whedon check repository

[2020-10-01 07:57] whedon commented on #2709
PDF failed to compile for issue #2709 with the following error:

 Can't find any papers to compile :-(

[2020-10-01 07:57] whedon commented on #2709
Failed to discover a `Statement of need` section in paper

[2020-10-01 07:57] whedon commented on #2709
[code]

[2020-10-01 08:00] Kevin-Mattheus-Moerman commented on #2709
@openjournals/dev can you see why this paper is not compiling?

[2020-10-01 08:02] adamltyson commented on #2668
Hi @oliviaguest, as long as @vitay and @typically are happy, I think we're good to go now!

[2020-10-01 08:13] Kevin-Mattheus-Moerman commented on #2710
@shahmoradi I think our system cannot see your paper (which appears to be at `https://github.com/cdslaborg/paramonte/tree/master/pubs/ParaMonte/kernel/JOSS2020`), can you move the files to your main folder or put them in a `paper` folder?

@openjournals/dev can you confirm this is the issue here? Thanks

[2020-10-01 08:14] Kevin-Mattheus-Moerman commented on #2710
@whedon check repository

[2020-10-01 08:14] whedon commented on #2710
[code]

[2020-10-01 08:19] Kevin-Mattheus-Moerman commented on #2710
@drvinceknight @diehlpk @melissawm @VivianePons @meg-simula @mjsottile could one of you handle this submission? Thanks!

[2020-10-01 08:23] xuanxu commented on #2710
That should not be a problem, whedon can find the paper in any subfolder

[2020-10-01 08:23] xuanxu commented on #2710
@whedon generate pdf

[2020-10-01 08:24] whedon commented on #2710
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02710/joss.02710/10.21105.joss.02710.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02710/joss.02710/10.21105.joss.02710.pdf) :page_facing_up: :point_left:

[2020-10-01 08:26] xuanxu commented on #2709
whedon is having problems lately when compiling the pdf at the same time it is doing other checks. Retriyng when other task are finished should work.

[2020-10-01 08:27] xuanxu commented on #2709
@whedon generate pdf

[2020-10-01 08:27] whedon commented on #2709
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02709/joss.02709/10.21105.joss.02709.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02709/joss.02709/10.21105.joss.02709.pdf) :page_facing_up: :point_left:

[2020-10-01 08:33] nhejazi commented on #2447
Ok, current draft LGTM

[2020-10-01 08:35] Kevin-Mattheus-Moerman commented on #2711
@whedon generate pdf

[2020-10-01 08:35] symmy596 commented on #2709
I have noticed that the figure has not rendered. I have updated the markdown.

[2020-10-01 08:35] symmy596 commented on #2709
@whedon generate pdf

[2020-10-01 08:36] whedon commented on #2711
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02711/joss.02711/10.21105.joss.02711.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02711/joss.02711/10.21105.joss.02711.pdf) :page_facing_up: :point_left:

[2020-10-01 08:37] whedon commented on #2709
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02709/joss.02709/10.21105.joss.02709.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02709/joss.02709/10.21105.joss.02709.pdf) :page_facing_up: :point_left:

[2020-10-01 08:38] Kevin-Mattheus-Moerman commented on #2711
@whedon check repository

[2020-10-01 08:38] whedon commented on #2711
[code]

[2020-10-01 08:41] Kevin-Mattheus-Moerman commented on #2712
@whedon generate pdf

[2020-10-01 08:42] whedon commented on #2712
PDF failed to compile for issue #2712 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2712/paper/paper.md): mapping values are not allowed in this context at line 56 column 6 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2020-10-01 08:44] VivianePons commented on #2710
I can take it

[2020-10-01 08:44] VivianePons commented on #2710
@whedon assign @VivianePons as editor

[2020-10-01 08:44] whedon commented on #2710
OK, the editor is @VivianePons

[2020-10-01 08:45] Kevin-Mattheus-Moerman commented on #2713
@whedon generate pdf

[2020-10-01 08:46] whedon commented on #2713
PDF failed to compile for issue #2713 with the following error:

 Can't find any papers to compile :-(

[2020-10-01 08:48] Kevin-Mattheus-Moerman commented on #2713
@whedon generate pdf from branch josspaper

[2020-10-01 08:48] whedon commented on #2713
[code]

[2020-10-01 08:48] Kuifje02 commented on #2408
This is ok with @Halvaros 👍

[2020-10-01 08:49] whedon commented on #2713
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02713/joss.02713/10.21105.joss.02713.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02713/joss.02713/10.21105.joss.02713.pdf) :page_facing_up: :point_left:

[2020-10-01 08:52] symmy596 commented on #2709
Potential Reviewers

- diegoenry
- matthiaslein

[2020-10-01 08:55] symmy596 commented on #2709
Potential Reviewers

- dandavies99
- matthiaslein
- fdroessler
- utf
- hannahbrucemacdonald
- arm61

[2020-10-01 08:56] Kevin-Mattheus-Moerman commented on #2712
@whedon generate pdf

[2020-10-01 08:57] whedon commented on #2712
PDF failed to compile for issue #2712 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2712/paper/paper.md): mapping values are not allowed in this context at line 56 column 6 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/ve

[2020-10-01 09:00] Kevin-Mattheus-Moerman commented on #2712
@greggj2016 thanks for this submission. Your paper is not formatted properly. Please check out instructions (https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography), add the required YAML fields at the top, and use markdown headings without the ============== underlines. When you've updated your paper please call `@whedon generate pdf` here

[2020-10-01 09:15] Kevin-Mattheus-Moerman commented on #2711
@VivianePons @meg-simula @mjsottile could one of you handle this submission? Thanks

[2020-10-01 09:19] Kevin-Mattheus-Moerman commented on #2711
@kfhiga can you check those missing DOI's :point_up: ? Although we will allow it I would recommend against having something like ("pigged") in the title of the paper (perhaps explain the pronunciation in the text or readme instead) because of the use of brackets and quotation symbols. I think there is some evidence to suggest that papers can be poorly/falsely cited when titles contain special symb

[2020-10-01 09:28] ajjackson commented on #2671
@jgostick I am not able to click the check boxes in the review - I think I missed the notification to get the required permissions. Can you activate this?

[2020-10-01 09:49] Kevin-Mattheus-Moerman commented on #2384
@wilsonrljr I've reviewed your paper and ask you to make these last minor changes:

- [ ] Please add a country to your affiliation

- [ ] The figure axis font for figure 1 is very small for the bottom figure. I recommend you increase the font and update the picture.

- [ ] Please edit the ZENODO archive meta data to match that of the paper, i.e. the title and author list has to match that of the p

[2020-10-01 10:00] Kevin-Mattheus-Moerman commented on #2392
@MrMinimal64 I'm processing your paper for acceptance in JOSS. I have read your paper and ask you to work on the remaining minor points below:

- [ ] Make edit the ZENODO archive meta-data and make sure that in terms of title and author list it matches that of the paper

- [ ] The version tag for the archived version should also match the reviewed software version tag. Should we update the version

[2020-10-01 10:04] Kevin-Mattheus-Moerman commented on #2432
@whedon accept

[2020-10-01 10:04] whedon commented on #2432
[code]

[2020-10-01 10:04] whedon commented on #2432
[code]

[2020-10-01 10:04] whedon commented on #2432
PDF failed to compile for issue #2432 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon/bibtex_parser.rb:77:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon/bibtex_parser.rb:64:in `make_citation'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2020-10-01 10:22] Kevin-Mattheus-Moerman commented on #2432
@lincoln-harris I am helping to process the acceptance of this work in JOSS. Can you work on the points below?

- [ ] You have one invalid DOI :point_up:, this is because you link to an arXiv preprint link rather than a valid DOI. Can you change the doi entry in the bib file to be of the `url` type instead? I believe this involves replacing:
[code]
with
[code]

- [ ] Please add a country to your a

[2020-10-01 10:23] Kevin-Mattheus-Moerman commented on #2432
@openjournals/dev I identified the invalid DOI but am unsure if this is the reason the paper does not compile for `@whedon accept`, can you confirm what the issue is here? Thanks

[2020-10-01 10:25] Kevin-Mattheus-Moerman commented on #2435
@dhhagan thanks for editing this one. I'll process this now for acceptance in JOSS. One point, for future reference, please always check that the ZENODO meta data (authors, title, version tag) match that of the paper.

[2020-10-01 10:33] Kevin-Mattheus-Moerman commented on #2435
@stheid I'll be processing this work for acceptance in JOSS. Please work on the remaining minor points below, thanks:

- [ ] The reviewed submission is at `v0.1.3` while the provided archived version is at `v0.2.0-2`. Please create a new archived version for `v0.1.3`. When you do this also make sure the ZENODO meta-data for the author names and the title match as well. **You may need to manually e

[2020-10-01 10:36] Kevin-Mattheus-Moerman commented on #2596
@dfm thanks for editing this work. Perhaps you missed it but the ZENODO archive title does not match the paper, I'll flag this with the author but for future reference try to check this before recommending acceptance.

[2020-10-01 10:40] kakiac commented on #2461
@whedon add @Kudusch as reviewer

[2020-10-01 10:40] whedon commented on #2461
OK, @Kudusch is now a reviewer

[2020-10-01 10:42] Kevin-Mattheus-Moerman commented on #2596
@htjb I'll process this work for acceptance in JOSS. Below are some last minor points to work on:

- [ ] Please edit the ZENODO archive metadata so that the title there matches that of the paper

- [ ] Please write out UK as United Kingdom in your affiliation.

- [ ] This work is about to be processed for acceptance in JOSS. We recommend that you proofread the paper once more yourself. In particul

[2020-10-01 10:49] kakiac commented on #2461
👋 @Kudusch many thanks for agreeing to review, this is the review thread for the paper. All of our communications will happen here from now on.

You should see that there is a checklist at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review

[2020-10-01 10:50] Kevin-Mattheus-Moerman commented on #2713
@gaelforget thanks for your submission. I've flagged this submission for additional review by our board to check if it is in scope for JOSS. In particular it looks like it is close to being too minor (to me at first sight) in terms of functionality / the amount of scholarly work it contains. This internal review will take about a week. In the mean time if you could clearly and concisely outline th

[2020-10-01 10:53] ajjackson commented on #2671
Some initial comments on the manuscript:

The paper makes a reasonable survey of related tools, putting FHI-vibes in context. It does seem unfair to omit any mention of the MIT-licensed TDEP code which does firmly sit at the interface between lattice dynamics and MD. I don't think TDEP undermines the scholarly effort or community need for this work; the statement of need already clearly argues tha

[2020-10-01 10:53] Kevin-Mattheus-Moerman commented on #2709
@symmy596 thanks for your submission. I've flagged this submission for additional review by our board, to check if it is in scope for JOSS. In particular it looks like it is close to being too minor (to me at first sight) in terms of functionality / the amount of scholarly work it contains. This internal review will take about a week. In the mean time if you could clearly and concisely outline the

[2020-10-01 10:54] kakiac commented on #2708
👋🏼 @ysohn @akbaritabar, @marcjwilliams1, @martinmodrak this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers should have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS rev

[2020-10-01 11:03] pbeagon commented on #2707
Hi Kevin

While I do have ideas on how to develop the R library, my new research project lacks R coding. Thanks for the reference to Zenodo.org. I use it to create a linkable DOI, and formatted references to my university and PhD funders.

[https://doi.org/10.5281/zenodo.4060238]
distFit: An R package to investigate goodness-of-fit with normal and Weibull distributions

Regards

Paul Beagon

[2020-10-01 11:23] dfm commented on #2596
@Kevin-Mattheus-Moerman Really? It looked (and looks) like it does to me!

[2020-10-01 11:58] symmy596 commented on #2709
polypy was the analysis software used in three pieces of published work during my PhD (10.1088/2515-7655/ab28b5, 10.1098/rsta.2019.0026 and 10.1039/D0TA05343K). It is also being used in ongoing research and in remote learning at the University of Bath.

The DL_MONTE code is a new Monte Carlo simulation code produced by STFC in the UK. To the best of my knowledge, there are no open source, research

[2020-10-01 11:59] stheid commented on #2435
That all sounds good :)

@Kevin-Mattheus-Moerman How to create a zenodo archive of a already released version. I have the impression this is impossible (that was the only reason we created 0.2.0-2 in the first place)

[2020-10-01 12:02] Kevin-Mattheus-Moerman commented on #2435
@whedon set 0.2.0-2 as version

[2020-10-01 12:02] whedon commented on #2435
OK. 0.2.0-2 is the version.

[2020-10-01 12:03] Kevin-Mattheus-Moerman commented on #2435
@stheid I've now changed the version tag listed for this review so that seems to have removed that discrepancy. Please still update the archive title/authors if these deviate from the paper.

[2020-10-01 12:04] hvgazula commented on #2166
@whedon generate pdf

[2020-10-01 12:04] whedon commented on #2166
PDF failed to compile for issue #2166 with the following error:

 Can't find any papers to compile :-(

[2020-10-01 12:05] hvgazula commented on #2166
@whedon generate pdf from branch paper-branch

[2020-10-01 12:05] whedon commented on #2166
[code]

[2020-10-01 12:06] whedon commented on #2166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02166/joss.02166/10.21105.joss.02166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02166/joss.02166/10.21105.joss.02166.pdf) :page_facing_up: :point_left:

[2020-10-01 12:06] hvgazula commented on #2166
@whedon check references from branch paper-branch

[2020-10-01 12:06] whedon commented on #2166
[code]

[2020-10-01 12:07] whedon commented on #2166
[code]

[2020-10-01 12:09] hvgazula commented on #2166
@cMadan The DOIs have been taken care of. Apologies for taking this long.

[2020-10-01 12:09] Kevin-Mattheus-Moerman commented on #2596
@dfm yes, it is a minor difference but the archive says: `htjb/maxsmooth: maxsmooth: Derivative Constrained Function Fitting`, while the paper says: `maxsmooth: Derivative Constrained Function Fitting`, so they need to remove `htjb/`

[2020-10-01 12:21] dfm commented on #2596
@Kevin-Mattheus-Moerman: you're right! I must have interpolated over the repo name every time I looked at it. Sorry!

[2020-10-01 12:45] htjb commented on #2596
@Kevin-Mattheus-Moerman Thanks for highlighting the last few points. I have corrected the title on the Zenodo archive, apologies for the error! I have also changed UK to United Kingdom and proof read back through the paper one last time. I have corrected one spelling mistake that I had missed and updated the repo. I am happy for it to go ahead now.

Thanks again,
Harry

[2020-10-01 13:13] s-goldman commented on #2554
@TomGoffrey Yes, I tried to use a markdown table but it didn't really fit and I wasn't quite satisfied. Here is an
[example](https://github.com/openjournals/joss-reviews/files/5312127/po9acici7e4jtteyrufo.pdf) of what that looked like.

I am very open to reformatting the table however you Dhanesh, and Arfon think works the best. Regardless, I have added the references that I missed, reformatted th

[2020-10-01 13:18] jkanche commented on #2410
@lpantano I think this addresses most of my concerns! Thanks for the updates @waxlamp!

[2020-10-01 13:26] flokno commented on #2671
Hi Adam, thanks for the initial comments!

Of course we are aware of TDEP (and actually big fans of it), and we actually support dumping MD trajectories to TDEP input files, although this is kind of a hidden feature. However, since TDEP is essentially unrelated to our officially supported features (run calculations and in particular MD, compute finite-differences harmonic forceconstants, postproce

[2020-10-01 13:27] arfon commented on #2671
@whedon re-invite @ajjackson as reviewer

[2020-10-01 13:27] whedon commented on #2671
OK, the reviewer has been re-invited.

@ajjackson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-01 13:32] jgostick commented on #2671
Thanks @arfon ... I should have been able to figure that out, sorry

[2020-10-01 13:34] dpsanders commented on #2392
@whedon remove @alex-konovalov as reviewer

[2020-10-01 13:34] whedon commented on #2392
OK, @alex-konovalov is no longer a reviewer

[2020-10-01 13:50] typically commented on #2668
@vigji - Looks great! Re. spaces, was just curious but no need to add if it's not yet supported! Quite happy for it to be published.

[2020-10-01 13:57] ajjackson commented on #2671
I think that would be ideal. @jgostick is that reasonably in line with JOSS expectations?

[2020-10-01 14:05] AngryMaciek commented on #2643
Dear Editors,
Should we now make a `zenodo` submission ourselves, or... (?)

[2020-10-01 14:05] dpsanders commented on #2660
👋 @Kevin-Mattheus-Moerman: I can take it on.

[2020-10-01 14:46] gaelforget commented on #2713
Hi @Kevin-Mattheus-Moerman

Thanks for taking this on and for your amazingly quick first assessment. I am especially grateful for such efficiency in light of the strain that COVID has been putting on all of us and the fact that joss is operating in reduced service mode in particular.

Will get back to you with specifics asap after I re-read the journal docs another time in light of your comment --

[2020-10-01 14:52] nedRad88 commented on #2676
Hello @galessiorob , @xiaohk ,
Thanks for the comments.
I have added @gradoslovar as a contributor.
Regarding other issues, we are working on them, I am posting updates on each issue, separately.
We will provide the updated procedure to test the software soon and we are simplifying the installation procedure.

[2020-10-01 14:53] Kevin-Mattheus-Moerman commented on #2660
@whedon assign @dpsanders as editor

[2020-10-01 14:54] whedon commented on #2660
OK, the editor is @dpsanders

[2020-10-01 14:57] Kevin-Mattheus-Moerman commented on #2713
@gaelforget yes fire away, feel free to ask questions.

[2020-10-01 14:58] whedon commented on #2596
[code]

[2020-10-01 14:59] whedon commented on #2596
[code]

[2020-10-01 14:59] whedon commented on #2596
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1768

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1768, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-01 15:31] WardLT commented on #2624
The software and paper look great to me!

I'm actually looking forward to being able to use this package in my own work. So, I'd like to express my personal appreciation to the authors for making this code available!

[2020-10-01 15:31] whedon opened #2714 "[PRE REVIEW]: Of demultiplexing and quality control"
**Submitting author:** @khourhin (<a href="http://orcid.org/0000-0001-7712-8270">Etienne Kornobis</a>)
**Repository:** <a href="https://github.com/sequana/of_demultiplexing_and_fastqc" target ="_blank">https://github.com/sequana/of_demultiplexing_and_fastqc</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :w

[2020-10-01 15:32] whedon commented on #2714
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-01 15:39] Kevin-Mattheus-Moerman commented on #2596
@whedon accept deposit=true

[2020-10-01 15:39] whedon commented on #2596
[code]

[2020-10-01 15:45] jgostick commented on #2624
Wow, @WardLT that is the highest praise there is!  It seems that all check boxes have been satisfied, so I will start the acceptance process soon.

[2020-10-01 15:48] sultanier commented on #2582
Hi @steven-murray, seems like a very nice package, congrats!

 - The installation went great as described, however just small suggestion to add might help new users
to computing clusters that these dependencies like gsl, fftw..etc might already be installed so you might
add: use e.g. module load gsl ....

- I like the CLI interactive mode with the 21cmfast command but I was unable to run it.
Could

[2020-10-01 15:55] untzag commented on #2688
I'm happy to review later if that's what @arunpersaud wants to do.

[2020-10-01 16:22] lnferris commented on #2497
I have fixed and closed "Community guidelines (lnferris/ocean_data_tools#37)".

[2020-10-01 16:33] sultanier commented on #2582
@steven-murray, how do we see all options for the 'kind' argument in the coeval_sliceplot, I couldn't find this in the API. the actual spelling might be different, also they aren't in the flag_options: coeval8.flag_options:
FlagOptions(INHOMO_RECO:False, M_MIN_in_Mass:False, PHOTON_CONS:False, SUBCELL_RSD:False, USE_HALO_FIELD:False, USE_MASS_DEPENDENT_ZETA:False, USE_MINI_HALOS:False, USE_TS_FLUC

[2020-10-01 16:36] ysohn commented on #2708
@kakiac We understand. Thank you very much! Also we deeply appreciate for the reviewers' time and efforts.

[2020-10-01 16:58] kbarnhart commented on #2276
@KevinShook Sounds good, thanks for the update.

[2020-10-01 17:02] rafaelfsilva commented on #2664
thank you @iaklampanos and @sissythem, I managed to test it.

@danielskatz I have completed my review.

[2020-10-01 17:11] geekysquirrel commented on #2537
Right I have made some updates to the paper and documentation that should hopefully resolve the remaining issues.
Thanks @liberostelios for pointing out the electron issues, it absolutely makes sense to explain this and I have added some words to the manual to that effect.

I could have sworn there was a restriction on length that required papers to be under two pages but I can't find it anywhere

[2020-10-01 17:14] sultanier commented on #2582
@steven-murray the paper reads very nice, I think it misses how fast is this package compared to just running 21cmFAST directly? how the linking between python and C is achieved (OS module, Ctypes, Cython...etc)? The community would be interested to know the time spent for few examples: e.g. to to run a lightcone from z=20 to z=6 for box size 100 Mpc the code spends ...etc this is also relevant fo

[2020-10-01 19:43] lincoln-harris commented on #2432
@Kevin-Mattheus-Moerman done, hopefully that takes care of it.

[2020-10-01 19:45] Kevin-Mattheus-Moerman commented on #2432
@whedon accept

[2020-10-01 19:45] whedon commented on #2432
[code]

[2020-10-01 19:46] #2596 closed

[2020-10-01 19:46] whedon commented on #2596
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02596/status.svg)](https://doi.org/10.21105/joss.02596)

**We need your help!**

Journal of Open Source Softwa

[2020-10-01 19:46] whedon commented on #2432
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1770

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1770, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-01 19:47] Kevin-Mattheus-Moerman commented on #2596
Congratulations @htjb! Also thank you  @smutch, @benjaminpope for reviewing this work and to @dfm for editing it. :tada:

[2020-10-01 19:49] MrMinimal64 commented on #2392
I uploaded the version `v2.1.1` to zenodo. The difference is just one missing DOI in a reference, but this should not make a difference for the software archive right? I think this version tag is preferable.
The DOI now changed to:
10.5281/zenodo.4062422
I updated the metadata of the software archive and added city and country to my affiliations.
The authors, affiliations, and acknowledgements sho

[2020-10-01 19:53] Kevin-Mattheus-Moerman commented on #2432
@whedon accept deposit=true

[2020-10-01 19:53] whedon commented on #2432
[code]

[2020-10-01 19:54] whedon commented on #2432
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1311756351601770497) 👈 🐦🐦🐦

[2020-10-01 19:54] whedon commented on #2432
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1771
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02432](https://doi.org/10.21105/joss.02432)
2. If everything looks g

[2020-10-01 19:54] htjb commented on #2596
@Kevin-Mattheus-Moerman Thank you very much! And thanks again @dfm, @smutch and @benjaminpope for all your help, the comments were very appreciated!

[2020-10-01 19:56] #2432 closed

[2020-10-01 19:56] whedon commented on #2432
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02432/status.svg)](https://doi.org/10.21105/joss.02432)

**We need your help!**

Journal of Open Source Softwa

[2020-10-01 19:59] Kevin-Mattheus-Moerman commented on #2432
Congratulations @lincoln-harris!

Thanks for your review efforts @betteridiot, @afrubin, also thank you @lpantano for editing!

[2020-10-01 20:03] whedon opened #2715 "[PRE REVIEW]: ropenblas: Download, Compile and Link OpenBLAS Library with R"
**Submitting author:** @prdm0 (<a href="http://orcid.org/0000-0003-1591-8300">Pedro Rafael Marinho</a>)
**Repository:** <a href="https://github.com/prdm0/ropenblas" target ="_blank">https://github.com/prdm0/ropenblas</a>
**Version:** v0.2.8
**Editor:** @timtroendle
**Reviewers:** @pratikvn, @sahilseth
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-10-01 20:03] whedon commented on #2715
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-01 20:03] whedon commented on #2715
Failed to discover a `Statement of need` section in paper

[2020-10-01 20:04] whedon commented on #2715
[code]

[2020-10-01 20:04] whedon commented on #2715
[code]

[2020-10-01 20:04] whedon commented on #2715
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: :point_left:

[2020-10-01 20:04] whedon opened #2716 "[PRE REVIEW]: REGENS: an open source Python package for simulating realistic autosomal genotypes"
**Submitting author:** @greggj2016 (<a href="http://orcid.org/0000-0002-2619-3440">John Gregg</a>)
**Repository:** <a href="https://github.com/EpistasisLab/regens" target ="_blank">https://github.com/EpistasisLab/regens</a>
**Version:** v0.1.0
**Editor:** @fboehm
**Reviewers:** @raivivek, @dwinter
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-10-01 20:04] whedon commented on #2716
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-01 20:05] whedon commented on #2716
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02716/joss.02716/10.21105.joss.02716.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02716/joss.02716/10.21105.joss.02716.pdf) :page_facing_up: :point_left:

[2020-10-01 20:10] arfon commented on #2554
@whedon generate pdf

[2020-10-01 20:11] whedon commented on #2554
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: :point_left:

[2020-10-01 20:13] lincoln-harris commented on #2432
awesome!! thanks @betteridiot, @afrubin and @lpantano!! I learned a ton through the review process

[2020-10-01 20:17] Kevin-Mattheus-Moerman commented on #2715
@prdm0 thanks for your submission. This paper needs work. It lacks the concise sections we look for, e.g. Statement of need, and is too long. You can likely shorten it significantly by removing content that is already in the readme/documentation.
Please review our guidelines on what the paper should contain: https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain.
You ca

[2020-10-01 20:21] TomGoffrey commented on #2554
That new table looks good to me.

@arfon My review is complete, happy to recommend publication.

[2020-10-01 20:29] Kevin-Mattheus-Moerman commented on #2715
@prdm0 I've flagged this submission for additional scope review by our editorial board which will take about a week. The reason for this scope check is that this submission, to me, at first sight, appears rather minor in terms of functionality and amount of scholarly effort (see our [requirements related to substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substan

[2020-10-01 20:34] prdm0 commented on #2715
Dear @Kevin-Mattheus-Moerman, this package has a lot of effort and has already been referred by important people in the R community. The project is followed by a programmer from the company RStudio and already has more than 6 thousand downloads. The aim of the package is to speed up the R for linear algebra operations. Everything is done within R without relying on GNU / Linux distribution reposit

[2020-10-01 20:36] prdm0 commented on #2715
@Kevin-Mattheus-Moerman The project allows recent versions of R to be installed on any GNU / Linux distribution, even if it does not have the latest version of the R language in the distribution repositories. It also allows us to switch between versions of R.

[2020-10-01 20:44] prdm0 commented on #2715
@Kevin-Mattheus-Moerman  The project is very robust and allows to accelerate the R language through the link with the OpenBLAS library. The project is so useful that researchers like Norman Matloff, who wrote several R-language books, featured the project on his Twitter.

[2020-10-01 20:54] Deech08 commented on #2554
This all looks good to me as well!

[2020-10-01 20:57] s-goldman commented on #2554
Thank you both for digging through the code and for all of the helpful suggestions!

[2020-10-01 20:58] prdm0 commented on #2715
@Kevin-Mattheus-Moerman I would like you to be clear when you say that there is no academic effort in a far-fetched R code and that it brings functionalities that underpinned the linear algebra computation of R. Everything is done within R. The package allows you to switch between versions of R and between versions from the OpenBLAS library. In the last month there were more than 800 downloads for

[2020-10-01 21:40] prdm0 commented on #2715
@whedon generate pdf

The "**Statement of Need**" section has been added.

[2020-10-01 21:47] Kevin-Mattheus-Moerman commented on #2715
@whedon generate pdf

[2020-10-01 21:48] whedon commented on #2715
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: :point_left:

[2020-10-01 22:14] Kevin-Mattheus-Moerman commented on #2715
@prdm0 thanks for your additional comments. I just want to add I am not implying this work is not useful or of a poor quality. For more on the term "effort" I used see our guidelines: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. You'll read there that submissions under 1000 lines of code (judging from the R code contained in this submission) are regularly sub

[2020-10-01 22:17] prdm0 commented on #2715
Thank you very much for an answer @Kevin-Mattheus-Moerman. I am grateful for the clarifications.

[2020-10-01 22:23] lnferris commented on #2497
I have fixed and closed "DOIs of the datasets (lnferris/ocean_data_tools#36)".

[2020-10-01 22:23] lnferris commented on #2497
@whedon generate pdf

[2020-10-01 22:24] whedon commented on #2497
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02497/joss.02497/10.21105.joss.02497.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02497/joss.02497/10.21105.joss.02497.pdf) :page_facing_up: :point_left:

[2020-10-01 22:26] prdm0 commented on #2715
@ Kevin-Mattheus-Moerman, I have a question about one of @whedon  output:

[code]
 is this just a warning that there is no DOI yet? I can disregard it, okay?

Finally, should I wait for the review to reduce the material? What is the minimum number of pages?

Kind regards.

[2020-10-01 22:33] prdm0 commented on #2715
@whedon generate pdf

[2020-10-01 22:34] whedon commented on #2715
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: :point_left:

[2020-10-01 23:04] prdm0 commented on #2715
@whedon generate pdf

[2020-10-01 23:04] whedon commented on #2715
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: :point_left:

[2020-10-01 23:46] prdm0 commented on #2715
Paper reduced from 13 to 9 pages.

@whedon generate pdf

[2020-10-01 23:48] prdm0 commented on #2715
@whedon generate pdf

[2020-10-01 23:49] whedon commented on #2715
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: :point_left:

[2020-10-01 23:52] prdm0 commented on #2715
I significantly reduced the number of pages, from 13 to 9.

[2020-10-01 23:52] prdm0 commented on #2715
@whedon generate pdf

[2020-10-01 23:53] whedon commented on #2715
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: :point_left:

[2020-10-02 01:11] Xunius commented on #2407
@kbarnhart Thanks for the notice. I'll come back in a few days.

[2020-10-02 01:30] wilsonrljr commented on #2384
@whedon generate pdf

[2020-10-02 01:31] whedon commented on #2384
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02384/joss.02384/10.21105.joss.02384.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02384/joss.02384/10.21105.joss.02384.pdf) :page_facing_up: :point_left:

[2020-10-02 01:45] wilsonrljr commented on #2384
@Kevin-Mattheus-Moerman Thank you for reviewing the paper.
- I added a country affiliation;
- I've increased the font size of the figure 1. Now all fonts have the same size on labels;
- I updated the title on Zenodo metadata to match the paper title. The author list was already the same of the paper, but I've included the country affiliation on Zenodo too.

Let me know if you need anything else.

[2020-10-02 03:54] tomsing1 commented on #2402
Dear @fboehm and @anwarbio, I have now finished my review. (Thank you for your patience.) I suggested a few improvements in [this pull request](https://github.com/anwarbio/bioassays/pulls). I mainly corrected spelling or grammar mistakes in the vignettes and also added the `.Rbuildignore` file. (I also found one last typo in the paper itself.) The manuscript now fulfills all of the requirements on

[2020-10-02 05:33] shahmoradi commented on #2710
I apologize for arriving late at this issue. The suggestion of @Kevin-Mattheus-Moerman as the editor was accidental, though I believe @Kevin-Mattheus-Moerman is more than qualified to edit this submission.

@Kevin-Mattheus-Moerman I believe the problem about the paper view is now resolved by whedon.

As for potential reviewers, I suggest the following:

============================================

[2020-10-02 06:43] whedon commented on #2621
:wave: @TomDonoghue, please update us on how your review is going.

[2020-10-02 06:46] rougier commented on #2674
Same here, thanks for the reminder !

[2020-10-02 07:38] arfon commented on #2554
@s-goldman - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the aut

[2020-10-02 08:14] Kevin-Mattheus-Moerman commented on #2691
@CosiMichele thanks for your submission to JOSS. Unfortunately the editorial board has agreed that this work is out of scope for JOSS as it stands. In particular this work does not have a significant enough research application. Instead it seems a valuable tool for educational purposes. Note this conclusion does not mean the software is of a poor quality or not useful, it merely means that since t

[2020-10-02 08:14] Kevin-Mattheus-Moerman commented on #2691
@whedon reject

[2020-10-02 08:14] whedon commented on #2691
Paper rejected.

[2020-10-02 08:14] #2691 closed

[2020-10-02 08:19] Kevin-Mattheus-Moerman commented on #2710
@shahmoradi thanks for your comments. Fortunately @VivianePons has volunteered to edit this submission and she will be much better suited than I am to edit this submission. You can address any further questions/communication for the review of this work to her.

[2020-10-02 08:20] stheid commented on #2435
- The authors already matched up, i just alligned the ordering.
- i corrected the title.

[2020-10-02 09:05] will-rowe commented on #2672
Hi @xyzmjf - please could you let us know how your review is going?

[2020-10-02 09:23] Kevin-Mattheus-Moerman commented on #2384
@whedon accept

[2020-10-02 09:23] whedon commented on #2384
[code]

[2020-10-02 09:23] whedon commented on #2384
[code]

[2020-10-02 09:23] whedon commented on #2384
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1772

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1772, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-02 09:28] arfon commented on #2715
Just a heads up @prdm0 - this paper is still far too long. Most of the detailed documentation of the API should not be in the JOSS paper.

As a guideline, JOSS submissions should be ~1000 words (~4 pages max).

[2020-10-02 09:38] Kevin-Mattheus-Moerman commented on #2658
@jbuisine upon initial inspection our board has decided this work may be in scope for JOSS. I will no proceed find an editor to handle this work. We do feel the paper needs a lot of improvement so please do work with the editor to get it improved, likely prior to the formal review stage.

[2020-10-02 09:38] Kevin-Mattheus-Moerman commented on #2658
@whedon invite @melissawm as editor

[2020-10-02 09:38] whedon commented on #2658
@melissawm has been invited to edit this submission.

[2020-10-02 09:48] Kevin-Mattheus-Moerman commented on #2384
@whedon accept deposit=true

[2020-10-02 09:48] whedon commented on #2384
[code]

[2020-10-02 09:48] Kevin-Mattheus-Moerman commented on #2697
@whedon invite @bstabler as editor

[2020-10-02 09:48] whedon commented on #2697
@bstabler has been invited to edit this submission.

[2020-10-02 09:48] whedon commented on #2384
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1311966387523530752) 👈 🐦🐦🐦

[2020-10-02 09:48] whedon commented on #2384
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1773
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02384](https://doi.org/10.21105/joss.02384)
2. If everything looks g

[2020-10-02 09:50] Kevin-Mattheus-Moerman commented on #2392
@whedon set 10.5281/zenodo.4062422 as archive

[2020-10-02 09:50] whedon commented on #2392
OK. <a href="https://doi.org/10.5281/zenodo.4062422" target="_blank">10.5281/zenodo.4062422</a> is the archive.

[2020-10-02 09:50] Kevin-Mattheus-Moerman commented on #2392
@whedon accept

[2020-10-02 09:50] whedon commented on #2392
[code]

[2020-10-02 09:51] whedon commented on #2392
[code]

[2020-10-02 09:51] whedon commented on #2392
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1774

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1774, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-02 09:52] #2384 closed

[2020-10-02 09:52] whedon commented on #2384
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02384/status.svg)](https://doi.org/10.21105/joss.02384)

**We need your help!**

Journal of Open Source Softwa

[2020-10-02 09:53] Kevin-Mattheus-Moerman commented on #2384
Thanks for your review efforts @Shibabrat, @dawbarton!! And thanks @dpsanders for editing this one!

Congratulations on the paper @wilsonrljr ! :tada:

[2020-10-02 09:54] Kevin-Mattheus-Moerman commented on #2392
@whedon accept deposit=true

[2020-10-02 09:55] whedon commented on #2392
[code]

[2020-10-02 09:55] whedon commented on #2392
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1311968139010281473) 👈 🐦🐦🐦

[2020-10-02 09:55] whedon commented on #2392
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1775
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02392](https://doi.org/10.21105/joss.02392)
2. If everything looks g

[2020-10-02 10:03] Kevin-Mattheus-Moerman commented on #2715
In relation to this :point_up_2: question. Our system checks if: 1) the references/citations you are using should have DOI's, and 2) if they do if the DOI's given are valid (they link to the correct paper) or not. It looks like you cite 3 "websites" or urls to software or other sites. These likely do not have DOI's so the system finds you currently have no DOI's (and therefore no invalid ones etc)

[2020-10-02 10:04] #2392 closed

[2020-10-02 10:04] whedon commented on #2392
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02392/status.svg)](https://doi.org/10.21105/joss.02392)

**We need your help!**

Journal of Open Source Softwa

[2020-10-02 10:05] Kevin-Mattheus-Moerman commented on #2392
Congratulations on your accepted paper @MrMinimal64 ! :tada:

Thanks for your review efforts @henrik227, @saschatimme!!!

And thank you @dpsanders for editing this submission!

[2020-10-02 10:06] Kevin-Mattheus-Moerman commented on #2435
@whedon accept

[2020-10-02 10:06] whedon commented on #2435
[code]

[2020-10-02 10:07] whedon commented on #2435
[code]

[2020-10-02 10:07] whedon commented on #2435
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1776

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1776, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-02 10:09] Kevin-Mattheus-Moerman commented on #2435
@stheid

- [ ] Please add city/county information to your affiliations

[2020-10-02 10:45] jbuisine commented on #2658
@Kevin-Mattheus-Moerman Thank you for your answer, I am of course available for any modification of the document in order to improve it.

[2020-10-02 10:45] prdm0 commented on #2715
Thanks for the clarification. Understood.

[2020-10-02 10:46] prdm0 commented on #2715
Thank you. I will try to focus now on drastically reducing the paper.

[2020-10-02 10:49] kakiac commented on #2408
@Kuifje02 Thanks!

[2020-10-02 10:49] kakiac commented on #2408
@whedon generate pdf

[2020-10-02 10:50] whedon commented on #2408
PDF failed to compile for issue #2408 with the following error:

 Error reading bibliography ./paper.bib (line 180, column 3):
unexpected "u"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-10-02 10:51] kakiac commented on #2408
@whedon commands

[2020-10-02 10:51] whedon commented on #2408
Here are some things you can ask me to do:

[code]

[2020-10-02 10:52] kakiac commented on #2408
@whedon check references

[2020-10-02 10:53] whedon commented on #2408
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "url" (NAME) [#<BibTeX::Bibliography data=[14]>, "@", #<BibTeX::Entry >, {:title=>["The VRP with time windows"], :author=>["Cordeau, Jean-Francois and Groupe d'{\\'e}tudes et de recherche en analyse des d{\\'e}cisions (Montr{\\'e}al, Qu{\\'e}bec)"], :year=>["2000"], :publisher=>["Groupe d'{\\'e}tudes et

[2020-10-02 10:59] Kuifje02 commented on #2408
I think there was a missing comma in the reference. I have just fixed it. Should we give it another try?

[2020-10-02 11:25] robinroche commented on #2637
@tylunel Yes, I was thinking of a high level explanation of how to use the code, and pointing the user to the basic example at the end of the installation.

@tylunel I agree with @kbarnhart . I did not notice anything worrying in the warnings, but I think that the user should know that getting these warnings may be normal. Otherwise one may wonder if the code will be fully operational or not.

[2020-10-02 11:41] Nico-Curti commented on #2663
Hi @justusschock, thanks for your comments. We are working on your issues and we will provide an updated version of the project documentation as soon as possible.

[2020-10-02 11:42] prdm0 commented on #2715
Drastic paper reduction from 13 to 4 pages.

[2020-10-02 11:43] prdm0 commented on #2715
@whedon generate pdf

[2020-10-02 11:44] whedon commented on #2715
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02715/joss.02715/10.21105.joss.02715.pdf) :page_facing_up: :point_left:

[2020-10-02 12:54] xyzmjf commented on #2672
Hi Will. I have downloaded the code. I will be going over it this afternoon and this weekend. Updating the check list was a no go, as the invite has expired or been revoked. Mark

[2020-10-02 13:11] melissawm commented on #2658
@whedon assign @melissawm as editor

[2020-10-02 13:11] whedon commented on #2658
OK, the editor is @melissawm

[2020-10-02 13:14] majensen commented on #2643
You can do that if you wish @AngryMaciek. I will have a pull request for you with a number of suggested changes. Apologies for the delay, thanks for your patience.

[2020-10-02 13:25] torressa commented on #2408
@whedon generate pdf

[2020-10-02 13:25] whedon commented on #2408
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02408/joss.02408/10.21105.joss.02408.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02408/joss.02408/10.21105.joss.02408.pdf) :page_facing_up: :point_left:

[2020-10-02 13:26] stheid commented on #2435
![image](https://user-images.githubusercontent.com/2736207/94928182-93d0ca80-04c3-11eb-911c-14381997753b.png)
like this? To be honest i don't understand where exactly the issue is.

[2020-10-02 14:10] nwu63 commented on #2564
Hi @poulson and @labarba, is there anything for me to do to get things moving again?

[2020-10-02 14:17] VivianePons commented on #2463
Hi @daviddewhurst and @felixcremer I see no progress on the review, have you had time to look at the software? When do you think you can get back to it?

Best

Viviane

[2020-10-02 14:18] VivianePons commented on #2515
Hi @wingtorres have you had time to look at it?

[2020-10-02 14:19] VivianePons commented on #2614
Hi @sauln I haven't heard of you in a while and nothing has been udptaed on the review, are you still on board?

[2020-10-02 14:46] dpsanders commented on #2384
Contratulations @wilsonrljr!

Many thanks to @dawbarton and @Shibabrat for your hard work on the reviews!

[2020-10-02 14:49] dpsanders commented on #2392
Thanks @Kevin-Mattheus-Moerman!

Congratulations @MrMinimal64 on your paper!

And many thanks to @henrik227 and @saschatimme for your hard work on the reviews!

[2020-10-02 14:50] libertyh commented on #2674
I should be done by Oct 8 as well, thanks!

[2020-10-02 14:52] aquilesC commented on #2688
Fine with me!

[2020-10-02 14:59] diehlpk commented on #2291
Hi @ctdegroot and @johntfoster how is your review going?

[2020-10-02 15:24] wilsonrljr commented on #2384
Many thanks @dpsanders, @dawbarton, @Shibabrat and @Kevin-Mattheus-Moerman!  All of you have contributed to the effort to obtain the this version of the paper.

[2020-10-02 15:46] KristinaRiemer commented on #2680
Awesome, thanks @kellykochanski! And no big deal @eviatarbach, thanks for getting back about it.

This will still need a second reviewer, if @arbennett or @kavir1698 are able?

[2020-10-02 15:47] KristinaRiemer commented on #2680
@whedon assign @kellykochanski as reviewer

[2020-10-02 15:47] whedon commented on #2680
OK, @kellykochanski is now a reviewer

[2020-10-02 15:59] adamltyson commented on #2668
@whedon generate pdf from branch joss

[2020-10-02 15:59] whedon commented on #2668
[code]

[2020-10-02 15:59] whedon commented on #2668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02668/joss.02668/10.21105.joss.02668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02668/joss.02668/10.21105.joss.02668.pdf) :page_facing_up: :point_left:

[2020-10-02 16:08] adamltyson commented on #2668
We've made some small edits to the paper (affiliations, acknowledgments, reference formatting), and we're now good to publish. @oliviaguest what comes next?

[2020-10-02 16:34] arbennett commented on #2680
Ah, sorry for the delay - I'd be happy to review this @KristinaRiemer!

[2020-10-02 16:45] lorenanicole commented on #2530
Hi. Just bumping this! Thanks!

[2020-10-02 16:46] sauln commented on #2614
Hi Sorry @VivianePons  It's still on my radar but have been swamped the last few weeks. I'll try to either finish it up this weekend, or bow out.

[2020-10-02 16:48] MrMinimal64 commented on #2392
Thank you all for enabling my first sole publication!

One thing I noticed. Since there is an underscore in the title, using the linked BibTex silently breaks a latex document.
I think it is very important to fix this, since the readers otherwise search for errors in their documents forever.
All underscores need to be escaped:

`title = {multivar\_horner: A Python package for computing Horner fact

[2020-10-02 17:05] VivianePons commented on #2614
If you need some time, it's ok. I just need to know we are still on track

[2020-10-02 17:13] arunpersaud commented on #2688
Let's pause it then and we'll come back here once we updated the code. It's hard for me to estimate how long this will take though. Lot's to review and change and unfortunately working on the code is not the main part of my job. I would say we need a few month at least.

[2020-10-02 17:45] steven-murray commented on #2582
Thanks @sultanier for the very useful comments on the code! I've tried to address most of your comments in this PR: https://github.com/21cmfast/21cmFAST/pull/174

   to computing clusters that these dependencies like gsl, fftw..etc might already be installed so you might
   add: use e.g. module load gsl ....

Thanks, I added a `HPC` section to the installation docs.

Firstly, could you let me know

[2020-10-02 17:46] kfhiga commented on #2711
Dear Dr. Moerman:
Thank you for the suggestions, I have made the recommended changes and
pushed the changes to my repository.
Best regards,
Kenny

On Thu, Oct 1, 2020 at 2:19 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-10-02 18:08] usethedata commented on #2483
@crangelsmith Sorry to have been absent, but end of fiscal year stuff was pretty hectic.  I would say you should go ahead and revise the paper.  Let me take a look at the changes in the code from what @arbennett has already review and decide how best to proceed with the review.

[2020-10-02 18:16] usethedata commented on #2553
My apologies to all.  I got slammed with end of fiscal year stuff and a significant reorganization at work.  I've attempted finding reviewers, but I have been completely unsuccessful.  To date, I've contacted well over a dozen potential reviewers, including the people @perdigao1 suggested and contacting people I know in the microscopy community across the DOE labs.  I have been completely unable t

[2020-10-02 18:19] usethedata commented on #2531
Sorry to have been absent here.  I was slammed with end of fiscal year stuff and a reorganization at work.  I could have sworn I opened the review issue for this, but didn't.  This is the pre-review issue.  Let me actually create the review issue and then I'll copy/post the work @bradyrx has already done over into that issue and go from there.

[2020-10-02 18:19] usethedata commented on #2531
@whedon start review

[2020-10-02 18:19] whedon opened #2717 "[REVIEW]: cfdm: A Python reference implementation of the CF data model"
**Submitting author:** @davidhassell (<a href="http://orcid.org/0000-0001-5106-7502">David Hassell</a>)
**Repository:** <a href="https://github.com/NCAS-CMS/cfdm" target ="_blank">https://github.com/NCAS-CMS/cfdm</a>
**Version:** 1.8.7.0
**Editor:** @usethedata
**Reviewers:** @bradyrx, @clynnes
**Archive:** <a href="https://doi.org/10.5281/zenodo.4075077" target="_blank">10.5281/zenodo.4075077</a>

[2020-10-02 18:19] whedon commented on #2531
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2717.

[2020-10-02 18:19] #2531 closed

[2020-10-02 18:19] whedon commented on #2717
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bradyrx it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2020-10-02 18:20] whedon commented on #2717
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02717/joss.02717/10.21105.joss.02717.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02717/joss.02717/10.21105.joss.02717.pdf) :page_facing_up: :point_left:

[2020-10-02 18:27] usethedata commented on #2717
@bradyrx  comments from the pre-review issue (https://github.com/openjournals/joss-reviews/issues/2531) because I didn't do my job correctly and didn't get the review issue started:

Software paper

[2020-10-02 18:37] Kevin-Mattheus-Moerman commented on #2701
@canorve after a scope review by the editorial board it was decided that although this work looks useful and is research software, it is, in its current form, not in scope for JOSS. In particular the single functionality and single script implementation is not deemed acceptable for JOSS (some recommended aspects of this this work could perhaps instead be merged with astropy or photoutils).

At thi

[2020-10-02 18:37] Kevin-Mattheus-Moerman commented on #2701
@whedon reject

[2020-10-02 18:37] whedon commented on #2701
Paper rejected.

[2020-10-02 18:37] #2701 closed

[2020-10-02 18:38] usethedata commented on #2717
And reproducing @davidhassell reply to the above from the pre-review issue

[2020-10-02 18:38] pibion commented on #2694
@jspaezp, @sigven, could you confirm that you can check and uncheck the boxes at the top of this issue?

[2020-10-02 18:40] usethedata commented on #2717
@bradyrx  -- Based on the your comments over in the pre-review, I believe you're satisfied.  If you'd be so kind as to check off the items in your checklist, that would be much appreciated.

@davidhassell -- My apologies again for the delay, and I do need to get a second reviewer, which I'm now working on.

[2020-10-02 18:41] usethedata commented on #2625
Apologies to all, particularly @ryokbys for delays.  I got slammed with end of fiscal year stuff and a reorganization.  I'm on this and am working on finding reviewers.

[2020-10-02 18:43] Kevin-Mattheus-Moerman commented on #2702
@iamtekson thank you for this submission. We regret to inform you that after editorial review this work was found to be out of scope for JOSS. In particular this work was seen as too minor to warrant publication in JOSS (see our notes on [required amount of scholarly content](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)). This conclusion does not mean the sof

[2020-10-02 18:44] Kevin-Mattheus-Moerman commented on #2702
@whedon reject

[2020-10-02 18:44] whedon commented on #2702
Paper rejected.

[2020-10-02 18:44] #2702 closed

[2020-10-02 18:46] Kevin-Mattheus-Moerman commented on #2698
@victorsapucaia thank you for this submission. We regret to inform you that after editorial review this work was found to be out of scope for JOSS. In particular this work was seen as too minor to warrant publication in JOSS (see our notes on [required amount of scholarly content](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)). This conclusion does not mean th

[2020-10-02 18:46] Kevin-Mattheus-Moerman commented on #2698
@whedon reject

[2020-10-02 18:46] whedon commented on #2698
Paper rejected.

[2020-10-02 18:46] #2698 closed

[2020-10-02 18:47] prdm0 commented on #2715
Dear @Kevin-Mattheus-Moerman I reduced the paper from 13 to 4 pages, in order to fit with the Journal. Do I need to do anything else or should I wait?

[2020-10-02 18:47] Kevin-Mattheus-Moerman commented on #2711
@whedon generate pdf

[2020-10-02 18:48] whedon commented on #2711
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02711/joss.02711/10.21105.joss.02711.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02711/joss.02711/10.21105.joss.02711.pdf) :page_facing_up: :point_left:

[2020-10-02 18:48] Kevin-Mattheus-Moerman commented on #2711
@melissawm @VivianePons @meg-simula @mjsottile could one of you handle this submission? Thanks

[2020-10-02 18:50] Kevin-Mattheus-Moerman commented on #2715
@prdm0 at this point we will review the work for scope, which should take about a week. Thanks for your patience.

[2020-10-02 18:52] whedon opened #2718 "[PRE REVIEW]: PyQMRI: An accelerated Python based Quantitative MRI Python toolbox"
**Submitting author:** @maieroli2010 (<a href="http://orcid.org/0000-0002-7800-0022">Oliver Maier</a>)
**Repository:** <a href="https://github.com/IMTtugraz/PyQMRI" target ="_blank">https://github.com/IMTtugraz/PyQMRI</a>
**Version:** v0.3.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @grlee77,  @agahkarakuzu, @DARSakthi
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service m

[2020-10-02 18:52] whedon commented on #2718
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-02 18:52] whedon commented on #2718
PDF failed to compile for issue #2718 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2718 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-10-02 18:53] Kevin-Mattheus-Moerman commented on #2718
@whedon generate pdf

[2020-10-02 18:54] whedon commented on #2718
PDF failed to compile for issue #2718 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2718 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-10-02 18:56] Kevin-Mattheus-Moerman commented on #2718
@whedon generate pdf from branch JOSS_pub

[2020-10-02 18:56] whedon commented on #2718
[code]

[2020-10-02 18:57] whedon commented on #2718
PDF failed to compile for issue #2718 with the following error:

 sh: 1: cd: can't cd to tmp/2718
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2718 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2020-10-02 18:58] Kevin-Mattheus-Moerman commented on #2718
@openjournals/dev can you help troubleshoot why this paper is not compiling? Thanks

[2020-10-02 18:59] Kevin-Mattheus-Moerman commented on #2718
@whedon check repository

[2020-10-02 19:02] Kevin-Mattheus-Moerman commented on #2718
@whedon generate pdf from branch JOSS_pub

[2020-10-02 19:02] whedon commented on #2718
[code]

[2020-10-02 19:03] whedon commented on #2718
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02718/joss.02718/10.21105.joss.02718.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02718/joss.02718/10.21105.joss.02718.pdf) :page_facing_up: :point_left:

[2020-10-02 19:03] Kevin-Mattheus-Moerman commented on #2716
@whedon check repository

[2020-10-02 19:04] Kevin-Mattheus-Moerman commented on #2718
I think I fixed it by changing the repository link to be the repo itself not the branch

[2020-10-02 19:04] Kevin-Mattheus-Moerman commented on #2718
@whedon check repository

[2020-10-02 19:04] whedon commented on #2716
[code]

[2020-10-02 19:05] whedon commented on #2718
[code]

[2020-10-02 19:08] prdm0 commented on #2715
Regarding codes with less than 1000 lines, I emphasize that my code has exactly 1103 lines. See the code [**here**](https://github.com/prdm0/ropenblas/blob/master/R/ropenblas.R#L1103). All lines with `#` are codes that generate the package documentation using [**roxygen2**](https://cran.r-project.org/web/packages/roxygen2/index.html).

[2020-10-02 19:08] Kevin-Mattheus-Moerman commented on #2716
@fboehm @mikldk @lpantano @will-rowe @majensen could one of you handle this submission? Thanks

[2020-10-02 19:59] s-goldman commented on #2554
@arfon [Zenodo link](https://zenodo.org/record/4064241#.X3eGYJNKi-p)

[2020-10-02 20:10] s-goldman commented on #2554
@whedon generate pdf

[2020-10-02 20:11] whedon commented on #2554
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02554/joss.02554/10.21105.joss.02554.pdf) :page_facing_up: :point_left:

[2020-10-02 20:19] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-10-02 20:20] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-10-02 21:00] alex-konovalov commented on #2392
@MrMinimal64 congratulations! Thanks to the reviewers - sorry, haven't been checking as active on github recently, missed reminders.

[2020-10-02 21:39] henrykironde commented on #2704
**Contribution and authorship:**

`What cliteria was used for authorship selection?`

**License:**

`Could you edit the licence file and remove  '>'`

**The paper should be between 250-1000 words:**

`I will need to obain a recommendation for the paper length from the team.`

**Installation instructions:**
[code]

**List of dependencies?**
[code]

**Example usage:**

[code]

**Functionality docume

[2020-10-02 22:23] melissawm commented on #2711
Yes, I'll be happy to.

[2020-10-02 22:27] melissawm commented on #2711
@whedon assign @melissawm as editor

[2020-10-02 22:27] whedon commented on #2711
OK, the editor is @melissawm

[2020-10-02 23:25] anwarbio commented on #2402
Dear @tomsing1 , Thank you very much for the corrections. I have now applied these changes.
Thanks!

[2020-10-03 00:27] nicolet5 commented on #2624
Thank you everyone! @WardLT I am glad this will be useful to you and I look forward to seeing how you leverage it!

@jgostick  thank you for the suggestion, I've edited the paper by replacing the last paragraph with a better concluding remark and I agree it reads better now!

[2020-10-03 01:19] rrrlw commented on #2706
N.B. The paper has two authors and the GitHub repo has one contributor. Will trust submitting author's judgment and assume that both authors had substantial contributions and that the author list in the paper is appropriate (checking box in list above).

[2020-10-03 06:13] MaierOli2010 commented on #2718
I would suggest hanayik as potential reviewer given his knowledge in MRI and Image Analysis and sbacchio for his knowledge in HPC and Iterative Linear Solvers. vitorsr, ulvgard, and stsievert might be suitable too given their background in optimization and image processing.

[2020-10-03 07:04] arfon commented on #2554
@whedon set 10.5281/zenodo.4064241 as archive

[2020-10-03 07:04] whedon commented on #2554
OK. <a href="https://doi.org/10.5281/zenodo.4064241" target="_blank">10.5281/zenodo.4064241</a> is the archive.

[2020-10-03 07:04] arfon commented on #2554
@whedon accept

[2020-10-03 07:04] whedon commented on #2554
[code]

[2020-10-03 07:05] whedon commented on #2554
[code]

[2020-10-03 07:05] whedon commented on #2554
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1777

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1777, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-03 07:06] arfon commented on #2554
@whedon accept deposit=true

[2020-10-03 07:06] whedon commented on #2554
[code]

[2020-10-03 07:07] whedon commented on #2554
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1312288062441955329) 👈 🐦🐦🐦

[2020-10-03 07:07] whedon commented on #2554
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1778
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02554](https://doi.org/10.21105/joss.02554)
2. If everything looks g

[2020-10-03 07:09] arfon commented on #2554
@Deech08, @TomGoffrey - many thanks for your reviews here ✨

@s-goldman - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-03 07:09] #2554 closed

[2020-10-03 07:09] whedon commented on #2554
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02554/status.svg)](https://doi.org/10.21105/joss.02554)

**We need your help!**

Journal of Open Source Softwa

[2020-10-03 07:18] sigven commented on #2694
@pibion I am afraid I am not able to check any boxes, unsure as to why. I am logged in and have accepted the invitation.

[2020-10-03 08:02] DanielLenz commented on #2663
@arokem Will finish my review this weekend!

[2020-10-03 09:03] Kevin-Mattheus-Moerman commented on #2718
@whedon invite @jni as editor

[2020-10-03 09:03] whedon commented on #2718
@jni has been invited to edit this submission.

[2020-10-03 09:10] whedon opened #2719 "[PRE REVIEW]: pfsspy: A Python package for potential field source surface modelling"
**Submitting author:** @dstansby (<a href="http://orcid.org/0000-0002-1365-1908">David Stansby</a>)
**Repository:** <a href="https://github.com/dstansby/pfsspy" target ="_blank">https://github.com/dstansby/pfsspy</a>
**Version:** 0.6.0
**Editor:** @mbobra
**Reviewers:** @mancellin, @sibirrer
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-10-03 09:10] whedon commented on #2719
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-03 09:10] whedon commented on #2719
PDF failed to compile for issue #2719 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2719 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedo

[2020-10-03 09:11] Kevin-Mattheus-Moerman commented on #2719
@whedon generate pdf from branch joss-paper

[2020-10-03 09:11] whedon commented on #2719
[code]

[2020-10-03 09:12] whedon commented on #2719
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02719/joss.02719/10.21105.joss.02719.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02719/joss.02719/10.21105.joss.02719.pdf) :page_facing_up: :point_left:

[2020-10-03 09:14] Kevin-Mattheus-Moerman commented on #2719
@whedon check repository

[2020-10-03 09:14] whedon commented on #2719
[code]

[2020-10-03 09:16] Kevin-Mattheus-Moerman commented on #2719
@mbobra @sjpfenninger @xuanxu @dfm could one of you handle this submission? Thanks

[2020-10-03 10:30] Kevin-Mattheus-Moerman commented on #2714
@arfon perhaps this is a good first submission for @luizirber to handle?
Perhaps @majensen @lpantano (who work on genomics) can help too.

Note this submission is for 2 repositories.

[2020-10-03 10:36] Kevin-Mattheus-Moerman commented on #2435
@stheid please edit the affiliation in the YAML at the top of your `paper.md` file.

[2020-10-03 10:46] jni commented on #2718
@Kevin-Mattheus-Moerman unfortunately I don't have the bandwidth right now, especially since I'm about to go on leave. I *will* however additionally recommend grlee77 as an additional potential reviewer.

[2020-10-03 10:53] Kevin-Mattheus-Moerman commented on #2718
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-10-03 10:53] whedon commented on #2718
OK, the editor is @Kevin-Mattheus-Moerman

[2020-10-03 10:59] davidhassell commented on #2717
@usethedata -- no worries, and thanks for moving things on.

[2020-10-03 14:30] oliviaguest commented on #2670
@whedon remind @sneakers-the-rat in 2 weeks

[2020-10-03 14:30] whedon commented on #2670
Reminder set for @sneakers-the-rat in 2 weeks

[2020-10-03 14:31] oliviaguest commented on #2670
@sneakers-the-rat you got it! ✨

[2020-10-03 14:37] oliviaguest commented on #2675
@whedon remind @rly in 1 week

[2020-10-03 14:37] whedon commented on #2675
Reminder set for @rly in 1 week

[2020-10-03 14:39] oliviaguest commented on #2674
@whedon remind @rly in 9 days

[2020-10-03 14:39] whedon commented on #2674
Reminder set for @rly in 9 days

[2020-10-03 14:39] oliviaguest commented on #2674
@whedon remind @libertyh in 9 days

[2020-10-03 14:39] whedon commented on #2674
Reminder set for @libertyh in 9 days

[2020-10-03 14:39] oliviaguest commented on #2674
@whedon remind @rougier in 9 days

[2020-10-03 14:39] whedon commented on #2674
Reminder set for @rougier in 9 days

[2020-10-03 14:42] oliviaguest commented on #2668
@adamltyson perfect — firstly, you need to deposit the code, so create an archive (on Zenodo, figshare, or other) and post the archive DOI here.

[2020-10-03 14:43] rougier commented on #2674
@oliviaguest I'm jealous of whedon (I'm the reminder bot for ReScience...)

[2020-10-03 16:44] arokem commented on #2663
Super. Thanks for the update!

[2020-10-03 19:01] Kevin-Mattheus-Moerman commented on #2718
@grlee77, @JoshKarpel, @rljacobson, @mfroeling, @62442katieb, @agahkarakuzu, @mathieuboudreau, @spinicist, @imr-framework, @kerkelae , @DARSakthi, @ritagnunes

Would you be interested in reviewing this work for JOSS?

_PyQMRI: An accelerated Python based Quantitative MRI Python toolbox_
**paper** :point_right: https://github.com/openjournals/joss-papers/blob/joss.02718/joss.02718/10.21105.joss.027

[2020-10-03 19:15] Kevin-Mattheus-Moerman commented on #2712
This seems to be a duplicate of https://github.com/openjournals/joss-reviews/issues/2716, I'll close this issue.

[2020-10-03 19:15] #2712 closed

[2020-10-03 19:22] Kevin-Mattheus-Moerman commented on #2716
FYI :point_up: I closed an apparent duplicate submission. @greggj2016 can you confirm you submitted twice perhaps by mistake? I want to check if this was a hiccup in our system or not.

[2020-10-03 19:27] greggj2016 commented on #2716
Yes, actually this is the first paper I submitted here. I wasn't sure how to submit my reformatted draft, so I had attempted to resubmit the reformatted draft and withdraw the previous submission. However, clicking the button to withdraw the previous submission did not seem to do anything after multiple attempts. I was then advised to wait for your response, so this is not a hiccup in your system

[2020-10-03 19:33] Kevin-Mattheus-Moerman commented on #2716
@greggj2016 Okay thanks for clarifying. In the future you can make changes to your paper on your repository and then call `@whedon generate pdf` (on its own, without any other text) here, to update the paper.

[2020-10-03 19:36] Kevin-Mattheus-Moerman commented on #2712
@whedon reject

[2020-10-03 19:36] whedon commented on #2712
Paper rejected.

[2020-10-03 19:37] greggj2016 commented on #2716
Yes, but what does that mean to "call @whedon generate pdf"?

[2020-10-03 19:38] Kevin-Mattheus-Moerman commented on #2716
Like this :point_down:

[2020-10-03 19:38] Kevin-Mattheus-Moerman commented on #2716
@whedon generate pdf

[2020-10-03 19:39] greggj2016 commented on #2716
yes, but where do I input that? Is there a place where I can read more details?

[2020-10-03 19:39] whedon commented on #2716
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02716/joss.02716/10.21105.joss.02716.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02716/joss.02716/10.21105.joss.02716.pdf) :page_facing_up: :point_left:

[2020-10-03 19:39] greggj2016 commented on #2716
@whedon generate pdf

[2020-10-03 19:39] greggj2016 commented on #2716
Did your comment make that?

[2020-10-03 19:39] Kevin-Mattheus-Moerman commented on #2716
Right here. Like you just did :+1:

[2020-10-03 19:40] whedon commented on #2716
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02716/joss.02716/10.21105.joss.02716.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02716/joss.02716/10.21105.joss.02716.pdf) :page_facing_up: :point_left:

[2020-10-03 19:40] Kevin-Mattheus-Moerman commented on #2716
Yep, and yours did too

[2020-10-03 19:40] greggj2016 commented on #2716
Got it thanks!

[2020-10-03 19:40] Kevin-Mattheus-Moerman commented on #2716
We will also use whedon like that to assign reviewers, start the review etc.

[2020-10-03 19:41] greggj2016 commented on #2716
Is there a place i can read more about the full functionality of whedon, or do I not need to know anything else?

[2020-10-03 19:46] Kevin-Mattheus-Moerman commented on #2716
See here: https://joss.readthedocs.io/en/latest/

Let me know if you have any more questions.

[2020-10-03 20:43] arfon commented on #2714
In theory yes, although looking more closely at these two submissions, they are both _very_ small so this submission may not be in scope for JOSS?

[code]

[code]

[2020-10-03 20:43] arfon commented on #2714
@whedon query scope

[2020-10-03 20:43] whedon commented on #2714
Submission flagged for editorial review.

[2020-10-03 21:35] fboehm commented on #2716
Yes, @Kevin-Mattheus-Moerman - I can take this on as editor.

[2020-10-03 21:36] fboehm commented on #2716
@whedon assign @fboehm as editor

[2020-10-03 21:36] whedon commented on #2716
OK, the editor is @fboehm

[2020-10-03 23:28] perdigao1 commented on #2553
Hi Bruce,
Thank you for looking for referees. I suspect that the referees I suggested have either refused or did not respond to requests to review the article. Is this correct?
Perhaps one of the main problem with the article is that the code was written in Visual Basic. Although visual studio is nowadays free and powerful, I take that it is not a widely used language within the open source commun

[2020-10-04 02:38] JoshKarpel commented on #2718
Unfortunately I don't have time at the moment. Thanks for asking!

[2020-10-04 10:09] davidhassell commented on #2717
@bradyrx - just to let you know that, further to your comments on code coverage, @sadielbartholomew has now implemented a codecov integration: https://codecov.io/gh/NCAS-CMS/cfdm, also available as a link in the cfdm GitHUb page https://github.com/NCAS-CMS/cfdm.

[2020-10-04 10:14] matbesancon commented on #2564
hi, sorry about the delay on coming back to this review, I'll be on it in the coming days

[2020-10-04 10:22] spinicist commented on #2718
Looks very interesting but I don't have access to a suitable GPU at the moment!

[2020-10-04 10:33] oliviaguest commented on #2674
@rougier it's so cute — see: https://joss.readthedocs.io/en/latest/whedon.html

[2020-10-04 10:49] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch :wave: please finish your review so we do not delay this submission any further. Thanks

[2020-10-04 10:51] Kevin-Mattheus-Moerman commented on #2548
@asmusskar we do not have strict deadlines, but to avoid loosing track of the reviewers I do recommend responding in a timely manor.

[2020-10-04 10:52] Kevin-Mattheus-Moerman commented on #2705
@ethanwharris, @lbrea, @zhangfanmark, this is where the review takes place. I hope you are able to get started if you haven't already. Let me know if you have questions.

[2020-10-04 14:27] arfon commented on #2719
@whedon invite @mbobra as editor

@Kevin-Mattheus-Moerman - this looks like a really good fit for @mbobra I think?

[2020-10-04 14:27] whedon commented on #2719
@mbobra has been invited to edit this submission.

[2020-10-04 15:28] jspaezp commented on #2694
@pibion I do seem to check the boxes in the issue

[2020-10-04 15:49] adamltyson commented on #2668
Thanks @oliviaguest, here's the DOI: [`10.5281/zenodo.4065389`](https://doi.org/10.5281/zenodo.4065389)

[2020-10-04 16:23] dineshresearch commented on #2498
Hello I have completed the review checklist..

[2020-10-04 16:36] fneum commented on #2677
## Housekeeping

This is my first review for JOSS, so any feedback is appreciated.

I have posted bigger thematic blocks as issues at https://gitlab.com/energyincities/besos/-/issues and referenced those also below.

Congrats on your work already! The review may seem critical regarding some aspects, but I hope it's always constructive! There are also many suggestions which are not strictly essenti

[2020-10-04 17:11] grlee77 commented on #2718
Sure, I am interested.

[2020-10-04 18:37] danielskatz commented on #2646
It's good to see @r-a-hoggarth making progress, but I now wonder about @prw99r (no boxes checked) and @skadio (no changes recently).  How are things going?

[2020-10-04 18:58] tbrown122387 commented on #2599
@diehlpk I have just finished updating the references and making all the other requested changes.

[2020-10-04 20:25] kakiac commented on #2408
@whedon check references

[2020-10-04 21:05] DanielLenz commented on #2663
Hey @arokem , I've finished my review and agree with @justusschock in that I really like the submission and think the software is well-written and follows many best practices, big thanks for @Nico-Curti .

There are a couple of points that we raised on the projects github issue tracker which should be taken care of first. All of these are fairly minor and shouldn't take long.

Regarding the paper

[2020-10-04 21:52] asmusskar commented on #2548
Hi Kevin,

sure, I can respond within a few days. However I'm not sure in what
format.. I respond to the reviewers comments here, and then implement the
changes in the code/paper/readme accordingly?

Asmus

On Sun, Oct 4, 2020 at 12:51 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-10-04 22:05] alexrockhill commented on #2675
I take it I'm no longer needed to review, if so best of luck with the review process

[2020-10-04 23:44] sofroniewn commented on #2579
I made an issue asking for the documentation links to be added to the readme so they are easier to discover.

I've gone through the documentation and functionality and found them to be satisfactory.

I found [contributing guidelines](https://github.com/labsyspharm/minerva-story/wiki/Contribution-Guidelines) here.

I wasn't able to find a full API reference say for code in https://github.com/labsys

[2020-10-05 00:43] Himscipy commented on #2664
@iaklampanos Thanks for the comprehensive documentation about the DARE platform I managed to test it functionality
at least the use cases seamlessly.  I couldn't find any automated testing/ manual test which is need to verify the overall functionality.

**Review Requirements**
*Automated tests:* Are there automated tests or manual steps described so that the functionality of the software can be ve

[2020-10-05 04:38] canorve commented on #2701
Dear Kevin,

Thanks for your comments,

Although you are right about the single script implementation, the software is **not** single functionality, and this is explained in the "Different modes" section as well as in the Github's page. The code's goal is to extract as much information as possible. However, I think I should have emphasized it in the paper.

All the best,

[2020-10-05 04:59] moorepants commented on #2498
@Kevin-Mattheus-Moerman I'm pretty sure I didn't check all of the boxes in the review check list under my name, as I had comments regarding several of them. I'm not sure why they are all checked.

[2020-10-05 05:03] jni commented on #2579
Thank you @will-moore and @sofroniewn for your reviews!

@will-moore can you confirm that you're happy to accept the manuscript as it stands?

Thanks everyone for the interaction to improve the paper and the software thus far!

[2020-10-05 07:16] stheid commented on #2435
Like so https://github.com/upb-lea/openmodelica-microgrid-gym/commit/6eeabca6163c399f8ab494f57c297d3235b81fbf?

[2020-10-05 07:22] whedon opened #2720 "[PRE REVIEW]: Thresholdmann: A Web tool for interactively creating adaptive thresholds to segment MRI data."
**Submitting author:** @katjaq (<a href="http://orcid.org/0000-0002-7237-0196">Katja Heuer</a>)
**Repository:** <a href="https://github.com/neuroanatomy/thresholdmann" target ="_blank">https://github.com/neuroanatomy/thresholdmann</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-10-05 07:22] whedon commented on #2720
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-05 07:23] whedon commented on #2720
[code]

[2020-10-05 07:23] whedon commented on #2720
PDF failed to compile for issue #2720 with the following error:

 Can't find any papers to compile :-(

[2020-10-05 07:24] arfon commented on #2720
@whedon generate pdf from branch joss-paper-branch

[2020-10-05 07:24] whedon commented on #2720
[code]

[2020-10-05 07:25] whedon commented on #2720
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02720/joss.02720/10.21105.joss.02720.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02720/joss.02720/10.21105.joss.02720.pdf) :page_facing_up: :point_left:

[2020-10-05 07:28] arfon commented on #2720
@katjaq - thanks for your submission to JOSS. A couple of quick questions:

1. Could you explain the relationship between this submission and https://github.com/r03ert0/thresholdmann ? This looks to be a fork?
2. Could you point us to the JavaScript components that have been authored as part of this work? (e.g. `thresholdmann.js`)

[2020-10-05 07:52] katjaq commented on #2720
Hello @arfon .
1. The neuroanatomy Github account is the account of the research group headed by @r03ert0 :) Sometimes we work in repositories in our own accounts, sometimes directly in the lab but when sharing the tools or final script workflows for papers for publication, we share from the @neuroanatomy group account which becomes the main repository for the tool.
2. Everything inside the Thresh

[2020-10-05 07:56] Kevin-Mattheus-Moerman commented on #2697
@bstabler :wave: could you handle this submission? Thanks

[2020-10-05 07:57] Kevin-Mattheus-Moerman commented on #2718
@whedon assign @grlee77 as reviewer

[2020-10-05 07:57] whedon commented on #2718
OK, @grlee77 is now a reviewer

[2020-10-05 08:36] pmkruyen commented on #2506
Hi @gcdeshpande, thanks for starting the review. Can you give an indication when you are able to perform the remaining checks? When you need help with installing the app or experience any issues, please let me know. Best, Peter

[2020-10-05 09:11] rougier commented on #2674
@guest I can do all these command on ReScience (just replace whedon by rougier)...

@alexrockhill I'started testing your software and opened an issue on your repo. You already addressed one of my issue, could you have a look at the new one?

[2020-10-05 09:25] arfon commented on #2720
Got it. Thanks @katjaq.

This submission is on the smaller side of what we allow in JOSS so I'm going to ask for a scope review by the JOSS editorial team. This will take 7-10 days to happen, after which we can look for an editor and possible reviewers.

[2020-10-05 09:25] arfon commented on #2720
@whedon query scope

[2020-10-05 09:26] whedon commented on #2720
Submission flagged for editorial review.

[2020-10-05 09:28] arfon commented on #2720
@katjaq - also,  `joss-paper-branch` and `master` don't seem to be the same (i.e. there are additional JavaScript files in `master`). Could you clarify which branch you want reviewed?

[2020-10-05 09:34] Kevin-Mattheus-Moerman commented on #2435
@stheid yes but please also add the city

[2020-10-05 09:37] oliviaguest commented on #2668
@whedon set 10.5281/zenodo.4065389 as archive

[2020-10-05 09:37] whedon commented on #2668
OK. <a href="https://doi.org/10.5281/zenodo.4065389" target="_blank">10.5281/zenodo.4065389</a> is the archive.

[2020-10-05 09:39] oliviaguest commented on #2668
Great! @adamltyson I think the title of the repo on zenodo has to be the same as the title of the JOSS paper — change that when you get a moment. 😊

[2020-10-05 09:39] oliviaguest commented on #2668
@whedon check references

[2020-10-05 09:40] adamltyson commented on #2668
Done

[2020-10-05 09:41] oliviaguest commented on #2668
@whedon generate pdf

[2020-10-05 09:41] whedon commented on #2668
PDF failed to compile for issue #2668 with the following error:

 Can't find any papers to compile :-(

[2020-10-05 09:42] oliviaguest commented on #2668
@whedon generate pdf from branch joss

[2020-10-05 09:42] whedon commented on #2668
[code]

[2020-10-05 09:43] whedon commented on #2668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02668/joss.02668/10.21105.joss.02668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02668/joss.02668/10.21105.joss.02668.pdf) :page_facing_up: :point_left:

[2020-10-05 09:43] oliviaguest commented on #2668
@whedon check references from branch joss

[2020-10-05 09:43] whedon commented on #2668
[code]

[2020-10-05 09:43] oliviaguest commented on #2668
@whedon set v1.0.0 as version

[2020-10-05 09:44] whedon commented on #2668
OK. v1.0.0 is the version.

[2020-10-05 09:46] oliviaguest commented on #2668
@whedon accept

[2020-10-05 09:46] whedon commented on #2668
[code]

[2020-10-05 09:46] whedon commented on #2668
PDF failed to compile for issue #2668 with the following error:

 Can't find any papers to compile :-(

[2020-10-05 09:48] oliviaguest commented on #2675
@alexrockhill I would appreciate your input here — are you free/able to review this?

[2020-10-05 09:50] oliviaguest commented on #2674
@rougier can you link to any relevant issues here please, so we can all have them organised and accessible? 😊

[2020-10-05 09:51] oliviaguest commented on #2668
@whedon accept from branch joss

[2020-10-05 09:51] whedon commented on #2668
[code]

[2020-10-05 09:51] whedon commented on #2668
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1779

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1779, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-05 10:13] katjaq commented on #2720
Thank you for your feedback @arfon .
I updated the joss-paper-branch where the actual paper files live, and now has the updated code as well. So the code is same in both branches, only the paper.md and bib files are an addition in the paper branch. The Web tool is being served to GitHub pages from master. (but now both branches are equal in terms of code so it doesn't matter).

[2020-10-05 10:35] arfon commented on #2668
@whedon accept deposit=true from branch joss

[2020-10-05 10:35] whedon commented on #2668
[code]

[2020-10-05 10:36] whedon commented on #2668
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1313065522490155010) 👈 🐦🐦🐦

[2020-10-05 10:36] whedon commented on #2668
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1780
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02668](https://doi.org/10.21105/joss.02668)
2. If everything looks g

[2020-10-05 10:43] adamltyson commented on #2668
Awesome, thanks @oliviaguest, @typically, @vitay!

@arfon - We've been very (very) impressed with the JOSS process, thanks!

[2020-10-05 10:44] FedeClaudi commented on #2668
Yes, thank you very much to everyone involved.
And I can confirm, the submission process as JOSS was very impressive!

[2020-10-05 10:52] joannawolthuis commented on #2410
@lpantano Same here, looks good! :) Thanks @waxlamp and VIIME team!

[2020-10-05 11:05] stheid commented on #2435
https://github.com/upb-lea/openmodelica-microgrid-gym/commit/a259b405cf4760bc3af1979f6d51b4ce2e00c555

Sorry, i thought it would be clear enough ^^;  But i added it now.

[2020-10-05 11:40] arfon commented on #2668
@typically, @vitay - many thanks for your reviews here and to @oliviaguest for editing this submission ✨

@adamltyson @FedeClaudi - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-05 11:40] #2668 closed

[2020-10-05 11:40] whedon commented on #2668
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02668/status.svg)](https://doi.org/10.21105/joss.02668)

**We need your help!**

Journal of Open Source Softwa

[2020-10-05 11:45] arfon commented on #2435
@whedon accept

[2020-10-05 11:45] whedon commented on #2435
[code]

[2020-10-05 11:45] whedon commented on #2435
[code]

[2020-10-05 11:46] whedon commented on #2435
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1781

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1781, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-05 11:46] arfon commented on #2435
@whedon accept deposit=true

[2020-10-05 11:46] whedon commented on #2435
[code]

[2020-10-05 11:47] lpantano commented on #2334
Hi @erinyoung, any updates on this?

[2020-10-05 11:48] whedon commented on #2435
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1313083515286716418) 👈 🐦🐦🐦

[2020-10-05 11:48] whedon commented on #2435
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1782
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02435](https://doi.org/10.21105/joss.02435)
2. If everything looks g

[2020-10-05 11:49] lpantano commented on #2410
Excellent! thank you so much.

[2020-10-05 11:50] lpantano commented on #2410
@waxlamp, can you create a zenodo archive of the repository and share here? Title and authors should match the paper information. Thanks!

[2020-10-05 11:56] arfon commented on #2435
@katyhuff, @gonsie - many thanks for your reviews here and to @dhhagan for editing this submission ✨

@stheid - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-05 11:56] #2435 closed

[2020-10-05 11:56] whedon commented on #2435
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02435/status.svg)](https://doi.org/10.21105/joss.02435)

**We need your help!**

Journal of Open Source Softwa

[2020-10-05 12:42] KristinaRiemer commented on #2680
No problem at all @arbennett and thanks for being willing!

[2020-10-05 12:42] KristinaRiemer commented on #2680
@whedon add @arbennett as reviewer

[2020-10-05 12:42] whedon commented on #2680
OK, @arbennett is now a reviewer

[2020-10-05 12:43] KristinaRiemer commented on #2680
@whedon start review

[2020-10-05 12:43] whedon opened #2721 "[REVIEW]: Mangal.jl and EcologicalNetworks.jl: Two complementary packages for analyzing ecological networks in Julia"
**Submitting author:** @FrancisBanville (<a href="http://orcid.org/0000-0001-9051-0597">Francis Banville</a>)
**Repository:** <a href="https://github.com/EcoJulia/EcologicalNetworks.jl" target ="_blank">https://github.com/EcoJulia/EcologicalNetworks.jl</a>
**Version:** v0.4.3
**Editor:** @KristinaRiemer
**Reviewer:** @kellykochanski, @arbennett
**Archive:** <a href="https://doi.org/10.5281/zenodo.

[2020-10-05 12:43] whedon commented on #2680
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2721.

[2020-10-05 12:43] #2680 closed

[2020-10-05 12:43] whedon commented on #2721
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kellykochanski, @arbennett it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2020-10-05 12:43] whedon commented on #2721
PDF failed to compile for issue #2721 with the following error:

 Can't find any papers to compile :-(

[2020-10-05 12:44] KristinaRiemer commented on #2680
@kellykochanski @arbennett the actual review will happen in the issue linked to above. Let me know there if you have questions!

[2020-10-05 12:45] JolleJolles commented on #2584
@marcosvital is there anything else you need me to do? And what are the next steps for publishing the paper? Many thanks

[2020-10-05 12:50] berenger-eu commented on #2444
@whedon generate pdf

[2020-10-05 12:51] whedon commented on #2444
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02444/joss.02444/10.21105.joss.02444.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02444/joss.02444/10.21105.joss.02444.pdf) :page_facing_up: :point_left:

[2020-10-05 12:54] berenger-eu commented on #2444
Dear @sarats  thanks for your comments.
I answer each point here.

This is our next objective. However, the FMM has an irregular data structure (the tree) and we would like to stay at a high-level (C++ and not C). Consequently, most runtime systems are not adapted. Therefore, we plan first to improve our SPETABARU runtime system to support GPUs (this is a wok in progress) and second to validate th

[2020-10-05 12:57] adamltyson commented on #2668
Hi @arfon, I just noticed the link to the repo on the JOSS page links to the branch with the paper on (that won't be updated), rather than the link at the top of this issue ([https://github.com/brainglobe/bg-atlasapi/](https://github.com/brainglobe/bg-atlasapi/)). Is it possible for this to be changed?

[2020-10-05 13:01] liberostelios commented on #2537
@whedon generate pdf

[2020-10-05 13:02] whedon commented on #2537
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02537/joss.02537/10.21105.joss.02537.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02537/joss.02537/10.21105.joss.02537.pdf) :page_facing_up: :point_left:

[2020-10-05 13:06] arfon commented on #2668
Fixed!

[2020-10-05 13:36] usethedata commented on #2717
@whedon add @clynnes as reviewer

[2020-10-05 13:36] whedon commented on #2717
OK, @clynnes is now a reviewer

[2020-10-05 13:40] usethedata commented on #2717
@whedon invite @cflynnes as reviewer

[2020-10-05 13:48] liberostelios commented on #2537
Personally, I am happy with the improvements made by @geekysquirrel. The motivation is now more clear.

I think the work is very well done, the documentation is thorough and it should be accepted.

[2020-10-05 14:04] caldarolamartin commented on #2693
Hi! I've just posted an issue with my review comments.

[2020-10-05 14:04] kthyng commented on #2497
At present, we need to hear from both reviewers @kakearney and @castelao regarding the reviewer checklists above which have not been completed to see what issues remain. We have already heard from @kakearney about a plan to check some tests, but that it will take a little bit to get back to this.

[2020-10-05 14:10] 62442katieb commented on #2718
@Kevin-Mattheus-Moerman looks like an interesting toolbox, but I don't have access to a GPU at the moment

[2020-10-05 14:14] kthyng commented on #2379
Hi all! I am the rotating associate editor in chief this week. I see that nothing has happened on this review for over a month. I'd like to check in and see where we are at. My brief perusal of this review issue looks like items have been brought up by reviewers @karthik and @njtierney and responded to be the author @MAnalytics. However, many review boxes remain unchecked. What is the next step in

[2020-10-05 14:16] kthyng commented on #2395
@whedon generate paper from branch joss-paper

[2020-10-05 14:16] whedon commented on #2395
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-05 14:16] kthyng commented on #2395
@whedon generate pdf from branch joss-paper

[2020-10-05 14:16] whedon commented on #2395
[code]

[2020-10-05 14:17] whedon commented on #2395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02395/joss.02395/10.21105.joss.02395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02395/joss.02395/10.21105.joss.02395.pdf) :page_facing_up: :point_left:

[2020-10-05 14:19] alexrockhill commented on #2675
Sure, I can have this done in a week

[2020-10-05 14:22] kthyng commented on #2580
Hi all! I am the rotating associate editor in chief for the week and want to check in here since it's been awhile since there has been activity on this review. It looks like we may have a complete review from @brandondube, no review from @jrasakanthan, and partial review from @jdavidli. I think we can take a step forward if @brandondube can verify if that review is finished, get a review started f

[2020-10-05 14:26] kthyng commented on #2395
Hi @W4ngatang, @thomwolf! I have generated the pdf for this submission above, so you should have what you need to work on your review. Please reach out to @bmcfee or the handle `joss-eics` if you have any questions (which I am not pinging currently because it would ping me and I am already here and others who are not currently on duty).

[2020-10-05 14:29] kthyng commented on #2176
Hi all! I am the rotating editor in chief this week. I see it has been awhile since there has been activity on this submission, but it looks pretty much done. @jedbrown what steps are left before you'd like me to take over to finish publishing? @WilkAndy have you finished the items listed just above here?

[2020-10-05 14:31] kthyng commented on #2597
Hi @jodemaey! I am the rotating associate editor in chief this week and am going through stale submissions. I see that one of your reviewers put forth some comments above but you haven't responded yet. Will you be able to get to this soon? If not, that is ok, but we should in that case pause this submission. I recommend that we pause this if we haven't heard back from the author within a week or s

[2020-10-05 14:33] brandondube commented on #2580
Yes, my review is complete. LGTM!

[2020-10-05 14:38] kthyng commented on #2606
Hello! I am the rotating associate editor in chief and am checking in on stale reviews. Will reviewers @Paul92, @urbanophile have a chance to start on/continue your reviews sometime soon? It's been over a month since the review started. Thanks!

[2020-10-05 14:42] oliviaguest commented on #2675
@whedon add @alexrockhill as reviewer

[2020-10-05 14:42] kthyng commented on #2558
@egonw Totally understand the trouble with the start of the academic year! As the rotating associate editor in chief this week, I am going to pause this submission while we wait for your responses to start. This is for bookkeeping purposes and can be removed whenever you are ready to move forward. Thanks!

[2020-10-05 14:43] whedon commented on #2675
OK, @alexrockhill is now a reviewer

[2020-10-05 14:44] kthyng commented on #2512
@terrytangyuan Just a ping here about this pre-review issue. Looks like we are in need of some reviewers here. Thanks!

[2020-10-05 14:46] sadielbartholomew commented on #2597
Regarding your comment @kthyng, just to clarify that I was waiting on the submitting author's response to the first reviewers' comments, as in https://github.com/openjournals/joss-reviews/issues/2597#issuecomment-683972381, before starting my review, in case there were any significant changes made to the codebase or paper based on that feedback.

However, as you state it has been a while now, a go

[2020-10-05 14:49] kthyng commented on #1942
@Chilipp and @pythonpanda2 Hi! I am the rotating associate editor in chief here this week trying to help ping stale issues. @Chilipp I see you said just above that you are satisfied with the submission, but you have a lot of unchecked boxes above. Could you either check the boxes or state what are the next issues?
@pythonpanda2 How is your review coming along?

Thanks all!

[2020-10-05 14:50] matbesancon commented on #2564
Regarding the paper, thanks to the authors for the modifications. It is much clearer as-is. Few additional comments and remarks:

- The key motivation for the software is to handle sparse structures. Could the authors provide an idea of the size of problems where the sparse structure pays off compared to representing the problem with dense data structures (vectors and matrices)? Have some comparis

[2020-10-05 14:51] jodemaey commented on #2597
Hi @kthyng and @sadielbartholomew,

There was a misunderstanding here. I was waiting for the second review to address all the comments at once.

In any case I'm not able to work on this until the end of October. At that time I will work again fully on qgs and will address the comments and suggestions of @eviatarbach .

[2020-10-05 14:52] kthyng commented on #2153
Hi all! As the rotating associate editor in chief this week, I just wanted to check in on this issue. I see unchecked review boxes above. How is your review going @mado89, @feliperodri, @s0nata, @UTH-Tuan? Thanks all for your work!!

[2020-10-05 14:54] Chilipp commented on #1942
Hello @kthyng! There seems to be a misunderstanding. No, the items are not yet resolved. My last comment just states that the open points I mentioned are still open. @benjaminbolling just made some changes yesterday and I'll review them as soon as possible

[2020-10-05 14:56] VivianePons commented on #2710
@whedon add @milancurcic as reviewer

[2020-10-05 14:56] whedon commented on #2710
OK, @milancurcic is now a reviewer

[2020-10-05 14:58] sadielbartholomew commented on #2597
Sorry that there was this misunderstanding, @jodemaey.

If you are unable to make changes until November it sounds like it would be best for me to complete my review by then so that you can know what else, if anything, might need to be addressed. I will ensure I have my review completed by then, and try to do it much sooner anyhow, now that I know about the situation. Thanks.

[2020-10-05 14:59] kthyng commented on #2597
@jodemaey, @sadielbartholomew I'm glad I commented then to clear this up!

@sadielbartholomew sounds good to me. I will not pause this submission then since we'll expect to hear from you in the next month with your review, and then subsequently from @jodemaey with responses.

Thanks all!

[2020-10-05 15:00] kthyng commented on #1942
@Chilipp Ok excellent! Thanks for your response and glad things are working out ok.

[2020-10-05 15:02] jodemaey commented on #2597
@sadielbartholomew , I am also sorry about this, I should have replied to Eviatar's review to clarify this. Thank you in advance for your review.

@kthyng Thank you.

[2020-10-05 15:04] kthyng commented on #2362
@gkthiruvathukal Unless you can track down an email address for @e-dub to try another contact venue, this may be a good time to find a replacement reviewer.

[2020-10-05 15:09] kthyng commented on #2131
Hi @breezykermo! I am the rotating associate editor in chief this week so I can help with your question. JOSS reviews are done as a github issue (which will be opened separately from this pre-review issue). They are checklist-driven, and you can get more information on the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. We basically want reviewers to use the software

[2020-10-05 15:13] kthyng commented on #2131
@tkonolige as you can see, @poulson is having a hard time finding reviewers for your submission. I wouldn't say that any familiarity with the JOSS community is needed to suggest reviewers, just like it isn't for a traditional academic paper. We provide a list of possible reviewers you can [peruse](https://bit.ly/joss-reviewers) to see if anyone seems like a fit (if so, please list them here withou

[2020-10-05 15:14] mscroggs commented on #2682
@whedon generate pdf

[2020-10-05 15:15] whedon commented on #2682
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02682/joss.02682/10.21105.joss.02682.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02682/joss.02682/10.21105.joss.02682.pdf) :page_facing_up: :point_left:

[2020-10-05 15:16] mscroggs commented on #2682
@meg-simula Thanks, we've shortened and restructured it

[2020-10-05 15:25] arokem commented on #2663
Thanks @DanielLenz for these comments.

@Nico-Curti : please let us know when you've had a chance to address everything.

[2020-10-05 15:44] dpsanders commented on #2512
It's not my area of expertise either. You could try asking e.g. Mike Innes, Anthony Blaom and Thibaud Lenart, who have worked on other ML tools in the Julia ecosystem.

[2020-10-05 15:55] nwu63 commented on #2564
Hi Mathieu, thanks for the detailed review, I'll address the code issues shortly. As for your questions:
- The motivation is not for data storage or computational efficiency in numerical linear algebra, since we only deal with problems with maybe a few thousand DVs. Obviously there would be benefits if you are using hundreds of thousands of DVs, but this is not typically done in our work. However,

[2020-10-05 16:15] lskatz commented on #2334
We have one more thing that I hope will be an update.  I have been trying to make a multistage build for the container to make things easier.  It has been taking me a couple of weeks to learn this process and I'm not quite there yet... but I hope it will make the review process easier if it works 🤞.  If it works then hopefully it makes @erinyoung and @lfaller 's lives easier :)

[2020-10-05 16:22] lpantano commented on #2638
@whedon add @marcrr as reviewer

[2020-10-05 16:22] whedon commented on #2638
OK, @marcrr is now a reviewer

[2020-10-05 16:56] sbenthall commented on #2528
@whedon set https://doi.org/10.5281/zenodo.4057108 as archive

[2020-10-05 16:56] whedon commented on #2528
OK. <a href="https://doi.org/10.5281/zenodo.4057108" target="_blank">10.5281/zenodo.4057108</a> is the archive.

[2020-10-05 16:56] sbenthall commented on #2528
@whedon set 0.1.11 as version

[2020-10-05 16:56] whedon commented on #2528
OK. 0.1.11 is the version.

[2020-10-05 16:57] sbenthall commented on #2528
I recommend this paper for acceptance.

[2020-10-05 16:57] sbenthall commented on #2528
@whedon accept

[2020-10-05 16:57] whedon commented on #2528
[code]

[2020-10-05 16:57] whedon commented on #2528
[code]

[2020-10-05 16:57] whedon commented on #2528
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1783

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1783, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-05 16:59] sbenthall commented on #2605
Hello. Another reminder to @remram44 and @alexssandrofc to please continue your reviews.

[2020-10-05 17:02] sbenthall commented on #2655
@ninjin would you be able to review this article?

[2020-10-05 17:03] sbenthall commented on #2655
@jarvist would you be able to review this article?

[2020-10-05 17:05] terrytangyuan commented on #2512
@dpsanders Thanks! Do you have their GitHub IDs by any chance?

[2020-10-05 17:08] diehlpk commented on #2599
@whedon generate pdf

[2020-10-05 17:09] diehlpk commented on #2599
@whedon check DOI

[2020-10-05 17:09] whedon commented on #2599
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-05 17:09] whedon commented on #2599
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02599/joss.02599/10.21105.joss.02599.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02599/joss.02599/10.21105.joss.02599.pdf) :page_facing_up: :point_left:

[2020-10-05 17:09] diehlpk commented on #2599
@whedon commands

[2020-10-05 17:09] whedon commented on #2599
Here are some things you can ask me to do:

[code]

[2020-10-05 17:10] diehlpk commented on #2599
@whedon check references

[2020-10-05 17:19] diehlpk commented on #2599
@tbrown122387

Following remarks:

I think, that it would be beneficial for the reader to have a link to the README.md file here

`this is “Option 2” described in theREADME.mdfile`

and same for examples/svol_sisr.h here

`The fileexamples/svol_sisr.hprovides an example of writing a class template calledsvol_sisrfor this model-algorithm pair`

To make the definitions more prominent, would you like

[2020-10-05 17:27] matbesancon commented on #2564
Thanks for your answer. For the motivation, I feel the first point (telling the optimizer which entries of the Jacobian will always be zero), this is a performance reason, hence my question of comparing it to a dense formulation or modelling library.
In any case, the motivation could be expanded a bit in the statement of need section.

The use case for the history (and the way it works) could also

[2020-10-05 17:46] nwu63 commented on #2564
- Right, I agree. However I just want to point out that we do not implement anything in the optimizer -- all the optimizers here are developed by others. We merely provide sparse Jacobians for optimizers that support them, so the discussion on performance would be specific to each optimizer, and IMO outside the scope of this work. The main contribution here is related to the second point, where th

[2020-10-05 17:48] mbobra commented on #2719
@Kevin-Mattheus-Moerman @arfon I am happy to edit! I think I can be an objective editor, but I do want to mention that I've used PFSSPy and opened issues on the repo ([see here](https://github.com/dstansby/pfsspy/issues/211)). Is this okay? If so, I will assign myself as editor.

[2020-10-05 17:55] arfon commented on #2719
I think this is OK for you to go ahead and edit. Thanks for declaring this :-)

[2020-10-05 18:04] melissawm commented on #2658
Hello, @jbuisine ! Before we proceed into the review stage, I'd like to suggest a careful review of JOSS's [Submission Requirements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). More specifically, I would suggest a stronger statement of need and a description of where this software fits into the current landscape, as it's not clear what differentiates it fro

[2020-10-05 18:19] agahkarakuzu commented on #2718
@Kevin-Mattheus-Moerman I've arranged GPU access, happy to help out!

[2020-10-05 18:26] melissawm commented on #2711
Hello @kfhiga ! Before we start the review stage, I would suggest checking your references, in particular (Higa & Srinivasan (2015)) which appears to be missing its title, and the capitalization in some of the titles/project names. If you have any suggestions for reviewers, you can let me know (without tagging them with an @). Thank you!

[2020-10-05 18:29] kfhiga commented on #2711
Thank you, Dr. Mendonça! I will try to check on those later today.
Best regards,
Kenny

On Mon, Oct 5, 2020 at 11:26 AM Melissa Weber Mendonça <
notifications@github.com> wrote:

[2020-10-05 18:29] mbobra commented on #2719
@whedon assign @mbobra as editor

[2020-10-05 18:29] whedon commented on #2719
OK, the editor is @mbobra

[2020-10-05 18:37] mbobra commented on #2719
Thanks for your submission, @dstansby!

I'll work on finding reviewers. If you have any suggestions (from the [reviewer spreadsheet](https://bit.ly/joss-reviewers) or otherwise), please let me know. You can suggest them without a mention, e.g. mbobra instead of @mbobra.

[2020-10-05 19:31] mathieuboudreau commented on #2718
Since @agahkarakuzu and I are from the same lab, I yield to him and decline for myself.

[2020-10-05 19:38] DARSakthi commented on #2718
I can try to arrange for GPU access. If another reviewer is needed

In general, and as an item of interest for the authors, GPUs are hard to
come by -- including solutions like Google Collab - based scripts, which
allows for free GPU access, could be valuable in expanding the user base.

Let me know if no one else steps up @Kevin-Mattheus-Moerman. Looks like an
interesting paper

Cheers

On Mon, 5

[2020-10-05 19:50] remram44 commented on #2605
Apologies for the delay, I am reviewing today.

Some notes before I go into running the software:

* The commit history is very short (June 28 - July 9)
  * @gdede-hua is the only committer, along with one macro-commit from Dimitrios Alexandrakis [`39945023`](https://github.com/gdede-hua/decision-survey-platform/commit/39945023795e64f4b42146ff410379291f3fd6ef). Hard to tell if the author list is c

[2020-10-05 19:52] dpsanders commented on #2512
MikeInnes, ablaom, tlienart

[2020-10-05 19:55] terrytangyuan commented on #2512
@MikeInnes @ablaom @tlienart Please let us know if you'd like to review for this submission. Thanks!

[2020-10-05 20:00] marcosvital commented on #2584
@JolleJolles, we are almost there! You will need to archive the last release of the package (on Zenodo, figshare, or other) if you already didn't do this. After that, just let me know the archive DOI. Once this is done, we'll be ready to publish.

[2020-10-05 20:01] marcosvital commented on #2584
@whedon set v3.2.0 as version

[2020-10-05 20:01] whedon commented on #2584
OK. v3.2.0 is the version.

[2020-10-05 20:10] Kevin-Mattheus-Moerman commented on #2718
@whedon add  @agahkarakuzu as reviewer

[2020-10-05 20:10] whedon commented on #2718
OK,  @agahkarakuzu is now a reviewer

[2020-10-05 20:12] Kevin-Mattheus-Moerman commented on #2718
@DARSakthi if you are still interested I'd like to add you as a third reviewer, let me know. Thanks!

[2020-10-05 20:27] dstansby commented on #2719
Not sure what the best way to filter through the reviewer spreadsheet is, but from the bottom up the first handful of people with both python and astrophysics mentioned are: sibirrer, cxwx, JBorrow, cavestruz, sambit-giri, ashkelly

[2020-10-05 20:39] karthik commented on #2379
Thanks for checking in @kthyng. It's been on our list to finish this. We'll complete the reviews this week. Appreciate the nudge. :pray:

[2020-10-05 21:15] pdebuyl commented on #2653
@coatless @agisga gentle reminder

[2020-10-05 21:18] WilkAndy commented on #2176
Hi @kthyng , I just got back from holidays and am addressing a backlog of TODO items.  I have not implemented the items mentioned above by @jedbrown, but hope to do them this week.  However, because of a disastrous computer crash at Idaho National Labs, the whole MOOSE project has been severely impacted so I don't expect the changes, tagging, etc, will be reviewed and merged within the week, so I

[2020-10-05 22:22] AlexMikes commented on #2362
Thanks, @gkthiruvathukal and @kthyng

Let me know if I can do anything to help move this along

[2020-10-05 22:23] remram44 commented on #2605
I am still getting LAPACK etc set up, but going over the code:

* There are no tests
* Only PHP 5.6 is supported, which is end-of-life since 2018 (PHP 7 was released 2015). This is sure to be a problem going forward
* Some content seems to still be in Greek (mostly button labels, some `alert()` calls)
* There is significant code duplication
  * [`en/admin/quest3.php`](https://github.com/gdede-hua/

[2020-10-05 22:46] bradyrx commented on #2717
Wonderful, great to see it! Thanks for the update.

[2020-10-05 22:47] remram44 commented on #2605
I managed to build LAPACK, install PHP 5.6, and run the software.

* Minor: The name of the system is wrong in the README (decision-making-system)
* The apache configuration file is missing (instructions say to "copy the `apache/decision-making-system.conf` into `/etc/apache2/sites-available/`" however the file is not in the repository). I created my own and was able to proceed
* MD5 is a very wea

[2020-10-05 23:56] mathpluscode commented on #2705
@whedon generate pdf

[2020-10-05 23:57] whedon commented on #2705
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02705/joss.02705/10.21105.joss.02705.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02705/joss.02705/10.21105.joss.02705.pdf) :page_facing_up: :point_left:

[2020-10-05 23:59] mathpluscode commented on #2705
@whedon check references

[2020-10-06 00:00] whedon commented on #2705
[code]

[2020-10-06 00:12] kfhiga commented on #2711
Dear Dr. Mendonça,
I've fixed the bibliography issues and pushed the updates to my repository.
Thank you!
Kenny

On Mon, Oct 5, 2020 at 11:29 AM Kenneth Higa <khiga@lbl.gov> wrote:

[2020-10-06 00:36] usethedata commented on #2553
You are correct that the issue is the software being in Visual Basic.  JOSS itself does not have any particular language preference.  However, the communities to which we are connected do seem to have some preferences.  I can say that there is a significant cadre of people working with JavaScript, so finding people with microscopy/imaging and JavaScript expertise is a much more tractable task.  As

[2020-10-06 01:29] jgostick commented on #2624
Hi @nicolet5

Here is a checklist of things for you to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here.
- [ ] Make sure that the title a

[2020-10-06 01:33] jgostick commented on #2671
I would  suggest to leave out any reference to future functionality.  It makes the paper feel like a temporary sign post rather than a destination when you talk about all the things you want to add, more like wishful thinking. If these future functionalities are important enough, then the software is incomplete without it.  That's not official JOSS policy, just my opinion.

[2020-10-06 02:32] DARSakthi commented on #2718
Sure, I'll do it

On Mon, 5 Oct 2020 at 16:12, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-10-06 04:00] gkthiruvathukal commented on #2362
@kthyng Yes, I'll try to get someone else before the weekend. I've been dealing with a rather intense phase at work. I almost went into "out of office" mode as I thought I could work through this.

@AlexMikes  What could help is to suggest more reviewers. I think I've tried all of your initial suggestions. Let me know if you have any others in mind from our reviewer list.

[2020-10-06 04:06] gkthiruvathukal commented on #2153
@kthyng I think we're really close on this one. I also notice there is no checklist for @UTH-Tuan, who was added as a reviewer. I don't think @feliperodri is still available for this review, which is one of the reasons we added @UTH-Tuan. So I think we only need @mado89 , @s0nata , and @UTH-Tuan to indicate whether they are waiting on any further changes.

[2020-10-06 06:14] ninjin commented on #2655
@sbenthall: Teaching this term and things are in a complete state of chaos due to remote teaching, so sadly I can not handle any reviews at this moment.

[2020-10-06 06:28] mjsottile commented on #2533
Hi @kaustubh-sadekar - I am in the process of seeking out a replacement reviewer for the second reviewer who has gone silent.  I am hoping to find a responsive second reviewer soon so that your review doesn't get stuck.

[2020-10-06 06:31] hugoledoux commented on #2537
@jvdkwast : could you please check if the tests run for you? And confirm that all is good on your side?

[2020-10-06 06:40] mikldk commented on #2600
@whedon add @xin-huang as reviewer

[2020-10-06 06:40] whedon commented on #2600
OK, @xin-huang is now a reviewer

[2020-10-06 06:41] mikldk commented on #2600
@whedon add @nthomasCUBE as reviewer

[2020-10-06 06:41] whedon commented on #2600
OK, @nthomasCUBE is now a reviewer

[2020-10-06 06:41] mikldk commented on #2600
@whedon start review

[2020-10-06 06:41] whedon opened #2722 "[REVIEW]: RCaller: A Java package for interfacing R"
**Submitting author:** @jbytecode (<a href="http://orcid.org/0000-0002-9402-1982">Mehmet Hakan Satman</a>)
**Repository:** <a href="https://github.com/jbytecode/rcaller/" target ="_blank">https://github.com/jbytecode/rcaller/</a>
**Version:** v3.0.3
**Editor:** @mikldk
**Reviewer:** @xin-huang, @nthomasCUBE
**Archive:** <a href="https://doi.org/10.5281/zenodo.4189769" target="_blank">10.5281/zenod

[2020-10-06 06:41] whedon commented on #2600
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2722.

[2020-10-06 06:42] #2600 closed

[2020-10-06 06:42] whedon commented on #2722
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xin-huang, @nthomasCUBE it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-10-06 06:42] mikldk commented on #2722
@whedon generate pdf

[2020-10-06 06:42] whedon commented on #2722
[code]

[2020-10-06 06:42] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-10-06 06:42] mikldk commented on #2722
@xin-huang, @nthomasCUBE: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this re

[2020-10-06 06:43] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-10-06 07:28] yangbai90 commented on #2699
@whedon commands

[2020-10-06 07:28] whedon commented on #2699
Here are some things you can ask me to do:

[code]