[2020-11-21 21:08] danielskatz commented on #2856
👋 @karthik - would you be willing to edit this submission for JOSS?

[2020-11-21 21:08] danielskatz commented on #2856
@whedon invite @karthik as editor

[2020-11-21 21:08] whedon commented on #2856
@karthik has been invited to edit this submission.

[2020-11-21 21:16] karthik commented on #2856
Unfortunately I don't have bandwidth for a new submission till January

[2020-11-21 22:58] danielskatz commented on #2856
👋 @mikldk - would you be able to edit this submission?

[2020-11-21 22:58] danielskatz commented on #2856
@whedon invite @mikldk as editor

[2020-11-21 22:58] whedon commented on #2856
@mikldk has been invited to edit this submission.

[2020-11-22 01:59] zhaowei0566 commented on #2744
Thank the authors @kfhiga  for sharing with the science community an open source code for studying time-dependent and nonlinear user-discretized equations on 0D, 1D, and simple 2D spatial domains using the finite volume method. This may be very useful for people, like me, working on unsteady aerodynamics. I don’t have questions about the technical stuff behind the code as they have been presented

[2020-11-22 04:19] jsgalan commented on #2800
@whedon assign @jsgalan

[2020-11-22 04:20] whedon commented on #2800
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-22 04:21] jsgalan commented on #2800
@whedon commands

[2020-11-22 04:21] whedon commented on #2800
Here are some things you can ask me to do:

[code]

[2020-11-22 04:22] jsgalan commented on #2800
@whedon list reviewers

[2020-11-22 04:22] whedon commented on #2800
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-11-22 07:10] arfon commented on #2740
@pariterre - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-11-22 07:17] arfon commented on #2446
Got it, thanks for the detailed response @lockepatton.

@faroit, @benjaminrose - I realize it's been quite some time since you both agreed to this review but, provided you find @lockepatton's responses above satisfactory, would you both be willing to pick up yours reviews sometime soonish?

Many thanks!

[2020-11-22 07:53] faroit commented on #2446
@arfon sure. I will look into this today

[2020-11-22 13:39] pdebuyl commented on #2854
@whedon check references

[2020-11-22 13:40] whedon commented on #2854
[code]

[2020-11-22 14:39] jbytecode commented on #2844
@whedon generate pdf

[2020-11-22 14:39] whedon commented on #2844
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: :point_left:

[2020-11-22 14:51] pitsianis commented on #2444
It deserves to be published.

The example in the documentation is not complete and it is very confusing to follow, even though I consider myself a member of the target audience for this work. I would have started with a pointer to a simple FMM tutorila and showed how the kernel computations should be expressed in order to be mapped to the functionality provided by this library.

Here are some mino

[2020-11-22 16:01] torressa commented on #2812
Hi @jbuisine thanks for the submission!
Here's my review, I welcome responses and questions in any of the following points. Also, I may have more comments in the future.

### Major Issues (general)

- Documentation: bad.
  - The api is present but badly documented (e.g. "Iterated Local Search Algorithm implementation") and not up to date with the master branch. It needs more elaborate explanations

[2020-11-22 16:50] zingale commented on #2807
I don't see any API documentation on the webpage -- am I missing it?

[2020-11-22 17:03] jsgalan commented on #2800
Hi all, the extensions are created in all databases. Now I got a problem with finding shp2pgsql

<img width="507" alt="Screen Shot 2020-11-22 at 12 01 13 PM" src="https://user-images.githubusercontent.com/971958/99910217-c379a300-2cba-11eb-9108-ed0a9158e3c2.png">

 even thought the bin is listed in the $PATH

<img width="734" alt="Screen Shot 2020-11-22 at 12 03 21 PM" src="https://user-images.git

[2020-11-22 17:04] jsgalan commented on #2800
@fboehm I am unable to click any of the ticks, and I somehow managed to exclude myself from the reviewers :(

Any way this could change?

[2020-11-22 17:06] jsgalan commented on #2800
Hi @henrykironde

Why are there no references in the article proof?

<img width="777" alt="Screen Shot 2020-11-22 at 12 05 45 PM" src="https://user-images.githubusercontent.com/971958/99910308-31be6580-2cbb-11eb-8d05-7809969a9a92.png">

Am I reading the latest version?

Best

[2020-11-22 17:17] henrykironde commented on #2800
Can you try to run `psql` and or `shp2pgsql` from command line

About the citation, I will update that to render correctly

[2020-11-22 17:25] jsgalan commented on #2800
They are accesible from the command line

<img width="432" alt="Screen Shot 2020-11-22 at 12 11 46 PM" src="https://user-images.githubusercontent.com/971958/99910758-d93c9780-2cbd-11eb-933e-69624e33b3ce.png">

[2020-11-22 17:42] majensen commented on #2726
@brantapl - when you have a chance, please go over the comments from @bill-baumgartner and @bensonml above. I think we are closing in, but it looks like there is some work to do.

Once these have been addresses, reviewers please have a look at the result and then go over the items that are currently unchecked in your review forms above.
Thanks for all the work guys-

[2020-11-22 17:49] fboehm commented on #2474
@OscartGiles @tomaslaz - Thanks for your continued work on this. How are you progressing with the revisions? Is there something that I can help with?

[2020-11-22 17:50] fboehm commented on #2800
Yes, Let me fix that @jsgalan.

[2020-11-22 17:51] fboehm commented on #2800
@whedon reinvite @jsgalan as reviewer

[2020-11-22 17:51] whedon commented on #2800
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-22 17:51] fboehm commented on #2800
@whedon commands

[2020-11-22 17:51] whedon commented on #2800
Here are some things you can ask me to do:

[code]

[2020-11-22 17:52] fboehm commented on #2800
@whedon re-invite @jsgalan as reviewer

[2020-11-22 17:52] whedon commented on #2800
OK, the reviewer has been re-invited.

@jsgalan please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-22 17:53] fboehm commented on #2800
@jsgalan - sorry for the difficulty. Please click on the link in the previous comment to confirm your addition as a reviewer. After doing that, you should be able to check the boxes for the review, once you're comfortable doing so.

[2020-11-22 17:56] fboehm commented on #2743
@greggj2016 @raivivek and @dwinter - it looks like there has been a productive discussion in this thread. Is there something that I can help with at this time? @greggj2016 - are the next steps clear to you?

[2020-11-22 18:10] jsgalan commented on #2800
Thanks @fboehm  we will be done with the revision soon

[2020-11-22 18:16] onurvarol commented on #2780
Thank you @sara-02 for checking. @uluturki and I working on revisions and improving the documentation and the paper to address all the requests.

[2020-11-22 18:28] eloisabentivegna commented on #2822
Thanks, @mengaldo! One reviewer has agreed to work on this submission, but we will need at least another one. Please bear with me for a little longer. Thanks!

[2020-11-22 18:45] henrykironde commented on #2800
@jsgalan, I see you are using a Conda environment, make sure that R has access to the same Python paths as well.
Usually, changing to a virtual environment may change the paths. R may be communicating with another python rather that where the programs are installed.

Check the paths in R
[code]
Compare to the ones when python is used from the terminal
[code]

[2020-11-22 18:46] henrykironde commented on #2800
@whedon generate pdf

[2020-11-22 18:46] Chilipp commented on #1942
Thanks for your patience and apologies again for the delay @majensen and @benjaminbolling!

I went through all open points from the checklist for JOSS and understand them as fulfilled. So I recommend this paper to be accepted.

[2020-11-22 18:46] whedon commented on #2800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: :point_left:

[2020-11-22 18:50] yoelcortes commented on #2814
Hi @decaluwe and @fwitte,

I have taken care of the issues on Github and made edits to the manuscript. I'd like to address each of your comments in detail here and note the changes I made:

Professor DeCaluwe:

1.   Depending on one's definition of "a diverse, non-specialist audience," the intro could probably be written a little bit broader. For example, phrases like "unit operations" and even "c

[2020-11-22 19:12] fwitte commented on #2814
@whedon generate pdf

I think, it must be the first line of the comment @yoelcortes. Anyway, thank you very much for promoting me to Professor 🎉 :P.

I will have a look on the new/improved generic reaction implementation and the paper tomorrow.

[2020-11-22 19:13] whedon commented on #2814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02814/joss.02814/10.21105.joss.02814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02814/joss.02814/10.21105.joss.02814.pdf) :page_facing_up: :point_left:

[2020-11-22 19:37] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila @CBenghi thanks for your help with this review! :tada:

[2020-11-22 23:04] pythonpanda2 commented on #1942
I have reviewed the checklist. I would  recommend the DynaGUI research software article  for publication in JOSS.

[2020-11-23 02:53] milicag commented on #2695
The version number: v2.0.0
DOI: 10.5281/zenodo.4285623

@sjpfenninger

[2020-11-23 03:43] jordanperr commented on #2828
Review for PySensors: A Python Package for Sparse Sensor Placement

Pysensors is a Python implementation of the SSPOC (pysensors.classification.SSPOC) and SSPOR (pysensors.reconstruction.SSPOR) methods to perform optimization of sensor placement. These methods are published in (Brunton, 2016) which is cited in both the documentation and in the paper. The repository under review contains documentat

[2020-11-23 06:08] ktkimcode commented on #2850
@danielskatz - Thanks very much for giving us a prompt feedback regarding our submission. We understand your concerns regarding the relatively small size of the project and its young age. Please allow us to provide additional information that can help you and the editorial board to assess the substantial scholarly effort criteria for consideration in JOSS.

- **Age of software**: The design and im

[2020-11-23 07:09] hemanthpruthvi commented on #2693
@pibion  DOI is
[10.5281/zenodo.4285762](https://doi.org/10.5281/zenodo.4285762)

[2020-11-23 07:11] fwitte commented on #2814
Hi Yoel,
thank you very much for taking your time and carefully addressing all of my comments and issues. Regarding the paper, I really think the second last paragraph does a very good job of highlighting thermosteam's advantages and differentiation.
For me, there is only one more comment to be addressed (regarding the heat of formation of gasoues water in BioSTEAMDevelopmentGroup/thermosteam#29).

[2020-11-23 07:12] hugoledoux commented on #2853
potential reviewers:

  1. clausnagel
  1. ganys
  1. chenkianwee
  1. https://3dom.fbk.eu/people/profile/eozdemir (not sure on github though)
  1. https://research.utwente.nl/en/persons/sander-oude-elberink (not sure on github though)

[2020-11-23 08:44] oliviaguest commented on #2779
@dmey can you give me some ideas for reviewers, please? 😊

[2020-11-23 08:49] jcolomb commented on #2282
I am on it! I will get a extra code meant for review.

[2020-11-23 09:49] oliviaguest commented on #2779
@whedon add @khinsen as reviewer

[2020-11-23 09:49] whedon commented on #2779
OK, @khinsen is now a reviewer

[2020-11-23 10:41] drvinceknight commented on #2833
@whedon commands

[2020-11-23 10:41] whedon commented on #2833
Here are some things you can ask me to do:

[code]

[2020-11-23 10:42] drvinceknight commented on #2833
@whedon generate pdf

[2020-11-23 10:43] whedon commented on #2833
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02833/joss.02833/10.21105.joss.02833.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02833/joss.02833/10.21105.joss.02833.pdf) :page_facing_up: :point_left:

[2020-11-23 10:44] drvinceknight commented on #2833
@whedon check references

[2020-11-23 10:46] drvinceknight commented on #2833
@salrm8 do you have any suggestions for reviewer? Looking through the list of potential reviewers: https://bit.ly/joss-reviewers a number jump out as having experience with both Python and fluid dynamics. No trouble at all if you don't have any suggestions :)

[2020-11-23 10:46] whedon commented on #2833
[code]

[2020-11-23 11:27] salrm8 commented on #2833
Thanks you. I just did a quick search and came up with this list: prmiles, georgiastuart, ctdegroot, jayten
They have experience with UQ, Python and CFD.

[2020-11-23 11:28] OscartGiles commented on #2474
Dear @fboehm , sorry about the delay. I think the changes are now complete.

Thanks very much @fboehm and @craddm for your comments, they were really useful. Hope all is well Matt! (we used to be in the same department at UoL).

I have created a single PR with all the changes (https://github.com/alan-turing-institute/DetectorChecker/pull/116) but the description links to individual PRs which have

[2020-11-23 11:28] drvinceknight commented on #2833
Thank you, I'll start there.

[2020-11-23 12:41] mikldk commented on #2856
@whedon assign me as editor

[2020-11-23 12:41] whedon commented on #2856
OK, the editor is @mikldk

[2020-11-23 12:57] mikldk commented on #2856
@sebkopf Thank you for your submission. I have a few questions and comments:

1) Please remove the `https://doi.org/` prefix in [paper.bib#L22](https://github.com/isoverse/isoreader/blob/master/paper.bib#L22)
2) Please include countries where appropriate in the paper (currently only the Netherlands is mentioned, the US is not)
3) Please confirm the paper's authors; when I look at the repo's [insig

[2020-11-23 13:09] Kokookster commented on #2767
Hi @jgostick,
Hopefully, I addressed all the issues opened by @marshallmcdonnell with the following MRs:
https://gitlab.com/gims-developers/gims/-/merge_requests/30
https://gitlab.com/gims-developers/gims/-/merge_requests/28
https://gitlab.com/gims-developers/gims/-/merge_requests/26
https://gitlab.com/gims-developers/gims/-/merge_requests/25
https://gitlab.com/gims-developers/gims/-/merge_request

[2020-11-23 13:18] melissawm commented on #2744
Thank you all! Can I ask that you confirm (and tag me) once those suggestions have been made and both @zhaowei0566 and @JamieJQuinn are satisfied so we can move to acceptance?

[2020-11-23 13:22] melissawm commented on #2812
Thank you both @stsievert and @torressa for the considerations. @jbuisine do you think this is something you can work on with the reviewers comments? Please let me know in case any of you need clarifications or more information.

[2020-11-23 14:09] jsgalan commented on #2800
Hi that is pointing to the same place

<img width="691" alt="Screen Shot 2020-11-23 at 9 07 11 AM" src="https://user-images.githubusercontent.com/971958/99971641-79042f00-2d6b-11eb-8122-9c0b5eb21c0b.png">

and

<img width="751" alt="Screen Shot 2020-11-23 at 9 07 32 AM" src="https://user-images.githubusercontent.com/971958/99971666-81f50080-2d6b-11eb-9deb-bd519e640d3f.png">

[2020-11-23 14:16] henrykironde commented on #2800
`reticulate::py_config()` can we try this too

[2020-11-23 14:21] jsgalan commented on #2800
<img width="774" alt="Screen Shot 2020-11-23 at 9 21 05 AM" src="https://user-images.githubusercontent.com/971958/99972984-40fdeb80-2d6d-11eb-98b5-ee734fb55f46.png">

[2020-11-23 14:26] jgostick commented on #2767
Hi @arose, how is your review coming along?  The authors have been busy addressing the comments of the other reviewer so will be ready to receive yours soon.

[2020-11-23 14:36] npetra commented on #2690
@sebhaan Thanks very much for addressing all my comments. Please give me 1-2 days to go over the changes and try the new install.

[2020-11-23 14:37] ajjackson commented on #2671
This is good, I will be able to complete the review checklist when it has been merged.

[2020-11-23 14:54] berenger-eu commented on #2444
Dear @pitsianis,

Thanks a lot for your review.
Here are my answers and you can find all the modifications in the following commit:
https://gitlab.inria.fr/bramas/tbfmm/-/commit/5a69342e34cbb3efb65d1353a73a55ebd4138f73

- I did have some colleagues who reviewed the paper already, but I do not have any English native speaker around. I re-read the paper several times with the aim of finding the awkw

[2020-11-23 14:54] berenger-eu commented on #2444
@whedon generate pdf

[2020-11-23 14:55] whedon commented on #2444
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02444/joss.02444/10.21105.joss.02444.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02444/joss.02444/10.21105.joss.02444.pdf) :page_facing_up: :point_left:

[2020-11-23 15:15] kbarnhart commented on #2804
@johnjarmitage, @cmshobe I wanted to write with a quick check-in to see if you had any questions for me about the JOSS review process.

[2020-11-23 15:38] akrinos commented on #2817
@whedon generate pdf

[2020-11-23 15:39] whedon commented on #2817
PDF failed to compile for issue #2817 with the following error:

 Error reading bibliography file paper.bib:
(line 461, column 3):
unexpected "b"
expecting space, ",", white space or "}"
Looks like we failed to compile the PDF

[2020-11-23 15:43] chorscroft commented on #2638
@lpantano @marcrr thanks very much to both of you! I have expanded the final paragraph to talk more about the other options available to researchers for running selection scans in R. You were both right, this does read better and make the paper stronger. Thank you very much for your time! Please let me know if there is anything else you'd like me to do.

[2020-11-23 15:47] akrinos commented on #2817
@whedon generate pdf

[2020-11-23 15:48] whedon commented on #2817
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: :point_left:

[2020-11-23 15:52] akrinos commented on #2817
As an update to the above:

- DOIs are now included for all references for which DOIs are available
- The score returned by `pylint $(git ls-files '*.py')` is now 8.26/10
- The flowchart arrows have been moved such that they are no longer covering text on the documentation landing page, as well as in the paper
- All four default databases are now referenced in the paper

We are working on benchmar

[2020-11-23 16:03] benjaminrose commented on #2446
I've got some time this week and next to try and finish this review.

[2020-11-23 16:14] skadio commented on #2646
@danielskatz

First of all, I would like to thank @jpsety for the updates and improvements. Most of these comments were not immediate blockers for me but I shared with you in a positive spirit to improve the work for the next/intended users beyond the lead developer. It's nice to see that some are incorporated and others can be added as well.

Without going into a discussion of assessing the exact

[2020-11-23 16:22] kyleniemeyer commented on #2588
Hello @jmbr, would you be able to review this submission to JOSS, "pyFBS: A Python package for Frequency Based Substructuring", described in the [paper](https://github.com/openjournals/joss-papers/blob/joss.02588/joss.02588/10.21105.joss.02588.pdf) ?

[2020-11-23 16:35] ad48 commented on #2840
Apologies. We did not receive notifications for your messages above. I can confirm that we did both carefully review the 'substantial scholarly effort' submission criteria and believe that the software meets with these requirements. Is there something specific that was lacking? If permissible, we might retry with a later version if we know what the specific issue was.

[2020-11-23 16:40] cMadan commented on #2839
@tramarobin, it looks like the references aren't working here. Are you still working on this, or do you need help debugging it?

[2020-11-23 16:41] danielskatz commented on #2840
In my personal opinion, issues are the size of the codebase and the fact that there's no case being made of why this is research software: software intended to be used by researchers to do their research. For example, a citation manager is useful for researchers, but I don't think we would call it research software, as it doesn't help do specific research.

[2020-11-23 16:43] cMadan commented on #2836
@whedon check references

[2020-11-23 16:45] drvinceknight commented on #2833
Hello @jayten and @ctdegroot, would you be able to review this paper for JOSS entitled: "UQit: A Python package for uncertainty quantification (UQ) in computational fluid dynamics". Given your stated expertise in fluid dynamics and Python I think you'll find it interesting :)

If either of you have any questions about reviewing for JOSS or anything else let me know. There is also very helpful docu

[2020-11-23 16:47] ctdegroot commented on #2291
Aiming for this week. Sorry for the delays.

[2020-11-23 16:49] cMadan commented on #2836
@openjournals/joss-eics, any idea why whedon's not responding here?

[2020-11-23 16:50] danielskatz commented on #2836
@whedon check references

[2020-11-23 16:50] danielskatz commented on #2836
(I always try twice before deciding there's a problem)

[2020-11-23 16:55] greggj2016 commented on #2743
Yes, we have decided to implement Github Actions in order to update the pypi software. This may take a little while longer, but it's really something we were going to do anyway.  It might as well be now.

[2020-11-23 17:14] whedon opened #2857 "[PRE REVIEW]: nf-gwas-pipeline: A Nextflow Genome-Wide Association Study Pipeline"
**Submitting author:** @ZeyuanSong (<a href="http://orcid.org/0000-0002-7352-4177">Zeyuan Song</a>)
**Repository:** <a href="https://github.com/montilab/nf-gwas-pipeline" target ="_blank">https://github.com/montilab/nf-gwas-pipeline</a>
**Version:** v1.0.0
**Editor:** @lpantano
**Reviewers:** @preetida
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-11-23 17:14] whedon commented on #2857
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 17:14] whedon opened #2858 "[PRE REVIEW]: tfShearlab: A TensorFlow implementation of the digital shearlettransform"
**Submitting author:** @arsenal9971 (<a href="http://orcid.org/0000-0001-6020-8936">Hector Andrade Loarca</a>)
**Repository:** <a href="https://github.com/arsenal9971/tfshearlab" target ="_blank">https://github.com/arsenal9971/tfshearlab</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-11-23 17:14] whedon commented on #2858
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 17:14] whedon commented on #2857
[code]

[2020-11-23 17:14] whedon commented on #2857
PDF failed to compile for issue #2857 with the following error:

 Error reading bibliography file paper.bib:
(line 7, column 15):
unexpected "("
expecting white space, "#", "," or "}"
Looks like we failed to compile the PDF

[2020-11-23 17:14] whedon commented on #2858
Failed to discover a `Statement of need` section in paper

[2020-11-23 17:14] whedon commented on #2858
[code]

[2020-11-23 17:15] whedon opened #2859 "[PRE REVIEW]: NFLSimulatoR: Simulating plays and drives in the NFL"
**Submitting author:** @rtelmore (<a href="http://orcid.org/0000-0002-0092-4532">Ryan Elmore</a>)
**Repository:** <a href="https://github.com/rtelmore/NFLSimulatoR" target ="_blank">https://github.com/rtelmore/NFLSimulatoR</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-11-23 17:15] whedon commented on #2858
PDF failed to compile for issue #2858 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (bc4b5aece167ea05215c182b/paper.md): mapping values are not allowed in this context at line 2 column 18 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:in `parse'
	fr

[2020-11-23 17:15] whedon commented on #2859
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-23 17:15] whedon commented on #2859
[code]

[2020-11-23 17:15] sebkopf commented on #2856
@mikldk thank you very much for agreeing to be the editor for this submission

DOI issue and missing country in affiliations addressed in commit https://github.com/isoverse/isoreader/commit/524330bcdc8573ec796641c8751273545f02fdb7

I confirm that the paper's authors are correct. You are right that I did almost all of the actual coding but the biggest challenges for this R package were analyzing an

[2020-11-23 17:15] whedon commented on #2859
PDF failed to compile for issue #2859 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon.rb:204:in `block in parse_authors': Author (Ryan Elmore) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448

[2020-11-23 17:17] whedon commented on #2859
[code]

[2020-11-23 17:17] kfhiga commented on #2744
Thank you, Wei and Melissa.

Wei thanks for the advice. I'll look into reducing the number of licensing
files, but if I remember correctly, the apparent redundancy was a
requirement from my institution as a condition for allowing the open source
release. I will look into the pip or conda packaging--another condition
from the U.S. Department of Energy is that we track the number of
downloads, which

[2020-11-23 17:24] tramarobin commented on #2839
@cMadan yes it seems I can use some help.
I think I correctly modified the DOI issue, and I did not receive other issue with references.

For what I read, I attached my bibliography in the article by writing "bibliography: paper.bib", and I called my reference that is listed in the paper.bib file as  '[@myreference]'

It is the first time I am using bibtext format for references, am I missing some

[2020-11-23 17:28] whedon commented on #2842
:wave: @milancurcic, please update us on how your review is going.

[2020-11-23 17:28] whedon commented on #2842
:wave: @bast, please update us on how your review is going.

[2020-11-23 17:38] ad48 commented on #2840
Thank you for the clarification. The codebase is ~1000 rows which is indeed small but this seems to be in line with JOSS guidelines. It was also recently re-written from another repo - so the stats you have might make it look younger than it is. (But it is intended to be a simple application - not a complex one.) We'd certainly be grateful for criticism if it can be improved.

There are various re

[2020-11-23 17:49] prw99r commented on #2646
I agree with the highlighted contribution that @skadio notes above - I
think that @jpsety has gone partially down the road of dealing with my
concerns and added some useful clarifications. The purpose of our comments
has always been to provide positive criticism to improve the software and
the paper. It can be tough to take sometimes, especially if there is a lot
of time and effort already investe

[2020-11-23 17:57] jorgensd commented on #2687
@whedon generate pdf

[2020-11-23 17:58] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-11-23 18:01] chennachaos commented on #2699
@whedon generate pdf

[2020-11-23 18:02] whedon commented on #2699
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02699/joss.02699/10.21105.joss.02699.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02699/joss.02699/10.21105.joss.02699.pdf) :page_facing_up: :point_left:

[2020-11-23 18:11] arfon commented on #2836
@whedon check references

[2020-11-23 18:16] chennachaos commented on #2699
Hi @flofaucher. Please update the bibliography section of the paper. Update the paper in CMAME with the volume and page numbers, and remove the references that are not yet online in any form.

[2020-11-23 18:20] arfon commented on #2836
It looks like the Crossref API is timing out. I managed to get this to run locally (the DOIs are fine):

[code]

[2020-11-23 18:21] ZeyuanSong commented on #2857
@whedon generate pdf

[2020-11-23 18:22] whedon commented on #2857
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02857/joss.02857/10.21105.joss.02857.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02857/joss.02857/10.21105.joss.02857.pdf) :page_facing_up: :point_left:

[2020-11-23 18:22] arfon commented on #2857
@whedon query scope

@ZeyuanSong – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2020-11-23 18:22] whedon commented on #2857
Submission flagged for editorial review.

[2020-11-23 18:24] arfon commented on #2858
@whedon query scope

@arsenal9971 – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix your paper in the meantime (it looks like the title needs quoting), you c

[2020-11-23 18:25] whedon commented on #2858
Submission flagged for editorial review.

[2020-11-23 18:29] arfon commented on #2859
@whedon query scope

:wave: @rtelmore – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix your paper (it looks like the YAML header isn't right and some DOIs m

[2020-11-23 18:29] whedon commented on #2859
Submission flagged for editorial review.

[2020-11-23 18:29] danielskatz commented on #2840
The current JOSS guidelines is that anything under 1000 LOC is subject to review for just that reason, and this appears to be about 800.  In addition, the research software check is a different one.  I think what you write there is reasonable.  Also note that the paper did not compile (see https://github.com/openjournals/joss-reviews/issues/2840#issuecomment-727085906), which might have made it ha

[2020-11-23 18:40] ad48 commented on #2840
Thank you. That's very helpful feedback. I was looking at the total line count for the repo - I see now it's just the code we're interested in.

We'll give it some thought. Thanks again.

[2020-11-23 19:00] csoneson commented on #2706
Ping @MelvinSMunsaka

[2020-11-23 19:01] danielskatz commented on #2646
Thanks @skadio and @prw99r - Can I ask that check off any remaining items in your checklists in this case?  If there's anything that you feel you can't check off, let's talk about it here so that it's clear what is needed for acceptance (vs future enhancements that would be good but are not needed for acceptance)

Also, please feel free to open any needed issues in [the source repo](https://github

[2020-11-23 19:03] crvernon commented on #2755
@dhhagan We just had @tscheypidi conduct a review on a different submission.  They did a thorough and efficient job and may be an option for this review if you see fit.  Thanks!

[2020-11-23 19:08] dglmoore commented on #2841
@KristinaRiemer I would be happy to review this submission.

[2020-11-23 19:34] akrinos commented on #2817
@johanneswerner I was able to reproduce the error you have been getting from `BUSCO` when trying to run the `sample_EUKulele` example folder.

It is indeed related to `BUSCO` version 4.1.4, in which version the `BUSCO` configuration file is stored in a different location than it was previously. I have implemented a patch that has been deployed to the `conda` build of `EUKulele` that searches for t

[2020-11-23 19:39] kthyng commented on #2782
Hi @marvinjonathcn! Just a friendly ping here to remind you about this review. When might you be able to work on this? Thanks!

[2020-11-23 20:02] pitsianis commented on #2444
I believe all my check boxes are now blue. Nice work!

Yes IEEE is the correct capitalization, no more wrong instances.

The "This could be check by" is in the README.md, in the first statement of Issues - Uniform kernel cannot be used.

[2020-11-23 20:27] chennachaos commented on #2699
Hi @flofaucher. I have the following comments on the **Documentation** section.

1) Automated tests are missing. I suggest adding two automated tests.
2) Include information about contributing to the software, reporting bugs and seeking support.
3) Add equations for the visco-acoustic and visco-elastic problems.
4) Add a section on HDG, explaining briefly what HDG is, followed by a list of referen

[2020-11-23 20:30] pdebuyl commented on #2842
Apparently, our editorial bot is pinging reviews after a week of inactivity. I usually do that "manually", so here goes for the weekly reminder.

[2020-11-23 20:43] pibion commented on #2693
@whedon generate pdf

[2020-11-23 20:43] pibion commented on #2693
@whedon check references

[2020-11-23 20:44] whedon commented on #2693
[code]

[2020-11-23 20:44] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-11-23 21:09] pibion commented on #2693
@whedon check references

[2020-11-23 21:09] whedon commented on #2693
[code]

[2020-11-23 21:10] pibion commented on #2693
@whedon set 10.5281/zenodo.4285762

[2020-11-23 21:10] whedon commented on #2693
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-23 21:11] pibion commented on #2693
@whedon set 10.5281/zenodo.4285762 as archive

[2020-11-23 21:11] whedon commented on #2693
OK. <a href="https://doi.org/10.5281/zenodo.4285762" target="_blank">10.5281/zenodo.4285762</a> is the archive.

[2020-11-23 21:11] pibion commented on #2693
@whedon accept

[2020-11-23 21:11] whedon commented on #2693
[code]

[2020-11-23 21:11] whedon commented on #2693
[code]

[2020-11-23 21:12] whedon commented on #2693
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1933

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1933, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-23 21:13] danehkar commented on #2798
@arfon I made a new release (v0.3.3) in its GitHub repository ([https://github.com/equib/pyEQUIB](https://github.com/equib/pyEQUIB)) and also an archive of the software in Zenodo service:

doi:[10.5281/zenodo.4287576](https://doi.org/10.5281/zenodo.4287576)

[2020-11-23 21:16] danehkar commented on #2797
@arfon I made a new release (v0.3.3) in its GitHub repository ([https://github.com/atomneb/AtomNeb-py](https://github.com/atomneb/AtomNeb-py)) and also an archive of the software in Zenodo service:

doi:[10.5281/zenodo.4287566](https://doi.org/10.5281/zenodo.4287566)

Thank you for reviewing this package.

[2020-11-23 21:33] pariterre commented on #2740
Hi @arfon !
Thanks for the update :)
I would suggest @ixjlyons and @melund (I am not sure for @melund though since he contributed once to the code, I can't remember on what exactly though!)

Do you need more? :)

[2020-11-23 21:36] pibion commented on #2693
@whedon accept deposit=true

[2020-11-23 21:36] whedon commented on #2693
I'm sorry @pibion, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-11-23 21:51] skadio commented on #2646
Revised the Checklist, no need for opening source repo issues from my side.

[2020-11-23 23:28] njtierney commented on #2379
Hi @MAnalytics,

Fantastic, I have checked this now, and it all looks great, well done!

This satisfies my review very much, I have checked the boxes at the top, let me know if there is anything else I need to do to help this get published 😄

[2020-11-23 23:42] henrykironde commented on #2800
Could you please try this in the terminal
[code]
This must be a path problem but it is hard for me to replicate on my side. Could you try running it on another machine or in a virtual environment.

[2020-11-24 00:08] karthik commented on #2379
@MAnalytics We're on the final stretch here. Can you confirm that `0.1.5` is the version number?

[2020-11-24 00:08] karthik commented on #2379
@whedon generate pdf

[2020-11-24 00:08] karthik commented on #2379
@whedon check references

[2020-11-24 00:09] whedon commented on #2379
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: :point_left:

[2020-11-24 00:10] whedon commented on #2379
[code]

[2020-11-24 00:52] mbobra commented on #2629
@amanchokshi We're almost there! Can you please [archive your release on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI and then put that in your README.rst file? Please make sure the authors listed on the Zenodo entry match those listed on the JOSS paper. After that I think we're done 🎉

[2020-11-24 01:03] dghoshal-lbl commented on #2484
@pibion Sorry for the infinite delay in updating the files. Both the paper and readme have been updated to address the concerns raised by the reviewers.

[2020-11-24 01:06] cMadan commented on #2839
@tramarobin, I think there are probably a few things that need fixing. Let's fix the ones I noticed and see if there are any more that still remail.

(1) https://raw.githubusercontent.com/tramarobin/fctSPM/master/Article%40JOSS/paper.md

Please remove the single quotes around the square brackets for each reference. It might be useful to take another look at the example: https://joss.readthedocs.io

[2020-11-24 01:15] whedon commented on #2843
:wave: @semaphoreP, please update us on how your review is going.

[2020-11-24 01:15] whedon commented on #2843
:wave: @giordano, please update us on how your review is going.

[2020-11-24 01:28] AnaWaldila commented on #2548
@Kevin-Mattheus-Moerman thank you! I am ready to help you for another review.

[2020-11-24 03:50] jayten commented on #2833
@drvinceknight, I can help with the review process of this paper. You can assign me as a reviewer.

[2020-11-24 04:19] amanchokshi commented on #2629
@mbobra Thanks Monica! I've uploaded EMBERS to Zenodo and have added the DOI to the README.rst :)

[2020-11-24 07:19] GregaVrbancic commented on #2676
@galessiorob looks good to me

[2020-11-24 07:33] cMadan commented on #2836
@NMontanaBrown @justusschock @lbugnon, would you be available and interested in reviewing this submission?

[2020-11-24 07:51] dmey commented on #2779
@oliviaguest, sure -- from the list of [potential reviewers](https://bit.ly/joss-reviewers) I have identified the following people who may be suitable to review this submission:
[code]

In case none is available please let me know and I can suggest more.

[2020-11-24 07:51] NMontanaBrown commented on #2836
I'd be keen to! 😄

[2020-11-24 08:06] MAnalytics commented on #2379
@karthik Yes, I can confirm that `0.1.5` is the version number.

[2020-11-24 08:07] MAnalytics commented on #2379
@njtierney @karthik Thank you very much for all the efforts.

[2020-11-24 08:18] arfon commented on #2798
@whedon set 10.5281/zenodo.4287576 as archive

[2020-11-24 08:19] whedon commented on #2798
OK. <a href="https://doi.org/10.5281/zenodo.4287576" target="_blank">10.5281/zenodo.4287576</a> is the archive.

[2020-11-24 08:20] arfon commented on #2798
@whedon accept

[2020-11-24 08:20] whedon commented on #2798
[code]

[2020-11-24 08:20] whedon commented on #2798
[code]

[2020-11-24 08:20] arfon commented on #2797
@whedon set 10.5281/zenodo.4287566 as archive

[2020-11-24 08:21] whedon commented on #2797
OK. <a href="https://doi.org/10.5281/zenodo.4287566" target="_blank">10.5281/zenodo.4287566</a> is the archive.

[2020-11-24 08:21] whedon commented on #2798
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1934

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1934, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-24 08:32] flokno commented on #2671
Hi @ajjackson , thank you a lot. I merged the MR and updated the PyPi release acocordingly.

@keipertk if you are on board as well I would ask you to tick the remaining checkbox.

Many thanks to all of you for this very detailed and productive review process!

[2020-11-24 08:34] tramarobin commented on #2839
@cMadan, thank you for your help. I took the examples too litterally indeed.

I previewed the paper at https://whedon.theoj.org/ and I think it is ok now (last time the website wasn't working and I could not check the paper once compiled)

For the last reference, the paper was only accepted recently and there is no volume and page number yet. On the jounal website, the BibText citation has an empt

[2020-11-24 08:38] Kevin-Mattheus-Moerman commented on #2740
@whedon assign me as editor

[2020-11-24 08:38] whedon commented on #2740
OK, the editor is @Kevin-Mattheus-Moerman

[2020-11-24 08:41] eloisabentivegna commented on #2822
@whedon add @albertonogueira as reviewer

[2020-11-24 08:41] whedon commented on #2822
OK, @albertonogueira is now a reviewer

[2020-11-24 08:42] johnjarmitage commented on #2804
@kbarnhart yes:
1. What level of explanation of the equations/methods being solved within the software package is expected? I have tested one aspect of the code and it works as it should. I am however not sure exactly what is going on with the lateral movement of the tectonic plates. In a science journal this might be a problem, but from the check list above I don't see this being flagged as an is

[2020-11-24 08:42] eloisabentivegna commented on #2822
@whedon add @joao-l-s-almeida as reviewer

[2020-11-24 08:42] whedon commented on #2822
OK, @joao-l-s-almeida is now a reviewer

[2020-11-24 08:47] fwitte commented on #2814
All my comments/issues have been addressed, thank you @yoelcortes. @kyleniemeyer, if there is anything I need to do from this point, just let me know :).
Best regards
Francesco

[2020-11-24 08:52] arfon commented on #2693
@hemanthpruthvi - I made a few formatting fixes in this PR (mostly related to citations): https://github.com/hemanthpruthvi/PyAstroPol/pull/2

Once you've merged this, I will go ahead and publish.

[2020-11-24 08:53] MaierOli2010 commented on #2727
@agahkarakuzu I've moved the CI from Jenkins to the University GitLab site. This should provide similar functionality but without the security vulnerabilities of exposing my own workstation to the public. The GitLab repo is synced with GitHub and all pushed to GitLab will be mirrored to GitHub as well. I've updated the `Contributing` section to point to GitLab for Code development.

[2020-11-24 08:54] arfon commented on #2798
@danehkar - this is now published.

[2020-11-24 08:55] #2798 closed

[2020-11-24 08:55] whedon commented on #2798
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02798/status.svg)](https://doi.org/10.21105/joss.02798)

**We need your help!**

Journal of Open Source Softwa

[2020-11-24 08:56] arfon commented on #2797
@danehkar - this is now published.

[2020-11-24 08:56] #2797 closed

[2020-11-24 08:56] whedon commented on #2797
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02797/status.svg)](https://doi.org/10.21105/joss.02797)

**We need your help!**

Journal of Open Source Softwa

[2020-11-24 08:57] hemanthpruthvi commented on #2693
@arfon Done.

[2020-11-24 08:58] arfon commented on #2693
@whedon accept

[2020-11-24 08:58] whedon commented on #2693
[code]

[2020-11-24 08:58] whedon commented on #2693
[code]

[2020-11-24 08:59] whedon commented on #2693
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1935

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1935, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-24 08:59] arfon commented on #2846
:wave: @csoneson - would you be willing to edit this submission for JOSS?

[2020-11-24 09:00] arfon commented on #2693
@whedon accept deposit=true

[2020-11-24 09:00] whedon commented on #2693
[code]

[2020-11-24 09:01] whedon opened #2860 "[PRE REVIEW]: sntools: Event generator for supernova burst neutrinos"
**Submitting author:** @JostMigenda (<a href="http://orcid.org/0000-0002-5350-8049">Jost Migenda</a>)
**Repository:** <a href="https://github.com/JostMigenda/sntools/" target ="_blank">https://github.com/JostMigenda/sntools/</a>
**Version:** v0.7
**Editor:** @xuanxu
**Reviewers:** @bradkav, @benjaminrose
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-11-24 09:01] whedon commented on #2860
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-24 09:01] whedon commented on #2693
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1331160928163942402) 👈 🐦🐦🐦

[2020-11-24 09:01] whedon commented on #2693
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1936
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02693](https://doi.org/10.21105/joss.02693)
2. If everything looks g

[2020-11-24 09:01] whedon commented on #2860
[code]

[2020-11-24 09:01] arfon commented on #2860
@whedon generate pdf from branch joss-paper

[2020-11-24 09:01] whedon commented on #2860
PDF failed to compile for issue #2860 with the following error:

 Can't find any papers to compile :-(

[2020-11-24 09:01] whedon commented on #2860
[code]

[2020-11-24 09:01] whedon commented on #2860
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02860/joss.02860/10.21105.joss.02860.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02860/joss.02860/10.21105.joss.02860.pdf) :page_facing_up: :point_left:

[2020-11-24 09:10] arfon commented on #2847
@whedon reject

@arvindcheenu - many thanks for the additional context here. While this does seem like useful software for _Data Visualisation Specialists_ and _UX Research Specialists_, we still consider this submission out of scope and not within our scope definition for [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) which is.

[2020-11-24 09:10] #2847 closed

[2020-11-24 09:10] whedon commented on #2847
Paper rejected.

[2020-11-24 09:15] jdber1 commented on #2604
Hi @kyleniemeyer, do you need more reviewers to complete this review? Additionally, I am having trouble defining figure sizes and captions in the paper. Are there guidelines for this?

[2020-11-24 09:17] arfon commented on #2850
@whedon reject

@ktkimcode - many thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this doesn't meet our threshold for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

One possibility we discussed would be for this work to be contributed back to the [`hIPPYlib`](https://githu

[2020-11-24 09:17] #2850 closed

[2020-11-24 09:17] whedon commented on #2850
Paper rejected.

[2020-11-24 09:18] asmusskar commented on #2548
@Kevin-Mattheus-Moerman, please note that a typo in the title of the paper was changed so that the name of this thread is different from the paper/software title (i.e. the word "elastic" was omitted).

If there is anything more I can do, just let me know. Thanks.

[2020-11-24 09:20] arfon commented on #2852
@whedon reject

@BenJWard - many thanks for your submission to JOSS. The JOSS editorial team has concluded that this submission is out of scope as it does not meet our guidelines for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2020-11-24 09:20] #2852 closed

[2020-11-24 09:20] whedon commented on #2852
Paper rejected.

[2020-11-24 09:21] arfon commented on #2853
@whedon assign me as editor

[2020-11-24 09:21] whedon commented on #2853
OK, the editor is @arfon

[2020-11-24 09:25] arfon commented on #2853
:wave: @clausnagel @chenkianwee @ganys - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd be asking you to review is `3dfier: automatic reconstruction of 3D city models`.

- The software package is here: http

[2020-11-24 09:31] berenger-eu commented on #2444
Dear @pitsianis
Thanks I updated the readme and the wiki.

[2020-11-24 09:34] mengaldo commented on #2822
@eloisabentivegna Thank you!

[2020-11-24 09:37] GANys commented on #2853
@arfon, I certainly agree.

Is there any deadline?

[2020-11-24 09:49] arfon commented on #2853
@GANys - excellent, thanks! We generally aim to have JOSS reviews complete within six weeks, but given their iterative nature, it's often most effective if you can start your review in the first couple of weeks (to give initial feedback to the authors).

Does that sound OK?

[2020-11-24 09:52] GANys commented on #2853
It seems more than feasible.

[2020-11-24 10:30] jbuisine commented on #2812
Thanks to @stsievert and @torressa for your remarks. @melissawm Yes it is something I can work on. I will see to take into consideration each of the remarks and update the Python package accordingly (documentation, examples, structural problems...). I will also take the time to answer each of your questions and queries about the package during the week.

[2020-11-24 10:33] arfon commented on #2853
@whedona add @GANys as reviewer

[2020-11-24 10:33] whedon commented on #2853
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-24 10:33] arfon commented on #2853
@whedon add @GANys as reviewer

[2020-11-24 10:33] whedon commented on #2853
OK, @GANys is now a reviewer

[2020-11-24 10:34] arfon commented on #2853
Great, thanks! I won't open the actual review until we've identified a second reviewer but hopefully this won't take too long.

[2020-11-24 10:52] drvinceknight commented on #2833
Thanks @jayten :+1:

[2020-11-24 10:53] drvinceknight commented on #2833
@whedon assign @jayten as reviewer

[2020-11-24 10:53] whedon commented on #2833
OK, @jayten is now a reviewer

[2020-11-24 12:31] keipertk commented on #2671
Checked it off. Thank you for contributing this excellent work!

[2020-11-24 12:31] flofaucher commented on #2699
Hello @chennachaos
Thanks for your comments. Just to clarify, the modifications you suggest are for the Documentation section in the website right? 
Or should I also update the JOOS preprint?  (for instance, the details on HDG and the equations were in the first version of the preprint that I had to shorten). 

Otherwise, I agree with all of your comments and I am going to update once I am sure it

[2020-11-24 12:49] justusschock commented on #2836
I would also be available for a review

[2020-11-24 12:56] flokno commented on #2671
@jgostick the boxes are ticked, what next?

[2020-11-24 13:06] pdebuyl commented on #2653
@agisga @coatless the non-paper bullet points missing from the checklist concern installation and community guidelines. Are these ok? If so, @lrnv can proceed to CRAN submission.

@lrnv I had to install a binary package for nloptr in addition to `install.packages("cort")` (on debian "r-cran-nloptr"). I don't know if it is expected of R users to guess that some components require a separate install

[2020-11-24 13:07] pdebuyl commented on #2828
Thank you for the review @jordanperr !

[2020-11-24 13:24] JostMigenda commented on #2860
I can think of a few potential reviewers, but most of them are co-authors on [this recent paper](https://arxiv.org/abs/2011.00035), which I have also contributed to; so they may be excluded by the JOSS [Conflict of Interest policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy).
Looking at [the list](https://docs.google.com/spreadsheets/d/1PAPRJ63y

[2020-11-24 13:26] decaluwe commented on #2814
Many thanks, @yoelcortes for your thorough attention, here.

1. Paper: this is really well one.  One very minor edit: in the 2nd-to-last paragraph, "it's default, built-in models" should be "its default..." (no apostrophe).

2. Unfortunately I now get 5 tests failing:

______________________________________________________________________________ test_sugarcane ____________________________________

[2020-11-24 13:36] teuben commented on #2629
fantastic, congrats all

[2020-11-24 13:46] lrnv commented on #2653
@pdebuyl Well, concerning `nloptr`, i dont know. They only say on their readme [there](https://cran.r-project.org/web/packages/nloptr/readme/README.html) that caution must be taken on windows, and nothing for debian. Although a simple google search shows that you are not the only one with this kind of issues. It should work as expected: installation of the R package *should* download `nlopt`, the

[2020-11-24 14:55] yoelcortes commented on #2814
@whedon generate pdf

Professor DeCaluwe,

Thanks for testing! The tests concerning `biorefineries` did not pass because thermosteam requires a new version of the `biorefineries` library. Regarding the multi-stage liquid-liquid extraction test, I fixed it by reducing the number of significant digits for the test. This is necessary because Python itself is compiled by a compiler. Some math calculat

[2020-11-24 14:55] whedon commented on #2814
PDF failed to compile for issue #2814 with the following error:

 Can't find any papers to compile :-(

[2020-11-24 14:56] jgostick commented on #2671
Nice work everyone!  The next steps are up to me and the EIC.  I will get started on it later today.

[2020-11-24 15:00] decaluwe commented on #2814
Many thanks, @yoelcortes -- all tests now pass.

All of my issues have been resolved - looks great!

@kyleniemeyer LMK if anything else is needed.

Thanks all, for involving me.  it was enjoyable!

Best,
Steven

[2020-11-24 15:19] kyleniemeyer commented on #2814
@yoelcortes one quick suggestion: for tests involving floating-point numbers, you might consider using something like NumPy's [`assert_allclose`](https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_allclose.html), which allows you to test that floating-point values are nearly equal based on a relative and absolute tolerance.

[2020-11-24 15:21] fwitte commented on #2814
Shouldn't it be its and not it's (as it is)?

[2020-11-24 15:31] yoelcortes commented on #2814
@kyleniemeyer, thanks for the suggestion! `assert_allclose` is already used in many tests. For the documentation examples (using doctests), I simply display a lower amount of significant digits until tests can pass across different compilers.

@fwitte, good catch. Just after replying, I realized the silly mistake and fixed it up.

Thank you everyone for the great effort in the review process! It h

[2020-11-24 15:47] agahkarakuzu commented on #2727
@MaierOli2010 I made a small PR to fix a typo. Other than that, looks like all my comments have been resolved, thank you so much for addressing them and making this amazing tool publicly available!

I checked all the remaining boxes, all good on my end.

[2020-11-24 16:06] mbobra commented on #2629
@whedon check references

[2020-11-24 16:06] whedon commented on #2629
[code]

[2020-11-24 16:07] mbobra commented on #2629
@whedon generate pdf

[2020-11-24 16:07] whedon commented on #2629
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02629/joss.02629/10.21105.joss.02629.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02629/joss.02629/10.21105.joss.02629.pdf) :page_facing_up: :point_left:

[2020-11-24 16:10] mbobra commented on #2629
@whedon set 10.5281/zenodo.4287813 as archive

[2020-11-24 16:10] whedon commented on #2629
OK. <a href="https://doi.org/10.5281/zenodo.4287813" target="_blank">10.5281/zenodo.4287813</a> is the archive.

[2020-11-24 16:11] mbobra commented on #2629
@whedon set v1.0.0 as version

[2020-11-24 16:11] whedon commented on #2629
OK. v1.0.0 is the version.

[2020-11-24 16:16] mbobra commented on #2629
@openjournals/joss-eics This paper is ready for final processing 🎉 Congratulations @amanchokshi!

Thank you very much for your thorough review, @teuben. Your contributions keep JOSS running. I really appreciate all your hard work ☀️

[2020-11-24 16:16] kyleniemeyer commented on #2814
@whedon generate pdf

[2020-11-24 16:18] whedon commented on #2814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02814/joss.02814/10.21105.joss.02814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02814/joss.02814/10.21105.joss.02814.pdf) :page_facing_up: :point_left:

[2020-11-24 17:20] mnarayan commented on #2779
I would be happy to review.

[2020-11-24 17:28] jsgalan commented on #2800
Hi,

<img width="413" alt="Screen Shot 2020-11-24 at 12 04 08 PM" src="https://user-images.githubusercontent.com/971958/100127532-3450c480-2e4d-11eb-853f-5c44a1f9a24d.png">

I think it is doing exactly what I am telling it to do .. 👍

I am finding a way to change it from /sh to /bash where everything is set up. That will probably solve it

Best

[2020-11-24 17:39] mbobra commented on #2757
👋 @Hazboun6 How is it going with the issues?

[2020-11-24 17:41] chennachaos commented on #2699
Hi @flofaucher.
Yes. My first comment on references is for the JOSS paper only. Apart from the bibliography, the rest of the paper is fine. No need to add any equations to the paper.

All the modifications in my second comment are for the documentation section of the website. For the tests, you need to add the files to the repository, preferably as a separate folder. The steps to compile and run t

[2020-11-24 18:24] greggj2016 commented on #2743
We believe that we have addressed your comments in the github issues that you posted. Please take a look when you get the chance. Thank you for your time and patience on this project.

[2020-11-24 18:25] kyleniemeyer commented on #2814
Hi @yoelcortes, I just have few edits needed for the paper:

- Please add an explicit Statement of Need section, which is a [required element of JOSS papers](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) (sorry for not catching that before, usually whedon automatically calls that out upon submission). You might be able to just move some existing text for this.

[2020-11-24 18:25] pibion commented on #2694
@sigven most people put their comments in this thread.  It's not as nice as what @jspaezp did but it does work!

I think I can provide some instructions for @jspaezp 's method, though, let me look into it :)

[2020-11-24 18:27] pibion commented on #2484
@dghoshal-lbl welcome back!  @cmbiwer, @colbrydi, are you still able to review the submission?  I realize it's been a while, so if your schedule won't allow you to fit this in now just let me know.

[2020-11-24 18:52] csoneson commented on #2846
Sure, I can take this one.

[2020-11-24 18:52] csoneson commented on #2846
@whedon assign @csoneson as editor

[2020-11-24 18:52] whedon commented on #2846
OK, the editor is @csoneson

[2020-11-24 18:56] mikldk commented on #2856
@sebkopf :

Thanks.

- [ ] Please also add countries in the Acknowledgements section.

[2020-11-24 18:57] mikldk commented on #2856
@jhollist, @kdorheim: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-11-24 19:02] greggj2016 commented on #2743
Actually, never mind, I may be missing one thing:

Can you please clarify what you're looking for here?

[2020-11-24 19:21] Kevin-Mattheus-Moerman commented on #2548
@whedon check references

[2020-11-24 19:22] Kevin-Mattheus-Moerman commented on #2548
Thanks @asmusskar I updated the title of this issue accordingly

[2020-11-24 19:23] Kevin-Mattheus-Moerman commented on #2548
@whedon check references

[2020-11-24 19:23] whedon commented on #2548
[code]

[2020-11-24 19:24] Kevin-Mattheus-Moerman commented on #2548
@asmusskar here are the last few steps

- [ ] Comment, should `...serve as computational kernel ...` be changed to `...serve as a computational kernel...`?

- [ ] What is the most recent version tag to use for this work? Is it still `v1.0.0` or has it moved on?

- [ ] Can you archive a copy of the reviewed software on [Zenodo](https://zenodo.org/) (some find [these steps](https://guides.github.com

[2020-11-24 19:24] whedon commented on #2548
[code]

[2020-11-24 19:26] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch can you look at my comment above :point_up: thanks

[2020-11-24 19:27] Kevin-Mattheus-Moerman commented on #2831
@IgorBaratta, @chennachaos, have you been able to start reviewing this work? Note :point_up: we updated the repository.
Thanks for your help!

[2020-11-24 19:30] Kevin-Mattheus-Moerman commented on #2740
@whedon generate pdf

[2020-11-24 19:31] whedon commented on #2740
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02740/joss.02740/10.21105.joss.02740.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02740/joss.02740/10.21105.joss.02740.pdf) :page_facing_up: :point_left:

[2020-11-24 19:34] Kevin-Mattheus-Moerman commented on #2740
@modenaxe @BKillen05 @melund @ixjlyons would you be interested in reviewing this work for [JOSS](https://joss.theoj.org/)?
The review focuses on [the software](https://github.com/pyomeca/ezc3d) and a [short paper](https://github.com/openjournals/joss-papers/blob/joss.02740/joss.02740/10.21105.joss.02740.pdf).
For more information have a look at our [review guidelines](https://joss.readthedocs.io/e

[2020-11-24 19:35] Kevin-Mattheus-Moerman commented on #2727
Thanks for your help @agahkarakuzu !

[2020-11-24 19:36] Kevin-Mattheus-Moerman commented on #2727
@whedon generate pdf

[2020-11-24 19:37] Kevin-Mattheus-Moerman commented on #2727
@grlee77 all boxes are ticked but you addressed some typos/paper changes. Let me know if you are happy to recommend acceptance at this point.

[2020-11-24 19:37] whedon commented on #2727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: :point_left:

[2020-11-24 19:38] Kevin-Mattheus-Moerman commented on #2727
@DARSakthi can you also review the latest paper and let us know if you are happy with it as it stands. Thanks!

[2020-11-24 19:53] csoneson commented on #2846
👋 @xie186, @BjornFJohansson, @j-andrews7 - would two of you be interested in reviewing this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues, following these [guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2020-11-24 19:58] IgorBaratta commented on #2831
Yes, I've already started.
Soon I will tick more boxes in the checklist.

[2020-11-24 19:59] melund commented on #2740
Yes. I would like to help review :)

[2020-11-24 19:59] xie186 commented on #2846
@csoneson I'm interested in reviewing this submission. Thanks for the invitation.

[2020-11-24 20:01] bast commented on #2842
dear Pierre, sorry for silence. I will work on this upcoming weekend. The last few days have been very packed unfortunately.

[2020-11-24 20:01] j-andrews7 commented on #2846
@csoneson I'm also happy to review this.

[2020-11-24 20:19] DARSakthi commented on #2727
Looks good to me -- all comments have been addressed. Well done @MaierOli2010 and team. Cheers

DS

[2020-11-24 20:22] whedon opened #2861 "[PRE REVIEW]: fuelcell: A Python package and graphical user interface for electrochemical data analysis"
**Submitting author:** @samaygarg (<a href="http://orcid.org/0000-0002-9872-6429">Samay Garg</a>)
**Repository:** <a href="https://github.com/samaygarg/fuelcell" target ="_blank">https://github.com/samaygarg/fuelcell</a>
**Version:** v0.3.1
**Editor:** @jgostick
**Reviewers:** @jlopata21, @shimpalee
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2020-11-24 20:22] whedon commented on #2861
PDF failed to compile for issue #2861 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (58d18b130a895693f16bd711/paper/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 16 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/r

[2020-11-24 20:22] whedon commented on #2861
[code]

[2020-11-24 20:30] arfon commented on #2861
@samaygarg - this PR should fix your paper compilation issues: https://github.com/samaygarg/fuelcell/pull/4

[2020-11-24 20:39] MAnalytics commented on #2379
@karthik Please, may I ask that you re-generate the .pdf as I modified the paper slightly. Specifically, in line with the revisions made, I edited this bit.....

"The statPrint function draws from the ggplot2 library (Wickham, 2016) in order to visualise
the resulting clusters in either a line or an areal-stacked graph format, alongside descriptive
cluster statistics."

Edited as:

"The package in

[2020-11-24 20:52] csoneson commented on #2846
Oh wow, that was fast :) thanks both! I will start the review tomorrow.

[2020-11-24 21:09] Kevin-Mattheus-Moerman commented on #2740
@whedon assign @melund as reviewer

[2020-11-24 21:09] whedon commented on #2740
OK, @melund is now a reviewer

[2020-11-24 21:10] Kevin-Mattheus-Moerman commented on #2740
@melund @pariterre says you made what sounds like a minor contribution to this project in the past. Can you confirm you do not have a conflict of interest reviewing this work? Thanks.

[2020-11-24 21:17] lbugnon commented on #2836
Ok!

[2020-11-24 21:23] kdorheim commented on #2856
@mikldk thanks for thinking of me, I can review this submission to JOSS. Should the review be included in this issue or a separate issue? Also is there an expected due date for this review? Thanks!

[2020-11-24 21:41] asmusskar commented on #2548
@Kevin-Mattheus-Moerman, addressing your points above  ☝️
- yes (and the paper was changed accordingly)
- I created a new post review release v1.2 for Zenodo
- the DOI is 10.5281/zenodo.4289275

[2020-11-24 21:47] marvinjonathcn commented on #2782
Hi @kthyng this weekend I finish the review. I was a bit busy, excuse me.

[2020-11-24 21:57] majensen commented on #1942
Thanks everyone. I surely appreciate all the work and tenacity on this review. I will do some editorial checks on the paper, which may result in minor pull request. Once that is complete, @benjaminbolling, I'll ask you to create a public archive of the repo using Zenodo or similar. After that we can summon the associate editors-in-chief by making our recommendation.

[2020-11-24 21:59] majensen commented on #2790
All - I will be reaching out to other potential reviewers in the next couple days. @vahid-sb, do you have any suggestions for reviewers? Thanks

[2020-11-24 23:32] Kevin-Mattheus-Moerman commented on #2548
@whedon generate pdf

[2020-11-24 23:32] whedon commented on #2548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: :point_left:

[2020-11-24 23:36] Kevin-Mattheus-Moerman commented on #2548
@whedon set v1.2 as version

[2020-11-24 23:36] whedon commented on #2548
OK. v1.2 is the version.

[2020-11-24 23:36] Kevin-Mattheus-Moerman commented on #2548
@whedon set 10.5281/zenodo.4289275 as archive

[2020-11-24 23:36] whedon commented on #2548
OK. <a href="https://doi.org/10.5281/zenodo.4289275" target="_blank">10.5281/zenodo.4289275</a> is the archive.

[2020-11-24 23:38] Kevin-Mattheus-Moerman commented on #2548
@whedon accept

[2020-11-24 23:38] whedon commented on #2548
[code]

[2020-11-24 23:38] whedon commented on #2548
[code]

[2020-11-24 23:38] whedon commented on #2548
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1937

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1937, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-24 23:50] vahid-sb commented on #2790
Maybe @btabibian has time for review?

[2020-11-25 00:55] amanchokshi commented on #2629
Thanks a lot @teuben and @mbobra, I've learnt a lot though the review process and EMBERS has really improved from all your feedback!

[2020-11-25 01:30] jdmoorman commented on #2822
I am available if you need another reviewer

[2020-11-25 01:31] kbarnhart commented on #2804
@johnjarmitage great questions.

_Regarding the first_: The two most relevant elements of the review criteria here would be:

I would expect that the functional form of the equations being solved by the package are stated, their constants listed, a description of any boundary conditions, and a statement of numerical methods used, if any (e.g., solved with finite difference). I would expect that, i

[2020-11-25 02:04] agisga commented on #2653
@pdebuyl Yes, I'm okay with all of the non-paper bullet points now.

[2020-11-25 03:31] whedon commented on #2844
:wave: @glemaitre, please update us on how your review is going.

[2020-11-25 03:31] whedon commented on #2844
:wave: @jbytecode, please update us on how your review is going.

[2020-11-25 04:12] jmbr commented on #2588
@kyleniemeyer I believe that this is not close to my fields of expertise.

[2020-11-25 04:44] jbytecode commented on #2844
I have opened many issues. The authors have finished some of them. They are also working on the other issues. Whenever an issue is closed, I check the corresponding review item.

[2020-11-25 04:52] yoelcortes commented on #2814
Hi @kyleniemeyer,

Thanks for the coolprop reference. I added the statement of need along with another section called "roadmap". I mainly shuffled sentences around, but I also added/removed a few here and there.

Please let me know if you have any more comments,
Thanks!

[2020-11-25 05:10] MelvinSMunsaka commented on #2706
For some reason, I am not able to add my comments via Github even after I logged into my account.

Here are my few comments:

•	The articles should explain more/correctly about MedDRA and the SOC/PT in the sentence “A number of methods, which use groupings of adverse events by body-system or System Organ Class” as this is key/central to the methods presented, especially some of the Bayesian approa

[2020-11-25 05:16] MelvinSMunsaka commented on #2706
@csoneson - have some questions about greyed out check boxes.

[2020-11-25 05:28] Hazboun6 commented on #2757
Hi @mbobra ! Thanks for checking in. We are making good progress. I think we're probably ~75% of the way through the issues. We also got the referee report from the AAS paper back and that also involved a few changes to the [code,](https://github.com/PsrSigSim/PsrSigSim/issues/175) so we've been working to add that functionality in as well.

I can update the referees with which Issues have been co

[2020-11-25 06:23] arokem commented on #2827
:wave: @JonathanReardon and @emdupre -- just checking: have you had a chance to take a look at the paper, and start checking off those items? If you post issues on the software repo, please do add a pointer to this issue, so they are cross-linked.

[2020-11-25 06:55] kyleniemeyer commented on #2814
@whedon generate pdf

[2020-11-25 06:56] whedon commented on #2814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02814/joss.02814/10.21105.joss.02814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02814/joss.02814/10.21105.joss.02814.pdf) :page_facing_up: :point_left:

[2020-11-25 07:41] csoneson commented on #2706
Thanks @MelvinSMunsaka! I will re-invite you to this issue - you have to accept the invitation in order to be able to check the boxes. Let me know if it still doesn't work.

[2020-11-25 07:41] csoneson commented on #2706
@whedon re-invite @MelvinSMunsaka as reviewer

[2020-11-25 07:41] whedon commented on #2706
OK, the reviewer has been re-invited.

@melvinsmunsaka please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-25 08:21] arfon commented on #2860
/ cc @augustfly for visibility.

[2020-11-25 08:22] arfon commented on #2597
:wave: @sadielbartholomew - just checking in here to see how you're getting on?

[2020-11-25 08:24] arfon commented on #2860
@whedon invite @xuanxu as editor

:wave: @xuanxu - would you be able to take this paper?

[2020-11-25 08:24] whedon commented on #2860
@xuanxu has been invited to edit this submission.

[2020-11-25 08:28] eloisabentivegna commented on #2822
Thanks, @jdmoorman! I will add you as well.

[2020-11-25 08:29] eloisabentivegna commented on #2822
@whedon add @jdmoorman as reviewer

[2020-11-25 08:29] whedon commented on #2822
OK, @jdmoorman is now a reviewer

[2020-11-25 08:30] eloisabentivegna commented on #2822
@whedon start review

[2020-11-25 08:30] whedon opened #2862 "[REVIEW]: PySPOD: A Python package for Spectral Proper Orthogonal Decomposition (SPOD)"
**Submitting author:** @mengaldo (<a href="http://orcid.org/0000-0002-0157-5477">Gianmarco Mengaldo</a>)
**Repository:** <a href="https://github.com/mengaldo/PySPOD" target ="_blank">https://github.com/mengaldo/PySPOD</a>
**Version:** v0.3
**Editor:** @eloisabentivegna
**Reviewer:** @albertonogueira, @joao-l-s-almeida, @jdmoorman
**Archive:** <a href="https://doi.org/10.5281/zenodo.4680581" target

[2020-11-25 08:30] whedon commented on #2822
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2862.

[2020-11-25 08:30] #2822 closed

[2020-11-25 08:30] whedon commented on #2862
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @albertonogueira, @joao-l-s-almeida, @jdmoorman it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means

[2020-11-25 08:30] whedon commented on #2862
PDF failed to compile for issue #2862 with the following error:

 Can't find any papers to compile :-(

[2020-11-25 08:32] eloisabentivegna commented on #2862
@whedon generate pdf from branch paper/JOSS

[2020-11-25 08:32] whedon commented on #2862
[code]

[2020-11-25 08:32] whedon commented on #2862
PDF failed to compile for issue #2862 with the following error:

 Can't find any papers to compile :-(

[2020-11-25 08:33] eloisabentivegna commented on #2862
@whedon generate pdf from branch paper/JOSS

[2020-11-25 08:33] whedon commented on #2862
[code]

[2020-11-25 08:33] whedon commented on #2862
PDF failed to compile for issue #2862 with the following error:

 Can't find any papers to compile :-(

[2020-11-25 08:58] xuanxu commented on #2860
@whedon assign me as editor

[2020-11-25 08:58] whedon commented on #2860
OK, the editor is @xuanxu

[2020-11-25 09:04] arfon commented on #2861
@whedon invite @jgostick as editor

:wave: @jgostick - would you be able to edit this submission for us?

[2020-11-25 09:04] whedon commented on #2861
@jgostick has been invited to edit this submission.

[2020-11-25 09:14] johnjarmitage commented on #2804
@kbarnhart, I think I did it right. Thanks!

[2020-11-25 09:54] arfon commented on #2548
@whedon accept deposit=true

[2020-11-25 09:54] whedon commented on #2548
[code]

[2020-11-25 09:55] whedon commented on #2548
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1331536970573623296) 👈 🐦🐦🐦

[2020-11-25 09:55] whedon commented on #2548
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1938
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02548](https://doi.org/10.21105/joss.02548)
2. If everything looks g

[2020-11-25 10:29] arfon commented on #2548
@AnaWaldila, @CBenghi - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission. JOSS simply wouldn't work without the volunteer efforts of awesome folks like yourselves! ✨

@asmusskar - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-11-25 10:29] #2548 closed

[2020-11-25 10:29] whedon commented on #2548
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02548/status.svg)](https://doi.org/10.21105/joss.02548)

**We need your help!**

Journal of Open Source Softwa

[2020-11-25 10:43] oliviaguest commented on #2779
@whedon add @mnarayan as reviewer

[2020-11-25 10:43] whedon commented on #2779
OK, @mnarayan is now a reviewer

[2020-11-25 10:43] oliviaguest commented on #2779
@whedon start review

[2020-11-25 10:43] whedon opened #2863 "[REVIEW]: Synthia: multi-dimensional synthetic data generation in Python"
**Submitting author:** @dmey (<a href="http://orcid.org/0000-0002-7071-7547">D. Meyer</a>)
**Repository:** <a href="https://github.com/dmey/synthia" target ="_blank">https://github.com/dmey/synthia</a>
**Version:** v1.1.0
**Editor:** @oliviaguest
**Reviewer:** @khinsen, @mnarayan
**Archive:** <a href="https://doi.org/10.5281/zenodo.5358432" target="_blank">10.5281/zenodo.5358432</a>

**:warning: J

[2020-11-25 10:43] whedon commented on #2779
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2863.

[2020-11-25 10:43] #2779 closed

[2020-11-25 10:43] whedon commented on #2863
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @khinsen, @mnarayan it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-11-25 10:43] whedon commented on #2863
PDF failed to compile for issue #2863 with the following error:

 Can't find any papers to compile :-(

[2020-11-25 10:46] dmey commented on #2863
@whedon generate pdf from branch joss-paper

[2020-11-25 10:46] whedon commented on #2863
[code]

[2020-11-25 10:46] whedon commented on #2863
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02863/joss.02863/10.21105.joss.02863.pdf) :page_facing_up: :point_left:

[2020-11-25 10:48] oliviaguest commented on #2863
Hi all! 👋 Thank you so much, @khinsen, @mnarayan for accepting to review this. Please read the instructions above. Any questions, feedback on the paper, etc., please post here. Any very code-specific questions, suggestions, etc., please use the issues in the code repo and link to them from this thread so we can all keep track of them. 🌸

For an example of how this process plays out feel free to sk

[2020-11-25 11:51] sadielbartholomew commented on #2597
Sorry @arfon I still need a bit more time here. Let me promise that by the end of this week (Sunday 29th, UK time) I will finish the review.

[2020-11-25 12:05] arfon commented on #2597
:+1: no problem. Thanks for the update!

[2020-11-25 12:17] oalii commented on #2831
Dear reviewers and editor,

just to inform you: we have created a `joss-review` branch on the repository where we are going to perform all the upgrade requested. You should therefore switch to this branch to follow our updates.
thanks for your inputs.

[2020-11-25 13:01] marcjwilliams1 commented on #2841
I'm also happy to review.

[2020-11-25 13:02] csoneson commented on #2846
@whedon assign @xie186 as reviewer

[2020-11-25 13:02] whedon commented on #2846
OK, @xie186 is now a reviewer

[2020-11-25 13:03] csoneson commented on #2846
@whedon add @j-andrews7 as reviewer

[2020-11-25 13:03] whedon commented on #2846
OK, @j-andrews7 is now a reviewer

[2020-11-25 13:05] csoneson commented on #2846
Just for completeness: @BjornFJohansson - I think we're all set on the reviewer side for this submission, but I hope we can get back to you for another submission in the future. Thanks for volunteering to review for JOSS!

[2020-11-25 13:05] csoneson commented on #2846
@whedon start review

[2020-11-25 13:05] whedon opened #2864 "[REVIEW]: Parent-map: analysis of parental contributions to evolved or engineered protein or DNA sequences"
**Submitting author:** @damienmarsic (<a href="http://orcid.org/0000-0003-0847-8095">Damien Marsic</a>)
**Repository:** <a href="https://github.com/damienmarsic/Parent-map" target ="_blank">https://github.com/damienmarsic/Parent-map</a>
**Version:** 1.1.2
**Editor:** @csoneson
**Reviewer:** @xie186, @j-andrews7
**Archive:** <a href="https://doi.org/10.5281/zenodo.4459006" target="_blank">10.5281/z

[2020-11-25 13:05] whedon commented on #2846
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2864.

[2020-11-25 13:05] #2846 closed

[2020-11-25 13:05] whedon commented on #2864
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xie186, @j-andrews7 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-11-25 13:05] whedon commented on #2864
[code]

[2020-11-25 13:06] whedon commented on #2864
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02864/joss.02864/10.21105.joss.02864.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02864/joss.02864/10.21105.joss.02864.pdf) :page_facing_up: :point_left:

[2020-11-25 13:11] jhollist commented on #2856
@mikldk I am going to have to pass on this one.  I am full up until about mid/late January.  If you are still looking then, please ping me again.  Sorry!

[2020-11-25 13:15] csoneson commented on #2864
@xie186, @j-andrews7 - This is the review thread for this submission. All of our communications will happen here from now on.

Please have a look at the "Reviewer instructions & questions" in the first comment above, which also contains your respective checklists. As you go over the submission, please check any items that you feel have been satisfied, and provide some comments or guidance for the

[2020-11-25 13:22] mikldk commented on #2856
Thanks!

It's up to you. I normally recommend specific comments as issues in the repository (linked to the review issue once created), and general comments/question in the review issue (once created).

No, but we normally try to get thinks done within weeks if possible - but if it's not, that's okay, too!

[2020-11-25 13:23] mikldk commented on #2856
@ethanwhite, @dvanic: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-11-25 13:47] oalii commented on #2831
@whedon generate pdf

[2020-11-25 13:48] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2020-11-25 14:20] jgostick commented on #2861
@whedon assign @jgostick as editor

[2020-11-25 14:20] whedon commented on #2861
OK, the editor is @jgostick

[2020-11-25 14:33] whedon commented on #2845
:wave: @afeinstein20, please update us on how your review is going.

[2020-11-25 14:33] whedon commented on #2845
:wave: @mrtommyb, please update us on how your review is going.

[2020-11-25 14:37] arfon commented on #2629
@whedon accept

[2020-11-25 14:37] whedon commented on #2629
[code]

[2020-11-25 14:38] whedon commented on #2629
[code]

[2020-11-25 14:38] whedon commented on #2629
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1939

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1939, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-25 14:42] arfon commented on #2629
@whedon accept deposit=true

[2020-11-25 14:42] whedon commented on #2629
[code]

[2020-11-25 14:42] rcarragh commented on #2706
@MelvinSMunsaka - thank you for your comments. I will create issues in the c212 github repository for them and respond/make changes accordingly for you to review.

[2020-11-25 14:43] whedon commented on #2629
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1331609393738158080) 👈 🐦🐦🐦

[2020-11-25 14:43] whedon commented on #2629
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1940
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02629](https://doi.org/10.21105/joss.02629)
2. If everything looks g

[2020-11-25 14:46] arfon commented on #2629
@teuben, @mbobra - many thanks for your reviews here and @mbobra for editing too! JOSS simply wouldn't work without the volunteer efforts of folks like yourselves ✨

@amanchokshi - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2020-11-25 14:46] #2629 closed

[2020-11-25 14:46] whedon commented on #2629
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02629/status.svg)](https://doi.org/10.21105/joss.02629)

**We need your help!**

Journal of Open Source Softwa

[2020-11-25 14:47] rcarragh commented on #2706
@MelvinSMunsaka - your comments can be seen at the issues: rcarragh/c212#7, rcarragh/c212#8, rcarragh/c212#9
I will respond and let you know when I've done so.

[2020-11-25 14:57] kbarnhart commented on #2804
@johnjarmitage looks great to me. Now @tristan-salles can respond to your common on the new issue Geodels/gospl#94 and if discussion is needed it can happen there.

[2020-11-25 15:05] jodemaey commented on #2597
Hi @sadielbartholomew ,

Thank you. Meanwhile, I've addressed your two issues on the `qgs` repo.

[2020-11-25 15:12] whedon opened #2865 "[PRE REVIEW]: pygamma-agreement: Gamma measure for inter/intra-annotator agreement in Python"
**Submitting author:** @hadware (<a href="http://orcid.org/0000-0002-8511-1644">Hadrien Titeux</a>)
**Repository:** <a href="https://github.com/bootphon/pygamma-agreement/" target ="_blank">https://github.com/bootphon/pygamma-agreement/</a>
**Version:** 0.1.4
**Editor:** @arfon
**Reviewers:** @faroit
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-11-25 15:12] whedon commented on #2865
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-25 15:13] whedon commented on #2865
[code]

[2020-11-25 15:13] whedon commented on #2865
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02865/joss.02865/10.21105.joss.02865.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02865/joss.02865/10.21105.joss.02865.pdf) :page_facing_up: :point_left:

[2020-11-25 15:14] whedon commented on #2865
[code]

[2020-11-25 15:15] arfon commented on #2865
@whedon invite @bmcfee as editor

:wave: @bmcfee - the submitting authors suggested you as the handling editor for this submission and it looks to be a pretty good fit. Would you be willing to handle this submission?

[2020-11-25 15:15] whedon commented on #2865
@bmcfee has been invited to edit this submission.

[2020-11-25 15:27] hadware commented on #2865
Hello! Thanks for reviewing our work.

We'd like to suggest two additional reviewers that could be suitable for this submission and have a good knowledge of the field: https://github.com/jjatria and https://github.com/faroit

[2020-11-25 15:45] gkthiruvathukal commented on #2752
Apologies for the delay in getting a replacement reviewer.

@davidbeckingsale or @vissarion Would you be willing to contribute a review for this JOSS submission?

[2020-11-25 15:47] gkthiruvathukal commented on #2153
Thanks, @mado89 and @UTH-Tuan. First, my apologies for to @arcuri82 for the delay as the past few weeks have been pretty intense leading to the end of semester. Thanks for your incredible patience during this process.

@arcuri82 Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenod

[2020-11-25 15:50] gkthiruvathukal commented on #2791
@xirdneh Just checking on how things are coming along with your review. I'm definitely not trying to rush you but would like to see if we are getting closer.

@kinow Am I correct in interpreting your review as being complete and ready to recommend acceptance, or are their still issues requiring attention?

[2020-11-25 15:52] gkthiruvathukal commented on #2362
@AlexMikes Just a nudge for the status on the documentation/testing issues.

[2020-11-25 16:19] vissarion commented on #2752
@gkthiruvathukal I am OK with reviewing this submission. Is 4-5 weeks ok for a deadline?

[2020-11-25 16:30] rcarragh commented on #2706
@whedon generate pdf

[2020-11-25 16:30] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-11-25 16:34] rcarragh commented on #2706
@whedon generate pdf

[2020-11-25 16:35] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-11-25 16:47] gkthiruvathukal commented on #2752
Thanks for such a quick response, @vissarion. I'm willing to work with your schedule. We're still in a COVID-19 world, and your timeframe sounds perfect to me. I'm going to add you now.

[2020-11-25 16:47] gkthiruvathukal commented on #2752
@whedon add @vissarion as reviewer

[2020-11-25 16:47] whedon commented on #2752
OK, @vissarion is now a reviewer

[2020-11-25 16:48] gkthiruvathukal commented on #2752
@whedon commands

[2020-11-25 16:48] whedon commented on #2752
Here are some things you can ask me to do:

[code]

[2020-11-25 16:48] gkthiruvathukal commented on #2752
@whedon remove @giodegas as reviewer

[2020-11-25 16:48] whedon commented on #2752
OK, @giodegas is no longer a reviewer

[2020-11-25 16:54] gkthiruvathukal commented on #2752
@whedon list reviewers

[2020-11-25 16:54] whedon commented on #2752
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-11-25 16:54] arsenal9971 commented on #2858
Thanks, I just did the changes on the file paper.md (adding quotatin marks to the title)

[2020-11-25 17:00] rcarragh commented on #2706
@whedon generate pdf

[2020-11-25 17:00] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-11-25 17:07] rcarragh commented on #2706
@whedon generate pdf

[2020-11-25 17:08] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-11-25 17:15] rcarragh commented on #2706
@whedon generate pdf

[2020-11-25 17:15] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-11-25 17:18] rcarragh commented on #2706
@whedon generate pdf

[2020-11-25 17:18] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-11-25 17:30] rcarragh commented on #2706
@MelvinSMunsaka, @csoneson - I have put some responses into the issues I created for the comments (rcarragh/c212#7, rcarragh/c212#8, rcarragh/c212#9)

Briefly the following changes have been made to the paper:
1) I have added a couple of paragraphs in the Summary section explaining medical dictionaries and the motivation for the methods
2) I've fixed the reference author issue
3) I've added a sect

[2020-11-25 17:35] akrinos commented on #2817
@johanneswerner we have provided a graphic below using the `DIAMOND` alignment tool for various sizes of sequence files. The time is in minutes in terms of how long the full `EUKulele` run takes to execute. Note that this is for metatranscriptomic (MET) sequences with or without using the `TransDecoder` tool for translation (as well as colored by two different database selections, the MMETSP and P

[2020-11-25 17:36] milicag commented on #2695
Hi @sjpfenninger, please don't hesitate to point out anything you would prefer to have edited, as I can introduce the edits and retag the release.

[2020-11-25 18:25] chennachaos commented on #2831
Thanks for the updates @Kevin-Mattheus-Moerman  and @oalii.
I have not started the review yet. I will start in the next week.

[2020-11-25 18:30] greggj2016 commented on #2743
@whedon generate pdf

[2020-11-25 18:31] whedon commented on #2743
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02743/joss.02743/10.21105.joss.02743.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02743/joss.02743/10.21105.joss.02743.pdf) :page_facing_up: :point_left:

[2020-11-25 18:35] greggj2016 commented on #2743
@whedon generate pdf

[2020-11-25 18:36] whedon commented on #2743
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02743/joss.02743/10.21105.joss.02743.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02743/joss.02743/10.21105.joss.02743.pdf) :page_facing_up: :point_left:

[2020-11-25 18:41] Kevin-Mattheus-Moerman commented on #2831
@chennachaos okay thanks for the update

[2020-11-25 18:59] emdupre commented on #2827
Thanks for checking-in, @arokem ! I've looked through the repo and code but I had not yet followed through the checklist. I'll start that today.

[2020-11-25 19:37] coatless commented on #2653
@lrnv thanks for making the changes. I just have two notes:

Paper-wise, there is a missing note that the underlying non-parametric algorithms are written in _C++_. It would be great to link out to the `RcppArmadillo`/`Rcpp` paper here.

Regarding code, the documentation governing the object slots is still a bit sparse. It would be good to understand what is being returned within the `Cort()` obje

[2020-11-25 20:19] lpantano commented on #2638
@whedon generate pdf

[2020-11-25 20:20] whedon commented on #2638
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02638/joss.02638/10.21105.joss.02638.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02638/joss.02638/10.21105.joss.02638.pdf) :page_facing_up: :point_left:

[2020-11-25 20:23] lpantano commented on #2638
@marcrr, I see some items uncheck, can you let us know if they are ok now, or any thing else needs to be addressed:

Installation instructions, Automated tests, State of the Field, References

Probably the two last are ok according JOSS guidelines. The two first are required.

Thanks!

[2020-11-25 20:29] poulson commented on #2444
@whedon generate pdf

[2020-11-25 20:29] whedon commented on #2444
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02444/joss.02444/10.21105.joss.02444.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02444/joss.02444/10.21105.joss.02444.pdf) :page_facing_up: :point_left:

[2020-11-25 21:08] ctdegroot commented on #2833
Yep, I am interested in this. Might take me a couple weeks to get to it as I'm wrapping up another JOSS review.

[2020-11-25 21:23] kinow commented on #2791
All good @gkthiruvathukal , review complete, article looking good, software built and tested locally. No other issues pending for me. Thanks!

[2020-11-25 22:01] chenkianwee commented on #2853
Hi I agree to review the paper.

[2020-11-25 22:17] greggj2016 commented on #2743
In combination with responding to the issues raised on our repository, we believe we have done all of the following:

[2020-11-25 22:21] greggj2016 commented on #2743
We have also made and submitted a small number of minor changes to the paper. We are also still updating the supplementary repository (https://github.com/EpistasisLab/regens-analysis), though it has details on our benchmark tests and instructions on how to rerun them (instructions are [here](https://github.com/EpistasisLab/regens/blob/main/regens_tests_info.md) in the main repository)

[2020-11-25 22:29] martinfleis commented on #2805
I know it is not my role to judge this but I believe that JOSS's requirement that the software must "_Permit individuals to create issues/file tickets against your repository_" is not related to review process but to the actual software repository. Therefore a review only solution is not enough. The reason why I think so is that a software in a private, although readable repository is not entirely

[2020-11-26 00:32] eloisabentivegna commented on #2862
@arfon, could you investigate why the paper is not found? I don't see any issues with the repository or the format. Thanks!

[2020-11-26 03:16] WilkAndy commented on #2176
Hi @kthyng .   I'm pinging you about this JOSS paper.  I'm pretty sure it's ready to publish, but @jedbrown isn't responding.  I think he might have accidentally unsubscribed to this issue.   Perhaps you can take it from here?

[2020-11-26 03:23] dwinter commented on #2743
Nice work @greggj2016, looks like you've addressed a lot of our comments.

Just a note to let everyone know I'm slammed this week, and likely won't get a chance to look at this 'til at least the middle of next week.

[2020-11-26 04:05] jedbrown commented on #2176
Sorry about the delay, I just got swamped.

[2020-11-26 04:06] jedbrown commented on #2176
@whedon set snapshot-20-10-27 as version

[2020-11-26 04:06] whedon commented on #2176
OK. snapshot-20-10-27 is the version.

[2020-11-26 04:06] jedbrown commented on #2176
@whedon generate pdf

[2020-11-26 04:07] jedbrown commented on #2176
@whedon set 10.5281/zenodo.4071026 as archive

[2020-11-26 04:07] whedon commented on #2176
OK. <a href="https://doi.org/10.5281/zenodo.4071026" target="_blank">10.5281/zenodo.4071026</a> is the archive.

[2020-11-26 04:08] whedon commented on #2176
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02176/joss.02176/10.21105.joss.02176.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02176/joss.02176/10.21105.joss.02176.pdf) :page_facing_up: :point_left:

[2020-11-26 04:18] jedbrown commented on #2176
@whedon accept

[2020-11-26 04:18] whedon commented on #2176
[code]

[2020-11-26 04:22] whedon commented on #2176
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1941

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1941, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-26 04:22] whedon commented on #2176
[code]

[2020-11-26 04:23] karthik commented on #2379
@whedon generate PDF

[2020-11-26 04:24] whedon commented on #2379
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: :point_left:

[2020-11-26 04:24] karthik commented on #2379
@MAnalytics sure thing. You can also run the command above to generate a new pdf.

[2020-11-26 04:32] jedbrown commented on #2176
@WilkAndy It looks like the bib entry for that should be update. (It looks like the `21--26` is actually a date, so maybe you can check the rest of the formatting when you add the DOI.)

While you're at it, could you add the URL https://documentation.pflotran.org/ for PFLOTRAN (as recommended in the bibtex on their website)?

You can just put those small changes in your branch and we'll rebuild th

[2020-11-26 05:06] WilkAndy commented on #2176
Hi @jedbrown.   Thanks for all your work on this.  I've made the changes your requested above and the result can be found at

https://github.com/WilkAndy/moose    branch: joss_bib_16312

You may generate the PDF from there (I have checked it works) or you may wait for my PR (https://github.com/idaholab/moose/pull/16313) to make its way through the MOOSE process, which will 1day - 1week.

[2020-11-26 05:15] jedbrown commented on #2176
@whedon generate pdf from branch joss_bib_16312

[2020-11-26 05:16] whedon commented on #2176
[code]

[2020-11-26 05:17] whedon commented on #2176
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02176/joss.02176/10.21105.joss.02176.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02176/joss.02176/10.21105.joss.02176.pdf) :page_facing_up: :point_left:

[2020-11-26 05:23] WilkAndy commented on #2176
I think the above compilation didn't use my repo .   I went to https://whedon.theoj.org/ and entered https://github.com/WilkAndy/moose/ and joss_bib_16312 , and the result is different (it contains the bib changes)

[2020-11-26 05:25] jedbrown commented on #2176
Hmm, I see this branch is in a different repository (https://github.com/WilkAndy/moose/tree/joss_bib_16312) and I don't know how to ask Whedon to build from that. But this paper should be ready for acceptance with either a manual build or once it lands in a branch of the main repository.

[2020-11-26 07:59] MAnalytics commented on #2379
@karthik I see. Thanks. Do I need to do anything next?

[2020-11-26 08:06] mengaldo commented on #2862
@eloisabentivegna I think that the branch is called papers/JOSS instead of paper/JOSS

[2020-11-26 08:20] arfon commented on #2853
@whedon add @chenkianwee as reviewer

[2020-11-26 08:20] whedon commented on #2853
OK, @chenkianwee is now a reviewer

[2020-11-26 08:20] arfon commented on #2853
@whedon start review

[2020-11-26 08:20] whedon opened #2866 "[REVIEW]: 3dfier: automatic reconstruction of 3D city models"
**Submitting author:** @hugoledoux (<a href="http://orcid.org/0000-0002-1251-8654">Hugo Ledoux</a>)
**Repository:** <a href="https://github.com/tudelft3d/3dfier" target ="_blank">https://github.com/tudelft3d/3dfier</a>
**Version:** v1.3.1
**Editor:** @arfon
**Reviewer:** @GANys, @chenkianwee
**Archive:** <a href="https://doi.org/10.5281/zenodo.4461324" target="_blank">10.5281/zenodo.4461324</a>

*

[2020-11-26 08:20] whedon commented on #2853
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2866.

[2020-11-26 08:20] #2853 closed

[2020-11-26 08:20] whedon commented on #2866
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GANys, @chenkianwee it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-11-26 08:21] whedon commented on #2866
[code]

[2020-11-26 08:21] whedon commented on #2866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02866/joss.02866/10.21105.joss.02866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02866/joss.02866/10.21105.joss.02866.pdf) :page_facing_up: :point_left:

[2020-11-26 08:22] arfon commented on #2853
@GANys, @chenkianwee - many thanks for agreeing to review this submission! See you over in #2866 where the actual review will take place.

[2020-11-26 08:22] arfon commented on #2866
@GANys, @chenkianwee - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions &amp; questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfi

[2020-11-26 08:23] arfon commented on #2176
@whedon accept from branch joss_bib_16312

[2020-11-26 08:23] whedon commented on #2176
[code]

[2020-11-26 08:25] arfon commented on #2862
@whedon generate pdf from branch papers/JOSS

[2020-11-26 08:25] whedon commented on #2862
[code]

[2020-11-26 08:26] whedon commented on #2176
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1942

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1942, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-26 08:26] whedon commented on #2862
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02862/joss.02862/10.21105.joss.02862.pdf) :page_facing_up: :point_left:

[2020-11-26 08:26] whedon commented on #2176
[code]

[2020-11-26 08:29] arfon commented on #2176
@jedbrown - is this (☝️) what you were wanting to do with the custom branch?

@WilkAndy - has the DOI suggested by Whedon above (`10.2139/ssrn.3365603`) been determined to be correct (or incorrect). If it looks correct for the reference item, please add it to your BibTeX file.

[2020-11-26 08:37] WilkAndy commented on #2176
Yep, @arfon, the DOI is correct, and i have added to paper.bib.  We are now waiting for the updates (https://github.com/idaholab/moose/pull/16313) to pass through the MOOSE review process and then we should be ready for publication.  Thank you everyone who contributed to this....

[2020-11-26 08:41] arfon commented on #2176
@whedon accept from branch joss_bib_16312

[2020-11-26 08:42] whedon commented on #2176
[code]

[2020-11-26 08:44] whedon commented on #2176
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1943

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1943, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-26 08:45] whedon commented on #2176
[code]

[2020-11-26 08:45] hugoledoux commented on #2866
@arfon the Fig1 in my paper is very small, which is weird because the original .png is rather large (1500px X 346px). I couldn't find a way to make it use the width of the page. Possible?

[2020-11-26 08:48] WilkAndy commented on #2176
No, the above is still the old version.  It is not from https://github.com/WilkAndy/moose/tree/joss_bib_16312 .    I'm happy to wait till the bib changes make their way through the review process at https://github.com/idaholab/moose/pull/16313

[2020-11-26 08:48] arfon commented on #2176
Ah, OK. I think I know what's going on here - @whedon doesn't know how to build from a fork branch so yes, we'll need to wait for these changes (https://github.com/idaholab/moose/pull/16313) to land in `https://github.com/idaholab/moose`.

[2020-11-26 08:59] ledell commented on #2278
# JOSS Review

**Article:** "DriveML: An R Package for Driverless Machine Learning"

**Package URL:** [https://daya6489.github.io/DriveML/](https://daya6489.github.io/DriveML/)

## Summary

There are some key aspects of this article that are missing; it does not meet minimal standards and lacks depth for an article about a new machine learning package.  It currently reads as more of a README or us

[2020-11-26 09:20] lrnv opened #2867 "@coatless comments: Docs"
@coatless wrote:

Regarding code, the documentation governing the object slots is still a bit sparse. It would be good to understand what is being returned within the `Cort()` object explicitly.

That is, what do the following slot entries correspond to?

[code]

_Originally posted by @coatless in https://github.com/openjournals/joss-reviews/issues/2653#issuecomment-733910858_

[2020-11-26 09:20] whedon commented on #2867
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-26 09:20] whedon commented on #2867
PDF failed to compile for issue #2867 with the following error:

 Can't find any papers to compile :-(

[2020-11-26 09:20] lrnv commented on #2867
Error should not be there

[2020-11-26 09:20] #2867 closed

[2020-11-26 09:36] arfon commented on #2866
@hugoledoux - I think you can force a specific size, e.g. `![](file.jpg){ width=50% }`. Can you try experimenting with syntax like that?

[2020-11-26 09:46] nuest commented on #2409
[I finally got to this again, I'm really sorry - I hope you'll get the second review soon to get this out.]

I took a look at [these changes](https://github.com/lydialucchesi/Vizumap/compare/75628e%E2%80%A6059c21d), compared them with [my comments](https://github.com/openjournals/joss-reviews/issues/2409#issuecomment-664007471), and subsequently updated [my review checklist](https://github.com/ope

[2020-11-26 10:00] lrnv commented on #2653
@whedon generate pdf

[2020-11-26 10:00] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-11-26 10:41] marcrr commented on #2638
@lpantano I have now checked all the boxes.

Best regards
Marc

[2020-11-26 10:49] nuest commented on #2805
@martinfleis That's my understanding, too. https://gitlab.liris.cnrs.fr/fduchate/predihood/issues requires me to register/sign-in with a LIRIS account, which I, or any other external users, do not have.

@fduchatea Would you be willing to switch your "main" repository to a more open platform?

@galessiorob Please advise.

[2020-11-26 11:00] oliviaguest commented on #2863
@whedon check references from branch joss-paper

[2020-11-26 11:00] whedon commented on #2863
[code]

[2020-11-26 11:01] whedon commented on #2863
[code]

[2020-11-26 11:07] xuanxu commented on #2860
@bradkav would you be willing to review this paper? You have been suggested by the author and your knowledge of Astroparticle Physics and Python makes you a great fit fot the submission.

[2020-11-26 11:07] xuanxu commented on #2860
@HeloiseS would you be willing to review this paper? I think your interest in SuperNovae and knowledge of Python makes you a great fit for this submission.

[2020-11-26 11:15] cMadan commented on #2836
Great, happy to have you all as reviewers here!

[2020-11-26 11:15] cMadan commented on #2836
@whedon add @NMontanaBrown as reviewer

[2020-11-26 11:15] whedon commented on #2836
OK, @NMontanaBrown is now a reviewer

[2020-11-26 11:15] cMadan commented on #2836
@whedon add @justusschock as reviewer

[2020-11-26 11:15] whedon commented on #2836
OK, @justusschock is now a reviewer

[2020-11-26 11:15] cMadan commented on #2836
@whedon add @lbugnon as reviewer

[2020-11-26 11:16] whedon commented on #2836
OK, @lbugnon is now a reviewer

[2020-11-26 11:16] cMadan commented on #2836
@whedon start review

[2020-11-26 11:16] whedon opened #2868 "[REVIEW]: ivadomed: A Medical Imaging Deep Learning Toolbox"
**Submitting author:** @charleygros (<a href="http://orcid.org/0000-0003-4318-0024">Charley Gros</a>)
**Repository:** <a href="https://github.com/ivadomed/ivadomed" target ="_blank">https://github.com/ivadomed/ivadomed</a>
**Version:** v2.7.1
**Editor:** @cMadan
**Reviewer:** @NMontanaBrown, @justusschock, @lbugnon
**Archive:** <a href="https://doi.org/10.5281/zenodo.4527802" target="_blank">10.52

[2020-11-26 11:16] whedon commented on #2836
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2868.

[2020-11-26 11:16] #2836 closed

[2020-11-26 11:16] whedon commented on #2868
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @NMontanaBrown, @justusschock, @lbugnon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our

[2020-11-26 11:17] whedon commented on #2868
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02868/joss.02868/10.21105.joss.02868.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02868/joss.02868/10.21105.joss.02868.pdf) :page_facing_up: :point_left:

[2020-11-26 11:19] whedon commented on #2868
[code]

[2020-11-26 12:24] whedon commented on #2848
:wave: @meenakshi-kushwaha, please update us on how your review is going.

[2020-11-26 12:24] whedon commented on #2848
:wave: @nanhung, please update us on how your review is going.

[2020-11-26 12:24] whedon commented on #2848
:wave: @elimillera, please update us on how your review is going.

[2020-11-26 12:37] cMadan commented on #2839
@whedon generate pdf

[2020-11-26 12:37] whedon commented on #2839
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02839/joss.02839/10.21105.joss.02839.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02839/joss.02839/10.21105.joss.02839.pdf) :page_facing_up: :point_left:

[2020-11-26 12:49] cMadan commented on #2839
@tramarobin, thanks for fixing those errors. I would remove the `1-1` page range for the recently accepted paper since this isn't the actual publication information and is just a placeholder.

Now that some of the initial issues are resolved, it would be good to revise the text a bit. Your current Statement of need section doesn't really explain the 'need' that this software is designed to fulfil.

[2020-11-26 13:05] rcarragh commented on #2706
@whedon generate pdf

[2020-11-26 13:05] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-11-26 13:24] johanneswerner commented on #2817
Dear @akrinos

thank you for your updates. I think I checked the above checkboxes that are taken care of (if I forgot something, please let me know).

Unfortunately, I still encountered errors with the minimum example ([run.log](https://github.com/openjournals/joss-reviews/files/5603251/run.log)) and some of the tests also throw errors on my virtual instance ([tests.log](https://github.com/openjou

[2020-11-26 13:34] nuest commented on #2805
**Some first review comments and questions** I stopped the review at this point as some things seem to be missing (test files, clarification of authorship, public issue tracker). I invite the authors to respond and kindly ask to revisit the JOSS guidelines and the review checklist.

------

Note to self:

[code]

------

### General checks

- Contribution and authorship: there are three authors on

[2020-11-26 14:14] jni commented on #2578
Hi everyone,

My apologies for the very long silence. It has been a very busy month and I want to thank @puolival and @emilljungberg for the thorough reviews, and @Mmj94 for your response. I need to set aside a chunk of time to consider them all, which unfortunately I can't do until the middle of next week. Apologies that I did not communicate this sooner — I kept thinking that I could do somethin

[2020-11-26 14:21] jni commented on #2689
Hi everyone,

Apologies for the long silence, as it has been a very busy month for me. @bogovicj @haesleinhuepf thank you so much for your reviews so far. From the comments, it seems the paper is ready to be accepted, but I notice some unticked items in your reviewer checklists. Could you double check that everything is finished and confirm via comments that you are happy to accept the paper?

btw

[2020-11-26 14:23] jni commented on #2818
@rfezzani @aplyer It's been a very busy month for me and I've neglected my editorial duties. 😬 Probably a busy month for you also but I just wanted to make a small ping to surface this again to your attention. 😊

[2020-11-26 14:27] hugoledoux commented on #2788
@whedon assign @chrisbrunsdon as reviewer

[2020-11-26 14:27] whedon commented on #2788
OK, @chrisbrunsdon is now a reviewer

[2020-11-26 14:28] hugoledoux commented on #2788
@whedon start review

[2020-11-26 14:28] whedon opened #2869 "[REVIEW]: Pyinterpolate: Spatial Interpolation in Python for point measurements and aggregated datasets"
**Submitting author:** @szymon-datalions (<a href="http://orcid.org/0000-0003-3525-2104">Szymon Moliński</a>)
**Repository:** <a href="https://github.com/szymon-datalions/pyinterpolate" target ="_blank">https://github.com/szymon-datalions/pyinterpolate</a>
**Version:** v0.2.0
**Editor:** @hugoledoux
**Reviewer:** @chrisbrunsdon
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:*

[2020-11-26 14:28] whedon commented on #2788
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2869.

[2020-11-26 14:28] #2788 closed

[2020-11-26 14:28] whedon commented on #2869
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @chrisbrunsdon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.j

[2020-11-26 14:29] whedon commented on #2869
[code]

[2020-11-26 14:29] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2020-11-26 14:30] hugoledoux commented on #2869
@whedon add @kenohori  as reviewer

[2020-11-26 14:30] whedon commented on #2869
OK, @kenohori  is now a reviewer

[2020-11-26 14:33] hugoledoux commented on #2869
👋 @chrisbrunsdon & @kenohori

This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been sati

[2020-11-26 14:49] akrinos commented on #2817
Hmm, it looks like you're still getting the same error, which is most likely the cause for the failed tests as well (although I haven't looked carefully at each failure). Did you reinstall via `conda` @johanneswerner ? It looks like from the error that it is defaulting to using the `BUSCO` install that you have locally, rather than a `BUSCO` install via `conda`. Could you please try running `EUKul

[2020-11-26 14:59] rfezzani commented on #2818
You are absolutely right, I am so much busy these last few days, sorry :pray:. I will try to complete my review by the end of next week :wink:

[2020-11-26 15:06] johanneswerner commented on #2817
My apologies @akrinos, I pulled the git repository for the tests, but I forgot to reinstall via `conda`. Thank you for looking into it. :-)

Test dataset runs accordingly after reinstallation with `conda`, and the tests also pass. I marked the respective checkboxes above.

[2020-11-26 16:10] coatless commented on #2653
@lrnv could you use the following Rcpp citations?

[code]

[2020-11-26 16:11] coatless commented on #2653
@pdebuyl looks good to me outside of the citation change above.

[2020-11-26 16:17] RMHogervorst commented on #2800
@fboehm All my concerns where addressed and the article proof seems in order too (I would advise another read through before publishing, because I think some words are missing, but I'm not native speaker).
For me the review is done. It looks great, and you have my approval.

Anything else I need to do?

[2020-11-26 16:29] goerz commented on #2809
Hmm.. ok with me, although it still seems a bit borderline, considering that the earlier paper announces Dymos in its abstract and extensively discusses benchmarks. In any case, this is clearly an editor's decision, so if @dpsanders has no objections to this manuscript being published in JOSS, I'll finish the review.

[2020-11-26 16:42] JostMigenda commented on #2860
Quick note: @HeloiseS and I were PhD students in the same department until 1.5 years ago and still interact socially (but have never collaborated on a paper or similar). I think that’s not covered by the [CoI policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) (which requires at least 1 year since being at the same institution, and does not limi

[2020-11-26 17:04] fboehm commented on #2800
@RMHogervorst - Thank you so much for your work on this review! There is nothing left for you to do. I'll proofread the article before publishing.

[2020-11-26 17:05] fboehm commented on #2800
@jsgalan - Thanks for your work on this review! Do you have any remaining concerns? or have they all been resolved satisfactorily?

[2020-11-26 17:06] fboehm commented on #2800
@whedon generate pdf

[2020-11-26 17:06] whedon commented on #2800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: :point_left:

[2020-11-26 17:21] fboehm commented on #2800
@henrykironde - I've opened an issue to address the citations in paper.md. https://github.com/ropensci/rdataretriever/issues/274

Once that is fixed, I'll re-generate the pdf and we can continue.

[2020-11-26 17:28] jsgalan commented on #2800
The written file needs improvement, Please check the highlighted parts below.

[10.21105.joss.02800-3.pdf](https://github.com/openjournals/joss-reviews/files/5604383/10.21105.joss.02800-3.pdf)

[2020-11-26 17:43] goerz commented on #2809
The JOSS manuscript will definitely have to cite the [earlier publication](https://arc.aiaa.org/doi/abs/10.2514/6.2019-0976), though. Even if it's just "The methods implemented in Dymos have previously been described in *Ref*"

[2020-11-26 17:59] lrnv commented on #2653
@whedon generate pdf

[2020-11-26 18:00] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-11-26 18:03] lrnv commented on #2653
@whedon generate pdf

[2020-11-26 18:04] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-11-26 18:04] lrnv commented on #2653
@coatless I fixed the references.

@pdebuyl I'll proceed to cran then if everyone agrees.

[2020-11-26 18:48] fboehm commented on #2474
Thanks, @OscartGiles ! I suggest merging in the pull requests. Once that is done, the reviewers can complete their reviews. Once they've checked all boxes in the above checklists, we can re-generate the pdf of the article and go forward with the submission.

[2020-11-26 18:49] fboehm commented on #2474
removed the "paused" label because revisions were made.

[2020-11-26 19:15] arcuri82 commented on #2153
@gkthiruvathukal: thanks. I will do it in the next coming days

[2020-11-26 20:04] bradkav commented on #2860
@xuanxu I'm very happy to review this paper. Sign me up!

[2020-11-26 20:32] coatless commented on #2653
@lrnv minor note on the citation: I think text for `RcppArmadillo` is missing after the `and`:

![Screen Shot 2020-11-26 at 2 28 28 PM](https://user-images.githubusercontent.com/833642/100389713-bf6bbf00-2ff3-11eb-8572-0d824d9d3744.png)

Also, if you're aiming to keep the extending citation, could you tweak it slight to avoid having `exit` appear in the title?

[code]

would fix:

![Screen Shot 20

[2020-11-26 20:59] elimillera commented on #2848
The review is currently in progress. Should finish up before next week.

[2020-11-26 21:07] whedon commented on #2849
:wave: @ppalmes, please update us on how your review is going.

[2020-11-26 21:07] whedon commented on #2849
:wave: @ablaom, please update us on how your review is going.

[2020-11-26 21:37] pdebuyl commented on #2653
@lrnv good, let us know when the CRAN process is complete.

[2020-11-26 22:18] eloisabentivegna commented on #2862
🤦🏻‍♀️

Thanks!

[2020-11-26 22:19] eloisabentivegna commented on #2862
@whedon check references from branch papers/JOSS

[2020-11-26 22:19] whedon commented on #2862
[code]

[2020-11-26 22:19] whedon commented on #2862
[code]

[2020-11-26 22:47] elimillera commented on #2848
@sebdalgarno My review is complete. Should be good to go once the [license issues](https://github.com/bcgov/shinyssdtools/issues/58) are resolved.

[2020-11-26 23:08] ablaom commented on #2849
I would consider my initial review finished. I have left unchecked, " Substantial scholarly effort: Does this submission meet the scope eligibility described in the JOSS guidelines" as I would prefer the editor make this call, based on my comments. I would say "yes", but according to the guidelines there should be "obvious research application". If research includes education, then yes, definitely

[2020-11-26 23:28] ppalmes commented on #2849
I'll start my review next week.

[2020-11-27 00:41] hmacdope commented on #2824
Hi @symmy596,
I'm one of your friendly JOSS reviewers.

Just a few things I thought I would point out as I go through, ranging in importance.

* The Latex in the docs did not build out of the box for me. Could be me but is worth investigating with a fresh conda environment.
* I couldn't see any documentation around how to run the tests although I may have missed it.
* The tests for the regional MS

[2020-11-27 08:37] janfreyberg commented on #2474
That's a tremendous amount of work! The changes look great.

[2020-11-27 08:45] xuanxu commented on #2860
@whedon assign @bradkav as reviewer

[2020-11-27 08:45] whedon commented on #2860
OK, @bradkav is now a reviewer

[2020-11-27 08:45] xuanxu commented on #2860
@bradkav great, thanks! I'll start the review issue once I have the second reviewer. Stay tuned!

[2020-11-27 11:01] sayanddude commented on #2278
Hi @ledell !  Thanks for your comments! We will work on your inputs and will provide an update as soon as possible.

[2020-11-27 11:15] MAnalytics commented on #2379
@whedon generate PDF

[2020-11-27 11:16] whedon commented on #2379
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: :point_left:

[2020-11-27 11:20] MaierOli2010 commented on #2727
Had to update affiliations. Should be all set now from my side. I thought about increasing the version number to 1.0, i.e., first release if the paper is accepted. Should I do that before or prior to the published paper?

[2020-11-27 11:20] MaierOli2010 commented on #2727
@whedon generate pdf from branch JOSS_pub

[2020-11-27 11:21] whedon commented on #2727
[code]

[2020-11-27 11:21] whedon commented on #2727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: :point_left:

[2020-11-27 13:40] krober10nd commented on #2687
I would like to check with @nschloe if you have any more comments and suggestions for revision to move this forward. Thank you.

[2020-11-27 13:51] flofaucher commented on #2699
Hi @chennachaos ,
 
I have updated the repository and website with the appropriate corrections, in particular,  
- Automated tests have been added in the repository, using the GitLab CI formalism and the dedicated folder for experiments. These automated tests can be checked in the GitLab pipelines now.  
- The documentation section has been updated with       
  - the equations for attenuation. Be

[2020-11-27 14:35] akrinos commented on #2817
Thank you @johanneswerner! Did you still have one failed test as above (checkbox in initial review)? With regard to the last two remaining checkboxes, for the analysis of prokaryotes, as mentioned in [729306579](https://github.com/openjournals/joss-reviews/issues/2817#issuecomment-729306579), we have one default database that includes prokaryotes, and generally users can curate their own datasets

[2020-11-27 16:46] shazanfar commented on #2440
Thanks @csoneson and @neuromusic ! I have read through the new article and the updated software documentation and amended my reviewing checklist accordingly. Cheers, Shila

[2020-11-27 16:55] giovp commented on #2440
Hi @csoneson and @neuromusic , also went through the manuscript again and updated the checklist !

[2020-11-27 17:43] whedon commented on #2854
:wave: @jiwoncpark, please update us on how your review is going.

[2020-11-27 17:43] whedon commented on #2854
:wave: @shreyasbapat, please update us on how your review is going.

[2020-11-27 18:20] btabibian commented on #2790
I would be happy to review, to be able to assist can you help me with some information about the scope of the review? What is expected? Is there some information available I could have a look?

[2020-11-27 19:42] melissawm commented on #2830
Hello, @jakryd and @dlfivefifty, any updates on this review? Let me know if I can help you with anything.

[2020-11-27 19:52] d-tear commented on #2689
@jni that is too funny. I actually have some friends that were in the Cannon lab. The world of science is so small!

[2020-11-27 20:01] karthik commented on #2379
@MAnalytics Yes, please confirm the version number of your package. Then you'll have to archive the software on Zenodo and share the DOI here.

[2020-11-27 20:04] kyleniemeyer commented on #2814
@yoelcortes looks great! The last step is for you to archive your repository on Zenodo, and provide the DOI here. (Make sure that the title and author metadata on the archive matches the paper.)

[2020-11-27 20:04] dhhagan commented on #2755
👋  @tscheypidi Are you able and interested in reviewing this paper?

[2020-11-27 20:05] dhhagan commented on #2781
@whedon remind @darothen in 1 day

[2020-11-27 20:05] whedon commented on #2781
Reminder set for @darothen in 1 day

[2020-11-27 20:16] fboehm commented on #2474
@janfreyberg and @craddm - The authors have implemented many of the suggestions that arose in the review. Thanks for your work on this. When you're comfortable doing so, please complete the review checklist. If the authors need to do additional revisions before you are comfortable checking the boxes, please elaborate on how they can meet the expectations. Thanks again!

[2020-11-27 20:32] whedon opened #2870 "[PRE REVIEW]: bcdata: An R package for searching & retrieving data from the B.C. Data Catalogue"
**Submitting author:** @boshek (<a href="http://orcid.org/0000-0002-9270-7884">Samuel Albers</a>)
**Repository:** <a href="https://github.com/bcgov/bcdata" target ="_blank">https://github.com/bcgov/bcdata</a>
**Version:** 0.2.1
**Editor:** @arfon
**Reviewers:** @tweed1e, @MilesMcBain
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2020-11-27 20:32] whedon commented on #2870
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-27 20:33] whedon commented on #2870
[code]

[2020-11-27 20:33] whedon commented on #2870
PDF failed to compile for issue #2870 with the following error:

 Can't find any papers to compile :-(

[2020-11-27 20:34] arfon commented on #2870
@whedon generate pdf from branch joss

[2020-11-27 20:34] whedon commented on #2870
[code]

[2020-11-27 20:34] whedon commented on #2870
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02870/joss.02870/10.21105.joss.02870.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02870/joss.02870/10.21105.joss.02870.pdf) :page_facing_up: :point_left:

[2020-11-27 20:39] arfon commented on #2870
@boshek - as [per our submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), could you please make sure your paper has a section headed 'Statement of need' describing the research need and purpose of this software for a non-specialist audience?

[2020-11-27 21:26] janfreyberg commented on #2474
@whedon generate pdf

[2020-11-27 21:27] whedon commented on #2474
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02474/joss.02474/10.21105.joss.02474.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02474/joss.02474/10.21105.joss.02474.pdf) :page_facing_up: :point_left:

[2020-11-27 23:12] MAnalytics commented on #2379
@karthik I will like to confirm the version number of the package as Version 0.2.5. The 'DESCRIPTION' file has been modified accordingly. Thanks.

[2020-11-28 00:22] nanhung commented on #2848
@sebdalgarno I appreciate your developed shiny app that makes **ssdtools** more accessible and easy to use. I like this "minimalist" design, but have some comments to you to improve your app. Here are my comments after testing **shinyssdtools**.

My main recommendation is about the interface. I suggest you can use different colors, font types (e.g., bold), and size to make the interface more frien

[2020-11-28 01:06] MAnalytics commented on #2379
@karthik This is to inform you that I have archived the software on Zenovo, and below is the version and the DOI:

Akmedoids v2.0.0
DOI: 10.5281/zenodo.4294266

Thanks

[2020-11-28 02:26] yoelcortes commented on #2814
Hi @kyleniemeyer,

Perfect! Here is the DOI:
https://doi.org/10.5281/zenodo.4294315

Thanks,

[2020-11-28 02:31] whedon commented on #2855
:wave: @soodoku, please update us on how your review is going.

[2020-11-28 02:31] whedon commented on #2855
:wave: @sbenthall, please update us on how your review is going.

[2020-11-28 20:05] whedon commented on #2781
:wave: @darothen, please update us on how your review is going.

[2020-11-28 20:10] darothen commented on #2781
Will finalize today.

- Sent from my mobile phone. Please excuse typographical mistakes.

On Sat, Nov 28, 2020, 1:05 PM whedon <notifications@github.com> wrote:

[2020-11-28 22:50] jgostick commented on #2671
@flokno

Here is a list of what to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here.
- [ ] Make sure that the title and author list (incl

[2020-11-29 03:01] majensen commented on #2790
Hi @btabibian - By all means - please have a look at the [reviewer doc](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). JOSS is maybe unusual in that the review is a lot more like a code review rather than a traditional paper review. Reviewers are encouraged to create issues in the author's repo, which the author will respond to with code improvements, for example.

If you're inte

[2020-11-29 10:00] benjaminbolling commented on #1942
Thank you @majensen!

[2020-11-29 10:30] csoneson commented on #2706
@MelvinSMunsaka - are you able to check the boxes in the checklist after the re-invitation?

[2020-11-29 10:35] csoneson commented on #2440
Thanks @shazanfar and @giovp!

@vals - would you also still be willing to check the updated version of this submission? Thanks!

[2020-11-29 10:37] symmy596 commented on #2824
Hi @hmacdope
Firstly, thank you for reviewing the code, I really appreciate you taking the time to look through it.

When developing the code I had several large example trajectories stored in the examples folder and added that folder to the .gitignore to stop them all being written to github until I decided which ones I would use for the examples. I have rectified this and the files should now be

[2020-11-29 14:46] jedbrown commented on #2176
@whedon generate pdf

[2020-11-29 14:48] whedon commented on #2176
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02176/joss.02176/10.21105.joss.02176.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02176/joss.02176/10.21105.joss.02176.pdf) :page_facing_up: :point_left:

[2020-11-29 15:03] danielskatz commented on #2858
@whedon generate pdf

[2020-11-29 15:03] whedon commented on #2858
PDF failed to compile for issue #2858 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Gitta Kutyniok, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon/author.rb:71:in `each

[2020-11-29 15:12] danielskatz commented on #2646
👋 @prw99r - Can I ask that check off any remaining items in your checklist in [this case](https://github.com/openjournals/joss-reviews/issues/2646#issuecomment-732321669)? If there's anything that you feel you can't check off, let's talk about it here so that it's clear what is needed for acceptance (vs future enhancements that would be good but are not needed for acceptance)

Also, please feel fr

[2020-11-29 16:14] AlexMikes commented on #2362
@gkthiruvathukal @srmnitc I updated the README for the [testing issue.](https://github.com/AlexMikes/AutoFunc/issues/10)

For the [missing DOIs](https://github.com/AlexMikes/AutoFunc/issues/11), I no longer have access to the LaTeX files to create a pre-print document for submission without the copyright of the conference proceedings where they are published. I can remove them from the references

[2020-11-29 16:31] richardjgowers commented on #2824
Thanks for checking in @hmacdope , is everything going ok with your review @lscalfi ?

[2020-11-29 16:32] richardjgowers commented on #2277
@labarba I'm not sure this review is going anywhere, it looks like review comments made 2 months ago (see previous comment) haven't been acted upon by the author

[2020-11-29 16:35] richardjgowers commented on #2768
Just to check in, the regression tests are still outstanding and with the package known to have compilation quirks I think this is a show stopper in terms of ensuring reproducibility.

[2020-11-29 16:36] labarba commented on #2277
Ping @openjournals/jose-eics  — I have retired from the JOSS board.

[2020-11-29 17:08] arfon commented on #2176
@whedon accept from branch next

[2020-11-29 17:08] whedon commented on #2176
[code]

[2020-11-29 17:11] whedon commented on #2176
[code]

[2020-11-29 17:12] whedon commented on #2176
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1944

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1944, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-29 17:24] arfon commented on #2176
@jedbrown - this looks in good shape to publish now, would you agree?

[2020-11-29 19:54] jedbrown commented on #2176
Looks good to me. Thanks, @arfon.

[2020-11-29 20:32] WilkAndy commented on #2176
I concur - the paper looks as it should.  Thank you everyone who was involved in the review process

[2020-11-29 20:32] WilkAndy commented on #2176
@whedon accept deposit=true from branch next

[2020-11-29 20:33] whedon commented on #2176
I'm sorry @WilkAndy, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-11-29 20:41] arfon commented on #2176
@whedon accept deposit=true from branch next

[2020-11-29 20:41] whedon commented on #2176
[code]

[2020-11-29 20:44] whedon commented on #2176
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1333149777719140359) 👈 🐦🐦🐦

[2020-11-29 20:44] whedon commented on #2176
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1945
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02176](https://doi.org/10.21105/joss.02176)
2. If everything looks g

[2020-11-29 20:55] ixjlyons commented on #2740
Sorry, now's not a great time for me personally so I'll have to decline reviewing this one.

[2020-11-29 21:00] arfon commented on #2176
@jbrezmorf, @rpodgorney - many thanks for your reviews here and to @jedbrown for editing ✨

@WilkAndy - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-11-29 21:00] #2176 closed

[2020-11-29 21:00] whedon commented on #2176
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02176/status.svg)](https://doi.org/10.21105/joss.02176)

**We need your help!**

Journal of Open Source Softwa

[2020-11-30 01:05] karthik commented on #2379
@MAnalytics Can you please edit your Zenodo submission and remove your GitHub username from the title. Just `akmedoids v2.0.0`. Then please update the DOI here.

[2020-11-30 01:05] karthik commented on #2379
@whedon set v2.0.0 as version

[2020-11-30 01:05] whedon commented on #2379
OK. v2.0.0 is the version.

[2020-11-30 01:44] jsgalan commented on #2800
Hi all,

When I get to Installing Spatial Datasets I still get error

![Screen Shot 2020-11-29 at 8 36 36 PM](https://user-images.githubusercontent.com/971958/100560269-4f736800-3283-11eb-82ef-d8b4173756be.png)

But it seems that it actually works since it says in the DB schemas
![Screen Shot 2020-11-29 at 8 36 47 PM](https://user-images.githubusercontent.com/971958/100560292-5e5a1a80-3283-11eb-8a

[2020-11-30 01:48] lydialucchesi commented on #2409
Hi @nuest,

We have fixed the text under the pixel figure, added a README section about running tests, and included a badge to indicate whether the package is passing the R CMD check.

Thank you so much for taking the time to provide thorough reviews of Vizumap! It is greatly appreciated.

Kind regards,
Lydia

[2020-11-30 01:59] bogovicj commented on #2689
Updated my checklist and happy to accept.

[2020-11-30 02:03] dvanic commented on #2856
@mikldk  Sorry, I'm swamped with childcare + work at the moment, so cannot commit the time to review at this stage - sorry!

[2020-11-30 03:35] sadielbartholomew commented on #2597
@whedon generate pdf from branch joss

[2020-11-30 03:35] whedon commented on #2597
[code]

[2020-11-30 03:36] whedon commented on #2597
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02597/joss.02597/10.21105.joss.02597.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02597/joss.02597/10.21105.joss.02597.pdf) :page_facing_up: :point_left:

[2020-11-30 04:12] sadielbartholomew commented on #2597
Hi @jodemaey, I assume that the current state of the proposed JOSS paper content is contained in the `joss` branch rather than `master`? I've just re-generated it via the whedon tool, as per the above comments.

Please in future let us know when you update the paper, since I just spent a significant amount of time reviewing the old version only to see that it has changed quite a bit now, with a ne

[2020-11-30 05:14] gkthiruvathukal commented on #2362
@AlexMikes I am NOT in the camp that would like to see it withdrawn. As the handling editor, I feel like you've been responsive to my & reviewers' feedback. Please don't consider your submission a waste of time. It is not. We don't ever make any author feel unwelcome at JOSS.

Let me summarize my view:

- I am comfortable with your proposed resolution for the missing DOIs. I think, for now, it is

[2020-11-30 07:08] leouieda commented on #2696
Hi @seisman @ThomasLecocq are there any updates on this review?

[2020-11-30 07:11] leouieda commented on #2766
:wave: Hi @sadielbartholomew, @ashiklom just checking in to see how this is going. It's been a while since there was any activity here.

@ashiklom I noticed that your checklist is nearly finished. Could you please go over once more and see if the recent changes meet all of the requirements?

[2020-11-30 07:31] mikldk commented on #2856
@ethanwhite, @r-barnes: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-11-30 07:44] timtroendle commented on #2769
@sahilseth, can you please give us an update where you stand with your review?

[2020-11-30 08:06] flokno commented on #2671
Hi @jgostick ,

- I checked authors, affiliations, and ORCIDs,
- I made a release with version `v1.0.1` (I did a 1.0.0 release earlier, but noticed that one reference in the paper was not up to date anymore),
- Zenodo: [`10.5281/zenodo.4297205`](https://doi.org/10.5281/zenodo.4297205),
- the authors and affiliations in the zenodo archive are the same as in the JOSS paper.

[2020-11-30 08:06] JannisHoch commented on #2855
HI @soodoku and @sbenthall, in the meantime, the model evolved to version 0.0.6 (https://github.com/JannisHoch/copro/releases/tag/v0.0.6). All changes made in the process of this review will be committed to the branch 'joss-review' (https://github.com/JannisHoch/copro/tree/joss_review).

[2020-11-30 08:15] flokno commented on #2671
@whedon generate pdf

[2020-11-30 08:16] whedon commented on #2671
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: :point_left:

[2020-11-30 08:16] jodemaey commented on #2597
Hi @sadielbartholomew ,

Thanks for your suggestions. I will merge them to the joss branch when your review is finished.

[2020-11-30 08:19] ryokbys commented on #2768
Sorry for inconvenience. I just uploaded a new version v0.10.1 which includes test entries in makefile in root nap/ directory for the purpose of regression test. Please try the new one.
To test pmd and fitpot,
`$ cd nap/ ; make pmd fitpot ; make test`
To test fp.py,
`$ make test-fp`
which would take a few minutes.

[2020-11-30 08:38] tscheypidi commented on #2755
@dhhagan Yes, I can do it.

[2020-11-30 08:45] MAnalytics commented on #2379
@karthik Submission edited on Zenodo - GitHub username removed from the title. The DOI remains the same.

DOI: 10.5281/zenodo.4294266

Thanks.

[2020-11-30 09:16] drvinceknight commented on #2833
That's fine @ctdegroot, thank you very much!

[2020-11-30 09:17] drvinceknight commented on #2833
@whedon add @ctdegroot as reviewer

[2020-11-30 09:17] whedon commented on #2833
OK, @ctdegroot is now a reviewer

[2020-11-30 09:17] drvinceknight commented on #2833
@whedon start review

[2020-11-30 09:17] whedon opened #2871 "[REVIEW]: UQit: A Python package for uncertainty quantification (UQ) in computational fluid dynamics (CFD)"
**Submitting author:** @salrm8 (<a href="http://orcid.org/0000-0002-9610-9910">Saleh Rezaeiravesh</a>)
**Repository:** <a href="https://github.com/KTH-Nek5000/UQit" target ="_blank">https://github.com/KTH-Nek5000/UQit</a>
**Version:** v1.0.2
**Editor:** @drvinceknight
**Reviewer:** @jayten, @ctdegroot
**Archive:** <a href="https://doi.org/10.5281/zenodo.4704355" target="_blank">10.5281/zenodo.4704

[2020-11-30 09:17] whedon commented on #2833
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2871.

[2020-11-30 09:17] #2833 closed

[2020-11-30 09:17] whedon commented on #2871
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jayten, @ctdegroot it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-11-30 09:18] whedon commented on #2871
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02871/joss.02871/10.21105.joss.02871.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02871/joss.02871/10.21105.joss.02871.pdf) :page_facing_up: :point_left:

[2020-11-30 09:18] whedon commented on #2871
[code]

[2020-11-30 09:31] jodemaey commented on #2597
Hi @sadielbartholomew ,

I had a look at your commit. Can I merge it as it is?  What about the other items on the checklist about functionalities and documentation: have you considered them already?

[2020-11-30 09:43] will-rowe commented on #2817
Thank you for your comprehensive review @johanneswerner - this is shaping up nicely.

Pinging @jcmcnch - are you still able to review this submission? Please let us know either way ASAP

[2020-11-30 09:50] craddm commented on #2474
Hi all,

Looks great - happy with the changes that have been made.

All good here thanks @OscartGiles, and hope same for you :)

Cheers,
Matt

[2020-11-30 09:57] nuest commented on #2409
@bstabler I'm through with my checklist. Looking forward to learn from a second reviewer what I missed.

@lydialucchesi Congrats on a solid package and article, and best of luck with the remaining review.

[2020-11-30 10:03] sadielbartholomew commented on #2597
Hi @jodemaey, sorry I fell asleep before I put it in as a PR. Please don't merge it yet. Let me open it now since many of my comments are not contained in the commit but I intended to put as comments on said PR. One moment.

I am nearly ready to tick these but not quite since I want to be thorough. I'll let you know by the end of the day. Thanks.

[2020-11-30 11:04] sadielbartholomew commented on #2766
Hi @leouieda, thanks for checking in. Sorry for the delay, which has arisen because I've been prioritising another JOSS review which began at an earlier date that this one. But I have largely completed that now, so I can focus on this review. I'll aim to complete it by the end of the week. Thanks to all for your patience.

[2020-11-30 11:22] seisman commented on #2696
I'll start to review the submission in the following week.

[2020-11-30 11:35] dhhagan commented on #2755
@whedon add @tscheypidi as reviewer

[2020-11-30 11:35] whedon commented on #2755
OK, @tscheypidi is now a reviewer

[2020-11-30 11:39] marcosvital commented on #2692
Hi, @Manolomon, I'm passing by to see how things are going with this first round of review. Let us know when you make any progress, ok?

@62442katieb and @SteveViss, feel free to keep raising other issues that you think that are needed while the authors are working with those - but of course, you can also wait for this first round to end if that feels better.

[2020-11-30 11:57] Kevin-Mattheus-Moerman commented on #2740
@modenaxe @BKillen05 would you be able to help with this review?

[2020-11-30 12:15] arsenal9971 commented on #2858
@whedon generate pdf

[2020-11-30 12:15] whedon commented on #2858
PDF failed to compile for issue #2858 with the following error:

 Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.1812 s.t. \$\sigma

Looks like we failed to compile the PDF

[2020-11-30 12:34] ashiklom commented on #2766
Yes, recent changes look good -- thanks! My checklist is now complete.

[2020-11-30 13:00] pdebuyl commented on #2828
Hi @briandesilva make sure to update us here on the progress so far.

[2020-11-30 13:01] pdebuyl commented on #2842
@bast gentle reminder (I act before @whedon comes back!)

[2020-11-30 13:02] pdebuyl commented on #2854
@jiwoncpark @shreyasbapat gentle reminder

[2020-11-30 13:07] jiwoncpark commented on #2854
@pdebuyl Apologies for the delay in my update. I should be finished with my review by tomorrow.

[2020-11-30 13:16] pdebuyl commented on #2854
Thank you for the reply @jiwoncpark . Since the spring, the timeframe for a JOSS review is 6 weeks maximum. I update the review regularly to make sure that the review will happen but there is no emergency for tomorrow.

[2020-11-30 14:02] lpantano commented on #2638
@chorscroft, is the package still version: v0.2.0?

[2020-11-30 14:06] jgostick commented on #2671
@whedon set v1.0.1 as version

[2020-11-30 14:06] whedon commented on #2671
OK. v1.0.1 is the version.

[2020-11-30 14:08] jgostick commented on #2671
@whedon set 10.5281/zenodo.4297205 as archive

[2020-11-30 14:08] whedon commented on #2671
OK. <a href="https://doi.org/10.5281/zenodo.4297205" target="_blank">10.5281/zenodo.4297205</a> is the archive.

[2020-11-30 14:23] chorscroft commented on #2638
@lpantano Yes, the version on CRAN is v0.2.0

[2020-11-30 14:24] lpantano commented on #2638
@whedon check references

[2020-11-30 14:25] lpantano commented on #2638
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2020-11-30 14:27] whedon commented on #2638
[code]

[2020-11-30 14:40] KristinaRiemer commented on #2841
Thanks for getting back about it @eviatarbach, and thanks to @dglmoore & @marcjwilliams1 for being able to review this!

[2020-11-30 14:40] KristinaRiemer commented on #2841
@whedon assign @dglmoore as reviewer

[2020-11-30 14:40] whedon commented on #2841
OK, @dglmoore is now a reviewer

[2020-11-30 14:41] KristinaRiemer commented on #2841
@whedon add @marcjwilliams1 as reviewer

[2020-11-30 14:41] KristinaRiemer commented on #2841
@whedon start review

[2020-11-30 14:41] whedon opened #2872 "[REVIEW]: SimpleSDMLayers.jl and GBIF.jl: A Framework for Species Distribution Modeling in Julia"
**Submitting author:** @gabrieldansereau (<a href="http://orcid.org/0000-0002-2212-3584">Gabriel Dansereau</a>)
**Repository:** <a href="https://github.com/EcoJulia/SimpleSDMLayers.jl" target ="_blank">https://github.com/EcoJulia/SimpleSDMLayers.jl</a>
**Version:** v0.3.4
**Editor:** @KristinaRiemer
**Reviewer:** @dglmoore, @marcjwilliams1
**Archive:** <a href="https://doi.org/10.5281/zenodo.44729

[2020-11-30 14:41] whedon commented on #2841
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2872.

[2020-11-30 14:41] #2841 closed

[2020-11-30 14:41] whedon commented on #2872
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dglmoore, @marcjwilliams1 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-11-30 14:43] whedon commented on #2872
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02872/joss.02872/10.21105.joss.02872.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02872/joss.02872/10.21105.joss.02872.pdf) :page_facing_up: :point_left:

[2020-11-30 14:43] KristinaRiemer commented on #2841
@dglmoore @marcjwilliams1 the actual review will happen in the new issue linked to above. Feel free to ask me any questions over there, and to start your review at any time! Thanks again.

[2020-11-30 14:48] KristinaRiemer commented on #2575
@mccabete & @r-barnes just checking in to make sure that the new GitHub repo's issues are accessible to y'all now, and to see if there are any questions or issues currently?

[2020-11-30 15:04] xiaohk commented on #2676
@galessiorob Finished my review. It looks good!

[2020-11-30 15:16] jgostick commented on #2671
@whedon generate pdf

[2020-11-30 15:17] whedon commented on #2671
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: :point_left:

[2020-11-30 15:25] sjpfenninger commented on #2765
@konstantinstadler Can you confirm whether you can edit the review checklist now and whether you have any progress with your Simapro colleague?

[2020-11-30 15:32] ajbaird commented on #2645
Hi @meg-simula let me know if there is anything else I can do! Thanks again for all the edits!

[2020-11-30 15:35] dfm commented on #2278
@ledell: Thank you very much for your thorough and detailed review!

Given the significant major issues that are still present in this submission I'm going to loop in @openjournals/joss-eics (especially @arfon) for their perspective.

[2020-11-30 15:41] arsenal9971 commented on #2858
@whedon generate pdf

[2020-11-30 15:42] whedon commented on #2858
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02858/joss.02858/10.21105.joss.02858.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02858/joss.02858/10.21105.joss.02858.pdf) :page_facing_up: :point_left:

[2020-11-30 15:49] sjpfenninger commented on #2695
@whedon generate pdf

[2020-11-30 15:49] sjpfenninger commented on #2695
@whedon check references

[2020-11-30 15:50] whedon commented on #2695
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02695/joss.02695/10.21105.joss.02695.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02695/joss.02695/10.21105.joss.02695.pdf) :page_facing_up: :point_left:

[2020-11-30 15:55] whedon commented on #2695
[code]

[2020-11-30 15:55] flokno commented on #2671
Hi @jgostick , I checked the article proof and the links therein -- everything works. Good to go from my side :rocket:

[2020-11-30 15:59] kdorheim commented on #2856
okay yes I would like to accept

[2020-11-30 15:59] lpantano commented on #2638
@chorscroft, can you fix that missing DOI, and then go through the list I sent before?thanks!

[2020-11-30 16:16] sjpfenninger commented on #2695
Thanks @nmstreethran and @brynpickering for your extensive reviews.

@milicag: We are nearing completion on this. However, your paper is on the long side. We ask for papers to be 250-1000 words long and the more extensive information should really live in the project's documentation:

I think this can be addressed with two easy changes:

1. In the Summary section, move everything between the parag

[2020-11-30 16:18] arfon commented on #2277
@dvm-shlee - could you update us on your status here? Are you still interested in pursuing this publication in JOSS?

[2020-11-30 16:20] sebkopf commented on #2856
Country information added to Acknowledgements https://github.com/isoverse/isoreader/commit/9dae60c6277be1b2eb727111513d6c0ceface3ea. Thank you very much @kdorheim for reviewing our work.

[2020-11-30 16:31] leouieda commented on #2766
@ashiklom thank you for the review 👍🏽

@sadielbartholomew I appreciate all your hard work for JOSS 🙂 Let me know if you need more time or have any questions/concerns.

[2020-11-30 16:39] galessiorob commented on #2805
@martinfleis and @nuest, thank you both for your thoughtful comments and assessments on the current state of accessibility of this software. Our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) state that the software must:

- Be stored in a repository that can be cloned without registration.
- Be stored in a repository that is browsable onli

[2020-11-30 16:40] whedon opened #2873 "[PRE REVIEW]: Pre-trained Deep-Learning Models That Enable Computational Developmental Biology Research and Education"
**Submitting author:** @balicea (<a href="http://orcid.org/0000-0003-3869-3175">Bradly Alicea</a>)
**Repository:** <a href="https://github.com/DevoLearn/Education/" target ="_blank">https://github.com/DevoLearn/Education/</a>
**Version:** 0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-11-30 16:40] whedon commented on #2873
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-30 16:40] whedon commented on #2873
[code]

[2020-11-30 16:40] whedon commented on #2873
Failed to discover a valid open source license.

[2020-11-30 16:40] whedon commented on #2873
PDF failed to compile for issue #2873 with the following error:

 Can't find any papers to compile :-(

[2020-11-30 16:40] galessiorob commented on #2676
@whedon generate pdf

[2020-11-30 16:40] whedon opened #2874 "[PRE REVIEW]: nettskjemar - An R-package for API connection to the University of Oslo's Nettskjema survey tool"
**Submitting author:** @athanasiamo (<a href="http://orcid.org/0000-0002-5756-0223">Athanasia M. Mowinckel</a>)
**Repository:** <a href="https://github.com/LCBC-UiO/nettskjemar" target ="_blank">https://github.com/LCBC-UiO/nettskjemar</a>
**Version:** 0.1.03
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2020-11-30 16:40] whedon commented on #2874
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-30 16:41] whedon commented on #2874
Failed to discover a `Statement of need` section in paper

[2020-11-30 16:41] whedon commented on #2874
[code]

[2020-11-30 16:41] whedon opened #2875 "[PRE REVIEW]: Archeofrag: an R package for refitting and stratigraphic analysis in archaeology"
**Submitting author:** @sebastien-plutniak (<a href="http://orcid.org/0000-0002-6674-3806">Sébastien Plutniak</a>)
**Repository:** <a href="https://github.com/sebastien-plutniak/archeofrag" target ="_blank">https://github.com/sebastien-plutniak/archeofrag</a>
**Version:** v0.6.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2020-11-30 16:41] whedon commented on #2875
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-30 16:41] whedon commented on #2676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: :point_left:

[2020-11-30 16:41] whedon commented on #2874
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02874/joss.02874/10.21105.joss.02874.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02874/joss.02874/10.21105.joss.02874.pdf) :page_facing_up: :point_left:

[2020-11-30 16:41] whedon commented on #2875
[code]

[2020-11-30 16:42] whedon commented on #2875
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02875/joss.02875/10.21105.joss.02875.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02875/joss.02875/10.21105.joss.02875.pdf) :page_facing_up: :point_left:

[2020-11-30 16:42] whedon commented on #2874
[code]

[2020-11-30 16:43] whedon commented on #2875
[code]

[2020-11-30 16:44] arfon commented on #2873
@whedon reject

:wave: @balicea - assuming this submission is associated with this project https://github.com/DevoLearn/devolearn, please resubmit with your paper _in that repository_ (a non-default branch is fine). Also, as [per our submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html), please rename your paper to `paper.md`

[2020-11-30 16:44] whedon commented on #2873
Paper rejected.

[2020-11-30 16:44] #2873 closed

[2020-11-30 16:45] arfon commented on #2874
@whedon query scope

@Athanasiamo – due to the small size of this code and the software application, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2020-11-30 16:46] whedon commented on #2874
Submission flagged for editorial review.

[2020-11-30 16:46] galessiorob commented on #2676
@atanikan could you check off the missing items from your checklist at your earliest convenience, please? I think we're ready to close this issue out and publish but I'd like to have all reviews complete. Thanks!

[2020-11-30 16:47] arfon commented on #2875
@whedon query scope

@sebastien-plutniak  – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's suggestions are not always right),

[2020-11-30 16:47] whedon commented on #2875
Submission flagged for editorial review.

[2020-11-30 16:48] arfon commented on #2858
@arsenal9971 - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on

[2020-11-30 16:48] arfon commented on #2858
@whedon reject

[2020-11-30 16:48] whedon commented on #2858
Paper rejected.

[2020-11-30 16:48] #2858 closed

[2020-11-30 16:49] henrykironde commented on #2800
@jsgalan looks like there may be a problem with the version of python you are using. `psql` is trying to connect using port `5432.0` This should be `5432`. You can try to provide the arguments and see it that will work
`rdataretriever::install_postgres(dataset = "portal", user = "postgres", host = "localhost", port = 5432, database = "postgres")`

[2020-11-30 16:58] SuperKogito commented on #2167
Unfortunately, we didn't manage to implement the requested changes at this point in time. Therefore, I think this should be closed as @arfon suggested and maybe we attempt a resubmission at a later point in time. I would like to thank this community, the editor @mbobra, the reviewers @bmcfee, @justinsalamon for their help, patience and the learning opportunity they provided us during this submissi

[2020-11-30 17:34] vlandau commented on #2829
Hi @juliohm and @tpoisot -- I've updated the example in the documentation to be much more thorough. I have not included it in the paper yet since I'm at (or over) the soft 1000 word limit for JOSS papers and the docs are linked in the paper, but happy to add it if you two prefer that. [Here](https://docs.circuitscape.org/Omniscape.jl/latest/examples/#Forest-connectivity-in-central-Maryland) is the

[2020-11-30 17:36] boshek commented on #2870
sorry about that @arfon. Added now.

[2020-11-30 17:40] juliohm commented on #2829
I still miss the input image and the intermediate results of the example.
Are you aware that Documenter.jl allows you to run code directly? You don't
need to include code snippets and copy paste results. Just add the actual
script section by section and the results will be shown. Check the
GeoStats.jl docs for examples. In particular the Basic Worfklow section.

On Mon, Nov 30, 2020, 14:34 Vincent

[2020-11-30 17:42] vlandau commented on #2829
@juliohm Yeah I was aware of that but had been trying to avoid that since the example takes a while to run on Travis workers. I totally missed the request to see a plot of the input landcover data! Sorry about that. I'm not sure what you mean about intermediate results, though?

[2020-11-30 17:45] juliohm commented on #2829
By intermediate results I mean the input image and any intermediate output
produced. If the example takes a long time to run you probably need to
reduce the image? This is supposed to be a small toy example to give users
an idea of what is happening. It doesn't need to be an actual real world
application with a large image. Makes sense?

On Mon, Nov 30, 2020, 14:43 Vincent Landau <notifications@gi

[2020-11-30 17:47] galessiorob commented on #2676
@nedRad88 I added a few more edits on this [PR](https://github.com/nedRad88/SCALAR/pull/10), once those are reviewed and merged, and @atanikan completes their checklist we'll be good to go!

[2020-11-30 17:49] vlandau commented on #2829
Okay -- I'll reduce the image size, and will have Documenter.jl run the code directly and have it show all of the REPL outputs. I'll let you know when it's done. Thanks!

[2020-11-30 17:58] mikldk commented on #2856
@whedon add @kdorheim as reviewer

[2020-11-30 17:58] whedon commented on #2856
OK, @kdorheim is now a reviewer

[2020-11-30 17:58] vlandau commented on #2829
@juliohm do you prefer `@repl` blocks or `@example` blocks? I see you use the former in GeoStats.jl docs.

[2020-11-30 17:59] jordanperr commented on #2171
@sjpfenninger We continue to await reviews for this paper. Thank you.

[2020-11-30 18:07] fboehm commented on #2474
@whedon generate pdf

[2020-11-30 18:07] whedon commented on #2474
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02474/joss.02474/10.21105.joss.02474.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02474/joss.02474/10.21105.joss.02474.pdf) :page_facing_up: :point_left:

[2020-11-30 18:14] juliohm commented on #2829
I think @example blocks are fine. As soon as the message is clear it
doesn't matter really.

On Mon, Nov 30, 2020, 14:58 Vincent Landau <notifications@github.com> wrote:

[2020-11-30 18:14] sadielbartholomew commented on #2597
Just to note here that I am ticking off items from the review checklist based on the `joss` branch, rather than the `master` branch, as that has been updated in response to feedback and will be the branch used for the state of the codebase for the archive and for the paper content.

Notably, for reviewing the items under 'Documentation' I have built the documentation locally from the `joss` branch

[2020-11-30 18:21] karthik commented on #2379
@whedon set 10.5281/zenodo.4294266 as archive

[2020-11-30 18:21] whedon commented on #2379
OK. <a href="https://doi.org/10.5281/zenodo.4294266" target="_blank">10.5281/zenodo.4294266</a> is the archive.

[2020-11-30 18:22] karthik commented on #2379
@whedon accept

[2020-11-30 18:22] whedon commented on #2379
[code]

[2020-11-30 18:22] whedon commented on #2379
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1946

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1946, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-30 18:24] whedon commented on #2379
[code]

[2020-11-30 18:38] modenaxe commented on #2740
Hi @Kevin-Mattheus-Moerman, apologies for the late reply! Not the best period for reviewing unfortunately...I doubt I could do this before January... @BKillen05 what is your situation?

[2020-11-30 18:42] mbobra commented on #2167
No worries @SuperKogito and thank you for submitting to JOSS! We look forward to your new submission.

@openjournals/joss-eics Can we close (reject) this submission? The authors would like to continue working on it and re-submit at a later date.

[2020-11-30 19:08] jgostick commented on #2671
@whedon accept

[2020-11-30 19:08] whedon commented on #2671
[code]

[2020-11-30 19:09] whedon commented on #2671
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1947

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1947, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-30 19:11] whedon commented on #2671
[code]

[2020-11-30 19:34] jgostick commented on #2671
@flokno I forgot to do the check doi thing, which whedon kindly did for us...it seems there is a missing doi and there is a suggestion for this?  Can you investigate?

[2020-11-30 20:24] atanikan commented on #2676
@galessiorob I am done now. Thanks, @nedRad88 for easing installation. Everything looks good to me. Great job with the application.

[2020-11-30 21:06] flokno commented on #2671
@jgostick ok seems I mist this in the first round, sorry. Is it sufficient to push a commit with the correct DOI to `master`?

[2020-11-30 21:33] lscalfi commented on #2824
yes @richardjgowers, everything ok I'm going through the documentation, I should be done in a few days

[2020-11-30 21:42] nedRad88 commented on #2676
Thank you all @galessiorob @GregaVrbancic @xiaohk @atanikan For suggestions, comments and reviews.
I closed all issues and merged the last changes.

[2020-11-30 22:31] GISerDaiShaoqing commented on #2409
The authors present an R package for visualization of uncertainty map, Vizumap. It's a very interesting and useful tool for decision-making. The package included four main types of uncertainty map. The guideline and paper are well written under the revision. Several minor revisions should be addressed as follows. @lydialucchesi

### **General checks**

- The 'Version' in DESCRIPTION file is still

[2020-12-01 00:04] sadielbartholomew commented on #2597
@jodemaey: regarding the installation, the documented approach to installation does work in that it allows the scripts to run successfully, so that is sufficient for the review checklist item. Saying that, I've raised an issue because going forward ideally the package could be made available to install from `PyPI` or some `conda` channel or similar.

I do however have to query a claim in the docum

[2020-12-01 01:58] afeinstein20 commented on #2845
Hi @ekaterinailin ! Thanks for writing AltaiPony and what a fantastic logo! The software was easy to install and run, with few to minor errors. I've recorded some of those below as well as some changes I think would make the functionality and the documentation better/easier for users!

**Installation**:
I had no trouble installing and using the software following both installation methods. However

[2020-12-01 02:39] jgostick commented on #2671
I'm actually not sure.  My guess is that you should make a new release, create a new doi, and we'll start again.  I'm pretty new at this, so I will ask the editor in chief to weigh in.

[2020-12-01 04:07] galessiorob commented on #2676
Thanks so much, @atanikan! 🎉

@nedRad88 The next thing we need from you is to deposit your software in Zenodo and post the DOI here. After that, we can set the final version, generate a final proof, and have an Editor in Chief do the publishing. 🚀

[2020-12-01 04:50] henrykironde commented on #2800
@whedon generate pdf

[2020-12-01 04:50] whedon commented on #2800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: :point_left:

[2020-12-01 07:23] konstantinstadler commented on #2765
Hi, based on the resolved issues and the new documentation it looks really good - I very much like the new documentation on readthedocs @GustaveCoste 👏🏽 .
Regarding Simapro: I am at a conference right now until Friday. I will check if I can do that in the next days or early next week latest.

[2020-12-01 07:30] sjpfenninger commented on #2171
@jordanperr I'm aware, my apologies. Unfortunately all of the reviewers have now gone AWOL and I am contacting new ones.

[2020-12-01 07:33] sjpfenninger commented on #2171
@ckaldemeyer @SabineHaas Would you be interested to jump in and help review this submission to JOSS?

[2020-12-01 07:35] sjpfenninger commented on #2765
@konstantinstadler Great, I'll check back next week and in the worst case we proceed without testing the Simapro integration.

[2020-12-01 07:35] sjpfenninger commented on #2765
@whedon remind @sjpfenninger in 1 week

[2020-12-01 07:35] whedon commented on #2765
Reminder set for @sjpfenninger in 1 week

[2020-12-01 08:12] flokno commented on #2671
This is what I did with another reference that was not up-to-date, that's why the release number was 1.0.1 and not 1.0.0. I can create a 1.0.2 release with the DOI added, no problem.

Should I also create a new zenodo dataset?

[2020-12-01 09:05] melund commented on #2740
Yes. I can confirm that I don't have any conflicts of interests :)

[2020-12-01 10:54] nedRad88 commented on #2676
Hi @galessiorob , here is the DOI: 10.5281/zenodo.4299807

[2020-12-01 11:33] Kevin-Mattheus-Moerman commented on #2740
@modenaxe If you are able to help in January that is fine too. I expect any reviewer will tell me "dude the holidays are coming", so I we can certainly wait if you are still interested.

[2020-12-01 11:36] xuanxu commented on #2860
@benjaminrose would you be willing to review this paper? I think your interest in SuperNovae and knowledge of Python makes you a great fit for this submission.

[2020-12-01 12:35] kakiac commented on #2708
@yson no problem at all. I will set an automatic reminder to all of us for mid January - in the meantime hope you all take some time to relax and "recharge" your batteries :)

[2020-12-01 12:38] kakiac commented on #2708
@whedon remind @yson @kakiac in six weeks

[2020-12-01 12:38] whedon commented on #2708
@yson @kakiac doesn't seem to be a reviewer or author for this submission.

[2020-12-01 13:04] kakiac commented on #2775
@brunaw no problem at all, many thanks for letting us know.

[2020-12-01 13:05] kakiac commented on #2775
@schnorr apologies, I seem to have missed your window - I have added you as a reviewer in case you are still able to review. If not, let me know :)

[2020-12-01 13:05] kakiac commented on #2775
@whedon assign @schnorr as reviewer

[2020-12-01 13:05] whedon commented on #2775
OK, @schnorr is now a reviewer

[2020-12-01 13:06] lrnv commented on #2653
@pdebuyl The version 0.3.2 is now on CRAN ! I also made some spellchecks on the paper.

What would be the next step ?

[2020-12-01 13:06] lrnv commented on #2653
@whedon generate pdf

[2020-12-01 13:07] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-12-01 13:08] kakiac commented on #2708
@whedon remind @yson in six weeks

[2020-12-01 13:08] whedon commented on #2708
@yson doesn't seem to be a reviewer or author for this submission.

[2020-12-01 13:11] kakiac commented on #2775
@gagolews, no worries, I will try to find an alternative reviewer. Let me know if your availability has changed in the meantime, though!

[2020-12-01 13:15] lpantano commented on #2857
Just a comment, the stats of whedon is missing the *nf files that are the main code in this kind of pipelines (nextflow).

[2020-12-01 13:24] kakiac commented on #2775
@VNNikolaidis re your question:

Yes please! Here at JOSS we actually encourage you to continuously improve the paper throughout the reviewing process. Editors and reviewers, we all tend to engage the authors freely in a conversation aimed at improving the paper.

[2020-12-01 13:29] kakiac commented on #2775
re your comments here: https://github.com/openjournals/joss-reviews/issues/2775#issuecomment-724629047, I fully agree with your points. It's not about length per se - but the paper needs to help both the specialist and the non-specialist reader:

- understand the high-level functionality and purpose of the software
- understand the research purpose of the software
- place the current software in c

[2020-12-01 13:38] konstantinstadler commented on #2765
Ok, I did a round of Simapro-ELDAM-Simapro (based on the Simapro intro LCA: coffeemachine and the ELDAM GUI) - works well. Also, all other points have been adequately answered. So I recommend to publish it. :ok: :+1:

[2020-12-01 13:41] pdebuyl commented on #2653
Thanks @lrnv

Can you
1. Group the multiple citations using the syntax `[@a;@b]` ?
2. Mention the paper's availability on cran?

We just need the final checks from @agisga (checklist items at the top of the issue + explicit accept of the paper). @coatless approved already. Then, I'll proceed with the editorial part.

You also need to archive it on zenodo (or another doi-granting archival platform

[2020-12-01 13:41] pdebuyl commented on #2653
@whedon set v0.3.2 as version

[2020-12-01 13:41] whedon commented on #2653
OK. v0.3.2 is the version.

[2020-12-01 13:42] kakiac commented on #2775
:wave @agisga @billchenxi @MohmedSoudy @paragkulkarni11 would any of you be available to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-12-01 13:53] jodemaey commented on #2597
@sadielbartholomew : I have responded to your remark about packaging the code on the `qgs` repo issues page: https://github.com/Climdyn/qgs/issues/4

[2020-12-01 14:11] meg-simula commented on #2687
@nschloe: How is the final bits of this review going? Any additional comments/issues to be resolved?

@jorgensd Thanks for your efforts on this - I note that all your boxes are checked - is this good to go from your side?

[2020-12-01 14:13] meg-simula commented on #2645
@ajbaird This reminder was perfect!

@fcooper8472 @MiroK Could you confirm that you recommend this paper for acceptance at this point?

[2020-12-01 14:14] fcooper8472 commented on #2645
@meg-simula yes, absolutely recommended.

[2020-12-01 14:15] meg-simula commented on #2699
@chennachaos @yangbai90 @flofaucher Just checking in - looks like there is good progress - thanks for all of your efforts!

[2020-12-01 14:15] chennachaos commented on #2831
Hi @Kevin-Mattheus-Moerman, I have gone through the paper, repository and documentation of the submission. After careful consideration, I do not recommend the BVPy library for publication in JOSS in its current form.

I do not believe that there is any novelty in this particular library over what is already available in FEniCS. The authors claim, "Its purpose is to enable users to quickly and effi

[2020-12-01 14:24] nschloe commented on #2687
I will check as soon as I have time.

[2020-12-01 14:26] MiroK commented on #2645
@meg-simula Yes from me too

[2020-12-01 14:28] meg-simula commented on #2682
@kparas @jonathanskilling @ramisetti @tjford Would either of you be available to review this paper for JOSS?

[2020-12-01 14:30] meg-simula commented on #2645
Ok @ajbaird - I will follow-up on this later tonight or tomorrow - will get back in touch.

[2020-12-01 14:42] jgostick commented on #2671
I think that's for the best.  Just to keep the release nice and tight.

[2020-12-01 14:50] finsberg commented on #2831
Hi @Kevin-Mattheus-Moerman

I need to disagree with @chennachaos. It is true that FEniCS provides a framework for solving PDEs using the finite element method, but I think `BVPy` add a lot of extra functionality if you want to study boundary value problems in particular.

Furthermore, I think the `BVPy` is a premium example on how you should structure an open source project. They have very good do

[2020-12-01 14:50] jodemaey commented on #2597
Hi @sadielbartholomew ,

Please note that new modifications of the paper have been pushed to the joss branch in commit: https://github.com/Climdyn/qgs/commit/b19cbadc8020f8f77f7e451f35d922ff6d1a935c

[2020-12-01 14:53] kakiac commented on #2775
@schnorr I will initiate the review issue, where you can go and make a start on your review, whilst I look for the second reviewer :) Many thanks again,

[2020-12-01 14:53] kakiac commented on #2775
@whedon start review

[2020-12-01 14:53] whedon opened #2876 "[REVIEW]: The nnlib2 library and nnlib2Rcpp R package for implementing neural networks"
**Submitting author:** @VNNikolaidis (<a href="http://orcid.org/0000-0003-1471-8788">Vasilis Nikolaidis</a>)
**Repository:** <a href="https://github.com/VNNikolaidis/nnlib2Rcpp" target ="_blank">https://github.com/VNNikolaidis/nnlib2Rcpp</a>
**Version:** v.0.1.7.a
**Editor:** @kakiac
**Reviewers:** @schnorr, @MohmedSoudy
**Archive:** <a href="https://doi.org/10.5281/zenodo.4780958" target="_blank"

[2020-12-01 14:53] whedon commented on #2775
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2876.