[2017-03-12 19:55] arfon commented on #156
:wave: @mgymrek - how are you getting on finding a reviewer for this submission?

[2017-03-12 19:57] arfon commented on #162
👋 @acabunoc - would you be willing to review this submission for JOSS?

[2017-03-12 19:57] dgrtwo commented on #61
@arfon Sorry, this completely slipped my mind again :( I'll do it immediately.

[2017-03-12 19:58] #175 closed

[2017-03-12 19:59] arfon commented on #178
👋 @hugoledoux - would you be willing to review this submission for JOSS?

[2017-03-12 20:01] arfon commented on #191
:wave: @danielskatz - any interest in editing this submission?

[2017-03-12 20:03] arfon commented on #198
:wave: @pjotrp - would you be willing to edit this submission for JOSS?

[2017-03-12 20:04] arfon commented on #199
:wave: @vchuravy - would you be willing to review this submission for JOSS?

[2017-03-12 20:06] arfon commented on #200
Hi @howardjp. It's not entirely clear what this submission is? Could you tell me a little more about the research application of this work?

[2017-03-12 20:06] arfon commented on #201
:wave: @acabunoc - would you be willing to edit this submission for JOSS?

[2017-03-12 20:07] arfon commented on #202
👋 @TJBihl - please carry out your review here.

[2017-03-12 21:43] vchuravy commented on #199
Will do.

On Sun, 12 Mar 2017, 21:04 Arfon Smith, <notifications@github.com> wrote:

[2017-03-12 22:02] serine commented on #57
Yeh no problem when you ready.

Qiime has miniconda install now. I don't know how long they had it for, probably fairly recent, but it installs everything with ease. Might be worth while considering if you are having issues with pip install. From what I understand conda (miniconda) wraps everything into one "packages" such that there shouldn't be any issues with dependencies.

In general it would

[2017-03-12 22:29] arfon commented on #199
@whedon assign @arfon as editor

[2017-03-12 22:29] whedon commented on #199
OK, the editor is @arfon

[2017-03-12 22:30] arfon commented on #199
@whedon assign @vchuravy as reviewer

[2017-03-12 22:30] whedon commented on #199
OK, the reviewer is @vchuravy

[2017-03-12 22:30] arfon commented on #199
@whedon start review magic-word=bananas

[2017-03-12 22:30] whedon opened #204 "[REVIEW]: Weave.jl: Scientific Reports Using Julia"
**Submitting author:** @mpastell (<a href="http://orcid.org/0000-0002-5810-4801">Matti Pastell</a>)
**Repository:** <a href="https://github.com/mpastell/weave.jl" target ="_blank">https://github.com/mpastell/weave.jl</a>
**Version:** v0.4.1
**Editor:** @arfon
**Reviewer:** @vchuravy
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.398871" target="_blank">10.5281/zenodo.398871</a>

## Status

[2017-03-12 22:30] whedon commented on #199
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/204. Feel free to close this issue now!

[2017-03-12 22:30] whedon commented on #204
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @vchuravy it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-03-12 22:30] arfon commented on #199
👍 many thanks @vchuravy. Please head over to #204 to actually carry out the review.

[2017-03-12 22:30] #199 closed

[2017-03-13 00:02] danielskatz commented on #191
Ok.

[2017-03-13 00:37] howardjp commented on #200
That's a good question, @arfon.  The environment is an implementation of a specific cellular automata ruleset.  This is [artifical life](https://en.wikipedia.org/wiki/Artificial_life).  In particular, it is a variant of the Langton Ant (see, e.g., [Gajardo, Moreira, and Goles, 2002](http://www.sciencedirect.com/science/article/pii/S0166218X00003346)).  In addition, one could implement the Langton

[2017-03-13 01:30] Kevin-Mattheus-Moerman commented on #47
@v3c70r @charalambos Can you provide an update on progress and if the review process can be resumed? Thanks

[2017-03-13 02:04] arfon commented on #191
@whedon assign @danielskatz as editor

[2017-03-13 02:04] whedon commented on #191
OK, the editor is @danielskatz

[2017-03-13 03:21] v3c70r commented on #47
Thank you for reminding me of the update. Sorry I haven't worked to much on the fixes these days because of tight schedule and Hackathon weekend. I will pick it up this week and hopefully it would be done by the weekend. Thank you for your patience.

[2017-03-13 06:32] pjotrp commented on #198
@whedon commands

[2017-03-13 06:32] whedon commented on #198
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-13 06:32] pjotrp commented on #198
@whedon assign @pjotrp as editor

[2017-03-13 06:32] whedon commented on #198
OK, the editor is @pjotrp

[2017-03-13 06:34] pjotrp commented on #132
I guess @chappers did not find a reviewer. This is going to be relatively hard, but we can start. Sorry about the delay.

[2017-03-13 10:41] noamross commented on #132
I can ping the rOpenSci crowd to see if someone is interested in reviewing this.

[2017-03-13 13:49] danielskatz commented on #191
Hi @lmcinnes
While I look for a reviewer, you might want to fix the formatting of the paper part of your submission.  See https://github.com/mpastell/Weave.jl/blob/master/paper/paper.md for an example of another current submission that has a properly formatted paper.  By this, I refer to two things:
1. the metadata, which looks ok to me, but doesn't seem to generate a proper table like I expected,

[2017-03-13 14:00] danielskatz commented on #191
@whedon start review magic-word=bananas

[2017-03-13 14:01] danielskatz commented on #191
@whedon assign @zhaozhang as reviewer

[2017-03-13 14:01] whedon commented on #191
OK, the reviewer is @zhaozhang

[2017-03-13 14:01] danielskatz commented on #191
@whedon start review magic-word=bananas

[2017-03-13 14:01] whedon commented on #191
You didn't say the magic word! Try this:

[code]

[2017-03-13 14:02] danielskatz commented on #191
@whedon start review magic-word=bananas

[2017-03-13 14:02] whedon commented on #191
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/205. Feel free to close this issue now!

[2017-03-13 14:02] whedon opened #205 "[REVIEW]: hdbscan: A high performance implementation of HDBSCAN* clustering."
**Submitting author:** @lmcinnes (<a href="http://orcid.org/0000-0003-2143-6834">Leland McInnes</a>)
**Repository:** <a href="https://github.com/scikit-learn-contrib/hdbscan" target ="_blank">https://github.com/scikit-learn-contrib/hdbscan</a>
**Version:** v0.8.8
**Editor:** @danielskatz
**Reviewer:** @zhaozhang
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.401403" target="_blank">10.5281

[2017-03-13 14:02] whedon commented on #205
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @zhaozhang it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-03-13 14:03] danielskatz commented on #191
@zhaozhang - the review is is https://github.com/openjournals/joss-reviews/issues/205.  Thanks for agreeing to do this.  Let me know if you have any questions.

[2017-03-13 14:03] #191 closed

[2017-03-13 14:04] danielskatz commented on #205
Hi @lmcinnes

Please fix the formatting of the paper part of your submission. See https://github.com/mpastell/Weave.jl/blob/master/paper/paper.md for an example of another current submission that has a properly formatted paper. By this, I refer to two things:

1. the metadata: your line 12 needs one more space at the start.
2. references to items in the bibliography. Only items that are referenced

[2017-03-13 16:00] whedon opened #206 "[PRE REVIEW]: Varistran: Anscombe's variance stabilizing transformation for RNA-seq gene expression data"
**Submitting author:** @pfh (<a href="http://orcid.org/0000-0002-3980-268X">Paul Harrison</a>)
**Repository:** <a href="https://github.com/MonashBioinformaticsPlatform/varistran" target ="_blank">https://github.com/MonashBioinformaticsPlatform/varistran</a>
**Version:** v1.0.1
**Editor:** @brainstorm
**Reviewer:** @roryk

**What this issue is for**

Thanks for submitting your paper to JOSS @pfh. T

[2017-03-13 16:00] whedon commented on #206
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-13 16:33] Kevin-Mattheus-Moerman commented on #47
Great. Looking forward to it.

[2017-03-13 16:49] lmcinnes commented on #205
Hi @dskatz

Thanks for taking on the review! I'm honoured to have such esteemed
reviewers for this.

I have fixed the metadata as requested. Sorry for the oversight. I believe
I have provided references, hopefully in the correct format (based off the
example).

Thanks,

Leland McInnes.

On Mon, Mar 13, 2017 at 10:04 AM, Daniel S. Katz <notifications@github.com>
wrote:

[2017-03-13 16:54] pjotrp commented on #132
Thanks @noamross. Please do.

[2017-03-13 17:01] danielskatz commented on #205
Thanks - there were also a couple more things I saw, so I put in a pull request.

[2017-03-13 17:26] lmcinnes commented on #205
Thank you! Merged.

[2017-03-13 18:13] nhejazi commented on #156
Just wanted to add a few updates from the development end of the `biotmle` R package:

* There are a number of minor revisions (no changes to the core functionality) currently in process, for submission of the package to the [Bioconductor project](http://www.bioconductor.org/). See [this issue](https://github.com/nhejazi/biotmle/issues/15) for a list.

* All functionality of the package is intact

[2017-03-14 06:47] luk87 commented on #184
@whedon list reviewers

[2017-03-14 06:47] whedon commented on #184
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-03-14 10:16] vchuravy commented on #204
@arfon How would I update the version number of the package for submission? I am nearly done with my review, but I think a point or minor release would be good to give a smooth user experience.

[2017-03-14 10:18] vchuravy commented on #204
Also didn't we used to generate a preview of the PDF?

[2017-03-14 11:05] arfon commented on #204
@vchuravy - I can do this. What's the new release number?

Yeah, I usually do this at the end of the review during processing now. We plan to automate this in the future.

[2017-03-14 13:57] jakevdp commented on #178
I'll edit this one

[2017-03-14 14:00] jakevdp commented on #178
@whedon commands

[2017-03-14 14:00] whedon commented on #178
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-14 14:42] jakevdp commented on #203
@whedon commands

[2017-03-14 14:43] jakevdp commented on #203
@whedon assign @jakevdp as editor

[2017-03-14 14:43] whedon commented on #203
OK, the editor is @jakevdp

[2017-03-14 19:39] jakevdp commented on #178
Thanks to @johnh2o2 for being willing to review!

[2017-03-14 19:40] jakevdp commented on #178
@whedon assign @johnh2o2 as reviewer

[2017-03-14 19:40] whedon commented on #178
OK, the reviewer is @johnh2o2

[2017-03-14 19:41] jakevdp commented on #178
@whedon start revew

[2017-03-14 19:44] arfon commented on #178
@whedon start review magic-word=bananas

[2017-03-14 19:44] whedon commented on #178
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/207. Feel free to close this issue now!

[2017-03-14 19:44] whedon opened #207 "[REVIEW]: skedm: Empirical Dynamic Modeling"
**Submitting author:** @nickc1 (<a href="http://orcid.org/0000-0003-2262-663X">Nicholas Cortale</a>)
**Repository:** <a href="https://github.com/NickC1/skedm" target ="_blank">https://github.com/NickC1/skedm</a>
**Version:** v0.0.1
**Editor:** @jakevdp
**Reviewer:** @johnh2o2
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.4887398.v1" target="_blank">10.6084/m9.figshare.4887398.v1</a>

[2017-03-14 19:44] whedon commented on #207
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @johnh2o2 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-03-14 19:45] jakevdp commented on #178
bananas... forgot about that :smile:

[2017-03-14 19:45] #178 closed

[2017-03-14 19:47] arfon commented on #178
😄  @johnh2o2 - please carry out the review in #207

[2017-03-15 06:56] hugoledoux commented on #178
It's not really in my field of expertise, and if I understand correctly this bot-thing there's already one reviewer and it's enough, right?

[2017-03-15 09:59] vchuravy commented on #204
The new version is v0.4.1.

[2017-03-15 11:29] arfon commented on #178
👍 yep, we've already found a reviewer for this already. Thanks @hugoledoux. If we decide we need a second review then @jakevdp may be in touch to see if you're willing.

[2017-03-15 11:30] arfon commented on #204
@vchuravy - here's the compiled paper PDF for your review [10.21105.joss.00204.pdf](https://github.com/openjournals/joss-reviews/files/844291/10.21105.joss.00204.pdf)

[2017-03-15 16:09] vchuravy commented on #204
Nice! @mpastell updated one citation and I think we are good to go here :+1:

[2017-03-16 12:03] pjotrp commented on #198
@whedon assign @brainstorm as reviewer

[2017-03-16 12:03] whedon commented on #198
OK, the reviewer is @brainstorm

[2017-03-16 12:03] pjotrp commented on #198
@whedon start review

[2017-03-16 12:03] whedon commented on #198
You didn't say the magic word! Try this:

[code]

[2017-03-16 12:03] pjotrp commented on #198
@whedon start review magic-word=bananas

[2017-03-16 12:03] whedon opened #208 "[REVIEW]: VCC: A framework for building containerized reproducible cluster software environments"
**Submitting author:** @joshiggins (<a href="http://orcid.org/0000-0003-1551-5552">Joshua Higgins</a>)
**Repository:** <a href="https://github.com/hpchud/vccjs" target ="_blank">https://github.com/hpchud/vccjs</a>
**Version:** v1.0
**Editor:** @pjotrp
**Reviewer:** @brainstorm
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.4763857" target="_blank">10.6084/m9.figshare.4763857</a>

## S

[2017-03-16 12:03] whedon commented on #198
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/208. Feel free to close this issue now!

[2017-03-16 12:03] whedon commented on #208
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @brainstorm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-03-16 12:04] #198 closed

[2017-03-16 12:27] pjotrp commented on #132
@arfon I am still trying for this one. If we don't find a reviewer could I become the reviewer (and you or someone the editor?)

[2017-03-16 13:09] brainstorm commented on #208
@whedon commands

[2017-03-16 13:09] whedon commented on #208
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-16 13:13] brainstorm commented on #208
@joshiggins

1) The LICENSE seems a bit barebones to me... is it public domain? A clearer definition or reference would be great.

2) The update process fails on me due to hardcoded `/usr/bin` paths in the auto-update process. I would recommend to change the documentation and the `vcc` script so that it refers to `$HOME/bin` which has much higher chances to have suitable permissions rather than `/

[2017-03-16 13:33] brainstorm commented on #208
There are no performance claims to be confirmed in the `paper.md` file, or am I missing some benchmarks I have not seen?

Other than the points outlined above, all the rest looks great, good job @joshiggins!

[2017-03-16 15:03] arfon commented on #132
That works for me. Shall we do it?

[2017-03-16 15:20] dgrtwo commented on #61
After review I'm recommending **acceptance**; my only issues (about GitHub/CRAN differences and DOIs) were resolved in [this issue](https://github.com/andyyao95/walkr/issues/2). My other note is that the version is now **0.3.4** (I don't know where that should change in the submission).

Overall this is a great package and I've been impressed as I've played with the mathematical sampling. I partic

[2017-03-16 15:54] pjotrp commented on #132
I have sent out one more request, let's wait until tomorrow.

[2017-03-16 16:07] pjotrp commented on #208
Thanks @brainstorm for the fast turnaround. @joshiggins can you address the point? We also need to tick the OSI box for JOSS before acceptance.

[2017-03-16 16:11] pjotrp commented on #208
On a personal note, it may be worth looking into Nix and Guix for true reproducibly installs (and they play well inside containers). Bruno has a nice [writeup](https://medium.com/@bmpvieira/a-truly-reproducible-scientific-paper-5059b282ee9a#.c7wny4wx6).

[2017-03-16 20:35] pjotrp commented on #132
@karthik do you think you can recommend someone to review this paper. The subject of parsing is somewhat off-tangent for the regular R-crowd, but I think the project is a worthwhile addition.

[2017-03-16 22:15] joshiggins commented on #208
@brainstorm @pjotrp the MIT license text is copied from https://opensource.org/licenses/MIT as far as I know is the real deal?!

The claim that containers can be more performant than VMs is based on the reference _Felter, 2014_ (in `paper.bib`) but I wasnt sure how to indicate this in the markdown.

Thanks for checking everything! The `vcc` script - it will now try and update itself in whatever di

[2017-03-17 06:14] luk87 commented on #184
@whedon assign @jordigh as reviewer

[2017-03-17 06:14] whedon commented on #184
I'm sorry @luk87, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-03-17 06:15] luk87 commented on #184
@whedon list editors

[2017-03-17 06:15] whedon commented on #184
Current JOSS editors:

[code]

[2017-03-17 06:49] pjotrp commented on #208
MIT license is OSI approved. @arfon I believe we can accept this paper using the latest release.

[2017-03-17 09:04] brainstorm commented on #208
Indeed, all remaining boxes checked ;)

[2017-03-17 13:16] arfon commented on #208
@joshiggins - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-03-17 14:46] bmcage commented on #165
1-3 have been fixed, though a release to PyPI will be needed before the fix is visible in the tags.

For 4, @aragilar is working on cleaning up docstrings, so readthedocs comes out nicer. Start of using readthedocs was added recently and is a work in progress.

[2017-03-17 17:11] joshiggins commented on #208
@arfon here is the DOI of the archive on figshare https://doi.org/10.6084/m9.figshare.4763857 cheers!

[2017-03-17 19:10] zhaozhang commented on #205
Hi @lmcinnes,

I have found the following points during installation:
  1. hdbscan depends on scipy also, it was not documented in the instruction manual.
  2. it works with both Python2 and Python3, please document this.
  3. The code examples in README.md are not self-contained, please replace "data" with some example dataset.

Please also include community guidelines:
  1. Contribute to the sof

[2017-03-17 20:02] arfon commented on #208
@whedon set 10.6084/m9.figshare.4763857 as archive

[2017-03-17 20:02] whedon commented on #208
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.4763857" target="_blank">10.6084/m9.figshare.4763857</a> is the archive.

[2017-03-17 21:56] johnh2o2 commented on #207
Hi @nickc1,

I've raised two issues (about the [version](https://github.com/nickc1/skedm/issues/2) and two [bugs in the ipynb](https://github.com/nickc1/skedm/issues/1)) in your GitHub repository. The rest of my review is below. Let me know if you have any questions or comments regarding anything!

## Overall
I'm not sure if I need to officially assign some status for this review, but currently I

[2017-03-18 00:28] arfon commented on #207
Yep, these will be added at paper compilation time (by Pandoc)

[2017-03-18 00:33] arfon commented on #208
Hi @joshiggins - minor issue here - you actually need to cite the items in your `paper.bib` file for Pandoc to include them in the compiled paper PDF. You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html).

[2017-03-18 00:45] arfon commented on #61
👍  thanks @dgrtwo!

@andyyao95 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-03-18 00:59] lmcinnes commented on #205
Hi @zhaozhang

Thanks for taking the time to look through everything. I've attempted to remedy each of these points. My only issue is that there does not appear to be a DOI for "Rates of convergence for the cluster tree" from NIPS 2010 (NIPS proceedings seem to forego DOIs for reasons that are not clear to me). Any recommendations on that front would be appreciated.

[2017-03-18 01:24] danielskatz commented on #205
If there's no DOI for a reference, then you don't need to supply one :)

JOSS just wants to be sure that where there is a DOI, it's used.

[2017-03-18 01:30] karantibrewal commented on #30
Hi @desilinguist, gentle follow up on this - please let me know if the above works for you.

Thanks,
Karan

[2017-03-18 07:42] pjotrp commented on #132
@arfon Since we are getting no pickup on this paper and I know something about R and parsers I'll take up review. I believe this is an exceptional situation.

[2017-03-18 11:20] arfon commented on #132
@whedon assign @pjotrp as reviewer

[2017-03-18 11:20] whedon commented on #132
OK, the reviewer is @pjotrp

[2017-03-18 11:20] arfon commented on #132
@whedon assign @arfon as editor

[2017-03-18 11:20] whedon commented on #132
OK, the editor is @arfon

[2017-03-18 11:21] arfon commented on #132
@whedon start review magic-word=bananas

[2017-03-18 11:21] whedon commented on #132
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/209. Feel free to close this issue now!

[2017-03-18 11:21] whedon opened #209 "[REVIEW]: Ramble: Higher-Order Functions for Parsing in R"
**Submitting author:** @chappers (<a href="http://orcid.org/0000-0002-2089-3796">Chapman Siu</a>)
**Repository:** <a href="https://github.com/chappers/Ramble" target ="_blank">https://github.com/chappers/Ramble</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewer:** @pjotrp
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.438282" target="_blank">10.5281/zenodo.438282</a>

## Status

[![stat

[2017-03-18 11:21] whedon commented on #209
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-03-18 11:22] arfon commented on #132
👍 many thanks in advance @pjotrp

[2017-03-18 11:22] #132 closed

[2017-03-18 17:44] joshiggins commented on #208
@arfon sorry about that, I missed the [@...] syntax in the example, but it is clear having looked again :laughing:
I just updated the `paper.md`.

[2017-03-18 19:44] arfon commented on #208
@brainstorm many thanks for the review here and to @pjotrp for editing this one ✨

@joshiggins - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00208 ⚡️ 🚀 💥

[2017-03-18 19:44] #208 closed

[2017-03-18 20:56] whedon opened #210 "[PRE REVIEW]: Ensight4Matlab: read, process, and write data in EnSight Gold format from C++ or MATLAB"
**Submitting author:** schmeisser (<a href="http://orcid.org/0000-0002-4400-9635">Andre Schmeißer</a>)
**Repository:** <a href="https://github.com/ITWM-TVFS/Ensight4Matlab" target ="_blank">https://github.com/ITWM-TVFS/Ensight4Matlab</a>
**Version:** v1.0
**Editor:** @cmadan
**Reviewer:** @Kevin-Mattheus-Moerman

**What this issue is for**

Thanks for submitting your paper to JOSS schmeisser. The

[2017-03-18 20:56] whedon commented on #210
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-18 20:57] whedon opened #211 "[PRE REVIEW]: SaffronTree: Fast, reference-free pseudo-phylogenomic trees from reads or contigs"
**Submitting author:** @andrewjpage (<a href="http://orcid.org/0000-0001-6919-6062">Andrew Page</a>)
**Repository:** <a href="https://github.com/sanger-pathogens/saffrontree" target ="_blank">https://github.com/sanger-pathogens/saffrontree</a>
**Version:** v0.1.2
**Editor:** @biorelated
**Reviewer:** @brainstorm

**What this issue is for**

Thanks for submitting your paper to JOSS @andrewjpage. Th

[2017-03-18 20:57] whedon commented on #211
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-18 20:57] whedon opened #212 "[PRE REVIEW]: Pynamical: Model and visualize discrete nonlinear dynamical systems, chaos, and fractals"
**Submitting author:** @gboeing (<a href="http://orcid.org/0000-0003-1851-6411">Geoff Boeing</a>)
**Repository:** <a href="https://github.com/gboeing/pynamical" target ="_blank">https://github.com/gboeing/pynamical</a>
**Version:** v0.1.1
**Editor:** Pending
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS @gboeing. The JOSS editor (shown at the top of th

[2017-03-18 20:57] whedon commented on #212
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-18 20:57] whedon opened #213 "[PRE REVIEW]: OSMnx: A Python package to work with graph-theoretic OpenStreetMap street networks"
**Submitting author:** gboeing (<a href="http://orcid.org/0000-0003-1851-6411">Geoff Boeing</a>)
**Repository:** <a href="https://github.com/gboeing/osmnx/" target ="_blank">https://github.com/gboeing/osmnx/</a>
**Version:** v0.4
**Editor:** @arokem
**Reviewer:** @rdottle

**What this issue is for**

Thanks for submitting your paper to JOSS gboeing. The JOSS editor (shown at the top of this issue)

[2017-03-18 20:57] whedon commented on #213
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-18 21:45] karthik commented on #61
Thanks @dgrtwo!

@arfon Getting caught up here but glad the review is in.

[2017-03-18 21:46] karthik commented on #149
@arfon Just getting caught up. Sure, I'm happy to handle if you haven't found a reviewer.

[2017-03-18 21:48] karthik commented on #192
@arfon sure, will do.

[2017-03-18 21:49] karthik commented on #192
@whedon commands

[2017-03-18 21:49] whedon commented on #192
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-18 21:49] karthik commented on #192
@whedon assign @karthik as editor

[2017-03-18 21:49] whedon commented on #192
OK, the editor is @karthik

[2017-03-18 22:15] karthik commented on #176
Sorry I was away on vacation when the last few discussions happened and there was no way to leave a vacation notice.

@amoeba It is possible to add @arcaravaggi as a reviewer in your package DESCRIPTION using that role. This is still possible after acceptance.  You can do it in your next CRAN update.

[2017-03-18 22:45] arfon commented on #149
@karthik - would you be willing to review this one?

[2017-03-18 22:46] karthik commented on #149
@arfon sure

[2017-03-18 22:51] karthik commented on #149
Pinged @kevinushey as a potential reviewer

[2017-03-19 04:57] kevinushey commented on #149
@karthik I'd be happy to review this package.

[2017-03-19 16:31] arokem commented on #213
:hand: I'd like to edit this

[2017-03-19 16:31] arokem commented on #213
@whedon assign @arokem as editor

[2017-03-19 16:31] whedon commented on #213
OK, the editor is @arokem

[2017-03-19 16:35] arokem commented on #213
@rdottle : would you like to review this software paper for JOSS?

[2017-03-19 16:39] karthik commented on #149
@whedon commands

[2017-03-19 16:39] whedon commented on #149
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-19 16:39] karthik commented on #149
@whedon assign @kevinushey as reviewer

[2017-03-19 16:39] whedon commented on #149
OK, the reviewer is @kevinushey

[2017-03-19 16:40] karthik commented on #149
@whedon assign @karthik as editor

[2017-03-19 16:40] whedon commented on #149
OK, the editor is @karthik

[2017-03-19 16:40] karthik commented on #149
@whedon assign @kevinushey as reviewer

[2017-03-19 16:40] whedon commented on #149
OK, the reviewer is @kevinushey

[2017-03-19 16:41] karthik commented on #149
@whedon commands

[2017-03-19 16:41] whedon commented on #149
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-19 16:41] karthik commented on #149
@whedon start review

[2017-03-19 16:41] whedon commented on #149
You didn't say the magic word! Try this:

[code]

[2017-03-19 16:41] karthik commented on #149
@whedon start review magic-word=bananas

[2017-03-19 16:41] whedon commented on #149
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/214. Feel free to close this issue now!

[2017-03-19 16:41] whedon opened #214 "[REVIEW]: hmds: An R Package for Heuristic High and Multi Dimensional Scaling"
**Submitting author:** @jirotubuyaki (<a href="http://orcid.org/0000-0001-6871-7727">Masashi Okada</a>)
**Repository:** <a href="https://github.com/jirotubuyaki/hmds" target ="_blank">https://github.com/jirotubuyaki/hmds</a>
**Version:** version 1.0
**Editor:** @karthik
**Reviewer:** @kevinushey
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/bebd059342063463594922799cd98b

[2017-03-19 16:41] whedon commented on #214
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kevinushey it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-03-19 16:48] rdottle commented on #213
@arokem I would love to review, looks really interesting. What's the timeline, and how should I format comments/review output? Thanks!

[2017-03-19 19:07] #149 closed

[2017-03-19 21:04] luk87 commented on #184
@whedon start review

[2017-03-19 21:04] whedon commented on #184
I'm sorry @luk87, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-03-19 21:25] arfon commented on #184
:wave: @luk87. Could you take a look at the editor list and see which editor might be closest to your research domain? http://joss.theoj.org/about#editorial_board

Once we have an editor assigned we can start looking for a reviewer.

[2017-03-19 21:54] luk87 commented on #184
Dear @arfon I think the editor closest to my research domain could be Jake Vanderplas .
Thank you

[2017-03-19 22:11] arfon commented on #184
OK thanks. @jakevdp - any chance you could edit this submission for us?

[2017-03-19 22:24] arokem commented on #213
Awesome! Thank you.

Take a look at the guidelines for reviewers here: http://joss.theoj.org/about#reviewer_guidelines

I will start the review on another issue, where there will be a check-list for you to go through, to make sure that the software meets all the requirements for publication. If there are items on the checklist that are not currently met by the software, post an issue on the softwa

[2017-03-19 22:24] arokem commented on #213
@whedon assign @rdottle as reviewer

[2017-03-19 22:24] whedon commented on #213
OK, the reviewer is @rdottle

[2017-03-19 22:25] arokem commented on #213
@whedon start review magic-word=bananas

[2017-03-19 22:25] whedon commented on #213
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/215. Feel free to close this issue now!

[2017-03-19 22:25] whedon opened #215 "[REVIEW]: OSMnx: A Python package to work with graph-theoretic OpenStreetMap street networks"
**Submitting author:** @gboeing (<a href="http://orcid.org/0000-0003-1851-6411">Geoff Boeing</a>)
**Repository:** <a href="https://github.com/gboeing/osmnx/" target ="_blank">https://github.com/gboeing/osmnx/</a>
**Version:** v0.4
**Editor:** @arokem
**Reviewer:** @rdottle
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.557105" target="_blank">10.5281/zenodo.557105</a>

## Status

[![status

[2017-03-19 22:25] whedon commented on #215
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @rdottle it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-03-19 22:26] arokem commented on #213
OK - @rdottle - head on over to #215 for the review! Thanks again!

[2017-03-19 22:26] #213 closed

[2017-03-19 23:25] labarba commented on #212
Thank for your submission, @gboeing. That certainly looks cool, and it seems like a neat package for teaching Nonlinear Dynamics. But can you clarify whether the software has a research application? The examples shown are textbook systems—they look great, though! (And I do not find a statement of need.)

[2017-03-20 09:13] dirkroorda commented on #201
Yes.

[2017-03-20 12:09] andyyao95 commented on #61
Hi @arfon. Here it is: https://doi.org/10.5281/zenodo.400944

Let me know if this is okay! Thanks for all the help.

[2017-03-20 12:57] arfon commented on #61
@whedon set 10.5281/zenodo.400944 as archive

[2017-03-20 12:57] whedon commented on #61
OK. <a href="http://dx.doi.org/10.5281/zenodo.400944" target="_blank">10.5281/zenodo.400944</a> is the archive.

[2017-03-20 13:06] arfon commented on #61
Many thanks for the review @dgrtwo and for editing this one @karthik ✨

@andyyao95 - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00061 ⚡️ 🚀 💥

[2017-03-20 13:06] #61 closed

[2017-03-20 13:11] andyyao95 commented on #61
Hi @arfon @dgrtwo and @karthik, thanks so much for the help in the process. Really appreciate everything and glad that the review was successful.

[2017-03-20 13:22] arfon commented on #61
@davidkane9 - https://github.com/openjournals/joss-papers/raw/master/joss.00061/10.21105.joss.00061.pdf _is_ the full JOSS paper. Please take a look at the author guidelines [here](http://joss.theoj.org/about#author_guidelines).

[2017-03-20 13:33] davidkane9 commented on #61
Ah, yes. Read that so long ago that I had forgotten it!

;-)

On Mon, Mar 20, 2017 at 9:23 AM, Arfon Smith <notifications@github.com>
wrote:

[2017-03-20 16:27] desilinguist commented on #30
When I run your code snippet, I get no errors but the graph is blank as shown below.

<img width="497" alt="screen shot 2017-03-20 at 12 26 15 pm" src="https://cloud.githubusercontent.com/assets/161680/24109923/81a51bdc-0d68-11e7-95ed-f4e4e51bf9dc.png">

[2017-03-20 16:47] karantibrewal commented on #30
Thanks @desilinguist. I believe there is a problem with the dygraphs package on your computer. I tried running the same commands with your version, but the graph was not blank. Could you try the following:

(1) Try reinstalling dygraphs, and running the previous code.
That is,
[code]

(2) If you still see a blank plot, try a simpler plot:
[code]

Please let me know what you see.

[2017-03-20 18:16] desilinguist commented on #30
I still see a blank graph after removing and re-installing `dygraphs`, for both snippets.

[2017-03-20 18:21] karantibrewal commented on #30
Thanks for your prompt reply @desilinguist! This is definitely an issue with the Dygraphs package. I would suggest you to delete and reinstall R, RStudio, and try running the simple plot again:

[code]

[2017-03-20 19:18] desilinguist commented on #30
Even if I run on the terminal in `R`, I still get a blank graph.

Perhaps this should be assigned to another reviewer. I don't think I want to delete and reinstall everything.

[2017-03-20 19:32] karantibrewal commented on #30
Sorry for the inconvenience @desilinguist. I'm fairly certain that this is a problem in your local machine since simple dygraph plots don't show up. However, I understand your predicament in having to delete and reinstall everything. Thanks for your help in the process.

[2017-03-20 20:39] danielskatz commented on #205
Hi @zhaozhang

If the authors have addressed your points, please update the checkboxes and let me know here that you think is ready to be accepted.

If not, please continue to work with the authors on what you think is needed.

[2017-03-20 20:58] gboeing commented on #212
@labarba thanks so much for the quick feedback. I've updated the paper per your suggestions, to clarify its research applications and state the need/gap it fills.

[2017-03-20 21:01] karthik commented on #192
@whedon assign @bbolker as reviewer

[2017-03-20 21:02] whedon commented on #192
OK, the reviewer is @bbolker

[2017-03-20 21:02] karthik commented on #192
@whedon commands

[2017-03-20 21:02] whedon commented on #192
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-20 21:03] karthik commented on #192
@whedon start review

[2017-03-20 21:03] whedon commented on #192
You didn't say the magic word! Try this:

[code]

[2017-03-20 21:03] karthik commented on #192
@whedon start review magic-word=bananas

[2017-03-20 21:03] whedon commented on #192
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/216. Feel free to close this issue now!

[2017-03-20 21:03] whedon opened #216 "[REVIEW]: Fitting a Gamma-Gompertz survival model to capture-recapture data collected on free-ranging animal populations"
**Submitting author:** @oliviergimenez (<a href="http://orcid.org/0000-0001-7001-5142">Olivier Gimenez</a>)
**Repository:** <a href="https://github.com/oliviergimenez/GammaGompertzCR" target ="_blank">https://github.com/oliviergimenez/GammaGompertzCR</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewer:** @bbolker
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1154931" target="_blank">1

[2017-03-20 21:03] whedon commented on #216
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @bbolker it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-03-20 21:03] #192 closed

[2017-03-20 21:06] zhaozhang commented on #205
Hi @danielskatz

Yes, I have update the checkboxes. I think it is ready to be accepted.

[2017-03-20 21:08] danielskatz commented on #205
@arfon, over to you for the next steps.

@zhaozhang, thanks for the quick work in suggesting changes

@lmcinnes, thanks for your quick work in responding to the suggestions.

[2017-03-20 22:34] lmcinnes commented on #205
Thanks @zhaozhang and @danielskatz for steering me through this so well.

On Mon, Mar 20, 2017 at 5:08 PM, Daniel S. Katz <notifications@github.com>
wrote:

[2017-03-21 00:04] arfon commented on #205
@lmcinnes - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-03-21 00:30] lmcinnes commented on #205
I believe I managed to make this work: http://doi.org/10.5281/zenodo.401403

Thanks for all the help.

On Mon, Mar 20, 2017 at 8:04 PM, Arfon Smith <notifications@github.com>
wrote:

[2017-03-21 03:26] acabunoc commented on #201
@arfon I'm on it!

[2017-03-21 03:26] acabunoc commented on #201
@whedon assign @acabunoc as editor

[2017-03-21 03:26] whedon commented on #201
OK, the editor is @acabunoc

[2017-03-21 03:27] acabunoc commented on #201
Hey @dirkroorda, I'll reach out to some potential reviews soon, but do you have anyone in mind? I like to try to find a couple people to review.

[2017-03-21 04:39] vchuravy commented on #204
@arfon anything else left to do?

[2017-03-21 12:43] arfon commented on #204
@vchuravy - if this is all good then it's over to myself and @mpastell to wrap this up.

@mpastell - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-03-21 12:43] arfon commented on #205
@whedon set 10.5281/zenodo.401403 as archive

[2017-03-21 12:43] whedon commented on #205
OK. <a href="http://dx.doi.org/10.5281/zenodo.401403" target="_blank">10.5281/zenodo.401403</a> is the archive.

[2017-03-21 12:53] arfon commented on #205
@zhaozhang many thanks for the review here and @danielskatz for editing this paper ✨

@lmcinnes - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00205 ⚡️ 🚀 💥

[2017-03-21 12:53] #205 closed

[2017-03-21 14:44] mpastell commented on #204
@vchuravy Many thanks for the review!

@arfon The software is archived in Zenodo: 10.5281/zenodo.398871

[2017-03-21 18:09] dirkroorda commented on #201
maybe Daniel Semler. He is a user, and we communicate a lot. Maybe not independent enough. That will hold for most people I have in mind.

[2017-03-22 12:08] arfon commented on #204
@whedon set 10.5281/zenodo.398871 as archive

[2017-03-22 12:08] whedon commented on #204
OK. <a href="http://dx.doi.org/10.5281/zenodo.398871" target="_blank">10.5281/zenodo.398871</a> is the archive.

[2017-03-22 12:13] arfon commented on #204
@vchuravy many thanks for your rapid review here ✨

@mpastell - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00204 ⚡️ 🚀 💥

[2017-03-22 12:13] #204 closed

[2017-03-22 13:23] Kevin-Mattheus-Moerman commented on #210
@whedon commands

[2017-03-22 13:23] whedon commented on #210
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-03-22 13:31] Kevin-Mattheus-Moerman commented on #210
@cMadan / @labarba / @kyleniemeyer would one of you be willing to act as editor for this? I'd like to review this submission but will focus on the MATLAB and 3D mesh visualization side of this project. We will also have to find additional reviewers with more CFD and C++ experience. Can you help suggest such reviewers?

[2017-03-22 13:50] Kevin-Mattheus-Moerman commented on #196
@ednusi I'm chasing down reviewers for your submission and will keep you up to date. In the mean time I've pre-reviewed components of the work briefly myself. I have some comments which you can start to address (apologies if I missed things as I am not [yet] a Python expert).

1) You readme file is very minimal. Here is an example of a more complete readme https://github.com/ITWM-TVFS/Ensight4Matl

[2017-03-22 18:51] cMadan commented on #210
@Kevin-Mattheus-Moerman - I can act as editor and am happy to help with recruiting an additional reviewer. Do you think we should 'start' the review now, or recruit the additional reviewer first?

[2017-03-22 18:51] cMadan commented on #210
@whedon assign @cmadan as editor

[2017-03-22 18:51] whedon commented on #210
OK, the editor is @cmadan

[2017-03-22 18:52] cMadan commented on #210
@whedon assign @Kevin-Mattheus-Moerman as reviewer

[2017-03-22 18:52] whedon commented on #210
OK, the reviewer is @Kevin-Mattheus-Moerman

[2017-03-22 19:37] jakevdp commented on #184
Hi all – this is pretty far from my area of expertise, and I wouldn't even know where to begin in finding good reviewers for this (I haven't thought about Lie algebras since my second year of graduate school). I'd be happy to serve as editor, but @luk87 do you have any recommendations for appropriate people to review this? Thanks.

[2017-03-22 19:43] jakevdp commented on #207
@johnh2o2 — thanks for the thorough review. I think that some of the confusion you noted could be remedied by somewhere pointing to the scikit-learn API, which this seems to be modeled after.

@nickc1 — I think these are a nice set of comments and suggestions, and will improve the usability of your code. I hope you're able to address them!

[2017-03-22 19:50] nickc1 commented on #207
@jakevdp -- I definitely agree. Working down the list as I type this.

@johnh2o2 -- Appreciate the thorough comments. It's great getting an outside perspective on something that has been only used in our lab.  Hoping to have it wrapped up by the end of today! Thanks again.

[2017-03-22 20:06] Kevin-Mattheus-Moerman commented on #210
We can formally start the review now and I can get started.

[2017-03-22 20:42] danielskatz commented on #184
I can probably find a reviewer for this - if so, I would be happy to try to edit it.

[2017-03-22 20:47] luk87 commented on #184
Dear @jakevdp thank you for the answer, I do not know anyone who could be an appropriate reviewer.  Dear @danielskatz thank you, I would appreciate it.

[2017-03-22 21:08] kyleniemeyer commented on #165
@bmcage great! I think once that work is done with the docstrings, then we can accept.

[2017-03-23 00:22] cMadan commented on #210
@whedon start review

[2017-03-23 00:22] whedon commented on #210
You didn't say the magic word! Try this:

[code]

[2017-03-23 00:22] cMadan commented on #210
@whedon start review magic-word=bananas

[2017-03-23 00:22] whedon commented on #210
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/217. Feel free to close this issue now!

[2017-03-23 00:22] whedon opened #217 "[REVIEW]: Ensight4Matlab: read, process, and write data in EnSight Gold format from C++ or MATLAB"
**Submitting author:** schmeisser (<a href="http://orcid.org/0000-0002-4400-9635">Andre Schmeißer</a>)
**Repository:** <a href="https://github.com/ITWM-TVFS/Ensight4Matlab" target ="_blank">https://github.com/ITWM-TVFS/Ensight4Matlab</a>
**Version:** v1.0
**Editor:** @cMadan
**Reviewer:** @Kevin-Mattheus-Moerman
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1095608" target="_blank">10.528

[2017-03-23 00:22] whedon commented on #217
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer,

[2017-03-23 00:22] #210 closed

[2017-03-23 01:30] Kevin-Mattheus-Moerman commented on #217
@schmeisser I started the review process. As I said my review will largely focus on the MATLAB integration. I have little experience with C++ so we will find additional reviewers for that component of your work.
I may need some help with installation. I've been following the installation instructions but got stuck (might be doing something wrong) building the EnsightLib library. I use Ubuntu 16.04

[2017-03-23 04:21] ednusi commented on #196
Thank you very much.

1. You're right, I will work on updating it to meet these standards right
away.
2. I have working examples and test suite, a lot of these are mentioned in
the documentation but would be good to include in the README (which I'll do
as I update it). The files to test with are in the "ref" subdirectory.
3. I will check on this, xmltodict is listed in the dependencies and hosted

[2017-03-23 10:39] danielskatz commented on #184
@luk87. As I've talked to a couple of people in this area and browsed the code itself, it seems to me that this is not really research software, but is more a GUI around a somewhat simple code, with the intent that this is mostly used for education.  But I may be completely wrong, as this is not my technical area at all.

Can you help me understand the research usage of this software?

[2017-03-23 11:16] luk87 commented on #184
Dear @danielskatz in several areas, as higher spin physics, supergravity, double filed theory or General relativity as an example it is common to deal with tensors carrying indices in one of the classical Lie algebras.  Although  it is trivial to compute the dimension of irreps for the algebra A_{n} it is not completely trivial to impose irreducible conditions on tensors when one is dealing with t

[2017-03-23 11:31] danielskatz commented on #184
thanks - you might want to include this (or some version of it) in the documents/text about the software

[2017-03-23 11:41] luk87 commented on #184
Yes, thank you

[2017-03-23 21:51] nickc1 commented on #207
Hey John @johnh2o2 ,

Thanks for the helpful comments. They made the documentation a lot clearer. Also, sorry for the lag in response time. I'm changing jobs at the end of next week, so I am getting pulled in a lot of different directions. Thanks for taking the time to review this! Let me know if you have any questions or want me to point you to specific commits or need me to clarify some of the n

[2017-03-24 14:28] jakevdp commented on #207
@nickc1 – thanks for the quick response here. @johnh2o2 – let us know if you have any further suggestions for the submission. Thanks all!

[2017-03-24 16:22] johnh2o2 commented on #207
Hi @nickc1,

Things look much better! I have a few additional suggestions for you; once these are resolved I think everything should be ready to go.

## Version

It's still `0.2.0` in the repo -- I would consider changing either the repo version, the Github release version (I'm not sure where that comes from) or both.

## Documentation

### Embed

I think you mean `y`is the **green** matrix above

[2017-03-25 12:47] pjotrp commented on #209
Dear @chappers,

I finally have time to work on this review. I started, but there are two issues. First the license file does not contain an OSI approved license. This is obligatory for JOSS, so please add one. Then the paper you refer to is hosted on Slideshare https://www.slideshare.net/chapm0nsiu/ramble-introduction. I can not download it without having to register. Please make it freely availa

[2017-03-25 12:49] pjotrp commented on #209
@chappers Also the unit tests point to a standard R test. Can you do better than that? Kinda meaningless to add a test icon to the website if it is not a real test. Correct me if I am wrong.

[2017-03-25 21:22] chappers commented on #209
@pjotrp Updated the license with license.md (artifact of the R build process) and added the pdf to `/docs`.

What do you mean if its not a real test? Do you expect tests with sample data or something similar?

[2017-03-26 14:20] pjotrp commented on #209
Thanks! Regarding the test I would expect it to build the package and run it as a minimum. Even better to have a real data test in it though. Many packaging systems depend on these tests to make sure integration works (including those of CRAN).

[2017-03-26 14:41] pjotrp commented on #209
The current LICENSE file is a bit confusing. How about renaming LICENSE.md to LICENSE? Alternatively add that it is an MIT or expat license to the current LICENSE file.

[2017-03-26 14:43] pjotrp commented on #209
If possible can you add to the README some guidelines on what people need to do to contact you? I.e., community guidelines.

[2017-03-26 15:02] pjotrp commented on #209
I think this is a nice piece of work and can be quite useful to scientists needing to parse data. @chappers  to popularize this work I would add more examples of real use cases, especially for statistics or bioinformatics (who should be using proper parsers more often). Double them as tests for your test scripts too. Though you can do that later.

Before submission I recommend changing the name of

[2017-03-26 21:11] psesh commented on #166
Hi @katyhuff, apologizes for the delay in getting back. I have addressed the reviewer's comments. Here is a summary of what I've done:

1. Added references & a statement of need to the software paper;
2. Added community guidelines, a simple example, & a statement of need to the README.md file;
3. Added plenty of examples (which can be found at: www.effective-quadratures.org). The README.md file ha

[2017-03-27 00:52] nicoguaro commented on #166
@katyhuff, it seems like it is good to go. I would say that the "Community guidelines" might be a little bit more explicit. But, you let me know.

[2017-03-27 01:51] katyhuff commented on #166
@psesh thank you for your updated paper. I believe this is ready to accept.

@nicoguaro Thanks for the speedy responses! It looks good to me, too! I agree, we certainly would encourage more detailed community guidelines, but I think the statement in the readme, combined with some additional encouragement for contribution on the website fits the bill.

@arfon, can you take it from here? This paper

[2017-03-27 06:25] danielskatz commented on #184
@whedon assign @danielskatz as editor

[2017-03-27 06:25] whedon commented on #184
OK, the editor is @danielskatz

[2017-03-27 08:16] psesh commented on #166
Sweet! Thank you @kathuff & @nicoguaro :)

[2017-03-27 09:18] chappers commented on #209
Hi @pjotrp thanks for spending time on this! I have updated the LICENSE file so now it shows up correctly. I have also added the contributing guide.

@arfon The software is in Zenodo: 10.5281/zenodo.438282

[2017-03-27 10:45] pjotrp commented on #209
@arfon I believe this paper is good to be published in JOSS.

[2017-03-27 11:01] pjotrp commented on #124
@kpolimis I pinged you by E-mail

[2017-03-27 13:19] arfon commented on #209
@whedon set 10.5281/zenodo.438282 as archive

[2017-03-27 13:19] whedon commented on #209
OK. <a href="http://dx.doi.org/10.5281/zenodo.438282" target="_blank">10.5281/zenodo.438282</a> is the archive.

[2017-03-27 13:27] arfon commented on #209
@chappers - the title of this paper appears to be ['Eclipse Golo'](https://github.com/chappers/Ramble/blob/master/joss-paper/paper.md) - is that correct?

[2017-03-27 13:27] arfon commented on #166
@psesh - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-03-27 13:32] chappers commented on #209
@arfon good spot...changed it to a more sensible title :)

[2017-03-27 14:01] arfon commented on #209
@pjotrp many thanks for reviewing here ✨

@chappers - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00209 ⚡️ 🚀 💥

[2017-03-27 14:01] #209 closed

[2017-03-27 14:22] psesh commented on #166
@afron All done. Here is the link: https://zenodo.org/record/438320#.WNkf4aOZOiM

[2017-03-27 16:57] kpolimis commented on #124
Hi Arfon,

I've made the changes suggested by the reviewer in the paper and README.
The attached document contains the reviewer's original comments and my
responses are highlighted in yellow. Let me know if you have any questions.
Thanks for your support during this process.

Best,

Kivan

On Sun, Mar 12, 2017 at 12:52 PM, Arfon Smith <notifications@github.com>
wrote:

[2017-03-27 21:44] pjotrp commented on #124
The attachment is not visible. Also can you take a look at the LICENSE file. Is it really a BSD-3? Github should recognize the license contents to display it like in the icon on the top right of https://github.com/lomereiter/sambamba

[2017-03-27 22:25] kpolimis commented on #124
I've copied the BSD-3 clause License and changed the first line only, not
sure why the license is not being displayed like the repo you sent. Which
attachment are you speaking about?

On Mon, Mar 27, 2017 at 2:44 PM, Pjotr Prins <notifications@github.com>
wrote:

[2017-03-28 01:26] pjotrp commented on #124
Thanks. It is probably not showing because the update is not on the master branch. The attachment you mentioned above with remarks in yellow...

The original software on which yours is based had an MIT license. I think it would be more appropriate to have that then to change it to BSD-3. Even so, the difference is minimal (BSD-3 forces you to show a copyright notice with a binary), so I think it i

[2017-03-28 01:29] pjotrp commented on #124
@DannyArends can you take a look at the improvements and state that you are happy with them? Use the following branch: https://github.com/kpolimis/forest-confidence-interval/tree/paper

[2017-03-28 06:09] kpolimis commented on #124
Thanks for the feedback. I've updated the paper (attached) and revised the
License and README to reflect an MIT license. Lastly, my response to the
review is attached as a .docx. Let me know if you have any more questions.

Best,

Kivan

On Mon, Mar 27, 2017 at 6:26 PM, Pjotr Prins <notifications@github.com>
wrote:

[2017-03-29 17:02] arfon commented on #166
@whedon set 10.5281/zenodo.438320 as archive

[2017-03-29 17:02] whedon commented on #166
OK. <a href="http://dx.doi.org/10.5281/zenodo.438320" target="_blank">10.5281/zenodo.438320</a> is the archive.

[2017-03-29 17:13] arfon commented on #166
@nicoguaro many thanks for reviewing this and @katyhuff for editing ✨

@psesh - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00166 ⚡️ 🚀 💥

[2017-03-29 17:13] #166 closed

[2017-03-30 14:42] whedon opened #218 "[PRE REVIEW]: Noisyopt"
**Submitting author:** @andim (<a href="http://orcid.org/0000-0002-6643-7622">Andreas Mayer</a>)
**Repository:** <a href="https://github.com/andim/noisyopt" target ="_blank">https://github.com/andim/noisyopt</a>
**Version:** v0.2
**Editor:** Pending
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS @andim. The JOSS editor (shown at the top of this issue) w

[2017-03-30 14:43] whedon commented on #218
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-31 12:06] whedon opened #219 "[PRE REVIEW]: filltex: Automatic queries to ADS and INSPIRE databases to fill LaTex bibliography"
**Submitting author:** @dgerosa (<a href="http://orcid.org/0000-0002-0933-3579">Davide Gerosa</a>)
**Repository:** <a href="https://github.com/dgerosa/filltex" target ="_blank">https://github.com/dgerosa/filltex</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @lnielsen

**What this issue is for**

Thanks for submitting your paper to JOSS @dgerosa. The JOSS editor (shown at the top of this

[2017-03-31 12:06] whedon commented on #219
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-03-31 12:07] whedon opened #220 "[PRE REVIEW]: ccex: An R client for the C-Cex Crypto Currency Exchange"
**Submitting author:** @kaneplusplus (<a href="http://orcid.org/0000-0003-1899-6662">Michael Kane</a>)
**Repository:** <a href="https://github.com/kaneplusplus/ccex" target ="_blank">https://github.com/kaneplusplus/ccex</a>
**Version:** 0.1.0
**Editor:** Pending
**Reviewer:** Pending

**What this issue is for**

Thanks for submitting your paper to JOSS @kaneplusplus. The JOSS editor (shown at the

[2017-03-31 12:07] whedon commented on #220
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-03-31 12:07] arfon commented on #219
:wave: @lnielsen - would you be willing to review this submission for JOSS?

[2017-03-31 12:17] arfon commented on #220
:wave: @kaneplusplus, thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#author_guidelines). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)?

Many thanks!

[2017-03-31 13:43] danielskatz commented on #184
@whedon assign @jmichel7 as reviewer

[2017-03-31 13:43] whedon commented on #184
OK, the reviewer is @jmichel7

[2017-03-31 13:44] danielskatz commented on #184
@whedon start review
no bananas - let's see if it works

[2017-03-31 13:44] whedon commented on #184
You didn't say the magic word! Try this:

[code]

[2017-03-31 13:44] danielskatz commented on #184
@whedon start review magic-word=bananas

[2017-03-31 13:44] whedon commented on #184
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/221. Feel free to close this issue now!

[2017-03-31 13:44] whedon opened #221 "[REVIEW]: YoungTab"
**Submitting author:** @luk87 (<a href="http://orcid.org/0000-0001-9033-1345">Luca Romano</a>)
**Repository:** <a href="https://github.com/luk87/YoungTab" target ="_blank">https://github.com/luk87/YoungTab</a>
**Version:** v1.0
**Editor:** @danielskatz
**Reviewer:** @jmichel7
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.572276" target="_blank">10.5281/zenodo.572276</a>

## Status

[![sta

[2017-03-31 13:44] whedon commented on #221
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jmichel7 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-03-31 13:44] #184 closed

[2017-03-31 13:52] arfon commented on #184
😞 sorry, I've still not fixed that yet @danielskatz

[2017-03-31 13:57] danielskatz commented on #221
Reviewer instructions

In brief:

@jmichel7: your job now is to go through the checklist at top of the issue, and check off the items that are good.

If you have specific detailed issues with the submission/software, you can open an issue in the software repository (https://github.com/luk87/YoungTab, select Issues tab, click on the green "New issue" button) and put a comment here in this issue tha

[2017-03-31 15:24] kaneplusplus commented on #220
Hi @afron. Thanks for the note. I do think the point is valid. I think the data is very useful for research purposes for the following two general reasons:

1. The crypto-currency market itself still isn't well understood. The fact that USD is included in the market allows someone to price cryptocurrencies in terms of traditional currencies.
2. The order book for each market is available. This is

[2017-03-31 15:27] arfon commented on #219
@whedon assign @lnielsen as reviewer

[2017-03-31 18:40] ednusi commented on #196
I haven't looked at my repository since last summer, and when I last left it it worked and compiled with all dependencies (it interfaces with FORTRAN, which has to compile). I attempted to run the program now, and it has not been running, possibly as a result of updates made to any of the dependent libraries.

Do you think I should I withdraw my submission?

School has really picked up around midt

[2017-03-31 18:56] kyleniemeyer commented on #196
Hi @ednusi- sorry to hear about those issues. It's totally up to you—if you think you will have a chance to work on these issues in the near future (meaning, in 2017 😄) then we can leave this issue open until you have time. For example, do you think you'll have time this summer?

If you don't think you will have that time, nor do you expect any of your coauthors to help, then you can withdraw.

[2017-03-31 19:43] arfon commented on #219
@whedon assign @lnielsen as reviewer

[2017-03-31 19:43] whedon commented on #219
OK, the reviewer is @lnielsen

[2017-03-31 19:43] arfon commented on #219
@whedon start review magic-word=bananas

[2017-03-31 19:43] whedon commented on #219
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/222. Feel free to close this issue now!

[2017-03-31 19:43] whedon opened #222 "[REVIEW]: filltex: Automatic queries to ADS and INSPIRE databases to fill LaTex bibliography"
**Submitting author:** @dgerosa (<a href="http://orcid.org/0000-0002-0933-3579">Davide Gerosa</a>)
**Repository:** <a href="https://github.com/dgerosa/filltex" target ="_blank">https://github.com/dgerosa/filltex</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @lnielsen
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.570875" target="_blank">10.5281/zenodo.570875</a>

## Status

[![s

[2017-03-31 19:43] whedon commented on #222
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @lnielsen it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-03-31 19:44] arfon commented on #219
@lnielsen - please head over the #222 to complete the review.

Many thanks in advance! ✨

[2017-03-31 19:44] #219 closed

[2017-04-01 00:08] cxhernandez commented on #188
That's great to hear! Thanks!

I've made a [PR](https://github.com/msmexplorer/msmexplorer/pull/79) that addresses each task item. Let me know what you think!

[2017-04-01 20:13] Kevin-Mattheus-Moerman commented on #196
I'm asking a FORTRAN/mechanical engineering colleague to see if he's interested in reviewing and potentially fixing the compiling issues. I'll keep you up to date. If we can fix this easily we might be able to resume review.

[2017-04-02 14:27] arfon commented on #220
Thanks for the feedback @kaneplusplus. Based on your feedback here I'm wondering if this is a good candidate for [rOpenSci](https://ropensci.org) (which would also allow for submission here).

@noamross - any interest in this package?

[2017-04-02 15:03] kaneplusplus commented on #220
@arfon thanks for the suggestion.

@noamross if you think it's appropriate, I would he happy to contribute to the rOpenSci ecosystem.

[2017-04-02 23:53] Kevin-Mattheus-Moerman commented on #47
@v3c70r please take the time to make the changes required. However do you think you are able to provide an update on progress and perhaps a rough estimate of when you think the work will be done? Thanks.

[2017-04-03 04:34] v3c70r commented on #47
Sorry for making you wait.
I'm refactoring the code to change the `Camera` into `ImageProcessor` and moved it out of `Reconstructor`. It has been done on the CPU and I still need to do the same change on GPU code. As well as the documentation. The updated pipeline is stated in the [graph of README](https://github.com/theICTlab/3DUNDERWORLD-SLS-GPU_CPU/blob/dev/doc/how-it-works.svg).

[2017-04-03 12:57] arfon commented on #30
👍 ok no problem @desilinguist - thanks for all of your help thus far.

@karantibrewal - do you have any suggestions for alternative reviewers for this?

[2017-04-03 12:59] arfon commented on #162
@lepisma - I'm struggling to find a reviewer for this. Do you have any suggestions?

[2017-04-03 13:13] Kevin-Mattheus-Moerman commented on #47
Great. Let us know when you'd like to resume the review process. Thanks.

[2017-04-03 14:40] noamross commented on #220
@kaneplusplus Yes, this package should fit into rOpenSci policies under our [data retrieval category](https://github.com/ropensci/onboarding/blob/master/policies.md#package-fit). If you choose to submit with us, please refer to our [packaging guide](https://github.com/ropensci/onboarding/blob/master/packaging_guide.md).  **ccex** will require a vignette, a test suite and continuous integration bef

[2017-04-03 15:35] karantibrewal commented on #30
Thanks again, @desilinguist!

Hi @arfon! I believe the issue was with dygraphs (a graphing package in R).
Otherwise, the package builds successfully. I could provide any further
details required by your team.

On Mon, Apr 3, 2017 at 8:57 AM, Arfon Smith <notifications@github.com>
wrote:

[2017-04-03 15:50] nickreich commented on #162
@arfon Here are a few suggestions:
https://github.com/rneher
or
https://github.com/robohyun66
or
https://github.com/sbfnk

[2017-04-03 15:51] kaneplusplus commented on #220
@noamross Thanks for the instructions. I'll try to get to the vignette, test suite, and continuous integration in the next week or so.

[2017-04-03 19:03] whedon opened #223 "[PRE REVIEW]: cbcbeat: an adjoint-enabled framework for computational cardiac electrophysiology"
**Submitting author:** @meg-simula (<a href="http://orcid.org/0000-0002-6872-3710">Marie Rognes</a>)
**Repository:** <a href="https://bitbucket.org/meg/cbcbeat" target ="_blank">https://bitbucket.org/meg/cbcbeat</a>
**Version:** v1.0
**Editor:** @labarba
**Reviewer:** @jessdtate

**Author instructions**

Thanks for submitting your paper to JOSS @meg-simula. The JOSS editor (shown at the top of thi

[2017-04-03 19:03] whedon commented on #223
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-04-03 19:25] arfon commented on #223
@labarba - this was a suggestion from the submitting author. Please shout it you don't think this is a good fit.

[2017-04-04 04:20] surajitdb commented on #56
Dear Claudia,
                   In Clark et al (2008) it was mentioned that 79 plausible model structures were constructed, however in your latest and previous tutorials using R states between 1 and 1248 (model identification number). Is there any upgradation of FUSE already?

I have been able run your latest tutorial successfully using R 3.2.5, but not working with R 3.3.3 due to some packages n

[2017-04-04 04:24] surajitdb commented on #56
This was tested according to https://cvitolo.github.io/fuse/articles/fuse_vignette.html.

[2017-04-04 04:28] surajitdb commented on #56
Sorry Claudia,
                      The snippet of the code is
How would one change the coding in R when we have to handle 9 model structures? I have copied snippet from your code.

bestModel <- function(runNumber){

if (runNumber < (numberOfRuns + 1)) myBestModel <- "TOPMODEL"

if (runNumber > (numberOfRuns + 1) &
runNumber < (2*numberOfRuns + 1)) myBestModel <- "ARNOXVIC"

if (runNumber > (2*nu

[2017-04-04 19:09] jflorence commented on #151
Sorry for late reply.
Everything is fine now, except for
"Version: Does the release version given match the GitHub release (3.2.173)?"
What does it mean exactly?
The latest version I reviewed was 3.4.0

[2017-04-04 20:23] labarba commented on #223
@whedon assign @jessdtate as reviewer

[2017-04-04 20:23] whedon commented on #223
OK, the reviewer is @jessdtate

[2017-04-04 20:26] labarba commented on #223
@whedon start review

[2017-04-04 20:27] whedon commented on #223
You didn't say the magic word! Try this:

[code]

[2017-04-04 20:27] labarba commented on #223
@whedon start review magic-word=bananas

[2017-04-04 20:27] whedon opened #224 "[REVIEW]: cbcbeat: an adjoint-enabled framework for computational cardiac electrophysiology"
**Submitting author:** @meg-simula (<a href="http://orcid.org/0000-0002-6872-3710">Marie Rognes</a>)
**Repository:** <a href="https://bitbucket.org/meg/cbcbeat" target ="_blank">https://bitbucket.org/meg/cbcbeat</a>
**Version:** v1.0
**Editor:** @labarba
**Reviewer:** @jessdtate
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.801552" target="_blank">10.5281/zenodo.801552</a>

## Status

[![

[2017-04-04 20:27] whedon commented on #223
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/224. Feel free to close this issue now!

[2017-04-04 20:27] whedon commented on #224
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jessdtate it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-04-04 20:32] arfon commented on #151
@jflorence - I've updated the release at the top of this issue to match.

[2017-04-04 20:36] #223 closed

[2017-04-05 10:25] arfon commented on #162
@rneher @robohyun66 @sbfnk would one of you be willing to review this submission for JOSS? You can read more about what this entails here: http://joss.theoj.org/about#reviewer_guidelines

[2017-04-05 10:27] arfon commented on #30
OK thanks. It's not clear to me whether you're suggesting here that we _don't_ need a followup review of this? Could you advise @karantibrewal & @desilinguist?

[2017-04-05 11:04] desilinguist commented on #30
I think another review will be good.
On Wed, Apr 5, 2017 at 6:27 AM Arfon Smith <notifications@github.com> wrote:

[2017-04-05 11:07] arfon commented on #30
OK thanks for confirming @desilinguist.

@karantibrewal - do you have any suggestions for another reviewer?

[2017-04-05 14:01] NicolasCARPi commented on #146
@JohnGriffiths Now that you have access to your own install, did you manage to progress on the review?

Cheers,
~Nico

[2017-04-05 14:40] arokem commented on #218
:hand: I can edit this one

@andim : do you have suggestions for reviewers? There is a list of potential reviewers here: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

But if there is someone else not on this list who would be an appropriate reviewer, please free to suggest them.

[2017-04-05 14:40] arokem commented on #218
@whedon set @arokem as editor

[2017-04-05 14:42] arfon commented on #218
@whedon assign @arokem as editor

[2017-04-05 14:42] whedon commented on #218
OK, the editor is @arokem

[2017-04-05 14:43] arfon commented on #218
Sorry, there's a small inconsistency in language. `assign` for users, `set` for the DOI. I should fix that...

[2017-04-05 14:44] arokem commented on #218
Thanks @arfon! 🙏

[2017-04-05 14:47] andim commented on #218
Maybe @moorepants would be interested?

[2017-04-05 17:33] JohnGriffiths commented on #146
@cMadan I've been through the cloud instance and the functionality all seems fine. I've updated all the tick boxes above. The only thing I can't give a tick for is installation, since as you know I wasn't able to install successfully on linux.

[2017-04-05 19:16] anotherjoshsmith commented on #188
All [review issues](https://github.com/msmexplorer/msmexplorer/issues/77#issuecomment-291564733) have been resolved.

@arokem: I suggest _"MSMExplorer: Data Visualizations for Biomolecular Dynamics"_ by @cxhernandez et al. be accepted by JOSS.

[2017-04-05 21:18] NicolasCARPi commented on #146
That's really too bad that you didn't manage to install. I'll just leave this here:

![2017-04-05-231703_789x169_scrot](https://cloud.githubusercontent.com/assets/3043706/24727409/2b334c56-1a56-11e7-8085-cabb8bbebd4e.png)

[2017-04-06 00:56] whedon opened #225 "[PRE REVIEW]: getCRUCLdata: Use and Explore CRU CL v. 2.0 Climatology Elements in R"
**Submitting author:** @adamhsparks (<a href="http://orcid.org/0000-0002-0061-8359">Adam H. Sparks</a>)
**Repository:** <a href="https://github.com/ropensci/getCRUCLdata" target ="_blank">https://github.com/ropensci/getCRUCLdata</a>
**Version:** 0.1.5
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @adamhsparks. The JOSS editor (shown at t

[2017-04-06 00:56] whedon commented on #225
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-04-06 00:56] arfon commented on #225
@noamross is this good to auto-accept into JOSS?

[2017-04-06 00:57] whedon opened #226 "[PRE REVIEW]: nails: Network Analysis Interface for Literature Studies"
**Submitting author:** @jsalminen (<a href="http://orcid.org/0000-0003-0688-2211">Juho Salminen</a>)
**Repository:** <a href="https://github.com/aknutas/nails" target ="_blank">https://github.com/aknutas/nails</a>
**Version:** 1.0.0
**Editor:** @karthik
**Reviewer:** @janschulz

**Author instructions**

Thanks for submitting your paper to JOSS @jsalminen. The JOSS editor (shown at the top of this

[2017-04-06 00:57] whedon commented on #226
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-04-06 00:57] arfon commented on #226
👋 @karthik - the submitting author suggested you as an editor.

[2017-04-06 00:58] whedon opened #227 "[PRE REVIEW]: libqcpp: A C++14 sequence quality control library"
**Submitting author:** @kdmurray91 (<a href="http://orcid.org/0000-0002-2466-1917">Kevin Murray</a>)
**Repository:** <a href="https://github.com/kdmurray91/libqcpp" target ="_blank">https://github.com/kdmurray91/libqcpp</a>
**Version:** 0.4.0
**Editor:** @arfon
**Reviewer:** @luizirber

**Author instructions**

Thanks for submitting your paper to JOSS @kdmurray91. The JOSS editor (shown at the top

[2017-04-06 00:58] whedon commented on #227
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @tracykteal it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-04-06 00:58] arfon commented on #227
👋 @tracykteal - the submitting author suggested you would be a good editor for this submission. Let me know if this is an issue :-)

[2017-04-06 00:58] whedon opened #228 "[PRE REVIEW]: Brightway: An open source framework for life cycle assessment"
**Submitting author:** @cmutel (<a href="http://orcid.org/0000-0002-7898-9862">Chris Mutel</a>)
**Repository:** <a href="https://bitbucket.org/cmutel/brightway2" target ="_blank">https://bitbucket.org/cmutel/brightway2</a>
**Version:** 2.0.2
**Editor:** @katyhuff
**Reviewer:** @amoeba

**Author instructions**

Thanks for submitting your paper to JOSS @cmutel. The JOSS editor (shown at the top of t

[2017-04-06 00:58] whedon commented on #228
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-04-06 00:59] whedon opened #229 "[PRE REVIEW]: qGaussian: An R package that deal with the Tsallis statistics"
**Submitting author:** @bunhoel (<a href="http://orcid.org/0000-0002-9970-3544">Emerson</a>)
**Repository:** <a href="https://github.com/bunhoel/anvil/tree/master/qGaussian" target ="_blank">https://github.com/bunhoel/anvil/tree/master/qGaussian</a>
**Version:** v0.1.4
**Editor:** @karthik
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @bunhoel. The JOSS e

[2017-04-06 00:59] whedon commented on #229
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-04-06 00:59] arfon commented on #229
:wave: @jakevdp - the submitting author suggested you as the editor. Let me know if you would like to find someone else for this.

[2017-04-06 03:18] noamross commented on #225
**getCRUCLdata** has been accepted to rOpenSci.  Reviews can be found here: https://github.com/ropensci/onboarding/issues/96

[2017-04-06 05:43] kdmurray91 commented on #227
Hi all, @ctb & @luizirber could be possible reviewers :smile:

[2017-04-06 11:22] arfon commented on #225
@whedon assign @arfon as reviewer

[2017-04-06 11:22] whedon commented on #225
OK, the reviewer is @arfon

[2017-04-06 11:22] arfon commented on #225
@whedon start review magic-word=bananas

[2017-04-06 11:22] #225 closed

[2017-04-06 11:22] whedon commented on #225
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/230. Feel free to close this issue now!

[2017-04-06 11:22] whedon opened #230 "[REVIEW]: getCRUCLdata: Use and Explore CRU CL v. 2.0 Climatology Elements in R"
**Submitting author:** @adamhsparks (<a href="http://orcid.org/0000-0002-0061-8359">Adam H. Sparks</a>)
**Repository:** <a href="https://github.com/ropensci/getCRUCLdata" target ="_blank">https://github.com/ropensci/getCRUCLdata</a>
**Version:** 0.1.5
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.466812" target="_blank">10.5281/zenodo.466812</a>

##

[2017-04-06 11:22] whedon commented on #230
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-04-06 11:24] arfon commented on #230
Accepting without additional review: https://github.com/ropensci/onboarding/issues/96

[2017-04-06 11:24] arfon commented on #230
@adamhsparks - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-04-06 14:49] robohyun66 commented on #162
I'm too overcommitted at the moment, but do not hesitate to ask me in the
future. I am in general agreement with your journal's intents.

On Wed, Apr 5, 2017 at 6:25 AM Arfon Smith <notifications@github.com> wrote:

--

Best,
Sangwon (Justin) Hyun

[2017-04-06 16:19] sbfnk commented on #162
Same here -- can't do this one, I'm afraid, but a) it looks extremely cool and b) do not hesitate to contact me in the future.

[2017-04-06 17:31] arfon commented on #162
@robohyun66 & @sbfnk - thanks for getting back to me and letting us know you'd be interested in reviewing in the future. So that we can invite you to review on relevant papers in the future, could you please add your details to this file (https://github.com/openjournals/joss/blob/master/docs/reviewers.csv) in the form of a Pull Request?

Many thanks!

[2017-04-06 20:12] rneher commented on #162
I'll take it on. seems like an interesting idea/project.

[2017-04-06 20:15] arfon commented on #162
@whedon assign @rneher as reviewer

[2017-04-06 20:15] whedon commented on #162
OK, the reviewer is @rneher

[2017-04-06 20:15] arfon commented on #162
@whedon start review magic-word=bananas

[2017-04-06 20:15] #162 closed

[2017-04-06 20:15] whedon commented on #162
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/231. Feel free to close this issue now!

[2017-04-06 20:15] whedon opened #231 "[REVIEW]: flusight"
**Submitting author:** @lepisma (<a href="http://orcid.org/0000-0001-7137-0728">Abhinav Tushar</a>)
**Repository:** <a href="https://github.com/reichlab/flusight" target ="_blank">https://github.com/reichlab/flusight</a>
**Version:** v1.3.3
**Editor:** @arfon
**Reviewer:** @rneher
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.573580" target="_blank">10.5281/zenodo.573580</a>

## Status

[

[2017-04-06 20:15] whedon commented on #231
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @rneher it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-04-06 20:15] arfon commented on #162
@rneher please head over to #231 for the actual review.

[2017-04-06 20:17] arfon commented on #231
:wave: @rneher - please take a look at the reviewer guidelines (http://joss.theoj.org/about#reviewer_guidelines) and update the checklist above as you go. If you have any questions for me or the submitting author just ask us here.

[2017-04-06 20:18] rneher commented on #231
thanks. will get back to you if I have questions.

[2017-04-06 20:34] adamhsparks commented on #230
Already done, the DOI is:
DOI: 10.5281/zenodo.466812

On 6 April 2017 at 21:24, Arfon Smith <notifications@github.com> wrote:

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|  Office C313

Phone (+61) 07 46311948  |  Mobile 0415 489 422 | Twitter @adamhsparks
<https://twitter.com/adamhsparks>

Institute for Agriculture and the Environment  |  Resear

[2017-04-06 20:38] arfon commented on #230
@whedon assign 10.5281/zenodo.466812 as archive

[2017-04-06 20:39] arfon commented on #230
@whedon set 10.5281/zenodo.466812 as archive

[2017-04-06 20:39] whedon commented on #230
OK. <a href="http://dx.doi.org/10.5281/zenodo.466812" target="_blank">10.5281/zenodo.466812</a> is the archive.

[2017-04-06 22:27] gboeing commented on #212
@labarba please let me know if there's anything else you need from me to begin the review

[2017-04-06 22:28] gboeing commented on #215
Thanks @arokem @rdottle - let me know if you need anything from me.

[2017-04-07 00:36] bunhoel commented on #229
@whedon assign @cdcrabtree as reviewer

2017-04-05 21:59 GMT-03:00 whedon <notifications@github.com>:

[2017-04-07 00:36] whedon commented on #229
I'm sorry @bunhoel, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-04-07 08:24] aknutas commented on #226
Hi, I'm Antti Knutas, the second author. The whedon robot asked to propose reviewers. The software is related to bibliometrics, network analysis and data visualization in R. Because of this I would propose @janschulz and @cdcrabtree as reviewers. We performed the submission process together with @jsalminen and I think he would agree.

[2017-04-07 09:42] andim commented on #218
Outside of the list @GaelVaroquaux might be a good choice. He wrote the excellent scipy-lecture notes on optimization (http://www.scipy-lectures.org/advanced/mathematical_optimization/index.html) so knows well what else exists within the Python ecosystem.

If you have other ideas @arokem feel free to assign someone else.

[2017-04-07 11:01] arfon commented on #230
@adamhsparks your paper in now accepted into JOSS and you DOI is http://dx.doi.org/10.21105/joss.00230 ⚡️🚀💥

[2017-04-07 11:01] #230 closed

[2017-04-07 12:54] bunhoel commented on #229
The suggestion for potential reviewers

cdcrabtree
masalmon
wrathematics

2017-04-05 21:59 GMT-03:00 whedon <notifications@github.com>:

[2017-04-07 13:09] arfon commented on #229
:wave: @cdcrabtree @masalmon @wrathematics would one of you be willing to review this submission for JOSS?

[2017-04-07 16:08] luizirber commented on #227
yes, I can review it

[2017-04-07 16:25] jsalminen commented on #226
That's correct, @aknutas, I agree :)

[2017-04-07 17:38] janschulz commented on #226
I can do the review, if it is still open :-)

[2017-04-07 18:42] arfon commented on #227
@whedon assign @luizirber as reviewer

[2017-04-07 18:42] whedon commented on #227
OK, the reviewer is @luizirber

[2017-04-07 18:42] arfon commented on #227
@whedon assign @arfon as editor

[2017-04-07 18:43] whedon commented on #227
OK, the editor is @arfon

[2017-04-07 18:43] arfon commented on #227
@whedon start-review magic-word=bananas

[2017-04-07 18:43] arfon commented on #227
@whedon start review magic-word=bananas

[2017-04-07 18:43] whedon commented on #227
You didn't say the magic word! Try this:

[code]

[2017-04-07 18:44] arfon commented on #227
@whedon start review magic-word=bananas

[2017-04-07 18:44] whedon commented on #227
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/232. Feel free to close this issue now!

[2017-04-07 18:44] whedon opened #232 "[REVIEW]: libqcpp: A C++14 sequence quality control library"
**Submitting author:** @kdmurray91 (<a href="http://orcid.org/0000-0002-2466-1917">Kevin Murray</a>)
**Repository:** <a href="https://github.com/kdmurray91/libqcpp" target ="_blank">https://github.com/kdmurray91/libqcpp</a>
**Version:** 0.4.1
**Editor:** @arfon
**Reviewer:** @luizirber
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.583325" target="_blank">10.5281/zenodo.583325</a>

## Stat

[2017-04-07 18:44] whedon commented on #232
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @luizirber it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-04-07 18:44] #227 closed

[2017-04-07 18:45] arfon commented on #227
@luizirber please head over to #232 to carry out the review.

[2017-04-07 18:51] karthik commented on #226
Great, thanks @janschulz! Assigning you.

[2017-04-07 18:58] karthik commented on #226
@whedon assign @janschulz as reviewer

[2017-04-07 18:58] whedon commented on #226
OK, the reviewer is @janschulz

[2017-04-07 18:58] karthik commented on #226
@whedon start review

[2017-04-07 18:58] whedon commented on #226
You didn't say the magic word! Try this:

[code]

[2017-04-07 18:59] karthik commented on #226
@whedon start review magic-word=bananas

[2017-04-07 18:59] whedon opened #233 "[REVIEW]: nails: Network Analysis Interface for Literature Studies"
**Submitting author:** @jsalminen (<a href="http://orcid.org/0000-0003-0688-2211">Juho Salminen</a>)
**Repository:** <a href="https://github.com/aknutas/nails-package" target ="_blank">https://github.com/aknutas/nails-package</a>
**Version:** 1.0.2
**Editor:** @karthik
**Reviewer:** @jankatins
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/b6db586688387d912e8c6c9a86ee4894

[2017-04-07 18:59] whedon commented on #226
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/233. Feel free to close this issue now!

[2017-04-07 18:59] whedon commented on #233
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @janschulz it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-04-07 19:13] aknutas commented on #233
Hello everyone. Test data for the review process is available at https://akpstorage.s3.amazonaws.com/nails_joss_testinput.zip in case any participant to the process does not have access to the web of science.

[2017-04-07 20:37] #226 closed

[2017-04-07 22:13] arokem commented on #218
@moorepants : would you be interested in reviewing this software for JOSS?

[2017-04-07 22:17] arokem commented on #188
Thank you @anotherjoshsmith!

@cxhernandez : could you please create a Zenodo archive with the 1.0.0 version? Once you do that, I can set that as the archive, and move ahead to accept and close this issue.

[2017-04-07 22:30] cxhernandez commented on #188
@arokem: The archive for v1.0.0 can be found [here](https://doi.org/10.5281/zenodo.439774).

[2017-04-07 23:46] nhejazi commented on #156
@arfon @mgymrek -- The R package has now been fully revised and accepted by Bioconductor (please see the relevant issue [here](https://github.com/Bioconductor/Contributions/issues/254)). Since Bioconductor's review system is quite similar to that of JOSS, the software and paper should now be fully JOSS-compliant.

[2017-04-07 23:53] arfon commented on #156
@nhejazi - we don't have any formal agreement with Bioconductor about this. @karthik - could you advise?

[2017-04-08 02:08] gavinsimpson commented on #161
If you intend to submit this to CRAN, change the `Title` field to read:

    Data-Adaptive Test Statistics for Multiple Testing in High Dimensions

i.e. in what CRAN calls Title Case.

[2017-04-08 02:35] gavinsimpson commented on #161
At this point, the main issue preventing finalisation of this review is the general lack of examples and documentation that I can run to explore the functionality of the package.

I have filed a number of issues for the outstanding elements of the review check list. Once examples have been added to user-facing functions and the Vignette the authors indicate they are writing, I can tackle the final

[2017-04-08 05:26] arokem commented on #188
@whedon set 10.5281/zenodo.439774 as archive

[2017-04-08 05:26] whedon commented on #188
OK. <a href="http://dx.doi.org/10.5281/zenodo.439774" target="_blank">10.5281/zenodo.439774</a> is the archive.

[2017-04-08 05:28] arokem commented on #188
@arfon : I believe this one is ready to go! Anything else I need to do to get this one into this page: http://joss.theoj.org/papers/popular?

[2017-04-08 06:47] nhejazi commented on #156
@arfon -- I didn't mean anything about a formal agreement: I mentioned that because my previous comment (from 13 March) indicated that the software was being altered, which I assumed would hold up the review. I point out that the software has gone through Bioconductor's entirely separate vetting process for the eventual reviewer (scanning the issue would give them a sense of exactly what standards

[2017-04-08 08:40] pjotrp commented on #195
@whedon commands

[2017-04-08 08:40] whedon commented on #195
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-04-08 08:40] pjotrp commented on #195
@whedon assign @pjotrp as editor

[2017-04-08 08:40] whedon commented on #195
OK, the editor is @pjotrp

[2017-04-08 08:43] pjotrp commented on #195
@kortschak I'll look for a reviewer. Since you are an experienced JOSS submitter I would like to ask you to prepare the submission for review. Please look at the tick boxes at the head of one of your other reviews and see if you can tick as much as possible.

[2017-04-08 10:54] arfon commented on #188
@arokem - I still have to do the last few bits. Planning on giving @whedon those super-powers sometime soon.

@arokem many thanks for editing this and @anotherjoshsmith for your review ✨

@cxhernandez - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00188 :zap: 🚀 💥

[2017-04-08 10:54] #188 closed

[2017-04-08 10:57] arfon commented on #156
👍 yep, no problem. I just wanted to make sure that you understood that being accepted into Bioconductor doesn't have an _formal_ meaning here (although I agree it's a very good sign 😁).

BTW, we _do_ have an agreement with the [ROpenSci](https://github.com/ropensci) folks that packages that have been accepted there can be automatically accepted here.

[2017-04-08 14:30] labarba commented on #212
As far as I can see, this package is not a research tool. It may be useful for teaching a beginner course in dynamical systems at the undergraduate level. Even there, the author has pretty much given all the examples of interest. Historically, these systems played a role in calling people’s attention to dynamical systems, but there are no applications in the modern literature where one-dimentional

[2017-04-08 14:58] pjotrp commented on #195
@whedon assign @ngoto as reviewer

[2017-04-08 14:58] whedon commented on #195
OK, the reviewer is @ngoto

[2017-04-08 14:59] pjotrp commented on #195
@whedon start review

[2017-04-08 14:59] whedon commented on #195
You didn't say the magic word! Try this:

[code]

[2017-04-08 14:59] pjotrp commented on #195
@whedon start review magic-word=bananas

[2017-04-08 14:59] whedon opened #234 "[REVIEW]: bíogo/ncbi: interfaces to NCBI services for the Go language"
**Submitting author:** @kortschak (<a href="http://orcid.org/0000-0001-8295-2301">Robert Daniel Kortschak</a>)
**Repository:** <a href="https://github.com/biogo/ncbi" target ="_blank">https://github.com/biogo/ncbi</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @ngoto
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.582354" target="_blank">10.5281/zenodo.582354</a>

## Status

[![s

[2017-04-08 14:59] whedon commented on #195
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/234. Feel free to close this issue now!

[2017-04-08 14:59] whedon commented on #234
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @ngoto it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-04-08 14:59] #195 closed

[2017-04-08 15:01] pjotrp commented on #234
@kortschak review has started by @ngoto who runs the bioruby project(!). @kortschak please help us by ticking above boxes for us first. @ngoto, you can start after when @kortschak is ready. Thanks!

[2017-04-08 17:52] janschulz commented on #233
This is still a rc, so it current does not match -> needs to be addressed...

That was a bit of pain: https://github.com/aknutas/nails/issues/12

Neverthless, it worked, somehow: :white_check_mark:

These are missing as far as I can see.. :question:

All in all this is a great "Product" which works great as a webservice (via http://hammer.nailsproject.net/), but the way the repo is structured for

[2017-04-08 19:40] karthik commented on #156
@arfon @nhejazi I'm aware of the bioconductor review system but don't know details of their process. But I like the idea of exploring how similar it is to rOpenSci and fast track those submissions if appropriate.  For now let's proceed with this as a regular submission but evaluate before the next bioconductor one comes through.

[2017-04-08 21:29] kdmurray91 commented on #227
Thanks very much @luizirber!

[2017-04-10 02:23] kortschak commented on #234
@ngoto I think this is ready for you to take a look.

[2017-04-10 12:03] lnielsen commented on #222
I've had an initial review of the repository. I like that it's a small simple script to automate the fetching the citations automatically from ADS/INSPIRE. I think it's definitely something that can save researchers time when writing so that's much appreciated.

I think the following issues should be resolved before the paper can be accepted:

- [ ] dgerosa/filltex#1
- [ ] dgerosa/filltex#2
- [ ]

[2017-04-10 12:19] arfon commented on #222
⚡️ many thanks @lnielsen!

[2017-04-10 18:06] karthik commented on #233
@jsalminen Can you please review and respond to the issues raised above?

thank you.

[2017-04-10 18:25] karantibrewal commented on #30
Sorry @arfon, I think I might have misunderstood you!

I agree that we require another review. Do you mean suggestions for people who could be reviewers? I don't have anyone at the top of my mind, but I could ask around in my network if people are willing. Are there any guidelines for selecting these reviewers?

[2017-04-11 05:08] jakevdp commented on #203
@whedon assign @ekolve as reviewer

[2017-04-11 05:08] whedon commented on #203
OK, the reviewer is @ekolve

[2017-04-11 05:09] jakevdp commented on #203
@whedon start review

[2017-04-11 05:09] whedon commented on #203
You didn't say the magic word! Try this:

[code]

[2017-04-11 05:09] jakevdp commented on #203
@whedon start review magic-word=bananas

[2017-04-11 05:09] whedon commented on #203
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/235. Feel free to close this issue now!

[2017-04-11 05:09] whedon opened #235 "[REVIEW]: Text detection in screen images with a Convolutional Neural Network"
**Submitting author:** @domoritz (<a href="http://orcid.org/0000-0002-3110-1053">ROBYN DOMINIK MORITZ</a>)
**Repository:** <a href="https://github.com/domoritz/label_generator" target ="_blank">https://github.com/domoritz/label_generator</a>
**Version:** v1.1
**Editor:** @arfon
**Reviewer:** @ekolve
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.821196" target="_blank">10.5281/zenodo.82119

[2017-04-11 05:09] whedon commented on #235
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @ekolve it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-04-11 05:09] #203 closed

[2017-04-11 09:58] cmutel commented on #228
@sgrieve @jsta @katyhuff @amoeba Based on your provided descriptions, you seem to be reasonable candidates as editors. Would any of you have time for this submission?

[2017-04-11 10:17] sgrieve commented on #228
@cmutel I'm afraid I don't know enough about Life Cycle Assessment to be a suitable editor for this paper.

[2017-04-11 12:25] katyhuff commented on #228
I am willing and able to be the editor for this.
@jsta @amoeba,would either of you be willing and able to be a reviewer? (or
vice versa, I could review if you would prefer to edit)

On Tue, Apr 11, 2017, 6:17 AM Stuart Grieve <notifications@github.com>
wrote:

@cmutel <https://github.com/cmutel> I'm afraid I don't know enough about
Life Cycle Assessment to be a suitable editor for this paper.

—
Y

[2017-04-11 16:18] jsalminen commented on #233
@karthik We've discussed about the issues and @aknutas will respond to individual issues.

[2017-04-11 16:34] aknutas commented on #233
Thank you for the feedback, especially with the citation issue. Instructions @janschulz gave us here were very helpful to ensure that the references to other scientific software are up to date.

@karthik, we have addressed the minor and major issues as listed below.

The visual improvement proposals were assigned a responsible person, taken under work and set a future release version (issues aknut

[2017-04-12 03:31] cMadan commented on #146
@JohnGriffiths - thanks for your work in reviewing this! I know you spent a good deal of time trying to evaluate it and I really appreciate it

@NicolasCARPi - I am sufficiently satisfied that others have been able to install eLabFTW, and your Github issues are quite active, that I believe that others will be able to set-up the software. If you can provide the DOI to an archive of the current vers

[2017-04-12 08:24] NicolasCARPi commented on #146
@cMadan Great news :) What do you mean by "provide a DOI to an archive"?

This is a link to the latest version:
https://github.com/elabftw/elabftw/archive/1.5.6.tar.gz

[2017-04-12 15:36] cMadan commented on #146
@NicolasCARPi - Basically, we require that the archive be stored on a service such as Zenodo or figshare, please see the end of the author guidelines section here (http://joss.theoj.org/about#author_guidelines)

[2017-04-12 15:51] NicolasCARPi commented on #146
@cMadan Thanks for the clarification. Here is the DOI: 10.6084/m9.figshare.4868882 :)

[2017-04-13 01:50] cMadan commented on #146
@whedon set 10.6084/m9.figshare.4868882 as archive

[2017-04-13 01:50] whedon commented on #146
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.4868882" target="_blank">10.6084/m9.figshare.4868882</a> is the archive.

[2017-04-13 01:51] cMadan commented on #146
@NicolasCARPi - Perfect, thank you!

@arfon - We're all set to accept! :)

[2017-04-13 09:15] cmutel commented on #228
@katyhuff The easiest way to get started is to follow the [introduction notebook](http://nbviewer.jupyter.org/urls/bitbucket.org/cmutel/brightway2/raw/default/notebooks/Getting%20Started%20with%20Brightway2.ipynb), as this downloads a real database.

Also note that, while the badges for test coverage give "unknown", they are linked to the CI, and you can see test coverage reports if you click on t

[2017-04-13 12:28] labarba commented on #151
@jflorence We would need your final statement that the submission is complete and ready to accept. Thanks for your review!

And check out the nice [feature on JOSS](http://blogs.nature.com/naturejobs/2017/04/04/joss-gives-computational-scientists-their-academic-due/) that appeared in Nature TechBlogs a few days ago.

[2017-04-13 14:25] amoeba commented on #228
I am also unfamiliar with LCA but after a quick look it I think I might be able to make sense of it. I can at least get started on the review and address many of the reviewer checklist items. I'll do this over that over the weekend. Sound good?

[2017-04-13 14:53] katyhuff commented on #228
Thanks @amoeba .

[2017-04-13 14:53] katyhuff commented on #228
@whedon assign @katyhuff as editor

[2017-04-13 14:53] whedon commented on #228
OK, the editor is @katyhuff

[2017-04-13 14:54] katyhuff commented on #228
@whedon assign @amoeba as reviewer

[2017-04-13 14:54] whedon commented on #228
OK, the reviewer is @amoeba

[2017-04-13 14:54] katyhuff commented on #228
@whedon start review magic-word=bananas

[2017-04-13 14:54] whedon opened #236 "[REVIEW]: Brightway: An open source framework for life cycle assessment"
**Submitting author:** @cmutel (<a href="http://orcid.org/0000-0002-7898-9862">Chris Mutel</a>)
**Repository:** <a href="https://bitbucket.org/cmutel/brightway2" target ="_blank">https://bitbucket.org/cmutel/brightway2</a>
**Version:** 2.1
**Editor:** @katyhuff
**Reviewer:** @amoeba
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.556145" target="_blank">10.5281/zenodo.556145</a>

## Status

[2017-04-13 14:54] whedon commented on #228
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/236. Feel free to close this issue now!

[2017-04-13 14:54] whedon commented on #236
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @amoeba it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-04-13 14:55] katyhuff commented on #228
Ok, @amoeba , head over to #236 for the review! Thanks!!

[2017-04-13 14:55] #228 closed

[2017-04-13 18:25] karthik commented on #233
@jsalminen thank you so much for the thoughtful review, we really appreciate it. And thanks also to @aknutas for the submission and timely responses.

I apologize for not noticing earlier (prior to inviting review) that the submission isn't a software package, but a collection of scripts. As a journal we strongly prefer that software be packaged (and ideally also submitted to a package manager) ra

[2017-04-14 00:30] arfon commented on #146
@NicolasCARPi - please could you remove the "Links" section as this breaks the paper compilation with pandoc.

[code]

We already link to the GitHub repository in the compiled PDF so this one can be removed and the other links should be cited in the text in the main `Summary` section (and then the references in a bibtex file). You can see a recent example of how to do this here: https://github.com

[2017-04-14 00:36] arfon commented on #30
Yes, that's what I mean.

Not really, other than that they should be experienced in the topic of the submission and the technologies used.

[2017-04-14 00:46] karantibrewal commented on #30
Thanks Arfron. I'll get back to you on this.

On Thu, Apr 13, 2017 at 8:36 PM Arfon Smith <notifications@github.com>
wrote:

[2017-04-14 05:51] kweis commented on #102
Hi there,
I've addressed the outstanding checklist items as follows:
1. Installation instructions are in the README and I've added a requirements.txt file to install/update the required dependencies. Since there are only three nonstandard libraries, I believe the requirements.txt file handles the dependencies most succinctly.
2. Documentation was added to the major functions and clarifying comment

[2017-04-14 11:20] NicolasCARPi commented on #146
@arfon I made the requested changes (see commit above). Cheers. Nico.

[2017-04-14 11:35] arfon commented on #146
@JohnGriffiths many thanks for the review here and @cMadan for editing this one ✨

@NicolasCARPi - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00146 ⚡️ 🚀 💥

[2017-04-14 11:35] #146 closed

[2017-04-14 12:28] JohnGriffiths commented on #146
You're welcome. Well done, good work all.

[2017-04-14 22:33] nickc1 commented on #207
Hey John,

I think I have it all sorted out. Again, thanks for taking the time to come through my documentation.

This should be all set now. Both are version v0.0.3. I did a fresh pip install in a conda environment and everything seems to run properly.

Fixed!

Fixed! Thanks for calling me out on blobber/blobber2. Those were ridiculous names. I also added a notebook (skedm_example_data.ipynb) giv

[2017-04-16 13:13] whedon opened #237 "[PRE REVIEW]: Grafoscopio: A moldable tool for literate computing and reproducible research"
**Submitting author:** @offray (<a href="http://orcid.org/0000-0002-4640-6984">Offray Vladimir Luna Cárdenas</a>)
**Repository:** <a href="http://mutabit.com/repos.fossil/grafoscopio/" target ="_blank">http://mutabit.com/repos.fossil/grafoscopio/</a>
**Version:** 1.3.8
**Editor:** @arfon
**Reviewer:** @SergeStinckwich

**Author instructions**

Thanks for submitting your paper to JOSS @offray. The

[2017-04-16 13:13] whedon commented on #237
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-04-16 13:13] whedon opened #238 "[PRE REVIEW]: Dataviz: A package of domain specific visualizations and languages for the Pharo live coding environment"
**Submitting author:** @offray (<a href="http://orcid.org/0000-0002-4640-6984">Offray Vladimir Luna Cárdenas</a>)
**Repository:** <a href="http://mutabit.com/repos.fossil/grafoscopio/doc/tip/Packages/Dataviz/intro.md" target ="_blank">http://mutabit.com/repos.fossil/grafoscopio/doc/tip/Packages/Dataviz/intro.md</a>
**Version:** 2.2.3
**Editor:** Pending
**Reviewer:** Pending

**Author instructions

[2017-04-16 13:13] whedon commented on #238
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-04-16 13:13] whedon opened #239 "[PRE REVIEW]: IBCAO_py: A matplotlib library for using the International Bathymetric Chart of the Arctic Ocean with cartopy and matplotlib"
**Submitting author:** @gauteh (<a href="http://orcid.org/0000-0002-5653-1447">Gaute Hope</a>)
**Repository:** <a href="https://github.com/gauteh/ibcao_py" target ="_blank">https://github.com/gauteh/ibcao_py</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @dvalters

**Author instructions**

Thanks for submitting your paper to JOSS @gauteh. The JOSS editor (shown at the top of this issue) wi

[2017-04-16 13:13] whedon commented on #239
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-04-16 13:13] whedon opened #240 "[PRE REVIEW]: Pandarus: GIS toolkit for regionalized life cycle assessment"
**Submitting author:** @cmutel (<a href="http://orcid.org/0000-0002-7898-9862">Chris Mutel</a>)
**Repository:** <a href="https://github.com/cmutel/pandarus" target ="_blank">https://github.com/cmutel/pandarus</a>
**Version:** 1.0.1
**Editor:** @arfon
**Reviewer:** @hugoledoux

**Author instructions**

Thanks for submitting your paper to JOSS @cmutel. The JOSS editor (shown at the top of this issue

[2017-04-16 13:14] whedon commented on #240
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-04-16 13:14] whedon opened #241 "[PRE REVIEW]: lattice_mc: A Python Lattice-Gas Monte Carlo Module"
**Submitting author:** @bjmorgan (<a href="http://orcid.org/0000-0002-3056-8233">Benjamin J. Morgan</a>)
**Repository:** <a href="https://github.com/bjmorgan/lattice_mc" target ="_blank">https://github.com/bjmorgan/lattice_mc</a>
**Version:** 1.0.0
**Editor:** @labarba
**Reviewer:** @asmit3

**Author instructions**

Thanks for submitting your paper to JOSS @bjmorgan. The JOSS editor (shown at the

[2017-04-16 13:14] whedon commented on #241
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-04-16 13:14] arfon commented on #241
👋 @labarba - the submitting author suggested you as an editor for this submission.

[2017-04-16 17:51] cmutel commented on #240
@jsta, @nuest, @sgrieve or especially @hugoledoux - would any of you have time for this? Nothing too revolutionary, buts fills a specific needs in a research community that is not very geographically-aware.

[2017-04-16 18:45] labarba commented on #241
The code repository needs *A statement of need*, which means ...

I was not able to find this, @bjmorgan.

[2017-04-16 20:55] amoeba commented on #236
I've just made some time to sit down with this submission, though I am not yet done. Overall, this software is very clearly research software and I imagine this software is useful to researchers. The code is clean, includes documentation and helpful introductions so I commend the author on the hard work putting together that documentation. I've gone through a few of the easy checklist items and ha

[2017-04-16 22:35] cmutel commented on #236
Thanks @amoeba-

- [License](https://bitbucket.org/cmutel/brightway2/src/tip/LICENSE.txt) is, or at least, should be [BSD 3-clause](https://opensource.org/licenses/BSD-3-Clause), unless I messed up a copy/paste.
- 2.1 is now the [latest tag in repo](https://bitbucket.org/cmutel/brightway2/downloads/?tab=tags), as well as the [release version](https://pypi.python.org/pypi/brightway2/2.1)
- Added DO

[2017-04-16 23:03] arokem commented on #218
OK - no response there. Let's try someone else.

@jordigh: would you be willing to review this submission for JOSS?

Thanks!

[2017-04-16 23:44] amoeba commented on #236
Totally agree with you on the meta-repo concept. Hopefully we can find a resolution that fits JOSS.

Re: Licensing, I'm not a lawyer but your License file says

which doesn't seem to be compatible with the licensing requirements here. My understanding is that the license file would need to only include the BSD license text. Again, not a lawyer.

[2017-04-16 23:53] arfon commented on #236
@cmutel: 'All rights reserved' is the problematic line here. This isn't part of the standard BSD 3-clause license.

On the meta-repo concept: I think this is fine as long as the archive (with figshare or Zenodo) includes all of the associated repositories. Does that sound reasonable @amoeba and @cmutel?

[2017-04-16 23:54] arfon commented on #201
Friendly reminder on this @acabunoc :smile:

[2017-04-16 23:55] amoeba commented on #236
Yep, that sounds ideal.

[2017-04-16 23:55] arfon commented on #181
👋 @kyleniemeyer - any luck finding a reviewer for this submission?

[2017-04-16 23:57] arfon commented on #214
:wave: @kevinushey, how are you getting on with your review?

[2017-04-16 23:58] arfon commented on #216
👋 @bbolker - how are you getting on with your review?

[2017-04-16 23:59] arfon commented on #108
:wave: @leithes - are you still working on the feedback on your submission?

[2017-04-17 00:13] arfon commented on #202
:wave: @TJBihl - friendly reminder here.

[2017-04-17 00:17] arfon commented on #206
:wave: @noamross would this submission be suitable for rOpenSci?

[2017-04-17 00:18] arfon commented on #211
👋 @biorelated @brainstorm - would you be willing to edit this submission for JOSS?

[2017-04-17 00:23] arfon commented on #239
@Mankoff - would you be willing to review this submission for JOSS?

[2017-04-17 00:26] arfon commented on #237
👋 @offray - I'm looking for a potential reviewer for this submission. Could you point me to the source code for the package? Also, what programming language is this written in?

[2017-04-17 00:38] bbolker commented on #216
it had slipped but am working on it and think I should be able to get it done shortly.  How granular would you like the issues in the target-repo issue list to be?  (One long issue with lots of bullet points?  One issue per item above? Somewhere in between?)

[2017-04-17 00:59] kevinushey commented on #214
Sorry for the delay! I'm hoping to have this done by next weekend.

[2017-04-17 05:05] moorepants commented on #218
I don't have time at the moment.

[2017-04-17 05:32] kyleniemeyer commented on #181
@arfon thanks for the reminder... lost track of this one.

[2017-04-17 05:32] kyleniemeyer commented on #181
@whedon list reviewers

[2017-04-17 05:32] whedon commented on #181
Here's the current list of JOSS reviewers: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-04-17 05:34] kyleniemeyer commented on #181
Hi @roguephysicist, do you have any suggestions for domain reviewers? If possible I would like to have at least one person familiar with the subject material take a look.

[2017-04-17 05:36] kyleniemeyer commented on #181
Hi @tacaswell @betatim would one or both of you be able to review this submission?

[2017-04-17 08:06] cmutel commented on #236
Sorry, that was an embarrassing mistake. And of course it was then copy/pasted in a million other places.

License is now fixed for all components, and new releases are on pypi and anaconda.

[2017-04-17 08:25] GaelVaroquaux commented on #218
I am sorry, but I really cannot find the time. Too many things to do,
including too many reviews (just completed 13 reviews in 12 days:
evenings and week ends took a hit).

[2017-04-17 08:51] roguephysicist commented on #181
Hi @kyleniemeyer, I think that both of them seem like good candidates. Perhaps also @nicoguaro?

Thanks.

[2017-04-17 11:41] noamross commented on #206
No, as this is primarily a statistical method implementation, it's out of scope for us.

[2017-04-17 12:45] arfon commented on #206
OK thanks for confirming.

[2017-04-17 15:00] jakevdp commented on #229
Sorry, I somehow lost track of this among all my other github emails.

This is neither my area of expertise, nor the code community where I have connections, and so I don't think I'd be a good editor for this submission.

[2017-04-17 15:02] jakevdp commented on #207
Thanks for the response, Nick. @johnh2o2 – please let us know if the responses address all your concerns. Thanks!

[2017-04-17 15:04] offray commented on #237
Hi Arfon,

Thanks for your work with this.

The package is written in Pharo Smalltalk. We have two source
repositories for it, on for code at [1] and other for documentation and
issues at [2]

[1] smalltalkhub.com/#!/~Offray/Grafoscopio
[2] http://mutabit.com/repos.fossil/grafoscopio/

Let me know anything else I can help with.

Cheers,

Offray

On 16/04/17 19:26, Arfon Smith wrote:

[2017-04-17 15:29] amoeba commented on #236
I've sat down with the rest of the checklist and made good progress. Again, thanks @cmutel for the extensive documentation and example code. See my comments below:

The author has a nicely put-together documentation page at https://docs.brightwaylca.org/ which does include this information. Can the content at that page be included in our archival ZIP? Usually the information fulfilling these three

[2017-04-17 15:58] brainstorm commented on #211
@whedon commands

[2017-04-17 15:58] whedon commented on #211
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-04-17 15:58] brainstorm commented on #211
@whedon start review

[2017-04-17 15:58] whedon commented on #211
You didn't say the magic word! Try this:

[code]

[2017-04-17 15:59] brainstorm commented on #211
@whedon start review magic-word=bananas

[2017-04-17 16:00] arfon commented on #211
:wave: @brainstorm - you need to assign a review and an editor first. If you're willing to edit this then do:

[code]

[2017-04-17 16:00] johnh2o2 commented on #207
Hi @nickc1,

Sorry about the delay! This looks great. I feel comfortable recommending this for acceptance in JOSS as is.

John

[2017-04-17 16:00] brainstorm commented on #211
@whedon assign @brainstorm as editor

[2017-04-17 16:00] whedon commented on #211
OK, the editor is @brainstorm

[2017-04-17 16:00] arfon commented on #211
...then do the same for a reviewer:

[code]

[2017-04-17 16:01] brainstorm commented on #211
@whedon assign @brainstorm as reviewer

[2017-04-17 16:01] whedon commented on #211
OK, the reviewer is @brainstorm

[2017-04-17 16:02] arfon commented on #211
...also, we shouldn't have the reviewer and editor be the same person so if you would like to review this one then we'll need to find another editor 😁

[2017-04-17 16:06] karthik commented on #216
We'll leave that up to you. Somewhere in between would be best. A few issues grouped by theme would allow the authors to break that down further but also make it easy for you to reference here.

[2017-04-17 16:09] jakevdp commented on #207
@whedon commands

[2017-04-17 16:09] whedon commented on #207
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-04-17 16:10] cmutel commented on #236
@amoeba One small note on the documentation and usage examples - both the [documentation](https://bitbucket.org/cmutel/brightway2/src/tip/docs/) and [usage examples](https://bitbucket.org/cmutel/brightway2/src/tip/notebooks/) are part of the `brightway2` "meta-package." Not sure how this is supposed to work - are the input (restructured text & jupyter notebook) files enough, or would the output (h

[2017-04-17 16:12] jakevdp commented on #207
Thanks @nickc1 and @johnh2o2! Looks good – we'll conclude the review process shortly (cc @arfon).

[2017-04-17 17:39] amoeba commented on #236
Thanks for linking those. I think what you've got there is sufficient. The JOSS guidelines are vague as to where such information exists and what form it exists in but I'd say what you've got counts:

From the guidelines:

[2017-04-17 19:48] biorelated commented on #211
I am  happy to edit this

[2017-04-17 19:48] biorelated commented on #211
@whedon assign @biorelated as editor

[2017-04-17 19:48] whedon commented on #211
OK, the editor is @biorelated

[2017-04-17 20:18] nicoguaro commented on #181
@kyleniemeyer, I think I can review it. I like the plots in the repo ... so we have a nice beginning.

[2017-04-17 20:29] kyleniemeyer commented on #181
@nicoguaro thanks! @tacaswell and @betatim, I do usually prefer to have a second review, so if you are interested & available, please chime in. I will get the review issue formally started, though.

[2017-04-17 20:30] kyleniemeyer commented on #181
@whedon assign @nicoguaro as reviewer

[2017-04-17 20:30] whedon commented on #181
OK, the reviewer is @nicoguaro

[2017-04-17 20:31] kyleniemeyer commented on #181
@whedon start review magic-word=bananas

[2017-04-17 20:31] whedon commented on #181
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/242. Feel free to close this issue now!

[2017-04-17 20:31] whedon opened #242 "[REVIEW]: SHGYield"
**Submitting author:** roguephysicist (<a href="http://orcid.org/0000-0002-4809-921X">Sean M. Anderson</a>)
**Repository:** <a href="https://github.com/roguephysicist/SHGYield" target ="_blank">https://github.com/roguephysicist/SHGYield</a>
**Version:** v1.0.1
**Editor:** @kyleniemeyer
**Reviewer:** @nicoguaro
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.803483" target="_blank">10.5281/z

[2017-04-17 20:31] whedon commented on #242
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @nicoguaro it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-04-17 20:31] kyleniemeyer commented on #181
Alrighty, @nicoguaro (and possibly @tacaswell & @betatim) we'll head over to #242 for the actual review.

[2017-04-17 20:31] #181 closed

[2017-04-17 20:33] arfon commented on #211
@whedon start review magic-word=bananas

[2017-04-17 20:33] whedon opened #243 "[REVIEW]: SaffronTree: Fast, reference-free pseudo-phylogenomic trees from reads or contigs"
**Submitting author:** @andrewjpage (<a href="http://orcid.org/0000-0001-6919-6062">Andrew Page</a>)
**Repository:** <a href="https://github.com/sanger-pathogens/saffrontree" target ="_blank">https://github.com/sanger-pathogens/saffrontree</a>
**Version:** v0.1.2
**Editor:** @biorelated
**Reviewer:** @brainstorm
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.4964378.v1" target="_blank

[2017-04-17 20:33] whedon commented on #211
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/243. Feel free to close this issue now!

[2017-04-17 20:33] whedon commented on #243
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @brainstorm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-04-17 20:34] arfon commented on #243
:wave: @brainstorm - this is where the actual review should take place. Please shout if you have any problems working through the checklist above.

[2017-04-17 20:34] #211 closed

[2017-04-17 20:51] roguephysicist commented on #242
Thanks @nicoguaro and @kyleniemeyer. I am available for any questions you might have, though the theory behind the program is completely described in the references listed in the README (particularly [Phys. Rev. B 94, 115314 (2016)](https://doi.org/10.1103/PhysRevB.94.115314)). The most recent publication using this software has been accepted but is still undergoing final processing. You can find

[2017-04-17 22:01] bjmorgan commented on #241
@labarba I have amended the README.md and paper.md. Hopefully the additional information is suitable and appropriate for the JOSS requirements.

[2017-04-17 23:53] nicoguaro commented on #242
As a first comment, I would say that the main file should have docstrings to understand better the functions that appear there. As a second one, a description of the input and output files is missing, what makes really difficult to use the software for other cases different to the provided example.

[2017-04-18 09:39] sgrieve commented on #240
I'd be happy to review this, but am happy to give @hugoledoux first refusal.

[2017-04-18 14:41] karantibrewal commented on #30
@arfon sorry, I'm not sure I can think of a suitable reviewer.

Just to be clear -- I'm an undergraduate. Should I ask a classmate?

[2017-04-18 15:27] roguephysicist commented on #242
I can definitely see that. I will improve the documentation in the main file and add documentation to the  input file.

[2017-04-18 16:59] arfon commented on #30
OK, no problem. @karthik - any chance you could assist here finding an additional reviewer?

[2017-04-18 18:08] acabunoc commented on #201
@dirkroorda is Daniel Semler on GitHub? can't seem to find him -- thanks for the recommendation!

[2017-04-18 18:13] acabunoc commented on #201
Hi @jkahn @richardlitt @hausen @desilinguist 👋 ! Would any of you be up for reviewing this? You all seems to have python experience along with either lingustics or graphs.

Review guidelines can be found here: http://joss.theoj.org/about#reviewer_guidelines

[2017-04-18 19:15] jsalminen commented on #233
Thank you @karthik and @janschulz for the review! The suggestion about building an R package is very insightful and we've decided to go for it. As we're not in a rush with the publication, we figured it is better to do it properly, even if it takes a while longer.

You can pause the review and we'll get back to you once the R package is ready.

[2017-04-18 20:16] desilinguist commented on #201
Unfortunately, I'm completely swamped for the next month or so. Apologies.

[2017-04-18 20:31] bbolker commented on #216
I'm not sure if this is how I'm supposed to do it, but these issues constitute my "review"

- https://github.com/oliviergimenez/GammaGompertzCR/issues/2
- https://github.com/oliviergimenez/GammaGompertzCR/issues/3
- https://github.com/oliviergimenez/GammaGompertzCR/issues/4
- https://github.com/oliviergimenez/GammaGompertzCR/issues/5 (not necessarily blocking)
- https://github.com/oliviergimenez/G

[2017-04-18 21:13] jkahn commented on #201
Interested, but like Nitin somewhat swamped at the moment. Perhaps a little
less swamped than Nitin.

Ping me again if you haven't found anyone by... the end of April?

--Jeremy

On Tue, Apr 18, 2017 at 1:16 PM, Nitin Madnani <notifications@github.com>
wrote:

[2017-04-18 23:55] labarba commented on #241
The title in the paper metadata appears as *"lattice_mc: A Python Lattice-Gas Monte Carlo Module"*. I"m not sure why this full title does not appear in the title of the pre-review issue ... it should also probably match the heading in the README.

I'm looking for a reviewer now.

[2017-04-19 01:36] arfon commented on #240
👍 thanks @sgrieve. @hugoledoux - would you interested in helping out with this?

[2017-04-19 01:42] arfon commented on #241
I just updated this.

[2017-04-19 01:43] arfon commented on #207
@nickc1 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-04-19 01:57] RichardLitt commented on #201
I am also swamped. Founded a company last week and traveling internationally this and the next week.

Taking a quick look now, I am confused; I don't see a PDF. Is the `paper.md` the only submission, here?

[2017-04-19 02:18] Kevin-Mattheus-Moerman commented on #217
@schmeisser Thanks. I got a couple of steps further. I'm having some (probably basic) issues with runmex. Btw I also did
`export LD_LIBRARY_PATH=/home/kevin/Desktop/JOSS_review/2017_03_22_Ensight4Matlab/repo/Ensight4Matlab/ensight_lib/lib/:${LD_LIBRARY_PATH}`

Using SETUP.m I set the paths as:

[code]

Which seems correct. When I run runmex.m I get a warning (
[code]
) but it does seem to complete

[2017-04-19 03:15] nickc1 commented on #207
First time creating a doi, but here is the figshare link:

https://doi.org/10.6084/m9.figshare.4887398.v1

Let me know if you need anything else!

[2017-04-19 06:03] hugoledoux commented on #240
Yes I will.

On Wed, 19 Apr 2017 at 03:36, Arfon Smith <notifications@github.com> wrote:

[2017-04-19 08:42] cmutel commented on #236
@katyhuff It seems like the outstanding issues have been addressed - would it be possible to complete this review this week? It would be very nice to be able to have a citation for a proposal due next Monday :)

[2017-04-19 08:57] arfon commented on #207
@whedon set 10.6084/m9.figshare.4887398.v1 as archive

[2017-04-19 08:57] whedon commented on #207
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.4887398.v1" target="_blank">10.6084/m9.figshare.4887398.v1</a> is the archive.

[2017-04-19 09:07] arfon commented on #207
@johnh2o2 - many thanks for your review here and @jakevdp for editing this submission ✨

@nickc1 - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00207 ⚡️ 🚀 💥

[2017-04-19 09:07] #207 closed

[2017-04-19 09:07] arfon commented on #240
@whedon assign @arfon as editor

[2017-04-19 09:07] whedon commented on #240
OK, the editor is @arfon

[2017-04-19 09:08] arfon commented on #240
@whedon assign @hugoledoux as reviewer

[2017-04-19 09:08] whedon commented on #240
OK, the reviewer is @hugoledoux

[2017-04-19 09:08] arfon commented on #240
@whedon start review magic-word=bananas

[2017-04-19 09:08] whedon opened #244 "[REVIEW]: Pandarus: GIS toolkit for regionalized life cycle assessment"
**Submitting author:** @cmutel (<a href="http://orcid.org/0000-0002-7898-9862">Chris Mutel</a>)
**Repository:** <a href="https://github.com/cmutel/pandarus" target ="_blank">https://github.com/cmutel/pandarus</a>
**Version:** 1.0.1
**Editor:** @arfon
**Reviewer:** @hugoledoux
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.571547" target="_blank">10.5281/zenodo.571547</a>

## Status

[![sta

[2017-04-19 09:08] whedon commented on #240
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/244. Feel free to close this issue now!

[2017-04-19 09:09] whedon commented on #244
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @hugoledoux it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're prob

[2017-04-19 09:09] arfon commented on #240
@hugoledoux - many thanks for agreeing to review this submission. Please head over to #244 where the review should take place.

[2017-04-19 09:09] #240 closed

[2017-04-19 09:11] arfon commented on #244
Hi @hugoledoux - please work your way through the review checklist above to complete your review (you should be able to check items off the list as you verify them). Please note we have reviewer guidelines here http://joss.theoj.org/about#reviewer_guidelines for you but if you have any questions for me or the author please ask here.

[2017-04-19 09:18] arfon commented on #201
@RichardLitt - we generally compile the PDF after review these days.

[2017-04-19 09:32] arfon commented on #237
OK thanks @offray. Based on our pool of existing reviewers (https://github.com/openjournals/joss/blob/master/docs/reviewers.csv) I think I'm going to struggle to find someone who is able to review this submission.

Do you have any suggestions for possible reviewers?

[2017-04-19 10:10] nickc1 commented on #207
Thanks again @johnh2o2 for all the thoughtful comments. The package and documentation are way more user friendly. Thanks @jakevdp for editing. This was a cool submission process and definitely learned quite a bit along the way. Thanks for taking the time to make skedm better!

[2017-04-19 12:55] katyhuff commented on #236
@amoeba Thanks so much for this review. Regarding the funcitonality issue, this does look to be a useful framework for LCA and meets the functionality claims that are made.

@cmutel Thanks for addressing the comments quickly. At this point could you make an updated archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the version 2.1 archive? I ca

[2017-04-19 13:38] offray commented on #237
Hi Arfon,

I suggested two reviewers in the submission process @acabunoc and
@jakevdp, but I could find some reviewers in the Pharo community, if
that's fine. Let me know and I will send the request ASAP.

Cheers,

Offray

On 19/04/17 04:32, Arfon Smith wrote:

[2017-04-19 13:41] cmutel commented on #236
@katyhuff I uploaded the complete archive to Zenodo: https://zenodo.org/record/556145

DOI is 10.5281/zenodo.556145

[2017-04-19 13:45] arfon commented on #236
@whedon set 10.5281/zenodo.556145 as archive

[2017-04-19 13:45] whedon commented on #236
OK. <a href="http://dx.doi.org/10.5281/zenodo.556145" target="_blank">10.5281/zenodo.556145</a> is the archive.

[2017-04-19 13:56] cmutel commented on #244
Software is uploaded to [Zenodo](https://zenodo.org/record/556151) with the DOI 10.5281/zenodo.556151.

[2017-04-19 13:57] arfon commented on #236
Thanks for your review @amoeba and for editing this one @katyhuff

@cmutel - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00236 ⚡️ 🚀 💥

[2017-04-19 13:57] #236 closed

[2017-04-19 14:01] rdottle commented on #215
@gboeing
After review, the only issue found was missing contributing guidelines, which I opened as an issue in the repo.

[2017-04-19 14:06] cmutel commented on #236
Many thanks to all involved!

[2017-04-19 14:35] katyhuff commented on #236
Thanks @cmutel @amoeba and @arfon !

[2017-04-19 20:24] gboeing commented on #215
Thanks @rdottle, contributing guidelines have just been added to the repo.

[2017-04-20 00:21] karthik commented on #216
@bbolker
🙏 a ton!

We don't have a set review style and we leave it up to the reviewers.

@oliviergimenez Can you please address the issues raised by Dr. Bolker in those individual threads and present us with a summary here once you are done. That way @bbolker can check that he is satisfied with the changes and recommend an acceptance.

[2017-04-20 00:24] karthik commented on #216
@bbolker PS: I'm sure you must have seen this GitHub trick, but if you mention `openjournals/joss-reviews/#216` anywhere is an issue on the author's repo, it automatically lists them here with you having to manually link them in the body of your review. That trick also works across repos. Syntax is just `user/repo/#issue_number`

[2017-04-20 00:27] karthik commented on #233
@jsalminen Fantastic! I applaud your decision and we will fasttrack your acceptance as soon as you update this thread. If I can be of any help with the packaging process, please ping me in any of your issues directly.

[2017-04-20 01:25] TJBihl commented on #202
The authors have provided a well composed package for learning rates.  I was able to use all of the files/functions with no issues and reproduce all examples.  Beyond this, I was able to explore additional operating points in the functions and saw no issues to correct.

A few minor issues does exist though:
1.  Equations do not appear in the vignettes.  After much searching, this is probably due t

[2017-04-20 10:32] arfon commented on #237
@offray - yes, that would be great. I think a major challenge for reviewers is going to be verifying the functionality of the software as most people don't know Smalltalk.

[2017-04-20 15:42] migueldvb commented on #102
Thank you for the revised version. I will send you any further comments by the end of the week, if I have any.

[2017-04-20 16:20] schmeisser commented on #217
@Kevin-Mattheus-Moerman, there seem to be two issues here.

The second error message complains that the file `libEnsightLib.so.1` cannot be found. If you have started MATLAB with the `LD_LIBRARY_PATH` variable set, it should look for the file `/home/kevin/Desktop/JOSS_review/2017_03_22_Ensight4Matlab/repo/Ensight4Matlab/ensight_lib/lib/libEnsightLib.so.1`
You should make sure this file exists. If

[2017-04-20 16:57] jakevdp commented on #237
I wouldn't even know where to begin to be honest :smile:

[2017-04-20 17:02] offray commented on #237
OK. I will ask some help from the Pharo community here.

Cheers,

Offray

On 20/04/17 11:58, Jake Vanderplas wrote:

[2017-04-20 18:31] oliviergimenez commented on #216
Thanks a lot @bbolker. My co-author and I will address the issues you raised the best we can. I'm going to be busy over the next two weeks though, is the end of May working for you @karthik ? Cheers, Olivier.

[2017-04-20 19:51] labarba commented on #241
@whedon assign @labarba as reviewer

[2017-04-20 19:51] whedon commented on #241
OK, the reviewer is @labarba

[2017-04-20 19:53] labarba commented on #241
Sorry ... I was demonstrating the JOSS bot to a chief librarian and hit "Enter" in the process ... Ignore the actions just above!

[2017-04-20 19:54] labarba commented on #241
@whedon commands

[2017-04-20 19:54] whedon commented on #241
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-04-20 19:55] labarba commented on #241
@arfon : Does our bot have a command to _unassign_ a reviewer? I assigned myself by mistake.

[2017-04-20 21:48] roguephysicist commented on #242
I have added many comments to both the main and input files. Hopefully that will make things a lot easier to understand.

[2017-04-20 23:53] arfon commented on #241
Not right now sorry, you're on the hook for reviewing now :trollface:. In all seriousness, when we find a reviewer just use the `@whedon assign username as reviewer` and it will clobber your assignment.

[2017-04-21 00:59] karthik commented on #216
@oliviergimenez Totally fine. Please update this thread when you have completed revisions, tagging me and Ben.

[2017-04-21 05:15] arokem commented on #218
Hey @andim: any other ideas for potential reviewers, in case @jordigh can't do it?

[2017-04-21 14:11] whedon opened #245 "[PRE REVIEW]: pyhector: A Python interface for the simple climate model Hector"
**Submitting author:** @swillner (<a href="http://orcid.org/0000-0001-6798-6247">Sven N. Willner</a>)
**Repository:** <a href="https://github.com/openclimatedata/pyhector/" target ="_blank">https://github.com/openclimatedata/pyhector/</a>
**Version:** v0.6.0
**Editor:** @arfon
**Reviewer:** @sgrieve

**Author instructions**

Thanks for submitting your paper to JOSS @swillner. The JOSS editor (show

[2017-04-21 14:11] whedon commented on #245
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-04-21 14:11] whedon opened #246 "[PRE REVIEW]: filesstrings: An R package for file and string manipulation"
**Submitting author:** @rorynolan (<a href="http://orcid.org/0000-0002-5239-4043">Rory Nolan</a>)
**Repository:** <a href="https://github.com/rorynolan/filesstrings" target ="_blank">https://github.com/rorynolan/filesstrings</a>
**Version:** v0.4.1
**Editor:** @karthik
**Reviewer:** @benmarwick

**Author instructions**

Thanks for submitting your paper to JOSS @rorynolan. The JOSS editor (shown at

[2017-04-21 14:11] whedon commented on #246
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-04-21 14:12] arfon commented on #246
👋 @noamross - would this be a suitable submission for ROpenSci?

[2017-04-21 15:26] swillner commented on #245
coauthors: @rgieseke, @cahartin

[2017-04-21 15:28] swillner commented on #245
@sgrieve, @betatim, @mankoff: we would be glad if you could review our submission

[2017-04-21 15:29] swillner commented on #245
@whedon commands

[2017-04-21 15:29] whedon commented on #245
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-04-21 15:34] noamross commented on #246
Thanks @arfon. I think this is out of scope for us, as it's a a generic data munging tool: https://github.com/ropensci/onboarding/blob/master/policies.md

[2017-04-21 15:48] arfon commented on #246
OK thanks @noamross.

@karthik - you were suggested by the submitting author as an editor for this submission. Is that OK with you?

[2017-04-21 16:16] dgerosa commented on #222
Hello,

Michele @vallis and I addressed your comments. Please let us know if you find our modifications acceptable. Should I close the issues?

Best,
Davide

[2017-04-21 17:14] sgrieve commented on #245
I'd be happy to review. I should be able to work on it early next week at the latest.

[2017-04-21 19:58] karthik commented on #246
@arfon sure.

[2017-04-21 21:50] SergeStinckwich commented on #237
I can help if needed but as I know Offray there might be a comflict of interest.

[2017-04-22 02:11] nicoguaro commented on #242
I still don't get the sample-data input files thing. For example

    ## chi1 & chi2 components. Can be path to files, or number (like 0).

How come this can be a single number like 0, or a whole table like in the file ``sample-data/SiBulk-chi1-xx_yy_zz``.

I understand that you mention this

But let's suppose that I can "magically" know this tensor (that should have 27(?) components for every ene

[2017-04-22 12:58] labarba commented on #241
@whedon assign asmit3 as reviewer

[2017-04-22 12:59] whedon commented on #241
OK, the reviewer is asmit3

[2017-04-22 12:59] labarba commented on #241
@whedon start review

[2017-04-22 12:59] whedon commented on #241
You didn't say the magic word! Try this:

[code]

[2017-04-22 12:59] labarba commented on #241
@whedon start review magic-word=bananas

[2017-04-22 12:59] whedon commented on #241
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/247. Feel free to close this issue now!

[2017-04-22 12:59] whedon opened #247 "[REVIEW]: lattice_mc: A Python Lattice-Gas Monte Carlo Module"
**Submitting author:** @bjmorgan (<a href="http://orcid.org/0000-0002-3056-8233">Benjamin J. Morgan</a>)
**Repository:** <a href="https://github.com/bjmorgan/lattice_mc" target ="_blank">https://github.com/bjmorgan/lattice_mc</a>
**Version:** 1.0.0
**Editor:** @labarba
**Reviewer:** @asmit3
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.582402" target="_blank">10.5281/zenodo.582402</a>

##

[2017-04-22 12:59] whedon commented on #247
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @asmit3 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-04-22 13:03] #241 closed

[2017-04-22 15:49] dirkroorda commented on #201
This is Daniel Semler on github https://github.com/47rooks

[2017-04-22 21:31] nicoguaro commented on #242
I still don't get the sample-data input files thing. For example

    ## chi1 & chi2 components. Can be path to files, or number (like 0).

How come this can be a single number like 0, or a whole table like in the file ``sample-data/SiBulk-chi1-xx_yy_zz``.

I understand that you mention this

But let's suppose that I can "magically" know this tensor (that should have 27(?) components for every ene

[2017-04-22 22:24] kevinushey commented on #214
I've finished my initial review for now -- there's a number of things that still need to be finished before a full review can be conducted; that is, I don't think the paper is ready yet. Some comments:

Currently, the package / paper does not outline other competing methods for multidimensional scaling (in R or otherwise). A discussion of how this package compares to other approaches to dimensiona

[2017-04-23 01:02] howardjp commented on #200
@arfon I wanted to jump in and see if this had completely stalled or if I could help rekickstart it somehow?

[2017-04-23 01:48] arokem commented on #215
@rdottle : does this now meet all the requirements? Any other comments?

[2017-04-24 00:14] arfon commented on #200
Apologies for dropping the ball @howardjp. I'm struggling to figure out who might be a suitable editor for this submission.

@openjournals/joss-editors - anyone willing to volunteer to edit this submission?

[2017-04-24 00:53] howardjp commented on #200
It's all good and we've all been there.  Just wanted to see if I could give it a nudge.  Totally unrelated, @arfon, but I spoke with one of your colleagues at NerdNite Baltimore last week.  It's a small world.

[2017-04-24 01:58] rdottle commented on #215
@arokem that's it, now meets all requirements!

[2017-04-24 02:59] migueldvb commented on #102
I have a couple of comments on the latest version.  The README file refers to  "/example/rawdata zipfile (example.zip in release docs)". However there is no such file in the `docs` directory and I could not figure out how to download the test data from the description in the README. Since the package depends on astropy already I'd suggest using `astropy.utils.data` tor download the test data but t

[2017-04-24 10:28] roguephysicist commented on #242
Some basic theory on the susceptibility tensor
----------------------------------------------

chi2 (chi1) is the nonlinear (linear) susceptibility tensor.

In particular, chi2 determines the nonlinear polarizability of a material and is responsible for second-harmonic generation. This relationship is expressed as
<img src="https://cloud.githubusercontent.com/assets/2207402/25330837/4856f30c-28e1-

[2017-04-24 10:54] rneher commented on #231
flusight is a useful and intuitive visualization of flu prediction data. I managed to run a local dev server without problems. I don't see anything fundamental preventing acceptance. A few minor things

  - references don't render in the `paper.md`
  - a few additional sentences on how these predictions are visualized and evaluated now would help. Are there any similar efforts?
  - the tool tip fo

[2017-04-24 11:56] ngoto commented on #234
I'm sorry too late.

I'd like to run examples in README.md.
I tried to copy-and-paste code from README.md, saved and builded, but following errors:

[code]

[2017-04-24 11:56] roguephysicist commented on #242
Concerning the calculation of the nonlinear susceptibility tensor
=================================================================

I think that the other part of your question concerns how we actually calculate chi2. That is definitely a non-trivial problem, and as I mentioned in the README, there are different ways to approach it. The method that we use is derived in full detail [here](https://

[2017-04-24 12:09] kortschak commented on #234
Sorry. I have fixed the entrez example. That was a copy-paste error. The issue with the BLAST example is that it is not intended to be a complete runnable program; providing the harness for all that would detract from the code I have provided. I have clarified this in the preamble to that example.

Please comment at [this PR](https://github.com/biogo/ncbi/pull/5).

[2017-04-24 12:34] labarba commented on #151
@jflorence Allow me to ping again — The version was updated: if this is the last remaining issue, we await for you to check that box and to state here your recommendation for accepting the paper. Thanks!

[2017-04-24 12:53] rgieseke commented on #245
Thanks @sgrieve!

We've just updated Pyhector to v0.6.0. Is there a `whedon` command to change/regenerate the metadata?

[2017-04-24 13:07] sgrieve commented on #245
I think that might be a question for @arfon ...

[2017-04-24 13:07] arfon commented on #231
Thanks @rneher. @lepisma - please let me know when you've had a chance to review this feedback.

On this point:

These will be compiled in at then end when we produce the PDF with Pandoc.

[2017-04-24 13:08] arfon commented on #245
👍 it's a manual process right now (I've just done it)

[2017-04-24 13:09] arfon commented on #245
@whedon assign @sgrieve as reviewer

[2017-04-24 13:16] arfon commented on #245
@whedon assign @sgrieve as reviewer

[2017-04-24 13:16] arfon commented on #245
@whedon commands

[2017-04-24 13:16] whedon commented on #245
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-04-24 13:17] arfon commented on #245
@whedon assign @arfon as editor

[2017-04-24 13:17] whedon commented on #245
OK, the editor is @arfon

[2017-04-24 13:17] arfon commented on #245
@whedon assign @sgrieve as reviewer

[2017-04-24 13:17] whedon commented on #245
OK, the reviewer is @sgrieve

[2017-04-24 13:18] arfon commented on #245
@whedon start review magic-word=bananas

[2017-04-24 13:18] #245 closed

[2017-04-24 13:18] whedon commented on #245
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/248. Feel free to close this issue now!

[2017-04-24 13:18] whedon opened #248 "[REVIEW]: pyhector: A Python interface for the simple climate model Hector"
**Submitting author:** @swillner (<a href="http://orcid.org/0000-0001-6798-6247">Sven N. Willner</a>)
**Repository:** <a href="https://github.com/openclimatedata/pyhector/" target ="_blank">https://github.com/openclimatedata/pyhector/</a>
**Version:** v0.7.0
**Editor:** @arfon
**Reviewer:** @sgrieve
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.569492" target="_blank">10.5281/zenodo.56949

[2017-04-24 13:18] whedon commented on #248
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @sgrieve it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-04-24 13:18] arfon commented on #245
@sgrieve - please head over to #248 to actually carry out the review

[2017-04-24 14:00] sgrieve commented on #248
I have updated the version number in the review comment, as it didn't copy across from the pre-review. I'm hoping to have time to work on this review tomorrow. I will post any questions I have here, and if I find any bugs I will open issues on the source repo.

[2017-04-24 15:07] arokem commented on #215
Thanks @rdottle!

@gboeing : would it be reasonable to make a release of the current state of the software, and upload an archive of that to Zenodo? We still need a DOI/archive for the software to publish.

[2017-04-24 17:32] nicoguaro commented on #242
@roguephysicist, these are good explanations, and I think that you should include them in the documentation of your software. I little detail, though, I suppose that you meant _third-order_ tensor, since chi2^{abc} has three free indices. On the other hand, chi1^{ab} is a second-order tensor, since it has two free indices.

So, you answered part of my question. But some part is still missing, and

[2017-04-24 17:55] whedon opened #249 "[PRE REVIEW]: InteractiveFixedEffectModels.jl: A Julia package to estimate linear models with interactive fixed effects"
**Submitting author:** @matthieugomez (<a href="http://orcid.org/0000-0003-1304-2720">Matthieu Gomez</a>)
**Repository:** <a href="https://github.com/matthieugomez/InteractiveFixedEffectModels.jl" target ="_blank">https://github.com/matthieugomez/InteractiveFixedEffectModels.jl</a>
**Version:** v0.1.1
**Editor:** @pjotrp
**Reviewer:** @sens

**Author instructions**

Thanks for submitting your pape

[2017-04-24 17:55] whedon commented on #249
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-04-24 19:06] gboeing commented on #215
@arokem sure I can upload the latest patch release of the released major version

[2017-04-24 19:29] gboeing commented on #215
@arokem DOI assigned: [10.5281/zenodo.557105](http://doi.org/10.5281/zenodo.557105)

[2017-04-24 19:32] arfon commented on #215
@whedon set 10.5281/zenodo.557105 as archive

[2017-04-24 19:33] whedon commented on #215
OK. <a href="http://dx.doi.org/10.5281/zenodo.557105" target="_blank">10.5281/zenodo.557105</a> is the archive.

[2017-04-24 19:48] arfon commented on #215
@gboeing - it looks like the paper compilation is failing as you're not actually citing the papers listed in `paper.bib` in the `paper.md` text (see this page for example http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html).

Also, could you update the paper metadata with the affiliations formatted correctly?:

[code]

[2017-04-24 19:50] brainstorm commented on #243
Hi @andrewjpage! I've successfully installed the python packages locally in an Anaconda python3 environment, but there seems to be assumptions about where "KMC" is setup and the tests end up failing:

[code]

That is because after `source install_dependencies.sh`, KMC ends up under `build` directory:

[code]

Just a minor detail, the docker counterpart works fine!

[2017-04-24 19:54] roguephysicist commented on #242
That was a

[2017-04-24 20:00] gboeing commented on #215
@arfon paper citations and affiliations are updated

[2017-04-24 20:10] arfon commented on #215
@rdottle many thanks for your review here and to @arokem for editing this one ✨

@gboeing - your paper is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00215 :zap: 🚀 💥

[2017-04-24 20:10] #215 closed

[2017-04-24 20:42] dvalters commented on #239
@arfon if not I would be happy to - quite interested in cartopy/matplotib things.

[2017-04-24 20:48] arfon commented on #239
👍 great!

[2017-04-24 20:48] arfon commented on #239
@whedon assign @dvalters as reviewer

[2017-04-24 20:48] arfon commented on #239
@whedon ping

[2017-04-24 20:53] arfon commented on #239
@whedon commands

[2017-04-24 20:53] whedon commented on #239
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-04-24 20:53] arfon commented on #239
@whedon assign @dvalters as reviewer

[2017-04-24 20:56] arfon commented on #239
@whedon assign @arfon as editor

[2017-04-24 20:56] whedon commented on #239
OK, the editor is @arfon

[2017-04-24 20:56] arfon commented on #239
@whedon assign @dvalters as reviewer

[2017-04-24 20:56] whedon commented on #239
OK, the reviewer is @dvalters

[2017-04-24 20:57] arfon commented on #239
@whedon start review magic-word=bananas

[2017-04-24 20:57] #239 closed

[2017-04-24 20:57] whedon commented on #239
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/250. Feel free to close this issue now!

[2017-04-24 20:57] whedon opened #250 "[REVIEW]: IBCAO_py: A matplotlib library for using the International Bathymetric Chart of the Arctic Ocean with cartopy and matplotlib"
**Submitting author:** @gauteh (<a href="http://orcid.org/0000-0002-5653-1447">Gaute Hope</a>)
**Repository:** <a href="https://github.com/gauteh/ibcao_py" target ="_blank">https://github.com/gauteh/ibcao_py</a>
**Version:** v1.1
**Editor:** @arfon
**Reviewer:** @dvalters
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.580775" target="_blank">10.5281/zenodo.580775</a>

## Status

[![status]

[2017-04-24 20:57] whedon commented on #250
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @dvalters it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-04-24 20:57] arfon commented on #239
@dvalters please head over to #250 to carry out the actual review.

[2017-04-24 20:57] arfon commented on #250
@dvalters - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2017-04-24 22:29] roguephysicist commented on #242
I thought one thing and wrote another! chi2 is a *second-order* nonlinear susceptibility, but is a *third-rank* tensor. Thanks for spotting that.

Sorry for missing that. The chi2 components are dealt with in the `shgcomp()` function on line 76. The file is organized in 5 columns:

1. 1w energy from 0-20 eV in 0.01 eV steps,
2. real part of the 1w resonances
3. imaginary part of the 1w resonances

[2017-04-25 01:22] offray commented on #237
Hi all,

Thanks @SergeStinckwich for your offering and for the proper disclaimer. Pharo, having a small community will have less degrees of separation. Despite of that, I think that in an open journal like JOSS, the "blindness" of peer review is not the main property, but its transparency.

@arfon and others are you fine with Serge offering? Stephan Ducasse has also offered as a reviewer.

Cheers,

[2017-04-25 09:03] pjotrp commented on #200
It is a nifty visualisation. I.e., pretty cool. I do, however, think that this submission is going to stretch our scientific application rule. @howardjp unlike the papers you refer to you don't give an explanation of what you actually have implemented and how it differs from the ant? I think that would be incredibly helpful. Your code is short and concise, but not exactly explanatory.

Also can yo

[2017-04-25 11:39] howardjp commented on #200
@pjotrp I think a lot of the checkboxes can be ticked with better documentation, so I will work on that and ping you again in a few days.

As for scientific credibility, in a field that only progresses when someone has made a mistake, it is important not to take oneself too seriously ;)

[2017-04-25 15:41] sgrieve commented on #248
I have been working on this today and overall I am very happy with the quality of the code and documentation. I'd like to thank the authors for this contribution, its been a very enjoyable day working through this submission (much better than marking exams!).

I have checked all of the items on the checklist and so the minor issues I raise below are not severe, but are more suggestions that I thin

[2017-04-26 11:12] arfon commented on #237
:+1: I'm happy for @SergeStinckwich to handle this.

[2017-04-26 11:12] arfon commented on #237
@whedon assign @arfon as editor

[2017-04-26 11:12] whedon commented on #237
OK, the editor is @arfon

[2017-04-26 11:12] arfon commented on #237
@whedon assign @SergeStinckwich as reviewer

[2017-04-26 11:12] whedon commented on #237
OK, the reviewer is @SergeStinckwich

[2017-04-26 11:12] arfon commented on #237
@whedon start review magic-word=bananas

[2017-04-26 11:12] whedon commented on #237
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/251. Feel free to close this issue now!

[2017-04-26 11:12] whedon opened #251 "[REVIEW]: Grafoscopio: A moldable tool for literate computing and reproducible research"
**Submitting author:** @offray (<a href="http://orcid.org/0000-0002-4640-6984">Offray Vladimir Luna Cárdenas</a>)
**Repository:** <a href="http://mutabit.com/repos.fossil/grafoscopio/" target ="_blank">http://mutabit.com/repos.fossil/grafoscopio/</a>
**Version:** 1.3.8
**Editor:** @arfon
**Reviewer:** @SergeStinckwich
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1038147" target="_blank">

[2017-04-26 11:12] whedon commented on #251
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @SergeStinckwich it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're

[2017-04-26 11:13] arfon commented on #237
@SergeStinckwich please head over to #251 for the actual review thread.

[2017-04-26 11:13] #237 closed

[2017-04-26 14:25] rgieseke commented on #248
Many thanks for the detailed review! Answers to the suggested changes below:

Good idea, done.

A colleague reported just that when testing, so this might be very useful change. Not sure whether there is a nice Python2/3 workaround so going with a plain text unit.

Good catch, spoiled by mostly plotting from Notebooks these days!

Very good point, the configuration dictionaries in the sub-modules

[2017-04-26 14:27] swillner commented on #248
@sgrieve Thank you very much! We have tagged the revised version "v0.7.0". Could you update that again,  please? ;)

[2017-04-26 18:33] pjotrp commented on #200
@whedon commands

[2017-04-26 18:33] whedon commented on #200
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-04-26 18:33] pjotrp commented on #200
@whedon asssign @pjotrp as editor

[2017-04-26 18:35] pjotrp commented on #200
@whedon assign @pjotrp as editor

[2017-04-26 18:35] whedon commented on #200
OK, the editor is @pjotrp

[2017-04-27 09:54] sgrieve commented on #248
Great. I've updated the version number and I'm happy that my suggestions have all been addressed. So I am happy to accept the paper :rocket:

I think the next step is for you to generate a doi for the package using zenodo or figshare.

@arfon Is there anything else I need to do?

[2017-04-27 10:15] swillner commented on #248
Cool! We have uploaded the pypi-archive (since pyhector is a multi-repo software) to zenodo:
https://doi.org/10.5281/zenodo.569492

@whedon set 10.5281/zenodo.569492 as archive

[2017-04-27 10:16] swillner commented on #248
@whedon set 10.5281/zenodo.569492 as archive

[2017-04-27 10:16] whedon commented on #248
I'm sorry @swillner, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-04-27 13:42] SergeStinckwich commented on #251
@offray I can't install Grafoscopio at the moment. I'm using Pharo 5.0 with PharoLauncher. During the installation, there is a #DNU: OrderedCollection>>asSymbol

Can you add also a plain-text LICENSE file ? There is none at the moment.

[2017-04-27 13:50] andrewjpage commented on #243
Hi @brainstorm,
Thanks for trying the software out. The install dependancies script is for travis, so I've renamed it to avoid confusion and I've added [installation instructions for Anaconda](https://github.com/sanger-pathogens/saffrontree/blob/master/README.md).
Andrew

[2017-04-27 15:14] arfon commented on #248
@whedon set 10.5281/zenodo.569492 as archive

[2017-04-27 15:14] whedon commented on #248
OK. <a href="http://dx.doi.org/10.5281/zenodo.569492" target="_blank">10.5281/zenodo.569492</a> is the archive.

[2017-04-27 15:16] arfon commented on #248
@sgrieve - many thanks. I'll move ahead with processing this shortly.

[2017-04-27 15:18] SergeStinckwich commented on #251
@arfon I find the paper on Grafoscopio repository. But there is no direct link from a review to the paper ?

[2017-04-27 20:33] arfon commented on #251
We generally compile the paper at the end of the review. If you can find the `paper.md` file in the repository can you review it there?

[2017-04-27 20:39] danielskatz commented on #221
@jmichel7 - what's going on with this review?

[2017-04-27 22:31] howardjp commented on #200
@pjotrp Okay, I added a [README.md file to the develop branch](https://github.com/howardjp/bumblebees/blob/develop/README.md).  This adds a lot of context and explanation for

1. Why I created this,
2. How to use it, and
3. How it works.

Of questions on this checklist, this will resolve almost all of them.  Some really don't apply (API documentation, though I do describe the internals, which can

[2017-04-28 07:55] pjotrp commented on #200
@whedon start review magic-word=bananas

[2017-04-28 08:01] pjotrp commented on #200
Great. I started looking for a reviewer.

[2017-04-28 10:56] arfon commented on #248
@sgrieve many thanks for your review here ✨

@swillner - your paper is now accepted into JOSS. The DOI is http://dx.doi.org/10.21105/joss.00248 :zap: 🚀 💥

[2017-04-28 10:56] #248 closed

[2017-04-28 12:49] roguephysicist commented on #242
Hey @nicoguaro, I just updated the repo with the following changes.

I expanded the README with a lot of the information I posted above. I changed the input file to YAML which greatly improves the parsing abilities, and added a lot of comments to both the main file and the input file. I improved the way that the main file interprets the chi2 components, so it's smarter and more flexible now.

Let

[2017-04-28 17:16] jmichel7 commented on #221
I found the following issues within the reviewer questions:
- Version number: no version number is visible anywhere within the package.
- Example usage: there is none. However, the graphic interface is easily discoverable.
- Functionality documentation: there is none. It seems from the interface that computation is limited
 to groups of rank 10 or less. Such a limitation leaves the program useful

[2017-04-28 17:18] jmichel7 commented on #221
On Thu, Apr 27, 2017 at 01:39:14PM -0700, Daniel S. Katz wrote:

Thank you for reminding me. I put some comments. Tell me if more is needed in
a review.

Best regards,
------------------------------------------------------------------------------
Jean MICHEL, Groupes et representations, IMJ-PRG UMR7586 tel.(33)157279144
Bureau 639 Bat. Sophie Germain Case 7012 - 75205 PARIS Cedex 13

[2017-04-28 17:26] danielskatz commented on #221
Thanks @jmichel7

@luk87, over to you to respond

[2017-04-28 19:32] nicoguaro commented on #242
I think that it looks cleaner now, and the choice of YAML seems to be aligned in the same direction, as well.  It could be useful to do the same with the output, a Jupyter Notebook reproducing the plots from above might be good for that purpose.

Regarding automatic testing, it seems that it still does not cover this. The same goes for the community guidelines for contribution.

[2017-04-28 21:55] offray commented on #251
@SergeStinckwich

I have solved the installation issue (software installation was ending, but the documentation installation was rising errors). Also, there is already a plain LICENSE text file already included in the repository at [1], but I have made it more explicit at the intro page [2] of the repository.

[1] http://mutabit.com/repos.fossil/grafoscopio/doc/tip/Docs/En/Licenses/grafoscopio-mit

[2017-04-30 07:41] luk87 commented on #221
@jmichel7 and @danielskatz thank you. I try to clarify each point.

I can fix these issues immediately describing an example in the documentation. For the version number I put it in the release as required by GitHub. I will report it in the documentation if needed.

I am going to integrate a control sequence to signal overflow. The overflow could appear in the computation of r and h in the code. I

[2017-04-30 08:10] luk87 commented on #221
@jmichel7 and @danielskatz thank you. I try to clarify each point.

I can fix these issues immediately describing an example in the documentation. For the version number I put it in the release as required by GitHub. I will report it in the documentation if needed.

I am going to integrate a control sequence to signal overflow. The overflow could appear in the computation of r and h in the code. I

[2017-04-30 13:02] danielskatz commented on #221
@luk87 Please let us know when you have made these changes.

@arfon Can you comment on the issue of scope/weight:

[2017-04-30 15:18] luk87 commented on #221
@danielskatz  yes of course. I have already uploaded the new code with the overflow control and I will try to fix the other issues as soon as possible.

[2017-04-30 15:49] bradleyboehmke commented on #202
@arfon  How would you like me to proceed?  As for the reviewers comments # 1 & 3, we have included rmarkdown and knitr as suggested dependencies rather than absolute required dependencies.  This is because the package will operate without these packages; however, having them is suggested as it allows for enhancements such as seeing the formulas in the vignette.

Comment #2 - I updated the paper.md

[2017-04-30 20:54] cmutel commented on #244
@hugoledoux Any chance you could give me a timeframe on when to expect something? I know people are busy, just asking so I can manage my expectations :)

[2017-04-30 21:22] arfon commented on #202
👍 great.

I think it's OK if the JOSS `paper.md` only has a subset of these references (i.e. the ones necessary for the short paper).

@TJBihl - could you verify the changes and check off of the remaining review checkboxes if everything looks good?

[2017-04-30 21:24] arfon commented on #221
@danielskatz - I think the (limited) scope is fine. Sounds like @jmichel7 is recommending it might be worth adding some documentation to the code to improve the legibility?

[2017-04-30 23:37] labarba commented on #224
Hey, @jessdtate --- We were in touch by email ~20 days ago. Have you had a chance to look at the submission?
Cheers!

[2017-04-30 23:45] TJBihl commented on #202
Everything looks good to me now

[2017-05-01 00:38] arfon commented on #113
Ping @chenjqp - did you see @mgymrek's comments ☝️ ?

[2017-05-01 00:39] arfon commented on #156
Ping @mgymrek - are you still able to edit this submission?

[2017-05-01 00:39] arfon commented on #196
👋 @Kevin-Mattheus-Moerman - any update on this?

[2017-05-01 00:40] arfon commented on #206
👋 @brainstorm - would you be willing to edit this submission for JOSS?

[2017-05-01 00:41] arfon commented on #212
👋 @gboeing - do you have any thoughts based on @labarba's comment?

[2017-05-01 01:00] arfon commented on #202
Great. Thanks @TJBihl.

@bradleyboehmke - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-01 03:05] bradleyboehmke commented on #202
@arfon as requested:

<a href="https://zenodo.org/badge/latestdoi/60852792"><img src="https://zenodo.org/badge/60852792.svg" alt="DOI"></a>

[2017-05-01 03:39] lepisma commented on #231
Thanks for your comments @rneher !

For points

Will add a github wiki page about this and link to the application.

Working on these now.

The region to view predictions for can be selected by clicking on the map. This is mentioned in the interactive help (when we press the <kbd>help</kbd> button on the top right of site). Should this be more clearly mentioned somewhere else (like a dropdown menu

[2017-05-01 05:40] hugoledoux commented on #244
This week I can do this.

On Sun, 30 Apr 2017 at 22:54, Chris Mutel <notifications@github.com> wrote:

[2017-05-01 06:33] lepisma commented on #231
Updates:

- There is a simple about page [here](https://github.com/reichlab/flusight/wiki/About) and is linked in the application (navbar).
- Chart tooltips show `x wks ahead` text.
- Historical traces are darker.
- The region to view predictions for can be selected via a dropdown (as well as the original method of clicking on the map).

[2017-05-01 09:39] pjotrp commented on #200
@howardjp do you have a mailing list you belong to for people with similar interests? I could put a call for review there.

[2017-05-01 11:40] brainstorm commented on #243
Fantastic! Thanks for that @andrewjpage for that, it worked like a charm. I'll move on to the functionality aspects of the package, thanks!

[2017-05-01 12:18] brainstorm commented on #243
Just a minor observation as I proceed with the review, the following online newick tree viewer states that trees should start with parenthesis:

http://trex.uqam.ca/index.php?action=newick

The generated trees from the example data begin with `[&R]` instead... also the online tool claims that the object length names should not exceed 50 characters.

FigTree does work fine though, but other alterna

[2017-05-01 12:29] brainstorm commented on #243
Fantastic tool otherwise, was a pleasure to review/try it out, thanks! ;)

[2017-05-01 12:54] arfon commented on #202
@whedon set 10.5281/zenodo.570062 as archive

[2017-05-01 12:55] whedon commented on #202
OK. <a href="http://dx.doi.org/10.5281/zenodo.570062" target="_blank">10.5281/zenodo.570062</a> is the archive.

[2017-05-01 13:48] arfon commented on #202
@TJBihl - many thanks for the review here ✨

@bradleyboehmke - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00202 ⚡️ 🚀 💥

[2017-05-01 13:48] #202 closed

[2017-05-01 14:17] jflorence commented on #151
Yes, I recommend accepting the paper.

[2017-05-01 14:27] luk87 commented on #221
@danielskatz I have released the software with the overflow control and I have added to the documentation and example and a test to verify functionality. Furthermore I have added comments for a better reading of the source files, main20170429.c and functions20170429.h.

[2017-05-01 14:47] danielskatz commented on #221
@jmichel7 - back to you...

[2017-05-01 16:01] arfon commented on #151
@TermosPullo - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-01 18:34] pjotrp commented on #249
@whedon commands

[2017-05-01 18:34] whedon commented on #249
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-05-01 18:34] pjotrp commented on #249
@whedon assign @pjotrp as editor

[2017-05-01 18:34] whedon commented on #249
OK, the editor is @pjotrp

[2017-05-01 18:35] pjotrp commented on #249
@whedon assign @sens as reviewer

[2017-05-01 18:35] whedon commented on #249
OK, the reviewer is @sens

[2017-05-01 18:39] pjotrp commented on #249
Dear @matthieugomez, I am your editor and Prof. Saunak Sen will review your paper. To help kick start the process, would you be so kind to help us by looking at the check boxes on, for example, https://github.com/openjournals/joss-reviews/issues/251 and see if you tick the important ones? Once you are happy we'll kick off full review. Thanks.

[2017-05-01 18:40] sens commented on #249
Can you give me some review instructions?  It seems it is not blind,
right?

Saunak

On Mon, May 01, 2017 at 11:35:33AM -0700, Pjotr Prins wrote:

--
Śaunak Sen ... http://www.senresearch.org
Prof and Chief of Biostatistics, Dept of Prev Med, UTHSC, Memphis, TN
Appointments: https://saunaksen.youcanbook.me

[2017-05-01 18:56] pjotrp commented on #249
Wait Saunak, let Matthieu confirm his submission is up to scratch. Then you'll get instructions for review.

[2017-05-01 19:09] asmit3 commented on #247
I was able to tick off all the boxes except the one on Community Guidelines since the LICENSE file appears incomplete (no year or full name of author). Also I didn't see an email address for correspondence.
The default unittest given in the README file throws 3 errors when I run on my mac with python 3.5 (see attachment)
![screenshot 2017-05-01 12 06 07](https://cloud.githubusercontent.com/assets/

[2017-05-01 20:46] arfon commented on #19
Friendly reminder @meyera - how are you getting on?

[2017-05-01 20:47] arfon commented on #102
Hi @kweis @migueldvb - how are we doing here?

[2017-05-01 20:49] arfon commented on #222
@lnielsen - I think we should be good to accept here? Could you confirm?

[2017-05-01 20:51] arfon commented on #232
👋 @luizirber - friendly reminder that there's a review here for you 😄

[2017-05-01 21:04] whedon opened #252 "[PRE REVIEW]: Lab::Measurement - measurement control with Perl"
**Submitting author:** @akhuettel (<a href="http://orcid.org/0000-0001-5794-5919">Andreas K. Hüttel</a>)
**Repository:** <a href="http://www.labmeasurement.de/" target ="_blank">http://www.labmeasurement.de/</a>
**Version:** 3.542
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @kippkitts

**Author instructions**

Thanks for submitting your paper to JOSS @akhuettel. The JOSS editor (shown at the

[2017-05-01 21:04] whedon opened #253 "[PRE REVIEW]: xphyle: Extraordinarily simple file handling"
**Submitting author:** @jdidion (<a href="http://orcid.org/0000-0002-8111-6261">John Didion</a>)
**Repository:** <a href="https://github.com/jdidion/xphyle" target ="_blank">https://github.com/jdidion/xphyle</a>
**Version:** 3.0.1
**Editor:** @pjotrp
**Reviewer:** @ctb

**Author instructions**

Thanks for submitting your paper to JOSS @jdidion. The JOSS editor (shown at the top of this issue) will

[2017-05-01 21:04] whedon commented on #253
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-05-01 21:05] arfon commented on #252
👋 @Kevin-Mattheus-Moerman - the author suggested you as an editor 😁

[2017-05-01 21:05] arfon commented on #253
👋 @pjotrp - the submitting author suggested you as an editor 😁

[2017-05-02 00:43] kweis commented on #102
I cleaned up the README to address the most recent comments from @migueldvb -- the raw data is still in the release notes to keep it out of the main repository, but I linked to it so it's much easier to find.

I think I'd already addressed the os.path.join issue, but forgot to close it. closed now!

[2017-05-02 00:53] bradleyboehmke commented on #202
Great!  Thanks @arfon!

[2017-05-02 06:42] bjmorgan commented on #247
The errors under python 3.5 were due to test methods that were introduced with version 3.6. I have replaced these with 3.5+ compatible versions:
https://github.com/bjmorgan/lattice_mc/commit/695e679e66e2331b6e6c23c70e983addf555ec38

I have added the year and my name to the LICENSE file:
https://github.com/bjmorgan/lattice_mc/commit/eb706fb5160b018ec134a532c49b49bd189c26b2

My email is given in `se

[2017-05-02 06:54] asmit3 commented on #247
The changes are satisfactory for me. I don't have any more comments. Thanks

[2017-05-02 08:14] andrewjpage commented on #243
Thanks @brainstorm for reviewing the software. I've added a note about the generated tree.

[2017-05-02 09:36] TermosPullo commented on #151
@arfon Here: 10.5281/zenodo.570521

[2017-05-02 10:35] arfon commented on #151
@whedon set 10.5281/zenodo.570521 as archive

[2017-05-02 10:35] whedon commented on #151
OK. <a href="http://dx.doi.org/10.5281/zenodo.570521" target="_blank">10.5281/zenodo.570521</a> is the archive.

[2017-05-02 10:47] arfon commented on #151
@jflorence many thanks for your review here and to @labarba for editing this submission ✨

@TermosPullo - your submission is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00151 ⚡️ 🚀 💥

[2017-05-02 10:47] #151 closed

[2017-05-02 11:49] lnielsen commented on #222
Yep, ok from my side. Sorry for the delay - was on extended vacation over easter :-)

[2017-05-02 12:52] arfon commented on #222
👍 thanks for confirming @lnielsen

@dgerosa @vallis - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-02 13:03] hugoledoux commented on #244
I'm one of those who still use Python 2.7... but it can't be installed as Python >3.0 is required, right?

[2017-05-02 14:16] hugoledoux commented on #244
In general nice and well-documented library, and I'm sure it's really useful for people that are non-expert at GIS.

I have the following remarks below. I tried it a bit but to continue I'd really like to have one full example, as explained below. I know I could figure things out, but as a user, I like to just see quickly what it does, and not having to build my own script from scratch.

## versio

[2017-05-02 14:25] roguephysicist commented on #242
Thanks for these good suggestions.

I added a minimal test script in the `test` directory, and am working on a full fledged example with a Jupyter tutorial that includes a couple of different calculations. I'm still working on the Jupyter notebook (my first time), but most of the other stuff is already in place. I have no experience writing test programs, so I appreciate any feedback you might hav

[2017-05-02 14:28] kyleniemeyer commented on #242
@roguephysicist you are welcome to edit your paper, especially if @nicoguaro thinks it could use more content. I took a quick look, and agree it could use a bit more. Please look at some examples of published JOSS papers.

The LaTeX conversion does happen automatically, so you don't need to worry about that.

[2017-05-02 15:18] migueldvb commented on #102
That sounds great. I recommend this paper for acceptance in JOSS.

[2017-05-02 15:23] arfon commented on #102
Great!

@kweis - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-02 16:15] dgerosa commented on #222
Hello,

here is the badge for the new release (v1.1):
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.570875.svg)](https://doi.org/10.5281/zenodo.570875)

Best,
Davide

[2017-05-02 16:49] kweis commented on #102
The DOI is https://doi.org/10.5281/zenodo.570881

[2017-05-02 16:52] arfon commented on #222
@whedon set 10.5281/zenodo.570875 as archive

[2017-05-02 16:52] whedon commented on #222
OK. <a href="http://dx.doi.org/10.5281/zenodo.570875" target="_blank">10.5281/zenodo.570875</a> is the archive.

[2017-05-02 16:53] arfon commented on #102
@whedon set 10.5281/zenodo.570881 as archive

[2017-05-02 16:53] whedon commented on #102
OK. <a href="http://dx.doi.org/10.5281/zenodo.570881" target="_blank">10.5281/zenodo.570881</a> is the archive.

[2017-05-02 17:26] arfon commented on #222
@dgerosa - apologies for being late to suggest this but could you move the references/links you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-05-02 17:36] biorelated commented on #243
Thank you @brainstorm for your review. @arfon please do you mind to merge and accept this work for publication?

[2017-05-02 17:41] dgerosa commented on #222
Hello,

I don't have references. I moved the links into a .bib file, now in the JOSS directory.

Davide

[2017-05-02 17:50] karantibrewal commented on #30
Hi @arfon and @karthik. Just a gentle follow up: is there any update on this? Thanks.

[2017-05-02 17:52] arfon commented on #222
Thanks @dgerosa. That's not quite it: you now need to cite these items in the `paper.bib` file (e.g. `@TexShop` - https://github.com/dgerosa/filltex/blob/master/JOSS/paper.bib#L25)

[2017-05-02 17:53] arfon commented on #243
@andrewjpage - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-05-02 17:57] arfon commented on #102
@kweis - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-05-02 17:59] dgerosa commented on #222
It should be fixed now. Please let me know.

[2017-05-02 18:53] cmutel commented on #244
@hugoledoux Updated the readme and docs:

- Updated language (please let me know if there are other suggestions!)
- Made usage example easier to find
- Added notes on Python 3 requirement

Please feel free to make technical criticisms (esp. using the Mollweide as a default projection) as well!

[2017-05-02 18:56] kweis commented on #102
Okay, moved it to the paper.bib file and cited using @ in the paper.md. Is that the citation you were referring to?

[2017-05-02 23:32] arfon commented on #222
@lnielsen - many thanks for the review here ✨

@dgerosa - your submission is now accepted into JOSS and your paper DOI is http://dx.doi.org/10.21105/joss.00222 :zap: 🚀 💥

[2017-05-02 23:32] #222 closed

[2017-05-02 23:43] dgerosa commented on #222
Great! Thanks

[2017-05-02 23:47] arfon commented on #102
Yep. That looks good.

@migueldvb - many thanks for your review here ✨

@kweis - your submission is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00102 ⚡️ 🚀 💥

[2017-05-02 23:47] #102 closed

[2017-05-03 00:58] kweis commented on #102
Sounds great! Thanks for your insight and patience, @migueldvb @arfon!!

[2017-05-03 03:51] gboeing commented on #212
Hi @arfon, I will defer to the editors' judgment on topics of publishability.

[2017-05-03 07:50] andrewjpage commented on #243
I've popped the reviewed software on Figshare:

*https://doi.org/10.6084/m9.figshare.4964378.v1
<https://doi.org/10.6084/m9.figshare.4964378.v1>*

*Regards,*

*Andrew*

On 2 May 2017 at 18:53, Arfon Smith <notifications@github.com> wrote:

[2017-05-03 09:27] hugoledoux commented on #244
@cmutel

## Example usage

I had seen that `ipynb` file, but when I opened it I had no idea what it was. I am a casual user of Python, and do not use advanced features... Am I the "average user" for your library? I wouldn't know, but I think having an example directly runnable with python would surely help.

I tried converting it to a `py` file, but ran into issues while running... macOS complaine

[2017-05-03 09:37] pjotrp commented on #253
Make my day. I am not known for being nice ;). OK, let's start looking for reviewers.

[2017-05-03 09:38] pjotrp commented on #253
@peterjc can you suggest a reviewer? I think this is an interesting addition to python bioinformatics (and beyond)

[2017-05-03 10:48] SergeStinckwich commented on #251
Thank you @offray I was able to install Grafoscopio on my computer.

There is still some problems :
- part of the interface is in Spanish. For example, when I try Update / Dataviz
- after installing Dataviz, I was not able to do : ```OffshoreLeaksDB openIntroNotebook``` because apparently files are not at the correct place.
- Help > Manual (pdf) open no pdf document
- sometimes after using the key

[2017-05-03 11:04] arfon commented on #243
@whedon set 10.6084/m9.figshare.4964378.v1 as archive

[2017-05-03 11:04] whedon commented on #243
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.4964378.v1" target="_blank">10.6084/m9.figshare.4964378.v1</a> is the archive.

[2017-05-03 11:11] arfon commented on #243
@brainstorm - many thanks for your review here and to @biorelated for editing this one ✨

@andrewjpage - your submission is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00243 ⚡️ 🚀 💥

In other news, this is the 100th accepted JOSS paper 🎉! Nice to see this coming from the Sanger (I worked in the Production Software Group in ~2008/2009)

[2017-05-03 11:11] #243 closed

[2017-05-03 11:16] gauteh commented on #250
Arfon Smith writes on april 24, 2017 22:57:

@dvalters: is your review done? I do not get any notifications on changes
to checkboxes.

Best regards, Gaute

[2017-05-03 12:30] andrewjpage commented on #243
Thanks @arfon its great to have the privilege of being the 100th.  I also worked in Production Software from Sept 2009 to 2011, so must have just missed you.

[2017-05-03 12:55] arfon commented on #243
Ha! Small world... 😁

[2017-05-03 13:42] jmichel7 commented on #221
Most points I touched on have been improved. They are not yet perfect, but perhaps that's the end
of my comments.

[2017-05-03 14:06] danielskatz commented on #221
@jmichel7 there are still a number of boxes unchecked.  Can you either check them, or explain what you think needs to be done before you are ready to check them?

[2017-05-03 14:13] peterjc commented on #253
Hmm. Reviewing a Python library for efficient access to compressed files - I'd think someone doing IO heavy Python/C would be best. @ctb or @mr-c could you suggest someone?

[2017-05-03 16:28] ekolve commented on #235
I followed all the steps in the README to install on AWS. I am using Ubuntu 14.04 and when I run this:
`python label_gen.py read-s3 escience.washington.edu.viziometrics acl_anthology/pdf/C08-1099.pdf acl_anthology`

I get the following message:
Usage:
`  main.py read-s3 S3-IN-BUCKET S3-FILE S3-OUT-BUCKET S3-PATH [--use-ramdisk] [--debug] [--dbg-image]
  main.py read FILE PATH [--debug] [--dbg-imag

[2017-05-03 16:38] domoritz commented on #235
@ekolve Thanks for doing the review! It looks like `label_gen.py` now expects two buckets. I'm looking into it.

[2017-05-03 17:03] jmichel7 commented on #221
I checked more boxes.
I did not find the test to verify functionality in the archive. Also there are still no community guidelines.
Is this last necessary?

[2017-05-03 17:39] ekolve commented on #235
Running this command:
` parallel --resume -j +6 --no-run-if-empty --eta --joblog /tmp/par.log python label_gen.py read-s3 escience.washington.edu.viziometrics acl_anthology/pdf/{} escience.washington.edu.viziometrics acl_anthology --dbg-image :::: acl_papers.txt`

I get several 403 Forbidden errors.  This was caused by me not having permission to the the s3 output bucket.  It would probably be a g

[2017-05-03 17:43] ekolve commented on #235
A few documentation requests:
Specify the platform - I assumed Ubuntu 14.04 because that is what PDF figures requires, but it would be good for people to see this documented here.

I had to install the following additional apt packages:
software-properties-common # to get the add-apt-repository utility
python-dev
liblapack-dev libblas-dev gfortran # scipy dependencies - installed from requirements

[2017-05-03 17:50] ekolve commented on #235
It would also be a good idea to either freeze your requirements.txt or at least pin the packages to a major version (e.g. scipy >=1.12, < 1.13).  That way if a package deprecates something you are depending on in a new version users will be able to install.

[2017-05-03 17:51] domoritz commented on #235
Okay, first step was to get pdffigures working again. The api changed a bit (pdffigures now generates only a single json file) so I had to change the label generator code a bit but local generation works again now.

[code]

I'm looking at S3 now.

[2017-05-03 18:00] luk87 commented on #221
@jmichel7 regarding the test I put a manual test in the documentation: the formula for the dimension of the tableaux [2,1] as function of the rank for the four algebras. Regarding the guidelines I assumed these were disciplined by the license and GitHub, but eventually I could add some more specific statements.

[2017-05-03 18:07] whedon opened #254 "[PRE REVIEW]: Neuropsydia.py: A Python Module for Creating Experiments, Tasks and Questionnaires"
**Submitting author:** @DominiqueMakowski (<a href="http://orcid.org/0000-0001-5375-9967">Dominique Makowski</a>)
**Repository:** <a href="https://github.com/neuropsychology/Neuropsydia.py/" target ="_blank">https://github.com/neuropsychology/Neuropsydia.py/</a>
**Version:** 1.0.4
**Editor:** @arokem
**Reviewer:** @cMadan

**Author instructions**

Thanks for submitting your paper to JOSS @Dominiqu

[2017-05-03 18:07] whedon commented on #254
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-05-03 18:07] domoritz commented on #235
Done

Done

The last remaining issue are the changes in AWS. The problem seems to be that a) I didn't document that you need to write to a bucket that you have write access to and b) that the `label_gen.py` arguments are not correct in the instructions, right?

[2017-05-03 18:13] ekolve commented on #235
Correct.  I am running the parallel task now and it seems to be running fine.

[2017-05-03 18:37] domoritz commented on #235
I don't have access to an AWS machine right now but I fixed the command in the readme and everything seems to be working fine on my local machine.

[2017-05-03 19:16] domoritz commented on #235
That's great. I fixed the command in the readme and everything seems to be working fine on my local machine. I also added a note to the readme that the commands were the ones I used to extract the figures and generate the labels that you can also just download from S3 (as described in the readme). I think the relevant part of those instructions is that you can use it to understand how you can gene