[2019-07-02 19:57] whedon commented on #1521
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1544. Feel free to close this issue now!

[2019-07-02 19:57] whedon commented on #1544
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @santisoler it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2019-07-02 19:57] whedon commented on #1544
[code]

[2019-07-02 19:58] whedon commented on #1544
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01544/joss.01544/10.21105.joss.01544.pdf)

[2019-07-02 20:01] lheagy commented on #1521
:wave: @jessepisel, would you be willing to review this submission for JOSS?

If you haven't reviewed with JOSS before, the review process is a bit different. We focus on the software, and provide a checklist to help guide the review (more info in the reviewer guidelines).

If you don't have the time at the moment, I would appreciate any recommendations you have. Thanks!

[2019-07-02 20:15] effigies commented on #1294
@cMadan I'm pretty sure he's still on vacation.

[2019-07-02 21:38] jimmccusker commented on #1513
This is a very unusual review process, so please bear with me. I am including the checklist points that I did not check off as complete, along with comments as to why they are not checked. I don't know if I need to provide a recommended decision on publication beyond these comments.

### Performance: If there are any performance claims of the software, have they been confirmed? (If there are no cl

[2019-07-02 22:16] dap-biospec commented on #1532
@usethedata @FaustinCarter @cfneese  @kyleniemeyer The first paper demonstrating application of this software has just been accepted. Submission files will be updated accordingly shortly.
https://pubs.acs.org/doi/10.1021/acs.analchem.9b00859

[2019-07-02 22:50] alex-konovalov commented on #1371
@drvinceknight @artivis I have competed my review. `brew install eigen` worked for me (`brew install eigen3` is not correct since there is no `eigen3` formula). I have left a couple of suggestions at https://github.com/artivis/manif/issues/90. The only tickboxes left empty are about version number (because none so far) and about performance (it seems there are no claims about it, so I've left it e

[2019-07-02 23:09] dhhagan commented on #1538
@mbobra: If it can wait until next week, then absolutely!

[2019-07-03 03:14] akelbert commented on #1463
Basically, just not my environment. As I said, I'm not a Python person!
So obvious things aren't obvious for me. In trying to update the
packages to

conda install -c prisae emg3d

I completely broke my anaconda so cannot update everything else that I
need to install emg3d.  I know this doesn't belong in this review, but
what do I do when

akelbert$ conda install -c prisae emg3d
Traceback (most re

[2019-07-03 03:57] jedbrown commented on #1463
Thanks, @akelbert. I usually recommend pip over anaconda because it's so common for conda users to accidentally mix up which Python is used. Can you try `python3 -m pip install --user emg3d`? This worked well for me. There are tests in the main repository, but the examples might be a better place for you to look at usage. If you have Jupyter (it can also be installed using pip), you can run exampl

[2019-07-03 04:07] akelbert commented on #1463
@jedbrown, thanks for the response! Any ideas?

akelbert$ python3 -m pip install --user emg3d
Collecting emg3d
   Could not fetch URL https://pypi.python.org/simple/emg3d/: There was
a problem confirming the ssl certificate: [SSL:
CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749) - skipping
   Could not find a version that satisfies the requirement emg3d (from
versions: )
No matchi

[2019-07-03 04:14] jedbrown commented on #1463
For our reference, can you paste the output from `python3 -m pip --version`?
I think [this answer](https://stackoverflow.com/a/29751768/33208) will resolve the cert issue.

[2019-07-03 04:18] akelbert commented on #1463
akelbert$ python3 -m pip --version
pip 9.0.1 from
/Users/akelbert/Developer/local/miniconda3/lib/python3.6/site-packages
(python 3.6)

akelbert$ pip install --trusted-host pypi.org --trusted-host
files.pythonhosted.org emg3d
Collecting emg3d
   Could not fetch URL https://pypi.python.org/simple/emg3d/: There was
a problem confirming the ssl certificate: [SSL:
CERTIFICATE_VERIFY_FAILED] certificate

[2019-07-03 04:30] jedbrown commented on #1463
Hmm, can you try this?
`pip install --upgrade --user --trusted-host pypi.org --trusted-host files.pythonhosted.org pip setuptools`

[2019-07-03 04:36] akelbert commented on #1463
akelbert$ pip install --upgrade --user --trusted-host pypi.org
--trusted-host files.pythonhosted.org pip setuptools
Could not fetch URL https://pypi.python.org/simple/pip/: There was a
problem confirming the ssl certificate: [SSL: CERTIFICATE_VERIFY_FAILED]
certificate verify failed (_ssl.c:749) - skipping
Requirement already up-to-date: pip in
/Users/akelbert/Developer/local/miniconda3/lib/python

[2019-07-03 04:48] prisae commented on #1463
Yes, emg3d requires python 3.7 at least.

As it is a new library I decided to use the newest python to leverage some of the new tools in python.

I'll be in the office in an hour or so and will reply to the questions raised in the last few comments.

On 3 July 2019 06:18:59 CEST, Anna Kelbert <notifications@github.com> wrote:

[2019-07-03 06:01] prisae commented on #1463
@akelbert what OS are you on?

[2019-07-03 06:05] akelbert commented on #1463
macOS High Sierra Version 10.13.6

On 7/3/19 12:01 AM, Dieter Werthmüller wrote:

[2019-07-03 06:16] prisae commented on #1463
I am not sure about the SSL stuff, as this is more OS/network related, but I can do some digging.

However, could you try this:
[code]
I hope it works on a Mac, I just tried it on Linux and adjusted the filename.

This will install the most recent anaconda (Python3) in your home in `testanaconda`, and also install `emg3d`.

[2019-07-03 06:26] prisae commented on #1463
If it does work, here would be a minimal example:

Start IPython (or pure Python if you want)
[code]

And then, in the IPython shell:
[code]

Very basic example, but then we would know it works.

The output should be along the lines of:
[code]

[2019-07-03 06:30] akelbert commented on #1463
Thank you, sounds great! I'll try your suggestions tomorrow, it's past
midnight here. One of the challenges is that as a government employee in
the US, I have no admin permissions on my own machine. Makes things
difficult.

If I can make this work tomorrow, I'll run the examples and respond
immediately. If it doesn't work... well, then it doesn't. I'll let you
know either way.

On 7/3/19 12:26 AM,

[2019-07-03 06:52] prisae commented on #1463
@jedbrown regarding the issue with JupyterLab:

This is probably one of the reasons why I am still sticking around with notebooks, and not with the lab. Interactive figures in JupyterLab are not that straight forward.

You could either:
- Change `%matplotlib notebook` to `%matplotlib inline` in the 2nd cell. Then the figures are shown, but they won't be interactive.
- Follow https://github.com/mat

[2019-07-03 06:55] prisae commented on #1463
@akelbert That is fine. You don't need admin permission to install/run stuff in python, that is not an issue. However, firewall might be an issue...

[2019-07-03 07:07] espinielli commented on #1518
I will start, this afternoon

[2019-07-03 07:43] whedon commented on #1295
:wave: @jdkent, please update us on how things are progressing here.

[2019-07-03 09:03] xuanxu commented on #1534
:wave: @garrettj403 and @dhuppenkothen: Would you be willing to review this paper? I think your expertise in Python and Jupyter notebooks and your background on Astronomy/Radioastronomy makes both of you a great fit for this submission.

[2019-07-03 10:24] Kevin-Mattheus-Moerman commented on #1507
@Jfriesen222 would you be interested in reviewing this work on tensegrity modelling for [JOSS](http://joss.theoj.org)? The review process will focus on [the software](https://github.com/ramaniitrgoyal92/Tensegrity_Engineering_Analysis_Master-TEAM-) and [this short paper](https://github.com/openjournals/joss-papers/blob/joss.01507/joss.01507/10.21105.joss.01507.pdf).

[2019-07-03 11:11] prisae commented on #1463
@akelbert : If there is an issue with installing it you could use Binder instead just to check a few examples. Click on the batch for the example notebook `0a_Minimum_working_example` [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/empymod/emg3d-examples/master?filepath=0a_Minimum_working_example.ipynb)

The only thing you have to add to run it on Binder is to add the f

[2019-07-03 11:16] prisae commented on #1463
In this way you could run any notebook; this batch opens you the whole `emg3d-examples`-directory on Binder, so you can select a notebook: [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/empymod/emg3d-examples/master)

Depending on the examples you might have to adjust the `!pip install`-commands given above for additional dependencies.

[2019-07-03 12:55] malmans2 commented on #1506
@platipodium, just checking if you are still stuck on the installation. I'm able to install on our machines and the [continuous integration](https://travis-ci.org/malmans2/oceanspy) is also successfully creating the environment, so I would need more details to get it fixed (e.g., log, OS, ...).

[2019-07-03 14:57] platipodium commented on #1506
Thanks for checking on me.  I have finally been able to overcome the issues I faced, all of which were related to permissions gone wrong in my `conda` installation.  Nothing to worry about in your package.   But something we too often forget with CI and package management, that also those systems are far from perfect and working for everyone.   I have not yet gone through the steps to replicating

[2019-07-03 15:01] malmans2 commented on #1506
Good news, thanks! I was worried about problems related to the OS since we mainly test and develop on linux machines.

[2019-07-03 15:09] danielskatz commented on #1536
@whedon assign @lpantano as editor

[2019-07-03 15:09] whedon commented on #1536
OK, the editor is @lpantano

[2019-07-03 15:09] danielskatz commented on #1536
👋 @lpantano - btw, you can assign yourself as editor too (via whedon), once you volunteer :)

[2019-07-03 16:15] jessepisel commented on #1521
Howdy @lheagy I would be happy to review this submission for JOSS. I haven't reviewed with JOSS yet so I will go through the reviewer guidelines and checklist and get started in the next couple of days.

[2019-07-03 16:37] molgor commented on #1538
Hi Mónica,

I cannot do this at the moment.  I'll submit my PhD thesis in two months.

Sorry about that.

Best wishes,

Juan

On Tue, Jul 2, 2019 at 6:23 PM Monica Bobra <notifications@github.com>
wrote:

--
Nehuatl yoliliztli nicoyotl.

[2019-07-03 16:38] karthik commented on #1493
Looks like both reviewers have now properly signed off. Over to you again @openjournals/joss-eics

[2019-07-03 16:40] dhuppenkothen commented on #1534
@xuanxu Unfortunately I'm going to be travelling/teaching/organizing at a school for the next few weeks, so I don't think I can do this on a timescale earlier than about a month from now. I'm really sorry!

[2019-07-03 17:05] mistrm82 commented on #1344
Sorry for the delay. I was successfully able to install via bioconda and use the tool. Thanks @Juke34 everything looks great to me

[2019-07-03 17:42] lheagy commented on #1521
Excellent, many thanks @jessepisel! The review issue is started over in #1544. I will add a checklist for you there. In order to be able to check off items, please accept the invitation to JOSS: https://github.com/openjournals/joss-reviews/invitations. Note that you will likely want to "unwatch" the repo so that you don't get swamped with all of the review activity!

[2019-07-03 17:42] #1521 closed

[2019-07-03 17:42] lheagy commented on #1544
@whedon add @jessepisel as reviewer

[2019-07-03 17:42] whedon commented on #1544
OK, @jessepisel is now a reviewer

[2019-07-03 18:03] lpantano commented on #1344
@whedon  generate pdf

[2019-07-03 18:28] prisae commented on #1463
Let me know if it works @akelbert . The next 1-2 hours I could still help, afterwards it would have to wait till tomorrow.

[2019-07-03 18:45] lpantano commented on #1344
@whedon check references

[2019-07-03 18:45] whedon commented on #1344
[code]

[2019-07-03 18:46] whedon commented on #1344
[code]

[2019-07-03 18:47] lpantano commented on #1344
@whedon generate pdf

[2019-07-03 18:48] whedon commented on #1344
[code]

[2019-07-03 18:48] whedon commented on #1344
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01344/joss.01344/10.21105.joss.01344.pdf)

[2019-07-03 18:49] lpantano commented on #1344
@Juke34, We are almost there. Can you generate a Zenodo archive pointing to your github current version and making sure title and authors match the Zenodo link? Thanks

[2019-07-03 18:50] lpantano commented on #1344
@whedon set v1.0 as version

[2019-07-03 18:50] whedon commented on #1344
OK. v1.0 is the version.

[2019-07-03 18:57] lpantano commented on #1536
@whedon check references

[2019-07-03 18:57] whedon commented on #1536
[code]

[2019-07-03 18:58] whedon commented on #1536
[code]

[2019-07-03 19:13] mbobra commented on #1538
@molgor No worries! And good luck :)

[2019-07-03 19:14] mbobra commented on #1538
@dhhagan Awesome, thanks! Yes, next week is totally fine (and you can take longer than that if needed). Once I find another reviewer, I'll assign you both at the same time.

[2019-07-03 19:24] lpantano commented on #1536
@whedon start review

[2019-07-03 19:24] whedon opened #1545 "[REVIEW]: SeleDiff: A fast and scalable tool for estimating and testing selection differences between populations"
**Submitting author:** @xin-huang (<a href="http://orcid.org/0000-0002-9918-9602">Xin Huang</a>)
**Repository:** <a href="https://github.com/xin-huang/SeleDiff" target ="_blank">https://github.com/xin-huang/SeleDiff</a>
**Version:** v1.1
**Editor:** @lpantano
**Reviewer:** @stulacy, @suresh-lab
**Archive:** <a href="https://doi.org/10.5281/zenodo.3323833" target="_blank">10.5281/zenodo.3323833</a>

[2019-07-03 19:24] whedon commented on #1536
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1545. Feel free to close this issue now!

[2019-07-03 19:24] whedon commented on #1545
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @stulacy, @suresh-lab it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-07-03 19:24] whedon commented on #1545
[code]

[2019-07-03 19:24] #1536 closed

[2019-07-03 19:27] whedon commented on #1545
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01545/joss.01545/10.21105.joss.01545.pdf)

[2019-07-03 19:28] kbarnhart commented on #1530
Reviewer update:

I've done a full pass at a review and was very pleased with the package. I think that bioLEC is a great contribution to topographic analysis and an appropriate contribution to JOSS.

I've made all of my comments as Issues. The three unchecked boxes in my checklist all correspond to items identified in issues. I will check them off as they are addressed.

I have only tested the de

[2019-07-03 20:25] poulson commented on #1490
:wave: @betatim -- any thoughts on reviewing this submission?
:wave: @vyasr -- any thoughts on reviewing this submission?

[2019-07-03 22:34] jdkent commented on #1295
Update:
I have at least touched on every issue (except adding a binder link), which I am currently deriving a solution for. Thank you for the comments @snastase, I think the documentation is much improved now. @snastase, could you take another look at the [joss issues](https://github.com/HBClab/NiBetaSeries/issues?utf8=%E2%9C%93&q=label%3Ajoss+) to see if I adequately covered your comments?

[2019-07-03 23:02] arokem commented on #1478
@whedon generate pdf

[2019-07-03 23:02] whedon commented on #1478
[code]

[2019-07-03 23:02] whedon commented on #1478
PDF failed to compile for issue #1478 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:123:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d6

[2019-07-03 23:09] arokem commented on #1478
@openjournals/joss-eics : does anyone know what this error means? I am failing to debug this just by looking at the markdown.

[2019-07-03 23:17] kyleniemeyer commented on #1478
I would try removing the empty `orcid:` field for the second author, I think whedon gets confused by that

[2019-07-03 23:17] danielskatz commented on #1478
something is wrong with an orcid

[2019-07-04 00:09] mbobra commented on #1538
👋 @nanhung Would you be willing to review this submission for JOSS?

[2019-07-04 00:37] nanhung commented on #1538
@mbobra  Thanks for the invitation. Unfortunately, I'm not an expert in this area. Sorry about that...

[2019-07-04 02:40] xin-huang commented on #1545
@whedon generate pdf

[2019-07-04 02:40] whedon commented on #1545
[code]

[2019-07-04 02:41] whedon commented on #1545
PDF failed to compile for issue #1545 with the following error:

[2019-07-04 04:07] mmhs013 commented on #1538
@mbobra, Mann Kendall is a statistical trend test which is mostly used in climate science, atmospheric science, hydrology etc. So, I think @Chilipp, @andreas-h, @sgrieve, @dvalters might be familiar with this functions. You can invite them for review this submission.

[2019-07-04 06:13] dvalters commented on #1538
Sorry too busy with other things at the moment, not familiar with that
particular test.

On Thu, 4 Jul 2019, 05:07 Md. Manjurul Hussain Shourov, <
notifications@github.com> wrote:

[2019-07-04 06:44] AliYoussef96 commented on #1500
Hi @mgymrek

For the [ paper](https://github.com/AliYoussef96/BCAW-Tool/blob/master/paper/paper.md) Output summary, I add a table summary, as well as a figure, shows all the output plots.

I'm Waiting for your feedback.

Hi @Benjamin-Lee

I finished working on the issues you added. And I'm Waiting for your feedback.

[2019-07-04 07:43] Juke34 commented on #1344
Here is the dog: 10.5281/zenodo.3268394

[2019-07-04 08:11] akelbert commented on #1463
Sorry Dieter, nothing worked for me yet, and it's a holiday season here
in the US - I'm leaving on vacation in the morning. Will try the last
few suggestions on Monday. Thanks for being so patient with me. This is
also a use case of sorts: an EM modeler who's never done python...

On 7/3/19 12:28 PM, Dieter Werthmüller wrote:

[2019-07-04 08:42] fiveop commented on #1513
Am I supposed to answer now? (To quote @jimmccusker: "This is a very unusual review process")

[2019-07-04 09:06] labarba commented on #1473
👋  @robbriers — Please check that the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on it); you may also add the authors' ORCID.

[2019-07-04 09:07] labarba commented on #1473
@whedon set v0.4.1 as version

[2019-07-04 09:07] whedon commented on #1473
OK. v0.4.1 is the version.

[2019-07-04 09:13] labarba commented on #1493
👋  @gvegayon — The JOSS publication process requires that after all revisions to the software and paper are complete and the reviewers and editor recommend publication, you do the following:

- make a tagged release of your software, and report the version number here so we can update the metadata
- make a full deposit of your software in an archive that provides persistence and a global identifie

[2019-07-04 09:17] robbriers commented on #1473
@labarba fixed zenodo metadata as requested

[2019-07-04 09:20] labarba commented on #1473
@whedon accept

[2019-07-04 09:20] whedon commented on #1473
[code]

[2019-07-04 09:21] whedon commented on #1473
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/815

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/815, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-04 09:21] whedon commented on #1473
[code]

[2019-07-04 09:24] labarba commented on #1473
Paper paragraph 1: malformed citation: `[@WWAPUnitedNationsWorldWaterAssessmentProgramme/UN-Water2018]`

[2019-07-04 09:28] labarba commented on #1473
While you are there, add a comma after "e.g." on page 2.

[2019-07-04 09:33] robbriers commented on #1473
@whedon generate pdf

[2019-07-04 09:33] whedon commented on #1473
[code]

[2019-07-04 09:33] whedon commented on #1473
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01473/joss.01473/10.21105.joss.01473.pdf)

[2019-07-04 09:35] robbriers commented on #1473
@whedon generate pdf

[2019-07-04 09:35] whedon commented on #1473
[code]

[2019-07-04 09:36] whedon commented on #1473
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01473/joss.01473/10.21105.joss.01473.pdf)

[2019-07-04 09:37] robbriers commented on #1473
@labarba think that has fixed the problem

[2019-07-04 09:53] sgrieve commented on #1538
Sorry, I'm not familiar enough with this test to review this paper.

[2019-07-04 10:07] labarba commented on #1473
@whedon accept

[2019-07-04 10:07] whedon commented on #1473
[code]

[2019-07-04 10:07] whedon commented on #1473
[code]

[2019-07-04 10:07] whedon commented on #1473
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/816

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/816, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-04 10:10] labarba commented on #1473
@whedon accept deposit=true

[2019-07-04 10:10] whedon commented on #1473
[code]

[2019-07-04 10:10] whedon commented on #1473
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1146723059765796866) 👈 🐦🐦🐦

[2019-07-04 10:10] whedon commented on #1473
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/817
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01473](https://doi.org/10.21105/joss.01473)
2. If everything looks go

[2019-07-04 10:12] labarba commented on #1473
Congrats @robbriers! Your JOSS paper is accepted.

Big thanks to our editor: @karthik and reviewer: @jhollist

[2019-07-04 10:13] labarba commented on #1473
(Just published this from my airplane seat before doors close for a long-haul. Cool.)

[2019-07-04 10:17] #1473 closed

[2019-07-04 10:17] whedon commented on #1473
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01473/status.svg)](https://doi.org/10.21105/joss.01473)

**We need your help!**

Journal of Open Source Softwar

[2019-07-04 10:22] robbriers commented on #1473
:) great - many thanks @labarba @karthik @jhollist

[2019-07-04 10:26] andreas-h commented on #1538
Sorry, I am not familiar enough with this in order to ensure a proper review.

[2019-07-04 11:33] ts-adi commented on #1531
@dvberkel How was your experience with the software? Can I help you anywhere with the installation or running a functionality? I know ROS has pretty steep learning curve

[2019-07-04 15:54] espinielli commented on #1518
@xoolive I am trying to install as per https://traffic-viz.github.io/installation.html
Specifically:
1. clone of the repo
1. `python setup.py install`

Last failed: I am on a Mac where python is still 2.7.0, ok, so I installed "latest" `python` (`brew install python`)
and run `python3 setup.py install` which fails with

[code]

(I assume Python 3 is the norm these days, hence why you did not menti

[2019-07-04 16:31] espinielli commented on #1518
Small suggestion for rewording in https://github.com/xoolive/traffic/issues/28
Small suggestion for reordering of text https://github.com/xoolive/traffic/issues/29

[2019-07-04 16:33] xoolive commented on #1518
Nothing stupid @espinielli, just regular Python mess 😄

Python 3 is indeed the norm these days, and the dependency is stated [here](https://github.com/xoolive/traffic/blob/master/setup.py#L51). The installation process should fail if you have python<3.6.

There are specific non-Python dependencies for two Python libraries, namely `cartopy` and `shapely`. For Mac OS, brew is an option but you need

[2019-07-04 16:49] xoolive commented on #1518
@whedon generate pdf

[2019-07-04 16:49] whedon commented on #1518
[code]

[2019-07-04 16:49] whedon commented on #1518
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01518/joss.01518/10.21105.joss.01518.pdf)

[2019-07-04 17:15] usethedata commented on #1513
This is an unusual review process in that it's an open discussion.  I've seen it be very effective, particularly in helping to clarify exactly what a reviewer is concerned about, in ways that are not possible with the traditional, closed review process.

@jimmccusker On the performance claims, please simply check that item off, since there are no performance claims made.  On the example usage, it

[2019-07-04 18:15] garrettj403 commented on #1534
Hi @xuanxu, I'm happy to review this repo. I'm not very familiar with SETI or the Breakthrough Listen program, but it looks like an interesting project!

[2019-07-04 18:46] platipodium commented on #1506
@malmans2  I have now tested the claimed funtcionality, also on my local system, @kthyng I still can't tick my boxes (but I would if I could).  So I guess the review is complete.

[2019-07-04 19:21] olivertomic commented on #980
@whedon generate pdf

[2019-07-04 19:21] whedon commented on #980
[code]

[2019-07-04 19:21] whedon commented on #980
PDF failed to compile for issue #980 with the following error:

 Error reading bibliography ./paper.bib (line 19, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-04 19:22] olivertomic commented on #980
@whedon generate pdf

[2019-07-04 19:22] whedon commented on #980
[code]

[2019-07-04 19:23] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2019-07-04 19:27] olivertomic commented on #980
@whedon generate pdf

[2019-07-04 19:27] whedon commented on #980
[code]

[2019-07-04 19:27] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2019-07-04 22:17] rmsare commented on #1047
@Kevin-Mattheus-Moerman Looking through the changes, my major comments have been addressed by @jshermeyer and I feel like the notebooks and code have been made much more accessible.

Right now, I feel like the code and packaging meets the standards of JOSS, but it is up to the author to justify CometTS as a novel research tool. As @jjmcnelis asked above, could editors clarify when a workflow-orien

[2019-07-05 01:38] kthyng commented on #1506
@platipodium I haven't heard about that happening before, but thank you for clearly stating that your review is complete.

[2019-07-05 01:38] kthyng commented on #1506
@whedon generate pdf

[2019-07-05 01:38] whedon commented on #1506
[code]

[2019-07-05 01:38] whedon commented on #1506
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01506/joss.01506/10.21105.joss.01506.pdf)

[2019-07-05 01:39] kthyng commented on #1506
@whedon check references

[2019-07-05 01:39] whedon commented on #1506
[code]

[2019-07-05 01:39] whedon commented on #1506
[code]

[2019-07-05 01:46] kthyng commented on #1506
Hi @malmans2! Can you clarify which ocean models OceanSpy will work with in your paper? After that, please make a Zenodo archive, and report the DOI in this thread.

[2019-07-05 02:59] bii-absd commented on #1512
I believe someone hit an error while trying to export data to cBioPortal
on TIMS (we received the error email).

This error is caused by the firewall not being open for local connection
to port 3306 (mysql) when IT open the system for public access.

The issue is resolved now, and sorry for the inconvenience caused.

On 20/06/2019 18:55, Daniel S. Katz wrote:

[2019-07-05 06:24] 1313e commented on #1229
@arfon This is not that big of a deal, but I just realized that the footer in the JOSS paper says 'van der Velden et al.', even though I am the sole author on the paper.

[2019-07-05 07:12] arfon commented on #1229
Sorry about that. This should be fixed now. Note, the new pdf can take a few hours to show up sometimes because of browser caching.

[2019-07-05 07:40] omoliavko commented on #1494
Dear #federeghe, #gradvohl, #gkthiruvathukal, we have fixed the issues with mTower, except test suite - writing a comprehensive test suite would be very time-consuming due to hardware limitations (it would have to consist of some sort of external shell that would flash, run and verify tests for individual functions). Most of functionality can be checked by example applications already included int

[2019-07-05 07:43] xuanxu commented on #1534
Thanks for agreeing to review @garrettj403, I will assign you now.
I'll start the review issue once I find the second reviewer. Stay tuned.

[2019-07-05 07:44] xuanxu commented on #1534
@whedon assign @garrettj403 as reviewer

[2019-07-05 07:44] whedon commented on #1534
OK, the reviewer is @garrettj403

[2019-07-05 07:58] xuanxu commented on #1534
:wave: @benjaminrose — would you be willing to contribute a review for JOSS on this submission?

[2019-07-05 08:06] espinielli commented on #1518
I have finished my review. The package and the paper are excellent.
I have filed 2 minor suggestion on the documentation which @xoolive is addressing faster than
light speed 👍 https://github.com/xoolive/traffic/issues/30 and https://github.com/xoolive/traffic/issues/31.

IMHO they are not to be blocking issues for the paper to be accepted.

[2019-07-05 08:11] xoolive commented on #1518
Thank you @espinielli for the extensive feedback!

[2019-07-05 08:48] JonathanReardon commented on #1525
Hello, (1) could the list of dependencies be added to the README.md? It states that all will be installed with pip, but it might be better to explicitly state what those dependencies are. (2) Could the formatting of the top (author/affiliation etc.) section of paper.md be improved for clarity?

[2019-07-05 09:29] JonathanReardon commented on #1525
The documentation is very good, and the "Example computation" is particularly useful (https://multimatch.readthedocs.io/en/latest/example.html). Do you state anywhere what you used to overlay the data onto movie frame image (Figure 1 and 2)? if not, I think it would be a useful information to add.

[2019-07-05 11:29] adswa commented on #1525
Hey @JonathanReardon,
Thanks for these helpful remarks.

The dependencies are now explicitly stated in the README and in the docs.

As for formatting the paper.md header section I'm unfortunately unsure how to do that, at the moment. @kyleniemeyer, is it possible to line-break those affiliations or similar?

Indeed, the "how to contribute" section was only a minor section in the README.md, and I h

[2019-07-05 12:08] csoneson commented on #1512
@bii-absd - thanks for your notice. Please post any comments in the review issue (#1533) - this pre-review issue is closed and no longer in use.

[2019-07-05 12:21] danielskatz commented on #1518
Thanks to @junzis & @espinielli for reviewing!

[2019-07-05 12:21] danielskatz commented on #1518
@whedon generate pdf

[2019-07-05 12:21] whedon commented on #1518
[code]

[2019-07-05 12:22] whedon commented on #1518
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01518/joss.01518/10.21105.joss.01518.pdf)

[2019-07-05 12:22] JonathanReardon commented on #1525
Hi @adswa -- thank you for the swift response and the changes! I have now finished my part of the review (all boxes ticked). I thoroughly checked the tool and I found it very easy to use, it works exactly as stated. Docs/instructions were also thorough and very clear, which I very much appreciate. Note: I tested it on Linux Mint (19.1) -- I'm not sure what systems you've tested it on but it might

[2019-07-05 12:24] danielskatz commented on #1518
@whedon accept

[2019-07-05 12:24] whedon commented on #1518
No archive DOI set. Exiting...

[2019-07-05 12:27] danielskatz commented on #1518
@xoolive - we now need you to archive the software in an archival repository, such as zenodo (see https://guides.github.com/activities/citable-code/) or elsewhere that provides a DOI - then let me know the DOI of the archive.  Also, is 2.0 still the correct version number?  If not, let me know what is.

[2019-07-05 13:23] garrettj403 commented on #1534
Hi @telegraphic - In case you didn't know this, ApJ has an agreement with JOSS where you can submit two papers in parallel: one to JOSS and one to ApJ. You can find more info here: [https://iopscience.iop.org/article/10.3847/1538-4357/aaf876](url)

[2019-07-05 13:25] lpantano commented on #1344
@whedon set  10.5281/zenodo.3268394 as archive

[2019-07-05 13:25] whedon commented on #1344
OK. <a href="https://doi.org/10.5281/zenodo.3268394" target="_blank">10.5281/zenodo.3268394</a> is the archive.

[2019-07-05 13:26] lpantano commented on #1344
Thanks for the hard work to the authors and reviewers. @openjournals/joss-eics this is accepted now.

[2019-07-05 14:21] olivertomic commented on #980
@whedon generate pdf

[2019-07-05 14:21] whedon commented on #980
[code]

[2019-07-05 16:10] labarba commented on #1344
I'm confused by the author list: are commas missing, or something? It looks like some authors have a single-letter last name. Are first and last names being displayed in the wrong order?

[2019-07-05 16:21] kyleniemeyer commented on #1525
@whedon generate pdf

[2019-07-05 16:21] whedon commented on #1525
[code]

[2019-07-05 16:21] whedon commented on #1525
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01525/joss.01525/10.21105.joss.01525.pdf)

[2019-07-05 16:25] kyleniemeyer commented on #1525
@adswa @JonathanReardon if you mean the affiliation info in the PDF linked in the last comment, the format is part of the JOSS template. The Markdown file is just the original source, so don't worry about how things look in that.

(also, one comment for @adswa: could you add more detail to the affiliation info for your colleague Yaroslav? That one should have the same info, like department, city,

[2019-07-05 16:50] bii-absd commented on #1533
Dear all, I believe someone hit an error while trying to export data to cBioPortal on TIMS (we received the error email). This error is caused by the firewall not being open for local connection to port 3306 (mysql) when our IT guys setup the system for public access. The issue is resolved now, and sorry for the inconvenience caused.

@rabdill - Working on the community guidelines. Sorry for the o

[2019-07-05 17:04] xoolive commented on #1518
Thank you @danielskatz

Here is the link to the DOI: https://doi.org/10.5281/zenodo.3269812
2.0 is the correct version number

[2019-07-05 17:11] JonathanReardon commented on #1525
@kyleniemeyer Yes -- I did mean the markdown file, but of course how raw md looks isn't very important! Sorry @adswa, that may have come across as incredibly picky (you can ignore that comment), the reality is, I forgot what I was looking at for a second :) thanks all!

[2019-07-05 17:16] rabdill commented on #1533
Hi @bii-absd, that was me who hit the error, thanks for fixing it so quickly. No need to apologize about the community guidelines, just wanted to mention it.

[2019-07-05 17:45] danielskatz commented on #1518
@whedon set 10.5281/zenodo.3269812 as archive

[2019-07-05 17:45] whedon commented on #1518
OK. <a href="https://doi.org/10.5281/zenodo.3269812" target="_blank">10.5281/zenodo.3269812</a> is the archive.

[2019-07-05 17:45] danielskatz commented on #1518
@whedon accept

[2019-07-05 17:45] whedon commented on #1518
[code]

[2019-07-05 17:45] whedon commented on #1518
[code]

[2019-07-05 17:46] whedon commented on #1518
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/818

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/818, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-05 17:50] danielskatz commented on #1518
@xoolive - please merge https://github.com/xoolive/traffic/pull/32

[2019-07-05 18:37] adswa commented on #1525
@whedon generate pdf

[2019-07-05 18:37] whedon commented on #1525
[code]

[2019-07-05 18:37] whedon commented on #1525
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01525/joss.01525/10.21105.joss.01525.pdf)

[2019-07-05 18:46] adswa commented on #1525
Thanks @kyleniemeyer, the affiliation is updated, and I merged all changes in [this commit](https://github.com/adswa/multimatch_gaze/commit/29636ffd0b0d76e45d08970b7652b4a8b4aab14c). No worries, @JonathanReardon! It did not come across in a bad way at all!

Have a good weekend everyone!

[2019-07-05 18:54] kyleniemeyer commented on #1525
Thanks for your feedback @JonathanReardon!

[2019-07-05 18:54] kyleniemeyer commented on #1525
@FelixHenninger have you had a chance to start your review?

[2019-07-05 21:00] jimmccusker commented on #1513
Okay, then the API documentation needs to be accessible somehow, without building it ourselves, and the large example (which actually features code generation) needs to be more prominent in the top level page as well.

[2019-07-05 21:25] xoolive commented on #1518
@danielskatz done, I am not sure now about the whedon command to type in order to generate a new final proof

[2019-07-05 21:26] danielskatz commented on #1518
@whedon generate pdf

[2019-07-05 21:26] whedon commented on #1518
[code]

[2019-07-05 21:26] whedon commented on #1518
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01518/joss.01518/10.21105.joss.01518.pdf)

[2019-07-05 21:28] danielskatz commented on #1518
sorry, my fix didn't quite work for the cases - let's try again - please change the line in the bib file to:
booktitle = {Proceedings of the 13th {I}nternational {S}ymposium on {I}nformation {P}rocessing in {S}ensor {N}etworks},

[2019-07-05 21:30] xoolive commented on #1518
@whedon generate pdf

[2019-07-05 21:30] whedon commented on #1518
[code]

[2019-07-05 21:31] whedon commented on #1518
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01518/joss.01518/10.21105.joss.01518.pdf)

[2019-07-05 21:32] xoolive commented on #1518
@danielskatz this one looks good to me 😃

[2019-07-05 21:36] danielskatz commented on #1518
@whedon accept deposit=true

[2019-07-05 21:36] whedon commented on #1518
[code]

[2019-07-05 21:36] whedon commented on #1518
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1147257992385048581) 👈 🐦🐦🐦

[2019-07-05 21:36] whedon commented on #1518
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/819
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01518](https://doi.org/10.21105/joss.01518)
2. If everything looks go

[2019-07-05 21:40] #1518 closed

[2019-07-05 21:40] whedon commented on #1518
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01518/status.svg)](https://doi.org/10.21105/joss.01518)

**We need your help!**

Journal of Open Source Softwar

[2019-07-05 21:40] xoolive commented on #1518
@danielskatz @espinielli @junzis
Thank you for contributing to a smooth reviewing process. It was a nice experience to go through this process together.

[2019-07-06 08:55] csoneson commented on #1434
👋 @fauvernierma, could you give us an update on how the revision is progressing?

[2019-07-06 08:58] csoneson commented on #1407
👋 @jkanche - could you let us know whether you have additional comments for @IbrahimTanyalcin or if you are happy with the current state of the submission? Thanks!

[2019-07-06 17:01] malmans2 commented on #1506
@whedon generate pdf

[2019-07-06 17:01] whedon commented on #1506
[code]

[2019-07-06 17:01] whedon commented on #1506
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01506/joss.01506/10.21105.joss.01506.pdf)

[2019-07-06 17:02] malmans2 commented on #1506
@whedon check references

[2019-07-06 17:02] whedon commented on #1506
[code]

[2019-07-06 17:02] whedon commented on #1506
[code]

[2019-07-06 17:16] MaciejDanko commented on #1508
@soodoku, I noticed that you haven't checked "functionality" in the functionality checklist.

I decided to improved the functionality of the package by adding generic functions (_print_, _summary_, _plot_) to _latentIndex_, _standardizeCoef_, _getLevels_, and _getCutPoints_. I also improved the code so the functions are easier to run (less 'initial' parameters) for a user. The vignette and readme

[2019-07-06 18:44] suresh-lab commented on #1545
Hi, Am I able to provide written comments for the review in addition to the checklist? Do I attach it as a file here on this thread?

[2019-07-06 18:44] malmans2 commented on #1506
Hi @kthyng, I think we're all set. We've updated the paper and added a reference. Before creating the doi I've released v0.1.0, so I think we need to [inform whedon](https://joss.readthedocs.io/en/latest/whedon.html#changing-the-software-version).
Here is the doi: 10.5281/zenodo.3270646

[2019-07-06 18:51] kthyng commented on #1506
@malmans2 excellent! You may be getting some notes in the future as I encourage people I know to try out this package!

I'll have whedon update several things and feel free to let me know if you think I've missed something.

First though, do you want to keep the version as 0.1 instead of 1? Publishing this paper could be a good reason to bump up the version all the way to a whole number :)

[2019-07-06 19:03] kthyng commented on #1506
(obviously completely up to you, just a suggestion)

[2019-07-06 19:12] malmans2 commented on #1506
Thanks a lot for the feedback and helping disseminate OceanSpy!
I would keep 0.1 for now. I think we have a few tasks before version 1:
- Get more feedback and contributions from other groups (both observational and modeling)
- Test/adapt OceanSpy on different models
- Fully implement the particle code
- Upload LLC4320 on SciServer and test/improve OceanSpy's performances on high-res global datase

[2019-07-06 19:32] ejolly commented on #1504
Sorry @mbobra, I’ve been traveling but I can have this done by the end of this week if that’s ok.

[2019-07-06 19:49] kthyng commented on #1506
@whedon set 10.5281/zenodo.3270646 as archive

[2019-07-06 19:49] whedon commented on #1506
OK. <a href="https://doi.org/10.5281/zenodo.3270646" target="_blank">10.5281/zenodo.3270646</a> is the archive.

[2019-07-06 19:49] kthyng commented on #1506
@whedon set 0.1.0 as version

[2019-07-06 19:49] whedon commented on #1506
OK. 0.1.0 is the version.

[2019-07-06 19:51] kthyng commented on #1506
@openjournals/joss-eics This paper is ready for acceptance! Nice work @malmans2 and thank you to @platipodium and @tomchor for your reviews!

[2019-07-06 21:17] olivertomic commented on #980
@whedon generate pdf

[2019-07-06 21:17] whedon commented on #980
[code]

[2019-07-06 21:17] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2019-07-06 21:23] olivertomic commented on #980
@whedon generate pdf

[2019-07-06 21:24] whedon commented on #980
[code]

[2019-07-06 21:24] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2019-07-06 21:34] olivertomic commented on #980
Dear @jsgalan and @arfon . I think we have addressed now all issues raised. We have done the following:

1. Added Jupyter notebooks and corresponding python scripts (exports from the Jupyter notebooks) that provide working examples of how to use PCA, PCR, PLS, SMI, RV and RV2.

2. Where appropriate, we implemented examples on different type of data. The Jupyter notebooks for each method are stored

[2019-07-07 06:13] arfon commented on #980
Excellent, thanks for the detailed update @olivertomic.

@jsgalan - when you get a chance, could you please come and take another look at this submission?

[2019-07-07 10:35] dmey commented on #1468
@whedon generate pdf from branch joss-paper

[2019-07-07 10:35] whedon commented on #1468
[code]

[2019-07-07 10:36] whedon commented on #1468
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01468/joss.01468/10.21105.joss.01468.pdf)

[2019-07-07 10:40] dmey commented on #1468
@whedon generate pdf from branch joss-paper

[2019-07-07 10:40] whedon commented on #1468
[code]

[2019-07-07 10:41] whedon commented on #1468
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01468/joss.01468/10.21105.joss.01468.pdf)

[2019-07-07 10:44] dmey commented on #1468
@whedon generate pdf from branch joss-paper

[2019-07-07 10:44] whedon commented on #1468
[code]

[2019-07-07 10:45] whedon commented on #1468
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01468/joss.01468/10.21105.joss.01468.pdf)

[2019-07-07 10:53] dmey commented on #1468
@andreas-h  just wondering how you are getting on with this. I was wondering if we can try and wrap this up in the next few days if you have time. Thanks.

[2019-07-07 12:33] labarba commented on #1327
Apologies for the lag, @wojciech-n !
I'm not familiar with how Bitbucket organizes things, but I poked around and could not find a tagged version. I landed here:
https://bitbucket.org/basicsums/basicsums/downloads/?tab=tags
Help me here?

[2019-07-07 12:34] labarba commented on #1327
@whedon set 10.5281/zenodo.3253714 as archive

[2019-07-07 12:34] whedon commented on #1327
OK. <a href="https://doi.org/10.5281/zenodo.3253714" target="_blank">10.5281/zenodo.3253714</a> is the archive.

[2019-07-07 15:44] Juke34 commented on #1344
My mistake sorry. It should be now fixed.

[2019-07-07 15:45] Juke34 commented on #1344
@whedon generate pdf

[2019-07-07 15:45] whedon commented on #1344
[code]

[2019-07-07 15:45] whedon commented on #1344
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01344/joss.01344/10.21105.joss.01344.pdf)

[2019-07-07 15:55] labarba commented on #1344
@whedon accept

[2019-07-07 15:55] whedon commented on #1344
[code]

[2019-07-07 15:56] whedon commented on #1344
[code]

[2019-07-07 15:56] whedon commented on #1344
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/820

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/820, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-07 15:58] labarba commented on #1344
@whedon accept deposit=true

[2019-07-07 15:58] whedon commented on #1344
[code]

[2019-07-07 15:58] whedon commented on #1344
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1147897712316170240) 👈 🐦🐦🐦

[2019-07-07 15:58] whedon commented on #1344
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/821
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01344](https://doi.org/10.21105/joss.01344)
2. If everything looks go

[2019-07-07 15:59] labarba commented on #1344
Congratulations, @Juke34, your JOSS paper is published! 🚀

Big thanks to our editor: @lpantano, and the reviewer: @mistrm82 🙏

[2019-07-07 15:59] #1344 closed

[2019-07-07 15:59] whedon commented on #1344
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01344/status.svg)](https://doi.org/10.21105/joss.01344)

**We need your help!**

Journal of Open Source Softwar

[2019-07-07 16:09] labarba commented on #1506
@whedon accept

[2019-07-07 16:09] whedon commented on #1506
[code]

[2019-07-07 16:09] whedon commented on #1506
[code]

[2019-07-07 16:10] whedon commented on #1506
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/822

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/822, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-07 16:10] labarba commented on #1506
@whedon accept deposit=true

[2019-07-07 16:10] whedon commented on #1506
[code]

[2019-07-07 16:11] whedon commented on #1506
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1147900976340381698) 👈 🐦🐦🐦

[2019-07-07 16:11] whedon commented on #1506
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/823
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01506](https://doi.org/10.21105/joss.01506)
2. If everything looks go

[2019-07-07 16:11] labarba commented on #1506
Congratulations, @malmans2, your JOSS paper is published! 🚀

Big thanks to our editor: @kthyng, and the reviewers: @tomchor, @platipodium 🙏

[2019-07-07 16:11] #1506 closed

[2019-07-07 16:11] whedon commented on #1506
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01506/status.svg)](https://doi.org/10.21105/joss.01506)

**We need your help!**

Journal of Open Source Softwar

[2019-07-07 16:15] whedon opened #1546 "[PRE REVIEW]: MiraPy: Python Package for Deep Learning in Astronomy"
**Submitting author:** @swapsha96 (<a href="http://orcid.org/0000-0002-0329-9314">Swapnil Sharma</a>)
**Repository:** <a href="https://github.com/mirapy-org/mirapy" target ="_blank">https://github.com/mirapy-org/mirapy</a>
**Version:** v0.1.0
**Editor:** @mbobra
**Reviewers:** @wtgee, @DanielLenz

**Author instructions**

Thanks for submitting your paper to JOSS @swapsha96. **Currently, there isn'

[2019-07-07 16:15] whedon commented on #1546
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-07 16:15] whedon commented on #1546
[code]

[2019-07-07 16:15] whedon commented on #1546
PDF failed to compile for issue #1546 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1546/paper.md): mapping values are not allowed in this context at line 2 column 14 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/r

[2019-07-07 16:26] labarba commented on #1546
👋 @swapsha96 — Your paper is failing to compile. I think you need quotes around the title, or the colon confuses the key-value pair.

https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2019-07-07 16:26] labarba commented on #1546
@mbobra — the submitting author requested you as editor for this paper. Can you take it?

[2019-07-07 16:27] whedon opened #1547 "[PRE REVIEW]: SODAR Core"
**Submitting author:** @mikkonie (<a href="http://orcid.org/0000-0002-4180-8810">Mikko Nieminen</a>)
**Repository:** <a href="https://github.com/bihealth/sodar_core" target ="_blank">https://github.com/bihealth/sodar_core</a>
**Version:** v0.6.2
**Editor:** @lpantano
**Reviewers:** @rbatorsky, @olgabot

**Author instructions**

Thanks for submitting your paper to JOSS @mikkonie. **Currently, there

[2019-07-07 16:27] whedon commented on #1547
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-07 16:27] whedon commented on #1547
[code]

[2019-07-07 16:27] whedon commented on #1547
PDF failed to compile for issue #1547 with the following error:

 Could not find bibliography file: paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-07 16:31] labarba commented on #1547
👋 @mikkonie — your paper is failing to compile because we need the bibliography in a `.bib` file. Please see the section on [https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) in the documentation.

[2019-07-07 16:37] labarba commented on #1547
@lpantano — Would you handle this submission as editor? Thanks!

[2019-07-07 16:38] whedon opened #1548 "[PRE REVIEW]: infotheory: A C++/Python package for multivariate information theoretic analysis"
**Submitting author:** @madvn (<a href="http://orcid.org/0000-0002-9254-8641">Madhavun Candadai</a>)
**Repository:** <a href="https://github.com/madvn/infotheory" target ="_blank">https://github.com/madvn/infotheory</a>
**Version:** 1.0
**Editor:** @poulson
**Reviewers:** ajgates42, @Autoplectic

**Author instructions**

Thanks for submitting your paper to JOSS @madvn. **Currently, there isn't an

[2019-07-07 16:38] whedon commented on #1548
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-07 16:38] whedon commented on #1548
[code]

[2019-07-07 16:38] whedon commented on #1548
PDF failed to compile for issue #1548 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (https://orcid.org/0000-0002-9254-8641) for Madhavun Candadai (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:121:in `eac

[2019-07-07 16:40] labarba commented on #1548
👋 @ madvn — your paper is not compiling; the error appears to be with an ORCID. Can you try to fix, then run `@whedon generate pdf` here to try the compilation again?

[2019-07-07 16:42] labarba commented on #1548
@cMadan — the author requested you as handling editor, but your editing load is on the high side right now. Are you willing to take one more? I can look for someone else if your current papers are all mid-flight.

[2019-07-07 16:43] whedon opened #1549 "[PRE REVIEW]: FEST-3D: Finite-volume Explicit STructured 3-Dimensional solver"
**Submitting author:** @jayten (<a href="http://orcid.org/0000-0002-1546-3855">Jatinder Pal Singh Sandhu</a>)
**Repository:** <a href="https://github.com/FEST3D/FEST-3D" target ="_blank">https://github.com/FEST3D/FEST-3D</a>
**Version:** v1.0
**Editor:** @labarba
**Reviewers:** @hariradh

**Author instructions**

Thanks for submitting your paper to JOSS @jayten. **Currently, there isn't an JOSS ed

[2019-07-07 16:43] whedon commented on #1549
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-07 16:43] whedon commented on #1549
[code]

[2019-07-07 16:43] whedon commented on #1549
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01549/joss.01549/10.21105.joss.01549.pdf)

[2019-07-07 16:45] labarba commented on #1549
@whedon assign @labarba as editor

[2019-07-07 16:45] whedon commented on #1549
OK, the editor is @labarba

[2019-07-07 16:46] arfon commented on #1480
I've just emailed the submitting author to ask them to return to this submission soon.

[2019-07-07 16:46] labarba commented on #1549
@rouson — Would you be willing to contribute another review for JOSS? This one seems right up your alley! (Fortran, CFD). Let me know!

[2019-07-07 16:47] whedon opened #1550 "[PRE REVIEW]: bbsAssistant: An R package for downloading and handling data and information from the North American Breeding Bird Survey."
**Submitting author:** @trashbirdecology (<a href="http://orcid.org/0000-0002-0896-5099">Jessica Burnett</a>)
**Repository:** <a href="https://github.com/TrashBirdEcology/bbsAssistant/" target ="_blank">github.com/trashbirdecology/bbsassistant</a>
**Version:** 0.0.1
**Editor:** @kthyng
**Reviewers:** @ethanwhite , @jsta

**Author instructions**

Thanks for submitting your paper to JOSS @trashbirde

[2019-07-07 16:47] whedon commented on #1550
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-07 16:47] whedon commented on #1550
[code]

[2019-07-07 16:47] whedon commented on #1550
PDF failed to compile for issue #1550 with the following error:

 Can't find any papers to compile :-(

[2019-07-07 16:50] labarba commented on #1550
👋  @TrashBirdEcology — the GitHub repo URL you provided with the submission is giving a 404. Can you post here the correct URL?

[2019-07-07 16:52] whedon opened #1551 "[PRE REVIEW]: studentlife: Tidy Handling and Navigation of a Valuable Mobile-Health Dataset"
**Submitting author:** @frycast (<a href="http://orcid.org/0000-0001-6032-0522">Daniel Fryer</a>)
**Repository:** <a href="github.com/frycast/studentlife" target ="_blank">https://github.com/frycast/studentlife</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewers:** @klmedeiros

**Author instructions**

Thanks for submitting your paper to JOSS @frycast. **Currently, there isn't an JOSS editor a

[2019-07-07 16:52] whedon commented on #1551
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-07 16:52] whedon commented on #1551
[code]

[2019-07-07 16:52] whedon commented on #1551
PDF failed to compile for issue #1551 with the following error:

 Can't find any papers to compile :-(

[2019-07-07 16:53] labarba commented on #1551
👋  @frycast — the GitHub repo URL you provided with the submission is giving a 404. Can you post here the correct URL?

[2019-07-07 16:55] labarba commented on #1551
@arokem — the author requested you as handling editor, but I see that your load is on the high side right now. Are you willing to take another one? I can look for someone else if all your papers are mid-flight. Let me know!

[2019-07-07 16:55] whedon opened #1552 "[PRE REVIEW]: neurone_loader: A Python module for loading EEG data recorded with Bittium NeurOne"
**Submitting author:** @heilerich (<a href="http://orcid.org/0000-0002-9068-2679">Felix Heilmeyer</a>)
**Repository:** <a href="https://github.com/heilerich/neurone_loader" target ="_blank">https://github.com/heilerich/neurone_loader</a>
**Version:** v1.1.0
**Editor:** @brainstorm
**Reviewers:** @rougier, @satra

**Author instructions**

Thanks for submitting your paper to JOSS @heilerich. **Curre

[2019-07-07 16:55] whedon commented on #1552
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-07 16:55] whedon commented on #1552
[code]

[2019-07-07 16:55] whedon commented on #1552
PDF failed to compile for issue #1552 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85

[2019-07-07 16:58] labarba commented on #1552
👋 @heilerich — your paper is not compiling. Please add the required bibliography field, according to the [documentation](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

[2019-07-07 17:11] madvn commented on #1548
👋 Thanks, @labarba I have updated ORCIDs

@whedon generate pdf

[2019-07-07 17:13] swapsha96 commented on #1546
@whedon commands

[2019-07-07 17:13] whedon commented on #1546
Here are some things you can ask me to do:

[code]

[2019-07-07 17:13] swapsha96 commented on #1546
@whedon generate pdf

[2019-07-07 17:13] whedon commented on #1546
[code]

[2019-07-07 17:13] whedon commented on #1546
PDF failed to compile for issue #1546 with the following error:

 Could not find bibliography file: paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-07 17:15] swapsha96 commented on #1546
@whedon generate pdf

[2019-07-07 17:15] whedon commented on #1546
[code]

[2019-07-07 17:15] whedon commented on #1546
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01546/joss.01546/10.21105.joss.01546.pdf)

[2019-07-07 17:17] swapsha96 commented on #1546
Thank you, @labarba! I fixed the errors.

[2019-07-07 17:23] madvn commented on #1548
@whedon generate pdf

[2019-07-07 17:23] whedon commented on #1548
[code]

[2019-07-07 17:23] whedon commented on #1548
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01548/joss.01548/10.21105.joss.01548.pdf)

[2019-07-07 17:52] fauvernierma commented on #1434
Hi,

Things are going in the right direction. A couple of issues were closed this week and some of the main issues are going to be: concerning Automated test (#8), the only question left is how to test the package on windows ; concerning Performance claims (#10), I will send the proofs for my method article this week along with its associated code. The code will be freely available on the JRSSC we

[2019-07-07 17:53] sanskriti-s commented on #1420
@kyleniemeyer : Fixed zenodo metadata

[2019-07-07 17:55] heilerich commented on #1552
my bad 🙏🏻 I added the field.
@whedon generate pdf

[2019-07-07 18:30] soodoku commented on #1508
thanks @MaciejDanko. cool improvements. hope to test it out v. soon and update the checklist!

[2019-07-07 18:31] labarba commented on #1552
@whedon generate pdf

[2019-07-07 18:31] whedon commented on #1552
[code]

[2019-07-07 18:31] whedon commented on #1552
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01552/joss.01552/10.21105.joss.01552.pdf)

[2019-07-07 18:36] TrashBirdEcology commented on #1550
Oh no - so sorry about that!

https://github.com/TrashBirdEcology/bbsAssistant/

________________________________________________________________

Jessica L. Burnett, M.Sc.
Ph.D. Candidate
School of Natural Resources
University of Nebraska-Lincoln
+1.352.792.5425

GitHub <http://github.com/trashbirdecology>
CV/Resume
<https://github.com/TrashBirdEcology/cv/blob/master/burnett_extendedCV.pdf>
Nebra

[2019-07-07 18:48] malmans2 commented on #1506
Thanks @platipodium and @tomchor for the constructive comments! @kthyng, I loved the whole JOSS process. Let me know if you'll need me as reviewer in the future!

[2019-07-07 18:50] labarba commented on #1548
@usethedata — would you be able to handle this submission as editor?

[2019-07-07 18:54] labarba commented on #1548
@madvn — the paper at the moment feels like a "wall of text." Could you make an extra effort to separate the text into sub-sections, and build up to the specialized content a little more gradually? Bear in mind our [documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) says that you should "describing the high-level functionality and purpose of the soft

[2019-07-07 18:58] labarba commented on #1552
@cMadan — Would you add another paper to your editing load? This one seems closest to your areas of domain knowledge.

[2019-07-07 19:00] labarba commented on #1550
@whedon generate pdf

[2019-07-07 19:00] whedon commented on #1550
[code]

[2019-07-07 19:00] whedon commented on #1550
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01550/joss.01550/10.21105.joss.01550.pdf)

[2019-07-07 19:17] kthyng commented on #1506
@malmans2 Definitely will be asking you for reviews! I see you're already on the list. :)

[2019-07-07 19:29] artivis commented on #1371
@whedon generate pdf from branch joss

[2019-07-07 19:29] whedon commented on #1371
[code]

[2019-07-07 19:30] whedon commented on #1371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01371/joss.01371/10.21105.joss.01371.pdf)

[2019-07-07 19:32] labarba commented on #1551
I think this is the correct URL — pls. confirm @ frycast
https://github.com/frycast/studentlife

[2019-07-07 19:45] artivis commented on #1371
@whedon generate pdf from branch joss

[2019-07-07 19:45] whedon commented on #1371
[code]

[2019-07-07 19:46] whedon commented on #1371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01371/joss.01371/10.21105.joss.01371.pdf)

[2019-07-07 19:50] labarba commented on #1552
👋 @brainstorm — Would you be able to edit this submission?

[2019-07-07 19:50] artivis commented on #1371
@whedon generate pdf from branch joss

[2019-07-07 19:50] whedon commented on #1371
[code]

[2019-07-07 19:50] whedon commented on #1371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01371/joss.01371/10.21105.joss.01371.pdf)

[2019-07-07 19:56] artivis commented on #1371
@alex-konovalov @drvinceknight we addressed most @alex-konovalov's comments (https://github.com/artivis/manif/issues/90). Remains only releasing the library which we will do in the upcoming days after a couple small fixes are merged to the main branch. We will then rebase the branch associated to this paper and let you know.

ps: sorry for spamming whedon, I do not know how to compile this paper l

[2019-07-07 20:38] labarba commented on #1550
@whedon assign @kthyng as editor

[2019-07-07 20:38] whedon commented on #1550
OK, the editor is @kthyng

[2019-07-07 20:41] usethedata commented on #1548
@labarba I'm a bit strapped at the moment, with ongoing elder care issues and a major proposal due at the end of July.  If there's anyone else that can do it, that might be better.  Otherwise, I can do it, but I'll be slower in getting to things than I'd prefer.

[2019-07-07 20:45] arokem commented on #1478
@smk508 : I implemented @kyleniemeyer's suggestion here: https://github.com/kellylab/Fireworks/pull/75. If you merge that, we can take a look and see what remains to complete the review of this paper.

[2019-07-07 20:47] arokem commented on #1427
@whedon generate pdf

[2019-07-07 20:47] whedon commented on #1427
[code]

[2019-07-07 20:47] whedon commented on #1427
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01427/joss.01427/10.21105.joss.01427.pdf)

[2019-07-07 20:47] arokem commented on #1427
@whedon check references

[2019-07-07 20:47] whedon commented on #1427
[code]

[2019-07-07 20:48] whedon commented on #1427
[code]

[2019-07-07 20:48] labarba commented on #1548
@poulson — Might you be able to handle this submission? A bit out of your landscape, but no one editor is perfect for this one and you have scads of C++ experience.

[2019-07-07 20:53] arokem commented on #1427
@gvegayon : looks like all is well here. I have one small comment on the manuscript. The word "Gaussian" is derived from a name and should be capitalized (appears twice, as far as I can see).

Once you correct this, could you please create an archive of the software (e.g., using https://zenodo.org) and post the DOI on this thread?

[2019-07-07 20:54] arokem commented on #1551
I can take this on.

[2019-07-07 20:54] arokem commented on #1551
@whedon assign arokem as editor

[2019-07-07 20:54] whedon commented on #1551
OK, the editor is arokem

[2019-07-07 20:57] arokem commented on #1551
@frycast, @labarba : I've edited the message at the top of this page to add the `https://` to the link, so that it resolves properly.

[2019-07-07 21:00] arokem commented on #1551
@frycast, as mentioned by whedon [above ](https://github.com/openjournals/joss-reviews/issues/1551#issuecomment-509014714), the paper, currently under a `JOSS-paper` folder can't be automatically found in this location. Could you please move it to a folder called `paper`?

[2019-07-07 21:03] arokem commented on #1551
:wave: @tgerke : would you be willing to review this paper for JOSS? Your expertise in public health and R would be helpful here.

:wave: @pacoramon : would be willing to review this paper for JOSS? Your expertise in health and medicine, as well as statistical software would be helpful here.

:wave: @borishejblum : would you be willing to review this paper for JOSS? Your expertise in epidemiology

[2019-07-07 21:33] labarba commented on #1551
@whedon generate pdf

[2019-07-07 21:33] whedon commented on #1551
[code]

[2019-07-07 21:33] whedon commented on #1551
PDF failed to compile for issue #1551 with the following error:

 Can't find any papers to compile :-(

[2019-07-07 21:35] labarba commented on #1551
I thought it couldn't be found because the GitHub URL provided was wrong, and once you fixed that URL `whedon` would find it?

[2019-07-07 21:53] brainstorm commented on #1526
@whedon  assign @vsoch as reviewer

[2019-07-07 21:54] brainstorm commented on #1526
@whedon start review

[2019-07-07 21:54] whedon commented on #1526
It looks like you don't have an editor and reviewer assigned yet so I can't start the review. Try one or more of these commands:

[code]

[2019-07-07 21:56] vsoch commented on #1526
Do we have a primary reviewer?

[2019-07-07 21:57] brainstorm commented on #1526
No replies and couldn't get hold of any in private :/

[2019-07-07 22:00] jkanche commented on #1407
@csoneson No, I am good with the current state of the submission. Thank you @IbrahimTanyalcin for your work on this!

[2019-07-07 22:00] brainstorm commented on #1552
@satra, would you help me out reviewing this submission for JOSS? :)

[2019-07-07 22:17] danielskatz commented on #1487
👋 @tesch1, please update us on how things are progressing here.

[2019-07-07 22:39] frycast commented on #1551
@whedon generate pdf

[2019-07-07 22:39] whedon commented on #1551
[code]

[2019-07-07 22:39] whedon commented on #1551
PDF failed to compile for issue #1551 with the following error:

 Can't find any papers to compile :-(

[2019-07-07 22:39] usethedata commented on #1479
👋 @ionlights Thoughts?

[2019-07-07 22:41] poulson commented on #1490
Hi @stuartcampbell, would you mind stepping in as a reviewer on this despite your expertise being in condensed matter physics? Assuming you would feel comfortable?

[2019-07-07 22:43] frycast commented on #1551
@whedon generate pdf

[2019-07-07 22:43] whedon commented on #1551
[code]

[2019-07-07 22:43] whedon commented on #1551
PDF failed to compile for issue #1551 with the following error:

 Can't find any papers to compile :-(

[2019-07-07 22:55] frycast commented on #1551
I tried to generate pdf with paper files in folder 'paper' and then I tried to generate pdf with them in the package root. I've now moved them back into folder 'paper'.

[2019-07-07 22:55] frycast commented on #1551
Yes this is correct

[2019-07-08 00:39] telegraphic commented on #1534
Thanks @garrettj403 for bringing that to my attention!

[2019-07-08 01:32] madvn commented on #1548
Thanks, @labarba. I have reorganized the paper into sections.

[2019-07-08 01:32] madvn commented on #1548
@whedon generate pdf

[2019-07-08 01:32] whedon commented on #1548
[code]

[2019-07-08 01:32] whedon commented on #1548
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01548/joss.01548/10.21105.joss.01548.pdf)

[2019-07-08 02:59] tristan-salles commented on #1530
Thanks, @kbarnhart for the really useful review, I have been updating the code and documentation to account for the comments and improvements that were proposed.

[2019-07-08 06:09] csoneson commented on #1407
@whedon check references

[2019-07-08 06:09] whedon commented on #1407
[code]

[2019-07-08 06:09] whedon commented on #1407
[code]

[2019-07-08 06:10] csoneson commented on #1407
@whedon generate pdf

[2019-07-08 06:10] whedon commented on #1407
[code]

[2019-07-08 06:11] whedon commented on #1407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01407/joss.01407/10.21105.joss.01407.pdf)

[2019-07-08 06:41] haptork commented on #1461
@katyhuff There seems to be no progress on this?

P.S. [here](https://haptork.github.io/csaransh/presentation/index.html) is a talk recently given on one of the analysis that is included in csaransh. The html presentation also uses the react components from csaransh web interface.

[2019-07-08 06:50] csoneson commented on #1407
@IbrahimTanyalcin - we're almost there! I have sent a PR with some small edits to the paper, could you please take a look and merge this if you agree. Also, I noticed that for the Rauscher et al. and Wilm et al. references, the author list in the bibliography does not agree with the one on the journal website - can you fix this?

[2019-07-08 06:59] trallard commented on #1317
HI @CamDavidsonPilon I was wondering if you'd make any progress with the last few tasks for acceptance?

[2019-07-08 07:23] IbrahimTanyalcin commented on #1407
:wave:  @csoneson , thank you! I'll take a look now.

[2019-07-08 07:26] fiveop commented on #1513
* We already publish the documentation on Read the Docs (https://ontocode.readthedocs.io/en/latest/). I will add a link to that.
* I will mention the example more prominently in the README.rst by prefixing "The subdirectory example contains an elaborate example of OnToCode use.
Instructions on how to test the example are given in the example project's
README.rst file." with a subheading "Example"

[2019-07-08 08:17] xuanxu commented on #1534
:wave: @zhampel — would you be willing to contribute a review for JOSS on this submission?

[2019-07-08 08:20] fiveop commented on #1513
See today's (July 8th) commits for my changes: https://gitlab.com/dlr-dw/ontocode/commits/master

[2019-07-08 09:36] paul-buerkner commented on #1541
I have just finished my review and have very few minor comments.

- All the citations in the software paper should list a DOI (if they have one) as per reviewer checklist above.
- The definition of the maximum a-posteriori value as "the most probable value" is not entirely correct for continuous parameters. Instead it is the value with the highest density (which still have probability zero for con

[2019-07-08 09:38] whedon opened #1553 "[PRE REVIEW]: GPU-Accelerated LArge-scale MOlecular Simulation Toolkit"
**Submitting author:** @ (<a href="http://orcid.org/0000-0002-9561-0770">You-Liang Zhu</a>)
**Repository:** <a href="https://bitbucket.org/galamostdevelopergroup/source-code" target ="_blank">https://bitbucket.org/galamostdevelopergroup/source-code</a>
**Version:** v4.0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @. **Currently, th

[2019-07-08 09:38] whedon commented on #1553
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-08 09:38] whedon commented on #1553
[code]

[2019-07-08 09:39] whedon commented on #1553
PDF failed to compile for issue #1553 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1553/galamost-4.0.1/paper/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 5 column 18 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/rub

[2019-07-08 09:39] whedon commented on #1553
Failed to discover a valid open source license.

[2019-07-08 09:45] arfon commented on #1553
We don't have the submitting author's GitHub username yet (I've sent them an email to ask for it) but when they do get here there are a few issues.

**The paper YAML header is malformed**

Please update the paper to match the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) and note that YAML is whitespace sensitive.

[code]

**The paper format*

[2019-07-08 09:47] arfon commented on #1552
Thanks @brainstorm. Just a reminder that we've moved to having a minimum of two reviewers these days incase you were planning on proceeding with just the one 😸

[2019-07-08 10:28] wojciech-n commented on #1327
@labarba,

Excuse me, this is my fault: I did not push the tag to Bitbucket. Now it seems to be OK: https://bitbucket.org/basicsums/basicsums/downloads/?tab=tags

[2019-07-08 11:18] labarba commented on #1327
@whedon set v1.0.2 as version

[2019-07-08 11:18] whedon commented on #1327
OK. v1.0.2 is the version.

[2019-07-08 11:19] labarba commented on #1327
@whedon accept

[2019-07-08 11:19] whedon commented on #1327
[code]

[2019-07-08 11:20] whedon commented on #1327
[code]

[2019-07-08 11:20] whedon commented on #1327
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/824

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/824, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-08 11:21] labarba commented on #1327
@whedon accept deposit=true

[2019-07-08 11:21] whedon commented on #1327
[code]

[2019-07-08 11:22] whedon commented on #1327
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1148190615701741569) 👈 🐦🐦🐦

[2019-07-08 11:22] whedon commented on #1327
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/825
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01327](https://doi.org/10.21105/joss.01327)
2. If everything looks go

[2019-07-08 11:23] labarba commented on #1327
Congratulations, @wojciech-n, your JOSS paper is published! 🚀

Huge thanks to the reviewers: @lucydot, @mkhorton — your contributions to JOSS are what keeps this adventure going! 🙏

[2019-07-08 11:23] #1327 closed

[2019-07-08 11:23] whedon commented on #1327
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01327/status.svg)](https://doi.org/10.21105/joss.01327)

**We need your help!**

Journal of Open Source Softwar

[2019-07-08 12:00] stulacy commented on #1545
Can you please add the DOI for Haldane (1924)?

[2019-07-08 12:19] xin-huang commented on #1545
Hi @stulacy
Yes, I have added the doi for this reprint https://link.springer.com/article/10.1007/BF02459574

[2019-07-08 13:25] cMadan commented on #1541
Thank you for the thorough review, @paul-buerkner!

[2019-07-08 13:41] lpantano commented on #1545
Hi @suresh-lab,  for sure you can provide comments. if it will be a long thread you can create an issue in the repository and mention this one.  I think is better to write the comments on the issue so they are more accessible.  Let me know if that would work. Thanks!

[2019-07-08 13:43] lpantano commented on #1520
Hi @adriancbondia  and @arunhpatil , I think you finished the review but can you confirm here to make it clear? thanks!

[2019-07-08 13:49] lpantano commented on #1547
Hi, sure.

[2019-07-08 13:49] lpantano commented on #1547
@whedon assign @lpantano as editor

[2019-07-08 13:49] whedon commented on #1547
OK, the editor is @lpantano

[2019-07-08 14:25] omoliavko commented on #1494
Dear @federeghe, @gradvohl, @gkthiruvathukal, @tdrozdovsky, we have fixed the issues with mTower, except test suite - writing a comprehensive test suite would be very time-consuming due to hardware limitations (it would have to consist of some sort of external shell that would flash, run and verify tests for individual functions). Most of functionality can be checked by example applications alread

[2019-07-08 14:53] gkthiruvathukal commented on #1494
@omoliavko Thanks for the follow up. I think I am comfortable with your suggestion. To be clear, however, are there actual tests present? I don't see any reason why there cannot be some tests, even if the tests need to run on specific hardware. As long as this is documented, I think it is ok to say that the tests need the specific hardware platform in order to run (at this stage of development). T

[2019-07-08 14:57] kthyng commented on #1530
thanks @kbarnhart!

@hugoledoux Just a friendly reminder about your JOSS review.

[2019-07-08 15:02] kthyng commented on #1550
hi @TrashBirdEcology! I'll be your editor. I have a few comments and questions to start.

Please look through your paper and edit it so that your links look correct. I suspect you have a space between the [] and the () so they aren't rendering correctly.

Also please look through your readme — your "manual" link doesn't work, I think there is an image that isn't coming through ("coverage status")

[2019-07-08 15:03] omoliavko commented on #1494
@gkthiruvathukal Ok, we will try to prepare a test sequence showing the API operation under standard scenarios and a documentation that describes this test sequence. If we can do anything else to improve the mTower and the article, please let us know.

[2019-07-08 15:14] CamDavidsonPilon commented on #1317
hi @trallard, I have addressed the missing DOI. Anything else? Is there a list I missed?

[2019-07-08 15:51] tyarkoni commented on #1294
Sorry, yes!

[2019-07-08 16:03] hneutr commented on #1458
@cMadan:

I've added the netwulf DOI to the `paper.bib` file. I've also tagged the most recent release on GitHub, and will continue to tag commits that are pushed to PyPi.

Let me know if there is anything else that needs to be done!

[2019-07-08 16:18] smk508 commented on #1478
Hi @arokem ,

Sorry I was on vacation for the weekend so I didn't see this. I've merged the PR.

[2019-07-08 16:18] smk508 commented on #1478
@whedon generate pdf

[2019-07-08 16:18] whedon commented on #1478
[code]

[2019-07-08 16:18] whedon commented on #1478
PDF failed to compile for issue #1478 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Saad Khan, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/author.rb:57:in `each'
	fr

[2019-07-08 16:29] TrashBirdEcology commented on #1550
@kthyng Thank you for this quick feedback.

I have addressed the issues you mentioned in man and readme.

I recommend @ethanwhite and @jhollist as potential reviewers.
Please note that I have a mild conflict of interest with potential reviewer @ha0ye

Thanks!

[2019-07-08 16:33] TrashBirdEcology commented on #1550
@whedon generate pdf

[2019-07-08 16:33] whedon commented on #1550
[code]

[2019-07-08 16:34] whedon commented on #1550
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01550/joss.01550/10.21105.joss.01550.pdf)

[2019-07-08 16:36] kyleniemeyer commented on #1478
Ah, it looks like the `affiliations` block is not right. Can you change
[code]
to
[code]

[2019-07-08 16:41] IbrahimTanyalcin commented on #1407
:wave: @csoneson I rewrote the author fields, I've no idea why they were wrong in the first place. Thank you for pointing in out. I also merged your PR.
Thank you.

[2019-07-08 17:34] csoneson commented on #1407
@whedon check references

[2019-07-08 17:34] whedon commented on #1407
[code]

[2019-07-08 17:35] whedon commented on #1407
[code]

[2019-07-08 17:35] csoneson commented on #1407
@whedon generate pdf

[2019-07-08 17:35] whedon commented on #1407
[code]

[2019-07-08 17:36] whedon commented on #1407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01407/joss.01407/10.21105.joss.01407.pdf)

[2019-07-08 17:41] csoneson commented on #1407
@IbrahimTanyalcin - great! I think this looks good. To finalize, could you create a Zenodo archive and post the resulting DOI here? Please make sure that the authors and title are exactly the same for the Zenodo archive and the manuscript, and that the version is consistent everywhere.

[2019-07-08 17:42] mbobra commented on #1546
Sure @labarba, I'm happy to edit!

[2019-07-08 18:06] lheagy commented on #1328
Thanks @zhangning737. @srmnitc, would you be willing to take a look at the updates?

[2019-07-08 18:06] IbrahimTanyalcin commented on #1407
@csoneson , before I even submitted for JOSS, I went ahead and created one:
https://zenodo.org/record/3272107#.XSOFeOszapo

I just released a new release now (ARIES), so the badge does not work yet, I guess it will work in a couple of hours. But it seems like it has tracked all the versions correctly. Is that ok?

[2019-07-08 18:08] lheagy commented on #1544
Thanks for your review @jessepisel! I see pr brmather/pycurious#12 is active and am linking it here so we can keep track of the progress

[2019-07-08 18:09] csoneson commented on #1407
Yes, the DOI of the latest release should be fine. However, the title and author list of the Zenodo archive must be the same as in your paper.

[2019-07-08 18:26] kthyng commented on #1550
@TrashBirdEcology Great!

I see that @jhollist has recently done a review for us, so I will try to find someone else.

@ethanwhite and @r-barnes are you interested and available to do a review on this JOSS submission? We ask for reviews within about 3 weeks, and you can get more information [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2019-07-08 18:43] labarba commented on #1546
@whedon assign @mbobra as editor

[2019-07-08 18:44] whedon commented on #1546
OK, the editor is @mbobra

[2019-07-08 19:00] swapsha96 commented on #1546
Thanks for reviewing, @mbobra!

[2019-07-08 19:05] IbrahimTanyalcin commented on #1407
@csoneson ok, I added [.zenodo.json](https://github.com/IbrahimTanyalcin/lexicon-mono-seq/blob/master/.zenodo.json), hopefully the webhook will work and it'll be picked up.

[2019-07-08 19:14] rouson commented on #1549
@labarba Yes, I'll be glad to review this.  Please point me to the reviewer instructions.

[2019-07-08 19:16] labarba commented on #1549
Thank you, @rouson!! You can find the [Reviewer Guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) on our dedicated documentation site.

Do you know anyone who could be a good second reviewer?

[2019-07-08 19:28] rouson commented on #1549
I recommend Hari Radhakrishnan (GitHub user name @hariradh) and/or Izaak Beekman (GitHub user name @zbeekman).  Do they need to be added as collaborators on this repository or something for tagging them with "@username" to work?

[2019-07-08 20:07] labarba commented on #1549
👋  @hariradh, @zbeekman — Would either of you be willing to provide a review for a submission to the Journal of Open Source Software?
*FEST-3D: Finite-volume Explicit STructured 3-Dimensional solver*
software: https://github.com/FEST3D/FEST-3D
paper tmp link: https://github.com/openjournals/joss-papers/blob/joss.01549/joss.01549/10.21105.joss.01549.pdf

[Reviewer Guidelines](https://joss.readthedo

[2019-07-08 20:10] srmnitc commented on #1328
@lheagy just finished looking at it. Most issues are now fixed - installation and tests work perfectly except for some minor changes which I have kept open as an issue. The DOIs on the paper are incomplete, so I have kept the issue open.

[2019-07-08 20:11] srmnitc commented on #1328
@lheagy @zhangning737 I still think a better documentation is required - the existing one is complete, but inaccessible from a non specialist perspective. A detailed documentation with example usage would be a recommendation for the future.

[2019-07-08 20:12] srmnitc commented on #1328
@lheagy @zhangning737 There are only two issues holding back my review - 1) the DOIs of references are not complete 2) There is no release version of github

[2019-07-08 20:53] ionlights commented on #1479
@usethedata i think i can give this a review. it's my first review with JOSS. 😅i've given the following a look-over, as that all i need to know – aside from domain-specific knowledge?
- https://joss.readthedocs.io/en/latest/
- https://joss.readthedocs.io/en/latest/review_criteria.html
- https://joss.readthedocs.io/en/latest/review_checklist.html

i'll most likely be able to give this a look during

[2019-07-08 21:07] gvegayon commented on #1427
Done! Here is the DOI 10.5281/zenodo.3272759 Thanks!

[2019-07-08 21:17] gvegayon commented on #1493
Hey @labarba , the DOI is 10.5281/zenodo.3272773 Thanks!

[2019-07-08 21:20] labarba commented on #1493
Please report the version number here, so we can updated the metadata.

[2019-07-08 21:21] labarba commented on #1493
And the DOI unfortunately does not resolve http://doi.org/10.5281/zenodo.3272773

[2019-07-08 21:23] labarba commented on #1493
I found the tag of the version https://github.com/USCbiostats/sluRm/releases

[2019-07-08 21:23] labarba commented on #1493
@whedon set v0.2-0 as version

[2019-07-08 21:23] whedon commented on #1493
OK. v0.2-0 is the version.

[2019-07-08 21:32] jessepisel commented on #1544
@lheagy perfect, thank you for linking it!

[2019-07-08 21:37] gvegayon commented on #1493
Now it does :)

[2019-07-08 21:37] gvegayon commented on #1427
And the new version is 0.2-0

[2019-07-08 21:40] labarba commented on #1493
Please check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on it); you may also add the authors' ORCID.

[2019-07-08 21:47] arokem commented on #1427
@whedon set 10.5281/zenodo.3272759 as archive

[2019-07-08 21:47] whedon commented on #1427
OK. <a href="https://doi.org/10.5281/zenodo.3272759" target="_blank">10.5281/zenodo.3272759</a> is the archive.

[2019-07-08 21:48] arokem commented on #1427
@whedon set 0.2-0 as version

[2019-07-08 21:48] whedon commented on #1427
OK. 0.2-0 is the version.

[2019-07-08 21:48] arokem commented on #1427
@openjournals/joss-eics : I believe this one is ready to 🚢

[2019-07-08 21:54] gvegayon commented on #1493
Just did: Authors (with ORCID), title and description (as provided in the R package). Question: On the **upload type** field, should I check **Publication** or **Software**?

[2019-07-08 21:57] labarba commented on #1493
Software. The Zenodo deposit is an archive of the software.

[2019-07-08 21:59] labarba commented on #1493
@whedon set 10.5281/zenodo.3272773 as archive

[2019-07-08 21:59] whedon commented on #1493
OK. <a href="https://doi.org/10.5281/zenodo.3272773" target="_blank">10.5281/zenodo.3272773</a> is the archive.

[2019-07-08 22:00] labarba commented on #1493
@whedon accept

[2019-07-08 22:00] whedon commented on #1493
[code]

[2019-07-08 22:01] whedon commented on #1493
[code]

[2019-07-08 22:01] whedon commented on #1493
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/826

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/826, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-08 22:04] labarba commented on #1493
@whedon accept deposit=true

[2019-07-08 22:04] whedon commented on #1493
[code]

[2019-07-08 22:04] whedon commented on #1493
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1148352222293626880) 👈 🐦🐦🐦

[2019-07-08 22:04] whedon commented on #1493
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/827
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01493](https://doi.org/10.21105/joss.01493)
2. If everything looks go

[2019-07-08 22:05] labarba commented on #1493
Congratulations, @gvegayon, your JOSS paper is published! 🚀

Big thanks to our editor: @karthik, and reviewers: @mschubert, @mllg —JOSS runs on your contribution 🙏

[2019-07-08 22:05] #1493 closed

[2019-07-08 22:05] whedon commented on #1493
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01493/status.svg)](https://doi.org/10.21105/joss.01493)

**We need your help!**

Journal of Open Source Softwar

[2019-07-08 22:08] gvegayon commented on #1493
Great! Thanks :)! one small problem! my last name is "Vega Yon", not "Yon" (see [here](https://github.com/openjournals/joss-reviews/issues/1493#issuecomment-505993965))

[2019-07-08 22:09] gvegayon commented on #1427
Just in case, I do have an issue with my last name, I have two of them! "Vega Yon" and not "Yon" only (see [this issue](https://github.com/openjournals/joss-reviews/issues/1493#issuecomment-505993965_))

[2019-07-08 22:11] labarba commented on #1493
Ping @arfon for this ☝️

[2019-07-08 22:16] akelbert commented on #1463
Your basic example worked for me after I reinstalled Anaconda like you suggested. The Binder also worked. I'm leaving for a conference in the morning and have a bunch of other things to work through, but at least I'm now equipped with the tools to run the code and play with the settings. Will do so in between everything else that I'm playing with this week (giving a talk, chairing a session, etc).

[2019-07-08 22:20] arokem commented on #1427
Oh - sorry about that! Maybe this https://github.com/USCbiostats/fmcmc/pull/10 will help?

[2019-07-08 22:20] arfon commented on #1493
This should be fixed now. The PDF on the JOSS site can take a while to refresh as it's cached.

[2019-07-08 22:33] kyleniemeyer commented on #1543
Hi @katyhuff, I just noticed that @jcsutherland  doesn't have a checklist and isn't listed as a reviewer above—I think that's because you had used the `@whedon assign ... as reviewer` rather than `add` for @fcontino. I think it's possible to add him manually at this point, not sure about adding via whedon.

[2019-07-08 22:41] gvegayon commented on #1427
I don't think it works. See [here](https://github.com/openjournals/joss-reviews/issues/1493#issuecomment-506021250).

[2019-07-08 22:42] kyleniemeyer commented on #1427
I think @arfon needs to do this manually, unfortunately.

[2019-07-08 22:51] mbobra commented on #1538
Thanks for your help @mmhs013. I will find a second reviewer this week.

[2019-07-08 22:59] usethedata commented on #1479
@ionlights Thanks much.  I am looking for a second reviewer (and have a couple of options).  If I can get one in the next couple of days, I'll open up the review issue then.  If I'm still looking by Wednesday evening, I'll open the review issue with just one reviewer and add the second one manually.  When I open the review issue, you'll see a checklist there for you, and that's where there would b

[2019-07-08 22:59] usethedata commented on #1479
@whedon set @ionlights as reviewer

[2019-07-08 23:01] usethedata commented on #1479
@whedon assign @ionlights as reviewer

[2019-07-08 23:01] whedon commented on #1479
OK, the reviewer is @ionlights

[2019-07-08 23:24] usethedata commented on #1513
👋 @nicholascar Have you had a chance to look at this paper for a JOSS review?

[2019-07-08 23:24] brainstorm commented on #1552
Argh, true, forgot about that... perhaps @chrisgorgo can be our second reviewer for JOSS? 👋

[2019-07-09 00:24] satra commented on #1552
@brainstorm - happy to do a review.

[2019-07-09 00:34] zhampel commented on #1534
@xuanxu Yes I can provide a review for this submission.

[2019-07-09 01:02] brmather commented on #1544
Thanks for your review @jessepisel - I have merged your pull request into the master branch and addressed your comments in brmather/pycurious#12. If you notice anything else that requires attention, please feel free to open an issue ticket.

[2019-07-09 01:27] jimmccusker commented on #1513
The README.rst does not render properly. There are differences between ReStructuredText (RST), Markdown, and other formats. Make sure you're creating the right one.

Additionally, make sure you have hyperlinks (not just instructions for visiting the examples readme) to the example and to the readthedocs.io page. I don't see anything in about readthedocs yet in the main readme.

[2019-07-09 01:31] brainstorm commented on #1552
@whedon assign @satra as reviewer

[2019-07-09 01:31] brainstorm commented on #1552
Thanks Satra! :)

[2019-07-09 01:47] labarba commented on #1552
@whedon assign @brainstorm as editor

[2019-07-09 01:47] whedon commented on #1552
OK, the editor is @brainstorm

[2019-07-09 03:17] katyhuff commented on #1543
Good catch. Fixing now.

[2019-07-09 03:22] katyhuff commented on #1543
@jcsutherland & @fcontino please see the issue description for guidance regarding the review process and for checklists associated with each of your reviews. Thank you!

[2019-07-09 03:47] kbarnhart commented on #1530
@tristan-salles glad the review was helpful.

@kthyng I've completed my review and am happy to indicate that I think the contribution should be published in JOSS. I have left only one checkbox un-checked (related to versioning). As @tristan-salles indicated in [bioLEC Issue 1](https://github.com/Geodels/bioLEC/issues/1) the version will be tagged at the end of the JOSS review process.

[2019-07-09 04:04] tristan-salles commented on #1530
Thanks again @kbarnhart !

[2019-07-09 05:13] adriancbondia commented on #1520
Sorry for the delay, yes, I can confirm it

El lun., 8 jul. 2019 15:43, Lorena Pantano <notifications@github.com>
escribió:

[2019-07-09 05:34] zhuyouliang commented on #1553
Many thanks. I have updated files again including the paper and license file.

[2019-07-09 05:43] csoneson commented on #1407
@IbrahimTanyalcin Just checked, and the Zenodo record still looks the same to me.

[2019-07-09 06:05] prisae commented on #1463
That is great to hear @akelbert ! I would highly appreciate if you can squeeze in your review this week besides your busy schedule. But either way, just let me know if there are any further issues and I'll try to help.

[2019-07-09 07:21] xuanxu commented on #1534
Great, thanks @zhampel
I'm going to move this forward to review

[2019-07-09 07:22] xuanxu commented on #1534
@whedon add @zhampel as reviewer

[2019-07-09 07:22] whedon commented on #1534
OK, @zhampel is now a reviewer

[2019-07-09 07:22] xuanxu commented on #1534
@whedon start review

[2019-07-09 07:22] whedon opened #1554 "[REVIEW]: Blimpy: Breakthrough Listen I/O Methods for Python"
**Submitting author:** @telegraphic (<a href="http://orcid.org/0000-0003-2783-1608">Danny Price</a>)
**Repository:** <a href="https://github.com/UCBerkeleySETI/blimpy" target ="_blank">https://github.com/UCBerkeleySETI/blimpy</a>
**Version:** 1.4.1
**Editor:** @xuanxu
**Reviewer:** @garrettj403, @zhampel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3472084" target="_blank">10.5281/zenodo.3

[2019-07-09 07:22] whedon commented on #1534
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1554. Feel free to close this issue now!

[2019-07-09 07:22] whedon commented on #1554
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @garrettj403, @zhampel it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-07-09 07:22] whedon commented on #1554
[code]

[2019-07-09 07:22] whedon commented on #1554
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01554/joss.01554/10.21105.joss.01554.pdf)

[2019-07-09 07:24] xuanxu commented on #1534
@garrettj403, @zhampel - please head over to #1554 where the review will take place.

[2019-07-09 07:24] #1534 closed

[2019-07-09 07:57] hariradh commented on #1549
Dear Lorena,

I am willing to review the submission. Please send me any additional information needed for the review.

Regards,
Hari

Sent from my iPhone

[2019-07-09 08:55] zhangning737 commented on #1328
@srmnitc Thanks for your advice, the documentation will be improved with more detailed information. @lheagy @srmnitc The DOIs have been added, and removed the debug option and added a tag for release...

[2019-07-09 11:39] arfon commented on #1427
Done.

@fabian-s - many thanks for your review here and to @arokem for editing this submission ✨

@gvegayon - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-07-09 11:39] #1427 closed

[2019-07-09 11:39] whedon commented on #1427
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01427/status.svg)](https://doi.org/10.21105/joss.01427)

**We need your help!**

Journal of Open Source Softwar

[2019-07-09 11:41] arfon commented on #1553
@whedon generate pdf

[2019-07-09 11:41] whedon commented on #1553
[code]

[2019-07-09 11:42] whedon commented on #1553
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01553/joss.01553/10.21105.joss.01553.pdf)

[2019-07-09 11:43] arfon commented on #1553
Hi @zhuyouliang - this paper could still do with some work. It currently reads mostly as a list of functionalities. Please review our guidelines on [what your paper should contain](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)

[2019-07-09 11:44] arfon commented on #1553
@kyleniemeyer - would you be willing to edit this submission for JOSS?

[2019-07-09 12:02] arunhpatil commented on #1520
Yes. The review is complete. The application CGIMP has an interactive browser with lot of features for users to explore, however as mentioned in the documentation, the first few attempts load slowly due to indexing which upon subsequent usage loads faster. This is a minor issue and can be further improvised. I confirm.

[2019-07-09 12:06] labarba commented on #1549
That's great @hariradh — Thank you. I will add you and start the review now. This will open a new GitHub issue, with a review checklist for you. JOSS reviews happen in the open, with reviewer comments posted on the review issue, and you can also open issues on the software repository. I'm here to answer any questions!

[2019-07-09 12:06] labarba commented on #1549
@whedon add @hariradh as reviewer

[2019-07-09 12:06] whedon commented on #1549
OK, @hariradh is now a reviewer

[2019-07-09 12:06] labarba commented on #1549
@whedon start review

[2019-07-09 12:06] whedon opened #1555 "[REVIEW]: FEST-3D: Finite-volume Explicit STructured 3-Dimensional solver"
**Submitting author:** @jayten (<a href="http://orcid.org/0000-0002-1546-3855">Jatinder Pal Singh Sandhu</a>)
**Repository:** <a href="https://github.com/FEST3D/FEST-3D" target ="_blank">https://github.com/FEST3D/FEST-3D</a>
**Version:** v1.1
**Editor:** @labarba
**Reviewers:** @hariradh, @rouson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3660408" target="_blank">10.5281/zenodo.3660408</

[2019-07-09 12:06] whedon commented on #1549
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1555. Feel free to close this issue now!

[2019-07-09 12:06] whedon commented on #1555
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hariradh it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-07-09 12:06] whedon commented on #1555
[code]

[2019-07-09 12:06] whedon commented on #1555
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01555/joss.01555/10.21105.joss.01555.pdf)

[2019-07-09 12:07] #1549 closed

[2019-07-09 12:08] labarba commented on #1555
@whedon add @rouson as reviewer

[2019-07-09 12:08] whedon commented on #1555
OK, @rouson is now a reviewer

[2019-07-09 12:14] labarba commented on #1555
👋 @hariradh, @rouson — This is where the action happens. You each have a review checklist above to work through. As you do, feel free to post your reviewer comments to the author in this thread. You may also open issues in the software repository as needed, and post a link here. Ask me anything!

[Reviewer Guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) on our dedicated

[2019-07-09 13:06] lpantano commented on #1520
Hi @adadiehl , can you create a Zenodo archive where the title and authors match the paper version and give me back the doi link?

[2019-07-09 13:07] lpantano commented on #1547
Hi @mikkonie , can you add as well a link with the documentation. I don't know if the idea is to be compatible with readthedocs or similar, but to have formatted documentation is important. Thanks!

[2019-07-09 13:34] IbrahimTanyalcin commented on #1407
:wave:  @csoneson the webhooks for zenodo works in a weird unpredictable way. I waited about half a day for things to be refreshed however I realized that won't happen.
So I went ahead and registered a new DOI manually. Is it better now?

[2019-07-09 13:53] csoneson commented on #1407
Ok, great. Yes, 10.5281/zenodo.3273310 looks fine.

[2019-07-09 13:53] csoneson commented on #1407
@whedon set 10.5281/zenodo.3273310 as archive

[2019-07-09 13:53] whedon commented on #1407
OK. <a href="https://doi.org/10.5281/zenodo.3273310" target="_blank">10.5281/zenodo.3273310</a> is the archive.

[2019-07-09 13:54] csoneson commented on #1407
@whedon set v0.19.0 as version

[2019-07-09 13:54] whedon commented on #1407
OK. v0.19.0 is the version.

[2019-07-09 13:55] csoneson commented on #1407
Ok @IbrahimTanyalcin - I'll send this off to the editor-in-chief on duty for the formal acceptance!

[2019-07-09 13:55] csoneson commented on #1407
@openjournals/joss-eics - we're ready to accept this paper!

[2019-07-09 15:20] zhuyouliang commented on #1553
The paper is revised according to your suggestion.  Many thanks!

Best Regards,
Youliang

zhuyouliang12345@163.com

From: Arfon Smith
Date: 2019-07-09 19:44
To: openjournals/joss-reviews
CC: zhuyouliang; Mention
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: GPU-Accelerated LArge-scale MOlecular Simulation Toolkit (#1553)
@kyleniemeyer - would you be willing to edit this submission for JOS

[2019-07-09 15:33] adadiehl commented on #1520
Done!

https://doi.org/10.5281/zenodo.3276069

On Tue, Jul 9, 2019 at 9:06 AM Lorena Pantano <notifications@github.com>
wrote:

[2019-07-09 15:34] poulson commented on #1548
Hi @labarba, I think I could handle this submission.

[2019-07-09 15:36] labarba commented on #1548
@whedon assign @poulson as editor

[2019-07-09 15:36] whedon commented on #1548
OK, the editor is @poulson

[2019-07-09 15:36] lpantano commented on #1520
@whedon set 10.5281/zenodo.3276069 as archive

[2019-07-09 15:37] whedon commented on #1520
OK. <a href="https://doi.org/10.5281/zenodo.3276069" target="_blank">10.5281/zenodo.3276069</a> is the archive.

[2019-07-09 15:43] lpantano commented on #1520
Thanks, can you make sure the title is the same? I don't know if you would need a new doi link then, but let me know. Cheers

[2019-07-09 16:14] smk508 commented on #1478
Ok let's see if that worked. @whedon generate pdf

[2019-07-09 16:14] smk508 commented on #1478
@whedon generate pdf

[2019-07-09 16:14] whedon commented on #1478
[code]

[2019-07-09 16:15] whedon commented on #1478
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01478/joss.01478/10.21105.joss.01478.pdf)

[2019-07-09 16:15] smk508 commented on #1478
ok it builds now

[2019-07-09 16:25] adadiehl commented on #1520
I will make the fix. Just to clarify, you want the title on the archive to
match the manuscript title?

On Tue, Jul 9, 2019 at 11:43 AM Lorena Pantano <notifications@github.com>
wrote:

[2019-07-09 16:26] lpantano commented on #1520
Yes, that is. thanks!

[2019-07-09 16:28] adadiehl commented on #1520
Done. Looks like the DOI did not change.

On Tue, Jul 9, 2019 at 12:26 PM Lorena Pantano <notifications@github.com>
wrote:

[2019-07-09 16:29] lpantano commented on #1520
@openjournals/joss-eics, I think we are all set, please take a look. Thanks!

[2019-07-09 16:30] snastase commented on #1295
@jdkent sorry, I'm trying to get to this! Very backed up right now. Hopefully by this weekend.

[2019-07-09 16:41] kyleniemeyer commented on #1553
@arfon ok, will take this.

[2019-07-09 16:41] kyleniemeyer commented on #1553
@whedon assign @kyleniemeyer as editor

[2019-07-09 16:41] whedon commented on #1553
OK, the editor is @kyleniemeyer

[2019-07-09 20:46] jsgalan commented on #980
Hi all

I just did a fresh install of the package and got it installed perfectly

<img width="733" alt="Screen Shot 2019-07-09 at 3 10 54 PM" src="https://user-images.githubusercontent.com/971958/60921058-3ec1ec80-a25f-11e9-94f7-48dac9113c85.png">

Also tried some of the examples without no issues

<img width="1392" alt="Screen Shot 2019-07-09 at 3 37 10 PM" src="https://user-images.githubusercont

[2019-07-09 22:10] kellyrowland commented on #1486
@ryanstwrt I don't see the MCNP DOI in the latest article proof - it looks like the `.bib` file was updated with the DOI but the `.md` file still has the previous reference.

[2019-07-09 22:13] kellyrowland commented on #1486
The report by Lum et al. has a DOI at https://doi.org/10.2172/1415120 which should be included as well.

[2019-07-09 22:46] arfon commented on #980
:zap: thanks @jsgalan!

@olivertomic - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS

[2019-07-09 23:26] mbobra commented on #1546
No worries @swapsha96! I'm editing the submission and I'm working on finding two volunteers to review. Give me a little time -- I hope to have the review underway by the end of this week.

[2019-07-10 00:58] wtgee commented on #1546
Hi, I was contacted by @mbobra for review. Happy to help out.

[2019-07-10 06:16] swapsha96 commented on #1546
@whedon generate pdf

[2019-07-10 06:16] whedon commented on #1546
[code]

[2019-07-10 06:17] whedon commented on #1546
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01546/joss.01546/10.21105.joss.01546.pdf)

[2019-07-10 07:57] xuanxu commented on #1501
Hey @deniederhut, do you have an estimation on when will you be available for the review? If so I can set a reminder via whedon.

[2019-07-10 08:10] fiveop commented on #1513
* The README.rst should again render properly.
* There already was a link to the documentation (second paragraph under guidepost), it should be better visible now that the README.rst is rendered properly again.
* I added a link to example/README.rst

[2019-07-10 09:02] srmnitc commented on #1328
@lheagy @zhangning737  I think all the points in the checklist are okay now. So, I have finished my review. Thanks for all the quick updates  @zhangning737!

[2019-07-10 12:50] arfon commented on #1407
@whedon accept

[2019-07-10 12:50] whedon commented on #1407
[code]

[2019-07-10 12:50] whedon commented on #1407
[code]

[2019-07-10 12:51] whedon commented on #1407
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/828

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/828, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-10 12:54] arfon commented on #1407
@whedon accept deposit=true

[2019-07-10 12:54] whedon commented on #1407
[code]

[2019-07-10 12:54] whedon commented on #1407
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1148938663012835329) 👈 🐦🐦🐦

[2019-07-10 12:54] whedon commented on #1407
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/829
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01407](https://doi.org/10.21105/joss.01407)
2. If everything looks go

[2019-07-10 12:55] arfon commented on #1520
@whedon accept

[2019-07-10 12:55] whedon commented on #1520
[code]

[2019-07-10 12:55] whedon commented on #1520
[code]

[2019-07-10 12:56] whedon commented on #1520
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/830

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/830, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-10 12:56] arfon commented on #1407
@hrhotz, @jkanche, @imallona - many thanks for your reviews and to @csoneson for editing this submission ✨

@IbrahimTanyalcin - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-07-10 12:56] #1407 closed

[2019-07-10 12:56] whedon commented on #1407
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01407/status.svg)](https://doi.org/10.21105/joss.01407)

**We need your help!**

Journal of Open Source Softwar

[2019-07-10 12:57] arfon commented on #1520
@whedon accept deposit=true

[2019-07-10 12:57] whedon commented on #1520
[code]

[2019-07-10 12:57] whedon commented on #1520
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1148939353374244864) 👈 🐦🐦🐦

[2019-07-10 12:57] whedon commented on #1520
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/831
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01520](https://doi.org/10.21105/joss.01520)
2. If everything looks go

[2019-07-10 12:59] arfon commented on #1520
@adriancbondia, @arunhpatil - many thanks for your reviews and to @lpantano for editing this submission ✨

@adadiehl - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-07-10 12:59] #1520 closed

[2019-07-10 12:59] whedon commented on #1520
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01520/status.svg)](https://doi.org/10.21105/joss.01520)

**We need your help!**

Journal of Open Source Softwar

[2019-07-10 13:13] benmaier commented on #1425
Any updates? Since @ulfaslak and I are both graduating soon, it would be nice to include this project in the list of published papers :)

[2019-07-10 13:38] xin-huang commented on #1545
Hi @suresh-lab
I have revised the community guidelines in README:

"If you are interested in contributing to SeleDiff, please feel free to clone and modify it. You should include unit tests for your modified codes. Besides, you can edit build.gradle to include new dependencies. After your modification, please send a GitHub Pull Request with a clear list of what you've done."

Please let me know wh

[2019-07-10 13:50] santisoler commented on #1544
Hi @brmather! Sorry for the delay. I'll start opening some issues on `pycurious`' repository. We can discuss them over there.

[2019-07-10 14:08] deniederhut commented on #1501
Oh how thoughtful! Yeah, I should have time next week.

On Wed, Jul 10, 2019, 02:57 Juanjo Bazán <notifications@github.com> wrote:

[2019-07-10 14:22] adadiehl commented on #1520
Outstanding! Many thanks to all of you for your help with this process!

On Wed, Jul 10, 2019 at 8:59 AM whedon <notifications@github.com> wrote:

[2019-07-10 14:37] abhishektha commented on #1466
@labarba Is there anything specific that I need to do for us to proceed with the review? I believe I addressed all the reviewer's comments (please let me know if I didn't). I am a bit confused from the reviews if I need to improve the documentation to meet the JOSS standards (since @melund mentioned it was non-blocking), so please let me know what is needed from me.

[2019-07-10 14:38] jimmccusker commented on #1513
Then I'm happy with the state of the submission, and it meets all the requirements for JOSS acceptance, in my mind.

[2019-07-10 15:59] suresh-lab commented on #1545
thank you, that's perfect.

[2019-07-10 16:21] lheagy commented on #1328
Excellent, many thanks for your review @srmnitc!

[2019-07-10 16:22] lheagy commented on #1328
@whedon generate pdf

[2019-07-10 16:22] whedon commented on #1328
[code]

[2019-07-10 16:22] whedon commented on #1328
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01328/joss.01328/10.21105.joss.01328.pdf)

[2019-07-10 16:39] lheagy commented on #1328
@whedon check references

[2019-07-10 16:39] whedon commented on #1328
[code]

[2019-07-10 16:40] whedon commented on #1328
[code]

[2019-07-10 16:41] lheagy commented on #1328
👋 Hi @zhangning737, I started pr zhangning737/rdbsp#6 with a few minor grammatical updates to the paper. Please take a look when you have a chance.

[2019-07-10 17:30] santisoler commented on #1544
@brmather I think `pycurious` it's a great asset for geoscientists. Curie Point Depth is a widely used tool, but there aren't well maintained and documented open source libraries to calculate it. I'm glad to review it.

I've opened some issues, although I haven't found big problems with `pycurious`. I need to finish reviewing it, but feel free to answer them and even open PRs while I'm still doing

[2019-07-10 17:49] fsobral commented on #1385
Dear @kyleniemeyer , we forgot to mention the funding agency of our project in the paper. This is very important for us, since we might have to refund them or even be unable to apply again for funding. Is it possible to add such information and edit the paper? I'm really sorry for this trouble.

[2019-07-10 17:50] mbobra commented on #1538
@whedon assign @dhhagan as reviewer

[2019-07-10 17:50] whedon commented on #1538
OK, the reviewer is @dhhagan

[2019-07-10 17:51] mbobra commented on #1538
@whedon add @rreinecke as reviewer

[2019-07-10 17:51] whedon commented on #1538
OK, @rreinecke is now a reviewer

[2019-07-10 17:52] mbobra commented on #1538
@whedon start review magic-word=bananas

[2019-07-10 17:52] whedon opened #1556 "[REVIEW]: pyMannKendall: a python package for non parametric Mann Kendall family of trend tests."
**Submitting author:** @mmhs013 (<a href="http://orcid.org/0000-0002-5361-0633">Md. Manjurul Hussain</a>)
**Repository:** <a href="https://github.com/mmhs013/pyMannKendall" target ="_blank">https://github.com/mmhs013/pyMannKendall</a>
**Version:** 1.1
**Editor:** @mbobra
**Reviewer:** @dhhagan, @rreinecke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3347253" target="_blank">10.5281/zenodo.

[2019-07-10 17:52] whedon commented on #1538
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1556. Feel free to close this issue now!

[2019-07-10 17:52] whedon commented on #1556
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dhhagan, @rreinecke it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-07-10 17:52] whedon commented on #1556
[code]

[2019-07-10 17:52] #1538 closed

[2019-07-10 17:53] whedon commented on #1556
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01556/joss.01556/10.21105.joss.01556.pdf)

[2019-07-10 17:55] mbobra commented on #1556
👋 @dhhagan @rreinecke Thanks for agreeing to review this submission! Whedon generated a checklist for you above. Feel free to ask me any questions -- I'm always happy to help.

[2019-07-10 17:56] mbobra commented on #1546
@whedon assign @wtgee as reviewer

[2019-07-10 17:56] whedon commented on #1546
OK, the reviewer is @wtgee

[2019-07-10 17:59] mbobra commented on #1546
@whedon add @DanielLenz as reviewer

[2019-07-10 17:59] whedon commented on #1546
OK, @DanielLenz is now a reviewer

[2019-07-10 18:00] mbobra commented on #1546
@whedon start review magic-word=bananas

[2019-07-10 18:00] whedon opened #1557 "[REVIEW]: MiraPy: Python Package for Deep Learning in Astronomy"
**Submitting author:** @swapsha96 (<a href="http://orcid.org/0000-0002-0329-9314">Swapnil Sharma</a>)
**Repository:** <a href="https://github.com/mirapy-org/mirapy" target ="_blank">https://github.com/mirapy-org/mirapy</a>
**Version:** v0.1.0
**Editor:** @mbobra
**Reviewers:** @DanielLenz, @mbobra
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/ff93bd7cf84685c479c74a5c84d1

[2019-07-10 18:00] whedon commented on #1546
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1557. Feel free to close this issue now!

[2019-07-10 18:00] whedon commented on #1557
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wtgee, @DanielLenz it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-07-10 18:00] whedon commented on #1557
[code]

[2019-07-10 18:00] #1546 closed

[2019-07-10 18:00] whedon commented on #1557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01557/joss.01557/10.21105.joss.01557.pdf)

[2019-07-10 18:01] mbobra commented on #1557
👋 @wtgee @DanielLenz Thanks for agreeing to review this submission! Whedon generated a checklist for you above. Feel free to ask me any questions -- I'm always happy to help.

[2019-07-10 18:38] kyleniemeyer commented on #1385
@fsobral please add the necessary section to the paper on your repo, and let us know.

@arfon once they do that, can you manually update the PDF?

[2019-07-10 18:40] arfon commented on #1385
Please update your `paper.md` and I can update the paper.

[2019-07-10 19:11] fsobral commented on #1385
Thank you @arfon and @kyleniemeyer for the quick answer. The file `paper.md` has been updated in the master branch.

[2019-07-10 20:20] rreinecke commented on #1556
@mmhs013 I did not have the time to take a closer look at your code but here are already some comments on the overall documentation that you could improve:

-  mmhs013/pyMannKendall#1
-  mmhs013/pyMannKendall#2
-  mmhs013/pyMannKendall#3
-  mmhs013/pyMannKendall#4
-  mmhs013/pyMannKendall#5
-  mmhs013/pyMannKendall#6

[2019-07-10 20:45] leouieda commented on #1425
:wave: Hi @camillescott, any updates on your review?

[2019-07-10 20:47] leouieda commented on #1511
:wave: Hi @weikang9009 and @darribas just checking in on the progress of the reviews. I see some issues have been opened (and resolved) in the project repository. Please let me know what your current status is and any hangups in the review that might need to be resolved.

[2019-07-10 20:47] leouieda commented on #1315
@whedon remind @sauln in 10 days

[2019-07-10 20:47] whedon commented on #1315
Reminder set for @sauln in 10 days

[2019-07-10 20:49] holtgrewe commented on #1547
Hi @lpantano 👋

(I'm a coauthor of @mikkonie) on this article.

We have a readthedocs documentation linked as "build passing" badge copied from the readthedocs generated markup, would something else be more appropriate?

- https://sodar-core.readthedocs.io/en/latest/?badge=latest

I'll look into the `.bib` file and failing build ASAP.

[2019-07-10 21:03] lpantano commented on #1547
Thanks @holtgrewe , can you add the link to the line `See docs for detailed documentation on use, integration and development.` I didn't see the badget was clickable and I was wondering where the link was. Thank you.

[2019-07-10 21:06] vyasr commented on #1490
Apologies for not responding sooner. This package is unfortunately outside my realm of expertise, the particle simulations that I am familiar with are typically in soft condensed matter so I don't really know particle physics. I'm happy to provide code review, but if you'd like me to review I think it would be good to have a second reviewer who has some expertise in the field

[2019-07-10 21:29] kyleniemeyer commented on #1553
Hello @zhuyouliang, before trying to find some reviewers, there are some major issues that I see:

- as @arfon pointed out, the paper is still missing some of what is expected, as described in https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain
- There is very little documentation; all I can see is a README, which does not really explain how to build or use the softw

[2019-07-10 22:23] stuartcampbell commented on #1490
I'd be happy to do it , but I would assume that the answers it gives are correct.

[2019-07-10 22:25] holtgrewe commented on #1547
@lpantano OK adjusted the `README.rst` and split out the bibliography into `.bib`.

[2019-07-11 01:01] usethedata commented on #1513
@jimmccusker Thanks.

[2019-07-11 01:04] arfon commented on #1385
OK, the paper is now updated but it might take a while for your browser to pick up the updated PDF as there's caching on the JOSS site.

[2019-07-11 01:04] usethedata commented on #1479
I'm still working on getting a second reviewer. But in the interests of letting the review move forward, I'm opening the review issue and will manually add a second reviewer after we find one.

[2019-07-11 01:04] usethedata commented on #1479
@whedon start review

[2019-07-11 01:04] whedon opened #1558 "[REVIEW]: Wikipedia2Vec: An Optimized Tool for Learning Embeddings of Words and Entities from Wikipedia"
**Submitting author:** @ikuyamada (<a href="http://orcid.org/0000-0002-7980-7661">Ikuya Yamada</a>)
**Repository:** <a href="https://github.com/wikipedia2vec/wikipedia2vec" target ="_blank">https://github.com/wikipedia2vec/wikipedia2vec</a>
**Version:** v1.0.3
**Editor:** @arfon
**Reviewer:** @ionlights
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/6f8f184e6350b2fe9381d2

[2019-07-11 01:04] whedon commented on #1479
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1558. Feel free to close this issue now!

[2019-07-11 01:04] whedon commented on #1558
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ionlights it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently w

[2019-07-11 01:04] whedon commented on #1558
[code]

[2019-07-11 01:04] #1479 closed

[2019-07-11 01:04] whedon commented on #1558
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01558/joss.01558/10.21105.joss.01558.pdf)

[2019-07-11 01:05] mbobra commented on #1557
@swapsha96 I have a couple comments as editor.
* Can you please clarify how this submission differs from [AstroML](http://www.astroml.org/)?
* Can you please [cite Keras](https://keras.io/getting-started/faq/#how-should-i-cite-keras) in your paper?
* Can you please document the Jupyter notebooks in your tutorial section (at the moment they contain mostly code and no Markdown cells)? And write a sh

[2019-07-11 02:24] zhuyouliang commented on #1553
I reorganize the depository and rewrite the README.md file. Documentation and examples are given in docs and examples files, respectively.
Test suite are also given in tests file. Community guidelines is given in README.md.
Many thanks for your kind help.

zhuyouliang12345@163.com

From: Kyle Niemeyer
Date: 2019-07-11 05:29
To: openjournals/joss-reviews
CC: zhuyouliang; Mention
Subject: Re: [openj

[2019-07-11 02:27] ryanstwrt commented on #1486
@kellyrowland I see the reference mistake for MCNP, and I've adjusted it to reference the updated source. I'll upload it here shortly. As for the report by Lem et al., the DOI you're referencing was a report that was sent to DOE, not the final paper that was included in the IRPhEP handbook. From what I can tell the handbook does not have a DOI.

[2019-07-11 02:39] ryanstwrt commented on #1486
@whedon generate pdf

[2019-07-11 02:39] whedon commented on #1486
[code]

[2019-07-11 02:40] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-07-11 04:31] rreinecke commented on #1556
@whedon commands

[2019-07-11 04:31] whedon commented on #1556
Here are some things you can ask me to do:

[code]

[2019-07-11 04:37] rreinecke commented on #1556
@mmhs013 I had a look at your code now and I think it is nicely documented but without robust unit tests and an thoroughly explained example problem it is not possible for me to judge if the code actually provides the promised functionality. See also mmhs013/pyMannKendall#5 Let me know if you need further input. I will continue my review when this is implemented.

[2019-07-11 04:42] rreinecke commented on #1556
@mbobra @mmhs013 FYI I'm not available from 13th till the 20th. I will continue the review after my return. See also my notes for @mmhs013 above.
Cheers

[2019-07-11 07:03] apuignav commented on #1490
Hey, just to point out that the tests check the physics answers against the accepted standard in particle physics, [TGenPhaseSpace](https://root.cern.ch/doc/master/classTGenPhaseSpace.html), and the [RapidSim](https://github.com/gcowan/RapidSim) software (extensively used in peer-reviewed publications), which makes use of TGenPhaseSpace for complex decay chains.

[2019-07-11 07:38] zhangning737 commented on #1328
@lheagy Thank you for your revisions. Looks better now... Already pulled...

[2019-07-11 08:21] olivertomic commented on #980
Thanks a lot to both of you, @jsgalan (for taking on the review and testing job) and @arfon (for guidance and patience). I have made the requested changes in the hoggorm package and made an archive of hoggorm at Zenodo.

10.5281/zenodo.3326328
http://doi.org/10.5281/zenodo.3326328

Looking very much forward to get the paper published!

[2019-07-11 08:22] olivertomic commented on #980
@whedon generate pdf

[2019-07-11 08:22] whedon commented on #980
[code]

[2019-07-11 08:22] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2019-07-11 09:43] arfon commented on #980
@whedon set 10.5281/zenodo.3326328 as archive

[2019-07-11 09:43] whedon commented on #980
OK. <a href="https://doi.org/10.5281/zenodo.3326328" target="_blank">10.5281/zenodo.3326328</a> is the archive.

[2019-07-11 09:43] arfon commented on #980
@whedon accept

[2019-07-11 09:43] whedon commented on #980
[code]

[2019-07-11 09:44] whedon commented on #980
[code]

[2019-07-11 09:44] whedon commented on #980
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/832

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/832, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-11 09:45] arfon commented on #980
@whedon accept deposit=true

[2019-07-11 09:45] whedon commented on #980
[code]

[2019-07-11 09:46] whedon commented on #980
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1149253520954183681) 👈 🐦🐦🐦

[2019-07-11 09:46] whedon commented on #980
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/833
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00980](https://doi.org/10.21105/joss.00980)
2. If everything looks go

[2019-07-11 09:49] arfon commented on #980
@jsgalan many thanks for your review here ✨

@olivertomic - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-07-11 09:49] #980 closed

[2019-07-11 09:49] whedon commented on #980
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00980/status.svg)](https://doi.org/10.21105/joss.00980)

**We need your help!**

Journal of Open Source Softwar

[2019-07-11 09:56] arfon commented on #1468
@dmey - I've just sent an email to @andreas-h to ask if he might be able to complete the review in the next week.

[2019-07-11 09:58] dmey commented on #1468
@arfon thank you. 👍

[2019-07-11 13:14] whedon opened #1559 "[PRE REVIEW]: drms: A Python package for accessing HMI and AIA data"
**Submitting author:** @kbg (<a href="http://orcid.org/0000-0002-1361-5712">Kolja Glogowski</a>)
**Repository:** <a href="https://github.com/sunpy/drms" target ="_blank">https://github.com/sunpy/drms</a>
**Version:** v0.5.6
**Editor:** @xuanxu
**Reviewers:** @mgckind, @aureliocarnero

**Author instructions**

Thanks for submitting your paper to JOSS @kbg. **Currently, there isn't an JOSS editor as

[2019-07-11 13:14] whedon commented on #1559
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-11 13:14] whedon commented on #1559
[code]

[2019-07-11 13:14] whedon commented on #1559
PDF failed to compile for issue #1559 with the following error:

 Can't find any papers to compile :-(

[2019-07-11 13:15] arfon commented on #1559
:wave: @xuanxu - would you be willing to edit this submission for JOSS?

[2019-07-11 13:15] arfon commented on #1559
@whedon generate pdf from branch joss-paper

[2019-07-11 13:15] whedon commented on #1559
[code]

[2019-07-11 13:15] whedon commented on #1559
PDF failed to compile for issue #1559 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:123:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d6

[2019-07-11 13:17] arfon commented on #1559
@kbg this PR should fix your paper: https://github.com/sunpy/drms/pull/29

[2019-07-11 13:18] whedon opened #1560 "[PRE REVIEW]: ccostr: An R package for estimating mean costs with censored data"
**Submitting author:** @LarsHernandez (<a href="http://orcid.org/0000-0002-3715-8528">Lars Nielsen</a>)
**Repository:** <a href="https://github.com/HaemAalborg/ccostr" target ="_blank">https://github.com/HaemAalborg/ccostr</a>
**Version:** 0.1.0
**Editor:** @csoneson
**Reviewers:** @BarryDeCicco, @joethorley

**Author instructions**

Thanks for submitting your paper to JOSS @LarsHernandez. **Curre

[2019-07-11 13:18] whedon commented on #1560
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-11 13:18] whedon commented on #1560
[code]

[2019-07-11 13:18] whedon commented on #1560
PDF failed to compile for issue #1560 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1560/paper.md): invalid leading UTF-8 octet at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/ruby-2.4.4/lib/ruby/2

[2019-07-11 13:18] arfon commented on #1560
:wave: @csoneson - would you be willing to edit this submission for JOSS?

[2019-07-11 13:19] arfon commented on #1560
@LarsHernandez - this PR should fix your paper compilation: https://github.com/HaemAalborg/ccostr/pull/8

[2019-07-11 13:20] whedon opened #1561 "[PRE REVIEW]: X.509 Compliant Hybrid Certificates for the Post-Quantum Transition"
**Submitting author:** @j-braun (<a href="http://orcid.org/0000-0001-6491-2250">Johannes Braun</a>)
**Repository:** <a href="https://github.com/CROSSINGTUD/bc-hybrid-certificates" target ="_blank">https://github.com/CROSSINGTUD/bc-hybrid-certificates</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @jbasney, @jteheran

**Author instructions**

Thanks for submitting your paper to JOS

[2019-07-11 13:20] whedon commented on #1561
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-11 13:20] whedon commented on #1561
[code]

[2019-07-11 13:21] whedon opened #1562 "[PRE REVIEW]: ClustForOpt: Time-series aggregation for optimization in Julia"
**Submitting author:** @holgerteichgraeber (<a href="http://orcid.org/0000-0002-4061-2226">Holger Teichgraeber</a>)
**Repository:** <a href="https://github.com/holgerteichgraeber/ClustForOpt.jl" target ="_blank">https://github.com/holgerteichgraeber/ClustForOpt.jl</a>
**Version:** v0.4.2
**Editor:** @danielskatz
**Reviewers:** @jgoldfar, @ahwillia

**Author instructions**

Thanks for submitting yo

[2019-07-11 13:21] whedon commented on #1561
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01561/joss.01561/10.21105.joss.01561.pdf)

[2019-07-11 13:21] whedon commented on #1562
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-11 13:21] whedon commented on #1562
[code]

[2019-07-11 13:21] whedon commented on #1562
PDF failed to compile for issue #1562 with the following error:

 Can't find any papers to compile :-(

[2019-07-11 13:21] whedon opened #1563 "[PRE REVIEW]: MemCNN: a Framework for Developing Memory Efficient Invertible Neural Networks"
**Submitting author:** @silvandeleemput (<a href="http://orcid.org/0000-0001-6047-3051">Sil C. van de Leemput</a>)
**Repository:** <a href="https://github.com/silvandeleemput/memcnn" target ="_blank">https://github.com/silvandeleemput/memcnn</a>
**Version:** 0.3.3
**Editor:** @terrytangyuan
**Reviewers:** @GregaVrbancic, @sepandhaghighi

**Author instructions**

Thanks for submitting your paper to

[2019-07-11 13:21] whedon commented on #1563
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-11 13:21] whedon commented on #1563
[code]

[2019-07-11 13:21] whedon commented on #1563
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01563/joss.01563/10.21105.joss.01563.pdf)

[2019-07-11 13:23] arfon commented on #1561
:wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what s

[2019-07-11 13:24] arfon commented on #1562
@whedon generate pdf

[2019-07-11 13:24] whedon commented on #1562
[code]

[2019-07-11 13:25] whedon commented on #1562
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01562/joss.01562/10.21105.joss.01562.pdf)

[2019-07-11 13:37] arfon commented on #1559
@whedon generate pdf from branch joss-paper

[2019-07-11 13:37] whedon commented on #1559
[code]

[2019-07-11 13:37] whedon commented on #1559
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01559/joss.01559/10.21105.joss.01559.pdf)

[2019-07-11 13:42] kbg commented on #1559
@arfon Thanks. I forgot to add the ORCID for one of the authors. I also spotted a missing hyphen in one of the affiliations. Both should be fixed now.

[2019-07-11 13:44] kellyrowland commented on #1486
Noted, thanks. Looks good to me!

[2019-07-11 13:53] mmhs013 commented on #1556
@rreinecke *thanks for your comments*. According to your comments, I am already updated readme file with Installation Instructions, list of dependencies (mmhs013/pyMannKendall#1), project description (mmhs013/pyMannKendall#2) and added new details example ipython notebook file with some plots (mmhs013/pyMannKendall#3) and added DOI in paper bib file (mmhs013/pyMannKendall#6).

The input and output

[2019-07-11 14:43] csoneson commented on #1560
Yes, I can do that!

[2019-07-11 14:45] csoneson commented on #1560
@whedon assign @csoneson as editor

[2019-07-11 14:45] whedon commented on #1560
OK, the editor is @csoneson

[2019-07-11 14:45] csoneson commented on #1560
@LarsHernandez - please let me know if you have suggestions for suitable reviewers (e.g. from the list in the first post above)!

[2019-07-11 14:55] stuartcampbell commented on #1490
Thank you, yes I saw that it had a physics test in the code base and presumed it was testing against an accepted standard.

[2019-07-11 15:06] holgerteichgraeber commented on #1562
Just went through the list. Some ideas for potential reviewers:
- Jgoldfar
- matbesancon
- ChrisRackauckas
- ahwillia

[2019-07-11 15:20] xuanxu commented on #1501
@whedon remind @deniederhut in five days

[2019-07-11 15:20] whedon commented on #1501
Reminder set for @deniederhut in five days

[2019-07-11 15:26] xuanxu commented on #1559
@whedon assign @xuanxu as editor

[2019-07-11 15:26] whedon commented on #1559
OK, the editor is @xuanxu

[2019-07-11 15:33] xuanxu commented on #1559
👋 @mgckind and @astrom-tom: Would you be willing to be the reviews of this paper? I think your expertise in Python and astrophysics data management makes both of you a great fit for this submission.

[2019-07-11 15:46] pierrepo commented on #1390
Dear @rpetit3 and @lowandrew (cc @trallard),

once again, thank you both for your kind and constructive reviews.

Here are my comments and answers to your reviews.

---

@rpetit3 's review

AutoClass C installation steps are now provided in:

- the main `README.md` file,
- the [documentation](https://autoclasswrapper.readthedocs.io/en/latest/),
- both demo notebooks.

Thanks for pointing this to m

[2019-07-11 16:54] fsobral commented on #1385
Thank you @arfon !

[2019-07-11 17:11] swapsha96 commented on #1546
@whedon generate pdf

[2019-07-11 17:11] whedon commented on #1546
[code]

[2019-07-11 17:11] whedon commented on #1546
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01546/joss.01546/10.21105.joss.01546.pdf)

[2019-07-11 17:47] weikang9009 commented on #1511
Hi @leouieda, I am almost done with the review. @martibosch has been very responsive in resolving the issues I opened. I just opened two issues related to adding a statement of the target audience and missing DOIs in the paper.

[2019-07-11 19:43] lheagy commented on #1328
@whedon generate pdf

[2019-07-11 19:43] whedon commented on #1328
[code]

[2019-07-11 19:43] whedon commented on #1328
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01328/joss.01328/10.21105.joss.01328.pdf)

[2019-07-11 19:49] lheagy commented on #1328
Excellent, thanks @zhangning737, can you please take a  look at the article proof and make sure everything is in order? Once you are happy with it, please generate a new software release and archive it on [zenodo](http://zenodo.org) or similar and set the title and author of the archive to be the same as that in your paper. After that, please post the doi here and we can proceed with publication.

[2019-07-11 19:50] swapsha96 commented on #1557
@mbobra Thank you for your input! I have made the changes to the best of my understanding. Please let me know what other changes I need to do.

- AstroML is built on top of scikit-learn which has design constraints that make it impossible to extend to deep learning techniques such as large sequence data (eg lightcurve) classification, CNN, and encoder-decoder networks. Importantly it does **not**

[2019-07-11 19:50] swapsha96 commented on #1557
@whedon generate pdf

[2019-07-11 19:50] whedon commented on #1557
[code]

[2019-07-11 19:51] whedon commented on #1557
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01557/joss.01557/10.21105.joss.01557.pdf)

[2019-07-11 20:12] sanskriti-s commented on #1420
@kyleniemeyer : Fixed paper and bibliography

[2019-07-11 20:13] kyleniemeyer commented on #1420
@whedon generate pdf

[2019-07-11 20:13] whedon commented on #1420
[code]

[2019-07-11 20:13] whedon commented on #1420
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01420/joss.01420/10.21105.joss.01420.pdf)

[2019-07-11 21:06] silvandeleemput commented on #1563
Going through the list, I would suggest the following reviewers (having a deep learning background and a preference for Python):

arokem
nilesh-patil
paragkulkarni11
rasbt
sssomani
mamrehn
GregaVrbancic

[2019-07-11 21:13] kyleniemeyer commented on #1420
@sanskriti-s I fixed a number of the remaining issues with the paper and references in https://github.com/ECRL/ecabc/pull/47 and https://github.com/ECRL/ecabc/pull/48

When I was asking for affiliation information, I meant your affiliation given in the paper header, not to add institution to each of the references—which is not necessary (or even used).

Also, it looked like you actually removed th

[2019-07-11 21:15] kyleniemeyer commented on #1420
@whedon generate pdf

[2019-07-11 21:15] whedon commented on #1420
[code]

[2019-07-11 21:15] whedon commented on #1420
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01420/joss.01420/10.21105.joss.01420.pdf)

[2019-07-11 21:20] kyleniemeyer commented on #1420
@sanskriti-s sorry, I missed one reference in the text

[2019-07-11 21:22] kyleniemeyer commented on #1420
@whedon generate pdf

[2019-07-11 21:22] whedon commented on #1420
[code]

[2019-07-11 21:22] whedon commented on #1420
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01420/joss.01420/10.21105.joss.01420.pdf)

[2019-07-11 21:24] kyleniemeyer commented on #1420
@sanskriti-s ok, I think we're good to go here!

[2019-07-11 21:25] kyleniemeyer commented on #1420
@whedon accept

[2019-07-11 21:25] whedon commented on #1420
[code]

[2019-07-11 21:25] whedon commented on #1420
PDF failed to compile for issue #1420 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/openjournals/joss-reviews-testing/issues/1420: 404 - Not Found // See: https://developer.github.com/v3/issues/#get-a-single-issue (Octokit::NotFound)
	from /app/vendor/bundle/ruby/2.4.0/gems/fara

[2019-07-11 21:25] leouieda commented on #1511
@weikang9009 thanks for the update and opening all those issues :+1: Let me know when you have a final verdict (meaning that the software passes all requirements)

[2019-07-11 21:25] sanskriti-s commented on #1420
@kyleniemeyer : Thank you so much for your revisions

[2019-07-11 21:25] whedon commented on #1420
Downloading of the repository (to check the bibtex) failed for issue #1420 failed with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/openjournals/joss-reviews-testing/issues/1420: 404 - Not Found // See: https://developer.github.com/v3/issues/#get-a-single-issue (Octokit::NotFound)

[2019-07-11 21:37] kyleniemeyer commented on #1553
@zhuyouliang thank you for making those changes.

However, I noticed that you already published a full paper about your software in the Journal of Computational Chemistry. Would this submission (if accepted) amount to a duplicate publication of the same work?

[2019-07-11 21:42] olivertomic commented on #980
Excellent! Thanks a lot! :-)

[2019-07-11 21:57] kyleniemeyer commented on #1420
@whedon accept

[2019-07-11 21:57] whedon commented on #1420
[code]

[2019-07-11 21:57] whedon commented on #1420
[code]

[2019-07-11 21:57] whedon commented on #1420
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/834

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/834, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-11 22:15] kyleniemeyer commented on #1420
@whedon accept deposit=true

[2019-07-11 22:15] whedon commented on #1420
[code]

[2019-07-11 22:16] whedon commented on #1420
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1149442269071728645) 👈 🐦🐦🐦

[2019-07-11 22:16] whedon commented on #1420
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/835
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01420](https://doi.org/10.21105/joss.01420)
2. If everything looks go

[2019-07-11 22:21] kyleniemeyer commented on #1420
@sanskriti-s congrats on your submission's publication in JOSS! Thanks to @annoviko for reviewing and @arokem for editing!

[2019-07-11 22:21] #1420 closed

[2019-07-11 22:21] whedon commented on #1420
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01420/status.svg)](https://doi.org/10.21105/joss.01420)

**We need your help!**

Journal of Open Source Softwar

[2019-07-11 23:09] whedon opened #1564 "[PRE REVIEW]: labor_planner: A Python package for planning and visualizing staff labor allocation"
**Submitting author:** @crvernon (<a href="http://orcid.org/0000-0002-3406-6214">Chris Vernon</a>)
**Repository:** <a href="https://github.com/crvernon/labor_planner" target ="_blank">https://github.com/crvernon/labor_planner</a>
**Version:** v.1.1.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @crvernon. **Currently, there isn't an J

[2019-07-11 23:09] whedon commented on #1564
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-11 23:09] whedon commented on #1564
[code]

[2019-07-11 23:09] whedon commented on #1564
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01564/joss.01564/10.21105.joss.01564.pdf)

[2019-07-11 23:10] arfon commented on #1564
@crvernon :wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section

[2019-07-11 23:11] whedon opened #1565 "[PRE REVIEW]: kdensity: An R package for kernel density estimation with parametric starts and asymmetric kernels"
**Submitting author:** @JonasMoss (<a href="http://orcid.org/0000-0002-6876-6964">Jonas Moss</a>)
**Repository:** <a href="https://github.com/JonasMoss/kdensity" target ="_blank">https://github.com/JonasMoss/kdensity</a>
**Version:** v1.0.1
**Editor:** @terrytangyuan
**Reviewers:** @gvegayon

**Author instructions**

Thanks for submitting your paper to JOSS @JonasMoss. **Currently, there isn't an

[2019-07-11 23:11] whedon commented on #1565
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-11 23:11] whedon commented on #1565
[code]

[2019-07-11 23:11] whedon commented on #1565
PDF failed to compile for issue #1565 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.370 The following example uses the \code

Looks like we failed to compile the PDF

[2019-07-11 23:11] arfon commented on #1565
:wave: @terrytangyuan - would you be willing to edit this submission for JOSS?

[2019-07-11 23:12] arfon commented on #1565
@JonasMoss - I don't think Pandoc supports `\code`. Can you use back-ticks instead?

[2019-07-11 23:50] terrytangyuan commented on #1565
@arfon Yes definitely.

@whedon assign @terrytangyuan as editor

@JonasMoss if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, this list of people have already agreed to review for JOSS and may be suitable for this submission.

[2019-07-11 23:52] terrytangyuan commented on #1565
@whedon assign @terrytangyuan as editor

[2019-07-11 23:52] whedon commented on #1565
OK, the editor is @terrytangyuan

[2019-07-11 23:56] terrytangyuan commented on #1509
@sayanddude I see. There are many other tools for exploratory data analysis in R. What makes this package useful/different?

[2019-07-12 00:55] alexanderimanicowenrivers commented on #1524
Looking forward to receiving the reviews :) @desilinguist and @paragkulkarni11

[2019-07-12 08:48] sayanddude commented on #1509
@whedon generate pdf

[2019-07-12 08:48] whedon commented on #1509
[code]

[2019-07-12 08:49] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-07-12 09:08] JonasMoss commented on #1565
Changed \code to backticks. I suggest @TrashBirdEcology for reviewing.

[2019-07-12 09:27] sayanddude commented on #1509
@whedon generate pdf

[2019-07-12 09:27] whedon commented on #1509
[code]

[2019-07-12 09:28] whedon commented on #1509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01509/joss.01509/10.21105.joss.01509.pdf)

[2019-07-12 10:27] sayanddude commented on #1509
@terrytangyuan Hi! We have added a new section “Comparison with other R Packages” in the updated version of the paper pdf generated above. In this section we have given a snapshot of various capabilities of SmartEDA vs. some of the competing R packages (such as dlookr, explorer, DataExplorer, etc.) and have highlighted its advantages. Figure 9 in the paper gives a snapshot of the comparison and sh

[2019-07-12 10:30] sayanddude commented on #1509
@nhejazi @terrytangyuan Requesting the reviewers to kindly consider the latest version of the pdf. We have added a section on “Comparison with other R Packages” and corrected some formatting issues in the earlier version.

[2019-07-12 11:07] arfon commented on #1565
@whedon generate pdf

[2019-07-12 11:07] whedon commented on #1565
[code]

[2019-07-12 11:08] whedon commented on #1565
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01565/joss.01565/10.21105.joss.01565.pdf)

[2019-07-12 11:48] zhuyouliang commented on #1553
In that paper, we actually introduced the methods and algorithms that we developed and described little about codes.
And I didn't open source codes along with that paper.  As far as I know, JOSS is a professional journal to publish codes.
I believe you will help me a lot to improve the quality of this software.

Best Regards,
Youliang

zhuyouliang12345@163.com

From: Kyle Niemeyer
Date: 2019-07-12

[2019-07-12 12:59] TrashBirdEcology commented on #1565
@JonasMoss @terrytangyuan Unfortunately I am slammed for the next two weeks. If you OK with waiting for a review I am happy to begin it near or after 01 August.

[2019-07-12 13:01] terrytangyuan commented on #1565
@TrashBirdEcology Thanks for letting us know. @JonasMoss Could you try finding more reviewers from the list and see if others might have better availability?

[2019-07-12 13:29] ts-adi commented on #1531
@gkthiruvathukal @dvberkel Can we get an update on this when you have a moment please?

[2019-07-12 13:32] danielskatz commented on #1487
👋 @tesch1, please update us on how things are progressing here.

[2019-07-12 13:33] terrytangyuan commented on #1509
@sayanddude Thanks. The table looks great. Some feedback:
* I see lots of long functions with >150 lines of code and the code style is not consistent (I suggest running a `lintr` check). Similarly, in the `roxygen` docs, the style is not consistent. I see both `##'` and `#'`. The indentation levels and the `roxygen` syntax are sometimes incorrect. Please double check.
* There are no tests.
* Have

[2019-07-12 13:33] gkthiruvathukal commented on #1531
@ts-adi I am satisfied with your responses to my earlier questions about testing. I'm confident that there is a good process behind this work (from a software engineering standpoint).

I'm looking through the comments to see whether @dvberkel's issues are all address, so we can move toward acceptance. Upon hearing from @dvberkel, the next step will be to have you create a Zenodo archive for the su

[2019-07-12 13:33] danielskatz commented on #1171
👋 @TheChymera - How are you doing on the changes?

[2019-07-12 14:01] crvernon commented on #1564
@arfon thanks for the lightning fast response!  This software is definitely not the normal "research" software that I am used to creating.  I did think that the `labor_planner` software may be beneficial to the scientific community in terms of ensuring that 1) staff were able to maintain funding throughout the year with out having major fluxes in their hours, and 2) staff were able to maintain a p

[2019-07-12 14:40] prisae commented on #1463
Any luck @akelbert ?

[2019-07-12 15:12] kyleniemeyer commented on #1005
whedon remove @adammichaelwood as reviewer

[2019-07-12 15:13] akelbert commented on #1463
I'll work on it this weekend.

Sent from my android device.

-----Original Message-----
From: "Dieter Werthmüller" <notifications@github.com>
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Anna Kelbert <akelbert@usgs.gov>, Mention <mention@noreply.github.com>
Sent: Fri, 12 Jul 2019 9:41 AM
Subject: [EXTERNAL] Re: [openjournals/joss-reviews] [REVIEW]: emg3d: A multigrid solver

[2019-07-12 15:13] kyleniemeyer commented on #1005
@whedon remove @adammichaelwood as reviewer

[2019-07-12 15:13] whedon commented on #1005
OK, @adammichaelwood is no longer a reviewer

[2019-07-12 15:16] prisae commented on #1463
Thanks!

[2019-07-12 15:34] kyleniemeyer commented on #1005
@slithiaote I appreciate your response, and apologies for the delay here—the original second reviewer was unable to complete their review, and so I had to find someone else.

Fortunately, @rljacobson has agreed to review. Thank you!

Apologies again for how long this is all taking; I'm hoping @rljacobson's review sheds light on any final changes needed, particularly for ensuring new/unfamiliar use

[2019-07-12 15:38] JonasMoss commented on #1565
@TrashBirdEcology thanks! I suggest @gvegayon.

[2019-07-12 15:40] terrytangyuan commented on #1565
Thanks. Hi @gvegayon, would you be able to review for this paper?

[2019-07-12 15:46] arokem commented on #1551
Looks like it's summer. Let's see if we can find someone to respond to a request to review this.

[2019-07-12 15:48] arokem commented on #1551
:wave: @corinne-riddell : would be willing to review this paper for JOSS? Your expertise in epidemiology and R would be helpful here.

:wave: @jenniferthompson : would be willing to review this paper for JOSS? Your expertise in public health and R would be helpful here.

:wave: @Jminnier : would be willing to review this paper for JOSS? Your expertise in biostatistics and R would be helpful here

[2019-07-12 15:49] gvegayon commented on #1565
:wave: @terrytangyuan @JonasMoss, sure, I can help :). My only problem is that I'm on a conference next week, so I can start with the review process on the 22nd. LMK

[2019-07-12 15:51] TrashBirdEcology commented on #1565
If anything changes please email me (jessicaleighburnett.at.gmail), I am muting this thread, now. Thanks!

[2019-07-12 16:00] JonasMoss commented on #1565
@gvegayon @terrytangyuan Sounds great to me! Thanks =)

[2019-07-12 16:03] mgckind commented on #1559
@xuanxu, thanks for the ping, I'm still on vacation I might be able to give you a realistic answer early next week.

[2019-07-12 16:07] terrytangyuan commented on #1565
@whedon assign @gvegayon as reviewer

[2019-07-12 16:07] whedon commented on #1565
OK, the reviewer is @gvegayon

[2019-07-12 16:08] terrytangyuan commented on #1565
@whedon start review

[2019-07-12 16:08] whedon opened #1566 "[REVIEW]: kdensity: An R package for kernel density estimation with parametric starts and asymmetric kernels"
**Submitting author:** @JonasMoss (<a href="http://orcid.org/0000-0002-6876-6964">Jonas Moss</a>)
**Repository:** <a href="https://github.com/JonasMoss/kdensity" target ="_blank">https://github.com/JonasMoss/kdensity</a>
**Version:** 1.1.0
**Editor:** @terrytangyuan
**Reviewer:** @gvegayon, @TrashBirdEcology
**Archive:** <a href="https://doi.org/10.5281/zenodo.3466547" target="_blank">10.5281/zeno

[2019-07-12 16:08] whedon commented on #1565
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1566. Feel free to close this issue now!

[2019-07-12 16:08] whedon commented on #1566
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gvegayon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-07-12 16:08] whedon commented on #1566
[code]

[2019-07-12 16:08] whedon commented on #1566
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01566/joss.01566/10.21105.joss.01566.pdf)

[2019-07-12 16:09] terrytangyuan commented on #1565
Thanks everyone! @gvegayon Please head over to #1566 for review when you get back.

[2019-07-12 16:09] #1565 closed

[2019-07-12 16:29] paragkulkarni11 commented on #1524
Hi,
I am sorry for late review. In my opinion, documentation could be more elaborate adhering to guidelines given above. In particular , I will expect to be more specific when we say that past work was more general in nature. This will clearly specify and support your claim. Also can we see any real life example of this codebase implementation ? Kindly include it in your documentation. In case,, i

[2019-07-12 16:32] sayanddude commented on #1509
@terrytangyuan Thanks for the feedback! I will work on your comments and will get back to you with the updated paper and required code changes as soon as possible.

[2019-07-12 17:15] jminnier commented on #1551
Hi @arokem, sure!

[2019-07-12 17:20] arokem commented on #1551
Fantastic! Thanks for the quick reply. I'll assign you as a reviewer and wait for at least one more person to sign up.

[2019-07-12 17:21] arokem commented on #1551
@whedon assign @jminnier as reviewer

[2019-07-12 17:21] whedon commented on #1551
OK, the reviewer is @jminnier

[2019-07-12 21:29] terrytangyuan commented on #1566
@TrashBirdEcology I also added you as the reviewer since JOSS now requires at least two reviewers. Feel free to review this paper when you get back. Thanks.

[2019-07-13 03:19] soodoku commented on #1508
@MaciejDanko: went through the package and the health example to check functionality. things seem to pan out. my only rec. would be = to prove to yourself that you are doing the right thing computationally, use either an off-the-shelf package or a toy example that you can reason through. otherwise, god speed!

[2019-07-13 12:02] danielskatz commented on #1182
@whedon generate pdf

[2019-07-13 12:02] whedon commented on #1182
[code]

[2019-07-13 12:02] whedon commented on #1182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01182/joss.01182/10.21105.joss.01182.pdf)

[2019-07-13 13:32] slithiaote commented on #1005
I uploaded an initial draft of an additional example. It shows how to use Lepton to write a reproducible scientific report. Here, reproducible means that all the source code used in the report is provided, as well as data files, instructions for producing the figures. The `.tex` report itself can be re-generated with a single shell command, and then compiled to PDF with LaTeX.

[2019-07-13 19:57] arfon commented on #1563
:wave: @terrytangyuan - would you be willing to edit this submission for JOSS?

[2019-07-13 20:05] terrytangyuan commented on #1563
@whedon assign @terrytangyuan as editor

[2019-07-13 20:05] whedon commented on #1563
OK, the editor is @terrytangyuan

[2019-07-13 20:07] terrytangyuan commented on #1563
Thanks @silvandeleemput. Hi, if you are willing to review for this submission, please let us know here!
@arokem @nilesh-patil @paragkulkarni11 @rasbt @sssomani @mamrehn @GregaVrbancic

[2019-07-13 20:14] GregaVrbancic commented on #1563
Hi @terrytangyuan, I would be glad to review the submitted paper.

[2019-07-13 20:19] terrytangyuan commented on #1563
@whedon add @GregaVrbancic as reviewer

[2019-07-13 20:19] whedon commented on #1563
OK, @GregaVrbancic is now a reviewer

[2019-07-13 20:36] hooman650 commented on #1504
Ok, I have done a preliminary review of STUMPY.

Summary of work from my perspective:

Stumpy simply computes the euclidean distance between a segment with length window to a sequence of data. While a simple operation, it requires a high computational time and space. Stumpy builds upon the ideas published in several papers that employ FFT and algebra to improve the computational time of such proce

[2019-07-13 20:49] whedon opened #1567 "[PRE REVIEW]: lfda: Local Fisher Discriminant Analysis in R"
**Submitting author:** @terrytangyuan (<a href="http://orcid.org/0000-0001-5243-233X">Yuan Tang</a>)
**Repository:** <a href="https://github.com/terrytangyuan/lfda/" target ="_blank">https://github.com/terrytangyuan/lfda/</a>
**Version:** v1.1.2
**Editor:** @arfon
**Reviewers:** @sctyner, @strengejacke

**Author instructions**

Thanks for submitting your paper to JOSS @terrytangyuan. The JOSS edit

[2019-07-13 20:49] whedon commented on #1567
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `

[2019-07-13 20:49] whedon commented on #1567
[code]

[2019-07-13 20:49] whedon commented on #1567
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01567/joss.01567/10.21105.joss.01567.pdf)

[2019-07-13 20:49] arfon commented on #1567
:wave: @terrytangyuan - can you suggest some potential reviewers from [this list](https://bit.ly/joss-reviewers)?

[2019-07-13 21:09] terrytangyuan commented on #1567
Hi, if you’d like to review this submission, please let us know here! @joethorley @corybrunson @sctyner @jacobsoj @strengejacke @hiendn

[2019-07-14 02:46] hiendn commented on #1567
@terrytangyuan I can review it, but not in the next two weeks. So put me in reserve if no one else can. :)

[2019-07-14 10:51] whedon commented on #1387
:wave: @jlustigy, please update us on how things are progressing here.

[2019-07-14 11:56] arfon commented on #1562
:wave: @danielskatz - would you be willing to edit this submission for JOSS?

[2019-07-14 12:03] danielskatz commented on #1562
@whedon assign @danielskatz as editor

[2019-07-14 12:03] whedon commented on #1562
OK, the editor is @danielskatz

[2019-07-14 12:09] danielskatz commented on #1562
👋 @jgoldfar & ChrisRackauckas & @ahwillia - Would two of you be willing to review this submission for JOSS?

[2019-07-14 12:49] strengejacke commented on #1567
I'm on vacation and can start with the review at the beginning of August. If this is ok, I'm happy to review it.

[2019-07-14 13:59] desilinguist commented on #1524
I have completed my review and I think while the goal of the project is admirable – providing a generic codebase for reinforcement learning in Tensorflow that also provides nice logging and visualization features – the setup process and the overall documentation both leave a lot to be desired. I have filed [two](https://github.com/for-ai/rl/issues/8) [issues](https://github.com/for-ai/rl/issues/9)

[2019-07-14 15:59] corybrunson commented on #1567
I would like to complete an ongoing review first. I will check back here when i'm done, though, because i'd certainly be interested in reviewing this one. : )

[2019-07-14 16:10] dap-biospec commented on #1532
@usethedata @FaustinCarter @cfneese @kyleniemeyer We updated documentation to comply with standards per @FaustinCarter recommendations. We are looking for feedback and recommendations for further improvements..

[2019-07-14 19:25] jlustigy commented on #1387
Thank you @lpueyo for the review (especially during your paternity leave!). My apologies for the delay, it has been a busy summer for me so far.

I have updated the `setup.py` file to include `data_files` including the file that you noted was missing. However, I have not yet updated the package version number or version on PyPI, because I wanted to double check with @arfon the correct procedure fo

[2019-07-14 19:51] lheagy commented on #1328
👋 Hi @zhangning737, just checking in. Whenever you have a chance to create a new release and archive your software, please post the doi here. Thanks!

[2019-07-15 00:08] whedon opened #1568 "[PRE REVIEW]: G3F: Global, Multidimensional Spectral Regression Analysis"
**Submitting author:** @dap-biospec (<a href="http://orcid.org/0000-0003-4625-0323">Denis Proshlyakov</a>)
**Repository:** <a href="https://github.com/dap-biospec/G3F" target ="_blank">https://github.com/dap-biospec/G3F</a>
**Version:** v1.0a4
**Editor:** @kyleniemeyer
**Reviewers:** @tcausgrove, @FaustinCarter

**Author instructions**

Thanks for submitting your paper to JOSS @dap-biospec. **Curr

[2019-07-15 00:08] whedon commented on #1568
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-15 00:08] whedon commented on #1568
[code]

[2019-07-15 00:08] whedon commented on #1568
PDF failed to compile for issue #1568 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1568/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/

[2019-07-15 00:30] arfon commented on #1568
:wave: @dap-biospec - this PR should fix your paper compilation: https://github.com/dap-biospec/G3F/pull/1

[2019-07-15 00:31] arfon commented on #1568
:wave: @kyleniemeyer - would you be willing to edit this submission for JOSS?

[2019-07-15 00:31] whedon opened #1569 "[PRE REVIEW]: SG-t-SNE-Π: Swift Neighbor Embedding of Sparse Stochastic Graphs"
**Submitting author:** @pitsianis (<a href="http://orcid.org/0000-0002-7353-3524">Nikos Pitsianis</a>)
**Repository:** <a href="https://github.com/fcdimitr/sgtsnepi" target ="_blank">https://github.com/fcdimitr/sgtsnepi</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @tingyu66, @rioyokota

**Author instructions**

Thanks for submitting your paper to JOSS @pitsianis. **Currently, there

[2019-07-15 00:31] whedon commented on #1569
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-15 00:31] whedon commented on #1569
[code]

[2019-07-15 00:31] whedon commented on #1569
PDF failed to compile for issue #1569 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a

[2019-07-15 00:32] arfon commented on #1569
:wave: @labarba - would you be able to edit this submission for JOSS?

[2019-07-15 00:33] arfon commented on #1569
:wave: @pitsianis  - this PR should fix your paper compilation: https://github.com/fcdimitr/sgtsnepi/pull/1

[2019-07-15 00:39] arfon commented on #1569
@whedon generate pdf

[2019-07-15 00:39] whedon commented on #1569
[code]

[2019-07-15 00:39] whedon commented on #1569
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01569/joss.01569/10.21105.joss.01569.pdf)

[2019-07-15 01:20] dap-biospec commented on #1568
@arfon @kyleniemeyer Thank you for patching up the paper!

Below are three suggested reviewers. I have no affiliation with any of them.

Christopher Neese: physical chemistry, chemical physics, https://electroscience.osu.edu/people/neese.6

Tim Causgrove: chemistry, protein kinetics and thermodynamics http://faculty.tamucc.edu/tcausgrove/Causgrove_Home.html

Tony Withers: geochemistry; equilibrium

[2019-07-15 05:49] seanlaw commented on #1504
@hooman650 Thank you for your thorough review.

Regarding 2:

Indeed, this was a typo and we have submitted an [issue](https://github.com/TDAmeritrade/stumpy/issues/50) and [fixed it accordingly](https://github.com/TDAmeritrade/stumpy/commit/d4f08395eef34e61022a30f51f59730839f762bb) in both our README and ReadTheDocs. Thank you for pointing this out!

Regarding 3:

Unfortunately, I am not the orig

[2019-07-15 06:54] csoneson commented on #1533
👋 @rabdill, @andreysmelter - just checking in on the reviews. Do you think you will be able to provide your feedback to @bii-absd during the coming week? Thanks!

[2019-07-15 06:55] csoneson commented on #1560
@whedon generate pdf

[2019-07-15 06:55] whedon commented on #1560
[code]

[2019-07-15 06:55] whedon commented on #1560
PDF failed to compile for issue #1560 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684

[2019-07-15 07:16] csoneson commented on #1560
👋 @LarsHernandez - it looks like whedon is not happy with the missing date field in your yaml header, could you add that? I compiled it locally to have a first look and it looks almost all good; could you just add case protection for {SAS} in the Zhao and Wang (2010) reference? Also, the word "naïve" doesn't show up properly in my locally compiled paper - whedon might have the same problem. Once y

[2019-07-15 07:23] whedon commented on #1517
:wave: @rougier, please update us on how your review is going.

[2019-07-15 07:31] zhangning737 commented on #1328
@lheagy Just changed 3 words in the last paragraph of paper.

Already upload to ``` zenodo ``` and the DOI is:

```10.5281/zenodo.3335406```

Is the DOI alright? seems a little bit odd...
If there anything else need to be done, please let me know. Thanks...

[2019-07-15 08:58] dvberkel commented on #1531
Sorry for the late reply. I was moving and was unexpectedly longer than anticipated without internet. I have not reservation about the functionality.

The only thing that I haven't checked is the references. But I think whedon can check those automatically? @gkthiruvathukal Is this correct.

[2019-07-15 09:02] labarba commented on #1569
I could try, although I am not familiar with graph analysis. This looks like heavy duty computer science, and I might have a hard time finding reviewers. Could @jedbrown or @poulson pitch in here, to see if they would be in a better to edit?

[2019-07-15 09:06] labarba commented on #1569
@pitsianis — Could you take a stab at improving the paper's readability for a non-specialist? Note that our [documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) requests that you include:

- a summary describing high-level functionality and purpose of the software for a diverse, non-specialist audience;
- a clear statement of need that illustrates the

[2019-07-15 10:08] ts-adi commented on #1531
@dvberkel Thanks for getting back on this (and hope your move went smooth). I'll try to run the whedon command and see what it produces.

[2019-07-15 10:08] ts-adi commented on #1531
@whedon check references

[2019-07-15 10:08] whedon commented on #1531
[code]

[2019-07-15 11:35] ts-adi commented on #1531
Doesn't look like it worked. @gkthiruvathukal any pointers?

[2019-07-15 12:02] nicholascar commented on #1513
I'm just testing the code now and I've encountered an issue. Following the **Guick Guide** in the main README, I pasted all code blocks of the section into a file and, after pip installing ontocode, tried to run it but I got the error: `AttributeError: module 'ontocode' has no attribute 'Jinja2Template'`.  I get the same error when trying to import the module locally (i.e. from a cloned repo, not

[2019-07-15 13:17] arfon commented on #1531
I don't think @whedon knows how to check references when the paper isn't on the default (`master`) branch sorry.

[2019-07-15 13:22] poulson commented on #1490
Thank you, Stuart (@stuartcampbell) and @vyasr! It seems adding you both as reviewers, with a focus on code and an understanding that there are unit tests in place, should lead to the most productive review process.

[2019-07-15 13:23] poulson commented on #1490
@whedon add @stuartcampbell as reviewer

[2019-07-15 13:23] whedon commented on #1490
OK, @stuartcampbell is now a reviewer

[2019-07-15 13:23] poulson commented on #1490
@whedon add @vyasr as reviewer

[2019-07-15 13:23] whedon commented on #1490
OK, @vyasr is now a reviewer

[2019-07-15 13:23] poulson commented on #1490
@whedon start review

[2019-07-15 13:23] whedon opened #1570 "[REVIEW]: phasespace: $n$-body phase space generation in Python"
**Submitting author:** @apuignav (<a href="http://orcid.org/0000-0001-8868-2947">Albert Puig Navarro</a>)
**Repository:** <a href="https://github.com/zfit/phasespace/" target ="_blank">https://github.com/zfit/phasespace/</a>
**Version:** 1.0.2
**Editor:** @poulson
**Reviewer:** @mdoucet, @stuartcampbell, @vyasr
**Archive:** <a href="https://doi.org/10.5281/zenodo.2591993" target="_blank">10.5281/z

[2019-07-15 13:23] whedon commented on #1490
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1570. Feel free to close this issue now!

[2019-07-15 13:23] whedon commented on #1570
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mdoucet, @stuartcampbell, @vyasr it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'

[2019-07-15 13:23] whedon commented on #1570
[code]

[2019-07-15 13:23] whedon commented on #1570
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01570/joss.01570/10.21105.joss.01570.pdf)

[2019-07-15 13:28] terrytangyuan commented on #1563
We need another reviewer. 👋 Would any of you be interested? @arokem @nilesh-patil @paragkulkarni11 @rasbt @sssomani @mamrehn

[2019-07-15 13:33] ts-adi commented on #1531
@arfon How should the reviewers check for the references then? Would it make sense if I temporarily commit the paper (and .bib) to the master branch?

A separate question for @arfon and @gkthiruvathukal This paper review was started when the software was at version 1.1.0. Since then, we have added a few minor things and fixed bugs and the repo is currently at version 1.2.1 (no effect on paper cont

[2019-07-15 13:38] poulson commented on #1548
:wave: Alexander (@ajgates42): Given your expertise in python and information theory, you seem like an ideal reviewer for this submission. Would you have the time and interest to help review this submission? And, would you happen to have any suggestions for other reviewers?

:wave: Fabian (@fsteeg): You have listed expertise in information retrieval, though your languages were given as Java and Sc

[2019-07-15 14:00] lpantano commented on #1540
Hi @gavinmdouglas  and @giraola, just to check on how the reviewing is going and if you need anything from me. Thanks!

[2019-07-15 14:01] lpantano commented on #1545
It seems reviewers are done, let me know otherwise. I will start the final step to mark this as accepted.

[2019-07-15 14:01] lpantano commented on #1545
@whedon check references

[2019-07-15 14:01] whedon commented on #1545
[code]

[2019-07-15 14:02] whedon commented on #1545
[code]

[2019-07-15 14:03] lpantano commented on #1545
@whedon generate pdf

[2019-07-15 14:03] whedon commented on #1545
[code]

[2019-07-15 14:05] lpantano commented on #1547
@whedon generate pdf

[2019-07-15 14:05] whedon commented on #1547
[code]

[2019-07-15 14:05] whedon commented on #1547
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01547/joss.01547/10.21105.joss.01547.pdf)

[2019-07-15 14:05] whedon commented on #1545
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01545/joss.01545/10.21105.joss.01545.pdf)

[2019-07-15 14:09] lpantano commented on #1545
@xin-huang, it seems there is another DOI missing:

- https://doi.org/10.2307/1529706 may be missing for title: An Introduction to Population Genetics Theory

can you fix it?

And after that, can you make a zenodo archive and give me the DOI? you need to make sure the title and authors there match your paper.

thanks!

[2019-07-15 14:09] lpantano commented on #1545
@whedon set v1.1 as version

[2019-07-15 14:09] whedon commented on #1545
OK. v1.1 is the version.

[2019-07-15 14:10] rpetit3 commented on #1390
Dear @pierrepo,

This is great! Thank you very much for considering my suggestions and making changes you saw fit. It is safe to say you have my approval for your manuscript.

Cheers!
Robert

@trallard - With the changes mentioned above, @pierrepo's manuscript has my approval for publication.

[2019-07-15 14:10] lpantano commented on #1547
@whedon check references

[2019-07-15 14:10] whedon commented on #1547
[code]

[2019-07-15 14:10] whedon commented on #1547
[code]

[2019-07-15 14:12] gavinmdouglas commented on #1540
Thanks @lpantano - I made comments (see: https://github.com/maxibor/sourcepredict/issues/3), which I believe are still being addressed by the author. I'll post here when that issue is resolved.

[2019-07-15 14:16] lpantano commented on #1547
@holtgrewe, do you have a suggested reviewer in mind?

[2019-07-15 14:17] lowandrew commented on #1390
@pierrepo

This looks good to me too! The new examples and documentation are excellent.

@trallard - this has my approval as well.

[2019-07-15 14:28] jcsutherland commented on #1543
@katyhuff  I don't seem to have access to check any boxes for the review.  When I follow the [invitation URL you supplied above](https://github.com/openjournals/joss-reviews/invitations), I see the following:

[2019-07-15 14:30] danielskatz commented on #1543
👋 @arfon - can you check/resend the invitation?

[2019-07-15 14:37] xin-huang commented on #1545
Hi @lpantano

I think this https://doi.org/10.2307/1529706 is a book review for the book I cited.  The book, An Introduction to Population Genetics Theory, is a old book published in 1970s (https://www.amazon.com/Introduction-Population-Genetics-Theory/dp/1932846123), I cannot find a doi related to this book.

The DOI for the zenodo archive is 10.5281/zenodo.3323833

Thank you very much.

[2019-07-15 14:54] arfon commented on #1531
@whedon check references from branch joss_paper

[2019-07-15 14:54] whedon commented on #1531
[code]

[2019-07-15 15:13] arfon commented on #1531
@whedon check references from branch joss_paper

[2019-07-15 15:13] whedon commented on #1531
[code]

[2019-07-15 15:17] holtgrewe commented on #1547
@lpantano Hm, I don't know anyone using Django for life science databases, sadly. Maybe @johanneskoester could recommend someone?

[2019-07-15 15:24] hauschke commented on #1182
@whedon generate pdf

[2019-07-15 15:24] whedon commented on #1182
[code]

[2019-07-15 15:24] whedon commented on #1182
PDF failed to compile for issue #1182 with the following error:

 Error reading bibliography ./paper.bib (line 33, column 9):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-15 15:26] arfon commented on #1531
@whedon check references from branch joss_paper

[2019-07-15 15:26] whedon commented on #1531
[code]

[2019-07-15 15:26] whedon commented on #1531
[code]

[2019-07-15 15:27] arfon commented on #1531
I've added this to @whedon's capabilities now :point_up:

I think it's fine to archive `v1.2.1`

[2019-07-15 15:28] arokem commented on #1563
Sorry: I am too busy with other papers right now.

[2019-07-15 15:30] labarba commented on #1466
Hi @abhishektha — neither of the two reviewers have been able to check the functionality of the software, due to the hardware dependency (cameras) and lack of access. Accepting the paper under those conditions is awkward enough, so I would request that you make every effort at improvements that you can, given the reviewer comments.

Since you already have docstrings throughout, it should not be to

[2019-07-15 15:32] pitsianis commented on #1569
Hello there,

Thank you @afron for fixing the pdf generation.

Dear @labarba, I would like to propose Rio Yokota (rioyokota@gsic.titech.ac.jp) as a reviewer. He is very familiar with the methodologies and prior art in this field (N-body, Barnes Hut method) and he will appreciate our improvements.

[2019-07-15 15:36] whedon commented on #1531
[code]

[2019-07-15 15:40] rasbt commented on #1563
Sorry I am currently traveling and won’t be available until mid August

[2019-07-15 15:44] whedon commented on #1531
[code]

[2019-07-15 15:44] ts-adi commented on #1531
@arfon Great work extending whedon's functionality so quickly!
@gkthiruvathukal @dvberkel Looks like references all check out

[2019-07-15 16:21] kthyng commented on #1530
@hugoledoux Want to check in again. If you know when you can work on this review, I will wait to ping you again until after that time. Thanks!

[2019-07-15 16:43] lpantano commented on #1547
@whedon assign @rbatorsky as reviewer

[2019-07-15 16:43] whedon commented on #1547
OK, the reviewer is @rbatorsky

[2019-07-15 17:00] kyleniemeyer commented on #1543
@arfon @danielskatz @katyhuff I just added @jcsutherland as a collaborator in the `joss-reviews` repo, which (I believe) is what whedon does when adding a reviewer at the pre-review stage.

[2019-07-15 18:06] TheChymera commented on #1171
@danielskatz @arokem sorry for the long delay, I too have been sidetracked by my thesis.

Addressing @effigies ' open concerns: https://github.com/IBT-FMI/COSplay/commit/ba9406744637701d1d586a28551e653960d4041b

Addressing @tanselbaran 's concerns: https://github.com/IBT-FMI/COSplay/commit/413c49149282bbbd39e5ea322fed492ac7aed724
Regarding the question about the amplitude: it is clarified [in the

[2019-07-15 18:16] effigies commented on #1171
My concerns were satisfied, and I'm checking off the boxes that I deferred to @tanselbaran's judgment, as he has checked those.

[2019-07-15 18:49] jcsutherland commented on #1543
# jcsutherland  Review Comments

## Critical issues to be resolved prior to acceptance
- [ ]  **Unit tests** should be implemented.  See [issue 26](https://github.com/Niemeyer-Research-Group/pyMARS/issues/26).  It appears that this is in progress, but the documentation doesn't indicate how to run tests.
- [ ] The [documentation](https://niemeyer-research-group.github.io/pyMARS/usage.html) should c

[2019-07-15 19:05] zbeekman commented on #1468
I have concluded my review and enthusiastically recommend this paper for publication, under the one condition that https://github.com/WRF-CMake/wrf/pull/29 is eventually merged to add contributing guidelines and clarify issue/bug reporting etc.

Furthermore, I would recommend that the authors and editors examine the second paragraph of the paper; the sentence construction is a bit circuitous and h