[2019-06-05 08:59] csoneson commented on #1434
@whedon remind @fauvernierma in three weeks

[2019-06-05 08:59] whedon commented on #1434
Reminder set for @fauvernierma in three weeks

[2019-06-05 10:10] danielskatz commented on #1446
Great, thanks - we'll start the review now then

[2019-06-05 10:11] danielskatz commented on #1446
@whedon add @mdavezac as reviewer

[2019-06-05 10:11] whedon commented on #1446
OK, @mdavezac is now a reviewer

[2019-06-05 10:11] danielskatz commented on #1446
@whedon start review

[2019-06-05 10:11] whedon opened #1487 "[REVIEW]: cppduals: a nestable vectorized templated dual number library for C++11"
**Submitting author:** @tesch1 (<a href="http://orcid.org/0000-0003-4096-1562">Michael Tesch</a>)
**Repository:** <a href="https://gitlab.com/tesch1/cppduals" target ="_blank">https://gitlab.com/tesch1/cppduals</a>
**Version:** v0.1.2
**Editor:** @danielskatz
**Reviewer:** @StewMH, @mdavezac
**Archive:** <a href="https://doi.org/10.5281/zenodo.3528307" target="_blank">10.5281/zenodo.3528307</a>

#

[2019-06-05 10:11] whedon commented on #1446
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1487. Feel free to close this issue now!

[2019-06-05 10:11] whedon commented on #1487
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @StewMH, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-06-05 10:11] whedon commented on #1487
[code]

[2019-06-05 10:12] whedon commented on #1487
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01487/joss.01487/10.21105.joss.01487.pdf)

[2019-06-05 10:14] danielskatz commented on #1487
👋 @StewMH, @mdavezac - thanks for agreeing to review this submission. Your job, as stated in the first comment in this issue, is to go through the paper and the software repository, and check off the boxes in your list as you've done so. When you find something that is a problem, if it's brief, you can mention it here, and if it's less brief or an action for the submitter, open an issue in the sof

[2019-06-05 10:14] #1446 closed

[2019-06-05 10:18] danielskatz commented on #1368
👋 @EricSchles - given that we're now approaching 2 months since the initial partial submission, I suggest we withdraw this, and when you are ready for us to review your paper and software, you resubmit to JOSS at that time.

[2019-06-05 10:22] kgjerde commented on #1342
@whedon generate pdf

[2019-06-05 10:22] whedon commented on #1342
[code]

[2019-06-05 10:22] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-06-05 10:43] kgjerde commented on #1342
@leouieda Great!

1. Please note that I now corrected some very few title capitalisation/formatting issues in https://github.com/kgjerde/corporaexplorer/commit/78d40ef and https://github.com/kgjerde/corporaexplorer/commit/284d6d1.

2. I have updated the version number. The version is now 0.5.0.

3. The Zenodo DOI is http://doi.org/10.5281/zenodo.3239097 (see https://zenodo.org/record/3239097).

[2019-06-05 11:29] prmiles commented on #1417
The updated DOI is [10.5281/zenodo.2660145](http://doi.org/10.5281/zenodo.2660145).  This corresponds to version 1.7.1, which includes the corrections requested by @djmitche

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.2660145.svg)](https://doi.org/10.5281/zenodo.2660145)

I fixed several items in the paper and I am completing my final touch-ups.  I'll let you know as soon as they are comp

[2019-06-05 11:42] lheagy commented on #1328
And just a note @zhangning737: if we don't hear back by early next week, I will begin looking for another reviewer to jump in. Thanks for your patience

[2019-06-05 11:51] gassmoeller commented on #1451
Hi @leouieda and @banesullivan, I apologize for the slow process, I was at a developer meeting for one of my projects last week. I will finish the review until early next week.

[2019-06-05 12:03] gassmoeller commented on #1451
@banesullivan: I am not sure if it matters, but this issue still lists version 1.2.3 as the one for review, while you mentioned in #1384 that you would like to submit 2.0.0 for review. We should probably change the version in this issue.

[2019-06-05 12:06] zbeekman commented on #1474
@danielskatz My review is finished.

I can confirm that the paper and the source code meet the review criteria determined by JOSS, and enthusiastically recommend this paper/package for publication. `f90nml` fills an important void for enabling mixed language Python/Fortran programming, more easily designing and executing simulation and analysis workflow pipelines, and easing legacy code modernizat

[2019-06-05 12:10] katyhuff commented on #1417
@whedon generate pdf

[2019-06-05 12:11] whedon commented on #1417
[code]

[2019-06-05 12:11] whedon commented on #1417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01417/joss.01417/10.21105.joss.01417.pdf)

[2019-06-05 12:23] danielskatz commented on #1474
Thanks @zbeekman!

[2019-06-05 12:24] danielskatz commented on #1474
👋 @marshallward - please take

as advice - if you want to make changes based on this, please do.

[2019-06-05 12:26] marshallward commented on #1474
Thanks @danielskatz, I am currently working through this and other issues with @zbeekman and @tclune in the GitHub issues cited above, it's been valuable feedback.

[2019-06-05 12:31] prmiles commented on #1417
I have completed my final touchups.  However, I noticed in the article proof that the "Archive" link under "Software" does not appear to be working.  The "Review" and "Repository" links appear to be working, so I figured I would ask.  Thanks!

[2019-06-05 12:41] VivianePons commented on #1351
Perfect, thank you :)

[2019-06-05 12:42] VivianePons commented on #1351
@arfon : have you seen my question about the license? I believe CeCILL-C is ok instead of CeCILL-2.1 but I am no expert...

[2019-06-05 12:51] VivianePons commented on #1410
Hi, thank you for the summary. I am happy to see that the review has been helpful and has improved the overall quality!

Where are we on the reviewer side? Whenever I have your green light, I can move forward with the process.

[2019-06-05 12:57] lucask07 commented on #1448
@Nyctanthous looks great, thanks for the thorough response to my critique. Note that I cannot verify the functionality since I don't have the hardware. I now accept this submission. Nice work!

[2019-06-05 13:10] mfroeling commented on #1204
@cMadan all done created a new DOI for the 2.2 release.

https://zenodo.org/record/3239261

[2019-06-05 13:21] pshriwise commented on #1486
@ryanstwrt during install I got the following error:

`error: package directory 'frdige/driver' does not exist`

Just a typo it seems. Please find a relevant PR in your repo.

[2019-06-05 13:33] santisoler commented on #1410
Hi @VivianePons.

I don't think I can improve @lmoresi summary. But I can add a few things.

I consider the paper and the repository have gone through a great improvement in comparison with the first submitted version.
Regarding JOSS's requirements, I think they are all almost satisfied. I open a small issue (https://github.com/underworldcode/stripy/issues/36) and two Pull Requests (https://github

[2019-06-05 13:45] hrhotz commented on #1407
@IbrahimTanyalcin - I am still looking at the "clustalW.html" example referring to the same points as in my comments from April 29/30:

1.         solved
2.         it is great, you have added the other color schemes. But it is not clear to me, how I change from  "aa" to "jalviewClustal " in this example
3.         solved
4.         after adding ",{conservation:true}" it displays the conservation.

[2019-06-05 13:51] hrhotz commented on #1407
@csoneson WRT "General checks": I have added the "OK" for 'Repository' and 'Version'...though, I am still confused about the link for "repository url" and I am not sure about the version: is there any update mechanism in order to change it to 18.0

[2019-06-05 13:59] katyhuff commented on #1417
That's part of the following steps.
Never fear.

[2019-06-05 14:00] katyhuff commented on #1417
@whedon generate pdf

[2019-06-05 14:00] whedon commented on #1417
[code]

[2019-06-05 14:00] whedon commented on #1417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01417/joss.01417/10.21105.joss.01417.pdf)

[2019-06-05 14:00] katyhuff commented on #1417
@whedon check references

[2019-06-05 14:00] whedon commented on #1417
[code]

[2019-06-05 14:01] whedon commented on #1417
[code]

[2019-06-05 14:01] katyhuff commented on #1417
@whedon set v1.7.1 as version

[2019-06-05 14:01] whedon commented on #1417
OK. v1.7.1 is the version.

[2019-06-05 14:02] katyhuff commented on #1417
@whedon set 10.5281/zenodo.2660145 as archive

[2019-06-05 14:02] whedon commented on #1417
OK. <a href="https://doi.org/10.5281/zenodo.2660145" target="_blank">10.5281/zenodo.2660145</a> is the archive.

[2019-06-05 14:03] katyhuff commented on #1417
@whedon generate pdf

[2019-06-05 14:03] whedon commented on #1417
[code]

[2019-06-05 14:03] whedon commented on #1417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01417/joss.01417/10.21105.joss.01417.pdf)

[2019-06-05 14:13] StewMH commented on #1487
I tried compiling this with GCC 7.3 and got this error:
[code]

I think you need a workaround here. See e.g. https://github.com/opencv/opencv/pull/8080 for a similar issue.

I didn't have any luck compiling it with Clang on Ubuntu either, so far.

Also, it's Apache-licensed but you have MPL-licensed files:
https://gitlab.com/tesch1/cppduals/blob/master/duals/arch/AVX/Dual.h

[2019-06-05 14:16] ryanstwrt commented on #1486
@pshriwise Thanks for the catch! I've merged the changes into the master branch.

[2019-06-05 14:23] katyhuff commented on #1417
@openjournals/joss-eics I believe this paper is ready for acceptance!

[2019-06-05 14:26] strengejacke commented on #1412
Dear @alexpghayes,

on behalf of the co-authors, let me thank you again for your thorough comments on our submission. We substantially revised our paper, the package documentation and the accompanying website, and revised package code and functions as suggested. Let me give you a more detailed response to your suggestions and our revisions.

Thank you for this comment. We have revised the paper ac

[2019-06-05 14:29] strengejacke commented on #1412
@whedon generate pdf

If the paper.md does not yet compile, we probably can use a temporary PDF?
Here is the link: https://github.com/easystats/insight/blob/master/paper/paper.pdf

[2019-06-05 14:29] whedon commented on #1412
[code]

[2019-06-05 14:30] whedon commented on #1412
PDF failed to compile for issue #1412 with the following error:

 Error producing PDF.
! Missing number, treated as zero.
<to be read again>
                   \futurelet
l.435   expression \texttt{x\ +\ I(x\ \^{}\ 2)}

Looks like we failed to compile the PDF

[2019-06-05 14:31] strengejacke commented on #1412
@whedon generate pdf

[2019-06-05 14:31] whedon commented on #1412
[code]

[2019-06-05 14:32] whedon commented on #1412
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01412/joss.01412/10.21105.joss.01412.pdf)

[2019-06-05 14:56] labarba commented on #1417
@prmiles — Could you edit the Zenodo archive metadata, so the title matches the paper? You may want to add your ORCID, also.

[2019-06-05 15:06] katyhuff commented on #1417
Whoops! Sorry I missed this @labarba. Thank you for catching it.

[2019-06-05 15:07] prmiles commented on #1417
I have updated the Zenodo archive metadata title such that it matches the paper.

Regarding the ORCID, I have linked it to my Zenodo account.  Is that what you are requesting?  The ORCiD is in the markdown file for the paper as well.  I believe I formatted it correctly.

Thank you!

[2019-06-05 15:10] prmiles commented on #1417
I added my ORCiD as part of the Zenodo metadata.  Sorry for my confusion!

[2019-06-05 15:20] labarba commented on #1417
@whedon accept

[2019-06-05 15:20] whedon commented on #1417
[code]

[2019-06-05 15:21] whedon commented on #1417
[code]

[2019-06-05 15:21] whedon commented on #1417
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/734

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/734, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-05 15:52] arfon commented on #1351
I don't know about any differences sorry. If CeCILL-2.1 is the only OSI-approved one then we would need the authors to switch to that license before we can accept this submission.

[2019-06-05 16:02] labarba commented on #1417
Folks, I read the paper and I find it awfully hard ... I mean, it really is full of jargon and acronyms. Nobody commented on that during the review? JOSS does say in the Author guidelines that the article should be written aimed at a non-specialist technical audience. Do you want to give this a new look?

[2019-06-05 16:36] prmiles commented on #1417
I apologize for the confusion regarding the intended audience.  I am happy to update the paper to communicate with a non-specialist technical audience, but I will need a few days to do this effectively.  Assuming the other reviewers are in agreement, I will begin updating the paper and hopefully have it ready by Monday.  Thank you for the feedback.

[2019-06-05 17:08] hneutr commented on #1458
I've updated `setup.py` and unified the versioning scheme to match what is on PyPi. I've updated (after making — see point below) the changelog to reflect this versioning scheme.

I apologize if I'm missing where this is described, but I'm not sure how to update the JOSS submission.

I agree this would be useful. I'm unfamiliar with the tagging process, but am reading up now, and have created [an

[2019-06-05 17:11] hneutr commented on #1458
@vc1492a thank you for your thorough review! I believe I've addressed your points — they were all excellent, and improved the software. The perspective of a seasoned python developer is much appreciated!

@cMadan I've responded to @vc1492a's review above!

I believe I hit everything mentioned, but if there's any points I've missed, please let me know and I'll circle back.

[2019-06-05 17:42] mbobra commented on #1484
@whedon assign @PingjunChen as reviewer

[2019-06-05 17:42] whedon commented on #1484
OK, the reviewer is @PingjunChen

[2019-06-05 17:43] mbobra commented on #1484
@whedon add @acolum as reviewer

[2019-06-05 17:43] whedon commented on #1484
OK, @acolum is now a reviewer

[2019-06-05 17:46] mbobra commented on #1484
@whedon start review magic-word=bananas

[2019-06-05 17:46] whedon opened #1488 "[REVIEW]: Delira: A High-Level Framework for Deep Learning in Medical Image Analysis"
**Submitting author:** @haarburger (<a href="http://orcid.org/0000-0002-2405-640X">Christoph Haarburger</a>)
**Repository:** <a href="https://github.com/justusschock/delira" target ="_blank">https://github.com/justusschock/delira</a>
**Version:** v0.3.2
**Editor:** @mbobra
**Reviewer:** @PingjunChen, @acolum
**Archive:** <a href="https://doi.org/10.5281/zenodo.3247307" target="_blank">10.5281/zeno

[2019-06-05 17:46] whedon commented on #1484
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1488. Feel free to close this issue now!

[2019-06-05 17:46] whedon commented on #1488
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @PingjunChen, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-06-05 17:46] whedon commented on #1488
[code]

[2019-06-05 17:46] whedon commented on #1488
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01488/joss.01488/10.21105.joss.01488.pdf)

[2019-06-05 17:46] #1484 closed

[2019-06-05 17:46] IbrahimTanyalcin commented on #1407
@hrhotz  No worries, I will write a small section to explain how links can be used. The ClustalW normally specifies a single whitespace, the second example is more recent (https://github.com/IbrahimTanyalcin/lexicon-mono-seq/blob/master/examples/asyncFetch.html), I'll try  if I can update the converter to except tabs.
I'll also add a section of how you can change it from "aa" to other color scheme

[2019-06-05 17:49] labarba commented on #1417
The [relevant section](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) of our documentation says:

I really appreciate your willingness to give this another pass. It benefits JOSS and all our community if we try to communicate better about the software we're publishing. (And it's hard work to write about technical topics without jargon.)

[2019-06-05 18:56] choldgraf commented on #1408
hey - a little slammed right now, but will try to get to it ASAP. My slammed-ness will continue through the end of next week, after which it'll calm down. So if I find a moment to take a look at this before then, I will, but otherwise it'll be after the end of next week.

[2019-06-05 18:58] katyhuff commented on #1417
@labarba Thanks for this feedback. I did find it readable, but likely because I am quite familiar with this area of application. I'll be more careful about this jargon-blindness in the future.

@prmiles Thank you for being willing to make these changes. In addition to a reduction of acronyms, perhaps moving the 4th paragraph closer to the beginning of the paper would help to provide a softer onram

[2019-06-05 19:10] mbobra commented on #1488
Sorry about Whedon's comment, @acolum! You are a reviewer, too :sunny:

[2019-06-05 19:13] prmiles commented on #1417
@katyhuff Thank you for the suggestion regarding the 4th paragraph!  I'm grateful the issue was brought up, and thank you for your patience as I make the updates.

[2019-06-05 21:53] karthik commented on #1442
Pinged reviewer over email on 06/05

[2019-06-05 21:53] lheagy commented on #1408
Thanks @choldgraf for the update. Best of luck getting through the slammed-ness!!

[2019-06-05 22:40] gvegayon commented on #1428
Thanks all (@mschubert @mllg @wlandau @HenrikBengtsson) for all the comments/suggestions! @karthik, besides of it be lightweight (actually, dependency free), the other important contributions are:

* Tailored for Slurm workflow (no need to use template files to set up a job, this is done on the fly).

* Accessing bash commands directly from within R (cancel jobs, query jobs, see details on the job

[2019-06-05 22:52] djmitche commented on #1417
I'll look more closely at that in future reviews.  I did have to do a bit of background reading to understand the purpose of the package.

[2019-06-05 23:31] kellyrowland commented on #1486
@ryanstwrt Please see issue #2 in your code repository for a request regarding clearer installation instructions.

[2019-06-06 01:54] rheiland commented on #1408
Thank you both.

[2019-06-06 02:19] PingjunChen commented on #1488
@haarburger please add DOI to references if exist. Also, the current reference format looks not standard.

[2019-06-06 04:09] brainstorm commented on #1465
@mgalland I see, my point was that spacing were similar to the GH-rendered markdown version https://github.com/KoesGroup/Snakemake_ChIPseq_PE/blob/master/paper.md, but there might be other tricks to display it well on @arfon's JOSS renderer.

Nevermind, looks good anyway, it was just a minor spacing detail. Looks good to me, could you generate a Zenodo DOI so that it can be archived?

Thanks every

[2019-06-06 06:11] hrhotz commented on #1407
@IbrahimTanyalcin WRT no need to write a converter to except tabs...it could cause other issues. It is better to fix the example (If time permits, I will make a pull request later).

[2019-06-06 07:56] mgalland commented on #1465
@brainstorm Thanks! Done! I've made a Zenodo record just know. Thanks to all reviewers and contributors. Here is the link: https://zenodo.org/record/3240026

[2019-06-06 08:35] tesch1 commented on #1487
Hi,

Thanks for reviewing!

Ah yeah, the "older gcc missing avx primitive".  Just checked in an update/workaround.  Does it compile for you now?

Also, did you run into the same error(s) under clang, or was there something else?

Regarding the licenses, yes, there are some files that were modified from Eigen, so retain the Eigen license.  These are only included with `#include <duals/dual_eigen>`.

[2019-06-06 11:38] whedon opened #1489 "[PRE REVIEW]: BCAW: Automated tool for codon usage bias analysis for molecular evolution"
**Submitting author:** @AliYoussef96 (<a href="http://orcid.org/0000-0002-5201-387X">Ali Youssef</a>)
**Repository:** <a href="https://github.com/AliYoussef96/BCAW-Tool" target ="_blank">https://github.com/AliYoussef96/BCAW-Tool</a>
**Version:** v1.0.0
**Editor:** @mgymrek
**Reviewers:** @Benjamin-Lee

**Author instructions**

Thanks for submitting your paper to JOSS @AliYoussef96. **Currently, th

[2019-06-06 11:38] whedon commented on #1489
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-06 11:38] whedon commented on #1489
[code]

[2019-06-06 11:38] whedon commented on #1489
PDF failed to compile for issue #1489 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8270d9fd886/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8270d9fd886/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8

[2019-06-06 11:47] labarba commented on #1489
👋 @AliYoussef96 — You need to put your references into a `.bib` file, and add this to the metadata of the paper, as shown in the [Author Guide](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

Also, on a first look at your paper, I want to point out that Summary section throws the reader into the deep end with technical background and lots of jargon. Please g

[2019-06-06 11:54] labarba commented on #1489
Folks — the author suggested @csoneson as editor, but given her focus on R (this is a Python package), maybe another editor can best handle this? Could either @lpantano or @mgymrek take this submission? Let me know!

[2019-06-06 11:56] whedon opened #1490 "[PRE REVIEW]: phasespace: $n$-body phase space generation in Python"
**Submitting author:** @apuignav (<a href="http://orcid.org/0000-0001-8868-2947">Albert Puig Navarro</a>)
**Repository:** <a href="https://github.com/zfit/phasespace/" target ="_blank">https://github.com/zfit/phasespace/</a>
**Version:** 1.0.2
**Editor:** @poulson
**Reviewers:** @mdoucet, @stuartcampbell, @vyasr

**Author instructions**

Thanks for submitting your paper to JOSS @apuignav. **Curren

[2019-06-06 11:56] whedon commented on #1490
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-06 11:56] whedon commented on #1490
[code]

[2019-06-06 11:56] whedon commented on #1490
PDF failed to compile for issue #1490 with the following error:

 Error reading bibliography ./paper.bib (line 13, column 7):
unexpected "S"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-06 11:59] labarba commented on #1490
@apuignav Please check your `.bib` file... I think you're missing a comma in line 12.

[2019-06-06 12:02] labarba commented on #1490
👋  @poulson Could you handle this submission as editor? Have a look!

[2019-06-06 12:04] whedon opened #1491 "[PRE REVIEW]: OceanSpy: A Python package to facilitate ocean model data analysis and visualization"
**Submitting author:** @malmans2 (<a href="http://orcid.org/0000-0001-6849-3647">Mattia Almansi</a>)
**Repository:** <a href="https://github.com/malmans2/oceanspy" target ="_blank">https://github.com/malmans2/oceanspy</a>
**Version:** v0.0.12
**Editor:** @kthyng
**Reviewers:** @tomchor, @platipodium

**Author instructions**

Thanks for submitting your paper to JOSS @malmans2. The JOSS editor @kthy

[2019-06-06 12:04] whedon commented on #1491
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@kthyng) to find some reviewers for yo

[2019-06-06 12:04] whedon commented on #1491
[code]

[2019-06-06 12:04] whedon commented on #1491
PDF failed to compile for issue #1491 with the following error:

 Can't find any papers to compile :-(

[2019-06-06 12:05] labarba commented on #1491
👋  @kthyng — The submitting author suggested you as editor, and it looks right up your alley, so I assigned you. Let me know if you foresee any issues handling this. Thanks!

[2019-06-06 12:06] labarba commented on #1491
@whedon generate pdf

[2019-06-06 12:06] whedon commented on #1491
[code]

[2019-06-06 12:06] whedon commented on #1491
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01491/joss.01491/10.21105.joss.01491.pdf)

[2019-06-06 12:07] apuignav commented on #1490
Yup, sorry, done!

[2019-06-06 12:17] apuignav commented on #1490
Maybe @betatim, even though he's at the top of the list?

[2019-06-06 12:18] labarba commented on #1490
@whedon generate pdf

[2019-06-06 12:18] whedon commented on #1490
[code]

[2019-06-06 12:18] whedon commented on #1490
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01490/joss.01490/10.21105.joss.01490.pdf)

[2019-06-06 12:48] brainstorm commented on #1465
@whedon set https://zenodo.org/record/3240026 as archive

[2019-06-06 12:49] whedon commented on #1465
https://zenodo.org/record/3240026 doesn't look like an archive DOI.

[2019-06-06 12:49] brainstorm commented on #1465
@whedon set 10.5281/zenodo.3240026 as archive

[2019-06-06 12:49] whedon commented on #1465
OK. <a href="https://doi.org/10.5281/zenodo.3240026" target="_blank">10.5281/zenodo.3240026</a> is the archive.

[2019-06-06 12:50] mayou36 commented on #1490
@whedon generate pdf

[2019-06-06 12:50] whedon commented on #1490
[code]

[2019-06-06 12:50] brainstorm commented on #1465
All camera ready, @arfon ;)

[2019-06-06 12:50] whedon commented on #1490
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01490/joss.01490/10.21105.joss.01490.pdf)

[2019-06-06 12:55] apuignav commented on #1490
Latest proof looks good to me!

[2019-06-06 13:23] mdavezac commented on #1487
@tesch1, have you considered dual licensing the non-eigen parts with MPL as well as Apache? That way, users can pick a format where the whole product is covered under a single license.

[2019-06-06 13:50] whedon opened #1492 "[PRE REVIEW]: STUMPY: A Powerful and Scalable Python Library for Time Series Data Mining"
**Submitting author:** @seanmylaw (<a href="http://orcid.org/0000-0003-2594-1969">Sean Law</a>)
**Repository:** <a href="https://github.com/TDAmeritrade/stumpy" target ="_blank">https://github.com/TDAmeritrade/stumpy</a>
**Version:** v1.0
**Editor:** @mbobra
**Reviewers:** @ejolly, @hooman650

**Author instructions**

Thanks for submitting your paper to JOSS @seanmylaw. **Currently, there isn't an

[2019-06-06 13:50] whedon commented on #1492
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-06 13:50] whedon commented on #1492
[code]

[2019-06-06 13:50] whedon commented on #1492
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01492/joss.01492/10.21105.joss.01492.pdf)

[2019-06-06 14:06] AliYoussef96 commented on #1489
I would also suggest @benjamin-lee. Thank You.

[2019-06-06 14:06] Benjamin-Lee commented on #1489
I'm happy to do it!

[2019-06-06 14:11] haarburger commented on #1488
whedon commands

[2019-06-06 14:12] haarburger commented on #1488
@whedon commands

[2019-06-06 14:12] whedon commented on #1488
Here are some things you can ask me to do:

[code]

[2019-06-06 14:14] tesch1 commented on #1487
Oh yes, that's a great idea.  I'll do that.  I picked Apache+LLVM because libc++ uses it, and wanted to be broadly compatible with that, but dual-licensing is even better.

[2019-06-06 14:23] haarburger commented on #1488
@whedon generate pdf from branch reformat-paper-refs

[2019-06-06 14:23] whedon commented on #1488
[code]

[2019-06-06 14:23] whedon commented on #1488
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01488/joss.01488/10.21105.joss.01488.pdf)

[2019-06-06 14:24] arfon commented on #1465
@whedon accept

[2019-06-06 14:24] whedon commented on #1465
[code]

[2019-06-06 14:24] whedon commented on #1465
[code]

[2019-06-06 14:24] whedon commented on #1465
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/735

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/735, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-06 14:25] haarburger commented on #1488
@PingjunChen, unfortunately none of the references has a DOI. Please let me know if you have further suggestions on how to improve the reference format.

[2019-06-06 14:42] prmiles commented on #1417
I have modified the paper to accommodate a more general technical audience.  The first couple paragraphs provide a broad perspective of why the software is useful and where it can be used in scientific research (hopefully!).   My hope is that the first part of the paper gives the reader the big picture and enough information to know whether or not they could use the software.

The latter part of t

[2019-06-06 14:44] mgymrek commented on #1256
Thanks @timClicks.

@scan2001. I agree with these comments. Including tests and community guidelines is a JOSS requirement. Are you able to add tests for TextWiller functionality, and also to expand the README with guidelines for community members to contribute or get support?

You may look at other JOSS submissions for examples. e.g. https://github.com/ropensci/citesdb

[2019-06-06 14:47] arfon commented on #1465
@whedon accept deposit=true

[2019-06-06 14:47] whedon commented on #1465
[code]

[2019-06-06 14:47] whedon commented on #1465
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1136645879358795776) 👈 🐦🐦🐦

[2019-06-06 14:47] whedon commented on #1465
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/736
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01465](https://doi.org/10.21105/joss.01465)
2. If everything looks go

[2019-06-06 14:50] arfon commented on #1465
@vladsaveliev - many thanks for your review and to @brainstorm for editing this submission ✨

@mgalland - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-06 14:50] #1465 closed

[2019-06-06 14:50] whedon commented on #1465
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01465/status.svg)](https://doi.org/10.21105/joss.01465)

**We need your help!**

Journal of Open Source Softwar

[2019-06-06 14:50] cMadan commented on #1204
@whedon set v2.2 as version

[2019-06-06 14:50] whedon commented on #1204
OK. v2.2 is the version.

[2019-06-06 14:51] cMadan commented on #1204
@whedon set 10.5281/zenodo.3239261 as archive

[2019-06-06 14:51] whedon commented on #1204
OK. <a href="https://doi.org/10.5281/zenodo.3239261" target="_blank">10.5281/zenodo.3239261</a> is the archive.

[2019-06-06 15:01] cMadan commented on #1204
@whedon accept

[2019-06-06 15:01] whedon commented on #1204
[code]

[2019-06-06 15:02] whedon commented on #1204
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/737

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/737, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-06 15:02] whedon commented on #1204
[code]

[2019-06-06 15:05] cMadan commented on #1204
@openjournals/joss-eics, I think we're all set to accept here!

[2019-06-06 15:14] AliYoussef96 commented on #1489
@whedon commands

[2019-06-06 15:14] whedon commented on #1489
Here are some things you can ask me to do:

[code]

[2019-06-06 15:20] PingjunChen commented on #1488
@haarburger Thanks, now the reference format should be fine.

I have some difficulty to understand the installation on the backend. Take tensorflow as an example,  does ```pip install delira[tf]``` mean ```pip install delira tf```? But in PyPI, `tf` is not `tensorflow` . Please give more explicit installation instructions.

Because of the complexity of this framework, I need more time to check the

[2019-06-06 15:22] labarba commented on #1489
Thanks for agreeing to review this JOSS submission, @Benjamin-Lee! I will assign you now, but hold your horses, as we haven't assigned the handling editor yet (and they'll want a second reviewer).

I'm waiting for either @lpantano or @mgymrek to agree to edit.

[2019-06-06 15:23] labarba commented on #1489
@whedon assign @Benjamin-Lee as reviewer

[2019-06-06 16:23] zhangning737 commented on #1328
@lheagy no problem...

[2019-06-06 18:06] labarba commented on #1417
@whedon generate pdf

[2019-06-06 18:06] whedon commented on #1417
[code]

[2019-06-06 18:06] whedon commented on #1417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01417/joss.01417/10.21105.joss.01417.pdf)

[2019-06-06 18:18] labarba commented on #1417
Please delete the last sentence before the acknowledgements, and the citation to the Zenodo deposit. We ask that you don't include this as a citation, because the archive will be highlighted in the margin decorators on the first page of the paper (and the DOIs will be linked in the metadata of the paper).

[2019-06-06 18:24] labarba commented on #1204
@mfroeling Could you edit the Zenodo archive metadata so that the title matches the JOSS paper? Thanks!

[2019-06-06 18:33] prmiles commented on #1417
I have removed the final sentence, including the citation to the Zenodo deposit.  I also removed the Zenodo information from the .bib file.

[2019-06-06 18:48] labarba commented on #1417
@whedon accept

[2019-06-06 18:48] whedon commented on #1417
[code]

[2019-06-06 18:49] whedon commented on #1417
[code]

[2019-06-06 18:49] whedon commented on #1417
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/738

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/738, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-06 18:51] labarba commented on #1417
Hmm. Did you forget to push the change? I still see the sentence and citation in the PDF created with the `accept` command above.

[2019-06-06 18:51] seanlaw commented on #1492
@whedon commands

[2019-06-06 18:51] whedon commented on #1492
Here are some things you can ask me to do:

[code]

[2019-06-06 18:52] seanlaw commented on #1492
@whedon generate pdf

[2019-06-06 18:52] whedon commented on #1492
[code]

[2019-06-06 18:52] whedon commented on #1492
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01492/joss.01492/10.21105.joss.01492.pdf)

[2019-06-06 19:00] prmiles commented on #1417
The paper looks correct in the master version of my GitHub repository... I'm not entirely sure how the compiling process works with whedon.  Does whedon pull the latest version from the repository when you use the accept command?  Or only when you generate the pdf?

[2019-06-06 19:11] labarba commented on #1417
@whedon generate pdf

[2019-06-06 19:11] whedon commented on #1417
[code]

[2019-06-06 19:11] whedon commented on #1417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01417/joss.01417/10.21105.joss.01417.pdf)

[2019-06-06 19:13] labarba commented on #1417
@whedon accept

[2019-06-06 19:13] whedon commented on #1417
[code]

[2019-06-06 19:14] whedon commented on #1417
[code]

[2019-06-06 19:14] whedon commented on #1417
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/739

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/739, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-06 19:26] labarba commented on #1417
@whedon accept deposit=true

[2019-06-06 19:26] whedon commented on #1417
[code]

[2019-06-06 19:27] whedon commented on #1417
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1136716204918411264) 👈 🐦🐦🐦

[2019-06-06 19:27] whedon commented on #1417
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/740
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01417](https://doi.org/10.21105/joss.01417)
2. If everything looks go

[2019-06-06 19:30] labarba commented on #1417
Congrats, @prmiles, your paper is published!
Huge thanks to our Rditor: @katyhuff, and reviewers: @djmitche, @katyhuff

[2019-06-06 19:31] labarba commented on #1417
(Published from my phone at an airport)

[2019-06-06 19:31] #1417 closed

[2019-06-06 19:31] whedon commented on #1417
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01417/status.svg)](https://doi.org/10.21105/joss.01417)

**We need your help!**

Journal of Open Source Softwar

[2019-06-06 22:22] karthik commented on #1428
Thank you @gvegayon for addressing this issue.  This meets JOSS' criteria and I'm happy to send this out for review. Thanks @mschubert and @mllg for volunteering. I'll assign you shortly.

[2019-06-06 22:23] karthik commented on #1428
@whedon add @mschubert as reviewer

[2019-06-06 22:23] whedon commented on #1428
OK, @mschubert is now a reviewer

[2019-06-06 22:23] karthik commented on #1428
@whedon add @mllg as reviewer

[2019-06-06 22:23] whedon commented on #1428
OK, @mllg is now a reviewer

[2019-06-06 22:23] karthik commented on #1428
@whedon start review

[2019-06-06 22:23] whedon opened #1493 "[REVIEW]: sluRm: A lightweight wrapper for HPC with Slurm"
**Submitting author:** @gvegayon (<a href="http://orcid.org/0000-0002-3171-0844">George Vega Yon</a>)
**Repository:** <a href="https://github.com/USCbiostats/sluRm" target ="_blank">https://github.com/USCbiostats/sluRm</a>
**Version:** v0.2-0
**Editor:** @karthik
**Reviewer:** @mschubert, @mllg
**Archive:** <a href="https://doi.org/10.5281/zenodo.3272773" target="_blank">10.5281/zenodo.3272773</a>

[2019-06-06 22:23] whedon commented on #1428
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1493. Feel free to close this issue now!

[2019-06-06 22:23] whedon commented on #1493
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mschubert, @mllg it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-06-06 22:23] whedon commented on #1493
[code]

[2019-06-06 22:24] #1428 closed

[2019-06-06 22:24] whedon commented on #1493
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01493/joss.01493/10.21105.joss.01493.pdf)

[2019-06-06 22:30] karthik commented on #1493
@whedon check references

[2019-06-06 22:30] whedon commented on #1493
[code]

[2019-06-06 22:30] whedon commented on #1493
[code]

[2019-06-07 08:17] tgeijten commented on #1421
@Kevin-Mattheus-Moerman we haven't heard from @demotu since the beginning of the review (May 1st). What to do?

[2019-06-07 08:27] Kevin-Mattheus-Moerman commented on #1421
@tgeijten I've e-mailed @demotu a reminder. If we do not hear back from him we'll proceed without his review.

[2019-06-07 08:28] Kevin-Mattheus-Moerman commented on #1421
@modenaxe thanks again for the awesome review efforts here! Can you review the changes implemented by @tgeijten?

[2019-06-07 08:50] mfroeling commented on #1204
@labarba The Zenodo tiltle now matches the JOSS paper.

[2019-06-07 09:01] haarburger commented on #1488
@PingjunChen the pip command is supposed to be used exactly as stated in our readme. Maybe [this](https://stackoverflow.com/questions/46775346/what-do-square-brackets-mean-in-pip-install) explanation about the syntax is helpful. It means that we want to install the `tensorflow`/`pytorch` backend as an extra.

[2019-06-07 09:39] sepandhaghighi commented on #1485
another minor issue ;-)
big-data-lab-team/OrpailleCC/issues/11

[2019-06-07 13:53] rrenka commented on #1410
I have checked all the boxes.  Congratulations to the authors on your excellent work!

[2019-06-07 14:36] prmiles commented on #1417
Thank you again for all the feedback on the paper and software!

[2019-06-07 14:55] PingjunChen commented on #1488
@haarburger The link you provide helps me understand the usage of the square bracket. Although for deep learning people,  `tf` defaults to `tensorflow`, and you also give `tensorflow` link to `tf`. Nevertheless, I still suggest changing `tf` to `tensorflow`, at least in the `Installation` part. The main reason is to avoid ambiguity, as [`tf`](https://pypi.org/project/tf/) is already used by https:

[2019-06-07 15:02] vc1492a commented on #1458
@hneutr Thanks for your detailed response! I've examined the updates and they look good to me. In reply to your question about what drives me to prefer that ordering on the UI, it just seems to be that a user would first toggle on the option to show node names before doing a secondary filtering.

[2019-06-07 15:06] kthyng commented on #1491
Yes I'll be happy to edit this!

@malmans2 do you have any suggested reviewers from [our list](https://bit.ly/joss-reviewers)?

[2019-06-07 15:11] cMadan commented on #1294
@tyarkoni, can you give an update here?

[2019-06-07 15:32] malmans2 commented on #1491
What about edoddridge? He is familiar with Pangeo and MITgcm (OceanSpy can be tested on our MITgcm output publicly available).

[2019-06-07 15:38] cMadan commented on #1476
@esdalmaijer @TobiasRoeddiger @EmotionCognitionLab @RingoHHuang @pollen-robotics @nu-childlab, would you be interested and available in reviewing this software paper for publication at JOSS?

[2019-06-07 16:15] hneutr commented on #1458
@vc1492a I buy your logic, and have swapped the widget positions!

[2019-06-07 18:38] kthyng commented on #1491
@edoddridge Are you willing to do another review for JOSS? I know you did one for me pretty recently so I extra understand if you can't.

We like to have two reviewers, so I'm asking several to see if we can get two total.

@tomchor or @platipodium I see you are both new to JOSS reviewing and have relevant expertise of oceanography, modeling (though this tool can be for data too), and presumably u

[2019-06-07 21:38] JedS6391 commented on #1337
Hi @gkthiruvathukal, apologies for the lack of updates. Unfortunately I have not had time recently to dedicate to the LGP project, and as such I am happy for this review to be cancelled and postponed until I can satisfy the requirements.

[2019-06-07 21:46] gkthiruvathukal commented on #1337
@JedS6391  I don't want you to withdraw the submission. You have been good about addressing 2/3 issues. Can you give me an idea of when you might be able to do it? I will work with your schedule and nudge you accordingly.

[2019-06-07 21:58] JedS6391 commented on #1337
Much appreciated! I will able to start working on the remaining issues over the next few weekends.

[2019-06-07 22:09] scan2001 commented on #1256
Thanks @mgymrek and @timClicks.
We will add tests for TextWiller functionality and the guidelines for community members to contribute or get support.

[2019-06-08 05:00] gkthiruvathukal commented on #1436
@gradvohl, Would you be willing to contribute a review for this JOSS submission?

[2019-06-08 05:01] gkthiruvathukal commented on #1436
@federeghe, Would you be willing to contribute a review for this JOSS submission?

[2019-06-08 06:12] MaciejDanko commented on #1481
... I think this is Whedon's problem, I could generate the pdf without mistakes.
Anyway, I shortened the caption of the figure 3 and added additional blank lines
Could you check if it works now?

[2019-06-08 08:55] federeghe commented on #1436
@gkthiruvathukal yes, I can review this.

[2019-06-08 09:56] gassmoeller commented on #1451
Dear @leouieda and @banesullivan

I have now finished my review of PVGeo and the accompanying publication in JOSS and can fully recommend its publication. I have verified that the software works as described and I am convinced that it addresses an important need for Geoscientists that can be well extended to more applications in the future. The repository structure is logical and follows best prac

[2019-06-08 12:27] gradvohl commented on #1436
Yes. I am happy to review it.

[2019-06-08 15:18] gkthiruvathukal commented on #1436
@whedon assign @federeghe as reviewer

[2019-06-08 15:18] whedon commented on #1436
OK, the reviewer is @federeghe

[2019-06-08 15:19] gkthiruvathukal commented on #1436
@whedon assign @gradvohl as reviewer

[2019-06-08 15:19] whedon commented on #1436
OK, the reviewer is @gradvohl

[2019-06-08 15:19] gkthiruvathukal commented on #1436
@whedon start review

[2019-06-08 15:19] whedon opened #1494 "[REVIEW]: mTower: Trusted Execution Environment for MCU-based devices"
**Submitting author:** @omoliavko (<a href="http://orcid.org/0000-0003-3167-983X">Oleksandr Moliavko</a>)
**Repository:** <a href="https://github.com/Samsung/mTower.git" target ="_blank">https://github.com/Samsung/mTower.git</a>
**Version:** v0.1
**Editor:** @gkthiruvathukal
**Reviewer:** @gradvohl
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/407ce6c4610a1c5628beb57dd30

[2019-06-08 15:19] whedon commented on #1436
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1494. Feel free to close this issue now!

[2019-06-08 15:19] whedon commented on #1494
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gradvohl it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-06-08 15:19] whedon commented on #1494
[code]

[2019-06-08 15:20] #1436 closed

[2019-06-08 15:20] whedon commented on #1494
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01494/joss.01494/10.21105.joss.01494.pdf)

[2019-06-08 16:26] whedon opened #1495 "[PRE REVIEW]: SmartEDA: An R Package for Automated Exploratory Data Analysis"
**Submitting author:** @sayanddude (<a href="http://orcid.org/0000-0002-6477-0376">Sayan Putatunda</a>)
**Repository:** <a href="https://github.com/daya6489/SmartEDA" target ="_blank">https://github.com/daya6489/SmartEDA</a>
**Version:** v0.3.1
**Editor:** @mgymrek
**Reviewers:** @nhejazi, @terrytangyuan

**Author instructions**

Thanks for submitting your paper to JOSS @sayanddude. The JOSS edito

[2019-06-08 16:26] whedon commented on #1495
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jasonclark it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@jasonclark) to find some reviewer

[2019-06-08 16:26] whedon commented on #1495
[code]

[2019-06-08 16:26] whedon commented on #1495
PDF failed to compile for issue #1495 with the following error:

 Error producing PDF.
! Undefined control sequence.
l.444 the ISLR package \citep

Looks like we failed to compile the PDF

[2019-06-08 16:27] labarba commented on #1495
Hi @jasonclark — the author suggested you as editor, and I clicked on the wrong button which assigned you automatically. Please ignore. I'm looking for another editor and will swap that out ASAP.

[2019-06-08 16:32] sayanddude commented on #1495
@wheadon please compile the pdf again. I have corrected the issue.

[2019-06-08 16:34] sayanddude commented on #1495
please compile the pdf again. I have corrected the issue.

[2019-06-08 16:35] labarba commented on #1495
@whedon generate pdf

[2019-06-08 16:35] whedon commented on #1495
[code]

[2019-06-08 16:35] whedon commented on #1495
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01495/joss.01495/10.21105.joss.01495.pdf)

[2019-06-08 16:38] labarba commented on #1495
@mgymrek 👋  — On the basis of topic and current editor loads, I'd like to assign this submission for you to edit. Can you take it?

[2019-06-08 16:39] whedon opened #1496 "[PRE REVIEW]: CGIMP: Real-time exploration and covariate projection for self-organizing map datasets'"
**Submitting author:** @adadiehl (<a href="http://orcid.org/0000-0002-0915-4570">Adam Diehl</a>)
**Repository:** <a href="https://github.com/Boyle-Lab/CGIMP" target ="_blank">https://github.com/Boyle-Lab/CGIMP</a>
**Version:** 1.0.0
**Editor:** @lpantano
**Reviewers:** @adriancbondia,  @arunhpatil

**Author instructions**

Thanks for submitting your paper to JOSS @adadiehl. **Currently, there isn'

[2019-06-08 16:39] whedon commented on #1496
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-08 16:39] whedon commented on #1496
[code]

[2019-06-08 16:39] whedon commented on #1496
PDF failed to compile for issue #1496 with the following error:

 Can't find any papers to compile :-(

[2019-06-08 16:40] labarba commented on #1496
@adadiehl — You will need to rename the file here as `paper.md`
https://github.com/Boyle-Lab/CGIMP/tree/master/paper

[2019-06-08 16:49] labarba commented on #1496
👋  @lpantano — Based on topic and current editor loads, I'd like to assign you this submission. Can you take it? Let me know!

[2019-06-08 16:50] whedon opened #1497 "[PRE REVIEW]: AirMathOSS: A open source script-based tool for electronic aeronautical calculations"
**Submitting author:** @lucaspompeun (<a href="http://orcid.org/0000-0001-9625-4985">Lucas Neves</a>)
**Repository:** <a href="https://github.com/lucaspompeun/AirMathOSS" target ="_blank">https://github.com/lucaspompeun/AirMathOSS</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @lucaspompeun. **Currently, there is

[2019-06-08 16:50] whedon commented on #1497
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-08 16:50] whedon commented on #1497
[code]

[2019-06-08 16:50] whedon commented on #1497
PDF failed to compile for issue #1497 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8270d9fd886/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8270d9fd886/lib/whedon.rb:123:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8270d9fd88

[2019-06-08 16:56] labarba commented on #1497
Hi @lucaspompeun — Could you clarify here how your submission meets the [JOSS requirements](shttps://joss.readthedocs.io/en/latest/submitting.html#submission-requirements)? In particular,

[2019-06-08 16:57] whedon opened #1498 "[PRE REVIEW]: bioLEC: A Python package to measure Landscape Elevational Connectivity"
**Submitting author:** @tristan-salles (<a href="http://orcid.org/0000-0001-6095-7689">Tristan Salles</a>)
**Repository:** <a href="https://github.com/Geodels/bioLEC" target ="_blank">https://github.com/Geodels/bioLEC</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @kbarnhart, @hugoledoux

**Author instructions**

Thanks for submitting your paper to JOSS @tristan-salles. **Currently, th

[2019-06-08 16:57] whedon commented on #1498
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-08 16:57] whedon commented on #1498
[code]

[2019-06-08 16:57] whedon commented on #1498
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01498/joss.01498/10.21105.joss.01498.pdf)

[2019-06-08 17:05] labarba commented on #1498
@kthyng — Based on topic and current editor loads, I'd like to assign this submission to you. Can you take it? Let me know!

[2019-06-08 17:57] whedon opened #1499 "[PRE REVIEW]: Pylustrator: An interactive interface to style matplotlib figures"
**Submitting author:** @Randrian45 (<a href="http://orcid.org/0000-0001-5893-2650">Richard Gerum</a>)
**Repository:** <a href="https://bitbucket.org/fabry_biophysics/pylustrator" target ="_blank">https://bitbucket.org/fabry_biophysics/pylustrator</a>
**Version:** 0.9.2
**Editor:** @lheagy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @Randrian45. **Curren

[2019-06-08 17:57] whedon commented on #1499
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-08 17:57] whedon commented on #1499
[code]

[2019-06-08 17:57] whedon commented on #1499
PDF failed to compile for issue #1499 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1499 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8270d9fd886/lib/whedo

[2019-06-08 18:01] labarba commented on #1499
@whedon generate pdf

[2019-06-08 18:01] whedon commented on #1499
[code]

[2019-06-08 18:01] whedon commented on #1499
PDF failed to compile for issue #1499 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1499 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8270d9fd886/lib/whedo

[2019-06-08 18:02] AliYoussef96 commented on #1489
@whedon generate pdf

[2019-06-08 18:02] whedon commented on #1489
[code]

[2019-06-08 18:03] whedon commented on #1489
PDF failed to compile for issue #1489 with the following error:

 Error reading bibliography ./paper.bib (line 1, column 16):
unexpected "a"
expecting space or ","
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-08 18:06] kthyng commented on #1498
No problem! I’ll work on it during the week.

On Sat, Jun 8, 2019 at 12:05 PM Lorena A. Barba <notifications@github.com>
wrote:

--
Kristen M. Thyng
Assistant Research Professor
Department of Oceanography
Texas A&M University
Eller O&M 607
http://kristenthyng.com

[2019-06-08 18:06] labarba commented on #1499
@arfon Help! The paper is in the submission repo under the `dos` folder
https://bitbucket.org/fabry_biophysics/pylustrator/src/default/docs/
... but `whedon` cannot find it.

[2019-06-08 18:07] AliYoussef96 commented on #1489
@whedon generate pdf

[2019-06-08 18:07] whedon commented on #1489
[code]

[2019-06-08 18:07] whedon commented on #1489
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01489/joss.01489/10.21105.joss.01489.pdf)

[2019-06-08 18:07] labarba commented on #1499
👋  @lheagy — Based on topic and current editor loads, I'd like to assign this submission to you for editing. Can you take it? Let me know!

[2019-06-08 18:09] labarba commented on #1344
Hi @Juke34 — Can you give us an update? If you're not close to done, please let me know of a time period to set a reminder for you.

[2019-06-08 18:13] labarba commented on #1498
@whedon assign @kthyng as editor

[2019-06-08 18:13] whedon commented on #1498
OK, the editor is @kthyng

[2019-06-08 18:17] tomchor commented on #1491
Hello, Kristen,
Yes, I'm interested in reviewing this paper and I appreciate the
invitation. My only concern is time, since I'm going to the Atmosphere and
Ocean Fluid Dyn conference at the end of the month. But if reviewing JOSS
papers take less time than traditional papers (as I imagine it does) then I
can probably finish before 3 weeks.

Thank you very much.

Best
Tomas.

On Fri, Jun 7, 2019 at

[2019-06-08 18:21] labarba commented on #1359
Hi @jdrugo — Can you give us an update? If you're not close to done, please let me know of a time period to set a reminder for you.

[2019-06-08 18:55] arfon commented on #1481
@whedon generate pdf

[2019-06-08 18:55] whedon commented on #1481
[code]

[2019-06-08 18:55] whedon commented on #1481
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01481/joss.01481/10.21105.joss.01481.pdf)

[2019-06-08 18:56] arfon commented on #1499
@labarba - @whedon can't deal with this as the source is in a mercurial repo. I will download manually and compile this.

[2019-06-08 19:00] arfon commented on #1481
@MaciejDanko - you had a typo in your `paper.md` which I've fixed in https://github.com/MaciejDanko/hopit/pull/5

[2019-06-08 19:02] arfon commented on #1499
I've compiled the paper locally: [10.21105.joss.01499.pdf](https://github.com/openjournals/joss-reviews/files/3268846/10.21105.joss.01499.pdf)

[2019-06-08 19:14] labarba commented on #1375
@hfriel69 — We haven't heard back from you after @katyhuff's pre-review assessment. I'm going to add the "paused" tag here for now, but please respond with your intentions.

[2019-06-08 19:32] labarba commented on #1321
👋  @arsilva87 — Can you give us an update? If you're not close to done, please let me know of a time period to set a reminder for you.

[2019-06-08 19:42] labarba commented on #1173
@vijaysm — What is your assessment with regards to the [issues raised](https://github.com/openjournals/joss-reviews/issues/1173#issuecomment-492571822) by @Kevin-Mattheus-Moerman? What about you, @kyleniemeyer? The author has received no reply for 23 days. Do you feel this can go on to publication, or is the "minor contribution" assessment a blocker?

[2019-06-08 19:50] labarba commented on #1262
👋  @ybayle — Can you give us an update? If you're not close to done, please let me know of a time period to set a reminder for you.

[2019-06-08 19:52] labarba commented on #1182
👋  @mconlon17 — Can you give us an update? If you're not close to done, please let me know of a time period to set a reminder for you.

[2019-06-08 20:04] labarba commented on #1292
What's the status here, @Kevin-Mattheus-Moerman?

[2019-06-08 20:10] kyleniemeyer commented on #1173
@whedon generate pdf

[2019-06-08 20:10] whedon commented on #1173
[code]

[2019-06-08 20:10] labarba commented on #1295
@jdkent — Can you give us an update? If you're not close to done, please let me know of a time period to set a reminder for you.

[2019-06-08 20:10] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-06-08 20:13] kyleniemeyer commented on #1173
@labarba if @vijaysm favors accepting, then I also will give my recommendation to move forward (pending some editorial feedback on the paper)

[2019-06-08 20:14] labarba commented on #1453
👋  @jameshclrk — We see no progress on your review checklist. Have you started on this? Do give us an updates.

@sambitdash — it looks like there remain several comments from @malmaud that need to be addressed. What's your status?

[2019-06-08 20:20] labarba commented on #980
@whedon remind @olivertomic in 3 weeks

[2019-06-08 20:20] whedon commented on #980
Reminder set for @olivertomic in 3 weeks

[2019-06-08 20:20] platipodium commented on #1491
Dear Kristin, thanks for inviting me to do the review. I’ll gladly have a go At the manuscript.
Cheers,
carsten

[2019-06-08 20:22] labarba commented on #1470
Hi @DrMichaelLindner — Could you clarify here how your submission meets the [JOSS requirements](shttps://joss.readthedocs.io/en/latest/submitting.html#submission-requirements)?

[2019-06-08 20:34] labarba commented on #1473
@whedon remind @@jhollist in 3 weeks

[2019-06-08 20:34] whedon commented on #1473
@@jhollist doesn't seem to be a reviewer or author for this submission.

[2019-06-08 20:34] labarba commented on #1473
@whedon remind @jhollist in 3 weeks

[2019-06-08 20:34] whedon commented on #1473
Reminder set for @jhollist in 3 weeks

[2019-06-08 20:35] MaciejDanko commented on #1481
I don't know why I didn't notice the typos.
Thank you very much!
paper.md is updated now.

[2019-06-08 20:40] labarba commented on #1331
Hi all — are we waiting here for the reviewer to complete their tasks? or the author to do some revisions? Or both? Give us an update!

[2019-06-08 20:42] labarba commented on #1427
👋 @fabian-s — looks like the author is waiting here for your reply?

[2019-06-08 20:47] arfon commented on #1481
@whedon generate pdf

[2019-06-08 20:47] whedon commented on #1481
[code]

[2019-06-08 20:48] whedon commented on #1481
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01481/joss.01481/10.21105.joss.01481.pdf)

[2019-06-08 20:59] arfon commented on #1229
@1313e - am I correct that the AAS DOI for this paper will be `10.3847/1538-4365/ab1f7d`?

If so, please add the following fields to the top of your `paper.md` file:

[code]

[2019-06-08 21:03] IgorBaratta commented on #1331
Great, thanks @tknopp .
Yes. That's what I meant.

All points have been addressed and the boxes thicked.

[2019-06-08 21:04] IgorBaratta commented on #1331
The author has addressed all points.
To me this paper is ready for acceptance.

[2019-06-08 21:15] arfon commented on #1393
@dhuppenkothen - could you please add the following two fields to the `paper.md` YAML header:

[code]

[2019-06-08 21:43] MaciejDanko commented on #1481
Proof checked. No problems found. Thank you.

[2019-06-08 21:48] banesullivan commented on #1451
Hi @Leguark and @gassmoeller, thank you for the speedy reviews! I have been traveling lately and went offline for about a week so I'm happy to address any issues now.

Thanks for the suggestion, @gassmoeller. I just updated PVGeo's readme to address this.

Ah yes, version 2.0.0 (actually 2.0.1 for when I tag and archive the repo for the submission)

[2019-06-08 22:41] tristan-salles commented on #1498
Thanks @kthyng

[2019-06-08 23:52] lheagy commented on #1499
Hi @labarba: yes, I am happy to take this one!

[2019-06-09 00:44] brainstorm commented on #1331
I see a couple of points unchecked in the checklist: example usage and community guidelines?

[2019-06-09 00:44] brainstorm commented on #1331
@whedon check references

[2019-06-09 00:44] whedon commented on #1331
[code]

[2019-06-09 00:44] whedon commented on #1331
[code]

[2019-06-09 00:45] brainstorm commented on #1331
Other than those, @tknopp, feel free to register a zenodo DOI so we can archive and accept. Thanks everyone!

[2019-06-09 00:48] IgorBaratta commented on #1331
My mistake. I guess now they are all checked.

[2019-06-09 01:05] 1313e commented on #1229
@arfon Sure. However, shouldn't it be "Astrophysics Journal Supplement Series"?

[2019-06-09 01:08] arsilva87 commented on #1321
@labarba I have updated the repository and worked on the issued pointed out by @diyadas. Thanks.

[2019-06-09 02:09] 1313e commented on #1229
@whedon generate pdf

[2019-06-09 02:10] whedon commented on #1229
[code]

[2019-06-09 02:10] whedon commented on #1229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)

[2019-06-09 02:40] sambitdash commented on #1453
@labarba - I am going for a complete revamp of the documentation by the end of this month. Most of the suggested changes will be addressed as part of that. I will update when the task is accomplished.

[2019-06-09 05:17] labarba commented on #1321
@karthik — please have a look at the progress here

[2019-06-09 05:18] labarba commented on #1499
@whedon assign @lheagy as editor

[2019-06-09 05:18] whedon commented on #1499
OK, the editor is @lheagy

[2019-06-09 05:23] labarba commented on #1453
@alexhanna Please follow up by email with @jameshclrk to know when we might expect their review.

[2019-06-09 05:39] acolum commented on #1488
I'm finished with my review and am recommending this for publication. @haarburger I just wanted to commend you and your team for a job well done writing and documenting this package. This is one of the best JOSS submissions I've reviewed.

[2019-06-09 06:16] PingjunChen commented on #1488
@mbobra Just a reminder that we have finished the review. Overall, this package has rich features for deep learning model training, data preparation, visualization, etc. In addition, the documentation is well-written with iPython notebook examples for classification, segmentation, and GAN applications. I recommend accepting for publication.

[2019-06-09 08:34] tknopp commented on #1331
@brainstorm: I am not sure what you mean by "register a zenodo DOI", could you elaborate? Should I register a DOI for one of the references or for the article itself? Would be great to get some help.

[2019-06-09 09:24] Juke34 commented on #1344
Thank you for your patience. Here are the updates: We have slightly modified the installation. We have created a PyPi package (https://pypi.org/project/guessmylt/), allowing installation using pip.  So, using `pip install GUESSmyLT` will install most of the dependencies. Still Bowtie2, BUSCO and Trinity (depending of the user need Trinity is not mandatory) has to be installed aside.

Working on co

[2019-06-09 11:04] labarba commented on #1331
Hi @tknopp — The JOSS publication process requires that after all revisions to the software and paper are complete and the reviewers and editor recommend publication, you do the following:

- make a tagged release of your software, and report the version number here so we can update the metadata
- make a full deposit of your software in an archive that provides persistence and a global identifier

[2019-06-09 11:18] labarba commented on #1331
I've read the paper and made some editorial suggestions via this PR
https://github.com/MagneticParticleImaging/MPIFiles.jl/pull/14

[2019-06-09 11:21] labarba commented on #1331
Note: after making the Zenodo deposit, be sure to check that it has the correct metadata, and edit as necessary. This includes the title (should match the paper title) and author list (make sure the list is correct and people like me who only fixed some bits of the paper, are not on it). You may also want to add the ORCID of all authors in the Zenodo metadata.

[2019-06-09 11:23] labarba commented on #1344
@mistrm82 — Let us know your assessment and response to the author's reply, above.

[2019-06-09 11:34] labarba commented on #1492
@seanlaw — I'm going to send this back to you for some more work, because the paper itself does not quite meet [our expectations](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Right now, the article is very brief and doesn't communicate a lot about the software, and its need or uses in research. While we don't expect a full article, it should be 250–1000 word

[2019-06-09 12:14] labarba commented on #1204
Some minor editorial suggestions:

- ¶2: the acronym DWI is used for the first time, without defining (we don't know what that means). Also, recommend to delete "mostly" in first sentence. Add commas after "e.g."
- ¶3: "some demo data which is" >> that is. Comma after "notebook."
- "the documentation is build" >> built
- "such that is incorporated" >> ?
- Cardiac tools: "which allows defining the

[2019-06-09 12:16] labarba commented on #1489
I have sent an email to @mgymrek asking to edit this submission.

[2019-06-09 12:19] labarba commented on #1490
I have sent an email to @poulson asking to edit this submission.

[2019-06-09 13:12] arfon commented on #1229
Yes, please change the line: `aas-journal: Astrophysical Journal` to `aas-journal: Astrophysics Journal Supplement Series`

[2019-06-09 13:28] seanlaw commented on #1492
@whedon generate pdf

[2019-06-09 13:28] whedon commented on #1492
[code]

[2019-06-09 13:29] whedon commented on #1492
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01492/joss.01492/10.21105.joss.01492.pdf)

[2019-06-09 13:42] seanlaw commented on #1492
@labarba thank you for the feedback. I've added a summary that hopefully motivates the need for this software and I've, hopefully, clarified what the core competency (the efficient calculation of the matrix profile - which is the most computationally intensive part of motif (i.e., pattern) and discord (i.e., novelty/anomaly) discovery).

Let me know if or where I can be more clear. Perhaps, you ca

[2019-06-09 13:42] vijaysm commented on #1173
@labarba @kyleniemeyer I agree with @Kevin-Mattheus-Moerman that the contribution is an incremental update to the work by Fornberg [1] in terms of the algorithmic aspects. However, I feel that NodeLab exposes the node-generation infrastructure in a general setting that is directly usable by solvers written in MATLAB. Extensions to 3-D would have made a stronger case for acceptance of the current s

[2019-06-09 13:52] poulson commented on #1490
Hi @labarba! I would be happy to take this on. Thank you for your patience and follow up!

[2019-06-09 14:31] labarba commented on #1490
@whedon assign @poulson as editor

[2019-06-09 14:31] whedon commented on #1490
OK, the editor is @poulson

[2019-06-09 14:33] gradvohl commented on #1494
# Review items for JOSS paper #1494
**Paper title**: mTower: Trusted Execution Environment for MCU-based devices

## Review criteria
* A list of the authors of the software: :heavy_check_mark:
* Author affiliations: :heavy_check_mark:
* A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience: :heavy_check_mark:
* A clear statement of nee

[2019-06-09 14:47] arfon commented on #1393
@crawfordsm @dhuppenkothen - is the associated AAS paper in ApJ?

[2019-06-09 14:48] Juanlu001 commented on #1426
Sorry all for the delay! I finished the review, having paid more attention to the orbital stuff and installation and testing procedures. Some comments:

* There seems to be [a v0.1 release](https://github.com/NASA-Planetary-Science/sbpy/releases/tag/v0.1) but [sbpy does not exist in PyPI](https://pypi.org/search/?q=sbpy). Is this intentional?
* https://github.com/NASA-Planetary-Science/sbpy/issues

[2019-06-09 15:19] vbarrera commented on #1411
Initial submitted issues:
https://github.com/snowformatics/BlasterQt/issues/12
https://github.com/snowformatics/BlasterQt/issues/11
https://github.com/snowformatics/BlasterQt/issues/10
https://github.com/snowformatics/BlasterQt/issues/9
https://github.com/snowformatics/BlasterQt/issues/4

[2019-06-09 15:39] arfon commented on #1005
I've just emailed @adammichaelwood directly to ask him to complete his review in the next couple of weeks.

[2019-06-09 16:46] poulson commented on #1490
:wave: Tim (@betatim), it seems that your expertise in physics and python would be helpful for reviewing this submission. Would you be willing and able to do so?

:wave: Pawel (@jochym), given your expertise in theoretical physics and python, your help reviewing this submission would be greatly appreciated. Are you available and interested?

:wave: Mathieu (@mdoucet), given your expertise in neutr

[2019-06-09 16:48] poulson commented on #1385
@whedon generate pdf

[2019-06-09 16:48] whedon commented on #1385
[code]

[2019-06-09 16:49] whedon commented on #1385
PDF failed to compile for issue #1385 with the following error:

 Can't find any papers to compile :-(

[2019-06-09 16:49] poulson commented on #1385
@whedon generate pdf from branch joss

[2019-06-09 16:49] whedon commented on #1385
[code]

[2019-06-09 16:50] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-06-09 17:07] poulson commented on #1385
:wave: @fsobral. Thank you for your patience for my response; my apologies for the delay!

I have a few comments on the manuscript:

* Given that the point of the package is learning a model for a black-box function, unqualified usage of the term "optimal" in the opening paragraphs seems a bit aggressive given that unregularized two-norm objective functions are not typically the most competitive i

[2019-06-09 17:12] Cadair commented on #1393
This all looks great, apart from the queries I have above about dependencies, missing DOIs and the Astropy citation. :smile:

[2019-06-09 17:23] mgymrek commented on #1489
@whedon assign @mgymrek as editor

[2019-06-09 17:23] whedon commented on #1489
OK, the editor is @mgymrek

[2019-06-09 17:26] mgymrek commented on #1489
@whedon start review magic-word=bananas

[2019-06-09 17:26] whedon opened #1500 "[REVIEW]: BCAW: Automated tool for codon usage bias analysis for molecular evolution"
**Submitting author:** @AliYoussef96 (<a href="http://orcid.org/0000-0002-5201-387X">Ali Youssef</a>)
**Repository:** <a href="https://github.com/AliYoussef96/BCAW-Tool" target ="_blank">https://github.com/AliYoussef96/BCAW-Tool</a>
**Version:** v1.0.3
**Editor:** @mgymrek
**Reviewer:** @Benjamin-Lee
**Archive:** <a href="https://doi.org/10.5281/zenodo.3468557" target="_blank">10.5281/zenodo.34685

[2019-06-09 17:26] whedon commented on #1489
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1500. Feel free to close this issue now!

[2019-06-09 17:26] whedon commented on #1500
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Benjamin-Lee it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2019-06-09 17:26] whedon commented on #1500
[code]

[2019-06-09 17:27] whedon commented on #1500
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01500/joss.01500/10.21105.joss.01500.pdf)

[2019-06-09 17:27] mgymrek commented on #1489
@Benjamin-Lee thanks for agreeing to review! You can now head over to the review issue #1500 to complete the review.

[2019-06-09 17:27] #1489 closed

[2019-06-09 17:31] mgymrek commented on #1495
@whedon assign @mgymrek as editor

[2019-06-09 17:31] whedon commented on #1495
OK, the editor is @mgymrek

[2019-06-09 18:28] labarba commented on #1087
👋  @terrytangyuan, @kbenoit — We are waiting for your assessment on this submission. Thanks!

[2019-06-09 18:29] labarba commented on #1361
@usethedata — Looks like this submission is ready for a recommendation?

[2019-06-09 18:32] labarba commented on #1409
👋 @alexhanna — Looks like this submission is ready for your final actions before publication.

[2019-06-09 18:34] gkthiruvathukal commented on #1494
@gradvohl Thank you for your detailed review.

We will await @federeghe's review but it's clear there are some major issues to be addressed by  @omoliavko before we can proceed.

[2019-06-09 18:35] gkthiruvathukal commented on #1485
@azazel7 Please see the issues raised by @sepandhaghighi.

[2019-06-09 18:51] labarba commented on #1387
@arfon, @danielskatz — Any of you tried to contact @lpueyo by email to find out if they can come back here to do this review?

[2019-06-09 18:53] labarba commented on #947
@alexpghayes — Looks like we're waiting for you to comment on the author's reply from 10 days ago. Let us know your assessment.

[2019-06-09 19:10] federeghe commented on #1494
I checked the LICENSE and COPYING file verifying that all the used software is compliant with respect to the Apache license. However, not only the README file uses the BSD license (instead of the Apache of the LICENSE file) but also some source code files have BSD license in the header. Please make the license uniform across files and documentation.

I did not perform a in-depth review because I h

[2019-06-09 19:12] tdrozdovsky commented on #1494
Thanks for the constructive comments! Soon we'll make changes according to them.

[2019-06-09 19:17] federeghe commented on #1494
@gkthiruvathukal I'm no more able to flag checkboxes or change the first post. It seems I'm no more a collaborator of the joss-reviews repo.

[2019-06-09 19:50] lucaspompeun commented on #1497
Hi @labarba.
Mathematical modeling has become increasingly complex and potentialized with the use of computational routines and structures, becoming an object of fundamental study in engineering. Areas such as aeronautics and aerodesign require a large volume of calculations and analyze and are increasingly used as computational options in their structures since the reduction of errors and false-p

[2019-06-09 20:01] tknopp commented on #1331
Thanks @labarba, I have merged your changes and initiated a release of the package:

https://github.com/JuliaRegistries/General/pull/1295

Note that this is a two-step procedure in the Julia universe and the github release is done in the second step. I thus need to wait until the upper PR is merged. Then I will create the zenodo DOI.

[2019-06-09 20:24] terrytangyuan commented on #1087
Please see my previous comment.

[2019-06-09 20:51] jasonclark commented on #1415
Hi, @dhhagan. Would you be able to review the tcherry software in the next couple of weeks? Let me know when you have the chance. Thanks so much for considering.

cc @katrinekirkeby @labarba

[2019-06-09 20:53] jasonclark commented on #1480
@kellieotto Can you carry out the review this week? Thanks!

[2019-06-09 22:30] usethedata commented on #1361
@dandavies99 Yes, please go ahead and create the Zenodo archive.  Post the DOI here when you're done.

Sorry for the delays on my part.  I was back on 6/1, but getting dug out from under took longer than I'd hoped.

[2019-06-09 22:32] usethedata commented on #1359
@whedon add @usethedata as reviewer

[2019-06-09 22:32] whedon commented on #1359
OK, @usethedata is now a reviewer

[2019-06-09 22:39] usethedata commented on #1448
@lucask07 and @ixjlyons There are a couple of things still showing open on the review checklists.  If all your issues are taken care of, can you close out the checklists?  I realize that @lucask07 indicates not being able to complete a functional check. @ixjlyons -- were you able to do a functional check?  If not, I'll see if I can find someone around my lab who has the hardware.

[2019-06-09 22:40] jdrugo commented on #1359
@labarba Sorry for the delay. I'm currently working on the revisions and hope to have them done by the end of next week.

[2019-06-10 00:57] ixjlyons commented on #1448
The changes look good to me and I checked off my remaining boxes. I don't have a LabJack device so I was not able to test the library myself.

[2019-06-10 02:52] alexpghayes commented on #947
Notes on the tests:

- https://github.com/peterjwatkins/diwanalr/blob/alexpghayes-r_cmd_cleanup_master/tests/testthat/test_g1.R#L10 does not check any code in the package itself. In general tests should call package functions.
- The tolerance for the tests is very high (0.1 or 0.01 instead of the typically machine precision of around 1e-16. Even loose tests in the numeric world still use tolerance

[2019-06-10 04:09] 1313e commented on #1229
@whedon generate pdf

[2019-06-10 04:09] whedon commented on #1229
[code]

[2019-06-10 04:10] whedon commented on #1229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)

[2019-06-10 07:19] labarba commented on #1361
Before you make the archive, @dandavies99, we're going to need a new tagged release of the software repository, after all revisions.

- [ ] Please list the latest version tag here, to update the metadata
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is

[2019-06-10 07:21] labarba commented on #1359
@whedon remind @jdrugo in 1 week

[2019-06-10 07:21] whedon commented on #1359
Reminder set for @jdrugo in 1 week

[2019-06-10 07:26] haarburger commented on #1488
Thank you @PingjunChen and @acolum for your quick reviews 👍

[2019-06-10 07:44] labarba commented on #1087
I see that both reviewers have concerns about the purpose and need of this software…
https://github.com/openjournals/joss-reviews/issues/1087#issuecomment-453893878
https://github.com/openjournals/joss-reviews/issues/1087#issuecomment-461296889

... and @arfon's assessment is:

The author says they have expanded in the paper the sections on Statement of Need, and Notes on Performance.

Does this n

[2019-06-10 08:09] trallard commented on #1475
Hi @finsberg apologies for the delay, let's work to find you a pair of reviewers, if you have a couple of suggestions for potential reviewers, please @ them here.

Le'ts ping some folks with biomechanics and Python knowledge

Hi @siravan are you willing and able to take on this review?
Hi @melud are you willing and able to take on this review?
Hi @mikaem are you willing and able to take on this re

[2019-06-10 08:14] trallard commented on #1403
Thanks for your patience @alvarolopez let's try and find you another reviewer to move this forward

Hi @nilesh-patil are you willing and able to take on this review?
Hi @rasbst are you willing and able to take on this review?
Hi @ssomani are you willing and able to take on this review?
Hi @GregaVrbancic are you willing and able to take on this review?

**Title**: DEEPaaS
**Description**: DEEP as a

[2019-06-10 08:25] tyarkoni commented on #1294
Sorry, I've been traveling. Will get to this ASAP–probably post-OHBM.

[2019-06-10 08:46] labarba commented on #1497
He @lucaspompeun — After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Thank you

[2019-06-10 08:47] mikaem commented on #1475
Hi @trallard
I'm not unbiased here, otherwise I'd be happy to accept.
Regards @mikaem

[2019-06-10 08:47] #1497 closed

[2019-06-10 09:53] omoliavko commented on #1494
Dear @federeghe, @gradvohl, @gkthiruvathukal, thank you for your effort. I've opened tickets in github to address the issues you've found with mTower:
https://github.com/Samsung/mTower/issues/4
https://github.com/Samsung/mTower/issues/5
https://github.com/Samsung/mTower/issues/6
https://github.com/Samsung/mTower/issues/7
https://github.com/Samsung/mTower/issues/8
https://github.com/Samsung/mTower/

[2019-06-10 09:55] dandavies99 commented on #1361
No problem, @usethedata.
Thanks, @labarba.
- The latest version is v2.1
- This has now been archived on Zenodo with the correct metadata --> [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3242315.svg)](https://doi.org/10.5281/zenodo.3242315)

[2019-06-10 10:00] labarba commented on #1361
@whedon set v2.1 as version

[2019-06-10 10:00] whedon commented on #1361
OK. v2.1 is the version.

[2019-06-10 10:01] labarba commented on #1361
@whedon set 10.5281/zenodo.3242315 as archive

[2019-06-10 10:01] whedon commented on #1361
OK. <a href="https://doi.org/10.5281/zenodo.3242315" target="_blank">10.5281/zenodo.3242315</a> is the archive.

[2019-06-10 10:01] labarba commented on #1361
@whedon accept

[2019-06-10 10:01] whedon commented on #1361
[code]

[2019-06-10 10:02] whedon commented on #1361
[code]

[2019-06-10 10:02] whedon commented on #1361
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/741

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/741, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-10 10:14] labarba commented on #1361
@dandavies99 : could you merge my stylistic fix here?
https://github.com/WMD-group/SMACT/pull/20

[2019-06-10 10:16] dandavies99 commented on #1361
Sure thing @labarba.

[2019-06-10 10:25] labarba commented on #1361
@whedon accept deposit=true

[2019-06-10 10:25] whedon commented on #1361
[code]

[2019-06-10 10:26] whedon commented on #1361
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1138029609361055744) 👈 🐦🐦🐦

[2019-06-10 10:26] whedon commented on #1361
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/742
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01361](https://doi.org/10.21105/joss.01361)
2. If everything looks go

[2019-06-10 10:27] labarba commented on #1361
Congratulations, @dandavies99, your JOSS paper is published!

Big thanks to our editor: @usethedata, and reviewers: @symmy596, @utf — we appreciate your contribution to JOSS 🙏

[2019-06-10 10:27] #1361 closed

[2019-06-10 10:27] whedon commented on #1361
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01361/status.svg)](https://doi.org/10.21105/joss.01361)

**We need your help!**

Journal of Open Source Softwar

[2019-06-10 10:43] annoviko commented on #1420
@sanskriti-s , thanks, now everything looks ok.
@arokem, let's move to the next steps.

[2019-06-10 10:44] labarba commented on #1466
Hi @ixjlyons — I think you meant to work on this review over the past weekend. Can you give us a status update? We can also set an automatic reminder, if you have a new ETA.

[2019-06-10 11:28] tknopp commented on #1331
@labarba: I hope I got this right:
- Here is the Zenodo release: https://zenodo.org/record/3242352#.XP4-Uy2BrLE
- The DOI is: 10.5281/zenodo.3242352
- MPIFiles has now Version 0.5.3

[2019-06-10 11:34] arfon commented on #1229
@1313e - I'm going to go ahead and accept this paper now as I believe the AAS paper is very close to being published too.

Apologies for the back and forth on this submission - you're the first author to follow the dual-publishing workflow in AAS/JOSS and we've been finding (and fixing) a few challenges along the way. Your patience has been much appreciated!

[2019-06-10 11:43] labarba commented on #1331
@whedon set v0.5.3 as archive

[2019-06-10 11:43] arfon commented on #1229
@fonnesbeck - many thanks for your review here and to @arokem for editing this submission ✨

@1313e - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-10 11:43] #1229 closed

[2019-06-10 11:43] whedon commented on #1331
v0.5.3 doesn't look like an archive DOI.

[2019-06-10 11:43] whedon commented on #1229
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01229/status.svg)](https://doi.org/10.21105/joss.01229)

**We need your help!**

Journal of Open Source Softwar

[2019-06-10 11:45] labarba commented on #1331
@whedon set 10.5281/zenodo.3242352 as archive

[2019-06-10 11:45] whedon commented on #1331
OK. <a href="https://doi.org/10.5281/zenodo.3242352" target="_blank">10.5281/zenodo.3242352</a> is the archive.

[2019-06-10 11:45] labarba commented on #1331
@whedon set v0.5.3 as version

[2019-06-10 11:45] whedon commented on #1331
OK. v0.5.3 is the version.

[2019-06-10 11:47] labarba commented on #1331
@whedon accept

[2019-06-10 11:47] whedon commented on #1331
[code]

[2019-06-10 11:47] whedon commented on #1331
[code]

[2019-06-10 11:47] whedon commented on #1331
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/743

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/743, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-10 11:51] labarba commented on #1331
@whedon accept deposit=true

[2019-06-10 11:51] whedon commented on #1331
[code]

[2019-06-10 11:52] whedon commented on #1331
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1138051197498200065) 👈 🐦🐦🐦

[2019-06-10 11:52] whedon commented on #1331
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/744
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01331](https://doi.org/10.21105/joss.01331)
2. If everything looks go

[2019-06-10 11:53] labarba commented on #1331
Congratulations, @tknopp, your JOSS paper is published! 🚀

Big thanks to our editor: @brainstorm and reviewer: @IgorBaratta 🙏

[2019-06-10 11:53] #1331 closed

[2019-06-10 11:53] whedon commented on #1331
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01331/status.svg)](https://doi.org/10.21105/joss.01331)

**We need your help!**

Journal of Open Source Softwar

[2019-06-10 11:56] tknopp commented on #1331
Awesome, thank you very much @labarba, @brainstorm and @IgorBaratta. Will celebrate my first JOSS paper now!

[2019-06-10 12:14] Kevin-Mattheus-Moerman commented on #1292
@labarba thanks for the reminder. I think this looks good and I'll proceed with the final steps.

[2019-06-10 12:14] lpantano commented on #1496
Hi. yes, I will take it. thanks

[2019-06-10 12:15] labarba commented on #1496
@whedon assign @lpantano as editor

[2019-06-10 12:15] whedon commented on #1496
OK, the editor is @lpantano

[2019-06-10 12:16] lpueyo commented on #1387
This is very useful software software that greatly needed to me made public. I am glad that the authors took this initiative. I have ran all example notebooks and changed parameters. The results make sense. I did not find any major software issues. I did notice that the reference file “earth_avg_hitran2012_300_100000cm.trns” is missing and preventing one of the notebooks to completely run.  I woul

[2019-06-10 12:19] Kevin-Mattheus-Moerman commented on #1292
@sebastkm at this point can you please do the following:

- [ ] Minor suggestion, in your paper please consider using `[www.dolfin-adjoint.org](www.dolfin-adjoint.org)` such that it renders as a hyperlink in your paper.
- [ ] Can you archive a copy of the reviewed software in [ZENODO](https://zenodo.org/)? Can you list the DOI of the archived version here when you have it?
- [ ] Can you provide th

[2019-06-10 12:24] Kevin-Mattheus-Moerman commented on #1047
@whedon remove @lewismc as reviewer

[2019-06-10 12:24] whedon commented on #1047
OK, @lewismc is no longer a reviewer

[2019-06-10 12:30] mdoucet commented on #1490
@poulson Yes I can help.

[2019-06-10 12:36] poulson commented on #1490
Thank you, Mathieu (@mdoucet)!

[2019-06-10 12:36] poulson commented on #1490
@whedon add @mdoucet as reviewer

[2019-06-10 12:36] whedon commented on #1490
OK, @mdoucet is now a reviewer

[2019-06-10 12:49] Kevin-Mattheus-Moerman commented on #1047
:wave: @ceholden @PontusOlofsson @ZachTRice @dgketchum @rmsare would you be interested in reviewing this submission (about time-series analysis of satellite image data) for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/review_criteria.html), which takes place in this GitHub issue, focuses largely on [the software](h

[2019-06-10 12:52] santisoler commented on #1410
All the issues I open are already solved, so I checked off every box but the **Version** one.
Once the authors make a new release, I consider the submitted paper will be ready for publication.

[2019-06-10 12:59] Kevin-Mattheus-Moerman commented on #1291
@ManuelaS in your paper you state

ing revisions...

Has any citable object been created for this work? Would you consider uploading a pre-print and citing the pre-print in this paper? (e.g. with https://engrxiv.org/)

[2019-06-10 13:04] Kevin-Mattheus-Moerman commented on #1291
@arfon the `Cobeldick` reference contains a URL which is too long. Is there a way to prevent it from spilling out of the margin?
Also the reference to `The Kaiser Family Foundation. (2019)` seems to create quite a large section in the paper reference list, perhaps it lists the entire describtion or "abstract" for this website. Do you think this can just be fixed by deleting this from the .bib file

[2019-06-10 13:05] Kevin-Mattheus-Moerman commented on #1012
@dahtah :wave: can you work on the above? Thanks

[2019-06-10 13:15] arfon commented on #1291
@Kevin-Mattheus-Moerman - yes, I'd recommend removing the `abstract` field from that bibtex entry.

Our LaTeX template is a little fussy and inconsistent with this and I don't have a robust fix sorry. I can try fixing this locally once the paper is ready to accept.

[2019-06-10 13:34] usethedata commented on #1047
@whedon generate pdf

[2019-06-10 13:34] whedon commented on #1047
[code]

[2019-06-10 13:35] whedon commented on #1047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01047/joss.01047/10.21105.joss.01047.pdf)

[2019-06-10 13:36] rmsare commented on #1047
@Kevin-Matteus-Moerman I can complete this review within the next 2 weeks. Is that okay?

[2019-06-10 13:37] Kevin-Mattheus-Moerman commented on #1047
@rmsare yes thanks!

[2019-06-10 13:37] Kevin-Mattheus-Moerman commented on #1047
@whedon add @rmsare as reviewer

[2019-06-10 13:38] whedon commented on #1047
OK, @rmsare is now a reviewer

[2019-06-10 13:42] TonyBagnall commented on #1047
hi, don't have time or expertise to review this, sorry.

[2019-06-10 13:44] Kevin-Mattheus-Moerman commented on #1047
@rmsare thanks for your help. I've created a set of tick boxes at the top of this issue which will guide you through the review process. Please also check out our [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Let me know if you have any questions.

[2019-06-10 13:45] Kevin-Mattheus-Moerman commented on #1047
@TonyBagnall okay, thanks for your reply.

[2019-06-10 13:46] 1313e commented on #1229
@arfon Will you also make sure that my last name is properly written in the published version?

[2019-06-10 13:54] ManuelaS commented on #1291
@Kevin-Mattheus-Moerman , the package is being used in research work, but the work is not yet citable and not available as pre-print. Should I amend "HCP plotting functionality has been applied in a scholarly manuscript currently undergoing revisions and in exploratory analyses in several other ongoing research projects." to read "HCP plotting functionality has been applied in exploratory analyses

[2019-06-10 13:55] evcastelani commented on #1385
We have removed the term from the phrase. Our use for "optimal" is in the optimization sense, i.e., the parameters come from the solution of an optimization problem. However, we are only able to achieve stationary points, so there is no point in calling them "optimal" if it may cause confusion.

You're right, your example is enough to show the non-differentiability, but our example is used to show

[2019-06-10 13:59] danielskatz commented on #1445
👋 @muehlhaus and @cgravill and @PrashantVaidyanathan - Can I get an update from you on this?

[2019-06-10 14:00] danielskatz commented on #1487
👋 Any news on this from the authors or reviewers?

[2019-06-10 14:00] Kevin-Mattheus-Moerman commented on #1291
@ManuelaS No need to amend the text. I do recommend that you upload your manuscript as a pre-print (e.g. your submitted version prior to review), as most journals allow this (search for your journal's policies here: http://sherpa.ac.uk/romeo/index.php), and to cite the pre-print DOI in the paper. If you are not able to for some reason we'll leave it as is.

[2019-06-10 14:00] danielskatz commented on #1474
👋 @marshallward - I assume you are still working through issues?  (just checking in...)

[2019-06-10 14:01] ManuelaS commented on #1291
The reference to The Kaiser Family Foundation. (2019) is very long because it covers several individual datasets downloaded from the KFF website that we used in the second case study.
If I interpret correctly [the KFF citation policy](https://www.kff.org/permissions-citations-reprints/) for "State Health Facts", the citation should include both the KFF website and the original data source, which d

[2019-06-10 14:01] Kevin-Mattheus-Moerman commented on #1291
@ManuelaS can you clean up your .bib file such that the long description does not render in the reference section, see discussion above.

[2019-06-10 14:02] danielskatz commented on #1368
👋 @EricSchles - having not heard anything, and having this submission in an early state, I am going to mark it as withdrawn, but please, when you are ready for us to review your paper and software, resubmit it to JOSS at that time.

[2019-06-10 14:02] #1368 closed

[2019-06-10 14:02] Kevin-Mattheus-Moerman commented on #1291
@openjournals/jose-editors the above sounds reasonable. Any thoughts on this very long reference listing? See paper here: https://github.com/openjournals/joss-reviews/files/3248049/10.21105.joss.01291.pdf

[2019-06-10 14:03] marshallward commented on #1474
Yes, only the YAML issue left at this point, which is done but not yet documented or uploaded to PyPI.  Also waiting on some feedback on the README changes but that is not essential.

Was quite literally working on it when you posted, so should hopefully be done soon (excepting user feedback).

[2019-06-10 14:05] arfon commented on #1229
Certainly. Can you verify that it looks correct in the pdf here? http://joss.theoj.org/papers/f31acc7b1be30757526442034888aabf

[2019-06-10 14:06] danielskatz commented on #1492
Thanks @seanlaw - this looks good to go forward.  While I find an editor, you might want to fix the references - issues where letters are incorrectly in lower case can be fixed by putting {}s around letters of strings that should not be converted to lower case by bibtex.

[2019-06-10 14:08] danielskatz commented on #1492
👋 @VivianePons - would you be willing to edit this submission?

[2019-06-10 14:09] danielskatz commented on #1005
👋 @tpetricek - please confirm that the documentation for testing is OK, given the discussion above, and if so, please check off the item. If you think something else is needed to make this OK, please explain what you believe is needed.

And for other items in the checklist, what are the blockers to you?

[2019-06-10 14:13] PrashantVaidyanathan commented on #1445
@danielskatz We identified some bugs Specifically https://github.com/CSBiology/FSharpGephiStreamer/issues/15 and https://github.com/CSBiology/FSharpGephiStreamer/issues/16
And it looks like these have been fixed. The authors also added an enhancement (for the documentation)

I'm close to finishing my review.

[2019-06-10 14:15] labarba commented on #1453
@whedon remind @sambitdash in 3 weeks

[2019-06-10 14:15] whedon commented on #1453
Reminder set for @sambitdash in 3 weeks

[2019-06-10 14:25] StewMH commented on #1487
Hi,

I have got past the missing avx primitive with GCC. Now the compilation runs for a while but fails with an ICE probably related to out-of-memory, at least on my VM. I can try a more powerful bare-metal machine, the VM only has 2G of RAM.

Cheers,
Stewart

[2019-06-10 14:28] FelixHenninger commented on #1456
Hi y'all, thanks so much for considering me!

Somehow, I missed the GitHub pings; thanks, @kyleniemeyer, for writing directly! I would be thrilled to take a closer look at this, though I'll be out of office until the end of next week, if it's ok that I complete the review in the week of the 24th, I'd be more than happy to -- the project looks fantastic! If any of you get around to it faster, of co

[2019-06-10 14:44] kyleniemeyer commented on #1456
@whedon assign @FelixHenninger as reviewer

[2019-06-10 14:44] whedon commented on #1456
OK, the reviewer is @FelixHenninger

[2019-06-10 14:45] kyleniemeyer commented on #1456
Thanks  @FelixHenninger! I am actively looking for a second reviewer (have a few more emails out), so hopefully we will be able to start the official review thread soon.

[2019-06-10 14:47] ManuelaS commented on #1291
Thanks @Kevin-Mattheus-Moerman for the suggestion, but we are not able to submit it to pre-print at this time.

[2019-06-10 14:55] vsoch commented on #1456
@FelixHenninger thank you! You are definitely a good fit for the job :)

[2019-06-10 14:55] labarba commented on #1291
No suggestions on the long reference, except to use caps protection `{}`, for example, around `U.S`.

You also need to do something to break the long URL in Cobeldick, S. (2019). ColorBrewer (or create a short URL).

[2019-06-10 14:58] VivianePons commented on #1492
Hi Daniel, I will be on maternity leave starting Friday, so I cannot take new submissions. I haven't put myself "unavailable" yet because I'm finishing the edition of 2 papers

[2019-06-10 15:01] labarba commented on #1492
@VivianePons — Please set your `ooo` status even if you are finishing up two papers. Thanks! …and good luck with what is coming 👶

[2019-06-10 15:02] labarba commented on #1492
Perhaps @mbobra could be handling editor for this one?

[2019-06-10 15:06] adadiehl commented on #1496
I have renamed the manuscript as paper.md. Thank you!

-Adam

On Mon, Jun 10, 2019 at 8:16 AM whedon <notifications@github.com> wrote:

[2019-06-10 15:17] cgravill commented on #1445
There were some issues, that sound like they've now been resolved. Some of it is on a pull request https://github.com/CSBiology/FSharpGephiStreamer/pull/23 but I'm planning to try out the test release, hopefully this week.

[2019-06-10 15:34] mschubert commented on #1493
I finished my first 2 passes. Nice work @gvegayon and @pmarjora!

I'm happy for this to be accepted if the following issues are addressed: [#6](https://github.com/USCbiostats/sluRm/issues/6), [#7](https://github.com/USCbiostats/sluRm/issues/7), [#8](https://github.com/USCbiostats/sluRm/issues/8), [#13](https://github.com/USCbiostats/sluRm/issues/13) (others are optional, but would be nice to have)

[2019-06-10 15:36] gvegayon commented on #1493
@mschubert this is great, we really appreciate it! We will address those (and the optional issues) ASAP. Thanks!

[2019-06-10 15:50] kellieotto commented on #1480
Yes, thank you for the reminder!

[2019-06-10 16:08] kyleniemeyer commented on #1173
ok @pankajkmishra, sorry for the delay here, but could you address @vijaysm's comments?

[2019-06-10 16:47] mbobra commented on #1488
@openjournals/joss-eics This submission is ready to be accepted! :rocket:

[2019-06-10 16:48] seanlaw commented on #1492
@whedon generate pdf

[2019-06-10 16:48] whedon commented on #1492
[code]

[2019-06-10 16:48] whedon commented on #1492
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01492/joss.01492/10.21105.joss.01492.pdf)

[2019-06-10 16:56] seanlaw commented on #1492
@danielskatz Thanks for the pro tip! It should be fixed now.

@VivianePons Best of luck but I'm sure you'll do great!

[2019-06-10 17:02] imallona commented on #1407
Hi @IbrahimTanyalcin, thanks for adding the disclaimer; let me check the compiled version of the updated `paper.md`. Minor comment on versioning: noticed the paper refers to `v0.18` (which is the latest `tag`) but this issue refers to an old `v0.15.12`, which is not the latest release.

@whedon generate pdf

[2019-06-10 17:08] mbobra commented on #1492
@labarba Sure, I'm happy to edit!

[2019-06-10 17:25] lheagy commented on #1328
:wave: Hi @jordigh, would you be willing to jump in on this review for JOSS?

[2019-06-10 17:27] lheagy commented on #1499
:wave: Hi @diegoenry, @maxscheurer, would you be willing to review this submission for JOSS?

[2019-06-10 17:35] fsobral commented on #1385
@poulson We have successfully created a DOI for the package: 10.5281/zenodo.3242619

[2019-06-10 17:36] fsobral commented on #1385
@whedon generate pdf from branch joss

[2019-06-10 17:36] whedon commented on #1385
[code]

[2019-06-10 17:37] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-06-10 18:13] usethedata commented on #1047
@whedon add @jjmcnelis as reviewer

[2019-06-10 18:13] whedon commented on #1047
OK, @jjmcnelis is now a reviewer

[2019-06-10 18:29] mistrm82 commented on #1344
HI @Juke34 and @labarba  I will take a look over the next few days and will respond to the new updates. thanks!

[2019-06-10 18:32] modenaxe commented on #1421
Thanks @tgeijten, I am happy with the changes. In my opinion there are these few additional points to clarify to conclude the review process:
- target users have been specified in the website but not in the paper. According to the guidelines above (the only box I haven't ticked yet) I think you should add them also in the software paper.
- in the paper "employ" should be "employed" on fourth parag

[2019-06-10 18:44] dhuppenkothen commented on #1393
I had a response all typed out and then somehow forgot to actually send it. Thank you @Cadair for the comments!

To respond:
1. We have fixed the citation (we now cite both, as per recommendation from one of the Astropy developers)
2. We have added DOIs where we could. One is a paper in Astronomy and Astrophysics Supplements from 1993, which seems to not have a DOI I can find (the publisher points

[2019-06-10 18:45] csoneson commented on #1407
@whedon generate pdf

[2019-06-10 18:46] whedon commented on #1407
[code]

[2019-06-10 18:46] whedon commented on #1407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01407/joss.01407/10.21105.joss.01407.pdf)

[2019-06-10 18:59] csoneson commented on #1407
@hrhotz, @imallona - the version in this issue is set at submission time. When a submission is eventually accepted, the version at that time is archived and a DOI is assigned. So at this point, it is not a problem that the version given here differs from the one in the paper.
@hrhotz - for the repository link, this is ok too. The original link was incorrect at submission; this was later fixed, but

[2019-06-10 19:01] epruesse commented on #1344
@Juke34 The problem with your package is not related to the bioconda-utils PR mentioned.

- You are currently installing files to `site-packages/example_run` which should go to `site-packages/GUESSmlLT` or be omitted from distributed package.
- The package currently fails in testing. If you look at the build logs, you will find at the bottom during the tests in an isolated minimal container an exc

[2019-06-10 19:04] csoneson commented on #1435
👋@vjcitn, @rcorty - do you think you will have the chance to look at the revised submission in the coming week?

[2019-06-10 19:04] arfon commented on #1393
@whedon generate pdf

[2019-06-10 19:04] whedon commented on #1393
[code]

[2019-06-10 19:05] whedon commented on #1393
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01393/joss.01393/10.21105.joss.01393.pdf)

[2019-06-10 19:05] arfon commented on #1393
@whedon check references

[2019-06-10 19:05] whedon commented on #1393
[code]

[2019-06-10 19:06] whedon commented on #1393
[code]

[2019-06-10 19:28] arfon commented on #1488
@whedon generate pdf

[2019-06-10 19:28] whedon commented on #1488
[code]

[2019-06-10 19:28] whedon commented on #1488
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01488/joss.01488/10.21105.joss.01488.pdf)

[2019-06-10 19:31] arfon commented on #1488
@haarburger - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? Please make sure that the title of the Zenodo archive and authors match the authors of the paper here.

Once you've done this, I can then move forward with accepting the submission.

[2019-06-10 19:31] labarba commented on #1492
@whedon assign @mbobra as editor

[2019-06-10 19:31] whedon commented on #1492
OK, the editor is @mbobra

[2019-06-10 19:37] labarba commented on #1488
I think the software also needs a new tagged release with the latest changes?

[2019-06-10 19:46] Kevin-Mattheus-Moerman commented on #1047
@jjmcnelis thanks for joining as reviewer. Would you be able to update your GitHub profile e.g. such that it lists your affiliation (and/or a link ORCID profile if possible). Thanks. Let me know if you have questions.

[2019-06-10 19:50] ManuelaS commented on #1291
@whedon generate pdf

[2019-06-10 19:50] whedon commented on #1291
[code]

[2019-06-10 19:52] jkanche commented on #1407
Hello @csoneson, I'm currently on travel with limited internet access, I will get to this by the end of this week. Sorry for the delay!

[2019-06-10 19:55] vjcitn commented on #1435
yes -- is it ready now

On Mon, Jun 10, 2019 at 3:04 PM Charlotte Soneson <notifications@github.com>
wrote:

--
The information in this e-mail is intended only for the person to whom it
is
addressed. If you believe this e-mail was sent to you in error and the
e-mail
contains patient information, please contact the Partners Compliance 
HelpLine at
http://www.partners.org/complianceline
<http://www.

[2019-06-10 19:55] Kevin-Mattheus-Moerman commented on #1421
@tgeijten do you currently have community guidelines?

- [ ] Can you add a `CONTRIBUTING.md` file to your repository and link to it e.g. with the heading **Contributing** in your README? There are templates you can find ([this](https://github.com/nayafia/contributing-template/blob/master/CONTRIBUTING-template.md) is a detailed one, [one of mine](https://github.com/gibbonCode/GIBBON/blob/master/CON

[2019-06-10 19:58] Kevin-Mattheus-Moerman commented on #1291
@arfon it looks like we might need help creating the paper again.

[2019-06-10 20:02] csoneson commented on #1435
@vjcitn - see @fboehm's last comment above for the changes that have been implemented in response to your comments.

[2019-06-10 20:02] ManuelaS commented on #1291
@Kevin-Mattheus-Moerman, I have added caps protection for the references and replaced the long Cobeldick reference link with a shortened URL. I am attaching an updated [pdf](https://github.com/openjournals/joss-reviews/files/3273549/HCP_paper_20190610.pdf) of the paper generated locally since whedon still fails to generate it.

[2019-06-10 20:04] arfon commented on #1488
Oh yes. Please do that too when making the Zenodo archive!

[2019-06-10 20:22] arfon commented on #1291
Here's a compiled version from my local Whedon: [10.21105.joss.01291.pdf](https://github.com/openjournals/joss-reviews/files/3273632/10.21105.joss.01291.pdf)

[2019-06-10 20:45] Cadair commented on #1393
:+1: looks good to me.

[2019-06-10 21:25] pankajkmishra commented on #1173
Thank you! I'll respond to @vijaysm 's comments ASAP. I switched job and moved from Hong Kong to US.

[2019-06-10 21:29] arfon commented on #1393
@dhuppenkothen - once this is merged, I think we're good to accept here.

[2019-06-10 21:33] tpetricek commented on #1005
Hi @danielskatz - unfortunately, I no longer have access to a UNIX machine in order to be able to run the software, so I'm unfortunately not able to check the functionality claims.

[2019-06-10 21:50] mdavezac commented on #1487
An issue has been filed in the [original repo](https://gitlab.com/tesch1/cppduals/issues/4).

@StewMH, I think I clicked on your checkboxes rather than mine at some point... I tried to undo the damage, but I do apologized if I made a mess of things 😊

[2019-06-10 22:01] dhuppenkothen commented on #1393
Ok, @Cadair's PR has been merged. :)

[2019-06-10 22:51] #1330 closed

[2019-06-10 22:51] whedon commented on #1330
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01330/status.svg)](https://doi.org/10.21105/joss.01330)

**We need your help!**

Journal of Open Source Softwar

[2019-06-10 23:17] arfon commented on #1393
Great! @dhuppenkothen - at this point could you:

- Make a new release of Stingray that includes all of the changes from this review
- Make an archive of the reviewed software in Zenodo/figshare/other service making sure that the Zenodo archive name matches the title of your paper and that the authors are the same as the paper?
- Then update this thread with the DOI of the archive.

I can then mov

[2019-06-11 00:20] dhuppenkothen commented on #1393
@whedon generate pdf

[2019-06-11 00:20] whedon commented on #1393
[code]

[2019-06-11 00:20] whedon commented on #1393
PDF failed to compile for issue #1393 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon/author.rb:23:in `strip_footnotes': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a37e7f54/lib/whedon/author.rb:13:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-18b9a

[2019-06-11 00:23] dhuppenkothen commented on #1393
Eek, I broke something. As I was preparing the Zenodo archive, I realized that I'd messed up the co-authors compared to the ApJ version. Trying to fix this, I apparently broke the paper? Any advice, @arfon?

[2019-06-11 00:24] arfon commented on #1393
@dhuppenkothen - this PR should fix it https://github.com/StingraySoftware/stingray/pull/412

[2019-06-11 00:27] arfon commented on #1387
✨ many thanks for the review @lpueyo!

@jlustigy - please take a look at the review feedback and update your submission accordingly.

[2019-06-11 00:27] dhuppenkothen commented on #1393
@whedon generate pdf

[2019-06-11 00:27] whedon commented on #1393
[code]

[2019-06-11 00:28] whedon commented on #1393
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01393/joss.01393/10.21105.joss.01393.pdf)

[2019-06-11 00:32] 1313e commented on #1229
Looks fine to me.

[2019-06-11 00:38] dhuppenkothen commented on #1393
Thank you, @arfon! I hope this is all correct this time around. I made a new release and synched it to Zenodo.

The Zenodo DOI is [10.5281/zenodo.3242835](https://zenodo.org/record/3242835#.XP73gy-ZMWo).

[2019-06-11 01:39] peterjwatkins commented on #947
In relation to the notes:

- The tests for test_g1.R have been revised. The tests are performed on data generated on the model data, rather than specific calculations as was done previously.

- As noted, the tolerance is high and it is also been revised to 0.05. There is considerable variation in the  result (1.00 +/- 0.05) which is calculated using normalisation of the original data. Using typica

[2019-06-11 01:39] terrytangyuan commented on #1087
Then see my very first comment https://github.com/openjournals/joss-reviews/issues/1087#issuecomment-443436417, it is **not** the first reinforcement learning package in R.

[2019-06-11 01:53] nproellochs commented on #1087
@terrytangyuan Apart from the abovementioned differences regarding package features, I want to point out that the reinforcelearn R package was released approximately 11 months **after** the ReinforcementLearning package. Therefore, in my opinion, it is fair to claim that the ReinforcementLearning package is the first package that performs model-free RL in R.

[2019-06-11 02:26] terrytangyuan commented on #1087
That is not my main concern... @arfon @labarba Please un-assign me from this and assign new reviewers if needed. I don't have additional time dedicated to this review.

[2019-06-11 02:35] nproellochs commented on #1087
Thank you very much for your feedback up to this point @terrytangyuan

[2019-06-11 06:12] dahtah commented on #1012
@Kevin-Mattheus-Moerman Done!

[2019-06-11 06:16] ixjlyons commented on #1466
Apologies for the delay. Here is my review:

### Paper

The paper is written clearly and offers insight into the functionality of the library. A few minor points:

- Unresolved reference in first paragraph.
- Figure 1 not showing.
- 2nd from last paragraph: "synchroniously" -> "synchronously"
- I think the last paragraph describing some research applications could be better integrated into the bac

[2019-06-11 06:37] RomainAzais commented on #1351
You're right.
Done!

[2019-06-11 06:40] RomainAzais commented on #1351
@VivianePons So what should we do with the license?

[2019-06-11 06:58] muehlhaus commented on #1445
@danielskatz I think this review process is very useful and helps us a lot to improve the quality of the FSharpGephiStreamer. Thank you all for that. We resolved the issues and will close all after successful testing within the next few days.

[2019-06-11 07:49] mfroeling commented on #1204
@labarba will make the suggested changes shortly.

[2019-06-11 08:13] Kevin-Mattheus-Moerman commented on #1012
@dahtah did you create a new Zenodo archive? It does not seem updated yet on this link: https://zenodo.org/record/3235256

[2019-06-11 08:16] Kevin-Mattheus-Moerman commented on #1291
@whedon check references

[2019-06-11 08:16] whedon commented on #1291
[code]

[2019-06-11 08:16] whedon commented on #1291
[code]

[2019-06-11 08:17] Kevin-Mattheus-Moerman commented on #1291
@ManuelaS can you check the above references for DOI's? Thanks.

[2019-06-11 08:55] VivianePons commented on #1351
Is it possible to change it to CeCILL-2.1? From what I understood, this is mostly due to translation issue. CeCILL-C was written to comply with the French law. CeCILL-2.1 is now working both in English and French and complies well with the French law and international norms (such as OSI).

[2019-06-11 08:57] VivianePons commented on #1410
Perfect! The editorial process will include releasing a new version anyway and I'll update it here.

I consider the paper to be accepted, good job everyone! It was great to see so much interactions between reviewers and authors.

[2019-06-11 08:57] VivianePons commented on #1410
@whedon check references

[2019-06-11 08:57] whedon commented on #1410
[code]

[2019-06-11 08:57] whedon commented on #1410
[code]

[2019-06-11 08:58] VivianePons commented on #1410
@whedon generate pdf from branch master

[2019-06-11 08:58] whedon commented on #1410
[code]

[2019-06-11 08:59] whedon commented on #1410
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01410/joss.01410/10.21105.joss.01410.pdf)

[2019-06-11 09:09] VivianePons commented on #1410
@lmoresi could you:

 * release the new updated version
 * create Zenodo archive

(question: is the "from branch master" still necessary to generate the pdf?)

[2019-06-11 11:44] mfroeling commented on #1204
@labarba The suggested changes are done.

[2019-06-11 11:50] labarba commented on #1204
@whedon accept

[2019-06-11 11:50] whedon commented on #1204
[code]

[2019-06-11 11:51] whedon commented on #1204
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/745

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/745, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-11 11:51] whedon commented on #1204
[code]

[2019-06-11 11:57] arfon commented on #1393
@whedon set v0.1.3 as version

[2019-06-11 11:57] whedon commented on #1393
OK. v0.1.3 is the version.

[2019-06-11 11:57] arfon commented on #1393
@whedon set 10.5281/zenodo.3242835 as archive

[2019-06-11 11:57] whedon commented on #1393
OK. <a href="https://doi.org/10.5281/zenodo.3242835" target="_blank">10.5281/zenodo.3242835</a> is the archive.

[2019-06-11 11:58] arfon commented on #1393
@whedon generate pdf

[2019-06-11 11:58] whedon commented on #1393
[code]

[2019-06-11 11:58] whedon commented on #1393
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01393/joss.01393/10.21105.joss.01393.pdf)

[2019-06-11 12:03] labarba commented on #1204
@whedon accept deposit=true

[2019-06-11 12:03] whedon commented on #1204
[code]

[2019-06-11 12:04] whedon commented on #1204
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1138416642633994243) 👈 🐦🐦🐦

[2019-06-11 12:04] whedon commented on #1204
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/746
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01204](https://doi.org/10.21105/joss.01204)
2. If everything looks go

[2019-06-11 12:04] arfon commented on #1393
@Cadair many thanks for your review here ✨

@dhuppenkothen - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-11 12:04] #1393 closed

[2019-06-11 12:04] whedon commented on #1393
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01393/status.svg)](https://doi.org/10.21105/joss.01393)

**We need your help!**

Journal of Open Source Softwar

[2019-06-11 12:06] labarba commented on #1204
Congratulations, @mfroeling, your JOSS paper is published! 🚀

Big thanks to our editor: @cMadan, and reviewers: @grlee77, @JoshKarpel, @rljacobson — we are grateful for your contribution to JOSS 🙏

[2019-06-11 12:06] #1204 closed

[2019-06-11 12:06] whedon commented on #1204
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01204/status.svg)](https://doi.org/10.21105/joss.01204)

**We need your help!**

Journal of Open Source Softwar

[2019-06-11 12:10] arfon commented on #1410
Whedon by default uses `master` so this is redundant.

[2019-06-11 12:12] ManuelaS commented on #1291
@Kevin-Mattheus-Moerman, it looks like the 2 references that whedon identified as missing the DOI do not have a "valid" DOI:
- https://doi.org/10.1073/pnas.95.25.14863: this DOI does not get automatically included in the bib file created with Mendeley and while it is listed on the [PubMed page for the paper](https://www.ncbi.nlm.nih.gov/pubmed/9843981), [following the DOI link](https://www.pnas.or

[2019-06-11 12:17] arfon commented on #1378
@whedon assign @xuanxu as editor

[2019-06-11 12:17] whedon commented on #1378
OK, the editor is @xuanxu

[2019-06-11 12:18] arfon commented on #1378
Just a heads up @prabhuramachandran - @xuanxu is going to be taking over as the editor of this submission. He'll start the review once he's found a second reviewer for the submission.

[2019-06-11 13:16] trallard commented on #1475
No worries, thanks for the quick reply @mikaem

[2019-06-11 13:17] trallard commented on #1317
ping! @becarioprecario  do you have any updates on the review?

[2019-06-11 13:26] haarburger commented on #1488
We'd like to add a few bugfixes and minor improvements to the new tag. I'll let you know when these changes are merged and tagged and the Zenodo archive is created.

[2019-06-11 13:53] jg-you commented on #1458
`webweb` is a neat little package that definitely addresses a need of the Network Science community.
It sets out to do one thing---lightweight and easy graph interactive graph viz---and it does it well, so I'm overall pretty excited about the project.

I have been using 0.0.18 in my work for a while, and updated to version 0.0.35, the latest release on PyPI, for this review.
I could not test the M

[2019-06-11 13:56] dahtah commented on #1012
@Kevin-Mattheus-Moerman Is it good now? I had saved but hadn't clicked the publish button

[2019-06-11 14:30] lmoresi commented on #1410
I explicitly stated “master” last time simply to stop anyone (likely myself) pasting the previous command that used the “paper” branch.
Redundant in every computational sense other than to account for human fallibility.

L

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<http://www.m

[2019-06-11 14:48] RomainAzais commented on #1351
We switched to LGPL that is (more or less) equivalent to CeCILL-C but OSI approved: https://opensource.org/licenses/LGPL-3.0

[2019-06-11 15:09] Kevin-Mattheus-Moerman commented on #1012
@dahtah yep looks good

[2019-06-11 15:10] Kevin-Mattheus-Moerman commented on #1012
@openjournals/joss-eics this submission is ready to be accepted :tada:

[2019-06-11 15:42] mommermi commented on #1426
Thank, @Juanlu001, for your review! I will work my way through it and hopefully finish it this week.

[2019-06-11 16:14] mommermi commented on #1426
Here are some replies to you general comments:

No, we simply haven't gotten around to register it with PyPI. Most likely we will wait for this until v0.2 is released in a few weeks.

`Ephem` objects are intended to hold ephemeris data, or, more generally, data that are time-dependent. `Orbit` objects on the other side hold orbital elements. [SBDB](https://ssd.jpl.nasa.gov/sbdb.cgi) is only used t

[2019-06-11 16:17] lmoresi commented on #1410
@VivianePons

I have made the release (it's 1.0.1 on both PYPI and Github) and it is automatically propagated to zenodo at [doi.org/10.5281/zenodo.3243511](https://doi.org/10.5281/zenodo.3243511)

whedon can automatically build from the default branch now.

Thanks for all the help. That was a very useful / interesting experience and we will be happy to publish with JOSS again.

[2019-06-11 16:56] becarioprecario commented on #1317
Hi,

I have been a bit stuck with other stuff. Please, may I ask you to send me the guidelines again on how to make the review.

Thanks!

Virgilio

[2019-06-11 17:06] edoddridge commented on #1491
Hi @kthyng,

It looks like you've already got two reviewers. Let me know if you end up needing me to review this.

[2019-06-11 17:46] alexpghayes commented on #947
Yep! Happy to recommend for publication!

[2019-06-11 18:06] lpantano commented on #1496
@whedon generate pdf

[2019-06-11 18:06] whedon commented on #1496
[code]

[2019-06-11 18:06] whedon commented on #1496
PDF failed to compile for issue #1496 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1496/paper/paper.md): mapping values are not allowed in this context at line 12 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/v

[2019-06-11 18:11] lpantano commented on #1496
@adadiehl, it is possible you have a typo in the header for autors instead of authors?

[2019-06-11 18:18] arfon commented on #1012
@whedon accept

[2019-06-11 18:18] whedon commented on #1012
[code]

[2019-06-11 18:19] whedon commented on #1012
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/747

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/747, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-11 18:20] whedon commented on #1012
[code]

[2019-06-11 18:28] arfon commented on #1012
@whedon accept deposit=true

[2019-06-11 18:28] whedon commented on #1012
[code]

[2019-06-11 18:28] whedon commented on #1012
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1138513397585195008) 👈 🐦🐦🐦

[2019-06-11 18:28] whedon commented on #1012
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/748
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01012](https://doi.org/10.21105/joss.01012)
2. If everything looks go

[2019-06-11 18:36] adadiehl commented on #1496
You were correct. I've corrected it.

On Tue, Jun 11, 2019 at 2:11 PM Lorena Pantano <notifications@github.com>
wrote:

[2019-06-11 23:54] peterjwatkins commented on #947
Thanks @alexpghayes !

[2019-06-12 01:52] offray commented on #720
@seandenigris I have finally closed [[966385f0fc](https://mutabit.com/repos.fossil/dataviz/tktview?name=966385f0fc)], so I think that that closes all your open issues on the paper and gives support of the package on Pharo 7. All dependencies are pulled correctly with a simplified and modern installation (using Metacello instead of Gopher), and the proper interactive notebooks loading has been chec

[2019-06-12 02:12] tweed1e commented on #1462
Hi, sorry for the delay, I've completed my review—I opened a few issues which the author has dealt with, and now I'm satisfied that it passes all requirements. 👍👍.

(The author guidelines say leaving this comment is sufficient, so I'm guessing I shouldn't "Close and comment".)

[2019-06-12 02:13] prabhuramachandran commented on #1378
@arfon -- thank you for the heads up!  Perhaps one of @amoeba or @jsta could be a possible second reviewer?

[2019-06-12 04:32] kellieotto commented on #1480
@jasonclark @katrinekirkeby The package looks good on the whole but needs minor revisions. I've detailed them in the issues referenced above. Please tag me when they're done and I will take another look.

[2019-06-12 05:01] amoeba commented on #1378
Hey @prabhuramachandran, I'm available and willing.

[2019-06-12 07:52] mfroeling commented on #1204
@cMadan @grlee77 @joshKarpel @rljacobson Thank you all for the review process.

[2019-06-12 09:15] arfon commented on #1378
@whedon add @amoeba as reviewer

[2019-06-12 09:16] whedon commented on #1378
OK, @amoeba is now a reviewer

[2019-06-12 09:17] arfon commented on #1378
⚡️ thanks @amoeba! @xuanxu - as this submission has been waiting for some time, I'm going to move this forward to review and hopefully you can pick it up from there?

[2019-06-12 09:17] arfon commented on #1378
@whedon start review

[2019-06-12 09:17] whedon opened #1501 "[REVIEW]: View eXtract aNnotate (ViXeN) media files: a multimedia project manager"
**Submitting author:** @prabhuramachandran (<a href="http://orcid.org/0000-0001-6337-1720">Prabhu Ramachandran</a>)
**Repository:** <a href="https://github.com/vixen-project/vixen" target ="_blank">https://github.com/vixen-project/vixen</a>
**Version:** 1.0rc3
**Editor:** @xuanxu
**Reviewer:** @deniederhut, @amoeba
**Archive:** <a href="https://doi.org/10.5281/zenodo.3464327" target="_blank">10.52

[2019-06-12 09:17] whedon commented on #1378
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1501. Feel free to close this issue now!

[2019-06-12 09:17] whedon commented on #1501
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @deniederhut, @amoeba it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-06-12 09:17] whedon commented on #1501
[code]

[2019-06-12 09:18] whedon commented on #1501
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01501/joss.01501/10.21105.joss.01501.pdf)

[2019-06-12 09:18] arfon commented on #1378
@deniederhut, @amoeba - please head over to #1501 where the review will take place.

[2019-06-12 09:18] #1378 closed

[2019-06-12 09:19] arfon commented on #1501
@deniederhut, @amoeba - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let @xuanxu know.

[2019-06-12 09:32] arfon commented on #1087
@terrytangyuan @kbenoit - many thanks for all of your input to date and your excellent reviews. While there isn't clear agreement here between us, I'm satisfied with the responses of the author and am making the editorial decision to accept this submission into JOSS.

[2019-06-12 09:32] arfon commented on #1087
@whedon generate pdf

[2019-06-12 09:32] whedon commented on #1087
[code]

[2019-06-12 09:33] whedon commented on #1087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01087/joss.01087/10.21105.joss.01087.pdf)

[2019-06-12 09:35] arfon commented on #1087
@nproellochs - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the authors of the archive are the same as the JOSS paper authors

I can then move forward with accepting th

[2019-06-12 09:42] arfon commented on #947
@whedon generate pdf

[2019-06-12 09:42] whedon commented on #947
[code]

[2019-06-12 09:43] whedon commented on #947
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00947/joss.00947/10.21105.joss.00947.pdf)

[2019-06-12 09:47] arfon commented on #947
Hi @peterjwatkins - we're nearly ready to accept here. Before we do so, could you make a few updates to your paper:

- If possible, I think it might read better if the large equation was broken out by itself.
- Would it be possible to expand a little on the introduction/statement of need section? We ask that authors include in the paper some sentences that would explain the software functionality

[2019-06-12 10:52] arfon commented on #1468
:wave: @andreas-h - please try and complete your review soon.

[2019-06-12 12:17] tgeijten commented on #1421
Thanks again @modenaxe for checking everything so thoroughly. I have addressed all points mentioned in your post, most of which have been added to the [SCONE FAQ](https://scone.software/doku.php?id=faq). In the [paper](https://github.com/opensim-org/SCONE/blob/master/paper/paper.md), I replaced the 'features of SCONE' list with an 'intended users' list; I believe it works better that way, let me k

[2019-06-12 12:38] VivianePons commented on #1351
@whedon check references

[2019-06-12 12:38] whedon commented on #1351
[code]

[2019-06-12 12:38] whedon commented on #1351
[code]

[2019-06-12 12:39] demotu commented on #1421
I installed SCONE and ran some examples and tutorials. The software runs perfect and the documentation is very well written. After the additions that have been made I don't have any critics to the paper. Congratulations for all the work.

[2019-06-12 12:39] VivianePons commented on #1351
Perfect for the license!

It seems that there are still some missing DOI, can you check?

[2019-06-12 13:01] modenaxe commented on #1421
@Kevin-Mattheus-Moerman for me the paper can be published.
Congratulations @tgeijten!

[2019-06-12 13:27] Kevin-Mattheus-Moerman commented on #1421
@modenaxe great. Thanks a lot!

[2019-06-12 13:40] RomainAzais commented on #1351
The way that the DOIs are interpreted is quite unclear for me, but it should be OK now.
Please note that the DOI found for 'Combinatorial stochastic processes' is not the good one. So a new issue could be raised.

[2019-06-12 13:47] Kevin-Mattheus-Moerman commented on #1421
@whedon check references

[2019-06-12 13:47] whedon commented on #1421
[code]

[2019-06-12 13:47] whedon commented on #1421
[code]

[2019-06-12 13:50] Kevin-Mattheus-Moerman commented on #1421
@whedon generate pdf

[2019-06-12 13:50] whedon commented on #1421
[code]

[2019-06-12 13:50] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-12 13:59] Kevin-Mattheus-Moerman commented on #1421
@tgeijten can you check the following:

- [ ] Your references, it looks like your `.bib` file can be cleaned up. Please remove references you do not use in the paper. I think I fixed it here: https://github.com/opensim-org/SCONE/pull/63
 - [ ] The first set of bullet points. I think some spaces at the end of `:` should do it. I propose it here: https://github.com/opensim-org/SCONE/pull/62

[2019-06-12 14:26] Kevin-Mattheus-Moerman commented on #1421
@whedon generate pdf

[2019-06-12 14:26] whedon commented on #1421
[code]

[2019-06-12 14:27] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-12 14:28] Kevin-Mattheus-Moerman commented on #1421
@tgeijten looks like I broke both bullet lists. You need an enter between the text and the bullet lists.

[2019-06-12 14:29] Kevin-Mattheus-Moerman commented on #1421
@whedon check references

[2019-06-12 14:29] whedon commented on #1421
[code]

[2019-06-12 14:29] whedon commented on #1421
[code]

[2019-06-12 14:40] nproellochs commented on #1087
Thank you @arfon and both reviewers! The archive is now available on Zenodo [10.5281/zenodo.3244170](https://doi.org/10.5281/zenodo.3244170).

[2019-06-12 15:16] imallona commented on #1407
Thanks @csoneson for the explanation on versioning, and for compiling the proof.

@IbrahimTanyalcin could you please fix the _International, E_ citation to be rendered as _Ecma International_? I also noticed that the _Github, 2018_ reference supporting _(...) utility functions that can be hooked to custom buttons as desired_ points to github.com instead of linking a repository, is this correct?

[2019-06-12 15:25] arfon commented on #1087
@whedon set 10.5281/zenodo.3244170 as archive

[2019-06-12 15:25] whedon commented on #1087
OK. <a href="https://doi.org/10.5281/zenodo.3244170" target="_blank">10.5281/zenodo.3244170</a> is the archive.

[2019-06-12 15:29] arfon commented on #1087
@whedon accept

[2019-06-12 15:29] whedon commented on #1087
[code]

[2019-06-12 15:30] whedon commented on #1087
[code]

[2019-06-12 15:30] whedon commented on #1087
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/749

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/749, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-12 15:32] Kevin-Mattheus-Moerman commented on #1421
@whedon generate pdf

[2019-06-12 15:32] whedon commented on #1421
[code]

[2019-06-12 15:33] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-12 15:33] arfon commented on #1087
@nproellochs - could you check if any of the DOIs listed by @whedon [above](https://github.com/openjournals/joss-reviews/issues/1087#issuecomment-501326964) are the correct DOIs for the papers in your bibtex file? If they are correct, please add them to you bibtex file.

[2019-06-12 15:40] Kevin-Mattheus-Moerman commented on #1421
@tgeijten at this point can you please do the following:

- [ ] Can you archive a copy of the reviewed software in [ZENODO](https://zenodo.org/)? Can you list the DOI of the archived version here when you have it? Make sure the ZENODO archive title matches your paper title and that the author list matches with the paper as well (you might have to remove some contributors e.g. people like me who ma

[2019-06-12 15:41] Kevin-Mattheus-Moerman commented on #1291
@ManuelaS okay thanks for checking

[2019-06-12 15:43] Kevin-Mattheus-Moerman commented on #1291
@ManuelaS at this point can you please do the following:

- [ ] Can you archive a copy of the reviewed software in [ZENODO](https://zenodo.org/)? Can you list the DOI of the archived version here when you have it? Make sure the ZENODO archive title matches your paper title and that the author list matches with the paper as well.
- [ ] Can you provide the version tag for the reviewed/archived packa

[2019-06-12 15:47] nproellochs commented on #1087
@whedon generate pdf

[2019-06-12 15:47] whedon commented on #1087
[code]

[2019-06-12 15:47] whedon commented on #1087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01087/joss.01087/10.21105.joss.01087.pdf)

[2019-06-12 15:47] arfon commented on #1087
@whedon check references

[2019-06-12 15:47] whedon commented on #1087
[code]

[2019-06-12 15:48] whedon commented on #1087
[code]

[2019-06-12 15:48] nproellochs commented on #1087
@whedon generate pdf

[2019-06-12 15:48] whedon commented on #1087
[code]

[2019-06-12 15:48] whedon commented on #1087
PDF failed to compile for issue #1087 with the following error:

 Error producing PDF.
! Misplaced alignment tab character &.
<argument> ...restore \footnotesize {\sffamily Pr&
                                                  ouml;llochs et al., (2019)...
l.370

Looks like we failed to compile the PDF

[2019-06-12 15:49] PrashantVaidyanathan commented on #1445
I've completed my review (and the checklist)
@danielskatz and @muehlhaus
For the point: Automated tests: Are there automated tests or manual steps described so that the function of the software can be verified?
I believe that while there isn't an explicit test in the documentation, the simple example: https://csbiology.github.io/FSharpGephiStreamer/SimpleNetwork.html serves as a manual step to ens

[2019-06-12 15:51] nproellochs commented on #1087
@whedon generate pdf

[2019-06-12 15:51] whedon commented on #1087
[code]

[2019-06-12 15:52] whedon commented on #1087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01087/joss.01087/10.21105.joss.01087.pdf)

[2019-06-12 15:54] nproellochs commented on #1087
@whedon generate pdf

[2019-06-12 15:54] whedon commented on #1087
[code]

[2019-06-12 15:55] whedon commented on #1087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01087/joss.01087/10.21105.joss.01087.pdf)

[2019-06-12 15:56] arfon commented on #1087
@nproellochs - this should work for your name: https://github.com/nproellochs/ReinforcementLearning/pull/11

[2019-06-12 15:56] nproellochs commented on #1087
@whedon generate pdf

[2019-06-12 15:56] whedon commented on #1087
[code]

[2019-06-12 15:56] whedon commented on #1087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01087/joss.01087/10.21105.joss.01087.pdf)

[2019-06-12 15:58] danielskatz commented on #1445
Thanks @PrashantVaidyanathan

[2019-06-12 15:58] nproellochs commented on #1087
@arfon The bib file is fixed now.

[2019-06-12 16:01] nproellochs commented on #1087
@whedon generate pdf

[2019-06-12 16:01] whedon commented on #1087
[code]

[2019-06-12 16:01] whedon commented on #1087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01087/joss.01087/10.21105.joss.01087.pdf)

[2019-06-12 16:02] nproellochs commented on #1087
@whedon check references

[2019-06-12 16:02] whedon commented on #1087
[code]

[2019-06-12 16:03] whedon commented on #1087
[code]

[2019-06-12 16:13] arfon commented on #1087
@whedon accept

[2019-06-12 16:13] whedon commented on #1087
[code]

[2019-06-12 16:13] whedon commented on #1087
[code]

[2019-06-12 16:13] whedon commented on #1087
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/750

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/750, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-12 16:14] arfon commented on #1087
@whedon accept deposit=true

[2019-06-12 16:14] whedon commented on #1087
[code]

[2019-06-12 16:15] whedon commented on #1087
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1138842340595032064) 👈 🐦🐦🐦

[2019-06-12 16:15] whedon commented on #1087
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/751
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01087](https://doi.org/10.21105/joss.01087)
2. If everything looks go

[2019-06-12 16:16] ManuelaS commented on #1291
Done. The archive is 10.5281/zenodo.3242593

Done. Version tag v1.0

[2019-06-12 16:17] arfon commented on #1087
@terrytangyuan, @kbenoit - many thanks for your reviews here ✨

@nproellochs - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-12 16:17] #1087 closed

[2019-06-12 16:18] whedon commented on #1087
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01087/status.svg)](https://doi.org/10.21105/joss.01087)

**We need your help!**

Journal of Open Source Softwar

[2019-06-12 18:24] kbenoit commented on #1087
@arfon sorry for not replying sooner, all this came through during the same week I returned from Australian and had to hit the ground running with some executive teaching! But I'm glad to see it approved.

[2019-06-12 19:26] mommermi commented on #1426
@Juanlu001 I think I implemented all the changes. My replies and corresponding changes in the code are linked in the corresponding issues:

NASA-Planetary-Science/sbpy#149
NASA-Planetary-Science/sbpy#150
NASA-Planetary-Science/sbpy#152
NASA-Planetary-Science/sbpy#153
NASA-Planetary-Science/sbpy#154
NASA-Planetary-Science/sbpy#155

NASA-Planetary-Science/sbpy#151 has already been closed.

If there

[2019-06-12 19:59] emersodb commented on #1463
At this time, I believe that my review is complete and would recommend publication of the emg3d submission.

[2019-06-12 20:29] ybayle commented on #1262
@labarba: Sorry for the delay, I have taken into account most comments from @r-barnes in the last commits and started processing comments from @patrikhuber locally that will be pushed soon.

[2019-06-12 20:39] Kevin-Mattheus-Moerman commented on #1291
@whedon set 10.5281/zenodo.3242593 as archive

[2019-06-12 20:39] whedon commented on #1291
OK. <a href="https://doi.org/10.5281/zenodo.3242593" target="_blank">10.5281/zenodo.3242593</a> is the archive.

[2019-06-12 20:50] Kevin-Mattheus-Moerman commented on #1291
@whedon set v1.0 as version

[2019-06-12 20:50] whedon commented on #1291
OK. v1.0 is the version.

[2019-06-12 20:53] Kevin-Mattheus-Moerman commented on #1291
@openjournals/joss-eics this submission is ready to be accepted

[2019-06-12 20:54] Kevin-Mattheus-Moerman commented on #1291
@arfon I think we resolved the long hyperlink issue but pinging you here just in case you need to check the PDF for this one again.

[2019-06-12 21:54] jedbrown commented on #693
I would recommend pytest because it is much more popular (and capable). This package still needs a lot of work for distribution, including:
* All the imports will need the `import .Constants` style instead of `import Constants`.
* The directory hierarchy is unusual and probably causing some of the trouble with the install.
* If you want the scripts to be callable from the command line, you can use

[2019-06-13 00:03] arfon commented on #1291
@piermorel @trallard - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@ManuelaS - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-13 00:03] #1291 closed

[2019-06-13 00:03] whedon commented on #1291
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01291/status.svg)](https://doi.org/10.21105/joss.01291)

**We need your help!**

Journal of Open Source Softwar

[2019-06-13 00:22] alexhanna commented on #1444
Thank you for your reviews, @pdwaggoner and @terrytangyuan! And for making the edits, @Matiszak.

[2019-06-13 00:23] alexhanna commented on #1444
@whedon accept

[2019-06-13 00:23] whedon commented on #1444
No archive DOI set. Exiting...

[2019-06-13 00:23] alexhanna commented on #1444
@Matiszak do you have an archive DOI for the repository? We need that for acceptance.

[2019-06-13 00:41] arfon commented on #1444
Also, @Matiszak - please make sure that you make new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That th

[2019-06-13 02:25] leouieda commented on #1315
@whedon remind @sauln in 10 days

[2019-06-13 02:25] whedon commented on #1315
Reminder set for @sauln in 10 days

[2019-06-13 02:25] peterjwatkins commented on #947
Hi @arfon, as requested, I've made updates to the paper:

- the large equation has been separated and also centered
- I've added some further detail to the introduction as follows:
_____________________________
DWS is an optical technique derived from dynamic light scattering which studies the dynamics of scattered light [Weitz].

If carefully calibrated, DWS allows the quantitative measurement of

[2019-06-13 02:28] leouieda commented on #1342
@whedon set 0.5.1 as version

[2019-06-13 02:28] whedon commented on #1342
OK. 0.5.1 is the version.

[2019-06-13 02:28] leouieda commented on #1342
@whedon set 10.5281/zenodo.3239136 as archive

[2019-06-13 02:28] whedon commented on #1342
OK. <a href="https://doi.org/10.5281/zenodo.3239136" target="_blank">10.5281/zenodo.3239136</a> is the archive.

[2019-06-13 02:29] leouieda commented on #1342
@whedon generate pdf

[2019-06-13 02:29] whedon commented on #1342
[code]

[2019-06-13 02:29] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-06-13 02:32] leouieda commented on #1342
@kgjerde thanks for the updates. I've done a last pass of the paper and we're ready to accept :fireworks:

[2019-06-13 02:34] leouieda commented on #1342
:wave: @openjournals/joss-eics this submission is ready for acceptance

[2019-06-13 02:37] leouieda commented on #1425
Hi @camillescott just checking in again. Please let me know if you'll be able to complete the review. If, for any reason, you find that you will not be able to do this, just let me know and I can search for another reviewer.

[2019-06-13 03:13] leouieda commented on #1464
:wave: Hi @martibosch, I wanted to give you an update on the process. I'm searching for reviewers and have sent invitations through email. I hope to have the reviewers assigned within the next week so we can start the review process. Thanks for your patience.

[2019-06-13 06:14] arokem commented on #1420
@whedon commands

[2019-06-13 06:14] whedon commented on #1420
Here are some things you can ask me to do:

[code]

[2019-06-13 06:15] arokem commented on #1420
@whedon generate pdf

[2019-06-13 06:15] whedon commented on #1420
[code]

[2019-06-13 06:15] whedon commented on #1420
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01420/joss.01420/10.21105.joss.01420.pdf)

[2019-06-13 06:16] arokem commented on #1478
Hello @dirmeier! Have you had a chance to take a look?

[2019-06-13 07:21] arokem commented on #1420
@sanskriti-s : just one request on my end: the caption of Figure one is currently not particularly informative. Would you mind rewriting this caption? Even just "Figure 1: the stages of the algorithm (see text)" or similar would be sufficient.

After that's done, we can proceed with the next steps in accepting the article.

[2019-06-13 07:22] dirmeier commented on #1478
Yeah, the review is in the repo's issue tracker..

[2019-06-13 07:45] VivianePons commented on #1410
Could you update the Zenodo archive to have same title as the paper?

Thanks

[2019-06-13 07:46] VivianePons commented on #1351
@whedon check references

[2019-06-13 07:46] whedon commented on #1351
[code]

[2019-06-13 07:47] whedon commented on #1351
[code]

[2019-06-13 07:49] VivianePons commented on #1351
Everything is good on my side, @dvberkel are you done with your review? I'm waiting for your green light to move forward with the process!

[2019-06-13 07:51] lmoresi commented on #1410
OK - done
https://zenodo.org/record/3243511

[2019-06-13 07:54] VivianePons commented on #1410
@whedon set 10.5281/zenodo.3243511 as archive

[2019-06-13 07:54] whedon commented on #1410
OK. <a href="https://doi.org/10.5281/zenodo.3243511" target="_blank">10.5281/zenodo.3243511</a> is the archive.

[2019-06-13 07:55] VivianePons commented on #1410
@whedon set 1.0.1 as version

[2019-06-13 07:55] whedon commented on #1410
OK. 1.0.1 is the version.

[2019-06-13 07:58] VivianePons commented on #1410
Congratulations! Your paper has been officially accepted to JOSS. I leave it to @openjournals/joss-eics for finalization

[2019-06-13 07:59] prisae commented on #1463
Thanks for your time, input, and feedback @emersodb

[2019-06-13 07:59] VivianePons commented on #1410
/ooo June 14 until October 3

[2019-06-13 08:20] ManuelaS commented on #1291
Thanks to @arfon, @Kevin-Mattheus-Moerman , @piermorel and @trallard for making HCP better - sincerely appreciate the experience!

[2019-06-13 09:06] Kevin-Mattheus-Moerman commented on #1292
@sebastkm :point_up: any luck processing these last steps? Let me know if you have questions.

[2019-06-13 11:21] prisae commented on #1463
:question: We want to cite this article. I assume this review is not done within a week or two, so what is the preferred way of citing a JOSS article under review? Just the usual "submitted to JOSS"?

In the proof, the article has already a DOI. I assume this will remain the same and is not a dummy-DOI for the time being, correct?

Adjusted version from the proof:

[2019-06-13 11:48] arfon commented on #947
@whedon generate pdf

[2019-06-13 11:48] whedon commented on #947
[code]

[2019-06-13 11:49] whedon commented on #947
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00947/joss.00947/10.21105.joss.00947.pdf)

[2019-06-13 12:03] arfon commented on #947
Thanks @peterjwatkins. That alignment didn't quite work properly - but this fix makes things good I think: https://github.com/peterjwatkins/diwanalr/pull/2

[2019-06-13 12:57] jedbrown commented on #1463
That DOI hasn't been created yet, but that is the DOI that will be created upon acceptance. Do you intend to cite this JOSS paper from a new submission or from a camera-ready accepted manuscript?

[2019-06-13 13:00] prisae commented on #1463
That is fine, then it is as I understood it. It hasn't been created, but it will be created exactly like this (`10.21105/joss.01463`) once it is accepted and in its final form.

It is a new submission; it will still take some time until this will be in print or published. I hope/expect that by then this review will be finished and the DOI created.

[2019-06-13 13:06] lukeolson commented on #1463
@jedbrown do you still need the review from me?  If so, then I can give it a look today.

[2019-06-13 13:07] jedbrown commented on #1463
@lukeolson Yes, please.

[2019-06-13 13:23] arfon commented on #1342
@whedon accept

[2019-06-13 13:23] whedon commented on #1342
[code]

[2019-06-13 13:23] whedon commented on #1342
[code]

[2019-06-13 13:23] whedon commented on #1342
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/752

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/752, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-13 13:25] whedon commented on #1342
[code]

[2019-06-13 13:25] whedon commented on #1342
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1139161952259891200) 👈 🐦🐦🐦

[2019-06-13 13:25] whedon commented on #1342
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/753
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01342](https://doi.org/10.21105/joss.01342)
2. If everything looks go

[2019-06-13 13:36] tgeijten commented on #1421
@whedon generate pdf

[2019-06-13 13:36] whedon commented on #1421
[code]

[2019-06-13 13:36] arfon commented on #1342
@kbenoit, @trinker - many thanks for your reviews here and to @leouieda for editing this submission ✨

@kgjerde - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-13 13:36] #1342 closed

[2019-06-13 13:36] whedon commented on #1342
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01342/status.svg)](https://doi.org/10.21105/joss.01342)

**We need your help!**

Journal of Open Source Softwar

[2019-06-13 13:36] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-13 13:53] marshallward commented on #1474
Barring any exception from the reviewers, I think I'd say that the various issues raised have been resolved.

[2019-06-13 13:55] kellyrowland commented on #1486
@pshriwise are you able to test that the `EBRII_Driver.i` input file generated with the instructions in the README functions correctly as MCNP6 input?

[2019-06-13 13:55] tgeijten commented on #1421
@whedon generate pdf

[2019-06-13 13:55] whedon commented on #1421
[code]

[2019-06-13 13:56] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-13 13:56] santisoler commented on #1410
:tada: :confetti_ball: Congratulations! :confetti_ball:  :tada:

[2019-06-13 13:56] tgeijten commented on #1421
@whedon check references

[2019-06-13 13:56] whedon commented on #1421
[code]

[2019-06-13 13:56] whedon commented on #1421
[code]

[2019-06-13 13:59] arfon commented on #1410
@whedon accept

[2019-06-13 13:59] whedon commented on #1410
[code]

[2019-06-13 13:59] whedon commented on #1410
[code]

[2019-06-13 13:59] whedon commented on #1410
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/754

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/754, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-13 14:05] arfon commented on #1410
@lmoresi - could you merge this PR, it fixes the position of the figure caption: https://github.com/underworldcode/stripy/pull/41

[2019-06-13 14:09] tgeijten commented on #1421
@Kevin-Mattheus-Moerman what exactly do I need to archive in ZENODO? Just the binary installer used by the reviewers, or the entire GitHub repository?

[2019-06-13 14:11] arfon commented on #1410
@whedon accept

[2019-06-13 14:11] whedon commented on #1410
[code]

[2019-06-13 14:11] whedon commented on #1410
[code]

[2019-06-13 14:11] whedon commented on #1410
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/755

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/755, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-13 14:14] arfon commented on #1410
@whedon generate pdf

[2019-06-13 14:14] whedon commented on #1410
[code]

[2019-06-13 14:14] whedon commented on #1410
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01410/joss.01410/10.21105.joss.01410.pdf)

[2019-06-13 14:15] arfon commented on #1410
@whedon accept

[2019-06-13 14:15] whedon commented on #1410
[code]

[2019-06-13 14:15] danielskatz commented on #1474
Thanks - @tclune and @zbeekman - back to you (mostly @tclune)

[2019-06-13 14:15] whedon commented on #1410
[code]

[2019-06-13 14:15] whedon commented on #1410
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/756

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/756, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-13 14:16] arfon commented on #1410
@whedon accept deposit=true

[2019-06-13 14:16] whedon commented on #1410
[code]

[2019-06-13 14:18] whedon opened #1502 "[PRE REVIEW]: Generic reinforcement learning codebase in TensorFlow"
**Submitting author:** @alexanderimanicowenrivers (<a href="http://orcid.org/0000-0002-2669-9513">Alexander I. Cowen-Rivers</a>)
**Repository:** <a href="https://github.com/for-ai/rl" target ="_blank">https://github.com/for-ai/rl</a>
**Version:** v2.0
**Editor:** @mbobra
**Reviewers:** @desilinguist, @paragkulkarni11

**Author instructions**

Thanks for submitting your paper to JOSS @alexanderiman

[2019-06-13 14:18] whedon commented on #1502
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-13 14:18] whedon commented on #1502
[code]

[2019-06-13 14:18] whedon commented on #1502
Failed to discover a valid open source license.

[2019-06-13 14:18] whedon commented on #1502
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01502/joss.01502/10.21105.joss.01502.pdf)

[2019-06-13 14:19] arfon commented on #1502
:wave: @mbobra - would you be willing to edit this submission for JOSS?

[2019-06-13 14:20] arfon commented on #1502
Not sure why @whedon isn't happy - GitHub seems to think this is MIT-licensed (https://github.com/for-ai/rl/blob/master/LICENSE).

[2019-06-13 14:21] arfon commented on #1410
@santisoler, @rrenka - many thanks for your reviews and to @VivianePons for editing this submission ✨

@lmoresi - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-13 14:21] #1410 closed

[2019-06-13 14:21] whedon commented on #1410
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01410/status.svg)](https://doi.org/10.21105/joss.01410)

**We need your help!**

Journal of Open Source Softwar

[2019-06-13 14:23] zbeekman commented on #1474
Yes, my review is complete, and I am completely satisfied. Thanks!

[2019-06-13 15:03] whedon opened #1503 "[PRE REVIEW]: fitODBOD: An R Package to Model Binomial Outcome Data using Binomial Mixture and Alternate Binomial Distributions."
**Submitting author:** @Amalan-ConStat (<a href="http://orcid.org/0000-0002-0643-9052">Amalan Mahendran</a>)
**Repository:** <a href="https://github.com/Amalan-ConStat/R-fitODBOD" target ="_blank">https://github.com/Amalan-ConStat/R-fitODBOD</a>
**Version:** v1.4.0
**Editor:** @csoneson
**Reviewers:** @osorensen, @jjharden

**Author instructions**

Thanks for submitting your paper to JOSS @Amalan-

[2019-06-13 15:03] whedon commented on #1503
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-06-13 15:03] whedon commented on #1503
[code]

[2019-06-13 15:03] whedon commented on #1503
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01503/joss.01503/10.21105.joss.01503.pdf)

[2019-06-13 15:03] arfon commented on #1503
:wave: @csoneson - the submitting author suggested you as the handling editor. Is this a paper you could edit for JOSS?

[2019-06-13 15:09] csoneson commented on #1503
@arfon Yes!

[2019-06-13 15:14] arfon commented on #1503
@whedon assign @csoneson as editor

[2019-06-13 15:14] whedon commented on #1503
OK, the editor is @csoneson

[2019-06-13 15:14] arfon commented on #1503
Great, thanks!

[2019-06-13 15:22] csoneson commented on #1503
👋@Amalan-ConStat - I'm taking a first look at your submission. If you have suggestions for suitable reviewers, please let me know!

[2019-06-13 15:25] Amalan-ConStat commented on #1503
Hello @arfon and @csoneson , Thank you for assigning an editor as swiftly as possible. I hope to be at your disposal when suggestions arise regarding my paper. My apologies but I have no suggestions for suitable reviewers for my R package submission.

[2019-06-13 16:00] pshriwise commented on #1486
@kellyrowland I had some trouble too and found that it only worked if I imported the module from the repository rather than from the installed location. I think this is because the required data isn't being installed with the package...

@ryanstwrt I saw that you include package data in the `setup.py` but I think the preferred method these days is to use a `MANIFEST.in` file to make sure that data

[2019-06-13 16:05] mbobra commented on #1492
@whedon assign @ejolly as reviewer

[2019-06-13 16:05] whedon commented on #1492
OK, the reviewer is @ejolly

[2019-06-13 16:05] mbobra commented on #1492
@whedon add @hooman650 as reviewer

[2019-06-13 16:06] whedon commented on #1492
OK, @hooman650 is now a reviewer

[2019-06-13 16:06] mbobra commented on #1492
@whedon start review magic-word=bananas

[2019-06-13 16:06] whedon opened #1504 "[REVIEW]: STUMPY: A Powerful and Scalable Python Library for Time Series Data Mining"
**Submitting author:** @seanmylaw (<a href="http://orcid.org/0000-0003-2594-1969">Sean Law</a>)
**Repository:** <a href="https://github.com/TDAmeritrade/stumpy" target ="_blank">https://github.com/TDAmeritrade/stumpy</a>
**Version:** 1.0.0
**Editor:** @mbobra
**Reviewer:** @ejolly, @hooman650
**Archive:** <a href="https://doi.org/10.5281/zenodo.3340125" target="_blank">10.5281/zenodo.3340125</a>

[2019-06-13 16:06] whedon commented on #1492
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1504. Feel free to close this issue now!

[2019-06-13 16:06] whedon commented on #1504
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ejolly, @hooman650 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-06-13 16:06] whedon commented on #1504
[code]

[2019-06-13 16:06] #1492 closed

[2019-06-13 16:06] whedon commented on #1504
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01504/joss.01504/10.21105.joss.01504.pdf)

[2019-06-13 16:08] kellyrowland commented on #1486
Good catch, thanks! I had only tried the import statement in the top repository directory.

[2019-06-13 16:09] mbobra commented on #1504
@ejolly @hooman650 Thank you for agreeing to review this submission! Whedon generated a checklist and linked a reviewer guide above -- let me know if you have any questions.

[2019-06-13 16:16] mbobra commented on #1502
@arfon Sure, I'm happy to edit!

[2019-06-13 16:20] arfon commented on #1502
@whedon assign @mbobra as editor

[2019-06-13 16:21] whedon commented on #1502
OK, the editor is @mbobra

[2019-06-13 16:21] arfon commented on #1502
Great, thanks @mbobra!

[2019-06-13 17:09] danielskatz commented on #1487
@tesch1 - please let us know when you have worked on the issues in https://gitlab.com/tesch1/cppduals/issues/4

[2019-06-13 17:23] lpantano commented on #1496
@whedon generate pdf

[2019-06-13 17:23] whedon commented on #1496
[code]

[2019-06-13 17:23] whedon commented on #1496
PDF failed to compile for issue #1496 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1496/paper/paper.md): mapping values are not allowed in this context at line 12 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/v

[2019-06-13 17:27] lpantano commented on #1496
can you make sure: name, orcid and affiliation have the same indentation please?

[2019-06-13 17:59] csoneson commented on #1503
👋@osorensen, @nhejazi, @jjharden - would you be interested in reviewing this submission for JOSS?

[2019-06-13 18:00] csoneson commented on #1503
@Amalan-ConStat - while we wait for the invited reviewers to respond, there are a couple of things we can fix:
- I made a pull request to your repository with some suggestions regarding grammar and wording. Please have a look and merge if you agree
- Your paper is a bit on the long side for JOSS standards. In particular, the example code describing how to use the package would fit better in the do

[2019-06-13 18:02] adadiehl commented on #1496
@whedon generate pdf

On Thu, Jun 13, 2019 at 1:27 PM Lorena Pantano <notifications@github.com>
wrote:

[2019-06-13 18:02] whedon commented on #1496
[code]

[2019-06-13 18:02] whedon commented on #1496
PDF failed to compile for issue #1496 with the following error:

 Error reading bibliography ./CGIMP_manuscript.bib (line 9, column 9):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-13 18:04] csoneson commented on #1503
@Amalan-ConStat It also looks like your continuous integration tests are failing, seemingly because of a timeout - could you look into this?

[2019-06-13 18:05] adadiehl commented on #1496
@whedon generate pdf

On Thu, Jun 13, 2019 at 2:03 PM whedon <notifications@github.com> wrote:

[2019-06-13 18:05] whedon commented on #1496
[code]

[2019-06-13 18:06] whedon commented on #1496
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01496/joss.01496/10.21105.joss.01496.pdf)

[2019-06-13 18:13] adadiehl commented on #1496
@whedon generate pdf

On Thu, Jun 13, 2019 at 2:06 PM whedon <notifications@github.com> wrote:

[2019-06-13 18:13] whedon commented on #1496
[code]

[2019-06-13 18:14] whedon commented on #1496
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01496/joss.01496/10.21105.joss.01496.pdf)

[2019-06-13 18:17] adadiehl commented on #1496
All appears to be well with the proof now.

On Thu, Jun 13, 2019 at 2:14 PM whedon <notifications@github.com> wrote:

[2019-06-13 18:29] adadiehl commented on #1496
@whedon generate pdf

[2019-06-13 18:29] whedon commented on #1496
[code]

[2019-06-13 18:29] whedon commented on #1496
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01496/joss.01496/10.21105.joss.01496.pdf)

[2019-06-13 18:31] osorensen commented on #1503
@csoneson yes, I am interested in reviewing.

[2019-06-13 18:32] adadiehl commented on #1496
@whedon <https://github.com/whedon> generate pdf

On Thu, Jun 13, 2019 at 2:29 PM whedon <notifications@github.com> wrote:

[2019-06-13 18:34] csoneson commented on #1503
@osorensen - great, thank you! We'll wait for one more reviewer accepting before opening the review issue.

[2019-06-13 18:34] csoneson commented on #1503
@whedon assign @osorensen as reviewer

[2019-06-13 18:34] whedon commented on #1503
OK, the reviewer is @osorensen

[2019-06-13 18:38] jjharden commented on #1503
I can review this submission.

[2019-06-13 18:54] csoneson commented on #1503
@jjharden - awesome, thank you! Since we have our two reviewers, I'll go ahead and open the review issue now.

[2019-06-13 18:54] csoneson commented on #1503
@whedon add @jjharden as reviewer

[2019-06-13 18:54] whedon commented on #1503
OK, @jjharden is now a reviewer

[2019-06-13 18:55] csoneson commented on #1503
@whedon start review

[2019-06-13 18:55] whedon opened #1505 "[REVIEW]: fitODBOD: An R Package to Model Binomial Outcome Data using Binomial Mixture and Alternate Binomial Distributions."
**Submitting author:** @Amalan-ConStat (<a href="http://orcid.org/0000-0002-0643-9052">Amalan Mahendran</a>)
**Repository:** <a href="https://github.com/Amalan-ConStat/R-fitODBOD" target ="_blank">https://github.com/Amalan-ConStat/R-fitODBOD</a>
**Version:** v1.4.1
**Editor:** @csoneson
**Reviewer:** @osorensen, @jjharden
**Archive:** <a href="https://doi.org/10.5281/zenodo.3265356" target="_blank

[2019-06-13 18:55] whedon commented on #1503
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1505. Feel free to close this issue now!

[2019-06-13 18:55] whedon commented on #1505
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @osorensen, @jjharden it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-06-13 18:55] whedon commented on #1505
[code]

[2019-06-13 18:56] whedon commented on #1505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01505/joss.01505/10.21105.joss.01505.pdf)

[2019-06-13 18:56] csoneson commented on #1503
@jjharden, @osorensen - please head over to #1505 for the review!

[2019-06-13 18:57] csoneson commented on #1505
@osorensen, @jjharden, please see reviewer instructions above - don't hesitate to ping me if you have any questions!

[2019-06-13 19:00] csoneson commented on #1505
@Amalan-ConStat - I've copied my comments from the PRE-REVIEW issue here. Please also have a look at the reviewer checklists above to see what the reviewers will be looking at.

- I made a pull request to your repository with some suggestions regarding grammar and wording. Please have a look and merge if you agree
- Your paper is a bit on the long side for JOSS standards. In particular, the exampl

[2019-06-13 19:00] #1503 closed

[2019-06-13 19:28] rmsare commented on #1047
@jshermeyer I am reviewing your submission, and I had a question about your changes to the project.

I would like to suggest some reorganization, but it looks like a bit of that has been implemented in @zhampel's [fork of CometTS](https://github.com/zhampel/CometTS). Do you plan to incorporate any of these changes, e.g. to directory structure?

Thanks for clarifying - it will help us to provide a

[2019-06-13 19:34] ybayle commented on #1262
@patrikhuber
Thank you for your valuable comments to improve our submission, we detail below our changes.

The ReadMe and the paper have been updated accordingly.

As I can see, we provide as examples nearly the same .pts files except, we have an additional column for values for the z-axis. We added a link in the paper and in the ReadMe to the definition of the .pts file format we use.

You raise

[2019-06-13 19:45] ybayle commented on #1262
@r-barnes

We detailed further our code to explain why the mirroring is needed. We also added details about the fact that our code finds a plane and that no user specified plane has to be supplied.

[2019-06-13 19:47] ybayle commented on #1262
@whedon generate pdf

[2019-06-13 19:47] whedon commented on #1262
[code]

[2019-06-13 19:47] whedon commented on #1262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01262/joss.01262/10.21105.joss.01262.pdf)

[2019-06-13 20:26] Kevin-Mattheus-Moerman commented on #1421
@tgeijten please archive the whole Github repository.  Is your version still at v1.0.0? Thanks.

[2019-06-13 20:33] tclune commented on #1474
Yes - my review is complete and completely satisfied!

[2019-06-13 20:46] danielskatz commented on #1474
@tclune - can you check off the remaining items in your list in that case?

[2019-06-13 20:48] danielskatz commented on #1474
@marshallward - Can you make a deposit of the current repo into an archive (e.g. zenodo via https://guides.github.com/activities/citable-code/) and tell me the DOI?  If you also need to update the version number, let me know that as well.

[2019-06-13 21:02] tclune commented on #1474
Done.

[2019-06-13 21:18] kthyng commented on #1498
@tristan-salles is your paper missing a figure? In looking through, looks like a figure reference (left) but no figure.

also, do you have any [reviewer](https://bit.ly/joss-reviewers) recommendations? A handful of suggestions will be helpful so that I can ultimately find 2.

[2019-06-13 21:21] kthyng commented on #1491
Great! Let's go with @tomchor and @platipodium. @tomchor Yes I think you'll be able to finish before your conference.  If needed, you can finish after.

@edoddridge Thanks for your response!

[2019-06-13 21:22] kthyng commented on #1491
@whedon assign @tomchor as reviewer

[2019-06-13 21:22] whedon commented on #1491
OK, the reviewer is @tomchor

[2019-06-13 21:22] kthyng commented on #1491
@whedon add @platipodium  as reviewer

[2019-06-13 21:22] whedon commented on #1491
OK, @platipodium  is now a reviewer

[2019-06-13 21:23] kthyng commented on #1491
@whedon start review

[2019-06-13 21:23] whedon opened #1506 "[REVIEW]: OceanSpy: A Python package to facilitate ocean model data analysis and visualization"
**Submitting author:** @malmans2 (<a href="http://orcid.org/0000-0001-6849-3647">Mattia Almansi</a>)
**Repository:** <a href="https://github.com/malmans2/oceanspy" target ="_blank">https://github.com/malmans2/oceanspy</a>
**Version:** 0.1.0
**Editor:** @kthyng
**Reviewer:** @tomchor, @platipodium
**Archive:** <a href="https://doi.org/10.5281/zenodo.3270646" target="_blank">10.5281/zenodo.3270646</

[2019-06-13 21:23] whedon commented on #1491
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1506. Feel free to close this issue now!

[2019-06-13 21:23] whedon commented on #1506
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tomchor, @platipodium  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-06-13 21:23] whedon commented on #1506
[code]

[2019-06-13 21:23] whedon commented on #1506
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01506/joss.01506/10.21105.joss.01506.pdf)

[2019-06-13 21:23] kthyng commented on #1491
@tomchor and @platipodium please check out #1506 for the review. You can find more information there.

[2019-06-13 21:23] #1491 closed

[2019-06-13 21:34] tristan-salles commented on #1498
Hi @kthyng, just modified the markdown text, the figure name was misspelt. For the reviewers based on the list I will suggest:
- rbeucher
- kbarnhart
- molgor
- arokem
- dvalters
- hugoledoux
- sgrieve
- serine

[2019-06-13 21:58] leouieda commented on #1464
@whedon assign @weikang9009 as reviewer

[2019-06-13 21:58] whedon commented on #1464
OK, the reviewer is @weikang9009

[2019-06-13 23:38] kthyng commented on #1498
@rbeucher and @molgor Are you interested and available to review this submission to JOSS? We prefer reviews to be in within about 3 weeks and you can find guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2019-06-13 23:46] mgymrek commented on #1495
@amoeba @masalmon @cdcrabtree @nhejazi @kellieotto Would you be willing to review this submission?

[2019-06-14 00:07] peterjwatkins commented on #947
Thanks @arfon -  as an FYI, I pulled the fix down into R, and under preview, the equation does not display. However, it would be better to compile it as a PDF and see if it works  it might be just a quirk.

[2019-06-14 00:22] arfon commented on #947
@whedon generate pdf

[2019-06-14 00:22] whedon commented on #947
[code]

[2019-06-14 00:22] whedon commented on #947
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00947/joss.00947/10.21105.joss.00947.pdf)

[2019-06-14 00:25] arfon commented on #947
@peterjwatkins ☝️this looks good to me. What about you? Although I failed to add a space before the reference (fixed in https://github.com/peterjwatkins/diwanalr/pull/3)

[2019-06-14 00:57] alexanderimanicowenrivers commented on #1502
Thanks @mbobra

[2019-06-14 01:02] nhejazi commented on #1495
Happy to provide a review.

[2019-06-14 01:49] peterjwatkins commented on #947
@arfon the only minor thing is that the first 'g' is not rendered correctly - instead of _g_ it is *g* - might be better to remove the '*' - only a small detail

[2019-06-14 04:27] QuLogic commented on #1410
The Software repository link on the final article is 404. It should probably point to the repo, not a subdirectory.

[2019-06-14 04:41] lmoresi commented on #1410
I have added a ‘paper’ tag to the repo that snapshots the current / published state so that the link no longer fails.

However, this is a snapshot of the published release and I am not sure that this is what is intended by that link.

Prof Louis Moresi

louis.moresi@unimelb.edu.au<mailto:louis.moresi@unimelb.edu.au>

(w) +61 3 8344 1217

(m) +61 4 0333 1413

(us) +1 505 349 4425

www.moresi.info<h

[2019-06-14 05:30] jkanche commented on #1407
I have a few comments on the paper.

The blurred text is probably because of a HiDPI display. you probably have to calculate the pixel density and then create a canvas with larger resolution, but yes, higher resolution uses higher memory.

Browsers can show any amount of text. I think the limitation here is with the number of SVG elements you can add to the DOM. This is why canvas is preferred ove

[2019-06-14 06:56] jasonclark commented on #1415
Hi, @dhhagan. Are you available to review the tcherry software? Let me know when you have the chance. Thanks so much for considering.

cc @katrinekirkeby @labarba

[2019-06-14 07:12] katrinekirkeby commented on #1480
@kellieotto Thank you for reviewing this packages.  We have now tried to solved the missing issues, but regarding the issue about gramma we are not quite sure what you mean since we are not native english speakers, could you please clarify what the issues are

[2019-06-14 07:31] katrinekirkeby commented on #1415
Hi, @jasonclark. We have now added a description and topics to the repo landing page.

[2019-06-14 07:46] csoneson commented on #1505
@whedon generate pdf

[2019-06-14 07:47] whedon commented on #1505
[code]

[2019-06-14 07:47] whedon commented on #1505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01505/joss.01505/10.21105.joss.01505.pdf)

[2019-06-14 08:07] platipodium commented on #1506
Opened https://github.com/malmans2/oceanspy/issues/107 to complete doi referencing in @malmans2  `paper/paper.bib`

[2019-06-14 08:17] Amalan-ConStat commented on #1505
Hello reviewers, Thank you for the support. As requested I have made necessary changes for the article and merged it as well. Further there is no issue in continuous integration as there will not be a timeout.

[2019-06-14 08:20] csoneson commented on #1505
@whedon generate pdf

[2019-06-14 08:20] whedon commented on #1505
[code]

[2019-06-14 08:21] whedon commented on #1505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01505/joss.01505/10.21105.joss.01505.pdf)

[2019-06-14 08:29] Amalan-ConStat commented on #1505
Thank you, it looks completely fine. That is all.

[2019-06-14 08:31] tgeijten commented on #1421
@whedon generate pdf

[2019-06-14 08:31] whedon commented on #1421
[code]

[2019-06-14 08:31] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-14 08:39] tgeijten commented on #1421
@whedon generate pdf

[2019-06-14 08:39] whedon commented on #1421
[code]

[2019-06-14 08:39] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-14 08:45] tgeijten commented on #1421
@whedon generate pdf

[2019-06-14 08:45] whedon commented on #1421
[code]

[2019-06-14 08:45] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-14 08:49] tgeijten commented on #1421
@whedon generate pdf

[2019-06-14 08:49] whedon commented on #1421
[code]

[2019-06-14 08:50] whedon commented on #1421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01421/joss.01421/10.21105.joss.01421.pdf)

[2019-06-14 09:00] tgeijten commented on #1421
@Kevin-Mattheus-Moerman thanks for the information. I've uploaded the repository to ZENODO, the resulting DOI is `10.5281/zenodo.3245810`.

The latest release is version 1.1.1, but I believe the reviews are based on version 1.0.0. Both versions are available in the repository as separate branches.

Please let me know if you need anything else at this point.

[2019-06-14 09:03] Kevin-Mattheus-Moerman commented on #1421
@whedon set 10.5281/zenodo.3245810 as archive

[2019-06-14 09:03] whedon commented on #1421
OK. <a href="https://doi.org/10.5281/zenodo.3245810" target="_blank">10.5281/zenodo.3245810</a> is the archive.

[2019-06-14 09:05] Kevin-Mattheus-Moerman commented on #1421
@tgeijten just to be sure. If the latest version (v1.1.1) contains the changes implemented during the review process please archive that version.

[2019-06-14 09:57] cgravill commented on #1445
I'm satisfied with the changes that it's now clearer how to install and operate the tool.

Everything is checked off and it looks like it's ready to proceed @danielskatz

[2019-06-14 10:34] tgeijten commented on #1421
@Kevin-Mattheus-Moerman yes, the archived version is an up-to-date snapshot from the repository. It contains all the changes implemented during the review.

[2019-06-14 10:43] tgeijten commented on #1421
@Kevin-Mattheus-Moerman sorry, I think I misread. Just to be complete:
* The archived version is the most recent (today's) version of the repository. It contains all the code in binary releases that have been tested by the reviewers (in separate branches).
* Changes suggested by reviewers are only in text (e.g. CONTRIBUTING.md) and on the website, not to the actual source code. These textual chang

[2019-06-14 11:32] patrikhuber commented on #1262
Hi @ybayle,

Thanks for addressing the comments! I think it looks much better!

A few things that I think still warrant clarification, or that I've noticed while reviewing the changes:

* > Readme: "...exported from landmark acquisition softwares..."

It still looks to me like your script is very specific, more concretely, it seems specific to the "Landmark 3.6", "Landmark Editor" software from ID

[2019-06-14 11:36] arfon commented on #1410
This is fixed now. Thanks for catching this.

[2019-06-14 11:40] arfon commented on #947
https://github.com/peterjwatkins/diwanalr/pull/3 fixes this too now I think.

[2019-06-14 12:18] malmans2 commented on #1506
@whedon commands

[2019-06-14 12:18] whedon commented on #1506
Here are some things you can ask me to do:

[code]

[2019-06-14 12:19] malmans2 commented on #1506
@whedon generate pdf

[2019-06-14 12:19] whedon commented on #1506
[code]

[2019-06-14 12:19] whedon commented on #1506
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01506/joss.01506/10.21105.joss.01506.pdf)

[2019-06-14 12:41] Kevin-Mattheus-Moerman commented on #1421
@tgeijten sorry what is still unclear is the version tag we should use here since you said

But you also said:

However, the ZENODO archive is labelled as v1.0.0.

I get the impression review started here with v1.0.0 and that now (after review) it is at v1.1.1? Is this correct? If so we'll use v1.1.1 as the assigned version here, and also you'd need to update the metadata on ZENODO to reflect that

[2019-06-14 13:08] tgeijten commented on #1421
@Kevin-Mattheus-Moerman sorry for the confusion, but version 1.1.1 also does not contain the (textual) changes suggested by reviewers. These changes are only in the master branch and have no version number assigned to them.

What do you suggest I do? The next 'official' release to incorporate all these changes (and many others) will be 1.2.0, but that's still in development. I could also create a

[2019-06-14 13:26] danielskatz commented on #1445
@muehlhaus - Can you make a deposit of the current repo into an archive (e.g. zenodo via https://guides.github.com/activities/citable-code/) and tell me the DOI? If you also need to update the version number, let me know that as well.

[2019-06-14 13:26] danielskatz commented on #1445
Thanks @cgravill

[2019-06-14 13:31] Kevin-Mattheus-Moerman commented on #1421
@tgeijten I got it now sorry you did say that earlier. We go with version 1.0.0 since that was reviewed, contains the requested changes, and has been archived.

[2019-06-14 13:32] Kevin-Mattheus-Moerman commented on #1421
@whedon set v1.0.0 as version

[2019-06-14 13:32] whedon commented on #1421
OK. v1.0.0 is the version.

[2019-06-14 13:34] Kevin-Mattheus-Moerman commented on #1421
@openjournals/joss-eics this submission is ready to be accepted

[2019-06-14 13:47] marshallward commented on #1474
@danielskatz the updated DOI via Zenodo is here:  https://zenodo.org/record/3245482

    10.5281/zenodo.3245482

I've done a version update to 1.1.2 which includes the reviewer-recommended changes, feel free to update it (I can't see a way to do it myself, but happy to do so if it's possible).

[2019-06-14 14:10] MaciejDanko commented on #1481
**@alexhanna** - I looked at the reviewers list. Here are my suggestions:

soodoku
Tgerke
benmarwick
lebebr01
mariacuellar
vincentarelbundock
mkearney

[2019-06-14 14:17] danielskatz commented on #1474
@whedon set 10.5281/zenodo.3245482 as archive

[2019-06-14 14:18] whedon commented on #1474
OK. <a href="https://doi.org/10.5281/zenodo.3245482" target="_blank">10.5281/zenodo.3245482</a> is the archive.

[2019-06-14 14:18] danielskatz commented on #1474
@whedon set 1.1.2 as version

[2019-06-14 14:18] whedon commented on #1474
OK. 1.1.2 is the version.